[2021-11-01 17:50] KranthiPakala-MSFT commented on #83014
@leifbro , @mssaperla - Could you please review the above feedback and update the doc accordingly - Thank you

[2021-11-01 18:01] johncrim commented on #81834
Thank you - that's what I wanted to know. I think the new wording is clearer.

[2021-11-01 18:14] julieMSFT commented on #83170
@lorrinferdinand Thank you for contributing to Microsoft Docs. I have fixed this typo and you will see it in the content in the next day or so. Also, did you know: For minor things like typos, you can edit the doc! Click the little Edit pencil icon in the article, then click the little Edit pencil in GitHub, make your change, scroll to the bottom, and click Propose file change. And voila! It's sen

[2021-11-01 18:15] jeevansd commented on #83204
@v-hagamp  and @v-rant Can you please verify the owner of the app and make the changes accordingly?

[2021-11-01 18:17] julieMSFT commented on #83170
#please-close

[2021-11-01 18:17] #83170 closed

[2021-11-01 18:17] kenwith commented on #83058
It looks like the article says Windows Server 2012 R2 now. It must have just been updated. Thanks for calling out that the download is different. I will contact the team to see why it also includes 2016. If I am missing something and please let me know. Thanks for calling out the discrepancy. It is much appreciated.

#please-close

[2021-11-01 18:17] #83058 closed

[2021-11-01 18:41] JasonWHowell commented on #78713
@whhender can you please see if this is covered in any of the upcoming docs, or if the existing page should be altered to add PowerShell examples?

[2021-11-01 18:41] bhaktajb opened #83232 "Incorrect information on this page about supported replication schedule. Weekly and Monthly is not supported but it is listed on this page."
[Incorrect information on this page about supported replication schedule. Weekly and Monthly is not supported but it is listed on this page.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31a278dd-3412-dab5-e553-a09406618771
* Version Independent ID: a18cfe9d-3f35-6c47-e81d-f0d553397c61
* Content: [Create volume repli

[2021-11-01 18:46] bhaktajb commented on #83232
![CRR Doc issue](https://user-images.githubusercontent.com/64098629/139724212-2961db54-f7a5-4997-b97c-342d4be83773.JPG)
Weekly and Monthly is listed as supported replication schedule, which is incorrect and it needs to be removed from this page.

[2021-11-01 18:46] John-HLC commented on #82900
@RyanHill-MSFT  - unfortunately that is still a problem.
After reading following comments let me know if you would rather me open a new issue, or re-open this issue.  The title would roughly be the same, we just stair stepped the problem to the end, but not quite finished with it yet, it's not working.

**StaticWebApp + Bring Own Function + Authenticate/Authorize Not working (with Blazor Client si

[2021-11-01 18:46] bhaktajb commented on #83232
This is still open issue, documentation team needs to update this page.

[2021-11-01 18:52] dominicbetts commented on #83182
#reassign @julieseto

[2021-11-01 18:52] YoDaMa opened #83234 "Typo in Page"
to connect to a from a Windows computer

should be

 to connect to a Linux VM from a Windows computer

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69db0238-ad2d-43b9-52db-2f2fad0ea380
* Version Independent ID: 6f355823-2d16-5085-0fbc-294d20597223
* Content: [Detailed steps to create an SSH key

[2021-11-01 18:54] whhender commented on #81227
The team is still working on this issue.

[2021-11-01 18:56] ThijsLecomte opened #83235 "Assignment to users & groups"
This documentation is out of date
At the moment, both assigning to users and groups is supported

This sentence 'Incidents can be assigned to a specific use' needs to be updated, as well as the screenshot below that

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7318fc7c-d388-65e1-0a65-af979a9a3ae7
* Version Independen

[2021-11-01 18:57] whhender commented on #83093
#please-close

[2021-11-01 18:57] #83093 closed

[2021-11-01 18:59] aimee-littleton commented on #63184
On 10/29, I tested my NAT Gateway configured VM and connected to google.com. I then reviewed NSG flow logs and saw that the Google IP was noted as the destination IP in the flow logs as is expected based on the existing NSG flow log documentation. Therefore, the description in this issue is not valid as confirmed by my testing. This issue can be closed as not an issue.

#please-close

[2021-11-01 18:59] #63184 closed

[2021-11-01 19:00] whhender commented on #83031
Thanks very much for the feedback! We are working on getting this information so we can update our documentation.

[2021-11-01 19:03] whhender commented on #82962
@sagarkul - Thanks so much for the feedback! At this time, commands for Data Curator/Data Reader roles do not exist in the CLI or PowerShell. However, engineering is working on adding this functionality.

The documentation will be updated with these commands as soon as we have them!

[2021-11-01 19:03] whhender commented on #82879
Hello! Thanks so much for your patience. The engineering team is fixing the API/PowerShell modules this month, and the documentation will be revised with these fixes.

[2021-11-01 19:18] kgremban commented on #82685
@dc995 We haven't heard back from you so I'm going to close this issue as resolved based on the fixes that I made to help customers discover the EFLOW upgrade steps. If you have further questions or comments about this topic, please reach out and we can reopen this issue to continue the discussion.

#please-close

[2021-11-01 19:18] #82685 closed

[2021-11-01 19:28] justinmchase opened #83236 "This documentation page has too much going on"
This page has docs for 3 different methods, AKS, Open Shift or managed kube and they're all different and its super confusing. It would be nice if instead you had 3 targetted documentation pages so that way I could look at this just in terms of AKS, for example.

Also, I've followed what seems like all the steps in here and I am still not seeing any metrics and I'm not sure why... so it would be r

[2021-11-01 19:31] SadiqhAhmed-MSFT commented on #83203
@assaf-grth After failover, the user will first need to “re-protect” the machines from source to target. Once done, then only they should trigger the failover (which will execute the failback). It will trigger failback on all machines in the plan, parallelly.

[2021-11-01 19:46] MonikaReddy-MSFT commented on #83210
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-11-01 19:50] MonikaReddy-MSFT commented on #83210
@mikaelsand - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-01 19:50] #83210 closed

[2021-11-01 20:03] GiftA-MSFT commented on #83223
@meszaroszoltan we'll review your feedback and get back to you shortly. Thanks.

[2021-11-01 20:07] JamesTran-MSFT commented on #83235
@ThijsLecomte
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-01 20:16] DmitriyAlergant-T1A-Rogers commented on #83123
Hi Svijay, this matches our research too (which we've done after posting this);

The reason I've raised this on Github is that ideally, the documentation would clearly provide this answer right away. That's an opportunity to improve the article with this important bit of information.
________________________________
From: Svijay-msft ***@***.***>
Sent: Monday, November 1, 2021 1:31 PM
To: Microsof

[2021-11-01 20:24] Nimleth commented on #83209
Thanks for the link. This answers the question.

[2021-11-01 20:24] #83209 closed

[2021-11-01 20:25] DerekHerman-MSFT commented on #83220
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-01 20:37] nasirsinani commented on #83207
Trying to follow this link and adapt with Postman instead of C# code:
https://docs.microsoft.com/en-us/azure/active-directory/app-proxy/application-proxy-configure-native-client-application

Thanks,

[2021-11-01 20:42] RyanHill-MSFT commented on #83107
Hey @alaconda, the fact you're app is an API _shouldn't_ be an issue. How are your `AllowedOrigins` configured? Did you inspect `x-ms-routing-name` in your header?

[2021-11-01 20:50] KranthiPakala-MSFT commented on #83211
@manojrayalla
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https

[2021-11-01 21:02] chaoscreater commented on #59973
@Snozzberries Yes, but that doesn't work for Lighthouse delegated directories/tenants. Kinda similar to the issues described in this post, hence why I posted my question here.

[2021-11-01 21:09] v-videba opened #83240 "Tenant deletion UI"
[Enter feedback here]

Hello

To delete a tenant there is a new change on the interface
In the tenant Overview first need to click on Manage Tenants
![image](https://user-images.githubusercontent.com/43179021/139742319-a8a63c9e-11da-4868-a25a-2cba6d963722.png)

Then select the tenant to delete
![image](https://user-images.githubusercontent.com/43179021/139742453-1358113b-228b-4b64-853d-5b4c37d71a1

[2021-11-01 21:13] elrapha commented on #40210
@tihomirbg  Can you explain further with an example how one will do this? Which endpoints does one use...how does one set the session cookie. A postman example would be helpful. Thanks

I am facing same issue

[2021-11-01 21:27] JamesTran-MSFT commented on #83240
@v-videba
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-01 21:31] BharathNimmala-MSFT commented on #82468
Thanks a lot @tfitzmac for helping on this thread.

@fgheysels Apologies for delayed response on this thread. At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and close this issue for now, however if you have any further feedback on the document please tag us in your reply and will be happy to reo

[2021-11-01 21:32] #82468 closed

[2021-11-01 21:34] b-juche commented on #83232
@bhaktajb - Thanks for bringing this to our attention!  Will update within the next couple of days.

[2021-11-01 21:49] PCNZ commented on #83058
Not sure why there is a question about 2016.
The bigger question is, that the download page does not include Server 2019 or Server 2022.
Which is correct, the download page or docs page?

[2021-11-01 22:13] KranthiPakala-MSFT commented on #83072
@Vikassharmas Thanks for the detailed feedback. I'm looping in relevant author to further review this feedback and update the doc as needed.

@mssaperla @leifbro - Could you please have a look at the above feedback and share your thoughts? - Thank you

[2021-11-01 22:33] PeteHaigh-MSFT opened #83242 "Missing hyperlink Container: Translate"
Howdy - can we please add the hyperlink to this text: **Container: Translate** ?
Cheers!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1780c68-2c8f-6db4-1951-f29a1d44fe15
* Version Independent ID: 74c75d81-987d-d86d-b5d4-790d09b615a1
* Content: [Install and run Docker containers for Translator API - Azure Cognitive S

[2021-11-01 22:36] DerekHerman-MSFT commented on #83169
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-01 22:48] ronortloff commented on #82599
Docs have been updated for this.  #please-close

[2021-11-01 22:52] ronortloff commented on #82599
Sorry, I missed the last comment....  Can you confirm the timelines line up between the graphs and the DMV output.

[2021-11-02 00:04] himanshusinha-msft commented on #83065
Hello @Ziweil6 ,
I think this is called out here https://docs.microsoft.com/en-us/azure/data-factory/connector-azure-cosmos-db?tabs=data-factory . The pase you are refering to is the "main" copy activity and then we  have links to different connectors on this pase . of you click on the "Azure cosmosDB" it does navigate to the page which I refered . ![image](https://user-images.githubusercontent.co

[2021-11-02 00:04] #83065 closed

[2021-11-02 00:06] ChaitanyaNaykodi-MSFT commented on #83226
Hello @ChristopherGLewis
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-11-02 00:26] dalumedic opened #83244 "Azure Healthcare APIs: incomplete sentence"
[Enter feedback here]
Please fix this sentence:

For the secure exchange of FHIR data, Healthcare APIs offers a few incremental capabilities that available in the Azure API for FHIR.

E.g. are NOT available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84d91547-07fd-7147-8319-9457c9580aca
* Version Independent ID: 40

[2021-11-02 00:32] kalyankrishna1 commented on #83180
App roles of type Applications are granted to application via the admin consent screen (https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-protected-web-api-app-registration#if-your-web-api-is-called-by-a-daemon-app).
They are effectively application (or app) Permissions and assignment to apps is carried out via the admin consent screen

[2021-11-02 00:36] b-juche commented on #83232
Implemented.  PR is slated for publishing ~Nov. 2.  Closing this issue now.

#please-close

[2021-11-02 00:36] #83232 closed

[2021-11-02 00:37] mike-urnun-msft commented on #83244
Hello @dalumedic - Thank you for your feedback! We will review and update as appropriate.

[2021-11-02 00:46] RyanHill-MSFT commented on #83100
Hi @AMollis, we currently have an investigation going to see what's going on here and what the resolve will be. I'll try to keep you posted.

[2021-11-02 00:49] RyanHill-MSFT commented on #83215
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-02 00:52] RyanHill-MSFT commented on #83224
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-02 01:20] hpsin commented on #82601
The conceptual docs are definitely conceptual, but we don't want to push people away from using the SDKs either.  However, you use the Azure SDKs - others use MSAL (of which there are... 7?) and I'm sure bindings from Microsoft exists in many other languages.  Specific SDKs are great places to jump to form this doc, but we don't want to add SDK-specific guidance here.  A Learn More link for variou

[2021-11-02 01:45] GiftA-MSFT commented on #83225
@ppaschedag we'll review your feedback and get back to you shortly. Thanks.

[2021-11-02 02:37] asudbring commented on #81764
Fixed paragraph with https://github.com/MicrosoftDocs/azure-docs-pr/pull/178214

#please-close

[2021-11-02 02:37] #81764 closed

[2021-11-02 03:20] anthonychu commented on #82347
Agreed that a release pipeline is often a better practice. However there are some issues with the task that need to be addressed before we can fully support it. This is the main stumbling block: https://github.com/Azure/static-web-apps/issues/343 Hope to have this supported in a couple months.

[2021-11-02 03:29] circy9 opened #83245 "Sample command doesn't work"
The following command doesn't run successfully:
az aks upgrade -n aks -g myResourceGroup --aks-custom-headers EnableCloudControllerManager=True
https://docs.microsoft.com/en-us/azure/aks/out-of-tree#upgrade-an-aks-cluster-to-cloud-controller-manager

Output of the command:
The behavior of this command has been altered by the following extension: aks-preview
Kubernetes may be unavailable during clu

[2021-11-02 03:30] kobulloc-MSFT commented on #83234
@YoDaMa Thank you for bringing this to our attention!  I have a PR out that will resolve this.

[2021-11-02 04:07] psyblade12 commented on #82599
Hey please don't close the issue. I am still unable to control the CPU allocation. It doesn't work like what you describe.

I don't really understand what do you mean by "confirm the timelines line up", but the DMV shows the 2 queries.

The query whose resource_allocation_percentage col equals to 10% is the first test case in which I set all the min, max and the cap to only 10%. And you can see th

[2021-11-02 04:22] alaconda commented on #83107
Hi @RyanHill-MSFT,

After spending more time investigating into this.  It turns out that the API in the deployment slot was not started properly and it was throwing `503`.  I was thrown off by the CORS error messages, and not realized that the API is not working.  Sorry for the confusion.

[2021-11-02 04:25] OlympicLarry commented on #46736
For people finding this in searches, you can disable the azure storage emulator by adding
	`<StartDevelopmentStorage>False</StartDevelopmentStorage>`

You will need version 16.6 of VS 2019

This will allow you to use Azurite instead.

[2021-11-02 04:56] AjayKumar-MSFT commented on #83171
@gwu70ca, That's a good catch!  We have raised a PR and it will be merged shortly. Once, the PR is merged the doc would reflect the changes made. Thanks again for your taking time to share your valuable feedback. We will close this thread for now.

[2021-11-02 04:56] #83171 closed

[2021-11-02 04:56] SrijitBose-MSFT commented on #83245
@circy9 , thank you for your feedback. Can you please share the Kubernetes version that you are currently using with the AKS cluster?

[2021-11-02 05:50] SadiqhAhmed-MSFT commented on #83209
@Nimleth You are welcome! :)

[2021-11-02 06:14] ram-msft commented on #83242
@PeteHaigh-MSFT Thanks for the feedback! We will review and update accordingly.

[2021-11-02 06:16] AnuragSingh-MSFT commented on #83236
@justinmchase, Thank you for the feedback on the doc. I am escalating this issue to our content authoring team for review and update as required. Please let us know if you have any questions.

[2021-11-02 06:36] AshokPeddakotla-MSFT commented on #83213
@shreyan1999 Could you please share more information regarding the issue? Were you able to deploy the instance?

[2021-11-02 06:58] razstan opened #83246 "Renew a nonintegrated CA certificate - missing step between 2 and 3"
Hello,

Between step2 " On the certificate pane, select New Version. " and step 3 " Select Certificate Operation. " there should be an additional step that is the data you need to set/select for a new certificate before pressing the create new version.

Thank you.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adde7541-

[2021-11-02 07:09] kengaderdus commented on #80827
#please-close

[2021-11-02 07:09] #80827 closed

[2021-11-02 07:41] tony21921 opened #83247 "Wrong section name in Register Single-page application steps"
The section name "Web applications" mentioned in [Register Single-page applications document ](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-spa-app-registration) does not exist in Azure portal. The new section name is "Platform configurations". This confused our operation team.

3. Under **Web applications**, select the Single-page application tile.

I'd like to submit

[2021-11-02 08:05] KalyanChanumolu-MSFT commented on #83128
@savjani Do you want to update the documentation with a warning until the issue is sorted out?

[2021-11-02 08:33] Donnie-Zhang opened #83249 "The content is incorrect"
[Enter feedback here]
Per the URL, https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-create-service-principal-portal?view=azs-2102#create-service-principal-for-ad-fs, this is supposed to be the document for how to create service principle for ADFS, but actually this is for AAD. I don't find the steps for creating service principal for ADFS anywhere.

---
#### Document Details

[2021-11-02 08:53] shreyan1999 commented on #83213
No I tried to create a Eth POA RPC and deploy it. But the instance isnt being deployed. Before when i tried it with Eth POA consortium of Azure(deprecating), the instance got deployed, it dint execute contract. I followed the docs

[2021-11-02 08:57] SanaChopra commented on #83212
@shreyan1999 Could you provide the exact error that you are facing?

[2021-11-02 09:00] SanaChopra commented on #83213
Could you share at what point you are facing this issue and what the error is that you are getting?

[2021-11-02 09:19] SnehaAgrawal-MSFT commented on #83001
@komayama We will now proceed to close this thread. If there are further questions regarding this matter, please let us know. We will gladly continue the discussion.

[2021-11-02 09:19] #83001 closed

[2021-11-02 09:28] SrijitBose-MSFT commented on #81475
@erwinsalubre , apologies for the delay in response.
We have checked with our internal teams and there have been some leads but it is recommended to open a Microsoft Technical Support Request on this. If you don't have the ability to open a technical support ticket, you can email me with Subject as "ATTN: Srijit" at AzCommunity@microsoft.com and provide me with your SubscriptionID and [link ](http

[2021-11-02 09:32] BhargaviAnnadevara-MSFT commented on #83247
@tony21921 I believe the provided guidance in the article holds good as this is what I see it on Azure Portal:

![image](https://user-images.githubusercontent.com/44050820/139821287-fa9da010-cfd1-436f-ba11-1929d157f8b3.png)

Please let me know if the experience is different for you.

[2021-11-02 09:43] astaykov opened #83251 "Required License information missing"
About one third (1/3) of all the items listed are missing the `required license` information. Like `self service password reset` or `assign licenses to users by group membership`. or `Use Application Proxy to integrate on-premises applications`.

It appears that one of the intents of this document is to outline required licenses, but this information is missing for a lot of items.

---
#### Docume

[2021-11-02 10:11] shreyan1999 commented on #83213
Compiler mismatch was one problem( I fixed it by matching the compiler to 0.5.10) even then the contract never gets executed. It just says "Executing contract" and keeps on executing but no result is shown. I have connected my wallet as well

[2021-11-02 10:13] shreyan1999 commented on #83212
Ethereum RPC Endpoints  are not working. the doc doesnt exclusively guide where do I get those from.It would be really helpful if that included in the docs too. usually json RPC is found as endpoints. Although i tried getting one as mentioned in doc but thats not working as well

[2021-11-02 10:14] aralvar opened #83252 "Azure DNS throttling limits"
In this public article, we just provide info about Private DNS throttling limits. But the same limits apply as well to Azure DNS.
Would it be possible to update public doc to reflect that the 500 limit also applies to Public DNS zones?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fb31632-581a-56fc-6ee8-5877388bb0b2

[2021-11-02 10:16] gvanteylingen opened #83253 "Add client side copy to intro"
If you do not want to restore the entire snapshot to a new volume **[or do not want to copy large files across the network](https://docs.microsoft.com/en-us/azure/azure-netapp-files/snapshots-restore-file-client)**, you have the option to use the single-file snapshot restore feature to recover individual files directly within a volume from a snapshot

---
#### Document Details

⚠ *Do not edit this

[2021-11-02 10:29] orspod commented on #82556
Thanks @sandervandevelde for your feedback. Thanks @riserrad for taking ownership of the needed doc changes.
#please-close

[2021-11-02 10:29] #82556 closed

[2021-11-02 10:47] shashishailaj commented on #83246
@razstan Thank you for sharing that information . We will review it and take it to the content team .

[2021-11-02 10:57] shashishailaj commented on #83249
@Donnie-Zhang Thank you for your feedback . We will investigate an update the thread.

[2021-11-02 11:00] shashishailaj commented on #83249
@Donnie-Zhang Could you please share which part in the document points to that link ? I am sorry but I could not find exactly which link in the current document https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-create-service-principal-portal was this one. Please let me know where we link and mention it to be for ADFS service principal creation and we will surely change that .

[2021-11-02 11:02] shashishailaj commented on #83251
@astaykov Thank you for your feedback . We are engaging the content team to review and update the thread.

[2021-11-02 11:03] SnehaAgrawal-MSFT commented on #83048
@abKrazy Thanks for bringing this to our attention. The PR has been created and once reviewed by content owner will be visible.  If there are any further questions regarding this matter, please let us know.

[2021-11-02 11:03] #83048 closed

[2021-11-02 11:23] SwathiDhanwada-MSFT commented on #83252
@aralvar Thanks for your comment. We will review the issue and get back to you shortly.

[2021-11-02 11:36] MughundhanRaveendran-MSFT commented on #83244
@dalumedic ,
Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2021-11-02 11:40] RyanHill-MSFT commented on #82071
@Yvand, since we're discussion your issue offline, I will go ahead and close this issue and update later with our findings.

[2021-11-02 11:40] #82071 closed

[2021-11-02 11:52] matthewjlevy opened #83256 "Shared Image Gallery now called Azure Compute Gallery"
Shared Image Gallery seems to have been renamed to "Azure Compute gallery" I was trying to follow this guidance and couldn't find Shared Image Gallery in the search box.

![image](https://user-images.githubusercontent.com/27995471/139841053-67abc473-bea5-4097-b3fe-ce6d21bce266.png)

"Azure compute galleries allow you to share images with users or user groups across subscriptions in your organizati

[2021-11-02 12:34] KalyanChanumolu-MSFT commented on #82951
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-11-02 12:36] SumanthMarigowda commented on #83253
@gvanteylingen Thanks for the question! We are investigating and will update you shortly.

[2021-11-02 12:42] hilari0n commented on #42614
Also we've been successfully using B2B accounts with Azure VPN Gateway with Azure AD authentication for over a year now and they do work, so what @VladislavKoldobskiy wrote is incorrect.

[2021-11-02 12:44] juanjojulian commented on #76884
It seems they fixed it because its working now.

[2021-11-02 12:44] #76884 closed

[2021-11-02 12:53] Mugenprime commented on #67928
Has this been confirmed or not. The document does not mentions this

[2021-11-02 12:58] dominikhoefling opened #83258 "Auto provision of a TVM solution (MDE) should support Azure Arc"
Hi all,

The document shows that auto provisioning is not available on Azure Arc (Availability, Support Destinations).  But Azure Security Center shows that auto provisioning is available for "Azure and hybrid machines": Deploys vulnerability assessment to your Azure and hybrid machines. Learn more

So, I assume that Azure Arc should be available as well?

Thanks in advance.

---
#### Document Det

[2021-11-02 13:48] IamVarma opened #83260 "Sample images container Empty"
[Enter feedback here]
The sample images container provided in the article is empty - please update with valid container name and SAS token.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8792ac4-f720-be02-648e-5f3e007de3fd
* Version Independent ID: d6e8cd3d-8c08-c890-0414-af6aede7352e
* Content: [Tutorial: Create a la

[2021-11-02 13:58] IamVarma commented on #83260
Attempting from storage explorer fails with the error - "Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature". Could be an issue with the SAS token although it doesn't seem to have expired.

[2021-11-02 14:12] #83147 closed

[2021-11-02 14:18] ronortloff commented on #82599
Regarding: "timelines line up between the graphs and the DMV output"

You shared DMV output for sys.dm_pdw_exec_requests which showed resource_allocation_percentage, but no time to correlate to the portal graph of CPU usage.  I cannot tell if the DMV output is collected at the same time as the portal CPU usage.  That is what I meant.  Please share start/end time for the DMV and a zoomed in window,

[2021-11-02 14:19] scubaninja commented on #82347
@christcottrell  I am going to close this issue until the task is ready for full GA. It's on the radar to make this happen

[2021-11-02 14:19] AnuragSingh-MSFT commented on #83135
@mjisaak, I have assigned this issue to the content author for further comment, review, and update. Please let us know if you have any question.
@dhirajgandhi, can you please look in to this and share your thoughts.

[2021-11-02 14:23] christcottrell commented on #82347
Thank you very much for looking into it and glad that the changes are being made to support that. Static web apps are a big part of what I’m doing here where we’re doing a micro web front end architecture so we’ll have a lot of these most likely. Think micro services for the front end.

Thanks!

From: April Edwards ***@***.***>
Sent: Tuesday, November 2, 2021 9:19 AM
To: MicrosoftDocs/azure-docs *

[2021-11-02 14:32] #28720 closed

[2021-11-02 14:35] AbbyMSFT commented on #74575
Hi @vboyev-MSFT,
Thank you for your feedback. We have just walked through the procedure ourselves, and it seems to be explained properly. It does state in the article that “you first need to extract the MOMagent.msi file from the MMASetup installation package.”
At this stage, I am closing the issue.
#please-close

[2021-11-02 14:35] #74575 closed

[2021-11-02 14:46] AbbyMSFT commented on #73814
Hi @hnph12,
Thank you for your feedback. We passed the information on to the engineering team, but please keep in mind that this solution is based on old technology. It was only ever meant to report on the newer Azure Monitor alerts. It’s being replaced by newer functionality.
Thanks,
Abby
#please-close

[2021-11-02 14:46] #73814 closed

[2021-11-02 14:49] bhalbright opened #83262 "Incorrect cli commands to enable soft delete"
The command given, doesn't match up with cli docs:
[code]

--resource-group isn't a valid parameter
--enable-delete-retention should be --delete-retention
--delete-retention-days should be --delete-retention-period

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce25ff08-4d2a-70db-df3f-650ea80f9c4b
* Version Independent

[2021-11-02 14:52] savjani commented on #83128
@Bashar-MSFT is working on it. Doc changes were locked due to Ignite but he plans to add it soon as far as I know

[2021-11-02 14:59] #83143 closed

[2021-11-02 15:01] #83234 closed

[2021-11-02 15:02] #83244 closed

[2021-11-02 15:19] cchapin-ms opened #83263 "Public IP address requirement"
[Enter feedback here]
This section needs clarification:

Can I deploy Azure Firewall without a public IP address?
No, currently you must deploy Azure Firewall with a public IP address.

In forced tunneling mode, a public IP is required on the management interface but it does not require a public IP for the FW. There should be some additional information included in this section about the requireme

[2021-11-02 15:23] #82788 closed

[2021-11-02 15:25] spelluru commented on #81089
@ramya-rao-a - I am waiting for the Java code from Kishore. I will open an internal work item to track this. Thanks.

#please-close

[2021-11-02 15:25] #81089 closed

[2021-11-02 15:28] JohnHowellAtTrupanion opened #83265 "Use Compat mode on Import-Module if using PowerShell 7.x"
For the section where you show the Import-Module call, you should point out that if the user is using PowerShell 7.x, they will need to run that import in Compat mode by adding the -UseWindowsPowerShell parameter to the call:

[code]

If they do not, then it will fail on the Connect-AzureAD command when it attempts to load the cryptography assemblies:

---
#### Document Details

⚠ *Do not edit thi

[2021-11-02 15:28] SaiKishor-MSFT commented on #82868
@jikuja We will be updating our docs with this information soon. Please check back after a few days (I do not have an ETA yet).
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-02 15:28] #82868 closed

[2021-11-02 15:35] kobulloc-MSFT commented on #83256
@matthewjlevy Thank you for bringing this to our attention.  I'm going to do some additional investigation on my end and keep you updated.

![image](https://user-images.githubusercontent.com/37556655/139879073-cbedd3f5-26ea-49a0-8f77-816f2f8e9a27.png)

[2021-11-02 15:39] mjisaak commented on #83135
@AnuragSingh-MSFT, Thank you. Right now I don't have any additional questions - looking forward to hearing from the content author.

[2021-11-02 15:51] vsdotnetguy commented on #22360
@tfosmark Can this issue be reopened as the exact same issue is happening with AD B2C Applications where AppRole.Value contains spaces?  It occurs whether editing the manifest manually or using MS Graph.  Once I removed the space from the value, the MS Graph Application UpdateAsync worked without error.

[2021-11-02 16:04] JamesTran-MSFT commented on #83258
@dominikhoefling
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-02 16:05] tokesr opened #83267 "Resource Provider is not registerd when ARM template is used."
The statement that "When you deploy an Azure Resource Manager template, all required resource providers are automatically registered." on the site https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-providers-and-types is not correct.

I had issues with Sentinel deployment with the new OnboardingStates. I opened a support request (2109260050000314) and based on MS's i

[2021-11-02 16:07] jgross1031 opened #83268 "Exception calling "GetPageRanges" with "4" argument(s): "Server failed to authenticate the request."
The customer is trying to use this script to calculate the billing info for their storage account which is only storing page blobs. When they run the script, which they say takes a very long time, it will eventually error out with this:

Exception calling "GetPageRanges" with "4" argument(s): "Server failed to authenticate the request. Make sure the value of
Authorization header is formed correctl

[2021-11-02 16:10] MartinJaffer-MSFT commented on #83030
@map18 My colleagues noted that this Fail activity seems to be only available in some regions.
The product group is being slow to respond, probably due to Ignite.

[2021-11-02 16:20] aralvar opened #83270 "Document SNAT programming when a NIC with multiple ipconfigs is associated to different LB rules"
When a NIC with multiple ipconfigs is associated to different LB rules, Azure based load balancer will not allow outbound communication from the secondary IP address on the NIC. SNAT is only programmed for the primary ipconfig
This scenario should be documented in this doc as well

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2021-11-02 16:23] jeevansd commented on #67928
@Mugenprime Yes, we do not support the Demo environments of Docusign here. This is only for Prod and not for Demo tenants.

[2021-11-02 16:42] v-amallick commented on #82424
@shashwattrivedi - Thank you for answering the query.

@stantoni-msft - Now, I am proceeding to close this issue. Please get back to us if you have other queries. We will be happy to continue the discussion.

#please-close

[2021-11-02 16:42] #82424 closed

[2021-11-02 16:44] JamesTran-MSFT opened #83272 "Password validation summary reporting via PowerShell"
Add a sentence within the - Password validation summary reporting via PowerShell section.

Something similar to - If you only installed the DC agent on 1 DC, the Get-AzureADPasswordProtectionSummaryReport will read events only from that DC.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23a4bc15-af79-3d85-105b-745c3e92

[2021-11-02 16:49] v-amallick commented on #82513
@shashwattrivedi - Thank you for sharing the information. Will update the document soon.

@daisySEU - Will keep you posted on the documentation updates. Now, I am proceeding to close this issue. Please get back to us if you have other queries. We will be happy to continue our discussion.

#please-close

[2021-11-02 16:49] #82513 closed

[2021-11-02 16:50] DerekHerman-MSFT commented on #83262
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-02 16:52] MonikaReddy-MSFT commented on #83267
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-11-02 16:52] YutongTie-MSFT commented on #83260
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-02 16:54] trotter-anne opened #83273 "Microsoft Azure Migrate tool data in transit controls"
I understand that data in transit is generally a customer control, but in this case the migrate tool provides a connection ebtween a Microsoft Azure on-prem tool and an Azure cloud environment, so realistically there's a portion of data in transit which is strongly on the Microsoft Azure cloud service provider's side to provide; that's not described on this page, though.

Thank you!

---
#### Docu

[2021-11-02 17:00] #82759 closed

[2021-11-02 17:10] SaiKishor-MSFT commented on #83270
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-11-02 17:11] SaiKishor-MSFT commented on #83263
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-11-02 17:13] cynthn commented on #83256
Changes to the docs to reflect the new branding should be rolling out live right now (11/2 10:00 AM PST). Thank you!

[2021-11-02 17:13] cynthn commented on #83256
#please-close

[2021-11-02 17:13] #83256 closed

[2021-11-02 17:15] fputhod commented on #33157
we are still seeing inconsistencies with leveraging the KV for Certs and the App GW. Especially when certs are not from the same KV or even manually uploaded into the AppGW.

[2021-11-02 17:19] b-juche commented on #83253
Thanks, @gvanteylingen - Implemented in the staging, plus added What's New.

#please-close

[2021-11-02 17:20] #83253 closed

[2021-11-02 17:22] whhender commented on #82962
#please-close

[2021-11-02 17:22] #82962 closed

[2021-11-02 17:39] John-HLC commented on #82900
@RyanHill-MSFT  - since you are the repo collaborator, and closed it,
i can no longer reopen it.  Which may be ok.   This issue has a few tangents, if you don't reopen this one by tomorrow it may be better to start with a new one anyhow.  Thanks for your help so far.

[2021-11-02 17:57] thisisanniefang commented on #81893
@nkk1 Got it - so yes, you won't be able to see that the second IP is being consumed via the Used SNAT Port metric until you hit 64k SNAT ports being consumed, however, you **should** be able to see the Allocated SNAT Ports to reflect that multiple IPs are being used. If your ports are allocated properly, there shouldn't be any issue with the IPs being consumed one at a time.

More detailed instru

[2021-11-02 18:04] fhryo-msft commented on #83268
This requires engineering team to investigate. Please have the customer to submit a support ticket.

[2021-11-02 18:11] laujan commented on #83223
Hi @meszaroszoltan. Thank you for the feedback. The issue has been resolved with our latest iteration. Thanks again.

#please-close

[2021-11-02 18:11] #83223 closed

[2021-11-02 18:11] JamesTran-MSFT commented on #83273
@trotter-anne
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-02 18:17] CC-Fleming opened #83279 "The Important Note is unclear to me."
The important note is unclear to me.  The first sentence and the last sentence seem to contradict each other about the applicability to dedicated SQL pools.

This article applies to both Azure SQL Database and dedicated SQL pool (formerly SQL DW) in Azure Synapse Analytics. These settings apply to all SQL Database and dedicated SQL pool (formerly SQL DW) databases associated with the server. For s

[2021-11-02 18:17] RyanHill-MSFT commented on #45991
I didn't see @lonevvolf. I'll get this added to https://docs.microsoft.com/en-us/azure/app-service/reference-app-settings?tabs=kudu%2Cdotnet and mention it usage in this doc.

Apologies for that.

[2021-11-02 18:21] borgewi opened #83280 "ARM templates publicly accessible"
[Enter feedback here]
It's unclear what is meant by "publicly accessible" in the following statement on the page.

"If you currently have your templates in a GitHub repo or storage account, you run into several challenges when trying to share and use the templates. To deploy the template, you need to either make the template publicly accessible or manage access with SAS tokens."

Does it mean that

[2021-11-02 18:24] DerekHerman-MSFT commented on #83262
@bhalbright This appears to match what I am seeing on the CLI page. Could you share the CLI page you are referencing?
https://docs.microsoft.com/en-us/cli/azure/storage/account/blob-service-properties?view=azure-cli-latest#az_storage_account_blob_service_properties_update

[2021-11-02 18:32] jeevansd commented on #83204
@V-rant and @v-hagamp The above suggestion provided is correct. So can you please correct the doc here?

[2021-11-02 18:47] SwathiDhanwada-MSFT commented on #82791
Assigning to content author @bwren for document enhancement.

[2021-11-02 18:53] thisisanniefang commented on #82207
@nkk1 could you clarify your ask here? The table is correct as is, for default allocation. However, it doesn't seem like you're using default allocation in the example in the other issue you linked.

For manual allocation, you should be able to allocated up the number of ports as provided by the formula: outboundIPs * 64,000 > nodeVMs * desiredAllocatedOutboundPorts

This means, if you expected th

[2021-11-02 18:55] oducharme opened #83282 "Next Steps are misleading"
Articles quoted under the Next Steps sections are not coherent with the intent of this article. They could be called recommended contents or related articles, but using next steps entails an expectation that there will be a continuity of purpose and educate readers on how to manage inactive user accounts in Azure AD, but they do not.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2021-11-02 18:58] TiloGit commented on #70805
yes, help page should be more specific what features are missing if not providing a RH pull secret.

without a RH pull secret we are **missing** the catalog sources for the operator hub
[code]

[2021-11-02 18:59] TiloGit commented on #70805
also see https://github.com/Azure/OpenShift/issues/200

[2021-11-02 19:08] TiloGit opened #83284 "Full CLI automated version please"
Hi,

please provide full CLI automated version (like `oc patch` ...)

Thanks, Tilo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 516ce01f-750e-7c78-02c9-76c717edd681
* Version Independent ID: 22950c15-1b08-a9df-f1e7-cc310cbbb1a3
* Content: [Add or update your Red Hat pull secret on an Azure Red Hat OpenShift 4 cluster

[2021-11-02 19:09] karlochacon opened #83285 "Not possible - Because the DNS name doesn't change, you should use a CNAME alias and point it to the DNS address of the application gateway"
hey guys

I have this WAF v1 so the Public IP is dynamic, documentation says if you stop and start your WAF your Public IP changes which is expected but to avoid DNS issues your documentation says this

**Because the DNS name doesn't change, you should use a CNAME alias and point it to the DNS address of the application gateway**

The thing is, how is that possible? I cannot have apex CNAME record

[2021-11-02 19:12] romankiss opened #83286 "Send telemetry data into batches"
The document didn't describe how to send the telemetry data into batches.

Basically, putting the single telemetry data into the _JArray_ like is shown in the following example:

    [
      { "temperature":11.11 },
      { "temperature":22.22 },
      { "temperature":33.33 }
    ]

can be solved the problem, the mqtt device takes this json array and delivering the events to the IoT Central as a s

[2021-11-02 19:12] SwathiDhanwada-MSFT commented on #83134
@ciufudean Yes, as mentioned in the document , you can change the scope to log analytics workspace, application insights, resource group, subscription or other azure resources.

When you are trying to change the scope from log analytics workspace to any other resource, you might have to delete the current scope, which can be seen in bottom right page as highlighted in the image. Delete current sco

[2021-11-02 19:18] tamram commented on #83262
@bhalbright - I know this is confusing, but there are two CLI commands for setting service properties. Note the difference between them is just a hypen:

- [az storage account blob-service-properties](https://docs.microsoft.com/cli/azure/storage/account/blob-service-properties)
- [az storage blob service-properties](https://docs.microsoft.com/cli/azure/storage/blob/service-properties)

You can use

[2021-11-02 19:19] chucksnow commented on #82282
Not sure what has changed but this is no longer an issue.  I was able to recreate the issue in both of my tenants and now I cannot recreate the issue.  I am able to create new accounts in Azure AD and apply ToU successfully without the user accounts being registered for Azure MFA.

[2021-11-02 19:22] SwathiDhanwada-MSFT commented on #83200
@RESHVANTHKS As requested in earlier comment, do elaborate your feedback so that I can assist you accordingly?

[2021-11-02 19:22] SwathiDhanwada-MSFT commented on #83201
@RESHVANTHKS As requested in earlier comment, do elaborate your feedback so that I can assist you accordingly?

[2021-11-02 19:25] MarileeTurscak-MSFT commented on #83282
@oducharme
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-02 19:35] skeltonsc commented on #81985
Good day,

Has there been any development with regards to this? Looking forward to your reply

[2021-11-02 19:44] abatishchev commented on #83103
@mimckitt, ping please.

[2021-11-02 19:59] mimckitt commented on #83103
Fixing in https://github.com/MicrosoftDocs/azure-docs/issues/83103

#please-close

[2021-11-02 19:59] #83103 closed

[2021-11-02 20:02] SwathiDhanwada-MSFT commented on #82039
@OverengineeredNetwork For security recommendations the UI might look different. They use “Exempt” instead. Kindly check recommendation type and if you can see “Exempt” button for these above mentioned recommendations.

[2021-11-02 20:22] MartinJaffer-MSFT commented on #83186
I have made a pull request to implement this change.  Thank you for helping to improve our docs @cci-faonder .

[2021-11-02 20:22] #83186 closed

[2021-11-02 20:29] SadiqhAhmed-MSFT commented on #83203
@assaf-grth Checking in to see if the above answer helped. Feel free to reply if you have additional questions.

[2021-11-02 20:45] DerekHerman-MSFT commented on #83268
@jgross1031 As this is not directly related to the documentation we will be closing this issue. If there is an error in the documentation please let us know the issue and we can update it as appropriate.

[2021-11-02 20:45] #83268 closed

[2021-11-02 20:51] msftnadavbh opened #83287 "Azure Container Apps Pricing URL points to Static Web Apps"
[Enter feedback here]
I cant point to the direct article since it's a redirection URL.

Here :
https://docs.microsoft.com/en-us/azure/container-apps/?ocid=AID3042118

If you go down and click on Resources >> Pricing it takes you to https://azure.microsoft.com/en-us/pricing/details/app-service/static/

Which is the pricing for Static Azure Web Apps.

Should be fixed.

---
#### Document Details

⚠ *

[2021-11-02 20:52] bhalbright commented on #83262
Thanks @tamram, my apologies. I guess instead of following the link in the doc I searched for "az storage account blob-service-properties" in google and the top search result is the page for "az storage blob service-properties" instead. I didn't notice the difference.

[2021-11-02 20:52] #83262 closed

[2021-11-02 20:59] gamullen opened #83289 "Subnet Info Is Misleading"
The Databricks documentation reads as follows:

“Deploying Azure Databricks data plane resources to your own VNet also lets you take advantage of flexible CIDR ranges (anywhere between /16-/24 for the VNet and up to /26 for the subnets).”

Does the "up to /26" mean that it can't be /27 or larger (resulting in a smaller subnet)? Or that /26 (64 addresses) is the smallest it can be (meaning that /25

[2021-11-02 21:47] thisisanniefang commented on #81893
@nkk1 Also, as of today, NAT Gateway integration with AKS is in public preview: https://azure.microsoft.com/en-us/updates/public-preview-nat-gateway-integration-with-aks-2/

[2021-11-02 21:55] ryandle opened #83291 "Document other ways you can failover an event hub"
This page has a lot of great info on Geo-DR/failover in general. I think it could be improved by having a section that explicitly lists the ways you can initiate failover (Portal UI, command line interfaces?, other programmatic access?)

The documentation currently covers how to failover via the portal UI:

(From *Setup and failover flow - Setup* section, number 8.B:)

If that is the only way, ple

[2021-11-02 22:18] damienpontifex opened #83293 "ARM examples for enabling secret store csi driver for kubernetes"
Can an example be included in the docs here of how to enable/configure this addon with an ARM template?

It's difficult to determine the appropriate object structure when deploying this via ARM templates. There isn't an example on this page to do so and the docs for [`addonProfiles`](https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/managedclusters?tabs=bicep#managedclust

[2021-11-02 22:21] damienpontifex commented on #83293
For reference, my current approach to discover this is:
1. enable the addon with the CLI
2. inspect the template from the portal via the "export template"
3. commit the valid changes to ARM template
4. CI/CD for our infrastructure rolls it out to other environments

[2021-11-02 22:41] lunar87 opened #83295 "Powershell has CLI code instead under Deploy Sample section"
[Enter feedback here]

Under the section "Deploy the sample app from the GitHub repository"
It has CLI and Powershell examples listed, but the Powershell is just the same CLI commands. Also seems to be a bug on page in regards to showing the powershell/cli as tabs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f102643

[2021-11-02 22:52] eedorenko commented on #80924
@kgremban I have taken over the upgraded YAML pipelines that @tcare worked on. I would be very happy to contribute them back to the IoT starter guide to get it fixed. It's broken now. Let's collaborate and work that out.

[2021-11-02 23:10] drmiru commented on #42614
Same here. Since a few months we have several customers using guest accounts for VPN P2S AAD AuthN.

[2021-11-02 23:16] dlepow commented on #83087
@mikerodionov - Thanks for pointing out this imprecise wording. The intent is to point out that enabling or updating *network connectivity* in an existing instance will cause the instance to be hosted on the v2 platform. I'll update the article to make that point more clearly.

[2021-11-02 23:50] dlepow commented on #56772
@moanrose - Thanks for pointing this out, and apologies for the long delay responding. In the meantime, the article has been updated to include the information you suggested. I'll close this issue, but feel free to reopen if you want to continue this discussion.
#please-close

[2021-11-02 23:50] #56772 closed

[2021-11-03 00:08] KranthiPakala-MSFT commented on #83211
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-11-03 00:08] #83211 closed

[2021-11-03 00:12] centur opened #83301 "What does `G` modifier stands in the shortcut lists ?"
I'm trying to use Azure portal shortcuts (on MacOs in Firefox) and can't really understand what exact shortcut keys are supposed to be pressed. What does `G+/` stands for ? I  can't find what is the `G`modifier is. It doesnt look like a known modifier such as  Ctrl/AOptions/Cmd/Shift and Azure portal does not focus on a search\omnibox if I press any of the modifiers in all possible combinations.
I

[2021-11-03 00:20] JnHs commented on #83301
Hi there - G is just the G key. So G+/ means hold down G plus the slash key. You're not the only one who's asked this question, so we'll update the docs to make that clearer.
And I believe these work across OS/browsers but if you find that's not the case please let us know so we can investigate.
Thank you!

[2021-11-03 00:22] MonikaReddy-MSFT commented on #83301
@jnhs - Thank you for providing your insights.
@centur  - I hope @jnhs has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-03 00:22] #83301 closed

[2021-11-03 00:28] duongau commented on #73259
@JustinGrote, thank you for you contribution to our docs. I have ran your suggestion by our PM and will be adding it to the FAQ shortly. Please let me know if you have any other concerns or suggestions. For now I will be archiving this issue. Thank you! #please-close

[2021-11-03 00:28] #73259 closed

[2021-11-03 00:29] owen-up opened #83302 "How can I ensure that user assignment requirements are enabled for my app?"
The link " ensure that user assignment requirements are enabled for your app" does not lead to the instructions it indicates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d32f55ac-acbc-292b-d1b7-ffdd257b11e1
* Version Independent ID: ae2a266c-051b-7307-93fd-74bc521c93bf
* Content: [OAuth 2.0 client credentials flow o

[2021-11-03 00:52] RayGHeld opened #83303 "Mixing of Login Popup and Login Redirect in the same sample is too confusing"
This example needs to break out the loginRedirect and loginPopup examples into 2 separate samples.  It is far too confusing trying to follow this example here and the end result is a sample that is impossible to get to work properly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28c13084-08f6-c015-7769-c2ab9170c1d2
*

[2021-11-03 01:32] Donnie-Zhang commented on #83249
The ADFS part including the link has been removed from the document.
As I recall this document explains how to create SPN for both AAD and ADFS, but now, we have the AAD part only.

Thanks,
Donnie Zhang
Microsoft Azure Stack Hub

From: ShashiShailaj-MSFT ***@***.***>
Sent: Tuesday, November 2, 2021 7:00 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Donnie Zhang ***@***.***>; Mention ***@***.***

[2021-11-03 01:36] centur commented on #83301
Thanks. Now I see. It works correctly. But this surprising shortcut confused me a lot 😮 .

[2021-11-03 01:52] NuAlex opened #83304 "samAccountName is missing comment"
We know that onpremises AD samAccountName is synced to onPremisesSamAccountName attribute but there's no details why it is needed or which feature consumes it. The lack of details for this attribute can be seen as a security concern.
The ask is to clarify in this page if synchronization of SamAccountName is required.
Thank you.
/Nuno

---
#### Document Details

⚠ *Do not edit this section. It is r

[2021-11-03 02:06] ChaitanyaNaykodi-MSFT commented on #83285
Hello @karlochacon
Thank you for your feedback! We will review and update as appropriate.

[2021-11-03 02:39] SnehaAgrawal-MSFT commented on #83287
@msftnadavbh Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-03 03:03] PCNZ opened #83306 "Add Dv5/Ev5 Performance"
Please add the new Dv5 and Ev5 performance benchmarks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c005a93a-6fce-d270-9bb5-8e7213156b70
* Version Independent ID: 844d62d4-a06b-1578-488f-f6441242a07d
* Content: [Compute benchmark scores for Azure Linux VMs - Azure Virtual Machines](https://docs.microsoft.com/en-us/azu

[2021-11-03 03:09] jeffpatt24 commented on #83220
I added the following note in the Troubleshooting guide for error code 0x80C83060:
Once network connectivity to the Azure File Sync service is restored, sync may not resume immediately. By default, Azure File Sync will initiate a sync session every 30 minutes if no changes are detected within the server endpoint location. To force a sync session, restart the Storage Sync Agent (FileSyncSvc) servic

[2021-11-03 03:11] jeffpatt24 commented on #83220
#please-close

[2021-11-03 03:11] #83220 closed

[2021-11-03 03:21] CHEEKATLAPRADEEP-MSFT commented on #83289
@gamullen  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-11-03 03:22] CHEEKATLAPRADEEP-MSFT commented on #83291
@ryandle  Thanks for the feedback! I have assigned the issue to the content author to evaluate and add the details.

[2021-11-03 03:51] vipulsparsh commented on #83302
@owen-up Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-11-03 03:51] VikasPullagura-MSFT commented on #83306
@PCNZ
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-11-03 03:51] VikasPullagura-MSFT commented on #83306
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2021-11-03 03:53] vipulsparsh commented on #83303
@RayGHeld

[2021-11-03 03:53] vipulsparsh commented on #83303
@RayGHeld  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-11-03 03:55] shashankkr opened #83309 "Can't get secrects from a Key Vault"
I have a core java app which reads settings from an app configuration store. Couple of my keys are linked to a keyvault secrets. These are the steps I performed to grant access of my app through a connected app.

1. Key-Vault has  vault-access-policy enabled
2. Added the connected app to have get secret permission
3. Granted the connected app "App Configuration Data Reader" role on the resource gr

[2021-11-03 03:55] vipulsparsh commented on #83304
@NuAlex Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-11-03 03:55] VikasPullagura-MSFT commented on #83293
@damienpontifex
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-11-03 03:56] VikasPullagura-MSFT commented on #83293
@Nickomang
Can you please check and add your comments on this doc update request as applicable.

[2021-11-03 03:56] vipulsparsh commented on #83126
@gilm4159 Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-11-03 03:59] JustinGrote commented on #73259
@duongau shouldn't this be closed once the item is added? How do I know it won't be forgotten?

[2021-11-03 04:15] AshokPeddakotla-MSFT commented on #83056
@Infinitism We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-03 04:15] #83056 closed

[2021-11-03 04:34] AshokPeddakotla-MSFT commented on #83286
@romankiss Thanks for the feedback! I have assigned the issue to the SME @dominicbetts  to evaluate and update the doc as appropriate.

[2021-11-03 04:41] AnuragSingh-MSFT commented on #83280
[@borgewi](https://github.com/borgewi), thank you for the query. 

It means that the template has to be made available by either of the following

1. If you are using Github repo to store the template-  make the repo public, or

2. If you are using Storage account, you can use [Shared Access Token](https://docs.microsoft.com/en-us/azure/storage/common/storage-sas-overview).

[2021-11-03 04:41] AshokPeddakotla-MSFT commented on #83286
.

[2021-11-03 05:20] GiftA-MSFT commented on #83265
@JohnHowellAtTrupanion we'll review your feedback and get back to you shortly. Thanks.

[2021-11-03 05:20] blackchoey opened #83312 "what's the definition of "resource identifier""
The document mentions "each permission is indicated by appending the permission value to the **resource's identifier** or application ID URI", but I didn't find a clear definition of resource identifier. Can you share what does resource identifier mean? Seems it's not application ID URI.

I'm trying to figure out how to specify the permission defined in my AAD app. Since my application ID URI migh

[2021-11-03 05:22] GiftA-MSFT commented on #83279
@CC-Fleming we'll review your feedback and get back to you shortly. Thanks.

[2021-11-03 05:30] GiftA-MSFT commented on #83284
@TiloGit we'll review your feedback and get back to you shortly. Thanks.

[2021-11-03 06:09] KrishnaG-MSFT commented on #81464
@d3s3rtf0x We have verified and updated the document as appropriate. Thanks again!

[2021-11-03 06:09] #81464 closed

[2021-11-03 06:12] KrishnaG-MSFT commented on #82909
@KexyBiscuit We have verified and updated the document as appropriate. Thanks again!

[2021-11-03 06:12] #82909 closed

[2021-11-03 06:13] #82997 closed

[2021-11-03 06:13] #82996 closed

[2021-11-03 06:13] nth-block opened #83313 "Expected value for `Disallow Digest authentication` must be 1"
The recommendation description for the `Disallow Digest authentication` is set to set it to `Enabled` but the `Expected Value` field is set to 0. This must be 1 right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56b31d2d-f2e3-6cf4-fa03-3beda6ba83de
* Version Independent ID: 3b2b4390-1b4e-9ead-6905-6cebae404802
* Con

[2021-11-03 06:17] KrishnaG-MSFT commented on #83313
@nth-block Thanks for your comment! We will review and provide an update as appropriate.

[2021-11-03 06:40] shreyan1999 commented on #83213
This is a new deployment after September 10,2021. Post the deprecation of ABS. I used a another service from azure called the Ethereum POA consortium. But it seems that even Eth  POA consortium is deprecating.So i switched to Quorum devkit by consensys on azure.Still the result is the same

[2021-11-03 08:25] KrishnaG-MSFT commented on #82934
@tomleetaiwan We have verified and updated the document as appropriate. The change should reflect soon i.e., in less than 24 hours. Thanks again!

[2021-11-03 08:25] #82934 closed

[2021-11-03 08:40] KrishnaG-MSFT commented on #83051
@kar400 We have verified and updated the document as appropriate. The change should reflect soon i.e., in less than 24 hours. Thanks again!

[2021-11-03 08:40] #83051 closed

[2021-11-03 08:51] 72gm commented on #83214
Hi @kengaderdus

Any update on this?

Thanks

[2021-11-03 08:56] chpouls opened #83315 "Where is the reference to the business templates?"
Hello
Great that you've launched the new database templates. But where is the reference to the templates available? Can see some info in the image but nothing referencing the actual entities available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a1ca838-548a-348a-d5be-b1fac8d1a3f3
* Version Independent ID: 3b9ef3a8

[2021-11-03 09:30] vidarbms opened #83316 "Missing picture/illustration?"
The article seems to be missing a picture, it refers to a .png that is not there : [[retail-database-template-example.png|alt=Retail database template example]]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f11b1ecf-be34-eb9b-a496-1d6d0e2926ce
* Version Independent ID: 553a3db4-3b66-2ea2-3c59-147992a8cd4a
* Content: [

[2021-11-03 09:53] SadiqhAhmed-MSFT commented on #83012
@mysteq Closing this thread for now. Let us know if you need any further assistance.

[2021-11-03 09:53] #83012 closed

[2021-11-03 09:57] KalyanChanumolu-MSFT commented on #83140
@aristosvo I see that the PR is merged now. We will close this issue now.
If there are further questions regarding this issue, please comment and we will gladly continue the discussion.

[2021-11-03 09:57] #83140 closed

[2021-11-03 09:59] LoW0lf opened #83318 "Missing Documentation about different rules in Microsoft_BotManagerRuleSet_1.0"
We are missing some additional documentation about the different BotRules available in Microsoft_BotManagerRuleSet_1.0 for Azure Front Door Web Application Policy. We only have a title like "Site health monitoring services" or "Unspecified Identity" in the Portal, but to be able to properly use these rules we need better understanding based on what criteria those rules are deciding on blocking req

[2021-11-03 10:01] aristosvo commented on #83140
@KalyanChanumolu-MSFT This is still relevant, as this is just one building block to many features like the failover group and scaling within a failover group etc. When we can reduce testing time and setup time in general for Terraform users / Azure customers, that would be great!

I'm currently dealing with tests which take 8+ hours, making development slow

[2021-11-03 10:04] kengaderdus commented on #83214
@72gm Sorry for the delayed response. We assume that our earlier response was spot on as per your scenario except the examples. For SPA, you can use Authorization code flow (with PKCE) as described [here](https://docs.microsoft.com/azure/active-directory-b2c/authorization-code-flow).

In the article, there is a link to samples but be sure to focus on [these ones](https://docs.microsoft.com/azure/a

[2021-11-03 10:11] KalyanChanumolu-MSFT commented on #83279
@CC-Fleming Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-11-03 10:33] dcasota commented on #45303
_How to found / is there already an Azure VM offering with accelerating networking specifically using a newer Mellanox nic type ConnectX®-4 / Lx or ConnectX®-5 / Ex?_

It works for a Standard_E4s_v3 virtual machine. The test system is a genV2 VMware Photon OS (Azure) flavor.

[code]

[2021-11-03 10:37] asergaz commented on #83062
Hello @jeevannagvekar ,

I have looked at the different examples we have, including [Azure IoT Edge for Industrial IoT sample](https://github.com/Azure-Samples/iot-edge-for-iiot) and usually there is only **one** Container Registry. Depending on your scenario it may make sense you have more than one, and in that case your understanding is correct - I cannot confirm if this is supported and best pr

[2021-11-03 10:37] SumanthMarigowda commented on #83295
@lunar87 Thanks for the question! We are investigating and will update you shortly.

[2021-11-03 11:16] holgerl-msft opened #83320 "Suggest to add additional question to FAQ about maintenance failover"
This comes from a support case, where the customer was surprised to have their workload interrupted by planned maintenance. The expectation was that Hyperscale was for resource-intensive workloads and they saw "resource-intensive" in correlation with "long-running transactions".

The suggestion is to add a question/answer like the following:

Q: Is Hyperscale suited for resource-intensive, long-ru

[2021-11-03 11:20] KalyanChanumolu-MSFT commented on #83265
@JohnHowellAtTrupanion Thank you for taking the time to submit feedback and helping us improve our documentation.
Yes, it could save some time for beginners with PowerShell.
I have submitted a PR to update the doc accordingly. The changes should be live in a day or so.

We will proceed to close this issue now.

[2021-11-03 11:20] #83265 closed

[2021-11-03 11:32] Genuineh opened #83321 "Problem about Meters/tile side"
[Enter feedback here]

Hello, I want to konw the relationship between tile side and the distance about tile WGS84 proint, but I'm not good at map and English, so please bear with me.

### Example
**tile size**: 256
**zoom level**: 17
**tile side**: 305.748
[WGS84]
**lon**: 113.94955717941444
**lat**: 22.550722589903025

**boundingbox**
[calculate by function "TileXYToBoundingBox" that in sample co

[2021-11-03 11:48] KalyanChanumolu-MSFT commented on #83020
@upstream-dmahlberg This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-11-03 11:54] vipulsparsh commented on #83312
@blackchoey Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-11-03 12:01] 72gm commented on #83214
Hi @kengaderdus ,

The original response covered most of what I already had - and I also know how to do Auth code flow. These samples are just generic B2C samples.

My original question,  "I want the Azure B2C to validate this value", was what I was looking for a sample for and yes Api connectors are part of this. There are so many different articles on every little piece of Azure B2C, some are ou

[2021-11-03 12:08] ShaikMaheer-MSFT commented on #83316
@vidarbms Thank you for sharing  your feedback. We are validating it. We will get back to you soon.

[2021-11-03 12:18] #82154 closed

[2021-11-03 12:38] ibrahimuludag opened #83322 "Documentation contains obselete methods and properties"
The documentation contains obsolete methods and properties. For C#,

- creating a new instance is obsolete
- sample.Value is obsolete, instead use sample.Sum

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 401d2997-0fbd-7966-8996-edbaab1819ff
* Version Independent ID: c3ee3318-4c69-8ded-a8d5-5059d

[2021-11-03 12:38] kozloffj opened #83323 "Possible mistake in section header for Capacity Planning of SQL (CORE) API"
I believe there is a small mistake in the sub-section header found in the SQL (CORE) API. Anchor is - https://docs.microsoft.com/en-us/azure/cosmos-db/choose-api#capacity-planning-for-migration-to-api-for-mongodb

The sub-section header says:

Capacity planning for migration to API for MongoDB

But this is for SQL (CORE) topic not MongoDB, so proper header should be:

Capacity planning for migrati

[2021-11-03 12:55] taukhan-ace opened #83324 "Customer is requesting to update this public documentation with examples on encrypting the ADF using PowerShell/ CLI commands"
[Enter feedback here]

UBS is one of the top azure customer and has provided feedback for updating the documentation with examples on how they can achieve ADF encryption by CMK via PowerShell
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8571ca06-129a-58b7-92be-dc680acb835f
* Version Independent ID: 9bd22daf-eb91-b509-

[2021-11-03 13:03] LoW0lf opened #83325 "Azure B2C Custom Policy: SubJourneys Block missing in schema definition of TrustFrameworkPolicy"
The TrustFrameworkPolicy block also supports a [SubJourneys](https://docs.microsoft.com/en-us/azure/active-directory-b2c/subjourneys) Block, this is missing in the schema definition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 578ef1cc-087a-8f03-ec33-5c451e778d84
* Version Independent ID: 42b674d2-5a04-4fac-d913-d81

[2021-11-03 13:19] heinrich-ulbricht commented on #43248
Ran into this today as well.

[2021-11-03 13:22] BhargaviAnnadevara-MSFT commented on #83247
@tony21921 Hope the above inputs help. We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-11-03 13:22] #83247 closed

[2021-11-03 13:25] mlevin19 opened #83327 "Wrong field name in Gremlin query (issue # 82532)"
Here is screenshot of documentation page (How to query graph data in Azure Cosmos DB? | Microsoft Docs) :

Projection
You can project certain properties in the query results using the values step:

g. V().hasLabel( person' ) . values( '**firstuame**' )

In SampleDB that created by service, Person item does not have field 'firsName" but does have a field **'name'**

The statement in the documentati

[2021-11-03 13:30] georgewallace commented on #83313
@nth-block This content is auto-generated from source files so if I make a change it will be overwritten. I will share your feedback with the team though.

[2021-11-03 13:35] Klaas- opened #83328 "Online Resize"
Hi,
I think you should update the docs to reflect the online resize possibilities:
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/expand-disks#expand-a-disk-partition-and-filesystem

You can change the partition while it's mounted, you may need to reload the partition table using partx or something similar. Also you should mention lvm, the rhel/centos images use that by default and

[2021-11-03 13:50] amsliu commented on #65294
@nielsophey Thank you for the feedback and we sincerely apologize for the delayed response. I have raised your concern with the product team and received the following clarification: "PIM does not actually check that a user has an assigned license before they perform one of those listed tasks.  The sentence is correct, to make sure you are in compliance you just need to make sure you have enough l

[2021-11-03 13:50] #65294 closed

[2021-11-03 13:56] david-okeefe opened #83330 "Missing ACU values"
This page is missing the VM's ACU value and prevents comparison of the CPU performance of this generation of VMs to previous generations of VMs.  Please also add ACU values for the AMD Dv5 VMs to their respective pages as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06761944-b658-9f22-05f4-f27a418a0221
* Versio

[2021-11-03 14:00] VladislavKoldobskiy commented on #42614
@hilari0n @drmiru Appreciate your feedback. My comment was relevant at the time of writing, and based on internal communications with Azure VPN PMs. There was an ongoing work for B2B users support, as there was a lot of customers requiring that functionality. I am no longer working at Microsoft, so cannot comment whether or not this work has been completed. If that works now, I'm happy it does.

[2021-11-03 14:05] et1975 opened #83331 "Limitations"
Since this is a Preview I'm assuming certain features available in other Compute offerings are not supported, would be good to list them.

Specifically I'm looking for VNET and Managed Identity support.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b538bac-a780-0c21-c859-7d727d2cc6cf
* Version Independent ID: 2511c0e

[2021-11-03 14:09] beckerrobin opened #83332 "Monitor Azure B2C"
I'm trying to setup monitoring from a B2C tenant, via Azure Monitor in the "parent" tenant.
When clicking on Diagnostic Settings in the B2C AD I get the message:

After following the guide (tried it twice) I seem to be stuck on step 5. After doing steps 1-4 I still get the same message as above, even after waiting for 24+ hours, signing out and in, switching between tenants. Haven't found any solu

[2021-11-03 14:15] Plus3IT-Azure commented on #82759
Thank you. Will do.

[2021-11-03 14:19] pieofcode opened #83333 "Activity Type properties in the example needs to be updated"
[Enter feedback here]

The activity type properties errorCode and message values need to be swapped. In the example,
"typeProperties": {
        "message": "500",
        "errorCode": "My Custom Error Message"
}

It should be
"typeProperties": {
        "message": "My Custom Error Message",
        "errorCode": "500"
}

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2021-11-03 14:30] jasonfritts opened #83334 "Script references to deprecated AAD graph api graph.windows.net"
The powershell script mentioned in "Script and Readme to pull Azure AD B2B users on-prem.zip" uses the deprecated\legacy AAD graph api graph.windows.net and need to be updated to use Microsoft Graph graph.microsoft.com or removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8e1cf65-2201-42ab-7513-de1833ad1c66
* Ver

[2021-11-03 14:33] MonikaReddy-MSFT commented on #83309
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-11-03 14:42] ricred commented on #44425
Any news on this issue ?

[2021-11-03 14:42] doughernand opened #83337 "E104s_v5 uncached burst iops is incorrect"
E104s_v5 burst is lower than the unburst value. I'm guess this is just a typo.

Max uncached disk throughput: IOPS/MBps
120000/4000 |

Max burst uncached disk throughput: IOPS/MBps
80000/4000

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88d7c5fb-3196-4bb8-1141-76f6b15a673c
* Version Independent ID: 18571a8a-502b-22d0

[2021-11-03 14:46] #35528 closed

[2021-11-03 15:01] dgpoulet opened #83338 "Contradictory Guidance on what happens in Read Region Outages"
The guidance on what happens when a read region fails in multi-region scenarios has some seemingly contradictory advice.

In the section titled "Multi-region accounts with a single-write region (read region outage)" it says:

"Azure Cosmos accounts using strong consistency with three regions (one write, two read) will maintain write availability during a read region outage. _For accounts with two

[2021-11-03 15:16] MarileeTurscak-MSFT commented on #83334
@jasonfritts
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-03 15:35] priyankareddy20 opened #83340 "Provisioning Tab and Start and stop provisioning settings in the new UI in Enterprise applications UI has been changed."
Provisioning Tab and Start and stop provisioning settings in the new UI in Enterprise applications UI has been changed.It doesn't match with the video uploaded in the document.I dont see the option of mappings and synchronize Azure AD users.

![Issue](https://user-images.githubusercontent.com/64882717/140092027-851e62f2-86ef-4558-9b82-31195f3bf3d1.JPG)

---
#### Document Details

⚠ *Do not edit th

[2021-11-03 15:36] ram-msft commented on #83242
Raised the Pull  request #https://github.com/MicrosoftDocs/azure-docs-pr/pull/178498 to add hyperlink to the text: Container: Translate.

[2021-11-03 15:39] duongau commented on #73259
@JustinGrote please see: https://docs.microsoft.com/en-us/azure/route-server/route-server-faq#can-i-use-azure-route-server-to-direct-traffic-between-subnets-in-the-same-virtual-network-to-flow-inter-subnet-traffic-through-the-nva. I tied the PR that published your question to this GitHub issue so you could see it was merged. Please let me know if you have any further concerns.

[2021-11-03 15:40] priyankareddy20 opened #83341 "Mapping feature and Start or Stop sync is missing in the new UI experience"
![Issue](https://user-images.githubusercontent.com/64882717/140093355-0835b165-8c36-4368-b6fb-3d9ccc5f5a51.JPG)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 624be0a5-9ab6-ec59-e7a2-74585cb0571e
* Version Independent ID: a00a09c8-f0c5-2bfe-75aa-6183346af405
* Content: [Tutorial: Configure Salesf

[2021-11-03 15:53] ShaikMaheer-MSFT commented on #83315
@chpouls Thank you for sharing your feedback. We are actively validating it. We will share updates soon.

[2021-11-03 15:53] PatricSten opened #83342 "recreation of the connection is not needed anymore?"
Hi!

There used to be a step regarding recreatation of the connection in order to negotiate the modified prefixes in local network gateway in a Site 2 Site.

Is this not needed any more?
Br
Patric

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ae745d8-584a-47f6-043a-e761032c6b90
* Version Independent ID: 2b604854-feb4

[2021-11-03 15:54] ShaikMaheer-MSFT commented on #83324
@taukhan-ace Thank you for sharing your feedback. We are actively validating it. We will share updates soon.

[2021-11-03 15:57] jikuja opened #83343 "Azure resource log documentation links to azure updates site instead of list of supported resouces"
Collection mode section(https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/resource-logs#select-the-collection-mode) has following text

Instead of embedding the Azure Update blog link, the page should have a link to a list of resources supporting `collection mode` / `destination mode` switch or a list of supported resources.

The page that should be linked to is probably https://docs

[2021-11-03 16:11] diberry commented on #83224
@bencb13 I've discussed this with the team and the feedback is that the suggester isn't used or used correctly. #in-progress

[2021-11-03 16:18] JamesTran-MSFT commented on #83325
@LoW0lf
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-03 16:20] JamesTran-MSFT commented on #83332
@beckerrobin
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-03 16:21] JamesTran-MSFT commented on #83340
@priyankareddy20
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-03 16:28] SaiKishor-MSFT commented on #83318
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-11-03 16:29] SaiKishor-MSFT commented on #83342
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-03 16:29] brianlehr commented on #82944
@B16111701 You are correct - it appears this is an oversight in the PowerShell - though note the commands would only "take" if there are no rules associated with the gateway.  For now, the docs are correct and this is not supported.

For the future:
- AppGW team will take action item to update the PowerShell so these commands give appropriate error when used.  (cc @JackStromberg)
- The ability to

[2021-11-03 16:46] ptemmer commented on #64660
The VNET is in the webapp subscription

On Mon, 1 Nov 2021 at 14:32, Mads Damgård ***@***.***> wrote:

[2021-11-03 16:47] Oury-MSFT commented on #83320
@holgerl-msft Thank you for your feedback. I will check with the author and get back shortly.

[2021-11-03 16:49] WilliamDAssafMSFT commented on #82599
#please-open

[2021-11-03 16:51] csahut opened #83346 "Script fails with multiple public IPs"
Hi,

I tested this script on a public load balancer with 2 basic public ips, and it failed. Is it a tested scenario and supposed to work ? (and I'm doing something wrong ?)
If it's not supposed to work, I think it should either be improved or this should be mentioned in the limits on this page: https://docs.microsoft.com/en-us/azure/load-balancer/upgrade-basic-standard

Thanks!

Set-AzPublicIpAddr

[2021-11-03 16:59] Oury-MSFT commented on #83323
@kozloffj  Thanks for the feedback. We are reviewing his and will get back shortly.

[2021-11-03 17:01] Oury-MSFT commented on #83327
@mlevin19 Thanks for the feedback. We are reviewing this and will get back shortly.

[2021-11-03 17:19] MartinJaffer-MSFT commented on #83333
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-11-03 17:25] JamesTran-MSFT commented on #83341
@priyankareddy20
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

![image](https://user-images.githubusercontent.com/36619112/140152499-2826862b-25e8-4b22-8d53-a82a1e4bc69a.png)

[2021-11-03 17:31] MartinJaffer-MSFT commented on #83333
Thank you for pointing this mistake out and helping us improve the docs @pieofcode .
I have created a pull request to fix it after Ignite.

[2021-11-03 17:31] #83333 closed

[2021-11-03 17:45] MonikaReddy-MSFT commented on #83343
@jikuja - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-11-03 17:47] MonikaReddy-MSFT commented on #83343
@jikuja - Thanks again for bringing this to our attention. We have updated the Doc to reflect the list of supported resources as well and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-03 17:47] #83343 closed

[2021-11-03 17:48] gugovind commented on #83313
<html>
<body>

Registry Hive | HKEY_LOCAL_MACHINE
-- | --
Registry Path | Software\Policies\Microsoft\Windows\WinRM\Client
Value Name | AllowDigest
Value Type | REG_DWORD
Enabled Value | 0
Disabled Value | 1

</body>
</html>

[2021-11-03 17:55] MicrosoftGuyJFlo commented on #77874
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are closing this issue for now, but if you feel that it's still a concern, please respond and let us know. If you determine another possible update to our documentation, please don't hesitate to reach out ag

[2021-11-03 17:55] #77874 closed

[2021-11-03 17:59] JamesTran-MSFT commented on #83258
@dominikhoefling
Thank you for pointing this out!

From your security center recommendation - `Azure and hybrid machines: Deploys vulnerability assessment to your Azure and hybrid machines.` this should be referencing the [Qualys vulnerability scanner for Azure and hybrid machines](https://docs.microsoft.com/en-us/azure/security-center/deploy-vulnerability-assessment-vm).

However, after looking a

[2021-11-03 18:10] dlepow commented on #80370
@stewartadam - Thanks for your feedback, and apologies for the slow response. I agree that more information about the zone and creating the records could be added. I logged your request and will consider when we next update this article.

You mention "five private DNS zones are required". I don't believe this is the case, since you can expose the APIM service endpoints using a [custom domain](http

[2021-11-03 18:17] csahut commented on #83346
To give you an idea of what's wrong: I fixed it by adding this to line 129:
 $lb.FrontendIpConfigurations[$pipcount - 1].PublicIpAddress = $basicPIP

There is probably a cleaner way to do this but I had to get it fixed quickly. $lb object is not properly updated with second (and probably next) public IPs.

[2021-11-03 18:28] curtand commented on #77964
Hi @JustinGrote
Thanks for your attention! Right now, both the Active and Approval articles look correct. If there was some sort of error before, it's fixed now.
https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/pim-how-to-activate-role
https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/azure-ad-pim-approval-workflow

If you

[2021-11-03 18:36] thisisanniefang commented on #81893
#please-close

[2021-11-03 18:36] #81893 closed

[2021-11-03 18:37] thisisanniefang commented on #82207
#please-close

[2021-11-03 18:37] #82207 closed

[2021-11-03 18:39] brianlehr commented on #82944
#please-close

[2021-11-03 18:39] #82944 closed

[2021-11-03 18:55] dominikhoefling commented on #83258
Hi James,

It's easier providing a screenshot:
[cid:1072f28b-14d3-4e80-8c0b-febcde13aec0]

The link in the description of "Vulnerability assessment for machines (preview)" Auto-deploy agents for Microsoft Defender for Cloud | Microsoft Docs<https://docs.microsoft.com/en-us/azure/security-center/enable-data-collection?WT.mc_id=Portal-Microsoft_Azure_Security> should also mention, that Azure Arc mac

[2021-11-03 19:00] stewartadam commented on #80370
You're right about the custom domain, but the docs show both approaches (default hostnames and custom hostnames), so I don't think the ability to use custom hostname should preclude docs for the default hostnames :)

[2021-11-03 19:07] Svijay-msft commented on #83123
Hello  @DmitriyAlergant-T1A-Rogers

Thanks for getting back on this. The document you've shared is about the Execute Pipeline Activity - This is a high level documentation which talks about the activity at a generic level - applicable to even ADF without CI/CD Development life cycle.

However, there is a note in this [document ](https://docs.microsoft.com/en-us/azure/data-factory/iterative-develop

[2021-11-03 19:11] blackadi opened #83353 "The identity provider configurations will be removed onced we configure App Service to return a usable access token"
When configure App Service to return a usable access token as documented [here](https://docs.microsoft.com/en-us/azure/app-service/tutorial-auth-aad?pivots=platform-linux#configure-app-service-to-return-a-usable-access-token). The frontend identity provider will be deleted from the azure portal as follow:

Executing the following command:
![image](https://user-images.githubusercontent.com/16793335

[2021-11-03 19:15] dloder0 opened #83354 "Missing a reference for how to set the extension attribute values on devices"
The main example is to filter on SAW devices using extensionAttribute1 with a specific value.  But there's no reference for how to set such a value.  I believe MS Graph is the only method currently available to set it.  There should be a link to a doc that talks about setting the values.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2021-11-03 19:20] GoPlanetRW opened #83355 "Multi-Factor Authentication menu is now Per-User MFA."
[Enter feedback here]

There are multiple references to a menu item called Multi-Factor Authentication on this page.  One such entry can be found Here: https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-mfasettings#enable-and-disable-verification-methods

The item name has changed.  It now says Per-User MFA at the top of this page.  The other menu item no longer exist

[2021-11-03 19:32] MarileeTurscak-MSFT commented on #83355
@GoPlanetRW
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-03 19:42] MarileeTurscak-MSFT commented on #83207
Since this is more of a product question than documentation feedback, I would recommend reaching out on Microsoft Q&A for this question. https://docs.microsoft.com/answers/topics/azure-active-directory.html

[2021-11-03 19:42] #83207 closed

[2021-11-03 19:43] DerekHerman-MSFT commented on #83119
@mirek I confirmed that blobfuse should be compatible with RHEL 7.9. RHEL 7.9 was released after RHEL 8 which is why it hasn't been added to the list. If you run into any issues please report them on https://github.com/Azure/azure-storage-fuse/issues

[2021-11-03 19:43] #83119 closed

[2021-11-03 19:51] mirek commented on #83119
cc ~@mirek~ @rnirek

[2021-11-03 20:00] mirsky72 opened #83356 "This functionality is not showing up in either Synapse or Azure Data Factory. Binary transfers are all resulting in octet-streams. Because of this the compression of a gzip, on which I believe ADF depends, does not appear to work."
[Enter feedback here]
This functionality is not showing up in either Synapse or Azure Data Factory. Binary transfers are all resulting in octet-streams. Because of this the compression of a gzip, on which I believe ADF depends, does not appear to work. #83356

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f46fe2f9-8db5

[2021-11-03 20:04] larryclaman opened #83357 "Document references a feature "to be fixed Q1CY2021""
In the FAQ document at https://docs.microsoft.com/en-us/azure/aks/troubleshooting#my-watch-is-stale-or-azure-ad-pod-identity-nmi-is-returning-status-500, it says "...you may encounter this issue as the long lived TCP connections via firewall using Application Rules currently have a bug **(to be resolved in Q1CY21**)".

As it's well past Q1CY21, could you please update the FAQ with a newer status o

[2021-11-03 20:05] Grace-MacJones-MSFT commented on #83331
Thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2021-11-03 20:21] SaiKishor-MSFT commented on #83091
@svdHero The Feedback page does link to https://feedback.azure.com/d365community/forum/8ae9bf04-8326-ec11-b6e6-000d3a4f0789

[2021-11-03 20:21] #83091 closed

[2021-11-03 20:27] JamesTran-MSFT commented on #83354
@dloder0
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-03 20:48] SnehaGunda commented on #82438
The above PR clarified this issue. Closing it now.

@Oury-MSFT don't forget to close an issue if you addressed it.

#please-close.

[2021-11-03 20:48] #82438 closed

[2021-11-03 20:59] SnehaGunda commented on #82043
@anumalasri The RU/s charge or the cost of operations for both versions is the same. We don't have any cost comparison content because the total cost depends on your workload type and the type of queries you are running. The 4.x offers better performance & offers efficient storage & query performance.

[2021-11-03 21:04] MarileeTurscak-MSFT commented on #83355
Thank you! I made a pull request to update the text. https://github.com/MicrosoftDocs/azure-docs-pr/pull/178573

@justinha

[2021-11-03 21:04] #83355 closed

[2021-11-03 21:05] pieofcode commented on #83333
Awesome. Thanks!

[2021-11-03 21:11] SnehaGunda commented on #82043
#please-close

[2021-11-03 21:11] #82043 closed

[2021-11-03 21:17] SnehaGunda commented on #82258
@yanfang-ma thanks for pointing out, the video is no longer available. There are docs corresponding to those tools. I updated the links in the above PR. Closing this issue now.

#please-close

[2021-11-03 21:17] #82258 closed

[2021-11-03 21:30] SnehaGunda commented on #80132
@aelij Thanks for the feedback, I made some updates in the above PR. Changes will go live today. Closing this issue now.

#please-close

[2021-11-03 21:30] #80132 closed

[2021-11-03 21:46] MartinJaffer-MSFT commented on #83185
Thank you for your feedback. This has been assigned to the content owner, @lrtoyou1223 , and will be updated as appropriate.

[2021-11-03 21:47] april-zhm opened #83358 "How to configure run after in the new designer"
This article uses images with the old designer UI. I can't find the same option in the new designer.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8551e683-2c57-258d-c3ec-5b33d709b053
* Version Independent ID: b2bc0287-88c2-2b9a-30da-799d052cad82
* Content: [Handle errors and exceptions in workflows - Azure Logic Apps]

[2021-11-03 21:48] SnehaGunda commented on #81211
@stoicalpirate thank you, I fixed in the above PR. We will close this issue now.

#please-close

[2021-11-03 21:48] #81211 closed

[2021-11-03 21:49] SnehaGunda commented on #78247
The loc content was fixed, we will close this issue now.

#please-close

[2021-11-03 21:49] #78247 closed

[2021-11-03 22:31] diberry commented on #83224
@bencb13 Can you check your Search resource in the [Azure portal](https://portal.azure.com) to see if your index has suggesters listed?

![image](https://user-images.githubusercontent.com/41597107/140208281-2ad1c58d-5ed4-4fec-87cb-0bfc1e77e21a.png)

[2021-11-03 22:36] baardhermansen opened #83361 "Wrong statement regarding VMware vCenter statistics level?"
On this web page it states

whereas in the output file CapacityPlanner<date>.log, i get the following error message:

Seems then that the info on the page is wrong, no?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa9a9a9e-e47f-2c35-752e-4d026f0fca93
* Version Independent ID: c23d2cb9-c2d0-505c-5a58-53074fcd373b
* Co

[2021-11-03 22:52] bencb13 commented on #83224
@diberry I checked and they're not checked. How should I go about activating them, or is that only a paid feature?

[2021-11-03 23:08] RyanHill-MSFT commented on #83353
Thanks for the feedback! We are currently investigating and will update you shortly. [@blackadi](https://github.com/blackadi), could you further elaborate on the experience you see when you say 

&gt; Which will cause the app to crash!

Can you describe the experience? In you last screen shot, I couldn't see the response information, too fuzzy.

[2021-11-03 23:24] diberry commented on #83224
@bencb13 Can you re-upload your index - try changing your upload_schema line (59 or around there) to the following and let me know how it goes:

[code]

[2021-11-03 23:29] GiftA-MSFT commented on #83321
@Genuineh we'll review your feedback and get back to you shortly. Thanks.

[2021-11-03 23:31] GiftA-MSFT commented on #83322
@ibrahimuludag we'll review your feedback and get back to you shortly. Thanks.

[2021-11-03 23:33] GiftA-MSFT commented on #83328
@Klaas- we'll review your feedback and get back to you shortly. Thanks.

[2021-11-03 23:34] GiftA-MSFT commented on #83330
@david-okeefe we'll review your feedback and get back to you shortly. Thanks.

[2021-11-03 23:35] GiftA-MSFT commented on #83337
@doughernand we'll review your feedback and get back to you shortly. Thanks.

[2021-11-03 23:37] GiftA-MSFT commented on #83338
@dgpoulet we'll review your feedback and get back to you shortly. Thanks.

[2021-11-03 23:39] GiftA-MSFT commented on #83346
@csahut we'll review your feedback and get back to you shortly. Thanks.

[2021-11-03 23:46] w3bward opened #83363 "PowerShell example does not work on Server 2016 or later"
The PowerShell example to enable "Pre-download updates" does not work on Windows Server 2016 or later despite explicitly saying that it does. The save method doesn't do anything as of server 2016 per the Microsoft documentation [here](https://docs.microsoft.com/en-us/windows/win32/api/wuapi/nf-wuapi-iautomaticupdatessettings-save).

Please provide an up to date example of the recommended way to co

[2021-11-03 23:48] chpouls opened #83364 "Where is healthcare template?"
Hello
Howcome healthcare is not in the list? I can see healthcare entities in the screenshots, like Patient/Encounter etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f11b1ecf-be34-eb9b-a496-1d6d0e2926ce
* Version Independent ID: 553a3db4-3b66-2ea2-3c59-147992a8cd4a
* Content: [Overview of Azure Synapse database tem

[2021-11-03 23:51] hpsin commented on #83302
Thanks - I think it should be this link, do you agree @owen-up ?
https://docs.microsoft.com/azure/active-directory/manage-apps/what-is-access-management#requiring-user-assignment-for-an-app

[2021-11-03 23:55] mksuni commented on #71525
@theav8or  Please refer to the doc https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/tutorial-webapp-server-vnet for VNET scenarios which includes the app setting mentioned in your comments.  For simplicity we are moving Django doc to redirect to https://docs.microsoft.com/en-us/azure/app-service/tutorial-python-postgresql-app which uses public access

[2021-11-04 00:22] GiftA-MSFT commented on #82899
@AlbinCederblad can you please review above feedback? Thanks.

[2021-11-04 00:38] #74957 closed

[2021-11-04 00:43] dargilco opened #83366 "Fix slash in "C:\Users\username/.ssh/id_rsa""
The pages says "for example C:\Users\username/.ssh/id_rsa". Looks like this needs to be fixed as I see both forward and backwards slash.

Darren

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33cf041a-95dd-6332-52bf-6a71d3767bb8
* Version Independent ID: 96efc8cf-53e0-8a1c-fcf2-122f1b50b152
* Content: [Use SSH keys to

[2021-11-04 01:31] mike-urnun-msft commented on #83358
Hello @april-zhm - Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-11-04 01:55] AdamDube opened #83367 "Section - "Detach a data disk" - Get-AzVM shown instead of Get-AzDisk cmdlet"
[Enter feedback here]
Hello,
Thank you for the tutorial. I just want to point out a small copy-paste error in the section "Detach a data disk", in the sub-section #2 : "_Select the disk you want to remove with the Get-AZDisk cmdlet_".
The CmdLet show below use Get-AzVM instead of the Get-AzDisk.
So instead of the
[code]

I beleive the code might be :
`$disk=Get-azdisk -ResourceGroupName $azResourc

[2021-11-04 02:42] v-sashig opened #83368 "The document needs correction"
Pay-as-you-go invoice payments and CSP program
The original reservation purchase invoice is canceled and then a new invoice is created for the refund. For exchanges, the new invoice shows the refund and the new purchase. The refund amount is adjusted against the purchase. If you only refunded a reservation, then the prorated amount stays with Microsoft and it's adjusted against a future reservatio

[2021-11-04 03:03] FabianGonzalez-MSFT commented on #82566
#sign-off

[2021-11-04 03:04] FabianGonzalez-MSFT commented on #82566
@shashishailaj May I have an update on this, please?

[2021-11-04 03:06] FabianGonzalez-MSFT commented on #82567
#sign-off

[2021-11-04 03:06] FabianGonzalez-MSFT commented on #82567
@shashishailaj @msmbaldwin Any update on this one, please?

[2021-11-04 03:24] aakash-shah opened #83369 "Bold Text Not Very Clear"
Under "Passwordless authentication scenarios", it says "Our recommendations are in bold". The bold text is hard to distinguish from the regular text. Please consider a different method to show the bold text.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f8368ab-5081-7c09-d7cd-8fff29804f3f
* Version Independe

[2021-11-04 03:41] nth-block commented on #83313
This is actually confusing as the ValueName and the Setting name are negations of each other. Need to have a fine eye to catch that and an even keener eye to not mess that up during implementation!

[2021-11-04 03:41] #83313 closed

[2021-11-04 03:52] ManuInNZ commented on #67548
Hi

Is it not possible to specify a secondary fog name ?
I am configuration a Power BI data gateway to access the SQL servers using PEPs but the connection seems to be successful only when using the fog primary (R/W) endpoint.
Yet ideally I would like PBI to use the secondary (R/O) endpoint.

my DNS private zone (privatelink.database.windows.net) has 2 entries
sql1             A           10.1.0.2

[2021-11-04 04:09] YutongTie-MSFT commented on #83190
@AhmedAlmu Thanks for the feedback again, will update the document soon.

[2021-11-04 05:46] smuckwell opened #83370 "Update Blob SAS token for open data sets in sample"
To get the sample working I changed PySpark code in the first cell from:
  blob_account_name = "azureopendatastorage"
  blob_container_name = "citydatacontainer"
  blob_relative_path = "Safety/Release/city=Seattle"
  blob_sas_token = r"?st=2019-02-26T02%3A34%3A32Z&se=2119-02-27T02%3A34%3A00Z&sp=rl&sv=2018-03-28&sr=c&sig=XlJVWA7fMXCSxCKqJm8psMOh0W4h7cSYO28coRqF2fs%3D"

to:
  blob_account_name = "az

[2021-11-04 05:48] ManuInNZ commented on #67548
@adstuart not sure if you have a solution for the above?
Cheers

[2021-11-04 06:07] kobulloc-MSFT commented on #83366
@dargilco Thank you for bringing this to our attention!  We are investigating this and will get back to you shortly.

[2021-11-04 06:09] kobulloc-MSFT commented on #83357
@larryclaman Thank you for bringing this to our attention.  I've assigned this to the document author for an update.

[2021-11-04 06:26] AhmedAlmu commented on #83190
@YutongTie-MSFT Thank you for the update and your effort on this.

[2021-11-04 06:42] kobulloc-MSFT commented on #83366
@dargilco It turns out that is actually correct--this is what the command looks like:

![image](https://user-images.githubusercontent.com/37556655/140268283-4011df37-0d67-4624-b649-0478c3fe659c.png)

**What is going on here?**
Windows actually allows the mixing of slashes (with some exceptions exceptions, like starting with a forward slash).  There is a good Stack Overflow writeup on this as well

[2021-11-04 07:20] falrnacn opened #83371 "Feature not visible in APIM"
Hi, I do not see the GraphQL option in 'Create New API'. Is this feature released? My resources are in 'West Europe' but i am working out of the Middle East.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e56a0c4-ddb8-4979-9458-13545a5cc69f
* Version Independent ID: fbd73f31-124f-5d54-0497-f507d1461c7d
* Content: [Imp

[2021-11-04 08:13] franzoir opened #83372 "Application Gateway - Custom error pages for HTTP504"
We're missing the possibility to fallback to a custom error page on backend timeouts.
Details about plans and timeline for this was requested earlier in #56448

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8876a502-81db-4ef1-9e22-ebff4a63cabe
* Version Independent ID: c9676383-40c2-44fc-2d26-ef571466712f
* Content: [C

[2021-11-04 08:18] AnuragSingh-MSFT commented on #83356
@mirsky72, Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-04 08:18] rbickel opened #83373 "Domain name already USED while trying to configure custom domain on 2 CDN endpoints"
While trying to add same custom domain for 2 different CDNs, following the cdnverify proposed strategy, I receive an error telling that a CDN is already configured with the FQDN. Seems this article was from a previous time when we could have 2 CDN endpoints with the same custom domain. Please confirm

![image](https://user-images.githubusercontent.com/11852796/140280188-19e5ba38-50fd-446b-abd1-617

[2021-11-04 08:21] rbickel commented on #83373
Oh, I missed this "Warning:"
"For implementing this fail over scenario both endpoints need to be in different profiles, and the different profiles should be by different CDN providers to avoid domain name conflicts."
I can close the issue then.
Best Regards,
Raphael

[2021-11-04 08:21] #83373 closed

[2021-11-04 09:21] shawncx opened #83374 "Create Container app with Dapr failed"
[Enter feedback here]

I am try to create container app by following https://docs.microsoft.com/en-us/azure/container-apps/microservices-dapr?tabs=bash#deploy-the-service-application-http-web-server  But it is failed with error message:

Deployment failed. Correlation ID: f1a763d0-4c12-4a60-8044-8827d9cd77ea. Failed to provision revision for container app 'nodeapp'. Error details: Code: 90715, Ext

[2021-11-04 09:23] s-spindler commented on #66402
@AshokPeddakotla-MSFT I'm facing the same issue (same error message) as @kumarallamraju.
Could you please specify which version of `az` and its extension needs to be used?
This is the output of my installation:
[code]
According to `az upgrade` there are no upgrades available.

[2021-11-04 09:40] KrishnaG-MSFT commented on #83363
@w3bward Thanks for your comment! We will review and provide an update as appropriate.

[2021-11-04 09:41] KrishnaG-MSFT commented on #83361
@baardhermansen Thanks for your comment! We will review and provide an update as appropriate.

[2021-11-04 09:43] KrishnaG-MSFT commented on #83368
@v-sashig Thanks for your comment! We will review and provide an update as appropriate.

[2021-11-04 09:54] ezYakaEagle442 opened #83376 "Add ARO as a K8S/container option"
why not to add Azure Redhat OpenShift  as a K8S/container option ?
Thank you,
Steve

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04491fb9-6ca7-c21a-5372-a966c8ee72be
* Version Independent ID: 97fa3784-c1b4-0097-1ec9-223edaa768bc
* Content: [Comparing Container Apps with other Azure container options](https://docs.mic

[2021-11-04 10:12] svdHero opened #83377 "Log Analytics VM Extension for Linux is not available"
I would like to enable logging for an Ubuntu 18.04 Virtual Machine hosted in Azure.
When I go to Azure Portal and click on "Settings --> Extensions" in the VM resource's left-handside menu bar and then on the "+ Add" button, the only extensions available are:

- Acronis Backup
- Agent for Cloud Workload Protection (Linux)
- Agent for Linux Server Monitoring
- Azure AD based SSH Login
- Azure Pipel

[2021-11-04 10:18] nkk1 commented on #81893
@thisisanniefang please do not close this, we never updated the doc or any clarification  for the original question

It would be great if you also mention why we can't have multiple SNAT IPs as soon as we allocate them (instead of waiting till the first SNAT IP is exhausted)

[2021-11-04 10:18] DylanPrinsITScripts commented on #65782
As workaround I first add the rules engine and then add the rule engine reference later.
I hope this problem is solved soon.

[2021-11-04 10:22] nkk1 commented on #82207
@thisisanniefang the issue is that the column name is not clear `Pool size (VM instances)`  does it mean "live instances" or  "max instances"

[2021-11-04 10:26] kylehwang commented on #61238
Same issue.

The query params seem nowhere to be found in the logs.

[2021-11-04 10:32] malhmoud-MSFT opened #83378 "Steps are missing, if you are a new user for Chaos"
Hello Team,

The portal does not show the ability to assign targets, after looking at it, it appears I did not have Microsoft.Chaos registered as an RP, I think it would make more sense to add that as a step, to tell the user to make sure that Microsoft.Chaos RP is registered on the subscription.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2021-11-04 10:58] Genuineh commented on #83321
@GiftA-MSFT Thanks. Look forward to your reply.

[2021-11-04 11:02] lulzzz commented on #10862
same issues as @jaydrue

[2021-11-04 11:06] sdiazben commented on #16473
The page appears as not found, are there any updates on the existence of this option?

[2021-11-04 11:12] squasta opened #83380 "some options are still not available"
the following command :

az aks create --resource-group myresourcegroup
    --name natcluster  \
    --node-count 3 \
    --outbound-type managedNATGateway \
    --nat-gateway-managed-outbound-ip-count 2 \
    --nat-gateway-idle-timeout 30

is not working with Azure CLI 2.9 with aks-preview extension version  0.5.39 because options --nat-gateway-managed-outbound-ip-count and  --nat-gateway-idle-ti

[2021-11-04 11:20] smorczak opened #83381 "Outdated command"
[Enter feedback here]

Looks like powershell command shown on page is not up to date
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9845f989-fdb0-d55f-df73-969b0ca2d06c
* Version Independent ID: 8562a607-1d01-c368-7000-b956f82af400
* Content: [Permissions to view and manage Azure reservations](https://docs.micro

[2021-11-04 11:26] derSchtefan commented on #82438
Thank you for updating the documentation. The new version explains this perfectly!

[2021-11-04 11:27] jbreunung opened #83382 "Example notebook is only working on clusters with version 6.4"
I was trying out the mlflow integration for R with different cluster configs (9.1 LTS ML, 8.3, 10.0 ML, 7.3 LTS) but the install_mlflow() command is always failing with an error message (different error messages depending on the cluster version) e.g.: for 9.1 LTS ML it is:
Error : Error installing package(s): 'mlflow==1.20.2'
Some(<code style = 'font-size:10p'> Error: Error installing package(s):

[2021-11-04 11:43] mikenri opened #83384 "Gateways are still running version 5.6 on port 3306"
This documentation states that gateways should be running 5.7 on port 3306 as 5.6 is no longer supported.
However this is incorrect, the standard port (3306) is still running 5.6.

Reference support case #2110260040006219

Support case #2103220040007636   indicated that gateways should have been upgraded from 5.6 to 5.7 by August or September 2021 however it seems that was not completed.

---
####

[2021-11-04 11:56] YusukeTobo opened #83385 "Please clarify the size of the container filesystem."
Like Windows, it would be nice if we could clarify the size of the container filesystem that varies by SKU in Linux.

I think some users wonder how much size of the filesystem they can utilize.

S1 is 29GB
[code]

P1V2 is 35 GB
[code]

In Windows, local disk size is described in the following document.
https://docs.microsoft.com/en-us/azure/app-service/operating-system-functionality#types-of-file-

[2021-11-04 12:20] Svijay-msft commented on #83123
We will close this out, but if you feel you need more information please just let us know.

[2021-11-04 12:20] #83123 closed

[2021-11-04 12:45] Nimleth opened #83387 "PaaS capacity in case of disaster recovery"
Hi,

In the paragraph "Cross Region Activities" you state "Azure Compute (IaaS) – You must provision additional compute resources in advance to ensure resources are available in another region during a disaster."

But what about PaaS compute, for instance Azure AppService? Do I need to provision those as well to ensure sufficient capacity or does Microsoft take into account that a paired region mu

[2021-11-04 12:58] dominicbetts commented on #83286
#reassign @sandeeppujar

Hi Sandeep - can you take a look at this question about telemetry payloads? Thanks.

@rido-min - this may be relevant for Plug and Play as well.

[2021-11-04 13:15] LeoTanoue opened #83388 "Azure ADB2C Send Grid integration"
Hi, the "Make a reference to the DisplayControl" section is missing DisplayName and Protocol sections, which throw an error because they are required for a Technical Profile. I'm actually having a hard time getting that part right, it's giving me an error.

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9db

[2021-11-04 13:22] FabianGonzalez-MSFT opened #83389 "Remove text saying Soft-delete can be disabled"
There's a line that says: "You can create a key vault without soft-delete through the Azure CLI or Azure PowerShell"

I recommend to **remove that text** since that ability has been deprecated time ago, please check this out:

https://docs.microsoft.com/en-us/azure/key-vault/general/whats-new#october-2020

Deprecated for CLI here: https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?

[2021-11-04 13:22] timoklimmer opened #83390 "AD pod identity not working for me"
I created a fresh AKS cluster via AML Studio and then followed the described steps. Unfortunately, authentication using the managed identity failed.

I assume this is because the AKS cluster had already a user-managed identity by default. When customers then go through the linked aad-pod-identity tutorial and create another identity, AKS/AAD does not know which identity to use for authentication.

[2021-11-04 13:30] melvincanafranca opened #83391 "Provide link or docs for encrypting the channel"
It says in the doc that the channel can be encrypted between the event grid and the service bus, event hub and storage account. Can we please include a link on how to implement the channel encryption for each of the services integrating with the event grid egress?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2117379b

[2021-11-04 13:36] timoklimmer opened #83392 "Azure SQL DB example"
Several customers want to connect to an Azure SQL DB from their score.py via managed identity. It would be good to have a description for Azure SQL DB in the article, too.

I was able to successfully connect using the following steps.

- setup an Azure SQL DB in a network that is reachable from the web service
- ensure that the Azure SQL DB has AAD authentication enabled
- configure the firewall s

[2021-11-04 13:43] Blackmist commented on #83390
Thanks for reporting this @timoklimmer . I've forwarded the information to the PM team and asked them to verify the information we currently have.

Once they have verified the correct steps, we will update the document.

[2021-11-04 13:47] timoklimmer commented on #83390
Thanks Larry, sounds good!

Von: Larry Franks ***@***.***>
Gesendet: Donnerstag, 4. November 2021 14:43
An: MicrosoftDocs/azure-docs ***@***.***>
Cc: Timo Klimmer ***@***.***>; Mention ***@***.***>
Betreff: Re: [MicrosoftDocs/azure-docs] AD pod identity not working for me (Issue #83390)

Thanks for reporting this @timoklimmer<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub

[2021-11-04 13:54] VitalyMCT commented on #64660
@madsd Regarding:

To clarify, would the same fix also prevent the Azure Portal from resetting the value to false? Currently many if not all changes made via the UI also reset the value to false, making the MI integration almost impossible to use.

[2021-11-04 13:56] #83144 closed

[2021-11-04 13:59] MartinJaffer-MSFT commented on #83031
Thank you for your feedback. This has been assigned to the @whhender  and will be updated as appropriate.

[2021-11-04 13:59] Blackmist commented on #83392
Thanks for the suggestion @timoklimmer

I've forwarded the ask to the PM team to see if this is something they want to prioritize for documentation. If it's approved, we'll create documentation for this scenario.

#content-suggestion

#please-close

[2021-11-04 13:59] #83392 closed

[2021-11-04 14:06] ssisjoost opened #83393 "error is last code block"
parquet_path in line 2 should be parquet_id

parquet_id = random.randint(0,1000)
parquet_path = "/parquet/parquet-table-{0}-{1}".format(session_id, **parquet_path**)
data = spark.range(0,5)
data.write.parquet(parquet_path)
DeltaTable.isDeltaTable(spark, parquet_path)
spark.sql("CONVERT TO DELTA parquet.`{0}`".format(parquet_path))
DeltaTable.isDeltaTable(spark, parquet_path)

---
#### Document Det

[2021-11-04 14:13] whhender commented on #78713
Yes! We are working on getting this added to the current documentation within these next weeks. I'll update here once they are included.

All the commands needed are included in the PowerShell reference (https://docs.microsoft.com/en-us/powershell/module/az.datashare/?view=azps-6.6.0) however, we should shortly have them added as steps to the Tutorial page.

[2021-11-04 14:18] savjani commented on #83384
Adding @Bashar-MSFT to help

[2021-11-04 14:52] litan1106 opened #83395 "Please add docs for Azure Container App on Azure pipeline"
Please add docs for Azure Container App on Azure pipeline

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd35737d-566a-1a5c-6b0b-c9fbc2cd4ed8
* Version Independent ID: fae96436-9730-460b-8c8e-9064a02cd970
* Content: [Publish revisions with GitHub Actions in Azure Container Apps Preview](https://docs.microsoft.com/en-us

[2021-11-04 14:59] fssh72 commented on #50333
Hi, I just found out that you can use shift+ctrl-v to past directly from Mac OS in to Linux via Bastion! (Please note the the shift)

[2021-11-04 14:59] GiftA-MSFT commented on #83367
@AdamDube we'll review your feedback and get back to you shortly. Thanks.

[2021-11-04 15:03] GiftA-MSFT commented on #83364
@chpouls we'll review your feedback and get back to you shortly. Thanks.

[2021-11-04 15:03] MonikaReddy-MSFT commented on #83381
@smorczak - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-11-04 15:04] GiftA-MSFT commented on #83369
@aakash-shah we'll review your feedback and get back to you shortly. Thanks.

[2021-11-04 15:06] GiftA-MSFT commented on #83370
@smuckwell we'll review your feedback and get back to you shortly. Thanks.

[2021-11-04 15:08] GiftA-MSFT commented on #83371
@falrnacn can you please share the doc you are refencing so we can assign the issue to the appropriate team? Since this is Azure Docs repo, we need a doc reference link to assign the issue. Thanks.

[2021-11-04 15:15] RyanHill-MSFT commented on #83385
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-04 15:22] dinoinyourhead commented on #77499
Unfortunately the documentation is still wrong! :-(

[2021-11-04 15:22] OverengineeredNetwork commented on #82039
So, **Enable Adaptive application controls** disappeared from my Advisor recommendations when I went to look today, but let me know where I need to go from here for

**Endpoint protection should be installed on your machines**
![image](https://user-images.githubusercontent.com/12820826/140348954-7a4a94a5-0e1f-4053-b119-149fbcdc4f8c.png)

**Azure Defender for SQL on machines should be enabled on yo

[2021-11-04 15:22] ismahernandez opened #83397 "Azure Monitor Diagnostic Settings Export Schema Missing"
Hi, I noticed there is nowhere mentioned here how the metrics are exported to the Azure Event Hub. By that I mean the format of the data received in the Event Hub, its Schema. It is documented for other kinds of Events like it is for resource logs: https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/resource-logs-schema
But not for this. Could it be possible to add this?

Thanks.

---

[2021-11-04 15:24] RazvanB-MS opened #83398 "Contradiction in statements"
hello,

In the article we say at one point :
"_Zero Trust networks eliminate the concept of trust based on network location within a perimeter._"

In the best practices part we have :
"Best practice: Give Conditional Access to resources based on device, identity, assurance, **network location**, and more."

For me it is confusing to mention network location in the best practices part.
I think we s

[2021-11-04 15:42] pjfontes opened #83399 "deleteDestination != delete-Destination"
this document shows "deleteDestination" _AND_ "delete-Destination" (wish a dash).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c02ef818-5e53-4582-43a8-22f9f2b2872d
* Version Independent ID: b8f45994-4ac2-f124-c613-b82316203b9f
* Content: [azcopy sync](https://docs.microsoft.com/en-us/azure/storage/common/storage-ref-

[2021-11-04 15:43] ronortloff commented on #82599
Hi @psyblade12, this issue open.  please see my previous comment.

[2021-11-04 15:46] MarileeTurscak-MSFT commented on #83389
@FabianGonzalez-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-04 15:53] JamesTran-MSFT commented on #83398
@RazvanB-MS
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-04 15:56] JamesTran-MSFT commented on #83388
@LeoTanoue
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-04 15:57] damendo commented on #77499
While a user with the _Reader_ role cannot enable Traffic Analytics, my understanding is that they can view the data and charts generated by it. I will confirm and add a clarification soon.

Thanks for spotting this!

[2021-11-04 15:57] MarileeTurscak-MSFT commented on #83389
Thanks Fabian! I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/178714

[2021-11-04 15:57] #83389 closed

[2021-11-04 16:32] Grace-MacJones-MSFT commented on #83376
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update this doc as appropriate.

[2021-11-04 16:34] thisisanniefang commented on #81893
@nkk1 As of yesterday, the documentation has been updated to include details on how ports are exhausted: https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-connections#what-are-snat-ports

I've closed the issue as the documentation has been updated, but more than happy to continue to clarify in the thread - apologies if the clarification that I provided wasn't clear, could

[2021-11-04 16:45] aramase opened #83400 "api version needs to be `v1` in SecretProviderClass"
The api version should be `secrets-store.csi.x-k8s.io/v1` in:
- the code snippet here: https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/aks/csi-secrets-store-driver.md#sync-mounted-content-with-a-kubernetes-secret
- In all the code snippets here: https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/aks/csi-secrets-store-nginx-tls.md

---
#### Document Details

⚠ *Do not

[2021-11-04 16:47] thisisanniefang commented on #82207
@nkk1 the table is only for default port allocation - since you're allocating ports manually, your limit is as you define it.  "Max instances" refers to the maximum numbers of instances you expect the LB to ever have in the backend pool.

The formula exists to help you compute the appropriate number of ports per instance to allocate when using manual port allocation - does this help clarify? The m

[2021-11-04 16:47] bandersmsft commented on #83135
https://github.com/MicrosoftDocs/azure-docs-pr/pull/178724
@mjisaak Hi there. Good question. Yes, if a group has Azure RBAC access, then PAL is recognized for all the users in the group. I've updated the article to add that point.

Thanks for asking and helping us improve the documentation.
#please-close

[2021-11-04 16:47] #83135 closed

[2021-11-04 16:51] tsubasaxZZZ opened #83401 "Error occurred after deploy a Dapr application to Azure Container Apps using an ARM template"
I get the following error from Python app when I follow the ARM template in the documentation.

[code]

I run the REST API from the Internet via Ingress instead of from the Python App, the error does not occur. In other words, the Node.js API is working correctly.

It seem to difference appId from ARM template(expect: nodeapp/actually: nodeapp--v2rqwyi-nodeapp) :
![image](https://user-images.githu

[2021-11-04 16:54] andrew-tevent opened #83402 "Clarify use of Function category between v1 and v2+"
https://docs.microsoft.com/en-us/azure/azure-functions/configure-monitoring?tabs=v2#configure-categories

The table in the Configure Categories section shows `Function` as an option for v1, but not in the v2 table - it only shows the `Function.<YOUR_FUNCTION_NAME>` categories.

However, subsequent host.json examples _do_ show `Function` being used in v2.   Can you clarify whether it is used in v2?

[2021-11-04 17:02] #83401 closed

[2021-11-04 17:04] himanshusinha-msft commented on #83382
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-11-04 17:05] himanshusinha-msft commented on #83393
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-11-04 17:20] YutongTie-MSFT commented on #83390
@Blackmist Hello Larry, are we good to close this issue or we need to keep it open?

[2021-11-04 17:20] jbreunung commented on #83382
I actually found the solution today: https://stackoverflow.com/questions/60641337/mlflow-r-installation-mlflow-python-bin
instead of using install_mlflow() the system variables can be set directly since mlflow is already installed by default:
Sys.setenv(MLFLOW_BIN=system("which mlflow", intern=TRUE))
Sys.setenv(MLFLOW_PYTHON_BIN=system("which python", intern=TRUE))

[2021-11-04 17:21] Blackmist commented on #83390
@YutongTie-MSFT We are good to close. I've mailed folks who can provide an answer and will make changes they suggest.

[2021-11-04 17:22] MladjoA commented on #82815
@itskritibhardwaj Hi Kriti, can you please let us know what type of Elastic query you are using, is it vertical partitioning (RDBMS type of external data source), or horizontal partitioning/sharding (SHARD MAP MANAGER type of external data source)?
Precise answer may depend on this.
Thanks,

[2021-11-04 17:37] #83400 closed

[2021-11-04 17:46] John-Garland opened #83404 "Azure Maps service supports Managed Identities but is not included in this page"
Note - the Azure Map Service supports Managed Identities, but is not included in this page. This is specified in teh Azure Maps documentation - https://docs.microsoft.com/en-us/azure/azure-maps/azure-maps-authentication#managed-identities-for-azure-resources-and-azure-maps

(Likely someone from Maps needs to be contacted to properly update their entry on this page)

---
#### Document Details

⚠ *D

[2021-11-04 18:07] stspinu opened #83405 "Update the Dependency Agent documentation and mention that kernel 5.8 is supported for Ubuntu 20.04"
Please update this part of the docs -> https://docs.microsoft.com/en-us/azure/azure-monitor/agents/agents-overview#dependency-agent-linux-kernel-support

The Dependency Agent supports kernel 5.8 for Ubuntu 20.04, while the article currently mentions that it only supports 5.4*
![image](https://user-images.githubusercontent.com/46924453/140395278-f66c681a-8e0f-4bcf-8585-e3f3f7684502.png)

---
#### D

[2021-11-04 18:16] ChaitanyaNaykodi-MSFT commented on #83152
Hello @gregt1234, I have reached to the team internally regarding this issue. I will make an update here as soon as we have a response. Thank you!

[2021-11-04 18:17] stspinu commented on #83398
I am curious about the outcome of this article. I personally don't see the statements in contradiction, but rather in <font color="green">complementation </font>. @RazvanB-MS

The Best Practices section uses the key word '**_and_**', which means that you should not allow access only based on network location, but rather on a combination of network location **_and_** other factors. The Zero-Trust p

[2021-11-04 18:21] Grace-MacJones-MSFT commented on #83395
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-11-04 18:28] svdHero commented on #83091
@SaiKishor-MSFT Thank you for your help. The feedback button is working now. It wasn't before. Nevermind.

[2021-11-04 18:34] ElanShudnow opened #83407 "Limitation of 2,000 VMs"
This article mentions, "The router in virtual hub supports up to 50 Gbps for VNet-to-VNet traffic flows and **assumes a total of 2000 VM workload across all VNets connected to a single virtual hub**."

It sounds like this is old information and needs to be updated.  The pricing page (https://azure.microsoft.com/en-us/pricing/details/virtual-wan/) mentions, "After the initial 2,000 VMs connected to

[2021-11-04 18:45] blackadi commented on #83353
@RyanHill-MSFT, the app will crash since the identity provider will be deleted for the frontend app, and 401 Unauthorized will be thrown when navigate to it, as shown below:
![image](https://user-images.githubusercontent.com/16793335/140393467-518ad1ac-0cf8-45a2-a807-3fbe1f049e82.png)

After re-configuring the frontend app identity provider authentication and authorization it will work, and also t

[2021-11-04 18:45] JamesTran-MSFT commented on #83404
@John-Garland
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-04 19:11] MikeBakerSAV commented on #18737
i'm currently suffering the "blocks outgoing internet traffic on subnet" issue;   inbound was fixed by ordering the rules correctly;  however outbound nsg rules don't work even open

[2021-11-04 19:15] ChaitanyaNaykodi-MSFT commented on #83372
Hello @franzoir
Thank you for your feedback! We will review and update as appropriate.

[2021-11-04 19:32] kmcneelyshaw opened #83408 "Template was not generated by provided raw code"
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/azure-portal/azure-portal-dashboards-create-programmatically#template-representation-of-our-example-dashboard is not strictly a templatized version of https://docs.microsoft.com/en-us/azure/azure-portal/azure-portal-dashboards-create-programmatically#template-representation-of-our-example-dashboard

The raw JSON has `"location": "eastasi

[2021-11-04 19:42] DerekHerman-MSFT commented on #83399
Thanks for point that out! I have created a PR and the changes should go live later today.

[2021-11-04 19:42] #83399 closed

[2021-11-04 19:45] ardacetinkaya opened #83409 "Miswriting in "Azure Key Vault Provider for Secrets Store CSI Driver" document"
The content in [Provide identity to access Azure Key Vault](https://docs.microsoft.com/en-us/azure/aks/csi-secrets-store-driver#provide-identity-to-access-azure-key-vault) part has miswriting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 409a3be9-4831-9401-0bb3-c65209bb3f42
* Version Independent ID: 4cf81213-5989-f36

[2021-11-04 19:51] Bashar-MSFT commented on #83384
This is fixed https://github.com/MicrosoftDocs/azure-docs-pr/pull/178770

Regarding gateways should have been upgraded from 5.6 to 5.7 by August or September 2021. We have limitation that 5.7 and 8.0 doesn't support private link yet due to a bug! once the bug is resolved we will upgrade the default version.

[2021-11-04 19:55] ChaitanyaNaykodi-MSFT commented on #83162
Hello @v-andrew,
If you run the command `Add-AzApplicationGatewayBackendHttpSetting` and set the setting to HTTPS and if you do not add any `-TrustedRootCertificate` the setting created is by default selects `Use well known CA certificate` as yes. Please see the example below.

![image](https://user-images.githubusercontent.com/67453298/140410177-0e8a1a06-4017-4673-ab4b-d87be8343066.png)

![image]

[2021-11-04 19:55] #83162 closed

[2021-11-04 20:04] GiftA-MSFT commented on #83374
@shawncx we'll review your feedback and get back to you shortly. Thanks.

[2021-11-04 20:05] GiftA-MSFT commented on #83377
@svdHero we'll review your feedback and get back to you shortly. Thanks.

[2021-11-04 20:06] ggailey777 commented on #83402
#assign:ggailey777

[2021-11-04 20:07] Bashar-MSFT commented on #83128
Hello @aleksy-zalenski this is done
https://github.com/MicrosoftDocs/azure-docs-pr/pull/178770

[2021-11-04 20:12] GiftA-MSFT commented on #83380
@squasta we'll review your feedback and get back to you shortly. Thanks.

[2021-11-04 20:15] GiftA-MSFT commented on #83387
@Nimleth we'll review your feedback and get back to you shortly. Thanks.

[2021-11-04 20:17] SaiKishor-MSFT commented on #83407
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-11-04 20:24] GiftA-MSFT commented on #83378
@malhmoud-MSFT we'll review your feedback and get back to you shortly. Thanks.

[2021-11-04 20:25] madsd commented on #64660
@VitalyMCT Yes, it is a backend change, so it applies to all usage scenarios.

[2021-11-04 20:36] rafalfitt opened #83411 ""we have a new MFA enablement wizard" - link is missing"
Please add the link
https://aka.ms/mfawizard

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4180415d-70f5-1ab2-408f-1f850c678829
* Version Independent ID: d868ad2e-b8fd-bd12-f843-be7a3be80aba
* Content: [Find and address gaps in strong authentication coverage for your administrators in Azure Active Directory](https://d

[2021-11-04 20:42] mike-urnun-msft commented on #83391
Hello @melvincanafranca - Thank you for your feedback! We will review and update as appropriate.

[2021-11-04 20:43] mike-urnun-msft commented on #83402
Hello @andrew-tevent - Thank you for your feedback! We have assigned this issue to the listed content author to review further and take the next course of action.

[2021-11-04 20:46] JamesTran-MSFT commented on #83411
@rafalfitt
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-04 20:58] mksuni commented on #70600
please close this issue. No action needed here

[2021-11-04 20:59] petertuton opened #83413 "Probably best to use 'AzureSQLEdge' instead of 'azuresqledge' in the example command"
In the section entitled, "Connect to Azure SQL Edge", the docker command is case sensitive, so if the reader uses the default value of the module, i.e., 'AzureSQLEdge', and they _also_ miss the comment about the module name being changed from the default to 'azuresqledge' (being a lowercase version of the default), they will receive an error when running the docker command provided.

To remove any

[2021-11-04 21:09] mksuni commented on #80568
working on a fix for the issues mentioned .

[2021-11-04 21:12] mksuni commented on #70203
I have looped in postgres team on this. I recommend to assign it to @sr-msft

[2021-11-04 21:13] mksuni commented on #70609
please close the issue as it is fixed

[2021-11-04 21:17] savjani commented on #81641
Adding @SudheeshGH

[2021-11-04 21:22] kobulloc-MSFT commented on #83366
@dargilco We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-11-04 21:42] #70600 closed

[2021-11-04 21:47] SatishBoddu-MSFT commented on #35528
#

[2021-11-04 21:53] mairaw commented on #74034
Thanks @mksuni!

[2021-11-04 21:59] dimadhus commented on #76534
@arunmahadevan
https://docs.microsoft.com/en-us/rest/api/mysql/singleserver/private-endpoint-connections
https://docs.microsoft.com/en-us/azure/private-link/

[2021-11-04 22:29] JamesTran-MSFT commented on #83332
@beckerrobin
Thank you for your time and patience throughout this issue!

I walked through the documentation and was able to see the diagnostic settings within my Azure Active Directory in my B2C tenant.
![image](https://user-images.githubusercontent.com/36619112/140428855-6383f173-f7b7-4a6b-9b2e-2adab79ba199.png)

As mentioned within the [GitHub issue](https://github.com/MicrosoftDocs/azure-docs/

[2021-11-04 22:29] #83332 closed

[2021-11-04 22:29] dimadhus commented on #81735
@gbsmith regular rotation of the keys automatically is not supported at this point is in Azure database for MySQL. You can change keys on the server manually. We are working towards building this capability in Azure database for MySQL - Flexible server.

[2021-11-04 22:32] JamesTran-MSFT commented on #83411
@rafalfitt
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-11-04 22:32] #83411 closed

[2021-11-04 22:41] rolyon commented on #82412
Hi @noraisk
Thanks for noticing this. We have updated the link in the doc:
https://docs.microsoft.com/en-us/azure/active-directory/roles/security-planning
Let us know if you have any additional feedback.
thanks

[2021-11-04 22:41] rolyon commented on #82412
#please-close

[2021-11-04 22:41] #82412 closed

[2021-11-04 22:43] Oury-MSFT commented on #83320
@dimitri-furman Please see customer feedback above. Could we add that suggestions in the Doc.?
Please let me know if you want me to raise a PR. Thanks

[2021-11-04 22:56] mrm9084 commented on #83309
@shashankkr, App Configuration only stores the reference to the secret. It will never attempt to access the secret. A separate request to Key Vault using the `azure-security-keyvault-secrets` library.

[2021-11-04 22:57] dimitri-furman commented on #83320
Addressed in 178729 (being published). @holgerl-msft , thank you for the feedback and proposal, much appreciated.

[2021-11-04 23:03] Help4Access opened #83419 "Fix screenshot."
[Enter feedback here]
In this url,
https://docs.microsoft.com/en-us/azure/data-factory/data-flow-conditional-split
the screenshot under “In the Service UI” should have shown the option [x] All matching conditions, which sets the ‘disjoint’ option to ‘True’.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba433ccf-eede-2

[2021-11-04 23:08] crawfs opened #83420 "Information on point to site VPN configuration with an Active-Active gateway setup"
There is no information in the referenced documentation on how to correctly configure a point to site VPN on an active active gateway, based on information I've been able to gather from the portal and API errors the configuration requires a third public IP associated with the gateway however I've also experienced issues getting this to work on a zone-redundant gateway and having some documentation

[2021-11-04 23:09] izakntun commented on #24804
I have the same problem, someone help me

AADSTS9002313: Invalid request. Request is malformed or invalid.\r\nTrace ID: 99dcd85a-84fa-47ab-b1c2-03f75e470600\r\nCorrelation ID: 01e0c950-74df-44c3-8649-7bb43b4baf4e\r\nTimestamp: 2021-11-04 23:06:30Z",

[2021-11-04 23:20] anavinahar commented on #83270
#please-close

[2021-11-04 23:20] #83270 closed

[2021-11-04 23:27] JoelCBennett opened #83421 "Graph 'PUT' does not work as written"
This does not work as written.  When attempting ot perform a PUT back to the graph API, one will receive an Unauthorized - 401 error due to how Graph handles the tokens, even though the user is a Global Admin.

What does one need ot do to get around this?  I imagine it has something to do with 'Select Permissions' and explicitly defining.

---
#### Document Details

⚠ *Do not edit this section. It

[2021-11-04 23:51] #83384 closed

[2021-11-04 23:51] JamesTran-MSFT commented on #83421
@JoelCBennett
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-04 23:54] JoelCBennett commented on #83421
By means of update, I was able to confirm my suspicions.  In a green-field deployment, your Graph API app needs permissions consent within AD by an administrator in order to do a PUT command back to the APP.  I started selecting/consenting to a number of actions.  Not sure which one eventually allowed it to work, but one of the 6-10 I consented too eventually allowed it to go through.  Which one?

[2021-11-05 00:11] kobulloc-MSFT commented on #83409
@ardacetinkaya Thank you for bringing this to our attention!  I'll get a PR out to correct this shortly.

[2021-11-05 00:19] kobulloc-MSFT commented on #83409
This is the intended link:
https://docs.microsoft.com/en-us/azure/aks/csi-secrets-store-identity-access

[2021-11-05 01:09] SaurabhatTally opened #83422 "Error while storage blob copy start"
[Hi,
Not sure if anyone else has got this error while we execute the script above mentioned.
Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.
RequestId:b2d42e23-c01e-000b-75e1-d179d0000000
Time:2021-11-05T01:08:23.6224581Z
ErrorCode:CannotVerifyCopySource
Error:None]

---
#### Document Details

⚠ *Do not edit this s

[2021-11-05 01:11] RyanHill-MSFT commented on #83401
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-05 01:24] ChaitanyaNaykodi-MSFT commented on #83420
Hello @crawfs
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-11-05 02:38] hermandr opened #83424 "This extension is not listed"
This extension is not listed in VS Code 2019
It is also not listed among the 283 listings in [Marketplace](https://marketplace.visualstudio.com/search?term=azure%20machine%20learning&target=VS&category=All%20categories&vsVersion=&sortBy=Relevance)

Clicking on the link brings to the extension of the extension but cannot install it.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-11-05 02:52] kobulloc-MSFT commented on #83377
@svdHero, you are correct that it's not listed in the portal (there aren't any portal installation instructions listed in this documentation) but you can use an ARM deployment or the Azure CLI.  In this example, I'm using the [Azure CLI](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/oms-linux?toc=%2Fazure%2Fazure-monitor%2Ftoc.json#azure-cli-deployment).

**Prerequisites:**

-

[2021-11-05 03:08] ram-msft commented on #83242
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-05 03:08] #83242 closed

[2021-11-05 03:12] shashankkr commented on #83309
@mrm9084 thanks for replying but if I have to use `azure-security-keyvault-secrets` library to directly access the secret then what is the purpose of adding the reference of key-vault secret in app configuration? How should I use this library with app configuration?

[2021-11-05 03:25] jesweare opened #83426 "Mention the impact of IP filter to Azure Portal data plane operations"
Assume a scenario where a user specifies an IP filter in the following manner:

1. Set "Allow" for IP address of the computer that is browsing the Azure Portal
2. Set "Allow" for IP addresses of any other devices that would directly communicate with the DPS endpoint
3. Set "Block" for 0.0.0.0/0

Even after setting the filters, however, [Data Plane](https://docs.microsoft.com/en-us/azure/azure-reso

[2021-11-05 03:52] ecfan commented on #83358
Hi @april-zhm,

Thanks for reaching out. We're working through updating the docset with the designer for Standard logic apps. In the meantime, you can find an action's **Run After** capability by selecting that action on the designer, which opens the action's details pane. However, the capability is available only on the 2nd action after the trigger, not the 1st action immediately after the trigge

[2021-11-05 04:12] AnuragSingh-MSFT commented on #83397
[@ismahernandez](https://github.com/ismahernandez). Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-05 04:16] torumakabe opened #83427 "Inconsistency with prerequisites of library doc"
This document tells us to install Chaos Mesh version 2.0.3.

However, other documentation ["Chaos Studio fault and action library"](https://docs.microsoft.com/en-us/azure/chaos-studio/chaos-studio-fault-library#aks-chaos-mesh-network-faults) assumes version 1.2.3 or earlier.

For example, prerequisites of [AKS Chaos Mesh network faults](https://docs.microsoft.com/en-us/azure/chaos-studio/chaos-stu

[2021-11-05 04:17] SrijitBose-MSFT commented on #83245
@circy9 , we haven't heard from you in some time. Please do let us know if you need help.

[2021-11-05 05:05] VikasPullagura-MSFT commented on #83225
@ppaschedag
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-11-05 05:05] VikasPullagura-MSFT commented on #83225
@ju-shim
Can you please check and add your comments on this doc update request as applicable.

[2021-11-05 05:17] AjayKumar-MSFT commented on #83400
aramase, Thanks for updating the doc with the API version.

[2021-11-05 05:52] torumakabe opened #83428 "Lack of information about User Managed Identity"
I have never succeeded in the procedure of this doc. I'm trying to identify the problem, there seems to be a lack of information about User Managed Identity.

## Which role should I assign to User Managed Identity?

In step 5 of  ["Enable chaos target, capabilities, and agent"](https://docs.microsoft.com/en-us/azure/chaos-studio/chaos-studio-tutorial-agent-based#enable-chaos-target-capabilities-an

[2021-11-05 05:55] AnuragSingh-MSFT commented on #83405
@stspinu, thank you for the feedback. This issue has been assigned to author for review and update as required.

[2021-11-05 06:06] SwathiDhanwada-MSFT commented on #83408
@kmcneelyshaw Thanks for your comment. We will review the issue and get back to you shortly.

[2021-11-05 06:51] dcbrown16 opened #83429 "Add firewall info"
Since Standard Logic Apps run on Functions, it appears that they can use the App Service restrictions shown here.
https://docs.microsoft.com/en-us/azure/logic-apps/single-tenant-overview-compare#strict-network-and-firewall-traffic-permissions
Importantly, this means they can allow traffic from service tags such as Action Groups for Monitor, which is not possible with Consumption Logic Apps.
This i

[2021-11-05 07:07] SumanthMarigowda commented on #83295
@lunar87 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-05 07:52] kennymchansen opened #83430 "New grid driver version"
Please update nvidia grid driver to newest version (13.1).

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c5bc749-3f68-e230-37ff-f74ce72efb59
* Version Independent ID: 2a382803-e085-82e2-4139-be5c8b9e1a0d
* Content: [Azure N-series NVIDIA GPU driver setup for Windows - Azure Virtual Machines](https://docs.mic

[2021-11-05 07:55] psmanhas commented on #83430
@kennymchansen Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-11-05 07:56] psmanhas commented on #83430
@vikancha-MSFT Can you please check and add your comments on this doc update request as applicable

[2021-11-05 08:29] psmanhas commented on #82991
@adbadram Can you please check and add your comments on this doc update request as applicable

[2021-11-05 08:40] skurhse commented on #80372
Any update on this? Wasted a day debugging.

[2021-11-05 08:49] SadiqhAhmed-MSFT commented on #83203
@assaf-grth We haven't heard back from you, so we will now close this issue. Please reply if you have any questions in this matter and we will gladly continue the discussion.

[2021-11-05 08:49] #83203 closed

[2021-11-05 08:52] SadiqhAhmed-MSFT commented on #83422
@SaurabhatTally Thank you for reaching out to us. Please note that this channel (the [Azure Docs](https://github.com/MicrosoftDocs/azure-docs) repository) is only for driving improvements related to the Azure documentation. Since this query is technical in nature and requires investigation, I suggest you reach out to Azure technical support team by raising a support request.

Let me know if there

[2021-11-05 08:55] sauer000 opened #83432 ""image operating system "linux" cannot be used on on this platform.""
[Enter feedback here]
Docker is default setup for linux images. Therefore the docker run command fails with "image operating system "linux" cannot be used on on this platform."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c4b1277-dd1e-ceb2-cb85-e3d3df3f6d83
* Version Independent ID: 1f5b6c37-2462-d5a7-2461-df2f64794

[2021-11-05 09:11] HeinzLm opened #83433 "Page Diagnostics for SharePoint tool breaking recommended way"
Hi,

I just had a troubleshooting session with a client and it got resolved by deactivating the Microsoft browser extension "Page Diagnostics for SharePoint" (https://docs.microsoft.com/en-us/microsoft-365/enterprise/page-diagnostics-for-spo?view=o365-worldwide).

If you click on the "Password Reset" link the URL changes, but nothing else happens (no error in console).

So this extension breaks th

[2021-11-05 09:15] beckerrobin commented on #83332
@JamesTran-MSFT This is obviously an issue that, although rare, pops up from time to time. It might be worth investigation if there are edge cases that explains this issue. I will look for further help in the Q&A forum.

My screen looks nothing like yours btw.
![bild](https://user-images.githubusercontent.com/48653787/140486915-7f0f0e0a-3fce-459a-a8b9-9e3cbb79cd51.png)

[2021-11-05 09:19] RohitMungi-MSFT commented on #83424
@hermandr which build of VS code are you using based on Help-> About output?
I installed the latest updates and checked the extension is available for version VS code version 1.62.0 and extension version v0.6.26

[2021-11-05 09:57] vipulsparsh commented on #83433
@HeinzLm Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-11-05 10:01] nkatz01 opened #83435 "compile error in go code"
context.WithTimeout() should return two values, also a 'CancelFunc'..
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f9f2cf4-d403-d3e2-524f-40406bf5b263
* Version Independent ID: 8679de2d-4dd7-e74f-80f1-d9123de4b0c6
* Content: [Quickstart: Send and receive events using Go - Azure Event Hubs](http

[2021-11-05 10:13] pesetskyps opened #83437 "Not clear what it refers to: `Inbound communication is only required for specific scenarios where Azure IoT Hub needs to push messages to the Azure IoT Edge device.`"
In the section `Check your firewall and port configuration rules` there is the phrase `Inbound communication is only required for specific scenarios where Azure IoT Hub needs to push messages to the Azure IoT Edge device.`

It is not clear what scenario is referred here. I assume cloud-to-device direct method is not part of it (based on my experiments), but it will be good to have the link to the

[2021-11-05 10:26] benjamintokgoez opened #83438 "video link is not working."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a194d81-fdcf-dbe0-0817-37609a377e46
* Version Independent ID: f70fedd3-a271-10e9-e60b-d76ff2b67131
* Content: [Quickstart: Create and modify a circuit with ExpressRoute - Azure portal](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-

[2021-11-05 10:42] AndyLonghurstHESA opened #83439 "Authentication for geolocation-data-api"
How do we authenticate to the geolocation-data-api for Azure Sentinel geolocation enrichment. The authentication section is not included in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47ed0acd-16df-e264-b7bb-db7f5785d3fd
* Version Independent ID: 64116a32-8fd9-aa78-beee-3a1f30cd839a
* Content: [En

[2021-11-05 10:51] dimilider opened #83440 "Add/Update Log Records Definition"
Azure Automation supports new diagnostic log categories but these are not documented. Please add log description what the  Category 'AuditEvent' is recording.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a52eb74e-6880-eb97-8cfd-c7c88feb64d7
* Version Independent ID: 612bb48d-0b43-1dbf-9053-14e55edb5095
* Content: [Fo

[2021-11-05 11:15] asergaz commented on #83321
Hi @Genuineh as per the doc "The Azure Maps SDK's use tiles that have a size of 512 x 512 pixels for road maps, and smaller 256 x 256 pixels for satellite imagery. "

What is the result when you select tile size: 512?

Thanks

[2021-11-05 11:15] mracfa opened #83441 "ingress route example has duplicated path"
The second ingress on the yaml file has a syntax error with a duplicated line (path).

Where we have:

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: hello-world-ingress-static
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    nginx.ingress.kubernetes.io/rewrite-target: /static/$2
spec:
  rules:
  - http:
      paths:

[2021-11-05 11:16] Svijay-msft commented on #83419
Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-11-05 11:18] asergaz commented on #83321
............................................

[2021-11-05 11:24] asergaz commented on #83062
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-05 11:24] #83062 closed

[2021-11-05 11:36] iamim opened #83442 "Parallel BlockBlob upload references Microsoft.Azure.Storage.Blob (legacy)"
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-performance-checklist#upload-one-large-blob-quickly

References the legacy SDK for the task.
Is there a way to perform the same task in v12 SDK for .NET? If so, the reference should be updated.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cca4823-69a3-0b1a-

[2021-11-05 11:38] AjayKumar-MSFT commented on #83183
NumberPiOso, We have raised a PR on this and shared the feedback with the doc author for a review. Once it's merged the doc would reflect the changes. We will close this for now, thanks for sharing your valuable feedback. Much appreciated.

[2021-11-05 11:38] #83183 closed

[2021-11-05 11:40] YutongTie-MSFT commented on #83190
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-11-05 11:40] #83190 closed

[2021-11-05 11:49] AjayKumar-MSFT commented on #83413
@petertuton, Thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-11-05 11:51] adriennn opened #83443 "Metadata-driven copy task (Preview) - Control Store does not allow parametrized linked service"
The documentation for the preview  capabilities do not mention that linked services which are parametrized cannot be used as the store for the control table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a5cbc6d-82ff-3a69-b00c-22ceb99a4318
* Version Independent ID: 29bed67a-6c33-dd39-4770-1da65225ebe6
* Content: [Bui

[2021-11-05 11:56] josefehse opened #83444 "Missing image definition creation step"
The steps are missing the 'az sig image-definition create' step. Right now, the image creation will fail since no definition was created. It may be because the assumption is you'd have used the previous Linux one without a VNet but it would be best to make it completely independent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-11-05 12:07] SadiqhAhmed-MSFT commented on #83368
@bandersmsft For visibility and assistance with doc fix.

[2021-11-05 12:09] asergaz commented on #83426
Thanks for the feedback @jesweare! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-11-05 12:11] asergaz commented on #83437
[@pesetskyps](https://github.com/pesetskyps) Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-05 12:24] mikeolasz commented on #10862
Same as @jaydrue and @lulzzz

[2021-11-05 12:46] abrathehuman opened #83446 ""Known issues/migration limitations with online migrations to Azure SQL Database" needs specific link"
The link of "Known issues/migration limitations with online migrations to Azure SQL Database" is pointing to [Azure Database Migration Service documentation page](https://docs.microsoft.com/en-us/azure/dms/) instead of pointing to [Known issues/migration limitations with online migrations to Azure SQL Managed Instance](https://docs.microsoft.com/en-us/azure/dms/known-issues-azure-sql-db-managed-in

[2021-11-05 12:52] jorge-at123 opened #83447 "Licensed groups in preview?"
The doc says: "The group-based licensing feature currently is in public preview."

Is it correct?

This feature has been around for a long time and the [other documentation about how to use it](https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/licensing-groups-assign) does not mention the feature being in preview, which is important information.

---
#### Document Details

⚠

[2021-11-05 13:01] guidowalter opened #83449 "Static website not available when Hierarchical namespace is enabled"
I just want to point out that when Hierarchical namespace is enabled, NFSv3 is not possible in both cases Standard and Premium Blob.  It would be great if you could update the table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8895c650-bec4-6e48-bf42-be19037b7358
* Version Independent ID: cd29442a-4c65-d3d3-240a-d63

[2021-11-05 13:28] alpinedelight opened #83450 "Query History Limits"
How many queries does this interface store, is there a limit? I.e. if I run 1 million queries per day, will this monitor start dropping above a threshold.
Would be helpful to either link to that documentation if its already stated somewhere, alternatively a notice.

Page: https://docs.microsoft.com/en-us/azure/synapse-analytics/monitoring/how-to-monitor-sql-requests

---
#### Document Details

⚠ *

[2021-11-05 13:40] mosharafMS opened #83451 "code returns error"
[Enter feedback here]
The line
conda env update --prune -f base_environment.yml
returns error
Using Anaconda API: https://api.anaconda.org

SpecNotFound: Can't process without a name

on ubuntu 20.4

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c05359f-e62f-b3ae-85ce-930ee6f6100d
* Version Independent ID: b50ff094-c2

[2021-11-05 13:44] RESHVANTHKS opened #83452 "good"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1b9d373-2140-ead0-e1b2-de63f8e94125
* Version Independent ID: 0bcd0103-042c-0ed8-2c8b-922ee27bff3c
* Content: [Tune Model Hyperparameters - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/component-reference/tune-model

[2021-11-05 13:45] RESHVANTHKS opened #83453 "good"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1426d15-311b-d80b-4756-71a5de7ef268
* Version Independent ID: 2401679f-c8bd-699a-1c17-4e4956598bd7
* Content: [Neural Network Regression: Component Reference - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/component-

[2021-11-05 13:49] DougPetrole opened #83454 "Newer GRID driver released for Windows Server"
Hi Team!

NVIDIA has released GRID driver 13.1 for Windows Server. Can this be updated here, please?

https://docs.nvidia.com/grid/latest/grid-vgpu-release-notes-microsoft-windows-server/index.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c5bc749-3f68-e230-37ff-f74ce72efb59
* Version Independent ID: 2a382803-e08

[2021-11-05 13:53] pauloporto opened #83455 "php example missing"
PHP is an excellent programming language and there are no examples to use

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b90331e5-cca5-b157-eaa1-6f8f90003b32
* Version Independent ID: 4b1b803d-e30d-10b2-90a1-3f0ccd8d7d44
* Content: [Code samples for Microsoft identity platform authentication and authorization](https://

[2021-11-05 14:07] chshihMSFT opened #83456 "adding more description for customer using AKV RBAC access control policy"
We can add some description in [this doc](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-cmk#add-access-policy) accordingly, to provide customer using AKV RBAC access control policy.
section: Add an access policy to your Azure Key Vault instance.
step. 3

please help to review and revise this draft, thanks.

If you are using vault access policy, select **Get**, Unwrap **Key**, and *

[2021-11-05 14:36] smorczak opened #83457 "Outdated part"
View details of a security rule currently are not in "Effective security rules under SUPPORT + TROUBLESHOOTING" but in Settings - Networking. Screenshots are outdated too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fbd1ea4-154d-2998-203c-d77554a22d2d
* Version Independent ID: 0b619241-28d5-341c-d52f-f343b3e88a75
*

[2021-11-05 14:36] mikeolasz opened #83458 "CustomScriptExtension StatusCode 404 ArtifactVersionNotFound"
Hi, I am experiencing this behaviour again.

I've set up a linux vm scale set (using terraform) successfully with 2 extensions.

[code]

Now to the problem: When I try to set up a third extension, very similarly to the `certificate-management-extension`, I run into following exception when deploying the infrastructure to Azure:

[code]

I have also referenced extension 1 and 2 as dependencies, so

[2021-11-05 14:41] smorczak commented on #83457
My bad.

[2021-11-05 14:41] #83457 closed

[2021-11-05 14:42] smorczak commented on #83457
My bad. Just screenshots are outdated, text is OK. Wrong read ;-)

[2021-11-05 15:08] WillParry opened #83459 "IP filter applied on multiple scopes not working as expected and documentation doesn't cover this behaviour"
https://docs.microsoft.com/en-gb/azure/api-management/api-management-access-restriction-policies#RestrictCallerIPs

It doesn't seem clear in the documentation, but from testing against the echo API to validate what I was seeing while trying to enable IP filtering at multiple scopes, it doesn't seem possible to do this, e.g. Product and API scopes or API and operation scopes.

I'm not entirely clea

[2021-11-05 15:21] LRSFC-DanJ commented on #49247
There is actually a method in MS Graph beta now to create the authenticationPhone.
See https://docs.microsoft.com/en-us/graph/api/authentication-post-phonemethods?view=graph-rest-beta&tabs=http
This did not exist previously.

[2021-11-05 15:22] jonl-percsolutions-com commented on #80006
@MicrosoftGuyJFlo The point of this ticket was the lack of documentation on whether or not it was available.

[2021-11-05 15:26] amanmcse commented on #82723
@kanikak-MS If the values are case sensitive, we explicitly mention that, but if the values are not case sensitive, we do not specify anything about case sensitivity in the docs.

[2021-11-05 15:26] #82723 closed

[2021-11-05 15:52] GiftA-MSFT commented on #83427
@ToruMakabe we'll review your feedback and get back to you shortly. Thanks.

[2021-11-05 15:53] GiftA-MSFT commented on #83428
@ToruMakabe we'll review your feedback and get back to you shortly. Thanks.

[2021-11-05 15:54] #70609 closed

[2021-11-05 15:56] ThomasWeiss commented on #83456
@chshihMSFT Unfortunately, CMK on Cosmos DB currently doesn't support Key Vault RBAC; only access policies are supported.

[2021-11-05 16:05] bencb13 commented on #83224
@diberry When I try that line I'm getting a resource not found error.

`azure.core.exceptions.ResourceNotFoundError: Operation returned an invalid status 'Not Found'`

Can I get around this error?

[2021-11-05 16:23] przem commented on #70666
Its not possible to disable Java inprocess agent anymore

[2021-11-05 16:26] MonikaReddy-MSFT commented on #83440
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-11-05 16:30] JamesTran-MSFT commented on #83447
@jorge-at123
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-05 16:31] JamesTran-MSFT commented on #83455
@pauloporto
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-05 16:32] mike-urnun-msft commented on #83429
Hello @dcbrown16 - Thank you for your feedback! We will review and update as appropriate.

[2021-11-05 16:32] mike-urnun-msft commented on #83432
Hello @sauer000 - Thank you for your feedback! We will review and update as appropriate.

[2021-11-05 16:39] normesta commented on #83449
Hi @guidowalter. Would you mind describing the scenario where this isn't working in your case? Enabling hierarchical namespace is a prerequisite to enabling NFS v3.  Thank you!

[2021-11-05 16:41] onionhammer opened #83461 "Does this service support connecting to Azure resources which are 'vnet' restricted?"
I'm not seeing any mention of vnets in any of this documentation, so I have to ask - will an Azure Container App be able to connect with (for example) an Azure Postgres or Cosmos database where the "Firewall" is configured to 'selected networks' or private endpoint connection?

If so, a tutorial on this would be great.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2021-11-05 16:44] VitalyMCT opened #83462 "Demo values"
Regarding

Can you please help us find the "demo values" feature? We see description in the current preview UI, but nothing around demo data.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fce5979-39ff-6306-65a8-11727240fa83
* Version Independent ID: 4f288f22-593d-5d1d-b302-48f2a21db5fa
* Content: [Azure Synapse lake

[2021-11-05 16:45] yaron2 commented on #83374
@shawncx can you try the component file in JSON format instead and see if that works?

[2021-11-05 16:48] duongau commented on #83438
#assign:duongau

[2021-11-05 16:49] duongau commented on #83438
@benjamintokgoez Thank you for bringing this to our attention. I have updated the link to the appropriate page. It should reflect a little bit later today. #please-close

[2021-11-05 16:49] #83438 closed

[2021-11-05 16:50] normesta commented on #83449
Hi @guidowalter - Reading the title of this issue, it is no clear to me where the issue is. It appears that if you create a new storage account with hierarchical namespaces enabled as well as NFS v3, the option to enable static websites does not appear in the Azure portal. I have verified that this is in fact true. It does not appear. I'm not entirely sure why. I will investigate and report back.

[2021-11-05 16:51] michaelfromslc opened #83463 "Azure Virtual Desktop Agent"
can you please add instructions to Remove the Azure Virtual Desktop Agent from a Image that I am using from Azure Virtual Desktop?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdad1b23-8c75-cd08-41cc-6313fc7016bd
* Version Independent ID: f7979a0f-a1be-100f-33b5-01627c45f783
* Content: [Prepare and customize a VHD im

[2021-11-05 16:57] KarlErickson commented on #70666
#reassign:@v-kevinmic3

[2021-11-05 16:57] KarlErickson commented on #70666
#assign:karlerickson

[2021-11-05 17:02] Grace-MacJones-MSFT commented on #83461
Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2021-11-05 17:03] GiftA-MSFT commented on #83452
@RESHVANTHKS can you please add more details to the issue? Thanks.

[2021-11-05 17:04] MartinJaffer-MSFT commented on #83435
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-11-05 17:05] MartinJaffer-MSFT commented on #83443
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-11-05 17:05] GiftA-MSFT commented on #83453
[Duplicate](https://github.com/MicrosoftDocs/azure-docs/issues/83452).

[2021-11-05 17:05] #83453 closed

[2021-11-05 17:05] benc-uk opened #83464 "Docs very unclear on how to connect apps together in same container env"
The documentation refers to Ingress for HTTP(s) traffic and states this is for allowing external access to the container apps.
I notice when enabling the Ingress you have the option of setting `external: false` which keeps the traffic within the vnet. This makes sense

But what about **non-HTTP app to app** traffic?

Say I wanted to run a web frontend as one container app, and a second running a d

[2021-11-05 17:06] MartinJaffer-MSFT commented on #83450
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-11-05 17:06] ggailey777 commented on #80322
#reassign:stefanushinardi

[2021-11-05 17:06] PRMerger16 commented on #80322
GitHub user gvashishtha has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-11-05 17:06] ggailey777 commented on #80322
#assign:ggailey777

[2021-11-05 17:07] MartinJaffer-MSFT commented on #83451
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-11-05 17:08] MartinJaffer-MSFT commented on #83462
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-11-05 17:10] GiftA-MSFT commented on #83439
@AndyLonghurstHESA can you please share the doc you are refencing so we can assign the issue to the appropriate team? Since this is Azure Docs repo, we need a doc reference link to assign the issue. Thanks.

[2021-11-05 17:10] santiagxf opened #83465 "Inconsistency between az ml environment supported names and Azure ML Portal"
Azure ML Portal allows the creation of environments named with dots. For instance: "transformers-torch-1.9". However, the command `az ml environment` will fail saying that there is unsupported characters. Please use a consistent definition and document the one you select.

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-11-05 17:11] GiftA-MSFT commented on #83441
@mracfa we'll review your feedback and get back to you shortly. Thanks.

[2021-11-05 17:21] sebansal commented on #83008
It has been verified with the Key vault engineering team that AML is not in the list of Trusted Services.
#please-close

[2021-11-05 17:21] #83008 closed

[2021-11-05 17:22] JamesTran-MSFT commented on #83421
@JoelCBennett
Thank you for the quick follow up on this and I'm glad that you were able to resolve your issue! Since this isn't a doc enhancement request and you were able to resolve your issue, I'll go ahead and close this out.

If you ever run into any other technical issues, I'd recommend leveraging our [Q&A forums](https://docs.microsoft.com/en-us/answers/products/) by posting your issue there

[2021-11-05 17:25] mattchenderson commented on #79404
@diberry apologies for the delay here. Proxies should not be required. You can just use the `route` parameter in your HttpTrigger to set something like this: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook-trigger?tabs=csharp#configuration

I don't think we need to change the Proxies content here.

#please-close

[2021-11-05 17:25] #79404 closed

[2021-11-05 17:34] mattchenderson commented on #69447
Apologies for the delay. I have a submitted a fix to remove the '/' character from the suggested value. CC @ggailey777

[2021-11-05 17:36] mattchenderson commented on #69447
#please-close

[2021-11-05 17:36] #69447 closed

[2021-11-05 17:42] rikgarner opened #83466 "Section on creating a certificate is unclear"
Section "Obtain a certificate"
Step 2 - it's not clear here e.g. "Tap Windows Key, type Manage User Certificates and open the Credential manager, then Open" would be better
Last steps are missimg - Step 6 could be followed by something like "Step 7: Choose a folder and filename to export the file to and press Next then Finish to export the certificate"

---
#### Document Details

⚠ *Do not edit th

[2021-11-05 17:58] JamesTran-MSFT commented on #83466
@rikgarner
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-05 18:15] Craigmeister68 opened #83467 "Limitations section is a little odd."
In the Limitations section, the wording is not exactly clear that these items prevent the Dedicated Gateway item from showing in the menu in Azure Portal.

You can't connect to a dedicated gateway in Azure Cosmos DB accounts with IP firewalls or Private Link configured.
You can't connect to a dedicated gateway in an Azure Cosmos DB account in a Virtual Network (Vnet)
You can't connect to a dedicat

[2021-11-05 18:18] JamesTran-MSFT commented on #83398
@RazvanB-MS
Thank you for your time and patience throughout this issue!

After speaking with my team, we agree with @stspinu's statement that the Best Practices section uses the key word 'and', which means that you should not allow access only based on network location, but rather on a combination of network location and other factors.

Since we don't believe there is any contradicting statement,

[2021-11-05 18:18] #83398 closed

[2021-11-05 18:26] CaitlinV39 commented on #83166
I will take a look at this offline but won't have time to do this for a bit so would like to close this issue. @irenepjoseph is on our team so I can coordinate with her that way. #please-close

[2021-11-05 18:26] #83166 closed

[2021-11-05 18:35] kobulloc-MSFT commented on #83377
@svdHero We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-11-05 18:35] #83377 closed

[2021-11-05 18:51] msmimart commented on #83334
@jasonfritts thanks for pointing this out. We'll remove the reference to the script; changes should publish today. Thanks again for your feedback.

[2021-11-05 18:58] #83409 closed

[2021-11-05 18:59] Nickomang commented on #83409
@ardacetinkaya , thanks for the contribution! We've amended the article and the link should now be correct.

[2021-11-05 19:02] mx-iao commented on #83465
@saachigopal please resolve this issue, thanks

[2021-11-05 19:05] sebansal commented on #81574
Addressed.
#please-close

[2021-11-05 19:05] #81574 closed

[2021-11-05 19:16] #83334 closed

[2021-11-05 19:17] DerekHerman-MSFT commented on #83442
The sample here has both v11 and v12.
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-scalable-app-upload-files
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-05 19:42] sebansal commented on #82567
Addressed. #please-close

[2021-11-05 19:42] #82567 closed

[2021-11-05 20:30] SaurabhSharma-MSFT commented on #83446
@abrathehuman Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-05 20:32] MartinJaffer-MSFT commented on #83443
Thank you for your feedback. This has been assigned to the content owner and will be updated as appropriate.

[2021-11-05 20:32] MartinJaffer-MSFT commented on #83450
Thank you for your feedback. This has been assigned to the content owner and will be updated as appropriate.

[2021-11-05 20:33] MartinJaffer-MSFT commented on #83435
Thank you for your feedback. This has been assigned to the content owner and will be updated as appropriate.

[2021-11-05 20:39] mikeolasz commented on #83458
For future reference, I found this in the documentation: https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-windows#extension-schema
The second note in this section mentions that only one type of an extension can be installed during a deployment.

[2021-11-05 20:44] mikeolasz commented on #10862
I found this in the documentation: https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-windows#extension-schema
The second note in this section mentions that only one type of an extension can be installed during a deployment.
The error message although should be more informative.

[2021-11-05 20:50] JimacoMS4 commented on #81455
#reassign JimacoMS4

[2021-11-05 20:51] JimacoMS4 commented on #79482
#reassign JimacoMS4

[2021-11-05 20:51] JimacoMS4 commented on #78066
#reassign JimacoMS4

[2021-11-05 20:53] JimacoMS4 commented on #74914
#reassign JimacoMS4

[2021-11-05 20:53] JimacoMS4 commented on #70201
#reassign JimacoMS4

[2021-11-05 20:54] JimacoMS4 commented on #68131
#reassign JimacoMS4

[2021-11-05 20:55] JimacoMS4 commented on #48777
#reassign JimacoMS4

[2021-11-05 20:55] JimacoMS4 commented on #42615
#reassign JimacoMS4

[2021-11-05 20:58] JimacoMS4 commented on #42092
#reassign JimacoMS4

[2021-11-05 20:59] JimacoMS4 commented on #41501
#reassign JimacoMS4

[2021-11-05 20:59] JimacoMS4 commented on #41125
#reassign JimacoMS4

[2021-11-05 21:00] JimacoMS4 commented on #36979
#reassign JimacoMS4

[2021-11-05 21:41] onionhammer commented on #83461
Found answer here

https://github.com/microsoft/azure-container-apps/issues/3

[2021-11-05 21:41] #83461 closed

[2021-11-05 21:44] GiftA-MSFT commented on #83458
@mikeolasz we'll review your feedback and get back to you shortly. Thanks.

[2021-11-05 21:45] GiftA-MSFT commented on #83444
@josefehse we'll review your feedback and get back to you shortly. Thanks.

[2021-11-05 21:46] guidowalter commented on #83449
Hi @normesta,
sorry for my short description. Yes it is the scenario you described. It doesn't matter if you active the NFSv3 option when creating a new storage account. The outcome is the same - static websites cannot be enabled.
I also tried it using a storage account without hierarchical namespaces enabled, activated the static website and then tried to convert it to a hierarchical namespace (t

[2021-11-05 21:46] GiftA-MSFT commented on #83454
@DougPetrole we'll review your feedback and get back to you shortly. Thanks.

[2021-11-05 21:46] damanib21 commented on #58853
I tried this and still got the same error:
New-AzDisk: The upload size in bytes 1190133760 - 512 bytes for the VHD footer (1190133248 in this case) must be a multiple of MiB.
ErrorCode: BadRequest
ErrorMessage: The upload size in bytes 1190133760 - 512 bytes for the VHD footer (1190133248 in this case) must be a multiple of MiB.
ErrorTarget:
StatusCode: 400
ReasonPhrase: Bad Request

the original

[2021-11-05 21:58] RyanHill-MSFT commented on #83464
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-05 22:23] markingmyname commented on #66329
@evertonmc

We sincerely apologize for the delayed response to this issue. I collaborate with the owners of the GitHub Issues related to PostgreSQL/MySQL/MariaDB to help either get them resolved or determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag @mksuni, and me in your reply. We will

[2021-11-05 22:24] markingmyname commented on #66329
#please-close

[2021-11-05 22:24] #66329 closed

[2021-11-05 22:25] markingmyname commented on #66544
@ernetas

We sincerely apologize for the delayed response to this issue. I collaborate with the owners of the GitHub Issues related to PostgreSQL/MySQL/MariaDB to help either get them resolved or determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gladly continu

[2021-11-05 22:25] markingmyname commented on #66544
#please-close

[2021-11-05 22:26] #66544 closed

[2021-11-05 22:34] markingmyname commented on #66698
@mbanck

We sincerely apologize for the delayed response to this issue. I collaborate with the owners of the GitHub Issues related to PostgreSQL/MySQL/MariaDB to help either get them resolved or determine how to update our documentation.

Due to the age of this issue, we will continue to close this issue.

Please visit https://docs.microsoft.com/en-us/answers/support/ for more information on askin

[2021-11-05 22:34] markingmyname commented on #66698
#please-close

[2021-11-05 22:34] #66698 closed

[2021-11-05 22:35] markingmyname commented on #67004
We sincerely apologize for the delayed response to this issue. I collaborate with the owners of the GitHub Issues related to PostgreSQL to help either get them resolved or determine how to update our documentation.

Due to the age of this issue, we will continue to close this issue.

Please visit https://docs.microsoft.com/en-us/answers/support/ for more information on asking questions about the p

[2021-11-05 22:36] markingmyname commented on #67004
#please-close

[2021-11-05 22:36] #67004 closed

[2021-11-05 22:36] markingmyname commented on #68397
We sincerely apologize for the delayed response to this issue. I collaborate with the owners of the GitHub Issues related to PostgreSQL to help either get them resolved or determine how to update our documentation.

Due to the age of this issue, we will continue to close this issue.

Please visit https://docs.microsoft.com/en-us/answers/support/ for more information on asking questions about the p

[2021-11-05 22:37] markingmyname commented on #68397
#please-close

[2021-11-05 22:37] #68397 closed

[2021-11-05 22:38] markingmyname commented on #68412
We sincerely apologize for the delayed response to this issue. I collaborate with the owners of the GitHub Issues related to PostgreSQL/MySQL/MariaDB to help either get them resolved or determine how to update our documentation.

Due to the age of this issue, we will continue to close this issue.

Please visit https://docs.microsoft.com/en-us/answers/support/ for more information on asking questio

[2021-11-05 22:38] markingmyname commented on #68412
#please-close

[2021-11-05 22:38] #68412 closed

[2021-11-05 22:40] markingmyname commented on #70264
#please-close

[2021-11-05 22:40] #70264 closed

[2021-11-05 22:40] markingmyname commented on #70320
We sincerely apologize for the delayed response to this issue. I collaborate with the owners of the GitHub Issues related to PostgreSQL/MySQL/MariaDB to help either get them resolved or determine how to update our documentation.

Due to the age of this issue, we will continue to close this issue.

Please visit https://docs.microsoft.com/en-us/answers/support/ for more information on asking questio

[2021-11-05 22:40] markingmyname commented on #70320
#please-close

[2021-11-05 22:40] #70320 closed

[2021-11-05 22:41] markingmyname commented on #70609
#please-close

[2021-11-05 22:42] markingmyname commented on #71525
#please-close

[2021-11-05 22:42] #71525 closed

[2021-11-05 22:42] markingmyname commented on #71666
#please-close

[2021-11-05 22:42] #71666 closed

[2021-11-05 22:44] markingmyname commented on #79069
We sincerely apologize for the delayed response to this issue. I collaborate with the owners of the GitHub Issues related to PostgreSQL to help either get them resolved or determine how to update our documentation.

Due to the age of this issue, we will continue to close this issue.

Please visit https://docs.microsoft.com/en-us/answers/support/ for more information on asking questions about the p

[2021-11-05 22:44] markingmyname commented on #79069
#please-close

[2021-11-05 22:44] #79069 closed

[2021-11-05 22:45] markingmyname commented on #78603
We sincerely apologize for the delayed response to this issue. I collaborate with the owners of the GitHub Issues related to PostgreSQL/MySQL/MariaDB to help either get them resolved or determine how to update our documentation.

Due to the age of this issue, we will continue to close this issue.

Please visit https://docs.microsoft.com/en-us/answers/support/ for more information on asking questio

[2021-11-05 22:45] markingmyname commented on #78603
#please-close

[2021-11-05 22:45] #78603 closed

[2021-11-05 22:46] markingmyname commented on #77442
We sincerely apologize for the delayed response to this issue. I collaborate with the owners of the GitHub Issues related to PostgreSQL/MySQL/MariaDB to help either get them resolved or determine how to update our documentation.

Due to the age of this issue, we will continue to close this issue.

Please visit https://docs.microsoft.com/en-us/answers/support/ for more information on asking questio

[2021-11-05 22:46] markingmyname commented on #77442
#please-close

[2021-11-05 22:46] #77442 closed

[2021-11-05 22:47] markingmyname commented on #78385
We sincerely apologize for the delayed response to this issue. I collaborate with the owners of the GitHub Issues related to PostgreSQL/MySQL/MariaDB to help either get them resolved or determine how to update our documentation.

Due to the age of this issue, we will continue to close this issue.

Please visit https://docs.microsoft.com/en-us/answers/support/ for more information on asking questio

[2021-11-05 22:48] markingmyname commented on #78385
#please-close

[2021-11-05 22:48] #78385 closed

[2021-11-05 22:48] markingmyname commented on #77440
We sincerely apologize for the delayed response to this issue. I collaborate with the owners of the GitHub Issues related to PostgreSQL/MySQL/MariaDB to help either get them resolved or determine how to update our documentation.

Due to the age of this issue, we will continue to close this issue.

Please visit https://docs.microsoft.com/en-us/answers/support/ for more information on asking questio

[2021-11-05 22:49] markingmyname commented on #77440
#please-close

[2021-11-05 22:49] #77440 closed

[2021-11-05 22:49] markingmyname commented on #77436
#please-close

[2021-11-05 22:49] #77436 closed

[2021-11-05 22:50] markingmyname commented on #76021
#please-close

[2021-11-05 22:50] #76021 closed

[2021-11-05 22:51] markingmyname commented on #75007
#please-close

[2021-11-05 22:51] #75007 closed

[2021-11-05 22:52] markingmyname commented on #74615
We sincerely apologize for the delayed response to this issue. I collaborate with the owners of the GitHub Issues related to PostgreSQL/MySQL/MariaDB to help either get them resolved or determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the disc

[2021-11-05 22:55] markingmyname commented on #74398
@jwefers

We sincerely apologize for the delayed response to this issue. I collaborate with the owners of the GitHub Issues related to PostgreSQL to help either get them resolved or determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag @sunilagarwal in your reply. We will gladly continue t

[2021-11-05 22:55] markingmyname commented on #74398
#please-close

[2021-11-05 22:55] markingmyname commented on #74034
#please-close

[2021-11-05 22:55] #74034 closed

[2021-11-05 22:55] kobulloc-MSFT commented on #83463
@michaelfromslc Thank you for the suggestion!  We've assigned this to the document author for further review.

[2021-11-05 22:57] markingmyname commented on #73986
@NavtejSaini-MSFT

We sincerely apologize for the delayed response to this issue. I collaborate with the owners of the GitHub Issues related to PostgreSQL to help either get them resolved or determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag @sr-msftin in your reply. We will gladly cont

[2021-11-05 22:57] markingmyname commented on #73986
#please-close

[2021-11-05 22:57] #73986 closed

[2021-11-05 22:58] markingmyname commented on #73249
We sincerely apologize for the delayed response to this issue. I collaborate with the owners of the GitHub Issues related to PostgreSQL to help either get them resolved or determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag @sunilagarwal in your reply. We will gladly continue the discuss

[2021-11-05 22:58] markingmyname commented on #73249
#please-close

[2021-11-05 22:58] #73249 closed

[2021-11-05 23:03] mbanck commented on #68412
@markingmyname I suggest you just use some anonymous stale-bot next time, it looks weird like this

[2021-11-06 00:19] msfussell opened #83474 "Suggestion for Container Apps section"
[Enter feedback here]
First Container Apps should appear here https://docs.microsoft.com/en-us/azure/?product=containers
I find this page inconsistent with the one above especially IF this is about container services as opposed to microservice app development.  Why the inclusion of Spring Cloud and the lack of inclusion of Azure Service Fabric and Red Hat Open Shift?

The Container App section, is

[2021-11-06 02:38] AnuragSingh-MSFT commented on #83459
@WillParry, Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-06 03:09] psmanhas commented on #83454
@vikancha-MSFT Can you please check and add your comments on this doc update request as applicable

[2021-11-06 04:05] HugoPordeus opened #83481 "Ping Between myVM1 and MyVM2 through Bastion isn't working."
When pinging from myVM1 to myVM2 using bastion connection, appears a window: "_CONNECTION ERROR: Log in failed. Please, reconnect and try again_".

I try reconnect several times and nothing happens.

The pinging connection looks successfully when it is done through the PowerShell script.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2021-11-06 04:44] SubhashVasarapu-MSFT commented on #83481
@HugoPordeus, Thanks for reaching out. We will investigate and update this thread.

[2021-11-06 05:30] BhargaviAnnadevara-MSFT commented on #83474
@msfussell Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-11-06 06:50] macux opened #83482 "Consider adding diagram or video link to the filtering section"
I found this section quite hard to follow in terms of how filtering works between routing and event grid subscriptions:

https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-event-grid#filter-events

This video explains it perfectly so perhaps you could link it from the above section:

https://channel9.msdn.com/Shows/Internet-of-Things-Show/IoT-Devices-and-Event-Grid

Equally a simple pipeline-l

[2021-11-06 07:25] jwefers commented on #74398
tbh, if there is no solution, then this is a manipulation of statistics. I would keep it open as a reminder

[2021-11-06 13:14] AnuragSingh-MSFT commented on #83467
@Craigmeister68, Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-06 13:19] SrijitBose-MSFT commented on #81244
@ToddBowman , we have not heard from you in some time. If you need further help on this please feel free to comment on this thread and we shall proceed from there.

#please-close

[2021-11-06 13:19] #81244 closed

[2021-11-06 13:32] rebelnn opened #83485 "Typo Zscalar != Zscaler"
[Enter feedback here]

There is a typo here

[Link](https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-faq#if-i-am-using-a-third-party-security-provider-zscalar-iboss-or-checkpoint-to-secure-my-internet-traffic-why-dont-i-see-the-vpn-site-associated-to-the-third-party-security-provider-in-the-azure-portal)

If I am using a third-party security provider (**ZScalar**, iBoss or Checkpoint

[2021-11-06 14:00] markingmyname commented on #74398
#please-open

[2021-11-06 14:01] markingmyname commented on #74398
@jwefers

Apologizes for the assumption.

We will investigate further.

thank you for making us aware of this situation.

[2021-11-06 14:16] GiftA-MSFT commented on #83482
@macux we'll review your feedback and get back to you shortly. Thanks.

[2021-11-06 14:18] GiftA-MSFT commented on #83485
@rebelnn we'll review your feedback and get back to you shortly. Thanks.

[2021-11-06 14:54] albertoRamon opened #83486 "RUN column"
Run Column = Original
This column Is not documented
![image](https://user-images.githubusercontent.com/15262462/140613935-56e96f4e-f962-49a7-af33-6a26b96ad47c.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1667bd5c-cfec-f8d8-f455-285fe51b97c4
* Version Independent ID: e1426374-a7b8-25a1-dd8a-0fd60ff2738b
* Content

[2021-11-06 16:35] cataggar opened #83487 "Azure Databricks data plane REST API specifications"
Where can the REST API specifications be found? I looked for them at:

https://github.com/Azure/azure-rest-api-specs/blob/main/specification/databricks

But it only contain the control plane (resource manager) specifications. It would be great to add links.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25b5fd38-af0a-1

[2021-11-06 17:06] cataggar commented on #83487
I requested the specifications be added to the standard location in https://github.com/Azure/azure-rest-api-specs/issues/16688. Meanwhile, I see that at least one is available at:

https://docs.microsoft.com/en-us/azure/databricks/_static/api-refs/queries-dashboards-2.0-azure.yaml

Where would I find the others? For example Clusters API 2.0?

[2021-11-06 17:53] markingmyname commented on #70203
#re-assign @sr-msft

[2021-11-06 17:54] markingmyname commented on #70203
#remove @mksuni