[2019-08-16 17:33] zxyanliu commented on #37056
Hi - I was wondering if there is any updates for resolving this issue?

Thanks.
Yan

[2019-08-16 17:34] MashaMSFT commented on #37234
Hi @bjQrnen , thanks for contacting Microsoft! You may find some additional assistance in this doc, which discusses where to change the parameter for the distribution agent profile:
https://docs.microsoft.com/en-us/sql/relational-databases/replication/agents/work-with-replication-agent-profiles?view=sql-server-2017

Thanks!
Masha from SQL Docs team

[2019-08-16 17:39] roygara commented on #13518
@schroedh So I just circled back with the product team, for managed disks (and I believe VMs as well), they just fall into the category of zonal services, not zone redundant services. So selecting a zone for a managed disk doesn't cause Azure to do anything beyond deploy to that specific zone. So that you know for sure it is in that zone. On your end, your application can then keep track of/be awa

[2019-08-16 17:43] alxliu opened #37260 "job.add typo"
Under the "Create a Batch job" section, there is a sentence that reads: "The job.add method submits the pool to the Batch service."

Should this not instead say that job.add adds the job to the Batch account, or something to that effect? The pool.add method is what submits the pool the the Batch service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-08-16 17:46] iainfoulds commented on #37222
From the doc, with emphasis added:

There's an update for this whole network planning doc that's due to go live on Monday that clarifies some of this. The recommendation is to leave the _CorpNetSaw_ service tag rather than trying to specify IP ranges.

For now, #please-close

[2019-08-16 17:46] #37222 closed

[2019-08-16 17:48] Alberto-Vega-MSFT commented on #14309
@jakubsvobodacz  We will get you help from support engineer. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2019-08-16 17:53] mike-urnun-msft commented on #37233
Hi @TWolverson - Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-08-16 17:56] mike-urnun-msft commented on #37246
Hi @debashish-github - Since this channel is for driving improvements towards MS Docs, could you provide us with a URL of the specific documentation that your feedback may be applicable to?

[2019-08-16 17:56] TravisCragg-MSFT commented on #36869
@jurajgh We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-16 17:56] #36869 closed

[2019-08-16 17:56] Karishma-Tiwari-MSFT commented on #37260
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-16 18:06] PramodValavala-MSFT commented on #36931
@gpduck I've tried with version `1.8.3` of the extension and can confirm the C# API does return enum values. **But** serializing the object returns integers instead. Could you confirm if this is what you are referring to?

If so, I believe the [property](https://github.com/Azure/azure-functions-durable-extension/blob/dev/src/WebJobs.Extensions.DurableTask/DurableOrchestrationStatus.cs#L80) would n

[2019-08-16 18:10] #31444 closed

[2019-08-16 18:11] lyan-git opened #37261 "What about cross region support? Can you connect Virtual Wan Hubs cross region and provide the cross region support?"
What about cross region support? Can you connect Virtual Wan Hubs cross region and provide the cross region support?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a32c05e-04ab-f76f-8dd1-cbffed44da06
* Version Independent ID: 906d444a-332d-2254-7093-8dc817bb1026
* Content: [Azure Virtual WAN global transit network arc

[2019-08-16 18:12] #31429 closed

[2019-08-16 18:12] #31430 closed

[2019-08-16 18:13] gpduck commented on #36931
Yes that is what is happening.  I'm calling DurableOrchestrationClient.GetStatusAsync and using Newtonsoft to serialize the response.

[2019-08-16 18:13] #31425 closed

[2019-08-16 18:13] MicahMcKittrick-MSFT commented on #36928
@LarsKemmann the reason for each scale set type to have 5 instances is to ensure high availabilty.

You can review the following docs for further information

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-capacity

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-capacity#the-reliability-characteristics-of-the-cluster

Essentially, for pro

[2019-08-16 18:14] #31433 closed

[2019-08-16 18:17] #31428 closed

[2019-08-16 18:18] #31435 closed

[2019-08-16 18:18] #31436 closed

[2019-08-16 18:19] #31438 closed

[2019-08-16 18:19] #31439 closed

[2019-08-16 18:20] bultaf14 opened #37262 "Impact of enabling a Service Endpoint for access to Blob Storage"
If an existing Azure Storage Blob is used by devices on the public internet (over HTTPS using access keys), and we deploy a VM in the same region and enable Service Endpoints on that VNET (so that the VM can access the blob over your private network to avoid flowing over the public internet resulting in network egress fees), will this DISABLE access via the public internet that our existing resour

[2019-08-16 18:21] #31445 closed

[2019-08-16 18:21] rlauriston opened #37263 "additional information"
See also these Striim documentation topics:

https://www.striim.com/docs/en/database-writer.html
https://www.striim.com/docs/en/creating-the-checkpoint-table.html
https://www.striim.com/docs/en/notes-on-writing-to-cosmos-db-with-databasewriter.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32d0539e-7827-edb8-cd53-

[2019-08-16 18:21] liyiming-serif opened #37264 "MNIST dataset links are broken"
Running urllib.request.urlretrieve on http://yan.lecun.com/exdb/mnist/* throws a socket timeout error after failing to get addr info.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bee4b9a-ce0f-f98b-3160-d6c4a40ef3ac
* Version Independent ID: a0475a9e-47f6-2803-8707-fac54ba898dd
* Content: [Image classification tutori

[2019-08-16 18:22] shae-hurst commented on #37121
Case1:
Yes, your table is correct. And each retry time is calculated by choosing a "**uniform random variable in the specified range**". Not sure what the confusion is since you constructed the table.

Case2:
"Optionally, you can also override the default minimum and maximum intervals by specifying your own minimum and maximum intervals."

"The default minimum interval is PT5S and the maximum inte

[2019-08-16 18:24] FrankHu-MSFT commented on #37194
@suhaspan this issue is most likley becasue you're utilizing the client credential flow, which in turn would not allow the me graph call to work since there is no delegation of the user to the access token.

Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have

[2019-08-16 18:25] FrankHu-MSFT commented on #37183
Hey @agrabhi what sort of details were you looking for in regards to this issue?

[2019-08-16 18:28] AjayKumar-MSFT commented on #37038
@farooqkh, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2019-08-16 18:28] #37038 closed

[2019-08-16 18:29] rlauriston opened #37265 "additional information"
See also:
https://www.striim.com/docs/en/replicating-oracle-data-to-azure-cosmos-db.html
https://www.striim.com/docs/en/cosmos-db-writer.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92ee2601-48a3-58b0-1c39-c8a761f74482
* Version Independent ID: e6eaac91-41ce-c4dc-5342-636d26183a5d
* Content: [Migrate data to Azu

[2019-08-16 18:30] AkshayTharval opened #37266 ""scoringUri": null,"
After I am done deploying the Azure ML service following the steps given above, the properties.json file has "scoringUri": null. I have also checked by calling the service in a Python script

from azureml.core.webservice import Webservice
service = Webservice(workspace=ws, name='mysvc')
print(service.scoring_uri)

The output is None.

Is there any obvious step I have missed?

---
#### Document Det

[2019-08-16 18:34] #31447 closed

[2019-08-16 18:34] TravisCragg-MSFT commented on #37239
@stuholden you can [find more information about generating and installing certificates for the VPN connection Here](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-certificates-point-to-site). You can follow these instructions again and upload a new P2S Certificate for your existing gateway. Don't forget to install the client certificate as well.

[2019-08-16 18:35] #31437 closed

[2019-08-16 18:35] #31440 closed

[2019-08-16 18:35] #31443 closed

[2019-08-16 18:42] rachel-msft commented on #37075
Version 1.3 will be available for Postgres 11. We expect it to rollout in September.

[2019-08-16 18:44] PramodValavala-MSFT commented on #36931
@gpduck Since the model class in the extension doesn't have the required attributes for this, you would have to replace (considering [code here](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-instance-management#query-all-instances))

[code]

with

[code]

[2019-08-16 18:45] Blackmist commented on #37029
Hi @nirtiac , you can pass a new inference configuration to the update, and the inference config can reference a new/updated score.py script. For example, `service.update(inference_config=inference_config)`. When this runs, it creates a new image and updates the web service to it.

One caveat I've ran into is that doing this from inside a Jupyter Notebook doesn't update/refresh the service object.

[2019-08-16 18:46] MicrosoftGuyJFlo commented on #37179
The password filter is loaded on your on-premises domain controllers so any on-premises users who reset their passwords will have to abide by the cloud-based banned password list.

[2019-08-16 18:47] LarsKemmann commented on #36928
@MicahMcKittrick-MSFT I do understand that, my question is basically why. :) What is it that makes, say, a 3-3-3 configuration (9 primary nodes total across 3 AZs, 3 instances per VMSS) less available than a 5-5-5 configuration (15 primary nodes, same # of AZs and VMSS)?

[2019-08-16 18:47] MicrosoftGuyJFlo commented on #37168
I will pass the feedback along to the product group.

[2019-08-16 18:47] MicrosoftGuyJFlo commented on #37168
#please-close

[2019-08-16 18:47] nirtiac commented on #37029
Perfect, thanks!

[2019-08-16 18:47] #37168 closed

[2019-08-16 18:48] TravisCragg-MSFT commented on #37236
@davelobban Thanks for the feedback! The portal experience to create a VM recently changed, and it looks like this doc has not yet been updated. The most important thing about creating the first VM is to remove the Network Security Group (NSG) that is attached to the NIC, and this can be done after the VM is created. Please let me know if you have any addition questions or blockers.

To update the

[2019-08-16 18:50] Karishma-Tiwari-MSFT commented on #37260
I have created a PR with the update, changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/85689

[2019-08-16 18:50] MicrosoftGuyJFlo commented on #36879
@andrewbeaumont Awesome! Thank you! Just approved and signed off on the change.

[2019-08-16 18:50] MicrosoftGuyJFlo commented on #36879
#please-close

[2019-08-16 18:50] #36879 closed

[2019-08-16 18:51] MicahMcKittrick-MSFT commented on #36928
Mainly this: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-capacity#the-durability-characteristics-of-the-cluster

If you don't use 5 nodes, then the durability tier you can select is militated and each scale set instances will receive less privileges than if you were running a 5 node cluster will full privileges.

[2019-08-16 18:54] LarsKemmann commented on #36928
Ah, so you're saying that basically the problem is the infrastructure jobs mentioned in that section aren't aware of the fact that my VMSS are logically linked, and so the Silver/Gold durability tiers wouldn't be available to me. Correct?
If so, is there any chance that that will change (or that e.g. Service Fabric Mesh might provide a leaner/less expensive way to get AZ support in my services)?

[2019-08-16 18:55] j-martens commented on #36092
@iamanuradha thanks for your question. unfortunately there isn't a good way to do this (yet). We've opened a [request](https://msdata.visualstudio.com/Vienna/_workitems/edit/492993) with engineering to add support for this in the future.

There's the pipeline show command which list a few details, but not all:

      az ml pipeline show -i "62e8ce01-3984-465d-91fb-94821eb3fc57" --workspace-name "e

[2019-08-16 18:55] #36092 closed

[2019-08-16 18:57] j-martens commented on #37264
#assign:@sdgilley

[2019-08-16 18:58] JasonWHowell commented on #37169
@tomfitz could you please take a look?

[2019-08-16 18:59] AjayKumar-MSFT commented on #36975
@jhgbrt, We have made the requested changes and it should be public within the next 24 hours. Thanks again for reporting this, it's much appreciated.

[2019-08-16 19:01] TravisCragg-MSFT commented on #37262
@bultaf14 VNET Service Endpoints creates a separate path for traffic in your Virtual Network to route to an Azure Storage account in the same region, and it should have no effect on your storage account.

[Azure Storage Firewall](https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security) is what controls access from the storage account side. As long as the firewall allows acce

[2019-08-16 19:01] #36975 closed

[2019-08-16 19:03] MicahMcKittrick-MSFT commented on #36928
Right. Essentially you have multiple node types in your cluster. Each of those node types are their own independent VMSS cluster. The load balancer is really the only thing connecting the traffic and distributing across the clusters. And of course depending on how you have your SF setup, you might be direction certain traffic to one node type and another traffic type to a different cluster.

And a

[2019-08-16 19:03] AjayKumar-MSFT commented on #37047
@mattchenderson, Requesting your comments on this issue.

[2019-08-16 19:04] KranthiPakala-MSFT commented on #15049
@Molotch Thanks for sharing your findings. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2019-08-16 19:04] #15049 closed

[2019-08-16 19:05] dnelly commented on #27516
What about alerts that have a specific email address to send to?  Will it send it to that email address?  Currenty alerts are happening and I'm never getting the alerts.

[2019-08-16 19:09] SaurabhSharma-MSFT commented on #37071
@wucj I do not think there is any limitation on using the personal accounts.  Are you able to do the consent.

[2019-08-16 19:09] JimacoMS3 commented on #32611
@mauret I haven't heard back from you, so I'm going to close this work-item. Thanks, again,  for your feedback.

[2019-08-16 19:10] LarsKemmann commented on #36928
Got it, thank you! That's helpful.

[2019-08-16 19:10] #36928 closed

[2019-08-16 19:11] JimacoMS3 commented on #32611
#please-close

[2019-08-16 19:11] #32611 closed

[2019-08-16 19:12] SaurabhSharma-MSFT commented on #37103
@Don-Fuego We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-16 19:12] #37103 closed

[2019-08-16 19:13] MicahMcKittrick-MSFT commented on #36928
No problem :) if you have any features you would like to see added to Service Fabric you can always leave that feedback here as well:

https://feedback.azure.com/forums/293901-service-fabric

[2019-08-16 19:14] FrankHu-MSFT commented on #37144
Hello, as this is not stated explicitly it is not a support scenario.

And the fact that it says : "You can only have one sync engine per SQL instance. It is not supported to share a SQL instance with FIM/MIM Sync, DirSync, or Azure AD Sync"

Means that it is in fact not a supported scenario. When there has been proper testing and we can confirm that this will work, we will update accordingly, how

[2019-08-16 19:14] snitkjaer opened #37269 "The C# samples could really use a refresh"
Maybe put some better samples on GitHub including instructions setting the time in the record like described here https://robberse-it-services.nl/blog/2019/01/15/business-central-telemetry-part-2-sending-telemetry-to-azure-log-analytics/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91a94c16-909a-2220-7152-6395dc4dab7

[2019-08-16 19:16] FrankHu-MSFT commented on #37183
As we're currently moving to the v2.0 endpoint, we don't plan on updating the docs as much for the v1.0 endpoint. If you would like more details on how to grant admin consent, please see :

https://blogs.msdn.microsoft.com/aaddevsup/2018/05/08/receiving-aadsts90094-the-grant-requires-admin-permission/

@agrabhi Please let us know if there are anymore questions within the scope of this git issue. I

[2019-08-16 19:17] kumarallamraju opened #37270 "No --password option for az ad sp create-for-rbac"
[Enter feedback here]
# Create a service principal and read in the application ID
SP_ID=$(az ad sp create-for-rbac --password $SP_PASSWORD --skip-assignment --query [appId] -o tsv)

There is no --password option
https://docs.microsoft.com/en-us/cli/azure/ad/sp?view=azure-cli-latest#az-ad-sp-create-for-rbac

Pls fix this syntax.
https://docs.microsoft.com/en-us/cli/azure/ad/sp?view=azure-cli-latest

[2019-08-16 19:25] NavtejSaini-MSFT commented on #37075
@rachel-msft Thanks for the help.
@j0h Hope this information has helped and you can schedule your migration accordingly. If there is no other question at this moment we will close this thread.

[2019-08-16 19:31] Blackmist commented on #34940
@dmitry-lif Sorry for the late response. To register multiple models, put them in a directory and use `az ml model register -p ./models -n sentiment -w myworkspace -g myresourcegroup` to add them all as one registration. See https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-deploy-existing-model for an example this.

To add a source directory (score.py and other files for runn

[2019-08-16 19:32] Blackmist commented on #34940
@n-a-sz Sorry for the late response. Investigating how this can be done with the InferenceConfig path now.

[2019-08-16 19:33] NavtejSaini-MSFT commented on #37234
@MashaMSFT Thanks for the additional information.
@bjQrnen Hope this information has helped. Please let us know if we can assist you further or we can close this thread.

[2019-08-16 19:34] SamirFarhat commented on #37222
Thanks.
I think you can say. "You can close this port and open it when needed by MS for troubleshooting". Thanks

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: PRMerger17 <notifications@github.com>
Sent: Friday, August 16, 2019 7:47:17 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Samir Farhat (MVP) <samir.farhat@live.com>; Mention <me

[2019-08-16 19:37] NavtejSaini-MSFT commented on #36559
@masashioms Hope the information from @kfarlee has helped. And @stevestein will update the document is sometime as well.

[2019-08-16 19:38] MicahMcKittrick-MSFT commented on #37270
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-16 19:46] MicahMcKittrick-MSFT commented on #37270
@kumarallamraju thanks for this find! I have confirmed you are correct.

I will assign this to the content author to review and see about the best way to rework the script so it requires as little user input as possible.

[2019-08-16 19:46] festivus opened #37271 "Windows Server Core"
Does the POA support applying windows updates to Server Core 2016 & 2019?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3a16900-c967-ccf9-2d87-1c994013bf0e
* Version Independent ID: 474287be-47ca-50b3-1240-8cca745eca9e
* Content: [Azure Service Fabric patch orchestration application](https://docs.microsoft.com/en-us/

[2019-08-16 19:47] sbi-rviot commented on #37079
@Adam-Smith-MSFT , do you need more details in order to help?
I realize that the "manual way" gets the ID of the folder instead of the path, when I am dynamically writing the path.
Nonetheless, for my flow, writing the path would solve my issue.
Thank you again.

[2019-08-16 19:47] ravijan commented on #37247
@jlichwa will triage accrodingly.

[2019-08-16 19:51] NavtejSaini-MSFT commented on #37258
@rlauriston we have closed the following issue as duplicate.
https://github.com/MicrosoftDocs/azure-docs/issues/37265

@SnehaGunda We are assigning this case to you for further action. Please find the links shared by @rlauriston in the other thread.

https://www.striim.com/docs/en/replicating-oracle-data-to-azure-cosmos-db.html
https://www.striim.com/docs/en/cosmos-db-writer.html

[2019-08-16 19:51] NavtejSaini-MSFT commented on #37265
Closing this as duplicate of the following thread:
https://github.com/MicrosoftDocs/azure-docs/issues/37258

The links provided in this document will be added there as well.

[2019-08-16 19:52] #37265 closed

[2019-08-16 19:54] opticyclic commented on #36934
@DixitArora-MSFT The point is that it is a note and not fully documented.

Here are a few questions that arise:

- Where in the UI do you set the permissions? (AD - App Registration - API Permissions?)
- What is the difference between Delegated and Application permissions?
- Do we want "Microsoft Graph" or "Azure Active Directory Graph"?
- Why does it say "Status not granted"? What is this consent

[2019-08-16 19:55] NavtejSaini-MSFT commented on #37263
@rlauriston Please use this thread for updating the information for Migrate data to Azure Cosmos DB Cassandra API account using Striim
@SnehaGunda Assigning this to you for further action.

[2019-08-16 20:00] mrbullwinkle commented on #27964
Hey, sorry this stayed open so long. We have internally merged the following section to the [create resource doc](https://docs.microsoft.com/en-us/azure/azure-monitor/app/create-new-resource). The change will go-live between 3-4 PM (UTC-7). Thanks again for bringing this gap to our attention:

## Creating a resource automatically

### PowerShell

Create a new Application Insights resource

[code]

[2019-08-16 20:01] mrbullwinkle commented on #27964
#please-close

[2019-08-16 20:01] #27964 closed

[2019-08-16 20:11] MicahMcKittrick-MSFT commented on #37271
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-16 20:13] wasker opened #37272 "The first command in "Configure virtual machine availability set-based AKS clusters for SSH access" section is wrong"
Looks like it should be `az vmss list`, not `az vm list`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b81a147-db1c-b92f-88d1-6dd0991a72fe
* Version Independent ID: f5a2c949-498f-5848-d89c-031d1a757120
* Content: [SSH into Azure Kubernetes Service (AKS) cluster nodes](https://docs.microsoft.com/en-us/azure/aks/ssh#f

[2019-08-16 20:15] chambbc commented on #37075
Thanks for the response @rachel-msft, looking forward to it. @NavtejSaini-MSFT, appreciate you getting in touch with the product team, can close this thread now.

[2019-08-16 20:16] j0h commented on #37075
Thanks for the response @rachel-msft, looking forward to it. @NavtejSaini-MSFT, appreciate you getting in touch with the product team, I'll close this thread now.

[2019-08-16 20:16] #37075 closed

[2019-08-16 20:17] wasker commented on #37272
Although, it looks like it's VMSS in previous section vs. VM "availability set" in the section in question. If yes, then it should probably be made more clear that they're "either or", not "both".

[2019-08-16 20:17] ecfan commented on #36560
@ToMakeSense & @PramodValavala-MSFT, the topic is now updated. Thank you!

#please-close

[2019-08-16 20:17] #36560 closed

[2019-08-16 20:19] MicahMcKittrick-MSFT commented on #37272
@wasker the titles do clearly state that one is for VMSS and the other is for VM.

At this point we plan to leave the document as is. However your comment will remain on this document so if others find it confusing they can also comment and we can always reconsider modifying the doc at a later date.

We appreciate the feedback :)

[2019-08-16 20:19] #37272 closed

[2019-08-16 20:22] vanderby opened #37273 "Default Custom Metrics Name Change Between V1 & V2"
Under the migrating from 1.x to 2.x header there should be a paragraph about the name change to the default built in custom metrics. The most important to point out is that "Success Rate" is now "SuccessRate" and that Duration has been removed.

V1
Count
Duration
Failures
Success Rate
Successes

V2
AvgDurationMs
Count
Failures
MaxDurationMs
MinDurationMs
Successes
SuccessRate

---
#### Document De

[2019-08-16 20:25] dubahu commented on #28687
I had this issue too.  It is likely the root certificate you are providing isn't the one being presented by default.  This would come into play in scenarios where you are using SNI to host multiple SSL host name under one IP.  There needs to be a default certificate for things that don't support SNI.  You have to 1. Make sure you have the right root certificate.  2. Specify the host name or use th

[2019-08-16 20:26] rlauriston commented on #37265
@NavtejSaini-MSFT they're two sets of links. This page is for using Striim's CosmosDBWriter, which uses the Cosmos DB SQL API. The other one is for using Striim's DatabaseWriter with the Cassandra API.

[2019-08-16 20:32] andradf commented on #37154
Thanks for the response. The links you posted are regarding containers that don't use the Service Fabric SDKs. And as I said in my post, those work just fine in the local dev cluster. What I was asking about was specifically containerized reliable services. https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-services-inside-containers#feedback .

I get those to work fine in a Wind

[2019-08-16 20:33] NavtejSaini-MSFT commented on #37265
Please use following link for Cosmos DB SQL API:
https://github.com/MicrosoftDocs/azure-docs/issues/37258

Please use following link for Cosmos DB Cassandra API
https://github.com/MicrosoftDocs/azure-docs/issues/37263

[2019-08-16 20:34] MicahMcKittrick-MSFT commented on #37154
Got it. I will take a look and update this thread.

[2019-08-16 20:37] rachel-msft commented on #36955
#please-close

[2019-08-16 20:37] #36955 closed

[2019-08-16 20:43] KetanChawda-MSFT commented on #37273
Thanks for the feedback! I have assigned the issue to the content author  @ggailey777  to evaluate and update as appropriate.

[2019-08-16 20:44] kkagill opened #37274 "After swap, users are all logged out."
When performing swap between staging and prod, I found our logged in users were all forced to be logged out.

Our application depends on information from user's sessions, so if it's empty then the users lose authentication and redirected back to the login page.

So I believe swapping does not carry over session info when it's done?
I actually tried [this](https://intellitect.com/staying-logged-acr

[2019-08-16 20:45] KetanChawda-MSFT commented on #37252
@TsuyoshiUshio Thank you for your feedback! We will review and provide an update as appropriate.

[2019-08-16 20:47] markjbrown commented on #36862
#please-close

[2019-08-16 20:47] #36862 closed

[2019-08-16 20:47] Blackmist commented on #34940
@n-a-sz The way using a private .whl file works with InferenceConfiguration isn't fully documented today. It relies on the Environment object, and the docs for that are being written currently. Environments are a way to register and version the environments needed for training or deployment. For example, you might have a standard training environment that you re-use for multiple trainings. Instead

[2019-08-16 20:50] KetanChawda-MSFT commented on #37227
@HannahHsiao The doc will be updated with this [PR#37267](https://github.com/MicrosoftDocs/azure-docs/pull/37267).

[2019-08-16 20:54] #37260 closed

[2019-08-16 20:59] Chai-NED opened #37275 "ER redundancy for private peering is not entirely accurate?"
I think the paragraph needs some clarification. The circuits do not have to come from different private peering. I think the paragraph should read  "The maximum of 4 ER circuits from single or multiple private  peering locations can be linked to the same virtual network".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-08-16 21:00] liyiming-serif commented on #37264
As a workaround, I manually copied the *.gz files and calling load_data(os.path.join(data_folder, 'test-images.gz'), False) results in "OverflowError: cannot fit 'int' into an index-sized integer"

[2019-08-16 21:04] mtillman commented on #10258
#assign @iainfoulds

[2019-08-16 21:05] mtillman commented on #8028
#assign @iainfoulds

[2019-08-16 21:05] mtillman commented on #8619
#assign @iainfoulds

[2019-08-16 21:06] mtillman commented on #8620
#assign @iainfoulds

[2019-08-16 21:06] liyiming-serif commented on #37264
Ignore the OverflowError; workaround does the trick, but I have to manually download the *.gz files from http://yann.lecun.com/exdb/mnist

[2019-08-16 21:07] mtillman commented on #18906
#assign @iainfoulds

[2019-08-16 21:08] roygara commented on #36892
@MoRMongol Of course, I'm happy to help any way that I can. :)

In this case though, I'm afraid it would take more than a few screenshots. The way I know involves utilizing another tool in combination with your file share. Basically using Azure Storage Explorer to generate a SAS key with limited permissions (no delete, in your case) for your file share and giving that to your customer. Then having

[2019-08-16 21:08] #36892 closed

[2019-08-16 21:11] FrankHu-MSFT commented on #37199
Hey @activeNathan  why do you suggest that? Does that provide any benefit? It's just an extra line in the consent framework screenshot.

[2019-08-16 21:11] caerphilly opened #37276 "Downloading usage data for EA portal is wrong"
there is no elipses.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ce159af-25d8-dbf9-f805-325b4efc04ac
* Version Independent ID: e64078cb-075a-a6cf-775f-0754fd6395f5
* Content: [Download Azure billing invoice and daily usage data](https://docs.microsoft.com/en-us/azure/billing/billing-download-azure-invoice-daily-usa

[2019-08-16 21:12] iainfoulds commented on #8620
Sorry for the delay here, @SychevIgor, and thanks for the feedback.

It looks like this doc has already been updated, and there no longer any references to the service being in preview in the text or screenshots.

#please-close

[2019-08-16 21:12] #8620 closed

[2019-08-16 21:12] mtillman commented on #23112
#reassign @ArvindHarinder1

Arvind, can you take a look at this? Thanks.

[2019-08-16 21:13] FrankHu-MSFT commented on #37186
Hey @jurajgh so you're trying to use only Kerberos delegation,

Did you make sure to check if your environment reflects the important note accordingly in the documentation?

[2019-08-16 21:19] iainfoulds commented on #8619
Sorry for the delay here, @SychevIgor, and thanks for the feedback.

There's a doc update that is already scheduled to publish on Monday August 19th that refactors this network planning doc. There's now specific sections on Resource Manager Vnet peering, or the use of VPN connections. Both in-region and global vnet peering should work fine.

For now, #please-close

[2019-08-16 21:19] #8619 closed

[2019-08-16 21:19] FrankHu-MSFT commented on #36823
Hey @blueelvis,

The following responses are based on conversations with the Encryption-At-Rest team

What is the best course of action or long term solution for service teams with dependencies on PaaS V1 services?

If it is possible to move to PaaS v2 or IaaS then you should.

If you've built your service using Cloud Services or App Services (both of which use PaaS v1) and moving to a new framewo

[2019-08-16 21:22] FrankHu-MSFT commented on #36823
In addition to that, specifically for web apps and app services please see this git issue: https://github.com/MicrosoftDocs/azure-docs/issues/11299

Essentially if you want something to be encrypted it should be either:
Encrypted by you,
Put on a Azure Storage technology and then the Azure tech should be encrypted,
or on an IAAS disk that has encryption enabled.

@blueelvis Please let us know if t

[2019-08-16 21:23] FrankHu-MSFT commented on #37139
@AlekseySokol As there hasn't been a response in a while, I will be closing out this git issue now, please reopen this git issue if you have anymore concerns. Thanks

[2019-08-16 21:23] #37139 closed

[2019-08-16 21:24] FrankHu-MSFT commented on #37142
Hey @garrylean  thanks for that information, we're currently looking into this and will get back to you as soon as possible.

Thanks,
- Frank Hu

[2019-08-16 21:25] FrankHu-MSFT commented on #37173
Hey @calebcoverdale  as this issue is currently being addressed I'm going to go ahead and close out this github issue, please let us know if there are anymore issues in the future by creating a new git issue. And thanks for contributing, your help is highly appreciated.

[2019-08-16 21:25] #37173 closed

[2019-08-16 21:28] FrankHu-MSFT commented on #37188
It sounds like an RBAC issue,
Are you sure you followed the 1st and 2nd steps properly? what are the roles for the keyvault?  @kartheekakkur

[2019-08-16 21:29] iainfoulds commented on #8028
Sorry you ran into issues, @gegenki and @balazsorban44, and sorry for the delay here.

I'll add a link on how to add and verify that user accounts are a member of the _AAD DC Administrators_ group. For reference, the Azure AD fundamentals docs cover this process, and more - https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-groups-members-azure-portal

For the ac

[2019-08-16 21:32] SaurabhSharma-MSFT commented on #37163
@LarsKemmann Thanks for the feedback.  I have assigned this issue to content author to comment on the feasibility of doing this for Azure Front Door service.

[2019-08-16 21:40] FrankHu-MSFT commented on #37188
Hey @kartheekakkur you can use the az list command to list your rbac roles : https://docs.microsoft.com/en-us/cli/azure/role/assignment?view=azure-cli-latest#az-role-assignment-list

[2019-08-16 21:49] deborahc commented on #36969
Hi @lukeb1961, thank you for the feedback. We are working on updating our JavaScript SDK samples, and will be updating this page.

[2019-08-16 21:56] FrankHu-MSFT commented on #32583
Hello, @BPtLNfxZWo currently implementing this is essentially still in the pipeline, and there are other items that our product team is currently addressing. I'm sorry that I can't provide a more clear answer.

Are there anymore questions within the scope of this github issue? If not, I will be closing this out end of day Monday.

[2019-08-16 21:58] FrankHu-MSFT commented on #33264
Hey @AzureGuineaPig  I'm going to go ahead and make the change in the document, and unfortunately as the ceiling of a data log can vary, we are only able to provide a general average of how much a sign-in event can be.

Are there anymore questions within the scope of this git issue? Or would it be fine to go ahead and close out this git issue?

[2019-08-16 21:59] deborahc commented on #36970
Hi @lukeb1961, thank you for the feedback. The work for the throughput samples is being tracked here: https://github.com/Azure/azure-sdk-for-js/issues/4783.

[2019-08-16 22:00] TravisCragg-MSFT commented on #37275
@Chai-NED Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-16 22:01] subodh-dharma commented on #37102
@MicahMcKittrick-MSFT created this issue https://github.com/Azure/azure-sdk-for-python/issues/6820

[2019-08-16 22:01] BPtLNfxZWo commented on #32583
Hi. What do you mean with implementing it? I just want to find out the rationale why you choose the PKDF2 (with only 1000 iterations) instead of a more modern algorithm. I assume there is a good reason for this. thanks

[2019-08-16 22:03] SaurabhSharma-MSFT commented on #37172
@FabianGCZ Thanks for your feedback.  There is already a GitHub issue-[36229](https://github.com/MicrosoftDocs/azure-docs/issues/36229) and this issue will be address covered with the same.

[2019-08-16 22:03] #37172 closed

[2019-08-16 22:07] SaurabhSharma-MSFT commented on #37197
@theheatDK Please refer to [Automate onboarding of Azure Security Center using PowerShell](https://docs.microsoft.com/en-us/azure/security-center/security-center-powershell-onboarding) for the same.

[2019-08-16 22:10] Karishma-Tiwari-MSFT commented on #36947
@poochwashere Thank you for providing the details and valuable feedback.
For feature requests, you can always leave your feedback here as well : https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion. :)

[2019-08-16 22:10] #36947 closed

[2019-08-16 22:12] SaurabhSharma-MSFT commented on #37237
@jaredtait Azure DevOps can integrate/connect with Azure Government today. Please refer to [Deploy an app in Azure Government with Azure Pipelines](https://docs.microsoft.com/en-us/azure/azure-government/connect-with-azure-pipelines) for details.

[2019-08-16 22:16] theheatDK commented on #37197
Thanks @SaurabhSharma-MSFT.
I did already look at that page and at the Az.Security module, but I could not find anything that will allow you to enable security event storage by setting it to Minimal, Common or All events.
Regards Peter

[2019-08-16 22:24] BryanTrach-MSFT commented on #36927
@oi-eddyoj We apologize for the frustration that you have encountered. Our blessed images are locked down a bit more than a IaaS VM image. As a result, there's a bit of a different workaround. Please see the below steps to achieve this.

1.  SSH into the container and copy the current startup script by typing "cp /opt/startup/startup.sh /home"
2.  Edit the startup.sh under /home/startup.sh and add

[2019-08-16 22:24] #36927 closed

[2019-08-16 22:36] femsulu commented on #37269
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-08-16 22:37] femsulu commented on #37243
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-08-16 22:39] femsulu commented on #37276
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-08-16 22:58] SaurabhSharma-MSFT commented on #37241
@calewilliams When "Use workspace created by Security Center" is selected during the workspace configuration from Azure VMs, security center creates a new resource group and default workspace in that geolocation.  Please refer to [Using a workspace created by Security Center](https://docs.microsoft.com/en-us/azure/security-center/security-center-enable-data-collection#using-a-workspace-created-by-

[2019-08-16 22:58] anosov1960 commented on #29495
the article is updated with some examples.

[2019-08-16 23:28] Karishma-Tiwari-MSFT commented on #37140
@zr-msft I saw that you updated the aks version 18 days ago, do you think it needs to be updated again? Please share your insights. Thanks :)

[2019-08-16 23:30] agrabhi commented on #37183
I was looking for how to invoke the admin consent endpoint. The url should be linked to the docs.

[2019-08-16 23:34] BharathNimmala-MSFT commented on #37176
Thank you @mrbullwinkle for helping on this. Based on the feedback, assigned to @cijothomas to take it forward. Thanks

[2019-08-16 23:35] davidjbrossard commented on #37210
Have a look at ALFA and Axiomatics. We do ABAC for apps & APIS

[2019-08-16 23:35] YutongTie-MSFT commented on #37266
@AkshayTharval
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-08-16 23:45] kartheekakkur commented on #37188
I assigned owner role to the storage account still encountering the permission issue

[2019-08-16 23:50] Anand-Moghe opened #37279 "How do I check which feature are applicable to Government Cloud?"
Where can Public Sector government customers check or look to figure out which feature of API Management is available in which region of Government Cloud ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b45736d2-b0f4-05c3-8e2f-fde88f53b61a
* Version Independent ID: f6c4d89a-1cc5-3e2a-6a3c-3b292cecead7
* Content: [Azure

[2019-08-17 00:09] flyingUnderTheRadar opened #37280 "I get an error when trying to authorize from the api managment developer portal."
When executing this step - "Select Authorization code from the authorization drop-down list, and you are prompted to sign in to the Azure AD tenant. If you are already signed in with the account, you might not be prompted."

I get an error
An error has occurred while authorizing access via Testing oauth 2: invalid_client AADSTS650053: The application 'consumer' asked for scope 'user_impersonation'

[2019-08-17 00:24] Grace-MacJones-MSFT commented on #36937
@taromielnaz, if you go to the diagnosis and solve problem blade in your web app you should be able to see the CPU usage there. please see this documentation for more information:  https://docs.microsoft.com/en-us/azure/app-service/overview-diagnostics#health-checkup

![CPU usage](https://user-images.githubusercontent.com/42247081/63204248-8bf96100-c04a-11e9-90ca-c6e5268c8080.PNG)

We will now pro

[2019-08-17 00:24] #36937 closed

[2019-08-17 00:49] MLopesSousa opened #37281 "Fix the documentation in Node.js example"
const fingerPrint = md.sha1.create().update(asn1.toDer(pki.certificateToAsn1(incomingCert)).getBytes()).digest().toHex();

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb440603-950a-c224-f6c9-222ca502d5a5
* Version Independent ID: 0b5c4944-0327-91fc-2b0b-c19a1b873b64
* Content: [Configure TLS mutual authentication - A

[2019-08-17 01:33] tbebekis opened #37282 "Unable to make scopes work."
I've an Asp.Net Core WebAPI and a .Net Core console client. Both properly registered as Azure AD applications.
No matter what I tried, I can not make it work with scopes.

Following is a simplified version of my code, with three cases.
The third is the only one working.

// Settings.TenantId = the Directory ID from AAD Properties
// Settings.ClientId = a registered client app ClientId
// Settings.

[2019-08-17 01:46] Alberto-Vega-MSFT commented on #36982
@TiNovTec We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-17 01:46] #36982 closed

[2019-08-17 01:48] Adam-Smith-MSFT commented on #37249
@m8r1us Could you provide us with the documentation link to which the issue is related to ?

Thanks

[2019-08-17 01:49] Adam-Smith-MSFT commented on #37251
@PaulD11 Thank you for the valuable feedback,we are investigating the issue.

[2019-08-17 01:50] Alberto-Vega-MSFT commented on #36983
@formulahendry Thanks for taking the time to help. I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-17 01:50] Adam-Smith-MSFT commented on #37256
@twartonick Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-17 01:52] Adam-Smith-MSFT commented on #37257
@hpatel01 Could you please provide us with the link to the Microsoft Documentation you were referring to ?

Thanks,
Adam

[2019-08-17 01:53] #36987 closed

[2019-08-17 01:54] Adam-Smith-MSFT commented on #37261
@lyan-git  Could you please provide us with the documentation link you were referring to ?

[2019-08-17 01:56] Adam-Smith-MSFT commented on #37274
@kkagill Could you please provide us the documentation link you were referring to ?

Thanks,
Adam

[2019-08-17 01:58] Adam-Smith-MSFT commented on #37279
@Anand-Moghe Thank you for the valuable feedback,we are investigating the issue.

[2019-08-17 02:31] DixitArora-MSFT commented on #36992
@Planche95 For now I will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-17 02:31] #36992 closed

[2019-08-17 02:31] DixitArora-MSFT commented on #37096
@jn-altius For now I will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-17 02:31] #37096 closed

[2019-08-17 02:43] Jatinder-Luthra commented on #36614
Thanks, @Karishma-Tiwari-MSFT I did create the support case.

Let me know if I need to share support case with you or any help you can do, to bring azure support up to speed.

~Thanks

[2019-08-17 03:03] omiday opened #37283 "typo - missing 'GB'"
Storage size 	32 GB to 16 TB 	32 to 16 TB

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 038ee2b6-8a76-a678-1069-3eb7c2808d73
* Version Independent ID: cd6cb2ea-9fff-9237-2168-a39eb24f2677
* Content: [Pricing tiers for Azure Database for PostgreSQL - Single Server](https://docs.microsoft.com/en-us/azure/postgresql/conc

[2019-08-17 03:28] ToMakeSense commented on #9938
@kobulloc-MSFT  This link is still break at the moment, it redirects to https://azure.microsoft.com/en-us/blog/topics/api-management-2/, and I can't find the doc throught all the three pages.

[2019-08-17 03:38] ToMakeSense commented on #37064
@mikebudzynski thanks for your updates!

If so, it should be a good idea to indicate this restriction in this document --> [API import restrictions and known issues](https://docs.microsoft.com/en-us/azure/api-management/api-management-api-import-restrictions), how do you think?

[2019-08-17 04:17] ElanShudnow opened #37286 "Enable-AZVMPSRemoting"
May be worth discussing the new command available in Cloud Shell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d88a218-b46c-d32a-f5b4-c0695d6f84d1
* Version Independent ID: 4b37d24e-784d-1be5-4909-dac937edf871
* Content: [Configure WinRM after Azure virtual machine creation](https://docs.microsoft.com/en-us/azure/ma

[2019-08-17 04:23] ToMakeSense commented on #36560
@ecfan thanks for your updates, reagarding this documation, it's OK.

As to `Management Solutions list` issue caused by UX updating, I found another issue #30445, I checked the documentation it pointed to, finding that the documation was updated to align.  It should be a bug of azure portal, **the `Management Solutions` category is missing while comparing with Azure Marketplace**.

[Install a moni

[2019-08-17 04:29] ToMakeSense commented on #30445
@stewartadam @SadiqhAhmed-MSFT At the moment, I think, It should be a bug of azure portal, the Management Solutions sub-category is missing while comparing with Azure Marketplace. see my latest updates in #36560

[2019-08-17 04:43] BryanTrach-MSFT commented on #37281
@MLopesSousa Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-17 05:52] harelbr commented on #27516
The mentioned change only affects the configuration pertaining to the default ARM roles that should be getting the emails.
If a Smart Detection rule is configured to send an email to a specific email address, then this shouldn't be affected by the change and you should continue getting email notifications to that address.

Feel free to reach out to me at harelbr@microsoft.com with more details, li

[2019-08-17 07:06] invictus-0x90 opened #37288 "Admin consent flow doesn't work for personal account"
Using a personal microsoft account, added an application in azure ad portal.

Following the .net core guide, I'm told to grant admin consent after having added scopes. To do this I enter this url into my browser: https://login.microsoftonline.com/common/adminconsent?client_id=836664e0-0b7a-4abb-9cd1-7de0e6c94426

This fails with a redirect to:
http://localhost/myapp/permissions?error=access_denied

[2019-08-17 07:23] xerosum opened #37289 "What permissions are required?"
I get this error, 'No permissions to read Service Health events for 1 subscription(s).' I have the owner role for all resource groups within the subscription but fewer permissions at subscription level.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ece45be-921e-665a-ef7a-b21bc0675c8a
* Version Independent ID: cc393a6

[2019-08-17 09:02] DanieleDeSano opened #37290 "Problem when appending a second Logic App API"
Thank you for the useful article !
I kindly ask for help to solve a problem I'm having in appending several Logic App APIs to a single APIM API:
I try to import the second Logic App API using the Import menu option in API Management. I can browse my Logic Apps list but when I push the Import button I get an error "API Management. Could non create an API. Please try again later."
Before doing this

[2019-08-17 10:04] jakaruna-MSFT commented on #37280
@flyingUnderTheRadar
Thanks for the question! We are investigating and will update you shortly.

[2019-08-17 10:05] jakaruna-MSFT commented on #37282
@tbebekis
Thanks for the question! We are investigating and will update you shortly.

[2019-08-17 10:06] jakaruna-MSFT commented on #37283
@omiday
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-17 10:10] jakaruna-MSFT commented on #37288
@invictus-0x90
Thanks for the question.
Please give us the link to the guide which you are following

[2019-08-17 10:11] jakaruna-MSFT commented on #37290
@DanieleDeSano
Thanks for the question! We are investigating and will update you shortly.

[2019-08-17 10:16] jakaruna-MSFT commented on #37289
@xerosum
Thanks for the question! We are investigating and will update you shortly.

[2019-08-17 10:18] jakaruna-MSFT commented on #37286
@ElanShudnow
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-17 10:22] msrini-MSFT commented on #37152
@ositobio , I will go ahead and close this issue, please reach out if you have any further questions.

[2019-08-17 10:22] #37152 closed

[2019-08-17 12:08] Adjrobinson opened #37291 "Excel ML Studio addin not working"
Hi,

I have tried using the Azure ML Studio Excel addin and it does't appear to be populating the results any more.

It used to work, the api appears to be working using it manually within Azure ML Studio, I even tried the test titanic spreadsheet, is it something that you are aware of or is it I am doing something that has changed or that I am doing wrong?

---
#### Document Details

⚠ *Do not ed

[2019-08-17 13:00] cephalin commented on #25614
The doc was long outdated and deleted and the link was left by mistake. We've deleted the link now.

#please-close

[2019-08-17 13:25] stephbaron commented on #37289
Service health requires read permissions at the subscription level : https://docs.microsoft.com/en-us/azure/service-health/service-health-overview.

[2019-08-17 13:45] jurajgh commented on #37186
i just tested today, and it actually works. not sure where the problem was before, but perhaps just a question of replication between aad and aadds. please consider my question irrelevant - live migration works fine when constrained delegation configured according to this article. thank you for your time, anyway :)

[2019-08-17 13:50] artisticcheese opened #37293 "Are Azure AD credentials supported?"
Hello,

SQL server logins using Azure AD is supported to directly execute queries against individual DBs which is perfect setup for any sort of job automation since managed service identities or service principals can be used without need to create DB users in each DB. Is it scenario is not supported for jobs? Creating user in each DB seems to be backward design since now every time you need to ad

[2019-08-17 14:34] Sas002 commented on #37206
I am following https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/diagnostics-linux.

Filelogs part is not working at all . I tried to send Blob , eventhub both but nothing is working as described in document

"fileLogs": [
    {
        "file": "/var/log/mydaemonlog",
        "table": "MyDaemonEvents",
        "sinks": ""
    }
]

[2019-08-17 14:55] islandsins opened #37296 "Domains to add to intranet zone"
On this page it only mentions adding 'https://autologon.microsoftazuread-sso.com' to the intranet zone but at https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-azuread-join-managed-domains it also mentions adding 'https://device.login.microsoftonline.com'.  Please clarify if both are required for hybrid SSO?

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-08-17 15:13] jakaruna-MSFT commented on #37291
@Adjrobinson Thanks for posting here.
Can you give us the link to the document if you are following one

[2019-08-17 15:32] Ercenk opened #37297 "value for api-version is missing"
Please add the value for "api-version"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a23f10fa-69e2-a65b-3885-229e0168b443
* Version Independent ID: 09a35184-5614-c7b8-37e7-07ec963ef764
* Content: [Marketplace metering service APIs](https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/marketplace-me

[2019-08-17 15:33] Ercenk commented on #37297
Mistake, found it on the page.

[2019-08-17 15:33] #37297 closed

[2019-08-17 15:48] nhwilly opened #37298 "HttpRequest vs HttpRequestMessage trigger and CreateCheckStatusResponse"
If it's in the documentation, Sorry I missed it.

But it's very confusing to shift from 1.x to 2.x as many examples are based on `HttpRequestMessage` instead of `HttpRequest`.  Especially when it comes to creating an orchestration.

Clearly the advice is to go to `HttpRequest` in 2.x apps.

Basically, you can't `CreateCheckStatusResponse` if you're taking in an `HttpRequest` without extracting the

[2019-08-17 15:48] nhwilly commented on #34562
FWIW: https://github.com/MicrosoftDocs/azure-docs/issues/37298

[2019-08-17 15:58] singhrajgithub opened #37299 "Azure Documents on Hyperledger Fabric consortium network"
Hi,

I was going through below article written on Hyperledger Fabric Consortium Blockchain

https://docs.microsoft.com/en-us/azure/blockchain/templates/hyperledger-fabric-consortium-blockchain

I was able to create a network by this article but I am unable to proceed and use it. I tried searching for next steps article on Azure Hyperledger Fabric Consortium Blockchain documents but could not find

[2019-08-17 16:00] mercycoach commented on #33260
Totally confusing without adding that '$HOME/'.  Without that you get messages that the path to quickstart doesn't exist but you can't create it either because it already exists.

[2019-08-17 16:04] rudolfdobias opened #37300 ""AAD users must always be entered in lower case." Permission denied - publickey"
Tried this on fresh Ubuntu 18.04 install and fresh AADDS instance.
My role in AAD is global administrator and also I'm the AAD DS admin group.

I followed this twice with same result. I can successfully join the VM to the domain.
Steps "Update the SSSD configuration and restart the service" and "Configure automatic home directory creation" are also ok, but the login does not work:

[code]

Tried i

[2019-08-17 16:44] ram-msft commented on #36986
@asif1191 Register the folder (and all files in it) as a model named keras-dnn-mnist under the workspace for deployment.
model = best_run.register_model(model_name='keras-mlp-mnist', model_path='outputs/model')
In init() function, you typically load the model into a global object. This function is executed only once when the Docker container is started.
%%writefile score.py
import json
import nump

[2019-08-17 16:46] KrishnaG-MSFT commented on #37297
@Ercenk Glad to know that you found it and also provided an update here.

[2019-08-17 18:04] vince-winkintel commented on #8144
This worked for me: https://stackoverflow.com/questions/48066994/docker-no-matching-manifest-for-windows-amd64-in-the-manifest-list-entries

[2019-08-17 18:26] AjayKumar-MSFT commented on #37047
@cgearing, Similar issue is tracked here -https://github.com/Azure/Azure-Functions/issues/1065

[2019-08-17 18:33] ggailey777 commented on #29906
@AlainPilon we hope that you had a chance to review the [follow-on quickstart article](https://docs.microsoft.com/azure/azure-functions/functions-add-output-binding-storage-queue-python). #please-close

[2019-08-17 18:33] #29906 closed

[2019-08-17 18:36] ggailey777 commented on #33570
The host.json edits have been moved to the [follow-on quickstart article](https://docs.microsoft.com/azure/azure-functions/functions-add-output-binding-storage-queue-python), where they belong. Please let us know if you have any other issues. #please-close

[2019-08-17 18:36] #33570 closed

[2019-08-17 18:40] ggailey777 commented on #36852
@Rodrigossz we are addressing your first point [in this PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/85765), by clarifying that the Python version is really 3.6.x.

As to your other point, I'm not sure I understand. This sample explicitly use the Storage SDK and it's not using a custom Docker image. What exact troubles were you having from that end?

[2019-08-17 19:03] #37213 closed

[2019-08-17 19:05] YutongTie-MSFT commented on #37029
@Blackmist Hi Larry, are we good to close this or you need this issue open for your backlog? Thank you.

[2019-08-17 19:23] vince-winkintel commented on #10942
@karunasoft 's comment worked for me. I had to enable the admin user and grab the username and password to perform the docker login.

[2019-08-17 19:31] Adjrobinson commented on #37291
I can do later, but even your example titanic document wouldn’t work which you published.

[2019-08-17 19:35] dmpe opened #37302 "Wrong link to marketplace"
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-faq

https://azuremarketplace.microsoft.com/cs-cz/marketplace/apps?search=wan%20optimization&page=1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07cec477-f584-400f-889c-9a5403f34bad
* Version Independent ID: f777fdfd-2f5a-56b9-574f-ae6d2b19f130
*

[2019-08-17 19:49] AjayKumar-MSFT commented on #37052
@nigelmeakinspbi, I don't see this behavior. To fetch more details on issue, you could retrieve the logs for the Hybrid Connection Manager.
These logs are found in Event Viewer, under Application and Services Logs -> Microsoft -> ServiceBus -> Client -> Admin/Operational.
As these aren’t document specific feedback, I will engage with you offline further, so
could you please send an email to AzComm

[2019-08-17 19:49] #37052 closed

[2019-08-17 19:50] dmpe opened #37304 "This page needs a complete revision for spelling etc."
15 minutes work :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07cec477-f584-400f-889c-9a5403f34bad
* Version Independent ID: f777fdfd-2f5a-56b9-574f-ae6d2b19f130
* Content: [Azure Virtual Network FAQ](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-faq#feedback)
* Content Source: [articles/v

[2019-08-17 19:57] Adam-Smith-MSFT commented on #37293
@artisticcheese Thank you for the valuable feedback,we are investigating the issue.

[2019-08-17 19:58] Adam-Smith-MSFT commented on #37296
@islandsins Thank you for the valuable feedback,we are investigating the issue.

[2019-08-17 19:59] Adam-Smith-MSFT commented on #37298
@nhwilly Thank you for the valuable feedback,we are investigating the issue.

[2019-08-17 20:03] Adam-Smith-MSFT commented on #37299
@singhrajgithub Thank you for the valuable feedback,we are investigating the issue.

[2019-08-17 20:04] Adam-Smith-MSFT commented on #37300
@rudolfdobias Thank you for the valuable feedback,we are investigating the issue.

[2019-08-17 20:04] Adam-Smith-MSFT commented on #37302
@dmpe Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-17 20:05] Adam-Smith-MSFT commented on #37304
@dmpe Thank you for the valuable feedback,we are investigating the issue.

[2019-08-17 22:21] screamtracker commented on #37236
If you select "None" instead of "Advanced - None" (The None option doesn't exist anymore under Advanced) it will work as described.
Currently you get 2 NSG rule sets applied to the VM NIC, "new-MyVMWeb-NSG" and the "MyNSG" rules from the association to the subnet. The more restrictive rules in "new-MyVMWeb-NSG" are blocking the connection, if you add the same 80,443 allow to "new-MyVMWeb-NSG" you

[2019-08-18 00:39] Mul-ti-pass commented on #37237
When will Azure Devops be audited to meet Fedramp requirements?

[2019-08-18 05:24] DixitArora-MSFT commented on #37107
@jayhub42 Just following up again in case missed the previous communication.

[2019-08-18 06:01] knbz opened #37305 "Azure ducumentation"
Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page creates

[2019-08-18 06:56] jorgecarleitao opened #37306 "Description to support ssh is specific to alpine."
These instructions were written for alpine only. They do not work to other linux distributions. At least this should be described in the beginning of the section. E.g. Ubuntu uses a different configuration, as exemplified here: https://docs.docker.com/engine/examples/running_ssh_service/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-08-18 07:04] michaelspinks opened #37307 "InvalidContentLink"
It would be beneficial to add that the Azure Storage Firewall may be blocking the download of the ARM Template and what can be done about that.  For example allow Azure Resource Manager's public IP access to the Azure Storage Account.  This is a problem as there are &gt; 100 Public IP's and Azure Storage Firewall rules only permit 100 network rules.

---
#### Document Details

⚠ *Do not edit this

[2019-08-18 07:12] michaelspinks opened #37308 "Securing an external template"
It would be beneficial to highlight here - Securing an external template, or link somewhere that private storage accounts will work except where you are using Azure Storage Firewall.  When Azure Resource Manager comes to deploy the template the Azure Storage Firewall will block the deployment.

The only way around it is to add the Microsoft datacenter IP Ranges to the Azure Storage Firewall rules.

[2019-08-18 07:24] michaelspinks opened #37309 "Azure Resource Manager"
It would be useful to add exceptions for Azure Resource Manager so we can use a Storage Account behind a firewall to deploy Linked templates.  Whilst I can add an exception for my hosted build agent to upload ARM Templates.  Azure Resource Manager can't then access the Linked Templates in Storage because the IP isn't whitelisted.  The problem is that the Azure Resource Manager IP Ranges don't appe

[2019-08-18 07:27] jakaruna-MSFT commented on #37305
@knbz Thanks for posting here.
It looks like you have posted this comment for testing.
please let me know if you are looking for other information.

[2019-08-18 07:52] matgessel opened #37310 "What JS version is supported for ASA JS functions?"
What JS (ECMAScript) version is supported for ASA JS functions? ECMA script 5, 6, 2016?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ede13241-47f5-e890-a4f9-7fa32d920994
* Version Independent ID: fa82696c-229d-d951-1496-e4ee8b4f8ed5
* Content: [Tutorial: Azure Stream Analytics JavaScript user-defined functions](https

[2019-08-18 08:15] DanielLarsenNZ commented on #24121
My solution (with a little bit of PowerShell, but bash would also work):

[code]

The file `run.cmd` contains:

[code]

Working example here: https://github.com/DanielLarsenNZ/examples/blob/master/webjobs-eventhubs/deploy.ps1#L50

[2019-08-18 08:54] binduchinnasamy opened #37311 "Update function app setting to disable the function"
The description given to disable Azure function 2.x is slightly misleading, The given message from the documentation page

"In Functions 2.x, you disable a function by using an app setting in the format AzureWebJobs.&lt;FUNCTION_NAME&gt;.Disabled. You can create and modify this setting programmatically by using the Azure CLI. You can also do this from your function's Manage tab in the Azure portal

[2019-08-18 09:02] jorgecarleitao commented on #37306
To be very specific, on Debian, you can use the following:

[code]

to have ssh available through the scm.

[2019-08-18 09:07] m8r1us commented on #37249
@Adam-Smith-MSFT The issue relates to: https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#reader

[2019-08-18 10:57] blueelvis commented on #36823
@FrankHu-MSFT - Thanks for all the information! Yes, it answers my questions. Closing this issue now.

[2019-08-18 10:57] #36823 closed

[2019-08-18 12:58] Adjrobinson commented on #37291
this is the file: https://aka.ms/amlexcel-sample-2  I wanted to try one of your files just in case something was wrong with my experiment, both don't appear to work, I have had it working before. If you could confirm if it is an issue or if it is something I am doing wrong that would be great.

[2019-08-18 13:32] sandeepsharat commented on #17741
Does anybody have an answer to this problem?.....Even I got the same error as above

[2019-08-18 14:16] #37047 closed

[2019-08-18 14:18] AjayKumar-MSFT commented on #37175
@jelliott7, Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or query.

[2019-08-18 14:18] wucj commented on #37071
Thanks for the reply, I don't see the consent page is prompt.
After I logined my personal outlook.com account, the error message is shown.

[2019-08-18 15:44] YutongTie-MSFT commented on #37080
@heatherbshapiro Hi Heather, could you please take a look of this issue and update the document as necessary? Thank you.

[2019-08-18 15:46] YutongTie-MSFT commented on #37017
@rtamellini Hi, I think this issue need live trouble shooting, do you have a support plan? If yes, please feel free to open a support ticket under your account. If no, please feel free to send us an email at Azcommunity@microsoft.com with you Azure subscription ID and URL of this thread, we will help you to enable one. Thank you. ^^

Since this issue is not seen as doc issue now, I will close it.

[2019-08-18 15:46] #37017 closed

[2019-08-18 15:52] PaulD11 commented on #37251
Could it be that cosmosdb doesn‘t work with mongoose?
Paul Dederer

[2019-08-18 16:00] singhrajgithub commented on #37299
@Adam-Smith-MSFT  Thanks, mate.

[2019-08-18 16:25] jakaruna-MSFT commented on #37306
@jorgecarleitao Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-18 16:29] jakaruna-MSFT commented on #37309
@michaelspinks
Thanks for the feedback! We are currently investigating and will update you shortly.

#37308  Relates issue opened by the same user

[2019-08-18 16:32] jakaruna-MSFT commented on #37311
@binduchinnasamy
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-18 16:36] jakaruna-MSFT commented on #37310
@matgessel Thanks for the question! We are investigating and will update you shortly.

[2019-08-18 16:38] Adam-Smith-MSFT commented on #37307
@michaelspinks Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-18 16:39] jakaruna-MSFT commented on #37308
@michaelspinks
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-18 16:40] jakaruna-MSFT commented on #37308
#37307 issue opened by the same user

[2019-08-18 17:32] quaj opened #37314 "SSH key work on ubuntu but not in mac os"
added my ssh public keys to azure but still not work (password and key are same)

here is screenshot

![image](https://user-images.githubusercontent.com/16853175/63228063-3d012680-c218-11e9-80f9-c9d72d2a0ef5.png)
![image](https://user-images.githubusercontent.com/16853175/63228068-4a1e1580-c218-11e9-9938-0b088ecd9b9c.png)
![image](https://user-images.githubusercontent.com/16853175/63228080-88b3d00

[2019-08-18 17:36] quaj commented on #37314
seem problem come from id_rsa, i have removed it and run again, now it work

[2019-08-18 17:36] #37314 closed

[2019-08-18 18:01] KrishnaG-MSFT commented on #37147
@Deepudev13 At this point it appears that there's no edits or updates needed for the documentation. So closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-08-18 18:01] #37147 closed

[2019-08-18 18:35] PingPongSet opened #37315 "OrchestrationTrigger Durable Function: input and execution time with await with Azure Function App Consumption"
I came across the below below, and have questions:

https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-checkpointing-and-replay

1 When an OrchestrationTrigger Durable Function is invoked, and crashes for some reasons (e.g. after max timeout duration of 10 mins), will the inputs, `names`, below be read from table storage or queue automatically.

    [FunctionName("E1_

[2019-08-18 18:43] KrishnaG-MSFT commented on #37198
Assigning @bobbytreed for help here.
@bobbytreed Please provide your insights on this.

[2019-08-18 18:46] KrishnaG-MSFT commented on #37308
Assigning @tfitzmac for visibility and document enhancement considerations.

[2019-08-18 18:48] KrishnaG-MSFT commented on #37215
@slavizh Verified and updated the document as required. Thanks.

[2019-08-18 18:48] #37215 closed

[2019-08-18 18:58] AjayKumar-MSFT commented on #37041
@jasonpnnl, Thanks for sharing additional details.  Your feedback has been shared with the content owner (@cephalin) for further review.

[2019-08-18 19:24] KrishnaG-MSFT commented on #37314
@quaj Glad to know that you found it and also provided an update here. However, thanks for reaching out to us, but at this time I see that the issue is self closed and it did not look like you were referring to an Azure document. In future, if you have any feedback on Azure document then we request you to please route to bottom of an Azure document where you would have Feedback section using which

[2019-08-18 19:41] jkerak opened #37316 "DurableOrchestrationContextBase vs IDurableOrchestrationContext"
With the latest version of durable functions, we now use IDurableOrchestrationContext and IDurableActivityContext. Does this documentation need to be updated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e55b7998-54f1-77f1-4e1b-4ef01a5daccc
* Version Independent ID: f7469430-00f8-0e03-de7d-e3b382fac427
* Content: [Az

[2019-08-18 19:47] YutongTie-MSFT commented on #37141
@amynic Hi Amy, good catch. Please refer to the sample for now. I will update the document with more details later. ^^
![image](https://user-images.githubusercontent.com/38084098/63229561-65583900-c1b6-11e9-867b-46762fe41854.png)

[2019-08-18 20:10] rafamarrara opened #37317 "Serial Console as an option"
I believe we can add Serial Console as option here, no?
---------------------
To update your Azure Linux Agent on a Linux VM in Azure, you must already have:

A running Linux VM in Azure.
A connection to that Linux VM using SSH (+ or Serial Console &lt;link to Serial Console doc page&gt;).
-----------------

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-08-18 20:55] ggailey777 commented on #37315
#reassign:@cgillum

[2019-08-18 21:09] pandyamehul opened #37318 "C# Example for this page"
would it be possible to have C# example of the same article, as I am looking for building cloud gateway for my old devices and looking for article where my azure function can act proxy/gateway for IOT hub.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 387fac47-1aa6-8949-e828-2ce0019d91b2
* Version Independent ID: cccf

[2019-08-18 21:47] cgillum commented on #37315
1. Yes, the results of any executed activity function will be read from table storage.

2. Yes, the function will retry automatically. An existing queue message ensures this.

3. No, time spent awaiting does not count against your max function timeout. Nor are you billed for time spent awaiting.

[2019-08-18 21:53] omiday opened #37319 "typo"
Inside the database clusterz

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07adfd46-7af7-5966-a3de-d67623f6c642
* Version Independent ID: a638d2d6-5be0-7e40-70ea-dc2a3f65e649
* Content: [Connectivity architecture in Azure Database for PostgreSQL](https://docs.microsoft.com/en-us/azure/postgresql/concepts-connectivity-

[2019-08-18 22:10] NavtejSaini-MSFT commented on #37319
@omiday We are looking into this and will make necessary changes.

[2019-08-18 22:15] omerzubair commented on #37060
Hi @DashleenBhandari-MSFT thats great info. You can close this one.
cheers

[2019-08-18 22:45] PingPongSet commented on #37315
@cgillum

Thank you for your comments. I enjoyed watching your demo video on Channel 9 on Durable Function.

On Q1, I meant the input, not result. Please check again the question.

I have more questions, hope you don't mind.

Q4 . The size of two arguments passed to `E1_HelloSequence`  might be around 20 MB. Is it ok? What is limitation on the size of arguments to `E1_HelloSequence`, considering t

[2019-08-18 22:58] TheGreenToaster commented on #28103
@sergaz-msft is this stated somewhere in the documentation? This is the only place that I have seen it. Wondering if I missed it.

[2019-08-18 23:09] bensonrlee opened #37320 "Reply URL"
In the above note...
We have seen few customers reporting an error of incorrect Reply URL configured for their instance....

Do we have the permanent fix for this issue?  This seems to be open for a long while now.
If not, can you provide the full instructions to apply the workaround.  For example, where can we get the correct Reply URL, etc.

---
#### Document Details

⚠ *Do not edit this section

[2019-08-18 23:39] mihsoft commented on #35478
Same issue as the other posters here. Have had a support case open for a month with dozens of phone calls and emails and virtually no progress on diagnosis or resolution.

One temporary resolution is to create an entirely new VNET, although after time this too breaks.
Once a VNET encounters this issue I've not been able to get it to ever reconnect using the Regional VNET integration as all new sub

[2019-08-19 00:19] Adam-Smith-MSFT commented on #37316
@jkerak Thank you for the valuable feedback,we are investigating the issue.

[2019-08-19 00:20] Adam-Smith-MSFT commented on #37317
@rafamarrara Thank you for the valuable feedback,we are investigating the issue.

[2019-08-19 00:23] Adam-Smith-MSFT commented on #37318
@pandyamehul Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-19 00:24] Adam-Smith-MSFT commented on #37320
@bensonrlee Thank you for the valuable feedback,we are investigating the issue.

[2019-08-19 02:07] ram-msft commented on #36986
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-19 02:07] #36986 closed

[2019-08-19 02:08] wucj commented on #37071
@saurabhsensharma  Followed the url link you mentioned, Seems like I only can create support ticket with Basic type, and in the `Technical` issue type, there is only on option that is `Cloud Application Security`, I am not sure that is the proper category to report this issue, could you please let me know what should I do ?

Thanks.

[2019-08-19 02:13] ram-msft commented on #36976
@Nealcly I think this issue need live trouble shooting, do you have a support plan? If yes, please feel free to open a support ticket under your account. If no, please feel free to send us an email at Azcommunity@microsoft.com with you Azure subscription ID and URL of this thread, we will help you to enable one. Thank you.
We will now proceed to close this thread. If there are further questions re

[2019-08-19 02:13] #36976 closed

[2019-08-19 02:47] MarkusVi commented on #36482
I have created a back-log item to track this.

#please-close

[2019-08-19 02:47] #36482 closed

[2019-08-19 02:52] MarkusVi commented on #35200
I have created a backlog item to track this.

#please-close

[2019-08-19 02:52] #35200 closed

[2019-08-19 02:54] DixitArora-MSFT commented on #37107
@jayhub42 For now I will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-19 02:54] #37107 closed

[2019-08-19 02:59] MarkusVi commented on #35419
I have created a backlog item to track this.

#please-close

[2019-08-19 02:59] #35419 closed

[2019-08-19 03:00] ram-msft commented on #37056
@zxyanliu Use bot with QnA Maker to distribute your knowledge base. Please refer the following link for more information.
https://docs.microsoft.com/en-us/azure/cognitive-services/QnAMaker/tutorials/integrate-qnamaker-luis
I hope this helps!

[2019-08-19 03:02] MarkusVi commented on #34850
I have created a backlog item to track this.

#please-close

[2019-08-19 03:02] #34850 closed

[2019-08-19 03:04] Mike-Ubezzi-MSFT commented on #37125
@avi2183 Do you have any additional questions? We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-08-19 03:04] #37125 closed

[2019-08-19 03:06] MarkusVi commented on #29325
I have created a baclog item to track this.

#please-close

[2019-08-19 03:06] #29325 closed

[2019-08-19 03:07] BrianMikinski commented on #23292
Any updated on the ETA this @mdgattuso ?

[2019-08-19 03:09] andrewbeaumont opened #37323 "Azure VM Requirements Guest OS Bitness requirement misleading"
The requirements in https://docs.microsoft.com/en-us/azure/site-recovery/hyper-v-azure-support-matrix#azure-vm-requirements are incorrect, specifically for the Guest operating system architecture. For Windows Server 2008 SP2 Virtual Machines validation does not fail for 32-bit machines. Full replication and fail-over is possible for this Guest OS.

---
#### Document Details

⚠ *Do not edit this se

[2019-08-19 03:10] MarkusVi commented on #34203
I have created a backlog item to track this.

#please-close

[2019-08-19 03:10] #34203 closed

[2019-08-19 03:12] omiday opened #37324 "typo?"
The text reads: "The versions would be the current major version on Azure (n) and the two prior major versions (-2). "
However, the create database screen shows 4 versions (9.5 to 11)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63c8d482-9904-74ad-b0ad-5a8fc188510d
* Version Independent ID: be1ac595-a36f-ad23-4507-e

[2019-08-19 03:15] MarkusVi commented on #35096
I have created a backlog item to track this.

#please-close

[2019-08-19 03:15] #35096 closed

[2019-08-19 03:17] MarkusVi commented on #35667
I have created a backlog item to track this.

#please-close

[2019-08-19 03:17] #35667 closed

[2019-08-19 03:20] MarkusVi commented on #30932
I have created a backlog item to track this.

#please-close

[2019-08-19 03:20] #30932 closed

[2019-08-19 03:23] MarkusVi commented on #29453
I have created a backlog item to track this.

#please-close

[2019-08-19 03:23] #29453 closed

[2019-08-19 03:24] MarkusVi commented on #29487
I have created a backlog item to track this.

#please-close

[2019-08-19 03:25] #29487 closed

[2019-08-19 03:31] MarkusVi commented on #31837
#please-close

[2019-08-19 03:31] #31837 closed

[2019-08-19 03:35] MarkusVi commented on #36105
I have created a backlog item to track this.

#please-close

[2019-08-19 03:35] #36105 closed

[2019-08-19 04:07] omerzubair commented on #35489
I agree with the description by @slavizh.
Can i also suggest that:
- Instead of such a big url, can we supply the GUID instead?

[2019-08-19 04:09] NavtejSaini-MSFT commented on #37324
@omiday The answer lies in the document itself. Following is the excerpt from the document:

"Version syntax
Before PostgreSQL version 10, the PostgreSQL versioning policy considered a major version upgrade to be an increase in the first or second number. For example, 9.5 to 9.6 was considered a major version upgrade. As of version 10, only a change in the first number is considered a major versio

[2019-08-19 04:14] harindaka commented on #16546
Can someone confirm if token support was actually added and released in v2.2 or not?

[2019-08-19 04:14] KetanChawda-MSFT commented on #36944
@ReshmaNeelam Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-19 04:14] #36944 closed

[2019-08-19 04:15] KetanChawda-MSFT commented on #36968
@nateforsyth Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-19 04:15] #36968 closed

[2019-08-19 04:18] omiday commented on #37324
Gotcha, but then why not include 9.4 (https://www.postgresql.org/docs/)?

[2019-08-19 04:20] DashleenBhandari-MSFT commented on #37200
@ccompy, Could you please take a look into this issue?

[2019-08-19 04:22] #37060 closed

[2019-08-19 04:38] KalyanChanumolu-MSFT commented on #16546
Yes, token support has been released.
Just as an FYI, [Microsoft.Data.SqlClient](https://www.nuget.org/packages/Microsoft.Data.SqlClient/1.0.19221.1-Preview) is the new data access client for SQL server.
This will replace the System.Data.SqlClient in future.

[2019-08-19 04:53] SwathiDhanwada-MSFT commented on #37323
@andrewbeaumont Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-19 04:56] omiday opened #37326 "list of extensions is for PG10"
(I haven't checked 9.6 and 9.5)
PG11 list does not contain "chkpass":
   postgres@s9s-1:5432 postgres&gt; select name, default_version from pg_available_extensions where name !~ '^postgis' order by name;
               name             | default_version
   ------------------------------+-----------------
   address_standardizer         | 2.5.1
   address_standardizer_data_us | 2.5.1
   btree_gin

[2019-08-19 04:57] PramodValavala-MSFT commented on #36931
@gpduck Just following up here... Hope my previous comment helps.

@cgillum Could you confirm if the appropriate attribute should be added to the property or if we should update the sample code accordingly instead?

[2019-08-19 04:58] PramodValavala-MSFT commented on #37130
@CastleArg Just following up here... Hope my previous comment helps.

[2019-08-19 05:07] PramodValavala-MSFT commented on #37290
@DanieleDeSano Sorry for the experience! There was a similar [issue raised](https://social.msdn.microsoft.com/Forums/en-US/ccd156ca-3ded-4ff3-9e2b-d77d29420af7/can-no-longer-add-apis-to-call-logicapps?forum=azureapimgmt) before which turned out to be an issue when using IE11. Could you try a different browser in case you are using IE11 now?

[2019-08-19 05:08] csmurthy opened #37327 "Invalid parameter issue"
I getting the below error. The command used to work till last Friday. it started failing from today.
Set-AzSqlDatabase : A parameter cannot be found that matches parameter name 'ComputeModel'.
At line:1 char:98
+ ... -ServerName serverlesssrv -DatabaseName testdb1 -ComputeModel Serverl ...
+                                                     ~~~~~~~~~~~~~
    + CategoryInfo          : InvalidArgu

[2019-08-19 05:13] jorgecarleitao opened #37328 "What happens on a custom image?"
This article seems to be written for an azure base image.

What happens on a custom container? Is any of the logging possible? If yes, what should I do to enable them on a custom container?

E.g. do I need to stream it to stdout, should I write it myself to blob storage?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b

[2019-08-19 05:14] PramodValavala-MSFT commented on #37311
@binduchinnasamy Thanks for the feedback! I believe the intent here was to showcase that functions can be disabled using app settings but not to be an exhaustive list of ways to do so, which isn't mentioned.

We are assigning this issue to the content author for further review and to update the doc accordingly.

[2019-08-19 05:28] meieda commented on #36635
I understand those sentences are for pilot phase, but in Production Preparation Phase section, there is the sentence;
"Azure Premium Storage was used for the latency sensitive disks or where the single VM SLA of 99.9% is required"

it seems Standard storage can be used for "non latency sensitive" disks or set of machines in availability set.

[2019-08-19 05:29] ManojReddy-MSFT commented on #31314
@antonburger-advanced Only elements with the same name will not merge.

So if you have two claims in your TP coming from RP and the same claims exist in your base file, then claims coming from your RP will take precedence. If unique claims are present then they will merge and all the claims will be displayed.

Hope this helps.

[2019-08-19 05:34] jakaruna-MSFT commented on #36857
@JimXu199545 Did you had a chance to try that

[2019-08-19 05:36] jakaruna-MSFT commented on #37057
Yes.   If we create a new service(with static or dynamic) public ip, Then that ip will be added tot he same load balancer front end configuration.

With one load balancer you can have multiple services and ingress attached.

[2019-08-19 05:37] harindaka commented on #16546
@KalyanChanumolu-MSFT I can see that both the System.Data.SqlClient and Microsoft.Data.SqlClient packages [here](https://www.nuget.org/packages/System.Data.SqlClient) and [here](https://www.nuget.org/packages/Microsoft.Data.SqlClient) are compatible with .net core. Also Microsoft.Data.SqlClient is still in preview.

Do you mean to say that although Microsoft.Data.SqlClient is still in preview, we

[2019-08-19 05:45] Rohit-Stackroute opened #37329 "MEAN application error"
Hello,

Upon cloning the MEAN application as per microsoft documentation , it seems due to some module package the application is throwing error.  But when I am downloading the same MEAN application through MEAN.com , the application is running successfully. I don't know the exact reason. Can you please check this out or there is something which I am missing ??

---
#### Document Details

⚠ *Do no

[2019-08-19 05:46] omerzubair commented on #35489
Is anyone receiving the following error when applying to SQL PaaS DB?

Set-AzDiagnosticSetting : Exception type: ErrorResponseException, Message: Category 'SQLInsights,AutomaticTuning,QueryStoreRuntimeStatistics,QueryStoreWaitStatistics,Errors,DatabaseWaitStatistics,Timeouts,Blocks,Deadlocks,Audit' is not supported., Code: BadRequest, Status code:BadRequest, Reason phrase: Bad Request
At line:1 ch

[2019-08-19 05:49] VikasPullagura-MSFT commented on #37211
@visokoo This feature preview is expected in Azure China by end of this month. The dates may change, so requesting you to follow the updated [page.](https://azure.microsoft.com/en-in/updates/)

I am closing the issue for now.

[2019-08-19 05:49] #37211 closed

[2019-08-19 05:56] KalyanChanumolu-MSFT commented on #16546
@harindaka You can continue using System.Data.SqlClient if you have an existing code base or if you are not comfortable using a preview library in production.

I just brought it up to update this conversation with reference to the new library.
New features will be added to Microsoft.Data.SqlClient going forward.

[2019-08-19 05:59] msjuergent commented on #36635
Let us separate SAP NetWeaver certification from SAP HANA certification. Latter one is pretty hard to certify from a storage point of view. Therefore Azure premium Storage with Azure Write Accelerator is supported only and since 08/15 in conjunction with E64s_v3 our new Ultra disk storage that we are going to certify for our M-series and Mv2-series family for HANA deployments as well. As of NetWea

[2019-08-19 06:03] KalyanChanumolu-MSFT commented on #37329
@Rohit-Stackroute Thank you for reporting this issue.
Let me try this at my end. I will get back to you shortly.

[2019-08-19 06:04] ecfan commented on #37227
@HannahHsiao & @KetanChawda-MSFT, this doc issue is now fixed.

#please-close

[2019-08-19 06:04] #37227 closed

[2019-08-19 06:14] meieda commented on #36635
For NetWeaver configuration, apparently "Standard HDD Managed Disks or Standard SSD Managed Disks are not supported." in SAP Note 1928533. Azure Monitoring Extension doesn't support those types and they should not be used for any production system even for app layer or disk for backup as far as the server is used as production NetWeaver system.
Is my understandings wrong?

[2019-08-19 06:37] AshokPeddakotla-MSFT commented on #37126
@Crysitna Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.
@walsehgal Please check this issue and provide your insights.

[2019-08-19 06:39] CHEEKATLAPRADEEP-MSFT commented on #37310
@rodrigoamicrosoft Could you look into this ask?

[2019-08-19 06:43] KalyanChanumolu-MSFT commented on #37326
Thank you for the detailed feedback.
We are actively investigating and will get back to you soon.

[2019-08-19 06:49] KalyanChanumolu-MSFT commented on #37327
@csmurthy Thank you for reporting this issue.
We are actively investigating and will get back to you soon.

[2019-08-19 06:58] RJK23 commented on #36363
Having same issue as it's not creating applications in Free Trial. Also it shows that nodes are up and running but explorer page is also not opening

[2019-08-19 07:03] SadiqhAhmed-MSFT commented on #33734
@johnlnash We will be rolling out a public preview to support this requirement. Please stay tuned for the public announcement.

[2019-08-19 07:09] dcbrown16 commented on #35885
@bobbytreed @KrishnaG-MSFT
Can we look at this again? The page still doesn't tell you where you are in the ToC. It should have the page title highlighted. The ToC link is going to /automation/automation-schedules but it redirects to /automation/shared-resources/schedules.
![image](https://user-images.githubusercontent.com/34466884/63245580-64a2bf80-c215-11e9-898b-5ab57a159ceb.png)

[2019-08-19 07:28] rayne-wiselman commented on #36984
Thanks for your feedback!
#please-close

[2019-08-19 07:28] #36984 closed

[2019-08-19 07:31] rhyspaterson opened #37331 "The 'Microsoft Cloud Applications' list is incomplete"
Hello. It looks like the cloud apps list is not complete. For example, in my CA cloud app list I can see 'Microsoft Azure Linux Virtual Machine Sign-in' and 'Windows Virtual Desktop Client'. But it's not referenced in the list in this page.

This is annoying to deal with because in the Azure portal, it does not display all applications - rather it gives you the a message staging 'More results than

[2019-08-19 07:31] AshokPeddakotla-MSFT commented on #37126
@Crysitna I followed the documentation and able to see the result as specified. Please ensure that you have updated the correct "Azure Maps Key"

[2019-08-19 07:39] UKayo opened #37332 "Please re-open"
Hi team,
I've added a comment below. Please re-open the feedback.

https://github.com/MicrosoftDocs/azure-docs/issues/36821#issuecomment-521095873

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 650b028a-16b9-f560-a2aa-8613d85ffce6
* Version Independent ID: 0e2c2f6b-65bd-4dc8-1a45-956d20bf8a9b
* Content: [License self-s

[2019-08-19 07:54] neeleshray-msft commented on #36881
@cloudhandler
Could this be verified ?

[2019-08-19 07:59] neeleshray-msft commented on #36967
@jmprieur
Could you have a check on this ?

[2019-08-19 08:04] juyama opened #37333 "Lack of Documentation: Response type - AuthenticationError"
There is no Information about Response type dimension: AuthenticationError on this page. Could you please update this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63c3effd-7cc3-f021-358a-adeaf59a0a69
* Version Independent ID: 36381f6b-f57b-95a2-67cd-80bffcee238c
* Content: [Azure Storage metrics in Azure Monito

[2019-08-19 08:14] msrini-MSFT commented on #36972
@mdgattuso , The custom domain mentioned in the screenshots and the documentation are different. Can you update it to avoid confusion?

[2019-08-19 08:19] ggailey777 commented on #22568
We are clarifying this by linking to the [HttpRequest API reference](https://docs.microsoft.com/en-us/python/api/azure-functions/azure.functions.httprequest?view=azure-python), and providing an example for getting an item from `params`, similar to `route_params`.

[2019-08-19 08:21] Rajeswari-Mamilla commented on #36188
@watermarking Thanks for the feedback. We will add these details under the section "https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-install-linux-master-target#apply-custom-configuration-changes".
#please-close

[2019-08-19 08:21] #36188 closed

[2019-08-19 08:21] ggailey777 commented on #30506
We are addressing your suggestion for this article in the [linked PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/85765).

[2019-08-19 08:24] arjenkrap opened #37334 "Minor correction for PowerShell upgrade proposition"
The sub sentence:

Should be:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25a53d29-5b26-1a63-16d0-5e5f5bce2b68
* Version Independent ID: 7024d557-d134-5057-93d8-2e7b97110ebd
* Content: [Create an Azure Data Lake Storage Gen2 storage account](https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-quic

[2019-08-19 08:31] ChiragMishra-MSFT commented on #34873
@twooley can you please take a look at this one ?

[2019-08-19 08:39] antonburger-advanced commented on #31314
Thanks @ManojReddy-MSFT . But what about the Technical Profile itself in this example? Is it accurate to say that the `login-NonInteractive` TP from the Base file is completely replaced by the one with the same name in the Extensions file? And if it is, where do the values for mandatory (but missing, in the Extensions copy) parts like the `Protocol` come from?

If these values come from the TP in

[2019-08-19 08:43] Farhad-Heybati opened #37335 "NycTlcGreen read error"
[Enter feedback here]

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-15-c3c682b801c4> in <module>
      4
      5 for sample_month in range(12):
----> 6     temp_df_green = NycTlcGreen(start + relativedelta(months=sample_month), end + relativedelta(months=sample_month)) \

[2019-08-19 08:46] jakaruna-MSFT commented on #37305
@knbz Did you got a chance to look at the above comment

[2019-08-19 08:47] AshokPeddakotla-MSFT commented on #14309
@jakubsvobodacz If you are still blocked, please contact support for further help.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-19 08:47] #14309 closed

[2019-08-19 08:48] jakaruna-MSFT commented on #37214
@jonstronggit Did you got a chance to look at my above comment

[2019-08-19 08:51] slavizh commented on #35489
@omerzubair Specifying GUID is not appropriate to my opinion as beneath there is ARM API which needs the ResourceId. Specifying ResourceId is standard way for ARM to find the right resource. May be it could be option specifically to Az module but resourceId should still be default and available option.

[2019-08-19 08:51] jakaruna-MSFT commented on #37127
@mjcarrabine Did you got the chance to look at the @MashaMSFT 's comment

[2019-08-19 09:08] AshokPeddakotla-MSFT commented on #36468
@julianparismorgan Please check the above feedback and update the doc.

[2019-08-19 09:09] AshokPeddakotla-MSFT commented on #36932
Thanks for the fix @craigktreasure
@IslayJunkie We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-19 09:09] #36932 closed

[2019-08-19 09:10] jonstronggit commented on #37214
hi Jakaruna!
Sorry for the delayed response! This is the part I am mentioning!
https://docs.microsoft.com/en-us/azure/cdn/cdn-custom-ssl?tabs=option-2-enable-https-with-your-own-certificate

[image: image.png]

On Mon, Aug 19, 2019 at 4:48 PM jakaruna-MSFT <notifications@github.com>
wrote:

--
Best regards,
Jonathan Wang

[2019-08-19 09:15] amynic commented on #37141
Brilliant, thanks for looking into it!

[2019-08-19 09:17] HeineLysemose opened #37336 "Windows Server 2019 Support"
My Assessment Report says in Azure Readiness, that my Windows Server 2019 is an unsupported OS.
Please update the Azure Migrate to support Windows Server 2019!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e91f6f9-23d7-da62-b7f9-4f77e1924653
* Version Independent ID: 813a0912-51f8-13c0-2096-efe6c9fe1514
* Content: [T

[2019-08-19 09:19] chainhead opened #37337 "Access revocation"
How does Microsoft Identity Platform handle the revocation of access to particular feature of an application e.g. approvals tab of a page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0cace34-34bf-32f7-c857-e4d71d535a77
* Version Independent ID: cdbbc4ae-5894-da21-42d7-928b3674bbd1
* Content: [Microsoft identity pla

[2019-08-19 09:22] GriffReborn opened #37338 "Steps in wrong order, URL example incorrect"
Section : Configure Azure AD SSO
Steps 3 and 4 are reversed.
You upload the medatafile BEFORE clicking on "Basic SAML Configuration".   The folder icon is above the text "Set up Single Sign-On with SAML".   Once you've uploaded the file (4) , then you go to edit SAML (3),  and all you need to add is the sign on URL.

Step 5
Sign-On URLs are formatted https://customername.my.webex.com and not http:

[2019-08-19 09:24] amigup commented on #35072
@cijothomas, @mrbullwinkle - can you please assist on this query?

[2019-08-19 09:24] jakaruna-MSFT commented on #36179
Update: Checked today. Still the image is not cached. Command works only with --pull flag.

[2019-08-19 09:30] ram-msft commented on #37056
@zxyanliu We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-19 09:30] #37056 closed

[2019-08-19 09:55] ncheymol opened #37339 "Directory readers usage"
Hello,

In this documentation it is said that the role "Directory readers" shouldn't be assigned to users.
On the other hand in AAD it is stated that this role is to be assigned to users : "Granting a specific set of non-admin users access to Azure Portal when "Restrict access to Azure AD portal to admins only" is set to "Yes". "

Which information is correct ?

---
#### Document Details

⚠ *Do no

[2019-08-19 10:11] saurabhsensharma commented on #16233
@UnexpectedLemon Thank you for suggesting this change. We shall have it included in our documentation for System State Backup.

[2019-08-19 10:11] igi79 commented on #13515
@nabhishek , could you please reopen this? This piece of code in dbx notebook should definitely  trigger a failure in ADF:

[code]

According to https://docs.databricks.com/user-guide/notebooks/notebook-workflows.html

[2019-08-19 10:11] saurabhsensharma commented on #16233
#please-close

[2019-08-19 10:11] #16233 closed

[2019-08-19 10:24] msrini-MSFT commented on #36694
@genlin , can you please comment on this issue?

[2019-08-19 10:35] binduchinnasamy commented on #37311
Agreed, function can be disabled using app setting, while there are number of ways to update the App setting, the documentation is slightly misleading

"In Functions 2.x, you disable a function by using an app setting in the format AzureWebJobs.<FUNCTION_NAME>.Disabled. You can create and modify this setting programmatically by using the Azure CLI."

Azure CLI is not the only way to update, we can

[2019-08-19 10:38] omerzubair commented on #35489
@slavizh , question i.e in a particular tenant GUID would be unique if not in the world.
So i am guessing it can be worked out internally? Just like when you issue a POST request to injest records.

May be i am making it look like simple task.

[2019-08-19 10:45] sffamily commented on #35666
You can have multiple Hubs to use with a single SignalR instances, but it is not recommended.

use ChatRoom code as example: https://github.com/aspnet/AzureSignalR-samples/tree/master/samples/ChatRoom

In your application code you can have multiple Hub classes like Chat.cs, e.g. you can have another Hub class called "Chat2" in Chat2.cs, and in the Startup.cs, you can map multiple Hubs:

public voi

[2019-08-19 10:46] sffamily commented on #35666
#please-close

[2019-08-19 10:46] #35666 closed

[2019-08-19 10:46] DanieleDeSano commented on #37290
Hello and thanks for your help.
I was using Edge, now I have tried with Chrome but the issue still remains the same.
As a workaround, I could manually create a second Operation in the same API using this pattern:
- manually creating the Operation definition in the "Frontend" section using the Json OpenAPI editor
- picking the Logic Apps API in the "Backend" section
- manually adjusting the "Inboun

[2019-08-19 11:17] anmtando opened #37341 "Run bash commands on Azure Linux Hybrid Worker VM."
I want to run a bash script on Azure linux VM. For this I added this VM in the hybrid worker group in automation. I am able to call powershell scripts because Azure Automation supports powershell by default. But I need to run bash script on my Linux woker VM.

I tried using the command New-SshSession and using Invoke-SshCommand to run my bash script but I get the below error while trying to connec

[2019-08-19 11:28] florianeidner opened #37342 "Access token lifetime max value invalid."
Access token lifetime cannot be set to "24:00:00" by New-AzureADPolicy cmdlet. The powershell cmdlet returns an error if i want to set it to 24h. The max working value seems to be 23:59:59.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02ff3d62-dc0e-ad0c-f5ae-418337cf31e4
* Version Independent ID: d50952b5-6b98-c40d-d

[2019-08-19 11:32] monhaber commented on #33748
Glad to hear that you got your answer. Thanks for the recommendations, but since the FAQ page links to the pricing page, it is usually best to only have details in one place.

For more information on pricing, see [Security Center pricing](https://azure.microsoft.com/en-us/pricing/details/security-center/). .

@SaurabhSharma-MSFT  - please close.

[2019-08-19 12:04] alexmpmenezes commented on #36905
Hi @YutongTie-MSFT . Why can't we have a docs like: https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/export-delete-data ?

While your answer of deleting the resource/resource group might be legally valid, we can't expect Microsoft Customers and Partners to delete the entire resource if they only need to delete one or two data sets due a GDPR request.

[2019-08-19 12:07] KalyanChanumolu-MSFT commented on #37329
@Rohit-Stackroute I am able to bring it up without any issues.
Are you sure you are running the npm commands from the bash shell within Visual Studio code?
If not, please change the shell to bash and try again.

![image](https://user-images.githubusercontent.com/8835012/63264148-f65b0d00-c2a7-11e9-8c41-6df8b115ff81.png)

Please let us know if you still face any issues.

[2019-08-19 12:08] dwd2019 commented on #21353
Thank you very much for documenting the solution to this problem! As you have guessed, it's a more common architectural problem as the available documentation suggest and it has been really frustrating do far. While this sounds a bit as a hack, it makes perfect sense in the whole solution, now we just have to find the minimal set of rules for inbound and outbound traffic on the Internal IP of the

[2019-08-19 12:10] ram-msft commented on #37291
@Adjrobinson We are able to see the results without any issues, Could you please follow the steps mentioned in the following link for the Excel Add-in for Azure ML Studio web services.
https://docs.microsoft.com/en-us/azure/machine-learning/studio/excel-add-in-for-web-services

I hope this helps!

[2019-08-19 12:11] Rohit-Stackroute commented on #37329
@KalyanChanumolu-MSFT Yes , I was in bash shell and only option I am getting is bash. Let me check again and I will let you know.

[2019-08-19 12:17] SumanthMarigowda-MSFT commented on #37333
@juyama Thanks for your question. We are checking on this and will respond to you soon.

[2019-08-19 12:17] SumanthMarigowda-MSFT commented on #37334
@arjenkrap Thanks for your question. We are checking on this and will respond to you soon.

[2019-08-19 12:27] Jaiphadnis-20 opened #37343 "Xero Connector ADF V2: Issue with Journals data"
We are trying to use Xero Connector which is in preview mode to fetch data from XERO API.
We have private application with us, We are able to connect with XERO and fetch data for multiple tables (Invoice, payment etc).

But when we are trying to fetch data for Journals, it is returning only top 100 records each and every time.

On investigating further, it seems like when we call journal API, by d

[2019-08-19 12:29] jakaruna-MSFT commented on #37206
@Sas002 I am trying to reproduce your problem.
I hope you added sinksConfig as well in the private settings.

Please look at the logs under this directory /var/log/azure/Microsoft.Azure.Diagnostics.LinuxDiagnostic/<version>/
And post here is you find some errors.

I will update you once i have the working setup

[2019-08-19 12:32] LockTar commented on #36014
Seems to be out of preview 👍

[2019-08-19 12:48] msrini-MSFT commented on #37214
@mdgattuso  can you please validate and update the documentation?

[2019-08-19 12:50] colinrippeyfinarne commented on #36816
I got the following response from a Managed Identity PM on twitter so can we please get this article updated to reflect the use case:
![image](https://user-images.githubusercontent.com/37219358/63266644-475b0900-c288-11e9-84d4-a909054e3710.png)

[2019-08-19 12:54] guemc commented on #37289
I have same issue and permissions are ok

[2019-08-19 12:58] jhosteny commented on #36506
@rezasherafat thanks. I will try to put together a minimal code example that shows this, but it might be a bit before I can get to it. The client is pretty minimal (just a variation on the published docs for using Python for IoT file uploads), but we are using Terraform to configure and deploy the IoT Hub and there would be some work stripping out unimportant pieces.

[2019-08-19 13:00] KalyanChanumolu-MSFT commented on #37327
@csmurthy Were there any changes to your powershell runtime?
Could you please update the Az Cmdlets in your machine and try again?
You can do so by running the below command for a powershell window (Run as Administrator)

[code]

I tried the script from the document and the line continuation character ` was missing from the Set-AzSqlDatabase command. I have submitted a PR to fix it.
The edit shoul

[2019-08-19 13:04] AshokPeddakotla-MSFT commented on #35261
@qm13 Thanks for the fix.
@josephmwells We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-19 13:04] #35261 closed

[2019-08-19 13:08] MGoedtel commented on #25265
Because this affects both Linux and Windows VMs, I've updated the agent overview article's Installation method table to include reference to ACS and it's provisioning method.  The update goes live today and I had already made a similar note in the Windows agent article.  #please-close.  Thanks!

[2019-08-19 13:08] #25265 closed

[2019-08-19 13:08] PramodValavala-MSFT commented on #37115
@brettsam Could you please share insights on whether this is supported?

[2019-08-19 13:18] derekrprice opened #37345 "Collections Missing"
I followed these instructions and my Robo3T reports a successful connection, but it shows no collections in the Cosmos DB.  I am even able to import data into the collections via Robo3T.  I can see the imported data in the Azure portal, but the collections themselves still do not appear in Robo3T.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-08-19 13:27] PramodValavala-MSFT commented on #37290
@DanieleDeSano Thanks for checking! I can confirm that I see the same behavior.

I will check with the team internally and keep this thread updated with the details.

[2019-08-19 13:29] ositobio commented on #37152
Hi Msrini / Cheryl

Thanks for the update, the document is much clearer now.!! :)

[2019-08-19 13:32] cephalin commented on #28035
@meller Unfortunately we have not been able to reproduce this behavior even though this is not the first time we heard about this issue. It may have to do with the type of development suites you have in the VS installer. If you happen to have a screenshot of the development suites for your VS installation, please show us what's installed. Thank you.

#please-close

[2019-08-19 13:32] #28035 closed

[2019-08-19 13:34] tfitzmac commented on #37169
This question really should go to someone from AKS. Maybe @mlearned ?

Here is a link with some related info - [Integrate Azure Active Directory with Azure Kubernetes Service using the Azure CLI](https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration-cli).

[2019-08-19 13:34] zhijin666 opened #37346 "How to customize the rule of cluster autoscaler?"
Like when to trigger a scaling task?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077f1bb5-2ba9-490c-2c6e-0de292266539
* Version Independent ID: 0fd87b4f-88a4-c2eb-3ebc-f2b113ac203c
* Content: [Use the cluster autoscaler in Azure Kubernetes Service (AKS)](https://docs.microsoft.com/en-us/azure/aks/cluster-autoscaler)

[2019-08-19 13:42] Blackmist commented on #37029
@YutongTie-MSFT #please-close for now. I've got a work item open for it.

[2019-08-19 13:43] #37029 closed

[2019-08-19 13:49] MGoedtel commented on #35546
I have no information about supporting kube-state-metrics at this time.  Let me check with the PG and have them respond to this query.

[2019-08-19 13:58] jonstronggit commented on #37214
ok. Will do it later. Thanks!

On Mon, Aug 19, 2019 at 8:48 PM KARTHIK SRINIVAS <notifications@github.com>
wrote:

--
Best regards,
Jonathan

[2019-08-19 14:02] csmurthy commented on #37327
Thanks Kalyan
Seems something wrong with Az Module . I was working after update.

Regards
Murthy

From: Kalyan Chanumolu <notifications@github.com>
Sent: Monday, August 19, 2019 6:31 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: S. Murty Chamarthi <murthycs@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Invalid parameter issue (#3

[2019-08-19 14:04] NavtejSaini-MSFT commented on #37234
@bjQrnen We are closing this thread. Please get back to us if any other information is required.

[2019-08-19 14:04] #37234 closed

[2019-08-19 14:07] jmulcahy-fiscaltec opened #37347 "Can we make the expected CRON format more explicit in documentation"
There is a link to a Wikipedia page regarding CRON expressions. This page mostly details CRON expressions not including seconds and mentions further down the document that you can optionally include seconds. This is not the case for Azure functions, which seem to always assume you are specifying seconds (as discovered while debugging). Can someone confirm this is the case and if so maybe make this

[2019-08-19 14:09] KalyanChanumolu-MSFT commented on #37327
@csmurthy Glad to know it is working for you now.
We will proceed to close this issue. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-08-19 14:09] #37327 closed

[2019-08-19 14:19] KalyanChanumolu-MSFT commented on #37326
@rachel-msft Verified that a new database instance on PG11 doesn't have the chkpass extension installed.
Could you please assist?

[2019-08-19 14:21] MGoedtel commented on #34473
I've walked through the steps in the portal and I'm only finding that the step for enabling Linux performance counters is missing the step to select the checkbox to apply the settings to all machines before you can add the preselected list of recommended perf counters to enable.  I checked the Windows perf counter steps and they are still correct.  I've made the change to the article and a few oth

[2019-08-19 14:21] #34473 closed

[2019-08-19 14:21] NavtejSaini-MSFT commented on #37345
@derekrprice We are checking this and will get back to you regarding this.

[2019-08-19 14:28] hpatel01 commented on #37257
Two separate features, one supporting [auto failover group](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-auto-failover-group#best-practices-of-using-failover-groups-with-managed-instances) and 2nd to configure [replication subscriber for managed instance](https://docs.microsoft.com/en-us/azure/sql-database/replication-with-sql-database-managed-instance#5---create-a-subscriber-d

[2019-08-19 14:29] KrishnaG-MSFT commented on #37341
@anmtando Looks like it is similar or related to [this](https://stackoverflow.com/questions/57552323/execute-bash-commands-on-azure-linux-vm-using-azure-automation/57554776#57554776) Stack Overflow question. So AFAIK, the solution would be to follow #28451 to accomplish your requirement. However, assigning this GitHub issue to content author @bobbytreed for any better insights.

[2019-08-19 14:33] derekharkin opened #37349 "Link to page with no info"
Q+A is:
Does Conditional Access work with Exchange ActiveSync?
Yes, you can use Exchange ActiveSync in a Conditional Access policy with some limitations.

But the link goes to a page with no infomation on the limitations of Exchange ActiveSync in a Conditional Access policy. it appears the info was on an old page that got removed

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-08-19 14:35] BhargaviAnnadevara-MSFT commented on #37331
@rhyspaterson Thanks for the feedback! We're investigating this and will get back to you shortly.

[2019-08-19 14:41] jaswanthpadigala commented on #36885
Thank you all for looking into this and prioritizing. Do you have any update or ETA on the next update?

[2019-08-19 14:44] BhargaviAnnadevara-MSFT commented on #36821
@UKayo Reopening the issue as requested.

@MicrosoftGuyJFlo Request you to take a look at @UKayo's latest comment/query.

[2019-08-19 14:45] MarekLani commented on #27313
@sergaz-msft  Having Leaf Device acting as a gateway is not scalable. Imagine you want to connect thousands of devices, that would mean same amount of gateways. There should be one module capable to act as a single identity translation gateway. Proposed solution does not comply with architecture mentioned here: https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/iot-edge/iot-edge-as-g

[2019-08-19 14:46] BhargaviAnnadevara-MSFT commented on #37332
@UKayo Thanks for reaching out to us! Reopened the mentioned issue as requested. You may continue the discussion in the other thread.

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-08-19 14:46] #37332 closed

[2019-08-19 14:52] BhargaviAnnadevara-MSFT commented on #37335
@fhe-fr Thanks for reaching out to us! Could you please elaborate on the context of the above error so we can identify the action here?

[2019-08-19 14:53] billmath commented on #33933
@ksgopal4 Thank you for the feedback.  Office maintains their own list of URLs and endpoints here:

https://docs.microsoft.com/en-us/office365/enterprise/urls-and-ip-address-ranges

Thanks!

#please-close

[2019-08-19 14:53] #33933 closed

[2019-08-19 14:55] billmath commented on #33795
I just confirmed that AD FS 2019 can be monitored with Connect Health.  I am not sure on AD DS 2019 yet but if it is not, it should be coming very soon.  Thanks!

#please-close

[2019-08-19 14:55] #33795 closed

[2019-08-19 14:58] billmath commented on #36174
@Don-Fuego, thank you for the feedback.  Unfortunately we don't have the bandwidth to do a tutorial for every topology.  You can get a list of all the supported topologies here:  https://docs.microsoft.com/en-us/azure/active-directory/hybrid/plan-connect-topologies

Thanks!

#please-close

[2019-08-19 14:58] #36174 closed

[2019-08-19 15:04] Crysitna commented on #37126
hi thanks for the help! just to make sure am i supposed to use the `primary key` or `secondary key`  under `Azure Maps Account`? if so, any other setup requires?

[2019-08-19 15:08] emmanuelrd opened #37350 "Requirements for IE Enhanced Security"
It looks like the following website also needs to be added when IE Enhanced Security is enabled:

https://aadcdn.msftauth.net

The latest installer is prompting for it when PowerShell is launched and authentication is requested. The requirements section above does not mention it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-08-19 15:08] DixitArora-MSFT commented on #37347
Hi @jmulcahy-fiscaltec Thanks for reaching out. We will review and update as appropriate.

[2019-08-19 15:10] billmath commented on #36049
@mhunter77 Thank you for the feedback.  I would say send me an email internally and we can start a thread with the PM.  We would need to verify this before adding this to the documentation.  Thanks!

Bill

#please-close

[2019-08-19 15:10] #36049 closed

[2019-08-19 15:15] doodlemania2 commented on #37057
Okay, well, I am not sure why it isn't working then. I followed the ingress steps and then immediately did the egress steps. Will try again!

[2019-08-19 15:15] #37057 closed

[2019-08-19 15:26] MicahMcKittrick-MSFT commented on #37346
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-19 15:32] oniled opened #37352 "Advantages of Azure Security Center vs normal MDSC onboarding for OnPrem servers?"
Hello - from reading, the advantage of onboarding On-Premise servers to Azure Security Center for Windows Defender ATP is that the servers would be visible through the Azure Security Center pane of glass?  Besides that, it appears Azure Security Center directly references the Microsoft Defender Security Center?

Are there any other advantages I am missing?  Is there somewhere that can provide addi

[2019-08-19 15:33] Adam-Smith-MSFT commented on #37131
@jlee-vi I recommend posting this question in forums, either in Stackoverflow or in [MSDN storage forum](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=windowsazuredata) this medium is specific to documentation issues. We'll follow up with you in the other channels.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it an

[2019-08-19 15:33] #37131 closed

[2019-08-19 15:35] gabrielgraf commented on #31537
as @ams0 commented the solution is not complete yet. The istio-init container does not run through because of the following lines:
  ip6tables -F INPUT || true
  ip6tables -A INPUT -m state --state ESTABLISHED -j ACCEPT || true
  ip6tables -A INPUT -i lo -d ::1 -j ACCEPT || true
  ip6tables -A INPUT -j REJECT || true
The problem is the missing module ip6table_filter on the worker nodes. After addi

[2019-08-19 15:44] #37342 closed

[2019-08-19 15:44] smoms commented on #27313
@MarekLani I do not think that @sergaz-msft meant what you have understood: "Having Leaf Device acting as a gateway ". He meant a leaf device connected to a gateway  acting as an Identity Translation Gateway.

[2019-08-19 15:44] trevorbye commented on #37335
@fhe-fr can you check which version of azureml-opendatasets you are using? Also can you let me know what your python version is? This looks to me like an error caused by some type of dependency bug/conflict, so I would start by making sure you have the most recent opendatasets package version as well as trying a different python version (try 3.6.5) in a clean environment.

[2019-08-19 15:57] MicahMcKittrick-MSFT commented on #37271
@festivus thanks for the patience while I looked into this. I reached out to the Service Fabric Product group on this ask and they confirmed you can use POA for Server 2016 Core and server 2019 core.

[2019-08-19 15:57] #37271 closed

[2019-08-19 15:58] NavtejSaini-MSFT commented on #37345
@derekrprice I was able to follow the tutorial and was able to see the collection as well in Robo 3T. Please see screenshot.
![MogoDB](https://user-images.githubusercontent.com/52257742/63280293-90a35c80-c278-11e9-96f0-c56d23eb495c.JPG)

Please check and if you are still facing the issue, please provide detailed steps that you follow and also if any screenshot.

[2019-08-19 16:13] Heidilohr commented on #29564
@bencorley I'm assuming that this issue has been resolved. #please-close

[2019-08-19 16:13] #29564 closed

[2019-08-19 16:15] sdgilley commented on #37134
@brigiyu - can you tell me more about when you are getting errors?  Is this on a Notebook VM, or on your own notebook server?  What error do you get?

[2019-08-19 16:16] Heidilohr commented on #28308
@ShehzadUIT I'm assuming this issue has been resolved. #please-close

[2019-08-19 16:16] #28308 closed

[2019-08-19 16:17] Heidilohr commented on #28136
@AlexBagnolini I'm assuming this issue has been resolved due to lack of response. #please-close

[2019-08-19 16:17] #28136 closed

[2019-08-19 16:19] Heidilohr commented on #27781
I'm assuming this issue has been resolved as there have been no further responses. #please-close

[2019-08-19 16:19] #27781 closed

[2019-08-19 16:29] sauryadas commented on #36875
any URL from the kubernetes cluster in azure is resolved starting from coreDNS -> Azure DNS where ubuntu.com is mostly cached..

[2019-08-19 16:34] MicahMcKittrick-MSFT commented on #37346
You can find more information here: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-are-the-parameters-to-ca

Besides that, I see you are an FTE, if you have further questions feel free to ping me offline and I can provide you with some resources and DLs to reach out to.

[2019-08-19 16:34] #37346 closed

[2019-08-19 16:35] soniaang opened #37354 "404 on linke please FIX"
The three different task parameter values determine the list of algorithms to apply. Use the whitelist or blacklist parameters to further modify iterations with the available algorithms to include or exclude. The list of supported models can be found on SupportedAlgorithms Class.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-08-19 16:35] markwahl-msft commented on #37145
The least privileged directory role for updating configuration in an Azure AD Identity Governance feature are:

- Entitlement Management - User Admin (with the exception of adding SharePoint Online sites to catalogs, which requires GA)
- Terms of Use - Security Admin or Conditional Access Admin
- Access Reviews - User Administrator (with the exception of Access Reviews of Azure or Azure AD roles,

[2019-08-19 16:36] MicahMcKittrick-MSFT commented on #37225
You can find more info about the certs in the next page

https://docs.microsoft.com/en-gb/azure/service-fabric/service-fabric-application-and-service-manifests

The link also provides additional links to examples

https://docs.microsoft.com/en-gb/azure/service-fabric/service-fabric-service-manifest-resources#example-specifying-an-https-endpoint-for-your-service

https://docs.microsoft.com/en-gb/az

[2019-08-19 16:37] MicahMcKittrick-MSFT commented on #37127
@mjcarrabine we will go ahead and close this out. If the links provided do not help just let us know and we can reopen and continue the discussion.

[2019-08-19 16:37] #37127 closed

[2019-08-19 16:39] sdgilley commented on #37264
@liyiming-serif - what computer are you running the notebook on?  Is it possible your firewall is blocking the request?

I just tried this on a Notebook VM and the urllib.request.urlretrieve works correctly.

[2019-08-19 16:40] MicahMcKittrick-MSFT commented on #37154
From my understanding, you need to be running Windows Server 2016 with containers to make this work. So running on a dev machine using Windows 10 would not work. Can you try locally with Windows Server 2016 with containers?

[2019-08-19 16:46] #37283 closed

[2019-08-19 16:46] MashaMSFT commented on #29495
Hi @langstonj , Thanks again for contacting Microsoft!  We've submitted a documentation change based on your suggestion, and it should be live at this point. Please let us know if there is anything more we can do for you? If not, we'll proceed with closing out this Git Issue in a few business days.

Thanks again and hope you have a wonderful rest of your day!
Masha from SQL Docs team
#please-close

[2019-08-19 16:46] #29495 closed

[2019-08-19 16:53] rothja commented on #36544
@averkinderen Thank you for the question. I need to pull in others who are more familiar with this area.

@tfitzmac Are you the right person to look at limits surrounding tags on resource groups? I'm co-assigning you while we find the right person. Thank you!

#assign:tfitzmac

[2019-08-19 16:55] erikadoyle commented on #33087
Thanks @Nickomang ! #please-close

[2019-08-19 16:55] #33087 closed

[2019-08-19 16:56] theheatDK commented on #36875
Ok thanks @sauryadas. Is it possible to overwrite this so you could direct the DNS traffic to you own DNS servers deployed on VMs in Azure?
I assume that the flow is different for Ubuntu it self? So when Ubuntu for example downloads patches the DNS traffic will not go via Azure DNS?
Regards Peter

[2019-08-19 16:57] cijothomas commented on #35072
ITelemetry is not available for constructor injection. To enrich any ITelemetry, use TelemetryInitializers. You may want to get access to httpcontext inside the TelemetryInitializer, which may contain the information required to enrich ITelemetry.

[2019-08-19 17:07] asagage opened #37356 "Jira AppLinks connection issues with Azure AD Application Proxy"
I am having issues getting any Jira Application Links (AppLinks) to work when using Azure AD Application Proxy with conditional access to require MFA.  Is there some way to enable the Azure AD authentication for the Application Proxy and still allow the OAUTH-based Application links to bypass the Azure authentication flow?

[2019-08-19 17:08] tfitzmac commented on #36544
Yes, I am the right person. I will update it.

[2019-08-19 17:10] msLinuxNinja opened #37357 "Easv3-series Description Typo"
On the Easv3-series description, there might a typo where it says:
"configuration with up to 256GB L3 cache"

No processor has that kind of L3 cache, looking at the data sheet for the EPYC 7452, each CPU has 128MB (Megabytes) of cache. The actual amount is probably 256MB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-08-19 17:12] solaomo commented on #19456
Currently experiencing the same issue, is there any update now?

[2019-08-19 17:12] rodrigoamicrosoft commented on #37310
We currently support ECMAScript 5.1 on ASA JS functions.

[2019-08-19 17:13] rothja commented on #36544
Thank you! #reassign:tfitzmac

[2019-08-19 17:15] roygara commented on #8837
I've gone ahead and tested the script, there were some invalid characters which I've removed and after making those modifications the script worked.

I went ahead and updated the script proper so now the live version reflects these changes as well.

Accordingly, I'm closing this out.

#please-close

[2019-08-19 17:15] #8837 closed

[2019-08-19 17:16] rothja commented on #35746
@Vojkan-Cvijovic Thank you for this feedback and sincere apologies for the delay. This feedback is also being addressed in another git issue and the update should happen very soon in the documentation. I am going to close this git issue, but please reopen if you do not see the change in the documentation soon, and I will investigate. Thank you! #please-close

[2019-08-19 17:16] #35746 closed

[2019-08-19 17:18] MicrosoftGuyJFlo commented on #36821
@UKayo this was covered under the Azure AD Basic license that was included with Office 365 environments before. Since that SKU no longer exists I will add the Office listing to the article.

An Office 365 license will only get you SSPR for cloud-only users.

[2019-08-19 17:25] BryanTrach-MSFT commented on #37328
@jorgecarleitao Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-19 17:25] maxchenz opened #37358 "When will there be a custom Azure AD RBAC role for managing AAD groups?"
We have a need to grant permissions to users to modify group membership of AAD (cloud) security groups. Currently, there is no built-in role or custom role to just grant this level of permission to AAD security groups. The closest we can find is way too much permissions with the Cloud Device Administrator role.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-08-19 17:30] sdgilley commented on #37264
Can you try on a Notebook VM?  Meanwhile I'll try on my local computer as well.

[2019-08-19 17:31] kobulloc-MSFT commented on #36353
@thargy We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-08-19 17:31] #36353 closed

[2019-08-19 17:34] #36544 closed

[2019-08-19 17:35] KranthiPakala-MSFT commented on #37187
@payamab We have assigned the issue to the content author. They will evaluate and provide an update as appropriate.

@Minewiskan Could you please have a look at this? - Thanks!

[2019-08-19 17:35] mamccrea commented on #37090
@stijn192 - thanks for catching that! I'll update the image.

[2019-08-19 17:35] YutongTie-MSFT commented on #37354
@soniaang
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-19 17:35] mamccrea commented on #37090
#please-close

[2019-08-19 17:35] #37090 closed

[2019-08-19 17:36] ecfan commented on #37205
@clineer, @DixitArora-MSFT, and @divyaswarnkar, the link should work, but there was a regression with the linked connector autogenerated reference page, but a PR has been created to address that issue.

#please-close

[2019-08-19 17:36] #37205 closed

[2019-08-19 17:36] andrewtyped commented on #33087
For completeness, commit #9521370 fulfilled this request. The information was added to [Service Fabric application upgrade: advanced topics](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-upgrade-advanced#upgrade-application-parameters-independently-of-version)

[2019-08-19 17:36] MartinJaffer-MSFT commented on #31280
@seanbetts try activity('WC Validation') instead of activity('Get WC_TSCRPTS').
The exists is from the output of the validation activity.

[2019-08-19 17:38] Grace-MacJones-MSFT commented on #37174
Since the link has been fixed. We will now proceed to close this thread.

[2019-08-19 17:38] #37174 closed

[2019-08-19 17:39] ArvindHarinder1 commented on #23112
@mtillman I will need to investigate.

[2019-08-19 17:40] FrankHu-MSFT commented on #37186
Alright sounds good, I'm glad that you were able to resolve your issue! @jurajgh Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-19 17:40] diberry commented on #24806
This doc has been validated and will be published today. #please-close

[2019-08-19 17:40] #24806 closed

[2019-08-19 17:41] ggailey777 commented on #36860
Work on this scenario has been taken offline.

[2019-08-19 17:41] FrankHu-MSFT commented on #37188
@kartheekakkur  per the docs : https://docs.microsoft.com/en-us/azure/key-vault/key-vault-ovw-storage-keys#manage-storage-account-keys

_Assign the "Storage Account Key Operator Service Role" RBAC role to Key Vault. This role limits the access scope to your storage account. For a classic storage account, use the "Classic Storage Account Key Operator Service Role" role._

[2019-08-19 17:42] ggailey777 commented on #37107
@jayhub42 this support may only be available for .NE functions, as I don't see an equivalent in the [Python APIs](https://docs.microsoft.com/en-us/python/api/azure-functions/azure.functions?view=azure-python). If this is still a need, you should probably [submit an issue in the Python repo](https://github.com/Azure/azure-functions-python-worker/issues/new).

[2019-08-19 17:44] FrankHu-MSFT commented on #37183
Hello,

As this is the v1.0 docs I will go ahead and make the change, but it is suggested to utilize the v2.0 endpoint for most scenarios now. Please see this doc for more information : https://docs.microsoft.com/en-us/azure/active-directory/develop/azure-ad-endpoint-comparison

[2019-08-19 17:47] FrankHu-MSFT commented on #37352
@oniled Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-19 17:47] FrankHu-MSFT commented on #37358
@maxchenz Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-19 17:47] FrankHu-MSFT commented on #37337
@chainhead Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-19 17:47] FrankHu-MSFT commented on #37338
@GriffReborn Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-19 17:47] FrankHu-MSFT commented on #37339
@ncheymol Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-19 17:47] FrankHu-MSFT commented on #37349
@derekharkin Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-19 17:47] FrankHu-MSFT commented on #37350
@emmanuelrd Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-19 17:50] MicahMcKittrick-MSFT commented on #37357
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-19 17:52] tfitzmac commented on #36544
@averkinderen - thanks for this feedback. The update should get published this afternoon.

[2019-08-19 17:55] gregdegruy opened #37359 "Requesting individual user consent for BETA Endpoint"
For beta APIs like the [Calls API](https://docs.microsoft.com/en-us/graph/api/application-post-calls?view=graph-rest-beta&tabs=http) how do you [Request individual user consent](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#requesting-individual-user-consent).

This call
[code]

Gives me this error

---
#### Document Details

⚠ *Do not edit this section

[2019-08-19 17:58] ArvindHarinder1 commented on #23112
@mtillman I've created a PR incorporating the feedback. https://github.com/MicrosoftDocs/azure-docs/pull/37360

[2019-08-19 17:59] mrdfuse commented on #36014
Yes indeed, thanks for the headsup!

[2019-08-19 18:01] jeevansd commented on #37338
@chetansriv and @v-viinde @v-nagta Can you please update this doc based on the feedback?

[2019-08-19 18:10] FrankHu-MSFT commented on #37359
@gregdegruy Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-19 18:14] droessmj opened #37361 "HTTP API RBAC Support"
Will the addition of RBAC support trickle down into the REST API? This example describes how to assign an identity permissions to consume the Service Bus with using roles rather than SAS tokens, however the HTTP REST API does not appear to support oAuth 2.0 tokens as it appears to allow only WRAP and SAS authorization. What is the planned extent of RBAC support?

Secondly, will RBAC support exist

[2019-08-19 18:18] FrankHu-MSFT commented on #37359
Hey @gregdegruy  you need to utilize the beta endpoint for the call. note that it's
https://graph.microsoft.com/beta/, not just https://graph.microsoft.com/

Have you tried utilizing the scope :
https%3A%2F%2Fgraph%2Emicrosoft%2Ecom%2Fbeta%2FCalls%2EInitiate%2EAll

[2019-08-19 18:21] FrankHu-MSFT commented on #37350
Hey @emmanuelrd  thank you for letting us know about this. we are currently adding this url,

@emmanuelrd Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-19 18:22] artisticcheese opened #37362 "How do you tell Log Analytics not to cast properties into types?"
I have property which looks like GUID but instead it's actually I want to be used as string. Currently LogAnalytics casts it automatically to GUID and changes column name to gave `_g`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1295e1b3-5aed-3aee-4331-8b81e7a7e544
* Version Independent ID: 3c00a5ee-7093-1e8b-9004-8f

[2019-08-19 18:24] kartheekakkur commented on #37188
Yes, I assigned the Storage Account Key Operator Service Role, it did not work. that is when I assigned the owner role

[2019-08-19 18:25] ShawnPOWER commented on #36139
Hi @ScoutmanPt, I am still confused, I don't work for Microsoft so I don't know the answers here.

I have talked with some Microsoft folks that have said you just need to license them as you would a SharePoint user internally, so buy a SharePoint license for them and Azure AD licenses as needed. Technically, I don't think certain things are enforced in the SharePoint Online Software as a Service (

[2019-08-19 18:26] FrankHu-MSFT commented on #37339
Hello @ncheymol  can you please provide the other AAD doc you're referring to that is contradicting this doc's statement?

[2019-08-19 18:27] FrankHu-MSFT commented on #37337
Hello @chainhead can you clarify your request?

What you referring to when you say _the approvals tab of a page_?

[2019-08-19 18:28] Karishma-Tiwari-MSFT commented on #36614
@Jatinder-Luthra Yes, please share the support request number. Thanks.

[2019-08-19 18:30] gregdegruy commented on #37359
I now get this error using the beta endpoint

`https://login.microsoftonline.com/common/oauth2/v2.0/authorize?
client_id=d3e66821-c835-4bfe-9b81-79b6c8db9cb2
&response_type=code
&redirect_uri=http%3A%2F%2Flocalhost%2Fmyapp%2F
&response_mode=query
&scope=
https%3A%2F%2Fgraph%2Emicrosoft%2Ecom%2Fbeta%2FCalls%2EInitiate%2EAll
&state=12345`

![image](https://user-images.githubusercontent.com/8151045/6

[2019-08-19 18:33] SamaraSoucy-MSFT commented on #37244
@ferares4 Currently you cannot connect Application Insights to Power BI Report Server. As you noted, key-based and Azure AD is [not currently supported](https://docs.microsoft.com/en-us/power-bi/report-server/data-sources) in PBI Report Server.

The data present in the report when you publish it will remain so you can create the reports you just can't refresh the data in the service. The other opt

[2019-08-19 18:33] #37244 closed

[2019-08-19 18:33] peterpogorski commented on #32362
#re-assign nickomang

[2019-08-19 18:35] dc911x commented on #22886
@curtand @SaurabhSharma-MSFT Will you assign someone to update the Dynamic group article on how to add these systemlabels or create a new page for this? Many thanks!

[2019-08-19 18:35] #36821 closed

[2019-08-19 18:36] peterpogorski commented on #32143
#reassign @nickomang

[2019-08-19 18:38] peterpogorski commented on #30019
#reassign @nickomang

[2019-08-19 18:38] opticyclic commented on #36939
The key pieces of information that you need in order to make this work are:

- The required permission is the legacy "Azure Active Directory Graph" right at the bottom of the Add Permission screen and not the "Microsoft Graph" in the giant button at the top!

- You need to select "Application permissions" and not the default "Delegated permissions"

As an aside, its not clear what the difference i

[2019-08-19 18:38] CeciAc opened #37363 "Execute SSIS package: Set environment on Settings"
@Ameb commented on [Mon Aug 19 2019](https://github.com/MicrosoftDocs/azure-docs.es-es/issues/614)

The dropdown for Environment on Settings is empty but we have some environments setup on the SSISDB. If we set environment path manually the execution fails with `Failed get environment reference.`

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.com ➟ Vinc

[2019-08-19 18:40] MicrosoftGuyJFlo commented on #28024
#please-close

[2019-08-19 18:40] #28024 closed

[2019-08-19 18:40] peterpogorski commented on #29705
#reassign @nickomang

[2019-08-19 18:40] peterpogorski commented on #29429
#reassign @Nickomang

[2019-08-19 18:41] NavtejSaini-MSFT commented on #37324
@omiday There is no direct one to one mapping between what PostGreql supports and what Azure DB for PostgreSQL support. But for further clarification i am assigning this to doc author.

@rachel-msft  Please check the issue and comment regarding the same.

[2019-08-19 18:42] CeciAc commented on #37363
Hi team,
I moving this here because the user made a suggestion on their later comment
best regards

[2019-08-19 18:42] NavtejSaini-MSFT commented on #37319
@omiday We have created the PR to make this change. It will reflect once it is approved.

[2019-08-19 18:43] peterpogorski commented on #26599
#reassign @athinanthny

[2019-08-19 18:43] philmea commented on #34076
@bhattvishal We are committed to a refresh of this content. We will update this issue when the refresh is completed. Thanks for your contribution.

[2019-08-19 18:44] philmea commented on #26176
@JhaNishant We are committed to a refresh of this content. We will update this issue when the refresh is completed. Thanks for your contribution.

[2019-08-19 18:44] ecfan commented on #37233
Hi @TWolverson, thank you for your feedback! I've created a work item on our backlog to prioritize and address.

#please-close

[2019-08-19 18:44] #37233 closed

[2019-08-19 18:44] philmea commented on #19796
@dcasati We are committed to a refresh of this content. We will update this issue when the refresh is completed. Thanks for your contribution.

[2019-08-19 18:45] FrankHu-MSFT commented on #37358
hey @maxchenz I suggest filing this against the product feedback per the feedback section :
https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/roles-custom-overview#next-steps

That is the link here : https://feedback.azure.com/forums/169401-azure-active-directory

![image](https://user-images.githubusercontent.com/6366013/63289651-75cee900-c274-11e9-9af9-cf02f55dc63f.png)

[2019-08-19 18:45] peterpogorski commented on #21182
#reassign @erikadoyle

[2019-08-19 18:45] ajayanti1 commented on #33755
@chrisbues - We are updating the 'Product names and service plans identifies' list manually for now. Please let us know if you are looking for a specific product in general that is not in the list?

Also, you can use the following commands to get plans for any given SKU that are in your tenant.
•	Get-AzureADSubscribedSku | Select -Property Sku* (this will list SkuId and SkuPartNumber that are avai

[2019-08-19 18:47] NavtejSaini-MSFT commented on #37293
@artisticcheese Please check the following document where managed identities can be used for creating these credentials.
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-aad-authentication-configure#create-contained-database-users-in-your-database-mapped-to-azure-ad-identities

Still we are checking with the author regarding the same.

@johnpaulkee Please check the question from th

[2019-08-19 18:47] curtand commented on #37210
Hi @ashwinksharma
The preview version of custom roles for Azure AD just shipped, and I think this direction should encourage you. Roles can be scoped to single Azure AD resources, and permissions can be customized in a limited fashion in the preview.

Check them out! https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/roles-custom-overview

#please-close

[2019-08-19 18:47] #37210 closed

[2019-08-19 18:48] FrankHu-MSFT commented on #37183
@agrabhi Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today as we're making the change now. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-19 18:48] FrankHu-MSFT commented on #37145
Hey @ivangotti  please let us know if you have anymore questions in regards to this per the last response from Markwahl

[2019-08-19 18:49] peterpogorski commented on #15928
#reassign @erikadoyle

[2019-08-19 18:50] peterpogorski commented on #13371
@Kai-wang what is the specific documentation ask in this issue?

[2019-08-19 18:50] CeciAc opened #37365 "Powershell doesn't show property "Available Memory""
@tspannagel commented on [Mon Aug 19 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/512)

The powershell command Get-AzDataFactoryV2IntegrationRuntime doesn't show the property "Available Memory" as listed in https://docs.microsoft.com/de-de/azure/data-factory/monitor-integration-runtime#self-hosted-integration-runtime

Available Properties:
State
Version
CreateTime
AutoUpdate
Sche

[2019-08-19 18:51] CeciAc commented on #37365
Hi team
I'm moving this here because it seams the user is reporting an inaccuracy with the documentation
best

[2019-08-19 18:52] Alberto-Vega-MSFT commented on #37343
Hi @Jaiphadnis-20 Thank you for your feedback. Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.
If this is not documentation feedback for a specific Azure Doc please reach to support by opening a support ticket, or post on developer forums StackOverflow or MSDN

[2019-08-19 18:52] FrankHu-MSFT commented on #37144
Hello @AndyDring  I'm now closing out this issue please let us know if you have anymore concerns in regards to this by reopening this issue

[2019-08-19 18:52] #37144 closed

[2019-08-19 18:52] walsehgal commented on #37126
Hi @Crysitna, you can use either one. Secondary key is for backup purposes. Can you please ensure that you are within a region that we support?

[2019-08-19 18:52] femsulu commented on #37162
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-08-19 18:52] #37162 closed

[2019-08-19 18:53] NavtejSaini-MSFT commented on #37251
@PaulD11 When ever the throughput is set at database level in cosmos Db, the new creation creation should have partition key added to it. It will look something like:
db.runCommand({shardCollection: "DBname.Collectionname",
               key: {Partitionname: "hashed"}})

The code in the repository looks old for the same. We are assigning this to author for the corrections to the same,

@rimman an

[2019-08-19 18:55] athinanthny commented on #36363
#reassign @erikadoyle

[2019-08-19 18:58] Alberto-Vega-MSFT commented on #37356
Hi @asagage Thank you for your feedback. Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.
If this is not documentation feedback for a specific Azure Doc please reach out to support or post on developer forums StackOverflow or MSDN

[2019-08-19 19:01] MarekLani commented on #27313
@smoms thanks for explanation, however in that case you are loosing whole protocol translation part, that means your leaf device needs to speak IoT Edge protocol and you won't have such luxury in manufacturing world. What I need is Identity translation + Protocol Translation as depicted on architecture diagram in official documentation @sergaz-msft can you please elaborate more on how to achieve t

[2019-08-19 19:01] athinanthny commented on #28369
#reassign @Nickomang

[2019-08-19 19:02] dotties opened #37366 "Missing some context and steps?"
So, I am new to ML and wanting to learn.  I did the first part which is setting up the environment.  I have a Jupyter notebook set up and opened the folder within it.   Then this starts with import workspace class but where do I do that in my Jupyter Notebook?  Is there some code some place that I was suppose to create or use?   I feel like there is a step missing cause I am totally lost at the fi

[2019-08-19 19:02] MicrosoftGuyJFlo commented on #35622
I think any additional information would require a support case to be opened. I don't think this is purely documentation a request at this point.

[2019-08-19 19:02] MicrosoftGuyJFlo commented on #35622
#please-close

[2019-08-19 19:02] #35622 closed

[2019-08-19 19:11] KranthiPakala-MSFT commented on #37365
@tspannagel Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-08-19 19:14] PaulD11 commented on #37251
Yes, if it works with the mongo driver but not with mongoose.

Thanks for your feedback.

Best regards

Paul

Get Outlook for Android

On Mon, Aug 19, 2019 at 8:54 PM +0200, "NavtejSaini-MSFT" <notifications@github.com> wrote:

@PaulD11 When ever the throughput is set at database level in cosmos Db, the new creation creation should have partition key added to it. It will look something like:

db.r

[2019-08-19 19:15] KranthiPakala-MSFT commented on #37363
@Ameb Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate

[2019-08-19 19:15] ahaeber opened #37367 "Locales available for Batch Transcription API not documented"
Because this page does not specify anything on languages available we assumed that what is documented for Speech-to-text at https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/language-support also applies to the Batch transcription API. Unfortunately that assumption is invalid. After learning about the "get supported locales" api at https://westeurope.cris.ai/swagger/ui/index

[2019-08-19 19:16] ahaeber opened #37368 "Properly document hostnames / endpoints for the Batch transcription API"
At portal.azure.com we can see that the endpoint for our subscription is https://westeurope.api.cognitive.microsoft.com/sts/v1.0/issuetoken so we assumed that westeurope.api.cognitive.microsoft.com is the hostname to be used with the Batch transcriptions API. Unfortunately that assumption was also wrong. Eventually we found https://westeurope.cris.ai/swagger/ui/index and was surprised to see that

[2019-08-19 19:16] ajaydandage commented on #33480
Hi Team,

I am facing same issue, i created managed identity for azure function and provided permissions to key value but still getting the plain text in function, can you please help

Please let me know if you need more details, i can share function app and key vault details

Thanks

[2019-08-19 19:17] bultaf14 commented on #37262
@TravisCragg-MSFT, I appreciate your response but need a definitive answer. "Should have no effect" is not definitive. The diagram in the middle of this page illustrates that internet traffic is blocked to the service (see the red X), however, there is no description on this page that explains what causes it to be blocked. There is plenty of detail explaining how a VM within an Azure VNET is impac

[2019-08-19 19:17] dotties opened #37369 "Is there a step missing?"
Being new to ML, I am totally lost as to how to Connect the Workspace and Create the experiment.  There seems to be some context missing that I am not getting.   I have read this over a few times and I still don't know how to complete any of the steps on this page.  I have a Jupyter Notebook with some samples but not sure how to Connect my workspace.   Finding this useless for anyone new to ML bec

[2019-08-19 19:19] AjayKumar-MSFT commented on #37041
@jasonpnnl, We have been discussing on this internally. And, yes, we (@cephalin) would update the doc to reflect the differences between the two App Service OS flavors shortly, but no ETA yet.
We will close this out with pending action on pointing the difference(s) in the document, but if you feel you need more information please just let us know.

[2019-08-19 19:19] #37041 closed

[2019-08-19 19:22] AjayKumar-MSFT commented on #37175
@jelliott7, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2019-08-19 19:22] #37175 closed

[2019-08-19 19:24] iainfoulds commented on #8028
Docs have now been updated to include link to steps on how to add a user to the the required group in Azure AD. These docs are now live.

If there's additional support issues, please reach out so that CXP can provide the troubleshooting assistance that's needed.

For now, #please-close

[2019-08-19 19:24] #8028 closed

[2019-08-19 19:29] TravisCragg-MSFT commented on #37262
@bultaf14 Allow me to make the statement more clear.

Virtual Network Service Endpoints for Microsoft.Storage will only affect the outbound storage traffic coming from the Subnet that it is enabled on, and will have no effect on public access of a storage account by itself.

Access to storage accounts is controlled via the [Azure Storage Firewall](https://docs.microsoft.com/en-us/azure/storage/com

[2019-08-19 19:32] MicahMcKittrick-MSFT commented on #37357
@msLinuxNinja thanks for the find! I have corrected the doc. Once the PR merges the changes will go live after a few hours.

[2019-08-19 19:32] #37357 closed

[2019-08-19 19:35] FrankHu-MSFT commented on #37199
Hello @activeNathan  I'm following up on this issue, can you please provide some more justification on this issue?

[2019-08-19 19:42] Jatinder-Luthra commented on #36614
@Karishma-Tiwari-MSFT  FYI
Support request ID- 119081724000120

Thanks

[2019-08-19 19:44] ajayanti1 commented on #33755
#please-close

[2019-08-19 19:44] #33755 closed

[2019-08-19 19:53] bultaf14 commented on #37262
@TravisCragg-MSFT thanks for clarifying. It's good to know that these are handled independently and have no impact on one another.

[2019-08-19 20:21] Karishma-Tiwari-MSFT commented on #37140
We will now close this issue. Please come back when you are ready and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-08-19 20:21] #37140 closed

[2019-08-19 20:22] cecilphillip opened #37370 "Extension bundles listing"
Two items.
1. Can we get a listing of all the bindings supported with extension bundles?
2. How do developers know when the bundle version increments? Is this information available on NuGet or somewhere else?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fb82e02-5c41-239b-4903-aab80ff15215
* Version Independent ID: 3

[2019-08-19 20:23] FrankHu-MSFT commented on #37359
Hey @gregdegruy, sorry about that. After looking through it a little more thoroughly
This permission does exist under the Microsoft graph api however, as it's only an Application permission, you will have to use the adminconsent endpoint, and won't be able to use the authorize endpoint.
![image](https://user-images.githubusercontent.com/6366013/63294458-407bc880-c27f-11e9-8224-24b06f692241.png)

S

[2019-08-19 20:25] stewartadam opened #37371 "Synchronization schedule"
Can we document more precisely the the sync schedule for managed domains? In two AADDS resources, I'm seeing last sync dates of 40 and 50 min respectively which raises into question this assertion:

&gt; After initial synchronization completes, it takes about 20-30 minutes for changes that are made in Azure AD to be updated in your managed domain.

---
#### Document Details

⚠ *Do not edit this se

[2019-08-19 20:26] sdgilley commented on #37264
I just tried and also am not having problems accessing the data from my local computer.  I'm not on campus, but I am connected to the VPN.

Can you see if this is still a problem for you?  Also did you try from a Notebook VM?

[2019-08-19 20:32] normesta commented on #35868
@dpolivy thank you for reporting this. @KarlErickson is the author of the sample that contains that snippet. @KarlErickson, in the [upload.js](https://github.com/Azure-Samples/storage-blob-upload-from-webapp-node-v10/blob/master/routes/upload.js) file of the storage-blob-upload-from-webapp-node-v10 sample, should the line "await uploadStreamToBlockBlob(aborter, stream, blockBlobURL, uploadOptions.

[2019-08-19 20:32] normesta commented on #35868
#assign:KarlErickson

[2019-08-19 20:38] rwike77 commented on #35920
Talked with @kalyankrishna1 and engineering, verified that offline_access is indeed supported.  #please-close

[2019-08-19 20:38] #35920 closed

[2019-08-19 20:43] normesta commented on #36334
@valuator18 Thank you for reporting this issue. Curious, can you share with me the source of the link that has #azcopy-parameters in it? The AzCopy v8 articles have been archived as the current version is AzCopy v10. The section of the AzCopy v8 content that you are looking for is here - [AzCopy Parameters](https://docs.microsoft.com/en-us/previous-versions/azure/storage/storage-use-azcopy#azcopy-

[2019-08-19 20:43] normesta commented on #36334
#please-close

[2019-08-19 20:43] #36334 closed

[2019-08-19 20:49] mkennedy345 opened #37373 "Azure Security Center"
Hi Azure Docs

I have a query on ASC and looking for your help. The way we have setup ASC is that ASC agents are ONLY installed in our Production VMs. Non-prod VMs does not have ASC agent installed. So now the problem we are facing is that ASC dashboard is showing red for non prod VMs. For example.

How can we setup a policy that can ONLY applies for PROD VMs and does not provide info from non-Pro

[2019-08-19 20:50] seanbetts commented on #31280
Thanks @MartinJaffer-MSFT - that seems to have worked and my pipeline is up and running! I now just need to work out an if statement around the deleting of the original WC-TSCRPTS/FB-TSCRPTS depending on whether they're picked up at the start of the pipeline or not. Thanks for all your help!

[2019-08-19 20:51] SaurabhSharma-MSFT commented on #37071
@wucj It seems you do not have permissions to open a support ticket.  Can you send an email to AzCommunity[at]microsoft[dot]com with your subscription id and this issue link and I will enable a one time technical support ticket for you.

[2019-08-19 20:51] Karishma-Tiwari-MSFT commented on #37192
I have created a PR with the update and changes will be live shortly.

[2019-08-19 20:52] YutongTie-MSFT commented on #36905
@alexmpmenezes I really agree with you for the feedback. So I cc'ed the doc author to update the document in my first post. I will track this post for more update. Thank you for the feedback very much.

@PatrickFarley Hi Patrick, could you please check this issue? Could we have a document like : https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/export-delete-data to t

[2019-08-19 20:59] Adam-Smith-MSFT commented on #37081
Since we haven't heard from you, We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-19 20:59] #37081 closed

[2019-08-19 21:00] Adam-Smith-MSFT commented on #37261
@lyan-git Could you please provide us with the documentation link you were referring to ?

[2019-08-19 21:01] #37192 closed

[2019-08-19 21:01] rwike77 commented on #29452
@tiny-dancer  Thanks for bringing this up, those would be good improvements.  I won't be able to get to this right away so I've created a work item for tracking.   I'm closing this issue for now but will update this issue when the content work is done.  #please-close

[2019-08-19 21:01] #29452 closed

[2019-08-19 21:02] normesta commented on #34120
@KiloNiner great catch. Thank you. That content was outdated. The line has been removed and replaced with "To access your storage account from Azure Databricks, deploy Azure Databricks to your virtual network, and then add that virtual network to your firewall. See Configure Azure Storage firewalls and virtual networks."

[2019-08-19 21:02] normesta commented on #34120
#please-close

[2019-08-19 21:02] #34120 closed

[2019-08-19 21:05] rwike77 commented on #35899
#reassign: @TylerMSFT

[2019-08-19 21:07] gregdegruy commented on #37359
How can internal Microsoft employees have such a permission granted for testing in an entire tenant? `https://login.microsoftonline.com/common/adminconsent?client_id=d3e66821-c835-4bfe-9b81-79b6c8db9cb2&state=12345&redirect_uri=http://localhost/myapp/permissions`

![image](https://user-images.githubusercontent.com/8151045/63299365-796d6a80-c28a-11e9-8bc9-f4c29f896704.png)

[2019-08-19 21:11] PatrickFarley commented on #36905
I'm not sure what data the service retains or whether there's a way to delete it selectively. @tburns10 , do you know the answer?

[2019-08-19 21:12] FrankHu-MSFT commented on #37359
Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-19 21:15] lyan-git commented on #37261
I didn’t save the link to the doc by then, but I remember I was reading Virtual Wan and had a question on how cross region works for hub vnets.

Thanks.
Li

From: Adam-Smith-MSFT <notifications@github.com>
Sent: Monday, August 19, 2019 2:01 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Li Yan <lyan@aviatrix.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDoc

[2019-08-19 21:17] rachel-msft commented on #37324
@omiday, thanks for reaching out. Our aim is to support n-2 versions. At the moment we support more versions than that.
We started out with 9.5 and have released the new major versions since then. This is why we don't have 9.4.

[2019-08-19 21:20] Alberto-Vega-MSFT commented on #37342
@florianeidner I looks like you resolved your issue, please feel free to reach out if you have any questions or feedback related to Azure docs.

[2019-08-19 21:22] philmea commented on #34076
#please-close

[2019-08-19 21:22] #34076 closed

[2019-08-19 21:22] philmea commented on #26176
#please-close

[2019-08-19 21:22] #26176 closed

[2019-08-19 21:22] philmea commented on #19796
#please-close

[2019-08-19 21:22] #19796 closed

[2019-08-19 21:30] YutongTie-MSFT commented on #37369
@dotties
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-19 21:30] ElanShudnow commented on #36607
Same issue.  Still get the PIM weekly digest e-mails as well.  Wish there was a way to disable PIM weekly digest e-mails.

[2019-08-19 21:30] YutongTie-MSFT commented on #37368
@ahaeber
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-19 21:31] YutongTie-MSFT commented on #37367
@ahaeber
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-19 21:31] SaurabhSharma-MSFT commented on #37197
@theheatDK ok, got it.  I am checking this internally with the products team and get back to you if this is possible using PowerShell.

[2019-08-19 21:31] YutongTie-MSFT commented on #37366
@dotties
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-19 21:34] KristiRyder opened #37376 "Access to external Active Directory Groups"
The documentation and instructions for how to add the external AD groups are not completely clear.  We need to also set the API permissions set by going into AAD, finding the APIM Dev Portal registration -&gt; API Permissions, and making sure to add the legacy Active Directory Graph API permissions, Application scope... Could you please add this to your current documentation for future reference?

[2019-08-19 21:38] jstutson opened #37377 "TokenRenewerAsync not safe"
It is undocumented that System.Threading.Timer is used for the token renewal process.  This means any exception thrown while attempting to renew a token will bring down your entire service without a try catch within the renewer delegate.

It would be worth calling this out as we have seen flakiness in MSI which has allowed the initial token retrieval to succeed while the renew failed, bringing dow

[2019-08-19 21:46] tburns10 commented on #36905
Some of the OCR operations are asynchronous and thus store data temporarily while it is being processed. All data is deleted at a max of 48 hrs, we do not expose controls to the user for deleting.

[2019-08-19 21:50] rachel-msft commented on #6371
@etiennecelery, can you confirm that you are connecting to a Postgres server? In my previous response, I only edited the url you had sent to arrange the components correctly. But now I notice you are currently using .database.windows.net which would be for Azure SQL DB. If this is a Postgres database it should be .postgres.database.azure.com

To be sure, I recommend going to the Azure Portal and s

[2019-08-19 21:55] adlangx opened #37379 "Azure Data Factory Analytics solution no longer works due to schema changes"
It appears that the table schema for the logging has changed which causes the queries to return no results.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65693a51-ca12-9358-bf77-3534d308d936
* Version Independent ID: 4dd455ce-0a42-e101-dec6-d803bd67a5e3
* Content: [Monitor data factories using Azure Monitor](https://d

[2019-08-19 21:59] FrankHu-MSFT commented on #37358
@maxchenz
Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day tomorrow. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-19 22:01] Alberto-Vega-MSFT commented on #27313
@MarekLani you might want to upvote the request for a code sample or tutorial here https://feedback.azure.com/forums/907045-azure-iot-edge/suggestions/32497981-code-sample-for-identity-translation-pattern

[2019-08-19 22:08] SaurabhSharma-MSFT commented on #37237
@jaredtait @Mul-ti-pass sorry but we cannot share the audit release plans.  Please follow the current documentation for the updates.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-19 22:08] #37237 closed

[2019-08-19 22:08] xyh1 commented on #33518
#please-close

[2019-08-19 22:08] #33518 closed

[2019-08-19 22:13] SaurabhSharma-MSFT commented on #33911
@PATRICKwithMSFT Can you please send mail to azureblueprint[at]microsoft[dot]com so that someone from compliance can provide you this information.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-19 22:13] #33911 closed

[2019-08-19 22:14] SaurabhSharma-MSFT commented on #37071
@wucj We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-19 22:14] #37071 closed

[2019-08-19 22:16] maquadri opened #37380 "Cannot publish Data Factory"
We are getting Publishing Error when trying publish to master branch. The following error we get:

**Publishing Error**
The publish branch is out of sync with the collaboration branch. This is likely due to publishing outside of Git mode. To recover from this state, please refer to our Git troubleshooting guide

**Detail Error:**
Error code: OK
Inner error code: BadRequest
Message: The document ca

[2019-08-19 22:16] YutongTie-MSFT commented on #37141
@amynic Hi Amy, I have created the PR for it and waiting for the review of the author. I will close this for now. Thank you for your feedback again.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-08-19 22:17] SaurabhSharma-MSFT commented on #37241
@calewilliams We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-19 22:17] #37241 closed

[2019-08-19 22:18] femsulu commented on #37336
@HeineLysemose Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-08-19 22:21] Mul-ti-pass commented on #37237
@SaurabhSharma-MSFT This page is the Fedramp roadmap. The 4th column shows if meeting Fedramp requirements is planned for 2019. So you are already showing audit release plans. I am pretty sure @jaredtait and are interested Azure DevOps once it meets Fedramp requirements. Obviously it is not on the above roadmap for 2019, is it on the roadmap for 2020?

[2019-08-19 22:29] BKB503 commented on #19828
Same with me I'm able to connect but does not able to see any collections using Studio 3T, It shows collections in Robo 3T

[2019-08-19 22:31] Mul-ti-pass opened #37381 "Azure DevOps Fedramp"
@SaurabhSharma-MSFT This page is the Fedramp roadmap. The 4th column shows if meeting Fedramp requirements is planned for 2019. So you are already showing audit release plans. I am pretty sure @jaredtait and are interested Azure DevOps once it meets Fedramp requirements. Obviously it is not on the above roadmap for 2019, is it on the roadmap for 2020?

---
#### Document Details

⚠ *Do not edit thi

[2019-08-19 22:37] Alberto-Vega-MSFT commented on #28103
@TheGreenToaster no the user voice link is where that is discussed.

[2019-08-19 22:40] tamram commented on #36260
@terziyski - Thanks for your feedback. You're right, these commands are formatted for Bash. That's in accordance with our convention for Microsoft documentation.

I believe that the underlying assumption is that Windows users are more likely to use Azure PowerShell, and non-Windows users are more likely to use Azure CLI with Bash. Also, Azure CloudShell in the portal uses Bash by default.

In my e

[2019-08-19 22:41] Mike-Ubezzi-MSFT commented on #37257
@hpatel01 Given that there was no specific document referenced when you created this issue, we need to fully understand the desired functionality you are seeking but did want to explain a few things.
Firstly, [Active Geo-Replication](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-active-geo-replication) is not supported with Azure SQL Managed Instance. If you are looking for this

[2019-08-19 22:43] SaurabhSharma-MSFT commented on #37249
@m8r1us No, AFAIK the reader role needs to have those permissions to view all resources.

[2019-08-19 22:44] georgewallace commented on #30657
@hoylemd, I apologize for the delay in getting back to you on this issue.  I have confirmed that the article has been updated to point out that `Request.Body` value can be `null` Don't hesitate to reach out in the future if you have any additional questions. #please-close

[2019-08-19 22:44] #30657 closed

[2019-08-19 22:45] Alberto-Vega-MSFT commented on #17741
@sandeepsharat Please try what this customer did https://github.com/MicrosoftDocs/azure-docs/issues/33516 if that doesn't work please open a new issue

[2019-08-19 22:47] rwike77 commented on #34651
@darrelmiller Thanks for pointing this out, I've added a note to the article.  #please-close

[2019-08-19 22:47] #34651 closed

[2019-08-19 22:50] Mike-Ubezzi-MSFT commented on #37257
@douglaslMS @CarlRabeler @stevestein In looking through the Geo-Replication and Failover Group docs, I do not see any details with regard to Data Sync being supported or not supported. Any input would be greatly appreciated here. Thank you!

[2019-08-19 22:53] SaurabhSharma-MSFT commented on #37296
@islandsins I am sorry but I do not think this is required to be added here as this page is specific to Seamless SSO whereas the other page is hybrid ad join machines requirement and Seamless SSO is an added feature to existing hybrid ad.

[2019-08-19 22:59] SaurabhSharma-MSFT commented on #37381
@Mul-ti-pass My apologies I am not aware of the plan.  @Jain-Garima Can you please help providing this detail.

[2019-08-19 23:00] MicrosoftGuyJFlo commented on #37331
Sent a request to the Product Group for feedback. Will add to my backlog and track there.

[2019-08-19 23:00] MicrosoftGuyJFlo commented on #37331
#please-close

[2019-08-19 23:00] #37331 closed

[2019-08-19 23:00] georgewallace commented on #34728
#reassign:dcthegeek

[2019-08-19 23:01] MicrosoftGuyJFlo commented on #37179
#please-close

[2019-08-19 23:01] #37179 closed

[2019-08-19 23:02] georgewallace commented on #31525
@arcotek-ltd Following back up on this issue. Examples were provided on how you could achieve what you were looking for.  I am going to close this issue.  If you have further questions on this please don't hesitate to reach out. #please-close

[2019-08-19 23:02] #31525 closed

[2019-08-19 23:06] femsulu commented on #36848
@qianw211  - any idea who in marketplace can help answer these questions?

[2019-08-19 23:07] omerzubair commented on #35030
Hi Support team
I would agree with @psatyaa
i am still having issues connecting to source control (devOps).
"The authorization process could not be completed."
I have multiple other Automation accounts working fine. But i cannot repeat the process anymore.

![image](https://user-images.githubusercontent.com/7728453/63305353-d9ffb480-c329-11e9-9903-02d3fa82a560.png)

[2019-08-19 23:07] SaurabhSharma-MSFT commented on #37300
@rudolfdobias It seems there is an existing issue open with few suggestions over [here](https://github.com/MicrosoftDocs/azure-docs/issues/20171).  Can you please check if this helps.

[2019-08-19 23:15] brettcannon opened #37383 "Unit Testing example has a bad import statement"
`from httpfunc import my_function` will cease to function the instant the `myapp/httpfunc.py` file has a relative import.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d955d169-8fb8-c511-8911-3e49f95c5ce6
* Version Independent ID: 8a3d927c-51ce-d7d4-e5d1-acd928826db2
* Content: [Python developer reference for Azure Fu

[2019-08-19 23:19] #37183 closed

[2019-08-19 23:19] #37186 closed

[2019-08-19 23:19] #37194 closed

[2019-08-19 23:20] #37350 closed

[2019-08-19 23:20] FrankHu-MSFT commented on #37145
@ivangotti Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day tomorrow. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-19 23:24] femsulu commented on #36949
@MGoedtel any idea on the roadmap question and do we have documentation for enablement via ARM template?

[2019-08-19 23:33] Alberto-Vega-MSFT commented on #37380
@maquadri Thank you for your feedback. Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2019-08-19 23:35] palma21 commented on #33657
I'm not sure I understand, we already document how to do it, literally on this doc. We recommend using kured.

What is not supported is leveraging the VMSS API or any of the underlying APIs for that matter.

[2019-08-19 23:36] MicrosoftGuyJFlo commented on #35206
@vvadymv So it sounds like AWS is aware of this and is working to support it in a future state. We will go ahead and close this issue for now.

[2019-08-19 23:36] MicrosoftGuyJFlo commented on #35206
#please-close

[2019-08-19 23:36] #35206 closed

[2019-08-19 23:37] ConnorMcMahon commented on #33461
@cephalin, I can confirm the behavior. This is true of the `additionalLoginParams` field in general. It only changes the query string parameters we append to the AAD login redirect url. Once the end user gets redirected, there is nothing stopping them from changing those parameters, including removing "domain_hint" so that they can login with any domain.

[2019-08-19 23:39] MicrosoftGuyJFlo commented on #17267
#please-close

[2019-08-19 23:39] #17267 closed

[2019-08-19 23:39] maquadri commented on #37380
The following URL i was looking at when trying to troubleshoot the error:

https://github.com/MicrosoftDocs/azure-docs/issues/36750

[2019-08-19 23:40] maquadri commented on #37380
https://github.com/MicrosoftDocs/azure-docs/issues/36750

Thank You

Mohammed Quadri
Developer II, Data & Analytics Enablement

Walgreen Co. │ 1419 Lake Cook Rd., 3rd Floor MS #L393, Deerfield, IL 60015
Telephone  847 964 8252 | Mobile 773 895 9427

Member of Walgreens Boots Alliance

This email message, including attachments, may contain information that is proprietary, confidential, privileged a

[2019-08-19 23:41] DeanGross opened #37384 "Plans for more data"
Where can we find information about the roadmap plans for Sentinel to support all of the O365 activity logs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f16c2431-da39-7c6b-a6d1-1b71cb9cd069
* Version Independent ID: 9bd4d8ff-ece6-6ac3-b93e-6f78a5673329
* Content: [Connect Office 365 data to Azure Sentinel Preview](h

[2019-08-19 23:49] MicrosoftGuyJFlo commented on #35364
Using the Authenticator app with just a notification is supported but the first time you get a notification you must enter your pin or use your biometric. After doing this that one time you can just use biometrics to approve.

Your administrator must enable [notification through mobile app](https://docs.microsoft.com/azure/active-directory/authentication/concept-authentication-methods#notification

[2019-08-19 23:54] MicrosoftGuyJFlo commented on #25256
Also forwarding to my product group contacts.

[2019-08-19 23:56] jluk commented on #33657
@victornoel Jorge and myself looked into this and I think the issues got a bit confusing. We do not know of any reason kured does not work on VMSS, as Jorge mentioned we recognition of what is not supported is direct calls to underlying VMSS APIs to handle AKS clusters.

Could you share what did not work for you when trying to use kured with a VMSS backed cluster? The OP could not use kured becaus

[2019-08-19 23:56] eevans-seattle opened #37385 "Cross Subscription Access"
Is there support for configuring VNet integration (preview) across subscriptions?  Meaning configuring a WebApp in Subscription A with a VNet Integration (preview) with a VNet in Subscription B.  If so, how would the permission grants be made and the configuration defined?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-08-19 23:59] Alberto-Vega-MSFT commented on #37101
Hi @toddgauntgs it is not supported would you please provide your feedback on the user voice site, this way other customers can upvote and help the product team to prioritize https://feedback.azure.com/forums/907045-azure-iot-edge

[2019-08-20 00:15] peledins opened #37386 "Get-AzStorageAccount does not seem to work with classic storage accounts"
I used
Get-AzResource -ResourceGroupName "resourcegroupname"
to find the storage account resourceid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1059069a-e860-f66d-3445-60425a5bffe1
* Version Independent ID: 1d80c823-5a41-7d2b-f40d-b0f2ca3c673f
* Content: [Azure Key Vault managed storage account - PowerShell version

[2019-08-20 00:15] mundayn opened #37387 "Proxy Per Azure Tenant?"
I have a scenario where the client has 1 Azure AD, but has multiple forests/domains connected to this Azure AD.

I would ideally like to have 2 Proxies that would run the Proxy Service for all of these forests, rather than having 2 Proxies per Forest, as this adds up to a lot of VMs for such a small task.

Would you please consider making this forest wide service a Tenant wide service, as it seems

[2019-08-20 00:16] MarileeTurscak-MSFT commented on #37025
Closing this out as I have not heard back. Feel free to tag me in the comments or open a new issue if you'd like to continue the discussion.

[2019-08-20 00:16] #37025 closed

[2019-08-20 00:18] mundayn opened #37388 "Proxy Per Azure Tenant?"
I have a scenario where the client has 1 Azure AD, but has multiple forests/domains connected to this Azure AD.

I would ideally like to have 2 Proxies that would run the Proxy Service for all of these forests, rather than having 2 Proxies per Forest, as this adds up to a lot of VMs for such a small task.

Would you please consider making this forest wide service a Tenant wide service, as it seems

[2019-08-20 00:18] #37387 closed

[2019-08-20 00:18] mundayn commented on #37387
Added correctly via this page: https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-password-ban-bad-on-premises#feedback

[2019-08-20 00:19] MarileeTurscak-MSFT commented on #37228
Hi @SamirFarhat ,

Required for what? Just to clarify, are you just asking whether DNS configuration is required for using ADDS?

[2019-08-20 00:23] cijothomas opened #37389 "Provide full example of console app which configure default Web App configuration"
The console app should have all features except anything depending on the notion of an Incoming Request. So it should have Perf counters, live metrics, sampling, Dependency collection etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b189efce-ce4e-f8f8-ecf8-8803a18f9b65
* Version Independent ID: aec54012-dae3-ce18-0f

[2019-08-20 00:33] tamram commented on #32933
@peledins - Thanks so much for that clarification. I have updated the sample to lower-case the resource string before it is returned. The change to the documentation should go live in the next day or so.

#please-close

[2019-08-20 00:33] #32933 closed

[2019-08-20 00:43] daniellittledev opened #37390 "SPA routing and not found status code"
I'm building a SPA and I want every page to return the `index.html` file and the status code `200` is this possible with static websites. Currently if I set the error page to `index.html` the site will work but each call returns `404`.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcd3f99a-f522-6edb-6d39-eac1bb917956

[2019-08-20 00:57] Crysitna commented on #37126
right, I'm in China right now and I guess it's supported?

[2019-08-20 00:59] Crysitna commented on #37126
or maybe could I give my primary key to u guys and please do a test for me? I must hv missed something either when using the key or setting up the key

[2019-08-20 01:04] peledins opened #37391 "ARM/CLassic storage differences"
It should be noted that for classic storage accounts the key names are:
"Primary" and "Secondary".
For modern - "key1" and "key2".

Otherwise you get back: "{"error":{"code":"BadParameter","message":"Invalid storage key name.\r\n"}}"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1059069a-e860-f66d-3445-60425a5bffe1
*

[2019-08-20 01:07] femsulu commented on #37012
@Erikre , can you help with this please?

[2019-08-20 01:16] maxchenz commented on #37358
Thanks. We are good to close

________________________________
From: Frank Hu <notifications@github.com>
Sent: Monday, August 19, 2019 5:59:23 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Maurizzio, Vinnie <Vinnie.Maurizzio@fmr.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] When will there be a custom Azure AD RBAC role for managing AAD gr

[2019-08-20 01:46] v-kerwan opened #37392 "Allow access from Power BI Does not support workspace in Premium Capacity"
For currently workaround: user need to manually add Azure Datacenter Ip Range to Azure AS Firewall setting

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c60737e9-40f9-bcc5-a480-b453a3f58d55
* Version Independent ID: fd6dbf6c-7862-1c00-2c0b-ca260f79e7df
* Content: [Quickstart - Configure a firewall for an Analysis Serv

[2019-08-20 01:47] v-kerwan commented on #37392
Please update it into document

[2019-08-20 01:58] ChristianMontoya commented on #33183
Incorrect guidance was fixed, so this is now resolved. #please-close

[2019-08-20 01:58] #33183 closed

[2019-08-20 02:06] Sas002 commented on #37206
yes I have the SinkConfig and I am getting events for SYSLOG and Performancelog using same sinksConfig. Just Filelog  part is not working at all.

Below is my public_condif.json file

``
cat public_config.json
{
  "StorageAccount": "diag55804dda27ec4dc3",
  "sampleRateInSeconds": 15,
  "ladCfg": {
    "diagnosticMonitorConfiguration": {
      "eventVolume": "Medium",
      "metrics": {
        "me

[2019-08-20 02:10] Sas002 commented on #37206
above config is sending events to eventhub and captured to Blob storage.  Only fileLogs  part is not working. There is also no error or warning for fileLogs. It seems the agent is not at all reading the var/log/messages file . I tried to monitor with "lsof" command to find but do not see any process is reading /var/log/messages file

[2019-08-20 02:11] dcbrown16 opened #37393 "Blacklisting example"
Can this document explain how to blacklist, or link to a document that does so? It simply says it is possible without providing information on how to do so.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dd8dd33-533a-705b-97cb-0edcf4814379
* Version Independent ID: fc3cbbb5-67d7-159e-2132-b49116fb0963
* Content: [Auth

[2019-08-20 02:12] Sas002 commented on #37206
Here is the log file output from **/var/log/azure/Microsoft.Azure.Diagnostics.LinuxDiagnostic**

using tail -f *

2019/08/20 02:09:13 [Microsoft.Azure.Diagnostics.LinuxDiagnostic-3.0.123] Error in MDSD:930Z: Tid-140628429375232: Azure Storage Exception for table "WADMetricsPT1MP10DV2S20190818": Conflict
2019/08/20 02:09:13 0:The specified entity already exists.
2019/08/20 02:09:13 RequestId:6da4c6

[2019-08-20 02:16] ChristianMontoya commented on #30001
Looks like it was resolved, and we've also made sure the packages are more up-to-date.
#please-close

[2019-08-20 02:16] #30001 closed

[2019-08-20 02:16] rafa-pizzi commented on #36281
Hi, seems this has been updated. can you please close?
https://docs.microsoft.com/en-us/cli/azure/postgres/server?view=azure-cli-latest#az-postgres-server-update

[2019-08-20 02:17] ChristianMontoya commented on #29499
Documentation is on the team's backlog. In the meantime, #please-close .

[2019-08-20 02:17] #29499 closed

[2019-08-20 02:21] ChristianMontoya commented on #28023
Closing out, as this was right when public preview opened. Please re-open if there are additional questions.
#please-close

[2019-08-20 02:21] #28023 closed

[2019-08-20 02:24] ChristianMontoya commented on #27902
Issue seems to be resolved. Please re-open if necessary. #please-close

[2019-08-20 02:24] #27902 closed

[2019-08-20 02:29] ChristianMontoya commented on #27746
Added additional screenshots since issue was created, which should mitigate this issue. Please re-open as appropriate.
#please-close

[2019-08-20 02:29] #27746 closed

[2019-08-20 02:30] ChristianMontoya commented on #27694
Additional screenshots added since the time this issue was filed. Should mitigate this concern going forward.
#please-close

[2019-08-20 02:30] #27694 closed

[2019-08-20 02:57] DixitArora-MSFT commented on #37383
Hi @brettcannon Thanks for your feedback. We will review and update as appropriate.

[2019-08-20 02:58] DixitArora-MSFT commented on #37376
Hi @KristiRyder Thanks for your feedback. We will review and update as appropriate.

[2019-08-20 02:58] DixitArora-MSFT commented on #37370
Hi @cecilphillip Thanks for reaching out. We will review and update as appropriate.

[2019-08-20 03:02] brigiyu commented on #37134
Hi Sheri,

Forgive me not familiar with Azure terminology. Let me provide my repro steps with snapshots and feel free to let me know if you need more information.

  1.  I created a Notebook VM through Machine Learning service workspace.
   [cid:image003.jpg@01D55746.AD721600]

  1.  Imported some packages and run python cells successfully within Jupyter notebook.
                [A screenshot of

[2019-08-20 03:09] terziyski commented on #36260
**@tamram** - Thanks for you answer. I see your point about the convention. Assuming that non-Windows users are more likely to use Azure CLI with Bash is reasonable but still, because of the assumption, if one (like me) tries to use MS Windows Azure CLI CMD to execute these commands would encounter this issue.
As per your suggestion to use the Windows PowerShell ISE these are not directly executab

[2019-08-20 03:20] tophallen opened #37394 "docker run command for cmd fails"
The run command for cmd for docker throws an error:

[code]

I believe it's the location of the `--rm`. The PowerShell command seems to run fine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 109ed3f8-faf1-92b9-bf50-4be52e9099d4
* Version Independent ID: ebc5326a-46da-6bc1-1f47-01a8e16d11fb
* Content: [Develop locally

[2019-08-20 03:23] Trustyboard opened #37395 "Trustyboard"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b52a210-1be6-4e5f-d95c-8ea7b87919ca
* Version Independent ID: 02a43ebb-7471-d7ff-4f7e-84c9f7a66326
* Content: [Backup and recover with Microsoft Authenticator app - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/user-

[2019-08-20 03:23] #37395 closed

[2019-08-20 03:33] DashleenBhandari-MSFT commented on #37385
@eevans-seattle , Thanks for raising the issue. We will investigate and update you.

[2019-08-20 03:45] georgewallace commented on #16903
This issue was resolved with the PR mentioned below, I have confirmed that the example is using the correct syntax as referenced in the original issue. If you have any further questions please do not hesitate to reach out. #please-close

[2019-08-20 03:45] #16903 closed

[2019-08-20 03:45] FrankHu-MSFT commented on #37358
Hey @maxchenz  alright sounds good thanks for your feedback again!

[2019-08-20 03:45] #37358 closed

[2019-08-20 03:46] #37359 closed

[2019-08-20 03:46] binoyjt opened #37396 "Registering fails when using the FULL sql management with error stating that server needs a restart."
Hi,

While running the Powershell command to register this in the full mode, it errors out stating that the Server will restart.

But it does not give any option that allows us to say continue or proceed or cancel. Attached is the error screenshot.

![image](https://user-images.githubusercontent.com/40192393/63315559-0e399c00-c34f-11e9-9963-6f0266029f4c.png)

The way i went around was to have it r

[2019-08-20 03:48] georgewallace commented on #20763
The Next Steps link has since been corrected and no longer points to itself.  If you have any further questions please don't hesitate to reach out. #please-close

[2019-08-20 03:48] #20763 closed

[2019-08-20 03:49] mike-urnun-msft commented on #37361
Hi @droessmj - Thank you for your feedback! We will review and update as appropriate.

[2019-08-20 03:53] georgewallace commented on #28406
This issue has been addressed in the linked PR, #please-close

[2019-08-20 03:53] #28406 closed

[2019-08-20 04:01] kobulloc-MSFT commented on #37389
@cijothomas Thank you!  We're assigning this to the author so they can update the document accordingly.

[2019-08-20 04:02] DashleenBhandari-MSFT commented on #37385
@eevans-seattle , VNet integration (preview) cannot be used for across subscriptions. This form of the feature requires a subnet in a VNet in the same region. This feature is still in preview but is supported for Windows app production workloads with some caveats noted below. https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet#regional-vnet-integration

[2019-08-20 04:05] ftiernan opened #37397 "Question on Format for COSMOSDB_COMMSTR"
regarding the .env code:
COSMOSDB_CONNSTR=mongodb://{cosmos-user}.documents.azure.com:10255/{dbname}
COSMODDB_USER=cosmos-user
COSMOSDB_PASSWORD=cosmos-secret

are the hard brackets {  } in the COSMOSDB_COMMSTR variable required? In other words if my cosmos-user is "bart" and dbname is "homer" should the COSMOSDB_COMMSTR be:
mongodb://{bart}.documents.azure.com:10255/{homer}   or:
mongodb://bart.d

[2019-08-20 04:10] ManojReddy-MSFT commented on #31078
@JoelHazelton Apologies for the delayed response. Your action plan looks good. Only devices with SCP configured on the client-side will be joined to Azure AD.

I will work with the author to enhance the doc.

[2019-08-20 04:16] ManojReddy-MSFT commented on #37288
@invictus-0x90 Personal accounts cannot be used in V1 endpoint. Try using the V2 endpoint as described in this [article](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#requesting-individual-user-consent).

Let me know if you still face the issue.

[2019-08-20 04:22] KetanChawda-MSFT commented on #37121
@rizwaans Checking in to see if the above post helped answering your question.

[2019-08-20 04:32] BhargaviAnnadevara-MSFT commented on #37373
@mkennedy345 Thanks for the question! We're investigating this and will get back to you shortly.

[2019-08-20 04:41] SumanthMarigowda-MSFT commented on #37377
@jstutson Thanks for your question. We are checking on this and will respond to you soon.

[2019-08-20 04:42] BhargaviAnnadevara-MSFT commented on #37362
@artisticcheese Thanks for the question! We're investigating this and will get back to you shortly.

[2019-08-20 04:42] SumanthMarigowda-MSFT commented on #37390
@daniellittledev Thanks for your question. We are checking on this and will respond to you soon.

[2019-08-20 04:42] neeleshray-msft commented on #37388
@mundayn  Thank you for your query. We will check it with the engineering internally and let you know accordingly.

[2019-08-20 04:43] neeleshray-msft commented on #37371
@stewartadam Thank you for your query. We will check it with the engineering internally and let you know accordingly.

[2019-08-20 04:47] rboucher commented on #30127
#in-progress.  Overhauling all the Azure Diagnostics content.

[2019-08-20 04:50] rboucher commented on #34994
Fixed for now. Overhauling the Azure Diagnostics content as we don't talking about enabling it in the portal UI, which is possible and common.

[2019-08-20 04:51] rboucher commented on #34994
merged.  update should appear in 24 hours. #please-close

[2019-08-20 04:51] #34994 closed

[2019-08-20 04:59] AshokPeddakotla-MSFT commented on #37126
@walsehgal Thanks for looking into this.

@Crysitna The Azure Maps APIs are currently available in all countries/regions except these:

- China
- South Korea

For more details, see [Supported regions](https://docs.microsoft.com/en-us/azure/azure-maps/about-azure-maps#supported-regions)

As a work around create an Azure VM in supported regions and follow the steps.
Hope this helps,
We will now proc

[2019-08-20 04:59] #37126 closed

[2019-08-20 05:00] jakaruna-MSFT commented on #37057
Sure @doodlemania2 .
If you face issues, Please create a new issue if thats related to doc or post a question in MSDN  forum https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureContainerServices

[2019-08-20 05:01] jakaruna-MSFT commented on #36857
@JimXu199545
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-08-20 05:01] #36857 closed

[2019-08-20 05:03] rizwaans commented on #37121
@KetanChawda-MSFT  This did solved the issue at the moment But I'm currently testing the Logic Apps. Would you keep this open for next one day. As I see another potential issue in the logic app actions with the time duration