[2019-12-13 23:58] MarileeTurscak-MSFT commented on #44421
Can you please email the support case ID to me at marilee.turscak@microsoft.com?

[2019-12-14 00:01] MarileeTurscak-MSFT commented on #44421
I made a pull request to add a note. In the future feel free to make your own pull request if you'd like to get credited for these types of contributions. https://github.com/MicrosoftDocs/azure-docs-pr/pull/98980

[2019-12-14 00:01] #44421 closed

[2019-12-14 00:03] jaer-tsun commented on #44384
we're still debugging this issue; but the current mitigation is to delete the npm pod, all the entries will be there when it restarts

[2019-12-14 00:04] ctolkien commented on #41198
Even though we are a CSP, and have onboarded several customers, none of them actually show up in the CSP section. Not really sure how it is supposed to work.

[2019-12-14 00:05] #44574 closed

[2019-12-14 00:06] MarileeTurscak-MSFT commented on #44422
Thanks. I made a pull request to add a note about this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/98981

[2019-12-14 00:06] #44422 closed

[2019-12-14 00:29] Karishma-Tiwari-MSFT opened #44668 "Please add AKS in this doc"
Azure Kubernetes Service (AKS) also supports managed identities. Please add AKS details under https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/services-support-managed-identities#azure-services-that-support-managed-identities-for-azure-resources
Reference doc: https://docs.microsoft.com/en-us/azure/aks/use-managed-identity

---
#### Document Details

⚠ *Do

[2019-12-14 00:30] HJToland3 commented on #43371
@AjayKumar-MSFT, I've no response from the customer yet. What is the proper course of action here?

[2019-12-14 00:31] FrankHu-MSFT commented on #44668
@Karishma-Tiwari-MSFT Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-14 00:34] FrankHu-MSFT commented on #44561
This is not meant for vms, this is meant for physical machines, if it were meant for vms it would say so in the doc. Please file a support ticket if you'd like to pursue this further, if it's a troubleshooting question please submit it against the Q&A forums @ErnestBrant
https://docs.microsoft.com/answers/index.html

[2019-12-14 00:34] #44561 closed

[2019-12-14 00:35] Karishma-Tiwari-MSFT commented on #44379
@paulbouwer Do you have any insights into this issue the customer is facing? Thanks :)

[2019-12-14 00:40] FrankHu-MSFT commented on #44640
hello @msandbu the server being a part of AAD and AD should work properly, although as this feature is in preview there may be issues with this preview feature.

If it doesn't work please let us know and the product team will look into why this is occurring

AAD B2B users shouldn't be supported as they are not considered to be the same as AAD user accounts.

@msandbu Please let us know if there ar

[2019-12-14 00:41] FrankHu-MSFT commented on #44645
hey @msandbu  thanks for letting us know about this, we're going to look into this further. I'm also going to engage some more members to look into this,

cc: @MicrosoftGuyJFlo

[2019-12-14 00:42] #44515 closed

[2019-12-14 00:51] Karishma-Tiwari-MSFT commented on #44621
I have created a PR with the update, changes will be live in few days.
https://github.com/Azure/azure-docs-powershell-samples/pull/250
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-14 00:51] #44621 closed

[2019-12-14 00:52] Karishma-Tiwari-MSFT commented on #44130
Thanks @cynthn :)
@andyturn31 Hope that helped answer your question.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-14 00:52] #44130 closed

[2019-12-14 01:02] MarileeTurscak-MSFT commented on #44632
@kogesaka
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-14 01:04] MarileeTurscak-MSFT commented on #44636
@Mat-pa
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-14 01:06] MarileeTurscak-MSFT commented on #44663
@abdvlz
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-14 01:12] MarileeTurscak-MSFT commented on #44638
@LTUTE
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-14 01:12] MartinJaffer-MSFT commented on #44385
@mamccrea I have not received any responses to my internal escalations, so I am forced to assign the issue to you.  I have pinged you in teams to give you visibility to my escalation.

[2019-12-14 01:15] MarileeTurscak-MSFT commented on #44641
@LostinCloud please provide a link to the document you are referencing

[2019-12-14 01:16] MarileeTurscak-MSFT commented on #44642
@julesman101
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-14 01:17] MarileeTurscak-MSFT commented on #44656
@pwl-kdk
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-14 01:18] MarileeTurscak-MSFT commented on #44657
@toddysm
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-14 01:19] MarileeTurscak-MSFT commented on #44659
@pbaumgartner please provide a link to the document that you are following so that we can better assist.

[2019-12-14 01:20] MarileeTurscak-MSFT commented on #44661
@HoCGeek
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-14 01:20] lobrien commented on #44230
Thanks for your report. We hope this answers your questions, we shall proceed to close this issue, #please-close.

If you feel that your issue has not been resolved, please reopen the documentation issue and provide additional context. For product issues, contact technical support.

[2019-12-14 01:20] #44230 closed

[2019-12-14 01:21] MarileeTurscak-MSFT commented on #44662
@amadav
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-14 01:22] MarileeTurscak-MSFT commented on #44664
@ElanShudnow
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-14 01:22] MarileeTurscak-MSFT commented on #44666
@Vaccano
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-14 01:23] MarileeTurscak-MSFT commented on #44667
@Vaccano
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-14 01:24] kobulloc-MSFT commented on #44321
@jn-altius We are passing this feedback to the author, and assigning this to them so that they can update the documentation accordingly.  This area of Application Insights has been confusing for some of our readers and we are trying to make it easier to follow.  When creating my own Console Applications, I started with our documentation here:

https://docs.microsoft.com/en-us/azure/azure-monitor/a

[2019-12-14 01:29] MarileeTurscak-MSFT commented on #44479
@pkoelemij I have logged a work item for the product team to look into this. Can you please send all details to AzCommunity@microsoft.com so that we can track there?

@iainfoulds is there anyone tracking this on your end?

[2019-12-14 01:30] Karishma-Tiwari-MSFT commented on #44416
I have created a PR with the update, changes will be live in few hours.

[2019-12-14 01:31] #44416 closed

[2019-12-14 02:33] JnHs commented on #41198
Hi @wesleyniels - After the customer signs the MCA, the partner needs to purchase the Azure Plan for that customer - after that, the customer should show up in a few minutes. Again, note this is in the **Cloud Solution Provider** section only - they will not appear in **My customer** unless you also onboard them for Azure delegated resource management.

@ctolkien - I assume these customers are app

[2019-12-14 02:36] MonikaReddy-MSFT commented on #44524
@lisaguthrie - Thank you for sharing this information.
@haydenhancock , I hope the information shared by Lisa was helpful. Thanks again for bringing this to our attention. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-14 02:36] #44524 closed

[2019-12-14 02:42] samueljamkhandi07 commented on #44416
Thank you team

[2019-12-14 02:43] ctolkien commented on #41198
This is exactly my issue. No customers show up in the CSP section.

The ones which I manually onboard _do_ show up in the "Customers" section, but manually onboarding clients is time consuming and painful when we are their CSP reseller, they should just light up there no?

[2019-12-14 03:02] JnHs commented on #41198
@chadtolkien No - they don't light up there. The **Customers** section shows *only* the customers that you have onboarded (either manually or through a managed services offer you published to Azure marketplace). This can include either CSP customers or other non-CSP customers who you have onboarded.

The **Cloud Solution Provider** section of **My customers** shows *only* your CSP customers who ha

[2019-12-14 03:07] wesleyniels commented on #41198
@JnHs our customer has signed the MCA and do have a Azure Plan but still they are not showed, see attached files. Am I doing something wrong?
<img width="1389" alt="Screenshot 2019-12-13 at 22 05 07" src="https://user-images.githubusercontent.com/41356160/70842705-edf98580-1df4-11ea-876f-627d4cbf3f2a.png">
<img width="1468" alt="Screenshot 2019-12-13 at 22 07 35" src="https://user-images.githubuse

[2019-12-14 03:13] JnHs commented on #41198
@wesleyniels Thanks for sharing the screenshots. It does seem to me that this customer should appear in the CSP section. Let me investigate this - I'm not sure I'll get a response over the weekend but will reply as soon as I can. You can also open a support request if you need help sooner!

[2019-12-14 03:16] wesleyniels commented on #41198
No it's fine it can wait for now, thanks for the effort!

[2019-12-14 03:17] PingPongSet opened #44670 "Where ae these located: application-id, authentication-key and tenant-id?"
Where ae these located: application-id, authentication-key and tenant-id?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2687c250-ac81-3778-428d-7f6616e3d450
* Version Independent ID: 265205f9-f472-1021-9684-ee7216ca37a5
* Content: [Create and Manage an Azure Virtual Machine Using C# - Azure Windows Virtual Machines](h

[2019-12-14 03:18] prontohostau opened #44671 "Add owner to a Distribution group"
As mentioned in the article, there is not mentioned that it is only for O365 groups & security groups not for Distribution group. Would like to hear from you. Thanks for the initiatives from Microsoft.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31a86aa3-3274-12eb-66a4-8147c0438ed2
* Version Independent ID: da45ec44

[2019-12-14 05:35] ElanShudnow opened #44672 "Asymmetric Routing?"
This article doesn't talk about Asymmetric Routing.  If my Azure VM has a Public IP and an Internet Client talks to this Public IP, the Azure VM will then route the packet through On-Premises which will cause Asymmetric routing.  How is this resolved?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e199bebd-d994-ec96-47

[2019-12-14 06:16] aquibqureshi26 commented on #23017
Hi Jon,
If i purchased Standard_E32_v3. and I'm using Windows AHUB. In on-premises i considered equivalent license of 32 Cores. But if i purchased Standard_E32-16s_v3 do i have to purchase 16 Core windows license or 32 Core windows license?

[2019-12-14 06:20] msrini-MSFT commented on #44672
@ElanShudnow , force tunneling is configured in Azure VNET to monitor and control outbound internet traffic of the VMs from On-Premises. In this case, you can place VM which are public facing in one subnet and not route the traffic to On-Premises via force tunneling.

Let me know if you have any further questions.

[2019-12-14 06:29] ManojReddy-MSFT commented on #44671
@prontohostau We are looking into this and will get back to you shortly.

[2019-12-14 06:31] ManojReddy-MSFT commented on #44670
@cynthn We are looking into this and will get back to you shortly.

[2019-12-14 06:35] ElanShudnow commented on #44672
You just said that force tunneling is to control outbound traffic of the On-Premises VMs which makes it sound like you're saying Forced Tunneling is for On-Premises VM.

But the first sentence in the article mentions the opposite in that forced tunneling lets you redirect or "force" all Internet-bound traffic back to your on-premises location which makes it sound like Forced Tunneling is for Azure

[2019-12-14 06:37] ElanShudnow commented on #44672
It sounds like an update is needed to the Requirements and Considerations section to address the concern of VMs that require inbound internet traffic and how configuring forced tunneling will cause Asymmetric Routing issues.

[2019-12-14 06:43] rlevchenko commented on #42968
@richrundmsft I don't have a pending change to SSL policy. I checked yesterday the portal and Save button was still active, however, today it is greyed out. I don't figure what happened...

[2019-12-14 06:45] msrini-MSFT commented on #44672
@ElanShudnow , I meant, with force tunneling you have your NVA in your On-Premises to control outbound traffic from Azure vm.

Also it's worth mentioning in the docs about asymmetric routing.

@cherylmc can you take a look at this and update the document?

[2019-12-14 07:30] KrishnaG-MSFT commented on #44452
Verified and updated the document as required. Thanks.

[2019-12-14 07:30] #44452 closed

[2019-12-14 08:16] KalyanChanumolu-MSFT commented on #44543
@jusso-dev Thank you for reaching out. We are in the process of updating the sub sections as well.
Since the updates have to be made in the screenshots as well, this could take a while.
Rest assured, we are on it !

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-12-14 08:16] #44543 closed

[2019-12-14 08:52] ctolkien commented on #41198
Can you clarify this bit:

As I've said, we have a bunch of CSP clients (who have signed the MCA), which are using Azure (and have Azure services). Am not sure if there is a "plan" that we are missing.

[2019-12-14 09:41] parbados opened #44673 "Azure SQL Data Warehouse linked service"
There is no icon for Azure SQL Data Warehouse linked service - where has it gone ? This is not entirely correct is it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 125c8ae8-332f-8792-d81b-30bb0eb3976f
* Version Independent ID: 2e2ac8cb-4208-6692-0f25-701e4906475a
* Content: [Copy data in bulk using Azure portal - Azu

[2019-12-14 10:49] ManojReddy-MSFT commented on #44673
@parbados We are looking into this and will get back to you shortly.

[2019-12-14 11:39] MMerzinger opened #44674 "Missing link "how to extract private key""
Under section Download VPN profile -&gt; Microsoft Windows/OpenVPN step 5 specifies to copy the private key into the config. The second sentence is missing a link to a page explaining how to extract the private key from e.g. a pfx file.
Maybe this link would fit: https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-openvpn-clients#windows

---
#### Document Details

⚠ *Do not edit

[2019-12-14 11:46] Seclot commented on #38243
Hi @RohitMungi-MSFT, do you know if this issue has been sorted. I am currently working on the same sample code and getting API called failed on frame 759: Exception.: An error occurred while sending the request.
<img width="342" alt="API Call Failed" src="https://user-images.githubusercontent.com/58278601/70848295-32be0480-1e67-11ea-9d0a-1d7b9dcfc52d.png">

[2019-12-14 12:11] romankiss opened #44675 "The twin property of the event data object is not up to date"
Starting the release _api-version=2019-06-30_, the twin object contains more properties such as the **capabilities** and **deviceScope**.

These properties are missing in the twin property of the event data object, so the subscriber doesn't know if the created/deleted device is the **iotEdge** or not (missing the capabilities property).

The question is.
Can be the twin object in the event data ob

[2019-12-14 13:34] artisticcheese opened #44676 "Update list of supported languages for Azure functions to include Powershell"
Powershell language support in Azure Functions is GA and shall be added to a list of supported languages for Functions in comparison table

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82ee9751-961d-7109-63d6-813b1862c632
* Version Independent ID: 583d1b2f-9c1a-3580-9d14-37bb551eaf44
* Content: [Integration and automa

[2019-12-14 14:04] aurokk opened #44677 ".NET SDK V3 example of conflict resolving is not working"
It's not clear what version of SDK is used in the example, with latest version it doesn't work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd538fc2-1416-bfe3-99de-1cf8f8982af1
* Version Independent ID: 8e45cb9f-ebae-a4e3-768d-7a19f3f5f121
* Content: [Manage conflicts between regions in Azure Cosmos DB](https://docs.

[2019-12-14 14:18] chewcw commented on #43196
hello @Mo-GH have you managed to solve the problem? I have the same problem. I think the documentation is not clear enough to address the issue.

[2019-12-14 14:54] dzoech opened #44678 "Outdated Dockerfile base image"
It seems there are two service-fabric-onebox images available on Docker Hub:

https://hub.docker.com/r/microsoft/service-fabric-onebox
https://hub.docker.com/_/microsoft-service-fabric-onebox

The former looks like a remnant of the publisher migration on Docker Hub but this documentation is referencing this outdeated image.

Comparing both images, only the latter provides SF version 6.5. Unfortuna

[2019-12-14 15:31] ManojReddy-MSFT commented on #44674
@MMerzinger Thanks for bringing this to our attention.We are looking into this and will get back to you shortly.

[2019-12-14 15:35] ManojReddy-MSFT commented on #44675
@romankiss We are looking into this and will get back to you shortly.

[2019-12-14 15:36] ManojReddy-MSFT commented on #44678
@dzoech Thanks for bringing this to our attention. We are looking into this and will get back to you shortly.

[2019-12-14 15:37] ManojReddy-MSFT commented on #44676
@artisticcheese We are looking into this and will get back to you shortly.

[2019-12-14 15:38] ManojReddy-MSFT commented on #44677
@aurokk We are looking into this and will get back to you shortly.

[2019-12-14 15:53] joslat commented on #44383
I guess this settles it. Thanks!

[2019-12-14 15:53] #44383 closed

[2019-12-14 16:20] theonlygusti commented on #44262
@RohitMungi-MSFT

I am using this ID:

![](https://user-images.githubusercontent.com/46958063/70421153-4516f780-1a8f-11ea-95b4-1d2273b5bc4e.png)

like so:

Guid[] modelList = new Guid[] { new Guid("the-Language-model-ID-from-Training") };

in the [example batch transcription client](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/batch/csharp/program.cs#L31)

But

[2019-12-14 17:11] MarileeTurscak-MSFT commented on #44663
This needs to be actionable feedback on a specific document. I am closing this out but feel free to open a new issue if you have feedback on an Azure document.

[2019-12-14 17:11] #44663 closed

[2019-12-14 17:27] paddotk commented on #44031
@neeleshray-msft Ok, I guess that that title is a bit confusing then. The issue for me was that after switching phones, I no longer had access to the Microsoft Authenticator app that was needed for the MFA, and that there was no way for me to set up a new connection in the app on my new phone. I ended up on that MS help page but it got me nowhere.

The issue was resolved by my organisation tempora

[2019-12-14 17:54] andyadamides commented on #20442
Hi - is there a PowerShell equivalent for the 1st step  "Prerequisities" , i.e. enable user assignment?

https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/methods-for-assigning-users-and-groups#prerequisites

[2019-12-14 17:58] msftjayongg opened #44679 "Is adding secondary certificate via portal on the backlog"
I've been having trouble with adding a secondary certificate via ARM template for some reason.  I know it's not possible now, but are you looking at adding secondary certs via the portal?

[2019-12-14 19:00] sauryadas commented on #44639
We have a mitigation and will provide notify affected customers on Monday with details how to fix it.

[2019-12-14 19:01] sauryadas commented on #44448
Correct. kubectl get nodes returns the time since when the cluster was last upgraded

[2019-12-14 19:51] v-pethur opened #44680 "Request to include info regarding the Supported Windows Operating Systems (Non-server) into ASC documentation to avoid unexpected charges when ASC installs MMA on VMs the customer thought was unsupported."
Filing on behalf of Internal Customer:
ASC installed the MMAgent on a Win 10 VM on a customer's subscription which they applied ASC Standard Tier to.  The customer did not see any mention of Win 10 being a supported platform and so did not think to opt-out this VM.

I think this confusion could be mitigated by simply including the information provided under the “Windows” sub heading here:
https://

[2019-12-14 20:29] jeanpoelie opened #44681 "When running az aks browse i get python error"
I ran az aks get-credentials beforehand

we are running 2 AKS clusters in 1 resourcegroup

Exception in thread Thread-1:
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/threading.py", line 916, in _bootstrap_inner
    self.run()
  File "/opt/az/lib/python3.6/threading.py", line 864, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/az/lib/python3.6/site-packages/az

[2019-12-14 21:35] Chai-NED opened #44682 "Does this feature needs Role binding?"
Hi - It is not clear from reading this page if RBAC role binding is required to use this feature. Could you please clarify?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73d09442-55a1-6ee5-8ac9-fd5e7ca06e87
* Version Independent ID: e7f2e287-8b0e-a75e-dc66-7dbd3c00b245
* Content: [Setup Azure Monitor for containers Li

[2019-12-14 23:33] rolyon commented on #43988
Hi @jtuliani
This property is not being used and does not have an effect.
thanks

[2019-12-14 23:33] rolyon commented on #43988
#please-close

[2019-12-14 23:33] #43988 closed

[2019-12-15 00:57] MarileeTurscak-MSFT commented on #44679
Hi @msftjayongg,

Thanks for the question. The best place to check for this is in User Voice, where you can search for similar feature requests or make your own feature request that the product team can reply to directly. If you make a request and post the URL here I will upvote and help spread the word. https://feedback.azure.com/forums/34192--general-feedback

[2019-12-15 00:57] MarileeTurscak-MSFT commented on #44679
Hope this helps! We will now proceed to close this thread but if you have further questions feel free to post in Q&A or User Voice.

[2019-12-15 00:57] #44679 closed

[2019-12-15 00:58] MarileeTurscak-MSFT commented on #44681
@jeanpoelie
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-15 01:00] MarileeTurscak-MSFT commented on #44682
@Chai-NED
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-15 01:32] Karishma-Tiwari-MSFT commented on #44393
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-15 01:32] #44393 closed

[2019-12-15 02:49] ralish commented on #43521
@MicrosoftGuyJFlo The policy configuration is definitely wrong.

I just created a test user account and configured Outlook to connect using IMAP & SMTP. It authenticates without issue using the user account password:
![CA - Not Applied](https://user-images.githubusercontent.com/3214803/70857323-4d17e100-1f40-11ea-830c-85cb84b2ebc7.jpg)

If I update the CA policy to block _Exchange Online_ instead

[2019-12-15 07:25] siddharthdashore commented on #44324
$asyncOperation = $packageManager.StagePackageAsync($path, $null,"StageInPlace")

Showing error as:
Cannot convert argument "deploymentOptions", with value: "StageInPlace", for "StagePackageAsync" to type
"Windows.Management.Deployment.DeploymentOptions": "Cannot convert value "StageInPlace" to type "Windows.Management.Deployment.DeploymentOptions".
Error: "Unable to match the identifier name Stag

[2019-12-15 07:27] siddharthdashore commented on #44324
Access denied error coming while executing "StagePackageAsync"

System.AggregateException: One or more errors occurred. ---> System.UnauthorizedAccessException: Access is denied. (Exception
                         from HRESULT: 0x80070005 (E_ACCESSDENIED))
                            --- End of inner exception stack trace ---
                         ---> (Inner Exception #0) System.UnauthorizedA

[2019-12-15 07:35] siddharthdashore opened #44686 "Access denied error coming while executing "StagePackageAsync""
Access denied error coming while executing "**StagePackageAsync**"

System.AggregateException: One or more errors occurred. ---> System.UnauthorizedAccessException: **Access is denied**. (Exception
from HRESULT: 0x80070005 (E_ACCESSDENIED))
--- End of inner exception stack trace ---
---> (Inner Exception #0) System.UnauthorizedAccessException: Access is denied. (Exception from HRESULT: **0x8007000

[2019-12-15 07:36] siddharthdashore opened #44687 "StagePackageAsync: Cannot convert argument "deploymentOptions", with value: "StageInPlace""
Cannot convert argument "deploymentOptions", with value: "StageInPlace", for "StagePackageAsync" to type
"Windows.Management.Deployment.DeploymentOptions": "Cannot convert value "StageInPlace" to type "Windows.Management.Deployment.DeploymentOptions".
Error: "Unable to match the identifier name StageInPlace to a valid enumerator name. Specify one of the following enumerator names and try again:
No

[2019-12-15 07:55] beerwatch commented on #29804
@tanmoysinha, yes, not adding a whole megabyte to the already round size file would be an improvement.

[2019-12-15 08:01] KiranMohan opened #44688 "No roles options in preview.luis.ai"
I don't see the option to select role in preview.luis.ai website.
Please provide instructions for doing the same on preview.luis.ai.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c20727e-06cc-1942-2cb6-10644788e862
* Version Independent ID: 6d558803-bece-7d1b-7ba1-af85fb92fa4d
* Content: [Tutorial: Contextual data wi

[2019-12-15 08:15] ManojReddy-MSFT commented on #44686
@siddharthdashore Can you please share the document you are following?

[2019-12-15 08:16] ManojReddy-MSFT commented on #44687
@siddharthdashore Can you please share the document you are following?

[2019-12-15 08:18] ManojReddy-MSFT commented on #44688
@KiranMohan We are looking into this and will get back to you shortly.

[2019-12-15 10:17] siddharthdashore commented on #44686
I'm referring this:

https://docs.microsoft.com/en-us/azure/virtual-desktop/app-attach

[2019-12-15 10:18] siddharthdashore commented on #44687
I'm referring this:

https://docs.microsoft.com/en-us/azure/virtual-desktop/app-attach

[2019-12-15 10:45] jurajgh commented on #44580
i know what a managed domain is, and compatibility of these features is exactly what I'm inquiring about - i have Windows Server 2019 Datacenter running in azure, and I have joined the machine in our managed domain (Azure AD Domain Services). now, AADDS provide group policy management of the machines joind in the managed domain. i'm asking whether I can enable Azure AD authentication on such machi

[2019-12-15 11:24] ranieuwe commented on #44647
@paramrsingh and @GenMaximus13 did you right click the file with save as? Make sure you get the actual JSON file and not just the entire HTML page, which causes the error you describe above. Find the raw document here: https://raw.githubusercontent.com/Azure-Samples/cognitive-services-language-understanding/master/documentation-samples/tutorials/machine-learned-entity/pizza-intents-only.json

Just

[2019-12-15 11:35] pbaumgartner commented on #44659
I execute Set-AzVMAEMExtension -ResourceGroup xxxx -VMname xxxx -OSType Linux as per https://docs.microsoft.com/en-us/powershell/module/az.compute/set-azvmaemextension?view=azps-3.1.0 and https://launchpad.support.sap.com/#/notes/2015553 and https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/deployment-guide?toc=%2Fazure%2Fvirtual-machines%2Flinux%2Ftoc.json#update-the-configura

[2019-12-15 13:54] eoq opened #44689 "broken link"
This link is broke on the page: January 2017 Azure Backup update - https://support.microsoft.com/help/3216528?preview

I am curious which locales Instant Restore is limited to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 099bc58f-75e5-61bc-8995-bee6de02dfcb
* Version Independent ID: 670af6c3-c17a-a837-6c37-48c8e0176

[2019-12-15 14:08] mlottner commented on #44133
@idbanham In trying to understand where and why your install failed, I believe you were trying to use the source code to install rather than the binaries. The binaries are found per OS under the release tab.
I'll update the page to ensure the distinction is more clear. Meanwhile, can you please confirm you are using the [correct binary from the release tab](https://github.com/Azure/Azure-IoT-Secur

[2019-12-15 14:16] dcurwin commented on #44689
#assign:dcurwin

[2019-12-15 14:18] jeanpoelie commented on #44681
When i ran this command in powershell it ran without issue.

[2019-12-15 14:30] jeanpoelie opened #44691 "difference between Kubectl autoscale and az aks autoascale."
What is the difference between kubectl autoscale and az aks autoscale?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077f1bb5-2ba9-490c-2c6e-0de292266539
* Version Independent ID: 0fd87b4f-88a4-c2eb-3ebc-f2b113ac203c
* Content: [Use the cluster autoscaler in Azure Kubernetes Service (AKS)](https://docs.microsoft.com/e

[2019-12-15 14:32] dcurwin commented on #44689
Thanks for your comment. I've updated the link in the document.

As far as your question, the document states:

"Availability: The preview for Instant Restore is now available in all Azure Backup supported Azure regions."

#please-close

[2019-12-15 14:32] #44689 closed

[2019-12-15 15:14] savbace commented on #44044
@markjbrown I understand that the emulator responds to requests with this option. But I'm little confused that data explorer can't be opened **manually** from the system tray.

[2019-12-15 16:28] KrishnaG-MSFT commented on #44689
@dcurwin Thanks for the super quick response. :+1:

[2019-12-15 16:33] KrishnaG-MSFT commented on #44550
@azr0112 At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-12-15 16:33] #44550 closed

[2019-12-15 17:05] haseebarshad207 opened #44692 "Upload image Code error in custom vision file upload via pyhton"
<img width="669" alt="Untitled" src="https://user-images.githubusercontent.com/57988371/70866080-f681c580-1f86-11ea-8aaf-cdae7f8d4961.png">

# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer

[2019-12-15 17:57] MarileeTurscak-MSFT commented on #44692
@haseebarshad207 please link the exact article that you are following and describe the exact issue you are seeing so that we can better assist.

[2019-12-15 18:00] MarileeTurscak-MSFT commented on #44691
@jeanpoelie
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-15 18:19] haseebarshad207 commented on #44692
@MarileeTurscak-MSFT I have issue uploading custom vision images with python with with open command.
<img width="681" alt="UploadError" src="https://user-images.githubusercontent.com/57988371/70866926-48c7e400-1f91-11ea-8197-eecd762564e3.png">

My Code:
with open("https://raw.githubusercontent.com/Azure-Samples/cognitive-services-python-sdk-samples/master/samples/vision/images/Japanese%20Cherry/ja

[2019-12-15 19:07] MarkAtAgilliance opened #44693 "Unclear retention restore"
Hi, in this section https://docs.microsoft.com/en-us/azure/sql-data-warehouse/backup-and-restore#restore-point-retention, #5 is unclear.

"5. If a snapshot is taken, the data warehouse is then paused for greater than 7 days, and then resumes, it is possible for restore point to persist until there are 42 total restore points (including both user-defined and automatic)"

Can you say what the word "

[2019-12-15 19:37] AmineSahal opened #44694 "PublicClientApplication changes"
getaccount and AccountsLoadedCallback don't exist in the PublicClientApplication method. I am unable to figure it out. please help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aecf9610-b6e2-75fc-a674-869d9b95702c
* Version Independent ID: 360def71-eacf-185b-4f6d-41e60e57e610
* Content: [Sign users in/out & call Micr

[2019-12-15 19:43] hazemelh commented on #44151
@babak-kobari Hello, trying to better understand what the top level entity you're looking for contains and looks like, and why you'd need to share a sub component across components.

A subcomponent is by nature a detail specific to the entity you are decomposing. So having a shared Subject removes the detail, as each Subject is a Subject within a specific context, they must be trained separately.

[2019-12-15 19:53] yanivlavi commented on #42981
Depending on the aggregation function it shows the aggregate for all point displayed.

[2019-12-15 21:58] robertlagrant opened #44695 "Manage API Management via az client?"
Is it possible to create / update / delete API Management via the az client?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63549934-727b-06e9-9905-399791899d14
* Version Independent ID: d1dd5d59-5943-092e-2d77-0c8cf911873f
* Content: [Create an Azure API Management instance using PowerShell](https://docs.microsoft.com

[2019-12-15 23:03] JleruOHeP opened #44697 "Wrong example of subnet delegations show"
There is a small error in the az cli example - when you want to query existing delegations you need to use (missing the "subnet" part):
  az network vnet subnet show \
  --resource-group myResourceGroup \
  --name mySubnet \
  --vnet-name myVnet
  --query delegations

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9203a

[2019-12-15 23:37] jdelforno commented on #42999
I don't really think there's much more I can add. User provisioning fails, allow a retry method via SelectUniqueValue.

[2019-12-16 00:21] mrbullwinkle commented on #44623
The PR to address this issue has been merged internally and will go-live tomorrow.

[2019-12-16 00:22] mrbullwinkle commented on #44623
Thanks for bringing this to our attention. I will now close out this issue.

#please-close

[2019-12-16 00:22] #44623 closed

[2019-12-16 01:20] felinepc opened #44699 "B2B guests who are already enrolled with MFA at their own provider/tenant are asked for double MFA"
While testing this feature, I found out that if the guest user is already enrolled and passed MFA with their native account (including outlook.com, gmail.com etc), they're still asked to enroll in MFA yet again at our tenant. Essentially, to log into our tenant they have to go through double MFA.

This would make it rather inconvenient for these users. Is it technically possible for Microsoft to i

[2019-12-16 01:57] blackchoey commented on #19092
@awoSYS Building arm32v7 images on amd64 machine will cause the error you met. The solution is to build arm32v7 image on an arm32v7 device. Using QEMU could also fix the error, but it hasn't been tested strictly. If you meet further errors, you could try to build the image on your raspberry pi to fix the error.

[2019-12-16 02:17] MicahMcKittrick-MSFT commented on #43590
After reviewing this for a while, I believe I know the problem. It seems that for Marketplace Images that require the user to accept the terms is where we hit the issue. For standard issues such as Windows Server or the Generic Ubuntu Image this is not needed. However for specific images that do have extra criteria the plan information is needed.

@cynthn not 100% if we want to include it in this

[2019-12-16 02:38] SwathiDhanwada-MSFT commented on #44465
We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2019-12-16 02:38] #44465 closed

[2019-12-16 02:39] SwathiDhanwada-MSFT commented on #44503
We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2019-12-16 02:39] #44503 closed

[2019-12-16 02:48] DixitArora-MSFT commented on #44695
Hi @robertlagrant Thanks for reaching out. We will review and update as appropriate.

[2019-12-16 02:56] DashleenBhandari-MSFT commented on #44699
@felinepc , Thank you for raising the issue. We will investigate the issue and update you.

[2019-12-16 02:59] DashleenBhandari-MSFT commented on #44694
@AmineSahal ,  Thank you for raising the issue. We will investigate the issue and update you.

[2019-12-16 03:01] DashleenBhandari-MSFT commented on #44693
@MarkAtAgilliance ,  Thank you for raising the issue. We will investigate the issue and update you.

[2019-12-16 03:13] SwathiDhanwada-MSFT commented on #44360
@dcbrown16 The mentioned commands are aliases of original commands and they aren't outdated yet.
Assigning @sujayt to review the document and update accordingly

[2019-12-16 03:16] KalyanChanumolu-MSFT commented on #44677
@aurokk Could you please provide some more details.
Are you getting any errors/exceptions?
Screenshots or error messages would help us check the issue.

[2019-12-16 03:18] KalyanChanumolu-MSFT commented on #44693
@MarkAtAgilliance Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-12-16 03:45] SnehaAgrawal-MSFT commented on #44354
@StingyJack Thanks for the Clarification! Notes are added to the articles. I am not aware of a publicly shareable date. Will update you accordingly. Since, we typically try to keep the Azure-Docs channel scoped to feedback directly about the docs We will now proceed to close this thread. Thanks for your understanding on this.

[2019-12-16 03:45] #44354 closed

[2019-12-16 03:46] mrbullwinkle commented on #44321
adding @cijothomas - what is the preferred method of creating logging level filter rules in a console app with the worker service SDK?

[2019-12-16 03:50] dcbrown16 opened #44702 "Document lack of static IP"
It's my understanding that storage accounts do not have any guarantee of a static IP address. However, I can't find any official documents that confirm this point.
I'm not sure if this is the right place, but this doc at least mentions Private Endpoints which are one of the workarounds. The other workarounds would be to whitelist access to the Storage Account by URL only, or to whitelist the whole

[2019-12-16 03:54] KalyanChanumolu-MSFT commented on #44538
@purnesh42H Could you please share the SDK version you are using.
I believe this was a bug some time back but has been fixed.

Please upgrade to the [latest](https://www.nuget.org/packages/Microsoft.Azure.Cosmos/) SDK version and let me know if you still face this issue

[2019-12-16 04:07] MarileeTurscak-MSFT commented on #44697
@JleruOHeP
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-16 04:08] MarileeTurscak-MSFT commented on #44702
@dcbrown16
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-16 04:09] SwathiDhanwada-MSFT commented on #44631
@chi-ltd Thanks for reaching out! To export the logs to event hub, please follow below steps

1)From the Monitor menu in the Azure portal, select Diagnostic Settings.
2) Click on "Add diagnostic setting"
3) Enter the name of diagnostic setting
4) Select checkbox " Stream to EventHub" and select the Event Hub
5) Also select the log which you want the data to be stream to EventHub.

Please note that

[2019-12-16 04:12] MarileeTurscak-MSFT commented on #44680
@v-pethur
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-16 04:13] MikeWilcoxMicrosoft opened #44703 "Should we meniton that cloud shell doesnt have a v 10 or later version of node ?"
In the doc we indicated:  'You need Node.js v10.x.x  '  Yet, we mention using Azure Cloud Shell which doesn't have v10 eg:
# node --version
v8.16.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f1d1d66-4cc5-82ec-b4e5-1c88662c85ac
* Version Independent ID: 82007f25-a1ec-832f-a431-c416a1de42a0
* Content: [Quickstart: S

[2019-12-16 04:30] RohitMungi-MSFT commented on #44545
@arvind-dhariwal We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2019-12-16 04:30] #44545 closed

[2019-12-16 04:40] paulbouwer commented on #44379
@Bhanu88 - please can you provide more details about your setup? How have you configured TLS on your ingress?

[2019-12-16 04:40] CHEEKATLAPRADEEP-MSFT commented on #44442
@hiteshtulsani  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-12-16 04:40] #44442 closed

[2019-12-16 04:41] CHEEKATLAPRADEEP-MSFT commented on #44606
@haveyoumetcp  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-12-16 04:41] #44606 closed

[2019-12-16 04:47] amanmcse commented on #44469
@adamfowlerit We didn't hear back from you. I am proceeding with closure of this thread. Feel free to tag me in your reply if you have any further questions.

[2019-12-16 04:47] #44469 closed

[2019-12-16 04:51] AshokPeddakotla-MSFT commented on #44703
@MikeWilcoxMicrosoft Thanks for bringing this to our attention. We are currently investigating and will update you shortly.

[2019-12-16 04:57] RohitMungi-MSFT commented on #44262
@theonlygusti Is the model id declared with the following details in [program.cs](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/batch/csharp/program.cs#L30)

It would be great if you can raise the issue in the SDK issues [page ](https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues)to capture details and get appropriate response from the SDK tea

[2019-12-16 05:35] liamgsmith commented on #44438
Can you please confirm if when performing an exchange, whether the refund is classed as an early termination?

[2019-12-16 05:43] liamgsmith opened #44706 "Does the refund limit of $50k apply to an Exchange"
It states above that an Exchange is processed as a refund. Does the refund limit of $50k apply?
eg I process an Exchange for $60k - will the system let me do this or what happens?

Cheers,
L

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f0af130-6b0a-0a7e-5fd9-e67810f66b45
* Version Independent ID: 445b1c77-472a-e0f7-

[2019-12-16 05:57] SubhashVasarapu-MSFT commented on #44301
@theheatDK , Appreciate your patience. This feature request is in the planned state as of now and should be started soon based on customer's requirement. You can up-vote this feature in the [feedback section](https://feedback.azure.com/forums/217313-networking/suggestions/33557275-azure-application-gateway-waf-mode-increase-limit) form for its sooner availability.

Also, there is a similar issue o

[2019-12-16 05:57] #44301 closed

[2019-12-16 06:02] AshokPeddakotla-MSFT commented on #44535
@boreys Here is the complete list of [Azure CLI commands](https://docs.microsoft.com/en-us/cli/azure/eventgrid/event-subscription?view=azure-cli-latest) to manage event subscriptions for an Event Grid topic, domain, domain topic, Azure subscription, resource group or for any other Azure resource that supports event notifications.

Do let us know if you need further help.

[2019-12-16 06:03] amanmcse commented on #44589
@Noorish Yes, you are right. App passwords are stored on the cloud and they are not part of a local active directory domain. In case, if you have enabled PTA and App Password, Azure AD will rely on your On-premise Domain Controllers for first factor authentication and the second factor authentication would take place on the cloud using App Password or Azure MFA depending on whether the application

[2019-12-16 06:03] JoeBrockhaus opened #44707 "Entity Model DI + Bindings + External Initialization"
Issue #40741 requests some better examples for external initialization. I'm not sure if those changes have been included yet.

For Bindings:
&gt; Instead, binding data must be captured in the entry-point function declaration and then passed to the `DispatchAsync&lt;T&gt;` method. Any objects passed to `DispatchAsync&lt;T&gt;` will be automatically passed into the entity class constructor as an arg

[2019-12-16 06:13] SwathiDhanwada-MSFT commented on #44376
@JasperCodes Can you please share requested details ?

[2019-12-16 06:19] msrini-MSFT commented on #44594
@aaronralls , Please tag me if you have any further questions.

[2019-12-16 06:19] #44594 closed

[2019-12-16 06:27] dennisxu2019 opened #44708 "conditional access deals with "authorized" or "authenticated" user?"
The first setence of this page reads "you can control how authorized users access your cloud apps". Is it really about "authorized users" or "authenticated users"?

From the viewpoint of AAD conditional access service, we only see an inbound request passes authentication, that has 99.999999% of likelihood of being a "authorized user" but we can never be 100% sure, from AAD service perspective is t

[2019-12-16 06:38] jakaruna-MSFT commented on #44605
@yuwzho Got it.
I will update the doc.

[2019-12-16 06:41] boreys commented on #44535
I found that documentation too, there is no command for creating an event subscription of IOT Hub Event for a Function App

[2019-12-16 06:44] AjayKumar-MSFT commented on #44381
@mtwelve, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag us (@RyanHill-MSFT) in your reply and we will gladly continue the discussion.

[2019-12-16 06:44] #44381 closed

[2019-12-16 06:45] SumanthMarigowda-MSFT commented on #44632
@kogesaka soft delete is available for Blob storage accounts as well as for blobs in general-purpose (both GPv1 and GPv2) storage accounts. Both standard and premium account types are supported. Soft delete is available for unmanaged disks, which are page blobs under the covers. Soft delete is not available for managed disks.

[2019-12-16 06:48] KalyanChanumolu-MSFT commented on #44568
@szmma I followed the steps from the tutorial to check if something had changed.
I am able to use the code sample without any issues.

Did you create the database and container manually?

[2019-12-16 06:49] ChangeTheCode opened #44709 "Error Code 400027 missing"
I have several instances of error code 400027 in my logs and no explanation of what the code means.

System.ArgumentException: {"Message":"{\"errorCode\":400027,\"trackingId\":\"1023a7f1b46f4fa2bd0ba140efe19ab2-G:44-TimeStamp:12/12/2019 17:17:41\",\"message\":\"BadRequest\",\"info\":{},\"timestampUtc\":\"2019-12-12T17:17:41.9662459Z\"}","ExceptionMessage":""}

I found the documentation page : [htt

[2019-12-16 06:59] blackchoey commented on #44591
@terrymandin The drop is located in the release pipeline, please refer following screenshot to find it:
![image](https://user-images.githubusercontent.com/16605901/70885727-a6e9db00-2014-11ea-996a-168d3918dafd.png)

[2019-12-16 07:09] kogesaka commented on #44632
@SumanthMarigowda-MSFT, Thank you for your quick response.

GPv1 (Classic Deploy Model) also supports Soft Delete from what you have received, but does it mean that it is a bug that you cannot set?

regards,

[2019-12-16 07:13] iocuydi commented on #43947
@jakaruna-MSFT Thanks for the replies. I decided to use AKS instead. This functionality works fine for AKS, but my only problem is having to delete/recreate the AKS cluster repeatedly when I get a request. Otherwise I seem to get constantly billed on it. The nodepool delete command doesn't seem to work. Opened an issue on it here:
https://github.com/Azure/AKS/issues/1356

[2019-12-16 07:28] stardusttrans commented on #26881
hi @SaurabhSharma-MSFT , any feedback on that?

[2019-12-16 07:29] SadiqhAhmed-MSFT commented on #44438
@chjone We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-16 07:29] #44438 closed

[2019-12-16 07:30] SadiqhAhmed-MSFT commented on #44438
@liamgsmith Your question will be answered [here](https://github.com/MicrosoftDocs/azure-docs/issues/44706).

[2019-12-16 07:30] kazshi opened #44711 "Missing TCP... metrics for Microsoft.Web/serverfarms"
Missing the following metrics - same as #34079

TCP Close Wait
TCP Closing
TCP Established
TCP Fin Wait 1
TCP Fin Wait 2
TCP Last Ack
TCP Syn Received
TCP Syn Sent
TCP Time Wait

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a586c4-71fd-e60b-9c4c-1a3eb2443c74
* Version Independent ID: 2f3706cc-073b-a310-8da4-2a5a90da

[2019-12-16 07:32] SadiqhAhmed-MSFT commented on #44706
@liamgsmith Thanks for the question. We are checking on this and will get back to you soon.

[2019-12-16 07:32] SadiqhAhmed-MSFT commented on #44706
@yashesvi To share your insights on the query.

[2019-12-16 07:35] Bhanu88 commented on #44379
Please find the steps below
1.i bought a wild card certificate from azure and from that certificate i extracted cert and key file .
2.Using following command i created the secret in AKS

`kubectl create -n istio-system secret tls istio-ingressgateway-certs --key /root/mbv.key --cert /root/mbv.crt `

3. configured the api gateway with following Yaml

apiVersion: networking.istio.io/v1alpha3
kind: G

[2019-12-16 07:38] Bhanu88 commented on #44379
when i did the same setup with Version 1.3.2 of istio its working fine ..i also browsed a bit on internet some other guys are also facing the same issue with version 1.4.0 .... and everyone is telling that if we downgrade to version 1.3.2 it works fine

[2019-12-16 07:39] SwathiDhanwada-MSFT commented on #44711
@kazshi Thanks for your comment.
@anirudhcavale  Can you please provide update on the issue?

[2019-12-16 07:44] Bhanu88 commented on #44379
@paulbouwer yes i configured the TSL at ingress level

[2019-12-16 08:02] szmma commented on #44568
<img width="1440" alt="Screenshot 2019-12-10 at 22 27 31" src="https://user-images.githubusercontent.com/36878461/70888913-ab48d080-1fe1-11ea-909c-f0e43fd911c4.png">

Yes just like in the tutorial. Maybe I forgot some settings? or changed a name of something?

database : "ToDoList"
container: "items"

https://github.com/szmma/orders
Now it is not the original one, but other functions
still works e

[2019-12-16 08:05] DixitArora-MSFT commented on #44626
#sign-off

[2019-12-16 08:05] #44626 closed

[2019-12-16 08:06] sumitjoshi opened #44712 "Support for private endpoints on subnets with service endpoints enabled"
This documents has note "Private endpoint(s) are not permitted in conjunction with service endpoints in the same subnet!"
Whereas as per https://azure.microsoft.com/en-us/updates/azure-private-link-is-now-available-in-all-regions/
Support for private endpoints on subnets with service endpoints has been enabled. Please update this page with latest information.

---
#### Document Details

⚠ *Do not

[2019-12-16 08:13] bibuwei commented on #39356
For #3, if an outage happens in primary server region, how to guarantee Read-write access = zero?

[2019-12-16 08:17] msrini-MSFT commented on #44674
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/99029

[2019-12-16 08:24] #44674 closed

[2019-12-16 08:31] msrini-MSFT commented on #44638
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/99031

[2019-12-16 08:34] #44676 closed

[2019-12-16 08:35] KalyanChanumolu-MSFT commented on #44568
You have hardcoded the partition key. That is causing the issue.
[code]

Replace with the below and it should work

[code]

[2019-12-16 08:39] awoSYS commented on #44387
@ChiragMishra-MSFT  thank you for your answer!
In order to make it easier understandable and best practises conform, I'd suggest to change [this example query](https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-stream-analytics-query-patterns#query-example-detect-the-duration-of-a-condition), which the examples were taken from.

[2019-12-16 08:43] KosukeHosoda opened #44713 "SSL certificate update for Listener"
As the result of the test on my lab, it's enough to update a SSL certificate for only one Listener when we set the same certificate for more than one Listeners. I think it might be hlpful if the statement is on FAQ.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88466307-81b8-1e5b-7f2c-191d8e818071
* Version Independen

[2019-12-16 08:45] szmma commented on #44568
You are awesome! It solved my problem.  Thank you very much!

[2019-12-16 08:46] #44568 closed

[2019-12-16 08:47] adzamri opened #44714 "Confusing screen shot in Manual agent provisioning"
The policy management screenshot seems out of date...haven't seen this experience in ASC

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8267e218-3748-2820-3eee-80479705eec2
* Version Independent ID: 8c6d5fce-6383-a0f8-7df3-f5e0a77bbad6
* Content: [Data Collection in Azure Security Center](https://docs.microsoft.com/en-

[2019-12-16 08:48] rmaziarka opened #44715 "Information about transaction inside the partition"
@daniellittledev asked a question about a transaction (https://github.com/MicrosoftDocs/azure-docs/issues/40366), and you responded that data is divided based on the partition key ranges. Therefore there can't be any transaction on the whole batch which has different partition keys.

But what about the same partition key inside the batch? Let's assume that I try to add 3 documents with the same pa

[2019-12-16 08:50] BhargaviAnnadevara-MSFT commented on #44499
@IGx89 Thank you for bringing this to our attention! I see the same behavior with my VS too. While I reach out to our internal Team to gather more details around this, I'd like to know the VS version you are using, just so it might help in troubleshooting further.

@ghogen Could you please share your insights?

[2019-12-16 08:56] ChiragMishra-MSFT commented on #44387
@awoSYS Sure. Thanks for your feedback.

[2019-12-16 08:58] dimilider commented on #36666
Please update the article on the part: https://docs.microsoft.com/en-us/azure/expressroute/expressroute-howto-coexist-resource-manager#add that adding an ExpressRoute Virtual Network Gateways is not possible via Portal.

[2019-12-16 09:01] #44625 closed

[2019-12-16 09:01] DixitArora-MSFT commented on #44625
@SychevIgor PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-16 09:03] DixitArora-MSFT commented on #44675
@kgremban Any inputs in this ?

[2019-12-16 09:04] aparent-talend commented on #44413
I'm clicking on this link :

![img](https://user-images.githubusercontent.com/16807902/70893439-66c23280-1feb-11ea-8eee-23979ce66d60.PNG)

[2019-12-16 09:05] Bhanu88 commented on #44379
https://discuss.istio.io/t/upstream-connect-error-or-disconnect-reset-before-headers-reset-reason-connection-termination/4434

[2019-12-16 09:07] DixitArora-MSFT commented on #44622
@Sohryu7 Just checking if you have gone through this [Create automated approval-based workflows by using Azure Logic Apps](https://docs.microsoft.com/en-us/azure/logic-apps/tutorial-process-mailing-list-subscriptions-workflow) and serve the purpose ?

@ecfan Any thoughts on this ?

[2019-12-16 09:08] hakboga1 opened #44716 "This document can create incidents!"
"Enable Password Hash Synchronization" picture in the document is for changing the Sign on Method, can create incidents if used by technicians who wants to Enable PHS and does not read the whole document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c900f942-4456-5238-9f4c-a7a5bd685c04
* Version Independent ID: a5d7d

[2019-12-16 09:13] #44638 closed

[2019-12-16 09:14] jakaruna-MSFT commented on #44662
@MicrosoftDocs/aks-pm Do we have [PodNodeSelector](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#podnodeselector) admission control plugin enabled on
 AKS master?

I saw that in a support case that this plugin is not added ( so not supported) in AKS. Please confirm

[2019-12-16 09:15] jakaruna-MSFT commented on #44659
@MSSedusch please add your comments

[2019-12-16 09:17] DixitArora-MSFT commented on #44695
@robertlagrant Just checking if you have gone through this and see if it helps.

[az apim create](https://docs.microsoft.com/en-us/cli/azure/apim?view=azure-cli-latest#az-apim-create)

[az apim update](https://docs.microsoft.com/en-us/cli/azure/apim?view=azure-cli-latest#az-apim-update)

[az apim delete](https://docs.microsoft.com/en-us/cli/azure/apim?view=azure-cli-latest#az-apim-delete)

[2019-12-16 09:23] jakaruna-MSFT commented on #44662
@amadav If that plugin is not added in the api server, AKS wont support it by default.

All these node selectors and node affinity and all, we set in yaml file and directly processed by api server. So this works by default.

Since PodNodeSelector has to interrupt the api requests of the api server, It has to added in the api server.  As per the support case, its not added. But lets wait for the re

[2019-12-16 09:26] jakaruna-MSFT commented on #44667
@Vaccano Thats a valid feedback.

We can add a note to check if `Microsoft.OperationsManagement` is registered or not.

If not, Then we can add steps to register it.

I will assign the issue to the content author to investigate further and update the document as appropriate.

[2019-12-16 09:32] onkarthg opened #44717 "dynamic inventories ansible"
Hello

I am working on dynamic inventories ansible taging using Bash.
but i got error taging base ansible using azure Cli when i plugin the module i will explain you whole senario:
1.I have 3 VM
2.I was tag all the 3VM
3.now i want to install the vm2 NGINX using ansible so i followed same document ansible>2.8 step 1 in the document

link of the document: https://docs.microsoft.com/en-us/azure/ansi

[2019-12-16 10:11] chi-ltd commented on #44631
So Export to Event Hub button has now been replaced by Diagnostic Settings.

[2019-12-16 10:32] NITROEUTX opened #44719 "Unable to create a Knowledge base using the QnA Maker, throws "No Endpoint keys found""
Unable to create a Knowledge base using the QnA Maker, throws "No Endpoint keys found"

QnA maker service is created using ARM template.

Resource Group Location: West Europe
QnA Maker App service plan: West Europe
QnA Cognitive service: West US.

Does any have an idea on this issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-12-16 10:35] AshokPeddakotla-MSFT commented on #44535
Adding Author @robinsh  for further clarifications.
@robinsh is this command available or could be a feature request?

[2019-12-16 10:35] alwils opened #44720 "Options for enabling SSL"
Another option to enable SSL would be to deploy the group in an Azure virtual network and use either Azure API Management or Azure Functions Proxies. These two options do not require manual certificate management if using the provided domain names which is a positive addition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-12-16 10:49] andy-andykingit commented on #44516
I was trying to use the same server for the job database and target. Reran with dedicated server for each and of course it worked. Thanks for your input. At least I have some knowledge now of how to track real failures

[2019-12-16 10:49] #44516 closed

[2019-12-16 10:50] VikasPullagura-MSFT commented on #44493
@mlearned Can you please look into this doc enhancement request and add your comments as applicable.

[2019-12-16 10:50] VikasPullagura-MSFT commented on #44274
@bedro96 Any update on the issue?

[2019-12-16 10:51] VikasPullagura-MSFT commented on #44493
@MicrosoftDocs/aks-pm Please add your comments.

[2019-12-16 10:54] nskhara opened #44721 "XML schema error when deploying for "Availability Test""
I've tried to deploy an availability test using the template from below though I guess there is a bug in the WebTest XML schema parameter.

[Template for an availability test along with a metric alert](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-metric-create-templates#template-for-an-availability-test-along-with-a-metric-alert)

I get the following error when deploying, t

[2019-12-16 10:57] Zingonead opened #44722 "Mismatch information regarding Automated Patching"
Hi,

There is a mismatch information within the documentation regarding the Automated Patching for Azure SQL VM.

From <https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-sql-automated-patching> within the IMPORTANT section at the beginning it is stated that :  "Only Windows updates marked Important are installed. Other SQL Server updates, such as Cumulati

[2019-12-16 11:13] asergaz commented on #44619
Thank you for reporting this UI bug @xinyiz1226 . @liydu can you drive this bug to IoT Central team to fix the UI? Thanks

[2019-12-16 11:18] shashishailaj commented on #44184
@msozgen Coudl you please provide the IP addresses that you are getting on your side. We tried this and found that it confirms with the details provided in the article ? Ifyou have obtained any other IP  please let us know and we will have this investigated

[2019-12-16 11:30] asergaz commented on #44294
@deeksha-v , some options:

1. Try connecting to a different network
2. Recreate the application (it will recreate the DPS which may help)

Thanks!

[2019-12-16 11:41] KrishnaG-MSFT commented on #44336
@aleksmark Thanks for the feedback! I have tried to reproduce your issue of file getting grayed out while trying to import python 2 packages (distributed archive packages in .whl or .tar.gz format) that are generated from either custom python projects or from [here](https://pypi.org/search/?q=azure-mgmt) and couldn't see any such grayed out issue but in some scenarios could observe issue like unab

[2019-12-16 11:51] worgerm opened #44723 "Getting a 404 - Endpoint isn't right?"
I'm getting a 404, I assume that means that my endpoint isn't correct?

The [cognitive services trial](https://azure.microsoft.com/en-us/try/cognitive-services/my-apis/?api=computer-vision) says that I should use the endpoint 'https://westcentralus.api.cognitive.microsoft.com/vision', and I've also tried 'https://westcentralus.api.cognitive.microsoft.com/vision/v2.1/ocr' after reading [this](https

[2019-12-16 11:52] jakaruna-MSFT commented on #44681
@jeanpoelie whats the version of the azure cli which you used?

Can you try with the latest version?  Azure cloud shell will be better

[2019-12-16 11:54] jakaruna-MSFT commented on #44686
@ChristianMontoya Please add your comments

[2019-12-16 11:55] jakaruna-MSFT commented on #44686
#44687 related issue by same user

[2019-12-16 11:55] DashleenBhandari-MSFT commented on #44721
@nskhara , Thanks for raising the issue. We will investigate and update you.

[2019-12-16 11:55] MonikaReddy-MSFT commented on #44124
@br0cky , I'm going to assign this to the document author so they can address the issue accordingly.

[2019-12-16 11:57] DashleenBhandari-MSFT commented on #44720
@alwils , Thanks for raising the issue. We will investigate and update you.

[2019-12-16 11:58] DashleenBhandari-MSFT commented on #44708
@dennisxu2019 , Thanks for raising the issue. We will investigate and update you.

[2019-12-16 12:02] DashleenBhandari-MSFT commented on #44709
@ChangeTheCode , Thanks for raising the issue. We will investigate and update you.

[2019-12-16 12:03] DashleenBhandari-MSFT commented on #44712
@sumitjoshi , Thanks for raising the issue. We will investigate and update you.

[2019-12-16 12:04] DashleenBhandari-MSFT commented on #44713
@KosukeHosoda , Thanks for raising the issue. We will investigate and update you.

[2019-12-16 12:04] gabrielnespoli opened #44725 "Outdated information"
Hi team, there is an outdated information under

https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-create-your-first-pipeline#publish-a-pipeline

in code

compareStep = PythonScriptStep(
  script_name="compare.py",
  arguments=["--comp_data1", comp_data1, "--comp_data2", comp_data2, "--output_data", out_data3, "--param1", pipeline_param],
  inputs=[ comp_data1, comp_data2],

[2019-12-16 12:05] DashleenBhandari-MSFT commented on #44714
@adzamri , Thanks for raising the issue. We will investigate and update you.

[2019-12-16 12:06] DashleenBhandari-MSFT commented on #44715
@rmaziarka

[2019-12-16 12:07] DashleenBhandari-MSFT commented on #44716
@hakboga1 , Thanks for raising the issue. We will investigate and update you.

[2019-12-16 12:08] oleksandr-bilyk opened #44726 "Service Fabric"
Is Stateful entities real to use on Service Fabric? Out service must be implemented in two options for Azure Functions and on-premise hardware.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87e12177-bb3a-d00c-99a5-422e00f9b03f
* Version Independent ID: 2fa1cf0d-2a5f-2fb0-ef25-bccfac3279fd
* Content: [Durable entities

[2019-12-16 12:09] DashleenBhandari-MSFT commented on #44717
@onkarthg , Thanks for raising the issue. We will investigate and update you.

[2019-12-16 12:10] DashleenBhandari-MSFT commented on #44726
@oleksandr-bilyk , Thanks for raising the issue. We will investigate and update you.

[2019-12-16 12:12] DashleenBhandari-MSFT commented on #44725
@gabrielnespoli , Thanks for raising the issue. We will investigate and update you.

[2019-12-16 12:12] DashleenBhandari-MSFT commented on #44723
@worgerm , Thanks for raising the issue. We will investigate and update you.

[2019-12-16 12:13] jakaruna-MSFT commented on #44691
@jeanpoelie `Kubectl` acts on the pods. `az aks scale` acts on nodes.  i hope you are mentioning `az aks scale`  only instead of `az aks autoscale`

Example for `kubectl`:
For example we can automatically increase the number of pods in a deployment based on certain condition.  That condition is called as the autoscaling policy.

Lets take a lokk at the below command
`kubectl autoscale rc foo --max

[2019-12-16 12:14] prontohostau commented on #44671
@ManojReddy
Please update the article, Thanks

[2019-12-16 12:16] jakaruna-MSFT commented on #44720
@alwils Thats a nice feedback.
 I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-16 12:18] mtwelve commented on #44381
Hello,

Apologies for the delay. Yes this answers the question perfectly. Thank you.

Regards
Sam

[2019-12-16 12:20] haveyoumetcp commented on #44606
It's been 3 days and you closed this?  Some people don't work on weekends...

[2019-12-16 12:21] shashishailaj commented on #44671
@prontohostau We are reviewing this internally and update this thread once done.

[2019-12-16 12:21] AjayKumar-MSFT commented on #44432
Apologies for the delay! Thanks for the additional details.

You could leverage the following cmdlets as mentioned in this [thread ](https://stackoverflow.com/questions/58076239/new-azwebapp-select-stack-settings-to-net-core)-
New-AzWebApp -ResourceGroupName <ResourceGroupName> -Name <web-app-name> -AppServicePlan <app-service-plan-name>
$PropertiesObject = @{
    "CURRENT_STACK" =  "dotnetcore"
}

[2019-12-16 12:21] #44432 closed

[2019-12-16 12:23] jakaruna-MSFT commented on #44678
@dzoech
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-16 12:24] nskhara commented on #44721
I've found out the reason. If you have '&' in the pingUrl, it will be error in XML.
You have to escape it '&amp;'.

Maybe it would be nice if there was some warning written in the document.

[2019-12-16 12:25] dominicbetts commented on #43116
#please-close

[2019-12-16 12:25] #43116 closed

[2019-12-16 12:26] oleksandr-bilyk opened #44727 "Peview"
Is it steal in preview?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a304f1aa-ac44-7831-2f2c-f827238fc50e
* Version Independent ID: 6610a9cc-2a03-5305-3378-392c4a1227ac
* Content: [Azure Functions Runtime Installation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-runtime-install)
* Content Source:

[2019-12-16 12:26] onkarthg commented on #44717
@DashleenBhandari-MSFT  Thank you for update. please let me know if you required some more information.

[2019-12-16 12:29] shashishailaj commented on #44380
@billmath Could you please review this request and have the article updated after review?

[2019-12-16 13:03] rrottmann opened #44730 "Security improvements"
As the mount script listed on this page is also shown in the Azure Portal (when clicking on `connect-&gt;Linux` on a Storage Account File Share), you should show a more secure way to handle the credentials.

1. `unset HISTFILE` should be added on the top of the script so that the later echoed credentials will not be saved in the shell history. Some users may just paste the code into a console wind

[2019-12-16 13:17] DixitArora-MSFT commented on #44727
Hi @oleksandr-bilyk Thanks for reaching out. We will review and update as appropriate.

[2019-12-16 13:40] diberry commented on #44688
@KiranMohan - thank you for asking this question - labeling roles changed in the preview portal. Make sure the entity with roles is already created. On the Intent details page, select the entity palette, available from the contectual toolbar. In the entity palette, select the entity then select the entity inspector (lower in that pane), then select the specific role you want to label text with. Se

[2019-12-16 13:44] valentijnscholten opened #44731 "Document excluded users functionality"
It is possible to exclude users from this baseline policy, for example when you want to have a "fallback" or "Disaster recovery account" to use in adverse situations. This account can have a very strong password, stored in  vault.

Request:
- Document this functionality on this page

Currently the exclusion works, you can select an account. But after saving you can no longer see which accounts are

[2019-12-16 13:56] paramrsingh commented on #44647
Still fails with same error. File attached (zipped for GitHub)
[pizza-intents-only.zip](https://github.com/MicrosoftDocs/azure-docs/files/3968350/pizza-intents-only.zip)

[2019-12-16 14:07] #44373 closed

[2019-12-16 14:10] NavtejSaini-MSFT commented on #44490
Thanks @codemillmatt for making the changes. If you confirm we can close this thread.

[2019-12-16 14:11] diberry commented on #44647
@paramrsingh - the file isn't a JSON file - even though it has the .json extension. Your process to save the JSON from GitHub to your local file system isn't working. Please try this one
[pizza-intents-only-github.zip](https://github.com/MicrosoftDocs/azure-docs/files/3968399/pizza-intents-only-github.zip)

[2019-12-16 14:13] NavtejSaini-MSFT commented on #44487
@sivethe Please confirm if the link can be added in the PR.

[2019-12-16 14:16] ajakupov opened #44733 "Azure Custom Translate API :"
There is a[ dedicated [API](https://custom-api.cognitive.microsofttranslator.com/swagger/#/) (currently in preview) that allows users to manage creating or updating training on a regular basis through their own app or webservice.
In most of the requests it is necessary to provide an "authorization" parameter, that is your Access token. How is it possible to get this Access token?
Another question

[2019-12-16 14:18] DCtheGeek commented on #44439
@anwather Thanks for bringing this up. I've added language to clarify that the module works in Azure PowerShell and Cloud Shell, but that the DSC compliations currently must be in Windows PS 5.1. I've also changed the DSC specific code fences to be just 'powershell' and not Cloud Shell. When the change finishes and merges, this issue will automatically close.  Thanks again!

@MicrosoftDocs/azure-c

[2019-12-16 14:26] divargas-msft opened #44734 "Reinstall ADE extension as last step of the restore process"
Current:
"For Linux VMs, reset the ADE extension so the data disks are open and mounted."

Please change the word reset to reinstall to avoid confusions, customers are confused with the use of the word reset:

"For Linux VMs, reinstall the ADE extension so the data disks are open and mounted."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-12-16 14:28] paramrsingh commented on #44647
That file worked @diberry . That's weird, when you right-click and save as on the link it's pulling the whole page. Does the link to the file on the docs page need to be updated to the raw file instead? https://raw.githubusercontent.com/Azure-Samples/cognitive-services-language-understanding/master/documentation-samples/tutorials/machine-learned-entity/pizza-intents-only.json

[2019-12-16 14:30] aleksmark commented on #44336
@KrishnaG-MSFT It seems that the issue only exists on macOS. I am on macOS (10.14.6) and I tried from Chrome/Firefox/Safari. Same issue on all browsers. Check this video for details. https://drive.google.com/file/d/1GJB6BuL0whKyisI2LJN9GiCWgmgGe7xW/view

My coworker tested from windows and she is able to select to file and start the upload. However, the upload fails with error

![image](https://us

[2019-12-16 14:36] MSSedusch commented on #44659
@pbaumgartner the extension is currently not supported for SLES 15. We are working on a new version. We will update the guide once it is available.

[2019-12-16 14:37] pbaumgartner commented on #44659
Very bad, as this is a prerequisite for having a supported SAP System in Azure, where SLES15 is already certified. Waiting for your news, is there a time expected?

[2019-12-16 14:42] dcurwin commented on #44734
#assign:dcurwin

[2019-12-16 14:42] diberry commented on #44647
@paramrsingh Yes - that change is in process - just not out yet. Thank you for working through this.

[2019-12-16 14:45] DCtheGeek commented on #44497
@AndreasFrangopoulos The change is building and once the fix merges, this issue will close automatically. Thanks again for pointing this out!

[2019-12-16 14:47] KrishnaG-MSFT commented on #44336
@aleksmark  Thanks for additional information. Yes, in my previous comment I have mentioned regarding same error which pops up in one scenario i.e., when tried importing using most of .tar.gz packages from [here](https://pypi.org/search/?q=azure-mgmt). I have tested this in edge, firefox, chrome.

But importing of .tar.gz packages doesn't have any issue which got generated from simple custom proje

[2019-12-16 14:47] dcurwin commented on #44734
Thanks for the correction. The document has been updated, and should be published soon.

#please-close

[2019-12-16 14:47] #44734 closed

[2019-12-16 14:48] jeanpoelie commented on #44691
Thank you for your response Jakaruna! I misread the command thought it said autoscale and was wondering if there was a reason for having 2 auto scalers.

To extend on this, is there an auto scaler for nodes? we are using kubectl autoscale for our pods so that when the cpu reaches above a certain treshold (currently 60) we scale an extra pod.

eventually there is no more space for pods in our nodes

[2019-12-16 14:50] jeanpoelie commented on #44681
I am trying to avoid to use azure cloud cli, my preference is bash cli.

when i used powershell it worked perfectly but with ubuntu bash i am running into the above issue.

for bash I am currently running 4.4.20(1)-release

[2019-12-16 14:51] #44497 closed

[2019-12-16 14:51] BhargaviAnnadevara-MSFT commented on #44630
@mikaelsand Thanks for reaching out. To answer your question, you're right in that one has to create a Service Connection to be able to connect to one's Microsoft Azure Subscription from the DevOps build/release Pipeline. However, you have the option of creating a Service Connection from the Azure DevOps portal and re-use it across the different pipelines you build, easing maintenance.

[This](htt

[2019-12-16 14:52] aleksmark commented on #44336
@KrishnaG-MSFT Ok, I see, I did not realize we are talking about the same import error.

So we have two separate issues here?

1. Not able to select the tar.gz file for upload on macOS
2. Import fails for some python packages (not OS related)

[2019-12-16 14:54] jeanpoelie opened #44735 "When using az aks create --enable-addons monitor why is 1.10.1 deployed?"
When using the following command:
`az aks create --resource-group myResourceGroup --name myAKSCluster --node-count 1 --enable-addons monitoring --generate-ssh-keys`

Why is the un-supported old dashboard deployed?
As they mention in almost every ticket at the moment, they do not support 1.10.1 anymore (even though its their latest stable release)
https://github.com/kubernetes/dashboard/issues/4668

[2019-12-16 14:54] CoderKooke opened #44736 "Getting a 400 Bad Request on Deployment"
400 Client Error: Bad Request for url: https://management.azure.com/subscriptions/[mysubscriptionremoved]/resourcegroups/armTesting/providers/Microsoft.Resources/deployments/addlocationparameter?api-version=2018-05-01

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2904c929-5324-2e86-4f34-535f7557834a
* Version Independ

[2019-12-16 14:58] divargas-msft opened #44737 "ADE extension reinstallation as step 3"
Sorry, there's one more thing, the ADE reinstallation should be set to step 3 and not within step 2,given step 2 has 2 bullets with one of 2 possible options ( a)recreate the restored VM using a template or b) recreate the restored VM using powershell script)

Proposed:

"You restore encrypted VMs as follows:

1 - Restore the VM disk.
2 - Recreate the virtual machine instance by doing one of the f

[2019-12-16 14:59] DashleenBhandari-MSFT commented on #44707
@JoeBrockhaus , Thanks for raising the issue. We will investigate and update you.

[2019-12-16 15:01] crow-ua opened #44738 "DMA SQL Server 2019 support"
When I'm trying to assess on-premise SQLS2019, DMA throws an error:

[code]

There report is generated just fine, but it is not uploaded to Azure even though `Upload to Azure Migrate` succeeds and I can see `Refresh the migrate project summary` event in respective Azure Migrate project in Portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2019-12-16 15:05] KrishnaG-MSFT commented on #44734
@dcurwin Thanks for super quick response. 👍

[2019-12-16 15:13] IGx89 commented on #44499
Sure! Visual Studio 2019 latest stable, 16.4.1

[2019-12-16 15:29] lechnerc77 opened #44739 "Errors in JavaScript sections for Durable Entities"
II think the description and the code for signaling an entity in the JavaScript section for a simple function is wrong https://docs.microsoft.com/en-US/azure/azure-functions/durable/durable-functions-entities#example-client-signals-an-entity

- For a simple function I would expect an inbound binding to act as DurableClient and not an outbound binding. This would be consistent with an Orchestartion

[2019-12-16 15:36] jtuliani commented on #43988
Thanks @rolyon for clarifying.
Have the docs been updated so others don't share this confusion in future? My understanding is these comments are a docs-improvement process, not a Q+A forum.  Thanks!

[2019-12-16 15:44] dcurwin commented on #44737
#assign:dcurwin

[2019-12-16 15:47] tfitzmac commented on #44736
@CoderKooke - I just retested the steps and did not receive an error. Were you using PowerShell or Azure CLI to deploy the template?

[2019-12-16 15:48] tfitzmac commented on #44440
#please-close

[2019-12-16 15:48] #44440 closed

[2019-12-16 15:51] dcurwin commented on #44737
Thanks for the additional suggestion. The changes were made and will be published soon.

#please-close

[2019-12-16 15:51] #44737 closed

[2019-12-16 15:56] NavtejSaini-MSFT commented on #44592
@rangler2 We are assigning this to our author for more insights.
@jaszymas Please check the use question and help regarding the same.

[2019-12-16 15:58] mmacy commented on #44386
@andyjballgit Hi Andy, can you confirm whether my previous comment sufficiently answers your question?

[2019-12-16 15:59] NavtejSaini-MSFT commented on #44588
@phduf We are checking this with the doc author.
@orspod Please check the user feedback and add the details regarding the use of reserved keywords.

[2019-12-16 16:02] NavtejSaini-MSFT commented on #44582
@vjc216 We are checking with doc author for further insight.
@jaredmoo Please check the user feedback and help with the query.

[2019-12-16 16:15] rocketraman opened #44740 "What permission is required to have write access to this page?"
What permission is required to have write access to this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72f2e675-436d-dcd4-fa27-49408b201158
* Version Independent ID: 4d821732-fc10-f4a6-3c7d-77bce75299d7
* Content: [Add branding to your organization's sign-in page - Azure Active Directory](https://docs.microsoft.

[2019-12-16 16:16] haseebarshad207 commented on #44692
Please assist

[2019-12-16 16:19] orspod commented on #44588
@kerend will you review the user feedback?

[2019-12-16 16:30] #44038 closed

[2019-12-16 16:30] lesterw1 opened #44742 ""View Audit Logs" in Current Status appears to require Global Admin rights?"
Is there any way to provision access to the "View Audit Logs" found on the "Provisioning" area of the respective Enterprise app (e.g., ZScaler in my case)?  How is the access to the logs enabled?  In our case, the person wishing to access the logs is an Owner of the Enterprise app, yet still cannot access them.  How do provision such access should be included in the documentation here. Thanks.

--

[2019-12-16 16:38] ecfan commented on #44622
@DixitArora-MSFT, thanks for reaching out! Sounds like a question for the engineering team on how you'd check for the user action in this scenario.

[2019-12-16 16:41] SubhashVasarapu-MSFT commented on #44352
@dcbrown16 , Appreciate your patience. Strongswan for CentOS is a bit different while installing Strongswan and setting up the IPSEC configuration. I have reproduced your scenario and here are the commands for CentOS,
**Install Strongswan on CentOS:**
[code]
**Use the following command to install the Azure command-line interface:**
[code]
Generate and export certificates,
[code]
**Print the CA cer

[2019-12-16 16:41] #44352 closed

[2019-12-16 16:44] markjbrown commented on #44236
Hi @hrasheed-msft any update on this?

Thanks again!

[2019-12-16 16:55] ChristianMontoya commented on #44686
@stgeorgi should have some more information.

[2019-12-16 16:55] mike-urnun-msft commented on #44739
@lechnerc77 Thank you for your feedback! We will review and update as appropriate.

[2019-12-16 16:57] niico100 opened #44743 "Syntax Highlighting"
Syntax colour highlighting not working in Brave for me in code samples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fe12c8b-5f7b-be6f-9db0-1009a27ceef8
* Version Independent ID: 5bb28d30-3240-7354-9f58-e9e51da7f3ae
* Content: [Registration Management](https://docs.microsoft.com/en-us/azure/notification-hubs/notific

[2019-12-16 17:09] MashaMSFT commented on #41065
@richardspitz , thank you so much for reaching out and helping improve our documentation! You are correct, the IP should be added to the cluster resource as well. I have created an internal work item to track this work ([1657328](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1657328)). I'm going to close out this Git Issue for the time being but please comment should you need any

[2019-12-16 17:09] #41065 closed

[2019-12-16 17:22] MarileeTurscak-MSFT commented on #44479
@pkoelemij please reach out at the alias provided so that we can further troubleshoot

[2019-12-16 17:23] jtourlamain commented on #11781
When using PKCE I always get the reply "Clients must send a client_secret when redeeming a confidential grant". But isn't the point of using PKCE that some client apps can't keep a secret a secret? When registering an Azure B2C app as cebapp or natvie client, I always get the same error? What am I doing wrong?

[2019-12-16 17:29] jurajgh commented on #44580
have I reopened the issue by replying in github, please?

On Fri, 13 Dec 2019 at 02:12, Frank Hu <notifications@github.com> wrote:

--
J.

[2019-12-16 17:29] hrasheed-msft commented on #44236
Hello @markjbrown. Thanks for checking it. The images have been updated in the linked PR.

[2019-12-16 17:31] msaravindh commented on #17302
What is the solution to this issue @Mike-Ubezzi-MSFT . Is there a Sample ARM template somewhere which shows how to code in Region, type of Service?

[2019-12-16 17:31] hrasheed-msft commented on #44435
Reminder sent to author.

[2019-12-16 17:33] MarileeTurscak-MSFT commented on #44719
@NITROEUTX please include the link to the article that you are following so that we can better assist.

[2019-12-16 17:33] SlavaRoikhman opened #44744 "SLA after VMs move to Availability Zones"
The is a mistype in last paragraph: The SLA will be 99.99% after move of VMs to Availability Zones.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bf7273d-95c9-2e5e-09e6-4425af91e71d
* Version Independent ID: 74c468f5-1c56-5fa5-b6c6-d922fbed9aa1
* Content: [Moving Azure VMs to another region with Azure Site Recovery -

[2019-12-16 17:33] MarileeTurscak-MSFT commented on #44722
@Zingonead
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-16 17:35] niico100 opened #44745 "Incomplete code samples"
The code samples here don't say what NuGet packages you need or include using statements. A complete example project would also be a good addition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fe12c8b-5f7b-be6f-9db0-1009a27ceef8
* Version Independent ID: 5bb28d30-3240-7354-9f58-e9e51da7f3ae
* Content: [Registration

[2019-12-16 17:36] hrasheed-msft commented on #44244
@lab44Hub We're going to go ahead and close this issue for now, but please let us know if you have any additional questions. Thanks

[2019-12-16 17:36] hrasheed-msft commented on #44244
#please-close

[2019-12-16 17:36] #44244 closed

[2019-12-16 17:36] GenMaximus13 commented on #44744
That's awesome! is that a new improvement?

[2019-12-16 17:44] SlavaRoikhman commented on #44744
Availabilty zones give you 99.99% SLA. When you move your VMs from AS to AZ I understand it should give you 99.99% and not 99.9% as written in the document.

[2019-12-16 17:48] andyjballgit commented on #44386
Yes thx, it would be good to update the article with the permissions required
________________________________
From: Marsh Macy <notifications@github.com>
Sent: Monday, December 16, 2019 3:58:12 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Andy Ball <andyjball@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] What Permissions are requ

[2019-12-16 17:51] philipstreet-hiscox opened #44746 "Instructions are a bit ambiguous"
I'm trying to follow the instructions on this page via the Portal but am not having much luck. On the "Add multi-site listener" blade I select the Key Vault but it shows a "The key vault must have GET permissions on the secret" error; I have created a policy to grant Get certificate permissions for the user-assigned Managed Identity. Am I doing something wrong? Does the App Gateway need a role ass

[2019-12-16 17:52] cijothomas commented on #44321
[code]
The above line can be added right after `services.AddApplicationInsightsTelemetryWorkerService()`. @mrbullwinkle Can you add this to doc as well?

[2019-12-16 17:53] MarileeTurscak-MSFT commented on #44731
@valentijnscholten
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-16 17:54] mdi-db opened #44747 "Warning re single instance VMs confusing"
The article contains a warning regarding the use of single instance virtual machines and availability sets that begins "Avoid leaving a single instance virtual machine in an availability set by itself...."

This warning is a bit confusing as it seems to suggest that putting a single instance VM into an availability set is somehow worse than having a single instance VM in no availability set at all

[2019-12-16 17:55] cijothomas commented on #44321
@jn-altius Please give us specifics rather than just saying "documentation is confusing and make it clearer" - its not actionable.

If you meant the lack of Console App example for controlling logging level - the above comment has suggestion. Let us know if there are additional feedback.

The official Ilogger doc itself lacks anything console app specific,- all examples are asp.net core ones- http

[2019-12-16 17:59] cijothomas commented on #44321
@kobulloc-MSFT As mentioned in the doc (/app/console,), itself, the recommendation is to use this doc: https://docs.microsoft.com/en-us/azure/azure-monitor/app/worker-service
The console app doc is a good start, but it does not show setting up application insights for full monitoring capabilities. The console app doc will be deprecated/merged in favor of worker service doc in the future.

[2019-12-16 18:01] PramodValavala-MSFT commented on #44527
@pratikrane101 I believe those details are required the first time to setup the Visual Studio Extension which loads the Logic App Designer. When deploying your project, you can select both the subscription and resource group as required.

![image](https://user-images.githubusercontent.com/43602528/70930828-1c2cce80-205c-11ea-92c9-a21b6d5e0b36.png)

[2019-12-16 18:08] BryanAdvisicon opened #44748 "Personal Pool"
When provisioning WVD as a personal desktop, should the machine size be chosen based on VM size per user (2 core with 8 GB per RAM, per user), or as aggregate like a session  host pool?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2eeca14-80ef-c0b4-2719-80ceb286ba3d
* Version Independent ID: b7d3df23-3158-2807-eecc-

[2019-12-16 18:09] roygara commented on #44417
@adrianwells thanks for bringing this to our attention. I've circled back with the product team to confirm a few details and we'll get this updated once I hear back. :)

[2019-12-16 18:11] cgillum commented on #44739
@lechnerc77 Yep, thanks for pointing out the typo in the code sample. As far as the binding direction, it's a little ambiguous about whether the client binding is input or output (it can actually be used both ways). You are right to point out that the docs are inconsistent between orchestration client and entity client, however. I've opened a docs PR to fix this per your suggestion.

[2019-12-16 18:12] guardrex opened #44749 "Azure CLI command syntax changes?"
We had a reader write in on the [Azure Key Vault Configuration Provider in ASP.NET Core](https://docs.microsoft.com/aspnet/core/security/key-vault-configuration) topic in the ASP.NET Core doc set ([aspnet/AspNetCore.Docs #16117](https://github.com/aspnet/AspNetCore.Docs/issues/16117)) alerting us to a possible change in Azure CLI syntax where some of the command option values are no longer in quot

[2019-12-16 18:13] YutongTie-MSFT commented on #44647
@diberry  @paramrsingh  Thanks Dina. Are we good to close this issue?

[2019-12-16 18:14] Grace-MacJones-MSFT commented on #43994
Hi @Shobhit29, can you please share with us what documentation you're following?

[2019-12-16 18:16] MarileeTurscak-MSFT commented on #44740
@rocketraman
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-16 18:17] diberry commented on #44647
#please-close

[2019-12-16 18:17] #44647 closed

[2019-12-16 18:20] rocketraman commented on #44740
NOTE: I tried "Security Administrator" role, and that did not work to provide a user with write access to the Branding page. I was hoping to just see a role like "Branding Writer" or something like that...

[2019-12-16 18:22] ajohar commented on #43726
@SushrutDeo - can you share the Forum link ?

[2019-12-16 18:23] Grace-MacJones-MSFT commented on #44745
Hi @niico100, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-12-16 18:26] jn-altius commented on #44321
Hi @cijothomas   In my original post I detailed what was confusing.  The documentation I started from talked about Console applications, then when it talks about filters the link quoted is to a different tech (asp.net core), that talks about WebHost - which is nothing to do with a Console app.

But thank you, your answer above with the loggingBuilder lambda does bridge the gap between the two.

[2019-12-16 18:28] cijothomas commented on #44321
@jn-altius Thanks for confirming. We can address this confusion right away with this snippet. @mrbullwinkle Can you update the doc to include this info?

[2019-12-16 18:29] mrbullwinkle commented on #44321
I will get this added today. Thanks @jn-altius for the question, and @cijothomas for the answer!

[2019-12-16 18:31] ChJenk commented on #44329
Thank you, @femsulu
I asked the PM about this question and his response was: "The current Partner Center payout mechanism requires you to associate a personal Microsoft account in order to have a payout associated with it.” I hope this helps.

[2019-12-16 18:33] MarileeTurscak-MSFT commented on #44749
@guardrex thanks for letting us know! So you've already made pull requests to fix the discrepancies?

[2019-12-16 18:35] guardrex commented on #44749
Just on our side ... on the ASP.NET Core side on https://github.com/aspnet/AspNetCore.Docs/pull/16222.

[2019-12-16 18:38] alathrop opened #44750 "Python SDK documentation"
Is Python SDK reference documentation available for Personalizer? I'm looking for something similar to what's available for .NET here ( https://docs.microsoft.com/en-us/dotnet/api/overview/azure/cognitiveservices/client/personalizer?view=azure-dotnet )- except for Python that documents the namespace. I understand there is a sample Python script that shows a demo, but I'm looking for the SDK docs.

[2019-12-16 18:40] MarileeTurscak-MSFT commented on #44742
@lesterw1
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-16 18:41] MarileeTurscak-MSFT commented on #44742
To access the audit logs, you need to be a Security Administrator, Security Reader, Report Reader or Global Administrator. This is documented here: https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/concept-audit-logs#who-can-access-the-data

I'm closing this out but if you have further questions feel free to follow up in Q&A: https://docs.microsoft.com/answers/questions/in

[2019-12-16 18:41] #44742 closed

[2019-12-16 18:49] diberry commented on #44750
@alathrop Yes, the [ref docs](https://docs.microsoft.com/en-us/python/api/overview/azure/cognitiveservices/personalizer?view=azure-python) were recently released. I'll get those added to the TOC. #in-progress

[2019-12-16 18:58] mamccrea commented on #44385
I have opened a ticket to address this issue.

[2019-12-16 19:02] zhusulai opened #44751 "Any plans to support UDP traffic?"
Are there any plans to support UDP traffic in the future? It would help with certian usecases such as DNS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb4b8145-27ae-8817-6d85-969aa85e601d
* Version Independent ID: 00f897cd-5c20-cb3b-9c17-5f75eddd1715
* Content: [What is Azure Private Link service?](https://docs.micr

[2019-12-16 19:06] siddharthdashore commented on #44686
Okhay let me share some detailed information.

Basically I'm trying to **Set up MSIX app attach**. And till date signed msix (signed using digicert key) and vhd packages are ready. I'm facing this issue at **stage state**.

1. Regarding #44687, Can you please check the Microsoft code base and update me that in which release the enum value for Windows.Management.Deployment.**DeploymentOption** the

[2019-12-16 19:11] JoeBrockhaus commented on #44707
Sorry for that hideous formatting .. _(fixing...)_

[2019-12-16 19:14] Mike-Ubezzi-MSFT commented on #44738
@crow-ua This is a product issue, and not necessarily a doc issue but I am looking into this behavior. Thank you for bringing this to our attention.

[2019-12-16 19:18] Adam-Smith-MSFT commented on #44730
@rrottmann Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-16 19:18] MicrosoftGuyJFlo commented on #44731
This is not possible. Customization is not possible with baselines or security defaults. If you want to customize policies you must use Conditional Access.

https://docs.microsoft.com/azure/active-directory/fundamentals/whats-new#replacement-of-baseline-policies-with-security-defaults

https://docs.microsoft.com/azure/active-directory/fundamentals/concept-fundamentals-mfa-get-started

[2019-12-16 19:19] MicrosoftGuyJFlo commented on #44470
Followed up offline.

[2019-12-16 19:20] MicrosoftGuyJFlo commented on #44470
#please-close

[2019-12-16 19:20] #44470 closed

[2019-12-16 19:27] cherylmc commented on #44517
Hi @CHDAFNI-MSFT - the link to the information is in the article, but I can make it more apparent. https://docs.microsoft.com/azure/expressroute/expressroute-about-virtual-network-gateways#aggthroughput

[2019-12-16 19:27] srchi commented on #44487
@NavtejSaini-MSFT Yes please go ahead and add the link.

[2019-12-16 19:27] cherylmc commented on #44517
#please-close

[2019-12-16 19:27] #44517 closed

[2019-12-16 19:27] cgiltner-pk commented on #31468
I was having the same issue, where my recurrence was at 0 hours but it wasn't starting until 12:57 (0:57) am every day. I tested and what happens is that whenever I would run the recurrence manually, it would somehow store the minutes of when it ran. When I would run it manually at 9:28am, it would run at 0:28am on recurrence. When I would run at 1:57pm, it would recur at 0:57am.

Very weird behav

[2019-12-16 19:29] Mike-Ubezzi-MSFT commented on #17302
@msaravindh Without the customer (@kundan123456) specifying exactly what was implemented to resolve the issue, I believe the solution is with this section of the template with regard to `"location":"Global"`, `"equals": "ServiceHealth"`, and `"equals": "Incident"`:

The values used for `location` and for `"equals": "Incident"` (which is equal to Event Type) would need to be modified for the specif

[2019-12-16 19:30] timsander1 commented on #43756
#please-close

[2019-12-16 19:30] #43756 closed

[2019-12-16 19:33] roygara commented on #44417
We've implemented the changes, they should be live later today.

Again, thanks for bringing this to our attention, we appreciate it! :)

#please-close

[2019-12-16 19:33] #44417 closed

[2019-12-16 19:54] ciphertxt commented on #43366
PR submitted https://github.com/MicrosoftDocs/azure-docs/pull/44755

[2019-12-16 19:54] TravisCragg-MSFT commented on #44746
@philipstreet-hiscox Thanks for the feedback! I would use PowerShell, as we have clearly outlined instructions for configuring this via PowerShell.

To add instructions for the portal, I have assigned this issue to the content author to evaluate and update as appropriate.

[2019-12-16 19:58] Grace-MacJones-MSFT commented on #44743
Hi @niico100, are you getting any errors?  Can you provide more information on the issue you're facing so we know the best way to assist you.

[2019-12-16 20:03] codemillmatt commented on #44490
Changes to https://github.com/Azure-Samples/azure-cosmos-db-sql-xamarin-getting-started are now merged.

The sample app should now work with the updated screenshots & documentation.

[2019-12-16 20:11] #44739 closed

[2019-12-16 20:14] SadiqhAhmed-MSFT commented on #44744
@SlavaRoikhman Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

[2019-12-16 20:14] MarileeTurscak-MSFT commented on #44733
@ajakupov please provide the link to the article that you are following so that we can better assist you.

[2019-12-16 20:18] PburgRules opened #44757 "Getting Unable To Start Program ....\AppData\Local\AzureFuntionsTools\Releases\2.43.0\func.exe Access is denied"
I followed the tutorial after downloading and installing vs 2019.  Not sure why i'm getting the message Access is denied.?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e88ea08-81ef-2b5a-b9d6-539e85592672
* Version Independent ID: f2d8b7b4-906a-d1f5-5201-fc22a7890955
* Content: [Create your first function in Azure us

[2019-12-16 20:18] MonikaReddy-MSFT commented on #44420
@TiloGit , I'm going to assign this to the document author so they can update the document accordingly.

[2019-12-16 20:21] terrymandin commented on #44591
Ah, I see.  There is another area named "Artifacts".  Thank you.  I will close this issue now.

[2019-12-16 20:21] #44591 closed

[2019-12-16 20:36] Karishma-Tiwari-MSFT commented on #32846
@roygara Please let us know if there is any update on this. Thanks :)

[2019-12-16 20:37] anis020 opened #44759 "Authentication Scenario"
Would you confirm if all the API needs to be secured using the above approach? Is there any other way by which Authentication can be done on APIM and only authorization should be done in the respective APIs based on custom roles?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 823eb96f-e5f1-0832-b175-0b31009be92f
* Vers

[2019-12-16 20:40] dimitri-furman commented on #32251
#please-close

[2019-12-16 20:40] #32251 closed

[2019-12-16 20:42] MarileeTurscak-MSFT commented on #44692
@haseebarshad207 the doc comments are intended for feedback on specific documentation and not for individual troubleshooting. For product questions, please post to Microsoft Q&A or MSDN.

https://docs.microsoft.com/answers/questions/index.html

https://social.msdn.microsoft.com/Forums/en-US/home

[2019-12-16 20:42] #44692 closed

[2019-12-16 20:44] RyanMannix commented on #44206
As a follow up- I wasn't able to get the storage and IoT Hub to communicate when the datalake was on a vnet either.  It seems like it has to be a publicly available data lake.  As a work around, we are sending everything to the datalake as a job from stream analytics.

[2019-12-16 20:48] dhirajgandhi commented on #41198
Hello, Can you open a support ticket for this and share the information? We will look at the issue.

[2019-12-16 20:48] PhillyUrbs opened #44760 "Both or?"
In the first warning box on this page, it indicates that "Both adfs/services/trust/2005/windowstransport or adfs/services/trust/13/windowstransport should be enabled..."

Should it read "Both ... AND ..."  or "Either ... OR ..."?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9c51404-0a1b-c22e-e220-ce4126ff88d0
* Vers

[2019-12-16 20:51] dotMorten opened #44761 "This page doesn't show what the title says it shows"
I expected a tutorial how to set up your app to use spatial anchors. It's' called "Create a Xamarin iOS app" after all. But that entire step is bypassed by merely cloning someone else's app an use their code. No I have to reverse-engineer what that app does, what packages it uses, what APIs to call etc etc.
If anything rename this page to "how to run our sample app"

---
#### Document Details

⚠ *

[2019-12-16 20:55] msozgen commented on #44184
Hello @shashishailaj,  OnPrem MFA servers does not get online state when we open range given in the link. (which is below)

134.170.116.0/25 | 255.255.255.128 | 134.170.116.1 – 134.170.116.126
134.170.165.0/25 | 255.255.255.128 | 134.170.165.1 – 134.170.165.126
70.37.154.128/25 | 255.255.255.128 | 70.37.154.129 – 70.37.154.254

When we open FW ports with Any to the internet, MFA servers gets in on

[2019-12-16 21:10] abinav2307 commented on #39566
Hi all,

Sincere apologies for the delay here. The Bulk Executor has a replacement in our V3 SDK, where bulk and batch operations are integrated within the SDK (without having to maintain another library only for bulk operations).

With the V3 Bulk API, any point operation can be executed in bulk, which applies to creates, replaces, upserts and deletes. Here is a sample detailing the usage of V3 f

[2019-12-16 21:17] peter-foreman opened #44763 "PowerShell DSC Broken Link"
There is a broken link (404) on the left hand menu.
State Configuration (DSC) &gt; Concepts &gt; PowerShell DSC links to https://docs.microsoft.com/en-us/powershell/dsc/overview/overview which does not appear to exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96a48d43-dc10-b334-3774-b72ea10efdb7
* Version Indepen

[2019-12-16 21:17] ghogen commented on #44499
I'll look into this and talk with the engineering team.  In the meantime, try editing your project file by adding the following to disable the Storage Emulator :
  <PropertyGroup>
    <TargetFramework>netcoreapp2.1</TargetFramework>
    <AzureFunctionsVersion>v2</AzureFunctionsVersion>
    <StartDevelopmentStorage>False</StartDevelopmentStorage>
  </PropertyGroup>

[2019-12-16 21:17] Cescante opened #44764 "Dynamic Public IP address Disassociates"
- Public IP Address

- Documentation: https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.task.wait?view=netframework-4.8#System_Threading_Tasks_Task_Wait_System_Threading_CancellationToken_

- dynamic public address created with ARM disassociates from the load balancer around 45 minutes after initial association.
Additional info: republishing the public IP address resource fixes th

[2019-12-16 21:20] IGx89 commented on #44499
That's exactly what I was looking for, thanks! Didn't know about that element.

[2019-12-16 21:32] GabrielOrAnder opened #44766 "Dataflow sink with storage procedure."
Is possible to call a storage procedure inside dataflow sink instead an insert?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7c75ee8-d021-62fe-c7e3-53a6e729e1fc
* Version Independent ID: 7ae45fa9-cb4f-dbc5-dcb6-4a4f4c040d28
* Content: [Transform data using a mapping data flow - Azure Data Factory](https://docs.micro

[2019-12-16 21:33] Karishma-Tiwari-MSFT commented on #44722
Thanks @Zingonead
We have updated the documentation to clear any confusion.
I have created a [PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/99104/files) with the update, changes will be live in few hours. Thank you for bringing it to our attention.
The correct information is shared below:

[2019-12-16 21:34] #44722 closed

[2019-12-16 21:35] MarileeTurscak-MSFT commented on #44479
@pkoelemij if you include your subscription ID I can also open a support case if you would like. Since this is more of a product issue than a doc issue I think we should move this to email

[2019-12-16 21:35] #44479 closed

[2019-12-16 21:42] MarileeTurscak-MSFT commented on #44735
@jeanpoelie
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-16 21:44] Karishma-Tiwari-MSFT commented on #44666
Thank you for sharing this valuable feedback. We will share this feedback with the doc team. We will leave the doc as-is for now and your feedback will also stay here on this doc for others to make comments on. As we get more feedback from others, we will make the updates as necessary.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I

[2019-12-16 21:44] #44666 closed

[2019-12-16 21:53] Karishma-Tiwari-MSFT commented on #44274
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-16 21:53] #44274 closed

[2019-12-16 22:00] Karishma-Tiwari-MSFT commented on #44448
@sauryadas Thanks. Ack. I will assign it to the author to update the doc with the samples on how to check the expiry date.
@zr-msft Can you please help with updating the doc with the information provided in this comment: https://github.com/MicrosoftDocs/azure-docs/issues/44448#issuecomment-565274700
Thanks :)

[2019-12-16 22:06] btardif commented on #44124
We changed the way detection logic works for az webApp up and introduced a bug for plain HTML apps.

We will fix this by adding a -html flag for this scenarios.

You can track the WI here: https://github.com/Azure/azure-cli/issues/11592

[2019-12-16 22:07] jlian commented on #44709
You're right, the documentation is missing. This error occurs when `ConnectionForcefullyClosedOnNewConnection`. Does that help for now? Are you trying to open multiple connections using the same device identity?

[2019-12-16 22:09] YutongTie-MSFT commented on #44723
@worgerm Hi, could you please try your Endpoint and you subscription key in console to see if your endpoint and key are correct? Here is the link of console: https://westcentralus.dev.cognitive.microsoft.com/docs/services/5adf991815e1060e6355ad44/operations/56f91f2e778daf14a499e1fa/console

Please let me know if all you information input are correct but still get a error. Thanks !

[2019-12-16 22:15] jelew opened #44768 "<BOOT LOADER IDENTIFIER> ?"
It's not clear from info supplied on this page how to obtain the value &lt;BOOT LOADER IDENTIFIER&gt; shown under 'Enable dump log and Serial Console,' step 2., line below:

bcdedit /store F:\boot\bcd /ems {&lt;BOOT LOADER IDENTIFIER&gt;} ON

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 602fe342-29e0-ce4a-c37c-ad8ae14

[2019-12-16 22:22] djpmsft commented on #44766
For SQL sinks, you can call Pre/Post SQL scripts. You can also specify merge (insert/update/upsert/delete) conditions as well.  Executing a stored procedure must be done in a separate activity

[2019-12-16 22:23] GenMaximus13 commented on #44744
Awesome, thanks for that info. I look forward to seeing if anything else gets udpated in the doc.

[2019-12-16 22:25] ChJenk commented on #44329
@femsulu I'm not sure if I need to sign-off at this point or...? Thanks!

[2019-12-16 22:28] Karishma-Tiwari-MSFT commented on #44585
Please refer to the marketplace publishing guide [here](https://docs.microsoft.com/en-us/azure/marketplace/marketplace-publishers-guide) and publishing guide by offer type [here](https://docs.microsoft.com/en-us/azure/marketplace/publisher-guide-by-offer-type).

If you do not find the answers in the publishing guide, you can contact  [aka.ms/marketplacepublishersupport](https://support.microsoft.c

[2019-12-16 22:28] #44585 closed

[2019-12-16 22:30] MartinJaffer-MSFT commented on #44548
@HexANN to clarify, is the _copy_ is failing because of nulls not allowed, or is the _log_ failing because of nulls not allowed?

[2019-12-16 22:30] Karishma-Tiwari-MSFT commented on #44340
@amuthusa Is there any update?

[2019-12-16 22:32] craigktreasure commented on #44761
Hey @dotMorten. This article is a "Quickstart," which is not meant to teach the sort of things you're after. We don't currently have an article that teaches you how to create an iOS Xamarin app from scratch, but we'll consider in the future. The sample app should be a simple enough demonstration of what you need, but we're open to feedback.

[2019-12-16 22:36] MartinJaffer-MSFT commented on #44637
@jeethub5 Can you share with me either a screenshot of the Copy data's source settings, or the JSON code for it?

[2019-12-16 22:39] wgriffin13 commented on #36888
.python_packages and worker_venv are not picked up on Zip based deployments!

We decided to not use the virtual use the virtual environment for now.  However like Hazhzeng mentioned, you could also install directly into the site-packages folder.

[2019-12-16 22:42] MicrosoftGuyJFlo commented on #44731
#please-close

[2019-12-16 22:42] #44731 closed

[2019-12-16 22:43] MartinJaffer-MSFT commented on #44637
This can happen if you forget to set the source to use 'Query'.
![image](https://user-images.githubusercontent.com/46612670/70949344-6721f400-2012-11ea-95bf-d846f35e8d0b.png)

[2019-12-16 22:45] seannybgoode commented on #34200
@ColbyTresness - where in source control would this setting be held? I don't see any config files that hold this (using the VS Code Azure Function integrations).

However we do have the same problem.

[2019-12-16 22:53] santhoshbomma9 commented on #44329
Hi @ChJenk
I was just wondering if there is any reasonable business reason around it? I indeed understand it as a requirement but all I am wondering is why a personal email address?

Thanks!

[2019-12-16 23:06] dotMorten commented on #44761
The sample app has a lot of the code spread out in a bunch of different base and sub classes, which makes it incredibly hard to get started with the basics. It's decent demo code, but it isn't good getting started code.

[2019-12-16 23:07] dotMorten commented on #44761
Also the title is literally "Create a Xamarin iOS app with Azure Spatial Anchors", but there's no app creation at all.

[2019-12-16 23:07] craigktreasure commented on #44761
Fair enough. We'll take a look at adjusting the title.

[2019-12-16 23:11] dotMorten opened #44769 "No xamarin examples"
Please add Xamarin.Android and Xamarin.iOS examples as well

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93ebb157-6f09-f44f-bdb6-e0f62cb2078f
* Version Independent ID: fa1ece37-6d25-e338-e68a-96780a0ce6a1
* Content: [Create & locate anchors overview - Azure Spatial Anchors](https://docs.microsoft.com/en-us/azure/spat

[2019-12-16 23:12] Karishma-Tiwari-MSFT commented on #44670
@PingPongSet
You can get these values by referencing this document: https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-create-service-principal-portal

Tenant-id and application-id (client-id) : https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-create-service-principal-portal#get-values-for-signing-in

Authentication key (client-secret) : https://docs.microso

[2019-12-16 23:12] #44670 closed

[2019-12-16 23:21] Karishma-Tiwari-MSFT commented on #44639
@wardbox Did you hear anything from your open support case? Can you please share your support ticket number so that I can track it.
@mac8005 Did you get the notification on the mitigation for this issue? Let me know.

[2019-12-16 23:25] Cescante commented on #44764
Figured this out. If you associate other IP addresses to the same resource (in my case it's a cluster's load balancer), it overrides existing IP address association.

[2019-12-16 23:25] #44764 closed

[2019-12-16 23:28] richrundmsft commented on #42968
Thanks @rlevchenko. I have an updated UX design that removes the current issues and I'm working on getting the change prioritized and scheduled -- at the moment it is a little hard for me to know when we'll implement this change.

[2019-12-16 23:30] ScottyMac52 commented on #18475
First of all I would like to comment that the documentation in this area is lackluster at best and possibly wrong at worst.

My understanding of the process is as follows:

1. Secure the Backend of the API with a client certificate amd make sure that API has the means via Startup and Program, in .NET Core 2.1 for instance, to validate the certificate.
2. Add the SAME client Certificate to the API

[2019-12-16 23:31] MarileeTurscak-MSFT commented on #44760
@PhillyUrbs
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-16 23:33] MarileeTurscak-MSFT commented on #44760
@PhillyUrbs thanks. I made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/99131

[2019-12-16 23:33] #44760 closed

[2019-12-16 23:40] dcbrown16 commented on #32725
Lots of passing the buck but it looks like this info made it into the service tags document.

https://docs.microsoft.com/en-us/azure/virtual-network/service-tags-overview

I think that's what we were asking for.
#please-close

[2019-12-16 23:40] #32725 closed

[2019-12-16 23:40] diberry commented on #44398
Closing without more information #please-close

[2019-12-16 23:41] #44398 closed

[2019-12-17 00:07] sauryadas commented on #44639
we have a hotfix rolling out and shoulb be available in a day or so.. affected customers which is about 10 will be notified via portal toast

[2019-12-17 00:07] #44640 closed

[2019-12-17 00:10] FrankHu-MSFT commented on #44580
@jurajgh please engage via support or the Q&A forums for more help on this specific scenario. AAD DS most likely overrides the AAD auth. Note again that this feature is in preview and all scenarios have not been fleshed out yet.

[2019-12-17 00:14] Alberto-Vega-MSFT commented on #44591
@blackchoey I can create a PR with this small change. It looks like I just need to swap **Artifacts** for **Releases** on this tutorial step?

change from:

Under **Artifacts**, select **Drop**. The source that this artifact watches is the output of the build pipeline you examined in the previous steps.

To:

Under **Releases**, select **Drop**. The source that this artifact watches is the output

[2019-12-17 00:15] Karishma-Tiwari-MSFT commented on #44539
@SteveBurkettNZ Would you be able to help update this doc with this requested information? Let me know. Thanks :)

[2019-12-17 00:15] DixitArora-MSFT commented on #44428
Hi @wpitallo I have assigned this to content author for further review and update as appropriate.

[2019-12-17 00:15] ecfan commented on #40062
Topic is now updated: https://docs.microsoft.com/azure/connectors/connectors-create-api-ftp

[2019-12-17 00:16] #40062 closed

[2019-12-17 00:18] wardbox commented on #44639
@Karishma-Tiwari-MSFT Our case was resolved on both affected clusters, not sure what was actually done to fix it though. We're holding off on doing this in production for the time being.

[2019-12-17 00:18] Alberto-Vega-MSFT commented on #44491
Adding reference to the issue on the Azure Spatial Anchors samples repo https://github.com/Azure/azure-spatial-anchors-samples/issues/108

[2019-12-17 00:19] Karishma-Tiwari-MSFT commented on #44536
@tanmaygore Can you please share your insights on this? Thanks :)

[2019-12-17 00:22] Alberto-Vega-MSFT commented on #44491
@craigktreasure Closing the issue here since the team will be looking into this issue on the samples repository

[2019-12-17 00:22] #44491 closed

[2019-12-17 00:30] Karishma-Tiwari-MSFT commented on #44493
At this point, we will keep the doc as-is. Your feedback would still stay here on this doc, for others to refer. As we get more feedback on this, we would consider adding this to the document. Thank you for your valuable feedback.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussi

[2019-12-17 00:30] #44493 closed

[2019-12-17 00:49] ElanShudnow opened #44770 "Change Tracking in Automation Account"
This page has instructions where if you're using Change Tracking in Automation Account, you have to remove the solution before enabling Integrity Monitoring.  https://docs.microsoft.com/en-us/azure/automation/change-tracking

Why isn't that discussed in this article?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 041c5

[2019-12-17 01:08] ecfan commented on #42914
The content that we added for this missing function should appear on 12/17/2019 after 12:00 PST:

[https://docs.microsoft.com/azure/logic-apps/workflow-definition-language-functions-reference#formatNumber
](https://docs.microsoft.com/azure/logic-apps/workflow-definition-language-functions-reference#formatNumber
)

@PramodValavala-MSFT: #please-close

[2019-12-17 01:08] #42914 closed

[2019-12-17 01:10] ravidesai29 commented on #44673
Azure Synapse Analytics (formerly known as Azure SQL Data Warehouse)

[2019-12-17 01:14] femsulu commented on #44763
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-12-17 01:20] ravidesai29 opened #44771 "A database operation failed with the following error: 'Could not find object 'Sales' or you do not have permission.'"
Pipeline "IterateAndCopySQLTables" gives below error in Activity i.e "Copy data1"

    "errors": [
        {
            "Code": 22301,
            "Message": "ErrorCode=SqlOperationFailed,'Type=Microsoft.DataTransfer.Common.Shared.HybridDeliveryException,Message=A database operation failed with the following error: 'Could not find object 'Sales' or you do not have permission.',Source=,''Type=Syst

[2019-12-17 01:20] Karishma-Tiwari-MSFT commented on #44634
Yes, you can add a virtual machine extension resource to the existing template as described in this document on [Deploy virtual machine extensions with Azure Resource Manager templates ](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-tutorial-deploy-vm-extensions)

More Resources:
1. https://stackoverflow.com/questions/36318458/does-virtual-machine-extensions-provis

[2019-12-17 01:20] #44634 closed

[2019-12-17 01:23] ravidesai29 commented on #44771
Do we need to have SCHEMA and TABLE definitions already created in Target Data Warehouse ?
I am not sure if Copy activity is also creating SCHEMA and TABLE definitions before it starts loading the data.
I am not able to sort out this even though user has all the permissions granted.

[2019-12-17 01:29] aruwo17 opened #44772 "Error installing Microsoft IIS"
Running the command "Install-WindowsFeature -name Web-Server -IncludeManagementTools" comes up with an error. It says the term "Install-WindowsFeature" is not recognized as the name of a cmdlet, function, script file, or operable program.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b8d10aa-ed80-46eb-ade4-1489e64b79

[2019-12-17 01:32] mandiaya commented on #32884
We have the same issue. Does this issue has been fixed?

[2019-12-17 01:35] stgeorgi commented on #44687
Hi, Please not that the document that you are referring clearly specifies what OS and where I can be obtained. The error that is being experienced is due to the OS not having the new APIs tied to MSIX app attach.
Regards
S

[2019-12-17 01:36] mandiaya opened #44774 "How can as a External User log in jira with SSO?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-12-17 01:37] mandiaya commented on #44774
@jeevansd  Could you please take a look on my issue?

[2019-12-17 01:42] jeevansd commented on #44774
@mandiaya Let me get the update from my team guys.

[2019-12-17 01:43] #44721 closed

[2019-12-17 01:43] mandiaya commented on #44774
Thanks!!!!

[2019-12-17 01:43] timsander1 commented on #44435
Hi @jbmadscience , thank you so much for your feedback. We are planning to make significant updates to this doc in the next few weeks. While this doc is not meant to be SDK specific, we can add in some useful links which would have answered all your questions.

A lot of your questions are SDK specific so I'm sharing our .NET SDK V3 reference on LINQ queries here: https://docs.microsoft.com/dotnet/

[2019-12-17 01:47] stgeorgi commented on #44686
I posted a reply on #44687. The version being used is not FAST track Win 10 Enterprise 1909 will not work regardless of version of visual studio. If you go to the tap site you will notice that the current build is 19325 (I think) it was 19013 at the time of the writing of our doc.
On #44684 Is the permission error on the same VMs as the error about the option missing? Generally we enforced stronge

[2019-12-17 01:50] Karishma-Tiwari-MSFT commented on #44563
You can track the service fabric supported operating systems in [this](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-versions#supported-operating-systems) document.
![image](https://user-images.githubusercontent.com/20851144/70957920-7ada5400-202c-11ea-8fa2-1fc778724769.png)

New releases will be announced in service fabric team [blog](https://techcommunity.microsoft.com/t5/

[2019-12-17 01:53] #44563 closed

[2019-12-17 01:54] KrishnaG-MSFT commented on #44721
@nskhara Verified and updated the document with a note. Thanks.

[2019-12-17 02:06] ElanShudnow opened #44775 "Confused with NTFS ACLs and File Sync"
This statement is mentioned, "Azure AD DS authentication for SMB access is not supported for Active Directory domain-joined machines. In the interim, consider using Azure File Sync to start migrating your data to Azure Files and to continue enforcing access control by using Active Directory credentials from your on-premises Active Directory domain-joined machines."

But then this statement is ment

[2019-12-17 02:08] ElanShudnow commented on #44775
Ok, I think I just realized what the 2nd statement means.  It means that you can manage your NTFS ACLs on-premises and they'll be maintained in Azure Files.  But you cannot use Azure File Sync with Azure AD Domain Services on a mounted file share to manage NTFS permissions and expect them to sync back down.

If correct, I think it could be a little more clear in the docs.

[2019-12-17 02:19] SnehaAgrawal-MSFT commented on #44567
@Zimmergren Thanks again for the feedback! Product group is working on this but cannot provide ETA at this point of time. Since we typically try to keep the Azure-Docs channel scoped to feedback directly about the docs. We will now close this issue. Thanks for your understanding on this.

[2019-12-17 02:19] #44567 closed

[2019-12-17 02:21] SnehaAgrawal-MSFT commented on #44614
@Zimmergren Thanks again for the feedback! Product group is working on this but cannot provide ETA at this point of time. Since we typically try to keep the Azure-Docs channel scoped to feedback directly about the docs. We will now close this issue. Thanks for your understanding on this.

[2019-12-17 02:21] #44614 closed

[2019-12-17 02:34] Karishma-Tiwari-MSFT commented on #44564
@nualmeid This can be changed from the portal by opening up the load balancing rule and adjusting the slider.
You can also use an annotation on your service to change the timeout
service.beta.kubernetes.io/azure-load-balancer-tcp-idle-timeout: 10

I am reaching out to the product team on the reason behind the default timeout of 30 minutes.

[2019-12-17 02:55] BhargaviAnnadevara-MSFT commented on #44499
@ghogen Thanks for that tip!

@IGx89 Please try it out and let us know if you run into issues.

[2019-12-17 02:56] DashleenBhandari-MSFT commented on #44775
@ElanShudnow , Thanks for raising the issue. We will investigate and update you.

[2019-12-17 02:58] DashleenBhandari-MSFT commented on #44772
@aruwo17 , Thanks for raising the issue. We will investigate and update you.

[2019-12-17 02:58] gsxmax opened #44776 "There are several errors in this docs"
[10:03 AM] Max Guo
    let me count,

1. miss default variables in variables.tf
2. need to set virtual-network and subnet previously
3. VM size wrong
4. helm install ingress-azure error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20f12c89-40e2-076e-6135-64773551e673
* Version Independent ID: c2d6ac4a-fad9-dbc1-d125-

[2019-12-17 02:59] AlexChongMicrosoft opened #44777 "How could we apply the access to the physical data centre?"
Hi, how could we apply the access to the physical data centre?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc69e9dd-1b65-97c9-eb81-445dc21a3e2b
* Version Independent ID: 48e0aa8e-507c-5793-9ae0-83c9081022db
* Content: [Physical security of Azure datacenters - Microsoft Azure](https://docs.microsoft.com/en-us/azure/s

[2019-12-17 03:00] DashleenBhandari-MSFT commented on #44771
@ravidesai29 , Thanks for raising the issue. We will investigate and update you.

[2019-12-17 03:01] DashleenBhandari-MSFT commented on #44770
@ElanShudnow , Thanks for raising the issue. We will investigate and update you.

[2019-12-17 03:02] rockboyfor opened #44778 "Azure support managed data disks up to 32 TiB in Azure China Cloud."
In this FAQ of "What is the largest Managed disk size supported for operating system and data disks?" in this articles,
When we create managed data disk in Azure China portal, we find that Azure supports up to 32 TiB for managed data disks in Azure China cloud.

![image](https://user-images.githubusercontent.com/4704301/70963676-369a9280-20c4-11ea-8403-952bd75df4e4.png)

---
#### Document Details

[2019-12-17 03:02] DashleenBhandari-MSFT commented on #44774
@mandiaya , please include the link to the article that you are following so that we can better assist.

[2019-12-17 03:03] DashleenBhandari-MSFT commented on #44759
@anis020 , Thanks for raising the issue. We will investigate and update you.

[2019-12-17 03:07] mandiaya commented on #44774
Sure ! https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/jiramicrosoft-tutorial

[2019-12-17 03:19] amanmcse commented on #44589
@Noorish I am proceeding with closure of this thread. Feel free to tag me in your reply if you have any questions.

[2019-12-17 03:19] #44589 closed

[2019-12-17 03:25] mrbullwinkle commented on #44321
Updates to the doc have been merged internally. They will go-live tomorrow morning.

[2019-12-17 03:25] mrbullwinkle commented on #44321
#please-close

[2019-12-17 03:25] #44321 closed

[2019-12-17 03:26] curelom opened #44779 "How to test using core 3.1 - DefaultHttpRequest doesn't exist."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-12-17 03:32] coreConvention opened #44780 "Possible Typo..."
JSON schema states "connectionStringName": "AzureWebJobsStorage" while the description states "azureStorageConnectionStringName" with a defaul of "AzureWebJobsStorage"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b2c8f85-9416-d9f2-e082-b1b15961d810
* Version Independent ID: e987c477-36ef-76b9-6dbd-db76fd291e7b
* Con

[2019-12-17 03:39] ChiragMishra-MSFT commented on #44540
@linda33wj Can we please include a note in the doc for the access prerequisite ?

[2019-12-17 03:41] ChiragMishra-MSFT commented on #44673
@parbados Azure SQL Warehouse is being renamed to Azure Synapse Analytics. The icon and the doc would be updated soon.

I will now proceed to close this issue. Feel free to still comment if you have any queries in the same regard.

[2019-12-17 03:41] #44673 closed

[2019-12-17 03:50] mrbullwinkle commented on #43250
@seninjaan thanks for opening this issue. The example has been updated to:

[code]
This change is merged internally, and will go live tomorrow morning.

[2019-12-17 03:51] mrbullwinkle commented on #43250
#please-close

[2019-12-17 03:51] #43250 closed

[2019-12-17 03:53] mrbullwinkle commented on #41884
At the moment there is not a 1:1 relationship between regions App Insights is available and ingestion endpoints for live metrics. So you could technically use whichever of the available endpoints you want. As new endpoints are added we will update the doc accordingly.

[2019-12-17 03:54] mrbullwinkle commented on #41884
I am going to close out this issue. If you have any more questions, just let us know.

[2019-12-17 03:54] mrbullwinkle commented on #41884
#please-close

[2019-12-17 03:54] #41884 closed

[2019-12-17 04:22] koratshail commented on #43189
@AshokPeddakotla-MSFT,
Sorry for the late replay. Thanks for this document change.
Now after this change, I am able to communicate with a device in IoT Central application.

I have one more question. Please help me.
Right now Device is running in my Machine but I want to do it for my embedded hardware.
I need proper steps to cross-compile this C source code. So I can able to connect my embedded Ha

[2019-12-17 04:30] VikasPullagura-MSFT commented on #44776
@gsxmax Thanks for your Feedback. I am assigning the issue to content author for checking on this and updating the document as applicable.

[2019-12-17 04:31] VikasPullagura-MSFT commented on #44776
@TomArcherMsft Requesting you to review the feedback and add your comments on updating the document as appropriate.

[2019-12-17 04:41] Anand-Moghe opened #44781 "This subscription is restricted from scaling Azure Database for MySQL resources in this region."
I am using Microsoft Internal Subscription.
When I try to create MySQL DB for Drupal 8, I see following error while configuring MySQL:

How should I get rid of this error?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a85aa0-5baf-cf60-94a0-fa949c3a841b
* Version Independent ID: f3673c4b-4c84-64be-27e5-04d57f4b5008
*

[2019-12-17 04:51] KosukeHosoda opened #44782 "Firewall Log when using WAF policy is different by whether the mode is Prevention or Detection."
As a result of the test on my lab, I found the below.
■ test on my lab
・I associated the WAF policy with AppGW.
・I configured a custom rule for the WAF policy (ex. deny traffic when the source IP is x.x.x.x)
・I accessed to the AppGW (ex. http://x.x.x.x/?a=1=1)

■ result
・When we use custom waf policy with prevetion mode, we can find the log by the custom policy only in the firewall log.
・when we u

[2019-12-17 04:52] ankurja opened #44783 "Virtual Network Gateway propagation instead of BGP"
https://docs.microsoft.com/en-us/azure/virtual-network/tutorial-create-route-table-portal#create-a-route-table
The table shown here says - BGP route propagation should be kept as enabled. On the portal the actual option is "Virtual Network Gateway route propagation".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cc61

[2019-12-17 04:53] VikasPullagura-MSFT commented on #44778
@rockboyfor Thanks for the Feedback! We are currently investigating and will get back on this.

[2019-12-17 04:55] m2rinch commented on #32589
once the we set up the client, how do we integrate the backend using the github repo? there are no instructions provided for this

[2019-12-17 04:56] m2rinch commented on #32267
@theeye1806 how did you manage to use the backend code? i cant find any instructions for it

[2019-12-17 05:06] VikasPullagura-MSFT commented on #43938
@KumariSupriya Can you please look into this and add your comments.

[2019-12-17 05:15] HeidiSteen commented on #41765
@Anaig Sorry this issue is resolving so late, but the docs are now updated:  https://docs.microsoft.com/en-us/azure/search/knowledge-store-concept-intro#api-reference
As you noted, those two properties are not used in a projection.
#please-close

[2019-12-17 05:15] #41765 closed

[2019-12-17 05:17] algattik opened #44784 "Use Authorization: Bearer"
Instead of:

[code]
we can simplify to:
[code]

as documented at https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/authentication#--use-tokens-for-api-authentication

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9284b8c9-ecc2-e265-d123-84387b91f713
* Version Independent ID: 1ab9c80e-0261-a65b-dd24

[2019-12-17 05:19] VikasPullagura-MSFT commented on #44747
@mdi-db Thanks for the Feedback! I am assigning the Issue to content author to add comments on this.

[2019-12-17 05:20] VikasPullagura-MSFT commented on #44747
@cynthn Can you please look into this and add your comments on this doc feedback.

[2019-12-17 05:35] CHEEKATLAPRADEEP-MSFT commented on #44784
@algattik  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-12-17 05:40] dcbrown16 opened #44785 "PowerShell Reference link"
Please update the "Azure PowerShell" link in the Table of Contents (not this page I'm reporting this on) to point to the specific link for App Service instead of the current link to an overview of PowerShell that isn't anywhere near the specific commands.
https://docs.microsoft.com/en-us/powershell/module/az.websites/?view=azps-3.1.0#app_service

---
#### Document Details

⚠ *Do not edit this sect

[2019-12-17 05:40] DashleenBhandari-MSFT commented on #44768
@jelew , Thank you for raising the issue. We will investigate and update you.

[2019-12-17 05:46] DashleenBhandari-MSFT commented on #44757
@PburgRules , Thanks for raising the issue.We will investigate the issue and update you.

[2019-12-17 05:47] DashleenBhandari-MSFT commented on #44751
@zhusulai , Thanks for raising the issue.We will investigate the issue and update you.

[2019-12-17 05:48] DashleenBhandari-MSFT commented on #44748
@BryanAdvisicon , Thanks for raising the issue.We will investigate the issue and update you.

[2019-12-17 05:49] amuthusa commented on #44340
Hi Karishma,
    Sorry for the delay in my response. Original instance I had in East US
region and the size is B1ls and tried to change to Standard_ND40rs_v2

Thanks,
Ayyappa

On Mon, Dec 16, 2019 at 2:30 PM Karishma Tiwari - MSFT <
notifications@github.com> wrote:

--
Regards,
Ayyappa

[2019-12-17 05:52] DashleenBhandari-MSFT commented on #44769
@dotMorten , Thanks for raising the issue.We will investigate the issue and update you.

[2019-12-17 05:55] HeidiSteen commented on #42572
@wpbrown  - sorry for the late reply:
For the pricing page, I forwarded your question. It seems like "25 GB partitions (max 300 GB per service)" is what it should say, but that needs to be confirmed.
For the service limits page, the word 'documents' should be removed.
For estimating capacity, there have been discussions in the past about publishing estimates (inferring an index size based on a dat

[2019-12-17 05:56] DashleenBhandari-MSFT commented on #44779
@curelom , Could you please share the document that you are referring to.

[2019-12-17 05:57] DashleenBhandari-MSFT commented on #44780
@coreConvention , Thanks for raising the issue.We will investigate the issue and update you.

[2019-12-17 05:58] DashleenBhandari-MSFT commented on #44781
@Anand-Moghe , Thanks for raising the issue.We will investigate the issue and update you.

[2019-12-17 05:59] DashleenBhandari-MSFT commented on #44782
@KosukeHosoda , Thanks for raising the issue.We will investigate the issue and update you.

[2019-12-17 06:00] DashleenBhandari-MSFT commented on #44783
@ankurja , Thanks for raising the issue.We will investigate the issue and update you.

[2019-12-17 06:01] DashleenBhandari-MSFT commented on #44785
@dcbrown16 , Thanks for raising the issue.We will investigate the issue and update you.

[2019-12-17 06:02] paulbouwer commented on #44379
@Bhanu88 - I found the following in the Istio Discuss thread you reference interesting.

It looks like this is a bug in Envoy that the Istio folks are aware of.

Also, it looks like there is a workaround if you use **named service ports**.

It seems that from istio 1.4, when the naming convention is not followed it uses the same protocol as in input so http2 if you use https to access the gateway.

[2019-12-17 06:22] gotqn opened #44786 "What's the storage type for the tempdb?"
Is it RAM DISK?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 418c8458-948a-4549-fbaa-90a17cd345ee
* Version Independent ID: b5635e09-241c-0eea-61cd-bfef388af124
* Content: [Azure SQL Database Hyperscale FAQ - Azure SQL Database](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-service-tier-hyperscale-

[2019-12-17 06:23] gotqn opened #44787 "Hyperscale and Reporting Service"
Is it possible to connect SSRS with Hyperscale replica?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 418c8458-948a-4549-fbaa-90a17cd345ee
* Version Independent ID: b5635e09-241c-0eea-61cd-bfef388af124
* Content: [Azure SQL Database Hyperscale FAQ - Azure SQL Database](https://docs.microsoft.com/en-us/azure/sql-databa

[2019-12-17 06:29] KrishnaG-MSFT commented on #44613
@jbfour's Thanks for your response in the Stack Overflow thread.
@jefjos At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-12-17 06:29] #44613 closed

[2019-12-17 06:37] pvrk commented on #43863
Updated the above doc to provide the AzureRm command as well.

[2019-12-17 06:38] pvrk commented on #43863
#please-close

[2019-12-17 06:38] #43863 closed

[2019-12-17 06:43] KrishnaG-MSFT commented on #44763
Assigning content owner @MGoedtel for visibility, review and document enhancement consideration. I believe we have to update the href in automation TOC.yml from /powershell/dsc/overview/overview to correct reference.

[2019-12-17 07:05] DashleenBhandari-MSFT commented on #44777
@AlexChongMicrosoft , Thanks for raising the issue.We will investigate the issue and update you.

[2019-12-17 07:10] Zimmergren commented on #44567
Thanks for the feedback @SnehaAgrawal-MSFT, I appreciate it.

Do you have recommendations for public channels where we can submit these questions and queries so our customers can follow with transparency?

[2019-12-17 07:12] SnehaAgrawal-MSFT commented on #44609
@SidShetye Thanks again for the feedback! If I have understood right, you are having query for Adding SSH support to Asp.Net Core Docker Container.

You may refer below doc: https://docs.microsoft.com/en-us/azure/app-service/containers/app-service-linux-ssh-support

https://blogs.msdn.microsoft.com/azureossds/2018/02/22/adding-ssh-support-to-asp-net-core-docker-container-created-in-visual-studio-2

[2019-12-17 07:17] AlexChongMicrosoft commented on #44777
@DashleenBhandari-MSFT Sorry for disturbing. Actually, it's not a technical issue, but more like a security issue or policy issue. I don't think any user could copy data from our Microsoft Data centre. But thank you for any suggestion.

[2019-12-17 07:18] niico100 commented on #44743
Most of the syntax on the web page isn’t coloured.

Thanks
Nick

From: Grace-MacJones-MSFT
Sent: Monday, December 16, 2019 8:58 PM
To: MicrosoftDocs/azure-docs
Cc: Nick Donnelly; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Syntax Highlighting (#44743)

Hi @niico100, are you getting any errors? Can you provide more information on the issue you're facing so we know the best way to assist you.
—

[2019-12-17 07:29] mac8005 commented on #44639
@Karishma-Tiwari-MSFT MS Support notified my that the issue on my Cluster was mitigated and is working again. What i don't know yet if it will work when i rotate on my other clusters

[2019-12-17 07:34] jeethub5 commented on #44637
Hi,

The error that I have got is resolved but now I'm getting following error
while executing the whole pipeline.

[image: image.png]

[image: image.png]

{ "dataRead": 2038, "sourcePeakConnections": 1, "rowsRead": 41,
"rowsCopied": 41, "copyDuration": 18, "throughput": 0.111, "sqlDwPolyBase":
true, "errors": [ { "Code": 22301, "Message":
"ErrorCode=SqlOperationFailed,'Type=Microsoft.DataTransfer

[2019-12-17 07:36] andyzhangx commented on #44639
@mac8005 there is still issue when rotate-certs on AAD enabled cluster, a hotfix deployment is on going, and would be rolled out this week.

[2019-12-17 07:38] souravmishra-msft commented on #44350
@msmimart, Can you please take look at this request and check if we can accommodate this request.

[2019-12-17 07:40] CHEEKATLAPRADEEP-MSFT commented on #44612
@jayendranarumugam Yes, we will make sure to add this information in Azure Synapse Analytics documentation.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-12-17 07:40] #44612 closed

[2019-12-17 07:44] rogereriksen opened #44788 "Creating non-gallery application"
[Enter feedback here]

Documentation has no description on how to create a non-gallery application using Graph.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93000135-9d06-7912-5055-28c77cc38b68
* Version Independent ID: 7f389b39-80ac-7f44-9b0d-cbe1fbc7a3e9
* Content: [Use MS Graph APIs to configure provisioning - Azu

[2019-12-17 07:53] rdeltcheva commented on #44289
The referenced SUSE documentation refers to multi-tenant HANA installation. Multi-tenant HANA installation is supported on Azure as well.

The statement in the Azure documentation is that currently multi-SID SAP Netwaver / S/4 HANA clusters are not supported (i.e. SAP application layer) .

Hope that explanation helps!

[2019-12-17 07:57] pinkpuffles opened #44789 "This server has no standard database (Datafactory)"
I am trying to learn from this tutorial:

https://docs.microsoft.com/en-us/learn/modules/understand-the-sql-dw-connector-with-azure-databricks/6-load-data-using-data-factory

After creating datafactory I want to connect it to SQL database. My server has a database listed like this:
![image](https://user-images.githubusercontent.com/48857033/70976098-21763180-20cd-11ea-84d0-cae19c3bc832.png)

But t

[2019-12-17 07:58] PramodValavala-MSFT commented on #44780
@coreConvention I believe the table currently refers to properties for `v1,0`.

We have assigned this issue to the content author to review and update accordingly.

[2019-12-17 07:59] sanchetanparmar opened #44790 "azure-arm WinRM Time out"
i am following official document - https://docs.microsoft.com/en-us/azure/virtual-machines/windows/build-image-with-packer
My win2016.json here.  increased   `"winrm_timeout": "20m",`

[code]

logs

[code]

Same code working for 2019-Datacenter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bb18731-b0b4-f92b-7ece-031a

[2019-12-17 07:59] sanchetanparmar commented on #31188
i am using same code with    ` "winrm_timeout": "20m",` but still getting same error(azure-arm: Waiting for WinRM to become available...) with windows2016. its working with windows2019.

[2019-12-17 08:04] msrini-MSFT commented on #44783
@ankurja , Thank you for letting us know. Before it was BGP route propagation and now it is named as "Virtual Network Gateway route propagation". I will update the doc.

[2019-12-17 08:06] ManojReddy-MSFT commented on #20442
@andyadamides You can use the command Set-AzureADServicePrincipal  -AppID <ApplicationID> -ApproleAssignementRequired <Boolean>

You can set the Boolean value to True if you want the change the user assignment required to YES.

Ref: https://docs.microsoft.com/en-us/powershell/module/azuread/set-azureadserviceprincipal?view=azureadps-2.0

[2019-12-17 08:06] pinkpuffles commented on #44789
The problem was I selected SQL database in previous window as opposed to SQL datawarehouse. My bad!

[2019-12-17 08:06] #44789 closed

[2019-12-17 08:08] msrini-MSFT commented on #44783
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/99165

[2019-12-17 08:13] MSSedusch commented on #44659
we should be able to release it in Q1/CY20. Sorry for the inconvenience.

[2019-12-17 08:14] SushrutDeo commented on #43726
The problem got solved when I used a real device. So didn't create any new forum.

[2019-12-17 08:15] AshokPeddakotla-MSFT commented on #44575
@gri6507

If you use rolling tags in your deployment then you need to force the container runtime on your device to pull the latest version of the image.

So by using rolling tags, nothing will happen on the device automatically.  The devices are not monitoring your container registry for changes.

If you manually pull the same image on the device again (docker pull <my_acr.azurecr.io>/mymodule:1.

[2019-12-17 08:15] #44575 closed

[2019-12-17 08:16] surajmb commented on #35491
Hi @BzSpi and @tescales , the limits mentioned in the doc apply to both AppGW/WAF V1 and V2 SKUs unless specified otherwise.

The max number of listeners which are routing requests to a backend pool - 100
The max number of listeners which are tied to redirection rules - 100

Essentially you'd be able to create a maximum of 200 listeners, 100 in each category. We'll update the limits doc with the i

[2019-12-17 08:17] jakaruna-MSFT commented on #44691
`az aks scale ` is for the nodes . But using that command you can scale manually.

You can also setup automatic scaling on AKS. Thats called as cluster autoscaler.

This [doc ](https://docs.microsoft.com/en-us/azure/aks/cluster-autoscaler
) will help you to setup the cluster autoscaler.

[2019-12-17 08:17] #44783 closed

[2019-12-17 08:18] msrini-MSFT commented on #44751
@zhusulai , Please raise a feature request by providing your scenario here: https://feedback.azure.com/forums/217313-networking?category_id=368830

[2019-12-17 08:18] #44751 closed

[2019-12-17 08:21] jakaruna-MSFT commented on #44681
ok no worries.

You have given me the bash version.  Can you give me the version of az cli?   You can use `az --version`

Also post the screenshot of the error.

[2019-12-17 08:30] dcurwin commented on #44495
#reassign:pvrk

[2019-12-17 08:34] dcurwin commented on #31822
#reassign:srinathvasireddy

[2019-12-17 08:34] dcurwin commented on #44590
#reassign:dcurwin

[2019-12-17 08:37] dcurwin commented on #44658
#reassign:adityabalaji-msft

[2019-12-17 08:38] jakaruna-MSFT commented on #44605
@saudas please validate the PR

[2019-12-17 08:44] valentijnscholten commented on #44731
Thanks for the info, good to know baselines are being replaced by defaults. However, even today I can customize the baselines to exclude certain users or groups, so at least in our tenants this was/is possible. I hope the same will be possible for security defaults. Not every tenant has P1 / conditional access.

[2019-12-17 08:44] DixitArora-MSFT commented on #44622
@Sohryu7 Just following up to check if my previous comment helps..

[2019-12-17 08:45] DixitArora-MSFT commented on #44675
@kgremban Just following up again in case missed the previous communication.

[2019-12-17 08:46] DixitArora-MSFT commented on #44695
@robertlagrant Just following up to check if my previous comment helps.

[2019-12-17 09:03] PramodValavala-MSFT commented on #44726
@oleksandr-bilyk The recommended way to deploy Azure Functions outside of Azure is as [containers](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image?tabs=nodejs). The same applies to Durable Functions as well.

You should be able to [deploy your functions containers to service fabric](https://docs.microsoft.com/en-us/azure/service-fabric/service-fa

[2019-12-17 09:04] jakaruna-MSFT commented on #44572
Can you change the port num to 30001 instead of 20001 for the endpoint port and public port?

[2019-12-17 09:05] KalyanChanumolu-MSFT commented on #44538
Its been a while we heard from you.
We will proceed to close this issue now.

If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-12-17 09:05] #44538 closed

[2019-12-17 09:08] br0cky commented on #44124
Great news thanks team

[2019-12-17 09:11] Ballzer0 opened #44791 "Deployment center has been renamed"
In my azure portal, the deployment center menu button has been renamed to *Container settings* the docs should reflect this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a34424e-6a23-5517-5755-c9282643876f
* Version Independent ID: 1c375649-94d6-863a-203b-cb5ed5e4044e
* Content: [Continuous deployment for Azure Func

[2019-12-17 09:16] msrini-MSFT commented on #44713
@KosukeHosoda , If you have a Wildcard cert then there is a use case of adding the same cert to multiple listeners.

@vhorne , Can you take a look at this and check if you can add it as a FAQ item?

[2019-12-17 09:21] adityabalaji-msft commented on #44658
Hi @Scottie2z - if I understand correctly, you are not able to see the 'Configure backup on VMs..." policy, and you are only able to see the first policy?
![image](https://user-images.githubusercontent.com/51365521/70982071-5fc71d00-20dc-11ea-9be5-6089cb377bb5.png)

Also, could you kindly confirm if you are on a public geo - or are you on a national cloud? The policy is available in all public geo

[2019-12-17 09:35] MaikelW opened #44792 "How long does it take for operation statuses to reach a terminal state?"
For reference: https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/pc-saas-fulfillment-api-v2#implementing-a-webhook-on-the-saas-service

The documentation states the following:
"In a webhook notification, actionable statuses are either Succeeded and Failed. An operation's life cycle is from NotStarted to a terminal state like Succeeded, Failed, or Conflict. If you receive Not

[2019-12-17 09:43] ManojReddy-MSFT commented on #44518
@EmDecay You can use Azure Storage Diagnostic logs to track the activities to an extent.

User agent with a value of "ObjectLifeCycleScanner" will be present as shown in the below diagram if operations are performed by life cylce management policy.

![image](https://user-images.githubusercontent.com/44399320/70983573-fa286000-20de-11ea-8b97-93c6b04be16d.png)

Ref: https://docs.microsoft.com/en-us/

[2019-12-17 09:45] #44374 closed

[2019-12-17 09:47] jakaruna-MSFT commented on #44396
@jesperilsoenielsen Got some information from the Product team.

The other cases should be covered as the addresses should change as the service 's address should change.

I am yet to get the time required for the dns info to propagate.

[2019-12-17 09:48] andyadamides commented on #20442
Thanks for this.

Is there also an `az cli ` equivalent command? I am looking [here](https://docs.microsoft.com/en-us/cli/azure/ad/sp?view=azure-cli-latest) but I can't seem to find anything.

[2019-12-17 09:48] pvrk commented on #44495
Thanks @heldchen . We already looked at the mentioned comment and working on this. We will update the document after figuring out the issue.

[2019-12-17 09:49] jakaruna-MSFT commented on #44659
@MSSedusch   Assigned this issue to you.
Please close the issue once the new extension is released.

[2019-12-17 10:05] HerbertBodner commented on #13560
The issue in the C# example is this line:
`string stringToHash = "POST\n" + jsonBytes.Length + "\napplication/json\n" + "x-ms-date:" + datestring + "\n/api/logs";`

which should be replaced with this:
`string stringToHash = "POST\n" + json.Length + "\napplication/json\n" + "x-ms-date:" + datestring + "\n/api/logs";`

So the server does not expect the amount of bytes, but the amount of characters.

[2019-12-17 10:05] jakaruna-MSFT commented on #44340
@amuthusa can you go through my last comment and add your comments

[2019-12-17 10:08] shashishailaj commented on #44455
@memildin Could you please review this ask and see how the documentation can be made better and clear in terms of how pricing would be calculated ?

[2019-12-17 10:15] candidson opened #44793 "PowerShell Core - Microsoft.Azure.Commands.Batch.Models"
I am running the set of commands with PowerShell Core on UNIX. I keep getting following error message:  `Microsoft.Azure.Commands.Batch.Models.PSVirtualMachineConfiguration : The term 'Microsoft.Azure.Commands.Batch.Models.PSVirtualMachineConfiguration' is not recognized as the name of a cmdlet, function, script file, or operable program.`
Do the commands work for *powershell core*. If so, could y

[2019-12-17 10:16] shashishailaj commented on #44454
@pstapf Thank you for pointing this out , we have fixed this. The link now points to the correct article here https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-email. We will now close this issue.

Thank you.

[2019-12-17 10:16] #44454 closed

[2019-12-17 10:19] AshokPeddakotla-MSFT commented on #44636
Adding author @arduppal for further clarity and to update the doc as appropriate.

[2019-12-17 10:20] JDWNL opened #44794 "Security Admin Role incomplete description"
The Security Admin role says: "In Security Center only: Can view security policies, view security states, edit security policies, view alerts and recommendations, dismiss alerts and recommendations", however, the security admin can do much more than administer ASC (namely everything withing Microsoft that remotely relates to Security (including MDATP, Azure Sentinel, MCAS, etc.) Note the Microsoft

[2019-12-17 10:22] ManojReddy-MSFT commented on #20442
@andyadamides You have to use the following command for CLI

az ad sp update --id <Object ID of the service principal> --set "appRoleAssignmentRequired=true"

[2019-12-17 10:31] neeleshray-msft commented on #44788
@rogereriksen  Thank you for the feedback. We will review and update accordingly.

[2019-12-17 10:31] neeleshray-msft commented on #44794
@JDWNL Thank you for the feedback. We will review and update accordingly.

[2019-12-17 10:37] shashishailaj commented on #44184
@msozgen Thank you for the information , I have requested clarification on this from the product group . If they provide any new information , we will have the article updated. In case they would need more data I will let you know the engagement procedure.

Thank you.

[2019-12-17 10:44] mybayern1974 opened #44795 "Is there any programming way to get available Availability Zones within a certain region?"
As the email title. The expected is at least there are programming ways to tell whether a certain region support availability zones?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cca70845-100f-2cfd-aba3-34b7fa4a5264
* Version Independent ID: 475b26e5-9e23-f769-3bd5-cbc4a678dbf0
* Content: [What are Azure Availability

[2019-12-17 10:45] #44103 closed

[2019-12-17 10:49] MaStr11 commented on #28441
Are there any updates regarding this issue?

[2019-12-17 10:49] ChangeTheCode commented on #44709
thank you @jlian this helps me.

[2019-12-17 11:07] AshokPeddakotla-MSFT commented on #44020
@rbrundritt Please check this issue and provide your insights.

[2019-12-17 11:09] ArsalanSaleemGhuman opened #44797 "./certGen.sh create_edge_device_ca_certificate "MyEdgeDeviceCA" gives error"
`$ ./certGen.sh create_edge_device_ca_certificate "MyEdgeDeviceCA"
Usage: create_root_and_intermediate                   # Creates a new root and intermediate certificates

install_root_ca_from_files <path to certificate> <path to private key> <private key password>  # Sets up a CA file and creates an intermediate signing certificate. Both key and certificate are expected to be in PEM format

inst

[2019-12-17 11:13] jesperilsoenielsen commented on #44396
@jakaruna-MSFT  Thank you for your answer.

Does it mean that
1. the behavior described in case 1.1 is as intended, but the behavior described in the other cases (2.2, 2.3, and 2.4) is not?
2. the IP address of the nodes where the Guest Executable service replica deployment has failed, i.e., case 2.2, 2.3, and 2.4, will not be included in the IP list returned by the DNS service in a future release

[2019-12-17 11:24] shashishailaj commented on #44472
@rohitnarula7176 @negoe I have checked the details and I could not find the correct link for the MSAL.Js reference pages as [mentioned here](https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-v2-libraries#microsoft-supported-client-libraries) .

I was trying to find something similar to reference pages about [MS authentication Library for ObjC](https://azuread.github.io/micr

[2019-12-17 11:27] ArsalanSaleemGhuman commented on #44797
issue is fixed in latest master branch i just pulled. so i am closing this issue.

[2019-12-17 11:27] #44797 closed

[2019-12-17 11:31] jakaruna-MSFT commented on #44272
@sauryadas @jluk Please add your comments

[2019-12-17 11:41] AkosBatorfi commented on #31188
I have the same issue, with the same configuration. On the [hashicorp site ](https://discuss.hashicorp.com/t/winrm-timeout-when-using-windows-server-2016-skus/4470) I'm seeing others have the same issue, and indeed if I change from "2016-datacenter" to "2019-datacenter" the build runs just fine. This is happening for me both in Azure Devops with hosted agents as on my own laptop.

[2019-12-17 11:42] SumanthMarigowda-MSFT commented on #44444
@dcbrown16 Apologies for delay in responding here!

@tamram Requesting to please add your comments here!

[2019-12-17 11:51] SubhashVasarapu-MSFT commented on #44635
@LTUTE , Appreciate your patience. We have edited the document accordingly with the respective hyperlink. It will take sometime for the changes to get reflected over the document.

[2019-12-17 11:54] KrishnaG-MSFT commented on #44764
@Cescante Glad to know that you have self resolved and hence closed this issue. Thanks for the update. Just FYI - In future, if you share any feedback under this azure-docs repo then please mention Azure documentation link / URL to which feedback is related to. This helps us to provide you better assistance.

[2019-12-17 11:55] jakaruna-MSFT commented on #44484
@gerrynicol I will update here when i have some info

[2019-12-17 11:56] akav opened #44798 "Deploying a Windows supporting AKS cluster using 1.14.6 not possible in regions such as West Europe"
Following the instructions for deploying a cluster in West Europe (and possibly other regions) using 1.14.6 is not possible as that version is not available for the region. However shift to a later release such as 1.15.5 enables a Windows node pool without issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6de70aec-

[2019-12-17 12:00] #44635 closed

[2019-12-17 12:06] KrishnaG-MSFT commented on #44792
@MaikelW Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-12-17 12:10] SubhashVasarapu-MSFT commented on #44697
@JleruOHeP , Appreciate your patience. We have edited the document accordingly with the right commands. It will take sometime for the changes to get reflected over the document.

[2019-12-17 12:12] #44691 closed

[2019-12-17 12:15] jeanpoelie commented on #44681
azure-cli                         2.0.77

command-modules-nspkg              2.0.3
core                              2.0.77
nspkg                              3.0.4
telemetry                          1.0.4

[2019-12-17 12:16] jakaruna-MSFT commented on #44793
@candidson
Thanks for the question! We are investigating and will update you shortly.

[2019-12-17 12:16] #44697 closed

[2019-12-17 12:17] jakaruna-MSFT commented on #44793
@candidson Can you give me the version of powershell core and the azure powershell which you used?

[2019-12-17 12:17] iskrenv opened #44799 "Role Based Access"
What kind of Role Based Access is required for PAL? (Reader, Contributor, Owner, Any)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f901056-c225-b086-cdaa-c8bd978db64c
* Version Independent ID: 9c067eb4-54cb-e141-d82f-e136ff3c671e
* Content: [Link an Azure account to a partner ID](https://docs.microsoft.com/en-us/azu

[2019-12-17 12:19] shashishailaj commented on #44468
@stefanwiele Yes it is in preview as of now as per the [My apps document](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/access-panel-workspaces) . We have updated the article.

Thank you.

[2019-12-17 12:19] #44468 closed

[2019-12-17 12:27] DixitArora-MSFT commented on #44791
Hi @Ballzer0 Thanks for your feedback. We will review and update as appropriate.

[2019-12-17 12:42] carolchiz opened #44800 "Enabling access for SharePoint online"
Thank you - both MS and Google documentation have changed since this was written but it is a good enough approximation.
I am not able to make this work for SharePoint Online: mydomain.sharepoint.com - the gmail user is returned to the choice between a Microsoft or Organisation account. Can anyone help?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-12-17 12:46] sn1ce commented on #44510
Hey all!
As i can see, the "typo" still exists.
https://docs.microsoft.com/de-de/azure/terraform/terraform-create-vm-scaleset-network-disks-hcl
In english as in german aswell.

For beginners its hard to find, so mabye you can check, if it's corrected?

Point - Add a ssh jumpbox ; Number 3 in the first block - azurerm_public_ip

greetings!

[2019-12-17 12:57] mikaelsand commented on #44630
I know all this, but that was not my question. I was wondering, since the username is connected to the activity, and in the end incentment, how does this relate to the service connection, as that is almost always not connected to a user, and never to a partner login ID.

[2019-12-17 13:10] dcurwin commented on #44590
Thanks for the suggestion. The document has been updated.

#please-close

[2019-12-17 13:10] #44590 closed

[2019-12-17 13:10] dcurwin commented on #40221
The documentation has been updated.

#please-close

[2019-12-17 13:10] #40221 closed

[2019-12-17 13:12] BillyA7 commented on #43632
Hi,
I have two VM's using 10 vCPU's that show as "Stopped (deallocated)" 16 hours ago in the portal, but they still show as being used in Usage + Quotas:

Standard DSv3 Family vCPUs - Microsoft.Compute - UK South - 100% - 10 of 10
Total Regional vCPUs - Microsoft.Compute - UK South - 100% - 10 of 10

Should they not be released.

To test, I am able to create a Standard B1s from the free services p

[2019-12-17 13:14] SumanthMarigowda-MSFT commented on #44506
@CeciAc The PR merged has been done.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-17 13:14] #44506 closed

[2019-12-17 13:16] ajakupov commented on #44733
There is no article explaining how to use Custom Translator API, that is why we are facing some challenges using this service from the code.
[Here](https://custom-api.cognitive.microsofttranslator.com/swagger/#/) is the link to the API.
We are going to automate the [training ](https://docs.microsoft.com/en-us/azure/cognitive-services/translator/custom-translator/overview)with a web service that wi

[2019-12-17 13:20] SubhashVasarapu-MSFT commented on #44641
@LostinCloud , Hope this is the document you were referring to? Please let us know for further analysis.

[2019-12-17 13:25] artisticcheese commented on #44563
Question was for Azure Service Fabric not standalone installation. Azure Service Fabric is still not supporting WIndows 2019

[2019-12-17 13:25] ilayn opened #44802 "There is no Debug Console anymore for package deployment"
Kudu page has all different options. Also node package deployment shouldn't be optional since this is valid for 100% of the products hence it is already creating error prone deployments.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b47363e3-c36f-0755-819c-26946013d673
* Version Independent ID: 197c63a1-9f72-1049-f27e

[2019-12-17 13:29] SubhashVasarapu-MSFT commented on #44712
@sumitjoshi , Appreciate your patience. We have edited the document accordingly. It will take sometime for the changes to get reflected over the document.

[2019-12-17 13:30] ciberesponce opened #44803 "Broken MD"
#6 has broken MD link
"(just-in-time VM access")[security-center-just-in-time.md]"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06951b9a-8933-8307-371a-e9b008eb8f65
* Version Independent ID: 7a5b1269-5397-17a5-634d-4e39773dbf93
* Content: [Use Azure Security Center recommendations to enhance security](https://docs.mi

[2019-12-17 13:33] #44712 closed

[2019-12-17 13:34] SumanthMarigowda-MSFT commented on #44320
@cwsusa Apologies for the delay in responding here! Timestamp is not the file timestamp, but is instead the log timestamp, IIRC which the logs have a tendency to be mostly the same time for
    Info about the file would exist under MessageContent

I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related

[2019-12-17 13:34] #44320 closed

[2019-12-17 13:35] ciberesponce opened #44804 "Missing RBAC for Ellen/CISO"
We map all roles to specific RBAC models except for Ellen, the CISO.  Can we add it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10c4b9ab-975f-4050-65fa-2d510ac93fbb
* Version Independent ID: d3a90700-a503-1b65-983c-5356ffb93610
* Content: [Security Center Planning and Operations Guide](https://docs.microsoft.com/en

[2019-12-17 13:35] SumanthMarigowda-MSFT commented on #44278
@owlyowl Apologies for delay in responding here!
At the moment, using the storage emulator is broken. This is a known issue that has an open PR. https://github.com/Azure/azure-storage-azcopy/pull/743 should fix this.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen

[2019-12-17 13:35] #44278 closed

[2019-12-17 13:38] crow-ua commented on #44738
@Mike-Ubezzi-MSFT I agree, but I'm having a hard time finding correct repo on GitHub to report it If you help finding it, I can recreate the issue in appropriate place.

[2019-12-17 13:44] candidson commented on #44793
@jakaruna-MSFT Thanks for getting back that fast. I am using *Powershell Core* v6.2.3 and Azure Powershell (az module) v2.6.0

[2019-12-17 13:45] shashishailaj commented on #44482
@msmimart Could you please help and update the document as needed on this ?

[2019-12-17 13:50] shashishailaj commented on #44803
@ciberesponce Thank you for pointing this out . We will review this and update the thread.

[2019-12-17 13:51] SadiqhAhmed-MSFT commented on #44799
@iskrenv Thanks for the feedback. We are looking into this and will get back to you shortly.

[2019-12-17 13:52] SadiqhAhmed-MSFT commented on #44799
@baanders and @dhirajgandhi For help.

[2019-12-17 13:53] dhirajgandhi commented on #44799
PAL supports all the roles. The different OCP programs have different rules for recognition which are based on roles.

[2019-12-17 13:53] Martony78 commented on #44231
Of course I know Graph API can be protected by CA, I asked if it was included in "Azure Management". I suppose not since you are not able to clearly answer this simple question.
That means protecting "Azure Management" is pretty useless since I have never seen a hacker using the Azure portal... he would prefer using Graph API and/or PowerShell and in that case this Baseline Policy (or Security Def

[2019-12-17 14:03] JayaC19 commented on #43842
Hello Brett,

Thank you for your response.

This is regarding SR : 119082122001799. You have helped us with this case (ICM : 142614388) to understand that those lines of codes were causing the issue with the dependencies in the Application Map.

Please let me know if you would want me to share any further details.

Regards,
Jaya Chatterjee

Developer Support Engineer | Azure App Services
Email: Ja

[2019-12-17 14:06] SumanthMarigowda-MSFT commented on #44556
@thgsiddhimorajkar Have you tried with SAS option?

Manage access: Access control lists on files and directories

You can associate a security principal with an access level for files and directories. These associations are captured in an access control list (ACL). Each file and directory in your storage account has an access control list.
If you assigned a role to a security principal at the stor

[2019-12-17 14:08] #44803 closed

[2019-12-17 14:09] shashishailaj commented on #44803
@ciberesponce We have fixed this . The changes will be live in the next 24-48 hours as per next release cycle.

Thank you.

[2019-12-17 14:13] MikeForster100 commented on #44645
Exactly the same error! shame was looking forward to this!

[2019-12-17 14:14] shashishailaj commented on #44804
@ciberesponce Thank you for your feedback . We will engage the content team on this for review.

[2019-12-17 14:15] shashishailaj commented on #44804
@memildin Could you please review the ask and see how best we can improve the document.

[2019-12-17 14:17] #44490 closed

[2019-12-17 14:20] #44487 closed

[2019-12-17 14:23] smed1na opened #44805 "Incomplete information when moving subscription between Management Groups"
#Page and section reported
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/governance/management-groups/manage.md#move-subscriptions-in-the-hierarchy

#Issue description
When trying to move the subscription to another MG, the following error might be reported:
[code]
This occurs because a role assignment is defined in the subscription, using a role definition which scope is above

[2019-12-17 14:31] dimitri-furman commented on #44786
@gotqn `tempdb` is located on local SSD storage, not on a RAM disk.

[2019-12-17 14:32] NavtejSaini-MSFT commented on #44781
@Anand-Moghe Please provide the screenshot for the same and also give us the region that you are trying to create the MySQL db in. This would help us to work on this further.

[2019-12-17 14:34] NavtejSaini-MSFT commented on #44786
@gotqn Please let us know if you have any further question or we will close this by EOD.

[2019-12-17 14:35] dimitri-furman commented on #44787
@gotqn Yes, you can connect to Hyperscale readable secondary replicas from SSRS by configuring the SSRS data source to have ApplicationIntent=ReadOnly in its connection string. Note that if you have multiple readable secondary replicas, each new connection can land on a different secondary replica.

[2019-12-17 14:38] NavtejSaini-MSFT commented on #44787
@gotqn Thanks for the question. Please let us know if any further question or we will go ahead and close the thread by EOD.

[2019-12-17 14:44] DashleenBhandari-MSFT commented on #44790
@sanchetanparmar , Could you please share the document that you are referring to.

[2019-12-17 14:47] DashleenBhandari-MSFT commented on #44795
@mybayern1974 ,Thanks for raising the issue. We will investigate and update you.

[2019-12-17 14:50] DashleenBhandari-MSFT commented on #44798
@akav, Thanks for raising the issue. We will investigate and update you.

[2019-12-17 14:50] DashleenBhandari-MSFT commented on #44800
@carolchiz , Thanks for raising the issue. We will investigate and update you.

[2019-12-17 14:51] DashleenBhandari-MSFT commented on #44802
@ilayn , Thanks for raising the issue. We will investigate and update you.

[2019-12-17 14:52] DashleenBhandari-MSFT commented on #44805
@smed1na , Could you please provide the document you are referring to.

[2019-12-17 15:02] KrishnaG-MSFT commented on #44576
@osorito Thanks for pointing that out! Verified and updated the document as required i.e., updated [prerequisites](https://docs.microsoft.com/en-us/azure/automation/automation-first-runbook-textual-powershell#prerequisites) section with the instruction to import required Azure modules based on the cmdlets you use in your runbooks.

At this point it appears that there's no other edits or updates ne

[2019-12-17 15:02] #44576 closed

[2019-12-17 15:05] smed1na commented on #44805
This is the specific document and section I'm reporting the issue for:
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/governance/management-groups/manage.md#move-subscriptions-in-the-hierarchy

[2019-12-17 15:07] SwathiDhanwada-MSFT commented on #44376
@JasperCodes We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2019-12-17 15:07] #44376 closed

[2019-12-17 15:11] monostereo007 commented on #38987
Hi could you pls navigate me where to enable Public IP ? Thank you

[2019-12-17 15:12] TheDhejavu opened #44806 "Azure Machine learning fails when trying to deploy model"
I'm currently trying to deploy a model on azure and expose it's endpoint to my application but I kept running into errors
**DEPLOYMENT CODE**

[code]
**ERROR**

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34201ee9-62ca-1ffc-ac23-01a742d5ba64
* Version Independent ID: 20c4fd76-e65d-c9e5-a5a8-fe91790aa99b
* Con

[2019-12-17 15:15] lechnerc77 commented on #44739
@cgillum : Thanks for the fast reaction and the clarification!

[2019-12-17 15:23] Scottie2z commented on #44658
That is correct @adityabalaji-msft, I am in a US Gov region which would explain the inconsistency.

[2019-12-17 15:45] sanchetanparmar commented on #44790
@DashleenBhandari-MSFT  i am referring - https://docs.microsoft.com/en-us/azure/virtual-machines/windows/build-image-with-packer

[2019-12-17 15:46] lechnerc77 opened #44807 "Durable Entity and Interaction with Orchestration Trigger"
The example given in the section [Example: Orchestration signals and calls an entity](https://docs.microsoft.com/en-US/azure/azure-functions/durable/durable-functions-entities#example-orchestration-signals-and-calls-an-entity) with the following findings:
- 'signalEntity' does not exist on type 'DurableOrchestrationContext'
- Calling the code as shown leads to a never stopping orchestration functi

[2019-12-17 15:47] ElanShudnow opened #44808 "Health Probe Source IP"
In Azure Load Balancer, it is documented what the source IP Address is: https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-custom-probe-overview#probesource.

For Application Gateway, I don't see anything similar as to what Source IP for probing is.  Any chance this can be documented?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-12-17 15:51] mohibakhan opened #44809 "Data Retention in warm storage in TSI"
The slide that Chandrika showed showed 400 days of data retention in TSI.  However, in the flow diagram, warm data storage shows 30 days of data retention.  Which is it?  I am assuming it is 400 days since TSI GA allows upto 400 days of storage.  Please correct this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7554

[2019-12-17 15:53] KumariSupriya commented on #43938
Hi,

This is by design as we cache the nonce value. When two calls with different nonce are made from the Vm, the first call‘s nonce is cached and returned for the caching duration for all subsequent calls. Because of this we can’t use nonce for validation currently. We are looking into options to change this design  and will update when we make progress here.

Thanks
Supriya

Sent from my Phone

[2019-12-17 16:04] tudort-iquest opened #44810 "Wrong method names ( DeleteIfNotExists and DeleteIfNotExistsAsync)"
Above, the phrase '...The DeleteIfNotExists and DeleteIfNotExistsAsync methods...'
I assume the correct names should be DeleteIfExists and DeleteIfExistsAsync
(https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.storage.blob.cloudblobcontainer.deleteifexists?view=azure-dotnet-legacy
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.storage.blob.cloudblobcontainer.deleteifexistsas

[2019-12-17 16:06] PramodValavala-MSFT commented on #44597
@cloudmelon I wasn't able to reproduce the same error. Could you force restore nuget packages for your solution and try again?

[2019-12-17 16:06] BhargaviAnnadevara-MSFT commented on #44499
@IGx89 We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-12-17 16:06] #44499 closed

[2019-12-17 16:23] AndreasMWalter opened #44812 "Increase vCores or storage space"
It is not possible at the present time to slide the slider. Can you clarify what must be done to scale the storage (and or vCores).

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1997df41-0ae1-63a9-c27f-9a348ffc7499
* Version Independent ID: a0870873-07c9-1039-006b-ae472d0eeac7
* Content: [Scale server group - Hypersca

[2019-12-17 16:25] clemensv opened #44813 "Incorrect command"
The command

[code]

does not work with Helm 3. The option --name is unknown.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd0e7d5a-37e9-07dc-f395-9cb5bb580e45
* Version Independent ID: 7e4faf70-9724-7e7b-832b-1cd99a974920
* Content: [Create a basic ingress controller in Azure Kubernetes Service (AKS)](https://docs.m

[2019-12-17 16:40] cloudmelon commented on #44597
Can you share your csproj so that I could compare with mine ? Thanks

Best wishes from the UK
Melony

[2019-12-17 16:43] seetharamanis commented on #21475
System.Data.SqlClient Version 4.8.0 work either.  Use 4.6.0 or 4.5.1.

[2019-12-17 16:44] jflynn129 opened #44814 "Call the direct method section, BackEndApplication/azure-iothub-service-client failure."
I am trying to run the direct method example 'BackEndApplication.py'.  I have followed the instructions but when I get to the part that it says to execute, the response is:

Traceback (most recent call last):
  File "BackEndApplication.py", line 9, in &lt;module&gt;
    import iothub_service_client
  File "/home/xilinx/.local/lib/python2.7/site-packages/iothub_service_client/__init__.py", line 1,

[2019-12-17 16:44] gregfiske opened #44815 "Include link or description to get Docker running"
To follow up on #25404, there is a nice explanation of why Docker is important before creating the development cluster and how to confirm it is running but no link or description of how to get it running.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3aa58af5-02ea-e425-1fc5-9f588d394016
* Version Independent ID: 86440

[2019-12-17 16:46] NavtejSaini-MSFT commented on #44812
@AndreasMWalter It is not possible to do this currently using slider. You need to create a ticket with support to do this.
We are aware that it is not mentioned in the portal or document any where. We are trying to add this information in Portal blade. But the realistic time we are looking at having that message there is early next year.
Let us know if you have any other question,

[2019-12-17 16:57] santhoshbomma9 opened #44817 "Do we have state called Provisioning?"
The doc above describes about a state [Provisioning](https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/pc-saas-fulfillment-api-v2#provisioning)? But the state which a subscription can be in as per the I can see in the api are  [NotStarted, PendingFulfillmentStart, Subscribed, Suspended, Unsubscribed]. Should the doc be updated?

---
#### Document Details

⚠ *Do not edit this

[2019-12-17 16:58] drajput commented on #41558
@rubeneric @vijayapotturu  Thanks for the feedback. This is now fixed ([Updating .NET core version to latest (3.1). #49](https://github.com/Azure-Samples/IoTEdgeAndMlSample/pull/49))

[2019-12-17 17:03] m455954 commented on #44645
Hi @FramkHu-MSFT

I'm getting the same on a brand new Windows 10 Enterprise 1909 VM. AADJoin completes successfully - I can see the VM in my list of devices in AAD, but cannot RDP to it (Your credentials did not work). The machine I'm RDP'ing from is AAD joined.

AAD Operations log contains multiple couplets of event 1025

Http request status: 400. Method: GET Endpoint Uri: https://login.microsoft

[2019-12-17 17:12] trevorbye commented on #44266
@8forty this looks like an environment bug to me. What python and sdk versions are you on? In general, 3.6.5 works best and then make sure you have the newest sdk version.

[2019-12-17 17:19] PeterCLu commented on #42953
@joshheitzman-redcley-v-joheit-msft  Thanks for your report. The article fix will be live in a few days, we shall proceed to close this issue, #please-close.  If you feel that your issue has not been resolved, please reopen the documentation issue and provide additional context. For product issues, contact technical support.

[2019-12-17 17:19] #42953 closed

[2019-12-17 17:20] #40604 closed

[2019-12-17 17:20] jmelosegui commented on #44134
@NavtejSaini-MSFT , @anosov1960 any follow up on this?

[2019-12-17 17:25] mhopkins-msft commented on #42228
Hi @AkshayTharval,

A new quickstart article using the latest version (v12) of the Python library will be published this week. We may keep this article around for people using the previous version. If so, we'll label it with the version to which it applies.

Thanks for your feedback!
 ~ _Mark_

#please-close

[2019-12-17 17:25] #42228 closed

[2019-12-17 17:29] allan-mobley-jr commented on #44437
I have yet to receive an adequate explanation as to why I am being charged almost a hundred dollars for bandwidth for merely deploying two Azure Function Consumption plans, one to the East US region and the other to the Central US region.

It is quite telling that once I deleted the two Azure Function Consumption plans that the charges for bandwidth stopped. Pops always used to say the proof is in

[2019-12-17 17:33] mhopkins-msft commented on #43329
Hi @kwontae

The following article has info about authenticating with a service principle: https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-msi

Thanks for your feedback!
 ~ _Mark_

#please-close

[2019-12-17 17:33] #43329 closed

[2019-12-17 17:34] ChristianMontoya commented on #44484
@gerrynicol : Azure AD Domain Services does support GPOs: https://docs.microsoft.com/azure/active-directory-domain-services/manage-group-policy . However, my team has not specifically tested GPOs on Azure AD Domain Services.

[2019-12-17 17:36] mhopkins-msft commented on #32438
#reassign:yzheng-msft

[2019-12-17 17:43] sethmanheim commented on #44743
@niico100 Thank you for the report! I can fix this. Will do ASAP.

[2019-12-17 17:45] rbrundritt commented on #44020
In 99.9% of cases it isn't needed, but in the last 0.1% it can make the difference of a single pixel which can be the difference from one tile to another.

[2019-12-17 17:46] apulliam opened #44819 "Download instructions need update"
The instruction “Download the sample C# project, and extract the ZIP archive” should indicate that you’re not just downloading the sample for the article, you’re downloading all the IoT samples.. It should say “Download the Azure IoT C# samples, and extract the ZIP archive”

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-12-17 17:48] #44439 closed

[2019-12-17 17:48] apulliam opened #44820 "Instructions need full path of samples archive"
The instruction "In another local terminal window, navigate to device-streams-proxy/service in your unzipped project folder" should say "In another local terminal window, navigate to Quickstarts/device-streams-proxy/service in your unzipped project folder"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c49da09-47e7-6d

[2019-12-17 17:49] MikeWilcoxMicrosoft opened #44821 "How to use the Ubuntu App for this Quickstart"
In case you would like to use the Ubuntu app on Windows 10 for this quickstart, here are some sample steps to get you going.
1) Start the Ubuntu app on Windows 10
 Install node
# sudo apt install nodejs
Find your installed node version
# node –version
If needed, install  NVM  so you can install a later verson of node  eg:  v12.13.1
Reference:  https://tecadmin.net/install-nodejs-with-nvm/
Install

[2019-12-17 17:55] AndreasMWalter commented on #44812
I have got lots of questions, not sure this is the right place to ask them.
For example how smooth will the process run, how long will it take for support to grow the disks.
(The customer in question has premier support as far as I remember)
But most importantly, can it be scaled down if necessary or is it upscaling only...
I assume some of the questions are best asked elsewhere.

However thanks f

[2019-12-17 17:56] SumanthMarigowda-MSFT commented on #44530
@jofrance Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

@msmbaldwin  Requesting you to please add your comments here

[2019-12-17 17:59] jlian commented on #44709
Absolutely, I'm trying to put in some time to work on that this month.

[2019-12-17 17:59] himanshusinha-msft commented on #44766
@djpmsft Thanks for the reply on this .
@GabrielOrAnder . We are going ahead an closing this issue at this time , you can always reopen this issue if you think that's appropriate .

[2019-12-17 17:59] #44766 closed

[2019-12-17 18:02] PeterCLu commented on #44725
#assign:@lobrien

[2019-12-17 18:05] sethmanheim commented on #44743
Done. This should be published after 3 PM Pacific time. #please-close

[2019-12-17 18:05] #44743 closed

[2019-12-17 18:06] PeterCLu commented on #42953
@joshheitzman-redcley-v-joheit-msft , upon further investigation. The current files seems to run. This may be a versioning issue. Can you verify your python and sdk versions? In general, 3.6.5 works best and then make sure you have the newest sdk version.

[2019-12-17 18:08] ElanShudnow opened #44823 "Confusing V2 Private Listener Statement"
"For the Application Gateway v2 SKU, you can only choose Public frontend IP configuration. Only Private frontend IP configuration is currently not enabled for this v2 SKU. You can have both Public and Private frontend IP configuration."

Please re-read this.  It first says that you cannot have private frontend IP Configuration (confusing grammar in this sentence).  Then it says you can have both P

[2019-12-17 18:12] mhopkins-msft commented on #40179
Hi @billbliss,

I saw same the issue when using the Azure Storage Emulator. I tried the code against an actual storage account instead of the emulator and it seems to work fine. I will let the emulator team know about this problem.

Going forward, [Azurite](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azurite?toc=%2fazure%2fstorage%2fblobs%2ftoc.json) is the supported emulator

[2019-12-17 18:12] #40179 closed

[2019-12-17 18:12] tamram commented on #44810
@tudort-iquest - Thanks for catching that error! I have fixed it, and the update should be live in the next several hours.

#please-close

[2019-12-17 18:12] #44810 closed

[2019-12-17 18:17] saurabh2996 opened #44824 "SAP Guide about data management link not available"
[Enter feedback here]
"Data reduction and data migration plan for migrating SAP data into Azure. For SAP NetWeaver systems, SAP has guidelines on how to limit the volume of large amounts of data. See this SAP guide about data management in SAP ERP systems. Some of the content also applies to NetWeaver and S/4HANA systems in general."

https://help.sap.com/http.svc/rc/2eb2fba8f8b1421c9a37a8d7233da5

[2019-12-17 18:20] NavtejSaini-MSFT commented on #44812
@AndreasMWalter Thanks for the questions. Support will be able to help you with all these questions. This will be best way forward.
We are going ahead closing this thread for now but if you have any further question or need any help with support as well, you can respond here and we can continue the dialogue.

[2019-12-17 18:23] Mike-Ubezzi-MSFT commented on #44738
@crow-ua I have escalated this to the PG but need to follow this up with an Azure support request. Please file an issue with support but, if you do not have an [Azure Support Plan](https://azure.microsoft.com/en-us/support/plans/), please send to me your [Azure Subscription GUID](https://blogs.msdn.microsoft.com/mschray/2016/03/18/getting-your-azure-subscription-guid-new-portal/) to [AzCommunity](

[2019-12-17 18:29] amuthusa commented on #44340
Hi Karishma,
     I tried few of the SKU which was specifically available from
listAvailableSizes call when the VM is in deallocated state and it failed.
When I combine the results from resource sku's api to eliminate the
restricted skus it works. The main question is can the list available sizes
just give the valid sizes based on the subscription we use (filter out the
sku's which is not valid fo

[2019-12-17 18:32] Alberto-Vega-MSFT commented on #44797
Hi @ArsalanSaleemGhuman I'm glad you resolve the issue.  Was the "download the Zip" link that caused the issue? Did you resolved it by using git clone instead? I just would like to learn how we can make this tutorial work for everyone the first time.

[2019-12-17 18:34] mhopkins-msft commented on #25157
@kritcs18 Thanks for the feedback! I have created a work item to created tutorials in other languages, in addition to C#. It has been added to our work backlog.

Thanks!
 ~ _Mark_

#please-close

[2019-12-17 18:35] #25157 closed

[2019-12-17 18:36] lostmygithubaccount opened #44825 "az ml dataset --show-template gives error"
Per doc under "Dataset Management":

For information on the format of the JSON file used to define the dataset, use az ml dataset --show-template.

Tried it:

![image](https://user-images.githubusercontent.com/54814569/71024090-04cffe80-20b9-11ea-8a4d-e5631771fc72.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31f

[2019-12-17 18:37] nberdy commented on #43818
hi @levi106 , did you ONLY purchase device certificates directly and did NOT purchase an intermediate certificate that is unique to you (chain looks like [root]>[device/leaf] or [root]>[3rd party/not-customer intermediate]>[device/leaf])?

If so, and if you just want to connect the devices directly (no Device Provisioning Service) then you should add the public portion of the individual device cer

[2019-12-17 18:40] Alberto-Vega-MSFT commented on #44809
@mohibakhan Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.  @deepakpalled @KingdomOfEnds Would you please look into this?

[2019-12-17 18:43] YutongTie-MSFT commented on #44825
@lostmygithubaccount
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-17 18:45] mhopkins-msft commented on #32200
Hi @bog-dan,

I new quickstart for Queues that uses the v12 APIs will be published this week. Thank you for the feedback.

 ~ _Mark_

#please-close

[2019-12-17 18:45] #32200 closed

[2019-12-17 18:50] mhopkins-msft commented on #35301
#pri2

[2019-12-17 18:56] Karishma-Tiwari-MSFT commented on #44824
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-17 19:07] MarileeTurscak-MSFT commented on #44749
I made a pull request to remove these. @msmbaldwin please confirm.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/99237

[2019-12-17 19:07] #44749 closed

[2019-12-17 19:08] 8forty commented on #44266
python 3.6.5, sdk 1.0.76 originally (see title of this issue), and I'm getting the same problem on 1.0.79 now

[2019-12-17 19:11] CeciAc opened #44826 "Change in variable names"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.de-de/issues/607

@vstokelbusch commented 10 hours ago — with docs.microsoft.com
Hi,
the caption of "iso6391Name" in the output JSON was changed to "iso6391_name". Same goes for the node "detectedLanguages", which is now "detected_languages". Additional node in the output is "additional_properties", but I'm not sure what