[2020-03-30 01:05] RonnieQuan opened #51206 "Rephase Create multi-tier applications"
It's little bit hard to understand following statement
Use VNet Integration to connect the backend of your front-end web app with a subnet in a VNet
I guess the backend refers to backend pool of application gateway

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae743313-9367-b465-e31a-5beae33018d1
* Version Independent

[2020-03-30 01:26] jashsayani opened #51207 "Provisioning does nothing despite success message"
I followed the docs. It said provisioning was successful but SSO was not configured automatically using the API, and none of the users were imported.

#### Users in GSuite Admin:
<img width="764" alt="Screen Shot 2020-03-29 at 6 20 31 PM" src="https://user-images.githubusercontent.com/18684/77867027-5c1e5880-71ea-11ea-98bb-0bc4723f4564.png">

#### Success message after Provisioning status turned "

[2020-03-30 01:32] sasedlock commented on #51205
I have finally been able to get around this, but I will again repeat that the first step (at least for me) was not possible until I signed up for a paid subscription - which is a callout sorely missing from this tutorial

[2020-03-30 01:40] mike-urnun-msft commented on #51180
@robcamer Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-03-30 01:41] mike-urnun-msft commented on #51182
@vikramdadwal Thank you for your feedback! We will review and update as appropriate.

[2020-03-30 01:41] MikeWilcoxMicrosoft opened #51208 "Documentation suggestion - Add a new type screen should show 'catagorical' vs 'numeric'"
Please take a look at the screen shot in the attachment.  Should the  new type screen show 'catagorical' vs 'numeric' ?

[Bug032920.docx](https://github.com/MicrosoftDocs/azure-docs/files/4400358/Bug032920.docx)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd2725bb-44ba-bff1-7dee-f90139eee785
* Version Independent ID

[2020-03-30 01:42] mike-urnun-msft commented on #51183
@new-kirte Thank you for your feedback! We will review and update as appropriate.

[2020-03-30 01:48] MikeWilcoxMicrosoft opened #51209 "Use the Power BI connector and visualize data in Power BI is mentioned but not in the Tutorial?"
'Use the Power BI connector and visualize data in Power BI.' is mentioned but not in the tutorial ?    Would a link to 'https://docs.microsoft.com/en-us/azure/time-series-insights/how-to-connect-power-bi ' help ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd2725bb-44ba-bff1-7dee-f90139eee785
* Version Independent I

[2020-03-30 01:48] RonnieQuan opened #51210 "Clarify subscription of an app or a plan"
You cannot change the subscription of an app or a plan while there is an app that is using Regional VNet Integration

Are we referring to move an app or a plan to a different subscription?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a98803-1438-b1b5-f543-7dd88bc4294e
* Version Independent ID: 37ff1d0f-ed8e-5e4d-1f

[2020-03-30 02:09] MonikaReddy-MSFT commented on #51014
@cijothomas - Thanks for providing the details.
@joshmouch , Thanks again for bringing this to our attention. I hope the answer provided by @cijothomas was helpful.
Since there are no doc updates/changes at this moment, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reop

[2020-03-30 02:09] #51014 closed

[2020-03-30 02:28] ram-msft commented on #51189
@krishdevan Is there a specific doc that you are referring to there? If so, could you please share the same?

[2020-03-30 02:30] AshokPeddakotla-MSFT commented on #51209
@MikeWilcoxMicrosoft Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-30 02:32] AshokPeddakotla-MSFT commented on #51208
@MikeWilcoxMicrosoft Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-30 02:32] ram-msft commented on #51191
@asichaib Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-30 02:36] AshokPeddakotla-MSFT commented on #51185
@solankigithub Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-30 02:37] AshokPeddakotla-MSFT commented on #51192
@njbuch Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-30 02:54] rockboyfor opened #51212 "Resource reservations formula."
According to content about Resource reservations.  Does it mean that the following formula  missing the 0.75G reserved memory?
Original formula:
 `(0.25*4) + (0.20*3) = + 1 GB + 0.6GB = 1.6GB / 7GB = 22.86% reserved`
To  the following formula:
`0.75 + (0.25*4) + (0.20*3) = 0.75GB + 1 GB + 0.6GB = 2.35GB / 7GB = 33.57% reserved`
and It meet the following description in articles:
it will report 34%

[2020-03-30 02:55] SubhashVasarapu-MSFT commented on #51195
@omerzubair , We are looking into this query and will update you as soon as possible.

[2020-03-30 03:05] PramodValavala-MSFT commented on #51184
@soeirodefaria Thanks for the question! We will review and get back to you!

[2020-03-30 03:06] PramodValavala-MSFT commented on #51190
@v-karbovnichy Thanks for the feedback! We will review and update accordingly.

[2020-03-30 03:06] PramodValavala-MSFT commented on #51193
@markleavesley Thanks for the feedback! We will review and update accordingly.

[2020-03-30 03:06] AshokPeddakotla-MSFT commented on #50818
Thanks for looking into this @kgremban.
@elhorton We hope that addresses your question. Do let us know if you have further questions.

[2020-03-30 03:07] PramodValavala-MSFT commented on #51196
@wj109s5 Thanks for the feedback! We will review and update accordingly.

[2020-03-30 03:07] PramodValavala-MSFT commented on #51197
@3vi1 Thanks for the question! We will review and get back to you!

[2020-03-30 03:08] PramodValavala-MSFT commented on #51200
@AKonCloud Thanks for the feedback! We will review and update accordingly.

[2020-03-30 03:09] PramodValavala-MSFT commented on #51206
@RonnieQuan Thanks for the feedback! We will review and update accordingly.

[2020-03-30 03:10] PramodValavala-MSFT commented on #51207
@jashsayani Thanks for the question! We will review and get back to you!

[2020-03-30 03:10] PramodValavala-MSFT commented on #51210
@RonnieQuan Thanks for the question! We will review and get back to you!

[2020-03-30 03:11] PramodValavala-MSFT commented on #51212
@rockboyfor Thanks for the question! We will review and get back to you!

[2020-03-30 03:16] SubhashVasarapu-MSFT commented on #51195
@omerzubair , As of now Private endpoint connections on Event Hubs are only supported by namespaces created under a dedicated cluster.
![image](https://user-images.githubusercontent.com/44890829/77871783-cd99ed80-7262-11ea-9ccf-889656634303.png)

Please refer this [doc](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-dedicated-cluster-create-portal) on creating a dedicated cluster in

[2020-03-30 03:25] CHEEKATLAPRADEEP-MSFT commented on #51205
@sasedlock  This is known issue with Azure.

To all our Azure SQL Data Warehouse customers,

Please read the following communication pertaining to this ongoing issue: [Our commitment to customers and Microsoft cloud services continuity. ](https://azure.microsoft.com/en-us/blog/our-commitment-to-customers-and-microsoft-cloud-services-continuity/).

If you are in a situation where you are in an imme

[2020-03-30 03:32] AshokPeddakotla-MSFT commented on #50650
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-03-30 03:32] #50650 closed

[2020-03-30 03:55] hellotorax opened #51213 ""Request was unsuccessful. Details: Property passwordProfile.password is invalid." I am getting this error message even though the template is correct and given passoword in the correct format"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-03-30 04:00] Grace-MacJones-MSFT commented on #51194
Hi @andrewcrayden,  thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate.

@craigshoemaker can you please look into updating this doc?

[2020-03-30 04:26] DixitArora-MSFT commented on #50771
@munkii My Bad. For now I have assigned this to content author for further review and update as appropriate.

[2020-03-30 04:26] ram-suresh commented on #51176
Hi,

Yes, I have created a word file and tried to connect it with the bot.

[2020-03-30 04:39] dcbrown16 opened #51214 "Add examples"
Can we get some examples added to this page?
In particular, the relation between the Connector price and the Action price is confusing. If I have a workflow that uses the same Connector twice, is that charging me the Connector price once AND the Action price twice? Or is it the Connector price twice?
One or two examples that cover simple workflows containing all the different prices would be great

[2020-03-30 04:46] anthonychu commented on #40134
@Hazhzeng @mike-urnun-msft What's the guidance on this now?

[2020-03-30 04:56] SumanthMarigowda-MSFT commented on #51154
@Cloudmersive Can to direct us which paragraph link has broken?

[2020-03-30 04:59] Gujie-Novade opened #51215 "Repo doesn't show in list to deploy to Function app"
I'm trying to configure the automatic deployment of the function app when a push is made on master.
The problem is that the repository doesn't show up in the list (but some do).
I followed the link to the doc but it seems it is no longer up to date.
Especially this part:
`Settings > Applications > Authorized OAuth Apps`

There is no `Applications` section anymore...

---
#### Document details

⚠ *

[2020-03-30 05:00] SumanthMarigowda-MSFT commented on #51129
@ameenmohamed Can you elaborate more on your query? What exactly are facing the issue?
If you are getting any error code or error message,please share the screen shot?

[2020-03-30 05:17] ketan-chawda-msft commented on #51214
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-30 05:23] VikasPullagura-MSFT commented on #51057
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-03-30 05:25] SumanthMarigowda-MSFT commented on #51083
@jmorcar
![image](https://user-images.githubusercontent.com/44606021/77877915-b532ce80-7274-11ea-9820-4392c95d3a60.png)

![image](https://user-images.githubusercontent.com/44606021/77877965-dbf10500-7274-11ea-8a43-96ab385a8c98.png)

The command looks perfect I was able to create an premium Azure file share

[2020-03-30 05:25] WagdyIshac opened #51216 "Nested virtualization on all V3 VMs"
in the second paragraph it's mentioned "all v3 virtual machines support nested virtualization" However the NC v3 ones doesn't. Is this correct ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ffa9c12-4fdc-118a-4e84-624cbcc3f4c8
* Version Independent ID: 6c5b1d1f-78a1-2c79-b37d-0367d76269da
* Content: [How to enable ne

[2020-03-30 05:26] gowthamsans opened #51217 "Use of Event stamp date and time"
I would like to know the advantage of event stamp date and time, i have followed all the recommendations state above in the document and i could get the sign in start time and sign in end time, but i need to know exact time the policy had consumed to let the user sign in. I checked claim transformation for subtracting sign in and sign up time, but there is no such option given.

[2020-03-30 05:27] gowthamsans opened #51218 "Use of Event stamp date and time"
I would like to know the advantage of event stamp date and time, i have followed all the recommendations state above in the document and i could get the sign in start time and sign in end time, but i need to know exact time the policy had consumed to let the user sign in. I checked claim transformation for subtracting sign in and sign up time, but there is no such option given.

---
#### Document

[2020-03-30 05:33] ram-msft commented on #51213
@hellotorax Is there a specific doc that you are referring to there? If so, could you please share the same?

[2020-03-30 05:34] VikasPullagura-MSFT commented on #51190
@mimckitt
Can you please check and add your comments on this doc update request as applicable.

[2020-03-30 05:35] ram-msft commented on #51218
@gowthamsans Is there a specific doc that you are referring? If so, could you please share the same?

[2020-03-30 05:36] gowthamsans commented on #51218
https://docs.microsoft.com/en-us/azure/active-directory-b2c/analytics-with-application-insights

I was referring to the above doc

[2020-03-30 05:39] SumanthMarigowda-MSFT commented on #50938
@marceardz Your question has been shared with the content owner for further review.

[2020-03-30 05:39] neeleshray-msft commented on #50857
@codemaker You would find the "**_Risky Sign-In_**" under the **Security** section in the **Azure Active Directory** blade. Ref: **[Risky sign-ins report](https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/concept-risky-sign-ins)**
We would we closing this thread now. Let us know if you need further help.

[2020-03-30 05:39] #50857 closed

[2020-03-30 05:43] SumanthMarigowda-MSFT commented on #50852
@Firstly, apologies for the delay in responding here! I have assigned the issue to the content author to investigate further and update the document as appropriate.
 Azure Storage Queues are for message-passing.
You may refer to this article: [Upload image data in the cloud with Azure Storage](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-upload-process-images?tabs=dotnet)

[2020-03-30 05:43] ChiragMishra-MSFT commented on #50939
@normesta Can you please take a look at this?

[2020-03-30 05:44] neeleshray-msft commented on #50975
@junztan This seems to be an intermittent issue with some of your devices. We would need to have a closer look at your environment. Suggest you to open a **[Technical Support Ticket](https://azure.microsoft.com/en-in/support/create-ticket/)** with us so that our engineers can work with you on the same.

[2020-03-30 05:44] #50975 closed

[2020-03-30 05:46] srinayani commented on #50833
Ye,s thank you.

[2020-03-30 05:47] #50939 closed

[2020-03-30 05:48] ram-msft commented on #51217
duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/51218.

[2020-03-30 05:48] #51217 closed

[2020-03-30 05:52] ChiragMishra-MSFT commented on #51048
@djpmsft Can you please take a look at this ?

[2020-03-30 05:54] SumanthMarigowda-MSFT commented on #50740
@ali-elgabri We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-30 05:54] #50740 closed

[2020-03-30 05:58] VikasPullagura-MSFT commented on #51200
@MashaMSFT
Can you please check and add your comments on this doc update request as applicable.

[2020-03-30 05:59] XavUnsg opened #51219 "Page uses .NET Core 2.2 and installer redirect to end of life message"
The page _Tutorial: Build an ASP.NET Core and SQL Database app in Azure App Service_ needs an update as it seems to use an outdated version of .NET core (2.2.)

When following the instruction, at the second instruction, I get this error message

[code]
Then going to the recommended webpage to install the correct version, I get a warning message :

`This release has reached end of life, meaning it

[2020-03-30 06:02] SumanthMarigowda-MSFT commented on #50744
@cveld Apologies for delay in responding here!

https://azure.microsoft.com/en-in/updates/classic-alerting-monitoring-retirement/

[New tool available to migrate from classic monitoring alerts](https://azure.microsoft.com/en-in/updates/classic-alerting-migration/)

As stated earlier, the classic monitoring and alerting platform currently usable from the Alerts (classic) section of Azure portal wil

[2020-03-30 06:02] #50744 closed

[2020-03-30 06:07] SumanthMarigowda-MSFT commented on #50748
@smartpcr Have you referred to the suggestion mentioned by @maliksahi
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-03-30 06:07] #50748 closed

[2020-03-30 06:09] SnehaAgrawal-MSFT commented on #51219
@XavUnsg Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-30 06:11] ram-msft commented on #50760
@oo2316oo We’re working on enabling private IP for compute instance in near future.Until we do that you can use public IP and use predefined NSGs as defined in the [doc](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-enable-virtual-network#compute-instance).
@aashishb can you please check on this.

[2020-03-30 06:21] RohitMungi-MSFT commented on #51089
@juskuz Yes, the asterisks are not required in this query. We have raised a PR to fix this in the document. The changes should be in the document as soon as the PR is merged.

[2020-03-30 06:21] Niclas1976 commented on #50703
Yes, I think it should be named [accountdisabled].

From: SaurabhSharma-MSFT <notifications@github.com>
Sent: den 27 mars 2020 17:23
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Karlin, Niclas <niclas.karlin@kollmorgen.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Block? (#50703)

CAUTION: EXTERNAL e-mail. Please think before clicking on any

[2020-03-30 06:26] VikasPullagura-MSFT commented on #51197
@3vi1 Checking with internal team on this.

[2020-03-30 06:28] VikasPullagura-MSFT commented on #51144
@dkkapur
Can you please check and add your comments on version not supporting as documented. Also, please check if this doc needs to be updated as applicable.

[2020-03-30 06:31] CHEEKATLAPRADEEP-MSFT commented on #49484
@mamccrea Could you please update the document as appropriate?

[2020-03-30 06:34] ram-msft commented on #50870
@CealClem Once click on the app service in the portal, please click on the configuration to see the application settings as shown below. Please follow the below snapshot for the same.
![image](https://user-images.githubusercontent.com/49180516/77882132-fc718d00-727d-11ea-8f71-6e44d65684e4.png)

[2020-03-30 06:45] ram-msft commented on #50878
@lengyuan Thanks for the details. @IEvangelist Can you please confirm on this.

[2020-03-30 06:53] jmorcar commented on #51083
Yes --kind, but It's wrong documented wint "-Kind", one hyphen and uppercase.

[2020-03-30 06:54] smkrjlnn opened #51220 "Can not run this example"
Getting an Exception when trying to add item. TodoText.Text' threw an exception of type 'System.InvalidOperationException.
What am I missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f20598f-7093-dc72-a96d-858547b176e1
* Version Independent ID: b4433406-2a42-72ec-7d6b-2b20f9b14ce9
* Content: [Call a ASP.NET Web

[2020-03-30 06:56] ketan-chawda-msft commented on #50879
@allanmoller Since there is no doc update required at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-30 06:56] #50879 closed

[2020-03-30 06:58] slavizh opened #51221 "CassandraRequests are missing"
CassandraRequests are missing. Should be specified in this documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e65b6971-ea56-5e85-b199-d357fbc97580
* Version Independent ID: 219058ac-5460-a33f-bec1-810f40cd2be7
* Content: [Monitor Azure Cosmos DB data by using Azure Diagnostic settings](https://docs.microsoft

[2020-03-30 07:00] brent-robinson opened #51222 "Wildcard path rule backend routing"
The documentation isn't clear on how requests will be routed to the backend with wildcard (*) path based matching.

If I have a **path based rule** for
`/images/*`

And a **backend HTTP settings** path of
`/myimages/`

When I send a request to
`/images/image1.png`
will it route to the backend at
`/myimages/image1.png`
?

What if I request
`/images/collection1/myimage.png`
Will it route to
`/myimag

[2020-03-30 07:05] znatan commented on #23789
what's the backlog item name we can track to see this issue to resolution?

[2020-03-30 07:08] hugohhk opened #51223 "System error 1396 has occurred. The target account name is incorrect."
I received the error below when trying to map the drive on an on-premises device using "net use" cmd. Couldn't find this error code from the troubleshooting page.
"System error 1396 has occurred.
The target account name is incorrect."

1. "Join-AzStorageAccountForAuth"  ran successfully with Provisioning State shown as Succeeded.
2. The Computer Account in local AD was already created successfully

[2020-03-30 07:09] msrini-MSFT commented on #51222
@brent-robinson  , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-30 07:14] hugohhk opened #51224 "System error 1396 has occurred. The target account name is incorrect."
I received the error below when trying to map the drive on an on-premises device using "net use" cmd. Couldn't find this error code from the troubleshooting page.
Error:
"System error 1396 has occurred.
The target account name is incorrect."

1. "Join-AzStorageAccountForAuth" ran successfully with Provisioning State shown as Succeeded.
2. The Computer Account in local AD was already created succes

[2020-03-30 07:14] #51223 closed

[2020-03-30 07:17] Grace-MacJones-MSFT commented on #50833
Are you still experiencing the issue or has the issue been resolved? @srinayani

[2020-03-30 07:23] Matusa69 commented on #50998
Hi Sneha,
problem is not on the name resolution but that beeline command failed with
error:

*java.lang.NullPointerException*

Then I have updated the Hive JDBC driver with latest version:

wget
https://archive.apache.org/dist/hive/hive-3.1.2/apache-hive-3.1.2-bin.tar.gz

tar -xvzf apache-hive-3.1.2-bin.tar.gz

and same beeline command works fine.

So my question is if there is any relation betwee

[2020-03-30 07:23] Grace-MacJones-MSFT commented on #51215
Hi @Gujie-Novade, thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

Can you share with us what link you're referring to?

[2020-03-30 07:24] balajisn opened #51225 "SSO link if users doesn't exist on Azure"
As per the video, it conveys that a user will be required to be created when a new user signs in.  But, in the case when my own website has the authentication logic for the existing users, and the users are unavailable on Azure, how can I get the SSO link as there will be no userId available on Azure?  Please advise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-03-30 07:28] amanmcse commented on #51196
@wj109s5 While registering an application using App Registration (preview), you need to select "**Accounts in any organizational directory or any identity provider. For authenticating users with Azure AD B2C**" as highlighted below:

![image](https://user-images.githubusercontent.com/33834131/77885576-e1eee200-7284-11ea-9a2e-e1ceb7fa1ef1.png)

Also, you need to enable Implicit Flow, to post ID tok

[2020-03-30 07:31] mike-urnun-msft commented on #51223
Hi @hugohhk - Let us know if you were following a specific MS Doc and needed any assistance.

[2020-03-30 07:32] SnehaAgrawal-MSFT commented on #51219
@XavUnsg Thanks again for the feedback! Could you please refer to https://github.com/MicrosoftDocs/azure-docs/issues/50537 might be helpful.
Let me know.

[2020-03-30 07:34] PramodValavala-MSFT commented on #51225
@balajisn To quote the doc (under [the delegating developer sign-in and sign-up section](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-setup-delegation#-delegating-developer-sign-in-and-sign-up))

So, even though the user maybe authenticated in your system, the first time they try to access the APIM portal, a user should be created for them (ideally with the same usern

[2020-03-30 07:40] KevinPanJun opened #51226 "how to get the error logs when init()"
I am new in Azure ML and hope this is the right place for my question.
I get the following error message while deploying my model.
      Your container application crashed. This may be caused by errors in your scoring file's init() function.
      ...From the AML SDK, you can run print(service.get_logs()) if you have service object to fetch the logs.
      You can also try to run image azurevision

[2020-03-30 07:41] RohitMungi-MSFT commented on #51167
@yoichinak Thanks for noticing this. AP appears to be a measure of the model performance and summarizes the precision and recall at different thresholds.

@anrothMSFT Can we add more details about AP in this document as the screen shot in the document is also missing this field but is visible in the portal with only a tooltip explaining it feature. It would be great if we can include more details

[2020-03-30 07:42] SnehaAgrawal-MSFT commented on #51210
@RonnieQuan Thanks again for the question! Yes you are correct. If your app is using Regional VNet Integration you cannot change the subscription to different subscription of an app or a plan.

[2020-03-30 07:46] SychevIgor commented on #18771
looks like nobody care

[2020-03-30 07:49] SychevIgor commented on #39500
@AshokPeddakotla-MSFT any news? 6 months after a request- it's a good time to answer or close it

[2020-03-30 07:49] KalyanChanumolu-MSFT commented on #51068
This is being assigned to the content author to provide more context and update the documentation as appropriate.

[2020-03-30 07:50] SychevIgor commented on #45119
nobody care?

[2020-03-30 07:51] SychevIgor commented on #48224
@MohitVerma-MSFT any news?

[2020-03-30 07:52] KalyanChanumolu-MSFT commented on #51221
@slavizh Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-03-30 07:55] VikasPullagura-MSFT commented on #51212
@mlearned
Can you please check on this query of reservation formula and add your comments on doc update request as applicable.

[2020-03-30 07:56] Gujie-Novade commented on #51215
Here it is: https://docs.microsoft.com/en-sg/azure/app-service/deploy-continuous-deployment#option-1-use-app-service-kudu-build-server

Look for the Note: `If you don't see any repositories, you may need to...`

[2020-03-30 08:06] solankigithub commented on #51185
ok, this was because i was using the older version of iot sdk. you perhaps needs to change it in the documentation as well. The latest version is 1.21.0
    <dependency>
  		<groupId>com.microsoft.azure.sdk.iot</groupId>
  		<artifactId>iot-service-client</artifactId>
  		<version>1.21.0</version>
	</dependency>

[2020-03-30 08:09] KalyanChanumolu-MSFT commented on #51156
@mailtogurvindersingh You will be able to restore the backup to any server.
You can use the below and cmdlet specify the ServerName parameter

[code]

Do let us know if you have further questions.

[2020-03-30 08:10] Robulane commented on #51188
Yes, I have bounded staleness consistency.

[2020-03-30 08:12] KalyanChanumolu-MSFT commented on #51131
@markusalbe Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-03-30 08:12] DashleenBhandari-MSFT commented on #50970
@v-tawe , There’s some confusion here between using the Package Manager console (which is technically PowerShell) in VS and the PowerShell commandlet Install-Package in plain-ol’ PowerShell.

The article does state using the Package Manager console, which is probably what most VS users do.

We could change the code block from ```powershell to ```ps, which is what the Package Manager docs use.

Ple

[2020-03-30 08:14] DashleenBhandari-MSFT commented on #50511
@svangeti , We have not heard back form you. I will go ahead and close the issue. Please feel free to reopen if you need further assistance.

[2020-03-30 08:14] #50511 closed

[2020-03-30 08:14] DashleenBhandari-MSFT commented on #50627
@crgarcia12 , We have not heard back form you. I will go ahead and close the issue. Please feel free to reopen if you need further assistance.

[2020-03-30 08:14] #50627 closed

[2020-03-30 08:14] KevinPanJun opened #51227 "how to reference the other python files in the score.py"
I am new in Azure ML.
i am trying to reference other python files in score.py. The python files are in the sub folder of score.py's path like following.
       ---score.py
                   lib/utils.py
But the reference like: "from lib.utils import some_function" doesn't work.

Is there any setting i missed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-03-30 08:23] Naveenkhasyap opened #51228 "How to train If data-set is more than 52Mb size"
Hi ,
During training i came to know that If my train dataset folder content is more than 52 Mb size it throws error saying exceeding the limit , how can i overcome this and if not what are the other options to train large dataset.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18818774-5076-cb76-ee9e-4ecb632b6caa
* Ver

[2020-03-30 08:26] ram-msft commented on #50902
I have assigned this to content author to update as appropriate.
@don-d-kim can you please check on this.

[2020-03-30 08:35] hugohhk commented on #51223
Yes. I was planning to post the question under this Doc:
https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-auth-active-directory-enable#regional-availability
Sorry for my wrong post. I have already created a new post under that MS Doc.
Thanks!

[2020-03-30 08:38] PramodValavala-MSFT commented on #51049
@3vi1 Just following up here... Is there a specific doc that you are referring to there?

[2020-03-30 08:49] msrini-MSFT commented on #51222
@brent-robinson ,

When I send a request to
/images/image1.png
will it route to the backend at
/myimages/image1.png                               --> This is correct.

What if I request
/images/collection1/myimage.png
Will it route to
/myimages/collection1/myimage.png       --> This is correct.

I have tested it in my environment.

Request from my browser: http://20.44.40.74/images/collection1/myi

[2020-03-30 08:50] PramodValavala-MSFT commented on #51158
@prashantma Here are the answers to your queries

[Azure Key Vault](https://docs.microsoft.com/en-in/azure/key-vault/key-vault-overview) is the recommended azure service for securely storing secrets for use by applications

https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-management-libraries

If secrets are being stored in KeyVault, you can use use the relevant SDK in your

[2020-03-30 08:52] PramodValavala-MSFT commented on #51176
@ram-suresh You seemed to have missed sharing the doc URL in your last comment.

Please note that his repository is primarily for addressing doc feedback. For other queries, its best to create a post on [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home) or [StackOverflow](https://stackoverflow.com/) to engage the community for larger visibility.

[2020-03-30 08:54] #50435 closed

[2020-03-30 08:55] kummanish commented on #51068
We are in the process of publishing the docs with CLI. We will get it out shortly.

[2020-03-30 09:01] shikshik commented on #51215
Same issue here when trying to deploy a repository to a deployment slot. I can see all repositories except for those I need.
To clarify, we already did CI/CD from GitHub to those (missing) repositories for the main slot, it's just not showing when doing a slot deployment.
The same issue applies to all build providers.

[2020-03-30 09:02] jakaruna-MSFT commented on #51177
@arvindr9 you need to buy a certificate from a certificate authority or use the free cert from lets encrypt

[2020-03-30 09:03] jakaruna-MSFT commented on #51141
@amthomas46 i hope your user id has permissions to access both subscriptions.

Please share the error message if you are facing one

[2020-03-30 09:05] jakaruna-MSFT commented on #51058
@turing-complet I am closing this issue now. You can submit a feedback as mentioned in the previous comment.

Also open a new issue if you need further clarifications

[2020-03-30 09:05] #51058 closed

[2020-03-30 09:10] ketan-chawda-msft commented on #50905
@divyaswarnkar / @ecfan any thoughts here?

[2020-03-30 09:13] jakaruna-MSFT commented on #51103
@jonwbstr for completing this tutorial, openlogic is not required right

[2020-03-30 09:13] manueljesusrd opened #51230 "Additional firewall exceptions in production scenario??"
We're running IoT Edge in a **production** scenario, where a **firewall** is already up, too. In order to let all communications work as intended, we **allowed** all communications as described in the **doc**.

In the last two weeks or so, we've had some problems when updating our IoT Edges. What we've done is basically update some of them to the runtime 1.0.9-rc5 version, which has some features

[2020-03-30 09:18] spaelling commented on #8390
Apologies for necroing this issue, but this is an absurd limitation. Moving something on the control plane should not affect the data plane, and vice versa. Removing SSL bindings on a web app essentially breaks it. For a large number of web apps hosted on the same app service plan, you may be looking at hours of downtime while the apps a migrated to a different resource group, and then re-establis

[2020-03-30 09:34] SubhashVasarapu-MSFT commented on #50758
@kariyukisusumu , Appreciate your patience. The doc you are referring to is no more available in that section. Azure VWAN supports only IKEV2 and OPENVPN.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-03-30 09:34] #50758 closed

[2020-03-30 09:46] townendk commented on #50422
Hi @Jimbos10, thank you for the update.

@Viswanadham-k - I've been experiencing the same in West Europe, so not sure if that helps the troubleshooting.

[2020-03-30 09:51] ram-msft commented on #50899
@dargilco Raised a PR #https://github.com/MicrosoftDocs/azure-docs-pr/pull/109476 for the same.

[2020-03-30 09:52] AdamSharif-MSFT opened #51231 "Download URL for Kubectl is for MacOS and not Linux"
If you try to follow these steps on Linux (i.e. Ubuntu), you'll get the following error when you try to execute kubectl:

exec format error: kubectl

The correct download command for Linux based systems is:

curl -LO "https://storage.googleapis.com/kubernetes-release/release/v1.18.0-beta.2/bin/linux/amd64/kubectl"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-03-30 09:55] ram-msft commented on #50898
I have assigned this to content author to update as appropriate.
@don-d-kim can you please check on this.

[2020-03-30 10:02] ram-msft commented on #50897
I have assigned this to content author to update as appropriate.
@don-d-kim can you please check on this.

[2020-03-30 10:05] ram-msft commented on #50901
I have assigned this to content author to update as appropriate. @don-d-kim can you please check on this.

[2020-03-30 10:10] ram-msft commented on #50892
I have assigned this to content author to update as appropriate.
@don-d-kim can you please check on this.

[2020-03-30 10:25] haymansfield opened #51232 "Clarification on VM restarts and deallocation"
It would be useful to know whether or not a restart command issued from the portal causes a temporary deallocation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be8729fb-9c09-1872-be3f-8a0dc1a93d38
* Version Independent ID: 51bba8e0-91a8-38c0-5ec2-9309687985b9
* Content: [Lifecycle and states of a Windows VM in Azure

[2020-03-30 10:36] ram-msft commented on #51226
@KevinPanJun Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-30 10:37] ram-msft commented on #51227
@KevinPanJun Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-30 10:38] ram-msft commented on #51228
@Naveenkhasyap Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-30 10:44] Naveenkhasyap commented on #51228
@ram-msft thanks for the update, one more thing do you guys maintain error code definition somewhere , I can take a look at them.
got his **3012** `internal error`

[2020-03-30 10:45] rohitchouhan08 opened #51234 "Localization string ID"
i am unable to find Localization string IDs for "An account could not be found for the provided user ID"

[2020-03-30 10:50] VikasPullagura-MSFT commented on #51231
@AdamSharif-MSFT Thanks for pointing this out, I have updated the doc and the changes will go live soon.

[2020-03-30 10:54] AshokPeddakotla-MSFT commented on #50774
@Alexp2019 Following up to see if you had a chance to see the above response.

[2020-03-30 10:55] #51231 closed

[2020-03-30 11:01] ManmohitSingh10 opened #51236 "How can we use property iteration for setting field 'Delegation' in subnet using ARM template"
I am not able to set 'delegation' field in subnet using the copy iteration of property in the ARM template for VNET creation.

COPY BLOCK:

                "copy": [
                    {
                        "name": "subnets",
                        "count": "[length(parameters('subnets'))]",
                        "input": {
                            "name": "[parameters('subnets')[copyIn

[2020-03-30 11:12] AshokPeddakotla-MSFT commented on #51185
@solankigithub Glad to hear that your issue is resolved. A Note has already been mentioned in the doc to check the latest version of iot-service-client using **Maven search**.

![image](https://user-images.githubusercontent.com/44426435/77905788-82083380-72a4-11ea-8842-103dce719144.png)

However, adding author @wesmc7777  for further investigation to check incase if this issue is related with the

[2020-03-30 11:12] #51185 closed

[2020-03-30 11:19] jimmymcpeter opened #51238 "Link to msdn blog post broken"
Hello, the link on this page `For more information, see the blog post at Apply Row-Level Security to all tables - helper script (blog).` pointing to `https://blogs.msdn.com/b/sqlsecurity/archive/apply-row-level-security-to-all-tables-helper-script` is broken.

I believe the following link is an archive of the post -- `https://techcommunity.microsoft.com/t5/sql-server/apply-row-level-security-to-al

[2020-03-30 11:20] rohitchouhan08 opened #51239 "Localization string ID"
i am unable to find Localization string IDs for "An account could not be found for the provided user ID"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 986c1f85-07c7-ec91-d4fb-d5da5676c6f1
* Version Independent ID: 98782e9a-7697-52a3-754c-e1c6527401bb
* Content: [Localization string IDs - Azure Active Directory B2C](ht

[2020-03-30 11:28] VikasPullagura-MSFT commented on #51130
@pavankumarda2136 Based on the error it looks to be an access issue.

Did u try below suggestion as mentioned in the troubleshooting guide [here](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/troubleshooting-shared-images#unable-to-create-a-vm-or-a-scale-set)?

Contact the subscription owner and ask them to give read access to the image version or the parent resources (like the s

[2020-03-30 11:34] amanmcse commented on #50935
@kaylakirzinger user_impersonation is a delegated permission and you should get it as a scp when requesting a token in user's context and not under application context. When you use client_credentials flow, you should be providing application permission and not delegated permission. You should get user_impersonation scp in the token if you use Authorization_Code flow.

[2020-03-30 11:34] #50935 closed

[2020-03-30 11:38] wukun2015 commented on #51111
Any update please ?

[2020-03-30 11:38] pemar-MSFT opened #51240 "Trigger and daylight savings"
This doc should make clear that Triggers support only UTC and therefore daylight savings should be manually updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d564675-f719-57fc-a406-6aec51d26b29
* Version Independent ID: 84124e8f-efad-274f-c2eb-40a04748296c
* Content: [Pipeline execution and triggers in Azure Dat

[2020-03-30 11:40] lgmorand commented on #50860
@iainfoulds  The reason of my issue is logged here: https://github.com/Azure/azure-cli/issues/12594

It's a bug of CLI. so next week, it will work but from what you say, it'll not supported for AKS.

[2020-03-30 11:41] wpbrown opened #51241 "Missing property environmentVariables"
There is no mention of `environmentVariables` in the property list. It should probably also be referred to in the "Pass secured strings to deployment script" section.

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/resources/resource-manager/Microsoft.Resources/preview/2019-10-01-preview/deploymentScripts.json#L584

---
#### Document Details

⚠ *Do not edit this section. I

[2020-03-30 11:45] jakaruna-MSFT commented on #51216
@WagdyIshac

[2020-03-30 11:53] jakaruna-MSFT commented on #51232
@haymansfield During restart, underlying host for the VM wont change. So it wont go to the deallocating state

[2020-03-30 11:59] dotnetgator opened #51242 "Please indicate details for the Input/Output Claims"
Presumably:
* userIdForMFA is a String & Required
* strongAuthenticationPhoneNumber is a PhoneNumber (does it require this name as well and/or PartnerClaimType? - on re-red, it seems it is the case, but the usual "table" description would be good for consistency) & Required
* secondaryStrongAuthenticationPhoneNumber - PhoneNumber and optional?
* verified.stringauthenticationphonenumber is PhoneNum

[2020-03-30 12:04] AshokPeddakotla-MSFT commented on #51020
@DeveloperBeginner Please find the below answers to to your questions.

You are referring two different documents. First approach uses Async method to upload a file and second approach uses Block Blobs.

1) The method uploadToBlobAsync Asynchronously upload a stream to the IoT Hub.  The method takes in the file name and stream source of the file to be uploaded and handles the upload to storage.

R

[2020-03-30 12:05] rohitchouhan08 commented on #51239
to localize this i used following id but its not working.
<LocalizedString ElementType="ErrorMessage" StringId="UserMessageIfClaimsTransformationStringsAreNotEqual">sample text</LocalizedString>

[2020-03-30 12:27] x10an14 commented on #23789
Latest news - that I as a private person whom through work speak with some Microsoft experts - can share is (from an unnamed Microsoft Architect K8s Advisor Expert - that's not the title, it's a description of said title) that the [Dashboard Plugin](https://github.com/kubernetes/dashboard) is inherently unsafe and should not be used.

I agree with that statement, and I would ask all future people

[2020-03-30 12:34] MrAzureAD opened #51243 "Article does not fit to new "gsuite" connector"
This article is written for the old G Suite gallery app that referenced the "Goog2OutDelta" connector. The current G Suite gallery app references the "gsuite" connector that has a totally different target schema. Also the the target directory name is no longer "GoogleApps" but "G Suite". Please update the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-03-30 12:38] 3vi1 commented on #51049
https://docs.microsoft.com/en-us/azure/virtual-desktop/set-up-scaling-script

[2020-03-30 12:47] petitbetty opened #51244 "Permission to scale AKS"
I looked through the documentation below, but unfortunately I coudn't find anywhere which  RBAC permission is needed to scale AKS.

I would be very grateful if you could provide an answer to this.

Many thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f41a301e-1baf-984d-74d7-bfaf7156eadf
* Version Independent ID:

[2020-03-30 12:55] dcurwin commented on #51034
Azure File share backup is a snapshot-based solution and storage charges incurred for snapshots are billed along with Azure Files Usage as per the pricing details mentioned [here](https://azure.microsoft.com/pricing/details/storage/files/).

However, the protected instance fee for leveraging the backup solution is according to the pricing model described under the [Backup For Azure Files](https://

[2020-03-30 12:55] #51034 closed

[2020-03-30 12:58] nkol opened #51245 "failed to parse user input due to error: the inferred source/destination combination is currently not supported. Please post an issue on Github if support for this scenario is desired"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-03-30 13:00] nkol commented on #51245
I'm using MAC and azcopy 10 I want to copy data from S3 bucket to my Fileshare using SAS tocken

azcopy cp cp "https://wdw-mongo-backup.s3.eu-central-1.amazonaws.com/test/test.txt"  "https://prodmongobackup.file.core.windows.net/prod-mongo-backup/S3/?SASTOKEN"

and then I get this issue:

failed to parse user input due to error: the inferred source/destination combination is currently not supporte

[2020-03-30 13:02] arvindr9 commented on #51177
@jakaruna-MSFT When I was looking at the instructions from Let's Encrypt about getting a certificate through the shell (https://letsencrypt.org/getting-started/), it tells me to use the Certbot ACME client.

In this link (https://certbot.eff.org/), it states that in order to use Certbot, I need an HTTP website that is open at port 80. However, I think I might not have anything open at port 80. For

[2020-03-30 13:06] KalyanChanumolu-MSFT commented on #51238
@jimmymcpeter Thank you for pointing out the issue and helping us make our documentation better, I have updated the doc accordingly.
The changes should be live EOD or tomorrow.

We will close this issue now.

[2020-03-30 13:06] #51238 closed

[2020-03-30 13:07] stmax82 opened #51246 "Error in Example 2?"
Are there errors in "Example 2"?

It first says that "Contoso Fleet Analytics has 60,000 devices", but then does the calculation with 20,000 devices.

Also the sentence "They are using an IoT Hub 24 partition count of 4 as the Time Series Insights event source." doesn't parse.. what's the 24 doing in "IoT Hub 24 partition count of 4"?

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-03-30 13:13] arjbholu commented on #51184
Hi,

I am also getting the same error

[2020-03-30 13:14] w0ut0 opened #51247 "How does this integration work with multiple Databricks Workspaces?"
Hello,
We have multiple Databricks Workspaces in our subscription/tenant. They are located in the same region.
How does the Enterprise Application in Azure AD know in which DB Workspace the users should be provisioned, as I never (according to the docs) have to enter the organisation ID (like the one in you Databricks URL).

thanks!

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-03-30 13:18] kaylakirzinger commented on #50935
Hey,
this explanation doesn't make sense. I am providing .default as indicated by the documentation and I am still not getting a scp claim. Please re-open.

[2020-03-30 13:19] VOLOTD opened #51248 "Export Knowledge Base in excel format from QnA"
[Impossible to export a knowledge base from QnA in xlsx format. The KB has not yet been published, but I've been able to export in tsv format... Regards]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b62d38a-cace-8b96-a56d-e5dfadc8192b
* Version Independent ID: 21c3de87-8adb-aa2b-2fc7-f7db10315bee
* Content: [Limits

[2020-03-30 13:21] naman1901 opened #51249 "Broken link - Utilize template reference in Advanced topics"
The Utilize template reference link in the Advanced dropdown in the left panel returns a 404.
URL: https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-tutorial-create-encrypted-storage-accounts

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bf283cd-65c2-09ad-0af2-37bf95fe4d90
* Version Ind

[2020-03-30 13:23] #51245 closed

[2020-03-30 13:32] yonkahlon commented on #47611
Hi @RyanHill-MSFT

Any update on when this will arrive? I believe the deadline Apple has set is for June 30, 2020

[2020-03-30 13:34] KrishnaG-MSFT commented on #51236
@ManmohitSingh10 Hope you have self resolved and hence closed the issue. Thanks for the update.

[2020-03-30 13:38] KrishnaG-MSFT commented on #51241
@wpbrown Thanks for the comment.
Assigning content owner @mumian for visibility, review and document enhancement consideration as appropriate.

[2020-03-30 13:43] ManmohitSingh10 commented on #51236
Sorry, closed by mistake, the issue is still open.

[2020-03-30 13:48] arjbholu opened #51250 "Not able to get role assignment"
I am running following command after getting authenticated in Powershell:

_Get-AzureADMSPrivilegedRoleAssignment -ProviderId "aadRoles" -ResourceId "94be56d7-88f4-4964-8b05-7c00cd70d5c8"_

and I am getting the following error:

_Get-AzureADMSPrivilegedRoleAssignment : Error occurred while executing GetAzureADMSPrivilegedRoleAssignments
Code: UnknownError
Message:
InnerError:
  RequestId: 6cef32b3

[2020-03-30 13:51] KrishnaG-MSFT commented on #51236
@ManmohitSingh10 Okay. We will review and provide an appropriate update ASAP.

[2020-03-30 13:53] #51113 closed

[2020-03-30 13:55] DreamRivulet opened #51251 "Login page was enabled since AKS 1.16.x release"
Since AKS 1.16.x release, "az aks browse" will go to the login page:
![image](https://user-images.githubusercontent.com/11328236/77920407-05d81500-72d1-11ea-9572-706a2d3b4d45.png)

also we need to upgrade the az cli to 2.2.0 version to access the dashboard

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ba1dad2-9792-2a

[2020-03-30 13:57] AshokPeddakotla-MSFT commented on #51157
@NethajiDuvarakanathan Looks like you have created a thread on [Stack Overflow](https://stackoverflow.com/questions/60891979/how-to-connect-multiple-mqtt-clients-to-single-iothub-via-jmeter) as well. Please check the suggestions outlined and continue your discussion there for further assistance.

[2020-03-30 14:00] sweeeneey opened #51253 "Specifying schemas with null UNH2.5 values can cause issues"
I am decoding a message with no UNH2.5 value.

Initially, I had mistakenly entered an UNH2.5 value in the agreement GUI. I removed the value, also with the GUI. However, rather than removing the associationAssignedCode property from the JSON definition entirely, the GUI sets the property to an empty string.

While associationAssignedCode is set to an empty string, the decode does not function. Whe

[2020-03-30 14:00] BharathNimmala-MSFT commented on #51249
@naman1901 Thank you for bringing this to our notice, we will look into this and update the document accordingly.

[2020-03-30 14:05] amanmcse commented on #50935
@kaylakirzinger I apologize if I was not able to provide required explanation. Could you please share your understanding of ./default, delegated permissions, application permissions and user_impersonation? I will then respond to this thread accordingly.

[2020-03-30 14:10] #48729 closed

[2020-03-30 14:11] kaylakirzinger commented on #50935
After doing additional reading (because the documentation is entirely unclear on this) I can see that granting a permission as an application permission may get me the roles claim.
I had to do additional reading to find that we have to directly edit the manifest (why?) to add app roles.

So, it seems that in order to have client credentials properly work with V2.0 tokens we need:
1) to edit our ap

[2020-03-30 14:17] LeonardoFelippine opened #51254 "Unsupported scenario clarification"
Hello.

One of the unsupported scenarios is:
"Hybrid Azure AD join is currently not supported if your environment consists of a single AD forest synchronizing identity data to more than one Azure AD tenant."

Does this apply even when users are represented a single time across all tenants (one user synced with one tenant only)?

Regards.

---
#### Document Details

⚠ *Do not edit this section. It

[2020-03-30 14:20] alathrop opened #51255 "Verify image upload"
The documentation implies that images used in the project need to be uploaded ("This code uploads each image with its corresponding tag.") Where are these images uploaded to, and how can they be accessed for deletion? What is the retention policy for images used in custom vision? Is there documentation for the storage options?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-03-30 14:21] tfitzmac commented on #51249
@naman1901 - thanks for letting us know about this issue. I will submit a fix now.

[2020-03-30 14:25] carlomarchesi78 opened #51256 "Wrong RAM number on Standard_E64as_v4"
Standard_E64as_v4: On this page it's mention that it has 512GB RAM, but when I try to deploy it over the Azure Portal, it has only 432GB. Also the Azure Calculator is showing 512GB RAM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fdfbee1-bb47-fdfa-44f9-603b1313359e
* Version Independent ID: 1404915e-3bca-00bf-a15c-

[2020-03-30 14:31] dagiro commented on #50998
@Matusa69 What is the actual command that you are using? Where are you executing the command from?

[2020-03-30 14:31] elhorton commented on #50818
Sounds good, thanks @kgremban ! Yes I’m aware of the options for WSL, I just wanted to point out that the article never made that clear so it would help save others time if there was just a mentioning that WSL users should switch to Windows Docker Desktop for this.

Appreciate the help!
-Elena

[2020-03-30 14:31] #50818 closed

[2020-03-30 14:36] ram-msft commented on #51234
@rohitchouhan08 Is there a doc that you are referring? If so, could you please share the same?

[2020-03-30 14:37] rgamage opened #51257 "Broken link in Next Steps"
Link on how to migrate this code from the 'old library' to the 'new library' is broken.  Link is "Guid to migrate from Microsoft.Azure.EventHubs to Azure.Messaging.EventHubs".  Sure would be nice to have that link...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4c6d63e-95f5-de2c-972b-4da5fe71a6a6
* Version Independe

[2020-03-30 14:37] RohitMungi-MSFT commented on #50940
@v-kydela We have checked for guidance from our product group on this query and here are the recommendations from the team.

To get a list of unlabeled utterances, customer use our download query logs async API:

1)	Trigger download query logs operation: https://westus.dev.cognitive.microsoft.com/docs/services/5890b47c39e2bb17b84a55ff/operations/5ae02c03d5b81c092c6cf2c2
2)	Get query logs operation

[2020-03-30 14:42] spelluru commented on #51257
https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Azure.Messaging.EventHubs/MigrationGuide.md

I just fixed the link but the updated article isn't live yet. Sorry for the inconvenience.

[2020-03-30 14:42] ram-msft commented on #50870
@CealClem We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-30 14:42] #50870 closed

[2020-03-30 14:52] DmitrySikorsky commented on #20701
Hi! Our service needs ability for the users to simply register their accounts (*.ourdomain.com). We can't have it on Azure so are going to move from it. Is there any option that this feature will be present in the near future? Thanks!

[2020-03-30 14:55] djpmsft commented on #51048
@tucane, To override the ARM parameter template, please use the [custom parameters](https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#use-custom-parameters-with-the-resource-manager-template) file.

You create a file called 'arm-template-parameters-definition.json' in root of your git repository and everytime you publish/export an ARM Template, the parameters wi

[2020-03-30 15:01] yoelhor commented on #51239
Please try this one `UserMessageIfClaimsPrincipalDoesNotExist`

[2020-03-30 15:03] jeroenwo commented on #50865
Thanks, I didn't find that information but it explains it perfectly.. Shame it isn't linked in the introduction!

[2020-03-30 15:06] tfitzmac commented on #49674
We'll close for now but it can be reopened if needed.

[2020-03-30 15:06] tfitzmac commented on #49674
#please-close

[2020-03-30 15:06] #49674 closed

[2020-03-30 15:08] mumian commented on #51249
Until it is fixed, you can use this url - https://docs.microsoft.com/azure/azure-resource-manager/templates/template-tutorial-use-template-reference

[2020-03-30 15:10] luisbecerril-ips opened #51258 "Exception when trying to containerize and publish StatelessService in Service Fabric"
I have a .NET Core Reliable Service that is pretty much a template service, obtained from the Add > New Service Fabric Service > .NET Core Stateless Service. This means that it contains the `ServiceEventSource`, a `Stateless1` class that inherits from the `StatelessService` class, and a `Program.cs`. The contents of the `Program.cs` are the default ones:
[code]

Now, this is working fine, I am abl

[2020-03-30 15:12] mamccrea commented on #49484
Sorry for the delay. We do have a ticket open to update this doc.

[2020-03-30 15:13] slopezv2 opened #51259 "Behavior in SQL Database Serverless"
Hi, How is the behavior for a SQL Database Serverless when auditing is on? How can I get logs from a Serverless DB?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c27fe13-a824-84a5-e314-892a27c1dec5
* Version Independent ID: 510b5427-c927-84df-563f-31dfe13fc771
* Content: [Azure SQL Auditing - Azure SQL Database](http

[2020-03-30 15:14] naman1901 commented on #51249
Thank you :)

On Mon, Mar 30, 2020 at 8:38 PM Jonathan Gao <notifications@github.com>
wrote:

[2020-03-30 15:15] SumanthMarigowda-MSFT commented on #51224
@hugohhk Thanks for your question. We are checking on this and will respond to you soon.

[2020-03-30 15:16] mumian commented on #51241
@wpbrown - thanks for the comment.  I will update the article today.

#please-close

[2020-03-30 15:16] #51241 closed

[2020-03-30 15:17] SumanthMarigowda-MSFT commented on #51083
@jmorcar That's correct it works in the both ways

[2020-03-30 15:20] Matusa69 commented on #50998
Hi David Paul,
I followed the steps to install Beeline on a Ubuntu linux workstation from
step 1 to step 6:
https://docs.microsoft.com/en-us/azure/hdinsight/hadoop/apache-hadoop-use-hive-beeline#install-beeline-client

then tested the connection via beeline:

beeline -u 'jdbc:hive2://
zk3-csu-pr.lfeqpg2cvtuedj40mmxgvf4pvd.ax.internal.cloudapp.net:2181,
zk4-csu-pr.lfeqpg2cvtuedj40mmxgvf4pvd.ax.inte

[2020-03-30 15:23] SitecoreAgent opened #51260 "Timeline for Phase 2 is March 31 -> May 11"
We see May 11 (extended) now as the Phase 2 timing, but given the severity of us misunderstanding the communications/emails we have to date -- can you 100% confirm the March 31 timing has been universally moved back to May 11? I don't see document history etc and the consequences of us getting this wrong are high.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-03-30 15:24] stmax82 opened #51261 "Ingress rate"
The table under "Ingress capacity" states an "Ingress rate" of "1 GB (1 million events)".

It's unclear if this is per second, per day, per month,... a "rate" should have a range of time associated with it.

Assuming this is "per month", does this mean that we can transmit up to 1 GB of data OR up to 1 million events per month? Whichever limits hits first. If my events are small, like 135 bytes, I

[2020-03-30 15:26] SitecoreAgent commented on #51260
Sorry, I assumed the article would be linked via metadata. I'm talking about https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-remove-tls-10-11

[2020-03-30 15:26] ecfan commented on #51214
@kevinlam1: Could you help provide some examples that we can put on this page? Thanks!

[2020-03-30 15:31] dagiro commented on #50998
Please try with:
 beeline -u 'jdbc:hive2://clustername.azurehdinsight.net:443/;ssl=true;transportMode=http;httpPath=/hive2' -n admin -p 'password'.
Update "clustername" and "password" with appropriate values.

[2020-03-30 15:39] ChristianMontoya commented on #51197
@3vi1 : Have you added the users to have an RdsRoleAssignment through the PowerShell / REST API? There's an example in the very first tutorial here: https://docs.microsoft.com/en-us/azure/virtual-desktop/tenant-setup-azure-active-directory#create-a-windows-virtual-desktop-tenant .

[2020-03-30 15:43] leo130ms commented on #25357
I'm looking for the same solution. In this we apparently have the possible outbound ips by region: https://docs.microsoft.com/en-us/azure/data-factory/azure-integration-runtime-ip-addresses.
But we still without the IP by instance, as we get in App Service, for example

[2020-03-30 15:43] SaurabhSharma-MSFT commented on #50893
@jonwbstr We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-30 15:43] #50893 closed

[2020-03-30 15:44] SaurabhSharma-MSFT commented on #50794
@linusjody We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-30 15:44] #50794 closed

[2020-03-30 15:44] jeremyZX commented on #44301
When counting towards the 128kb limit, for multipart/form-data POSTs, do you include or exclude boundary definitions and Content-Disposition headers, such as what's shown below?

![image](https://user-images.githubusercontent.com/634106/77932582-bc110f80-727b-11ea-999a-1c1efffde2ac.png)

[2020-03-30 15:45] SaurabhSharma-MSFT commented on #50664
@tsrob50 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-30 15:45] #50664 closed

[2020-03-30 15:45] BeMor81 opened #51262 "Can't see any examples"
An example of where the above sits within the XML would be great for someone who is just wanting to quickly enable CORs. I've been clicking around the sections and fail to find a full example anywhere

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b65dd545-40a3-c8c6-e107-351a2ae5a807
* Version Independent ID: d901525c-

[2020-03-30 15:46] #51249 closed

[2020-03-30 15:47] SaurabhSharma-MSFT commented on #50703
@Niclas1976 ok, I will share this feedback internally with the product team however I suggest you to please post this as a feedback at [UserVoice](https://feedback.azure.com/forums/169401-azure-active-directory). This will allow the community to upvote and for the product team to include into their plans. "This Product" button in at the bottom section of the document now to take you directly to th

[2020-03-30 15:49] SaurabhSharma-MSFT commented on #51239
@yoelhor Thanks for looking into this.

[2020-03-30 15:50] SaurabhSharma-MSFT commented on #51243
@MrAzureAD Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-30 15:52] nchamberlain05 opened #51263 "Azure Sentinel Authorization"
Does Azure sentinel for Azure Government have provisional authorization as of 03/30/2020? It is not reflected within this page

[2020-03-30 15:53] mimckitt commented on #51190
@ayshakeen can you take a look at this one?

[2020-03-30 15:54] iainfoulds commented on #50994
This is noted in the doc already - https://docs.microsoft.com/azure/active-directory/authentication/howto-mfa-nps-extension-vpn#azure-mfa-license

Microsoft 365 Business doesn't include all the capabalities of Azure AD Premium P1 - for more information see https://docs.microsoft.com/office365/servicedescriptions/microsoft-365-service-descriptions/microsoft-365-business-service-description and http

[2020-03-30 15:55] navarro-chamberlain opened #51264 "Azure Sentinel in Azure government"
Does Azure sentinel for Azure Government have provisional authorization as of 03/30/2020? It is not reflected within this page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e27d0b1-56f9-2eb7-8fee-0c47cfbafeac
* Version Independent ID: 12556227-6adc-52c1-ac60-f341ae247e51
* Content: [Azure Services in FedRAMP and DoD

[2020-03-30 15:56] #51263 closed

[2020-03-30 15:56] nchamberlain05 commented on #51263
duplicated

[2020-03-30 15:57] cloudwidth opened #51265 "Outdated SKUs"
The SKUs listed to support active-active configuration are legacy SKUs.  Please update documentation to reflect current virtual network gateway SKUs.

[2020-03-30 16:01] stmax82 opened #51266 "Define what an "event" is further at the top"
The first half of the article talks about events without explaining what events actually are. (I assumed that events are single measurements, which seems to be wrong).

Half way through the article under "Environment planning" it states that:

So an "event" has nothing to do with the number of measurements that I read from my sensors, but with the packet size divided into 1 KB blocks?

I'm still n

[2020-03-30 16:03] tfitzmac commented on #50952
#please-close

[2020-03-30 16:03] #50952 closed

[2020-03-30 16:07] tfitzmac commented on #51236
@ManmohitSingh10 - what type of error are you seeing?

[2020-03-30 16:09] MashaMSFT commented on #51200
Hi @AKonCloud , thanks for bringing this to our attention! I have created an internal tracking item to get this updated ([1698908(https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1698908)]). I'll close out this Git Issue in the meantime but please feel free to comment should you need anything further.

I'll respond via comment once again after the change has been published. In the m

[2020-03-30 16:09] #51200 closed

[2020-03-30 16:12] stmax82 opened #51267 "Maximum allowed event / packet size"
I think you mean "maximum allowed **packet size** is 32 KB", since the maximum **event size** has been limited to 1 KB before.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 750c5eeb-be8d-a927-7c63-1fbce1e92cc0
* Version Independent ID: 6e55272d-b6fa-64df-a7b8-243c28c111bb
* Content: [Plan your GA environment - Azure T

[2020-03-30 16:13] bharathreddy123456 commented on #43832
Yes, we tried it, it works fine as expected. First it displays login screen for split second, then automatically logins to jira. Is this expected or it should directly logins automatically ?

[2020-03-30 16:16] ram-suresh commented on #51176
Hi,

This is the url

https://devopsenabler.sharepoint.com/:w:/s/Connect9/EXHoJKj03OZHhFQbGFxpX1wBjlsAoa64-CHiH78VT7XQJQ?e=c10iSE

[2020-03-30 16:17] SnehaAgrawal-MSFT commented on #51039
@MarkAtAgilliance Thanks for the valuable feedback. I have shared the same with the content owner for further review.

[2020-03-30 16:18] zhusulai opened #51269 "Can we deploy the custom rules using ARM template or Azure CLI?"
Can we deploy the custom rules using ARM template or Azure CLI? If so, can we please provide examples? If there are existing examples, it would be very helpful to have the links included in this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f37e9d2-9044-93ba-8ce5-cd9cc3dc64fc
* Version Independent ID: 4c03470f-

[2020-03-30 16:19] jonwbstr commented on #50894
Opened ticket 120033024003182, and attached a HAR browser trace to
facilitate troubleshooting.

On Sun, Mar 29, 2020 at 12:09 AM Marilee Turscak - MSFT <
notifications@github.com> wrote:

[2020-03-30 16:21] kummanish commented on #50679
@KalyanChanumolu-MSFT if this seems ok can you please close the issue ?

[2020-03-30 16:28] SamirFarhat opened #51270 "The recommended DNS zone names for private endpoints? Recommended or Supported"
Hi,
You mention here that:
"The recommended DNS zone names for private endpoints for storage services are..."
Is this what is recommended or what is supported ?
I deployed a private link using my own private dns zone, the record is created but nslookup does not show the Alias.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-03-30 16:28] madhanan opened #51271 "How do i know if a Service Principal is created for a Managed Identity with the Object ID of the SP?"
Hi,
I was wondering, how to i know with an Object ID whether it is
1. a Normal Service Principal or
2. a Service Principal for the Managed Identity ?

Command :
Get-AzADServicePrincipal -DisplayName "&lt;Name of the MSI&gt;"

The above command will result in SP details, where as i dont know whether this SP is for Managed Identity or not.

Is there a better way to determine using an Managed Identit

[2020-03-30 16:32] ajlam commented on #50552
@rhuanbarreto - sure, here's connection info for a server I've created that has SSL enabled.

**hostname:** mariadb-test-github.mariadb.database.azure.com
**admin username:** admintest@mariadb-test-github

For the password, would you be able to email me at Andrea.Lam@microsoft.com?

[2020-03-30 16:33] mamccrea commented on #50151
Thanks for your patience. We are investigating this issue.

[2020-03-30 16:38] mamccrea commented on #50023
Thanks for your patience. I am working on this update.

[2020-03-30 16:39] sauryadas commented on #50983
The System Assigned MI for use by the cloud provider is rotated every 45 days by the managed service. The UA MI for addons manages the expiry/rotation themseleves.. best to point to their docs. i could not find the docs though. can you ping arturo lucatero?

[2020-03-30 16:39] DimaRazb opened #51272 "errors in Switch managed disks between Standard HDD and Standard SSD block"
$disk.Sku = [Microsoft.Azure.Management.Compute.Models.DiskSku]::new($storageType)
The property 'Sku' cannot be found on this object. Verify that the property exists and can be set.
At line:1 char:1
+ $disk.Sku = [Microsoft.Azure.Management.Compute.Models.DiskSku]::new( ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidOperation: (:) [

[2020-03-30 16:40] orionJag opened #51273 "Multiple modules & Azure Container registry"
Hi
       I have a IoT Edge solution with multiple custom PY modules and wanted to know if they can be deployed under a single Azure container registry or they need to be separate registry for each module.

As of now I have configured with different container registry and though the deployment is successful, but the module at runtime  errors out with

"
 caused by: invalid reference format) ---&gt

[2020-03-30 16:45] KalyanChanumolu-MSFT commented on #50679
Thank you @kummanish

@rtaylor72 We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-03-30 16:45] #50679 closed

[2020-03-30 16:47] rohitchouhan08 commented on #51239
@yoelhor its working ,thanks :)

[2020-03-30 16:51] KranthiPakala-MSFT commented on #51257
Thanks for the quick fix @spelluru !

[2020-03-30 16:53] KranthiPakala-MSFT commented on #51240
@pemar-MSFT Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2020-03-30 16:56] jeremy-hicks commented on #31853
Hi @rwike77 - I'm in the same boat as @scott1138 and @JoeBrockhaus, any update on whether unattended automation of the admin consent grant is supported? Using the undocumented `https://main.iam.ad.ext.azure.com/api/RegisteredApplications/...` endpoint has been unreliable.

[2020-03-30 16:57] spboyer commented on #49740
@SaurabhSharma-MSFT two of the PRs have been merged, can we get the final piece taken care of please?

[2020-03-30 16:58] KranthiPakala-MSFT commented on #51247
@w0ut0 Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate.

[2020-03-30 17:07] lgmorand commented on #50860
@iainfoulds  @VikasPullagura-MSFT
I'm sorry but that's not clear, if modifying a node is not supported by adding an extension, why the documentation says the contrary and add an extension: https://docs.microsoft.com/en-us/azure/aks/ssh#configure-virtual-machine-scale-set-based-aks-clusters-for-ssh-access

 :)

[2020-03-30 17:09] 3vi1 commented on #51197
Yes - both of the accounts I'm testing with have the RDS Owner role.

[2020-03-30 17:10] arnoldna opened #51274 "Broken Link - ARM Template Documentation - "utilize template reference""
The link associated with the left hand side navigation to the the "ARM Template Documentation/Tutorials/Advanced/Utilize Template reference" is broken. See the attached screenshot for details.

![image](https://user-images.githubusercontent.com/10898493/77940939-a3eac180-7276-11ea-981b-1b30a920cdfe.png)

[2020-03-30 17:10] Mike-Ubezzi-MSFT commented on #51259
@slopezv2 Thank you for bringing this question to our attention. With a Serverless deployment scenario, you will not have direct access to the transaction log but [monitoring](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-serverless#monitoring) capabilities for Serverless include the app package and user resource pool.

[2020-03-30 17:12] djpmsft commented on #47977
To clarify the limits:

100 is only the limit of **queued runs**. Queued runs only occur is you specify a concurrency limit in a pipeline. There is no default concurrency limit.

A data factory can have up to 10,000 runs across all pipelines at any given time.

Hope this is clear!

[2020-03-30 17:13] markrad opened #51275 "payload MUST be JSON"
It is entirely unclear that the payload must be valid JSON. If it is not it will not be received by the device at registration time.

See this portion of the document:
[code]
The example would suggest you can return whatever but this is not so. I suggest:
[code]

_Mark Radbourne MSFT_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-03-30 17:13] mike-urnun-msft commented on #50881
@przemos Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-30 17:13] #50881 closed

[2020-03-30 17:13] djpmsft commented on #47977
Closing as the intial question of ' What is the max limit on the parallel run?' is answered. Feel free to continue commenting and reopen if necessary

#please-close

[2020-03-30 17:13] #47977 closed

[2020-03-30 17:14] david-jarman opened #51276 "Document still uses the term 'ACS-Engine'"
In this document, there is a paragraph about what ACS-Engine is. The document should be updated to use the term AKS-Engine, which is the new name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52f172d9-2ca9-da01-1fcb-9f6bbdf383ef
* Version Independent ID: 64485d09-0058-a20f-e2be-387e1fa10121
* Content: [Azure Kubernet

[2020-03-30 17:15] djpmsft commented on #43727
Closing due to inactivity. Feel free to comment/reopen if this is still an issue

#please-close

[2020-03-30 17:15] #43727 closed

[2020-03-30 17:20] Hazhzeng commented on #40134
Hi @anthonychu,

Currently, we advice customer to use `pip install --target="./.python_packages/lib/site-packages" -r ./requirements.txt` in Azure Pipelines for resolving their dependencies.

[2020-03-30 17:22] dennis-yemelyanov commented on #48896
@Grace-MacJones-MSFT , any updates on this? Local Cache sounds like a really useful feature, but the lack of clarity about how to use it properly prevents multiple teams from using it

[2020-03-30 17:26] djpmsft commented on #44949
This doc has been updated to fix the above errors. Let me know if it doesn't work

#please-close

[2020-03-30 17:26] #44949 closed

[2020-03-30 17:27] ManmohitSingh10 commented on #51236
@tfitzmac -
    "code": "InvalidTemplate",
    "message": "Unable to process template language expressions for resource 'The language expression property 'properties' has an invalid array index.'",

[2020-03-30 17:29] scott1138 commented on #31853
@rwike77 @jeremy-hicks @JoeBrockhaus  - updates to the az cli now include the ability to apply the grant.  Check out:
`az ad app permission grant `
and
`az ad app permission admin-consent`

[2020-03-30 17:35] PeterCLu commented on #50610
Thanks @Aniththa for the response. @algattik , I'll proceed to close the issue. If you feel that your issue hasn't been resolved, please feel free to re-open a new issue with additional details. #please-close

[2020-03-30 17:35] #50610 closed

[2020-03-30 17:38] KranthiPakala-MSFT commented on #51132
Hi @duytrand As suggested by @duytrand please use the service tag feature for network security groups, instead of manually adding IP addresses.

![image](https://user-images.githubusercontent.com/50185738/77943693-7f8ce600-7272-11ea-83c3-8029c0ee2c85.png)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issu

[2020-03-30 17:38] #51132 closed

[2020-03-30 17:40] MarileeTurscak-MSFT commented on #51220
@smkrjlnn
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-30 17:40] iainfoulds commented on #50860
That's a supported extension by the AKS team as it's the only way to inject SSH keys into a VMSS-based node. Additional configuration of the nodes, such as using Azure AD login, isn't supported. Feel free to follow up with the product team to provide feedback on the customer need.

[2020-03-30 17:40] richardeakin opened #51277 "Failing with an HTTP 404 status error"
Hi, I'm unable to run the example, it appears to be the same error as listed here: https://github.com/MicrosoftDocs/azure-docs/issues/38243, an HTTP 404 'NotFound' error. The advice on that issue seems irrelevant to this type of error, and it seems like there is something wrong with the endpoint within the C# layer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-03-30 17:43] BharathNimmala-MSFT commented on #50884
@o-l-a-v Hope the above information helps. At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be more than happy to reopen the thread and continue the conversation. Thank you

[2020-03-30 17:43] #50884 closed

[2020-03-30 17:47] Vincentm29 opened #51279 "Unit of Measure for Throughput per disk"
The table describing the premium storage disks sizes is using MiB/sec as the unit for Throughput per disk. The rest of the page seems to be using MB/sec, also the pricing page is using MB/sec. Can you clarify which unit of measure is used for Throughput per disk?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 978b668c-

[2020-03-30 17:55] lgmorand commented on #50860
super clear! thanks

[2020-03-30 18:05] MarileeTurscak-MSFT commented on #51242
@dotnetgator thanks for the feedback! I think it's definitely a valid suggestion. I've assigned this issue to the content author to update.

[2020-03-30 18:06] Thorium commented on #48441
Great, hopefully this is proceeding well!
In a meanwhile, this is a small blog article about the topic:
https://timsenergyblog-dev-web.azurewebsites.net/#ArticleChristmasPresentsView

[2020-03-30 18:08] CeciAc opened #51280 "「Microsoft Graph か Azure AD Graph か」のリンク先アドレスについて"
@i7a7467 commented on [Sat Mar 28 2020](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/4318)

「Microsoft Graph か Azure AD Graph か」のリンク先が
https://dev.office.com/blogs/microsoft-graph-or-azure-ad-graph
となっていますが、dev.office.comのWebサーバ証明書の有効期限が切れているようです。

dev.office.comのWebサーバ証明書を更新するかもしくは、リンク先のアドレスを以下のdeveloper.microsoft.comの方に変更した方が良いと思います。
https://developer.microsoft.com/en-us/office/blogs

[2020-03-30 18:08] CeciAc opened #51281 "Link address of "Microsoft Graph or the Azure AD Graph""
The comments below were machine-translated

@i7a7467 commented on [Sat Mar 28 2020](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/4318)

The link of "Microsoft Graph or the Azure AD Graph "
https://dev.office.com/blogs/microsoft-graph-or-azure-ad-graph
It seems that the web server certificate of dev.office.com has expired.

I think it is better to renew the web server certificate of dev

[2020-03-30 18:09] swmachan commented on #50719
The document is now live. Please verify and if this answers your question, please close the issue.

[2020-03-30 18:10] calewilliams opened #51282 "Can I store raw logs in a different subscription?"
Is the answer to this question still valid? I see that we can now successfully configure NSG flow logs for a storage account in another subscription via the API. This definitely helps us to centralize logging.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa32b540-55b2-1691-6f38-e8687565cecc
* Version Independent ID:

[2020-03-30 18:11] amanmcse commented on #50935
@kaylakirzinger This is very well documented here: [How to: Add app roles in your application and receive them in the token](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-app-roles-in-azure-ad-apps)

[2020-03-30 18:17] kgremban commented on #50523
The fix did not seem to go through correctly. I'm going to try again and will post here when I can confirm that the links are working.

[2020-03-30 18:19] PramodValavala-MSFT commented on #51230
@manueljesusrd Thanks for the question! We will review and get back to you!

[2020-03-30 18:23] jasenf opened #51284 "DNS integration"
Further to the point of there being no documentation, how do we bind the wildcard domain to FrontDoor within AzureDNS?  We still get the error message "Wildcards (*) in the name '*' are not supported for Front Door and Azure CDN resources due to apex domain onboarding."  So even if there command line parameters for setting up FrontDoor, I don't see how we will be able to bind the domain name to it

[2020-03-30 18:26] mathiasbl opened #51286 "DisableAttribute"
DisableAttribute has a third overload which is not documented:
https://github.com/Azure/azure-webjobs-sdk/blob/b798412ad74ba97cf2d85487ae8479f277bdd85c/src/Microsoft.Azure.WebJobs/DisableAttribute.cs#L54

Would be nice to see an example implementation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b7f85a6-7b15-afe0-6

[2020-03-30 18:26] HeidiSteen commented on #47857
#please-close  Given that we have a backlog item for this in our content work item database, we can close this issue. The right SME has been looped in for this work.   Thank you @dem108 for raising the issue!

[2020-03-30 18:26] #47857 closed

[2020-03-30 18:30] JBrejnholt opened #51287 "Can't find "Select the Users and groups pane" when assigning users and groups to roles"
In the section "Assign users and groups to roles" -&gt; point 4 Select the Users and groups pane in the application's left-hand navigation menu. -&gt; There is no "Users and groups pane" in the application left-hand navigation menu. The ones available to me are:
Overview
Diagnose and solve problems
Manage
Properties
Owners
Provisioning
Security
Permissions
Token encryption
Activity
Sign-ins
Usage

[2020-03-30 18:31] PramodValavala-MSFT commented on #51264
@nchamberlain05 Thanks for the question! We will review and get back to you!

[2020-03-30 18:34] Grace-MacJones-MSFT commented on #50833
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-03-30 18:34] #50833 closed

[2020-03-30 18:36] asinn826 commented on #51159
@jonwbstr - thanks for the callout, I've updated the doc and it should be live in the next day or two.

[2020-03-30 18:39] HeidiSteen commented on #48436
@MikeCodesDotNET Your suggestion is definitely better C#, but the point of the quickstart sample is to be as short/simple as possible.  We have other C# samples that are supposed to be more of a template for customers who want to copy-paste code.  Your suggestion will be considered for those samples.   This work item is tracking your suggestion:  https://dev.azure.com/mseng/TechnicalContent/_worki

[2020-03-30 18:39] #48436 closed

[2020-03-30 18:44] MarileeTurscak-MSFT commented on #51281
Thanks! Looking into this.

[2020-03-30 18:45] MarileeTurscak-MSFT commented on #51280
@CeciAc should we close this out as a duplicate of the other issue? Or does it need separate attention for localization?

[2020-03-30 18:46] jeevansd commented on #43832
#please-close

[2020-03-30 18:46] #43832 closed

[2020-03-30 18:47] MarileeTurscak-MSFT commented on #50994
Thanks @iainfoulds !

Closing this out.

[2020-03-30 18:47] #50994 closed

[2020-03-30 18:49] dapolarbear opened #51289 "Adding --debug and making clear {} must be removed"
I am new to all of this and also JSON. I thought I had to leave in the curly brackets in your example {provide-unique-name}. Obviously I was being dumb and reading up on it I now realise {} are used for name value pairs not strings. Still maybe make this clearer at the start that you remove the {} ?

Also I had to find a way to debug this since the output on the command line told me nothing. I fou

[2020-03-30 18:55] MarileeTurscak-MSFT commented on #51287
@JBrejnholt
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-30 18:56] MarileeTurscak-MSFT commented on #51254
@LeonardoFelippine
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-30 18:56] MarileeTurscak-MSFT commented on #51250
@arjbholu
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-30 18:58] MarileeTurscak-MSFT commented on #51271
@madhanan
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-30 19:01] tkimv commented on #51106
The field here should be the location of the public rsa key you wish you use for connecting.

If my linux username is `user123` and you have performed `ssh-keygen`, I would put in `/home/user123/.ssh/id_rsa.pub` for the value of `public_key`.

[2020-03-30 19:03] jeevansd commented on #51243
@v-sonan Can you please fix this?

[2020-03-30 19:18] AlexanderShikov commented on #51032
Any progress so far? If I could help you somehow let me know.

[2020-03-30 19:19] ecfan commented on #47142
@ashgit24, there should be more updated info appearing tomorrow, thanks for your patience!

[2020-03-30 19:19] Karishma-Tiwari-MSFT commented on #51244
Thanks for the question. We are currently investigating and will update you shortly.

[2020-03-30 19:21] ecfan commented on #21763
Hi @slugerrist,

Thank you for your patience! There should be more updated info appearing tomorrow.

[2020-03-30 19:22] Karishma-Tiwari-MSFT commented on #51251
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-30 19:31] mumian commented on #51289
@dapolarbear - thank you for your feedback.  I will add the -debug switch to the samples.

[2020-03-30 19:34] nkkinariwala opened #51291 "Does it support .ss?"
I am trying to connect structure stream (*.ss) using the same approach, but it doesn't work. Do we have any other way to connect cosmos structure streams into Power BI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3dfe8cd-e16d-dd5e-750f-6b4fa8fe8c7b
* Version Independent ID: da7077f4-440f-a606-95bc-3c43b61af3d0
* Co

[2020-03-30 19:43] anavinahar commented on #47565
#assign:@erichrt

[2020-03-30 19:43] Karishma-Tiwari-MSFT commented on #51256
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-30 19:47] Karishma-Tiwari-MSFT commented on #51265
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2020-03-30 19:47] djpmsft commented on #24622
Apologies for the delay in response and the incorrect documentation. @trigger().scheduledTime and @trigger().startTime are supported system variables for the schedule trigger. We are in the process of revamping this document and that change will be include.

Given the age of this issue I will go ahead and close it #please-close

[2020-03-30 19:47] #24622 closed

[2020-03-30 19:48] Karishma-Tiwari-MSFT commented on #51274
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2020-03-30 19:49] Karishma-Tiwari-MSFT commented on #51264
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2020-03-30 19:51] SubhashVasarapu-MSFT commented on #50688
@sebader , Appreciate your patience. I have checked the schema as well as cross verified the JSON in resources.azure.com and found that "Probe method" parameter is missing for now in ARM. You can provide your feedback here in [feedback.azure.com](feedback.azure.com) for its availability.

Also, as a work around you can call a CLI command under your ARM call to set the Probe method for now,

**--pr

[2020-03-30 19:51] #50688 closed

[2020-03-30 19:54] SubhashVasarapu-MSFT commented on #51269
@zhusulai , We are looking into this query and will update you as soon as possible.

[2020-03-30 19:55] SubhashVasarapu-MSFT commented on #51276
@david-jarman , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-03-30 19:55] jmcmike opened #51293 "Conditional Access Limitations"
Would be great to see the limitations of the Conditional Access service documented here (or anywhere publicly)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42a0b4cb-1981-1cbc-ce2c-dbfd8af1527c
* Version Independent ID: d49c873c-9843-8428-a6d1-a1995067d13b
* Content: [Service limits and restrictions - Azure Active Dir

[2020-03-30 19:57] vhorne commented on #50371
Articles updated
#please-close

[2020-03-30 19:57] #50371 closed

[2020-03-30 19:58] pavankumarda2136 commented on #51130
Yes, the Image gallery app was give reader role as suggested in the steps to create a VM from different tenant.  There are two images in tenant 1, I have created app registration and gave app registration permission to use the shared image gallery. But when trying with the steps provided to create a VM I am getting the user does not have access error.

[2020-03-30 20:00] SubhashVasarapu-MSFT commented on #51282
@calewilliams , Thanks for your feedback. Previously NSG Flow Logs could only be sent to storage accounts located in the same region and subscription as the NSG. Now, you can configure NSG Flow Logs to be sent to a storage account located in a different subscription, provided you have the appropriate privileges, and that the storage account is located in the same region as the NSG. The NSG and the

[2020-03-30 20:06] BrianLevenson commented on #48884
#please-close

[2020-03-30 20:06] #48884 closed

[2020-03-30 20:06] BrianLevenson commented on #49108
#please-close

[2020-03-30 20:06] #49108 closed

[2020-03-30 20:06] GuyPaddock opened #51295 "Controlling "Refresh Token Max Inactive Time" with new Conditional Access controls?"
Among other things, this page describes how to configure the "Refresh Token Max Inactive Time" via PowerShell. It seems like the new "User sign-in frequency" setting in Conditional Access controls how often a user must re-authenticate even if they are an active user (i.e. not idle). But... is there a way to adjust it so that, for example, a user who is idle for more than 24 hours has to re-authent

[2020-03-30 20:08] MattHartz opened #51296 "Following documentation for Webhook, yet still receive "The attempt to validate the provided endpoint""
Created an endpoint in my C# code at /events path. If the event is of type "Microsoft.EventGrid.SubscriptionValidationEvent", i extract the ValidationCode and return 200 with a json object with validationResponse. I tested this using Postman, and everything appears to work, but when using "New-AzEventGridSubscription", it fails. Any ideas?

---
#### Document Details

⚠ *Do not edit this section. I

[2020-03-30 20:08] robinsh commented on #40863
@JimacoMS3 is this ready to be closed yet? including the screenshots someone mentioned above?

[2020-03-30 20:11] dsindona commented on #44173
#reassign:BrianLevenson

[2020-03-30 20:12] rtaylor72 commented on #50679
Instructions are still incomplete. Please show how it is created so it can be used.

Robert

Robert Taylor

________________________________
From: Kalyan Chanumolu <notifications@github.com>
Sent: Monday, March 30, 2020 11:45:16 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Robert Taylor <rtaylor72@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs

[2020-03-30 20:13] dsindona commented on #39709
@Avenger-devp I apologize for the delayed response. If you still need help with this, please contact Marketplace support: https://aka.ms/MarketplacePublisherSupport

[2020-03-30 20:13] dsindona commented on #39709
#please-close

[2020-03-30 20:13] #39709 closed

[2020-03-30 20:15] dsindona commented on #38847
Thanks for the feedback, we are currently reworking this article and the larger section and will consider this as we move forward.

[2020-03-30 20:15] dsindona commented on #38847
#please-close

[2020-03-30 20:15] #38847 closed

[2020-03-30 20:15] hamiltonha commented on #35288
@jmprieur I'm a bit confused about this issue, are they asking for a .NET core implementation? The js tutorial was recently updated, but it is specific for SPAs and does not validate in the backend

[2020-03-30 20:17] MattHartz commented on #51296
Sample input
[
    {
        "id": "531d4a96-d4c7-43d6-8b4c-e1ff9351b869",
        "topic": "scrubbed",
        "subject": "",
        "data": {
            "validationCode": "7062AAC0-656D-4C4C-BDD6-0FA673676D95",
            "validationUrl": "scrubbed"
        },
        "eventType": "Microsoft.EventGrid.SubscriptionValidationEvent",
        "eventTime": "2020-03-30T17:46:15.1827678Z",
        "

[2020-03-30 20:17] hamiltonha commented on #41911
@m-sterspace the callback function is registered on page load. It is used to execute an action after the hash handles the JWT from the url. You can access the JWT from the response object. The callback is called after the constructor is completed.

[2020-03-30 20:23] dsindona commented on #45130
@BrianLevenson has followed up directly with the customer and will be sending info. #please-close

[2020-03-30 20:23] #45130 closed

[2020-03-30 20:24] msandbu opened #51297 "What about automation?"
The document should reflect how to automate this as well

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efaf8e6d-7f77-33b4-04ea-e692fa377bfc
* Version Independent ID: 26885d0b-3696-ef26-8959-87b09db7c58a
* Content: [Export Azure Security Center alerts and recommendations to SIEMs](https://docs.microsoft.com/en-us/azure

[2020-03-30 20:27] SaurabhSharma-MSFT commented on #51250
@arjbholu I am not seeing any issues running the cmdlet.  Can you please use the cmdlet `Get-Module AzureADPreview` to provide the version you are using.
Also, as mentioned in the documentation, can you please make sure you have the following banner on the quick start blade of PIM -
![image](https://user-images.githubusercontent.com/38112130/77958394-d3ef9000-7289-11ea-91e8-a8a3c3b89896.png)

[2020-03-30 20:27] twsouthwick opened #51298 "Can templates be targeted by their name?"
When registering templates, there is a name field. However, this never seems to used in the APIs. Is there a way to chose which template will be used when sending via `SendTemplateNotificationAsync`?  Can you document the process as to how the template is chosen based on the input dictionary?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2020-03-30 20:31] BrianLevenson commented on #45686
#please-close

[2020-03-30 20:31] #45686 closed

[2020-03-30 20:31] rtaylor72 commented on #39634
Circling back around to this... a little confusing, but I came across something stating PrivateLinkServiceNetworkPoliciesFlag has to be 'Disabled' in order to add a private end point... seems not intuitive.

[2020-03-30 20:36] lyrana commented on #51246
Hi @stmax82 there is indeed, this will be fixed

[2020-03-30 20:37] wbpluto opened #51299 "Open with https://shell.azure.com/bash still going to PowerShell"
https://docs.microsoft.com/en-us/azure/cloud-shell/embed-cloud-shell#customize-experience

Steps to rep:
Open CloudShell with https://shell.azure.com/bash,
it still going to PowerShell

Expected:
bash shell is open

![image](https://user-images.githubusercontent.com/5191513/77959540-4fdced00-7309-11ea-9e70-7d10e631d364.png)

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-03-30 20:39] msimecek commented on #50719
Thank you!

[2020-03-30 20:39] #50719 closed

[2020-03-30 20:42] kcovert opened #51301 "Android app example"
I don’t want to seem un-appreciative; anything is better than nothing. Thing is when presenting an example for training purposes abstraction to the nth degree is bad. I’m in debug mode on the Android example app here and it’s really been something for me to get past the “intent” abstracted construction, the logging abstraction, etc., to get where I can learn about creating an Azure share session,

[2020-03-30 20:48] nchamberlain05 commented on #51264
https://docs.microsoft.com/en-us/azure/azure-government/compliance/azure-services-in-fedramp-auditscope

[2020-03-30 20:54] dsindona commented on #50127
@mathewhtaylor Thanks for the input. the UX is slightly different depending on the offer type. I will forward the recommendation for some procedural guidance to the related team.
#please-close

[2020-03-30 20:54] #50127 closed

[2020-03-30 21:03] aaronrogers opened #51302 "TIMEX Guidelines links to a 403 page"
I'm unable to see the guidelines because the URL is a 403.
http://www.timeml.org/tempeval2/tempeval2-trial/guidelines/timex3guidelines-072009.pdf

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e64e2485-bcef-05c1-ee5a-10a0f3be7275
* Version Independent ID: f5adced3-6007-4fdb-51ba-cb95f16bbee6
* Content: [DatetimeV2 Preb

[2020-03-30 21:05] dsindona commented on #42779
@BrianLevenson can you please chime in?

[2020-03-30 21:07] MarileeTurscak-MSFT commented on #51287
Hi @JBrejnholt ,

It's located under the Manage tab.

![image](https://user-images.githubusercontent.com/13383753/77961856-5fb7eb00-728f-11ea-8dff-c263f8781ca7.png)

You won't see it if you don't have permissions to manage users and groups. https://support.microsoft.com/en-us/help/4229970/can-t-see-list-of-users-or-groups-when-adding-permissions-in-iam-azure

Try logging in with a global admininst

[2020-03-30 21:08] MarileeTurscak-MSFT commented on #51287
Hope this helps! If you have further questions feel free to reach out on [Q&A](https://docs.microsoft.com/answers/topics/azure-active-directory.html) and I'll be happy tocontinue the conversation.

[2020-03-30 21:08] #51287 closed

[2020-03-30 21:10] dsindona commented on #43197
#reassign:dsindona

[2020-03-30 21:19] m-sterspace commented on #41911
@hamiltonha

Thank you for the explanation, I've been going into this in more detail on the MSAL library repo here:
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1288

At this point I think I have largely gotten the redirect method working and had come to similar conclusions about what it must be doing, however, I still think the official documentation badly needs bette

[2020-03-30 21:19] yoelhor commented on #51239
#please-close

[2020-03-30 21:19] #51239 closed

[2020-03-30 21:29] tucane commented on #51048
Hey @djpmsft sorry for the confusion but this isn't what I was asking. We've already figured out how to use the arm-template-parameters-definition.json to define the arm parameters.

My question is on if there is a way for us override the parameters in this step with an external config file instead of directly editing in the box. Our team would prefer to edit this part with a config file instead o

[2020-03-30 21:33] BrianLevenson commented on #42779
Hi @santhoshbomma9 - the private plan audience is set in Partner Center using the UX or via CSV file upload. I don't believe you can change the private plan's audience via API. However, you can change the customer's subscription from one plan to another using the API. This would allow you to switch them from the $0 option to a paid plan. Does this help address the scenario?

[2020-03-30 21:34] soninaren opened #51303 "Missing documentation on file share usage and CONTENT_SHARE app setting."
The documentation does not elaborate on the function app using file share to store function code.  Is also missing information on implication of setting and not setting
 CONTENT_SHARE application setting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4d93f2d-6c04-7fc6-3f86-5ea7f9cca5c4
* Version Independent ID: 77469

[2020-03-30 21:36] femsulu commented on #51289
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-03-30 21:37] sum3680 opened #51304 "Still have reference to "Collection""
This page still uses "Collection".  The live Azure portal has "Container".  This is confusing to people who are new to Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f1447c3-9885-7225-1b63-8e568bdfe04f
* Version Independent ID: 5574832e-2af1-ba6d-cfac-3f330b5e11e0
* Content: [Quickstart - Create Azure Cosmos DB

[2020-03-30 21:39] ggailey777 commented on #50970
@v-tawe do you think seeing `ps` in the example command have made it more clear as a Package Manager command?

[2020-03-30 21:40] SnehaGunda commented on #51018
@pplavetzki  I think that's true, I sent an email to our product group for confirmation.

[2020-03-30 21:41] mike-urnun-msft commented on #51262
@BeMor81 Thank you for your feedback! We will review and update as appropriate.

[2020-03-30 21:42] Karishma-Tiwari-MSFT commented on #50480
Is there any update?

[2020-03-30 21:42] mike-urnun-msft commented on #51286
@mathiasbl Thank you for your feedback! We will review and update as appropriate.

[2020-03-30 21:43] SnehaGunda commented on #51043
@aschip looks like this issue is resolved. we will close it now.

#please-close

[2020-03-30 21:43] #51043 closed

[2020-03-30 21:43] mike-urnun-msft commented on #51296
@MattHartz Thank you for your feedback! We will review and update as appropriate.

[2020-03-30 21:43] Karishma-Tiwari-MSFT commented on #50883
Thank you for sharing the update here.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-30 21:43] #50883 closed

[2020-03-30 21:44] birschick-msft opened #51305 "Link to Cassandra distribution keys"
Link  https://www.apache.org/dist/cassandra/KEYS should be updated to https://downloads.apache.org/cassandra/KEYS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6c47387-6172-e49b-5144-c843c91815a8
* Version Independent ID: 93cad71b-c859-3ae7-32c2-931ef46dd603
* Content: [Apache Cassandra features supported by Azure Co

[2020-03-30 21:45] SaurabhSharma-MSFT commented on #51271
@madhanan I do not think it is possible as Managed Identities are basically a Service Principal tied to specific resource.

[2020-03-30 21:46] mike-urnun-msft commented on #51253
@sweeeneey Thank you for your feedback! We will review and update as appropriate.

[2020-03-30 21:47] GuyPaddock opened #51307 ""max_age" QS param for "/{tenant}/oauth2/v2.0/authorize" is not documented"
The `/{tenant}/oauth2/v2.0/authorize` endpoint supports a `max_age` query-string parameter that appears to control whether or not SSO can be applied to a particular authorization request. In our testing, if we set this to 300 -- for example -- then the user does not have to provide a password and MFA code if the last time they authenticated with Azure was within five minutes ago. This seems to str

[2020-03-30 21:53] Karishma-Tiwari-MSFT commented on #51095
Sorry, your doc update request is not clear to me. Can you please explain exactly what information you would like to be added to the doc and in which section of the doc? Thanks :)

[2020-03-30 21:53] #51131 closed

[2020-03-30 21:54] ajlam commented on #51131
@markusalbe - thanks for the feedback! I've added a warning in the document. This should go live in the next 24 hours.

[2020-03-30 21:55] octupul opened #51308 "How to support multiple languages?"
With a conversation that has 2 participants one in English the other in mandarin.  Is there a way to detect the two languages in the same session?  I only see a way to set one language for input.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1d88ac1-d269-5f91-fb1f-8901589c6b02
* Version Independent ID: 3fa3ffe6-277a-

[2020-03-30 22:00] eluchsinger commented on #50934
@dargilco your link is to an other project using the `BotFrameworkConfig`.

[2020-03-30 22:03] JimacoMS3 commented on #40863
@jmonticelli, @jhosteny Thanks again for your feedback on this topic. The topic has now been updated to the V2 SDK. With respect to the screenshots, the topic has been changed to use the **iothub_registry_manager.query_iot_hub** API to search for devices with the specified tags. Due to this change, we no longer display the total devices, etc. Please also note, that there is a delay introduced betw

[2020-03-30 22:03] JimacoMS3 commented on #40863
#please-close

[2020-03-30 22:03] #40863 closed

[2020-03-30 22:06] NavtejSaini-MSFT commented on #51304
@sum3680 We understand the concern and the below shows the correct name of container for different API's. The collection and container has been most confusing one and are used interchangeably sometimes.
![72835298-766f0f80-3c58-11ea-82dd-74d5026104c7](https://user-images.githubusercontent.com/52257742/77966469-1aa4b080-72b1-11ea-950d-912c30bfa88c.png)

[2020-03-30 22:11] roygara commented on #50749
@AnthonyPuca I checked both [the ref](https://docs.microsoft.com/en-us/azure/storage/common/storage-ref-azcopy-copy) and spoke with the AzCopy writer, copy is still valid. CP is just a shorthand.

In any case, it sounds like your problem has been resolved, and we're working on a new update to this doc that will be live soon and integrates some of your feedback. Accordingly, I'll close this out for

[2020-03-30 22:11] #50749 closed

[2020-03-30 22:15] SnehaGunda commented on #51018
@pplavetzki here is the response: Yes ETCD API is only usable as a Kubernetes store because we only support Etcd API for storing state/configuration in a Kubernetes cluster and not for standalone scenarios.

[2020-03-30 22:15] kgremban commented on #50523
Resolved -- There's two sets of links in the article, and I mistakenly only updated on. Both sets should be working now. Thanks again.

[2020-03-30 22:16] roygara commented on #50752
@AnthonyPuca Thanks for your feedback! I'll take it to the team and we will consider if we want to change the positioning.

For now, I'll close this out.

#please-close

[2020-03-30 22:16] #50752 closed

[2020-03-30 22:17] jmprieur commented on #35288
@m4ss1m0g this is for JavaScript
the .NET Core token validation, see the https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2 sample (incremental tutorial)

[2020-03-30 22:17] jmprieur commented on #35288
#please-close

[2020-03-30 22:17] #35288 closed

[2020-03-30 22:17] SaurabhSharma-MSFT commented on #51006
@eparizzi ok.  I am checking internally on this issue and update you as soon as I hear back.

[2020-03-30 22:18] SaurabhSharma-MSFT commented on #51264
@nchamberlain05 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-30 22:19] NavtejSaini-MSFT commented on #51305
@birschick-msft Thanks for the correction. There is a redirection active to point the link to correct page but we will raise request to correct the same and will change once approved.

[2020-03-30 22:25] LauraBrenner commented on #51092
I've updated the doc.

[2020-03-30 22:30] NavtejSaini-MSFT commented on #51260
@SitecoreAgent I do know this document was updated recently. But I am checking with the team regarding this again.

[2020-03-30 22:36] SnehaGunda commented on #51221
@slavizh we will update the doc soon.

[2020-03-30 22:38] KranthiPakala-MSFT commented on #51240
@pemar-MSFT Thanks for pointing this our. I see that it is mentioned in the document under [Schema Overview](https://docs.microsoft.com/azure/data-factory/concepts-pipeline-execution-triggers#schema-overview) section:

![image](https://user-images.githubusercontent.com/50185738/77968212-a1e72980-729b-11ea-8242-b0f075a9efe6.png)

I would also recommend you to please up-vote/comment on below related

[2020-03-30 22:38] #51240 closed

[2020-03-30 22:45] kdr213 opened #51311 "Message batch settings?"
The service bus trigger extension recently shipped Batch Support:

https://github.com/Azure/azure-functions-servicebus-extension/issues/15

There's no documentation on how to configure the max batch size. I'm assuming that it goes in the host.json file, but that's not reflected here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-03-30 22:53] djpmsft commented on #51048
So the config file being used is specified in the 'Template parameters' section. By default, it isARMTemplateParametersForFactory.json in your publish branch. If you point this at a separate config file, then the generated parameters will be different.

**Override template parameters** is an optional property that allows you to overwrite what is set in **template parameters**

[2020-03-30 22:54] #51305 closed

[2020-03-30 22:54] markjbrown commented on #51188
Talked to my dev team on this. The reason you do not see it is because you only have one region in the account. This metric only applies when there are 2+ regions to calculate the PBS metric.

Thanks!

[2020-03-30 22:59] Robulane commented on #51188
The reason I am asking about this metric is that I have two regions. As you can see on my screenshot posted before, we have West US and East Us regions.

If this can help, the Cosmos DB accounts were created about a year ago. Currently in production use.

[2020-03-30 22:59] TravisCragg-MSFT commented on #51284
@jasenf can you give the commands you are using (removing DNS & Subscription information) to add the wildcard name?

Also, have you added a subdomain of the wildcard to another Front Door or Azure CDN?

[2020-03-30 22:59] akshaysarvankar opened #51313 "Export run history data or any API for location does not work in ML Studio"
Any location based URL's mentioned under : https://docs.microsoft.com/en-us/azure/machine-learning/how-to-export-delete-data#export-run-history-data provides 401 error with correct access token.

I can use management API's to get ML Studio information (using acces_token) but experiment related API fails with same access_token

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this s

[2020-03-30 23:03] SnehaGunda commented on #51304
@sum3680 There was one occurrence of the collection that we could replace. I changed it in the above PR. The rest of the content should be aligned to what's in the Azure portal. Let us know if it's not.

[2020-03-30 23:05] SaurabhSharma-MSFT commented on #51297
@msandbu Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-30 23:05] #51313 closed

[2020-03-30 23:05] madhanan commented on #51271
@SaurabhSharma-MSFT
I wanted to differentiate the Service Principal when i am passing a "Object ID"  based on its type - _"Microsoft.ManagedIdentity/userAssignedIdentities"_

Since the _"Get-AzADServicePrincipal"_ only provides only SP details, but it does not provide any information about the Identity.

Well, i am currently using this logic to separate the Identity - let me know if this is correc

[2020-03-30 23:06] jasenf commented on #51284
there are no commands documented.  that's my point.   wildcard support for
frontdoor was announced but i can't find any CLI commands to set it up either in
FrontDoor, or the subsequent AzureDns entries.

take care,jasen

On Mon, Mar 30, 2020 11:00 PM, TravisCragg-MSFT notifications@github.com  wrote:

@jasenf  can you give the commands you are using (removing DNS & Subscription
information) to add

[2020-03-30 23:07] akshaysarvankar commented on #51313
This was network issue.
My company uses VPN for connecting to Azure however these services are available from outside of VPN.

[2020-03-30 23:09] lobrien commented on #51313
Thanks for taking the time to give us feedback! I was just writing you an email asking you what happened! Glad to hear you've resolved the issue.

[2020-03-30 23:10] tucane commented on #51048
We're looking to do override template parameters, since we are following the ADF CI/CD guide to deploy the one template to different environments.

Our process:
1.working in dev adf -> making changes -> publish -> generate arm templates in the repo
2. use the arm templates in the repo to deploy to a prod adf through Azure Devops pipeline and override template parameter(for example, different stora

[2020-03-30 23:11] vahidtz opened #51314 "Dastaset should be imported in the snippet."
In the snippet where the Titanic data set is imported, Dastet should be imported as well.
from azureml.core import Dataset

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e258128c-b871-72b0-34e2-e5157977aa17
* Version Independent ID: 08a2917b-e921-2a39-9385-ca4ef4bb25d9
* Content: [Create Azure Machine Learning datasets

[2020-03-30 23:13] sam-loveridge commented on #46484
Is this still outstanding? Keen to understand when this might be resolved. Any updates?

[2020-03-30 23:13] xtianus79 commented on #50959
@PatAltimore thanks so much. I am slowly starting to see how I can utilize the devkit.  I posted a few questions to this thread.  Would you be able to help with those questions (really just a main question) regarding how can I manually manage user accounts on my network manually.

[](https://github.com/microsoft/vscode-azure-blockchain-ethereum/issues/31)

Thanks!

[2020-03-30 23:17] SnehaGunda commented on #50691
@Daniel-SW Thanks for pointing out the issue, the download on this page: https://www.microsoft.com/en-us/download/details.aspx?id=46436 is outdated, I don't have access to update that page, I will reach out to our product group.

The aka link is kept up to date, so please use the version in the doc.

[2020-03-30 23:20] mumian commented on #51289
@dapolarbear - the update is live.

#please-close

[2020-03-30 23:21] #51289 closed

[2020-03-30 23:26] Cloudmersive commented on #51154
This one:

Set the container name, then create the container by using New-AzStorageContainer. Set the permissions to blob to allow public access of the files. The container name in this example is quickstartblobs.

[2020-03-30 23:26] alex-frankel commented on #46668
Hi @JCPuerto - we will be making this public in the next 2-4 weeks in the Az module by default, but I will get you added to the private preview in the meantime.

[2020-03-30 23:26] markjbrown commented on #51188
Connected and will take offline.

Thanks.

[2020-03-30 23:26] djpmsft commented on #51048
@tucane, your ask is very clear.

Unfortunately I don't think this is the correct forum for this specific question. ADF integrates with DevOps but we do not own this specific task (it can actually be used for any Azure resource).

Can you ask this question on this page? https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-resource-group-deployment?view=azure-devops#arguments

[2020-03-30 23:30] kgremban commented on #39500
@SychevIgor I apologize for not responding to this issue in a timely manner. Azure Functions on Edge is now GA for C# functions, and I will remove the note in the doc to reflect that fact. Thank you for pointing this out.

[2020-03-30 23:30] ksundeepsatya opened #51315 "US Gov Texas paired region missing"
Is US Gov Texas Paired to US Gov Virigina or Arizona? Mapping is missing in the documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985-6fc3aec77974
* Version Independent ID: a9f4ec3f-f0a3-b050-020b-f487c74c5179
* Content: [Ensure business continuity & disaster recovery using Azure Paired R

[2020-03-30 23:32] NavtejSaini-MSFT commented on #50993
@wudong We are not getting the error that you are getting.Can you please try the steps again.
![Capture](https://user-images.githubusercontent.com/52257742/77971613-28f8c980-72bd-11ea-9489-d32520e5e6e9.png)

[2020-03-30 23:37] TiloGit opened #51316 "add info how to find the AZ storage info"
add info how to identify how the pvc maps to the newly created Azure Storage account and share name

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57e48b4-dc33-0b9d-b773-42ce7d2bffd0
* Version Independent ID: e912ac2d-cf6a-0b54-4697-1940b1270874
* Content: [Dynamically create a Files volume for multiple pods i

[2020-03-30 23:38] MarileeTurscak-MSFT commented on #51293
@jmcmike
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-30 23:39] #39500 closed

[2020-03-30 23:40] ksundeepsatya commented on #51315
Looks like mapping has been removed with this commit https://github.com/MicrosoftDocs/azure-docs/commit/0f329d2eb67b11a792617aceab8ed8343493115e

[2020-03-30 23:43] sum3680 commented on #51304
Hi.  Thanks for the response.  I think the most confusing part is from this
"Quick start" screen capture in the documentation page, where a button is
labeled 'Create "Items" collection'.  I wasn't sure if it was the
tier/account type/api type that I selected in my previous steps to cause me
to see 'Create "Items" Container', as supposed to Create "Items"
collection.  Therefore I went back and re-c

[2020-03-30 23:44] tucane commented on #51048
Thanks @djpmsft, will be directing this question to them.

[2020-03-30 23:44] #51048 closed

[2020-03-30 23:47] AKonCloud opened #51317 "Spelling and formatting"
"Azure Reservations transfer
Azure Reservations don't automatically move with subscriptions.Either you can keep the Reservation in EAfor other subscriptions or cancel the Reservation and parnter can repurchase in CSP."

Missing spaces between sentences and words, partner is misspelled as "parnter"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-03-30 23:51] dcbrown16 commented on #21354
@bwren which article were we supposed to refer to, this one?
https://docs.microsoft.com/en-us/azure/azure-monitor/insights/network-insights-overview

To be honest I'm more confused now - we now have "Azure Monitor for Networks" (which links to Network Watcher as Next Steps), "Networking Analytics (this article, which mentions NPM)", "Network Performance Monitor", and "Network Watcher" (which isn't

[2020-03-31 00:00] charlespickettau commented on #46484
+1 still an issue for us also

[2020-03-31 00:05] dcbrown16 commented on #25821
@pareshmu @cherylmc we continue to get questions about the Peering Route Logs in support.
To conform with documentation for other resources, it would be very helpful if this document could include not only the metrics, but also the log and its schema.

[2020-03-31 00:13] SaurabhSharma-MSFT commented on #51271
@madhanan  Ok.  Please let me check internally on this issue.  I will update you once I have something concrete.

[2020-03-31 00:15] dcbrown16 commented on #25821
It appears Paresh isn't with MS any more but here's what he told me about the log one year ago internally:
"It is to provide you with the routes learned on the peering, as a log.
The other method is via portal, in peering, there is  a “Get Route Table” operation. It gives you the same information."

[2020-03-31 00:18] Gujie-Novade commented on #51215
I added myself as a contributor of the repository and now it shows up in the list.
Note: it was a private repo belonging to my organisation. Even though I'm an admin of this organisation, this was not enough for the repo to show up.

[2020-03-31 00:18] #51215 closed

[2020-03-31 00:24] MarileeTurscak-MSFT commented on #51015
I think this could only work with a custom role, though I'm not sure if the custom roles can get this granular. I've reached out to the product team to confirm.

[2020-03-31 00:29] MarileeTurscak-MSFT commented on #51151
You need a Premium license to be able to see the data past 7 days. If you recently switched to a premium version (including a trial version), you can see data up to 7 days initially. When data accumulates, you can see data for the past 30 days.

https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/reference-reports-data-retention

Hope this helps!

[2020-03-31 00:29] #51151 closed

[2020-03-31 00:32] dargilco commented on #50934
@eluchsinger thanks for pointing that out. You are right, there probably aren't any quick-start samples for Custom Command as the text suggests. They need to be created.

[2020-03-31 00:38] CeciAc opened #51318 "Erro na seleção do tamanho de disco"
@josefelipearaujo commented on [Sun Mar 29 2020](https://github.com/MicrosoftDocs/azure-docs.pt-br/issues/586)

Estou tentando seguir estas instruções porém não está sendo possível selecionar um tamanho de disco. Todas as alternativas da lista de seleção estão inválidas. Não é mais possível selecionar nenhuma delas.

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinc

[2020-03-31 00:39] Alexp2019 commented on #50774
Hi @AshokPeddakotla-MSFT,

-37.83, 145.14

It seems to fail with any lat/long within Australia.

It fails anywhere that references a lat/long position, for example if you go to this article:
https://docs.microsoft.com/en-au/azure/azure-maps/map-add-custom-html#add-an-html-marker
Using the coordinates of:
38.897835, -77.036519 (U.S) - works fine
![image](https://user-images.githubusercontent.com/38

[2020-03-31 00:40] josefelipearaujo commented on #51318
Can you please let me know what is the solution (since the issue was moved to “closed”)?

[2020-03-31 00:46] Karishma-Tiwari-MSFT commented on #51258
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-31 00:48] YutongTie-MSFT commented on #51248
@VOLOTD
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-31 00:48] Karishma-Tiwari-MSFT commented on #51261
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-31 00:48] YutongTie-MSFT commented on #51255
@alathrop
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-31 00:50] YutongTie-MSFT commented on #51314
@vahidtz
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-31 00:51] YutongTie-MSFT commented on #51308
@octupul
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-31 00:52] YutongTie-MSFT commented on #51302
@aaronrogers
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-31 00:53] MarileeTurscak-MSFT commented on #51281
@CeciAc who should we report this to since it's not related to documentation? I will try in my channels to see if someone knows.

[2020-03-31 00:53] YutongTie-MSFT commented on #51277
@richardeakin
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-31 00:54] MarileeTurscak-MSFT commented on #51280
Closing this out since we are addressing this here https://github.com/MicrosoftDocs/azure-docs/issues/51281

[2020-03-31 00:55] #51280 closed

[2020-03-31 00:56] Karishma-Tiwari-MSFT commented on #51266
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-31 00:57] Karishma-Tiwari-MSFT commented on #51267
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-31 01:04] Karishma-Tiwari-MSFT commented on #51318
@josefelipearaujo As a result of the surge in use over the last week, we have experienced significant demand in some regions (Europe North, Europe West, UK South, France Central, Asia East, India South, Brazil South) and are observing deployments for some compute resource types in these regions drop below our typical 99.99 percent success rates.

Although the majority of deployments still succeed,

[2020-03-31 01:10] rwike77 commented on #48669
@hpsin can you take a look at this one?  Thanks.

[2020-03-31 01:10] rwike77 commented on #51023
@hpsin can you take a look at this one?  Thanks.

[2020-03-31 01:11] msrini-MSFT commented on #51222
@brent-robinson , Do you have any update for me?

[2020-03-31 01:12] SnehaAgrawal-MSFT commented on #51298
@twsouthwick Thanks for the feedback! We will review and update accordingly.

[2020-03-31 01:14] nitinme commented on #51160
Given that this has been filed as a product issue. I think we can close this.

[2020-03-31 01:14] Karishma-Tiwari-MSFT commented on #51315
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-31 01:16] Karishma-Tiwari-MSFT commented on #51299
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-31 01:24] Karishma-Tiwari-MSFT commented on #51272
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-31 01:32] marstr opened #51319 "Dead Link to Sample Application"
The Notification Hub Android SDK repository got restructured, and broke the [link at the top of this tutorial](https://github.com/Azure/azure-notificationhubs-android/tree/master/samples/FCMTutorialApp). It should be updated to reflect the new repository structure, and be pinned to a particular commit to prevent future breakage. The link I suggest is:

https://github.com/Azure/azure-notificationhu

[2020-03-31 01:43] marcelmedina opened #51320 "Azure Active Directory B2C is deprecating login.microsoftonline.com"
Isn't the Starter Pack going to be updated? It is still referencing login.microsoftonline.com.
Can you please update that? Or put a warning?
People are going to use the starter pack to discover by the end of the year they will need to change it again, and at that time under pressure, as they are going to be running out of time.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-03-31 01:51] TravisCragg-MSFT commented on #51152
@luigi-aversa2000 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-31 01:53] shadewlkr opened #51322 "Adding actions to a role trust policy breaks provisioning"
Hello,

It seems adding additional actions to a role trust policy breaks provisioning.  For example, if I want to use ABAC to further restrict access to a role within IAM, and I add an action in the role trust policy for sts:TagSession such as:

      "Action": [
        "sts:AssumeRoleWithSAML",
        "sts:TagSession"
      ],

The next time the provisioning process runs, the role is disabled i

[2020-03-31 02:01] brent-robinson commented on #51222
Perfect. Thank you for confirming. This ticket can be closed.

On Tue, 31 Mar 2020, 12:11 pm KARTHIK SRINIVAS, <notifications@github.com>
wrote:

[2020-03-31 02:21] TravisCragg-MSFT commented on #50729
@AjKundnani any updates on this?

[2020-03-31 02:21] TravisCragg-MSFT commented on #50243
@zingaroo We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-31 02:21] #50243 closed

[2020-03-31 02:22] TravisCragg-MSFT commented on #50013
@vivrao We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-31 02:22] #50013 closed

[2020-03-31 02:22] TravisCragg-MSFT commented on #49779
@ftereso We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-31 02:22] #49779 closed

[2020-03-31 02:22] TravisCragg-MSFT commented on #49313
@m43kwon We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-31 02:22] #49313 closed

[2020-03-31 02:40] VikasPullagura-MSFT commented on #51159
@jonwbstr The doc will be updated as mentioned by doc author, I will now proceed to close this issue.

[2020-03-31 02:40] #51159 closed

[2020-03-31 02:51] KrishnaG-MSFT commented on #51317
@AKonCloud Thanks for your comment! We will review and provide an update as appropriate.

[2020-03-31 03:08] TravisCragg-MSFT commented on #46155
@jordanchang We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-31 03:08] #46155 closed

[2020-03-31 03:09] v-tawe commented on #50970
Yeah, that will make sense.

[2020-03-31 03:09] TravisCragg-MSFT commented on #44049
@Robbiem06 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-31 03:09] #44049 closed

[2020-03-31 03:18] arjbholu commented on #51250
@SaurabhSharma-MSFT  Following is the output of the cmdlet:
Binary     2.0.2.85   AzureADPreview                      {Add-AzureADAdministrativeUnitMember, Add-AzureADApplicationOwner, Add-AzureADApplicationPolicy, Add-AzureADDeviceRegisteredOwner...}

Also, I confirm that I see the given banner in the quickstart

[2020-03-31 03:23] ram-msft commented on #51270
@SamirFarhat Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-31 03:25] BharathNimmala-MSFT commented on #50996
@jean-PierreP Thanks again for bringing this to our notice and i have created a PR to update the document to reflect the Action Types which are currently supported. Once the PR is reviewed and approved the document should get updated accordingly with in this week.

Will go ahead and close this thread for now and we really appreciate you taking time to share this feedback to improve our documentati

[2020-03-31 03:25] #50996 closed

[2020-03-31 03:27] AshokPeddakotla-MSFT commented on #50774
@Alexp2019 Thanks for the details. Let me try from my end and update you.

[2020-03-31 03:34] ram-msft commented on #51275
@markrad Thanks for the feedback. We will update you shortly.

[2020-03-31 03:42] ram-msft commented on #51273
@orionJag Thanks for the question. We will update you shortly.

[2020-03-31 03:43] Karishma-Tiwari-MSFT commented on #51092
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-31 03:43] #51092 closed

[2020-03-31 03:46] DashleenBhandari-MSFT commented on #50400
@kyle-thomas-TT , Apologies for delay in response. We discussed internally and here is the update.
Essentially, while the tag attribute is itself marked obsolete, the SendNotificationAsync method accepts tags as a parameter (tagexpression) instead.

So, for example if the user wanted to send header and a tag (“some-tag”) they can do so as shown in the example below. If they have multiple tags, the

[2020-03-31 03:49] ram-msft commented on #51279
@Vincentm29 Thanks for the question. We will update you shortly.

[2020-03-31 03:52] ChiragMishra-MSFT commented on #51291
@nkkinariwala Thanks for reaching out. We are actively investigating into your query and will update you shortly.

[2020-03-31 03:57] DixitArora-MSFT commented on #50990
@sweeeneey I have assigned this to content author for further review and update as appropriate.

[2020-03-31 03:58] karlochacon opened #51323 "which Azure AD role is the source to initiate transfer?-"
hey guys
https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/billing-subscription-transfer

referring this who is the one that can transfer subscription the Azure AD "Global Administrator" or the "Billing Administrator" role?

this step says Billing Administrator will receive the subs but I does not clearly states who initiates the transfer from source subs

thanks

---
#### Docu

[2020-03-31 03:59] ram-msft commented on #50899
@dargilco We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-31 03:59] #50899 closed

[2020-03-31 03:59] SumanthMarigowda-MSFT commented on #50778
@maxiptah  Apologies for delay in responding here!
 It is not possible today, Go forward this feature will be available very soon
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-31 03:59] #50778 closed

[2020-03-31 04:05] memildin commented on #51297
@msandbu could you please elaborate a little more on the scenario and what you’d like to automate.

[2020-03-31 04:18] sajaynambiar commented on #5460
Now [Change Feed Cosmos Mongo API](https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-change-streams) is supported,  looks like the Azure Functions for Cosmos Mongo Trigger is still not working, if working, please share if there are any references documents or samples (Java Preferred) for the same.

[2020-03-31 04:19] AjayKumar-MSFT commented on #51319
@marstr, Thanks for reporting this issue and raising a PR to rectify.  Your feedback and contribution is much appreciated.

[2020-03-31 04:23] DixitArora-MSFT commented on #51051
@fowl2 PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. Also for other items, I will create internal work item and work with content author. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussi

[2020-03-31 04:24] ketan-chawda-msft commented on #51311
@kdr213 Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-31 04:25] ketan-chawda-msft commented on #51303
@soninaren Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-31 04:26] #51051 closed

[2020-03-31 04:31] AshokPeddakotla-MSFT commented on #51157
Since your query is answered as per [SO](https://stackoverflow.com/questions/60891979/how-to-connect-multiple-mqtt-clients-to-single-iothub-via-jmeter),

JMeter executes [Samplers](https://jmeter.apache.org/usermanual/component_reference.html#samplers) upside down by each virtual user so you don't need to duplicate this Gateway Connect sampler, just define 2 threads (virtual users) in the [Thread

[2020-03-31 04:31] #51157 closed

[2020-03-31 04:31] scyto opened #51324 "Is server 2019 core Hybrid Domain join supported"
Also is a DC able to be hybrid join?

My Server 2019 DC shows as registered
My server 2019 core DC  shows as pending but as dsregcmd is not on it I don’t see how that’s possible. .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7003ad77-d8b2-ad14-abb6-902a3d8745be
* Version Independent ID: 8cb55c69-27a0-ad42-4f98-ab92d

[2020-03-31 04:32] SumanthMarigowda-MSFT commented on #50852
@RaphaelFrancisco We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-31 04:32] #50852 closed

[2020-03-31 04:33] #51083 closed

[2020-03-31 04:38] naqash11 commented on #51168
@PramodValavala Please update

[2020-03-31 04:39] AshokPeddakotla-MSFT commented on #51145
Adding author @kgremban for further review and update the doc as appropriate.

[2020-03-31 04:55] AshokPeddakotla-MSFT commented on #50774
Adding @rbrundritt for further help. I am also seeing the same result.
Could you please check this help?

[2020-03-31 05:10] santhoshbomma9 commented on #42779
Hi @BrianLevenson , sorry the question was more like change plan subscription endpoint( https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/pc-saas-fulfillment-api-v2#patch-httpsmarketplaceapimicrosoftcomapisaassubscriptionssubscriptionidapi-versionapiversion) takes planid, could you just use private planid and put any customer on this plan using the API? or would it make sure

[2020-03-31 05:13] neeleshray-msft commented on #51295
@GuyPaddock Thank you for the feedback. We will review and update accordingly.

[2020-03-31 05:14] DixitArora-MSFT commented on #51119
@andrewkittredge As this is something specifically to a Product question , recommendation at this point is to create the product issue to the official [Azure Functions Repo](https://github.com/Azure/Azure-Functions/issues) for better clarity. Azure Function Repo will be monitored by Product team of Azure function

[2020-03-31 05:14] ketan-chawda-msft commented on #50905
@lolekjohn This is because dotLiquid handles the assignments as Floats. We have fixed this recently. But the deployments are blocked right now. Based on the current state, the fix will get deployed sometime around mid of April.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we

[2020-03-31 05:14] #50905 closed

[2020-03-31 05:14] neeleshray-msft commented on #51307
@GuyPaddock Thank you for the feedback. We will review and update accordingly.

[2020-03-31 05:15] neeleshray-msft commented on #51320
@marcelmedina Thank you for the feedback. We will review and update accordingly.

[2020-03-31 05:16] neeleshray-msft commented on #51324
@scyto Thank you for the feedback. We will review and update accordingly.

[2020-03-31 05:18] neeleshray-msft commented on #51322
@shadewlkr Thank you for the feedback. We will review and update accordingly.

[2020-03-31 05:19] DixitArora-MSFT commented on #51137
@ravick4u Can you elaborate on your business case. There is a already a timeout limits given depending upon the tier you have chosen. Also when ever this limit will hit in your function app, your function app will give an error mostly 502 but it may vary. So when we are saying capture the timeout event what exactly is the business case we are trying to fulfill.

[2020-03-31 05:24] h164654156465 opened #51328 "Deploy to FPGA"
I've been trying to deploy Azure Custom Vision model, which is exported as TensorFlow fortmat on the portal, to FPGA on Azure Stack Edge. Is it necessary to use the default pretrained models to be able to convert it to ONNX format and successfully to FPGA? Could I use my custom models like the ones I exported from Custom Vision?

By referring to pretrained models, I mean:
- QuantizedResnet152
- Qu

[2020-03-31 05:25] DixitArora-MSFT commented on #51161
@mperdeck I have assigned this to content author for further review and update as appropriate.

[2020-03-31 05:30] rbrundritt commented on #50774
The error is correct. Your coordinates are reversed. Azure maps coordinates should be formated longitude, latitude which is a GIS standard that aligns with the x, y convention.

[2020-03-31 05:33] SnehaAgrawal-MSFT commented on #51139
@coelho5br Thanks again for the feedback! Could you please elaborate the above scenario or share screen shots to provide better assistance on this.

[2020-03-31 05:35] PramodValavala-MSFT commented on #51175
@rizwannadeem2018 Just following up here... Is there a specific doc that you are referring to there?

[2020-03-31 05:36] PramodValavala-MSFT commented on #51176
@ram-suresh This seems to be a document from your sharepoint which isn't public. Are you following any specific public document? If not, its best to open an issue on MSDN or StackOverflow with all the details.

If its not possible to share details publicly, it would be best to open a support request.

[2020-03-31 05:41] DixitArora-MSFT commented on #51163
@mperdeck Just checking if you have Upgraded to latest version of visual studio 2019 and still facing the issue.

[2020-03-31 05:46] CHEEKATLAPRADEEP-MSFT commented on #51205
@sasedlock  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-03-31 05:46] #51205 closed

[2020-03-31 05:48] DixitArora-MSFT commented on #51164
@bradoyler Just following up again if you have gone through these and see if it helps.

http://microsoftintegration.guru/2016/09/20/use-azure-function-to-deduplicate-messages-on-azure-service-bus/
https://docs.microsoft.com/en-us/azure/service-bus-messaging/duplicate-detection

[2020-03-31 05:50] VikasPullagura-MSFT commented on #51316
@TiloGit
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-03-31 05:51] VikasPullagura-MSFT commented on #51316
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-03-31 05:53] VikasPullagura-MSFT commented on #51130
@pavankumarda2136 This issue needs live troubleshooting, I request you to open a support case.

If you don't have the ability to open a technical support ticket, you can email me at AzCommunity@microsoft.com and with Subject as 'ATTN Vikas' and provide me with your SubscriptionID and link to this thread. I can then enable your subscription for one time free support.

We will now close this issue.

[2020-03-31 05:53] #51130 closed

[2020-03-31 05:55] ram-msft commented on #51301
@kcovert Thanks for the question. We will update you shortly.

[2020-03-31 05:55] shashishailaj commented on #51061
@jmprieur Thank you for clarification.

@PaulFarry As per above comment . This is in pipeline and will be updated once the new Nuget package is released. We will now close this issue. In case you have any queries , please feel free to tag me or Jean to your reply and we will be happy to help .

[2020-03-31 05:55] #51061 closed

[2020-03-31 05:56] VikasPullagura-MSFT commented on #51279
@roygara Can you please check and add your comments on this issue.

[2020-03-31 05:58] RifatUllah opened #51329 "node"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c91f1cd9-53f7-dd1e-d4af-5beed02d9119
* Version Independent ID: e8ecaadf-cb14-e6e4-af3a-acff178e6ba0
* Content: [What is the Face service? - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/face/overview)
* Content So

[2020-03-31 05:59] ram-msft commented on #51328
@h164654156465 Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-31 06:07] DixitArora-MSFT commented on #51166
@mperdeck PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-31 06:09] #51166 closed

[2020-03-31 06:17] DixitArora-MSFT commented on #51296
Just checking if you have gone through this.

Powershell sample :
[code]

This will creates a new event subscription `EventSubscription1` to the currently selected Azure subscription with the webhook destination endpoint https://requestb.in/19qlscd1. This event subscription specifies the additional filters for event types and subject, and only events matching those filters will be delivered to the

[2020-03-31 06:20] chetansriv commented on #41252
@elechuga  We have updated the article as suggested, could you please review.

#please-close

[2020-03-31 06:20] #41252 closed

[2020-03-31 06:21] kanshiG commented on #51305
#sign-off

[2020-03-31 06:22] VikasPullagura-MSFT commented on #51049
@RoopChevuri @viswanadham-k Can you please check and add your comments.

[2020-03-31 06:23] amanmcse commented on #51196
@wj109s5 I am closing the thread. Feel free to tag me in your reply if you have any questions.

[2020-03-31 06:23] #51196 closed

[2020-03-31 06:27] maxiptah commented on #50778
@SumanthMarigowda-MSFT  thank you for your reply!
Last question: is there an Issue somewhere I can follow for this feature?

[2020-03-31 06:30] rayne-wiselman commented on #51172
Thanks for your feedback. This is now fixed.

#please-close

[2020-03-31 06:30] #51172 closed

[2020-03-31 06:44] Niclas1976 commented on #50703
https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/40059622-rename-block-sign-in-yes-no-accountenabled-t

[2020-03-31 06:46] dcbrown16 opened #51330 "Document service endpoint impact on public IP"
There's an odd side effect of the fact that Storage service endpoints enable traffic via private IP in the same region and to the paired region. If you are connecting from a VM on a subnet that has a Storage service endpoint, then ALL of your connections to ANY storage accounts in both the same region and the paired region are made using private IPs. This means that once you use vnet rules for any

[2020-03-31 06:50] #51222 closed

[2020-03-31 06:54] tonisc commented on #50684
Hi Mike, I read this document but the problem persist. I opened an issue into technical service for solve this.
Thanks a lot.

[2020-03-31 07:00] dcbrown16 commented on #51330
"Service endpoints don't apply to traffic outside the region of the virtual network and the designated region pair. You can only apply network rules granting access from virtual networks to storage accounts in the primary region of a storage account or in the designated paired region."

There is this note, but the point of that statement is that you can't use the service endpoint to connect outsid

[2020-03-31 07:03] AshokPeddakotla-MSFT commented on #50774
Thank you Ricky.

@Alexp2019  As Ricky suggested, please change the coordinates as per GIS standard. Please see below output.

![image](https://user-images.githubusercontent.com/44426435/77996163-bd5d3d80-734a-11ea-8128-2a7c6fa202ed.png)

Hope this resolves your issue. Do let us know if you have further questions.

[2020-03-31 07:08] souravmishra-msft commented on #50976
@swinster, You need the AzureAD PowerShell Module: [https://www.powershellgallery.com/packages/AzureAD](url)

**To create a Native Application:**
- Install-Module AzureAD
- Import-Module AzureAD
- Connect-AzureAD
- New-AzureADApplication -DisplayName "TestNativeApp" -PublicClient $true -ReplyUrls "https://localhost:3546"

**To create a SAML Application:**
_New-AzureADApplication -DisplayName "SAML

[2020-03-31 07:09] mailtogurvindersingh commented on #51156
Thanks for the clarification. Wondering, Why is this not supported thru azure portal?

[2020-03-31 07:09] kamfaima opened #51331 "Missing port 80 in NSG configuration"
This didn't work for me until I added tcp/80 to the list of inbound port rules. So basically added the following under the nsg/securityRules:

{
                        "name": "AllowHTTPInBound",
                        "properties": {
                            "priority": 1010,
                            "access": "Allow",
                            "direction": "Inbound",

[2020-03-31 07:09] #50976 closed

[2020-03-31 07:09] jmorcar commented on #50357
In other documentation I've seen a DNS label internal in Azure with this domain: core.windows.net.... How many internal domains there is available in Azure? How AKS could resolve these DNS zones. Is very important to assign DNS names to internal services in AKS and these can be resolved for external resources in Azure (VMs, External LoadBalancer etc..)

[2020-03-31 07:10] kcovert commented on #51301
No need for response, just commenting.

Thanks,
Kirk

Sent from my Verizon, Samsung Galaxy smartphone

________________________________
From: Ram <notifications@github.com>
Sent: Tuesday, March 31, 2020 1:56:06 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: kcovert <kcovert1@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Android app

[2020-03-31 07:10] RohitMungi-MSFT commented on #51329
@RifatUllah It would be great if you could provide more details about the issue you are facing in this document to help you further.

[2020-03-31 07:14] hisasima opened #51332 "A sentence in the pricing page of Private DNS is wrong."
I found a sentence which has "Managed Preview" in public document for Private DNS pricing. I know Private DNS has already been GA now. Could you revise that document ?

https://azure.microsoft.com/en-us/pricing/details/dns/

Zones can be either public or private, where Private DNS Zones (in Managed Preview) are only visible to VMs that are in your virtual network.

---
#### Document Details

⚠ *Do

[2020-03-31 07:21] srikanth-boga commented on #51260
Thanks Microsoft team for extending redis pahse2 start date(May 11, 2020 (extended)) and please let me know any changes in the phase2 start date as we have dependency on redis cache TLS 1.0

[2020-03-31 07:32] kantipenko opened #51333 "Step1 missing parameters"
Powershell for step 1 is wrong
It should be
New-RdsAppGroup  -TenantName &lt;YourTenantName&gt;   -HostPoolName &lt;YourHostPoolName&gt; -Name &lt;NewAppGroupname&gt;  -ResourceType &lt;Desktop or RemoteApp&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c05d017a-8ce4-d3c2-333c-9f1decbc8e6c
* Version Independent ID:

[2020-03-31 07:35] shikshik commented on #51215
This is not my case. It is not showing up although I'm the admin of those repositories.

[2020-03-31 07:36] jakaruna-MSFT commented on #51232
@haymansfield is there any update

[2020-03-31 07:40] jakaruna-MSFT commented on #51177
Easiest way is to use cert bot.

Then install nginx on the machine. Then ask certbot to generate certs for the nginx server.
You can use the hostname as <name>.<region>.cloupapp.azure.com

https://certbot.eff.org/lets-encrypt/ubuntubionic-nginx  this is the instructions for using nginx in ubuntu.

Once thats configured, You can redirect the traffic from nginx to jupyter.

[2020-03-31 07:41] jakaruna-MSFT commented on #51216
@cynthn
 please add your comments

[2020-03-31 07:42] jakaruna-MSFT commented on #51103
@jonwbstr is there any update

are you asking for the document enhancement

[2020-03-31 07:43] kantipenko commented on #51333
Actually it should be for allmost all the steps in this tutorial.

[2020-03-31 07:47] jakaruna-MSFT commented on #51042
@GitHubSachin  Its recommended to use the same versions as mentioned in the table.

@athinanthny please add your inputs regarding higher nuget versions in lower clusters

[2020-03-31 07:48] rhuanbarreto commented on #50552
I managed to configure a rails application to connect using the following parameters:
The certificate is on the root of the application.
[code]
But I need to have ssl enforced on the DB so I can do some further testing.

[2020-03-31 07:56] nabhishek commented on #47429
@mwc360 Good practice is to use similar sized compute for all nodes since job distribution happens in a round-robin fashion. Though Dispatcher plays an additional role of fetching the jobs from queue and distributing them, but this is a fairly light-weight activity as compared to actual data movement.
Moreover, if dispatcher node goes down then another node is selected as dispatcher which can be e

[2020-03-31 07:58] markhobson commented on #50903
Hi @Grace-MacJones-MSFT, thanks for the response. I understand the desire to keep the terminology aligned. The problem I encountered was how to search for this feature with generic terms such as 'authentication' and 'authorization'. It took me ages to discover that it was not supported under .NET Core (https://github.com/MicrosoftDocs/azure-docs/issues/50906), and without stumbling across the term

[2020-03-31 07:59] nabhishek commented on #47429
#please-close

[2020-03-31 07:59] #47429 closed

[2020-03-31 08:05] Matusa69 commented on #50998
Hi David Paul,
using the suggested driver Hive JDBC 1.2.1:

Connecting using external hostname works:
[image: image.png]

Connecting internal hostname zookeeper failed:
[image: image.png]

using the latest driver JDBC 3.1.2:
connecting using external hostanme failed:
[image: image.png]

connecting internal zookeeper hostname works:
[image: image.png]

so it is a puzzled behavior.

thx
A.

Il giorn

[2020-03-31 08:07] kktyau commented on #51046
Any update?

[2020-03-31 08:08] dearandyxu commented on #31934
You can get all Python API for ADF here: https://docs.microsoft.com/en-us/python/api/azure-mgmt-datafactory/azure.mgmt.datafactory?view=azure-python

In terms of lastmodifieddate in dataset (e.g Azure Blob), you can refer to: https://docs.microsoft.com/en-us/python/api/azure-mgmt-datafactory/azure.mgmt.datafactory.models.azureblobdataset?view=azure-python

[2020-03-31 08:09] dearandyxu commented on #31934
#please-close

[2020-03-31 08:09] #31934 closed

[2020-03-31 08:10] linda33wj commented on #21216
Thanks all for reporting the issue and sharing the feedback.

As mentioned in the note here https://docs.microsoft.com/en-us/azure/data-factory/connector-dynamics-crm-office-365#dynamics-as-a-source-type, when retrieving data from Dynamics, ADF tries to determine the schema by sampling the top rows, due to the dependent Dynamics XRM Tooling behavior on top of which this connector is built. If your

[2020-03-31 08:15] RohitMungi-MSFT commented on #51089
@juskuz This update is now in the document. Thanks for helping us.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-03-31 08:15] #51089 closed

[2020-03-31 08:17] RohitMungi-MSFT commented on #51160
@gglang Thanks for helping us with the issue related to the API. We have now filed a bug internally and we will update the status of the bug on the MSDN thread as this is related to our product service.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-03-31 08:17] #51160 closed

[2020-03-31 08:25] linda33wj commented on #33333
Thanks for sharing the feedback and your trial. The doc has been updated to clarify how to configure service principal and managed identity authentication for SQL MI.
#please-close

[2020-03-31 08:25] #33333 closed

[2020-03-31 08:27] stmax82 opened #51334 "Number of bytes in a MB"
Does 1 MB contain 10^6 or 2^20 bytes?

Due to the calculation `100,000 devices * 200 bytes/event * (3/60 event/sec) = 1,000,000 = 1 MBps` it seems like 1 MB = 10^6 bytes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e984b8e1-6bcb-cdbd-1cbc-cd7fafeb6b29
* Version Independent ID: 9612407a-f749-42c9-d2e0-331318427fe5
*

[2020-03-31 08:34] stmax82 opened #51335 "Number of bytes in 1 KB/MB/GB"
Does 1 MB contain 10^6 or 2^20 bytes?

Due to a calculation found in the [preview docs](https://docs.microsoft.com/en-us/azure/time-series-insights/time-series-insights-update-storage-ingress) `100,000 devices * 200 bytes/event * (3/60 event/sec) = 1,000,000 = 1 MBps` it seems like 1 MB = 10^6 bytes.

Same as above, is 1 KB = 10^3 or 2^10 bytes?

Do we have to limit the packet size to 32000 or 327

[2020-03-31 08:40] rbhanot4739 opened #51336 "OMS agent omsconfig not picking the portal configuration automatically after installation"
I have tried installing the OMS agent using the VM extension and as well as by connecting the VM to Azure Log Analytics workspace but in both the cases after the agent has been installed on the VM, `omsconfig` agent does not pick up the portal datasources configuration automatically. This causes the `/etc/rsyslog.d/95-omsagent.conf` file to remain empty due to which no logs are being pushed to the

[2020-03-31 08:43] msrini-MSFT commented on #51332
@hisasima , Thank you for your feedback. This GitHub issue is used to report issues which is related to Azure Docs repo.

But Thank you for letting us know. I will work internally to get the pricing page updated.

@rohinkoul , Can you please take a look ?

[2020-03-31 08:46] PramodValavala-MSFT commented on #51225
@balajisn Just following up here... Hope my previous comment clears things up.

[2020-03-31 08:56] jonwbstr commented on #51103
Yes, you must have the repo containing the package being updated in the
repo list to update said package.

I found this article today which has an azure mirror of the repo, adding a
link to this article that would be great. I didn't come across it in my
search the other day because it does not contain the URL provided in
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/endorsed-distro

[2020-03-31 08:58] townendk opened #51338 "Is it mandatory to download the image from Azure first"
Is there anything unique/special about the Multi-User image in the Azure Gallery, or can a standard Win10 Enterprise 1909 image be used?

Technically it seems this is possible, we have an environment in which there's already a prepped image for an on-premises VDI solution so being able to recycle that image would save a lot of time/effort but it's not clear to me whether there's something special

[2020-03-31 08:59] SnehaAgrawal-MSFT commented on #51206
@RonnieQuan Thanks again for the feedback! backend can be any service which App Service needs to connect or to operate as front end and whatever server that is deployed in the Delegated subnet is the backend for App Service. You may refer to below diagram for more clarity.
![image](https://user-images.githubusercontent.com/46553948/78007485-fa7dfb80-735b-11ea-9fe6-dfedaa68f527.png)

[2020-03-31 09:00] nabhishek commented on #42178
@arvind-dhariwal We will clarify it in our documentation. Firewall and ports section is applicable for SHIR hosted on VMs as well. Network Security Group, Azure Firewall and Windows Firewall needs to allow the corresponding entries as well.

Think of SHIR as a windows client which can be installed on any windows machine. Firewall requirements remains unchanged.

[2020-03-31 09:00] nabhishek commented on #42178
#please-close

[2020-03-31 09:00] #42178 closed

[2020-03-31 09:03] nabhishek commented on #20034
@krisneil Yes, it works.

[2020-03-31 09:03] nabhishek commented on #20034
#please-close

[2020-03-31 09:03] #20034 closed

[2020-03-31 09:06] GiantCrocodile commented on #51151
I see @MarileeTurscak-MSFT! What can we do if it's more than 30 days ago?

[2020-03-31 09:08] GiantCrocodile commented on #51151
@MarileeTurscak-MSFT Thank you! This did help. We will setup a log forwarding as described in the article to have more than 90 days of logs.

[2020-03-31 09:11] screig opened #51339 "VNet option missing"
Why is there no support for the Basic type as opposed to General-Purpose type?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8e785d4-cb1f-dc12-6702-48ffe1287734
* Version Independent ID: f359048a-b2a7-9b42-c109-b5429ac5f24a
* Content: [Use virtual network rules - Azure portal - Azure Database for PostgreSQL - Single

[2020-03-31 09:11] markleavesley opened #51340 "[ManualTrigger] is not defined"
Durable 2.2.0 and Functions 3.0.5

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c17b738-aa32-4cbb-3d82-bda2bc032487
* Version Independent ID: a34e246c-7c65-461f-4417-3c47eb4672e2
* Content: [Manage instances in Durable Functions - Azure](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions

[2020-03-31 09:12] markleavesley opened #51341 "IDurableOrchestrationClient.GetStatusAsync is marked obsolete"
Durable 2.2.0 and Functions 3.0.5

What should we be using?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c17b738-aa32-4cbb-3d82-bda2bc032487
* Version Independent ID: a34e246c-7c65-461f-4417-3c47eb4672e2
* Content: [Manage instances in Durable Functions - Azure](https://docs.microsoft.com/en-us/azure/azure-functions

[2020-03-31 09:17] solomson commented on #50871
I'm on Az Powershell 2.3.2 which likely explains it, thanks.

Looking at the PS gallery, boy this module moves fast :)

[2020-03-31 09:18] PramodValavala-MSFT commented on #51193
@markleavesley Looks like this is needed only for [the override](https://docs.microsoft.com/en-gb/dotnet/api/microsoft.azure.webjobs.extensions.durabletask.durablecontextextensions.startnewasync?view=azure-dotnet#Microsoft_Azure_WebJobs_Extensions_DurableTask_DurableContextExtensions_StartNewAsync__1_Microsoft_Azure_WebJobs_Extensions_DurableTask_IDurableOrchestrationClient_System_String___0_) wit

[2020-03-31 09:25] yoelhor commented on #51320
The only place where the starter pack has a reference to the login.microsoftonline.com is in the `login-NonInteractive` technical profile.

This technical profile makes an OpenID request using the Resource Owner Password Credential grant flow to validate the users provided credentials at the **Azure AD** authorization server. Essentially this is an API based logon which the Azure AD B2C server wil

[2020-03-31 09:36] PramodValavala-MSFT commented on #51286
@mathiasbl You can refer to the [tests here](https://github.com/Azure/azure-webjobs-sdk/blob/7b97fd9e3b5b00ef5808eeda4439768cb947f530/test/Microsoft.Azure.WebJobs.Host.FunctionalTests/HostListenerFactoryTests.cs#L149) on how this can be used.

For reference, you basically need a class like this as argument to the attribute

[code]

We are assigning this issue to the content author for further revi

[2020-03-31 09:37] PramodValavala-MSFT commented on #51286
@mathiasbl You can refer to the [tests here](https://github.com/Azure/azure-webjobs-sdk/blob/7b97fd9e3b5b00ef5808eeda4439768cb947f530/test/Microsoft.Azure.WebJobs.Host.FunctionalTests/HostListenerFactoryTests.cs#L149) on how this can be used.

For reference, you basically need a class like this as argument to the attribute

[code]

We are assigning this issue to the content author for further revi

[2020-03-31 09:55] townendk commented on #51338
Answered my own question, only 2 concurrent sessions allowed at a time when deploying like this. Would be nice to know whether there's a reg key or change that can be made to alter this, but will progress with a 'proper' multi user image deployment in the meantime.

[2020-03-31 10:02] Grepsy opened #51342 "Is this documentation still correct for current App Serivces?"
When looking at our app service trough resource explorer the `hostingEnvironments` node is hidden by default and only shown when clicking 'Show all'. When clicking on the hostingEnvironments node the only data shown is:
[code]

Can it be this has been replaced by the `serverfarms` node? The API version shown in this article is 2015-08-01, which makes me think this article is outdated. What is the

[2020-03-31 10:06] mathiasbl commented on #51286
Thank you for the example.
This actually throws a not supported error on build of the azure function.

[2020-03-31 10:14] fowl2 commented on #51051
@DixitArora-MSFT just a general process thing - it would be great if this issue could be updated when the PR was merged- thanks!

[2020-03-31 10:17] tinhpv opened #51344 "Azure Spatial Anchor with Augmented Image of ARCore"
Anchor created by using AugmentedImages of ARCore may be not working correctly with ASA Wayfinding?

[2020-03-31 10:21] linda33wj commented on #46484
Thanks all for reporting the issue. We are now working on upgrading the connector to support OAuth 2.0. At the moment I don't have definitive release date to share yet, please stay tuned.

[2020-03-31 10:21] ShirleyWangMSFT commented on #22863
Hi @Anmolgan81

Thank you for your feedback and apologize for the long delay in getting back to you.
The current ADF S3 connector uses the S3 SDK that does not support connecting to Glacier.  You need to place the files in a regular S3 bucket in order for ADF to work.

#please-close

[2020-03-31 10:21] #22863 closed

[2020-03-31 10:22] jakaruna-MSFT commented on #51216
@WagdyIshac i reached out to the internal teams. i will post here once i have some information

[2020-03-31 10:38] chris-han opened #51345 "sample code should be"
certificates:
   device_ca_cert: "c:\\&lt;path&gt;\\device-ca--full-chain.cert.pem"
   device_ca_pk: "c:\\&lt;path&gt;\\device-ca.key.pem"
   trusted_ca_certs: "c:\\&lt;path&gt;\\root-ca.root.ca.cert.pem"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94792ff1-5976-90f4-5092-0d8d8ff01635
* Version Independent ID: d6548

[2020-03-31 10:54] josephka3 opened #51346 "Pivot to the incident from a third part tool"
I was trying to generate a pivot link to the Sentinel's incident but the SecurityAlerts table does not seem to have the Incident ID used in the url on the portal.

For example below is a link to a particular Incident from the portal, so to generate this I need the last bit in the url and its not there in the SecurityAlerts table
This is needed during ingestion to other platforms like Splunk, Servi

[2020-03-31 11:04] jakaruna-MSFT commented on #50997
@rdbraber Thats possible
Take a look at the first example from the document.

in the forward section you can give the DNs server ip to forward instead of /etc/resolv.conf.

Is that the one you are asking for?

[2020-03-31 11:05] LiorArmiev opened #51347 "using new type of endpoint URL"
how can we use the new URL links with the client library as its looking for the location url like https://westeurope.api.cognitive.microsoft.com/
insted of the new convention of
https://{Service Name}.cognitiveservices.azure.com/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef96562d-099d-9400-c88c-ba0439e136a6
* Vers

[2020-03-31 11:23] jikuja commented on #43959
I missed this one while reading documentation. I Did not thought that clicking a link would automatically select a row and add exported parameters.

One of the goals of mine was to create an external dashboard containing direct links to workbooks with predefined parameters but exporting parameters from row might be a solution I was looking.

[2020-03-31 11:23] KrishnaG-MSFT commented on #51336
@rbhanot4739 Thanks for your comment! We will review and provide an update as appropriate.

[2020-03-31 11:24] akshaymatmicrosoft opened #51348 "RSA-HSM keys are supported with Azure Storage encryption"
Please update below text to reflect RSA-HSM keys as supported and clarify key size to be in bit.

**Change This**
Only RSA keys of size 2048 are supported with Azure Storage encryption. For more information about keys, see Key Vault keys in About Azure Key Vault keys, secrets and certificates.

**To This**
Only RSA and RSA-HSM keys of size 2048 bit are supported with Azure Storage encryption. For

[2020-03-31 11:25] KrishnaG-MSFT commented on #51331
@kamfaima Thanks for your comment! We will review and provide an update as appropriate.

[2020-03-31 11:26] KrishnaG-MSFT commented on #51323
@karlochacon Thanks for your comment! We will review and provide an update as appropriate.

[2020-03-31 11:30] ram-suresh commented on #51176
Hi

Yes, I am trying to link a document that is there in my Sharepoint. I have also raised a support request but the technical was also not able to resolve the issue. They asked me to raise the support request again with Sharepoint.

[2020-03-31 11:31] SnehaAgrawal-MSFT commented on #51342
@Grepsy Thanks for the feedback! We will review and update accordingly.

[2020-03-31 11:41] jpdussourd-msft opened #51349 "Front-end Ip Addresses (another one)"
The statement:
"Only 1 public IP address or one private IP address is supported. You choose the front-end IP when you create the application gateway"
is the complete opposite of the FAQ:
https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-faq#can-i-simultaneously-use-application-gateway-for-both-external-and-internal-traffic.

Please advise which statement is good for ea

[2020-03-31 11:47] jakaruna-MSFT commented on #50932
@amramtamir you can add the ttl to the "coredns" config map.   But the downside is that will be applied for all dns queries.

I will also ask my team for options and let you know

[2020-03-31 11:53] rbhanot4739 commented on #51171
Any update on this ?

[2020-03-31 11:53] jeanpchr commented on #11781
@jtourlamain I would like to ask the same question. Trying to integrating authorization code flow with PKCE to my angular app with a B2C authorization server. The server asks for the static client_secret even when I'm using PKCE, why is that?

[2020-03-31 11:55] balajisn commented on #51225
The documentation was little confusing, thanks for the information.

[2020-03-31 11:55] #51225 closed

[2020-03-31 11:58] msrini-MSFT commented on #51349
@jpdussourd-msft , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-31 12:01] wsmelton opened #51351 "lsnrctl is not in path"
Built a new Oracle 18c VM and found the `lsnrctl` command to run on step 1 to create a database will not work as-is.

You have to provide the full path of that utility as the `oracle` account does not have the bin folder in it's path.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 279359a4-139a-ee4b-027b-4f43c5

[2020-03-31 12:02] msrini-MSFT commented on #51349
@jpdussourd-msft , Both statements are correct and depicts the same information. Please let me know what exactly is your question here.

[2020-03-31 12:06] shashishailaj commented on #47564
#reassign:msmbaldwin

[2020-03-31 12:08] VikasPullagura-MSFT commented on #51333
@kantipenko Thanks for pointing this out. I have updated the document and  changes will go live once PR is approved.

[2020-03-31 12:08] #51333 closed

[2020-03-31 12:09] jpdussourd-msft commented on #51349
Not exactly, the FAQ is stating that you can use at the same time both internal and external vip. The line I extract from the Front-end IP chapter state that either one or the other is supported but not both at the same time.
Also when trying to set up the environment with both 1 internal and 1 external IP on the same App Gateway to listen on port 443, you get an error stating that the port is alr

[2020-03-31 12:14] AleynovSergey opened #51352 "When can we expect support for V2 version in Azure .Net SDK?"
When can we expect support for formrecognizer/v2.0 version in Azure .Net SDK?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23d8b75f-c509-401f-2a66-4f7d1dab8f93
* Version Independent ID: 94094caa-ebb4-6752-0ff7-04331a2fa31b
* Content: [Quickstart: Form Recognizer client library for .NET - Azure Cognitive Services](htt

[2020-03-31 12:14] jpdussourd-msft commented on #51349
Answering to my own remark: for the port it's normal and documented in the FAQ as the port can't be shared for internal and external (any chance to change this in the future?)

[2020-03-31 12:14] #50940 closed

[2020-03-31 12:16] razvanzoitanu commented on #38880
I was able to open the downloaded sample csv in Excel, add 9 rows (users) in the file, save and import to Azure. Worked 100%.

[2020-03-31 12:25] jakaruna-MSFT commented on #50848
This doc describes the service remoting with reliable services. Will this help https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communication-remoting

[2020-03-31 12:27] jakaruna-MSFT commented on #50829
I am reaching out to the internal teams. i will update here once i have some information

[2020-03-31 12:30] haymansfield opened #51353 "Use of traffic selectors in 2019-11-01 version of connection resource manager template."
I am trying to identify whether on a S2S connection with UsePolicyBasedTrafficSelectors set to true it is possible to specify a subset of the virtual network prefixes (e.g. one subnet only) to form the Azure end of traffic selectors.

The documentation here seems to suggest the entire virtual network makes up the Azure end of the traffic selectors.

The 2019-11-01 version of the vpn connection res

[2020-03-31 12:34] GiftA-MSFT commented on #50928
@v-kydela do you have any further questions?

[2020-03-31 12:41] VikasPullagura-MSFT commented on #51197
@3vi1 I got update from internal team that it works only with global admins.

[2020-03-31 12:42] AshokPeddakotla-MSFT commented on #51209
@Since there is a separate doc for the steps to connect and Visualize data from Time Series Insights in Power BI, I will add this in the Next Steps for more clarity. I believe this makes more sense.

[2020-03-31 12:42] haymansfield commented on #51232
If you don't feel it's worth clarifying in the docs, then I'm happy to close.

[2020-03-31 12:43] msrini-MSFT commented on #51349
@jpdussourd-msft , we are aware of this limitation and it will be fixed in the future.

[2020-03-31 12:43] VikasPullagura-MSFT commented on #51049
@ChristianMontoya can you pleas check and add your comments.

[2020-03-31 12:45] AshokPeddakotla-MSFT commented on #51208
Adding @lyrana for further review and update the doc as appropriate.

[2020-03-31 12:51] GiftA-MSFT commented on #51347
@LiorArmiev we will review your feedback and get back to you shortly. Thanks.

[2020-03-31 12:52] pierluigilenoci commented on #23789
This is doable with https://github.com/pusher/oauth2_proxy

[2020-03-31 12:54] jakaruna-MSFT commented on #50753
@sami1178116 is there any update

[2020-03-31 13:02] jonathangoings commented on #43898
Would like an update? Running into the same issue on Linux.

[2020-03-31 13:03] ezwiefel opened #51354 "Token-Based Authentication - Permissions?"
It's unclear from the documentation what permissions are required for a service principal or user to score a model using the token-based authentication.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 935fa9e7-284c-6ce5-a9be-f4ce78fc52aa
* Version Independent ID: 41c865ed-201b-111a-8c46-d22ac57a9ae5
* Content: [Set up a

[2020-03-31 13:09] sunasing commented on #46189
Thanks @dudu-markovitz. The Telemetry section is here: https://docs.microsoft.com/en-us/azure/industry/agriculture/ingest-historical-telemetry-data-in-azure-farmbeats#send-telemetry
And to query the ingested telemetry data using /Telemetry API, please see https://docs.microsoft.com/en-us/azure/industry/agriculture/query-telemetry-data-from-azure-farmbeats

[2020-03-31 13:10] eparizzi opened #51355 "How to update the web hook endpoint URL?"
This is great but everytime ngrok is used a new URL is generated and the portal doesn't give the option to modify the subscription endpoint URL once it's been created.
We need to delete and re-create the whole subscription from scratch with the new ngrok URL, which is very time consuming.

Is there a way to update the web hook URL without the need to re-create the event? Maybe with Azure CLI?

---

[2020-03-31 13:25] NavtejSaini-MSFT commented on #51339
@screig The product features are dependent on the product tier. Some of the features are not available in all the tiers.
Please leave your feedback here - https://feedback.azure.com/forums/597976-azure-database-for-postgresql so that Product team can look into the same and provide their insight.

[2020-03-31 13:27] NavtejSaini-MSFT commented on #50993
@wudong Were you able to try this and provide results. If no questions at this  moment, we will close the thread by EOD.

[2020-03-31 13:29] AshokPeddakotla-MSFT commented on #51020
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-31 13:29] #51020 closed

[2020-03-31 13:32] NavtejSaini-MSFT commented on #51304
@SnehaGunda Please check this further.

[2020-03-31 13:36] WillyMoselhy opened #51356 "Unnecessary code"
To shutdown the VMs we can simply use " $VMIDs | Stop-AzVM " there is not need for looping. Can also add -NoWait to do it in parallel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c823b1f-688f-e1b9-1590-92d12c28b138
* Version Independent ID: ac483660-9046-51b6-b678-4e6f5cd15e74
* Content: [Resize a Windows VM in Azur

[2020-03-31 13:41] WillyMoselhy commented on #51356
$VMIDs | Get-AzResource | Stop-AzVM -Force -NoWait

[2020-03-31 13:43] jasenf commented on #51284
I just assumed there would be a how-to guide or some basic documentation on the CLI.  I don't usually see MS release something with no documentation behind it.

[2020-03-31 13:44] yoelhor commented on #51218
The sing-in event in the **first orchestration step** is not actually the sign-in. It's what you are looking for, the time before Azure AD B2C presents the sign-in page.

[2020-03-31 13:55] jiecao-574 opened #51357 "Logic app run instances cannot stop if using HTTP Webhook action, and we should use HTTP action."
The page publishes a way to use logic app to managed azure virtual desktop.  But it appears the team made a mistake by using the http webhook action. To fix it, the customers need to change it to use http action instead. Please kindly check. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24a6c4e2-702f-2b17-3

[2020-03-31 14:07] vlado101 commented on #38302
Hello,

Just wanted to follow up on this.

Thank you

[2020-03-31 14:15] IEvangelist commented on #50995
Hi @Potter-Gonchar,

Honestly, I'm not sure why you're experiencing this issue. I just verified that the generated python client from the `https://eastus.cris.ai/docs/v2.0/swagger` URL does in fact contain the `CustomSpeechTranscriptionsApi` attribute. Could you try again, [follow this step exactly](https://docs.microsoft.com/en-gb/azure/cognitive-services/speech-service/quickstarts/from-blob?pivo

[2020-03-31 14:17] govi2010 commented on #20701
@DmitrySikorsky  We also have *.ourdomain.com project.
and We did not found a direct solution.
So, We moved all our static files (JS/CSS/IMGs) to one specific domain(ourdomain.com in our case). and then add CDN to that static domain.

[2020-03-31 14:25] cephalin commented on #50485
@tobvil Thank you for the feedback. The updated doc should be published sometime today.

[2020-03-31 14:25] cephalin commented on #50485
#please-close

[2020-03-31 14:25] #50485 closed

[2020-03-31 14:30] cephalin commented on #45727
@cgrahim valid characters are a-z, 0-9, and -. Underscores are not allowed. It's mentioned in the doc.

[2020-03-31 14:38] IEvangelist commented on #50878
Hi @lengyuan,

Thank you for reaching out and asking this clarifying question, we appreciate these kinds of inquires. This is a great question, and one that I'm not actually certain of. I wanted you to know that I have reached out to the service team and asked them. I will let you know as soon as I hear back from them, and we will also update the docs to reflect this more concisely. Stay tuned...

[2020-03-31 14:40] giorgia995 opened #51359 "designer create image from model"
Hi,
from designer, after the execution of the pipeline and model is trained i'm able to run the webservice for test the model.
How i can deploy now the model as an image so i can use the model on Iot Edge?
Where i can find the model.pkl, the score.py and the conda enviroments?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-03-31 14:43] ram-msft commented on #51344
@tinhpv Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2020-03-31 14:45] ybencheq opened #51360 "Listing Windows 10 Enterprise multi-session"
The ASC team validates support for Windows 10 Enterprise so the Windows Virtual Desktop team is requesting for Windows 10 Enterprise multi-session to be listed with supported OS's on this page like so:

_"Windows 7 SP1, Windows 8 Enterprise and Pro, and Windows 10 Enterprise (including multi-session), and Pro"_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-03-31 14:46] ram-msft commented on #51352
@AleynovSergey Thanks for your question. Is there a specific doc that you are referring? If so, could you please share the same?

[2020-03-31 14:47] 3vi1 commented on #33551
I don't think this issue should be closed either.  I just ran into this same issue, after completely deleting and attempting to redeploy my management site.  The only thing that worked for me was @chrisred's suggestion of manually restarting the runbook - which then ran to successful completion.

I had previously redeployed the site once or twice without this problem, but I agree with @proximagr t

[2020-03-31 14:48] ram-msft commented on #51359
@giorgiamanna Thanks for your question. Is there a specific doc that you are referring? If so, could you please share the same?

[2020-03-31 14:49] karlochacon commented on #51323
thanks waiting for your answer thanks

[2020-03-31 14:50] ram-msft commented on #51354
@ezwiefel Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-31 14:52] simonech opened #51362 "--location required in az deployment group create command"
When I try to execute the command in the "Deploy template" section, I get an error that says that "az deployment create: error: the following arguments are required: --location/-l"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bf283cd-65c2-09ad-0af2-37bf95fe4d90
* Version Independent ID: 46451ccf-174a-e4da-433f-aa8c5

[2020-03-31 14:55] simonech opened #51363 "unrecognized arguments: group"
I used this command:
`az deployment create group --resource-group AZ-T-RGPRESITE --name blanktemplate --template-file /Users/simone/ARM-Templates/azuredeploy.json --location westeurope`

I get the error: "az: error: unrecognized arguments: group --resource-group AZ-T-RGPRESITE"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-03-31 14:56] bamajeed opened #51364 "Clarify enable and disable rule for a device"
In the section https://docs.microsoft.com/en-us/azure/iot-central/core/tutorial-create-telemetry-rules#enable-or-disable-a-rule-for-a-device you mention "the Scopes section". This needs to be clarified better, what is Scopes?.
Also It does not seem to be possible to enable/disable a rule based on device Id?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-03-31 14:57] bradoyler commented on #51164
@DixitArora-MSFT Hi, I was specifically looking for an example with javascript functions, and I'm not sure if its supported.

[2020-03-31 15:00] mrbullwinkle commented on #50687
@alternaivan thank you so much for the suggestion! I have updated the doc to make clear that for Linux based workloads manual instrumentation is currently required.

The changes are merged internally and will go live in the public docs later today. Thanks again for helping to improve our docs!

[2020-03-31 15:00] mrbullwinkle commented on #50687
#please-close

[2020-03-31 15:00] #50687 closed

[2020-03-31 15:03] craigktreasure commented on #51301
@kcovert, Thanks for the feedback!

[2020-03-31 15:06] Briwalkr opened #51365 "Add warning around case sensitivity for links provided in this document"
I would suggest add a warning around the case sensitivity of the web links provided in this document. https://westus.azuredatabricks.net#secrets/createscope returns a blank page due to the lower case "S" in Scope. Most web addresses are not case sensitive.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 810a218a-80a5-2d

[2020-03-31 15:09] simonech commented on #51363
Nevermind, my bad I had switched `group create` with `create group`

[2020-03-31 15:09] #51363 closed

[2020-03-31 15:09] simonech commented on #51362
Nevermind, my bad I had switched `group create` with `create group`

[2020-03-31 15:09] #51362 closed

[2020-03-31 15:12] agileramblings commented on #46021
This deserves some attention. The current script line  `forward .  /etc/resolv.conf # you can redirect this to a specific DNS server such as 10.0.0.10`  100% doesn't work if you are trying to forward an externally resolved FQDN to an internal DNS entry. I had to remove `/etc/resolv.conf` and replace it with 10.0.0.10 suggestion to get at the coredns entries.

[2020-03-31 15:14] AravindIT opened #51366 "Even for Mixed sentiment Document score is coming"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-03-31 15:17] KrishnaG-MSFT commented on #51362
@simonech Glad to know that you have self resolved and closed the issue. Thanks for the update.

[2020-03-31 15:18] KrishnaG-MSFT commented on #51363
@simonech Glad to know that you have self resolved and closed the issue. Thanks for the update.

[2020-03-31 15:20] SaurabhSharma-MSFT commented on #50711
@We will now proceed to close this thread as we haven't heard back. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-31 15:20] #50711 closed

[2020-03-31 15:21] erhopf commented on #49502
#reassign: @ArcherAZ

[2020-03-31 15:23] cherylmc commented on #51107
#reassign:reyandap

[2020-03-31 15:23] KrishnaG-MSFT commented on #51360
@ybencheq Thanks for the comment!
Assigning content owner @bwren for visibility, review and document enhancement consideration as appropriate.

[2020-03-31 15:27] SamirFarhat commented on #51270
It's supported. But this implies DNS resolution manipulations. Can be closed

[2020-03-31 15:28] 3vi1 opened #51368 "v1.2.2 claims we should upgrade to v1.2.0"
The current version of the Management app is 1.2.2 (just deployed), but the interface claims there is a newer version for users to deploy.  However, the newer version it's saying is available is 1.2.0:   https://i.imgur.com/kkmS788.png

`
A New App Version Available

Current App Version : 1.2.2
New App Version : 1.2.0
Update`

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-03-31 15:32] bandersmsft commented on #51317
@AKonCloud @KrishnaG-MSFT As noted, https://github.com/MicrosoftDocs/azure-docs/pull/51325 fixes this issue.
#please-close

[2020-03-31 15:32] #51317 closed

[2020-03-31 15:34] simonech opened #51369 "The deployment names in the redeploy templates are switched"
The deployment that uses the default SKU is called `addskuparameter ` while the deployment that specifies the SKU parameter is called `usedefaultsku `

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3076c5fc-7226-9aee-40e1-e75e5d1cbeb8
* Version Independent ID: 211d9b84-c796-4628-c801-f24e5c21cb68
* Content: [Tutorial -

[2020-03-31 15:40] gdprtcl opened #51371 ""get_token" method from a .NET core app?"
Will we be able to use "get_token" method from a .NET core application, and not just python? We have an application that will do an API call to an ML Model hosted on AKS as Deployments.
As each deployment has a different access key, we wanted the application to authenticate by using the bearer token dynamically.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2020-03-31 15:49] JulienFloris commented on #20117
@adpick can NelsonMarcos Question be answered?

We are currently working on a new subscription design as well, and a limit of 50 would have an design impact. So Official Docs and/or knowing it is still valid would help.

[2020-03-31 15:52] muecke36 commented on #20701
I can recommend siteground.com. Low cost and wildcard support for subdomains.

[2020-03-31 15:53] SadiqhAhmed-MSFT commented on #51323
@karlochacon An "Account Admin/Owner and Billing Administrator" can initiate transfer of billing ownership.

[2020-03-31 15:57] #51242 closed

[2020-03-31 15:58] simonech opened #51372 "Output for the deployment command not shown"
In the section "Deploy template", the sentence "In the output for the deployment command" is not clear if the JSON should be returned by the CLI or just seen in the Azure portal.
If from the CLI, then nothing gets returned, only the result of the deployment.

To have it as a result one should add `--query properties.outputs.storageEndpoint.value --output json` to the CLI call.

---
#### Document D

[2020-03-31 15:58] MattHartz commented on #51296
@DixitArora-MSFT
Yes I used this command
New-AzEventGridSubscription -ResourceGroup MyResourceGroupName -Endpoint https://requestb.in/19qlscd1 -EventSubscriptionName EventSubscription1 -TopicName Topic1

[2020-03-31 15:59] jeefberkey commented on #38880
On Windows, where the line ending is as expected. I am using Linux, with the other line ending, as @stdedos said. It works after you convert the line endings to the Windows style.

[2020-03-31 16:00] jeremy-hicks commented on #31853
Thank you @scott1138! I will give that a shot.

[2020-03-31 16:04] GiftA-MSFT commented on #51347
@LiorArmiev what do you mean by 'its looking for the location url like https://westeurope.api.cognitive.microsoft.com/'? Can you clarify and provide an example? I had no issues providing my endpoint with convention 'https://{Service Name}.cognitiveservices.azure.com/' for authenticating the client. Thanks.

[2020-03-31 16:05] ChrisMenegay commented on #50831
Is there a way to force the DHCP lease to renew?  We implemented a CNAME for our Azure SQL MI and are getting "target principal name is incorrect".  I'm hopeful the DHCP renew will get that working.  Or perhaps not, there is a pretty big lack of information on setting up a custom DNS name for Azure SQL MI

[2020-03-31 16:05] MattHartz commented on #51296
I can send a direct message somewhere w/ my actual endpoint, and my actual command. If that helps investigation.

[2020-03-31 16:08] dagiro commented on #50998
I'm happy you were able to connect.

[2020-03-31 16:08] DixitArora-MSFT commented on #51296
@banisadr Any inputs on this ?

[2020-03-31 16:09] LiorArmiev commented on #51347
Sorry, False alarm, I meant that the service didn't work with the new URL convention.
But it was a problem in my code.

[2020-03-31 16:09] #51347 closed

[2020-03-31 16:12] ajlam commented on #50552
This is what I'm using through pure Ruby and not through Rails.

[code]

[2020-03-31 16:15] mumian commented on #51369
@simonech - thank you for the comment.  I will update the article today.

#please-close

[2020-03-31 16:15] #51369 closed

[2020-03-31 16:22] rohinkoul commented on #51332
Thanks for pointing this out.
@Timothy<mailto:tijones@microsoft.com>: Could you help with fixing this. Private DNS is GA so we should remove “managed preview” from the text.
[cid:image002.jpg@01D6073D.F16F48D0]

From: hisasima <notifications@github.com>
Sent: Tuesday, March 31, 2020 12:15 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rohin Koul <Rohin.Koul@microsoft.com>; Men

[2020-03-31 16:23] jeevansd commented on #51322
@shadewlkr Are you updating this in the AWS Role trust policy? Or are you adding this in the service account role profile?

[2020-03-31 16:28] v-kydela commented on #50928
@GiftA-MSFT - My expectation was that this documentation bug would be fixed before this issue would be closed

[2020-03-31 16:30] stdedos commented on #38880
Yes @jeefberkey  _but you are supposed to tell me that, aren't you_? Unless, of course, you are moving to the Windows-only cloud.

[2020-03-31 16:30] shadewlkr commented on #51322
@jeevansd
I'm updating this in the AWS Role trust policy.  For example, see here:

`{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "AllowSamlIdentityAssumeRole",
      "Effect": "Allow",
      "Principal": {
        "Federated": "arn:aws:iam::123456789:saml-provider/AzureAD"
      },
      "Action": [
        "sts:AssumeRoleWithSAML",
        "sts:TagSession"
      ],
      "Cond

[2020-03-31 16:31] anugrahasinha commented on #36661
My sincere apologies for not closing this. I should have been diligent to close this.

[2020-03-31 16:38] mumian commented on #51331
@kamfaima - thank you for the feedback.  I will update the article today.

#please-close

[2020-03-31 16:38] #51331 closed

[2020-03-31 16:42] JoseMSoares-MSFT opened #51374 "New-AzTag cmdlet does not accept -ResourceId parameter"
I am getting the following error when running the Powershell cmdlets on this dos:

New-AzTag : A parameter cannot be found that matches parameter name 'ResourceId'.
At line:1 char:11
+ New-AzTag -ResourceId /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx ...
+           ~~~~~~~~~~~
    + CategoryInfo          : InvalidArgument: (:) [New-AzTag], ParameterBindingException
    + FullyQualifiedErr

[2020-03-31 16:44] timsander1 commented on #44080
Hi all, I've added C# change stream samples. They'll be published later today.

[2020-03-31 16:44] timsander1 commented on #44080
#please-close

[2020-03-31 16:44] #44080 closed

[2020-03-31 16:44] ecfan commented on #51214
@dcbrown16, I've raised this suggestion to the team for discussion, thanks for the suggestion!

[2020-03-31 16:51] neeleshray-msft commented on #51346
@josephka3 Thank you for the feedback. We will review and update accordingly.

[2020-03-31 16:51] natasal opened #51375 "Automated Machine Learning Classification tutorial link not working"
Hi, the "Automated Machine Learning Classification" tutorial link in "Next Steps" is not working

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7855f7c-ec8d-0a25-0449-73868f4f6633
* Version Independent ID: 6ae4926c-1eae-937c-36ff-77d439bd2c39
* Content: [Define a machine learning task for an automated machine learning