[2021-03-10 08:06] Horgster commented on #71923
Hi!

The article was correct, just close this thread.

[2021-03-10 08:06] #71923 closed

[2021-03-10 08:13] KranthiPakala-MSFT commented on #71701
@mroyski Thanks for the feedback. We see that it has been explicitly called out in the document (In the very beginning of this section `Deploy U-SQL database through Azure Pipelines` - right before Step 2)

![image](https://user-images.githubusercontent.com/50185738/110597124-0316ae80-8135-11eb-800f-f1b460363d46.png)

Hope this sentence clarifies the need.

We will now proceed to close this thread

[2021-03-10 08:13] #71701 closed

[2021-03-10 08:27] selvamani1991 commented on #71868
Hi,
I have refer this link, kindly review it,
https://github.com/espressif/arduino-esp32/blob/master/libraries/WiFiClientSecure/examples/WiFiClientSecure/WiFiClientSecure.ino

[2021-03-10 08:39] AjayKumar-MSFT commented on #71707
JakeCroz1, Thanks for the additional details and apologies for any frustration with this.

I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-03-10 08:43] tlourey opened #71926 "More 'Run command' commands available"
There are now more [Available commands](https://docs.microsoft.com/en-au/azure/virtual-machines/windows/run-command#available-commands) than documented according to the interface.  Such as

EnableWindowsUpdate
DisableWindowsUpdate
EnableEMS
DisableNLA

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3ff94e6-3c1f-b9e1-1a

[2021-03-10 08:47] tomaschladek commented on #71874
Hi @garyboutet thank you very much for your feedback. There was breaking change in the beta SDKs, which renamed the method from IssueTokenAsync to GetTokenAsync. If you upgrade your SDK to version 1.0.0-beta5, you will see this method.

I'm sorry for the inconveniences and we will improve the communication of breaking changes in the SDKs. Really appreciate your feedback.

Here is the difference in

[2021-03-10 09:10] bmaster001 opened #71927 ""Licensing requirements" clarification"
Under "Licensing requirements" I see now: "Using this feature requires an Azure AD Premium P1 license.". It would be clearer if this would specify that a license is required for each user affected by a conditional policy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d525ecd-381b-162f-84b7-2912b83462f6
* Version Inde

[2021-03-10 09:14] VikasPullagura-MSFT commented on #71458
@ddobric Can you please share update from support case you opened.

[2021-03-10 09:15] VikasPullagura-MSFT commented on #70985
@toddysm Can you please check and add your comments for the recent update on this.

[2021-03-10 09:16] VikasPullagura-MSFT commented on #71194
@amjads1
Can you please check and add your comments on this doc update request as applicable.

[2021-03-10 09:17] VikasPullagura-MSFT commented on #71926
@tlourey
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-03-10 09:17] VikasPullagura-MSFT commented on #71926
@bobbytreed
Can you please check and add your comments on this doc update request as applicable.

[2021-03-10 09:19] CHEEKATLAPRADEEP-MSFT commented on #71918
@Jigar191089  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-10 09:35] SatishBoddu-MSFT commented on #71668
@deomaximo Thanks a lot for the report. I am able to repro the issue.

**Troubleshooting steps:**

**Step 1:** Update your code to send the telemetry in the UTF8 encoded , .JSON format.
It looks like the issue is with the encoding of the telemetry message sent.

I have modified my C# code to send the encoded message as utf-8 instead of utf-32.
Below are the properties I have used. Please try these

[2021-03-10 09:55] ksgopal4 opened #71933 "Why does the template for aspnet core mvc create 2 azure AD applications?"
I am using VS 2019 (16.8.4), when I create a new aspnet mvc project and configure it to use 'work or school account', I find that on the azure ad two apps have been created, one called
`<projectname>` and the other `<projectname>_<timestamp>`.

Could you briefly explain here why this is? The tenant I am pointing towards is a B2C tenant.

Regards
Gopal

---
#### Document Details

⚠ *Do not edit thi

[2021-03-10 10:19] #71898 closed

[2021-03-10 10:31] NocFlame opened #71934 "Pictures dont follow plugin flow"
[Enter feedback here]
The tutorial no longer reflects the ux flow of the Azure Static Web Apps extension for Visual Studio Code plugin when following no  framework option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59b3b161-b559-f90b-1566-f18776a5f7da
* Version Independent ID: 3e536234-16ad-2ed3-fb58-c128ba2faab2
*

[2021-03-10 10:32] BhargaviAnnadevara-MSFT commented on #71839
@steekohoopdy Any further update here?

[2021-03-10 10:43] yoelhor commented on #71675
#please-close

[2021-03-10 10:43] kye commented on #71721
Yep. That's fair. Please close the ticket.

[2021-03-10 10:44] wangshufu opened #71935 "page is always blank"
Android , call mmultipleaccountapp?. acquiretoken, open the web page, enter the mobile phone number, the page is always blank

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae07d114-c399-29bb-ea3c-40fab750eed4
* Version Independent ID: 38428448-dbff-0155-23ad-6cfb6115183a
* Content: [Quickstart: Add sign in with Micros

[2021-03-10 10:45] yoelhor commented on #69086
Agree, It's Impossible to test SPA via 'Run now'.

#sign-off

[2021-03-10 10:45] #69086 closed

[2021-03-10 10:46] MayankBargali-MSFT commented on #71721
@kye Thanks for the confirmation. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-03-10 10:46] #71721 closed

[2021-03-10 10:50] BhargaviAnnadevara-MSFT commented on #71935
@wangshufu

[2021-03-10 10:54] wangshufu commented on #71935
https://docs.microsoft.com/zh-cn/azure/active-directory/develop/quickstart-v2-android

[2021-03-10 10:57] wangshufu commented on #71935
Call "IMultipleAccountPublicClientApplication.acquireToken()" this method, will jump out of a web page, and enter the phone number, and then the page will always be blank

[2021-03-10 11:04] GitaraniSharma-MSFT commented on #71863
@v-lyivan , I checked the link at the bottom of the page and it works.

![image](https://user-images.githubusercontent.com/67630903/110619863-5719a580-81be-11eb-99bb-9aa9b4334e54.png)

The link it opens is : https://github.com/Azure/azure-docs-rest-apis/tree/master/docs-ref-autogen/cdn/cdn/EdgeNodes

May I know if there is any other link that you are referring to?

[2021-03-10 11:13] akshaymatmicrosoft opened #71936 "Limitations section to include "Managed Storage Account are not supported"."
Add below statement as last bullet under "**Limitations**" section. Below has been brainstormed with Storage and Networking Product Group as part of ICM 229258739 (refer ICM notes for details).

- Managed storage accounts are not supported in endpoint policies. Policies will deny access to all Managed storage accounts, by default. If your application needs access to Managed storage accounts, endpo

[2021-03-10 11:13] BhargaviAnnadevara-MSFT commented on #71935
@wangshufu Thank you for the response. I've routed this to the appropriate Team to investigate and update.

[2021-03-10 11:16] v-lyivan commented on #71863
@GitaraniSharma-MSFT
I tried opening the link through VPN, without and through a VM and the results are all the same.

![image](https://user-images.githubusercontent.com/71321833/110621331-bff32480-81a2-11eb-8cc5-baea00686c61.png)

[2021-03-10 11:29] AjayKumar-MSFT commented on #71901
@JakeCroz1, Thanks for taking time to share your valuable feedback. We (@BryanTrach-MSFT) have raised a PR and it's shared with the author for further review.

[2021-03-10 11:35] peereflits opened #71939 "Setting "forgotPasswordLinkOverride" is missing in Metadata section"
In the Metadata section of this page a description of setting "forgotPasswordLinkOverride" is missing.
This setting is mentioned in https://docs.microsoft.com/en-us/azure/active-directory-b2c/add-password-reset-policy?pivots=b2c-custom-policy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c33bed9-7e41-92cb-e093-80e5fd

[2021-03-10 11:43] nadeemkhoury commented on #31993
Hi,
For anyone who is planning to use Azure AD Integration with Netsuite for user provisioning, please note that Microsoft has declared that this application will be deprecated by April 2021, which means in a month from now. Please see attached link warning.
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/netsuite-provisioning-tutorial

However, if you wanna use it, for now, you

[2021-03-10 11:45] ssivas commented on #71927
@bmaster001 , Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-03-10 11:45] ssivas commented on #71933
@ksgopal4 , Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-03-10 11:45] #71856 closed

[2021-03-10 11:47] ssivas commented on #71939
@peereflits , Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-03-10 11:48] MayankBargali-MSFT commented on #71925
@sijucm Attributes are not supported in python as mentioned in [attributes and annotations section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob-input?tabs=javascript#attributes-and-annotations). You can leverage the context.bindings.myInputBlob and split the string to get your desired result.

Please let me know if you have any queries or concerns.

[2021-03-10 11:51] Thomas-Clipex commented on #31993
What about the JIT provisioning? I can’t seem to get my Azure AD and NetSuite to sync. I go to the app login URL generated in azure and it brings up the Microsoft login. I login with the Microsoft credentials and then it sends me to the NetSuite login page. Then, I need to login again through NetSuite platform.

[2021-03-10 11:52] MayankBargali-MSFT commented on #71922
@zhijli Thank you for your feedback! We will review and update as appropriate.

[2021-03-10 11:54] nadeemkhoury commented on #31993
Hi Thomas,
Yes, there is no support for JIT provisioning. I also tried it many times and investigated it in details but there is no support except to use the Basic provisioning which will be deprecated this spring :-)

[2021-03-10 12:00] Klaas- commented on #70385
Thanks, this clears a lot of questions up, I do have a small final batch though :)

once a VM is created that has no availability zone set -- it will not be created and it will be in one of those three availability zones

1) Do I see in which zone it ends up?
2) Will it always remain in that zone or is it possible that microsoft moves VM from Zone1 to Zone2 in background?

[2021-03-10 12:05] MayankBargali-MSFT commented on #71922
@zhijli The code is just for reference and you can modify it according to your needs. In the sample code, if the primary endpoint fails to deliver the event then they are delivering the event to the secondary endpoint and at the same time wants to monitor the status of primary (whether it is now up and running). Similarly, if we are able to deliver the event to the primary endpoint then displaying

[2021-03-10 12:12] #65795 closed

[2021-03-10 12:22] WalterEbbers opened #71942 "Sign-In request update?"
Hi all,

I have a ASP.NET Core 3.1 webapplication that runs IdentityServer in it and where we have Azure Active Directory(AAD) as a external login provider to provide Single Sign On through OpenId connect.

The problem we are running against is that in certain situations, when people from a domain try to use the webapp we get the following error: 'AADSTS700016: Application with identifier '{Guid}'

[2021-03-10 12:31] yoelhor commented on #71939
Thanks for the feedback. The fix will be published later today.

Yoel

[2021-03-10 12:31] AnuragSharma-MSFT commented on #71924
@ericpopivker Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-03-10 12:56] Nemeczek commented on #40699
Well, there are people interested in this feature but this idea is "Pending moderator approval" for years now.

[2021-03-10 13:20] GitaraniSharma-MSFT commented on #71863
@v-lyivan , thank you for the update. I checked it in different browsers and looks like it returns 404. We have assigned this to the content owner/author for review & making the changes accordingly.

@asudbring , the link provided at the end of [this doc](https://docs.microsoft.com/en-us/azure/cdn/cdn-pop-locations) is a private Github repo that is returning 404 for users. We need to change the li

[2021-03-10 13:29] rajdeepdebnath commented on #71885
@BhargaviAnnadevara-MSFT [https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-point-to-site-resource-manager-portal#getcer](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-point-to-site-resource-manager-portal#getcer)

[2021-03-10 13:32] GitaraniSharma-MSFT commented on #71718
@tigerdeccan , I am reaching out to you to check if you have any further queries or concerns regarding the above issue.

[2021-03-10 13:53] deomaximo commented on #71668
Thanks!

[2021-03-10 14:02] BhargaviAnnadevara-MSFT commented on #71868
@selvamani1991 Thanks for the response. I see that you've already created an issue with the mentioned repo [here](https://github.com/espressif/arduino-esp32/issues/4916). Request you to follow further updates on the same thread.

Please know that this repository is only for driving improvements related to the [Azure](https://docs.microsoft.com/azure) documentation specifically. Any other issues re

[2021-03-10 14:02] #71868 closed

[2021-03-10 14:04] #71668 closed

[2021-03-10 14:15] v-jameelaesa opened #71945 "Start a call method should be startCall in Quickstart code snippet"
In Android  [Quickstart - Use the Azure Communication Services calling client library](https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/voice-video-calling/getting-started-with-calling?pivots=platform-android) -  the code snippet/example uses the  **call** method instead of **startCall**.  Using the call method will cause a build error.
`/**
 * Place a call to the callee i

[2021-03-10 14:24] v-jameelaesa opened #71946 "Create CallAgent has typos in Android Quickstart"
Typos in the code snippet for creating the CallAgent which cause errors.  It says DeviceManage (no 'r') when it should be DeviceManager and there is an extra parenthesis in the method to create the CallAgent.

Currently the code snippet shows:
`String userToken = '<user token>';
CallClient callClient = new CallClient();
CommunicationTokenCredential tokenCredential = new CommunicationTokenCredentia

[2021-03-10 15:09] #71676 closed

[2021-03-10 15:13] dixhap commented on #71916
https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.data.dataset_factory.tabulardatasetfactory?view=azure-ml-py#from-sql-query-query--validate-true--set-column-types-none--query-timeout-30-

sql step can found in this link.

[2021-03-10 15:16] KrishnaG-MSFT commented on #71902
@olivelawn It is hard to say what is causing the error in your case so to fast-track resolution of your issue, please send an email to AzCommunity@microsoft.com by including your subscriptioin ID and a link of this GitHub issue for context and my team will work with you via our technical support channel. Please include "Attn:Krishna" in the subject line so we can engage asap.

[2021-03-10 15:24] ld0614 opened #71948 "Access section could be more specific"
The Access section could be with being more specific and including things like the specific actions which are needed to deploy and image (assign access to the gallery) as well as the recommended/default roles which would generally be suitable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08222316-75a2-004c-01ce-b07f2

[2021-03-10 15:25] KrishnaG-MSFT commented on #71902
Tagging @mumian for visibility and if appropriate to consider enhancing the document with below mentioned error's symptom, cause and solution steps.

![image](https://user-images.githubusercontent.com/45988031/110652052-0320b800-81e2-11eb-8649-14b27b6d706c.png)

[2021-03-10 15:26] zuhaib446 opened #71949 "Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d4935f4-d5c1-f7c3-eeb0-f8b5e5fd406f
* Version Independent ID: 766ee1b8-4c5d-054b-d7ec-1825d8f5d50b
* Content: [Quickstart: Azure Blob storage library v12 - JavaScript](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-node

[2021-03-10 15:32] bertrandpons opened #71950 "Debian 10 - Monitoring agents availability"
Hello,

Do you know when monitoring agents (Log Analytics agent, Dependency agent and Diagnostics extension) will be available?

Thank you.

Best regards,

Bertrand Pons
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e57fdf8-ece5-2bf1-200e-f089691de53f
* Version Independent ID: cd84fac1-b179-6158-e61d-d85d797efdf3
* Co

[2021-03-10 15:36] NavtejSaini-MSFT commented on #71804
@mayurpuli As discussed with @arunkumarthiags this is not possible with DMS right now. We also got to know they are working on this with you, so we are going to go ahead and close this question.

[2021-03-10 15:42] olivelawn commented on #71902
@KrishnaG-MSFT Email has been sent to AzCommunity@microsoft.com with your name in the subject. Thank you.

[2021-03-10 15:48] MonikaReddy-MSFT commented on #71806
@Rajeswari-Mamilla - Thanks for providing your insights. Do you mind sharing the ADO item for us to track this item in the future.
@jasonrfritz - Thanks again for bringing this to our attention. We have added this to our backlog and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will

[2021-03-10 15:48] #71806 closed

[2021-03-10 15:49] gnerd commented on #53818
I dont see this addressed in the article still - the can we make it more clear

for example
Exchange ActiveSync (EAS) - Used to connect to mailboxes in Exchange Online.
--->
Exchange ActiveSync (EAS) - Used to connect to mailboxes in Exchange Online. (basic auth only, this does not include ActiveSync clients capable of performing modern authentication)

I assume that if you have an ActiveSync clie

[2021-03-10 15:50] RohitMungi-MSFT commented on #71916
@dixhap The mentioned link uses SQL query to download data to dataset rather than a pipeline step that can be used with a pipeline. If you are looking at importing data from SQL database using pipelines the sample in this [notebook ](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/machine-learning-pipelines/intro-to-pipelines/aml-pipelines-data-transfer.ipynb)could

[2021-03-10 15:51] MonikaReddy-MSFT commented on #71787
@fkuckuk - Yes please ignore the check results and continue to install the newer version, which should resolve your issue.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-10 16:03] KrishnaG-MSFT commented on #71902
@olivelawn Got it! I have reverted back with steps to open the technical support ticket.

[2021-03-10 16:04] JeissonL opened #71952 "IPv6"
Application Proxy Connector and servers with the web applications can be have IPv6?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9c2e79f-e130-bd31-81dc-1517b4cad4eb
* Version Independent ID: e95ad2aa-5958-4c8e-a6c9-d84042353bd4
* Content: [Plan an Azure Active Directory Application Proxy Deployment](https://docs.mic

[2021-03-10 16:13] slime-uk opened #71954 "Missing info for AzureRM PowerShell module"
[Enter feedback here]
This is missing the information regarding how to do this with AzureRM PowerShell please?  We have until Feb 2024 to move to Az do we not?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f2e47a4-1781-8c55-c269-1946adbb46db
* Version Independent ID: ed091689-e342-2661-8b3a-5be2ad164b3a
* Content: [R

[2021-03-10 16:19] #70484 closed

[2021-03-10 16:30] tfitzmac commented on #71625
@anupam128 - what access do the users have that are not able to delete the resource groups? Are there any locks on the resource groups or resources? Are there resources in other resource groups that are linked to the resources in the resource group to delete?

[2021-03-10 16:33] MarileeTurscak-MSFT commented on #71952
@JeissonL
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-10 16:34] IngridAtMicrosoft commented on #71707
Reviewing.

[2021-03-10 16:38] SatishBoddu-MSFT commented on #71714
Since we didn't receive any response, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2021-03-10 16:38] #71714 closed

[2021-03-10 16:42] #71707 closed

[2021-03-10 16:42] markgar commented on #71892
Maybe there is a misunderstanding.  In my subscription, there is no option called "Premium Container PC2". I've circled the spot in the documentation where this is shown in a screen shot.

I assume we need to refresh the screen shot to reflect the current option of Pv3.  Pv3 is the option you must chose to use Windows containers.  There is not an option called "Premium Container".

![image](https:

[2021-03-10 16:48] olivelawn commented on #71902
@KrishnaG-MSFT submitted technical support ticket 2103100040004551.

[2021-03-10 16:55] MashaMSFT commented on #64829
Thanks for reaching out and helping improve our docs @tonycaidotcom , and thanks @bluefooted  for the fix!

I'm going to close out this Git Issue for the time being but please feel free to comment should you need anything further.

Thanks again and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2021-03-10 16:55] #64829 closed

[2021-03-10 16:58] vhorne commented on #71256
article updated
#please-close

[2021-03-10 16:58] #71256 closed

[2021-03-10 17:01] #71798 closed

[2021-03-10 17:09] #71896 closed

[2021-03-10 17:12] markjbrown commented on #71836
Hello. Can you assign this to @gahl-levy ?

Thanks.

[2021-03-10 17:22] nawoods opened #71955 "MaxNumAttempts metadata item not documented"
In the "Generate OTP section of this page, the MaxNumAttempts metadata item is not documented. It shows up in a code sample on the SendGrid page: https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-email-sendgrid#add-otp-technical-profiles

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ef1dd8e-af23-c899

[2021-03-10 17:23] AnuragSharma-MSFT commented on #71836
@markjbrown Sure Mark, I have done the re-assignment.

[2021-03-10 17:23] JakeCroz1 commented on #71707
What document did you fix and what part of the documentation was fixed? How did your fix address my issue?

[2021-03-10 17:23] bandersmsft commented on #71876
@JonathonAnderson I'm investigating your issue with the Cost Management engineering team. I'll reply back when I have details.

[2021-03-10 17:28] timmackey opened #71956 "Outdated instructions"
This page was authored in 2019.  It's now 2021.  The interface in Visual Studio 2019 (v16.9.1) is significantly different, so different that it is impossible to follow these instructions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c557865-c800-2846-1d10-003f2c16213b
* Version Independent ID: a30de769-074f-bb42-cd7

[2021-03-10 17:34] bandersmsft commented on #71876
@JonathonAnderson All that cost data that's exposed by the Power BI template app comes from sources we have documented in the Data reference section. Cost data for purchases and expense would come from Usage details.

Does that address your issue and can I close it? Thanks.

[2021-03-10 17:36] bandersmsft commented on #71782
@mkozioro The https://isfratio.blob.core.windows.net/isfratio/ISFRatio.csv worked for me this morning on 3 March 2021 at 9:00 AM PST. It must have been down temporarily.
#please-close

[2021-03-10 17:36] #71782 closed

[2021-03-10 17:39] bandersmsft commented on #71762
@phstudy The https://isfratio.blob.core.windows.net/isfratio/ISFRatio.csv link worked for me this morning on 3 March 2021 at 9:00 AM PST. It must have been down temporarily.

[2021-03-10 17:40] #71762 closed

[2021-03-10 17:52] derisen commented on #71416
@tvdvoorde my bad, I've mixed things up with [Conditional access based MFA](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-getstarted).

Regardless, your impression seems to be right. What's happening here is most probably due to an [OS and browser incompatibility](https://docs.microsoft.com/en-us/azure/active-directory/authentication/fido2-compatibility#unsupport

[2021-03-10 17:56] stperic commented on #71714
Hi,

The issue is not resolved.

Please click on the following link: https://gallery.technet.microsoft.com/Shared-Responsibilities-81d0ff91

You will see that the previous link is redirected to : https://docs.microsoft.com/en-us/samples/browse/
Thanks,
Eric

From: SatishBoddu ***@***.***>
Sent: Wednesday, March 10, 2021 11:39 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Eric St.Pierre ***@***.

[2021-03-10 17:58] chalewi opened #71957 "Please update or elaborate on the Persistent Browser Session and sign-in Frequency recommendations for unmanaged devices"
[Enter feedback here]
Can we get better guidance on Persistent browser sessions and sign in frequency for unmanaged device scenarios. based on this document Microsoft guidance is to enable persistent browser sessions on unmanaged devices and leverage sign-in frequency policies. if we just enable browser persistence, this seems like a security issue and I'd think we would want to do the opposite or

[2021-03-10 18:02] santhoshbomma9 commented on #71580
Hi @SwathiDhanwada-MSFT @mingshen-ms  just checking any update please?

[2021-03-10 18:02] sgdesmet opened #71958 "`intro_msg` for `DisplayControl` is not shown"
`intro_msg` for `DisplayControl` is not shown on our selfasserted pages. The ui element is present in the DOM, but has a `display :none` style attribute by default. This was tested on page layout versions 2.1.0  and 2.1.2.
Is there some more configuration required to show these elements?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2021-03-10 18:03] #71700 closed

[2021-03-10 18:08] JamesTran-MSFT commented on #71957
@chalewi
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-10 18:14] #33500 closed

[2021-03-10 18:15] #71901 closed

[2021-03-10 18:16] #64633 closed

[2021-03-10 18:17] BryanTrach-MSFT commented on #71901
@JakeCroz1 Some time back there were two API blades. The traditional blade and a new blade. The new blade has reached maturity and the old blade removed. We updated the doc via a PR to reflect this change.

You can proceed with using the API blade that you see in your portal.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your repl

[2021-03-10 18:22] cynthn commented on #71847
#please-close I've added a sentence about the process not being reversible. Thank you!

[2021-03-10 18:22] #71847 closed

[2021-03-10 18:28] #71785 closed

[2021-03-10 18:28] hpsin commented on #71942
Certain classes of errors cannot result in a redirect back to the application - this is a required part of the OAuth spec for security purposes.  We don't want to allow open redirect attack, effectively.  A malicious application could provide a legitimate looking link to login.microsoftonline.com, and have it redirect back to the app post-error.

[2021-03-10 18:29] JamesTran-MSFT commented on #71851
@mrventerj
I just wanted to check in and see if you had a chance to review my previous comment or if you were able to resolve this issue?

[2021-03-10 18:31] DerekHerman-MSFT commented on #68872
@normesta Can we clarify the TLS information? We had another request for this on [Q&A](https://docs.microsoft.com/en-us/answers/questions/307014/index.html). Thanks!

[2021-03-10 18:32] bandersmsft commented on #66687
@andrewmcguinness You're right. We added a note at the top of the article saying as much. We didn't update the samples directly. We noted that a previous configuration that uses the older APIs don't automatically convert for use with newer APIs.
#please-close

[2021-03-10 18:32] #66687 closed

[2021-03-10 18:35] jitendraRai commented on #71717
Thanks and could you please try to click this link - https://portal.azure.com/#blade/Microsoft_AAD_IAM/SecurityMenuBlade/IdentitySecureScore

or you can follow this screenshot
![image](https://user-images.githubusercontent.com/4159689/110679383-6c61f480-81fd-11eb-91ea-7971c8064fec.png)

[2021-03-10 18:36] JamesTran-MSFT commented on #71888
@karlochacon
Thank you for the quick follow up and I'm glad that you were able to resolve your issue!

This is great feedback when it comes to the bulk import of users and groups! I'd recommend leveraging our [User Voice forum](https://feedback.azure.com/forums/34192--general-feedback) so you can provide this feature request/improvement to our engineering team to implement.

Since you were able to

[2021-03-10 18:36] #71888 closed

[2021-03-10 18:38] JamesTran-MSFT commented on #71895
@GauravES
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-10 18:38] bandersmsft commented on #67063
@pemsft Hi there. We recently published https://docs.microsoft.com/en-us/azure/cost-management-billing/reservations/troubleshoot-reservation-transfers-between-tenants?toc=/azure/cost-management-billing/reservations/toc.json which should address your ask.
#please-close

[2021-03-10 18:38] #67063 closed

[2021-03-10 18:45] Lucas-MSFT commented on #61587
@TheFairey can you try adding to your shell script the following line? It looks like this might be an issue with the Git Bash for Windows environment path being added: export MSYS_NO_PATHCONV=1

[2021-03-10 18:45] SnehaGunda opened #71959 "Test issue"
Creating a test issue to check if the dashboard tracks it.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db50c06b-3e23-7d74-103f-91c5710ebee5
* Version Independent ID: 25905d11-6503-daa6-75be-a568f2c91136
* Content: [Introduction to Azure Managed Instance for Apache Cassandra](https://docs.micros

[2021-03-10 18:45] ssivas commented on #71927
@bmaster001 , Azure AD is a per user license. Not just CA (Conditional Access) it is standard across Azure AD.

[2021-03-10 18:46] #71927 closed

[2021-03-10 18:46] SaurabhSharma-MSFT commented on #71660
@AndyWDev I believe step 3 is correct, step 3 says to +New button by clicking on "Manage Key Vault Connections"
![image](https://user-images.githubusercontent.com/38112130/110680699-cb882080-818d-11eb-82c8-7005bbcad44f.png)
The PR for the fix has been created for step 1 and it will be merged once approved by the documentation author. Thanks again for pointing this out, I am closing the issue based

[2021-03-10 18:46] #71660 closed

[2021-03-10 18:55] TravisCragg-MSFT commented on #71599
@palma21 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-10 19:08] kobulloc-MSFT commented on #71954
@slime-uk Thank you very much for your feedback!  We are investigating this and will get back to you shortly.

[2021-03-10 19:11] bandersmsft commented on #66956
@bsod99 We recently updated the article to clarify guidance about taking ownership and granting access to reservation orders. As for taking ownership of a reservation order programmatically, we don't have that documented - we're still testing our APIs.
#please-close

[2021-03-10 19:11] #66956 closed

[2021-03-10 19:17] JakeCroz1 commented on #71901
I noticed another issue within that same documentation and same location regarding how to setup the API access through the Portal. Now the problem in instructions is that it mentions, "3. Under **Connect to Media Services API**, select the Media Services API version you want to connect to (V3 is the latest version of the service).", however, there is NO option to select Media Services API version.

[2021-03-10 19:26] jeevansd commented on #71753
@v-hagamp and @chetansriv This is a valid feedback. Can you please get this updated?

[2021-03-10 19:27] jeevansd commented on #71754
@v-hagamp and @chetansriv Can you please review the screens one more time?

[2021-03-10 19:27] palma21 commented on #71599
+@qpetraroia

[2021-03-10 19:30] yoelhor commented on #71955
Thanks for bringing this up to our attention. The `MaxNumAttempts` is wrong. You should use `NumRetryAttempts` instead. I'm updating the article.

Yoel

[2021-03-10 19:35] bandersmsft commented on #67282
@jmstrupp-psjh We recently updated the article to add a note about using the newer API. Users were having problems with the older API. We also recently published a new article about using SPNs at https://docs.microsoft.com/azure/cost-management-billing/manage/assign-roles-azure-service-principals.
#please-close

[2021-03-10 19:35] #67282 closed

[2021-03-10 19:36] TravisCragg-MSFT commented on #70385
@Klaas- VMs can have an Availability Zone, Availability Set, or neither.

1) If you do not specify a zone, you cannot see what zone it is deployed in.
2) If you do not specify a zone, it is possible for your VM to move zones in the background, but it is extremely unlikely that your VM experiences this move, and even more unlikely that it is moved to a different zone, but is theoretically possible.

[2021-03-10 19:45] normesta commented on #71920
Fixed. Thank you!

#please-close

[2021-03-10 19:45] #71920 closed

[2021-03-10 19:50] stefanushinardi commented on #38213
Hey @craigshoemaker, we have it somewhere [the python developer](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-python#unit-testing). Pivot seems like a good idea, although it seems duplication would be hard to maintain in the future.

[2021-03-10 19:53] yoelhor commented on #71958
You are right. This element is hidden. You can use CSS to show it.

[2021-03-10 20:00] gunterda opened #71962 "The feature 'StartStopPreview' could not be found."
When I run the register command I get the following output:
az feature register --namespace "Microsoft.ContainerService" --name "StartStopPreview"
Once the feature 'StartStopPreview' is registered, invoking 'az provider register -n Microsoft.ContainerService' is required to get the change propagated
The feature 'StartStopPreview' could not be found.

I have version 0.5.5 of the aks preview extensi

[2021-03-10 20:09] Klaas- commented on #70385
okay, thanks for the detailed explanation @TravisCragg-MSFT I think this is all information I need :)

[2021-03-10 20:09] #70385 closed

[2021-03-10 20:15] ChaitanyaNaykodi-MSFT commented on #71789
Hello @luislinietsky,
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue with our discussion.

[2021-03-10 20:15] #71789 closed

[2021-03-10 20:16] #71955 closed

[2021-03-10 20:17] ChaitanyaNaykodi-MSFT commented on #71854
Hello @tomdbarker, just following up to see if the information shared above helped in resolving the issue.

[2021-03-10 20:20] normesta commented on #71883
Hi @willmccardell . I believe logs are placed into the user directory of the entity that is logged in and running the process. So, on Windows, if the active user logged in is local Adminstrator, I believe logs go to the "Adminstrator" in the User directory - which is still %USERPROFILE% so i believe the doc is accurate. @zezha-msft please keep me honest here. I just attempted to run cmd.exe as an

[2021-03-10 20:24] mohsin-ac opened #71963 "Correction under testing in Azure"
Under the following section - please note that there a missing part in the URL - see below:

Test your function in Azure
the format: http://<functionappname>.azurewebsites.net/orchestrators/HelloOrchestrator should be changed to: http://<functionappname>.azurewebsites.net/api/orchestrators/HelloOrchestrator

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-03-10 20:25] micahl opened #71964 "Step 5 under setting up the device CA should be 'sudo iotedge config apply' instead of restart"
After modifying the config.toml the configuration needs to be applied via `sudo iotedge config apply` which will also take care of stopping/starting the service(s).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f6b8e5f-7de7-b40b-ad37-dc9b5c8f7d63
* Version Independent ID: 10a9b17d-cbf4-ec07-ae39-953d3d0fd411
* Conten

[2021-03-10 20:38] gunterda opened #71965 "Connect from the cloud shell"
When I configure an specific IP range under security, how can I still make sure that I can connect from a cloud shell session to the aks cluster? Do I need to enter an Azure IP range?

Thank you for your advice.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 660320d4-fad5-3307-e29f-5f4cfad4b7f7
*

[2021-03-10 20:42] micahl commented on #71852
@lucarv what does `iotedge version` report?

[2021-03-10 20:44] micahl opened #71966 "v1.2+ does allow an IoT Edge device to be downstream of an IoT Edge gateway"
Under the section *Prepare a Downstream Device* it says that " ...  However, another IoT Edge device cannot be downstream of an IoT Edge gateway." which is possible with 1.2.  Thought this had already been updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f6b8e5f-7de7-b40b-ad37-dc9b5c8f7d63
* Version Independent

[2021-03-10 20:47] AjayKumar-MSFT commented on #71710
@ninarn, Based on your feedback, we have raised a PR for author's review. Once the PR is merged the doc would reflect the changes made soon.
Also, the Tomcat tab in the document uses 'helloworld' sample.
![image](https://user-images.githubusercontent.com/44606227/110695268-a9cf7d80-820f-11eb-83a9-b3649a29297d.png)

Thanks again for taking time to share your value feedback in Azure doc improvements

[2021-03-10 20:47] #71710 closed

[2021-03-10 20:49] yoelhor commented on #71958
#sign-off

[2021-03-10 20:52] #71958 closed

[2021-03-10 21:07] hpsin opened #71967 "The "Use MSAL.NET" does not link to MSAL.NET"
I am trying to find MSAL.net, and this is one of the top pages for it.  However, despite referencing code, it doesn't offer a way to actually get MSAL.NET.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bde57e5-d6a7-629f-cf29-ab3cd30fffe1
* Version Independent ID: eeeaeb90-a125-7b05-d93f-155517b90303
* Content: [Initia

[2021-03-10 21:09] tomnolan opened #71968 "Documentation required for the default behavior of license mode with SQL IaaS extension automatic registration"
Automatic registration with the SQL IaaS Extension agent does not have documentation outlining the default behavior of the license selection of either PAYG or AHUB. This needs to be documented for Azure customers to appropriately plan for managing their licenses.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d86e3c45-

[2021-03-10 21:12] ChadManzer opened #71969 "Is the min version of Firefox really Chrome?!?"
https://docs.microsoft.com/en-us/azure/active-directory/authentication/fido2-compatibility#minimum-browser-version

under the min version for Firefox lists Chrome as the version.  Is this a typo?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c860853-d58e-ba80-9cd4-04d33e1dd2e2
* Version Independent ID: 5ff539d2-5826-

[2021-03-10 21:23] msfcolombo opened #71970 "Missing information about limitations such as max number of files, max size of files and max download time"
I'm considering specifying the application packages in the `fileUris`, instead of just the script. This would make the script simpler as it would not need yet-another-operation to download the packages. However this page does not tell how many files and what's the maximum size of each file. It also does not specify timeouts for the process of downloading the files before starting execution. Please

[2021-03-10 21:40] #60583 closed

[2021-03-10 21:40] billmath commented on #60450
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question: [reference to alternative pr

[2021-03-10 21:40] #60450 closed

[2021-03-10 21:40] #60306 closed

[2021-03-10 21:45] billmath commented on #59477
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response.   Although SSO may work with IOS in some situations, until extensive testing has been done and engineering has given documentation the go ahead to state it is supported, this item needs to remain. #please-close

[2021-03-10 21:45] #59477 closed

[2021-03-10 21:47] billmath commented on #59340
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. A work item has been created to address this. #please-close

[2021-03-10 21:47] #59340 closed

[2021-03-10 21:47] MicrosoftGuyJFlo commented on #70709
#please-close

[2021-03-10 21:48] #71674 closed

[2021-03-10 21:48] BryanTrach-MSFT commented on #71946
@v-jameelaesa Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-10 21:56] JamesTran-MSFT commented on #71967
@hpsin
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-10 21:58] A9G-Data-Droid commented on #60306
The documentation is wrong and needs to be edited. The whole section **"Password hash synchronization and FIPS"** needs to be edited or removed. It's both technically wrong and doesn't work.

You also failed to fill in the critical detail of your canned message:

That's where you are supposed to put something helpful.

[2021-03-10 21:59] Justinha commented on #65113
@scott1138 @MicrosoftGuyJFlo Yes Azure AD DS is Central Canada. Can you specify what doc needs to be updated and where? I'm not seeing the missing check mark you cited.

[2021-03-10 22:01] anharazi commented on #71539
Default rules include enabling east-west traffic within a VNet (not just a subnet). https://docs.microsoft.com/en-us/azure/virtual-network/network-security-groups-overview#allowvnetinbound
This page is geared more towards to the general guidance on how NSGs works, and the graphic is already packed.
If anything, we could add a note in the Intra Subnet Traffic section about a default NSG rule exists

[2021-03-10 22:04] MattEvansA45 opened #71972 "Log files file extension is .txt not .csv"
The documentation states the following

![image](https://user-images.githubusercontent.com/41288088/110704052-66afe300-81ec-11eb-9a9b-1a62efd2ae38.png)

Whilst the files are csv in content the actual files generated are given the file extension **.txt** as can be seen here from my testing

![image](https://user-images.githubusercontent.com/41288088/110703626-eab59b00-81eb-11eb-9689-db37ee9529ed.pn

[2021-03-10 22:08] MichaelCade opened #71973 "New-AzAKS / New-AzAKSCluster is not working in Azure PowerShell"
I have created the Resource Group as per the example.
When I run the following command in the guide

New-AzAks -ResourceGroupName myResourceGroup -Name myAKSCluster -NodeCount 1

the same outcome if i run the following command

New-AzAksCluster -ResourceGroupName myResourceGroup -Name myAKSCluster -NodeCount 1

I get the following error:

WARNING: Upcoming breaking changes in the cmdlet 'New-AzAks

[2021-03-10 22:14] acicali commented on #31136
I just opened PowerShell and was greeted with "_Try the new cross-platform PowerShell https://aka.ms/pscore6_". My first thought was... "_uh oh, have I been infected?_". I visited this URL and then experienced what *seemed* like several redirects, ultimately dropping me at https://login.microsoftonline.com/oauth2/authorize?---REMOVED_FOR_BREVITY---&redirect_uri=https://redirectiontool.trafficmanag

[2021-03-10 22:19] knicholasa commented on #71969
Hi @ChadManzer thanks for catching that. It should say the minimum version for Firefox is 66. I'm updating the docs now and the live version will reflect that soon.

[2021-03-10 22:19] knicholasa commented on #71969
#please-close

[2021-03-10 22:19] #71969 closed

[2021-03-10 22:23] shakanand opened #71975 "Not clear if this documentation applies to earlier version of synapse or the current synapse workspace"
This documentation says "These settings apply to all SQL Database and Azure Synapse Analytics databases associated with the server."  What does it mean by "server" ?   When using SSMS to connect to SQL Dedicated Pool, are we not connecting to a Synapse "server" ?

Please make it clear that this documentation does not apply to Azure SQL Managed Instance or Synapse Workspaces.

Update the below sect

[2021-03-10 22:26] Thomas-Clipex commented on #31993
How did you go about getting the SAML Single Sign-On to work?
I have followed every instruction and variable I can find from Both Microsoft and NetSuite. Both of which led me to the same solution.

When I have completed the integration (with our Sandbox account for testing), it logs in with the windows login page first, then send me back around to login with NetSuite credentials anyway.. It doesn’

[2021-03-10 22:53] mattcosa opened #71976 "Conflicting license requirements"
The documentation is not consistent between different Graph API articiles.

https://docs.microsoft.com/en-us/graph/api/resources/azure-ad-auditlog-overview?view=graph-rest-1.0#what-licenses-do-i-need

`Sign-in reports require an Azure AD Premium license.`

https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/concept-sign-ins#prerequisites

`The sign-in activity report is avai

[2021-03-10 23:04] TravisCragg-MSFT commented on #71653
@jeffwmiles These charges only happen if both machines are in specified separate Availability Zones.

This charge will not occur on VMs that are not placed in an Availability Zone.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-10 23:04] #71653 closed

[2021-03-10 23:06] normesta commented on #71672
@xiaofmao - thank you for finding this! Yes, the content is out of date. I've removed the unhelpful note and added a clear statement of support for premium block blob storage accounts.  That change will likely appear live tomorrow. Thank you again!

#please-close

[2021-03-10 23:06] #71672 closed

[2021-03-10 23:14] kgremban commented on #71966
@micahl Good catch. This issue is on the Create a Transparent Gateway article, but I think you're actually referring to https://docs.microsoft.com/en-us/azure/iot-edge/how-to-connect-downstream-device?view=iotedge-2020-11? We didn't update that doc for 1.2, but rather added a new article for connecting downstream IoT Edge devices: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-connect-down

[2021-03-10 23:14] normesta commented on #71669
You're right! I fixed it. Thank you for bringing this to our attention. You should be able to find recursive ACL content in any of the links presented in the "How to Set ACLs" section of the article. Thanks!

#please-close

[2021-03-10 23:14] #71669 closed

[2021-03-10 23:14] TravisCragg-MSFT commented on #71948
@ld0614 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-10 23:19] ChrisClarkRs opened #71978 "App Service - Instance internal health check Load Balancer URL"
Hello Team,

The documentation for the "Authentication and Security" section for health check should include that when a new Web App is created the default listener will be created as secure "HTTPS" protocol. However when you setup the Web App health probe for your various instances you cannot set which protocol to use or the ability to update the probe to use a custom domain.  Therefore the healt

[2021-03-10 23:20] TravisCragg-MSFT commented on #71962
@gunterda This feature was recently released into GA, and registering for the preview is no longer needed. The command should work just fine without it, so you can [skip the preview registering section of this doc](https://docs.microsoft.com/en-us/azure/aks/start-stop-cluster#register-the-startstoppreview-preview-feature). Please let me know if you have any issues using it!

The update is being tr

[2021-03-10 23:20] #71962 closed

[2021-03-10 23:21] DerekHerman-MSFT commented on #71949
@zuhaib446 This is a rather common error that can have many causes. You will find [many threads on StackOverflow](https://stackoverflow.com/search?tab=newest&q=Make%20sure%20the%20value%20of%20Authorization%20header%20is%20formed%20correctly%20including%20the%20signature) where users experience this issue.
Where you having issues running through the tutorial here? If so can you let us know which p

[2021-03-10 23:21] #68321 closed

[2021-03-10 23:24] JasonWHowell commented on #68321
@nickbrown1968 We've adjusted the words in the doc to better clarify the intent, and it will publish overnight.

It's a bit of an imperfect science to find the right person with Billing access since there are several different account types. It's hard to provide one-size-fits-all answers on how to find who can transfer the subscription. Hope we can continue to make improvements though.

Thanks for

[2021-03-10 23:24] JamesTran-MSFT commented on #71976
@mattcosa
Thank you for pointing this out! I've assigned this issue to the author who will investigate and update as appropriate.

**Similar issue:**
https://github.com/MicrosoftDocs/azure-docs/issues/69452

**PR pending:**
https://github.com/MicrosoftDocs/azure-docs-pr/pull/144430

[2021-03-10 23:26] JasonWHowell commented on #64711
We have some docs coming soon to help show alternatives on how to create subscriptions with ARM templates programmatically.
CC: @tfitzmac @bandersmsft

[2021-03-10 23:28] alejjak commented on #66361
Hello, I'm also having this need, I have columns that constantly change name that I want to turn into rows. For example columns like: Pet1, Pet2, Pet3, ..., PetN, to convert them into rows.

thank you!

[2021-03-10 23:45] TravisCragg-MSFT commented on #71965
@gunterda To my knowledge we do not publish the IP range for Cloud Shell, and it is not wise to open up these IP ranges, or the Datacenter IP ranges. We do publish the [IP Ranges for Azure Datacenters](https://www.microsoft.com/en-us/download/details.aspx?id=56519), and that includes the Azure Portal IP ranges, but it is not the range of Cloud Shell IPs.

The best option for your scenario is to us

[2021-03-10 23:47] TravisCragg-MSFT commented on #71968
@tomnolan Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-10 23:52] TravisCragg-MSFT commented on #71970
@msfcolombo I am not aware if such limits exist, but I am assigning this issue to the doc author to evaluate and update as appropriate.

[2021-03-10 23:55] KranthiPakala-MSFT commented on #71637
@kathung
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2021-03-10 23:55] #71637 closed

[2021-03-11 00:05] asergaz commented on #25784
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-11 00:05] #25784 closed

[2021-03-11 00:13] TravisCragg-MSFT commented on #71973
@MichaelCade Are you doing this in a Local PowerShell window or Cloud Shell? I was not able to reproduce this issue. Update your Azure PowerShell Version and try this again! If it still fails, please give your Az.Aks module version by posting the output of this command:

`Get-Module -listAvailable -Name Az.Aks`

[2021-03-11 00:36] micahl commented on #71966
@kgremban you're right.  This is on the Create a Transparent Gateway article under *Set up the device CA certificate*.  I must have been switching back and forth between open tabs and got confused.  Both pages have the diagram of the downstream device <-> gateway device <-> IoT Hub that I was using as a visual landmark on the page.  :)

[2021-03-11 00:41] ajburnle commented on #69010
Hey @DanielBirmingham sorry for the delay. I'm looking into this to find out what the size limit is for the logo file. I will update the documentation once I have an answer. Thanks for your patience.

[2021-03-11 00:45] julieMSFT commented on #69337
#reassign:mlee3gsd

[2021-03-11 00:46] julieMSFT commented on #69337
@Grace-MacJones-MSFT HI, can you reassign this to mlee3gsd. The reassign does not seem to working.

[2021-03-11 00:48] julieMSFT commented on #71810
@CHEEKATLAPRADEEP-MSFT Please reassign this to julieMSFT

[2021-03-11 00:49] julieMSFT commented on #71007
@SamaraSoucy-MSFT please reassign this to julieMSFT

[2021-03-11 00:50] ajburnle commented on #69183
Hey @lrandall-gillsch, thank you for your question and sorry for the delay. I'm looking for an answer for this question and will update the document and this issue when I receive a response. Thanks for your patience.

[2021-03-11 00:54] bryans2k commented on #71909
It worked for me a few times when I first executed the two commands below to switch it from the on-premise configuration to the Azure proxy configuration and vice versa but then it just stopped working. I don't know why. No matter how many times I executed the commands or how much time I gave it, it would just not work again. Today I decided to redo the gateway servers without touching the Azure p

[2021-03-11 00:56] zezha-msft commented on #71883
The location of the log file is printed every time a job is triggered.

[2021-03-11 00:56] himanshusinha-msft commented on #71972
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-03-11 01:05] ajburnle commented on #69010
Hey @DanielBirmingham the file size limit is 10KB. I'm also working on updating the document. You can track the update with the following PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/150004. I'm closing this issue now. Thanks again for your question. #please-close

[2021-03-11 01:05] #69010 closed

[2021-03-11 01:09] dcstwh commented on #40696
Thank you @KranthiPakala-MSFT . @minhe-msft  is looking into this.

[2021-03-11 01:10] dcstwh commented on #71251
We are closing this issue, as the new doc has been updated.
Do reopen a new issue if this does not meet what you are looking for. Thank you.

[2021-03-11 01:10] dcstwh commented on #71251
#please-close

[2021-03-11 01:10] #71251 closed

[2021-03-11 01:10] ajburnle commented on #70369
Hey @joheynek  Sorry for the delay and thanks for your feedback. We list the prerequisite information on the licensing page as well as on all of the how-to pages which provide the steps on using the various features falling under identity governance. I'm closing this issue and thanks again for your feedback. #please-close

[2021-03-11 01:10] #70369 closed

[2021-03-11 01:11] dcstwh commented on #71635
Thank you @AshokPeddakotla-MSFT .
@minhe-msft  can you look into this? Thank you.

[2021-03-11 01:13] dcstwh commented on #71918
@nabhishek  can you look into this? Thank you.

[2021-03-11 01:19] normesta commented on #71883
Thanks @zesha-msft - by default, if the process is running as system, do the logs get placed anywhere other than %USERPROFILE%\.azcopy?  I think no, but I just want to verify with you. Thank you!

[2021-03-11 01:24] ymatsuoka335 opened #71986 ""Enabling or disabling soft delete" section is out-of-date."
[Enter feedback here]
Please incorporate current soft delete protects enablement for Azure file shares into the document. Details are here.

The current doc says, "When you create a new storage account, soft delete for file shares is disabled by default, you can enable it during deployment or anytime afterwards."

But on other site, I found this statement, "Soft delete protects your Azure file sha

[2021-03-11 01:27] ajburnle commented on #70984
Hey @DeanGross Thanks for your feedback and sorry for the delay. The information you are looking for is in the Access Reviews section of our how-to guides, and found under the access pages tabs. Here's a link to the document: https://docs.microsoft.com/en-us/azure/active-directory/governance/entitlement-management-access-reviews-create.

I can link to this document at the end of the instructions.

[2021-03-11 01:27] #70984 closed

[2021-03-11 01:35] ChaitanyaNaykodi-MSFT commented on #71956
Hello @timmackey,
Thank you for your feedback! We will review and update as appropriate.

[2021-03-11 01:36] RyanHill-MSFT commented on #71934
Thanks for the feedback @NocFlame! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@craigshoemaker, the latest version of VS Code Azure Extension uses 3 steps instead of 6 now. Advanced setup uses 8.

[2021-03-11 01:36] ChaitanyaNaykodi-MSFT commented on #71963
Hello @mohsin-ac,
Thank you for your feedback! We will review and update as appropriate.

[2021-03-11 02:02] zhijli commented on #71922
Got it, thanks for the clarification. I'll close the issue.

[2021-03-11 02:02] #71922 closed

[2021-03-11 02:17] RyanHill-MSFT commented on #71945
Thanks for the feedback @v-jameelaesa. We have a PR to address this issue.

[2021-03-11 02:20] #71945 closed

[2021-03-11 02:21] ShirleyWangMSFT commented on #40699
Thank you @mafis-hh for the suggestion.  We understand the motivation to parameterize IR in Linked Service and we will consider this ask as part of our feature roadmap.

#please-close

[2021-03-11 02:21] #40699 closed

[2021-03-11 02:51] c-14795 commented on #71674
Thanks for the update.

On Thu, Mar 11, 2021, 03:19 himanshusinha-msft <notifications@github.com>
wrote:

[2021-03-11 03:25] bbonkr opened #71988 "Document translation doesn't work on FREE TIER."
[Enter feedback here]
Document translation doesn't work on FREE TIER.

It would be nice if related explanations were added.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40721433-051a-8903-34b0-c8935d6f2af9
* Version Independent ID: 1c775439-089b-57e3-d961-e70df777ea01
* Content: [Get started with Document Translation

[2021-03-11 03:41] BharathNimmala-MSFT commented on #71950
@bertrandpons Thank you for reaching out, will review your query and get back to you at the earliest.

[2021-03-11 03:49] KalyanChanumolu-MSFT commented on #71975
@shakanand Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-03-11 04:03] AjayKumar-MSFT commented on #71959
Test issue https://github.com/MicrosoftDocs/azure-docs/issues/71959

[2021-03-11 04:05] AshokPeddakotla-MSFT commented on #71964
@micahl Thanks for the feedback! PR has been raised to update the doc. Changes will go live once it has been reviewed and merged.
@kgremban Thanks for fixing it.

[2021-03-11 04:05] AjayKumar-MSFT commented on #71978
@ChrisClarkRs, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-03-11 04:10] AnuragSharma-MSFT commented on #71769
@MartinJohns Awaiting your response on this.

[2021-03-11 04:51] craig-martin opened #71989 "API Samples Using AAD Managed Identity"
Would love to see Log Analytics API samples using AAD Managed Identity, as it is way cleaner than API keys or client secrets.

For example:
[code]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 657b5b68-4c41-841a-1110-67b9c2049e39
* Version Independent ID: 2237ca0e-c552-7ee8-97ae-7034e51241d9
* Content: [Azure Monitor

[2021-03-11 04:54] BhargaviAnnadevara-MSFT commented on #71870
@mekanne Any further update here?

[2021-03-11 05:01] RohitMungi-MSFT commented on #71988
@bbonkr Thanks for checking. We will investigate the same and update as required.

[2021-03-11 05:05] jitendraRai commented on #71717
Thanks @DeanGross and please share the screenshot to investigate more.

[2021-03-11 05:17] SwathiDhanwada-MSFT commented on #71989
@craig-martin Thanks for your valuable feedback.

Assigning to content author @bwren for review.

[2021-03-11 05:18] SadiqhAhmed-MSFT commented on #70663
@sachdevaswati Could you please assist with the issue described above?

[2021-03-11 05:27] wjohnson commented on #62830
@craigshoemaker - Does this still fall under your purview?  I'm trying to leverage the lock token in the Java SDK but I cannot get it out of there for the life of me.  Knowing the correct documentation for the lock token would be very helpful.

[2021-03-11 06:21] lucarv opened #71990 "Incorrect information"
[Enter feedback here]
The info on this page is invalid for releases before RC4. The new iotedge structure is only valid for RC4 and onwards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3b8296d-c923-e990-dcad-35ef2b908a2a
* Version Independent ID: 5f85fd7b-f2b6-b3b1-6be2-b6054bb33507
* Content: [Install Azure IoT Edg

[2021-03-11 07:04] AnuragSharma-MSFT commented on #71882
@daemel Could you please let us know if you are referring to Admin consent for API permissions in Azure Active Directory while registering a new application?

[2021-03-11 07:05] anuragc617 commented on #71352
@brwilkinson this issue can happen if you are using an older AKS cluster where "namespace" API is not supported. You can create a new cluster and try using deployment centre. Also can you please share the network logs to confirm my hunch?

[2021-03-11 07:12] brwilkinson commented on #71352
Thanks @anuragc617  yes I have tested with these version.

"1.20.2","1.19.7","1.19.6", "1.18.14"   All the same.

I did find some extra info about being onboarded to a particular network change recently, which may be related. I know that will be resolved by next week, so I will reply back then, just to make sure it's not related.

[2021-03-11 07:13] WalterEbbers commented on #71942
@JamesTran-MSFT @hpsin thank you for the time to answering my question.

I understand that for me there is no other way then to have a look in how we handle the issue. Unless i have missed it on the page(just took a quick look on the [https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-protocols-oidc#send-the-sign-in-request](docs page) and was not able to find information on errors

[2021-03-11 07:50] iisworks opened #71992 "Typo in AZFWMigrationScript.ps1 + not working for IPGroups"
[Enter feedback here]
There is a typo in the AZFWMigrationScript.ps1 migration script (line 113):
$rc.Pl.llriority -> $rc.Priority

I also noticed the script will fail for rules that contain an IPGroup as source:
_New-AzFirewallPolicyNetworkRule : Cannot validate argument on parameter 'SourceAddress'. The argument is null, empty, or an element of the argument collection contains a null value._

--

[2021-03-11 07:55] prebenolsen opened #71993 "Local Network Gateway"
The documentation mentions it informs us of Local Network Gateway, but it makes no mention of it later.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45d7ab31-fdf3-9b0f-1439-6a01fb257aab
* Version Independent ID: af13a45f-3061-2f0e-7452-b52d700b4805
* Content: [About Azure VPN Gateway](https://docs.microsoft.com/en-us/

[2021-03-11 08:04] minhe-msft commented on #71635
@zaalion According this documentation, "Global parameters - Azure Data Factory":

`The Include in ARM template configuration is only available in "Git mode". Currently it is disabled in "live mode" or "Data Factory" mode.`

Please go to "source control", then select "Git configuration", check if your data factory is configured with a Git repository.

[2021-03-11 08:07] MartinJohns commented on #71769
I can confirm as well, that updating from 3.6 to 4.0 shows the Pending status. My suggestion was to adjust the documentation to mention that this behaviour **does not occur** when updating from 3.2 to 3.6 (**not** the latest version). The screenshot from point 4 is outdated as well.

[2021-03-11 08:11] savjani commented on #71348
HI @chriscopemorgan - Are there any other questions which I can help answer?

[2021-03-11 08:29] sgdesmet commented on #71958
Thank you for the clarification @yoelhor
Is this mentioned in the documentation somewhere?

[2021-03-11 09:00] NoriMin opened #71996 "What is "App Service on AKS"? What is the difference between "Azure Functions - basic" and "Azure Functions Windows""
[Enter feedback here]
There is a table that shows "Azure App Service on AKS". What is this?

Also, I would like to know the difference between "Azure Functions - basic" and "Azure Functions Windows". I suggest it should be understandable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61a9464c-27a3-acf9-3038-c6923f3900

[2021-03-11 09:12] chriscopemorgan commented on #71348
Hi Parikshit

Do you know of any document that practically describes the replication of Non Azure MySQL Master Server with Azure MySQL Server as Slave.  We find many issues NOT covered in existing documentation, and nothing showing step-by-step guide.

Can you help?

Regards

Chris Cope Morgan

InterAccess Communications

Port Elizabeth, South Africa

Mob +27 83 232 1122

From: Parikshit Savjani
S

[2021-03-11 09:39] RohitMungi-MSFT commented on #71988
@laujan Could we add a note or a limitation in the document about using a standard tier or above for document translation service? The error received for free tier is below:
[code]

[2021-03-11 09:45] MichaelCade commented on #71973
Yes local PowerShell,

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     2.0.2      Az.Aks                              {Get-AzAksCluster, New-AzAksCluster, Remove-AzAksC...
Script     1.2.0      Az.Aks                              {Get-AzAksCluster, New-AzAksCluster, Remove-AzAksC...

[2021-03-11 09:49] zezha-msft commented on #71883
Yes, that's the default location but it can be configured with the environment variables as shown [here](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-configure?toc=/azure/storage/blobs/toc.json#change-the-location-of-the-plan-and-log-files).

[2021-03-11 10:02] AshokPeddakotla-MSFT commented on #71990
@lucarv Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-11 10:09] savjani commented on #71348
Hi @chriscopemorgan - Could you open a support ticket from Azure portal and one of our support engineers can help you with the configuration and guide you step by step?

https://portal.azure.com/?#blade/Microsoft_Azure_Support/HelpAndSupportBlade

[2021-03-11 10:09] SubhashVasarapu-MSFT commented on #71992
@iisworks, Thanks for reaching out. We will investigate and update this thread.

[2021-03-11 10:18] SubhashVasarapu-MSFT commented on #71993
@prebenolsen, as mentioned in the doc, for information about individual resources and settings for VPN Gateway, see About [VPN Gateway settings](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpn-gateway-settings).
Please refer, https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpn-gateway-settings#lng for Local Network Gateway.

[2021-03-11 10:30] DmytroVas opened #71997 "The page is outdated."
This page does not reflect what is in Azure environment.
New function window:
- does not present a choice of triggers
- Does not have Powershell functions
![image](https://user-images.githubusercontent.com/75618314/110773510-b924ea00-8254-11eb-9fc4-0b784ed38d94.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c4cf3

[2021-03-11 10:57] rzeq opened #71999 "Access to example on how to enable TLS 1.2 if no longer valid"
SAS Token to blob storage containing main.cmd with code on how to enable TLS 1.2 is not longer valid.

Why don't just provide contents of main.cmd file as code snippet in the documentation itself?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc15b40b-fcef-856c-3da0-01222122dccd
* Version Independent ID: d3a3777f-043c

[2021-03-11 11:08] CHEEKATLAPRADEEP-MSFT commented on #71999
@rzeq  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-11 11:08] RohitMungi-MSFT commented on #71834
@wukun2015 I think that is one of the requested feature from customers that is in the backlog but we do not have visibility of its rollout currently. The feature when available should be out in preview before going GA. Thanks!!

[2021-03-11 11:11] MarcoEnxuto commented on #71319
Very well pointed out @mjfusa! Guys, do we need to open an issue for the Azure Product Team?
From my investigation, this seems to related to the WNS NotificationHub aligned with this old service Live services SDK.
I created a client secret on my AAD>App Registration>myapp, and paste it to the notifications hub field WNS. It raises a http 400 response. So, looks like the issue will take a little lo

[2021-03-11 11:43] ganesh-gawande opened #72000 "IoT Hub trigger function using Connection string from App configuration service"
Hi,

I am planning to store all the connection strings in App configuration service. Now When I create IoT Hub trigger function, it needs connection string to be store in function app configuration as well.

Now this is deviating my purpose of using App configuration service and central service to store all configuration across multiple azure functions and services.

Can you please help in this?

[2021-03-11 11:44] MarcoEnxuto commented on #71319
In the meanwhile, i took the opportunity to create an idea. [https://feedback.azure.com/forums/218849-notification-hubs/suggestions/42890661-fix-azure-notifications-hub-for-uwp](url)

[2021-03-11 11:52] MichaelCade commented on #71973
Removing the 1.2.0 version allowed this to work thanks for the pointers.

[2021-03-11 12:02] SandeepGuduru opened #72001 "How to find header and footer in a PDF file using form recognizer"
I have a pdf which has 3 pages, every page have common header and footer. How to find header and footer content in pdf pages using form recognizer cognitive services.

[2021-03-11 12:08] AntZhelev commented on #68471
Hi Subhash,

I was not referring to Pass subscription type. But to PAAS services like Azure App Service or Front door where this port cannot be used. In the past there was a section in the article for that. But now it has been removed. I am not sure why...

[2021-03-11 12:19] vipulsparsh commented on #71771
@PhilipHaglund Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-03-11 12:19] CHEEKATLAPRADEEP-MSFT commented on #72001
@SandeepGuduru  Please help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community membe

[2021-03-11 12:25] magrefaat commented on #69308
For Sentiment analysis and speech priming, both are supported in all public regions.

[2021-03-11 12:26] #72001 closed

[2021-03-11 12:27] harald-quist-stratsys opened #72002 "How are roles updated?"
Roles are only mentioned once, in POST /user:
[code]
Is this a list of strings? Objects?
How does updates work?  PATCH?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 271dc426-fb47-7441-d627-ec11f8c7a6ea
* Version Independent ID: 4cb8bfc8-4748-e501-425a-e4c2da0f5f5a
* Content: [Tutorial - Develop a SCIM endpoint for us

[2021-03-11 12:29] macroramesh6 commented on #42242
I have resolved it by reconfigured the GitHub with "import existing resource to repository" option

<img width="617" alt="vaXgD" src="https://user-images.githubusercontent.com/1827233/110787525-57b94700-8265-11eb-9d01-fa1d85d5f752.png">

[2021-03-11 12:37] vipulsparsh commented on #71909
@bryans2k Thanks for sharing this with community.

[2021-03-11 12:37] #71909 closed

[2021-03-11 12:42] Dilergore commented on #33157
I did months ago and it was not working.

[2021-03-11 12:48] AdamSharif-MSFT opened #72003 "Multiple errors in the demo"
When running-through the steps, I noticed the following issues:

- Variables are prefixed with dollar sign which is invalid for Linux/Unix
- the variable for the resource group is $resourceGroup but $rg is referenced for the VNet/subnet creation, which is not valid
- The variable for the location states eastus, but the feature is only currently available in westcentralus
- The VNet needs to be set

[2021-03-11 12:50] jitendraRai commented on #71610
Thanks and could you please verify in the Graph API such as - https://docs.microsoft.com/en-us/graph/api/resources/riskdetection?view=graph-rest-beta of riskEventType e.g. ImpossibleTravel as unlikelyTravel ...

[2021-03-11 12:53] GitaraniSharma-MSFT commented on #71718
@tigerdeccan , Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-11 12:53] #71718 closed

[2021-03-11 12:54] MartinJohns commented on #71769
I've just started the update on another Cosmos DB. Current bersion is 3.2, I selected to upgrade to version 4.0 directly (skipping 3.6). Again no status update is shown, the features are just greyed out:

![image](https://user-images.githubusercontent.com/5269069/110790432-4fff9f80-8271-11eb-95ce-4d25e9bdbf1f.png)

So it seems these status updates only occur when upgrading from 3.6 to 4.0...?

[2021-03-11 12:55] ransagy opened #72004 "Syntax error in sample code to create a batch pool with identity"
The sample code using the .NET Batch Management library contains a syntax error - Before assignment to the Identity property, there is a `;` character where there should be a `,` one instead.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 228d18a3-37c6-ab13-5efe-f3496fe70012
* Version Independent ID: 68baaeb5-384c-37bb

[2021-03-11 13:07] vipulsparsh commented on #71935
@wangshufu Can you open a support case for this, we will be able to investigate more on that.  Also collect a fiddler trace and attach it with the support case to start investigation.

[2021-03-11 13:20] BhargaviAnnadevara-MSFT commented on #72000
@ganesh-gawande Thanks for the question. We're investigating this and will get back to you shortly.

[2021-03-11 13:25] BhargaviAnnadevara-MSFT commented on #71986
@ymatsuoka335 Thanks for the question. We're investigating this and will get back to you shortly.

[2021-03-11 13:30] v-hagamp commented on #70501
Document was updated as suggested above so, I am closing this Issue.
#please-close

[2021-03-11 13:30] #70501 closed

[2021-03-11 13:44] yvesgermain opened #72005 "Must add -TypeHandlerVersion paramater for Set-AzVMExtension"
Must add the -TypeHandlerVersion paramater for this script to work:

Set-AzVMExtension -Name AMAWindows -ExtensionType AzureMonitorWindowsAgent -Publisher Microsoft.Azure.Monitor -ResourceGroupName <ResourceGroupName> -VMName <VMname> -Location CanadaCentral -TypeHandlerVersion 1.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2021-03-11 13:48] JamesK3 opened #72006 "Listing resources - az CLI command update(?)"
**Fails with az version 2.20.0 due to output option**
az resource list --resource-group "mySourceResourceGroup" --query "[].{Id:id}" --output table

All other output options work (tsv,json,jsonc)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f471928-7d94-6780-4387-1c279593859e
* Version Independent ID: 6e522e47-58b1-

[2021-03-11 14:00] KrishnaG-MSFT commented on #71750
@mumian Thanks for the confirmation.
@haivercarrillo We will be closing this issue for now. If there are further questions regarding this matter or any other feedback on the referred documentation, please do let us know and we will gladly continue the discussion.

[2021-03-11 14:05] MayankBargali-MSFT commented on #71925
@sijucm Just following up here. Hope my previous comment clears things up.

[2021-03-11 14:08] MGoedtel commented on #70854
@andePKI & @SwathiDhanwada-MSFT  To register hybrid machines with Azure, you either need to be a member of the Contributor role or the Azure Connected Machine Onboarding role at the resource group-level that you specify when creating the deployment script from the portal.  This is necessary to support the the last step of the onboarding script because you are prompted to browse to a Microsoft URL,

[2021-03-11 14:08] #70854 closed

[2021-03-11 14:09] raisingcode opened #72007 "Tenant Name in EA transfer"
[Enter feedback here]

When your transfer a billing enrollment to another EA, does the tenant name (mytenant.onmicrosoft.com),  Azure AD roles, RBAC roles previously assigned to subscriptions users carry over?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b012da28-41db-78d8-53ac-6322ca21d55b
* Version Independent ID: 6

[2021-03-11 14:09] sonic1981 opened #72008 "trackEvent syntax seems incorrect in document"
According [to this ](https://github.com/Microsoft/ApplicationInsights-JS#sending-telemetry-to-the-azure-portal) the correct syntax for `trackEvent` should be:

[code]

Not:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 401d2997-0fbd-7966-8996-edbaab1819ff
* Version Independent ID: c3ee3318-4c69-8ded-a8d5-5059d6

[2021-03-11 14:19] KrishnaG-MSFT commented on #71833
@xuegao0112 At this point we don't have an ETA on when this would go GA. While it is listed as "preview" however, it is kind of supported and treated as a GA feature for all intents and purposes, and we have many customers who take advantage of this. But yeah official "GA" of this is yet to be decided at this point of time. Once we have an update about it, we would definitely announce in [updates]

[2021-03-11 14:21] Klaas- opened #72009 "Snapshots on multiple disks"
Hi,
I have a couple of questions about the snapshot functionality:
1) can I sync this over multiple disks (ie HANA lvm raid https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/hana-vm-operations-storage#production-recommended-storage-solution-based-on-azure-premium-storage )
2) can I run pre/post scripts to sync/freeze the filesystems?

---
#### Document Details

⚠ *Do not edit t

[2021-03-11 14:22] MGoedtel commented on #43396
@mimckitt - I believe this is the article you are interested in related to working with access tokens to authenticate from Arc enabled servers with Azure resources - https://docs.microsoft.com/en-us/azure/azure-arc/servers/managed-identity-authentication.

Closing this article as it has been open for ~1+ years and it's been inactive and not related to an issue with the article.  Thanks #please-clo

[2021-03-11 14:22] #43396 closed

[2021-03-11 14:26] MGoedtel commented on #42181
@frehnejc - This issue has been inactive for sometime now.  Because this isn't based on an issue with the article itself, I'm proceeding with closing this GitHub issue. If you are still having an issue deploying the Arc enabled agent on a domain controller, please open a case with Microsoft Support.  Thanks - #please-close.

[2021-03-11 14:26] #42181 closed

[2021-03-11 14:32] MGoedtel commented on #36723
Adding @vijaynar from the product group to this GitHub issue to help answer these questions and verify the reference details about the JSON string passed in to SoftwareUpdateConfigurationRunContext parameter.

[2021-03-11 14:36] baanders commented on #71353
#please-close

[2021-03-11 14:36] #71353 closed

[2021-03-11 14:36] MGoedtel commented on #38302
The Start/Stop VMs solution content was re-written last year to address a number of deficiencies.  As a result of that work I'm assuming because of inactivity on this GitHub issue your concerns have been addressed. I'm going to close this article and if you have any specific issues with the content, please open a new issue.  #please-close.

[2021-03-11 14:36] #38302 closed

[2021-03-11 14:39] MGoedtel commented on #39047
Due to inactivity with this GitHub issue, I'm going to close it.  I also believe due to several updates and improvements made to the article since this issue was opened (unrelated), the suggestion has been addressed.  If you still have any questions or issues related to details on using the NewOnPremiseHybridWorker script, please open a new GitHub issue.  Thanks.
#please-close

[2021-03-11 14:39] #39047 closed

[2021-03-11 14:40] baanders commented on #71689
I'm going to proceed with merging this fix PR to live today, which will automatically close the issue.

If there's more information to discuss, feel free to comment back with additional comments or questions to continue the conversation even after it's closed, and we can reopen if needed.  Thanks!

[2021-03-11 14:42] #71689 closed

[2021-03-11 14:44] MGoedtel commented on #39347
Due to inactivity with this GitHub issue, I'm going to proceed with closing it.  If you are still encountering issues while attempting to setup this feature based on the article, please open a new GitHub issue and I'll include a PM from the product group to participate. #please-close

[2021-03-11 14:44] #39347 closed

[2021-03-11 14:44] annarailton opened #72011 "Deployment configuration schema is missing details on using AML compute clusters"
The high level docs [here](https://docs.microsoft.com/en-gb/azure/machine-learning/how-to-deploy-and-where?tabs=azcli#choose-a-compute-target) about deploying an ML model using Azure Machine Learning compute clusters.

However, there are no details about how to actually do this in the [deployment configuration section here](https://docs.microsoft.com/en-gb/azure/machine-learning/reference-azure-ma

[2021-03-11 14:45] piotrgwiazda opened #72012 "Connecting from Spark Pool on Synapse to Azure SQL Database"
Please provide instructions for how to connect from Spark Pool on Synapse to Azure SQL Database.

Currently, when trying to upload "spark-mssql-connector-1.0.1.jar" to a Spark Pool using Workspace packages Spark sessions cannot start. The error in the notebook is "LivySessionException: Livy session has failed. Session state: Error." Monitoring error code: LIBRARY_MANAGEMENT_FAILED.

Also, TokenLib

[2021-03-11 14:46] MGoedtel commented on #39431
Due to inactivity and last response indicating a fix has been released to address the functionality issue with the solution, I'm going to proceed with closing this issue.  #please-close.

[2021-03-11 14:46] #39431 closed

[2021-03-11 14:52] MonikaReddy-MSFT commented on #72004
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-03-11 14:53] MonikaReddy-MSFT commented on #72006
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-03-11 14:53] MonikaReddy-MSFT commented on #72008
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-03-11 14:59] MGoedtel commented on #41325
The Export-RunAsCertificateToHybridWorker was updated to use the Az modules instead of the ARM equivalent.  We are working to transition many of the scripts from the articles and PowerShell gallery to the [Automation GitHub organization](https://github.com/azureautomation). I'll bring this up with the Automation PM to see where when this script will be migrated and we can have the article simply r

[2021-03-11 14:59] #41325 closed

[2021-03-11 15:05] MGoedtel commented on #41478
This script was updated last year by engineering to use Az module cmdlets and also address other deficiencies. Due to inactivity with this GitHub issue I'm going to proceed with closing this issue.  If you are still encountering issues using this script in PowerShell to create a Run As account, please open new issue. Thanks.

[2021-03-11 15:05] bachoang opened #72013 "please document client assertion in auth code grant flow"
https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow#request-an-access-token describes the 2nd leg of auth code grant flow to exchange an authorization code for an access token.  Instead of client secret, client assertion can also be used as well.  Please document this flow can also take a client assertion instead of client secret

---
#### Document Details

⚠ *

[2021-03-11 15:05] MGoedtel commented on #41478
#please-close

[2021-03-11 15:05] #41478 closed

[2021-03-11 15:11] SubhashVasarapu-MSFT commented on #71802
@RajaPrasadShaw, I was wondering if you have had a chance to look over our previous reply yet? Let us know if you have any query or input for us or if we good to close this issue.

[2021-03-11 15:20] SwathiDhanwada-MSFT commented on #72005
@yvesgermain Thanks for your comment. We will review the issue and get back to you shortly.

[2021-03-11 15:21] SwathiDhanwada-MSFT commented on #71996
@NoriMin Thanks for your comment. We will review the issue and get back to you shortly.

[2021-03-11 16:03] PsychoData commented on #31136
did you possibly visit https://aka.ms and not https://aka.ms/pscore6 ?

Currently, if you go to the Root site directly (and not one of it's shortlinks) then it will have you try to sign in to determine if you can access the tool to create the ShortLinks. If you do not have access, it will show you errors  similar to my previous message above.

https://aka.ms/pscore6
![image](https://user-images.gi

[2021-03-11 16:10] v-jheichman opened #72015 "Azure Synapse Analytics (formerly SQL DW) is no longer available under Register sources"
When I register sources in Purview, the **Azure Synapse Analytics (formerly SQL DW)** option is no longer available

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e292340-fde7-24cf-922e-c852643c7dfb
* Version Independent ID: 194ae394-7145-8b01-63c5-ee4159f56773
* Content: [How to scan Azure Synapse Analytics - Azure P

[2021-03-11 16:12] msewaweru commented on #69722
https://github.com/MicrosoftDocs/azure-docs-pr/pull/146577 has been merged. Proceeding to close this issue.
#please-close

[2021-03-11 16:12] #69722 closed

[2021-03-11 16:20] mumian commented on #71878
@tyeth - thank you for the comment.  I have updated https://docs.microsoft.com/azure/azure-resource-manager/templates/bicep-tutorial-add-outputs?tabs=azure-powershell#add-outputs.

#please-close

[2021-03-11 16:21] GitHubMWJ opened #72016 "Link to depreciated Azure IP information"
[In the 'Requirements' section the article links to a depreciated list of Azure IP's (Depreciated June 30, 2020). The link should be updated to the correct page. https://www.microsoft.com/en-us/download/details.aspx?id=56519]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb5cf254-9d8e-de7a-30e8-487b68205bc2
* Version

[2021-03-11 16:21] alevere commented on #71539
I think that would be a good note. One topic that has gained interest is micro-segmentation which could involve inserting a deny rule above the default rules, depending on how networks are deployed. I know a number of orgs that use larger networks with differing workloads in the same network. That may be a useful term for the note.

Another part of the documentation that is confusing to me is the

[2021-03-11 16:28] Toasty66 opened #72017 "Determining if hashes exist"
Is there a way via powershell or otherwise to determine which accounts have the required hashes, and which don't? For example, for a customer that implemented AADDS a year ago, determine which users have already changed their passwords, and which users have not since AADDS was added.  This would allow targeting of the users that still need to reset passwords without inconveniencing those that alre

[2021-03-11 16:30] PsychoData commented on #31136
@cthombor

Using a Redirect checker tool - https://www.redirecttracker.com/ -
You can see that the redirect path is https://aka.ms/AA1wm3t > https://businessstore.microsoft.com/manage/organization/agreements

If you are not already used with the Microsoft BusinessStore, then you will get a request to either Login to the business store, or Authorize the Business Store (To read your Email Address/Op

[2021-03-11 16:37] PsychoData commented on #31136
@kendrikat

It has always been safe

[2021-03-11 16:37] MarileeTurscak-MSFT commented on #72016
@GitHubMWJ
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-11 16:38] BhargaviAnnadevara-MSFT commented on #71839
@steekohoopdy We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-03-11 16:38] #71839 closed

[2021-03-11 16:39] JamesTran-MSFT commented on #72002
@harald-quist-stratsys
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-11 16:40] JamesTran-MSFT commented on #72013
@bachoang
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-11 16:40] MarileeTurscak-MSFT commented on #72016
Thank you! I made a pull request to update the link. https://github.com/MicrosoftDocs/azure-docs-pr/pull/150082

[2021-03-11 16:40] #72016 closed

[2021-03-11 16:41] alkwa-msft commented on #53436
I am also running into this as well. It would be helpful to understand what is really going on here so we can help investigate this issue as well. We have many capable engineers that just need to understand what is going on and we can probably help solve the problem and share the answer broadly.

[2021-03-11 16:41] JamesTran-MSFT commented on #72017
@Toasty66
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-11 16:45] sharshi commented on #53436
My understanding of what triggered this is, azure updated the app service instances to no longer support older versions of node.js. Even though it is running on node 12 there must have been some sort of change that broke older instances.

Our only non-solution solution was to instantiate a completely new app service instance, with the same exact configuration.

[2021-03-11 16:48] skydoctor opened #72018 "Inconsistency in description of Azure Files"
In one place on this doc, it is mentioned: " Files can use Azure Standard storage backed by regular HDDs, or Azure Premium storage, backed by high-performance SSDs."

While in all the figures, Azure Disk is shown to have the Standard and Premium option but Azure Files is shown to only have the Standard option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2021-03-11 16:52] sopelt opened #72019 "Clarify supported scenarios for OIDC"
We have been using easyauth in some scenarios over the years especially when combining MSI/AAD/AppService/FunctionApps.
Coming from that we were expecing/hoping that we could set up easyauth for OpenID Connect in order to have it validate our JWT tokens before they hit our app service/function app. It looks like for OIDC that doesn't work and the OIDC login flow/session initialization needs to hap

[2021-03-11 16:54] micya opened #72020 "Requesting updated C# code snippets"
C# code snippets on page are using old Service Bus SDKs. These should be updated to use new Azure.Messaging.ServiceBus SDK.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13478d1d-11eb-930a-02c4-559a1ef89fa6
* Version Independent ID: be36cdf9-1e5e-c47f-e699-652dc42ee2b9
* Content: [Azure Service Bus access control with

[2021-03-11 16:54] HoCGeek opened #72021 "Can I reference a key vault in the ARM template itself, or only in the Parameters file"
It is unclear to me in this article whether or not it is possible to reference a key vault directly within an ARM template, or if it is only possible within a separate parameters file.  I'm trying to set up a configuration where my infrastructure team manages the template file (including referencing a key vault for secure information), and my "clients" (the application level guys requesting a VM)

[2021-03-11 17:03] jonwbstr commented on #71665
Haven't heard from you in a while, here are some additional thoughts on this topic.

## First thought
Both the AD DS and Azure AD DS articles lead with a "we strongly recommend reviewing how it works before proceeding"
followed by a **Supported scenarios and restrictions** section.

If someone only reads the supported scenarios and restrictions, a bullet point that says the following would have be

[2021-03-11 17:13] micya commented on #72020
Scratch that. I assumed feature parity with newer SDKs, looks like SAS token authentication is not supported in latest SDK.

[2021-03-11 17:13] #72020 closed

[2021-03-11 17:16] BhargaviAnnadevara-MSFT commented on #71678
@da-art85 We will now proceed to close this thread due to inactivity, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-03-11 17:16] #71678 closed

[2021-03-11 17:23] qpetraroia commented on #71599
Hi @squasta,

The docs will be updated to now reflect GA status. Thank you!

[2021-03-11 17:25] commakoerschgen opened #72022 "Clarification on blocking of unverified 3rd party apps."
The document states that

Let us call the affected apps "unverified 3rd party apps" for the sake of brevity

However, our tests show that this behavior only applies if risk-based step-up consent is active (https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/configure-user-consent?tabs=azure-portal#risk-based-step-up-consent)

Please clarify whether this is intended behavior and dis

[2021-03-11 17:28] SaurabhSharma-MSFT commented on #72015
@v-jheichman Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-11 17:32] bannerss commented on #53436
Hi all,
So today we finally solved the error.
The reason for it in our case was as follows:
We made a github deploy and uploaded the artifact after a build to our app service.
But in our app service configuration, we made another unnecessary build process.
Added to configuration > application setting:
SCM_DO_BUILD_DURING_DEPLOYMENT with a value ‘false’ solved the problem.
No need for a second buil

[2021-03-11 17:38] NavtejSaini-MSFT commented on #71889
@stevestein  - Can you please check - https://github.com/MicrosoftDocs/azure-docs/pull/71890 PR raised for fixing this issue.

[2021-03-11 17:42] allanlw opened #72024 ""Storage considerations for Azure Functions" should document that Azure Functions requires storage accounts to have allowSharedKeyAccess=true"
The current page "Storage considerations for Azure Functions" makes no mention of [allowSharedKeyAccess](https://docs.microsoft.com/en-us/azure/storage/common/shared-key-authorization-prevent?tabs=portal).

As far as I can tell, allowSharedKeyAccess must be true for the storage account used by Azure Functions. This should be documented.

---
#### Document Details

⚠ *Do not edit this section. It i

[2021-03-11 17:47] roygara commented on #71665
@jonwbstr Apologies for the confusion, I figured you were an MS employee since you were quoting service ticket numbers. I've already started a thread with the relevant folks internally and we're discussing your feedback. I'll let you know what the team decides when we settle on something.

[2021-03-11 17:49] KranthiPakala-MSFT commented on #72012
@piotrgwiazda
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-03-11 17:50] bwren commented on #71989
@craig-martin Thanks for this. I just created a work item to do some testing with your example here.

#please-close

[2021-03-11 17:50] #71989 closed

[2021-03-11 17:56] rolyon commented on #69846
Hi @MyTestingAccountThatIUse
Thanks for noticing these issues. We've made some updates to this article:
https://docs.microsoft.com/en-us/azure/active-directory/roles/admin-units-add-manage-groups
Let us know if you have additional feedback.

[2021-03-11 17:56] rolyon commented on #69846
#please-close

[2021-03-11 17:56] #69846 closed

[2021-03-11 18:05] mrbullwinkle commented on #71365
#reassign:DishaAgarwal

[2021-03-11 18:06] crisansou opened #72025 "How can we detect data drift using the studio web experience for automl?"
Hello,

If we use the Studio web experience for automl, is it possible to set up data drift detection or just using Python? If possible, can you guys show how?

Reference:

https://docs.microsoft.com/en-us/azure/machine-learning/how-to-monitor-datasets?tabs=python

Best regards,
Cristina

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2021-03-11 18:10] SnehaGunda commented on #70399
@Efreeto Request charge is the request units consumed by all your database operations. the second paragraph in the doc kind of says it. I made a minor tweak in the above PR for better clarification.

We will now close this issue.

#please-close

[2021-03-11 18:10] #70399 closed

[2021-03-11 18:15] #71851 closed

[2021-03-11 18:16] JamesTran-MSFT commented on #71942
@WalterEbbers
Thank you for the follow up! I'll go ahead and close out this issue.

If you have any other questions, please feel free to create a new issue or reach out to myself or Hirsch.
Thank you for your time and patience throughout this issue.

[2021-03-11 18:16] #71942 closed

[2021-03-11 18:17] b-juche commented on #70068
@nimoniyaz - Still awaiting response from Alok, through the email thread that you are also in.  For now let's close this ticket and continue the email discussion with internal team members.

#please-close

[2021-03-11 18:17] #70068 closed

[2021-03-11 18:23] MGoedtel commented on #41508
Thanks for your feedback and apologies this issue has not been properly addressed. The content team for Automation has plans to re-write and reorganize the State Configuration content, which includes verifying any screenshots, steps, etc. are up-to-date. I don't have an ETA to share at this time as to when that will be complete and the content goes live.

In the meantime, unless there is an object

[2021-03-11 18:23] #41508 closed

[2021-03-11 18:26] Efreeto commented on #70399
@SnehaGunda Which PR had your change?

[2021-03-11 18:27] bandersmsft commented on #71876
#please-close

[2021-03-11 18:27] #71876 closed

[2021-03-11 18:32] ChaitanyaNaykodi-MSFT commented on #71997
Hello @DmytroVas,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-03-11 18:44] bwren commented on #68198
@oshezaf Sorry for the delay in getting to this. I'm adding a note to the article with links to API and PS.

#please-close

[2021-03-11 18:44] #68198 closed

[2021-03-11 18:47] JamesTran-MSFT commented on #72017
@Toasty66
Thank you for your time and patience! I've reached out to our engineering team regarding this and will update as soon as possible.

[2021-03-11 18:56] bwren commented on #56211
Sorry, cleaning up backlog on this one. I'm going to remove that note.

#please-close

[2021-03-11 18:56] #56211 closed

[2021-03-11 18:58] MGoedtel commented on #41524
@VikasPullagura-MSFT & @JustinGrote - Thanks for the suggested approach. I'm going to create a work item to add this in the article as an alternative option after we get through a number of priorities this month.  Thanks!  #please-close  #reassign:@mgoedtel

[2021-03-11 18:58] #41524 closed

[2021-03-11 18:59] #71964 closed

[2021-03-11 18:59] #71966 closed

[2021-03-11 19:00] nigeldao007 opened #72027 "Is deployment history logged for all or only certain deployment types (Portal, ARM, CLI, API)?"
My initial understanding is that all deployment types whether it's done on the portal, via CLI, or ARM template, they are all translated to API calls and therefore should in essence have deployment history logged, but I noticed that in our subscriptions, only Portal and ARM deployments have deployment history logged.  Is this expected?  If not, what could potentially cause the inconsistency?  Can

[2021-03-11 19:04] bwren commented on #56377
Sorry, this one got lost in our backlog. We actually have some significant changes coming to the saved queries and function content coming in the next few weeks that will cover the scope of the queries and where they're stored in detail.

#please-close

[2021-03-11 19:04] #56377 closed

[2021-03-11 19:08] normesta commented on #71883
Thanks @zezha-msft. I think this answers it. Thanks @willmccardell for raising the question.

Closing out.

#please-close

[2021-03-11 19:08] #71883 closed

[2021-03-11 19:08] SadiqhAhmed-MSFT commented on #72007
@raisingcode Thank you for your post. We are looking into it and will shall get back to you shortly.

[2021-03-11 19:12] JamesTran-MSFT commented on #72002
@harald-quist-stratsys
Thank you for your time and patience!

Is this a list of strings? Objects?
- Based off our [Customize user provisioning attribute-mappings](https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/customize-application-attributes#provisioning-a-role-to-a-scim-app) doc, you should be able to add roles by listing "primary, type, and value"

**One primary role:*

[2021-03-11 19:14] iinuwa commented on #39154
@MarileeTurscak-MSFT Was there ever an answer to this? I have an issue with this in Azure.

[2021-03-11 19:21] roberdaniel commented on #26247
Yes completely agree.
There is no sane way to know if the vm family supports accelerated networking, and also you lost in hundreds of options.

[2021-03-11 19:21] scockeri opened #72029 "Unable to upload device code on Mac"
Just received my mxdevkit and have following the getting started project example using my Mac and VSCode. All installation instructions followed and successful up until the point where I attempt to use the Device workbench to upload code to the board.

I get the following error :

java.io.IOException: Cannot run program "/Users/<username deleted>/Library/Arduino15/packages/AZ3166/tools/openocd/0.1

[2021-03-11 19:29] Toasty66 commented on #72017
About the only option I've found is to get a list of all user's last password change date. Any change date after the golive of AADDS would suggest the hash should exist. It's not perfect as being able to check for the hash being absent/present, but it is something.

Get-MsolUser -All | Select DisplayName,UserPrincipalName,LastPasswordChangeTimeStamp |
Export-CSV "C:\LastPasswordChangeInfo.csv" -No

[2021-03-11 19:30] normesta commented on #71855
@waynehoggett - thanks for asking. It led me to add some clarifying text to the document. The reference to "best effort" means that the completeness and timeliness of log delivery is not guaranteed. Most requests result in a log record, but how complete, the exact timing of log delivery, and even if a log record appears at all is not exact. "Best effort delivery" is a term that appears elsewhere i

[2021-03-11 19:30] #71855 closed

[2021-03-11 19:33] bannerss commented on #53436
@alkwa-msft
Running on linux app service

[2021-03-11 19:34] sy-huss commented on #51639
Is there an official solution to this? I'm struggling to deploy anything other than a static Vue site.

[2021-03-11 19:34] mailforyash opened #72030 "This worked for me without DNS network rule."
[Enter feedback here]
I was using the Google DNS servers in this example and id didn't add the network rule for DNS in firewall but the it was still working.
I tried with multiple app rules and different sites and it worked without any issues. I verified that FW was blocking the traffic for anything that was not added under applicable rules.

![image](https://user-images.githubusercontent.com/4045

[2021-03-11 19:38] ralphke opened #72031 "Unclear language content"
This samples lack clarity which language is being used for the samples provided.
I suggest to ad a magic in the code like %%scala for example to clarify this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65331fde-51d0-365e-e182-2c3b01de8f99
* Version Independent ID: 79b4f02b-27a5-019a-1b36-4e80a04f539f
* Content: [Qu

[2021-03-11 19:39] SamaraSoucy-MSFT commented on #72031
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-03-11 19:45] ricktam1469 opened #72035 "az account get-access-token --resource 0b07f429-9f4b-4714-9392-cc5e8e80c8b0 <---- Meaning of ID"
az account get-access-token --resource **0b07f429-9f4b-4714-9392-cc5e8e80c8b0** <---- Meaning of ID

What is the meaning of the above ID? why this I have to use? Why it is static?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32f3301f-e263-5631-00f5-1ebc57efaf0b
* Version Independent ID: cb7c0774-adf4-d235-9634-5dffaf

[2021-03-11 19:54] AjayKumar-MSFT commented on #71874
garyboutet, We will close this out, but if you feel you need more information please just let us know. Thanks again for your feedback.

[2021-03-11 19:54] #71874 closed

[2021-03-11 19:58] normesta commented on #68872
No problem. I added a comment to the doc. Basically, AzCopy doesn't directly secure the connection. Whether a connection is secured via TLS is determined by the "Secure Transfer Required" setting of the storage account. That setting is enabled by default which means that any connection to the storage account endpoint must happen over HTTPS. This is not specific to AzCopy. That said, I added a not

[2021-03-11 19:58] #68872 closed

[2021-03-11 20:01] ChaitanyaNaykodi-MSFT commented on #71854
Hello @tomdbarker,
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue with the discussion.

[2021-03-11 20:01] #71854 closed

[2021-03-11 20:05] julieMSFT commented on #69337
@WilliamAntonRohm please reassign to mlee3gsd. Thank you.

[2021-03-11 20:10] jonwbstr commented on #68613
Hi all, I notice the sister article for setting it up for AD DS includes more detailed guidance, a little copy/paste so this part is the same in both articles would be perfect.

[2021-03-11 20:18] DerekHerman-MSFT commented on #71986
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-11 20:22] SatishBoddu-MSFT commented on #72035
@ricktam1469 Thanks for the queries.

Our SME will review your queries soon.

[2021-03-11 20:23] dphugo opened #72038 "Small spelling mistake: addtionalHeaders"
Hi team,

Small spelling mistake of: addtionalHeaders
It's under "Copy Activity properties" subsection "HTTP as source" in the "Property" column of the first table.

Kind regards,
D

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb254eed-873c-17d6-3d95-1d1c93a901b4
* Version Independent ID: 13e1abe1-486b-6eeb-36aa-2d4b

[2021-03-11 20:24] jonwbstr opened #72039 "Prerequisites"
I recently opened issue #71665 that talks about AD DS authentication not supporting an Azure AD DS instance.

When I read:

I have no trouble saying, An "Azure AD domain controller is synchronized to Azure." However, my experience is that this option is NOT supported for Azure AD DS authentication. There are a lot of similarities between an on-premise AD DS instance, and an Azure AD DS instance. A

[2021-03-11 20:30] shooker opened #72040 "DNS Zone Export for Private Zone"
The DNS Zone export CLI command only works for Public DNS Zones, there should also be a section for private dns zones.

az network **private-dns** zone export -g myresourcegroup -n contoso.com -f contoso.com.txt

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e7a82c4-2bed-a8c7-6ce9-9bd895771337
* Version Independent ID

[2021-03-11 20:45] Rodrigo30Horas opened #72041 "Should we say to the community that Tenant Restrictions will unable customers to HAADJ?"
Dear all,

I am working with a customer implementing Tenant Restrictions & HAADJ (Hybrid Join).

The issue is: Tests for HAADJ indicates that this feature is expecting all machines to access login.microsoftonline.com, device.login.microsoftonline.com and enterpriseregistration.windows.net at least.

When executing tests with PS1 provided by Technet (here https://docs.microsoft.com/en-us/samples/az

[2021-03-11 20:56] tekkies opened #72042 "Please give explicit guidance for users with MSDN subscriptions"
Please mention MSDN in the license section, and how to check if your MSDN subscription is of a sufficient level.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec82f0e4-0094-5d72-44f8-de52afad4e8a
* Version Independent ID: 5011e419-85d7-d003-1522-0e4f18135400
* Content: [How to deploy Windows 10 on Azure with Multitena

[2021-03-11 20:58] mimckitt commented on #72042
@tekkies MSDN subscriptions are not eligible for multitenant hosting rights. You can use MSDN to deploy client images for dev/ test though.

https://docs.microsoft.com/en-gb/azure/virtual-machines/windows/client-images

[2021-03-11 21:06] dbona75 opened #72043 "Use the solution to protect domain admins"
[Enter feedback here]

Hello,

what does it mean : " Can admins set up security keys?...in GA yes" .

 The Domain Admins will be enabled to provision keys to users or
 The Domain Admins will be enabled to use security keys

Today I am testing and I am having problems when the key user is a Domain Admin.
Please clarify if the solution can be used to protect Domain Admin and eradicate password for t

[2021-03-11 21:12] Lukeout commented on #71594
This should say OpenSSL not SSL. Doc is being edited.

[2021-03-11 21:24] bwren commented on #71594
#please-close

[2021-03-11 21:24] #71594 closed

[2021-03-11 21:25] KranthiPakala-MSFT commented on #72038
@dphugo
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-03-11 21:28] SS-atwork opened #72044 "doesn't fully cover configuration"
Doesn't seem to have information on how to configure the storage account to avoid this error.
Nor does it mention the 'exports service', how it's used, why it's used, and how to make sure it's configured correctly.

Error:
Export creation failed.The exports service is not authorized to access the specified storage account

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-03-11 21:28] rdryfoos commented on #56275
Looks like "providers" is the key word in the answer from @MicrosoftGuyJFlo - A quick search of my personal device revealed that 288402 has also sent me verification codes on behalf of MetLife, TCF National Bank and Coinbase. ¯\_(ツ)_/¯

[2021-03-11 21:32] KranthiPakala-MSFT commented on #72038
@dphugo,  I don't see any issue with the spelling typo. Everything looks good.

![image](https://user-images.githubusercontent.com/50185738/110857891-3dd03200-826e-11eb-8a97-2b87caff9df9.png)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you

[2021-03-11 21:32] #72038 closed

[2021-03-11 21:33] RonnieQuan opened #72045 "Private Link Resource - Storage Account in Another Tenant"
When we create private endpoint for storage account, does it support a storage account from a subscription in different AAD tenant?

![image](https://user-images.githubusercontent.com/25850020/110857959-7cbeb180-8287-11eb-813c-109be1d0d74e.png)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b006a

[2021-03-11 21:36] somared opened #72046 "Broken link"
The hyperlink for "Data factory UI for linked services with parameters"  is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eddba735-4657-f220-3aa6-c9e3ac593ec5
* Version Independent ID: e9ab52fe-8f0d-bc6a-f3b7-fe2f284f875c
* Content: [How to use parameters and expressions in Azure Data Factory - Azure Data Facto

[2021-03-11 21:36] baanders commented on #72035
Hi @ricktam1469, thanks for the question.

This value of **0b07f429-9f4b-4714-9392-cc5e8e80c8b0** is the resource ID of the Azure Digital Twins service. The [az account get-access-token](https://docs.microsoft.com/cli/azure/account?view=azure-cli-latest#az_account_get_access_token) command can be used to get tokens to access a particular resource or resource type in Azure--so when you pass in the

[2021-03-11 21:37] KranthiPakala-MSFT commented on #72046
@somared
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-03-11 21:44] tielushko opened #72047 "Update documentation with getToken() instead of issueToken()"
Hello MS Team!

I have noticed an error in the documentation on the website. According to this tutorial, the command to generate a new token is issueToken(), however with beta 5 update it is now getToken(), which I found out through your npm documentation. Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad3a5

[2021-03-11 21:47] KranthiPakala-MSFT commented on #72046
@somared
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

Thank you

[2021-03-11 21:47] #72046 closed

[2021-03-11 21:49] JamesTran-MSFT commented on #72003
@AdamSharif-MSFT
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-11 22:02] nellyontour opened #72049 "BGP Peers option in Portal"
I don't see the BGP Peers option in the portal and also some other slight differences. Is this a preview feature or only released in certain regions. It is a newly created VNet gateway with BGP up and running all OK in Australia Southeast. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d3fb27c-8a4f-35c7-0724-d5

[2021-03-11 22:14] bunda3d opened #72050 "Just a typo"
I think you guys do a great job on documentation, so figured I'll point out a typo since I think it's the first one I've seen on MS Docs (**bolded**):

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c68db81b-c293-dc2f-0ff7-e21ead484367
* Version Independent ID: 2aff9bbb-585e-a154-7748-5d48582d701b
* Content: [Use My Sta

[2021-03-11 22:15] RMKoRn opened #72051 "This email is not associated with my account someone is using my account"
This email is not associated with my account someone is using my  #account
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac9e8541-82eb-c4c5-5ed1-ff135a27e5ea
* Version Independent ID: 651b56dd-d7cb-1c25-2e4d-52bc6a513d78
* Content: [Sign-in using authentication with a work or school account - Azu

[2021-03-11 22:34] SaiKishor-MSFT commented on #71807
@vhorne Could you take a look at this? Thanks!

[2021-03-11 22:36] SaiKishor-MSFT commented on #72030
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-11 22:37] SaiKishor-MSFT commented on #72040
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-03-11 22:45] MarileeTurscak-MSFT commented on #72050
@bunda3d thanks for pointing this out! We will fix this.

[2021-03-11 22:50] RonnieQuan opened #72053 "Microsoft Managed Key for Log Analytics Workspace"
Can you please confirm whether the MMK is shared by multiple log analytics workspace?
or one dedicated MMK is assigned to each workspace/resource?

https://docs.microsoft.com/en-us/azure/azure-monitor/security-baseline#48-encrypt-sensitive-information-at-rest

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2021-03-11 22:59] JamesTran-MSFT commented on #72051
@RMKoRn
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-11 23:00] ProbablePrime commented on #69198
Hey @danielgerlag, We've just published a tutorial on this topic which shows signing a request using postman and sending an SMS.

Please take a look and let me know what you think: https://docs.microsoft.com/azure/communication-services/tutorials/postman-tutorial

[2021-03-11 23:04] rolyon commented on #70164
Hi @denishol
Thanks for your feedback. We've made some updates to this article:
https://docs.microsoft.com/en-us/azure/active-directory/roles/my-staff-configure
Let us know if you have additional feedback.

[2021-03-11 23:04] rolyon commented on #70164
#please-close

[2021-03-11 23:04] #70164 closed

[2021-03-11 23:05] MarileeTurscak-MSFT commented on #72022
@commakoerschgen
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-11 23:11] tfitzmac commented on #72027
@nigeldao007 - all ARM template deployments are stored in the deployment history. So, if you deploy a template with Azure CLI, it will be saved in the deployment history. Other commands are not stored in the deployment history but they would be part of the activity log.

[2021-03-11 23:13] rolyon commented on #70688
Hi @DeanGross
Thanks for your feedback. You mention that the following article lists highly privileged roles in Azure AD that are used for O365:
https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/aws/aws-azure-ad-security
When I look at this article, I don't this list of roles. Can you clarify?
thanks

[2021-03-11 23:17] MarileeTurscak-MSFT commented on #72050
Thanks! We have added this to the document. https://github.com/MicrosoftDocs/azure-docs-pr/pull/150165

[2021-03-11 23:17] #72050 closed

[2021-03-11 23:27] tfitzmac commented on #72021
@HoCGeek - the key vault is referenced in the parameter file, not the template.

[2021-03-11 23:28] jonwbstr opened #72054 "Confused reader"
First, this statement doesn't make sense. I need to do what?

Maybe it should be,

Second, I'm not sure what I just read. Add more info about why someone would do this. I see the benefits, but bigger picture overview, maybe a reference to [this doc](https://docs.microsoft.com/en-us/fslogix/application-file-containers-cncpt) as they concept and why it matters seems to be in a complete different sec

[2021-03-11 23:31] alkwa-msft commented on #53436
Managed to resolve this.

We use this action after we create a build
1. azure/webapps-deploy@v2
2. (Set in your Configuration) WEBSITE_WEBDEPLOY_USE_SCM = true

My concern is that there are so many blackbox variables used in azure instances.

[2021-03-11 23:35] lgayhardt commented on #52657
@MarkAtAgilliance Would you mind opening up an issue against the .NET Core doc you mentioned? A different team owns that documentation.

Thanks =)

[2021-03-11 23:39] tfitzmac commented on #71781
@nimoskovE - sorry, I can't think of a generalized way to see which resource types support an extension. The resource provider for the extension type would need to explicitly indicate where it can be used.

[2021-03-11 23:44] MarileeTurscak-MSFT commented on #72043
Hi @dbona75,

Right now there isn't a way for admins to provision security keys. This is noted[ in this separate FAQ](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-authentication-passwordless-faqs).

[2021-03-11 23:44] #72043 closed

[2021-03-11 23:46] gpetersOB opened #72055 "Can you clarify whether Azure App Service instance flexibility applies to reservations like it does for VM reservations? In other words, if I have a P1v3:2 and P2v3:2 plan, can I purchase a P1v3 reservation with 6 units (2 from P1v3 and 4 from P2v3 which is 2x units) to cover them both?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb1c7712-7798-3505-4545-b44cd9870034
* Version Independent ID: 49bd2e58-0d17-784d-26d6-5c1275131d69
* Content: [Reservation discounts for Azure App Service](https://docs.microsoft.com/en-us/azure/cost-management-billing/reservations/reservation-discou

[2021-03-11 23:51] mike-urnun-msft commented on #72024
@allanlw Thank you for your feedback! We will review and update as appropriate.

[2021-03-11 23:53] ivapplyr commented on #68335
@yinoa | @tfitzmac

Apologies on the delayed response. So the confusion lies in the fact that our portal experience displays the limit based on Kibibyte = 1024 and not Kilobtes = 1000.

So essential the limit is 64k on documentation but that is 64* 1024 = 65,536. Though this is an upper limit, we do not encourage customers to stress test this as
1. Latency with creating private endpoints is greatl

[2021-03-11 23:53] TravisCragg-MSFT commented on #71973
@MichaelCade Thanks for the update!
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-11 23:53] #71973 closed

[2021-03-12 00:00] TravisCragg-MSFT commented on #71688
@wilbug1git1 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-12 00:00] #71688 closed

[2021-03-12 00:03] tfitzmac commented on #68335
@ivapplyr - thanks for this information. Do you know if the limit is applied per region or per subscription?

[2021-03-12 00:03] TravisCragg-MSFT commented on #72039
@jonwbstr Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-12 00:25] ivapplyr commented on #68335
@tfitzmac  per subscription

[2021-03-12 00:32] hs79hs opened #72056 "Does conversation transcription support python?"
Does conversation transcription support python? Or if python speech sdk includes conversation transcription feature? Because here I only see javascript and C# examples. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1d88ac1-d269-5f91-fb1f-8901589c6b02
* Version Independent ID: 3fa3ffe6-277a-547a-a434-7002c056b

[2021-03-12 00:39] BharathNimmala-MSFT commented on #72027
Thanks a lot @tfitzmac for helping on the thread.

@nigeldao007 Thank you for reaching out with your query. Please review the information shared by @tfitzmac and let us know if you have any further queries.

Please note that [this ](https://github.com/MicrosoftDocs/azure-docs/issues) channel (the Azure Docs repository) is only for driving improvements related to the Azure documentation. At this po

[2021-03-12 00:39] #72027 closed

[2021-03-12 00:51] BharathNimmala-MSFT commented on #72053
@RonnieQuan Thank you for reaching out with your query, we will review and get back to you at the earliest.

[2021-03-12 00:53] BharathNimmala-MSFT commented on #72055
@gpetersOB Thank you for reaching out with your query, our team will review and get back to you at the earliest.

[2021-03-12 00:53] SaurabhSharma-MSFT commented on #71880
@ss4aman I am checking internally with the products team and get back to you on this.

[2021-03-12 00:54] RyanHill-MSFT commented on #72019
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-12 00:58] BharathNimmala-MSFT commented on #72021
Thanks a lot @tfitzmac for helping on the thread.

@HoCGeek  Thank you for reaching out with your query. Please review the information shared by @tfitzmac and let us know if you have any further queries.

Please note that [this ](https://github.com/MicrosoftDocs/azure-docs/issues) channel (the Azure Docs repository) is only for driving improvements related to the Azure documentation. At this point

[2021-03-12 00:58] #72021 closed

[2021-03-12 01:08] SaiKishor-MSFT commented on #72049
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-12 01:08] BharathNimmala-MSFT commented on #71950
@bertrandpons I have reached out to our internal team to get clarity on this, will keep you posted as I hear more.

[2021-03-12 01:08] SaiKishor-MSFT commented on #72045
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-12 01:09] claenjoy commented on #54740
would be nice to implement something like https://feedback.azure.com/forums/255259-azure-pack/suggestions/42896898-delete-automatically-the-role-assignment-when-get

[2021-03-12 01:11] SaiKishor-MSFT commented on #71667
@donghui-wu777 Thank you for pointing this. We have updated the document. Thank you!

[2021-03-12 01:11] #71667 closed

[2021-03-12 01:18] SaiKishor-MSFT commented on #72045
Yes. Private endpoints can connect to Private Link services or to an Azure PaaS across Azure Active Directory tenants. Private endpoints that connect across tenants require a manual request approval. Please let me know if you have any further questions. Thank you!

[2021-03-12 01:20] donghui-wu777 commented on #71667
Thanks a lot! @SaiKishor-MSFT

[2021-03-12 01:51] mbendana opened #72059 "Steps are wrong: They don't explain assignment but rather creation of custom role"
The steps shown [here](https://docs.microsoft.com/en-us/azure/active-directory/roles/custom-enterprise-apps#assign-the-custom-role) don't explain the steps on how to assign a custom role using PowerShell but actually repeat the previous steps on how to create a custom role.

Steps similar to [this other page](https://docs.microsoft.com/en-us/azure/active-directory/roles/custom-assign-powershell#cr

[2021-03-12 02:02] asergaz commented on #68148
@Kimel03 are you using latest version 2.0.0 ? I have checked the links and they are reachable: https://raw.githubusercontent.com/VSChina/azureiotdevkit_tools/master/package_azureboard_index.json

[2021-03-12 02:34] rbrayb opened #72060 "Issue with "Disable strong password" if username is used"
As per the article, this works for an email address but not for a username.

[code]

The username equivalent is:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a2f1cda-e84e-1204-4f9e-6a061280e577
* Version Independent ID: bd341ac4-db08-0f55-bfa2-cb820fc37b5d
* Content: [Configure password complexity requiremen

[2021-03-12 02:35] rbrayb commented on #72060
Using this sample:

https://github.com/azure-ad-b2c/samples/tree/master/policies/username-signup-or-signin

[2021-03-12 02:59] RMKoRn commented on #72051
Neither is the phone number that was listed for a call or text to receive a code I forgot to include that I'm sorry thank you for your time sincerely Raymond Martinez
________________________________
From: James Tran-MSFT ***@***.***>
Sent: Thursday, March 11, 2021 5:00 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: RMKoRn ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs

[2021-03-12 03:28] BharathNimmala-MSFT commented on #72044
@SS-atwork Thank you for reaching out to us, our team will review the query and get back to you at the earliest.

[2021-03-12 03:32] AnuragSharma-MSFT commented on #71769
@MartinJohns Thanks for replying back and you are right in mentioning that these statuses are not shown every time we upgrade the version. I am assigning this to the content author to update the document as appropriate.

[2021-03-12 03:33] AnuragSharma-MSFT commented on #71882
@daemel Awaiting your response on this.

[2021-03-12 04:08] BhargaviAnnadevara-MSFT commented on #72011
@annarailton Thanks for the question. We're investigating this and will get back to you shortly.

[2021-03-12 04:10] BhargaviAnnadevara-MSFT commented on #72009
@Klaas- Thanks for the question. We're investigating this and will get back to you shortly.

[2021-03-12 04:12] HarshitaSingh-MSFT commented on #72054
Hello @jonwbstr , thanks for the question! We are taking a look into this and will get back to you soon.

[2021-03-12 04:13] HarshitaSingh-MSFT commented on #72018
Hello @skydoctor , thanks for the question! We are taking a look into this and will get back to you soon.

[2021-03-12 04:15] BhargaviAnnadevara-MSFT commented on #72029
@scockeri Thank you for the question. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-03-12 04:17] BhargaviAnnadevara-MSFT commented on #72056
@hs79hs Thank you for the question. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-03-12 04:20] jinchad opened #72061 "Unspecified Conda Dependencies"
Hello,

I have been following the tutorial on how to retrain models in Azure Machine Learning. Here is the link to the tutorial: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-retrain-designer

I was able to complete all the steps but when I resubmitted my pipeline for another run to retrain the model, it gave me an error which states that my conda dependencies were not specified.

[2021-03-12 04:22] daemel commented on #71882
@AnuragSharma-MSFT, that is correct. the Admin consent for API permissions is missing.

[2021-03-12 04:23] jaehyunshinML opened #72063 "Bitbucket option is not showing ..."
Hi

I am trying to connect BitBuket to my Azure function.

But there is only a GitHub option in my Deployment Center which is different from the captured image

https://docs.microsoft.com/en-us/azure/azure-functions/functions-continuous-deployment?toc=/azure/azure-functions/durable/toc.json#credentials

May you know why this is happening? and would be great to update the document to cover this.
--

[2021-03-12 04:28] hs79hs commented on #72056
@BhargaviAnnadevara-MSFT  Oh, sorry, forgot to provide that, it's
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-use-conversation-transcription

[2021-03-12 04:32] billspat opened #72064 "option '--enabled-protocols SMB' on this page no longer supported?"
This page includes CLI examples that have the option "--enabled-protocols SMB"  but when running these examples, the cli throws an error, and in fact that option is no longer shown on the cli documentation ( https://docs.microsoft.com/en-us/cli/azure/storage/share?view=azure-cli-latest#az_storage_share_create ) or on  https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-create-file-

[2021-03-12 04:33] sunilprabha opened #72065 "My company blocked legacy protocols smtp as per this article , i am confused now how to send secured OEM messages via Graph API."
[Enter feedback here]
I could no to find any code snippets to use Graph API and send encrypted emails . I was earlier using smtp.office and based on this article they are considered legacy and conditional acess policy are blocking emails.
https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/block-legacy-authentication
So how can get OME and RM protections to emails via Graph

[2021-03-12 04:46] BharathNimmala-MSFT commented on #71608
@vlccnt My sincere apologies for the delay in getting back to this thread.

If you have enabled a lock type either delete/read-only on a resource with in a resource group and trying to delete a resource group which doesn't have locks set , it would not allow to delete the resource group until you clear the locks. Quickly tested on one of the resource groups and it shows below error message as we t

[2021-03-12 04:46] #71608 closed

[2021-03-12 05:07] RohitMungi-MSFT commented on #72025
@crisansou I have referenced the data drift preview page for this issue so the right team could pitch in. From the preview feature documentation though this might not be available for automl using the studio.

[2021-03-12 05:28] vijaynarayan commented on #36723
@MGoedtel I guess I am not the intended Vijay. please check alias again.

[2021-03-12 05:38] lfittl-msft commented on #68450
This has been fixed - thanks for the report!

[2021-03-12 05:39] SwathiDhanwada-MSFT commented on #71730
@MS-jgol Can you please look into this?

[2021-03-12 05:40] #68450 closed

[2021-03-12 05:42] AnuragSharma-MSFT commented on #71882
@daemel Thanks for replying back and confirming it. I was trying to access the FHIR server with Admin Consent Required as 'No' and was still able to access to. Could you please let me know if I need to try for any other user instead of admin to observe the issue?

![image](https://user-images.githubusercontent.com/66360845/110897595-be049f00-8323-11eb-95ac-4d31c8cb6a42.png)

[2021-03-12 06:02] AjayKumar-MSFT commented on #72047
@tielushko, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-03-12 06:13] swinarko commented on #71999
The SAS URI for our public preview blob container is still valid, see step 1.b in https://docs.microsoft.com/azure/data-factory/how-to-configure-azure-ssis-ir-custom-setup#standard-custom-setup-samples.

You need to ensure that the SAS URI for your custom setup blob container doesn't expire and the custom setup resources are always available during the whole lifecycle of your Azure-SSIS IR, from c

[2021-03-12 06:13] #71999 closed

[2021-03-12 06:38] sachinpanwar opened #72066 "Max records size has been increased to 30k"
I think we need to update this document for max records returned limit.
The new limit is 30k

![image](https://user-images.githubusercontent.com/11601385/110901339-34a49b00-832a-11eb-9697-b170d8fec293.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ca0191e-5d1b-44a1-afb3-71463164b53e
* Version Independent ID: 5395

[2021-03-12 06:46] kostrse opened #72067 "Import container image from a local file"
What about importing container image from a local .tar file to Azure Container Registry without Docker?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a9eeb5e-cbe9-8343-3db0-13fb148ebb1a
* Version Independent ID: 684bb876-38ee-4ad6-2653-40ee84383cd5
* Content: [Import container images - Azure Container Registry](https

[2021-03-12 06:52] R0st0s opened #72068 "Broken link"
[Enter feedback here]

The link in the important notification at the top is broken
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbadca96-7341-36d0-8a38-1c6a5c96b22d
* Version Independent ID: 2fad91dc-25f8-0c7a-c21d-93986ec51145
* Content: [Azure Front Door](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-o

[2021-03-12 07:02] JayaChatterjee-MSFT commented on #71751
@RonnieQuan Yes, it will break the code with " Wait-Debugger" in azure. However, We are closing this issue as this is not related to documentation enhancement. If you have any related question please post that in Microsoft QnA forum.

[2021-03-12 07:02] #71751 closed

[2021-03-12 07:17] ram-msft commented on #72061
@jinchad Thanks for the question. We are investigating the issue and will update you shortly.

[2021-03-12 07:29] SwathiDhanwada-MSFT commented on #72066
@sachinpanwar Thanks for your comment. We will review the issue and get back to you shortly.

[2021-03-12 07:39] dbona75 commented on #72043
Hello Marilee, thanks a lot. The concept is : I am not looking a way for admins to provision a security key but to use a security key. Fortunately, the document you attached described exactly my scenario and defining how to : "FIDO2 security key sign-in isn't working for my Domain Admin or other high privilege accounts. Why?" ... so it is possible ! I am going to test ! Thank you very much you hel

[2021-03-12 07:45] ram-msft commented on #71912
Thanks, @aahill Could you please comment on the Spanish (Mexico) | es-MX [language supported](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-language-support#languages-supported) prebuilt entities.

[2021-03-12 07:46] SwathiDhanwada-MSFT commented on #71670
@tj94 Hope you had chance to check previous comment. Kindly note this channel is mainly for Azure document changes. For technical questions, kindly post on [Microsoft Q & A Community Forum](https://docs.microsoft.com/en-us/answers/products/). Also, as we haven't heard back from you , we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-03-12 07:46] #71670 closed

[2021-03-12 08:00] chanduravuri12 opened #72069 "Workday password sync or set in Azure AD"
I have migrated workday users to Azure AD but using same workday user name and password We are not able to login to AD
and also we are not sure about the password
is it possible to sync WD password to Azure AD?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18eabd03-e535-e846-e4ad-c4394f581013
* Version Independent ID:

[2021-03-12 08:09] SamaraSoucy-MSFT commented on #72012
@piotrgwiazda

Can you please open a separate issue for the linked service doc?

I wasn't able to replicate your issue by installing the package. I have a few questions that may help track down what went wrong.

- Have you looked through the package troubleshooting guide here: https://docs.microsoft.com/en-us/azure/synapse-analytics/spark/apache-spark-troubleshoot-library-errors? In the monitor ta

[2021-03-12 08:23] scockeri commented on #72029
Here is the url of the document that I have been following

https://microsoft.github.io/azure-iot-developer-kit/docs/get-started/

[2021-03-12 08:26] gjongeneel opened #72070 "Missing feature"
Hi, at the 'Azure Defender ON' part of this page, it describes some of the major features of Azure Defender (ON). The feature 'Just-in-time VM access' seems to be missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8e2ed68-8901-d002-a00a-e1d702cc1638
* Version Independent ID: 32c32bf8-8492-e8c6-c05f-3b0845b06913
*

[2021-03-12 08:53] BhargaviAnnadevara-MSFT commented on #72041
@Rodrigo30Horas Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-03-12 08:55] BhargaviAnnadevara-MSFT commented on #72069
@chanduravuri12 Thank you for the question. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-03-12 09:00] chanduravuri12 commented on #72069
this is the URL which I followed  https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/workday-tutorial

[2021-03-12 09:03] vipulsparsh commented on #72059
@mbendana Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-03-12 09:05] vipulsparsh commented on #72060
@rbrayb Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-03-12 09:07] #72060 closed

[2021-03-12 09:07] vipulsparsh commented on #72070
@gjongeneel Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-03-12 09:07] vipulsparsh commented on #72065
@sunilprabha Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-03-12 09:36] flacidsnake opened #72072 "Customized invitation message"
Please provide the maximum number of characters allowed for the customized invitation message

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 704378b4-148f-49a9-3b18-fad694da0dc7
* Version Independent ID: db6f6680-22ef-fc80-4914-e72ff27820ad
* Content: [Tutorial for bulk inviting B2B collaboration users - Azure AD](http

[2021-03-12 09:43] lgayhardt commented on #48379
Hi @mslot thanks for your feedback. I will add an [internal work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1825689) to our backlog to make it easier for people to find the Azure Functions monitoring articles. I'll close out this issue for now but will @mention you when the update is complete.

#please-close

[2021-03-12 09:43] #48379 closed

[2021-03-12 09:50] marnheus opened #72073 "Update prerequisite section with correct az cli version"
Prerequisite section should be updated to mention az cli version 2.14.0 as it is stated in the next section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74d1720a-2f9e-8f7d-1a4c-db08252e4aac
* Version Independent ID: 3becacf7-661f-6c61-f466-5bfd48aa8706
* Content: [Use Azure CLI to set ACLs in Azure Data Lake Storage

[2021-03-12 09:51] lgayhardt commented on #53063
Hi @cijothomas I made an [internal work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1825691) for this and will update this issue when the work is complete.

Thanks
#please-close

[2021-03-12 09:51] #53063 closed

[2021-03-12 09:54] BhargaviAnnadevara-MSFT commented on #71870
@mekanne We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-03-12 09:54] #71870 closed

[2021-03-12 09:57] BhargaviAnnadevara-MSFT commented on #72056
@hs79hs Thank you for the response. I've routed this to the appropriate Team to investigate and update.

[2021-03-12 10:00] BhargaviAnnadevara-MSFT commented on #72069
@chanduravuri12 Thank you for the response. I've routed this to the appropriate Team to investigate and update.

[2021-03-12 10:10] RohitMungi-MSFT commented on #71834
@wukun2015 We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. All release notes of Speech services are documented [here](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/releasenotes) for reference.

[2021-03-12 10:10] #71834 closed

[2021-03-12 10:11] RohitMungi-MSFT commented on #71916
@dixhap We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-03-12 10:11] #71916 closed

[2021-03-12 10:16] flacidsnake opened #72075 "Generic authorization exception when creating a guest user in Azure Active Directory"
Impossible to create a guest user. Always get Generic authorization exception. Is there any issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 704378b4-148f-49a9-3b18-fad694da0dc7
* Version Independent ID: db6f6680-22ef-fc80-4914-e72ff27820ad
* Content: [Tutorial for bulk inviting B2B collaboration users - Azure AD]

[2021-03-12 10:23] AxelBehrens opened #72076 "Postman collection uses deprecated format"
Hi, it seems support for importing v1 collections was dropped in Postman v8, so you probably want to update the SCIM collection you host under https://aka.ms/ProvisioningPostman to v2.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b633a23e-8b4e-5f76-687b-d9c32ca482dc
* Version Independent ID: ed365cbe-971b-6010-21fe-e9

[2021-03-12 10:25] piotrgwiazda opened #72077 "Please provide instructions how to use TokenLibrary with Azure SQL Database"
Please provide some documentation for how to use an Azure SQL Database Linked Service (with Synapse Managed Instance) to connect from Spark pool with the use of TokenLibrary.

With this piece of code
[code]
I am getting a string that looks like Base64-encoded JWT token plus some additional unknown characters.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2021-03-12 10:25] dphugo commented on #72038
Hi @KranthiPakala-MSFT

The issue is still there.
I might not have clear on the exact location of the spelling mistake. Herewith a screenshot with the issue in the orange rectangle.

![image](https://user-images.githubusercontent.com/22542589/110926775-7b47c480-832d-11eb-818a-c807c5352d80.png)

The Property is missing and "i" and is currently spelled "addtionalHeaders", but it should be "additiona

[2021-03-12 10:40] jovanpop-msft commented on #70019
Thanks for the feedback. I have updated JSON_VALUE and OEPNJOSN sections. I will contact the owners of COVID data set because this impacts all samples (parquet, csv, and json)

[2021-03-12 10:43] piotrgwiazda commented on #72012
Hi.
Let me answer:

I don't have this additional job on the list. I just see my jobs with no logs attached.

Yes, from Maven. I've downloaded the single jar file. Maybe I need some dependencies? I've uploaded the jar as a Workspace Package and then linked it to the Spark pool with the "immediately apply" flag checked.

I've created a fresh Spark pool and went through the process again. I still can

[2021-03-12 10:52] #72072 closed

[2021-03-12 10:53] #72075 closed

[2021-03-12 10:58] andydkelly-ig commented on #67166
@odalet that's a great write up thanks. Just wondered how you got on or if you're still awaiting validation.

[2021-03-12 10:59] RohitMungi-MSFT commented on #72025
@crisansou To setup the metrics and alerts on your data through [studio](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-monitor-datasets?tabs=azure-studio) I think the tab next to python details how this can be achieved.

In the current context I think an alert setup for your drift can be used as a trigger to review your automl setup or trigger a pipeline to be re-run.

[2021-03-12 11:07] SubhashVasarapu-MSFT commented on #72068
@R0st0s, Thanks for reaching out. We will investigate and update this thread.

[2021-03-12 11:11] SubhashVasarapu-MSFT commented on #72068
@R0st0s, Appreciate your feedback. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-03-12 11:11] #72068 closed

[2021-03-12 11:12] SubhashVasarapu-MSFT commented on #71802
@RajaPrasadShaw, since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-03-12 11:12] #71802 closed

[2021-03-12 11:27] maweeras-msft opened #72079 "custom value for max number of devices"
The custom value for maximum number of devices should be less than 100. If an admin types a value larger than 100, no error is returned. But it silently reverts to using 100.

Therefore, I suggest updating the docs that advise the custom value to be any value below 100.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8

[2021-03-12 11:37] mslot opened #72080 "Object replication setup doesn't work from ARM"
I am seeing the same with this ARM (sorry for the naming):

[code]

As I read the documentation: https://docs.microsoft.com/en-us/azure/templates/microsoft.storage/storageaccounts/objectreplicationpolicies?tabs=json, the name should be **/default**, when the policy id isn't known.

I get the same error as above

When deploying from Visual Studio 2019, version 16.4.3.

I think this should be noted

[2021-03-12 11:38] bondib commented on #71748
Hi @psmanhas . Any update on this?

[2021-03-12 12:16] Klaas- opened #72081 "Query examples"
Hi,
I think you mean to use bin_at instead of bin with all the queries, otherwise you will only have averages for the last 15 minutes if the query is executed at precisely xx:15:00, xx:30:00, .....

Greetings
Klaas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c42bebc7-2fb6-4a92-0d50-9798c9119254
* Version Independent

[2021-03-12 12:23] autodomme commented on #59660
Does this mean it's been done?

[2021-03-12 12:26] RohitMungi-MSFT commented on #72056
@hs79hs The documentation in this case displays samples for C# and JS. The SDK for python though supports it and the methods are documented in the SDK.
[ConversationTranscriber](https://docs.microsoft.com/en-us/python/api/azure-cognitiveservices-speech/azure.cognitiveservices.speech.speech_py_impl.conversationtranscriber?view=azure-python)
[Conversation Class](https://docs.microsoft.com/en-us/pyth

[2021-03-12 12:32] jose-l-carvalho opened #72082 "VM Size Standard_E64ds_v4 cached MBPS doubt"
[Enter feedback here]

Hi.
looking at the below chart, E64s_v4 has 615000 IOPS/3872 MBps limit and 1600 MB temp drive cache, but since I found different info on ASC: VM Limit - Max Cached  MBps | 1024
I would like to know which of the 2 values is accurate

thanks!

Size | vCPU | Memory: GiB | Temp storage (SSD) GiB | Max data disks | ** Max cached and temp storage throughput: IOPS/MBps (cache size

[2021-03-12 12:32] sherland opened #72083 "Outdated information about JIT Access not supported when using Azure Firewall Manager"
The page specifically states that
`JIT does not support VMs protected by Azure Firewalls controlled by Azure Firewall Manager.`
This appears to be outdated?
As seen on this post from 2019:

and:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e7f551c-e02a-1a23-6d40-5b0b838f8929
* Version Independent ID: 084e658e-1d11-d

[2021-03-12 12:36] ertork commented on #71146
@jitendraRai Ok, so trying to refrase my question, is there a possibility that the lastSignInDateTime for an Azure Guest User might not give a correct answer for when he/she has signed in, because the Azure Guest User only has non-interactive sign-ins?
Or, is a non-interactive sign-in so closely coupled with an interactive sign-in, that the difference in date is negligible?

[2021-03-12 12:36] TORIFUKUKaiou opened #72084 "Is User-Agent required?"
[Enter feedback here]

Sorry, I am not good at English.

https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-text-to-speech#sample-request-1
It requires "User-Agent".

I use the endpoint of https://japaneast.tts.speech.microsoft.com/cognitiveservices/v1.
It does not require "User-Agent".
API request without "User-Agent" header successes.
I find strange.
If this is right,

[2021-03-12 12:37] petrybr opened #72085 "MFA with NPS extension"
Hello,

for using "Integrate VPN infrastructure with Azure AD MFA using the Network Policy Server extension for Azure" feature, an MFA license is a prerequisite

Could you update this doc to add this information?

It's important to have listed all features that needs license to avoid problems.

Reference:  https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-nps-extensi

[2021-03-12 12:52] AjayKumar-MSFT commented on #72064
@billspat, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-03-12 12:53] ssivas commented on #72076
@AxelBehrens , Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-03-12 12:54] odalet commented on #67166
@andydkelly-ig I'm not even yet waiting for validation: ordering the certificate is stuck on my company side in some administrative process I don't want to know about :). Though, as soon as things move a bit, I'll update here. By the way, there is an interesting discussion [here](https://github.com/vcsjones/AzureSignTool/issues/112) concerning what to expect in terms of validation and audit (by Di

[2021-03-12 12:56] AjayKumar-MSFT commented on #72080
@mslot, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-03-12 12:56] ssivas commented on #72079
@maweeras-msft , Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-03-12 13:00] crisansou commented on #72025
Hi @RohitMungi-MSFT,

Okay, understand. For now it is only available in Python. Thanks!

Best regards,
Cristina

[2021-03-12 13:15] MGoedtel commented on #41876
@ianalderman - My apologies nobody has responded in a timely manner to address your question.

Per the product group:

* We will be plan to support DSC and Azure monitoring side by side soon officially . They will discuss with their PM team and provided the ETA on this.

* As of now few customer are using DSC and Azure monitoring side by side internally . Current Linux DSC extension is using DSC E

[2021-03-12 13:15] #41876 closed

[2021-03-12 13:18] alex-goncharov commented on #60995
From the looks of it - it is impossible to  use SPN as the AD-Admin; at least now. My guess the logic that does the authentication simply does not check that the user can be an application/spn (judging by UI behaviour).

Apparently API accepts any id and does no check it. But during authorization step it is pretty much `if not user, then check groups`.

Hard to say without looking at the code, but

[2021-03-12 13:33] jsquire opened #72086 "[Issue Transfer] Managing Digital Twins: Ending Dot on URL"
This issue has been transferred from the Azure SDK for .NET repository.   ([#19479](https://github.com/Azure/azure-sdk-for-net/issues/19479))

---
# Please be aware that @TheTilodon is the author of the original issue and should be mentioned in responses or inquiries.
---
![image](https://user-images.githubusercontent.com/5927783/110927983-a2e75e80-8326-11eb-957b-267c01f1a335.png)

In the URL http

[2021-03-12 13:43] RonnieQuan commented on #72045
@SaiKishor-MSFT  That's a great information. I'm very excited!
So in tenant A, I create a private endpoint for storage account type of resource.
and I want to point to a storage account account resource in tenant B
what I should input in the "resource id or alias" field?
does it accept resource id from tenant B?

Thank you so much!

[2021-03-12 13:44] MGoedtel commented on #42108
@smerkx - My apologies your feedback has not been properly responded to.  I've reviewed your suggestion and I'll confirm with engineering that this is expected behavior before updating the article. I've created a work item and we will update the article shortly after confirming.  Thanks for bringing this to our attention.  #please-close.

[2021-03-12 13:44] #42108 closed

[2021-03-12 13:52] HugoPAIN opened #72087 "what does this means : No licenses are required for guests who can request access packages, but do not request an access package."
[Enter feedback here]
what does this means  in this page I don't understand the meaning of this sentence

"No licenses are required for guests who can request access packages, but do not request an access package."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06201faf-0037-3647-4e91-bb0af80d4812
* Version Independent

[2021-03-12 13:55] MGoedtel commented on #42420
@DanteNahuel - My apologies for the delayed response to your feedback. The article was updated last year in support of the migration of the Automation service to standardize on Az modules and deprecation of Azure RM.  Due to inactivity and the original reason you raised the issue was addressed (indirectly) I'm going to close this issue.  Thank you.  #please-close

[2021-03-12 13:55] #42420 closed

[2021-03-12 13:57] elafnit commented on #67166
I would prefer moving this discussion to a "Discussion". Is there a feature to actually move the above into that space?

[2021-03-12 14:02] memildin commented on #71895
Hi @GauravES, thanks for the feedback.

Currently, Azure Arc is installed automatically on all **supported** EC2s under the account that is connected. For supported machines, consult the Azure Arc documentation and [their list of supported OSs](https://docs.microsoft.com/azure/azure-arc/servers/agent-overview#supported-operating-systems).

I'm going to close this issue, but feel free to comment ag

[2021-03-12 14:02] #71895 closed

[2021-03-12 14:04] MGoedtel commented on #42860
@geekbrownbear - My apologies for the lack of timely response to your feedback.  You're correct the experience has changed in the portal and the article needs to be updated to align with the behavior of managing Action Groups in Azure.  I'm going to create a work item for this article and will update it this sprint or next month's sprint the latest.  Thank you for your patience.  #please-close.

[2021-03-12 14:04] #42860 closed

[2021-03-12 14:05] KranthiPakala-MSFT commented on #72077
@piotrgwiazda
Thanks for the feedback! We have assigned the issue to the content author to further review this feedback and provide an update as appropriate.

[2021-03-12 14:20] kmnalluri commented on #51708
Does restarting the function app pick up the latest value? It didn't seem to work for me. What I had to do is to make a minor update to the url. Actually removed the "/" at the end and saved it. Then it picked up the latest.

[2021-03-12 14:23] NastasiaSaby opened #72089 "Misunderstanding in VACUUM operations on Delta table"
I think there's something bizarre that can lead to a confusion.

First, it's written: "Azure Databricks does not automatically trigger VACUUM operations on Delta tables. "

Then on the same page, it's written: "Azure Databricks automatically triggers VACUUM operations as data is written."

Then, I think it's difficult to understand what Azure Databricks is really doing and how to override this set

[2021-03-12 14:41] tsrob50 opened #72090 "Session Host Operator or Session Host Contributor"
The first line under the Session Host Operator section references Session Host Contributor.  I think it should specify Session Host Operator.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4dfda11-b9d8-d493-ffe0-5e1d8859e7b9
* Version Independent ID: d468d73d-d708-0e4d-4f4e-e776abb0e321
* Content: [Built-in ro

[2021-03-12 14:58] KranthiPakala-MSFT commented on #72089
@NastasiaSaby
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-03-12 15:02] odalet commented on #67166
@elafnit: I didn't make myself clear: my 'discussion' link is indeed an issue (just linked it because of its interesting content), and yes I agree, all we are saying here should go to these new GitHub "Discussions". However, I suppose that to do so, some owner of the repository has to activate it and copy/paste (or ask us to) relevant content over there, although even in a Discussion tab, is this

[2021-03-12 15:10] BhargaviAnnadevara-MSFT commented on #72086
@jsquire Thank you for the question. In order to best address your question, could you provide us with the URL of the MS Doc that you found this in?

[2021-03-12 15:10] colindomoney opened #72091 "Full specification for all ASC alerts is missing"
Hi

I am implementing a solution requiring details for many of the alerts generated by Security Centre defined here:
https://docs.microsoft.com/en-us/azure/security-center/alerts-reference

I only find one example schema in JSON format on this page - where can I find the specification for the other alerts please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2021-03-12 15:18] chanduravuri12 opened #72092 "Email and Mobile is not syncing from workday to AD"
I have applied Email and Mobile number mapping but still mobile or EMail id is not updating from WD to AD
![image](https://user-images.githubusercontent.com/51822036/110959923-34c98880-8374-11eb-813d-25719d3b4eea.png)
Reference Article https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/workday-inbound-cloud-only-tutorial

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-03-12 15:24] baanders commented on #72035
I'm going to proceed with merging this fix PR to live today, which will automatically close the issue.

If there's more information to discuss, feel free to comment back with additional comments or questions to continue the conversation even after it's closed, and we can reopen if needed. Thanks!

[2021-03-12 15:24] HarshitaSingh-MSFT commented on #72090
Hello @tsrob50 , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-03-12 15:26] HarshitaSingh-MSFT commented on #72082
Hello @jose-l-carvalho , thanks for the question! We are taking a look into this and will get back to you soon.

[2021-03-12 15:28] HarshitaSingh-MSFT commented on #72067
Hello @kostrse , thanks for the question! We are taking a look into this and will get back to you soon.

[2021-03-12 15:34] scott1138 commented on #65113
@Justinha Well, that was months ago.  The link to the page is the content source in the original report.  I looked back at the commit history and that table was removed some time ago.

For grins you can see it in this commit if you use the rich diff button on the table
https://github.com/MicrosoftDocs/azure-docs/commit/f4e45f8fdb5babdc6b51b53dce2b21bc2aebf677?short_path=feec3fb#diff-feec3fb93df17c

[2021-03-12 15:34] #65113 closed

[2021-03-12 15:42] BhargaviAnnadevara-MSFT commented on #72086
@TheTilodon It looks like this is the document you're referring to: [DigitalTwinClient Class](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.devices.digitaltwinclient?view=azure-dotnet#methods).

The original source for this content seems to be the [Azure/azure-docs-sdk-dotnet](https://github.com/Azure/azure-docs-sdk-dotnet) repository. So, I've created a new issue here: [#1919](https

[2021-03-12 15:42] #72086 closed

[2021-03-12 16:16] PramodValavala-MSFT commented on #72063
@jaehyunshinML I can confirm that BitBucket is an option that I can see as below

- Deployment Center
![image](https://user-images.githubusercontent.com/43602528/110967267-339c5980-837c-11eb-90f6-8de2c5c4520d.png)

- Deployment Center (Classic)
![image](https://user-images.githubusercontent.com/43602528/110967429-5dee1700-837c-11eb-97aa-dffab9d1e8ea.png)

[2021-03-12 16:31] JSeb225 commented on #70626
Sorry previous PR was not merged, just asking this now, we should see the update soon. #please-close

[2021-03-12 16:31] #70626 closed

[2021-03-12 16:47] cmmdesai commented on #72092
@chanduravuri12 - Thank you for reaching out. There could be different reasons due to which update is not working. I recommend creating a support ticket through Azure Portal so that our support team can look into this and assist you.

[2021-03-12 16:59] DerekHerman-MSFT commented on #72073
@marnheus Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-12 17:05] MonikaReddy-MSFT commented on #72004
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-12 17:05] #72004 closed

[2021-03-12 17:06] MarileeTurscak-MSFT commented on #72083
@sherland
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-12 17:06] anzaman commented on #71885
Enterprise CA gives better manageability and deployment. For example, the CA can revoke individual client certificates and in many cases where an organization has an Enterprise CA deployed, certificates are deployed  automatically through AD/GP - this is not the case with self-signed certificates.

[2021-03-12 17:21] MarileeTurscak-MSFT commented on #72087
@HugoPAIN
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-12 17:47] ricktam1469 commented on #72035
Hi Thanks for the reply and sorry for the delayed reply.

As per the document provided "https://docs.microsoft.com/en-us/azure/digital-twins/how-to-integrate-logic-apps", they are calling it as "Resource URL".
How to find the Resource URL/Resource Id from Azure portal? As this Id is static Id, how it could be particular for one Resource?
Thanks in advance.

Regards
Ricktam

[2021-03-12 17:53] #71569 closed

[2021-03-12 17:56] gxtaillon opened #72093 "AADSTS900971 is not documented"
Hi,

I'm getting `AADSTS900971: No reply address provided.` but it not in the list.

![image](https://user-images.githubusercontent.com/567119/110979108-307c7b80-8332-11eb-9efd-e29911364e23.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a826ee6f-f457-7109-9f77-67c57977d4e7
* Version Independent ID: 11766f27-492e-a

[2021-03-12 18:08] barclayn commented on #68605
Hi @inseu I looked into it and here is what I got " We recently introduced new APIs in beta (Azure AD access reviews - group memberships - Microsoft Graph beta | Microsoft Docs) Here is the create you are looking for (Create accessReviewScheduleDefinition - Microsoft Graph beta | Microsoft Docs) and the property is descriptionForReviewers" https://docs.microsoft.com/en-us/graph/api/resources/acces

[2021-03-12 18:08] barclayn commented on #68605
#please-close

[2021-03-12 18:08] #68605 closed

[2021-03-12 18:11] KranthiPakala-MSFT commented on #72089
@NastasiaSaby To be clear, those statements are w.r.t Delta tables and Apache spark tables

**For Delta tables**: Azure Databricks does not automatically trigger VACUUM operations on `Delta tables`.
**For Spark Tables**: Azure Databricks automatically triggers VACUUM operations as data is written on Spark tables

Hope this clarifies.

[2021-03-12 18:15] WilliamDAssafMSFT commented on #71889
#reassign:WilliamDAssafMSFT

[2021-03-12 18:38] SaiKishor-MSFT commented on #72045
@RonnieQuan Yes you should input the resource ID of the storage account and use Manual request. Then approved by the Storage owner using Private Link Center or Storage resource manage on Private Endpoint Connections section. Find more details here in [document](https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-overview#access-to-a-private-link-resource-using-approval-workflow).

[2021-03-12 18:40] maweeras-msft commented on #72079
You wont see it reflected in the portal. Ping me offline to discuss the specifics.

[2021-03-12 18:41] TravisCragg-MSFT commented on #72075
@flacidsnake I see you have closed this issue, please let me know if you need any further assistance.

[2021-03-12 18:49] ggailey777 commented on #59880
Hey @ConnorMcMahon I think that @cachai2's revision to the [VNet tutorial](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-vnet) covers this. This PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/149784 adds links from the networking article to this updated tutorial. If you disagree and think we need more in this article, please contact Cary or Glenn directly. #please

[2021-03-12 18:51] #59880 closed

[2021-03-12 18:54] GiftA-MSFT commented on #72084
@TORIFUKUKaiou we'll review your feedback and get back to you shortly. Thanks.

[2021-03-12 18:55] ggailey777 commented on #57060
@pnarsi sorry for the delay on this. It's a good question. I'm going to assign this to @cachai2 to see if he can track this down. #reassign:cachai2

[2021-03-12 19:08] ggailey777 commented on #64655
Thanks @algattik for letting us know. I should be fixing in this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/149784 Sorry it took so long to get to it.

[2021-03-12 19:11] mksuni commented on #63318
@NavtejSaini-MSFT  Can we close this please.

[2021-03-12 19:11] ggailey777 commented on #65357
@oising I agree that our language here is confusing. I'm checking into whether this is supported only for Functions Premium plans (EPx) or also Dedicated (App Service) plans, which would include a premium SKU. I suspect it's just Premium plan since I've not seen any Functions behaviors that are specific to a SKU, but I'll find out for sure.

[2021-03-12 19:13] ggailey777 commented on #71271
Let's go ahead and close this issue as fixed. We can reopen if there are still issues. #please-close

[2021-03-12 19:13] #71271 closed

[2021-03-12 19:18] ggailey777 commented on #71368
@cachai2 do you know if we have any ARM templates for the fully-isolated VPN scenario? If not, maybe we should have one in [Quickstart templates](https://azure.microsoft.com/en-us/resources/templates/?term=function). #reassign:cachai2

[2021-03-12 19:22] V4A001 commented on #70547
I still have this issue. It even happens with 1 pod during startup. I cannot go live as this is too risky.

`            // Get the result back as a DatabaseAccountListKeysResult.
            DatabaseAccountListKeysResult keys = await result.Content.ReadAsAsync<DatabaseAccountListKeysResult>();

            if (keys == null || keys.PrimaryMasterKey == null)
                throw new Exception("Fai

[2021-03-12 19:38] jffaust commented on #58679
@SwathiDhanwada-MSFT Can we have a follow up on this? I would also like to know how to achieve this kind of composite icons visualization.

[2021-03-12 19:40] ChaitanyaNaykodi-MSFT commented on #71271
Thank you @cachai2 & @ggailey777.

[2021-03-12 19:41] azav opened #72095 "In Connect your app to the notification hub, Step 4. Entitlements file is empty."
4. From the Solution view, double-click the Entitlements.plist and ensure that Enable Push Notifications is checked.

It's impossible to select Push Notifications because because the Entitlements.plist file is empty.

Using Visual Studio for Mac, 8.9.1 (build 34).

Expected to see the image below.
![](https://docs.microsoft.com/en-us/azure/notification-hubs/media/partner-xamarin-notification-hubs-

[2021-03-12 19:46] azav opened #72096 "Connect your app to the notification hub, Step 5."
"Add the Azure Messaging package. In the Solution view, right-click the project and select Add > Add NuGet Packages. Search for Xamarin.Azure.NotificationHubs.iOS and add the package to your project."

Detail: this must only be added to the iOS project or otherwise, an error message of "Invalid package" will appear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2021-03-12 19:52] azav opened #72097 "Connect your app to the notification hub, Step 3"
"From the Solution view, double-click Info.plist and under Identity make sure your Bundle Identifier matches the one used when creating your provisioning profile.
[Enter feedback here]"

Using Xcode 12.4, VIsual Studio 8.9.1 (Build 34)

The info.plist does not show the information indicated below, nor is that information below standard for an iOS application within an info.plist.  screenshot encl.

[2021-03-12 19:53] ihaveajob commented on #36402
We wrote a dedicated article on how to solve the [need admin approval](https://appfluence.com/help/article/microsoft-teams-need-admin-approval/) issue from the point of view of the user and IT admin. Perhaps you can use that.

[2021-03-12 19:59] NavtejSaini-MSFT commented on #63318
Thank @mksuni for fixing this,
@shizn We will go ahead and close this thread for now.

[2021-03-12 19:59] #63318 closed

[2021-03-12 20:01] yossi-y commented on #72053
Log Analytics is a multi tenancy system where data of multiple workspaces can can share storage with other workspaces and hence use the same MMK.

For customers that want to use their own key in their key vault, we offer the [customer-managed key](https://docs.microsoft.com/azure/azure-monitor/logs/customer-managed-keys?tabs=portal) solution in which a dedicated cluster is allocated for all linked

[2021-03-12 20:07] NavtejSaini-MSFT commented on #71889
@WilliamDAssafMSFT Do we have to assign this issue to you?

[2021-03-12 20:18] oscarmorasu opened #72098 "Provide query text, not picture, no information on where to get the Tenant URL"
Two things:

1- Step 2.1 has a picture of the query you have to run in Snowflake to setup the SCIM integration
It would be a lot more helpful to provide the text, same as Snowflake does in [their documentation](https://docs.snowflake.com/en/user-guide/scim-azure.html#configuration)

2- Step 5.5 reads:

There's no information in this page about the Tenant URL. I found my answer [here](https://docs.

[2021-03-12 20:20] ssivas commented on #71933
@ksgopal4 , I have tried creating ASP.NET MVC project with my B2C tenant but I could only see just single *app registration entry* as shown below and I was unable to replicate above issue.

VS 2019 community 16.0.31105.61

MVC App creation:
![image](https://user-images.githubusercontent.com/57458999/110994068-3c058c00-839e-11eb-91c6-16ee4092593d.png)

Azure AD App Registration:
![image](https://us

[2021-03-12 20:21] NastasiaSaby commented on #72089
I'm not sure to understand. What do you name a delta table? Is something created with spark.write.format("delta") a delta table?

[2021-03-12 20:34] viseshag commented on #71150
@chanuengg Any update here?

[2021-03-12 20:36] viseshag commented on #69874
@nayenama Can you please help drive this to close?

[2021-03-12 20:38] JasonWHowell commented on #72015
We'll need to update the docs. Here's the tile to click on:
![image](https://user-images.githubusercontent.com/5067358/110995795-c6fb6d80-832f-11eb-9305-b0f2d9bf5300.png)

[2021-03-12 20:43] lgayhardt commented on #44088
@morgangrobin sorry for the delay. I removed the inconsistent guidance and it should go live later today.

Thank you.
#please-close

[2021-03-12 20:43] #44088 closed

[2021-03-12 20:48] j-patrick commented on #70547
I apologize for not responding sooner.  An https call should just be an https call.

What is your url. I am not familiar with the scope var, it should be something like:
string endpoint = $"https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/listKeys?api-version=2019-12-12";

For DatabaseAccoun

[2021-03-12 21:24] RonnieQuan opened #72100 "Can You Please Elaborate Block All Access Through Public Endpoint?"
Hi I have question for block all access through public endpoint.
Document says:
"
You can also use the firewall to block all access through the public endpoint when using private endpoints.
"
So is below configuration the right setting to block all access through public endpoint?

![image](https://user-images.githubusercontent.com/25850020/111000028-4d737780-834f-11eb-83ac-d65b1373d351.png)

[Ente

[2021-03-12 21:28] Skylertodd opened #72101 "Outbound Link Header Rewrite Example would be nice in the documentation"
When trying to send back "Link" headers from an api behind Api Management it can be a bit tricky since the gateway url does not match the backend url.  I was thinking it would be nice to show an example of re-writing the outbound link header to reflect the gateways urls instead of the backend service url.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2021-03-12 21:28] V4A001 commented on #70547
the end point is same as yours. Otherwise it would not work occasionally. My code is:
`/// <summary>
        /// Creates a Cosmos DB database and a container with the specified partition key.
        /// https://docs.microsoft.com/en-us/azure/cosmos-db/managed-identity-based-authentication
        /// </summary>
        /// <returns></returns>
        private static async Task<CosmosDbService> Ini

[2021-03-12 21:34] RyanHill-MSFT commented on #53436
@alkwa-msft you can find the list of available configuration settings at https://github.com/projectkudu/kudu/wiki/Configurable-settings. As far as your concern, `WEBSITE_WEBDEPLOY_USE_SCM` runs the build script for application on the worker itself. I'll touch basis with @btardif to discuss how we can make these settings more visible in the docs and get further clarification about the product issue

[2021-03-12 21:34] BharathNimmala-MSFT commented on #72053
Thanks a lot @yossi-y for helping on the thread.

@RonnieQuan - Please review the information shared by @yossi-y and let us know if you have any further queries. Thank you

Hope the above information helps. Please note that [this ](https://github.com/MicrosoftDocs/azure-docs/issues) channel (the Azure Docs repository) is only for driving improvements related to the Azure documentation and at this

[2021-03-12 21:34] #72053 closed

[2021-03-12 21:45] SaiKishor-MSFT commented on #72049
@nellyontour Could you provide a snapshot of what you see and also please share the sku details and vpn type for the virtual network gateway that you setup in Australia Southeast? Thank you!

[2021-03-12 21:49] WilliamDAssafMSFT commented on #71889
This issue will be resolved in https://github.com/MicrosoftDocs/azure-docs/pull/71890
#please-close

[2021-03-12 21:49] #71889 closed

[2021-03-12 21:50] sreejabanerjee opened #72102 "If my Azure container is in Central US, then what Azure CDN POP locations cater to it?"
[Enter feedback here]

If my Azure container is in Central US and I have an Azure CDN endpoint to access it, then what Azure CDN POP locations cater to it? Will it be only North America locations?

I am asking because I want to figure out if someone is accessing my blob from Europe or Asia, is it better to have a separate container created for that location?

---
#### Document Details

⚠ *Do not e

[2021-03-12 21:52] HoCGeek commented on #72021
I’m sorry, but this answer is still unclear/ambiguous.  My question was whether or not a key vault CAN be referenced in an ARM template.  Was your answer meant to say that a key vault cannot be referenced in an ARM template and can only be referenced in a parameters file?  If that is what you were trying to say then that would answer my question, but it will still seem like a strange design choice

[2021-03-12 21:53] baanders commented on #72035
Seeking more detail from product team; I'll continue to follow up when I have more info!

[2021-03-12 22:01] julieMSFT commented on #71810
Hi @shakanand, Thank you for bringing this to our attention. You are correct about the storage costs. I have updated the document to read "The paused database incurs storage charges at the Azure Synapse storage rate." you will see the updates in the next day or so. Thank you for your contribution to Microsoft Docs. I will go ahead with closing this issue. The @notification mechanism continues to w

[2021-03-12 22:01] julieMSFT commented on #71810
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/150295

[2021-03-12 22:01] julieMSFT commented on #71810
#please-close

[2021-03-12 22:01] #71810 closed

[2021-03-12 22:06] RonnieQuan commented on #72045
Looks perfect, I have tested and put the test result in
https://cloudjourney.medium.com/azure-private-endpoint-across-aad-tenant-f5fa86abb948

[2021-03-12 22:13] v-jheichman opened #72103 "Lineage still exists for a deleted Data Factory"
[Enter feedback here]

I completely deleted a Data Factory, refreshed everything, re-scanned all the registered Data Sources and I still see a Deleted Factory, complete with all of its lineage shows up in assets.

Does a manual deletion in Purview need to take place if a Data Factory is deleted? Are there instructions to do this?
---
#### Document Details

⚠ *Do not edit this section. It is requir

[2021-03-12 22:16] SaiKishor-MSFT commented on #72030
@mailforyash Are you saying that without an explicit rule to allow traffic to 8.8.8.8 IP address, you were still able to resolve DNS? Or are you saying you were able to reach 8.8.8.8 IP address?
If you were able to resolve DNS, could you confirm the DNS server the VM is actually using by doing a NSLOOKUP and checking the server used? This is because when you change the DNS server, the VM requires

[2021-03-12 22:18] SaiKishor-MSFT commented on #72102
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-12 22:26] ecfan commented on #71507
#assign @ecfan

[2021-03-12 22:28] ecfan commented on #71507
Hi @DTronD,

Thanks for your feedback! An update will go live soon to address this request.

[2021-03-12 22:29] #71507 closed

[2021-03-12 22:43] lgayhardt commented on #72008
@sonic1981 Thanks for catching that. I made a PR to update the doc and it should go live later today.

Thanks again.
#please-close

[2021-03-12 22:43] #72008 closed

[2021-03-12 22:46] nellyontour commented on #72049
![Capture](https://user-images.githubusercontent.com/15208205/111006360-68d69500-83d8-11eb-9c2b-b1b378808a3f.JPG)

SKU is VPNGw1
VPN Type: Route-Based

Thanks

[2021-03-12 22:49] mumian commented on #72021
@HoCGeek - Have you explored the option of using Deployment script?  https://docs.microsoft.com/azure/azure-resource-manager/templates/deployment-script-template

[2021-03-12 22:49] julieMSFT commented on #69316
@RonyMSFT, any update on this?

[2021-03-12 23:06] #71959 closed

[2021-03-12 23:16] tfitzmac commented on #72021
@HoCGeek - sorry, I should have provided more info in my response. In the template, you can't reference a key vault from the parameter declaration. Instead, the reference happens in the parameter file.

However, another option is the one shown in the [Reference secrets with dynamic ID section](https://docs.microsoft.com/azure/azure-resource-manager/templates/key-vault-parameter?tabs=azure-cli#refe

[2021-03-12 23:17] julieMSFT commented on #70727
#reassign:gaursa

[2021-03-12 23:18] julieMSFT commented on #70727
@WilliamAntonRohm Please reassign this to gaursa. Thank you.

[2021-03-12 23:26] ecfan commented on #71801
Hi @rpalves,

Thanks for providing this feedback! We've created a doc work item on our backlog to address this work. We'll close this item for now, but report back when the doc is updated.

@ChaitanyaNaykodi-MSFT: #please-close

[2021-03-12 23:26] #71801 closed

[2021-03-12 23:54] MarileeTurscak-MSFT commented on #72085
@petrybr
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-12 23:55] MarileeTurscak-MSFT commented on #72091
@colindomoney
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-12 23:56] #72092 closed

[2021-03-13 00:23] hammady opened #72107 "Better way to set synchronous_commit to optimize restoration"
Instead of editing the dump file which is binary, so I'm not sure if it works, and insert lines to change the `synchronous_commit`, one could do the following:

[code]

This will set this option for the scope of the `pg_restore` session only which means it will not affect other sessions and will be forgotten after the command exits.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2021-03-13 00:31] #72056 closed

[2021-03-13 00:47] formalist opened #72108 "Can't find Application Insights Trends window in Visual Studio 2019 Enterprise (16.9.1)"
[Enter feedback here]

It says:

"To open the Application Insights Trends window:
    From the Application Insights toolbar button, choose Explore Telemetry Trends, or
    From the project context menu, choose Application Insights > Explore Telemetry Trends, or
    From the Visual Studio menu bar, choose View > Other Windows > Application Insights Trends."

but i can't find any of this in Visual S

[2021-03-13 00:58] MarileeTurscak-MSFT commented on #72093
@gxtaillon
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-13 00:59] MarileeTurscak-MSFT commented on #72098
@zchia
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-13 01:08] andrewatfornax opened #72109 "Deprecated Field Name in Documented Query"
In the query documented as "To get a list of nodes sending any data (and the amount of data sent by each) the follow query can be used:" the results come back with a computer name:

deprecated field: see http://aka

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fed35a55-0db9-4afa-9a80-fe9adac1e7d7
* Version Independent

[2021-03-13 01:14] dmorris6-hub opened #72110 "Cannot read property 'communicationUserId' of undefined"
I am trying to implement the chat along with the calling features in JavaScript using the tutorials. On the "Start a Chat Thread" section where 2 user ID's are required, I keep getting this error: "Unhandled Rejection (TypeError): Cannot read property 'communicationUserId' of undefined"
![Screen Shot 2021-03-12 at 8 10 06 PM](https://user-images.githubusercontent.com/74027372/111013832-fb424e80-83

[2021-03-13 03:19] lgayhardt commented on #43676
@lmolkova Thanks for calling this out. I will make an [ internal work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1825931) for this and sync with @TimothyMothra.

@please-close

[2021-03-13 03:19] #43676 closed

[2021-03-13 03:22] su-jie commented on #70259
#please-close

[2021-03-13 03:22] #70259 closed

[2021-03-13 03:22] BharathNimmala-MSFT commented on #72081
@Klaas- Thank you for sharing your feedback , we will review and get back to you at the earliest.

[2021-03-13 03:22] su-jie commented on #70640
#please-close

[2021-03-13 03:22] #70640 closed

[2021-03-13 03:28] BharathNimmala-MSFT commented on #72108
@formalist Thank you for reaching out to us with your query, I have assigned this issue to our document author to further evaluate the query and update accordingly.

[2021-03-13 03:56] lgayhardt commented on #45119
Hi @SychevIgor sorry for the delay. Since this is more of a product question can you please create an issue directly against the SDK: https://github.com/microsoft/ApplicationInsights-dotnet/issues/new?assignees=&labels=question&template=question.md

Once your question has been answered if you would like to see the answer covered in the docs please open a new issue and link to the thread of the ans

[2021-03-13 03:56] #45119 closed

[2021-03-13 03:57] allanlw opened #72111 "cognitive Services TTS API docs does not describe how to extract Word Boundary information from the response"
How does one extract the word boundary information from the API response? There are no examples or details provided.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e351e013-771a-bfdc-0f76-815316c7717d
* Version Independent ID: 8c3a1bbe-196a-13b8-f905-b8ea7bfd0e7a
* Content: [Text-to-speech API reference (REST) - Speech

[2021-03-13 04:27] JeffEmery commented on #48902
@TravisCragg-MSFT Can I get some help with the same issue?

[2021-03-13 04:38] BhargaviAnnadevara-MSFT commented on #72109
@andrewatfornax Thank you for the question. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-03-13 05:13] BhargaviAnnadevara-MSFT commented on #72029
@scockeri Thanks for the response. The original source for this content seems to be the [azure-iot-developer-kit](https://github.com/microsoft/azure-iot-developer-kit) repository. So, I've created a new issue here: [#524](https://github.com/microsoft/azure-iot-developer-kit/issues/524) to get this addressed. Please follow further updates to this issue on the referenced thread.

Also, on a side not

[2021-03-13 05:13] #72029 closed

[2021-03-13 05:13] JasonWHowell commented on #71085
#reassign:yicw16322

[2021-03-13 05:14] JasonWHowell commented on #71085
#reassign:@yicw16322

[2021-03-13 05:15] JasonWHowell commented on #70258
#reassign:yicw16322
#reassign:@yicw16322

[2021-03-13 05:15] JasonWHowell commented on #71085
#reassign:yicw16322

[2021-03-13 05:25] BhargaviAnnadevara-MSFT commented on #72095
@azav Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-03-13 05:29] BhargaviAnnadevara-MSFT commented on #72096
@azav Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-03-13 05:47] ecfan commented on #71603
Hi @scale-tone,

For now, please use `logicappspm@microsoft.com`. Thanks!

[2021-03-13 06:07] lgayhardt commented on #54278
@clarkezone Thanks for your feedback. I will make an [internal work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1825934) for this to add to our backlog.  I'll close out this issue for now but will @mention you when the update is complete.

#please-close

[2021-03-13 06:07] #54278 closed

[2021-03-13 06:13] lgayhardt commented on #67649
@cijothomas I'll make an [internal work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1825935) for this and sync with you about the updates on teams.

Thank you!
#please-close

[2021-03-13 06:13] #67649 closed

[2021-03-13 07:23] lgayhardt commented on #66928
@shabirjan Sorry for the delay. I'm going to close this issue for now, due to inactivity related to @MS-jgol question seeking additional information ( she is the PM for App Insights Java best suited to help you).  If you still have questions let us know and re-open the issue.

Thank you!

#please-close

[2021-03-13 07:23] #66928 closed

[2021-03-13 07:26] ggailey777 commented on #52396
@robcamer we've recently updated [this tutorial](https://docs.microsoft.com/azure/azure-functions/functions-create-vnet) to include the storage account in the VNet. Please let us know if you have other questions/requests. Thanks again for the feedback. #please-close

[2021-03-13 07:26] #52396 closed

[2021-03-13 07:31] lgayhardt commented on #64054
@jairbubbles  Sorry for the delay and thanks for the feedback. I will add an [internal work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1825935) to our backlog to update the docs to show what is needed to instrument .NET 5 desktop app. I'll close out this issue for now but will @mention you when the update is complete.

#please-close

[2021-03-13 07:31] #64054 closed

[2021-03-13 07:32] BhargaviAnnadevara-MSFT commented on #72097
Thanks for the question. We're investigating this and will get back to you shortly.

[2021-03-13 07:33] ggailey777 commented on #54863
@cachai2 can you take a look at this issue? #reassign:cachai2

[2021-03-13 07:41] ggailey777 commented on #42947
@cachai2 do you think we should clearly state at the top of this article that Consumption plan doesn't provide you fixed/predictable IP addresses? I'm already updating the dedicated IP address guidance to include the VNet NAT gateway solution, which still requires Premium plan (https://github.com/MicrosoftDocs/azure-docs-pr/pull/149784).

[2021-03-13 07:46] BhargaviAnnadevara-MSFT commented on #72100
@RonnieQuan Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-03-13 09:40] Bigbnz opened #72114 "In Microsoft Teams I disabled 2 devices yesterday thinking that if I need to I can enable them back again. But it doesn't let me and says only administrator can do it. That's really dumb feature I should say. Everybody can disable devices but to enable them again you should ask your national level administrators, because school administrator doesn't have rights to do it. School admins can only change passwords."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-03-13 10:19] bhicks329 opened #72116 "Will scenario one work without NAT on the NVA / Firewall?"
Reading through the examples on how to route to private endpoints through Azure firewall or a third party NVA, how does the service endpoint know to send the return traffic through the Azure Firewall or NVA in scenario one. Is this actually possible without some form or source NAT on the Azure FW or NVA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-03-13 10:59] BhargaviAnnadevara-MSFT commented on #72101
@Skylertodd Thanks for the question. We're investigating this and will get back to you shortly.

[2021-03-13 11:00] BhargaviAnnadevara-MSFT commented on #72114
@Bigbnz Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-03-13 11:02] BhargaviAnnadevara-MSFT commented on #72103
@v-jheichman Thanks for the question. We're investigating this and will get back to you shortly.

[2021-03-13 11:05] BhargaviAnnadevara-MSFT commented on #72107
@hammady Thanks for the question. We're investigating this and will get back to you shortly.

[2021-03-13 11:07] BhargaviAnnadevara-MSFT commented on #72110
@dmorris6-hub Thanks for the question. We're investigating this and will get back to you shortly.

[2021-03-13 11:08] BhargaviAnnadevara-MSFT commented on #72111
@allanlw Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-03-13 11:10] BhargaviAnnadevara-MSFT commented on #72116
@bhicks329 Thanks for the question. We're investigating this and will get back to you shortly.

[2021-03-13 14:54] arupnayak commented on #40249
Many thanks @JasSuri

[2021-03-13 15:03] CF8000 opened #72117 "DNS-verified domains in Azure AD seem to be weaker than email-verified or "viral" tenants ?"
This appears strange since I'd consider DNS-verified to be a stronger form of verification/trust than the email-verified / viral tenants (where the owning org didn't even bother to sign up to AZ AAD so far).

Why is this strange limitation in place ?

Please document the reason(s) and/or the relevant differences in the sign-up process so security architects like myself understand better.

Thanks,

[2021-03-13 17:18] spelluru commented on #71085
#assign:yicw16322

[2021-03-13 17:39] allenh100 opened #72118 "Missing documentation to make Quickstart: Sign in users and call the Microsoft Graph API from an Android app actually work"
Documentation Link needing updating [Quickstart: Sign in users and call the Microsoft Graph API from an Android app](https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-android)

New implementations of adding MSAL to an Android application will not build using the current documentation.  The following needs to be added to the project build.gradle (updates are bolded)

all

[2021-03-13 18:25] dmorris6-hub commented on #72110
If there is any other information I can provide, let me know!

[2021-03-13 18:54] tomkuijsten opened #72119 "Wrong link to "how Azure Cosmos DB manages partitions""
[Enter feedback here]
Title says is all

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d52f6d2e-f852-45ce-c205-ee4038d5ecd1
* Version Independent ID: e45b7f29-4d75-0dda-0f13-38b644213840
* Content: [Partitioning and horizontal scaling in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/partitioning-ove