[2021-04-27 07:15] stevepmo commented on #74370
The important information that any user on that page needs is which items have a name length restricted to fewer than 50 characters and it is nearly impossible to extract

Could you at least add a filter option to be able to show that information

________________________________
From: Tom FitzMacken ***@***.***>
Sent: 27 April 2021 00:31
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: stevepmo ***@

[2021-04-27 07:18] jwefers opened #74398 "Service Principal for Azure SQL (Postgres) AAD Admin"
Hi,
i would like to see some documentation if and how its possible to make a service principal an PostgresQL Single Server (and Flexible Server) AAD admin - and later, a user.

This is the setup we need for automation. We want to handle all communication with Postgres using Managed Identities and we want to set up users inside the database for Managed Identities fully automated.

So our automation

[2021-04-27 07:25] SwathiDhanwada-MSFT commented on #74132
@maxkudosh Thanks for bringing to our notice. I have made changes to the document and once changes are approved ,it will be live soon.

We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-04-27 07:25] #74132 closed

[2021-04-27 07:42] TakashiTerasawa opened #74399 "Definition of Severity"
#74130

Let me know the definition of "Severity' such as high/medium.

It's unclear in this Azure doc. - [How are alerts classified?](https://docs.microsoft.com/en-us/azure/security-center/security-center-alerts-overview#how-are-alerts-classified)

Is there any quantitative definition like [CVSS?](https://www.first.org/cvss/specification-document)

---
#### Document Details

⚠ *Do not edit this se

[2021-04-27 07:42] jmprieur commented on #74309
Thanks for the heads-up @krispenner : we need to do a better job a having the right information at the right location.

[2021-04-27 07:43] ElliotWood commented on #71662
Cheers mate :)

[2021-04-27 07:43] #71662 closed

[2021-04-27 08:05] BhargaviAnnadevara-MSFT commented on #74357
@wteuee Any further detail that you can help us with?

[2021-04-27 08:07] kevindd992002 commented on #54817
After posting here, I realized that I had to enable the solution in the workspace. After enabling it, it took just a few minutes for it to be pushed down to the nodes. Thanks!

[2021-04-27 08:12] BhargaviAnnadevara-MSFT commented on #74392
@ciufudean Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review.

[2021-04-27 08:14] sheetallomate opened #74400 "Active Directory integrated authentication via C# ADO.NET Exception"
I am referring to 'Active Directory integrated authentication' section of the document where it mentions you can use C# ADO.NET code with Active Directory Integrated mode with below code:

string ConnectionString = @"Data Source=n9lxnyuzhv.database.windows.net; Authentication=Active Directory Integrated; Initial Catalog=testdb;";
SqlConnection conn = new SqlConnection(ConnectionString);
conn.Open(

[2021-04-27 08:17] cuongdnv2307 opened #74401 "Differences between Windows Virtual Desktop and VMware Horizon Cloud?"
[Enter feedback here]
I don't understand the difference between them. When to use VMware Horizon Cloud. When to use Windows Virtual Desktop.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2eeca14-80ef-c0b4-2719-80ceb286ba3d
* Version Independent ID: b7d3df23-3158-2807-eecc-73e7230c2033
* Content: [What is Windows Virt

[2021-04-27 08:28] pesetskyps opened #74402 "how-to-roll-certificates not clear is it required to re-provision device certificates."
[Enter feedback here]
It is not clear how is it required to re-create all device certificates that was created using expired intermediate certificate in the section https://docs.microsoft.com/en-us/azure/iot-dps/how-to-roll-certificates#update-expiring-intermediate-certificates

Could you please clarify is it required to re-create all device certificates that were provisioned with the intermediate

[2021-04-27 08:40] pesetskyps opened #74403 "Is root certificate used in example flow?"
[Enter feedback here]
There the section to upload and verify the certificate, but during Enrollment group creation only intermediate certificate is used.
But removing the certificate will make the whole process of registration fail. So it is used somehow under the hood. It will be good to add some comment or reference to some article that describes what DPS does under the hood and why even we use

[2021-04-27 08:48] AnuragSharma-MSFT commented on #74400
@sheetallomate Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-04-27 09:05] eyoh5 opened #74405 "Query Sample for Windows Powershell"
[Enter feedback here]

How about to add query sample for Windows Powershell like below.
##Powershell
$ Invoke-RestMethod -Headers @{"Metadata"="true"} -Method GET -Uri "http://169.254.169.254/metadata/scheduledevents?api-version=2019-08-01"

This docs provides only bash example.
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/scheduled-events#bash
---
#### Document Details

⚠ *Do n

[2021-04-27 09:27] SumanthMarigowda commented on #74395
@xinmeng2 Thanks for your question. We are checking on this and will respond to you soon.

[2021-04-27 09:51] zac-schutt opened #74407 "Error in code snippet"
In the code snippet detailing deploying to production, the wrong variable is used for the ‘TemplateFile’ parameter. Currently using $templateFile, but should be using $bicepFile.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5e23803-617c-76f0-a877-6593b923547d
* Version Independent ID: 368dec5e-8831-cf76-945d-edf3c15

[2021-04-27 09:54] jokoso opened #74408 "Parquet auto-repartitioning interval"
Hi

We are considering using Time Series Insights for large-scale operations and need a bit more information on exactly _when_ the repartitioned copy, mentioned in this [section](https://docs.microsoft.com/en-us/azure/time-series-insights/concepts-storage#parquet-file-format-and-folder-structure), is created. We have had test data streaming for the past two weeks, but the `PT=TsId` folder has yet

[2021-04-27 10:02] RicardoNiepel opened #74409 "Align async msg wording - change Message to Command"
Our thinking and wording of **asynchronous messaging**, and **distinction** between **events** and **messages** should be aligned.

Let's align this page to the wording at

from [Asynchronous messaging options in Azure](https://docs.microsoft.com/en-us/azure/architecture/guide/technology-choices/messaging)

Thus I recommend changing "Message" to "Command" on this documentation page.

@clemensv: Yo

[2021-04-27 10:10] kvaes opened #74410 "The information on the v5 series is missing"
The D and E series now have a v5 series, as announced ; https://azure.microsoft.com/en-us/blog/upgrade-your-infrastructure-with-the-latest-dv5ev5-azure-vms-in-preview/. These are not present in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf1062f1-616d-acc2-abeb-b04e4cad28ad
* Version Independent I

[2021-04-27 10:13] el-aasi opened #74411 "Incorrect treatment of the file paths"
This is both an issue to the page and the product.

In step 4 you specify:
_4. Open the PassengerCountStats_parquetformat folder. Inside, you'll see a parquet file with a name like part-00000-2638e00c-0790-496b-a523-578da9a15019-c000.snappy.parquet._

but then in the code snippet you access a directory called PassengerCountStats.parquet

`abspath = 'abfss://users@contosolake.dfs.core.windows.net/N

[2021-04-27 10:14] AshokPeddakotla-MSFT commented on #74402
@pesetskyps Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-27 10:15] SnehaAgrawal-MSFT commented on #74093
@abdulrm Thanks! Your feedback has been shared with the content owner for further review.

[2021-04-27 10:15] AshokPeddakotla-MSFT commented on #74403
@pesetskyps Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-27 10:16] shashishailaj commented on #74399
@TakashiTerasawa Thank you for your feedback . We will try to get more information on this and update the thread.

[2021-04-27 10:17] psmanhas commented on #74410
@kvaes Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly..

[2021-04-27 10:18] psmanhas commented on #74410
@ju-shim Can you please check and add your comments on this doc update request as applicable

[2021-04-27 10:19] shashishailaj commented on #74399
@TakashiTerasawa I do not think the quantitative logic behind how Azure security center exactly classifies the alerts into High/Medium/Low is available publicly as you have in case of [CVSS ](https://www.first.org/cvss/specification-document). I do not think exact specification like CVSS can be made public but , let me check internally if there is something like that and I will update the thread.

[2021-04-27 10:32] psmanhas commented on #74405
@eyoh5 Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-04-27 10:32] psmanhas commented on #74405
@EricRadzikowskiMSFT Can you please check and add your comments on this doc update request as applicable

[2021-04-27 10:34] psmanhas commented on #74401
@cuongdnv2307 Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-04-27 10:38] KrishnaG-MSFT commented on #74407
@zac-schutt Thanks for your comment! We will review and provide an update as appropriate.

[2021-04-27 10:55] azureabhay opened #74413 "Getting this error while configuring WVD IN AZURE PORTAL POWERSHELL Add-RdsAccount: The term 'Add-RdsAccount' is not recognized as a name of a cmdlet, function, script file, or executable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-04-27 11:00] yutaro113 commented on #73884
Thanks for the confirmation!
Understood this is not supported scenario. While updating docs, It would be great help to mention the reason why such scenario is not supported by Azure..! Thank you!

[2021-04-27 11:04] nelz75 opened #74414 "Azure stream analytics storage account not configured"
When configuring the storage account in the Azure Stream Analitycs, can't specify the container.
So, when we try to configure the stream Analytics within a iot edge hub, we get a configuration error from the Azure stream analytics.

Very urgent. Please give us feedback!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c

[2021-04-27 11:06] AshokPeddakotla-MSFT commented on #74239
@deepakpalled This is more of a doc enhancement request to add more details. Please have a look at this issue and provide your suggetions.

[2021-04-27 11:18] kjeske opened #74415 "Auto swap IS supported in web apps on Linux"
In the docs you mention that `Auto swap isn't supported in web apps on Linux.` But I have web app on Linux that I configured with ARM template and setting in there the autoSwapSlotName and it works correctly.

Here is the log:
![image](https://user-images.githubusercontent.com/3659976/116232485-7bbfe180-a75a-11eb-8fae-8ce8cf217d18.png)

Why does the official docs say that it's not possible to use

[2021-04-27 11:19] cc-laura commented on #74247
Hi,

I see the call to SubmitRequest, but where is it defined?

Thanks,
Laura

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: AnuragSharma-MSFT ***@***.***>
Sent: Monday, April 26, 2021 11:30:12 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Laura Hernandez ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Missing code? (#74247)

@

[2021-04-27 11:30] pauljemmett commented on #74205
Hi,

Sorry yep realised the order of the properties doesn't make a difference.

However, I have PowerShell version
PS C:\Users\Paul.Jemmett> $PSVersionTable.PSVersion

Major  Minor  Patch  PreReleaseLabel BuildLabel
-----  -----  -----  --------------- ----------
7      1      3

And PS C:\Users\Paul.Jemmett> bicep --versionBicep CLI version 0.3.255 (589f0375df)

And when I have my own bicep templ

[2021-04-27 11:45] CHEEKATLAPRADEEP-MSFT commented on #74411
@el-aasi  Thanks for the feedback!  We are investigating and will update you shortly.

[2021-04-27 12:02] KrishnaG-MSFT commented on #74413
@azureabhay Thanks for reaching out!

In general, you would see that error if the cmdlet's module is not installed / imported.

In your case, the cmdlet [Add-RdsAccount](https://docs.microsoft.com/en-us/powershell/module/windowsvirtualdesktop/add-rdsaccount) is not recognized probably because it's module [WindowsVirtualDesktopPowershell](https://docs.microsoft.com/en-us/powershell/module/windowsvi

[2021-04-27 12:21] Ivann888 opened #74417 "Can we re-consent to the permissions after having deleted consent?"
Hi,
I’ve read the article below and have a question. Can we consent to the permissions after having deleted consent? I don’t see a specific mention of re-consenting in the article. It is very important for me to know, please replay.
https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/configure-admin-consent-workflow

---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-04-27 12:22] AnuragSharma-MSFT commented on #74247
@cc-laura In the same article, there is link provided to download the entire code from git repo. You need to download the code and the implementation of SubmitRequest is defined there.

![image](https://user-images.githubusercontent.com/66360845/116240067-09162c80-a781-11eb-995c-ea633d34a36e.png)

Pasting it for you reference:

![image](https://user-images.githubusercontent.com/66360845/116240158-

[2021-04-27 12:23] andylholloway opened #74418 "How to configure Authentication Identity Provider for user-assigned managed identity"
Hi

I cannot see in the documentation how to configure authentication / authorization for a Function App where the calling resources uses a user-assigned managed identity as it's identity.

I have a Logic App that has a user-assigned managed identity assigned to it (so not a system identity). The Logic App calls a bunch of Azure Functions so I wanted to be able to use authentication / authorizatio

[2021-04-27 12:27] cephalin commented on #73859
@iyerusad Unfortunately support for that preview feature has been removed. Thanks for bringing it to our attention and we're in the process of removing that blog post for clarity. #please-close

[2021-04-27 12:27] #73859 closed

[2021-04-27 12:28] Donovand4 opened #74419 "Directory ID should be replaced with Tenant ID"
The Directory ID was replaced with Tenant ID. Please can the doc be updated to reflect the updated information?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2928e23e-3210-9e74-9cdb-1a19b703eac7
* Version Independent ID: 44e303ca-e4bc-ba30-5aae-311aa9318278
* Content: [Controlled validation of hybrid Azure AD join - A

[2021-04-27 12:28] shashishailaj commented on #74417
@Ivann888 Thank you for your query. We will investigate and update the thread.

[2021-04-27 12:32] jesussalasp commented on #73799
@shashishailaj I sent the email as you suggested, will wait for you. thanks!

[2021-04-27 12:35] jsandersrocks commented on #74126
I can file an ICM internally since we are waiting a week for an answer

[2021-04-27 12:37] blacksheep-- opened #74420 "SendClaimsIn supports 'Url' as a valid option, but does not allow claims in hostname-part of URL"
The SendClaimsIn metadata tag also supports "Url' as an option. The documentation states, that the format used for the URL should be the following: `The Url value is the input claim that is sent in the URL, for example, https://{claim1}.example.com/{claim2}/{claim3}?{claim4}={claim5}.`

From that example, only claim2, claim3, claim4 and claim5 would be allowed by Azure. As soon as one tries to use

[2021-04-27 12:40] urijah opened #74421 "Incorrect License for PostgreSQL listed"
Current text reads--

"Azure Database for PostgreSQL is a relational database service in the Microsoft cloud based on the PostgreSQL Community Edition (available under the GPLv2 license) database engine."

That is not correct.

It should say, "PostgreSQL is released under the PostgreSQL License."

https://www.postgresql.org/about/licence/
https://opensource.org/licenses/postgresql

---
#### Docume

[2021-04-27 12:41] juanandmsft opened #74422 "Debian 10 support"
[Enter feedback here]
Are there any timelines for Debian 10 support for either Azure Monitor or VM Insights?
According to [documentation](https://docs.microsoft.com/en-us/azure/azure-monitor/agents/agents-overview#linux), Azure Monitor Agent is supported in Debian 10, but there seems no way to make use of it just [installing only Azure Monitor Agent](https://docs.microsoft.com/en-us/azure/azure-mo

[2021-04-27 12:45] mumian commented on #74407
@zac-schutt - thank you for the comment.  I will make the change today.

#please-close

[2021-04-27 12:45] #74407 closed

[2021-04-27 12:47] AnuragSharma-MSFT commented on #74320
@shohamMSFT Could you please look into this query?

[2021-04-27 12:49] AnuragSharma-MSFT commented on #74421
@urijah Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-04-27 13:00] urijah commented on #74421
Thanks. Also, there is no "PostgreSQL Community Edition," it is just "PostgreSQL".

The top hit for "PostgreSQL Community Edition" is...this page.
https://www.google.com/search?q=%22PostgreSQL+Community+Edition%22

[2021-04-27 13:03] MGoedtel commented on #54817
@kevindd992002 - Happy to hear you were able to identify what caused your situation. As a result of this not being related to a documentation issue, I'm going to proceed with closing this GitHub issue. Thanks!  #please-close

[2021-04-27 13:04] zahraasaleh opened #74423 "prerequisite needs updating | subscription restriction"
[In the prerequisite it should mention that the file share and vault need to be under the same subscription]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8070575b-9937-61e2-6483-c070143c4039
* Version Independent ID: fe33b548-d107-99d9-c0f1-854e65fefa44
* Content: [Back up Azure file shares in the Azure portal - Azur

[2021-04-27 13:23] zojovano opened #74424 "API Management Service Editor*"
Is this doc outdated a bit?
"API Management Service Editor*" - "* The Service Editor role will be available after we migrate all the admin UI from the existing publisher portal to the Azure portal. The Content Manager role will be available after the publisher portal is refactored to only contain functionality related to managing the developer portal."

I believe that the legacy publisher portal i

[2021-04-27 13:39] amanmcse commented on #74417
@Ivann888  If consent is deleted, and at subsequent authentication, you use a scope that requires consent (e.g. directory.readwrite.all), you will be prompted for consent again. Consent can be forced by using `prompt=consent` Oauth parameter.

[2021-04-27 13:39] #74417 closed

[2021-04-27 13:39] JonParton commented on #73394
Thanks for the explanation and the Docs Update @JSeb225 !

After reading it through a few times to make sure it still made sense in my little head I think I get it.

Am I right in saying the checking times (0,10,20,30 etc) are completely independent of the first occurrence of an event? If so when does it reference? Will it just be a continuous ticker check that gets kicked off at the point of star

[2021-04-27 13:59] #72954 closed

[2021-04-27 14:01] mumian commented on #74205
@pauljemmett - what is the value you passed to -templateFile?  Can you change directory to the folder where the bicep file is located and run the cmdlet with only the bicep file name (without specifying the path to the Bicep file)?

[2021-04-27 14:07] amanmcse commented on #74269
@schmitch I have assigned the issue to author to review and check if this information can be added to this doc.

[2021-04-27 14:17] pauljemmett commented on #74205
Ok so the issue is PowerShell 7.1.3 if I run in the latest version of PowerShell 5.1 it runs fine without issue

The command I was running was (I've replaced my company name with Company Name place holder:
$networkBicepFile = "C:\Users\Paul.Jemmett\OneDrive - Company Name\Azure\POC\companyName_vnetsubnetnsgTemplate.bicep"
New-AzResourceGroupDeployment -Name "AzureNetworkingDeployment" -ResourceGro

[2021-04-27 14:21] Herman5006 commented on #74129
@TravisCragg-MSFT  I think I got misunderstanding for the availability zone earlier. From your explanation, I think I got the exact answer.

I have another question for cross-zone scenario:
https://docs.microsoft.com/en-us/azure/virtual-network/nat-gateway-resource#cross-zone-outbound-scenarios-not-supported

where it mentions "While the scenario will appear to work, its health model and failure m

[2021-04-27 14:22] rhamlett commented on #74373
Hello William,

Thanks for the quick reply.  I am an Azure App Service support guy, SQL is
not my specialty, but in the screenshots below, the cx is showing settings
for the  server “safr000prdazdb01”, and then the settings for the
“MRRReportingFrameworkCARA” database, which shows in the Connection box the
same server name.

The customer believes this database to be in that server, but it sounds
l

[2021-04-27 14:23] #73445 closed

[2021-04-27 14:38] #74392 closed

[2021-04-27 14:43] MKBahuguna commented on #73950
@KranthiPakala-MSFT here is the forum link.

https://docs.microsoft.com/en-us/answers/questions/368630/i-am-not-getting-all-the-files-using-listfilesbase.html

[2021-04-27 14:50] saafh opened #74425 "Untested and unfunctional code on the Python3 Runbook tutorial"
Very disappointing!!! to see that Microsoft could create tutorials which do not work. I bet that the code was not even tested because there are errors on the page...

First got this one, when resolved after adding the "**import automationassets** "

`Traceback (most recent call last):  File "C:\Temp\hegkbq0n.b1a\eea113a2-6323-41b8-be39-65f67d1f46b1", line 7, in <module>    cert = automationassets.

[2021-04-27 14:51] RyanHill-MSFT commented on #74418
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-27 14:52] RyanHill-MSFT commented on #74415
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-27 15:03] corydelamarter opened #74427 "Incorrect cmdlet used in 'Prevent concurrent jobs' example"
The snippet in the 'Prevent concurrent jobs' section starts as follows....

[code]

Instead of using the **Get-AzSubscription** cmdlet in the emboldened line, the example should use **Set-AzContext**.  The working snippet would then instead read as follows:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42cfca5

[2021-04-27 15:20] NavtejSaini-MSFT commented on #74398
@jwefers We are checking this and will get back to you.

[2021-04-27 15:20] alex-frankel commented on #74205
Can you double check that you have Az 5.6.0 or later in your PowerShell 7 environment?

[code]

[2021-04-27 15:26] SaurabhSharma-MSFT commented on #74389
Hi @Heman-ava,
I am closing this issue as a duplicate of [this](https://github.com/MicrosoftDocs/azure-docs/issues/74391) issue.

Thanks
Saurabh

[2021-04-27 15:26] #74389 closed

[2021-04-27 15:40] nimoskovE opened #74428 "Multiple wildcard in actions"
On this page you say "You can also have multiple wildcards in a string" and as an example give "Microsoft.CostManagement/*/query/*".
I tried setting multiple wildcards in a custom role action and got the following response:
{
  "error": {
    "code": "InvalidActionOrNotAction",
    "message": "'Microsoft.CostManagement/*/query/*' contains multiple wildcards. Only one is allowed."
  }
}

Is the doc

[2021-04-27 15:46] FallenHoot commented on #27933
Need to open this again... Because what @TravisCragg-MSFT states is what it looks like.

The document should clarify that:
Standard = Non-Zonal SKU
High Performance = Non-Zonal SKU
Ultra Performance = Non-Zonal SKU

ErGw1Az = Zonal SKU, but has the same performance Standard
ErGw2Az = Zonal SKU, but has the same performance High Performance
ErGw3Az = Zonal SKU, but has the same performance Ultra Pe

[2021-04-27 15:52] MarileeTurscak-MSFT commented on #74211
Thanks for the feedback. I made a pull request to add a reference to a relevant Github sample that has an example of where to put this.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/156163

https://github.com/AzureAD/microsoft-authentication-library-for-java/blob/dev/src/samples/confidential-client/ClientCredentialGrant.java

[2021-04-27 15:52] #74211 closed

[2021-04-27 15:55] MarileeTurscak-MSFT commented on #74419
Thanks for the feedback, @Donovand4 . Looks like @MicrosoftGuyJFlo added a fix to the document.

[2021-04-27 15:55] #74419 closed

[2021-04-27 15:57] memildin commented on #73796
Hi @jyama4ta, thanks for the feedback and for taking the time to help us improve the docs.

We'll review this feedback and update this page according to what is decided.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2021-04-27 15:57] #73796 closed

[2021-04-27 16:02] ChaitanyaNaykodi-MSFT commented on #74409
Hello @RicardoNiepel,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-04-27 16:11] DCtheGeek commented on #74216
#please-close

[2021-04-27 16:11] #74216 closed

[2021-04-27 16:26] spelluru commented on #74409
@clemensv - please let me know what you think. Thanks.

[2021-04-27 16:26] YutongTie-MSFT commented on #74240
@diberry Hello Dina, this issue is regarding to https://github.com/MicrosoftDocs/azure-docs/issues/32586 Is there any issue in the swagger file side or something?

[2021-04-27 16:28] Dirk-Manderin commented on #27800
There's not even a mention of a fix for this in In Development on the roadmap 6 months later.  Is it still being worked on?

[2021-04-27 16:28] jonburchel commented on #65204
Hi @Anmolgan81, thank you for your question.  There could be a number of ways to improve performance on this stored procedure, depending on the nature of your data and other variables.  Our support team can help you investigate further to find the best way to meet your requirements.  Please open a new support request by navigating to your Data Factory page in the [Azure Portal](https://portal.azur

[2021-04-27 16:28] #65204 closed

[2021-04-27 16:31] duongau commented on #67804
@kikawash if you still need assistance on this please feel free to reach back. For now I will be closing this issue. Thank you.

#please-close

[2021-04-27 16:31] #67804 closed

[2021-04-27 16:36] tfitzmac commented on #74330
@rolyon - thanks for that clarification!
I'll close this item. #please-close

[2021-04-27 16:36] #74330 closed

[2021-04-27 16:37] mike-urnun-msft commented on #74127
@gomateus Thank you for sharing your feedback and helping us drive improvements towards MS Docs! I created a PR that updates the statement to read as follows:

Once the PR is reviewed and approved, changes will be live shortly thereafter. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-04-27 16:37] #74127 closed

[2021-04-27 16:41] SatishBoddu-MSFT commented on #73688
Hello @kgremban Could you please suggest if we can resolve this query with any final comments?

[2021-04-27 16:41] duongau commented on #14403
@dcbrown16 Hi there, I know this ticket is super old but wanted to check in since it is still open. Please let me know if you would like to look into this. If not I will be closing this ticket in a few days. Thank you!

[2021-04-27 16:46] msmbaldwin commented on #65612
This article was split into two, with the table moved to https://docs.microsoft.com/en-us/azure/security/fundamentals/encryption-models#supporting-services. I have updated references to "the table" in https://docs.microsoft.com/en-us/azure/security/fundamentals/encryption-overview to point to the new article.  Thank you! #please-close

[2021-04-27 16:46] #65612 closed

[2021-04-27 16:46] msmbaldwin commented on #65525
This article was split into two, with the table moved to https://docs.microsoft.com/en-us/azure/security/fundamentals/encryption-models#supporting-services. I have updated references to "the table" in https://docs.microsoft.com/en-us/azure/security/fundamentals/encryption-overview to point to the new article.  Thank you! #please-close

[2021-04-27 16:46] #65525 closed

[2021-04-27 16:47] duongau commented on #55393
@Andriy-dev Apologies for not getting back to you until now. At this time we don't support mapping c-tag to separate VNet. C-tags are only used in the configuration between the Microsoft Edge routers and your on-premises edge router. Please let me know if you have any other questions or if we can close out this issue. Thank you!

[2021-04-27 16:49] duongau commented on #22735
@milazzom Apologies for not reaching out to you until now. I know this issue is very old, but if you would like to still work on this please let me know. Thank you!

[2021-04-27 16:51] SiddhanthUnnithan commented on #73832
Sorry to clarify, what happens when you click "VS Code" for that compute from the Azure ML Studio:

![image](https://user-images.githubusercontent.com/6413608/116281015-1fe75f80-a73e-11eb-9055-3d9d0a3e429c.png)

Are you able to successfully connect to the compute instance?

[2021-04-27 16:51] duongau commented on #23132
@victorar Apologies on not reaching out to you until now. I believe the diagram you're referring to has been update to a more recent one. Please let me know if you have any other concerns. For now I will be closing this issue. Thank you!

[2021-04-27 16:54] duongau commented on #23514
@jtuliani I know this is a very old issue. Please let me know if there is still a problem on that page that you want me to look into. If not, I'll close this issue out in a few days. Thank you!

[2021-04-27 16:55] BhargaviAnnadevara-MSFT commented on #74392
@ciufudean The change is merged internally and will go-live in the public docs shortly.

[2021-04-27 16:55] YutongTie-MSFT commented on #74317
@Jordithecloud I am sorry for your experience. If you are sure about your subscription ID and language, please share your Azure Subscription ID to us. We'd like to enable you a one-time-free support ticket and assign one support engineer to you for help. Thanks.

[2021-04-27 16:56] victorar commented on #23132
No worries @duongau and yes, it's fine with getting this issue closed.

[2021-04-27 16:56] duongau commented on #23543
@mailtogurvindersingh I know this is an old ticket, but please do let me know if we should update this article for clarity. If not, I will be closing this issue in a few days. Thank you.

[2021-04-27 17:05] #23132 closed

[2021-04-27 17:13] duongau commented on #28301
@Izmiyash Apologies on this very old issue. Has your question been addressed in the docs or is there something we need to add to   clarify this? Please let me know if you would like to work on this or if you're okay with closing the ticket. Thank you.

[2021-04-27 17:21] ChaitanyaNaykodi-MSFT commented on #74424
Hello @zojovano,
Thank you for your feedback! We will review and update as appropriate.

[2021-04-27 17:22] mike-urnun-msft commented on #74183
@JPalmerDev Just following up on my comment above, let me know if any questions around the Zip Deploy method.

[2021-04-27 17:23] ash2017 commented on #71461
Limits are per IoT Hub. They are not per device, they are not per IoT Hub SKU unit.

[2021-04-27 17:30] beiriannydd commented on #37727
I think that uploading private crypto material via a web browser to a remote server is much more risky than negotiating an SSH  connection and forwarding an SSH agent.  Microsoft really need to rethink this.

[2021-04-27 17:32] duongau commented on #33681
@bgianpetro Confirmed that the command syntax is incorrect and has now been updated. The changes should reflect later today in this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/156201.

#please-close

[2021-04-27 17:32] #33681 closed

[2021-04-27 17:41] RyanHill-MSFT commented on #74197
I just heard back. Teams is working adding more tenants to enable this feature. I needed the teams tenant id, my mistake.

The Teams team has added a batch of tenants so it's possible you have access. If not, send me your tenant id and we can verify if your tenant has been enabled.

[2021-04-27 17:41] duongau commented on #35678
@Ellenprater You're correct, the ability to do this has long been available. I'll work with the PMs to update our doc to show how to do it via the portal. Thank you!

[2021-04-27 17:43] robinsh commented on #71461
I've received confirmation from the PM. I'll be updating the docs today.

[2021-04-27 17:51] jonburchel commented on #72404
Hi @hfulks, thank you for your question. This scenario should normally be working so there could be local issues with your environment/configuration. Our support team can help you investigate further. Please open a new support request by navigating to your Data Factory page in the Azure Portal and selecting New support request under the Support + troubleshooting section on the left hand side. #ple

[2021-04-27 17:51] #72404 closed

[2021-04-27 17:51] diberry commented on #74240
@YutongTie-MSFT This is a service issue - please assign to the service. @pchoudhari

[2021-04-27 17:52] Karishma-Tiwari-MSFT commented on #74141
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-27 17:57] duongau commented on #36666
@Ellenprater I will work with the PMs to get the portal version of this configuration published. Thank you!

[2021-04-27 17:59] duongau commented on #37275
@Chai-NED it looks like @dcbrown16 has already made the necessary updates to the FAQ. Please let me know if you have any further concerns. For now, I will be archiving this issue. Thank you!

#please-close

[2021-04-27 17:59] dan-tr opened #74433 "Page did not load properly in Safari"
Sidebar navigation did not appear. Header did not appear. Feedback button did not work. There were probably other pieces that did not work as well but those were the most noticeable one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bef853ec-6fcb-22dc-76cf-d12af7c87dee
* Version Independent ID: c36fc153-ef89-842e-9b48

[2021-04-27 17:59] JPalmerDev commented on #74183
Expectation about **ready-to-run** seem a bit misconveyed. Part of the settling on the zip deploy option is it seemed to be how to deploy it from visual studio which was my primary development environment. I understand that you can do authorship in the azure portal, but it seemed I was unable to access a variety of features because I used the zip deploy method. If those features options were adjus

[2021-04-27 18:02] jonburchel commented on #71972
@MattEvansA45 thanks for catching this!  I updated the document and the changes should appear later today.  #please-close

[2021-04-27 18:02] #71972 closed

[2021-04-27 18:13] duongau commented on #37472
@JuliaHazelwood Thank you for bringing this to our attention. I have updated the diagram to have a white background. Thank you!

[2021-04-27 18:13] duongau commented on #37472
https://github.com/MicrosoftDocs/azure-docs-pr/pull/156212

#please-close

[2021-04-27 18:13] #37472 closed

[2021-04-27 18:27] RyanHill-MSFT commented on #74336
@kp2017, I agree with @phi1osoph0s, manually transcribing will work. See if copying the following will work:

[code]

[2021-04-27 18:33] duongau commented on #38149
@dcbrown16 We have this article https://docs.microsoft.com/en-us/azure/expressroute/designing-for-disaster-recovery-with-expressroute-privatepeering#same-metro that talks about configuring circuits in the same metro and different metro. Let me know if we need to add something additional. Thank you!

[2021-04-27 18:42] SadiqhAhmed-MSFT commented on #74423
@zahraasaleh Thank you for your valuable feedback. We will review this request with the content owner and update as appropriate.

@v-amallick FYI

[2021-04-27 18:50] jonburchel commented on #55114
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question: [Azure Data Factory Q&A](htt

[2021-04-27 18:50] #55114 closed

[2021-04-27 18:50] duongau commented on #38242
@kewu-93 This is long over due but I have reached out to our localization team to get this updated. Thank you for bringing this to our attention. I will be closing this issue for now. Thank you!

#please-close

[2021-04-27 18:50] #38242 closed

[2021-04-27 18:55] duongau commented on #42566
@ElanShudnow Apologies on not getting back to you until now. NPM will now be replace by Azure Monitor and Network Insights, so I don't think it will be necessary to update this article. Please let me know if you have any other concerns. For now, I will be archiving this ticket. Thank you!

[2021-04-27 18:57] MarekLani commented on #74277
@baanders thank you for the additional info and effort. As said I managed to make it work for now and understand that using defaultcredentials was to enable as quick setup of digital twin explorer as possible.

[2021-04-27 18:58] duongau commented on #43527
@dcbrown16 Thank you for your suggestions. We have that included in the ExR FAQ now: https://docs.microsoft.com/en-us/azure/expressroute/expressroute-faqs#how-are-vnets-advertised-on-expressroute-private-peering.

#please-close

[2021-04-27 18:58] #43527 closed

[2021-04-27 18:58] pelon34 opened #74436 "Complement information regarding Identity definitions on source AAD"
My feedback concerns the following paragraph:

When you transfer a subscription to a different Azure AD directory, some resources are not transferred to the target directory. **For example, all role assignments and custom roles in Azure role-based access control (Azure RBAC) are permanently deleted from the source directory and are not be transferred to the target directory.**

Feedback: I feel th

[2021-04-27 18:59] jonburchel commented on #56064
Thanks for pointing out this issue with the docs, @wouter-in2facts.  I see the [originally referenced page](https://docs.microsoft.com/en-us/azure/data-factory/create-self-hosted-integration-runtime#prerequisites) that contained the erroneous Windows 7 reference has now been updated to correctly show the list of supported OSes.  #please-close

[2021-04-27 18:59] #56064 closed

[2021-04-27 19:00] duongau commented on #44464
@jzoran05 Since this is an old ticket I will be closing this for now. If you have any concerns please feel free to reach back and I'll reopen this again. Thank you.

#please-close

[2021-04-27 19:00] #44464 closed

[2021-04-27 19:02] duongau commented on #45214
@mobileha Please let me know if there is something additional we need to add to the documentations regarding this. Since this is an old ticket, I will be archiving it for now. I will reopen upon your response. Thank you.

[2021-04-27 19:09] jennyf19 opened #74438 "Broken link on MSAL Node Code sample"
[Enter feedback here]
 The link is broken ->  https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/standalone-samples

Under Next steps and MSAL Node Code samples
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85ddb2f7-4a84-5174-a8fd-d5fd73ddaef6
* Version Independent ID:

[2021-04-27 19:11] Etiennepicard opened #74439 "Using the page's instruction to get sql query tracking gives an obsolete warning"
I added the line
`services.ConfigureTelemetryModule<DependencyTrackingTelemetryModule>((module, o) => { module. EnableSqlCommandTextInstrumentation = true; });`

As instructed in the documentation to get the full SQL query being generated and used by entityframework, while it works and does give me the queries, It gives the following warning:

`Method 'Microsoft.Extensions.DependencyInjection.Appl

[2021-04-27 19:25] iyerusad commented on #73859
Hmm. We currently use this feature in prod (for allowing anonymous access to PWA icons, but restricting access to rest of the app) - any suggestions for users who deployed this feature?

[2021-04-27 19:27] bandersmsft commented on #74202
@gokusupa Sorry you ran into this issue. As far as the accuracy of the article itself goes, the PowerShell section intro paragraph says "**If you're an EA customer**, you can create and edit budgets programmatically using the Azure PowerShell module..."

As for the status of the updated PowerShell module that @ms-premp mentioned, I don't have any new status to report and I'm expressly forbidden fr

[2021-04-27 19:27] #74202 closed

[2021-04-27 19:39] mishrapratyush commented on #74377
Thank you so much. Sorry I didn't realize that it was due to different IoTEdge version number.

[2021-04-27 19:39] #74377 closed

[2021-04-27 19:45] TravisCragg-MSFT commented on #74304
@RonnieQuan You can [find information on Application Gateway and routing Here](https://docs.microsoft.com/en-us/azure/application-gateway/configuration-infrastructure#supported-user-defined-routes). Please let me know if you have any additional questions.

[2021-04-27 19:58] derisen commented on #74438
#re-assign @derisen

[2021-04-27 20:05] stanhu commented on #16566
Yes, right now it seems the only workaround is to use a custom policy to export `email`. We published our instructions here: https://docs.gitlab.com/ee/administration/auth/oidc.html#microsoft-azure-active-directory-b2c

[2021-04-27 20:13] nitinme commented on #74240
@YutongTie-MSFT - Could you please change the label to say "escalated-product-team" so that the product group can pick it up?

[2021-04-27 20:14] nitinme commented on #74240
Adding @farooq-khancs

[2021-04-27 20:15] Ronnie-personal commented on #74304
@TravisCragg-MSFT  Thanks for the reply.

My question is about system routes and BGP routes, we want to query those routes for security monitoring. Are those routes visible to Azure user?

https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-udr-overview#system-routes
User-defined route
BGP route
System route

[2021-04-27 20:19] duongau commented on #46215
@gakirkwood as mentioned by @JuliaHazelwood we do reference what you're referring to in our Routing requirement documentation. The reason why you're not seeing it in the documentation you mentioned is because that doc refer to the configuration from the Azure side to the circuit. Please let me know if you have any further concerns. I will be closing this issue for now. Thank you.

[2021-04-27 20:19] duongau commented on #46215
#please-close

[2021-04-27 20:19] #46215 closed

[2021-04-27 20:20] duongau commented on #45214
#please-close

[2021-04-27 20:20] #45214 closed

[2021-04-27 20:25] MarileeTurscak-MSFT commented on #74438
@jennyf19
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-27 20:26] duongau commented on #46474
@JohnPoetzinger Thank you for your suggestion. We have Zones listed for each location and provider now in our documentations here: https://docs.microsoft.com/en-us/azure/expressroute/expressroute-locations-providers#global-commercial-azure. Please let me know if you have any other concerns. For now I will be archiving this issue.

#please-close

[2021-04-27 20:26] #46474 closed

[2021-04-27 20:29] erikadoyle commented on #45162
This has since been fixed https://github.com/MicrosoftDocs/azure-docs/commit/302c05832ae8cd32c04049dc27d29b99694179f0#diff-ec983e7298cf45a608cb7d8d2988c2dffc5bf1acf3df7288709b99b4b689467a #please-close

[2021-04-27 20:29] #45162 closed

[2021-04-27 20:30] TravisCragg-MSFT commented on #74324
@southerncoder Thanks for the feedback! I have updated the links, and the docs should reflect the change within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-27 20:30] #74324 closed

[2021-04-27 20:34] duongau commented on #46665
@shawnolzon-fp Apologies on the delayed response. The documentation you're referring to only talks about configuring the Azure side of the BGP connection. We have a different article that will guide you through configuring your side located here: https://docs.microsoft.com/en-us/azure/expressroute/expressroute-config-samples-routing. We do reference the AS 12076 that you'll need to use to connect

[2021-04-27 20:34] #46665 closed

[2021-04-27 20:38] jknorvik opened #74441 "Shouldn't the skillset include OCR? The example files contain images that are not converted to text."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f5a627b-ae47-dfe0-681c-ad41ed4d6140
* Version Independent ID: deef3f3b-c392-410a-4253-ef69a984a116
* Content: [Tutorial: Python and AI over Azure blobs - Azure Cognitive Search](https://docs.microsoft.com/en-us/azure/search/cognitive-search-tutorial-

[2021-04-27 20:38] derisen commented on #74438
@MarileeTurscak-MSFT resolved via [#156236](https://github.com/MicrosoftDocs/azure-docs-pr/pull/156236)
#please-close

[2021-04-27 20:38] #74438 closed

[2021-04-27 20:39] MarileeTurscak-MSFT commented on #74420
@blacksheep--
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-27 20:42] elliot-huffman commented on #37727
I think you're forgetting about conditional access, multi-factor authentication, and identity protection.
There are many many reasons why this is so much more secure than raw SSH.

signature coming soon!

________________________________
From: Faye Salwin ***@***.***>
Sent: Tuesday, April 27, 2021 1:31:00 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Elliot Huffman ***@***.***>; Mention ***@***

[2021-04-27 20:43] duongau commented on #48194
@shanimsa Thank you for letting us know. I have updated the link and it now points to the Lumen website (previously CenturyLink).

#please-close

[2021-04-27 20:43] #48194 closed

[2021-04-27 20:45] duongau commented on #51591
Close issue for now due to unresponsiveness. Please feel free to reach out again if you would like to look into this further. Thank yo.

#please-close

[2021-04-27 20:45] #51591 closed

[2021-04-27 20:49] duongau commented on #69278
@mark-a-thompson a note has been added below the diagram to provide further clarification on this. Thank for you suggestion.

#please-close

[2021-04-27 20:49] #69278 closed

[2021-04-27 20:51] sunnyhay opened #74442 "Feedback about this page"
Glad to see the old sample model (sentiment) is replaced with a much smaller one while that sentiment model is so large that running local Python code did not get it successfully registered in AML space due to timeout. Thanks for doing this.
While another problem for this tutorial page is each code snippet seems to fit notebook scenario where previous run result like created workspace/inference co

[2021-04-27 20:56] HeidiSteen commented on #74441
Hi @jknorvik,
Each language version of this tutorial does it a little differently (varying skills, and also which files, to include).  I will take a work item against a future sprint to align/simplify the tutorial series.  Thanks for pointing out the problems with the Python version.  I fully agree that this should be better!

[2021-04-27 20:57] MarileeTurscak-MSFT commented on #74436
@pelon34
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-27 20:58] kp2017 commented on #74336
Thank you all, I manually transcribed the YAML and was able to get past it.

[2021-04-27 20:59] MarileeTurscak-MSFT commented on #74436
I think the fact that these are different resources makes the distinction clear enough, but I made a pull request to add more clarification.

CC: @rolyon

https://github.com/MicrosoftDocs/azure-docs-pr/pull/156251

[2021-04-27 20:59] #74436 closed

[2021-04-27 20:59] gvashishtha commented on #74442
Sunny, just to confirm, you're using Python without a notebook? Or Azure CLI? If Azure CLI, did you try the [CLI instructions](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-and-where?tabs=azcli)

[2021-04-27 21:05] James-Hamil-MSFT commented on #74340
Hi @guyhorn1964 , are you asking why the Catalog Creator can create catalogs, but it's not clear based on the description whether the Catalog Owner can do the same (even though Catalog Owner seems like it would be a higher privilege) ?

[2021-04-27 21:05] MarileeTurscak-MSFT commented on #74428
@nimoskovE
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-27 21:09] nadeenAlshibil opened #74444 "Change Max number of Clusters per private cloud"
[Enter feedback here]

Change Max number of Clusters per private cloud from  4 to 12 under section : Determine the number of clusters and hosts
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a357413-6684-a708-3193-fa93e1cbe65c
* Version Independent ID: 80dd58ee-7b7d-ad2d-0ec3-6f5981cadc38
* Content: [Plan the Azure VMw

[2021-04-27 21:11] nadeenAlshibil opened #74445 "Change Max number of Clusters per private cloud"
[Enter feedback here]
HI,

you should change Max number of Clusters per private cloud from 4 to 12 under section : Clusters

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a0a489-f920-2b04-6949-cdd17aef16ca
* Version Independent ID: f70f6c39-1df2-a1ac-e371-3313734832a8
* Content: [Concepts - Private clouds and cluster

[2021-04-27 21:16] #45104 closed

[2021-04-27 21:19] sunnyhay commented on #74442
Python without notebook. Due to some access issue, CLI does not work for me. Thanks.

[2021-04-27 21:21] erikadoyle commented on #38677
#please-close

[2021-04-27 21:21] #38677 closed

[2021-04-27 21:21] gvashishtha commented on #74442
We are planning to create a sample notebook that this page will draw from. You could then use a tool like [papermill](https://pypi.org/project/papermill/) to run as an executable.

[2021-04-27 21:30] erikadoyle commented on #35171
Sorry I'm late to the conversation-- the best place to discuss implementation strategy is to start a thread on [Microsoft Q&A Service Fabric](https://docs.microsoft.com/en-us/answers/topics/azure-service-fabric.html) channel, which includes Microsoft engineers, MVPs and other members from the expert community. #please-close

[2021-04-27 21:30] #35171 closed

[2021-04-27 21:32] sunnyhay commented on #74442
Great. Thank you!

[2021-04-27 21:32] sunnyhay commented on #74442
Great. Thank you!

[2021-04-27 21:32] #74442 closed

[2021-04-27 21:39] erikadoyle commented on #43501
Please post any specific SF implementation questions to the [Microsoft Q&A Service Fabric](https://docs.microsoft.com/en-us/answers/topics/azure-service-fabric.html) channel. That will get you in touch with engineers versed in the current state of SF internals. Many of the authors of the conference paper above no longer work on the team. #please-close

[2021-04-27 21:39] #43501 closed

[2021-04-27 21:42] shortpatti commented on #74445
Content has been updated and will be published later today.

#please-close

[2021-04-27 21:42] #74445 closed

[2021-04-27 21:42] shortpatti commented on #74444
Content has been updated and will be published later today.

#please-close

[2021-04-27 21:42] #74444 closed

[2021-04-27 21:49] alhieng commented on #74012
I figured it out and got the code sample working. Please update the code sample on the post.

from urllib.request import urlopen
import json
with urlopen('https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json') as response:
    counties = json.load(response)

import pandas as pd
df = pd.read_csv(https://raw.githubusercontent.com/plotly/datasets/master/fips-unemp-16.cs

[2021-04-27 21:51] mdlister opened #74446 "Documentation out of date"
When following the instructions and clicking Save, you are only presented with Name and Category.

To save as a Function there is now a drop down on the save option with Save as function
![image](https://user-images.githubusercontent.com/38280500/116317210-f284cb00-a7aa-11eb-88c1-123866b71818.png)

![image](https://user-images.githubusercontent.com/38280500/116317221-f6b0e880-a7aa-11eb-87c4-0cb104

[2021-04-27 21:59] rahuljain1311 opened #74447 "Fix query"
The query for getting FQDN is currently not working. Below is the fixed query

`az network nic list --resource-group RESOURCEGROUP --output table --query "[?contains(name, 'node')].{NICname:name,InternalIP:ipConfigurations[0].privateIpAddress,InternalFQDN:dnsSettings.internalFqdn}"`

Difference is the "space" after name

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2021-04-27 22:01] adravi opened #74448 "Question"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53164eff-103d-eca4-525c-10d7a841fafe
* Version Independent ID: 49892013-e5d0-4d0a-dce7-18b7008bfe63
* Content: [Deploy Azure Monitor at scale using Azure Policy - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/deploy-scale)
* Cont

[2021-04-27 22:01] SatishBoddu-MSFT commented on #74408
Hello @jokoso
Our SME will review your feedback and will get back to you soon.

[2021-04-27 22:01] #74448 closed

[2021-04-27 22:04] SatishBoddu-MSFT commented on #74414
Hello @nelz75
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-27 22:06] adravi opened #74449 "How to select option "Resource specific" when creating Azure Policy definition?"
Hello,

Could you provide examples of how to select "Destination table: **Resource Specific**" for the Diagnostic Setting?
![image](https://user-images.githubusercontent.com/41981184/116318618-e298c700-a769-11eb-9363-75998a4fbb62.png)

When I create the policy definition using the script Create-AzPolicy.ps1, it selects the option: "Destination table: **Azure diagnostics**" by default.

Thanks.

--

[2021-04-27 22:07] ColeSiegelTR opened #74450 "API Management REST API Documentation for creating subscriptions is incorrect"
https://docs.microsoft.com/en-us/rest/api/apimanagement/2020-06-01-preview/subscription/createorupdate

When I click 'try it' the default request body is not correct:
[code]

Response:

[code]

It should be like this:

[code]

[2021-04-27 22:11] SatishBoddu-MSFT commented on #74414
Hello @nelz75

Could you please post your technical question on this product on [**Microsoft Q&A**](https://docs.microsoft.com/en-us/answers/questions/topics/single/25493.html), please use tag azure-iot-edge,  where there is a community that can help (plus the engineering team)

Please include all the information related to the error, if possible screenshots would help the team to better understan

[2021-04-27 22:12] TravisCragg-MSFT commented on #74129
@Herman5006 In the scenario you described, your VMs will still be able to use the NAT gateway. The doc's description of when it will not work in a specific zone is only when you deploy both your VMs and NAT Gateway into a specific zone. NAT Gateway(regional) is resilient by default and should not be affected by a zone failure.

I am going to close out this issue, please let me know if you have any

[2021-04-27 22:12] #74129 closed

[2021-04-27 22:15] mmacy commented on #73988
Checking into options for you, @trevorhawes. I can't guarantee anything but will let you know what I find out.

[2021-04-27 22:19] adravi commented on #74449
I think I found the answer.

Is it the property: `"logAnalyticsDestinationType": "Dedicated"`

Could you please confirm?

[2021-04-27 22:23] mike-urnun-msft commented on #74450
@ColeSiegelTR Thank you for your feedback! We will review and update as appropriate.

[2021-04-27 22:46] davidbel commented on #27800
Yes, still being worked on hoping to have something to share soon.

[2021-04-27 22:48] cijothomas commented on #74439
`services.ConfigureTelemetryModule<DependencyTrackingTelemetryModule>((module, o) => { module. EnableSqlCommandTextInstrumentation = true; });`

The above code won't show the warning you pasted. Can you check again if you are using right method?

The following is the obsolete method which would throw the warning:
[code]

[2021-04-27 23:00] SaurabhSharma-MSFT commented on #74447
@rahuljain1311 Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-27 23:03] RyanHill-MSFT commented on #73648
@robgale-FJ this should be fix with a pending doc update.

[2021-04-27 23:13] dcbrown16 commented on #14403
@duongau thanks, I'm actually in CSS so you can contact me at v-dibr if you need to. Due to some changes these cases aren't usually coming to my team now, but we got advisory inquiries almost every time an ER maintenance notification went out from multiple companies asking what to do. I don't have a good handle on the current situation, so if you want to close it wouldn't bother me personally, but

[2021-04-27 23:14] dcbrown16 commented on #38149
That should be fine, thanks.

[2021-04-27 23:14] #38149 closed

[2021-04-27 23:16] HeidiSteen commented on #74441
@jknorvik I'm going to go ahead and close this issue, per the pending work item.  If you feel there is anything else I need to know about this issue, feel free to reopen it.

#please-close

[2021-04-27 23:16] #74441 closed

[2021-04-27 23:17] jknorvik commented on #74441
Thanks

From: Heidi Steen ***@***.***>
Sent: Tuesday, April 27, 2021 6:16 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: jknorvik ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Shouldn't the skillset include OCR? The example files contain images that are not converted to text. (#74441)

@jknorvik<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.

[2021-04-27 23:20] jennyf19 commented on #74438
thanks @derisen

[2021-04-27 23:22] MarileeTurscak-MSFT commented on #72882
Is there maybe a policy in place that could be preventing the access? Otherwise it looks like you have the correct permissions. If you need a support case opened for this please feel free to email me at AzCommunity@microsoft.com ("Attn: Marilee Turscak") and include your subscription ID.

[2021-04-27 23:22] #72882 closed

[2021-04-27 23:28] #74336 closed

[2021-04-27 23:28] BharathNimmala-MSFT commented on #74448
@adravi Thank you for reaching out, not sure if you had any specific feedback or question regarding the documentation please feel free to circle back to us.

[2021-04-27 23:40] SaurabhSharma-MSFT commented on #74422
@juanandmsft Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-27 23:53] don007git commented on #73832
Thanks, that seems working. But wonder why no "Connect to Computer Instance" option as illustrated in the document, while I hover my mouse on the Compute instance..... below are my VS and AzureML Extension versions.  Thanks again

Version: 1.55.2 (user setup)
Commit: 3c4e3df9e89829dce27b7b5c24508306b151f30d
Date: 2021-04-13T09:35:57.887Z
Electron: 11.3.0
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8:

[2021-04-28 00:03] don007git commented on #73832
Also weird thing, now whenever I start my VS, it will automatically start THIS COMPUTE instance, I don't remember I did anything special with this INSTANCE, how that happens??

Thanks again,

Regards,

![image](https://user-images.githubusercontent.com/8097372/116326847-159f8280-a78b-11eb-9a82-5fc8d41fe198.png)

[2021-04-28 00:28] deryann opened #74452 "The dockerfile cannot read Miniconda3 correctly."
Miniconda3 cannot be found.

current code:
https://repo.anaconda.com/miniconda/Miniconda3-${CONDA_VERSION}-Linux-x86_64.sh

but real path:
Miniconda3-py37_4.9.2-Linux-x86_64.sh

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd073257-7b30-f956-05e1-3118db776efa
* Version Independent ID: c4282d40-dc34-fbe5-fb59-b2329e939

[2021-04-28 00:54] hrittikhere opened #74453 "View the IIS welcome page"
Hey,
Even after the steps mentioned on the page to configure the IIS welcome page on a  Windows Server 2019 - Gen 1, I couldn't even after trying several times. Maybe there are few steps missing and we need to work on that 💯

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55e23176-40c4-39bd-4f6f-cc48e518cf96
* Version I

[2021-04-28 01:16] cynthn commented on #52286
I'm just going through some older items and the section referenced in this issue is no longer in the doc. I'm not sure if this was fixed, then removed or if something else happened. If there is still some confusion, please reopen this issue or create a new one.

#please-close

[2021-04-28 01:16] #52286 closed

[2021-04-28 01:19] alirezazamani commented on #8512
https://dl.microsoft.com/eclipse does not exist anymore and service fabric cannot be installed

[2021-04-28 01:19] cynthn commented on #59234
@Karishma-Tiwari-MSFT I'm going through some old issues - do you know anymore about what is going on here? I'm not understanding what the issue is here or what needs to change in the document.

[2021-04-28 01:21] cynthn commented on #60236
This article was recently re-written and the offending sentence doesn't seem to be there anymore.

#please-close

[2021-04-28 01:21] #60236 closed

[2021-04-28 01:23] cynthn commented on #60245
The article in question has been removed and it now redirects to: https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/user-guide/nested-virtualization which states "Windows Server 2016/Windows 10 Anniversary Update or later."

#please-close

[2021-04-28 01:23] #60245 closed

[2021-04-28 01:24] npongo opened #74454 "python examples"
[Enter feedback here]
It would be nice to see some python examples along with the CLI and YAML.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b730fc95-951e-1acd-770d-88b3e6f2f6ef
* Version Independent ID: b6445fd2-46ea-aedd-2f2c-294faa660660
* Content: [Mount Azure Files volume to container group - Azure Container Ins

[2021-04-28 01:24] SaurabhSharma-MSFT commented on #74391
@Heman-ava  I am able to see the notebooks without any issues.
![image](https://user-images.githubusercontent.com/38112130/116331942-a7a48c80-a785-11eb-9324-7c6d3f7a2349.png)
Are you using the integrate tab on synapse studio ?  Please open a [Azure Support Ticket](https://aka.ms/azsupt) so that a support engineer can check further on this issue. In case you limitations in your support plan to open

[2021-04-28 01:26] cynthn commented on #61370
#reassign @mimckitt Looks like the screenshots are old? Assign it back to me if you want me to do the refresh :)

[2021-04-28 01:29] cynthn commented on #63441
#reassign @Karishma-Tiwari-MSFT The original article has been archived. It looks like there is an SDK example that needs to be updated - can you redirect this Issue to the author of the SDK article? https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-example-virtual-machines

[2021-04-28 01:34] cynthn commented on #64563
Sorry for the late response. The content in question has been archived. I think they best option would be to check the Security Center documentation to see if this is now supported.

#please-close

[2021-04-28 01:34] #64563 closed

[2021-04-28 01:35] cynthn commented on #67315
Sorry it has taken so long to respond. The article in question has been archived and now points to https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/user-guide/nested-virtualization.

#please-close

[2021-04-28 01:35] #67315 closed

[2021-04-28 01:40] BharathNimmala-MSFT commented on #74425
@saafh Our sincere apologies for the experience you are having with the document. I have assigned this issue to our document author @MGoedtel to further evaluate the feedback and get back to the thread. Thank you

[2021-04-28 01:44] cynthn commented on #71220
I think this might have been a bug that has since been fixed? If I go to "Disks" for an ephemeral VM it shows the OS disk, and I can click on it and see the disk details. It is also appended with "(ephemeral)".

#please-close

[2021-04-28 01:44] #71220 closed

[2021-04-28 01:44] IDQ-BTahedl opened #74455 "Unable to follow steps for adding Azure Front Door access to Key Vault"
Please disregard.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 105783bc-d51e-c199-7c51-1475bc9fbaa0
* Version Independent ID: 114c01b8-8b95-ff91-98c5-fd44b12ac6fc
* Content: [Tutorial - Configure HTTPS on a custom domain for Azure Front Door](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-custom-domain-h

[2021-04-28 01:47] #74455 closed

[2021-04-28 02:12] Izmiyash commented on #28301
current content in this FAQ is fine. Thank you for resolving issue. Please close this ticket.

[2021-04-28 02:31] KrishnaG-MSFT commented on #74427
@corydelamarter Thanks for your comment! We will review and provide an update as appropriate.

[2021-04-28 02:33] KrishnaG-MSFT commented on #74446
@mdlister Thanks for your comment! We will review and provide an update as appropriate.

[2021-04-28 02:35] KrishnaG-MSFT commented on #74449
@adravi Thanks for your comment! We will review and provide an update as appropriate.

[2021-04-28 02:36] KrishnaG-MSFT commented on #74433
@dan-tr Thanks for your comment! We will review and provide an update as appropriate.

[2021-04-28 02:38] Karishma-Tiwari-MSFT commented on #74212
We will now close this issue. Please help with more details on your ask and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-04-28 02:38] #74212 closed

[2021-04-28 02:39] KrishnaG-MSFT commented on #74441
@HeidiSteen Thanks for the super quick response. :+1:

[2021-04-28 02:41] KrishnaG-MSFT commented on #74442
@gvashishtha Thanks for the super quick response. :+1:

[2021-04-28 02:43] KrishnaG-MSFT commented on #74444
@shortpatti Thanks for the super quick response. :+1:

[2021-04-28 02:45] KrishnaG-MSFT commented on #74445
@shortpatti Thanks for the super quick response. :+1:

[2021-04-28 02:58] Karishma-Tiwari-MSFT commented on #74453
Thanks for the feedback! Are you talking about this document : https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-create-vmss ?
I do not see any IIS related information in the referenced page.

Please let me know. Thanks.

[2021-04-28 03:06] deryann commented on #74452
[code]
cannnt write a correct miniconda naming Miniconda3-py37_4.9.2-Linux-x86_64.sh

[2021-04-28 03:07] cijothomas commented on #74439
There is no doc issue. If there is warning when using the recommended method, then please open an issue in https://github.com/Microsoft/ApplicationInsights-dotnet

please-close

[2021-04-28 03:12] Karishma-Tiwari-MSFT commented on #74454
Thanks for the feedback. I couldn't find a documentation on the same. But there is an article about it here : https://kohera.be/tutorials-2/running-python-scripts-on-azure-with-azure-container-instances/

Hope it helps.

Disclaimer: This response contains a reference to a third party World Wide Web site.

Microsoft is providing this information as a convenience to you. Microsoft does not control t

[2021-04-28 03:28] hrittikhere commented on #74453
Hey @Karishma-Tiwari-MSFT  I think I had too many tabs opened and mistakenly clicked on the wrong issue.
I was talking about this page and the IIS related documentation at the bottom: [https://docs.microsoft.com/en-us/azure/virtual-machines/windows/quick-create-portal]( https://docs.microsoft.com/en-us/azure/virtual-machines/windows/quick-create-portal)

If you'd like I can close this one and crea

[2021-04-28 03:33] afield1235 commented on #74017
I am not talking about AAD, I am talking about AADDS, pretty big difference. Why can I login with Domain administrator account (vdiadmin@domain.com from AADDS) but not my account (also in AADDS)?

[2021-04-28 03:36] afield1235 commented on #74017
@GitaraniSharma-MSFT @SubhashVasarapu-MSFT
I am not talking about AAD, I am talking about AADDS (Domain Services), pretty big difference. Why can I login with Domain administrator account (vdiadmin@domain.com from AADDS) but not my account (also in AADDS)? That machine is domain bound, not Azure joined.

[2021-04-28 03:37] #74439 closed

[2021-04-28 04:18] DavidMwihuri01 commented on #70867
Thanks! @webash this is being worked on at the moment. I'll go ahead to close this GitHub Issue. Be sure t check out the updated page in the near future.

[2021-04-28 04:20] DavidMwihuri01 commented on #70867
Hi @webash, thanks so much for pointing this out. The article has been updated. I'll go ahead and close this for now, but please let us know if there's still an issue.
#please-close

[2021-04-28 04:20] #70867 closed

[2021-04-28 04:33] DishaAgarwal commented on #73530
We have added this to our backlog. Thanks for reporting.

[2021-04-28 04:44] memoryz opened #74458 "The "run_type" parameter in the "2.0/jobs/runs/list" API has no effect"
In [this](https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/jobs#--runs-list) section:

The "run_type" parameter is documented as "the type of runs to return". But in fact this parameter has no effect. See attached picture. When I filter the run list to JOB_RUN type, the returned run list still has SUBMIT_RUN type.

![image](https://user-images.githubusercontent.com/6992432/11

[2021-04-28 04:45] ram-msft commented on #74452
@deryann Thanks for the question. We are investigating the issue and will update you shortly.

[2021-04-28 04:46] DishaAgarwal commented on #74240
@sahithikkss  Can you please look into it.

[2021-04-28 04:46] YuichiTorigoe opened #74459 "Notes of availability set have been removed."
[Enter feedback here]

The following statement was made earlier.

https://github.com/MicrosoftDocs/azure-docs/commit/2936b7317a14bc9d6bb6772b774eb052d7b5c8a3

----

---

This description is now missing from the URL of the availability set.

https://docs.microsoft.com/ja-jp/azure/virtual-machines/availability-set-overview

Why did this disappear?
If it's still the same behavior as before, please le

[2021-04-28 04:49] prvempat commented on #74067
Thank you @BryanTrach-MSFT . Please let me know if there is any further info needed from my end and if there is any ETA to address the points mentioned in the feedback.

[2021-04-28 05:00] DishaAgarwal commented on #73530
This is fixed,

[2021-04-28 05:01] DishaAgarwal commented on #73385
@sahithikkss Can you please look into it?

[2021-04-28 05:20] mike-urnun-msft commented on #74183
That's great feedback, @JPalmerDev! Regarding:

Do you think a cautionary message (with a reference link to the doc) at VS Code side right before deployment would have made a better experience?

[2021-04-28 05:25] bigkangji opened #74460 "Azure portal menu changed, but the documents shows old contents"
From "Add peering" menu, the setting changed, but the documents still display old contents.

"Allow virtual network access" => "Traffic to remote virtual network"
"Allow forwarded traffic => "Traffic forwarded from remote virtual network"
"Allow gateway transit" => "Virtual network gateway or Route Server"

I attached the screenshot of current azure portal.

<img width="436" alt="Capture" src="htt

[2021-04-28 05:27] VikasPullagura-MSFT commented on #74459
@YuichiTorigoe
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-04-28 05:27] LukeShe opened #74461 "Custom domain transfer Issue"
[Enter feedback here]
Hello, I have a registered Wordpress domain and am trying to transfer the domain to Azure. I can get the Azure site to accept www cname host, but it won't accept the domain without the www. I would like potential visitors of the site to type in the domain without the www and be sent to the Azure static page I have created.

---
#### Document Details

⚠ *Do not edit this secti

[2021-04-28 05:28] SubhashVasarapu-MSFT commented on #74460
@bigkangji, Thanks for reaching out. We will investigate and update this thread.

[2021-04-28 05:28] VikasPullagura-MSFT commented on #74459
@mimckitt
Can you please check and add your comments on this doc update request as applicable.

[2021-04-28 05:36] PramodValavala-MSFT commented on #74369
@opticyclic Just following up here... Hope my previous comment clears things up.

[2021-04-28 05:46] KrishnaG-MSFT commented on #73650
@wtnlee Thanks for the response. 👍
@rockboyfor Can you please answer the question from @wtnlee?

[2021-04-28 05:47] hhasanmd opened #74462 "Wrong Powershell command syntax"
Set-AzContext -Subscription -Subscription <SubscriptionId>

Option "-Subscription" should be only once. Like below

Set-AzContext -Subscription <SubscriptionId>

Thanks,
Hasan
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 288f8109-44b2-99b4-118b-b26c54326aad
* Version Independent ID: 66c3e929-608c-6f7b-653d-ca043dcafec

[2021-04-28 06:07] VikasPullagura-MSFT commented on #74462
@hhasanmd Thanks for pointing this out. The document is updated and changes will go live soon.

[2021-04-28 06:10] #74462 closed

[2021-04-28 06:14] Jordithecloud commented on #74317
@YutongTie-MSFT: b9936f95-44b4-433d-be79-5a3db7765380

[2021-04-28 06:14] #74317 closed

[2021-04-28 06:32] MS-jeremy opened #74463 "Consistency levels and data durability table"
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/cosmos-db/consistency-levels#rto
In this table, for the first row:
Region(s) | Replication mode | Consistency level | RPO | RTO
-- | -- | -- | -- | --
1 | Single or Multiple write regions | Any Consistency Level | < 240 Minutes | <1 Week

If the region is 1, may I know how the replication mode can be **multiple write regions**?

---
####

[2021-04-28 06:35] munir94 opened #74464 "onboard exisiting posgresql flexible server to Azure DNS"
Hello there,

is there a way to onboard existing posgresql flexible to Azure DNS  that been deployed before the  integration with Azure private DNS release ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dfacd9d-6903-1cd0-2db7-110b70e14d3b
* Version Independent ID: 4c3e1d9f-ba8e-5dfd-8dd9-f1695456775f
* Content: [Net

[2021-04-28 07:01] AnuragSharma-MSFT commented on #74464
@munir94 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-04-28 07:13] sahithikkss commented on #74240
In update call, "id": 0 is an invalid input. As QnA Ids are assigned from 1 onwards.
One needs to download a KB and check the Ids that are assigned to each QnA and then issue an update API call for those QnAs to be updated (referring the ids assigned).
In create call, user given ids are ignored by default.

[2021-04-28 07:28] xps233 commented on #73800
Hi @SumanthMarigowda , Would you like get issue reopened, so discuss might able to keep on...

[2021-04-28 07:33] tesharp opened #74465 "Datadog region"
When trying to create datadog resource it only has West US 2 as region, which also is stated in documentation. However if trying to link to an existing organization in datadog I can select EU as region for datadog and authorize (in popup to authorize for datadog). It allows this and can proceed to creation step. When running deployment I get a Bed Request though and it fails creating the datadog r

[2021-04-28 07:54] guyhorn1964 commented on #74340
I'm saying that the Creator has more rights than the owner but the table is not showing that. Iaw the table is wront.

From: James Hamil ***@***.***>
Sent: dinsdag 27 april 2021 23:06
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: guyhorn1964 ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] The Catalog Creator rights (#74340)

Hi @guyhorn1964<https://emea01.safelinks.prote

[2021-04-28 07:58] vijayysisodia opened #74466 "Inconsistency between subnet creation command description and actual command line snippet"
It seems there is an inconsistency between description and command line code snippet for section containing "How to create a new subnet using Powershell script. Below is the image screenshot with observed issue (potential)
![image](https://user-images.githubusercontent.com/74704969/116367734-4633fa80-a825-11eb-833d-ae81d9e2b218.png)

---
#### Document Details

⚠ *Do not edit this section. It is re

[2021-04-28 08:13] CHEEKATLAPRADEEP-MSFT commented on #74411
@el-aasi Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/156335](https://github.com/MicrosoftDocs/azure-docs-pr/pull/156335)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2021-04-28 08:14] shanjin90 opened #74467 "b2c"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75e17529-8b8a-1d67-f0e1-840d1d3ca990
* Version Independent ID: 265645df-ef21-4631-1744-7014b3ee681a
* Content: [Authentication and authorization - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/overview-authentication-authorizat

[2021-04-28 08:14] #74467 closed

[2021-04-28 08:15] #74411 closed

[2021-04-28 08:18] CHEEKATLAPRADEEP-MSFT commented on #74458
@memoryz Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-28 08:35] sahithikkss commented on #74240
Also, @muniz034 you can use below json format to add qna and prompts simultaneously without assigning ids. Just FYI.
[code]

The above will create 3 QnAs like below
[code]

[2021-04-28 08:39] RutgerKosters opened #74468 "Add explanation on latency metrics"
I think it would be a good idea to add some more clarification on how the volume latency is measured for _Average Read Latency_ and _Average Write Latency_. These metrics are measured inside the storage system and do not include any network latency. I've seen this cause some confusion working with a couple of customers.

Suggested new text:

      Performance metrics for volumes

      Average Rea

[2021-04-28 08:39] vussan commented on #74197
Thanks, it worked.

[2021-04-28 08:39] #74197 closed

[2021-04-28 08:55] GitaraniSharma-MSFT commented on #74466
@vijayysisodia , thank you for the feedback. We'll review this and get back to you shortly!

[2021-04-28 09:06] MrAzureAD opened #74469 "Office Apps Admin does not work with cloud groups"
Please add Office Apps Admin to the known issues list as it is also not working with cloud groups.
This was confirmed by premier support / PG (TrackingID#2102160050001368).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1414bc2-4151-b667-65f5-b44f2bf582a1
* Version Independent ID: b93aee66-1769-8d98-fea5-ebca3a12d5fc

[2021-04-28 09:09] aripp commented on #74225
Hi Yoel

I posted the problem in Microsoft Q&A. Please read the detailed use case
there.

https://docs.microsoft.com/en-us/answers/questions/369046/api-connector-continue-content-response-with-updat.html

I also reported the problem with the Microsoft sample "User flow sign-up
customization using C# .NET Core Azure Function and API connectors" on
Github.

https://github.com/Azure-Samples/active-di

[2021-04-28 09:14] jokarl opened #74470 "Relation between agent configured in config.yaml and in edge deployment"
I recently upgraded one of our devices to `1.0.10` to `1.1.1`. I noticed that `1.1.1` package installs a new template, and the agent configuration in that looks like this:

[code]

Our pre-existing config.yaml has this config:
[code]

When we deploy to our devices, we use a deployment schema and assign that using az cli. I simply point to the rolling tag:
[code]
I guess this is equivalent to the s

[2021-04-28 09:18] MrAzureAD commented on #74469
Realized that this was already added.

[2021-04-28 09:18] #74469 closed

[2021-04-28 09:32] alijahnas opened #74471 "[AKS] Conflict between cluster autoscaler and nodepool deletion"
When deleting a nodepool that has cluster autoscaler enabled, the pods that are scheduled on the nodes in that nodepool are rescheduled, and they trigger an autoscale operation in the nodepool if they don't find a new node (because of taints or something else), because the existing nodes in the nodepool are disabled.

So the operation of deleting the nodepool fails.

To avoid this conflit, one sho

[2021-04-28 09:34] nvankesteren commented on #74294
Whoops, celebrated too soon. While inspecting the first link, I did not find any code, so I clicked on the "Browse on GitHub" link, and got a 404 again...

[2021-04-28 09:38] meken opened #74472 "Incomplete docs and/or configuration mismatch wrt OpenOCD"
I've been following the docs to configure an AZ3166 device on Linux (Ubuntu 20.04 LTS), however while trying to follow the instructions to install ST-Link drivers, there's a reference to a directory that doesn't exist `~/.arduino15/packages/AZ3166/tools/openocd/0.10.0/linux/contrib/60-openocd.rules`. Now, the `contrib` directory is actually available at a different level, so I can make that part w

[2021-04-28 09:40] jokarl opened #74473 "Modules never reconnect after updating from 1.0.x to 1.1.x"
I followed the steps in the documentation, and I now have a rolling tag of 1.1:
[code]
My step for deploying runtime containers differs slightly in that we have it automated and deploy using `az iot edge deployment create`. The systemModules section looks like this:

[code]

I created a new deployment, where the only change was the versions of the system modules. I can see that they are successful

[2021-04-28 09:47] AshokPeddakotla-MSFT commented on #74472
@meken Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-28 10:07] jcruiz commented on #74331
@anotherrohit can you confirm if you hit the error once you scan the barcode or in the step after that once you are receiving a response from scanning the barcode?

to reproduce the steps are:

1. node app.js on the `verifier` app
2. ngrok 8082
3. click on the <https:// proxied URL>
4. scan the bar code
5. observe the error

Is that correct?

[2021-04-28 10:18] GitaraniSharma-MSFT commented on #74198
@rajsshah86 , I did a lab setup on this scenario and below are my findings:

- You can deploy Azure Bastion to a Vnet which is linked to a private DNS zone but only if the private DNS is not in service (which means the DNS zone is not integrated with any Private endpoint service).
- You can also deploy Azure Bastion to a Vnet which is linked to a private DNS zone and the DNS zone is integrated to

[2021-04-28 10:30] psmanhas commented on #73672
@Andytrop Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-04-28 10:30] #73672 closed

[2021-04-28 10:47] dscaravaggi opened #74476 "Roadmap for Spark 3.x"
[Enter feedback here]
I noticed that spark version is 2.4.4 , and relative ODBC connector
I there any planned roadmap for supporting Apache Spark 3.x series, with relative upgrade to Microsoft spark ODBC

I would like to access my on-premise datalake based on spark 3.1
Is it possible to force the current microsoft  apache spark odbc to read from  3.x  (3.1.1 exactly)

Thanks a lot for support

---

[2021-04-28 11:04] SwathiDhanwada-MSFT commented on #74433
@dan-tr  I have checked page load in Safari browser, it worked well. It could be an intermittent issue for you. Kindly check again and revert if you are still facing issue with below information.

- Is the page load issue is with this specific page or all Azure documents ?
- Region from where you are accessing the page.

[2021-04-28 11:05] tarosler commented on #74399
@TakashiTerasawa  - can you please elaborate what is unclear in the doc?

[2021-04-28 11:48] umarlatif-lab opened #74478 "Link to mapping file"
At the top of the article it states that a full list of controls/mapping is available at [Link]. The link directs to a repo and there is no obvious mapping file for Windows Virtual Desktop contained within.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3dab642-7af7-8416-5d43-444472d426fb
* Version Independent ID: d47

[2021-04-28 11:49] lakshyanits opened #74479 "BotState object keeps value from other conversations"
I am trying to save a object in BotState as below
`
 protected readonly BotState ConversationState;
        protected readonly BotState UserState;

        public DialogBot(ConversationState conversationState, UserState userState)
        {
            ConversationState = conversationState;
            UserState = userState;
        }

        public override async Task OnTurnAsync(ITurnContext tu

[2021-04-28 12:03] SnehaAgrawal-MSFT commented on #74461
@LukeShe Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-28 12:12] John-Garland opened #74481 "Doc should consider including a callout/warning about non-obvious side-effect related to Permissions when applying this technique"
This page should include an indication (perhaps a call-out box) that enabling this setting will remove users' ability to consent to permissions in applications, regardless of whether the permissions are scoped to user or administrator.  The only other real mention of this behavior is hidden in the tooltip (excerpt below):

_This option only functions with the following application types: applicati

[2021-04-28 12:30] NavtejSaini-MSFT commented on #74373
@rhamlett Your screenshots didnt come correctly as we think you have mailed them. Can you please reiterate your follow up questions and add the screenshots and doc references again.

[2021-04-28 12:38] mohatb commented on #74206
@Karishma-Tiwari-MSFT can you please share an update on this ? please let me know if you need us to directly create a PR instead, but I thought maybe the team should have more insights on the cause.

[2021-04-28 13:03] psmanhas commented on #74478
@umarlatif-lab
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-04-28 13:03] psmanhas commented on #74478
@msmbaldwin Can you please check and add your comments on this doc update request as applicable

[2021-04-28 13:12] joergrenn commented on #73770
Hi @JamesTran-MSFT, I am asking how I can setup a dynamic group based on the costCenter property.
I linked to the graph documentation because that is the only place where I found that this property apparently exists in AzureAD on a user object.
There is no mention of this property on the docs page for dynamic group memberships, hence my question.
I imagine that it must be something like "user.empl

[2021-04-28 13:26] KrishnaG-MSFT commented on #74479
@lakshyanits Thanks for reaching out!

[This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so can you please share the Azure document link to which your feedback is related. Also, please elaborate what's you

[2021-04-28 13:26] laughingman42 opened #74483 "Clarification on license"
"Valid License" and "Licenses you have" sections only refers to Azure AD P2 licenses as a requirement. "When a license expires" mentions E5 license as well. Is E5 a valid and sufficient license to use PIM? Or do users still need Azure P2 licenses as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61f24489-ccff-463

[2021-04-28 13:31] CHEEKATLAPRADEEP-MSFT commented on #74476
@dscaravaggi  Thanks for the question! We are investigating and will update you shortly.

[2021-04-28 13:33] gebbetta opened #74484 "PTA with multi-forest DNS suffix search order"
We have PTA configured with multiple forests with forest-level trusts.

We were unable to get PTA to work in a forest other than the one the PTA agents were installed in. The trace and event logs provided no clue, all you see is error 1326 (invalid username or password), also there are no clues in AzureAD authentication logs again we see only invalid username or password.

_Invoke-PassthroughAuthO

[2021-04-28 13:34] gebbetta commented on #74484
Hopefully this information will be useful to someone else in future!

[2021-04-28 13:42] msmbaldwin commented on #74478
Hi @umarlatif-lab, and thank you for the feedback.  The full mapping file for Windows Virtual Desktop is within the [1.1 directory](https://github.com/MicrosoftDocs/SecurityBenchmarks/tree/master/Azure%20Offer%20Security%20Baselines/1.1). Here is the direct link: https://github.com/MicrosoftDocs/SecurityBenchmarks/blob/master/Azure%20Offer%20Security%20Baselines/1.1/windows-virtual-machines-securi

[2021-04-28 13:42] #74478 closed

[2021-04-28 13:46] KrishnaG-MSFT commented on #74484
@gebbetta Thanks a lot for sharing the information.

But just FYI, [this](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository just deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so going forward if you raise an issue in this azure-docs repository then please sh

[2021-04-28 13:48] KrishnaG-MSFT commented on #74455
@IDQ-BTahedl Hope you have self resolved and hence closed & edited the issue. Thanks for the update.

[2021-04-28 13:49] KrishnaG-MSFT commented on #74467
@shanjin90 Hope you have self resolved and hence closed the issue. Thanks for the update.

If that's not the case, please elaborate your feedback.

[2021-04-28 13:51] KrishnaG-MSFT commented on #74469
@MrAzureAD Glad to know that you have self resolved and hence closed the issue. Thanks for the update.

[2021-04-28 13:51] gebbetta commented on #74484
The page is https://docs.microsoft.com/en-us/azure/active-directory/hybrid/tshoot-connect-pass-through-authentication

I thought it might be help to add this issue to the page in case someone else encounters it.

[2021-04-28 13:52] NavtejSaini-MSFT commented on #74463
@MS-jeremy We are checking this and will get back to you.

[2021-04-28 13:53] joaopmartinezn opened #74485 "Page Update Needed"
Hi everyone!
I hope you're doing great :)

Just want to mention that this page needs an update as Atlassian have patched something called [Authentication policies ](https://confluence.atlassian.com/cloud/authentication-policies-1018779823.html). This changes both the UI and how SAML is applied to accounts. Can you please revamp that doc to add those changes?

Thanks in advance.

João.

---
#### Do

[2021-04-28 13:59] asergaz commented on #74470
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-28 14:03] asergaz commented on #74473
Thank you @jokarl for rasising this concern and sorry that the documentation wasn't clear meantioning that the iotedge runtime needed to be restarted. @kgremban can you help me understand if this is an issue in the product or something by design and we can enhance the documentation mentioning that after uptade the iot edge version on devices "restart the container or restart the entire iotedge run

[2021-04-28 14:11] psmanhas commented on #74393
@KonTheCat I would say that must have happened because, if you have already added the custom domain to Azure DNS, then you might have already done the txt record verification. Microsoft will always need the confirmation that customer own that custom domain, and the way to do it is through that txt entry.
Regarding the email discovery, the MX records for the custom domain have to be there added in

[2021-04-28 14:20] kobulloc-MSFT commented on #74294
Looking at the Browse on GitHub link, I'm seeing the same thing as well.  These are missing from the documentation folder that used to have them so I'm going to assign this to the document author for resolution.

[2021-04-28 14:22] SandyWare opened #74486 "Partion failed to reszie"
[Enter feedback here]
 partition is failed to resize.  after resize it don't take a new size. I tried it multiple times.

---
#### Document Details
[code]
[code]
I tried 250 GB, It doesn't work.
[code]

Reference :[MS Doc Refernce]( https://docs.microsoft.com/en-us/azure/virtual-machines/linux/expand-disks)

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2021-04-28 14:29] PortableTech opened #74487 "Provide License List in Downloadable Format"
On the site

https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/licensing-service-plan-reference

Please make a CSV downloadable version of the data available.  The wide list inside a scroll box is very unfriendly to use and extracting the data for use in scripts or other purposes is inefficient at best.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-04-28 14:33] Enosinger opened #74488 "Initial configuration with MSAL.forRoot() seems not be working anymore"
Trying to get an angular app running and working with MSAL, we get the impression that the documentation is not up to date here anymore. Especially the MSAL.forRoot function seems to require additional arguments now. And there seems to be a Factory-Implementation required to correctly get it working in Angular.

So please have a look or let me know if that is still up to date for the community :)

[2021-04-28 14:42] anotherrohit commented on #74331
Correct the error occurs immediately when the barcode is scanned

On Wed, Apr 28, 2021 at 3:08 AM Juan Camilo ruiz ***@***.***>
wrote:

[2021-04-28 14:55] bmvalente opened #74490 "Provide clearer guidance on how to replace the MSCA tools for alternatives when using Azure DevOps"
Its still not clear how this will affect our customers. If MCSA is being retired, we should have a table mapping the alternative for each tool in the post-retirement reality for MCSA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4ede120-eba4-51e3-3b40-9c214375990f
* Version Independent ID: a24e2a42-dc7f-4537-ac0f-8d

[2021-04-28 14:58] MarcLaf opened #74491 "Incorrect Sign On URL"
In this guide the Sign On URL is stated as https://www.samsungknox.com but that is the Identifier (Entity ID). In the Samsung SSO Guide they indicate the Sign on URL to be https://accounts.samsung.com but that does not work either. I was able to find another site which lists https://www2.samsungknox.com/en/sso/login/ad as the Sign on URL which does redirect properly however I've been unable to get

[2021-04-28 15:08] SumanthMarigowda commented on #74395
@xinmeng2
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-28 15:13] splowman-FormFast opened #74492 "example doesn't work."
no matches for kind "Ingress" in version "networking.k8s.io/v1"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd0e7d5a-37e9-07dc-f395-9cb5bb580e45
* Version Independent ID: 7e4faf70-9724-7e7b-832b-1cd99a974920
* Content: [Create an ingress controller - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/a

[2021-04-28 15:28] SumanthMarigowda commented on #74486
@SandyWare I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-28 15:28] #74486 closed

[2021-04-28 15:32] BehbudSh opened #74494 "Improvement on python script"
Hey dear Microsoft Team, I'd like to suggest updating line 61 on this py [script](https://docs.microsoft.com/en-us/azure/databricks/dev-tools/ci-cd/ci-cd-azure-devops#install-the-library-on-a-cluster), because it's not working properly if the DBX cluster's library not installed at the moment, this script gets the NoneType value from DBX status. That is why I've updated your script like below:

`if

[2021-04-28 15:33] KrishnaG-MSFT commented on #74484
@gebbetta Sure. Thanks for sharing the Azure document link.

Assigning this to AAD Community SME to review and take action as appropriate.

[2021-04-28 15:44] MarcLaf commented on #74491
I managed to get it working and the URL that works is https://www2.samsungknox.com/en/sso/login/ad

[2021-04-28 15:45] MarileeTurscak-MSFT commented on #74128
Yes, it is licensed at the tenant level, but per your licensing agreement you need a Premium P1 license for each user that is enabled for Azure MFA. https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-mfa-licensing

With the free plan you get not Azure MFA, but security defaults which are a stripped down Authenticator app-only version using what used to be baselines. It

[2021-04-28 15:45] #74128 closed

[2021-04-28 15:46] vlado101 opened #74495 "Issue with Self Hosted IRs sharing Activity Run id to Control-M (external scheduling tools)"
Hello,

We are having an issue where we have Control M v9.19.200 and we are trying to use it to schedule and run ADF job.

We are using an API that is provided by Control M and it matches to what is provided in this document, however the issue that we get is that we would have a couple of it executing jobs successfully and getting the Activity Run ID, but then Control-M fails a job even though in

[2021-04-28 15:51] shashishailaj commented on #74491
@MarcLaf Thank you for sharing that , We have engaged the author for review and update as needed.

[2021-04-28 15:52] shashishailaj commented on #74490
@bmvalente thank you for your feedback . We will check this internally with the authors and update the thread.

[2021-04-28 15:53] mimckitt commented on #74459
Resolved. Will be live later today.

#please-close

[2021-04-28 15:53] #74459 closed

[2021-04-28 15:55] shashishailaj commented on #74481
@John-Garland Thank you for your feedback on this. We are engaging the author on this request to see how best the ideas shared can be incorporated in the document .

[2021-04-28 16:10] ghogen commented on #73740
I reported this to the engineering team, and I'm told it's fixed internally. The fix will go out on 5/11 as part of 16.9.5 and 16.10 Preview 3.

[2021-04-28 16:17] shashishailaj commented on #74483
@laughingman42 Thank you for your query. E5 licenses include the Azure AD P2 capabilities so you should be able to use PIM if you have assigned E5 license to the user. Let us know in case you have any further queries.

[2021-04-28 16:19] shashishailaj commented on #74485
@joaopmartinezn Thank you for providing us that info . We have engaged the content team to review and update  the document after proper testing .

[2021-04-28 16:20] duongau commented on #28301
#please-close

[2021-04-28 16:20] #28301 closed

[2021-04-28 16:22] jonburchel commented on #50030
@mtiwa1983, thank you for your question.  I do find this error code is now documented in the [ADF Troubleshooting Guide](https://docs.microsoft.com/en-us/azure/data-factory/data-factory-troubleshoot-guide).  The message has changed slightly from the message you received in your original post though, as @stiankrey noted.  The guidance there for error code 3208 suggests:

Cause: The network connecti

[2021-04-28 16:22] #50030 closed

[2021-04-28 16:28] shashishailaj commented on #62184
This has been updated. #please-close

[2021-04-28 16:28] #62184 closed

[2021-04-28 16:30] jonburchel commented on #60901
@sebcruz, thank you for catching this.  I updated the [Azure Data Factory Troubleshooting Guide](https://docs.microsoft.com/en-us/azure/data-factory/data-factory-troubleshoot-guide?branch=master) to include this error message for error 3202 as well.  I will close this issue out now but you can still reply here and the discussion can continue if necessary later.

#please-close

[2021-04-28 16:30] #60901 closed

[2021-04-28 16:32] shashishailaj commented on #74487
@PortableTech Thank you for your feedback . We have assigned this to the author and would have this checked on how best the automation request can be processed.

[2021-04-28 16:32] shashishailaj commented on #60395
linking #74487

[2021-04-28 16:43] PramodValavala-MSFT commented on #74360
@johol545 Sorry about that. I misunderstood earlier.

Looks like though the option is called `maxRetryCount`, [this line](https://github.com/Azure/azure-webjobs-sdk/blob/3f4ec78be9f43bb041937425ced00b341883aa42/src/Microsoft.Azure.WebJobs.Host/Executors/FunctionExecutorExtensions.cs#L69) counts the number of the attempts instead. @craigshoemaker @alrod

So, I think 1.6 is the second delivery but t

[2021-04-28 16:44] todom-sp commented on #21025
This is quite frustrating. Experiencing the same issue - on a machine that connects fine when booted into Windows, meaning it can't be an issue with anything outside of the Linux configuration on this machine.

[2021-04-28 16:50] DerekHerman-MSFT commented on #74468
@RutgerKosters  Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-28 17:00] rp-msft opened #74498 "Managing zone configuration for volumes, add more examples on how to manage zone configuration for volumes. Limitations with managed disks and zone redundancy should also be detailed."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 471c32a2-1f6a-88d1-7df4-80b8f6fbc4a4
* Version Independent ID: 10de5ee1-942d-e30f-5f0c-f163bd45904d
* Content: [Use availability zones in Azure Kubernetes Service (AKS) - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/availabilit

[2021-04-28 17:05] jongio opened #74499 "Upgrade to .NET 5 - Tutorial: Build an ASP.NET Core and Azure SQL Database app in Azure App Service"
This article uses .NET 3.1 - since .NET 5 has RTM'd shouldn't we update it to .NET 5?

https://docs.microsoft.com/en-us/azure/app-service/tutorial-dotnetcore-sqldb-app?pivots=platform-linux

ddcc1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df55b676-8ff7-1470-3525-d0edfd406af6
* Version Independent ID: ac264c26-7196

[2021-04-28 17:07] MGoedtel commented on #74425
@saafh - I've reviewed the tutorial and I've identified what is logically wrong with the example code block for authenticating using the Run As account certificate.  I also see a couple of other items that need to be addressed in the article, so I'm going to bug this and get an updated and working version published this week. I'm currently addressing the quality issues with our vendor supporting o

[2021-04-28 17:08] SaurabhSharma-MSFT commented on #74465
@tesharp Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-04-28 17:09] jonburchel commented on #69584
@ecrutchfield, thanks for reporting this issue and helping improve the docs!  The document has been updated and this error message included in the Troubleshooting Guide now.  I will close this issue out now but you can still reply if you have other questions or need to continue the discussion here.

#please-close

[2021-04-28 17:09] #69584 closed

[2021-04-28 17:10] b-juche commented on #74468
Thanks, @RutgerKosters!  Will loop in others through email about these changes.

[2021-04-28 17:10] MarileeTurscak-MSFT commented on #74488
@Enosinger
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-28 17:16] tfitzmac commented on #74465
@sthirthala - should we add a note when linking to an existing organization that the location is limited?

[2021-04-28 17:25] spelluru commented on #73912
#please-close

[2021-04-28 17:25] #73912 closed

[2021-04-28 17:26] deshriva commented on #74476
@dscaravaggi : HDInsight rolled out Spark 3.0, it in Preview now - https://azure.microsoft.com/en-us/updates/apache-spark-30-is-now-available-for-preview-in-hdi-40/

[2021-04-28 17:26] KranthiPakala-MSFT commented on #74494
@BehbudSh
Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-04-28 17:27] BhargaviAnnadevara-MSFT commented on #74357
@wteuee We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-04-28 17:27] #74357 closed

[2021-04-28 17:28] SaurabhSharma-MSFT commented on #74471
@alijahnas Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-28 17:29] KranthiPakala-MSFT commented on #74495
@vlado101
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-04-28 17:31] viniciustotti commented on #74159
Thank you so much for your reply @Careyjmac.
I'm designing a feature into the company platform and I just want to make sure that we could rely on that implementation using the object:

[code]

[2021-04-28 17:31] #74252 closed

[2021-04-28 17:33] JasonFreeberg commented on #74415
Hi @kjeske -- what's the name of your web app?

[2021-04-28 17:34] YutongTie-MSFT commented on #74317
You have been enabled for one-time Free Technical Support. To create the support request, please do the following as detailed below. It may take up to 1 hour for the free support ticket enablement to go through.

•         Go to the Health Advisory section within the Azure Portal: https://aka.ms/healthadvisories
•         Select the Issue Name "You have been enabled for one-time Free Technical Sup

[2021-04-28 17:37] RyanHill-MSFT commented on #74499
Thanks for the feedback @jongio! I have assigned the content author to update the document as appropriate.

[2021-04-28 17:39] jongio opened #74501 "Create/Get Connection String - Tutorial: Build an ASP.NET Core and Azure SQL Database app in Azure App Service"
Should this be "Create connection string" or "Get Connection string"

![image](https://user-images.githubusercontent.com/2163001/116448357-e3833480-a80d-11eb-893a-6ea1eeeb201f.png)

https://docs.microsoft.com/en-us/azure/app-service/tutorial-dotnetcore-sqldb-app?pivots=platform-linux

ddcc1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2021-04-28 17:41] jongio opened #74502 "Tell user why running dotnet-ef tool - Tutorial: Build an ASP.NET Core and Azure SQL Database app in Azure App Service"
We tell the user to run the dotnet-ef tool, but don't tell them more about the tool or where to find more info.  I'm guess people will be reluctant to install things they can't find more info about

![image](https://user-images.githubusercontent.com/2163001/116448660-365cec00-a80e-11eb-9a64-3df9234e48bb.png)

https://docs.microsoft.com/en-us/azure/app-service/tutorial-dotnetcore-sqldb-app?pivots=p

[2021-04-28 17:42] jongio opened #74503 "Is db local or in Azure? - Tutorial: Build an ASP.NET Core and Azure SQL Database app in Azure App Service"
At this point in the doc.
![image](https://user-images.githubusercontent.com/2163001/116448743-4d9bd980-a80e-11eb-9fb8-61687dbe006f.png)

The app is running, but I don't know what database it is using.  Is it using a local version of SQL?  We should tell the user.

https://docs.microsoft.com/en-us/azure/app-service/tutorial-dotnetcore-sqldb-app?pivots=platform-linux

ddcc1

---
#### Document Detai

[2021-04-28 17:46] zuboje opened #74505 "THis page is outdated"
[Enter feedback here]
This document is outdated, following this tutorial does not create sample app. For example:

Msal.Module.forRoot expects 3 arguments but in your tutorial only 2 are provided. If you move area that containts "consentScopes" as a third argument (probably type on your end) different error comes up. In the end this sample is a struggle for anyone attempting to use MSAL with Angul

[2021-04-28 17:47] b-juche commented on #74468
Changes implemented and merged for publishing.

Added a note under subsection "Performance metrics for volumes" --

#please-close

[2021-04-28 17:47] #74468 closed

[2021-04-28 18:00] jongio opened #74506 "EF knowledge assumption - Tutorial: Build an ASP.NET Core and Azure SQL Database app in Azure App Service"
This article assumes the user knows what EF is and what EF migrations are.  It could explain what is happening with more detail.

https://docs.microsoft.com/en-us/azure/app-service/tutorial-dotnetcore-sqldb-app?pivots=platform-linux

ddcc1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df55b676-8ff7-1470-3525-d0edfd406

[2021-04-28 18:04] vlado101 commented on #74495
@KranthiPakala-MSFT Understood, thank you for your help on this.

[2021-04-28 18:11] Jordithecloud commented on #74317
@YutongTie-MSFT 2104280050003348

[2021-04-28 18:15] mmacy commented on #73988
@trevorhawes Thanks for your request. Because we're focused on creating and maintaining code samples for only those versions of the Microsoft Authentication Library (MSAL) that we build, we don't currently have a PHP code sample (as you've noted).

Having said that, the Microsoft identity platform is a standards-compliant [OpenID Certified](https://openid.net/certification/) identity provider (lis

[2021-04-28 18:15] MGoedtel commented on #74425
I've completed the necessary edits and verified the tutorial works. The updated article will go live later today. #please-close

[2021-04-28 18:16] #74425 closed

[2021-04-28 18:42] sunnyhay commented on #37881
I'm facing the same issue when trying the tutorial provided in this page: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-and-where?tabs=python
When @YutongTie-MSFT provided the article, its #get-the-container-registry-credentials has been removed. So please let me know the steps to setup ACR credentials when running the scripts in this article. Thanks!

[2021-04-28 18:50] jonburchel commented on #70114
Thanks for catching this and helping improve our documentation @dbreit7!  I updated this doc to correctly reflect the path and current version's service name.  It should appear later today.  I will close this issue out now but if you have other questions or need to continue the discussion you can reply here still.

#please-close

[2021-04-28 18:50] #70114 closed

[2021-04-28 18:54] AnuragSharma-MSFT commented on #74247
@cc-laura We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-04-28 18:54] #74247 closed

[2021-04-28 18:55] hansmbakker opened #74508 "Why is filtering by X-Azure-FDID recommended over X-Forwarded-Host"
`X-Forwarded-Host` is the "recognizable" hostname of Front Door that requests are made to. It is filled by Front Door and cannot be faked by users, as I understand from https://docs.microsoft.com/en-us/azure/frontdoor/front-door-http-headers-protocol#front-door-to-backend.

However, in the section [`How do I lock down the access to my backend to only Azure Front Door?`](https://docs.microsoft.com/

[2021-04-28 18:59] jatinas commented on #74239
@gechu, sorry for the delay. The answers depend on your computed signal needs. Some suggestions for a solution can be found in the "Operational analysis and driving process efficiency" section, like: "Perform data processing and computations. Funnel ingested data through services such as Stream Analytics, Logic Apps, and Azure Functions. The service you use depends on the specific data-processing

[2021-04-28 19:00] msmbaldwin commented on #69125
Hi, @DeanGross. We recently migrated all of the security benchmark and baseline articles to a new repo, and you can now file Github Issues against all of them.  Thanks! #please-close

[2021-04-28 19:00] #69125 closed

[2021-04-28 19:08] RyanHill-MSFT commented on #74501
Thanks for the feedback @jongio! We'll get the doc updated to be more concise.

[2021-04-28 19:11] NeilDechert opened #74511 "Enable new hit highlighting behavior on old service"
Is there any way to enable the new hit highlighting behavior for search services created before July 15, 2020 without fully recreating the search services and all indexes?  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e12a8976-0a1d-c1ea-994d-ddc57d6e468b
* Version Independent ID: cb0473e9-8f4f-3eab-13fc-dd36f

[2021-04-28 19:15] #74501 closed

[2021-04-28 19:19] RyanHill-MSFT commented on #74502
Thanks for the feedback @jongio. The doc instructs the reader to run the doc locally, so the database being local is implied. In the next section, https://docs.microsoft.com/en-us/azure/app-service/tutorial-dotnetcore-sqldb-app?pivots=platform-linux#create-production-sql-database, they are then instructed to deploy that _local_ database to Azure.

[2021-04-28 19:19] RyanHill-MSFT commented on #74503
Thanks for the feedback @jongio. The doc instructs the reader to run the doc locally, so the database being local is implied. In the next section, https://docs.microsoft.com/en-us/azure/app-service/tutorial-dotnetcore-sqldb-app?pivots=platform-linux#create-production-sql-database, they are then instructed to deploy that _local_ database to Azure.

[2021-04-28 19:30] RyanHill-MSFT commented on #74506
Thanks for feedback @jongio. The primary goal is to demonstrate how to deploy a local ASP.NET Core application with a SQL database to Azure. While EF is used to quickly bootstrap the associated sample code, I wouldn't say knowledge of it is an assumption and isn't the primary goal of this doc. The does include a link to learn more about EF at the beginning.

[2021-04-28 19:32] sebcruz commented on #60901
Thank you @jonburchel for taking care of this!

[2021-04-28 19:33] YutongTie-MSFT commented on #74240
@nitinme @diberry changed the tag and assignee. Please let me know more action items need to be done. Thanks.

[2021-04-28 20:44] mike-urnun-msft commented on #74278
@mlcooper I've reached out to the connector internally for confirmation. I'll update as soon as there's new information available.

[2021-04-28 20:54] cgillum commented on #45634
Azure AD doesn't support issuing access tokens for multiple resources during login. This is why Easy Auth doesn't let you configure multiple `resource` entries in `additionalLoginParams`. If you need additional access tokens for additional resources, you will need to write code that can explicitly request new access tokens. The easiest way to do this is to use the refresh token you got during the

[2021-04-28 21:09] jlichwa commented on #73716
@Leonardo-Ferreira this document just describes basic concept, If you have general questions for Key Vault, Stack Overflow could help more. For encryption at rest with Storage you can look here : https://docs.microsoft.com/en-us/azure/storage/common/customer-managed-keys-configure-key-vault?tabs=portal

[2021-04-28 21:20] karlkuhnhausen opened #74514 "Update ER Prefix Limit from 200 to 1000"
ExpressRoute Prefixes should be updated from 200 to 1000 per the ER FAQ.

https://docs.microsoft.com/en-us/azure/expressroute/expressroute-faqs#how-many-prefixes-can-be-advertised-from-a-vnet-to-on-premises-on-expressroute-private-peering

Customer pointed this out to me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-04-28 21:31] jongio commented on #74506
I good use case is that I went through the article and didn't know what an EF migration was.  If we ask the user to do a command that requires context it would be nice to explain what that thing is.

[2021-04-28 21:32] jongio commented on #74503
I don't think it would hurt to call out where the data was stored.  I wasn't sure.

[2021-04-28 21:37] halter73 opened #74516 "The Azure maps auth shared key section should include a sample request"
The following sentence does technically describe what you need to do to use the primary or secondary key, but it doesn't make it as obvious as it could be that the "subscription key" parameter is a `subscription-key` query string parameter that can be added to any maps api call.

I didn't figure out what the "subscription Key" parameter to the URL was referring to until I saw the sample request to

[2021-04-28 21:56] loginneto30 opened #74517 "I"

[2021-04-28 21:57] Careyjmac commented on #74159
Yes, you can rely on that implementation. In fact, if you wanted to and if it was easier, we actually also support this:

[code]

If that is easier for your use case to keep the URL and SAS token separate.

[2021-04-28 22:00] DotNetDev1 commented on #26865
@ToMakeSense Did you ever get this working?  I'm having the same issue...trying to populate ipSecurityRestrictions collection in one resource from the possibleOutboundIpAddresses from another resource, but it keeps failing on using the reference function in the count property of the copy function.  Agree, that I'd prefer NOT to have to hard code my IP addresses via parameter.

Thx!

[2021-04-28 22:01] #74517 closed

[2021-04-28 22:06] sunnyhay opened #74518 "ACI Service request failed"
Hello,

I got an error when trying to deploy AML model. The tutorial I refer to is this: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-and-where?tabs=python
Part of the console log is below.

2021-04-28 14:35:51-07:00 Registering the environment.
2021-04-28 14:35:53-07:00 Use the existing image.
2021-04-28 14:35:55-07:00 Submitting deployment to compute.
Failed
Service depl

[2021-04-28 22:18] blueviggen opened #74519 "Software versions are completely outdated"
I just spun up a VM with Data Science VM image and learned that versions of almost all software packages listed in the page are outdated. Please update this page with the latest software version information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f322439a-d89a-201a-2581-d4d794ea694d
* Version Independent ID: 20

[2021-04-28 22:20] gvashishtha commented on #74518
Easiest thing here would be either to create a support ticket or attempt an Azure Kubernetes Service deployment instead.

[2021-04-28 22:31] viniciustotti commented on #74159
That is great!
Thanks @Careyjmac

[2021-04-28 22:36] RMITBLOG opened #74520 "Typo should read VHDX not VHSD"
[Enter feedback here]

under section https://docs.microsoft.com/en-us/azure/virtual-desktop/app-attach-file-share#performance-requirements

It reads "MSIX app attach image size limits for your system depend on the storage type you're using to store the VHD or VHDx files, as well as the size limitations of the VHD, VHSD or CIM files and the file system."

It should read "MSIX app attach image size

[2021-04-28 22:40] femsulu commented on #74325
AFAIK, there should be no impact to Log Analytics resources outside the Private link since they are still able to resolve the global storage endpoint scadvisorcontent.blob.core.windows.net. The LA workspace behind the Private links are able to access the storage endpoint via the DNS zone created for blob.core.windows.net. However, please note: any private link created before April 19, 2021 may req

[2021-04-28 22:48] jongio opened #74521 "Formatting issue - Tutorial: Build an ASP.NET Core and Azure SQL Database app in Azure App Service"
![image](https://user-images.githubusercontent.com/2163001/116481981-1ee72880-a839-11eb-8075-b284e0889a8c.png)

I think the code block is incorrect and the ' in you're is unicode?

https://docs.microsoft.com/en-us/azure/app-service/tutorial-dotnetcore-sqldb-app?pivots=platform-linux

ddcc1
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-04-28 22:52] femsulu commented on #74325
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-04-28 22:52] #74325 closed

[2021-04-28 22:55] femsulu commented on #74328
Thanks for the update @noakup

@Ronnie-personal , We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

#please-close

[2021-04-28 22:55] #74328 closed

[2021-04-28 23:03] meshayesh opened #74522 "Old Content in the Page"
[Enter feedback here]
Hi Team,

Just wanted to let you know that I see that this page has an old content that I hope you can update soon.
Maybe cause I'm using New in Preview Azure portal but I don't know.

Thanks,
Mohamed Ayesh
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e22f219-b22a-b9d4-b0b7-e080b134da8d
* Versio

[2021-04-28 23:09] lobrien commented on #74519
#assign @samuel100

[2021-04-28 23:14] sukhans commented on #74490
@bmvalente with no alternate available from Microsoft, we believe that pointing customers towards the most comprehensive list of tools at https://owasp.org/www-community/Source_Code_Analysis_Tools makes the most sense. Customers can read and make an informed choice. We did not feel appropriate to recommend a specific 3rd party offering.

And in cases where they are moving to GitHub, we have provid

[2021-04-28 23:31] msmbaldwin commented on #47564
Hi, @aalewismsft. We have verified that the table is now up-to-date, including for these rows. Thank you! #please-close

[2021-04-28 23:31] #47564 closed

[2021-04-28 23:32] msmbaldwin commented on #55324
Hi, @ElanShudnow.  Azure Information Protection is not included in this table by design -- it’s really an Office solution that is sold through Azure, and does not align with any of our encryption models. Thank you! #please-close

[2021-04-28 23:32] #55324 closed

[2021-04-28 23:35] msmbaldwin commented on #59535
Hi, @x509cert. https://docs.microsoft.com/en-us/azure/security/fundamentals/encryption-models#supporting-services correctly shows Cosmos DB as supporting Server-Side Using Customer-Managed Key. Thank you! #please-close

[2021-04-28 23:35] #59535 closed

[2021-04-28 23:36] msmbaldwin commented on #57056
Hi, @pnarsi . Thanks for pointing this out. You are correct, Azure DevOps and Repos should not have been in this table. I have removed them. Thanks! #please-close

[2021-04-28 23:36] #57056 closed

[2021-04-29 00:01] Karishma-Tiwari-MSFT commented on #74206
@mohatb It would be quicker if you can create a PR and assign to @mlearned and @zr-msft for review.
Thanks.

[2021-04-29 00:11] Karishma-Tiwari-MSFT commented on #74453
Thanks for the clarification. Yes, please open a new issue on the correct doc. Thanks.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-04-29 00:11] #74453 closed

[2021-04-29 00:15] Karishma-Tiwari-MSFT commented on #59234
@mbiver It's been a long time since this issue was opened.  Can you please help clarify what changes you would like to see in the document so that the doc author can help update as required? Thanks. :)

[2021-04-29 00:18] ChaitanyaNaykodi-MSFT commented on #74253
Hello @TanGolf, Thank you for providing the feedback, I have made a PR to address this issue and it is currently under doc authors review. We will now proceed to close this issue out, please tag me in your response if there are any concerns. Thank you!

[2021-04-29 00:18] #74253 closed

[2021-04-29 00:31] Karishma-Tiwari-MSFT commented on #74492
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-29 00:32] Karishma-Tiwari-MSFT commented on #74498
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-29 00:33] xinmeng2 commented on #74395
Thank you @SumanthMarigowda

[2021-04-29 00:33] Karishma-Tiwari-MSFT commented on #74517
Let me know if you have a doc update request. Thanks.

[2021-04-29 00:34] Karishma-Tiwari-MSFT commented on #74520
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2021-04-29 00:34] #74520 closed

[2021-04-29 00:49] CHDAFNI-MSFT opened #74527 "Missing VM Families - HBv2, HBv3"
Missing CPU families, I noticed HBv2, HBv3, and (just announced) Dv5/Ev5 are not listed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 568a0854-5b9e-0d79-642f-2775271d0521
* Version Independent ID: 876df17a-3a80-8e2d-bb70-c6810df7fd18
* Content: [Overview of the Azure Compute Unit - Azure Virtual Machines](https://doc

[2021-04-29 01:08] Karishma-Tiwari-MSFT commented on #74335
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-29 01:19] KrishnaG-MSFT commented on #74514
@karlkuhnhausen Thanks for your comment! We will review and provide an update as appropriate.

[2021-04-29 01:26] Karishma-Tiwari-MSFT commented on #74300
Thanks for bringing this to our attention. I have created a PR with the update, it will be reviewed by the author first and changes will then be merged after their approval.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document

[2021-04-29 01:26] #74300 closed

[2021-04-29 01:26] Karishma-Tiwari-MSFT commented on #74454
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-04-29 01:26] #74454 closed

[2021-04-29 01:53] marywhitney opened #74529 "Conflicting documentation about default storage classes for AKS"
Hello, this page has this text saying that users can edit an existing storage class:

[code]

However, the concepts-storage page <https://docs.microsoft.com/en-us/azure/aks/concepts-storage> has this note:

[code]

I haven't tested to see if AKS does indeed overwrite changes you make to the storage classes, but if it does, then the documentation suggesting that users edit default storage classes s

[2021-04-29 02:11] lgayhardt commented on #74016
@stevieray8450 Thank you for the feedback, we currently have a work item for this and have been consolidating all issues related to it under the [Tracking of handled exceptions in ASP.NET Core](https://github.com/MicrosoftDocs/azure-docs/issues/30986) thread. Please take a look at the comments of the thread for help in the meantime while we work on the doc update.

Thank you for your patience. We

[2021-04-29 02:11] #74016 closed

[2021-04-29 02:14] MonikaReddy-MSFT commented on #74527
@CHDAFNI-MSFT -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-04-29 02:27] dinavahi204 opened #74530 "401 undocumented error"
I am getting the below error:
I configured exactly described in the article.
Also the code was not getting compiled for crypto dlls. I had to change the target frame work to .NET 5.0.
![image](https://user-images.githubusercontent.com/83383400/116495211-15c18000-a868-11eb-9d5f-61ac48cf0726.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-04-29 02:59] OzBob opened #74531 "Do 'staticwebapp.config.json' config files work on Blob Storage Static Sites?"
According to the [static web apps docs ](https://docs.microsoft.com/en-us/azure/static-web-apps/configuration#wildcards) a configuration file will enable "route rewrites":

Will putting a 'staticwebapp.config.json' have any effect on the static site?

Does it need restarting or refreshing or a wait time to become effective?

Feedback: add a section to the docs stating whether or not the config fil

[2021-04-29 03:21] femsulu commented on #74351
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-04-29 03:21] #74351 closed

[2021-04-29 03:31] markjbrown commented on #74463
Thank you for your question. A few reasons why.

First, some customers enable the feature before adding additional regions. When enabled and only one region, the account is billed as single-region write.

Second, as a follow on to reason #1, if a customer wanted multi-region writes and multiple regions, you cannot simultaneously add a region, then change any property of the Cosmos account. So the

[2021-04-29 03:36] MS-jeremy commented on #74463
Thanks @markjbrown for your answer, that makes sense to me now!!

[2021-04-29 03:36] #74463 closed

[2021-04-29 03:49] BhargaviAnnadevara-MSFT commented on #74521
@jongio Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-04-29 03:56] Snozzberries opened #74533 "ENTERPRISEPACK doesn't show MICROSOFTBOOKINGS inclusion"
The ENTERPRISEPACK entry does not show MICROSOFTBOOKINGS as an included service plan.

Product documentation claims entitlement: https://docs.microsoft.com/en-us/microsoft-365/bookings/bookings-faq?view=o365-worldwide#pricing-and-licensing

Validation can be performed on SKU in tenant:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2021-04-29 03:58] nguyenminh1402 commented on #74372
Hi Subhash, have you any update on this? Nice day

[2021-04-29 04:26] AshokPeddakotla-MSFT commented on #74516
@halter73 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-29 04:33] JPalmerDev commented on #74183
For me, it would not because I deployed from Visual Studio, not VS Code.

[2021-04-29 04:42] AzureAzim opened #74534 "Devops build task elevated"
How does one run the devops build task inline script as elevated? I seem to be getting hit with access denied errors when installing RSAT as part of my inline script

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 021a6939-d8c6-29ea-2194-770c5d5cd39a
* Version Independent ID: e0d48667-9d39-3af3-b821-b1b8c788ef57
* Conte

[2021-04-29 05:03] SnehaAgrawal-MSFT commented on #74502
@jongio Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-29 05:06] SnehaAgrawal-MSFT commented on #74511
@NeilDechert Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-29 05:25] itguysocal opened #74535 "MacOS"
The Diagram shows "Device is iOS, macOS, or Android"
https://docs.microsoft.com/en-us/azure/active-directory/devices/plan-device-deployment#decision-tree-for-devices-integration

but none of the article discusses how macOS is Azure AD Registered. I believe the correct answer is when the Intune Company portal app is installed on macOS. Could this documentation be updated to explicitly list macOS ju

[2021-04-29 05:41] SadiqhAhmed-MSFT commented on #74522
@meshayesh Thank you for bring this to our attention. We will review the content with the owner and update as appropriate.

@sideeksh FYI - Can this doc be updated?

[2021-04-29 05:42] KrishnaG-MSFT commented on #73650
At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now.

If there are further questions regarding this matter or questions or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2021-04-29 05:46] lgayhardt commented on #73746
@nicklasjepsen Thanks for catching that. It looks like the Azure Functions team hasn't updated their documentation yet for enabling SQL text collection in App Insights.

Within [host.json](https://docs.microsoft.com/azure/azure-functions/functions-host-json#applicationinsights) set `"EnableDependencyTracking": true,` and `"DependencyTrackingOptions": { "enableSqlCommandTextInstrumentation": true }

[2021-04-29 05:46] #73746 closed

[2021-04-29 05:46] KrishnaG-MSFT commented on #74505
@zuboje Thanks for your comment! We will review and provide an update as appropriate.

[2021-04-29 05:47] hrittikhere opened #74536 "View the IIS welcome page"
Hey,
Even after the steps mentioned on the page to configure the IIS welcome page on a Windows Server 2019 - Gen 1, I couldn't even after trying several times. Maybe there are few steps missing and we need to work on that 💯

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e58109c-c8d3-6693-8e1d-03a89ca26168
* Version In

[2021-04-29 05:48] KrishnaG-MSFT commented on #74508
@hansmbakker Thanks for your comment! We will review and provide an update as appropriate.

[2021-04-29 05:49] KrishnaG-MSFT commented on #74519
@lobrien Thanks for the quick response. 👍

[2021-04-29 06:00] SnehaAgrawal-MSFT commented on #73998
@ichivers Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-04-29 06:08] nkumars opened #74537 "Unable to customize the error page for the response ShowBlockPage"
Hi,

We have everything setup in our Azure Function, validate and return the response with either ```action``` being ```ShowBlockPage``` or ```Continue``` with proper ```userMessage``` value. We also have found and understood that **Error page** is the page to be customized and we did customize it well. Unfortunately we are unable to get the customized page rather always render using https://devb2

[2021-04-29 06:27] SnehaAgrawal-MSFT commented on #74379
@aholler2 Thanks for asking question! To elaborate If you simply want to enable Health check follow below steps:

1. Browse to the Azure portal and select your App Service app.
2. Under Monitoring, select Health check.
3. Select Enable and provide a valid URL path on your application, such as /health or /api/health.
4. by clicking save Health check feature is now enabled.

But additionally if you

[2021-04-29 06:39] cgol opened #74538 "Does the plugin support MFA Logins?"
Does this plugin support MFA logins?  It is not mentioned on the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d38cad90-6574-38c2-3262-059a9f975064
* Version Independent ID: dd08d5c5-65a4-c2cc-8b51-7a35268dde68
* Content: [Tutorial: Azure Active Directory single sign-on (SSO) integration with JIRA SAML SSO by Mi

[2021-04-29 06:45] qmacro opened #74539 "Deletion of (second) node resource group - confusion / clarity"
Hi! This is in relation to [Why are two resource groups created with AKS?](https://docs.microsoft.com/en-US/azure/aks/faq#why-are-two-resource-groups-created-with-aks).

I got my question answered by this section on this page, which is great, thank you.

However, I did wonder about this (highlighted) part of the last sentence in that answer:

(emphasis mine).

I am a little confused - shouldn't th

[2021-04-29 06:56] sideeksh commented on #74522
@v-harisudhan Can you please help us update the screenshots on this page?

[2021-04-29 07:09] KreizIT opened #74540 "App Service words lead to missunderstanding"
In section "Enable VNet Integration", first point :
"Go to the Networking UI in the **App Service** portal. Under VNet Integration, select Click here to configure."

The word **App Service**, espacally with inital case lead to configure the App Service plan or App Service environment object.
By the way, configuration of VNEt in done in the app (Web App, Azure function)

I suggest to replace `App S

[2021-04-29 07:22] yucwan opened #74541 "Eclipse plugin installation link is broken"
https://dl.microsoft.com/eclipse no longer works, see: https://github.com/microsoft/azure-tools-for-java/issues/4947#issuecomment-828136870

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1457ba50-bc79-85fc-914d-cd8a04a57d70
* Version Independent ID: 8aa8eeea-1da5-d54a-dbb9-b6d87a3b1f2e
* Content: [Azure Service Fabric

[2021-04-29 07:22] Dantali0n commented on #31136
Came here because I was convinced I was getting phished to enable 2FA, spent 15 minutes to figure out the email was legitimate. This is the extend of the confusion largely caused by the shortend url.

[2021-04-29 07:23] marc181982 opened #74542 "Additional questions"
For the disaster recovery scenarios: is it possible to restore a VM in another region? From what i understand is that you can only restore a VM in the same datacenter where the Recovery Service Vault is located. For example: if there's a vault deployed in the region West Europe, you can't use this vault to restore a VM in the region North Europe

---
#### Documentdetails

⚠ *Dit gedeelte niet bewe

[2021-04-29 07:23] ChaitanyaNaykodi-MSFT commented on #74290
Hello @Fbiss,
 We have assigned this issue to the author to review further and take the next course of action.

[2021-04-29 07:24] SnehaAgrawal-MSFT commented on #74461
@LukeShe Thanks for asking question! If I have understood right you are looking for root domain support.
If so, While root domain support is not available during preview, you can see the blog post [Configure root domains in Azure Static Web Apps for details on how to configure root domain support with a Static Web App](https://burkeholland.github.io/posts/static-app-root-domain/)

Let us know if y

[2021-04-29 07:27] SnehaAgrawal-MSFT commented on #74540
@KreizIT Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-29 07:27] VikasPullagura-MSFT commented on #74529
@marywhitney
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-04-29 07:27] VikasPullagura-MSFT commented on #74529
@mlearned @miwithro
Can you please check and add your comments on this doc update request as applicable.

[2021-04-29 07:28] jzhouw opened #74543 "how to programmatically get the "region abbrev name"?"
is there any way to get the region abbrev name programmatically in below url format?

`rtmp://<live event name>-<ams account name>-<region abbrev name>.channel.media.azure.net:1935/live/<your access token>/<stream name>`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c615fac7-8eba-9aa5-f2b6-1aa5b6930567
* Version Indep

[2021-04-29 07:51] kjeske commented on #74415
I don't want to share here the app name that my customer is using, but I will try to prepare a new one for testing purposes today and share with you.

The thing I haven't mentioned before is that we are using Azure DevOps as our deployment solution. Azure App Service Deploy task is used to put the files on the staging slot. We are not using any tasks for swapping.

[2021-04-29 08:00] jmprieur commented on #74530
@dinavahi204 this is expected because your API is a protected API and therefore you need to add a security token in the Authorize header.

What did you have to change for .NET 5.0 ? we have multi-targeted tests that run every night ...?

[2021-04-29 08:25] dcurwin commented on #74542
@v-amallick  - Can you review this issue?

[2021-04-29 08:26] psmanhas commented on #74536
@hrittikhere Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-04-29 08:29] psmanhas commented on #74541
@yucwan Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-04-29 08:29] psmanhas commented on #74541
@rapatchi Can you please check and add your comments on this doc update request as applicable

[2021-04-29 08:31] psmanhas commented on #74539
@qmacro Thank you for the feedback. We will work on it and will keep you updated on the thread

[2021-04-29 08:33] xuwenjian1995 opened #74544 "Importing API through Azure Portal does not work if URL where open API spec file is hosted is not publicly available"
[Enter feedback here]

It seems that it's a known issue according the stackoverflow: https://stackoverflow.com/questions/50935072/azure-api-managament-and-kubernetes. Are we able to import an open API that cannot be accessed from public into the API Management(except downloading the wagger file and upload to the APIM)? I would appreciate if you could share some explanation about this issue, thank

[2021-04-29 08:43] gechu commented on #74239
Thanks @jatinas for the reply!

Calculated signals will actually have the same properties as the "raw" values. A calculated signal may take a range of raw measurements, and produce a computed/calculated measurement point.

Due to the need to use a range of measurements as input to the calculation, I'm thinking that it would be efficient to perform that query towards a time series DB (TSDB). Then I

[2021-04-29 09:00] Jvekka commented on #50904
I did have some error and it was fixed when I installed ```azure.common.credentials```

[2021-04-29 09:14] nicklasjepsen commented on #73746
No problem. It would be great to have that added to the Azure Functions documentation.

[2021-04-29 09:20] Jacintopc opened #74547 "Allow trusted Microsoft services to access the storage account programmaticaly"
I would like to integrate this configuration in my pipeline programmatically. Is it possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e3f61ba-0fc0-1e64-28c7-04f7b67bc8a6
* Version Independent ID: 464a205d-77dd-0bb1-5912-b3b3933f0f8d
* Content: [Indexer access to Azure Storage using trusted service exception - A

[2021-04-29 11:02] rplati opened #74549 "Broken link: VNet-only ARM template"
The link to the VNet-only ARM template does not work:
[https://github.com/Azure/azure-quickstart-templates/tree/master/101-databricks-vnet-for-vnet-injection](https://github.com/Azure/azure-quickstart-templates/tree/master/101-databricks-vnet-for-vnet-injection)

Would appreciate info on how to create the VNet with subnets and proper configuration without the template in question.

---
#### Docume

[2021-04-29 11:02] danhayes123 opened #74550 "Can you filter based on more options rather than location and subscription?"
[Enter feedback here]

It would be useful if you could filter on, say, resource group too in the "filter" properties. Why can't you do this? If you can't do this directly through the "filter" properties, what would you suggest as a suitable work around?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d434cfc-714c-3ca6-6

[2021-04-29 11:17] SnehaAgrawal-MSFT commented on #74543
@jzhouw Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-29 11:40] anhowe opened #74551 "WAAgent configuration for WAAgent needs to update Provisioning.Agent"
The WAAgent configuration instruction 12, is out of date, and now needs to support `Provisioning.Agent` instead of `Provisioning.Enabled`.  For example:

[code]
replace with
[code]

This then aligns it to the modern RPM package WALinuxAgent-2.2.46, and the following documentation: https://github.com/Azure/WALinuxAgent/blob/develop/config/waagent.conf#L15-L17.

---
#### Document Details

⚠ *Do not

[2021-04-29 11:56] shashishailaj commented on #74538
@cgol Thank you for your feedback . We will engage the author on this and will let you know once we have more updates.

[2021-04-29 11:57] vicperdana opened #74553 "Sponsors Licensing requirements"
Can it be clarified if external or internal sponsors who do not approve requests will require a license?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06201faf-0037-3647-4e91-bb0af80d4812
* Version Independent ID: 1b397d76-ecfe-046e-a4c4-0fe5293bceb3
* Content: [What is entitlement management? - Azure AD](https://docs

[2021-04-29 12:13] BoxOfPain opened #74554 "Code examples are missing."
Hi!
Examples for this steps are missing:
3) Disable the device using the Set-AzureADDevice cmdlet (disable by using -AccountEnabled option).
4) Wait for the grace period of however many days you choose before deleting the device.
5) Remove the device using the Remove-AzureADDevice cmdlet.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2021-04-29 12:13] assaf-grth opened #74555 "Timeline for GA for Storage as a network share from a container"
Hi,
This feature is marked as in preview since 2019
Is there a plan to make is GA in the near future?

Thanks,
Assaf

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cd70fac-5d7c-7637-8385-f3f4af3ba0ad
* Version Independent ID: 15d95fc5-f08e-a26c-ce06-8ead78474661
* Content: [Add Azure Storage (container) - Azure App Se

[2021-04-29 12:16] shashishailaj commented on #74537
@nkumars Thank you for your query . We will investigate and update the thread.

[2021-04-29 12:25] shashishailaj commented on #74533
@Snozzberries Thank you for your feedback on this . We will review this and update accordingly .

[2021-04-29 12:26] diberry commented on #74541
@bmitchell287 @jdubois @KarlErickson Do you know what the replacement is for https://dl.microsoft.com/eclipse?

[2021-04-29 12:30] shashishailaj commented on #74535
@itguysocal Thank you for your inputs. We have engaged the content author for reviewing your suggestions.

[2021-04-29 12:30] pemsft opened #74556 "Stateful log alerts missing"
Thank you for excellent documentation: https://docs.microsoft.com/en-us/azure/azure-monitor/alerts/alerts-unified-log

**Please update documentation with information about stateful log alerts:**
https://azure.microsoft.com/en-us/updates/public-preview-stateful-and-1minute-frequency-log-alerts-in-azure-monitor/

Here it still states that: "Log alerts are stateless."
https://docs.microsoft.com/en-us

[2021-04-29 12:32] Farooq-KhanCS commented on #74240
Product Team is aware and is now tracking to this issue.

[2021-04-29 12:32] shashishailaj commented on #74554
@BoxOfPain Thank you for your feedback . We will review this request and see how best we can have this article improved.

[2021-04-29 12:39] piotrgwiazda opened #74557 "Spark Job Definition - how to parameterize"
I cannot find documentation for new Synapse activities: Notebook and Spark Job Definition.

The problem I am trying to solve is that when using Notebooks I can pass parameters from the pipeline using "Settings/Base parameters".
However, when trying to use Synapse Spark Job Definition in the Settings tab of the activity I cannot pass any parameters. My goal was to pass parameters from the pipeline

[2021-04-29 12:47] yanivlavi commented on #74556
This is already fixed and should be updated tomorrow.

[2021-04-29 12:47] yanivlavi commented on #74556
#please-close

[2021-04-29 12:47] #74556 closed

[2021-04-29 12:48] jzelos opened #74558 "Data Factory CI documentation lacks information on final step of actually publishing the build artifacts"
[Enter feedback here]

I'm loosely following the Data Factory CI guidelines and have created a pipeline that produces a build artefact with ARM template and some powershell scripts for stopping/starting triggers and updating global var. However the document them stops and lacks any information on final step of actually publishing those artefacts. I'm sure I can work it out by looking at some power

[2021-04-29 12:52] v-amallick commented on #74542
@GeethalakshmiG Request you to please review the issue.

[2021-04-29 12:53] GitaraniSharma-MSFT commented on #74329
@Ronnie-personal , there is no defined set of NSG requirements for Load balancers as it differs from customer to customer with respect to their requirements. But the minimal NSG requirements for it work can be found in the below doc:
https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-troubleshoot-backend-traffic#cause-2-network-security-group-is-blocking-the-port-on-the-load-balanc

[2021-04-29 12:53] #74329 closed

[2021-04-29 12:53] v-amallick commented on #74542
#reassign:GeethalakshmiG

[2021-04-29 12:54] jdubois commented on #74541
I'm guessing @yucwan or @seanli1988 will know about this?

[2021-04-29 13:07] GitHubUser1339 commented on #64673
Guidance on how to automate PIM as part of Enterprise-Scale LandingZone delployments would be very welcome.

Can you update the current status of this request?

[2021-04-29 13:09] KrishnaG-MSFT commented on #74556
@yanivlavi Thanks for the super quick response. 👍

[2021-04-29 13:21] judedaryl commented on #56907
@JasSuri haha nice! We got this working now using the latest version btw, glad that the button is back.

[2021-04-29 13:30] BernardA opened #74560 "Missing --is-linux flag on az appservice plan create"
When creating an appservice plan for linux, the `--is-linux` flag is required but your docs do not include that in the sample code.

In my case I went all the way do deploying the app and finding out that my Apache set up did not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd76e30c-e279-2ea0-d8fb-7ca48244e445

[2021-04-29 13:35] dominicbetts commented on #72626
#please-close

[2021-04-29 13:35] #72626 closed

[2021-04-29 13:44] mimergel opened #74561 "Container Registration doesn't work via CLI"
Hi,

I'm unable to register the container via CLI.

az backup container register -g HANABackups -v hanabackupvault --backup-management-type AzureWorkload --workload-type SAPHANA --resource-id  /subscriptions/35b67b4c-4fd4-4f0b-997c-bbb82032d45d/resourceGroups/rg-HANA-MM9/providers/Microsoft.Compute/virtualMachines/hanatest09

            Container unavailable or already registered.

Any idea what

[2021-04-29 13:44] southerncoder commented on #74324
Looks better now, cheers!

[2021-04-29 13:50] MonikaReddy-MSFT commented on #74551
@anhowe - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-04-29 13:50] bkgh opened #74562 "Code error"
The code sample in section #determine-if-a-user-was-already-invited-to-your-directory is incorrect.
Incorrect code: signInNames/any(x:x eq '{0}')
Correct code: signInNames/any(x:x/value eq '{0}')

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cea15b5-0fca-d8ae-9423-4f4c91d7a9de
* Version Independent ID: 6f6159f1-8a56-

[2021-04-29 13:52] MonikaReddy-MSFT commented on #74534
@AzureAzim -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-04-29 13:56] MonikaReddy-MSFT commented on #74551
@anhowe - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-29 13:56] #74551 closed

[2021-04-29 14:01] rvunen opened #74563 "Error feedback given on page but it lacks examples what the diagnostic connectivity expects"
[Enter feedback here]
Error feedback given on page but it lacks examples what the diagnostic connectivity expects when to test a connection. Like Azure Storage: Parameter incorrect. OK but what do you expect then.

Cheers
Roger

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a83ec9f-180c-803a-dfdc-83f5074af309
* Versio

[2021-04-29 14:03] lmicverm opened #74564 "Node_type_id is not required when instance_pool_id is given"
The documentation states that the node_type_id is required, however, only one of node_type_id or instance_pool_id is required. Maybe this can be better documented as now it seems that the node_type_id should always be given for the request to succeed which is not the case when the instance_pool_id is given.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-04-29 14:13] aholler2 commented on #74379
So WEBSITE_HEALTHCHECK_MAXPINGFAILURES is not required to set then?

[2021-04-29 14:14] tfitzmac commented on #73650
@KrishnaG-MSFT - I believe we need to reopen this one. Right now, the doc says it can't be moved, but @rockboyfor reported that it can be moved. I was hoping to verify without setting up the environment, but we may need to do that.

[2021-04-29 14:14] Mahesh-MSFT opened #74565 "clarity needed on Azure Disk Encryption / Azure Storage SSE / Azure Encryption Sets / Host Based Encryption"
Hi,

Can you please help getting guidance on following questions?

1. Is SSE with CMKs and Encryption-at-host GA? If not, what is the roadmap?
2. Is SSE with CMKs and Encryption-at-host a recommended solution over ADE?
3. What are the scenarios for using ADE instead of SSE with CMKs and Encryption-at-host?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2021-04-29 14:22] piotrgwiazda commented on #72077
One of my team members found a solution with using a new (unreleased as of now) Spark connector. See: https://stackoverflow.com/a/67124073/221951
This might be useful if it was in documentation.
Mind that you still need to provide database URL.

[2021-04-29 14:23] piotrgwiazda commented on #72012
I cannot reproduce this one anymore. Works fine on any new cluster. This was a one-off problem apparenty.

[2021-04-29 14:23] #72012 closed

[2021-04-29 14:26] milope opened #74566 "Add samples for the ipRangeContains function."
Is there a chance we would add a table with all the possible use cases for the ipRangeContains function with its expected output?

E.g.:

What would be the outcome if it's called as such?

`ipRangeContains(10.0.0.0/24, 10.0.0.0/24),`
`ipRangeContains(10.0.0.0/23, 10.0.0.0/24),`
`ipRangeContains(10.0.0.0/24, 10.0.0.0/23),`
`ipRangeContains(10.0.0.0/24, 10.0.1.0/24),`

etc.

I believe this may show

[2021-04-29 14:28] BhargaviAnnadevara-MSFT commented on #74560
@BernardA Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-04-29 14:33] SaurabhSharma-MSFT commented on #74549
@rplati Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-29 14:34] SaurabhSharma-MSFT commented on #74557
@piotrgwiazda Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-04-29 14:35] SaurabhSharma-MSFT commented on #74558
@jzelos Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-04-29 14:38] SaurabhSharma-MSFT commented on #74563
@rvunen Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-04-29 14:39] SaurabhSharma-MSFT commented on #74564
@lmicverm Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-04-29 14:41] jbridger opened #74568 "Improved documentation on how free trial affects webhooks"
There needs to be documentation on how using the trial affects the puchasing flow through web hooks. I can see there is a boolean in the offer details, but that alone is not very informative.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 320bfdb2-0d8b-20f1-252e-d9a3ab8e3357
* Version Independent ID: 42efc64b-4190-7bc6

[2021-04-29 14:42] TomArcherMsft commented on #50904
@Duffney Could you please address?

[2021-04-29 14:44] DCtheGeek commented on #74566
@milope Thanks for the suggestion.  There's already a number of examples for `ipRangeContains()` in the docs.  [Definition - Policy functions](https://docs.microsoft.com/azure/governance/policy/concepts/definition-structure#policy-functions) details `ipRangeContains()` as:

- `ipRangeContains(range, targetRange)`
  - **range**: [Required] string - String specifying a range of IP addresses.
  - **t

[2021-04-29 14:47] cc-laura commented on #74247
Hi,
Yes, that's what I needed to see. I'm sorry I didn't think to download the code.
One other question, the only sample I see is sending strings via the SubmitAsync, is there no way to simply call methods? I thought in the .net driver, I would be able to simply execute something like g.V().has('category', 'X') and not sending it as a string, but actually chaining method calls.

[2021-04-29 14:49] milope commented on #74566
Hello, I believe rewording the sentence is also a good way to explain how the outcome would be as well.

[2021-04-29 14:51] KrishnaG-MSFT commented on #73650
@tfitzmac Sure. Re-opened it.

[2021-04-29 14:53] nguyenha1311 opened #74569 "SSH key errors when creating AKS"
While creating AKS, I ran into the following error with the ssh key.
Error:
containerservice.ManagedClustersClient#CreateOrUpdate: Failure sending request: StatusCode=400 -- Original Error: Code="InvalidParameter" Message="The value of parameter linuxProfile.ssh.publicKeys.keyData is invalid. Please see https://aka.ms/aks-naming-rules for more details." Target="linuxProfile.ssh.publicKeys.keyData"

[2021-04-29 14:54] PRMerger17 commented on #74566
DCtheGeek is already assigned.

[2021-04-29 14:56] jcruiz commented on #73506
Hello @damienbod, thank you for your feedback. Currently we are not considering providing sample apps in other programming languages. However, we are super open to do so as we get more feedback from our partner and dev community.

I invite you to submit this and any other idea on verifiable credentials at MS QA: https://docs.microsoft.com/en-us/answers/content/idea/list.html using the tag `azure-a

[2021-04-29 14:59] DCtheGeek commented on #74566
@milope Here's the updated text.  Let me know if you feel this suffices or if it can yet be made clearer:

- `ipRangeContains(range, targetRange)`
  - **range**: [Required] string - String specifying a range of IP addresses to check if the
    _targetRange_ is within.
  - **targetRange**: [Required] string - String specifying a range of IP addresses to validate as
    included within the _range_.

[2021-04-29 15:02] SnehaAgrawal-MSFT commented on #74149
@softwarecraft Thanks again for the feedback! The PR has been created for this once validated with author it will be visible.

We will now close this if there is further query on this let us know.

[2021-04-29 15:03] ToMakeSense commented on #26865
No, see the comments above, **TL;DR;** it's impossible as ARM is not run in runtime. you can query from Tom @tfitzmac if any enhancement on that part.

[2021-04-29 15:15] SwathiDhanwada-MSFT commented on #74550
@danhayes123 Thanks for your comment.

@tfitzmac Can you please provide your insights on this?

[2021-04-29 15:17] SwathiDhanwada-MSFT commented on #74568
@jbridger Thanks for your comment.

Assigning to content author @mingshen-ms for review

[2021-04-29 15:17] NavtejSaini-MSFT commented on #74373
@rhamlett Please get back to us with more info to help you further.

[2021-04-29 15:18] shashishailaj commented on #73506
@damienbod Thank you for the great feedback . We will now close this issue.  Once a sample as requested is available , we will update the documentation in future with the same.

Thank you.

#please-close

[2021-04-29 15:18] #73506 closed

[2021-04-29 15:19] don007git commented on #73832
Can you help my two questions?
1: why my mouse hovering doesn't show the option as illustrated in the documentation.
2: why my Compute Instance get started once I clicking the "Azure" on side bar from my manually started VS? How do I disable such automation?

![image](https://user-images.githubusercontent.com/8097372/116575114-f82a0000-a8d3-11eb-9b50-868a2bbc443c.png)

[2021-04-29 15:21] BharathNimmala-MSFT commented on #74531
@OzBob Thank you for reaching out with your query and feedback , our team will review it and get back to you at the earliest.

[2021-04-29 15:21] astegmaier commented on #49349
@markjbrown - thanks for this example - I was able to follow it and deploy a stored procedure with an ARM template. One shortcoming that I'm stuck trying to address is that it seems to require you to put the actual code of your stored procedure into the arm template, e.g.:

[code]
Maybe this is obvious to someone who is more familiar with ARM templates and other deployment techniques, but is there

[2021-04-29 15:22] jspaith opened #74572 "Sample JSON for writeable properties doesn't have $version in correct location"
In writeable properties section, we have the following which is correct:

[code]

In our sample JSON however, the $version is outside of the the "desired" block
[code]

I believe that what this should be is
[code]

There is a $version field at the root of the twin as well (at same level of $desired and $version) but this is NOT sent on a PATCH update and isn't what writeable properties being respo

[2021-04-29 15:24] blogero45 opened #74573 "Summery not clear"
[Enter feedback here]
Azure DNS resolves public DNS; public websites and such.  When I read this marketing explanation it almost confuses me and for any business entity looking to move their on-prem. DNS to Azure, this will turn them off and your Azure adoption rate will drop.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-04-29 15:28] shashishailaj commented on #71287
@smedin4 As discussed on this. The following are the granular permissions for an AAD Security operator. This role is assigned with the following MDE permissions:

![image](https://user-images.githubusercontent.com/532022/116576825-8b435400-a92d-11eb-8f8a-88bd7c5fd64b.png)

Hope that helps.

[2021-04-29 15:30] davidsmatlak commented on #74514
#assign:davidsmatlak

I'll update the Azure subscription and service limits article.

[2021-04-29 15:45] PeterCLu commented on #73526
Thanks @damochiz for the request, we are currently working on updates to the secure workspace series. I've added your comment to the list of requirements for the next iteration.

We are tracking this issue, and similar feedback on this article series. Daigo, I may reach out to you directly if I have further questions. #please-close

[2021-04-29 15:45] #73526 closed

[2021-04-29 15:48] BharathNimmala-MSFT commented on #74226
@K31D My sincere apologies for delay in getting back to this thread.

Yes the "Enable" option for ARO clusters redirects to the [article](https://docs.microsoft.com/en-us/azure/azure-monitor/containers/container-insights-azure-redhat4-setup). As called out in [the article](https://docs.microsoft.com/en-us/azure/azure-monitor/containers/container-insights-azure-redhat4-setup#enable-monitoring-from-

[2021-04-29 15:48] #74226 closed

[2021-04-29 15:48] Pachehra opened #74574 "Health Probe"
If you are using webapps as backend for this demo, dont forget to configure the healthprobe. else you will get Bad gateway
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b1e0765-a7aa-6e76-3aca-751dc8a531dc
* Version Independent ID: e95861b3-cfd3-2b75-95e8-1c0176ba79f2
* Content: [Quickstart: Dire

[2021-04-29 15:53] SaurabhSharma-MSFT commented on #74569
@nguyenha1311 To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either Microsoft Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2021-04-29 15:55] vboyev-MSFT opened #74575 "CMDs to extract MMASETUP-amd64.msi should be documented"
referring to https://docs.microsoft.com/en-us/azure/azure-monitor/agents/agent-windows#install-agent-using-command-line

To extract the setup files from the MSI, a sample command would be
MMASetup-xxxxx.exe /c /t:"<c:\targetpath>"

After the files are extracted - you can use the sample silent installation commands below.
---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2021-04-29 16:00] #74566 closed

[2021-04-29 16:02] jknorvik commented on #74441
Some additional information - the Tutorial works fine, the document cracking extracts text that entity recognition can process.  However, it does not work well when inputting pdfs that have scanned text that is not very clean.  With the pdfs that I used, which contain scans of property deeds and warranty deeds form the 1980s, document cracking does not extract any text, it just identifies images.

[2021-04-29 16:13] davidsmatlak commented on #74514
@karlkuhnhausen Thanks for the feedback. I submitted the fix for this issue and after it's merged, this issue will automatically close. After the merge, the updated document will be online within 24 hours.

[2021-04-29 16:16] PramodValavala-MSFT commented on #74369
@opticyclic Hope my previous comment clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-29 16:16] #74369 closed

[2021-04-29 16:25] rapatchi commented on #74541
@psmanhas  could you try with this URL: https://servicefabricdownloads.blob.core.windows.net/eclipse/

[2021-04-29 16:32] #74514 closed

[2021-04-29 16:33] SwathiDhanwada-MSFT commented on #74109
@LyleXu Apologies for late response. It looks like an issue which needs in-depth troubleshooting as we will need to find out the root cause. As GitHub issues are mainly for documentation issues, we would request you to create a [Technical Ticket](https://azure.microsoft.com/en-in/support/create-ticket/) so that our engineers can help you appropriately.  If you don't have support plan, please send

[2021-04-29 16:33] #74109 closed

[2021-04-29 16:33] jasonhorner opened #74577 "Toc Link title is different from link target"
Minor Nit the link in the table of contents (Toc)
is titled: **Automated Publish**

however the  article the link points to is: "**Automated publishing for continuous integration and delivery**"
and https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment-improvements

While this isn't wrong Automated publish doesn't feel like it correctly coveys what the article is co

[2021-04-29 16:36] RyanHill-MSFT commented on #74555
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-29 16:52] cconrado opened #74578 "Stateful Log Alerts are in Preview"
Looking for docs on how to use azure monitor stateful log alerts but it's not here

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: deacb2ef-8b79-04c3-eee9-643714145db5
* Version Independent ID: 59625313-cf00-2d17-51a1-d4c683b8d151
* Content: [Log alerts in Azure Monitor - Azure Monitor](https://docs.microsoft.com/en-us/

[2021-04-29 16:58] jsandersrocks commented on #72260
Thanks!

[2021-04-29 17:01] uonie opened #74579 "Change Minimum Grace Period to 10"
"Grace period can range between 30 minutes and 90 minutes, and has a default value of 30 minutes."

Check work item# 3775071, the grace period has been changed to 10 minutes for minimum, please update the document accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0e152c2-665d-022e-9f54-c53e9607add8
* Version

[2021-04-29 17:01] markjbrown commented on #49349
Hi @astegmaier, completely agree embedding js into an ARM template is a terrible developer experience. Unfortunately there is no way to put the js for a stored proc into a separate file then refer to it in the main ARM template.

This is an ask I've had with the ARM team since we added support for deploying stored procs in our ARM templates.

What I do today is copy/paste the js into a minimizer t

[2021-04-29 17:06] SaurabhSharma-MSFT commented on #74577
@jasonhorner Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-04-29 17:09] asudbring commented on #74114
Updated page and added link over to Front Door headers.

#please-close

[2021-04-29 17:09] #74114 closed

[2021-04-29 17:23] amitprajapati099 opened #74580 "Exception from HRESULT: 0x80071CC0"
Getting this Exception from HRESULT: 0x80071CC0 while running the VotingWeb Application.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19ee97a4-8e97-ba2c-f1ca-a5c1114ce3c4
* Version Independent ID: d95e1180-b987-d8c5-943c-fa1bfed67fe8
* Content: [Common FabricClient exceptions thrown - Azure Service Fabric](https://do

[2021-04-29 17:32] SwathiDhanwada-MSFT commented on #74433
@dan-tr Did you get chance to check my previous comment ? Let me know if you have further questions related to it.

[2021-04-29 17:33] SaurabhSharma-MSFT commented on #74387
@BrunyC We will now proceed to close this thread as we haven't received received any response. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-04-29 17:33] #74387 closed

[2021-04-29 17:34] SaurabhSharma-MSFT commented on #74391
@Heman-ava We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-04-29 17:34] #74391 closed

[2021-04-29 17:49] KrishnaG-MSFT commented on #74578
@cconrado Thanks for the feedback.

This document will be updated soon with the required information.

FYI, this issue is probably a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/74556.

[2021-04-29 18:03] lawrenceong001 opened #74581 "when using validate-jwt, aud returns 00000003-0000-0000-c000-000000000000"
this is from the doc page: ![Protect a web API backend in Azure API Management by using OAuth 2.0 authorization with Azure AD](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-protect-backend-with-aad)

I have followed the steps outlined in this page, but when I tried the console after injecting the validate-jwt policy, I'm getting unauthorized, because the aud claim is p

[2021-04-29 18:04] MicrosoftGuyJFlo commented on #74554
Example in doc shows how to gather data. Linked to command reference material.

Will not publish a example of delete as users will just copy and paste without testing. I don't want to be responsible for customers who accidentally delete production data.

[2021-04-29 18:15] ChaitanyaNaykodi-MSFT commented on #74544
Hello @xuwenjian1995,
Thank you for your feedback! We will review and update as appropriate.

[2021-04-29 18:25] amitprajapati099 commented on #23759
I also tried to run the application on local environment and i install the all required configuration on machine.
But i am getting COMException: Exception from HRESULT: 0x80071CC0 error.
Also i restarted the window after installing all dependency.
Please provide the solution.
![image](https://user-images.githubusercontent.com/83421728/116599822-33fdad80-a946-11eb-8971-9dc4b595938e.png)

[2021-04-29 18:27] Grace-MacJones-MSFT commented on #74547
Hi @Jacintopc , thanks for the question. We are actively investigating and will get back to you soon.

[2021-04-29 18:38] sahithikkss commented on #73385
At bot defaultanswer is made [configurable](https://github.com/microsoft/BotBuilder-Samples/commit/a5e23861d1003771a2848cbc7bced45558f83729). However, the changes did not merge with template bot code yet.

Meanwhile, could you please download the latest sample code from here and deploy to your bot?
https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/49.qnamaker-all-

[2021-04-29 18:41] SamaraSoucy-MSFT commented on #74575
Thanks for the feedback! We will review and get back to you shortly.

[2021-04-29 18:51] jatinas commented on #74408
The repartitioning is done based on having a minimum number of files that satisfy a proprietary metric that is subject to change.  If there is no PT=Tsid folder, there is likely not enough data in the PT=Time folder to be repartitioned.  If there are hundreds of 20 MB Parquet files in the PT=Tsid folder and still no PT=Time, please file a support ticket.  If there are only tens of files, then ther

[2021-04-29 19:01] srdan-bozovic-msft commented on #73846
@Oury-MSFT please proceed with the change. We will consider adding permissions to Managed Instance Contributor if asked by customers

[2021-04-29 19:03] srdan-bozovic-msft commented on #69868
We are making additional update to this blade. After that screenshot would be updated.

[2021-04-29 19:04] catinodeh opened #74583 "(Not so) random issues when connecting Web API App to on-premises SQL"
A little bit of context first...we have three containers running 24/7 and subscribed to a Topic in our Azure Message Bus. During the day, they do the job easily because of the small load we have.

At 2am, we have a night process that pushes thousands of messages to the MB and the three containers start to call an API we have (let's call it Routing API). This API queries our on-premises SQL Server

[2021-04-29 19:06] hbuckle opened #74584 "Zone support"
Does ASE V3 support availability zones, and if so is is it zonal or zone redundant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39980d7c-2702-a924-6412-a0ec40d719c8
* Version Independent ID: 613452e8-c5b8-37e7-a8b6-2f5284f208c8
* Content: [Create an App Service Environment - Azure App Service Environment](https://do

[2021-04-29 19:08] jtwalters25 opened #74585 "Mongo 3.6 Compass username/password connection is not supported and wont connect."
[Connecting with Compass using username and password doesn't not work with Mongo 3.6 .  Upgrade to 4.0 to use this method of connecting to Cosmos DB with Mongo API using Compass]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ae63b0b-8c13-36da-c5c9-d126ffbc7077
* Version Independent ID: 17b87fc6-88ad-959b-9b11-452844e

[2021-04-29 19:09] srdan-bozovic-msft commented on #68764
@rohitnayakmsft I'm ok with this proposal

[2021-04-29 19:16] kristyler opened #74586 "Incomplete tutorial"
This tutorial does not give a complete function. Instead, it requires manual intervention to run - see Test the Function Locally, step 4.

My company's security guy is not allowing testing from Azure. So this isn't doing much for me.

Show how to use this in a pipeline to keep an Azure function from timing out, since that's the thread that led me here.

---
#### Document Details

⚠ *Do not edit th

[2021-04-29 19:21] srdan-bozovic-msft commented on #66038
the rules from the article would be automatically added once MI deployment starts (see https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/subnet-service-aided-configuration-enable)

This script will:
- set NSG if not set
- set UDR if not set
- delegate subnet to SQL MI if not already delegated

#please-close

[2021-04-29 19:21] #66038 closed

[2021-04-29 19:22] alexginzburg opened #74587 "Spelling error"
The statement `where users do not exit in the target system` should say `where users do not exist in the target system`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83b07a9e-5e16-32ed-265e-32a32998ce37
* Version Independent ID: 09008259-4b53-2925-9679-ecad59cefe41
* Content: [Tutorial - Customize Azure Active Directo

[2021-04-29 19:22] #62380 closed

[2021-04-29 19:25] ChrisSeitzinger opened #74588 "Use of abbreviation without a definition or context"
This is relatively minor, but it's also trivial to fix. You describe was is ASE near the top of this article, but when describing features used to solve specific use cases you reference "ILB ASE" without a previous reference or definition for the term "ILB". I was able to confirm the definition by reading through the related content references at the bottom of the page, but that should not be nece

[2021-04-29 19:25] WilliamDAssafMSFT commented on #74373
Azure SQL Databases have logical servers that exist for some limited purposes, like allowing for server-level logins to be shared. Check out: https://docs.microsoft.com/en-us/azure/azure-sql/database/logical-servers for more details on what the logical server in Azure SQL Database provides.

Correct, MAXDOP cannot be configured at the logical server level in Azure SQL DB.

[2021-04-29 19:27] WilliamDAssafMSFT commented on #74373
@rhamlett if you have further questions I suggest you reach out to support or a CSA for SQL-specific guidance because this does not appear to be a Docs issue.
#please-close

[2021-04-29 19:27] #74373 closed

[2021-04-29 19:27] Manuss20 opened #74589 "Change example code - Create a configuration for IoT Edge"
Good afternoon,

The sample code should be changed:
`az k8s-configuration create --name iotedge --cluster-name AzureArcIotEdge --resource-group AzureArcTest --operator-instance-name iotedge --operator-namespace azure-arc-iot-edge --enable-helm-operator --helm-operator-chart-version 0.6.0 --helm-operator-chart-values "--set helm.versions=v3" --repository-url "git://github.com/veyalla/edgearc.git" -

[2021-04-29 19:32] srdan-bozovic-msft commented on #60423
If you look at the script you'll see that script will append /delegateSubnet.ps1 to the link you provided:

https://raw.githubusercontent.com/Microsoft/sql-server-samples/master/samples/manage/azure-sql-db-managed-instance/delegate-subnet/delegateSubnet.ps1

This is the link that is supposed to work and it works :)

#please-close

[2021-04-29 19:32] #60423 closed

[2021-04-29 19:34] srdan-bozovic-msft commented on #59544
duplicate of #66681

we plan to revisit the whole article

#please-close

[2021-04-29 19:34] #59544 closed

[2021-04-29 19:37] SadiqhAhmed-MSFT commented on #74561
@mimergel Thank you for your post. We will look into this and get back to you shortly.

[2021-04-29 19:37] MarileeTurscak-MSFT commented on #74587
@alexginzburg thanks! Fixing this.

[2021-04-29 19:38] MarileeTurscak-MSFT commented on #74587
Thank you for calling this out! I Just made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/156677

[2021-04-29 19:38] #74587 closed

[2021-04-29 19:39] MarileeTurscak-MSFT commented on #74562
@bkgh
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-29 19:41] srdan-bozovic-msft commented on #59525
these tags are valid but not supported through the portal

they are primarily being used internally https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/subnet-service-aided-configuration-enable

or in arm templates when customer needs to update the rules through dev-ops

#please-close

[2021-04-29 19:41] #59525 closed

[2021-04-29 19:50] MarileeTurscak-MSFT commented on #74553
@vicperdana
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-29 19:55] SatishBoddu-MSFT commented on #74572
Hello @jspaith
I have assigned the issue to the content author for further review.

[2021-04-29 19:57] srdan-bozovic-msft commented on #57506
I've checked today and everything is working as expected. could be temporary issue

![image](https://user-images.githubusercontent.com/5732116/116610788-e416ea80-a935-11eb-84a4-29f2856828b3.png)

#please-close

[2021-04-29 19:57] #57506 closed

[2021-04-29 20:00] #57103 closed

[2021-04-29 20:02] srdan-bozovic-msft commented on #54707
paragraph below clearly points out that Web App is integrated through gateway

https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/connect-application-instance#connect-azure-app-service

#please-close

[2021-04-29 20:02] #54707 closed

[2021-04-29 20:05] srdan-bozovic-msft commented on #50831
updating dns servers on demand is now available and article is updated to reflect that
https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/synchronize-vnet-dns-servers-setting-on-virtual-cluster

as for the lease, it's indefinite but as we do updates monthly it would not take longer than month for the update

#please-close

[2021-04-29 20:05] #50831 closed

[2021-04-29 20:09] rido-min commented on #74572
@SatishBoddu-MSFT  already fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/156630 ,  waiting for review/approval

[2021-04-29 20:14] srdan-bozovic-msft commented on #49525
management endpoint is on deprecation path and won't be further documented

all the VMs are protected with internal firewall so no harm even if exposed
https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/management-endpoint-verify-built-in-firewall

#please-close

[2021-04-29 20:14] #49525 closed

[2021-04-29 20:18] srdan-bozovic-msft commented on #42658
link has been corrected in the meantime

#please-close

[2021-04-29 20:18] #42658 closed

[2021-04-29 20:18] amjads1 commented on #74254
@psmanhas I'm able to access 'download the VM Agent installer' link. Can you try now and confirm?

[2021-04-29 20:19] srdan-bozovic-msft commented on #36287
content has been updated since the item was open

#please-close

[2021-04-29 20:19] #36287 closed

[2021-04-29 20:22] srdan-bozovic-msft commented on #42688
this section has been updated since the issue was open

also work on the feature equivalent to https://docs.microsoft.com/en-us/azure/azure-sql/database/dns-alias-overview is in progress to close the gap

#please-close

[2021-04-29 20:22] #42688 closed

[2021-04-29 20:22] mlcooper opened #74590 "Azure Key Vault pricing page - Managed HSM Pools"
I have found some documentation that has led me to believe that utilizing a `Managed HSM Pool` is only required if you need FIPS-2 compliance.

However, on [this page](https://azure.microsoft.com/en-us/pricing/details/key-vault/#pricing)*, it isn't clear if you will get charged the $4.85/hour for `Managed HSM Pools` if you simply use an HSM backed key from a Premium Tier Azure Key Vault.

Some cla

[2021-04-29 20:23] mike-urnun-msft commented on #74278
@mlcooper I confirmed with the Logic Apps team that the Checkpointing is supported and we will be adding more info on the following doc: https://docs.microsoft.com/en-us/azure/connectors/connectors-create-api-azure-event-hubs

[2021-04-29 20:27] srdan-bozovic-msft commented on #48420
the article has been updated since this item was open

_By design, a managed instance needs a minimum of 32 IP addresses in a subnet. As a result, you can use minimum subnet mask of /27 when defining your subnet IP ranges._

additional details on size calculation have been provided as well

#please-close

[2021-04-29 20:27] #48420 closed

[2021-04-29 20:34] srdan-bozovic-msft commented on #46009
service-aided subnet configuration manages the management traffic configuration

changed to:
_With service-aided subnet configuration, the **customer** is in full control of data (TDS) traffic, while **SQL Managed Instance control plane** takes responsibility to ensure uninterrupted flow of management traffic in order to fulfill an SLA._

hope this clarifies. also feel free to propose different wo

[2021-04-29 20:34] #46009 closed

[2021-04-29 20:41] James-Hamil-MSFT commented on #74342
Closing this issue since no new updates, please comment if more help is needed.

[2021-04-29 20:41] #74342 closed

[2021-04-29 20:41] dan-tr commented on #74433
Yes. This is still a problem. It seems to be across all of docs.microsoft.com. I am accessing the page from Central US.

Here is an example:
![Screen Shot 2021-04-29 at 3 39 00 PM](https://user-images.githubusercontent.com/16211383/116615539-0f331700-a901-11eb-9858-045f6deb0bb0.png)

Safari Version 14.1 (14611.1.21.161.5)
MacOS Mojave Version 10.14.6
MacBook Pro (15-inch, 2017)

[2021-04-29 20:55] DotNetDev1 commented on #26865
Thanks

[2021-04-29 20:56] aramase opened #74592 "Minimum required aks-preview version needs to be added to the doc"
The doc is missing the minimum required `aks-preview` extension version. We should document it. Using the old version of the extension will result in an error:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 409a3be9-4831-9401-0bb3-c65209bb3f42
* Version Independent ID: 4cf81213-5989-f36c-7456-70accfe452c2
* Con

[2021-04-29 20:58] vboyev-MSFT commented on #74575
Sorry about the title corrected

[2021-04-29 21:02] jatinas commented on #74239
Looks like the discussion is extending beyond the original request for doc edit. Can we please move it to an appropriate channel like https://docs.microsoft.com/en-us/answers/topics/azure-time-series-insights.html? And close that issue?

[2021-04-29 21:02] aramase commented on #74592
cc @miwithro

[2021-04-29 21:03] BharathNimmala-MSFT commented on #74589
@Manuss20 Thanks a lot for sharing the feedback, we will review it and update the document as needed.

[2021-04-29 21:07] asudbring commented on #70873
Added links to quickstarts.

#please-close

[2021-04-29 21:07] #70873 closed

[2021-04-29 21:17] Nickomang commented on #74592
@aramase, I opened a PR addressing this issue. Can you confirm 0.5.10 is the minimum required version of aks-preview for the feature?

[2021-04-29 21:23] aramase commented on #74592
@Nickomang I believe the minimum required version is `0.5.9`.

@miwithro to confirm.

[code]

[2021-04-29 21:25] kgremban commented on #74473
Hi @jokarl and @asergaz, I haven't heard of other people experiencing this before. I'm looking into whether this is expected behavior or not.

[2021-04-29 21:30] darkorm opened #74593 "python exception 'CommunicationUserIdentifier' object has no attribute 'identifier'"
I'm following the quickstart for the "Create an Identity" section, and I'm getting an exception when attempting to print the identifier property of the created CommunicationUserIdentifier object

[code]

Looking at the reference docs here
https://azuresdkdocs.blob.core.windows.net/$web/python/azure-communication-identity/1.0.0/index.html#creating-a-new-user
I see, the way to get this property is t

[2021-04-29 21:42] Oury-MSFT commented on #74585
@jtwalters25  Thank you for your feedback . We are looking into this and will get back shortly.

[2021-04-29 21:48] jokarl commented on #74473
Thanks @kgremban, tell me if you need any more details about how we deploy or how I performed the update to 1.1.

I have updated a total of two machines, and the same issue occurred on both. I'm waiting on some confirmation before I do this in production.

[2021-04-29 21:53] aramase commented on #74592
@Nickomang Is this step accurate?

[code]

I don't believe seeing this in the PR. Isn't the way to enable addon on an existing cluster just `az aks enable-addons --addons azure-keyvault-secrets-provider`?

[2021-04-29 21:55] srdan-bozovic-msft commented on #43927
modified verbiage

#please-close

[2021-04-29 21:55] #43927 closed

[2021-04-29 21:59] aramase commented on #74592
Enabling/disabling the addon on existing clusters should just be:
[code]

and enabling the auto-rotation feature should just be
[code]

[2021-04-29 22:02] jeevansd commented on #74538
Yes, all the applications which are integrated with Azure AD can be enabled to use MFA from Conditional Access.

[2021-04-29 22:02] jeevansd commented on #74538
#please-close

[2021-04-29 22:02] #74538 closed

[2021-04-29 22:10] Grace-MacJones-MSFT commented on #74588
Hi @ChrisSeitzinger , thanks for your feedback! We will review and update this doc accordingly.

[2021-04-29 22:11] Grace-MacJones-MSFT commented on #74593
Hi @darkorm , thanks for your feedback! We will review and update this doc accordingly.

[2021-04-29 22:15] spelluru commented on #60595
I couldn't reproduce the issue. If you are still running in to the issue, it may require some troubleshooting from our customer support. Here's what I did:

- Ran through [this quick start](https://docs.microsoft.com/en-us/azure/event-grid/blob-event-quickstart-portal) and  tested it.
- [Enabled  diagnostic logs for the system topic](https://docs.microsoft.com/en-us/azure/event-grid/enable-diagnos

[2021-04-29 22:17] spelluru commented on #60595
#please-close

[2021-04-29 22:17] #60595 closed

[2021-04-29 22:17] yil578 commented on #74254
Yes confirmed it has been fixed. Thanks!

[2021-04-29 22:17] #74254 closed

[2021-04-29 22:25] srdan-bozovic-msft commented on #48983
quick start templates were updated to use delegation
set of udrs is updated in the doc https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/connectivity-architecture-overview#mandatory-user-defined-routes-with-service-aided-subnet-configuration

#please-close

[2021-04-29 22:25] #48983 closed

[2021-04-29 22:39] robinsh commented on #71461
have updated the quotas and throttling article to reflect that the limits are per hub and not per device.

[2021-04-29 22:41] robinsh commented on #71461
#sign-off

[2021-04-29 22:44] emuench commented on #70394
Still working on an answer for this.

[2021-04-29 22:50] SamaraSoucy-MSFT commented on #74575
Thank you, that helps a lot. I'm going to hand this over to the doc author to review and decide how best to incorporate the feedback.

[2021-04-29 23:15] srdan-bozovic-msft commented on #48938
submitted PR to address the issues

#please-close

[2021-04-29 23:15] #48938 closed

[2021-04-29 23:16] alirezazamani commented on #74541
@rapatchi, @jdubois, and @rapatchi. Thank you for the help. Using the link above allowed me to install the plugin. However, when I try to create a new app or deploy the app using the plugin, the plugin does not work as expected. Please see the picture below:
![Screen Shot 2021-04-29 at 4 10 12 PM](https://user-images.githubusercontent.com/9290963/116629459-27596500-a906-11eb-8a66-148426096f21.png)

[2021-04-29 23:21] ChaitanyaNaykodi-MSFT commented on #74346
Hello @fauberon, could you please raise this issue on the [APIM developer portal repo](https://github.com/Azure/api-management-developer-portal/issues?q=is%3Aissue+is%3Aopen+new+page), where the team actively responds to any improvements for the developer portal. Alternatively if already not known you can also [self host the developer portal](https://docs.microsoft.com/en-us/azure/api-management/d

[2021-04-29 23:21] #74346 closed

[2021-04-29 23:36] sunnyhay opened #74594 "Did not find functions with language [dotnet]"
Hello,

  I'm following exactly the tutorial in this page to perform model deployment using function app. But I encountered the same issue as this post mentioned: https://docs.microsoft.com/en-us/answers/questions/51042/unable-to-get-function-host-running-with-the-follo.html
  I updated the appsetting of the function app by switching "dotnet" to "python" but still the function app does not produce

[2021-04-30 00:00] hkelley commented on #50536
What’s the latest on this?  Microsoft recommends Protected Users group for administration.  Not having it in Bastion makes the product a non-starter for any high(er) security environment.

[2021-04-30 00:01] nikki-c opened #74595 "Add a scenario for the simple all guests self access review"
Please can you add a scenario to include an option for the simple all guests self access review. According to the licencing the guests they do not need licences if under 50K MAU. But the organization will need at least on Azure AD P2 licence to be able to set up Azure AD Access reviews.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-04-30 00:04] mdrakiburrahman commented on #73360
@matthiasguentert @swinarko I was running into the same issue using:
![image](https://user-images.githubusercontent.com/46581776/116632676-be81e500-a925-11eb-9932-ac6e96bf41eb.png)
![image](https://user-images.githubusercontent.com/46581776/116632697-c8a3e380-a925-11eb-8af3-fc5e37b8e26f.png)

Rather, we should be selecting this:
![image](https://user-images.githubusercontent.com/46581776/116632714

[2021-04-30 00:09] kylecweeks commented on #50536
To be fair, kerberos will fail since it is connecting by IP rather than FQDN and the NTLM fall back is the only option.

Go tier 0 / 1 / 2 credentials. Tier 0 to connect to the bastion service, then elevate to your tier 1 credentials form there for administrative work. I'm just hoping they add this into the documentation to prevent confusion for admins setting this up.

[2021-04-30 00:24] NavtejSaini-MSFT commented on #74398
@sunilagarwal Please the check the idea for new documentation or please check if we have documentation we can refer here.

[2021-04-30 00:26] SillyKeith opened #74596 "Please document where the IoT Edge "support-bundle" package is saved"
[Enter feedback here]

When a customer executes sudo iotedge support-bundle --since 6h  where does the file get saved and what is the expected name + extension of the created file?   This information is missing from this article and not documented anywhere.  please document it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-04-30 00:34] Grace-MacJones-MSFT commented on #74584
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-30 00:37] dinavahi204 commented on #74530
@jmprieur not sure what you are telling me to add in Authorize header? Security Token will be issued by login.microsoft.com as per the "Authorize" header. I followed the directions given in the article, did my settings on portal. Not sure what I need to do.
Next, the code base given for download does not compile in 3.1, I changed the Framework to 5.0 and code got compiled.
Please do let me know if

[2021-04-30 00:50] SaurabhSharma-MSFT commented on #74565
@Mahesh-MSFT Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-30 00:51] SaurabhSharma-MSFT commented on #74573
@rohinkoul Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-04-30 00:53] kgremban commented on #74473
Hi again @jokarl, you should be able to upgrade from 1.0.x to 1.1 without any issues. Could you please open an issue in the product repo (https://github.com/Azure/iotedge/issues) and the team there can help you troubleshoot.

[2021-04-30 00:56] sozercan commented on #74592
Is `--rotation-poll-interval` settable? doesn't look like it is from `az aks create`

[2021-04-30 01:09] jonburchel commented on #59809
#reassign @lrtoyou1223

[2021-04-30 01:11] sozercan commented on #74592
I think this part in next steps will be confusing for users since it directs to the instructions for the open source project:

[code]

[2021-04-30 01:13] jonburchel commented on #61661
#reassign @lrtoyou1223

[2021-04-30 01:14] sozercan commented on #74592
I think we should either explain `Only required when using service principal mode` or remove that part
https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/identity-access-modes/service-principal-mode/

[2021-04-30 01:15] jonburchel commented on #61781
#reassign @lrtoyou1223

Can we add a network diagram to this article?

[2021-04-30 01:16] jonburchel commented on #62301
Thank you for reporting this @RossCavanagh and helping us improve the docs!  It has been updated now to include this.  #please-close

[2021-04-30 01:16] #62301 closed