[2018-09-10 22:26] markgalioto commented on #9831
@Adam-Smith-MSFT, please assign this issue to GeethaLakshmiG

[2018-09-10 22:27] markgalioto commented on #10251
@Adam-Smith-MSFT, please assign this issue to GeethaLakshmiG

[2018-09-10 22:28] markgalioto commented on #14200
@Adam-Smith-MSFT, please assign this issue to GeethaLakshmiG

[2018-09-10 22:28] markgalioto commented on #14716
@Adam-Smith-MSFT, please assign this issue to GeethaLakshmiG

[2018-09-10 22:30] BryanTrach-MSFT commented on #14558
@notanic Thank you for bringing this to our attention. We have gone ahead and merged a change to the doc. The changes should be public within 24 hours.

[2018-09-10 22:30] #14558 closed

[2018-09-10 22:32] Karishma-Tiwari-MSFT commented on #14763
@zadixon I tried reproducing it but the correct exe got downloaded for me without any redirection. Is this still happening for you or just the first time?

[2018-09-10 22:34] MarileeTurscak-MSFT commented on #14729
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-10 22:35] zadixon commented on #14763
It only happened when I first tried it, just before I submitted the issue. It seems to be working now. Since it hasn't come back, I'm guessing it was an issue with the go.microsoft.com/fwlink system.

[2018-09-10 22:37] robinhalabicki opened #14767 "To compile a U-SQL script error"
To compile a U-SQL script cannot be run on any OS other than Windows

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0a68b6f-2d2c-cf28-7a46-e8a6b0c029c9
* Version Independent ID: 7c1193e5-c697-5000-71c4-7e1498b80afe
* Content: [Use Azure Data Lake Tools for Visual Studio Code](https://docs.microsoft.com/en-us/azure/dat

[2018-09-10 22:37] SaurabhSharma-MSFT commented on #14559
@minhaj-dell Daemon application uses application identity and not user's identity to get the access token by providing AppId and Credentials (either password or Certificate).  GitHub Sample shared by you also uses the same client credentials flow where the console application (TodoListDaemonWithCert) calls the web API (TodoListService) using its app identity.

[2018-09-10 22:41] dmarlow opened #14768 "Restarting after installation"
Is this sufficient to cause a reboot?

:restart
echo Restarting to complete .NET (%netfx%) installation &gt;&gt; %startuptasklog%
EXIT /B %ERRORLEVEL%

I'm finding that things that get installed after are seeing an error due to the .NET installer..

Here's the error in the MSI that runs right after this one as a task in my CSDEF.

MSI (c) (30:78) [18:48:41:618]: Client-side and UI is none or basic

[2018-09-10 22:42] MicahMcKittrick-MSFT commented on #14768
Thanks for the question! We are investigating and will update you shortly.

[2018-09-10 22:43] achal1012 commented on #5959
@markgalioto I was able to resolve this by getting the latest version of SDK on a test machine, but it is going to be a problem upgrading it in PROD VM as it uses some legacy Azure commands.

[2018-09-10 22:48] Karishma-Tiwari-MSFT commented on #14763
@zadixon Thanks for your quick response. It seems to be working fine right now. I will test it out and make sure this isn't an issue with go.microsoft.com/fwlink and share updates if any.
I will close this for now. If you have additional questions let me know and we can reopen and continue.

[2018-09-10 22:48] #14763 closed

[2018-09-10 22:50] rocifier commented on #14316
No update yet. The Service Fabric team has been asked to look into what the error code means that is being provided from the installer. It looks like the runtime returned error code 1 when run from the Web PI installer even with admin rights. Chris and I are unsure what that means.

[2018-09-10 22:55] BryanTrach-MSFT commented on #14024
@gmconte Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-09-10 22:55] #14024 closed

[2018-09-10 22:56] stevestein commented on #8259
@SychevIgor - Thanks for reporting this, and apologies for the delayed reply. The references to the classic portal are no longer in the article.

[2018-09-10 23:01] Mike-Ubezzi-MSFT commented on #14660
@reliason Here is some documentation to set-up ReadIntent Routing for AlwaysOn SQL configuration. Are you using Azure SQL Database or SQL Server on a Azure VM?

**SQL Server on a Azure VM**
[Read only routing in Azure machines](https://social.technet.microsoft.com/Forums/en-US/23cfd8c6-1827-462f-bc03-ebe9214b6bf1/read-only-routing-in-azure-machines?forum=sqldatabaseengine)
[Use ReadIntent Routing

[2018-09-10 23:04] avidiyal opened #14769 "no image in ACR"
I followed the tutorial as is and was able to create and build IOT Edge solution successfully and I could see a config folder with deployment.json file and get a pop up
"Deployment manifest has been generated at config/deployment.json. Module images are being built."

But I do not see the docker buiild and push in the integrated terminal and no images generated and pushed onto my container registr

[2018-09-10 23:04] avidiyal commented on #14769
I followed the tutorial as is and was able to create and build IOT Edge solution successfully and I could see a config folder with deployment.json file and get a pop up
"Deployment manifest has been generated at config/deployment.json. Module images are being built."

But I do not see the docker buiild and push in the integrated terminal and no images generated and pushed onto my container registr

[2018-09-10 23:09] stevestein commented on #8901
@JRSternContinuum - Thanks for the feedback, and suggestion. I've create a work item on our end so your suggestion gets consideration for the next doc update.

[2018-09-10 23:11] mikebudzynski commented on #14740
@jwiese-ms - we have slightly revised the UI and will update the documentation shortly. This is how you can manage the mock-response policy.

![01](https://user-images.githubusercontent.com/40186513/45329231-305a5580-b514-11e8-92e6-1e364bc994e9.png)
![02](https://user-images.githubusercontent.com/40186513/45329232-305a5580-b514-11e8-8119-0537d5f55209.png)
![03](https://user-images.githubuserconten

[2018-09-10 23:14] Mike-Ubezzi-MSFT commented on #14764
@marknettle Thanks for the feedback! There are several documents that discuss connecting with an Azure SQL Database Managed Instance, which is an Azure PaaS offering and not something that is deployed on-premise. The On-Premise Data Gateway is a service that is deployed on-premise and used to connect on-premise data sources with Azure Services, other than SQL Database services.

[Configure a point

[2018-09-10 23:17] ghogen commented on #13202
This is fixed now, thanks. #please-close

[2018-09-10 23:18] ssctx66 opened #14770 "Any plans to support Yocto on ARM32?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf820bbb-9fc6-2037-6d72-c63192763ed6
* Version Independent ID: b0c7e11b-3741-15f6-58e7-8529d492af47
* Content: [Azure IoT Edge Platform Support](https://docs.microsoft.com/en-us/azure/iot-edge/support#feedback)
* Content Source: [articles/iot-edge/sup

[2018-09-10 23:27] ghogen commented on #14016
Try the latest tools. The error message was improved recently, so if this problem reoccurs, you should get a better error message. In the meantime, can we close this issue?

[2018-09-10 23:27] robinsh commented on #14520
Um, @Mike-Ubezzi-MSFT I am not the content author. To find the content author, go to GitHub and look in the actual markdown file. The field [ms.author] is the author's alias; the field [author] denotes the author's GitHub account. In this case, it belongs to @luisbosquez (GitHub).
@LuisBosquez Please check this issue and see if you can help. Thanks.

[2018-09-10 23:28] Karishma-Tiwari-MSFT commented on #14769
Thanks for the question! We are currently investigating and will update you shortly.

[2018-09-10 23:28] MohitGargMSFT commented on #14609
@Shreelekha19 The best place to work on your specific scenario is through MSDN forum. Please open a new MSDN Forum post. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required

The forum community  members could also provide their expert guidance on your scenario

[2018-09-10 23:30] Karishma-Tiwari-MSFT commented on #14765
@bellowman Thanks for the question! We are currently investigating and will update you shortly.

[2018-09-10 23:31] MohitGargMSFT commented on #14621
@Kazzan Sure, I have assigned the issue to the content author to investigate and possibly include the example in the document to add clarification.

[2018-09-10 23:33] MohitGargMSFT commented on #14711
@WhippsP Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-09-10 23:35] vasivara-MSFT commented on #14766
@marknettle Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-10 23:36] MohitGargMSFT commented on #14761
@aljo-microsoft Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-09-10 23:37] Mike-Ubezzi-MSFT commented on #14506
@dcbrown16 I apologize for the mix-up but the same scenario applies to Gremlin. The SQL API and Table API both have REST operations that the remaining APIs (Gremlin, MongoDB, & Cassandra) do not have. I have listed the SQL API and Table API REST references here:
[Azure Cosmos DB: REST API Reference](https://docs.microsoft.com/en-us/rest/api/cosmos-db/)
[Table Service Concepts](https://docs.microso

[2018-09-10 23:44] vasivara-MSFT commented on #14767
@robinhalabicki  No, you can download visual studio9 code for linux and install the plugina nd run it in linux. Here is the link to install visual studio code for linux
https://code.visualstudio.com/docs/setup/linux

[2018-09-11 00:01] dcbrown16 commented on #14506
Got it, thanks for  @Mike-Ubezzi-MSFT!

[2018-09-11 00:01] #14506 closed

[2018-09-11 00:05] robinhalabicki commented on #14767
Please let me know what I'm doing wrong
<img width="1097" alt="image" src="https://user-images.githubusercontent.com/22157886/45330734-dddd6100-b534-11e8-9521-c693da250119.png">

[2018-09-11 00:06] ghogen commented on #14373
@NicBallinger yes, this was out of date.  I am working on an update, thanks.

[2018-09-11 00:12] clark0820 commented on #14728
@vasivara-MSFT, I did put my account in there, the text include “<“ and “>” as I don’t wanna expose my account in the forum. It’s not working for me. Can you help explain the error code “2312”? Thanks!

[2018-09-11 00:12] SaurabhSharma-MSFT commented on #14751
@Najib314 No it works for OneDrive as well, I am able to see the Terms Of Use for OneDrive as well.  Please make sure that you are trying to accept the Terms of Use for the first time through OneDrive and haven't accepted it using portal or application earlier.
![image](https://user-images.githubusercontent.com/38112130/45330911-89c68280-b51c-11e8-8ddd-c09ee3c38746.png)

[2018-09-11 00:15] KeiroKamioka0000 opened #14771 "What are the port number used for E-mail Alerts?"
When Azure dispatch the E-mail Alerts to the configured E-mail address, what port they will use to send E-mail?

Do they use port numbers like known as SMTP port?
or port number isn't really matter at all?

Thanks

If there is any port number need to open to receive the E-mail alerts from Azure, please add that to the somewhere in the document please.

https://www.siteground.com/tutorials/email/pr

[2018-09-11 00:18] #13599 closed

[2018-09-11 00:18] #14016 closed

[2018-09-11 00:20] v-makta opened #14772 "Japanese translation request"
Please translate Japanese into the following places.
++++++++++
The following describes details on restore point retention periods:
1.SQL Data Warehouse deletes a restore point when it hits the 7-day retention period and when there are at least 42 total restore points (including both user-defined and automatic)
2.Snapshots are not taken when a data warehouse is paused
3.The age of a restore point

[2018-09-11 00:29] tim-yan commented on #14704
@Mike-Ubezzi-MSFT The two docs are legible, from which I understand the structure of Azure SQL Database perfectly. But pictures from the docs are not consistent, one shows Single Database as "Single", the other shows "Singleton". I'm not saying this will cause any confusion, but for project management, there must be different sources for the single concept, which might be an issue in the future wi

[2018-09-11 00:32] timmyreilly opened #14773 "Why is the ForEach loop added?"
How do I batch up the data? Why would I want to send 10 emails? I want to send One Email with 10 things batched together....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c0b3664-4181-90d2-c1db-d17724c16a3e
* Version Independent ID: 8ce4d8ce-67c6-8d1f-7761-ad6ba06be793
* Content: [Batch process messages as a group or

[2018-09-11 00:35] Karishma-Tiwari-MSFT commented on #14702
@n1cho1as Yes, In postman, you can either pass the key value in the query string as ?code= or you can add in the headers as x-functions-key.
Thanks for the feedback. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-11 01:01] spelluru commented on #14756
@axisc

Hi Ashish - please look into it when you get a chance. Thanks.

[2018-09-11 01:06] marknettle commented on #14764
I don't believe either of those documents will solve the problem. They provide a means to connect an on-premise or IaaS system to a Managed Instance, not a cloud-based service like AAS or Power BI. Because Managed Instance is connected to a VNet, from a networking point, it appears more similar to SQL server on an IaaS VM (or on-premise VM) than it does to Azure SQL DB (which has public endpoints

[2018-09-11 01:14] davidekarasek commented on #14483
third party=no accountability. That’s how Microsoft addresses issues that a
multi billion dollar company can’t solve in it’s beautifully branded but
technically deficient cloud platform, but thanks for their email address.

On Mon, Sep 10, 2018 at 2:13 PM Mike Ubezzi <notifications@github.com>
wrote:

--
David Evan Karasek
davidekarasek@gmail.com

[2018-09-11 01:26] spelluru commented on #14591
@axisc - please look into the issue when you get a chance. Thanks.

[2018-09-11 01:55] spelluru commented on #14583
@axisc - Could you look into the issue when you get  a chance? Thanks.

[2018-09-11 01:59] badalk commented on #14698
@MicahMcKittrick-MSFT I am using Azure CLI

[2018-09-11 01:59] Mike-Ubezzi-MSFT commented on #14483
@davidekarasek we are currently in the process of updating the content owner details. I apologize for having to redirect you to the email address instead of being able to handle this request seamlessly. We will get this corrected. In the meantime, the email address is available to you if you wish to discuss documentation related issues. Thank you, ~Mike

[2018-09-11 02:03] femsulu commented on #14771
@KeiroKamioka0000 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-11 02:09] badalk commented on #14655
I have submitted a feature request on the same. Security at all levels is imperative and with cloud environment, it is even more important. Wish this would have been available right when it was GA

[2018-09-11 02:41] MicahMcKittrick-MSFT commented on #14698
@badalk thanks for confirming. In Azure Cloud Shell Helm is installed by default so if you are using Azure CLI I can see where it would be a bit more difficult.

I will run through the doc and see how many snags I get. Then we can take a look at seeing how we can make this doc a bit more clear.

[2018-09-11 03:07] Mike-Ubezzi-MSFT commented on #14764
@marknettle That analysis is spot on and the two doc links I provided were intended to demonstrate available functionality.
Did you have additional questions?

[2018-09-11 03:18] marknettle commented on #14764
I have Azure Analysis Services connecting to a Managed Instance through a On-Premise Data Gateway, using the option documented here: https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-vnet-gateway

[2018-09-11 05:00] SychevIgor commented on #8085
I expect that find an azure cli 2.0 command will be easy and you don't need me for that
I expect, that we can set diagnostic using
https://docs.microsoft.com/en-us/cli/azure/monitor/diagnostic-settings?view=azure-cli-latest#az-monitor-diagnostic-settings-create
I didn't find command for log analytics, but we don't have it in xplat cli either.

[2018-09-11 05:04] slavizh opened #14777 "Please include deleting personal data in Log Analytics link"
ASC stores some data in Log Analytics workspace. Please include somewhere the link to deleting personal data in Log Analytics:
https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-personal-data-mgmt

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cdee352-9609-2d22-1d1a-5edbfcd7fdca
* Version Independent I

[2018-09-11 05:15] Prashanthlkv commented on #14718
@Karishma-Tiwari-MSFT
Below is the Azure doc which I have followed.
https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-android-push-notification-google-gcm-get-started

[2018-09-11 05:22] Souvik04 opened #14778 "Generate answer request by filtering with `source`"
As per the documentation,
source: The name of the source from which the answer was extracted or saved in the knowledge base.

I am trying to send a POST request by specifying the `source`, along with the `question` and `top` but the response I receive contains answers from different sources as well which I haven't specified. Is there a way to get the answers filtered by the source, preferably in t

[2018-09-11 05:32] #13588 closed

[2018-09-11 06:36] msvijayn commented on #14771
@KeiroKamioka0000 - as indicated in the doc, all notifications from Azure alerts are sent via Action Group. Please refer to the linked Action Group details on their working and/or limitation.
![image](https://user-images.githubusercontent.com/33087919/45342290-1758af80-b5bb-11e8-899e-cfb3b9704d26.png)

Question on E-mail/SMTP port can be answered by [ActionGroup ](https://docs.microsoft.com/en-us/

[2018-09-11 07:06] zcsoriano opened #14780 "Connection forcibly closed by remote host when executing commands"
I have successfully connected to my graph following the instructions in the Azure documentation. However, I cannot execute any Gremlin commands after `:remote console`. I instead get an error message stating that the connection has been forcibly closed.

![image](https://user-images.githubusercontent.com/26318447/45343438-7f1af480-b5d3-11e8-8c1e-d3daa393a862.png)

I created a new vertex (using Dat

[2018-09-11 07:43] billkiddo opened #14781 "Next steps: Create a Managed Instance."
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-create-tutorial-portal link is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28ca1f7f-5a34-0f23-10ce-3ff24c76db97
* Version Independent ID: 5c4a22c4-78fc-911d-9fa0-8dfab1653b6e
* Content: [Azure SQL Database Managed Instance Overv

[2018-09-11 07:53] kazshi commented on #14727
@Karishma-Tiwari-MSFT I found "Is the Diagnostic extension working and emitting performance data?" in [Troubleshooting autoscale with Virtual Machine Scale Sets](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-troubleshoot) but I'm not sure it means that guest diagnostics extension cannot be used/enabled in VMSS.

[2018-09-11 08:05] linda33wj commented on #14741
@tloewenpapst for HTTP connector, the test connection in linked service config page doesn't really validate the cred. To further troubleshoot, I'd suggest you use e.g. Postman to test the config (URL/method/header/body/etc.) outside of ADF first, then come back and apply the same into ADF configure.

[2018-09-11 08:13] linda33wj commented on #14173
@kazshi thanks for reporting the issue. I'll get them fixed. You can ignore the "more services" (i'll rephrase), just go to your Azure SQL Server on top of which runs the DB then continue.

[2018-09-11 08:15] linda33wj commented on #14278
@patpicos please refer to the AKV article on this, specifically step 2 there: https://docs.microsoft.com/en-us/azure/data-factory/store-credentials-in-key-vault#steps

#please-close

[2018-09-11 08:17] linda33wj commented on #13073
#please-close

[2018-09-11 08:55] yangsiyu007 commented on #13958
Thanks @marcelo-salvatori, this is helpful but I think it'd be good to accommodate Linux newcomers in the document itself. It's not clear from this document alone that the OS disk and the temp disk are sda and sdb respectively. Also, what if there are already data disks attached or if the user attached more than one on the Portal before logging into the VM - how then do you identify one particular

[2018-09-11 08:56] prebenh opened #14782 "Step 12 - DefaultValue should be Value in code sample."
In step "12. To specify a different port to be used when publishing to a remote cluster, add the parameter with the port number to this file." The example code is wrong. DefaultValue should be Value.  DefaultValue is only valid in the ApplicationManifest parameters.

Is:
&lt;Parameters&gt;
    &lt;Parameter Name="MyWebAPI_PortNumber" DefaultValue="80" /&gt;
  &lt;/Parameters&gt;

Should be:
&lt;Pa

[2018-09-11 08:58] datarelish opened #14783 "Instructions are incorrect"
You have got 'Now you are set up to create a new Python project. Navigate to File -&gt; New -&gt; Project -&gt; Python and select the type of Python application you are building.'

The sequence should be:

Now you are set up to create a new Python project. Navigate to File -&gt; New -&gt; Project -&gt; Other Languages -&gt; Python and select the type of Python application you are building.

Python

[2018-09-11 09:16] bjthomson commented on #14663
This was seen on VS 15.8.3, as always, all service packs / bug fixes installed, tried on two machines.
I got this (secrets ID modified for this comment)
  <configBuilders>
    <builders>
      <add name="Secrets" userSecretsId="2acd9c48-0f7a-4c3b-ad3c-e1b391504bc5" type="Microsoft.Configuration.ConfigurationBuilders.UserSecretsConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.UserSecret

[2018-09-11 09:18] MBCO commented on #13718
Works, THX

[2018-09-11 09:27] Zoltango opened #14784 "Error: 'StaticJsonBuffer' was not declared in this scope"
The ArduinoJson library is updated, you can't compile the sketch with version 6.x.
Please see: https://github.com/bblanchon/ArduinoJson/issues/756

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6908b99a-b62b-0596-3dbe-c2fec0260b2b
* Version Independent ID: f34e44f2-3d3d-cbcd-d626-7c9b4115a0b1
* Content: [ESP8266 to clo

[2018-09-11 09:33] bjthomson commented on #14663
The keyvault was created in Azure, so I can continue exploring / evaluating. Heres the image with the message:

![squiggly2](https://user-images.githubusercontent.com/22427749/45351408-fdfd3680-b5ad-11e8-8a44-4d39b991bc7c.png)

[2018-09-11 09:33] parth115 commented on #14735
I was able to mail the escalation email and they were able to invite me to the **Microsoft Application Network**

My point is that no where in the documentation is it mentioned that you have to request access to **Microsoft Application Network** by sending an email to SaaSApplicationIntegrations@service.microsoft.com. It just says that you need to submit your app at https://microsoft.sharepoint.co

[2018-09-11 10:31] JimmyLS opened #14785 "Unnecessary MFA triggered when using remember MFA option and CA policy at the same time"
Based on my and our customer's testing, we found that if we enable "Remember Multi-Factor Authentication for trusted devices" and apply CA policy to allow access from compliant/hybrid AAD joined devices the same time, the MFA will be triggered when the MFA status for the trusted devices expire. So in this scenario, this setting also brings unnecessary MFA authentications.
Our customers are feeling

[2018-09-11 10:43] rs38 commented on #11976
that error "Fail to separate log with selected regex" is still present…would like to track when and how it is resolved. For some reasons that check could be skipped, so at the end logAnalytics processes the log file as needed.

[2018-09-11 11:27] Kousik1612 opened #14787 "Unable to define schema for App insights in Azure"
The "Add new data Source" is not present in Azure App insights portal.Was this deprecated?.
I am trying to import(to AI) and export from another app insights, is this possible ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe5a8a3c-347a-2f5b-a52c-f2fe6877899d
* Version Independent ID: b360c6d0-e207-4417-7cd9-16a3119d

[2018-09-11 11:38] richardspitz opened #14788 "Extension Supported OS's - Broken Link"
The "Extension Supported OS's" link under "Prerequisites" is broken due to a typo.

It is currently: https://azurewiki.cloudapp.netvmagentextension/extensionSupportedOSs
It should be: https://azurewiki.cloudapp.net/vmagentextension/extensionSupportedOSs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2d49683-d807-3ba0-

[2018-09-11 11:40] richardspitz commented on #14788
Closing as duplicate. Sorry about that.

[2018-09-11 11:40] #14788 closed

[2018-09-11 11:51] Bnjmn83 commented on #14187
Well I did the whole thing again multiple times, I restarted the machine many times and after a while it worked. Consider this closed.

[2018-09-11 11:51] nandhak21 opened #14789 "CosmosDB Trigger not working in Visual Studio 2017 Windows"
# Listener for function <FunctionName> was unable to start - CosmosDB Trigger

Hi Team,

I have been trying to test the cosmosDB trigger locally in visual studio 2017. Getting the below error.

[9/11/2018 11:31:25 AM] Initializing Host.
[9/11/2018 11:31:25 AM] Host initialization: ConsecutiveErrors=0, StartupCount=1
[9/11/2018 11:31:26 AM] Starting JobHost
[9/11/2018 11:31:26 AM] Starting Host (Ho

[2018-09-11 12:43] ishepherd commented on #14503
Thanks @Mike-Ubezzi-MSFT

I understand the PreferredLocations policy as it applies to reads.

What about writes? Will they move automatically to the active write region, or is PreferredLocations needed there too?

----

Conflicts feed:

OK if I understand you correctly, the answer to my question is "No. If data from the previous write region was not replicated, Cosmos DB will not retry the replica

[2018-09-11 13:04] rothja commented on #14642
@laoki Thanks for raising this question again. We have done more research/testing on this internally and have recently decided that even with disk striping, there is a performance advantage to having separate disks/pools for data and log files. I apologize that we haven't had a chance to update the article. We will do that soon. With that said, it comes down to the required performance versus cost

[2018-09-11 13:06] sergaz-msft commented on #14770
Hello @ssctx66 can you post this as a feedback @ [Azure IoT Edge Product Feedback](https://feedback.azure.com/forums/907045-azure-iot-edge) ? This will allow the community to upvote and for the product team to include into their plans.

Let us know the link to the feedback when you create it.
Thanks!

[2018-09-11 13:07] sergaz-msft commented on #14739
Hello @eifinger can you post this as a feedback @ [Azure IoT Edge Product Feedback](https://feedback.azure.com/forums/907045-azure-iot-edge) ? This will allow the community to upvote and for the product team to include into their plans.

Let us know the link to the feedback when you create it.
Thanks!

[2018-09-11 13:14] sergaz-msft commented on #14784
@Zoltango thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-11 13:28] FieldMarshallVague commented on #14746
One thing I noticed, the .Net version on the running app (Azure) says .Net 4.7, with no option for .Net core.  From similar issues on StackOverflow, this might be a version mismatch.  Could this be it?

[2018-09-11 13:50] kittenclubber opened #14791 "LDAP query basics url"
LDAP query basics url -&gt; points to https://docs.microsoft.com/en-us/exchange/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4680b98d-19f1-9501-37a9-4f7b6ada69d7
* Version Independent ID: e36c68c0-74c3-54a1-25e0-908511e8575c
* Content: [Troubleshoot Secure LDAP (LDAPS) in Azure AD Domain Services](https://docs.micro

[2018-09-11 13:54] Godunder opened #14792 "ldaps read/write status to custom OU's"
ldaps read/write status to custom OU's
This OU's don't sync back to azure but read\write status of them from ldap isn't documented clearly

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7aecca3d-10d0-4eef-136b-45b39af68c1e
* Version Independent ID: 7898951e-1af2-b021-d8b8-325643f536c2
* Content: [Azure Active Directory

[2018-09-11 13:59] anonymousReaper opened #14793 "BCP - load data into SQLEXPRESS - localhost"
Hello,

I'm using powershell to upload data into a database which is on a localhost server (SQLEXPRESS). Can someone help me with the bcp command? I keep getting the below error:
SQLState = 08001, NativeError = -1
Error = [Microsoft][ODBC Driver 13 for SQL Server]SQL Server Network Interfaces: Error Locating Server/Instance Specified [xFFFFFFFF].
SQLState = 08001, NativeError = -1
Error = [Microso

[2018-09-11 14:25] ermacia91 opened #14794 "How to work around AppDynamics sign in prompt"
AppDynamics SSO is not a truly automated experience, and it will require end user interaction when signing in to the site, mainly for adding the Compay Name in AppDynamics in the Account Name field. I have found that there is no prompt for such value, and only a sign in approval is required, if the Sign in URL is built as: https://&lt;companyname&gt;.saas.appdynamics.com?accountName=&lt;companynam

[2018-09-11 14:28] cjmather commented on #14759
Sorry, this was filed in error, please ignore and close.  I think I cut-n-pasted erroneously.

[2018-09-11 14:28] #14759 closed

[2018-09-11 14:31] gbaman commented on #12232
Seconded, details here on any changed required to the VMs afterwards would be good. For example, the Azure agent needing installed etc?

[2018-09-11 14:32] vashish76 commented on #13658
@YutongTie-MSFT - Please help me in identifying the issue in the above code

[2018-09-11 14:34] eross-msft commented on #14621
@curtand  Reassigning to correct author for this topic.

[2018-09-11 14:37] gvacaguzman commented on #12707
Are this will be improved in some time?

[2018-09-11 14:38] FieldMarshallVague commented on #14746
OK, I've figured out the problem through trial and error.  It's because the docs tell you to assign the 'get' permission, but it needs both 'get' and 'list' permissions.  Where the docs say "Then, run this command by using the name of your key vault and the value of PrincipalId:", you should update it to read:

`az keyvault set-policy --name '<YourKeyVaultName>' --object-id <PrincipalId> --secret-

[2018-09-11 14:40] #14616 closed

[2018-09-11 14:41] SoccerCore11 commented on #8367
@TravisCragg-MSFT - I don't think this should be closed yet, as it is still unclear. What is a 'supported' app vs 'unsupported'? Can you use some examples like NickDorak mentioned (Outlook Mobile, Built-in Mail, Blue Mail, MyMail, Boomerang, Gmail, etc.).

What is a scenario where we should check "Apply policy only to supported platforms" versus when we should leave it unchecked?

@MarkusVi

[2018-09-11 14:41] prashanthyv commented on #14746
Hi @FieldMarshallVague ,

Thank you. I was sure it was a permissions issue. Thank you for this note. We will update the docs

[2018-09-11 14:42] cjh15hub commented on #14616
I found that I should have been using the Data Migration Assistant. This accomplished what I needed.

[2018-09-11 14:42] prashanthyv commented on #14746
@barclayn - Can we close this issue?

[2018-09-11 14:46] barclayn commented on #14746
#please-close

[2018-09-11 14:50] newportl commented on #13541
From SQLCAT: https://blogs.msdn.microsoft.com/sqlcat/2018/07/20/storage-performance-best-practices-and-considerations-for-azure-sql-db-managed-instance-general-purpose/

The current implementation of MI GP does not use blobs smaller than 128 GB (P10). The system will use 128 GB (P10) blobs even for very small database files, to avoid negative performance impact that would be likely with smaller bl

[2018-09-11 14:59] scarolan opened #14795 "Variable is defined in main.tf but never used"
I think this was intended to be used in the resource group:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 163088fc-67d3-aa81-26e7-0155f3aaa90c
* Version Independent ID: fafceb81-d8fc-8c20-72e5-b2dddc445f73
* Content: [Use Terraform to create a complete Linux VM in Azure](https://docs.microsoft.com/en-us/azure/

[2018-09-11 15:00] jeevansd commented on #14735
@parth115 Great point. We will add this note in the doc so that no other partner will have this issue.
@Chetansriv can you please add this note in the doc? Thanks.

[2018-09-11 15:04] Mike-Ubezzi-MSFT commented on #14781
@billkiddo It appears that the link ([Create a Managed Instance](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-get-started)) has been updated. Can you verify that the link is working for you.

![screenshot 301](https://user-images.githubusercontent.com/37126106/45368757-3a726780-b599-11e8-909d-f44162c2b8eb.png)

Thank you, ~Mike

[2018-09-11 15:07] Mike-Ubezzi-MSFT commented on #14772
@v-makta Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-11 15:08] Sajlib opened #14796 "Issue with "Quoted property accessor""
Hi Guys,

I was trying to query using the "Quoted property accessor" but without success.
Even a "SELECT f["Id"] FROM Family f" won't work.

Thank you in advance.
Sajli

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f02ab33b-616c-7055-2375-43c700d609cd
* Version Independent ID: 81d1c3e3-c920-61d2-2e5f-8ed42f91c778
* Co

[2018-09-11 15:18] Sajlib commented on #14796
Following a sample error BadRequest message

message=Query '{
  "query": "SELECT f["_ts"] FROM Family f"
}' specified is either invalid or unsupported.
ActivityId: 7cf57639-b935-4942-b4de-bd0a530336e2, Microsoft.Azure.Documents.Common/2.0.0.0

[2018-09-11 15:18] Mike-Ubezzi-MSFT commented on #14796
@Sajlib Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-09-11 15:27] bloudraak opened #14798 "Provide a warning about running migrations at startup"
For highly available systems were multiple instances of the application is running, you really shouldn't do migrations as part of the application startup. We have seen time and time again, that multiple instances will try to run the same migration at the same time, causing exceptions. Developer's did this because they read articles like these.

Do add a warning that in real world scenarios, with s

[2018-09-11 15:28] bloudraak commented on #14798
The following is bad advise and should come with a warning:

[code]

[2018-09-11 15:32] daniel-rocha opened #14799 "Device name errors"
The device name in the identity creation part is "MyTwinDevice" and in the "ServiceClient" it is "TwinTesting". This mismatch causes an error with ServiceClient.js is trying to connect to the Registry.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 014fa2f5-e835-6ee6-896a-2e5eb5b201db
* Version Independent ID: 250e7610

[2018-09-11 15:38] nareshhamal commented on #11515
Hi RanchMobile,
Is it multiple web apps within ASE ILB behind application gateway and sharing the same domain name with path based URL ? How did you solve it ?
Can you help me to guide through ? I am struggling to make it work from last weeks. It works only with one web apps but other path-based web apps does not work so far.
Naresh

[2018-09-11 15:41] v-videba opened #14800 "Add additional restrictions on Before you begin"
The restrictions must also include the Internal consumption offers (as MS-AZR-0015P) on the third bullet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da261ee4-3348-b520-a27c-98f9d9ef40cc
* Version Independent ID: 13d12189-ee46-8058-dd99-058adc69f1c5
* Content: [How to add an existing Azure subscription to your Azure

[2018-09-11 15:50] msvijayn commented on #14771
#please-close

[2018-09-11 15:50] jeevansd commented on #14794
@ermacia91 Thanks for reporting this. We have tested this suggestion on the sign on URL and it is working as expected.

@chetansriv Can we please make this change in the doc as per the suggestion here?

[2018-09-11 15:51] jeevansd commented on #14794
@v-viinde For your action.

[2018-09-11 15:59] badalk commented on #14698
@MicahMcKittrick-MSFT now I am trying it on azure shell and still get the same error

badal@Azure:~$ helm install stable/nginx-ingress --namespace kube-system --set controller.service.loadBalancerIP="40.xx.xx.xx"
**Error: could not find tiller**

Regards
Badal

[2018-09-11 16:01] sergaz-msft commented on #14453
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-11 16:01] #14453 closed

[2018-09-11 16:04] Karishma-Tiwari-MSFT commented on #14748
@LisandroSu Any updates? Please share the url of the azure doc that you have been following, so that we can direct this issue to the right doc. Thanks.

[2018-09-11 16:04] Karishma-Tiwari-MSFT commented on #14793
@anonymousReaper Thanks for your question. Can you please share the url, if there is a particular Azure doc you have been following?

[2018-09-11 16:19] markolbert opened #14801 "Instructions do not work"
I cannot get the instructions to work with a newly-created from template ASPNet Core 2.1 app. When I click on the Microsoft Account login option, I get a "We're unable to complete your request
Microsoft account is experiencing technical problems. Please try again later" error, with no additional information provided.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2018-09-11 16:27] Minewiskan commented on #14766
#in-progress

[2018-09-11 16:29] mike-urnun-msft commented on #14773
Hi @timmyreilly Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-09-11 16:33] jimdial commented on #14601
#in-process

[2018-09-11 16:33] jimdial commented on #14540
#in-process

[2018-09-11 16:33] jimdial commented on #14539
#in-process

[2018-09-11 16:39] Karishma-Tiwari-MSFT commented on #14789
@nandhak21 Thanks for your question. Can you please share the url, if there is a particular Azure doc you have been following?

[2018-09-11 16:42] Karishma-Tiwari-MSFT commented on #14780
@zcsoriano Thanks for your question. Can you please share the url for the particular Azure documentation you have been following?

[2018-09-11 16:55] MicahMcKittrick-MSFT commented on #14782
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-11 16:55] cbrooksmsft commented on #11752
thank you for the feedback!  I have added the following statement to the docs to clarify...

"Blob storage events are reliably sent to the Event grid service which provides reliable delivery services to your applications through rich retry policies and dead-letter delivery."

#please-close

[2018-09-11 16:56] MicahMcKittrick-MSFT commented on #14788
Thanks Richard!

[2018-09-11 16:56] cbrooksmsft commented on #11752
#please-close

[2018-09-11 16:57] MicahMcKittrick-MSFT commented on #14795
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-11 17:04] gopitk commented on #14783
@datarelish - Thanks for the feedback. Looks like you may be using the Windows 2012 edition of the DSVM. We should have explicitly stated to use the [Windows 2016 edition of DSVM](https://azuremarketplace.microsoft.com/marketplace/apps/microsoft-dsvm.dsvm-windows) for this article which is typically refreshed more frequently and has VS 2017 where Python project can be created through File -> New -

[2018-09-11 17:10] BryanTrach-MSFT commented on #14798
@bloudraak Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-11 17:11] badalk commented on #14391
Now I am following the exact steps from Azure Cloud Shell and everything executed successfully, but still the load balancer external IP still shows pending from last 55 mins. Not sure what is fixed. @MicahMcKittrick-MSFT  can you elaborate on the fix that is applied as I dont see this working either from Azure CLI executed from my machine OR through Azure Cloud Shell.

[2018-09-11 17:15] datarelish commented on #14783
I'm using Windows 2016 Data Centre edition. Please see the attached snip.

[cid:6a53b8d4-d01e-42ca-ab6b-110fbac57dec]

________________________________
From: Gopi Kumar <notifications@github.com>
Sent: 11 September 2018 18:04:26
To: MicrosoftDocs/azure-docs
Cc: Jen Stirrup; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Instructions are incorrect (#14783)

@datarelish<https://github.com/datarelis

[2018-09-11 17:16] LisandroSu commented on #14772
Hi @SunnyDeng, do you know when this file will be localized?

Thanks!

CC: @Sara-Nicolini

[2018-09-11 17:16] chetansriv commented on #8409
@tmaeller before making any change, I would like to get on a call with you so that we discuss and ensure that right guidance is provided in the tutorial. Please provide your work email and preferred timing if this works for you and I'll send an invite.

[2018-09-11 17:17] kobulloc-MSFT commented on #14787
@Kousik1612 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-09-11 17:27] vasivara-MSFT commented on #14778
@Souvik04 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-09-11 17:28] kgremban commented on #14196
Hi @sebader, for an operating system to be listed as "Tier 1" in this article it needs to have installation packages AND automated testing. Last I heard, CentOS was not yet in the testing suite. I'll check to see if it's been included yet.

[2018-09-11 17:29] alohaninja opened #14804 "Multiple Profiles Example"
If you are using multiple profiles other than default - priority is not clear for fixed date or recurring. Does rule checking occur based on the order displayed in the UX/JSON? There doesn't seem to be a way to order profiles or indicate priority.

Can we please see an example using multiple profiles for clarification on priority and how to arrange priority with multiple fixed date or recurring pr

[2018-09-11 17:31] gopitk commented on #14783
@datarelish - I cannot see the attached snip. Can you please re-attach the same. The screenshot I sent was from a new instance of Windows 2016 edition of DSVM  I just spun up. Are you seeing VS 2017 on your DSVM or is it still VS 2015?

[2018-09-11 17:31] gopitk commented on #14783
@datarelish - I cannot see the attached snip. Can you please re-attach the same. The screenshot I sent was from a new instance of Windows 2016 edition of DSVM  I just spun up. Are you seeing VS 2017 on your DSVM or is it still VS 2015?

[2018-09-11 17:34] MicahMcKittrick-MSFT commented on #14531
@paulmackinnon-adv365 I cannot replicate the behavior you are seeing. Seems there is an issue directly with your environment.

At this point we should get you in contact with a Support Engineer who can work with you 1:1 via phone and screen share to get this resolved.

Do you have the ability to open a support ticket? If not, you can email me at AzCommunity@microsoft.com and provide me with your S

[2018-09-11 17:34] vasivara-MSFT commented on #14767
@robinhalabicki Please follow these [steps](https://docs.microsoft.com/en-us/azure/data-lake-analytics/data-lake-tools-for-vscode-local-run-and-debug#start-the-local-run-service-and-submit-the-u-sql-job-to-a-local-account) and see if this rectifies your issue

[2018-09-11 17:36] kgremban commented on #13986
Hi @andrepodnozov. You followed the guidance in one of the transparent gateway articles, and [configured your leaf device with the proper certs](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-create-transparent-gateway-linux#installation-on-the-downstream-device) and then [amended the hostname to the leaf device's connection string](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-cr

[2018-09-11 17:37] vasivara-MSFT commented on #14728
@clark0820 I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-11 17:39] patpicos opened #14805 "Select-AzureRmProfile"
Select-AzureRmProfile is not available in newer Powershell versions
https://docs.microsoft.com/en-us/powershell/module/azurerm.profile/?view=azurermps-6.8.1#profile

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 295f7fdc-391c-603d-47d1-2c4f3a2bbdeb
* Version Independent ID: 2c30e6c8-1243-9206-c9bd-d88ce851b346
* Conten

[2018-09-11 17:40] kgremban commented on #13596
@creationsoft We can't reproduce your issue. Have you tried retesting the article?

[2018-09-11 17:40] Adam-Smith-MSFT commented on #12973
@tamram I just re-tagged it to the proper sevice

[2018-09-11 17:40] patpicos commented on #14805
Replace docu w/ Import-AzureRmContext -Path $p

[2018-09-11 17:40] ghogen commented on #14373
#please-close @NicBallinger I have a doc update for this in the queue. It should be published shortly.

[2018-09-11 17:40] robinhalabicki commented on #14767
again, the initial problem as stated is that the documentation _only works on windows_.

the link you sent has a ticket open for the EXACT SAME THING I HAVE.   All I'm stating is that you should document that nothing on that page works on any OS other than Windows
https://github.com/MicrosoftDocs/azure-docs/issues/14686

[2018-09-11 17:41] Ayanmullick opened #14806 "Converting Gateway IP to static"
Can one convert the Gateway public IP to static once the deployment is done? Or does it need to stay dynamic?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1028ea5b-a7cb-6463-3e15-0fb354ba1698
* Version Independent ID: 267aa403-49c5-f0ed-7998-2287dd4102d7
* Content: [Add a virtual network gateway to a VNet for Express

[2018-09-11 17:43] kgremban commented on #12641
Hi @tommy-mor. In the last few months I've updated this part of the articles to include more details and screenshots around that step. Could you check again and see if your issue is resolved? Or if not, what kind of information are you looking for in this step?

[2018-09-11 17:44] Karishma-Tiwari-MSFT commented on #14202
@poulinjulien Since you have been helped by our engineer on [MSDN](https://social.microsoft.com/Forums/en-US/2bee621c-f3d9-41a3-a89f-7c5ddfc6f784/quotinput-string-was-not-in-a-correct-formatquot-error?forum=windowshpcdevs), I will close this issue now.
If you have additional questions let me know and we can reopen and continue.

[2018-09-11 17:44] #14202 closed

[2018-09-11 17:44] vasivara-MSFT commented on #14767
@robinhalabicki Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-11 17:46] mnltejaswini commented on #14531
@paulmackinnon-adv365  Sorry for the trouble. Can you please run az acr build with --debug option and provide us the output. Thank you.

[2018-09-11 17:48] avidiyal commented on #14769
I haven't heard back from anyone yet. Could you please expedite this?

[2018-09-11 17:48] jason-j-MSFT commented on #14671
@gstream1 I see a 'batch_count' parameter here:
https://docs.microsoft.com/en-us/python/api/azure-mgmt-datafactory/azure.mgmt.datafactory.models.foreachactivity?view=azure-python

Is this not working or not what you are referring to?

We are closing this issue for now, but we can reopen anytime if you can clarify your issue.

[2018-09-11 17:48] #14671 closed

[2018-09-11 17:48] TravisCragg-MSFT commented on #11752
@nickward13 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-11 17:48] #11752 closed

[2018-09-11 17:49] MicahMcKittrick-MSFT commented on #14782
@prebenh thanks for the find! I have corrected the doc.

Once the PR merges this issue will close and the changes will go live in a few hours.

[2018-09-11 17:50] cbrooksmsft commented on #13931
#please-close

[2018-09-11 17:51] cbrooksmsft commented on #7741
#please-close

[2018-09-11 17:53] Karishma-Tiwari-MSFT commented on #14730
@luisaxeko Is there any update on this? Please share the url of the doc that you have been following, so that we can help you out with your question.

[2018-09-11 17:57] Karishma-Tiwari-MSFT commented on #14799
@daniel-rocha Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-11 17:58] vasivara-MSFT commented on #7741
@Noambi We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-11 17:58] #7741 closed

[2018-09-11 18:00] PlateSpinner opened #14807 "Missing the rest of the sentance?"
At the end of the "Self-signed certificate renewal" section, it ends with:
"If you are un-able to renew the Run As certificate"
but there's no ending to the sentence... (Suspense!)
Now I'm a little nervous about what horrors may happen if I'm unable to renew the RunAs cert.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2018-09-11 18:04] SunnyDeng commented on #14772
Hi @LisandroSu, the current file is localized. About the new updates, it will depends on when writer merge the fix. cc @Mike-Ubezzi-MSFT

[2018-09-11 18:10] MarileeTurscak-MSFT commented on #14800
@v-videba Thanks for the feedback! We will investigate and update as appropriate.

[2018-09-11 18:18] TomArcher commented on #14387
@ravikiran-srini Please let us know if the problem persists.
@femsulu #please-close

[2018-09-11 18:29] SteveMSFT commented on #14641
+ XiXi & Sean from the Face team

Error in our Face API V1.0 doc.

From: YutongTie-MSFT <notifications@github.com>
Sent: Friday, September 7, 2018 7:41 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Steven Bowles <sbowles@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Response of Face - Identify (#14641)

@PatrickPan2012<https://na

[2018-09-11 18:33] timmyreilly opened #14808 "Unable to save logic app with batch interval of 45 second/seconds/.75 minutes?"
Failed to save logic app "orderBatching". The recurrence interval '45' of batch configuration 'BatchName' is not valid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c0b3664-4181-90d2-c1db-d17724c16a3e
* Version Independent ID: 8ce4d8ce-67c6-8d1f-7761-ad6ba06be793
* Content: [Batch process messages as a group or coll

[2018-09-11 18:36] eross-msft commented on #14800
@v-videba Do you have the updated offers list?

[2018-09-11 18:40] akramwaseem opened #14809 "Is this documentation still useful with the new insights experience"
Hey there,
I am trying to figure out how to add the docker tile for docker container and I cannot find it after creating App Insights.Can you take a look if there is a way. I cannot find it on my portal.Also seems like UI changed and you might need update the screenshots with the new UI to better understand.

Also how do I setup the Live Metrics Stream for containers or VM ??

---
#### Document De

[2018-09-11 18:44] akramwaseem commented on #14809
I can find it but not in the location mentioned.

[2018-09-11 18:47] BryanTrach-MSFT commented on #14808
@timmyreilly Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-11 19:01] datarelish commented on #14783
It was from a brand new VM that I spun up today. I have attached it as a file, rather than insert it.

________________________________
From: Gopi Kumar <notifications@github.com>
Sent: 11 September 2018 18:31:43
To: MicrosoftDocs/azure-docs
Cc: Jen Stirrup; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Instructions are incorrect (#14783)

@datarelish<https://github.com/datarelish> - I cannot se

[2018-09-11 19:04] mehdipanjwani commented on #14571
The link that you mentioned https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitor-alerts-unified-usage#create-an-alert-rule-with-the-azure-portal refers to create action group to include custom json payload. And the action group https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-action-groups doesnt say anything about custom payload. I think we are mov

[2018-09-11 19:09] TomArcher commented on #5427
@joeshepherdmba Great feedback. As I'm updating each of these article, I've been adding more verbose instructions especially around using Bash. When I update this article, I'll do the same here. #please-close

[2018-09-11 19:11] timmyreilly commented on #14773
I was able to customize it directly from the Code View:

Just sort of strange that it defaults in the designer view to use a for loop for something I just batched together...

[code]

[2018-09-11 19:12] TomArcher commented on #5421
#please-closes

[2018-09-11 19:14] mehdipanjwani commented on #14571
Is it possible to provide custom json payload in webhooks for "Availability tests" and "action group (used in classic alerts)"? Availability test: https://docs.microsoft.com/en-us/azure/application-insights/app-insights-tutorial-alert
Classic alerts: https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-overview-alerts

[2018-09-11 19:17] beachseeker opened #14811 "Code error: subscriptionKey undefined"
The code snippet in Get Directions 2. is incorrect.  subscriptionKey is undefined.  It seems to work with MapsAccountKey instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a83c299e-5f1e-be71-41c6-879815e4801c
* Version Independent ID: 01996a4c-2897-e3cb-8e60-0be6ca52230d
* Content: [Find route with Azure Maps](htt

[2018-09-11 19:18] jeevansd commented on #14753
@msilinda Thanks Linda.

[2018-09-11 19:20] CarlRabeler commented on #14781
@billkiddo there should have been a forwarding link - I will investigate and address

[2018-09-11 19:28] CarlRabeler commented on #14781
@billkiddo I have verified that the forwarding link is working and confirmed that I actually changed the link in the article itself. I am guessing that you ran into a caching issue. I cannot repro the issue.
Carl

[2018-09-11 19:29] CarlRabeler commented on #14781
@Mike-Ubezzi-MSFT I believe that you can close this as no repro - unless you can repro the issue.

[2018-09-11 19:29] mgfink opened #14812 "Missing rule definitions?"
Portal lets you set a number of rules including ones that aren't described in the above.  The following are options in OWASP 3.0 but not listed above:

942200 - Detects MySQL comment-/space-obfuscated injections and backtick termination
942260 - Detects basic SQL authentication bypass attempts 2/3
942340 - Detects basic SQL authentication bypass attempts 3/3
942370 - Detects classic SQL injection

[2018-09-11 19:31] Mike-Ubezzi-MSFT commented on #14781
@billkiddo We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-11 19:31] #14781 closed

[2018-09-11 19:32] TravisCragg-MSFT commented on #14806
@Ayanmullick the VPN Gateway should stay Dynamic.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-11 19:32] #14806 closed

[2018-09-11 19:32] Mike-Ubezzi-MSFT commented on #14411
@AjitBhosale We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-11 19:32] #14411 closed

[2018-09-11 19:34] Bi0z commented on #12034
Just ran into the same issue with the new blade. Dozens of other sites with IP restrictions working properly from before the change, but now the new site will get 403 if anything is added to the blade. This page is has the most information regarding the issue with no resolution in sight. I can't find where someone acknowledges this as an issue and will work on it.

[2018-09-11 19:45] femsulu commented on #14804
@alohaninja Thanks for the comment. Your feedback has been shared with the content owner for further review.

[2018-09-11 19:49] Mike-Ubezzi-MSFT commented on #14503
Answer to the fail-over on Write region is yes, you need to configure a preferred region list which is the list of other Read regions, where the priority of a Read region determines the sequence of which region to select.

![screenshot 313](https://user-images.githubusercontent.com/37126106/45383287-a2d43f80-b5bf-11e8-85fd-78bab4886d81.png)

And the conflict feed is either manually reprocessed or

[2018-09-11 19:51] jimdial commented on #14540
@jtuliani The next hop types have been updated. The change will publish later today.  Thanks #please-close

[2018-09-11 19:52] jeffgilb commented on #14675
I've made the necessary doc updates for this issue.

[2018-09-11 19:52] jeffgilb commented on #14675
#please-close

[2018-09-11 19:54] aschiebold commented on #12034
@Bi0z Yea the documentation is terrible. Doesn't show examples. I got it working though, here's an actual real life example of allowing everything with blocking a few IP's.

https://i.imgur.com/XpqV3qO.png

[2018-09-11 19:56] microsoft-rin opened #14815 "Deployment not being applied to any device"
The deployment (videoingestionsimulator) found two devices:
![image](https://user-images.githubusercontent.com/19398051/45384148-08293000-b5c2-11e8-9d84-a4ddd68a6f47.png)

but the deployment could not be applied
![image](https://user-images.githubusercontent.com/19398051/45384095-e29c2680-b5c1-11e8-9215-4c41a3616c8f.png)

also tried deployment by cli and got the same result
![image](https://user-i

[2018-09-11 19:59] neoakris opened #14816 "An example of how to pass parameters into ARM templates that request arrays would be nice."
https://github.com/Azure/azure-quickstart-templates/blob/master/sharepoint-three-vm/vnet-with-dns-server.json

has a 2 sections that say:
    "subnets": {
      "type": "array",
      "metadata": {
        "Description": "The subnet definition for the VNET"
      }
    },
    "DNSServerAddress": {
      "type": "array",
      "metadata": {
        "Description": "The DNS address(es) of the DNS Ser

[2018-09-11 20:11] Shreelekha19 commented on #14609
Thank you @MohitGargMSFT  , I posted the question in forums .
Here is the link :
https://social.msdn.microsoft.com/Forums/azure/en-US/91297a05-5536-45b5-a87e-6b6af9b58089/set-idle-session-timeout-using-token-lifetime-policies?forum=WindowsAzureAD

[2018-09-11 20:13] #5421 closed

[2018-09-11 20:14] MarileeTurscak-MSFT commented on #14676
Please open this question on the MSDN forum and link to this Github issue. I am looking into this and am trying to reproduce but can troubleshoot better on MSDN. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2018-09-11 20:14] #14676 closed

[2018-09-11 20:17] tfitzmac commented on #14816
@neoakris - thanks for the good suggestion. I'll add that.

In the meantime, the easiest way to pass an array is in the parameter file. For the parameter value use: "value": ["value 1", "value 2"].

The template you linked to is more complicated because it is a linked template and one of the arrays is an array of objects. To see how a variable for the subnets array is constructed in the parent tem

[2018-09-11 20:18] TravisCragg-MSFT commented on #14540
@jtuliani We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-11 20:18] #14540 closed

[2018-09-11 20:18] TravisCragg-MSFT commented on #14675
@cenkersoy We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-11 20:18] #14675 closed

[2018-09-11 20:26] gosali commented on #13160
@nitinme @cjgronlund Hi, is there any update on this? Thanks

[2018-09-11 20:27] MarileeTurscak-MSFT commented on #14791
@Godunder
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-11 20:32] MicahMcKittrick-MSFT commented on #14698
@badalk Sorry for all the confusion on the steps provided. I can absolutely see how it may not be the most intuitive for people just starting out with AKS as there are a few presumptions in the docs.

We do break out the ingress docs into a few seperate peices to try and make it a bit more clear

![image](https://user-images.githubusercontent.com/32313503/45385595-124d2d80-b5c6-11e8-9f19-273b16afe

[2018-09-11 20:40] MohitGargMSFT commented on #14508
@adamjbradley Please email us at azcommunity@microsoft.com and mention this GitHub issue URL in it. I will work with you through email. Thanks.

[2018-09-11 20:56] andrewb-ms opened #14818 "Does Azure SQL have a concurrent session / connection limit for DTUs?"
If so, what is it?  This is not listed anywhere on the pricing page, resource limit page or DTU model page.  It used to have a limit.  Does it now NOT have a limit?  If it does have a limit, what is it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b8f9b79-678b-7a3e-0642-8ae7bd8a790b
* Version Independent ID: 6dc1fcc

[2018-09-11 20:58] MohitGargMSFT commented on #14785
@JimmyLS Thanks for your feedback! We will investigate and update soon on it.

[2018-09-11 20:58] jeevansd commented on #8409
@tmaeller Please send the email to SaaSApplicationIntegrations@service.microsoft.com and then we can talk in details.

[2018-09-11 20:59] MohitGargMSFT commented on #14777
@slavizh Thanks for your feedback! We will investigate and update soon on it.

[2018-09-11 21:00] femsulu commented on #14807
@PlateSpinner Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-11 21:01] Mike-Ubezzi-MSFT commented on #14650
@tstone84 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion. Thank you, ~MIke

[2018-09-11 21:01] #14650 closed

[2018-09-11 21:04] Mike-Ubezzi-MSFT commented on #14660
@reliason We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion. If you require more time to digest the information, feel free to ask additional questions when needed. Thank you, Mike

[2018-09-11 21:04] #14660 closed

[2018-09-11 21:05] Mike-Ubezzi-MSFT commented on #14503
@ishepherd We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion. Thank you, ~Mike

[2018-09-11 21:05] #14503 closed

[2018-09-11 21:08] Martony78 commented on #12472
It still doesn't work for Azure AD account. Microsoft has been talking about it since ignite 2017 (BRK2078), any idea when it will be available?

[2018-09-11 21:13] eross-msft commented on #12472
This functionality has actually moved out a bit due to some last minute issues that we didn't want you guys to have to deal with. We don't have an exact release date, but it is targeted for a future release.

[2018-09-11 21:21] SaurabhSharma-MSFT commented on #14777
@slavizh Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-09-11 21:28] danabrash commented on #8850
Did this change not get published?  I still see the same problem.

[2018-09-11 21:33] andrew-hampton commented on #12971
@BrainSlugs83 I ended up doing a similar hack. We have a custom targets file for our cloud service projects and I added the following target in there

  <Target Name="RemoveAzureNetFrameworkCheck" BeforeTargets="BeforeBuild" >
    <ItemGroup>
      <FilteredDependencies Include="$(ResolveRoleReferencesDependsOn)"/>
      <FilteredDependencies Remove="ValidateRoleTargetFramework"/>
    </ItemGroup>

[2018-09-11 21:37] #14502 closed

[2018-09-11 21:38] TravisCragg-MSFT commented on #14812
@mgfink Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-11 21:39] Karishma-Tiwari-MSFT commented on #14795
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-11 21:48] tommy-mor commented on #12641
Yes, that is much better.

On Tue, Sep 11, 2018, 10:43 AM Kelly Gremban <notifications@github.com>
wrote:

[2018-09-11 21:52] KeiroKamioka0000 opened #14820 "Port Number?"
Hello, sorry If Post to wrong place.

Regarding the Alert E-mail sends from action groups, may I ask which port number will be used?
I would like to know which port number should I leave open to receive the alert E-mail.

Is it will be same as E-mail in general such as POP3 ports?

Thanks,

https://github.com/MicrosoftDocs/azure-docs/issues/14771#issuecomment-420163591

---
#### Document Details

[2018-09-11 21:54] ghogen commented on #14663
Is the project targeting .NET 4.7.1?  I'm also sending this to the engineering team to look at.

[2018-09-11 22:05] MarileeTurscak-MSFT commented on #14801
1. Can you send me a screenshot of exactly where you receive this error and which login url you are using?
2. Have you made sure that your URL looks just like this?
https://{tenant}.b2clogin.com/te/yourtenant.onmicrosoft.com/oauth2/authresp

The setup in the document seemed to work fine for me.
![image](https://user-images.githubusercontent.com/13383753/45390430-1ed88280-b5d4-11e8-92f9-9fb9f2b6523

[2018-09-11 22:06] MarileeTurscak-MSFT commented on #14792
@Godunder did you have any more specific feedback? Is there something you would like to add to this document?

[2018-09-11 22:13] jason-j-MSFT commented on #14686
@gopinath678 we are tracking this issue here:
https://github.com/MicrosoftDocs/azure-docs/issues/14767

A content author is taking a look at this, closing this issue as a duplicate.

@robinhalabicki thanks for relating the issues.

[2018-09-11 22:13] #14686 closed

[2018-09-11 22:26] markolbert commented on #14801
I'll try.

App registration page:

![ridemonitorappreg](https://user-images.githubusercontent.com/9095610/45391080-9e675100-b5d6-11e8-8f04-6c80fbc37c0c.png)

Tenant identity providers page:

![identityproviders](https://user-images.githubusercontent.com/9095610/45391112-bdfe7980-b5d6-11e8-9337-5f25881deb59.png)

Application configuration page:

![ridemonitorsite](https://user-images.githubusercont

[2018-09-11 22:27] markolbert commented on #14801
BTW, I didn't reach that Application Registration Page from inside of the Azure portal. Does that matter?

[2018-09-11 22:30] WhippsP opened #14822 "Element Placement"
Is it worth noting that the order of the elements are enforced? As in the BuildingBlocks shown above must appear in that order.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fcae62a-0cfd-d310-df15-ad163eacac8b
* Version Independent ID: 3ec17196-68a3-eb33-d6f7-0d5f7cc55d91
* Content: [BuildingBlocks - Azure Active Dir

[2018-09-11 22:30] Adam-Smith-MSFT commented on #14135
@cdaniel96  @sujayt is the author assigned to this case, I tagged him for an update.

[2018-09-11 22:31] jason-j-MSFT commented on #14701
@nuanuser no, it looks like the definition file is a required parameter:
https://docs.microsoft.com/en-us/powershell/module/azurerm.datafactories/set-azurermdatafactoryv2trigger?view=azurermps-4.4.1&viewFallbackFrom=azurermps-6.8.1

[2018-09-11 22:31] #14701 closed

[2018-09-11 22:38] swhite-msft commented on #14658
“@orting. Thanks for bringing this issue to our attention. You are correct that you cannot use Bing Image API as the article suggests. We will remove that portion of the article shortly. Thanks again.

[2018-09-11 22:41] vasivara-MSFT commented on #14805
@patpicos Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-11 22:45] swarup5s opened #14824 "Use Spark to read and write HBase data"
[The document shown here is working for data loading from HBase. However while writing the DataFrames back to HBase the code throws java.lang.NullPointerException...

code:
**userDF.write
      .options(Map(HBaseTableCatalog.tableCatalog -> catalog))
      .format("org.apache.spark.sql.execution.datasources.hbase").save()**
not sure what is causing the exception.. Here's the log

at org.apache.had

[2018-09-11 22:45] Karishma-Tiwari-MSFT commented on #14596
@luislinietsky Since the host.json metadata file contains global configuration options that affect all functions for a function app, maxConcurrentCalls setting will get applied to all the service bus trigger functions within the same FunctionApp.
The effect of maxConcurrentCalls will be independent for each function. For example if you have `"maxConcurrentCalls":10`, each function will have up to

[2018-09-11 22:47] jason-j-MSFT commented on #14707
@markgar collectd is the name of the package, it's common to have a lower case 'd' when the process or package is a daemon.  The 'd' is capitalized in other places in the documentation, but I think it works as is.  The 'd' is lowercase in the official project page:
https://collectd.org/

[2018-09-11 22:48] #14707 closed

[2018-09-11 22:49] Mike-Ubezzi-MSFT commented on #14818
@andrewb-ms Thank you for your time to verify this information and your interest in Azure services. The information you are seeking has been moved/re-written to a new page: [Resource limits for single databases using the DTU-based purchasing model](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-dtu-resource-limits-single-databases#single-database-storage-sizes-and-performance-lev

[2018-09-11 22:50] TolliLF commented on #8956
@mattbriggs - looks like something similar happened again with 'Admin Extension Host','Public Extension Host', they are in the instructions, but the actual script says they are invalid folders "Invalid folders: Admin Extension Host, Public Extension Host"

[2018-09-11 22:51] WhippsP opened #14825 "AdminHelpText"
AdminHelpText Is not documented within the ClaimType details. If this is intentional then you will need to remove the reference within the DateTimeDropdown example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e31c230-4294-6b21-91c2-b829852f80a3
* Version Independent ID: ea251507-2a65-6ceb-0ccf-fa4f75133fa3
* Conten

[2018-09-11 22:52] WhippsP opened #14826 "PredicateValidationReference within DateTimeDropdown"
It may be worth noting that to restrict the range of dates within the dropdown you should use PredicateValidationReference.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e31c230-4294-6b21-91c2-b829852f80a3
* Version Independent ID: ea251507-2a65-6ceb-0ccf-fa4f75133fa3
* Content: [ClaimsSchema  - Azure Active Director

[2018-09-11 22:54] mattbriggs commented on #8956
@TolliLF Ah I just updated this. I'll touch bases with someone to get the right folders there. Thanks for letting me know. #in-progress

[2018-09-11 22:57] YutongTie-MSFT commented on #14732
@ymouse91 We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-09-11 22:57] #14732 closed

[2018-09-11 23:15] JasonGT commented on #14801
I am experiencing the exact same issue. I believe it is related to app registration. This tutorial guides us to register the application within the Application Registration Portal. However I have already registered my app within the Azure AD B2C - Applications blade. I have configured the MS IDP with the Application Id and Secret created within the Applications blade.

When I click Microsoft Accou

[2018-09-11 23:20] WhippsP opened #14829 "DoesClaimExist - Boolean?"
Should this not be classified as a Boolean ClaimsTransformation ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9161f948-7c8c-0a57-19ad-1ae731fd65c8
* Version Independent ID: 77b6ea7f-e2fe-a7b2-60fa-80b198413ee8
* Content: [General claims transformation examples for the Identity Experience Framework Schema of Azure Ac

[2018-09-11 23:23] roozbehid-ic opened #14830 "Maybe cloud_RoleName is wrong?"
In my C# code in order to get multi map I used telemetryInitializer as discussed in this article meaning using this :

     telemetry.Context.Properties["cloud_RoleName"] = "your_role_name"

but it turns out I had to do this :

    telemetry.Context.Cloud.RoleName = "your_role_name"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2018-09-11 23:31] alohaninja opened #14831 "Security Audits"
Where can I find any docs/information regarding security events/auditing of connected device health, configuration, auth failures, device behavior anomalies, etc?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b9303bf-a7ca-a3ca-789c-9a787e001529
* Version Independent ID: ddedc8aa-52c9-076d-e277-c9fb0c7a9e73
* Content:

[2018-09-11 23:33] Minewiskan commented on #14766
@marknettle I added something in two places in the opening section. Thanks for your suggestion.
#please-close

[2018-09-11 23:57] mike-urnun-msft commented on #14831
Hi @alohaninja Thank you for your feedback! We will investigate and update you here.

[2018-09-11 23:59] Karishma-Tiwari-MSFT commented on #14712
Yes, you can install Diagnostics Extension to VMSS.
[Here](https://docs.microsoft.com/en-us/cli/azure/vmss/diagnostics?view=azure-cli-latest#az-vmss-diagnostics-set) is the doc on how to enable diagnostics on a VMSS

[2018-09-12 00:00] MarileeTurscak-MSFT commented on #14801
I am escalating this to the product team for them to look into.

[2018-09-12 00:02] KeiroKamioka0000 commented on #14712
@Karishma-Tiwari-MSFT
Thanks for the response.

Does enable diagnostic with this will make able to obtain the [Guest] Metrics too?

Thanks,

-Keiro

[2018-09-12 00:17] markolbert commented on #14801
Thank you.

May I ask where you configured the app related settings when you got things to work? That might be a solution/workaround for me. Did you use the app portal, or so it through Azure? If the latter, where is that blade located?

- Mark
Sent from my iPhone

On Sep 11, 2018, at 5:00 PM, Marilee Turscak - MSFT <notifications@github.com<mailto:notifications@github.com>> wrote:

I am escalatin

[2018-09-12 00:32] thadwoodman commented on #12717
Thanks for clarifying. Along similar lines, I'm wondering if it's possible for a third party to disconnect their app from a users account? Will "logging out" have that effect?

[2018-09-12 00:34] kobulloc-MSFT commented on #14809
@akramwaseem Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-09-12 00:37] kobulloc-MSFT commented on #14830
@roozbehid-ic Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-09-12 00:38] mnltejaswini commented on #14531
Also, can you please add details of the environment where you are running the az cli.

[2018-09-12 00:45] SaurabhSharma-MSFT commented on #14559
@minhaj-dell We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-12 00:45] #14559 closed

[2018-09-12 00:45] SaurabhSharma-MSFT commented on #14751
@Najib314 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-12 00:45] #14751 closed

[2018-09-12 00:50] SaurabhSharma-MSFT commented on #14822
@WhippsP Thanks for your feedback! We will investigate and update soon on it.

[2018-09-12 00:51] SaurabhSharma-MSFT commented on #14825
@WhippsP Thanks for your feedback! We will investigate and update soon on it.

[2018-09-12 00:53] SaurabhSharma-MSFT commented on #14826
@Whipps Thanks for your feedback! We will investigate and update soon on it.

[2018-09-12 00:54] markolbert commented on #14801
Thanx, Jason. Marilee, how did you configure stuff?

FWIW, I decided to try configuring the app through the Azure blade that Jason referred me to. Interestingly, changes I made there don't seem to sync with changes made through the App Portal...which makes me wonder if some of my configuration is being done in the wrong place.

Also, changing the reply URL in the Azure app blade to the https://rid

[2018-09-12 00:54] SaurabhSharma-MSFT commented on #14829
@WhippsP Thanks for your feedback! We will investigate and update soon on it.

[2018-09-12 00:54] nandhak21 commented on #14789
@Karishma-Tiwari-MSFT - This the one I have been following up.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2

And this issue can be closed, nuget packages were conflicting and once i removed the conflicting package and made use of updated ones. It worked!!

Thanks for the response.

[2018-09-12 00:54] #14789 closed

[2018-09-12 00:56] markolbert commented on #14801
And now I'm getting a new error when I click on the Microsoft Account link from the social sign in page:

Bad Request - Request Too Long
HTTP Error 400. The size of the request headers is too long.

[2018-09-12 01:07] markolbert commented on #14801
Also, a minor thing, but in my Azure portal, there is no Switch Directory in the upper right hand menu:

![switchdir](https://user-images.githubusercontent.com/9095610/45395964-7f27ee00-b5ed-11e8-8eff-fc4dffb02139.png)

[2018-09-12 01:08] JasonGT commented on #14801
It has changed, try this one:

[cid:image001.png@01D44A88.F6541420]

-JT

From: Mark Olbert<mailto:notifications@github.com>
Sent: Wednesday, 12 September 2018 11:07 AM
To: MicrosoftDocs/azure-docs<mailto:azure-docs@noreply.github.com>
Cc: Jason Taylor<mailto:jasongt@outlook.com>; Comment<mailto:comment@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Instructions do not work (#14801)

[2018-09-12 01:09] dmacpherson2 opened #14839 "Inconsistent use of symbols"
Hi,
The fact that this page must define a legend for the symbols used is symptomatic of a larger problem, namely the consistent use of the same symbol for the same concept.
For example, elsewhere in the documentation (such as https://docs.microsoft.com/en-us/azure/active-directory/active-directory-hybrid-identity-design-considerations-identity-adoption-strategy#supported-topologies), a symbol is u

[2018-09-12 01:13] markolbert commented on #14801
Sorry, Jason, no image showed up; just a file reference: [cid:image001.png@01D44A88.F6541420]

[2018-09-12 01:14] alohaninja opened #14840 "App Service - Log Analytics Integration"
We have application insights, but we can't access our event logs or IIS logs (e.g. diagnostic logs). How can we index our blob storage diagnostic logs in blob storage using log analytics? There doesn't seem to be integration using App Services + Log Analytics regarding diagnostic data - you have to build this yourself?

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2018-09-12 01:15] JasonGT commented on #14801
Trying again:

[cid:9170b6db-e156-48af-aab9-c490585861a4]

- Jason

________________________________
From: Mark Olbert <notifications@github.com>
Sent: Wednesday, 12 September 2018 11:13 AM
To: MicrosoftDocs/azure-docs
Cc: Jason Taylor; Comment
Subject: Re: [MicrosoftDocs/azure-docs] Instructions do not work (#14801)

Sorry, Jason, no image showed up; just a file reference: [cid:image001.png@01D44

[2018-09-12 01:15] dglambert opened #14841 "Powershell support"
The article mentions "Support for configuring newer alerts using PowerShell and the Azure command-line interface (Azure CLI 2.0) is coming soon."

Is there somewhere where I can track this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d191c7d-1448-447e-244f-2a3a775af259
* Version Independent ID: 18561191-8769-7788-3

[2018-09-12 01:18] markolbert commented on #14801
Nope, sorry. I wonder if it's something on my end?

You can email me the picture if you like: mark@arcabama.com

[2018-09-12 01:18] femsulu commented on #14820
@KeiroKamioka0000 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-09-12 01:26] #14693 closed

[2018-09-12 01:27] WhippsP opened #14842 "Add ContentDefinitonParamater"
It is worth having a paragraph on this page about how ContentDefinitionParamaters effect the content defintion.
Maybe a link to - https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-ui-customization-custom-dynamic#step-81-add-a-content-definition-parameter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2018-09-12 01:33] WhippsP opened #14843 "domain_hint refence"
Can a reference to the use of domain_hint be added to the Domain Element description, maybe a link to  https://docs.microsoft.com/en-us/azure/active-directory-b2c/direct-signin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50989808-7816-49b4-af9c-fb3111a7b56b
* Version Independent ID: 7b1e4892-9ad2-b2c6-5b9f-e524faa2a

[2018-09-12 01:36] zubirabbi opened #14844 "Connections from external clients"
Very helpful document. For external clients, is there any other option except load balancer. I am working in a on-premises cluster environment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e9457e8-c623-9218-027e-37059f5493ec
* Version Independent ID: 6232b669-b8b6-5c1a-266d-78ae2854e84e
* Content: [Connect and commu

[2018-09-12 01:38] markolbert commented on #14801
Great. So I tried changing the directory...which apparently means I moved my VS subscription-based Azure account into the AD B2C directory I set up (ridemonitor). And now I can't access my subscription or all the resources I set up through the Azure portal anymore!!!

I absolutely, positively, despise Azure and the Azure portal. Its design violates one of the most important rules of UI design: do

[2018-09-12 01:45] WhippsP opened #14845 "Merge Token Issuers"
Under Type of technical profiles "JWT Token Issuer" and "Token Issuer" should be merged.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe70bb3e-884f-a8db-eee7-ae98cf653b93
* Version Independent ID: d8647921-91df-9c37-8cd9-d44ce938dd9d
* Content: [About technical profiles in Azure Active Directory B2C custom policies](

[2018-09-12 01:49] lrxtom2 opened #14846 "There is new build-in rule action in virtual machine contributor"
Count from 37 to 38.
The item was added.
Microsoft.SqlVirtualMachine/*

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99581afb-7950-6daa-7227-055d04446b7e
* Version Independent ID: f1a5bf89-9e54-aede-3a9a-70788a95927b
* Content: [Built-in roles for Azure resources](https://docs.microsoft.com/en-us/azure/role-based-acce

[2018-09-12 01:52] kyliel commented on #13780
@glynastill , This issue seems caused by cryptography version 1.7.1. We tried cryptography 2.3.1 and works. Can you please upgrade cryptography and have a try again? Thanks.

[2018-09-12 01:52] DCtheGeek commented on #9477
@mjcarrabine Sorry for the delay.  The complete update to this article will get published tomorrow. If you feel something is still incorrect or missing, feel free to re-open this Issue or create a new one.  Thank you again for your feedback!

[2018-09-12 01:54] DCtheGeek commented on #9963
@mwhisler Sorry for the delay.  The complete update to this article will get published tomorrow. If you feel something is still incorrect or missing, feel free to re-open this Issue or create a new one.  Thank you again for your feedback!

[2018-09-12 01:55] DCtheGeek commented on #9988
@arnoschuring Sorry for the delay.  The complete update to this article will get published tomorrow. If you feel something is still incorrect or missing, feel free to re-open this Issue or create a new one.  Thank you again for your feedback!

[2018-09-12 01:55] DCtheGeek commented on #11310
@jtuliani Sorry for the delay.  The complete update to this article will get published tomorrow. If you feel something is still incorrect or missing, feel free to re-open this Issue or create a new one.  Thank you again for your feedback!

[2018-09-12 01:56] Karishma-Tiwari-MSFT commented on #14844
@zubirabbi Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-12 02:05] kyliel commented on #13780
@mahaboob . Thank you for information. However we did not reproduce the issue. Considering the error related to certificate, I guess that is also related to cryptography too. Could you please uninstall ansible, run below command and then install ansible again? This is not specific for ansible[azure] but ansible. I do see similar bug reported to Ansible but not for CentOS 7. I guess we don't reprod

[2018-09-12 02:12] sundaxi commented on #14602
same issue happened here. Whenever my customer tried to curl manuall the metadata protocol server, it works fine.

See logs below:
Sep 10 08:18:27 hdi-zl02 sshd[1254]: pam_aad(sshd:auth): Version: 1.0.005920001; CorrelationId: cca72547-8367-4394-868e-0892ee9fe23d
Sep 10 08:18:27 hdi-zl02 sshd[1254]: pam_aad(sshd:auth): CURL: Failed to call http://169.254.169.254/metadata/instance/compute?api-versi

[2018-09-12 02:15] badalk commented on #14698
@MicahMcKittrick-MSFT I tried the same steps as mentioned in the document and through Azure Shell. AKS is deployed, all pods for nginx-ingress controller are in ready state, except that the load balancer external ip is shown pending. I tried this multiple times without any successful result. Just FYI, I am deploying AKS through my own ARM template. Let me know if that is something that you want to

[2018-09-12 02:23] myokeeh opened #14847 "Converged Apps with UWP and AccountsSettingsPane"
How can I get a converged app in Application Registration Portal to work with a UWP app that uses AccountsSettingsPane for user log in. In the Dev Center, whenever an app is created, it automatically creates a Live SDK entry in the Application Registration Portal. How can I create a converged app version of that entry that's linked to the UWP app?

---
#### Document Details

⚠ *Do not edit this se

[2018-09-12 02:39] JasonGT commented on #14801
![pastedimage](https://user-images.githubusercontent.com/1988321/45398771-cfa05980-b688-11e8-8126-224363ba74d0.png)

[2018-09-12 02:48] badalk commented on #14698
@MicahMcKittrick-MSFT - In IP address logs I see this. I am trying to find out where is the multiple IP config but have you seen this before.

`    "resourceId": "/subscriptions/<subscription>/resourceGroups/<rgname>/providers/Microsoft.Network/loadBalancers/kubernetes",
    "status": {
        "value": "Failed",
        "localizedValue": "Failed"
    },
    "subStatus": {
        "value": "BadReq

[2018-09-12 02:49] JasonGT commented on #14801
For clarify, some background information:

1. I completed this tutorial; https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-devquickstarts-web-dotnet-susi
2. I then attempted to add IDPs for [Microsoft](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-setup-msa-app) and [GitHub](https://docs.microsoft.com/en-us/azure/active-directory-b2

[2018-09-12 03:08] luisaxeko commented on #14730
https://docs.microsoft.com/en-us/azure/templates/microsoft.apimanagement/service/loggers

[2018-09-12 03:29] jstaley22 opened #14850 "API Change Management Pack is not working in SCOM 1807"
The note/reference for the management pack update related to the OMS API change does not seem to work in SCOM 1807. Is there an updated management pack for 1807?

The console crashes with error:

************** Exception Text **************
System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.IdentityModel.Clients.ActiveDirectory, Version=2.3.0.0, Culture=neutral, PublicKeyT

[2018-09-12 04:02] pchoudhari commented on #14778
The strictFilter only works on metadata name/values. You can explicitly add the source as a metadata, and then filter on it.

[2018-09-12 04:38] ankitchourasiya commented on #11976
Yes!..There is issue with the Loganalytics, where the logs are not being separated by the TimeStamp.
But if will use the oms portal instead of azure then it will work, try the below steps it got work for me.
1. Go to your Azure Portal -> Log Analytics -> your workspace -> Overview -> OMS Portal
2. Open settings -> Data -> Custom Logs -> Add

[2018-09-12 04:48] ankitchourasiya commented on #11976
@gopisamineni12 : Strange logs without timestamp?, how you will see the logs in future without timestamp?.I will prefer to add timestamp in your logs, if not then try to separate the logs with the "new line". Also refer the below document.
https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-data-sources-custom-logs#sample-walkthrough-of-adding-a-custom-log

[2018-09-12 04:54] neoakris commented on #14816
I got half way there with a simpler example I made myself:
az group deployment create -g $RG -n $deploymentName `
--template-file "ARM-template-array-parameter.json"

ARM-template-array-parameter.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "virtualNetwork_name": {
            "

[2018-09-12 05:00] boboPD opened #14851 "Incorrect scale operation name"
the scale operation table has this..
Decrease count to 	A fixed number of VM instances to remove. Useful in scale sets with a     smaller number of VMs.

It should be **Decrease count by**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26e17067-6b16-e5f5-b4e3-4f415554d60c
* Version Independent ID: 2f05072d-1396-ef6e-9e

[2018-09-12 05:04] neoakris commented on #14816
Thank you for the link I'll do a deeper look at it tomorrow, a follow up question:

az group deployment create --help
says in the --parameters section that there's 3 ways to pass values.
"Parameters may be supplied from a file using the `@{path}` syntax, a JSON string, or as <KEY=VALUE> pairs"

I really want to abstract away from JSON as much as possible, as I'd rather avoid needing to maintain an

[2018-09-12 05:59] msvijayn commented on #14571
@mehdipanjwani - classic alerts don't use action group; only the newer Azure alerts have coupling with Action Group. If you are requesting a new functionality or feature, the right forum for it is via [Product Feedback page](https://feedback.azure.com/forums/602299-azure-alert-management); where the requests are tracked and updated with dev plans.

[2018-09-12 05:59] msvijayn commented on #14571
#please-close

[2018-09-12 06:36] v-maroge opened #14852 "Data collection interval"
Hi, is the interval for data collection interval configurable?
"Log Analytics will collect new entries from each custom log approximately every 5 minutes."
If possible, it will be great to know how to do so as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf637b70-eb07-3fd7-4594-c52af96f5ad8
* Version Independen

[2018-09-12 06:38] JordanChong99 opened #14853 "When will be full release for Autocomplete"
Hi,
I would like to know when will be full release for Autocomplete?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de445b14-68fc-85d4-6f7a-0447e6068f67
* Version Independent ID: 4bff523f-c1a3-63bd-64eb-c0843a7c7a29
* Content: [Tutorial for adding auto-complete to your search box using Azure Search](https://docs.micros

[2018-09-12 06:46] TsuyoshiUshio opened #14854 "PowerShell direction is wrong."
It is says that,
[code]

However, configuring Environment Variables on the PowerShell is wrong.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0077a811-b0b7-93b1-80b0-a4d45615ef4b
* Version Independent ID: cc95198d-5560-2bf1-09ae-b8d210e45f2d
* Content: [Create a Python web app in Azure App Service on Linux](ht

[2018-09-12 06:54] ea167 opened #14855 "Is there a Speech SDK for Node.JS?"
I've found some reference to browser js code, but is there an official Azure Node.JS SDK, notably for the Speech service?

If not, what are your plans about releasing one?
(note that AWS provides a Node.JS SDK for all their services)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efae7ff6-5557-221f-7539-5d2d1883127d
*

[2018-09-12 07:15] adwk67 commented on #14328
@sergaz-msft should I open a new issue for the points of clarification I mentioned above?

[2018-09-12 07:26] sonusathyadas opened #14856 "BadRequest error while training the project"
I have created the project based on the code given in the documentation. It creates the project and upload the images and tag them successfully. But while, running the TrainProject method it throws and exception as 'BadReqeust'. What will be the reason for this error?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30bf

[2018-09-12 07:32] bjthomson commented on #14663
Its currently targeting 4.7.1 - I'm not sure if the Azure host supports 4.7.2 yet. I'll give it a try locally on a new project.

[2018-09-12 07:41] Julia-Alexandrova opened #14857 "New article proposal: Create a TeamCity instance from the Azure portal"
The Azure Marketplace features a [TeamCity offer](https://azuremarketplace.microsoft.com/en-us/marketplace/apps/jetbrains.teamcity?tab=Overview); we'd like to submit a guide explaining how to set up a JetBrains TeamCity server and a local agent on an Azure Linux VM in Azure.

There is a [related post](https://blog.jetbrains.com/teamcity/2018/09/teamcity-on-azure-marketplace/) in the JetBrains Team

[2018-09-12 07:44] jzoran05 opened #14858 "Detail about Event Hub number of supported session needed"
The document is applicable for both Service Bus and Event hub and in this paragraph there is information about number of supported sessions per connection for Service Bus only. It would be good to state if the same applies to Even Hub and if it is different then specify Event Hub limit.
"Azure Service Bus currently uses exactly one session for each connection. The Service Bus maximum frame-size is

[2018-09-12 07:53] zcsoriano commented on #14780
@Karishma-Tiwari-MSFT, I was following the steps here: https://docs.microsoft.com/en-us/azure/cosmos-db/create-graph-gremlin-console

[2018-09-12 08:29] bjthomson commented on #14663
Ho Hum. Visual Studio is telling me its time for the weekly update. Another GB and a half...I guess I'll let it install - if I report a bug, the first question is always "have you installed the latest service packs?".

[2018-09-12 09:05] ammarhasayen opened #14860 "Implementing Azure PIM Course is now published"
You can now learn about PIM by accessing the [Implementing Azure Privileged Identity Manager] course at Pluralsight here: http://www.pluralsight.com/courses/microsoft-azure-privileged-identity-management-implementing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7338196-8434-f76e-ec0d-15bc85d51434
* Version Independe

[2018-09-12 09:11] kennethvs opened #14861 "Client Apps condition"
In this article the following statement is made:  "You can only select the client apps condition if Microsoft Office 365 Exchange Online is the only cloud app you've selected."

If I create a CA policy and have Office 365 Exchange Online and Office 365 SharePoint Online selected as Cloud App, I still have the option to select the Client Apps condition. So either this is not valid anymore, or even

[2018-09-12 09:16] sergaz-msft commented on #14328
Hello @adwk67 I am sorry for the late response. Since the issue was closed I lost your question on my inbox.

For 1) please [read the following documentation](https://docs.microsoft.com/en-us/azure/iot-edge/module-composition). Routing is indeed the way to exchange messages between modules.

For 2) the difference between V1 and V2 is that V2 is the [General Available version of iotedge.](https://a

[2018-09-12 09:21] kennethvs opened #14862 "Exchange ActiveSync as a client apps condition"
The content states: "Selecting Exchange ActiveSync as a client apps condition is supported only if you don't have other conditions configured in a policy. However, you can narrow down the scope of this condition to apply only to supported platforms."

Is this still valid, I see the option in a CA policy having other conditions enabled. Also in my CA policy Exchange Activesync is not a radio button

[2018-09-12 09:59] kristinnthor opened #14863 "Is this only possible in Data Factory version 2?"
Is there any way to do this in Version 1 also?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7ee5166-ff40-f4ed-ce07-5312f935e388
* Version Independent ID: 68f01b43-e3b2-003b-24cb-446a08aa0c1b
* Content: [Create event-based triggers in Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/how-to-crea

[2018-09-12 10:12] declandata commented on #14126
Hi Jason,

I am happy for you to make the change.

Thanks

DC

*From:* Jason Roth <notifications@github.com>
*Sent:* Monday, 10 September, 2018 19:11
*To:* MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
*Cc:* declandata <dcorcoran@elix.aero>; Mention <mention@noreply.github.com>
*Subject:* Re: [MicrosoftDocs/azure-docs] Confusing Statements (#14126)

@declandata <https://github.com/decla

[2018-09-12 10:35] cephalin commented on #14854
@TsuyoshiUshio `set` works. It's an alias in PowerShell for `Set-Variable`. It also works for CMD so that's why we use it.

[2018-09-12 10:40] SMGonc commented on #14199
Problem solved in AzureRM module - version 6.8.1

[2018-09-12 10:40] sergaz-msft commented on #14831
Hello @alohaninja let me know if this doc can help answer your questions?

[Monitor the health of Azure IoT Hub and diagnose problems quickly](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-monitor-resource-health)

Thank you!

[2018-09-12 10:51] msimecek commented on #11141
Solved by switching to Speech (preview) service and corresponding SDK. Closing.

[2018-09-12 10:51] #11141 closed

[2018-09-12 11:03] kennethvs opened #14864 "Targeted Apps list is longer"
Since the targeted Apps list in Intune App Protection is longer that specified here, does that mean the Apps not mentioned here are not considered as an approved client app? f.e. Edge? Edge is in the list of targeted apps for Intune App Protection but not mentioned above.

Please clarify

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2018-09-12 11:05] phatcher opened #14865 "Old portal retired, please update"
This is still showing old Azure portal images

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6eb6697-4ace-adb6-c922-df8a9a485283
* Version Independent ID: fd4ce34d-d55e-92af-d71a-625210ad3a63
* Content: [Properties of an Azure Active Directory B2B collaboration user](https://docs.microsoft.com/en-gb/azure/active-direc

[2018-09-12 11:19] options opened #14866 "check the maximum number of instance"
according to the source code, the number is 100.

    public class ScaleSettings
    {
        public const int DefaultMaxWorkers = 100;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06436739-8586-23b1-6b69-1960e93c26be
* Version Independent ID: 8f7abfae-cf6d-56cb-1d20-f02041a6f6d9
* Content: [Azure Functions scale an

[2018-09-12 11:33] Molotch opened #14867 "Split large compressed files into smaller compressed files."
Some sort of notion what the author considers a large respective small file would greatly help in understanding the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be44db83-d389-9662-031d-ac59d7ee7073
* Version Independent ID: 73954863-684f-12e3-80d1-a9aae6242b13
* Content: [Data loading best practices - Azure

[2018-09-12 11:33] mikanyg opened #14868 "What happened to EndpointCertificate configuration in ApplicationManifest.xm"
In earlier versions of Service Fabric it was possible to setup SSL certificate in a OWIN self-hosted stateless service by just adding the
[code]
in the ApplicationManifest.xml and then add an endpoint binding in the ServiceManifestImport section like this
[code]
Does this not work with ASP.NET Core on .NET Core? It seems more cumbersome to add batch and powershell scripts and granting admin permis

[2018-09-12 11:38] Rorotu commented on #13139
Hi,

I would like to know  if encryption at rest is enabled by default ? Is there anyway to confirm that it is enabled ?

@barclayn @SaurabhSharma-MSFT

Thanks

Rorotu

[2018-09-12 11:48] mikanyg opened #14869 "Errors in SetCertAccess.ps1"
When copying the content of SetCertAccess.ps1 file there are two errors in the script.

Line 29 should be:
[code]
Line 45 should be:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ac102a5-e9ad-0046-f217-446f1ad263c5
* Version Independent ID: a47523e2-0c30-dee4-0037-5f58836fa37f
* Content: [Add an HTTPS endpoint

[2018-09-12 12:48] sergaz-msft commented on #14744
Thank you for the clarification @mrohera.

We will now proceed to close this thread. @chrislangston if there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-12 12:48] #14744 closed

[2018-09-12 12:52] rayne-wiselman commented on #14067
Hi. Thanks for your feedback. The article is accurate. Replication over VPN isn't supported. If you can point us to the online Microsoft content that's stating it is we'll get that fixed. Thanks - Rayne

[2018-09-12 12:53] sergaz-msft commented on #14758
@avidiyal what was the step in the tutorial that failed? Also can you share with us the command used and the output (screenshot or copy paste the input\output).

Thank you!

[2018-09-12 12:56] sergaz-msft commented on #14769
@avidiyal thank you for your feedback. Please can you let us know what was the step on this tutorial that blocked you? Also please leverage the following doc to help troubleshoot Azure IoT Edge issues:

[Common issues and resolutions for Azure IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot)

Thank you!

[2018-09-12 12:57] rayne-wiselman commented on #14135
Thanks for your feedback. This is updated - https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-support-matrix#resource-support.

#please-close

[2018-09-12 12:57] rayne-wiselman commented on #14352
This isn't a documentation issue. #please-close

[2018-09-12 12:58] sergaz-msft commented on #14770
Hello @ssctx66 thank you for posting the feature request here:

[Do you have an idea or suggestion based on your experience with Azure IoT Edge?](https://feedback.azure.com/forums/907045-azure-iot-edge/suggestions/35373619-any-plans-to-support-yocto-on-arm32)

Product Group will follow up with you there.

We will now proceed to close this thread. If there are further questions regarding this matte

[2018-09-12 12:58] #14770 closed

[2018-09-12 12:59] rayne-wiselman commented on #14356
Thanks for your feedback. This is documented and the OP was able to find the reference. #please-close

[2018-09-12 13:00] sergaz-msft commented on #14739
Hello @eifinger thank you for posting the feature request here:

[Support Ubuntu Core](https://feedback.azure.com/forums/907045-azure-iot-edge/suggestions/35377066-support-ubuntu-core)

Product Group will follow up with you there.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and

[2018-09-12 13:00] #14739 closed

[2018-09-12 13:05] rayne-wiselman commented on #14459
Hi @vdias , thanks for your feedback. We're going to need a bit more info here to figure out what needs fixing. The feedback is on the deployment planner article for Hyper-V, but the comment references an articles about VMware. Appreciate if you can clarify which document is incorrect, and any errors you've seen. Thanks! Rayne

[2018-09-12 13:08] sergaz-msft commented on #14799
@daniel-rocha thank you for this catching. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-12 13:12] sergaz-msft commented on #14811
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-12 13:13] rayne-wiselman commented on #14723
Hi @nickbrown1968, can you describe what you mean by "configuration server" only. This document has the prereqs for the config server only. Thanks! Rayne

[2018-09-12 13:15] sergaz-msft commented on #14815
@microsoft-rin thank you for your feedback! What steps did you try so far from the Troubleshooting doc?

[Common issues and resolutions for Azure IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot)

Please provide us the error logs.
Thank you,

[2018-09-12 13:17] vdias commented on #14459
On VMware replication we need to deploy a mobility agent... cannot find the
prerequisites for this software... already found out that it needs .net
framework... no idea if it needs something else... or why it does not
install or prerequisites on is own.

On Wed, Sep 12, 2018, 15:05 Rayne Wiselman <notifications@github.com> wrote:

[2018-09-12 13:27] mehdipanjwani commented on #14571
So the crux of the matter is that it is not possible to include Custom JSON payload option for availability and classic alerts. Just realized I should have posted this to appropriate forum.

[2018-09-12 13:27] #14571 closed

[2018-09-12 13:30] rayne-wiselman commented on #14459
Hi, Just to confirm since the issue was opened on a Hyper-V article. .You're replicating VMware VMs and trying to deploy the Mobility agent? If so and you're doing a push install or manual install,  the prerequisites should be automatically installed. Here are the instructions for the manual install - https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-install-mobility-service#instal

[2018-09-12 13:39] vdias commented on #14459
Auto or manual... the same problem... no prerequisites installed...

On azure side I got a error about missing net framework.

On Wed, Sep 12, 2018, 15:30 Rayne Wiselman <notifications@github.com> wrote:

[2018-09-12 13:43] vfab opened #14871 "Issue with IoT Edge Quickstart for Windows"
On this tutorial, the "Deploy a Module" section doesn't work for me.  I set the name and copy in the URI and click Save as instructed, but nothing happens.  I've tried this over and over again, even in different browsers.  Nothing, including no errors displayed.

Do I need to specify a Container Registry login first?  Please try and reproduce this issue and update the doc if there's something awry

[2018-09-12 13:46] BertPenney opened #14872 "OMS As An RMM?"
Can a person use OMS as an RMM tool?  It appears to be able to collect, analyze and alert customer data but I don't see any ticketing interface.  Can SCSM be used here?  Does this tool lend itself to an MSP environment where I may want to monitor machines on multiple, independent client networks?  Is there any information on integrating the various SC tools with OMS?

---
#### Document Details

⚠

[2018-09-12 13:53] FieldMarshallVague commented on #14746
I have tried to update your docs for you, using the auto-fork and edit option here in GH.  When I make the change (adding 'list' to the list of permissions) I can't click the 'propose file change' button, it's slightly greyed-out.  Having wasted 4 hours on this issue (which is basically a 4-letter typo), I'm keen to see this change made.

[2018-09-12 13:56] mayanknayar commented on #14725
@BernieWhite Thank you for the feedback. Accelerated Networking is a new feature that has recently rolled out. The support document has been updated to reflect this.

#please-close

[2018-09-12 13:57] RanchMobile commented on #11515
Please use this tutorial and run the Shell Script as well.
http://devchat.live/en/2018/07/02/how-to-map-url-path-based-rules-in-application-gateway-for-your-azure-web-app-service/

[2018-09-12 13:59] rayne-wiselman commented on #14459
You're installing on supported OS? You tried a push installation from process server using an account with correct permissions? For manual install from elevated prompt? Did they install work at all?

[2018-09-12 14:08] anonymousReaper commented on #14793
@Karishma-Tiwari-MSFT Hello Karishma, the MSFT documentation URL is https://docs.microsoft.com/en-us/azure/sql-database/sql-database-design-first-database#load-data-into-the-tables

The section which is named as **Load data into the tables**

[2018-09-12 14:09] smflorentino commented on #9698
@MicahMcKittrick-MSFT any update on this?

[2018-09-12 14:11] smflorentino commented on #10121
@MicahMcKittrick-MSFT any update? Can you provide an ARM sample for client certificates using common name and issuer?

[2018-09-12 14:18] smflorentino commented on #10121
I found it, its now listed here: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-windows-cluster-x509-security

You should probably include a link from this page to the link above ("For a reference on ARM syntax for certificates, see this page")

[2018-09-12 14:18] smflorentino commented on #9698
I found it, its now listed here: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-windows-cluster-x509-security

You should probably include a link from this page to the link above ("For a reference on ARM syntax for certificates, see this page")

[2018-09-12 14:27] RahnL opened #14875 "Don't use enviroment variable"
The sample sets an environmental variable (setx storageconnectionstring…), however the sample doesn't include the cleanup to delete the environment variable after you're done.

Seems like it would make more sense to put the variable into a JSON settings file with the sample. This would also make it more platform agnostic. (As another issue (#5918) mentioned having to make changes on a Mac.)

---
#

[2018-09-12 14:29] icyfire0573 opened #14877 "Modifying Exchange Attributes"
Does this still require an on premise exchange server to manage user attributes (secondary email addresses and aliases)? Is that something that needs to be done  via ADSI Edit? If changes are made via ADSI Edit is that a supported change.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a763c4bd-b754-f8e2-2c34-a3972a583f

[2018-09-12 14:34] minhaj-dell opened #14878 "Daemon acquiring access toke on behalf of the user"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-09-12 14:37] sergaz-msft commented on #14679
@andrepodnozov I tried to reproduce your issue but encountered a different error than yours. Can you confirm that you are using the [.Net](https://github.com/Azure/azure-iot-pcs-remote-monitoring-dotnet) version of Remote Monitoring Preconfigured Solution?

Also can you please confirm that on `scripts\local\.env` you have the `PCS_TELEMETRY_STORAGE_TYPE` Environment variable defined?

Thank you!

[2018-09-12 14:44] minhaj-dell commented on #14878
@SaurabhSharma-MSFT So I understand the daemon would use app cert to get the token.  But then any user that runs this app would be able to acquire the token? So all I need to gain access to any users token then is to write a daemon and unbeknown to the a victim execute it in their account to acquire access token on their behalf.
Is it that the App is registered in Azure with each user allowed to r

[2018-09-12 14:49] barclayn commented on #14746
@FieldMarshallVague the change should go live within 24 hours from now.

[2018-09-12 14:56] sergaz-msft commented on #14679
@andrepodnozov I then looked at the container logs of `azureiotpcs/telemetry-dotnet:testing` and realized that I also see there the error you report above.

After running `docker-compose up` I got the following error.

I have opened a new issue on azure-iot-pcs-remote-monitoring-dotnet Github repo: Azure/azure-iot-pcs-remote-monitoring-dotnet#127

[2018-09-12 15:06] dragonkoko opened #14879 "Run List back missing"
As step 5 from Run History in detail mentions:
To return to the Run Dashboard, select the Run List back button on the upper left of the Comparison pane.
I can't find this button in the current version, I installed my workbench yesterday and I'm using Version 0.1.1801.24363.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2018-09-12 15:10] pengzhisun opened #14880 "Is it possible to recovery the AKS after deleted the MC_* resource group by mistake?"
I have deleted the MC_* resource group by mistake, is it possible to recovery the AKS cluster?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d501ff67-9208-8bcb-e8df-f09e9b16a802
* Version Independent ID: e3fc3851-ddc4-d26c-251d-6ae53d714081
* Content: [Frequently asked questions for Azure Kubernetes Service (AKS)](htt

[2018-09-12 15:14] georgewallace commented on #14807
@PlateSpinner Thanks for bringing this to my attention.  That text was there originally for an potential issue when renewing the certificate, that is no longer the case as the engineering team resolved the issue.  I have submitted a PR to remove that text and it will auto close this issue when it is merged.

[2018-09-12 15:26] sergaz-msft commented on #14871
@vfab Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-12 15:27] mattchenderson commented on #9299
This is reflected in the docs, now.

#please-close

[2018-09-12 15:28] RadoslavGatev opened #14881 "A discrepancy in the SLA of Application Gateway."
There's a discrepancy between the SLA stated on the creation blade from the Portal and the overview.

https://portal.azure.com/#create/Microsoft.ApplicationGateway-ARM
![Azure Portal](https://user-images.githubusercontent.com/3099248/45435559-756bbc80-b6b9-11e8-845f-298b920057cf.png)

https://azure.microsoft.com/en-us/services/application-gateway/
![Azure Application Gateway overview](https://user

[2018-09-12 15:32] sergaz-msft commented on #14871
@vfab can you try using CLI instead of Azure Portal as a workaround?
https://docs.microsoft.com/en-us/azure/iot-edge/how-to-deploy-modules-cli

Thank you!

[2018-09-12 15:41] myagley commented on #11054
To follow up on this issue, for runtime version 1.0.1 and older, the value of the UpstreamProtocol is case sensitive. The valid values are:

[code]

This has been fixed here: https://github.com/Azure/iotedge/commit/f48c780eacfc724d5bf4752a9e6c53e9ae377c6a but hasn't been released yet. It will be released in version > 1.0.1

[2018-09-12 15:45] rodji commented on #14825
According to:
https://github.com/Azure-Samples/active-directory-b2c-advanced-policies/blob/master/Documentation/Features%20part%206.md

AdminHelpText 0:1 Specify a description of the claim type that can be helpful for the administrators to understand the purpose and/or usage of the claim type.

[2018-09-12 15:46] mattchenderson commented on #13405
Hi, thanks for the feedback! I'm rolling this into an update to this topic. The original idea here was to highlight different options, but I think it's confusing since the alternatives should align on the core scenario/task.

[2018-09-12 16:01] Adam-Smith-MSFT commented on #14875
@RahnL Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-12 16:26] abhiramani-iptiq opened #14882 "Update Ingress Controller to Latest version"
can this document be updated on how to Update Ingress Controller to Latest version once installed and running older version

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd0e7d5a-37e9-07dc-f395-9cb5bb580e45
* Version Independent ID: 7e4faf70-9724-7e7b-832b-1cd99a974920
* Content: [Create a basic

[2018-09-12 16:30] #8674 closed

[2018-09-12 16:30] #9477 closed

[2018-09-12 16:31] jackchenquest commented on #14377
Update: opened a Azure support ticket and got it figured out. I just need to add a -UseBasicParsing parameter, then it's working. Without it, the function in early version powershell will call IE to do some DOM stuff and probably is blocked.

[2018-09-12 16:34] azvargas opened #14883 "Functions does not work after publish"
Hi. I'm using VS2017 (15.8.3) and Azure WebJobs Tools (15.10.2009). I followed instructions to create a sample function called Function1, and it work well locally, but after I published the project (using Zip), I received a status code 404 when I invoke the function. When I try to explore the functions throught portal it shows zero functions in the function app.

---
#### Document Details

⚠ *Do n

[2018-09-12 16:36] DCtheGeek commented on #8123
@briannipper Sorry for the delay. The complete update to this article will get published later today. If you feel something is still incorrect or missing, feel free to re-open this Issue or create a new one. Thank you again for your feedback!

@MicrosoftDocs/azure-cxp-triage Please assign this to me and #please-close.

[2018-09-12 16:59] andrepodnozov commented on #14679
Yes I'm deploying the .Net version of the solution.
I dont have PCS_TELEMETRY_STORAGE_TYPE variable in "scripts\local\.env" -- the pcs script didnt generate it for me, but the code in the current "azureiotpcs/telemetry-dotnet:testing" image expects this variable. I think this inconsistency between the container code and the pcs script is the root cause of the problem.

[2018-09-12 17:01] hamiltonjose opened #14884 "Link to file job-phrase-list.csv is broken"
The current link is:
https://github.com/Microsoft/LUIS-Samples/blob/master/documentation-samples/tutorials/job-phrase-list.csv

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 882d78aa-afe9-9ad3-1af5-6a5639a6109f
* Version Independent ID: f7886b90-9074-64a5-f23c-ba31237d9836
* Content: [Tutorial creating a LUIS app to ex

[2018-09-12 17:08] Karishma-Tiwari-MSFT commented on #14793
@anonymousReaper Thank you for sharing the document. I have updated the issue with the doc details.
We are currently investigating and will update you shortly.

[2018-09-12 17:08] diberry commented on #14884
@hamiltonjose Thank you for reporting this. It has been fixed.

[2018-09-12 17:09] andrepodnozov commented on #13986
This is correct, except I used the windows version of the tutorial rather than linux: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-create-transparent-gateway-windows

[2018-09-12 17:12] Karishma-Tiwari-MSFT commented on #8123
@briannipper Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-12 17:12] #8123 closed

[2018-09-12 17:16] MarileeTurscak-MSFT commented on #14801
This is excellent feedback, thank you. You are right that the screenshots are outdated. You can also switch directories from the "my permissions" section in the top right. I have assigned this to the content author @davidmu1 for these updates.

[2018-09-12 17:26] jason-j-MSFT commented on #14850
@jstaley22
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-12 17:26] Karishma-Tiwari-MSFT commented on #14319
@rajanbhayana We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-12 17:26] #14319 closed

[2018-09-12 17:27] jason-j-MSFT commented on #14852
@v-maroge
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-12 17:27] jason-j-MSFT commented on #14863
@kristinnthor
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-12 17:29] MicahMcKittrick-MSFT commented on #14851
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-12 17:29] jason-j-MSFT commented on #14872
@BertPenney
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-12 17:29] MicahMcKittrick-MSFT commented on #14868
Thanks for the question! We are investigating and will update you shortly.

[2018-09-12 17:30] MicahMcKittrick-MSFT commented on #14869
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-12 17:30] laoki commented on #14642
Yes, it helps!
I've informed them, thanks!

[2018-09-12 17:30] #14642 closed

[2018-09-12 17:32] tameraw opened #14886 "Update to include DPS"
For this document discussing the Azure IoT device and service SDKs, should make reference to DPS in addition to IoT Hub.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33af8d92-74d2-2cdd-53f9-299eca57969e
* Version Independent ID: 6029edb3-5839-c2c3-6ce0-30349eccf6b9
* Content: [Understand the Azure IoT SDKs](https://d

[2018-09-12 17:34] Karishma-Tiwari-MSFT commented on #14748
@LisandroSu Any updates?

[2018-09-12 17:36] MicahMcKittrick-MSFT commented on #14882
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-12 17:37] Karishma-Tiwari-MSFT commented on #14602
@sundaxi Thanks for sharing the details on this issue. I amworking on finding the ETA for the fix of this issue and again please note that 'AADLoginForLinux Extension is in Preview and therefore not recommended for use in production.'

[2018-09-12 17:39] microsoft-rin commented on #14815
@sergaz-msft , thank you for helping. I didn't have issues initializing the edge device, or deploying modules from visual studio code. The issue happens when I want to deploy multiple devices at the same time (both on portal and through cli). I was following this: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-deploy-monitor-cli
but the deployment was not applied to any device. Please let

[2018-09-12 17:42] MicahMcKittrick-MSFT commented on #14880
@pengzhisun Unfortunately once the resource group is deleted it removes all associated resources within it and they cannot be recovered.

For future reference, you are able to put locks on resources in the portal to prevent accidentally deletion.

![image](https://user-images.githubusercontent.com/32313503/45443091-9a8c0b00-b678-11e8-9286-7e15b20786d0.png)

[2018-09-12 17:42] #14880 closed

[2018-09-12 17:51] adpick commented on #12915
I've updated the doc to clarify this limitation when using the --owner-spn parameter in CLI or the OwnerApplicationId parameter in powershell. #please-close

[2018-09-12 17:51] Cojacfar commented on #6422
@Adam-Smith-MSFT Any update on this? Is there a change we need to make in our configuration? I'm see software version 9.1.(7)31 for Cisco ASA's causing consistent issues.

[2018-09-12 17:52] Digiroka opened #14887 "Incorrect argument"
The command "kubectl get svc" does not work. "kubectl get services -w" was required. The -w switch should not be necessary either, but I found the result was null unless this switch was included, as described here: https://bit.ly/2N71tWF

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 279bedf4-4a94-4412-e18f-1765b8c5ae8

[2018-09-12 17:59] SaurabhSharma-MSFT commented on #14839
@dmacpherson2 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-09-12 18:00] Karishma-Tiwari-MSFT commented on #14855
@ea167 Thanks for your question. Can you please share the url, if there is a particular Azure doc you have been following?

[2018-09-12 18:01] SaurabhSharma-MSFT commented on #14842
Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-09-12 18:10] tobydrake7 opened #14889 "Minimum and Recommended sizes for a CentOS Data Science VM"
You may want to list the minimum VM size for a CentOS Data Science VM. I selected the smallest size (cheapest) VM size and when I attempted to update VM software, the update failed because of insufficient memory. Also, it might be good to list the VM size(s) Microsoft recommends for a CentOS data science VM. If you do this, it would be good to have it in this step:

---
#### Document Details

⚠ *D

[2018-09-12 18:12] ea167 commented on #14855
Hello Karishma,
Sure, here are the relevant URLS:

https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-sdk#
(no mention of Node.JS)

https://www.npmjs.com/package/microsoft-speech-browser-sdk
Package that targets the *browser* and not the server-side, plus not in sync with latest APIs
described here https://docs.microsoft.com/en-us/azure/cognitive-services/speech/API-re

[2018-09-12 18:13] SaurabhSharma-MSFT commented on #14843
@WhippsP Thanks for your feedback! We will investigate and update soon on it.

[2018-09-12 18:14] SaurabhSharma-MSFT commented on #14845
@WhippsP Thanks for your feedback! We will investigate and update soon on it.

[2018-09-12 18:15] SaurabhSharma-MSFT commented on #14847
@myokeeh Thanks for your feedback! We will investigate and update soon on it.

[2018-09-12 18:17] Alberto-Vega-MSFT commented on #14187
@Bnjmn83 I'm glad the issue was resolved! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-12 18:17] #14187 closed

[2018-09-12 18:19] SaurabhSharma-MSFT commented on #14861
@kennethvs Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-09-12 18:19] maecky opened #14890 "File Service - Files"
I would like to trigger a "File created" event on Azure Files. Is this possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7ee5166-ff40-f4ed-ce07-5312f935e388
* Version Independent ID: 68f01b43-e3b2-003b-24cb-446a08aa0c1b
* Content: [Create event-based triggers in Azure Data Factory](https://docs.microsoft.com/en

[2018-09-12 18:19] Karishma-Tiwari-MSFT commented on #14855
@ea167 Thanks for sharing the documents. I have updated the issue with doc details.
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-12 18:20] MicahMcKittrick-MSFT commented on #14883
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-12 18:20] SaurabhSharma-MSFT commented on #14862
@kennethvs Thanks for your feedback! We will investigate and update soon on it.

[2018-09-12 18:20] Karishma-Tiwari-MSFT commented on #14878
@minhaj-dell Thanks for your question. Can you please share the url, if there is a particular Azure doc you have been following?

[2018-09-12 18:21] SaurabhSharma-MSFT commented on #14864
@kennethvs Thanks for your feedback! We will investigate and update soon on it.

[2018-09-12 18:30] YiWuti opened #14892 "Is it possible to selectively permanent-delete some blobs while soft-deleting others?"
Temp data and valuable data are stored in the same storage account. Is it possible to selectively permanent-delete some blobs to save cost while soft-deleting others?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78964956-a479-5fbe-710d-19e361542a36
* Version Independent ID: 15e70532-6d39-47ed-6932-ef3eb88e33f0
* Cont

[2018-09-12 18:44] YutongTie-MSFT commented on #14856
@sonusathyadas Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-12 18:45] YutongTie-MSFT commented on #14879
@dragonkoko Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-12 18:46] YutongTie-MSFT commented on #14884
@diberry Thanks for the quick action.

@hamiltonjose We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-12 18:46] #14884 closed

[2018-09-12 18:47] MicahMcKittrick-MSFT commented on #14698
@badalk thanks for the extra details.

Let's get you in contact with support to get this all sorted out.

Can you email me at AzCommunity@Microsoft.com and provide me with your SubscriptionID and link to this GitHub issue?

[2018-09-12 18:52] zurcacielos commented on #5561
This page should have a reference to [singleton] attribute.
Also, documentation should always have the minimal possible example. In this case you mix functionName, which is not clear if it's always needed, it talks about "route" etc. So the brain needs to do exponentially more complex things to understand something that could be way more simple.
https://github.com/Azure/azure-webjobs-sdk/wiki/Sing

[2018-09-12 18:54] mattbriggs commented on #14752
@jgallucci32 I added these links to the article. Thanks! They should be live shortly. Cheers, Matt #please-close

[2018-09-12 18:56] #14387 closed

[2018-09-12 18:58] AC740 opened #14893 "What is the difference between TelemetryConfiguration.Active.InstrumentationKey = "key" and tc.InstrumentationKey = "key"?"
What is the difference between TelemetryConfiguration.Active.InstrumentationKey = "key" and tc.InstrumentationKey = "key";

We have an application using a handler and I assigned an InstrumentationKey using tc.InstrumentationKey = "key" but it didn't work. However, TelemetryConfiguration.Active.InstrumentationKey = "key" assignment works.
I don't get why TelemetryClient key doesn't work but  Teleme

[2018-09-12 19:04] #5427 closed

[2018-09-12 19:04] #7651 closed

[2018-09-12 19:04] #7698 closed

[2018-09-12 19:04] femsulu commented on #14841
@dglambert We will now close this issue. please dont hesitate to reply if you have a followup question. We will be happy to re-open the conversation.

[2018-09-12 19:05] #14841 closed

[2018-09-12 19:06] maestra-msft commented on #13745
Based on Microsoft Security Framework best practices , it’s recommended and advisable to have isolated Cloud-only identities for managing Office 365 services, thus preventing an attacker from gaining access to credentials that could potentially jeopardize on-premises infrastructure as well if the credentials were compromised. This is the rationale behind this warning. Thanks for the feedback,

[2018-09-12 19:06] #9299 closed

[2018-09-12 19:06] #10263 closed

[2018-09-12 19:06] #11401 closed

[2018-09-12 19:06] #11915 closed

[2018-09-12 19:07] #12915 closed

[2018-09-12 19:07] #13145 closed

[2018-09-12 19:08] #13931 closed

[2018-09-12 19:08] #14135 closed

[2018-09-12 19:09] #14278 closed

[2018-09-12 19:09] femsulu commented on #14846
@lrxtom2 Not sure if you have a question or you are just making an observation that the item was added. Can you please clarify?

[2018-09-12 19:09] #14352 closed

[2018-09-12 19:09] #14356 closed

[2018-09-12 19:10] #14373 closed

[2018-09-12 19:10] #14445 closed

[2018-09-12 19:11] #14564 closed

[2018-09-12 19:11] #14722 closed

[2018-09-12 19:11] #14725 closed

[2018-09-12 19:12] mike-urnun-msft commented on #14746
Hey @FieldMarshallVague We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-12 19:12] #14746 closed

[2018-09-12 19:12] #14750 closed

[2018-09-12 19:13] mike-urnun-msft commented on #14750
Hey @msilinda We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-12 19:13] #14766 closed

[2018-09-12 19:13] mike-urnun-msft commented on #14766
Hey @marknettle We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-12 19:13] mike-urnun-msft commented on #14771
Hey @KeiroKamioka0000 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-12 19:13] #14771 closed

[2018-09-12 19:14] CHDAFNI-MSFT opened #14895 "Add - Version release dates and release notes"
For the section on upgrading the collector, is it possible to add the dates each version was released and also include release notes... similar to what's offered for Azure AD Connect - https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-version-history

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-09-12 19:26] MohitGargMSFT commented on #14508
@adamjbradley I have not received an email from your end on azcommunity@microsoft.com. I will move ahead to close this issue. Please send an email with reference to this GitHub issue and I will work with you on it.

[2018-09-12 19:26] #14508 closed

[2018-09-12 19:28] MohitGargMSFT commented on #14609
@Shreelekha19 I see that you are already getting help in forum. I will move ahead to close this document feedback related issue and will work with you through above forum thread. Thanks.

[2018-09-12 19:28] #14609 closed

[2018-09-12 19:31] iainfoulds commented on #14882
Thanks for getting in touch, @abhiramani-iptiq. Are you meaning how to upgrade the NGINX controller to the latest release? That should just be `helm upgrade <releaseName> stable/nginx-ingress`. There's nothing really specific to AKS here, that's just the Helm lifecycle management, which is a little out of scope for the doc.

#in-progress

[2018-09-12 19:32] MicahMcKittrick-MSFT commented on #14844
@zubirabbi I am assuming this is related to the same thread on MSDN :)

https://social.msdn.microsoft.com/Forums/en-US/afe5ab92-bf06-4320-a0d8-75f0e4554413/accessing-api-from-outside-of-the-onpremises-cluster?forum=AzureServiceFabric

You would need to setup a load balancer of some sorts to direct traffic. Otherwise the external traffic would have no idea where it should be going

https://docs.mic

[2018-09-12 19:35] MicahMcKittrick-MSFT commented on #14851
@boboPD thanks for the find. I have corrected the doc.

Once the PR merges this issue will close and the changes will go live in a few hours.

[2018-09-12 19:36] mike-urnun-msft commented on #14730
Hi @luisaxeko Could you elaborate more please? It sounds like you were following a particular tutorial or documentation that discusses APIM and you're curious to see the equivalent implementation using ARM? If so, could you provide us with the URL of the original documentation that you were following?

[2018-09-12 19:42] mestew commented on #14687
Hi @cocallaw.
Thanks for taking the time to provide feedback on Azure Disk Encryption! This is an interesting idea, and I want to make sure it gets directly into the hands of the engineering team. Fortunately, we've got dedicated channels for that very purpose. :) See the [Feedback for Azure Virtual Machines](https://feedback.azure.com/forums/216843-virtual-machines) website. I think it’s importan

[2018-09-12 19:42] MicahMcKittrick-MSFT commented on #14869
@mikanyg thanks for the find! I corrected the doc.

Once the PR merges this issue will close and the changes will go live in a few hours.

[2018-09-12 19:43] abhiramani-iptiq commented on #14882
Yes
Got it.thanks

Abhijit Ramani | Cloud Infrastructure DevOps Engineer | ASSISTANT VICE PRESIDENT | iptiQ Americas L&H
iptiQ Americas Inc. | 175 King Street, 10504 ARMONK, UNITED STATES (USA)
Direct: +1 914 828 8397 Fax: +1 914 828 7397 Email: Abhijit_Ramani@iptiq.com<mailto:Abhijit_Ramani@iptiq.com>

From: Iain Foulds [mailto:notifications@github.com]
Sent: Wednesday, September 12, 2018 3:31 PM

[2018-09-12 19:45] epaulson opened #14897 "swagger link on speech services sidebar is broken"
The swagger link under the 'references' section on the sidebar here:

https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/

is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73fb7e76-fb80-c420-2efe-e3ca3a27b749
* Version Independent ID: 07a42557-deb3-e4b3-3f14-f26a27be49c2
* Content: [Azure

[2018-09-12 19:52] iainfoulds commented on #14882
If there's additional asks around this, can revisit it, otherwise for now #please-close

[2018-09-12 19:53] #14882 closed

[2018-09-12 19:54] justinhauer opened #14899 "Action Groups missing"
Action groups are missing for me. Has the location changed? it is not located in under settings as step 2 indicates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fa0b27d-b18c-22a9-4e7d-cb3a1978338f
* Version Independent ID: 58732c0e-494c-ac9b-115a-f4a2482d6cb5
* Content: [Create and manage action groups in the Azure

[2018-09-12 19:57] dkamstra commented on #14899
You will now find it in the Alerts blade. See the button 'Manage action groups' at the top. Updated doc's are in the process of being deployed.

[2018-09-12 19:58] MicahMcKittrick-MSFT commented on #14887
@Digiroka I checked the command but it appears to be working as written

[code]

Are you running these commands on premise or in the Azure Cloud Shell?

You need to make sure you are running at least version 2.04 of azure CLI if you are on premise. For example, you can get the version by running the following command:

[code]

[2018-09-12 20:03] dpace-cs opened #14900 "Missing step to change Signature Method and Digest Method to SHA256 based on AzureAD's SAML Signing Certificate"
Missing step to change Signature Method and Digest Method to SHA256 based on AzureAD's  SAML Signing Certificate. The image does show the change from the default but it's not listed as a step.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 156e3923-74d6-432f-c5a0-b905520d4e7d
* Version Independent ID: aeca7d10-15e2-9e4

[2018-09-12 20:06] minhaj-dell commented on #14878
@Karishma-Tiwari-MSFT related to this discussion here: https://github.com/MicrosoftDocs/azure-docs/issues/14559

[2018-09-12 20:07] #14851 closed

[2018-09-12 20:07] #14869 closed

[2018-09-12 20:13] mike-urnun-msft commented on #14773
Hey @timmyreilly Glad to hear you were able to resolve this in Code View.

It could just be the way in Designer View that whenever it detects the output from previous step to be a `collection of messages`, rather than a `batch of messages` in this instance, it adds a `Foreach` loop automatically.

As next step, we have assigned this issue to the author to review and take the right course of action

[2018-09-12 20:16] MichaelHauss commented on #14892
Currently, it is not possible to permanently explicitly delete data. We are working on "object versioning" which will enable this sort of functionality. Object versioning is targeting a preview later this year or early next year.

[2018-09-12 20:26] SaurabhSharma-MSFT commented on #14822
@WhippsP Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

@davidmu1 Can you please help adding a documentation note about the same.

[2018-09-12 20:27] MohitGargMSFT commented on #14845
@WhippsP Agreed. I have made necessary changes and submitted the pull request.

[2018-09-12 20:27] #14845 closed

[2018-09-12 20:30] Karishma-Tiwari-MSFT commented on #14860
@ammarhasayen Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-12 20:32] Karishma-Tiwari-MSFT commented on #14867
@Molotch Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-12 20:37] SaurabhSharma-MSFT commented on #14785
@JimmyLS For your specific scenario I suggest you to please open a new MSDN forum post with the details and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required.  Please provide the MSDN link over here so that I can help y

[2018-09-12 20:39] barclayn commented on #11299
@wokket hi sorry about the delay. This is what I got in the end
"
•	App Service itself does not encrypt file system contents at rest.  However…..
•	The file system is implemented on top of Azure Storage page blobs, and Azure Storage encrypts all storage blobs at rest.  See https://docs.microsoft.com/en-us/azure/security/azure-security-encryption-atrest#azure-resource-providers-encryption-model-sup

[2018-09-12 20:50] MohitGargMSFT commented on #14847
@myokeeh I am not sure I completely understand your query. However, currently, for each app that you want to integrate with the v2.0 endpoint, you must create an app registration in the new Microsoft Application Registration Portal. Existing Azure AD or Microsoft account apps are not compatible with the v2.0 endpoint. Apps that are registered in any portal other than the Application Registration P

[2018-09-12 20:50] MS-TimothyMothra commented on #14893
@AC740 we have a large conversation about exactly this here: https://github.com/Microsoft/ApplicationInsights-dotnet/issues/826

If you still have questions, feel free to join the conversation!
We're aware that this area needs improvement and we would welcome your comments.

[2018-09-12 20:51] davidschlum opened #14903 "Incorrect variable name in "Convert a managed disk from standard to premium, and vice versa" Example"
The Stop-AzureRmVm line in the "Convert a managed disk from standard to premium, and vice versa" example has an incorrect variable name of $vm. It's should be $vmResource.

The full incorrect line is:
Stop-AzureRmVM -ResourceGroupName $vm.ResourceGroupName -Name $vmResource.Name -Force

It should be:
Stop-AzureRmVM -ResourceGroupName $vmResource.ResourceGroupName -Name $vmResource.Name -Force

It

[2018-09-12 20:54] Karishma-Tiwari-MSFT commented on #14752
@jgallucci32 Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-12 20:54] #14752 closed

[2018-09-12 20:55] Karishma-Tiwari-MSFT commented on #14687
@cocallaw Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-12 20:57] MicahMcKittrick-MSFT commented on #14903
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-12 20:57] anonymousReaper commented on #14793
@CarlRabeler got it

[2018-09-12 20:59] tinod opened #14904 "Please elaborate how to use Application Insights instead of AzureWebJobsStorage/AzureWebJobsDashboard"
As per https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring, we see that we can use Application Insights instead of a storage account for Functions Monitoring. Yet, in the ARM Schema's and sample ARM Templates, I cannot find any references how to do this through such a template. It would be great if that information could be added to this page. (My guess is that it would go

[2018-09-12 20:59] #14793 closed

[2018-09-12 21:02] IndreamLuo opened #14905 "Is There An Option For Input"
If this is not triggered by queue but still need to pop or peek a message from the queue, is there an option to dequeue a message with an input binding?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5063120f-d48e-6a76-8e6d-208ead92d187
* Version Independent ID: 72bb8ecc-6dec-079a-a9d4-52205466a8c6
* Content: [Azure Qu

[2018-09-12 21:03] MohitGargMSFT commented on #14862
@kennethvs Please find more information regarding Exchange ActiveSync here - [Control access to Exchange Online](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/conditional-access-for-exo-and-spo#control-access-to-exchange-online)

[2018-09-12 21:06] SaurabhSharma-MSFT commented on #14826
@WhippsP Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.
@davidmu1  Please can you check if a note to restrict the date range can be added to the documentation.

[2018-09-12 21:09] MicahMcKittrick-MSFT commented on #14868
@mikanyg I am working offline with some of the Service Fabric product members on this. Will update when I hear back with more information.

[2018-09-12 21:09] MohitGargMSFT commented on #14864
@kennethvs Yes, this setting applies to the following client apps mentioned [here](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/technical-reference#approved-client-app-requirement).

[2018-09-12 21:10] barclayn commented on #10635
@Sunny-Oswal the page goes to pricing details and there is a try it for free link at the top of the page. If there are additional changes that you would like to suggest please let us know. (link below)
https://azure.microsoft.com/en-us/pricing/details/key-vault/

[2018-09-12 21:10] barclayn commented on #10635
#please-close

[2018-09-12 21:13] SaurabhSharma-MSFT commented on #14860
@ammarhasayen Thanks for providing information about PIM course.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-12 21:13] #14860 closed

[2018-09-12 21:15] wokket commented on #11299
Awesome, thank you for following up 👍

[2018-09-12 21:16] MicahMcKittrick-MSFT commented on #14903
@davidschlum thanks for that find! I have corrected the doc.

Once the PR merges this issue will close and the changes will go live in a few hours :)

[2018-09-12 21:26] WhippsP commented on #14829
Sot it is based on the input not the output. Makes sense. Thanks

[2018-09-12 21:26] #14829 closed

[2018-09-12 21:28] SaurabhSharma-MSFT commented on #14825
@WhippsP The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2018-09-12 21:28] #14825 closed

[2018-09-12 21:31] jason-j-MSFT commented on #14708
@iamthehousedog at the top of each language section there is a link to creating and monitoring a pipeline, take a look at the Powershell example:
https://docs.microsoft.com/en-us/azure/data-factory/monitor-programmatically#powershell

 When you follow the link  you will see examples of how to create a pipeline activity and save its RunID:
https://docs.microsoft.com/en-us/azure/data-factory/quickst

[2018-09-12 21:31] #14708 closed

[2018-09-12 21:40] BretStateham opened #14907 "Policy name typo in the "Use security tokens from service components" NodeJS sample code."
In the "Use security tokens from service components" (https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-security#use-security-tokens-from-service-components ) the text above the code gives a policy name of "registryRead", but in the example it specifies a policy name of "device":

var policyName = 'device';

This should read:

var policyName = 'registryRead'

---
#### Document Detail

[2018-09-12 21:40] #14903 closed

[2018-09-12 21:44] davidmu1 commented on #10662
We've created new content describing localization and definition of string Ids:

https://docs.microsoft.com/en-us/azure/active-directory-b2c/localization
https://docs.microsoft.com/en-us/azure/active-directory-b2c/localization-string-ids

#please-close

[2018-09-12 21:44] Karishma-Tiwari-MSFT commented on #14878
@minhaj-dell Since this issue is a duplicate of the other one which has been resolved, I will close this now.

[2018-09-12 21:44] #14878 closed

[2018-09-12 21:45] mike-urnun-msft commented on #14808
Hello @timmyreilly Are you referring to the Interval value in Recurrence trigger that's discussed as part of Batch Sender? If so, there should be an option to specify the value as Seconds, and I'm also able to save out successfully with 0.75 in Minutes as well:

![image](https://user-images.githubusercontent.com/36717703/45454984-73decc00-b69a-11e8-880e-63d3c5ee8d0c.png)

![image](https://user-ima

[2018-09-12 21:49] MicahMcKittrick-MSFT commented on #14904
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-12 21:49] jwiese-ms commented on #14740
Perfect, looks like that does match what the current UI shows. Thanks!

// John Wiese / Principal Technical Evangelist/Architect / 414-978-5926

From: Mike Budzynski <notifications@github.com>
Sent: Monday, September 10, 2018 6:12 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: John Wiese <John.Wiese@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDo

[2018-09-12 21:50] MicahMcKittrick-MSFT commented on #14905
Thanks for the question! We are investigating and will update you shortly.

[2018-09-12 21:57] davidmu1 commented on #14143
The endpoint was changed recently and the article has been updated with the correct URL:

https://your-tenant-name.b2clogin.com/your-tenant-name.onmicrosoft.com/your-policy-name/oauth1/authresp

#please-close

[2018-09-12 21:58] m60freeman opened #14908 "Is Read Scale-Out supported for Power BI?"
Do **Power BI Desktop**, **Power BI Designer**, and the **Power BI SaaS** offering all support and honor "application intent=readonly" in the connection string to a Premium-tier Azure SQL Database?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a2961d1-4448-11b7-2dc2-3b738bd70939
* Version Independent ID: 206eb022-25c

[2018-09-12 22:00] davidmu1 commented on #14577
The endpoint was changed recently by the engineering team. The article has been updated with the correct URL:

https://your-tenant-name.b2clogin.com/your-tenant-name.onmicrosoft.com/oauth2/authresp

#please-close

[2018-09-12 22:01] davidmu1 commented on #14624
The following sentence was added to the article:

You need to use all lowercase letters when entering your tenant name and policy name even if they were defined with uppercase letters in Azure AD B2C.

#please-close

[2018-09-12 22:02] MarileeTurscak-MSFT commented on #14792
@Godunder This guide may have more of what you need. https://docs.microsoft.com/en-us/machine-learning-server/operationalize/configure-authentication

I am closing this out for now but please leave a comment or open a new issue if you have more specific feedback we will work with you and try to get that integrated.

[2018-09-12 22:02] #14792 closed

[2018-09-12 22:04] pyoungberg commented on #11164
Is @ganganarayanan still out of office? This documentation still needs updating regarding "Total Regional vCPUs", and preferably the support ticket process should get an option to simply request an increase on "Total Regional vCPUs".

[2018-09-12 22:04] rrmanthonyc opened #14909 "Carthage command switch"
Hello,

I suggest adding the "--platform iOS" switch to the "carthage update" command. It will cut down on the build time and seeing as this is an iOS tutorial, it is more relevant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9c2a719-62fa-b111-03a6-1268cc4caaaa
* Version Independent ID: 2fe78b74-7717-bce9-9204-1089

[2018-09-12 22:04] davidmu1 commented on #14625
The endpoint was recently changed by engineering. The article has been updated with the correct URL:

https://your-tenant-name.b2clogin.com/your-tenant-name.onmicrosoft.com/your-policy-name/oauth1/authresp

#please-close

[2018-09-12 22:06] davidmu1 commented on #14729
The endpoint was changed recently by engineering. The article has been updated with the correct URL:

https://your-tenant-name.b2clogin.com/your-tenant-name.onmicrosoft.com/oauth2/authresp

#please-close

[2018-09-12 22:09] MarileeTurscak-MSFT commented on #14900
@dpace-cs Thanks for the feedback! Which specific section are you referring to?

[2018-09-12 22:10] davidschlum commented on #14903
Thanks! Happy to help!

[2018-09-12 22:11] davidmu1 commented on #14801
I have updated the screenshot in the article to reflect the current portal experience of switching directories. Also, the engineering team recently changed the endpoint which has also been updated in the article:

https://your-tenant-name.b2clogin.com/your-tenant-name.onmicrosoft.com/oauth2/authresp

#please-close

[2018-09-12 22:19] JasonWHowell commented on #14192
Hi @sgiovinetti

Data Catalog should be able to connect to SQL API collections in Azure Cosmos DB (the old DocumentDB). Other APIs didn't work because the Data Catalog app isn't updated with the newer APIs for Cosmos DB.

Using the click-once app, I got it to connect using the **Azure DocumentDB** data source, and pointing to my URL for the Account field, and typing the database name as the databa

[2018-09-12 22:30] pyoungberg commented on #11164
To add to what Jeff mentioned it worked for me too, and the approvals were almost immediate. I think it took less than 5 minutes after submitting the request to see the "Total Regional vCPUs" bump up. The process appears to be automated.

[2018-09-12 22:39] LuisCabrer commented on #12667
How can I reassign this issue to @ashmaka ?

[2018-09-12 22:41] ghogen commented on #14663
@bjthomson So things have changed a little.  No longer a red squiggly, and a change in the <configBuilders> section.  I think we're making progress.  Just to be sure, the MVC project and/or the Razor pages projects work OK, this is only an issue with Web Forms?

[2018-09-12 22:44] ashmaka commented on #12667
This suggestion for a correction is incorrect - the code snippet that is being proposed to be changed is the correct and functional code for the latest Microsoft.Azure.CognitiveServices.Language.TextAnalytics nuget package

[2018-09-12 22:45] jordanmills opened #14910 "Non-standard parameter names"
Looks like the team that wrote the powershell module needs to review the parameter name conventions.  "Host" is not a standard parameter name, it should be "Name".  https://docs.microsoft.com/en-us/powershell/developer/cmdlet/property-parameters

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71e2c183-5b23-45ab-9d16-393

[2018-09-12 22:56] #14192 closed

[2018-09-12 22:57] jason-j-MSFT commented on #14765
@bellowman I am seeing the same thing:
![capture43](https://user-images.githubusercontent.com/37126381/45457568-6e867f00-b6a4-11e8-80fb-9264f57a80ab.PNG)

@sharonlo101 should this document be updated?

[2018-09-12 23:23] m43kwon opened #14912 "Sample output?"
What is the the output when a user selects a region and a zone?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0eec736-ec53-9f6c-57dc-fcda905791f0
* Version Independent ID: c3a20467-21a7-df57-36b3-da079b5f2da2
* Content: [Azure AvailabilityZoneDropdown UI element](https://docs.microsoft.com/en-us/azure/managed-applica

[2018-09-12 23:30] tfitzmac commented on #14706
@romankiss - thanks for this feedback. The delay is described in the [Dead letter and retry policies](https://docs.microsoft.com/en-us/azure/event-grid/manage-event-delivery) but I agree it should be in the article you linked to. I'll consolidate that information.

[2018-09-13 00:08] msLinuxNinja opened #14914 "wget should point to https://aka.ms/lis for latest LIS version"
On the RHEL Section, instead of having a static link for a certain version of LIS it should point to https://aka.mks/lis which it will always be the latest version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d0461be-f438-f807-3808-abed0d536913
* Version Independent ID: ccbedd05-913a-1c66-8e30-e9c4a31c5d22
* Conten

[2018-09-13 00:09] msLinuxNinja commented on #14914
Also there's no need to create a directory as when untaring the LIS file it creates a directory called LISISO

[2018-09-13 00:11] steveesp commented on #14914
Thanks for the suggestions! Feel free to create a PR for review.

[2018-09-13 00:23] zachsaltzman opened #14915 "O365 Group Writeback - Manage Group Membership?"
Does the O365 Group Writeback also allow you to manage Office 365 Group membership through on-premise AD/Exchange tools?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94329ab1-52d9-88f3-1fe0-9eeac8ca855a
* Version Independent ID: 2d68a249-35ba-9968-32de-caec24bfe98d
* Content: [Azure AD Connect: Features in preview](h

[2018-09-13 00:27] dglambert opened #14916 "Monitor Conditions for Log signals"
So I see it mentions their are Monitor Conditions for Metrics signals, does that mean there are not Monitor Conditions for Log signals? I have a bunch of Log alerts configured, but I don't see anything in my All Alerts window that is not a Monitor Condition other than Fired. I am expecting to see Resolved Monitored Conditions as well.

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-09-13 01:09] wcom939 opened #14917 "This documentation is out of date and incomplete"
Just to point a few things out:

1. Notification hub SDK link is missing and just has (link) under "setup your application"
2. The class said to copy in is missing that notificationcompat is needed to be imported via gradle
3. The command to get the MD5 is wrong, and the documentation is missing mention that once must also grab the SHA256 for ADM
4. The class (MyADMMessageHandler) results in numer

[2018-09-13 01:27] #14625 closed

[2018-09-13 01:30] #14624 closed

[2018-09-13 01:52] stprokho opened #14918 "Minor typo in Create virtual machine scale sets"
Set-AzureRmVmssStorageProfile $vmssConfig `
    -ImageReferencePublisher MicrosoftWindowsServer `
    -ImageReferenceOffer WindowsServer `
    -ImageReferenceSku 2016-Datacenter `
    -ImageReferenceVersion latest
    -OsDiskCreateOption FromImage

Should be:

  Set-AzureRmVmssStorageProfile $vmssConfig `
    -ImageReferencePublisher MicrosoftWindowsServer `
    -ImageReferenceOffer WindowsServer

[2018-09-13 03:33] JimmyLS commented on #14785
Hello Saurabh,

Actually I read the section carefully, not it's all about the behavior when using browser or native apps. But now my question is about using this option with CA policy, they are different. I want a note here that this feature is independent with CA and has higher precedence.
Thanks.

[2018-09-13 03:34] dcbrown16 opened #14922 "Clarify the lack of DataActions on some roles"
The Owner, Contributor, and Reader roles have some references to being able to manage or view "everything", but this doesn't include DataActions, so for example they cannot view blobs. This is covered in the article below, but perhaps the descriptions here could be updated to reflect their more specific scope with the introduction of DataActions?
https://docs.microsoft.com/en-us/azure/role-based-a

[2018-09-13 03:57] MicahMcKittrick-MSFT commented on #11164
@pyoungberg looking into it. Will update once I hear back

[2018-09-13 04:18] #10635 closed

[2018-09-13 05:15] zemien opened #14923 "Clustered index is also required, and other considerations"
[Primary keys](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-best-practices-data-sync#primary-keys) besides a PK, there must also be a Clustered Index (usually the PK) for sync to succeed.
Also, computed columns are not supported (for obvious reasons).
Azure SQL seems to be built on SQL Server 2014, so you can't sync tables/columns that make use of newer features.

---
#### Docu

[2018-09-13 05:38] ozyogz opened #14924 "'Analyze am image' link is dead"
The first link in the Next steps section above is dead.  https://docs.microsoft.com/en-us/quickstarts-sdk/csharp-analyze-sdk.md Appreciate if you could fix it.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f12a77c5-fc42-c179-5af7-6c7b2197de28
* Version Independent ID: 2db8d484-530e-d507-2842-c196a5e55c9a
* Content: [C

[2018-09-13 05:39] ozyogz commented on #14924
In fact, all three links in Next steps are dead.

[2018-09-13 05:48] kamellemann opened #14925 "Change Doku"
Hi,
when you follow this documentation, the cluster will not be fully functional (several Errors regarding the VIPs (RPC Errors from passive node etc.)).
Please Change this documentation to use Standard internal Load Balancers with HA Ports for the VIP. With this configuration, the cluster will be fully functional (Change permission from node not Holding cluster core ressources etc.)).
Regards,
Do

[2018-09-13 06:02] nsoneji commented on #14368
@pavelrozenberg, We have seen the issue if the local settings/excel settings is using decimal character other than dot.  With this settings, while generating a report, price of LRS which is actually 0.05 gets converted into 0,05 in excel  and end result is 5$.  We will fix the issue in one of the upcoming updates. Can you please confirm your local settings and for workaround can you please change

[2018-09-13 06:27] mike-urnun-msft commented on #14773
Hey @divyaswarnkar any thoughts on this one?

[2018-09-13 07:41] tsahi commented on #14261
I just checked, and I don't get these messages when initializing the TelemetryClient as described in issue 757.

[2018-09-13 07:46] subashsivaji opened #14926 "How to add server administrators via PowerShell or ARM?"
How to add server administrators via PowerShell or ARM?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eccbe004-2ce2-9010-92c5-c9b2718bdd69
* Version Independent ID: f48b5510-b6af-0063-b02f-700c3af0bc93
* Content: [Manage server admins in Azure Analysis Services](https://docs.microsoft.com/en-gb/azure/analysis-services

[2018-09-13 07:53] kazshi commented on #14727
@Karishma-Tiwari-MSFT Actually I want to know how we can enable Linux Diagnostics Extension to get Guest metric and alert in Linux VMSS.

[2018-09-13 07:54] bjthomson commented on #14663
I haven't tried a MVC project - I added the keyvault gubbins to an existing webforms project (thank goodness for source control)
So bizarrely, the red squiggly which was under "userSecretsId" (a 4.7.1 project)is now under "vaultName" and "vaultUri" in a 4.7.2 project.  Not sure if that is the reason. The squigglies are probably just xsd definitions, but something is breaking in Microsoft.Configura

[2018-09-13 07:59] bjthomson commented on #14663
Ah, now in the second, minimal test project, I had a right-button menu item, "Manage User Secrets", when I clicked that it installed a nuget package, and modified web.config. I now have two entries under "builders"
![newsecrets](https://user-images.githubusercontent.com/22427749/45475083-3aa66a80-b733-11e8-9b63-7adc67488d54.PNG)

[2018-09-13 08:00] YutongTie-MSFT commented on #14889
@tobydrake7 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@gopitk Hi, this is a document related issue, can you please check it and also update the document as necessary? Thanks a lot!

[2018-09-13 08:03] YutongTie-MSFT commented on #14897
@epaulson Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@PanosPeriorellis Hi, this is a document bug, can you please check it and update the document as necessary? Thanks a lot!

[2018-09-13 08:05] YutongTie-MSFT commented on #14924
@ozyogz Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@noellelacharite Hi, these are three dead links, can you please check the links and update the document as necessary as necessary? Thanks a lot!

[2018-09-13 08:14] daniel-rocha opened #14927 "ClassCastException running Maven target."
Hello,

Following these steps, after fixing the JAXBException, allows me to build the project, but on running it there is a ClassCastException.

Log trace:

C:\Users\daroch\Projects\azure-training-serverless\function-app-java-mvn\danielrocks-functions&gt;mvn azure-functions:run
[INFO] Scanning for projects...
[INFO]
[INFO] ----------&lt; com.danielrocks.functions:danielrocks-functions &gt;--------

[2018-09-13 08:16] daniel-rocha commented on #14927
Environment:

Windows 10
JDK: java version "10.0.2" 2018-07-17
Java(TM) SE Runtime Environment 18.3 (build 10.0.2+13)
Java HotSpot(TM) 64-Bit Server VM 18.3 (build 10.0.2+13, mixed mode)
Azure Functions core tools: azure-functions-core-tools@2.0.1-beta.38

[2018-09-13 08:17] jdpearce commented on #14185
@femsulu I would just like a small clarification. With regard to my initial question (can multiple SPAs be configured with Azure Static Website Hosting), can you confirm that the answer is currently "No"?

I appreciate the subtle attempt to upsell on a CDN solution, but that wasn't what the question was about. But for this missing feature, ASWH would have been perfect for our very basic needs. A C

[2018-09-13 08:34] YutongTie-MSFT commented on #14855
@ea167 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@v-jerkin Hi, can you please check this document issue and update the document as necessary? Thanks a lot!

[2018-09-13 08:34] bjthomson commented on #14663
I turned on fusion logging. Not sure what this is telling me, my system is running fine otherwise.
*** Assembly Binder Log Entry  (13/09/2018 @ 09:31:28) ***

The operation failed.
Bind result: hr = 0x80004005. Unspecified error

Assembly manager loaded from:  C:\Windows\Microsoft.NET\Framework\v4.0.30319\clr.dll
Running under executable  C:\Program Files (x86)\IIS Express\iisexpress.exe
--- A det

[2018-09-13 08:34] TsuyoshiUshio commented on #14854
In my environment

[code]

However, if it is implemented, it might be the version. My environment is

[code]

[2018-09-13 08:35] YutongTie-MSFT commented on #14778
@pchoudhari Thanks for your answer.

@Souvik04 Does it solve your problem?

[2018-09-13 08:40] wangqingzhong opened #14928 "china"
The new request for China seems to be different from what you said.(https://support.azure.cn/zh-cn/support/support-azure/)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe04a05a-f753-ee1f-5171-fd2a81a030f9
* Version Independent ID: 1507a7ac-11cc-81a7-e932-9e8ef9644e2b
* Content: [Azure Resource Manager vCPU quota incr

[2018-09-13 08:44] lemvigh opened #14929 "Multiple AdaptiveSamplingTelemetryProcessors"
The documentation talks about AdaptiveSamplingTelemetryProcessor in singular, but the default configuration file has two such elements. I miss documentation on what happens in case in case a telemetry type is targeted by multiple AdaptiveSamplingTelemetryProcessors. Which one will win?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2018-09-13 08:56] mike-urnun-msft commented on #14883
Hey @azvargas Are you able to share any logs from deployment?

[2018-09-13 09:04] murdockcrc opened #14930 "Throttle functions execution on blob trigger"
Hi
Looking at the host file sample, I don't see any configuration parameters to throttle the execution of functions on blob triggers. Image I have a function that reacts to new blobs being uploaded in a storage account. I want to make sure that no more than 30 files are processed at the same time (this is to reduce the load on a backend system). How can I achieve such configuration in a Function?

[2018-09-13 09:15] mike-urnun-msft commented on #14904
Hey @tinod We have assigned this issue to the author to review and take the right course of action.

[2018-09-13 09:23] benc-uk opened #14931 "Modify instructions to work with the HTTP application routing add-on"
These instructions start with you deploying a new Nginx ingress controller, however many people deploying AKS will have switched on the *HTTP application routing add-on*, so will already have working ingress controller.

I suggest giving people the choice. If they want to use TLS with the HTTP application routing add-on, the modifications to the instructions are pretty simple
- Skip the **Create a

[2018-09-13 09:49] SqlWaldorf opened #14933 "typo in query 2"
Hi, the query
SELECT count(*)
FROM PARTITION BY PartitionId
GROUP BY PartitionId, clusterid, tumblingwindow (minutes, 5)
is missing an input name, I think it should be
SELECT count(*)
FROM input PARTITION BY PartitionId
GROUP BY PartitionId, clusterid, tumblingwindow (minutes, 5)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-09-13 09:56] andrewatfornax opened #14934 "ASE Dependencies - Missing Content"
Under the "ASE Dependencies" section, there is a table that lists outbound connectivity requirements, after the sentence "An ASE has the following outbound dependencies".

However, this table does not list the requirement for outbound traffic on port 80, which is later shown in an image under the "Network Security Groups" section, where outbound access is provided with the "outbound-80" rule.

An

[2018-09-13 11:03] babwitjava opened #14937 "Cross-collection joining using SAL API in cosmos DB"
Hi,
One of my requirement I want to fetch the result from two different collections by joining these two collections. Is Cosmos supporting this feature, most of them saying no, is it ture?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08a28907-0d48-5496-d488-ed7d0139f5f1
* Version Independent ID: f99eabd7-92df-cc3c-97

[2018-09-13 12:00] daniel-rocha opened #14938 "Without a previous Cosmos DB Account, Step 3 fails"
Without previously creating a Cosmos DB account, Step 3 of the tutorial fails, since clicking on "New" by "Azure Cosmos DB account connection" does not bring us to a screen where a new account can be created. Rather, it shows a prompt asking to select a subscription, and if neither have an account already existing, then the "Select" button is grayed out, and we're stopped there.

---
#### Document

[2018-09-13 12:12] lfshr opened #14939 "Typo in PFSGroup for 384-bit ECP"
PFSGroup should be ECP384 not ECP284.

https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-compliance-crypto#a-name-dhawhich-diffie-hellman-groups-are-supported

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98d7fd30-80a8-f690-6191-d97ae4cac174
* Version Independent ID: 3e15f99b-2f2d-7adc-a2d9-0b218498

[2018-09-13 12:31] adwk67 commented on #14328
Thank-you, that's cleared things up for me!

[2018-09-13 12:33] phatcher opened #14942 "Typo : Azure Scurity Center"
Typo in the first paragraph

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f062227a-b448-830a-5022-edf47deeae41
* Version Independent ID: 9b911a98-7036-fbec-b542-bd4264f1edb8
* Content: [Azure Security Center security policies can be set individually or as part of Azure Policies](https://docs.microsoft.com/en-us/azure/

[2018-09-13 12:42] swainjo opened #14943 "Metrics List"
I am looking for a list of the actual metrics that are logged. I can't find a reference here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96cdd2e8-0dd2-0ce4-8230-24743e400413
* Version Independent ID: 39143a1b-7512-9ce0-3060-f78b605fd91c
* Content: [Viewing diagnostic logs for Azure Data Lake Storage Gen1](https://d

[2018-09-13 12:53] cephalin commented on #14854
@TsuyoshiUshio Thanks for reporting error. I've updated the doc based on your feedback and it should be published in a few hours.

#please-close

[2018-09-13 12:54] kwaazaar opened #14944 "Isn't this solution discontinued?"
That is what I understand from this article: https://news.microsoft.com/europe/2018/08/31/microsoft-to-deliver-cloud-services-from-new-datacentres-in-germany-in-2019-to-meet-evolving-customer-needs/

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: 6c2e132f-09d0-e1f0-7f68-9caf9edc6718
* Version Independent

[2018-09-13 13:00] philippschaefer4 commented on #12571
Hi, as far as I can see the docker deployment has been abandoned again in favour of git (which I like) but now that method doesn't work for me anymore as it did before. I followed all the steps to the letter and didn't get any errors or other problems until I try to browse the webservice. Instead of a cheerful white screen whispering "Hello World" there is only a sad azure blue screen screaming "Y

[2018-09-13 13:03] philippschaefer4 commented on #12571
I just found the repository for the docker deployment on @qubitron s git. That should help me replicate that method ... if it still works ...

[2018-09-13 13:04] cephalin commented on #12571
@philippschaefer4 Yes the Docker method still works, but we rewrote the doc again because there is now a built-in image for Linux. Please see my answer in your other thread.

[2018-09-13 13:11] ggirard07 opened #14945 "No paired region for `France Central`"
According to `https://azure.microsoft.com/mediahandler/files/resourcefiles/microsoft-azure-france-en-us/Azure_France_Datasheet_EN.pdf`, paired region seems to be `France South`.

Can you confirm and update this article please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985-6fc3aec77974
* Version

[2018-09-13 13:13] sergaz-msft commented on #14886
Hi @tameraw ! I have assigned this to @dominicbetts to update the doc. Thank you!

[2018-09-13 13:15] sergaz-msft commented on #14907
Thanks for the feedback @BretStateham ! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-13 13:19] sergaz-msft commented on #14679
@andrepodnozov you are right. Product Group filled a bug [here](https://github.com/Azure/azure-iot-pcs-remote-monitoring-dotnet/issues/127).

Please follow [this document](https://github.com/Azure/azure-iot-pcs-remote-monitoring-dotnet/blob/master/docs/LOCAL_DEPLOYMENT.md) to workaround the issue. We will update [the doc](https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-rem

[2018-09-13 13:29] vignatov opened #14946 "Register User with ROPC"
The documentation describes how to receive a token for user who already exists on AD. What is the flow for users who are new to the app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c54680bb-ff67-a9e2-4272-1710fe6eb863
* Version Independent ID: 6d15d340-f556-6bb0-8b4c-f4535537189b
* Content: [Configure the resource o

[2018-09-13 13:31] isamllr opened #14947 "Error when creating the file system"
Where can I set the file system when creating ADLS Gen2?

I am always running into en exception when trying to create the file system (Step 4) using Databricks:
spark.conf.set("fs.azure.account.key.&lt;ACCOUNT_NAME&gt;.dfs.core.windows.net", "&lt;ACCOUNT_KEY&gt;")
spark.conf.set("fs.azure.createRemoteFileSystemDuringInitialization", "true")
dbutils.fs.ls("abfs://&lt;FILE_SYSTEM_NAME&gt;@&lt;ACCOUN

[2018-09-13 13:34] mgreschl opened #14948 "Key Usage does not have a "secret" option"
In sections 3.1 and 3.2 step 7 says to select "secret" as the key usage. The only options for key usage are "Signature" and "Encryption".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4677207-20f5-70c8-b653-93d2dd2a93a8
* Version Independent ID: 3baf68b7-8035-412a-9a6b-05565b42f39c
* Content: [Secure your RESTful ser

[2018-09-13 13:40] tanwarsatya commented on #13428
A report without data refresh, what is the use of it. This feature is in request from last 2 years and no response on that or a date for that.  @Alberto-Vega-MSFT schedule refresh only allow daily or weekly refresh, what if data is changing more frequently. Now talking about building the functionality to call the refresh api on change feed is insane, refreshing the data is a basic functionality fo

[2018-09-13 13:42] sergaz-msft commented on #14871
@vfab can you please try to "Deploy a Module" through the portal again? It should now be possible.

Thank you!

[2018-09-13 13:45] philippschaefer4 commented on #12571
Thanks for the quick responses. It seems that I started crying too soon. The docker as well as the git method now work as they are supposed to. Everything is fine. Please excuse my tirades.

[2018-09-13 13:49] cephalin commented on #12571
@philippschaefer4 Nothing to excuse. Glad to hear that you got unblocked. Thank you for reaching out to us.

[2018-09-13 13:49] SimonLuckenuik commented on #5561
Singleton attribute officially working and supported with Consumption Plan, that should be the way to go.  Description here: https://github.com/Azure/azure-functions-host/issues/912#issuecomment-419608830

[2018-09-13 14:02] sujeewa-trintech commented on #12074
I also get a connection error when the Index page try to call ToDo Service. Anything changed with the service fabric mesh since the article written. I'm getting,

System.Net.Http.HttpRequestException
  HResult=0x80004005
  Message=A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has fail

[2018-09-13 14:08] barclayn commented on #11299
@wokket Your welcome. I hope it helps.

[2018-09-13 14:08] barclayn commented on #11299
#please-close

[2018-09-13 14:13] vfab commented on #14871
I tried it just now and it worked, no problem.  Obviously it's not a
documentation issue!

Thanks!

On Thu, Sep 13, 2018 at 9:42 AM António Sérgio Azevedo <
notifications@github.com> wrote:

[2018-09-13 14:16] minhaj-dell opened #14949 "Daemon acquiring access toke on behalf of the user"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-09-13 14:20] #14807 closed

[2018-09-13 14:29] minhaj-dell commented on #14949
@SaurabhSharma-MSFT  ok lets keep playing this game of opening issues and closing them!

*Referencing unresolved issues* https://github.com/MicrosoftDocs/azure-docs/issues/14559
 & https://github.com/MicrosoftDocs/azure-docs/issues/14878#issuecomment-420808375

So I understand the daemon would use app cert to get the token. But then any user that runs this app would be able to acquire the token? S

[2018-09-13 14:30] peterasamoah opened #14950 "Custom Activity"
How do I link an event based trigger to a DataFactory version 2 Custom Activity

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7ee5166-ff40-f4ed-ce07-5312f935e388
* Version Independent ID: 68f01b43-e3b2-003b-24cb-446a08aa0c1b
* Content: [Create event-based triggers in Azure Data Factory](https://docs.microsoft.com/en-

[2018-09-13 14:36] Mike-Ubezzi-MSFT commented on #14908
@m60freeman Thank you for your interest in Azure products and services. We are investigating this and will get back with you shortly.

[2018-09-13 14:36] DCtheGeek commented on #14710
@elops Just checking in with you.  Did you get a chance to look at my suggestions? I'm going to add the enhancement about clarifying to replace the strings.

[2018-09-13 14:38] Mike-Ubezzi-MSFT commented on #14923
@zemien Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2018-09-13 14:39] Mike-Ubezzi-MSFT commented on #14937
@babwitjava Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-09-13 14:53] mwheatfill opened #14951 "Updates to partially connected scenario"
After stepping through the disconnected/partially connected scenario, I had a few doc suggestions to help provide clarity. What is the best way to contribute these suggestions for review? I tried editing in GitHub and submitting, but it forwarding me to a general error page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2018-09-13 14:55] DCtheGeek commented on #9223
@guillemsola I'm looking to add this enhancement to the docs, but have a few questions.  When using Automation State Configuration, have you looked at providing the parameters through the use of Variables or Credential objects inside Azure Automation? If the goal is to get this information out of your Resource Manager template, shifting it to be stored in the Automation account helps achieve that

[2018-09-13 14:55] georgewallace commented on #14587
@brgsstm were you able to solve your problem? The information about network connectivity for Update Management can be found here https://docs.microsoft.com/en-us/azure/automation/automation-update-management#ports

[2018-09-13 15:01] MicahMcKittrick-MSFT commented on #14925
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-13 15:02] MicahMcKittrick-MSFT commented on #14927
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-13 15:03] MicahMcKittrick-MSFT commented on #14931
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-13 15:03] adagioajanes commented on #10120
I agree that 1kb size is far too small. I should not have to configure two instances of an application to handle provisioning and SSO. That defeats the purpose of consolidating my applications into Azure AD.

[2018-09-13 15:10] rayne-wiselman commented on #12232
I've added details to the article as requested. Thanks! - https://docs.microsoft.com/en-us/azure/site-recovery/migrate-tutorial-on-premises-azure#after-migration

#please-close

[2018-09-13 15:11] rayne-wiselman commented on #13637
Thanks for your feedback! I've corrected the error and added more info about replication.
https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-architecture#replication-process
#please-close

[2018-09-13 15:12] rayne-wiselman commented on #13638
Thanks for your feedback! Issue is fixed.

https://docs.microsoft.com/en-us/azure/site-recovery/hyper-v-azure-common-questions

#please-close

[2018-09-13 15:13] rayne-wiselman commented on #13641
Thanks for your feedback! Fixed

https://docs.microsoft.com/en-us/azure/site-recovery/hyper-v-azure-common-questions

#please-close

[2018-09-13 15:14] rayne-wiselman commented on #13642
Thanks for your feedback! Link is updated to point to the correct location

https://docs.microsoft.com/en-us/azure/site-recovery/hyper-v-azure-common-questions#failover-and-failback

#please-close

[2018-09-13 15:15] rayne-wiselman commented on #13671
#please-close

[2018-09-13 15:18] rayne-wiselman commented on #14067
@DMoonesinghe . Hi, we'll close this since there's no issue with the article. Please update to let us know if you have any links to info that's incorrect. Rayne

#please-close

[2018-09-13 15:19] rayne-wiselman commented on #14368
@pavelrozenberg Hi, we'll close this since it isn't a content issue. Please feel free to let us know if the workaround suggesed by nsoneji helps. Thanks!

#please-close

[2018-09-13 15:21] rayne-wiselman commented on #14459
@vdias . Hi, we'll close this since this doesn't seem to be an issue with the actual content. Let us know in this thread if the steps above helped to solve the issue. Thanks!

#please-close

[2018-09-13 15:24] swails opened #14952 "Lacks information about using SQL sources"
There are no examples of using SQL as a data source, and even the simplest queries are giving "Unable to load preview. Could not execute provided query".  There is little to no documentation I can actually find to help me use this tool.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b8f850d-bba3-5a3d-8b63-582c5d8a9749

[2018-09-13 15:30] TylerMSFT commented on #12074
Nothing has changed. I ran it successfully yesterday. Did you follow the trouble shooting steps?

[2018-09-13 15:33] haveyoumetcp opened #14953 "Pipeline trigger time UTC or local?"
The documentation does not specify if the value returned for the pipeline trigger time is in UTC or local time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: befd9a68-45a2-9105-1b1b-16bf792a2d73
* Version Independent ID: 2c2e1fa5-7824-5fe9-7382-bf5573a25be3
* Content: [System variables in Azure Data Factory](https://d

[2018-09-13 15:35] Brenduns commented on #14951
#please-close

I've contacted Michael via email and we'll iterate on the suggestions via email for now.

[2018-09-13 15:35] azvargas commented on #14883
Hi Mike. I tried to get the deployment log using the instructions that you provided, but I got an empty JSON file from the "Deployment" link. The only log I could find is LogFiles\EventLog.xml

[eventlog.txt](https://github.com/MicrosoftDocs/azure-docs/files/2379986/eventlog.txt)

[2018-09-13 15:36] SandraJin commented on #8367
I'd like to share my findings.

According to this article, "If you have chosen to block clients that aren’t supported by Intune, use the Apply policy only to supported platforms option."
https://docs.microsoft.com/en-us/intune/conditional-access-intune-reassign

![image](https://user-images.githubusercontent.com/43245270/45498898-be9d3880-b7ad-11e8-8959-c04e3d41e3c1.png)

So based on my understand

[2018-09-13 15:38] SalmanZubair opened #14954 "Issue related to Cosmos Insert from Stream Analytics"
I am using a data pipeline where device sends data to IoTHub which goes to CosmosDB through Stream Analytics. It works fine but sometime in CosmosDB a stored procedure gets created on its own "bulkUpsert_v_1_0" which creates trouble for all the future CRUD operation. It inserts thousands record for just one input. My read operation fails with error mentioning bulkUpsert even though it has nothing

[2018-09-13 15:53] timmyreilly commented on #14773
In terms of documentation, perhaps we could add a sample of using a batched method in a single action. Providing the code behind, or explaining how to edit the action parameters to remove the For loop.

[2018-09-13 16:20] michelleN opened #14955 "docs for name servers with dot at the end"
I was also confused like @B3zo0 about the dot at the end of the name server address. I learned [here](https://github.com/MicrosoftDocs/azure-docs/issues/6402) that the dot indicates the end of the fully qualified domain name). Thanks @subsarma. Could we add some clarification around that in docs in case other people get confused as well?

[2018-09-13 16:21] romankiss commented on #14706
Thanks for info

[2018-09-13 16:29] LisandroSu opened #14956 "Typo in command"
@bartmcleod commented on [Thu Sep 13 2018](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/86)

The command `sudo -i blkid` is wrong it should be `sudo blkid`

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: 2036c044-4fbd-6016-c026-fea724b530d6
* Version Independent ID: dde369ae-7a34-0753-5dfe-37

[2018-09-13 16:29] LisandroSu commented on #14956
Hi team,

Please check on the issue reported

Thanks!

[2018-09-13 16:36] rizotas opened #14958 "Just doesn't work"
Nice guide, but just doesn't work. I followed step by step every single details in guide but still I get a certificate issued by Kubernetes Ingress Controller Fake Certificate, even https://demo-aks-ingress.eastus.cloudapp.azure.com/ doesn't work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12009c1f-282d-2632-fac0-64

[2018-09-13 16:38] mike-urnun-msft commented on #14890
Hi @maecky Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-09-13 16:49] jforest opened #14959 "The link in Guidelines for creating a Microsoft ID to manage a marketplace account returns 403 forbidden"
In the following piece:

[code]

The link to the `Guidelines for creating a Microsoft ID to manage a marketplace account` doesn't work, it returns a 403.  The link is: https://review.docs.microsoft.com/en-us/azure/marketplace/guidelines#guidelines-for-creating-a-microsoft-id-to-manage-a-marketplace-account

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2018-09-13 16:49] rthorn17 commented on #14747
Hi Samir,
When calling on the provider it is " /Microsoft.Management/managementgroups/<mgid>"

Thanks

[2018-09-13 16:59] MarileeTurscak-MSFT commented on #14942
@phatcher thanks for pointing that out! I am merging the fix now.

[2018-09-13 16:59] #14942 closed

[2018-09-13 17:02] MarileeTurscak-MSFT commented on #14915
@zachsaltzman Yes, you can. Please see this document https://docs.microsoft.com/en-us/exchange/hybrid-deployment/set-up-office-365-groups

[2018-09-13 17:03] vmehmeri opened #14960 "Point out implementation order issues with different deployment modes"
It would be good to point out that creating an Express Route gateway alongside an existing VPN gateway is not possible through the portal, and with ARM templates it's only possible if the Express Route gateway is deployed first. With powershell it works fine (first VPN gw then EXP gw).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2018-09-13 17:04] MarileeTurscak-MSFT commented on #14909
@rrmanthonyc
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-13 17:06] rrmanthonyc commented on #14909
Sounds good. Thanks for the reply.

[2018-09-13 17:06] MarileeTurscak-MSFT commented on #14946
@vignatov
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-13 17:08] YutongTie-MSFT commented on #14952
@swails Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@cforbe Hi, this is a document response from the customer. Can you please check it and update the document as necessary? Thanks a lot!

[2018-09-13 17:10] MarileeTurscak-MSFT commented on #14948
@mgreschl
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-13 17:14] Karishma-Tiwari-MSFT commented on #14596
@luislinietsky Any update?

[2018-09-13 17:15] #14596 closed

[2018-09-13 17:16] Karishma-Tiwari-MSFT commented on #14748
@LisandroSu Can you please share the doc?

[2018-09-13 17:16] alexsmithMSFT opened #14961 "Document removing app service worker tiers, including Remove-AppServiceWorkerTier cmdlet"
This doc addresses creating custom worker tiers, but not how to remove them. Recomment adding a section on removing them, including this cmdlet, which does not appear to be documented anywhere...

**Remove-AppServiceWorkerTier -WorkerSize <worker size> -ComputeMode <Compute mode>**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-09-13 17:35] Karishma-Tiwari-MSFT commented on #14910
@jordanmills Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-13 17:38] adrianwells opened #14962 "Outdated screen shots"
The Screen shots and documentation are out of date from current Cloudyn release (at least for Cloudyn 2018 Build#: 3.2.2.2466) , for example User Accounts are now found under the gear icon in the top black ribbon navigation.  This can create confusion when trying to follow the outlined steps.  Please update the screen shots.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2018-09-13 17:49] Karishma-Tiwari-MSFT commented on #14914
@steveesp Thanks for responding to customer's query. I will assign this issue to you for tracking purposes.

[2018-09-13 17:49] Jann-Skotdal commented on #14592
@Aaron-Yue If you are getting the text to speech data sent back along with the text then there is a “fin bit” in the chunks of audio data to let you know it is the last chunk of audio. More info at https://docs.microsoft.com/en-us/azure/cognitive-services/translator-speech/reference#5-process-the-results

[2018-09-13 17:52] Karishma-Tiwari-MSFT commented on #14916
@dglambert Thanks for the question! We are currently investigating and will update you shortly.

[2018-09-13 17:55] mike-urnun-msft commented on #14912
Hi @m43kwon Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-09-13 17:55] Karishma-Tiwari-MSFT commented on #14918
@stprokho Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-13 17:56] BryanTrach-MSFT commented on #14703
@FabioMariano72 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-09-13 17:56] #14703 closed

[2018-09-13 17:58] BIProfessional commented on #13502
Hi Guys,

I am getting the same error !

Please provide a solution, Please !

[2018-09-13 18:00] SaurabhSharma-MSFT commented on #14949
@minhaj-dell Apologies for the inconvenience, it was accidently closed by someone else.  I will investigate and update you as appropriate.

[2018-09-13 18:00] mike-urnun-msft commented on #14930
Hi @murdockcrc Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-09-13 18:02] femsulu commented on #14922
@dcbrown16 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-13 18:04] SaurabhSharma-MSFT commented on #14785
@JimmyLS Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-09-13 18:04] femsulu commented on #14959
@jforest Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-09-13 18:06] femsulu commented on #14916
@manishsm-msft any thoughts on @dglambert 's comment

[2018-09-13 18:08] jkonecki opened #14963 "Bug in code sample"
Code sample in step 4 in 'Using the change feed processor library section' declares a variable called feedOptions and sets StartFromBeginning property but the variable is not used at all.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdcc897a-d6df-3305-e9cb-01889a3c5d4f
* Version Independent ID: 739a9fc7-3782-a860-ac6