[2020-04-24 22:28] code-vega opened #53292 "How to query on multiple device ids"
I want to query multiple device Ids but I am not sure what to put under the system properties? my message looks something like:
$connectionDeviceId = 'abc' OR $connectionDeviceId = 'def'. But what Do I put under system properties&gt; connectionDeviceId String _________. If I am querying only one device then I would just put 'abc' or 'def', but what if I want to see both?

---
#### Document Details

[2020-04-24 22:29] MarileeTurscak-MSFT commented on #52981
Hi @jhernandez212 ,

This seems to be related to this issue: https://microsoftteams.uservoice.com/forums/555103-public/suggestions/33799987-solution-for-guests-accounts-with-an-organisation

I also agree that this is worth calling out. I'm making a pull request to update the document.

[2020-04-24 22:29] payiAzure commented on #15928
I hit the same issue. When service fabric app is in the progress of deployment and hit the setupEntryPoint to execute Setup.bat, it throw exception "powershell.exe is not recognized as internal or external".

The content of Setup.bat is:
powershell.exe  -ExecutionPolicy Bypass -Command ".\Set-CertAccess.ps1"

If there is an problem, the doc should give the corrected contents.

[2020-04-24 22:31] MarileeTurscak-MSFT commented on #52981
I made a pull request to add this to the document. https://github.com/MicrosoftDocs/azure-docs-pr/pull/112733

Thanks for sharing this feedback and solution.

[2020-04-24 22:31] #52981 closed

[2020-04-24 22:33] CharmanderJieniJieni opened #53293 "Access Model for Azure data plane services"
I am trying to establish access model for both Azure management plan and data plane. For management plane it is pretty clear that all authentication can happen inside Azure AD and authorization controlled by RBAC.  However, when talking about data plane it becomes complex.

For example for KV, the data plane access(permission to keys) is covered by access policy instead of RBAC.
Is it safe to say

[2020-04-24 22:39] Mike-Ubezzi-MSFT commented on #53253
@pannikbutton Thank you for making us aware of this documentation issue. We are evaluating this and will have the documentation corrected as appropriate.

[2020-04-24 22:40] SaurabhSharma-MSFT commented on #53265
@Falven The PR for the fix has been created and it will be merged once reviewed and approved by the author. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-04-24 22:40] #53265 closed

[2020-04-24 22:43] Mike-Ubezzi-MSFT commented on #53257
@AdminTurnedDevOps Thank you for making us aware of this issue. We are evaluating this and will have the document updated as appropriate.

[2020-04-24 22:46] cipher1729 opened #53294 "Programmatic auto pilot"
Any way to configure programmatic auto pilot on a database/collection yet ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5b2be67-25e0-a558-dae2-5fa149df2d96
* Version Independent ID: e95519f3-80f7-37bf-e3fc-9ebbf5081f17
* Content: [Create Azure Cosmos containers and databases in autopilot mode.](https://docs.microso

[2020-04-24 22:51] Karishma-Tiwari-MSFT commented on #52950
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

[2020-04-24 22:51] #52950 closed

[2020-04-24 22:52] Mike-Ubezzi-MSFT commented on #53274
@njsee Thank you for making us aware of this issue. Would it be possible for you to check [this solution](https://community.powerbi.com/t5/Developer/DMTS-MonikerNotFoundError/m-p/258516) to a similar issue, to see if it applies to your situation?

Please let me know if this does not resolve your issue.

[2020-04-24 22:53] javester opened #53295 "smb signing can only be disabled if the mac client is not coming from the internet"
Need verification / note added here that disabling signing on smb won't work if the mac client is connecting to storage from the internet/a public ip address. I've found that signing is forced on if the connection comes from outside of the datacenter. A workaround (VPN, etc) suggestion would be beneficial to have as well.
Also it would be nice to include running "smbutil statshares -a" to verify i

[2020-04-24 22:56] ash2017 commented on #53292
System properties are set for each device and iot hub will populate the field. In the route query, you can use the OR condition as listed above.

[2020-04-24 22:58] Karishma-Tiwari-MSFT commented on #52973
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-24 22:58] Mike-Ubezzi-MSFT commented on #53280
@viju2008 Thank you for bringing this issue to our attention. Can you provide a link to a document that you are attempting to follow? If there is no document and you are attempting to resolve a non-document related issue, please use the appropriate forum to seek assistance in resolving this issue.

[2020-04-24 22:59] femsulu commented on #52717
Sorry for the delay, @nbachm. Adding the content owner @JnHs to help address your question & explore possible revisions to the Fabrikam visual.

[2020-04-24 23:00] MarileeTurscak-MSFT commented on #52836
Hi @boomalator , I checked and this is right. There's no simple tenant-wide setting for this. I made a pull request to remove the line about location inheritance. CC: @msaburnley

It looks like there is a feedback item out for this but it hasn't been updated. https://feedback.azure.com/forums/223579-azure-portal/suggestions/6715615-when-selecting-a-location-how-to-save-as-default#{toggle_previous_

[2020-04-24 23:00] #52836 closed

[2020-04-24 23:05] RyanHill-MSFT commented on #53200
I was able to reproduce your issue @TarekAljabban. Since .NET Core 3.1 was recenlty rolled out, the environment variable maybe hasn't taken effect. Thanks for letting us know. I'll inform the product team and provide any updates should they become available.

[2020-04-24 23:06] lgayhardt commented on #49466
#please-close

[2020-04-24 23:06] #49466 closed

[2020-04-24 23:10] Mike-Ubezzi-MSFT commented on #53282
We are investigating and will update you when we have additional information the share. I believe that using a [persistent volume](https://docs.microsoft.com/en-us/azure/aks/azure-disks-dynamic-pv#use-the-persistent-volume) is the configuration required to align a POD to a specific disk however, I am going to have a Kubernetes engineer review this and provide feedback to this question.

[2020-04-24 23:27] MarileeTurscak-MSFT commented on #52962
Sorry, that was a typo. It's supposed to be Get-AzResource.

Get-AzResource works in stable versions, but 4.0.2 is preview.  Is it an option for you to move to the stable release since it works well there?

In the meantime I am reporting this as a bug with the new version.

[2020-04-24 23:28] martinlarosa opened #53296 "Need to clarify about application permissions"
You should mention this "little"detail in this documentation: https://stackoverflow.com/questions/57379397/why-is-application-permissions-disabled-in-azure-ads-request-api-permissions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9e02a6a-cd93-700d-0073-cca2f6166d67
* Version Independent ID: 215511e6-6599-4aac-5592-63

[2020-04-24 23:32] Mike-Ubezzi-MSFT commented on #53260
@RonnieQuan Thank you for bringing this question to our attention. If you have a VNET for your Azure SQL Database along with a VPN GW with Microsoft.SQL NSG traffic allowed to be passed to the VNET, and are using either a Point-to-Site VPN or a Site-to-Site VPN to connect, the Query Editor session should allow you to connect as long as the IP address the connection is sourced is part of the privat

[2020-04-24 23:32] MarileeTurscak-MSFT commented on #52962
I created a bug for this and will update this thread when there is a response on it. In the meantime the recommendation is to use the stable release.

[2020-04-24 23:32] #52962 closed

[2020-04-24 23:39] Mike-Ubezzi-MSFT commented on #53263
@abhirockzz Thank you for the inquiry. Use the Async Java SDK instead.

**Microsoft Documentation**
[Azure Cosmos DB: Async Java examples for the SQL API](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-async-java-samples)

**GitHub Repo**
[Java SDK for SQL API of Azure Cosmos DB](https://github.com/Azure/azure-cosmosdb-java#java-sdk-for-sql-api-of-azure-cosmos-db)

[2020-04-24 23:48] Mike-Ubezzi-MSFT commented on #53286
@dlewissandy Thank you for bringing this to our attention. I will have have the content author evaluate this for additional enhancements based upon the feedback you have provided.

[2020-04-24 23:49] Karishma-Tiwari-MSFT commented on #52979
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

[2020-04-24 23:49] #52979 closed

[2020-04-24 23:50] Karishma-Tiwari-MSFT commented on #51944
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

[2020-04-24 23:50] #51944 closed

[2020-04-24 23:58] Karishma-Tiwari-MSFT commented on #53023
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-24 23:59] Mike-Ubezzi-MSFT commented on #53294
@cipher1729 Thank you for your inquiry but I am needing clarification of your question. Are you looking for a way to enable/disable this feature programmatically? The intent of this feature is so that you do not have to manually increase throughput at the container/database level. It is a set it and forget it configuration. Please provide more detail to better understand your question.

[2020-04-24 23:59] Karishma-Tiwari-MSFT commented on #53059
@mlearned Can you please help confirm on this? Thanks :)

[2020-04-25 00:13] Grace-MacJones-MSFT commented on #52152
Hi @ulyssetsd, apologies for the delay in response. The .p8 key value should work with a line break.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-25 00:13] #52152 closed

[2020-04-25 00:26] jthoni-MSFT opened #53297 "Unable to understand random threat generation"
My team is working on creating some complicated threat models.  We are finding some strange issues with Threat Analysis.  Here is just one scenario:

1. Build out a rather complicated model.
2. Around 50 threats are detected
3. Select all and cut
4. Paste right back to same diagram
5. We now have 110 threats
6. Now paste the same clipboard contents into a new empty template
7. We now have 175 thre

[2020-04-25 00:33] deborahc commented on #42106
Hi all - clarifying that deletes for TTL are free in autopilot, and will not cause a scale-up of RU/s. Here's an example:

- You have an autopilot container with 400 – 4000 RU/s.
-	Hour 1: T=0: container has no usage (no TTL or workload requests). The billable RU/s is 400.
-	Hour 1: T=1: TTL is enabled.
-	Hour 1: T=2: container starts getting requests, that consume 1000 RU in 1 second. There are a

[2020-04-25 00:36] Grace-MacJones-MSFT commented on #52724
@sethmanheim  can you please look into updating this doc?

[2020-04-25 00:43] Karishma-Tiwari-MSFT commented on #53155
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

[2020-04-25 00:43] #53155 closed

[2020-04-25 00:43] Grace-MacJones-MSFT commented on #52480
@robsanf we appreciate your feedback on this doc. However, this is an older version of the doc and isn't receiving any new updates at this time.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

![docnote](https://user-images.githubusercontent.com/422470

[2020-04-25 00:43] #52480 closed

[2020-04-25 00:44] BharathNimmala-MSFT commented on #52462
@Vladeexx Apologies for delayed response, great to hear your issue is resolved. Thanks for sharing the resolution for broader community here.

At this point it appears that there's no edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue the convers

[2020-04-25 00:44] #52462 closed

[2020-04-25 00:57] Karishma-Tiwari-MSFT commented on #53186
This document talks about the [Marketplace images](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/agent-windows#azure-marketplace-image) and thus the commands.
We will leave the doc as is for now. However the solution provided by you would stay with this document for others to reference.
We will now close this issue. If there are further questions regarding this matter, please

[2020-04-25 00:57] #53186 closed

[2020-04-25 01:00] Karishma-Tiwari-MSFT commented on #49411
@SanDeo-MSFT @yyanev Can you please share your insights on this? Thanks :)

[2020-04-25 01:02] mbialecka commented on #51800
@levi106 Do you have the full error message/log? The one you pasted looks trimmed.

This is certainly unexpected that just swapping the IP to module name would trigger the error. Can you share what language and SDK version you are using to connect to blob storage module? In the meanwhile you can try making sure the code uses this api version: 2017-04-17.

It looks like something (SDK?) is creating

[2020-04-25 02:08] RonnieQuan commented on #53260
@Mike-Ubezzi-MSFT Thanks for the information.
I created private endpoint for my sql server in our vnet, our vnet is connected to our on-prem network via express route.
Looks like the query editor can only work with a public ip sql server, once create the private endpoint for the sql server, the FQDN is resolved to my private IP, and query editor's API call to the private IP endpoint time out.

whe

[2020-04-25 02:34] Exnav29 commented on #53201
Hi, yes I checked that as well last night and the Shared Access Policy is granted to the event hub context.

[2020-04-25 03:20] fertinaz opened #53298 "batch task file list error: "The specified operation is not valid for the current state of the resource.""
### Summary
I'm following the [Batch job with the Azure CLI Guide](https://docs.microsoft.com/en-us/azure/batch/quick-create-cli) to run simple Linux tasks on the VMs invoked on Azure.

I've run a script which applies the all of the steps given in that guide. However I always end-up with the following error:
[code]

### Details
The output of the command `$ az batch task show --job-id $JOB_NAME --t

[2020-04-25 03:36] BasHamer opened #53299 "Create a container step throws an error"
Error:
The request may be blocked by network rules of storage account. Please check network rule set using 'az storage account show -n accountname --query networkRuleSet'.
If you want to change the default action to apply when no rule matches, please use 'az storage account update'.

------------------------
console commands
------------------------

[code]

works.

[code]

The request may be bloc

[2020-04-25 03:38] darrenjoycenz opened #53300 "Does not work"
The instructions in this article don't work.  Tried to send an email, and it's not showing any dynamic fields.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd63841c-b79c-94f0-d07c-86bda071df08
* Version Independent ID: 7d56ec72-ca61-ade4-a828-e41edf878e93
* Content: [How to integrate the common alert schema with Logi

[2020-04-25 03:40] BasHamer commented on #53299
This will be a public repo so not worried about any of the info in here.

more info

PS C:\GitHub\PossumLab-Results-Uploader\src> az storage account show -n citestresults --query networkRuleSet
{
  "bypass": "AzureServices",
  "defaultAction": "Allow",
  "ipRules": [],
  "virtualNetworkRules": []
}

[2020-04-25 03:43] KrishnaG-MSFT commented on #53300
@darrenjoycenz Thanks for your comment! We will review and provide an update as appropriate.

[2020-04-25 03:46] payiAzure opened #53301 "configure security cluster setting failed when use custom setting to set primary cert and proxy ssl cert"
Service fabric cluster could use a same cert for cluster primary cert and reverse proxy ssl cert.
When creating a new SF cluster, In "Enable reverse proxy using Azure portal", step 2 of this doc, when setting two certs, if I use same cert (the cert I used is already created in a keyvault), the cluster deployment would fail with error:
{"code":"DeploymentFailed","message":"At least one resource dep

[2020-04-25 03:51] BasHamer commented on #53299
with --debug it looks like there is a 403 returned.

Getting data service client service_type=BlockBlobService
azure.multiapi.storage.v2018_11_09.common.storageclient : Client-Request-ID=6b6e1228-86a7-11ea-9011-c49ded1ba199 Outgoing request: Method=PUT, Path=/blobcontainertest, Query={'restype': 'container', 'timeout': None}, Headers={'x-ms-blob-public-access': None, 'x-ms-version': '2018-11-09',

[2020-04-25 04:02] GinoLock opened #53302 "Events from on-premises Windows"
Is there a way to see Security Logs from on-premises Windows?, so far it is only showing System/Application logs.  thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6036c6de-a2e8-ffd7-50e9-44ae32bf1682
* Version Independent ID: f7ab9abc-abd0-09e1-4b64-9ec304495ee5
* Content: [Connect hybrid machines to Azure from

[2020-04-25 04:38] KrishnaG-MSFT commented on #53302
@GinoLock Thanks for your comment! We will review and provide an update as appropriate.

[2020-04-25 05:11] blueww commented on #52473
@dckfnuance
Would  you like look at the sample `Example 3: List items recursively from a Filesystem in multiple batches` in https://docs.microsoft.com/en-us/powershell/module/az.storage/get-azdatalakegen2childitem?view=azps-3.8.0?

Please see if the ContinuationToken of the last item get with Get-AzDataLakeGen2ChildItem is not null. If so, it means server not return all items in one request. Then

[2020-04-25 05:52] skmkzyk opened #53303 "Add a page to explain how to create add (and bind) per-URI firewall policies by PowerShell."
The per-site procedure found in here: https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/per-site-policies.
But it seems there's not article to explain how to add per-URI firewall policies by PowerShell.
As far as I searched, it's impossible to do by PowerShell but hit REST API only.
Would check whether it's possible by PowerShell, and if could add article to explain it?

---
####

[2020-04-25 06:29] SwathiDhanwada-MSFT commented on #53236
@patrickjlee Thanks for your feedback. We will review your feedback and  get back to you shortly.

[2020-04-25 06:30] SwathiDhanwada-MSFT commented on #53245
@jvannor Thanks for your feedback. We will review your feedback and  get back to you shortly.

[2020-04-25 06:32] SwathiDhanwada-MSFT commented on #53266
@mossywell Thanks for your comment. We will review your issue and  get back to you shortly.

[2020-04-25 06:34] SwathiDhanwada-MSFT commented on #53271
@bethurr Thanks for your comment. We will review your issue and  get back to you shortly.

[2020-04-25 06:35] SwathiDhanwada-MSFT commented on #53279
@markrad Thanks for your comment. We will review your issue  and  get back to you shortly.

[2020-04-25 06:37] SwathiDhanwada-MSFT commented on #53287
@hetaldesai Thanks for your comment. We will review your issue and  get back to you shortly.

[2020-04-25 06:38] SwathiDhanwada-MSFT commented on #53291
@CharmanderJieniJieni Thanks for your comment. We will review your issue and  get back to you shortly.

[2020-04-25 06:41] SwathiDhanwada-MSFT commented on #53292
@code-vega Kindly check response provided by ash2017 and revert if you have further questions.

[2020-04-25 06:42] SwathiDhanwada-MSFT commented on #53293
@CharmanderJieniJieni  Thanks for your comment. We will review your issue and get back to you shortly.

[2020-04-25 06:43] SwathiDhanwada-MSFT commented on #53295
@javester Thanks for your comment. We will review your issue and get back to you shortly.

[2020-04-25 06:45] SwathiDhanwada-MSFT commented on #53296
@martinlarosa Thanks for your comment. We will review your issue and get back to you shortly.

[2020-04-25 06:46] SwathiDhanwada-MSFT commented on #53297
@jthoni-MSFT Thanks for reaching out!! Can you please share the documentation link that you are following so that I will be able to assign the issue to respective team?

[2020-04-25 06:48] SwathiDhanwada-MSFT commented on #53298
@fertinaz  Thanks for your comment. We will review your issue and get back to you shortly.

[2020-04-25 06:49] SwathiDhanwada-MSFT commented on #53299
@BasHamer Thanks for your comment. We will review your issue and get back to you shortly.

[2020-04-25 06:50] SwathiDhanwada-MSFT commented on #53301
@payiAzure Thanks for your comment. We will review your issue and get back to you shortly.

[2020-04-25 06:52] SwathiDhanwada-MSFT commented on #53303
@skmkzyk Thanks for your comment. We will review your issue and get back to you shortly.

[2020-04-25 07:00] mhunter77 opened #53306 "Looks suspicious - If you put your mouse over CylancePROTECT support team, it shows a ibrahim@nafea@Toyota.com"
Why is there a Toyota email address in link to support for 3rd party CylanceProtect?
This looks fake.

**DETAILS**
There is a suspicious email address (maybe fraudulent) in the following MSFT article:

Tutorial: Azure Active Directory single sign-on (SSO) integration with CylancePROTECT
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/cylanceprotect-tutorial
----------------------

[2020-04-25 07:19] SeaDude opened #53307 "PLEASE provide python connection examples"
Some of the docs have not been updated with python examples. This being one of them. Azure Functions now include python. Please consider adding.
Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb8d85a7-1ca3-71f4-85fb-7fb02850b60e
* Version Independent ID: 3d7daee4-fd6d-0e96-299a-90b3637e6150
* Content: [Manag

[2020-04-25 07:24] catAngangco commented on #52768
What is the difference between the location formats:
"https://[storage]/[container]" vs "wasbs://[container]@[storage]/"
Which one should I be using?

[2020-04-25 07:25] ElAdeel commented on #51032
@neeleshray-msft Hello. I'm experiencing the same problem. However, not with with github login.

[2020-04-25 07:29] DixitArora-MSFT commented on #53307
Hi @SeaDude Thanks for your feedback. We will review and update as appropriate.

[2020-04-25 07:29] SeaDude opened #53308 "Connection clarification"
In the `Configuration` section above, for python `connection` parameter:
- Where is the "app setting" listed in the docs?
*`For example, if you set connection to "MyStorage", the Functions runtime looks for **an app setting** that is named "AzureWebJobsMyStorage." If you leave connection empty, the Functions runtime uses the default Storage connection string in **the app setting**`*

---
#### Docu

[2020-04-25 07:47] ElAdeel commented on #23238
Hi @priyamohanram I'm getting the following error when trying to sign in.
Unable to process notifications from your work or school account. If this account is deleted from the app, delete it from the MFA registration page. Otherwise, delete the account and add it back again".
I did this, multiple times, and the result hasn't changed. I tried removing the authenticator app at all from the MFA, but

[2020-04-25 07:57] WhitWaldo opened #53309 "EventCounters link doesn't work"
The link in the first line of this page in "This document gives an overview..." points to https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Tracing/documentation/EventCounterTutorial.md but that page itself is 404ing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4663502f-573f-f660-a728-1fabcde8acec

[2020-04-25 08:02] chadif opened #53310 "Incomplete section"
In the section https://docs.microsoft.com/en-us/azure/load-balancer/concepts-limitations#load-balancer-components the section seems to be incomplete.

It states: "Load-Balancing rules are the ones that tell the Load Balancer what needs to be done when." and it ends there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-04-25 09:04] souravmishra-msft commented on #52786
@enema17484, The unauthorized error would usually come up if the api that is being  accessed with no or proper permission. Do to this, the Graph API while validating the request throws the 403 error stating that you are not privileged to access. In this case it would be the managed Identity that is being used. Since Managed Identity is used here, make sure you are requesting the access-token from

[2020-04-25 09:04] #52786 closed

[2020-04-25 09:05] #52795 closed

[2020-04-25 09:10] llgjermeni commented on #52847
@Mike-Ubezzi-MSFT sounds good. Thanks for the help.

[2020-04-25 09:17] souravmishra-msft commented on #53167
@CeciAc, Officially this feature is yet not available, but it is in a planned state/expected soon. You can put your thoughts on the following forum:
https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/34195696-powershell-enable-pim-role-assignment

Also, you can use the following script as a workaround for now:
http://www.anujchaudhary.com/2018/02/powershell-sample-for-priv

[2020-04-25 09:17] #53167 closed

[2020-04-25 09:19] souravmishra-msft commented on #53202
@jmprieur, Can you please take a look at this.

[2020-04-25 09:28] souravmishra-msft commented on #53287
@hetaldesai, You can remove the Authenticator App's options from your available options, by going on to https://aka.ms/mfasetup
But while logging onto that url also you would be asked to enter the MFA code using your preferred MFA option i.e Authenticator App. So the only option in hand, is to contact your Global Admin of the tenant and ask him to temporarily remove the authenticator app's option

[2020-04-25 09:31] hh23485 opened #53311 "If this version provide concurrent number options like v8?"
If this version provide concurrent number options like v8?
I checked this doc, but can not found the option.

By the way, if here are force override options in azcopy v8? I just hope a version contains override flag and concurrent number settings.

Any suggestions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1bdc29

[2020-04-25 09:31] souravmishra-msft commented on #53291
@CharmanderJieniJieni, MFA's doesnt qualify for Service Principals, since Service principals cannot perform interactive auth processes. Service Principals are mostly used by apps to perform silent logins where no human interventions are needed and MFA doesnt need a human interaction.

Hope this helps.

Closing the thread for now. Do let us know in case any more queries around this.

[2020-04-25 09:31] #53291 closed

[2020-04-25 10:27] BhargaviAnnadevara-MSFT commented on #53309
@WhitWaldo Thank you very much for bringing this to our attention. I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

Until the change reflects, please know that the doc should actually point to [this](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Diagnostics.Tracing/documentation/EventCounterTutorial.md) file.

[2020-04-25 10:28] #53309 closed

[2020-04-25 11:08] jmprieur commented on #53202
@chhatley : I'll try to find who is responsible for secure web hooks.
I'm also updating the web-api articles (to use MIcrosoft.Identity.Web)

[2020-04-25 11:15] orion1900 opened #53312 "POST_BUILD_COMMAND"
Am I correct in assuming that building a `post_build.sh` that contains:
[code]
and add it to:
[code]
will truly automate the update process?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 791bd216-532f-7f28-fa51-d95798397310
* Version Independent ID: 4f7ff676-e4a5-cc41-6a43-ecb8fa1095fb
* Content: [Tutorial: Deploy Pyt

[2020-04-25 11:50] madhanan commented on #43731
@DCtheGeek

I am trying the following, is this correct ?

{
	"if": {
		"allOf": [
			{
				"not": {
					"field": "type",
					"like": "microsoft.Resources/*"
				}
			},
			{
				"not": {
					"field": "type",
					"like": "Microsoft.Authorization/*"
				}
			},
			{
				"not": {
					"field": "type",
					"like": "Microsoft.Automation/*"
				}
			}
		]
	},
	"then": {
		"effect": "deny"
	}
}

Thi

[2020-04-25 11:53] madhanan commented on #27587
Thanks

[2020-04-25 12:05] msascha38 commented on #53279
I can only agree with Mark. Me and my client lost a lot of time setting up the iotedge service, as we were under the impression that the configured proxy was not working, when this was merely a problem with "iotedge check"

[2020-04-25 12:27] surajsinghbais commented on #40443
Hi,
Can we get the report like which date, I have disabled sign in to user?

[2020-04-25 12:59] bharav commented on #53214
Thanks Vikas it helped

[2020-04-25 12:59] #53214 closed

[2020-04-25 13:30] catAngangco commented on #52768
Hi! This issue got fixed when I added the credentials. I don't think that's an optional step anymore. Will close this thread now.

[2020-04-25 13:30] #52768 closed

[2020-04-25 13:50] JJDE commented on #52444
great, thanks!
Regarding 1:
unfortunately "visible" property is NOT available for the section itself but only for elements.... so i can't show/hide a complete section...anyway dynamicalls show/hide elements in basic section helps :)
Regarding 2:
I use already the latest version. But the marketplace preview seems to use the "old" version. Hopefully this will work when using the non-preview version

[2020-04-25 13:53] JJDE commented on #52366
@alex-frankel thanks for the clarification, so i will not invest more time to get this running...instead i will provide manual post-steps as a doc in marketplace.

[2020-04-25 13:54] SwathiDhanwada-MSFT commented on #53306
@mhunter77 Thanks for your comment. We will review your issue and will revert to you.

[2020-04-25 13:56] SwathiDhanwada-MSFT commented on #53308
@SeaDude  Thanks for your comment. We will review your issue and will revert to you.

[2020-04-25 13:58] SwathiDhanwada-MSFT commented on #53310
@chadif Thanks for your feedback.

@asudbring  Can you please review the request and update the document accordingly?

[2020-04-25 13:59] SwathiDhanwada-MSFT commented on #53311
@hh23485 Thanks for your comment. We will review your issue and will revert to you.

[2020-04-25 14:00] SwathiDhanwada-MSFT commented on #53312
@orion1900 Thanks for your comment. We will review your issue and will revert to you.

[2020-04-25 15:05] abhirockzz opened #53313 "Correct Maven co-ordinate for Java SDK?"
This section https://docs.microsoft.com/en-us/azure/cosmos-db/create-sql-api-java#clone-the-sample-application points to the GitHub repo - https://github.com/Azure-Samples/azure-cosmos-java-getting-started/

The pom.xml (https://github.com/Azure-Samples/azure-cosmos-java-getting-started/blob/master/pom.xml#L58) points to:

[code]

In another tutorial (https://docs.microsoft.com/en-us/azure/cosmos-

[2020-04-25 15:07] AmitavaHazra commented on #51818
Log out is working well I guess.
"logoutUrl": "https://samltestapp2.azurewebsites.net/logout"

[2020-04-25 15:11] jakehockey10 commented on #53193
You guys are great. I really, really appreciate the help!

[2020-04-25 15:36] Jawvig opened #53314 ""Download blobs" section code error"
The code in the "Download blobs" section is incorrect. `BlobClient.DownloadAsync` returns `Response&lt;BlobDownloadInfo&gt;` and not `BlobDownloadInfo` directly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60e56e69-1c44-2056-ad5f-319535e4b525
* Version Independent ID: 49fa6098-0b8e-ebf5-efe7-f50f3604e325
* Content:

[2020-04-25 16:14] icdavid commented on #52982
I understand why this was closed. The SDK v4 API provides diagnostic info via headers. So, here are a couple of extension methods that return RequestCharge if you are using SDK v4:

[code]

Examples:

[code]

[2020-04-25 16:18] lgmorand opened #53315 "Domain parameter causing an error"
I'm using internal MS sub in case that's specific but it shouldn't

if I follow exactly the command lines of the doc, I get the following error telling me that domain is already in use

If I try to change the domain parameter like "cluster-lg" instead of "cluster", it gives me a new error

If I try to restart from scratch with a unique name for $cluster (and thus cascading on every component), I g

[2020-04-25 16:20] lgmorand commented on #53315
Do we still need (like 3.11) to be global admin on the tenant to provision an ARO ? (aropreview is registred on my sub)

[2020-04-25 16:36] gwenbettwy opened #53316 "TLS vs SSL"
As your document says that you use TLS for encrypted transmissions. Even more specifically1.2 then you should drop the SSL letters.  That applies to 3.0 and before.  Kinda like Star Wars they do not come in numerical order ;)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cffc5753-1125-f6ee-de76-8ea460144c10
* Version

[2020-04-25 16:40] hetaldesai commented on #53287
Thanks for your reply. but i do not have global admin for this account.
i was trying out office 365 trial version and add my domain to it now i want to remove it. since i do not have the office 365 subscription.

[2020-04-25 16:58] Mike-Ubezzi-MSFT commented on #53315
@lgmorand Thank you for bringing this to our attention. This issue is being investigated by a compute & containers service engineer and will update you when they have an assessment of the root cause.

[2020-04-25 17:18] Mike-Ubezzi-MSFT commented on #53313
@abhirockzz Thank you for bringing this to our attention. I believe what you are seeing is the difference between the Java SDK `<artifactId>azure-documentdb</artifactId> ` and the Java Async SDK ` <artifactId>azure-cosmos</artifactId> `.  The Quickstart document you filed this issue against is for the Java Async SDK but the NoSQL tutorial link has Java and not Java Async selected. Make sure you ha

[2020-04-25 17:24] Mike-Ubezzi-MSFT commented on #53314
@Jawvig Thank you for bringing this to our attention. We are investigating and will update you when we have have additional information to share.

[2020-04-25 17:28] Mike-Ubezzi-MSFT commented on #53316
@gwenbettwy Thank you for continuing to identify and point out the SSL vs TLS discrepancies within the documentation. I will have the AI + ML service area review this specific issue and have the documentation updated as appropriate.

[2020-04-25 17:37] HeidiSteen commented on #53316
@Mike-Ubezzi-MSFT @gwenbettwy  Doc change is merged into master and will appear on the live site Monday morning 10:00 PST.  Thank you @gwenbettwy !!  Your explanation made me laugh :)

[2020-04-25 17:53] jolenam opened #53317 "Editing of fields is disabled for Global Admin"
Hi,
Even though I'm a global admin, I can't edit the properties (name, logo) of my Enterprise Application. All the input boxes are greyed-out/disabled. Are there additional permissions I need to set somewhere? Thanks in advance!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da891088-c80a-49da-8dcd-e016d9e75baf
* Versi

[2020-04-25 18:25] gwenbettwy commented on #53316
Again thanks so much for being responsive ;)

Glad to add a giggle to your day Heidi

[2020-04-25 18:36] EduardoRomo commented on #17648
@gdv820 where is the startup file where you added the pip install command?

[2020-04-25 18:51] fertinaz commented on #53298
I think the solution is to request dedicated nodes manually on the portal for that specific batch account.

[2020-04-25 20:08] DeanGross commented on #52745
Ok, thanks, that is what I have told my customer, unfortunately, support has not been able to solve the problem so I'm trying to find additional options.

[2020-04-25 20:18] hamzejammal commented on #53287
Hello, I have enabled the MFA to the global account of my tenant  and everything was fine, till i reset my phone even that i  backed up  the MFA . But after i restore the setting of mfa  from cloud,it asking me to scan the qr again to recover it. In addition, if i choose select ( Sign in another way) my phone number is not listed there .
i opened a ticket since 6 days and yesterday they asked me t

[2020-04-25 21:07] rneeft commented on #28400
Any news on this topic?? I have an Azure function with a user managed Identity but unable to resolve the client id automatically. So I store it as a environment setting, which doesn't feel good.

[2020-04-25 21:18] markjbrown commented on #15398
Yes, customers should migrate from the old bulk executor and use .NET SDK v3. There is a [Migration Project](https://github.com/Azure/azure-cosmos-dotnet-v3/tree/master/Microsoft.Azure.Cosmos.Samples/Usage/BulkExecutorMigration) that may be helpful.

There are also [Samples](https://github.com/Azure/azure-cosmos-dotnet-v3/tree/master/Microsoft.Azure.Cosmos.Samples/Usage/BulkSupport)  available as

[2020-04-25 21:31] jpiyali commented on #49015
+1. Can someone please add documentation or at least update this thread with what this error code indicates?

[2020-04-26 00:39] RonnieQuan opened #53319 "Clarify Evaluation"
The first paragraph says "the effects behave differently if they are for a new resource, an updated resource, or an existing resource",

Does it mean the policy evaluation will be triggered even on existing resource when no update or change?

In https://docs.microsoft.com/en-us/azure/governance/policy/concepts/effects#order-of-evaluation
it says "Requests to create or update a resource through Azu

[2020-04-26 00:43] Think3wang commented on #52345
@VikasPullagura-MSFT
Thanks for your explanation, I actually set up the Managed Identity for my existing cluster, I think it is because my existing cluster is already has managed identities enabled at creation time. Anyway, thanks for point this out as it is great to know that this setting can not be changed after the cluster created.

[2020-04-26 01:14] RonnieQuan commented on #52774
@SumanthMarigowda-MSFT  Thanks for the information.
I'm reading https://docs.microsoft.com/en-us/rest/api/storageservices/get-user-delegation-key and
https://social.msdn.microsoft.com/Forums/en-US/4adfa23e-d50a-4f47-ab28-4e674afa5ec9/using-rbac-on-azure-storage?forum=windowsazuredata

Will get back to you in case need more information or have questions!

[2020-04-26 01:30] bhuwan-agarwal opened #53320 "The ARM template for Jenkins fails to deploy"
Currently this doesn't work as advertised.

The extension script fails due to which the deployment doesn't complete.

I have created following issue under Jenkins with the error:

https://github.com/Azure/jenkins/issues/38

Please help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc269e1e-9a34-d676-bdd0-979e565bbdc4

[2020-04-26 01:33] RonnieQuan commented on #52880
@mimckitt  Can I have more information on the long term enhancement? Is the solution is still based on SAS or something else?

[2020-04-26 02:06] moneill9000 opened #53321 "Invalid request URI was provideed"
I keep getting this error after I select a file from my local machine to upload:

An invalid request URI was provided. The request URI must either be an absolute URI or BaseAddress must be set.

I believe the file meets the criteria and I have entered the correct key and endpoint. What do I need to change in the above sample code to get this to work? This error appears in both Version 2 and Versio

[2020-04-26 02:15] RonnieQuan commented on #52880
Does diagnostic extension ARM template has managed identity option to access storage account?
similar to custom script extension https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-linux#extension-schema

[2020-04-26 02:50] moneill9000 commented on #53321
Cancel this request, I got it.

[2020-04-26 03:15] jamesaodavis opened #53322 "Broken Links"
The links within the "Optional sample code resources" are both broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1d88ac1-d269-5f91-fb1f-8901589c6b02
* Version Independent ID: 3fa3ffe6-277a-547a-a434-7002c056b3b9
* Content: [Real time Conversation Transcription (Preview) - Speech service - Azure Cognitive Services]

[2020-04-26 03:37] TomArcherMsft commented on #52177
@odee30 @VikasPullagura-MSFT

I've fixed the issue and merged it.

#please-close

[2020-04-26 03:37] #52177 closed

[2020-04-26 03:42] jiasli commented on #53213
The inconsistency also caused the confusion at https://github.com/MicrosoftDocs/azure-docs/issues/34334. We should stick with the new ARM style and eliminate the unnecessary manual transformation.

[2020-04-26 03:45] BhargaviAnnadevara-MSFT commented on #53100
@damupras We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-04-26 03:45] #53100 closed

[2020-04-26 03:50] SwathiDhanwada-MSFT commented on #53317
@jolenam Thanks for your comment. We will review your request and get back you  shortly.

[2020-04-26 03:51] KrishnaG-MSFT commented on #53319
@RonnieQuan Thanks for your comment! We will review and provide an update as appropriate.

[2020-04-26 03:55] KrishnaG-MSFT commented on #53320
@bhuwan-agarwal  [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL else I sug

[2020-04-26 03:57] SwathiDhanwada-MSFT commented on #53321
Glad to see that you have resolved issue yourself. We will close the issue for now. If you have further questions , kindly revert.

[2020-04-26 03:57] #53321 closed

[2020-04-26 03:58] wesmc7777 commented on #53271
@bethurr Thanks for reporting this. I'll fix this shortly. Sorry for the confusion.

[2020-04-26 04:00] SwathiDhanwada-MSFT commented on #53322
@jamesaodavis Thanks for the feedback. We will review the issue and update you shortly.

[2020-04-26 04:06] jayendranarumugam commented on #53028
Thanks @curtand  now i understood that there _three different access reviews_

1. Access Review for **Access Packages** which is tied with policies for a given access package where the reviewers can be users/groups who currently assigned to the given access package
2. Access Review for **Identity Governance** which is tied with any groups/application , where the reviewers can be group owners/any u

[2020-04-26 05:24] dbartz opened #53324 "getting help on powershell requires web request."
At least for me, on the first run the commands in the section "all installation parameters" do not work as stated.
[code]

 Instead, they require a web request:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f41e023-819c-64a1-8bef-d050481a7ef7
* Version Independent ID: 6f918de8-3e37-5f10-9b5b-aaf453869d2e
* Cont

[2020-04-26 05:42] dbartz commented on #49614
@kgremban @AshokPeddakotla-MSFT
Imho this could be more clear in two aspects:

**exact vs minimum requirement**
 In the text, it should be stated that the windows version is not a minimum but an exact requirement. This would remove a lot of ambiguity

**Versions for Development and test**
As far as I see, the statement

is not entirely clear.
- Newer versions of windows support the container featu

[2020-04-26 06:12] DixitArora-MSFT commented on #53138
@blueelvis I have assigned this to content author for further review and update as appropriate.

[2020-04-26 06:19] KrishnaG-MSFT commented on #53018
@mikemowgli Saved searches is going to be deprecated and would eventually get replaced by query explorer (saved queries). So going forward we recommend you using query explorer (saved queries) instead of saved searches.

[2020-04-26 06:20] KrishnaG-MSFT commented on #53137
@MariusFlorea99 Verified and updated the document as required. Thanks.

[2020-04-26 06:20] #53137 closed

[2020-04-26 06:21] KrishnaG-MSFT commented on #53141
@enichols-insight Verified and updated the document as required. Thanks.

[2020-04-26 06:21] #53141 closed

[2020-04-26 06:52] Hong-Revo commented on #43632
@mimckitt is there any update? I just saw this in Australiaeast as well.

[2020-04-26 07:45] ewotawa opened #53326 "{"message":"Function 'sentiment1' is unknown."}"
Thanks for providing this documentation. I've successfully set up and run this process in the past. However, today when I attempt to call the UDF per Step 3 under 'Create a Query to Transform the Data' I receive the following error message:
 {"message":"Function 'sentiment1' is unknown."}
Where 'sentiment1' is the alias I gave my udf.

The only edit I made to the syntax above was to preface the UD

[2020-04-26 07:47] algattik opened #53327 "Wording "autoscaler settings aren't currently exposed for you to adjust""
"The cluster autoscaler uses startup parameters for things like time intervals between scale events and resource thresholds. These parameters are defined by the Azure platform, and aren't currently exposed for you to adjust. " this is contradicted in section https://docs.microsoft.com/en-us/azure/aks/cluster-autoscaler#set-the-cluster-autoscaler-profile-on-an-existing-aks-cluster, which shows how

[2020-04-26 08:18] memildin commented on #52414
Hi @Eldar1205,
Thanks for the questions. We're confident in the reliability of the scanning on push system. If you're seeing issues in your environment, please open a ticket with support.
As for your second question regarding denying a scan of a specific image, this is something that is planned but I can't commit to a timeline right now.
Please be in touch with any further questions.
#please-close

[2020-04-26 08:18] #52414 closed

[2020-04-26 08:22] memildin commented on #52416
Hi @Eldar1205,
Customers are expected to install the ASC monitoring agent if they're using AKS with VMSS.
Azure Security Center will automatically provision the agent on AKS with VMs (when this option is enabled in Security Center).
Thanks for the question and please be in touch with any further issues.
#please-close

[2020-04-26 08:22] #52416 closed

[2020-04-26 08:36] memildin commented on #53256
As @SaurabhSharma-MSFT said, you can use any workspace and the quickstarts all refer to that option.
#please-close

[2020-04-26 08:42] pranayyt8 opened #53328 "Gen2 ACLs permissions not working with Databricks mounts"
I tried mounting Gen2 filesystem in databricks using 2 different methods.

1.
configs = {"fs.azure.account.auth.type": "OAuth",
           "fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
           "fs.azure.account.oauth2.client.id": clientid,
           "fs.azure.account.oauth2.client.secret": credential,
           "fs.azure.account.oauth

[2020-04-26 09:17] erwinmanuel commented on #51730
Hi, the idle time powershell script works on both 2016/2019. it's the remove shutdown from start menu ps script that doesn't work.

ie. Set-ItemProperty -Path "HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\Explorer" -Name "HidePowerOptions" -Value 1 -Force

Even after a reboot it doesn't work on server2016. Please double check as it seems you only tested the idle timeout script.

[2020-04-26 10:07] #53271 closed

[2020-04-26 10:39] gmantri opened #53329 "[Cosmos DB, Table API] Unable to filter on "Timestamp" property"
When I execute a simple filter like:

[code]

I get no results back. Filtering on other attributes in my table works.

I am wondering why's that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69086594-0d9f-3413-ac83-690b95125002
* Version Independent ID: d6ae6180-ae9f-2fa0-bc36-adc658747001
* Content: [How to query ta

[2020-04-26 11:05] AmitavaHazra opened #53330 "Sample code for SAML based application for SP"
we have asp.net application which is supported using oAuth but we could not have a sample SAML based application. Later in this tuitorial we have metadata and sample SAML based app but no source code.
Can you have any link so that we can work on SAML based app and can configure it as SP while Azure AD B2C as IDP

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2020-04-26 11:12] jiasli commented on #15288
I am from Azure CLI team. I see `mi_res_id` has been added to [Get a token using HTTP](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-to-use-vm-token#get-a-token-using-http) section.

Actually both `mi_res_id` and `msi_res_id` are now supported.

[code]

In our [Azure Identity](https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/identity/az

[2020-04-26 11:19] erwinmanuel commented on #51730
Also the screenshot for the remove shutdown from start menu from local group policy says to go to the computer configuration when the policy is actually in the user configuration (tested on srv2016 & 2019)

[2020-04-26 11:28] clement128 opened #53331 "How to set variables on yaml template?"
Hi there, how can I set variables on yaml and reuse it? for example I want to create multiply containers in side a group and share same environment variables, how can I avoid duplicated configuration?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d76dd9b1-b82f-0f68-0f82-dac7275885a6
* Version Independent ID: 13450a08-

[2020-04-26 11:34] mifurm opened #53332 "Windows_Client Hybrid Use"
Please add Windows_Client hybrid use to this page as well. Will help all of those who are using Windows Virtual Desktop and Desktops in General in Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ef4a337-5ded-458c-9131-fee7a8fa99a6
* Version Independent ID: 094498ab-3275-a114-8d47-1722c1af5388
* Content: [Azure H

[2020-04-26 12:16] flangel commented on #46288
I am not clear why this is closed and the documentation is still incomplete

1. Please document (and mention here) the location, exact display nanme and sample value of Default scope field. There is no field of such name under App Registrations > (BackendApp) > Expose an App

2. Update the instructions how to configure OAuth2 on APIM

[2020-04-26 12:28] viju2008 opened #53333 "Improving speech recognition quality for recognizing names of people/person"
What are the best practices to handle names of people in speech recognition as they are an open domain.

What are the capbilities or appraches to best handle names of people and places recognition.

Above was for open domain . What can be done for closed domain name recognition
Also i want to ask whether word hints can be sent to the recognizer dynamcially.

Means if i know that the words of some

[2020-04-26 12:29] flangel commented on #46288
Sorry for those seeking the answer. Default

[2020-04-26 12:30] flangel commented on #46288
How can i paste images. Well .. The Default Scope should have a value similar to api://186f5386-34fe-4be0-bb77-xxxxxxxx/API.GET

[2020-04-26 12:46] SwathiDhanwada-MSFT commented on #53330
@AmitavaHazra Thanks for your comment. We will review the issue and get back to you shortly.

[2020-04-26 12:46] zvrba opened #53334 "ObO flow for service principal?"
I have a WebAPI that uses ObO flow to propagate user identities throughout the system when calling further APIs (e.g., storage and Azure SQL database). When the API is invoked by a User, everything works as expected. When the API is invoked by a Service Principal, ObO token acquisition fails with "AADSTS90083: Request is unsupported. (invalid_grant)".

In essence, the WebAPI must support two scena

[2020-04-26 12:47] SwathiDhanwada-MSFT commented on #53331
@clement128 Thanks for your comment. We will review your issue and get back to you.

[2020-04-26 12:49] SwathiDhanwada-MSFT commented on #53332
@mifurm Thanks for your feedback. We will your request and get back to you.

[2020-04-26 12:52] SwathiDhanwada-MSFT commented on #53324
@dbartz Thanks for your comment. We will review the issue and get back to you.

[2020-04-26 12:54] SwathiDhanwada-MSFT commented on #53326
@ewotawa Thanks for your comment. We will review the issue and get back to you.

[2020-04-26 12:55] SwathiDhanwada-MSFT commented on #53327
@algattik Thanks for your comment. We will review the issue and get back to you.

[2020-04-26 12:58] SwathiDhanwada-MSFT commented on #53328
@pranayyt8 Thanks for your comment. We will review the issue and get back to you.

[2020-04-26 12:59] SwathiDhanwada-MSFT commented on #53333
@viju2008 This azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL else I suggest you to ask the question in public forums like MSDN / Mic

[2020-04-26 13:03] SwathiDhanwada-MSFT commented on #53334
@zvrba  Thanks for your comment. We will review the issue and get back to you.

[2020-04-26 13:10] Franlusan commented on #52462
Hello
I have the same problem too. I have done what Vladeex says but the error stays the same. So I cannot upload templates nor run cmdlets

[2020-04-26 13:11] viju2008 commented on #53333
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-container-configuration?tabs=stt

https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/quickstarts/speech-to-text-from-microphone?tabs=dotnet%2Cx-android%2Clinux%2Candroid&pivots=programming-language-csharp

[2020-04-26 13:15] Franlusan commented on #52462
Cloud Shell has been working fine all these days but starting Lab 04 of AZ-104, TAsk 2 and opening Cloud Shell I got the error. I would like to fix it or I will not be able to deliver the course.

[2020-04-26 13:17] akshit-srivastava opened #53335 "How to retrain the model using data from third party system."
Dear Experts,

I have a requirement where in I need to fetch historical data from a third party system which is exposed as a web service and train the model on that data.
I am able to achieve the above requirement by using "Execute Python Script" node and invoking the web service using python.
The main problem arises when I need to fetch data from the system every time the Azure ML web service is

[2020-04-26 13:42] DCtheGeek commented on #53319
#reassign:DCtheGeek

[2020-04-26 13:43] AmitavaHazra opened #53336 "Salesforce IDP log in error using SAML technical profile"
Error: We can't log you in. Check for an invalid assertion in the SAML Assertion Validator (available in Single Sign-On Settings) or check the login history for failed logins.
-------------------------------------------------------------------------------------------------
Redirected URL during error state:
https://amitava-dev-ed.my.salesforce.com/_nc_external/identity/saml/SamlError

Case:
I have

[2020-04-26 13:48] DCtheGeek commented on #53319
@RonnieQuan Thanks for the question.  This page explains the order the effects are processed when a create or update is triggered, and then also details each effect including how it is handled in an evaluation cycle.  Under each effect on this page is information about how a regular evaluation cycle treats that resource.  Here's the excerpt from **append** as an example:

Events other than create

[2020-04-26 13:48] #53319 closed

[2020-04-26 14:08] garima2510 opened #53337 "Issue when updating role settings"
Hi,
I tried to use the `Set-AzureADMSPrivilegedRoleSetting` command to update role setting for "ExpirationRule". I set "permanentAssignment" to true.

Now the issue is, I am not able to open the role setting page in portal for this role. It is stuck in "Loading..".

Any help!

Thanks
Garima

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-04-26 14:15] Ayanmullick commented on #53256
@memildin, Definitely, there are gaps in the documentation. I was unable to contact @SaurabhSharma-MSFT through Teams. This is what I see in 'Data Collections'.

![image](https://user-images.githubusercontent.com/17693249/80310029-298e5e00-879e-11ea-9bd2-e8b332ba0e0f.png)

[Here ](https://docs.microsoft.com/en-us/azure/security-center/faq-azure-monitor-logs#i-already-have-workspaces-in-my-environm

[2020-04-26 14:31] RonnieQuan opened #53338 "How many rules can be created in rule collection?"
Is there an upper limit on how many rules can be created in a rule collection?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6392b4a0-fa1e-fe5e-a31b-1eee48b860ef
* Version Independent ID: 551028da-b651-30ac-0e77-9ee5eebf6bb0
* Content: [Azure Firewall rule processing logic](https://docs.microsoft.com/en-us/azure/firew

[2020-04-26 14:39] SwathiDhanwada-MSFT commented on #53335
@akshit-srivastava Thanks for your comment. We will review the issue and get back to you.

[2020-04-26 14:40] SwathiDhanwada-MSFT commented on #53336
@AmitavaHazra  Thanks for your comment. We will review the issue and get back to you.

[2020-04-26 14:41] SwathiDhanwada-MSFT commented on #53337
@garima2510  Thanks for your comment. We will review the issue and get back to you.

[2020-04-26 14:42] SwathiDhanwada-MSFT commented on #53338
@RonnieQuan  Thanks for your comment. We will review the issue and get back to you.

[2020-04-26 15:23] memildin commented on #52775
Investigating. Thanks

[2020-04-26 15:24] shareonline commented on #51518
I must admit, the XML configuration is kind of a bummer.. I mean, i wanna spend my time coding great software, not using 40% of the time deep learning the identity framework. If that was what i wanted i would have learned to make my own secure identity framework instead..
This really needs to be adressed somehow. Auth0 and others have much better documentation around settings these things up.

[2020-04-26 15:39] harelbr commented on #16061
We have started the work for supporting this scenario, and will update once this is available.

[2020-04-26 16:12] SergeyVoskoboynikov opened #53339 "Unlock for download in Germany"
The app is available for download in China, but may not be downloaded in Germany. Please provide guidance for downloading for Android in Germany since Google Play Services are blocked.

### Screenshot 1
![Screenshot_20200426_175800_com huawei appmarket](https://user-images.githubusercontent.com/32773129/80313119-5b78e200-87e9-11ea-9301-fc16ea9b656e.jpg)

### Screenshot 2
![Screenshot_20200426_1758

[2020-04-26 16:27] sayanchakraborty2k18 opened #53341 "Partial failure in Authentication methods update"
I am trying to use this feature in my tenant and trying to enable it for a demo user, however, while updating the user authentication method getting the below error

Partial failure in Authentication methods Update
Unable to update phone methods for user demouser.

I have also noticed that the authentication method is getting saved successfully, however, the phone sign-in enabled confirmation is n

[2020-04-26 16:30] ck123pm commented on #43504
@evmimagina  This really help me a lot. This problem has been bothering me for many days and  I finally solved it.
Here is my **custom-dns** config:
[code]
More information could be found in https://coredns.io/plugins/rewrite/

[2020-04-26 17:16] etaham opened #53342 "Private Link Across Regions"
This document states that:
"Private Link service can be accessed from approved private endpoints in **the same region**. "

However, https://azure.microsoft.com/en-us/updates/azure-private-link-is-now-available-in-all-regions/ states you can connect endpoints in different regions. "Support for private endpoints to a remote custom Private Link service deployed in a different region"

---
#### Docum

[2020-04-26 17:17] BharathNimmala-MSFT commented on #52475
@JordanBurns27 Post validation with our internal teams it has been called out that it is a backlog item which team is evaluating to develop the automated recommendations via Azure Advisor for empty AppService plans , however we do not have a firm ETA yet for implementation.

In the interim, intelligent auto-scale rules and deleting unused resources (App service instances VMs etc) are possible mean

[2020-04-26 17:17] #52475 closed

[2020-04-26 17:28] Mike-Ubezzi-MSFT commented on #53329
@gmantri Please let us know if we can help you further with this issue.

[2020-04-26 17:39] Mike-Ubezzi-MSFT commented on #53339
@SergeyVoskoboynikov Thank you bringing this issue to our attention. In looking through the [Azure Germany security and identity services](https://docs.microsoft.com/en-us/azure/germany/germany-services-securityandidentity) I don't see the Authenticator app download, nor any reference for it. I am going to have a Security and Identity Engineer review this and update you on the availability of the

[2020-04-26 17:48] BharathNimmala-MSFT commented on #52872
@CtrlDot Apologies for delayed response on this.

eventHubAuthorizationRuleId is the Resource ID of the event hub authorization rule for the Event Hubs namespace in which the event hub should be created or streamed to. Below is an example of

`eventHubAuthorizationRuleId: /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxxx/resourceGroups/Analytics-Resources/providers/Microsoft.EventHub/namespaces

[2020-04-26 17:48] #52872 closed

[2020-04-26 17:49] Mike-Ubezzi-MSFT commented on #53341
@sayanchakraborty2k18 Thank you for making us aware of this issue. We are investigating this issue and will update you when we have information to share.

[2020-04-26 17:55] Mike-Ubezzi-MSFT commented on #53342
@etaham Thank you for making us aware of this documentation anomaly. I am going to have the networking service engineer evaluate this and work with the content team to have this updated as appropriate.

[2020-04-26 17:55] yuraje opened #53343 "Restore Hyperscale DB using SQL command via SSMS"
At present Azure Hyperscale doesn't support DB copy option.
Also I could see the DB restore from hyperscale back up Azure portal or PowerShell which requires manual effort or automation account to run PowerShell script.

I didn't find any way to restore the hyperscale DB from backup using SQL command, which will eliminate the dependency of manual or other service and help in restoring DB using nat

[2020-04-26 18:05] BharathNimmala-MSFT commented on #53165
@DanielJanik Thanks again for bringing this to our notice. I have raised the PR to fix the typo first, will also circle back with our Document Author @bwren to see if an example needs to be added. If yes, will work on that accordingly.

[2020-04-26 18:11] neubineshkuttan opened #53345 "Windows 2003 OS in Guest Virtual Machine"
After enabling nested virtualization in an Azure VM, can I configure Windows 2003 OS in Guest Virtual Machine?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ffa9c12-4fdc-118a-4e84-624cbcc3f4c8
* Version Independent ID: 6c5b1d1f-78a1-2c79-b37d-0367d76269da
* Content: [How to enable nested virtualization in Azure Virtu

[2020-04-26 18:16] Franlusan commented on #52462
This afternoon I have opened Cloud Shell and it works!!! I have not done anything after this morning. Very strange behaviour

[2020-04-26 19:07] BharathNimmala-MSFT commented on #53165
Adding @bwren for further review of the feedback on adding example in the document, if applicable have a work item to add it in the document.

@DanielJanik The document will reflect the changes later in the week once the PR is approved, for now will close this issue. However if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue the conversa

[2020-04-26 19:07] #53165 closed

[2020-04-26 19:17] gjbdebug opened #53346 ""Port 443 - synchronization with Azure AD" Section - last bullet possible incorrect?"
Last bullet reads, "Do not restrict outbound access from this port. [443]". Shouldn't it be "inbound access "*to* this port"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7013d117-4c2e-1b3e-0b67-d3eec67dc490
* Version Independent ID: c948be62-abef-57bb-232c-970ccfec504c
* Content: [Network planning and connections fo

[2020-04-26 19:18] MarileeTurscak-MSFT commented on #53346
@gjbdebug
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-26 19:28] MarileeTurscak-MSFT commented on #53346
I believe the bullet point is correct. If you block outbound traffic where the destination port is port 443, then most HTTPS connections will fail. Port 443 generally good to be open for outbound since SSL is opaque to outsiders.

I've passed your feedback along to the content author, @iainfoulds .

[2020-04-26 19:28] #53346 closed

[2020-04-26 19:28] baddaz365 opened #53347 "Premium License requirement"
Regarding the requirement for Azure Active Directory Premium P1 or P2 edition.  Is this for all users in the Active Directory or just the members of the Group assigned the App?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 163a1f88-c268-18aa-a1e6-89b4a11bfb01
* Version Independent ID: 1136a613-48f8-fb67-39d3-d9abdd351

[2020-04-26 20:06] gjbdebug commented on #53346
Thank you, but assuming that this there is outbound in addition to inbound calls to :443, then the bullet should be reworded to "Do not restrict inbound or outbound access to this port". In network terms, "from" means the source port; here we're talking only the dest. Otherwise we're suggesting TCP/HTTP *client* ports are 443, which would never be the case. @iainfoulds.

Ex:
HTTPS/TCP client:12345

[2020-04-26 20:11] ecfan commented on #53268
Hi @gretchunkim,

Based on the [SharePoint connector's reference topic](https://docs.microsoft.com/connectors/sharepointonline/), here are the supported versions:

- SharePoint Online
- On-premises: SharePoint 2013 and SharePoint 2016 through the [on-premises data gateway](https://docs.microsoft.com/azure/logic-apps/logic-apps-gateway-install)

[2020-04-26 20:12] #53268 closed

[2020-04-26 20:57] dhulme commented on #53227
Related to https://github.com/Azure/azure-sdk-for-js/issues/3729#issuecomment-619079211

[2020-04-26 21:09] BharathNimmala-MSFT commented on #53270
@sudoxue Thanks again for bringing this to our notice, i have raised a PR for review. Once its reviewed and approved the document will reflect accordingly. We will reach out to you if we need any further information. Thank you

[2020-04-26 21:20] BharathNimmala-MSFT commented on #52985
@jzuchora87 Thanks again for bringing this to our notice. Assigning this issue to our document author  @MGoedtel to further evaluate the feedback and reflect the document accordingly to support the recently added regions.

[2020-04-26 21:31] BharathNimmala-MSFT commented on #53019
@Samikouk Thanks again for your query.

@rayne-wiselman Can you please weigh in on this query and share any pointers you might have on this ?  Thank you.

[2020-04-26 21:52] #53259 closed

[2020-04-26 21:56] MatthewSteeples opened #53350 "Azure Batch"
It might be worth mentioning that these events are also available for Azure Batch nodes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ff57b63-a05d-2339-069d-de4c9749e2ae
* Version Independent ID: 2e4fd8b7-6057-07ad-d23a-bb73fd432f8a
* Content: [Scheduled Events for Windows VMs in Azure - Azure Windows Virtual Machine

[2020-04-26 22:07] NavtejSaini-MSFT commented on #53161
@j03Martin If there are no questions at this time we will go ahead and close this request. If you have any further question, please comment here and we will take this forward.

[2020-04-26 22:07] #53161 closed

[2020-04-26 22:09] Torxed commented on #8028
I'd like to point out, that incorrect `/etc/krb5.conf` in general can cause this.
if `[realms]` and `[domain_realm]` are incorrectly configured, the same generic error will appear.
`rdns=false` helps too, but this error is so insanely generic.

[2020-04-26 22:11] NavtejSaini-MSFT commented on #53087
@roofiq We are going ahead and closing this thread. Please let us know if you have any further question and we will try to resolve it.

[2020-04-26 22:11] #53087 closed

[2020-04-26 23:10] bendubuisson opened #53353 "Azure Container Instance restart trigger"
Azure Web App services have a way to trigger an app restart (and more importantly force it to re-pull the Docker image).
How would I go about restarting an app running in a container instance and force it to pull the latest image? The image lives in an Azure Container Registry if that matters at all? Maybe this could be the trigger?

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-04-26 23:40] marcelosilvaidp opened #53354 "Calendar Pre-Built Domain cannot be added in Brazilian Portuguese"
After click on Add Domain to add Calendar Pre Built Domain, I get the following error on the page: BadArgument: Character indicies 31,36 do not correspond to the start and end of a token.

The language os the app is Brazilian Portuguese.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bafdc370-47ff-4a63-2874-76516382149

[2020-04-27 00:53] jatinrai5 opened #53355 "Azure Databricks model deployment"
The document does a good job in explaining how to deploy a databricks model to Azure ML, but what it's missing is:

1) how to leverage the power of Databricks' spark clusters to run those models in real time. Running them on Azure ML/ ACS/ AKS doesn't use Databricks cluser

2) It just explains how to score the model but what if more processing is needed post or pre model scoring, how are those ste

[2020-04-27 00:58] CharmanderJieniJieni opened #53356 "MFA not available for pay-as-you-go subscription"
Hi, I am following this document to enable MFA for my pay-as-you-go subscription. I have enabled security default as instructed. When I go to Conditional Access tab under Azure AD -&gt; Security, the + policy option is greyed out. Just to confirm is MFA actually available in Free Tier?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-04-27 02:23] anchowd opened #53357 "Broken Link"
&gt; Introduction to Azure Security section that has "State of the art Data Center" the link is broken, navigates to a page not found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce94e95d-f2df-72de-66d0-56930547ee98
* Version Independent ID: 8d258a24-3bd7-dd4e-db41-9cfea8d077ee
* Content: [Introduction to Azure secu

[2020-04-27 02:39] andrewatfornax opened #53358 "More information needed"
This page is a terrific resource for defining what metrics are supported. However, it really does need more information (or links to more information) to define what the metrics actually mean.

While some metrics are obvious, others are not - for example, for Microsoft.Web/serverfarms resources, what does the TcpEstablished metric mean? Does this mean inbound established TCP connections? Or outbou

[2020-04-27 02:42] VikasPullagura-MSFT commented on #53343
@yuraje Thanks for your Question.
Can you please share the document you are referring to?

[2020-04-27 02:42] VikasPullagura-MSFT commented on #53353
@bendubuisson Thanks for your Question.
Can you please share the document you are following?

[2020-04-27 02:47] bendubuisson commented on #53353
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-overview

[2020-04-27 02:50] madhanan commented on #51271
@SaurabhSharma-MSFT - But in order to get that information you have to login with Connect-AzureAD and authenticate again.

Is it possible with a normal Connect-AzLogin - alone - Not sure if all users will have access to read the AD details ?

Thanks,
Madhanan

[2020-04-27 02:52] VikasPullagura-MSFT commented on #53350
@MatthewSteeples
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-27 02:52] VikasPullagura-MSFT commented on #53350
@mimckitt
Can you please check and add your comments on this doc update request as applicable.

[2020-04-27 02:55] AshokPeddakotla-MSFT commented on #52978
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-27 02:55] #52978 closed

[2020-04-27 03:06] Mike-Ubezzi-MSFT commented on #53354
@marcelosilvaidp Thank you for making us aware of this issue. We are currently investigating and will update you when we have more information to share.

[2020-04-27 03:15] Mike-Ubezzi-MSFT commented on #53345
@neubineshkuttan Thank you for bringing this to our attention. In performing a quick search, I found the following information: [Supported Windows Server guest operating systems](https://docs.microsoft.com/en-us/windows-server/virtualization/hyper-v/supported-windows-guest-operating-systems-for-hyper-v-on-windows#supported-windows-server-guest-operating-systems). I am going to have an engineer fro

[2020-04-27 03:19] Mike-Ubezzi-MSFT commented on #53355
@jatinrai5 Thank you for bringing this issue to our attention. We are reviewing your feedback and will update you when we have more information to share. Are you looking for feedback on the two points you have made, or are you suggesting a doc-enhancement to be made?

[2020-04-27 03:22] Mike-Ubezzi-MSFT commented on #53347
@baddaz365 Thank you for your inquiry. We are investigating and will update you when we have more information to share.

[2020-04-27 03:25] Mike-Ubezzi-MSFT commented on #53358
@andrewatfornax Thank you for bringing this to our attention. We are investigating to get you the information you are asking seeking clarification for.

[2020-04-27 03:31] SnehaAgrawal-MSFT commented on #52735
@ningweinw Could you please send an email to AzCommunity[at]Microsoft[dot]com referencing this issue, we would like to work closer with you on this matter.

[2020-04-27 03:31] #52735 closed

[2020-04-27 03:39] VikasPullagura-MSFT commented on #52923
@ezYakaEagle442 I discussed with doc author on updating this document. Author is checking on this doc update.
I am assigning the issue to content author.

[2020-04-27 03:42] Mike-Ubezzi-MSFT commented on #53343
@yuraje Azure SQL Hyperscale database backups are performed as storage snapshots and not as a single instance/pooled database backup is taken. Please see: [Backup and Restore for Hyperscale](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-service-tier-hyperscale#backup-and-restore)

Are you attempting to restore to the same Hyperscale instance or to a new instance?

[2020-04-27 03:45] MarileeTurscak-MSFT commented on #53357
@anchowd
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-27 03:48] MarileeTurscak-MSFT commented on #53357
Hi @anchowd ,

The link works just fine for me. If you're still seeing issues feel free to make a pull request to fix it.

Here is the correct link: https://azure.microsoft.com/en-us/global-infrastructure/

Thanks,

Marilee

CC: @unifycloud-llc

[2020-04-27 03:48] #53357 closed

[2020-04-27 03:52] v-nagta commented on #52465
@ilazorenko Application name updated to  Creatio, please review

#please-close

[2020-04-27 03:52] #52465 closed

[2020-04-27 03:54] MarileeTurscak-MSFT commented on #53356
Hi @CharmanderJieniJieni ,

Conditional access requires Premium P1 License so that is why that section is greyed out when you try to add the policy: https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/overview

MFA itself also requires per-user licensing and consumption-based licensing is no longer available. The licensing details and differences are described here: https://

[2020-04-27 03:54] SwathiDhanwada-MSFT commented on #53333
@viju2008  Thanks for sharing the documentation links. We will review the issue and get back to you.

[2020-04-27 03:55] MarileeTurscak-MSFT commented on #53356
Hope this helps! Closing this out but I would recommend speaking to your preferred licensing representative for detailed answers to licensing-related questions, or reaching out to Q&A. https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered

[2020-04-27 03:55] #53356 closed

[2020-04-27 03:55] MonikaReddy-MSFT commented on #53074
@gardnerjr , I'm going to assign this to the document author so they can update the document accordingly.

[2020-04-27 03:59] v-nagta commented on #52883
@JimmyLS We have updated the Doc as per your comments, please review

#please-close

[2020-04-27 03:59] #52883 closed

[2020-04-27 04:02] CHEEKATLAPRADEEP-MSFT commented on #53196
@mamccrea Could you please look into this issue?

[2020-04-27 04:03] CHEEKATLAPRADEEP-MSFT commented on #53201
@Exnav29  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureStreamAnalytics](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureStreamAnalytics)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for

[2020-04-27 04:03] #53201 closed

[2020-04-27 04:16] CHEEKATLAPRADEEP-MSFT commented on #53328
@pranayyt8  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDatabricks) or [StackOverflow](https://stackoverflow.com/questions/tagged/azure-databricks)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience f

[2020-04-27 04:16] #53328 closed

[2020-04-27 04:26] Y07yoyo opened #53359 "Cannot Build and Push solution with ARM64v8"
Hi,

I am trying to do this tutorial and upload it to my Jetson Nano device. It uses ARM64. I have read the tutorial and it says that VSCode only supports AMD64 and ARM32 at this point. However, when I create a new solution and select python module, I get an option for ARM64v8.
I have read this article: https://devblogs.microsoft.com/iotdev/develop-and-debug-arm64-iot-edge-modules-in-visual-studio

[2020-04-27 04:37] himanshusinha-msft commented on #52739
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-04-27 04:38] damendo commented on #50487
Added a note where the retention feature is mentioned.

[2020-04-27 05:00] srini1978 commented on #52763
@NavtejSaini-MSFT  I apology for the confusion but my question was on temporal tables support - https://docs.microsoft.com/en-us/azure/sql-database/sql-database-temporal-tables in Hyperscale database

[2020-04-27 05:04] shaunakv1 opened #53360 "Deploy fails with Rail projects"
Deployment fails for rails 6.x projects. This exact same issue was reported and then closed by someone on MSFT team without any resolution.  "Removing package.json" might work but it's not a real option in any non-hello-world app. Rails hosting in azure webapps is quite useless until either npm or yarn (ideally) both are supported.

The repo for ruby https://github.com/Azure-App-Service/ruby does

[2020-04-27 05:06] shaunakv1 commented on #48748
This is still an issue, as its closed here, I started a new thread.

[2020-04-27 05:13] damendo commented on #50488
Updated the note.

[2020-04-27 05:13] neeleshray-msft commented on #52991
@QuetzalcoatlRosso We will be closing this thread now. Let us know if you need further help.

[2020-04-27 05:13] #52991 closed

[2020-04-27 05:14] damendo commented on #50487
#please-close

[2020-04-27 05:14] #50487 closed

[2020-04-27 05:14] neeleshray-msft commented on #53103
@msmbaldwin Kindly look into the same.

[2020-04-27 05:15] neeleshray-msft commented on #53110
@jrabams We will be closing this thread now. Let us know if you need further help.

[2020-04-27 05:15] #53110 closed

[2020-04-27 05:16] damendo commented on #50488
#please-close

[2020-04-27 05:16] #50488 closed

[2020-04-27 05:24] SnehaAgrawal-MSFT commented on #53105
@DDFXulei just checking if you have chance to see previous response.

[2020-04-27 05:26] AjayKumar-MSFT commented on #52916
@BartVanBerkel, Apologies for the delay on this. While I'm checking on this internally with our product engineering team.
If my understanding is correct, you're intending to know if free App Service Managed Certificate can be leveraged for Application Gateway/ or certificate usage scenario specific to Application Gateway integration with Key Vault. Please let me know if I have misunderstood your q

[2020-04-27 05:32] PramodValavala-MSFT commented on #53192
@ecfan Thanks for helping out!

@uajvi Glad you were able to resolve your issue.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-27 05:32] #53192 closed

[2020-04-27 05:35] KrishnaG-MSFT commented on #53300
@darrenjoycenz Can you provide screenshot of your step(s) in Logic App? If you are trying to send email using connector like SMTP / SendGrid / Office365, etc. then in general those connectors doesn't directly accept dynamic content fields while creating the connection but accepts static content only.

[2020-04-27 05:36] PramodValavala-MSFT commented on #53204
@basilwong Yes. This is definitely possible. Depending on the programming language of your choice, there is likely a library that you could leverage and wrap into a Azure Function.

Also, this Azure Function can be exposed as a custom connector for use in your logic apps.

[2020-04-27 05:37] Rockjesse commented on #53008
Any update? @YutongTie-MSFT @VikasPullagura-MSFT
Is there anyone focus on this?

[2020-04-27 05:43] ram-msft commented on #52861
@bigdatamoore We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-27 05:43] #52861 closed

[2020-04-27 05:43] PramodValavala-MSFT commented on #53308
@SeaDude When running on Azure, App Settings can be configured from the Azure Portal. Refer [this doc](https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-use-azure-function-app-settings) for more information.

Do note that the blade is now called `Configuration` instead of `Application Settings`. Please feel free to open an issue on that doc to update it accordingly.

When run

[2020-04-27 05:45] erndob commented on #39856
Any news on this? Would be good to have a smaller range than "gets updated once a week". Does it mean that once a week the website just might go down from certain POP's, until some kind of script downloads the file, sees the changes, and updates the ip rules? How's that acceptable for anything in production?

Is there any better way for a website hosted on App Service, considering I'm using two ma

[2020-04-27 05:46] CHEEKATLAPRADEEP-MSFT commented on #53326
@ewotawa  As per the documentation, it is expected use as "`sentiment1(text)`" and not "`udf.sentiment1(text)`".

[code]

[2020-04-27 05:46] SumanthMarigowda-MSFT commented on #52752
@The PR request has been raised!
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-27 05:46] #52752 closed

[2020-04-27 05:48] SumanthMarigowda-MSFT commented on #52774
@RonnieQuan We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-27 05:48] #52774 closed

[2020-04-27 05:50] sharadrumane commented on #53146
@SQLSourabh i have refer the above article you provided. i am trying to register the DAC but i am getting below error:
Could not find stored procedure 'dbo.sp_sysdac_add_history_entry'. (Microsoft SQL Server, Error: 2812).

I am using SQL Server Version 15.0.2000.

[2020-04-27 05:50] neeleshray-msft commented on #53306
@jeevansd Could the link to email address be rectified asap in this **[section](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/cylanceprotect-tutorial#configure-cylanceprotect-sso)** ?

[2020-04-27 05:56] AjayKumar-MSFT commented on #53147
Jishan, We will close this out, but if you feel you need more information please just let us know. Thanks again for your feedback.

[2020-04-27 05:56] #53147 closed

[2020-04-27 05:56] jishansiddique commented on #53147
@AjayKumar-MSFT , Thanks for your reply.
Is this limit of 1000 fields in case of Basic subscription support on newer hardware can lift down to 100 fields in the future or not? Please confirm.

[2020-04-27 06:01] jishansiddique commented on #53147
@AjayKumar-MSFT , Thanks for your reply.
Is this limit of 1000 fields in case of Basic subscription support on newer hardware can lift down to 100 fields in the future or not? Please confirm.

[2020-04-27 06:01] SadiqhAhmed-MSFT commented on #53142
@dimilider Any update on this?

[2020-04-27 06:02] SnehaAgrawal-MSFT commented on #53234
@Madrawn Thanks again for the feedback! The previous one was an error. It's actually Windows that's supported for FileAudit and not Linux.
You may also refer to this blog for more info: https://ruslany.net/2020/01/how-to-monitor-azure-app-service-content-changes-and-publishing-activity/

[2020-04-27 06:04] BharathNimmala-MSFT commented on #52884
@andrewatfornax Thanks again for bringing this to our notice, i have raised a PR to add a note to the document, once the PR is reviewed and approved the document will reflect accordingly.

[2020-04-27 06:07] SadiqhAhmed-MSFT commented on #53358
@rboucher Could you please help clarifying the query and update the document as required?

[2020-04-27 06:12] vipulsparsh commented on #52920
@Tolle3000  Closing this thread for now. Do let us know if you have any more queries on this so that we can re-open this thread for you and help further.

[2020-04-27 06:12] #52920 closed

[2020-04-27 06:15] RobMcZagBDS commented on #52806
@wildky it feels better when you are not alone ;)

My current understanding is that in the pipeline you do not need any quoting for literal strings, i.e. just type it out the string you want in the box. :)

If you have both the Pipeline parameter and the data flow parameter of type String... I would expect that the parameter passing would succeed. From the message you posted I would point to diffe

[2020-04-27 06:17] souravmishra-msft commented on #53287
@hetaldesai, The current user doesnt have to be a Global Admin. The Global Admin of the Tenant can make the mentioned changes for that account to get you going. You can find the details of Global Admin of your tenant from here:

![image](https://user-images.githubusercontent.com/54057592/80339689-d3dcb300-887c-11ea-927e-c321ea3286bc.png)

Hope this helps. Feel free to reach out to me if you face a

[2020-04-27 06:20] souravmishra-msft commented on #53287
@hamzejammal, Thank you for reaching out. The issue you mentioned looks like it would need to be looked at over a screenshare. I would suggest you to give the support team a little more time for them to reach out to you.

[2020-04-27 06:24] SumanthMarigowda-MSFT commented on #53033
@pvdwerf Azure Files supports identity-based authentication over Server Message Block (SMB) through two types of Domain Services: Azure Active Directory Domain Services (Azure AD DS) and on-premises Active Directory Domain Services (AD DS) (preview). This article focuses on the newly introduced (preview) support of leveraging Active Directory Domain Service for authentication to Azure file shares.

[2020-04-27 06:24] #53033 closed

[2020-04-27 06:26] memildin commented on #51297
Hi @powersshell,

Thanks for the question.

There are plans for PowerShell/CLI options in the short-term but I can't commit to an exact date.

Template deployment for this is also in the backlog but will take some time to get to the Azure gallery.

There is currently a template for this that can be shared with customers to try. If you're interested, let me know. Alternatively, you can use a policy

[2020-04-27 06:26] #51297 closed

[2020-04-27 06:29] BharathNimmala-MSFT commented on #52714
@jwisener Apologies for delayed response. Please note that this channel is focused on driving improvements related to the Azure documentation. Will request you to please use[ feedback channel](https://feedback.azure.com/forums/913690-azure-monitor) to share this product feedback so that other community members can up vote the feedback which would help our team to prioritize the request accordingly

[2020-04-27 06:29] RobMcZagBDS commented on #52800
@djpmsft Hi Daniel,
even after your explanation I am not sure of how it should work.

As a software engineer I feel it is important to have clarity of how these mechanism work.

As the receiving end is Java/Scala I think that a Java like strong typed approach would be natural; this is more or less what I got from the doc and my experimentation.
Because the only common data type is string.. just al

[2020-04-27 06:35] dcbrown16 commented on #53143
@TravisCragg-MSFT I have been investigating these issues for quite a while (as you might recall from my other inquiries on this page). I had a recent case with the same question as this customer and received confirmation that it works as they are saying (you must block AzurePlatformDNS in order to block ANY DNS traffic, including custom DNS).

Here's the relevant excerpt from the Teams thread, whi

[2020-04-27 06:38] mandiaya commented on #5192
hi @jeevansd  we have the same error now. Our jira version is 8.5.1

[2020-04-27 06:38] likebupt commented on #53335
Hi @akshit-srivastava , Could you please clarify do you want to retrain the model with the updated dataset, or do you want to re-deploy the web service?

[2020-04-27 06:49] memildin commented on #52775
The agent is usually installed within 15 minutes.
If the Log Analytics agent onboarding requires a workspace to be provisioned, it might be a bit longer (~25 minutes). I've updated the page in question and the changes should go live within the next 12hrs.
#please-close

[2020-04-27 06:49] #52775 closed

[2020-04-27 06:52] saitejakothamasu commented on #52271
I tried commenting 'return' in chart-device-data.js as suggested in the issue #52495. It worked for the localhost but still not able to visualize the data from azure web app. Please comment to the earliest. Thank you

[2020-04-27 06:54] rajkumar-xilinx opened #53362 "Xilinx FPGAs on Azure?"
Do you support Xilinx FPGAs on Azure as well? If yes, can you include those details also in this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25565324-f64d-a8db-bc1c-e50956e6e878
* Version Independent ID: a6c9ffa3-c085-b4fc-7153-06adb8a50ce4
* Content: [What are FPGA - how to deploy - Azure Machine Learning](ht

[2020-04-27 07:05] blackchoey commented on #53359
You should build ARM64 image on ARM64 devices. You can refer following blog to build the image on a remote ARM64 device: https://devblogs.microsoft.com/iotdev/easily-build-and-debug-iot-edge-modules-on-your-remote-device-with-azure-iot-edge-for-vs-code-1-9-0/

[2020-04-27 07:07] AshokPeddakotla-MSFT commented on #52958
@ShreedharYashoda Per [this](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-sdks) document, you can use the IoT Device SDK on Raspberry Pi to send data to your Digital Twins instance. Unfortunately, we don't have a sample/example for your complete scenario.
I think this question would be better suited for [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-digital-tw

[2020-04-27 07:07] #52958 closed

[2020-04-27 07:07] Ogglas commented on #38914
+1, this should be fixed asap. Even if secret pipeline variables can be used for releases I would like to have a single source of truth. The secret pipeline variable value can not be viewed again after save so any way you put it the information needs to be stored somewhere else anyway.

[2020-04-27 07:13] BakkerJan opened #53363 "CURL output URL"
in order to get the URL, use (curl https://aka.ms/downloadazcopy-v10-windows -MaximumRedirection 0 -ErrorAction silentlycontinue).headers.location

instead of
(curl https://aka.ms/downloadazcopy-v10-windows -MaximumRedirection 0 -ErrorAction silentlycontinue).RawContent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15

[2020-04-27 07:15] djpugh opened #53364 "Provide clarification that AKSEndpoint option *requires* a version (different from the endpoint name) in the deployment config"
Can you provide a clarification in the docs that the AKSEndpoint deployment config *needs* a version_name that is different from the endpoint name, otherwise endpoint update calls etc. will fail (e.g. can't update the endpoint to enable/disable app insights, add auth) if a version name is not provided in the deployment config (I'd suggest that this is a bug in the code, but I'm not sure where to r

[2020-04-27 07:19] rsoni-git opened #53365 "No way to get Storage.Account.kind information from the output of Microsoft.Storage.StorageAccountSelector UI element"
There is no way to get the "Account Kind" information from the output. This is weird situation. StorageAccountSelector gives user option to choose "Account Kind" but does not provide any way for developer to create a handle for that selection.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b161d7f-ec0d-1a98-c3b6-be27c

[2020-04-27 07:23] nguyenlamlll commented on #53107
Amazing. Thank you!

[2020-04-27 07:24] Vincent0818 opened #53366 "Are you refereing internal standard SKU?"
Hi
In that diagram, it doesn't explicitly explain the default behavior of Internal standard LB, because it would not help SNAT outbound traffic, therefore, even having FW in place, it would not route traffic outside at all for internet traffic. Perhaps we could clarify it with external standard SKu or adding PIP at VMSS

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-04-27 07:53] dhulme commented on #53227
There's also `@azure/arm-notificationhubs` mentioned on https://docs.microsoft.com/en-us/javascript/api/overview/azure/notification-hubs?view=azure-node-latest

[2020-04-27 07:53] jamcguire commented on #53249
Hi there, I can confirm if I change the region to westus2 I experience the same failure scenario.

[2020-04-27 08:01] RohitMungi-MSFT commented on #52934
@jhagege We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-04-27 08:01] #53007 closed

[2020-04-27 08:03] #52934 closed

[2020-04-27 08:04] RohitMungi-MSFT commented on #53115
@leshaved We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-04-27 08:04] #53115 closed

[2020-04-27 08:17] kmrrakesh commented on #40056
Hi,

Whenever i run service proxy with RDP 3389, i always get error "System.Net.Sockets.SocketException (10013): An attempt was made to access a socket in a way forbidden by its access permissions."

[2020-04-27 08:17] SumanthMarigowda-MSFT commented on #53170
@mauleb Can you refer to this [article ](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-static-website) and let me know if you have any questions

[2020-04-27 08:28] amanmcse commented on #53238
@foramkumar-parekh Looking at the parameters, I can see that you have updated the MSA Technical Profile to federated your Azure AD Tenant with Azure AD B2C.

Please follow the instructions provided in below document for federating Azure AD (Single Tenant) with B2C:
https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-single-tenant-custom?tabs=app-reg-preview

I am

[2020-04-27 08:28] #53238 closed

[2020-04-27 08:30] ChiragMishra-MSFT commented on #52917
@kromerm Can you please take a look at this ?

[2020-04-27 08:34] andrewatfornax commented on #52884
PR LGTM, thanks.

[2020-04-27 08:35] jamcguire commented on #53249
I suspect it's this which is failing:

Onboarding the Azure Automation Update Management solution.

And if I navigate to the Automation Account -> Update Management and manually Enable it, the deployment fails with "CapacityReversationLevel must be in multiples of 100" although I can see in the ARM template that sky.CapacityReservationLevel is set to 100 by default, and in the Workspace overview P

[2020-04-27 08:50] bhuwan-agarwal commented on #53320
@KrishnaG-MSFT , thanks for the suggestion.

Here is the link, https://docs.microsoft.com/en-us/azure/developer/jenkins/azure-container-instances-as-jenkins-build-agent.
The instructions don't work as provided.

For some reason the link isn't even opening now (along with other azure jenkins link) throwing 404:

[code]

[2020-04-27 08:56] jamcguire commented on #53249
If I deploy the Log Analytics Workspace through the web interface, what I notice is that it asks me for the SKU which I select as "pergb2018" it then doesn't ask me for CapacityReservation or CapacityReservationLevel.  I can create the workspace without those parameters.  When I navigate to the Overview section of the workspace, under Pricing, I see pergb2018 with no mention of Capcity Reservation

[2020-04-27 08:57] amanmcse commented on #53330
@AmitavaHazra You can find the source code here: https://github.com/azure-ad-b2c/saml-sp-tester. I am updating the doc as well. This issue will be closed automatically during the merger.

[2020-04-27 09:02] foramkumar-parekh commented on #53238
https://jwt.ws/#error=server_error&error_description=AADB2C90037%3a+An+error+occurred+while+processing+the+request.+Please+contact+administrator+of+the+site+you+are+trying+to+access.%0d%0aCorrelation+ID%3a+05e56482-19a9-4fcb-b8ba-ed335fb74b2e%0d%0aTimestamp%3a+2020-04-27+08%3a49%3a09Z%0d%0a

After doing the quick needed changes, I am getting above url as the error.

Please find below the Updated C

[2020-04-27 09:04] msftpetergu opened #53368 "Install the Az.Maintenance module first"
Install-Module -Name Az.Maintenance -AllowPrerelease

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ec25268-9328-a3bb-829e-4c614889a838
* Version Independent ID: 3619669f-4685-fc24-f298-bc192578cf18
* Content: [Maintenance control for Azure virtual machines using PowerShell - Azure Virtual Machines](https://docs.micro

[2020-04-27 09:05] PoorviSrivastavaGit commented on #51931
@supmn084
You can use the latest downloadable from
https://www.microsoft.com/en-us/download/details.aspx?id=57520

The recent issue you noticed should not occur anymore.

[2020-04-27 09:07] deyanp opened #53369 "Individual Availability Tests in the dashboard not possible (vs. Overall)?"
Isn't it possible to display individual availability tests in the Dashboard, below the diagram?

I see Name and RunLocation properties are set, so why would the availability result be merged into the "Overall" and not displayed separately?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6be60b15-5e41-4a0f-41a2-a592afc4f

[2020-04-27 09:17] raunakjhawar opened #53370 "Authenticate GCS (google cloud storage) using service account"
Option to authenticate GCS using service accounts in addition to HMAC keys.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 521d3279-cc0e-d002-c0d6-2cd367322fde
* Version Independent ID: 06f8d134-ce4f-1667-bf37-bf9359a09ad0
* Content: [Copy data from Google Cloud Storage using Azure Data Factory - Azure Data Factory](ht

[2020-04-27 09:33] VikasPullagura-MSFT commented on #53366
@Vincent0818
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-27 09:33] VikasPullagura-MSFT commented on #53366
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-04-27 09:33] kanumuru commented on #50038
Hi
When I created the device with X509, I will pass SHA fingerprint, In which I will not get any primary or secondary key

[2020-04-27 09:53] AshokPeddakotla-MSFT commented on #53359
@Y07yoyo Thanks for the feedback! please check the suggestions provided by @blackchoey and let us know if you have further queries.

[2020-04-27 09:54] SumanthMarigowda-MSFT commented on #53314
@Jawvig Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-27 09:56] SumanthMarigowda-MSFT commented on #53236
@patrickjlee Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-27 10:03] VikasPullagura-MSFT commented on #53368
@msftpetergu Thanks for the Feedback.
I am checking with doc author on this and will update back on the issue.

[2020-04-27 10:08] wouterdevinck commented on #53216
Would it be correct to conclude that [GetLocalizedStringsTransformation](https://docs.microsoft.com/en-us/azure/active-directory-b2c/string-transformations#getlocalizedstringstransformation) can **only** be used as an InputClaimTransformation on a SelfAsserted Technical Profile? If you try to use it from a RESTful Technical Profile (used as a Validation TP on that same SelfAsserted TP), it seems t

[2020-04-27 10:10] lucazav opened #53371 "The page seems a step-by-step one but it isn't!"
This page is misleading in the sense that it seems a step-by-step tutorial at the beginning.
maybe it's better to specify it isn't a step-by-step page, linking the following page as a tutorial:
https://github.com/Azure/MachineLearningNotebooks/tree/master/how-to-use-azureml/machine-learning-pipelines

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-04-27 10:18] amanmcse commented on #53238
@foramkumar-parekh Did you make any changes in the objectId claim? In the backend, I can see that it is failing with error `Claim with id 'objectId' was not found in the collection.`

Please check if below parameters are present in your base file:

[code]

[code]

[2020-04-27 10:20] RohitMungi-MSFT commented on #53362
@rajkumar-xilinx Thanks for the question. Deploying to FPGA's on Azure ML is available [here](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-fpga-web-service)

[2020-04-27 10:21] lendy007 opened #53372 "AADSTS7500514 missing in list"
AADSTS7500514: A supported type of SAML response was not found. The supported response types are 'Response' (in XML namespace 'urn:oasis:names:tc:SAML:2.0:protocol') or 'Assertion' (in XML namespace 'urn:oasis:names:tc:SAML:2.0:assertion').

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a826ee6f-f457-7109-9f77-67c57977

[2020-04-27 10:24] RohitMungi-MSFT commented on #53364
@djpugh Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-27 10:25] rajkumar-xilinx commented on #53362
Hi Rohit, as it was mentioned in the page that you shared.

FPGAs on Azure supports:
Image classification and recognition scenarios
TensorFlow deployment (requires Tensorflow 1.x)
Intel FPGA hardware

So, my query is here that does Azure supports Xilinx FPGAs as well?

[2020-04-27 10:25] ram-msft commented on #53122
@stawo We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-27 10:25] #53122 closed

[2020-04-27 10:27] deyanp opened #53373 "Why Private Link support only for dedicated tier?"
Why is Private Link only supported for dedicated tier and not the standard tier which is usually used? Other PaaS services (e.g. Key Vault) do not have such a restriction ...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af3fdefa-e5ff-1b50-00c1-eacfb11e4cce
* Version Independent ID: 352e6205-2d53-c3cb-ec7a-7b65a32a980

[2020-04-27 10:30] foramkumar-parekh commented on #53238
@amanmcse I can see that the mentioned ClaimType and TechnicalProfile are as mentioned.

[2020-04-27 10:33] SwathiDhanwada-MSFT commented on #53213
@jiasli Thanks for analysis and valuable feedback.

@rolyon Can you please review the issue and update the document accordingly?

[2020-04-27 10:39] dominicbetts commented on #52632
Hi @dbartz - thanks for getting in touch. The industrial IoT documentation is currently being updated. Apologies if things are difficult to find at the moment - we're working on it.
Dominic

[2020-04-27 10:39] dominicbetts commented on #52632
#please-close

[2020-04-27 10:39] #52632 closed

[2020-04-27 10:45] BhargaviAnnadevara-MSFT commented on #53369
@deyanp Thanks for the question! We're investigating this and will get back to you shortly.

[2020-04-27 10:52] MaWa19 commented on #30898
Then what's the point of passing that access_token anyway?

Even the build-in flow (SignUpSignInv2) is now returning some random string for claim "idp_access_token". In my use-case Azure AD ist the IDP behind B2C and I need to get the user's initial (Azure AD) objectId. Any suggestions how to achieve this?

[2020-04-27 10:57] tudorfil9 commented on #51971
Hello, any updates on deployment procedures for Rules Engine 4.0 ? Thank you, Tudor Fil

[2020-04-27 11:02] ChiragMishra-MSFT commented on #53075
@djpmsft Can you please look at this discrepancy?

[2020-04-27 11:06] ElliotWood commented on #51847
Yes, tested both requests with the valid Azure Maps account primary key in both requests. For both of my test services(original and recreated one ) had same issue. As originally stated following the instructions but changing async seemed to allow the request to work.

[2020-04-27 11:08] KrishnaG-MSFT commented on #53302
@GinoLock AFAIK there is a way to see Security events from on-premises Windows and the way is using Security & Audit solution that's included in standard tier of Azure Security Center. Let me double check with the team internally and confirm you if there are any latest updates / changes.

[2020-04-27 11:11] SubhashVasarapu-MSFT commented on #52626
@dcbrown16 , Appreciate your patience and thanks for your feedback. I have worked on this setup an gave a writeup in my blogs. you can refer this [source](https://medium.com/@subhashvasarapu/connect-azure-point-to-site-vpn-to-android-device-4200579e7acb) meanwhile we will work with author in adding this setup to our docs.
We are closing this issue for now. If there are further questions regarding

[2020-04-27 11:11] #52626 closed

[2020-04-27 11:20] SwathiDhanwada-MSFT commented on #53297
@jthoni-MSFT  Just checking if you had chance to check my previous comment.

[2020-04-27 11:26] balukantu opened #53374 "Partition Strategy for the small containers"
Hi Team,

I have a WebAPI project with SQL Server and planning to switch to CosmosDb. The code changes are completed and planning to migrate the data from SQL Server to CosmosDB.

As the partitioning plays an efficient role in RU usage, jut wanted to check what is the best partition strategy for small collections ( 1000 -2000 records.)

#1 - Migrate all records into a single partition
#2-  Migrate

[2020-04-27 11:28] nwipfli opened #53375 "Cluster creation fails with status code 400"
After following all the steps in this document while being a Global Admin for the tenant, the cluster creation command (az aks create) fails with the following error:

Operation failed with status: 'Bad Request'. Details: The credentials in ServicePrincipalProfile were invalid. Please see https://aka.ms/aks-sp-help for more details. (Details: adal: Refresh request failed. Status Code = '400'. Resp

[2020-04-27 11:30] amanmcse commented on #52535
@sgdesmet  During the orchestration step execution, Session claims will be available for subsequent steps.

[2020-04-27 11:37] ii-batman opened #53376 "Powershell script to email LegacyAuth"
Hi
I want to monitor and catch my Legacy Auth clients and users.
I am trying to setup a Powershell script to email me a report:
Get-AzureADAuditSignInLogs | Where-Object {($_.clientappused -cnotcontains "Mobile Apps and Desktop clients" -or "Browser")}  | select clientappused | OGV

This does not quite catch all but ModernAuth - it will either catch all but Browser or all but Modern... is there a

[2020-04-27 11:38] XristophD opened #53377 "Azure Backup - Permission on Encryption Keys"
Paragraph "Provide Permissions" reads:
"**Azure VM** needs read-only access to back up the keys and secrets, along with the associated VMs."
but should be
"**Azure Backup** needs read-only access to back up the keys and secrets, along with the associated VMs."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54252e63-be5

[2020-04-27 11:41] ezYakaEagle442 opened #53378 "AAD Tenant-admin required or not when using AAD integration v2 ?"
The doc states "Azure AD integration with AKS v2 is designed to simplify the Azure AD integration with AKS v1 experience, where users were required to create a client app, a server app, and required the Azure AD tenant to grant Directory Read permissions".

But could you please clarify explaining explicitly if it is still required to be AAD Tenant-admin when using AAD integration v2 ?

---
#### Do

[2020-04-27 11:43] souravmishra-msft commented on #53376
@ii-batman, Thank you for reaching out. i am looking into this and will get back to you in sometime.

[2020-04-27 11:47] RohitMungi-MSFT commented on #53333
@viju2008 I think the best use case for your scenario is to integrate LUIS with speech SDK to recognize names which has pre-built entities(names, places, calendar..etc) that can be added to the LUIS application to recognize names and it can be trained to recognize custom entities which can be your closed group of names. LUIS is also available to test as a standalone from luis.ai where you can type

[2020-04-27 11:52] dcurwin commented on #53377
#assign:dcurwin

[2020-04-27 11:52] dcurwin commented on #53377
Thank you for noticing that. The text has been corrected.

#please-close

[2020-04-27 11:52] #53377 closed

[2020-04-27 11:58] BertV1 commented on #31321
Hello same problem here. Followed the steps SaurabhSharma-MSFT outlined but no luck. Windows firewall itself is logging the events but they do not show up in Sentinel.
Thanks for looking into this.

[2020-04-27 11:59] souravmishra-msft commented on #52914
@thomasdc, Ideally, when block sign-in is set to **yes**, **accountEnabled** becomes **false**.

Do let us know if there are any more queries around this. Closing this thread for now.

[2020-04-27 11:59] #52914 closed

[2020-04-27 12:03] RohitMungi-MSFT commented on #53354
@marcelosilvaidp Thanks for pointing this out. The error can be replicated and we are checking with our product group to report the same.

[2020-04-27 12:08] JasSuri commented on #52185
We are looking to update the doc with these extra steps.

[2020-04-27 12:13] CHEEKATLAPRADEEP-MSFT commented on #53191
@xyz92
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-27 12:13] #53191 closed

[2020-04-27 12:22] Rodrigossz opened #53380 "Outdated Page"
This page is the first one returned when you search  for Cosmos DB Python SDK in Bing. So, probably we will see a lot of people using V3 instead of V4. Can you update it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f09cf24a-d276-8afc-f5d2-2406185cadfc
* Version Independent ID: 926eeac4-2776-2d7c-b05e-250b982d0ef1
*

[2020-04-27 12:25] KrishnaG-MSFT commented on #53018
At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are any questions / feedback regarding referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-04-27 12:40] akshit-srivastava commented on #53335
Hi @likebupt, Yes, I need to retrain the  model every time with the new dataset.
This dataset is being obtained from a third party app using REST web service.

[2020-04-27 12:46] neeleshray-msft commented on #53129
@anthonymsanders You can check about the Password Complexity and Regulations on this **[document](https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-sspr-policy)**. Other than that, the key or cipher, these are Microsoft Confidential and can not be shared on Open Forums.

We would be closing this thread now. Let us know if you have further questions.

[2020-04-27 12:46] #53129 closed

[2020-04-27 12:46] kevin-jing opened #53381 "The doc only shows the web run on local, how to deploy it to Azure App Service?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee46492b-ac24-eecf-7fcf-dcc05dbbd530
* Version Independent ID: 3b9a7920-899a-c0ae-9db1-be47015736b1
* Content: [Add OIDC sign in to a Node.js Web app - Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-directory/develop/quicks

[2020-04-27 12:49] neeleshray-msft commented on #53187
@MicrosoftGuyJFlo  We are getting similar experience on our end too. Could the document be updated ?

[2020-04-27 12:51] FlorianBorn71 commented on #52292
Glad to hear you got a version of showcase working!
Regarding the spurious failure while trying to copy an (existing!) file, I asked my co-workers. Some seem to have seen this as well and they mentioned they had to clear out the Unity project (git clean -f -x -d, git reset --hard) and reload the project completely.
If that does not help, others were seeing issues with Windows defender settings. Th

[2020-04-27 12:51] DDFXulei commented on #53105
Thanks for your answer and helped me solve the problem.

[2020-04-27 12:51] #53105 closed

[2020-04-27 12:53] neeleshray-msft commented on #53317
@jolenam If you are not the creator of the Application, you must also have the **[Application Administrator](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles#application-administrator)** role assigned to yourself to make the changes.

Let us know if you have further questions.

[2020-04-27 12:53] femsulu commented on #52975
Hi @dgancho - We are reviewing your logs with the feature owner and should have an update soon.
You mentioned above that the installation files are deleted from C:\Program Files.
Can you confirm if the configuraiton files are also deleted from %ProgramData%?
By default, the agent binaries and configuration files are installed in both locations.
![image](https://user-images.githubusercontent.com/34

[2020-04-27 12:53] alastairtree opened #53382 "Document what happens to managed identity during a swap"
In the "What happens during a swap" section of the page it is ambiguous what happens to an application that uses the Managed Identity app service feature during a slot swap.

Please add Managed Identity to either the "Settings that are swapped" list or "Settings that aren't swapped" list.

This is useful because during app start apps may use managed identity to call out to other services such as K

[2020-04-27 12:55] aanexplus opened #53383 "Issue with Joints"
When I run the code for body tracking, I got 26 joints instead of 32 joints. Everything seems fine when I was recording the data because I used window3d. I do not know how to interpret the 26 joints because I do not know which belong to which. Why am I getting 26 positions instead of 32? Below is my code for recording the joint position:

                    if (body.skeleton.joints[joint].confide

[2020-04-27 12:55] neeleshray-msft commented on #53176
@msmimart Could this be mentioned on the document ?

[2020-04-27 13:00] kumarg25 opened #53384 "Command Not working as expected"
Trying to create the Azure File Share.
I am able to export the connection string however, when I run the command to create the file share, it gives below error:-

root@mytestvm:~# export AZURE_STORAGE_CONNECTION_STRING=$(az storage account show-connection-string -n $AKS_PERS_STORAGE_ACCOUNT_NAME -g $AKS_PERS_RESOURCE_GROUP -o tsv)
root@mytestvm:~# az storage share create -n $AKS_PERS_SHARE_NAME --

[2020-04-27 13:07] bgvladedivac commented on #33157
@SubhashVasarapu-MSFT is there a way to list potential blockers why such inconsistent is happening ? May be the root cause/limitation.

It would be even better if we get what's the current status wit the fix.

[2020-04-27 13:10] omarine opened #53386 "iotedge workload on ask (windows server node)"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-04-27 13:11] #53386 closed

[2020-04-27 13:15] VikasPullagura-MSFT commented on #53353
@bendubuisson To pull the latest image from ACR you need to restart the container instances.

However, you can consider to do this with ACR webhooks. Please check this trigger actions in this [document](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-webhook).
Once the new image is pushed to ACR, it will notify the webhook.  Then webhook can take action to restart the

[2020-04-27 13:15] amitkumarshukla commented on #52552
Currently we do not support compressed format for python. This is there in the plan. Please check https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/releasenotes for the future release.

[2020-04-27 13:16] omarine opened #53387 "iotedge workload on aks(windows server node)"
Hello,

I was trying to install Iotedge on ask following the link https://microsoft.github.io/iotedge-k8s-doc/examples/helloworld.html

i am wondering if you suppOrt iotedge on windows  node(aks)

![image](https://user-images.githubusercontent.com/13197345/80376326-f204dc00-8899-11ea-8a17-69a0f1e8d754.png)

[2020-04-27 13:18] manojkrishs opened #53388 "Azure IoT Device Work Bench Examples Are Not Present - 404 Response"
The Get started kit anand many other examples are not available, when we attempted to open those examples. We are getting 404 response on those examples. The Get Started Kit.
https://github.com/Microsoft/vscode-iot-workbench/blob/master/docs/iot-devkit/devkit-get-started.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-04-27 13:19] hamzejammal commented on #53287
@souravmishra-msft, Thank you for your prompt response, my issue has been solved after  the intervention of MS data protection team,

[2020-04-27 13:21] femsulu commented on #52844
PG owner engaged. Awaiting response.

[2020-04-27 13:22] powersshell commented on #51297
I am interested in a template to try. Can you send that to me?

[2020-04-27 13:31] RohitMungi-MSFT commented on #53364
@jpe316 Is this [example ](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-azure-kubernetes-service#web-service-authentication)missing a version_name parameter in the deployment configuration.

It looks like for a controlled rollout(preview) scenario we are using version_name for adding new versions but the examples in the deployment_config for authentication are not using th

[2020-04-27 13:32] beeblebrx opened #53389 "Deployment is not a subgroup of az"
I think Azure CLI examples on this page are incorrect: it should be
az group deployment ...

not
az deployment group

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3076c5fc-7226-9aee-40e1-e75e5d1cbeb8
* Version Independent ID: 211d9b84-c796-4628-c801-f24e5c21cb68
* Content: [Tutorial - add parameters to template - Azur

[2020-04-27 13:32] SnehaAgrawal-MSFT commented on #53360
@shaunakv1 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-27 13:33] SnehaAgrawal-MSFT commented on #53382
@alastairtree Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-27 13:34] hetaldesai commented on #53287
@souravmishra-msft i no longer have account setup in Microsoft Authentication app so i can not get in to the account to set anything.

[2020-04-27 13:34] artsheiko commented on #52552
Ok, thank you !
#please-close

[2020-04-27 13:34] #52552 closed

[2020-04-27 13:35] VikasPullagura-MSFT commented on #53363
@BakkerJan
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-27 13:38] #53370 closed

[2020-04-27 13:38] VikasPullagura-MSFT commented on #53365
@rsoni-git
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-27 13:39] ChiragMishra-MSFT commented on #53373
@deyanp Thanks for reaching out. We are actively investigating into the issue and will get back to you shortly.

[2020-04-27 13:41] KrishnaG-MSFT commented on #53389
@beeblebrx Thanks for your comment! We will review and provide an update as appropriate.

[2020-04-27 13:42] amanmcse commented on #53336
@AmitavaHazra This is Salesforce side error. You need to use SAML Assertion Validator in Salesforce to check why Salesforce is rejecting the sign-in request.

[2020-04-27 13:42] #53336 closed

[2020-04-27 13:42] mikemowgli commented on #53018
Ok but this does not fully answer my question: if I should use "saved queries" instead of "saved searches", how should I use the Azure CLI to save a query? I was able to run a query against log analytics using (provided that I install the extension with `az extension add --name log-analytics`) :
`az monitor log-analytics query -w <my_workspace_id> --analytics-query <my_query>`
but this does not sa

[2020-04-27 13:47] mumian commented on #53389
@beeblebrx - The command has been updated in the latest version.  There is a note on top of the sample saying "To run this deployment command, you must have the latest version of Azure CLI."  Please install the latest Azure CLI and give it another try.

#please-close

[2020-04-27 13:47] #53389 closed

[2020-04-27 13:52] amanmcse commented on #53238
@foramkumar-parekh Please check if **AAD-UserWriteUsingAlternativeSecurityId** and **AAD-UserReadUsingAlternativeSecurityId** have below output claim:

`<OutputClaim ClaimTypeReferenceId="objectId" />`

[2020-04-27 13:56] MGoedtel commented on #52985
@jzuchora87 - The team is working on supporting other regions, however I don't have any details or ETA at this time.  Once we have something to share it will be announced and the article will be updated to reflect the additional regions supported.  Thanks.  #please-close

[2020-04-27 13:56] #52985 closed

[2020-04-27 13:58] v-miegge commented on #53281
Waiting on Content Idea request from ms.author to begin update.

[2020-04-27 13:59] djpugh commented on #53364
@RohitMungi-MSFT - it's in there correctly in the example, but the default deployment config doesn't require one I believe (or at least it allows the same name as the service name, which leads to issues with e.g. update calls)

[2020-04-27 14:01] KingDrewcifer commented on #52752
Why is this closed? The address still doesn't work. 😢

[2020-04-27 14:03] VikasPullagura-MSFT commented on #53372
@lendy007 Thanks for the Feedback.
Can you please share the,ink of document you re referring to.

[2020-04-27 14:04] foramkumar-parekh commented on #53238
@amanmcse  yes both have the mentioned information.

[2020-04-27 14:07] MGoedtel commented on #53302
@GinoLock - Collection of security events from your Windows VMs or physical Windows systems is provided with [Azure Security Center](https://docs.microsoft.com/en-us/azure/security-center/security-center-enable-data-collection) or [Azure Sentinel](https://docs.microsoft.com/en-us/azure/sentinel/overview) depending on your requirements.

[2020-04-27 14:08] mlearned commented on #53378
@TomGeske

[2020-04-27 14:11] dcvtruong opened #53390 "Azure VPN Client support for MacOS"
Is the Azure VPN client support for MacOS or plan to support the MacOS? Timeline? This would be great for Mac user&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9ef898a-0b72-e018-8a3d-6f14f62e1119
* Version Independent ID: b62b5b8f-bc88-0868-a2f6-1020a5097460
* Content: [VPN Gateway: VPN client for OpenVPN protoc

[2020-04-27 14:14] supmn084 commented on #51931
Thank you! I've confirmed this resolved my issue with reporting services on a fresh install.

[2020-04-27 14:14] #51931 closed

[2020-04-27 14:15] dcvtruong opened #53391 "Mac clients support"
This will only work if the VPN gateway authentication type is azure certificate and not AAD.  It would be great if the AAD authentication client profile include OpenVPN config for AAD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f36e0264-e439-92d2-7862-096c3fffe2a8
* Version Independent ID: 010d36f4-897e-6435-3f97-c

[2020-04-27 14:17] jwisener commented on #44467
Agreed!

[2020-04-27 14:18] sukh-ava commented on #51184
I am also getting similar error. Works perfectly with aadroles . However doesnt work with azureresources.
Get-AzureADMSPrivilegedRoleAssignment : Error occurred while executing GetAzureADMSPrivilegedRoleAssignments
Code: UnknownError
Message:
InnerError:
  RequestId: fc677aa0-bd03-4de7-a7f1-31e59a1e6b77
  DateTimeStamp: Mon, 27 Apr 2020 14:10:30 GMT
HttpStatusCode: Forbidden
HttpStatusDescription:

[2020-04-27 14:23] TomGeske commented on #53378
@ezYakaEagle442: For AADv2 you don't need to be AAD tenant admin. What error message did you receive?

[2020-04-27 14:23] ChiragMishra-MSFT commented on #53093
@NowinskiK The DependsOn property does exist as shown highlighted below :
![image](https://user-images.githubusercontent.com/43365826/80383018-aade1180-88c0-11ea-8b17-d308cdafbd03.png)

You just need to make sure that your variable in which you store the trigger, has the right value.

I am closing the issue now. Feel free to still comment if you have any queries on the same.

[2020-04-27 14:26] AfroDigital opened #53392 "i cannot login to my MS portal since i no longer have my phone and MFA app."
option i get

Approve a request on my Microsoft Authenticator app.
Use a verification code from my mobile app.
dont work for me since i do not have the app any more.
Please Help--
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 276c38fe-aa72-6afa-23d8-14ff206c6f50
* Version Independent ID: 9ffe59dd-c667-4802-1da0-6917638804c

[2020-04-27 14:29] tudort-iquest opened #53393 "No updated content for Azure Storage v12 library"
It would be useful to have a version for all Blob Storage / HowTo pages, with code examples updated for the current v12 library (currently all examples are for the old version, v11 and before)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56e156ed-3f4c-ce74-1791-c2a8ebfe4a99
* Version Independent ID: da4df3e4-2124-009

[2020-04-27 14:30] ChiragMishra-MSFT commented on #53172
@cp-bwg You can copy data using this connector to any of the supported data stores. Hence, based on your convenience, you can choose the sink dataset.

You can use the mapping tab in your copy activity to define the mapping for each column/attribute in the sink. Here's an example of how you can define the mapping from source to sink dataset :

![mapping of json file](https://user-images.githubuser

[2020-04-27 14:33] roshinirevindranathan commented on #45485
What is the amendment needed to create an aks cluser with a specific VM type in the following?
az aks create \
    --resource-group myResourceGroup \
    --name myAKSCluster \
    --node-count 2 \
    --generate-ssh-keys \
    --attach-acr <acrName>
Because I receive the following error -- "Details: The VM size of AgentPoolProfile:nodepool1 is not allowed in your subscription in location 'southeas

[2020-04-27 14:34] AmitavaHazra commented on #53336
@amanmcse, Thanks for your reply. I guess single sign on option will not be available if we use a developer account for lab purpose.
though I can see doc about SAML assertion validator but could not find anything related to single sign on  my Salesforce domain.
If we follow this doc for lab purpose I guess we will not have feasibility to work on this SAML assertion validator.

It would be good if

[2020-04-27 14:34] taguada commented on #21407
Do you happen to know if ACI is now support peering connection? I still have issue when trying to connect to ACI in the subnet from another VNET.

[2020-04-27 14:37] wildky commented on #52806
@RobMcZagBDS We figured it out with a little bit more testing of various cases. It is oh so simple in the end, as you describe, but it was a surprisingly confusing journey to get there

@kromerm One of the largest sources of confusion for my team was the lack of documentation about the "Expression" check box when passing a parameter from pipeline to data flow via a mapping data flow activity. We c

[2020-04-27 14:44] artisticcheese opened #53394 "What is source of recommendations?"
I assumed that source for recommendation is Azure Security Center Initiative assigned to subscription but in practice some of entries under Recommendations do not appear to be assigned through Initiative. Example is below "An activity log alert should exist for specific Policy operations". It's not part of ASC initiative and requires selection from list of allowed values from Array while ASC initi

[2020-04-27 14:47] amanmcse commented on #53336
@AmitavaHazra I have my B2C tenant configured with free Salesforce developer instance as per this document (https://aka.ms/amansib2c) and it works fine for me.
SAML Assertion Validator is available under Identity > Single Sign-On Settings in Salesforce free developer account for me.

[2020-04-27 14:48] #53190 closed

[2020-04-27 14:52] #53330 closed

[2020-04-27 14:54] srasp opened #53395 "Information about nested XSLTs missing"
Hi,
I am missing the information about nested XML stylesheets. If it is possible to include (xsl:import/xsl:include) a XSLT/map in another XSLT/map.

Thank you
Seb

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f1ba474-6bff-129d-337e-a83c35bdfc8e
* Version Independent ID: fdb757f3-892e-9517-df5c-a8dd7cc35825
* Content

[2020-04-27 14:55] lshade commented on #52852
Thanks @BharathNimmala-MSFT any updates on this?

[2020-04-27 14:55] SwathiDhanwada-MSFT commented on #53190
Thanks for your valuable feedback. We have updated the document and the changes should reflect soon. We will close the issue for now. If you have further questions, kindly revert.

[2020-04-27 14:56] GiftA-MSFT commented on #53371
@lucazav we will review your feedback and get back to you shortly. Thanks.

[2020-04-27 14:56] VikasPullagura-MSFT commented on #53378
@ezYakaEagle442 Thanks for your Query.
As Thomas mentioned, you don't need to be AAD tenant admin for AADv2.
So, are you looking for more content to the document clarifying this OR you ran into any issues trying this?

[2020-04-27 14:59] craigeaw opened #53397 "Randomly occurring error: Resource group '<RG-name>' could not be found."
We keep randomly getting the error "Resource group '<RG-name>' could not be found" when running our runbooks. These runbooks are either running in that resource group, or have selected the subscription where that resource group resides. The RunAs account also has Contributor permissions on the resource group(s). This is happening in runbooks that we run daily. Sometimes we get the error and someti

[2020-04-27 15:01] VikasPullagura-MSFT commented on #53374
@balukantu Thanks for your Question.
Can you please share the URL of the document that you are following?
That way, we are able to make sure your query is addressed by the right team.

[2020-04-27 15:02] rimoore commented on #37610
This is a non answer. How exactly are you supposed to set this up for all supported OS types?

[2020-04-27 15:03] ArvindHarinder1 commented on #52938
@tajaber I've added it. Thanks for the feedback. #please-close

[2020-04-27 15:03] #52938 closed

[2020-04-27 15:04] MGoedtel commented on #53249
When creating a workspace in the portal, those options are specified after creating the workspace and this is noted in the UX on the Pricing tier page.  The ARM template supports specifying those properties during workspace creation, which inconsistent with the UX onboarding experience.  This is referenced in the article [here](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/template

[2020-04-27 15:06] mumian commented on #52366
#please-close

[2020-04-27 15:09] MGoedtel commented on #53302
@KrishnaG-MSFT - This isn't a doc issue so please close when you've completed the follow-up response to GinoLock.  Thanks.

[2020-04-27 15:11] KrishnaG-MSFT commented on #53302
@MGoedtel Sure. Thanks for the response. 😊

[2020-04-27 15:14] MScarno opened #53398 "Specify that this PS module is not officially supported"
This module is not part of the Azure SDK github repo and is not officially supported. Would be great to have a clear statement of this in this documentation or to have this documentation removed/migrated to the PS Module github repo.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1093baf6-b6b6-52f7-5268-697fe6412bdf
*

[2020-04-27 15:18] tfitzmac commented on #53102
To install the preview, you must have PowerShell Core (6 or 7). I'll update the docs.

[2020-04-27 15:18] AmitavaHazra commented on #53336
@amanmcse,

Thanks for your time.
With current account it could not show anything helpful like failed attempt in log history and also in validator it could not associate.
Let me try with a new developer account and will see where exactly it is breaking.

[2020-04-27 15:20] SaurabhSharma-MSFT commented on #53381
@kevin-jing Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-27 15:21] SaurabhSharma-MSFT commented on #53394
@artisticcheese Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-27 15:23] SaurabhSharma-MSFT commented on #53392
@AfroDigital Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-27 15:23] connec opened #53399 "Categorisation of ARM template functions is unintuitive"
Functions for working with arrays and objects are currently listed under a [single page](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-functions-array). Many of the functions are only applicable to arrays (hinted in the file naming, it seems) and this keeps giving me false hope of the capabilities when working with objects in ARM.

The full list of functions that

[2020-04-27 15:24] anzaman commented on #53390
It is in the plan but no ETA

[2020-04-27 15:25] anzaman commented on #53390
#please-close

[2020-04-27 15:25] #53390 closed

[2020-04-27 15:25] SaurabhSharma-MSFT commented on #52821
@alex-mason-jdas We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-27 15:25] #52821 closed

[2020-04-27 15:26] jleef365 opened #53401 "Inconsistent access to bulk invite users page"
I've noticed that from the **Users | All users (Preview)** page that the option to Bulk invite is greyed out for regular users, however when clicking on **New guest user** and then **I want to invite guest users in bulk** with the same user I am then able to upload a csv and bulk create guests.

Not sure therefore whether non admin users should or shouldn't have access to bulk upload csvs. Could y

[2020-04-27 15:26] MGoedtel commented on #52985
@jzuchora87 - To be more specific, this web [page](https://azure.microsoft.com/en-us/global-infrastructure/services/?products=automation) lists the supported regions for Azure Automation. If we support additional regions for a linked Automation account and Log Analytics workspace, the supported workspace mappings article will be updated.

[2020-04-27 15:28] KrishnaG-MSFT commented on #53320
@bhuwan-agarwal There was an unexpected temporary internal issue with the doc accessibility. You should be able to access the docs after few hours from now.

We will review the extension script fails deployment issue and will provide an update as appropriate.

[2020-04-27 15:30] jleef365 opened #53402 "Inconsistent access to bulk invite users page"
I've noticed that from the "Users | All users (Preview)" page that the option to Bulk invite is greyed out for regular users, however when clicking on "New guest user" and then "I want to invite guest users in bulk" with the same user I am then able to upload a csv and bulk create guests.

Not sure therefore whether non admin users should or shouldn't have access to bulk upload csvs. Could you ple

[2020-04-27 15:30] #53401 closed

[2020-04-27 15:32] mimckitt commented on #52880
I don't have any further information on the item in progress. It is not something I am personally working on but rather just was made briefly aware of.

[2020-04-27 15:35] mimckitt commented on #43632
**UPDATE**

The core count is working as expected. It DOES count both VMs that are Allocated and Deallocated. The only way to get the cores back from the deallocated VMs would be to delete them.

So if you need more cores in a region, you need to submit a request for an increase or remove old VMs.

I am going to work on updating this document to make that more clear but just wanted to share an upd

[2020-04-27 15:40] jthoni-MSFT commented on #53297
Not sure what you are looking for, but we are following the internal https://microsoft.sharepoint.com/teams/M365Security/SitePages/Threat-Modeling.aspx

[2020-04-27 15:43] tfitzmac commented on #53102
The update will be published shortly.
#please-close

[2020-04-27 15:43] #53102 closed

[2020-04-27 15:47] iainfoulds commented on #53356
To clarify a little further - MFA is available for free as part of security defaults, however you're limited to using the Microsoft Authenticator App. You also don't have granular permissions to control who uses it or not - it's turned on for all users. The limitations of the Azure AD Free tier with security default is outlined in the previously linked licensing overview.

[2020-04-27 15:48] BryanTrach-MSFT commented on #52948
@dazinator Please note that at this time, the Windows version of Azure Web App Containers is still in preview. As a result, functionality is still catching up to the Linux version. As far as we are aware, using Azure DevOps Pipelines with a Windows Azure Web App Container is not supported at this time due to it being in public preview still.

[2020-04-27 15:48] AmitavaHazra commented on #53336
@amanmcse,

Got one point.
configuring it new Salesforce domain it worked.
Issue:
using custom policy when we click on "Salesforce: log in it redirect me to
https://jobccs2014-dev-ed.my.salesforce.com/.....
But for my earlier Salesforce Partner Entity it was redirecting me to login.microsoftonline.com since that earlier tenant was being used as SP for a Azure AD (it is different tenant all togethe

[2020-04-27 15:50] #52948 closed

[2020-04-27 15:51] dazinator commented on #52948
@BryanTrach-MSFT
If it's in public preview, then consider me a public previewer. Do you not need to have docs for things in public preview? If you don't - how am I meant to preview them?

[2020-04-27 15:57] dazinator commented on #52948
FYI for anyone who stumbles accross this:

1. You can use the `- task: AzureWebAppContainer@1` task to deploy an image to an app service windows container (still in preview) slot.

2. You can use `task: AzureCLI@2` tasks to run azure CLI commands to help facilitate config of relevent deployment slots for windows containers (preview). Of note are:

- [az webapp config storage-account](https://docs.

[2020-04-27 15:57] viju2008 commented on #53333
Dear Sir,

I need the speech recognition engine to recognize the names. I am not building a chatbot. Hence integrating will LUIS may not help me. I am not building a guided chatbot system. And i cannot fix the domain of entities. Indian names are boundless and so are the names of places villages talukas district in India. Even if i would say that it would a name at this POS TAG with LUIS will the

[2020-04-27 15:57] jmprieur commented on #49490
This is now fixed.
#please-close

[2020-04-27 15:57] #49490 closed

[2020-04-27 15:58] mariojacobo opened #53404 "deleting deployment does not stop running containers"
I've deleted all the deployments in the portal, but when I login into the Edge device (for this test I used an Azure Linux VM) and I'm still seeing the containers running. Am I missing something here ? I would have expected the containers to be killed/Stopped when a deployment is deleted.

$ az iot edge deployment list --hub-name myTestHub01
[]

Edge Device (sample container with tempsensor still

[2020-04-27 16:00] SaurabhSharma-MSFT commented on #53052
@mzmaili We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-27 16:00] #53052 closed

[2020-04-27 16:04] BryanTrach-MSFT commented on #52949
@JanNepras Thank you for sharing the feedback. After review, we agree that this could be a potential issue and as a result, we have assigned the issue to the doc author for further review.

[2020-04-27 16:05] mauleb opened #53405 "CDN SKU requirements"
Is there a specific sku requirement for this to work? When trying to associated a WAF with a CDN endpoint no valid profiles can be found

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dad8de5b-1473-a1d6-b00d-f5ab580f53c9
* Version Independent ID: adf7dd84-539f-7aa7-e739-3221526b9820
* Content: [Tutorial: Create WAF pol

[2020-04-27 16:08] curtand commented on #53028
Thanks @jayendranarumugam  ! And thank you for your help!
#please-close

[2020-04-27 16:08] #53028 closed

[2020-04-27 16:10] gluk64 opened #53406 "Custom FPGA image?"
Is it possible to deploy a custom (non-ML) FPGA image?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25565324-f64d-a8db-bc1c-e50956e6e878
* Version Independent ID: a6c9ffa3-c085-b4fc-7153-06adb8a50ce4
* Content: [What are FPGA - how to deploy - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-lea

[2020-04-27 16:11] tchristiani commented on #53316
Since the doc has been updated, I am going to close this issue.
#please-close

[2020-04-27 16:11] #53316 closed

[2020-04-27 16:13] VikasPullagura-MSFT commented on #53345
@neubineshkuttan The Link that Mike shared is correct, 2003 OS is not supported.
The 2003 OS is end of support, you can check more 2003 OS related faq's [here](https://support.microsoft.com/en-in/help/3206074/running-windows-server-2003-on-microsoft-azure).

[2020-04-27 16:21] viju2008 commented on #52904
any updates

Regards,

[2020-04-27 16:25] arsnyder16 opened #53408 "Timeframe for being generally available"
We are creating some proof of concepts with windows containers in an app server. Everything seems to be working well. Is there a timetable for when this is going to be out of preview and be generally available ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 705f9cf9-9bdd-c0e6-8170-062c62b6e12b
* Version Independent ID

[2020-04-27 16:27] tchristiani commented on #52151
Response has been provided
#please-close

[2020-04-27 16:27] #52151 closed

[2020-04-27 16:28] djpmsft commented on #53075
#reassign @lle

[2020-04-27 16:28] PRMerger13 commented on #53075
lle is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-04-27 16:35] tchristiani commented on #50995
Response has been provided.
#please-close

[2020-04-27 16:35] #50995 closed

[2020-04-27 16:37] MarileeTurscak-MSFT commented on #52824
Yoelhor has updated the custom policies to allow this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/112814

[2020-04-27 16:37] #52824 closed

[2020-04-27 16:40] dlepow commented on #51606
Doc update published. Closing this issue.
#please-close

[2020-04-27 16:40] #51606 closed

[2020-04-27 16:45] souravmishra-msft commented on #53287
@hetaldesai, The Global Admin of your tenant has to make the changes for you. Can you have a connect with your global admin?

[2020-04-27 16:49] MarileeTurscak-MSFT commented on #53402
@jleef365 thanks for the question. Checking on this!

[2020-04-27 16:49] ezYakaEagle442 commented on #53378
I was looking for more content to the document clarifying this, I did not have any error message, it is just that the current config I have obviously is not supported :

I have created an AKS cluster in my MS internal subscription (private cluster with AAD v1 + MI enabled), while having SP + aad-server-app-id + client-app-id created in my VS subscription where I am tenant admin, cluster creation w

[2020-04-27 16:51] KalyanChanumolu-MSFT commented on #52974
@mehmetekici Its been a while we heard from you.
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-27 16:51] #52974 closed

[2020-04-27 16:57] djpmsft commented on #52800
Hey @RobMcZagBDS ,

Totally understandable to want clarity on this!

Data Flow parameters are strongly typed. For example, if you create a parameter is given to an integer type, whatever value it is given at run-time will be attempted to by converted into an Integer. In data flows, if type conversion fails (or any function), the value will be assigned to `null`. In any data flow expression, the pa

[2020-04-27 17:00] amanmcse commented on #53336
@AmitavaHazra If I understood it correctly, your flow was:
B2C > Salesforce > Azure AD. Where, Salesforce was added as IDP for B2C and as SP for another Azure AD tenant.
The error `We can't log you in. Check for an invalid assertion in the SAML Assertion Validator (available in Single Sign-On Settings) or check the login history for failed logins.` usually occurs if as an SP, Salesforce received a

[2020-04-27 17:01] curtand commented on #46636
#please-close

[2020-04-27 17:04] rohitnayakmsft commented on #53260
@RonnieQuan note that Query Editor is just another client i.e. it will work fine with private endpoint  if your client machine can correctly resolve the FQDN to Private Ip address as indicated by the steps here https://docs.microsoft.com/en-us/azure/sql-database/sql-database-private-endpoint-overview#test-connectivity-to-sql-database-from-an-azure-vm-in-same-virtual-network-vnet

[2020-04-27 17:06] dgancho commented on #52975
@femsulu  Yes, I confirm. Folder **AzureConnectedMachineAgent** does not exist in both C:\Program Files and C:\ProgramData locations (on servers where I attempted to install it).
I attach a quick screenshot video showing what's happening - see C:\ProgramData\AzureConnectedMachineAgent being created and then deleted.
[AgentInstall.zip](https://github.com/MicrosoftDocs/azure-docs/files/4541051/Agent

[2020-04-27 17:09] StevenB23 commented on #38257
I'd like to request this feature. What would be the best way to get an alert of health probe failure.

[2020-04-27 17:10] SatishBoddu-MSFT commented on #53279
I have assigned the issue to the content author @kgremban for further review and update the doc as appropriate.

[2020-04-27 17:12] wmgries commented on #53152
Hi @jvanzeir,

Although I have a few ideas, it's difficult to say why this isn't working, but I can confirm this scenario definitely works. We're using it in our dogfood environment at Microsoft, and I actually demoed this here: https://techcommunity.microsoft.com/t5/itops-talk-blog/azure-unblogged-replace-your-file-server-with-a-serverless-azure/ba-p/1184772

A few pointers:
- Although `storageac

[2020-04-27 17:14] SatishBoddu-MSFT commented on #53203
@Ayanmullick
Where you are trying to connect from, Windows/Linux or RaspberryPI?
Have you visited the following documentation,
[Az.IotHub](https://docs.microsoft.com/en-us/powershell/module/az.iothub/?view=azps-3.8.0#iot)
[AzureIoT](https://github.com/markscholman/AzureIoT#azureiot)

[2020-04-27 17:15] RohitMungi-MSFT commented on #53333
@viju2008 LUIS uses pre-trained models which can recognize common names and train it to recognize others and it also depends on how your sentence or utterance is framed/passed to your LUIS resource. You can try to test your scenarios on LUIS portal using the [trial keys](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-how-to-azure-subscription#trial-key) that are available.

[I

[2020-04-27 17:20] SaurabhSharma-MSFT commented on #53256
@Ayanmullick As per discussion over call I am reopening this issue and will provide you the information you are looking for.

[2020-04-27 17:20] Grace-MacJones-MSFT commented on #53408
Hi @arsnyder16 , thanks for the Comment. We are actively investigating and will get back to you soon with the relevant information.

[2020-04-27 17:20] #52840 closed

[2020-04-27 17:26] aahill commented on #51897
Thanks @BhargaviAnnadevara-MSFT , I checked and the `mixed` sentiment label is returned, with document scores and accompanying object. I've updated the documentation to clarify that, and it should be visible soon. Thanks! #please-close

[2020-04-27 17:26] #51897 closed

[2020-04-27 17:27] GFoley83 commented on #47593
Any plans on answering this question?

[2020-04-27 17:29] AshokPeddakotla-MSFT commented on #53197
@AndresDevelop  Please double check/verify the URI which you are using. It should be in the following format.

`https://fully-qualified-iothubname.azure-devices.net/twins/{deviceId}/methods?api-version=2018-06-30`

Let us know if that resolves your issue.

[2020-04-27 17:31] atavallai opened #53412 "Azure Logic Apps are not available for Azure Event Grid as documented"
Documentation in the Azure portal and docs both show that we can use Azure Logic Apps to receive events, but you cannot select them from the endpoint list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3427291a-bf0e-81c6-0e9f-72bdf440b871
* Version Independent ID: 3d833d91-98c1-548b-06c5-681b0c41326b
* Content: [What

[2020-04-27 17:33] NavtejSaini-MSFT commented on #53380
@Rodrigossz We are going ahead and assigning this to our doc author to check if this can be enhanced.
@SnehaGunda Please check this and see if this document can be enhanced.

[2020-04-27 17:35] mediharsini commented on #49320
Hi can someone advise if I can use the same function on National Birtish Grid system if my GeoJson is based on that? Also this is not spherical distance but Euclidean distance ? Correct?

[2020-04-27 17:36] YutongTie-MSFT commented on #53406
@gluk64
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-27 17:39] mediharsini opened #53414 "Distance"
Hi can someone advise if I can use the same function on National Birtish Grid system if my GeoJson is based on that? Also this is not spherical distance but Euclidean distance ? Correct?

[2020-04-27 17:41] jeanph01 commented on #12741
is there a log of the last command output ? Azure logged me out (timeout) and I cannot see if my last operation was successful

[2020-04-27 17:45] MartinJaffer-MSFT commented on #52768
Thank you for letting us know.

[2020-04-27 17:45] YutongTie-MSFT commented on #53008
@Rockjesse Hi Jesse, sorry for the delay. Could you please send me an email at AzCommunity@microsoft.com with you subscription ID and url of this thread so I can look into this issue deeper? I am going to close this issue since this tutorial works for me well. And I will help you once you send the information we need ^^ Thanks again.

[2020-04-27 17:45] #53008 closed

[2020-04-27 17:55] aahill commented on #52017
Thanks @deboergj for the feedback! We don't have a glossary, but I've added an item to my backlog to clarify terms like "documents" - which is a string of text characters, like you mention. I've recently updated the text to clarify the `mixed` sentiment label, which should be visible soon. The `mixed` label is returned with both the document scores and sentiment scores, similar to the other labels

[2020-04-27 17:55] #52017 closed

[2020-04-27 17:56] TomGeske commented on #53378
AADv1 requires tenant admin privildiges
AADv2 does not requiree tenant admin privildiges.

The following section mentions that we cover the previously manual steps.

The role assigment you call out are related to managed identity + CNI. There is a section talking about it:
https://docs.microsoft.com/en-us/azure/aks/use-managed-identity

[2020-04-27 17:57] ShreedharYashoda commented on #52958
@AshokPeddakotla-MSFT  Thanks alot..!!

[2020-04-27 18:01] xujing-ms commented on #53332
@SwathiDhanwada-MSFT  I am no longer the owner of this document, please remove me from the author page and contact krsh

[2020-04-27 18:03] kristofve commented on #38364
I'm dealing with exactly the same issue, as this appears to not have been fixed yet. I parametrized the database name to reuse the same Linked Service + Dataset for multiple databases on the same SQL Server instance, but when generating the ARM template to deploy to a production factory this parametrization inevitably gets overwritten by 1 static `connectionString`  variable. Any attempt to overwr

[2020-04-27 18:12] mimckitt commented on #53350
@MatthewSteeples valid feedback! I will take a look into the best way to accomplish this.

[2020-04-27 18:19] Grace-MacJones-MSFT commented on #52606
@pheu can you try again to create a new sql server? are you still getting that error?

[2020-04-27 18:23] glomaga commented on #51818
is there any document available to implement other user flows (password reset, profile editing) when using AzureB2C as SAML idp?

[2020-04-27 18:31] glomaga opened #53415 "How to enable password reset flow using AzureB2C login flow on SAML?"
I already have the login implemented with SAML  ( B2C/AEM) but when I click on "forgot the password" it doesn't work.
How can I connect the two flows?
Is there any document available to implement other user flows (password reset, profile editing) when using AzureB2C as SAML idp?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-04-27 18:31] ederfdias commented on #30802
Hello,
I am also facing the same issue.
Can someone help us?

[2020-04-27 18:32] CeciAc opened #53416 "Wrong link"
@gollima commented on [Mon Apr 27 2020](https://github.com/MicrosoftDocs/azure-docs.pt-br/issues/595)

"datacenter public IP addresses" url on AzureCloud tag is pointing to the wrong place

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: 08217244-82bb-13b5-46f7-454801d8f865
* Version Independent ID: 4a8b0a3

[2020-04-27 18:33] viperfx commented on #50086
@BrianLevenson what is the right support category for this type of issue? (In the partner support portal) We are getting this error as well.

[2020-04-27 18:41] aahill commented on #53184
Thanks for reaching out,  @pictoric

This GitHub repo is only for reporting issues in the documentation. I can forward this information, but the correct location for product feedback is the [UserVoice](https://cognitive.uservoice.com/forums/555922-text-analytics) site. You can also use the feedback button labeled "This product" to get there from articles on docs.microsoft.com (image below).

![ima

[2020-04-27 18:41] #53184 closed

[2020-04-27 18:49] rriley99 opened #53417 "Python Documentation"
It would be nice to see more documentation like this for Python. Especially as an out binding, say using a blob trigger to email a blob or something of that nature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73d91616-a93f-84af-7900-5aa34b361ffd
* Version Independent ID: f202a678-4853-d024-55c5-19f89558415c
* Conten

[2020-04-27 18:50] BrianLevenson commented on #50086
Sorry, I don't know. The support experience with Partner Center should provide options.

[2020-04-27 18:53] dckfnuance commented on #52473
The code in example 3 works but the question remains: Why is there a limit of 5000 entries returned by Get-AzDataLakeGen2ChildItem? If this is not a bug, then it should be documented and the reasoning behind it explained.

[2020-04-27 18:53] mikemowgli commented on #53018
Yes, I already let you know there is an extra question: you didn't tell me how to save a query with the Azure CLI. Can you please re-open this ticket?

[2020-04-27 18:55] SQLSourabh commented on #53146
@sharadrumane I am assuming by "register the DAC" you mean you are trying to deploy the DAC to an instance of Azure SQL Database Edge using management studio or Azure Data Studio? is that correct? If yes, can you confirm that you have the latest version of the tools deployed. Also, could you please drop me an email with the full SQL logs. Also could you please send me the SQL Edge error logs throu

[2020-04-27 18:55] aahill commented on #52509
Thanks @kentontroy for reaching out, and for the details.

This GitHub repo is only for reporting issues in the documentation. I can forward this information to the service team, but please consider opening an item on the [UserVoice](https://cognitive.uservoice.com/forums/555922-text-analytics) site or the [Azure SDK for JS repo](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/textanalyt

[2020-04-27 18:55] #52509 closed

[2020-04-27 18:58] cijothomas commented on #52871
Agree this page is not doing a good job of explaining what it takes to do the manual correlation.

Regarding the task of writing a simple dotnet program which talks to a web app (or similar stuffs) -

The answer is simple: Users are not required to do anything custom at all to get correlation. Everything would be handled by default by the SDK. All that is needed is to onboard the app with the righ

[2020-04-27 19:03] aryamsft commented on #49015
3221225477  = 0xC0000005‬, which is access_violation which is an error message that comes from windows, not SF.  An access violation means that a program tried to write to an area of memory that is forbidden/inaccessible to it

[2020-04-27 19:04] EricBergDE opened #53420 "Customer moving from EA to CSP"
If a customer moves from an EA or SCE contract towards CSP ... they have to cancel their Azure Reservations in EA. But as the existing subscriptions will be moved to CSP, they have no chance to use the monetary commit where the refund will be issued.
If the contract is already expired the 90 days period starts after cancellation ... but as customer moves to CSP, they have no chance to do anything

[2020-04-27 19:10] msdpalam opened #53423 "Azure Data Explore data ingestion doc link is broken"
The hyper link to "Azure Data Explore data ingestion doc" is broken as it seems. The link cannot find the resource.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3818f80-7258-6d5c-6e18-e91f1c754efe
* Version Independent ID: 733f0347-c6b9-ac65-0a7f-3a74042b81bc
* Content: [Copy data to or from Azure Data Explorer - Az

[2020-04-27 19:13] SaurabhSharma-MSFT commented on #53017
@jpb501 can you please send images over email as provided earlier.

[2020-04-27 19:14] PinewoodNut commented on #38666
@rwiankowski I had the same error trying to add diagnostic settings to an applicationgateway. Checked the microsoft docs for [microsoft.insights](https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/allversions) and found "diagnosticSettings" is only referenced in api version "2017-05-01-preview".  This matches this [example](https://docs.microsoft.com/en-us/azure/azure-monitor/plat

[2020-04-27 19:20] gaikovoi commented on #44048
This is definitely a 'bug' in the JSON examples. According to https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/custom-waf-rules-overview, "User-Agent" is not an operator.
(Honestly, it doesn't even sound as 'operator')

[2020-04-27 19:20] premgan opened #53424 "Verify configuration using the Microsoft Remote Connectivity Analyzer"
Basically port over the content from the prior page for this content here - https://docs.microsoft.com/en-us/previous-versions/azure/azure-services/jj151809(v=azure.100)?#use-the-microsoft-remote-connectivity-analyzer

To test single sign-on connectivity, you can use the Microsoft Remote Connectivity Analyzer. Click the Office 365 tab, click Microsoft Single Sign-On, and then click Next. https://t

[2020-04-27 19:22] Mike-Ubezzi-MSFT commented on #36511
@avbhaskar If you are still experiencing issues with ARM deployments for Azure Data Sync, bring the issue to the attention of this repository: [Azure REST API Spec](https://github.com/Azure/azure-rest-api-specs/issues), as was previously mentioned. This is the appropriate location to file REST related issues and fixes will be be made to both the API and the documentation. Closing this issue as it

[2020-04-27 19:22] #36511 closed

[2020-04-27 19:24] cp-bwg commented on #53172
This makes sense.  There is still another issue, however - there is nothing
in the connector that lets us specify the day range to pull.  It is only
pulling in the last 24 hours currently.  How do we set it to pull multiple
days, or a range?  Perhaps it needs to pull individual tables for each
date.  The API on Google tells us how to specify it, but your connector is
not presenting that option.  I

[2020-04-27 19:33] YutongTie-MSFT commented on #52904
@viju2008 Sorry for the delay.

@aahill Hi, could you please share any insight about how to do the optimization? Thanks a lot.

[2020-04-27 19:40] SaurabhSharma-MSFT commented on #53381
@kevin-jing You can refer to [Deploy the app to Azure](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-nodejs#deploy-the-app-to-azure) documentation for publishing it to Azure.

[2020-04-27 19:42] Grace-MacJones-MSFT commented on #52489
Hi @craddockj, thanks for your patience!

The backend tracking that Azure Media Services provides is telemetry.  An overview of this is at https://docs.microsoft.com/en-us/azure/media-services/previous/media-services-telemetry-overview.  However, this is a summary view of what’s happening at the streaming endpoint level and is a rollup of all users on that endpoint.  While adaptive streaming has v

[2020-04-27 19:42] #52489 closed

[2020-04-27 19:44] MicrosoftGuyJFlo commented on #53187
So you're saying steps 5 and 6 need to be flipped?

Feel free to make an edit to the doc. Otherwise I can add it to my backlog to work on when I get some free time.

[2020-04-27 19:46] dkamstra commented on #14899
#close

[2020-04-27 19:49] savyaagarwal64 opened #53425 "variable IotHubConnectionString must be specified"
I followed the instructions and tried to set the IotHubConnectionString, both, with and without enclosing the connection string in "" however, each time when I run the app (npm start) i get an error saying "Environment variable IotHubConnectionString must be specified."

I followed all steps exactly as per the tutorial but don't know why the IotHubConnectionString is not being set

---
#### Docume

[2020-04-27 19:49] Tam66662 commented on #49171
@kgremban Thank you for doing this.  The link you provided was very helpful and informative and covers my core request.  I appreciate the new documentation!

[2020-04-27 19:49] #49171 closed

[2020-04-27 19:49] MarileeTurscak-MSFT commented on #53402
I was able to reproduce this issue. I found one thread where people were saying that the option was disabled due to a phishing attack on the GUI, but I have reached out the the product team to confirm this. http://answers.flyppdevportal.com/MVC/Post/Thread/1a1b4b2f-eac4-4635-9623-0ff042d2b1eb?category=windowsazuremanagement

[2020-04-27 19:53] mike-urnun-msft commented on #52954
@JarroVGIT Right, While EasyAuth isn't available with Linux Consumption tier, you should still be able to use (a) AAD Auth by creating your AAD app separately or (b) use MSI depending on your scenario. Have you tried the alternatives, a and b?

[2020-04-27 19:57] lgmorand opened #53426 "No system node pool by default ?"
"When you create a new AKS cluster, you automatically create a system node pool with a single node." So I'm expecting to have as least one system pool on all my clusters, especially the new created (using CLI 2.4.0 but with aks preview enabled)

I just created an AKS cluster, and the default nodepool (name nodepool1) is a "user" nodepool when I'm using CLI az aks nodepool show

  "agentPoolType":

[2020-04-27 20:02] PaddyMaddy opened #53427 "PIM Wizard got Deprecated this Page documentation should be updated correctly."
There is not Wizard option this got already deprecated by Ms and the document is not updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35205d31-e185-704a-9adb-58302cfe0f59
* Version Independent ID: b621d6e3-30b6-f56d-bb3f-c6c8e54a13ee
* Content: [Azure AD roles security wizard in PIM - Azure Active Directory](htt

[2020-04-27 20:03] crisansou opened #53428 "How to configure Log Analytics on Databricks using ARM Templates?"
Hello,

How do I configure Log Analytics on Databricks using ARM Templates?  I tried to use the code below, but I got the error "code": "BadRequest":

`    {
      "apiVersion": "2018-04-01",
      "type": "Microsoft.Databricks/workspaces",
      "location": "[parameters('location')]",
      "name": "[parameters('workspaceName')]",
      "dependsOn": [
        "[concat('Microsoft.Network/networkSe

[2020-04-27 20:03] MicrosoftGuyJFlo commented on #53158
Email out to PG for feedback.

[2020-04-27 20:05] lgmorand commented on #53426
I created an issue (https://github.com/Azure/AKS/issues/1583), because I'm not sure documentation is faulty

[2020-04-27 20:07] kgremban commented on #53279
@markrad Can you share the output of `iotedge check` that you get when you're behind a proxy?

[2020-04-27 20:14] ionut-matei commented on #47476
Hi again,
LUIS portal (preview.eu.luis.ai) recommends setting non determinisitic training to true.
![image](https://user-images.githubusercontent.com/17688773/80415108-b8a09080-88da-11ea-8a24-bf05dceccebe.png)
**Why it's recommended?** What are the advantages and disadvantages of using non determinisitic or determinisitc training( train with all data)? I couldn't find any documentation about this

[2020-04-27 20:15] AndresDevelop commented on #53197
@AshokPeddakotla-MSFT I double checked and it does not resolve the issue , In fact I believe the form must be `https://YOUR_HUB_NAME.azure-devices.net/twins/{deviceId}/methods?api-version=2018-06-30` as it is shown below

`curl -X POST \
  https://iothubname.azure-devices.net/twins/myfirstdevice/methods?api-version=2018-06-30 \
  -H 'Authorization: SharedAccessSignature sr=iothubname.azure-devices

[2020-04-27 20:19] BryanTrach-MSFT commented on #53397
@craigeaw Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

Please note that we scope issues on this repro to feedback related to the docs. If you have a product question, please post it on MSDN or Stack Overflow. Thank you for your understanding.

[2020-04-27 20:20] davidsmatlak commented on #48632
#assign:davidsmatlak

[2020-04-27 20:21] davidsmatlak commented on #48303
#assign:davidsmatlak

[2020-04-27 20:21] stemoor opened #53430 "When deploying using an HTTP trigger, no functions are listed under the functions tab"
I tried following this tutorial but instead of a blob trigger, I used an HTTP. I got al the way to deploying and having an azure function up and running. However, no functions are listed under the functions tab and I am unable to find out what is the endpoint used to consume the azure function.

An example showing the deployment thought the end , including how to consume the function would be nice

[2020-04-27 20:23] yuraje commented on #53343
@Mike-Ubezzi-MSFT  Here basically I'm trying to restore to same hyperscale instance. But achieving this using SQL Script like in on-prem SQL platform is still a open question. Will you please able to help here.

To be added, today we have tested restoring 700+GB of DB size and it took approximately 10mins using PowerShell.

[2020-04-27 20:24] BryanTrach-MSFT commented on #53420
@EricBergDE Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-27 20:25] MarileeTurscak-MSFT commented on #53427
@PaddyMaddy last I heard the wizard was temporarily unavailable. Assigning this to the author to investigate and update if needed.

[2020-04-27 20:26] Blackmist commented on #52529
Thanks for the feedback on this @slavizh , and sorry for the delay. Took me a few days to track down the right reviewers for the information. The update for resource metrics will go live later today.

#please-close

[2020-04-27 20:26] #52529 closed

[2020-04-27 20:27] bendubuisson commented on #53353
Thank you for that. There doesn't seem to be a trigger action to restart a specific ACI though?

[2020-04-27 20:27] Grace-MacJones-MSFT commented on #52619
Hello @dvkrish, thank you for your patience.

There is no default number of days. when you go into the **Azure Portal** to enable application logging for your Linux app and select **File System**, the Retention Period (Days) will be blank. You can set the number of days the logs should be retained.

![file system](https://user-images.githubusercontent.com/42247081/80417354-72234580-888a-11ea-8f61-

[2020-04-27 20:27] #52619 closed

[2020-04-27 20:28] Grace-MacJones-MSFT commented on #53272
@FlavioDiasPs  any updates for us regarding this issue?

[2020-04-27 20:30] JarroVGIT opened #53431 "Logging example doesn't work"
The logging example at item 3 in chapter Logs (https://docs.microsoft.com/en-us/azure/azure-monitor/app/opencensus-python#logs) doesn't work. I've copied it as-is to my workspace, I have pip-installed the imports, but the log messages don't show up in Application Insight. I noticed this behaviour in my real application. Caught exceptions are showing up in the Exceptions table, but using something

[2020-04-27 20:34] reyang commented on #53431
@lzchen @ramthi

[2020-04-27 20:35] payiAzure opened #53432 "Get error at step "Give NETWORK SERVICE access to the certificate's private key""
Following the steps to enable https endpoint.
After deploy the app to Azure service fabric cluster in development environment, when SetupEntryPoint is hit to run Setup.bat, got error:
.\SetCertAccess.ps1 : The term '.\SetCertAccess.ps1' is not recognized as the name of a cmdlet, function, script file, or.....

It seems the ps1 file could not be found by powershell cmd. I looked at the ps1 file loc

[2020-04-27 20:38] JarroVGIT commented on #53431
I have to apologies for jumping the gun, there was a bit longer delay in the messages coming through in AI then I was used to. The example as-is does seem to work. However, using logger.info() messages do not show up. The example on the page uses logger.warning(). How do I change the behavior so it also submits logger.info() or logger.debug() messages?

[2020-04-27 20:39] BharathNimmala-MSFT commented on #52884
Thank you @andrewatfornax.

PR has been reviewed and merged, the changes will reflect the document accordingly. At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue the conversation. Thank you

[2020-04-27 20:39] #52884 closed

[2020-04-27 20:42] JarroVGIT commented on #53431
Obviously you would use logger.setLevel("DEBUG"). Time to go to bed for me..

[2020-04-27 20:42] #53431 closed

[2020-04-27 20:45] Vladeexx commented on #52462
Hi all,

Rule no 1. Restart your system.

Cheers

On Sun, 26 Apr. 2020, 20:16 Franlusan, <notifications@github.com> wrote:

[2020-04-27 20:52] akkariak commented on #47716
Hi @jackt-moran, after taking a closer look, we do support transparent decompression but only for object container formatted files https://avro.apache.org/docs/1.8.1/spec.html#Object+Container+Files

If your payload is of this format, we recommend trying to run your job without compression to make sure they're valid on their own.

[2020-04-27 20:53] SaurabhSharma-MSFT commented on #53394
@artisticcheese  The recommendations shown in your environment depends on the resources you are protecting and your customized configuration.  For example - "An activity log alert should exist for specific Policy operations" is an Azure Policy on Monitoring which caused this recommendation to appear on your page.  You can find list of built-in policies at [documentation](https://docs.microsoft.com

[2020-04-27 20:55] MartinJaffer-MSFT commented on #52925
@RobMcZagBDS

Thank you for bringing this to our attention.  I have  a made clarifications to the document, pending approval.

In regards to whether formatDateTime works on string vs timestamp, there is a point I would like to clarify.

In pipeline expressions there is no date/time data type for parameters or variables.  Date/times are represented by strings.  The functions ingest a string represe

[2020-04-27 20:55] #52925 closed

[2020-04-27 20:55] Ranner198 commented on #38747
Hey @jeevansd me and my team members are also looking forward to this so hopefully everything is going well and a new release is soon!

[2020-04-27 20:55] JnHs commented on #52443
I've added this info to the topic, will close this now - please let us know if you have further questions! #please-close

[2020-04-27 20:56] #52443 closed

[2020-04-27 20:57] craigeaw commented on #53397
@BryanTrach-MSFT I guess i'm referring to this error not being on this page: https://docs.microsoft.com/en-us/azure/automation/troubleshoot/runbooks. However, maybe this discussion is best for MSDN or Stack Overflow. I was hoping to get to the product team as quickly as possible.

[2020-04-27 21:00] devojoyti-microsoft opened #53434 "Outdated Doc"
pod 'immersive-reader-sdk', :path =&gt; 'https://github.com/microsoft/immersive-reader-sdk/tree/master/iOS/immersive-reader-sdk'

Has been changed to "pod 'immersive-reader-sdk', :git =&gt; 'https://github.com/microsoft/immersive-reader-sdk.git'"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1856f91-2eb8-b829-669d-89

[2020-04-27 21:03] jeevansd commented on #38747
@Ranner198 I am running the private preview now. Can you please send an email to us on this address? SaaSApplicationIntegrations@service.microsoft.com

[2020-04-27 21:13] MarileeTurscak-MSFT commented on #53372
@lendy007 please include the link to the document you are following.

[2020-04-27 21:16] TravisCragg-MSFT commented on #53391
@dcvtruong Thanks for the feedback! It looks like we do not provide an example anywhere for getting this set up on a MAC OS. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-27 21:18] BryanTrach-MSFT commented on #53425
@savyaagarwal64 Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

Please note that we scope issues on this repro to feedback related to the docs. If you have a product question, please post it on MSDN or Stack Overflow. Thank you for your understanding.

[2020-04-27 21:20] mhopkins-msft commented on #53314
Hi @Jawvig,

Thank you for the feedback. I originally had that in the article. During tech review I got feedback that most things return a **Response** object and devs know this. So, we should just document the particular variant that is returned. Sorry for any confusion.

Thanks,
 ~ *Mark*

[2020-04-27 21:21] TravisCragg-MSFT commented on #53416
@gollima @CeciAc This link looks correct to me. It is supposed to go to a download for a JSON file containing Azure's data center IP Ranges.

Please let me know if you have any questions about the link, or if you are getting a different result.

[2020-04-27 21:26] TPucke commented on #49531
PG 12 original release was half a year ago.  Is this going to be supported?  Is there any roadmap or even rough estimate?  I would really like to have access to computed fields that were introduced in v12.

[2020-04-27 21:27] Karishma-Tiwari-MSFT commented on #21407
VNet peering will not work for ACI if the network that the ACI VNet is peering to, uses a public IP space. The peered network needs an RFC 1918 private IP space in order for VNet peering to work.
You can only peer your VNet to one other VNet.

Also, not that

[2020-04-27 21:30] Karishma-Tiwari-MSFT commented on #53375
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-27 21:30] BryanTrach-MSFT commented on #53397
@craigeaw Thank you for the update. We have assigned the issue to an engineer to take a further look.

[2020-04-27 21:30] JaneYan-2016 commented on #52975
@dgancho, can you check if you have C:\programData\GuestConfiguration folder? and logs in the folder? Could you share?

[2020-04-27 21:31] savyaagarwal64 commented on #53425
Hi Bryan,

Here is the doc
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-live-data-visualization-in-web-apps

On Mon, Apr 27, 2020 at 2:18 PM Bryan Trach <notifications@github.com>
wrote:

--
Yours truly,
Savya Agarwal.

[2020-04-27 21:33] ttilberg opened #53436 "Follwoing guide fails deployment ENOENT: no such file or directory, open '/opt/nodejs/12.14.0/npm.txt'"
I've tried following this exact guide, using several Rails apps, several other guides on docs.microsoft.com, and several blog posts/medium articles on this topic, using both the CLI and the GUI, and they all result in the following deployment failure:

[code]

I don't know enough about deploying apps to Azure to give much more information other than it appears that the first step in the build proc

[2020-04-27 21:34] Grace-MacJones-MSFT commented on #52954
Hi @JarroVGIT, along with Mike's answer I have submitted a PR to update the doc with a note, the change is merged internally and will go-live in the public docs shortly. Thanks!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-27 21:34] #52954 closed

[2020-04-27 21:35] BryanTrach-MSFT commented on #53425
@savyaagarwal64 Thank you for the update. We have assigned an engineer to take a further look.

[2020-04-27 21:37] BryanTrach-MSFT commented on #53417
@georgewallace Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-27 21:41] #53394 closed

[2020-04-27 21:46] KranthiPakala-MSFT commented on #53423
@msdpalam
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-04-27 21:58] moicodes opened #53437 "Create an IoT Hub with Managed Service Identity - Azure CLI command deprecated"
"This command is implicitly deprecated because command group 'group deployment' is deprecated and will be removed in a future release. Use 'deployment group' instead."

I believe the following should be used instead:

az deployment group create --name &lt;resource name&gt; --resource-group &lt;resource group name&gt; --template file &lt;templateFile&gt;.json

---
#### Document Details

⚠ *Do not e

[2020-04-27 22:01] dimitri-furman commented on #53343
@yuraje Restoring a database using T-SQL is not supported for any Azure SQL Database service tier including Hyperscale. You can initiate a restore via PowerShell, Azure CLI, REST API, and an ARM template, but not via T-SQL.

[2020-04-27 22:15] kobulloc-MSFT commented on #53431
@JarroVGIT Happy to hear that everything worked out!

[2020-04-27 22:20] bureado commented on #53281
Thanks, @cadeavil-msft. `python2` is a [dependency](https://packages.ubuntu.com/focal/python-is-python2) of `python-is-python2`. Can you clarify if you're getting broken dependencies if you only install `python-is-python2`? I want to make sure we capture this feedback in the next update.

[2020-04-27 22:27] gollima commented on #53416
Found the error. Was a browser problem... my mistake, sorry about that.
Thanks

Em seg., 27 de abr. de 2020 às 18:21, TravisCragg-MSFT <
notifications@github.com> escreveu:

--
Guilherme Lima
gol.lima@gmail.com

[2020-04-27 22:29] femsulu commented on #52844
@aelmanaa possible your workbook updates are throwing naming conflict errors until CI/CD cleans up the previous version of the workbook from the environment. Mind sharing what params you are using? ref below:
"properties": { **"mode": "Incremental",** "parameters": {},

[2020-04-27 23:00] sami1178116 opened #53439 "Fencing is not working from node 1 and node 2"
Hi Team -

I set up a HA as per the documents but when I fencing it manually it's not working and one more thing is Hostname and VM name (in the portal) is different.

Status:
node1:~ # crm status
Stack: corosync
Current DC: node2 (version 1.1.19+20181105.ccd6b5b10-3.16.1-1.1.19+20181105.ccd6b5b10) - partition with quorum
Last updated: Mon Apr 27 22:53:38 2020
Last change: Mon Apr 27 22:53:37 2020

[2020-04-27 23:08] tfitzmac commented on #53399
@connec - thanks for this feedback. I think it makes sense to split array and object. I'll work on it.

[2020-04-27 23:12] SaurabhSharma-MSFT commented on #53210
@lozanov95 As per the licensing agreement, it is billed per user. If you have any further questions you should speak to your licensing representative and check the agreement.

[2020-04-27 23:16] lozanov95 commented on #53210
So does this mean that I will get billed for all the users in the group even if I don't have the licenses purchased?

[2020-04-27 23:17] Tainum commented on #36640
[Campo-magnetico-de-una-Bobina.docx](https://github.com/MicrosoftDocs/azure-docs/files/4542465/Campo-magnetico-de-una-Bobina.docx)

[2020-04-27 23:17] Tainum commented on #36640
Hi

[2020-04-27 23:32] ThairAbdalla opened #53440 "incorrect syntax"
in this section https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostics-extension-stream-event-hubs#public-configuration,

 WadCfg": {
        "DiagnosticMonitorConfiguration": {
            "overallQuotaInMB": 5120
        },
 "PerformanceCounters": {

should be:

 WadCfg": {
        "DiagnosticMonitorConfiguration": {
            "overallQuotaInMB": 5120,
      "PerformanceCoun

[2020-04-27 23:35] jamesbannan opened #53441 "Why does Azure ML Studio not support Storage Accounts with service firewalls?"
According to the documentation:

and

My question is: why is this the case? Even enabling the option 'Allow trusted Microsoft services to access this storage account" on the storage account prevents Azure ML Studio from accessing the account. Is this because the Azure ML Studio UI runs external to Azure, and therefore doesn't have a presence on the Azure networking backplane?

---
#### Document De

[2020-04-27 23:41] MarileeTurscak-MSFT commented on #52953
Hi @henriquebelotto ,

The WingTipGames github sample shows how to set the ui_locales query string parameter in the OnRedirectToIdentityProvider event:

`// If an Account controller action has set a UI locale (e.g. to "fr"), then set the UI locales parameter for
// the authentication request to this UI locale.
if (context.Properties.Items.ContainsKey(Constants.AuthenticationPropertiesKeys.UILocale

[2020-04-27 23:41] #52953 closed

[2020-04-27 23:46] YutongTie-MSFT commented on #53414
@mediharsini
Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Profile/u/create?referrer=https%3A%2F%2Fsocial.msdn.microsoft.com%2FForums%2Fen-US%2Fnewthread) or [Stack Overflow ](https://stackoverflow.com/)as it could be better

[2020-04-27 23:50] markjbrown commented on #53294
We will have ARM and Cosmos DB SDK support for this when we GA Autopilot with PowerShell and Azure CLI support very shortly afterwards.

Thanks.

#please-close

[2020-04-27 23:50] #53294 closed

[2020-04-27 23:55] YutongTie-MSFT commented on #53412
@atavallai
Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home) or [Stack Overflow ](https://stackoverflow.com/)as it could be better place to get help on your scenario. These forum community members could provide

[2020-04-27 23:59] YutongTie-MSFT commented on #53405
@mauleb
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-28 00:01] YutongTie-MSFT commented on #53401
@jleef365
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-04-28 00:07] YutongTie-MSFT commented on #53387
@omarine
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-28 00:09] cadeavil-msft commented on #53281
Hi José,

Indeed, somehow I missed the output of 'apt-cache depends python-is-python2' (which is in my logs). I apologize.

Cheers,

..C..

________________________________
From: José Miguel Parrella <notifications@github.com>
Sent: Monday, April 27, 2020 17:20
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Carlos De Avillez <Carlos.DeAvillez@microsoft.com>; Mention <mention@nore

[2020-04-28 00:09] MarileeTurscak-MSFT commented on #52977
Thanks Nagireddy,

I made a pull request to add a note about this but if you think more should be added feel free to make a PR of your own or close out mine. https://github.com/MicrosoftDocs/azure-docs-pr/pull/112965

[2020-04-28 00:09] #52977 closed

[2020-04-28 00:10] atavallai commented on #53412
Sorry, here are some links:

https://docs.microsoft.com/en-us/azure/event-grid/overview

https://azure.microsoft.com/en-us/services/event-grid/#overview

It's also referenced on the "Events" pane of a storage account in the portal:

![image](https://user-images.githubusercontent.com/19860687/80432722-e6211600-88a9-11ea-94f4-cb15fe784182.png)

But when you try and set up an event subscription, it's

[2020-04-28 00:14] nhogarth86 opened #53443 "Misleading words"
"Both adfs/services/trust/2005/windowstransport or adfs/services/trust/13/windowstransport should be enabled" it says "or" but on page "https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-azuread-join-federated-domains" it says "and".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c829209-9559-6ae3-

[2020-04-28 00:21] YutongTie-MSFT commented on #53386
@omarine
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-04-28 00:22] rurounijones commented on #49742
Email has been sent.

[2020-04-28 00:23] SaurabhSharma-MSFT commented on #53210
@lozanov95 sorry but I would suggest you to please check with your licensing representative for the same.

[2020-04-28 00:31] YutongTie-MSFT commented on #53441
@jamesbannan
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-28 00:34] YutongTie-MSFT commented on #53434
@devojoyti-microsoft
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-28 00:38] norman-v opened #53444 "Not quite "Continuous" CI/CD. Can you provide a programmatic way to publish?"
After completing a PR, someone with high privileges to deploy to the resource group still needs to manually click the publish button. It's not quite "continuous" CI/CD if users need to exercise high privileges and manually start the process. Currently, there is no programmatic way to publish or to export the ARM templates that could automate this part.

The CI/CD setup here also requires multiple

[2020-04-28 00:42] Karishma-Tiwari-MSFT commented on #53384
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-28 00:43] YutongTie-MSFT commented on #53430
@stemoor
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-28 00:44] mike-urnun-msft commented on #53395
@srasp Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-04-28 00:50] gwenbettwy opened #53445 "Missing word"
Hey guys.  The 3rd sentence is missing a word indicated with apostrophes below...

These patterns can be used to trigger actions and initiate workflows such "as" creating alerts, feeding information to a reporting tool

Thanks for listening ;)
Gwen

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da6b30e6-cf25-9cca-2ff5-

[2020-04-28 00:52] TravisCragg-MSFT commented on #53342
@etaham Thanks for the feedback! ,This is fixed via[ #112975](https://github.com/MicrosoftDocs/azure-docs-pr/pull/112975)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-28 00:52] #53342 closed

[2020-04-28 00:53] TravisCragg-MSFT commented on #52899
@namnam0610 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-28 00:53] #52899 closed

[2020-04-28 00:56] Y07yoyo commented on #53359
Hi,
Thanks for the link. I was able to compile and build the solution through the suggestions provided above. I just have a question related to the messages being sent to IoT Hub though.

This is the message that gets sent to IoT Hub:
[IoTHubMonitor] [10:41:27 AM] Message received from [JetsonNanoDemo02/PythonModule]:
{
  "body": {
    "machine": {
      "temperature": 27.413572905894174,
      "p

[2020-04-28 01:06] djpmsft commented on #53444
Hey @norman-v

Thanks for the feedback! Continuous publishing from the publish branch is a common feature request and a first party solution in our roadmap. Unfortunately I cannot provide a timetable for it right now.

As this is a feature request, a better forum for this is in the [ADF user forum](https://feedback.azure.com/forums/270578-data-factory)

If you are currently blocked on this, there

[2020-04-28 01:06] #53444 closed

[2020-04-28 01:08] julieMSFT commented on #50646
@homeworryfree Thank you for your comments. When I navigate to the article I still see the Cloud Adoption Framework toc and see the article. The URL does change as this article is part of the Cloud Adoption Framework but is also part of Azure Synapse Analytics (formerly SQL DW) content. Please let me know if this is still an issue for you.

[2020-04-28 01:10] dgancho commented on #52975
Attaching log files (2) from C:\ProgramData\GuestConfig folder

[gc_agent_telemetry.txt](https://github.com/MicrosoftDocs/azure-docs/files/4542842/gc_agent_telemetry.txt)
[gc_agent.log](https://github.com/MicrosoftDocs/azure-docs/files/4542843/gc_agent.log)

[2020-04-28 01:13] djyou commented on #53257
/cc @northtyphoon

[2020-04-28 01:16] amanmcse commented on #53443
@nhogarth86 Thank you for your feedback . We will investigate and update the thread further.

[2020-04-28 01:20] neeleshray-msft commented on #53424
@premgan Thanks for your comment. We will review your request and get back you shortly.

[2020-04-28 01:22] neeleshray-msft commented on #53415
@glomaga Thanks for your comment. We will review your request and get back you shortly.

[2020-04-28 01:24] asears commented on #53412
Shows it's supported, you would need to use the Logic Apps interface and Event Grid Trigger, see links.  Perhaps Web Hook should be copied as Logic Apps in the Endpoint Details dropdown.

https://docs.microsoft.com/en-us/azure/event-grid/monitor-virtual-machine-changes-event-grid-logic-app
https://docs.microsoft.com/en-us/azure/event-grid/publish-iot-hub-events-to-logic-apps
https://docs.microsoft

[2020-04-28 01:38] amanmcse commented on #53415
@glomaga  A sign-up or sign-in user flow with local accounts includes a Forgot password? link on the first page of the experience. Clicking this link doesn't automatically trigger a password reset user flow.

Instead, the error code AADB2C90118 is returned to your application. Your application needs to handle this error code by running a specific user flow that resets the password. To see an examp

[2020-04-28 01:46] glomaga opened #53447 "is it possible to enable single sign-on configuration on the Password reset flow on IEF files?"
I enabled the SSO at the level of the tenant, works perfectly for the sign in flow,  but is not working for password reset flow.
is there any way to enable this functionality through IEF flows?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9627f2fa-6005-9c15-2824-03b7bcd4aae9
* Version Independent ID: 619e1eea-ed67-99

[2020-04-28 01:48] hetaldesai commented on #53287
@souravmishra-msft i dont have global admin. i was the admin for this account. since i was setting up the trail version i did not setup this account thoroughly.

[2020-04-28 02:16] zachsaltzman opened #53448 "Azure Sentinel?"
Will this page be updated to include Azure Sentinel-based options?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c90f3487-03f3-a06c-e3fe-42cba56d32cf
* Version Independent ID: 70441959-1af1-f4d4-503d-e6339426b6a5
* Content: [Plan reports & monitoring deployment - Azure AD](https://docs.microsoft.com/en-us/azure/active

[2020-04-28 02:37] RainWuGuy opened #53449 "How to process Cosmos DB sql select clauze across containers join"
[Enter feedback here]

The Cosmos Db has the containers Role and Permission, the data struction is as below, do you know how to get the permission data when search the role data? How to search data across the containers?
Role:
{
"id":"",
"name":"admin",
"permission_ids":["1001", "1002"]
}

Permission:
{
"id":"1001",
"name":"product management"
}
---
#### Document Details

⚠ *Do not edit this secti

[2020-04-28 02:56] dcbrown16 commented on #45011
@vgorbenko we have another case in CSS that would be helped by having a clear list of the App Insights metrics and how to use them. Feel free to contact me internally at v-dibr if you have questions.

[2020-04-28 02:57] KrishnaG-MSFT commented on #53018
Sure. We will provide an update to your follow up question ASAP.

[2020-04-28 02:58] KrishnaG-MSFT commented on #53440
@ThairAbdalla Thanks for your comment! We will review and provide an update as appropriate.

[2020-04-28 03:04] kevin-jing commented on #53381
@SaurabhSharma-MSFT This Doc doesn't mention how to deal with Authentication, that is, how to handle "http://localhost:3000/auth/openid/return" in the "Redirect URIs"?

[2020-04-28 03:12] jackvdbuk opened #53450 "Step 2"
Advanced &gt; Zoom for Developers no longer exists in the Zoom settings.
Step 2 part 3, this app is also not present unless it is created? which step states how to do this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37280d15-75ea-7486-48d6-08e82fd4c1a4
* Version Independent ID: 037a01c2-1908-6ca4-f868-a9cd488e85d5

[2020-04-28 03:24] MarileeTurscak-MSFT commented on #52987
The "Resource not found" error generally happens if you have not consented.  You can see the modify permissions button in graph explorer and consent the permission.  You will need to click the blue "Consent" button.

If you still have this issue after and this does not resolve it, please send me an email at AzCommunity@microsoft.com and send me your Subscription ID, and I will open a one-time free