[2018-04-17 14:11] Ponant opened #7298 "Question on the Azure Search .Net SDK latency"
Hi,
It is probably a stupid question but I wonder if using Azure Search with the .Net SDK is not going to create an extra latency as we channel requests from the client to the web app controller which in turn will call the azure search engine, whereas the most straightforward will be to call the azure search instance directly from Javascript. Is that a correct reasoning?
Thanks
---
#### Document D

[2018-04-17 14:37] #6937 closed

[2018-04-17 14:39] rothja commented on #6863
@Ayanmullick I've asked internally and have had some initial feedback from our support engineers. Basically, Automated Backup is using SQL's managed backup feature behind the scenes. So monitoring techniques that support managed backup should work with Automated Backup as well. You can get alerts by using the smart_admin.sp_set_parameter procedure like this:

Use msdb
Go
EXEC smart_admin.sp_set_pa

[2018-04-17 15:00] davidmu1 commented on #7049
#in-progress

[2018-04-17 15:01] CGschliesser opened #7302 "Identify License Plate on Cars"
Hello,
I have a use case where I would have to identify the number on license plates. Strangely I get varying results depending on where i make the API call.
If i go to https://azure.microsoft.com/en-us/services/cognitive-services/computer-vision/ and try it there it seems to work better as if i call the API via Microsoft Flow and an API Key.

The accuracy of the results also strongly depends on t

[2018-04-17 15:02] MichaelHauss commented on #7237
Configuration of blob service level settings via ARM APIs is planned for the future. Unfortunately there is not an ETA I can give.

[2018-04-17 15:30] blitzedgh opened #7304 "1.1.751.0 Release Notes"
Can we get some release notes for the latest version please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5bc6d02-8ce9-e15d-4221-4aad75db260a
* Version Independent ID: 8a375b59-d371-361a-b77f-3658059b4bee
* Content: [Azure AD Connect: Version release history](https://docs.microsoft.com/en-us/azure/active-directory/c

[2018-04-17 15:30] rothtony opened #7305 "ok this is the second time I've made this request the docs do not seem correct."
Ok according to docs about comparing mfa cloud vs mfa server it states that mfa cloud supports custom greetings but its not working for us, is the doc correct in that it should work and that something else is going wrong or what? thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56319b59-e0f6-f0a7-c853-99cebcb5711a

[2018-04-17 15:34] Mike-Ubezzi-MSFT commented on #7226
@pekkaar The steps are part of this document: [Get started with cross-database queries (vertical partitioning)](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-elastic-query-getting-started-vertical), which is the document this GitHub issue was filed under. The functionality does work, it's just that the steps need to be more explicit in regards to creating an external data source

[2018-04-17 15:37] #7221 closed

[2018-04-17 15:55] SqlDavid commented on #6841
I am no authority on the matter, but I dont believe there is any extra cost associated with this. So that is the first difference. The other difference is that this replica is located in the same data center as your primary and should be transactionally consistent with the primary. So you skip the lag of hitting a different data center as well as the potential data consistency from the asynchronou

[2018-04-17 15:56] bandersmsft commented on #7257
Investigating this with the engineering team.
#in-process

[2018-04-17 16:01] Julieeeen opened #7306 "Get-AzureRmResourceGroup : A task was canceled"
Hi,

I got an error during the automation (start)

Maybe be good to add some retry ?

Get-AzureRmResourceGroup : A task was canceled.
At line:338 char:35
+                 $ResourceGroups = Get-AzureRmResourceGroup
+                                   ~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : CloseError: (:) [Get-AzureRmResourceGroup], TaskCanceledException
    + FullyQualifiedErrorId

[2018-04-17 16:02] MisterJimson opened #7307 "Configure App Insights SDK Step 1 Feedback"
Configure App Insights SDK Step 1 reads "Open your ASP.NET Core Web App project in Visual Studio > Right-click on the AppName in the Solution Explorer > Select Add > Application Insights Telemetry."

What if I am using VS for Mac? What if I am using a different IDE on Windows? What if I am using text editors? Can somewhere describe in detail what this option does and changes to the content of the

[2018-04-17 16:03] spottedmahn opened #7308 "Should this Page be a Child Of in the Menu"
will fill out on github...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36c209d9-c15f-87a4-a7ee-bb2bd3416961
* Version Independent ID: 2f76d983-a940-fa5f-abe0-4c851e377608
* Content: [Azure Active Directory B2C: Page UI customization helper tool](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-dire

[2018-04-17 16:03] MicahMcKittrick-MSFT commented on #7288
@anshuman-nath Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-17 16:07] #7162 closed

[2018-04-17 16:09] iainfoulds commented on #7233
@anshuman-nath As @MicahMcKittrick-MSFT notes, you can specify `--admin-username` to provide a username for the account to be created on the VM. Without that, the Azure CLI uses the username of your current shell login session. If the username you have logged into the Azure Cloud Shell or local PowerShell session contains those invalid characters, the VM create operation fails. The doc should prob

[2018-04-17 16:12] jlian commented on #7222
Wow, ok in that case please contact our support team https://portal.azure.com/?#blade/Microsoft_Azure_Support/HelpAndSupportBlade

[2018-04-17 16:12] jlian commented on #7270
In this case, please contact our support team https://portal.azure.com/?#blade/Microsoft_Azure_Support/HelpAndSupportBlade

[2018-04-17 16:13] iainfoulds commented on #7288
@anshuman-nath Check the _cloud-init.txt_ file you created, especially the very first line. So long as you followed the step to create the load balancer that allows traffic on TCP port 80 to reach the VM instances, the behavior sounds like cloud-init provisioning did not complete successfully. Most commonly, that's from an issue with that copy and paste of the cloud-init file as the opening format

[2018-04-17 16:13] davidmu1 commented on #7049
Revised the steps to reflect the current user interface in the Azure portal. A note currently exists in the article that says the setting applies to sign-in and a link is provided to an article that describes using custom policy for sign-up/sign-in.

#please-close

[2018-04-17 16:14] georgewallace commented on #7154
@ward0 Thank you so much for taking the time to ask a question. For starting and shutting down VMs in sequence we do use tags, a tag of sequencestop and/or sequencestart need to be added to the vms with their sequence. The runbook takes all the sequence numbers across your azure subscription for each sequence number, calls child runbooks to shutdown/startup the VMs.  So if you had 4 VMs with the s

[2018-04-17 16:27] MicahMcKittrick-MSFT commented on #7233
Thanks for clarifying that @iainfoulds! I was actually curious as to what login it used without specifying that and it makes total sense :)

[2018-04-17 16:31] rashaadfontenot opened #7310 "Clarification"
Here is the command to run on Python 3.5:

sudo ./setup.sh -p 3.5:

This NOTE could use some clarification:

You can also specify the version you want by running sudo ./setup.sh [--python-version|-p] [2.7|3.4|3.5]. If you run script without parameter, the script will automatically detect the version of python installed (Search sequence 2.7->3.4->3.5). Make sure your Python version keeps consistent

[2018-04-17 16:41] YutongTie-MSFT commented on #7078
@jeremyVignelles Hi, the document is provided [here](https://docs.microsoft.com/en-us/azure/machine-learning/preview/quickstart-visual-studio-tools), please check it. Thanks! We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-17 16:41] #7078 closed

[2018-04-17 16:43] aydeisen opened #7311 "Note on performance points to classic portal article"
The note that begins "For best performance, when you are using Azure VMs..." references a document for Instance-Level Public IP that is only used in classic deployments.  Is this article still relevant for Resource Manager deployments?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7b1b215-0434-145b-cd11-95d0f32bc015

[2018-04-17 16:49] MicahMcKittrick-MSFT commented on #7238
Also, can you share the exact code you are using to deploy? I can repo it as well.

[2018-04-17 16:54] YutongTie-MSFT commented on #7302
@CGschliesser  Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-17 16:57] YutongTie-MSFT commented on #7272
@miparnisari Thanks for the feedback! We are currently investigating and will update you shortly.

@jandral Hi, for document questions, please open a new thread so that we can help well. Thanks!

[2018-04-17 17:00] Mike-Ubezzi-MSFT commented on #7263
@DarinShapiroMS Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-17 17:03] Mike-Ubezzi-MSFT commented on #7310
@rashaadfontenot Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-17 17:03] MohitGargMSFT commented on #7208
@spottedmahn Thanks! I am assigning this issue to document author to check on your feedback and update as appropriate.

[2018-04-17 17:08] #7049 closed

[2018-04-17 17:10] miparnisari commented on #7272
@YutongTie-MSFT I actually created a PR for this: https://github.com/MicrosoftDocs/azure-docs/pull/7273

:)

[2018-04-17 17:11] bdcoder2 opened #7312 "How to test locally using System.Net.Http.HttpClient in C#"
When testing locally using a project that issues HTTP POST requests from a program created in Visual Studio, ie: using System.Net.Http.HttpClient, HttpClient always returns:

System.Net.Http.HttpRequestException: An error occurred while sending the request. ---> System.Net.WebException: Unable to connect to the remote server ---> System.Net.Sockets.SocketException: No connection could be made beca

[2018-04-17 17:13] SaurabhSharma-MSFT commented on #7264
@kimo72 Thanks for your feedback and glad to know that you are able to resolve it yourself

[2018-04-17 17:13] BryanTrach-MSFT commented on #7266
@rkyttle Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-17 17:16] mtillman commented on #7080
@MicrosoftDocs/azure-cxp-triage, This issue is actually on a page the @billmath should work on. Please assign it to him. Thanks.

[2018-04-17 17:16] BryanTrach-MSFT commented on #7271
@ToMakeSense Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-17 17:18] SaurabhSharma-MSFT commented on #7280
@viralnaik77
Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-17 17:18] SaurabhSharma-MSFT commented on #7269
@dreijer Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-17 17:18] BryanTrach-MSFT commented on #7278
@jingdabao Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-17 17:24] BryanTrach-MSFT commented on #7307
@MisterJimson Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-17 17:24] SaurabhSharma-MSFT commented on #7284
@sayanghosh123 Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-17 17:27] jason-j-MSFT commented on #7285
@Szer We are grateful for you interest and feedback, thanks for the follow up!

[2018-04-17 17:27] MohitGargMSFT commented on #7261
@AJRus @NiteCourt @outrun0506 Thanks for informing. I am checking on it and will update soon.

[2018-04-17 17:28] pilor commented on #7257
This is standard for Azure Powershell.  You can define all properties but they are driven off of different parameters on the cmdlet (i.e. -mode, -displayName, etc...).
https://docs.microsoft.com/en-us/powershell/module/azurerm.resources/new-azurermpolicydefinition?view=azurermps-5.7.0

If you want to work entirely in JSON you can hit the REST APIs directly and pass the full JSON resource.
https://

[2018-04-17 17:28] danmyhre opened #7315 "Audit Result on Compliance State"
Why would both "true" and "false" evaluate to a "Non-compliant" compliance state (see table above at https://docs.microsoft.com/en-us/azure/azure-policy/assign-policy-definition#identify-non-compliant-resources)?  Also, this isn't the behavior that I am seeing the portal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b

[2018-04-17 17:28] jason-j-MSFT commented on #7279
@lsilvamiguel
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-17 17:30] SaurabhSharma-MSFT commented on #7305
@rothtony Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-17 17:31] danmyhre opened #7316 "Policy Evaluation Timeframe"
Please add info / SLA information on how long it takes for policy definition changes to be re-evaluated across the environment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51022609-2dee-d21c-9274-384ed82b0f4e
* Version Independent ID: 832b8356-a0ed-06e2-a43a-a8eb0a5869dc
* Content: [Overview of Azure Policy](https:/

[2018-04-17 17:33] georgewallace commented on #6929
@Discostu36 For the workspace portion the there is just one tier available now https://azure.microsoft.com/en-us/pricing/details/log-analytics/. I am in the process of updating the docs, the solution will be updated as well to reflect the update in the pricing for log analytics.

[2018-04-17 17:33] #7233 closed

[2018-04-17 17:35] mack0196 opened #7317 "System.ServiceModel.AddressAlreadyInUseException"
I have many successes with netTcpRelayBinding and Azure Relay. Using the direction from this tutorial I am failing with System.ServiceModel>AddressAlreadyInUseException opening the WebServiceHost.
Address sb://NAMESPACE.servicebus.windows.net/RELAYNAME is already in use by an existing listener with different settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2018-04-17 17:43] bandersmsft commented on #7257
#please-close

[2018-04-17 17:45] MicahMcKittrick-MSFT commented on #7282
@spottedmahn Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-17 17:47] danmyhre commented on #7257
Would be nice if is was more like New-AzureRmResourceGroupDeployment where you could put everything in the ARM template.  Having to use API makes it more difficult than it needs to be for us admins to manage config in JSON.

[2018-04-17 17:50] MarkusVi commented on #7059
Hi @montereyharris, thanks for your feedback.
I have added some information about the "where" to the article.

#please-close

[2018-04-17 17:51] BryanTrach-MSFT commented on #7311
@aydeisen Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-17 17:51] tamram commented on #6587
@Serjster - Thanks for your feedback. Can you give us a little more information about what you are trying to do?

The article describes [creating a SAS](https://docs.microsoft.com/azure/vs-azure-tools-storage-explorer-blobs#get-the-sas-for-a-blob-container), [managing access policies for the container](https://docs.microsoft.com/azure/vs-azure-tools-storage-explorer-blobs#manage-access-policies-fo

[2018-04-17 17:52] MarkusVi commented on #7252
Hi @s-gratz, thanks for the feedback.
I have added this to the existing backlog item.

#please-close

[2018-04-17 17:54] BryanTrach-MSFT commented on #7317
@mack0196 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-17 17:57] BryanTrach-MSFT commented on #7275
@Jaydeep28 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-17 17:58] #5057 closed

[2018-04-17 18:00] BryanTrach-MSFT commented on #7281
@blueelvis Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-17 18:01] MicahMcKittrick-MSFT commented on #7280
@twooley can you confirm this for me? If so, I am happy to make the change.

[2018-04-17 18:02] BryanTrach-MSFT commented on #7298
@Ponant Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-17 18:03] MicahMcKittrick-MSFT commented on #7266
@rkyttle do you have the Azure AD module installed as well?

https://docs.microsoft.com/en-us/powershell/azure/active-directory/install-adv2?view=azureadps-2.0

[2018-04-17 18:04] SaurabhSharma-MSFT commented on #7283
@spottedmahn Thanks for the feedback !  I have assigned the issue to the content author to investigate and update the document as appropriate.

[2018-04-17 18:08] MicahMcKittrick-MSFT commented on #7311
@jimdial is this something you can advise on? Seems odd to me as well that we reference ARM in this article but have links to classic.

[2018-04-17 18:11] SaurabhSharma-MSFT commented on #7287
@spottedmahn Thanks for the feedback !  I have assigned the issue to the content author to investigate and update the document as appropriate.

[2018-04-17 18:12] MicahMcKittrick-MSFT commented on #7276
@dexterac thanks for that extra information. Can you share a sample or a screenshot of the exact output you are seeing?

[2018-04-17 18:12] BryanTrach-MSFT commented on #6456
@hauszerm We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-17 18:12] #6456 closed

[2018-04-17 18:12] SaurabhSharma-MSFT commented on #7304
@blitzedgh Thanks for the feedback !  I have assigned the issue to the content author to investigate and update the document as appropriate.

[2018-04-17 18:13] BryanTrach-MSFT commented on #6963
@dougbw We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-17 18:13] #6963 closed

[2018-04-17 18:13] BryanTrach-MSFT commented on #6969
@gavinhelyar We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-17 18:13] #6969 closed

[2018-04-17 18:14] BryanTrach-MSFT commented on #7097
@TomShinder We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-17 18:14] #7097 closed

[2018-04-17 18:16] SaurabhSharma-MSFT commented on #7308
@spottedmahn Thanks for the feedback !  I have assigned the issue to content author to investigate and update the document as appropriate.

[2018-04-17 18:16] Adam-Smith-MSFT commented on #7290
@imartinez2  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-17 18:18] CarlRabeler commented on #7251
@stevestein
Steve, Please look into this item

[2018-04-17 18:24] SaurabhSharma-MSFT commented on #7229
@reinaudvr Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-04-17 18:24] twooley commented on #7280
@MicahMcKittrick-MSFT Hello. Yes, the comment is correct. There should be a # symbol both before and after EXT. If you could make the update, that would be great. Thanks!

[2018-04-17 18:24] RobdeJong commented on #7261
Hi - the email was sent in error, please disregard it.

[2018-04-17 18:29] dexterac commented on #7276
PS D:\Packer> .\packer.exe build .\win12img01.json
apr2018img output will be in this color.

==> apr2018img: Running builder ...
    apr2018img: Creating Azure Resource Manager (ARM) client ...
==> apr2018img: Using existing resource group ...
==> apr2018img:  -> ResourceGroupName : 'packerrg'
==> apr2018img:  -> Location          : 'eastus'
==> apr2018img: Validating deployment template ...
==> a

[2018-04-17 18:31] MohitGargMSFT commented on #7261
@AJRus @NiteCourt @outrun0506 We sincerely apologize for the inconvenience caused. As informed by Rob, the email was sent through system in error and do disregard it.

[2018-04-17 18:32] MicahMcKittrick-MSFT commented on #7280
@twooley thanks for confirming :)

@viralnaik77 I have submitted the change. This issue will automatically close once it goes live. Thank you for the find!

[2018-04-17 18:33] femsulu commented on #7270
@khongminh as Jilian mentioned, you will need to engage Azure support team via the link shared above.
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-17 18:33] #7270 closed

[2018-04-17 18:33] j-burt commented on #7261
Same issue at another site I belong to, they were already running Azure AD Connect, but the email was sent to their tenant admins anyway.  Ignoring email.

[2018-04-17 18:34] NiteCourt commented on #7261
@MohitGargMSFT @RobdeJong  Thank You.

[2018-04-17 18:35] MicahMcKittrick-MSFT commented on #7305
@rothtony as an FYI you can reopen an issue that was closed if you do not feel the answer provided as sufficient. I will close this out as a duplicate and lets continue to discuss on the original as it has more context :)

Duplicate of #5362

[2018-04-17 18:35] #7305 closed

[2018-04-17 18:35] peddabavisriram opened #7322 "session persistence"
doc says Specify none for the default behavior of 5-tuple load balancing for session persistence but i see on the portal when i hop over as none says it send successive requests from same client may be handled by any backend VM... which is correct 1st or 2nd? could you please correct this to any one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2018-04-17 18:36] MicahMcKittrick-MSFT commented on #5362
@jrochet as mentioned on the other issue, I closed that one and we can continue here with the original. I will do a bit of research and get back to you on this.

[2018-04-17 18:36] femsulu commented on #7316
@danmyhre Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-17 18:38] femsulu commented on #7315
@danmyhre Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-17 18:40] femsulu commented on #7297
@ssflynn77  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-17 18:42] femsulu commented on #7294
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-17 18:42] Sara-Nicolini commented on #7259
@SaurabhSharma-MSFT, can you please assign loc issues to @DavidPrio

[2018-04-17 18:43] MicahMcKittrick-MSFT commented on #5362
@jrochet Do you have an MFA server that is integrated with Azure AD or is it a stand alone? The settings in this doc are specific to the Azure Portal and Azure MFA. That is not to say the settings are not available in an on prem MFA server but the process to go about using them would be different.

[2018-04-17 18:44] femsulu commented on #6807
@arcotek-ltd, We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-17 18:45] #6807 closed

[2018-04-17 18:45] Sara-Nicolini commented on #7271
@BryanTrach-MSFT can you please assign this issue to @DavidPrio
@SunnyDeng, FYI.

[2018-04-17 18:47] Sara-Nicolini commented on #6270
@MohitGargMSFT, can you please assign this issue to @DavidPrio

[2018-04-17 18:48] Sara-Nicolini commented on #5797
@amanarneja, can you please assign this issue to @DavidPrio

[2018-04-17 18:48] Sara-Nicolini commented on #5683
@tysonn, can you please reassign this issue to @DavidPrio

[2018-04-17 18:49] Sara-Nicolini commented on #5612
@tysonn, can you please reassign this issue to @DavidPrio

[2018-04-17 18:50] #7280 closed

[2018-04-17 19:02] Serjster commented on #6587
Wish I could help you, but this was too long ago.

[2018-04-17 19:03] andy135790 opened #7323 "Trace without subscription key"
This document says to enable trace, one should include Ocp-Apim-Trace and Ocp-Apim-Subscription-Key in request header. What if the API I want to trace does not require subscription?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5310021d-de39-9418-2a55-ccdd9c2f4db0
* Version Independent ID: ad38bf02-de35-7d67-def7-b1a0

[2018-04-17 19:05] tamram commented on #6587
#please-close

[2018-04-17 19:05] CarlRabeler commented on #6563
For pricing information, see https://azure.microsoft.com/en-us/pricing/details/sql-database/single/

[2018-04-17 19:07] bandersmsft commented on #7315
Investigating.
#in-process

[2018-04-17 19:09] MicrosoftGuyJFlo commented on #5362
In regards to your question in the other issue the custom greeting for cloud-based MFA, you can use this option to set greetings. NOTE: They must be in a WAV or MP3 format to work.

[2018-04-17 19:13] mrbullwinkle commented on #7077
@alvarezskinner thanks for the feedback, the doc is now updated with a screenshot without the HTML tags.

[2018-04-17 19:25] Mike-Ubezzi-MSFT commented on #7083
@fredriktonn We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-17 19:25] #7083 closed

[2018-04-17 19:27] CarlRabeler commented on #6563
https://github.com/MicrosoftDocs/azure-docs-pr/pull/38154

#please-close

[2018-04-17 19:30] #6587 closed

[2018-04-17 19:36] gcopley commented on #7249
@BryanTrach-MSFT Thank you! I updated my VS2017 install and I am now seeing the the Pages/Index.cshtml file as described in the documentationb. My apologies for the false alarm.

[2018-04-17 19:36] #7249 closed

[2018-04-17 19:37] mrbullwinkle commented on #7307
@MisterJimson Thank you so much for the feedback. The idea behind the quickstarts across Azure is that they show a single shortest path to a solution rather than all possible solutions/IDEs. It's a nice idea in theory (and works better for certain other services), but as your comment points out, in this case, it doesn't help you very much if you aren't using Visual Studio on Windows. We have a [mo

[2018-04-17 19:40] rothtony commented on #5362
@MicrosoftGuyJFlo ok so with mfa cloud only we should be able to configure custom greetings and this is done within the settings for  mfa server?  If so it doesn't really work!!!  I don't see these settings anywhere else am I missing something?  Not trying to make this a support case I just don't think the docs are accurate since I've edited the custom greetings with a proper mp3 file and I get th

[2018-04-17 19:47] Mike-Ubezzi-MSFT commented on #7117
@behnam89 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-17 19:47] #7117 closed

[2018-04-17 19:49] davidmu1 commented on #7074
Updated the steps to use the URL https://apps.twitter.com instead of the developer portal.

#please-close

[2018-04-17 19:52] mrbullwinkle commented on #7223
@kobulloc-MSFT you can assign this one to me.

[2018-04-17 19:53] danmyhre commented on #7237
Cool, thanks for the info.  Might want to add a note about the lack of ARM template support around this section: https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-soft-delete#powershell.  Thanks for the quick response!

[2018-04-17 19:54] MicrosoftGuyJFlo commented on #5362
![image](https://user-images.githubusercontent.com/25777989/38893107-3605247c-423e-11e8-8709-e5c211c78bf4.png)
I just tested this in my test tenant with an MP3 file and it worked.
Greeting Type = Greeting (Standard)
Language = English
Application = LEFT BLANK
Sound File = mp3 File

[2018-04-17 19:55] Mike-Ubezzi-MSFT commented on #7152
@giladmit Any contribution you can make here, without needing additional information from @TravisLaGrone? I am not sure if there is additional documentation needed in this case, or if this is purely a product question.
Regards,
Mike

[2018-04-17 19:56] CarlRabeler commented on #7123
fixed - see https://github.com/MicrosoftDocs/azure-docs-pr/pull/38165

[2018-04-17 19:59] #7123 closed

[2018-04-17 20:01] YutongTie-MSFT commented on #7302
@CGschliesser Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@cjgronlund Hi, this is a product question about cognitive, can you please check and help? Thanks a lot!

[2018-04-17 20:03] Mike-Ubezzi-MSFT commented on #7242
Adding previous GitHub instances related to this specific issue: GitHub #5 (https://github.com/Azure-Samples/web-apps-node-iot-hub-data-visualization/issues/5)
GitHub #30 (https://github.com/Azure/azure-event-hubs-node/issues/30)

[2018-04-17 20:05] YutongTie-MSFT commented on #7272
@miparnisari Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@SteveMSFT Can you please help and check the document and update the document as necessary? Thanks a lot!

[2018-04-17 20:11] YutongTie-MSFT commented on #7143
@zhanpengli  Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@v-geberr Hi, this is a product issue about LUIS boundaries, can you please check and help with it? Thanks a lot!

[2018-04-17 20:12] YutongTie-MSFT commented on #7218
@maybebored  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-17 20:12] #7218 closed

[2018-04-17 20:12] MisterJimson commented on #7307
Awesome. Thanks for the update. I did notice that it was a quick start doc, but I hate steps that do "magic" and assume that magic will work for everyone.

Enabling app insights requires such little changes to your solution that it seems overkill to direct people to a tool instead of teaching them how to do it. Hard to balance, i know, since you also want to get people going as fast as you can.

T

[2018-04-17 20:18] tamram commented on #5519
@phatcher - We fixed this back in March. My apologies that we didn't respond to you before now.

I made one more minor clarification in the article. If you see any further issues, please let us know.

#please-close

[2018-04-17 20:31] MohitGargMSFT commented on #7125
@evh69 We will now proceed to close this issue. Please open a new issue with requested information and we will be able work on your feedback. Thanks.

[2018-04-17 20:31] #7125 closed

[2018-04-17 20:32] uriux-andrewd opened #7324 "program"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11bbaa44-52ed-33fd-d710-af73d3665ec9
* Version Independent ID: b11deb17-311c-3aa3-78a7-1f8cdc7e9e5e
* Content: [Azure Container Registry authentication with service principals](https://docs.microsoft.com/en-us/azure/container-registry/container-regist

[2018-04-17 20:32] MohitGargMSFT commented on #7182
@chenxizhang Thanks. I will work with you through MSDN forum and move ahead to close this issue.

[2018-04-17 20:32] #7182 closed

[2018-04-17 20:33] deldersveld opened #7325 "Step 4: Upload Images Error"
For Step 4 with Python 3.6 hosted in Azure Notebooks, I got the following error: "TypeError: __init__() takes 1 positional argument but 3 were given"
I had to change * ImageUrlCreateEntry(image_url, [ hemlock_tag.id ] ) * to * ImageUrlCreateEntry(url=image_url, tag_ids=[ hemlock_tag.id ]) * to get the code to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2018-04-17 20:34] deldersveld commented on #7325
Hemlock works from the sample below, but Cherry does not. Positional args did not work in 3.6.
![image](https://user-images.githubusercontent.com/11548654/38895147-37c22174-425d-11e8-828b-67255fe571c3.png)

[2018-04-17 20:41] Mike-Ubezzi-MSFT commented on #6484
@SamirFarhat Did this information resolve the issue being experienced?
Regards,
Mike

[2018-04-17 20:41] MohitGargMSFT commented on #7187
@jjgriff93 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-17 20:41] #7187 closed

[2018-04-17 20:42] MohitGargMSFT commented on #7190
@laultman Request you to update on above.

[2018-04-17 20:42] MohitGargMSFT commented on #7191
@CarlosOnline We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-17 20:42] #7191 closed

[2018-04-17 20:44] SamirFarhat commented on #6484
Hi,

Thanks.
This is actually my problem. I have created data, then stopped CosmosDB Emulator, then started CosmosDB using an alternative port. Is there a solution to this ?

[2018-04-17 20:44] MohitGargMSFT commented on #7194
@laultman We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-17 20:44] #7194 closed

[2018-04-17 20:44] #7195 closed

[2018-04-17 20:46] MohitGargMSFT commented on #7243
@Naboo2604 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-17 20:46] #7243 closed

[2018-04-17 20:46] #7261 closed

[2018-04-17 20:51] mack0196 commented on #7317
I had webHttpRelayBinding.binding.isDynamic = "false" getting this error.
The tutorial sample @
https://code.msdn.microsoft.com/Relayed-Messaging-Bindings-a6477ba0 uses
isDynamic="true". Making that change in my solution did the trick. It is
not a deal breaker, but I like to have the relay there and see there are no
subscribers.

It seems like webHttpRelayBinding only works for dynamic relay scena

[2018-04-17 20:57] Mike-Ubezzi-MSFT commented on #7248
@SnehaGunda In the [How does partitioning work](https://docs.microsoft.com/en-us/azure/cosmos-db/partition-data#how-does-partitioning-work) section, the last bullet point:

- When you provision throughput higher than t*N, Azure Cosmos DB splits one or more of your partitions to support the higher throughput.

What is the **higher throughput** value and how is that derived?

[2018-04-17 21:04] Mike-Ubezzi-MSFT commented on #7263
@DarinShapiroMS Does this document meet your needs?

[Common issues and resolutions for Azure IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot)

[2018-04-17 21:07] mike-urnun-msft commented on #6826
@pfoolen We will now proceed to close this thread. If there are further questions regarding this matter,
please reopen it and we will gladly continue the discussion.

[2018-04-17 21:07] #6826 closed

[2018-04-17 21:12] dzimine opened #7326 "State loud and clear that Mac is not supported for simulated device tutorials"
While "Simulate a device on your PC" should obviously imply that it is not for Mac, it took me more than I'd like to realize that `azure-iothub-service-client` is not built for mac-os. Suggest a warning, or better yet, making it work for Mac for a large mac dev populations.
Sure I create a Vagrant VM and continue the sample there, but it's friction.

---
#### Document Details

⚠ *Do not edit this

[2018-04-17 21:14] femsulu commented on #7322
@peddabavisriram, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-17 21:19] Ayanmullick commented on #6863
Identified source and category in Application event logs. Testing to simulate backup failure to get the event ids to create Log Analytics alerts.

Source|Category
-- | --
MSSQLSERVER| Backup
SQLBackupToUrl| -

[2018-04-17 21:29] MicahMcKittrick-MSFT commented on #7219
@fajanssen the restore points should still keep your preferences of 7 days. You could set the retention policy to [something higher](https://docs.microsoft.com/en-us/azure/backup/tutorial-backup-vm-at-scale#set-backup-policy-to-protect-vms) to keep them longer. If you are looking to keep backups for test scenarios you also could make copies of the VHD at a point in time to use for these test scena

[2018-04-17 21:35] v-geberr commented on #7143
@LearZhuang This is a product issue, not a documentation issue. Please [login](https://www.LUIS.ai) to  and select "Support" then "General Inquiry through User Voice". Once you do that, the support team can direct your request to the proper people.

[2018-04-17 21:40] bdcoder2 commented on #7312
Oh good grief – my sincerest apologies!

I had http://localhost:7170/ as the base URL in a config file rather than (the correct) http://localhost:7071/

Two hours looking at the exception and I didn’t clue in – time for a holiday!

Once again – sorry for the false alarm and thanks for the quick reply !!

[2018-04-17 21:40] #7312 closed

[2018-04-17 21:48] JinYam commented on #7302
I'm the Product Manager in charge of OCR at Microsoft - thank you for your feedback/inquiry.

Unfortunately, currently deployed OCR engine was not designed for license plates, which typically consist of short, non-dictionary words with lots of numbers. (It was designed mostly for documents.) This is the reason you are seeing inconsistent results.

License plate is a frequently requested use case f

[2018-04-17 21:51] chrismwendt opened #7328 "Default cores per subscription differs from docs"
My Azure account started with a quota of 10 cores, but the docs say that I should have 20 cores by default. I'm not entirely sure what's causing this discrepancy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Version Independent ID: 27aecc7b-f107-96d4-b044-ae026bca2727
* Content:

[2018-04-17 21:52] muralikk commented on #7253
#sign-off

[2018-04-17 21:53] MicahMcKittrick-MSFT commented on #7276
Thanks @dexterac for the extra information. I ran through the doc as it is and I am not seeing any issues.

@iainfoulds do you have any thoughts on this? Else, we might need to move to the forums to get the correct eyes on it.

[2018-04-17 21:55] muralikk commented on #7250
Thanks for the feedback we are working on unifying the versions and having a single version of the software and also working on updating the documentation

[2018-04-17 21:57] Mike-Ubezzi-MSFT commented on #7106
Hi @SharmainePopov GitHub is a public repository and intended to support the Azure documents. The Azure Advisors group on Yammer is a more applicable resource to leverage to find the information you are seeking. If you are still in need of this information, let's take this conversation offline and I can redirect you internally. The response to your additional request is sensitive in nature and not

[2018-04-17 21:58] mtillman commented on #5634
#please-close

[2018-04-17 21:58] MicahMcKittrick-MSFT commented on #7312
@bdcoder2 thanks for the update and glad to hear you figured it out. And no worries, it happens to the best of us :)

[2018-04-17 22:00] davidmu1 commented on #7121
Changed step 11 to: Enter the key description, select a duration, and then click **Save**. The value of the key is displayed. Copy it because you will use it in the steps in the next section.

#please-close

[2018-04-17 22:00] dexterac commented on #7276
How did you open the firewall port and enable winrm service? Are you using
market image or custom vhd. Share your json file please.

On Tue, Apr 17, 2018, 2:53 PM Micah <notifications@github.com> wrote:

[2018-04-17 22:02] MikeRayMSFT commented on #6971
In regular WSFC (Windows server failover cluster) on-prem setup, when AG listener is created, it will create a DNS record for AG listener with the IP(s) provided. This IP address has to map now to MAC address of the current Primary node in ARP tables of switches/routers in the network. The cluster does this by using Gratuitous ARP (GARP) where it will broadcast to the network the latest IP-to-MAC

[2018-04-17 22:03] yois615 opened #7329 "UPS for return shipping"
The portal does not allow return shipping via UPS, only FedEx and DHL.  The documentation is incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8101ceee-eb49-ec7c-dc15-0d9ca1dad85f
* Version Independent ID: 22ff579e-38f7-800e-d83f-a079a714a8fd
* Content: [Using Azure Import/Export to transfer data to and from Az

[2018-04-17 22:04] MicahMcKittrick-MSFT commented on #7324
@uriux-andrewd thanks for reaching out. If you have feedback please open a new issue with a description of the problem.

[2018-04-17 22:04] #7324 closed

[2018-04-17 22:05] yois615 commented on #7329
In the FAQ at the bottom of the page it is stated explicitly, but higher up in the page (#7 out of 11 results for the term "UPS") is where the problem is.

[2018-04-17 22:05] JennieHubbard commented on #7101
@evge22 I saw your last comment about the limits. I am not sure so have contacted the engineering team for clarification.

[2018-04-17 22:28] xMTinkerer commented on #7053
Can you add a screen shot showing the Tenant name and how to find the GUID? I have "Company, Inc", but that won't fly for Graph API requests. Or is this the "friendly" name referred to here: https://developer.microsoft.com/en-us/graph/docs/concepts/auth_v2_service

[2018-04-17 22:30] v-geberr commented on #6965
@codepossible The zoomable screen shots are beginning to roll out. The first page to have them is [this one](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/create-new-app). If this fix is satisfactory, I would like to finish and close this issue.

[2018-04-17 22:30] iainfoulds commented on #7276
@MicahMcKittrick-MSFT @dexterac Packer creates the temporary resources and should enable the security group rules for WinRM if they don't already exist. There are no rules you need to create in Azure for this. The Packer builder uses Azure API calls to create and configure the Azure resources as needed. There's not really anything to configure, other than define the base VM image, size, resource g

[2018-04-17 22:35] kobulloc-MSFT commented on #7323
@andy135790 Happy to hear that this is resolved!  Thank you very much for the follow up.

[2018-04-17 22:36] MicahMcKittrick-MSFT commented on #7266
@rkyttle thanks for that. I just did a test and I am also having issues. Seems others are as well.

@rolyon I see you are the author of https://docs.microsoft.com/en-us/azure/role-based-access-control/change-history-report Do you have any idea on this?

[2018-04-17 22:39] antonsavin opened #7332 "Broken markup"
Markup is broken in inactivity-lifetime section example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93b131cc-aa0e-5ca8-43ad-b2380e1c67be
* Version Independent ID: 4b73f383-11bc-c09b-9d8f-cf028aee2c5d
* Content: [Session Management - Microsoft Threat Modeling Tool - Azure](https://docs.microsoft.com/en-us/azure/secur

[2018-04-17 22:41] vasivara-MSFT commented on #7052
@pvmraghunandan Since we haven't received any reply, We will now proceed to close this thread. Please reopen and let us know more details. We will gladly continue the discussion and look into this issue.

[2018-04-17 22:41] #7052 closed

[2018-04-17 22:41] dexterac commented on #7276
Hi Micah,

Yeah I understand that Packer will execute this under an existing resource
group (when "build_resource_group_name" is used) or create new resource
group and build it in the RG with creation of NSG, network, etc.
In our setup we are using a dedicated Resource group and the network
interface is part of another Resource Group mentioned with the option
: "virtual_network_resource_group_name

[2018-04-17 22:51] femsulu commented on #7328
@chrismwendt , Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-17 22:58] Mike-Ubezzi-MSFT commented on #7106
@SharmainePopov I am going to close this GitHub issue, and if there is further discussion needed, please feel free to reach out via email (GAL).
Regards,
Mike

[2018-04-17 22:58] #7106 closed

[2018-04-17 23:08] BryanTrach-MSFT commented on #7326
@dzimine Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-17 23:11] BryanTrach-MSFT commented on #5519
@phatcher We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-17 23:11] #5519 closed

[2018-04-17 23:12] BryanTrach-MSFT commented on #5634
@stevep4 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-17 23:12] #5634 closed

[2018-04-17 23:13] BryanTrach-MSFT commented on #6563
@dynamicwebpaige We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-17 23:13] #6563 closed

[2018-04-17 23:14] BryanTrach-MSFT commented on #7059
@montereyharris We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-17 23:14] #7059 closed

[2018-04-17 23:14] BryanTrach-MSFT commented on #7074
@thuansoldier We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-17 23:14] #7074 closed

[2018-04-17 23:15] BryanTrach-MSFT commented on #7121
@evh69 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-17 23:15] #7121 closed

[2018-04-17 23:16] BryanTrach-MSFT commented on #7252
@s-gratz We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-17 23:16] #7252 closed

[2018-04-17 23:16] David-Engel commented on #7251
It looks like it's generally documented here:
https://docs.microsoft.com/en-us/sql/powershell/navigate-sql-server-powershell-paths
And since this is going against an Azure SQL DB, you'll probably need to handle authentication a little differently:
https://docs.microsoft.com/en-us/sql/powershell/manage-authentication-in-database-engine-powershell
I was able to do it using the sqldrive function in t

[2018-04-17 23:16] bandersmsft commented on #7316
@danmyhre Hi Dan, policy changes and reevaluation happens about once an hour.
#please-close

[2018-04-17 23:25] CarlRabeler commented on #6033
@Mike-Ubezzi-MSFT The recommendation in the paragraph in question explains why we recommend running DMA to provide an assessment of the current state of a database for migration to SQL Database. While it is true that not all of these limitations will apply to Managed Instances - some do and understanding the results from running the DMA tool will be useful before beginning a migration to a Managed

[2018-04-17 23:25] nitinkallikat commented on #6981
@msfussell, I was not able to make it work as described.

e.g, my `ServiceDnsName="services.data"` in my `ApplicationManifest.xml` and I tried calling it as
[code]

I observe that unless I provide the port value explicitly in the Uri, it doesn't work.

@sfilatov, did it work for you?

[2018-04-17 23:25] femsulu commented on #7328
@chrismwendt What type of Azure Subscription do you have? Free trial, Pay-as-you-go?

[2018-04-17 23:26] YutongTie-MSFT commented on #7325
@deldersveld Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-17 23:36] Mike-Ubezzi-MSFT commented on #7278
@navyasric  As mentioned in the following document: [Azure Active Directory application manifest
](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-application-manifest)

Valid values for this are:
![screenshot 119](https://user-images.githubusercontent.com/37126106/38903962-5d8286ca-425c-11e8-8dc6-0023a0ab42d6.png)

So, if I enter a [GUID] value, I get the followin

[2018-04-17 23:36] mattchenderson commented on #7035
EasyAuth is not used in official capacities. We should not acknowledge it in the documentation.

[2018-04-17 23:44] tfitzmac commented on #7297
@ssflynn77 - thanks for this question. There is not a way to only show recommended sizes. If you really need to restrict the displayed sizes, you could use allowedSizes. Users can sort by recommended sizes if that is the view they want.

We are taking feedback about this new display and may make changes in the future based on that feedback. We have noted your preference for sorting or filtering by

[2018-04-17 23:47] femsulu commented on #7328
@chrismwendt There are a 2 main factors that influence default quota limits for Core count. These include
1.) offer Category **Type** set on your Azure Subscription e.g.  Free Trial, Pay-As-You-Go, and
2.) **VM series/size availbility** per region such as Dv2, F, G, etc.

This is called out in the footnotes under "**Subscription Limits - Azure Resource Manager**"

Noteworthy Reference:
![image](ht

[2018-04-17 23:48] jhenriks79 commented on #6033
The way you just described why DMA is important is far more helpful than what currently exists in that paragraph in the docs. Suggest you reword that paragraph.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Carl Rabeler <notifications@github.com>
Sent: Tuesday, April 17, 2018 4:25:21 PM
To: MicrosoftDocs/azure-docs
Cc: jhenriks79; Mention
Subject: Re: [Microsof

[2018-04-17 23:52] CarlRabeler commented on #6033
Thanks – will rewrite for the author.

From: jhenriks79 <notifications@github.com>
Sent: Tuesday, April 17, 2018 4:49 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Carl Rabeler <Carl.Rabeler@microsoft.com>; Comment <comment@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Very Confusing Paragraph (#6033)

The way you just described why DMA is important is far more

[2018-04-17 23:56] stefsch commented on #7275
Access can only be gated on IP addresses - not domain names.

[2018-04-18 00:01] DarinShapiroMS commented on #7263
That’s a great start, thanks!

Btw,  the new system of comment handling on documentation is a HUGE improvement!

From: Mike Ubezzi <notifications@github.com>
Sent: Tuesday, April 17, 2018 2:05 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Darin Shapiro <dashapir@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] IoT Edge Agent error c

[2018-04-18 00:05] Mike-Ubezzi-MSFT commented on #7310
Here is the current document:
![screenshot 122](https://user-images.githubusercontent.com/37126106/38904361-d237a35e-425e-11e8-9e56-01b17da4b15c.png)

If you desire to run version 2.7 or 3.4, the command would be

sudo ./setup.sh -p 2.7
or
sudo ./setup.sh -p 3.4

It also states that

So, the Python version should remain the same during the lifecycle of the device.

Is there something specific that

[2018-04-18 00:09] SaurabhSharma-MSFT commented on #7332
@antonsavin Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-04-18 00:26] MicahMcKittrick-MSFT commented on #7276
Thanks @iainfoulds for the extra information. Very Useful :)

@dexterac I followed everything directly in the steps. I already removed the resource group from my subscription but the JSON was no different than the examples with the exception of my own tenant ID and Subscription ID.

Could you try simply following the tutorial to see if you can get that up and running? From there you can start narr

[2018-04-18 00:35] MicahMcKittrick-MSFT commented on #7284
@davidmu1 would you happen to have any insights into this? I would also assume we could query this information via API but I cannot seem to find anything. Else, if you are not sure then @sayanghosh123 we might have to direct you to submit a forum post on this issue to get more eyes and suggestions.

[2018-04-18 00:47] dexterac commented on #7276
1. The steps in document use Marketplace Windows image.

"image_publisher": "MicrosoftWindowsServer", "image_offer": "WindowsServer",
"image_sku": "2016-Datacenter",

2.  We do not want to use the marketplace windows image so replaced it with:

"image_url": "https://packerstorage01.blob.core.windows.net/images/Win-2012.vhd"

3. Our images once built enable firewall and disable WinRM. Previously we

[2018-04-18 00:55] rolyon commented on #7266
@MicahMcKittrick-MSFT @rkyttle - I think you now use the Azure Activity Log in the Administrative category.
https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-overview-activity-logs

[2018-04-18 00:56] MicahMcKittrick-MSFT commented on #7266
Thanks @rolyon! @rkyttle can you take a look and let us know if that helps?

[2018-04-18 01:13] gadamilan commented on #7101
@EvGe22 can you please send your video id to visupport@microsoft.com, so that the engineering team can investigate this?

[2018-04-18 01:47] jessejiang0214 commented on #6812
@BryanTrach-MSFT Yes, this part is important for settings.

[2018-04-18 01:52] BryanTrach-MSFT commented on #6812
@jwhiteDev Can you please investigate this? It's my understand that the Android manifest is already included in the document but I wanted to have your input incase I was misunderstanding the issue.

[2018-04-18 01:52] BryanTrach-MSFT commented on #6851
@vchelaru Since we haven't heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-18 01:52] #6851 closed

[2018-04-18 01:58] SteveBurkettNZ opened #7342 "Needs updating for version 2.2"
Under the Version History section, it states 'The latest ASR Deployment Planner tool version is 2.1', but the current download available from https://aka.ms/asr-deployment-planner is v2.2.

Similar required on the VMware page (https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-deployment-planner) and the linked ASR Deployment Planner Version History wiki page needs updating with re

[2018-04-18 02:13] genlin commented on #7177
@jankod For this problem, please contact our support team https://portal.azure.com/?#blade/Microsoft_Azure_Support/HelpAndSupportBlade

[2018-04-18 02:33] BryanTrach-MSFT commented on #7133
@CraigHumphrey When restoring the backup, the selected DB snapshot overwrites the current DB. This is verified by the below message, which is displayed to the user when trying to restore from a backup. If you wish to have greater control over the restore of your DB, many of the services such as Azure SQL include backup tools built in that allow for greater control.

"Your backup includes a databas

[2018-04-18 02:33] #7133 closed

[2018-04-18 02:34] BryanTrach-MSFT commented on #6019
@ddst0111 Since we haven't heard back from you recently, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-18 02:34] #6019 closed

[2018-04-18 02:49] rkyttle commented on #7266
I am familiar with Azure Activity Logs, but I don't see a default way to use them to just show a history of access level changes like Get-AzureRMAuthorizationChangeLog claimed to be able to do.  If I select the Administrative category, I am seeing different events other than just changes to account access.

[2018-04-18 02:50] BryanTrach-MSFT commented on #6331
@rizwaans Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-18 02:50] #6331 closed

[2018-04-18 03:24] monteledwards opened #7347 "Bandwidth information for B-series VMs"
There is no bandwidth information on B-series VMs in the documentation - how much throughput do these machines have?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bb1d37c-6337-0906-42ff-b5dbc6afdc8b
* Version Independent ID: 72a96e16-1d2d-4c01-45be-3caf82470592
* Content: [Azure Windows VM sizes - General purpose](ht

[2018-04-18 04:38] rwike77 commented on #7169
@roddw2 Thanks for the feedback, I'll investigate and update in the next couple days.

[2018-04-18 05:07] MohitGargMSFT commented on #7053
@xMTinkerer I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-18 05:16] slavizh opened #7348 "One of the images does not look good in dark theme"
One of the images does not look good in dark theme. The second one

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f38b1bd-2ab0-71f1-a6e9-925b7af3389d
* Version Independent ID: 9528f5cf-16e1-0550-dc3e-edc135c82167
* Content: [Azure DDoS Protection Standard Overview](https://docs.microsoft.com/en-us/azure/virtual-networ

[2018-04-18 05:34] xMTinkerer commented on #7053
Thanks. I eventually managed to find it in the url after logging into `https://portal.azure.com`. After logging in, you are redirected to `https://portal.azure.com/#@MYCOMPANY.onmicrosoft.com/`. But the doc is vague in that it says you can find it in the upper right corner. In my case this was not true as in the upper right corner it had my username, then "Company, Inc." below that. Which did not

[2018-04-18 05:45] srsiva opened #7349 "Broken link"
The link specified in the paragraph below is broken:-

Then install the Azure Cosmos DB assemblies locally in order to use these PowerShell cmdlets. For instructions on how to do that, see Azure RM Storage Tables PowerShell module for Cosmos DB Tables.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5eedf922-624f-e94c-3

[2018-04-18 06:16] yuharucan opened #7350 "What is Always ON functionality?"
"For the remote storage configurations, SQL Database uses Always ON functionality to failover databases during upgrades."
Is AlwaysOn functionality is AlwaysOn FCI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15036ef6-9c0b-044e-d600-b9f90f039720
* Version Independent ID: 6fe5cd14-a1ad-e183-a048-d72686abb969
* Conten

[2018-04-18 06:42] hpsin commented on #6485
Note - @MatLeger you're correct about the tenant that needs to be used - otherwise the app is asking for permissions against the "common" tenant, which doesn't make sense.  Use the `common` tenant when getting admin consent, and then look at the `tenant` query parameter in the redirect.  Then, use this tenant value in the Access Token requests.

@MohitGargMSFT - I'll have a PR out this week fixing

[2018-04-18 07:04] yuharucan opened #7352 "replica metric"
Can Azure Monitor monitor replica's metrics?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a48d2c19-151e-3845-7f1a-ba1725738a62
* Version Independent ID: 608dca2a-3a1b-3ddd-cc28-969f84730b58
* Content: [Azure Analysis Services scale-out](https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-scale-

[2018-04-18 07:29] yuharucan opened #7353 "How do the sync work?"
"When processing operations are completed, a synchronization must be performed between the processing server and the query replica servers. "
Does this work as like following?
After processing operations are completed, the data files of processing server are copied, and additional query replicas attach the data files. Or additional query replicas attatch the data files of processing server on read

[2018-04-18 07:29] cephalin commented on #5957
PowerShell specific syntax added. #please-close

[2018-04-18 07:33] cephalin commented on #6092
@usharam73 I believe the original error was related to running the CLI command in the PowerShell cloud shell. The tutorial is now updated with PowerShell specific syntax. #please-close

[2018-04-18 08:50] cosminstirbu commented on #5759
Same issue here. I'm confused of what should we add in the Token field :-?

[2018-04-18 08:52] dominicbetts commented on #7326
Hi @dzimine - thanks for getting touch. Which language tutorials did you try? I assume form the name of the package (azure-iothub-service-client) that it was Python? There is already a note on https://docs.microsoft.com/azure/iot-hub/iot-hub-python-getstarted page that states:

"Note: The pip packages for azure-iothub-service-client and azure-iothub-device-client are currently available only for W

[2018-04-18 08:56] cosminstirbu commented on #5759
Apple says that the Token should be generated in the last hour.

To ensure security, APNs requires new tokens to be generated periodically. A new token has an updated issued at claim key, whose value indicates the time the token was generated. If the timestamp for token issue is not within the last hour, APNs rejects subsequent push messages, returning an ExpiredProviderToken (403) error.

https:/

[2018-04-18 09:11] alvarezskinner commented on #7077
Amazing! super fast response! thanks!

[2018-04-18 09:21] msghaleb opened #7354 "Proxy Settings"
I would highly recommend adding a screenshot showing the proxy settings (I saw many customers who are not sure how to add them) a link to an automated script would be a great idea too. However the most important part here is that proxy doesn't work for updates installation ..etc unless the below commands ran on the cmd admin command windows:

netsh
winhttp
import proxy source=ie

This is extremely

[2018-04-18 09:32] xela30 opened #7355 "Single Service Fabric cluster that spans multiple datacenters or regions."
Guys, any recommendations/concerns regarding bandwidth and/or distance between datacenters?
What major issues do you see with using cluster that spans multiple datacenters located far away from each other?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a43088b4-d50a-ffbb-6efb-9474508f7cd2
* Version Independent ID: 8d39

[2018-04-18 09:34] tsiddle opened #7356 "Update Region Availability"
The Supported Azure Regions appears to be out of date. ServiceMap appears to have far wider availability.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44fdc4fc-9ded-6adc-cb16-7c746e88d113
* Version Independent ID: fc811b3e-8fd9-2684-8760-d357340f4929
* Content: [Configure Service Map in Azure](https://docs.microsoft.

[2018-04-18 09:45] linda33wj commented on #6989
@FrancisRD91 thanks for reaching out. For “beta” connectors, there is NO any security flaw. We keep monitoring the customer usage and feedback, and evaluate if any improvement required on functionality/experience or graduate it to normal connector. We welcome you to try it out and see if it can meet your need. Feel free to keep following up with me via mail. I'll close this.

#please-close

[2018-04-18 09:53] mamoorkhan opened #7357 "Encryption for classic accounts?"
When I create a new classic account, I cannot see the encryption option in the menu, does it mean that I cannot change anything (e.g. use my own key) regarding the encryption, though it is still encrypted or it is not encrypted and the answer to the first question is partially wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-04-18 10:13] valland commented on #6878
Will subscribers receive multiple events in one single POST?

[2018-04-18 10:24] cephalin commented on #7054
@lorindavis Thanks for reporting. The update is merged and will be published at next 10am PST. #please-close

[2018-04-18 10:47] touseefbsb opened #7359 "how to deploy previous versions of windows 10?"
I have a uwp app targeting windows 10 creators update as minimum target, so I want to test it properly on windows 10 creators update as well. for that I need an Azure VM where I can properly test it ( because my own system is currently running on insider's build ). I can easily find Windows 10 1703 ( fll creators update ) image on azure, but I cant find 1703 ( creators update ) my subscription off

[2018-04-18 10:48] mrbullwinkle commented on #7077
#please-close

[2018-04-18 10:51] ShetlandJ opened #7360 "SSH timing out"
Is there a step before all this that you need to take to create the SSH key? Nothing is working for me. I've tried ssh username@ipaddress but it just times out on port 22

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8044041d-2554-47fb-4021-438cea025440
* Version Independent ID: 90ba5743-5e79-880a-4b7a-2527f5cfee27
*

[2018-04-18 11:46] pekkaar commented on #7226
@Mike-Ubezzi-MSFT thanks for the tutorial. Can you direct me to the part where it demonstrates how to use **user defined functions** from an external table?

[2018-04-18 11:59] spottedmahn commented on #7208
See's @chrispadgettlivecom's [answer](https://stackoverflow.com/a/49847264/185123)

[2018-04-18 12:09] spottedmahn commented on #7035
Copy that, thanks for the reply @mattchenderson.

[2018-04-18 12:09] #7035 closed

[2018-04-18 12:20] spottedmahn opened #7362 "Menu Nodes w/o Hyperlinks in Problem"
When I'm on my iPhone and I pick a menu option that does not have a hyperlink nothing happens, it is confusing IMO.

Please see [this video](https://1drv.ms/v/s!AmsBn7YVdmXPhfMJfBKKDzJpe3PYdg).

![image](https://user-images.githubusercontent.com/14079228/38931702-11f456da-42e2-11e8-9acd-3491b416cd42.png)

---

This might be more a docs.microsoft.com "issue" but I figured I start here...

---
####

[2018-04-18 12:32] michaeldaw commented on #6878
@valland Not official, but in my experience, subscribers do receive multiple event in a single post, though I'm not sure if they necessarily receive ALL the messages that were sent together in that single post.

[2018-04-18 12:35] danmyhre commented on #7316
Thanks @bandersmsft - may want to add that info to the page.  Thanks!

[2018-04-18 12:36] spottedmahn opened #7364 "Missing from the Menu"
This page doesn't appear to be in the menu:

![image](https://user-images.githubusercontent.com/14079228/38932271-b3ede8d8-42e3-11e8-81ef-713a1fb4c362.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8861e147-ef75-8ba4-6cba-7d0bc289c328
* Version Independent ID: e8eebd27-cbae-7f2d-9c26-09b5facc495d
* Content: [How t

[2018-04-18 12:37] Knude commented on #6537
I cant seem to Import Saved Searches with New-AzureRmOperationalInsightsSavedSearch, that contains the new query language.
It works fine with the old one.

[2018-04-18 12:57] Ayanmullick commented on #7251
Is it not doable thru the New-PSDrive cmdlet?

[2018-04-18 13:10] FrancisRD91 commented on #6989
@linda33wj thanks for your very useful answer. I'm going to test the connector and anything that I believe can be improved I'll let you know. Regards

[2018-04-18 13:10] #6989 closed

[2018-04-18 13:10] daveirwin1 commented on #7356
No, the documentation is correct.  Service Map is supported in only four regions. @tsiddle, where are you seeing that it has wider availability?

[2018-04-18 13:11] rothtony commented on #5362
Ugh wonder what the heck’s going on will try again,  ok after trying again for like the 5th time it worked….  Wasn’t being patient enough I guess.  Sorry for the churn on this.
tr

From: John Flores <notifications@github.com>
Sent: Tuesday, April 17, 2018 12:55 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Tony Roth <tony.roth@nwea.org>; Comment <comment@noreply.github.com>
S

[2018-04-18 13:27] Ayanmullick commented on #7251
We've already enabled [AzureAD authentication](https://docs.microsoft.com/en-us/azure/security/azure-database-security-overview#authentication). Not sure what's wrong.  The firewall rules are in place. Still won't connect.

`New-PSDrive -Name <Name>-PSProvider Sqlserver -Root $([string]"SQLSERVER:\SQL\<Name>.database.windows.net,1433")`

`WARNING: Could not obtain SQL Server Service information. A

[2018-04-18 13:27] daveism3000 commented on #7261
We were informed that our AADSync tool is no longer supported.  In the email, we were given this bit of advice:
     "Learn more
     To learn how to upgrade from DirSync or AADSync to Azure AD Connect, please refer to the DirSync upgrade documentation."
However, when following that link, it states explicitly:
     "These steps do not work for upgrading from another release of Azure AD Connect or

[2018-04-18 13:38] tsiddle commented on #7356
You are correct - apologies. Working with a team on-site who had identified it was available in the market place - but when going into the OMS Gallery it was not available within their region. There were some crossed wires.

Thanks @daveirwin1 for the prompt response.

[2018-04-18 13:41] georgewallace commented on #6917
@kiranjshetty, If you have any further questions please don't hesitate to reach out and open another issue. #please-close

[2018-04-18 13:43] Ayanmullick commented on #6971
Yes. Thanks. Azure private DNS just went 'in Preview'. Could that make a difference in the process of associating the new IP after failover?

[2018-04-18 13:58] #6917 closed

[2018-04-18 14:01] jrochet commented on #5362
@MicahMcKittrick-MSFT to answer your question - no I don't have an on-premises MFA server.  I'm actually over this at this point.  The interface in Azure AD for "MFA Server" shows "This feature only applies to MFA Server deployment." for several of the features, which might be a new thing, or maybe I missed it earlier.  It is still a bit confusing, what's what between Azure MFA vs "MFA server" (in

[2018-04-18 14:05] lrpark opened #7365 "Missing resources for Linux guest OS monitoring"
Regarding "Monitoring virtual machines" and monitoring guest OS's - this points to Azure Diagnostics, but that link only applies to Windows. I believe a link to Linux VM diagnostics would be helpful. I actually can't find it myself. The links on this blog are now broken: https://azure.microsoft.com/en-us/blog/azure-linux-vm-infrastructure-monitoring-and-diagnostics-2/

---
#### Document Details

⚠

[2018-04-18 14:13] lrpark opened #7366 "Does this apply to Linux VMs?"
What are the steps for collecting logs on Linux VMs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27f9dfa3-e311-7d36-8540-02aabb7a8ae0
* Version Independent ID: 5bd45d7e-e73a-dc68-845b-50766a67e724
* Content: [Set up diagnostics for Azure Cloud Services and virtual machines](https://docs.microsoft.com/en-us/azure/vs-

[2018-04-18 14:41] angiekNCS opened #7368 "replicated tables to compute node or distribution databases"
Hi,
The doc above states "It copies the master version to one distribution database on each Compute node. When there is a change, SQL Data Warehouse first updates the master table."

Ignoring the master table for now, that means if I have 5 compute nodes, I will only have 5 copies of the replicated table, not 60, correct?

Now, on the master table, where is that stored?

Thanks, aK.

---
#### Docu

[2018-04-18 15:00] tobydrake7 opened #7369 "Correction to first command: 'python' not 'python3'"
The first command under 'd. Install the Azure agent' should only have 'python' in the command example. If the system only has python, you don't need to differentiate it as python3. Using 'python3' in the second command is needed for systems with both versions of python installed.

This was on a RHEL 7.5 VM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-04-18 15:15] nhwilly opened #7370 "Screen prompts don't match for adding a "key""
Step 6:

I believe changing the wording to "add a new password" would better match what's on the screen.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a4b8453-d2bc-9c8d-bb16-26fa7e4c6363
* Version Independent ID: 160642fc-b5a9-1ebe-7daf-105509b6e2f4
* Content: [Use the Graph API - Azure AD B2C](https://docs.microsoft

[2018-04-18 15:25] Mike-Ubezzi-MSFT commented on #6484
@SamirFarhat The steps that are being asked are as outlined below. I realize that the steps you followed are slightly differant but we are kindly asking for the below steps be followed so that we can determine the root cause of your issue.

1) Completly stop the Emulator, ensuring the following processes are stopped:

- CosmosDB.Emulator
- DocumentDB.GatewayService
- DocumentDB.Master
- DocumentDB

[2018-04-18 15:42] Mike-Ubezzi-MSFT commented on #7350
@yuharucan Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-18 15:49] paulmackinnon-adv365 commented on #5151
still needs to be updated, it's confusing

[2018-04-18 15:53] neilpeterson commented on #5151
@paulmackinnon-adv365 - can you provide additional insight? Is your comment specific to using PowerShell vs. Bash, or more generalized about the doc itself being confusing.

Happy to take feedback and update where possible.

Thanks

[2018-04-18 15:55] ggailey777 commented on #6029
#please-close I don't have enough information to act on this comment.

[2018-04-18 15:55] #6029 closed

[2018-04-18 15:56] NCSTman opened #7372 "Date range for group audits - Inquiry"
Hi,

Would like to know if it's possible to extend the date range for group audits. Currently max date range is at recent 7 days and would like to have it extended to say 6 months. Looking to see if this is a feature limitation or subscription limitation, thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65286215-

[2018-04-18 15:57] nromyn commented on #6979
@femsulu can you reopen.

[2018-04-18 15:57] MicahMcKittrick-MSFT commented on #7347
@monteledwards Thanks for the feedback!

@jonbeck7 I did some digging but was not able to find any mention of the bandwidth limits for B series. Possibliy due to the bustable nature. Do you know if this information is avaiable and if so can we get it added?

[2018-04-18 15:59] cloudmelon opened #7373 "Needs to clarify regarding Custom Script Extension updating"
Section: Install an app with the Custom Script Extension

I deployed a series of Linux-based VMs with Custom Script Extension when I have V2 of the deployed script, should I use the same Custom Script extention to update my bootstraped VM ?  Or use Custom script extension is one-time operation which happens the moment of provision then bootstrap the VM in VMSS ?

Thank you :)

Doc link : https://d

[2018-04-18 15:59] MicahMcKittrick-MSFT commented on #7355
@xela30 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-18 16:00] MicahMcKittrick-MSFT commented on #7359
@touseefbsb Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-18 16:01] MicahMcKittrick-MSFT commented on #7360
@ShetlandJ Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-18 16:01] ShetlandJ commented on #7360
Hey I got it working

On 18 Apr 2018, at 17:01, Micah <notifications@github.com<mailto:notifications@github.com>> wrote:

@ShetlandJ<https://github.com/ShetlandJ> Thanks for the feedback! We are currently investigating and will update you shortly.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/MicrosoftDocs/azure-docs/issues

[2018-04-18 16:02] MicahMcKittrick-MSFT commented on #7366
@lrpark Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-18 16:03] MicahMcKittrick-MSFT commented on #7348
@slavizh Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-18 16:13] #7357 closed

[2018-04-18 16:15] jimdial commented on #7150
#please-close

[2018-04-18 16:19] ewitkowski opened #7374 "Getting your FQDN"
Getting the FQDN for your instance level VM is a little "ill defined". The article indicates "When you create a cloud service in Azure, corresponding DNS A records are created automatically to allow access to the service through a fully qualified domain name (FQDN), instead of using the actual VIP." which is true, but we found it a little confusing.

We publish an Azure Cloud Service, so we added

[2018-04-18 16:26] tdykstra commented on #5963
Async is not for parallel execution of a function -- you get that without async.  Async optimizes the server's ability to handle high traffic loads by optimizing its thread pool usage.  Here's a doc that explains the reasons for using async:  https://docs.microsoft.com/en-us/aspnet/web-forms/overview/performance-and-caching/using-asynchronous-methods-in-aspnet-45

I'll add this to the C# and C# sc

[2018-04-18 16:27] georgewallace commented on #6544
@Ayanmullick , Thanks again for raising this question.  As @jennyhunter-msft mentioned please file a UserVoice request at https://feedback.azure.com/forums/267889-log-analytics/category/88094-change-tracking-solution . We currently have the available steps to deploy the solution in the documentation, as this is not a documentation issue, I will ask this issue to be closed. Please open another issu

[2018-04-18 16:34] YutongTie-MSFT commented on #7325
@deldersveld Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@areddish Hi, this is a issue about the format of parameters, the user has given a comparison. Can you please check it and update the document as necessary? Thanks a lot.

[2018-04-18 16:42] David-Engel commented on #7251
@Ayanmullick Do you have a SQL Server account you can test with? Then you can can at least rule out general SQL Server connectivity and maybe narrow it down to something with integrated authentication.

[2018-04-18 16:46] rothtony commented on #5362
ugh my issue was a lack of patience when I setup the custom greetings I wasn't waiting long enough for them to take effect,  so this solved a major issue for us in that softphones couldn't be a recipient of an alternate phone number mfa auth request since the message was playing prior to the softphones picking up, so the users never heard the press # key.  Well I just created an extra long greetin

[2018-04-18 16:49] Ayanmullick commented on #7251
No. We started with AzureAD from the get go. The server and database was created thru an AzureAD account.

[2018-04-18 16:49] tfitzmac commented on #6878
@valland - I just submitted a change to clarify this text. You can post to a topic with an array that contains multiple events, but the events are sent to subscribers in an array that only contains a single event. An array is used because the option to batch events to subscribers might be added in the future.

[2018-04-18 16:50] Mike-EEE commented on #5963
Great, thank you for the information and context, @tdykstra.  So you are saying that by default the functions are running synchronously when returning an `IActionResult`?  And as a, uh, result (😆) of this, the asynchronous benefits are not realized?

I suppose part of the confusion on my part is that the `IActionResult` is being returned in v2.  In v1 it seems that `Task` was used by default, so I

[2018-04-18 16:51] michaeldaw commented on #6878
My mistake. Thanks for the clarification.

[2018-04-18 16:53] torfulle opened #7375 "External Certificates missing from resources unable to be migrated"
If you could update this article to include that external certificates are unable to be migrated across subscriptions that would be very helpful. We have this information located in this thread: https://social.msdn.microsoft.com/Forums/azure/en-US/40c3ef57-5d95-4001-808e-9128bd84f6dc/need-to-move-a-web-app-aspnet-website-with-ssl-certificates-to-another-subscription-rg?forum=windowsazurewebsitespr

[2018-04-18 16:55] tdykstra commented on #6945
In a C# class library, there is no special significance to the name "Run".  You can name the method anything you want; the function name is indicated by the FunctionName attribute.  The runtime recognizes a method as a function by the presence of a trigger attribute, and that's the only requirement.  (I don't think we explain that in the documentation, I'll add it.) The other parameters in the met

[2018-04-18 16:56] evh69 opened #7376 "Update the RP file Section Clarification"
Under the "Update the RP file Section" of https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-setup-aad-custom, Shouldn't there be a step after #2 that reads, "Modify the PublicPolicyUri attribute in to reflect the value of the PolicyId you just updated?

It looks like the PublicPolicyUri should be "http://[your tenant]/[Your PolicyId value]

[2018-04-18 16:56] SaurabhSharma-MSFT commented on #7232
@mufflon Can you please help providing the GitHub Doc link to look into this issue.

[2018-04-18 17:00] ajamess commented on #7364
This is a docs platform issue - @Curtis<mailto:Curtis.Love@microsoft.com> or @John<mailto:Flores.John@microsoft.com> – can one of you guys respond to the below?

Thanks!

Adam.

Adam Steenwyk | Senior Program Manager Lead | 28/2129 (PST) | Mobile: +1 (734) 277-3853 | Office: +1 (425) 703-4795 | Schedule me!<http://freebusy.io/asteen@microsoft.com> | Did I help? Let me know!<mailto:kbrint@microsoft

[2018-04-18 17:02] tysonn commented on #6087
@KirkMunro - Thanks for filing this issue to draw attention to the closed PR. The changes have been merged in a private repo pull request - later today, the change list should be visible in the public repository - you can search for commit d7bfc36 (long form d7bfc3626f11dec218896f958297c4f3d9e9f725), which will list all the changed files. Again, apologies this was not handled better.

[2018-04-18 17:02] #6087 closed

[2018-04-18 17:05] evh69 opened #7377 "Resource parameter issue"
I am following instructions on https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-protocols-openid-connect-code for "Get Access Tokens" that states, " By including permission scopes in the request and using response_type=code+id_token, the authorize endpoint ensures that the user has consented to the permissions indicated in the scope query parameter, and return your

[2018-04-18 17:06] spottedmahn commented on #7364
Thanks Adam!

From: Adam Steenwyk [mailto:notifications@github.com]
Sent: Wednesday, April 18, 2018 1:00 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Michael DePouw <mdepouw@ceiamerica.com>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Missing from the Menu (#7364)

This is a docs platform issue - @Curtis<mailto:Curtis.Love@microsoft.com> or @Jo

[2018-04-18 17:08] Adam-Smith-MSFT commented on #7349
@srsiva Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-18 17:09] Adam-Smith-MSFT commented on #7342
@SteveBurkettNZ Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-18 17:10] David-Engel commented on #7251
@Ayanmullick Can you connect via SSMS?

[2018-04-18 17:10] Adam-Smith-MSFT commented on #7329
@yois615 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-18 17:11] tdykstra commented on #5963
Correct. 😄

Where do you see Task used by default in v1?

[2018-04-18 17:12] Mike-Ubezzi-MSFT commented on #7373
@cloudmelon Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate, as the documentation does not clarify the nuances of custom script extensions.

[2018-04-18 17:12] evh69 opened #7378 "Get Access Tokens directions for exchanging for access token"
After you have obtained an access token, under the " Get Access Tokens" the  documentation states, "By including permission scopes in the request and using response_type=code+id_token, the authorize endpoint ensures that the user has consented to the permissions indicated in the scope query parameter, and return your app an authorization code to exchange for an access token."  Where are the instru

[2018-04-18 17:16] Mike-Ubezzi-MSFT commented on #7369
@tobydrake7 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-18 17:16] ajamess commented on #7364
Hi Adam,
We can certainly add it to the table of contents. Should it go under How to > Manage apps or How to > Manage apps > Manage enterprise apps, or somewhere else?

Note: our feedback tells us that our users don't like an article that's just a list of links. If all the other articles are already in the table of contents, perhaps they can stand on their own.

Thanks,
Curtis
​

Curtis Love | Sen

[2018-04-18 17:26] tdykstra commented on #5963
And I would expect that wherever you see the return type changed to use Task you'd see the other indicators of async as well, such as the async and await keywords.

[2018-04-18 17:27] SaurabhSharma-MSFT commented on #7362
@spottedmahn Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-18 17:27] rolyon commented on #7266
@MicahMcKittrick-MSFT @rkyttle - I haven't used Activity Logs, but I think you can export a .csv file and filter. If you are interested in PowerShell or CLI commands, this article might be helpful:
https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-audit?toc=%2fazure%2fmonitoring-and-diagnostics%2ftoc.json

[2018-04-18 17:28] Mike-Ubezzi-MSFT commented on #7374
@ewitkowski Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-18 17:29] Ayanmullick commented on #7251
Yes @David-Engel , without any issues.
SSMS v17.6.
Authentication- 'Active Directory -Password'

[2018-04-18 17:30] stumpykilo opened #7380 "Are policies required (in Azure AD they were not) for B2C to work?"
I first used Azure AD to register some applications and was successful in doing so with a native app and a web api. When I moved over to B2C it seems like the policies are required? Is there a way to just use the default (like Azure AD) without specifying any policies in the B2C area?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2018-04-18 17:31] SaurabhSharma-MSFT commented on #7370
@nhwilly Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-18 17:34] stumpykilo opened #7381 "Upload Policy button disabled"
I am able to add, edit, and download a policy but the Upload Policy button seems to be disabled. Any suggestions on how to make that button enabled?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdca08d8-4a1d-f11c-9e3e-6627ea0f18bc
* Version Independent ID: 6bb42537-50b2-2af1-fdf7-86b76ed9afe6
* Content: [Application

[2018-04-18 17:37] Mike-EEE commented on #5963
Right, all the lovely and aforementioned [decoration and ceremony that throttles the footprint of said code](https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/suggestions/9126493-improve-asynchronous-programming-model) BUT WE WON'T GO THERE. 😆

(Pardon my gruff here as I am actually actively neck-deep in solving some [asynchronous issues at present](https://stackoverflow.com/quest

[2018-04-18 17:39] MicahMcKittrick-MSFT commented on #5362
@rothtony thanks for getting back and providing an update :) Glad to hear it is working.

[2018-04-18 17:39] #5362 closed

[2018-04-18 17:42] jimdial commented on #7348
@slavizh Thanks for the feedback. That image has been removed and replaced with a different one.  The change will publish later today.

[2018-04-18 17:43] tfitzmac commented on #6979
@nromyn - there is nothing in the schema that defines the valid values for the identityProvider property. I am curious about the exported template not working. How did you originally deploy your resources? Does the exported template fail if you just redeploy to the same resource group?

[2018-04-18 17:45] jimdial commented on #7311
@aydeisen Yes, the article is relevant to both deployment models. Each is called out, where appropriate. I've updated the specific link you mentioned to reference the public IP address article for Resource Manager though.  The change will publish later today.  Thanks. #please-close

[2018-04-18 17:45] MicrosoftGuyJFlo commented on #5362
@jrochet I'm sorry for your frustration. As the writer assigned to MFA I know the pain and the UI is something that is being worked on. As part of the migration from the classic Azure Portal everything was put into the UI you see today. As the product group works on updates things will get better. I cant give specific timelines but know that it is being worked on.

[2018-04-18 17:46] bandersmsft commented on #7257
@danmyhre Thanks for your feedback Dan.
#please-close

[2018-04-18 17:47] SaurabhSharma-MSFT commented on #7372
@NCSTman Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-18 17:52] David-Engel commented on #7251
@Ayanmullick How about Active Directory - Integrated?

[2018-04-18 17:54] Ayanmullick commented on #7251
'Active Directory - Integrated' worked fine as well.

[2018-04-18 17:55] #7311 closed

[2018-04-18 17:57] fhe-fr commented on #7325
I get the same error than the one reported:

Adding images...

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-11-604c8eb6bb79> in <module>()
      4 for image_num in range(1,10):
      5     image_url = base_image_url + "Images/Hemlock/hemlock_{}.jpg".format(image_num)
----> 6

[2018-04-18 17:58] jwhiteDev commented on #6812
@BryanTrach-MSFT please assign this to @dimazaid

[2018-04-18 18:02] David-Engel commented on #7251
I just noticed you did not include the instance name in your command. How about
`New-PSDrive -Name <Name>-PSProvider Sqlserver -Root $([string]"SQLSERVER:\SQL\<Name>.database.windows.net,1433\<InstanceName>")`

[2018-04-18 18:05] nromyn commented on #6979
When I try to run the template generated from an automated export, I receive an error stating identityProvider 'aad' is not valid or scope is not defined. The original item was created using the Portal.
 When creating a Logic Apps Custom Connector, Step 2 (Security) is where this snippet gets created, from what I'm able to tell.

This is what is exported in an automated export.
`"properties": {

[2018-04-18 18:05] bandersmsft commented on #7316
@danmyhre Will do. Thanks.
#in-process

[2018-04-18 18:06] Ayanmullick commented on #7251
I've tried

`New-PSDrive -Name <Name> -PSProvider Sqlserver -Root $([string]"SQLSERVER:\SQL\<Name>.database.windows.net,1433\Default")`

and

`New-PSDrive -Name <Name> -PSProvider Sqlserver -Root $([string]"SQLSERVER:\SQL\<Name>.database.windows.net,1433\<DatabaseName>")`

Same error

[2018-04-18 18:06] bandersmsft commented on #7315
Updating article to clarify.

[2018-04-18 18:10] David-Engel commented on #7251
This is an Azure SQL Database, right? (Not a hosted SQL Server install.) I wouldn't be surprised if Azure SQL Database does not support connecting to anything other than a specific instance name (not DEFAULT). You would need to be able to connect to RPC services on the Azure SQL Server hosting the instances for it to enumerate instances and I don't see a way to allow those ports through a firewall

[2018-04-18 18:13] chrismwendt commented on #7328
@femsulu I have Pay-as-you-go. The section **"Subscription Limits - Azure Resource Manager"** explicitly says the default is 20, but when I go into the Help + Support page to request an increase, my limit is 10. Am I missing something?

[2018-04-18 18:14] bandersmsft commented on #7091
Still working on this.

[2018-04-18 18:17] David-Engel commented on #7251
Although I do see that SSMS works that way and lets you browse databases. So I could be wrong. I don't have an Azure AD integrated auth environment to test in (only have SQL Server auth instances in Azure).

[2018-04-18 18:18] jason-j-MSFT commented on #7354
@msghaleb
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-18 18:25] migmartri opened #7385 "Wrong HTML code"
It seems that the html example includes the tag `<image>` when it should be `<img>`

Another question that I have. Is there any way to fully embed the console in a similar way the az cli docs portal does?

Regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c6985c1-fec9-dddd-e6f1-83dd9510e711
* Version Independent

[2018-04-18 18:26] MicahMcKittrick-MSFT commented on #7359
@touseefbsb can you elaborate a bit more? When searching for Windows 10 I see the following:

<img width="634" alt="image" src="https://user-images.githubusercontent.com/32313503/38950726-489ed6ec-42fb-11e8-9daa-4528cd09050c.png">

Are you saying you cannot see these images when you search?

[2018-04-18 18:28] vladvino commented on #7082
New styles can be added using HTML widget. To configure click on the Publisher portal link then Widgets in the Developer Portal section in the left menu. This article http://docs.orchardproject.net/en/latest/Documentation/Managing-widgets/ describes working with widgets. Layers can be used to control the scope (e.g. all pages) where the styles are available.

[2018-04-18 18:28] vladvino commented on #7082
#sign-off

[2018-04-18 18:29] MicahMcKittrick-MSFT commented on #7355
@xela30 the speed between data centers depending on their distance will obviously result in higher/ lower speeds. However, the speeds differences are so small that often it is not something that will impact your application. It would not be something I would overly concern myself with. If you begin building and notice that the speeds are not up to what you need we can obviously dig deeper but from

[2018-04-18 18:29] #7355 closed

[2018-04-18 18:29] vladvino commented on #7082
#please-close

[2018-04-18 18:30] MicahMcKittrick-MSFT commented on #7184
@ggailey777 just checking in on this. For the doc-enhancement part I think this is something we can consider. For the other portion if you have any information to share that would be great. Else, we can move to the forums to get ideas from the community as well.

[2018-04-18 18:31] MicahMcKittrick-MSFT commented on #7219
@fajanssen I will close this out but if you feel you want to continue the discussion please reopen and we can continue.

[2018-04-18 18:31] #7219 closed

[2018-04-18 18:31] MicahMcKittrick-MSFT commented on #7238
@anshuman-nath I will close this out for now. When ready please reopen and we can continue.

[2018-04-18 18:31] #7238 closed

[2018-04-18 18:32] SaurabhSharma-MSFT commented on #7377
@evh69 Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-18 18:33] femsulu commented on #7356
@tsiddle, We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-18 18:33] #7356 closed

[2018-04-18 18:34] SaurabhSharma-MSFT commented on #7378
@evh69 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-04-18 18:35] vladvino commented on #6431
@leftler example is correct and doesn't work due to a regression. Bug fix will be deployed in the coming weeks. Thank you for the heads up!

[2018-04-18 18:35] vladvino commented on #6431
#please-close

[2018-04-18 18:37] Mike-Ubezzi-MSFT commented on #7226
@pekkaar Here are a couple links (below) regarding User Defined Functions but they are not part of the tutorial. Were you looking for this tutorial, or another tutorial, to demonstrate this functionality or, are you simply looking for general information?

The below content applies to both _SQL Server_ and _Azure SQL Database_:
[Create User-defined Functions (Database Engine)
](https://docs.micros

[2018-04-18 18:37] SaurabhSharma-MSFT commented on #7381
@stumpykilo Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-18 18:38] SaurabhSharma-MSFT commented on #7380
@stumpykilo Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-18 18:39] vladvino commented on #6720
@MisinformedDNA if the API is added to a product requiring subscriptions and user has an active subscription to the product the key value should be auto-populated in both Azure and Developer portals. Please check the pre-requisites mentioned above and if the problem persists contact Azure support. Thank you!

[2018-04-18 18:39] vladvino commented on #6720
#please-close

[2018-04-18 18:42] SaurabhSharma-MSFT commented on #7362
@spottedmahn I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-04-18 18:46] lrpark commented on #7366
I'll try it out! Additionally, I think it'd be a better customer experience if both pages included "Linux" somewhere to explicitly say that Linux is supported.
Thank you for the quick reply and follow up!!

[2018-04-18 18:47] femsulu commented on #7365
@lrpark, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-18 18:48] femsulu commented on #7375
@torfulle, Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-18 18:55] Garandorf opened #7389 "Start Method not found but Stop works just fine"
I've followed through with the runbook tutorial and I can get the IR to stop but not start for some reason. I keep getting the "Module not found error" . The code is exactly the same except for the Start/ Stop module. I've checked and the method exists or at least it appears on the list under the module.
This is the error I get:

Start-AzureRmDataFactoryV2IntegrationRuntime : Method not found: 'Ne

[2018-04-18 18:56] femsulu commented on #7024
@canuzun confirming the fix is now live. Thanks again for bringing this to our attention. Now closing this case as resolved.

[2018-04-18 18:56] #7024 closed

[2018-04-18 18:57] SyntaxC4 commented on #6731
@MicrosoftDocs/azure-cxp-triage Please assign to me, i'll be addressing this issue with a PR.

@MisinformedDNA Thanks for bringing this to our attention, we'll be working on your request shortly!

[2018-04-18 18:57] akking opened #7390 "hostname -f does not give FQDN"
`hostname -f` only give you hostname rather than FQDN

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6229cdc6-4e2b-1468-fe0d-3234d66774aa
* Version Independent ID: 9d46c882-81ac-2e14-11c3-b56a42533b14
* Content: [Connect HDInsight to your on-premises network - Azure HDInsight](https://docs.microsoft.com/en-us/azure/hdi

[2018-04-18 18:58] femsulu commented on #7119
@mxplusb, thanks for clarifying. Sharing your feedback with the content owner for further review.

@tonguyen10  - kindly take a look at this?

[2018-04-18 18:59] MicahMcKittrick-MSFT commented on #7366
No problem :) I believe the reason we do not call out specifically Windows or Linux is because it should work for both. So adding an extra "Applies to Linux and Windows" likely felt unneeded. But I could see it go either way.

@Mikejo5000 what do you think?

[2018-04-18 19:07] bandersmsft commented on #7091
@DaRosenberg Hi Daniel. You need to exclude the child management group or subscription from the management group-level policy assignment. Then, assign the more permissive policy on the child management group or subscription level. Basically, if any policy results in a resource getting denied then the only way to allow the resource is to modify the denying policy.
I'll update the article for this e

[2018-04-18 19:08] David-Engel commented on #7251
Summarizing:

The following PowerShell command works with integrated authentication:
`New-PSDrive -Name <Name> -PSProvider SqlServer -Root "SQLSERVER:\SQL\<Name>.database.windows.net,1433"`

The issue causing the above error:
`WARNING: Could not obtain SQL Server Service information. An attempt to connect to WMI on '<>.database.windows.net,1433' failed with the following error: The RPC server is u

[2018-04-18 19:17] lrpark commented on #7366
(To add a little more context, when I Ctrl-F "Windows" on the page I see many results and references to Windows event logs, etc. However there are no results for "Linux" on the page. So that is what made me wonder if this applies to Linux.)

On Wed, Apr 18, 2018 at 2:59 PM, Micah <notifications@github.com<mailto:notifications@github.com>> wrote:

No problem :) I believe the reason we do not call o

[2018-04-18 19:22] mikebergin opened #7392 "Issues with sensor"
Followed the instructions precisely, and am getting "unable to determine hardware version. I see hardware BCM2835"
I received this error when i tried earlier on the latest version of raspbian. Used the recommended version specified above and am still seeing the same error. I am using a Rpi 3b. help!
Update: edited config.json and changed simulated data from 'false' to 'true' and it gave the same e

[2018-04-18 19:34] scrampy opened #7393 "Part 1, Step 2 2_refineDNN.py for no GPU Scenario fails"
Hi,

I'm new to AML Workbench, so I might be doing something wrong.  In following the listed steps on a PC without a GPU, in Part 1, Step 2, on running script 2_refineDNN.py, the step fails with error:
PARAMETERS: datasetName = fashionTexture
Directory used to read and write model/image files: C:\Users\brain/Desktop/imgClassificationUsingCntk_data/
One-time download of pretrained ResNet_18.model D

[2018-04-18 20:15] MohitGargMSFT commented on #7190
@laultman We will now proceed to close this thread. If there are further questions regarding this matter, please open new issue and we will gladly address the feedback.

[2018-04-18 20:15] #7190 closed

[2018-04-18 20:16] jayspec opened #7394 "PowerShell snippets in documentation do not work"
As I discovered the hard way, the PowerShell snippets that are in this document do not work.  New-CACertsCertChain will create a New-CACertsSelfsignedCertificate with the $_rootCertSubject, which is incorrect.  This *was* a bug in the PowerShell code in the azure-iot-sdk-c project (https://github.com/Azure/azure-iot-sdk-c/issues/362) but that bug was resolved.  However, it still exists in this doc

[2018-04-18 20:18] holgerjay opened #7395 "Limiting inbound traffic to Azure Management IP ranges"
Hey,
according to the statement above, TCP454 and TCP455 are used by Azure infrastructure for managing and maintaining App Service Environments via SSL. This implies that inbound traffic could be limited to Azure IP ranges that are used for that purpose? Would you mind sharing them?
kind regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-04-18 20:22] ylulloa opened #7396 "CRUD operation to manipulate a pair of Q/A programmatically"
How to do CRUD operations using an API? Doing it all or nothing is very slow if you have a big knowledge base of Q&A. Is there any way to CRUD Q&A pairs one by one?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85bfc860-5ffb-bb3d-69d9-f1f79b5fd267
* Version Independent ID: be6dfa0b-854c-d100-5d64-5d84bb048deb
* Conten

[2018-04-18 20:26] tdykstra commented on #5963
I haven't seen any documentation that advises using Task without the async keyword, so I'd be reluctant to use that pattern (or recommend it as an option in Functions documentation)  even if it seemed to work OK. But you may well be right and it may be fine.  Meanwhile in the Functions C# reference docs I'll  add links to documentation that explains why async is worth doing.

[2018-04-18 20:32] ajamess commented on #7364
Can you please assign this to someone else?  I am not the right person to take care of this, as I cannot make changes to the docs TOC.

Thanks,

Adam.

Adam Steenwyk | Senior Program Manager Lead | 28/2129 (PST) | Mobile: +1 (734) 277-3853 | Office: +1 (425) 703-4795 | Schedule me!<http://freebusy.io/asteen@microsoft.com> | Did I help? Let me know!<mailto:kbrint@microsoft.com?CC=asteen@microsoft.c

[2018-04-18 20:34] SyntaxC4 commented on #6815
@cephalin What is the state of this PR, do we have the information we need to update the doc? If so, can  you share it with me so I can address this issue?

@MicrosoftDocs/azure-cxp-triage Can you assign me to this issue as well?

[2018-04-18 20:35] ajamess commented on #7364
+ @Luis<mailto:luleon@microsoft.com> and @Arvind<mailto:arvinh@microsoft.com> as FYI

We were explicitly told to not put this apps troubleshooting content in the TOC when we pushed it live.

It’s all accessible via http://aka.ms/troubleshoot-apps  - there are hundreds of articles that are this way, so it’s more than just homing this one.  I am not really sure what you want to do, but if you want t

[2018-04-18 20:41] dexterac commented on #7276
Any information on how to use image_url instead of the marketplace image will be helpful.

[2018-04-18 20:44] #7009 closed

[2018-04-18 20:45] SyntaxC4 commented on #6584
This item has been address re: MicrosoftDocs/azure-docs-pr#37730

#please-close

[2018-04-18 20:46] #6584 closed

[2018-04-18 20:47] SyntaxC4 commented on #6583
This item has been addressed in MicrosoftDocs/azure-docs-pr#37730

#please-close

[2018-04-18 20:52] SyntaxC4 commented on #6231
@msangapu Can you create a work item for this internally and put it in Sprint 135? We need to get this feedback addressed. Thanks!

[2018-04-18 20:52] MicahMcKittrick-MSFT commented on #7366
@lrpark Ah okay I see. So I suppose the better answer is "yes it should work for Linux with some exceptions" . The monitoring agent should plug into the metrics application for Azure while I know that to get some of that similar information for Linux VMs you would use the Linux Diagnostics Agent. Which I believe is viewed in the Diagnostics area of the portal. I will play around with this in my en

[2018-04-18 20:54] SyntaxC4 commented on #7085
I'm following up with @SunBuild for status

[2018-04-18 20:56] msangapu commented on #6231
Yes, I created it last week. Sorry should've updated here. Item: 1235099

[2018-04-18 20:56] SyntaxC4 commented on #7281
@stefsch Could you help clarify so we can close this issue?

[2018-04-18 20:57] Mike-EEE commented on #5963
If only we had access to a super resourceful and massively talented documentation team that could help us get to the details and ensure ALL THE VERACITY. 😆

Maybe I will be as bold to conjure [my asynchronous hero](http://blog.i3arnon.com/) who might be able to help clarify this for us. 🤓  @i3arnon, do you happen to know if the keywords `async` and `await` are necessary to tie into the asynchronou

[2018-04-18 20:57] j-martens commented on #7001
Please try installing again. The Mac installer for Workbench was rereleased on Monday. Thank you! #please-close

[2018-04-18 20:58] j-martens commented on #6985
Please try installing again. The Mac installer for Workbench was rereleased on Monday. Thank you! #please-close

[2018-04-18 21:00] SunBuild commented on #7085
We are working on moving the built in  images to this repo https://github.com/Azure/app-service-builtin-images but its not completed yet.
For now we should use https://github.com/Azure-App-Service repo .

[2018-04-18 21:06] tdykstra commented on #5963
For ASP.NET Core I would refer async questions to @Rick-Anderson

[2018-04-18 21:08] David-Engel commented on #7251
More info: New-PSDrive is trying to connect using Windows Integrated authentication (versus the Active Directory Integrated authentication option being used in SSMS) and Windows Integrated authentication is not supported against Azure SQL DB (as the error states). I've asked internally if there is a way to tell New-PSDrive to use Active Directory Integrated authentication and am waiting on a respo

[2018-04-18 21:09] mganeshphani opened #7398 "Resource move is not supported for resource types 'Microsoft.DBforMySQL/servers'"
Exception missing from documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to new subscription or resource group](https://docs.microsoft.com/en-us/azure/azure-resource-manager/re

[2018-04-18 21:12] rhizohm opened #7399 "Please Clarify The Pricing Tier That Non-Production Slots Use For Web Apps On Containers"
"Scaling is not available for non-production slots."

This statement needs clarification and elucidation. It is not clear from the documentation the "hardware" configuration used by Non-Production slots. This comes into play when load testing on a non-production slot. For example, let's say I am running S1 Standard (1 Core and 1.72 GB RAM).  If I deploy a Docker container to a non production slot,

[2018-04-18 21:19] mimig1 commented on #6526
Fixing in https://github.com/MicrosoftDocs/azure-docs-pr/pull/38336

[2018-04-18 21:30] #6731 closed

[2018-04-18 21:40] MohitGargMSFT commented on #7261
@daveism3000 Request you to open new GitHub issue for your feedback and we will work on it.

[2018-04-18 21:52] MohitGargMSFT commented on #7370
@nhwilly Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-18 21:53] MicahMcKittrick-MSFT commented on #7366
@lrpark So I have been playing around with this regardless of if you are deploying Windows or Linux we use a diagnostics agent to gather the needed logs. We naturally gather logs from the VMs such as CPU, RAM and disk usage but for guest level logging we use the Diagnostics agent. From what I can tell the Monitoring agent = Diagnostics agent. However, I cannot seem to get these to deploy when runn

[2018-04-18 21:56] MicahMcKittrick-MSFT commented on #7288
@anshuman-nath any update?

[2018-04-18 21:56] Mike-Ubezzi-MSFT commented on #7374
@jimdial I am trying to assign this GitHub issue to the doc author but unable to find @genli. This document needs some clarity as per the feedback provided by @ewitkowski. Please let me know who what alias I should assign this to. Thank you.

[2018-04-18 21:58] MicahMcKittrick-MSFT commented on #7276
@iainfoulds do you know of any additional information on using an image_url instead that we could use to help @dexterac as well as possibly add that information to this doc for others in this same boat?

[2018-04-18 22:00] robb commented on #7365
Hey, I thikn you have the wrong @robb.

[2018-04-18 22:06] Rick-Anderson commented on #5963
See  https://docs.microsoft.com/en-us/dotnet/csharp/async

[2018-04-18 22:11] SyntaxC4 commented on #6894
@MicrosoftDocs/azure-cxp-triage Can you track this as a `doc-bug` for now, but include the `needs-more-info` label?

[2018-04-18 22:12] SyntaxC4 commented on #6992
@MicrosoftDocs/azure-cxp-triage Can you assign to @cephalin

[2018-04-18 22:12] SyntaxC4 commented on #6992
@davidebbo Would you be willing to help us out with this documentation?

[2018-04-18 22:15] SyntaxC4 commented on #7015
@SunBuild Could you potentially help us update this document?

[2018-04-18 22:24] MarkusVi commented on #6800
Hi @lestaat, this is at this point not supported.
#please-close

[2018-04-18 22:30] MicahMcKittrick-MSFT commented on #7359
@touseefbsb Ah okay I get the ask. Sorry about that.

So yes, the image we have is the more up-to-date version and you are looking for the previous version. Two ways you could go about this
1) Install the 1709 version then once installed RDP to the VM and uninstall updates back to the 1703 version. From there you could want to create your own image you can deploy to. Also making sure to stop autom

[2018-04-18 22:31] curtand commented on #6970
@WithHolm
You can use either in all cases except that NOT has to use $null and not null. I'll add an item to my backlog to address this.

[2018-04-18 22:37] curtand commented on #7081
@Michal-Ziemba It looks like you are correct. I'll check with the PM for corrections. #in-progress

[2018-04-18 22:39] curtand commented on #7269
@dreijer I'm adding this to my backlog. It will be done in May (April is booked right now). #in-progress

[2018-04-18 23:02] MarkusVi commented on #7153
Hi @Dheerajmentor, to assign a group to an enterprise app, you need to replace Get-AzureADUser with Get-AzureADGroup. I have added a note to the article.

#please close

[2018-04-18 23:16] BryanTrach-MSFT commented on #7395
@holgerjay Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-18 23:33] dexterac commented on #7276
That will be very helpful. Given that customers want to use their custom patched images and various agents installed. Just an FYI, we have been trying to solve this issue for weeks so are transitioning to use Powershell scripts to build the images. I will follow the thread for any solution with packer.

[2018-04-18 23:33] sozercan opened #7404 "Availability Zones with Low Priority VMSS"
Document says `A low-priority scale set is deployed in a single fault domain`. If I place a VMSS into 3 different availability zones in a region, wouldn't that imply multiple different fault domains?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1bd5076-fe52-cfca-4173-dec861167812
* Version Independent ID: 0122fff1-7

[2018-04-18 23:37] MohitGargMSFT commented on #7372
@NCSTman The Audit Log report date range is different based on license. For Basic license max date range is at recent 7 days.  For Premium P2 license max date range is at recent 30 days.

@MarkusVi Please check if we need to include this information in the document for clarity.

[2018-04-18 23:39] YutongTie-MSFT commented on #7396
@ylulloa Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-18 23:40] mcsee opened #7405 "Batch Testing is great"
I'd very nice to manage this batches through the api. is that possible ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91bc2520-9000-ce4f-8d5f-1980c51cce29
* Version Independent ID: b7e4bb3f-dd7c-d8f9-3b42-44ca7605ad2d
* Content: [Use batch testing to improve LUIS predictions - Azure](https://docs.microsoft.com/en-us/

[2018-04-18 23:43] SnehaGunda commented on #7248
@dalmat36 The value of maximum throughput per partition(t) doesn't have to be 10,000 RU/s always, the value can vary and its allocated based on the hardware configuration. Let us know if you have more questions, we will update doc to clarify.

[2018-04-18 23:44] YutongTie-MSFT commented on #7393
@scrampy Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-18 23:52] v-geberr commented on #7405
Hi @mcsee, Thank you for taking the time to provide feedback. Batch testing is not currently available from the API. Please vote up the existing [UserVoice issue](https://cognitive.uservoice.com/forums/551524-language-understanding-luis/suggestions/20082157-add-api-to-batch-test-model) for this.

[2018-04-18 23:53] mkvalluri commented on #7281
Had the same issue and I ended up creating new app, migrating configurations. But this should be fixed as it doesn't make sense to have everything in the same location, resource group and still unable to move.

[2018-04-18 23:59] YutongTie-MSFT commented on #7396
@ylulloa In the document, there are guidance about how to create and update a Knowledge Base. Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@pchoudhari Hi, this is a document enhancement issue about CRUD using APIs, can you please see if you can help and update the document as necessary. Thanks a lot!

[2018-04-19 00:04] MohitGargMSFT commented on #7377
@evh69 Yes you are correct. As mentioned in the last paragraph of the document -

_To get access tokens, you can follow the steps described in the "Use the authorization code to request an access token" section of our OAuth protocol documentation._

[2018-04-19 00:04] Mike-Ubezzi-MSFT commented on #7368
@angiekNCS Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-19 00:07] #7257 closed

[2018-04-19 00:08] MohitGargMSFT commented on #7232
@mufflon We will now proceed to close this thread. Please create a new issue with above requested information and we will gladly work on your feedback.

[2018-04-19 00:08] #7232 closed

[2018-04-19 00:08] #5178 closed

[2018-04-19 00:09] #5957 closed

[2018-04-19 00:09] #6092 closed

[2018-04-19 00:10] #6431 closed

[2018-04-19 00:10] #6544 closed

[2018-04-19 00:10] #6583 closed

[2018-04-19 00:10] MarkusVi commented on #7372
HI @NCSTman, it is both. If you need to store data for a longer period, you need create your own backup solution. You can automate this using the [reporting API](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-reporting-api-getting-started-azure-portal).

Hi @MohitGargMSFT, this is documented  in [Azure Active Directory report retention policies](https://docs.microsoft.com

[2018-04-19 00:11] #6720 closed

[2018-04-19 00:12] #6800 closed

[2018-04-19 00:12] #6985 closed

[2018-04-19 00:13] #7001 closed

[2018-04-19 00:13] #7054 closed

[2018-04-19 00:14] #7082 closed

[2018-04-19 00:14] #7091 closed

[2018-04-19 00:15] #7153 closed

[2018-04-19 00:16] #7348 closed

[2018-04-19 00:26] Mike-Ubezzi-MSFT commented on #7385
@migmartri Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-19 00:27] MicahMcKittrick-MSFT commented on #7404
@sozercan Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-19 00:29] aSmallByte opened #7406 "Issue getting error response"
When requesting an authorization code with "prompt=login", a response is only sent to redirect_uri upon successful authentication. The documentation mentions "Error responses may also be sent to the redirect_uri so that the application can handle them appropriately." but it seems to be sent only when setting "prompt=consent". How can I get the error response sent to redirect_uri in case of "prompt

[2018-04-19 00:33] mcsee commented on #7405
Indeed !

[2018-04-19 00:37] hpsin commented on #7406
Hi @aSmallByte - for prompt=login, the browser can't make it to the redirect URI.  This is because there are only two options for the user when a login prompt appears - successfully authenticate, or leave the flow entirely.  Leaving prevents the authentication server from sending the user's browser to the redirect URI (since they're no longer communicating with the server).

Your authentication li

[2018-04-19 00:53] xmark opened #7407 "Error Connecting"
I have been trying to connect to Xero using the documentation above, but the RSA key never seems to work because I get this error:

UserError: The value of the property '' is invalid: 'Connection string exceeds maximum allowed length of 1024.'.'Type=,Message=Connection string exceeds maximum allowed length of 1024.,Source=,', activityId: 0feb680e-ebb7-456d-9f26-45d43c6eb7a0

I figure it could be t

[2018-04-19 00:56] LearZhuang opened #7408 "utterance"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d0fd49d-4f0a-061c-84c0-9ddeefa039ad
* Version Independent ID: 6b87ed50-802f-74ed-bd99-14bffd5142d5
* Content: [Understand LUIS best practices - Azure](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-concept-best-practices)
* Conte

[2018-04-19 00:57] aSmallByte commented on #7406
@hpsin - Thanks for your response. I am not sure I understand what you mean by "leaving the flow". If the user inputs wrong credentials and is prompted to enter the credentials again, is that leaving the authentication flow?

[2018-04-19 01:03] hpsin commented on #7406
No, but that's also not an error - they're still within the login flow. A
correction - Some login flows can lead to the redirect uri with an error -
for example, if you ask a user for access to a resource that isn't in their
tenant. They'll successfully log in, and then the server will fail to find
the resource, sending the user to the redirect uri with an error saying so.

Leaving the flow would

[2018-04-19 01:04] MicahMcKittrick-MSFT commented on #7404
@sozercan It seems it is possible...

<img width="595" alt="image" src="https://user-images.githubusercontent.com/32313503/38965584-9b993266-4332-11e8-9d8e-8e1446dde96a.png">

@mmccrory can you confirm on this?

[2018-04-19 01:09] sozercan commented on #7404
Yep, it's possible. My question is, wouldn't that imply multiple fault domains?

[2018-04-19 01:12] LearZhuang opened #7409 "How can we remove the limitation of 15 000 utterance?"
The quantity of Utterances is limited to 15 000.
How can we remove the limitation? Can you help?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31ce7366-56a3-e2c4-e1c7-daa65836c448
* Version Independent ID: e93d1129-5f37-9f8c-46a5-49b3dc512eb5
* Content: [Language Understanding (LUIS) boundaries - Azure](https://docs.m

[2018-04-19 01:16] sozercan opened #7410 "Number of Availability Zones"
Is there a reason for defining availability zones numbers (`["1", "2", "3"]`)? Is there a use case where you wouldn't want to target all 3 AZs? Is it only the transfer bandwidth charges (https://azure.microsoft.com/en-us/pricing/details/bandwidth/)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5880e85-75e2-21b0-0f7e

[2018-04-19 01:41] Mike-Ubezzi-MSFT commented on #7389
@Garandorf Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-19 01:43] Mike-Ubezzi-MSFT commented on #7390
@akking Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-19 01:44] MicahMcKittrick-MSFT commented on #7404
@sozercan I am more interested in if the platform is honoring the zones even though we have the low priority tag. If it in fact is, then yes it would imply multiple fault domains.

[2018-04-19 01:48] kobulloc-MSFT commented on #7289
@MikeBarker-MS Thank you again for bringing this to our attention.  I'm going to assign this to the doc author so they can address this.

[2018-04-19 02:05] iappy1 commented on #5406
@genlin: So what is the workaround to add co-admin for CSP subscription? Do we just accept that it's not available and let it go?

[2018-04-19 02:34] xtianus79 opened #7411 "The section: set-up-your-mongodb-app makes no sense in terms of following the tutorial"
The tutorial is supposed to sync MongoDB with a .NET web app.  This section at this anchor https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-develop-mongodb#set-up-your-mongodb-app doesn't do that.  In fact, it points you to doing a Node app. Perhaps someone should revisit this tutorial and see that it needs to be fixed.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2018-04-19 02:41] jlian commented on #5406
@iappy1 for CSP, since there’s no classic deployment and only ARM, having a co-admin isn’t very meaningful. We recommend that you add an RBAC Owner to achieve what you need. Does that work?

[2018-04-19 02:45] drmcghee opened #7412 "Old PowerBI.COM interface"
Needs updating I think

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db43c478-6301-7b69-131a-c4289797c49d
* Version Independent ID: 5f991bdb-919e-f712-1fe0-050eba25ebaf
* Content: [Power BI tutorial for Azure Cosmos DB connector](https://docs.microsoft.com/en-us/azure/cosmos-db/powerbi-visualize)
* Content Source: [ar

[2018-04-19 03:43] Adam-Smith-MSFT commented on #7215
@dsandsqis  I re-ran the same steps in the demo and it works, you can check the example here: https://gitdocdemo.azurewebsites.net/
Since this is not document related issue, i'd recommend posting in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata , and we'll be able to follow up on the case.

[2018-04-19 03:43] #7215 closed

[2018-04-19 03:48] jigarshah04 opened #7414 "How do we do deployment into an AZ from the Portal for other images like a Ubuntu or a Marketplace product?"
How do we do AZ deployment from the Portal for other images like a Ubuntu or a Marketplace product? Is there a change needed in the solution template, can custom ARM templates do this? Where's that documented?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b71318f-48c9-4491-f393-8a69588599a3
* Version Independent ID:

[2018-04-19 03:52] romankiss opened #7415 "Event Subscription - provisioningState=Updating is forever"
How can I remove my "dead subscription" which it is updating forever. There is no way either via the portal or REST API some cleanup such as delete or save changes on this subscription.
The response code is _Conflict_ and it looks like it is a bug.

Thanks
Roman

[2018-04-19 05:06] jigarshah04 opened #7417 "Check VM SKU availability is different"
I'm using the latest Azure CLI (2.0.19) but my output for below command does not show the Zones:
az vm list-skus --location eastus2 --output table

It looks like, the following and trying several VM sizes in eastus2 for a Marketplace product does not work. Is AZ supported for Marketplace?
ResourceType      Locations    Name                    Capabilities

[2018-04-19 05:16] johannesboon opened #7418 "active-passive LB setup"
I was drawn to this page because I was looking for a way to setup active-passive loadbalancer on azure and found the statement:

"An HA Ports load balancing rule allows you to create active-passive or active-active n+1 scenarios for Network Virtual Appliances and any application which requires large ranges of inbound ports."

However there is no explanation how this is realized. This probably rela

[2018-04-19 05:21] guddu2112 opened #7419 "Error while pulling image 2.0-sdk: Pulling from microsoft/dotnet"
I get an error when i try to build iot edge module.

failed to register layer: re-exec error: exit status 1: output: remove \\?\C:\ProgramData\Docker\windowsfilter\c4e27632c2a9d32834e6ba72d1ba7fe42ad3006662efdb182b7f332c3ac0de4d\UtilityVM\Files\Windows\System32\kerberos.dll: Access is denied.

i tried restarting my system and resetting docker does not help out. Am i missing something?

---
#### Do

[2018-04-19 05:46] pchoudhari commented on #7396
Please see the API reference here: https://qnamaker.ai/Documentation/ApiReference

[2018-04-19 06:01] cpressland opened #7420 "Static Provisioning"
The following mount options should be defined in the Persistent Volume rather than the Storage Class when using static volumes.
[code]

As noted here: https://github.com/kubernetes/kubernetes/issues/59435

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57e48b4-dc33-0b9d-b773-42ce7d2bffd0
* Version Independent ID: e912a

[2018-04-19 06:16] pekkaar commented on #7226
@Mike-Ubezzi-MSFT thanks for the docs on UDFs, these are non-Azure SQL specific. My problem is that I am migrating a solution consisting of two databases from SQL Server 2016 to Azure SQL and there are a number of external references in these referencing each others. I had no issues whatsoever setting up the Elastic Query solution (with the Master Key, DB Scroped Cred and the External Table statem

[2018-04-19 06:25] gadongji commented on #7407
Here is the example:
"-----BEGIN RSA PRIVATE KEY-----\nMII***************************************************P\nbu****************************************************s\nU/****************************************************B\nA*****************************************************W\njH****************************************************e\nsx*****************************************************l\nq*

[2018-04-19 06:27] gadongji commented on #7407
The example is like this: there are 13 lines of data like "MII***************************************************P\n" between "-----BEGIN RSA PRIVATE KEY-----\n" and "-----END RSA PRIVATE KEY-----"

[2018-04-19 06:33] BryanTrach-MSFT commented on #6894
@ankushbindlish2 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-19 06:33] #6894 closed

[2018-04-19 06:35] BryanTrach-MSFT commented on #7235
@ecfan Can you please take a look at the feedback as it appears the documentation has fallen out of date and update it as necessary?

[2018-04-19 06:36] BryanTrach-MSFT commented on #7275
@Jaydeep28 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-19 06:36] #7275 closed

[2018-04-19 06:58] cosminstirbu commented on #5759
Yeap. That works. However, as you've mentioned, it is poorly documented and it should be renamed to Key and made a file upload input.

Thank you.

[2018-04-19 07:07] reinaudvr commented on #7229
@SaurabhSharma-MSFT Thanks, looking forward to the updated documentation

[2018-04-19 07:09] dpnctl commented on #5624
one of the public cloud competitors allows disk size expansion without downtime and lets end user to increase disk space on the fly
ofcourse the process take time to complete based on the additional size added

[2018-04-19 07:33] cephalin commented on #7015
@SyntaxC4 This has been addressed by https://github.com/MicrosoftDocs/azure-docs/pull/7337.

[2018-04-19 07:33] cephalin commented on #7015
#please-close

[2018-04-19 07:57] touseefbsb commented on #7359
@MicahMcKittrick-MSFT  do I really need to create my own image? as I only need 1 VM and if I have one deployed VM on my azure account tht would be enough ( I don't need the image to distribute or future use ) can I just spin up a 1709 VM and then roll it back to 1703 and then stop automatic updates as u mentioned? this way I will be using the 1703 version right? then why would I need to create an

[2018-04-19 08:12] dominicbetts commented on #6936
Hi @fmuntean, thanks for getting back to me. Just to summarize what I plan to do:

- [microsoft-iot-central-firmware](https://github.com/Microsoft/microsoft-iot-central-firmware) - this sample is not relevant to IoT Suite, it's a sample for IoT Central. Shouldn't be added to the IoT Suite FAQ.
- [azure-iot-sdks](https://github.com/Azure/azure-iot-sdks) parent project for all language IoT Hub devic

[2018-04-19 08:32] jason279 opened #7423 "Authorization format fail"
Hi all, I used this API to get the rateCard succefully before today, but failed with an error message: "400 Authentication information is not given in the correct format. Check the value of Authorization header."
I use excatly the same format "bearer mytoken" of the Authorization which works well before. Is there anything change? Believe me, I don't change my code, so if the format is change, plea

[2018-04-19 08:34] ducasi opened #7424 "Copy/paste error in password policy?"
In the password policy section, it states:

This doesn't belong here -- it looks like a copy/paste error.

The "Strong passwords only:" seems to have come from the section below (password restrictions).

The "Can't contain a dot character..." seems to have come from the section above about UPN restrictions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-04-19 08:43] DaRosenberg commented on #7091
@bandersmsft OK, thanks - that's clear in the context of my particular example.

But I'd like to understand more generally the rules of inheritance and possible overriding.

If I extrapolate on what you're saying about my example, would it be correct to say in general terms:

* Policy assignments get evaluated top-to-bottom
* The most restrictive policy assignment will always win, i.e. a DENY on a

[2018-04-19 08:44] dominicbetts commented on #6936
@fmuntean I've made some updates to the FAQ that should be published later today. Thanks again.

[2018-04-19 08:44] dominicbetts commented on #6936
#please-close

[2018-04-19 08:55] Nilis312 opened #7425 "Retrieve the registration status"
In the documents it is stated to open the CMD as administrator. This is not correct. I had to do this as logged in user where the pc is registered for. If I open CMD as administrator it says the device is not registered and gives an option to click join.

Also the command for me didn't work.
Type "%programFiles%\Microsoft Workplace Join\autoworkplace.exe /i"
Command with worked for me was:
“%Progr

[2018-04-19 09:13] EvGe22 commented on #7101
@gadamilan I would if I still had it. Had no problems ever since. I will be sure to do that if I run into any other errors

[2018-04-19 09:31] paulmackinnon-adv365 commented on #5151
In order to use the following command in PowerShell I had to put a $ in front:
CLIENT_ID=$(az aks show --resource-group myResourceGroup --name myAKSCluster --query "servicePrincipalProfile.clientId" --output tsv)

I would have been lost if I didn't read the comments listed here and try the opposite as suggested.

[2018-04-19 09:52] Rachitgupta1994 opened #7426 "How to check pricing tier of existing service bus namespace"
Hi. I have a service bus namespace created a long time ago. How can i check/change which pricing tier it is running in.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56e4bcb2-e585-af85-8abd-0bc37b2b7992
* Version Independent ID: 1ce8abec-50fc-cd5b-2853-7ba2dbd01149
* Content: [How to create a Service Bus namespace in

[2018-04-19 10:00] phw198 opened #7427 "Error code 50072 missing"
Judging by the previous tickets opened and enthusiastically closed, this document doesn't seem to cover a very exhaustive list of error codes.

What's the expected turn-around for the issue being "backlogged" and the document being updated?

GitHub issues are normally (auto) closed when the fix is pulled into the master branch. Could you explain your process for closing issues before they have bee

[2018-04-19 10:10] ashutosh95 opened #7428 "General Feedback"
Feedback: Documentation is OK and understandable. But i can see multiple documentations on the same topic which is quite confusing and difficult to follow with.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9814de5d-d6e2-463d-f4b9-dffa577daec3
* Version Independent ID: 577fe16b-ce8a-8a73-b040-a9ba9abfe35b
* Content: [

[2018-04-19 10:28] cephalin commented on #5565
The repo has now been updated to include the `web.config` file. #please-close

[2018-04-19 10:59] RussellMoir opened #7429 "Import-Module .\AzureADSSO.psd1 not working"
Hi,

I get as far as the importing of the AzureADSSO.psd1 file and get the following error:

PS C:\Program Files\Microsoft Azure Active Directory Connect> Import-Module .\AzureADSSO.psd1
Import-Module : Could not load file or assembly 'file:///C:\Program Files\Microsoft Azure Active Directory
Connect\Microsoft.KerberosAuth.KerberosAuthInterface.dll' or one of its dependencies. An attempt was made

[2018-04-19 13:45] MartinNr5 opened #7433 "Incorrect role assignments for enabling backup on an Azure VM"
Hi.

After a long call with your support we figured out what role assignments you /actually/ need in order to enable backup on an Azure VM:
- Backup Operator on the resource group that contains the Recovery Services Vault.
- Virtual Machine Contributor on the resource group that contains the Virtual Machine

You need to set these explicitly, being Owner of any of these resource groups is not good

[2018-04-19 13:52] j-martens commented on #5453
@gopitk - can you take this question? Thanks

[2018-04-19 13:53] j-martens commented on #5506
Please reaasign to @raymondlaghaeian. He's back on the project. Raymond, can you clarify and update please if needed?

[2018-04-19 13:54] j-martens commented on #5822
@deguhath Please update this documentation. See issue note above.

[2018-04-19 13:56] j-martens commented on #6714
@hning86 - https://docs.microsoft.com/en-us/azure/machine-learning/preview/how-to-read-write-files . Can you confirm and/or update this documentation based on customer feedback above?

[2018-04-19 13:58] j-martens commented on #6811
This appears to have been solved. #please-close for now.

[2018-04-19 13:59] j-martens commented on #6980
#please-close

[2018-04-19 14:00] j-martens commented on #7006
@raymondlaghaeian - this is a doc suggestion about "MissingSubscriptionRegistration" for operationalization, can you please check it and update the document as necessary? Thanks!

[2018-04-19 14:04] robwafle opened #7435 "Missing $ in section "Fill in your chosen SKU name and run the following commands""
Get-AzureRMVMImage -Location $locName -Publisher $pubName -Offer $offerName -Sku skuName | Select Version
should read:
Get-AzureRMVMImage -Location $locName -Publisher $pubName -Offer $offerName -Sku $skuName | Select Version

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7097406-c1fa-4426-82fc-5325d1ae8440
* Version

[2018-04-19 14:16] stumpykilo commented on #7381
Yes, that worked, thanks. That button is enabled but the other one remains disabled. Not sure why there are two locations for the same functionality?

[2018-04-19 14:34] #6811 closed

[2018-04-19 14:35] #5565 closed

[2018-04-19 14:36] georgewallace commented on #7154
@ward0, that depends on which option you choose.. If you choose to use the tags and the sequence start/stop runbook they the runbook will kick off at 9:00 and will in order start or stop the vms, waiting for the previous ones to complete.  So the 9th VM could be many minutes later.  If you choose just the scheduled start/stop runbook and don't care about sequence.. you don't need tags, you just su

[2018-04-19 14:46] egbertvanderhout commented on #5401
@fperez2nd "Run as Administrator" solved that for me.

[2018-04-19 14:50] mumian commented on #6909
A PR has been created for this request - https://github.com/MicrosoftDocs/azure-docs-pr/pull/38415

#please-close

[2018-04-19 14:54] neilpeterson commented on #7420
@cpressland - thanks for the issue, I will look into this.

[2018-04-19 14:57] artisticcheese opened #7437 "Please provide AzureRM powershell equivalents for all AZ CLI commands"
Please keep tradition of other docs pertaining to managing Azure it to provide both Azure CLI and powershell for administering resources.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df40e112-6cf4-f6ce-4d82-d36bbd561405
* Version Independent ID: a68e6e7b-dfa2-8640-0a43-cd15f24facdb
* Content: [Authenticate with an Az

[2018-04-19 15:00] j-martens commented on #7006
#please-close

[2018-04-19 15:05] MicahMcKittrick-MSFT commented on #7410
@sozercan Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-19 15:05] MicahMcKittrick-MSFT commented on #7414
@jigarshah04 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-19 15:07] MicahMcKittrick-MSFT commented on #7417
@jigarshah04 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-19 15:08] MicahMcKittrick-MSFT commented on #7435
@robwafle Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-19 15:16] MicahMcKittrick-MSFT commented on #7359
@touseefbsb absolutely. If you only need one VM then you don't need to make an image. Sorry I was just thinking ahead a bit in case you needed that version again :)

to rollback you open updates and view the installed updates then select uninstall:
<img width="609" alt="image" src="https://user-images.githubusercontent.com/32313503/39000660-6577c568-43a9-11e8-9bd7-25c71618c078.png">

<img width="4

[2018-04-19 15:16] stumpykilo commented on #7380
@SaurabhSharma-MSFT Also, this is probably a different issue but is there a way to see log information like you do in Azure AD without using App Insights? In the log for Azure AD I could see the token requests, sign-ins, etc? Would like to be able to see this information and be able to revoke tokens.

[2018-04-19 15:33] AspenForester opened #7438 "Why portqry?"
Wouldn't it make more sense to use a modern tool like PowerShell?  Test-NetConnection -computername <StorageAccount>.file.core.windows.net -port 445  would accomplish the same thing, wouldn't it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c12f1ea9-6446-be01-22fe-885fb945d22c
* Version Independent ID: 634f8ace-1a8c-

[2018-04-19 15:34] #7006 closed

[2018-04-19 15:35] Mike-Ubezzi-MSFT commented on #7226
@stevestein I have changed this to a product-question, as I am hoping to get product related feedback to answer the question but, I still think the document needs to be looked at for tutorial accuracy and doc-enhancement as @pekkaar has pointed out.

[2018-04-19 15:37] Mike-Ubezzi-MSFT commented on #6936
Thank you! @fmuntean and @dominicbetts

[2018-04-19 15:37] #6936 closed

[2018-04-19 15:39] schellack opened #7439 "Incorrect parameter for keyvault create"
The keyvault create command does not accept a parameter of --vault-name. Executing the command with that name will return an error:
az keyvault create: error: the following arguments are required: --name/-n.
You should instead use the parameter --name

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e56b7281-9ab8-982c-aa

[2018-04-19 15:44] suhuruli commented on #6090
PR here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/38419 thanks for the find. Apologies for delay in getting this addressed.

[2018-04-19 16:12] davidmu1 commented on #7282
This has been corrected.

#please-close

[2018-04-19 16:13] #7282 closed

[2018-04-19 16:14] MicahMcKittrick-MSFT commented on #7437
@artisticcheese Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-19 16:22] spottedmahn opened #7443 "SPA Icon Doesn't Make Sense (to me)"
On https://docs.microsoft.com/en-us/azure/active-directory-b2c/ is

![image](https://user-images.githubusercontent.com/14079228/39004795-5aa2e140-43cc-11e8-93e9-5e4901677ede.png)

---

[Node.js](https://nodejs.org/en/) is a **server-side** thing, **not** a **client-side** thing.  [Angular](https://angular.io/), [React](https://reactjs.org/), [Vue.js](https://vuejs.org/), [AngularJS](https://angula

[2018-04-19 16:27] davidmu1 commented on #7208
I agree that more conceptual information is needed about scopes.

We have opened an item in our documentation backlog to have this investigated and updated. We'll respond back to you on this issue when we've done the work. For now, we'll close this GitHub issue.

#please-close

[2018-04-19 16:30] derekschauland opened #7444 "Missing cmdlets"
It appears that any Policy related cmdlets are missing from the latest itteration of the AzureAD Module, including installation of the latest preview module. Is there another way to use PowerShell to update the token lifetimes and or AzureAD Policy?

thanks
Derek

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96c60056-

[2018-04-19 16:30] mimig1 commented on #7412
You can assign this to me as I was investigating an issue in the doc and updated the screenshots in the process.

[2018-04-19 16:33] rashaadfontenot opened #7445 "Not Authenticating"
Step 8
Non of my primary keys allow me to connect

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db43c478-6301-7b69-131a-c4289797c49d
* Version Independent ID: 5f991bdb-919e-f712-1fe0-050eba25ebaf
* Content: [Power BI tutorial for Azure Cosmos DB connector](https://docs.microsoft.com/en-us/azure/cosmos-db/powerbi-visua

[2018-04-19 16:41] mimig1 commented on #6526
The pk value has been added to the JSON sample in https://docs.microsoft.com/en-us/azure/cosmos-db/unique-keys#sql-api-sample. I think this addresses the issue. Thanks! #please-close

[2018-04-19 16:41] cjgronlund commented on #7021
#in-progress

[2018-04-19 16:43] vplauzon opened #7446 "Typos"
Hi,

I found two typos in https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal:

1. At the beginning (literally the second line of the article), you refer to "user-defined routes" but the underlying URL points to load balancer overview doc
2. Towards the end you mention that credentials can be found in "~/.azure/acsServicePrincipal.json".  It is actually "~/.azure/aksServicePrin

[2018-04-19 16:44] Adam-Smith-MSFT commented on #7433
@MartinNr5  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-19 16:46] SyntaxC4 commented on #6458
Thanks @rramachand21, I'm working on updating the topic!

[2018-04-19 16:46] Adam-Smith-MSFT commented on #7428
@ashutosh95 Thanks for the feedback! Would you be able to provide us with the other links and where the confusion was found so I can escalate it to the content author ?

Thanks,

[2018-04-19 16:48] Mike-Ubezzi-MSFT commented on #7411
@xtianus79 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-19 16:52] davidmu1 commented on #7283
Removed the links in the note related to custom policies. If links are useful in other articles, they can be added to the content in those articles.

#please-close

[2018-04-19 16:56] davidmu1 commented on #7287
Quickstarts have a very specific purpose and structure. One isn't there because it just hasn't been created yet :) We have opened an item in our documentation backlog to have this investigated and updated. We'll respond back to you on this issue when we've done the work. For now, we'll close this GitHub issue.

#please-close

[2018-04-19 16:57] MarkusVi commented on #7372
#please-close

[2018-04-19 16:59] mimig1 commented on #7412
#in-process

[2018-04-19 16:59] davidmu1 commented on #7308
This node has been temporarily moved back as a child node.

#please-close

[2018-04-19 16:59] curtand commented on #7269
@dreijer If you want me to contact you when this is done, please let me know.
#please-close

[2018-04-19 17:00] cesarwhite opened #7447 "Link to market guide no longer valid"
You get a "EXPIRED CONTENT Access to this content has now expired" page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a56e729-7981-9a51-9c5c-00ea13a8d888
* Version Independent ID: 01fb14e5-e8a4-49e0-5908-b6069566a8de
* Content: [Azure Billing APIs](https://docs.microsoft.com/en-us/azure/billing/billing-usage-rate-car

[2018-04-19 17:00] curtand commented on #6970
@WithHolm If you would like me to contact you when this is done, please let me know. #please-close

[2018-04-19 17:02] davidmu1 commented on #7362
I understand your issue. Unfortunately, there is nothing that can be done in relation to the referenced article to solve the issue. The choice to use non-linked nodes in the TOC is an organizational decision. It seems as if your issue may be more related with the mobile experience. I would suggest providing feedback at: https://aka.ms/sitefeedback

#please-close

[2018-04-19 17:02] SaurabhSharma-MSFT commented on #7424
@ducasi Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-04-19 17:06] NCSTman commented on #7372
Thanks all for the info.

[2018-04-19 17:06] #7372 closed

[2018-04-19 17:07] SaurabhSharma-MSFT commented on #7425
@Nilis312 Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-19 17:10] #7287 closed

[2018-04-19 17:10] BryanTrach-MSFT commented on #7415
@romankiss Can you please provide us with a link to the document that you are having issues with? We look forward to your reply.

[2018-04-19 17:10] #7308 closed

[2018-04-19 17:10] #7362 closed

[2018-04-19 17:10] ecfan commented on #7235
@BryanTrach-MSFT @hraunfjord

Thanks for the feedback! We have a work item on the backlog to update this content.

[2018-04-19 17:14] BryanTrach-MSFT commented on #7419
@guddu2112 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-19 17:15] BryanTrach-MSFT commented on #7426
@Rachitgupta1994 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-19 17:27] SaurabhSharma-MSFT commented on #7439
@schellack Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-19 17:32] SaurabhSharma-MSFT commented on #7443
@spottedmahn Thanks for your feedback! We will investigate and update you as appropriate.

[2018-04-19 17:34] SaurabhSharma-MSFT commented on #7444
@derekschauland Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-19 17:36] derekschauland opened #7448 "Unable to locate the things needed to change token time"
I am trying to change the Max Token Refresh Age for Multifactor and am unable to locate the cmdlets needed to perform the operation outlined by this document. Is there another revision of this document or somewhere else I can find more info on this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02ff3d62-dc0e-ad0c-f5ae

[2018-04-19 17:39] neilpeterson commented on #7446
@vplauzon - thanks, I will address both of these.

[2018-04-19 17:46] dreijer commented on #7269
Nope, no need, thanks. Just wanted to make sure the docs were updated for
our customers. :)

On Thu, Apr 19, 2018 at 9:59 AM, Curtis Love <notifications@github.com>
wrote:

[2018-04-19 17:50] BryanTrach-MSFT commented on #6526
@dlyall-maine We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-19 17:50] #6526 closed

[2018-04-19 17:50] BryanTrach-MSFT commented on #6909
@algattik We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-19 17:50] #6909 closed

[2018-04-19 17:50] BryanTrach-MSFT commented on #6970
@WithHolm We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-19 17:50] #6970 closed

[2018-04-19 17:52] BryanTrach-MSFT commented on #6980
@AksanaKuzmitskaya We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-19 17:52] #6980 closed

[2018-04-19 17:53] Mike-Ubezzi-MSFT commented on #7445
@rashaadfontenot Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-19 17:54] BryanTrach-MSFT commented on #7015
@dcbrown16 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-19 17:54] #7015 closed

[2018-04-19 17:54] BryanTrach-MSFT commented on #7208
@spottedmahn We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-19 17:54] #7208 closed

[2018-04-19 17:55] BryanTrach-MSFT commented on #7269
@dreijer We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-19 17:59] femsulu commented on #7423
@jason279 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-19 18:00] spottedmahn commented on #7208
Hi @BryanTrach-MSFT - FYI, I don't have the power to re-open 😪

I'm good though 😊

![image](https://user-images.githubusercontent.com/14079228/39009555-f95c89a0-43d9-11e8-8136-efebf1d6d728.png)

[2018-04-19 18:01] v-geberr commented on #7143
#please-close This is not a documentation issue. The documentation is correct.

[2018-04-19 18:01] v-geberr commented on #6965
#please-close This is rolling out in the next month.

[2018-04-19 18:02] ltouro commented on #6866
Had the same problem while trying to follow this [doc](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-get-started-custom) and change the E-mail based login for Username based login based on this [SO post](https://stackoverflow.com/questions/45699101/custom-b2c-policy-for-username-based-local-accounts/46282586#46282586).

Solved the problem by removing the UserJour

[2018-04-19 18:02] v-geberr commented on #6754
@Ivovan This doc has been corrected. Please review.

[2018-04-19 18:03] v-geberr commented on #5875
#please-close The tutorial will be finished with entities when a product bug is fixed.

[2018-04-19 18:04] femsulu commented on #7447
@cesarwhite, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-19 18:04] MicrosoftGuyJFlo commented on #7424
@ducasi sure that seems reasonable. I will open a PR against our private repo to fix this.

[2018-04-19 18:09] neilpeterson commented on #7446
@vplauzon - updates are in, this issue should auto close once merged. Thanks again for raising the issue.

[2018-04-19 18:15] apeschel opened #7451 "Compatibilty with Non-AKS Kubernetes"
Is OSBA compatible with other non-AKS kubernetes installations? e.g. ACS, acs-engine, etc?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77905ec1-fd7e-d037-cac5-62a5b8075c1b
* Version Independent ID: 239518e8-cb47-3fd3-9cc2-2238ef57cbc6
* Content: [Integrate with Azure-managed services using Open Service Broker for Az

[2018-04-19 18:27] neilpeterson commented on #7446
@mitchstewart - can you assign this one to me even though its been closed out.

Thanks

[2018-04-19 18:31] apsave opened #7452 "use PowerShell to Require selected users to provide contact methods again."
it would be wonderful to be able to use Powershell to manage these settings, especially "Require selected users to provide contact methods again."
that would make this a feature i could delegate to user management admins, instead of only global admins.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51eadd8e-b820-be21-9

[2018-04-19 18:37] SaurabhSharma-MSFT commented on #7427
@phw198 Thanks for the feedback !  I have assigned this issue to content author to investigate and update as appropriate.

[2018-04-19 18:38] MikkelHegn commented on #6981
@nitinkallikat: You code is not working (the https://services.data/... call) because the HTTPClient sends that call to port 80. There is no integration between the HTTPClient and Service Fabric naming resolution for ports, also not through the DNS Service.

For that scenario you should use the reverse proxy in Service Fabric. The reverse proxy will do the resolution with dynamic ports, and also of

[2018-04-19 18:38] SaurabhSharma-MSFT commented on #7448
@derekschauland Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-19 18:46] chadc commented on #6866
Itouro did you actually get this to work?  I've followed the referenced SO post but I still cannot upload TrustFrameworkExtensions.xml.  I receive an error that the claims exchange LocalAccountSigninEmailExchange is not found.

[2018-04-19 18:47] sozercan commented on #7451
Hi @apeschel. I don't believe ACS is supported. Instructions should work exactly same on acs-engine (you can have RBAC enabled on acs-engine as well).

[2018-04-19 18:53] brandonh-msft opened #7454 ""workflow definition function" links are broken"
all of them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88388cfb-3f47-e89b-ad03-01d0c9674dc6
* Version Independent ID: 21df1ee4-6487-b054-2a62-152e7bc768f6
* Content: [Communicate with any endpoint over HTTP - Azure Logic Apps](https://docs.microsoft.com/en-us/azure/connectors/connectors-native-http#authentication)

[2018-04-19 19:06] rothja commented on #6863
@Ayanmullick Were you able to test the backup failure to see if these event log entries helped you? Thanks!

[2018-04-19 19:06] cog-64 commented on #5461
Interestingly, now in 15c, the description does not match the UI.  There doesn't appear to be a Sink Dataset section in the Copy Activities Parameters tab.  It stops at Retry.  Tried in both Edge and Chrome 65., same appearance.

Please advise ...

[2018-04-19 19:13] Rick-Anderson commented on #5963
https://docs.microsoft.com/en-us/dotnet/csharp/async explains it.

[2018-04-19 19:16] #6458 closed

[2018-04-19 19:17] Mike-EEE commented on #5963
Thank you @Rick-Anderson I do see that it does explain it and I am giving you my understanding of it as I have read it.  Is my understanding of it accurate?

[2018-04-19 19:18] Rick-Anderson commented on #5963
No

[2018-04-19 19:19] MohitGargMSFT commented on #7381
@stumpykilo Great to know you are unblocked. We will now proceed to close this thread.

[2018-04-19 19:19] #7381 closed

[2018-04-19 19:25] Ayanmullick commented on #6863
Identified 2 event ids  57008 and 55523 occurring during backup failures. Created rules. Simulated failure. Awaiting notification.

Couldn't find a way to edit the Smart Admin automated backup schedule thru the Azure Portal or the Sqlserver powershell module.

[2018-04-19 19:25] scrampy opened #7455 "Why does the sum of probabilities returned exceed 100%?"
In the Quick Test example of the picture of the dog, the probabilities returned are dog: 90.3%, pony: 15.9%.  Why don't the probabilities add up to 100%?  In some of my testing with two labels, I get back results like label1: 95%, label2: 95% - how is this possible?

Thanks,
Sohrab

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-04-19 19:31] Rick-Anderson commented on #5963
https://docs.microsoft.com/en-us/dotnet/csharp/async

[2018-04-19 19:32] DaveEx1 commented on #6000
It seems a Topic SQLAction cannot be used to update the sys.SessionId property. Is that correct?

[2018-04-19 19:36] MarkusVi commented on #7427
Hi @phw198, this means "Users' needs to enroll for second factor authentication (interactive)".
I have staged an update to the article.
#please-close

[2018-04-19 19:37] Mike-EEE commented on #5963
Right, I get that @Rick-Anderson but I am looking for a quote (content) in the article itself that shows me where I am mistaken.   I have to say that I am not feeling any professional, helpful vibes from you here.

[2018-04-19 19:37] MicrosoftGuyJFlo commented on #7452
There is work being done to enhance these capabilities by way of the Graph API but no firm date or timeline can be given at this point.

[2018-04-19 19:38] #7424 closed

[2018-04-19 19:42] SaurabhSharma-MSFT commented on #7448
@derekschauland I can see PowerShell cmdlets example in the same documentation under section -
[Example: Manage an organization's default policy](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-configurable-token-lifetimes#example-manage-an-organizations-default-policy).  Also, you can get more details on downloading the PowerShell version to set up the policy at [How to c

[2018-04-19 19:43] MicahMcKittrick-MSFT commented on #7288
@anshuman-nath I will close this for now. Feel free to reopen if you want to continue.

[2018-04-19 19:43] #7288 closed

[2018-04-19 19:44] MicahMcKittrick-MSFT commented on #7359
@touseefbsb I will close this out for now but if you make an attempt and are still having issues please reopen and we can continue.

[2018-04-19 19:44] #7359 closed

[2018-04-19 19:46] Mike-Ubezzi-MSFT commented on #6484
@SamirFarhat We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-19 19:46] #6484 closed

[2018-04-19 19:47] MicahMcKittrick-MSFT commented on #7404
@sozercan I will assign this to the author to take a look and consider updating the doc.

@mmccrory please take a look.

[2018-04-19 19:51] dstefanMSFT commented on #6956
it is there :) https://docs.microsoft.com/en-us/office365/enterprise/using-azure-ad-for-sharepoint-server-authentication

[2018-04-19 19:51] dstefanMSFT commented on #6317
https://docs.microsoft.com/en-us/office365/enterprise/using-azure-ad-for-sharepoint-server-authentication

[2018-04-19 19:51] MicahMcKittrick-MSFT commented on #7410
@sozercan the reason we have 3 to start with is that is technically the number you would need to ensure high availability (per mathematical probability). You would not need to specify 3 zones if what you were deploying did not need it. So for example, if you create a scale set with 2 instances then having them span between zone 1 and 2 would be the same as spanning them from zone 1 and 3. Also, de

[2018-04-19 19:51] #7410 closed

[2018-04-19 19:51] Mike-Ubezzi-MSFT commented on #6788
@Frankwayne Did this get resolved? Thanks, Mike

[2018-04-19 19:53] Mike-Ubezzi-MSFT commented on #7263
@DarinShapiroMS I am going to close this issue but if you need to continue the dialog we can easily reopen and address anything that is still outstanding.
Regards,
Mike

[2018-04-19 19:53] #7263 closed

[2018-04-19 19:55] MicahMcKittrick-MSFT commented on #7414
@jigarshah04 for other images other than Windows you simply would pick them from the marketplace during the first steps. Availability Zones are not limited to only Windows Machines.

As per more examples, you can find some **[here](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-use-availability-zones)** that cover CLI, PowerShell and ARM template.

Wil

[2018-04-19 19:55] #7414 closed

[2018-04-19 20:02] MicahMcKittrick-MSFT commented on #7417
@jigarshah04 The AZ for East US 2 are currently in preview so they are not available for all subscriptions and SKUs. You can see a similar issue [here](https://github.com/MicrosoftDocs/azure-docs/issues/7112).

Currenlty US Central and France Central are the only zones in GA

https://docs.microsoft.com/en-us/azure/availability-zones/az-overview

If you really want to use the East US 2 you could fi

[2018-04-19 20:02] #7417 closed

[2018-04-19 20:02] georgewallace commented on #6947
@akramwaseem Since it has been a few days since I answered, I am going to ask this issue be closed.  If you have any other questions or comments for the docs, please feel free to open a new one.  #please-close

[2018-04-19 20:03] georgewallace commented on #6929
@Discostu36 , the doc has been updated. As mentioned, I am working with the team that owns the solution to get the solution updated as well. #please-close

https://docs.microsoft.com/en-us/azure/automation/automation-solution-vm-management

[2018-04-19 20:05] MicahMcKittrick-MSFT commented on #7435
@robwafle thanks for the find! I have filed a PR. Once it merges this issue will automatically close.

[2018-04-19 20:07] MicahMcKittrick-MSFT commented on #7276
@dexterac do you have the ability to file a [Support Ticket](http://aka.ms/azsupt)? You might benefit from working 1:1 with an engineer who has access to some of the logs and together and work towards a resolution. If needed I can enable your subscription for a support ticket.

[2018-04-19 20:09] MicahMcKittrick-MSFT commented on #7184
@ydogandjiev I would suggest you try posting your issue on [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-functions) to see if anyone has any suggestions for your.

@ggailey777 assigning this to you to consider the doc-enhancement portion of the question.

[2018-04-19 20:09] dexterac commented on #7276
Hi Michah, yeah we do have support available. Will check it out to work
1:1. Thanks!

On Thu, Apr 19, 2018, 1:07 PM Micah <notifications@github.com> wrote:

[2018-04-19 20:10] MicahMcKittrick-MSFT commented on #7276
Great! Please share the ticket number once it is created as I would love to follow up as well.

I will close this out for now but we can always reopen if needed.

[2018-04-19 20:10] #7276 closed

[2018-04-19 20:12] ltouro commented on #6866
@chadc Hey chadc. Had some trouble other day, but gave it a fresh start today and worked. My strategy was to make very simple and small changes before each upload/test cycle. First, made it work with Email based Signup (the default SocialAndLocalAccounts Starter pack available [here](https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack)) for a new B2C Tenant.

I don't ha

[2018-04-19 20:12] Rick-Anderson commented on #5963
Sorry @Mike-EEE , that's not my intention. Can we close this issue? It looks like this issue has gone off track from its intended scope of discussing what needs to be fixed in the C# language ref doc; I think we’ve covered the issue you opened for this doc. @tdykstra  updated the doc. Can you read the two articles I listed and if you find problems with them open issues on them?

[2018-04-19 20:12] YutongTie-MSFT commented on #7393
@scrampy Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@PatrickBue Hi, this is a issue around Part 1 , step 2, can you please check it and update the document as necessary? Thanks a lot!

[2018-04-19 20:13] MicahMcKittrick-MSFT commented on #7266
@rkyttle please go ahead and give that a try.

@rolyon I will assign this to you as we should have the referenced article removed/ updated since it is no longer valid

[2018-04-19 20:14] YutongTie-MSFT commented on #7143
@zhanpengli We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-19 20:14] #7143 closed

[2018-04-19 20:16] vancourse opened #7456 "WebApp-to-SQLDB connectivity via MSI WITHOUT Tokens"
I would like to use MSI to authenticate WebApp to SQLDB..

Essentially is this possible?

1) Register MSI in SQLDB ( as a user?) and grant adequate privileges.
2) Connection string (in web.config) has a reference to MSI
3) Azure pixie dust is sprinkled
4) My webapp can now access sqldb

Question: Does this pixie dust exist? If so, can you please point me in that direction.

---
#### Document Detai

[2018-04-19 20:16] MicahMcKittrick-MSFT commented on #7284
@sayanghosh123 can you please post your product question here so our AD engineers and take a look

https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

@davidmu1 I will assign this to you to determine if this current doc should have any enhancements

[2018-04-19 20:18] Mike-Ubezzi-MSFT commented on #6841
@JeremyWeir Does this answer your question? Seems there is potentially some documentation enhancement that could be made. Thanks, Mike

[2018-04-19 20:19] #7435 closed

[2018-04-19 20:26] mattchenderson commented on #7456
This is indeed possible! @cephalin is actually working on a topic which covers this exact scenario, and I believe it should be ready soon, but perhaps he can comment.

[2018-04-19 20:28] derekschauland commented on #7448
I saw the examples, but the cmdlets are not appearing in any of the AzureAD powershell modules I have installed... currently running version 2.0.1.6

I have also tried the preview cmdlets

________________________________
From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Thursday, April 19, 2018 2:42:27 PM
To: MicrosoftDocs/azure-docs
Cc: Derek Schauland; Mention
Subject: Re: [MicrosoftDoc

[2018-04-19 20:32] YutongTie-MSFT commented on #7405
@mcsee As the author said, please vote up for it. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-19 20:32] #7405 closed

[2018-04-19 20:42] vancourse commented on #7456
@mattchenderson Awesome.. Cant wait to hear about the solution!

You guys are kickass.. response times are unbelievable!! Go-Az :)

[2018-04-19 20:51] lvovan commented on #6754
The second bullet point is much clearer, thank you!
I re-read the first one, and think that examples would definitely be helpful to better understand the different use cases.

[2018-04-19 20:51] SyntaxC4 commented on #6564
@MicrosoftDocs/azure-cxp-triage Can you please reassign to @alexkarcher-msft?

[2018-04-19 20:51] vinayrlimbare opened #7457 "Dynamic Names for Activities in ForEach"
All the activities in the ForEach have same names. Using Monitor to track the status of the activity is of no use. A dynamic parameter to the Activity Name could help in tracking.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 633f2967-1c61-51de-5787-a6ca7ac5bdae
* Version Independent ID: d2862926-36d8-4e84-0c93-afdef9

[2018-04-19 20:54] mstumpfx opened #7458 "mvn clean package fails"
Followed build steps, updated dependencies today. Running 'mvn clean package fails' with the following error:

[ERROR] Failed to execute goal com.microsoft.azure:azure-functions-maven-plugin:0.2.0:package (package-functions) on project myproject: Execution package-functions of goal com.microsoft.azure:azure-functions-maven-plugin:0.2.0:package failed: A required class was missing while executing c

[2018-04-19 20:59] Brenduns commented on #7369
@tobydrake7  I've opened a tracking item in my backlog so I can address this. I'll work with our product team who is responsible for the technical information in this topic, and the scripts.  We really appreciate the feedback and once the product team members can evaluate, and provide confirmation of what they wish to see in these scripts for guidance, I'll take the actions to update the content.

[2018-04-19 21:00] Brenduns commented on #7369
#please-close
This request is now tracked in the doc teams content backlog, and is under investigation with the product group.

[2018-04-19 21:11] SyntaxC4 commented on #6300
@mcupito Thank you for the feedback, it looks as if @ggailey777 has addressed your request.

#please-close

[2018-04-19 21:17] csteegz opened #7459 "Regenerate Keys has wrong URL"
Regenerate keys has url as /keys, when it should be /regenerateKeys

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f94ed92-f637-f4f9-6748-d227eaa3a5a4
* Version Independent ID: 170a2741-b20f-8d36-1b8a-1847286dd46f
* Content: [Create a Docker image for Model Management in Azure Machine Learning](https://docs.microsoft.

[2018-04-19 21:25] Mike-EEE commented on #5963
Haha no worries @Rick-Anderson.  I appreciate you responding to me in more than one word. 😆

I opened this issue to highlight my confusion around about asynchronous functionality in Azure Functions, which is supported by ASP.NET Core infrastructure.  So learning one means I am learning two (pretty awesome!).  Unfortunately, my confusion still stands, as I did state in the original ticket that "_it

[2018-04-19 21:29] akramwaseem opened #7460 "Does not work for VMSS and OMS doesn't work"
Good documentation but, If we install OMS through OMS extension. OMS doesn't work at all. we cannot see any syslog data at all.
And the json code provided above doesn't work with VMSS.
VMSS code is completely different and even on  VMSS, OMS doesn't work.Seems like nobody is using this feature yet.
I reported the issue on Github to Microsoft like 30 days ago and haven't got a single response yet o

[2018-04-19 21:34] Mike-EEE commented on #5963
Ah @SyntaxC4 thanks for that.  From my view there is some work/concern left to be done here but I am certainly open to feedback and working towards closing this.  The irony of course is that I wanted to stay away from re-learning and re-investigating TPL as I knew it would suck up at least a weeks' worth of time (and soul) out of my life, but here we are anyways. 😆  It would be great to hear your

[2018-04-19 21:41] ahmelsayed commented on #6541
Can you try hitting `http://localhost:70701/admin/host/status` in your browser then check the logs folder?
I think by default the runtime only logs to that file if you are actively hitting that endpoint. You can also set this in your host.json

[code]

[2018-04-19 21:50] SyntaxC4 commented on #5963
@Mike-EEE Thanks for the feedback. I'll leave it up to the professionals (@tdykstra & @Rick-Anderson) I haven't started to learn .NET Core, as i'm more of a non-.NET type.

#hold-off

[2018-04-19 22:01] BryanTrach-MSFT commented on #6805
@ravjay The feedback that I have received is that we do not currently allow the selection of the notification type at this time for Baidu.

You can leave feedback at this [link ](https://feedback.azure.com/forums/218849-notification-hubs)to request this feature to be added in the future.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen

[2018-04-19 22:01] #6805 closed

[2018-04-19 22:09] PatrickBue commented on #7393
Hi, this is a valid work-around, and thanks for reporting. However, training on CPU is so much slower compared to GPU that for many datasets it is just not feasible. Hence the GPU requirement.

[2018-04-19 22:10] SnehaGunda commented on #7411
@xtianus79 thanks for pointing the issue. The doc is referring to the sample located in the [Mongodb .Net samples repo](https://github.com/Azure-Samples/azure-cosmos-db-mongodb-dotnet-getting-started/blob/master/MyTaskListApp/DAL/Dal.cs ). After investigating, I found that there is another topic https://docs.microsoft.com/en-us/azure/cosmos-db/create-mongodb-dotnet that is same as this, so  will d

[2018-04-19 22:10] SnehaGunda commented on #7411
#in-process

[2018-04-19 22:25] barclayn commented on #7439
@schellack Thank you for the feedback. This is the old CLI article that is now redirecting to the CLI2 article.

[2018-04-19 22:38] cephalin commented on #6385
fixed. #please-close

[2018-04-19 22:38] MicahMcKittrick-MSFT commented on #7458
@mstumpfx Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-19 22:40] DarinShapiroMS commented on #7263
Hey Mike,

I think that document should be linked to in the area I first mentioned, the one that list some response codes.

Secondly, I went through the document and it doesn’t address the error code that started me down this path.   The portal reports the last response from IoT Edge runtime as “500 - An error occurred in the IoT Edge runtime.”

There is much else to go on from that doc, since the

[2018-04-19 22:41] SaurabhSharma-MSFT commented on #7448
I have tried installing the Azure AD PowerShell Module on my Win 10 system and it worked fine and I could also see the Cmdlets - New-AzurePolicy with the TokenLifeTimePolicy property. Just wanted to check if you got any error or warnings while installing the AzureADPreview.

[2018-04-19 22:44] SaurabhSharma-MSFT commented on #7444
@derekschauland  Closing this as Duplicate of #7448.

[2018-04-19 22:44] #7444 closed

[2018-04-19 22:44] xmark commented on #7407
My Private key is 900 characters in length, 15 lines long including both the BEGIN and END lines. However, this does not include the '\n' characters.
My consumer key is 30 characters long.

What lengths 'should' they be? I generated the key using the exact command line instructions used on the Xero page:
https://developer.xero.com/documentation/api-guides/create-publicprivate-key

Question to you,

[2018-04-19 22:46] Mike-Ubezzi-MSFT commented on #7263
@kgremban There are some doc-enhancements that need to be made. I am going to forward this on so it can be updated. Thanks, Mike

[2018-04-19 22:48] xmark commented on #7407
Here is a masked version of the key with lots of characters chanaged and the last line replaced with 'x' characters

-----BEGIN RSA PRIVATE KEY-----
MIICMMIBAApBgQDCG7M7l8dQbp1MRVMVmdv1rp4MMMjC+HrpqjFLsi1mbxjAT0pe
111jM/JnmyjSIMpmM+2Yb/IaQs1RmTp9At0ujxlMM9pqppdbO/0sU3JpQpQGhXgl
y8U7Tpfn0tILgF+HClxb1EMfj55ajpPPigy31gjRJVpOueNjAroT1y4x0QIDAQAB
AoGActdh+IgF/ppuDJqbM25aPecob41NMP0V+Q5r7fMO9UnICmhfAeMS

[2018-04-19 22:57] MicrosoftGuyJFlo commented on #7452
#please-close

[2018-04-19 22:58] brjohnstmsft commented on #7298
@Ponant Yes, there will be more latency if you have a web app between your client and your search service. However, we still recommend this architecture in most cases because otherwise you could be putting api-keys at risk by exposing them to the client. What we recommend is that you call your search service directly from JavaScript running in the browser only if you're fine with your data being p

[2018-04-19 22:58] rolyon commented on #7266
#in-progress

[2018-04-19 23:08] MicahMcKittrick-MSFT commented on #7460
@akramwaseem thanks for the feedback.

The OMS extension should work for VMSS as well. It should be something along the lines of

[code]

You then would need to make sure you update all your VMSS instances to the latest version for it to apply to each instance. What error are you seeing and what code are you using?

[2018-04-19 23:09] MicahMcKittrick-MSFT commented on #7460
Check this blog for more
https://blogs.msdn.microsoft.com/timomta/2018/04/09/how-to-add-the-oms-client-to-a-vm-scale-set/

[2018-04-19 23:15] dagrkatyal opened #7462 "Error in Running Hive Queries"
When I follow these commands, i get following error on the command Start-AzureRmHDInsightJob.
I am admin on the cluster but I am read only on the Resource Group.
Any guidance?

Error---------------------------------------
Start-AzureRmHDInsightJob : AuthorizationFailed: The client 'XXX@XXXX.com' with object id
'XXXXXXXXXXXXXXXXXXXXXXXXXXXX' does not have authorization to perform action
'Microsoft.

[2018-04-19 23:15] MicahMcKittrick-MSFT commented on #7458
@mstumpfx thanks for pointing this out. I was able to repro this issue.

@rloutlaw any insights?

[2018-04-19 23:35] unacao opened #7463 "which id_rsa file to use when ssh to an aks node?"
Hi,

I tried to follow the steps but was stuck on the id_rsa ssh key part. If I use the default ~/.ssh/id_rsa, it is my personal ssh key and when running the command ssh -i id_rsa azureuser@10.240.0.4, I was prompted for passphrase which always gives permission denied if I enter my personal passphrase. I don't have a separate ssh key generated when creating this cluster since it was created by my

[2018-04-19 23:48] barclayn commented on #7439
@SaurabhSharma-MSFT  I already deleted the article referenced here and added a redirect. What is the next step?

[2018-04-19 23:51] BryanTrach-MSFT commented on #7454
@brandonh-msft Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-19 23:54] TimMcCann commented on #5297
I received Ocp-Apim-Trace-Location missing error also. But I am ignoring for now because I know my domain names aren't configured correctly.

[2018-04-19 23:54] YutongTie-MSFT commented on #7459
@csteegz Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@get2chhavi Hi, this is a issue about the URL of generate keys, can you please check and update the document as necessary? Thanks a lot!

[2018-04-19 23:55] derekschauland commented on #7448
I think I originally had an older version of the module installed

Replacing it with the preview module seems to have gotten me on track.

Thank you for looking into this

Sent from my iPhone

On Apr 19, 2018, at 5:41 PM, SaurabhSharma-MSFT <notifications@github.com<mailto:notifications@github.com>> wrote:

I have tried installing the Azure AD PowerShell Module on my Win 10 system and it worked fi

[2018-04-19 23:55] YutongTie-MSFT commented on #7455
@scrampy Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-20 00:04] YutongTie-MSFT commented on #7455
@scrampy Hi, this is a mathmatical issue. Because the propabilities are represented the similarity between the sample photo and target photo, so the number you got for every target is not relative. You can use the data to judge which one is more similar. Thanks.

[2018-04-20 00:13] Rick-Anderson commented on #5963
@Mike-EEE
First let me apologize for my terse responses. I’m not an expert at async programming, so I referred you to those topics.  I’ve been working offline with @BillWagner (who is an expert on async) on how to improve our docs. I think @BillWagner  will be jumping in tomorrow or soon after.

[2018-04-20 00:20] yoshihirok opened #7467 "Dose Read-Replica became 4 times of read performance ?"
Read-Replica of Azure SQL Database seems to make 4 times of read performance.
Read performance mean concurrent session count or latency for read activity.
Dose Read-Replica became 4 times ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a2961d1-4448-11b7-2dc2-3b738bd70939
* Version Independent ID: 206eb022-25c4-66d7-7

[2018-04-20 00:28] Rick-Anderson commented on #5963
@Mike-EEE  I don't think you want to go the TPL route. AFAIK, for real web apps, the `async/await` approach is the most productive and highly preformant. The compiler usually does a good job of telling you when you need/don't need the keywords. Good luck.

[2018-04-20 00:31] SnehaGunda commented on #7248
@dalmat36 hope the doc update helps, we will close this issue now. If you have more questions, feel free to reopen or create a new one.

#please-close

[2018-04-20 00:37] SaurabhSharma-MSFT commented on #7448
@derekschauland Glad to hear that. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-20 00:37] #7448 closed

[2018-04-20 00:47] LuisBosquez commented on #6530
Thanks @JamesRandall!

At the moment we are having a discussion with the open-source community of Apache Tinkerpop with a design to expose server messages and status codes. It's not a matter of writing the code, as much as it is to make sure that the community agrees upon a design that is extensible and generalizable. You can see the current discussion here: https://issues.apache.org/jira/browse/T

[2018-04-20 00:49] LuisBosquez commented on #6663
@jackbond @Seddryck @RebelSyntax Thanks for reporting this. I had previously updated the sample to include the snippet that @Seddryck mentioned and update the reference to Gremlin.Net 3.3.0+, but for some reason forgot to update the doc itself. Sorry about that. I have pushed this fix to the docs repository and should be live soon.

Thanks,
Luiis

[2018-04-20 00:57] Adam-Smith-MSFT commented on #7438
@AspenForester Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-20 01:47] BillWagner commented on #5963
Thanks for tagging me @Rick-Anderson There are a lot of good questions here.  I've created dotnet/docs#4973 to facilitate the discussion around these questions. I think I've captured your concerns in that issue. Add comments if there are questions I've missed above.

[2018-04-20 01:47] chadc commented on #6866
@ltouro thanks for the response.  I've had the same approach -- making minor modifications -- and I've finally got a successful upload of base/extensions/signonorsignin policies.  The problem is that I still cannot authenticate a local user in my B2C directory (I get an "invalid username or password" error).  I can create a sign-in policy through the Portal that works just fine, but I can't seem t

[2018-04-20 02:05] rkyttle commented on #7266
Thank you Micah and Robert.  Robert, I did give the CSV export a try but it does not provide the same details that the Get-AzureRMAuthorizationChangeLog cmdlet provided.

[2018-04-20 02:05] jdneo commented on #7458
Hi all,

For any other users who encountered this problem, please set the the version of azure-functions-java-core to 1.0.0-beta-2 in the pom file for the workaround.

We will release an update of the Maven plugin for this issue in Early May.

[2018-04-20 02:37] anrothMSFT commented on #7455
Hey @scrampy - wanted to provide some context here. Custom Vision Service currently by default builds "multilabel" classifiers. So there isn't a strict assumption that your photo being predicted contains either a dog OR a pony- instead the classifier returns the probability that your image contains a dog, and the probability that it contains a pony. This is nice property if you have photos that mi

[2018-04-20 03:12] jason-j-MSFT commented on #7462
@dagrkatyal
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-20 03:13] jason-j-MSFT commented on #7457
@vinayrlimbare
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-20 03:29] genlin commented on #7177
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

#Please-close

[2018-04-20 03:29] genlin commented on #7040
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

#Please-close

[2018-04-20 03:34] #7040 closed

[2018-04-20 03:37] EmmaZhu commented on #6356
@gbstan92  The error message shows an error from network to me. Can you share the account name to me to take a look if it's OK? My email address is emmazhu@microsoft.com

[2018-04-20 04:30] jeremyhagan opened #7469 "Download links for specific versions"
Since some versions say " Released for auto-upgrade and download" and some say "for download only" how do I download the auto-upgrade version? The link only lets me download the latest version for download.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5bc6d02-8ce9-e15d-4221-4aad75db260a
* Version Independent ID: 8a3

[2018-04-20 05:44] femsulu commented on #7186
@joeizy  The bad link has been fixed . Thanks again for bringing this to our attention. We will now close this issue. please don't hesitate to re-open if you have any followup questions.

[2018-04-20 05:44] #7186 closed

[2018-04-20 05:48] dcbrown16 opened #7471 "Point to site and domain joining"
This article seems to imply that it is possible to connect to Active Directory running on VMs through a point-to-site connection.
Is it possible for the connecting machine to join the domain in such a case? If so, how?
Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6e90ecd-11ee-351b-2ab8-33ddab58bff2
* Vers

[2018-04-20 06:48] dcbrown16 commented on #7471
To elaborate, I see this "You cannot join on-premises computers to a Windows Server AD DS Active Directory domain that is hosted on Azure directly over the Internet." but I'm not sure what exactly is meant by "directly over the Internet" - does that include VPN connections such as P2S?

[2018-04-20 06:52] YvonneArnoldus opened #7472 "Please use parameters in the console lines you can copy."
Can you change: az network public-ip list --query "[?ipAddress!=null]|[?contains(ipAddress, '52.224.125.195')].[dnsSettings.fqdn]" --output tsv
to az network public-ip list --query "[?ipAddress!=null]|[?contains(ipAddress, '$IP')].[dnsSettings.fqdn]" --output tsv

So we can just copy the command and use it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-04-20 07:48] femsulu commented on #7328
@rothja any insights on this?

[2018-04-20 07:49] Armcollector opened #7473 "Inconsistent example"
"A dataset with a parameter" shows string interpolation  @{dataset().path}  in the text and no interpolation  @dataset().path in the example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76e31411-f1a2-710b-94c0-39acf9e7314b
* Version Independent ID: d5cefffe-dee0-2d2e-f3cb-8eefd5d40d17
* Content: [Expression and func

[2018-04-20 08:15] sayanghosh123 commented on #7284
@MicahMcKittrick-MSFT Done - https://social.msdn.microsoft.com/Forums/en-US/f759c824-3862-4ba3-8d89-69f7a9009ce3/azure-ad-b2c-programmatic-delayed-verification?forum=WindowsAzureAD

[2018-04-20 08:31] prasdeva commented on #6092
@cephalin I still have the same issue. Here is what I have been trying

- OS : Mac
- Cloud Shell : Bash
- Runtime : Python 2.7
- Command : `az webapp create -g <resource> -n <name> -p <plan> --runtime "python|2.7" --deploy-local-git`
- Error : **Linux Runtime 'python|2.7' is not supported.Please invoke 'list-runtimes' to cross check**
- `az webapp list-runtimes | grep python` :  **"python|2.7"**

[2018-04-20 08:45] jdneo commented on #7458
Here is the solution for any user who encountered this problem:

- set the version of azure-functions-java-core to 1.0.0-beta-2.
- set the version of azure-functions-maven-plugin to 0.2.1.

[2018-04-20 08:58] larsts opened #7474 "Update with Visual Studio 2017 / CPPSDK details?"
I am not able to set this up in VS2017, both from command line and through code I am getting "Unhandled Exception: System.ArgumentException: RuntimePath".

I am on windows server 2012, Visual Studio 2017, ADL Tools 2.3.300.4.
There is no CppSDK folder anywhere. The ADL Tools path seems to be C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\IDE\Extensions\Microsoft\ADL Tools

[2018-04-20 08:59] Alex-Algo opened #7475 "Logging in to Azure to run script"
In the section 'Run the Azure disk encryption prerequisites PowerShell command' should the command for logging into Azure be Login-AzureRmAccount (not Connect-AzureRmAccount)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ea5bae3-9d7d-21df-be40-322a0acb6e3b
* Version Independent ID: 34f79eb2-1a94-6888-797c-a324fb4ac5

[2018-04-20 09:33] FrederikLeed opened #7476 "Self-service application acces - guest users"
Is this feature not available for "guest" users? If it is, does this require extra configuration somewhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94025351-b9fe-5819-64fc-a2fe2686c7e2
* Version Independent ID: f66ce467-0b71-0468-bc3c-55401f60e997
* Content: [How to configure self-service application assignment]

[2018-04-20 09:50] andrewjsilcock opened #7477 "documentation updates required"
In configuring SSO with Mimecast I found that the reply URL also needed to be configured for SSO to function.  This is outlined in the following article from Mimecast - https://community.mimecast.com/docs/DOC-2992.

An example value for AU is https://au-api.mimecast.com/login/saml, whereas the suggested format within the Azure configuration screen is https://<location>.mimecast.com/logon

---
####

[2018-04-20 10:12] bingosummer opened #7478 "The supported template version in Azure Stack is missing in the release notes"
I believe, the supported template version in Azure Stack is different from Azure. For example, some function may be not supported in Azure Stack.
https://docs.microsoft.com/en-us/azure/architecture/building-blocks/extending-templates/conditional-deploy

Can you document the version and the supported feature of templates?

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2018-04-20 10:13] dmitriyteteruk opened #7479 "slash directions"
At device simulation stage below code in GitBash on Windows need to use reversal slash instead of normal.
in article is ".\provisioning_client\deps\utpm\tools\tpm_simulator\Simulator.exe"
but should be "./provisioning_client/deps/utpm/tools/tpm_simulator/Simulator.exe"
otherwise it not works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2018-04-20 10:43] joeizy commented on #7186
Awesome you rock!

[2018-04-20 10:53] dalmat36 commented on #7248
@SnehaGunda I think I understand... so for example if I provision 30,000 RU/s I’ll get 3 partitions @10Gb each with 10,000 RU/s initially. If I then load 60GB of Data cosmos will scale to 6 partitions and I’ll have 5,000 RU/s each. Is this correct? Thanks!

[2018-04-20 11:29] dtopham75 opened #7480 "Not included in main documentation"
The ability to expose cloud service endpoints on an internal load balancer rather than a public IP is useful in several scenarios.

Unfortunately, the service config file (cscfg) and service definition file (csdef) elements that make this work as described in this article are not mentioned on the documentation pages for those XML schemas:

The cscfg page at https://docs.microsoft.com/en-us/azure/c

[2018-04-20 11:48] gadongji commented on #7407
Hi,

This should be a issue with the length of your private key. Could you please try to generate a shorter key and give it a try? The last option of the openssl command is numbits. You can give it a smaller number and see if it works.

Sorry for the inconvenience.

[2018-04-20 12:45] Rachitgupta1994 opened #7482 "How to get the proxy url"
How did you got the proxy url as http://localhost:19081. Kindly elaborate. I also agree with the second issue on the page that the content in unnecessarily made complex by introducing angular.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0d03b4f-4157-0d04-0f48-0a3e2fb966cb
* Version Independent ID: 6b7bed89-eb53-105

[2018-04-20 13:12] pronka commented on #6775
Currently the terraform deployment is failing

[2018-04-20 13:33] spottedmahn opened #7483 "Resources -> StackOverflow | What about Custom Policies?"
The link in the menu links to the [azure-ad-b2c](https://stackoverflow.com/questions/tagged/azure-ad-b2c) SO tag.  What about the [identity-experience-framework](https://stackoverflow.com/questions/tagged/identity-experience-framework) tag?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 245ef8a4-a811-19b7-676c-aa9b82e2

[2018-04-20 13:33] MartinNr5 opened #7484 "Specify Cost Center?"
Hi.

There seems to be no way to specify which Cost Center the subscription is to use.

Am I understanding the documentation correctly?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 371189c2-154f-2716-bbc0-8496a76c5ac9
* Version Independent ID: bb5cd103-ff51-1753-f269-e2c1aa49a8c8
* Content: [Programmatically

[2018-04-20 13:41] cephalin commented on #6092
@prasdeva by the way `--deploy-local-git` should be `--deployment-local-git`. Also, I cannot reproduce the error with a Windows App Service plan. If you use it in a Linux App Service plan then you'd get an error. To see what runtime support Linux, use

[code]

[2018-04-20 13:42] spottedmahn opened #7486 "Need link tenant to Azure Subscription"
The pre-requisite does not appear to be documented...

Reference: [SO Post](https://stackoverflow.com/a/49925541/185123)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bee63035-00ee-f7fd-97a1-69dae5f808ef
* Version Independent ID: a3447928-73cc-0290-6d46-b89234757e3b
* Content: [Azure Active Directory B2C: Get started

[2018-04-20 13:46] prejeanb commented on #7085
Thanks so much for clarifying @SunBuild

[2018-04-20 14:03] mstumpfx commented on #7458
@jdneo @MicahMcKittrick-MSFT the workaround setting the versions worked fine for me, thanks for the quick turn around. Unsure if issue should be marked as resolved since the default steps fail so I'll leave that open to you.

[2018-04-20 14:13] rothja commented on #7328
@femsulu @chrismwendt I am not aware that the default changed, but you're obviously seeing a lower value for some reason. I'll see if I can find out what is going on.

[2018-04-20 15:09] sfilatov commented on #6981
@nitinkallikat we selected Reverse Proxy instead of DnsService. I didn't like the fact that https traffic will go from local node to local reverse proxy and then target service partition. With huge partition number on one node, it allows save time on reconnects.

@MikkelHegn I assumed that DnsService provides port number through SRV DNS record. I didn't test it. I confused because @msfussell wrote