[2020-05-17 18:12] #54997 closed

[2020-05-17 18:15] hpsin commented on #54997
*phew* Thanks for double checking @pablolaurin!

[2020-05-17 18:19] voteopolis commented on #55007
Document? I did not use the word "document".....
do you mean the quick start guide from signalr azure?
would really like a sample of the connection string.
either for local on a actual samsung android, or my actual account on azure

it would be helpful if this quick start had the correct using statements - there are major conflicts between the different versions that visual studio recommends
`
Fir

[2020-05-17 18:25] #54986 closed

[2020-05-17 18:51] bissont opened #55014 "Open option for files when using gen 2 Hierarchical Namespace Blobs?"
Hi,
When browsing a gen2 blob container without Hierarchical namespace, I can right click on a file and have that file open directly in an app, say VSCode. I can then edit the file adn upon saving the file in VSCode, I'm prompted by Storage explorer to upload the new file. This is a very seamless experience:
![image](https://user-images.githubusercontent.com/509759/82157090-41ed1800-9834-11ea-955d

[2020-05-17 18:52] Norrch2 opened #55015 "Are we able to use a claim resolver for metadata?"
Hello,

I am inquiring to see if we are able to use claim resolvers for metadata? For example, I want to use {OIDC:Client_ID} in the client_id metadata tag for a OIDC technical profile instead of a static string. Is this possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fc94d79-52c2-d03a-9821-32c048ffa020
* Ver

[2020-05-17 18:54] bissont opened #55016 "Open option for files when using gen 2 Hierarchical Namespace Blobs?"
Hi,

When browsing a gen2 blob container without Hierarchical namespace, I can right click on a file and have that file open directly in an app, say VSCode. I can then edit the file adn upon saving the file in VSCode, I'm prompted by Storage explorer to upload the new file. This is a very seamless experience:
![image](https://user-images.githubusercontent.com/509759/82157090-41ed1800-9834-11ea-955

[2020-05-17 19:38] shonohs commented on #54529
Thanks! We were not aware of the issue with Xamarin. I'll see if we can replace the Flex op with a new standard op which was introduced in TFLite 2.1.

[2020-05-17 19:42] Mike-Ubezzi-MSFT commented on #54630
@durairajasivam I am adding the [Azure Database Migration Service UserVoice](https://feedback.azure.com/forums/906100-azure-database-migration-service) link for you to create a feature request to support your use case. Based upon your scenario and the `<------->` directional flow indicating bi-directional data flow, Azure Logic Apps will support replication in one direction. The SQL Server connect

[2020-05-17 19:47] mslot commented on #16825
This only talks about the scheduled webjob, but the continuous webjob is still fully functional, correct?

[2020-05-17 19:48] mslot opened #55017 "What about continuous webjobs"
This only talks about the scheduled webjob, but the continuous webjob is still fully functional, correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8d495c3-9afc-f758-5d04-c47a89b9d895
* Version Independent ID: 5b95e62c-7a05-353d-5766-62ccd4cd4833
* Content: [Migrate from Azure Scheduler to Azure Logic Apps - Azur

[2020-05-17 20:12] Snozzberries opened #55018 "Clarity of Object ID References"
Clarity of which Object ID. In step 20.f below, is this the object ID for the groups most recently recommended to notate, or is this the object ID for the application from a much earlier step. Certainly it is possible to determine that it is the application object ID, but being more specific in which object id is defined by the Service Principal response in the Graph Explorer could be beneficial.

[2020-05-17 20:14] jeevaeastpoint opened #55019 "Global admin - First time using PIM not assigned with Security / Privileged admin roles"
I was going through the steps specified in the docs and found that there is a deviation. It is stated that the first person to use PIM in your organization is assigned to the Security Administrator and Privileged role administrator roles.  I am a global admin and the first one to use the PIM. But I don't see additional roles are being added to my role assignments. Is this because I am a global adm

[2020-05-17 20:24] femsulu commented on #16825
@ecfan  & @JasonWHowell  - can you help with the doc update please. Havent been able to get a hold ofo the original doc author @derek1ee

[2020-05-17 20:27] BharathNimmala-MSFT commented on #55011
@amp64 Thank you for your feedback, assigning this issue to our document author @bwren to further evaluate the feedback.

[2020-05-17 20:28] BharathNimmala-MSFT commented on #55017
@mslot Thank you for your query, we will look into it and get back to you at the earliest.

[2020-05-17 20:28] mslot commented on #55017
Or is the CRON expressions that can be used when adding a webjob through the portal actually not a part of the scheduler? I am afraid of using the recurring bits if it stops working.

[2020-05-17 20:29] AfroDigital opened #55020 "Lost Phone Cannot Log I"
I lost my phone and cannot get past the authenticator page. I have had this issue for over 3 months and i am frozen out of my admin account and i have lost 5 customers.
Error Code: 500121
Request Id: ac14f0b2-9de1-4120-8e95-9f3689996900
Correlation Id: 3f8b8f38-e066-4337-a51b-3ae1940b6f7d
Timestamp: 2020-05-17T20:26:09Z

[2020-05-17 20:29] bruun963 commented on #55009
Hi, just enter in: https://<url-github>, for example: https://github.contoso.com/

[2020-05-17 20:41] nexxuno commented on #54529
Thank you very much, please let me know as soon as I can test this with a new export.

[2020-05-17 20:47] jeevaeastpoint opened #55021 "Identify Microsoft accounts in administrative roles that need to be switched to work or school accounts"
Any guidelines or docs are available to achieve this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 826a3309-03a5-60b4-aa4c-63f385150455
* Version Independent ID: 1d2e2f1c-2805-5cda-a4ad-76fedbc3f525
* Content: [Secure access practices for administrators in Azure AD](https://docs.microsoft.com/en-us/azure/active-direc

[2020-05-17 21:04] vsub21 opened #55022 "Unable to execute external binaries in bin using zip deploy"
I am running my function on the **Linux Consumption** plan (in Python) and I have an external binary that I have added to my project within the bin folder (a static binary for ffmpeg). Upon attempting to execute this program, I get a permission denied error. Even after changing the permissions on this file with chmod 777, I am unable to run this file and receive a permission denied error in the lo

[2020-05-17 21:17] Aurel-Bruno opened #55023 "How to have access to the Alert Context content"
I'm trying to create a customized notification email based on the payload from the alert. I enabled the common schema in my Action Group and my log alert is based on a Metric measurement.

I need to have access to the alert context content in order to retrieve the AffectedConfigurationItems. I tried with the schema generated from an alert payload and with the schema you provided on this page + a p

[2020-05-17 21:24] jeevaeastpoint opened #55024 "Access review - lockout scenario"
Assume that I am the only global admin to the Azure AD tenant and creates an access review with auto-apply changes and "Should reviewer not respond" set to "remove access" options. I am the review and I forgot to complete the review. Would this remove my global admin access and lock me out of Azure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-05-17 21:32] dotnetprofessional opened #55025 "DSVM Ubuntu 18.4 - OpenCV Broken"
DSVM: Ubuntu 18.4 - NC Series K80 VM

The following python code fails but should display an image (obviously need to change paths to suite to repro). This is causing me a lot of issues with samples I'm trying to run.

[code]

CV2 is installed and will read the image data, but the show method fails, with the following error:

**Error**
[code]

---
#### Document Details

⚠ *Do not edit this section.

[2020-05-17 22:37] milligan21 commented on #54711
uff still not working. I tried it again and again. Am I able to store the anchor key somewhere else? or does it have to be in asp.net?

[2020-05-17 22:44] rdagumampan commented on #54185
@ram-msft I don't think this is working as the default code has no direct reference to config settings.

[code]

[2020-05-17 23:07] fiftin opened #55026 "Is it possible to use KeyVault from Managed App published on Azure Marketplace?"
I need pass secrets to Managed App published on Marketplace. Is it possible to use KeyVault for this purpose?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fd769b4-4c68-88be-bf6c-30ad3c355b82
* Version Independent ID: e5b2d116-ac1c-84ef-eeec-e9107019b982
* Content: [Use Key Vault when deploying managed app - Azure Ma

[2020-05-17 23:27] mike-urnun-msft commented on #54618
@nastassiar Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-17 23:27] #54618 closed

[2020-05-17 23:30] jeevaeastpoint commented on #49459
@MarileeTurscak-MSFT I don't see the Security wizard either. We see conflicting answers between this feedback and the one open.  I am taking the AZ 500 exam in couple of weeks time and hope done see any questions related to this.

[2020-05-17 23:37] ovishesh opened #55027 "Graphics not visible in Dark theme"
The two graphics for WER and example don't appear well on dark theme, as the text is in black without a background colour.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26bf3f6e-409d-444d-412f-a2b9a2f43088
* Version Independent ID: 517aa624-684e-b5ec-f21a-4aad1b8416b0
* Content: [Evaluate accuracy for Custom Speech -

[2020-05-17 23:49] SalehAlbuga commented on #50427
@pragnagopa I'm having the same issue where my custom image is working fine locally with the custom handler but when I deploy it to Azure, the host doesn't seem to be trying to start the my server & showing

[code]

I've tried `mcr.microsoft.com/azure-functions/node:3.0-node12-slim` & `mcr.microsoft.com/azure-functions/node:2.0`, same result, working locally but not on Azure.

[2020-05-18 00:05] m-malik15 opened #55028 "AADSTS50126: Error validating credentials due to invalid username or password"
Keep getting AADSTS50126: Invalid username or password for no valid reason.
Username and password work when i try to login on the desired application in my browser.

I activated the switch for Default Client type to allow ROPC in my Application Registrations.

POST: https://login.microsoftonline.com/&lt;tenant ID>/oauth2/v2.0/token

client_id:<Client_ID of my App i want to create the id_token for>

[2020-05-18 00:53] Mike-Ubezzi-MSFT commented on #55012
@Yamank Thank you for bringing this to our attention. Does this time zone stay at UTC+6 without taking part in daylight saving time? I am seeing two different expressions for this time zone: UTC+5 and UTC+6. Can you confirm the correct time zone expression for this region. Thank you.

[2020-05-18 00:55] ranabanerjee15 opened #55029 "No Explanation on "Routing Weight""
No Explanation on Routing weight. in a Scenario where we have Primary (connecting to Datacenter endpoint 1) and Secondary (connecting to datacenter endpoint2) connection where both have the same routes advertised, the primary would need to have lower Routing Weight and secondary will have a higher Routing Weight. in this scenario, Primary will always be preferred secondary will only come into play

[2020-05-18 01:37] SatishBoddu-MSFT commented on #54859
@brthurr I have assigned the issue to the content author @wesmc7777  for further review and update the doc as appropriate.

[2020-05-18 02:54] pengbobobo1987 opened #55030 "测试"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e31ca36-9aa0-f429-f2fd-65ba2758c359
* Version Independent ID: e201f645-18c4-f420-167c-6431d114ef5b
* Content: [Create an external ASE - Azure App Service Environment](https://docs.microsoft.com/en-us/azure/app-service/environment/create-external-ase)

[2020-05-18 02:54] pengbobobo1987 commented on #55030
测试使用

[2020-05-18 03:24] jonrbates commented on #52204
I have a similar issue.  When I follow the tutorial above with an ACI deployment, I can't create an Azure Machine Learning Service function.   The "Function signature" reads "input needed".  However I have specified the inference schema in my score.py and the endpoint has the swagger URI.

[2020-05-18 03:35] sidramadoss commented on #52204
@jonrbates - we are working on enabling this on the portal in the next week or two. For now, you can use the following workaround to get it to work manually:
1. On portal, under Functions, select Add -> Azure ML Service
2. Select "Provide Azure Machine Learning function settings manually"
3. Paste in your Scoring URI that you can find from Azure ML workspace.
4. Provide any dummy key. You should s

[2020-05-18 04:02] dubbySwords opened #55031 "Not clear"
Hi!
It is not clear for me is you can log locally on  your machine which works against azure. My attempts failed.

/Declan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1179337-a2b7-4da2-d52f-8217966a1911
* Version Independent ID: 52ce451e-16f3-81de-d77f-831bfdca7c27
* Content: [Speech SDK logging - Speech service -

[2020-05-18 04:10] SnehaAgrawal-MSFT commented on #55030
@pengbobobo1987 Thanks for the feedback! Request you to ask your issue in English language to help you better on this.

[2020-05-18 04:11] SnehaAgrawal-MSFT commented on #54549
@SudeshSharma We will close this out but if you feel you need more information please just let us know.

[2020-05-18 04:11] #54549 closed

[2020-05-18 04:12] SnehaAgrawal-MSFT commented on #54556
@JoseFMP We will close this out but if you feel you need more information please just let us know.

[2020-05-18 04:12] #54556 closed

[2020-05-18 04:18] SnehaAgrawal-MSFT commented on #54620
@cat-mucius Thanks again for the feedback! Your feedback has been shared with the content owner for further review.

[2020-05-18 04:24] garyljackson-connectdevelop commented on #42215
Just run into this issue now - please get this sorted

[2020-05-18 04:30] dubbySwords opened #55032 "Microsoft CognitiveServices Speech class SpeechRecognizer, cannot gather a resulting text"
I have taken the exampIe from Microsoft pages. It does not work.

I made slight modifications to stor the dataa. I cannot get the the text from the wav file using SpeechRecognizer class.

When I debug the code under I see that when I delay I get text but it eventually crashes.

Is the code incorrect?

What am I missing in order to wait on all the results and collect them in totalText which is a fi

[2020-05-18 04:31] SumanthMarigowda-MSFT commented on #55013
@njenekar Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-18 04:31] MarileeTurscak-MSFT commented on #54666
Thanks for this feedback, @3novsan

I've reached out to ask for clarity from the product team.

[2020-05-18 04:34] SumanthMarigowda-MSFT commented on #55014
@bissont Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2020-05-18 04:35] SumanthMarigowda-MSFT commented on #55015
@Norrch2 Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-18 04:36] SumanthMarigowda-MSFT commented on #55014
https://github.com/MicrosoftDocs/azure-docs/issues/55016

[2020-05-18 04:36] DixitArora-MSFT commented on #55022
@vsub21 This channel is for driving improvements towards MS Docs, If you have any other question specific to product , it would be best if you can create the product issue to the official [Azure Functions Repo](https://github.com/Azure/Azure-Functions/issues) for better clarity. Once you post your issue on forums, it will have visibility across Azure Function Product team.

[2020-05-18 04:37] SumanthMarigowda-MSFT commented on #55016
@bissont Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-18 04:38] #55014 closed

[2020-05-18 04:39] SumanthMarigowda-MSFT commented on #55018
@Snozzberries Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-18 04:40] SumanthMarigowda-MSFT commented on #55019
@jeevaeastpoint Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-18 04:42] SumanthMarigowda-MSFT commented on #55020
@AfroDigital May I know what exactly are you facing the issue?   Can you elaborate bit more on your query?
Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2020-05-18 04:43] SumanthMarigowda-MSFT commented on #55021
@jeevaeastpoint Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-18 04:44] SumanthMarigowda-MSFT commented on #55023
@Aurel-Bruno Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-18 04:45] SumanthMarigowda-MSFT commented on #55024
@jeevaeastpoint Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-18 04:46] SumanthMarigowda-MSFT commented on #55025
@dotnetprofessional Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2020-05-18 04:49] SumanthMarigowda-MSFT commented on #55026
@fiftin Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-18 04:50] SumanthMarigowda-MSFT commented on #55027
@ovishesh Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-18 04:50] SumanthMarigowda-MSFT commented on #55028
@m-malik15 Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2020-05-18 04:52] SumanthMarigowda-MSFT commented on #55029
@ranabanerjee15 Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-18 04:53] SumanthMarigowda-MSFT commented on #55031
@dubbySwords Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-18 04:54] SumanthMarigowda-MSFT commented on #55032
@dubbySwords Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-18 05:04] jonrbates commented on #52204
Ok thank you for the quick reply!

[2020-05-18 05:04] Garyljackson commented on #42215
I managed to get this working by using the sample ARM template - make sure to check your "apiVersion" property

https://github.com/Azure/azure-quickstart-templates/blob/b393bdf8ad62a4dcbc92d61d971bb5b78e6a56ca/101-front-door-create-redirect/azuredeploy.json

[2020-05-18 05:20] ram-msft commented on #54622
You can connect VS Code Remote to Notebook VM and use it.
Here’s a repo showing how to do remote debugging via VSCode on Azure ML: https://github.com/danielsc/azureml-debug-training

Please follow the below Setting up VSCode Remote on an AzureML Compute Instance.
![image](https://user-images.githubusercontent.com/49180516/82176750-4299b300-98f5-11ea-8b41-f4707575cb2a.png)

[2020-05-18 05:23] SeanFeldman commented on #46309
Storage Tables should provide Managed Identity support under enterprise support. The service is not deprecated and security measures Azure is taking so seriously have not been cancelled. I suggest targeting the engineering team with the feedback as content authors are not the ones who roll features out.

[2020-05-18 05:27] srasp commented on #53395
Hi, do you have any news on that? Thank you

[2020-05-18 05:30] pnarsi opened #55033 "Image Scanning with Private Endpoint"
The documentation says that Image Scanning via ASC is not available if private endpoint is enabled on ACR. Is there a Microsoft recommended best practice around an alternative way of scanning images stored in ACR with a private endpoint?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e01945a-5892-a416-716f-c499f110586

[2020-05-18 05:45] brendanmckenzie commented on #43686
I managed to find a workaround for this.  I was experiencing the same issue as most others using helm v3.

First I installed the chart with shared gateway set to false - so it actually deploys.

Then I created the CRD manually by modifying the templated version in the chart.  This was my one: https://gist.github.com/brendanmckenzie/0ec8664686bdd936147c7406610e821b - the `metadata.labels` may diffe

[2020-05-18 06:04] sabil05 opened #55034 "Unable to create a VMSS using packer image using terraform."
When I am trying to create a VMSS resource using terraform I am getting the following while applying an execution plan.

following is the tf code for image.

data "azurerm_resource_group" "image" {
  name = "XXXXXXXXX"
}

data "azurerm_image" "image" {
  name                = "myPackerImageLinux"
  resource_group_name = data.azurerm_resource_group.image.name
}

storage_profile_image_reference {

[2020-05-18 06:05] SubhashVasarapu-MSFT commented on #54614
@smena , Appreciate your feedback. We are working towards editing the document accordingly.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-05-18 06:05] #54614 closed

[2020-05-18 06:09] pnarsi opened #55035 "Run Log Retention Period"
The "View stored logs" section of this page says that by default logs are stored for 30 days. However, I saw a note in the Container Registry CMK page that when using CMK for at rest encryption the run logs are kept for 24 hours only. This note might be something worth adding to this page as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-05-18 06:10] spaelling commented on #42215
Get the ARM configuration snippet by ex. using Az PowerShell

[code]

This will redirect the debug stream to your clipboard. Paste the content into an editor of your choice.

I got this working using `apiVersion` 2020-01-01 as in

[code]

[2020-05-18 06:17] SubhashVasarapu-MSFT commented on #54608
@mathieu-benoit , Appreciate your patience. We will work towards editing the doc soon after the MS build. Please stay tuned.

[2020-05-18 06:34] SubhashVasarapu-MSFT commented on #54393
@hisasima , Yes APPGW on listener configuration do not support AESH 256 format yet. We will work updating the document accordingly once after the MS build is done. Please stay tuned.

[2020-05-18 06:35] yene commented on #35335
Same issue, tried to follow this tutorial [Create Azure AD server component](https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration-cli#create-azure-ad-server-component)

[2020-05-18 06:41] pnarsi opened #55036 "Private Link and CMK Still in Preview"
The SKU "features and limits" table on this page marks CMK and Private Link Integration as preview features. Is this actually the case? The corresponding pages for these two features do not call out them out as being in preview.

CMK Page: https://docs.microsoft.com/en-us/azure/container-registry/container-registry-customer-managed-keys
Private Link Page: https://docs.microsoft.com/en-us/azure/con

[2020-05-18 06:46] Yamank commented on #55012
Hi @Mike-Ubezzi-MSFT,
[QYZT](https://time.is/Qyzylorda) time zone changed from UTC +6 to UTC +5 at midnight on 21 December, 2018. So correct time zone expression for this region is UTC +5 without taking part in daylight saving time.
For reference:
1) [Qyzylorda](https://time.is/Qyzylorda)
2) [Qyzylorda Time Zone](https://time.is/time_zone_news/qyzylorda_changed_time_zone)
3) [Time Zone Change Deta

[2020-05-18 06:47] mslot commented on #36458
Leaving out WEBSITE_CONTENTAZUREFILECONNECTIONSTRING, how does your function know where to get the app code from?

[2020-05-18 06:54] pengbobobo1987 commented on #15545
圣诞节快到家开发科技健康

[2020-05-18 07:05] nguyenlamlll commented on #48979
@herrhamilton To my understanding, that page does not relate to what the OP asks.
From what I've read on this doc. I also do not understand why do I need to create an Azure SignalR service on Azure. :\

[2020-05-18 07:07] SumanthMarigowda-MSFT commented on #55034
@sabil05 Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2020-05-18 07:08] martinyy108 commented on #40135
I tried the registry but still no good. It is windows 10 1903 I tested.

[2020-05-18 07:11] VikasPullagura-MSFT commented on #55033
@pnarsi
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-18 07:12] VikasPullagura-MSFT commented on #55036
@pnarsi
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-18 07:12] VikasPullagura-MSFT commented on #55036
@dlepow
Can you please check and add your comments on this doc update request as applicable.

[2020-05-18 07:13] VikasPullagura-MSFT commented on #55033
@dlepow Can you add your comments on this ask.

[2020-05-18 07:14] VikasPullagura-MSFT commented on #55035
@pnarsi
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-18 07:14] VikasPullagura-MSFT commented on #55035
@dlepow
Can you please check and add your comments on this doc update request as applicable.

[2020-05-18 07:15] ranabanerjee15 commented on #55029
rechecked, none of your Docs have anything mentioned about the "RoutingWeight" while creating new Site-To-Site Connection. even the commandlet help for "New-AzVirtualNetworkGatewayConnection" has no explanation at all.

[2020-05-18 07:16] VikasPullagura-MSFT commented on #55013
@njenekar
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-18 07:16] VikasPullagura-MSFT commented on #55013
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-05-18 07:18] ferronsw commented on #44539
Any progress?

[2020-05-18 07:22] sabil05 commented on #55034
@SumanthMarigowda-MSFT I am looking help here on VMSS creation using packer image and update rolling policy.

Thank you

[2020-05-18 07:25] BarryShtPeas commented on #38914
also joining in on the pile on.. huge problem for me too

[2020-05-18 07:29] spmanjunath opened #55037 ""Constructor injection is used to make your dependencies available in a function." - Perhaps requires correction."
The statement "Constructor injection is used to make your dependencies available in a function.", should this be " ....available in a class".... instead of "...available in a function"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5786402e-9d88-5de0-607a-1c2a143af006
* Version Independent ID: 15368d1c-b22e-7eb2-413f-

[2020-05-18 07:35] spmanjunath commented on #55037
Please ignore, it was a wrong reporting.

[2020-05-18 07:35] #55037 closed

[2020-05-18 07:41] joergrenn commented on #54933
You can have a look at other comments to open issues about this topic, there are some errors described.
You can also look at Support Request 120051322001476
Please give details on what is a "persistent connection in a given billing interval"
There are no examples regarding persistent connections on the page, only for Compute Units and throughput.
Please give details if one "capacity unit - hour" i

[2020-05-18 07:44] priyankareddy20 opened #55038 "Hello Team, Could you please provide the steps how to configure same log analytic workspace when we have 2 different subscriptions in the same tenant, Also please advise me if Azure security center and sentinel would work this way?"
Hello Team,

Could you please provide the steps how to configure same log analytic workspace when we have 2 different subscriptions in the same tenant, Also please advise me if Azure security center and sentinel would work this way?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52631c70-1c13-324f-29db-23d80f756e47
* V

[2020-05-18 07:49] Yamank commented on #55012
I have attached the screenshot of Time Zone List from GE MES Plant Applications System.

![GE MES Plant Apps Time Zone Dropdown List](https://user-images.githubusercontent.com/11478249/82187399-fb69ed00-9909-11ea-9f8f-a2e1643e6fea.png)

[2020-05-18 07:56] souravmishra-msft commented on #54693
@AmitavaHazra, I apologize for the delay in my response, as it took me sometime to dig into this. This issue would needs to be tried out and for that I would recommend you to get a case opened with the Microsoft Support team, so that they can help you further.

Hope this helps. Closing this thread for now.

[2020-05-18 07:56] #54693 closed

[2020-05-18 08:06] priyankareddy20 opened #55039 "Suggestion for best antivirus for centralized protection :Symentac or Microsoft Defender ATP to be used with ASC and Sentinel?"
If we have to use Azure Security Center and Sentinel in the existing tenant, which antivirus would gives us the best centralized protection :
                        Symentac or Microsoft Defender ATP?

Suggestions Please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9d13d5f-fb6e-2757-2e97-ea13a5732086
* Version Ind

[2020-05-18 08:09] vipulsparsh commented on #54813
@msmbaldwin Can you please look into this ?

[2020-05-18 08:10] souravmishra-msft commented on #54721
@awentzel, Thank you for reaching out. I apologize for the delay in my response here. For using Azure CLI with Azure Key Vault, you can check the following article; https://docs.microsoft.com/en-us/azure/key-vault/general/manage-with-cli2

These are the available Azure Key Vault commands in Azure CLI: https://docs.microsoft.com/en-us/cli/azure/keyvault?view=azure-cli-latest

These are the only doc

[2020-05-18 08:10] #54721 closed

[2020-05-18 08:11] Cypher-Skif commented on #43073
Dear MS, this error still appears. Please document this error.

[2020-05-18 08:11] DDFXulei opened #55040 "Link in "Next Steps" is blank?"
Is  this link "[lnk-deploy]:  "  blank?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bc6f969-fc86-782a-0a8d-b7e4958ad656
* Version Independent ID: e4d468da-21c3-f209-cf4c-37dfa60ef929
* Content: [Congigure IP firewall for Azure Relay namespace](https://docs.microsoft.com/en-us//azure/azure-relay/ip-firewall-virtual-

[2020-05-18 08:12] souravmishra-msft commented on #54722
@awentzel, Provided the answer on this thread: https://github.com/MicrosoftDocs/azure-docs/issues/54721

Same answer holds true here.

Closing this thread for now.

[2020-05-18 08:12] #54722 closed

[2020-05-18 08:14] souravmishra-msft commented on #54820
@JandosHk, Hope, the explanation provided by @jmprieur helps. As mentioned this QuickStart guide would be updated after this year's MS Build event.

Closing this thread for now.

[2020-05-18 08:14] #54820 closed

[2020-05-18 08:23] thomaswilkin commented on #36458
If it helps, we have settled on:
- setting WEBSITE_CONTENTAZUREFILECONNECTIONSTRING to the storage account we want the code running from
- not specifying WEBSITE_CONTENTSHARE at all in the arm template (allow it to be auto generated for both slots)
- WEBSITE_RUN_FROM_PACKAGE = 1

I did a lot of testing around these and this seemed like the best configuration to avoid triggering unintentional swaps

[2020-05-18 08:25] JakubW88 opened #55041 "Migrate Users Flow"
Hello,
If i possible to migrate all already created "User flows" from one B2C to another, new created B2C ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e64957b2-62c1-a751-5a18-3f30e2926104
* Version Independent ID: dae827dc-ff96-a1dd-7320-8f493953a33e
* Content: [Tutorial - Create user flows - Azure Active Directory

[2020-05-18 08:55] lazootkin opened #55042 "ConnectionStringSetting not specified"
&gt;&gt;ConnectionStringSetting
&gt;&gt;The name of the app setting containing your Azure Cosmos DB connection string.

where I can see example of ConnectionStringSetting

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dfb86c0-02ed-0abc-8789-ba91d7979762
* Version Independent ID: ecbcc2c6-869e-2492-f10f-a07cf4b34209
*

[2020-05-18 08:59] dominicbetts commented on #54951
Hi @theragus - thanks for letting us know about the broken link - the article is being updated and will be published shortly. For now, please use the following link: https://raw.githubusercontent.com/Azure/IoTPlugandPlay/9004219bff1e958b7cd6ff2a52209f4b7ae19396/samples/EnvironmentalSensorInline.capabilitymodel.json

Thanks!

[2020-05-18 09:05] ncagney opened #55043 "G-suite issue logging in"
Hello I am getting the below error after trying to sign-up and entering the verification with a partner we work with that is using Microsoft Azure as a customer portal.

We cannot create a self-service Azure AD account for you because G-SUITE MANAGED EMAIL has disabled self-service account sign-up by email validation. Ask G-SUITE MANAGED EMAIL's admin to enable EmailVerified users or create an acc

[2020-05-18 09:16] MrAzureAD commented on #54835
@Staubi999 For B2B licensing, the first simple rule is: If the user is on your payroll, you have to buy a license. There are complex organizations where the term "your payroll" is difficult to decide, but in many cases it is pretty clear.
Licensing has NEVER something to do with the user type.

[2020-05-18 09:19] cvs79 commented on #54845
Thanks. Must have overlooked it. It isnt in the json schema at the top

[2020-05-18 09:24] dennis-benzinger-hybris commented on #54845
Actually it is :-). Almost at the end.

[2020-05-18 09:28] unagaraju88 commented on #54838
Hi Mike,

We have tagged all the resources in Azure using terraform. Followed https://github.com/terraform-providers/terraform-provider-azurerm/issues/1802#issuecomment-597425646 to add LTR backup policy to the tagged resources like azure database.

There is no option to add tags in azure portal or using Powershell commands to restore the deleted databases.So I am looking for something as mentione

[2020-05-18 09:28] DixitArora-MSFT commented on #54717
@kevinlam1 Appreciate your inputs in this .

[2020-05-18 09:29] sonic1981 opened #55044 "Code block does not dispose of object correctly"
The code block for the action in this page doesn't show best practice for disposal of objects. There is no `using` or `try`/`finally` to ensure that the `lazyConnection.Value.Dispose()` is run successfully. I'd suggest this should be changed to:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91eda09f-d369-1ff4-

[2020-05-18 09:37] DixitArora-MSFT commented on #55042
Hi @lazootkin Thanks for reaching out. We will review and update as appropriate.

[2020-05-18 09:37] AbelHu commented on #54362
@yellow456434 you can use azure portal to create a k8s with Windows agent pools. And you also can use azure-cli to create a k8s without specifying username and password for Windows and then add Windows agent pools later. But it requires that you specify below parameters:
1. --vm-set-type VirtualMachineScaleSets
2. --network-plugin azure
NOTE: **When both of above parameters are specified in creati

[2020-05-18 09:39] 84618315 opened #55045 "UI elements restrictions"
the three UI elements: UserMessageIfClaimsPrincipalDoesNotExist, UserMessageIfInvalidPassword and UserMessageIfOldPasswordUsed can only be localized in page lay out version 1.2.0 `<DataUri>urn:com:microsoft:aad:b2c:elements:contract:selfasserted:1.2.0</DataUri>`

it won't work in version 2.0.0
`<DataUri>urn:com:microsoft:aad:b2c:elements:contract:selfasserted:2.0.0</DataUri>`

---
#### Document De

[2020-05-18 09:49] JakubW88 opened #55046 "Mount azure storage to webapp"
Hi,
Can you tell me how connect Azure Storage Account with docker based on azure web app for containers ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cae64682-9fd6-28e0-4c60-a003cc06f92c
* Version Independent ID: fa1d2de6-c27d-f750-8f35-94c379708000
* Content: [Serve content from Azure Storage to Linux containers -

[2020-05-18 10:00] deepaksunny98 opened #55047 "Steps for Registering the ProxyIdentityExperienceFramework application are not accurate"
https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-get-started?tabs=applications#register-the-proxyidentityexperienceframework-application

I've completed till Step 5 and step 6 is as follows

6. Select **Settings**, then select **Required permissions**, and then select **Add**.

But, I don't find **Settings** anywhere on screen. Is it something which i'm missing or is the d

[2020-05-18 10:09] AjayKumar-MSFT commented on #54841
Payam, Thanks for the update! Glad the original issue is resolved.
You use [az login ](https://docs.microsoft.com/cli/azure/reference-index?view=azure-cli-latest#az-login) to login to your Azure Subscription. With this cmdlet- Log in with user name and password. This doesn't work with Microsoft accounts or accounts that have two-factor authentication enabled. Use -p=secret if the first character o

[2020-05-18 10:09] #54841 closed

[2020-05-18 10:12] PShatalov opened #55048 "AppService start failed with "OCI runtime create failed: container_linux.go:346: starting container process caused""
I pushed new image to ACR and the staging slot has not been started with next error:

2020-05-15T13:56:49.998Z INFO - Pulling image: b2cregistrywe001.azurecr.io/b2b-api:1022
2020-05-15T13:56:51.144Z INFO - 1022 Pulling from b2b-api
2020-05-15T13:56:51.152Z INFO - Digest: sha256:61d26fe80c0c5b0918afc07c2316b276595808ca2d17058a64959385e9d17c75
2020-05-15T13:56:51.152Z INFO - Status: Image is up to d

[2020-05-18 10:18] yellow456434 commented on #54362
@AbelHu  Thank you answer!
So I already created k8s but i didn't add two parameter,
I can't add two parameter later(mean  this cluster can't use window agent pool permanent).
I only recreate k8s, right?

[2020-05-18 10:27] shivaniThakur93 opened #55049 "Azure VPN connection issue"
I am unable to connect to Azure VPN. I am getting the following error:
"Server did not respond correctly to VPN control packets. Session state: Reset sent".

I appended / to the end of issuer and tenant field in connection settings. However, the issue persists.

Can someone help resolve the issue?

[2020-05-18 10:31] mayurigupta13 commented on #54686
We typically refresh the OSes list once in 4-6 months. We are working on the next refresh and it should be available by next month.

[2020-05-18 10:35] VikasPullagura-MSFT commented on #55034
@sabil05 Thank you for your question!
Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that you are following or to which the feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-05-18 10:38] levi106 commented on #51800
The results were differ whether the url contains an IP address or a host name.

[code]

[code]

[2020-05-18 10:45] RanganathKrishnamurthy opened #55050 "ADE for IaaS VM's - Customer owned keys vs MS managed keys"
Have encrypted many VM's using ADE. Have used key vault to save keys and secrets.

I heard that ADE can be achieved with out customer involvement in creating keys or using Key vault. I dont see such option while referring to https://docs.microsoft.com/en-us/azure/security/fundamentals/azure-disk-encryption-vms-vmss

Could some one explain can we encrypt (ADE) VM's without use of key vault. if KV i

[2020-05-18 10:52] gitlebreton opened #55051 "Task Hub name"
Hello,

I noticed that durable function task hub name is not the default one which should be TestHubName as I did not defined a custom one.
It is now named [FunctionRessourceName]+Instance/History.
Is this naming convention new ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bda2389-aeb2-b28f-a646-082979122f88
* Vers

[2020-05-18 11:17] AjayKumar-MSFT commented on #55046
@JakubW88, Thanks for leveraging Azure docs feedback channel to post this question.
Azure Storage mounted to an app is not accessible through App Service FTP/FTPs endpoints. So, you can use [Azure Storage explorer](https://azure.microsoft.com/features/storage-explorer/) as mentioned in the document. Kindly let me know if have misunderstood your question and share additional details.

[2020-05-18 11:19] amalik99 commented on #39944
Any luck on getting this for AzureADDS

[2020-05-18 12:11] sebader commented on #54950
@nofield it sounds like you are not using a reference to a specific version of a secret?! This is not fully supported, see here https://github.com/MicrosoftDocs/azure-docs/issues/41917#issuecomment-551234263

[2020-05-18 12:24] mslot commented on #36458
This is exactly what I have found out as well. Thanks for confirming.

[2020-05-18 12:28] stspinu opened #55052 "For ContactGroups, we need to use the Resource ID of the Action Group"
Hi folks,

Please update the Contact Groups section so that it specifically tells the user to use the Action Group Resource ID, not just "Action Group Name".

The documentation currently says "It accepts array of strings. Expected format is ["Action Group Name1","Action Group Name2"]." - but that is wrong.

Anyone seeing this would pass the name of the action group - and passing the name would not

[2020-05-18 12:32] frvigano opened #55053 "Other Map Services"
Can you specify what services are classified as "Other Map Services"? It is unclear

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a40139e7-7b9e-e3c5-4cf6-860fefdbcf79
* Version Independent ID: 768e160e-b9c5-c8ad-9d4a-56eff82ebd38
* Content: [Choose the right pricing tier](https://docs.microsoft.com/en-us/azure/azure-m

[2020-05-18 12:39] artisticcheese opened #55054 "Can "deny" mode used instead of "AuditIfNotExists"?"
Hello,

Please clarify why conditions for "AuditIfNotExists" happen after resource was already "created" or "updated" instead of evaluating the same conditions during *if* phase instead. Example is below which verifies that postgreSQL has log_checkpoints enable.
[code]
Why can not it be just rewritten to use "deny" as below. Why does not it work?

[code]

---
#### Document Details

⚠ *Do not edit

[2020-05-18 12:42] gustavobmichel commented on #36458
I am having issues with accessing the storage after adding WEBSITE_CONTENTAZUREFILECONNECTIONSTRING and WEBSITE_RUN_FROM_PACKAGE. Did you guys add these two configs to both functionapp and slot?

[2020-05-18 12:49] guythetechie opened #55055 "Documentation pointing to maxAutoRenewDuration 5-minute limit"
Can you please point to the relevant section in the ServiceBus documentation that states this:

It seems accurate, as all my function runs generate a MessageLockLost exception if they run for more than 5 minutes. Is this an Azure Functions limit or a ServiceBus limit? An upper-bound of 5 minutes seem rather low - there are plenty of use cases where processing a message can take longer.

Thanks!

-

[2020-05-18 12:52] coolsambit opened #55056 "CORS"
https://&lt;storage-account-name&gt;.blob.core.windows.net/&lt;blob-container-name&gt;/&lt;swagger-file-name&gt;

Above did not work for me.
I opened it in the storage explorer and then copied the URL which has additional parameters

https://&lt;storage-account-name&gt;.blob.core.windows.net/&lt;blob-container-name&gt;/&lt;swagger-file-name&gt;.swagger?sv=2019-10-10&ss=bqtf&srt=sco&sp=rwdlacuptfx&

[2020-05-18 12:54] diberry commented on #54185
@nerajput1607 @RohitMungi-MSFT Can you look at this?

[2020-05-18 13:01] AfroDigital commented on #55020
I am trying to log in to my office 365 account an i am the admin. The prompt always wants me to use the authentication app which i don't have on my new phone, I need an alternative log in mechanism to send text to my phone to let me log in

[2020-05-18 13:03] AjayKumar-MSFT commented on #54695
@ arsnyder16, Apologies for the delay!

Just to confirm, do you receive any error message? Are you initiating via DevOps or as mentioned in the doc via CLI? If you upload your ZIP package in a different way (such as FTP), you need to create the D:\home\data\SitePackages directory and the packagename.txt file manually.

The content appears to look fine.  Ensure that the WEBSITE_RUN_FROM_PACKAGE app

[2020-05-18 13:06] lansalot commented on #53247
Any progress on this?

[2020-05-18 13:06] mcsinghbisht opened #55057 "Bulk Insert in addition to Polybase"
Is it possible to also have "Bulk Insert" enable instead of just "Polybase" (for supported components). As Polybase has a great limitation of having "CONTROL" level access on database, having "Bulk Insert" enable can make the large data loading process super easy.

I know we can use "Copy Data" activity, but having this enable right there inside the data flow itself should make it easy.

I have li

[2020-05-18 13:09] AmitavaHazra commented on #54693
@souravmishra-msft ,
Actually I was exploring this in my lab and hence there is no provision for me to create MS ticket with trial subscription. It would be good to take this as feedback and extend AAD connect's functionality.

Reference: you can also refer below thread that indicates that we should not add connector to AAD connect except multiple domain one.
https://github.com/MicrosoftDocs/azure

[2020-05-18 13:09] SumanthMarigowda-MSFT commented on #55038
@priyankareddy20 Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2020-05-18 13:10] SumanthMarigowda-MSFT commented on #55039
@priyankareddy20 Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2020-05-18 13:11] SumanthMarigowda-MSFT commented on #55040
@DDFXulei Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-18 13:11] o-l-a-v opened #55058 "Az - Cannot remove AzureRM modules, and AzureRM modules randomly loads automatically"
Given your documentation.

* [Migrating to Az modules](https://docs.microsoft.com/en-us/azure/automation/shared-resources/modules#migrating-to-az-modules)
	* [Importing Az modules into the PowerShell session](https://docs.microsoft.com/en-us/azure/automation/shared-resources/modules#importing-az-modules-into-the-powershell-session)
	* [Remove the AzureRM modules](https://docs.microsoft.com/en-us/a

[2020-05-18 13:13] DixitArora-MSFT commented on #55051
Hi @gitlebreton Thanks for reaching out. We will review and update as appropriate.

[2020-05-18 13:14] SumanthMarigowda-MSFT commented on #55041
@JakubW88 Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-18 13:14] SumanthMarigowda-MSFT commented on #55043
@ncagney Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-18 13:15] DixitArora-MSFT commented on #55055
Hi @guythetechie Thanks for reaching out. We will review and update as appropriate.

[2020-05-18 13:16] SumanthMarigowda-MSFT commented on #55044
@sonic1981 Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-18 13:16] DixitArora-MSFT commented on #55056
Hi @coolsambit This channel is for driving improvements towards MS Docs, for any product related question/issue I would recommend you to create a thread on the forums- MSDN / Stackoverflow. Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2020-05-18 13:21] HWouters opened #55059 "Refresh Token in other policies"
This ropc policy configures a user journey to redeem a refresh token in JwtIssuer technical profile by setting RefreshTokenUserJourneyId. Can this approach be used for custom singin/signup policies as well? Or is this a specific feature for ropc? Is there any other documentation about RefreshTokenUserJourneyId, because this is the only place I could find where this is ever mentioned.

---
#### Doc

[2020-05-18 13:22] Torxsmind opened #55060 "Role required to be added to Weekly Digest"
Please document the minimum permissions / roles required to receive the weekly digest.  Currently I cannot "Include" AAD users or guests to receive these emails.  We have third party auditors and systems that need these emails and I currently cannot "Include" them

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5a932ce

[2020-05-18 13:29] AbelHu commented on #54362
@yellow456434 yes, you need to recreate k8s. Suggest to create with specifying username and password for Windows. Although AKS can generate username and password automatically, you can not get the auto-generated password.

[2020-05-18 13:31] DCtheGeek commented on #55054
#assign:DCtheGeek

[2020-05-18 13:33] tamram commented on #46309
@SeanFeldman - Yes, thank you, that is the right suggestion. The engineering team does not necessarily see feedback that is provided in this forum. This forum is meant for documentation issues only. For feature requests, it's best to reach out to engineering directly.

In the case of managed identity support for Tables, this is work that would now be done by the Cosmos DB team, not the Azure Stora

[2020-05-18 13:41] SwathiDhanwada-MSFT commented on #54723
@srudin Thanks for reaching out!!! To assist you in deleting the workspace, send mail to AzCommunity@microsoft.com, include your subscription ID , workspace name and a link to this GitHub thread (for context).

[2020-05-18 13:46] DCtheGeek commented on #55054
@artisticcheese Thanks for the question! The alias `Microsoft.DBforPostgreSQL/servers/configurations/value` is on resource type `Microsoft.DBforPostgreSQL/servers/configurations`, so it wouldn't be available for evaluation if you only looked for resource type `Microsoft.DBforPostgreSQL/servers`.  An **auditIfNotExists** allows you to check for the existence of a _related_ resource type to the one

[2020-05-18 13:46] #55054 closed

[2020-05-18 13:50] artisticcheese commented on #55054
So it's impossile to govern this value? Means this value can be changed at will by any user since it's impossible to "deny"?

[2020-05-18 13:53] spottedmahn opened #55061 "Logging is not enabled for this container"
Please use https://aka.ms/linux-diagnostics to enable logging to see container logs here.

I don't see anything on this page that tells me how to enable logging for my container, did I miss it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef9002ed-c817-c615-fe32-05ad4cc78b61
* Version Independent ID: 72295255-8d90-a2

[2020-05-18 13:53] brcallicott opened #55062 "3rd Party IdP link not good"
The link above to the list of 3rd party compatible IdPs does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3e70f22-6947-70c0-73f9-1d3b309820df
* Version Independent ID: b6fc77d4-2c0f-2101-8a24-1845325f7696
* Content: [Azure AD federation compatibility list](https://docs.microsoft.com/en-us/azure/active-dire

[2020-05-18 13:56] #55062 closed

[2020-05-18 14:00] DCtheGeek commented on #55054
You can audit it for if it's set correctly, so you can govern it. Since this is essentially a Feature request, and one that's already been asked for, I'd recommend just voting for it on [UserVoice](https://feedback.azure.com/forums/915958-azure-governance/suggestions/39874435-azure-policy-effect-denyifnotexist) and adding your use case as a comment.  This helps the team prioritize work in the next

[2020-05-18 14:00] blueelvis opened #55063 "Add information on whether the jobs are run in parallel or not"
Hi,

This page doesn't explain if a Hybrid worker can run multiple jobs at the same time or not. Could you please clarify if a single hybrid worker can run multiple jobs in parallel or not?

Thanks,
Pranav

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3092ee3a-3c57-cc53-186b-b454e7d9d190
* Version Independent ID: 6f6b

[2020-05-18 14:01] Chai-NED opened #55064 "LRS not recommended for High Availability?"
Hi,

Could you expand on this?

"LRS is the least expensive replication option, but is not recommended for applications requiring high availability."

This raises a concern that I should not be using LRS at all for any app. Instead, you recommend ZRS in the following paragraph. Why? Both ZRS and LRS offer the same SLA of 99.9% per https://azure.microsoft.com/en-us/support/legal/sla/storage/v1_5/.

[2020-05-18 14:09] rohancragg opened #55065 "Securing access to container registry - what is sharedPrivateLinkResources for?"
Under `#azure-container-registry` this document advises to use an ARM template which configures a property: 'sharedPrivateLinkResources'. This is not adequately explained and seems to suggest that a private endpoint will be configured but this article is supposed to be about how to configure network isolation using service endpoints? - surely there is a separate article about private link? Please

[2020-05-18 14:10] GiftA-MSFT commented on #54529
Thanks for your input @shonohs. Will now proceed to close this thread.

[2020-05-18 14:10] #54529 closed

[2020-05-18 14:21] MikeWedderburn-Clarke commented on #35290
Please re-open - neither of those links contain any detail as to what firewall rules need to be in place to allow backup. I've searched all over the backup documentation and cannot find the detail.

[2020-05-18 14:23] shadowano opened #55066 "Dropdown with multiple selection and ALL selected not working"
Page does not describe how to support dropdown with multiple selections and at the same time enabling the ALL checkbox in the dropdown. Using the "where name in ({DependencyName})" in KQL for multiple selection works great for what is documented here. The section that is missing is "Include in the dropdown", but it is available in Azure Portal. The description for this section is "Selecting these

[2020-05-18 14:27] RyanHill-MSFT commented on #55046
If you want to mount a folder in your docker container to your storage account, it is possible @JakubW88. Use the 'Mount Storage (Preview)' option under Path Mappings which is under the Configuration blade.  Attach your storage account and enter a map path that matches the folder in your docker container. See the screen shot below.

![image](https://user-images.githubusercontent.com/47189704/82224

[2020-05-18 14:30] RohitMungi-MSFT commented on #54653
We will go ahead and close this issue as you are addressing this with content team.
If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-05-18 14:30] #54653 closed

[2020-05-18 14:37] dudu-markovitz opened #55067 "ADX | batch vs. streaming"
"Data received from batch in the shared database will appear between a few seconds to a few minutes on the data consumer side. Data received from streaming could take up to 24 hours to appear on the data consumer side."

Seems the other way around

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afc77dcb-f4ee-7b26-9e40-6

[2020-05-18 14:38] shannonslaton opened #55068 "IConfigurationBuilder Does not contain AddAzureAppConfiguration"
I am getting an error that IConfigurationBuilder Does not contain AddAzureAppConfiguration.  Can you please suggest what I might be doing wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9950f5c0-3c21-0859-c217-4b08141de4d4
* Version Independent ID: 78106133-d028-b016-673c-79b6a959a24d
* Content: [Tutorial for usi

[2020-05-18 14:49] ckssaas commented on #54936
@MicrosoftGuyJflo Not even a slightly appropriate response.

[2020-05-18 14:51] devlife commented on #55008
Thank you @MonikaReddy-MSFT. Let me know if I can provide any additional information.

[2020-05-18 14:53] SwathiDhanwada-MSFT commented on #54735
@HansonChiu1994  Currently, ExpressRoute Network Performance is only collected in Log analytics workspace. If you want to export the data to event hub, I would suggest you go through [this document](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/stream-monitoring-data-event-hubs#manual-streaming-with-logic-app) which will help you in streaming the log analytics data to Event hubs.

[2020-05-18 14:53] #54735 closed

[2020-05-18 14:54] MonikaReddy-MSFT commented on #55068
@shannonslaton , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-05-18 14:55] SamaraSoucy-MSFT commented on #54203
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-05-18 14:55] #54203 closed

[2020-05-18 14:56] nikosmsk commented on #48403
I came across this issue with the VHD for 365FO as well. The thing is that MS provides this VHD with Dynamic Type and Azure requires FixSize'd VHD. You can convert the type using Hyper-V Manager or Powershell

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/prepare-for-upload-vhd-image

[2020-05-18 15:07] brthurr opened #55069 "Incorrect URL"
At the top of the page, the URL for "Create and encrypt a Windows VM with Azure PowerShell" is the URL for the CLI quickstart.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26bcd765-e7de-c91e-2193-a6b7c166ed05
* Version Independent ID: 6432a759-9995-e08a-ee31-6077fefca464
* Content: [Creating and configuring a key vau

[2020-05-18 15:10] SwathiDhanwada-MSFT commented on #54637
@HansonChiu1994  Thanks for reaching out!! Can you please elaborate on your issue like
1) which resource are you trying to monitor ?
2) When you mentioned "Other metrics /logs can receive normally except these two", which two resources are you facing issue with?

[2020-05-18 15:21] rhoticity commented on #55009
Hi @over2under42 , your entity ID for the SAML setup context is your GitHub organization name slug as seen in your organization's URL (e.g. `MyOrganization` from github.com/MyOrganization.) Hope that this helps!

[2020-05-18 15:23] RohitMungi-MSFT commented on #54185
@rdagumampan When i downloaded my bot code locally the default answer is set in file QnAMakerBaseDialog.cs

[code]

Is this what you are looking for while running your code locally?

[2020-05-18 15:31] mslot commented on #36458
I have it on both. Actually I have nothing in my production slot and swap everything in from staging. I have seen this when defining a WEBSITE_CONTENTSHARE or not pointing to the correct storage account where code reside with WEBSITE_CONTENTAZUREFILECONNECTIONSTRING. You need to not point anything anywhere with WEBSITE_CONTENTSHARE. I actually think I saw that error you refer to becsuse of adding

[2020-05-18 15:32] pragnagopa commented on #50427
This issue is now closed. Please open a seperate issue with repro steps.

[2020-05-18 15:34] fedehermida commented on #54928
Travis, the issue was opened twice. https://github.com/MicrosoftDocs/azure-docs/issues/54932#issuecomment-629532264

[2020-05-18 15:36] higoorc commented on #51639
Same happening to me. Not with VS Code, but doing all the deploy process with Azure CLI I have the same situation. The source code is in wwwroot, but still with the "Hey node developers" homepage.

[2020-05-18 15:38] RyanHill-MSFT commented on #51639
@higoorc do you have `npm start` command set in your startup for your app service?

[2020-05-18 15:42] rdagumampan commented on #54185
Hi @RohitMungi-MSFT, guide shows that we can edit from Azure Portal and add in Configuration but i think the code does not use the AppSettings at all and instead uses the Constant.

I think its also good to document that its not enough to change this code but also need to perform rebuild and redeployment via Kudu and not from Console.

[2020-05-18 15:51] GiftA-MSFT commented on #54789
@khmerforce following this [document](https://docs.microsoft.com/en-us/azure/bot-service/abs-quickstart?view=azure-bot-service-4.0), I had no issues creating/testing my basic bot. Can you please share the document you are following and your region? Furthermore, to change the LUIS account on your Web App Bot, you need to modify the application setting under App Service Settings > Configuration blad

[2020-05-18 15:55] CharlesAtDCube opened #55070 "IDENTITY_HEADER never get populated after MSI is activated"
Hello, I've been using 3 Azure Functions for more than a month now with a System Assigned Managed Identity.
They all run on Python 3 runtime. I cannot use your REST based method to get a token because I cannot find the IDENTITY_HEADER in environment variables, whether managed identity is activated or not. I tried deactivating and reactivating, restarting the function. It doesn't change anything. I

[2020-05-18 15:56] SadiqhAhmed-MSFT commented on #55007
@PramodValavala-MSFT and @DixitArora-MSFT To assist further.

[2020-05-18 15:57] higoorc commented on #51639
![image](https://user-images.githubusercontent.com/42069752/82233932-9d98cd80-9928-11ea-8123-079ee3dfe37c.png)

Still the same.
There is my wwwroot folder.

[2020-05-18 15:58] MonikaReddy-MSFT commented on #54816
@gpj1 , Can you confirm if you are using Java Runtime?
Are you manually instrumenting your App with App Insights and now just want to enable the agent on an app service for automatic dependency tracking ?

Please confirm the same. So we can respond accordingly.

[2020-05-18 16:03] kevinlam1 commented on #54717
+@Divya Swarnkar<mailto:Divya.Swarnkar@microsoft.com> who is looking after connectors.

-Kevin

From: DixitArora-MSFT <notifications@github.com>
Sent: Monday, May 18, 2020 2:29 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Kevin Lam <Kevin.Lam@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Guidance on Preview Connector to GA (#547

[2020-05-18 16:05] NavtejSaini-MSFT commented on #54632
@santoshadithya30 We are going ahead and closing this thread for now. Please get back to us for any further questions.

[2020-05-18 16:05] #54632 closed

[2020-05-18 16:11] mumian commented on #54943
@GeorgeWieggers - "az group deployment" is replaced by "az deployment group" in the latest CLI release.  Please update your CLI version.  We will update the article to make it more clear.

#please-close

[2020-05-18 16:11] #54943 closed

[2020-05-18 16:14] m-malik15 commented on #55028
@SumanthMarigowda-MSFT This [question ](https://github.com/MicrosoftDocs/azure-docs/issues/30802 )has been asked here aswell but closed now If you go through comments lots of ppl are still experiencing this issue.  Could you kindly give advice on the kind of user account  that is required as I guess that where the issue. The account I m tyring to use  is not MFA enabled and neither has been a pers

[2020-05-18 16:18] stokes776 opened #55071 "Check all required ports are open"
Check all required ports are open
 should include a link to the list of required ports.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7fc9aeb-fd11-71ca-17d5-98531688c3cf
* Version Independent ID: 68b4f711-71a5-0409-3ffd-d8816dbf3608
* Content: [Can't access this Corporate Application error with App Proxy app](https:/

[2020-05-18 16:19] RyanHill-MSFT commented on #51639
For you app service, do you have `npm start` set as the startup command?

![image](https://user-images.githubusercontent.com/47189704/82236263-da9d9980-9901-11ea-9e85-1abe8c938863.png)

[2020-05-18 16:23] RyanHill-MSFT commented on #55061
Hi @spottedmahn, it's under How-To guides > Monitor app > Enable logs... https://docs.microsoft.com/en-us/azure/app-service/troubleshoot-diagnostic-logs#enable-application-logging-linuxcontainer

[2020-05-18 16:23] bandersmsft commented on #55052
@stspinu Thanks for noting this. I'll update the article.

[2020-05-18 16:26] ezYakaEagle442 opened #55072 "Explain how to download then the private key and provide CLI snippet"
Once the key is imported in KV, then **az keyvault key download** returns the public key only.
A similar question & explanation regarding certificates is described at https://github.com/Azure/azure-sdk-for-js/issues/7647#issuecomment-594935307

[code]

Does KeyVault store both the public part in a KV Key and the private part of the imported key in a KV secret ?
**what i sthe CLI snippet then to do

[2020-05-18 16:28] gustavobmichel commented on #36458
Hi @mslot, I think the problem was on my deployment. I was setting it to zipDeploy because I read on this thread https://stackoverflow.com/a/56205917 about setting it on Azure DevOps. After I changed it to standard deployment, everything seems to be working. Thanks for your help.

[2020-05-18 16:29] thomaslevesque commented on #25655
What if the list of storage accounts is dynamic? Is there a way to support such a scenario?

[2020-05-18 16:29] jtuliani opened #55073 "AzContext consistency"
Some samples get the context using Select-AzSubscription. Others use Get-AzContext.

Does it matter? The inconsistency is confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42cfca50-2141-d684-cbc1-86fe39f57df6
* Version Independent ID: 38879f45-d225-1fab-86ba-75bed87d7afd
* Content: [Manage runbooks in Azure Aut

[2020-05-18 16:29] roygara commented on #54055
@algattik I'm still working through things with the product team but have you checked /dev/disk/cloud? It seems like the symlinks there are constant and can be relied upon, at least that's my understanding so far.

I'll let you know if I get something more back.

[2020-05-18 16:31] yoelhor commented on #49672
#please-close

[2020-05-18 16:31] #49672 closed

[2020-05-18 16:31] MarileeTurscak-MSFT commented on #55045
@84618315
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-18 16:32] MarileeTurscak-MSFT commented on #55071
@stokes776
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-18 16:42] hpsin commented on #55002
@hamiltonha for FYI.
This is related to the upcoming release of MSAL.js 2.0 and our support for the auth code flow for SPA apps. Documentation is being released this week.

[2020-05-18 16:43] divyaswarnkar commented on #53395
@srasp yes, that should work. You would have to upload all the schemas in the Integration Account.

[2020-05-18 16:48] srasp commented on #53395
Thank you for your reply. This is what I already did. I tried it with the map name in the xsl:include/xsl:import as well as the URL of the map. Both didn’t work. Do you have an example.

Best regards
Seb

[2020-05-18 16:48] over2under42 commented on #55009
Yes that help. The URL for step 4b. returns a 404 error page. Am I missing something?

[2020-05-18 16:50] spottedmahn commented on #55061
Cool, thanks! 🤝

Who should I report that link is pointing to the wrong place?  Azure Support?

[2020-05-18 16:51] SumanthMarigowda-MSFT commented on #55047
@deepaksunny98 Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2020-05-18 16:52] hpsin commented on #54952
Token lifetimes are set using the resource in the token request, not the client.  When you request a token using the service principal, the app you are requesting the token _for_ is the one that needs the lifetime policy set.

[2020-05-18 16:53] liitimellison opened #55074 "Elaborate or diagram this statement. The statement is unclear"
Where this document states "Hybrid Azure AD joined machines must have network connectivity line of sight to a domain controller to use the new password and update cached credentials."

Does that mean that the users must be on a network directly connected to the on-premises domain controller?
I am looking for an offnet password reset solution for our users using AAD SSPR and Windows 10 clients

---

[2020-05-18 16:58] SumanthMarigowda-MSFT commented on #55048
@PShatalov Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2020-05-18 16:59] SumanthMarigowda-MSFT commented on #55049
@shivaniThakur93 Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2020-05-18 17:01] SumanthMarigowda-MSFT commented on #55050
@RanganathKrishnamurthy Thanks for the question! We are investigating and will update you shortly.

[2020-05-18 17:03] GiftA-MSFT commented on #54764
@dzajda thanks for your feedback, we are investigating this issue and will get back to you shortly. Thanks.

[2020-05-18 17:03] lfittl-msft commented on #53738
@evertonmc Wanted to check again whether you were able to test the workaround?

Thanks!

[2020-05-18 17:05] alexandis commented on #31380
There is no **web.config** in ASP.NET Core app. As to adding those two lines into ConfigureWebHostDefaults method - it did not work: I still have startup errors and they are not reported anywhere, I have to create stdout folder manually so the app could write there having write access for its application pool. Probably this needs to be configured in other way (via the project file?)

[2020-05-18 17:05] RyanHill-MSFT commented on #55061
I'll assign to the content author so they can update the short uri. Thanks for pointing this out to us @spottedmahn.

[2020-05-18 17:06] ecfan commented on #54717
#assign @divyaswarnkar

[2020-05-18 17:10] khmerforce commented on #54875
@RohitMungi-MSFT  thank you so much for responding. So it said 10,000 transaction. Where can I check how many transaction I did? and if I purchased the tier, what if someone use the spam bot then we would be charged a lot since $1.50 per 1,000 transactions. Please help! Thanks!

[2020-05-18 17:11] MarileeTurscak-MSFT commented on #55072
@ezYakaEagle442
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-18 17:11] ggailey777 commented on #33373
Thanks @scottdavis and @kyallanum for reporting this. It seems like this was a bug that got fixed because I can't repo the situation. I have verified that both the .exe and run.cmd are present on the site after publishing. If you can still reproduce this with the latest version of the tools, please reopen this issue for more troubleshooting. #please-close

[2020-05-18 17:11] #33373 closed

[2020-05-18 17:15] davidlyw89 commented on #51344
Hi, Any update for tis? where can i find way finding sample ? thank if someone would help.

[2020-05-18 17:16] Karishma-Tiwari-MSFT commented on #55069
Thank you for bringing this to our attention.
I have created a PR with the update. Changes will be live shortly.

[2020-05-18 17:17] cweining commented on #54738
@ADringer - The data we are gathering from the .net core app is generated natively by .net core in a very performant way. It does affect your app a little, but not much. The .net core team is dedicated to making sure it is as light weight as possible. All processing and uploading of the profiler data takes place out of proc from your application and on low priority threads.
As for taking a memory

[2020-05-18 17:19] mslot commented on #36458
That correct. Actually you could set it to zip deploy again and remove the RUN_FROM_PACKAGE then I think it should work.

[2020-05-18 17:20] veler commented on #39665
Having the same issue here.

[2020-05-18 17:22] #55069 closed

[2020-05-18 17:22] mb16 opened #55075 "Windows Azure Messaging Framework Link Downloads Old Framework"
The link to Windows Azure Messaging Framework downloads an old version of the framework which doesn't work with iOS 13.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 431c3a81-db2a-b34d-0f2c-50d71dc10c49
* Version Independent ID: c44dd034-b17a-663f-2f33-99c1f04edfbe
* Content: [Send push notifications to iOS apps using

[2020-05-18 17:25] divyaswarnkar commented on #53395
@srasp you can check these out
https://divyawestusstorage.blob.core.windows.net/schemas/IDoc.ORDERS05.700.3.xsd
https://divyawestusstorage.blob.core.windows.net/schemas/IDocOperation.ORDERS05.700.3.Send.xsd

[2020-05-18 17:25] Karishma-Tiwari-MSFT commented on #54962
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2020-05-18 17:26] himanshusinha-msft commented on #55057
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-05-18 17:28] SaurabhSharma-MSFT commented on #55059
@HWouters Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-18 17:30] SaurabhSharma-MSFT commented on #55060
@Torxsmind Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-18 17:36] jtwardos opened #55076 "Fails validation checks"
When I validate my deployment via the GUI, it fails with the following error: "code":"InvalidTemplateDeployment","message":"{\"deploymentStatusCode\":-1,\"stage\":6,\"expected\":true,\"error\":{\"message\":\"The value of deployment parameter 'vmInitialNumber' is null. Please specify the value or use the parameter reference." I double checked and I do have a value where it asks for the number of VM

[2020-05-18 17:39] pelon34 opened #55077 "Feedback for current version of the file and errors found"
Hello team, while testing this document I stumbled upon an error where the repair command does not recognize the provided arguments with the format in your document ( I have the latest updates as per step 2 ) :
S /home/gustavo&gt; az vm repair run  –g repair-win10-20200518170948.316896 –n repair-win10 -–run-on-repair --run-id 2 --verbose
az: error: unrecognized arguments: –g repair-win10-202005181

[2020-05-18 17:39] liutang opened #55078 "Azure monitor logs"
How do I enable Azure monitor logs within Azure Arc VM view? When I click on Monitor Logs, it takes me to the query window and shows no information. I am using a VM in a different Azure subscription to simulate "on-premises" if that affects anything.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6036c6de-a2e8-ffd7-50e

[2020-05-18 17:46] srasp commented on #53395
Thank you for the example. You have sent me an XSD, which imports another XSD and not a XSLT example. The xsl-include statement uses the attribute href to reference the stylesheet document which should be included.

I tried the following:
<xsl:include href=".\nameOfTheMapToInclude"/>
<xsl:include href="./nameOfTheMapToInclude"/>
<xsl:import href=".\nameOfTheMapToInclude"/>
<xsl:import href=".\name

[2020-05-18 17:47] v-miegge commented on #55077
@pelon34: An email has been sent to original article requester, asking for more details on improving the article.

[2020-05-18 17:49] jeevansd commented on #55009
@chetansriv and @v-pugoe can you please retest this app and update the doc @v-nagta ?

[2020-05-18 17:51] SumanthMarigowda-MSFT commented on #54594
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-18 17:51] #54594 closed

[2020-05-18 17:53] emacdona opened #55080 "AzureDisk backed PersistentVolumes causing moved Pods to take very long to start up"
I used the instructions here to allow for the Pods in Kubernetes App to have Persistent Volumes backed by Azure Disks that I provisioned separately. All worked exceptionally well -- until I enable the Cluster Autoscaler. Now, when I remove enough Pods from my AKS cluster that the Cluster Autoscaler decides to remove a Node from the VM Scale Set, Pods on that node that need to be rescheduled have t

[2020-05-18 17:55] bmitchell287 commented on #54795
@ezYakaEagle442 - Again thank you for the submission. We will update the specified section after public preview.

@MikeDodaro

[2020-05-18 17:55] bmitchell287 commented on #54795
#please-close

[2020-05-18 17:55] #54795 closed

[2020-05-18 17:56] BryanTrach-MSFT commented on #55075
@mb16 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-18 17:57] josh-endries opened #55081 "Azure Cache for Redis TLS 1.0/1.1 removal information seems to be wrong"
I am writing regarding Azure Cache for Redis, specifically this page:

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-cache-for-redis/cache-remove-tls-10-11.md

May 11th has come and gone and (1) one can still choose TLS 1.0 and 1.1 in the Azure portal for a Redis instance, and (2) one can still make TLS 1.1 requests to an instance and receive a response.

So, either the ch

[2020-05-18 17:59] CeciAc opened #55082 "cname record worng."
The comments below were machine-translated

@genesisemmloh commented on [Sun May 17 2020](https://github.com/MicrosoftDocs/azure-docs.es-es/issues/719)

shouldn't the registry of cname have pointed to cdndocdemo1.azureedge.com?
Why did they point it to contoso.azureedge.com?

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para la vinculación de problemas de docs.microsoft.c

[2020-05-18 17:59] MisinformedDNA commented on #55042
I just ran into this today. Was looking for a way to specify the connection string (or connection string name) in a global place for all Cosmos functions.

[2020-05-18 18:04] shivaniThakur93 commented on #55049
@SumanthMarigowda-MSFT , I am trying to connect to Azure VPN to use the Sandbox VM for debugging.  Can you explain what do you mean by URL of the Azure doc here?

[2020-05-18 18:19] Karishma-Tiwari-MSFT commented on #54962
https://github.com/MicrosoftDocs/azure-docs-pr/pull/115518

[2020-05-18 18:19] #54962 closed

[2020-05-18 18:21] Karishma-Tiwari-MSFT commented on #54987
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-18 18:26] GraemeMalcolm opened #55083 "Python SDK v 2.0.0 produces __init__() got multiple values for argument 'endpoint' error"
Since the release of v 2.0.0. of the SDK on May 14th, creating a CustomVisionPredictionClient produces an error.

Code:
[code]

error:
[code]

(this assumes ENDPOINT is the prediction endpoint URL, and not the resource ID as shown i the screenshot above)

It looks like there's a bunch of changes here that aren't reflected in the docs - the **CustomVisionPredictionClient** constructor appears to ex

[2020-05-18 18:28] porrascarlos802018 opened #55084 "Roles Clarification required."
For assigning any roles to the service principal
as per this article only owner can do it Because
the contributor even if it is network contributor
shouldnt be able to do any other assigment.

Access assigment by design its reserved only to
Subscription owners.

aks requires aks network contributor role
but who can assign it , someone with the right
access level to deal with permissions, meaning t

[2020-05-18 18:30] porrascarlos802018 commented on #55084
the main goal of this feedback is to have the document updated and a clarification added that being owner of the subscription or having a role with the right to work with access its required , otherwise it will fail.

[2020-05-18 18:30] Karishma-Tiwari-MSFT commented on #54979
Please take a look at these docs about ARM deployment model and let me know if it helps.

https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/deployment-models#changes-for-compute-network-and-storage

https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/overview

[2020-05-18 18:35] Karishma-Tiwari-MSFT commented on #54770
@artisticcheese I will share this feedback with the product team.
Please also post this as a product feedback [here](https://feedback.azure.com/forums/216843-virtual-machines). This will allow the community to up-vote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2020-05-18 18:35] #54770 closed

[2020-05-18 18:36] Karishma-Tiwari-MSFT commented on #54831
@azilber Is there an update? Can you please look into the comments above and let us know if you have any questios.

[2020-05-18 18:36] ecfan commented on #16825
@derek1ee, please answer the customer's question about whether continuous webjobs still fully function?

I'm fixing the screenshots, thanks!

[2020-05-18 18:37] Karishma-Tiwari-MSFT commented on #54748
@genlin Can you please help answer the customer query. Thanks :)

[2020-05-18 18:38] vamuzumd commented on #54594
@SumanthMarigowda-MSFT, I still am looking for ways to confirm if soft delete action on a blob changes its lastModified property?

[2020-05-18 18:38] LukeCarrier opened #55085 "The "one VM extension of each type" limitation isn't made clear here"
I'm not sure why this platform limitation exists (what is the point in specifying a name if only one extension of each type can be specified?), but it certainly exists:

[code]

Can we at least get a warning here before additional people waste their time assuming Azure can do something as simple as run two scripts on their VM?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-05-18 18:40] nexxuno commented on #54529
@shonohs since this issue has been closed is there any other issue opened on some other repo where I can follow the progress?

[2020-05-18 18:41] travis-c-lagrone opened #55086 "Valid clusters for Events endpoint?"
What is the set of cluster for which the `2.0/clusters/events` endpoint may be queried?

The `2.0/clusters/list` endpoint states:

&gt; Return information about all pinned clusters, active clusters, up to 70 of the most recently terminated interactive clusters in the past 30 days, and up to 30 of the most recently terminated automated clusters in the past 30 days.

Whether this is the same or diff

[2020-05-18 18:47] anderseide opened #55087 "Preview or not?"
Note states that Azure Storage logs in Azure Monitor is in public preview, and is available for preview testing in all public cloud regions, while a service update from April states that it's now in GA.

https://azure.microsoft.com/en-us/updates/storage-analytics-logs-for-azure-data-lake-storage-are-now-generally-available/

What's correct or is it two different things?

---
#### Document Details

[2020-05-18 18:49] PatrickFarley commented on #53623
Thanks @ksaye, I'll add this to the content backlog

[2020-05-18 18:50] heaths opened #55088 "Sample definition does not match sample input or output"
First, the skill output of `keyPhrases` is not documented as it is on some pages.

Second, the sample definition uses /document/content as the input, but the field is actually /document/value/*/data/text, or even just /document/data/text depending on how that input is supposed to be used (sample document input, or sample input send to the skillset itself?). The output also says "myKeyPhrases", but

[2020-05-18 18:50] PatrickFarley commented on #53623
#please-close

[2020-05-18 18:50] #53623 closed

[2020-05-18 18:51] pjjohnson opened #55089 "Unable to obtain OAuth access token using encoded SAML assertion"
**SCENARIO**
A user authenticates to SalesForce (enabled via AAD SSO), and then launches an Azure application which is authorized via OAuth.  The Azure application should be seamlessly authorized, so the user does not have to authenticate again to access this application.

**ISSUE**
SSO is setup from Azure AD to SalesForce, and this works perfectly.  Applications need to use the Salesforce SAML as

[2020-05-18 18:55] susanlinsfu opened #55090 "Logical Partition Size"
I do not believe under V1 the statements made that:

-there's no upper limit to how many posts a user can create,
-posts can be arbitrarily long,
-there's no upper limit to how many comments and likes a post can have,

are true. If the posts are logically partitioned by postid then there is a limit of 20GB. The same I believe woudl apply to the userid logical grouping as well.

---
#### Document D

[2020-05-18 18:58] PatrickFarley commented on #54274
I'll ask the product team to update their sample code

[2020-05-18 19:01] rishabjolly commented on #54639
Thats's a great point @lgmorand . We are in midst of collaborating and brainstorming on how to extend it. Stay tuned for more info.

[2020-05-18 19:06] LuisCabrer commented on #55088
@heaths, the input can be any part of the tree... depending on the data you are parsing, that may be /document/content or something completely different... (depends on the schema of the data source).

So /document/content is based on a blob storage example.

The target name is optional... and essentially becomes the name by which you will refer to the data in the future... (i.e. "/document/myKeyPh

[2020-05-18 19:07] dcurwin commented on #54754
Thank you for your suggestion. We've changed the documentation to reflect your recommendation, and the page should be updated in the next 24 hours.

#please-close

[2020-05-18 19:07] #54754 closed

[2020-05-18 19:08] dlepow commented on #55036
@pnarsi - Thanks for pointing out this issue! Both Private Link and customer-managed keys are now generally available features. I'll update this information in the container registry SKUs article.
#in-progress

[2020-05-18 19:12] tamram commented on #55064
@Chai-NED - As described in the article, LRS provides 11 9's, while ZRS provides 12 9's. If you choose a geo-replicated option (GRS or GZRS), then both of those options provide 16 9's.

The article describes scenarios in which Microsoft recommends LRS:

LRS is a good choice for the following scenarios:

- If your application stores data that can be easily reconstructed if data loss occurs, you may

[2020-05-18 19:12] #55064 closed

[2020-05-18 19:13] Gunsringer commented on #54796
Get-AzDeletedWebApp returns a deleted function app, but restore-AzDeletedWebApp isn't supported for function apps?  Seems inconsistent.
Please let us know when the doc will be updated to reflect what is/is not supported, and how to restore a deleted function app.

[2020-05-18 19:14] crisansou opened #55091 "New-RunAsAccount.ps1 - Updated version using Az modules"
Hello,

The script "New-RunAsAccount.ps1" mentioned in the documentation uses AzureRM modules. Do you have an updated version of the script using the Az modules?

I tried to update it but received the error message below:

![image](https://user-images.githubusercontent.com/29444086/82250659-3d069200-9922-11ea-930e-55132ee4e8de.png)

- Updated version script:

`#Requires -RunAsAdministrator
Param (

[2020-05-18 19:15] jackmusick opened #55092 "Enable and verify with PowerShell"
Is there a cmdlet to verify is this is turned on or not, and perhaps one to turn it on? We manage multiple customers and it would be get to be able to report on this with a script.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfac0ecf-e5a9-c5ff-f8c2-ce27789708f5
* Version Independent ID: 0f5e0cc9-a54f-a5c8-192d-d60a6

[2020-05-18 19:20] iMicknl commented on #55083
I just faced the same issue and I also created an issue in the sdk repo. https://github.com/Azure/azure-sdk-for-python/issues/11503.

[2020-05-18 19:22] mike-urnun-msft commented on #54685
@manish-jain-1 Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-18 19:22] #54685 closed

[2020-05-18 19:32] BharathNimmala-MSFT commented on #54603
@tescales Apologies for the delayed response, we are working with our internal teams to get more information on this, will keep you updated. Thanks

[2020-05-18 19:39] JAK1047 opened #55093 "Update supported OS"
Since this page has a last update of early December last year I'm wondering if the 20.Q2.1 drivers are now considered supported for this and if Win10 1909 is a supported OS now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b614e743-5405-47cd-ee21-b442b4acb44d
* Version Independent ID: 3aecf729-8f36-6e60-be76-b740df7a

[2020-05-18 19:42] MariusVolkhart opened #55094 "What does success look like"
This page issues guidance on how to configure broker integration, but I did not see information about what a successful integration looks like. How do I know my integration is working? How does using a broker change the MSAL behavior? Do I no longer need to explicitly sign in the user (via `ISingleAccountPublicClientApplication#signin()`)? Can I always get an access token? Are there different beha

[2020-05-18 19:42] CeciAc opened #55095 "Change default error message in prevention mode from 403 to 404"
@MaxiPalle commented on [Mon May 18 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/659)

Is it possible to adjust the default behaviour in 'prevention' mode?
We would like to answer the AppGw with a 404 instead of 403 to make any further attack attempts less likely.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.co

[2020-05-18 19:44] MarileeTurscak-MSFT commented on #55094
@MariusVolkhart
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-18 19:48] GiftA-MSFT commented on #55065
@rohancragg we will review your feedback and get back to you shortly. Thanks.

[2020-05-18 19:48] BharathNimmala-MSFT commented on #55073
@jtuliani Thank you for your query, we will look into it and get back to you at the earliest.

[2020-05-18 19:51] GiftA-MSFT commented on #55083
@PatrickFarley please review the above feedback. Thanks.

[2020-05-18 19:53] BharathNimmala-MSFT commented on #55063
@blueelvis  Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-05-18 19:53] RyanHill-MSFT commented on #55003
@mc0re, Content Key policies fall under Streaming Policies. Therefore, you have up to 100.  You are correct that the streaming locator is a 1:1 relationship with the asset but you can associate a content policy with multiple streaming locators. That's why (6) is noted under https://docs.microsoft.com/en-us/azure/media-services/latest/limits-quotas-constraints#packaging--delivery-limits.

Hope this

[2020-05-18 19:53] #55003 closed

[2020-05-18 19:53] davidsmatlak commented on #54713
@erbalaji Have you deployed additional virtual machines in the virtual network (VNet) with the additional IP addresses?

[2020-05-18 19:54] MarileeTurscak-MSFT commented on #55074
@liitimellison
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-18 19:54] PatrickFarley commented on #54698
The Review tool content is found here - https://docs.microsoft.com/azure/cognitive-services/content-moderator/review-api

I'll incorporate a link to it in this doc.
#please-close

[2020-05-18 19:55] #54698 closed

[2020-05-18 19:56] PatrickFarley commented on #54851
@AndreasDL Did you copy the whole SAS URL or just the token?

[2020-05-18 19:56] kashyap-bhatt-by commented on #44428
There is no mention of this in documentation. Is this supported or not? For my function app (Linux app running on a Consumption plan) the Deployment Center link is disabled in portal.

[2020-05-18 19:58] femsulu commented on #54686
Thanks for the update, @mayurigupta13 - Is there any plans to shorten this cycle?
Also, How can end users get the latest update of upcoming refresh? will there be a blogpost when this is released?

@Alex-Derbyshire  - sorry for the inconvenience here. we will make sure this is made public once the refresh is released.
We will now close this issue. If there are further questions regarding this matt

[2020-05-18 19:58] #54686 closed

[2020-05-18 19:59] BharathNimmala-MSFT commented on #55058
@o-l-a-v Thank you bringing this to our notice. I have assigned this issue to our document author @MGoedtel to further look into it.

[2020-05-18 20:01] femsulu commented on #54534
As we havent heard from you, we will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-05-18 20:01] #54534 closed

[2020-05-18 20:03] BharathNimmala-MSFT commented on #55091
@crisansou Thank you for reaching out to us on this, our team will further look into it and get back to you at the earliest.

[2020-05-18 20:04] MarileeTurscak-MSFT commented on #55074
@liitimellison Devices must be on the organization's internal network OR on a VPN with network visibility to an on-premises Active Directory domain controller.

I made a pull request to add a note about this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/115545

If you have further questions feel free to reach out to me.

[2020-05-18 20:08] femsulu commented on #54892
@mumian & @tfitzmac  - can either of you kindly confirm there is a limit. couldn't find this documented anywhere.

[2020-05-18 20:12] mc0re commented on #55003
@RyanHill-MSFT When a `StreamingLocatorContentKey` is created with a user-defined key, the key ID and value are associated with the key name defined in the policy - namely `cencKeyDefault`. When a `StreamingLocator` is created, the `StreamingLocatorContentKey` instance must be passed on to it along with the content policy name. Therefore I assumed a 1:1 relationship between a content policy and a

[2020-05-18 20:15] KranthiPakala-MSFT commented on #54941
@hzpc-joostk Thanks for the feedback. We have assigned the issue to the content author. They will evaluate and update the document as appropriate.

[2020-05-18 20:17] BharathNimmala-MSFT commented on #55066
@shadowano Thank you for your query, we will look into it and get back to you at the earliest.

[2020-05-18 20:23] vhorne commented on #54894
#reassign:surajmb

[2020-05-18 20:27] SaurabhSharma-MSFT commented on #54775
@DaveSneddon I have followed the document can validate the signup-signin with the customized user input.
![image](https://user-images.githubusercontent.com/38112130/82256116-a24e8900-990a-11ea-9359-7b76d900ac0e.png)
Please make sure that DisplayName tag is available under <ClaimsProvider> tag on TrustFrameworkExtensions file
![image](https://user-images.githubusercontent.com/38112130/82256364-125d

[2020-05-18 20:29] MarileeTurscak-MSFT commented on #55092
@jackmusick
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-18 20:31] AndreasDL commented on #54851
I got the uri from the storage explorer as explained in the documents.
It is of the form:
https://<storage_account>.blob.core.windows.net/<container>?sv=<....>

I feel like i am missing something very obvious, but i can't figure out what. I just removed everything and started again. I copied the uri generated by the storage explorer. I am able to store the connection.

Then i created the project u

[2020-05-18 20:33] BharathNimmala-MSFT commented on #54468
@christianse2 I have heard back from our team on your query and seems that it is on the roadmap and will be coming soon. Unfortunately can't share the  exact ETA but would request you to subscribe to [Azure Updates](https://azure.microsoft.com/en-us/updates/) to get latest information.

Hope the above information helps. At this point it appears that there's no further edits or updates needed to th

[2020-05-18 20:33] #54468 closed

[2020-05-18 20:33] kwoodson opened #55097 "The Next steps section has formatting issues"
The section `## Next steps` has formatting issues.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e97c60e-0e31-ee4d-445e-392a46e1e617
* Version Independent ID: 540ef37d-b439-47fc-9100-715e189f54b6
* Content: [Creating and configuring a key vault for Azure Disk Encryption - Azure Linux Virtual Machines](https://docs.mi

[2020-05-18 20:33] KranthiPakala-MSFT commented on #54967
Hi @bkieffer-VE , thanks for reaching out and sorry for the inconvenience.

Please Map trigger properties to pipeline parameters. (In order to do so, first create the pipeline parameters and then click new/edit trigger of pipeline, and map the trigger properties to pipeline parameters )

Below are the properties to be mapped:

`sourceFile = @trigger().outputs.body.fileName`
`sourceFolder = @trigge

[2020-05-18 20:34] mortgagemetrix opened #55098 "Azure Storage Explorer SAS"
Another issue with Gen2 ADLS: you cannot generate SAS uri's using the Azure Storage Explorer GUI. You can generate blob-level SAS using the command line.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46d15a48-4780-edbb-4485-121f901cbac9
* Version Independent ID: fc65764c-2d2a-4901-5c31-82b4566bf3bc
* Content: [Known i

[2020-05-18 20:40] ThomasWeiss commented on #55090
@susanlinsfu thanks for your comment. These statements were made to illustrate the choice of embedding vs. referencing. If we embedded in the same doc all comments with their post, we could be easily limited by the max doc size of 2 MB. By referencing (keeping posts and comments in separate docs):
- we make sure that each post or comment can have up to 2 MB (which is more than enough in terms of t

[2020-05-18 20:41] Chai-NED commented on #55064
Hi Tamra,

Thanks for the reply. I believe what you cited are durability numbers  that show the degree of certainty that written data are durable to Azure storage. For that matter, 11 9s for LRS is practically as good as 12 9s from ZRS.

The SLA in was referring to is the availability of access to the data. That number, 99.9%,  is the same for ZRS and LRS for hot access tier.

Thanks,

Thanks,

Ch

[2020-05-18 20:47] kmoore-riphaina opened #55099 "the documentation on the speech to text api is poor"
more specifics are needed to show the capabilities of the api, the documentation lists using blob storage or file uploading, or microphone input. the example code in the documentation doesn't list anything related to stream processing. i only found out this capability after giving a competitors api a try. i was completely unaware that anything other than batch processing was even a possibility bec

[2020-05-18 20:52] kmoore-riphaina commented on #54919
there are entire sections missing from this documentation on the capabilities of the api. in my case related to processing different input types, including streaming and real time processing as a use case. code samples should not be the source of truth for documentation, and shared libraries should not be used in code samples... i shudder to think how much business Microsoft has lost due to this s

[2020-05-18 20:59] ShaneBala-keyvault commented on #29789
Resolved documentation issues for clarity, replaced code to instruct user where to fill in variable names, added information on MSI Authentication.

[2020-05-18 20:59] ShaneBala-keyvault commented on #29789
#please-close

[2020-05-18 20:59] #29789 closed

[2020-05-18 21:04] vhorne commented on #54921
Binal is already working on an Azure Architecture Center article for this.
#reassign:binals

[2020-05-18 21:06] heaths commented on #55088
That page shows sample input like:
[code]
This, the sample definition doesn't seem to match this, nor does it match the sample output since the target name is "myKeyPhrases" but the sample output just shows "keyPhrases".

[2020-05-18 21:11] andrewconnell opened #55100 "Seeking confirmation if the SOURCEMAPURL property is ignored..."
It appears from my testing that the URL typically appended to the end of the JS file is ignored by this feature in AppInsights... is that (1) accurate & (2) by design?

Seems both points are true... so... is it also ok to have nothing appended in our JS bundles?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c820ae7-4

[2020-05-18 21:12] Garyljackson commented on #42215
Thanks spaelling - that should come in handy with any ARM template debugging.

[2020-05-18 21:18] NavtejSaini-MSFT commented on #54805
@MladjoA Please check the follow up question from the customer here.

[2020-05-18 21:18] SaurabhSharma-MSFT commented on #54847
@BukeMan Thanks for the feedback !  I have assigned this issue to content author to provide more context around your ask and update the document as appropriate.

[2020-05-18 21:22] lwang2016 commented on #54892
It's a known bug that was already fixed last Thursday. Please try again and let me know if the same issue still repros.

The max allowed size for environment variables is: 64Kb.

[2020-05-18 21:23] GraemeMalcolm commented on #55083
Just confirming that this approach works for prediction with a slight modification to the header:

[code]

[2020-05-18 21:23] KranthiPakala-MSFT commented on #54967
@bkieffer-VE I have submitted a PR to reflect the doc with correct trigger properties. The changes will be merged soon.
I will work with internal team to update the image as well.

Please follow above instructions and let us know if you see any issues.

Thank you.

[2020-05-18 21:25] SaurabhSharma-MSFT commented on #54873
@Seddy24 Are you checking in your B2C tenant.  As mentioned in the document you need to check use https://graphexplorer.azurewebsites.net/. to get the deleted applications.
 You need to login with your Global Admin Account in your B2C tenant.
If you are still not able to see the app, I suggest you to please open a support ticket.

[2020-05-18 21:27] MarileeTurscak-MSFT commented on #55074
(Closing as this discussion has been carried offline)

[2020-05-18 21:27] #55074 closed

[2020-05-18 21:31] markwolff commented on #55100
Hi @andrewconnell, yes both of your observations are correct. Currently, the feature does not consider at the sourcemap URL at the bottom of your JS bundle files. However, this is something we will probably support at some point. You can feel free to include (or not) the URL

[2020-05-18 21:34] LuisCabrer commented on #55088
Oh, I see the confusion...
You are confusing the inputs / outputs of the skill itself, with the actual location of the information to enrich in the enriched document...
A bit to explain in text, but take a look at: https://www.youtube.com/watch?v=9GKqhkZWoQU

[2020-05-18 21:35] MarileeTurscak-MSFT commented on #55071
Thanks! I made a pull request to add a note about this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/115562

[2020-05-18 21:35] #55071 closed

[2020-05-18 21:38] NavtejSaini-MSFT commented on #54843
@yqxiaxia For more retention period you can use the Pg_dump to create and keep the dump files.
For giving the your feedback to Product Team you can post your feedback here :

https://feedback.azure.com/forums/597976-azure-database-for-postgresql

They will analyze the feedback and provide direct response.

[2020-05-18 21:39] KranthiPakala-MSFT commented on #54760
@adiun Thanks for feedback. We have assigned the issue to the content author. They will evaluate and update the document as appropriate.

Hi @spelluru , seems like this doc needs to be enhanced, could you please have a look at this and update the content as appropriate. Thank you.

[2020-05-18 21:40] MartinJaffer-MSFT commented on #55095
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-05-18 21:40] mdbill commented on #54985
The changefeedprocessor (push model) does not support partition keys, and the answer is this new 'change feed pull model' feature in preview:
https://docs.microsoft.com/en-us/azure/cosmos-db/change-feed-pull-model

[2020-05-18 21:46] femsulu commented on #54892
thanks for the update @lwang2016 . Are you confirming that the fix has been pushed to prod?

@CeciAc  - based on the response to my follow-up question, please ask the user to retry.

We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

Cheers.

[2020-05-18 21:46] #54892 closed

[2020-05-18 21:48] lwang2016 commented on #54892
Yes, the fix has been deployed to all prod regions.

[2020-05-18 21:54] MarileeTurscak-MSFT commented on #55045
Assigning this to the author to update as needed https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/blob/master/scenarios/phone-number-passwordless/Phone_Email_Base.xml

[2020-05-18 21:57] MartinJaffer-MSFT commented on #55089
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-05-18 22:05] SaurabhSharma-MSFT commented on #54878
@JKauff No, this is not possible.  I suggest you to please post this as a feedback at [UserVoice](https://feedback.azure.com/forums/906355-azure-key-vault). This will allow the community to upvote and for the product team to include into their plans. "This Product" button in at the bottom section of the document now to take you directly to the appropriate feedback page.

[2020-05-18 22:07] jonsauter opened #55102 "Custom Logo doesn't work on O365 App Launcher"
The on-page information clearly indicates that the custom logo should apply to the Access Panel and the O365 application launcher. I can see my custom logo in the Access Panel but not in the O365 app launcher. This is despite clearing cache, changing browsers, incognito/in-private tabs, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-05-18 22:09] MartinJaffer-MSFT commented on #55067
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-05-18 22:12] iMicknl commented on #55083
@GraemeMalcolm good catch. I also made your modification indeed.. My snippet was directly taken from the PR in the docs repo.

[2020-05-18 22:12] MarileeTurscak-MSFT commented on #54448
They are not synched, but some exceptions such as password writeback or exchange hybrid writeback allow certain attributes to be synchronized.

[2020-05-18 22:12] #54448 closed

[2020-05-18 22:14] Hazhzeng commented on #54423
Hi @dudu-markovitz,

Sorry for the confusion, the Python worker does come with a ODBC 17 driver,
https://github.com/Azure/azure-functions-docker/blob/master/host/3.0/buster/amd64/python/python37/python37.Dockerfile#L52

This is a common ask from our customer so we decided to include it in our Python Libraries. We are currently filling in content of a wiki page to collect our preinstalled libraries

[2020-05-18 22:14] bandersmsft commented on #50095
@artislismanis What API version and endpoint are you calling with? I'll pass your details on to the engineering team for investigation.

[2020-05-18 22:16] SaurabhSharma-MSFT commented on #54893
@hpsin Can you please help on this one.

[2020-05-18 22:17] MartinJaffer-MSFT commented on #55070
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-05-18 22:19] artemuwka commented on #55064
Hi, @Chai-NED! Let me add a few details here - indeed availability SLA is the same for LRS and ZRS, however ZRS is designed to provide additional protection against hardware failures in the region. E.g. if an entire storage cluster goes down, the DC is down due to power or cooling issue or the entire zone (comprised of multiple DCs) goes down using ZRS your application would continue to operate as

[2020-05-18 22:20] MartinJaffer-MSFT commented on #55078
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-05-18 22:23] TravisCragg-MSFT commented on #54846
@alamoiker Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-18 22:26] NavtejSaini-MSFT commented on #55044
@sonic1981 We are assigning this to our doc author for further review.
@yegu-ms Please check the sample code provided by user and correct document if needed.

[2020-05-18 22:27] TravisCragg-MSFT commented on #53970
@lonevvolf We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-18 22:27] #53970 closed

[2020-05-18 22:31] MartinJaffer-MSFT commented on #55081
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-05-18 22:32] RyanHill-MSFT commented on #55003
Correct @mc0re and if you see [here](https://docs.microsoft.com/en-us/azure/media-services/latest/content-key-policy-concept#best-practices-and-considerations), that is actually encouraged.

[2020-05-18 22:33] heaths commented on #55088
The `name` attribute is the skill input (or output), but the source has value "/document/content". That is the selector, is it not? That's what other skillsets' examples show. But whether that's right or wrong, I'm working on the client SDK (Azure.Search.Documents) with @bleroy et. al. and if I'm confused, I imagine our customers trying to use it will be as well. We just had UX studies lately and

[2020-05-18 22:36] #55100 closed

[2020-05-18 22:37] MartinJaffer-MSFT commented on #55082
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-05-18 22:37] andrewconnell commented on #55100
Cool... thanks for the quick followup @markwolff. Nice feature!

[2020-05-18 22:37] mike-urnun-msft commented on #54423
@dudu-markovitz Based on the response above, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-18 22:37] #54423 closed

[2020-05-18 22:38] hpsin commented on #54893
Yes, that would be a more efficient way of making that API call I imagine.  We cannot update the claim value in groups:src1, though, as it has been fixed like that for a while.

[2020-05-18 22:41] SaurabhSharma-MSFT commented on #55005
@Vdevtest You also need an iCloud account for actual storage location as mentioned in the document.

[2020-05-18 22:41] frankdrewes opened #55103 "Wrong ServiceURL for token endpoint"
in the 'Using Oauth 2 Bearer' section, you need to change
your-tenant-name.microsoft.com
to
your-tenant-name.onmicrosoft.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cbe5bd8-f4fa-cfac-b3f1-ac25ae741dae
* Version Independent ID: 7b7a29b9-b779-88a6-b53a-84b4a6cc1f9b
* Content: [Secure a Restful service in your Azu

[2020-05-18 22:48] TravisCragg-MSFT commented on #54658
@JohnD76 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-18 22:48] #54658 closed

[2020-05-18 22:49] SaurabhSharma-MSFT commented on #55043
@ncagney can you please provide more details at which step you are getting this error ?

[2020-05-18 22:51] MladjoA commented on #54805
@aihaslett, elastic query between SQL DB and SQL MI does work if there is a connectivity between the two. Given that SQL MI is always injected into a Virtual Network and gets an IP address from customer's private address space, it means that public endpoint needs to be enabled on SQL MI for SQL DB to be able to connect to it.
So, once you enable public endpoint on your MI, this is how your externa

[2020-05-18 22:52] timsander1 commented on #54922
Hi @SafwanHussain, could you share the RU charge and Retrieved Doc Count for the query with and without a composite index? The Index hit document count will be 0 for any aggregate query so I'd recommend looking at the Retrieved Doc Count to see if the query needed to load unnecessary documents.

Based on information so far, the composite index is likely being utilized for that query.

[2020-05-18 22:54] TravisCragg-MSFT commented on #55049
@shivaniThakur93 are you connecting via a P2S or S2S VPN? If P2S, what type of authentication are you using?

[2020-05-18 22:54] TravisCragg-MSFT commented on #54684
@mdaslamansari Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-18 22:54] #54684 closed

[2020-05-18 22:54] SirisDracken commented on #54711
I am having the same issue I think, it just always says "Failed to store the Anchor Key to "myasp.net address".  I have followed the tutorial three times now, and it just does the same thing each time.

[2020-05-18 23:00] milligan21 commented on #54711
I am on my 4th time around.... still doesnt work!! I "borrowed" or should i say.. some guy sent me his URL and it worked fine. No idea why mine isnt working and his is

[2020-05-18 23:03] GiftA-MSFT commented on #54980
@arida2200 will proceed to close this thread since there isn't any feedback provided. Thanks.

[2020-05-18 23:03] #54980 closed

[2020-05-18 23:06] milligan21 commented on #54711
Its saving the anchors to the cloud app but it says on my app that its failed..... and gives me "Created anchor1. Next: stop cloud anchor session". but never works . On the URL i borrowed it would give me a result of 0 or 1

[2020-05-18 23:11] WyattBest opened #55104 "Command for Windows Current?"
Underneath "Implement the following command as part of logoff script. This command will trigger a best effort call to Azure AD to delete the device." there's a single bullet point for Windows down-level devices.

What is the command for Windows current devices?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e8f55d4-53

[2020-05-18 23:19] shivaniThakur93 commented on #55049
I am using a P2S VPN. I am using single sign on by microsoft account authentication.

[2020-05-18 23:27] Karishma-Tiwari-MSFT commented on #55062
Is this issue resolved?

[2020-05-18 23:37] Karishma-Tiwari-MSFT commented on #54831
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-05-18 23:37] #54831 closed

[2020-05-18 23:40] Karishma-Tiwari-MSFT commented on #54915
We are looking into this issue.

[2020-05-18 23:44] Karishma-Tiwari-MSFT commented on #54945
It implies that all node pools that are using the cluster autoscaler, will have the same cluster autoscaler profile applied on all of them. The profile cannot be applied to one node pool.

[2020-05-18 23:48] MarileeTurscak-MSFT commented on #55103
@frankdrewes thanks! Fixing this.

[2020-05-18 23:55] Karishma-Tiwari-MSFT commented on #55097
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2020-05-18 23:56] MarileeTurscak-MSFT commented on #55103
Thanks. Just made a PR to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/115587

[2020-05-18 23:56] #55103 closed

[2020-05-18 23:57] #55097 closed

[2020-05-19 00:08] vsub21 commented on #55022
@DixitArora-MSFT Got it, thanks.

[2020-05-19 00:08] #55022 closed

[2020-05-19 00:14] MarileeTurscak-MSFT commented on #54690
@sirdank can you please give me the name that it was under or the subject line of the email? Having trouble finding it and wondering if it wound up in spam.

If you send your subscription ID to me at AzCommunity@microsoft.com I can also open a free support case for this if needed.

[2020-05-19 00:17] Mike-Ubezzi-MSFT commented on #54985
Adding supporting information: [Comparing with change feed processor](https://docs.microsoft.com/en-us/azure/cosmos-db/change-feed-pull-model#comparing-with-change-feed-processor)

  | Change feed processor | Pull model
-- | -- | --
Keeping track of current point in processing change feed | Lease (stored in an Azure Cosmos DB container) | Continuation token (stored in memory or manually persisted)

[2020-05-19 00:17] #54985 closed

[2020-05-19 00:21] GiftA-MSFT commented on #55065
@rohancragg does the following explanation suffice?

"If you are using Private Link for your Azure Machine Learning workspace, and put the Azure Container Registry for your workspace in a virtual network, you must also apply the following Azure Resource Manager template. This template enables your workspace to communicate with ACR over the Private Link."

The [sharedPrivateLinkResources](https://d

[2020-05-19 00:33] GiftA-MSFT commented on #54989
@FrankBurmo we are continuously working to improve our products. AFAIK there's currently no public information to provide regarding your request, however, I encourage you to [raise a uservoice for language support](https://cognitive.uservoice.com/forums/578689-qna-maker) so you and others can upvote and product team can prioritize your request. Thanks.

[2020-05-19 00:33] #54989 closed

[2020-05-19 00:41] TravisCragg-MSFT commented on #55095
@maxipalle unfortunately this is default behavior and cannot be changed. if you would like us to add this functionality, please leave your feedback at [Azure Networking's feedback.azure.com page](https://feedback.azure.com/forums/217313-networking?category_id=368350).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We wi

[2020-05-19 00:41] #55095 closed

[2020-05-19 00:43] GiftA-MSFT commented on #54866
@davenull311 are you saying the code only works when you add one document?

[2020-05-19 00:48] TekExpo commented on #54345
Yes, tried that. No change in the error message. Do I need to manually update the appsettings.json with Azure SQL DB connection string?

[2020-05-19 00:49] TravisCragg-MSFT commented on #55082
@genesisemmloh where in the example are you referring to?  contoso.azureedge.com is the DNS name of the CDN Endpoint.

If your CDN's DNS name is cdndocdemo1.azureedge.com, then that is what you should point it to.

[2020-05-19 00:52] MarileeTurscak-MSFT commented on #55102
@jonsauter can you post a screenshot of what you see after adding the logo? Do you get any errors in the notifications?

[2020-05-19 01:01] GiftA-MSFT commented on #54855
@Arash-Sabet Data source locations are public URLs or files, which do not require authentication. Thanks.

[2020-05-19 01:04] Karishma-Tiwari-MSFT commented on #54915
What I noticed is that the error message mentions about virtual network: "Resource requested: '1' CPU '1' GB memory 'Linux' OS '1' 'V100' GPU virtual network".
The important thing to note is that a "virtual network" is included in the list of resources.

The reference doc (https://docs.microsoft.com/en-us/azure/aks/gpu-cluster) has steps for setting up a GPU workload on a cluster made of tradition

[2020-05-19 01:15] mganeshphani commented on #42947
I have often found it useful to drive this kind of issues via a support ticket and get your feedback on documentation driven through your TAM

[2020-05-19 01:19] mike-urnun-msft commented on #54882
@sonampanchmiya [Thumbprint](https://knowledge.digicert.com/solution/SO4264.html) is a unique identifier (`md5` hashed) for your certificate that you can use to check if the certificate presented in the request is valid. Getting 401 error is kind of expected as it means that the certificate-based authentication discussed in this documentation is working. It might just be that there are a few more

[2020-05-19 01:19] #54882 closed

[2020-05-19 01:21] mike-urnun-msft commented on #54766
@sailadasanthosh Since we haven't heard back from you, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-19 01:21] #54766 closed

[2020-05-19 01:28] btardif commented on #54796
Based on internal discussion I suggest we filter out function apps from the get-azdeteledwebapp results. CC: @panchagnula

[2020-05-19 01:49] VisImage opened #55105 "gpu"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f73791d-09c0-95aa-fd26-a2c2e5b58350
* Version Independent ID: 8faae52b-b605-f9f2-b98a-db3d2d5c4e99
* Content: [Azure Kinect DK recorder](https://docs.microsoft.com/en-us/azure/kinect-dk/azure-kinect-recorder)
* Content Source: [articles/kinect-dk/azu

[2020-05-19 01:59] mike-urnun-msft commented on #53765
@Adikota Logic Apps treats the credentials and other sensitive info as [API Connections](https://medium.com/@derek_li/create-api-connection-via-arm-template-b018e8069808) resource and stores them securely in Azure KeyVault. You create them once for the first time when you create your resources on Azure. In all of your subsequent deployments, you can instruct your ARM template to use these existing

[2020-05-19 01:59] #53765 closed

[2020-05-19 02:01] ram-msft commented on #54185
@rdagumampan Thanks for the feedback. The sample code uses the constant instead of the appsettings default answer.

 @nerajput1607 If default answer from the azure portal is not recommended to use in QnAMakerDialog(dialog which uses QnA Maker knowledge base to answer FAQs) please update accordingly. Can you please confirm is the default answer not recommended for other samples like Input dialogs,

[2020-05-19 02:28] ram-msft commented on #54710
@FireBelow Thanks for the feedback. As mentioned in the [document ](https://docs.microsoft.com/en-us/azure/cognitive-services/bing-news-search/python) search_results contains the response from the API as a JSON object. The json() method doesn't give raw JSON. It gives a Python object (nested combinations of dicts and lists) representing one. When print it out, the quotes are added for the sake of

[2020-05-19 02:32] AshokPeddakotla-MSFT commented on #55053
@frvigano  Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-19 02:42] AshokPeddakotla-MSFT commented on #54951
@Theragus As Dominic mentioned, the doc will be updated.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-19 02:42] #54951 closed

[2020-05-19 02:43] ram-msft commented on #54622
@rastala Can you please share the documentation if it's available.

[2020-05-19 02:44] mike-urnun-msft commented on #50290
@sophiedasinger Sorry for the late reply. You can create an HTTP-triggered Function app from your logged-in account and register its HTTP endpoint as a Webhook event handler in an Event Grid under another subscription.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-19 02:44] #50290 closed

[2020-05-19 02:55] CHEEKATLAPRADEEP-MSFT commented on #55086
@travis-c-lagrone  Thanks for the question! We are investigating and will update you shortly.

[2020-05-19 03:07] andremarques023 commented on #55091
@crisansou Az.Profile was renamed to Az.Accounts back then in Dec 2018. If you take a closer look at the code it actually says:

You shouldn't be in trouble after leaving the mentioned lines out and uncommenting the following:

[code]
**Enable-AzRmAlias** does not exists, so do not change that. The Enable-AzureRmAlias cmdlet is part of Az.Accounts and enables AzureRm prefix aliases for Az modules.

[2020-05-19 03:14] chris-bowman opened #55106 "Restarting and Patching S2D clusters"
It would be worthwhile to add to this page some additional information / warnings about the correct restart process required for S2D clusters - namely https://docs.microsoft.com/en-us/windows-server/storage/storage-spaces/maintain-servers or note that Cluster-Aware Updating is recommended for patch maintenance. If only two nodes are used as suggested (i.e. two-way mirror) you can only restart one

[2020-05-19 03:14] CHEEKATLAPRADEEP-MSFT commented on #55098
@mortgagemetrix Unfortunately, Azure Storage Explorer doesn't support SAS generation for ADLS gen2 storage accounts.

[2020-05-19 03:27] CHEEKATLAPRADEEP-MSFT commented on #54902
@dheerajkumar-solanki, First you need to manually declare the values delta.deletedFileRetentionDuration=<interval-string>. Based the interval Azure Databricks automatically triggers VACCUM operation and mentioned time interval.

Hope this helps.

[2020-05-19 03:28] CHEEKATLAPRADEEP-MSFT commented on #54888
@darayavah We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-19 03:28] #54888 closed

[2020-05-19 03:33] joncloud opened #55107 "Creating App Service Managed Certficate results in Misleading Error"
Attempting to create an App Service Managed Certificate produced the following error. It appears to be misleading, and upon further research this is due to an incorrect `CAA` DNS record. This is highlighted in the [Create a free certificate (Preview)](https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate#create-a-free-certificate-preview) section, but doesn't really describe

[2020-05-19 03:39] SumanthMarigowda-MSFT commented on #55076
@jtwardos Thanks for the question! We are investigating and will update you shortly.

[2020-05-19 03:40] SumanthMarigowda-MSFT commented on #55077
@pelon34 Thanks for the question! We are investigating and will update you shortly.

[2020-05-19 03:41] SumanthMarigowda-MSFT commented on #55080
@emacdona Thanks for the question! We are investigating and will update you shortly.

[2020-05-19 03:41] SumanthMarigowda-MSFT commented on #55084
@porrascarlos802018 Thanks for the question! We are investigating and will update you shortly.

[2020-05-19 03:43] SumanthMarigowda-MSFT commented on #55087
@anderseide Thanks for the question! We are investigating and will update you shortly.

[2020-05-19 03:44] susanlinsfu commented on #55090
Thanks Thomas for such a quick reply. I completely agree, reaching 20GB is this scenario is a long shot, but I just wanted to make aware that there is a limit (either for someone who is making a similar system or mimicking the design pattern for another scenario).  This may be a bad example, but for instance if an application wanted to allow images/videos in comments and the images/videos were sto

[2020-05-19 03:46] ruowan opened #55108 "What does quorum read "Local Minority" and quorum write "Global Majority" means? Could you pls provide any example to describe it?it?"
I really like this series of doc. It's pretty easy to understand.  But I have some questions which need your answer.

I think "Global Majority" is mean more than quorum write number of the regions have committed this write request. For strong consistency, the quorum write number equals region number. Is it right?  But I am confused about "Local Minority". Could you pls clarify  it?

---
#### Docum

[2020-05-19 04:03] sampbarber commented on #44779
Guidance on how to actually do this would be great. How do I now set the Request object for testing a controller?

[2020-05-19 04:04] ram-msft commented on #55099
@kmoore-riphaina Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-05-19 04:08] algattik commented on #54055
Here's what I use now with good results:

[code]

[2020-05-19 04:15] rgamage opened #55109 "Unclear instructions"
"The gateway device name passed into those scripts" what does this refer to?  There is no point in the instructions in which we pass any device name into any script.  Please explain what this means.  This whole process is extremely confusing and poorly documented, no single, coherent walk-through of any of the scenarios.  A lot of vague mentions of things that need to be done, and lots of requirem

[2020-05-19 04:16] andremarques023 opened #55110 "The provided PowerShell script should be improved."
Get-AzSubscription cmdlet returns the subscription ID, name and tenant for subscriptions that the account can access. The $SubscriptionName variable would end up being null with the actual code (line 169):

`$SubscriptionName = $subscription.Subscription.Name`

In addition, it may be better to explicitly define the context when creating the Service Principal, as the default values ​​for the Role a

[2020-05-19 04:24] SeaDude opened #55111 "Need python examples for App Config"
I can't tell if Azure App Config works with the python sdk. It doesn't appear to be listed as a compatible language and there are no python examples so far in the App Config docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0b5a566-084c-d77f-9d78-3bfd72b01080
* Version Independent ID: b22f2729-2f31-a0cd-fc61-0ead18

[2020-05-19 04:29] SeaDude commented on #44968
The best way I've found to combine MSI and local dev is to use the Azure DefaultCredential() class from the `azure identity` library. From the docs [here](https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-authenticate?tabs=bash#authenticate-with-defaultazurecredential) it reads: "`When code is deployed to and running on Azure, DefaultAzureCredential automatically uses the system-as

[2020-05-19 04:29] AshokPeddakotla-MSFT commented on #54907
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-19 04:45] gregdegruy opened #55112 "Images force pulled from Docker Hub"
My images are stored in Azure container registry. Yet when I refer to my image stored in ACR using the Docker compose preview, it trys to find the image in Docker Hub instead where it is not stored and fails.

`DockerApiException: Docker API responded with status code=InternalServerError, response={"message":"Get https://registry-1.docker.io/v2/dev/my_container/manifests/latest: unauthorized: inco

[2020-05-19 04:45] SnehaAgrawal-MSFT commented on #55107
@joncloud Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-19 04:47] gregdegruy commented on #55112
Here are my settings in my Azure App Service.

![Annotation 2020-05-18 214633](https://user-images.githubusercontent.com/8151045/82285791-1449c100-9951-11ea-9feb-ac8934afc785.png)

[2020-05-19 04:47] SnehaAgrawal-MSFT commented on #54736
@Fax Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-05-19 04:48] ram-msft commented on #54788
@jjacks Thanks for the feedback. you can try and use the Form Recognizer train with labels feature and label these tables as key value pairs, labeling each cell of the table as a value. Please note you will need to label and train with 5 samples with the maximum number of rows in the tables.

We can train the model to be accurate in table structure recognition. But it seems the train with labeling

[2020-05-19 04:58] gregdegruy commented on #33505
@msangapu-msft I am still facing issues even after following: https://techcommunity.microsoft.com/t5/Azure-App-Service/Things-You-Should-Know-Web-Apps-and-Linux/ba-p/392472.

I consistently get this error, it seems as though even though I specific ACR as my registry source the App Service is forcing all containers to come from Docker.
`2020-05-19T04:52:49.903Z ERROR - DockerApiException: Docker AP

[2020-05-19 05:11] KrishnaG-MSFT commented on #55110
@andremarques023 Thanks for your comment! We will review and provide an update as appropriate.

[2020-05-19 05:11] VikasPullagura-MSFT commented on #55085
@LukeCarrier
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-19 05:11] VikasPullagura-MSFT commented on #55085
@mimckitt
Can you please check and add your comments on making this limitation as a note in the document.

[2020-05-19 05:12] VikasPullagura-MSFT commented on #55093
@JAK1047
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-19 05:12] VikasPullagura-MSFT commented on #55093
@vikancha
Can you please check and add your comments on the requested version as applicable.

[2020-05-19 05:14] VikasPullagura-MSFT commented on #55084
@porrascarlos802018
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-19 05:15] VikasPullagura-MSFT commented on #55084
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-05-19 05:18] pnarsi opened #55114 "Use Service Principal for Databricks Linked Service"
Databricks has recently been updated to support AAD token authenication for their REST API as a Public Preview feature. Can we setup the ADF Databricks linked service to use AAD tokens instead of Databricks personal access tokens? The documentation at the moment suggests that only personal access tokens are supported for the Databricks Linked Service setup in ADF.

https://docs.microsoft.com/en-us

[2020-05-19 05:23] MikeRayMSFT commented on #54761
@ted185 I'm working with our engineers to review your request. Thank you for the submission.

[2020-05-19 05:25] vipulsparsh commented on #54740
@Emmanuel-Bresson  We are investigating this and will get back to you.

[2020-05-19 05:25] vipulsparsh commented on #54740
@rolyon Can you look into this ?

[2020-05-19 05:27] Mark7even opened #55115 "Old incorrect link"
"For an example, see Enforce resource group tags" The link is to to something not related to the statement and I believe the "Enforce resource group tags" has been deprecated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9762f1b7-0e3a-d58f-fd99-a27ad948907b
* Version Independent ID: 89e28332-184e-ba84-df1f-e7698c5e0f

[2020-05-19 05:33] JakubW88 commented on #55046
@RyanHill-MSFT it's exactly what I'm looking for!! I will be testing today!! Perfect!!! Thank you!!

[2020-05-19 05:37] SumanthMarigowda-MSFT commented on #54905
If you run the Invoke-StorageSyncCloudTiering cmdlet manually on a directory, files that exist in that directory that meet the minimum file size requirement will be tiered.

If files are added to the directory at a later time, they will be tiered based on the cloud tiering heatmap. The Invoke-StorageSyncCloudTiering cmdlet has zero impact on tiering new files if the files were added after the Invo

[2020-05-19 05:38] dileep12231 opened #55116 "Unable to find the page with Rest API for running scripts in Azure VMs"
I am looking for a way to execute scripts on a Virtual Machine using Rest API. But the GitHub reference is redirecting me to page not found error. Kindly help me out.

[Source Reference](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/virtual-machines/windows/run-scripts-in-vm.md)

[Issue Link](https://github.com/MicrosoftDocs/azure-docs/blob/master/rest/api/compute/virtual%20mach

[2020-05-19 05:40] SumanthMarigowda-MSFT commented on #54904
@JeroenDaniels Apologies for delay in responding here

I'd recommend posting your question in https://azure.microsoft.com/en-in/support/community/  since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will

[2020-05-19 05:40] #54904 closed

[2020-05-19 05:44] VikasPullagura-MSFT commented on #53947
@dikokob Any update on the issue? As suggested in the previous comment, did you try passing only the hostname.

[2020-05-19 05:46] VikasPullagura-MSFT commented on #54362
I have assigned the issue to content author for updating the document with windows details on the cluster creation cli command.

[2020-05-19 05:48] SumanthMarigowda-MSFT commented on #54801
@ChulHul Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-05-19 05:52] dcbrown16 commented on #48938
@srdan-bozovic-msft I'm still wondering about this and we're getting some confusion on support tickets. You can contact me internally at v-dibr for details.
Not only the link I mentioned above, but also the very first link in this doc is confusing. The "public endpoints" link points to the vnet service endpoint page below. How is that related?
https://docs.microsoft.com/en-us/azure/virtual-network

[2020-05-19 05:55] vibs1983 commented on #45598
Is anyone else still having this issue? We have a hybrid Azure AD environment and it appeared the time on a few of our client devices skewed which caused this error. To fix we changed the time source to an external ntp server rather than the default nt5ds.

[2020-05-19 05:56] SumanthMarigowda-MSFT commented on #54801
https://forms.microsoft.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRxW65f1VQyNCuBHMIMBV8qlUM0E0MFdPRFpOVTRYVklDSE1WUTcyTVAwOC4u

[2020-05-19 05:59] #54801 closed

[2020-05-19 06:06] SumanthMarigowda-MSFT commented on #54700
@theheatDK  Firstly Apologies for delay in responding here!
Based on your scenario you may refer to the suggestion mentioned in this [SO ](https://stackoverflow.com/questions/57303398/is-there-some-way-to-monitor-azure-files-capacity)thread

This [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/b2db69a2-a56e-465f-8882-8628fd9ec563/azure-file-share-used-space-via-powershell?forum=windowsazure

[2020-05-19 06:06] #54700 closed

[2020-05-19 06:07] vipulsparsh commented on #54927
@Isotop7  : Do let us know if you have any follow up questions, closing this thread for now.

[2020-05-19 06:07] #54927 closed

[2020-05-19 06:11] yuharucan opened #55117 "How are "9.6%","19.2%" calculated"
This page says "For example, staticrc40 at DW1000c allocates 9.6% of the overall system resources. At DW2000c, 19.2% are allocated." How are "9.6%","19.2%" calculated?
Total memory of DW1000c is 600GB and staticrc40 at DW1000c use 8 slots, so 120 GB memory. if this is correct, staticrc40 at DW1000c allocates 120GB/600GB=20%, I think.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-05-19 06:11] dudu-markovitz commented on #54423
Very cool
Thanks!

David (דודו) Markovitz
Sr. Cloud Solution Architect, Data & AI      Mobile: +972-525-834-304
Microsoft Israel                                              Office: +972-747-119-274

[cid:image001.png@01D62DBD.79A677F0]

From: Hanzhang Zeng <notifications@github.com>
Sent: Tuesday, May 19, 2020 01:15
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: David Markovitz

[2020-05-19 06:13] SumanthMarigowda-MSFT commented on #54733
@ Apologies for delay in responding here!  Refer to the suggestion mentioned in this link
[Export Azure Activity log to storage or Azure Event Hubs](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/activity-log-export) If the still find any difficulties. I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/  since it's not directly related to the

[2020-05-19 06:13] #54733 closed

[2020-05-19 06:16] amanmcse commented on #54786
@Norrch2 Closing the thread. Feel free to tag me in your reply if you have any question.

[2020-05-19 06:16] #54786 closed

[2020-05-19 06:19] nitramavfank opened #55118 "Randomizing reboot"
Randomizing the reboot does not seem like a good idea. The effect this has is that the web roles will start with incorrect TLS/cipher configuration, and then after a random time it will reboot and fix itself. If you have customers using old ciphers (which I assume is the entire point of this guidance) then this will break compatibility with your customers at random times for random lengths of time

[2020-05-19 06:24] SumanthMarigowda-MSFT commented on #54746
@cstainie Thanks for the feedback! I have assigned the issue to the content author for future review on the document query. If you are still finding any issue on this  I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the documentation. We'll follow up there

[2020-05-19 06:27] amanmcse commented on #54918
@itsorch How and where are you updating the profile picture?

[2020-05-19 06:30] RohitMungi-MSFT commented on #54875
@khmerforce You can check the number of requests passed to your resource on the metrics page of the resource. It should look something like below to check the total, failed and successful requests passed to the resource.

![image](https://user-images.githubusercontent.com/46958063/82291535-c8396380-99c6-11ea-8ba4-bfe48b871dd9.png)

With respect to a scenario of spamming it is recommended to follow

[2020-05-19 06:34] nitramavfank opened #55119 "Variable ComputeEmulatorRunning not initialized"
The script RunTLSSettings.cmd is using the variable ComputeEmulatorRunning. But this variable is never initialized. It needs to be initialized via the service definition file as in this example:

https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-startup-tasks#environment-variables

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-05-19 06:35] jahmai opened #55120 "Emulator vs Service: CosmosDB key length difference"
According to the docs, the max key length for Cosmos is 1023 characters. However, in the emulator (v2.9.2), it's only 254 characters.

It may be the emulator needs updating, but if not, this should be listed as a difference between the emulator and the service.

(Even better, they should both support the same key length!)

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-05-19 06:35] Strandfelt commented on #50358
Any updates, @yoelhor?

[2020-05-19 06:38] amitsingh90 opened #55121 "Self hosted IR taking hug amount of time when running the query for first time in a day"
Its takes around 1.3 hours to execute a query but in subsequent runs it takes only 2-3 mins to execute the same query. Why so?

IR and SQL server are on different machines.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32785d15-8202-6e44-f1d2-420ef0600f3f
* Version Independent ID: 3af5fa49-7bd4-18ce-f8dc-aa4a2b8c6478

[2020-05-19 06:41] pnarsi opened #55122 "Use Azure AD Token instead of Personal Token for SCIM Provisioning"
The Databricks REST API now supports Azure AD Token based authentication as a public preview feature. Can we setup a Service Principal and use that for this integration rather than using Databricks Personal Tokens?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f6960e6-1a0c-267f-4ec4-2ff7574b1f09
* Version Independent

[2020-05-19 06:41] poonamnimje01 commented on #54731
@CHEEKATLAPRADEEP-MSFT  - this is not yet resolve. I checked the activity log as per suggested above. So, one of the User which was created by Azure Devops while authorizing the Resource group in CI//CD. That particular user added into that subscription and inherited to all the resource including databricks. The CI/CD is for databricks deployment and where we authorize the resource group and same

[2020-05-19 06:43] EsaFazal72 commented on #54915
@Karishma-Tiwari-MSFT Thank you so much for the clarification. So in conclusion, I cannot use GPU resources in the virtual-node since I have a virtual network created. Therefore, the solution is to create an AKS cluster with a VM that supports GPU (example: NC6 VM)?

[2020-05-19 06:52] marcosflobo commented on #50105
@jwcw I have the same issue. In my case, there some images, which are in the ACR for long time but new tags, that can be pulled. There are other, which are recently new and added into the ACR that I face the same error

[code]

[2020-05-19 07:00] VikasPullagura-MSFT commented on #55106
@chris-bowman
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-19 07:00] VikasPullagura-MSFT commented on #55106
@MikeRayMSFT
Can you please check and add your comments on this doc update request as applicable.

[2020-05-19 07:07] VikasPullagura-MSFT commented on #55118
@nitramavfank
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-19 07:08] VikasPullagura-MSFT commented on #55118
@mimckitt
Can you please check and add your comments on this doc update request as applicable.

[2020-05-19 07:10] RohitMungi-MSFT commented on #54999
@JJ11teen  The Text Analytics API uses a machine learning classification algorithm to generate a sentiment score between 0 and 1. Scores closer to 1 indicate positive sentiment, while scores closer to 0 indicate negative sentiment. Sentiment analysis is performed on the entire document, instead of individual entities in the text. This means sentiment scores are returned at a document or sentence l

[2020-05-19 07:12] KrishnaG-MSFT commented on #55115
@Mark7even Thanks for the comment!
Assigning @DCtheGeek for visibility, review and document enhancement consideration.

[2020-05-19 07:12] DixitArora-MSFT commented on #54826
@davidlyw89 Link for sample code is already given. I don't think there is a doc change required at this moment. For now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-19 07:12] #54826 closed

[2020-05-19 07:14] abdelrazak31 opened #55124 "Gff"
Gfdxcvxsdvv

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077ee673-528a-d893-5832-7656b91dbec8
* Version Independent ID: 2180e845-1ead-3b47-03be-c26aee00c6f7
* Content: [Use Remote Desktop to a Linux VM in Azure - Azure Linux Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/use-remote-de

[2020-05-19 07:17] RohitMungi-MSFT commented on #55027
@erhopf Is it possible to update the figures to be compatible with dark theme on browser? The images are not clear if user views them with a dark theme.

![image](https://user-images.githubusercontent.com/46958063/82296419-ca072500-99ce-11ea-8971-4408d4b757fa.png)

[2020-05-19 07:25] DixitArora-MSFT commented on #54787
@evilpilaf

In ARM, the below operations are still supported

- ForwardTo
- ForwardDeadLetteredMessagesTo
- EnableDeadLetteringOnFilterEvaluationExceptions

The below operations have been deprecated because they are no longer applicable

- IsAnonymousAccessible
- UserMetadata
- EnableFilteringMessagesBeforePublishing

For More details : Refer https://github.com/Azure/azure-service-bus/issues/88 an

[2020-05-19 07:25] #54787 closed

[2020-05-19 07:28] DixitArora-MSFT commented on #54896
@LockTar  I have assigned this to content author for further review and update as appropriate.

[2020-05-19 07:28] kobile70 opened #55125 "document mismatch"
https://docs.microsoft.com/en-us/azure/aks/faq#can-i-movemigrate-my-cluster-between-azure-tenants this document state that it is supported to move AKS between tenants, the troubleshooting document is outdated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55fe52d9-5526-de32-7e16-3e3207fc8aef
* Version Independent ID:

[2020-05-19 07:29] VikasPullagura-MSFT commented on #54473
@santhoshbomma9 Apologies in delayed response on this. I was checking with internal team on your ask. Below are the details from the team.
Azure service does not distinguish per region for defaults they do only per offer type.

For any subscription type (enterprise enrollment, paid external, dev/test, free trial, and so on), the setting can be discovered directly by creating a subscription and the

[2020-05-19 07:29] rohancragg commented on #55065
That explanation is more clear, yes, (and thanks for the link) but there is a separate article about using private link here: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-configure-private-link#azure-container-registry so why is private link also mentioned here? it seems redundant. The text doesn't mention that this is optional and is only required when using a Private Link - ste

[2020-05-19 07:29] VikasPullagura-MSFT commented on #54473
@santhoshbomma9
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment and we will continue the discussion.

[2020-05-19 07:29] #54473 closed

[2020-05-19 07:32] MartinManchev opened #55126 "stringCollection can't be serialized when the value is empty array."
I have a technical profile that refers to REST API. This REST API returns an array of strings as a result, but can also return an empty array. I write this array in the 'output claim' which is included in the token. When the returned result from REST API has a array with records Azure B2C manages to issue a token, but when the returned result is an empty array Azure B2C fails to issue a token and

[2020-05-19 07:34] BhargaviAnnadevara-MSFT commented on #55116
@dileep12231 Thanks for the question!

The source you are looking for is this document in actual: [Run scripts in your Windows VM](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/run-scripts-in-vm)

The REST API link leads you to this page: Virtual Machines Run Commands - [Run Command](https://docs.microsoft.com/en-us/rest/api/compute/virtual%20machines%20run%20commands/runcommand)

[2020-05-19 07:41] woutervanranst opened #55128 "SLA for Azure SQL Database does not list 99,99%"
You refer to the "SLA for Azure SQL Database" page - but it does not list the 99,99% SLA for two or more replicas (only 99,95 for one replica)

"What SLAs are provided for a Hyperscale database
See SLA for Azure SQL Database. Additional secondary compute replicas increase availability, up to 99.99% for a database with two or more secondary compute replicas."

---
#### Document Details

⚠ *Do not e

[2020-05-19 07:47] dileep12231 commented on #55116
I already visited this link but there are no examples such as how we can execute a local powershell script using api. If you can provide some sample that would be helpful

[2020-05-19 07:47] aledeniz opened #55129 "Active Directory authentication and authorization support for Azure Files has been released"
- The relevant Azure service or technology: **Azure Files**
-  A link to the published documentation article that you have feedback about:
1.  Published: [Use an Azure file share with Windows](https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-use-files-windows)
2.  Source: [Use an Azure file share with Windows](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/stor

[2020-05-19 07:48] genesisemmloh commented on #55082
on the assosiation of the custom Domain, the images shows endpoint name as cdndocdemo1.

[2020-05-19 07:49] VikasPullagura-MSFT commented on #55119
@nitramavfank
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-19 07:49] VikasPullagura-MSFT commented on #55119
@mimckitt
Can you please check and add your comments on this doc update request as applicable.

[2020-05-19 07:51] VikasPullagura-MSFT commented on #55125
@kobile70
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-19 07:51] VikasPullagura-MSFT commented on #55125
@sauryadas
Can you please check and add your comments on this doc update request as applicable.

[2020-05-19 07:53] Sahil-13 opened #55130 "Quite few typographical errors and confusing terms."
First of all, the article has too many "The you" , like here .. https://docs.microsoft.com/en-in/azure/expressroute/expressroute-for-cloud-solution-providers#connect-through-model-1

Now this particular paragraph is confusing -

"In the connect-through model, the CSP creates a direct connection between your datacenter and your customer’s Azure subscription. The direct connection is made using Expr

[2020-05-19 07:53] BhargaviAnnadevara-MSFT commented on #55111
@SeaDude Thanks for the feedback. It is true that the tutorials and quickstarts for Azure App Configuration do not quote any Python examples.

However, the [landing page](https://docs.microsoft.com/en-us/azure/azure-app-configuration/) for Azure App Configuration does list the reference for Azure SDK for Python. Additional details about the Azure App Configuration client library for Python can be

[2020-05-19 07:57] Prabhakar96-dev opened #55131 "Azure API Management: OAuth2 authorization between the gateway and a backend"
Here I'm trying to  obtain an access token from AAD and forward it to the backend. This is the reference document  [https://docs.microsoft.com/en-us/azure/api-management/policies/use-oauth2-for-authorization?toc=api-management/toc.json](url). By using this reference I'm able to get access token, but it's contains the **roles**  .

1.  API-1 registered with Azure AD
2. Web Client Application  regis

[2020-05-19 07:57] ezYakaEagle442 commented on #51672
@VikasPullagura-MSFT , this changes the Implemenation experience :

1. Without Managed Indentities, we
  2. create first the Service Principal, assign acrpull role to the SP , create ACR and attach ACR during AKS creation
3. - With Managed Identities : We first create AKS with --enable-managed-identity , gets the Identity created after cluster creation, create ACR , assign acrpull role to the AKS

[2020-05-19 08:00] ChiragMishra-MSFT commented on #54587
@Nagarc Since we havent heard back from you in quite some time, I am closing this issue. Please feel free to raise a support ticket for the issue. If you dont have a support plan, please send an email to AzCommunity@Microsoft.com with the below details, so that we can create a one-time-free support ticket for you to work closely on this matter.

Thread URL: #54587
Subscription ID: "your subscripti

[2020-05-19 08:00] #54587 closed

[2020-05-19 08:00] aihaslett commented on #54805
Great, thanks for the explanation, much appreciated.

From: Mladen Andzic (Msft) [mailto:notifications@github.com]
Sent: Tuesday, 19 May 2020 10:51 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: aihaslett <alistair.haslett@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Azure SQL Database Managed Instance (#54805)

@aihaslett<https://git

[2020-05-19 08:01] ishepherd commented on #42878
In Oct 2019, @mattchenderson [said (twitter):](https://twitter.com/mattchenderson/status/1186672353704431616?s=20)

How did that turn out Matt?

[2020-05-19 08:01] ChiragMishra-MSFT commented on #54626
@normesta Can you please see if we can update the doc as appropriate?

[2020-05-19 08:02] aggerritsen opened #55132 "PING to network devices"
Hi,

What would be the best approach to monitor network devices? I would like to monitorign the presence and RTT of BGP Peer IP's and Azure Firewall IP's using simple PING.

Kind regards, Arjen

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bf662d1-53fb-f651-ee67-6e174836d739
* Version Independent ID: 67782b9a-1dd5-ac

[2020-05-19 08:03] RohitMungi-MSFT commented on #55031
@dubbySwords What is the version of SDK being used? This [property ](https://docs.microsoft.com/en-us/dotnet/api/microsoft.cognitiveservices.speech.propertyid?view=azure-dotnet)should be available since 1.4.0

If it throws an error you can raise a [bug](https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues) in our speech services SDK repo.

[2020-05-19 08:06] gintrona opened #55133 "Model versions are char strings"
model_version_info.version is a string in
&gt; new_model_version = max([model_version_info.version for model_version_info in model_version_infos])
In this case, for example,  max(['8', '9', '10', '11', '12']) returns 9
You should use
&gt; new_model_version = max([int(model_version_info.version) for model_version_info in model_version_infos]) (tested on Python 3.6.2)

---
#### Document Details

⚠ *

[2020-05-19 08:10] SumanthMarigowda-MSFT commented on #54977
@heresabya Thank you for letting us know the solution that worked for you and sharing the steps with the Community.

[2020-05-19 08:10] #54977 closed

[2020-05-19 08:12] glenr4 opened #55134 "Understanding versioning and soft delete"
Hi,
I am looking at creating a file management system, where new versions can be added but not deleted. I want to retain the files and their previous versions essentially forever. Will blob storage versioning do this or are the previous versions considered as 'soft deleted' and therefore be deleted after the soft delete retention period expires?

Thanks.

---
#### Document Details

⚠ *Do not edit

[2020-05-19 08:21] SumanthMarigowda-MSFT commented on #55104
@WyattBest Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-19 08:23] SumanthMarigowda-MSFT commented on #55105
@VisImage May I know what exactly are you trying to perform (Can you bit elaborate more on the issue)?

[2020-05-19 08:23] msftnadavbh opened #55135 "Private Cluster document does not create a private cluster but a public one."
The command - apiServer=$(az aro show -g $RESOURCEGROUP -n $CLUSTER --query apiserverProfile.url -o tsv)
Returns a public IP and not a private one.
The az aro create is missing the trigger   --apiserver-visibility Private which makes the apiserver private.
The current document does not achieve the ask for our customers.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-05-19 08:36] SnehaAgrawal-MSFT commented on #55112
@gregdegruy Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-19 08:36] ncagney commented on #55043
Thank you. I get the error after using the link sent to me, then choosing a username and password, then I am sent the verification code, after I enter the verification code is when the error code happens
![Screenshot 2020-05-19 at 09 33 16](https://user-images.githubusercontent.com/65536110/82304177-e34ea800-99b3-11ea-85ef-f27d871f64b8.png)

[2020-05-19 08:40] tvkit opened #55136 "JSON case sensitivity"
The following will not work:

   --query addonProfiles.httpApplicationRouting.config.HTTPApplicationRoutingZoneName

when the corresponding object name is flattened:    ( httpapplicationrouting )

{
  "aadProfile": null,
  "addonProfiles": {
    "httpapplicationrouting": {
      "config": {
        "HTTPApplicationRoutingZoneName":

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-05-19 08:41] tvkit commented on #55136
And what century will we get formatting capabilities?

[2020-05-19 08:54] aggerritsen commented on #55132
Hi again,

I was to swift with my quesion. I found out that BGP Peer IP's are reachable on port 179 en therefore we can Manually Specify IP address and port, which works fine. However for Azure Firewall, which replies to PING, I cannot determine an appropriate (telnet) port.

Please advise.

[2020-05-19 09:00] #55048 closed

[2020-05-19 09:03] KosukeHosoda opened #55137 "the FQDNs to allow the necessary traffic for WVD"
the below document regarding WVD has a description about the necessary traffic to allow.
https://docs.microsoft.com/en-us//azure/virtual-desktop/overview#requirements
![image](https://user-images.githubusercontent.com/46177050/82307247-0b152e80-99fb-11ea-950a-52675f9ab801.png)

And the doc has more FQDNs than the ones on this page. Could you confirm the exact FQDNs to allow?

---
#### Document Det

[2020-05-19 09:06] mcalnd70 commented on #41917
This feature really does need a LATEST VERSION of a secret to be useful here. Hard-coding secret version numbers is doomed to failure

[2020-05-19 09:10] VikasPullagura-MSFT commented on #55124
@abdelrazak31 Thanks for opening a GitHub Issue.
Can you please elaborate more on the feedback you provided for this document.
I see random text for both Question heading and body, were you testing something. If so, we will close this.

[2020-05-19 09:12] GiriB opened #55138 "RenewLock API missing?"
I couldn't find any API in the ruby sdk to renew or extend the lock for a given message.  In C# it is [this](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.servicebus.core.messagereceiver.renewlockasync?view=azure-dotnet).

Also, is there any support for a [AutoRenewTimeout property](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.onmessageoptions.autorenewt

[2020-05-19 09:21] DixitArora-MSFT commented on #55131
@Prabhakar96-dev This channel is for driving improvements towards MS Docs, for any product related question/issue I would recommend you to create a thread on the forums- MSDN / Stackoverflow. Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2020-05-19 09:22] DixitArora-MSFT commented on #55138
@axisc  Appreciate your inputs in this.

[2020-05-19 09:25] VikasPullagura-MSFT commented on #55135
@msftnadavbh
Thanks for the feedback! We are working on the document update and will get back on this.

[2020-05-19 09:28] VikasPullagura-MSFT commented on #55136
@tvkit
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-19 09:28] VikasPullagura-MSFT commented on #55136
@lachie83
Can you please check and add your comments on this doc update request as applicable.

[2020-05-19 09:30] aks1994 opened #55139 "Changing to GRS for existing server - any plans for the future?"
I have a Azure DB for MySQL in central india. Central India suffered a major outage yesterday and my service was unavailable. Unfortunately, at the time of creation of my server, I did not configure it for GRS backups. But now with the realisation of the potential downtime, I would prefer to convert it to GRS. Does Microsoft have any plans to allow this without requiring a manual mysqldump and res

[2020-05-19 09:33] Prabhakar96-dev commented on #55131
Thank you, @DixitArora-MSFT . As per the document I used https://login.microsoftonline.com/TENANT-GUID/oauth2/token to get access toke. But to get roles along with the token we should use https://login.microsoftonline.com/TENANT-GUID/oauth2/v2.0/token.

[2020-05-19 09:38] RanadheerKotha opened #55140 "Power Bi Spark Connector."
I'm unable to preview data of external tables of databricks. Underlying files are in my adls.

Could please help me out in this?

[2020-05-19 09:39] yellow456434 commented on #54362
@AbelHu thank you.
Another question.
I didn't seen set the --windows-admin-password and --windows-admin-username place on the azure portal.
dose it only can create by cli-cmd way ?

[2020-05-19 09:44] haymansfield commented on #51353
@SubhashVasarapu-MSFT

Just a quick enquiry as to whether there is any update on this issue?

[2020-05-19 09:53] rockboyfor opened #55141 "Expected network bandwidth (Mbps) Information about NCv3-series VM."
Our customers would like to review their business based on the Expected network bandwidth (Mbps) for NCv3-series VMs. and we can not find it in the matrix. Could you please help to check the information about Expected network bandwidth(NCv3-series) and update it if possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-05-19 09:57] AshokPeddakotla-MSFT commented on #55109
@rgamage Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-19 10:06] VikasPullagura-MSFT commented on #54840
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion. :)

[2020-05-19 10:06] #54840 closed

[2020-05-19 10:07] VikasPullagura-MSFT commented on #55141
@rockboyfor
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-19 10:08] VikasPullagura-MSFT commented on #55141
@vikancha
Can you please check and add your comments on this doc update request as applicable.

[2020-05-19 10:13] vipulsparsh commented on #54480
@cananac This still seems to be a oncoming feature where you can use that API to check for enablement option for key vault, Storage does have this in UI and uses that API _(https://management.azure.com//subscriptions/subscriptionID/resourceGroups/RgName/providers/Microsoft.Storage/storageAccounts/AccountName/providers/Microsoft.Security/advancedThreatProtectionSettings/current?api-version=2019-01-

[2020-05-19 10:23] jenkins540 opened #55142 "VM Size From All Subscriptions"
It would be great if we can get the VM Size in the same report!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58bd8c70-b4dd-774d-7cf7-342b15399cb4
* Version Independent ID: c9da22ae-6382-92e9-5251-4d93454e5393
* Content: [Collect details about all VMs in a subscription with PowerShell](https://docs.microsoft.com/en-us

[2020-05-19 10:28] AbelHu commented on #54362
Yes. You only can set them by azure-cli

Best Regards,
Abel Hu
________________________________
发件人: yellow456434 <notifications@github.com>
发送时间: Tuesday, May 19, 2020 5:39:57 PM
收件人: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
抄送: Abel Hu <Chou.Hu@microsoft.com>; Mention <mention@noreply.github.com>
主题: Re: [MicrosoftDocs/azure-docs] add nodepool have error (#54362)

@AbelHu<https:/

[2020-05-19 10:32] juho-hanhimaki opened #55143 "Clarify Lsv2-series Ephemeral OS disk support"
Per Lsv2-series [documentation](https://docs.microsoft.com/en-us/azure/virtual-machines/lsv2-series) the series supports Ephemeral OS disk.

In this document Lsv2 is not listed as supported VM series for Ephemeral OS disk. Which one is correct?

When using Azure Portal to create Lsv2 VM with [smalldisk] OS image I am unable to enable the Use ephemeral OS disk option. This conflicts with the Lsv2-s

[2020-05-19 10:34] SubhashVasarapu-MSFT commented on #55137
@KosukeHosoda , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-05-19 10:35] SubhashVasarapu-MSFT commented on #55132
@aggerritsen , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-05-19 10:37] ChiragMishra-MSFT commented on #55133
@gintrona Thanks for the feedback. I have assigned the issue to the content owner to evaluate and update as appropriate.

@mamccrea Can you please take a look at this?

[2020-05-19 10:40] SubhashVasarapu-MSFT commented on #54485
@atrauzzi , Assigned this to the content author for providing better insights.

[2020-05-19 10:42] cananac commented on #54480
Thanks @vipulsparsh . Can you confirm that until this UI is available, we can rely on enabling Standard pricing tier on ASC enables ATP for Key Vaults?

[2020-05-19 10:47] alfredoniw220 opened #55144 "AADSTS50194: Application is not configured as a multi-tenant application. Usage of the /common endpoint is not supported for such applications created after '10/15/2018'. Use a tenant-specific endpoint or configure the application to be multi-tenant."
AADSTS50194: Application  is not configured as a multi-tenant application. Usage of the /common endpoint is not supported for such applications created after '10/15/2018'. Use a tenant-specific endpoint or configure the application to be multi-tenant.

Saludos alguien podria Echarme una mano. aun no tengo claro como resolver el probelma gracias.

---
#### Document Details

⚠ *Do not edit this sect

[2020-05-19 10:49] alsanma commented on #16150
Is there a chance to add "sub" claim in the access token in ADFS as Azure AD does?

[2020-05-19 10:54] edufolios-matt opened #55145 "Exporting a zone file - No resourcegroup?"
I'm trying to execute this example...

`az network dns zone export -g myresourcegroup -n contoso.com -f contoso.com.txt`

...with my own domain (so I can get an export of the dns records), yet there is no "resource group" in my resources list for the tenant in the azure portal. How can I export my zone file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-05-19 10:55] vipulsparsh commented on #54480
@cananac  , As of now I do not have any ETA on this, hopefully this should be available soon. I will keep an eye on this and update this thread when I have something. Apologies for delay in replying though.  Going forward will mark this thread as closed and update when I have further updates.

[2020-05-19 10:58] higoorc commented on #34451
+1 here.

Running Azure Web App on Linux for a NodeJS application and facing the same issue.

[2020-05-19 11:04] yellow456434 commented on #54362
Ok I know.
Thank You All

[2020-05-19 11:09] kansenchu commented on #53059
We're also facing this problem on our end. To compound the problem, the services with FQDNs that require UDP and TCP connections periodically change their IP addresses, which broke our service. If we could just get a static IP address to connect to those FQDNs I believe the problem could be solved.

[2020-05-19 11:10] KalyanChanumolu-MSFT commented on #55081
@josh-endries Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-05-19 11:11] CHEEKATLAPRADEEP-MSFT commented on #55117
@yuharucan  Thanks for the question! We are investigating and will update you shortly.

[2020-05-19 11:12] KalyanChanumolu-MSFT commented on #55108
@ruowan Thank you for the positive feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-05-19 11:29] rquintino opened #55146 "guidance on multiple projects? single vs multiple workspaces?"
Hi team! regarding common scenarios like: same team but unrelated projects, or multiple teams and unrelated projects.
Is there any best practice guidance on workspace setup?
Should a team create **a workspace for each** unrelated project?
I'm tempted to say yes on multiple workspaces, but not completely clear on the implications, pricing, duplicated resources.

thanks!

---
#### Document Details

[2020-05-19 11:33] CHEEKATLAPRADEEP-MSFT commented on #55122
@pnarsi  Thanks for the question! We are investigating and will update you shortly.

[2020-05-19 11:33] butlerjon commented on #27331
This apparent contradiction in this page's text still needs clarification, I think. We say this requires AAD P1 or O365 E3 at a minimum, but then go on to say "all Microsoft cloud services that require user-level licensing is supported, including all Office 365 products."

We need to be more explicit about how, exactly, "all Office 365 products" are supported. This will indeed work with other lice

[2020-05-19 11:34] ChiragMishra-MSFT commented on #55121
@amitsingh90 Thanks for the feedback. Is this a recurring behavior that you observed or was it just a one time thing?

[2020-05-19 11:35] ChiragMishra-MSFT commented on #55114
@pnarsi Thanks for the feedback. I am assigning this to the content owner to review and update as appropriate.

[2020-05-19 11:35] ChiragMishra-MSFT commented on #55114
@nabhishek Can you please take a look at this?

[2020-05-19 11:53] NoamWe commented on #11101
Any update on this?

[2020-05-19 12:04] edufolios-matt commented on #55145
I should note that this is for a domain within Office365 that is verified within Azure.

[2020-05-19 12:05] ChiragMishra-MSFT commented on #55016
@CawaMS I can confirm this behavior. Is it expected? Can you please take a look at this?

[2020-05-19 12:05] pfroide commented on #16837
Hi. I've exactly same problem here. Can you help me ? Thanks.

[2020-05-19 12:07] VikasPullagura-MSFT commented on #55143
@juho-hanhimaki
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-19 12:07] VikasPullagura-MSFT commented on #55143
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2020-05-19 12:09] VikasPullagura-MSFT commented on #55142
@jenkins540
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-19 12:09] VikasPullagura-MSFT commented on #55142
@v-miegge
Can you please check and add your comments on this doc update request as applicable.

[2020-05-19 12:25] Bunzab opened #55147 "ARM Samples"
ARM template samples for enabling diagnostic logging would be very useful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5f080ad-843f-d7be-eba6-2837993d052b
* Version Independent ID: b6f75acf-e3ed-f6c3-a29e-8f440eb0a9dd
* Content: [Back-end health and diagnostic logs - Azure Application Gateway](https://docs.microsof

[2020-05-19 12:34] FirstInternetUser commented on #12407
@szarkos Bingo! This was it for my issue. Trying to apply cis framework and disabling some of the mounting capabilities was causing this error when trying to spin up a VM from my image.

[2020-05-19 12:36] BhargaviAnnadevara-MSFT commented on #55116
@dileep12231 Sure, you can execute the [Run Command API](https://docs.microsoft.com/en-us/rest/api/compute/virtual%20machines%20run%20commands/runcommand) for the desired VM from the **Try It** feature on the page or from Postman as follows:

**Request URI:**
POST https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachi

[2020-05-19 12:39] dgcaron opened #55148 "the script for downloading the MNIST dataset appears to be off"
the script that is included in the docs appears to be missing some vital parts to make it work. after i added the things between --> <-- below, the images were downloaded succesfully on an ubuntu dsvm

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bee4b9a-ce0f-f98b-3160-d6c4a40ef3ac
* Version Independent ID: a0

[2020-05-19 12:42] JohnMoor opened #55149 "Abilities of User Administrator assigned to AU"
Hi, Can you please confirm that as described in this page that a assigned User Administrator to a Administrative Unit can manage all user aspects including deleting of users in its respective AU?

"Can manage all aspects of users and groups, including resetting passwords for limited admins within the assigned administrative unit only."

I do see the option to delete a user but receive the error:

[2020-05-19 12:45] ZMon3y opened #55150 "repository link dead"
https://github.com/Azure/azure-synapse-analytics/tree/master/samples

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cd443b5-c0b0-0506-09ea-e8776b924819
* Version Independent ID: 466a89e7-0271-35df-1407-653484659643
* Content: [FAQ - Azure Synapse Analytics - Azure Synapse Analytics](https://docs.microsoft.com/en-us/az

[2020-05-19 12:51] RickB-2840 commented on #53059
Kansenchu, may I ask when you saw the IPs change? I'm wondering what triggers it. Last week we applied Terraform changes to an environment with three AKS clusters in it, and two of the three API endpoint IPs changed. Was your IP change correlated with anything?

[2020-05-19 13:00] SAIMMINHAS opened #55151 "Can't see the default IIS page."
Under 'Recover a file', it says 'Open a browser and connect to the IP address of the VM to show the default IIS page.'

I'm trying it but it's not opening the 'default IIS page'. My VM is 2016 Data Center. Not sure what other steps i need to do in order to achieve it.

Thanks.

[2020-05-19 13:04] SafwanHussain commented on #54922
Hi @timsander1 ,

Default index result :
RUs : 155.51 , Retrieved Doc Count : 0

Custom index result:
RUs : 14476.444 , Retrieved Doc Count : 142556 bytes

is there any specific reason it's loading unnecessary documents?

I have also changed the Indexing policy to :

{ "indexingMode": "consistent", "automatic": true, "includedPaths": [ { "path": "/*" } ], "excludedPaths": [ { "path": "/la/?" }, {

[2020-05-19 13:05] ram-msft commented on #54788
@jjacks We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-19 13:05] #54788 closed

[2020-05-19 13:06] rogihee opened #55152 "Missing SQL Server parameters limit notice"
"For &lt; 100 rows, use a single parameterized INSERT command."

A thing to take into account is that SQL Server has a parameters limit of 2100. So if you have a table of 22 columns and are inserting 99 rows, you hit the SQL limit when adhering to this guide.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ecfcc77-1098

[2020-05-19 13:09] DCtheGeek commented on #55115
@Mark7even Thanks for spotting this!  I thought I corrected them all, but clearly missed one.  I'll get this corrected and add a Pattern for Tags as part of the update.  When it merges, this issue will automatically be closed.  Thanks for the feedback and pointing this out!

@MicrosoftDocs/azure-cxp-triage #in-progress

[2020-05-19 13:16] SubhashVasarapu-MSFT commented on #55147
@Bunzab , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-05-19 13:20] artisticcheese opened #55153 "Please add Azure Powershell on-demand evaluation scan snippet"
To trigger on-demand evaluation scan one has to open cloud shell and execute `Invoke-AzureRmResourceAction -ResourceType Microsoft.PolicyInsights/policyStates -Action triggerEvaluation -ResourceName latest -ApiVersion 2018-07-01-preview`. There is no need to mess around with any sort of setup additional plumbing to make it happen. Based on current instructions it's very complex and long journey to

[2020-05-19 13:22] SubhashVasarapu-MSFT commented on #54545
Duplicate of #54544

[2020-05-19 13:22] #54545 closed

[2020-05-19 13:26] DCtheGeek commented on #55153
#assign:DCtheGeek

[2020-05-19 13:26] DCtheGeek commented on #55153
@artisticcheese Thanks for the feedback.  While the on-demand evaluation could be done that way, the reason for showing it in REST API is to make it accessible to everyone, not just those using PowerShell.

If you want to do it in PowerShell, there's an even easier way now, with `Start-AzPolicyComplianceScan`.  The cmdlet is in [reference docs](http://docs.microsoft.com/powershell/module/az.policy

[2020-05-19 13:26] rgamage opened #55154 "Incorrect terminology"
This quote, "For a device to function as a gateway, it needs to be able to securely connect to its downstream devices." causes a lot of confusion for developers new to this environment (your target audience).  When you are discussing authentication and security and certifications, it's extremely important to be clear about who is connecting to whom, and the difference between client and server.  T

[2020-05-19 13:27] MonikaReddy-MSFT commented on #54738
@cweining - Thank you for providing your insights.
@ADringer - I hope @cweining answered your question. He will also provide more info on the memory dump of a Linux app.
At this moment, since there are no doc updates, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen

[2020-05-19 13:30] MonikaReddy-MSFT commented on #54639
@rishabjolly - Thank you for providing your insights.
@lgmorand - I hope @rishabjolly has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-19 13:30] #54639 closed

[2020-05-19 13:30] accenture-eso opened #55155 "Why does this seem to work for some apps and not others?"
My company is piloting this right now and has run into an issue where in some cases the device authentication flow gets invoked and in some cases it doesn't. The pattern looks like it might be related to the authentication protocol that the app uses with OIDC flows looking like they are supported and SAML and WS-Fed apps look like they are not. However, we aren't clear if we've diagnosed this corr

[2020-05-19 13:32] rgamage opened #55156 "Missing steps"
This quote, "The following steps walk you through the process of creating the certificates and installing them in the right places on the gateway." is just not true.  This article stops after opening the protocol ports.  In fact, installing the certs in the right places is the key part that is missing from this and other related articles.  We need to know exactly how to install these certs onto th

[2020-05-19 13:35] dimitri-furman commented on #55128
Please refer to the previous paragraph in the SLA:

Azure SQL Database Business Critical or Premium tiers not configured for Zone Redundant Deployments, General Purpose, Standard, or Basic tiers, or **Hyperscale** tier with two or more replicas have an availability guarantee of at least **99.99%**.

[2020-05-19 13:35] rgamage opened #55157 "Incorrect requirements"
This quote, "The gateway device needs to be able to securely connect to downstream devices" is incorrect.  The gateway device does NOT need to connect to the device.  The device needs to be able to connect to the gateway.  It's important to get this right. If this is not clear, users will try to install the certs in the wrong place, for the inverted client/server scenario.

---
#### Document Detai

[2020-05-19 13:39] jesselve opened #55158 "A list of issues encountered with this tutorial"
1. Assuming a bash shell.  This tutorial builds directly on prior tutorials which do not assume a bash shell.  Providing PowerShell or cmd alternatives would be helpful.

2. "Test function app locally" fails with the following error:
[code]

Also, this tutorial provides the following directions: "As shown in the PowerShell quickstart, insert a local breakpoint in the PowerShell script and a Wait-D

[2020-05-19 13:42] rgamage opened #55159 "Confusing instructions on moving cert files"
This quote, "If you used the scripts provided .... You can use a service like Azure Key Vault or a function like Secure copy protocol to move the certificate file." is confusing.  The instructions for using the scripts to create the certificates has no step in which the certificates are installed on the Edge device's certificate store.  They are just created and sitting in the WRKDIR directory, th

[2020-05-19 13:44] SumanthMarigowda-MSFT commented on #55120
@jahmai Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-19 13:45] SumanthMarigowda-MSFT commented on #55126
Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2020-05-19 13:48] SumanthMarigowda-MSFT commented on #55129
@aledeniz Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-19 13:59] mayurigupta13 commented on #54686
We add the update notification in the release notes and also update the Deployment Planner history article here : https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-deployment-planner-history

[2020-05-19 14:00] gauravcitrix opened #55160 "Why server is down"
@# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page creat

[2020-05-19 14:04] tamram commented on #55134
@glenr4 - You can use blob versioning for your scenario. A version is only soft-deleted if you explicitly delete it. If you don't delete it, it will be preserved.

If you do delete a version and soft delete is also enabled, then the version will be soft-deleted, meaning that you can recover it during the soft delete retention period. It isn't permanently deleted until that retention interval has p

[2020-05-19 14:06] amitsingh90 commented on #55121
Hi. I am tracking this since past 4-5 days and, i am seeing the same behavior.

[2020-05-19 14:06] pmozbert opened #55161 "missing information on private link"
This page neglects the fact that connections are also possible through private link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07adfd46-7af7-5966-a3de-d67623f6c642
* Version Independent ID: a638d2d6-5be0-7e40-70ea-dc2a3f65e649
* Content: [Connectivity architecture - Azure Database for PostgreSQL - Single Server](h

[2020-05-19 14:08] SubhashVasarapu-MSFT commented on #54544
@devvrr , Appreciate your patience. The creation of rule in the document states the inbound connectivity. Private Link creates an endpoint with a private IP, your traffic is flowing solely inside your virtual network and does not require NSG rules allowing outbound traffic beyond your virtual network, unlike service endpoints.
We are closing this issue for now. If there are further questions regar

[2020-05-19 14:08] #54544 closed

[2020-05-19 14:11] bashscr commented on #40523
It looks like you are able to select Management Groups and Subscriptions as the Scope now. Can anyone confirm work is being done for the MS-AZR-0145P offer? Thanks! @bandersmsft

[2020-05-19 14:14] tjrobinson opened #55162 "What causes rows to be skipped and how can the logs be viewed?"
I am using Azure Data Factory to migrate many millions of rows from a storage account in one Azure region to another. This is working fine, except for some rows which are being skipped - this is shown in the activity run details. I have enabled logging to blob storage and can see a $logs container being generated, but it is empty.

How can I find out what is causing some rows to be skipped? Why ar

[2020-05-19 14:15] ezYakaEagle442 commented on #54634
@VikasPullagura-MSFT indeed I understand now the original link https://azuremarketplace.microsoft.com/marketplace/apps/pivotal.pivotal-cloud-foundry redirects to the URL including the local , in your case it works as you have been sucessfully been redirected with your local **en-US** to [https://azuremarketplace.microsoft.com/en-us/marketplace/apps/pivotal.pivotal-cloud-foundry](https://azuremarke

[2020-05-19 14:19] VikasPullagura-MSFT commented on #54634
@ishasahni1 Can you please check and add your comments on this localization issue.

[2020-05-19 14:24] rgamage opened #55163 "Inconsistent file path format"
On this page it recommends an example file path for the certs, in the config.yaml, like "C:/x/y/z.pem" but in the actual config.yaml file on my edge device, I see these comments:
# Note:
# The values of all of these fields must be specified as a
# "file" scheme URI such as "file:///path/cert_key.pem"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-05-19 14:25] SumanthMarigowda-MSFT commented on #55130
@Sahil-13 Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-19 14:26] dgcaron commented on #55148
you only get this when you individually want to run the code that's on the page. when you run the entire notebook, it works as expected

[2020-05-19 14:26] #55148 closed

[2020-05-19 14:27] rgamage commented on #55163
Sorry, my quote from this article's format should have been "c:\\<path>\\device-ca.cert.pem"

[2020-05-19 14:27] sizzler-5g commented on #51628
I've been confused as well, I was somehow using Azure.Storage V11 mixed with V12 (don't ask why or how...)
To generate sas with V12
You need Azure.Storage and Azure.Storage.Sas to manage this.
Quick and dirty:

var sskc= new StorageSharedKeyCredential("storageAccountName",conf.GetSection("AccountKey").Value);
            BlobSasBuilder bsb = new BlobSasBuilder();
            bsb.BlobContainerName

[2020-05-19 14:27] SumanthMarigowda-MSFT commented on #55139
@aks1994 Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-19 14:28] awentzel opened #55164 "Where can we find how to create with Azure CLI?"
"Enable monitoring with Azure CLI" would be useful to know, and if it exists linking to it.  Thx

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 098ffe3a-2cbd-1038-30f2-dd2f528984a3
* Version Independent ID: 65da3e70-2ac2-8f6e-51a5-e759bcc8253f
* Content: [Monitor Azure app services performance - Azure Monitor](https://

[2020-05-19 14:28] SumanthMarigowda-MSFT commented on #55140
@RanadheerKotha Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2020-05-19 14:29] markjbrown commented on #55108
Yes, this is correct. In our case a global majority is every region has committed the write.

Our replica set is composed of four replicas. So local majority is 3 replicas. Local minority is 2 replicas.

Glad you enjoy our docs. and hope that helps clarify.

[2020-05-19 14:30] SumanthMarigowda-MSFT commented on #55144
@alfredoniw220 Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2020-05-19 14:30] SumanthMarigowda-MSFT commented on #55145
@edufolios-matt Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2020-05-19 14:31] SumanthMarigowda-MSFT commented on #55146
@rquintino Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-19 14:33] #48169 closed

[2020-05-19 14:34] markjbrown commented on #55120
Where in our docs are you referring to this 1024 length?

[2020-05-19 14:35] FrankMcGovern opened #55165 "Events Sent"
It would be useful on this page or another page (for all first-party (Microsoft) apps)) if it stated what exactly is brought in from these connectors. Since we cannot see the query, it's hard to sometimes determine what is being brought in. For instance, with Azure Identity Protection, is it bringing in the risk detection or risky sign-in? Is it pulling the real-time or aggregate risk level?

---

[2020-05-19 14:35] KalyanChanumolu-MSFT commented on #55161
@pmozbert Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-05-19 14:38] dileep12231 commented on #55116
@BhargaviAnnadevara-MSFT
This helps. Thanks a ton!

[2020-05-19 14:38] #55116 closed

[2020-05-19 14:38] BharathNimmala-MSFT commented on #54687
@zulf-fire Apologies for delayed response on this, a closer look on the issue calls out that its not a document issue. Please try out the steps listed in the document about [connectivity issues](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/agent-windows-troubleshoot#connectivity-issues) and the TestCloudConnectivity tool and see if that helps.

As called out in the document , If n

[2020-05-19 14:38] #54687 closed

[2020-05-19 14:39] #55153 closed

[2020-05-19 14:42] GiftA-MSFT commented on #55065
@rohancragg you've mentioned valid points. Thanks for your feedback.

@aashishb please review above feedback for doc enhancement. Thanks.

[2020-05-19 14:43] MonikaReddy-MSFT commented on #55164
@awentzel , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-05-19 14:46] rgamage opened #55166 "Incorrect page reference"
This quote, "Have the azure-iot-test-only.root.ca.cert.pem certificate file that was generated in Configure an IoT Edge device to act as a transparent gateway available on your downstream device." implies that the referenced article included instructions on generating this certificate file.  It does not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-05-19 14:46] GiftA-MSFT commented on #54855
@Arash-Sabet will proceed to close this thread. Let us know if you have any followup questions or concerns. Thanks.

[2020-05-19 14:46] #54855 closed

[2020-05-19 14:47] kummanish commented on #55161
When customer are using the private link the traffic from the private endpoint resource which is in the customers VNet still goes to the customer's database but via the gateway. That is why the proxy mode of operation is still valid.

Let me know if there are more questions.

[2020-05-19 14:48] mrbullwinkle commented on #55164
Unfortunately App Services don't have a dedicated CLI command for enabling monitoring, but in theory you should be able to do the same thing we do in the PowerShell example where you read the existing App Settings and then push an updated list of App Settings that include the values to turn on monitoring.

The documentation for reading/setting appsettings is here:
https://docs.microsoft.com/cli/az

[2020-05-19 14:53] scott-doyland-burrows opened #55167 "Incorrect operation name for network security rules"
The page lists the following operation names under the Network Security Group section, which are incorrect and cannot be assigned to a custom role:

Microsoft.Network/networkSecurityGroups/rules/read
Microsoft.Network/networkSecurityGroups/rules/write
Microsoft.Network/networkSecurityGroups/rules/delete

The operation names should be:

Microsoft.Network/networkSecurityGroups/securityRules/read
Mic

[2020-05-19 14:56] mrbullwinkle commented on #54953
Agreed, I will add a note specifically calling out InMemoryChannel and will link directly to the active issue so people don't have to go hunting around to figure out why that guidance is there. Thanks for calling this out!

[2020-05-19 14:56] GreatBarrier86 commented on #53236
I too would like to know about this. We're in the process of building our .NET infrastructure to use this and would prefer to use the latest, if available, given that MS's own Nuget site says "This library has been replaced by the following new Azure SDKs. You can read about the new Azure SDKs at https://aka.ms/azsdkvalueprop."

https://www.nuget.org/packages/Microsoft.Azure.Storage.Blob/

[2020-05-19 15:03] bmilbauer commented on #49099
Step 4 in Azure AD SSO does not include instructions for the reply URL

[2020-05-19 15:03] lukerosser opened #55168 "PATCH warehouse scaling request doesn't work"
The suggested code in this article doesn't scale a warehouse:
[code]

This returns a 200 response but no scaling occurs.

We have found a workaround:
[code]

Where capacity is equal to the number in the data warehouse tier multiplied by 9. e.g. DW100c = 900, DW200c = 1800

This isn't a great solution though. Have there been any changes to how the scaling API works?

As an aside, the python SDK doc

[2020-05-19 15:03] mddazure opened #55169 "Duplicate to previous section"
Sections on Register Peering Service and Create a Peering Service Connection are duplicate?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 694fbf84-abcd-6627-6a45-020bd723796f
* Version Independent ID: 2b68532f-5093-ec9b-c4fc-7c6a665cbbbc
* Content: [Azure Peering Service: Create ](https://docs.microsoft.com/en-us/azur

[2020-05-19 15:05] bmilbauer opened #55170 "In "Configure Azure AD SSO", there's no instructions on how to populate the reply URL."
It's a required field in the Azure portal configuration area, yet the tutorial doesn't even mention it. I'm new to SSO and this had me lost.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 156e3923-74d6-432f-c5a0-b905520d4e7d
* Version Independent ID: aeca7d10-15e2-9e42-74bc-5309a5108c05
* Content: [Tutorial: Azure Acti

[2020-05-19 15:06] qianw211 commented on #54802
@Jont-K Hi, this is supported.  Thanks!

#please-close

[2020-05-19 15:06] #54802 closed

[2020-05-19 15:09] AquinoN opened #55171 "Connector Ports Test Tool no longer valid URL"
Link to URL https://aadap-portcheck.connectorporttest.msappproxy.net/ no longer works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e46469c-0a28-5774-13d3-f2c98ee62815
* Version Independent ID: f6003fa9-a959-ac48-fd5b-4649f5dad17c
* Content: [How to open firewall ports required for an Application Proxy app](https://