[2021-12-15 14:24] GitaraniSharma-MSFT commented on #85096
@rahulksingh1994 , thank you for your response. As mentioned in [this doc](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-floating-ip#floating-ip-guest-os-configuration), the configuration of the loopback interfaces is performed within the guest OS. This configuration is not performed or managed by Azure. Hence, there is no content around it in the doc. But, let me assign this

[2021-12-15 14:32] #85309 closed

[2021-12-15 14:35] shashishailaj commented on #85322
@hemanthmatam I believe you have opened three issues for same thing . We will close this one and the other.  We will continue to work with you on #85324 .

[2021-12-15 14:36] danmyhre opened #85326 "Clarification on "Free" data"
In this section, please add clarification on which parts are free:
https://docs.microsoft.com/en-us/azure/sentinel/billing#free-data-sources

Just the sentinel analysis costs?
Log analytics ingestion costs?
Both?
Data retention past 90 days?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8bb0e76-7b39-2d7f-d8f0-d2ec1fd

[2021-12-15 14:36] #85322 closed

[2021-12-15 14:37] shashishailaj commented on #85321
@hemanthmatam Thank you for your query . I believe you have accidently opened three issues for same issue . We have closed this one and the other #85322 . We will continue to work with you on #85324 .

[2021-12-15 14:37] #85321 closed

[2021-12-15 14:47] shashishailaj commented on #85324
@hemanthmatam Thank you for your query . We will investigate and update the thread.

[2021-12-15 14:49] shashishailaj commented on #85324
@hemanthmatam This is a known issue with older Az powershell module . Could you please update the Az powershell module to v6.3.0 or above. Please check Azure/RDS-Templates#631 and Azure/azure-powershell#15841 .

[2021-12-15 14:51] shashishailaj commented on #85326
@danmyhre Thank you for your suggestions. We will engage the content team and update the thread.

[2021-12-15 15:01] SnehaAgrawal-MSFT commented on #84933
@simonkurtz-MSFT Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-12-15 15:04] #84979 closed

[2021-12-15 15:10] MonikaReddy-MSFT commented on #85072
@v-asymes - We do not send emails. Instead, we send notifications on the portal as well as recommend users to enable auto-upgrade.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-15 15:10] #85072 closed

[2021-12-15 15:10] MonikaReddy-MSFT commented on #85076
@robhalevt - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-15 15:10] #85076 closed

[2021-12-15 15:13] ggorzki opened #85327 "Data consistency verification not supported by a few more connectors"
The documentation says that:

However publishing a pipeline with Snowflake sink throws an error:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70956e0c-ddec-96a9-e1d4-d25dc54f7a28
* Version Independent ID: 385b0054-fc50-a103-0b3d-53aa3fc20e64
* Content: [Data consistency verification in copy activity - Azure Data Fact

[2021-12-15 15:15] MonikaReddy-MSFT commented on #85299
@guru-elearnings - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-12-15 15:20] mark23531 opened #85328 "Trusted Named Locations"
It is common practice for some of my customers to configure Named Locations as trusted and skip MFA verification, based on these locations. Is this way of working in line with Microsoft's Zero Trust principles and best practices? If yes, can you please explain why this is the case? I cannot determine the best practice for this point from the current article text.

---
#### Document Details

⚠ *Do

[2021-12-15 15:25] MonikaReddy-MSFT commented on #85310
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2021-12-15 15:28] MonikaReddy-MSFT commented on #85310
@theheatdk - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-15 15:28] #85310 closed

[2021-12-15 15:31] tspearconquest commented on #84844
Unfortunately those methods are network based, what we are looking to do is prevent unauthorized use of the key by insider threats.

[2021-12-15 15:31] v-hagamp commented on #84770
Document updated.
#please-close

[2021-12-15 15:31] #84770 closed

[2021-12-15 15:35] aitchj opened #85329 "MDE.Windows Extension automatically deploys to Windows Server 2022?"
Hi,

Under [What's this "MDE.Windows" / "MDE.Linux" extension running on my machine?](https://docs.microsoft.com/en-us/azure/defender-for-cloud/integration-defender-for-endpoint?tabs=windows#whats-this-mdewindows--mdelinux-extension-running-on-my-machine) you describe the OS versions into which Defender for Cloud automatically deploys those extensions. I believe the list should be extended by Wind

[2021-12-15 15:38] XcrigX commented on #44425
To echo @Tbohunek - What about Subject Alternate Names (SANs)?  Is there a way to make this work?
I don't understand these restrictions - is there a reason the App Gateway doesn't follow normal TLS protocols? Or that you can't just tell it to trust any certificate you want?  I assume many people want to use TLS for end-to-end encryption and won't have public CN names for their internal services. T

[2021-12-15 15:41] aitchj opened #85330 "What triggers the execution of MDE.Windows (or MDE.Linux respectively)?"
Hi,

I would need some clarification on the MDE.Windows extension please.

What exactly triggers the execution of the MDE.Windows extension. Is it the checkbox at 'Allow Microsoft Defender for Endpoint to access my data' as shown under [Enable the Integration](https://docs.microsoft.com/en-us/azure/defender-for-cloud/integration-defender-for-endpoint?tabs=windows#enable-the-integration)?
If that i

[2021-12-15 15:59] ezYakaEagle442 opened #85331 "Add sizing pre-req for Arc K8S agent"
Add sizing pre-req for Arc K8S agent : cpu/memory used by the Arc agent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7303f07a-d685-7309-e50c-063218131373
* Version Independent ID: 0a6c2b31-6b7e-b6c2-dd7d-df112662e75c
* Content: [Azure Arc-enabled Kubernetes frequently asked questions - Azure Arc](https://docs.microso

[2021-12-15 16:01] ezYakaEagle442 opened #85332 "Add sizing pre-req for Arc K8S agent : cpu/memory used by the Arc agent"
Add sizing pre-req for Arc K8S agent : cpu/memory used by the Arc agent

For instance there is a [sizing guidance for Arc for Data](https://docs.microsoft.com/en-us/azure/azure-arc/data/sizing-guidance)

See also [https://github.com/MicrosoftDocs/azure-docs/issues/85331](https://github.com/MicrosoftDocs/azure-docs/issues/85331)

---
#### Document Details

⚠ *Do not edit this section. It is require

[2021-12-15 16:11] spelluru commented on #84844
@tspearconquest - ok. I have passed on the feedback to our product team. Thanks

[2021-12-15 16:14] ChrisSommers commented on #85313
Here you go:

***@***.***

This shows that the VM “vmlivesapp01” has multiple secondary IP addresses:

***@***.***

Thanks
Chris

From: SadiqhAhmed-MSFT ***@***.***>
Sent: 15 December 2021 14:04
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: ChrisSommers ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] No option to add secondary IPs (Issue #85313)

@ChrisSommers<https://gi

[2021-12-15 16:20] tfitzmac commented on #85238
@vanessabruwer - thanks for this feedback. Were you using the resource provider through an API? The resource provider should get registered automatically when created through the portal. I can add clarification about using APIs.

[2021-12-15 16:25] o-l-a-v opened #85334 "MSI + Update Management = ?"
Does Update Management work if Automation Account only has Managed System Identity, no RunAs accounts? This does not seem to be answered in any of the Microsoft Docs.

General search:

* https://www.google.com/search?q=site%3Adocs.microsoft.com+%22azure%22%2B%22update+management%22%2B%22system+identity%22

Docs where it could/ should have been mentioned:

* https://docs.microsoft.com/en-us/azure/a

[2021-12-15 16:29] SnehaAgrawal-MSFT commented on #84939
@Ayanmullick Thanks, Could you please send an email to AzCommunity[at]Microsoft[dot]com referencing this thread, we would like to work closer with you on this matter.

[2021-12-15 16:32] AshokPeddakotla-MSFT commented on #85217
@fswane As mentioned by Shashi, We try to reserve these issues for feedback directly related to the tutorials: like if there are errors that block tutorial completion or if there are updates/changes required, suggestions for improvement, etc. If this is not the case I would suggest you open an issue with your question on the Edge repository or Microsoft QnA or StackOverflow forums where there is a

[2021-12-15 16:54] tkent commented on #84844
I'd like to reiterate @tspearconquest's concern about using network source location. While that can be part of a "defense in depth" strategy, even then [its pretty poor control](https://security.stackexchange.com/a/4538/92748). And, apparently, it's only available for the premium tier anyway.

That aside, @spelluru I wanted to ask two things the options you listed in connection with this issue:

-

[2021-12-15 16:59] ShaikMaheer-MSFT commented on #85301
@molotch Thank you for sharing feedback. We are actively monitoring it. We will share updates soon.

[2021-12-15 17:06] NathalieHe commented on #56444
I have exactly the same issue with you .... not sure whether it's resolved or not...... Anyone has update on the ticket?

[2021-12-15 17:07] vanessabruwer commented on #85238
This was feedback from a customer - they were using it in the portal, and it did not register automatically for them.

[2021-12-15 17:11] spelluru commented on #84844
For #1, do you mean, we could have a role like "Service Bus Key Reader", and show the key only if the user is a member of this role?

https://docs.microsoft.com/en-us/azure/service-bus-messaging/authenticate-application#azure-built-in-roles-for-azure-service-bus

For #2: without access to the namespace, nothing can be done with the queue or topic.

[2021-12-15 17:21] roygara commented on #81731
Thanks for bringing this to our attention. We've removed all the old uservoice links, so I'll close this out.

#please-close

[2021-12-15 17:21] #81731 closed

[2021-12-15 17:24] JamesTran-MSFT commented on #85328
@mark23531
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-15 17:30] curtand commented on #80467
Hi @vipulsparsh
This doesn't seem to be a "docs-experience", which as I understand it is for user issues with the docs.microsoft.com site. It's definitely product-feedback, but I think the docs-experience label obfuscates more than it clarifies. Could you remove this label? I'm attending to this request today.

[2021-12-15 17:39] GeethaThatipatri-MSFT commented on #85312
Hi @peted70, Thanks for your findings, We will investigate and update as appropriate.

[2021-12-15 17:47] crashXJ commented on #85203
Ugh.  I don't understand.  Now its there.  I guess close this request.

On Tue, Dec 14, 2021 at 5:57 PM Gitarani Sharma ***@***.***>
wrote:

[2021-12-15 17:51] chadmcox opened #85337 "remove the requirement for global admin"
can we please remove the recommendation to have global admin in order to perform this????
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 302a4cc7-6283-22ad-7de2-781099d33c59
* Version Independent ID: a4aad0d6-49c1-d284-ba12-2a72e2242430
* Content: [Add or remove group members - Azure Active Direct

[2021-12-15 17:52] chadmcox opened #85338 "remove using global administrator"
can we please remove the recommendation to have global admin in order to perform this????
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 302a4cc7-6283-22ad-7de2-781099d33c59
* Version Independent ID: a4aad0d6-49c1-d284-ba12-2a72e2242430
* Content: [Add or remove group members - Azure Active Direct

[2021-12-15 17:58] MarileeTurscak-MSFT commented on #85337
@chadmcox
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-15 17:58] MarileeTurscak-MSFT commented on #85338
@chadmcox
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-15 18:03] johndowns commented on #85310
Hi @theheatDK, you should be able to deploy any resource multiple times - even if you've deployed it before. Are you able to share an example of a Bicep definition for a role definition that doesn't redeploy correctly?

[2021-12-15 18:10] AjayKumar-MSFT commented on #85264
TLKG, Thanks for taking time to post this question and much appreciate the follow-up, sharing the solution that helped with the community. Thanks, again.

[2021-12-15 18:11] #85078 closed

[2021-12-15 18:15] theheatDK commented on #85310
Hi @johndowns
Sorry but that is not true. Have a look here:
https://github.com/Azure/bicep/issues/4023#issuecomment-946299202

I will share my Bicep when my laptop is finished updating :-)
Regards Peter

[2021-12-15 18:18] shashishailaj commented on #80467
@curtand . Thank you for looking into this. I have removed it .

[2021-12-15 18:21] theheatDK commented on #85310
Hi @johndowns

Here you go :-)

[code]

[2021-12-15 18:22] himanshusinha-msft commented on #85327
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-12-15 18:25] MarileeTurscak-MSFT commented on #85337
I'm closing this as a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/85338

[2021-12-15 18:25] #85337 closed

[2021-12-15 18:31] MarileeTurscak-MSFT commented on #85338
I made a pull request to update this since the Groups Administrator can also manage group members from the Azure Portal. https://github.com/MicrosoftDocs/azure-docs-pr/pull/182935

@ajburnle and @chadmcox feel free to review the PR.

[2021-12-15 18:31] #85338 closed

[2021-12-15 18:39] Tonewall opened #85340 "[FUNCTIONS] Add Documentation For "Creating Function Apps in an existing Resource Group Restrictions""
Public Link: https://github.com/Azure/Azure-Functions/wiki/Creating-Function-Apps-in-an-existing-Resource-Group

We need to add this above documentation to official Azure Functions Doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c4cf342-0f52-5ebb-aeb2-a1ae5a2b6133
* Version Independent ID: 7c75fc5a-df94-4254-2d85-

[2021-12-15 18:40] helderpinto opened #85341 "Instance size flexibility ratios CSV is not up to date with the Ev5 and Dv5 series"
The [Instance size flexibility ratios CSV](https://isfratio.blob.core.windows.net/isfratio/ISFRatio.csv) file was not updated after Dv5 and Ev5 series went GA. We are still seeing Internal_D*v5 and Internal_E*v5 values in the InstanceSizeFlexibilityGroup and ArmSkuName columns. These should be updated to the Standard designations, according to what is made available for the other VM sizes.

---
##

[2021-12-15 18:45] brianlehr commented on #47876
Thanks for providing feedback that helps improve our documentation.
We've added some notes to our documentation here to advise customer on whether a multi-NIC  vs multi-IP config option makes the most sense for a given usecase.
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/multiple-nics
https://docs.microsoft.com/en-us/azure/virtual-network/ip-services/virtual-network-multiple-ip

[2021-12-15 18:45] #47876 closed

[2021-12-15 18:46] dlepow commented on #83371
This feature should be visible in all regions now, so I'll proceed to close this issue. Thanks for contacting us.
#please-close

[2021-12-15 18:46] #83371 closed

[2021-12-15 18:50] dlepow commented on #83087
@mikerodionov - I clarified the wording in the Tip so that it applies to an existing API Management instance. We'll continue to refine guidance here if the underlying platform affects use of different API Management features.

Thanks for taking the time to contact us.

#please-close

[2021-12-15 18:50] #83087 closed

[2021-12-15 19:09] jimseld opened #85344 "Location of reported data is missing"
The current documentation mentions that data collected from customer deployments is "reported" to a partner (i.e. my company), but never specifies how/where the report can be obtained. Is it in the partner portal UI? If so, describe steps to retrieve/view it. And, can it be retrieved through partner portal APIs as well? If so, provide details on the endpoint and parameters.

---
#### Document Deta

[2021-12-15 19:10] TopSwagCode commented on #72019
I am facing the same issue.

[2021-12-15 19:10] TLKG commented on #85283
Update, it works at Azure on cloud, so very likely something local. Solution:

1. rebuild and output the production code
`npm run build --configuration`
2. restart the Static Web App CLI again
`swa start dist/angular-basic --api-location ap`

Suggest to add the above to [Doc](https://docs.microsoft.com/en-us/azure/static-web-apps/add-api?tabs=angular) as `npm run build` is not `ng serve` who auto-

[2021-12-15 19:10] #85283 closed

[2021-12-15 19:11] curtand commented on #78502
Hi @erni19
Thanks for your contribution! I updated the article based on other customer feedback before I found your issue here. The updates are all live now.

[2021-12-15 19:11] curtand commented on #78502
#please-close

[2021-12-15 19:11] #78502 closed

[2021-12-15 19:13] DarkMonkDev commented on #84834
We now have a good working solution for this with an even better proposed solution (link below). This is going to be a very common request (any website needing public pages, user profile pages and admin pages needs this). Let me know if I can help more.

https://docs.microsoft.com/en-us/answers/questions/652436/blazor-server-ad-b2c-don39t-require-authentication.html

Chad

Chad Bennett
Equipment E

[2021-12-15 19:13] #84818 closed

[2021-12-15 19:17] v-steveadams commented on #82863
Thank you again, @asbarnes, for your feedback! We made some changes to the article in response and welcome you to take another look. We'll keep this issue open for a few more days in case you have any additional comments.

[2021-12-15 19:22] tommysella opened #85345 "az webapp create requires the --runtime parameter"
I tried the example where the appservice plan is created with the --is-linux parameter.

Then the "az webapp create" does not work as outlined in the demo. However if one is specifying the runtime (--runtime) it works fine.

Best regards,
Tommy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c466945-3037-d0ae-1afb-4588

[2021-12-15 19:28] johndowns commented on #85310
@theheatDK I was able to successfully deploy these resources multiple times using your defintions.

However, I think your issue is that in the role assignment resource name. Currently you use the `subscription().id` as a seed value. But, this role assignment is scoped to a resource group, so you should use `resourceGroup().id`.

With the current implementation, you won't be able to create multiple

[2021-12-15 19:35] SatishBoddu-MSFT commented on #85315
[@andreea7c3](https://github.com/andreea7c3)
Our SME will review this issue and get back soon.

[2021-12-15 19:35] johndowns commented on #85192
@rouke-broersma Thanks for the feedback! I haven't tried this with other resources in a while but last time I checked, this didn't behave consistently across resource types.

I've added this to our backlog of topics to review and will provide further guidance in the future.

Thanks again.

#please-close

[2021-12-15 19:35] #85192 closed

[2021-12-15 19:36] SadiqhAhmed-MSFT commented on #85174
@koder101 May I know when is the last time you have used the API?

Can you please confirm you are able to connect the VM from VM Certification tool? tool # [Download Certification Test Tool for Azure Certified from Official Microsoft Download Center](https://www.microsoft.com/en-us/download/details.aspx?id=44299)

[2021-12-15 19:37] SatishBoddu-MSFT commented on #85317
[@gomateus](https://github.com/gomateus)
Our SME will review this issue and get back soon.

[2021-12-15 19:38] SatishBoddu-MSFT commented on #85323
[@roflemin](https://github.com/roflemin)
I have assigned the issue to the content author for further review.

[2021-12-15 19:39] SatishBoddu-MSFT commented on #85329
[@cloudholger](https://github.com/cloudholger)
I have assigned the issue to the content author for further review.

[2021-12-15 19:41] SatishBoddu-MSFT commented on #85330
[@cloudholger](https://github.com/cloudholger)
I have assigned the issue to the content author for further review.

[2021-12-15 19:41] dlepow commented on #83918
@HairyPorker - Thanks for your feedback, which I've logged for consideration in a future update of this article. According to our process, I'll now proceed to close this issue.

In the meantime, you might find it helpful to look at this blog post

https://techcommunity.microsoft.com/t5/azure-paas-blog/protect-api-s-using-oauth-2-0-in-apim/ba-p/2309538

which includes screenshots of the configurati

[2021-12-15 19:41] #83918 closed

[2021-12-15 19:41] deagraw commented on #84923
We have identified the bug and have it fixed locally. This is will get deployed in early January as there is a code freeze right now due to holidays.

[2021-12-15 19:43] SatishBoddu-MSFT commented on #85331
[@ezYakaEagle442](https://github.com/ezYakaEagle442)
I have assigned the issue to the content author for further review.

[2021-12-15 19:43] SadiqhAhmed-MSFT commented on #85298
@jjindrich RI should not be available for Pay-As-You-Gp on Azure Cost Management (ACM), its only available for EA and MCA.

<img width="467" alt="image" src="https://user-images.githubusercontent.com/44458118/146253932-f8edd117-6539-4377-841e-932565deb686.png">

This should give the exact answer to your question - [Understand Azure Cost Management data | Microsoft Docs](https://docs.microsoft.com/

[2021-12-15 19:44] SatishBoddu-MSFT commented on #85332
[@ezYakaEagle442](https://github.com/ezYakaEagle442)
I have assigned the issue to the content author for further review.

[2021-12-15 19:45] SatishBoddu-MSFT commented on #85334
[@o-l-a-v](https://github.com/o-l-a-v)
I have assigned the issue to the content author for further review.

[2021-12-15 19:45] SadiqhAhmed-MSFT commented on #85313
@ChrisSommers Am afraid to say, we need to debug this issue to further understand the root cause and help you with solution. That said, I highly recommend you reach out to Azure technical support team by raising a support request. The ticket enables you to work closely with the support engineers and get a quick resolution to your issue.

Here is the link - https://docs.microsoft.com/en-us/azure/az

[2021-12-15 19:51] andresu13 opened #85347 "Environmental Variable should be called SA_PASSWORD instead of MSSQL_SA_PASSWORD"
The article states that environment variable for password should be called "MSSQL_SA_PASSWORD". However, when I tried to connect to the SQL server inside the Docker container, I was getting a "Login Failed" message.

I updated the environment variable name to "SA_PASSWORD" instead and that solved the problem. I am able to connect now.

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-12-15 19:52] craigshoemaker commented on #84805
#reassign @ggailey777

[2021-12-15 19:52] dlepow commented on #81954
@Jorrit05 - From my testing this issue has been resolved and we don't need to change the documentation, so I'll proceed to close it. If you want to continue the discussion, please feel free to reopen this issue. Thank you for contacting us.
#please-close

[2021-12-15 19:52] #81954 closed

[2021-12-15 19:53] SatishBoddu-MSFT commented on #85340
@Tonewall
I have assigned the issue to the content author for further review.

[2021-12-15 20:03] theheatDK commented on #85310
Thanks @johndowns you are a lifesaver!

It works!

Regards Peter

[2021-12-15 20:06] malandles opened #85349 "Enable SSH on a custom container with OpenSSH v8.8 (App Service)"
## Problem
I believe [this section](https://docs.microsoft.com/en-us/azure/app-service/configure-custom-container?pivots=container-linux#enable-ssh) is no longer valid as the connection from Azure Portal via the web ssh tool no longer works using the configuration described in this documentation.

When accessing `https://<app-service-name>.scm.azurewebsites.net/webssh/host`, the following error ha

[2021-12-15 20:09] ssivas commented on #85304
@Ahalwagy , Thanks for reaching out.

The source attribute would be replaced with "Identity Issuer" attribute, you should be able to get this information by calling the MS Graph User beta endpoint.

![image](https://user-images.githubusercontent.com/57458999/146257288-c08beb6b-6917-49ca-b15e-7b5f1217bd61.png)

Hope this was helpful.

#please-close

[2021-12-15 20:09] #85304 closed

[2021-12-15 20:10] johndowns commented on #85310
Glad to hear it @theheatDK :)

[2021-12-15 20:12] AjayKumar-MSFT commented on #84917
Apologies for the delay! I was checking on this with our product engineering team and just received an update.

Currently, we don’t support wildcard domains and don't have an ETA to share.
You may just re-post the feedback [here](https://github.com/Azure/static-web-apps/issues) - All of the feedback you share in these forums will be monitored and reviewed by the Microsoft engineering teams respons

[2021-12-15 20:12] #84917 closed

[2021-12-15 20:13] aahill commented on #85305
Thanks @lindacmsheard for noticing this. I'll update the documentation shortly!

#please-close

[2021-12-15 20:13] #85305 closed

[2021-12-15 20:16] ssivas commented on #84430
@rmascaro, I appreciate you taking the time to share your results here.

@communauto-asato , If there are further questions regarding this matter, feel free to tag me in a comment. I will reopen it and we will gladly continue the discussion. Thanks

#please-close

[2021-12-15 20:16] #84430 closed

[2021-12-15 20:23] cregnier opened #85350 "Warning Note Needed for 3rd Party STS Claim/Support for MFA Device Registration"
So it seems after a MS support case that MFA for device registration is supported with the following attribute: allowauthentication reference wiaormultiauthn

This is mentioned in this document: https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-azuread-join-federated-domains

However, the problem lies where there needs to be mentioned that with 3rd party STS (such as PingFeder

[2021-12-15 20:24] MicrosoftGuyJFlo commented on #67889
This does not seem to be a documentation specific issue. Seems like something support may be able to resolve for you if not resolved already. Sorry for the delay in response to your issue. #please-close

[2021-12-15 20:24] #67889 closed

[2021-12-15 20:25] aahill commented on #82035
#assign:eric-urban

[2021-12-15 20:27] wiggwire opened #85351 "python2.8?"
`Python version above 2.8` is cryptic. does this refer to Python 3.x as min, since there is no version of python above 2.7

Additional details, https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/diagnostics-linux?tabs=azcli refers to Python 2 as a requirement for the Azure Linux agent.

So which version of python is needed? 2.8 or 3.x?

---
#### Document Details

⚠ *Do not edit thi

[2021-12-15 20:29] rothja commented on #82153
@amommy I sincerely apologize for the long delay in responding to your feedback on this article. I am looking into this and will also try to get others involved to see if we can improve the article. By now, you have probably found another way to achieve your goals, but we appreciate the feedback to know that the article is not clear enough.

[2021-12-15 20:29] tkent commented on #84844
(record scratch) - That means that every single user or service that interacts with any topic or queue necessarily has access to the `RootManageSharedAccessKey`. That's gonna be a rough one to explain to auditor if one is savvy enough to put that together. I'm struggling to be believe that's true.

I was more asking for what already exists, less of what could exist.

[2021-12-15 20:30] Ahalwagy commented on #85304
I don't have the same behavior over my tenant , as it is showing something different.

![2021-12-15 21_28_37-Inbox - ahmed halwagy@avanade com - Outlook](https://user-images.githubusercontent.com/68221228/146260478-5c244d2a-5928-48ff-b717-70889c0341e0.png)

[2021-12-15 20:36] ssivas commented on #85304
Thanks for the confirmation; I'm working with an internal team to gain additional insight into this issue; I'll keep you posted on my findings.

[2021-12-15 20:41] MicrosoftGuyJFlo commented on #22360
@kalyankrishna1 can you provide any feedback on this issue?

[2021-12-15 20:41] curtand commented on #81236
Hi @matflol
Thanks for your contribution! Yes, both are method 1. I updated the text to point that out correctly. I had accidentally switched them.
#please-close

[2021-12-15 20:41] #81236 closed

[2021-12-15 20:44] Ahalwagy commented on #85304
Hello Again,

I have checked again after accept the guest invitation and I see it is working now :), thanks again

![2021-12-15 21_43_04-Inbox - ahmed halwagy@avanade com - Outlook](https://user-images.githubusercontent.com/68221228/146262296-c30b230a-dbbc-4abf-9b2b-be01e54e71c1.png)

[2021-12-15 20:46] ssivas commented on #85304
You welcome :)

[2021-12-15 20:51] mads-sogaard opened #85353 "cores or threads"
When looking at the specifications for the processors you mention, it seems like you are referring to threads and not physical cores, it that correctly understood?

Regards Mads

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7532f6e-5eb9-9a3a-c85d-818069497436
* Version Independent ID: 93c0dfd4-4d99-9547-01d8-4b28cb79

[2021-12-15 20:52] curtand commented on #75776
Hi @lesterw1
Thanks for your contribution!
The service limits documentation correctly states that the object limit in a tenant is 300K objects (with a verified domain name), and that if you need a higher limit you can negotiate with Microsoft for an increase. That's the only way, so this tenant is clearly on that program. There's no change to the documentation required. We spend about four months

[2021-12-15 20:52] #75776 closed

[2021-12-15 20:53] MicrosoftGuyJFlo commented on #57794
Article has been updated to reflect group match with email address #please-close

[2021-12-15 20:53] #57794 closed

[2021-12-15 20:55] Justinha commented on #84654
@diecknet thanks for the suggestion! I'm adding that Graph is an alternative to using the portal.
@CraigDunn801 I'm unsure why but confirm requirements are met and review the FAQ. I'll see if we can add some troubleshooting steps. You might also review sign-in logs to get started with troubleshooting.

[2021-12-15 20:57] curtand commented on #76692
Hi @fernandoferrini
Thanks for your interest in our documentation. This is not currently possible in the PIM feature. I know at some point in the coming 2-4 calendar quarters it will be successively in private and then public preview. I'm the article owner but have no more detail than that. Contact PM @carolinetempleton for details.

#please-close

[2021-12-15 20:57] #76692 closed

[2021-12-15 21:08] LH-MSFT opened #85354 "Need to provide clarity on what to expect with the Uncached Consumed Percentage metrics in the case of throttling"
For the Uncached Consumed Percentage metrics, the doc says "If this amount is at 100%, your application running is IO capped from your VM's uncached limit" -- this is a fair statement but people may think it has to reach 100% before throttling kicks in but this is NOT true. Think about the scenario where a VM with cached disks undergoing a lot of IOs which miss the cache, in that case those IOs wi

[2021-12-15 21:10] DerekHerman-MSFT commented on #85218
@huwgeric
Thanks for reporting this. I think the usage of superset is a little confusing, perhaps we could describe this in a different way. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-15 21:10] MicrosoftGuyJFlo commented on #84196
#reassign:@MicrosoftGuyJFlo

The list of roles is based on what Microsoft sees as a minimum list that should be protected.

Organizations can choose to include or exclude roles as they see fit using Conditional Access policies like those in [Conditional Access templates](https://docs.microsoft.com/azure/active-directory/conditional-access/concept-conditional-access-policy-common#conditional-access

[2021-12-15 21:10] #84196 closed

[2021-12-15 21:13] lesterw1 commented on #75776
Hi @curtand,  So is the limit 300,000 or 350,000?  The documentation states 300,000 but the Azure UI displays 350,000 as you can see above. 😄

https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#active-directory-limits

[2021-12-15 21:23] aturner100 opened #85355 "Update Request | Specify Generation Version that are Supported and Non-Supported for Automatic Guest Patching for All Images"
Hello team,

A very small ask is there a way to update the document on the supported image generation version for which that can be enabled for Automatic Guest patching? In certain areas of the document it shares some image offerings can support both Gen1 and Gen2, however others do not explicitly state which generation version, example has been attached below.

---
#### Document Details

⚠ *Do no

[2021-12-15 21:26] Justinha commented on #85133
@rmc515 thanks for catching that. I think that sentence was supposed to be moved to after the output example. It looks like it tries to say the same thing just before and after the sample. I took a stab at cleaning up that section.

[2021-12-15 21:31] Justinha commented on #85105
@danwdavey Thanks Dan! Is this any better?

The following table list each setting that can be set to Microsoft managed and whether that setting is enabled or disabled by default.

The point is MS is going to change the value at some time from disabled to enabled.

[2021-12-15 21:40] ssivas commented on #85219
@AJRus ,

Thanks for reaching out.

Customization is no possible in the UI today. Alternatively, you can use Graph API and the property `recommendationLookBackDuration` to update this to something other than 30 days. Hope this helps.

https://docs.microsoft.com/en-us/graph/api/resources/accessreviewschedulesettings?view=graph-rest-beta

#please-close

[2021-12-15 21:40] #85219 closed

[2021-12-15 21:42] JackStromberg commented on #64826
Thanks for reporting this @omeramin.  Apologies for the slow response, but I've made a few modifications to the document to clarify the casing and examples.  The changes should be live within the next 24 hours.

Cheers!
-Jack
#please-close

[2021-12-15 21:42] #64826 closed

[2021-12-15 21:51] knightcott-paul opened #85356 "Not really a 'Howto'"
The title is "How To: Investigate Risk" but the page doesn't tell you how to do that.  It just describes three risk reports.

What happens when an admin clicks 'Confirm User Compromise'?  Or dismisses the risk.  When should an admin use 'Reset Password' vs 'Block User' vs 'Confirm user compromise'?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2021-12-15 21:53] scout208 commented on #85276
@dominicbetts Thanks for updating the article so quickly! It seems there is still a step missing though because trying to run step 3 results in a "Connection string was not specified" error.

![image](https://user-images.githubusercontent.com/9426329/146270730-6a12a7e9-7968-40cd-8ca8-39cfa71ad624.png)

[2021-12-15 22:03] JackStromberg commented on #57940
Hello @mllipi!  Sorry for the delayed response on this!  I took a look at the document, and it looks like several changes have been made to address this.  Going to close this one out, but feel free to reopen if there are any additional clarifications we can make.

Thanks!
Jack
#please-close

[2021-12-15 22:03] #57940 closed

[2021-12-15 22:11] MarileeTurscak-MSFT commented on #85356
@knightcott-paul
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-15 22:37] MarileeTurscak-MSFT commented on #85350
Thanks @cregnier! What would you suggest including in the warning? Is there a case number you could provide for reference?

[2021-12-15 22:39] andresu13 commented on #85347
Actually, I found out what was happening. Both SA_PASSWORD and MSSQL_PASSWORD work, however, my issue was that when I reinstalled the SQL Edge module, it was not updating the password to what I set in the environmental variable. I discovered that the module creates a bind to the hosts directory "/var/lib/docker/volumes/sqlvolume" and even when the module gets removed from IoT Edge, that sqlvolume

[2021-12-15 22:51] DerekHerman-MSFT commented on #85354
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-15 22:56] sean-vancity opened #85357 "Can Azure RBAC be used for publishing events or not?"
This page says "EventGrid doesn't support Azure RBAC for publishing events to Event Grid topics or domains". But another page explains how to use AD and the "EventGrid Data Sender" role for just that.

Which is correct?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1dbe461e-bf0e-765b-947a-fbc80b

[2021-12-15 23:12] spelluru commented on #84844
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-sas#generate-a-shared-access-signature-token

You can provide the sender with the SAS token with limited access instead of giving the access key, which gives them the full access.

[2021-12-15 23:20] macolso commented on #57189
Hello! ACI now supports through CUDA 11. The documentation is in the process of being updated.

[2021-12-15 23:20] rgx612a commented on #81233
Same question here. Is there any update on this?

[2021-12-15 23:24] winggndm commented on #56444
I suspect that this is due to the possible use of SimpleDateFormat for
parsing which does not support anything below milliseconds.
https://docs.oracle.com/javase/8/docs/api/index.html?java/text/SimpleDateFormat.html

On Wed, Dec 15, 2021 at 12:07 PM Nathalie ***@***.***> wrote:

[2021-12-15 23:42] JamesTran-MSFT commented on #85259
@mvisosky
Since this issue isn't directly related to improving our docs, and is more along the lines of billing. I'd recommend working closer with our billing team via the "Chat with Sales" option on our [Pricing page](https://azure.microsoft.com/en-us/pricing/details/active-directory/external-identities/), or by creating an Azure [support request](https://docs.microsoft.com/en-us/azure/azure-port

[2021-12-15 23:42] #85259 closed

[2021-12-15 23:47] SeaDude opened #85358 "localhost path for testing Functions?"
What are the paths for testing `localhost` Functions using Postman? I have a Timer-trigged Function that I'd like to manually start, but I can't find the docs for `localhost` path.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f538a557-7e88-e077-6a6f-6fb14d89dbf6
* Version Independent ID: 84a1693b-2795-c865

[2021-12-15 23:53] JamesTran-MSFT commented on #85328
@mark23531
When it comes to your customer's configuring Named Locations, and if it's in-line with Microsoft's Zero Trust Principles, this all depends on what locations they used. (i.e. their organization's network ranges, VPN range, known IPs, etc.).

I'd recommend reviewing the below docs for more information related to using Named Locations with Conditional Access Policies.

[Using the location

[2021-12-15 23:53] #85328 closed

[2021-12-16 00:13] douglasmaciver opened #85360 "PS Desired State Configuration link is broken"
DSC link in second paragraph is broken, 404:

```When auditing / configuring both Windows and Linux, guest configuration uses a Desired State Configuration (DSC). The DSC configuration defines the condition that the machine should be in.```

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a410153e-4b2d-ee5d-3ce4-6e050f2a

[2021-12-16 00:21] SatishBoddu-MSFT commented on #85341
[@helderpinto](https://github.com/helderpinto)
I have assigned the issue to the content author for further review.

[2021-12-16 00:25] SatishBoddu-MSFT commented on #85344
[@jimseld](https://github.com/jimseld)
I have assigned the issue to the content author for further review.

[2021-12-16 00:32] tkent commented on #84844
@spelluru Ah. Unfortunately, that brings us back to using shared/fixed credentials (SAS = Shared Access Signatures), which is the problem with the `RootManageSharedAccessKey`. Using SAS is such an incomplete security control the [the existing docs](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-sas#best-practices-when-using-sas) have a whole series of warnings like this:

[2021-12-16 00:36] Grace-MacJones-MSFT commented on #85349
Hi @malandles, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc as appropriate

[2021-12-16 01:01] SatishBoddu-MSFT commented on #85345
[@tommysella](https://github.com/tommysella)
Our SME will review this issue and get back soon.

[2021-12-16 01:05] spelluru commented on #84844
@clemensv - could you please help me with the issue? Thanks.

[2021-12-16 01:06] SatishBoddu-MSFT commented on #85347
[@andresu13](https://github.com/andresu13)
I have assigned the issue to the content author for further review.

[2021-12-16 01:13] SatishBoddu-MSFT commented on #85351
Hello @wiggwire
I have assigned the issue to the content author for further review.

![image](https://user-images.githubusercontent.com/62923178/146289563-af2ac5df-6920-4688-953e-1b4ec0b5afaa.png)

[2021-12-16 01:47] halkazwini opened #85363 "Confusing license requirements"
Hi,

The license requirement in this document is confusing: first, it is mentioned that the license is required for the feature, then, it is mentioned it is not required for certain types of users:

![image](https://user-images.githubusercontent.com/85655443/146292790-b8f96eae-92b1-487b-8077-6629690abdfd.png)

https://docs.microsoft.com/en-us/azure/active-directory/governance/access-reviews-overvi

[2021-12-16 01:54] SatishBoddu-MSFT commented on #85353
[@mads-sogaard](https://github.com/mads-sogaard)
Our SME will review this issue and get back soon.

[2021-12-16 01:54] superlerain opened #85364 "A100 80GB SKU/Size name inconsistence issue"
[Enter feedback here]
A100-80GB SKU name is inconsistent between Azure Doc and Azure HPC team's naming.

Azure Doc: Standard_ND96amsr_v4
Azure HPC: Standard_ND96amsr_A100_v4

To the best of our knowledge, Standard_ND96amsr_A100_v4 is the right name for now, especially from provisioning perspective.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2021-12-16 01:54] VitalyMCT opened #85365 "Needs an overall update to match current Portal Azure"
There are various places in the walk-through which got out of sync with the latest Azure Portal UI enhancements. For a start, the Prevention setting is now on the first (Basics) tab.

I would recommend reviewing this end-to-end and updating as required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a994dabc-b468-b3b3-

[2021-12-16 01:55] SatishBoddu-MSFT commented on #85355
[@aturner100](https://github.com/aturner100)
I have assigned the issue to the content author for further review.

[2021-12-16 02:10] SatishBoddu-MSFT commented on #85357
[@sean-vancity](https://github.com/sean-vancity)
Our SME will review this issue and get back soon.

[2021-12-16 02:11] ThomasWeiss commented on #85277
@JohnDelisle Thanks for the question. That scenario would indeed be incompatible, as Cosmos DB wouldn't be able to access the Key Vault instance through its private endpoint. We're tracking this gap on our roadmap, but I don't have any ETA to share for now.
I agree that this should be mentioned in our docs and I'm adding this update to our backlog.
#please-close

[2021-12-16 02:11] #85277 closed

[2021-12-16 02:32] NathalieHe commented on #56444
yeah, I did the workaround in adf dataflow.  load data as String and use a derived column to convert the string back to timestamp like this:
toTimestamp(substring(TIMESTAMP, 1, 23), 'yyyy-MM-dd HH:mm:ss.SSS')

It works :D

[2021-12-16 02:46] VikasPullagura-MSFT commented on #85364
@superlerain
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-12-16 02:47] VikasPullagura-MSFT commented on #85364
@sherrywangms
Can you please check and add your comments on this doc update request as applicable.

[2021-12-16 02:48] SatishBoddu-MSFT commented on #85358
Hello @SeaDude ,

Could you please try the below..

'http://localhost:7071/admin/functions/Function1'

![image](https://user-images.githubusercontent.com/62923178/146298668-ceb81850-2669-49fa-9ef8-506905539d0c.png)

Our SME will review your feedback soon.

[2021-12-16 02:51] AJRus commented on #85219
@ssivas - thats really helpful, thank you. Might be handy to update the KB to reflect that, but appreciate the response and direction.

[2021-12-16 02:53] adam-rudd-myob opened #85366 "Tutorial: Configure Segment for automatic user provisioning - INVALID Tenant URL"
segment Tenant url for SSO provisioning is invalid:
page url https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/segment-provisioning-tutorial

**correct Tenant url**: `https://scim.segmentapis.com/scim/v2`
**current Tenant url listed**: `http://scim.segmentapis.com/scim/v2`

without this change users will be given a error when testing connection

---
#### Document Details

⚠ *Do not

[2021-12-16 02:55] mundayn opened #85367 "Can you add a PowerShell example so that when you google "PrivateEndpointNetworkPoliciesFlag" this page comes up?"
Hey

Can you tag this page with the PowerShell parameter "PrivateEndpointNetworkPoliciesFlag" somewhere? This parameter does not return to this page on google as it is not mentioned, and I had to dig around to find this page to see what it does.

This is set for example using this:

Set-AzVirtualNetworkSubnetConfig -Name $subnetname -VirtualNetwork $vnet -PrivateEndpointNetworkPoliciesFlag "Disabl

[2021-12-16 03:05] KrishnaG-MSFT commented on #85306
@SonXuanNguyen2k Hope you have self resolved and hence closed the issue. Let me know if that's not the case.

[2021-12-16 03:10] mundayn opened #85368 "UDR"
Hi,

Can you please clarify regarding the UDR change in Public Preview as mentioned here:
https://azure.microsoft.com/en-us/updates/public-preview-of-private-link-udr-support/

It states:
"Private Endpoint support for User Defined Routes (UDRs) is now in public preview. This feature enhancement will provide you with the ability to apply custom routes to traffic destined to a private endpoint with

[2021-12-16 03:10] SeaDude commented on #85358
Thank you for the quick reply. I must be missing something.

**Steps:**

- Using VS Code
- `cd` to Azure Function parent directory (`/news-agg-dev`)
- Activate `.venv` (`.\.venv\Scripts\activate`)
- Start Azurite
- Run `func start`, function starts running locally
- Send POST request in Postman to URL `http://localhost:7071/admin/functions/news-agg-dev`
  - `body` = `{ "input": "" }`
  - No header

[2021-12-16 03:15] SeaDude commented on #85358
Strangely enough, after publishing this Function App to Azure, I am UNABLE to Disconnect the app.

![image](https://user-images.githubusercontent.com/8636973/146301751-9eac1754-f605-44a7-aa0e-e97abfe666f9.png)

[Cursory internet search says](https://stackoverflow.com/questions/66813441/azure-function-failed-to-disable-function) maybe Function App names should avoid dashes (`-`) ? (If this is indee

[2021-12-16 03:20] SatishBoddu-MSFT commented on #85358
Maybe the Body-->raw-->Text format is causing this 415 Response.

![image](https://user-images.githubusercontent.com/62923178/146302215-09479aa5-a1d1-4db8-9c14-146543eae5b0.png)

Please change it to JSON and try the POST.
![image](https://user-images.githubusercontent.com/62923178/146302264-55be391c-8d65-417b-b28c-7302f2c56ded.png)

[2021-12-16 03:21] #85360 closed

[2021-12-16 03:25] mundayn commented on #84962
Thank you so much for your reply, although I'm not sure that is exactly clear to me, let me maybe reword:

If bob.smith@contoso.com's daily account has a P2 license, which is needed for lets say Risky sign-ins, so it 100% needs a P2.

But Bob following best practices, splits their admin account from their daily account.

Bob now has two accounts:
- bob.smith@contoso.com
- admin.bob.smith@contoso.c

[2021-12-16 03:25] SeaDude commented on #85358
Bam! That really helped out! I can keep developing!

Thank you!

![image](https://user-images.githubusercontent.com/8636973/146302668-90600b57-5f99-4f21-b0f0-530f1b0b1cd0.png)

[2021-12-16 03:25] #85358 closed

[2021-12-16 03:31] ssivas commented on #85366
@adam-rudd-myob ,
Thanks for bringing this to our notice, will update the thread accordingly. For now I will go ahead and close, if you have any further queries or feedback please revert back. Thank you

#please-close

[2021-12-16 03:31] #85366 closed

[2021-12-16 03:34] phamdinhkhanh opened #85369 "Model Profiling operation failed with the following error: An internal server error occurred"
Hi Azure team,

I am building a model on azureml and try to profiling model about how much it consume. I do according to "Model Profiling" part of this tutorial:

https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/deployment/production-deploy-to-aks/production-deploy-to-aks.ipynb

But I get error message like:

[code]

My screenshot:
![](https://imgur.com/HM4Hvat.png)

[2021-12-16 03:50] ssivas commented on #85363
@halkazwini , Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-16 04:27] mathapli commented on #85351
Hi It should be 2.6+ instead of >2.8. Will you be changing this? @SatishBoddu-MSFT , @wiggwire ?

[2021-12-16 04:35] ram-msft commented on #85369
@phamdinhkhanh Thanks for the question. We are investigating the issue and will update you shortly.

[2021-12-16 04:44] GitaraniSharma-MSFT commented on #85365
@VitalyMCT , thank you for your feedback. We'll review this and get back to you shortly!

[2021-12-16 04:45] GitaraniSharma-MSFT commented on #85367
@mundayn , thank you for your feedback. We'll review this and get back to you shortly!

[2021-12-16 04:46] GitaraniSharma-MSFT commented on #85368
@mundayn , thank you for your query. We'll investigate this and get back to you shortly!

[2021-12-16 05:12] Jagath4u commented on #85173
Hi Mohamed, Finally i was able to perform migration for more than one database at a time. I have found one issue where if we cancel a migration or delete the migrated database and start the migration again for the same database, it wont allow to proceed with migration stating "there is already a migration in progress"(even if the database(s) are removed from SQL instance). In this context i may ha

[2021-12-16 05:20] cecilyanyy opened #85371 "The Transform-Policy.ps1 script provided does not include private IP ranges, this will cause customer production down after running this script."
[Enter feedback here]
We need to add this line into this script:
    $NewPolicyParameters = @{
                        Name = (GetPolicyNewName -Policy $Policy)
                        ResourceGroupName = $Policy.ResourceGroupName
                        Location = $Policy.Location
                        ThreatIntelMode = $Policy.ThreatIntelMode
                        BasePolicy = $Policy.BasePo

[2021-12-16 05:32] v-hagamp commented on #84432
@jeevansd,

Will you please suggest me on this?

[2021-12-16 05:34] hisasima commented on #85297
When I use DNAT wit IDPS, the request was allowed by Azure Firewall.

$ curl -v http://20.83.142.133 -A "BlackSun"
*   Trying 20.83.142.133:80...
* TCP_NODELAY set
* Connected to 20.83.142.133 (20.83.142.133) port 80 (#0)

* Mark bundle as not supporting multiuse
< HTTP/1.1 200 OK
< Date: Thu, 16 Dec 2021 05:28:40 GMT
< Server: Apache/2.4.6 (CentOS)
< Last-Modified: Wed, 15 Dec 2021 23:46:52 GMT
<

[2021-12-16 05:44] GitaraniSharma-MSFT commented on #85203
@crashXJ , thank you for the update. We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-12-16 05:44] #85203 closed

[2021-12-16 05:53] ChaitanyaNaykodi-MSFT commented on #85063
Hello @johnem-msft
We have assigned this issue to the author to review further and take the next course of action.

[2021-12-16 05:55] amanmcse commented on #85320
@vacuvi Refresh tokens are long-lived tokens. The Oauth RFC doesn't specify any default value to be used for the refresh tokens. Every IDP can have its own implementation of the default lifetime but you can set/change the lifetime as per your requriement.

[2021-12-16 06:01] amanmcse commented on #84840
@lakshmikanthKGit
**2nd option:** Member users as well as the users with the 4 admin roles I've mentioned above.
**3rd option:** Only the users with the 4 admin roles I've mentioned above.

[2021-12-16 06:06] ashitabh opened #85372 "Is MULTI_TASK possible on Job Cluster"
[Enter feedback here]
Please confirm if Job cluster can support MULTI-TASK  on Azure Databricks
![image](https://user-images.githubusercontent.com/16971797/146317346-85788f9e-dcf6-43b4-8296-b78a588484fc.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 157a1755-7a05-d833-0eb1-1b235edfcfa3
* Version Independent ID: 43

[2021-12-16 06:17] nukem commented on #85185
I can't login to Microsoft services using Firefox because of this error.

[2021-12-16 06:20] GitaraniSharma-MSFT commented on #85297
@hisasima , We have assigned this to the content owner/author for updating the doc accordingly.

@vhorne , I've added you to the internal email with the PG to get the below IDPS limitation reviewed and updated in the doc:
Currently, IDPS is not applied on communication going through DNAT.

[2021-12-16 06:27] GitaraniSharma-MSFT commented on #85365
@VitalyMCT , We have assigned this issue to the content owner/author for updating the doc accordingly.

@vhorne , could you please update the document to match the current Portal UI while creating a WAF policy as below:

![image](https://user-images.githubusercontent.com/67630903/146319450-34c88905-1530-41da-99c1-4684b59f9e86.png)

[2021-12-16 06:32] rishjai-msft commented on #85313
@ChrisSommers Could you let me know the following?
1. When was the VM protected with Site Recovery?
2. Did you add the IP Configs _AFTER_ protecting with Site Recovery, or _BEFORE_?

[2021-12-16 06:46] SubhashVasarapu-MSFT commented on #85106
@Sandervandevelde, Apologies for the inconvenience caused. Yes, you need to upload the cert key to the P2S configuration. We will assign this issue to the respective content owner for updating the document accordingly.

[2021-12-16 06:48] GitaraniSharma-MSFT commented on #85367
@mundayn , if you search for "**PrivateEndpointNetworkPolicies**" in Google, this is the first page returned.

In the PowerShell documents, the parameter is mentioned as "PrivateEndpointNetworkPoliciesFlag", however the actual setting is called as "PrivateEndpointNetworkPolicies".

But let me discuss this with the backend team and get back to you.

[2021-12-16 06:49] SaiKishor-MSFT commented on #85171
@StaceyWA I have reached out to our PMs regarding this. I will keep you posted with more details. Appreciate your pateince in the meanwhile. Thank you!

[2021-12-16 06:53] GitaraniSharma-MSFT commented on #85297
@hisasima , as discussed offline, the Product Group team has already fixed the IDPS issue and they are expecting to roll out the fix early next month. Hence, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-12-16 06:53] #85297 closed

[2021-12-16 07:07] Karishma-Tiwari-MSFT commented on #85261
@dj-teck Thanks for bringing this to our attention.
Your contributions are valued, please feel free to open a PR. The doc-author will review it and merge accordingly.

[2021-12-16 07:10] Karishma-Tiwari-MSFT commented on #85088
Hope that helps answer your question.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-12-16 07:10] #85088 closed

[2021-12-16 07:14] SubhashVasarapu-MSFT commented on #85371
@cecilyanyy, Thanks for reaching out. We will investigate and update this thread.

[2021-12-16 07:16] Karishma-Tiwari-MSFT commented on #85135
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-16 07:21] asergaz commented on #85175
fyi @timlt

[2021-12-16 07:40] jjindrich commented on #85298
Hi, but in PAYG subscription you can buy reservations. I have my own PAYG subscription and I can buy reservations without problems.

[2021-12-16 07:48] SadiqhAhmed-MSFT commented on #85298
Yes you can buy reservations. But RI's don't show up in ACM for Pay-As-You-Go.

[2021-12-16 07:50] SadiqhAhmed-MSFT commented on #85111
@Glaubscher Hope the previous post helped answer your question. Please reply if you need any further assistance.

[2021-12-16 07:52] SubhashVasarapu-MSFT commented on #85132
@Rashair, Appreciate your feedback. Looks like the doc needs correction. Content-Encoding should be the response header where Accept-Encoding should be the origin header. We will work on updating the document.

[2021-12-16 07:53] jjindrich commented on #85298
Ok, now clear.

[2021-12-16 07:59] SubhashVasarapu-MSFT commented on #85132
@Rashair, the doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-12-16 07:59] #85132 closed

[2021-12-16 08:08] SubhashVasarapu-MSFT commented on #85155
@Thomasgud, Appreciate your feedback. The doc has been edited accordingly and it would take some time for the changes to get reflected over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-12-16 08:08] #85155 closed

[2021-12-16 08:09] SaiKishor-MSFT commented on #85315
@andreea7c3 The document works. I just followed the documentation and successfully see the following:
<img width="266" alt="AGIC" src="https://user-images.githubusercontent.com/68254272/146332266-0a177495-a78c-4c94-a108-7f5f95174fb8.png">

Please make sure that you are giving all the commands correctly from the document. Sometimes when you copy paste multiple commands at once, you may miss a comma

[2021-12-16 08:09] SaiKishor-MSFT commented on #85315
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-16 08:09] #85315 closed

[2021-12-16 08:14] SubhashVasarapu-MSFT commented on #85230
@naebliss, we appreciate your feedback. The doc has been edited accordingly and it would take some time for the changes to get reflected over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-12-16 08:14] #85230 closed

[2021-12-16 08:16] rockboyfor commented on #85085
@shashishailaj , Would you please share us any progress or schedule on this issue? Our customers are anxious to resolve this issue that have compacted the deployment on Azure China Cloud.

[2021-12-16 08:24] CHEEKATLAPRADEEP-MSFT commented on #85372
@ashitabh  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2021-12-16 08:26] amihailes opened #85375 "forward-request policy phrase in documentation"
Hi,

Just after the paragraph explaining the forward-request policy, there is a strange note :

"Removing this policy results in the request not being forwarded to the backend service and the policies in the outbound section are evaluated immediately upon the successful completion of the policies in the inbound section."

What exactly does it mean? It's strange.

Another "issue": the same paragrap

[2021-12-16 08:43] fleckert opened #85376 "Update a cluster's API server authorized IP ranges - example for append is a replace operation"
![image](https://user-images.githubusercontent.com/2217206/146337464-15994936-fb25-4dba-82fe-7cbe938a3ba0.png)

this is not an append but an overwrite/replace operation
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 660320d4-fad5-3307-e29f-5f4cfad4b7f7
* Version Independent ID: 85ac2e8b-633f-6e1a-e642-0645ca92e129
* Con

[2021-12-16 08:46] danwdavey commented on #85105
Hi, that would be great. Customer is just unsure (and so was I) regarding its default status or what the table was referring to.

[2021-12-16 09:16] JonesMikael commented on #82008
Thanks for confirming. @linkhp Just so I understand the roadmap here because I assume once we have this Email One-Time Passcode enabled and also enabled the SPOD integration with Azure AD B2B, this means the end of the old "ad-hoc sharing mechanism" right and I assume this is the long-term goal for Microsoft? I understand you can't tell us any timelines but is this the roadmap and you will eventua

[2021-12-16 09:20] arielsaghiv opened #85379 "Page deprecated - please remove"
**This page should be removed it is deprecated**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5481fbe2-f84c-41cf-33fd-581963317ffc
* Version Independent ID: 0c4dd32f-b19a-ab4a-3ded-d083bf57ed0e
* Content: [Horizon API - Azure Defender for IoT](https://docs.microsoft.com/en-us/azure/defender-for-iot/organizations/refe

[2021-12-16 09:29] RohitMungi-MSFT commented on #85157
@abdisa Thanks for confirming. We have passed the feedback to the team.
We will now proceed to close this thread.

[2021-12-16 09:29] #85157 closed

[2021-12-16 09:49] PocketLloyd commented on #68767
It's not just comma's.  The Bulk Operation, Download Users downloads addresses and if there is a foreign characterin it, it just can't handle it.  Surely the easy fix is to put all the fields in quotes or allow the separation character to be chosen?

[2021-12-16 09:52] dnovvak opened #85381 "IoT Hub query language - typos in string functions"
The following functions have Incorrect syntax:
* STARTS_WITH(x, y)
* ENDS_WITH(x, y)

There should be no underscore:
* STARTSWITH(x, y)
* ENDSWITH(x, y)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c58bc573-ec3e-ed94-900d-1163a5700750
* Version Independent ID: d83c0073-4a03-f46b-1855-4101b040d92c
* Content: [Understan

[2021-12-16 10:12] shashishailaj commented on #85324
@hemanthmatam Just checking if you have any further update on this thread.

[2021-12-16 10:24] andreatmicro opened #85382 "Undocumented supported scneaio"
Under the Product transfer support, it isn't mentioned support for MOSP (PAYG) or MCA to Azure Plan or old CSP offer, although this is supported through Resource Move, as documented in this documentation:
https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/transfer-subscriptions-subscribers-csp#other-subscription-transfers-to-a-csp-partner

I would suggest that this gets correcte

[2021-12-16 10:28] andreatmicro commented on #85382
Mistakenly commented on wrong document

[2021-12-16 10:28] #85382 closed

[2021-12-16 10:29] andreatmicro opened #85383 "Undocumented supported scenario"
Under the Product transfer support, it isn't mentioned support for MOSP (PAYG) or MCA to Azure Plan or old CSP offer, although this is supported through Resource Move, as documented in this documentation:
https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/transfer-subscriptions-subscribers-csp#other-subscription-transfers-to-a-csp-partner

I would suggest that this gets correcte

[2021-12-16 10:36] KrishnaG-MSFT commented on #85382
@andreatmicro Thanks for the update.

[2021-12-16 10:38] KrishnaG-MSFT commented on #85383
@andreatmicro Thanks for the feedback.
Assigning @bandersmsft for visibility, review and document enhancement consideration as appropriate.

[2021-12-16 11:13] santhosh-rajashekar opened #85384 "Integrated connectivity via the T-SQL interface ?"
Could you please explain the second option here ? May be with some examples if possible.

1. A familiar T-SQL syntax to query data in place without the need to copy or load data into a specialized store.
2. Integrated connectivity via the T-SQL interface that offers a wide range of business intelligence and ad-hoc querying tools, including the most popular drivers

---
#### Document Details

⚠ *Do

[2021-12-16 11:38] ram-msft commented on #85166
Thanks, Raised  PR  #https://github.com/MicrosoftDocs/azure-docs-pr/pull/183032 for the same.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-16 11:38] #85166 closed

[2021-12-16 12:00] joachim-lazaroms-isolectra opened #85386 "typo in command"
given on the page:
`sudo iotedge config mp --connection-string 'PASTE_DEVICE_CONNECTION_STRING_HERE'`

but that does not work. so i changed in the following and that work in ubuntu 18
`sudo iotedge config mp --connection-string "PASTE_DEVICE_CONNECTION_STRING_HERE"`

so  change the ' in to "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2021-12-16 12:10] AshokPeddakotla-MSFT commented on #85381
[@dnovvak](https://github.com/dnovvak) Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-16 12:15] ChrisSommers commented on #85313
Rishabh

That was a good shout – they were added after the VM was protected.

I have now disabled replication and re-enabled it. However, the VM has been stuck like this for several hours now:

***@***.***

So it looks like something has stalled in the background.

Many thanks
Chris

From: Rishabh Jain ***@***.******@***.***>>
Sent: 16 December 2021 06:33
To: MicrosoftDocs/azure-docs ***@***.*****

[2021-12-16 12:41] AjayKumar-MSFT commented on #85024
Thanks for sharing more details about your requirement. As soon as we hear more info on this, we will share it here. Thanks for your patience!

[2021-12-16 12:45] dominicbetts commented on #85276
Hi @scout208 - I looks like there's a note missing to remind you to set the same environment variables as in https://docs.microsoft.com/en-us/azure/iot-central/core/tutorial-connect-device?pivots=programming-language-javascript#run-the-code. The note is there in another location but in the section you're looking at - I'll get that updated as well.

Thanks for reporting this.

[2021-12-16 12:56] richard-artes opened #85387 ""Other integrated tools" -> "disable public network access" no longer exists"
In "Other integrated tools".
There is a recommendation to turn off "disable public network access".
but that option no longer exists in the Properties of the Azure Migrate project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a495a50-1ebc-67e6-1ef5-6f097a19bb62
* Version Independent ID: 27678aa4-c3da-d0fc-557d-fefc8

[2021-12-16 12:59] ChrisClaude commented on #29732
I ran into the same issue and this fix worked for me.

[2021-12-16 13:03] DeSeelam commented on #85387
Hi @richard-artes , can you confirm? I can see the option. It's available only for projects with private endpoint connectivity. Please share a screen grab.

[2021-12-16 13:05] thepaulmacca opened #85388 "RoleAssignmentUpdateNotPermitted Error - AKS"
I'm hitting a similar error to #85310 but when deploying AKS role assignments

Here is the example I'm using:

[code]

I *think* the issue could be the with the `networkContributorRoleDefinition` resource, as I'm calling that twice

Below is an example i've reverted to which works:

[code]

Any ideas what I'm doing wrong with the new documentation?

Thanks

---
#### Document Details

⚠ *Do not edi

[2021-12-16 13:14] VitalyMCT commented on #85365
To clarify, the example provided is just the 1st discrepancy. As you go through the article and compare to the current UI you will notice many others.

[2021-12-16 13:36] damovsky commented on #85298
@SadiqhAhmed-MSFT

I consider this as a bug:

As a PAYG user:
- I can purchase RI without any warning
- I can see options to switch from actual costs to amortized costs in Cost Management
- but it gives me misleading costs (actual = amortized)
- now I am in situation where I cannot calculate costs per subscription for internal reporting

I could not prevent this from happening. What can I do now?

[2021-12-16 13:50] shashishailaj commented on #85379
@arielsaghiv Thank you for your inputs . We will engage the content team to review this request and action it accordingly .

[2021-12-16 13:50] shashishailaj commented on #85379
@shhazam-ms Could you please create an internal work item for deprecating this content ?

[2021-12-16 13:55] shhazam-ms commented on #85379
I am good with removing this. Can I just sign-off?

[2021-12-16 14:08] diegodct opened #85389 "How updates are handled"
Could you clarify how updates works ?
Is it just by adding a new Application Definition version higher than previous one ? Wil it push the update to all VMs that already contains previous version installed ?

Thank you.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cf464b1-4b64-5432-2428-117011

[2021-12-16 14:14] richard-artes commented on #85387
Sorry, didn't know that. We have Public endpoint
Project connectivity method: Public endpoint

[2021-12-16 14:14] #85387 closed

[2021-12-16 14:14] andreea7c3 commented on #85315
@SaiKishor-MSFT yes, we eventually managed to sort it out, the backend pool had no targets. However, i had ran through the tutorial a couple of times and ran the commands individually. The peering was set correctly in fact, to point to the example you gave.

[2021-12-16 14:22] SrijitBose-MSFT commented on #85376
@fleckert , thank you for sharing your feedback. This issue is already being tracked at #80459. Please add more comments on the aforementioned issue. We are closing this issue as duplicate for consistent tracking.

#please-close

[2021-12-16 14:22] #85376 closed

[2021-12-16 14:23] SrijitBose-MSFT commented on #80459
@palma21 can you please check this?

[2021-12-16 14:23] Brunoga-MS opened #85390 "Missing step on integrating KS Monitoring with an existing workspace"
On the paragraph Integrate with an existing workspace, before step 4, it is required to rerun the command at step 2 to return to the subscription containing the AKS managed cluster otherwise the command will fail on retrieving the cluster and the resource group.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 783a13a3-6

[2021-12-16 14:27] tspearconquest commented on #84844
@tkent Azure AD is an option for this.

https://docs.microsoft.com/en-us/azure/event-hubs/authorize-access-azure-active-directory

However, for my team's use case, having a different SAS from the RootManageSharedAccessKey SAS is all that is required, as our consumer doesn't have the ability to communicate with Azure AD. You are right, but SAS tokens are the most viable option for apps that don't h

[2021-12-16 14:38] Wiiki0807 opened #85391 "Document Typo"
In Python sample, didn't have "c2d-console-app.csproj." file in the repo. It must be in C# sample. However, in the document, it indicates "c2d-console-app.csproj", it will cause confusion to the one who aren't familiar with python.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53d51bf4-8aee-810d-46bb-8bf9ea71c6e1
* Ve

[2021-12-16 14:53] kabharati commented on #81303
This is updated now. Closing the PR

[2021-12-16 14:53] kabharati commented on #81303
#please-close

[2021-12-16 14:53] #81303 closed

[2021-12-16 14:55] SuttyHoo opened #85392 "Missing information on handling security account / group migration"
I appreciate that (as in the name), the Data Migration Service is about _data_ migration. However, there is no guidance, reference or mention of security entity management in the Azure SQL Database migration documentation.  This is a pretty big topic in itself; and to my mind, guidance is needed for each stages - Assessment, Migration, Post migration.

Thanks you.

---
#### Document Details

⚠ *Do

[2021-12-16 15:18] scout208 commented on #85276
@dominicbetts I think there's a little bit more missing here than just setting environment variables. It looks like the sample code `pnp_temperature_controller.js` is not setup to use x509 certificates for provisioning. The `provisionDevice` method is expecting a symmetric key.

[code]

[2021-12-16 15:25] brucenelson6655 opened #85393 "SCC / Npip is listed as in preview"
[Enter feedback here]
This document incorrectly lists SCC NPIP as in preview - this feature is GA please correct !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd0aab00-dc4a-ab2d-3369-5c8d5bdd7500
* Version Independent ID: 85a23562-8485-64a0-6d5f-753be3b8501b
* Content: [Enterprise security for Azure Databricks - Azu

[2021-12-16 15:26] jcbendernh opened #85394 "Clarification on the prerequisites"
[Enter feedback here]

Under prerequisites I would clarify that the third bullet states...

Your workspace must be assigned the Azure contributor role to the affected Dedicated SQL Pool(s).

It only states "Your workspace must be assigned the Azure contributor role" which can be a bit confusing as I encountered an error at first and went back through the instructions and figured out that the Works

[2021-12-16 15:41] rmascaro commented on #84430
Hi @ssivas, it is a pleasure trying to help. I found this functionality really useful!
My test was just to help find a solution that can be used by anyone. I think a solution to have the agent install authomatically is anyway needed.

Do you know if/when support for RHEL 8.4 and other with  2.9-16 <= policycoreutils < 2.9-x will be avialable?
Regards

[2021-12-16 15:45] NiKiZe opened #85395 "Incorrect statements about IPv6 and DNS reachability"
https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-faqs#does-traffic-manager-support-ipv6-endpoints

This ignores the fact that there is, and further will be, recursive DNS servers that is IPv6 only.
It also claims that "A client does not make DNS requests directly to Traffic Manager" This might be true in most cases, but there is plenty of instances where a IPv6 only host/clie

[2021-12-16 16:09] spelluru commented on #85357
I have removed the note.

It's possible to authenticate publishing clients using Azure AD now. The feature is already in preview.
https://docs.microsoft.com/en-us/azure/event-grid/authentication-overview

The updated article should be live in a couple of hours.

@sean-vancity - Thank you for noticing the issue.

#please-close

[2021-12-16 16:09] #85357 closed

[2021-12-16 16:47] KarlErickson commented on #85242
@yucwan can you clarify?
@v-kevinmic3 can you update the content when Yuchen has clarified?
Thanks.

[2021-12-16 16:48] KarlErickson commented on #85242
#assign:v-kevinmic3

[2021-12-16 16:48] bandersmsft commented on #85115
@CharlesGroleau

Can you please provide script responses to see what one of the ids looks like?

The script substring should extract the reservationOrderId and attempt to assign a role.

ReservationId is of the format – “/providers/microsoft.capacity/reservationOrders/a5c7f703-a016-4f11-8fa2-dfa095fc0b2f/reservations/78f332e3-0138-45df-80e8-f656ea8920ed”

In order to extract the reservationOrderId

[2021-12-16 16:53] v-kevinmic3 commented on #85242
I will put it in my queue @KarlErickson

[2021-12-16 16:58] mmarzillo opened #85397 "to_spark_dataframe error in sample dataprep.py code"
Hi there,

I'm working through an error, but I'm running into the below error. Wondering if this is a known issue or if there are any recommendations to work around it.

![image](https://user-images.githubusercontent.com/6752474/146415013-5118b86e-57d9-47a4-8f57-8c30a3a13c5c.png)

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df8acdd2-5c50-695b-

[2021-12-16 17:14] mundayn commented on #85367
Thanks for the reply.

I know that the page is returned when you google "PrivateEndpointNetworkPolicies", but when researching the param "PrivateEndpointNetworkPoliciesFlag" it would be really helpful to link to this page also.

As per the other GitHub issue I mentioned, I am not the only person to struggle with this.

Thanks

[2021-12-16 17:21] KrishnaG-MSFT commented on #85085
@rockboyfor Apologies for the delayed response on this. I have reached out to our internal product team to answer your questions. Will keep you updated as I hear more information.

[2021-12-16 17:21] mikeblakeuk commented on #85061
I am

Mine appears inside properties, but outside siteConfig

![image](https://user-images.githubusercontent.com/1986660/146418945-86569c92-2ade-4b30-87ce-9e18911e6e69.png)

[2021-12-16 17:22] whhender commented on #85246
@tifischer  - As always, thank you! I've updated the command and added some information.

[2021-12-16 17:22] whhender commented on #85246
You should see the update by this afternoon, or tomorrow at the latest.

[2021-12-16 17:23] whhender commented on #85246
#please-close

[2021-12-16 17:23] #85246 closed

[2021-12-16 17:24] sopelt commented on #57148
Hello @BharathNimmala-MSFT - I think this still can be considered a documentation issue. We can agree that the primary goal should be a stateless service with ARR Affinity turned off - as it is documented at the links you provided.

For the unfortunate but not unrealistic scenario that existing applications (depending on heavier session state) need to be deployed to Azure there is a need for docum

[2021-12-16 17:27] bandersmsft commented on #85383
Hi @andreatmico. As you noted, undocumented transfer scenarios aren’t officially supported by Microsoft. Customers with a partner could consider a manual resource move, which is a process that Microsoft isn’t involved with.

#please-close

[2021-12-16 17:27] #85383 closed

[2021-12-16 17:34] alexcvx opened #85399 "listed SKU name is incorrect"
[Enter feedback here]
machine name in document does not match actual SKU name:
correct SKU name for 80GB-A100 VMs is
 Standard_ND96amsr_A100_v4
(document is missing the "A100" part of the string)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77bff2c8-4000-cffe-c464-a09c2fbfa4a5
* Version Independent ID: 3cb74068-aba0-

[2021-12-16 17:45] sinePaul opened #85401 "Azure Image Builder Service cannot access large private blob files"
I have an issue with Azure Image Builder Service.

I don't manage to access the content of a large private blob file (7 Gb) when creating the image.
I did follow the documentation and tutorials in the official doc, including [this one](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/image-builder-user-assigned-identity)

The Managed user Identity permissions are granted to the builde

[2021-12-16 17:47] whhender commented on #85251
@tifischer - Collection admin also provides access to the Purview Studio. It may a few minutes for this permission to resolve, but that should be sufficient to provide access.

Have you seen other behavior?

[2021-12-16 17:48] sinePaul commented on #85401
I was thinking to store a SAS token in an other container, to be able to access the large blob.

[2021-12-16 17:52] GeethaThatipatri-MSFT commented on #85392
Hi @SuttyHoo Thanks for your findings, We will investigate and update as appropriate.

[2021-12-16 17:54] pelowski opened #85403 "Overly Simplistic Example makes it more frustrating when a basic filter is failing"
This is about the simplest example that you can get.  And in my dataflow I've simplified the filter to `OrdDate >= toDate('2021-01-01')` and while it returns data under the expression builder the 'Data preview' afterwards shows nothing even after multiple refreshes despite the fact that I know there is data.  It's very frustrating.

I wish in your examples you'd show more real-world scenarios or p

[2021-12-16 17:55] lobrien commented on #85397
I don't have any insights on this problem, although I've noticed that OAuth seems to be an area prone to unusual failures.

@nibaccam Any thoughts?

[2021-12-16 17:59] nibaccam commented on #82612
@JuFranze For your first bullet, are you referring to the UX or the article?
_"The viewport is too wide for a Tablet (iPad pro 2021 11’’) – about 10% of the width is hidden – the height is right"_
Can you provide a screenshot of what you're seeing when you open the article on your touch device?

[2021-12-16 18:01] nibaccam commented on #85397
Looping in the PG team, @ynpandey can you help unblock the customer please.

[2021-12-16 18:12] SatishBoddu-MSFT commented on #85386
@joachim-lazaroms-isolectra
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-16 18:13] asergaz commented on #85386
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-12-16 18:15] #83838 closed

[2021-12-16 18:26] MartinJaffer-MSFT commented on #85393
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-12-16 18:27] MartinJaffer-MSFT commented on #85394
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-12-16 18:29] MartinJaffer-MSFT commented on #85403
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-12-16 18:31] MartinJaffer-MSFT commented on #85403
Thank you for your feedback @pelowski  . This has been assigned to the content owner, @kromerm  and will be updated as appropriate.

[2021-12-16 18:42] #81220 closed

[2021-12-16 18:45] roygara commented on #85218
@huwgeric Thanks for the feedback, we've gone ahead and reworded the section.

Accordingly, I'm closing this out.

#please-close

[2021-12-16 18:45] #85218 closed

[2021-12-16 18:58] TLKG opened #85404 "There is no "Function Source" label in Settings, Function"
Following [this](https://docs.microsoft.com/en-us/azure/static-web-apps/functions-bring-your-own#link-an-existing-azure-functions-app) exactly, Step 5 is broken, missing **Function Source**

![image](https://user-images.githubusercontent.com/22269729/146431764-338c7aa4-20d7-48b9-bcdc-18103bec96b9.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-12-16 19:07] Ravi-Kashyap opened #85405 "Documentation clarification"
[Enter feedback here]

Need clarification on the documentation as it reads below.

_AADConnect can synchronize the same users, groups, and contacts from a single Active Directory to multiple Azure AD tenants. These tenants can be in different Azure environments, such as the Azure China environment or the Azure Government environment, but they could also be in the same Azure environment, such as tw

[2021-12-16 19:11] afrodge commented on #83709
we're seeing the same patch installed. when trying to uninstall through CMD I received an error service stack 10.0.17763.2170 cannot be uninstalled.

[2021-12-16 19:13] deboergj opened #85406 "What does DTU mean? be great if every acronym, abbreviation, was associated to a tool tip that when the cursor was over the term it would spell the term out"
What does DTU mean?
It would be great if every acronym, abbreviation, was associated to a tool tip that when the cursor was over the term it would spell the term out.   Please, please improve Microsoft documentation! I work at Microsoft BTW... Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b8f9b79-678b-7a3e-06

[2021-12-16 19:19] jlichwa commented on #83246
Thank you @razstan,. We updated document with steps. I

#please-close

[2021-12-16 19:19] #83246 closed

[2021-12-16 19:20] jlichwa commented on #82602
Thank you @FredrikDahlberg . We have updated the steps.

#please-close

[2021-12-16 19:20] #82602 closed

[2021-12-16 19:21] jlichwa commented on #81471
Thank you @GiriB  we have updated the steps.

#please-close

[2021-12-16 19:21] #81471 closed

[2021-12-16 19:30] jlichwa commented on #84872
@sujitks for individual platforms limitations you will need to refer to their documentation. Is there specific issue in their service that they can't access Key Vault. There is nothing in Key Vault which could blocked that scenario.

[2021-12-16 19:31] SaiKishor-MSFT commented on #85395
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-12-16 19:37] GeethaThatipatri-MSFT commented on #85312
Hi @peted70 did you refer to this document on [SDK](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-api-sdk-java-v4) which provide more information.

[2021-12-16 19:38] stevemunk commented on #84832
@anthonychu That comment is technically accurate, The Azure Active Directory client id is the same value as the Azure Maps account client id. I went ahead and changed these anyway.

![image](https://user-images.githubusercontent.com/33468793/146433531-143f6530-37f6-4b1e-8f9b-0f381df372ef.png)

[2021-12-16 19:41] daemel opened #85408 "Profiles in the capability statement - not working as described"
I am unable to see the stored US Core Patient Profile I stored in the Azure API for FHIR service

Section
https://docs.microsoft.com/en-us/azure/healthcare-apis/fhir/validation-against-profiles#profiles-in-the-capability-statement

the get {{fhirurl}}/metadata Capability Statement does not contain the us-core-patient-profile that I stored.

---
#### Document Details

⚠ *Do not edit this section. I

[2021-12-16 19:47] ma3u opened #85409 "Private Link for Azure Static App"
Private Link for Azure Static App is in Public Preview. Can you add the missing  private Link :
http://privatelink.azurestaticapps.net/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a88af182-32aa-a8f3-359d-b92ae1cfb8c7
* Version Independent ID: 01ce07fc-4bc2-def5-9ecd-a80330ad9488
* Content: [Azure Private Endpoint DN

[2021-12-16 20:25] MarileeTurscak-MSFT commented on #85405
Hi @Ravi-Kashyap , where did you get the info that this isn't supported even with this release?

[2021-12-16 20:26] Ravi-Kashyap commented on #85405
from product team.

[2021-12-16 20:26] PatrickFarley commented on #82899
@GiftA-MSFT This is a product issue, not a docs issue.

[2021-12-16 20:34] lindacmsheard opened #85410 "python client library link needs update"
[Enter feedback here]

I think "storage client library for python" should probably link to here:
https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/storage/azure-storage-blob

The current link takes us to a very out of date repo, and the notice at the top of it is not so very clear to find the above page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2021-12-16 20:36] PatrickFarley commented on #84468
Thank you, I'm adding that section in now
#please-close

[2021-12-16 20:36] #84468 closed

[2021-12-16 20:37] mike-urnun-msft commented on #85375
Hello @amihailes - Thank you for your feedback! We will review and update as appropriate.

[2021-12-16 20:37] PatrickFarley commented on #84474
Thank you, I'm adding the corresponding section in now.
#please-close

[2021-12-16 20:37] #84474 closed

[2021-12-16 20:44] mabperreault opened #85412 "AKS Canada East support"
It seems like AKS supports the Canada East region, but it is not listed here: https://docs.microsoft.com/en-us/azure/aks/availability-zones#limitations-and-region-availability

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 471c32a2-1f6a-88d1-7df4-80b8f6fbc4a4
* Version Independent ID: 10de5ee1-942d-e30f-5f0c-f163bd4590

[2021-12-16 20:48] SatishBoddu-MSFT commented on #85388
[@thepaulmacca](https://github.com/thepaulmacca)
Our SME will review this issue and get back soon.

[2021-12-16 20:49] chucksnow opened #85413 "Expected experience when sharing externally with existing Azure AD accounts."
Is this documentation accurate?

https://docs.microsoft.com/en-us/azure/active-directory/external-identities/o365-external-user?source=docs#feedback

"OneDrive/SharePoint Online adds users to the directory after users have redeemed their invitations."

One of our M365 DSE Sr. Customer Engineers telling me that the documentation is not accurately reflecting the expected experience.   We are sharing

[2021-12-16 20:52] SatishBoddu-MSFT commented on #85389
[@diegodct](https://github.com/diegodct)
Our SME will review this issue and get back soon.

[2021-12-16 20:52] SatishBoddu-MSFT commented on #85390
[@Brunoga-MS](https://github.com/Brunoga-MS)
I have assigned the issue to the content author for further review.

[2021-12-16 20:53] SatishBoddu-MSFT commented on #85391
[@Wiiki0807](https://github.com/Wiiki0807)
I have assigned the issue to the content author for further review.

[2021-12-16 20:59] thepaulmacca commented on #85388
Thanks, it would be good to know if the issue is what I think it is. I really don't know what else it could be

[2021-12-16 21:18] StefanKiendl commented on #50919
Where can I find any documentation to use the static IP for private link feature? I do not find anything anywhere except that thread.

I registerd for the the preview feature using "az feature register ..." and also got it approved.

Command:
`az feature list --query "[?properties.state == 'Registered']"`
shows:
[code]

But I do not see anything new popping up in Azure Portal and also do not see/k

[2021-12-16 21:21] StefanKiendl opened #85414 "Documentation for Azure PrivateLink with Static IP (Preview feature) is completely missing"
Where can I find any documentation to use the static IP for private link feature? I do not find anything anywhere except one old thread ( Issue #50919 ).

I registerd for the the preview feature using "az feature register ..." and also got it approved.

Command:
`az feature list --query "[?properties.state == 'Registered']"`
shows:
[code]

But I do not see anything new popping up in Azure Portal a

[2021-12-16 21:26] PatrickFarley commented on #83585
forwarding these questions to the PM

[2021-12-16 21:33] TomTom0815 opened #85415 "make available for JavaScript"
The "create your first function" example is available in JavaScript (node.js).
Next step, I would like to connect this js/node function to a database - like this examples promises - but it's only available in c# :(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62965f3a-d852-cbe8-3d01-a5126a16c660
* Version Independent

[2021-12-16 21:34] GeethaThatipatri-MSFT commented on #85406
Hi @deboergj Thanks for your findings, I'm assigning this to the author for the feedback review.

[2021-12-16 21:38] MarileeTurscak-MSFT commented on #85405
Closing this out in light of our offline discussion. Bullet #3 addresses this point by stating "You will need to deploy an AADConnect server for every Azure AD tenant you want to synchronize to - one AADConnect server cannot synchronize to more than one Azure AD tenant."

[2021-12-16 21:38] #85405 closed

[2021-12-16 21:45] MartinJaffer-MSFT commented on #85384
Thank you for bringing this up @santhosh-rajashekar .  I agree this statement is ... not explicit.  I _think_ this is referring to how you can connect with [PowerBI](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/tutorial-connect-power-bi-desktop), Azure Analysis Services, Cosmos DB, [assorted data tools](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/connect-overview),

[2021-12-16 22:02] ivapplyr commented on #50919
Static IP will GA Q1CY22.
Hoping to have PS /  CLI and Portal support this coming January :)

[2021-12-16 22:10] ivapplyr commented on #50919
Hello Stefan, Portal and CLI support is not here just yet. For now, you will need to configure this with ARM templates. Rest API details can be found here https://docs.microsoft.com/en-us/rest/api/virtualnetwork/private-endpoints/create-or-update

[2021-12-16 22:16] crisanmm opened #85418 "Azure functions page - misspelled word"
Synchronous is misspelled in the following paragraph.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b47363e3-c36f-0755-819c-26946013d673
* Version Independent ID: 197c63a1-9f72-1049-f27e-8c9c672ec472
* Content: [JavaScript developer reference for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/

[2021-12-16 22:18] ThomasWeiss commented on #85415
@TomTom0815 All code examples in this article are available in both C# and JavaScript. Can you clarify which example you see in C# only?

[2021-12-16 22:22] MartinJaffer-MSFT commented on #85394
That's a great revision, thank you @jcbendernh .  I have created an edit with your changes.

[2021-12-16 22:38] bstolz opened #85419 "Ingress Object"
Hello - the ingress object in this article should have its yaml updated to include the new defaultBackend for Kubernetes 1.18+

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 597ba957-9501-5919-73a0-6d47b1ca2c6d
* Version Independent ID: 6345fa19-b3f2-ffd6-f526-908f845b51f6
* Content: [Use your TLS certificates

[2021-12-16 22:45] whhender commented on #85251
@tifischer - Collection admin is indeed the permission needed to provide access to the Purview Studio. Presently, it can take some time for this permission to resolve after it has been assigned, but the team is working on a solution so that this process goes much faster.

I have updated the command so it is easier to follow! Thank you for the feedback.

[2021-12-16 22:45] whhender commented on #85251
#please-close

[2021-12-16 22:45] #85251 closed

[2021-12-16 22:51] stevemunk commented on #80136
#please-close

[2021-12-16 22:51] #80136 closed

[2021-12-16 22:55] stevemunk commented on #78414
@gcontrabass On July 15 SatishBoddu-MSFT asked a question, I don't see a response to that question. Is this still an issue that you need help with?

[2021-12-16 23:01] stevemunk commented on #77844
@manhquang144 I'm going to close this issue since you have not responded to it since July. If you still need help with this, please open a new issue and @Mention me.

[2021-12-16 23:01] stevemunk commented on #77844
#please-close

[2021-12-16 23:01] #77844 closed

[2021-12-16 23:04] stevemunk commented on #77721
#please-close

[2021-12-16 23:04] #77721 closed

[2021-12-16 23:04] ahyerman opened #85421 "Python section of Enable public access links to wrong API"
Enable public access section links to delete instead of update documentation - the correct URL should be: https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.workspace(class)?view=azure-ml-py#update-friendly-name-none--description-none--tags-none--image-build-compute-none--service-managed-resources-settings-none--primary-user-assigned-identity-none--allow-public-access-when-behin

[2021-12-16 23:05] stevemunk commented on #77019
#please-close

[2021-12-16 23:05] #77019 closed

[2021-12-16 23:11] maxbryan opened #85422 "US Phone is not being detected."
I'm not seeing that this service is detecting US Phone numbers when I try to hit the endpoint. Is this still supported?

<img width="1297" alt="Screen Shot 2021-12-16 at 5 11 05 PM" src="https://user-images.githubusercontent.com/3952680/146462437-d8c56ef3-c18f-40c3-b28f-6701cb6f4294.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-12-16 23:47] TLKG opened #85423 "Step 13 Broken for learn-function"
The [Learn module](https://github.com/MicrosoftDocs/mslearn-module-shifting-nodejs-express-apis-to-serverless) provided at [Set up and explore the sample project](https://docs.microsoft.com/en-us/learn/modules/shift-nodejs-express-apis-serverless/3-exercise-setup) is broken at step 13. Yielding

OUTPUT
[code]

TERMINAL:
`[HPM] Error occurred while trying to proxy request /api/vacations/ from local

[2021-12-16 23:56] tkent commented on #84844
@tspearconquest  - I gotcha. FWIW we are actually managing the service access to the service bus through managed identities with only the `Microsoft.ServiceBus/*/queues/read` and `Microsoft.ServiceBus/*/receive/action` scoped to just the specific queue they need to use. I expect (but haven't confirmed) that those identities will not have access to the namespace.

Our challenge is that identities w

[2021-12-17 00:17] Rick-Anderson opened #85425 "remove no longer updating this content regularly. from TOC"
[**.NET (v3)**](https://docs.microsoft.com/en-us/previous-versions/azure/key-vault/quick-create-net-v3?toc=/azure/key-vault/secrets/toc.json&bc=/azure/key-vault/breadcrumb/toc.json) is click bait.

![image](https://user-images.githubusercontent.com/3605364/146467716-98dca33c-b230-4c96-9940-cb69deb5202d.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-12-17 00:35] johndowns commented on #85238
@tfitzmac The issue here is:
* Suppose you have an environment with two subscriptions (I'll refer to them as subscription A and B). Subscription A is a 'shared services' subscription, and subscription B contains a production workload.
* You deploy the logz.io partner solution into subscription A. The RP is registered successfully in subscription A.
* You have resources in subscription B (say, a st

[2021-12-17 00:45] johndowns commented on #85388
Hi @thepaulmacca, this is quite a detailed scenario and I'm not sure if I can help to unpick all of this. I'll try to help but it might be worth opening a support case to resolve this.

Here are some questions to help try to clarify the issue:
1. Are you able to provide more detail on the exact error you're getting?
2. I see you have multiple role assignments - are they all getting errors during r

[2021-12-17 00:47] kgremban commented on #85386
@joachim-lazaroms-isolectra Thank you for your suggestion. In the context of this bash command, either single quotes or double quotes should work fine. Technically single quotes are more correct as we want the literal connection string to be passed in, without any processing of special characters that it might contain (although it shouldn't contain any).

For reference: https://www.gnu.org/softwar

[2021-12-17 00:47] #85386 closed

[2021-12-17 00:55] SatishBoddu-MSFT commented on #85399
[@alexcvx](https://github.com/alexcvx)
I have assigned the issue to the content author for further review.

[2021-12-17 00:58] SatishBoddu-MSFT commented on #85401
[@sinePaul](https://github.com/sinePaul)
Our SME will review this issue and get back soon.

[2021-12-17 01:00] SatishBoddu-MSFT commented on #85404
[@TLKG](https://github.com/TLKG)
I have assigned the issue to the content author for further review.

[2021-12-17 01:03] SatishBoddu-MSFT commented on #85408
[@daemel](https://github.com/daemel)
Our SME will review this issue and get back soon.

[2021-12-17 01:05] SatishBoddu-MSFT commented on #85409
[@ma3u](https://github.com/ma3u)
I have assigned the issue to the content author for further review.

[2021-12-17 01:06] skarlupka opened #85428 "Well Known CA Option Firewall Blocking CA Downloads"
The Well Known CA Option for the end-to-end TLS configuration on the application gateway fails to note that the well known CA certificates get downloaded by the application gateway after its provisioned. If a firewall is blocking most outbound traffic, the application gateway can't download the CA certificates. Connections to the backend fail with a generic CA error. An engineer must catch the iss

[2021-12-17 01:06] JenifferKiki opened #85429 "Error when logout, please add note"
Hello Team,

For application like Settling music which doesn't support sign out, the logout URL is not like below format.
https://login.microsoftonline.com/{tenant-id}/saml2

It should be set as below:
https://login.microsoftonline.com/common/wsfederation?wa=wsignout1.0

Otherwise, when user try to sign out they will get error message:
Message: AADSTS750054: SAMLRequest or SAMLResponse must be pre

[2021-12-17 01:09] SatishBoddu-MSFT commented on #85410
[@lindacmsheard](https://github.com/lindacmsheard)
Our SME will review this issue and get back soon.

[2021-12-17 01:11] SatishBoddu-MSFT commented on #85412
[@mabperreault](https://github.com/mabperreault)
Our SME will review this issue and get back soon.

[2021-12-17 01:15] SatishBoddu-MSFT commented on #85413
[@chucksnow](https://github.com/chucksnow)
Our SME will review this issue and get back soon.

[2021-12-17 01:16] SatishBoddu-MSFT commented on #85414
[@StefanKiendl](https://github.com/StefanKiendl)
I have assigned the issue to the content author for further review.

[2021-12-17 01:27] SatishBoddu-MSFT commented on #85419
[@bstolz](https://github.com/bstolz)
Our SME will review this issue and get back soon.

[2021-12-17 01:30] SatishBoddu-MSFT commented on #85421
[@ahyerman](https://github.com/ahyerman)
Our SME will review this issue and get back soon.

[2021-12-17 01:31] #85418 closed

[2021-12-17 01:33] SatishBoddu-MSFT commented on #85422
[@maxbryan](https://github.com/maxbryan)
Our SME will review this issue and get back soon.

[2021-12-17 01:33] SatishBoddu-MSFT commented on #85423
[@TLKG](https://github.com/TLKG)
I have assigned the issue to the content author for further review.

[2021-12-17 01:34] SatishBoddu-MSFT commented on #85425
[@Rick-Anderson](https://github.com/Rick-Anderson)
I have assigned the issue to the content author for further review.

[2021-12-17 01:36] SatishBoddu-MSFT commented on #85428
[@skarlupka](https://github.com/skarlupka)
Our SME will review this issue and get back soon.

[2021-12-17 01:37] SatishBoddu-MSFT commented on #85429
[@JenifferKiki](https://github.com/JenifferKiki)
I have assigned the issue to the content author for further review.

[2021-12-17 02:50] phduf opened #85430 "Additional Questions in the FAQ"
Customers are asking basic questions about the integration extension, can we add the following questions to the doc page

- If I remove the MDE.Linux extension will this remove MDE from the server?
- Does the MDE.Linux extension configure the MDE on the server?
- How do I remove MDE from my servers without disabling Defender for Server?
- I transferred my subscription between tenants and now MDE.L

[2021-12-17 03:18] curious-toast commented on #64209
Any updates on this? I run into this issue from time to time. Azure Gov seems to be more consistent when enabling the add-on via az cli. On Azure commercial, I have seen that `ErrorApplicationGatewayForbidden` error throw dozens of times before coming up as healthy.

[2021-12-17 03:30] Phil-Jensen commented on #85205
@NickEales - confirming this is working as documented.  This can be seen in the log files where the count of snapshots for a prefix  is done, and any additional snapshots for the specified prefix are deleted.  See the below log extract:
`[17/Dec/2021:16:25:58 +13:00] DEBUG: [PID:0015862:StorageANF:165] Snapshot 'quarter_hourly__2021-12-16T233002-3828665Z' is number 17, which is more than the reten

[2021-12-17 03:34] Phil-Jensen commented on #85205
@NickEales  - and if the `--trim` option is used, the following is output in the logs:
`[17/Dec/2021:16:31:10 +13:00] INFO : [PID:0016494:Backup:414] Backup catalog trim requested to keep a maximum of 16 in the catalog for prefix quarter_hourly`

[2021-12-17 03:51] XavierGuerette opened #85433 "Function Signature in VS Code Differs from the Documentation"
Hi,

The function signature in VS Code differs from the documentation. This is the function template that is generated when I use VS Code:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a109c38e-b241-c9a2-7ef8-2e828659191c
* Version Independent ID: 69842b0f-607f-5cf5-6e1a-4d312c98100c
* Content: [Azure Event Hu

[2021-12-17 04:42] AjayKumar-MSFT commented on #85258
mvisosky, No worries. Thanks for leveraging Azure docs feedback channel to raise this question and follow-up to share the update.

[2021-12-17 05:18] andyliuliming opened #85434 "the "mcr.microsoft.com/aks/fundamental/base-ubuntu:v0.0.11" should not be used in the document."
[Enter feedback here]
the "mcr.microsoft.com/aks/fundamental/base-ubuntu:v0.0.11" should not be used in the document.
that image is an internal image, and out of date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b81a147-db1c-b92f-88d1-6dd0991a72fe
* Version Independent ID: f5a2c949-498f-5848-d89c-031d1a757120
* Con

[2021-12-17 05:25] MughundhanRaveendran-MSFT commented on #85061
@mikeblakeuk ,
Could you please provide some more details about the error/issue that you get when you deploy this template? Are you facing issues during template validation or during the deployment?

[2021-12-17 05:30] CheetahChrome opened #85435 "Missing Step of Copying Host Before Opening The Twins Explorer"
Before the step that says `Next, select the Open Azure Digital Twins Explorer (preview) button.`, there needs to be a step to copy the host of the Twins url. The reason is that the Twins Explorer has a popup when you go to that page that demands that host url; which can't be disregarded.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2021-12-17 06:37] rnd2822 commented on #85185
According to the changelog Firefox 95.0.1 contains a fix.
https://www.mozilla.org/en-US/firefox/95.0.1/releasenotes/

[2021-12-17 06:39] RohitMungi-MSFT commented on #85422
@maxbryan Based on the screen shot provided it seems you are only passing the phone number in the text to moderate without any language text. I think a better service for this use case is to use the text analytics API which can identify any text and classify them without any moderation. If you try to pass any text with the number then the phone no. is classified. For example: Using just the "phone

[2021-12-17 06:49] NakayamaKento opened #85436 "Wrong Command"
is wrong.
I guess that "az vm run-command list --vm-name "myVM" --resource-group "myRG"" is right.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 187ea459-7121-0d9f-db71-be056218c415
* Version Independent ID: 447d4d3a-f488-6516-9cc4-db1ad06bd9e5
* Content: [Run scripts in a Linux VM in Azure using managed Run Commands

[2021-12-17 06:49] AshokPeddakotla-MSFT commented on #85435
[@CheetahChrome](https://github.com/CheetahChrome) Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-12-17 07:24] shashishailaj commented on #85324
@hemanthmatam We are closing this issue now as we have note received any response and hope that the instructions provided helped. Should you still get any error , please open a thread on [Microsoft QnA](https://docs.microsoft.com/en-us/answers/index.html) and we will continue to help you there.

Thank you.

[2021-12-17 07:24] #85324 closed

[2021-12-17 08:11] SubhashVasarapu-MSFT commented on #85436
@NakayamaKento , Thanks for reaching out. We will investigate and update this thread.

[2021-12-17 08:14] joachim-lazaroms-isolectra commented on #85386
i did know about the single and double differce in bash, good information :)
would it be helpfull to reply here the error message when i use the single qoute?

[2021-12-17 08:16] SubhashVasarapu-MSFT commented on #85436
@NakayamaKento, Yes here is the right command,
[code]

We appreciate your feedback. The doc has been edited accordingly and it would take some time for the changes to get reflected over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-12-17 08:16] #85436 closed

[2021-12-17 08:16] sandervandevelde commented on #85106
Hello @SubhashVasarapu-MSFT ,

the text says:

    Export the P2S *client certificate* you created and uploaded to your P2S configuration on the gateway.

I have done this [process](https://sandervandevelde.wordpress.com/2021/12/14/jump-box-part-2-azure-vnet-connection-with-a-point-to-site-vpn-gateway/) and I had do upload the base64 *root* certificate to the P2S configuration, not the client cert

[2021-12-17 08:19] TomTom0815 commented on #85415
@ThomasWeiss Thanks for the quick reply. Yesterday I stuck at the side and didn't found the button at the top to switch between C# and JavaScript - today I see it. Maybe the button wasn't there yesterday or I was just too tiered after many hours of coding... With a good night sleep it looks much better. (Best wished for the holidays)

[2021-12-17 08:35] debashishgouda22 opened #85438 "Limit the User.Read.All permission to certain attributes instead of all attributes."
[Enter feedback here]

The API permissions(Application Type) User.Read.All allows the application to read all the user's attributes from the portal. Is there any way we can restrict the access and allow very limited attributes such as Firstname, Lastname, email and object Id to be accessible using an API permission.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2021-12-17 09:02] kekatahi opened #85439 "Please add customer friendly sentence when we set the value of the Certificate key to the thumbprint"
[Enter feedback here]
Please add customer friendly sentence when we set the value of the Certificate key to the thumbprint
Sometimes there are spaces between the hexadecimal numbers.
Following sentence will help other users.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0cd3dc1-33ed-8127-86b2-f3d7538d0ff0
* V

[2021-12-17 09:14] ThierryVanacker-TomTom opened #85440 "Q about sample code"
Dear,
The samples for Reserved Instance Usage Summary show 2 times the same for daily and monthly, is this correct?
Regards,
Thierry

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16ccaf43-f0cb-7524-fa29-0122fc6c8389
* Version Independent ID: 11a33b15-5827-8e11-10d1-67a6bfbed758
* Content: [Migrate from Enterprise Repo

[2021-12-17 09:17] casellia commented on #34360
I have the same issue, all the action you proposed don't have a resolution for me.
There are any suggestion?

[2021-12-17 09:27] ThierryVanacker-TomTom opened #85441 "Q on code sample"
Dear,

The code sample on Reserved Instance Usage Summary
it says : https://management.azure.com/{scope}/Microsoft.Consumption/reservationSummaries?grain=daily&$filter=properties/usageDate ge 2017-10-01 AND properties/usageDate le 2017-11-20&api-version=2019-10-01
Shouldn't it be
https://management.azure.com/{scope}/**providers/**Microsoft.Consumption/reservationSummaries?grain=daily&$filter=prope

[2021-12-17 09:29] dimazoin opened #85442 "It's absolutely unclear what means under "The partner user that was linked through the Partner Admin Link (PAL)". I did not link partner user on previous steps, I linked partner MPN ID to Azure subscription. Can somebody clarify?"
It's absolutely unclear what means under "The partner user that was linked through the Partner Admin Link (PAL)". I did not link partner user on previous steps, I linked partner MPN ID to Azure subscription. Can somebody clarify, where I should link partner user to the customer and how system will understand in case I will be provided with a new account in customer domain that I'm a partner user,

[2021-12-17 09:30] thepaulmacca commented on #85178
Looking [here](https://azure.microsoft.com/en-gb/updates/public-preview-azure-kubernetes-service-configuration-management-with-gitops/) this should be possible with Bicep, but there's zero documentation currently, only Azure CLI

It's disappointing to have so much information lacking for something that's in public preview

[2021-12-17 09:38] lightupdifire opened #85443 "Multiple Subscriptions"
Hello,

Somehow not clearly explained about Multiple Subscriptions,
So we have 1x Tenant and we have 4x Subscriptions (A, B, C, D),
We deployed Microsoft Sentinel in Subscription A and activated Office 365 and Azure AD Audit connectors,
Does Microsoft Sentinel check for the data that is in Subscriptions B, C, D?
If we deploy now like Log4j, then it will scan all A, B, C, D subscriptions?

Or, for

[2021-12-17 09:39] ShaikMaheer-MSFT commented on #85145
@chez-charlie Could you please validate feedback and update document as appropriate.

[2021-12-17 09:41] SadiqhAhmed-MSFT commented on #85174
@koder101 We haven't heard back from you, so we will now close this issue. If this remains an issue, please contact Azure technical support team for further investigation.

[2021-12-17 09:41] #85174 closed

[2021-12-17 09:43] SadiqhAhmed-MSFT commented on #85111
@Glaubscher We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2021-12-17 09:43] #85111 closed

[2021-12-17 09:46] thepaulmacca commented on #85388
Hi @johndowns thanks for getting back to me, and thanks for the work that you're doing on the documentation by the way, it's great

Answers to your questions below:

1. This is the error I'm getting:
[code]

2. There's only one role assignment getting an error, and infact, it errors on the first deployment
3. This is the role assignment that I think is causing the issue:
[code]

Here's a screensho

[2021-12-17 09:48] #85320 closed

[2021-12-17 09:59] SubhashVasarapu-MSFT commented on #85430
@phduf , Thanks for your feedback. We have assigned this request to the respective content owner for updating the document accordingly.

[2021-12-17 10:03] SubhashVasarapu-MSFT commented on #85434
@andyliuliming , Thanks for reaching out. We will investigate and update this thread.

[2021-12-17 10:09] SubhashVasarapu-MSFT commented on #85433
@XavierGuerette , Thanks for reaching out. We will investigate and update this thread.

[2021-12-17 10:20] djimmo opened #85444 "VerificationEnroll function does not work in NET 6.0"
Hi,

I am enrolled in the Speaker Recognition capability and very eager to try out this functionality. However when I try to compile the example method VerificationEnroll I get the following error in Visual Studio for Mac 2022 Preview:

![Screenshot 2021-12-17 at 11 01 22](https://user-images.githubusercontent.com/5882470/146527160-dd908cd7-50b2-4e5a-9e0c-15abfa2e9163.png)

If I change phraseResul

[2021-12-17 10:22] zhaoyiming0803 opened #85445 "I do not show serviceConfig in app.js"
I do not show serviceConfig in app.js, source `https://github.com/microsoft/FluidHelloWorld/blob/main/src/app.js`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef3439fd-6651-b743-3854-6fe89f120cbc
* Version Independent ID: 99ed4c62-0e99-5233-7e95-0d7072c2256a
* Content: [Quickstart: Dice roller - Azure Fluid Relay](ht

[2021-12-17 10:35] SubhashVasarapu-MSFT commented on #85162
@nickkounz, Thanks for your feedback. Looks like the solution provided got discontinued with missing text. We will work on the doc.

[2021-12-17 10:39] nickkounz commented on #85162
@SubhashVasarapu-MSFT that was an issue with `<>` description updated. Thanks

[2021-12-17 10:39] mikeblakeuk commented on #85061
I just think the example is wrong.

[2021-12-17 10:40] razstan opened #85447 "Missing information about enabling metrics logs on HSM Key Vault"
Hello,

We have the information to enabled audit logs :

az monitor diagnostic-settings create --name ContosoMHSM-Diagnostics --resource $hsmresource --logs '[{"category": "AuditEvent","enabled": true}]' --storage-account $storageresource

We are missing the information about enabling metrics logs :

az monitor diagnostic-settings create --name ContosoMHSM-Diagnostics --resource $hsmresource --log

[2021-12-17 10:52] shashishailaj commented on #85438
@debashishgouda22 Thank you for your query . We will review this and update the thread.

[2021-12-17 10:55] shashishailaj commented on #85447
@razstan Thank you for sharing this. We will have this reviewed and accordingly initiate a change request on this .

[2021-12-17 10:56] shashishailaj commented on #85443
@lightupdifire Thank you for your feedback . We will investigate and update the thread.

[2021-12-17 11:01] neilpaton opened #85448 "Settings Catalog use in Intune"
Using settings catalog, it is now possible to set GPO settings in Intune, so you can granularly chose what to sync.
Should this page be updated to reflect this?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b4c6acf-b61d-b98d-6176-dc9646c699da
* Version Independent ID: b2dd8f2f-3d1b-c460-a3bc-a1d3a832dce2
* Content: [

[2021-12-17 11:03] razstan opened #85449 "Missing information about enable logging/ log analytics for key vault hsm via cli"
Missing information about enable logging/ log analytics for key vault hsm via command line :

$logAnalyticsId=$(az monitor log-analytics workspace show --resource-group "<RESOURCE GROUP>" --workspace-name "<WORKSAPCE NAME>" --query id --output tsv)
$mhsmId=$(az keyvault show --hsm-name "<MANAGED HSM NAME>" --query id --output tsv)
az monitor diagnostic-settings create \
  --workspace $logAnalytics

[2021-12-17 11:05] dominicbetts commented on #85276
It looks like we need to add some clarifications to the article - you need to make the code changes described in the "Group enrolment" section. The code changes are the same whether you're using an individual or group enrolment - the difference between the two scenarios ids how you generate and install the X.509 certs.
I'll add an item to our backlog to make this clear in the article. Thanks again

[2021-12-17 11:09] nicolasmohamed commented on #6788
It a security policy related issue. In order to use CspKeyContainerInfo.CryptoKeySecurity property, the user who runs the process must have **SeSecurityPrivilege** --> "_go to local security policy and add the account you’re using to perform the install with Manage Auditing and Security Logs User right_."

[https://anothersharepointblog.com/localsecurityprivilegeslockeddown](https://anothersharepo

[2021-12-17 11:21] IknowJoseph opened #85450 "WAF custom response elements"
articles/web-application-firewall/afds/waf-front-door-configure-custom-response-code.md

The above details using "{{azure-ref}}" to insert the tracking reference string into the response body, pulling directly from Trackingreference field in WAF monitoring & logging. This works exactly as I'd expect.

Are other logged items available for presentation via the response body in the same manner? If so

[2021-12-17 11:35] tyeth commented on #37100
This is brilliant, same problem in 2022. I had a local.settings.json but forgot to put my values in "values" just had at root object level. This resulted in no remote settings being loadable, nor local displayed. When I add a value to the dialog it shows up as remote only and wont show the other remote values but it does actually submit to remote immediately upon adding a value in the UI.

Reading

[2021-12-17 12:13] RohitMungi-MSFT commented on #85444
@djimmo I think the issue in this case is the list of phrases are not returned. The list of phrases should be the following mentioned [here](https://docs.microsoft.com/en-us/rest/api/speakerrecognition/#text-dependent-speaker-verification). This may be an issue with the SDK if you are provided access to the functionality and the API does not return the phrases. I have noticed 1 user reported simil

[2021-12-17 12:55] anshu9470 commented on #6544
You can enable it through below PowerShell Command.

New-AzMonitorLogAnalyticsSolution -Type ChangeTracking -ResourceGroupName {LogAnalyticsResourceGroup} -Location {LogAnalyticsLocation} -WorkspaceResourceId {LogAnalyticsResourceId}

There is no PowerShell command with reference from automation account because it is related to properties(Solution) of log analytics. However once you enabled this y

[2021-12-17 13:03] AjayKumar-MSFT commented on #85439
@kekatahi, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-12-17 13:08] AGauchat opened #85452 "?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6367067e-e9ce-6c2a-dd5d-a9de54735e78
* Version Independent ID: 18564fed-2285-8cab-39a0-e3f1c2407c19
* Content: [Tutorial: Build a .NET console app to manage data in Azure Cosmos DB SQL API account](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/

[2021-12-17 13:34] XavierGuerette opened #85453 "Azure Event Grid Trigger and Azure Event Grid Output Binding Not Available in User Interface"
Hi,

Just wanted to let you know that the option for Azure Event Grid Trigger is not available from the user interface in Visual Studio Code. I was able to use the Event Grid Output binding by typing the binding in the editor, but there are no option to add the Azure Event Grid output binding in Visual Studio for Python.

I wanted to report this user interface problem, not sure if it can be consid

[2021-12-17 13:53] GitaraniSharma-MSFT commented on #85368
@mundayn , the public preview is for the ability to add UDR to Private Endpoint with a **wider subnet range**. And you are correct, it will help bypass the default 'InterfaceEndpoint' route that gets added with every Private Endpoint.

Before testing, did you register for the feature and set the subnet level property called PrivateEndpointNetworkPolicies to Enabled? Also, are you testing this feat

[2021-12-17 13:55] GitaraniSharma-MSFT commented on #85367
@mundayn , thank you for the update. We have assigned this to the content owner/author for review.

@asudbring , for your review.

[2021-12-17 14:02] Karishma-Tiwari-MSFT commented on #85160
To help me understand your feedback better, can you please share the specific section in the document that you are referencing?
Let me know. Thanks.

[2021-12-17 14:32] ltalirz opened #85455 "Confusing use of "VM generation"?"
The page currently contains the block

My suggestions:

 - Explain once what SR-IOV means (the abbreviation is not introduced)
 - The block says there are currently two classes of VMs and mentions "the newer generation VMs", but I believe this is a different meaning from the generation discussed [here](https://docs.microsoft.com/en-us/azure/virtual-machines/generation-2). Since the gen1/gen2 diffe

[2021-12-17 14:57] jdanton opened #85456 "Backup example won't work with LRS"
The backup to URL syntax in this doc will not work with LRS, as it backs up to the root of the container, and not into a folder.

The syntax is as below:

-- Example of how to make a full database backup to a URL
BACKUP DATABASE [SampleDB]
TO URL = 'https://<mystorageaccountname>.blob.core.windows.net/<mycontainername>/SampleDB_full.bak'
WITH INIT, COMPRESSION, CHECKSUM
GO
-- Example of how to mak

[2021-12-17 14:59] jdanton opened #85457 "Functional Limitations Should be Higher in the Doc"
The functional limitations, particularly nested folders *not* being supported, should be earlier in the doc, so the reader knows about them before taking a backup.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 205253ee-6d89-9f24-567c-be6135e4a1e7
* Version Independent ID: 7af236b1-adf8-c6e2-a3b4-ddc38d944f9f
* Content

[2021-12-17 15:00] Karishma-Tiwari-MSFT commented on #84867
I couldn't find any documentation on this.
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-17 15:03] shaunsat opened #85458 "Virtual network service endpoint"
Has this feature been removed? az cli doesn't like:  --next-hop-type VirtualNetworkServiceEndpoint

https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-udr-overview#service-tags-for-user-defined-routes-preview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38bd69ac-a1b5-a401-184d-37b55188a7c4
* Vers

[2021-12-17 15:41] cdillahunty-nasuni opened #85459 "The uncached throughput for Standard_D48ads_v5 is incorrect"
[Enter feedback here]
The uncached throughput listed for Standard_D48ads_v5 is incorrect. It's listed as 200 MBps when I believe the value should be 2000 MBps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5211289-a99f-3f6f-83c6-bd6d89844ef3
* Version Independent ID: ef06c30a-be36-8b6a-d870-8f8199c6fc99
* Content: [D

[2021-12-17 15:43] VitalyMCT opened #85460 "Backup is now supported in Preview using Enhanced Policies"
https://docs.microsoft.com/en-us/azure/backup/backup-azure-vms-enhanced-policy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cedc5fc7-5576-f22f-9c9a-a2977ad93607
* Version Independent ID: e7cda6ea-acd1-b56f-9d81-92d6fde31921
* Content: [Trusted launch for Azure VMs - Azure Virtual Machines](https://docs.microsoft.com/

[2021-12-17 15:44] suman-kore opened #85461 "Add a note saying Internal Transactions are also included in the Storage Metric Transactions"
We created a storage and we dint do any transactions (GetBlobServiceProperties, QueryTables, QueryEntities etc. ) from our end, however, we can see couple of transactions in storage account Metric Graph.As per this documentation , we understand that the storage analytics metrics are enabled by default for new storage accounts and it is expected to see such kind of transaction. Ask:  Can we update

[2021-12-17 15:46] JuFranze commented on #82612
Hi Nina,

Oh wow. Nice to hear from you. The feedback you are referring to is like 5 months old...

With viewport I was referring to the UI of Synapse Analytics studio. (not the text in the docs)
I would like to send you a screenshot but synapse studio is not opening on the iPad anymore. I tried Chrome and Edge and Safari... none of the browsers worked... it just kept on saying "Loading".

If you

[2021-12-17 15:56] jchannon commented on #44973
I've just hit this as i'm getting 409 in our test envs where we have upgrade to v12 libraries. Can someone link me to the solution to get this working and for it to overwrite existing blobs. Thanks 🙏

[2021-12-17 16:17] djimmo commented on #85444
https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1356

[2021-12-17 16:23] gmndrg commented on #85439
We have incorporated the feedback and waiting the changes to be merged. Thank you for helping us improving our content!

From: AjayKumar-MSFT ***@***.***>
Sent: Friday, December 17, 2021 7:04 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Gia Mondragon ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Please add customer friendly sentence when we set the value of the Cer

[2021-12-17 16:26] dazinator opened #85465 "When downloading PFX you must use --encoding base64"
It's not obvious that in order to download a PFX file (secret), you must specify `--encoding base64` else you will end up downloading a plain text version (base64) of the file which is useless in most cases and is the default behaviour. For example, .net API's that open / read pfx files will fail if given this as input. See my comment here: https://github.com/dotnet/runtime/issues/23763#issuecomme

[2021-12-17 16:29] sjackson0109 commented on #84605
I just wasted hours trying to deploy the 'Standard_NC4as_T4_v3' VM to about 5x different regions, all because the spec-sheet https://docs.microsoft.com/en-us/azure/virtual-machines/nct4-v3-series doesn't include region-specific availability informaiton.

Looking at the region and avaialbility document, it's still not clear where i can find the available spec located anywhere within the northern he

[2021-12-17 16:30] MarileeTurscak-MSFT commented on #85465
@dazinator
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-17 16:30] MarileeTurscak-MSFT commented on #85449
@razstan
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-17 16:31] MarileeTurscak-MSFT commented on #85448
@neilpaton
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-17 16:55] mmacy commented on #84415
#label:doc-bug

[2021-12-17 16:56] tfitzmac commented on #85238
Thanks @johndowns this is good info. Is it accurate to say:
"You must register Microsoft.Logz in the subscription that contains the Logz.io resource, and any subscription with resources that send telemetry to Logz.io."

[2021-12-17 17:04] mmacy commented on #84556
#label:"doc-bug"

@amanmcse @JamesTran-MSFT @MarileeTurscak-MSFT Can one of you remove the `doc-enhancement` label from this one? This looks like a bug in our code snippet(s), not an enhancement request.

@amcclain Thanks for letting us know about this! We'll take a look.

[2021-12-17 17:17] matflol opened #85467 "Possibly a small mistake in Method 2"
Hello,
Some adjustments were made to this document following issue #81236. Thank you for this!

I think a small error remains in the new version if you wish to take a look.

When you assign a group as eligible, every group member receives the eligible assignment. It is visible in "My roles" for each member. However, each member still has to activate their role individually.

---
#### Document Deta

[2021-12-17 17:27] MarkusVi commented on #79618
The fields are documented [here](https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/reference-basic-info-sign-in-logs).

#please-close

[2021-12-17 17:27] #79618 closed

[2021-12-17 17:35] bandersmsft commented on #85442
https://github.com/MicrosoftDocs/azure-docs-pr/pull/183195

[2021-12-17 17:35] dianasm22 opened #85468 "Backup integrity in Azure SQL Managed Instance"
Hi! On the "Backup integrity" section of this document "https://docs.microsoft.com/en-us/azure/azure-sql/database/automated-backups-overview?tabs=single-database", it states that:

"On an ongoing basis, the Azure SQL engineering team automatically tests the restore of automated database backups. (This testing is not currently available in SQL Managed Instance. You should schedule DBCC CHECKDB on y

[2021-12-17 17:37] bandersmsft commented on #85442
Hi @dimazoin - thanks for the feedback, the partner user is referring to the user/guest account you received from the customer in the [initial step](https://docs.microsoft.com/azure/cost-management-billing/manage/link-partner-id-power-apps-accounts#get-access-from-your-customer). That same user needs to be linked to your MPN ID through PAL and also connected to the product resource (specific steps

[2021-12-17 17:37] #85442 closed

[2021-12-17 17:43] dianasm22 commented on #85468
Hi! On the "Backup integrity" section of this document "https://docs.microsoft.com/en-us/azure/azure-sql/database/automated-backups-overview?tabs=single-database", it states that:

"On an ongoing basis, the Azure SQL engineering team automatically tests the restore of automated database backups. (This testing is not currently available in SQL Managed Instance. You should schedule DBCC CHECKDB on y

[2021-12-17 17:48] #85394 closed

[2021-12-17 17:53] romankiss commented on #84661
Hi @dominicbetts,

I am facing a runtime problem with an _enqueuedTime_ property (it is a _struct_ type) in the text like is shown in the following example:

![image](https://user-images.githubusercontent.com/30365471/146585870-cf464d6b-8b4c-481a-8a31-4e9e25af32f4.png)

As you can see the above screen snippet, there is no issue during the design time (the property is shown as a string type), but d

[2021-12-17 18:03] SatishBoddu-MSFT commented on #85440
[@ThierryVanacker-TomTom](https://github.com/ThierryVanacker-TomTom)
Our SME will review this issue and get back soon.

[2021-12-17 18:05] marcelkmfst opened #85469 "More information about regional routing"
Hi,

can there please be more information for regional routing provided? we try to use frontdoor for regional routing (as we have to have an APIM in another region for DR). However, there are not much information, just Traffic Manager and no concrete information where to retrieve the regional endpoints etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-12-17 18:11] mike-urnun-msft commented on #85453
Hello @XavierGuerette - Thank you for your feedback! We will review and update as appropriate.

[2021-12-17 18:12] SatishBoddu-MSFT commented on #85441
[@ThierryVanacker-TomTom](https://github.com/ThierryVanacker-TomTom)
Our SME will review this issue and get back soon.

[2021-12-17 18:14] SatishBoddu-MSFT commented on #85445
[@zhaoyiming0803](https://github.com/zhaoyiming0803)
I have assigned the issue to the content author for further review.

[2021-12-17 18:16] kgremban commented on #85386
I'm not sure if I'll be able to help debug the issue, but sure. I'd be interested to know what error you got.

[2021-12-17 18:22] SatishBoddu-MSFT commented on #85450
[@IknowJoseph](https://github.com/IknowJoseph)
Our SME will review this issue and get back soon.

[2021-12-17 18:24] rcwalker74 opened #85470 "Typos in Command on Secure Hub Firewall migrate to Premium"
Line 2  -name "vWAN-name" , I believe should read -name "vWANhub-name"

$azfw = Get-AzFirewall -Name -Name "<firewall-name>" -ResourceGroupName "<resource-group-name>"
$hub = get-azvirtualhub -ResourceGroupName "<resource-group-name>" -name "vWAN-name"
$azfw.Sku.Tier="Premium"
$azfw.Allocate($hub.id)
Set-AzFirewall -AzureFirewall $azfw

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-12-17 18:25] SatishBoddu-MSFT commented on #85452
Hello @AGauchat As the query is incomplete,
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2021-12-17 18:25] #85452 closed

[2021-12-17 18:28] normesta commented on #85270
Thanks again for reaching out. Closing this issue as we're planning to keep the focus of this article around static sites in Azure Storage.

#please-close

[2021-12-17 18:28] #85270 closed

[2021-12-17 18:29] SatishBoddu-MSFT commented on #85455
[@ltalirz](https://github.com/ltalirz)
I have assigned the issue to the content author for further review.

[2021-12-17 18:30] SatishBoddu-MSFT commented on #85456
[@jdanton](https://github.com/jdanton)
I have assigned the issue to the content author for further review.

[2021-12-17 18:31] tiwalter opened #85471 "Container instance provisioning fails due to ErrorJoinVirtualNetwork and PrepareNetwork error"
We have a sporadic issue with container groups that connect to predefined subnets in a predefined Vnet.

## Initial Situation

We create a custom Vnet and subnet. After the network creation, we deploy a ContainerGroup defined as follows:

[code]

## Error message & behaviour

### Prepare network failed & VNET provisioning failed

The `az container create` command fails with: `Operation returned an

[2021-12-17 18:31] SatishBoddu-MSFT commented on #85457
[@jdanton](https://github.com/jdanton)
I have assigned the issue to the content author for further review.

[2021-12-17 18:32] SatishBoddu-MSFT commented on #85458
[@shaunsat](https://github.com/shaunsat)
Our SME will review this issue and get back soon.

[2021-12-17 18:34] SatishBoddu-MSFT commented on #85459
[@cdillahunty-nasuni](https://github.com/cdillahunty-nasuni)
Our SME will review this issue and get back soon.

[2021-12-17 18:39] SatishBoddu-MSFT commented on #85460
Hello @VitalyMCT Thanks for the feedback.

Could you please add more info to the issue, so that we better understand what is the ask.

@Karishma-Tiwari-MSFT Could you please help us with this issue/

[2021-12-17 18:42] emuench commented on #82116
Thank you for your comments. We've updated the topic in question for clarification. If this does not resolve your question(s), please provide additional information, or submit a support ticket at https://docs.microsoft.com/en-us/azure/marketplace/support. Thank you for contributing! #please-close 60744

[2021-12-17 18:42] #82116 closed

[2021-12-17 18:50] himanshusinha-msft commented on #85327
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-12-17 19:26] jadematt-msft commented on #85434
The page provided is not the only page that contains this reference. Please remove all references to this image.

Alternatively, [mcr.microsoft.com/dotnet/runtime-deps](https://hub.docker.com/_/microsoft-dotnet-runtime-deps/) can be used instead. It has regularly patched images that are based on debian (default), ubuntu, or alpine.

[2021-12-17 19:30] cchapin-ms opened #85474 "video not available"
[Enter feedback here]
At the bottom of the page there is a section for a video and it shows not available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 914de10e-eaf5-d7b5-09be-c6d7b32408b2
* Version Independent ID: 5d35c099-0f3c-667e-3a43-66f2cf513461
* Content: [Smart detection in Azure Application Insights - Azure

[2021-12-17 19:32] JimacoMS4 commented on #85381
Hi @dnovvak Thanks very much for your feedback! I just tested the following in the portal using the **Test route** feature under **Message routhing/Add a route**:

- `STARTS_WITH($connectionDeviceId, "my")` worked as a query.
- `STARTSWITH($connectionDeviceId, "my")` failed with the following message: Invalid built-in function 'STARTSWITH'

The documentation appears correct to me. Can you share de

[2021-12-17 19:32] MarileeTurscak-MSFT commented on #85465
Thanks! I made a pull request to update the document. https://github.com/MicrosoftDocs/azure-docs-pr/pull/183224

[2021-12-17 19:32] #85465 closed

[2021-12-17 19:42] bandersmsft commented on #85440
Hi @ThierryVanacker-TomTom, you're correct. The example in https://docs.microsoft.com/en-us/rest/api/consumption/reservations-summaries/list#reservationsummariesmonthlywithbillingaccountid should have said monthly, not daily.

I've updated the article for this error.

Thanks for letting us know about this issue.

#please-close

[2021-12-17 19:42] #85440 closed

[2021-12-17 19:49] bandersmsft commented on #85441
Hi @ThierryVanacker-TomTom Thanks for raising this issue. The sample you mentioned doesn't have `providers` in it because it's expected that you replace `{scope}` with `providers/Microsoft.Billing/billingAccounts/{billingAccountId}`.

I hope this helps.

Relatedly, for https://github.com/MicrosoftDocs/azure-docs/issues/85440, I made a minor update to change our example from:

 https://management.a

[2021-12-17 19:49] #85441 closed

[2021-12-17 20:03] josuvil opened #85475 "Confirm Network Connectivity for Gov endpoints is not working"
Hello,

I'm not being successful in testing the government endpoints as suggested in this document. See link:

https://docs.microsoft.com/en-us/azure/active-directory/authentication/troubleshoot-sspr-writeback#confirm-network-connectivity

These are my PowerShell results when testing the following gov endpoint: ssprdedicatedsbprodscu.servicebus.usgovcloudapi.net

PS` C:\WINDOWS\system32> Test-NetC

[2021-12-17 20:10] MarileeTurscak-MSFT commented on #85467
@matflol
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-17 20:13] MarileeTurscak-MSFT commented on #85467
Thanks! I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/183234

@curtand please review.

[2021-12-17 20:13] #85467 closed

[2021-12-17 20:34] PatrickMessierGoC opened #85476 "The Microsoft.Network/loadBalancers example is actually a VM Disk example"
The example for the Microsoft.Network/loadBalancers is wrong. The correponding "Actual deployed ARM template" section depicts the VM disk example presented few paragraphs above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c01dc5ae-fd95-0d3a-bc60-5f6dbd9372b2
* Version Independent ID: bf6b4d40-08ba-7655-0547-8db6070c

[2021-12-17 20:43] MartinJaffer-MSFT commented on #85393
Thank you for your feedback. This has been assigned to the content owner and will be updated.

[2021-12-17 20:50] Garhag opened #85477 "Question about the expected output of get-azureadgroup - objectid <objectID here>"
Hi all,

Quick question for this one. The second example under thi documentation's **Retrieve groups** section (get-azureadgroup -ObjectId e29bae11-4ac0-450c-bc37-6dae8f3da61b) shows the following output:

DeletionTimeStamp            :
    ObjectId                     : e29bae11-4ac0-450c-bc37-6dae8f3da61b
    ObjectType                   : Group
    Description                  :
    DirSyncEnab

[2021-12-17 20:55] jenniehubbardDB commented on #54564
#label:"not-doc"
#label:"support-request"

[2021-12-17 21:01] scout208 commented on #85276
@dominicbetts Thank you for updating it. I've tried following your instructions but am still getting an error. Have you verified that the instructions work? I keep getting a `error registering device: Error: Connection refused: Not authorized` exception now and I'm not sure if it's just something I'm doing wrong.

[2021-12-17 21:02] jordanenglish opened #85478 "Add verification steps to API calls."
There should be GET examples to verify the PUT calls.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18b4787e-1e2f-dd28-b33b-0a220ad0819d
* Version Independent ID: c663cfb2-3ea6-4a6e-9d88-f146526ead59
* Content: [Assign roles to Azure Enterprise Agreement service principal names](https://docs.microsoft.com/en-us/azure/

[2021-12-17 21:06] besiler commented on #66343
Dan, I created a PR to clarify this on the resource doc: https://github.com/microsoftgraph/microsoft-graph-docs/pull/15289

We have lastsignindatetime back to Apr 2020 for all users, and longer than that for some. Updated the docs to say they should at least have back to Apr 2020.

For lastnoninteractivesignindatetime, we have history from back to May 2021

[2021-12-17 21:12] stevemunk commented on #63056
@frederickjohnsondc Sorry for the delay in responding. The `dataselected` Event fires when shapes are selected from a specified data source. For additional information, see [Azure Maps Selection Control module documentation](https://github.com/Azure-Samples/azure-maps-selection-control/tree/main/docs#azure-maps-selection-control-module-documentation).

[2021-12-17 21:14] besiler commented on #73531
The sign-in identifier is a string the user provides to Azure AD to identify itself when attempting to sign-in. It's usually a UPN, but can be another identifier such as a phone number.  We're adding it to the docs now, but here's the official description:

The identification used to sign in - includes UPN, but is also populated when a user signs in using other identifiers.

[2021-12-17 21:17] bandersmsft commented on #85478
@jordanenglish Thanks for the suggestion. Aside from the 200 OK responses already documented from the PUTs, do you have any recommended example GET calls that you’d like added to the article? I'll pass along your request to the EA billing engineering team for consideration to add to the article.

#please-close

[2021-12-17 21:17] #85478 closed

[2021-12-17 21:21] stevemunk commented on #74516
#please-close

[2021-12-17 21:21] #74516 closed

[2021-12-17 21:24] besiler commented on #83942
Result type contains the Azure AD error code for the sign-in event (if an error code was present). Error codes don't always represent failed sign-ins; they also describe interrupts or other special events. You can find detailed descriptions of what each resulttype error code means by copying the code into this form for more details: https://login.microsoftonline.com/error

[2021-12-17 21:24] besiler commented on #57529
@guyma you are indeed correct.

Result type contains the Azure AD error code for the sign-in event (if an error code was present). Error codes don't always represent failed sign-ins; they also describe interrupts or other special events. You can find detailed descriptions of what each resulttype error code means by copying the code into this form for more details: https://login.microsoftonline.com

[2021-12-17 21:25] besiler commented on #74844
Result type contains the Azure AD error code for the sign-in event (if an error code was present). Error codes don't always represent failed sign-ins; they also describe interrupts or other special events. You can find detailed descriptions of what each resulttype error code means by copying the code into this form for more details: https://login.microsoftonline.com/error

[2021-12-17 21:38] jenniehubbardDB commented on #56875
#please-close

[2021-12-17 21:40] jenniehubbardDB commented on #56891
#please-close

[2021-12-17 21:40] PRMerger5 commented on #56891
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2021-12-17 21:40] MarileeTurscak-MSFT commented on #85475
@josuvil
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-17 21:42] dianasm22 opened #85479 "Backup integrity in Azure SQL Managed Instance"
Hi! On the "Backup integrity" section of this document "https://docs.microsoft.com/en-us/azure/azure-sql/database/automated-backups-overview?tabs=single-database", it states that:

"On an ongoing basis, the Azure SQL engineering team automatically tests the restore of automated database backups. (This testing is not currently available in SQL Managed Instance. You should schedule DBCC CHECKDB on y

[2021-12-17 21:44] MarkusVi commented on #66343
I have also staged an update to the article.

#please-close

[2021-12-17 21:44] #66343 closed

[2021-12-17 21:47] dianasm22 commented on #85468
duplicate of #85479

[2021-12-17 21:47] #85468 closed

[2021-12-17 21:47] MarileeTurscak-MSFT commented on #85477
Hi @Garhag, I would have to see the comparison of the two outputs and the group properties to know for sure, but my guess is that the other properties don't apply to that group.

I would recommend posting to [Microsoft Q&A](https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered) and including the full output. Since this is more of a product question than a document

[2021-12-17 21:47] #85477 closed

[2021-12-17 22:06] MarileeTurscak-MSFT commented on #85448
Thanks! I made a pull request to link to the settings catalog documentation. https://github.com/MicrosoftDocs/azure-docs-pr/pull/183255

[2021-12-17 22:06] #85448 closed

[2021-12-17 22:19] GeethaThatipatri-MSFT commented on #85312
Hi, @peted70 Did you have the chance to check the above doc.? Please let us know.

[2021-12-17 22:23] MarkusVi commented on #73485
I have staged an update to the article to cover this.

#please-close

[2021-12-17 22:23] #73485 closed

[2021-12-17 22:29] MarkusVi commented on #73531
I have staged an update to the article to cover this.

#please-close

[2021-12-17 22:30] #73531 closed

[2021-12-17 22:32] danimir commented on #85457
We have went throught the document and made additional notes that nested folders are not supported, including examples. We however need to lead the page with the feature introduction first. Thanks.
#please-close

[2021-12-17 22:32] #85457 closed

[2021-12-17 22:33] danimir commented on #85456
Examples were updated (pending publishing cycle).
#please-close

[2021-12-17 22:33] #85456 closed

[2021-12-17 22:35] MarkusVi commented on #83942
#please-close

[2021-12-17 22:35] #83942 closed

[2021-12-17 22:35] tifischer opened #85480 "The information provided does not accurately represent what is needed for the value."
I am concerned that this doc is incorrect and needs to add a screenshot of where to get the value.  The image provided does not indicate the correct Secret value to use :
"Enter the Name of your choice and Value as the Client secret from your Service Principal"

The information provided does not accurately represent what is needed for the value.

---
#### Document Details

⚠ *Do not edit this sect

[2021-12-17 22:36] davidsmatlak commented on #41882
I updated [SKU not available](https://docs.microsoft.com/azure/azure-resource-manager/troubleshooting/error-sku-not-available) to include Azure CLI and Azure PowerShell commands for availability zones. After the changes are approved and merged, this issue will automatically close. After the merge, the updated document will be online within 24 hours (excluding weekends).

[2021-12-17 22:49] MarkusVi commented on #83282
Thanks for the information.
I have created a backlog-item to track this.

# please-close

[2021-12-17 22:49] #83282 closed

[2021-12-17 22:51] #41882 closed

[2021-12-17 22:53] roygara commented on #84371
@aakarner Thanks for the feedback, we appreciate it! We'll look at adding more examples to this article, I've created a work item tracking that work. We'll close this out, accordingly.

#please-close

[2021-12-17 22:53] #84371 closed

[2021-12-17 23:13] SatishBoddu-MSFT commented on #85461
[@suman-kore](https://github.com/suman-kore)
I have assigned the issue to the content author for further review.

[2021-12-17 23:15] SatishBoddu-MSFT commented on #85469
[@marcelkmfst](https://github.com/marcelkmfst)
I have assigned the issue to the content author for further review.

[2021-12-17 23:17] SatishBoddu-MSFT commented on #85470
[@rcwalker74](https://github.com/rcwalker74)
I have assigned the issue to the content author for further review.

[2021-12-17 23:21] SatishBoddu-MSFT commented on #85471
[@tiwalter](https://github.com/tiwalter)
Our SME will review this issue and get back soon.

[2021-12-17 23:44] karuanag opened #85481 "Clarify account limits"
It would be useful to describe what period of time the 600 /2400 minutes of free analysis is for.  A calendar or fiscal year or all time for that user account?  It's not clear as written.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6353cbb0-676b-a9ec-e63e-55904f1c4a76
* Version Independent ID: b330b7c6-7237-88f9-abb

[2021-12-18 00:35] mundayn commented on #85368
Hi Gitarani!

Thanks for the reply. I'm glad to hear that it means we can have a UDR with a wider subnet range.

I did register the feature and left the property for PrivateEndpointNetworkPolicies to Enabled.
I am in Canada Central, which is on the list.

After leaving it a day after setting AllowPrivateEndpointNSG my networks started having issues connecting to my SQL Private Endpoints and I coul

[2021-12-18 01:32] VitalyMCT commented on #85460
Can you clarify what additional info you require? The article says backup is unsupported, so the article is out of date.

[2021-12-18 01:53] SatishBoddu-MSFT commented on #85474
[@cchapin-ms](https://github.com/cchapin-ms)
I have assigned the issue to the content author for further review.

[2021-12-18 01:56] SatishBoddu-MSFT commented on #85476
[@PatrickMessierGoC](https://github.com/PatrickMessierGoC)
I have assigned the issue to the content author for further review.

[2021-12-18 01:58] SatishBoddu-MSFT commented on #85479
[@dianasm22](https://github.com/dianasm22)
Our SME will review this issue and get back soon.

[2021-12-18 01:59] SatishBoddu-MSFT commented on #85480
[@tifischer](https://github.com/tifischer)
I have assigned the issue to the content author for further review.

[2021-12-18 02:00] SatishBoddu-MSFT commented on #85481
[@karuanag](https://github.com/karuanag)
I have assigned the issue to the content author for further review.

[2021-12-18 02:26] GeethaThatipatri-MSFT commented on #85392
I'm assigning this to the author for the feedback review.

[2021-12-18 02:54] pjfontes opened #85485 "--include-regex missing?"
It appears that --include-regex is missing from the documentation.  It is mentioned on the release notes.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c02ef818-5e53-4582-43a8-22f9f2b2872d
* Version Independent ID: b8f45994-4ac2-f124-c613-b82316203b9f
* Content: [azcopy sync](https://docs.microsoft.com/en-us/azure/stor

[2021-12-18 03:11] iwashitah opened #85486 "Reply URL is wrong on Artifactory 7.x"
[Enter feedback here]
**Reply URL** for SaaS written in step 4. in [Configure Azure AD SSO](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/jfrog-artifactory-tutorial#configure-azure-ad-sso) should be https://\<servername\>.jfrog.io/artifactory/webapp/saml/loginResponse on Artifactory 7.x. If \<servername\> is specified, the following error occurs.

Request Id: b533579f-b1f8-4a9e

[2021-12-18 05:22] SubhashVasarapu-MSFT commented on #85470
@rcwalker74 , We appreciate your feedback. The doc has been edited accordingly and it would take some time for the changes to get reflected over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-12-18 05:22] #85470 closed

[2021-12-18 05:24] SubhashVasarapu-MSFT commented on #85485
@pjfontes , Thanks for reaching out. We will investigate and update this thread.

[2021-12-18 05:33] SubhashVasarapu-MSFT commented on #85486
@iwashitah, We appreciate your feedback. The doc has been edited accordingly and it would take some time for the changes to get reflected over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-12-18 05:33] #85486 closed

[2021-12-18 06:12] junghyeon-ryu opened #85487 "Http/Https have limitations on event trigger function."
[Enter feedback here]

If we use http/https, the connection state event for devices are not triggered in the trigger event. Please confirm this and add some explanation why http/https event is not triggered. Thank
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8b17e80-2e14-b191-4c23-6be66c5f8584
* Version Independent I

[2021-12-18 09:37] eriky opened #85488 "Add good intro to Python"
Under the section here https://docs.microsoft.com/en-us/azure/sentinel/hunting#use-notebooks-to-power-investigations you could add a good/vetted introduction to Python for beginners, e.g.: https://python.land/python-tutorial

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98d13451-ecce-cad5-6745-68c7b7df103c
* Version I

[2021-12-18 12:07] ziyadumar opened #85489 "Ambiguous documentation on Note section of Traffic Manager"
Below line from the [documentation](https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-overview) of Traffic Manager

"Network layer" directly implies network layer of the OSI Model, whereas Load Balancer works on Layer - 4 (Transport) as per the dedicated [page](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-overview)

---
#### Document Details

⚠ *Do not ed

[2021-12-18 13:41] jaluecht commented on #84529
You may close ticket

From: lingluo0531 ***@***.***>
Sent: Monday, December 13, 2021 7:26 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: jaluecht ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Broken U-SQL Tutorial link (Issue #84529)

@jaluecht <https://github.com/jaluecht>  , could you kindly advise how to close the issue? thanks!

—
You are receiving this because y

[2021-12-18 13:53] ChristianJBergstrom opened #85490 "If using the step-by-step PowerShell you will overwrite existing Group.Unified settings"
[The step-by-step instruction here https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/groups-assign-sensitivity-labels#enable-sensitivity-label-support-in-powershell will cause the current information to be overwritten by the EnableMIPLabels value.

You should add that it's necessary to retrieve the current settings first, something like $Setting = Get-AzureADDirectorySetting

[2021-12-18 15:50] SumanthMarigowda commented on #85205
@NickEales Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-12-18 15:50] #85205 closed

[2021-12-18 16:02] runninonmt commented on #55630
This functionality works for me on my Mac, using both the native mac kbd or an attached pc/windows kbd.  On the mac kbd option-tab will toggle apps on the bastion-connected host (and cmd-tab toggles my local apps, as per normal).  This works in both Chrome and FF.  I have a colleague on a PC/windoze machine and it is driving him crazy that it does not seem to work on his OS / browsers.  It does se

[2021-12-18 16:17] jocarv-fte opened #85491 "Linux Extension name is wrong"
[Enter feedback here]
Hi
Linux extension name is VMAccessForLinux, so this part is incorrect ->$extName = "VMAccessForAgent"

Also, I was unable to make an effective password change in Linux VMSS. Even on internal wiki, the procedure for Linux VMSS is to reimage, not to use extension, as in Windows VMSS. I can later give you the wiki link and we can verify id the Linux part of the document needs t

[2021-12-18 17:29] JamesTran-MSFT commented on #85490
@ChristianJBergstrom
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-18 18:50] SatishBoddu-MSFT commented on #85487
[@junghyeon-ryu](https://github.com/junghyeon-ryu)
I have assigned the issue to the content author for further review.

[2021-12-18 18:51] SatishBoddu-MSFT commented on #85488
[@eriky](https://github.com/eriky)
I have assigned the issue to the content author for further review.

[2021-12-18 18:52] SatishBoddu-MSFT commented on #85491
[@jocarv-fte](https://github.com/jocarv-fte)
I have assigned the issue to the content author for further review.

[2021-12-18 18:53] SatishBoddu-MSFT commented on #85489
[@ziyadumar](https://github.com/ziyadumar)
I have assigned the issue to the content author for further review.

[2021-12-18 19:14] chrisgnicholas3 opened #85492 "Example doesn't work"
I'm newbie trying to run the example, and getting an authentication error when I try to read in the public dataset:

Remote blob path: wasbs://citydatacontainer@azureopendatastorage.blob.core.windows.net/Safety/Release/city=Seattle
shaded.databricks.org.apache.hadoop.fs.azure.AzureException: hadoop_azure_shaded.com.microsoft.azure.storage.StorageException: Server failed to authenticate the request

[2021-12-18 22:08] SatishBoddu-MSFT commented on #85492
[@chrisgnicholas3](https://github.com/chrisgnicholas3)
Our SME will review this issue and get back soon.

[2021-12-19 02:11] lingluo0531 commented on #84529
@jaluecht   I don’t know how to close, and  I cannot find any place having a 'close' button . Could you advise or help direct close? Thanks!

[2021-12-19 05:43] drdamour opened #85495 "claim short code vs full name"
i'm rather confused by the tables, they seem to show a bunch of short code for type, but when i inspect the tokens i receive i see many have the long type.

EG: the docs say oid but i see http://schemas.microsoft.com/identity/claims/objectidentifier  , maybe this is a config in my tenant that's using the full uri?  but since it's an option these docs should make note of it somehow...if i want to u

[2021-12-19 06:58] SubhashVasarapu-MSFT commented on #85495
@drdamour , Thanks for reaching out. We will investigate and update this thread.

[2021-12-19 13:33] mohijazi opened #85496 "The doc didn't mention the DNS error | adding CNAME+TXT record with the same name"
[Enter feedback here]
At the step "3.1", the Doc was guiding us to create a CNAME DNS record. However, at step 1, we already created TXT record for the same name/FQDN.

If we are trying to put both of the TXT and CNAME record on the Azure DNS, we will be ended up with the following error :
**Failed to create record set**
Failed to create record set 'web'. Error: The record could not be created bec

[2021-12-19 16:10] robertwood62 opened #85497 "How do you execute SQL queries using parameters in data explorer"
I'm using the Data Explore in the Azure Portal to run and execute queries.  However, it's not clear how parameters can be set and used using the portal editor.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65ef452c-ff25-a2ec-feba-5dafa56cb918
* Version Independent ID: 733a3a55-e899-5c1d-9bcc-34c2d7e17d27
* Content: [G

[2021-12-19 16:18] SatishBoddu-MSFT commented on #85496
[@mohijazi](https://github.com/mohijazi)
I have assigned the issue to the content author for further review.

[2021-12-19 16:20] SatishBoddu-MSFT commented on #85497
[@robertwood62](https://github.com/robertwood62)
Our SME will review this issue and get back soon.

[2021-12-19 16:20] TimoWilhelm opened #85498 "Expose UDP Services on Azure Container Apps"
Is there a way to expose UDP Services running on Azure Container Apps?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 307a2025-0f86-5d45-dba6-7c859c4313e7
* Version Independent ID: 171ef08d-42f2-c473-e6ab-469bf20cc11d
* Content: [Set up HTTPS ingress in Azure Container Apps Preview](https://docs.microsoft.com/en-us/azu

[2021-12-19 17:29] VisheshJaiswal opened #85500 "how do i get AZURE_CREDENTIALS?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 425acc49-70b8-743f-a65c-a2bfc8026404
* Version Independent ID: 0410b512-d27c-d3b9-f641-8db5412a6759
* Content: [Build, test, and deploy containers to Azure Kubernetes Service using GitHub Actions - Azure Kubernetes Service](https://docs.microsoft.com/

[2021-12-19 18:15] SubhashVasarapu-MSFT commented on #85153
@Justinmchase, Appreciate your feedback. We have assigned this issue to the respective content owner to provide the necessary document.

[2021-12-19 19:41] johndowns commented on #85238
@tfitzmac Yes, I believe that's accurate from my understanding of the issue - but it'd be good to confirm this with the PG.

[2021-12-19 20:19] jfalameda opened #85501 "Unable to connect with Mysql Workbench or mysql command line from OSX or Linux"
Connecting with MYSQL Workbench 8.0 from OSX, or MySQL client (command line) on both Linux and OSX does not work. It makes the client reach almost 100% of CPU usage.

Connecting from a Windows machine with both clients works without any problem. I tried CA validation and installing the CA root on the machine with no success.

---
#### Document details

⚠ *Do not edit this section. It is required f

[2021-12-19 20:22] savjani commented on #85501
Hi @jfalameda - did you provision single server or flexible server? What is the MySQL client version? We have a known issue with latest MySQL client 8.0.27 on single server https://docs.microsoft.com/en-us/azure/mysql/single-server-whats-new

[2021-12-19 20:22] savjani commented on #85501
Wondering if u are hitting that

[2021-12-19 20:44] johndowns commented on #85388
@thepaulmacca I can see the issue. In the failing Bicep code, you have two different resources that generate the same name. Both role assignments create a GUID with the same name. The symbolic names are different (`networkContributorRoleAssignmentClusterNodesSubnet` and `networkContributorRoleAssignmentClusterIngressSubnet`), but the `name` properties use the same seed values for the `guid()` func

[2021-12-19 20:44] #85388 closed

[2021-12-19 21:37] abatishchev opened #85502 "How-to says to create IPv4 Basic which is legacy now"
See https://docs.microsoft.com/en-us/azure/load-balancer/virtual-network-ipv4-ipv6-dual-stack-cli#create-ipv4-and-ipv6-public-ip-addresses-for-load-balancer:

[code]

Modern documentation must use modern SKU, i.e. `Standard`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3cef3d7-5793-9de9-b6dd-8f3cbe38c34a
* Version

[2021-12-19 21:38] abatishchev commented on #85502
Ah, the article is about `Basic` specifically. the issue is that it's higher in the search results than the one for `Standard`.

[2021-12-19 21:38] #85502 closed

[2021-12-19 22:09] johndowns commented on #85388
@thepaulmacca I'll also work on some docs updates to clarify that the role assignment names need to be unique within the whole subscription, even though they are scoped to an individual subnet. :)

[2021-12-20 01:18] aaronpowell commented on #81887
In lieu of this being supported as part of the package from @justinyoo, I've created an extension for JavaScript Azure Functions - https://github.com/aaronpowell/azure-functions-nodejs-openapi

[2021-12-20 01:39] Tiberriver256 opened #85505 "Question: Is custom warmup supported on Linux?"
[This section](https://docs.microsoft.com/en-us/azure/app-service/deploy-staging-slots#specify-custom-warm-up) of the guide mentions custom warmup. Does the Linux app service support this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6e09089-1ae2-8943-5ce2-9d48f458c81f
* Version Independent ID: ba780cba-f604-b0a4-a8

[2021-12-20 02:10] GitaraniSharma-MSFT commented on #85498
@TimoWilhelm , thank you for your query. We'll investigate on this and get back to you shortly!

[2021-12-20 02:12] GitaraniSharma-MSFT commented on #85500
@VisheshJaiswal , thank you for your query. We'll investigate this and get back to you shortly!

[2021-12-20 02:14] GitaraniSharma-MSFT commented on #85501
@jfalameda , thank you for your feedback. We'll investigate this and get back to you shortly!

[2021-12-20 02:16] GitaraniSharma-MSFT commented on #85505
@Tiberriver256 , thank you for your query. We'll investigate this and get back to you shortly!

[2021-12-20 03:17] ankur198 commented on #38660
apparently adding quotes in the filter fixes the issue

not working:
`costmanagement_client.usage_details.list(
        scope=f'/subscriptions/{subscription_id}/', filter=f"properties/usageEnd eq {end_date} and properties/usageStart eq {start_date}")`

working:
`costmanagement_client.usage_details.list(
        scope=f'/subscriptions/{subscription_id}/', filter=f"properties/usageEnd eq '{end_date}

[2021-12-20 03:36] ShaikMaheer-MSFT commented on #85234
@mamccrea / @leifbro Could you please validate feedback and update document as appropriate. Thank you.

[2021-12-20 03:39] ShaikMaheer-MSFT commented on #85241
@viseshag Could you please validate customer feedback and enhance doc as appropriate. Thank you.

[2021-12-20 03:59] VikasPullagura-MSFT commented on #85294
@Karma-AK

Can you please share the OS Version and output of below commands to better assist you further on this.

[code]

[2021-12-20 04:21] AnuragSharma-MSFT commented on #85497
@robertwood62 Thanks for your query. Are you trying to use parameterized queries through Data Explorer?

[2021-12-20 04:33] AshokPeddakotla-MSFT commented on #85217
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-20 04:33] #85217 closed

[2021-12-20 04:57] vipulsparsh commented on #85311
@hajekj  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and update.

[2021-12-20 05:01] vipulsparsh commented on #85316
@andrePKI Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-12-20 05:46] GitaraniSharma-MSFT commented on #85368
@mundayn , thank you for the update. We are closing this issue for now. If there are further questions regarding this matter post re-configuration of the feature, please reply and we will gladly continue the discussion.

[2021-12-20 05:46] #85368 closed

[2021-12-20 05:59] ShaikMaheer-MSFT commented on #85301
@molotch Yes its default behavior. When you create a linked service you need to select authentication type either as "AccountKey" Or "Service principle" Or "Managed Identity". So in this case AAD pass-through will not come in to picture.

As described in doc, depending on authentication type selected inside linked service,

- If its set to" Account Key", the linked service will authenticate using

[2021-12-20 06:30] likemike91 commented on #72019
At least i figured out the allowed audiences with the help of some guys over at stackoverflow.

Both the {clientId} or the {clientId}/.default are valid values for the audience claim in the token.

[2021-12-20 06:35] VikasPullagura-MSFT commented on #85500
@VisheshJaiswal

As mentioned in the document the entire Output Json of the `az ad sp` command has to be assigned to `AZURE_CREDENTIALS`
variable and it should be referred in the yaml file for the Creds.

If you are looking for info on creating GitHub Secrets, please check this [document](https://docs.microsoft.com/en-us/azure/developer/github/connect-from-azure?tabs=azure-portal%2Clinux#create-gi

[2021-12-20 07:01] SysAndreas opened #85507 "Question: Still only Teams and Managed Home screen that support shared device mode?"
Hello,

Is it still only Teams and Managed Home Screen that support Shared Device Mode?

Since the release of this feature, it's been posted here that the supported apps are only "Microsoft Teams" and "Managed Home Screen":
[TechCommunity Oct 28 2020](https://techcommunity.microsoft.com/t5/intune-customer-success/enroll-android-enterprise-dedicated-devices-into-azure-ad-shared/ba-p/1820093)

Or ar

[2021-12-20 07:10] msftnadavbh opened #85508 "Login to a Linux VM fails using Native Client"
Following the doc and trying to login to a Linux VM,
you get this error :

"The command failed with an unexpected error. Here is the traceback:
The extension **ssh** is not installed."

The document does not imply that the SSH extension should be installed,
this section should be add prior to the login section :

**az extension add --name ssh**

And then the login works.

---
#### Document Details

[2021-12-20 07:34] shashishailaj commented on #85507
@SysAndreas Thank you for your query . We will investigate and update the thread .

[2021-12-20 07:40] VisheshJaiswal commented on #85500
Yup, much thanks :)

[2021-12-20 08:00] fredrikcarlbom opened #85509 "Why is the self-signed certificate 'for testing purposes' only?"
Why is this for testing purposes only, are there some flaw in self-signed certificates that I'm not aware of making them not suitable for authentication?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11aaa091-1108-52f6-0066-0f4e939aeef4
* Version Independent ID: dbc7e37e-87a7-c124-3e4c-47aa060e6cf3
* Content: [Create

[2021-12-20 08:10] Wiiki0807 opened #85510 "Microsoft Defender for IoT, minimum committed devices changed?"
[[Enter feedback here]]

According to the content(https://docs.microsoft.com/en-us/azure/defender-for-iot/organizations/getting-started?source=docs#identify-the-solution-infrastructure)
We recommend that you calculate the approximate number of devices that will be monitored. Later, when you register your Azure subscription to the portal, you'll be asked to enter this number. Numbers can be added i

[2021-12-20 08:19] kengaderdus commented on #84372
Dear @schwabenlander,

Thank you for your patience.

You can call user flows from or custom policies from your app. We recommend use of msal library, which make every bit of app integration easy:
- [Introduction to user flows and custom policies](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-user-flows?pivots=b2c-user-flow)
- [Web app integration with Azure AD B2C usi

[2021-12-20 08:28] stefan-kiss opened #85511 "clarify / correct docs - it's kubectl exec and not ssh"
In the section "Create the SSH connection to a Linux node"

The mechanism used by kubectl debug is "kubectl exec".

There is no actual SSH involved - ssh involves a ssh server, a ssh client and the ssh protocol.

You do get an interactive shell but that is not ssh.

This usage of terms is both incorrect and confusing.

For reference i'm adding the official kubernets page to get the terminology rig

[2021-12-20 08:34] dnovvak commented on #85381
Hi @JimacoMS4 Thank you for checking this!

I encountered the issue executing device twin queries from **Device Management -> Queries** in Azure Portal.

Query with `STARTS_WITH` fails:
<img width="793" alt="image" src="https://user-images.githubusercontent.com/25307756/146735000-eddbef9b-c7e1-4ec6-b7b9-6fca45550cd6.png">

While query with `STARTSWITH` works fine:
<img width="337" alt="image" src=

[2021-12-20 09:31] flrs opened #85512 "Images unreadable in "Dark" doc theme"
Hello,

Thank you for the great documentation on the Databricks Cluster configuration. Unfortunately, some of the images are not readable in the Dark doc theme:

Images:
- https://docs.microsoft.com/en-us/azure/databricks/_static/images/admin-cluster-management/scenario-1-1.png
- https://docs.microsoft.com/en-us/azure/databricks/_static/images/admin-cluster-management/scenario-2.png
- https://docs

[2021-12-20 10:10] GitaraniSharma-MSFT commented on #85508
@msftnadavbh , thank you for your feedback. We have assigned this to the content owner/author for review.

@cherylmc , for your review.

[2021-12-20 10:32] taukhan-ace commented on #83324
Hello @dcstwh and @ShaikMaheer-MSFT  can you please help for any ETA as the customer is following up for an update .

[2021-12-20 10:38] HuaqiongWu opened #85514 "Will the messages of the inner event hubs which created by kafka connect automimatically will expire after "Message Retention"?"
[Enter feedback here]

Will the messages of the inner event hubs which created by kafka connect  automatically will expire after  "Message Retention"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1800bc69-1c54-7bb5-d127-0b5a94d3762d
* Version Independent ID: 7d829763-6a0f-fb98-8df7-28f3684a1690
* Content: [Integrate

[2021-12-20 10:51] ToruMakabe opened #85515 "The sample load test failed"
The sample [load test step](https://github.com/Azure-Samples/nodejs-appsvc-cosmosdb-bottleneck/blob/cbf9e5650f776d34c71310b247cdda99a9cacc0b/.github/workflows/workflow.yml#L75) failed.

Error message is

[code]

I tested the same JMX file with Azure portal, it works. So, the cause may be in related to sample workflow or azure/load-testing action. Could you please check it? Thanks.

---
#### Docume

[2021-12-20 11:16] GitaraniSharma-MSFT commented on #85509
@fredrikcarlbom , thank you for your query. We'll review this and get back to you shortly!

[2021-12-20 11:17] Floriszz opened #85517 "Link to Get-AzStorageTable goes to AzureRM content"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1093baf6-b6b6-52f7-5268-697fe6412bdf
* Version Independent ID: 65b4f939-ad12-b9e1-afd6-2f734653a163
* Content: [Perform Azure Table storage operations with PowerShell](https://docs.microsoft.com/en-us/azure/storage/tables/table-storage-how-to-use-powe

[2021-12-20 11:20] GitaraniSharma-MSFT commented on #85511
@stefan-kiss , thank you for your feedback. We'll review this and get back to you shortly!

[2021-12-20 11:23] GitaraniSharma-MSFT commented on #85512
@flrs , thank you for your feedback. We have assigned this to the content owner/author for correction.

@mssaperla , for your review.

[2021-12-20 11:24] ninallam commented on #85515
@ToruMakabe could you please confirm the below

1. You have provided an existing load test resource name in the GitHub action.
2. You have configured the "Load Test Contributor" role on the service principal as mentioned [here](https://docs.microsoft.com/en-us/azure/load-testing/tutorial-cicd-github-actions#set-up-github-access-permissions-for-azure)

[2021-12-20 11:47] GitaraniSharma-MSFT commented on #85514
@HuaqiongWu , thank you for your query. We'll review this and get back to you shortly!

[2021-12-20 11:51] SumanthMarigowda commented on #85517
@Floriszz Thanks for the question! We are investigating and will update you shortly.

[2021-12-20 11:57] Sizzl opened #85518 "Missing address within Azure CM agent Networking Configuration"
The ACM docs doesn't list the following address within Networking Configuration, it is present within the Azure Arc for Kubernetes documentation, but even on an agent installation on, e.g. SQL Server, the agent attempts to reach out to the following address:

- guestnotificationservice.azure.com

Please can this be added to the Networking Configuration requirements?

Thanks.

---
#### Document Det

[2021-12-20 12:05] ToruMakabe commented on #85515
@ninallam Thanks! I totally misunderstood and skipped the prerequisites. I specified an existing load test and it worked.

[2021-12-20 12:05] #85515 closed

[2021-12-20 12:19] robertwood62 commented on #85497
Yes.  This is exactly what I'd like to do.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: AnuragSharma-MSFT ***@***.***>
Sent: Sunday, December 19, 2021 11:21:30 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Robert Wood ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] How do you execute SQL queries using parameters in data explo

[2021-12-20 12:50] GitaraniSharma-MSFT commented on #85510
@Wiiki0807 , thank you for your query. We have assigned this to the content owner/author for review.

@shhazam-ms , for your review.

[2021-12-20 13:09] docloud-eu opened #85520 "Setting up firewall on storage account level is not relevant."
Currently, the firewall settings for the storage account changed, and below does not apply anymore:
Allow trusted Microsoft services
If you have configured your Storage Account to allow access from selected networks, you need to add an exception to allow Azure Monitor to write to the account. From Firewalls and virtual networks for your storage account, select Allow trusted Microsoft services to a

[2021-12-20 13:16] Aoloa-dev opened #85521 "Unable to serialize value"
When testing the tutorial on this  [page](https://docs.microsoft.com/en-us/azure/cognitive-services/Anomaly-Detector/quickstarts/client-libraries?pivots=programming-language-python&tabs=windows) I encountered the following error:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 884b5e88-48eb-c3ad-1995-7cd87339783

[2021-12-20 13:18] sebhe opened #85522 "Set PHP Version"
Hi,

I suppose that version 7.2. as as shown here is no longer supported?
https://docs.microsoft.com/en-us/azure/app-service/configure-language-php?pivots=platform-linux#set-php-version

Wouldn't it also make sense to add some guidance on how the PHP version can be changed via the portal? For python this documentation is available.

Thanks
Sebastian

---
#### Document Details

⚠ *Do not edit this

[2021-12-20 13:28] docloud-eu opened #85523 "Can ADLS be used as target for data export"
Are we able to export to Data Lake storage account (ADLS v2)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5daf3365-76b8-b98f-7fc8-51f520e6276b
* Version Independent ID: 93a216a6-fd66-cc0a-9346-58955bd0a7ba
* Content: [Log Analytics workspace data export in Azure Monitor (preview) - Azure Monitor](https://docs.micros

[2021-12-20 13:40] ram-msft commented on #85521
@Aoloa-dev Thanks for the question. We are investigating the issue and will update you shortly.

[2021-12-20 13:44] MonikaReddy-MSFT commented on #84981
@ctahok - An Azure Application Gateway can serve as https proxy server. Now , if we want to use IIS, we can go with Application Gateway V1. If we are going with Nginx then we should go with Application Gateway V2 (preferred).

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your

[2021-12-20 13:44] #84981 closed

[2021-12-20 13:46] MonikaReddy-MSFT commented on #85299
@guru-elearnings - Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-12-20 13:48] MonikaReddy-MSFT commented on #85115
@bandersmsft - Thank you for providing your insights.
@CharlesGroleau - Since we have not heard back from you we will now proceed to close this thread.
If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-12-20 13:48] #85115 closed

[2021-12-20 13:50] MonikaReddy-MSFT commented on #85299
@guru-elearnings - Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2021-12-20 13:50] #85299 closed

[2021-12-20 13:53] assaf-grth opened #85524 "Function app custom domains limit"
According to [service limits](https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#service-limits) there is a limit on custom domain per app of 500
For app services I understand that this limit is hard and cannot be increased upon request

Does this hard limit apply for function apps as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2021-12-20 14:01] AndreasMWalter opened #85525 "Azure Monitor Private DNS specifics"
When integrating Privatelink DNS at scale we created all privatelink DNS Zones and added forwarding to those services according to this pages entry (even though not all services are used for private links as of yet). However Azure Monitor is special and will probably cease operation once Forwarders are changed, but no actual private link service exists. Readers of the documentation should be made

[2021-12-20 14:38] ctahok commented on #84981
@MonikaReddy-MSFT thanks for your reply. Assuming I installed Application Gateway in DMZ. How do I force SQL to communicate via the Application Gateway in DMZ?
The article is "half baked" and this is why an alternative solution should be elaborated if possible. Even adding what you replied to it would make a big difference.

[2021-12-20 14:49] SumanthMarigowda commented on #85485
@pjfontes The PR has been initiated, necessary changes will take place  . We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-20 14:49] #85485 closed

[2021-12-20 14:53] Brubning opened #85527 "Azure AD Authentication Quick Start - would be great to add role based authorization"
This is a useful document but there is an extension to it which it would be useful to have. Once authenticated I want to use roles specified in Identity (AspNetUserRoles) - I can do this, but only if I bypass the Owin middleware (See: https://stackoverflow.com/questions/39087415/use-azure-ad-only-for-authentication-and-not-authorization)

I can't find any documentation that describes how you would

[2021-12-20 15:16] JamesTran-MSFT commented on #85527
@Brubning
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-20 15:23] mbrierley01 commented on #84643
Hi, I am also facing the same issue over multiple attempts on different Raspberry Pis following [this tutorial](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-provision-single-device-linux-symmetric?view=iotedge-2020-11&tabs=azure-portal). I was just wondering if there was any update. Using the most up to date version of IoT Edge.

[2021-12-20 15:26] godshands40 commented on #85500
You have been invited to the following event.

Title: Re: [MicrosoftDocs/azure-docs] how do i get AZURE_CREDENTIALS?
(Issue #85500)

Get Outlook for Android

From: VisheshJaiswal ***@***.***&gt;
Sent: Monday, December 20, 2021, 2:40 AM
To: MicrosoftDocs/azure-docs
Cc: Subscribed
Subject: Re: [MicrosoftDocs/azure-docs] how do i get AZURE_CREDENTIALS?
(Issue #85500)

Yup, much thanks :)
—
Reply to t

[2021-12-20 15:32] maddhatter opened #85529 "Clarification Around Self-Signed Certs in Production"
Since the self-signed certificate is only being used for authentication to Azure AD, and not being used for identification/trust, why is "Using a self-signed certificate is only recommended for development, not production."

Can this warning be elaborated for clarity?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc9b

[2021-12-20 15:41] mgreenegit commented on #83167
@Gleekop you're right. This section is confusing. What the original author meant to convey is that the details from the service are used with all the steps provided on the page. However, that simplicity has been lost in a complex explanation. I will submit a correction. Thank you for calling this out.

Also, please note that this is one of the many points of feedback we are correcting in the newer

[2021-12-20 15:46] FaithOmbongi commented on #85529
#reassign: @Chrispine-Chiedo

[2021-12-20 15:46] PRMerger8 commented on #85529
The following users don't have valid GitHub IDs, or are not collaborators on this repo: chrispine-chiedo

[2021-12-20 15:52] shashishailaj commented on #85529
@maddhatter Thank you for your feedback . We have engaged the content team to look into this and will update accordingly . @FaithOmbongi @chrischiedo Could you please look into this.

[2021-12-20 16:01] Floriszz opened #85531 "Small Typo in 'RowKey ge'"
[Enter feedback here]
It states: "RowKey ge"  in an example query.
I think this should be 'RowKey gt' for the 'greater than' element.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7b96d3c-956f-8757-3479-ebc7a7186ab8
* Version Independent ID: 0a584aeb-09cd-549f-0ee3-1a61433b5512
* Content: [Design Azure Table storage

[2021-12-20 16:01] TheovanKraay commented on #84242
@BharathNimmala-MSFT this has been addressed. Please can you close?

[2021-12-20 16:02] TheovanKraay commented on #84242
(doc has been updated to remove unnecessary IPs)

[2021-12-20 16:19] saswatmohanty01 opened #85533 "alert in each one minute"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: deacb2ef-8b79-04c3-eee9-643714145db5
* Version Independent ID: 59625313-cf00-2d17-51a1-d4c683b8d151
* Content: [Log alerts in Azure Monitor - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/alerts/alerts-unified-log)
* Content Sour

[2021-12-20 16:23] baanders commented on #85435
Hi @CheetahChrome, thank you for reaching out!
What you've described is actually unexpected behavior--selecting that button from the portal should open Azure Digital Twins Explorer with an automatic connection to the related instance, without requiring you to manually enter the host URL.

Could you use the feedback button in the Explorer to submit feedback and describe your experience for the prod

[2021-12-20 16:26] whhender commented on #85241
@yuharucan - Thanks for your feedback! We are confirming and will update the doc accordingly.

[2021-12-20 16:28] whhender commented on #85480
@tifischer - I am looking into this today!

[2021-12-20 16:36] mrochon opened #85534 "Examples of app id uri are confusing"
Examples of AppId URIs are confusing in that they use _.onmicrosoft.com_ suffix for all examples, even when listing them as using custom domains. Can you show that _https://contoso.com/..._ is also OK? Or explicitly state that it is not ok?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ba685a5-9e71-f269-26c0-f48b8a7d

[2021-12-20 16:45] BharathNimmala-MSFT commented on #84242
Thanks a lot @TheovanKraay for helping on fixing the document.

[2021-12-20 16:45] #84242 closed

[2021-12-20 16:45] CheetahChrome commented on #85435
I was simply a new user, using the documentation to create a Twins instance....at minimum it would be a nice to have a warning about having to know the url to the host. It took me a few minutes to associate the popup request with the host as needed.

[2021-12-20 16:46] mrochon opened #85535 "Table of supported App Id URI formats is incorrect"
The table of[ AppId uri formats](https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-breaking-changes#appid-uri-in-single-tenant-applications-will-require-use-of-default-scheme-or-verified-domains) restricts the <appid> string to be the application id of the registered application. That seems incorrect as the title of the article does not make such restriction (it only says t

[2021-12-20 16:52] JimacoMS4 commented on #85381
Hi @dnovvak,

Thanks for clarifying! I see what you mean. I think we need to sync the documentation with the current features supported by Hub. Right now, the topic says that the only function supported for twin and job queries is IS_DEFINED. Clearly, that's not the case :). I replicated your result and tried out a couple of other functions as well, and they worked just fine with a twin query. (An

[2021-12-20 16:53] yossi-y commented on #85523
Yes, ADLSGen2 is storage account essentially and supported in export.

Thanks,

[2021-12-20 17:10] MarkusVi commented on #72862
#please-close

[2021-12-20 17:10] #72862 closed

[2021-12-20 17:14] shashishailaj commented on #84476
@martingbrown This is a known issue with Powershell.exe as per Azure/azure-cli#11320 . If you pass the parameters in quotes it should work .

![image](https://user-images.githubusercontent.com/532022/146798563-1f593575-b2b9-4308-b364-9d133e5ed7fa.png)

The same works in Azure portal without an issue. Hope this helps . There is a [great explanation](https://stackoverflow.com/questions/562038/escapi

[2021-12-20 17:14] #84476 closed

[2021-12-20 17:17] shashishailaj commented on #84248
@v-hagamp Any update on this ?

[2021-12-20 17:21] yossi-y commented on #85520
You are correct, experience has changes in storage and article should be updated as well.
Can you look [here](https://docs.microsoft.com/azure/storage/common/storage-network-security#grant-access-to-trusted-azure-services)?

Is this settings helpful?
![image](https://user-images.githubusercontent.com/16935809/146806696-85fbf19b-3b4c-4d45-836b-a1a066d53f0d.png)

[2021-12-20 17:23] DeBlackDragon commented on #38660
Still don´t working within newer api-versions. Just 2019-01-01 seems to acceppt the parameters.
@ankur198
also tried the qoutes around the parameters but makes no difference

[2021-12-20 17:25] shashishailaj commented on #84715
@noodlemctwoodle We verified this on our side and it is indeed mandatory to register `Microsfot.Insights` as a resource provider on the associated Azure subscription as a requirement to enable Azure Monitor for monitoring Azure AD B2C.

<img width="598" alt="image" src="https://user-images.githubusercontent.com/532022/146807276-00d54e9c-459d-483c-8445-2772fb7daf92.png">

We have initiated a pull r

[2021-12-20 17:30] JamesTran-MSFT commented on #85534
@mrochon
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-20 17:30] baanders commented on #85435
Thanks for the additional information! I understand how that connection wouldn't be immediately obvious.
Partially for this reason, ideally users *shouldn't* have to know the URL to the host at this point, so it seems like there may be something unexpected happening in the product to give you this experience.
In our tests the connection has been automatic with no pop up, so it'd be great to get yo

[2021-12-20 17:30] ImranKamaluddin opened #85536 "Installing package "dotnet add package Azure.Security.KeyVault.Secrets" fails"
Hello, Trying to following the quickstart to use the "Azure.Security.KeyVault.Secrets" but this package fails to installed on my machine with the following error :
 "error: There are no versions available for the package 'Azure.Security.KeyVault.Secrets'.".

I believe to have all the pre-reqs installed. The current config of my machine is (running dotnet --info) is :

PS C:\Temp\KeyVault\key-vault

[2021-12-20 17:32] JamesTran-MSFT commented on #85535
@mrochon
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-20 17:33] JerryMWeeks opened #85537 "VM? How about a generic Azure AD authenticated Azure App service please?"
[Enter feedback here]
Useful if you still use VMs, but we dropped them several years back in favour of Azure app and Azure Functions services.
I have spent so much time chasing endless loops for how to configure end to end encryption.
Out of the box, nothing special, how do you actually get a Gateway to work with an MFA authenticated Azure app service?
You cannot download the pem for the app servi

[2021-12-20 17:42] v-steveadams commented on #82863
#please-close

[2021-12-20 17:42] #82863 closed

[2021-12-20 17:43] baanders commented on #85435
I'll also go ahead and draft in a note to the doc to clarify what this pop up means, for those that might see it! But submitting product feedback would be extra helpful as we try to replicate this issue and address it from the source.

[2021-12-20 17:43] MisinformedDNA commented on #69263
This should be part of the documentation.

[2021-12-20 17:48] baanders commented on #85435
Reopening to add doc note

#please-open

[2021-12-20 18:00] JimmyBanks commented on #83128
Is this a permanent issue, as in Azure and MySQL cli will no longer work together?

Or is this something that Oracle will be fixing in due time, and will be resolved with 8.0.28?

[2021-12-20 18:02] CaitlinV39 commented on #85408
Reviewed this with dale and it is working as expected. #please-close

[2021-12-20 18:02] #85408 closed

[2021-12-20 18:04] baanders commented on #85435
Update: In one of my Azure accounts, I was just able to reproduce!
In addition to the doc note, I can now submit a product bug myself.
Please still feel free to submit product feedback describing your experience as well!

I'll continue to update this thread when the doc update is ready

[2021-12-20 18:09] savjani commented on #83128
Nope, not a permanent issue, until we rollout the fix. Our fix is planned to roll-out by Jan timeframe. Things got delayed due to holidays and no-fly zones for deployments. Sorry for the inconvenience caused.