[2022-06-21 18:45] mohanM5k commented on #94267
Yes, i would recomment write some points regarding that approach in this
article and guide them to go there.

On Tue, Jun 21, 2022, 2:44 PM Dan Lepow ***@***.***> wrote:

[2022-06-21 18:49] tejaswikolli-web commented on #92739
#please-close

[2022-06-21 18:53] MarileeTurscak-MSFT commented on #94698
@jmprieur
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-21 18:58] dlepow commented on #23263
We have a planned workitem to refresh this article in an upcoming doc sprint. The information in this issue will be addressed at that time. According to our usual process, I'll proceed to close this issue. If you wish to continue the discussion or provide more information, please tag me in this issue. Thanks for the feedback!
#please-close

[2022-06-21 18:58] #23263 closed

[2022-06-21 19:10] #85323 closed

[2022-06-21 19:13] MicrosoftGuyJFlo commented on #91577
The example does work at the VM level I have tested this multiple times. As the content mentions you can change the assignment to be at the resource group or subscription level.

#please-close

[2022-06-21 19:13] #91577 closed

[2022-06-21 19:17] #83437 closed

[2022-06-21 19:19] gavin-wickens opened #94699 "Clarification"
Hi, I have a question about the following sentence:
For a VPN gateway, the two gateway instances will be deployed in any 2 out of these three zones to provide zone-redundancy.
Is there anyway to determine which two zones it has deployed to?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8b1636d-5e05-ff6a-5412-fff24162

[2022-06-21 19:24] DennisGCronin commented on #32609
I get that Event Hub supports replay but how exactly do I do it?  I would like to just see a property on the Azure Portal for the particular Even Hub like "reset read pointer" or something similar.

[2022-06-21 19:38] davidsmatlak commented on #74768
#reassign:davidsmatlak

[2022-06-21 20:01] cebundy commented on #94697
#assign:cebundy

[2022-06-21 20:05] blhubbard opened #94702 "Machine Learning ASB typos in DP-2"
The guidance in control DP-2 has some typos. There's an extraneous "6" in the first paragraph, and the last paragraph ends in a comma and not a period. I've quoted the relevant sections below and italicized the errors.

[...]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efbaaf3b-1d08-52a4-e381-62acd5c06e95
* Version

[2022-06-21 20:08] #93903 closed

[2022-06-21 20:15] MashaMSFT commented on #92198
Hi @si-chan , thanks for contacting Microsoft! Since @bluefooted addressed your question, I'll go ahead and close out this Git Issue but please feel free to comment should you need anything further.

Thanks again for reaching out and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2022-06-21 20:15] #92198 closed

[2022-06-21 20:25] dlepow commented on #94267
I've captured this discussion for a future update of backup/restore documentation. According to our usual process, I'll now proceed to close this issue. If you want to continue the discussion or provide more information, feel free to tag me and I'll  reopen it. Thanks again for your feedback!
#please-close

[2022-06-21 20:25] #94267 closed

[2022-06-21 20:27] viktor-stojkoski commented on #87086
@shwetamathur7 When you tick the checkbox for returning the `objectId` on Sign Up flow, that property is not in the response.

[2022-06-21 20:29] mbell85 opened #94703 "Issue with installing IaaSAntimalware extension to Azure Arc ConnectedMachine agent"
I found out the parsing issue that I mentioned before was due to the way the command is formatted in the tutorial here (it doesn't work as shown). This is what makes it work:

--settings '"{\"AntimalwareEnabled\": \"true\"}"'

The slashes must be included, as described in https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively#use-quotation-marks-in-arguments. You might make this easier on

[2022-06-21 20:38] johnmarco commented on #94703
@mbell85 , thank you for this information. I will make the changes to the page. I am going to close this issue now, but the changes should be live within the next day or so.

[2022-06-21 20:39] johnmarco commented on #94703
#please-close

[2022-06-21 20:46] mbelt opened #94705 "Misleading wording."
Current wording: "The following images show how to convert geometry in the Door layer to opening features in a dataset."
Suggested: "The following images show how Azure Maps converts door layer geometry into opening features in a dataset."

The current wording suggests that the user is supposed to make these transformations somehow.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit

[2022-06-21 20:52] michaelschmit opened #94706 "az acr check-health should support podman"
The az acr check-health should support podman as well these days, not just docker.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70c29709-b461-9b56-eb1b-2202f4d83904
* Version Independent ID: ac46ac32-a26a-4874-5e58-bbacb5f0f5cb
* Content: [Check registry health - Azure Container Registry](https://docs.microsoft.com/e

[2022-06-21 20:52] Tarvinder91 opened #94707 "Clarification required for some Important statements on the page."
This statement has very broad context and isnt clear:
Statement: Instances of certain Azure services including Azure DevOps Services are currently unable to access the container registry.

More clarification required on these points:
- Does this statement apply when public access to registry is blocked? Or in general?
- Does this apply to self hosted agents of Azure Devops or also to the managed a

[2022-06-21 20:54] #94702 closed

[2022-06-21 20:57] mmacy commented on #93650
@IanLuo Thanks for the request. This is a duplicate of #86413, which we're tracking internally on our backlog:

ID | Title
-- | --
[1811850](https://identitydivision.visualstudio.com/Technical%20Content/_workitems/edit/1811850) | [ISSUE][86413] screenshots are great, but would be nice to have the content pasted in the page as text also

I'll add this issue to the request count and see if we can bu

[2022-06-21 20:57] mmacy commented on #93650
#reassign:mmacy

[2022-06-21 21:03] shudson302 opened #94708 "Clarification on Point Query with only Partition Key"
What if we are using a unique value for the partition key so that ever record is its own partition.   If we do a query with the partition key only, is that equivalent to a point query for performance speed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7b96d3c-956f-8757-3479-ebc7a7186ab8
* Version Independent ID: 0a5

[2022-06-21 21:17] Oury-MSFT commented on #94554
@arvindshmicrosoft Thank you for providing your inputs
@gordieharkins If there no further questions with regards to the above question. I will go ahead and close this git issue.

[2022-06-21 21:17] #94554 closed

[2022-06-21 21:20] SaiKishor-MSFT commented on #94708
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-21 21:30] James-Hamil-MSFT commented on #94264
Hi @xtianus79 ,sorry for the delay in response. I'll need to repro this myself but I had a few questions. If you remove what you've added (if possible) does it maintain the same position? From my experience this would be an HTML issue and not CSS

[2022-06-21 21:43] #94571 closed

[2022-06-21 21:46] ChaitanyaNaykodi-MSFT commented on #94699
Thank you for your feedback! We will review and update as appropriate.

[2022-06-21 21:46] charlespickettau commented on #63464
We didn't - the whole point of using the ADF connector was to minimise
custom code. We ended up just writing our own connector in Azure Functions.

Charles Pickett *(he/him)*
PwC | Partner
Mobile: +61 (0) 424 405 456
Email: ***@***.***
au.linkedin.com/in/cerpickett <http://www.linkedin.com/in/cerpickett>
EA: Erica Danielle Nievas | email: ***@***.***

On Tue, 21 Jun 2022 at 18:24, SeanCapes ***@**

[2022-06-21 22:01] ChaitanyaNaykodi-MSFT commented on #94492
Hello @brianrutter,

I could not reproduce this issue, for me `FrontdoorWebApplicationFirewallLog` gave the correct logs.

![image](https://user-images.githubusercontent.com/67453298/174904105-6143fc63-dca3-40af-8886-6e7f41073f89.png)

Can you please share screenshots and the AFD SKU where you faced this issue? Thank you!

[2022-06-21 22:01] MarileeTurscak-MSFT commented on #94698
Thanks! I made a pull request to add the reference but will leave it open for review by @mmacy and @jmprieur

https://github.com/MicrosoftDocs/azure-docs-pr/pull/202365

[Use Conditional Access Auth Context in a Web API](https://github.com/Azure-Samples/ms-identity-ca-auth-context/blob/main/README.md)

[2022-06-21 22:01] #94698 closed

[2022-06-21 22:08] brianrutter commented on #94492
Interesting. The case of Door in the category on my logs is different. I am using "Azure Front Door Premium"

![image](https://user-images.githubusercontent.com/1346788/174905002-9eb2ac1a-9810-418e-baa2-5e17533eeb9c.png)

[2022-06-21 22:11] brianrutter commented on #94492
Here is how it is listed on my Diagnostic setting page. It may be related.
![image](https://user-images.githubusercontent.com/1346788/174905517-71e39aec-6fee-4404-a881-6b16cc99a976.png)

[2022-06-21 22:19] ChaitanyaNaykodi-MSFT commented on #94492
Hello @brianrutter, Thank you for the quick response and additional details. I tested this for Classic SKU. I will report this issue internally and get back to you as soon as I have a response. Thank you!

[2022-06-21 22:50] alanbmhs opened #94714 "It's no use just saying 'run this command...'"
[Enter feedback here]
Wouldn't it be nice if, just for once, the instructions stated exactly how to run the powershell commands. If I follow the instructions as they read currently, I just get the red text 'this isn't recognised as a powershell command'. It's all very well assuming that we're all  assimilated into the powershell collective, but we're not.

---
#### Document Details

⚠ *Do not edit

[2022-06-21 23:00] PRMerger8 commented on #94518
The following reviewer(s) could not be added because they aren't a valid GitHub ID, aren't a valid collaborator on this repo, or are the author of the PR: derisen

[2022-06-21 23:01] PRMerger20 commented on #94518
The following reviewer(s) could not be added because they aren't a valid GitHub ID, aren't a valid collaborator on this repo, or are the author of the PR: derisen

[2022-06-21 23:07] derisen commented on #94518
@mmacy for sure. @JamesTran-MSFT feel free to assign this on me.

[2022-06-21 23:11] mmacy commented on #94518
@derisen Ha! It's an issue, sorry. Should likely result in a PR, though. :)

#reassign:derisen

[2022-06-21 23:11] James-Hamil-MSFT commented on #94264
Hi @xtianus79 , looking at the code, have you tried switching this section around?

[code]

I would just switch it to this and it should work fine:
[code]

[2022-06-21 23:36] fhzhang commented on #94362
@MughundhanRaveendran-MSFT Please check the IcM 311942749

[2022-06-22 00:00] thiruma0203 opened #94715 "RHEL image list should be updated to the latest status"
There are several images listed in the documentation, which are no longer provided in Azure Marketplace.
For example, RHEL 6.7 or 6.8 is no longer listed in Marketplace.

RHEL | 6.7 | RAW | Linux Agent | Extended Lifecycle Support available. More details here.
RHEL | 6.8 | RAW | Linux Agent | Extended Lifecycle Support available. More details here.

Supported image list should be updated to the la

[2022-06-22 00:29] MarileeTurscak-MSFT commented on #94714
@alanbmhs
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-22 00:31] jrmcdona commented on #45672
Doesn't seem like this got addressed.   Looking at the documentation.  I am not sure if I need "linkOnRenewal" as true or false.  No idea what is actually does.

Thanks

[2022-06-22 00:32] jrmcdona commented on #64405
what is "linkOnRenewal"?   Can't really find documentation on what I should set it to.  True or False.

[2022-06-22 00:49] abatishchev commented on #29578
+1, it's pointless the way it currently is.

[2022-06-22 00:52] KranthiPakala-MSFT commented on #94694
@GopinathVaddem Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](htt

[2022-06-22 00:52] #94694 closed

[2022-06-22 00:57] likebupt opened #94717 "cannot follow this quickstart to create a pipeline"
![image](https://user-images.githubusercontent.com/39058063/174920759-22ac6114-e32a-4a70-a553-d9dc042f34b9.png)
I don't find the "Delta live table" tab and pipeline in UI
![image](https://user-images.githubusercontent.com/39058063/174920832-6c2fa477-94fc-464d-9502-a4e14d27d156.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2022-06-22 01:00] pnarsi opened #94718 "ADX Endpoints used by this connector"
ADX has a query endpoint, ingestion endpoint and several FQDNs for blob / table / queue endpoints which the documentation mentions is needed for ingestion scenarios as documented here: https://docs.microsoft.com/en-us/azure/data-explorer/security-network-private-endpoint#connect-to-a-private-endpoint.

It is unclear from the documentation on this page around what connectivity is required by a SHIR

[2022-06-22 01:40] MGoedtel commented on #94527
@ozhug - If your account is not a member of Global admin, can you confirm that the account your using is a member of either Cloud Application Administrator or Application Administrator in the Azure AD tenant that is the target for the new SPN your trying to create?

Alternatively, since we recommend using a managed identity versus a service principal and this PowerShell cmdlet doesn't support enab

[2022-06-22 01:46] davidgibsonp opened #94719 "Outdated links on Structured Streaming - Azure Databricks"
The Python and Scala links in the [API reference](https://docs.microsoft.com/en-us/azure/databricks/spark/latest/structured-streaming/#api-reference) section are outdated.

**Correct links**
- Pyhon: https://spark.apache.org/docs/latest/api/python/reference/pyspark.streaming.html
- Scala: https://spark.apache.org/docs/latest/api/scala/org/apache/spark/sql/streaming/index.html

---
#### Document De

[2022-06-22 02:16] SumanthMarigowda commented on #94359
@christgelinas Apologies for the delay response! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-22 02:54] SnehaAgrawal-MSFT commented on #94563
@runemy Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please let me know.

[2022-06-22 02:54] #94563 closed

[2022-06-22 02:55] SnehaAgrawal-MSFT commented on #94569
@dm-pse Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please let me know.

[2022-06-22 02:55] #94569 closed

[2022-06-22 03:26] mike-urnun-msft commented on #94425
@ttq-ak I hope the answer in my comment above is helpful. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-06-22 03:26] #94425 closed

[2022-06-22 03:27] mike-urnun-msft commented on #94550
@TahaSnoussi Since we haven’t heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-06-22 03:27] #94550 closed

[2022-06-22 03:46] AshokPeddakotla-MSFT commented on #94680
@frozen-oranges Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-06-22 04:01] VikasPullagura-MSFT commented on #94706
@michaelschmit
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-06-22 04:02] VikasPullagura-MSFT commented on #94715
@thiruma0203
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-06-22 04:02] VikasPullagura-MSFT commented on #94715
@mathapli
Can you please check and add your comments on this doc update request as applicable.

[2022-06-22 04:03] VikasPullagura-MSFT commented on #94707
@Tarvinder91
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-06-22 04:03] VikasPullagura-MSFT commented on #94707
@tejaswikolli-web
Can you please check and add your comments on this doc update request as applicable.

[2022-06-22 04:04] VikasPullagura-MSFT commented on #94706
@tejaswikolli-web
Can you please check and add your comments on this doc update request as applicable.

[2022-06-22 04:14] ram-msft commented on #94595
Thanks for the question. Here are the samples for Speech Recognition with MAS enabled.
https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/csharp/sharedcontent/console/Program.cs#L654

[2022-06-22 04:21] AjayKumar-MSFT commented on #94668
@MikeBakerSAV,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-06-22 04:21] CHEEKATLAPRADEEP-MSFT commented on #94717
@likebupt  Thanks for the question! We are investigating and will update you shortly.

[2022-06-22 04:22] ram-msft commented on #94604
@bstollnitz Thanks, Raised pull request( https://github.com/MicrosoftDocs/azure-docs/pull/94721) for the same.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-06-22 04:22] #94604 closed

[2022-06-22 04:22] CHEEKATLAPRADEEP-MSFT commented on #94719
@davidgibsonp  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-06-22 04:24] CHEEKATLAPRADEEP-MSFT commented on #94718
@pnarsi  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-06-22 04:25] AshokPeddakotla-MSFT commented on #94693
@nlcamp Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-22 04:27] AshokPeddakotla-MSFT commented on #94705
@mbelt Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-22 04:27] AjayKumar-MSFT commented on #94685
@masters3d,  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-06-22 04:28] AjayKumar-MSFT commented on #94686
@rhartman93, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-06-22 04:30] AshokPeddakotla-MSFT commented on #94692
@nlcamp Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-22 04:32] RohitMungi-MSFT commented on #94614
Thanks @Leoer. We will now proceed to close this thread.

[2022-06-22 04:32] #94614 closed

[2022-06-22 04:55] afeld commented on #94623
I think [that section of the Azure docs](https://docs.microsoft.com/en-us/azure/azure-monitor/app/opencensus-python#configure-logging-for-django-applications) still needs some updating, such as:

- Including `"version": 1`
- Recommending creating a custom logger

https://github.com/census-instrumentation/opencensus-python/issues/1130#issuecomment-1161898856 is the example that worked for both of u

[2022-06-22 05:02] GitaraniSharma-MSFT commented on #94697
@glennsc , thank you for your feedback. We have assigned this to the content owner/author for review.

[2022-06-22 05:26] ram-msft commented on #94605
@bstollnitz Thanks, Raised pull request #https://github.com/MicrosoftDocs/azure-docs/pull/94722 for the same.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-06-22 05:26] #94605 closed

[2022-06-22 05:36] yujiagz opened #94723 "emphasize the requirement to restrict to only traffic from the connector"
The second point in Consideration section , i.e. "Access to header-based authentication applications should be restricted to only traffic from the connector ..." should be in bold, or similar, to alert reader this must be done, otherwise will open a security hole, i.e. anyone can 'login in' from the internal network if they know what header is required by the application.

---
#### Document Detail

[2022-06-22 05:48] #94349 closed

[2022-06-22 05:51] #94459 closed

[2022-06-22 05:53] #94662 closed

[2022-06-22 06:03] shwetamathur7 commented on #94723
@yujiagz Thanks for your feedback. We will investigate and update the thread.

[2022-06-22 06:12] yinoa commented on #94657
@GitaraniSharma-MSFT  Any update of this ask？ thank you.

[2022-06-22 06:31] CHEEKATLAPRADEEP-MSFT commented on #94717
@likebupt Looks like `Delta Live Tables` is not enabled for your databricks workspace.

I would request you raise a support request to enable this feature for your workspace.

[2022-06-22 06:41] dantecit0 opened #94724 "Add Idle Timeout behavior in "Limitations" section for Azure Private Link Service"
[Enter feedback here]

Hello team,
Since it's described in WorkItem 11706 for PrivateLink Service, this product has a by design behavior of sending bi-lateral resets on connections Idle for more than 5 minutes. Since this is not documented anywhere, can you please add a mention in the limitations section of this page?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-06-22 07:53] litehacker commented on #93917
Hey, According the documentation there, I created Resource groups, with storage on it and with Function App through Portal. On the Deployment step, it leads to the error when inside the `package.json` there is the command line missing. How is it considered fixed? `npm run build:production`

here is the `package.json`:
[code]

[2022-06-22 07:58] badsector-82 opened #94725 "Microsoft Defender for Endpoint P2"
Can't find info about Microsoft Defender for Endpoint P2 on this page. Is it "MDATP_XPLAT"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service plan identifiers for licensing - Azure AD -

[2022-06-22 08:01] danwatford commented on #93917
Hi @litehacker ,

Use `npm run-script build` as a workaround until the documentation is updated.

There is a PR pending - see @ggailey777 comment above. This issue should probably have been left open with a label such as `pr-awaiting-review`, but it may have been the case that the PR was expected to fly through the process but other stuff got in the way. We've all been there! ;)

[2022-06-22 08:10] naioja commented on #93420
The documentation has been updated with the link to the tracker page https://releases.aks.azure.com/webpage/index.html

[2022-06-22 08:42] litehacker commented on #93917
@danwatford , Thanks for the response. Will I need to update my package file after the update is ready, or can I stick around with this solution to use it permanently?

[2022-06-22 09:05] dusan-tkac opened #94727 "Access ACR from Azure Pipelines - another workaround"
Following could be added to the "Access from Azure Pipelines" section of the page as another workaround for accessing Azure Container Registry that limits access to specific IP addresses from Azure Pipelines:

### Access from Azure Pipelines

...

Another workaround is to add IP access rule for Microsoft-hosted agent's outbound IP address from the pipeline, before accessing the ACR:

[code]

Do no

[2022-06-22 09:09] Givary commented on #94725
@badsector-82 Thank you for raising this, let me investigate and update you.

[2022-06-22 09:14] VikasPullagura-MSFT commented on #94727
@dusan-tkac
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-06-22 09:25] LingYi-Wu opened #94729 "When will Prepayment expires"
Hello Team,

Current doc only mentions "EA credit expires when the EA enrollment ends."
However, there are two billing option: Annual Billing and Prepay through agreement end.
MC(Prepayment) will expire at each anniversary year if the enrollment billing option is "annual billing" (Annually Prepaid); and will expire at the end of term if the enrollment billing option is "Prepay thru Agr. End" (Full

[2022-06-22 09:37] HannahHsiao5 opened #94730 "publicipaddresses | Standard SKU can be moved cross subscription"
Dear team,

Tech SE updated on 6/10/2022 that public ip address, Standard SKU can be moved cross subscription. Please kindly update. Sorry for the trouble.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23df5354-6833-a5da-0eb3-d860150c8b78
* Version Independent ID: 682ec206-0fda-3e0b-5841-543860a87e34
* Content: [Move

[2022-06-22 09:53] #94656 closed

[2022-06-22 09:57] SadiqhAhmed-MSFT commented on #94427
@Gouravkala We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2022-06-22 09:57] #94427 closed

[2022-06-22 10:30] W1ll1amz opened #94733 "Video link appears to be missing"
At the foot of the page it says: "Watch a quick example video showing an on-click failover for a recovery plan for a two-tier WordPress app" but I cannot see any link to this video.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aef64af7-f759-33c3-d1a2-39f3c1a04835
* Version Independent ID: f6e3bb47-0992-2419-ddd3-bd4c

[2022-06-22 10:33] GitaraniSharma-MSFT commented on #94724
@dantecit0 , thank you for your feedback. We have assigned this to the content owner/author for review.

@sumeetmittal , for your review.

[2022-06-22 10:48] SreejaBhattacharya-MSFT commented on #94535
Here you go :
[https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/container-registry/anonymous-pull-access.md](https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/container-registry/anonymous-pull-access.md)

[2022-06-22 10:48] #94535 closed

[2022-06-22 10:49] CHEEKATLAPRADEEP-MSFT commented on #94524
@Robert-Lauriston-at-Striim If you don't see any database there, I would suggest you to create a new one by clicking on +new.

[2022-06-22 10:54] SnehaAgrawal-MSFT commented on #94645
@danmiser Thanks for the feedback! If you are looking for this:
![image](https://user-images.githubusercontent.com/46553948/175012306-93cbde11-d3db-4e21-b164-0937cfa8c5f3.png)

[2022-06-22 11:03] aelij opened #94734 "Migrate this documentation to use KEDA"
The [Azure Kubernetes Metric Adapter](https://github.com/Azure/azure-k8s-metrics-adapter) project has been archived, and its readme recommends using KEDA:

So please update the documentation accordingly.

There's even a [built-in add-on](https://docs.microsoft.com/en-us/azure/aks/keda-about) for KEDA on AKS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2022-06-22 11:03] JontyMC commented on #47270
I would like to use MFA with local account and no facebook. There is no happy path for this, its guesswork as to what to remove.

[2022-06-22 11:09] quanster opened #94735 "Github AE"
[Enter feedback here]
Hello team - I have a customer query if Github AE will be included in this documentation page for any restrictions/quotas.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36f49a06-90b1-cbe1-3853-2c38277b79f8
* Version Independent ID: 02ff6f6c-3ef6-b48f-060d-b290419e0aba
* Content: [Azure subscripti

[2022-06-22 11:15] aelij opened #94736 "Does cross-tenant work across clouds?"
For example, import an image from Azure Public Cloud to an ACR in Azure China.
My guess is that it won't, either way I think it would be best if this page specified it.

--
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a9eeb5e-cbe9-8343-3db0-13fb148ebb1a
* Version Independent ID: 684bb876-38ee-4ad6-2653-40ee84383cd5
* Con

[2022-06-22 11:19] GitaraniSharma-MSFT commented on #94734
@aelij , thank you for your feedback. We have assigned this to the content owner/author for review.

@mscatyao , for your review.

[2022-06-22 11:22] maniSbindra opened #94737 "Service Account token generation commands in docs do not work for Kubernetes 1.24"
When trying to generate a service account token for registering your Arc enabled Kubernetes cluster on the Azure Portal, the portal points us to the following [link](https://docs.microsoft.com/en-in/azure/azure-arc/kubernetes/cluster-connect?tabs=azure-cli#service-account-token-authentication-option) with steps to generate the Service Account token

The steps in the documentation assume that a sec

[2022-06-22 11:23] GitaraniSharma-MSFT commented on #94348
@HartejSingh2001 , Since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-06-22 11:23] mderazon opened #94738 "Code samples do not run"
Trying to run the code samples on otel node.js:
[code]

They do not run:
[code]

Also, typescript is not really the default go-to in node.js

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6858ce20-0be7-2a23-244d-7a73698e249c
* Version Independent ID: 379962ce-68c5-65b8-4c12-85076ce361fe
* Content: [Enable Azure Monitor

[2022-06-22 11:26] VikasPullagura-MSFT commented on #94736
@aelij
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-06-22 11:26] VikasPullagura-MSFT commented on #94736
@tejaswikolli-web
Can you please check and add your comments on this doc update request as applicable.

[2022-06-22 11:28] ramuvr commented on #94579
Thanks @MughundhanRaveendran-MSFT
I am deploying the Function app from Azure devops, and that's when I get this message.

Function app is enabled with PrivateLink, storage account it uses is enabled with Privatelink (we made sure PrivateDNS resolution works fine from the build machine), the build machine has routes to the landing zone where the Function is being deployed and can talk directly (we

[2022-06-22 12:24] JasSuri commented on #63387
It does it based on how you configure the Application Registration in the Azure Portal. Specifically, by which category you register the reply url (Web/Mobile/SPA). So if you have the same policy, but a SPA and Mobile app, with separate Reply Urls, you can still have the config for token expiration in the policy, itll just be ignored when B2C replies to the URL registered as a SPA.

[2022-06-22 12:34] sriiraj commented on #60750
Hi @mamccrea @carlneal  I am facing the same error "Error on send: One or more errors occurred." during "telcodatagen.exe 1000 0.2 2" step i have cross verified the configured eventhub name and primary connection string in "telcodatagen.exe.config" file is it because of dotnet version??
Can you please help me with this? Thanks in advance

[2022-06-22 12:36] sriiraj opened #94740 "Error on send: One or more errors occurred."
Hello I keep getting an error when I run this app. The error reads "Error on send: One or more errors occurred." Please advise

#Sets: 1,#FilesDump: 1,#CDRPerFile: 1000,%CallBack: 0.2, #DurationHours: 2
Time Increment Per Set: 2
20200812 170236
MO,d0,0,Australia,234507214,466921402416657,567841148,466922202679249,20200812,170236,1,0,,,b,1,,3,,442,886932428134,,,20200812 170236
Error on send: One o

[2022-06-22 12:55] jdoblams commented on #94436
Hey Dan, yes, it is necessary at Subscription level.

I have verified the RBAC Role with those permissions at different levels (resource, resource group and subscription) with the next results:

At Resource level I was getting 404 as below

![image](https://user-images.githubusercontent.com/102793362/175033487-78e961f0-55cd-4612-80fd-333a8fa4fc80.png)

Then at Resource Group level

`{
  "error": {

[2022-06-22 12:57] BasWassenaar opened #94742 "Which Azure AD role is need to run the script?"
Hi! What Azure AD role is needed to run the script that gives the managed identity permission to Graph?

I now get this error message with some AAD Roles activated (like cloud application administrator). Is it only Global Admin? I think it would be helpful to add this to the documentation. :-)

Thanks

From the terminal:

`New-AzureAdServiceAppRoleAssignment : Error occurred while executing NewSer

[2022-06-22 13:05] ShaikMaheer-MSFT commented on #94565
@nabhishek Could you please confirm is node version 10.x does not work anymore? If yes, kindly update document as appropriate. Thank you.

[2022-06-22 13:05] #94742 closed

[2022-06-22 13:08] epomatti commented on #94623
@afeld yes, that's a solid point. I'm re-opening this issue.

[2022-06-22 13:08] dantecit0 commented on #93880
Hello @MonikaReddy-MSFT @BryanTrach-MSFT can you please confirm when is this going to be merged? Thanks!

[2022-06-22 13:12] GitaraniSharma-MSFT commented on #94657
@yinoa , this is a limitation that is being worked on by the Product group team to fix.
As mentioned in the [Azure Firewall Premium known issues](https://docs.microsoft.com/en-us/azure/firewall/overview#azure-firewall-premium-1), Azure Firewall is not currently listed as a trusted service and can't access the Key Vault. Hence, the Key Vault Networking must be set to allow access from All networks.

[2022-06-22 13:12] #94657 closed

[2022-06-22 13:34] liggitt commented on #94737
Scraping `.secrets[0].name` is not correct in any version... the `.secrets` field in a service account is explicitly for secrets to be mounted into pods running as the service account, and there is no guarantee the first item in the list is a token secret.

If a secret-based token is desired outside a pod, follow the instructions at https://kubernetes.io/docs/tasks/configure-pod-container/configur

[2022-06-22 13:34] JaredMSFT opened #94744 "Confusion regarding meaning of "Windows Code""
Can you clarify the meaning of what "Windows Code" refers to?  How is this different than a windows container or linux container?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cd70fac-5d7c-7637-8385-f3f4af3ba0ad
* Version Independent ID: 15d95fc5-f08e-a26c-ce06-8ead78474661
* Content: [Mount Azure Storage as a local

[2022-06-22 13:47] msangapu-msft commented on #94744
Hi @JaredMSFT I can see how this might be confusing. For Windows App Service, you have two options: containerized and non-containerized. Windows code (or non-containerized Windows) is the original App Service platform, before containers entered the picture. I'll update the article to reflect container and non-container. Thanks!

[2022-06-22 13:51] christgelinas commented on #94359
Thank you, the documentation on this page missing category description.  There is no description that explain what is file share target and global file share target. Each category should have a description.

[2022-06-22 14:16] kimjamia opened #94746 "VNET peering direction guidance in the Portal wrong way around?"
The direction of the vnet links is pretty confusing especially with the help texts Azure Portal provides. Not sure if this is a bug in the Portal or if I'm just misunderstanding them but it would be helpful to clarify this a bit.

I want to create a peering between `vnet-a` and `vnet-b`. VM2 doesn't need to be able to connect to VM1.
![image](https://user-images.githubusercontent.com/74055505/1750

[2022-06-22 14:23] chaifee opened #94748 "Connection information is out of date"
The connection section of the documentation is out of date. The options provided by the node-redis package have changed. unfortunately, it is not obvious from the node-redis documentation (https://github.com/redis/node-redis/blob/HEAD/docs/client-configuration.md) how to use the values available from Azure to connect via the new options.

---
#### Document Details

⚠ *Do not edit this section. It

[2022-06-22 14:28] bilby91 commented on #63387
@JasSuri That makes perfect sense. Thanks for the clarification and responsiveness!

[2022-06-22 14:34] GeethaThatipatri-MSFT commented on #94748
Hi @chaifee  Thanks for your findings,We will investigate and update as appropriate

[2022-06-22 14:46] maniSbindra commented on #94737
The @liggitt since as you said  "Scraping .secrets[0].name is not correct in any version", we should modify the guidance on the docs page which is referenced from the Azure Portal
![image](https://user-images.githubusercontent.com/6338721/175058659-52dd04ee-cb35-4cb8-add6-f40fc49420cd.png)

and hence I think we should modify the documentation related to the steps to follow.

Thanks

[2022-06-22 15:05] Robert-Lauriston-at-Striim commented on #94524
I don't see anything called "database" **IN YOUR SCREEN SHOT**.

[2022-06-22 15:18] dantecit0 commented on #93880
Thanks!

[2022-06-22 15:19] meenasaravanan02 commented on #83851
Hi @darkoa-msft,
Sorry for the delayed response.  We have updated the document in the PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/202437.  Thanks!
#please-close this issue

[2022-06-22 15:24] bandersmsft commented on #94729
@LingYi-Wu I'm investigating this with the EA Billing engineering team. I'll reply here when I have more information.

[2022-06-22 15:31] KurtisHastieDG opened #94754 "Incorrect pointer on page"
The sample authorization callback URL is shown as:
https://authorization-manager-test.consent.azure-apim.net/redirect/apim/<YOUR-APIM-SERVICENAME>
but it should be
https://authorization-manager.consent.azure-apim.net/redirect/apim/<YOUR-APIM-SERVICENAME>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8bbe5b9-ca4b-5478

[2022-06-22 15:31] Kunwilshire commented on #94184
No, still waiting

[2022-06-22 15:40] msangapu-msft commented on #94744
#assign: msangapu-msft

[2022-06-22 15:40] #94744 closed

[2022-06-22 16:11] davidsmatlak commented on #67738
#reassign:davidsmatlak

[2022-06-22 16:13] AaronMaxwell commented on #94623
Thanks for your dedication to our documentation. We are in the middle of a complete rewrite of our Python articles that will include a new sample Django application and an outline similar to the following.

**Getting Started with App Insights for Python**
* Install OpenCensus
* Install Azure exporter
* Configure middleware to track requests
* Capture exceptions
* Capture log messages
* Capture dat

[2022-06-22 16:13] #94623 closed

[2022-06-22 16:15] derisen commented on #94518
@pettewayshade thank you very much for catching this. You're right, the code is never hit. However, instead of moving _index.html_, I would prefer to update the code instead:

[code]

Keeping the static assets in the same folder is more idiomatic for Express.js, but another reason I'd like to keep `index.html` in the `app` folder is that it makes it convenient for folks who'd like to host their fi

[2022-06-22 16:20] tfitzmac commented on #94735
@quanster - this page is limited to Azure services. As far as I can tell, GitHub AE is not an Azure service, as in I do not see a resource provider namespace for it. Please let me know if that is not correct.
#please-close

[2022-06-22 16:20] #94735 closed

[2022-06-22 16:29] mike-urnun-msft commented on #94754
Thank you for your feedback! We will review and update as appropriate.

[2022-06-22 16:33] Justinha commented on #92577
@brucelangston Thanks for providing feedback that helps improve our documentation. The unclear wording has ben revised. This issue has been resolved and we are closing the issue. #please-close

[2022-06-22 16:33] #92577 closed

[2022-06-22 16:54] jpwalters1 opened #94758 "Guidance on when wider availability"
These machines were announced in November 2021:
[[![image](https://user-images.githubusercontent.com/9677342/175093690-8c0db232-d87b-46ba-955a-d69d490f7721.png)](https://techcommunity.microsoft.com/t5/azure-confidential-computing/expanding-azure-confidential-computing-with-new-amd-based/ba-p/2993530)
****](https://techcommunity.microsoft.com/t5/azure-confidential-computing/expanding-azure-confiden

[2022-06-22 17:00] vhorne commented on #94516
Article updated.
Network rules configured to use a FQDN need to have the firewall configured to use a DNS proxy. Rather than assume this feature is configured, we need to use the IP address.
#please-close

[2022-06-22 17:00] #94516 closed

[2022-06-22 17:05] GitaraniSharma-MSFT commented on #94578
@kungfudante , I'm following up on my previous comment. Could you please provide an update?

[2022-06-22 17:18] #94359 closed

[2022-06-22 17:20] khdownie commented on #94610
@ms-ishiyam I've added a sentence about this to the article under Processing Speed. Thanks!

[2022-06-22 17:20] khdownie commented on #94610
#please-close

[2022-06-22 17:20] #94610 closed

[2022-06-22 17:22] gordieharkins commented on #94554
My mistake I thought that serverless could be added to an Elastic but the documentation is clear it is a single instance.

Sent from my iPhone

[2022-06-22 17:25] jhirono commented on #91709
@GiftA-MSFT please close this case.

[2022-06-22 17:42] tjhftw opened #94759 "Came here from EF Database First Project cannot publish"
Hello, I have been following the series of tutorials starting here
https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/database-first-development/
At the end of those, which I found very useful, the next page in the series was this one.
I was disappointed that this page does not carry on the tutorial, and teach me how to publish the project I had worked on.
At the end of the tutor

[2022-06-22 17:52] abatishchev commented on #32131
+@barclayn

[2022-06-22 17:52] Karishma-Tiwari-MSFT commented on #94758
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-22 18:08] #93879 closed

[2022-06-22 18:10] duongau commented on #91820
Hello @GavinJin88, as I have not heard back from you in regard to this issue. I will assume you no longer are having this problem. Please feel free to reach back to me if you have any further questions. Thank you! #please-close

[2022-06-22 18:10] #91820 closed

[2022-06-22 18:10] #94518 closed

[2022-06-22 18:19] MartinJaffer-MSFT commented on #94545
Thank you for your feedback. This has been assigned to the content owner and will be updated as appropriate.

[2022-06-22 18:22] MartinJaffer-MSFT commented on #94545
I have reached out to @adriankjohnson offline.

[2022-06-22 18:32] ChaitanyaNaykodi-MSFT commented on #94746
Thank you for your feedback! We will review and update as appropriate.

[2022-06-22 18:44] edjez opened #94761 "Forecasting Instructions incomplete"
1) The jump from creating dataset to creating jobs omits steps that will confuse users not familiar with AML.
2) The bullet points in the section about the Forecasting task and Settings have empty bullets.
3) Seems to omit Frequency setting (I assume it would be autodetect)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2022-06-22 18:52] JohnPoetzinger opened #94762 "Azure File Sync and SMB over QUIC"
Can we get reference to the SMB over QUIC architecture in the azure file sync section of the documents. There are some small references in deployment guides and a reference to the SMB over QUIC option on file server in the Network Considerations for Direct Access Section of the Azure File Share docs but nothing in the file sync docs which since it would be a feature of the file sync server seems l

[2022-06-22 18:54] MonikaReddy-MSFT commented on #94738
@mderazon  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-06-22 18:55] MonikaReddy-MSFT commented on #94737
@maniSbindra  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-06-22 19:25] ChaitanyaNaykodi-MSFT commented on #94218
Hello @andyjballgit, thank you for your feedback, this is a known issue, and the team is currently working on the fix. The fix is expected to be rolled out in few weeks from now.

Hope this is helpful. We will now proceed to close this issue out, please tag me in your response if you have any additional questions. Thank you!

[2022-06-22 19:36] jberry777 commented on #17764
Hello @shanhix1, would this approach also work when managing policy compliance for resources in multiple tenants through Azure Lighthouse?

I've assigned a policy in the customer tenants at the root management group level that is intended to enroll all subscriptions into our offering in Azure Lighthouse. The policy has deployIfNotExists and a remediation defined for enrolling subscriptions into Az

[2022-06-22 19:55] #94343 closed

[2022-06-22 20:03] bojanmisic commented on #69502
Any updates on this? The only regex example is 'evilbot' which is not useful in real-life scenarios where we need complex regular expressions. Which regex format is supported? How to add regex flags?

[2022-06-22 20:12] adriankjohnson commented on #94545
Thanks for finding this typo.

Fixed in https://github.com/MicrosoftDocs/cyclecloud/commit/700175c98dfd901989064ca59dc0c9b583ae604a

[2022-06-22 20:17] Justinha commented on #92670
@wcneumann219 no worries, I will add it. Many readers like to contribute to topics directly by clicking the pencil icon in the upper right corner of the topic. The contribution is saved and submitted as pull request in GitHub and the Reader is listed as a contributor after the pull request is merged. We encourage those direct contributions so just wanted to offer.

[2022-06-22 20:20] abatishchev commented on #92279
@ggailey777 ping

[2022-06-22 20:27] YutongTie-MSFT commented on #94761
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-22 20:30] Bolleman opened #94766 "Is running an app from ZIP package supported on linux?"
I've tried it and it appears to deploy fine but just doesn't run the app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7838171-5cab-d164-cc88-2973c0d0e56e
* Version Independent ID: d888bc9c-c031-f67c-d5a0-25cc265f14e3
* Content: [Run your app from a ZIP package - Azure App Service](https://docs.microsoft.com/en-us/a

[2022-06-22 20:35] PRMerger20 commented on #94761
The following users don't have valid GitHub IDs, or are not collaborators on this repo: salgadodev

[2022-06-22 20:36] Blackmist commented on #94761
#reassign: @ssalgadodev

[2022-06-22 20:45] #94401 closed

[2022-06-22 20:50] mistokes-ppr commented on #94582
From reading clung's documentation for VC powershell scripts, it appears Azure VC storage and infrastructure has changed in a manner that requires migrations. https://github.com/cljung/vc-scripts

I don't see this documented clearly anywhere else and was curious if it is possible to do this by Azure Portal instead of powershell scripts.

[2022-06-22 21:02] Gigabytez opened #94767 "These cmdlets are NOT recognized on a Windows Server 2012 R2, as described in the documentation."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc9bed86-d11a-8f1f-4e58-dfa693f0c8df
* Version Independent ID: 65163c9f-40ad-ea33-e589-cc5a9b7b2d77
* Content: [Create a self-signed public certificate to authenticate your application - Microsoft Entra](https://docs.microsoft.com/en-us/azure/active-d

[2022-06-22 21:13] MonikaReddy-MSFT commented on #94733
@W1ll1amz - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-06-22 21:15] raviveritread opened #94768 "x-ms-routing-name persistence between sessions"
I have a web app with a production slot (self) and an additional slot named (lets say "beta")
I have a 70/30 traffic pattern set between self/beta

I see the cookies set as

ARRAffinitySameSite	- this is a session cookie
ARRAffinity	- this is a session cookie

I aslo see
x-ms-routing-name	self/beta -> this has an expiry period of 1 hour automatically

I would like the users that got the production

[2022-06-22 21:20] brian-zhou opened #94769 "Wrong spelling of favourite"
"You can develop in your favorite language, be it .NET, .NET Core, Java, Ruby, Node.js, PHP, or Python"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53dd65b1-6f9d-9431-5850-9cee636aeabd
* Version Independent ID: 0012e819-bb2b-2955-d87b-d6f145fb6af7
* Content: [Overview - Azure App Service](https://docs.microsoft.com/

[2022-06-22 21:21] box913 commented on #49614
This error still occurs even on latest LTSC, i.e Windows 10 IoT Enterprise 21H2
![iot-edge-install](https://user-images.githubusercontent.com/44375445/175139895-1e2e8154-6a9e-4c14-995a-09de59abd70a.png)
.

[2022-06-22 21:22] MarileeTurscak-MSFT commented on #94767
@Gigabytez
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-22 21:40] centraal-f opened #94770 "This document is missing information"
[Enter feedback here]
This page help me proctecting my API. It was read in the past but now has missing information. This document use to have 8 section but now only have 2.

is missing important sections like

Step 2: Register another application in Azure AD to represent a client application
Step 3: Grant permissions in Azure AD
....
This is the original post form were was born:
https://techcommu

[2022-06-22 21:42] mckenzm commented on #94663
Update, I may not have been clear.  The statement _"Today, you can set these parameters at the table level only in Azure Database for PostgreSQL."_ refers to all parameters? or only the "cost" parameters. (hit/miss/dirty)?  I clearly have other options in the parameters dialog.  So I may have been confused, So then I am really asking, can the per table parameters over-ride config? i.e. Will settin

[2022-06-22 21:53] darrenCampos opened #94771 "Wrong roles listed under the "Clean Up resources""
[Enter feedback here]
Under the section

"Clean up resources
When no longer needed, delete the test guest user.

Sign in to the Azure portal with an account that's been assigned the Global administrator, Guest, inviter, or User administrator role."

The role Guest Inviter is not able to delete users under Azure AD, this could create a confusion to customers

---
#### Document Details

⚠ *Do not ed

[2022-06-22 22:08] sumeetmittal commented on #94724
This is not the PLS behavior. It is behavior of LB in my opinion. Please follow up with LB team.

[2022-06-22 22:20] mike-urnun-msft commented on #94770
Thank you for your feedback! We will review and update as appropriate.

[2022-06-22 22:36] kamilzzz commented on #53153
@jdelforno true, but only required permission from spoke to hub would be Microsoft.Network/privateDnsZones/join/action, right?
If you would like to achieve full separation, you can always add records manually 😜

ANother possibility might be to use Azure Policy as described here https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/ready/azure-best-practices/private-link-and-dns-integrati

[2022-06-22 22:38] YutongTie-MSFT commented on #94740
Hello @sriiraj Please help with the link of document on which above document feedback request is created. Thanks a lot.

[2022-06-22 23:14] cebundy commented on #92580
@sy-huss  Thank you for your input.  For clarity, we have added direct links to each service in the article.
#please-close

[2022-06-22 23:14] #92580 closed

[2022-06-22 23:16] cebundy commented on #90770
@ffrankozz  I have not been able to reproduce this error.  If you feel that this is still a documentation issue, please feel free to reopen this issue.
#please-close

[2022-06-22 23:38] MarileeTurscak-MSFT commented on #94771
@darrenCampos
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-22 23:44] cubikca opened #94775 "Documentation incorrectly states that you can enable MongoDB endpoint"
I have attempted to run the CosmosDB emulator, from both WSL and Windows, using the following command:

docker run \
    -p 8081:8081 \
    -p 10251-10254:10251-10254 \
    --memory 3g --cpus=2.0 \
    -e AZURE_COSMOS_EMULATOR_PARTITION_COUNT=10 \
    -e AZURE_COSMOS_EMULATOR_ENABLE_DATA_PERSISTENCE=true \
    -e AZURE_COSMOS_EMULATOR_ENABLE_MONGODB_ENDPOINT=4.0 \
    -it \
    mcr.microsoft.com/c

[2022-06-23 00:06] Oury-MSFT commented on #94775
@cubikca Thank you for your feedback. We reviewing this and will back shorlty.

[2022-06-23 00:09] MarileeTurscak-MSFT commented on #94771
Thanks for pointing this out, @darrenCampos. It looks like a typo so I made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/202553

[2022-06-23 00:09] #94771 closed

[2022-06-23 00:37] jsavage8 opened #94776 "How often are Administrators required to reconfirm authentication information?"
There is no mention in the 'Administrator reset policy differences' section about how often Administrators are required to reconfirm authentication information.  I'm assuming they are (pretty sure I've been prompted once or twice), but it would be nice if this article could confirm that is the case and how frequently it can be expected.

---
#### Document Details

⚠ *Do not edit this section. It i

[2022-06-23 00:43] ChronoKal opened #94777 "Threat Modeling Tool - Cannot resize shapes"
## Creating an issue

In MTM 2016 or the new release I can often work on a diagram for a few minutes and then all of a sudden I cannot resize any of the shapes.  I doesn't matter what shape it is or what edge I try to resize from, it just won't work.  I've tried from both the 2016 and the newest release.  I can still move shapes around.

If I close MTM and re-open the diagram I sometimes can resiz

[2022-06-23 00:56] alfredorevilla commented on #94776
Hello @jsavage8, there's no automatic enforcement for admins to re-confirm their strong authentication information.

[2022-06-23 01:02] chucklebrother commented on #91558
I found this issue when goggling this message text to try and understand it. as it does not align with my understanding of Private DNS zones used for private endpoints. As stated by NebV it is entirely valid to ahve two A records for different endpoints

I'd like to know what I am being warned about, but I don't think adding a new record for private endpoint to an existing private dns zone is wron

[2022-06-23 01:30] gravlindon opened #94778 "$Export Command not currently working after R4b"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da9e0e88-c90c-c771-233e-93fca1098a68
* Version Independent ID: 9ef365ae-c933-9f17-8a00-89327f2c33ee
* Content: [Executing the export by invoking $export command on Azure API for FHIR](https://docs.microsoft.com/en-us/azure/healthcare-apis/azure-api-fo

[2022-06-23 01:45] GeethaThatipatri-MSFT commented on #94778
Hi, @gravlindon Thanks for your findings, I'm assigning this to the author for the feedback review.

[2022-06-23 01:54] ram-msft commented on #94595
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-06-23 01:54] #94595 closed

[2022-06-23 02:06] YutongTie-MSFT commented on #94768
Hello @raviveritread

Please help with the link of document on which above document feedback request is created. Thanks a lot.

[2022-06-23 02:27] lanlan3322 opened #94781 "Face images link lost"
There is a broken link defined by the variable (const image_base_url = "https://csdx.blob.core.windows.net/resources/Face/Images/";
) in the source code (index.js) provided in the guide:
https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/quickstarts-sdk/identity-client-library?pivots=programming-language-javascript&tabs=visual-studio

[2022-06-23 02:36] nitinme commented on #84521
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can redirect this ask to the right team to get a fix for the issue.

#please-close

[2022-06-23 02:36] #84521 closed

[2022-06-23 03:28] kevmeister68 opened #94782 "Does "Out to AAD" really mean "Out to AAD"?"
I refer to this paragraph under the Contacts heading:

For provisioning an object to Azure AD, the outbound rule Out to AAD – Contact Join will create a contact object if the metaverse attribute sourceObjectType is set to Contact. If this attribute is set to User, then the rule Out to AAD – User Join will create a user object instead. It is possible that an object is promoted from Contact to User

[2022-06-23 04:00] shwetamathur7 commented on #94782
@kevmeister68 Thanks for your feedback. We will investigate and update the thread.

[2022-06-23 04:07] SnehaAgrawal-MSFT commented on #94769
@brian-zhou Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-23 04:08] SnehaAgrawal-MSFT commented on #94766
@Bolleman  Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-23 04:09] GitaraniSharma-MSFT commented on #94777
@ChronoKal, please help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members c

[2022-06-23 04:11] AjayKumar-MSFT commented on #94759
@tjhftw, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-06-23 04:11] MughundhanRaveendran-MSFT commented on #94362
@fhzhang , The doc has been changed and it will reflected in the site soon

[2022-06-23 04:11] #94362 closed

[2022-06-23 04:15] Eli-Black-Work opened #94783 "WebJobs documentation should mention calling `services.AddApplicationInsightsTelemetry()`?"
The documentation says we should call `b.AddApplicationInsightsWebJobs(...)` to add Application Insights to our WebJobs.

Should the documentation also recommend that we call this:

[code]

I'm confused on whether calling `services.AddApplicationInsightsTelemetry()` is needed/recommended if we've already called `b.AddApplicationInsightsWebJobs(...)`. If it is, it'd be nice to have that added to th

[2022-06-23 04:23] Bosch-Eli-Black commented on #94783
I've also asked the WebJobs SDK team whether or not `services.AddApplicationInsightsTelemetry()` should be called for WebJobs: https://github.com/Azure/azure-webjobs-sdk/issues/2292#issuecomment-1163911854

[2022-06-23 04:38] GitaraniSharma-MSFT commented on #94252
@albertoRamon , We have assigned this to the content owner/author for review.

@asudbring , there is a change on Azure portal UI as below:

![image](https://user-images.githubusercontent.com/67630903/175210142-9759f905-2368-43a2-949f-dd2bc10be691.png)

When creating a New Private Endpoint, a new option has been added: "Enable network policies for all private endpoints in this subnet". Could you pl

[2022-06-23 04:49] BryanTrach-MSFT commented on #94742
@BasWassenaar We are happy to hear you found the answer. Thank you for sharing it with the community!

[2022-06-23 04:59] RohitMungi-MSFT commented on #94781
@lanlan3322 Thanks for spotting this. @PatrickFarley Do we have a new link for the images that are used in the quickstart across the face API documentation?

[2022-06-23 05:01] GitaraniSharma-MSFT commented on #94762
@JohnPoetzinger , thank you for your feedback. We'll review this and get back to you shortly!

[2022-06-23 05:13] jhirono commented on #91825
Hello. We have updated our docs. Please close this PR.

[2022-06-23 05:14] #94615 closed

[2022-06-23 05:27] rodgerbenham commented on #34167
@tilarso if there is no need to wait why hasn't it just been deployed?

[2022-06-23 05:55] kungfudante commented on #94578
Sorry for the delay.
According to my assumption, these customers create such routes because they might be thinking it as on-prem routing or they might forget that such traffic would be created by platform automatically. So I think it would be necessary to provide a heads-up and warn that it would cause trouble.

[2022-06-23 05:58] sriiraj commented on #94740
Hi @YutongTie-MSFT
Please find the link for document
https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-real-time-fraud-detection?toc=%2Fazure%2Fevent-hubs%2FTOC.json

[2022-06-23 06:20] SnehaAgrawal-MSFT commented on #94769
@brian-zhou Thanks again for feedback! Both **favourite** and **favorite** is correct spelling. Favorite without the "u" is the spelling used in the United States.
We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2022-06-23 06:20] #94769 closed

[2022-06-23 06:21] SnehaAgrawal-MSFT commented on #94645
@danmiser We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2022-06-23 06:21] #94645 closed

[2022-06-23 06:24] #91825 closed

[2022-06-23 06:38] waqassiddiqi commented on #94093
@YutongTie-MSFT even though this issue is closed by OP, we are still facing a problem when trying to use existing model registered under Azure ML using SDK v2.
The way we have tried is:

[code]
However, it fails with:
[code]

[2022-06-23 06:41] v-ksreedevan commented on #94034
Closing this issue as it has been resolved.

#please-close

[2022-06-23 06:41] #94034 closed

[2022-06-23 07:13] AshokPeddakotla-MSFT commented on #94705
@mbelt PR has been created to update the doc as per suggestions. Once it has been reviewed and merged this issue will auto resolved. Thanks again for raising this issue.

[2022-06-23 07:40] enqueue opened #94789 "Resource Scope for "Azure Service Bus Sender" Role Assignment"
The "Resource Scope" section is generally helpful. We always try to follow the advice to restrict a managed identity's permissions to the minimal scope. However, it took me a couple of hours to find out that to successfully publish a message from a Function to a Service Bus topic, the managed identity had to have the "Azure Service Bus Data Sender" role on the _topic_ and not on the subscription s

[2022-06-23 07:55] CharlPels opened #94791 "missing identity option"
The page explains how to add a system managed ID and how to add user managed ID
What if you need both? system is sometimes needed by extentions like the hybridworker v2 extention and we are using user assign IDs for access etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af116675-8320-3c6c-8f9f-f4199b681078
* Versio

[2022-06-23 08:21] sidprasher opened #94792 "Restrict cross tenant PLE creation"
When creating private endpoint, i can provide any resource ID that may not be within the primary tenant.

- Is it possible to block creation of such endpoints?

Is the approach described here (https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/ready/azure-best-practices/limit-cross-tenant-private-endpoint-connections) the only available option at the moment?

- Can you add any securit

[2022-06-23 08:26] Creastoff commented on #21652
@JAYTAS did you receive an update on this or develop your own implementation?
Alternatively, @MarileeTurscak-MSFT do you know the status on this?

[2022-06-23 08:26] zole87 commented on #55620
Hi @duongau ,

I have similar problem.

I have one front door with many custom domains attached to it. All of them point to one backend pool with one app service.

I want my custom domain to be attached to my backend app service. I tried to use empty value for backend host header but still the same.

For example: when I enter www.xyz.com I want to get xyz.com in my backend service instead of myfro

[2022-06-23 08:27] jayinoz99 opened #94793 "Poor grammar"
The sentence "For example, a reservation purchased for ES series VMs don't apply to E series VMs, and vice-versa." is poor grammar 'don't' should be replaced by 'does not'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 996c931a-02fa-a765-9dc5-db1a72a9bd4d
* Version Independent ID: 56943133-f870-eb75-9689-246f25726eb7

[2022-06-23 08:52] shwetamathur7 commented on #94791
@CharlPels Thanks for your feedback. We will investigate and update the thread.

[2022-06-23 08:54] CharlPels commented on #94791
Thanks,

maybe add something like this

"identity":{
    "type":"SystemAssigned, UserAssigned",
    "userAssignedIdentities":{
       "[resourceId(variables('userAssignedIdentitySubscription'),variables('userAssignedIdentityResourceGroup'),'Microsoft.ManagedIdentity/userAssignedIdentities', variables('userAssignedIdentityName'))]":{
       }
    }
 },

[2022-06-23 09:06] Givary commented on #94215
@rgkey9000 Apologies for the delay, information which was requested has been updated successfully,
reference: https://docs.microsoft.com/en-us/azure/active-directory/roles/delegate-by-task#:~:text=Temporary%20Access%20Pass%20(Preview)

Thank you once again for raising this correction/addition.

[2022-06-23 09:06] #94215 closed

[2022-06-23 09:32] #94471 closed

[2022-06-23 09:32] Jeej opened #94794 "Link to Azure App Service Team Blog about 'Deploying a secure, resilient site with a custom domain'"
Hi there! 👋

Is it possible to add a link to [Deploying a secure, resilient site with a custom domain](https://azure.github.io/AppService/2021/03/26/Secure-resilient-site-with-custom-domain.html) in the "More resources" section?

The blog posts contains interesting and useful for when you are using Application Gateway or Azure Front Door with authentication.

In my case the part of setting the cus

[2022-06-23 09:33] Anaig opened #94795 "Automatic data splitting details"
It is unclear from the documentation how the automatic splitting selects the test and train data. It would be great to mention if the selection is random or balanced per category.
The PG confirmed to me that the automatic split tries to have a representation of all classes in your training set. Could we please add this information?

---
#### Document Details

⚠ *Do not edit this section. It is req

[2022-06-23 09:35] Anaig opened #94796 "Outdated sample dataset"
The sample dataset in the documentation is still formatted for the preview API. Can the dataset be updated to the latest data format please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61a20f08-a246-05be-0c99-b03d049a9bf5
* Version Independent ID: b46fedb0-c2fa-2210-9c81-127ea1282192
* Content: [Quickstart: Custom t

[2022-06-23 09:36] SnehaAgrawal-MSFT commented on #94794
@Jeej Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-23 09:39] SnehaAgrawal-MSFT commented on #94793
@jayinoz99 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-23 09:41] kmathewmk commented on #94594
Thanks for the link. It may be usefut to include this link the "See also" section.

[2022-06-23 10:01] #94796 closed

[2022-06-23 10:43] ajh79 commented on #93200
@nzthiago >> Can you also update this ticket as and when you get a better idea of when the fix will be rolled out?

[2022-06-23 10:57] aloneguid opened #94799 "Clicking "view in redocly" fails"
the url https://redocly.github.io/redoc/?url=https://docs.microsoft.com/azure/databricks/_static/api-refs/queries-dashboards-2.0-azure.json fails with:

<img width="952" alt="image" src="https://user-images.githubusercontent.com/3155189/175283459-2e95975e-080a-4628-8ac4-7a441c2a4b4f.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-06-23 11:03] msimecek opened #94800 "C# link broken - "Attributes" header should be "Configuration""
The **Important** box under **Usage** contains a link to the "Configuration" section:

![image](https://user-images.githubusercontent.com/9624293/175283588-b54486ad-9fc7-4017-8206-5757a6364d3e.png)

This link doesn't work in the C# version of this article, because this variant deviates from other languages and doesn't use the **Configuration** header like the others:

_C#_
![image](https://user-im

[2022-06-23 11:16] GitHubMWJ opened #94801 "Account Prerequisite Clarification"
[Enter feedback here]

The article states in example [3](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-authentication-passwordless-security-key-on-premises#example-3-prompt-for-all-credentials-using-modern-authentication) & 4 that Modern Authentication can be used for the Azure AD GA account. However, the subsequent sections on [View and verify](https://docs.microsof

[2022-06-23 11:30] tjhftw commented on #94759
Thanks very much.

From: AjayKumar-MSFT ***@***.***
Sent: 23 June 2022 05:12
To: MicrosoftDocs/azure-docs
Cc: tjhftw; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Came here from EF Database First Project cannot publish (Issue #94759)

@tjhftw<https://github.com/tjhftw>, Thanks for the feedback! We are taking a look into this and will get back to you soon.

—
Reply to this email directly, view i

[2022-06-23 12:21] phl0x1 opened #94803 "Missing Information about Refresh Tokens"
[Enter feedback here]
There are no infos regarding refresh token.
Please provide the info, that refresh tokens arent returned when using client credential grant. (specified in [RFC](https://datatracker.ietf.org/doc/html/rfc6749#section-4.4.3))

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d32f55ac-acbc-292b-d1b7-ffdd2

[2022-06-23 13:04] seesharprun commented on #94539
@shoshii,

The header has now been updated. Thank you for your contribution!

#please-close

[2022-06-23 13:05] #94539 closed

[2022-06-23 13:09] seesharprun commented on #94775
#assign:milismsft

@milismsft, can you take a look at this issue? I didn't see anything obvious in the [troubleshooting guide for the Linux Docker emulator](https://docs.microsoft.com/azure/cosmos-db/linux-emulator#troubleshoot-issues).

[2022-06-23 13:12] Givary commented on #94803
@phl0x1 Thank you for your feedback . We will investigate and update the thread.

[2022-06-23 13:14] uttampcu opened #94804 "Please create an aka.ms link to https://account.activedirectory.windowsazure.com/ChangePassword.aspx"
For cloud-first or full cloud firms, pointing users to https://account.activedirectory.windowsazure.com/ChangePassword.aspx would be a lot easier with an aka.ms short url.  Would love it if someone at MS could create a short url for it.

Thanks

[2022-06-23 13:17] adrwh opened #94805 "CustomLogs_CL without a timestamp"
Hi, I would like to store JSON documents in a custom log table without a timestamp, as it is not time-series data.  I have a script to write data to a customlog_CL each day, however i don't need the TimeGenerated field at all.  I want to query my data without having to scope it to the previous 24 hours, is this possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2022-06-23 13:19] #94725 closed

[2022-06-23 13:22] DeanGross opened #94806 "Azure roles"
I don't see any instructions about how to use Azure roles to implement RBAC for this service.  Please add this content.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 205a71e2-6890-1604-62a1-25acf4bcba8e
* Version Independent ID: 384b9d7e-c3fc-5ba2-b0c7-5cbd56787fc3
* Content: [Manage users and groups with the User man

[2022-06-23 13:30] jsavage8 commented on #94776
Thanks @alfredorevilla, I appreciate the quick response!  Though I think it might still be worthwhile to mention that in this article as well.

[2022-06-23 13:44] xtianus79 commented on #94264
hi @James-Hamil-MSFT can I post our design that might help. We have a design and the changes we're trying to make there is something, probably the javascript, is fighting us along the way.

For example, here is where we are now.

https://login.alivebeam.com/505b9899-e922-4b1c-b342-96e489356d01/oauth2/v2.0/authorize?p=B2C_1A_SIGNUP_SIGNIN&client_id=dc6788d4-66b2-44ca-af10-e0b3a7642d87&nonce=default

[2022-06-23 13:45] joostvandrenth opened #94807 "Azure NetApp Files support for Europe West?"
Hi guys,

I can see a difference in region support listed on this page and others.

On this page Europe West is not on the list but on the vmware solution page it IS mentioned.

https://docs.microsoft.com/en-us/azure/azure-vmware/attach-azure-netapp-files-to-azure-vmware-solution-hosts?tabs=azure-portal

Is ANF private preview for VMware available in Europe west?

Thanks,
Joost

---
#### Document

[2022-06-23 14:07] rifaterdemsahin opened #94808 "I cant run w2022 image?"
##[error]UnsupportedWindowsVersion: Unsupported windows image version. Supported versions are 'Windows Server 2016 - Before 2B, Windows Server 2019 - Before 2B, Windows Server 2016 - After 2B, Windows Server 2019 - After 2B, Windows Server, Version 1903 - After 2B, Windows Server, Version 2004'

I get this error deploying my container instance image why ?

---
#### Document Details

⚠ *Do not edit

[2022-06-23 14:14] raviveritread commented on #94768
here you go
https://docs.microsoft.com/en-us/azure/app-service/deploy-staging-slots

This is what it says

After a client is automatically routed to a specific slot, it's "pinned" to that slot for the life of that client session. On the client browser, you can see which slot your session is pinned to by looking at the x-ms-routing-name cookie in your HTTP headers. A request that's routed to the "s

[2022-06-23 14:27] himynameiszak opened #94809 "Administrative Role Review Not Available"
[Enter feedback here]
This workflow no longer appears as it does in the document. I no longer have the ability to review specific Administrative Roles.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bbedfb9-c0a0-ee10-6293-78d81bab4a80
* Version Independent ID: ba42ffd0-3b68-7ec4-7bf4-4b38390e1fe7
* Content: [Create an

[2022-06-23 14:53] shoshii commented on #94539
Hello @seesharprun @Oury-MSFT
I’ve confirmed the header is fixed.
I appreciate your quick work. Thank you!

[2022-06-23 15:25] kengaderdus commented on #94274
@moarychan

We're still waiting to hear from you.

Our only guess is you obtained auth code from Azure AD B2C policy, then tried to trade it for a token at `/token` endpoint.

The attempted exchange resulted in the error. You must have done something at the `/token` endpoint, which caused Azure AD B2C to think that you're doing client_assertion flow, or maybe you intended to do so (it's a guess, w

[2022-06-23 15:25] #94274 closed

[2022-06-23 15:29] hvoerman commented on #94449
Just to add another thing.

I just (first on a test appservice of course) performed the instructions as described by https://www.thebestcsharpprogrammerintheworld.com/2022/06/03/bring-your-own-storage-azure-app-service-map-directory-path/

And this just works fine as in the end it 'just' edits the D:\local\config\applicationHost.config via an XDT you put in D:\home\site and then you restart the Ap

[2022-06-23 15:29] kengaderdus commented on #94275
#please-close

[2022-06-23 15:29] #94275 closed

[2022-06-23 15:32] #94011 closed

[2022-06-23 15:34] spelluru commented on #94572
@EldertGrootenboer - please review and respond when you get a chance. Thanks.

#reassign:EldertGrootenboer

[2022-06-23 15:42] spelluru commented on #94789
The **Grant permissions to a managed identity in Azure AD** section has the information and links to the section that has all the roles.

https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-managed-service-identity#grant-permissions-to-a-managed-identity-in-azure-ad

links to

https://docs.microsoft.com/en-us/azure/service-bus-messaging/authenticate-application#azure-built-in-

[2022-06-23 15:43] #92578 closed

[2022-06-23 15:51] #94545 closed

[2022-06-23 15:51] sunnyhay commented on #94093
Cool. Thanks @waqassiddiqi for the great exploration!

[2022-06-23 15:56] meenasaravanan02 commented on #78554
Hi @sdolenc,
Sorry for the delayed response.  We have updated the document in the PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/202600
Thanks!
#please-close this issue

[2022-06-23 15:56] shwetamathur7 commented on #94809
@himynameiszak Thanks for your feedback. We will investigate and update the thread.

[2022-06-23 15:57] manu-kanwarpal opened #94811 "Hi, this page still says that cli v2 is preview in the first paragraph, could you please update it as our understanding is that it went GA at Build"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71b0af77-7750-19be-32f6-50d1c2646ca8
* Version Independent ID: cd816920-9ade-ea61-3485-b0ebde839a6e
* Content: [Install and set up the CLI (v2) - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-configure-cli?tabs

[2022-06-23 16:00] tagcaddy22 opened #94812 "Circular link to Elastic integration article"
The link to "Integrate Azure AD logs with Elastic using an event hub" looks sort of circular, like it just takes you to the Github page for the article itself, not to any information about using it with Elastic - am I seeing that right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2064767f-5304-275a-df9b-e74199b53408

[2022-06-23 16:11] MarileeTurscak-MSFT commented on #94812
@tagcaddy22
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-23 16:25] Chris-Wright-MS opened #94813 "Should page be titled "Link a partner ID to your Customer's Azure Accounts" instead"
Title seems like it needs to have the words "your Customer's" azure account instead of "your azure account".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f901056-c225-b086-cdaa-c8bd978db64c
* Version Independent ID: 9c067eb4-54cb-e141-d82f-e136ff3c671e
* Content: [Link an Azure account to a partner ID](https://docs.

[2022-06-23 16:26] spelluru commented on #92652
This should work now. Please let us know if you still see an issue. Thanks.

#please-close

[2022-06-23 16:26] #92652 closed

[2022-06-23 16:27] robece commented on #94601
Hi @himachida, thanks for reaching out, that's correct, the endpoint doesn't change when Microsoft-initiated failover is exercised by Microsoft in rare situations to fail over all the Event Grid resources from an affected region to the corresponding geo-paired region. You will find more details here: https://docs.microsoft.com/en-us/azure/event-grid/geo-disaster-recovery.

[2022-06-23 16:28] tejaswikolli-web commented on #90011
#please-close

[2022-06-23 16:28] robece commented on #94601
Hi @himachida, thanks for reaching out, that's correct, the endpoint doesn't change when Microsoft-initiated failover is exercised by Microsoft in rare situations to fail over all the Event Grid resources from an affected region to the corresponding geo-paired region. You will find more details here: https://docs.microsoft.com/en-us/azure/event-grid/geo-disaster-recovery. In case you want to imple

[2022-06-23 16:28] InformTechPro opened #94814 "Is VMAvailabilityMetric in Preview or Private Preview"
The document specified that VMAvailabilityMetric is in Preview. However, I'm not seeing the metric available when navigating to Azure Portal>VM>Metrics. The behavior suggests that it's still in Private Preview. We need clarity if the metric is available to the public or not.
https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/metrics-supported#microsoftcomputevirtualmachines

---
####

[2022-06-23 16:28] SumanthMarigowda commented on #94708
@shudson302 I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-06-23 16:28] #94708 closed

[2022-06-23 16:31] shudson302 commented on #94708
I feel that the documentation is incomplete by not including this use case.

From: SumanthMarigowda-MSFT ***@***.***>
Sent: Thursday, June 23, 2022 11:29 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Summer Hudson ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Clarification on Point Query with only Partition Key (Issue #94708)

CAUTION: This email originated from out

[2022-06-23 16:33] suzizuber commented on #94807
Hi @joostvandrenth thank you for pointing this out. It would be very helpful if you could list the other Azure docs that don't list Europe West in region support so I can look at them. Thanks for your help.

[2022-06-23 16:35] VikasPullagura-MSFT commented on #94807
@joostvandrenth Can you please share the other document you are referring to in this feedback.

[2022-06-23 16:38] joostvandrenth commented on #94807
https://docs.microsoft.com/en-us/azure/azure-netapp-files/whats-new

Tx for picking this up 👍🏻
On Thu, 23 Jun 2022 at 18:33, Suzi Zuber ***@***.***> wrote:

[2022-06-23 16:40] VikasPullagura-MSFT commented on #94807
@suzizuber
Document update is needed for below:
![image](https://user-images.githubusercontent.com/48944027/175350847-bf05c4a7-7462-4ede-9c3b-c30e9745fd95.png)

[2022-06-23 16:40] bandersmsft commented on #94793
@SnehaAgrawal-MSFT @jayinoz99 I've also made other grammar fixes with https://github.com/MicrosoftDocs/azure-docs/issues/94793.

#please-close

[2022-06-23 16:40] #94793 closed

[2022-06-23 16:46] spelluru commented on #94789
I have made a few updates to the **Grant permissions to a managed identity in Azure AD** section. The updates will go live in 15 minutes or so.

[2022-06-23 16:48] vhorne commented on #80600
You can select the Bot rule set when you create the WAF policy:
<img width="1161" alt="image" src="https://user-images.githubusercontent.com/15256338/175352219-d7644d19-470d-4b13-8536-56aeaf519509.png">

[2022-06-23 16:49] vhorne commented on #80600
#please-close

[2022-06-23 16:53] KranthiPakala-MSFT commented on #94792
Thanks for the feedback! We have assigned the issue to the content author to further review this and provide an update as appropriate.

[2022-06-23 16:54] KranthiPakala-MSFT commented on #94792
hi @lrtoyou1223 , could you please review the above ask from the customer do share your thoughts ? - Thank you

[2022-06-23 16:55] vhorne commented on #76422
CRS 3.2 is GA.
#please-close

[2022-06-23 16:55] #76422 closed

[2022-06-23 17:01] spelluru commented on #94601
Thanks. I added this detail to the article. The updated article will go live later today.

[2022-06-23 17:04] bandersmsft commented on #94813
@Chris-Wright-MS I sent offline email about this. Let's discuss there for now.

[2022-06-23 17:11] vhorne commented on #42533
article updated
#please-close

[2022-06-23 17:11] #42533 closed

[2022-06-23 17:12] Karishma-Tiwari-MSFT commented on #94796
It looks like your issue is resolved since you closed this thread.
If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-06-23 17:14] davidsmatlak commented on #39537
The article's current PowerShell commands use `"${groupid}:$roleid"` to get the variable values. Both variables can also use curly braces like `${groupid}:${roleid}"` to get the values. The [article ](https://docs.microsoft.com/azure/azure-resource-manager/managed-applications/publish-service-catalog-app)was updated and will publish later today.

[2022-06-23 17:14] davidsmatlak commented on #39537
#please-close

[2022-06-23 17:16] YutongTie-MSFT commented on #94811
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-23 17:17] vhorne commented on #43524
This content has been updated and limits is now a separate article: https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/application-gateway-waf-request-size-limits
#please-close

[2022-06-23 17:17] #43524 closed

[2022-06-23 17:27] nitinme commented on #92583
Responded to the query.

#please-close

[2022-06-23 17:28] #92583 closed

[2022-06-23 17:28] davidsmatlak commented on #74768
The `authorizations` parameter in Az CLI [az managedapp definition create](https://docs.microsoft.com/cli/azure/managedapp/definition#az-managedapp-definition-create) uses a space to separate pairs. The `-Authorization` parameter in Azure PowerShell [New-AzManagedApplicationDefinition](https://docs.microsoft.com/powershell/module/az.resources/new-azmanagedapplicationdefinition) uses a comma to sep

[2022-06-23 17:28] davidsmatlak commented on #74768
#please-close

[2022-06-23 17:28] nitinme commented on #92743
Responded to the query

#please-close

[2022-06-23 17:28] #74768 closed

[2022-06-23 17:28] #92743 closed

[2022-06-23 17:31] #94789 closed

[2022-06-23 17:32] jikuja opened #94817 "Key vault RBAC permission policy limitations"
Is there any list of known Azure services and portal UX features that does not support RBAC-based key vault access control?

Sm examples:
* function app configuration fails to detect if referenced key vault secret is configured properly
* databricks UX tries to create old access control permission
* etc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2022-06-23 17:33] koalomute opened #94818 "Powershell script in doco gets error when run"
Using the powershell script command on this page:
powershell -ExecutionPolicy RemoteSigned -File azure-remote-rendering\Scripts\DownloadUnityPackages.ps1

Results in a download error:

Error downloading https://pkgs.dev.azure.com/aipmr/MixedReality-Unity-Packages/_packaging/Unity-packages/npm/registry/com.microsoft.mixedreality.toolkit.foundation/-/com.microsoft.mixedreality.toolkit.foundation-2.5

[2022-06-23 17:49] andyjballgit opened #94819 "Clarification required on Azure Firewall Limits for unique source / destination for Rules"
from below snip . Does this mean :

- total = the (sum of unique source destinations for all rules) + sum of unique destinations for all rules) o r
- total = For Each Rule (unique source addresses * unique destination addresses)  - Total
   ( ie Rule 1 - 2 Source Addresses x 3 Dest Addresses = 6
       Rule 2 -  4 Sources Addresses x 5 Dest Addresses = 20
 total therefore 26

Rule limits | 10,000

[2022-06-23 17:55] birdnathan commented on #91558
Yeah i'm in the same boat, absolutely doesnt make sense to me

[2022-06-23 17:57] brenwebber opened #94820 "Page states (in an info alert) that the `Get-AzStorageTable` "also creates the table if it does not already exist."."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1093baf6-b6b6-52f7-5268-697fe6412bdf
* Version Independent ID: 65b4f939-ad12-b9e1-afd6-2f734653a163
* Content: [Perform Azure Table storage operations with PowerShell](https://docs.microsoft.com/en-us/azure/storage/tables/table-storage-how-to-use-powe

[2022-06-23 18:07] JamesTran-MSFT commented on #94817
@jikuja
Thanks for your feedback!

I don't believe we have a known list of Azure services and portal UX features that do not support RBAC-based key vault access control. However, I've assigned this issue to the author to investigate and update as needed.

Thank you for your time and patience!

[2022-06-23 18:30] rushifaldu opened #94822 "Link is wrong"
I think link to Azure Arc-enabled Kubernetes on below item is wrong (it seems to be internal link)
2To get [Microsoft Defender for Containers](https://docs.microsoft.com/en-us/azure/azure-arc/kubernetes/overview) protection for you should onboard to [Azure Arc-enabled Kubernetes](https://mseng.visualstudio.com/TechnicalContent/_workitems/recentlyupdated/) and enable Defender for Containers as an A

[2022-06-23 18:30] PatrickFarley commented on #82899
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Because this issue does not relate to documentation, we are closing this issue. @GiftA-MSFT please redirect this query to a product feedback channel.
#please-close

[2022-06-23 18:30] #82899 closed

[2022-06-23 18:38] safari137 opened #94823 "Azure Container Apps with Dapr and gRPC"
When using a Dapr with gRPC, there doesn't seem to be an https option. Or am I just missing how to set that up?

I'm currently blocked because my services need to authenticate with a bearer token.

In my ASP Core app I have this in Program.cs
[code]

I am using the following in my bicep deployment for dapr:
[code]

Since I am using http and `AddCallCredentials` I get the following error when runni

[2022-06-23 18:38] PatrickFarley commented on #92352
@RohitMungi-MSFT please contact a content writer for Support. I'm closing this out as it's still getting reported to my team.
#please-close

[2022-06-23 18:38] #92352 closed

[2022-06-23 18:44] safari137 commented on #83493
Would be great to see documentation on this.

It would probably give me insight on the following issue: https://github.com/MicrosoftDocs/azure-docs/issues/94823

[2022-06-23 18:49] JamesTran-MSFT commented on #94678
@sven5
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-06-23 18:49] #94678 closed

[2022-06-23 18:51] PatrickFarley commented on #91074
Ok, I'm adding a note in the export doc
#please-close

[2022-06-23 18:51] #91074 closed

[2022-06-23 18:56] #91579 closed

[2022-06-23 19:00] PatrickFarley commented on #91757
I've updated the docs
#please-close

[2022-06-23 19:30] ForrestTrepte opened #94824 "non-functioning link to Azure Active Directory users blade"
In this paragraph:

The link to the Azure Active Directory users blade link doesn't work for me. I have tried it with multiple different Azure logins. It just sits there with three progress dots forever spinning without showing the users. Would this link be better?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0dfa720

[2022-06-23 19:39] mike-urnun-msft commented on #94601
@himachida Thanks for sharing your feedback and helping us drive improvements towards MS Docs!

Since the doc is updated, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-06-23 19:39] #94601 closed

[2022-06-23 19:41] Bolleman commented on #94766
I tried repeating the process with a hello world node app and can confirm that the app works as expected.  So the issue has something to do with the zip packaging of my actual node node app, not app service per se, so I'm closing this issue for now.
 Sorry for any inconvenience.  Cheers

[2022-06-23 19:41] #94766 closed

[2022-06-23 19:41] ForrestTrepte opened #94825 ""Identify the user by their Principal ID" is confusing/misleading"
In this paragraph:

This says "Identify the user by their Principal ID". I don't see a field called "Principal ID" anywhere and this could lead to confusion if users think they need to use Principal ID to fill out this field of the form. Maybe we could say something like "Select a user from the list at the [Azure Active Directory users blade](https://portal.azure.com/#blade/Microsoft_AAD_IAM/Users

[2022-06-23 20:01] 1held commented on #91558
Welcome on board of the confused community - waiting for rescue. ;-)

[2022-06-23 20:32] cherylmc commented on #61258
Fixed. #please-close

[2022-06-23 20:32] #61258 closed

[2022-06-23 20:43] jaysterp commented on #94707
@tejaswikolli-web here are some clarifications:

"Does this statement apply when public access to registry is blocked? Or in general?"

This statement applies once public network access to the registry is disabled.

"Does this apply to self hosted agents of Azure Devops or also to the managed agents in Azure."

This applies to both managed and self-hosted agents in Azure DevOps. Managed agents can

[2022-06-23 20:54] cherylmc commented on #68798
Hi! The local network gateways you create take the generated settings (Ip addresses) from Site 1 and Site 2 when you download the VPN configuration files. These are used for the local network gateways. The article is being updated with additional screenshots to help clarify. Thanks #please-close

[2022-06-23 20:54] #68798 closed

[2022-06-23 21:11] shizn opened #94828 "No code snippets for .NET 6"
Although we have .NET6 tab at the very begining for user secrets management. The rest doesn't work with .NET 6.

![image](https://user-images.githubusercontent.com/3619378/175400563-82a8bfc8-cfe1-4a26-80bd-20938c153400.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d781aae8-fa5c-27a4-5d3d-64c60d008b4c
* Version In

[2022-06-23 21:13] udhaymahajan commented on #94344
@yaakov-simon
I am PM from Azure AD Provisioning Integrations. Do mind sharing the updated Step 2 along with new pictures or any other changes you want to v-umahajan@microsoft.com. I review it and update the Doc.

[2022-06-23 21:17] #43902 closed

[2022-06-23 21:32] kaheamartin opened #94829 "Start on Connect does not work for VM Scale Sets"
This isn't mentioned anywhere, but when using VM Scale Set instances as session hosts, start on connect does not seem to work properly despite using the **Microsoft.Compute/virtualMachineScaleSets** JSON permissions instead of the ones from the article.

The following trace was pulled from host pool diagnostic logs:
DoLoadBalancingAsync: Azure VM start call has failed for SessionHost = '≤Demo-SH00

[2022-06-23 21:51] MarileeTurscak-MSFT commented on #94822
@rushifaldu
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-23 21:55] davidmrdavid commented on #94616
Something else to note down as a change is that, instead of using`datetime.today()`, we should be using `datetime.utcnow()`

[2022-06-23 22:30] davidsmatlak commented on #67738
Tested the Azure PowerShell commands in the current [quickstart article](https://docs.microsoft.com/azure/azure-resource-manager/managed-applications/publish-service-catalog-app) and a SAS token isn't required. The commands completed with no errors.

[2022-06-23 22:31] davidsmatlak commented on #67738
#please-close

[2022-06-23 22:31] #67738 closed

[2022-06-23 22:39] MarileeTurscak-MSFT commented on #94822
Hi @rushifaldu,

Thanks for pointing this out! The Arc-Enabled Kubernetes link did indeed link to something internal, while the Microsoft Defender for Containers URL linked to the Arc-Enabled Kubernetes page.

I made a pull request to correct the links. It should go live within 24 hours. https://github.com/MicrosoftDocs/azure-docs-pr/pull/202721

[2022-06-23 22:39] #94822 closed

[2022-06-23 22:44] mike-urnun-msft commented on #94828
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-06-23 22:46] khdownie commented on #94762
@JohnPoetzinger @wmgries - I added the SMB over QUIC content to the File Sync Planning document:

https://docs.microsoft.com/en-us/azure/storage/file-sync/file-sync-planning#networking

@GitaraniSharma-MSFT this issue can now be closed. Thanks!

[2022-06-23 22:56] dlepow commented on #94436
Thanks @jdoblams for pointing this out! I will merge an update with this information, and it should publish within the next day.

[2022-06-23 22:57] #94436 closed

[2022-06-23 23:02] dcbrown16 opened #94831 "release permission"
@msmbaldwin there is a "release" permission under "Permissions for privileged operations" now, can you please add an explanation of that?

There is some info in the API doc but I don't really understand what this means.
Releases a key. The release key operation is applicable to all key types. The target key must be marked exportable. This operation requires the keys/release permission.
https://doc

[2022-06-23 23:03] spelluru commented on #92305
updated based on input from the dev

https://docs.microsoft.com/en-us/azure/service-bus-messaging/transport-layer-security-configure-client-version?tabs=java

#please-close

[2022-06-23 23:03] #92305 closed

[2022-06-23 23:06] davidsmatlak commented on #79358
#reassign:davidsmatlak

[2022-06-23 23:24] JamesTran-MSFT commented on #94831
@dcbrown16
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-23 23:41] YutongTie-MSFT commented on #94805
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-23 23:42] YutongTie-MSFT commented on #94806
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-23 23:43] davidsmatlak commented on #79358
I submitted the fix for this issue and after it's approved and merged, this issue will automatically close. After the merge, the updated document will be online within 24 hours.

[2022-06-23 23:45] YutongTie-MSFT commented on #94808
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-23 23:50] AgentMC opened #94832 "Operation can be simplified with VS2022"
[Enter feedback here]
Under here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions?tabs=in-process%2Cazure-cli%2Cv4&pivots=programming-language-csharp#migration-without-slots
please add that for Visual Studio users, it's enough to just publish ahead, VS will suggest to update the value by itself and it will work. The commands are for the cases when you do no use VS to publ

[2022-06-23 23:54] #93598 closed

[2022-06-24 00:05] dlepow commented on #94754
@KurtisHastieDG - Thank you for pointing out the error. We'll publish a fix promptly.

[2022-06-24 00:40] ccyjava opened #94834 "it's better if you can provide where can we import the DataStore"
it's better if you can provide where can we import the "DataStore"

otherwise user have to search that

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e60dd174-3b79-db95-a665-991bcf3b9579
* Version Independent ID: 70221e45-7afe-7f3c-1fcd-373d7e92eb6b
* Content: [Trigger Azure Machine Learning pipelines - Azure Machine L

[2022-06-24 00:40] darkoa-msft opened #94835 "Title of this web page does not match the title of the document"
Title of this web page does not match the title of the document

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 581d46fd-9672-0bc6-7152-39301c893fd4
* Version Independent ID: 202e0e14-10e9-2173-b4a5-bb8cf6cdd400
* Content: [Receive activity log alerts on Azure service notifications using Azure portal - Azure Service Hea

[2022-06-24 00:47] ccyjava opened #94836 "is the datastore only support AzureBlob? could you call out of that?"
I try to create a change-based schedule but got the failure if I am using ADLS as the datastore.

datastore = Datastore(workspace=ws, name="adls_segrel11")
reactive_schedule = Schedule.create(ws, name="MyReactiveSchedule", description="Based on input file change.",
                         pipeline_id=pipeline_id, experiment_name=experiment_name, datastore=datastore, data_path_

[2022-06-24 02:20] mike-urnun-msft commented on #94650
@stewartadam Thank you for the additional info! We’re proceeding to assign this issue to the content author to review further and take the next course of action.

[2022-06-24 02:21] YutongTie-MSFT commented on #94836
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-24 02:21] YutongTie-MSFT commented on #94834
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-24 02:29] VikasPullagura-MSFT commented on #94829
@Heidilohr
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-06-24 02:29] VikasPullagura-MSFT commented on #94829
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2022-06-24 02:35] RyanHill-MSFT commented on #94832
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-24 02:52] RyanHill-MSFT commented on #94825
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-24 02:55] RyanHill-MSFT commented on #94824
I did notice that as well [@ForrestTrepte](https://github.com/ForrestTrepte). I'll update the doc so that it has the correct link.

[2022-06-24 03:10] GitaraniSharma-MSFT commented on #94818
@koalomute , thank you for your feedback. We have assigned this to the content owner/author for review.

@FlorianBorn71 , for your review.

[2022-06-24 03:12] GitaraniSharma-MSFT commented on #94823
@safari137 , thank you for your query. We have assigned this to the content owner/author for review.

@asw101 , could you please provide your inputs on this?

[2022-06-24 03:14] abhinabsarkar opened #94837 "Policy to deploy workflow automation doesn't match with the steps & images in documentation"
The steps defined under "Configure workflow automation at scale using the supplied policies" doesn't match with the policy definition when implemented using Azure portal.

I noted the following differences:

1. There is no policy definition with the name "Deploy Workflow Automation for Microsoft Defender for Cloud recommendations" & version 1.0.0 is available. The policy available is "Deploy Workf

[2022-06-24 03:17] #79358 closed

[2022-06-24 03:19] SnehaAgrawal-MSFT commented on #94794
@Jeej Thanks again for the feedback! The PR has been raised once reviewed by author will be visible.
We will now close this out but if you feel you need more information please just let us know.

[2022-06-24 03:19] #94794 closed

[2022-06-24 03:37] Bosch-Eli-Black commented on #94783
@GitaraniSharma-MSFT Thanks 🙂

I did some more experimenting yesterday, and I think I've found the answer.

It turns out that calling `services.AddApplicationInsightsTelemetry()` _undoes_ the work that `b.AddApplicationInsightsWebJobs()` did. After removing the call to `services.AddApplicationInsightsTelemetry()`, everything started working.

@brettsam mentions in https://github.com/Azure/azure-we

[2022-06-24 03:47] GitaraniSharma-MSFT commented on #94612
@xujiongda , I couldn't find this NSG configuration mentioned anywhere. All docs have source and destination as Any.
We have assigned this to the content owner/author for review.

@mbender-ms , could we add the above recommendation somewhere, if possible?

[2022-06-24 03:48] GitaraniSharma-MSFT commented on #94777
@ChronoKal , I'm following up on my above comment. Could you please provide an update?

[2022-06-24 04:18] GitaraniSharma-MSFT commented on #94578
@kungfudante , I tested this scenario and it worked just fine for me. I created a Vnet, subnet, 2 VMs and 1 Route table. Added 2 system routes are UDRs and checked the effective routes of the VM. I see that the newly added UDRs are active and the system routes are invalid (as expected).

![image](https://user-images.githubusercontent.com/67630903/175461104-8eeb81e9-6e1c-4c1f-b7c8-f6c0bf275f60.png)

[2022-06-24 04:24] jeromelearner opened #94840 "AzureDiagnostics is not a supported table when it's MMA enabled, which the screenshot are with AzureDiagnostics table."
[Enter feedback here]
The doc is misleading customer. As AzureDiagnostics table is not supported currently, (if it's MMA-based) and when customer try to follow the doc to build their test lab, it will fail.
Also, please clearly told customer that it's in private preview or public preview now? and whether Microsoft Support team will support this preview feature or not?

---
#### Document Details

⚠

[2022-06-24 04:29] #94705 closed

[2022-06-24 04:39] SumanthMarigowda commented on #94820
@brenwebber If you have any issue related related to  above cmdlets, I recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion

[2022-06-24 05:27] SumanthMarigowda commented on #94581
@DavidChenLiang Firstly, , apologies for the delay in responding here and any inconvenience this issue may have caused.

![image](https://user-images.githubusercontent.com/80444138/175468230-e14864d9-fe90-447b-9f03-07cd6b26760c.png)

For more information refer to this article: https://docs.microsoft.com/en-us/azure/virtual-machines/dv3-dsv3-series

I'd recommend posting your question in https://az

[2022-06-24 05:27] #94581 closed

[2022-06-24 05:58] AnuragSharma-MSFT commented on #94663
@mckenzm Thanks for your patience. Some parameters can be set at instance and some at both instance and table level. As an example below parameters can be set at both level. If they are set at both levels, table will take precedence.

vacuum_cost_page_hit
vacuum_cost_page_miss
vacuum_cost_page_dirty
autovacuum_max_workers
autovacuum_vacuum_threshold
autovacuum_vacuum_scale_factor
autovacuum_vacuum

[2022-06-24 06:10] RaiAmanRai commented on #18214
Hi @MarileeTurscak-MSFT I am trying to create a new app in Azure. After going through the standard "Review + Create" theapp passes the validation but on the next step when I click create, it says "cannot create a v2 converged app".

**Facing this problem when I turn to pay-as-you-go plan but works fine in student subscription plan**
Cannot understand how this works??

[2022-06-24 06:11] shwetamathur7 commented on #94809
@himynameiszak Could you please explain in more detail which Administrative role you are looking for review and what are the issues you are facing which creating the review?

[2022-06-24 06:22] AjayKumar-MSFT commented on #94607
dochoss, We had raised a PR and the published changes would reflect in the doc shortly. Thanks again for taking time to share your feedback.

[2022-06-24 06:22] #94607 closed

[2022-06-24 06:26] GitaraniSharma-MSFT commented on #94819
@andyjballgit , thank you for your query. We'll review this and get back to you shortly!

[2022-06-24 06:27] GitaraniSharma-MSFT commented on #94814
@InformTechPro , thank you for your feedback. We'll review this and get back to you shortly!

[2022-06-24 06:30] GitaraniSharma-MSFT commented on #94837
@abhinabsarkar , thank you for your feedback. We have assigned this to the content owner/author for review.

@ElazarK , for your review.

[2022-06-24 06:34] konrad-jamrozik opened #94841 "The "Functions in Azure Monitor log queries" doc doesn't explain what is the recommended programmatic way of creating functions"
I tried to use [.create-or-alter function](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/management/create-alter-function) from Kusto.Explorer but it didn't work (I have correct connection, as I execute existing functions and read data). The documentation section on [function supportability](https://docs.microsoft.com/en-us/azure/data-explorer/query-monitor-data#function-supportabilit

[2022-06-24 07:14] descartes123 opened #94842 ""Could not find the Database Engine startup handle" error occur when create SQL Server FCI"
Dear admin,

I follow the steps to create a SQL Server FCI with cloud witness these days, but always meet "Could not find the Database Engine startup handle" at the end of the sql server failover cluster installation process, I found the steps were rather simple and don't contain any precaution or requisite in the whole install process, so I can't find solution at all, I also searched over interne

[2022-06-24 07:14] RaiAmanRai opened #94843 ""Insufficient privileges to complete the operation" on accessing its permission manager"
Hi, I am trying to access the configuraton of my existing Azure Bot, but when I do so, i am hit wth a "Insufficient privileges to complete the operation" message. Here, is the rest of the information displayed.

`{  "shellProps": {    "sessionId": "dbb793ffad68412ea4ff616943e7fd73",    "extName": "Microsoft_AAD_RegisteredApps",    "contentName": "CredentialsBlade",    "resourceId": "/subscriptions

[2022-06-24 07:24] descartes123 commented on #94345
I found it was because the cloud witness must use Standard storage, Azure Premium Storage is not supported.
I jump into this page from https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/failover-cluster-instance-premium-file-share-manually-configure?view=azuresql which led me to create a premium file share first but it was not support by CloudWitness, the reading experience

[2022-06-24 07:40] darkstar360 commented on #94616
Thanks @davidmrdavid.

I am using version 4 (v4) of azure's python Image (mcr.microsoft.com/azure-functions/python:4.0-python3.9-appservice) with a real storage account.

If you are already using `await` then it is a mystery. In theory the `client.purge_instance_history_by()` method should be able to use a datetime object of any range, maybe something has changed in the new V4 python image? I will

[2022-06-24 07:47] Eduard-Barsan opened #94844 "Supported Windows Operating Systems"
Please also include a Note mentioning that Core Windows version (2019 and later) are not supported, as it causes confusion  if/when using Win Core.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c946fe0f-e18d-2529-2fbf-bce04759fbca
* Version Independent ID: 885a61d1-6096-5aa0-fe8d-f1ec8d55e542
* Content: [Sign in to Wi

[2022-06-24 08:02] nkumars commented on #92641
Thanks @yoelhor, is there any plan to support in the future? We are eagerly wanting to have this supported.

[2022-06-24 08:37] karataliu opened #94845 "Command typo"
`az aks snapshot create` -> `az aks nodepool snapshot create`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba2a49af-10d0-9f2a-92b4-564f8a7ab514
* Version Independent ID: 291646ac-698b-569c-c603-a3bbe74e3013
* Content: [Snapshot Azure Kubernetes Service (AKS) node pools - Azure Kubernetes Service](https://docs.microso

[2022-06-24 08:56] FlorianBorn71 commented on #94818
Hi @koalomute,
is this a permanent failure or does it maybe work if you try later? The error code 5xx suggests that it could be due to a temporary outage that recovers eventually.

[2022-06-24 09:15] PieterdenEngelse opened #94847 "Looks like the word "also" is incorrect/confusing in "You can also create an application and its service principal object (ObjectID) in a tenant using Azure PowerShell, Azure CLI, Microsoft Graph, the Azure portal, and other tools.""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bfd6f1b-cd06-5db7-a5e6-25f1fb84e0c3
* Version Independent ID: 356504b9-85c1-168c-9b75-363a0a3c0ea4
* Content: [Securing service principals in Azure Active Directory - Microsoft Entra](https://docs.microsoft.com/en-us/azure/active-directory/fundamenta

[2022-06-24 09:25] Givary commented on #94844
@Eduard-Barsan Thank you for your feedback . We will investigate and update the thread.

[2022-06-24 09:36] SreejaBhattacharya-MSFT commented on #94845
@karataliu
Thanks for the feedback. We will look into it and update this thread.

[2022-06-24 09:40] SreejaBhattacharya-MSFT commented on #94842
@descartes123
Thanks for reaching out. We will look into this and update you.

[2022-06-24 09:48] shwetamathur7 commented on #94847
@PieterdenEngelse Thanks for your feedback. We will investigate and update the thread.

[2022-06-24 09:51] jorgelaranjo commented on #85496
Only way around it seems to be using the Powershell  as detailed in [Tutorial: Create DNS records in a custom domain for a web app](https://docs.microsoft.com/en-us/azure/dns/dns-web-sites-custom-domain):
eg
`New-AzDnsRecordSet -ZoneName contoso.com -ResourceGroupName "MyAzureResourceGroup" `
 -Name "www" -RecordType "CNAME" -Ttl 600 `
 -DnsRecords (New-AzDnsRecordConfig -cname "contoso.azurewebsi

[2022-06-24 09:54] shwetamathur7 commented on #94847
Thank you for your contribution for documentation enhancement. I have updated the document. Changes will be reflected after author's approval.

[2022-06-24 09:54] #94847 closed

[2022-06-24 10:16] AnuragSingh-MSFT commented on #94805
@adrwh, thank you for the question. `TimeGenerated` is one of the default fields and will be available for all the record types. You can only **control** the value of this field using the `time-generated-field` header which contains the Timestamp when the record was created. In case this value is not supplied with the data, Azure Monitor assumes the time is the message ingestion time.

[2022-06-24 10:23] torbennehmer opened #94848 "Document how to query the number of active metric dimensions"
The chapter https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/metrics-custom-overview#quotas-and-limits states the limites about active timeseries. However, it is not documented, how this limit can be viewed or monitored. This should be added to this section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-06-24 10:23] RohitMungi-MSFT commented on #94843
@RaiAmanRai This forum for azure docs supports issues related to azure documentation.
This issue seems to be related to access through azure portal and the session details related to your subscription are not accessible to any other user other than authorized users through a support case. Would request you to raise a support case from azure portal from help + support blade with the above session d

[2022-06-24 10:24] #94843 closed

[2022-06-24 10:28] chwarr commented on #94398
I talked with the Cosmos DB team about this. They said:

I'm happy to help revise this documentation, but I cannot find its source. Can you point me at it?

Thanks.

[2022-06-24 10:35] whiterose-it opened #94849 "Documentation on filtering APIM named values by tags is unclear"
The [documentation](https://docs.microsoft.com/en-us/rest/api/apimanagement/current-ga/named-value/list-by-service) for retrieving named values from APIM and filtering by tags is unclear. The documentions of the $filter field suggests that a filter can be applied to the tags field :
![image](https://user-images.githubusercontent.com/97525372/175517170-a5f65523-e597-4589-b0bf-47fafdb4d64b.png)

but

[2022-06-24 10:48] ShaikMaheer-MSFT commented on #94632
Hi @RayGabePMI Thank you for sharing this feedback. Its product related feedback and not on document related feedback. I encourage you to please submit feedback item in below link and up-vote same. Product team closely monitor feedbacks there and consider them for future implementations.
https://feedback.azure.com/d365community/forum/1219ec2d-6c26-ec11-b6e6-000d3a4f032c

[2022-06-24 10:50] hansharhoff opened #94850 "Missing information on backfill"
The description here does not actually explain what the backfill method does. The backfill reference points here for details.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 593eef63-77bf-caa5-34ac-a82940997373
* Version Independent ID: 845716a1-733e-fe82-8ecf-344858d2f206
* Content: [Detect data drift on datasets (prev

[2022-06-24 11:19] whiterose-it commented on #94849
I figured out how to do this by googling around (I didn't know about odata) I finally got it work after reading this [SO post](https://stackoverflow.com/questions/15475593/webapi-odata-filter-any-or-all-query-not-working) :
![image](https://user-images.githubusercontent.com/97525372/175524327-49c38b0a-d74f-413f-8d38-95e59ed0a545.png)

This isn't intuitive at all, so I think the docs would definite

[2022-06-24 11:21] kspoojary opened #94851 "what is the steps to connect search service(private endpoint enabled) from Local machine"
what is the steps to connect search service(private endpoint enabled) from Local machine

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c21b14d6-f288-9c5a-8f60-81763c33c274
* Version Independent ID: b10b0e1e-159b-04f6-abc3-9ed988dab5b1
* Content: [Create a Private Endpoint for a secure connection - Azure Cognitive Sear

[2022-06-24 11:24] mdv27 commented on #51790
@Grace-MacJones-MSFT @DirkSonguer This issue is fixed for me by adding `WEBSITE_AUTH_DISABLE_IDENTITY_FLOW=true` however `x-iisnode-auth_user` header is missing after adding this flag. I need `x-iisnode-auth_user` header value to get the logged in userId. Is there a way to fix this issue? Thank you in advance.

[2022-06-24 11:30] #94845 closed

[2022-06-24 11:34] whiterose-it commented on #94849
Hold the phone, I'm back. What I actually wanted to do was filter out all named values with a specific tab so I changed my filter to tags/any(tag: tag ne 'no-deploy') and got back :
{
  "error": {
    "code": "InternalServerError",
    "message": "Request processing failed due to internal error.",
    "details": null
  }
}

The docs says that the tag filter supports 'ne' so is there something I'm

[2022-06-24 11:50] ChronoKal commented on #94777
@GitaraniSharma-MSFT I opened a case on Microsoft Q&A.  Closing Issue.  Thanks.

[2022-06-24 11:50] #94777 closed

[2022-06-24 11:57] helloyesthisisdave commented on #93963
@memblin-taurus Following the support ticket I raised, the mitigation that has been given which has resulted in the support agent looking to close the ticket is as follows:

In my instance, this was related to having an `openrowset` that defined the data types via a `with` block.  The `BoxId` column was defined as a `uniqueidentifier` as that is the data that is being stored in Cosmos. e.g:

[code

[2022-06-24 12:56] GitaraniSharma-MSFT commented on #94835
@darkoa-msft , thank you for your feedback. We'll review this and get back to you shortly!

[2022-06-24 13:25] adrwh commented on #94805
Yeah thank you I understand that.  I am wanting to ingest records "without" a time stamp, and simply overwrite it each time i send new data.

[2022-06-24 14:01] AlexcFrench opened #94852 "Crash consistent or Application consistent AVS VM backups via MABS"
[Enter feedback here]
Hi, there is no mention if the AVS VM backups are application-consistent or only crash consistent.

As there no description of an agent being installed on the AVS VMS. Connectivity is from MABS to vCenter so for application consistent backups MABS must be able to trigger VSS. Does it do this via VMTools?

Could this be clarified in the article? specifically workloads like SQL

[2022-06-24 14:37] khdownie commented on #94762
#please-close

[2022-06-24 14:37] #94762 closed

[2022-06-24 14:56] jasongroce commented on #90330
#reassign:sudharocks after clarifying ownership

[2022-06-24 15:09] DonKoning opened #94855 "VM fails with error 'StorageAccountSubscriptionMismatch' after adding VM Application"
[Enter feedback here]
The [Create and deploy VM Applications (preview)](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fvirtual-machines%2Fvm-applications-how-to%3Ftabs%3Dportal&data=05%7C01%7CDon.Koning%40microsoft.com%7C21f9dd67e172471e7ccc08da55e333f2%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637916732297190335%7CUnknown%7CTWFpbGZsb3d8ey

[2022-06-24 15:17] zahraasaleh opened #94856 "Extra step needed to get container details before doing on-demand backup"
[We need to include the information on how to get the container friendly name and ContainerName before the user is able to run on-demand backup from this link [Sap Hana On-demand backup via CLI](https://docs.microsoft.com/en-us/azure/backup/tutorial-sap-hana-backup-cli#trigger-an-on-demand-backup)

so please include this step
 Get container friendly name [Reference](https://docs.microsoft.com/en-u

[2022-06-24 15:31] adgustaf opened #94858 "Azure Functions R Page Missing website"
An URL is missing from the tutorial.  In the section "Verify your functions on Azure," it states "In your browser, navigate to an URL like the following:" but then the URL is missing.  The following URL should be provided:

https://<app_name>.azurewebsites.net/api/HttpExample

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-06-24 15:49] ramireluis opened #94860 "missing info about the RdClientAutoTrace folder that contains useful logs"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80970cb8-947b-60cb-d28d-f0197cebb803
* Version Independent ID: 031f04e5-03fb-09c7-c7ab-25676ec6bc88
* Content: [Troubleshoot Remote Desktop client Azure Virtual Desktop - Azure](https://docs.microsoft.com/en-us/azure/virtual-desktop/troubleshoot-clien

[2022-06-24 15:50] ramireluis commented on #94860
Navigate to the %temp%\DiagOutputDir\RdClientAutoTrace folder
.Zip entire RdClientAutoTrace folder

[2022-06-24 16:15] cynthn commented on #94855
#reassign @ericd-mst-github

[2022-06-24 16:37] edyoung opened #94862 ""Agent connection issues to service" table needs to scroll to display"
[Enter feedback here]
When viewed in latest Edge on Windows at 100% scaling the table looks like this:

<img width="678" alt="image" src="https://user-images.githubusercontent.com/45578/175590879-e0619b42-da63-4a1a-94c5-c49fedb0acd9.png">

Perhaps we can rearrange the display so the data is not truncated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2022-06-24 16:48] edyoung opened #94863 "Can we have anchor tags for each of the AZCMxxxx error codes?"
I'd like to have the agent code provide a link to this page when an error occurs. I've created an aka.ms link https://aka.ms/arc/azcmerror

If we had an anchor tag on each error code, then we can provide a link like https://aka.ms/arc/azcmerror#azcm0001 and the page would jump straight to the appropriate error message and explanation.

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-06-24 16:51] mike-urnun-msft commented on #94858
Thank you for your feedback! We will review and update as appropriate.

[2022-06-24 16:58] koalomute commented on #94818
Hi @FlorianBorn71,

Yes, you are correct - this is working now. Sorry about raising this in error.

[2022-06-24 16:58] koalomute commented on #94818
Closing, as this is now working and was a temporary outage.

[2022-06-24 17:04] #94754 closed

[2022-06-24 17:14] aahill commented on #94190
As of October 30, 2020, the Bing Search APIs moved out of Cognitive Services to Bing Search Services. This documentation is provided for reference only.

You can see the current Bing documentation here: https://docs.microsoft.com/bing/search-apis/

#please-close

[2022-06-24 17:14] #94190 closed

[2022-06-24 17:19] ChaitanyaNaykodi-MSFT commented on #94639
Hello @henryxuteck, thank you for reaching out. Based on your questions above.

I think this will depend on the traffic in your network. As per [the FAQ here](https://docs.microsoft.com/en-us/azure/firewall/firewall-faq#how-can-i-increase-my-firewall-throughput) Azure Firewall's initial throughput capacity is 2.5 - 3 Gbps and it scales out to 30 Gbps. It scales out automatically based on CPU usage

[2022-06-24 17:19] #94639 closed

[2022-06-24 17:24] aahill commented on #91686
I tried and can see that the variable isn't functioning as intended. Transferred to internal ticket #1964202 to triage

#please-close

[2022-06-24 17:25] aahill commented on #91686
#please-close

[2022-06-24 17:25] #91686 closed

[2022-06-24 17:34] mbender-ms commented on #94746
Thanks for the detailed feedback @kimjamia.

I've added this issue to my backlog and will update the document as appropriate.

[2022-06-24 17:38] ericd-mst-github commented on #94855
Thank you for your feedback and I apologize for the delay.  I confirmed with engineering that we also currently have a bug affecting VM app deployments on subscription mismatching. The fix will be deploying later today, and you may need to delete and recreate the VM App versions.

[2022-06-24 17:46] Robert-Lauriston-at-Striim commented on #94524
How do I reopen this? I'm still stuck.

[2022-06-24 17:55] cynthn commented on #94855
@ericd-mst-github Should we close this, or leave it open until the fix is rolled out?

[2022-06-24 18:22] jackhorton opened #94865 ".NET Console app insights example references outdated method for flushing telemetry"
The "full example" code sample says that you must sleep for 5 seconds after flushing. However, according to InMemoryChannel documentation, you should not need this sleep after flushing: https://docs.microsoft.com/en-us/azure/azure-monitor/app/telemetry-channels#built-in-telemetry-channels.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-06-24 18:23] LucioBenzor opened #94866 "Log Analytics Demo environment no longer available"
When I try to access the Log Analytics environment, it looks like it's no longer available. The workspace may have been moved

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a7fbec9-98e3-15e5-8a64-c8af022d9283
* Version Independent ID: fde9de60-b8ca-3c20-443e-adc4d0177bca
* Content: [Log Analytics tutorial - Azure Moni

[2022-06-24 18:24] xtianus79 commented on #94264
@James-Hamil-MSFT would you be able to help with this?

[2022-06-24 18:33] ericd-mst-github commented on #94855
@cynthn We can keep this open until the fix is rolled out.

[2022-06-24 18:39] danmayor opened #94868 "AGW, AKS with Lets Encrypt tutorial invalid"
The api versions are wrong, tutorial is invalid :(

Every step produces errors such as:

resource mapping not found for name: "certificates.certmanager.k8s.io" namespace: "" from "https://raw.githubusercontent.com/jetstack/cert-manager/release-0.8/deploy/manifests/00-crds.yaml": no matches for kind "CustomResourceDefinition" in version "apiextensions.k8s.io/v1beta1"

I've tried to read and adjust

[2022-06-24 18:57] joshuapetryk opened #94869 "Stream Analytics Service Bus Managed Identity doesn't work"
There are a few things wrong with this document:

The end of the article says "search and select your Cosmos DB account and select Managed Identity: System assigned". This is obviously copy and pasted from the Cosmos DB article - as **there is no option in the portal to choose managed identity for Service Bus**.

When trying to switch to managed identity in the "Endpoint Management" blade, Azure a

[2022-06-24 19:05] jlichwa commented on #94817
@jikuja unfortunately we don't have full list of services using Key Vault.

[2022-06-24 19:08] OrRabinovich81 commented on #38625
I suggest reopening this issue, it is not resolved since there is still no way to pass Group name and not Group ID in Azure's SAML 2.0 offering. Other SAML 2.0 SSO providers such as Okta, Jumpcloud, Google, etc - all support this.

[2022-06-24 19:22] yowl commented on #67166
Has anyone seen the latest update from Digicert, sounds like they wont support Azure KeyVault in the future as part of the process is to create a CSR?

"
This new requirement means Certificate Authorities (CAs) can no longer support browser-based key generation and certificate installation or any other process that includes creating a CSR (Certificate Signing Request) and installing your certifica

[2022-06-24 19:35] yowl commented on #67166
Yes, maybe the wording is not clear, where they say "server", I assumed it included premium Key Vault, but maybe it doesn't.  It came in an email so I don't have a link.

[2022-06-24 20:18] brenmelo22 opened #94871 "Re-protect is not supported if you convert the VM from unmanaged disks to managed disks. You need to disable and enable protection for the VM."
Hello,

I have a customer who wants to Migrate from unmanaged disks to Managed disks. The VM is protected by ASR. In my testing if you convert the disks to managed and then try to use the "re-protect" version in ASR you will receive the following error:

The VM cannot be re-protected as the erstwhile source virtual machine storage type is incorrect. Expected: 'Blob', Actual: 'ManagedDisk'.
• Possi

[2022-06-24 20:23] #94824 closed

[2022-06-24 20:32] dkalpakian opened #94872 "Add Note about AzureResourceManagerTemplateDeployment@3 support for Bicep files"
[Enter feedback here]
This page should include a section/note about using the existing AzureResourceManagerTemplateDeployment@3 task as a supported way to deploy Bicep files. Many projects, including my team's, use this deployment task instead of AzureCLI@2 for deploying our existing ARM templates and I had to dig into the AzureResourceManagerTemplateDeployment@3 documentation to see it supports B

[2022-06-24 20:33] #94872 closed

[2022-06-24 20:33] dkalpakian opened #94873 "Include section on using ARMTemplateDeploymentTask@3 for Bicep file deployments"
[Enter feedback here]
This page should include a section/note about using the existing AzureResourceManagerTemplateDeployment@3 task as a supported way to deploy Bicep files. Many projects, including my team's, use this deployment task instead of AzureCLI@2 for deploying our existing ARM templates and I had to dig into the AzureResourceManagerTemplateDeployment@3 documentation to see it supports B

[2022-06-24 20:35] dkalpakian commented on #94872
Accidentally created the issue targeting the wrong page of the Bicep documentation. Opened up issue #94873 instead

[2022-06-24 20:36] JimacoMS4 commented on #94528
Hi @Marusyk -- thanks for your feedback! We've updated the documentation in a couple of places:

- https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-automatic-device-management (bottom of the intro) and https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-automatic-device-management#create-a-configuration

- https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-automatic-device-management-

[2022-06-24 20:46] tnewton1 opened #94874 "Is updating delete behavior only possible with REST API?"
I am working on a shell script and so far I can do everything via az cli. The issue though is I'm not sure how each VM was created. When testing, I created a VM by just clicking next next next so when I tested my script function to delete the VM, it also deleted the OS disk, but I need to keep the OS disk. The docs aren't clear if the _only_ way to update the OS disk is REST API or if an az cli at

[2022-06-24 21:04] jberry777 commented on #17764
@brfabia thanks for the response! I got around that limitation by writing a deployment/onboarding script for customer tenants in PowerShell. The onboarding script uses the "owner" permissions of the customer executing the script to create the Lighthouse enrollment policy and assign it at the Root Management Group level. This policy has "deployIfNotExists" specified and the script starts a complian

[2022-06-24 21:05] RyanHill-MSFT commented on #94832
The context of this doc isn't about publishing a function app, but moreover the various steps needed to update an existing Azure Function. The command you referenced is changing the configuration so that the platform uses the right runtime and doesn't involve VS.

[2022-06-24 21:07] Marusyk commented on #94528
Cool, it is very helpful.
Thank you

[2022-06-24 21:07] #94528 closed

[2022-06-24 21:26] ggailey777 commented on #94832
@AgentMC is your comment specific to either upgrading or slots? You can, of course, set these same app settings from Visual Studio.

[2022-06-24 21:36] AgentMC commented on #94832
@ggailey777 my comment is regarding the process of upgrading a function v3->v4 in a non-slot scenario.
Which involves switching the runtime version from 3 to 4 as a setting.
According to docs, this **must** happen using the command line, before deploying the update (that's the only way the docs are giving).

In fact, Visual Studio does it automatically during the publish process (you do not need t

[2022-06-24 21:53] BadrElfarri commented on #35973
I can't find how to implement the link shared in python, any one that have implemented the referencing of rand-guid in python?

[2022-06-24 22:18] kobulloc-MSFT commented on #94874
@tnewton1 Thank you for your feedback!  We are reviewing the documentation and will get back to you shortly.

[2022-06-24 23:34] YutongTie-MSFT commented on #94841
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-24 23:36] YutongTie-MSFT commented on #94848
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-24 23:37] YutongTie-MSFT commented on #94851
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-24 23:40] YutongTie-MSFT commented on #94856
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-24 23:43] YutongTie-MSFT commented on #94860
Hello @ramireluis

Sorry, could you please clarify your feedback more? What info is missing there?

[2022-06-24 23:43] YutongTie-MSFT commented on #94862
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-24 23:44] YutongTie-MSFT commented on #94863
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-24 23:45] YutongTie-MSFT commented on #94865
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-24 23:46] YutongTie-MSFT commented on #94866
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-24 23:47] YutongTie-MSFT commented on #94868
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-24 23:48] YutongTie-MSFT commented on #94869
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-24 23:49] YutongTie-MSFT commented on #94871
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-24 23:50] YutongTie-MSFT commented on #94873
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-24 23:52] Karishma-Tiwari-MSFT commented on #94758
@[jpwalters1](https://github.com/jpwalters1) Which regions are you specifically interested in? I am reaching out to the product team to see if they can share any information on this. Thanks.

[2022-06-24 23:54] RLashofRegas opened #94876 "Missing Explanation of Additional Method to Connect to Remote Registry"
In [this section](https://docs.microsoft.com/en-us/azure/databricks/applications/machine-learning/manage-model-lifecycle/multiple-workspaces#specify-a-remote-registry) of the "Share models across workspaces" Azure Databricks docs it provides a method to pull a model from a remote registry using a secret scope and secrets with a specific prefix. This method does not work when running jobs using `sp

[2022-06-25 00:02] jpwalters1 commented on #94758
Thanks!  US East

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Karishma Tiwari - MSFT ***@***.***>
Sent: Friday, June 24, 2022, 7:53 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: jpwalters ***@***.***>; Author ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Guidance on when wider availability  (Issue #94758)

@jpwalters1<https://github.com/jpwalte

[2022-06-25 00:09] RyanHill-MSFT commented on #94825
The Principal ID is also known as the Object ID on this blade. I have a pending PR to clarify this but will reach out to the doc author to see what changes should be made.

[2022-06-25 00:16] w-azure commented on #81939
Thanks for the feedback and inquiry. If your container target is unnamed or null within `storageContainersForUpload`, a default name will be assigned to the target. If you wanted to stop uploading to a container, it must be removed completely from `storageContainersForUpload`. For more information, see the `deviceToCloudUploadProperties` section of [Store data at the edge with Azure Blob Storage o

[2022-06-25 00:16] #81939 closed

[2022-06-25 00:25] tamram commented on #94209
@paulspinkstr - The doc has been updated.

#please-close

[2022-06-25 00:25] #94209 closed

[2022-06-25 01:10] tamram commented on #94708
Here's the answer I received from the product team:

Querying an Azure table with the PK will certainly improve the performance as it’s the only index that we provide. If you don’t provide PK in your query, then you’re essentially asking the table service to do a table scan, which is the worst thing you can do performance-wise.

To the ‘PK uniqueness’ question, sure, it could improve query perform

[2022-06-25 01:12] tamram commented on #94708
I can't say that performing a query using the PK is "equivalent" to a point query. But it's the best option available for returning multiple records in terms of performance.

[2022-06-25 04:10] GitaraniSharma-MSFT commented on #94876
@RLashofRegas , thank you for your feedback. We'll review this and get back to you shortly!

[2022-06-25 04:32] BlaneG opened #94877 "OperationalError: invalid sslmode value: "true""
In the Azure portal, the Settings->Connection strings states that the following should be the format of my python connection string:
[code]
However, using this string format with psycog2.connect() throws `OperationalError: invalid sslmode value: "true"`. Your documentation helped my debug this issue, but the Azure portal needs to be updated.

---
#### Document Details

⚠ *Do not edit this section.

[2022-06-25 04:49] GitaraniSharma-MSFT commented on #94877
@BlaneG , thank you for your feedback. We'll review this and get back to you shortly!

[2022-06-25 05:30] AnuragSingh-MSFT commented on #94805
@adrwh, thank you for the reply. By design of Log Analytics/Application Insights workspace, it is not possible to omit the time generated field. All logs in Azure Monitor Logs are partitioned according to the TimeGenerated column. The number of partitions that are accessed are directly related to the time span. This would also be used when the retention period expires, and the data has to be delet

[2022-06-25 05:37] mrcunninghamz commented on #80036
@JFolberth ... fancy seeing you here. ALSO. this is SOOO Funny because I was like.. Joel this number looks fake.

[2022-06-25 05:51] kungfudante commented on #94578
Actually I met such issue twice. The first time was a UDR to VPN Gw and in backstage the UDR was invalid:
![image](https://user-images.githubusercontent.com/106713170/175748670-e199564f-85de-456a-8746-e9c4c4ef0674.png)
The second time was a UDR to VNet, but sorry this time I didn't take a screenshot, and the issue was resolved with removing the UDR.

[2022-06-25 06:25] AnnuKumari-MSFT commented on #94869
Hi @enkrumah ,
Requesting to validate customer feedback and update the document accordingly as appropriate. Thankyou

[2022-06-25 08:15] mimachniak opened #94878 "Code snipe fix in article"
[Enter feedback here]

Fix code snipes

[code]

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df2cd607-99aa-7541-e93e-323a536c2615
* Version Independent ID: 5bca3714-7ac9-1f60-6054-28f7c750bcdf
* Content: [Use Cluster Connect to connect to Azure Arc-enabled Kubernetes clusters - Azure Arc](https://docs.microsoft

[2022-06-25 08:19] iotmani opened #94879 "Activity logs settings small typo"
´Its" instead of "it's"

[2022-06-25 09:35] jayinoz99 opened #94880 "How long is analytics data stored for in storage?"
How long is analytics data stored for in storage?

The page states a maximum of 730 days

Raw data points (that is, items that you can query in Analytics and inspect in Search) are kept for up to 730 days. You can [select a retention duration](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/data-retention-archive#set-retention-and-archive-policy-by-table) of 30, 60, 90, 120, 180, 270, 36

[2022-06-25 12:19] AnthonyPhan opened #94881 "MPN ID field missing"
Is there a field in the Azure Active Directory App manifest to define the MPN ID for multi-tenanted apps?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f7ced07-0b71-715f-749b-180567591c72
* Version Independent ID: 8c533d7b-a058-3f1a-c296-9c0305f85f13
* Content: [Understanding the Azure Active Directory app manifest -

[2022-06-25 13:27] KrishnaG-MSFT commented on #94879
@iotmani Can you share the Azure document link to which your feedback refers?

[2022-06-25 13:28] KrishnaG-MSFT commented on #94878
@mimachniak Thanks for your comment! We will review and provide an update as appropriate.

[2022-06-25 15:15] GitaraniSharma-MSFT commented on #94880
@jayinoz99 , thank you for your feedback. We'll review this and get back to you shortly!

[2022-06-25 15:17] GitaraniSharma-MSFT commented on #94881
@AnthonyPhan , thank you for your query. We'll review this and get back to you shortly!

[2022-06-25 15:30] painkillerpk opened #94884 "Error while getting AD application for Microsoft.EventGrid"
I am getting the following error when trying to fetch the AD application of event grid.

[code]

I am able to see this application under Enterprise applications in the portal.

Edit 1:
I am following the steps on this URL- https://docs.microsoft.com/en-us/azure/event-grid/scripts/event-grid-powershell-webhook-secure-delivery-azure-ad-app

---
#### Document Details

⚠ *Do not edit this section. It

[2022-06-25 17:06] BrightJamesJ opened #94885 "Tried following the document with the same screenshot attached in the public document, failed to enable VM Insights any of the vm through policy"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ceee999-213e-e028-e90b-898f403224cc
* Version Independent ID: 1039f286-43fd-99fe-a53b-8e86b51a0309
* Content: [Enable VM insights by using Azure Policy - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/vm/vminsights-enable-policy)

[2022-06-25 20:00] AjayKumar-MSFT commented on #94783
Thanks for the follow-up and sharing the solution that worked for you with the community. It's much appreciated.

 @ggailey777, could you please review the feedback and see if a Note' on not calling' `services.AddApplicationInsightsTelemetry()` is required. Requesting your comments.

[2022-06-25 20:59] DeanGross opened #94886 "Subscription guidance"
Please provide some guidance about the potential need for a dedicated subscription? How should Purview fit into the overall tenant architecture, landing zone and governance model

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8868c56f-f02e-475b-7e7a-2db4abaf2b84
* Version Independent ID: bf20ce93-60e9-36ff-f4e8-22ad9f6

[2022-06-25 22:14] enkrumah commented on #94869
Hi @joshuapetryk  service bus MSI is supported. we released the feature in preview and have identified a bug that prevents Service Bus MSI from showing up in the portal. We are working on a fix. I have updated the typo from the doc.

[2022-06-26 00:36] YutongTie-MSFT commented on #94884
Hello @painkillerpk

Please help with the link of document on which above document feedback request is created. Thanks.

[2022-06-26 00:37] YutongTie-MSFT commented on #94885
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-26 00:38] YutongTie-MSFT commented on #94886
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-26 02:25] PatrickBorkowicz opened #94887 "Minor pedantic correction"
On this line:

WindowsAmd64 and WindowsX86, which contain the Windows 32-bit and 64-bit installer packages, respectively. The WindowsAmd64 installer package is for all supported 64-bit Windows clients, not just Amd.

The WindowsAMD64 is the 64-bit package, hence it should read:

WindowsAmd64 and WindowsX86, which contain the 64-bit installer and Windows 32-bit packages, respectively. The WindowsAm

[2022-06-26 04:55] painkillerpk commented on #94884
Here is the URL of the Microsoft documentation -> https://docs.microsoft.com/en-us/azure/event-grid/scripts/event-grid-powershell-webhook-secure-delivery-azure-ad-app

[2022-06-26 07:43] GitaraniSharma-MSFT commented on #94887
@PatrickBorkowicz , thank you for your feedback. We'll review this and get back to you shortly!

[2022-06-26 07:57] GitaraniSharma-MSFT commented on #94578
@kungfudante , thank you for the update. As the issue is not reproducible every time, this cannot be considered a bug. I would request you to raise a support request the next time you encounter this issue to get a detailed root cause analysis for same. It could be due to some issue while creation of the UDR or non-propagation of routes to the VMs in your subnet.

We are closing this issue for now.

[2022-06-26 07:57] #94578 closed

[2022-06-26 07:58] yoelhor commented on #94291
For a single page application, there are two methods to initiate the login process: pop up and redirection. The popup isn't relevant to this discussion, as it pops the login window up as a separate window on top of your app.

With regard to the redirection, when the user clicks on the sign-in button, the user is taken to Azure AD B2C to complete the login process. Then, the user comes back with an

[2022-06-26 08:03] cveld opened #94890 "Bicep cli must be installed"
I am getting the following error:

New-AzResourceGroupDeployment: Cannot retrieve the dynamic parameters for the cmdlet. Cannot find Bicep. Please add Bicep to your PATH or visit https://aka.ms/bicep-install to install Bicep.

Maybe it is good to add a note that the Bicep cli must be installed as a prerequisite.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2022-06-26 08:04] yoelhor commented on #92641
Dear @nkumars,

Thanks for the feedback. I understand why this is important for you. You’re not the only one giving us these requests. We don’t have this feature coming up in the next while. For this issue, I'd recommend you to use the custom policy instead.

[2022-06-26 08:08] GeethaThatipatri-MSFT commented on #94877
@BlaneG Can you please provide more information on what needs to be updated in the portal

[2022-06-26 08:30] yoelhor commented on #91187
Unfortunately it's impossible to get the JSON payload into a string claim. The custom policy always parses the incoming JOSN into individual claims. There are a few cases where B2C returns part of the JSON payload. But it's not officially supported and I don't have information I can share.

With regard to the partner claim type. This attributes configure how to retrieve the claim from the JSON. I

[2022-06-26 08:46] yoelhor commented on #90113
Both of them are correct. The different between them, that the[ reference article](https://docs.microsoft.com/en-us/azure/active-directory-b2c/saml-issuer-technical-profile) provide all of the metadata and cryptographic keys, while the [how to guide](https://docs.microsoft.com/en-us/azure/active-directory-b2c/saml-service-provider?tabs=windows&pivots=b2c-custom-policy) provides only the ones relev

[2022-06-26 09:00] yoelhor commented on #90498
Dear [mrochon](https://github.com/mrochon), thanks for the feedback. I'm updating the article with the relevant information. A new version will publish Monday, and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need further information, please open new GitHub issue.

[2022-06-26 09:12] #90498 closed

[2022-06-26 09:31] GitaraniSharma-MSFT commented on #94890
@cveld , thank you for your feedback. We'll review this and get back to you shortly!

[2022-06-26 11:43] mattu0119 opened #94891 "Maximum files size is 4 TiB for both Standard and Premium file share."
[Enter feedback here]
This Doc suggests limiting the Oracle DB backup pieces size to 1 TiB, but maximum file size is 4 TiB for Azure Files Standard Share now. Please modified the Oracle DB backup pieces size for Azure Files Standard File share.

https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/oracle/oracle-database-backup-azure-storage?toc=https%3A%2F%2Fdocs.microsoft.com%2Fja-jp

[2022-06-26 13:17] webmaxru opened #94892 "Incomplete instruction on getting a Server key for Firebase Cloud Messaging API V1 (current)"
If Firebase Cloud Messaging API V1 the Server key is not shown (I assume, it's no longer in [direct] use in this version anymore). To get the one for configuring Notifications Hub, you have to enable Cloud Messaging API (Legacy) as described here https://stackoverflow.com/a/72719766/1310228 and then the Server key will be shown.,

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2022-06-26 14:55] matthewjward commented on #94291
Thanks for the reply, makes sense.
Seeing as 'Running MSAL 2.0 in an iframe is not currently supported.' - any recommendations for what to use in its place?

[2022-06-26 15:01] ElazarK commented on #94837
Hi @abhinabsarkar I am in the process of updating the page and reviewing all items on it. The updated version will appear on the live website within the next day or two.

[2022-06-26 15:01] ElazarK commented on #94837
#please-close

[2022-06-26 15:01] #94837 closed

[2022-06-26 15:17] GitaraniSharma-MSFT commented on #94891
@mattu0119 , thank you for your feedback. We'll review this and get back to you shortly!

[2022-06-26 15:18] GitaraniSharma-MSFT commented on #94892
@webmaxru , thank you for your feedback. We'll review this and get back to you shortly!

[2022-06-26 17:25] BlaneG commented on #94877
@GeethaThatipatri-MSFT  The python connection string should include: _sslmode='require'_ ~sslmode='true'~

[2022-06-26 18:37] adi-garg opened #94896 "Limitations Section may need correction"
One of the limitations mentioned is:
**The backend resources must be in the same virtual network as the load balancer for IP based LBs**

I infer that there is only a region tied to the Loadbalancer and front-end IP, not a virtual network as indicated in statement above.

The backend pool needs to be created in same region as the Loadbalancer.
However, there can be multiple backend pools belonging

[2022-06-26 20:04] j055 commented on #94561
I've experienced the same error when trying to use my own VNET with a container environment. I followed this document.

https://docs.microsoft.com/en-us/azure/container-apps/vnet-custom?tabs=powershell&pivots=azure-cli

I've also tried deployment with a ARM template. The deployment times out after 1 hour. The environment shows as created but  gets stuck there. I can export the template which looks

[2022-06-26 20:53] adi-garg commented on #94896
Actually,I just realised that the Loadbalancer itself gets assigned the same vnet as the defined backend pool.
I guess this needs to be clarified in the Microsoft Doc and the portal(it never asks to assign a virtual network for the Loadbalancer, only for the backend pool ,perhaps this is misplaced).

In summary,a Loadbalancer is tied to a region plus vnet  ;backend pools must use the same region a

[2022-06-26 21:06] lamdaiphong opened #94897 "Hybrid - Two-way sync group & users"
This document to simple and not provides any Videos demo, I have do many testing and followed the document but still unable to see any primitive Azure AD group sync back to on-premises AD. A primitive Azure AD Groups/Users meant it is created from Azure AD originally and when you look at the Source from Azure AD it is indicated "Cloud".

---
#### Document Details

⚠ *Do not edit this section. It i

[2022-06-26 21:36] skye-mcleman commented on #77943
Hi @MonikaReddy-MSFT
Looks like this still hasn't been merged. Can you please reopen this issue and/or complete the merge?

[2022-06-26 21:38] ggailey777 commented on #94832
Thanks @AgentMC. I haven't tried it yet, but I assume VS also upgrades the function app to run .NET 6 (site setting `netFrameworkVersion = v6.0`? I'll verify and add a note to the article.

[2022-06-26 22:47] GThomas-ent opened #94898 "Cannot update "Other Emails" field in the preview experience"
We are unable to update "Other Emails" (known as "Alternate Emails" in the existing portal) in this new portal.  The option simply doesn't exist - it's not a permissions issue.

This is a very important function for us as some users require a second account (say for Global Admin).  We do not want to give an email address (or license or anything) to this second user, so instead we just the email ad

[2022-06-26 23:06] AgentMC commented on #94832
In my case it did, despite not asking:
![image](https://user-images.githubusercontent.com/11662240/175837047-350200bd-7eaa-4249-a637-0dfe699a32db.png)

Which is interesting because in spite of my host configuration in Azure being Windows, the _target platform_ in VS is not forced to be Windows. So if I follow the docs, I'm not so sure it was necessary. Would be great to doublecheck this with the t

[2022-06-26 23:15] cro27 commented on #87039
#please-close - fixed in PR #192893

[2022-06-26 23:15] #87039 closed

[2022-06-26 23:18] cro27 commented on #94891
@mattu0119, thank you for bringing this to our attention. Will update the doc with the new limit.

[2022-06-26 23:33] pnarsi commented on #94659
@AnnuKumari-MSFT - thanks for that. Not sure how I missed the dropdown option.

[2022-06-26 23:33] #94659 closed

[2022-06-26 23:36] coolhome opened #94899 "Example Code - Missing Powershell for Powershell tab"
![image](https://user-images.githubusercontent.com/700740/175838174-e2aed905-0b02-40a9-b66e-496fe8f93f8f.png)
The _Powershell tab_ for all code examples produces the Azure CLI example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0258327-664a-28db-b9fc-03a6a115b80e
* Version Independent ID: d471e1b1-27c1-4aad-6eed-d

[2022-06-27 00:14] hiladg opened #94901 "Version and Options"
[Enter feedback here]
I would like to know which Version of Databricks enables this as I can't see this.
Also, I'm working on Windows (I hope that's OK) - the command to add a new parameters is:
CMD+P
And if you're using Windows?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab8b073a-5e40-90a8-2da8-9e0ba6b7b77e

[2022-06-27 00:37] masish opened #94902 "About operations setp"
[Enter feedback here]

https://docs.microsoft.com/en-us/azure/azure-functions/configure-networking-how-to#restrict-your-storage-account-to-a-virtual-network

If using service endpoint user don't need to make new storage and move contents.
Wouldn't it be better to separate the steps for service and private endpoints?

![image](https://user-images.githubusercontent.com/6810994/175840505-b597f84c-4d3

[2022-06-27 00:40] YutongTie-MSFT commented on #94896
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-27 00:41] YutongTie-MSFT commented on #94897
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-27 00:48] demaford opened #94903 "Doghousehq"
https://github.com/dogghousehq/azure-docs/blob/master/azure-portal-docs-mapping.json

[2022-06-27 01:14] alfredorevilla commented on #94898
Hello @GThomas-ent, the `otherMails` attribute is not going away. You can update it using [PowerShell](https://docs.microsoft.com/en-us/powershell/microsoftgraph/overview?view=graph-powershell-1.0):

[code]

[2022-06-27 01:14] halkazwini commented on #91023
Hi @cloudlearner253,

There are no changes in Azure that affect this tutorial.

Did you turn on IP forwarding for the NVA VM in Azure and in Windows as well? Once enabled in Windows, the VM must be restarted, it will drop any packets destined to the Private subnet if not restarted.

[2022-06-27 01:18] LifeRyuto opened #94904 "Flexible server should be included in "Services that can be deployed into a virtual network""
Azure Database for MySQL Flexible Server and Azure Database for PostgreSQL Flexible Server should be included in "Services that can be deployed into a virtual network".
https://docs.microsoft.com/en-us/azure/mysql/flexible-server/concepts-networking-vnet
https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/concepts-networking#private-access-vnet-integration

---
#### Document Details

[2022-06-27 01:24] xujiongda commented on #94612
Hi @GitaraniSharma-MSFT,
yes, the problem is it didn't mention but it should be...
Otherwise, the customer could have some issues setting up a highly secure environment.

[2022-06-27 01:40] naokitakeda14 opened #94905 "About Private DNS integration"
[Enter feedback here]
It does not mention that Private DNS integration cannot be updated in Networking after the server sets enable high availability.
Please kindly mention on the document about it.
Thank you,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dfacd9d-6903-1cd0-2db7-110b70e14d3b
* Version Independent ID:

[2022-06-27 02:37] Bosch-Eli-Black commented on #94783
Np! 🙂

[2022-06-27 03:03] rukasakurai opened #94906 ""External user" does not join Teams meeting when clicking on the join meeting button in the reminder e-mail"
**Describe the bug; what happened?**
"External user" does not join Teams meeting when clicking on the join meeting button in the reminder e-mail.
"External user" is instead redirected to xxx.azurewebsites.net/book.

**What are the steps to reproduce the issue?**
Follow the steps 1-5 in the following doc
https://docs.microsoft.com/azure/communication-services/tutorials/virtual-visits

Then, test th

[2022-06-27 03:44] jgwinner opened #94907 "Network Injection is not mentioned!"
In the Azure portal, https://portal.azure.com/#create/Microsoft.FunctionApp, a question asks:

Enable network injection? Yes/No

The web page here is thoughtfully linked.

However, when deciding what "Network Injection Yes/No" maps to, there isn't a single mention of the word "Injection" on the page.

There's a lot of great content here, and I know exactly what I want, but I have NO IDEA what I am

[2022-06-27 04:10] AshokPeddakotla-MSFT commented on #94899
@coolhome Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-06-27 04:13] AshokPeddakotla-MSFT commented on #94903
@demaford Thanks for leveraging Azure docs feedback channel to raise this question. Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2022-06-27 04:29] #93423 closed

[2022-06-27 04:30] #93741 closed

[2022-06-27 04:33] #94632 closed

[2022-06-27 04:53] ShanonJackson commented on #67554
This still not working?  as of ```azure-storage-blob==12.12.0``` as far as I can tell.

[2022-06-27 04:54] VikasPullagura-MSFT opened #94908 "Azure NetApp Files support for Europe West?"
Opening this issue on behalf od CX who reported this in another page [here](https://github.com/MicrosoftDocs/azure-docs/issues/94807).

Issue:

I can see a difference in region support listed on this page and others.

On this page Europe West is not on the list but on the vmware solution page it IS mentioned.

https://docs.microsoft.com/en-us/azure/azure-vmware/attach-azure-netapp-files-to-azure-v

[2022-06-27 04:55] VikasPullagura-MSFT commented on #94908
@b-hchen
Can you please check and update the document with supported regions as applicable.

[2022-06-27 04:57] VikasPullagura-MSFT commented on #94807
@suzizuber Thanks for the details.
I have opened a feedback item on the relevant page and have assigned it to @b-hchen as recommended.

[2022-06-27 05:00] SumanthMarigowda commented on #94668
@MikeBakerSAV, Since it's in Preview I would recommend to leave your feedback [here ](https://feedback.azure.com/d365community/forum/79b1327d-d925-ec11-b6e6-000d3a4f06a4)All the feedback you share in these forums  will be monitored and reviewed by the Microsoft engineering teams responsible for building Azure.

Also I'd recommend posting your question in https://azure.microsoft.com/en-us/support/c

[2022-06-27 05:00] #94668 closed

[2022-06-27 05:02] VikasPullagura-MSFT commented on #94807
@joostvandrenth Thanks for reporting this, I have opened a feedback to update the document on the relevant page [here](https://github.com/MicrosoftDocs/azure-docs/issues/94908).

I am closing this thread as the document update is not applicable to this page.

Please follow this [issue](https://github.com/MicrosoftDocs/azure-docs/issues/94908) for further updated.

[2022-06-27 05:02] #94807 closed

[2022-06-27 05:04] SumanthMarigowda commented on #94635
@gsaiz , The PR has been initiated, necessary changes will be taken place once review is done!  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-06-27 05:04] #94635 closed

[2022-06-27 05:06] SumanthMarigowda commented on #92915
@khdownie Any comments on the above mentioned query?

[2022-06-27 05:06] AnnuKumari-MSFT commented on #94886
@DeanGross ,
Since this issue is not a document feedback, It looks more like product question,  I would recommend you to create a thread on the forums - [Microsoft Q&A]( https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow]( https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such type

[2022-06-27 05:06] #94886 closed

[2022-06-27 05:07] AuWiMo opened #94910 "Highly confusing delay issue"
There is an instruction that states "Go to the Azure Cosmos DB account page, and select Keys. Copy the values to use in the web application you create next." Many sections including the Keys section and the quick start picture above the line I just shared, do
not load until a little (took me like... 3-5 minutes) while after the supposed completion shown by Step 8. There should really be something

[2022-06-27 05:07] AshokPeddakotla-MSFT commented on #94692
Assigning this issue to the author @PatAltimore since the changes needs to be updated to the entire doc and linked doc.
Looks like main public doc has been updated but https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/iot-edge/how-to-manage-device-certificates.md it still shows  device CA every where.

@PatAltimore Please review this and update.

[2022-06-27 05:10] AshokPeddakotla-MSFT commented on #94693
Assigning this issue to the author @PatAltimore  since the changes needs to be updated to the entire doc and linked doc.
@PatAltimore  Please review this and update.

[2022-06-27 05:24] AnuragSharma-MSFT commented on #94910
@AuWiMo Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-06-27 05:40] tw3lveparsecs opened #94912 "network access reverts to public endpoint"
The script generated to promote global parameters to additional environments reverts the data factory network access setting to public endpoint if it has been set to private endpoint.

![image](https://user-images.githubusercontent.com/46542560/175867272-23c65b4c-78f4-4345-8bf4-9abc747a8f89.png)

the script im referring to is the one below

[code]

---
#### Document Details

⚠ *Do not edit this se

[2022-06-27 05:48] SreejaBhattacharya-MSFT commented on #94658
@jlabustro , the document you are looking at is the correct one that explains migration of azure resources from Classic to ARM.
Here are the list of supported IAAS resources for migration - [https://docs.microsoft.com/en-us/azure/virtual-machines/migration-classic-resource-manager-overview](https://docs.microsoft.com/en-us/azure/virtual-machines/migration-classic-resource-manager-overview) I would

[2022-06-27 05:48] #94658 closed

[2022-06-27 05:48] nkumars commented on #92641
Alright, thanks @yoelhor, your input was required to plan to support accordingly.

[2022-06-27 05:48] #92641 closed

[2022-06-27 06:11] rukasakurai commented on #94906
I believe it is a bug in the URL that is generated for the "external user" to join.

What is currently is: https://xxx.azurewebsites.net/?meetingURL=https....
What is should be: https://xxx.azurewebsites.net/visit?meetingURL=https....

[2022-06-27 06:32] Sharmistha-Rai commented on #94733
@W1ll1amz - thanks for bringing this to our attention. We will fix this.

[2022-06-27 06:43] MughundhanRaveendran-MSFT commented on #94579
@ramuvr , I didnt know that you are deploying the resources as well. In that case, kudu site wont be available yet as the function app isnt created yet. Are you using the exisiting vnet or you are creating a new vnet?

[2022-06-27 07:02] amritav opened #94913 "ASYNC RESTORE for Azure SQL MI"
Under the "Use T-SQL to restore from a backup file" heading, there is a note that mentions:
"A database restore operation is asynchronous and retryable."
![image](https://user-images.githubusercontent.com/19224584/175878606-e3f8e17c-1ccf-493f-ab5e-2585e0534612.png)

However, in https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/transact-sql-tsql-differences-sql-server?view=azuresql#

[2022-06-27 07:26] Ananda-Gedela opened #94914 "What cmdlets of Microsoft.Graph can be used in replacement of msol cmdlets?"
Description:
Wanted to migrate from Msol cmdlets to Mirosoft.Graph cmdlets
Cmdlets/ Parameters in cmdlets which I cannot replace with Mirosoft.Graph cmdlets:

- Get-MsolCompanyInformation | Select-Object UsersPermissionToUserConsentToAppEnabled, UsersPermissionToCreateLOBAppsEnabled, UsersPermissionToCreateGroupsEnabled, PasswordSynchronizationEnabled
- Get-MsolUser | Select-Object StrongAuthentic

[2022-06-27 07:45] abhishek9909 opened #94915 "Anonymous method of authentication not specified."
Anonymous method of authentication while used in code samples is not specified in this page.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea11ca51-2d51-8328-09d7-2ee9944e5751
* Version Independent ID: 2077160d-3c5f-33d1-4d14-43a758071a76
* Content: [How to use the Azure Maps web map control - Mi

[2022-06-27 07:49] DonKoning commented on #94855
@cynthn - thank you for your response. Today, I removed and recreated app versions and retried just now (9:45 CET), but get the same error.

In addition, can you add additional information where the SAS URI should be used in case the storage account is not configured to allow public access?

[2022-06-27 08:13] tifa64 opened #94917 "missing hyperlink"
Hi,

there is a missing hyperlink in the document written as [Responsible AI dashboard](LINK TO CONCEPT DOC RESPONSIBLE AI DASHBOARD)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0438837-e483-8176-952b-1ce8dc9769df
* Version Independent ID: 6e777360-f059-dbc7-b022-b971626ad867
* Content: [Model interpretability (pre

[2022-06-27 08:41] AshokPeddakotla-MSFT commented on #94915
@abhishek9909 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-06-27 08:48] kongou-ae opened #94918 "Add "management.azure.com" in Firewall requirements"
Hi PG,

The table of Firewall requirements mentions about only Service Tag of "AzureMonitor" and doesn't contains "management.azure.com" which is in Service Tag of "AzureResourceManager". I believe that we need to specify "management.azure.com" in this table for the customer who uses AMA in the place whch can't use Service Tag like NVA or Onpremise.

Best regards.

---
#### Document Details

⚠ *Do

[2022-06-27 08:53] kspoojary opened #94919 "Batch auto storage account with firewall and vnet rules"
Hi , I want to restrict the batch auto storage account with firewall and vnet rules.  Is this possible ? If I restrict this storage how batch account get access to the auto storage ? what IP address we should allow?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b730f734-c383-06cf-75b6-beed87cb4f61
* Version Independen

[2022-06-27 08:58] AnuragSharma-MSFT commented on #94913
@amritav Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-06-27 08:59] SreejaBhattacharya-MSFT commented on #94258
Hi @greenie-msft, could you please take a look at this.

[2022-06-27 09:02] sarah026 opened #94920 "policy Azure Cosmos DB key based metadata write access should be disabled"
Hi, what does this actually mean?
"Azure Cosmos DB key based metadata write access should be disabled"
The name of the policy and the description are pretty much the same. Can you elaborate on what it does and what it protects against?
Does it for example prevent users from using Access keys to Cosmos? thereby mandating Azure RBAC roles instead? I get that this is about "write" permission, but it

[2022-06-27 09:03] DumboJet opened #94921 "NSGs vs the Azure Firewall confusion"
I find it hard to understand how NSGs associate with the Azure Firewall.
I prepare myself for the AZ-900 exam and there are people suggesting that both NSGs and the Azure Firewall allow opening a port to the internet. E.g. :
https://examsnet.com/test/azure-fundamentals-az-900-practice-test-3/q-8-Your-Azure-environment-contains-multiple-Azure-virtual-machines.-You-need-to-ensure-that-a-virtual-mach

[2022-06-27 09:08] Loule-Corro commented on #94855
Same error on West Europe... Any update or workaround?

[2022-06-27 09:12] AjayKumar-MSFT commented on #94759
Apologies for the delay!  As I understand you’re trying to link two different doc repos (Asp.net and Azure) for continuity.

This doc aims to show how to deploy ASP.net webapp and connect it to an Azure SQL Database. The tutorial is meant to show something more involved, but still allow readers to learn things beyond a specific framework. For example, here you learn how to publish the app with the

[2022-06-27 09:14] darren-mcdonald opened #94922 "Can no longer use Docker OUTSIDE of Docker"
This doc specifies that it is no longer possible to do docker-in-docker because of the loss of /var/run/docker.sock. This is technically Docker outside of Docker, not docker in docker. Docker in docker is still possible despite your advisory not to do so. The document should be updated to reflect this.

Also if I may ask what is our alternative? We run CI/CD, namely Azure DevOps agents and Octopus

[2022-06-27 09:15] hylinux opened #94923 "Jobs which can be create per hour is not same with our official limitation page."
In this document we talked about the limitation about the jobs number which user can create per hour is 5000.
![image](https://user-images.githubusercontent.com/145199/175904651-31b762ad-990f-4de9-9577-5b70784319ef.png)

but in our limitation page:
https://docs.microsoft.com/en-us/azure/databricks/resources/limits

you can see it is 1000.
![image](https://user-images.githubusercontent.com/145199/1

[2022-06-27 09:22] CHEEKATLAPRADEEP-MSFT commented on #94912
@tw3lveparsecs  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2022-06-27 09:22] #94912 closed

[2022-06-27 09:34] tmishutin commented on #37847
Thank's @nin-o

[2022-06-27 09:42] AnuragSharma-MSFT commented on #94905
@naokitakeda14 Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-06-27 09:43] SwathiDhanwada-MSFT commented on #94890
@cveld Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc within 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-06-27 09:46] AnuragSharma-MSFT commented on #94920
@sarah026 Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-06-27 09:49] SreejaBhattacharya-MSFT commented on #94922
@darren-mcdonald Thanks for reaching out. IWe will investigate and update this thread.

@palma21 Hi Jorge, could you please look into this and add your thoughts

[2022-06-27 09:53] nxquang1994 opened #94925 "Feedback Azure doc layout"
[Enter feedback here]
Should have symbol to collapse the outline at left side

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28fe407c-980d-6dfc-305c-63202534bf48
* Version Independent ID: 09bed06c-ca37-a511-b4a4-0028e76f8919
* Content: [Tutorial: Authenticate users E2E - Azure App Service](https://docs.microsoft.com/en

[2022-06-27 10:23] SwathiDhanwada-MSFT commented on #94918
@kongou-ae Thanks for your feedback.

Assigning to content author @bwren   for review.

[2022-06-27 10:32] AshokPeddakotla-MSFT commented on #94914
@Ananda-Gedela Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2022-06-27 10:37] AnuragSingh-MSFT commented on #94885
@BrightJamesJ, thank you for bringing it to our attention. Can you please answer the queries below:

1. Were you able to assign the Policy without facing any issues?
2. Ensure that the "Log Analytics workspace" parameter was populated with the correct workspace where the data needs to be ingested.
3. As [mentioned here](https://docs.microsoft.com/en-us/azure/azure-monitor/vm/vminsights-enable-poli

[2022-06-27 10:51] AnuragSharma-MSFT commented on #94663
@mckenzm We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-06-27 10:51] #94663 closed

[2022-06-27 10:55] BrightJamesJ commented on #94885
Hi Team,

  1.  As mentioned here<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fazure-monitor%2Fvm%2Fvminsights-enable-policy%23remediate-compliance-results&data=05%7C01%7CBright.John%40microsoft.com%7Cc4bbcec7209d4acb466408da58291e28%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637919230919764304%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAi

[2022-06-27 10:57] rboterenbrood commented on #93150
@shashishailaj Thank you for your response.
Since I have an existing deployment, the part of a new deployment is not relevant.
My issue is with the part under the heading "How to enable the ConsistencyGuid feature - Existing deployment".
The screenshot at point 6 states: "Users will not be able to log on until your federation service is configured with the same attribute". This message seemed very

[2022-06-27 11:12] Ananda-Gedela commented on #94914
@AshokPeddakotla-MSFT
For Get-MsolUser
I am referring to Get-MgUser https://docs.microsoft.com/en-us/powershell/module/microsoft.graph.users/get-mguser?view=graph-powershell-1.0
where I could'nt found properties which are in Msol: StrongAuthenticationMethods, StrongPasswordRequired, PasswordNeverExpires;

For Get-MsolCompanyInformation
I am referring to https://docs.microsoft.com/en-us/powershell/

[2022-06-27 11:38] thaav opened #94928 "Unfinished sentence at "Auto-update version vs latest version" section of the page"
Missing some important information about when an auto-update interval is occuring. The sentence is not finished. See my screenshot.

![image](https://user-images.githubusercontent.com/108274426/175932494-183006e7-95a3-4ebd-90aa-9bf19f4cb37d.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a5bd48e-80d4-0742-e320-6c6

[2022-06-27 11:40] AnuragSingh-MSFT commented on #94885
@BrightJamesJ, thank you for the reply. I wanted to check the steps mentioned in the doc but running into some issues with my test subscription. I will try to test it as soon as it gets resolved and will submit feedback to rectify this doc as required.

Meanwhile, there is a Azure PowerShell script that can be used to enable VMInsights as [mentioned here.](https://docs.microsoft.com/en-us/azure/az

[2022-06-27 11:44] Tiagorafv opened #94930 "Using Handlebars 4.7.7 with B2C Custom policy - not documented version page layout 2.1.12"
The documentation points the page layout version having the condition ">= 2.1.4" should return the handlebars version 4.7.7.

When using custom policies, only returns the desired handlebars version 4.7.7 when we set the version of page layout 2.1.12, that is not documented on the public page.

Just to check if the documentation would need an update or this is related to the use of custom policy.

[2022-06-27 11:45] pnwguy opened #94931 "Review + Create tab - list of resources created need updating"
In Review + Create tab:
https://docs.microsoft.com/en-us/azure/automation/automation-create-standalone-account?tabs=azureportal#review--create-tab

It says the following runbooks are automatically created upon completion:
- AzureAutomationTutorialWithIdentity
- AzureAutomationTutorialScript
- AzureAutomationTutorialPython2Runbook

I created three different automation accounts, and for each one, th

[2022-06-27 12:21] CHEEKATLAPRADEEP-MSFT commented on #94901
@hiladg  Thanks for the question! We are investigating and will update you shortly.

[2022-06-27 12:24] hkusulja commented on #89546
Yeah, please document that it is not possible to turn off stack availability on windows ..., and more details abount "hint" what exactly it does.

[2022-06-27 12:27] shwetamathur7 commented on #94723
@yujiagz Thanks for your feedback to enhance the documentation. This has been separately documented to consider while adding header. However, as per your suggestion I have made the changes to mark as most important and sent the changes for approval.

[2022-06-27 12:27] #94723 closed

[2022-06-27 12:37] SwathiDhanwada-MSFT commented on #94931
@pnwguy Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc once approved by content author.

[2022-06-27 12:40] L-u-k-e-GIT commented on #94855
Same issue. News

[2022-06-27 12:43] AshokPeddakotla-MSFT commented on #94902
@masish Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-06-27 13:39] ramireluis commented on #94860
Hi good day

Related to the troubleshooting for the RDP there are some very useful logs that should be collected and analyzed

Navigate to the %temp%\DiagOutputDir\RdClientAutoTrace folder.
Zip entire RdClientAutoTrace folder

Regards
Luis Ramirez
Technical Support Engineer
Microsoft Endpoint Manager
Microsoft Premier Support: (800) 936-3100
Empowering, Helping, and Advising Customers

Customer Se

[2022-06-27 13:43] pnwguy opened #94934 "Configure schedules overview - typo/formatting issue"
[Scheduled - Start and stop actions are based on a schedule you specify against Azure Resource Manager and classic VMs.ststv2_vms_Scheduled_start and ststv2_vms_Scheduled_stop configure the scheduled start and stop.
](https://docs.microsoft.com/en-us/azure/azure-functions/start-stop-vms/deploy#configure-schedules-overview)

Looks like an empty space missing between "VMs." and "stsv2..".

_Schedule

[2022-06-27 13:54] v-ksreedevan commented on #93961
@ibnmbodji ,
Thank you pointing it out.
This change has been updated and is available at:
https://docs.microsoft.com/en-us/azure/migrate/tutorial-migrate-vmware-powershell#7-replicate-vms

Closing this issue.

#please-close

[2022-06-27 13:54] #93961 closed

[2022-06-27 13:55] CitrixChris commented on #74756
Is there no update on this? Programmatically generating tokens is a requirement for me to use this feature.

[2022-06-27 14:10] MughundhanRaveendran-MSFT commented on #94907
@jgwinner , Thanks for feedback. We will check and update you

[2022-06-27 14:26] jitendraRai opened #94935 "CopyClaim does not copy Restriction and Enumeration from datatype - string claim."
Could you please let us know the reason why CopyClaim does not copy or populate the Restriction and Enumeration value from source  (e.g. jitValidRoles) to destination (jitRoles). The document said that the CopyClaim support string type.

  <ClaimType Id="jitvalidRoles">
       <DisplayName>Select Role</DisplayName>
        <DataType>string</DataType>
        <UserHelpText>Select the signle role yo

[2022-06-27 14:46] AnuragSingh-MSFT commented on #94819
@andyjballgit, the second description is the correct one, i.e.,

total = For Each Rule (unique source addresses * unique destination addresses) - Total
( ie Rule 1 - 2 Source Addresses x 3 Dest Addresses = 6
Rule 2 - 4 Sources Addresses x 5 Dest Addresses = 20
total therefore 26

[2022-06-27 14:49] khdownie commented on #92915
@SumanthMarigowda @Fafa4 I would need engineering team input to answer this definitively, but it seems like you could run the script in a local PowerShell console or the Azure Cloud Shell.

[2022-06-27 14:49] AnuragSingh-MSFT commented on #94805
@adrwh, We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-06-27 14:49] #94805 closed

[2022-06-27 14:51] spelluru commented on #92652
@chetta19 - Thank you for letting me know!

[2022-06-27 15:00] JamesTran-MSFT commented on #94930
@Tiagorafv
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-27 15:04] spelluru commented on #94608
Confirmed with the product team. This is by design. I will add a note about it. Thanks

[2022-06-27 15:23] saumilhshah commented on #94187
Any updates ?

[2022-06-27 15:27] YutongTie-MSFT commented on #94834
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-27 15:48] #94818 closed

[2022-06-27 15:50] MmAtBosch opened #94937 "Bastion Nsg rules"
[Enter feedback here]
Would be great to have the rules as tables and not only as picture

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc46ceac-e45e-6f29-dd5b-6453c614d9b2
* Version Independent ID: b8b3bb83-5204-1f8b-787f-eb3da444e22e
* Content: [Working with VMs and NSGs in Azure Bastion](https://docs.microsoft.com/e

[2022-06-27 15:53] durkovich commented on #34167
Happy 3rd birthday to this thread! 🥳

[2022-06-27 16:01] Borgquite opened #94938 "'Third-party application access via OAuth' must be enabled (non-default) in order for this to work"
I was trying to set this up with a brand new Azure DevOps organisation and Azure Automation today and got 'SourceControls securityToken in invalid'

This is similar to the issue described here:

https://docs.microsoft.com/en-us/answers/questions/813444/an-error-occurred-while-creating-the-source-contro.html

I found that I needed to enable the 'Third-party application access via OAuth' in Azure De

[2022-06-27 16:08] DeanCefola opened #94939 "UPDATE REQUIRED"
in the Limitations section
https://docs.microsoft.com/en-us/azure/virtual-machines/trusted-launch#limitations
The following area needs to be updated to reflect support for custom images.

The following features are not supported:
Azure Site Recovery
Shared disk
Ultra disk
**Managed image**
Azure Dedicated Host
Nested Virtualization

Please remove the reference to managed images, since they are NOW

[2022-06-27 16:20] madsd commented on #94319
@wcneumann219 Hi again, I think I found the "disconnect". The result depends on the order of operations. App Gateway will currently cache DNS lookups infinitely. They are changing that later this year to honor the DNS record TTL. But currently this means that if you add the backend pool (and send a request) before adding the private DNS link, you will need to restart the App Gateway. If the link i

[2022-06-27 16:30] PriyankaRudramaina commented on #94939
Hello DeanCefola,

Thank you for your feedback. We will investigate and update the thread further.

[2022-06-27 16:31] sesmailjee opened #94942 "Quickstart AZ Firewall Premium Test deployment not completeing successfully"
This is failing with the following error:
{
    "status": "failed",
    "error": {
        "code": "DeploymentScriptError",
        "message": "The provided script failed with multiple errors. First error:\r\nSystem.Management.Automation.ItemNotFoundException: Cannot find path '/mnt/azscripts/azscriptinput/interCA.pfx' because it does not exist.\n   at System.Management.Automation.LocationGlobber.

[2022-06-27 16:50] gabe-microsoft commented on #94521
Is there any update on this?

[2022-06-27 16:53] bandersmsft commented on #94729
@LingYi-Wu Per the EA Billing engineering team, I'll update the article to say "EA credit expires when the EA enrollment ends for all program except EU program."

#please-close

[2022-06-27 16:54] johnmarco commented on #94862
Investigating this issue.

[2022-06-27 16:57] normesta commented on #74297
Thanks @zezha-msft - didn't realize that this was part of our recent troubleshooting push. Closing.

#please-close

[2022-06-27 16:57] #74297 closed

[2022-06-27 17:04] JamesTran-MSFT commented on #94804
@uttampcu
Since this issue is more product feedback related and isn't directly improving our docs, I'd recommend leveraging our [User Voice forum](https://feedback.azure.com/d365community) and creating a feature request, so our engineering team can look into implementing this. I've also created an internal feature request, so our engineering team is aware of this as well.

Thank you for your time

[2022-06-27 17:04] #94804 closed

[2022-06-27 17:12] Karishma-Tiwari-MSFT commented on #94934
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2022-06-27 17:17] BillmanH commented on #94407
FWIW, lots of people have been asking for this on that forum for over a year:

https://feedback.azure.com/d365community/search/3002b3be-0d25-ec11-b6e6-000d3a4f0858?q=notebooks

[2022-06-27 17:33] andyjballgit commented on #94819
thanks for that. Can the documentation be updated to make this more clear then please ? the current statement is somewhat ambiguous

________________________________
From: Anurag Singh ***@***.***>
Sent: Monday, June 27, 2022 6:11:47 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Andy Ball ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Clarification required on Azure

[2022-06-27 17:34] KranthiPakala-MSFT commented on #94928
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-06-27 17:34] KranthiPakala-MSFT commented on #94928
Hi @lrtoyou1223 Could you please have a look at the above feedback from customer? - Thank you

[2022-06-27 17:36] IamJeffG opened #94943 "Batch task command seems to override the COMMAND, not the ENTRYPOINT"
The documentation for Azure batch tasks with a Docker container workload says:

I believe this is saying that the value of [`TaskAddParameter.command_line`](https://docs.microsoft.com/en-us/python/api/azure-batch/azure.batch.models.taskaddparameter?view=azure-python) in the Python SDK will map to the `docker create --entrypoint` CLI arg.  This does not appear to be true (nor expected).

Instead I

[2022-06-27 17:57] halkazwini commented on #91023
#reassign halkazwini

[2022-06-27 17:57] tfitzmac commented on #94279
@stan-sz - thanks for this feedback. I'll add some information about the commands for seeing environment names.

[2022-06-27 17:59] HeidiSteen commented on #94851
Hi @kspoojary did the steps "Connect to a VM" and "Test connections" not work for you?  If yes, can you tell me which step failed and what the error message says?

[2022-06-27 18:07] Porkechebure opened #94945 "Dedicated plan description talks about App Service plans instead of explaining Dedicated plans"
Consumption and Premium plan descriptions are fine
Dedicated does as the title says

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57106982-21bb-f60a-fde3-7f9d4e83afb1
* Version Independent ID: 5922b4e9-ea56-be60-760e-5e01f4dc422b
* Content: [Azure Functions Dedicated hosting](https://docs.microsoft.com/en-us/azure/azu

[2022-06-27 18:07] tfitzmac commented on #94279
The update will get published later today.
#please-close

[2022-06-27 18:17] MisbaIram commented on #40403
@normesta - Can you please let us know if there is any update on the MS official document that describes the steps to Integrate Application gateway with static website?Thanks

[2022-06-27 18:32] tfitzmac commented on #94468
You would use [comparison functions](https://docs.microsoft.com/azure/azure-resource-manager/templates/template-functions-comparison) and potentially [logical functions](https://docs.microsoft.com/azure/azure-resource-manager/templates/template-functions-logical).
#please-close

[2022-06-27 18:32] #94468 closed

[2022-06-27 18:44] KyferEz opened #94946 "Java requirement not detailed"
Several data types require Java to be installed on SHIR for scanning. This is not documented on this page and I could only find reference to it here:
https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/purview/manage-integration-runtimes.md

Please update this page to detail this necessity.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-06-27 18:49] Blackmist commented on #94836
@ccyjava Thanks for the feedback!

@lgayhardt - Can you confirm the behavior with the pipelines PM and update the document as needed?

#reassign:lgayhardt

[2022-06-27 19:08] tfitzmac commented on #94083
@HannahHsiao5 - thanks for this feedback. I have added those resource types. The update should get published later today.
#please-close

[2022-06-27 19:08] #94083 closed

[2022-06-27 19:34] cynthn commented on #81344
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing. We are closing this issue for now, but feel free to comment here as neces

[2022-06-27 19:38] MarileeTurscak-MSFT commented on #94935
@jitendraRai
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-27 19:42] kobulloc-MSFT commented on #94808
@rifaterdemsahin Thank you for reaching out!  I've updated the [Microsoft Q&A thread](https://docs.microsoft.com/en-us/answers/questions/901008/index.html) but Windows Server 2022 is not supported on Azure Container Instances (ACI) at this time however the product team is looking at adding this functionality in the future.  I've reached out to you on Microsoft Q&A with some additional questions to

[2022-06-27 19:45] RyanHill-MSFT commented on #94925
Thanks for the feedback [@nxquang1994](https://github.com/nxquang1994). Can you elaborate on which image and what outline you're referring to?

[2022-06-27 19:46] johnmarco commented on #94862
@edyoung , I looked into this and found that this scroll bar issue sometimes occurs on our docs when there's a column with long strings of info, such as the error column. It is a bug that the team is aware of but at the moment we don't have a workaround for it. I am going to close this issue but hopefully they'll be a fix for it in the future.

#please-close

[2022-06-27 19:46] PRMerger10 commented on #94862
Invalid command: '#please-close'. Only Microsoft employees can use this command.

[2022-06-27 19:48] johnmarco commented on #94862
#please-close

[2022-06-27 19:50] ericd-mst-github commented on #94855
Update: From engineering, the fix should be available globally by end of week as currently most of the US regions should have it applied already.

In regard to the SAS URI, this should be used in the `package-file` parameter if using the CLI or PowerShell deployment methods.

For the Portal method, you should be able to paste the SAS URI in the **Source application package** field before the regio

[2022-06-27 19:58] nlcamp opened #94947 "Add mention of adding marketplace CDN suffix to firewall allow list when deploying marketplace modules"
An issue came up in a support case where a customer was deploying a module from the marketplace but iotedge was failing to pull it after the customer restricted their firewall as specified on this page. The root cause seems to be that the marketplace uses [Azure content delivery networks (CDNs)](https://docs.microsoft.com/en-us/azure/cdn/cdn-overview) to cache marketplace images.

This page should

[2022-06-27 19:59] ChaitanyaNaykodi-MSFT commented on #94937
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-06-27 20:01] ChaitanyaNaykodi-MSFT commented on #94942
Thank you for your feedback! We will review and update as appropriate.

[2022-06-27 20:01] Robert-Lauriston-at-Striim opened #94948 "Where do I get the "database" part of the Synapse JDBC connection string? take 2"
The JDBC connection string example includes database=yourdatabase but I can't find anything in the docs explaining how to create a database in Synapse.

[CHEEKATLAPRADEEP-MSF](https://github.com/CHEEKATLAPRADEEP-MSFT) attached a screen shot to https://github.com/MicrosoftDocs/azure-docs/issues/94524 and closed it, but there's nothing called "database" in that screen shot. So I'm still stuck.

---

[2022-06-27 20:08] AjayKumar-MSFT commented on #94892
webmaxru, Thanks for sharing the steps/discussion thread which outlines the solution. For the doc update, we are tracking this on https://github.com/MicrosoftDocs/azure-docs/issues/93552, so we will close this thread. We have shared the feedback with the author. Much appreciate you taking time to share your feedback.

[2022-06-27 20:08] #94892 closed

[2022-06-27 20:14] daphnemamsft commented on #93800
@DESREFan Thank you so much for bringing this to our attention. I will be reviewing the quickstart and making the necessary changes/updates. Thank you again for your feedback!

[2022-06-27 20:28] fgheysels opened #94950 "Modify the 'Perf'"
As described on [this page](https://docs.microsoft.com/en-us/azure/azure-monitor/containers/container-insights-cost), Container Insights collects metrics from the Kubernetes cluster.
[Here](https://docs.microsoft.com/en-us/azure/azure-monitor/containers/container-insights-cost#what-is-collected-from-kubernetes-clusters), it is mentionned what metrics are collected and at which interval.  The page

[2022-06-27 20:30] AjayKumar-MSFT commented on #94593
take-4c, Apologies for the delay! We'd been discussing on this internally. Currently, there is no mechanism in the Kudu publish API to deploy a static file to a custom directory outside of `wwwroot`. So, limiting the path to just ‘/home/site/wwwroot/’ for static deployment. We have shared the feedback to our product team.

For now, you may try using the [Azure CLI command](url) “az webapp deploy”