[2019-02-26 07:32] wolfma61 commented on #24283
sorry - not the export on custom speech models.
@PanosPeriorellis can probably point to the right people

[2019-02-26 07:32] batizar commented on #25015
@ggailey777 not really sure how to convert `InitializeDependencyTracking` code to `CustomTelemetryInitializer`, any ideas around that? thanks.

[2019-02-26 07:37] batizar commented on #25015
@brettsam from what I see yours is missing `module.IncludeDiagnosticSourceActivities.Add("Microsoft.Azure.EventHubs");` as well as `configuration.TelemetryInitializers.Add(new OperationCorrelationTelemetryInitializer());` and `configuration.TelemetryInitializers.Add(new HttpDependenciesParsingTelemetryInitializer());`. not really sure if they are of any importance.

[2019-02-26 07:43] dcbrown16 commented on #25739
Seems to be sort of a duplicate of #22124, but I'm not sure exactly what the answer is. If you have already created a connection as described on the page below, DevOps acts as a service principal?
https://docs.microsoft.com/en-us/azure/devops/pipelines/apps/cd/deploy-webdeploy-webapps?view=azure-devops
What is the behavior if you haven't set this up already?
It would be nice to have the AAD integr

[2019-02-26 08:08] WayneYangsa opened #25740 "groups claim in access_token"
It seems like that groups claim only available in id_token, NOT access_token. May I know how to get groups claim in access_token?

I have configured groupMemberships to be "SecurityGroup" or "All". but still failed.

Please help me on this. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2471c08b-befe-8e1a-df08-

[2019-02-26 08:18] joncooke commented on #25669
Trying the Face container locally initially I used [face-how-to-install-containers](https://docs.microsoft.com/en-us/azure/cognitive-services/Face/face-how-to-install-containers)

For the camera module I used [custom-vision](https://github.com/Azure-Samples/Custom-vision-service-iot-edge-raspberry-pi)

I should also mention than if I don't use the Face container on the device and use the Face API

[2019-02-26 08:43] SubhashVasarapu-MSFT commented on #25435
@hisasima , We are forwarding this feedback to the content author for updating the document.

[2019-02-26 08:44] ystrte opened #25742 "Example returns invalid_client"
I use the snippet 'Get OAuth2 access token from AAD and forward it to the backend.policy.xml' in my API Management. This returns invalid_client, i.e. wrong secret. But I have verified that the secret in fact is correct. What I have done

- Set up the correct named values
- Created an oAuth query with Postman with the same named values. This returns a bearer_token
- When I use the example above in

[2019-02-26 08:47] KalyanChanumolu-MSFT commented on #25722
Active Geo-Replication is a feature that lets a user create multiple secondary readable replicas.
If the primary database fails, the application/user must initiate the failover manually.
In case of Premium or Business Critical service tiers, the service fabric automatically handles the failover.

Please let us know if you have further questions.

[2019-02-26 08:56] alevincenzi commented on #25659
Sure, [here](https://stackoverflow.com/questions/54881583/shaping-events-from-different-devices-i-e-different-json-properties) the post on Stackoverflow. I just cloned the question.

I have read the best practices section at the top of this document and thought it would be a reasonable use case to describe. Anyway, lets move the discussion there.

[2019-02-26 08:56] jakaruna-MSFT commented on #25151
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-02-26 08:56] #25151 closed

[2019-02-26 08:56] TVDKoni commented on #8535
Same issue on my side. With Basic you get an error message:
New-AzureRmVirtualNetworkGatewayConnection : A virtual network gateway SKU of Standard or higher is required for Ipsec Policies support on virtual network gateway

Changing SKU need a long time and has in addition a much higher price. Please take care about this in the documentation.

[2019-02-26 09:06] kazshi commented on #25151
@jakaruna-MSFT I understand that the description for new VMs only. However, I think it's better to remove "The Azure VM Agent for Windows is automatically upgraded." (or modify to make it applies to new VMs, and its section title) since it's confusing.  Thanks.

[2019-02-26 09:07] MoHelal commented on #15176
There is a registry key "IP_WHITELIST", I think it could be used in your situation.
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-nps-extension-advanced#ip-exceptions

[2019-02-26 09:10] SubhashVasarapu-MSFT commented on #25428
@kazshi ,Appreciate your patience.
**Sending outbound email:** Microsoft recommends that you utilize authenticated SMTP relay services (typically connected via TCP port 587, but often others, as well) to send email from Azure Virtual Machines. SMTP relay services specialize in sender reputation, to minimize the possibility that third-party email providers reject messages. Such SMTP relay services

[2019-02-26 09:15] vipwlb commented on #23408
The enable https part don't work, just as what    @MicahMcKittrick-MSFT hits. Any update on this please?

[2019-02-26 09:19] kazshi commented on #25428
@SubhashVasarapu-MSFT Yes I read the content but I couldn't find if it's possible to send outbound email messages "**directly to external domains using TCP port 587**" from the content (actually that's the question what I got from my customer). I'd guess it might not be possible since it's not described explicitly and like to make sure that. So are you saying it's **not possible**? If so, I'd prov

[2019-02-26 09:24] sybrenstuvel commented on #25543
I'm seeing something like this:

    {
        "DocumentIncarnation": 1,
        "Events": [
            {
                "EventId": "E6364CA6-1668-4F42-9F59-22C9B77876FF",
                "EventStatus": "Scheduled",
                "EventType": "Preempt",
                "ResourceType": "VirtualMachine",
                "Resources": [
                    "5ae97216-ca20-435a-80e1-8ae81d84331f-Azu

[2019-02-26 09:29] ArvidBaa commented on #23990
@trevorbye that is probably the best way, all things considered. Thank you!

[2019-02-26 09:30] sybrenstuvel commented on #25442
No that document doesn't help at all. I wrote this issue because the [Azure Metadata Service: Scheduled Events for Linux VMs](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/scheduled-events) documentation is incomplete. According to that document, the `EventType` property can hold one of three values, namely `"Reboot" | "Redeploy" | "Freeze"`. However, this is incorrect, as for low-

[2019-02-26 09:34] SubhashVasarapu-MSFT commented on #25428
@kazshi From the content it is likely to be supported when the subscription type is Pay-as-you-go. Other subscription types likes MSDN, Azure Pass, Azure in Open, Education, BizSpark, and Free trial cant send mails with out using SMTP relay service.
I am assigning this to content author for better guidance and exact information.

[2019-02-26 09:35] shashishailaj commented on #24685
@asmalser-msft Could you please have a look at this Issue and the related changes as proposed by Matt on the pull request [24793](https://github.com/MicrosoftDocs/azure-docs/pull/24793)

[2019-02-26 09:36] sybrenstuvel commented on #25543
On the same topic, the Python example is misleading. The `this_host = socket.gethostname()` line implies that the Resource ID of a host is always its hostname, which is incorrect in the case of Batch nodes.

[2019-02-26 09:39] jakaruna-MSFT commented on #25718
@bigdataperson I downloaded the code from github(link is available on the first paragraph on the doc) and i ran it.
I was able to access the application.
I had "Service fabric local cluster manager" installed on my system. After opening the Voting.sln in visual studio(as Admin), I clicked on start. Then visual studio created a single node service fabric cluster and deployed voting app on it.
My Se

[2019-02-26 09:40] sybrenstuvel opened #25745 "Scheduled Events: Python example is outdated & can be improved"
There are a few things that can be improved in the Python example:

* The `print` statement is deprecated and has been replaced with the `print()` function. This is the only line that is incompatible with Python 3. Note that within a year Python 2 is EOL.
* There is an unused variable.
* The `sys.exit(0)` call is unnecessary, as this is Python's default behaviour.
* Indentation is inconsistent.

H

[2019-02-26 09:44] sybrenstuvel commented on #25442
The [Handling Preemption](https://docs.microsoft.com/en-us/azure/batch/batch-low-pri-vms#handling-preemption), [Batch APIs and tools](https://docs.microsoft.com/en-us/azure/batch/batch-apis-tools), and [Batch API Basics](https://docs.microsoft.com/en-us/azure/batch/batch-api-basics) documents could also link to the Metadata Service documentation for added clarity, as it really helps to understand

[2019-02-26 09:49] iTzanetos opened #25746 "Code Sample"
Hello, thanks for the excellent documentation. Is there a code sample for this LUIS model to have a working bot?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2dfc0edc-5ef3-38d9-2982-b6ecf7f27bf6
* Version Independent ID: 71cfd66e-6396-04bb-e344-f6797ac689c7
* Content: [Predict intentions - Azure Cognitive Services](h

[2019-02-26 09:52] AjayKumar-MSFT commented on #25735
@snmn, Thanks for pointing this out! We're aware that Google is deprecating GCM and migrating everyone to FCM. We're already working on docs refresh and will publish them as soon as the doc update is done. First doc went into production a few days ago and the next two should get worked soon.

[2019-02-26 09:59] PetroAzure commented on #25609
@MicahMcKittrick, I got this log error "The job container 'job-winffmpegjob', does not exist in your linked storage account."
I have thought I didn't link the storage account with my batch account, then I clicked the storage account under my batch account, and clicked "Sync keys" again, the error still exist.
Thanks.

[2019-02-26 10:07] KalyanChanumolu-MSFT commented on #25498
You will have to include all the mandatory properties in case of a PUT request
(It is just the location for this example).
The request body you are using to scale the data warehouse will work without any side effects.
[code]
The mandatory properties are marked as Required on the documentation page.
I will however pass on your feedback to the appropriate team.

[2019-02-26 10:17] DixitArora-MSFT commented on #25666
@bertrandpons Try creating the custom RBAC role for it and see if that works.

https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles-powershell

For the reference purpose , follow the below content for Json file.

{
    "Name":  "AnyName",
    "IsCustom":  true,
    "Description":  "Description",
    "Actions":  [
					"Microsoft.ServiceBus/namespaces/queues/Delete/*",

[2019-02-26 10:20] DixitArora-MSFT commented on #25736
Hi @KeiroKamioka0000  Thanks for reaching out to us. We will review and update as appropriate.

[2019-02-26 10:24] RohitMungi-MSFT commented on #25637
@ahmadsocrat Thanks for checking again. I have created one DSVM instance of ubuntu and found torch is missing at /dsvm/tools and there are no samples provided. I will assign the issue to the content author to check if torch is still a supported installation in the default dsvm instance. @gopitk Could you please check and correct the documentation as required?

Also, I was able to install torch by

[2019-02-26 10:25] AshokPeddakotla-MSFT commented on #25436
@rangv and @robinsh Please check this and update the doc with necessary changes.

[2019-02-26 10:27] ahmadsocrat commented on #25637
Hi,

I have already installed it, thank you. The point is that I provision DSVM
specifically to save me that time and effort.

Kind Regards,

Ahmad Amr

On Tue, Feb 26, 2019, 1:24 PM RohitMungi-MSFT <notifications@github.com>
wrote:

[2019-02-26 10:32] KetanChawda-MSFT commented on #25742
@ystrte Thank you for the feedback. We will review and provide and update as appropriate.

[2019-02-26 10:40] AshokPeddakotla-MSFT commented on #25635
@dominicbetts Looks like portal UI has been updated. Please check and update the document as appropriate. Also, check on the "Device Explorer" is now "Devices".
![image](https://user-images.githubusercontent.com/44426435/53406927-07098500-39e1-11e9-8922-7da4d9e893d8.png)

[2019-02-26 10:45] AnatolN opened #25748 "URL under "Azure AD Graph REST API reference." broken"
URL under "Azure AD Graph REST API reference." opens a page that is not available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44d6245e-2ebc-c815-2d35-c29450062f3b
* Version Independent ID: 98ead160-0377-d530-345f-1909e0039955
* Content: [Azure Active Directory Graph API](https://docs.microsoft.com/en-us/azure/activ

[2019-02-26 10:50] Shekharb694 opened #25749 "Unable to add Azure Maps Android SDK"
I have followed the exact steps as mentioned in the document.
But on adding "implementation "com.microsoft.azure.maps:mapcontrol:0.1" , and syncing the app/gradle.
I'm getting the following error :

"ERROR: Unable to resolve dependency for ':app@debug/compileClasspath': Could not resolve com.microsoft.azure.maps:mapcontrol:0.1."

"ERROR: Unable to resolve dependency for ':app@debugUnitTest/compile

[2019-02-26 10:54] SumanthMarigowda-MSFT commented on #25322
@yualan We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-26 10:54] #25322 closed

[2019-02-26 10:54] neeleshray commented on #25560
@jaffadog
Let us know if this helped or if you need further assistance.

[2019-02-26 10:55] neeleshray commented on #25630
@shanjin90
Have you been able to resolve the issue or does it still persists ?

[2019-02-26 10:55] RohitMungi-MSFT commented on #25746
@iTzanetos Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-02-26 10:56] femsulu commented on #25211
@jaredmny & @marcusclayton, Did some research on this AFAIK the preview solution currently doesnt support email notifications via action groups.  I recommend sharing this valuable product feedback [directly ](https://feedback.azure.com/forums/913690-azure-monitor)with the Azure monitor feature team for consideration in future release

@MGoedtel  - FYI.

[2019-02-26 10:56] #25211 closed

[2019-02-26 10:58] SumanthMarigowda-MSFT commented on #21826
@rahulunlimited Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-02-26 10:58] #21826 closed

[2019-02-26 10:58] saifuddin123 commented on #25133
will try that and update

[2019-02-26 11:03] bobbytreed commented on #16298
#please-close
Closed by: #67397

[2019-02-26 11:06] kanshiG commented on #24332
Daniel - is this the emulator behavior? Could you specify simple repro to look at ? Just to clarify - There is nothing specific in cqlsh - it is oss tool that is used. See if Azure Cosmos DB instance also shows this behavior - if it is same - then it is expected.

[2019-02-26 11:08] jamesgarner-me opened #25750 "Article is missing "Stream Log" content"
At the top and bottom of this article, it mentions that you'll learn how to "Stream diagnostic logs from Azure" however this is never covered off by any steps in the article, so it seems it's missed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a44ec5fe-f5e6-7391-0b03-9e5a8d67c492
* Version Independent ID: 45fa95fb-3

[2019-02-26 11:13] RohitMungi-MSFT commented on #25746
@iTzanetos There are some code sample for LUIS app in the documentation under [Samples ](https://github.com/Azure-Samples/cognitive-services-language-understanding) section. This also includes an integration with a sample [hotel finder bot](https://github.com/Azure-Samples/cognitive-services-language-understanding/tree/master/bot-integration-samples/hotel-finder). Hope this helps!!

We will now pr

[2019-02-26 11:17] sgupadya opened #25751 "Azure Maps for Android Documentation is incomplete"
The documentation for using Azure Maps SDK in Android apps doesn't contain many details like setting MapOptions to AzureMap, adding the marker click listeners, map touch listener, map camera change listener etc.

Could you please provide the complete documentation, so that it would be helpful for us to use the AzureMaps SDK in our apps.

[2019-02-26 11:17] bertrandpons commented on #25666
@DixitArora-MSFT Thanks for your help.

I created the RBAC role and assigned it to the web app in Acces Control of Service Bus Namespace. When I run the app, I get this error:
_Put token failed. status-code: 401, status-description: Generic: Failed to authorize request after RBAC check (...)
Microsoft.Azure.ServiceBus.UnauthorizedException: Put token failed. status-code: 401, status-description: G

[2019-02-26 11:27] femsulu commented on #25530
assigning to @KrishnaG-MSFT to repro.

[2019-02-26 11:35] SadiqhAhmed-MSFT commented on #25328
@maverick126 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-26 11:35] #25328 closed

[2019-02-26 11:37] msrini-MSIT commented on #25745
@sybrenstuvel , Thank you for your feedback. I will assign this to author to take a look and modify.

[2019-02-26 11:40] femsulu commented on #25594
@rolyon do we have any documentation for this?

[2019-02-26 11:45] SadiqhAhmed-MSFT commented on #25726
@KeiroKamioka0000 Thanks for the feedback!

Adding @rayne-wiselman for visibility + doc enhancement considerations.

[2019-02-26 11:45] ghostinthewires commented on #25719
This has already been updated. Just awaiting the changes to sync

[2019-02-26 11:49] shashishailaj commented on #25740
@WayneYangsa Thank you for your query . We will investigate and update this thread further.

[2019-02-26 11:49] neeleshray commented on #25685
When the primary Domain is being verified to the Tenant, the child/sub Domain can not be verified to another tenant.

[2019-02-26 11:50] DashleenBhandari-MSFT commented on #25739
@dcbrown16 Thank you for the feedback. We are looking into it.

[2019-02-26 11:52] SadiqhAhmed-MSFT commented on #25724
@dcbrown16 Thanks for the comment! Currently Azure Backup supports Standard SSD disks only for vaults that are upgraded to Instant Restore. Reference: https://docs.microsoft.com/en-us/azure/backup/backup-azure-troubleshoot-vm-backup-fails-snapshot-timeout#usererrorstandardssdnotsupported---currently-azure-backup-does-not-support-standard-ssd-disks

@rayne-wiselman please review and make necessary

[2019-02-26 11:57] SadiqhAhmed-MSFT commented on #25725
@dcbrown16 Thanks for the comment! We will investigate this issue and get back to you soon.

@tfitzmac Could you please assist here?

[2019-02-26 12:08] krysickij1 commented on #14757
@andreminelli I was able to create a metric alert with Average_% Used Space or  Average_% Used Memory but what I had to do was installing OMS agent (Log Analytics Agent) and connect VM to a log analytics workspace. But then I'm using performance counters from Microsoft.OperationalInsights/workspaces list:
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported#microsoftoper

[2019-02-26 12:10] sadigopu opened #25753 "Please update this doc with details of Topic subscription"
This page should also address topic. Especially the part where the receiving side of topic subscription is same as reading from queues - this is not an intuitively apparent detail and hence to be explicitly mentioned just like here :  https://github.com/Azure/azure-service-bus/tree/master/samples/Java/qpid-jms-client/JmsTopicQuickstart

Excerpt : Receiving messages from subscriptions is identical

[2019-02-26 12:13] v-makoud commented on #25701
thanks @georgewallace

[2019-02-26 12:19] #25746 closed

[2019-02-26 12:21] shashishailaj commented on #25748
@AnatolN Thank you for bringing this to our notice. We will have the link updated. The current Azure AD graph REST API is being decommissioned in phases in favor of the new Microsoft Graph . I am assigning this to the author for review and appropriate action .

[2019-02-26 12:23] shashishailaj commented on #25748
@lleonard-msft Could you please review the current request and update as needed.
Thank you.

[2019-02-26 12:24] shashishailaj commented on #24510
@javierruizjimenez We are requesting the author for getting this reviewed by the engineering.

[2019-02-26 12:26] shashishailaj commented on #24510
@barbkess Could you please have the above request reviewed. It seems like a typo and at some places provides incorrect details however since its technical syntax , it would need verification from engineering.
thank you.

[2019-02-26 12:27] shashishailaj commented on #24677
We will close this thread for now. In case you have any queries feel free to tag me to your reply and I will help you with the same.

[2019-02-26 12:27] #24677 closed

[2019-02-26 12:43] allanalewis opened #25754 "Outdated Documentation"
Read replica is GA now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7844fdcb-9a3c-4d85-94dc-88e5297aefb7
* Version Independent ID: 23024db8-bcce-edf5-8d46-960ed1ed81fa
* Content: [Read replicas in Azure Database for MySQL.](https://docs.microsoft.com/en-us/azure/mysql/concepts-read-replicas)
* Content Source: [artic

[2019-02-26 12:53] SubhashVasarapu-MSFT commented on #25719
@shiniizuka , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-02-26 12:55] smithGit commented on #25577
Question / Suggestion:  Is it now possible to restrict continuous export by Device Set?  If so, could the devices one wants to work with, excluding simulated devices, be assigned to the device set and in that manner control which devices have continuous export?

[2019-02-26 12:57] SRGOM opened #25755 "Azure files linux users group membership request email address does not exist."
## Creating an issue

- [ ] The relevant Azure service or technology.
       Azure files-
- [ ] A link to the published documentation article that you have feedback about.
       https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-use-files-linux
- [ ] Clear, specific feedback that the author can act on.
        No such email id: azurefileslinuxusers@microsoft.com (Mentioned on the

[2019-02-26 13:10] hesta96 commented on #23292
@TravisCragg-MSFT do you have any e.t.a. on this feature for standard tier?

[2019-02-26 13:24] adoelger opened #25756 "How to increase the number of parallel autovacuum workers?"
You mention that "You also can increase the number of parallel autovacuum workers...". Could you explain how to do that? I was not able to increase the workers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1103bde-c05b-23f9-93bd-b1350c3abb0f
* Version Independent ID: 11cae63b-7bd5-e3be-602f-cd4fba8871e0
* Content: [

[2019-02-26 13:28] bertrandpons opened #25757 "Best Pratices and Recommandations - Azure Data Factory IR"
Hello,

Here is the document on which I rely: https://docs.microsoft.com/en-us/azure/data-factory/concepts-integration-runtime

I have a question for best practices and recommandations:

Let's assume I have 5 autonomous sites in the world with each its own Azure subscription and each several environments (Dev, Integration, Validation, Prod).

What are the best practices for this kind of situation

[2019-02-26 13:44] BzSpi opened #25758 "Missing metrics from Microsoft.Web/sites (functions)"
The following metrics seems to be missing from documentation as they're available in portal and APIs.
- Connections
- Handle count
- Thread count

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a586c4-71fd-e60b-9c4c-1a3eb2443c74
* Version Independent ID: 2f3706cc-073b-a310-8da4-2a5a90da6473
* Content: [Azure Monitor s

[2019-02-26 13:48] DixitArora-MSFT commented on #25736
@KeiroKamioka0000 The built-in logging is useful for testing with light workloads but is not intended for high-load production use.

For production monitoring, Application Insights is recommended.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring#application-insights-pricing-and-limits

If built-in logging is used in production, the logging record may be incomplete due t

[2019-02-26 13:51] DixitArora-MSFT commented on #25666
@bertrandpons I confirmed with Product Group and at present it is in progress and will be supported in another couple of months.

[2019-02-26 13:59] jtlz2 opened #25759 "Java sample code: Offline prediction from exported object-detection model"
You have made available a nice Android image-classification sample project that uses the exported tensorflow model.pb file rather than the live endpoints. Please could you indicate how to modify that Java project for an exported customvision *object-detection* model? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-02-26 14:00] bertrandpons commented on #25666
@DixitArora-MSFT Thank you for your feedback. I look forward to having this feature released

[2019-02-26 14:14] GroofyIT commented on #25049
Any update on this issue?
- WestEurope - RBAC - advanced network vnet: failed
- WestEurope - RBAC - basic network: failed
- NorthEurope - RBAC - advanced network vnet: failed
- NorthEurope - RBAC - basic network: failed
Both using template and from portal create wizard fail
The error is always a same: 404 deployment not found

6 days ago we succeeded only when choosing basic network, but that does

[2019-02-26 14:17] j-martens commented on #23990
@ArvidBaa - If this is good and completes your issue, #please-close.

[2019-02-26 14:20] MGoedtel commented on #25211
@jaredmny  & @marcusclayton - The solution only supports action groups that are configured with email/sms notification and you can only configure it via the Workload Insights API for notification settings - (https://docs.microsoft.com/en-us/rest/api/monitor/microsoft.workloadmonitor/notificationsettings/update.

Here is an example:

armclient PUT "subscriptions/Subscription_Name/resourceGroups/Res

[2019-02-26 14:20] PaulieKarkoska opened #25760 "Typo"
Under the "Data Quantity" subtitle, the word "recomment" should be "recommend"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdb2597d-a612-4cd2-3005-85ab51574f01
* Version Independent ID: 84c078ba-b424-e81d-4dd1-1eb14b11d378
* Content: [Improving your classifier - Custom Vision Service](https://docs.microsoft.com/en-u

[2019-02-26 14:26] ArvidBaa commented on #23990
@j-martens, I am happy with the answer!

[2019-02-26 14:36] cephalin commented on #18688
@gcobr Sorry for the delay. Those two options will only store the log files in your app's file system, not in the storage account. #please-close

[2019-02-26 14:40] sergaz-msft commented on #25749
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-26 14:40] SaurabhSharma-MSFT commented on #25440
@sarahzerry We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-26 14:40] #25440 closed

[2019-02-26 14:47] agentHoover commented on #22104
Looks good.  Thanks.

[2019-02-26 14:47] #22104 closed

[2019-02-26 14:48] jrutila opened #25761 "Next steps has dead links"
ServicePrincipal entity link should point to https://docs.microsoft.com/en-us/graph/api/resources/serviceprincipal
Application entity link should point to https://docs.microsoft.com/en-us/graph/api/resources/application

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c12e139-8cb6-dd6d-2e08-89d4f22c7eef
* Version Indepe

[2019-02-26 14:55] bigdataperson commented on #25718
This can be closed now. I downloaded from GitHub and it runs fine

[2019-02-26 14:55] #25718 closed

[2019-02-26 14:57] jzuchora87 commented on #24785
Hi all, any update on a template of how we can send key vault diagnostic logs to two different workspaces under the same tenant? Thanks!

[2019-02-26 14:57] opticyclic commented on #25671
The point that I am making is that the page doesn't tell me where I am supposed to find the ` <storage-account-name>, <share-name>, `. etc

It seems like I can find it by running `mount|grep "file.core.windows.net"` in the Cloud Shell.

If so, then you should update the documentation with this information.

[2019-02-26 15:04] mgreenegit commented on #16021
@briannipper can you confirm the version of the extension in your template?
@avkaur can you confirm when this will be needed?
@nitinbps just fyi

[2019-02-26 15:04] SaurabhSharma-MSFT commented on #25623
@ZachTB123 Thanks for your feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.
@rkarlin Can you please check if this documentation requires updates..  I am also seeing the same categorization - Fully covered, Partially covered and Not Covered.
![image](https://user-images.githubusercontent.com/38112130/53422365-2c23d680-3994-11e9-9755-2c8

[2019-02-26 15:05] SaurabhSharma-MSFT commented on #25445
@iam4567 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-26 15:05] #25445 closed

[2019-02-26 15:06] SaurabhSharma-MSFT commented on #25444
@mganeshphani We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-26 15:06] #25444 closed

[2019-02-26 15:06] vhorne commented on #25480
@DMoonesinghe

Article updated.

#please-close

[2019-02-26 15:07] SaurabhSharma-MSFT commented on #24783
@olena-microsoft  Thanks for the updates.
@BekaDee We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-26 15:07] #24783 closed

[2019-02-26 15:11] bertrandpons opened #25762 "Issue with Azure Data Factory Integration Runtime - "Error: Cannot load script for execution""
Hello,

I use ADF IR for running SSIS on an Azure SQL Database. The packages are well deployed and the environment right set.

The point of the PoC is to read csv files stored in Azure Blob Storage, retrieve data and then send them in the right tables in a specific database.

When I execute the package, I get the following error:

[code]
I tried setting customize setup for the Azure-SSIS Integrati

[2019-02-26 15:11] andrewdmoreno commented on #25285
For @vikramdadwal and any others that come across this issue, the problem at the present time is that https cannot be used with the http routing config. I have been able to confirm that switching to tcp variation of routing config with port 443 instead of using http config solved this issue for me and I am able to call my service on the public ip address using https on port 443.

[code]

[2019-02-26 15:12] markgar opened #25763 "Edititing required"
This paragraph needs revising:
In addition, you can add entries to the route table routes traffic that has on-premises private IP ranges as a destination through virtual network gateway or virtual network appliance (NVA).

Please edit.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc2dd547-3ff7-b32a-ba8a-c582a721a0ee

[2019-02-26 15:16] briannipper commented on #16021
@mgreenegit
The extension I'm using is configured with types as follows in relation to using it with a VM Scale Set:

type: "Microsoft.Compute/virtualMachines/extensions"
name: "Microsoft.PowerShell.DSC"
properties.typeHandlerVersion: "2.74"

In particular when I would use the ARM Function for 'reference' to access details about the Automation Account I needed to specifically include the API versi

[2019-02-26 15:21] Alberto-Vega-MSFT commented on #25646
@theamrzaki Great I see there is engagement on stack overflow already. We will now proceed to close this thread.

[2019-02-26 15:21] #25646 closed

[2019-02-26 15:28] simonua commented on #24527
@mdgattuso @SubhashVasarapu-MSFT, do you have any updates on this by chance? My organization has had to use a mix of ARM and PS to get our Static Websites / CDN setup working, and it's been incomplete since this rolled last summer.

[2019-02-26 15:31] Alberto-Vega-MSFT commented on #25487
Thanks for the feedback! Can you post this as a feedback [@User Voice]( https://feedback.azure.com/forums/321918-azure-iot)  . This will allow the community to upvote and for the product team to include into their plans.
We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2019-02-26 15:33] #25487 closed

[2019-02-26 15:35] SumanthMarigowda-MSFT commented on #25755
@SRGOM Thanks for bringing this to our attention! We are checking on this and will respond to you soon.

In mean while, If you wish you may leave your feedback [here ](https://feedback.azure.com/forums/34192--general-feedback)All the feedback you share in these forums will be monitored and reviewed by the Microsoft engineering teams responsible for building Azure

[2019-02-26 15:38] vhorne commented on #25555
Change merged
#please-close

[2019-02-26 15:40] SubhashVasarapu-MSFT commented on #24527
@simonua ,Last I checked, there are no ways of setting caching rules from Powershell or cli.

@mdgattuso Could you please share your insights on this ?

[2019-02-26 15:41] DixitArora-MSFT commented on #25666
@bertrandpons Thanks . For now we will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-26 15:41] #25666 closed

[2019-02-26 15:44] aholler2 opened #25765 "RBAC Misinformation"
Under "Permissions in Azure Blueprints" the documentation says "If these built-in roles don't fit your security needs, consider creating a custom role". However, custom role assignment is not supported in Blueprints.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1b33f46-674b-d3ef-7644-4422927625b3
* Version Independe

[2019-02-26 15:46] simonua commented on #24527
@SubhashVasarapu-MSFT, thanks for confirming. This is a big pain in the rear as it negates a lot of the efficiencies CDNs provide. It's also not possible to circumvent this with a wildcard **`/*`** in the custom rules, so we had to resort to explicitly setting all files and folders to the general caching policy in a myriad or rules (and any time something gets added, it will also require a rule up

[2019-02-26 15:48] DCtheGeek commented on #25765
@aholler2 Thanks for the comment. That section of the document is explaining which RBAC permissions are needed to work with Blueprints, not about the role assignment blueprint artifact. The listed permissions are in the _Owner_ and _Contributor_ roles, but if you have a need for someone else to work with Azure Blueprints, you would want to create a custom role to do so.  I hope that clarifies.

@M

[2019-02-26 15:52] mgreenegit commented on #23322
@Phydeauxman I am submitting the following text for the document.  Could you please offer feedback?

## Information for registering with Azure Automation State Configuration (DSC) service

When using the DSC Extension to register a node with the State Configuration service,
three values will need to be provided.

- RegistrationUrl - the https address of the Azure Automation account
- RegistrationK

[2019-02-26 15:53] bytejunkie opened #25766 "Guidance section contradicts itself"
the 2nd and 3rd bullet on the guidance section appear to contradict each other. one says 'dont use automated deployments', the other says only automated deployments will work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75028922-3176-8802-9f85-62c92c381784
* Version Independent ID: 1e1c0232-aee5-59c9-fc1e-f8d7a8cf73

[2019-02-26 15:56] johnwildes opened #25767 "Missing step"
I just completed this walk through.  The GUI in the portal has been updated, and there's a dedicated export to event hubs option, with similar properties. I was able to get it completed end to end, but the ContentData_s field that ends up in log analytics is completely encrypted still?  Am I missing something here?  Has something changed possibly with the HTTPS requestApi from Log Analytics?  The

[2019-02-26 15:59] jberezanski-mdg commented on #24800
@j-martens Thank you for the clarification.

@aashishb  A higher timeout would give us the ability to switch between models at runtime, which would make our dev/test cycle quicker (building and deploying a new image takes 15-20 minutes). Our models take 60-80 seconds to load (on a NC6 VM) and take over the entire GPU, so only one model can be loaded at once. We accept that the first request which

[2019-02-26 16:03] mumian commented on #25647
@mcurko - Thank you very much for taking time providing us the feedback.  I will list both options.  The changes will go live later today.

#please-close

[2019-02-26 16:16] Blackmist commented on #21221
@jeary49252000 Thanks for the feedback and apologies for the confusion. It looks like the update command was removed from the CLI preview in one of the December updates and the document wasn't updated to reflect this. It has since been updated to remove mention of computetarget update.

#please-close

[2019-02-26 16:25] MGoedtel commented on #25518
@christiankuhtz - To retrieve metrics in Azure Monitor using PowerShell, here is the guidance I believe you are interested - https://docs.microsoft.com/en-us/azure/azure-monitor/platform/rest-api-walkthrough#retrieve-metric-values.

[2019-02-26 16:27] georgewallace commented on #25583
@amanjee Thanks for reaching out.. I just ran the script on a few new VMs and it worked as expected.. I was prompted to log in and it took my credentials and finished the setup.

[2019-02-26 16:27] scottmcdonald-claritas opened #25768 "Powershell steps yield a bad URL"
I end up with a useless truncated URL ending with "..."
I also tried outputting to a text file, got same result.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a601bb83-ee21-3417-4f71-b63de99ad3f8
* Version Independent ID: 75914163-23e9-48f5-fe0a-2996f4a1d84c
* Content: [Create and install VPN client configuration file

[2019-02-26 16:29] larrylieberman opened #25769 "New Linked Service walkthrough... Cluster version... 4.0 no longer available"
The "cluster version" recommended in the new "linked service" walkthrough is no longer available in Azure Databricks, (this must be very hard to keep up to date)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a176f27b-f9fc-e0ff-0a48-aa42036051f2
* Version Independent ID: d2356b83-3101-4b56-baaf-8bdf31e3bb57
* Content:

[2019-02-26 16:35] pvrk commented on #25477
@ctahok: While it may not be 2 letters for all regions, I understand the intent. I have modified the document to suggest that the geo-name, in letters, is also present in the downloaded script name. You can just use the same name to finalize the URL. Hope this helps.

[2019-02-26 16:36] bpr-admin commented on #25394
I can also confirm this issue. We have been trying to get on invoice billing for over 2 months. We have given up as of this week. We are a government agency that has existed since the 70's and Microsoft is telling us they require an articles of incorporation to approve our request. We cannot find it. AWS took only 1 day to approve invoiced billing. It is maddening and looks like we will never use

[2019-02-26 16:38] way2arun opened #25770 "Error while updating the custom role using az cli"
Getting the below error while updating the custom role using az cli 2.0.57
"Please provide the unique logic name of an existing role"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eac44e5e-65e1-d989-4afe-0463e8ff51d0
* Version Independent ID: 5665dd03-d06e-ca29-668f-7cb91e5f9ffd
* Content: [Custom roles for Azure reso

[2019-02-26 16:39] mgreenegit commented on #24784
Hi @emilkontract, can you provide additional details?  I'm not able to reproduce the same condition when I exclude the arguments property.

[2019-02-26 16:40] mdgattuso commented on #23292
It will be available this spring, that's the most granular ETA the product team can give right now.

[2019-02-26 16:43] cephalin commented on #25709
@timheuer Thanks for the feedback. It's been changed now and the update should be published today. #please-close

[2019-02-26 16:45] amandadebler opened #25771 "Virtual Node fails for Custom VNets that have Routing Tables"
Like direct subnet delegation for ACI, enabling the Virtual Node extension fails for VNets that involve Routing Tables. Our VNet is connected to our on-prem network.

The failure is not obvious; the az aks enable-addons command appeared to have run successfully. Only after I dumped the logs for the aci-connector-linux pod stuck in CrashLookBackOff did I see the failure:

time="2019-02-26T16:18:03Z

[2019-02-26 16:49] guardrex commented on #25709
@cephalin Thanks. We want to update our link text to the topic in one of our aspnet/Docs topics. What will the new title be for our link text?

@timheuer After we confirm the exact title, would you like to put in a new PR on our repo, or would you like me to do it?

It's for ...

https://docs.microsoft.com/aspnet/core/host-and-deploy/azure-apps/

... no need for an issue ... a PR for a patch is co

[2019-02-26 16:52] bpr-admin opened #25772 "Extremely Difficult -- This document has an insufficient explanation"
I can also confirm with others that have had issues signing up for Invoiced billing. Stuck in support hell with so much back-and-forth yet no resolution. We have been trying to get on invoice billing for over 2 months. We have given up as of this week. We are a state government agency(With no credit cards) that has existed since the 70's and Microsoft is telling us they require an articles of inco

[2019-02-26 16:52] Alberto-Vega-MSFT commented on #25577
@smithGit Thanks again for your valuable feedback! Can you post it at @[ IoT Central User Voice](https://feedback.azure.com/forums/911455-azure-iot-central). This will allow the community to upvote and for the product team to include into their plans. If you don't mind please share the link here and tag me.

[2019-02-26 16:52] dimitri-furman opened #25774 "Azure CLI sample script fails"
The script showing how to change connection policy with Azure CLI fails with

'sqlserverid' is not recognized as an internal or external command,
operable program or batch file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a62365-4312-8aad-d2f1-bb5c4184adf1
* Version Independent ID: 2ba5b809-8025-d7ee-c756-d6d1bab0

[2019-02-26 16:54] romankiss commented on #25461
@DixitArora-MSFT  Thanks for clarification

[2019-02-26 16:57] Blackmist commented on #24385
@jberezanski-mdg thanks for reporting this and apologies for the delay in getting back to you. Let me know if I have the order of the steps to reproduce this correct:
1. Use a template to create the resources for Azure Machine Learning, including Key Vault
2. Rerun the template to create another workspace, but using the same Key Vault as the previous one
3. This breaks the previous workspace.

Is

[2019-02-26 16:57] mgreenegit commented on #18076
I agree.  @peterschen the issue is we have removed the docs page that explains how to use DSC Extension directly (without the service).  I will work with @bobbytreed to bring it back.

To resolve your issue, you will need to merge the configuration script from
[this repo](https://github.com/Azure/azure-quickstart-templates/tree/master/dsc-extension-azure-automation-pullserver)
with your configurat

[2019-02-26 16:57] BharathNimmala-MSFT commented on #25326
@imeya thanks for providing the additional context on the scenario you are trying to achieve. Will further look into and provide you an update.

[2019-02-26 16:58] DixitArora-MSFT commented on #25461
@romankiss Thanks . For now we will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-26 16:58] #25461 closed

[2019-02-26 17:01] timheuer opened #25775 "Default linux app service picture old"
Should update the image for the default aspect after the appservice is created.

<img width="831" alt="corelinux" src="https://user-images.githubusercontent.com/4821/53431320-25ea2600-39a5-11e9-8cc9-4f6f3571a602.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8460864c-a2ad-b8e5-d1fc-6135a30edfdc
* Version Independ

[2019-02-26 17:08] MGoedtel commented on #25040
@bbarrington2001 & @femsulu - This article is going to be retired today because it is no longer valid and is replaced by the following article - https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-logs-stream-log-store.  #in-progress

[2019-02-26 17:10] jaffadog commented on #25560
@neeleshray thanks for investigating this issue.

I am encountering this issue when I (user1) make a fellow "member" user (user2) the owner of an enterprise app. i.e. neither account is a "guest" in the AAD tenant.

When user2 logs into portal.azure.com, they are unable to open the enterprise app blade. They get an "access denied" error.

User1 is a "member" account who has the Global Admin AAD ro

[2019-02-26 17:17] JasonWHowell commented on #25156
@fkeller-datameer did you get the help from another channel? Just checking in.

[2019-02-26 17:22] yegu-ms commented on #13521
We'll take a look at this issue. Thanks for reporting!

[2019-02-26 17:24] yegu-ms commented on #13988
This is correct.

[2019-02-26 17:27] yegu-ms commented on #15236
We'll take a look.

[2019-02-26 17:28] yegu-ms commented on #16303
Yes, we'll add this soon.

[2019-02-26 17:29] jberezanski-mdg commented on #24385
It's even simpler, you can run the same template twice (with the same parameters). Most ARM resources are idempotent, so it should effectively be a no-op, but the Key Vault resource will clear the access policies, breaking the workspace.

I haven't used the SDK directly. However, I can see the error message ("Received bad response from Model Management Service") in the SDK code (azureml/core/image

[2019-02-26 17:29] yegu-ms commented on #19900
We'll take a look at this.

[2019-02-26 17:32] yegu-ms commented on #23915
Thanks for the suggestion! We'll figure out what would be the best place to show the version information. Redis 4.0 should be available in the next few months.

[2019-02-26 17:33] Grace-MacJones-MSFT commented on #25750
Hi @jamesgarner-me, thanks for your feedback! We will review and update this doc accordingly.

[2019-02-26 17:38] VanMSFT commented on #25214
#please-close

[2019-02-26 17:44] sebader commented on #25465
I did find an example: https://github.com/Azure/azure-quickstart-templates/tree/master/101-aci-vnet You might want to include this (or at least a clear link to it) here in the documentation in addition to cli and yaml.

[2019-02-26 17:47] mike-urnun-msft commented on #25753
Hi @sadigopu Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-02-26 17:47] mdgattuso commented on #24527
Correct it is not available today, we're working on this now though and it will be available later this spring.

[2019-02-26 17:47] mike-urnun-msft commented on #25766
Hi @bytejunkie Thank you for your feedback! We will review and update as appropriate.

[2019-02-26 17:47] smithGit commented on #25577
This topic has been submitted to Azure IOT Central feedback as follows:

https://feedback.azure.com/forums/911455-azure-iot-central/suggestions/36961006-specify-devices-for-azure-iot-central-continuous-e

Specify Devices for Azure IoT Central Continuous Export

I have not found a way to control which devices are included in Continuous Export (to Blobs), and several devices are being stored includi

[2019-02-26 17:48] Mike-Ubezzi-MSFT commented on #13988
@mkozioro We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-26 17:48] #13988 closed

[2019-02-26 17:48] amanjee commented on #25583
@georgewallace Thanks for your response, I was able to get it to run by executing on a machine that didnt have the Az cmdlets installed. THe source of my issue seemed to be a conflict with the AzureRM modules and Az modules on the same machine.

[2019-02-26 17:51] jberezanski-mdg commented on #24385
OK, here are the messages:

CLI:

[code]

Portal:

[code]

SDK:

[code]

[2019-02-26 17:52] SnehaGunda commented on #24460
@kazshi I don't know of any ETAs as of now we will notify you with blog posts and doc updates. Yes we are working on documentation for this feature, we will be updating the main conceptual and REST API docs. We will notify you when the docs are available.

@ijabit There might be a different way to solve your problem, which I may not be aware. Can you please send an email to askcosmosdb@microsoft.c

[2019-02-26 17:52] simonua commented on #24527
@mdgattuso, awesome! Is there anything we could subscribe to or follow to get updates, please?

[2019-02-26 17:54] billmath commented on #17603
@waded Just an FYI.  This change finally got put in.  You should see an update later today.  Thanks!

[2019-02-26 17:55] mgreenegit commented on #24410
Yes I do think we need an example that is more clear.  The portal basically handles this automatically.  @bobbytreed if you want to move ahead and jut ping me on review, that would be awesome.

[2019-02-26 17:57] georgewallace commented on #25583
@amanjee Yes there can be issues with both cmdlets being on the same machine.. Azure Automation has additional items you need to know if using Az.. You can view it here https://docs.microsoft.com/en-us/azure/automation/az-modules

[2019-02-26 18:00] YutongTie-MSFT commented on #25760
@PaulieKarkoska Hi, this has been fixed. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-02-26 18:00] #25760 closed

[2019-02-26 18:01] Adam-Smith-MSFT commented on #25674
@gatornation11  was the script helpful to you by any chance ?

[2019-02-26 18:03] Blackmist commented on #24385
Thanks for the detailed information @jberezanski-mdg , I'll start work on adding this to the document today.

[2019-02-26 18:04] YutongTie-MSFT commented on #25759
@jtlz2 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@areddish Hi Andrew, could you please check this issue and update the document as necessary? Thank you.

[2019-02-26 18:05] Mike-Ubezzi-MSFT commented on #25754
@allanalewis Thank you for bringing this detail to our attention. I am making the content owner aware of this and an appropriate update can be made.

[2019-02-26 18:06] MicahMcKittrick-MSFT commented on #25751
@sgupadya please provide us with the link to the document you are referring to so we can better assist.

[2019-02-26 18:06] #16298 closed

[2019-02-26 18:07] MarileeTurscak-MSFT commented on #25761
@jrutila
Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-26 18:08] MicahMcKittrick-MSFT commented on #25757
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-26 18:09] MicahMcKittrick-MSFT commented on #25762
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-26 18:09] #18688 closed

[2019-02-26 18:09] MarileeTurscak-MSFT commented on #25761
Thanks, @jrutila . I made a pull request for approval by @CelesteDG

https://github.com/MicrosoftDocs/azure-docs-pr/pull/67789

Once approved, changes generally go live within 24 hours.

[2019-02-26 18:09] #25761 closed

[2019-02-26 18:09] #20756 closed

[2019-02-26 18:09] #21221 closed

[2019-02-26 18:10] #23990 closed

[2019-02-26 18:10] #25480 closed

[2019-02-26 18:10] #25555 closed

[2019-02-26 18:10] #25647 closed

[2019-02-26 18:10] #25709 closed

[2019-02-26 18:12] MarkAtAgilliance commented on #25498
Thank you.  That is great.  M.

From: Kalyan Chanumolu <notifications@github.com>
Sent: Tuesday, February 26, 2019 2:07 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mark Davies <mark@agilliance.net>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] PATCH to scale data warehouse not working. (#25498)

You will have to include all the mandatory prop

[2019-02-26 18:15] MicahMcKittrick-MSFT commented on #25771
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-26 18:15] guardrex commented on #25709
I noted on the PR ... does that actually change the title tho? It's not changed in the metadata.

https://github.com/MicrosoftDocs/azure-docs/commit/b813eff47ba852463eec3973fff269c840d26eec#commitcomment-32485946

[2019-02-26 18:24] gatornation11 commented on #25674
I haven't tried it sorry. Before I got your script I deleted the blob and I'm trying again. I think I know why the  sync option was wanting to delete files, long story won't bore you with that.
to compare I'm doing this at the end.
$ctx = New-AzureStorageContext -StorageAccountName containername -storageAccountKey xxxxxxxxxxx
$blobs = Get-AzureStorageBlob -Container containername -Context $ctx
$bl

[2019-02-26 18:25] #25583 closed

[2019-02-26 18:26] Mike-Ubezzi-MSFT commented on #25756
@adoelger Thank you for the detailed question. You raise a good point, although there is a good explaination of the [autovacuum confgurations](https://docs.microsoft.com/en-us/azure/postgresql/howto-optimize-autovacuum#autovacuum-configurations), there is no detail instructing you how to change or even check what the current configuration items are set to. Since these properties are not exposed th

[2019-02-26 18:27] MicahMcKittrick-MSFT commented on #24853
@jberezanski-mdg Just an FYI, the limit is in fact 65536 and we will be updating the doc with that new number. Also, as this is the limit, that being said we have not actually tested it with the max number of IPs. Even though that is the hard limit you would likely run into other limitations for example with the load balancer and the number of health probes it can have.

All in all, we generally t

[2019-02-26 18:28] wintersteiger opened #25776 "Incorrect result conversion in score.py example"
The line

[code]

in the example for `score.py` should read

[code]
as the result is a list (of size 1) of ndarrays.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 343be57f-8538-8bce-ad16-e2f138fd82a1
* Version Independent ID: c4972de8-10d7-2143-a128-5afa9236439a
* Content: [Create & deploy interoperable ONNX models -

[2019-02-26 18:29] MicahMcKittrick-MSFT commented on #25669
@joncooke thanks for that!

Assigning to @YutongTie-MSFT who can help further on this.

[2019-02-26 18:30] Mike-Ubezzi-MSFT commented on #25763
@markgar Thank you for bringing this to our attention. I am having the content team evaluate and update as appropriate.

[2019-02-26 18:32] Mike-Ubezzi-MSFT commented on #25763
@CarlRabeler for awareness.

[2019-02-26 18:36] BradyWi opened #25777 "Incorrect parameter name in the show-connection-string example"
This sample command line contains the incorrect parameter name "--hub-name" the actual parameter name is "--name".

This:
az iot hub show-connection-string --hub-name YourIoTHubName --output table

Should be:
az iot hub show-connection-string --name YourIoTHubName --output table

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-02-26 18:36] CarlRabeler commented on #25763
https://github.com/MicrosoftDocs/azure-docs-pr/pull/67793
PR to clarify wording is pending

[2019-02-26 18:38] way2arun commented on #25770
the trouble happens when you add 2 or more scopes,

[2019-02-26 18:40] Mike-Ubezzi-MSFT commented on #25774
@dimitri-furman Thank you for bringing this to our attention. We are investigating and will update you when we have accurate information.

[2019-02-26 18:42] ChiragMishra-MSFT commented on #25769
@larrylieberman Thanks for the feedback. We are looking into the issue and will update you shortly.

[2019-02-26 18:43] ecfan commented on #22570
Hi @Mattp123, can you confirm the resolution and update the topic? Thanks!

[2019-02-26 18:46] swinarko commented on #25762
Please raise a customer support ticket, so we could investigate your custom setup and package in more details.

[2019-02-26 18:52] dlyall-maine opened #25778 ""Application entity" link broken"
In this paragraph:

Application object
An Azure AD application is defined by its one and only application object, which resides in the Azure AD tenant where the application was registered, known as the application's "home" tenant. The Azure AD Graph Application entity defines the schema for an application object's properties.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-02-26 18:57] xtofs commented on #25748
https://github.com/microsoftgraph/microsoft-graph-docs/tree/master/api-reference might help in the meantime.

[2019-02-26 18:58] MicahMcKittrick-MSFT commented on #25771
@iainfoulds @seanmck do either of you know if this is by design?

[2019-02-26 18:59] MicahMcKittrick-MSFT commented on #25714
@WebSpider I will close for now. If you have further questions let me know and we can always reopen and continue the discussion.

[2019-02-26 18:59] #25714 closed

[2019-02-26 19:00] AjayKumar-MSFT commented on #25214
@VanMSFT, Thank you!
@tplas, We will close this out, but if you feel you need more information please just let us know.

[2019-02-26 19:00] #25214 closed

[2019-02-26 19:00] olivierbloch commented on #25343
To answer the question, once the throttle limit is reached, all incoming messages will be rejected.
IoT Hub can't throttle by device.
However you can disable a specific device (without removing it from the device registry). Recommendation would be to use IoT Hub Metrics (https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-metrics) to monitor the IoT Hub and once a faulty behavior is detected fr

[2019-02-26 19:02] YutongTie-MSFT commented on #25776
@wintersteiger
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@prasanthpul Hi Prasanth, could you please check this issue and update the document as necessary? Thanks a lot.

[2019-02-26 19:02] taromielnaz opened #25779 "Tags"
Can we put tags in this deployment ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b90ff6f8-f255-58b8-fc2e-f52fd1481640
* Version Independent ID: 31063b65-21c4-0a7a-04bc-10be430cb116
* Content: [Create Java web app - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-java

[2019-02-26 19:04] sdgilley commented on #22574
@arpitvw - do you still see this error? I suspect that you caught Azure Notebooks in a state where it had not yet incorporated the latest SDK changes.  I just tried this today and do not get the error, can you confirm that it's ok for you as well?   Thanks!

[2019-02-26 19:04] emazzotta commented on #24283
It would be VERY helpful if any sort of failure information could be shown.

I tried to boil down the error by uploading a single zipped `.wav`-file with the following properties:
[code]

Accordingly, I uploaded a transcript.txt file with the following line:
[code]

Even with this very simple use case I just get the status "Failed" and clicking on "Details" does not reveal anything helpful:

[code

[2019-02-26 19:05] qianw211 commented on #15297
#please-close we're adding info in the publisher guide to clarify what solution status means.

[2019-02-26 19:09] ascortez commented on #24283
Experienced same issue. I believe that my audio formatting is correct because I was able to use the same audio files for testing on the Endpoint tab later. Which leads me to believe it was a transcription file error. But other that using tabs to space, and all lower case, not sure what the issue is.

This service is nearly unusable due to this issue.

[2019-02-26 19:10] PanosPeriorellis commented on #24283
The data is validated at import. We do not provide another a separate tool for data validation.

From: Ash Cortez <notifications@github.com>
Sent: 26 February 2019 11:09
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Panos Periorellis <Panos.Periorellis@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Is there any way to validate my dat

[2019-02-26 19:10] Karishma-Tiwari-MSFT commented on #25442
@sybrenstuvel Thanks for the update. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-26 19:14] MicahMcKittrick-MSFT commented on #25543
@sybrenstuvel Thanks for that.

@EricRadzikowskiMSFT could you chime in on this one?

[2019-02-26 19:14] robinsh commented on #25088
@KingdomOfEnds It does create the dataset. I don't know how offhand to upload a sample dataset, and the only way I have of testing it is to set up the routing and let it stream to PowerBI, and it has always worked for me. How long are you waiting? It can take up to 15 minutes to show up. Are the other parts of the tutorial working -- is it sending the entries to the service bus queue and then via

[2019-02-26 19:16] Karishma-Tiwari-MSFT commented on #25465
@sebader Thanks for the update and sharing the template link.
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-26 19:18] CelesteDG commented on #25761
Thank you for the PR, @MarileeTurscak-MSFT

Hello @jrutila - Thank you very much for the feedback and suggestion. If you encounter any other similar situations in the future, please feel free to go ahead and make a PR by editing the public docs and making your change. We'll review and approve the PR and it would also add you as a contributor to our docs. Thank you!

[2019-02-26 19:22] spelluru commented on #16072
@DaveSlinn - Thank you for the feedback. Sorry it took so long to get to it.

@Alberto-Vega-MSFT - The PR is merged. #please-close

[2019-02-26 19:23] BradyWi opened #25780 "Incorrect parameter listed for show-connection-string call"
The sample call for show-connection-string uses a non-existent parameter name "--hub-name" the correct parameter name is "--name".  This is likely wrong in other topics that reference  the show-connection-string call.

Current:
az iot hub show-connection-string \
  --hub-name YourIoTHubName --output table

Should be:
az iot hub show-connection-string \
  --name YourIoTHubName --output table

---
#

[2019-02-26 19:24] spelluru commented on #25699
@crgarcia12 - Thanks for the feedback. I have fixed the article.

#please-close

[2019-02-26 19:25] TravisCragg-MSFT commented on #25768
@scottmcdonald-claritas can you tell me which section & command produced the bad URL?

[2019-02-26 19:28] CelesteDG commented on #25778
Thank you very much for the feedback, @dlyall-maine
We have a PR that's waiting to go live for today's ~3:30pm PST docs update. It will address this issue, which was also reported in a related GitHub issue (https://github.com/MicrosoftDocs/azure-docs/issues/25761).

[2019-02-26 19:28] eamonoreilly commented on #17146
@Adam-Smith-MSFT This article no longer exists from what I can tell. You should be able to close this issue.
Thanks,
Eamon

[2019-02-26 19:30] Jyoti492 commented on #25298
@CHEEKATLAPRADEEP-MSFT :: I am trying to create the same. Did you get any method to do so ??

[2019-02-26 19:30] Jyoti492 commented on #25298
Through the rest API

[2019-02-26 19:39] CelesteDG commented on #25778
Change has been merged to master. Just waiting to go live ~3:30pm PST today.
#please-close

[2019-02-26 19:39] jan-eng commented on #23512
We gave it some thought, it doesn't quite fit into this article as this article is for issues where a connection cannot be established in the first place. We do have a metric for failed connections that can be used. We also now display the resource health that indicates whether a server is healthy and online which can be used as additional information for connection troubleshooting. #please-close

[2019-02-26 19:41] dlepow commented on #25465
@sebader - Thanks for the feedback. This article does include a link to the template example you found, under "Next steps". It sounds like you didn't find it there, so we should make it more prominent (or show a complete template example as you suggest) when we next update the article. We scheduled a work item (technical content 1361568) already to make some updates to that article in the near fut

[2019-02-26 19:41] #17146 closed

[2019-02-26 19:44] sebader commented on #25465
Yeah, since you also show complete examples of CLI and yaml, IMHO it would make sense to also have an ARM example in the same place.
Thanks! Go ahead and close this for now.

[2019-02-26 19:44] YutongTie-MSFT commented on #25542
@jpe316 Hi Jordan, could we add C# sample if necessary? Thank you.

[2019-02-26 19:46] ppathan opened #25781 "This doc only shows Node.js sample but in Next steps sections it is not clear how to pick other languages"
In this paragraph:

"The "How to" articles referenced in the Next Steps section provide more complete samples and show the use of other programming languages. For more information about how devices connect to Azure IoT Central, see the Device connectivity article."

It says that next step will have information about using other programming languages. But it is not clearly stated in the next step L

[2019-02-26 19:46] YutongTie-MSFT commented on #25598
@erhopf Hi Erik, could you please check this issue and update the samples if necessary? Thanks a lot.

[2019-02-26 19:48] Mike-Ubezzi-MSFT commented on #25498
@MarkAtAgilliance We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-26 19:48] #25498 closed

[2019-02-26 19:49] georgewallace commented on #24615
@jontreynes Apparently I missed adding the issue in my commit so the change is live but it didn't autoclose the issue.  The code sample is now correct.

Thanks
George

[2019-02-26 19:56] KingdomOfEnds commented on #25088
@robinsh - Thanks for the great answer and document. I have to restate that your earlier answer is correct. There's a small **Authorization** quirkc that's probably part of the Power BI-side of things since it involves whether or not I can successfully get redirected back to the main page. Yep, I'm getting emails just fine. The dataset is only created after the app is run. If you wait for it to ap

[2019-02-26 19:56] #25465 closed

[2019-02-26 20:00] mrbullwinkle commented on #8812
We did get an answer back from engineering on this one.  Unfortunately continuous export does not currently support what you are trying to do. We have updated the docs with the following:

[https://docs.microsoft.com/en-us/azure/azure-monitor/app/export-telemetry#continuous-export-advanced-storage-configuration](https://docs.microsoft.com/en-us/azure/azure-monitor/app/export-telemetry#continuous-e

[2019-02-26 20:02] mrbullwinkle commented on #8812
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-02-26 20:03] BharathNimmala-MSFT commented on #8812
Thanks Michael.

[2019-02-26 20:03] #8812 closed

[2019-02-26 20:06] Mike-Ubezzi-MSFT commented on #25509
@isshukla If you should have any issue with this GitHub project, an issue can be filed directly against it and there appears to already be an issued filed for it: [SQL Managed Instance Prepare Subnet script Incorrect](https://github.com/Microsoft/sql-server-samples/issues/516 ). Since there is no specific doc updates to be made with this document, we will now proceed to close this item but, happy

[2019-02-26 20:06] #25509 closed

[2019-02-26 20:08] Mike-Ubezzi-MSFT commented on #25596
@ycedillos We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-26 20:08] #25596 closed

[2019-02-26 20:09] jzuchora87 commented on #25621
Not much to glean from that. Let me know if I can provide any further information.
DEBUG: AzureQoSEvent: CommandName - New-AzVM; IsSuccess - False; Duration - 00:00:07.9332396; Exception - System.ArgumentException: The image subscription doesn't match the current subscription.
   at Microsoft.Azure.Commands.Common.Strategies.SyncTaskScheduler.Wait(Task task, Action progressUpdate)
   at Microsoft.

[2019-02-26 20:09] craigshoemaker commented on #25491
@ggailey777 - Would it make sense to you to add a line item for IoT and provide the same links as in the Event Hubs row?

[2019-02-26 20:12] ycedillos opened #25782 "How we could check if the organization has already issued an ImmutableID"
The documentation says: "If you have already issued an ImmutableID claim for user accounts, set the value of $immutableIDAlreadyIssuedforUsers in the script to $true."

So, how we could check if our client has already issued an ImmutableID?. I have two clients, those clients want to enabled Hybrid Azure AD Join. The Azure AD Connect did not created the claims, so we must configure hybrid azure ad

[2019-02-26 20:13] cephalin commented on #25689
@MerivaIe Yes unfortunately when the App Service deployment your app happens to run on doesn't support PremiumV2, there's nothing you can do but follow the steps in the doc to migrate your app to one that does. #please-close

[2019-02-26 20:15] MarkusVi commented on #25556
#please-close

[2019-02-26 20:21] cephalin commented on #25709
@guardrex You're right I only changed the H1. Fixed now and should be published soon.

[2019-02-26 20:23] dlepow commented on #25656
@dturska - Thanks for pointing this out, Daryl. You're right that the http:// prefix should be removed. If you supply the suggested value of the `--assignee` parameter (`appID` or one of the `serviceprincipalNames` values returned by `az ad sp show`), the prefix is already added when needed. I'll update the article accordingly. Cheers,
#in-progress

[2019-02-26 20:26] walsehgal commented on #25749
Hi @Shekharb694, did you add the following to the **allprojects** > **repositories** block in **build.gradle** ?

maven {
        url "https://atlas.microsoft.com/sdk/android"
}

[2019-02-26 20:29] guardrex commented on #25709
Ok, so it seems like the browser tab will show ...

but the H1 on the rendered topic will be ...

In aspnet/Docs, we match the metadata title to the H1.

I'm good. I'm going to go ahead and merge https://github.com/aspnet/Docs/pull/11124.

[2019-02-26 20:32] cephalin commented on #25709
Clarification: I fixed the title. It says ASP.NET now.

[2019-02-26 20:36] mgreenegit commented on #23128
@OffColour yes by default if the node configuration first run fails, the extension returns failure.  This is actually the outcome of customer support requests.  We did implement a switch for the behavior though.  If you set settings.advancedOptions.forcePullAndApply to false, the extension should succeed/fail based only on whether the node registered successfully.  Is that your preferred outcome?

[2019-02-26 20:38] MGoedtel commented on #25040
@femsulu - I've completed retiring the article and redirecting to its replacement.  #please-close.

[2019-02-26 20:39] MicahMcKittrick-MSFT commented on #25609
@PetroAzure I just ran through the .NET example and everything seems to have worked without issue

![image](https://user-images.githubusercontent.com/32313503/53444475-1a0d5c80-39c3-11e9-92ea-e507e708a22d.png)

![image](https://user-images.githubusercontent.com/32313503/53444483-20033d80-39c3-11e9-8727-f0e23c1eea42.png)

![image](https://user-images.githubusercontent.com/32313503/53444462-0feb5e00

[2019-02-26 20:43] stdistef commented on #12281
So you are able to Nexthop a 0.0.0.0/0 default route to the private IP of the AF for Subnet to Subnet traffic now?

[2019-02-26 20:43] sdgilley commented on #13673
Thanks for you suggestion.  We'll keep it in mind when we next update this video.

[2019-02-26 20:44] MikeRayMSFT commented on #25381
@daveberm & @MicahMcKittrick-MSFT - thanks for this. I was away from the office. I'm doing a bit of research to make sure we get you the right answer. Sorry about the delay.

[2019-02-26 20:47] roygara commented on #24227
@MCrank Thanks for reaching out. Unfortunately we don't know the answer to your question and it doesn't seem like there is any Az variant of this particular module. I'd recommend actually opening an ask in our feedback site regarding this since it's more product related than doc related, so that the relevant team will see it directly. https://feedback.azure.com/forums/217298-storage?category_id=69

[2019-02-26 20:47] shashishailaj commented on #25249
@hemantpro WE checked internally and we do not have a document detailing specifically how to use expressroute with Azure AD . However as far as we think Azure AD is a highly available and distributed service which generally may not require dedicated expressroute circuits. I mean its faster than most services due to its availability through each and every azure datacenter accross the world. We have

[2019-02-26 20:49] MCrank commented on #24227
Thanks @roygara .  I'll check it out.

[2019-02-26 20:49] #24227 closed

[2019-02-26 20:52] smoms opened #25783 "sudo iotedge issue"
Hi, I have added my user to sudo group "sudo adduser &lt;username&gt; sudo" however when I run "iotedge list" still requires sudo. Of course i re-logged in. Why that? tks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3b8296d-c923-e990-dcad-35ef2b908a2a
* Version Independent ID: 5f85fd7b-f2b6-b3b1-6be2-b6054bb33507
*

[2019-02-26 20:54] jayantacs commented on #24880
@andylholloway : This was an experimental feature and now have been removed.

To answer your question, if you provide partition key, the query will always look for the vertex within a single logical key.

Also, you might find this article useful.

https://medium.com/@jayanta.mondal/getting-the-best-out-of-cosmos-dbs-scale-out-graph-api-aka-partitioned-graph-containers-bf47c240e698

[2019-02-26 20:55] PerSwede opened #25784 "Works perfect"
Made 1 single-change to your guide thank you so much
cd iot-hub-node-raspberrypi-client-app
"sudo apt-get upgrade npm"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57d05c9-562c-02a5-7ccd-b1b1bb7c8f0c
* Version Independent ID: 17ee094f-aee3-ca0c-959b-6380e4ea8b89
* Content: [Raspberry Pi to cloud (Node.js) - Connect

[2019-02-26 21:00] j-martens commented on #13673
#please-close

[2019-02-26 21:03] aahill commented on #25345
Thanks for reaching out @jayendranarumugam, I reached out to the team and you are correct that the limit is 5120 characters. I'll update the documentation, and have it live soon.

Thanks again!
#please-close

[2019-02-26 21:03] femsulu commented on #25772
@bpr-admin Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-02-26 21:06] APIWT commented on #24066
I feel like this is not really a good answer considering the fact that this page claims the Active Directory Graph API is being deprecated Feb 2019...
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-graph-api

@davidmu1 @SaurabhSharma-MSFT @PingPongSet Would you please reopen this issue and continue to investigate?

[2019-02-26 21:07] femsulu commented on #25758
@BzSpi Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-02-26 21:09] PerSwede commented on #25784
source https://www.npmjs.com/package/node-wiring-pi

[2019-02-26 21:10] femsulu commented on #25767
@johnwildes Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-26 21:11] YutongTie-MSFT commented on #25598
@kevinclarkneudesic Hi, thanks for your feedback for the document. This is a duplicate feature request of #22812 I will close this for now, and please refer to the old one.

[2019-02-26 21:11] #25598 closed

[2019-02-26 21:15] Mike-Ubezzi-MSFT commented on #23512
@rs38 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-26 21:15] #23512 closed

[2019-02-26 21:16] #24685 closed

[2019-02-26 21:16] ajlam commented on #25754
@allanalewis, thanks for opening this issue. Docs have been updated and will be published in the next 24 hours.

[2019-02-26 21:17] #25754 closed

[2019-02-26 21:19] #15297 closed

[2019-02-26 21:24] jloughlinMSFT opened #25785 "Build a Customer Model (Translator Text)"
I am keen to build out the example but do not see any sample data.   Did something change?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 918b5e6a-5692-2e44-5a41-88077c115c34
* Version Independent ID: a7c1fe3a-677e-fc93-ae54-d4a1da60bc12
* Content: [Quickstart: Build, deploy, and use a custom model - Custom Translator

[2019-02-26 21:24] vip32 opened #25786 "typo"
"Applications can request multiple changes feeds on the same container simultaneously. "

should be

"Applications can request multiple change feeds on the same container simultaneously. "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdcc897a-d6df-3305-e9cb-01889a3c5d4f
* Version Independent ID: 739a9fc7-3782-a860-ac

[2019-02-26 21:25] SaurabhSharma-MSFT commented on #25341
@jaszperez Thank you.
@lightupdifire Please let us know if this helps or if you have any other queries.

[2019-02-26 21:27] #13673 closed

[2019-02-26 21:27] #16072 closed

[2019-02-26 21:27] Mike-Ubezzi-MSFT commented on #24880
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion. Although the initial question has been addressed, the additional dialog is constructive to the topic being discussed.

[2019-02-26 21:27] #24880 closed

[2019-02-26 21:27] #25040 closed

[2019-02-26 21:27] j-martens commented on #25219
@KeiroKamioka0000 - can you tell me if you are looking for Machine Learning Studio or if you are Azure Machine Learning service?

[2019-02-26 21:27] #25556 closed

[2019-02-26 21:27] ctahok commented on #25477
Hi Kartik,

Thanks for this edit.
We noticed it in the script later but to troubleshoot NSG rules we had to
check it by telnetting to 443 which was failing.

Regards, Ilkin

On Tue, 26 Feb 2019, 16:35 Kartik P V R, <notifications@github.com> wrote:

[2019-02-26 21:27] #25689 closed

[2019-02-26 21:27] #25699 closed

[2019-02-26 21:28] #25778 closed

[2019-02-26 21:30] CastleArg commented on #25727
for JS functions it definitely affects performance; I already have a 400mb
of node_modules in an app with about 40kb of source code so far.   When
also including tests etc this is resulting in really slow startup times.
When setting up webpack it is convention to move source code to a separate
src folder, and this in turn is breaking local debug of functions.  I'm
sure everything is possible but i

[2019-02-26 21:31] crgarcia12 commented on #25699
Thank you!

[2019-02-26 21:33] j-martens commented on #25219
@YutongTie-MSFT  please assign to @ericlicoding as a Studio issue.

[2019-02-26 21:39] vikramdadwal commented on #25285
@andrewdmoreno I tried replacing the http with tcp as mentioned, but still not able to hit the service with https. Following are the snapshots (service codepackage, gateway and postman) from my arm json. My container image exposed port 443 and is running fine in mesh.

![image](https://user-images.githubusercontent.com/10174566/53448198-b50a3480-39cb-11e9-9aa6-29c0dd5aedfb.png)

Its simply say no

[2019-02-26 21:43] TravisCragg-MSFT commented on #24221
@jjindrich Thanks for the template! I was able to deploy the template and the 2 VMs!

From the Windows VM I am having no issues using private DNS, and I am able to resolve the Linux VM:

[code]

But from the Linux VM I am only able to resolve the names, but not the domain. Oddly enough, a reverse lookup succeeded and returned the proper domain.

[code]

Something tells me this is an issue with the

[2019-02-26 21:50] kgremban commented on #24335
@ondrejspilka I'm going to try and reproduce the errors that you encountered. Can you give me more details about your setup? Like what kind of devices/operating systems you used for your gateway device and your downstream device. And did you install the certificates in the OS, or did you use the Azure IoT SDKs?

[2019-02-26 21:51] kgremban commented on #23650
@djaus2 going back through open issues, I realized that I forgot to comment after implementing your suggestion to include a blank line in the table to help people skim for the information they need. Please take a look and let me know if this resolves your issue or if more work should be done. Thanks!

[2019-02-26 21:56] Leon99 commented on #25605
@kobulloc-MSFT @BharathNimmala-MSFT thanks for the advice, I'll try it. I'm a bit confused here though, the thread you mentioned notes

However, you're telling here that

In my case, it's a new trial subscription with no other resources provisioned, so it's certainly not a subscription limit. Are you saying that I hit a region-wide limit and everyone in my region is affected as well?

[2019-02-26 21:58] kgremban commented on #23584
@raghavan20 To clarify, this is a new question about module twins? You were originally talking about issues with size limits on reported properties, but now you're asking about reported properties not getting updated? Or are these related?

[2019-02-26 21:59] BryanTrach-MSFT commented on #25775
@timheuer Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-26 22:02] kgremban commented on #23167
@viktoreinarsson We haven't heard from you in a few weeks on this issue. Are you still experiencing the same errors, or have you been able to resolve them?

[2019-02-26 22:03] kgremban commented on #14719
@Karishma-Tiwari-MSFT Could you #please-close this issue as resolved. Thank you.

[2019-02-26 22:04] SaurabhSharma-MSFT commented on #25261
@ld0614 Sorry if I was not clear but in your case the inviting tenant (2) will need the appropriate number of Basic or Premium (P1/P2) licenses to cover the guest users in 1:5 ratio (you can assign 5 named guest users in one license.

[2019-02-26 22:06] ecfan commented on #23672
@mganeshphani I added a work item to our backlog for addressing this issue.
@mike-urnun-msft #please-close, thanks!

[2019-02-26 22:07] andrewdmoreno commented on #25285
@vikramdadwal - you confirmed these also I would imagine?

- Kestrel listener config was configured to port 443
- Docker file was updated to expose 443

[2019-02-26 22:08] desimone commented on #25740
I am also seeing this. `id_token` contains groups but not `access token`. Like @WayneYangsa I have set `groupMemberships` as described [here](https://www.pomerium.io/docs/identity-providers.html#azure-active-directory).

e.g.

access token (decoded)

[2019-02-26 22:23] femsulu commented on #25531
@daruizcorrea A PR has been initiated to fix this. Change should be live in about 24 hrs. Thanks again for catching this.

[2019-02-26 22:23] #25531 closed

[2019-02-26 22:24] TiloGit opened #25793 "Microsoft.NetApp for api version 2017-08-15 NotFound"
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 903b32de-bbff-8584-ac87-dfe44867a806
* Version Independent ID: 2793cf7c-89b3-d5bd-5823-5346ba391823
* Content: [Create a NetApp account for Access Azure NetApp Files](https://docs.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-create-netapp-account)

[2019-02-26 22:24] curtand commented on #25145
@Anand-Moghe The correction will publish today at 3, live a little later. Thanks for catching this!

@MarileeTurscak-MSFT
#please-close

[2019-02-26 22:26] SnehaGunda commented on #25786
@vip32 thanks for pointing out, I submitted a fix to the doc. In future if you find any typos feel free to click on the edit button on the right hand corner and submit a PR. We would love to get community contributions.

We will now close this issue.

#please-close

[2019-02-26 22:32] Adam-Smith-MSFT commented on #25674
Let me know in case if you need any help or if I could close this issue for now.

Thanks,
Adam

[2019-02-26 22:35] artemuwka commented on #23994
The sync command is currently undergoing certain design changes to make it easier to work with. I'll update this thread once the changes are out and will also update the documentation to reflect those changes.

[2019-02-26 22:35] artemuwka commented on #23994
#in-progress

[2019-02-26 22:35] kobulloc-MSFT commented on #25605
@Leon99 Sorry for the confusion!  The limits are based on your account, and by default they [allow for up to 100 nodes](https://docs.microsoft.com/en-us/azure/aks/container-service-quotas).  Try reducing your core count to under 100 and let us know if you still run into the issue.

As far as the region limitation, my understanding is that each account can run up to the default 100 node limit in ea

[2019-02-26 22:38] artemuwka commented on #23994
Thanks for the feedback @FlaveC! I'll be in touch!

[2019-02-26 22:39] aanandr commented on #25771
@amandadebler - the subnet that you delegate for ACI should not have UDR or any other configuration on it. Can you try with a plain subnet?

[2019-02-26 22:41] gatornation11 commented on #25674
Please close.

From: Adam-Smith-MSFT <notifications@github.com>
Sent: Tuesday, February 26, 2019 5:33 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Eric Logeson <eric.logeson@Scinovia.onmicrosoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] no /XO option? (#25674)

Let me know in case if you need any help or if I could close this issue fo

[2019-02-26 22:44] SnehaGunda commented on #24460
I also dropped an email to our product group, @kirillg will respond to this issue soon.

[2019-02-26 22:44] #14719 closed

[2019-02-26 22:47] Adam-Smith-MSFT commented on #25674
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-26 22:47] #25674 closed

[2019-02-26 22:48] SnehaGunda commented on #25238
@stevehurcombe sorry about the delay in getting back to you, yes you don't have to worry about deleting the partitions when the underlying data is deleted. Partitions are automatically scaled based on your data. I will update the doc to add this point.

[2019-02-26 22:58] KeiroKamioka0000 commented on #25722
Thanks,

As my understanding, for [Premium or Business Critical service tiers], even without active geo replication settings, it service fabric automatically handles the fail-over.

Is my understanding correct? if so please close it.

[2019-02-26 22:59] SnehaGunda commented on #24880
@andylholloway FYI - We submitted a fix to update the doc.

[2019-02-26 23:00] odvoskin opened #25795 "Webhooks and HTTP bindings can be combined"
Currently in the bindings section, the links in HTTP and Webhooks leads to the same doc and show the same support for trigger and output. One shows support in 1.x, the other in 2.x. Can these be merged?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1df5e2bd-489d-19b2-87d3-d993ebb82021
* Version Independent ID: 9e9d9de

[2019-02-26 23:01] YutongTie-MSFT commented on #25785
@jloughlinMSFT Hi John, you need to upload your own data set.

[2019-02-26 23:13] SnehaGunda commented on #25238
@stevehurcombe we will now close this issue.

#please-close

[2019-02-26 23:17] SnehaGunda commented on #24856
@jjgriff93 The Azure portal has an ASP.Net core example. When you create a SQL API account, the quickstarts tab has an example for  ASP.Net core, did you take a look at it? It's not updated with the  latest version of SDK but should help you get started:

![image](https://user-images.githubusercontent.com/14284405/53453536-3b794300-39d9-11e9-8722-8e09e595fe48.png)

[2019-02-26 23:23] MicahMcKittrick-MSFT commented on #24853
@jberezanski-mdg I have submitted the PR to update the note :)

Azure allows a total of 65,356 IPs per virtual network. The sum of the number of nodes and the number of container service instances (that are using Open mode) can't exceed 65,356 IPs within a virtual network. For high-density scenarios, we recommend nat networking mode. In addition, other dependencies such as the load balancer will h

[2019-02-26 23:23] #24853 closed

[2019-02-26 23:24] MikeRayMSFT commented on #25381
@daveberm

The [SQL Server Infrastructure as a Service extension](https://blogs.msdn.microsoft.com/sqlserverstorageengine/2018/10/25/sql-server-iaas-extension-query-service-for-sql-server-on-azure-vm/) currently supports one single failover cluster instance. It does not support multiple instances on the same cluster.

You can share more information about your requirements and experience directly w

[2019-02-26 23:24] MikeRayMSFT commented on #25381
#please-close

[2019-02-26 23:26] vladvino commented on #25116
Using send-request or send-request-one-way results in content buffering in many cases and thus leads to higher memory pressure.

[2019-02-26 23:26] vladvino commented on #25116
#please-close

[2019-02-26 23:26] #25381 closed

[2019-02-26 23:26] YoDaMa opened #25796 "eventHubClient has no definition for GetRuntimeInformation().PartitionIds"
In the sample code provided for use Azure Monitor there are errors when using the most recent version of EventHubs for C#, where there is no method GetRuntimeInformation, but there is GetRuntimeInformationAsync()

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27773d69-fdb5-ba10-d488-21448cbe6089
* Version Independent I

[2019-02-26 23:27] diberry commented on #24709
@tulasim88 @YutongTie-MSFT @CeciAc

The conceptual documentation doesn't document APIs. That should be referred to the service team to update the swagger (or whatever their method is).

For the issue about active learning needing manual steps, I'll get that fixed.

As for the information about how many requests have to happen before suggestions appear in the portal, I need guidance on what the doc

[2019-02-26 23:27] SnehaGunda commented on #24652
@mortenf Currently inserts and updates are performed by API calls (using different language specific SDKs, REST APIs). You can only query data using the SQL language.

It's in our road map to add update and insert support for SQL API. You can submit a request in our [user voice](https://feedback.azure.com/forums/263030-azure-cosmos-db) and help us prioritize.

[2019-02-26 23:28] SnehaGunda commented on #24652
We will now close this issue if you have further questions please feel free to reopen.

#please-close

[2019-02-26 23:33] vladvino commented on #24132
@KetanChawda-MSFT you can access the data showed on the Analytic (preview) blade via this API [endpoint](https://docs.microsoft.com/en-us/rest/api/apimanagement/reports). Retention period is one year but it's not being enforced at the moment.

[2019-02-26 23:33] vladvino commented on #24132
#please-close

[2019-02-26 23:39] MicrosoftGuyJFlo commented on #25648
@eygdscybersecurity no there is no option for that.

[2019-02-26 23:40] MarileeTurscak-MSFT commented on #25770
It seems that this might be a bug with the Azure CLI but I'm not certain. https://github.com/Azure/azure-cli/issues/6304

Can you try deleting and recreating the definition?

@rloutlaw and @yugangw-msft , did the bug ever get resolved?

[2019-02-26 23:40] MicrosoftGuyJFlo commented on #25673
#please-close

[2019-02-26 23:40] erikamenezes opened #25798 "Demo on Speaker Recognition API page not working"
The demo on https://azure.microsoft.com/en-us/services/cognitive-services/speaker-recognition/ does not allow you to record the 3 audio samples asked for. The error in the console shows "The AudioContext was not allowed to start. It must be resumed (or created) after a user gesture on the page. https://goo.gl/7K7WLu"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-02-26 23:44] MicrosoftGuyJFlo commented on #24947
#please-close

[2019-02-26 23:44] Mike-Ubezzi-MSFT commented on #25786
@vip32 Thank you for taking the time to point this minor item out. This will be updated and a fix published.

[2019-02-26 23:48] Mike-Ubezzi-MSFT commented on #25786
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-26 23:48] #25786 closed

[2019-02-26 23:53] moiso0496 opened #25799 "Template link going to wrong GitHub Project"
If I click on HTML5 Templates it goes to the B2C-AzureBlobStorage-Client Template

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1e5f7ac-3ad0-e72d-c7b5-5f1db831a24d
* Version Independent ID: 31b00702-06c0-8fad-cd9e-c1cab975e66e
* Content: [Customize the Azure Active Directory B2C user interface (UI) dynamically by usi

[2019-02-27 00:00] vulpescaligo commented on #25363
An old branch has the exe for windows and it works with the project.

https://github.com/Azure/dps-keygen/tree/ota

[2019-02-27 00:03] ScotiaB opened #25802 "JobHostConfiguration needs class documentation"
The JobHostConfiguration class is undocumented.  The "how to" code snippets include this class, but I cannot find any actual documentation for the class.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4500b14-64b4-4d1b-aae3-f0fd4dde85f2
* Version Independent ID: 8fb75741-37b9-b45f-c0ca-9948ddaf1c06
* Content: [How to

[2019-02-27 00:06] KeiroKamioka0000 commented on #25736
@DixitArora-MSFT

Thanks for reply.

Is their are possibility of that logs that already flushed will be deleted when another incoming flush of the logs?

Thanks,

-Keiro

[2019-02-27 00:06] Grace-MacJones-MSFT commented on #25779
Hi @taromielnaz, what type of tags are you trying to add? Are you referring to [Azure resource tags](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-using-tags)? Please, provide us with some more information.

[2019-02-27 00:06] daruizcorrea commented on #25531
Thanks you all.

[2019-02-27 00:13] vikramdadwal commented on #25285
@andrewdmoreno: yes they are.

[2019-02-27 00:13] kazshi commented on #24132
@vladvino One more question from my customer - they run 'List By Request' Reports API and it returns all result but only top 20 result was returned on Requests tab. Is it by design?

[2019-02-27 00:16] #23672 closed

[2019-02-27 00:18] #25116 closed

[2019-02-27 00:20] MarileeTurscak-MSFT commented on #25770
@way2arun I confirmed with the product team and they are still working to fix this bug.

[2019-02-27 00:26] nate-interfaces-emergency-reporting commented on #15164
@vladvino or @mike-unun-msft Also having an issue when trying to set a rate limit on number of calls in a 24 hour (86400 second) period using the following rule:

<rate-limit-by-key counter-key="@(context.Subscription.Id)" renewal-period="86400" calls="10000" />

This is the error received:
"Error in element 'rate-limit-by-key' on line 16, column 10: 'renewal-period' should be equals to or greater

[2019-02-27 00:29] nate-interfaces-emergency-reporting commented on #15164
My apologies, here's the policy attempt that's throwing the error:

[code]

[2019-02-27 00:32] mike-urnun-msft commented on #25795
Hey @odvoskin Thanks for your feedback! We have updated the documentation to show the two as one, and these changes should be live within the next few hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-27 00:32] #25795 closed

[2019-02-27 00:35] aljo-microsoft commented on #25681
@DianeHadley
https://github.com/MicrosoftDocs/azure-docs/pull/25804

@MicahMcKittrick-MSFT
#Please-close

[2019-02-27 00:37] james-hilliard-3 commented on #25477
For anyone searching, here are the full names for Azure Government:

USDoD East	pod01-rec2.ude.backup.windowsazure.us
USDoD Central	pod01-rec2.udc.backup.windowsazure.us
USGov Virginia	pod01-rec2.ugv.backup.windowsazure.us
USGov Texas	pod01-rec2.ugt.backup.windowsazure.us
USGov Arizona	pod01-rec2.uga.backup.windowsazure.us
USGov Iowa	pod01-rec2.ugi.backup.windowsazure.us

[2019-02-27 00:37] dcleblanc opened #25805 "What if I just want a C# app that runs in a VM?"
The documentation for KeyVaultClient constructors has a lot of gaps in it. It doesn't really explain what the various overloads and parameters are actually used for, and it seems like we are trying to use samples - which only exercise one of the constructors - instead of actually documenting them.

For example:
Parameters
credentials
Microsoft.Rest.ServiceClientCredentials
Required. Credentials ne

[2019-02-27 00:38] aschuhardt opened #25806 "Automated installation via PS or .NET API?"
Hello,

Is there any way to automate the process of installing an on-premises data gateway?  The only method that is shown here involves the use of the installer's GUI.

The use-case for this would be that of automatically setting up on-premises data integration without requiring client input.

Thanks!

Addison

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-02-27 00:40] Karishma-Tiwari-MSFT commented on #25564
@vikramdadwal Apologize for the delay on this. Are you still seeing this issue?
Can you please elaborate on the issue you are seeing and provide error messages if any. Thanks :)

[2019-02-27 00:42] prashanthyv commented on #25805
Hi @dcleblanc,

Thanks for the feedback. If you want to run an app that runs on a VM there are tutorials such as this
https://docs.microsoft.com/en-us/azure/key-vault/tutorial-net-windows-virtual-machine
https://docs.microsoft.com/en-us/azure/key-vault/tutorial-net-linux-virtual-machine

[2019-02-27 00:43] aljo-microsoft commented on #25070
@dragav to provide any additional content.

[2019-02-27 00:45] SnehaGunda commented on #25056
@canbilgin thanks for pointing out the issue, I submitted a fix to update the doc. we will now close this issue.

#please-close

[2019-02-27 00:47] Alberto-Vega-MSFT commented on #25659
@alevincenzi  We will now proceed to close this thread. I will raise your question internally to ensure you get help and we will gladly reopen the issue and continue the discussion if needed. Just please tag me on your reply.

[2019-02-27 00:47] #25659 closed

[2019-02-27 00:49] SnehaGunda commented on #23617
@dcbrown16 thanks for pointing out, there shouldn't be any link, it's just plain text. These are now fixed in the live content. We will close the issue now.

#please-close

[2019-02-27 00:49] aljo-microsoft commented on #25323
@DianeHadley
https://github.com/MicrosoftDocs/azure-docs-pr/pull/67869

@jakaruna-MSFT
#please-close

[2019-02-27 00:54] vladvino commented on #23675
Thanks @JasonSowers. I added a second find policy and updated the screenshots.

[2019-02-27 00:56] SnehaGunda commented on #23547
@sm1th thanks for pointing out the issue, the videos made by the doc authors are available in youTube, you can start with part1 here:  https://www.youtube.com/watch?v=OrikuIEIL7g

We decided to not publish them in the docs because they get out dated pretty easily. Hope this helps.

I removed the statement from the doc that says " Check for videos..".  We will now close this issue.

#please-close

[2019-02-27 00:57] vladvino commented on #24132
@kazshi Yes, please use $top and $skip query parameters to page through the data.

[2019-02-27 00:58] dcbrown16 commented on #23617
Thanks @SnehaGunda !

[2019-02-27 00:58] #23617 closed

[2019-02-27 01:00] vladvino commented on #25121
Please assign this issue to @miaojiang.

[2019-02-27 01:02] TravisCragg-MSFT commented on #24221
@jjindrich you were correct, the Linux VMs are not using the proper nameserver. When forcing the lookup on the proper server:

[code]

changing the DNS server in the OS should allow proper resolution to occur

[2019-02-27 01:06] Alberto-Vega-MSFT commented on #25777
@BradyWi Thanks for the feedback I added a PR with the change

[2019-02-27 01:25] kazshi commented on #24132
@vladvino Thank you for the clarification. Closing since I got answers for my (customer's) questions. Thanks.

[2019-02-27 01:25] #24132 closed

[2019-02-27 01:34] robinsh commented on #25088
@KingdomOfEnds Thanks for letting me know. I'll also pass this information on to the PowerBI guys. I'm sure someone has reported it to them, but just in case we all think someone else has reported it to them, I'll report it to them. If you know what I mean. :-)

@AshokPeddakotla-MSFT This issue can be closed.

[2019-02-27 01:36] kazshi commented on #25153
@roiyz-msft Do you have any ETA of providing the latest downloadable file? Thanks.

[2019-02-27 01:38] Alberto-Vega-MSFT commented on #25781
@ppathan Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-27 01:40] Alberto-Vega-MSFT commented on #25784
@PerSwede Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-27 01:43] Alberto-Vega-MSFT commented on #25780
Hi @BradyWi Thanks for the feedback! what version of CLI are you using?

[2019-02-27 01:43] #25681 closed

[2019-02-27 01:45] MicahMcKittrick-MSFT commented on #25793
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-27 01:46] Alberto-Vega-MSFT commented on #25796
@YoDaMa Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-27 01:46] #23547 closed

[2019-02-27 01:46] #23696 closed

[2019-02-27 01:46] #24652 closed

[2019-02-27 01:46] #24947 closed

[2019-02-27 01:46] #25056 closed

[2019-02-27 01:46] #25145 closed

[2019-02-27 01:47] #25238 closed

[2019-02-27 01:47] #25323 closed

[2019-02-27 01:47] #25345 closed

[2019-02-27 01:54] dcleblanc commented on #25805
Thanks, but that doesn’t help me use KeyVaultClient. Documenting the classes with comments explaining how they work would be most helpful.

From: Prashanth Yerramilli <notifications@github.com>
Sent: Tuesday, February 26, 2019 4:42 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: David LeBlanc <dleblanc@exchange.microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [

[2019-02-27 01:55] BradyWi commented on #25780
I’m not sure, I clicked the Try It button in the page and it opened up a side bar with Azure Cloud Shell.  Looks like from this screenshot it’s 2.0?

[cid:image003.png@01D4CDFC.29AA5B30]

From: Alberto Vega <notifications@github.com>
Sent: Tuesday, February 26, 2019 5:44 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Brady Wildermuth <bradyw@microsoft.com>; Mention <mention@no

[2019-02-27 01:57] cynthn commented on #25485
#please-close

[2019-02-27 02:03] dcbrown16 opened #25810 "Commented line"
Is there a reason the last line is commented in the sample?
Get-AzWebAppMetrics should work.
https://docs.microsoft.com/en-us/powershell/module/az.websites/get-azwebappmetrics?view=azps-1.4.0
I'm not sure how to get to the code sample to edit directly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c9f0745-8210-5e90-b

[2019-02-27 02:16] MGoedtel commented on #18842
@w0lverine - Confirmed that the only facilities not supported natively with the agent are - ntp, security, console, and solaris-cron.

[2019-02-27 02:24] PetroAzure commented on #25609
Yes, I am sure the section in my program.cs has the correct values, because the same values worked in my "Parallel file processing - Python" version.

[2019-02-27 02:43] PramodValavala-MSFT commented on #25727
@CastleArg With the Run From Package feature, you shouldn't really be seeing slow startup times.
But this feature is not supported for Azure Functions for Linux yet. Could it be that you are using Linux?

I believe it would be supported for Linux as well in the future and hence the lack of documentation for the webpack approach.

We have assigned this issue to the content author to investigate and

[2019-02-27 02:44] itguysocal opened #25811 "Please Link to Cloud App Security's Certificate Based Authentication"
This approach in this documentation is the OLD way of doing CBA authentication. We really want clients to be pointed to the newer form of doing CBA through Cloud App Security because it is much easier to implement and avoids on-premises dependencies. https://docs.microsoft.com/en-us/cloud-app-security/proxy-intro-aad

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-02-27 02:47] MicrosoftGuyJFlo commented on #25811
Feel free to email me so we can discuss internally. #please-close

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: itguysocal <notifications@github.com>
Sent: Tuesday, February 26, 2019 6:44 PM
To: MicrosoftDocs/azure-docs
Cc: John Flores; Mention
Subject: [MicrosoftDocs/azure-docs] Please Link to Cloud App Security's Certificate Based Authentication (#25811)

Th

[2019-02-27 02:56] scottmcdonald-claritas commented on #25768
@TravisCragg-MSFT Yes, it was the powershell cmdlet:
New-AzVpnClientConfiguration -ResourceGroupName "[resourcegroupname]" -Name "[vnetgatewayname]" -AuthenticationMethod "EapMSChapv2"

[2019-02-27 03:05] vicperdana opened #25812 "Is this the way to establish VPN on top of ExpressRoute?"
It's not clear in the doc, if by establishing S2S VPN over a Microsoft Peering will achieve the intended outcome of securing your ExpressRoute Circuit that links your VNETs (containing your Azure VMs).

Microsoft Peering is responsible for connecting your On-Prem to O365, Dynamics, and PaaS services, where as
Private Peering connects to VNETs

Can you not establish VPN over a private peering to pr

[2019-02-27 03:09] viksingh commented on #6826
Are you able to mention the plug in name please ?

[2019-02-27 03:12] daveberm commented on #25381
MIke,

The SQL Server Infrastructure as a Service extension documentation
<https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-sql-server-agent-extension>
says it "is not supported for SQL Server FCI on Azure"  So I don't think
anyone configuring an FCI will be able to use the SQL Server Infrastructure
as a Service extension, even with just a single FCI ins

[2019-02-27 03:30] #24318 closed

[2019-02-27 03:45] swenyang opened #25813 "Cannot load Service Fabric runtime binaries with version 6.4.637.9590"
Any update about this document? It seems Service Fabric runtime cannot be loaded using version 6.4.637.9590, with or without SFBinaryLoader.cs. Too few documents about containerizing Service Fabric services with Docker.

I saw this issue is also mentioned [here](https://github.com/Azure/service-fabric-issues/issues/723), it says loading Service Fabric runtime fails since runtime 6.2.

I'm trying t

[2019-02-27 03:47] kazshi opened #25814 "OpenJDK Update is supported (included) in RHUI?"
Would be OpenJDK update included in RHUI once RH released OpenJDK update? I got a RHUI related question from my customer and they expect the OpenJDK is included in RHUI - I'd like to make sure since I couldn't find any info about that.  Thanks.

https://access.redhat.com/articles/1299013
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-02-27 03:51] CastleArg commented on #25727
Run From Package is working just fine, the problem is that the package is much larger than it needs to be.
This is what funcpack provides (using webpack) that has not been replace officially anywhere.  Of course people can roll their own webpack config but having a common one that works with required Azure Function folder structure would be nice.
After running funcpack, my package was more than 10

[2019-02-27 03:52] KalyanChanumolu-MSFT commented on #25722
Yes, you are correct.
Databases in Premium and Business Critical service tiers are automatically deployed in a 4 Node cluster - One Primary and three Secondary replicas.

[2019-02-27 03:52] PramodValavala-MSFT commented on #25497
@mikeharder I hope my previous comment clears things up.

Any updates required to the doc would be planned at the time of GA. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-27 03:52] #25497 closed

[2019-02-27 03:52] #25722 closed

[2019-02-27 04:03] CastleArg commented on #19672
I am also using AzureDevops for https://github.com/MicrosoftDocs/azure-docs/issues/25727
I am using javascript however, and it would be great to just be able to drop in a build step to package everything up using webpack.

[2019-02-27 04:04] AshokPeddakotla-MSFT commented on #25088
Thank you all!

[2019-02-27 04:20] jeffhollan commented on #18922
@rloutlaw is this something you would be able to help with?

[2019-02-27 04:21] SubhashVasarapu-MSFT commented on #25424
Hello Rohin,

I have assigned the issue.

Regards,
Subhash.V

From: Rohin Koul <notifications@github.com>
Sent: Monday, February 25, 2019 10:34 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Subhash Vasarapu <Subhash.Vasarapu@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Gateway IP is missing when DNS settings are updated in VM (#

[2019-02-27 04:21] AshokPeddakotla-MSFT commented on #23678
@nathanael-joseph We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-27 04:21] #23678 closed

[2019-02-27 04:22] AshokPeddakotla-MSFT commented on #24629
@dcbrown16 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-27 04:22] #24629 closed

[2019-02-27 04:23] raghavan20 commented on #23584
I was talking mainly about debugging / getting runtime state of Edge modules. I was asking about module twin size which is related to how longer messages affect the function of reported properties.

If you want to create a new ticket, I could do that. Please let know where it should be created?

[2019-02-27 04:24] AshokPeddakotla-MSFT commented on #25485
@mihammer We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-27 04:24] #25485 closed

[2019-02-27 04:27] AshokPeddakotla-MSFT commented on #25673
@Steltek We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-27 04:27] #25673 closed

[2019-02-27 04:30] kpvnreddy commented on #9848
@divyaswarnkar, the plus filter is not working as expected. Please suggest.
mapping code,
{
"index":{{ 1 | plus: 5 }},
}
Result:
{
"index":1,
}

[2019-02-27 04:31] kspoojary commented on #23923
Any update on this?

[2019-02-27 04:31] RohitMungi-MSFT commented on #25798
@erikamenezes Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-02-27 04:35] j-martens commented on #9510
#please-close

[2019-02-27 04:37] SadiqhAhmed-MSFT commented on #25663
@Nitinkumar2206 i hope Mayuri's post answered your question. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-27 04:37] #25663 closed

[2019-02-27 04:38] jakaruna-MSFT commented on #25019
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-02-27 04:38] #25019 closed

[2019-02-27 04:38] AshokPeddakotla-MSFT commented on #25783
@smoms Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-27 04:52] msrini-MSIT commented on #25814
Thank you for posting here. I will investigate and update this thread.

[2019-02-27 04:54] rolyon commented on #25594
Hi @dlyall-maine
The following article lists the operations that are available to create custom roles for Azure resources. I don't know exactly which ones could be used with Cosmos DB.
https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations
Currently, there are two Cosmos-related built-in roles, but these apply only to the management plane:
https://docs.micros

[2019-02-27 04:55] jakaruna-MSFT commented on #25813
@swenyang Thanks for your question.  We are checking it and we will update you shortly.

[2019-02-27 05:01] msrini-MSIT commented on #25814
Assigning this to Author, to answer your questions.

[2019-02-27 05:13] sgupadya commented on #25751
I'm using [How to use Azure Maps Android SDK](https://docs.microsoft.com/en-us/azure/azure-maps/how-to-use-android-map-control-library)

[2019-02-27 05:16] CHEEKATLAPRADEEP-MSFT commented on #25806
@aschuhardt Currently, there is no automated way to deploy a gateway.
I would suggest you to vote up an idea submitted by another Azure customer.
https://feedback.azure.com/forums/556165-azure-analysis-services/suggestions/33696976-automate-on-premise-gateway-installation
All of the feedback you share in these forums will be monitored and reviewed by the Microsoft engineering teams responsible for

[2019-02-27 05:16] CHEEKATLAPRADEEP-MSFT commented on #25806
Duplicate of #13533

[2019-02-27 05:18] CHEEKATLAPRADEEP-MSFT commented on #25806
@aschuhardt We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-27 05:18] #25806 closed

[2019-02-27 05:23] vinynigam commented on #25079
Performance Monitor is agent based monitoring. You need to install agents at the source and the destination. For Service Connectivity Monitor, you need to install agents only at the source, the endpoint can be any target URL (can be IP etc, SQL server etc)

[2019-02-27 05:27] SumanthMarigowda-MSFT commented on #25311
@msLinuxNinja Thanks for the input. Since you are on an internal email thread about this, we will close the GitHub issue and use the email thread instead. The docs will be updated once our email discussion is completed. Thanks!"

[2019-02-27 05:27] #25311 closed

[2019-02-27 05:27] roiyz commented on #25153
This will be fixed in the next few days. Thanks for alerting us on this issue.

[2019-02-27 05:27] SubhashVasarapu-MSFT commented on #25719
@shiniizuka ,Adding @vhorne  for visibility + doc enhancement considerations.

[2019-02-27 05:29] SumanthMarigowda-MSFT commented on #25313
@msLinuxNinja  Thanks for the input. Since you are on an internal email thread about this, we will close the GitHub issue and use the email thread instead. The docs will be updated once our email discussion is completed. Thanks!"

[2019-02-27 05:29] #25313 closed

[2019-02-27 05:31] kazshi commented on #25153
@roiyz-msft  Thanks for your comment. I'll update my customer and ask them to wait until next week. Thanks.

[2019-02-27 05:35] BrandonPoach opened #25817 "Failed to invoke method 'SetTelemetryInterval': Not found"
My back end application keeps having this error. Any way to fix it?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0c550f7-328c-7d5d-0594-e0bb7ac9cb7a
* Version Independent ID: ce2d86b7-e3ca-a7c9-9fef-43631f6f7fdb
* Content: [Control a device from Azure IoT Hub quickstart (Node.js)](https://docs.microsoft.com/en-au/az

[2019-02-27 05:38] Nitinkumar2206 commented on #25663
Great thanks , had to do a bit of clean up . But it worked !! .

[2019-02-27 05:43] PramodValavala-MSFT commented on #25727
@CastleArg Run From Package solves the core issue which is loading separate files from the file system by loading the package (basically the zip file) into memory as a whole and mounting it as a virtual file system. This is explained at the top of the README in the [azure-functions-pack repo](https://github.com/Azure/azure-functions-pack) as well.

That being said, I believe with a significantly l

[2019-02-27 05:44] kobulloc-MSFT commented on #25605
@Leon99 After reviewing this, we'd like to make sure that you are actually running into the core count issue (which would be a less likely scenario for a new subscription).

- In the portal, navigate to (or search for) **Subscriptions**
- Click on your subscription
- Click on **Usage + quotas**
- Select **Total Regional vCPUs** from the **All service quotas** dropdown
- Look for any listings that

[2019-02-27 05:44] ManojReddy-MSFT commented on #25136
@GlennMillerNZ We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-02-27 05:44] #25136 closed

[2019-02-27 05:50] YASWANTHM-MSFT commented on #25671
@opticyclic, you can find the information in Azure portal as shown below.
Storage account name: If you created the storage account, you can get the details of storage account in the Azure portal as shown below.
<img width="951" alt="stg1" src="https://user-images.githubusercontent.com/44457111/53468665-2b1ca300-3a81-11e9-9fa8-d69726a6e067.PNG">

Storage account key : You can get the key of storage

[2019-02-27 05:58] sdgilley commented on #24894
To minimize the chance for confusion, our tutorials provide one path to accomplish the task, so we can’t add alternatives. But we are glad you got unblocked in the meantime.

As a general practice, we discourage the use of personal information inside your code, especially if you will be checking it into a public repository.  Using a configuration file and `Workspace.from_config()` is a more secure

[2019-02-27 05:59] SnehaAgrawal-MSFT commented on #25810
Thanks for the question! We are investigating and will update you shortly.

[2019-02-27 06:01] shashishailaj commented on #25799
@moiso0496 Thank you for your query . We will have the link checked and update the thread accordingly.

[2019-02-27 06:19] elenanakhmanson opened #25820 "End-user experience"
I think it needs to be mentioned that when the rule is processed, any users who were added to the dynamic group will receive a welcome email saying that they have joined a group. So a caution should be made if this is not intended.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24c25353-cfb3-811c-a970-2a04678eff6e
* Ve

[2019-02-27 06:21] DixitArora-MSFT commented on #25736
@KeiroKamioka0000 It keeps on overwrites the logs.

When the Functions host starts, it overwrites the existing file structure in the directory

[2019-02-27 06:23] KeiroKamioka0000 commented on #25736
Thanks!

[2019-02-27 06:23] #25736 closed

[2019-02-27 06:24] dcbrown16 opened #25821 "Diagnostic settings"
Are there plans to update this document to include the diagnostic settings that appear to be available currently?
Explaining the PeeringRouteLog and AllMetrics options and where you can route them would be useful, along with a screenshot.
This is particularly true for ExpressRoute since the nature of the resource makes it difficult to spin a working one up quickly.

---
#### Document Details

⚠ *D

[2019-02-27 06:34] jakaruna-MSFT commented on #25813
@aljo-microsoft  Please provide your comments

[2019-02-27 06:37] jjindrich commented on #24221
Ok, we are on same page. I don't want to change DNS nameserver manually. I works on previous Ubuntu versions automatically.

[2019-02-27 06:37] andrewatfornax opened #25822 "Broken Link"
Link after "Connect to Azure SQL Database V12 via Redirection" is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fb994ad-e2aa-f7a9-6472-749d257639ae
* Version Independent ID: 7f128e8b-8698-08ab-4d2e-47c4d6f60e1a
* Content: [Ports beyond 1433 for SQL Database](https://docs.microsoft.com/en-us/azure/sql-database

[2019-02-27 06:40] BharathNimmala-MSFT commented on #25049
@GroofyIT Sorry for the experience you are having. 404 deployment not found error might be confusing, we would need more details around your scenario and what exactly you are trying to do. If possible share the exact steps or scripts you are trying to execute and facing this error.

Please send an email to AzCommunity@microsoft.com  with your Subscription details, scneario, steps involved, code sn

[2019-02-27 06:46] kazshi opened #25823 "'Configure the Primary DNS Suffix for a Client Computer' link"
Is the following page (link from 'user interface' in 'Windows clients' section) still valid for the content?

Configure the Primary DNS Suffix for a Client Computer | Microsoft Docs
https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2008-R2-and-2008/cc794784(v=ws.10)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2019-02-27 06:47] erndob commented on #24866
I messed up because the storage API is quite different from the other, json based, apis.
Some info for people, if they Bing this:

- Keep in mind that at the moment, only blob storage and queue storage is supported, so the "storage" audience can be misleading.
- API version is passed as a header, not a query parameter.
- If you need the date header, to get the correct format in the logic apps use

[2019-02-27 06:48] sdgilley commented on #16646
@YutongTie-MSFT  - you say you cannot reproduce the same result - can you tell me what result you get instead?

[2019-02-27 07:00] KetanChawda-MSFT commented on #24866
@erndob Thanks for posting the solution. Appreciate your effort.

[2019-02-27 07:11] emilkontract commented on #24784
So if you only use this code:
"settings": {
"RegistrationUrl" : ""
"NodeConfigurationName":""

 this works for you?

I had to add "configurationArguments" in order to get the code to work.

[2019-02-27 07:14] angoyal-msft commented on #25822
@andrewatfornax Thanks for you valuable feedback. I have assigned this issue to content author to look into this issue and do appropriate updates in the document.
@MightyPen Could you please look at this issue. The URL provided with "Connect to Azure SQL Database V12 via Redirection" doesn't seem to be correct.

[2019-02-27 07:18] wesselah commented on #25363
Thanks will be looking into it today

[2019-02-27 07:23] lightupdifire commented on #25341
@jaszperez @SaurabhSharma-MSFT
Our setup use multiple connectors, our setup is already set, that WEB server and AAP server are in same Data center, same VM cluster, so network and servers location are as much as possible close to each other, looking eye to eye :)

Question is if AAP has any limitation in network capacity, like what could be the maximum throughput, does it limit, yes or no, and if

[2019-02-27 07:30] ManojReddy-MSFT commented on #25698
@glennsills Thanks for reporting this. "Example Password" should ideally refer to the secret name. The secret gets created when you create the SAS definitionand the secret name will be in te foramt "storageaccountname-SASdefintionname" and that should  be used in the SecretUri.

I will work with the author to update the doc with this information.

[2019-02-27 07:34] mimig1 commented on #25344
@Grace-MacJones-MSFT - Are you still investigating this?

[2019-02-27 07:41] shashishailaj commented on #25684
@brianesb Thank you for your feedback . We checked this and you are correct . the extension is available only for Visual studio 2017 Update 5 i.e. (v15.5 ) . For versions after 15.5 the extension comes bundled within the product . Though it may not be installed by default . You would need to install by selecting azure development tools/ASPNet or .net core cross-platform tools within VS installer .

[2019-02-27 07:51] amandadebler commented on #25771
Isn't the routing table necessary for integration with our on-prem network to function?

[2019-02-27 07:52] RohitMungi-MSFT commented on #25638
@Souvik04 Here is a [github repo](https://github.com/Microsoft/BotBuilder-Samples/tree/master/experimental/csharp_dotnetcore/qnamaker-activelearning-bot) which simulates active learning for a test bot. I was able to follow the steps and get some suggestions for sample queries, screen shot below.
![image](https://user-images.githubusercontent.com/46958063/53471614-4ab8c900-3a8b-11e9-984d-ec6ba0d816

[2019-02-27 07:52] CasperZBang commented on #14684
I have the same concern.
For each Document we would have multiple messages, that needs to be individually handled in sequence.
Therefore the SessionId would equal the DocumentId, of which there are millions every year.

Will we run into problems when we a few years in the future have millions of different SessionIds used, where most of them are old and empty and will NEVER have new messages pushed

[2019-02-27 07:54] shashishailaj commented on #25684
@brianesb The pull request has been initiated and its under review . Once review and approval process is complete it will be merged and the issue will be closed. Should you have any further queries, feel free to let us know.
thank you.

[2019-02-27 07:54] PetroAzure commented on #25609
I can get the mp3 now, but I found a more serious problem, that's unstable:
I only get the correct running results once in a while, and if I run 10 times, then only 2 times I get the mp3 files, and the remaining 8 times the same error "The job container 'job-winffmpegjob', does not exist in your linked storage account."

[2019-02-27 08:08] knssub opened #25826 "Removal of OMS References"
Please plan to remove references of OMS from the architecture guidance. Creates confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5219528-fc64-7b32-27b3-96118a2a89ef
* Version Independent ID: 706d224a-b728-f5c8-a228-7c540f7c53c3
* Content: [Azure Security and Compliance Blueprint - IaaS Web Application for Fed

[2019-02-27 08:08] adoelger commented on #25756
Yes, but the configuration parameter "autovacuum_max_workers" cannot be configured per table. As far as I understand it is a server configuration parameter and it is not available in the server parameter blade of the Azure portal. So I see no way to increase the number of parallel autovacuum workers.

[2019-02-27 08:18] juchom opened #25828 "Environment parameters in adf_publish"
I've followed the doc and have everything working with Dev env / Git integration.

I've probably missed something, but I don't have a test / prod environment parameters files.

How do you add them to the adf_publish branch?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e22e4d6-366f-fbf8-e141-8905ca7ab7ae
* Version In

[2019-02-27 08:24] AjayKumar-MSFT commented on #25802
@ScotiaB, Thanks for your feedback on this item! We are investigating and will update you shortly.

[2019-02-27 08:28] OffColour commented on #23128
@mgreenegit I'm just testing that out now. As the page doesn't reference this setting, I took the ones listed as being the definitive list of what's available.
Is there anywhere that documents the full set of options? Like much Azure documentation, I can find lots of example implementations, but the definitive reference information is often lacking, particularly for extensions.

[2019-02-27 08:32] OffColour commented on #23128
On a related note, if the extension fails on that first run, it appears to be impossible to fix without uninstalling.
In my scenario, I install it using Terraform, first run fails, the extension remains installed, but reports failure to Terraform. Any subsequent run of Terraform to install the extension continues to fail even when there is a valid node configuration in place as it always reports t

[2019-02-27 08:57] jelmerS2 opened #25829 "Internal server error"
I followed the previous tutorial successfully (Sharing in Unity). But here, setting up the database and making the changes as indicated and deploying to a new app (also when replacing the app from the previous tutorial), I simply get an "Internal Server Error" + "An error occurred while starting the application."
http://holoshare2.azurewebsites.net

---
#### Document Details

⚠ *Do not edit this s

[2019-02-27 09:08] kpvnreddy opened #25830 "Plus filter is not working as expected using Liquid map in logic app"
@divyaswarnkar, the plus filter is not working as expected using Liquid map in logic app. Please suggest.
mapping code:
{
"index":{{ 1 | plus: 5 }},
}
Result:
{
"index":1,
}

[2019-02-27 09:13] jelmerS2 opened #25831 "Use of ARFoundation for both Android and iOS instead of ARCore/ARKit plugin"
Unity's has created ARFoundation for creating cross platform mobile AR apps, which makes it easier for developers to do so. However, in this series of tutorials, the underlying UnityARKitplugin and ARCORE plugin are used instead. It would be great if either: Spatial Anchors was not depending on one or another underlying AR framework, or that ARFoundation was supported. https://blogs.unity3d.com/20

[2019-02-27 09:16] Leon99 commented on #25605
My usage there is 1 of 4. Emailed.

[2019-02-27 09:25] Grace-MacJones-MSFT commented on #25750
@jamesgarner-me  I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-27 09:27] shashishailaj commented on #25782
@ycedillos Thank you for your feedback . We will investigate an update this thread.

[2019-02-27 09:33] zhongsp commented on #24917
Is this feature production ready now?  I'm using B2C recommended "Sign up and sign in" user flow. Thanks.

[2019-02-27 09:38] grimurjonsson commented on #25793
Can you provide the json content you used? The error message says "The resource type could not be found" so it looks like the type is wrong and not the api-version.

[2019-02-27 09:39] shashishailaj commented on #25811
@itguysocal Please get in touch over email with John ( joflore [at] ms [.] (com)) for further discussion over this.

Closing as per author comments.

[2019-02-27 09:39] #25811 closed

[2019-02-27 09:43] shashishailaj commented on #25826
@knssub Thank you for your feedback on this. We will have this reviewed internally and get it updated as needed.

[2019-02-27 09:44] shashishailaj commented on #25826
@jomolesk Could you please have this reviewed and get the document updated as necessary .

Thank you .

[2019-02-27 09:47] DashleenBhandari-MSFT commented on #25240
@abhishek-kumar-mishra please restart Azure Hybrid Connection Manager Service and test again.
Please let me know the results.

[2019-02-27 09:49] shashishailaj commented on #25820
@elenanakhmanson Thank you for your feedback . We will investigate and update this thread accordingly.

[2019-02-27 09:52] sameh-sharaf opened #25833 "Typo in documentation note"
Hi,
The grammar structure of the first note in this documentation is not cohesive:

"If you enables "Allow trusted Microsoft services to access this storage account" option on Azure Storage firewall settings, using Azure Integration Runtime to connect to Blob storage will fail with forbidden error, as ADF are not treated as trusted Microsoft service. Please use Self-hosted Integration Runtime as c

[2019-02-27 09:57] AshokPeddakotla-MSFT commented on #25817
@BrandonPoach Thanks for the feedback! Can you provide more details about the issue? When are you getting this error message?

[2019-02-27 09:59] VitorX opened #25834 "Not able to get the connection string for the device id"
The command to get the connection string the the IoT hub works well but it failed after added the device id.

Below works:
az iot hub show-connection-string -n xxx

Below failed
az iot hub show-connection-string -n xxx --device-id xxxx

Error:

az : ERROR: az: error: unrecognized arguments: --device-id MyDevice
At line:1 char:1
+ az iot hub show-connection-string -n freeiothubcsswx --device-id MyD

[2019-02-27 10:00] DashleenBhandari-MSFT commented on #25739
@cephalin Request you to please check the document.

[2019-02-27 10:10] Grace-MacJones-MSFT commented on #25247
@GuyHarwood thanks for your patience. The Key Vault references preview applies to all flavors of App Service where system-assigned identities are supported, so you should be able to use `@Microsoft.KeyVault({item})` feature. You can view this [doc](https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity
) to learn more about system-assigned identity

We will now proceed to clo

[2019-02-27 10:10] #25247 closed

[2019-02-27 10:12] brianmair opened #25835 "Need a way to suppress welcome email to guest users"
This is a great feature, but I needed to create a dynamic group for guest users, without having a welcome-email sent to the group members. The welcome email listed all the names of the members of the group, which is certainly not appropriate for guest users - which in my case included customers. There absolutely needs to be an option to suppress the welcome email.

---
#### Document Details

⚠ *Do

[2019-02-27 10:15] FredRan opened #25836 "the pointer to "A complete no-code experience to create a FAQ bot" is to an Azure Bot Service V3 sample"
docs point to https://docs.microsoft.com/en-us/azure/cognitive-services/QnAMaker/tutorials/create-qna-bot and should be pointing to an updated V4 sample available at https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-qna?view=azure-bot-service-4.0&tabs=cs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-02-27 10:16] MightyPen commented on #25822
#please-close

Thank you @andrewatfornax . This Issue 25822 is being fixed by PR 25827.

[2019-02-27 10:17] MightyPen commented on #25822
@PRMerger15 Hi,

#please-close

[2019-02-27 10:18] #25822 closed

[2019-02-27 10:22] KrishnaG-MSFT commented on #25530
@PaulSells I have tested the templates deployment successfully (by removing scheduledQueryRules resource because deployments were getting timed out when having scheduledQueryRules resource in the template) and unexpectedly was able to see the action group being set in both the instances. If you are able to successfully create metric alert but not able to see action group being set, then interestin

[2019-02-27 10:22] dominicbetts commented on #25780
Hi @BradyWi - it looks like you didn't run the first command on the page:

`az extension add --name azure-cli-iot-ext`

If you install the extension (which is required for some of the other commands on the page), it modifies the parameter name, so `az iot hub show-connection-string --hub-name YourIoTHubName --output table` is correct.

Thanks, Dominic

[2019-02-27 10:23] KrishnaG-MSFT commented on #25530
Assigning to content owner for deeper review.

[2019-02-27 10:29] Grace-MacJones-MSFT commented on #24633
Hi @charlbury, you can follow the steps in this [doc](https://docs.microsoft.com/en-us/azure/storage/files/storage-troubleshoot-linux-file-connection-problems#cannot-create-symbolic-links---ln-failed-to-create-symbolic-link-t-operation-not-supported) to create symlinks

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We w

[2019-02-27 10:29] #24633 closed

[2019-02-27 10:35] RohitMungi-MSFT commented on #25734
@sanjeev3 Thanks for sharing the inputs.
@v-maroge Please go through the links provided above for API's of video moderation.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-27 10:35] #25734 closed

[2019-02-27 10:36] sshradha commented on #24709
Hi @CeciAc
I am also interested in QnA Maker's Train API feature, in fact I would like to implement it in our Production Bot's QnA Maker KB.
But there are few queries which are not clear to me related to Train API:

1.	Is there any Train API here -->  https://westus.dev.cognitive.microsoft.com/docs/services/5a93fcf85b4ccd136866eb37/operations/5ac266295b4ccd1554da75ff  . I cant find it.

2.	I am in

[2019-02-27 10:38] robert4os opened #25837 "Figure shows no correlation"
Example 2: A regression model with high accuracy in its predictions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9190938a-63d6-5b03-ff00-9bc3bf31e27f
* Version Independent ID: 6e9f9c7d-69c3-0a20-f94f-710771255ec6
* Content: [Track experiments & training metrics - Azure Machine Learning service](https://docs.microsoft

[2019-02-27 10:52] RohitMungi-MSFT commented on #25836
@FredRan Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-02-27 10:59] SadiqhAhmed-MSFT commented on #25650
@imeya Using operating system audit events ([Logon](https://docs.microsoft.com/en-us/windows/security/threat-protection/auditing/audit-logon)/[Logoff](https://docs.microsoft.com/en-us/windows/security/threat-protection/auditing/audit-logoff)) you can write a log analytics query to generate alerts.

[2019-02-27 11:02] DClark-Landmark commented on #25639
I have the same problem, do I need specific permissions on the attached subscription? ... this is part of a Company subscription so I am not an admin

[2019-02-27 11:03] SadiqhAhmed-MSFT commented on #25664
@anas1986 The ideal scenario is, you should have taken a system state backup and then tried system state recovery on an alternate VM.

[2019-02-27 11:03] SINIKI opened #25838 "Outdated document."
Screenshots and information do not match the current UI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a564ccd6-2523-9ade-e002-f79d5c6deeaf
* Version Independent ID: e099ba5d-60af-22b7-46e7-8054e707d5bf
* Content: [Manage protocols and ciphers in Azure API Management](https://docs.microsoft.com/en-us/azure/api-managem

[2019-02-27 11:11] sergaz-msft commented on #25343
@marcuslang
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-27 11:11] #25343 closed

[2019-02-27 11:22] ChiragMishra-MSFT commented on #25833
@sameh-sharaf Thanks for bringing this to our notice. We are reviewing it and will update the doc as appropriate.

[2019-02-27 11:23] ChiragMishra-MSFT commented on #25828
@juchom Thanks for trying out ADF. We are investigating into the issue and will update you shortly.

[2019-02-27 11:36] SumanthMarigowda-MSFT commented on #25755
@SRGOM You may use this email id azurefiles@microsoft.com and Doc will be update very soon.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-27 11:36] #9468 closed

[2019-02-27 11:37] marcuslang commented on #25343
@olivierbloch Thanks for your hint with the iot hub metrics, I'll try that.

[2019-02-27 11:38] sergaz-msft commented on #9466
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-27 11:38] #9466 closed

[2019-02-27 11:39] sergaz-msft commented on #8884
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-27 11:39] #8884 closed

[2019-02-27 11:40] sergaz-msft commented on #8869
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-27 11:40] #8869 closed

[2019-02-27 11:40] sergaz-msft commented on #8879
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-27 11:40] #8879 closed

[2019-02-27 11:42] sergaz-msft commented on #22372
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-27 11:42] #22372 closed

[2019-02-27 11:42] sergaz-msft commented on #8816
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-27 11:42] #8816 closed

[2019-02-27 11:44] TWolverson opened #25840 "In the listAccountSas function, where the target resource has several access policies, how does it know which key name and key to use?"
A SAS token incorporates the key name and the key corresponding to that name. Many resources secured by SAS have several policies, with each key possibly granting different permissions. When using the listAccountSas function, please explain in the documentation how the function determines which of these multiple keys is used to generate the token.

---
#### Document Details

⚠ *Do not edit this se

[2019-02-27 11:46] SnehaAgrawal-MSFT commented on #25810
Just want to ask if you are using below command as mentioned in the document?
**Get-AzWebAppMetrics -ResourceGroupName $ResourceGroupName -Name $AppName -Metrics**

Do any Error you are getting? Kindly share a screenshot after concealing any private details.

[2019-02-27 11:50] glennsills commented on #25698
@ManojReddy-MSFT Thanks Manoj. After a bit of poking around I discovered the format by listing the SAS definitions in the key vault - it lists the URIs in the result.  It might be useful to add that command to the article as well.

[2019-02-27 11:52] GuyHarwood commented on #25247
@Grace-MacJones-MSFT We have tried this out today and noticed that it forces a port change to 8081 when using web app for containers.  Is this expected?

[2019-02-27 11:58] OffColour commented on #23128
@mgreenegit You, sir, are an absolute star! I've now got it working exactly the way I want it to!
Because the creation of a config and its compilation is a two stage process, this isn't supported on Terraform (and possible never will be in a way that works for everyone), so being able to do it this way is perfect.

If you can get the documentation updated to show this and any other available optio

[2019-02-27 12:02] sergaz-msft commented on #23411
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-27 12:02] #23411 closed

[2019-02-27 12:31] sergaz-msft commented on #23167
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-27 12:31] #23167 closed

[2019-02-27 12:44] ohadschn opened #25841 "SharedAccessSignatureTokenProvider.GetSharedAccessSignature - URI type"
First, it's not clear that `resource` in the function's signature is what the docs refer to as `URI`
Second, the URI format is missing the `https` prefix: //&lt;NAMESPACE&gt;.servicebus.windows.net/&lt;EVENT_HUB_NAME&gt;/publishers/&lt;PUBLISHER_NAME&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dd8dd33-533a-705b

[2019-02-27 12:51] sergaz-msft commented on #25834
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-27 12:51] akhil-yalagonda opened #25842 "Cannot find Containers under BLOB SERVICE"
I have followed the steps described above. I am not able to see the Containers under BLOB SERVICE which you have mentioned in Step 5 and point 4 in my Azure account portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbb716b8-84da-2f21-2ef6-36a49ae2001f
* Version Independent ID: 8812ded6-3f56-737e-5aef-a33fcb908ba1

[2019-02-27 12:52] PramodValavala-MSFT commented on #25838
@SINIKI Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-02-27 12:55] olavt opened #25843 "502 Bad Gateway with Azure AD Authentication"
The procedure described in the article works ok for a simple web application just using https instead of http. But, I have tested this with an application using Azure AD Authentication (using an organization account) and this results in the following error (after Azure AD successfully authenticated the user):

502 Bad Gateway
nginx/1.15.8

---
#### Document Details

⚠ *Do not edit this section. It

[2019-02-27 12:59] gouthamb opened #25844 "Does Conditional Access Support a WPF Desktop Application?"
Is MFA via Conditional Access supported for WPF dektop application. I've implemented the sample provided below but I'm unable to enforce MFA for users logging into the desktop application.

https://github.com/Azure-Samples/active-directory-dotnet-native-desktop

Clarity on this would be much appreciated!

[2019-02-27 13:27] haoxin opened #25845 "There is no HTTPStart, you need to add by yourself"
you have to add a Httpstart as follow:
       [FunctionName("BackupSiteContent")]
        public static async Task&lt;HttpResponseMessage&gt; HttpStart(
          [HttpTrigger(AuthorizationLevel.Anonymous, "get", "post")]HttpRequestMessage req,
          [OrchestrationClient]DurableOrchestrationClient starter,
         ILogger log)
        {
            // Function input comes from the request con

[2019-02-27 13:36] OffColour commented on #23128
@mgreenegit It seems it is on that page (my mistake), but it doesn't explain its behaviour very clearly which is why I never considered it:
"Enables the DSC Extension to update and enact DSC configurations when the refresh mode is Pull." doesn't give the impression that setting it to false will prevent it running during install.

[2019-02-27 13:45] opticyclic commented on #25671
The main point is that the documentation page doesn't provide enough info as is and needs enhancing.

The next point is that I am on a corporate directory and the storage and Cloud Shell was set up for me.
When I go to the "Storage Account" section there are 10 different storage accounts.
How do I know which one I am supposed to select?

The command I gave in the original post helps clarify this.

[2019-02-27 13:50] byatis commented on #25639
I might have had two different subscriptions. I solved this by creating this again, so it's not actually a solution but was enough for me. I don't have the original solution anymore so I can't check anymore. :(

[2019-02-27 13:56] iMicknl commented on #24709
Besides that the documentation and API reference isn't complete yet, I am also hitting the issue where suggestions aren't showing up in the qnamaker.ai portal. The API response is a status 204, but nothing shows up in the portal.

[2019-02-27 13:56] iMicknl commented on #25638
Related issue #24709. Suggestions are not showing up in the QnaMaker portal.

[2019-02-27 14:06] sergaz-msft commented on #18545
@SQLDataSide can you open a new issue? I will proceed and close this one since I believe the initial issue was addressed. Thanks!

[2019-02-27 14:06] #18545 closed

[2019-02-27 14:12] sergaz-msft commented on #17737
@michaeljqzq can you confirm if we have made any progress on solving this issue and give some hints to @iAmoric ? Thanks.

[2019-02-27 14:15] SubhashVasarapu-MSFT commented on #25812
@vicperdana , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-02-27 14:17] SubhashVasarapu-MSFT commented on #25821
@dcbrown16 , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-02-27 14:18] sergaz-msft commented on #19079
@mgrontzki can you file a new issue here and ask for that?
https://github.com/Azure/azure-iot-sdk-node/issues

Thanks!

[2019-02-27 14:18] SubhashVasarapu-MSFT commented on #25823
@kazshi , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-02-27 14:20] SubhashVasarapu-MSFT commented on #25842
@akhil-yalagonda , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-02-27 14:24] sergaz-msft commented on #21449
@SeaDude tha path paremeter is there again. Did you test it? I believe the fix was deployed, please confirm.

Thanks!

[2019-02-27 14:27] sergaz-msft commented on #18149
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-27 14:27] #18149 closed

[2019-02-27 14:27] hansmbakker commented on #24709
@iMicknl for me they usually do show up after some time, but it is unclear whether they take a certain time to appear (is there some background job that runs periodically? or does it just take some time to process?), or whether the same train call needs to be made several times (as the google cache result suggests).

[2019-02-27 14:28] SumanthMarigowda-MSFT commented on #25607
@Morishiri May I know the scenario that requires this? Is the CDN endpoint locked down is ways that would be circumvented by direct access to the storage endpoint? Would supporting OAuth or SAS access on the web endpoint address this issue?

[2019-02-27 14:32] Teodelas opened #25847 "Troubleshooting connectivity"
Hi.  Please include steps to troubleshoot the new VNet integration.  As an example, I found that the kudu console works and tcpping &lt;privateip&gt;:&lt;port&gt; will show success.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a98803-1438-b1b5-f543-7dd88bc4294e
* Version Independent ID: 37ff1d0f-ed8e-5e4d-1f4c-1b9f

[2019-02-27 14:36] SQLDataSide opened #25848 "Inner Function not getting created"
When deploying to the AZURE i get a very very long error that i can not copy, part of the the error is...
C:\...\...\...\Microsoft.Net.SDK.Function.Build.targeta(41,5): error it was not possible to find compatible framework version.

Other errors like ......
Microsoft.NETCore.App Version 2.1.0 was not found

can some one hint or help, thanks
Nik

---
#### Document Details

⚠ *Do not edit this sect

[2019-02-27 14:39] iMicknl commented on #24709
@hansmbakker you are right, after +1 hour it did show up in my QnAMaker. Documentation on this field would be really helpful.

I believe the article you mentioned from Google Cache is for the old QnAMaker version (3), where active learning wasn't built with suggestions, but directly after x people gave the same feedback.

[2019-02-27 14:44] mgreenegit commented on #23128
@OffColour you are  absolutely right.  I just submitted the following text to replace what was there in the table.

This setting is designed to enhance the experience of working with the extension to register nodes  with Azure Automation DSC.  If the value is `$true`, the extension will wait for the first run of the configuration pulled from the service before returning success/failure.  If the va

[2019-02-27 14:45] anas1986 commented on #25664
Hi Sadiq,

I took a system state backup and I am restoring to a VM on the exact same hardware. The issue I faced was a bit strange, as when I tried to restore it asked me to copy the files to a network location and it completed successfully but when I went to the newly created VM to restore the files they were not detected. I copied the files locally and tried to choose local location and they wer

[2019-02-27 14:50] SaurabhSharma-MSFT commented on #25619
@sowsan We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-27 14:50] #25619 closed

[2019-02-27 14:58] WilliamRoyNelson opened #25849 "Documentation: First example of score calculation has incorrect math."
The line reading "[contoso] + [blank] = [1] + [2] = 4 points Since this password is under 5 points, it will be rejected."
should probably read "[contoso] + [blank] + [1] + [2] = 4 points Since this password is under 5 points, it will be rejected."
Please replace the first equals sign with a plus sign.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-02-27 14:58] AndyCW commented on #24847
Thanks . looks good!

[2019-02-27 14:58] #24847 closed

[2019-02-27 15:00] vgorbenko commented on #25566
The ability to add multiple resources without repeating a step of adding metric is planned. We will update docs when this becomes possible.

[2019-02-27 15:06] SaurabhSharma-MSFT commented on #25740
@WayneYangsa @desimone Thanks for pointing this out.  I believe group claims appear in id_token and not in access token and so I have assigned this issue to content author to investigate and update the document as appropriate.
@CelesteDG can you please update [access_token](https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens) and [id_token](https://docs.microsoft.com/en-u

[2019-02-27 15:13] bremnes commented on #22599
Any updates on this issue? The date in the top of the article still reads "11/06/2017" which would lead me to believe it's outdated compared to the Jan '19 blog announcement as referred earlier.

[2019-02-27 15:13] OffColour commented on #23128
@mgreenegit Suggestion to emphasise the "not running" aspect rather than just the meaning of the returned value.

If the value is set to `$false`, the status returned by the extension will only refer to whether the node was registered with Azure Automation State Configuration successfully and the node configuration will not be run during the registration.

[2019-02-27 15:16] jloughlinMSFT commented on #25785
This is a disappointing response.  I think the value of being able to produce a custom translator is significant but it  will be hidden from people who would otherwise be interested but don’t happen to have parallel texts readily available.  For my own purposes, I would like to demonstrate this feature for a Microsoft customer.   Can you please send a file this was tested with?

Thank you,

John
F

[2019-02-27 15:21] SQLDataSide commented on #25848
I think i have found a solution, I installed "dotnet-sdk-2.2.104-win-x64.exe"
and the Azure Function App deployment went well now i have another issue that i will post

https://dotnet.microsoft.com/download/thank-you/dotnet-sdk-2.2.104-windows-x64-installer

[2019-02-27 15:24] diberry commented on #24847
Wonderful. #please-close

[2019-02-27 15:41] jimdial commented on #24972
@hajjat Thanks. I've updated the articles, as appropriate. The changes will publish later today.

[2019-02-27 15:45] bertrandpons commented on #25762
@MicahMcKittrick-MSFT @swinarko thanks for your help. I finally resolved the issue. There were 2 causes:

- the assembly used was not at the right version. I used custom setup to load the right version of the assembly used by the script
- the script was not correctly written

[2019-02-27 15:45] #25762 closed

[2019-02-27 15:54] CarlRabeler commented on #25774
@srdan-bozovic-msft please review this feedback from Dimitri Furman

[2019-02-27 15:54] CarlRabeler commented on #25763
@Mike-Ubezzi-MSFT please close

[2019-02-27 15:55] asubmani opened #25850 "Grafana supports Metrics and Logs"
The section on Grafana Limitations is not correct:

Grafana supports Metrics and Logs (including cross workspace querying)

Limitation = Metric integration with Azure Monitor does not support "custom Metrics"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7eae3c08-ec6d-7582-d4d9-59de75c0e252
* Version Independent ID: 9

[2019-02-27 15:56] CeciAc opened #25851 "Nested Groups also supported?"
@MikeReu commented on [Wed Feb 27 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/260)

Es wäre schön, wenn hier noch ein Hinweis eingebettet würde, ob das ganze auch mit verschachtelten Gruppen funktioniert!?
Vielen Dank im Voraus

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

[2019-02-27 15:56] edwardpius commented on #23920
Hello,
I am trying to follow the steps for running a unit test and am having a problem. When I try to run the command (after following all the steps), I am getting the following error:
XXXXX:test epius$ go test -run TestUT_StorageAccountName
# staticwebpage/test [staticwebpage/test.test]
./storage_account_name_unit_test.go:36:77: cannot use tfOptions.Vars (type map[string]interface {}) as type *"s

[2019-02-27 15:57] ams0 opened #25852 "Installing Istio should follow the Istio docs and istioctl is rather useless"
First, Istio should be installed using this commands (from this [doc](https://istio.io/docs/setup/kubernetes/download-release/)):

[code]

This way you don't need to update the doc with every new Istio release. Also, my personal opinion is that `istioctl` is never needed (and it's never used in this tutorial) so I would be happy to skip the section (or add a note that it's optional, only intended

[2019-02-27 15:58] CeciAc commented on #25851
Hi team,
I moved this here because the user says they are commenting on the documentation:
Rough Translation:

[2019-02-27 16:05] YutongTie-MSFT commented on #25785
@jloughlinMSFT Hi John, sorry to that. Though it does not have have any data set for testing in the document, I think we can ask for help from the author to see if they have any sample data for it and add it in the document for further usage.

@rajdeep-in Hi, we haven't seen any sample data set when trying to demo this feature, but it needed. Could you please share the sample when you are building

[2019-02-27 16:07] SnehaGunda commented on #24344
@Baffour , @wmengmsft I have also updated the doc to remove the configuration manager dependency statements.

We will now close this issue.

#please-close

[2019-02-27 16:10] SnehaGunda commented on #23899
@rmarskell @vit-svoboda thanks for your feedback, I updated the doc to move the note about custom precision to the top of the section. I guess it has more visibility now.

We will now close this issue if there aren't any further questions.

#please-close

[2019-02-27 16:17] feniix commented on #19749
@cwoolum have you been able to figure out why the grant fails?

[2019-02-27 16:24] mgreenegit commented on #23128
Added to the PR.

Once the node is registered to the service, it is going to pull the node config it is assigned either way.  This just determines whether extension should wait for the first pull to finish and include the success/failure of the configuration it its own status.

The name I have heard for this concept is "push to pull".  I fully understand why your scenario is different though.

BTW

[2019-02-27 16:33] wickste opened #25853 "Missing info about ports that need to be opened for this scenario to work"
[Enter feedback here]
This article is missing critical information about what ports need to be opened on the Edge gateway device for the various communication scenarios/protocols here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b50754a-27ed-4e72-dc97-18e6cb5cb44d
* Version Independent ID: 18f2170b-7f91-02f6-841c-b

[2019-02-27 16:35] lleonard-msft commented on #25748
@shashishailaj - Thanks for the heads-up.  This appears to be fixed now.  (There was a problem with our redirect handlers and that's been resolved.)

@xtofs - Thanks for the help; that's actually the [Microsoft Graph API reference](https://docs.microsoft.com/en-us/graph/overview).  The problematic link was pointing to the Azure AD API reference, which (BTW) is [being replaced](https://developer.mi

[2019-02-27 16:41] wickste opened #25854 "DPS-Keygen usage guidance is wrong"
[Enter feedback here]
The DPS-Keygen usage guidance is wrong on this page. Looks like the tool has changed and the doc hasn't been updated to match it. Replace "dps_cstr <scope_id> <device_id> <Primary Key(for device)>" with correct usage for current version of the tool.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a

[2019-02-27 16:46] davidhjones opened #25855 "Preview Release Timeline"
I'm very glad to see work being done to support .net standard. Is there a rough idea on when we should expect releases of these pre-release versions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 888f51c9-5b62-e130-bcaa-d484f08933a7
* Version Independent ID: c25d6cd3-87f4-222e-4b02-263bbf6e371e
* Content: [Azure Cosmo

[2019-02-27 16:48] seguler commented on #23923
These types are not thread safe, hence you should not share one between threads. You can create and reuse them for multiple operations in a single thread however.

[2019-02-27 16:54] Mike-Ubezzi-MSFT commented on #25756
@adoelger Azure Database for PostgreSQL is a newer service, and as you pointed out, there is not much you can control without access to the server boot file. And only a subset of those parameters are exposed through the server parameters file. The product group is currently reviewing the autovacuum_xxx requests at the [UserVoice Forum](https://feedback.azure.com/forums/597976-azure-database-for-po

[2019-02-27 16:55] dominicbetts commented on #25854
@wickste - I'm already in the process of updating it - I'll be pushing an updated version of this article out tomorrow.

[2019-02-27 16:57] Mike-Ubezzi-MSFT commented on #25763
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-27 16:57] #25763 closed

[2019-02-27 16:58] Mike-Ubezzi-MSFT commented on #23899
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-27 16:58] #23899 closed

[2019-02-27 16:59] vhorne commented on #25719
@shiniizuka Article has been updated.
#please-close

[2019-02-27 17:01] mgreenegit commented on #24784
In fact here is build output:
https://travis-ci.org/Azure/azure-quickstart-templates/builds/498947910?utm_source=github_status&utm_medium=notification

For this PR that contains extension with VMSS:
https://github.com/Azure/azure-quickstart-templates/blob/834702ab26a232258c642c3596771d75f3a79e3b/201-vmss-automation-dsc/nested/provisionServer.json#L95

Which can also be implemented for VM:
https://

[2019-02-27 17:02] ghost opened #25856 "unclear group assignments"
I read here that  "In the POSIX ACLs, every user is associated with a primary group. For example, user "alice" might belong to the "finance" group. Alice might also belong to multiple groups, but one group is always designated as her primary group.  In POSIX, when Alice creates a file, the owning group of that file is set to her primary group, which in this case is "finance." "  I also read "The o

[2019-02-27 17:04] androidand commented on #23005
So, using a Python websocket client towards the SignalR Service is a dead end? I have made a solution with Signal R service which I will now have to scrapt because the developer of the client application uses Python. Should have read up this service better before I started. Will never use this again.

[2019-02-27 17:14] boopathi-rs commented on #12726
The code still seems outdated. For e.g.,

methods = {"post"} in @HttpTrigger annotation produces the following error,

 incompatible types: java.lang.String cannot be converted to com.microsoft.azure.functions.HttpMethod

[2019-02-27 17:17] boopathi-rs commented on #12726
Using version 1.2.2 (latest as of now) of azure.functions.maven.plugin doesn't produce authLevel in functions.json file. It works when authLevel in @HttpTrigger is set to Anonymous. It doesn't work when it is set to Function. I've had to downgrade the version to 1.2.0 to fix this.

[2019-02-27 17:19] TiloGit commented on #25793
looks like I need to be enrolled in the preview. I tried via AZ portal and CLI.

here my json

[code]

[2019-02-27 17:21] YaraZakaria opened #25857 "Understanding the Metrics"
Everything is so clear and perfect. But can we have more details or guide how to explain the metrics and which ones do we rely on?
I tried to search for them and I saw the formulas however it is not clear  yet.
The coefficient of determination is 0.910392 which is good. But the RMSE  is almost 2400 which is a large value for a standard deviation no ??

---
#### Document Details

⚠ *Do not edit thi

[2019-02-27 17:24] MicahMcKittrick-MSFT commented on #25852
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-27 17:25] MicahMcKittrick-MSFT commented on #25843
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-27 17:25] Mike-Ubezzi-MSFT commented on #25855
@davidhjones Thank you for the kind feedback and your interest in Azure cloud services. With regard to releases, let me investigate to see if there is any public information that can be shared.

[2019-02-27 17:26] MicahMcKittrick-MSFT commented on #25829
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-27 17:26] rezasherafat commented on #25834
@VitorX, you can use the following command to get the device connection string:
[code]

[2019-02-27 17:26] MicahMcKittrick-MSFT commented on #25830
@kpvnreddy please provide us with the link to the document you are referring to so we can better assist.

[2019-02-27 17:27] MicahMcKittrick-MSFT commented on #25831
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-27 17:29] MicahMcKittrick-MSFT commented on #25844
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-27 17:30] jn-altius commented on #12208
I have the same problem with the code here:
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-dotnet?tabs=windows#list-the-blobs-in-a-container

When I create the foreach loop I get the message: "Task<BlobResultSegment> does not contain a definition for 'Results' and no accessible extension method 'Results' accepting a first argument of type Task<BlobResultSegment> coul

[2019-02-27 17:31] LuisCabrer commented on #24758
It seems like the core documentations issues got resolved, #please-close this issue.

For Questions about how to use the service, please post those to StackOverflow: https://stackoverflow.com/questions/tagged/azure-search

[2019-02-27 17:33] tfitzmac commented on #25840
@TWolverson - the example for listAccountSas is similar to calling the [List Account SAS](https://docs.microsoft.com/en-us/rest/api/storagerp/storageaccounts/listaccountsas) REST operation. The token is generated from the parameters you provide. It looks like keyToSign is one of the available parameters.

[2019-02-27 17:33] #24344 closed

[2019-02-27 17:33] #24972 closed

[2019-02-27 17:34] #25719 closed

[2019-02-27 17:34] #9510 closed

[2019-02-27 17:35] MicahMcKittrick-MSFT commented on #25645
@shivakumarg06 I will close for now. Please open a new issue directly on the doc you are having issues with and we can continue the discussion.

[2019-02-27 17:35] #25645 closed

[2019-02-27 17:36] thefumigator commented on #25639
I have the same problem. No move to azure button.

[2019-02-27 17:38] MicahMcKittrick-MSFT commented on #25751
@sgupadya thanks for that! I will assign to the content author to review and update as needed.

[2019-02-27 17:40] iambmelt opened #25858 "Misleading documentation of redirect_uri in access token renewal"
Per the table in section: "Refresh the access token", when sending request query parameters, the `redirect_uri` which is sent is `the same redirect_uri value that was used to acquire the authorization_code`.

In actuality, _any_ `redirect_uri` which is registered for the target application is accepted: it doesn't necessarily need to be the same value which was used to request the `authorization_co

[2019-02-27 17:42] melvincanafranca opened #25859 "#r "Microsoft.Azure.EventHubs" referencing not working"
I've tried to run the basic Run function in the C# example and it has thrown an exception saying that Microsoft.Azure.EventHubs can't be found. What I've tried is #r "../bin/Microsoft.Azure.EventHubs.dll" and it just magically work. How can I make it work by just using the #r "Microsoft.Azure.EventHubs" referencing of assembly mechanism?

---
#### Document Details

⚠ *Do not edit this section. It

[2019-02-27 17:43] CawaMS commented on #19378
#in-progress

[2019-02-27 17:44] MicahMcKittrick-MSFT commented on #24714
@jn-altius apologies for the slow replies. I am still working offline to get this answered. Will update as soon as I have more information.

[2019-02-27 17:44] MicahMcKittrick-MSFT commented on #25358
@alexsmithMSFT closing this out and we can continue offline via that email thread :)

[2019-02-27 17:44] #25358 closed

[2019-02-27 17:45] CarlRabeler commented on #23879
stay tuned - update to this thread coming soon

[2019-02-27 17:49] CawaMS commented on #19378
To unblock the scenario, all versions can be downloaded here: https://github.com/Microsoft/AzureStorageExplorer/releases

[2019-02-27 17:51] yzhong94 commented on #25853
Hi @wickste are you filing this issue on the wrong doc?  This doc is about what platform the SDK supports.

[2019-02-27 17:51] MicahMcKittrick-MSFT commented on #25609
@PetroAzure I have ran the example a few times but I cannot repro the unstable issue you are seeing. This will likely require deeper investigation.

Do you have the ability to open a technical Support Ticket? If not, you can email me at AzCommunity@microsoft.com and provide me with your SubscriptionID and link to this issue. I can enable your subscription for that request.

This way we can have su

[2019-02-27 17:51] #25609 closed

[2019-02-27 17:52] srrengar commented on #25567
@brahmnes can you reply to ththiem's question on how the AI nuget captures remoting data - with the response code as N/A

[2019-02-27 17:56] adkinn commented on #24821
@jagjitraja @BharathNimmala-MSFT this issue has been resolved, thanks for the report 👍

[2019-02-27 17:56] #24821 closed

[2019-02-27 17:57] MicahMcKittrick-MSFT commented on #25621
@cynthn any suggestions on how to move forward on this issue?

[2019-02-27 17:58] loic-sharma opened #25860 "Document how to provide options for .NET SDK's models"
I couldn't find any documentation on how to provide options for analyzers/tokenizers/filters using the .NET SDK, I had to resort to reading the SDK's source code. The documentation should have at least one example on this topic, ideally one that lines up with the raw JSON example here: https://docs.microsoft.com/en-us/azure/search/search-analyzers#custom-analyzer-example

---
#### Document Details

[2019-02-27 17:58] MicahMcKittrick-MSFT commented on #25852
@ams0 I have assigned this to the content author to review.

[2019-02-27 18:03] sauyeung opened #25861 "Throttle limit question"
At the beginning of this article, it mentioned, "Resource Manager allows up to 12,000 read requests per hour and 1,200 write requests per hour". Could you please clarify that it's calculated based on a rolling 60-minute period or it's calculated from the beginning to the end of an hour (like from 10:00 to 11:00)? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-02-27 18:09] MarileeTurscak-MSFT commented on #25770
Hi @way2arun ,
Thanks for reporting this and apologies for the inconvenience. This bug will be addressed in the upcoming month.

[2019-02-27 18:11] cynthn commented on #25621
Can you check the output of just typing the variable? Just type $imageVersion and make sure that what it returns is the correct image?  Also, did you give the subscription permissions on the image or gallery?

@axayjo is this something you've seen? Any other troubleshooting steps?

[2019-02-27 18:13] LTUTE opened #25862 "Location of POP's"
Hello, where I can find location of Front Door POP (Point of Presence)?
BR,

LTUTE

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbadca96-7341-36d0-8a38-1c6a5c96b22d
* Version Independent ID: 2fad91dc-25f8-0c7a-c21d-93986ec51145
* Content: [Azure Front Door Service](https://docs.microsoft.com/en-us/azure/frontdoor/fro

[2019-02-27 18:15] OffColour commented on #23128
@mgreenegit That's great. Massive thanks for your help on this. You've made my life so much better :)

[2019-02-27 18:15] desimone commented on #25740
@SaurabhSharma-MSFT Thanks.  However, I think what both @WayneYangsa and I are asking if it is possible to add the `groups` claim to the `access_token` as well.

And since I have your ear 😄... It would be really great to be able to adjust what (non-standard) claims are sent in an `access_token`.

Not just for adding claims but removing them. Unfortunately, Microsoft sends many additional non-spec

[2019-02-27 18:15] #25770 closed

[2019-02-27 18:17] femsulu commented on #25566
thanks @vgorbenko!

We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-02-27 18:17] #25566 closed

[2019-02-27 18:17] jgardner04 opened #25864 "The "Group verification sample" link is not valid."
The link for the "Group verification sample" in the following paragraph can be found in the Prepare test certificates section. The link for the sample is not valid.

In addition to the tooling in the C SDK, the Group certificate verification sample in the Microsoft Azure IoT SDK for .NET shows how to perform proof-of-possession in C# with an existing X.509 intermediate or root CA certificate.

---

[2019-02-27 18:26] rajdeep-in commented on #25785
@YutongTie-MSFT I've responded you over email.

[2019-02-27 18:29] SeaDude commented on #21449
Hi @sergaz-msft, thank you for the update. I will test as soon as I can.

[2019-02-27 18:30] jzuchora87 commented on #25621
**Here you go. When you say did I give the other subscription permissions, can you clarify that question? I don't see any steps to give the other subscription permission besides enabling the feature. **

ResourceGroupName        : rgImgGal
PublishingProfile        :
  TargetRegions[0]       :
    Name                 : East US
    RegionalReplicaCount : 1
  TargetRegions[1]       :
    Name

[2019-02-27 18:30] CawaMS commented on #19378
I will include the link in release notes. Please close this particular issue.

[2019-02-27 18:30] CawaMS commented on #19378
#please-close

[2019-02-27 18:35] BhargaviAnnadevara-MSFT commented on #25658
@massilp I've verified that the requested changes are reflected in the original [document](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-troubleshoot-no-data#net-core) against which the issue was raised. Thanks again for the feedback!

We're now going to close this thread as resolved. If there are any further questions regarding the documentation, please tag me in your reply and

[2019-02-27 18:35] #25658 closed

[2019-02-27 18:36] YutongTie-MSFT commented on #25857
@YaraZakaria
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@garyericson Hi Gary, thanks for your effort to the document. Our customer need more information for that, could you please check this issue and update the document as necessary? Thanks a lot.

[2019-02-27 18:39] Grace-MacJones-MSFT commented on #25847
Hi @Teodelas, thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-27 18:40] SaurabhSharma-MSFT commented on #25851
@CeciAc Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-02-27 18:44] Anvirol opened #25866 "Unable to configure Intune Company Portal Group targeted branding"
Our customers require helpdesk information etc. to be configured per site/region, but there's no way to configure group targeted branding for Company Portal.

Could you provide more information? Also docs has no mention or instructions regarding the feature.

![image](https://user-images.githubusercontent.com/3955313/53514416-5ed2e980-3ad0-11e9-8f72-ce2226506aff.png)

---
#### Document Details

⚠

[2019-02-27 18:45] #25866 closed

[2019-02-27 18:50] grimurjonsson commented on #25793
I saved your snippet as deploy.json and ran with the following command without issues.
`az group deployment create -g gimmicli --template-file deploy.json`

If that fails for you, then it could be the enrollment, but its still a strange message.

[2019-02-27 18:51] Praveen-410 opened #25867 "Do we need credit card for external services for all type of subscriptions (EA/non-EA/CSP). Can someone clarify in the documentation as to what scenarios require credit card for external services?"
Can you please update the following and clarify which scenarios are for EA and non-EA customers?
https://docs.microsoft.com/en-us/azure/billing/billing-understand-your-azure-marketplace-charges#how-external-services-are-billed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64f88290-1358-7873-a5ca-f4510869c7dd
* Version

[2019-02-27 18:51] cynthn commented on #25621
@jzuchora87 I forgot that you had already deployed a VM using the image cross-subscription using a template :) If it worked cross-subscription in a template, it probably isn't a permissions issue.

[2019-02-27 18:57] matdarMsft commented on #21061
I recently published the first wave of rather complete documentation for the [SDK]('https://github.com/Microsoft/tsiclient'), have updated [the examples page]('https://tsiclientsample.azurewebsites.net/') to remove the need for authentication for standalone examples that don't use the platform, and have published an ever growing list of examples that illustrate SDK usage.  We will be expanding the

[2019-02-27 18:58] #25769 closed

[2019-02-27 18:58] #25833 closed

[2019-02-27 18:59] Oegg88 opened #25868 "EndTime for autoscale profile in PowerShell"
I'm able to create an autoscale profile with a schedule for specific days by PowerShell but i can't find the option to add the EndTime for that profile, i'm obligated to go to the Azure portal and assign the EndTime manually, is there a way to add the EndTime in PowerShell to that profile?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-02-27 19:00] AjayKumar-MSFT commented on #24031
@Ulili, If you haven’t done this already, could you please re-download the sample and then re-try. Kindly ensure that the func start is started and to fetch more details on the error please capture a Fiddler trace.

[2019-02-27 19:02] ooteniya opened #25869 "Export-AzSOfflineMarketplaceItem command"
Part 1 step 5  for the disconnected scenario, the command
Export-AzSOfflineMarketplaceItem -Destination "Destination folder path in quotes"  has an additional flag  "-cloud" that specifies the cloud environment. By default, it is azurecloud. I think this is worth noting within this documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-02-27 19:04] mike-urnun-msft commented on #25845
Hi @haoxin Thank you for reporting this issue! We will review and make any necessary changes.

[2019-02-27 19:05] Zerryth commented on #25638
@Souvik04, follow the link to the [Active Learning sample bot](https://github.com/Microsoft/BotBuilder-Samples/tree/master/experimental/csharp_dotnetcore/qnamaker-activelearning-bot) in the BotFramework-Samples repo for a example of how you can query the QnA service from your bot with active learning enabled.
___
After conversing with the QnA team (Rohit is included in the conversation), here's a

[2019-02-27 19:06] AnEvilPenguin opened #25871 "Register the proxy code example incorrect."
Register-AzureADPasswordProtectionProxy -AccountUpn 'yourglobaladmin@yourtenant.onmicrosoft.com' -AuthenticateUsingDeviceMode

Should actually be:
Register-AzureADPasswordProtectionProxy -AccountUpn 'yourglobaladmin@yourtenant.onmicrosoft.com' -AuthenticateUsingDeviceCode

Register-AzureADPasswordProtectionProxy : A parameter cannot be found that matches parameter name
'AuthenticateUsingDeviceMode

[2019-02-27 19:06] mike-urnun-msft commented on #25859
Hi @melvincanafranca Thank you for reporting this issue! We will review and make any necessary changes.

[2019-02-27 19:08] MicrosoftGuyJFlo commented on #25871
@AnEvilPenguin If you would like to propose that edit to the doc using the Edit button at the top I am happy to approve the change. Thanks for catching that.

[2019-02-27 19:09] tamram commented on #12208
@jn-altius - Thanks for your feedback. The code in the [sample application](https://github.com/Azure-Samples/storage-blobs-dotnet-quickstart) works. The sample application uses .NET Core 2.0 and version 9.3.x of the storage client library.

Here's the reference for the [Results property](https://docs.microsoft.com/dotnet/api/microsoft.windowsazure.storage.resultsegment-1.results?view=azure-dotnet)

[2019-02-27 19:13] jkovach82 opened #25872 "Group Based Licensing Enhancement"
My organization has multiple Enterprise Agreements so we have multiple pools of licensing for each type of Sku and users from one department are not permitted to consume licensing from another department.  It would be good to be able to assign a particular subscription ObjectID to a licensing group to impose a limit based on that particular pool license count.  Get-MsolSubscription is the cmdlet u

[2019-02-27 19:13] tamram commented on #23923
#please-close

[2019-02-27 19:13] SaurabhSharma-MSFT commented on #25835
@brianmair Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-27 19:15] PatLaPoint opened #25873 "Powershell syncagent download"
Hi!

isn't server 2019 supported?
the script provided for downloading the sync agent fails on server 2019,
# Download the appropriate version of the Azure File Sync agent for your OS.
if ($osver.Equals([System.Version]::new(10, 0, 14393, 0))) {
    Invoke-WebRequest `
        -Uri https://go.microsoft.com/fwlink/?linkid=875004 `
        -OutFile "StorageSyncAgent.exe"
}
elseif ($osver.Equals([Syst

[2019-02-27 19:17] ChiragMishra-MSFT commented on #25841
@ohadschn Thanks for bringing this to our notice, we will review and update the doc as appropriate.

[2019-02-27 19:18] kobulloc-MSFT commented on #25605
@Leon99 Thank you for emailing us!  We'll continue to work with you to troubleshoot your issue one on one.  We're going to close this thread as the documentation appears to be in order.  If you have any additional questions about the documentation, please do not hesitate to open a new issue.

[2019-02-27 19:18] #25605 closed

[2019-02-27 19:19] SaurabhSharma-MSFT commented on #25849
@WilliamRoyNelson Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-27 19:20] vit-svoboda commented on #23899
But how about the Hash index kind? Should we forget about it and always use Range index (unless we work with spatial data) from now on?

[2019-02-27 19:21] AnEvilPenguin commented on #25871
OK I think I've done that. I'll be honest I only really use Github in a basic way at the moment!

[2019-02-27 19:23] ChiragMishra-MSFT commented on #25848
@SQLDataSide Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-02-27 19:24] #25838 closed

[2019-02-27 19:24] kashimiz commented on #25845
The HTTP Start function is detailed in the function chaining example. I think when we wrote these example docs, readers would move through them sequentially. @ggailey777 let's add a callout/link to the HTTP Start function in the rest of the examples (fan-ou/fan-in, monitor, human interaction.)

[2019-02-27 19:31] MarileeTurscak-MSFT commented on #25858
@iambmelt thanks for the feedback! I have assigned this issue to the content author, @CelesteDG , to look into your comments.

[2019-02-27 19:31] femsulu commented on #25850
@asubmani Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-02-27 19:33] jn-altius commented on #12208
Hiya, I'm using Windows.Azure.Storage (9.3.3) targeting .Net Core 2.1 and using this library within an Azure Function.

I've got the Function working with the line
`foreach (IListBlobItem item in results.Result.Results)`
It happily returns a list of the blobs in that container.  Whereas results.Results stubbornly refused to relinquish its red underlining in VS.

Would .Net Core 2.0 and 2.1 behave

[2019-02-27 19:36] femsulu commented on #25861
@sauyeung Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-02-27 19:37] MicrosoftGuyJFlo commented on #25849
@WilliamRoyNelson Feel free to propose that as an edit using the Edit button at the top of the doc. I would be happy to approve that change. Thanks for catching that.

[2019-02-27 19:44] TravisCragg-MSFT commented on #25869
@ooteniya Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-27 19:45] Alberto-Vega-MSFT commented on #25831
@jelmerS2 That is a great suggestion.  Can I kindly ask you to please post this as a feedback @ [Azure Spatial Anchors Feedback](https://feedback.azure.com/forums/919252-azure-spatial-anchors ) . This will allow the community to upvote and for the product team to include into their plans.

[2019-02-27 19:46] MicrosoftGuyJFlo commented on #25871
Great first contribution to Microsoft's public docs! I just signed off on your change.

[2019-02-27 19:46] MicrosoftGuyJFlo commented on #25871
Resolved by https://github.com/MicrosoftDocs/azure-docs/pull/25874

[2019-02-27 19:50] miaojiang commented on #21366
@xiaoyang-connyun I am going to close this ticket. Please let me know if you have further questions.

#please-close

[2019-02-27 19:59] aanandr commented on #25771
@amandadebler a few points
1. You dont need to UDR for the ACI pods to talk back to on-prem or vice versa. What kind of address range are you using on-prem? Is it a space difference from 192.x, 172.x or 10.x?
2. What is the P0 scenario you are looking to enable? Is it accessing containers from VMs in the same VNet?

[2019-02-27 20:01] DianaPutnam commented on #25756
@adoelger, @Mike-Ubiezzi-MSFT is correct that "autovacuum_max_workers" is not currently able to be modified by customers, but we are considering that parameter as well as many others to expose them to customers based on priority via UserVoice and risk to the managed service.  Thank you for your question and follow up; I am editing this document to make it clearer based on your feedback.

[2019-02-27 20:04] #19378 closed

[2019-02-27 20:04] prashanthyv opened #25875 "Few suggestions for the article"
a) Can we explain how to use MSI in case of a VM Scale Sets also? This article explains how to use it with a Single VM which is great but VMSS would also be helpful
b) Can we explain what the pros and cons are for using System assigned vs User Assigned identities as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-02-27 20:04] #23923 closed

[2019-02-27 20:05] #24758 closed

[2019-02-27 20:10] MicahMcKittrick-MSFT commented on #25856
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-27 20:10] rboucher commented on #22599
There was just another grafana announcement. We are looking at the following pages to be sure they are consistent.

Documentation articles
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/grafana-plugin
and perhaps
https://docs.microsoft.com/en-us/azure/data-explorer/grafana

Grafana docs
https://grafana.com/plugins/grafana-azure-monitor-datasource

Blog posts.
https://azure.microsoft

[2019-02-27 20:10] TravisCragg-MSFT commented on #25862
@LTUTE there should be multiple POPs around the globe, and I do not believe we publish the regions / locations for POPs. I am going to assign this to the author to potentially update with a list.

Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-27 20:10] MicahMcKittrick-MSFT commented on #25873
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-27 20:11] Alberto-Vega-MSFT commented on #25829
@jelmerS2 I am sorry to hear that you are facing this issue. Can you please confirm that your CosmosDb deployment succeeded and it is working? (you could check  on  the Portal) Also would you please double check your Cosmos db connection strings?
If this doesn't work, deploying a debug version of the app with detailed errors enabled would allow to see the real exception and stack trace when deploy

[2019-02-27 20:12] HeidiSteen commented on #22001
@daveabrock  Hi Dave, can you revisit the docs and confirm the screenshots are up to date?  Thank you!!!

[2019-02-27 20:14] garyericson commented on #25857
@YaraZakaria - Thanks for the feedback! This particular article is intended just to give basic information on how to construct a simple experiment. The specific model we chose is not that important, so we didn't want to make the article too complicated by discussing the model's performance. There is another article that discusses how to evaluate model performance, and maybe that would be helpful t

[2019-02-27 20:18] MicahMcKittrick-MSFT commented on #25843
@iainfoulds do you know if this feature is designed to work with AAD Authentication?

@olavt we also have a doc on AKS AAD integration

https://docs.microsoft.com/en-us/azure/aks/aad-integration

Did you follow this as well?

[2019-02-27 20:23] bwren commented on #25850
@asubmani You are correct, thanks.  We're actually about to get an update out for that article.

[2019-02-27 20:23] bwren commented on #25850
#please-close

[2019-02-27 20:32] bwren commented on #24952
We have a work item to update this article.  The feature is available as described in https://docs.microsoft.com/en-us/azure/azure-monitor/log-query/log-search-transition#extract-custom-fields.  We will be getting the article updated.

[2019-02-27 20:33] Blackmist commented on #24385
Thanks again for the help and information on this @jberezanski-mdg ! The update to the document should be live later today.

[2019-02-27 20:33] ericbrunner commented on #25639
I have the same issue. No move to azure button. Only a sign up button but with that email address I have a valid pay as you go subscription in azure.

[2019-02-27 20:36] brahmnes commented on #25567
This is expected because response code is an HTTP concept.
You can always see from the source in the Application Insights Service Fabric repo
https://github.com/Microsoft/ApplicationInsights-ServiceFabric/blob/master/src/ApplicationInsights.ServiceFabric.Native.Shared/RequestTrackingModule/ServiceRemotingServerEventListener.cs#L181

[2019-02-27 20:36] kgremban commented on #23265
@raghavan20 If this still isn't working, it sounds like it might be a product bug. I recommend that you follow veyalla's earlier advice and open an issue on the product itself: https://github.com/azure/iotedge/issues. Or at least if it's not a bug, the team there will be better able to help you dig in to the SDK details.

On my end, are there any changes that you think need to be made to the docum

[2019-02-27 20:37] LTUTE commented on #25862
Thank you a lot for fast responses. It is really useful to know how close POP's are located to target clients. Thank you once again and looking forward for updates.

[2019-02-27 20:37] bwren commented on #20321
Sorry for late reply.  The information in this article became out of date when Log Analytics alerts were extended into Azure Monitor.  We've removed that section of the article and include a link to content with the ARM for Azure Monitor alerts.  https://review.docs.microsoft.com/azure/azure-monitor/platform/alerts-log?branch=pr-en-us-67992#managing-log-alerts-using-azure-resource-template .

[2019-02-27 20:38] bwren commented on #20321
#please-close

[2019-02-27 20:38] cngituser opened #25876 "Uploading files with a folder structure fails"
Hi,
Very nice starter example, but the script will fail if the uploading directory has folders in it(as it is doing recursively) and the new app created will definitely not have the folder structure.
- CN team @ Thomasnet.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7d73b21-aa15-4aa8-7a89-f22bc2a172b0
* Version

[2019-02-27 20:38] bwren commented on #10811
Sorry, I realized this issue was still hanging around.  The information in this article became out of date when Log Analytics alerts were extended into Azure Monitor.  We've removed that section of the article and include a link to content with the ARM for Azure Monitor alerts.  https://review.docs.microsoft.com/azure/azure-monitor/platform/alerts-log?branch=pr-en-us-67992#managing-log-alerts-usin

[2019-02-27 20:38] bwren commented on #10811
#please-close

[2019-02-27 20:39] bwren commented on #20496
Sorry for late reply.  The information in this article became out of date when Log Analytics alerts were extended into Azure Monitor.  We've removed that section of the article and include a link to content with the ARM for Azure Monitor alerts.  https://review.docs.microsoft.com/azure/azure-monitor/platform/alerts-log?branch=pr-en-us-67992#managing-log-alerts-using-azure-resource-template .

[2019-02-27 20:39] bwren commented on #20496
#please-close

[2019-02-27 20:41] Mike-Ubezzi-MSFT commented on #25348
@Sethu2488 I have reached out to an internal group to get additional information. I did not see any information pertaining to this notice in the release notes: [Azure SQL Data Warehouse release notes](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/release-notes-10-0-10106-0).

[2019-02-27 20:43] j-martens commented on #24385
#please-close

[2019-02-27 20:50] TravisCragg-MSFT commented on #25768
@scottmcdonald-claritas Your best bet with this issue is to open a Support Request to troubleshoot this further. If you do not have a support plan, please Email me at AzCommunity@Microsoft.com with your Subscription ID and a link to this post, and I will enable a one-time support request for your subscription.

You should still be able to get the VPN configuration files via the portal as a workaro

[2019-02-27 20:54] Mike-Ubezzi-MSFT commented on #25318
@kazshi That specific page is supported outside the GitHub repo. The tutorial doc is supported via a workflow process that is part of GitHub. I will start an email thread internally, to see about getting the [SQL Azure Data Sync Agent](https://www.microsoft.com/en-us/download/details.aspx?id=27693) specific page updated.

[2019-02-27 20:55] brlewi commented on #24385
test

[2019-02-27 20:57] MedAnd commented on #24758
@LuisCabrer - I'll email the above question direct to your team's alias as we are indexing large amounts of data from other Azure services. We're interested in storage optimizations & best practices however prior emails over the last two months have not been answered... what's the best was to engage with your team?

[2019-02-27 20:58] YutongTie-MSFT commented on #24385
@jberezanski-mdg
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.