[2020-06-02 05:29] jagarg commented on #55839
@Mike-Ubezzi-MSFT
Great !!
I am fine with you raising this support request, only thing is I would like to be aware of the developments and if possible some sort of timeline when it will be fixed.

[2020-06-02 05:31] Karishma-Tiwari-MSFT commented on #56075
Thanks for sharing the update.

[2020-06-02 05:50] juunas11 opened #56150 "Can users be added to monitoring reader/contributor role at RG level?"
The page says the following:

Do we have to add users to these roles at subscription level?
Would resource group level be enough to get these alerts from specific Application Insights resources?

In this case it isn't really about access, there are just dozens of services and we'd like to limit the scope to only those that matter to us.

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-06-02 05:53] lopejum commented on #55866
Hello @RohitMungi-MSFT , exactly! Both of them are related.

Thanks a lot for the support!!

Kind regards!
Lope

[2020-06-02 05:53] SeaDude commented on #55884
@rbudzko , thank you for the validation. I thought I was the only one facing issues.

**When you say:** "the only way I find python 3.8 work (linux) is via `func azure functionapp publish <APP_NAME> --build-native-deps`"
  - Are you talking about working from a linux machine or deploying to a linux instance?
    - I ask because I'm actually working from a linux OS (my laptop) and wondering if that

[2020-06-02 05:57] mads-kv commented on #55731
I'm glad to help.

[2020-06-02 06:07] rockboyfor opened #56151 "Failed deployment two templates on Azure China Cloud."
I encountered two templates deployment failed on Azure China Cloud.

Could you please help to confirm whether these two templates are suitable for Azure China Cloud or not?

### Azure Cosmos DB account SQL API with analytical store
1. Deployment link
 `https://portal.azure.cn/#create/Microsoft.Template/uri/https%3A%2F%2Fraw.githubusercontent.com%2FAzure%2Fazure-quickstart-templates%2Fmaster%2F101-

[2020-06-02 06:26] MarileeTurscak-MSFT commented on #56109
@ashkickindevelopment
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-02 06:27] MarileeTurscak-MSFT commented on #56112
@bashscr
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-02 06:28] rbudzko commented on #55884
Hey @SeaDude!

I ask because I'm actually working from a linux OS (my laptop) and wondering if that is part of the issue

It is OS X to Linux, but logging indicates it uses docker to prepare natives correctly for linux.

Application appeared published via all mediums (VSC, Azure Portal, Az CLI) and it worked for limited time. After next redeploy (same code, same docker layers binary wise) it start

[2020-06-02 06:28] MarileeTurscak-MSFT commented on #56115
@shooker
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-02 06:31] MarileeTurscak-MSFT commented on #56121
@kkowns11 if you have a product-related question, please post to [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/) and we will happily continue the conversation.

If you have documentation-related feedback, please create a new issue linking the exact document that you would like to change.

[2020-06-02 06:31] #56121 closed

[2020-06-02 06:32] MarileeTurscak-MSFT commented on #56124
@CeciAc
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-02 06:34] MarileeTurscak-MSFT commented on #56126
@marc-gmail-towersap
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-02 06:35] MarileeTurscak-MSFT commented on #56128
@alexvy86
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-02 06:41] yilongli opened #56153 "Is accelerated networking based on Mellanox NICs or FPGA-based SmartNICs?"
Hi, could someone help me clarify this issue? Based on https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-tcpip-performance-tuning, it seems to suggest that it's based on FPGA-based SmartNICs. However, in https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-cli and https://docs.microsoft.com/en-us/azure/virtual-network/setup-dpdk, only Mellano

[2020-06-02 06:56] kailashmsft commented on #55524
@ajay15283  the latest parted package , resizepart is removed to resize because of this you are not able to resize the partitions.
you can use the below commands which would same work
sgdisk -d 4 /dev/sda
sgdisk -N 4 /dev/sda

reboot the vm and the use the "xfs_growfs /" to resize the file system.
we will be updating the document :)
Thanks for bringing this to our notice.

closing the PR:

[2020-06-02 06:56] kailashmsft commented on #55524
#sign-off

[2020-06-02 07:17] PhilipAnthonyMurray commented on #55842
Thanks for the information @JamesTran-MSFT although when I run the below statement I get another error

[code]

[code]

I have checked my RBAC permissions on the **keyrotationdatalake** storage account and I am an owner

![image](https://user-images.githubusercontent.com/6314147/83491233-5e7e8680-a4a9-11ea-88d2-54aa0e96d5c4.png)

Are there any further permissions required to perform this action?

[2020-06-02 07:24] Johnnytechn commented on #54823
Who can give me a response? Thank you.

[2020-06-02 07:45] da1rren opened #56154 "Access Token obtained over http?"
Hey Guys,

I've noticed that the access token appears to be obtained from a random IP address without TLS?  Is there a hostname with TLS we could use instead to keep the infosec guys happy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e7dff5b-e6c9-5806-e10b-66ca7ce6e150
* Version Independent ID: 973a1677-df40-3297-3

[2020-06-02 07:46] da1rren commented on #56154
The code sample on https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/tutorial-vm-windows-access-storage also has the same problem

[2020-06-02 08:00] KrishnaG-MSFT commented on #56112
Assigning @bandersmsft for visibility and to help clarify and provide insights on this and #40523

[2020-06-02 08:25] FlorianBorn71 commented on #55883
I updated the prerequisites accordingly everywhere

[2020-06-02 08:28] VigNelausen opened #56157 "No discovery troubleshooting info"
[The entire section on Machine discovery troubleshooting is missing]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c10748e-344f-8035-7654-217bf0732a02
* Version Independent ID: 7ba72912-7b46-24ce-55dc-8a8b38fd8cc6
* Content: [Troubleshoot Azure Migrate issues - Azure Migrate](https://docs.microsoft.com/en-us/azure/mi

[2020-06-02 08:29] harisubramaniam1 opened #56158 "Impact of Cosmos DB auto scaling throughput on consistency levels"
In the cosmos autoscale FAQs, it is not clear when auto scaling happens, whether will there be any impact to the consistency levels. I would expect there would not be any and if there is that would be a bug rather than a known limitation. Would be better to answer that in the FAQs as few of customers I work with seems to ask that and pointing to the documentation would be helpful.

---
#### Docume

[2020-06-02 08:31] FlorianBorn71 commented on #55883
#please-close

[2020-06-02 08:31] #55883 closed

[2020-06-02 08:35] triple-it opened #56159 "Typo"
Typo   N --> M

s/Get infornation about the VM/Get Information about the VM/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb094d5f-75d3-5080-7748-6b43a83bb3dc
* Version Independent ID: 6cc1bfdb-eba3-e788-c9ed-dd9746daabed
* Content: [Tutorial - Create custom VM images with the Azure CLI - Azure Linux Virtual Machines

[2020-06-02 08:42] medavamshi commented on #56124
Dsv3. Docs are just updated for 4.x . Ran into all these issues mentioned.
https://docs.microsoft.com/en-us/azure/openshift/support-policies-v4

[2020-06-02 08:44] jjindrich opened #56160 "AKS Private cluster in Hub&Spoke network design"
Hi, please can you be more specific how to deploy AKS private cluster into hub&spoke network design ? As stated in point 3 on https://docs.microsoft.com/en-us/azure/aks/private-clusters#hub-and-spoke-with-custom-dns cluster failed during provisioning. I cannot create private zone manually before deployment because unknown guid. What to do if cluster failed ? Is it recommended redeploy it ? I don't

[2020-06-02 08:44] medavamshi commented on #53610
Docs are updated to reflect v4.x .  You can find more info in here.
https://docs.microsoft.com/en-us/azure/openshift/support-policies-v4

[2020-06-02 08:46] medavamshi commented on #32607
Deployment fails if you have mandate  tagging policy in place . Disable the policy , deploy and renewable the policy. Tags are not being picked up for parent rg for the new rg created by ARO

[2020-06-02 08:49] cocowalla commented on #12827
@asergaz it would be helpful if you could explain a bit about what precisely is by design here, so we know what to request in the backlog?

[2020-06-02 08:50] AjayKumar-MSFT commented on #55573
@shmool,  We will now proceed to close this thread. If there are further questions regarding this matter, please let us know. Thanks again for sharing your valuable feedback.

[2020-06-02 08:50] #55573 closed

[2020-06-02 08:54] cocowalla opened #56161 "Create a DPS enrollment group?"
Enrollment groups aren't mentioned at all in this page - is it possible to create group enrollment groups using ARM templates?

Even if not, it would be useful to mention this limitation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c743a85c-a1c6-55df-88f1-a99198c6ce85
* Version Independent ID: 1e50c628-075f-d360-fd0

[2020-06-02 08:55] Klaas- opened #56162 "Support HANA 2.x SPS04 Rev 47"
Hello,
currently you are supporting "HANA 2.x <= SPS04 Rev 46". We're currently in the process of updating all our DBs to SPS04 Rev 47 (https://launchpad.support.sap.com/#/notes/2893339), when can I expect the new revision to be supported?

Or a more general question: How soon after revision releases can I expect them to be supported?

Greetings
Klaas

---
#### Document Details

⚠ *Do not edit thi

[2020-06-02 08:57] spaelling commented on #32607
As I have mentioned several times now, the new RG inherits the **CLUSTERS** tags. Please try that.

[2020-06-02 09:10] rudolphjacksonm commented on #20737
This worked for me and saved me the hassle of raising a support case, thanks!!!

[2020-06-02 09:20] nonoxp opened #56164 "Azure Function with Event Hub trigger"
Is this possible to have more information on event processing limitations and event processing error management in this document?

E.g.: Timeout per event or per batch?  (does it follow the settings specified in https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#timeout )

E.g.: Retry on error? (it is unclear when and how an event process is committed)

---
#### Document Detail

[2020-06-02 09:24] muad81 commented on #38660
Same issue here : Billing Period is not supported in (2019-10-01) API Version for Subscription Scope.
Latest working version at Subscription scope is  2019-01-01. Is there any ways to query this last version?

[2020-06-02 09:26] fannie666 opened #56165 "run into error when run the sample code given in step 5"
I tried to follow the exercise of step 5 in Runbook TestPane  and run into error like this. could anyone advice how should I proceed?

error :Connect-AzAccount : The term 'Connect-AzAccount' is not recognized as the name of a cmdlet, function, script file, or
operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try
again.
At line:12 char:

[2020-06-02 09:28] algattik opened #56166 "limited to 150 or 1000 concurrent runs?"
This text is not clear. A run is by definition active.

[code]

Perhaps the correct text is "A workspace is limited to 1000 jobs".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94757e87-8be2-3279-4a7e-51fbbaf7d678
* Version Independent ID: 9cfad152-bba2-390c-edce-63d3aba3f4fa
* Content: [Jobs API - Azure Databricks](h

[2020-06-02 09:32] scmeric commented on #56094
Hi Joshua,

Thank you for your quick response.&nbsp;
You answer is very helpful. It really works now.&nbsp;
I just personally suggest that you can add your comment to the guide file:
"If you've stored the file in the project folder you can directly address it by filename, but if it's in the session folder you need to use the ../ for the relative path. "

Wish you all the best.&nbsp;

---Original--

[2020-06-02 09:58] rilopes opened #56167 "Wrong reference to the required endpoints doc for AKS egress traffic"
[Enter feedback here]

Where is stated:
_"All egress endpoints defined in the [required egress endpoints](https://docs.microsoft.com/en-us/azure/aks/egress) must be enabled by application firewall rules for AKS clusters to function. Without these endpoints enabled, your cluster cannot operate."_

Should be:
_"All egress endpoints defined in the [required egress endpoints](https://docs.microsoft.co

[2020-06-02 10:02] MaximeRastello opened #56168 "License prerequisites?"
Hello,

Can you please advise if any license prerequisites for Azure AD must be met?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90fd487d-65b9-917b-4687-650b34dc4d81
* Version Independent ID: 27a18d45-66ab-bc71-d928-93f93fb190dd
* Content: [Tutorial: Configure SuccessFactors inbound provisioning in Azure Act

[2020-06-02 10:08] PhilipAnthonyMurray opened #56169 "Downstream consumption of rotated Key Vault secrets with Storage Account key rotation"
While there is integration between Azure Storage Accounts and Azure Key Vault to provide scheduled key rotation there does not appear to be a mechanism for integrating downstream applications to consume these secrets.

In our use case we have Azure Function Apps referencing a Key Vault secret within it's application settings as described in the [this article](https://zimmergren.net/azure-functions

[2020-06-02 10:09] EdPrice-MSFT opened #56170 "Typo"
There's a typo on this page. This description is listed for two features:

"Collaboratively edit and test your search instance by sharing it with members of your team."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 541259e1-3f1c-6dc6-db6a-d89082f29255
* Version Independent ID: 0f4990ab-e83e-542f-8bab-827f9734e0af
* Co

[2020-06-02 10:18] mlda065 opened #56172 "Computer Vision Python Quickstart doesn't work, imports fail"
# Steps to reproduce

1. Read [this page](https://docs.microsoft.com/en-us/azure/cognitive-services/Computer-vision/quickstarts-sdk/client-library?pivots=programming-language-python#feedback)
2. As per the prerequisites, use Python 3.7.5
3. As per the instructions, `pip install --upgrade azure-cognitiveservices-vision-computervision`
4. Copy-paste the first code sample:

[code]
5. Run this in pyth

[2020-06-02 10:22] ajay15283 commented on #55524
Thank you . The mentioned steps works perfectly

[2020-06-02 10:27] mlda065 commented on #56172
Even if I try to skip the imports I don't need, the examples still don't work.

[code]

[2020-06-02 10:32] Baneforce opened #56173 "The command az appconfig identity assign --na1. me contoso-app-config --group contoso-resource-group --identities [system] is wrong, the command requieres --name and --resource-group which are just spelled wrong in the example command"
The command

`az appconfig identity assign --na1. me contoso-app-config --group contoso-resource-group --identities [system]`

is wrong, the command requieres --name and --resource-group which are just spelled wrong in the example command

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7912ce43-5c51-2bc4-50d4-94c541b1bf

[2020-06-02 10:38] JJ11teen commented on #54999
Thanks @aahill, looking forward to upgrading to v3!

[2020-06-02 10:38] atrauzzi opened #56174 "Documentation for Postgres replicas seems contradictory"
Looking at the Azure interface, the replication toggles for Postgres mention nothing about a read replica:

![image](https://user-images.githubusercontent.com/115199/83510873-587dab00-a493-11ea-8bff-d74024779710.png)

Moreover, I see nothing in the documentation about what the "logical" option does.

What's confusing about these docs is that they don't specify:

 - Which modes support writes?
 - C

[2020-06-02 10:47] linda33wj commented on #35449
Thanks all for the feedback and sorry for the incorrect doc earlier. The section has been updated to clarify the current supported capabilities. We will continue evaluating the need to further smooth it. Please suggest/vote on https://feedback.azure.com/forums/270578-data-factory site.

#please-close

[2020-06-02 10:47] #35449 closed

[2020-06-02 10:47] linda33wj commented on #48606
Thanks all for the feedback and sorry for the incorrect doc earlier. The section has been updated to clarify the current supported capabilities. We will continue evaluating the need to further smooth it. Please suggest/vote on https://feedback.azure.com/forums/270578-data-factory site.

#please-close

[2020-06-02 10:47] #48606 closed

[2020-06-02 10:47] linda33wj commented on #52374
Thanks for the feedback and sorry for the incorrect doc earlier. The section has been updated to clarify the current supported capabilities. We will continue evaluating the need to further smooth it. Please suggest/vote on https://feedback.azure.com/forums/270578-data-factory site.

#please-close

[2020-06-02 10:47] #52374 closed

[2020-06-02 10:59] AdamSharif-MSFT opened #56175 "VM size "Standard_DS2_v3" for Windows nodes?"
I'm creating a Windows node pool, and I can't find the mentioned default size in any region:

**Standard_DS2_v3**

Is this is the correct size stated, or should it be Standard_DS3_v2?

If I try to deploy a Windows node pool with this size I see the following error:

_The behavior of this command has been altered by the following extension: aks-preview
Deployment failed. Correlation ID: 34ba5b56-cf

[2020-06-02 11:33] priyankareddy20 opened #56177 "https://docs.microsoft.com/en-us/azure/azure-monitor/platform/agent-windows-troubleshoot If the agent is communicating through a proxy server or firewall, there may be restrictions in place preventing communication from the source computer and the Azure Monitor service, firewall refers to azure/3rd party or any firewall??"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a361898-fec9-56af-5f66-2aae9ca4a503
* Version Independent ID: 0bf19d22-a89e-b988-fbd2-4631f87f9dc2
* Content: [Troubleshoot issues with Log Analytics agent for Windows - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/agent-windows-troubleshoot

[2020-06-02 11:34] priyankareddy20 opened #56178 "Azure security center, do we get firewall recommendations?? Azure firewall or 3rd party firewall recommendations are supported?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-06-02 11:35] priyankareddy20 commented on #56178
https://docs.microsoft.com/en-us/azure/security-center/security-center-network-recommendations

[2020-06-02 11:37] priyankareddy20 commented on #55277
I also see, dismiss alerts and recommendations in the table. There is no dismiss recommendations option in ASC.Kindly provide screenshot or steps if there is an option

[2020-06-02 11:38] priyankareddy20 opened #56179 "I also see, dismiss alerts and recommendations in the table. There is no dismiss recommendations option in ASC.Kindly provide screenshot or steps if there is an option"
I also see, dismiss alerts and recommendations in the table. There is no dismiss recommendations option in ASC.Kindly provide screenshot or steps if there is an option

_Originally posted by @priyankareddy20 in https://github.com/MicrosoftDocs/azure-docs/issues/55277#issuecomment-637482171_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-06-02 11:50] DixitArora-MSFT commented on #56164
Hi @nonoxp Thanks for reaching out. We will review and update as appropriate.

[2020-06-02 11:52] DixitArora-MSFT commented on #56147
Hi @dcbrown16 Thanks for reaching out. We will review and update as appropriate.

[2020-06-02 11:52] robabh opened #56180 "shared secret encoding"
[Enter feedback here]
The shared secret in the form of <clientid>:clientsecret gives an unauthorized error.

On further drilling I got this:
 "Unauthorized error that can occur if you do not use the proper options when encoding your clientID and Secret. The problem is that Azure requires the clientID and secret to be encoded with UTF-8 and "CRLF Windows" options. IDCS is using the default encoding

[2020-06-02 12:05] jdocampo opened #56182 "Clarification on groups and role assignments"
Hi, couple of comments on the Steps 1 and 2 of Access Control for Workspace:

In step 1, it indicates
Add Synapse_WORKSPACENAME_Admins to ProjectSynapse_WORKSPACENAME_Users
which I think is a typo and should be:
Add Synapse_WORKSPACENAME_Admins to Synapse_WORKSPACENAME_Users

Moreover, some explanation on this should be provided, such as group membership, permission inheritance and how to perform

[2020-06-02 12:17] yejiyang opened #56183 "how to Enable SSL endpoint for Azure Container instance using a certificate from a CA like Lets' Encrypt?"
[Enter feedback here]
This document provides a solution based on a self-signed certificate. Is it possible to provide a document based on the CA (like Let's Encrypt) provided certificate?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ed58f2c-446c-b500-122f-407628a8eb17
* Version Independent ID: bce3f5a3-45d8-6b93-522

[2020-06-02 12:20] jjindrich commented on #56160
I tried to hook private DNS zone creating and setup link to hub vnet. But getting this error:
{
    "status": "Failed",
    "error": {
        "code": "ResourceDeploymentFailure",
        "message": "The resource operation completed with terminal provisioning state 'Failed'.",
        "details": [
            {
                "code": "ScaleVMSSAgentPoolFailed",
                "message": "Unable

[2020-06-02 12:26] MonikaReddy-MSFT commented on #56150
@juunas11 , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-06-02 12:42] hiteshvadgama opened #56184 "Gateway-required Vnet Integration"
Couple of questions specific to Gateway-required Vnet Integration

1) Is the Azure Web App connection to the Azure resources behind the Gateway-required Vnet Integration using a public or private IP?

2) Can you Global Vnet Peer the Vnet which has the Gateway-required Vnet Integration, so that the Web App has access to resources in that globally peered Vnet?
---
#### Document Details

⚠ *Do not ed

[2020-06-02 12:53] #56065 closed

[2020-06-02 13:31] vipulsparsh commented on #55589
@ThijsLecomte  If the devices are Intune enrolled and platform is either IOS or Windows, the machineID would match up with the unique device Identifier of the device which is synced up in Intune Console by their Inventory management schedule which refreshes every 7 days.

That Intune deviceID can be then used to obtain the corresponding AAD Device ID.

[2020-06-02 13:42] ThijsLecomte commented on #55589
@vipulsparsh I have checked multiple customers/tenants and this matches for none.
Even though that I know for certain that these devices are AAD joined

[2020-06-02 13:53] andrewc513 opened #56186 "No Security Defaults Mention"
Tenants without Azure AD Premium should be enforcing MFA via Security Defaults.  This line makes no mention of that and recommends using a non-recommended method for these customers.

[https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/concept-fundamentals-security-defaults](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/concept-fundamentals-security-default

[2020-06-02 14:05] medavamshi commented on #54987
what does the --apiserver-visibility and –ingress-visibility options  actually do?  we are trying to limit exposing the public url for the aro 4.3 deployment.  are these the options i should choose during the deployment?  any other options to disable them after the deployment?

[2020-06-02 14:10] Rraghun opened #56188 "Not avaialble on Marketplace"
The image does not seem to be available on Marketplace anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83b469f4-b118-3ce8-852f-535661ded5e4
* Version Independent ID: f720f442-9dc7-a6d5-afd9-97e173cbae9d
* Content: [Set up high availability for Azure Resource Manager virtual machines - SQL Server on Azure VM](ht

[2020-06-02 14:14] awentzel commented on #20701
I have a wildcarded domain and it's working great on Azure CDN.  Can you be more specific to what you're trying to do?  Add SSL to your CDN or create a wild card for your subdomains in the rules engine?  This aspect I have not yet found a solution for.

[2020-06-02 14:18] jformacek commented on #26079
I'm getting error
<code>Get-AzKeyVaultManagedStorageAccount : Operation returned an invalid status code 'Forbidden'</code>
when running the command from automation runbook, logged in to Azure with SP for automation account. The same command works when running under user account.

I guess this is because SP is not supported for this as well?

If so, please take this as +1 for supporting SP when dea

[2020-06-02 14:19] glomaga opened #56189 "Is this error customizable? "Failed to establish connection to restful service end point within timeout limit 30 seconds. Restful service URL""
Hi

I want to know if it is possible to customize the message for this error. Something like “Service unavailable. Please try again.?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dff7a38-a459-4eb9-22fe-d225eeac5e34
* Version Independent ID: c3e92211-d07e-edec-3a08-eb68a26859bb
* Content: [Define a RESTful te

[2020-06-02 14:23] awentzel opened #56190 "How do I create a rule for CORS with subdomains"
I have a bunch of subdomains for which I would like to setup a CORS rule.  When I explicitly use "https://app.domain.com" it works great.  However, I want to use something more like, "https://*.domain.com", but have not found any documentation on supporting multiple wildcard subdomains?

My goals it for all of my subdomains, set `Access-Control-Allow-Origin` response for all requested headers acro

[2020-06-02 14:26] Jont-K opened #56191 ""Get Support" section is incorrect"
[Enter feedback here]
The steps outlined should be updated to reflect the most recent support flow.  The suggested values do not exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a4a35b2-e653-3199-1b07-f3e466ac1cb1
* Version Independent ID: 07da492b-dc77-1dbf-4712-922cb069c0ab
* Content: [Metered billing using the

[2020-06-02 14:28] odufresne opened #56192 "NSG Flow Logs Version 2 with Logstash / ELK"
Hi,

I've a new issue with the version 2 of the NSG Flow Logs.

I've tried the following link:
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/network-watcher/network-watcher-visualize-nsg-flow-logs-open-source-tools.md

It's mentionned that it will work with v1 but not the v2 of the flow logs, without modification. Can you help me about these modifications?

I think i've to chang

[2020-06-02 14:28] fabiomilheiro opened #56193 "User-managed identities don't work for the Key vault but system-assigned do"
In your article, it is stated:

I tried to get it to work for hours but couldn't and then I see those other issue #44614 telling us that user-assigned managed identities can't authenticate to Key Vault.

I was able to sort it out using system identities but would really prefer a user-assigned managed identity.

Could you help clarify when that is going to happen or where I can track that please?

[2020-06-02 14:37] rafnijs opened #56194 "There is invalid variable name in the code block:"
There is invalid syntax in the code block:
[https://docs.microsoft.com/en-us/azure/automation/troubleshoot/runbooks#resolution-10

   $job = $job | Get-AzAutomationJob _must be_  **$jobresults = $job | Get-AzAutomationJob**

original code:

_while((IsJobTerminalState $job.Status) -eq $false -and $waitTime -lt $maxTimeout) {
   Start-Sleep -Seconds $pollingSeconds
   $waitTime += $pollingSeconds

[2020-06-02 14:42] SaurabhSharma-MSFT commented on #56186
@andrewc513 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-06-02 14:43] BharathNimmala-MSFT commented on #56148
@dcbrown16  Thank you for your feedback, our team will look into it and get back to you at the earliest.

[2020-06-02 14:43] het-msft opened #56195 "Wrong IP Address Format"
[Enter feedback here]

In the section https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-network-interface-addresses#dynamic there is a wrong IP address format specified as 10.0.0.0.4 which is having 5 octets.

![image](https://user-images.githubusercontent.com/63858111/83533698-89022b00-a50d-11ea-8325-19683bc79fd5.png)

---
#### Document Details

⚠ *Do not edit this section. I

[2020-06-02 14:46] MisinformedDNA commented on #56044
@shashishailaj Thanks. I figured it out, but it still seemed weird that the documentation did not use a recent version of .NET Core. Given that .NET Core 3.1 is LTS, that seems like the appropriate version to target.

[2020-06-02 14:46] BharathNimmala-MSFT commented on #56157
@VigNelausen Thank you for bringing this to our notice , our team will look into it and have the document fixed.

[2020-06-02 14:48] cmmdesai commented on #56168
The licensing requirements are captured here: https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/plan-cloud-hr-provision#licensing

[2020-06-02 14:52] BharathNimmala-MSFT commented on #56165
@fannie666  Thank you for bringing this to out notice, we will look into it and get back to you at the earliest.

[2020-06-02 14:53] BharathNimmala-MSFT commented on #56162
@Klaas Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-06-02 14:56] BharathNimmala-MSFT commented on #56177
@priyankareddy20 Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-06-02 14:59] BharathNimmala-MSFT commented on #56191
@Jont-K Thank you for bringing this to our notice, i have assigned this issue to our document author @dsindona to further look into it and update the document accordingly.

[2020-06-02 15:00] GiftA-MSFT commented on #56104
@PatrickFarley please review above feedback for doc enhancement. Thanks.

[2020-06-02 15:03] rossdotpink commented on #55371
Hi @SumanthMarigowda-MSFT!

I believe @mmoioli is talking about the new Azure Image Builder (preview) documents.

For example: https://docs.microsoft.com/en-gb/azure/virtual-machines/windows/image-builder

I have followed this and at the end I get the same error: `location of the resource is required`.

Thanks!

Ross

[2020-06-02 15:04] mrbullwinkle commented on #55490
@rajkumar-rangaraj just to confirm, do we recommend low cardinality for both the dimension name + the dimension value or just the dimension name to allow for ease of splitting and things of that nature?

[2020-06-02 15:04] roelgillesen opened #56196 "Ability to add campaign code on lead creation"
Is there a way to define additional fields that are used to create a new lead in the salesforce lead creation? E.g. add a new custom field with a Campaign code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1a60d4c-0a7a-4deb-9687-047e3041acfe
* Version Independent ID: 2e2137fa-b152-1220-8855-23e33fcfb966
* Content: [

[2020-06-02 15:06] BharathNimmala-MSFT commented on #56107
@ThairAbdalla  Thanks again for bringing this to our notice, i have raised a PR to reflect the feedback. Once the PR is reviewed and approved later in this week the document will reflect accordingly.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your rep

[2020-06-02 15:06] #56107 closed

[2020-06-02 15:11] awentzel opened #56198 "What does the "Export" button do?"
When on Azure CDN Endpoint (Portal) and configuring the Rules Engine, to the right of "Add rule" is a "Export" button.  I cannot find any documentation on what this does.  I clicked on it expecting export of the configuration to maybe use elsewhere, for example, Azure CLI.

When I pushed it the message was "Successfully updated the endpoint's configuration settings", which then indicates maybe the

[2020-06-02 15:19] jagwaran commented on #55927
ok thanks.

[2020-06-02 15:19] #55927 closed

[2020-06-02 15:23] BrettNoake opened #56199 "Documentation Update"
[Enter feedback here]

This doc instructs you to sign out after activating a PIM role, which is supported by the screenshot on the page. In our tenant, we see a message after activating a PIM role that says "When the final stage completes your browser will automatically refresh. You do not have to sign-out and back in again." I'm assuming this is a new feature and the documentation needs to be upd

[2020-06-02 15:25] GiftA-MSFT commented on #56122
@aahill can you please help clarify? Thanks.

[2020-06-02 15:28] saikrishna-v opened #56200 "Option to hide create New Vnet."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3df019b-7033-935b-b0d2-4651cf973ee5
* Version Independent ID: 2e96264c-d8e9-7a8d-f39e-5f5e49f2115d
* Content: [VirtualNetworkCombo UI element - Azure Managed Applications](https://docs.microsoft.com/en-us/azure/azure-resource-manager/managed-applicat

[2020-06-02 15:29] MonikaReddy-MSFT commented on #56097
@zhenlan - Thank you for providing your insights.
@dgard1981 - I hope @zhenlan has answered your question.
I have updated the doc and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-02 15:29] #56097 closed

[2020-06-02 15:34] spelluru commented on #47957
Resolved the original issue.

#please-close

[2020-06-02 15:34] #47957 closed

[2020-06-02 15:35] seesharprun opened #56201 "Comprehensive List of Power Automate Connectors Without Equivalent Logic Apps Connectors"
In this documentation page, you mention that there are a few Power Automate triggers and connectors that prevent export because they do not have Logic App equivalents.

Is there a comprehensive way to find all Power Automate triggers/connectors that would run into this issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-06-02 15:37] ganganarayanan opened #56202 "Update the support ticket images to the latest experience"
The screenshots referenced in this document is pointing to the old case submission experience. Can you please ensure you are pointing to the latest screenshots? Ping me if you need them @ gangan@microsoft.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bb3e4b3-be5b-87f7-7d83-d62e98ccde78
* Version Independent ID: f

[2020-06-02 15:38] vinod83k commented on #55608
@AshokPeddakotla-MSFT can you please check with team that is there any way by which we can get a bigger tile image of satellite image instead of just 256x256. Actually we need a bigger or better resolution image to render on pdf. This small size image is of no use then because on rendering it on pdf the image gets distorted. Please suggest.

[2020-06-02 15:42] steveculshaw commented on #55646
@ecfan Nice one ... many thanks Esther

[2020-06-02 15:43] ms-jasondel commented on #54987
@medavamshi, these --*-visbility options control whether you get an Internal Standard Load Balancer or a Public Standard Load Balancer for the API server and Ingress controllers respectively.  With a --apiserver-visibility Private, you will only be able to use the oc cli or access OpenShift APIs from a node on the VNET or peered with that you deployed to, the API server will not have a publicly ro

[2020-06-02 15:50] SadiqhAhmed-MSFT commented on #56162
@pvrk To share an update on this.

[2020-06-02 15:50] KranthiPakala-MSFT commented on #56166
@algattik Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will update as appropriate

[2020-06-02 15:51] spelluru commented on #41397
#please-close

[2020-06-02 15:51] #41397 closed

[2020-06-02 15:54] Chris-May commented on #55888
Hi, @normesta! Sorry for the delay, I didn't see my notification.
It's hard to say from the outside what specific part of the documentation is incorrect, as it seems from my perspective that there are multiple mismatches.

And I'm now seeing that I may have misunderstood terminology...
At the beginning of the [Static website hosting documententation](https://docs.microsoft.com/en-us/azure/storage/

[2020-06-02 15:58] the-blesss commented on #56129
Hi @KrishnaG-MSFT, thanks for the reply. It turns out I got the existing code to work properly when running from Cloud Shell in the Azure Portal and shell.azure.com. I was not sure if this was a bug, but I have a valid work-around. Here is the working block of code:

#Get existing VNETs
$vnets = Get-AzVirtualNetwork -ResourceGroupName $networkRG
$vnets | Where-Object -Property Name -match "spoke"

[2020-06-02 15:58] rbrundritt commented on #55608
There isn't other size available at this time. It is however possible to download multiple tiles and stich them using the tile schema: https://docs.microsoft.com/en-us/azure/azure-maps/zoom-levels-and-tile-grid?tabs=csharp In fact, if your image needs less than 15 tiles, this would work out cheaper than using the Map Image service.

[2020-06-02 16:02] NillsF opened #56203 "CDN diagnostics page uses old OMS portal"
The documentation page for CDN referring to how to integrate with Log Analytics has screenshots and mentions of the old OMS portal. That portal has been removed over a year ago, so it might make sense to update this documentation page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcb610fc-6d66-a9a1-703a-ea027359d56f

[2020-06-02 16:07] AjayKumar-MSFT commented on #55728
@ShugoYoko,  Yes, for a new certificate to be accessible in the app code, its thumbprint needs to be added in the WEBSITE_LOAD_CERTIFICATES app setting. The configuration is not just specific to one WebApp, it is scoped to the App Service Plan that houses it. In the sense, the certificate will be available by all the apps in the same App Service Plan as the app which configured that setting.  If y

[2020-06-02 16:07] #55728 closed

[2020-06-02 16:15] SaurabhSharma-MSFT commented on #55478
@davida1992 please let us know if you still have questions.

[2020-06-02 16:16] asergaz commented on #53040
@chrsi for a better help from the communit, and as this is not related with the doc can I kindly ask you to start a new thread on Microsoft Q&A?

- [azure-iot-hub](https://docs.microsoft.com/en-us/answers/topics/azure-iot-hub.html)

Please reference this issue when you do so.
Thank you

[2020-06-02 16:18] curtstate opened #56205 "I'm confused if I need proxies on the root namespace and how I get them if I deployed with any other tool"
The diagram is really helpful in understanding how devspaces works but what is still missing from reading here is where do the devspaces-proxy containers come from when I'm deploying with any other tool such as skaffold?

Do I need to deploy the services to the root devspace with the proxies (with proxies would make sense)?

If I need those proxies on the root devspace pods, how I get them on ther

[2020-06-02 16:19] mariuszdotnet opened #56206 "Create the image step"
When running the "az cli command" for create image step the following error occurs, I'm following the vanilla steps outline in this article.

ERROR: location of the resource is required

az resource create --verbose \

AZ CLI Version Details:

azure-cli                          2.6.0

command-modules-nspkg              2.0.3
core                               2.6.0
nspkg

[2020-06-02 16:23] markjbrown commented on #56151
I cannot confirm whether analytical store is deployed in our China cloud. Please contact support for assistance.

Thanks.

#please-close

[2020-06-02 16:23] #56151 closed

[2020-06-02 16:25] SatishBoddu-MSFT commented on #55765
@michuny25 Just checking back, please let us know if you need further help.

[2020-06-02 16:26] Snozzberries opened #56207 "Permissions to install Mobility service"
https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-tutorial-prepare-on-premises#prepare-an-account-for-mobility-service-installation

The section does not describe requisite permissions to install service (Local Admin).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e51d5a5-22bd-c754-f9da-1ece3da2d688
*

[2020-06-02 16:27] JanNepras commented on #56089
@SnehaAgrawal-MSFT What is the status? We need to release this asap and this is blocking us?

[2020-06-02 16:28] MarileeTurscak-MSFT commented on #56132
@starforce
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-02 16:29] MarileeTurscak-MSFT commented on #56133
@marc-gmail-towersap please link the document you are following so that we can better assist.

[2020-06-02 16:30] MarileeTurscak-MSFT commented on #56135
@sachamicrosoft please link the document you are following so that we can better assist.

[2020-06-02 16:31] AjayKumar-MSFT commented on #55563
@pmummi,  For your scenario, use regional VNet integration and Standard App Service Plan should work.

To isolate the issue on the configuration, this doc highlights on how to call to private endpoints - https://docs.microsoft.com/azure/app-service/web-sites-integrate-with-vnet#regional-vnet-integration , kindly review these settings and then check.

**Azure DNS Private Zones :** After your app in

[2020-06-02 16:31] #55563 closed

[2020-06-02 16:33] ecfan commented on #56201
Hi @seesharprun,

Thanks for reaching out! Try the [Connectors docs](https://docs.microsoft.com/connectors/connector-reference/), which now have pages that show whether Power Automate connectors are available in Logic Apps and vice versa, based on their icons:

* To find which Power Automate connectors are available in Logic Apps, see [Power Automate connectors](https://docs.microsoft.com/connecto

[2020-06-02 16:33] MarileeTurscak-MSFT commented on #56136
@juliusl
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-02 16:34] tfitzmac commented on #55859
@nasarbasha - thanks for this suggestion. I am adding that information to this article.

[2020-06-02 16:35] MarileeTurscak-MSFT commented on #56141
@ashmatty
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-02 16:35] #56201 closed

[2020-06-02 16:35] MarileeTurscak-MSFT commented on #56143
@idmcn
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-02 16:36] ecfan commented on #56201
#assign @ecfan

@PramodValavala-MSFT, @mike-urnun-msft, or @DixitArora-MSFT, please add the "doc-enhancement" label? Thanks!

[2020-06-02 16:38] BharathNimmala-MSFT commented on #56194
@rafnijs Thank you for bringing this to our notice, we will look into it and update the document accordingly.

[2020-06-02 16:38] MarileeTurscak-MSFT commented on #56144
@xuejl-microsoft
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-02 16:39] MarileeTurscak-MSFT commented on #56149
@313mlclub please specify the document that you are following so that we can better assist.

[2020-06-02 16:39] bsocca opened #56208 "Sign in Frequency & MFA with Azure AD registered / Hybrid AAD Join devices clarifications"
Hi,

I would like some clarifications about this particular part : https://docs.microsoft.com/en-us//azure/active-directory/conditional-access/howto-conditional-access-session-lifetime#user-sign-in-frequency-and-multi-factor-authentication
When MFA is enforced on a CA policy for an app (sign in frequency = every hour), does unlocking a registered device allow to bypass the MFA prompt ?

Concrete u

[2020-06-02 16:39] vinod83k commented on #55608
@rbrundritt  The feature which are we are trying to achieve is to render Azure Maps on pdf using wkhtmltopdf C# wrapper.
Also, I would like to provide you the different approaches we tried to achieve it but not been able successful.
1. We tried to use Azure Map REST Api's to get different map images i.e., satellite map image and overlayed it with hybrid map image (with pins). The problem we are fa

[2020-06-02 16:41] MarileeTurscak-MSFT commented on #56153
@yilongli
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-02 16:42] MarileeTurscak-MSFT commented on #56154
@da1rren
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-02 16:43] KrishnaG-MSFT commented on #56129
Hi Matt @the-blesss, Glad to know that you have self resolved the issue! 👍
Closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-06-02 16:43] #56129 closed

[2020-06-02 16:48] tksh164 commented on #55231
@mimckitt - Thank you for your update. I will be waiting for the document update.

[2020-06-02 16:50] tfitzmac commented on #55859
The update will be published later today.
#please-close

[2020-06-02 16:50] #55859 closed

[2020-06-02 16:53] vignatov commented on #47611
Is there any update on this?

[2020-06-02 17:02] rbrundritt commented on #55608
Ok, some comments;

For #1, there are several REST API's, there are "Map imagery tile" API, which returns the 256x256 map tiles you mentioned. There is also the "map image" API which returns map images of larger size, but doesn't currently support satellite imagery. It is possible to use the satellite tiles and stich them together to make a larger image.

For #2, I'm not familiar with wkhtmltopdf,

[2020-06-02 17:02] GiftA-MSFT commented on #55793
@portacha there may be a dependency on your end, I'm not entire sure what the issue may be. Since this is not a doc related issue, to get faster response, I encourage you to post this question on [QnA](https://docs.microsoft.com/en-us/answers/products/) forum for the community to help. Thanks.

[2020-06-02 17:02] #55793 closed

[2020-06-02 17:05] SnehaAgrawal-MSFT commented on #55942
@rodrigb Since we didn't hear from you.  We will move towards to close this out but if you feel you need more information please just let us know.

[2020-06-02 17:05] #55942 closed

[2020-06-02 17:06] m-andersen commented on #47611
I recommend switching auth part to Firebase. We did that. It is easy to integrate and supports so many more identity providers.

[2020-06-02 17:06] GiftA-MSFT commented on #55784
I will proceed to close this thread but feel free to comment if you would like the thread to be re-opened. Thanks.

[2020-06-02 17:06] #55784 closed

[2020-06-02 17:07] saikrishna-v commented on #56200
User-friendly input parameters, If users don't want to select new vnet, and use existing. For example it has applied with many security policies, VPN in on the Vnet.

[2020-06-02 17:07] GiftA-MSFT commented on #55867
I will proceed to close this thread but feel free to comment if you would like the thread to be re-opened. Thanks.

[2020-06-02 17:07] #55867 closed

[2020-06-02 17:08] saikrishna-v commented on #53936
Thanks for the update. @davidsmatlak Looking forward for the change to incorporate.

[2020-06-02 17:21] sdasilva opened #56210 "Incorrect pip install flag -user. Shoud be --user"
[Enter feedback here]
Under 'Install a new package', the code example is incorrect.
Existing:

import sys
!{sys.executable} -m pip install PackageToBeInstalled –user

Fix: The pip install argument should be --user.

import sys
!{sys.executable} -m pip install PackageToBeInstalled --user

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-06-02 17:25] Mike-Ubezzi-MSFT commented on #55839
Adding a note that the [delete column](https://docs.microsoft.com/en-us/sql/relational-databases/tables/delete-columns-from-a-table?view=sql-server-ver15) operation is supported by Synapse Analytics.

[2020-06-02 17:27] GiftA-MSFT commented on #56172
@mlda065 we will review your feedback and get back to you shortly. Thanks.

[2020-06-02 17:29] GiftA-MSFT commented on #56170
@EdPrice-MSFT we will review your feedback and get back to you shortly. Thanks.

[2020-06-02 17:29] MonikaReddy-MSFT commented on #56205
@curtstate , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-06-02 17:30] NavtejSaini-MSFT commented on #56158
@harisubramaniam1 We are checking this and will get back to you.

[2020-06-02 17:40] SumanthMarigowda-MSFT commented on #55912
@SeanFeldman Apologies for the delay in responding here!Your feedback has been shared with the content owner for further review.

[2020-06-02 17:45] azaricstefan commented on #56182
Hi @jdocampo

You are correct, there is a typo for step 1.
Thank you for raising this! I just added more informations related to the AAD groups in notes.

Related to

WORKSPACENAME is a placeholder for the actual workspace name, role in this case is Storage Blob Data Contributor.

Changes will be visible soon in the documentation when reviewers approve the change.

[2020-06-02 17:49] memildin opened #56211 "The generic agent isn't called the "OMS Linux agent""
The first note on this page has a mistake.

_You may also see the Log Analytics agent referred to as the Microsoft Monitoring Agent (MMA) or OMS Linux agent._

The agent comes in Linux and Windows flavours. So the generic page covering both shouldn't say that it might be called **OMS Linux agent**.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-06-02 17:50] NavtejSaini-MSFT commented on #55938
@tknandu Can you please check if this information can be added.
@tamusjroyce We are assigning this to our author for checking if this info can be added.

[2020-06-02 17:51] NavtejSaini-MSFT commented on #55826
@yegu Can you please check the feedback and provide your input

[2020-06-02 17:53] JamesTran-MSFT commented on #56202
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-02 17:55] JamesTran-MSFT commented on #56199
@BrettNoake

Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-02 17:57] vignatov commented on #47611
Firebase is interesting, but quite a bit pricier in our case. If MS does it this month I would prefer to wait than to jump the gun. The only thing which does not work now is EasyAuth integration, we need to know if it is going to be supported or we should find alternative solution.

[2020-06-02 17:57] rpilot opened #56212 "NSG deployment diagram issue"
The picture that illustrates different scenarios for how NSG deployment is a bit incorrect (https://docs.microsoft.com/en-us/azure/virtual-network/media/security-groups/nsg-interaction.png).
It should show VM2 connection through NSG1 and not directly to Internet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e905802-

[2020-06-02 17:58] BrettNoake commented on #56199
Thanks James. Here’s what I see when I activate a role via PIM. The message at the bottom is what has changed.

[cid:image001.png@01D638DD.76D6E110]

Brett Noake
Digital Workplace Administrator
Chevron Phillips Chemical Company
832-458-3560

From: James Tran - MSFT <notifications@github.com>
Sent: Tuesday, June 2, 2020 12:55 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Noake

[2020-06-02 18:03] AjayKumar-MSFT commented on #55799
@tiptop96, Thanks for bringing this to our attention. We have assigned the issue to the content author  for further review and update the document as appropriate.

[2020-06-02 18:06] m-andersen commented on #47611
Your choice. Using Firebase auth is for free, which is the only thing that must be added on top of App service. Other services might cost something.

[2020-06-02 18:13] ecfan commented on #56201
@seesharprun, the update is now live.

[2020-06-02 18:18] AjayKumar-MSFT commented on #55965
@porrascarlos802018,  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2020-06-02 18:18] #55965 closed

[2020-06-02 18:19] AjayKumar-MSFT commented on #56004
@rodrigb, We will close this out, but if you feel you need more information please just let us know. Thanks again for your feedback.

[2020-06-02 18:19] #56004 closed

[2020-06-02 18:19] jagarg commented on #55839
@Mike-Ubezzi-MSFT
Is it working now?

[2020-06-02 18:21] Mike-Ubezzi-MSFT commented on #55839
No, just adding a reference that a delete column operation is a valid operation. In the process of escalating this now.

[2020-06-02 18:22] nibaccam commented on #55223
@CESARDELATORRE thank you for reporting this. An internal doc and product work item has been created to address this issue. We will now proceed to close this thread.

#please-close

[2020-06-02 18:22] #55223 closed

[2020-06-02 18:22] maximkornilov commented on #45397
I have exactly the same problem. There is no `CloudBlob.OpenReadAsync` method override which takes the first argument of type `bool`. Guys, can you specify, from what package or exact package version this method comes from. I tried several different release and pre-release versions of `Microsoft.Azure.Storage.Blob` package (and others). Nothing helped me.

[2020-06-02 18:24] DixitArora-MSFT commented on #55836
@fhtino Static class is not a requirement, but a sensible default. I can't think of a good reason not to make it static, but if you have one - there's nobody to stop you.

This is also explained in this : https://medium.com/@rogger.rfs/azure-functions-v2-dependency-injection-via-constructor-80e27509b4fb#:~:text=Recently%2C%20Microsoft%20enabled%20instance%20methods,and%20methods%20for%20our%20func

[2020-06-02 18:24] #55836 closed

[2020-06-02 18:31] DixitArora-MSFT commented on #55919
@axisc Appreciate your inputs in this ?

[2020-06-02 18:32] JamesTran-MSFT commented on #56169
@PhilipAnthonyMurray

Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-02 18:32] nasarbasha commented on #55859
Thanks you very much!

[2020-06-02 18:39] stevestein commented on #52543
@cbailiss - thanks for raising this issue.

The table is not an exhaustive list and only mentions DTUs in the link below the table for a complete list.

#please-close

[2020-06-02 18:39] #52543 closed

[2020-06-02 18:40] jdocampo commented on #56182
Hi @azaricstefan
First thanks for the quick response :)

So WORKSPACENAME relates to the Managed Identity created for the workspace?
That will make senses, although I thought that role assignment was automatically done on the workspace provisioning for the default storage.

If that's the case, maybe a prior mention to the managed identity will help to clarify things.

Again, many thanks!

[2020-06-02 18:41] MikeRayMSFT commented on #56188
Updated at https://github.com/MicrosoftDocs/azure-docs/commit/76495d903b5e59470a90c511a0728c6840b12994 #please-close

[2020-06-02 18:47] MikeRayMSFT commented on #56188
@Rraghun thanks for submitting this issue. The article was recently updated, and when I follow the latest text, I see the image in the Marketplace.

The instructions are:

## Provision the cluster from the gallery

Azure provides a gallery image for the entire solution. To locate the template:

1. Sign in to the Azure portal by using your account.
2. In the Azure portal, select **Create a resource

[2020-06-02 18:48] MikeRayMSFT commented on #56188
@Rraghun if you can not see it, please re-open the issue.

Thank you,
Mike

[2020-06-02 18:54] azaricstefan commented on #56182
Name of the Managed Identity is same as name of the workspace.

Managed identity is assigned Storage Blob Data Contributor role only if you choose storage account from the dropdown menu, if you added manual config to the storage during provisioning of the workspace then you should assign permissions to the Managed Identity manually.

[2020-06-02 18:57] TechWatching opened #56214 "How do you set preAuthorizedApplications using Powershell"
This page does not mention how to set the preAuthorizedApplications using Powershell. Manually editing the manifest.json is nice but when it's needed to automate the creation and configuration of an app registration being able to do it in PowerShell i really needed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f7ced

[2020-06-02 19:03] bhavikbhakta commented on #55049
This issue has happening for a few of our users as well.  Others are working as normal.  Diagnostics show no errors.

[2020-06-02 19:04] arbarik opened #56215 "Azure function tools version 3.0 doesn't show java worker runtime"
[Enter feedback here]

Hi ,

I was using Azure function tools 3.0.2245. func init command allows me to choose the worker runtime.

This version is not of Azure function tool, is not showing Java as a worker runtime. version 2.x was showing Java worker.

$ func version
3.0.2245

$ func init
Select a number for worker runtime:
1. dotnet
2. node
3. python
4. powershell

is Java no longer supported on

[2020-06-02 19:07] AjayKumar-MSFT commented on #56021
@simo-92, Thanks for sharing the documentation URL and additional details.  I have assigned the issue to a subject matter expert on this topic for further review, in the meanwhile you may checkout suggestions received on your [SO ](https://stackoverflow.com/questions/62104159/msal-consent-problem-in-a-multi-tier-app-registration-angular-netcore-webapi) thread and see if it helps.

[2020-06-02 19:08] Mike-Ubezzi-MSFT commented on #55964
@langstonj We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-02 19:08] #55964 closed

[2020-06-02 19:08] scarson opened #56216 "Missing benchmarks for Standard_Dds_v4 series"
The new Dd(s)_v4 series VMs do not yet have published compute benchmarks.
https://docs.microsoft.com/en-us/azure/virtual-machines/ddv4-ddsv4-series

Having benchmarks would help Azure customers evaluate whether using/switching to this new series would benefit their workloads.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-06-02 19:16] Rraghun commented on #56188
thanks I have seen it in the past. But interesting I do not see it. Tried Publisher "ALL" and do not see it either.

![image](https://user-images.githubusercontent.com/55004480/83560272-f8fbbb80-a4e3-11ea-8dcc-e80bdb636dfd.png)

[2020-06-02 19:16] divyaswarnkar commented on #55840
@kulpras what are you seeing ? Failure ?

[2020-06-02 19:31] rothja commented on #31167
@Waterfox83 Thanks for raising this issue, and sincere apologies for the delay in responding. Since you filed this issue, that statement has been removed or revised. I'm sorry if it was misleading in any way. Since the article has been updated, I am going to close this issue, but thanks again for your feedback. #please-close

[2020-06-02 19:31] #31167 closed

[2020-06-02 19:42] AjayKumar-MSFT commented on #56036
@ashooner, No worries. Glad to know that the issue is sorted out.
Much appreciate the follow-up and thanks for the update.

Gen4 hardware is being phased out and is no longer available for new deployments. All new databases must be deployed on Gen5 hardware.
Gen5 is available in most regions worldwide.

Kindly checkout this [documentation ](https://docs.microsoft.com/azure/azure-sql/database/servi

[2020-06-02 19:42] #56036 closed

[2020-06-02 19:42] vikaskumawat80 opened #56217 "Does Private DNS zone works over Azure P2S VPN?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45e46665-a97e-8ea2-8180-47911bfa1b70
* Version Independent ID: 959ba230-0023-70d0-4b91-c17c5dbedc16
* Content: [Scenarios for Private Zones - Azure DNS](https://docs.microsoft.com/en-us/azure/dns/private-dns-scenarios)
* Content Source: [articles/dns/

[2020-06-02 19:44] vikaskumawat80 commented on #56217
I have Private DNS Zone linked to a VNET and VPN configured in the same VNET. When trying to access the service from the VNET, it works but not over P2S VPN? If it is supported, then what is the workaround?

[2020-06-02 19:49] vikaskumawat80 opened #56218 "Not able to access cluster over P2S VPN but can access from Peered VNET"
[Enter feedback here]
Deployed Private cluster and able to access from VNET and peered VNET. But when trying to access the Cluster from Azure P2S VPN then it is not working. If it is not supported, then what is the workaround?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b68f2c4-bb6c-11a2-6c61-8af4057a2438
* Version

[2020-06-02 19:54] rothja commented on #32134
@allenwux @Ccccche @sc-bperry It looks like this is a product bug rather than a documentation issue. If you think the documentation is wrong or misleading in this scenario, please let us know, and we'll investigate further how to improve the docs. It looks like maybe there have been some work arounds that you've found, so I hope this hasn't been blocking you during this time. What I would suggest

[2020-06-02 19:54] #32134 closed

[2020-06-02 19:55] rothja commented on #32134
#assign:rothja

[2020-06-02 19:58] fhtino commented on #55836
@DixitArora-MSFT  I know that I can use static and non-static method. If I use constructor injection, I need non-static methods (ref. "The use of constructor injection requires that you do not use static classes."  https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#use-injected-dependencies )

The point I wanted to highlight when I opened this issue about

[2020-06-02 20:05] MarileeTurscak-MSFT commented on #56159
@triple-it
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-02 20:05] BharathNimmala-MSFT commented on #55726
Thank you @reyang for helping on the thread.

@Johnnytechn Can you please review the information shared by @reyang and revert back if you have any further questions.

Hope the above information helps. At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your rep

[2020-06-02 20:05] #55726 closed

[2020-06-02 20:05] shooker opened #56221 "Open <a> tags"
There are several open link tags that are causing parts of the page to look like links.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2d2e8b3-2cac-86e9-940a-b6a087d5e151
* Version Independent ID: 5dd14dc7-472f-23bf-d131-d6ee61dc3e24
* Content: [Invalid template errors - Azure Resource Manager](https://docs.microsoft.

[2020-06-02 20:09] BharathNimmala-MSFT commented on #56221
@shooker Thank you for bringing this to our notice, we will look into the issue and fix the document accordingly.

[2020-06-02 20:12] stevestein commented on #29839
Thanks for raising this issue. This article has changed a bit since this issue was originally opened and from the comments it looks like some support questions rather than documentation feedback.
Try one of the following links depending on your situation:

- [Azure Q&A](https://docs.microsoft.com/answers/products/azure?product=databases)
- [SQL Server forums](https://social.msdn.microsoft.com/Foru

[2020-06-02 20:12] #29839 closed

[2020-06-02 20:16] Mike-Ubezzi-MSFT commented on #16990
@ramkumar-b I don't see support for version 3.x but you could create a new issue and ask the question. The integration engineering team will be able to respond with updated information. I only see support for version [1.x](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-twilio?tabs=csharp#packages---functions-1x) and [2.x](https://docs.microsoft.com/en-us/azure/azure-func

[2020-06-02 20:17] alexvy86 opened #56222 "Can't understand what one of the known issues is trying to say"
I can't quite understand what [this entry](https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security#grant-access-from-an-internet-ip-range) in the list of known issues, is trying to say, specifically this part:

Clients in VNet N1 **must** access blob storage from account A2 using a private endpoint... but if that private endpoint doesn't exist, then they **still can** access

[2020-06-02 20:18] rothja commented on #37483
@eazykiel Thanks for the feedback. @allenwux, according to the mentioned [stack overflow thread here](https://stackoverflow.com/questions/52208577/azure-data-sync-failed-to-perform-data-sync-operation-table-do-not-have-cluste) the clustered index is a requirement for SQL Data Sync. Is this still the case? I'm thinking we could make this requirement more clear in [the troubleshooting article here](

[2020-06-02 20:21] vikaskumawat80 opened #56224 "Access through hostname is not working after enabling Private endpoint"
We enabled Private endpoint on a PostgreSQL Server. After enabling that we can no longer access using the hostname of the server while we can access using Private IP of the endpoint. Is it by design? If not, what is the solution?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77e23acd-1ca5-ee48-5706-273f1d4327b9
* Vers

[2020-06-02 20:24] KumudD commented on #55503
#reassign: amitsriva

[2020-06-02 20:26] KumudD commented on #53088
#please-close

[2020-06-02 20:26] #53088 closed

[2020-06-02 20:38] VanMSFT commented on #37293
Azure AD Logins for SQL Database that has access to all databases on the logical server is currently not supported. You will still need to create users in that that database, and provide the appropriate permissions.

[2020-06-02 20:40] KumudD commented on #34567
#reassign: EricTheRed999

[2020-06-02 20:41] #37293 closed

[2020-06-02 20:47] Hasil-Sharma opened #56226 "Tumbling Window Trigger BackFill"
Hey,

My TWT has typeProperties as below:
[code]
Please note that startTime is in one year past. With configuration set like this TWT starts only one instance of my pipeline starting from the (startTime, startTime + 5 minutes) window and continues with other time windows after the previous one has completed.

Though with "delay": "00:10:00" I expected 10 minute delay between finish of last executi

[2020-06-02 20:48] MarileeTurscak-MSFT commented on #56141
Thanks! Made a pull request to update the doc. https://github.com/MicrosoftDocs/azure-docs-pr/pull/117467

[2020-06-02 20:48] #56141 closed

[2020-06-02 20:54] kgremban commented on #55173
Ah, I see. Thank you for clarifying. This article is only meant to help customers use the courtesy scripts that are provided for those who want to try out IoT Edge features without investing in their own certificate authority. I try to keep all the scenario explanations and decisions in the set of three articles about setting up your gateway and your downstream device, and then point out to resour

[2020-06-02 20:57] MicrosoftGuyJFlo commented on #56208
It depends, if the unlock is using Windows Hello for Business, it will include MFA as well, which mean that there will be no additional MFA required. If not, MFA should be prompted.

[2020-06-02 20:58] TravisCragg-MSFT commented on #56195
@het-msft Thanks for the feedback! I have fixed the IP Address, and the docs should reflect the change within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-02 20:58] #56195 closed

[2020-06-02 20:59] JamesTran-MSFT commented on #56199
@BrettNoake
I was able to look into your issue and will post my findings below.

**Findings:**
1. When activating the PIM role, you're correct. The "status" screen is different from what the current documentation presents.
![image](https://user-images.githubusercontent.com/36619112/83567905-33ab2700-a4d7-11ea-8380-f74405a6d13a.png)

2. After activation completed my browser did automatically refres

[2020-06-02 21:01] ashtmMSFT opened #56230 "MR STS endpoint is dependent on the ASA account domain"
The document needs to be updated to reflect that the endpoint for the Mixed Reality STS is dependent on the Spatial Anchor account's "account domain".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d43bc57-798b-d3a4-5f31-a22f9ef99b2d
* Version Independent ID: dff6c910-70a8-6441-c67a-c66ec5e01cbb
* Content: [Authentica

[2020-06-02 21:01] BharathNimmala-MSFT commented on #56221
@shooker Thanks again for bringing this to our notice, i have raised a PR once its reviewed and approved will get merged to the document later in the week.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread an

[2020-06-02 21:01] #56221 closed

[2020-06-02 21:01] kgremban commented on #55157
I'm closing this issue as a duplicate of #55154 where we have had a conversation about the new wording that I'm applying to all three gateway articles.

#please-close

[2020-06-02 21:01] #55157 closed

[2020-06-02 21:01] TravisCragg-MSFT commented on #56212
@rpilot Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-02 21:04] SatishBoddu-MSFT commented on #56161
@cocowalla Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-02 21:05] kgremban commented on #55166
@rgamage Thanks for pointing this out. This issue is similar to #55156 in that some content from the linked article was moved into the prerequisites, but references to it still existed. I'm reintroducing information about generating the root CA certificate and device CA certificate back into that article, so this prerequisite should make sense again.

[2020-06-02 21:06] felickz opened #56231 "Web.TPEngine.Providers.RestfulProvider - Timeout and Retry Policy"
Please consider adding documentation around retry and timeout defaults (no clear ability to override behavior).

See: https://github.com/MicrosoftDocs/azure-docs/issues/44844

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dff7a38-a459-4eb9-22fe-d225eeac5e34
* Version Independent ID: c3e92211-d07e-edec-3a08-eb68a26859b

[2020-06-02 21:07] felickz commented on #44844
@amanmcse  would be useful to add this to official docs

- https://docs.microsoft.com/en-us/azure/active-directory-b2c/restful-technical-profile
- https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-rest-api-intro

[2020-06-02 21:08] nakkeerann opened #56232 "Resource application is not created"
A resource application for Azure API for FHIR is not created, when the service is created. Is it not happening on Azure FHIR API service creations now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0faed07-4f86-a93e-5589-50808634138d
* Version Independent ID: 9ef02b20-e6d3-ac71-d6fe-923e45d73c97
* Content: [Register

[2020-06-02 21:09] MikeRayMSFT commented on #56188
Interesting. Thanks. I'll loop in some colleagues.

[2020-06-02 21:12] BrettNoake commented on #56199
Thanks James,

Regarding the activation, my browser did refresh and show the role was activated. In this case, I activated SP Admin role for myself however when I went to the SP Admin center I still only had my global reader rights and could not make any changes. I went ahead and opened a ticket for that. Thank you for the fast response and taking care of the documentation.

Brett Noake
Digital Wo

[2020-06-02 21:13] kgremban commented on #55154
Since we agreed on this new wording, I'll have GitHub automatically close this issue once the pull request with the changes gets merged. Thanks again for your help!

[2020-06-02 21:14] kgremban commented on #55163
Since this was a straightforward fix, I'll have GitHub automatically close this issue once the pull request with the changes gets merged. Thanks again.

[2020-06-02 21:14] TravisCragg-MSFT commented on #56217
@vikaskumawat80 Private DNS Zones will NOT work over P2S VPNs. As a workaround, you will need to manually add the DNS entry to the P2S machines.

If you would like us to add this functionality in the future, [please leave your feedback Here](https://feedback.azure.com/forums/217313-networking?).

We will now proceed to close this thread. If there are further questions regarding this matter, please

[2020-06-02 21:14] #56217 closed

[2020-06-02 21:16] csvdarius opened #56233 "Start-AzDataFactoryV2Trigger fails to start certain tumbling window triggers"
Using the Azure Data Factory PowerShell command [Start-AzDataFactoryV2Trigger](https://docs.microsoft.com/en-us/powershell/module/az.datafactory/start-azdatafactoryv2trigger) to start a child tumbling window trigger with a dependency refuses to start, yet setting these triggers to start within the Authoring GUI (adf.azure.com) and "Publishing" the changes works just fine - every time.

The only ch

[2020-06-02 21:24] TravisCragg-MSFT commented on #56115
@shooker Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-02 21:28] AjayKumar-MSFT commented on #55930
@Soichi-Fukasawa, The requested changes have been merged. The document will reflect the changes within 24 hours.  We will close this out, but if you feel you need more information please just let us know. Thanks again for your feedback.

[2020-06-02 21:28] #55930 closed

[2020-06-02 21:28] chrisfromwork commented on #55916
@asergaz  and @Mike-Ubezzi-MSFT I do not believe that @julianparismorgan still works at microsoft

[2020-06-02 21:31] JamesTran-MSFT commented on #56199
Assigned issue to author to update screenshot.

New "Status" page:
![image](https://user-images.githubusercontent.com/36619112/83567905-33ab2700-a4d7-11ea-8380-f74405a6d13a.png)

[2020-06-02 21:35] TravisCragg-MSFT commented on #56153
@yilongli It is based on a combination of both. In order to take advantage of the FPGA-based Smart NICs, you will need to use the Mellanox drivers on your VM.

[2020-06-02 21:38] MarileeTurscak-MSFT commented on #56160
@jjindrich
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-02 21:40] dlepow commented on #55653
@hansmbakker - We don't currently document performance expectations for Azure file shares with container instances specifically. Azure docs include a number of related topics about file share performance, which should help for deployments with many services. Examples:

* [Azure Files performance and scalability targets](https://docs.microsoft.com/azure/storage/files/storage-files-scale-targets)
*

[2020-06-02 21:40] #55154 closed

[2020-06-02 21:40] #55163 closed

[2020-06-02 21:42] lleonr202 opened #56234 "Named locations (Preview) does not appear in the what if tool."
Although the name locations are working for conditional access, at the moment when we try to check the details in the what if tool is not working, the behavior that is expected is not the one that the what if tool shows.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74b164a7-31c5-7cb3-c8e2-7533d375bd43
* Version Indep

[2020-06-02 21:46] SaurabhSharma-MSFT commented on #56214
@TechWatching Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-02 21:47] ggg333 opened #56235 "az backup job show -n {}"
Hi Team,

On the document it looks like we will have to use the name of "ConfigureBackup" Operation on the subsequent example

az backup job show \
    -v myRecoveryServicesVault \
    -g myResourceGroup \
    -n 1fc2d55d-f0dc-4ca6-ad48-aca0fe5d0414

But when used Iam not getting the response as posted in the example(propertybag), rather i get that when using the "restore"(7f2ad916) operation. Eit

[2020-06-02 21:56] iainfoulds commented on #56186
Thanks for the feedback, @andrewc513

Security defaults is either on for all users or off for all users, for each sign-in event. It's not really equivalent to per-user MFA. Conditional Access policies are how you'd selectively enable users or groups for Azure Multi-Factor Authentication, not security defaults. That's why the note at the top of the doc indicates that rather than using per-user MFA,

[2020-06-02 21:57] #56168 closed

[2020-06-02 22:03] iainfoulds commented on #55776
Thanks for the feedback, @jedduff

I have a doc update lined up to clarify, but per https://docs.microsoft.com/en-us/office365/servicedescriptions/microsoft-365-service-descriptions/microsoft-365-business-service-description, Microsoft 365 Business Standard and Premium include SSPR capabilities. Premium includes writeback to on-prem.

#in-progress

[2020-06-02 22:03] kgremban commented on #12827
@asergaz I believe @wesmc7777 is the right person to tag for awareness on this issue. Thanks.

[2020-06-02 22:07] MarileeTurscak-MSFT commented on #56000
AD Connect allows you to migrate from a LocalDB/SQL Express to a full SQL server using the /useexistingdatabase flag. This document covers how to do this: https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-move-db

Hope this helps! If you have further questions feel free to reach out in Microsoft Q&A and we will gladly continue the discussion. https://docs.micros

[2020-06-02 22:07] #56000 closed

[2020-06-02 22:08] mamccrea commented on #54982
Hi @shankarpandala! Stream Analytics doesn't support python UDFs. Can you please tell us more about your scenario?

[2020-06-02 22:09] ericchansen commented on #32572
I second all of this. I can deploy a simple create-react-app using FTP only when I'm using a Windows Web App. Linux Web App doesn't work. They're both running Node 12 LTS runtime stack.

[2020-06-02 22:09] Karishma-Tiwari-MSFT commented on #54747
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-06-02 22:09] #54747 closed

[2020-06-02 22:11] Karishma-Tiwari-MSFT commented on #55973
@palma21 Thanks for sharing the details and update on the PR work. :)

@ms-lolo  Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-06-02 22:11] #55973 closed

[2020-06-02 22:12] MarileeTurscak-MSFT commented on #56178
@priyankareddy20
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-02 22:14] vignatov commented on #47611
Firebase is free if you do less than 10k auth/month and quite expensive if you do more than that. It is a trap for startups.

[2020-06-02 22:14] Karishma-Tiwari-MSFT commented on #56136
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-02 22:17] #55776 closed

[2020-06-02 22:17] Karishma-Tiwari-MSFT commented on #56159
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2020-06-02 22:17] #56159 closed

[2020-06-02 22:17] SaurabhSharma-MSFT commented on #56127
@LijuV-MSFT Can you please provide me the document which talks about HKLM\Software\Policies\Microsoft\FIDO - EnableFIDODeviceLogon when using group policy for HAADJ devices.

[2020-06-02 22:21] Karishma-Tiwari-MSFT commented on #56167
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-02 22:23] JamesTran-MSFT commented on #55842
@PhilipAnthonyMurray
Thank you for the follow up and additional information.

Since you were able to run this command successfully on another account. For testing purposes, can you:
-Add the "owner" role to your Key Vault and re-run the command to see if that resolves the issue.
-If that doesn't work, we can also add the "owner" role at the "subscription" level rather than resource level to see if

[2020-06-02 22:24] Karishma-Tiwari-MSFT commented on #56183
Thanks for the question. We are currently investigating and will update you shortly.

[2020-06-02 22:28] MarileeTurscak-MSFT commented on #56149
Please ask this question on [Microsoft Q&A](https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered) as this seems to be unrelated to the documentation and is more of a product question.  If this relates to a specific document, please create a new issue linking that document.

[2020-06-02 22:28] #56149 closed

[2020-06-02 22:34] MarileeTurscak-MSFT commented on #56179
@priyankareddy20
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-02 22:35] NavtejSaini-MSFT commented on #56174
@atrauzzi We are checking this and will get back to you.

[2020-06-02 22:35] yilongli commented on #56153
Thank you!

[2020-06-02 22:35] #56153 closed

[2020-06-02 22:42] JamesTran-MSFT commented on #56169
@PhilipAnthonyMurray
I was able to look into your question and will post my findings below.

**Question:**
Is there a mechanism to consume the secrets within a Function Apps Application Settings?

**Findings:**
October of 2019, release update - "Apps hosted in App Service and Azure Functions can now simply define a reference to a secret managed in Key Vault as part of their application settings."

[2020-06-02 22:45] MarileeTurscak-MSFT commented on #56173
@Baneforce please link the document that you are following so that we can fix this.

[2020-06-02 22:48] MarileeTurscak-MSFT commented on #56175
@AdamSharif-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-02 22:50] Grace-MacJones-MSFT commented on #56184
Hi @hiteshvadgama,
Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2020-06-02 22:50] Mike-Ubezzi-MSFT commented on #56210
@sdasilva Thank you for bringing this to our attention. The documentation has been corrected and will be published within 24 hours.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-02 22:50] #56210 closed

[2020-06-02 22:50] BharathNimmala-MSFT commented on #56196
@roelgillesen Thank you for your query, assigning this issue to our document author @dsindona to look into it and get back to you at the earliest.

[2020-06-02 22:53] MarileeTurscak-MSFT commented on #56180
@robabh
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-02 22:59] mike-urnun-msft commented on #25891
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-02 22:59] #25891 closed

[2020-06-02 22:59] alex-frankel commented on #27312
FWIW, we think this is resolved. If you are still able to repro, can you let us know and give us the correlation ID which should be in the error message.

[2020-06-02 23:00] MarileeTurscak-MSFT commented on #56182
Thank you both! I'll close this out since the fix has been deployed.

[2020-06-02 23:00] #56182 closed

[2020-06-02 23:02] rachel-msft commented on #56174
@atrauzzi thanks for reaching out. We are missing the details you mentioned and we will fix the documentation to reflect that.

- To use read replicas, please select Replica. Read replicas only support reads.
- 'Logical' allows you to to use Postgres logical decoding: https://docs.microsoft.com/azure/postgresql/concepts-logical
- Logical replication is not currently supported.

[2020-06-02 23:32] Rraghun commented on #56188
I have deployed this once in one of my resource groups. Could that be a reason that this is not showing up?

[2020-06-02 23:40] KranthiPakala-MSFT commented on #55849
Hi @jeppe742 Thanks for reporting this to us. I have verified with internal team and confirmed that only block comments (/* comment */) are supported.

The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-06-02 23:40] #55849 closed

[2020-06-02 23:49] andrewc513 commented on #56186
@iainfoulds Thanks for the response! To clarify, I do personally understand the difference between the methods, I just wanted to let you guys know how the note reads at face value.  It may be interpreted in a way that confuses smaller, older orgs that may have neither Security Defaults enabled nor AAD Premium license available.

Example: SMB [x] has had a tenant for a few years and has not deploye

[2020-06-02 23:49] #56186 closed

[2020-06-02 23:52] JnHs commented on #46355
Hi @xpillons - thank you for the feedback and I apologize for the delay in responding. I'm updating the article with a note to address this issue. When that PR merges, this issue will automatically close. There will be a slight gap between when it's closed and the update is published. Thanks again for the feedback!

[2020-06-02 23:52] MarileeTurscak-MSFT commented on #56189
@glomaga
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-02 23:56] dkattan commented on #48825
@wmgries I'm trying to following along with your video but I am getting
[code]
The documentation states this feature is available in all regions:
https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-auth-active-directory-enable#regional-availability

Any ideas?

[2020-06-03 00:01] kulpras commented on #55840
No option to use sas token while creating blob connection in logic app.

[2020-06-03 00:01] Karishma-Tiwari-MSFT commented on #56134
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2020-06-03 00:01] #56134 closed

[2020-06-03 00:15] Karishma-Tiwari-MSFT commented on #55764
@MicrosoftDocs/aks-pm Can you please help on this:

[2020-06-03 00:34] palma21 commented on #55764
That is an incorrect doc, please add the docs team to change that to yes or delete that question.
you can do that for CNI, but not for kubenet
cc @mlearned @laurenhughes @zr-msft

Also, please note that having a scenario work does not mean the same is supported.

[2020-06-03 00:41] toddwhitehead opened #56239 "Mandatory "System Topic Name" for custom topics blocks creation"
The portal UI displays an additional field than shown in the doco called "System Topic Name". This field is mandatory but there doesnt seem to be any sensiblevalue to add here for a customtopic and as a result attempting to create a customtopic will throw an error as follows:
"Creation of System Topic has failed with error: System topic creation is not enabled for topic type Microsoft.EventGrid.To

[2020-06-03 00:46] Grace-MacJones-MSFT commented on #56193
Hi @fabiomilheiro thanks for the question. We apologize for the frustration on this issue but unfortunately, there still isn't an ETA for when this will be available.

 If you want to request this feature please feel free to leave your feedback on [UserVoice ](https://feedback.azure.com/forums/169385-web-apps) were the engineering team is closely monitoring feature requests.

We will now proceed t

[2020-06-03 00:46] #56193 closed

[2020-06-03 00:57] JimacoMS3 commented on #51864
HI @TwoSeven99 -- thanks for your feedback. I'm having trouble reproducing the issue. The tutorial uses the Power BI service (not desktop). I'm able to use a free azure subscription, a free hub, and a free Power Bi account. The screenshots are a little out of date and the instructions could be slightly refreshed, but I'm getting data into Power BI and I'm able to create a report using it.

I'm def

[2020-06-03 00:57] atrauzzi commented on #56174
I think some of these wording improvements need to precoate to the Azure UI as well.

[2020-06-03 01:05] fannie666 commented on #56165
thanks so much. I am actually now using 30 days trial of free azure account. everything is just in the portal. I am totally new to azure..hope you could give some advice on this

[2020-06-03 01:06] medavamshi commented on #54987
Thanks for your response. Private cluster deployment worked for us.

[2020-06-03 01:06] Grace-MacJones-MSFT commented on #54834
Thanks for your patience @cat-mucius.  We heard back from the engineering team and as of right now we can't specify more concrete destinations addresses for the NTP. For NTP, that hits a mix of endpoints that are not under Microsoft control. Some are, but not all.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will g

[2020-06-03 01:06] #54834 closed

[2020-06-03 01:11] NavtejSaini-MSFT commented on #56013
@eolver We are going ahead and closing this thread for now. If you have any other question, please get back to us.

[2020-06-03 01:11] #56013 closed

[2020-06-03 01:19] NavtejSaini-MSFT commented on #56224
@vikaskumawat80 We are checking this and we will get back to you.

[2020-06-03 01:24] mike-urnun-msft commented on #56215
@arbarik Thank you for your feedback! We will review and update as appropriate.

[2020-06-03 01:34] dcbrown16 opened #56240 "Managed Instance applicability"
The current info at top of page indicates that this doesn't apply to MI, but there is a link from the MI auditing doc below that points to this page. ("For further details about the hierarchy of the storage folder, naming conventions, and log format, see the Blob Audit Log Format Reference.")
https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/auditing-configure

Can we clarify the a

[2020-06-03 01:38] marc-gmail-towersap commented on #29172
or, you probably have a problem if your event trigger is trying to access a resource that's in a different subscription (assuming you are a single tenant).  Look at the datafactory overview vs the resource the event trigger is trying to access, in your case, a storage account. I know you xxx'd out the subscription id's, but I suspect they are different.  It would work if your storage account was i

[2020-06-03 01:40] BharathNimmala-MSFT commented on #56207
@Snozzberries Thank you for bringing this to our notice, our team will look into it and get back to you at the earliest.

[2020-06-03 01:43] BharathNimmala-MSFT commented on #56211
@memildin  Thank you for bringing this to our notice, assigned this issue to our document author @bwren to further evaluate the feedback and update the document accordingly.

[2020-06-03 01:44] NavtejSaini-MSFT commented on #56240
@dcbrown16 The same document mentions there are some inherent differences between how auditing is done in Az SQL DB and MI.

https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/auditing-configure#auditing-differences-between-databases-in-azure-sql-managed-instance-and-databases-in-sql-server

This is the reason both have been kept separate and discussed separately.
Hope this helps.

[2020-06-03 01:45] BharathNimmala-MSFT commented on #56200
@saikrishna-v  Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-06-03 01:46] dcbrown16 commented on #56240
I'm not asking about that page, I'm asking about the page I reported this on.
https://docs.microsoft.com/en-us/azure/azure-sql/database/audit-log-format
The problem is that this page is marked as only for SQL DB and DW, but it also includes info relevant to MI, so it needs to be marked and positioned in the ToC as so.
![image](https://user-images.githubusercontent.com/34466884/83586444-4fc3be00-a5

[2020-06-03 02:01] swinarko commented on #48407
It's being updated.  #please-close

[2020-06-03 02:01] #48407 closed

[2020-06-03 02:37] jiezh1 commented on #28956
Getting exactly the same issue. Any update on this problem?

[2020-06-03 02:38] MarileeTurscak-MSFT commented on #56190
@awentzel
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-03 02:39] MarileeTurscak-MSFT commented on #56192
@odufresne
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-03 02:40] petrheckoHims commented on #38914
+1 - also an issue for us. Not only the Azure DevOps access to Key-vault, but we also need to the DevOps pipeline to generate some files and upload those to a firewall protected Storage Account, but we face the same issue, that the Azure DevOps is not a trusted service and the workaround would be to whitelist ~250 IP addresses on a weekly basis, so that would be very ugly (plus also not sure if th

[2020-06-03 02:42] MarileeTurscak-MSFT commented on #56203
@NillsF
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-03 02:43] BharathNimmala-MSFT commented on #55469
@rt-oms Apologies for delayed response on this thread, for the error you see

Possible causes for the error you see:

- The module that contains the cmdlet isn't imported into the Automation account.
- The module that contains the cmdlet is imported but is out of date.

As part of Resolution, please try one of the following tasks:

- For an Azure module, see How to update Azure PowerShell modules

[2020-06-03 02:45] MarileeTurscak-MSFT commented on #56206
@mariuszdotnet
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-03 02:46] MarileeTurscak-MSFT commented on #56198
@awentzel
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-03 02:48] spelluru commented on #56239
@toddwhitehead - the issue is fixed now.

#please-close

[2020-06-03 02:48] #56239 closed

[2020-06-03 02:51] MarileeTurscak-MSFT commented on #56216
@scarson
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-03 02:52] MarileeTurscak-MSFT commented on #56222
@alexvy86
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-03 02:53] MarileeTurscak-MSFT commented on #55750
Yes, it's only the admin who creates the role who needs the P1 license.

Hope this helps!

[2020-06-03 02:53] #55750 closed

[2020-06-03 02:53] #55469 closed

[2020-06-03 02:55] MarileeTurscak-MSFT commented on #56218
@vikaskumawat80
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-03 02:56] TomArcherMsft commented on #52394
CC: @TravisCragg-MSFT
@JLunda This is now fixed and should be live tomorrow afternoon (PST).

#please-close

[2020-06-03 02:56] #52394 closed

[2020-06-03 03:02] SumanthMarigowda-MSFT commented on #56033
@Davidswinkels This is expected and an inherent part of blob storage-- We don't commit the block list until the file is finished, meaning no such partial file will show up.

[2020-06-03 03:03] SumanthMarigowda-MSFT commented on #55747
@samueljamkhandi07 Apologies for the delay! I've suggested multiple options to this exact email thread-- One would be to try to split the workload up into the same job with include-path (but iirc, they couldn't because it was under separate storage accounts), and the second would be to set the AZCOPY_CONCURRENCY_VALUE (default 16 * the number of CPUs) and AZCOPY_BUFFER_GB environment variables to

[2020-06-03 03:03] #55747 closed

[2020-06-03 03:05] MikeRayMSFT commented on #56188
@Raghun - I've confirmed that the template is not currently available in the Marketplace. We're working to update the article.

[2020-06-03 03:09] MikeRayMSFT commented on #56188
A template is available at https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/availability-group-quickstart-template-configure

[2020-06-03 03:09] JasonWHowell commented on #55067
I confirmed with the developers that the original documented statement is correct. Because the streaming ingestion data is stored in row store, it can take up to 24 hours to get the data to the column store and then its visible to the follower cluster. See also: https://docs.microsoft.com/en-us/azure/data-explorer/ingest-data-streaming

Thanks, Jason
#please-close

[2020-06-03 03:10] #55067 closed

[2020-06-03 03:13] lifan0127 opened #56242 "Unable to run the Python Azure SSO Sample App without Admin Approval"
I tried to implement this sample app in our Azure environment but user authentication was unsuccessful due to "Need admin approval". It turns out our regular users cannot consent for the "User.ReadBasic.All" permission which has to be granted by admin. This is confusing because both the tutorial and the Azure portal indicate no admin consent is required for this permission and for running this sam

[2020-06-03 03:32] xieofxie opened #56243 "Will we enable detecting language automatically for directlinespeech channel?"
Since speech-service itself has this ability: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-automatic-language-detection?pivots=programming-language-csharp
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a0e7068-9f6c-5b21-f12f-f44d27c17acd
* Version Independent ID: 49c118b3-3e55

[2020-06-03 03:40] VikasPullagura-MSFT commented on #55419
@amenarde Thanks for sharing the details.

[2020-06-03 03:40] VikasPullagura-MSFT commented on #55419
@radderz
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-06-03 03:40] #55419 closed

[2020-06-03 03:41] radderz commented on #55419
Thanks,

I will keep an eye on the change log for when this is available.

[2020-06-03 03:47] SumanthMarigowda-MSFT commented on #55896
@CharmanderJieniJieni User principal name is part of OAuth token when AAD is used. Please check the <authentication-type> in the logs. If it’s other type, it would be empty.

Reference: https://docs.microsoft.com/en-us/rest/api/storageservices/storage-analytics-log-format#log-entry-format-20

[2020-06-03 03:50] successhawk opened #56244 "Add link to referenced page"
[Enter feedback here]
Make the following a link.

Here is what it should link to:
https://docs.microsoft.com/en-us/azure/active-directory/b2b/user-properties#can-azure-ad-b2b-users-be-added-as-members-instead-of-guests

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6eb6697-4ace-adb6-c922-df8a9a485283
* Version Indepen

[2020-06-03 03:51] #46355 closed

[2020-06-03 03:55] VikasPullagura-MSFT commented on #56216
@scarson
I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-03 03:55] VikasPullagura-MSFT commented on #56216
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2020-06-03 03:57] atrauzzi opened #56245 "Is there anything special about the DNS name "privatelink.postgres.database.azure.com""
...or can we choose anything we want, so long as we point to the right IP address?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78271f92-2709-dcaa-4771-29564329da05
* Version Independent ID: 5b34e1bb-898e-4360-1c1b-8c577c619021
* Content: [Private Link - Azure portal - Azure Database for PostgreSQL - Single server](h

[2020-06-03 04:01] ram-msft commented on #56243
@xieofxie Thanks for the question. We will update you shortly.

[2020-06-03 04:41] SwathiDhanwada-MSFT commented on #56235
@ggg333 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-06-03 04:49] Se7en7th commented on #55544
I resolved the problem by following this:
https://stackoverflow.com/questions/35008426/compile-and-link-3rd-party-library-in-visual-studio/35011530#35011530

[2020-06-03 04:49] #55544 closed

[2020-06-03 05:00] vipulsparsh commented on #56231
@felickz  Thanks for reaching out, we will investigate and update accordingly.
@amanmcse Can you look into this ?

[2020-06-03 05:05] SwathiDhanwada-MSFT commented on #55852
@mumian Can you please review the feedback and update the document accordingly?

[2020-06-03 05:07] CodeFisher-02 opened #56246 "Twilio binding does not work for Azure function v3"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a011bf56-7d5b-584b-4c48-2053578963f7
* Version Independent ID: ba3c3902-b0cd-8011-b1c5-fb6cb5bc97eb
* Content: [Azure Functions Twilio binding](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-twilio?tabs=csharp)
* Content Sou

[2020-06-03 05:09] vipulsparsh commented on #56244
@successhawk Thanks for the feedback. We will look into this and update the document after investigation.

[2020-06-03 05:11] vipulsparsh commented on #56234
@lleonr202 Thanks for reaching out. We will investigate and update this thread.

[2020-06-03 05:12] Zuendelmeister commented on #11450
I wouldn't go that far. Having the same problem though...

System.InvalidOperationException: Environment variable IOTEDGE_WORKLOADURI is required.

[2020-06-03 05:14] vipulsparsh commented on #56242
@lifan0127 Thanks for reaching out with your concern. We will investigate and update this thread.

[2020-06-03 05:19] vipulsparsh commented on #55589
@ThijsLecomte  If you are trying for a Windows machine, can you confirm if you get a match of the MachineID  with the MachineGuid from system at this location : Computer\HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Cryptography\MachineGuid

[2020-06-03 05:30] jackwynne opened #56247 "Missing link"
For the paragraph below the last sentence says follow this quickstart but doesn't link to anything.

Enable Azure Cosmos DB analytical store
To run large-scale analytics into Azure Cosmos DB without impacting your operational performance, we recommend enabling Synapse Link for Azure Cosmos DB. This function brings HTAP capability to a container and built-in support in Azure Synapse. Follow this qu

[2020-06-03 05:34] pnarsi opened #56248 "Use Managed Identity/Service Principal for Azure DevOps "Build on Commit""
If I am using an Azure DevOps git repo for the "Trigger task on source code update" feature that is documented on this page can I use a Azure AD Service Principal or Managed Identity instead of a Azure DevOps personal access token for this integration between ACR and Azure DevOps?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-06-03 05:37] SubhashVasarapu-MSFT commented on #56233
@csvdarius , Could you please provide the link of the doc you are referring to here ?

[2020-06-03 05:38] SubhashVasarapu-MSFT commented on #56226
@Hasil-Sharma ,  We are looking into this query and will update you as soon as possible.

[2020-06-03 05:48] SubhashVasarapu-MSFT commented on #56233
@csvdarius , We are looking into this query and will update you as soon as possible.

[2020-06-03 05:53] AshokPeddakotla-MSFT commented on #56230
@julianparismorgan  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-03 05:53] CHEEKATLAPRADEEP-MSFT commented on #55959
@darivuki Event Hubs Capture is metered similarly to throughput units: as an hourly charge. The charge is directly proportional to the number of throughput units purchased for the namespace. As throughput units are increased and decreased, Event Hubs Capture meters increase and decrease to provide matching performance. The meters occur in tandem. For pricing details, see [Event Hubs pricing](https

[2020-06-03 05:53] #55959 closed

[2020-06-03 06:05] dingmeng-xue opened #56249 "Use New-AzStorageContainer instead of alias New-AzDatalakeGen2FileSystem"
`New-AzDatalakeGen2FileSystem` is an alias. It may make confuse. Please use formal name `New-AzStorageContainer` on online doc.

Original question is from https://github.com/Azure/azure-powershell/issues/12038
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 562aa838-243f-bed8-c3cb-9164af5efe71
* Version Independent ID: 3

[2020-06-03 06:06] #56173 closed

[2020-06-03 06:07] BhargaviAnnadevara-MSFT commented on #56173
@Baneforce Thank you for catching that error in the docs! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-06-03 06:22] mkrdip commented on #9406
@haakar Have a look at this [documentation](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-enable-data-collection).

[2020-06-03 06:26] Klaas- commented on #56162
or do you maybe mean `HANA 2.x >= SPS04 Rev 46` ? :)

[2020-06-03 06:36] mjaow opened #56250 "GetContainerGroup with IpAddress and IpAddress.Ip is lost"
[Enter feedback here]

Found a rare case in aci scenerio, get container group (response) by aci client and the response.ProvisioningState is Succeeded.But response.IpAddress.Ip is null.

Why the ip is lost while the state is succeded

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df5263d2-e8da-ad3e-efcc-03c0a1088849
*

[2020-06-03 06:38] SnehaAgrawal-MSFT commented on #56089
@JanNepras Apologize to keep you waiting! Thanks again for the valuable feedback!
Basically, headers get associated with the registration, if applicable, not with the notification. For instance, one can see here where [APNS headers get associated with an AppleTemplateRegistration,](https://github.com/Azure/azure-notificationhubs-dotnet/blob/a1a6c4779c5de4047583c07ad555b02801ad8e6e/src/Microsoft.Az

[2020-06-03 06:42] RohitMungi-MSFT commented on #56043
@lopejum Are you using webchat URI to get the new stream URL? From the documentation it can be used for directline URI and its conversation id to generate a new stream URL.

[2020-06-03 06:47] ChiragMishra-MSFT commented on #55923
@djpmsft Can you please take a look at this?

[2020-06-03 06:48] RohitMungi-MSFT commented on #55866
@lopejum I have gone ahead and responded in the other [thread](https://github.com/MicrosoftDocs/azure-docs/issues/56043). As I have already referenced this thread there for tracking I am closing this issue.  If you have any questions please tag us in the comment.

[2020-06-03 06:48] #55866 closed

[2020-06-03 06:54] SychevIgor opened #56251 "Specify delete asset behavior will also delete storage container"
Asset created via SDK for already existing blob container with uploaded video inside.
code sample:
   var inputAsset = await client.Assets.GetAsync(config.ResourceGroup, config.AccountName, containerName);
            if (inputAsset == null)
            {
                inputAsset = await client.Assets.CreateOrUpdateAsync(config.ResourceGroup, config.AccountName, caseName, new Asset(container: co

[2020-06-03 06:58] mkrdip opened #56252 "Documentation is using azureml.monitoring Which is Retiring Soon"
In the documentation, the image used to [show code for logging into](https://github.com/MicrosoftDocs/azure-docs/raw/master/articles/machine-learning/media/how-to-enable-app-insights/logs.png) AppInsights uses functions from `azureml.monitoring`. It's misleading. Please include examples of storing predict params and results in AppInsights instead of `ModelDataCollector` from `azureml.monitoring`

[2020-06-03 07:02] reddyeshwar17 opened #56253 "A module runtime error occurre caused by: Could not get logs for module IotEdgeKickModule1 caused by: Client error"
I am getting below error after build, push and create deploy to azureIOT edge device and run this command in device powershell

=>iotedge logs IotEdgeKickModule1

module runtime error occurred
      caused by: Could not get logs for module IotEdgeKickModule1
     caused by: Client error

Please help me on this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-06-03 07:03] Klaas- opened #56254 "How to backup HANA DBs larger than 2TB"
Hi,
is there a suggested/supported way for backup of large HANA DBs? we have a couple of DBs in the ranges of 2-25TB and we're evaluating our options for a move to cloud.

Greetings
Klaas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0518f91e-08dc-a4d9-d163-7bffb2b0ebf1
* Version Independent ID: 4bcce184-740a-bf41-dda

[2020-06-03 07:04] KalyanChanumolu-MSFT commented on #56245
@atrauzzi Thank you for reaching out.

@kummanish Could you please help here?

[2020-06-03 07:05] ChiragMishra-MSFT commented on #56050
@mamccrea Can you please take a look at this?

[2020-06-03 07:08] reddyeshwar17 commented on #56253
I am seeing this message on iot, 406 -- The device is offline or not sending status reports

my device is running and i can messages also from  SimulatedTemperatureSensor

[2020-06-03 07:09] CHEEKATLAPRADEEP-MSFT commented on #56249
@dingmeng-xue  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-06-03 07:10] hansmbakker commented on #55653
My scenario was that we tried running sql server in a docker container in ACI.
We tried various locations for the `/var/opt/mssql/` mount and got different results, but bottom line none of the options with ACI gave normal container startup time (and the query performance was not good either). The sql server docker container has a normal startup time on developer laptops.

In both cases we used an

[2020-06-03 07:12] odufresne commented on #56192
@MarileeTurscak-MSFT
Thanks! I'll wait the update because we need it as soon as possible to investigate our flows. =)

[2020-06-03 07:12] souravmishra-msft commented on #56055
@RonnieQuan, Closing this thread since received no updates.

[2020-06-03 07:12] #56055 closed

[2020-06-03 07:12] CHEEKATLAPRADEEP-MSFT commented on #56247
@jackwynne Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/117547](https://github.com/MicrosoftDocs/azure-docs-pr/pull/117547)
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to t

[2020-06-03 07:12] #56247 closed

[2020-06-03 07:26] pratima-cloudknox commented on #55913
Checking in to see if there is an update - Can I provide any further debug information?

[2020-06-03 07:26] PhilipAnthonyMurray commented on #56169
Hi @JamesTran-MSFT. That is what I am attempting to do but after linking the Storage Account and Key Vault instances via the approach in the article no new Secrets are generated within Key Vault. I also have no way of linking existing Secrets when scripting this.

Basically I am starting with a new blank Storage Account and Key Vault. Granting the KeyVault  access to the "Storage Account Key Opera

[2020-06-03 07:29] PhilipAnthonyMurray commented on #55842
Thanks @JamesTran-MSFT.

I don't have the privileges to add roles at the Subscription level and the Managed Service Provider will not grant them. Both of the accounts I was using only had Owner level access at the resource level with the second one have Application Admin access to the Azure AD tenant.

I am happy with the resolution as it stands but the documentation may need updating if this beha

[2020-06-03 07:35] ram-msft commented on #55958
@mikemowgli Thanks, We have forwarded to the product team to check on this, will update on the same.

[2020-06-03 07:37] vipulsparsh commented on #55879
@bsocca I just tried that in my lab tenant and it worked fine for me.  Here are the steps that I have taken as an end user. Let me know if you end users are performing same steps.

* Once having entered the Default Phone Number on Office/Azure Portal for MFA.
* Go to https://mysignins.microsoft.com/security-info
* Select Add Method :

![image](https://user-images.githubusercontent.com/63580915/836

[2020-06-03 07:40] roeeozprivate opened #56256 "no-cache doesn't necessarily prevent caching. no-store is required"
https://docs.microsoft.com/en-us/azure/security/develop/threat-modeling-tool-sensitive-data#cache-browser

Calls for disabling caching by using no-cache. This is not matching the spec, which specify no-store as the one to use for fully disable caching, while no-cache only requires validation.
See:
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control

---
#### Document Details

⚠

[2020-06-03 07:41] kummanish commented on #56245
@atrauzzi this is the default DNS name that is tightly integrated with the Private link created for your PostgreSQL server. https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-dns

YOu can have your custom DNS server as long as you have the FQDN to IP (A Record) in that.

[2020-06-03 07:42] VanMSFT commented on #42056
Hi @OzBob! Thank you for your patience, and sorry for the delay. I believe the information you are looking for is there, but in different articles. For example, we discuss provisioning AE extensively in the following articles:

- https://docs.microsoft.com/en-us/sql/relational-databases/security/encryption/configure-always-encrypted-keys-using-ssms?view=sql-server-ver15
- https://docs.microsoft.co

[2020-06-03 07:47] rhalaly commented on #56038
BTW, without entering the App Id and the Secret inside `appsettings.json` I receive this error:I receive this error: "There was an error sending this message to your bot: HTTP status code Unauthorized"

![image](https://user-images.githubusercontent.com/8597700/83609860-7cbab400-a587-11ea-9bb8-0a436e91a497.png)

In this [thread](https://github.com/microsoft/botframework-sdk/issues/4486), they said

[2020-06-03 07:54] MSEvanhi commented on #55581
Hey folks, I'm unaware of why this would be happening. Since multiple folks are experiencing this, was there a specific time your failures started to occur?

[2020-06-03 08:05] VikasPullagura-MSFT commented on #56218
@vikaskumawat80 As per the [document](https://docs.microsoft.com/en-us/azure/aks/private-clusters#options-for-connecting-to-the-private-cluster), you should be able to connect to Private AKS cluster using VPN. Please  check on configuring VPN [here](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-about-virtual-network-gateways).

As mentioned you are able to access from VNET & pee

[2020-06-03 08:25] lopejum commented on #56043
Hello

I've started another [issue ](https://github.com/microsoft/BotBuilder-Samples/issues/2460) and I think I got the solution there!

You can close this issue

Thanks a lot.

Kind regards
Lope

[2020-06-03 08:39] asergaz commented on #55916
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-03 08:43] vipulsparsh commented on #56071
@omarmallat Ideally any service must proceed with Resource access only after proper MFA process has been completed if they have been configured with MFA.

I would advise to look into the event viewer (On the server where you installed the NPS extension for Azure Multi-Factor Authentication, you can find Event Viewer application logs that are specific to the extension at Application and Services Lo

[2020-06-03 08:51] AirLancer commented on #55972
@SaurabhSharma-MSFT
Thanks for you suggestion.
Yes I have given the native app access.
Just to be sure, I just deleted it and set it up again, to no avail.

Not sure if this is relevant, but the sign in logs show successful sign-ins on the Native App:
![image](https://user-images.githubusercontent.com/2904101/83610057-50029e80-a57f-11ea-9cea-a73db4adbec4.png)

The SecretApi show no sign in attempt

[2020-06-03 08:53] rbudzko commented on #55884
I was able to isolate repeatable problem.

The most important information (at least for me) is an "obligation" of using storage account which is public during **creation** of function app. When I follow this solo rule then I can make account private and receive sensible errors about lack of authorization. I can also bring account back to the public and repeatably deploy without any issues.

In con

[2020-06-03 08:53] RohitMungi-MSFT commented on #56043
#https://github.com/microsoft/BotBuilder-Samples/issues/2460
@lopejum Thanks a lot for confirmation. The details of your architecture is great and I hope it will help others in the future. I will now go ahead and close this issue.

[2020-06-03 08:53] #56043 closed

[2020-06-03 09:06] deyanp opened #56259 "What about Azure Functions hosted in AKS?"
Is there any support for EventHubTrigger in Azure Functions hosted in AKS as well, or is only Http Trigger supported in that case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6bb013c-83b0-84fd-f4eb-364db7b3c507
* Version Independent ID: 6a2a7e4a-769f-034a-c9a2-c3decc6b20b0
* Content: [Azure Event Grid bindings for

[2020-06-03 09:26] zahav opened #56260 "Clarify use of SsoContext parameter"
[Enter feedback here]
The documentation provides an SsoContext parameter (Path to keyvault containing ssoContext secret), but it's unclear how to make use of this. Can you provide some additional guidance?

i.e.

New-AzWvdHostPool
   -Name <String>
   -ResourceGroupName <String>
   -SsoContext <String>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-06-03 09:35] dmrellan opened #56261 "List of alerts outdated"
Reference table for all ASC alerts seems to be outdated. I am seeing the following alerts in my customer which do not appear in the list:
- Possible domain generation algorithm
​- Suspicious random domain name
​- Possible phishing domain
​- Sinkholed domain
​- Network intrusion detection signature

Could the list be updated?.

Thanks a lot in advanced
---
#### Document Details

⚠ *Do not edit this

[2020-06-03 09:40] ERGeorgiev opened #56262 "Incorrect variable in example script"
Incorrect variable name used in example script. $AlertContext instead of $WebhookBody.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7657adc8-2216-d8b3-375d-103793126b86
* Version Independent ID: f5b303a7-b484-ea68-8636-9fc17879f6b9
* Content: [Azure Service Bus - Automatically update messaging units](https://docs.mic

[2020-06-03 09:42] SadiqhAhmed-MSFT commented on #56254
@Klaas- Thanks for the question. We are checking on this and will get back to you soon.

@pvrk  Your inputs please.

[2020-06-03 09:46] smoms opened #56263 "Only one job running"
I understand that Auto means optimal performance and default should be 4. We have 2x self-hosted IR, 6+6 jobs possible. But at the end only 1 is running. Why?
We are extracting from Oracle to Azure Blob.

thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d529ad40-d4e1-13fa-7e91-94e57c8b660c
* Version Independent I

[2020-06-03 09:54] hisasima opened #56264 "Version-less secretId is not supported by Portal."
When I added keyvault certificate with Azure Portal, the id is below.  https://<keyvaultname>.vault.azure.net/secrets/<hash>

I found there were two patterns in public document.

https://docs.microsoft.com/en-us/powershell/module/az.network/add-azapplicationgatewaysslcertificate?view=azps-4.2.0

Example 2: Add an SSL certificate using KeyVault Secret (version-less secretId) to an application gatew

[2020-06-03 09:57] CHEEKATLAPRADEEP-MSFT commented on #55841
@FS-svc-azure-storage You can use both public and private GitHub repositories with Data Factory as long you have read and write permission to the repository in GitHub.

Make sure you have permissions on the private GitHub repository.

Hope this helps.

[2020-06-03 09:57] #55841 closed

[2020-06-03 09:58] DavidTrigano commented on #56240
Hello @dcbrown16,

Many thanks for your feedback.
We proceeded with your proposal and you should be able to see MI within 24 hours in the section applies to of the documentation SQL Database audit log format.

Best,
David T.
Program Manager
Azure Data Security

[2020-06-03 09:59] DavidTrigano commented on #56240
@NavtejSaini-MSFT you can go ahead and close this issue

[2020-06-03 10:07] amanmcse commented on #56010
@harbour972 I didn't hear back from you. I am proceeding with closure of this thread. Feel free to tag me in your reply if you have any question.

[2020-06-03 10:07] #56010 closed

[2020-06-03 10:19] amanmcse commented on #56056
@RonnieQuan  Yes, you can create second subnet in AAD DS vnet. Please refer to [virtual network design considerations and configuration options for Azure AD Domain Services](https://docs.microsoft.com/en-us/azure/active-directory-domain-services/network-considerations) for more details.
To validate AAD DS, join a VM to the managed domain and make sure below commands execute successsfully:
- nltest

[2020-06-03 10:25] AjayKumar-MSFT commented on #56251
@SychevIgor,  Thanks for taking time to share your valuable feedback.
Apologies for any inconvenience with this issue, we are taking a look into this and will get back to you soon.

[2020-06-03 10:32] garygsscott commented on #14973
Is there an update on this?    This capability is still very much needed?

[2020-06-03 10:52] abhisheksopra opened #56266 "Unable to Use Dynamic values in pagination Rule (Azure data factory)"
I'm using pagination rule in copy data activity from rest endpoint to blob storage.

I have applied pagination rule with dynamic value like this:

AbsoluteUrl = `@replace('$.nextLink','old_base_url','new_base_url')`

But it is still accessing the old_base_url which is I'm getting in response, doesn't replace it with new through function.

Error in data factory:

`ErrorCode=UserErrorFailToReadFromR

[2020-06-03 10:57] AmitavaHazra opened #56267 "Significance of <OpenIdConnectOptions>"
When we use below in startup.cs file we can able to authenticate from Azure AD.
services.AddAuthentication(AzureADDefaults.AuthenticationScheme)
          .AddAzureAD(options => Configuration.Bind("AzureAd", options));

then what is the significance of the below code. If we don't add below code that does mean that out app is not compliant with v2.0 end point. Can any one please explain it.

servic

[2020-06-03 10:58] dcurwin commented on #56235
#reassign:pvrk

[2020-06-03 11:01] dcurwin commented on #55907
#reassign:utraghuv

[2020-06-03 11:01] RohitMungi-MSFT commented on #56252
@mkrdip Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-06-03 11:07] souravmishra-msft commented on #56012
@BenHayat, Thank you for sharing the update. I have modified the doc and have raised the Pull Request. Once the Pull Request gets approved, the changes would be visible in the doc. This thread would get auto-closed once the PR is approved and closed.

[2020-06-03 11:34] AhmedElwy opened #56269 "QnA maker fails to add more than 6 multi turn prompts at once."
# Multi-Turn prompts reached a certian limit and failed.

I've been updating my knowledgebase regulary in the last 3 months with a questions that had follow up prompts. Some questions had more than 8 nested prompts inside each other, and it was working fine till May 20 2020. A week later after trying to update my knowledge-base i receive the error bad argument message: request body. note that i tr

[2020-06-03 11:38] AmitavaHazra commented on #56068
Any update on this ??

[2020-06-03 11:41] mastercard-rob opened #56270 "Running a user flow doesn't work for App Registration"
I followed the tutorials to create an App Registration (I used App registrations over the Applications (legacy) option). However the application I registered doesnt show up when I attempt to run a user flow. I subsequently created a legacy Application and it does show up when I attempt to run a user flow

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-06-03 11:47] jasonachonu commented on #20529
Having the same above issue when try to call the ACI Webservice using c#. Please advice on how to resolve it.

[2020-06-03 11:49] VikasPullagura-MSFT commented on #56124
@sakthi-vetrivel Can you please add your comments on this.

[2020-06-03 11:49] SwathiDhanwada-MSFT commented on #56048
@Dev-ML11 Thanks for providing the document. I have checked a few resources in my subscription and I could tally them with Azure pricing calculator. Here is an example that I have retrieved values for a virtual machine from RATE CARD API and corresponding image in Azure Pricing calculator that I have selected based on the values.

**Values retrieved from API**

![image](https://user-images.githubu

[2020-06-03 11:53] MurrayFoxcroft opened #56271 "PowerBI Service Tag"
Please add the service tag name / mapping for PowerBI service. I would only like to enable the PowerBI service to connect to my ADLS GEN 2 storage account for data retrieval.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08217244-82bb-13b5-46f7-454801d8f865
* Version Independent ID: 4a8b0a32-bf57-7544-c60d-6b7f250c447

[2020-06-03 12:03] stspinu opened #56272 "The metric 'FileShareQuota' changed to 'FileShareCapacityQuota' for Microsoft.Storage/storageAccounts/fileServices"
Hi folks,

The metric 'FileShareQuota' changed to 'FileShareCapacityQuota' for Microsoft.Storage/storageAccounts/fileServices and most likely for Microsoft.ClassicStorage/storageAccounts/fileServices as well.

Could you please update the docs so that the real name of the metric is reflected?

Thanks!

[2020-06-03 12:06] vipulsparsh commented on #56256
@roeeozprivate Thanks for pointing that out, we will verify and update the document as needed.

[2020-06-03 12:17] vipulsparsh commented on #56261
@Thanks for pointing that out. We will verify and update the document as needed.
@memildin Can you look into this please ? Thanks.

[2020-06-03 12:20] NavtejSaini-MSFT commented on #56240
@DavidTrigano Thank you for the change. Please share the PR if created for this issue.
@dcbrown16 We will go ahead and close this issue for now.

[2020-06-03 12:20] #56240 closed

[2020-06-03 12:21] DavidTrigano commented on #56240
@NavtejSaini-MSFT PR #117557

[2020-06-03 12:26] pvrk commented on #56162
@Klaas- Thanks for reaching out. The current max supported version number is 46. Ideally, we try to support the newer version as soon as it is released (give or take 2-3 weeks from the release). Let me come back with a time-line of supporting this version.

[2020-06-03 12:26] vipulsparsh commented on #56270
@mastercard-rob  Thanks for reaching out. We will investigate and update you.

[2020-06-03 12:34] pvrk commented on #56254
@Klaas- Thanks for reaching out. We are working on improving this limit. We are planning to support HANA incremental backup soon and increase the current speeds so that customers can protect upto 6-8 TB with weekly fulls and daily HANA incrementals. For DBs beyond 8TBs, the plan is to integrate HANA snapshots with storage snapshots. May I know more on the timelines of your plan to onboard these DB

[2020-06-03 12:36] LijuV-MSFT commented on #56127
@SaurabhSharma-MSFT I verified in my lab using the **credentialprovider.admx** file from a Windows 10 v2004 machine that the group policy setting **Turn on security key sign-in** does in fact set the **EnableFIDODeviceLogon** registry value

[2020-06-03 12:39] pvrk commented on #56235
@ggg333 : Thanks for the response. Since the article is about restore disks, the job example gives the property bag returned during restore. So, I think the example is proper and suited for this article.

[2020-06-03 12:46] matpandino commented on #30802
I have the same issue too. Any response?

[2020-06-03 12:50] VikasPullagura-MSFT commented on #56248
@pnarsi
Thanks for your Question! I am checking with internal team on your ask and will get back on this.

[2020-06-03 12:54] langstonj commented on #55964
Mike:

No further questions but hoping that the docs will clearly state that once set, there is no turning back.

Best,

John C Langston  |   SQL Database Administrator  |  eLynx Technologies, LLC  |  2431 E. 61st, Suite 700  |  Tulsa, OK  74136  |  www.elynxtech.com

From: Mike Ubezzi <notifications@github.com>
Sent: Tuesday, June 2, 2020 2:09 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.g

[2020-06-03 13:05] NavtejSaini-MSFT commented on #56224
@vikaskumawat80 Please check the below link as it mentions hostname can be used for the connnection:
https://techcommunity.microsoft.com/t5/azure-database-for-postgresql/introducing-private-link-for-azure-database-for-postgresql/ba-p/1088068

It mentions that :
"You can pass the server name in the host name field demoprivatelinkserver.postgres.privatelink.database.azure.com"

Please verify your se

[2020-06-03 13:05] mumian commented on #55852
I am currently working on the issue, and will update the article this week.

[2020-06-03 13:07] Klaas- commented on #56254
At the moment we are evaluating our options, there is no strict timeline associated with the general request. However we do have specific DBs that will need a lifecycle starting in 2021.

[2020-06-03 13:11] ggg333 commented on #56235
@pvrk : Thank you for the response, but if you do run it with the "Name" that's associated with  "ConfigureBackup" under "Operation" field, we donot(atleast Iam not) getting the "properties.extendedInfo.propertyBag" response at all. But only time i get is when i use the "Name" associated with "Restore" operation. If you think that's the right response then I will leave it here.

[2020-06-03 13:13] NavtejSaini-MSFT commented on #56158
@harisubramaniam1 The consistency level should not change with the changing throughput. But we are assigning the thread to our author to confirm the same and add a guidance to the document.
@deborahc Please confirm the "Impact of Cosmos DB auto scaling throughput on consistency levels" and also add in the document if possible to convey the same info.

[2020-06-03 13:15] michuny25 commented on #55765
There's an example invalid Device Twin JSON.
[code]
And I get following error in Azure portal:
![image](https://user-images.githubusercontent.com/23375592/83640205-1c8a3900-a5ac-11ea-87d0-d9de1c0bc4c7.png)
And following exception in .NET DeviceClient SDK:
![image](https://user-images.githubusercontent.com/23375592/83640644-b5b94f80-a5ac-11ea-8271-1968d0c36781.png)

This significant restriction on

[2020-06-03 13:17] RedBlue1776 opened #56273 "What resiliency is needed for API integration for B2C Custom Policies?"
If I have the b2c service depend on an API for custom usage, could there be issues with:

- GeoRedundancy (two websites and let B2C handle it, or do I need load balancing)
- Always On (api's in per-call pricing tier may need to warm up which will delay logins)
- Load monitoring and scalability (scale up/out of the API)

Solutions for small, medium, large, and mega size deployments would be ideal

[2020-06-03 13:19] benc-uk opened #56274 "Needs updating for v2 dashboard"
As per this AKS release
https://github.com/Azure/AKS/releases/tag/2020-06-01

The dashboard has been updated to v2 for clusters running Kubernetes 1.16+
This version of the dashboard requires authentication with a token or kubeconfig file
The page makes no mention of this

In addition the default clusterUser that is added to kube config via `az aks get-credentials` doesn't have permissions to carr

[2020-06-03 13:28] benc-uk commented on #51251
You can run this command
[code]
Which will output the token for the kubernetes-dashboard service account which you can use yo login

[2020-06-03 13:29] miked1313 opened #56275 "New SMS Short code numbers?"
Hello - We have received messages from Office 365 and Azure AD MFA from the following SMS short code numbers.  If they are permanent can they be added to this FAQ?  Thank you.

288402
75973
732873

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d577f70e-9632-48ee-8e00-cead8e3cbd5b
* Version Independent ID: 44ebe4c6-0e6a

[2020-06-03 13:30] pablojmarti opened #56276 "No Diagnostic settings in monitor blade."
Is there a requirement for which version of the VPN Gateway you need to be using in order to setup diagnostic settings ? I don't see it in the documentation here and for my VPN Gateway I created I don't have any options for diagnostic settings.
![image](https://user-images.githubusercontent.com/16260070/83642385-c651d180-a57c-11ea-98f6-886623835200.png)

VPN Sku: VpnGw1
---
#### Document Details

[2020-06-03 13:38] yobyot opened #56278 "Documented path to dmgcmd is incorrect"
The path to the dmgcmd utility for self-hosted integration runtimes is incorrect. The current path created by installation as of this date is `C:\Program Files\Microsoft Integration Runtime\4.0\Shared`. But the doc should be updated to reflect the path varies by (some undocumented) release schedule.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-06-03 13:38] matticala commented on #51251
That is literally what I am doing but it’s a workaround rather than a solution.

The new dashboard no longer uses cluster-admin privileges. The ideal would be having azure-cli use AAD RBAC when browsing the dashboard

I guess leaving that to developers initiative is also a solution

[2020-06-03 13:43] wildky opened #56279 "Add documentation for getting Managed Identity from Azure CLI, REST API, and ARM"
Currently the documentation only discusses ways to retrieve the managed identity from Powershell command: Get-AzDataFactoryV2. The methods described to *set* the Managed Identity include Azure CLI, REST API, ARM templates, Powershell.

Are there other programmatic approaches to getting the Data Factory's Managed Identity? If so, please document them here. Ideally I would like to retrieve the Manag

[2020-06-03 13:47] amanmcse commented on #30802
Please check https://github.com/MicrosoftDocs/azure-docs/issues/30802#issuecomment-632708429

[2020-06-03 13:53] SubhashVasarapu-MSFT commented on #56232
@nakkeerann ,  We are looking into this query and will update you as soon as possible.

[2020-06-03 13:54] benc-uk commented on #51251
Agree it's workaround-ish
But as the v2 dashboard doesn't use it's own creds but rather then creds you supply it, the answer is always going to be either create a new service account or use your kubeconfig

[2020-06-03 13:59] ThomasPe opened #56280 "Missing instructions for UDF"
This instruction is missing how to deploy User-Defined-Functions as those do not get copied to the specified Blob Storage container through the ARM template but needs an additional release step.

I'd be happy to help with the content if needed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f9cc33d-2ba8-da5e-5420-093c

[2020-06-03 14:04] KAnderson opened #56282 "DeviceToken for device installation procedure"
The code example for doing an installation on a device does not use the device token, is it no longer used for the installation procedure? That would only make sense if the installationId (a generated Guid) is replacing the device token. That makes sense but the relationship between OnNewToken and RegisteredForRemoteNotifications and the new installation code is not clear.

---
#### Document Detai

[2020-06-03 14:04] SubhashVasarapu-MSFT commented on #56276
@pablojmarti , For enabling diagnostics alerts on VPN gateway's you should go to Azure Monitor.
In search bar type Monitor and then add the diagnostic settings as shown in the document to the respective  VPN gateway.
![image](https://user-images.githubusercontent.com/44890829/83646328-21adaf00-a5d1-11ea-9efe-ee858832d273.png)

[2020-06-03 14:07] SubhashVasarapu-MSFT commented on #56264
@hisasima ,  We are looking into this query and will update you as soon as possible.

[2020-06-03 14:09] SubhashVasarapu-MSFT commented on #56271
@MurrayFoxcroft , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-06-03 14:10] ncook-hxgn opened #56283 "Poor Quality"
Hi, few things on the docs for Azure Scale Sets, and the impact of MS documentation on the developer experience in general.

1) #generate-cpu-load-on-scale-set
I'm quite surprised that the download uri for the sysinternals (of all things) is HTTP over 80, thus unencrypted. Possibly my sysinternals binaries could be replaced by a bad actor..?

FWIW note the red padlock which is open in the image sc

[2020-06-03 14:16] #56012 closed

[2020-06-03 14:17] SubhashVasarapu-MSFT commented on #56246
@CodeFisher-02 ,  We are looking into this query and will update you as soon as possible.

[2020-06-03 14:19] SubhashVasarapu-MSFT commented on #56250
@mjaow , We are looking into this query and will update you as soon as possible.

[2020-06-03 14:22] SubhashVasarapu-MSFT commented on #56263
@smoms ,  We are looking into this query and will update you as soon as possible.

[2020-06-03 14:24] Klaas- opened #56284 "Wording in azure key vault hsm byok scenario"
Hi,
I think you could improve some wording in the article:

https://github.com/MicrosoftDocs/azure-docs/blame/master/articles/key-vault/keys/hsm-protected-keys-byok.md#L19

I am fairly sure it does leave the HSM, because that is what I want to do "bringing my own key" to Azure. I would very much doubt the scenario if Azure could use the key I am providing without actually getting the key :) A coup

[2020-06-03 14:24] JamesTran-MSFT commented on #56275
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-03 14:25] SubhashVasarapu-MSFT commented on #56262
@ERGeorgiev , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-06-03 14:28] SubhashVasarapu-MSFT commented on #56259
@deyanp , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-06-03 14:30] SubhashVasarapu-MSFT commented on #56260
@webdruid , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-06-03 14:30] vipulsparsh commented on #56256
@jegeib I have created a PR for this, can you verify and merge.
@roeeozprivate We are investigating and have reached out to Author, this thread will be updated accordingly.

[2020-06-03 14:32] SubhashVasarapu-MSFT commented on #56253
@reddyeshwar17 , Could you please provide the document you were referring to for better assistance?

[2020-06-03 14:35] BzSpi opened #56287 "Microsoft.Sql/servers/elasticPools metrics documentation outdated"
Metrics like `database_*` for `Microsoft.Sql/servers/elasticPools` resources does not exist since base metrics have database dimension.

Also, the dimension is `Microsoft.Sql/servers/elasticpools` and not `Microsoft.Sql/servers/elasticPools`.

Moreover, can you please document properly the metrics (aka avoid cpu_percent = CPU percent). The metrics documentation is way too light.

---
#### Document

[2020-06-03 14:36] SubhashVasarapu-MSFT commented on #56267
@AmitavaHazra , Could you please provide the document you were referring to for better assistance?

[2020-06-03 14:38] SubhashVasarapu-MSFT commented on #56266
@abhisheksopra ,  We are looking into this query and will update you as soon as possible.

[2020-06-03 14:43] SubhashVasarapu-MSFT commented on #56051
@johnwildes , We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-06-03 14:43] #56051 closed

[2020-06-03 14:47] Crypth opened #56288 "Configure Managed Identity documentation needs some love."
I've been trying to find the **upgradeDescription** in the Resource Explorer (Preview) to no avail.
**upgradeMode** is there but not **upgradeDescription**. In the Azure portal looking at the "Fabric Upgrades" blade under my Service Fabric cluster, all the fields are there if i check the "**Manual**" Fabric upgrade mode radiobutton. The **forceRestart** option however is not available, but three a

[2020-06-03 14:48] BDunTG commented on #54171
Hi @mamccrea, Any update on this feature? Or any helpful intel that can be shared on configuring Databricks to use an enterprise proxy as it's a pretty big blocker for us.

Another interesting use case is needing to define just Python (e.g. pip install) and R to use a proxy whereas other HTTPS does not. Any information on manipulating Python or R install via an init script?

[2020-06-03 14:53] arunravimv opened #56289 "AWS Role example in GET User request is confusing"
[Enter feedback here]
AWS Role example in GET User request is confusing. I haven't seen IAM Role in AD
  "roles": [
    {
      "value": "arn:aws:iam::123456789012:role/<role-name>"
    }

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d77364f3-bedd-cdd9-a84f-c2c9d14ceab9
* Version Independent ID: e963c53f-3ba5-e4bd-bab

[2020-06-03 14:54] samadara-msft opened #56290 "Ultra Disk does not depend on Azure Blob cache"
Compared to Azure Premium Storage, Ultra Disk Storage provides its high performance without relying on Azure Blob storage cache,  and hence it only supports un-cached reads and writes.  Please include this information to support maximum limit for IOPS on GA VMs which is 80,000. Also update here https://docs.microsoft.com/en-us/azure/virtual-machines/windows/disks-types#ultra-disk.
---
#### Documen

[2020-06-03 14:55] AmitavaHazra commented on #56267
@SubhashVasarapu-MSFT,

Please find doc reference.
https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-aspnet-core-webapp

[2020-06-03 14:56] DeanGross opened #56291 "Supported by ASC?"
[Enter feedback here]

The "Supported by ASC" is blank for everything, what does that mean?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3b44b4c-526f-7b2a-7977-02c88df6969a
* Version Independent ID: 87f296a8-b30e-ae96-53bc-d13a133dec83
* Content: [Security recommendations for Azure IoT](https://docs.microsoft.com/en-

[2020-06-03 15:00] splitfinity opened #56292 "Update Images"
Great tutorial,

perhaps update the images? Still shows data flow to be in preview.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7c75ee8-d021-62fe-c7e3-53a6e729e1fc
* Version Independent ID: 7ae45fa9-cb4f-dbc5-dcb6-4a4f4c040d28
* Content: [Transform data using a mapping data flow - Azure Data Factory](https://docs.m

[2020-06-03 15:08] SaurabhSharma-MSFT commented on #56284
@Klaas- Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-03 15:18] RyanHill-MSFT commented on #47611
I wanted to provide an update for everyone. The product team is close to a public preview of sign-in with apple integration. The COVID-19 has affected build and schedule release timelines and we do apologize for these delays. I can't give an exact ETA but hopefully it will be this month.

/cc @vignatov @m-andersen @masonmc @zababahin

[2020-06-03 15:18] dsabsay opened #56293 "Possible inaccuracy in role assignments description"
I believe there is an inaccuracy on this page under **Multiple role assignments**. From the docs:

My _intuition_ (could be wrong) tells me that the resulting permissions is effectively the Contributer role for the _subscription_. Indeed, that is what the image below that paragraph shows, as well:

![image](https://docs.microsoft.com/en-us/azure/role-based-access-control/media/overview/rbac-multip

[2020-06-03 15:20] saurabhvartak1982 opened #56294 "Error while adding spot node to the AKS cluster"
[Enter feedback here]
In the section **'Add a spot node pool to an AKS cluster'**, the presence of the parameter --node-count is needed. Else we get the error **'node-count is not in the range of min-count and max-count'**.

So the az-cli command should be as follows:

az aks nodepool add \
    --resource-group myResourceGroup \
    --cluster-name myAKSCluster \
    --name spotnodepool \
    --pri

[2020-06-03 15:20] simonaco commented on #52299
thank you @DixitArora-MSFT - should I close this issue?

[2020-06-03 15:20] BzSpi commented on #56287
Also, it seems that lot of metrics are missing.
Regarding the API:
[code]

[2020-06-03 15:21] anzaman commented on #56276
@pablojmarti - you have to be at the top Resource Group level to see  "Diagnostic settings" not under the VPN Gateway blade.

[2020-06-03 15:26] djpmsft commented on #56292
Hey there,

We have opened a work item to update the images. Glad you like the tutorial! As we have a work item open, going to go ahead and close this issue. Feel free to keep commenting!

Thanks,
Daniel

#please-close

[2020-06-03 15:26] #56292 closed

[2020-06-03 15:26] #55960 closed

[2020-06-03 15:27] shirivo opened #56296 "Link is broken"
The guide has: https://safenet.gemalto.com/partners/microsoft/ and this link doesn't exist, the right one could be https://cpl.thalesgroup.com/partners/partner-search

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa6c4d29-c1ef-187e-d630-627d0821f965
* Version Independent ID: 910fc85f-be24-a4df-c59f-d221b6d2df85
* Cont

[2020-06-03 15:29] cmenzi opened #56297 "Change Feed for etcd API"
Currently, it's not documented if etcd API supports change feed. Will this be supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdcc897a-d6df-3305-e9cb-01889a3c5d4f
* Version Independent ID: 739a9fc7-3782-a860-ac6d-4194fd1ce2e8
* Content: [Working with the change feed support in Azure Cosmos DB](https://docs.mi

[2020-06-03 15:35] KranthiPakala-MSFT commented on #56278
@yobyot Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-06-03 15:47] pvrk commented on #56254
@Klaas- Thanks. By that time, you should have all options available for you (HANA incrementals for smaller DBs and snapshot solution for larger DBs). Just on a side note, both of them will be available in scale-up deployment mode only. Hope this helps. If there are no further questions, please let us know if we can close this issue.

[2020-06-03 15:50] pablojmarti commented on #56276
@SubhashVasarapu-MSFT and @anzaman thank you I didn't realize it was in a different window.

[2020-06-03 15:50] #56276 closed

[2020-06-03 15:51] pvrk commented on #56235
@ggg333 : You are right. This response is specific to restore and doesn't appear for all job types. That is why I chose to have this only in the restore documentation. Thanks for your observations.

I believe we can close this issue now. Please re-open if you feel that is not the case.

#please-close

[2020-06-03 15:51] #56235 closed

[2020-06-03 15:52] JamesTran-MSFT commented on #56296
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-03 15:58] SumanthMarigowda-MSFT commented on #55896
@CharmanderJieniJieni We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-03 15:58] #55896 closed

[2020-06-03 15:59] #55918 closed

[2020-06-03 16:01] SumanthMarigowda-MSFT commented on #56128
@alexvy86 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-03 16:03] dudu-markovitz opened #56298 "G / GS Family"
Hi
It seems that the G-series & GS-series are missing from the VM families documentation, for both Linux & Windows

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39662d32-ec4d-7826-37b9-6bc76b70fe2b
* Version Independent ID: c83e4c16-0add-2271-94be-572a360350d2
* Content: [Linux VM sizes in Azure - Azure Linux Virtual

[2020-06-03 16:11] jasonrfritz opened #56299 "extra trailing comma on line 123"
This:
            "dependsOn": [
                 "[concat('Microsoft.OperationalInsights/workspaces/', parameters('workspaceName'))]",
            ],

Should be this:

            "dependsOn": [
                 "[concat('Microsoft.OperationalInsights/workspaces/', parameters('workspaceName'))]"
            ],

Else parsing fails, thanks

---
#### Document Details

⚠ *Do not edit this section. It

[2020-06-03 16:15] VikasPullagura-MSFT commented on #56298
@dudu-markovitz
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-03 16:15] JamesTran-MSFT commented on #56296
@shirivo
Thank you for pointing out that the link provided doesn't work.

**Findings:**
![image](https://user-images.githubusercontent.com/36619112/83660535-d0260580-a579-11ea-849c-736ff49c32aa.png)

- The **_Gemalto integration guides_** link is copied as follows:
https://safenet.gemalto.com/partners/microsoft/

- When navigating to the link it redirects to (which doesn't work):
https://cpl.thale

[2020-06-03 16:15] VikasPullagura-MSFT commented on #56298
@ju-shim
Can you please check and add your comments on this doc update request as applicable.

[2020-06-03 16:19] VikasPullagura-MSFT commented on #56290
@samadara-msft
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-03 16:20] VikasPullagura-MSFT commented on #56290
@roygara
Can you please check and add your comments on this doc update request as applicable.

[2020-06-03 16:20] milesfrain opened #56300 "Installing Azure Functions Core Tools on Ubuntu 20.04"
I'm following [these instructions for linux installation](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-functions/functions-run-local.md#linux), but encountering an error on the last command.

I can execute these earlier commands without issue:
[code]

But when I run this command:
[code]
I get this error:
[code]

I suspect this might be an issue with Ubuntu 20.04 not being

[2020-06-03 16:21] mimckitt commented on #55231
Adjusted the doc. Once the PR merges the changes take a few hours to go live.

Thanks again for pointing this out! Glad we caught this and were able to improve the doc and make the experience more clear.

[2020-06-03 16:22] #55231 closed

[2020-06-03 16:26] VikasPullagura-MSFT commented on #56294
@saurabhvartak1982 Thanks for the Feedback. The doc is updated and changes will go live once the PR is approved.

[2020-06-03 16:28] JamesTran-MSFT commented on #55842
@PhilipAnthonyMurray
Thank you for the quick and detailed response.

I'm happy to hear you're satisfied with the solution, and I understand that the documentation may need to be updated if a user needs Application Admin access on top of resource level permissions.

Thank you for your time and patience throughout this issue.

[2020-06-03 16:28] #55842 closed

[2020-06-03 16:28] mimckitt commented on #49190
@BillSproule as you are an FTE, please ping or email me offline and let's find the best route to move this forward.

#please-close

[2020-06-03 16:28] #49190 closed

[2020-06-03 16:30] EHulburd commented on #55960
Why has this been closed? Question still stands?

[2020-06-03 16:37] milesfrain opened #56302 "Editing functions in the Azure portal is not supported for Linux Consumption Function Apps"
Step 4 of the guide should probably be edited to note that Windows (not Linux) must be selected in order to follow along with the rest of the guide. Otherwise this error will be generated:

![image](https://user-images.githubusercontent.com/3578681/83663192-c30f1380-a585-11ea-8259-db52a17c70b7.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-06-03 16:39] TheAzureGuy007 commented on #10326
**Quick Fix:** is to go to your AAD client manifest file and changed the value of property "allowPublicClient": true, from null

[2020-06-03 16:40] Klaas- commented on #56254
just to make it clear: currently there is no way to backup anything larger than 2TB ? not even in an unsupported scenario?

[2020-06-03 16:40] milesfrain commented on #56300
Edit, installing tools via npm is a fine workaround for now:
[code]

[2020-06-03 16:42] MarkusWild commented on #56160
I have a similar problem while provisioning a cluster egress with a User-Defined Route.

az aks create  `
    --resource-group $aksrgName `
    --name $aksclusterName `
    --node-count 1  `
    --node-vm-size Standard_D4s_v3 `
    --network-plugin azure `
    --generate-ssh-keys  `
    --service-cidr 10.0.0.0/23  `
    --dns-service-ip 10.0.0.10  `
    --docker-bridge-address 172.22.0.1/29  `

[2020-06-03 16:46] djpmsft commented on #55960
@Ehulburd we made the doc change to fix the issue you reported. This github issue was referenced in it and thus closed once it was merged. You should see the changes apply today

[2020-06-03 16:49] EHulburd commented on #55960
Ah okay thanks, I am just impatient it seems :)

[2020-06-03 16:53] KranthiPakala-MSFT commented on #56279
@wildky Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2020-06-03 16:55] normesta commented on #55888
Thanks @Chris-May! Yes the terminology does cause confusion. Thank you for following up!

[2020-06-03 16:55] KranthiPakala-MSFT commented on #56280
@ThomasPe  Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2020-06-03 16:55] normesta commented on #55888
#please-close

[2020-06-03 16:55] #55888 closed

[2020-06-03 16:57] gs-repo opened #56303 "Unable to use ./azhlf"
I'm trying to run the following command: ./azhlf adminProfile import fromAzure -o $ORDERER_ORG_NAME -g $ORDERER_ORG_RESOURCE_GROUP -s $ORDERER_ORG_SUBSCRIPTION

but keep getting the error No such file or directory even though I have .cmd file with the same name in the directory. I've tried calling it directly and that doesn't seem to work.

I've installed via npm and run setup; is there some step

[2020-06-03 16:57] CharmanderJieniJieni opened #56304 "Powershell set rule not working properly"
[Enter feedback here]
I am following command listed in [this page](https://docs.microsoft.com/en-us/powershell/module/az.sql/Set-azSqlDatabaseVulnerabilityAssessmentRuleBaseline?view=azps-4.2.0) to update baseline rules

[code]

After deployment and check back on Vulnerability scan,  the reported error is like below
![image](https://user-images.githubusercontent.com/23019764/83665612-a4b31300-a599

[2020-06-03 17:00] KranthiPakala-MSFT commented on #56289
@arunravimv Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-06-03 17:01] iainfoulds commented on #56186
@andrewc513 I've added a sentence and cross-link to security defaults for Azure AD free tenants. This doc update should publish later today.

Through search and within the Azure AD content set though, per-user MFA docs should largely be de-prioritized over tutorials and how-tos that show using CA. The per-user content is kept for more legacy purposes than as a recommended and promoted approach due

[2020-06-03 17:16] reconluke opened #56306 "What happens under the hood? section clarification"
In the "How should I give risk feedback and what happens under the hood?" section, it is not entirely clear what happens under the hood. For example - If I **Select the sign-in and click on ‘Confirm sign-in safe’.** Does that have any impact on future sign-ins from that IP address?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-06-03 17:20] ggailey777 commented on #56302
#assign:ggailey777

[2020-06-03 17:21] ggailey777 commented on #56300
#assign:ggailey777

[2020-06-03 17:25] Karishma-Tiwari-MSFT commented on #56260
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-03 17:27] Karishma-Tiwari-MSFT commented on #56274
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-03 17:27] mimckitt commented on #50063
I was playing around a bit trying to figure out how to update the plan information and looks like some versions do support it by running

`Update-AzVmss -ResourceGroupName semarchy -Name semarchy -PlanName 5_2`

I found this in the PowerShell references: https://docs.microsoft.com/en-us/powershell/module/az.compute/update-azvmss?view=azps-4.2.0

If you do a search on the page for "Plan" you will f

[2020-06-03 17:28] Karishma-Tiwari-MSFT commented on #56283
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-03 17:30] SaurabhSharma-MSFT commented on #56293
@dsabsay Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-03 17:31] mimckitt commented on #52880
Thanks all for the feedback. I have forwarded this to the engineering team and when we support Managed identity or have a better process for ongoing updates to the SAS token for diagnostic accounts I will update the thread. Since no updates are needed at the moment I am closing this out.

#please-close

[2020-06-03 17:31] #52880 closed

[2020-06-03 17:33] sakthi-vetrivel commented on #56124
For 1) will update the syntax so it is compatible with Cloud Shell. For 2), please refer to docs to increase your resource quota here: https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/error-resource-quota. We don't include this in our docs because this is a general ARM error, not an ARO-specific error. For 3) default VM size is Dsv3 and documented here: https://docs.microsof

[2020-06-03 17:35] #54870 closed

[2020-06-03 17:37] mimckitt commented on #55864
can you clarify on what you are referring to with SMT?

[2020-06-03 17:41] himanshusinha-msft commented on #54995
We have assigned the issue to the content author . They will try to help here .

[2020-06-03 17:41] mimckitt commented on #56017
![image](https://user-images.githubusercontent.com/32313503/83669649-c1921b00-a586-11ea-88c1-7d3a022dee10.png)

[2020-06-03 17:43] mimckitt commented on #56017
I just added a link to the REST API reference where we have information on custom data.

We don't generally put POST samples in the docs as there are a load of examples that could be added and all the info is kept in the reference docs.

[2020-06-03 17:44] csvdarius commented on #56233
Closing this issue.  We discovered a different cause for this and will be filing a follow-on issue to what appears to be stemming from a previously filed issue:
[https://github.com/MicrosoftDocs/azure-docs/issues/54696](https://github.com/MicrosoftDocs/azure-docs/issues/54696)

[2020-06-03 17:46] DixitArora-MSFT commented on #55976
@rigdern I have assigned this to content author for further review and update as appropriate.

[2020-06-03 17:50] SubhashVasarapu-MSFT commented on #55703
@dacarubio , Appreciate your patience. Yes, you should be able to use Azure Firewall here as NVA does basic routing that can be achieved by Azure Firewall. But, in case of advanced functionalities from a routing perspective you should opt for third party NVA's.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the disc

[2020-06-03 17:50] #55703 closed

[2020-06-03 17:50] Grace-MacJones-MSFT commented on #56282
Hi @KAnderson, thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2020-06-03 17:54] DixitArora-MSFT commented on #55956
@fab66m I have assigned this to content author for further review and update as appropriate.

[2020-06-03 18:07] himanshusinha-msft commented on #55887
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-06-03 18:16] ggailey777 commented on #51161
We've recently updated this article. Please reopen if there are still issues.

[2020-06-03 18:16] julieMSFT commented on #37411
@random-filip Hello, the article you had questions about has been updated. Thank you for your contribution to Microsoft Docs. I will proceed with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2020-06-03 18:16] #51161 closed

[2020-06-03 18:17] julieMSFT commented on #37411
#https://github.com/MicrosoftDocs/powerbi-docs-pr/pull/3993

[2020-06-03 18:17] julieMSFT commented on #37411
#please-close

[2020-06-03 18:17] #37411 closed

[2020-06-03 18:19] djpmsft commented on #55887
Hey there,

Wild card paths are not part of this expression language, but specific to connectors such as Azure Data Lake Storage. As a result, those are included in the documentation of those specific connectors.

For example, you can see some examples here: https://docs.microsoft.com/en-us/azure/data-factory/connector-azure-blob-storage#folder-and-file-filter-examples

As this information is docu

[2020-06-03 18:19] #55887 closed

[2020-06-03 18:19] djpmsft commented on #55887
some more info: https://azure.microsoft.com/updates/data-factory-supports-wildcard-file-filter-for-copy-activity/

[2020-06-03 18:22] BharathNimmala-MSFT commented on #56299
@jasonrfritz Thanks again for bringing this to our notice, i have raised a PR to fix the issue once its reviewed and approved the document will reflect accordingly later this week.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happ

[2020-06-03 18:22] #56299 closed

[2020-06-03 18:22] mattchenderson commented on #53225
@jeffhollan might be the best person to help with resolution here.
#reassign:jeffhollan

vCPU refers to what is exposed to the virtual machine in which the service runs, as opposed to the raw hardware.

You are correct that this is wall time.  Async tasks, IO, and Thread.Sleep do not get away from billing.

It is worth noting that [Durable Functions](https://docs.microsoft.com/en-us/azure/azure-fu

[2020-06-03 18:23] SaurabhSharma-MSFT commented on #56127
@LijuV-MSFT ok, I need to check that internally with the product team on the same.  I will let you know once I get more information on the same.

[2020-06-03 18:24] jasonrfritz commented on #56299
Nope that was it, thanks!
J
Jason Fritz
Manager, Technical Architect
Porcaro Stolarek Mete Partners, LLC
223 W Jackson Blvd. Suite 280, Chicago, IL 60606
Direct: 312.940.7835 | Mobile: 630.335.5271 | Support: 312.319.8480

Information in this transmission is intended only for the person(s) to whom it is addressed and may contain privileged and/or confidential information. If you are not the intend

[2020-06-03 18:28] SaurabhSharma-MSFT commented on #56101
@hpsin thanks.
@Jhimolost We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-03 18:28] #56101 closed

[2020-06-03 18:31] SquirrelAssassin opened #56308 "Can one node be used in multiple automation accounts?"
I would like to use one node for multiple hybrid groups across different automation accounts.  Its a huge waste if we have to use dedicated nodes for every automation account instead of sharing them.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3092ee3a-3c57-cc53-186b-b454e7d9d190
* Version Ind

[2020-06-03 18:34] dudu-markovitz opened #56309 "Backup & Restore: wrong link"
The link "Automatic online backup and restore with Azure Cosmos DB" leads to "Backup and restore in Azure Synapse SQL pool".

The correct link is https://docs.microsoft.com/en-us/azure/cosmos-db/online-backup-and-restore
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e3fb7c5-dc8f-7869-6176-8fcfdaab99ff
* Version Indepe

[2020-06-03 18:35] ezYakaEagle442 opened #56310 "The Azure Storage doc should provide a CLI snippet to create a Private-Endpoint"
Private-Endpoint setup is not documented with Azure Storage
I have put a snippet on my repo below but I do not sure if it is correct :
[https://github.com/ezYakaEagle442/aro-prv-acr/blob/master/setup-storage.md](https://github.com/ezYakaEagle442/aro-prv-acr/blob/master/setup-storage.md)

# Create Storage

[code]

## Setup Private-Endpoint

[code]

## Setup DNS

[code]

## Test
[code]
---
#### Docu

[2020-06-03 18:38] SubhashVasarapu-MSFT commented on #55626
@LengZai , Appreciate your patience. yes, you could do multiple redirects within a Rules Engine config, but you still need to associate that back with the Route Rule. The same principle followed by rules engine here. Azure Front door pricing for Routing Rules (i.e., the number of routes configured for your Front Door). Each route is a distinct combination of http/https protocol, front-end hosts/do

[2020-06-03 18:48] GiselleLeeOSI opened #56311 "Testing issue submitting process"
Hi,
I'm submitting an issue to see what happens after I click the "Submit new issue" button. So sorry for spamming.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c13f9f39-9421-a243-69ec-1e534264a5a8
* Version Independent ID: 8d2e540e-b3e2-afa8-80e0-0849f289730a
* Content: [Azure Service Fabric security best practices

[2020-06-03 18:51] simondmorias opened #56312 "Key Vault Sync Permissions Clarity"
The section on Automatic Renew could do with some clarity around the permissions required on Key Vault in order for automatic renewal to work.

If the access policy is manually removed from the key vault the sync fails and eventually the app certificate expires. If you manually try to sync you will receive a message similar to this:

[code]

It tells you which key vault, but it does not tell you w

[2020-06-03 18:51] #52564 closed

[2020-06-03 18:52] #42720 closed

[2020-06-03 18:53] SatishBoddu-MSFT commented on #55765
@michuny25 Could you please make use of the below json format and try.
Please refer to [Sample desired properties](https://docs.microsoft.com/en-us/azure/iot-hub/tutorial-device-twins#sample-desired-properties) and also to  [Adding an array to your ModuleTwin desired properties](https://sandervandevelde.wordpress.com/2018/10/29/adding-an-array-to-your-moduletwin-desired-properties/) & [Azure IoT E

[2020-06-03 18:56] KumudD commented on #38961
#reassign: allegradomel

[2020-06-03 18:57] anavinahar commented on #54713
I agree with you, we should have validations.
You cannot have more than 65K private IPs each associated to a VM for example that is the limit.

[2020-06-03 18:58] #40425 closed

[2020-06-03 18:58] SatishBoddu-MSFT commented on #56161
@cocowalla I have assigned the issue to the content author  @wesmc7777  for further review and update the doc as appropriate.

[2020-06-03 19:05] KumudD commented on #41395
#please-close

[2020-06-03 19:05] #41395 closed

[2020-06-03 19:08] KumudD commented on #41700
#reassign: asudbring

[2020-06-03 19:10] v-demjoh commented on #55027
#please-close

[2020-06-03 19:10] #55027 closed

[2020-06-03 19:12] KumudD commented on #41923
Fixed. #please-close

[2020-06-03 19:12] #41923 closed

[2020-06-03 19:16] rwike77 commented on #51401
Closing this doc issue, since the resolution was to update the sign in logs.  #please-close

[2020-06-03 19:16] #51401 closed

[2020-06-03 19:17] KumudD commented on #43142
#reassign: asudbring

[2020-06-03 19:22] KumudD commented on #46219
#reassign: aldomel

[2020-06-03 19:22] PRMerger12 commented on #46219
aldomel is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-06-03 19:25] JeffGiroux commented on #56017
OK, I see it now. That doesn't really help me though. The initial ask of the ticket was for an example. I can see the link and I can read the docs, but not having a customData example payload (at least one little example) makes it tough to understand how exactly to structure the payload.

Again, lots of example here - https://docs.microsoft.com/en-us/rest/api/compute/virtualmachinescalesets/create

[2020-06-03 19:25] KumudD commented on #46369
#reassign: allegradomel

[2020-06-03 19:27] KumudD commented on #46977
This article has been updated. Thanks!
#please-close

[2020-06-03 19:27] #46977 closed

[2020-06-03 19:31] KumudD commented on #47591
#reassign: allegradomel

[2020-06-03 19:32] JeffGiroux commented on #56017
For instance, based on this example...how do I incorporate customData.

https://docs.microsoft.com/en-us/rest/api/compute/virtualmachinescalesets/createorupdate#create-a-scale-set-with-a-marketplace-image-plan.

customData appears to fall under this...
https://docs.microsoft.com/en-us/rest/api/compute/virtualmachinescalesets/createorupdate#virtualmachinescalesetosprofile

So...I would put the cust

[2020-06-03 19:32] jgwinner commented on #41923
Bless you! Thank you so much

        == John ==

[2020-06-03 19:35] nkiest commented on #47948
These Categories are not available via Log Analytics Activity Log Solution:
Service Health
Resource Health
Alert
Autoscale
Advisor
Policy
Security

All ARM Writes are logged to the Management Category, however the following services have additional activity log events that may not be available via Log Analytics Activity Log Solution:
Microsoft.Sql
Microsoft.Insights
Microsoft.RecoveryServices
Micr

[2020-06-03 19:38] SatishBoddu-MSFT commented on #56303
@gs-repo I have assigned the issue to the content author @PatAltimore  for further review and update the doc as appropriate.

[2020-06-03 19:40] #55839 closed

[2020-06-03 19:44] michuny25 commented on #55765
@SatishBoddu-MSFT Thanks for the workaround suggestion. I have already used that. The main reason I started this issue is that the official documentation does not even mention this important limitation of desired property model.

[2020-06-03 19:46] Mike-Ubezzi-MSFT commented on #55904
@pulakkumar599 If you get a chance, please let us know if this is still an issue. I am going to move forward and proceed to close this thread since we have not heard back from you but if there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-03 19:46] #55904 closed

[2020-06-03 19:48] SatishBoddu-MSFT commented on #55765
@michuny25 I have assigned the issue to the content author @wesmc7777 for further review and update the doc as appropriate.

[2020-06-03 19:50] SatishBoddu-MSFT commented on #56291
@DeanGross I have assigned the issue to the content author @dsk-2015  for further review and update the doc as appropriate.

[2020-06-03 19:52] aew-takeahike opened #56315 "steps missing from splunk integration how-to"
There are key steps missing between pre-requisistes and Step 1) view data summary.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6c9e569-75d5-4919-cc39-781f33673ace
* Version Independent ID: 40c5055f-f00d-5384-6500-8cfb4ec05534
* Content: [Integrate Splunk using Azure Monitor](https://docs.microsoft.com/en-us/azure/a

[2020-06-03 19:55] atrauzzi commented on #56245
Sorry, @kummanish , your response is a little confusing.  Saying _"tightly integrated"_ and then saying it can be custom means it isn't _"tightly integrated"_.

Is it not possible to just put some notes in the document mentioning that the DNS showed is mostly as an example?

[2020-06-03 20:03] CharmanderJieniJieni opened #56316 "Storage is no longer required to hold Advanced Threat Protection Alerts. Use the storage picker to remove the storage configuration."
[Enter feedback here]
See in the screenshot of the documentation, at 'Storage details' section under Advanced threat protection settings. It is indicating "Storage is no longer required to hold Advanced Threat Protection Alerts. Use the storage picker to remove the storage configuration." Is there a way to programmablly remove this alert?

---
#### Document Details

⚠ *Do not edit this section. It

[2020-06-03 20:09] steele6599 opened #56317 "How do you Import WD personal data for "Authentication Methods""
I’m trying to figure out a solutions for new users that are provisioned from WD to Azure AD to utilize Microsoft password self-service so new users can set their own password.

Issue most new users do not know or are not issued their Work mobile or telephone at time of hire.  The plan was to use work contact info so that the user could utilize Microsoft password reset.

We don’t want to pull the u

[2020-06-03 20:10] ibrahimalihc opened #56318 "Location of Application Health extension logs is incorrect"
For Linux, the [docs](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-health-extension#azure-powershell) state that the logs are located here: `/var/lib/waagent/apphealth`

This directory is empty.

I was able to locate the logs here: `/var/log/azure/applicationhealth-extension/handler.log`

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-06-03 20:20] dmf07 opened #56320 "SQL Dependency Tracking"
Following the instructions [here] (https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-dependencies#advanced-sql-tracking-to-get-full-sql-query) on a .net Framework 4.7 web application, SQL queries are not being logged in IIS Express or IIS even though Microsoft.Data.SqlClient is being used.  Is there some other configuration required?

---
#### Document Details

⚠ *Do not edit this s

[2020-06-03 20:25] zaid-hussain opened #56321 "Wrong api link for auto provisioning - Step 6 (needs to be fixed)"
[Enter feedback here]
The link for Cisco is wrong. Please update it from ciscoweb to ciscospark. See https://help.webex.com/en-us/aumpbz/Synchronize-Azure-Active-Directory-Users-into-Cisco-Webex-Control-Hub

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd387482-3e21-f53c-d54e-6a853356b511
* Version Independent ID: 847

[2020-06-03 20:26] btardif commented on #53676
FYI this has been fixed in CLI 2.6

CC: @Relent97 @legac123 @SnehaAgrawal-MSFT @panchagnula

[2020-06-03 20:31] Mike-Ubezzi-MSFT commented on #55968
@dudu-markovitz I believe the correct formatting should be: `FORMAT = 'CSV', PARSER_VERSION = '2.0' )` but I was attempting to walk through this tutorial to confirm this and found that the [prerequisites](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/create-external-table-as-select#prerequisites) section details a [setup_script](https://github.com/Azure-Samples/Synapse/blob/master/S

[2020-06-03 20:32] iaasazure opened #56322 "Error in az cli code to add AAD to existing VM"
The code below as in the article for enabling an existing server is missing the code required to add a system managed identity
az vm extension set \
    --publisher Microsoft.Azure.ActiveDirectory \
    --name AADLoginForWindows \
    --resource-group myResourceGroup \
    --vm-name myVM

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-06-03 20:32] roygara commented on #56290
@samadara-msft Thanks for reaching out, we appreciate it. We'll go ahead and add un-cached read/write into the restriction list for ultra. That'll be live later today.

#please-close

[2020-06-03 20:33] #56290 closed

[2020-06-03 20:34] MarileeTurscak-MSFT commented on #56321
@zaid-hussain
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-03 20:35] asudbring commented on #53658
Removed incorrect screenshot.

#please-close

[2020-06-03 20:35] #53658 closed

[2020-06-03 20:40] SaurabhSharma-MSFT commented on #56214
@TechWatching You can use the below PowerShell code to set preAuthorizedApplications -
[code]

[2020-06-03 20:40] KranthiPakala-MSFT commented on #56060
Thank you for the details @DeepakSaini119 .

In case if your job output authentication mode is 'Managed Identity', could you please try to click on the job output and changing the authentication mode from `manage identity` to `User token` and see if that helps to resolve the issue?

Let us know how it goes.

[2020-06-03 20:40] KumudD commented on #47836
#reassign: asudbring

[2020-06-03 20:42] KumudD commented on #48134
@jpfoster21 Thanks for bringing this to our attention. I have removed the incorrect link.
#please-close

[2020-06-03 20:42] #48134 closed

[2020-06-03 20:44] MarileeTurscak-MSFT commented on #56321
Thanks! I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/117628

[2020-06-03 20:44] #56321 closed

[2020-06-03 20:49] JamesTran-MSFT commented on #56275
@miked1313
I was able to look into your issue and found the below snippet from the SMS short codes FAQ:

Link: [SMS short codes](https://docs.microsoft.com/en-us/azure/active-directory/authentication/multi-factor-authentication-faq#what-sms-short-codes-are-used-for-sending-sms-messages-to-my-users)
"**There's no guarantee of consistent SMS** or voice-based Multi-Factor Authentication prompt **deli

[2020-06-03 20:50] KumudD commented on #21006
Fixed. Thanks!
#please-close

[2020-06-03 20:50] #21006 closed

[2020-06-03 20:51] KumudD commented on #48854
@insankim Thanks for the feedback! The article has been updated.
#please-close

[2020-06-03 20:51] #48854 closed

[2020-06-03 20:54] KumudD commented on #49316
#please-close

[2020-06-03 20:54] #49316 closed

[2020-06-03 21:01] AndreasMWalter commented on #55864
Sure SMT in regards to Epyc processors stands for simultaneous multithreading, comparable to Intels Hyper Threading technology as mentioned in regards to the Dsv3 series.

[2020-06-03 21:04] MartinJaffer-MSFT commented on #56025
@Hasil-Sharma  The developers have added to their backlog, a work item to allow you to assign the default value for array type variables, just like you are for string type variables.  No ETA at this time.

Until then, you will need to use the Set Variable activity.

I did not hear back on the maximum number of variables.  I did a test.  I created a pipeline with ~53+ parameters and ~53 variables+.

[2020-06-03 21:04] Mike-Ubezzi-MSFT commented on #56297
@cmenzi Thank you for your inquiry. The [Etcd API](https://docs.microsoft.com/en-us/azure/cosmos-db/etcd-api-introduction) is in private preview at the moment and I have no information pertaining to timelines and roadmap. One way to learn more about this product offering is to participate in the private preview. The Etcd sign-up form does provide an email address: [askcosmosetcdapi@microsoft.com](

[2020-06-03 21:08] asudbring commented on #51706
This looks to be resolved.

#please-close

[2020-06-03 21:08] #51706 closed

[2020-06-03 21:18] asudbring commented on #54308
#please-close

[2020-06-03 21:18] #54308 closed

[2020-06-03 21:19] asudbring commented on #53593
#please-close

[2020-06-03 21:19] #53593 closed

[2020-06-03 21:22] himanshusinha-msft commented on #55862
@kimlundjohansen : I am able to repro the issue . I am reaching out to the internal team and get more help on this . I will update you on this .

[2020-06-03 21:22] asudbring commented on #50527
It appears this one has been answered.

#please-close

[2020-06-03 21:22] #50527 closed

[2020-06-03 21:24] asudbring commented on #50356
#please-close

[2020-06-03 21:24] #50356 closed

[2020-06-03 21:46] matjanos commented on #55059
A problem occurs when you are trying to get custom claims from claim providers during your journey. It actually does not update them, although the new claims are requested, for example with REST API provider.

Imagine that you’re getting a claim from your API. You will get a claim but it’s value will be the same as retrieved on generating first id_token. Refreshing it will not update that claim (b

[2020-06-03 21:47] TechWatching commented on #56214
Which PowerShell Module do I have to install to use Get-AzureADMSApplication. I tried with AzureADPreview but it did not seem to work.

[2020-06-03 21:50] mastercard-rob commented on #56270
My bad, I was reading another article and it pointed me in the right direction. The choice made in step 6 of this tutorial is key https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-register-applications?tabs=app-reg-ga

[2020-06-03 21:50] #56270 closed

[2020-06-03 21:53] yashesvi commented on #54358
@bandersmsft  can you please update this?

[2020-06-03 22:01] NavtejSaini-MSFT commented on #56309
@dudu-markovitz We are checking this and we will get back to you.

[2020-06-03 22:02] wesmc7777 commented on #44935
#please-close

[2020-06-03 22:02] #44935 closed

[2020-06-03 22:05] milesfrain opened #56323 "CLI logstream does not work"
This is similar (or identical) to the issue that @mperdeck reported in #52203.

When I run:
[code]
I only see these logs printed:
[code]

@PramodValavala-MSFT suggested checking the following, and I can confirm these are configured correctly in my case:

My function is deployed on Windows.

My function is configured with Application Insights enabled, and this is demonstrated by the other logging o

[2020-06-03 22:08] TechWatching commented on #56214
I am trying this from Azure CloudShell which runs PowerShell Core which might not be supporting AzureADPreview. It seems that it is using AzureAD.Standard.Preview. Could this be linked?

[2020-06-03 22:11] MonikaReddy-MSFT commented on #56320
@dmf07 , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-06-03 22:29] azsec commented on #22715
There are two changes you'd need to have in order to make it work with Python 3:

[code]

and

[code]

[2020-06-03 22:29] TechWatching commented on #56214
Using AzureAdPreview seem to be ok when used in my local computer Windows Powershell. I would have expected to work on PowerShell Core but never mind. However the script does not work as PreAuthorizedApplications is not a known property on $appRegistration.

[2020-06-03 22:31] SaurabhSharma-MSFT commented on #56214
@TechWatching You need to use [AzureAD 2.0.2.76](https://docs.microsoft.com/en-us/powershell/azure/active-directory/ad-pshell-v2-version-history?view=azureadps-2.0#20276---general-availability-release-of-the-azuread-module) version to use this cmdlet.
You need to uninstall any existing version  by using `Uninstall-Module AzureAD` cmdlet then you can install the desired version using `Install-Modul

[2020-06-03 22:34] ilahat commented on #55581
The Appliance Resource Provider needs to be "patched in" into the tenant before it'll show up in AAD. Registering for Microsoft.Solutions provider will accomplish that (https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-providers-and-types). Alternatively, provisioning any managed application in the sub will accomplish that as well.

[2020-06-03 22:36] MartinJaffer-MSFT commented on #55010
@luisjmlky  Thank you for bringing this to our attention.  I have reproduced the dataset inconsistency and escalated the issue.

[2020-06-03 22:37] ManojBableshwar commented on #9406
Hi Mrinal - we have removed the message that talked about retiring model data collector. Model data collector is the recommended option to log model inference data in AzureML.

[2020-06-03 22:41] Hasil-Sharma commented on #56025
Thanks, Martin. Appreciate your efforts.

Not a blocker for me, though important as number of activities per pipeline are limited to 50 and using limited slots for Set-Variable activity to do a direct assignment seems to a drawback.

#please-close

[2020-06-03 22:41] #56025 closed

[2020-06-03 22:44] MarileeTurscak-MSFT commented on #56269
@AhmedElwy
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-03 22:44] miked1313 commented on #56275
Hi @JamesTran-MSFT,
  Our team has been seeing MFA SMS messages being sent from those short code numbers for a while now and we have lots of customers who use Office 365.  I figured I would inquire as to whether or not they are new SMS short code numbers that the service uses and if so it would be helpful to add them to the FAQ since the FAQ has a list of a few known numbers.  Better to be as comp

[2020-06-03 22:49] MarileeTurscak-MSFT commented on #56272
@stspinu please link the document that you are following so that we can better assist.

[2020-06-03 22:53] TechWatching commented on #56214
Seems to work perfectly. Many thanks. By the way the [samples](https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/blob/master/3.-Web-api-call-Microsoft-graph-for-personal-accounts/AppCreationScripts/Configure.ps1) around Azure AD I had found until now were using Get-AzureADApplication / Set-AzureADApplication. What's the difference with Get-AzureADMSApplication / Set-Azu

[2020-06-03 22:54] MarileeTurscak-MSFT commented on #56315
@aew-takeahike can you please clarify what's missing and what needs to be added?

[2020-06-03 22:58] mimckitt commented on #55864
Thanks for that! Now I understand. I will look into it and get back with an update.

[2020-06-03 22:58] abhishakemitra commented on #56081
@memildin did you get a chance to look into this?

[2020-06-03 23:01] VidyaKukke opened #56327 "BYOK"
[Enter feedback here]
BYOK table says its supported but from the description it does not seem to be the case. Can you clarify and/or fix appropriately?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f001bc8c-54f1-4fc2-4baf-0313480eb394
* Version Independent ID: 15fc7052-4772-ba35-d9c5-c1b241b690a5
* Content: [Security

[2020-06-03 23:09] asudbring commented on #47836
Assigning to PM for review

#reassign:@anavinahar

[2020-06-03 23:11] KranthiPakala-MSFT commented on #56266
Hi  @abhisheksopra,

Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-data-factory.html) or [stack overflow](https://stackoverflow.com/questions/tagged/azure-data-factory-2). We have our engineers and other community members who would be happy to help.

Once you

[2020-06-03 23:11] #56266 closed

[2020-06-03 23:13] Karishma-Tiwari-MSFT commented on #55764
Thanks @palma21 for the confirmation. I updated the doc to say 'Yes' as answer.
@HoussemDellai Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-06-03 23:13] #55764 closed

[2020-06-03 23:14] Karishma-Tiwari-MSFT commented on #56288
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-03 23:16] Karishma-Tiwari-MSFT commented on #56311
Thanks.

[2020-06-03 23:19] grayluck opened #56329 "Add a note: Please do not deploy other Azure resources on the subnet used by DB worksapce"
This is Yankai from Databricks, working on Vnet injection workspaces.

I noticed that we didn't explicitly say that we don't recommend customers to deploy other resources on subnets used by Vnet injection workspaces. Having Virtual machines deployed on the subnet might prevent us from configuring the subnet to be security compliant.

We noticed customers sharing the subnet between workspaces and V

[2020-06-03 23:28] ecfan commented on #54975
Updates are now merged to the master branch, so they should appear live by Thurs 6/4 after 11 AM PST.

[2020-06-03 23:28] jaysterp commented on #56067
@pnarsi this scenario will work if your key vault is behind a firewall as ACR is a trusted service with AKV. Please
1. Configure the export/import pipeline to use a system-assigned identity.
2. Configure the key vault to allow access by any trusted service.

ACR is currently not a trusted service with storage.

[2020-06-03 23:31] asudbring commented on #43142
Removed public IP part as it's not needed in the tutorial.

#please-close

[2020-06-03 23:31] #43142 closed

[2020-06-03 23:33] KranthiPakala-MSFT commented on #56263
Hi @smoms,

When copying data from partition-option-enabled data store (including Oracle, Netezza, Teradata, SAP HANA, SAP Table, and SAP Open Hub), default parallel copy is 4. `The actual number of parallel copies copy activity uses at run time is no more than the number of data partitions you have`. When use Self-hosted Integration Runtime and copy to Azure Blob/ADLS Gen2, note, the max effectiv

[2020-06-03 23:34] asudbring commented on #41700
Sending to PM for review
#reassign:@anavinahar

[2020-06-03 23:35] JamesTran-MSFT commented on #56169
@PhilipAnthonyMurray
Thank you for the feedback. I was able to walk-through the documentation and will post my findings below. Please click the hyperlinked words for more detail.

**Findings:**
When walking through the documentation to "[Manage storage account keys with Key Vault and the Azure CLI](https://docs.microsoft.com/en-us/azure/key-vault/secrets/overview-storage-keys)". I found that once

[2020-06-03 23:36] Karishma-Tiwari-MSFT commented on #56167
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2020-06-03 23:36] #56167 closed

[2020-06-03 23:38] roygara commented on #54092
@DevOpsFu Thanks for reaching out, sorry for the delayed response (took a bit of back and forth with the product team). The correct unit actually is MB/sec, we'll be updating the docs to reflect this soon.

[2020-06-03 23:38] JamesTran-MSFT commented on #56275
@miked1313
Thank you for the feedback! I'll work with our internal teams and update as soon as possible.

[2020-06-03 23:42] KranthiPakala-MSFT commented on #56278
@yobyot The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please feel free to comment if you have any further queries.

Thank you.

[2020-06-03 23:42] #56278 closed

[2020-06-03 23:51] pnarsi commented on #56067
Thanks @jaysterp for clarifying. Note that the AKV documentation has a list of supported scenarios for trusted services. For ACR it only only the only scenario listed is "Registry encryption using customer-managed keys".  I assume that that page need to be updated to include this scenario around the the storage of SAS keys of storage accounts used in ACR Import/Export pipeline?

https://docs.micro

[2020-06-03 23:52] verbedr opened #56330 "Before you can check if the api is exposed you need to be the owner"
[Enter feedback here]

In the section 'Verify the web API is exposed to other applications' no mention is made that you need to be one of the owners of the api before it shows up in the 'My Apis' tab. When the api app is automatic created by Visual Studio you are not an owner and it took me a while before I saw the owner tab and realised that this setting influenced the My Apis when adding a permi

[2020-06-03 23:53] NavtejSaini-MSFT commented on #56309
@dudu-markovitz Thanks for the feedback. We have created the change request for the same - https://github.com/MicrosoftDocs/azure-docs-pr/pull/117660 and once approved you will changes in approx. 24 hours.
@TheovanKraay Please review the PR.

[2020-06-03 23:54] MarileeTurscak-MSFT commented on #56272
Thanks! I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/117661

[2020-06-03 23:54] #56272 closed

[2020-06-03 23:58] MarileeTurscak-MSFT commented on #56315
I've assigned this to the content author to update as appropriate.

[2020-06-03 23:58] roygara commented on #55409
@tdgray Following up, the product team has gotten back to me and the correct unit is MB. I've gone ahead and merged changes in for this, they will be live tomorrow.

Accordingly, I'll close this out.

Thanks for bringing this to our attention and helping to improve our docs, we appreciate it! :)

#please-close

[2020-06-03 23:58] #55409 closed

[2020-06-03 23:59] pnarsi commented on #56067
@jaysterp - Sorry, to confirm for the Storage Accounts used in this scenario I need to disable the Firewall (i.e. allow all public ip) because ACR is not a trusted service for Storage Accounts. Also I assume that a private endpoint for storage accounts won't work in this scenario either because ACR tasks don't have access to VNET resources?

[2020-06-04 00:01] nikoskip opened #56331 "Is this guide updated? Not currently working - Unable to assign egress public IP"
Hello!

I'm trying to configure a static public IP for my egress traffic following this guide but I'm unable to get this working.

There is something weird about the cluster creation, because after Azure creates the cluster, it's well-known that [creates a special resource group](https://docs.microsoft.com/en-us/azure/aks/faq#why-are-two-resource-groups-created-with-aks). But, when I check that re

[2020-06-04 00:02] eshupps opened #56332 "Lifetime renewal-period value for set quota by subscription/key not specified"
The sections for Set Usage Quota by Subscription and Set Usage Quota by Key both reference a lifetime value; however, the renewal-period (which is required) is specified in seconds and no indication is given as to what the value should be for a lifetime limit. Likewise, no default value is specified. Reader is left to assume the value should be zero but that may or may not be correct. Please clari

[2020-06-04 00:04] roygara commented on #54092
I've gone ahead and merged the changes, they should be live sometime tomorrow.

Accordingly, I'll close this out.

Thanks again for bringing this to our attention and helping improve our docs. We greatly appreciate it! :)

#please-close

[2020-06-04 00:04] #54092 closed

[2020-06-04 00:06] chwarr opened #56333 "Typo in Session consistency level description: needs authorial resolution"
The Session consistency level description contains a typo. However, I'm not sure how to resolve it, as I don't know which direction the description is trying to go in.

I think this should read either

* "Session consistency is **a** widely used consistency level..."
* "Session consistency is the **most** widely used consistency level..."

The author of this documentation needs to decide which, ho

[2020-06-04 00:08] Mike-Ubezzi-MSFT commented on #56304
@CharmanderJieniJieni Thank you for bringing this to our attention. It appears that you have slightly modified the PowerShell example to include a variable: `$baseline_id = "$dev-ingest-pipeline" ` and have included that in -BaselineResult, which has skewed the results. If you modify the PowerShell to include your `-ResourceGroupName`, `-ServerName`, `-DatabaseName`, and leave the `-BaselineResult

[2020-06-04 00:13] mkrdip commented on #9406
Does it makes sense to deploy a service in production  with a package that is under development or testing phase?   https://pypi.org/project/azureml-monitoring/

[2020-06-04 00:14] mkrdip commented on #9406
It'll be retiring soon says again here: https://docs.microsoft.com/en-us/python/api/overview/azure/monitoring/intro?view=azureml-monitoring-py