[2021-09-17 13:52] msftcloudgeek opened #81228 "Link to pricing doesn't have the information referenced"
This link referenced in this line does not have this information - please update

Go to the Azure Virtual Desktop pricing page and look for the "Apps" and "Apps + Desktops" prices for your region.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1dd1d77c-598c-edef-7de9-b6ae843171e4
* Version Independent ID: 928851a2-0361

[2021-09-17 14:05] Klaas- commented on #81116
I've looekd at several of my VMs, it seems currently it's being updated even without setting being present. But I still find some rather old versions on my servers, so maybe rollout is just really slow? :)

[2021-09-17 14:13] leebd opened #81230 "Next Steps"
Perhaps the next steps can include how to use the gateway after it is registered.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c4b1277-dd1e-ceb2-cb85-e3d3df3f6d83
* Version Independent ID: 1f5b6c37-2462-d5a7-2461-df2f64794a02
* Content: [Deploy self-hosted gateway to Docker](https://docs.microsoft.com/en-us/azure/ap

[2021-09-17 14:15] RohitMungi-MSFT commented on #81217
@fat4tony I think the problem is you are using the location as 'eastus'. The location should be global, you can verify this on your resource on Azure portal.

[2021-09-17 14:21] lampson opened #81231 "Data share supports many more types of data stores"
Under Data Share, it can probably just point to: https://docs.microsoft.com/en-us/azure/data-share/supported-data-stores.

You only have listed that Azure Data Share supports Azure Blob Storage and Azure Data Lake Store.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bab6049-b753-80c9-c01c-3ea8f916cc8b
* Version Indep

[2021-09-17 14:24] fat4tony commented on #81217
![image](https://user-images.githubusercontent.com/90904824/133798476-b914ea27-b211-4823-b519-869a65aee8f0.png)

It is working before, using eastus

[2021-09-17 14:33] kobulloc-MSFT commented on #81228
@msftcloudgeek Thank you for bringing this to our attention!  I'm going to assign this to the document author for review as there have been some recent updates that we'll need to reflect in the documentation.

[2021-09-17 14:37] kobulloc-MSFT commented on #81125
The PR is currently awaiting review from @mrm9084.

[2021-09-17 14:39] BrianVallelunga opened #81232 "Possible incorrect documentation or behavior"
I believe this part is incorrect:

I have been unable to get that functionality working, as documented here: https://github.com/Azure/azure-sdk-for-net/issues/22328

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6aa599e-644c-0aa6-689f-6679719f9d04
* Version Independent ID: 74c03e83-e397-ec6a-fa78-5080bac9aa16
* Conten

[2021-09-17 14:41] kennethvs opened #81233 "Require users to register when signing in?"
If Require users to register when signin-in is enabled, on the Password Reset | Registration page what is the behavior?

a) will this setting be enforced for every user?
b) will this setting be enforced for every user for which you enabled SSPR (Selected/All?)

Might be a good idea to clearify this in documentation, but also in the portal.

---
#### Document Details

⚠ *Do not edit this section. I

[2021-09-17 14:44] sachinkp opened #81234 "Clarity in SSO Documentation"
The information given about each technical profile that manages session is very limited. Also, it does not state exact purpose of each profile. Here are the examples,

1. Statements like "This provider can be used for storing claims in a session." Why can be? What does it do otherwise?
2. OAuthSSOSessionProvider and DefaultSSOSessionProvider - how they are mutually co-related and hence both requir

[2021-09-17 15:01] RonyMSFT commented on #75580
@rahg-bmake this quickstart template references another template to create the storage account. You are correct that the StorageBlobDataContributor RBAC role assignment is not done by the quickstart templates. You can copy the quickstart template contents and create your own custom template and modify the template code given [here](https://docs.microsoft.com/en-us/azure/role-based-access-control/r

[2021-09-17 15:08] emlisa commented on #73668
Thanks for bringing this to our attention! We have updated the limitation section on our reserved capacity documentation to include this information "Reserved capacity pricing is only supported for features and products that are in General Availability state." We hope this will help provide more clarity!

[2021-09-17 15:10] andrewbrownmsft commented on #81214
Thanks for the feedback - a few suggestions below to try and get you unblocked:

If you just want to generate a valid import manifest so you can get your update imported, have you tried using the script here: https://docs.microsoft.com/en-us/azure/iot-hub-device-update/import-update#create-a-device-update-import-manifest ? It will calculate the hash(es) automatically for you. There is also a simil

[2021-09-17 15:20] MarceOrtegas opened #81235 "No network requirements section"
We've seen several situations for users struggling with network configuration to use LAD successfully. Kindly point to the correct network requirements or add a network section in this documentation. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13249027-1524-dd0c-9d83-15a9733a3d19
* Version Independent ID:

[2021-09-17 15:24] v-hhunter commented on #37376
This issue has been [resolved](https://docs.microsoft.com/azure/api-management/api-management-howto-aad#add-an-external-azure-ad-group). Please reach out or create a new issue if you have any more questions or concerns. Thank you! #please-close

[2021-09-17 15:24] #37376 closed

[2021-09-17 15:25] v-hhunter commented on #36939
This issue has been [resolved](https://docs.microsoft.com/azure/api-management/api-management-howto-aad#add-an-external-azure-ad-group). Please reach out or create a new issue if you have any more questions or concerns. Thank you! #please-close

[2021-09-17 15:25] #36939 closed

[2021-09-17 15:29] RohitMungi-MSFT commented on #81217
Ok, I used a global resource before and the script worked fine.
I created a resource in eastus and it works fine too.

The script is fine and I am using the same.

[code]

Response:

![image](https://user-images.githubusercontent.com/46958063/133807609-bd2554c0-8b53-4998-80de-cc254b7bd5c2.png)

Have you configured any proxy that would strip the headers or any networking change that could strip the

[2021-09-17 15:34] curtand commented on #66637
Hi @danmyhre

Thanks for your contribution!!! We have published a new article that describes role-assignable groups in Azure AD and privileged access groups and scenarios in PIM. https://docs.microsoft.com/azure/active-directory/privileged-identity-management/concept-privileged-access-versus-role-assignable

#please-close

[2021-09-17 15:34] #66637 closed

[2021-09-17 15:39] matflol opened #81236 "Possible mixup in the recommendations"
Hello there, based on my testing, unless I am missing something, there might be a mixup in the recommendations:

Either of these methods will work for the end-to-end scenario. We recommend that you use the first method in most cases. You should use the second method only if you are trying to:

    Assign a group to multiple Azure AD or Azure resource roles and have users activate once to get acces

[2021-09-17 15:44] juliakm commented on #79580
Thanks @DerekHerman-MSFT! It looks like the authentication defaults to auth-mode `key` ([doc](https://docs.microsoft.com/en-us/cli/azure/storage/blob?view=azure-cli-latest#az_storage_blob_upload_batch)). We can also use login but I couldn't get that authentication to run successfully. I'll update the docs to use key shortly.

[2021-09-17 15:46] ramious76 commented on #81182
Ooops.  Did the wrong link.  It was the "Azure Firewall Documentation"  that has the url https://docs.microsoft.com/en-us/azure/firewall/index.yml.  I am guessing it should be https://docs.microsoft.com/en-us/azure/firewall/

[2021-09-17 15:53] v-hhunter commented on #52908
This issue has been [resolved](https://docs.microsoft.com/azure/api-management/api-management-howto-aad#add-an-external-azure-ad-group). Please reach out or create a new issue if you have any more questions or concerns. Thank you! #please-close

[2021-09-17 15:53] #52908 closed

[2021-09-17 16:01] #79580 closed

[2021-09-17 16:06] fat4tony commented on #81217
@RohitMungi-MSFT  Thanks. I have raised a Azure support case with this link sited.

[2021-09-17 16:22] DerekHerman-MSFT commented on #81196
Looks like this is referring to a section in the document that is no longer there. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-17 16:25] chanuengg commented on #81227
@zeinab-mk can you review this issue

[2021-09-17 16:31] dmendres opened #81238 "prom-proxy error: TLS error"
Following the instructions on this page, in a 4.7.21 ARO cluster, prom-proxy logs errors:
TLS handshake error from 10.128.4.9:60328: tls: first record does not look like a TLS handshake.
This appears to be a consequence of access to an HTTPS port from an HTTP client. But I can find no workaround for this.
Similar issue appears for alerts-proxy.

I have tried updating to a 4.8.11 cluster and I get

[2021-09-17 16:57] mattmccleary commented on #81054
Hi @anumalasri,

It turns out the 3.2.0-BETA.3 only adds additional context to help you distinguish operation names. Dependency names will look the same in UX, as you say.

Can you expand on what you expect to see? Based on your screen shot, it looks like dependency name does include http method which would help you distinguish between dependencies, right?

What am I missing?

[2021-09-17 17:06] v-hhunter commented on #36767
This issue has been resolved. Thank you for your feedback! #please-close

[2021-09-17 17:06] #36767 closed

[2021-09-17 17:06] v-hhunter commented on #41763
This issue has been resolved. Thank you for your feedback! #please-close

[2021-09-17 17:06] #41763 closed

[2021-09-17 17:07] v-hhunter commented on #41775
This issue has been resolved. Thank you for your feedback! #please-close

[2021-09-17 17:07] #41775 closed

[2021-09-17 17:07] v-hhunter commented on #49386
This issue has been resolved. Thank you for your feedback! #please-close

[2021-09-17 17:07] #49386 closed

[2021-09-17 17:07] v-hhunter commented on #63207
This issue has been resolved. Thank you for your feedback! #please-close

[2021-09-17 17:07] #63207 closed

[2021-09-17 17:07] v-hhunter commented on #69960
This issue has been resolved. Thank you for your feedback! #please-close

[2021-09-17 17:07] #69960 closed

[2021-09-17 17:08] JamesTran-MSFT commented on #81232
@BrianVallelunga
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-17 17:10] JamesTran-MSFT commented on #81234
@sachinkp
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-17 17:23] MartinJaffer-MSFT commented on #81205
Thank you for your feedback. This has been assigned to the content owner and will be updated as appropriate.

[2021-09-17 17:30] vhorne commented on #80585
Done
#please-close

[2021-09-17 17:30] #80585 closed

[2021-09-17 17:32] SatishBoddu-MSFT commented on #81136
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2021-09-17 17:32] #81136 closed

[2021-09-17 17:34] SatishBoddu-MSFT commented on #81066
Hello @anastasia-ms Could you please help in this matter!

[2021-09-17 17:36] KrishnaG-MSFT commented on #80961
@algattik We have verified and updated the document as appropriate. The update should reflect soon i.e., in less than 24 hours. Thanks again!

[2021-09-17 17:36] #80961 closed

[2021-09-17 17:40] mrm9084 commented on #81125
@kobulloc-MSFT Approved

[2021-09-17 17:45] KrishnaG-MSFT commented on #81024
Assigning @bwren for visibility, review and document enhancement consideration as appropriate.

[2021-09-17 17:45] anumalasri commented on #81054
Using Agent v2.x, the dependency telemetry  below values.

Property | Value
------------ | -------------
Remote dependency name | **GET /pathv1/abc/path**

After upgrading to Agent v3.x,  the dependency telemetry has only HTTP GET

Property | Value
------------ | -------------
Remote dependency name | **HTTP GET** 

That's causing some issues to use pre-defined AI Metrics like Performance & Failur

[2021-09-17 17:47] MarcLaf opened #81241 "Please clarify "Member Users""
In the section for Guest Invite settings, please clarify what a Member user is.

**Member users and users assigned to specific admin roles can invite guest users including guests with member permissions**

Because the inclusion of a specific admin role is mentioned, it seems that Member users are special users. Does this mean a regular user account who is a member of the organization? If so, then

[2021-09-17 17:49] GiftA-MSFT commented on #81220
@damochiz we'll review your feedback and get back to you shortly. Thanks.

[2021-09-17 17:56] kobulloc-MSFT commented on #81125
#sign-off

[2021-09-17 17:57] #81125 closed

[2021-09-17 18:05] MarileeTurscak-MSFT commented on #81241
@MarcLaf
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-17 18:15] MarileeTurscak-MSFT commented on #81241
Hi @MarcLaf ,

Thanks for the question! Member users are the internal members of the tenant, whereas guest users are external users brought over from a different directory and added as guests. The full explanation of the differences is covered here: https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/users-default-permissions

The Member users will show up as "Members" under User

[2021-09-17 18:15] #81241 closed

[2021-09-17 18:20] ValOlson commented on #80826
This sounds correct, good to hear that you are unblocked.

[2021-09-17 18:22] MarcLaf commented on #81241
Thank you @MarileeTurscak-MSFT for the quick response and while it does clarify what Member users are (members of the tenant) I don't know why specifying **and users assigned to specific admin roles** is needed when all Member users are already granted this permission. If all users can do "x", you don't need to say all users and administrators because users inherently include administrators but ad

[2021-09-17 18:28] RonyMSFT commented on #75580
@julieMSFT please assign this to Matt Basile

[2021-09-17 18:32] MarileeTurscak-MSFT commented on #81097
Thanks for the details, @twimmers.

We will now proceed to close this thread. If you have further questions feel free to reach out on Microsoft Q&A. https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered

[2021-09-17 18:32] #81097 closed

[2021-09-17 18:49] kmoussa opened #81242 "the links in this page are broken and they keep redirecting me to the same page"
When I try to follow any of the links to their destination, the code redirect me to the same about us page.

an example is https://docs.microsoft.com/en-us/azure/aks/servicemesh-istio-install which actually redirect me back to this page https://docs.microsoft.com/en-us/azure/aks/servicemesh-about

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2021-09-17 18:58] mike-urnun-msft commented on #81230
Hello @leebd - Thank you for your feedback. While the self-hosted gateway enables multi-cloud & hybrid scenarios and requires the steps discussed in the doc above (in this case, via Docker), its general role as one of the components in the APIM architecture flow remains the same which is to proxy requests, apply policies and collect telemetry. We have a wide array of docs on these topics covering

[2021-09-17 19:02] BhargaviAnnadevara-MSFT commented on #81213
@madd0 Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review. The changes should reflect post the merge.

[2021-09-17 19:04] julieMSFT commented on #75580
#assign:mabasile-MSFT

[2021-09-17 19:14] #81213 closed

[2021-09-17 19:15] embeau commented on #80910
Hi Oury, I'm sorry for being late to answer you. In this page : https://docs.microsoft.com/en-us/azure/azure-sql/database/features-comparison
in the table with a comparision between Azure SQL DB and Azure SQL MI. At the line regarding CDC, it's indicate "No" for Azure SQL DB but the following documentation show that CDC is well supported by Azure SQL DB event if there are limitation. So maybe it c

[2021-09-17 19:28] leebd commented on #81230
Thank you for your quick response. I was just suggesting that in the "next
steps" section you include a link on how to register an on-premise API to
be accessed through the API gateway running in the docker container.

On Fri, Sep 17, 2021 at 1:58 PM Mike Urnun ***@***.***> wrote:

[2021-09-17 19:38] rafatecoy commented on #81195
Thank you @BharathNimmala-MSFT

[2021-09-17 20:24] ToddBowman opened #81244 "private vs public FQDN and connecting to a cluster"
If I've configured an AKS cluster using private link and it also created the public FQDN, how do I tell my client to connect to the cluster using one or the other DNS names?  For example I might be trying to connect via a VPN client that can't properly resolve the private record but can resolve the public one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2021-09-17 20:26] ju-shim commented on #80216
This issue is actively being resolved (through an internal PR). It will be live sometime today or tomorrow.

#please-close

[2021-09-17 20:26] #80216 closed

[2021-09-17 20:35] coelho5br opened #81245 "Please add the requirement for APEX (Root) domain"
https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate#create-a-free-managed-certificate

Under requirements, it does not inform that the website needs to be public reachable to generate a certificate to APEX (aks Root/naked) domain. Please include this information

On activity log it will log:
_Website XXXX is not accessible to public network through hostname domain.com. Ret

[2021-09-17 20:39] v-hhunter commented on #36926
Thank you for this doc request! We've added this item to our backlog.

[2021-09-17 20:49] ggirard07 commented on #79141
@kgremban Looks like I am in the same situation following the current documentation, and yes I followed the `Set up IoT Edge simulator` (with option 1, simulate an IoT Edge solution). Looks like simulatore got configured properly:
[code]
Looks like I have no additional docker container running after this, should I?

[2021-09-17 20:52] idrm opened #81246 "Avoid storing JSON in GitHub secrets"
One of the listed steps is to store the credentials JSON as a GitHub repo secret. That's explicitly frowned upon, as explained here: https://docs.github.com/en/actions/learn-github-actions/security-hardening-for-github-actions#using-secrets

It may be better to create one secret per JSON property, and then re-construct the JSON from those secrets before passing it to the AZ login step.

---
#### D

[2021-09-17 20:56] Davidswinkels opened #81247 "Stream analytics documentation for testing"
Hi Microsoft,

We love the Stream Analytics product and want to make it more stable since it's at the centre of our Azure IoT solution.
We are using test cases to make ASA more stable. It would be nice if there was more documentation on setting up different test cases since we had to figure a lot of things out by trial and error now. We would like more documentation about:
- how one can deal with

[2021-09-17 21:04] pmossel opened #81248 "Under "Run Simulated Device", from the Developer Command Prompt for VS2019 change to project folder"
By default, the Developer Command Prompt for VS2019 opens in the VS2019 installation folder (Program Files...).  A conventional place to clone a repo is in C:\Users\moi\source\repos. From the Developer Command Prompt the user should move to where the SDK was cloned and execute the QuickStart commands from there.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2021-09-17 21:07] himanshusinha-msft commented on #81123
Hello @dgpoulet ,
Please find the details answer below .
       The “Throughput” option on dataflow cosmos is provided to serve two purposes:
1.	We can increase the throughput of existed container to bigger number to have better performance in data read/write, after operation, the value will be automatically reset to be original value.
Note: if existed container is already set as “Autoscale” on th

[2021-09-17 21:07] #81123 closed

[2021-09-17 21:09] Grodriggues commented on #80871
Thanks

[2021-09-17 21:15] JamesTran-MSFT commented on #81233
@kennethvs
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-17 21:17] JamesTran-MSFT commented on #81236
@matflol
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-17 21:24] tumtum73 opened #81249 "Update Custom Rules via Powershell"
Once you have implemented a WAF CustomRule, for example IP Allow, is there a way to update it with/add new IP's to the list and maintain the existing entries using PowerShell?

I see where I can create a new policy but it overwrites existing, how can I capture the current IP's and add to the list.
I see that I can go into the portal and add very easily but we are trying to automate this process.

[2021-09-17 21:25] timlt commented on #81248
#assign:timlt
#label:"assigned-to-author"
#pri1
#label:"doc-enhancement"
#label:"triaged"

[2021-09-17 21:26] TravisCragg-MSFT commented on #80886
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-17 21:26] #80886 closed

[2021-09-17 21:26] #76485 closed

[2021-09-17 21:27] TravisCragg-MSFT commented on #80933
@anaraju Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-09-17 21:36] timlt commented on #81248
Thanks for the feedback!  What you mentioned is true:  VS cmd prompt does open to its path under Program Files.  In most cases, we assume the user who is cloning a repo to their hard drive, realizes that they don't want to clone it under Program Files, and will navigate to another folder.

We can optionally add a step before the step that clones the repo, something like:

1. Navigate to a local fo

[2021-09-17 21:48] timlt commented on #81248
We just pushed an internal PR with the above change to clarify user should navigate out of the default Program Files path before cloning.  Content should appear live either late this afternoon, or tomorrow.

Thanks again for your input to the docs!

#please-close

[2021-09-17 21:48] #81248 closed

[2021-09-17 22:50] paulbatum opened #81253 "Explain minimum extension version enforcement present in functions V4"
This is a tracking issue for writing documentation that explains minimum version enforcement for functions extensions and how to resolve these errors.

For more background see:
https://github.com/Azure/Azure-Functions/issues/1987

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1df5e2bd-489d-19b2-87d3-d993ebb82021
* Vers

[2021-09-17 23:48] SaurabhSharma-MSFT commented on #81148
@neodagen The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2021-09-17 23:48] #81148 closed

[2021-09-17 23:48] Grace-MacJones-MSFT commented on #81245
Thanks for your feedback! We will review and update this doc accordingly.

[2021-09-17 23:51] Karishma-Tiwari-MSFT commented on #81242
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-17 23:52] Karishma-Tiwari-MSFT commented on #81235
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-18 00:04] Grace-MacJones-MSFT commented on #80131
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-09-18 00:04] #80131 closed

[2021-09-18 00:05] mingshen-ms commented on #78730
#reassign:@saasguide

[2021-09-18 00:05] PRMerger4 commented on #78730
saasguide is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-09-18 00:23] ChaitanyaNaykodi-MSFT commented on #81221
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-09-18 00:24] SubhashVasarapu-MSFT commented on #81249
@tumtum73, Thanks for reaching out. We will investigate and update this thread.

[2021-09-18 00:26] BharathNimmala-MSFT commented on #81219
@simonbrommers Thank you for reaching out to us with your query, our team will review and get back to you at the earliest.

[2021-09-18 00:53] mike-urnun-msft commented on #81222
Hello @sgalles - Thank you for your feedback! We will review and update as appropriate.

[2021-09-18 00:57] ChaitanyaNaykodi-MSFT commented on #81231
Hello @lampson
Thank you for your feedback! We will review and update as appropriate.

[2021-09-18 01:12] mike-urnun-msft commented on #81253
Thanks, @paulbatum! Assigning to @ggailey777.

[2021-09-18 01:46] TravisCragg-MSFT commented on #81244
If you are creating a private cluster, there should not be public access to the cluster. If your VPN connections cannot resolve the private IP, you can connect via the IP. If you need to resolve SSL with a FQDN or DNS name, you can add the cert & dns record in the hosts.txt file, or use a VNET level custom DNS solution.

If you want to have the public record present, you can have the VPN connectio

[2021-09-18 01:51] Karishma-Tiwari-MSFT commented on #81242
Thanks for bringing this to our attention.
The Istio install link goes to https://istio.io/latest/docs/setup/install/
Let me know if you are still seeing this issue.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-09-18 01:51] #81242 closed

[2021-09-18 02:09] ChaitanyaNaykodi-MSFT commented on #81246
Thank you for your feedback! We will review and update as appropriate.

[2021-09-18 02:10] ChaitanyaNaykodi-MSFT commented on #81247
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-09-18 02:14] ChaitanyaNaykodi-MSFT commented on #81238
Hello @dmendres
Thank you for your feedback! We will review and update as appropriate.

[2021-09-18 02:38] mike-urnun-msft commented on #80904
Hello @JackCaster - Conda is yet to be supported: [Investigate supporting Conda #256](https://github.com/Azure/azure-functions-python-worker/issues/256)

However, it might still be possible to get it working: https://github.com/Hazhzeng/functions-conda

Since this channel is for driving improvements towards MS Docs and we didn't determine any changes to the doc upon reviewing this feedback, we wil

[2021-09-18 02:38] #80904 closed

[2021-09-18 05:19] ShaikMaheer-MSFT commented on #81227
@chanuengg Could you please check email conversion which is attached in issue title and update  doc as appropriate.

[2021-09-18 06:13] idrm commented on #81246
Looks like you already have a potential solution mentioned in the Azure login action docs here: https://github.com/marketplace/actions/azure-login#configure-deployment-credentials

[2021-09-18 07:20] SrijitBose-MSFT commented on #81008
@jeganlingam we haven't heard from you in a while now. Hence we'll proceed with closing this thread. If you have further queries please feel free to comment here and I'll be glad to continue working with you.

#please-close

[2021-09-18 07:20] #81008 closed

[2021-09-18 07:23] SrijitBose-MSFT commented on #80477
@davihern , thank you for confirming. We'll now proceed with closing this thread. If you have further queries please feel free to comment here and I'll be glad to continue working with you.

#please-close

[2021-09-18 07:23] #80477 closed

[2021-09-18 08:35] miisc opened #81256 "index.html not show"
[The index page doesn't show after finished all steps and I also can see the file on the remote site /site/wwwroot/ via FTP. It seems there's a refresh or deploy step missing]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d89ff440-9b37-14a6-ee8a-56ab0e3b2103
* Version Independent ID: 6147d698-cd94-72d5-86d8-bac2d649e1

[2021-09-18 12:42] jeevannagvekar commented on #81214
@andrewbrownmsft  Thanks a lot for the links. It helped. I am closing this issue.

[2021-09-18 12:42] #81214 closed

[2021-09-18 13:13] justinmchase opened #81257 "Bicep example?"
These commands are hard to translate to bicep, some commands do multiple things, can you please make a toggle to show the equivalent bicep scripts to do all these activitites.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3c187c0-27f1-11c9-41af-6c65ca36e77e
* Version Independent ID: 249a570b-90ba-4a11-4467-320f0369ec

[2021-09-18 14:41] patrickjlee opened #81259 "Documentation for signout of ADB2C is unclear/poor - which policy should be used? Can't create a signout policy anyway?"
[Enter feedback here]
For the signout policy, RE "{policy} | Yes | The user flow that you want to use to sign the user out of your application." which policy should be used?  There seems to be no signout policy in our ADB2C, and no way of creating one.  And why should one be needed? Why can't Microsoft make it simple to signout and be redirected to the site's home page?

--2-
#### Document Details

[2021-09-18 15:09] codaamok commented on #67166
I recently went through the process of buying an EV code signing certificate from DigiCert and successfully importing it into a Premium (HSM backed) Azure Key Vault.

I had to generate a CSR in the key vault, attach that to the order at checkout with DigiCert. After we had a security professional verify our practices and signed DigiCert's CYA document, DigiCert then gave us a signed CSR to which w

[2021-09-18 15:14] psmanhas commented on #80899
@flodihn Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-09-18 15:14] #80899 closed

[2021-09-18 15:15] psmanhas commented on #81126
@bmilbauer
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-09-18 15:15] #81126 closed

[2021-09-18 16:26] BhargaviAnnadevara-MSFT commented on #81257
@justinmchase Thanks for the feedback. I have assigned the issue to the content author to evaluate and update the document as appropriate.

[2021-09-18 16:26] BhargaviAnnadevara-MSFT commented on #81256
@miisc Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-09-18 17:25] HK-Journalist commented on #69167
I created a VM (Ubuntu Sever 20.04 LTS), and associated standard SKU public IPs both v4 and v6. IPv6 address with basic SKU cannot be associated. IPv6 works well except ping. ICMP does not follow the settings in the NSG.

[2021-09-18 18:13] elafnitzegger commented on #67166
Thanks for the update. I am also surprised that this thread from this community seems to be the only definitive and extensive discussion on this topic.

[2021-09-18 18:59] tiny-dancer opened #81263 "Azure Front Door Standard/Premium: Route Patterns to match limit"
What is the limit for `patternsToMatch` on a route?

![image](https://user-images.githubusercontent.com/4986192/133905737-6cf82b06-5e21-4645-ba9f-9b27223a3056.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36f49a06-90b1-cbe1-3853-2c38277b79f8
* Version Independent ID: 02ff6f6c-3ef6-b48f-060d-b290419e0aba
* Content

[2021-09-18 19:24] mdrakiburrahman commented on #80074
@jeremiahhoward @whhender here's the correct Purview baseline hyperlink:

https://github.com/MicrosoftDocs/SecurityBenchmarks/blob/master/Azure%20Offer%20Security%20Baselines/2.0/azure-purview-security-baseline-v2.0.xlsx

![image](https://user-images.githubusercontent.com/46581776/133906310-8383d0d4-1533-43b1-87fe-7062a383ac7f.png)

[2021-09-18 19:53] SubhashVasarapu-MSFT commented on #81263
@tiny-dancer, Thanks for reaching out. We will investigate and update this thread.

[2021-09-18 20:11] ChaitanyaNaykodi-MSFT commented on #81259
Thank you for your feedback! We will review and update as appropriate.

[2021-09-18 20:23] mdrakiburrahman opened #81265 "When will Azure Storage be updated to V2.0?"
When will Azure Storage be updated to V2.0?

In the SecurityBenchmarks Repo, V2.0 mapping is missing:
https://github.com/MicrosoftDocs/SecurityBenchmarks/tree/master/Azure%20Offer%20Security%20Baselines/2.0

[2021-09-18 20:26] mdrakiburrahman commented on #81265
@msmbaldwin

[2021-09-19 03:17] micachi commented on #79962
https://docs.microsoft.com/en-us/azure/virtual-desktop/screen-capture-protection

I have confirmed that the official version of the documentation is here. I will close the PR.

thank you.

[2021-09-19 03:17] #79962 closed

[2021-09-19 04:55] eibaf1 opened #81267 "User.Read.All permissions are also required"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e0a0671-953a-7797-6e0c-6616420f4c3b
* Version Independent ID: a2de95d1-67b2-bcc6-402f-f5d23c53d13a
* Content: [How to manage inactive user accounts in Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/howto-manage-i

[2021-09-19 05:52] BhargaviAnnadevara-MSFT commented on #81267
@eibaf1 Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-09-19 07:18] SayCloud opened #81269 "unable to use GraphAPI assign SPE_E5 license with service plan e7c91390-7625-45be-94e0-e16907e03118,aebd3021-9f8f-4bf8-bbe3-0ed2f4f047a1 disabled"
Our program invoke graphAPI passing M365 E5 license with below two services disabled failed, error code is the service plan does not belong to E5 subscription. please help to check is it a document problem, or GraphAPI problem.
Virtualization Rights for Windows 10,e7c91390-7625-45be-94e0-e16907e03118
Microsoft Kaizala Pro Plan 3,aebd3021-9f8f-4bf8-bbe3-0ed2f4f047a1

---
#### Document Details

⚠ *D

[2021-09-19 11:32] manishjha2088 opened #81270 "NSG Type Basic or Advanced"
[Enter feedback here]

While creating the VM  we get the option of creating NSG, we have NSG basic and Advanced. The document no where talks about NSG advanced what it does, I see the only difference is that if we use Advanced it open ssh or RDP port depending on the OS
![image](https://user-images.githubusercontent.com/44209029/133925883-af5c10a5-4516-4b1a-a2c9-ed96c09fddbe.png)

---
#### Documen

[2021-09-19 12:01] memildin commented on #81109
Hi @garybushey, thanks for the feedback and for taking the time to help us improve the docs.

We frequently assess the usability of the features of our docs platform and feedback like this is invaluable. When we're next discussing tables, I'll raise your concerns.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2021-09-19 12:01] #81109 closed

[2021-09-19 13:43] ashinzekene opened #81271 "No sample for .NET"
Would it be possible to get a sample for .NET as there doesn't seem to be any available

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 906f1086-776e-9abe-b6cc-bf93e84dc238
* Version Independent ID: 50b27c9e-8f8a-3425-a1bb-b5d30e9d95e4
* Content: [Configure protected web API apps - Microsoft identity platform](https://d

[2021-09-19 14:19] NoNameProvided opened #81273 "Clarification on using NAT with container instances in a vNet"
The documentation clearly states that assigning a NAT to a subnet with container instances doesn't work:

However, this doesn't seem to be the case. This feature seems to work perfectly. So my question is what is the reason the documentation suggests against it?

There was a relevant feedback in January: [Is there a reason not to use NAT gateway to have a fixed outbound IP for the Container Instan

[2021-09-19 14:21] BhargaviAnnadevara-MSFT commented on #81269
@SayCloud Thanks for the question. We're investigating this and will get back to you shortly.

[2021-09-19 14:22] NoNameProvided opened #81274 "Provide a more cost-effective guide for adding static outbound IP address for ACI"
The official guide for adding a static outbound IP for an ACI instance suggests adding a full-fledged Azure Firewall in front of the virtual network the ACI is in. This solution incurs a __heavy__ price increase. For example for our case, we pay around ~400 EUR a month for our Azure usage and configuring a simple task as a static outbound IP would increase our costs by ~600EUR at least (starting p

[2021-09-19 14:22] BhargaviAnnadevara-MSFT commented on #81270
@manishjha2088 Thanks for the question. We're investigating this and will get back to you shortly.

[2021-09-19 14:28] BhargaviAnnadevara-MSFT commented on #81271
@ashinzekene Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-09-19 14:31] BhargaviAnnadevara-MSFT commented on #81274
@NoNameProvided Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-09-19 14:32] BhargaviAnnadevara-MSFT commented on #81273
@NoNameProvided Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-09-19 16:46] Ravnsgaard opened #81275 "LTS appears in logs, but are not on this list"
I can see a pop named "LTS" in the logs, but it is not on this reference page. Where is this located?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0dc75fc7-036c-9cf6-0e4a-b137cc9b98a0
* Version Independent ID: 5f68152b-84b5-90a4-375e-5de3c825208c
* Content: [Azure CDN POP locations by abbreviation](https://docs.micro

[2021-09-19 18:06] SubhashVasarapu-MSFT commented on #81275
@Ravnsgaard, Thanks for reaching out. We will investigate and update this thread.

[2021-09-19 18:09] GennadNY commented on #76021
@Oury-MSFT - can we close this one. Thank You

[2021-09-19 18:19] xtianus79 commented on #56300
Any update on this it's almost 2022

[2021-09-19 18:53] SwathiDhanwada-MSFT commented on #80840
Assigning to content author @bwren for review

[2021-09-19 22:21] PCNZ opened #81278 "Monitor - Alerts (classic) pane does not exist"
In the section about how to add recipients to to planned maintenance notifications, the steps say to select the Monitor - Alerts (classic) pane. However this does not exist.
Please update or add how to do this step.

https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-maintenance-notifications#notification-and-alerts-in-the-portal

---
#### Document Details

[2021-09-19 22:49] JohannesHoppe commented on #8423
I simply can't believe that one can' t set environment variables for a container.
Is there anybody out there using docker on app services in production???

[2021-09-19 23:06] SamaraSoucy-MSFT commented on #81190
I've put in a PR to update the description of these properties to specify the format is "HH:mm:ss"

[2021-09-19 23:06] #81190 closed

[2021-09-19 23:24] SamaraSoucy-MSFT commented on #81198
I'm not able to replicate your issue- going through the steps in the doc the new authorization setting was shown in the dev portal. Could you please verify:

1. You have the OAuth 2.0 service setup with Authorization Code grant type.
![image](https://user-images.githubusercontent.com/47195189/133946199-e8b4bef6-c1bc-4397-ab43-f693902346ea.png)
2. The API is set to not allow anonymous access using

[2021-09-19 23:47] mike-urnun-msft commented on #81230
@leebd Once the gateway is federated with your running APIM service on Azure, you should be able to take the same steps detailed in "[Import and publish your first API](https://docs.microsoft.com/en-us/azure/api-management/import-and-publish)" to register an on-premise API. Since a correctly installed Gateway is running on your on-premise network, it should be able to resolve the API endpoint runn

[2021-09-20 00:55] thxmike opened #81280 "Helm chart command times out"
The Helm chart command in this document returns the following error

failed pre-install: timed out waiting for the condition

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* Version Independent ID: 5c596e04-fddb-effe-3b72-575f4df42d4e
* Content: [Create ingress with automatic TLS -

[2021-09-20 00:57] jmprieur commented on #81271
@ashinzekene : the samples are referenced from the last article of the section "Protected web API". See
https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-protected-web-api-production#next-steps

You also have the [samples](https://docs.microsoft.com/en-us/azure/active-directory/develop/sample-v2-code#web-api) page that references all the samples

Proposing to close as answer

[2021-09-20 00:57] #81271 closed

[2021-09-20 01:51] AlphaBun opened #81281 "Azure ML: Identity Based Access on Default File Store Acct"
Hi there,

was reading thru the docs and noticed on this particular webpage. From my understanding identity based authentication is not supported on file share storage. I have tried it on the ML studio and for file share storage you can only select account key authentication. Could you kindly advice? Thank you.

"Enable managed identity authentication for default storage accounts. Each Azure Machi

[2021-09-20 02:04] SubhashVasarapu-MSFT commented on #80948
@SenthuranSivananthan, Appreciate your feedback. We have assigned this issue to the respective content owner to update the document accordingly.

[2021-09-20 02:05] davecroman opened #81282 "React Hooks example no longer matches the argument types expected in the latest version of @microsoft/applicationinsights-react-js@3.2.0"
In the **Using React Hooks** section, at least one example no longer matches the argument types expected in the latest version of `@microsoft/applicationinsights-react-js`, i.e., @3.2.0

**Examples**:

This example is no longer valid as trackMetric now expects 2 arguments, both of which need to be objects:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2021-09-20 02:44] jiasli commented on #80763
@asergaz, this is not really a bug. Azure CLI's packages are _not_ released for ARM architecture. Any document should explicitly call out that **installing Azure CLI with native package installer like `apt` on ARM64 is not supported**.

Our doc explicitly says that:

https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt#overview

[2021-09-20 03:23] ram-msft commented on #81281
@AlphaBun Thanks for the feedback! We will review and update accordingly.

[2021-09-20 03:57] ram-msft commented on #81113
@jpe316 Could you please help with the tag as the allowed IP ranges on their AKS cluster.

[2021-09-20 04:12] ram-msft commented on #81147
@PatrickFarley Could you please confirm and change the following create method for Cognitive Services resource.

[code]
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.cognitiveservices.iaccountsoperations.createwithhttpmessagesasync?view=azure-dotnet

[2021-09-20 04:16] #81081 closed

[2021-09-20 04:21] VikasPullagura-MSFT commented on #81278
@PCNZ
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-09-20 04:22] VikasPullagura-MSFT commented on #81278
@mimckitt
Can you please check and add your comments on this doc update request as applicable.

[2021-09-20 04:27] VikasPullagura-MSFT commented on #81280
@thxmike
Thanks for your Question! We are currently investigating and will get back on this.

[2021-09-20 04:34] CHEEKATLAPRADEEP-MSFT commented on #80812
@avidunixuser  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-20 04:49] ausfestivus opened #81283 "Extension and Agent OMS versions in table are out of date"
With the OMIGOD situation, can I suggest updating the table at https://docs.microsoft.com/en-gb/azure/virtual-machines/extensions/oms-linux?toc=/azure/azure-monitor/toc.json#agent-and-vm-extension-version to show the current release version which is patched for OMIGOD?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d5

[2021-09-20 04:54] CHEEKATLAPRADEEP-MSFT commented on #81001
@ILemmon81  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-20 04:54] #81001 closed

[2021-09-20 04:56] CHEEKATLAPRADEEP-MSFT commented on #81100
@robert4os Thanks for the sharing your findings.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-20 04:56] #81100 closed

[2021-09-20 04:56] CHEEKATLAPRADEEP-MSFT commented on #81007
@gantonius We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-20 04:56] #81007 closed

[2021-09-20 05:15] ShaikMaheer-MSFT commented on #81022
@ShirleyWangMSFT Could you please share your insights on customers ask? Thank  you.

[2021-09-20 05:28] CHEEKATLAPRADEEP-MSFT commented on #80958
@t-htsuchiya Thanks for pointing out the issue, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/172916](https://github.com/MicrosoftDocs/azure-docs-pr/pull/172916)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contribut

[2021-09-20 05:28] #80958 closed

[2021-09-20 05:33] VikasPullagura-MSFT commented on #81283
@ausfestivus
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-09-20 05:33] VikasPullagura-MSFT commented on #81283
@amjads1
Can you please check and add your comments on this doc update request as applicable.

[2021-09-20 05:39] ram-msft commented on #80968
@rsethur Could you please help with the sample for machine learning pipeline using managed endpoints.

[2021-09-20 06:04] Svijay-msft commented on #81151
Hello Peeyush-Now

I am assuming that you are talking about the below note section.

![image](https://user-images.githubusercontent.com/66949976/133962115-0b984781-f808-4396-82d1-acfc02103302.png)

As per the documentation [here ](https://github.com/sajitsasi/az-ip-fwd),
![image](https://user-images.githubusercontent.com/66949976/133961951-13719aa0-2e63-4acf-873a-1dc22a857a75.png)

If you look at

[2021-09-20 06:09] ksh7393 opened #81284 "Failed to create container on local storage account"
I have setup the Iot Edge storage module on one of the edge device running in windows container.

I have connected to the local storage account using Azure storage explore(1.21.0) and trying to create the container from the container machine itself.

**Connection string used -** DefaultEndpointsProtocol=http;BlobEndpoint=http://IPADDRESS:11002/localaccountname;AccountName=localaccountname;AccountK

[2021-09-20 06:15] SumanthMarigowda commented on #81139
@shubh-agarwal-microsoft Firstly, apologies for the delay in responding here. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-20 06:19] SrijitBose-MSFT commented on #81273
@NoNameProvided Thanks for the feedback. We have shared the same with the content author(s). This will now be visible in their backlog.

[2021-09-20 06:24] SrijitBose-MSFT commented on #79675
@alasdair-stark-amido , as I understand the issue was resolved by our support team. Sharing relevant information:

##### Issue:
Facing issue while following the sample documentation “Develop with Helm” on the AKS cluster.
##### Cause:
1. Intermittent issue with the Azure Voting App – Liveness Probes were failing with 502 (Bad Gateway error).

2. The app wasn’t available internally with the Nginx s

[2021-09-20 06:34] GitaraniSharma-MSFT commented on #81156
@VitalyMCT , We have assigned this to the content owner/author for updating the doc accordingly.

@asudbring , please update the doc as discussed in the internal email.

[2021-09-20 06:36] vipulsparsh commented on #81159
@eddieitman Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-09-20 06:39] vipulsparsh commented on #81166
@SzangoliesJ Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-09-20 06:39] pnl0ep7f opened #81285 "Custom Attributes with Common Alert Schema"
I am looking for a recommendation,
I have a scenario where I would like send custom attributes in the JSON payload of a Log Alert to an Azure function.
During testing I found that this is not possible through common alert schema. In my action group if I select Common Schema Alert as true, then it does not capture the extra attributes I added as part of the alert custom Json.

My question is , is i

[2021-09-20 06:39] jolle-sogeti opened #81286 "Error running example primordials is not defined"
When following the example steps to use this project I get the following error:

fs.js:45
} = primordials;
    ^

ReferenceError: primordials is not defined
    at fs.js:45:5
    at req_ (/Users/xyz/Development/DotNet/trials/git-samples/mean/node_modules/natives/index.js:143:24)
    at Object.req [as require] (/Users/xyz/Development/DotNet/trials/git-samples/mean/node_modules/natives/index.js:55:1

[2021-09-20 06:42] vipulsparsh commented on #81267
@eibaf1 Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-09-20 06:49] CHEEKATLAPRADEEP-MSFT commented on #81201
@pnarsi Could you please share more details on your feedback/question.: What are you struggling to find?

[2021-09-20 06:50] SumanthMarigowda commented on #81152
@PerkinsJM Azure Stack Edge Pro FPGA devices will reach end-of-life in February 2024 so we have time till February 2024. Once the time line is reached this document gets deprecated.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-20 06:50] #81152 closed

[2021-09-20 07:00] VikasPullagura-MSFT commented on #81274
@NoNameProvided
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-09-20 07:00] VikasPullagura-MSFT commented on #81274
@macolso
Can you please check and add your comments on this doc update request as applicable.

[2021-09-20 07:12] SwathiDhanwada-MSFT commented on #80926
@fabiansald Apologies for late response. Kindly note that the example is working as expected. I have tested from my end.  Based on the error you have received, I assume that its due to authentication.

For your reference, adding screenshot of my test case.

![image](https://user-images.githubusercontent.com/48976275/133967256-57e5ad60-969d-4f71-9a62-07a9fdc7f943.png)

As there are no further docum

[2021-09-20 07:12] #80926 closed

[2021-09-20 07:13] SwathiDhanwada-MSFT commented on #81282
@davecroman Thanks for your comment. We will review the issue and get back to you shortly.

[2021-09-20 07:15] pnarsi commented on #81201
Hi @CHEEKATLAPRADEEP-MSFT

The documentation related to the Azure Databricks REST API here: https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/

For example if I wanted to lookup details of the of the API specification of the Cluster API Endpoint (2.0/clusters/) I can refer to this subsection here: https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/clusters

[2021-09-20 07:24] SumanthMarigowda commented on #81219
@simonbrommers For better understanding the query,   Can you provide more information on your query?

[2021-09-20 07:25] SadiqhAhmed-MSFT commented on #81124
@Vikram1988 To comment on it.

[2021-09-20 07:25] SumanthMarigowda commented on #81246
@idrm   Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-20 07:27] CHEEKATLAPRADEEP-MSFT commented on #81201
@pnarsi Thank for the details. I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-09-20 07:31] Vikram1988 commented on #81124
@jonwbstr thanks for sharing your concern. Firstly to answer your question, if you want to set up Azure Migrate appliance (to perform agentless replication, only available for VMware VMs) then you can refer to the H/w requirements here-https://docs.microsoft.com/en-us/azure/migrate/migrate-appliance#appliance---vmware

For agent-based replication, you can refer here are the H/w requirements of the

[2021-09-20 07:39] GitaraniSharma-MSFT commented on #81225
@nicenoam , the screen shot for Purge button is correct in this doc as this is documentation is for **Azure Front Door Standard/Premium (Preview)** and not Azure Front Door (classic/old).
I confirmed it in my lab by deploying an Azure Front Door Standard/Premium (Preview):

![image](https://user-images.githubusercontent.com/67630903/133966599-ee23d65b-bf4e-44f5-ad5b-688f812deb76.png)

For more inf

[2021-09-20 07:39] #81225 closed

[2021-09-20 07:39] SwathiDhanwada-MSFT commented on #80832
@h579684 Kindly note that its possible to assign blueprints at management level. However, it can't done using Azure Portal. Same information has been documented in the article.

![image](https://user-images.githubusercontent.com/48976275/133969680-7f8f4976-deb6-43c1-9c58-bddb3d629f21.png)

As there are no documentation changes, we will close the issue for now. If there are further questions , plea

[2021-09-20 07:39] #80832 closed

[2021-09-20 07:45] SwathiDhanwada-MSFT commented on #74433
@dan-tr This has been tested and we are able to access Azure documents without any issues.  I would suggest you to test it from your end as well.

As there are no documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-09-20 07:46] #74433 closed

[2021-09-20 07:53] NestoriSyynimaa opened #81287 "Typo in the figure (missing "customer")?"
Division of responsibility figure:
The first yellow row has a text "Responsibility always retained by the". It seem to miss the word "customer".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4ec59b4-502b-1a20-cde0-ab08647fc86a
* Version Independent ID: 8cb55ad6-b271-a597-aff7-47d4c0f3ec5f
* Content: [Shared responsib

[2021-09-20 07:57] MS-jeremy commented on #80527
@AnuragSharma-MSFT  @gahl-levy , can you please check this doc issue?

[2021-09-20 08:03] Klaas- opened #81288 "question about support for stateful alerts"
Hi,
I am looking for guidance to use stateful (log) alerts to close incidents azure has opened automatically once the stateful (log) alerts resolve. Is this possible?

Greetings
Klaas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 213e21d8-6170-56d7-9791-d6b1029bf310
* Version Independent ID: 8e3a030f-72bd-83aa-6a1d-ec

[2021-09-20 08:09] HarshitaSingh-MSFT commented on #81287
Hello @NestoriSyynimaa , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-09-20 08:14] psmanhas commented on #81209
@jikuja The mentioned component in article is more about what Contributor role is capable of when you assign it on VM level. install and run software statement means that Contributor role will allow you to do it on Azure VM which won't be possible otherwise with non-admin roles on VM. One such example is [here](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-automate-vm-de

[2021-09-20 08:15] dandavey opened #81289 "Missing URL Link"
Missing link to upgrade under the heading 'Can I upgrade from any previous version to V2.0?'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c1e2969-8162-7cad-99b7-803ba089081d
* Version Independent ID: cca0134b-5685-ae09-f9f3-275426e6e3b8
* Content: [What is Azure AD Connect v2.0?](https://docs.microsoft.com/en-us/azu

[2021-09-20 08:35] jeevannagvekar opened #81290 "ADU on downstream Raspberry Pi device in Nested Edge"
Hello, I have configured nested edge hierarchy like this. Top Layer (IoT Edge Runtime with IoTEdgeAPIProxy and registry modules) --> Lower layer (IoT Edge Runtime with IoTEdgeAPIProxy module) --> RPI (downstream IoT device with sample image provided @ https://github.com/Azure/iot-hub-device-update/releases - latest release 0.7.0 (2021-05-14)). Now I am trying to deploy an update to downstream devi

[2021-09-20 08:47] JozoSlejko commented on #79304
Hi @madsd , a vNet integrated App Service connects to a Private Endpoint enabled Azure SQL Database.

[2021-09-20 08:49] AnuragSharma-MSFT commented on #81179
@Rita0880 Can you please verify by checking the Active Directory if the Group is present or not? I was able to successfully run the command and created the AAD user.

Also the second command is related to managed identity where you need to set the client id as mentioned in below doc and then should be able to connect:

[Connect with Managed Identity to Azure Database for MySQL](https://docs.micros

[2021-09-20 08:52] yoelhor commented on #80998
There is no any change to this endpoint. Could you check the policy well known configuration endpoint. There you will be able to see the keys endpoint URI

![image](https://user-images.githubusercontent.com/20111866/133977403-5f07869d-74a9-48e1-9c95-a3f3280a6a58.png)

[2021-09-20 08:54] jikuja commented on #81209
Is then true?

For clarity role description probably should use `install extensions`, `Custom Script Extension` and `invoke run commands` instead of really generic `install and run software`

[2021-09-20 09:14] SwathiDhanwada-MSFT commented on #81288
@Klaas- Thanks for your comment. We will review the issue and get back to you shortly.

[2021-09-20 09:24] pnl0ep7f commented on #78325
The solution I received for this topic from Microsoft Support

Symptom:
Alerts and Action Groups[Deployment with ARM template is not setting the custo Json settings: There is no error message received. When I am deploying the ARM template version 2021-02-01-preview. with customProperties (these are for setting custom Json payload) , the alert gets deployed successfully , but the custom json proper

[2021-09-20 09:24] #78325 closed

[2021-09-20 09:29] ridasaleem0 commented on #61423
@WilliamBonilla62 Can you please let me know how did you configured kinect SDK on Ubuntu 20.04 LTS?

[2021-09-20 10:21] CHEEKATLAPRADEEP-MSFT commented on #81231
@lampson Thanks for pointing out the issue, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/172925](https://github.com/MicrosoftDocs/azure-docs-pr/pull/172925)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions

[2021-09-20 10:40] asergaz commented on #80812
@CHEEKATLAPRADEEP-MSFT I am working with @avidunixuser offline. Reopening.

[2021-09-20 10:40] amanmcse commented on #81212
@mrigby-cloud Azure AD Premium P1 is the minimum license requirement. P2 includes all the features of P1 with some additional features. So, if a feature requires P1, you can either use P1 or P2, but If a feature requires P2, you are required to have P2 license only.

[2021-09-20 10:40] #81212 closed

[2021-09-20 10:46] amanmcse commented on #81269
@SayCloud Could you please share the exact Graph Call that your program makes for this purpose?

[2021-09-20 11:07] BhargaviAnnadevara-MSFT commented on #81101
@LucaOtto I cloned the repo referenced in the tutorial but didn't notice the error there. The [dotnetcore-sqldb-tutorial](https://github.com/azure-samples/dotnetcore-sqldb-tutorial) sample already has all the necessary using statements needed:

![image](https://user-images.githubusercontent.com/44050820/133991871-f517e748-a957-4a45-b7da-adb61f028b7c.png)

Please let me know if you don't see the sa

[2021-09-20 11:23] SaiKishor-MSFT commented on #81087
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-20 11:23] #81087 closed

[2021-09-20 11:27] SaiKishor-MSFT commented on #81161
@jjjjeee Could you be more specific about what is confusing you so we can work on that? Thank you!

[2021-09-20 11:27] shashishailaj commented on #81289
@dandavey Thank you for pointing that out. We will review and engage the content team to help fix this.

[2021-09-20 11:40] MayankBargali-MSFT commented on #80966
@hichamveo Currently logic app is using the 2.0.361 version of DotLiquid and I will work with the team to update this in our document. Let me know if you have any queries or concerns.

[2021-09-20 12:06] omarmallat opened #81295 "Wrong and Missing information"
I have two issues with this documentation:
1. in **Step 3 Configure the virtual network gateway**, in the point 3, you are saying: _Address pool: Type the gateway subnet you created in the step 1_. which is wrong, as it won't accept any address pool conflicting with the whole virtual network (Gateway subnet is part of the Virtual Network). The address pool here is the pool that will be assigned to

[2021-09-20 12:30] SnehaAgrawal-MSFT commented on #81025
@kohei-miyoshi Since we didn't here from you. We will close this out but if you feel you need more information please just let us know.

[2021-09-20 12:30] #81025 closed

[2021-09-20 12:36] psmanhas commented on #81209
@jikuja I completely agree with you!!!

I have shared your feedback with respective team and action will be taken accordingly.

Do let me know if you have any further queries which I can help you out with :).

Thanks

[2021-09-20 12:45] yoelhor commented on #81259
It should be same policy that used for the sign-in

[2021-09-20 12:49] klesouza commented on #24460
are there any updates regarding the header `x-ms-cosmos-min-throughput`. Is it already available?

[2021-09-20 12:51] ericgoudriaan opened #81296 "API permissions limit in combination with signInAudience AzureADMyOrg (also with AzureADMultipleOrgs)"
Hello,

Regarding this comment I also opened an issue at Microsoft support under case number 2109070050001069. Since they stated it's by design behavior and closed the ticket I would like to give feedback on this page.

We have an app registration where signInAudience is AzureADMyOrg and would like to add more than 50 resources in API permissions. This results in the following error when trying to

[2021-09-20 12:52] yoelhor commented on #81259
I'm updating the article with the relevant information. A new version will publish later today, and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need further information, please open new GitHub issue.

[2021-09-20 12:54] yoelhor commented on #80898
The new version is ready, updates will be published next week.

[2021-09-20 12:54] Rita0880 commented on #81179
@AnuragSharma-MSFT
Hi Anurag,
Thanks for your reply...

I've checked that it is valid AD group and exist, but I am not able to create AAD user as group in MYSQL
like this...
CREATE AADUSER 'Prod_DB_Readonly';

I am only able to  create by Object ID as

SET aad_auth_validate_oids_in_tenant = OFF;
CREATE AADUSER 'Prod_DB_Readonly' IDENTIFIED BY 'object_idxxxx';
(I know it's related to Mange identity

[2021-09-20 12:59] ncinel commented on #80986
Yes I found out that I needed to have a logic app based on the CONSUMPTION plan.

I followed the steps but still are not able to have the trigger of the Logic App fire when the messages are pushed in the topic: I went over this, several times, checked thoroughly, over and over rebuild everything from scratch, but nothing: the Logic App connector for "When a resource event occurs - Azure Event Grid

[2021-09-20 13:06] rudolphjacksonm commented on #80482
Hi all, sorry for the delay--on point #3, we're using Terraform's AzureRM provider. This uses the Go SDK for Azure. Does that help? I'm sorry I don't know much more than that at present, but can go digging if needs be.

[2021-09-20 13:08] SrijitBose-MSFT commented on #81280
@thxmike , thank you for sharing your feedback. We believe you are running into the same issue as [here](https://github.com/MicrosoftDocs/azure-docs/issues/80321). Can you please check the solution [here](https://github.com/MicrosoftDocs/azure-docs/issues/80321#issuecomment-911403358) and change the image digests according to the ones in your ACR?

[2021-09-20 13:09] BhargaviAnnadevara-MSFT commented on #81122
@LucaOtto I followed the tutorial as is and was able to successfully run the migrations after updating the data model. Here is the output of the three commands mentioned in the tutorial:

![image](https://user-images.githubusercontent.com/44050820/134007070-3d7fd1ae-ddf4-4720-9d25-c45609f372fc.png)
Might need a closer look at your environment to troubleshoot the issue further. Will reach out to yo

[2021-09-20 13:27] vhorne commented on #78394
done
#please-close

[2021-09-20 13:27] #78394 closed

[2021-09-20 13:40] mukulcho opened #81297 "access to survey"
under https://docs.microsoft.com/en-us/azure/purview/concept-elastic-data-map#elastic-data-map section i do not have access to [Survey here](https://aka.ms/PurviewProdSurvey)
getting following error message on [https://forms.office.com/pages/responsepage.aspx?id=v4j5cvGGr0GRqy180BHbR1ezopMJ4J9AoI1kdqClthtUMzhWVloxSlc3MEk2QTU0SlBTRFhTMFZSMC4u](url)
You don't have permission to view or respond to th

[2021-09-20 13:44] SubhashVasarapu-MSFT commented on #81062
@bzabber, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-09-20 13:44] #81062 closed

[2021-09-20 14:03] ToddBowman commented on #81244
My VPN client works to attach to the private network but DNS resolution doesn't always work to resolve private DNS zones.  According to the documentation page, "When you provision a private AKS cluster, AKS by default creates an additional public FQDN and corresponding A record in Azure public DNS. "  How do I find the public name of the cluster?

So I should be able to use the public FQDN, if I k

[2021-09-20 14:10] ToddBowman commented on #81244
I see in the portal two addresses, one inthe "essentials" part and another under Properties-->Networking.  In the screen shot attached, the two addresses do not match, the upper one is the private link address, the lower one is the public FQDN.  But the lower one _sometimes_ matches the upper one.  The lower ones seems to vary every time we refresh the window, sometimes showing the private link ad

[2021-09-20 14:11] #81259 closed

[2021-09-20 14:13] spelluru commented on #80986
@SamaraSoucy-MSFT - Have you tried the steps in the tutorial? Did you see the same issue? Thanks.

[2021-09-20 14:25] MonikaReddy-MSFT commented on #81193
@freastro - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-20 14:25] #81193 closed

[2021-09-20 14:28] ssivas commented on #81296
@ericgoudriaan, Thank you for your feedback . We will investigate and update the thread.

[2021-09-20 14:46] SatishBoddu-MSFT commented on #81284
Hello @ksh7393
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-20 14:50] asergaz commented on #81158
Thank you for your feedback . We will investigate and update the thread.

[2021-09-20 14:50] SatishBoddu-MSFT commented on #81290
Hello @jeevannagvekar
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-20 14:53] zaalion opened #81300 "How about Azure Resources?"
[Enter feedback here]
Hello,

This PowerShell script helps creating Azure AD Role PIM assignments. How about Azure Resources PIMs? Could you add the scripts for those as well?

Thanks,
R

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51dbe039-2ab8-b9a3-531d-71de3082cf2c
* Version Independent ID: 020b443d-d664-9bad-bbc9

[2021-09-20 14:57] RyanHill-MSFT commented on #76985
@lysacor please do let us know if the above suggestion doesn't resolve your issue.

[2021-09-20 14:57] #76985 closed

[2021-09-20 15:02] MonikaReddy-MSFT commented on #81286
@jolle-sogeti - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-09-20 15:04] SaeedAkhter-MSFT commented on #79261
#reassign: @SaeedAkhter-MSFT

[2021-09-20 15:04] PRMerger16 commented on #79261
GitHub user hamiltonha has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-09-20 15:05] SaeedAkhter-MSFT commented on #77933
#reassign: @SaeedAkhter-MSFT

[2021-09-20 15:05] PRMerger15 commented on #77933
GitHub user hamiltonha has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-09-20 15:05] SaeedAkhter-MSFT commented on #72420
#reassign: @SaeedAkhter-MSFT

[2021-09-20 15:05] PRMerger20 commented on #72420
GitHub user hamiltonha has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-09-20 15:06] SaeedAkhter-MSFT commented on #78005
#reassign: @negoe

[2021-09-20 15:10] stevebus commented on #64993
Hi all,

Sorry for the slow response - was OOF last week...   The sample at [here](https://github.com/Azure/azure-iot-sdk-python/blob/master/azure-iot-device/samples/async-edge-scenarios/send_message_downstream.py) was not meant to use x509 certificates for authentication...  That sample is only valid with a SAS-Token based connection string.   The sample exists to show how to incorporate the *IoT

[2021-09-20 15:11] whhender commented on #80074
Thank you! This is helpful! Working on getting this updated.

[2021-09-20 15:12] MonikaReddy-MSFT commented on #81285
@pnl0ep7f - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-09-20 15:21] AnuragSharma-MSFT commented on #81179
@Rita0880 Thanks for replying back. Can you also please tell under which user are you running this query from? I mean if you are connecting using Active Directory Admin and then running this command.

[2021-09-20 15:22] whhender commented on #81227
We are looking into this now.

[2021-09-20 15:22] mhyon commented on #80926
Hi @SwathiDhanwada-MSFT, was your test with the azure-mgmt-resource version 20.0.0 ?

[2021-09-20 15:23] whhender commented on #81297
Thank you for letting us know! I am looking into this issue now.

[2021-09-20 15:25] justinmchase opened #81302 "Bicep template instead of Terraform?"
This page has a link to terraform but its not easy to see what the actual resources are created by that Terraform template. Can you please add a bicep example instead, which maps 1:1 more directly to azure resources?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86a92485-1e9e-0327-87b3-40a72435e99a
* Version Independe

[2021-09-20 15:29] iulyanvicari commented on #61238
Anyone found a solution for this?

e.g. http://api.company.com/tickets?querystring=1&product=3&customer=4

the "?querystring=1&product=3&customer=4" parameters are not being displayed in appinsights

[2021-09-20 15:30] derisen commented on #77864
We are tracking this internally and no further action to take for now #please-close

[2021-09-20 15:30] #77864 closed

[2021-09-20 15:37] Rita0880 commented on #81179
@AnuragSharma-MSFT
yeah I am connecting with Active directory user which has been added as Active Directory admin in my sql,

see the snapshot

![image](https://user-images.githubusercontent.com/22588687/134030552-ecf09690-7768-4b4c-b37c-f5216cbdcdd5.png)

[2021-09-20 15:44] IanMoroney commented on #80263
@GitaraniSharma-MSFT , is there someone else that can assist with this?

[2021-09-20 15:49] #80966 closed

[2021-09-20 16:00] juliakm commented on #81246
Thanks @idrm. I'm going to check with the product team on this one.

[2021-09-20 16:00] algattik opened #81303 ""Add my IP" outdated text"
The text and screenshot "Add my IP" are out of date. The action is now labeled "Add current client IP address"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ee1902e-1dee-1f7b-2dbd-c696b5ca3074
* Version Independent ID: a06f91ba-fcc3-56d6-ac78-15c4b118c202
* Content: [Manage firewall rules - Azure portal - Azure Datab

[2021-09-20 16:02] zgoldin opened #81304 "Connection error codes missing/incorrect"
Hi Team,

Upon investigating disconnect messages experienced by users in our environment we are noticing a disconnect between errors seen and the errors documented in the **Connection error codes** subsection of this page. Namely the following errors either don't match the break/description documented in the "Suggested Solution" column:

ClientNetworkUnavailable (3076)
ConnectionBrokenMissedHeartb

[2021-09-20 16:04] GitaraniSharma-MSFT commented on #81295
@omarmallat , thank you for your queries, We'll review this and get back to you shortly!

[2021-09-20 16:18] LucaOtto commented on #81122
Hello @BhargaviAnnadevara-MSFT , thank you for your support. Running the commands again resulted in the same output as shown in your last message. I believe we can close this issue.

[2021-09-20 16:18] #81122 closed

[2021-09-20 16:23] LucaOtto commented on #81101
Hello @BhargaviAnnadevara-MSFT , thank you for your support. After reopening the Startup.cs file and locating the same line the VS Code editor provides the right option for"Configuration." without throwing error CS0103.

[2021-09-20 16:23] #81101 closed

[2021-09-20 16:26] shraboin opened #81305 "Contradictory information on Blob Tags + Blob Data RBAC"
In this section: https://docs.microsoft.com/en-us/azure/storage/blobs/storage-manage-find-blobs?tabs=azure-portal&source=docs#role-based-access-control

Additional permissions, separate from the underlying blob data, are required for index tag operations. The Storage Blob Data Owner role is granted permissions for all three blob index tag operations. The Storage Blob Data Reader is only granted pe

[2021-09-20 16:31] dcnoren opened #81306 "Can individual operations be excluded from the logging when setup?"
Can individual operations be excluded from the logging when setup? For example, if one wanted to see "ReadFile" but did not want to see logs for "GetFileProperties", can this be setup through an extended policy definition?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63c3effd-7cc3-f021-358a-adeaf59a0a69
* Version Ind

[2021-09-20 16:37] mattmccleary commented on #81054
@anumalasri thank you for that concise explanation. Can you open an issue at https://github.com/microsoft/ApplicationInsights-Java/issues? Basically the text in your previous post is perfect. I believe the product team is going to take a look at remapping that field, and the issue you open will enable us to track it to resolution. Thank you for taking the time to reach out.

[2021-09-20 16:39] NikhilD16 opened #81307 "Except Standard_HB120rs_v3, are other machines constraint vCPUs?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbcdc548-7d75-b2a1-6eb4-81809238678c
* Version Independent ID: 680c0d06-0f53-0019-f790-fa9d278e9bb9
* Content: [HBv3-series - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/hbv3-series#feedback)
* Content Source: [arti

[2021-09-20 16:41] dan-tr commented on #74433
@SwathiDhanwada-MSFT, thank you for the follow up. I was able to resolve the issue. I need to upgrade my operating system which also updates Safari. I then need to have new certificates added to my Mac. After an extensive reconfiguration of my Mac, the Microsoft Docs started working again.

[2021-09-20 16:44] JamesTran-MSFT commented on #81300
@zaalion
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-20 16:47] vermagit commented on #81307
On H*-VM size families, not yet, but coming soon :)
Though the General Purpose VM sizes (D/E/F) have many constrained core sizes available today.

The H* docs will be updated when those are available.
Though interested in your feedback on how you're using the HBv3 constrained core sizes today and what are you looking for in backporting this capability to the other VM sizes. Is there any specific c

[2021-09-20 16:49] syed5256 commented on #30323
Hi   @ram-msft and @kiwidamien and @rodneyjoyce
 i have the same error on my Azure Machine LEarning Service using Container Instances. What did you mean by "Subscribe to "Container.Registry" service?

can you please help me on this

[2021-09-20 16:55] rconiv opened #81309 "Funny English"
The English in this statement looks weird "A PRT contains claims generally contained in any Azure AD refresh token."  It is part of the PRT Contains statement.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d3bcf99-60c3-876c-c421-3351e507a81b
* Version Independent ID: c906978e-acf2-462c-d7ff-20221872a793
* Content: [P

[2021-09-20 16:56] NikhilD16 commented on #81307
As per the naming convention document, all the machines except Standard_HB120rs_v3 can be classified as constraint vCPU?

https://docs.microsoft.com/en-us/azure/virtual-machines/vm-naming-conventions

[2021-09-20 16:58] #81309 closed

[2021-09-20 16:59] vermagit commented on #81307
Yes, the same naming convention is followed.

[2021-09-20 17:12] curtand commented on #66636
Hi @danmyhre ,
That article was out of date and we have replaced it with a comparison between Azure AD role-assignable groups and PIM privileged access groups that addresses the issue you rose.
https://docs.microsoft.com/azure/active-directory/privileged-identity-management/concept-privileged-access-versus-role-assignable

#please-close

[2021-09-20 17:12] #66636 closed

[2021-09-20 17:12] mike-urnun-msft commented on #81183
Hi @mikebudzynski - Do you know if we have a newer video demonstrating the `<log-to-eventhub ..>` policy? I've located the below but it's from 2015: https://channel9.msdn.com/Blogs/AzureApiMgmt/Integrate-Azure-API-Management-with-Event-Hubs

[2021-09-20 17:13] NikhilD16 commented on #81307
Seems that constraint vCPUs are using Hyphen as a separator between [# of vCPUs] + [Constrained vCPUs]?
For E.g. All constraint machines are using the hyphen e.g. Standard_M8-2ms, Standard_M8-4ms, etc.
https://docs.microsoft.com/en-us/azure/virtual-machines/constrained-vcpu

But whereas if we follow the same naming convention with a hyphen as separator then Standard_HB120-64rs_v3 should be categor

[2021-09-20 17:16] diberry opened #81311 "Provide guidance (or link to guidance) for MultiResponse object"
"This code now returns a MultiResponse object that contains both a document and an HTTP response."

Can you elaborate on how those fields can/should be used by either CosmosDB or the original caller (where a/the response is eventually returned?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62965f3a-d852-cbe8-3d01-a512

[2021-09-20 17:18] Oury-MSFT commented on #81303
@algattik Thank you for your feedback . We are reviewing the doc and will get back shortly.

[2021-09-20 17:24] msmimart commented on #77907
@mcox13579 Thanks for your patience. Per the product team these results are accurate. This government client shows as GCC, so it's in the Azure Commercial cloud and not the government cloud:
"tenant_region_scope":"NA","tenant_region_sub_scope":"GCC","cloud_instance_name":"microsoftonline.com"
In this case, all B2B capabilities that are documented are available.
Thanks so much for helping us clarif

[2021-09-20 17:24] #77907 closed

[2021-09-20 17:25] BhargaviAnnadevara-MSFT commented on #81108
@shakthifuture For those environment variables to be available, you'd have to enable managed identity on your application first. While there are a number of ways to do so, here is how you can from the portal:

![image](https://user-images.githubusercontent.com/44050820/134043460-6a37c9a6-80f4-45bc-8548-887ade58f9b6.png)

You can then SSH into your app at: `https://<your-app>.scm.azurewebsites.net/

[2021-09-20 17:25] #81108 closed

[2021-09-20 17:25] msmimart commented on #80325
#please-close

[2021-09-20 17:26] #80325 closed

[2021-09-20 17:39] YutongTie-MSFT commented on #81017
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @RohitMungi-MSFT  and we will gladly continue the discussion.

[2021-09-20 17:39] #81017 closed

[2021-09-20 17:43] Karishma-Tiwari-MSFT commented on #80736
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-20 17:44] laujan commented on #81141
#please-close

[2021-09-20 17:44] #81141 closed

[2021-09-20 17:48] diberry opened #81315 "Does this work for the MongoDB API"
I don't think I can wire up a function to create a new MongoDB document in a CosmosDb database or can I?

If this doc isn't relevant to all the CosmosDB apis (like mongo), does it say that somewhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62965f3a-d852-cbe8-3d01-a5126a16c660
* Version Independent ID: 2af2bfc6-b

[2021-09-20 17:48] mikebudzynski commented on #81183
We do not have a newer video. We can remove the reference. cc: @dlepow

[2021-09-20 17:50] Oury-MSFT commented on #80910
@embeau Thank you for the feedback. We will raise a PR to update the doc.

[2021-09-20 17:56] ivanacMST opened #81316 "DNSSEC registration link not giving the option to register and taking straight to the feedback page."
DNSSEC registration link not giving the option to register and taking straight to the feedback page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd0a3a26-4d9a-9dde-734d-1ed812852bed
* Version Independent ID: 0402dbe1-91b2-2adf-15b6-4b90a5bcda3e
* Content: [FAQ - Azure DNS](https://docs.microsoft.com/en-us/azure/dns/

[2021-09-20 17:58] Oury-MSFT commented on #80910
https://github.com/MicrosoftDocs/azure-docs-pr/pull/172959

[2021-09-20 17:59] leifbro commented on #80545
I see no difference between the before and after.
#please-close

[2021-09-20 17:59] #80545 closed

[2021-09-20 17:59] TiloGit commented on #78863
see here as well: https://github.com/Azure/ARO-RP/issues/457 ;

[2021-09-20 18:04] ThomasWeiss commented on #81315
@diberry That's correct, only the Core (SQL) API is currently supported in this scenario. This is mentioned in step [Create your Azure Cosmos DB account](https://docs.microsoft.com/en-us/azure/azure-functions/functions-add-output-binding-cosmos-db-vs-code?tabs=in-process&pivots=programming-language-csharp#create-your-azure-cosmos-db-account) where it says "Choose `Core (SQL)` to create a document

[2021-09-20 18:18] #81183 closed

[2021-09-20 18:22] MonikaReddy-MSFT commented on #81031
@dimazoin - The PG team has mentioned that the doc request is logged in the docs backlog queue. Please file a support ticket for immediate assistance. In the meantime, the team will review the doc based on placement in queue.

The doc will be updated when it gets in the queue, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your repl

[2021-09-20 18:22] #81031 closed

[2021-09-20 18:23] whhender commented on #80074
This is now updated! Thank you for your patience.

[2021-09-20 18:24] whhender commented on #80074
#please-close

[2021-09-20 18:24] #80074 closed

[2021-09-20 18:26] AnuragSharma-MSFT commented on #81179
@Rita0880 This seems right to me. I have reached out internally to product team on this and will get back at the earliest.

[2021-09-20 18:28] Karishma-Tiwari-MSFT commented on #80851
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

CC: @mimckitt

[2021-09-20 18:29] mimckitt commented on #80851
Link has been updated.

#please-close

[2021-09-20 18:30] #80851 closed

[2021-09-20 18:30] Karishma-Tiwari-MSFT commented on #80931
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-20 18:30] mike-urnun-msft commented on #81183
@kingcomma Thank you for reporting this issue and helping us drive improvements towards MS Docs! I have created a PR that removes the references to the video per @mikebudzynski above. Changes should be live within the next 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-09-20 18:33] BobC-JBL commented on #56444
I am also having this issue. When the data source brings in the field, it is initially a string. I change it to "timestamp", and when I want to select the format, 'yyyyMMdd HH:mm:ss.SSS' is not available in the drop down. If I paste it in, the results are all nulls in that column. If I leave it blank the format is yyyyMMdd HH:mm:ss, with no milliseconds.

I have tried to alter the data flow script

[2021-09-20 18:39] SamaraSoucy-MSFT commented on #81311
Thanks for the question! We will review and get back to you shortly.

[2021-09-20 18:40] mimckitt commented on #81278
#reassign @ju-shim

[2021-09-20 18:45] angloankurjain opened #81317 "While creating image using Packer how to access VM using Bastion Host?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f33d707-2a5b-e0f7-2649-9b778d57a1da
* Version Independent ID: 3584b4b8-c5f5-2170-3f8a-7a9a33025a84
* Content: [Create Linux Azure VM Images with Packer - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/build-imag

[2021-09-20 19:18] davidsmatlak commented on #81263
@tiny-dancer there's a table in [Configure an Azure Front Door Standard/Premium Route](https://docs.microsoft.com/azure/frontdoor/standard-premium/how-to-configure-route) that states for **Patterns to Match** to _configure all URL path patterns that this route will accept_. It continues with more information that might help answer your question.

@duongau is there a `patternsToMatch` limit for a r

[2021-09-20 19:27] JasonWHowell commented on #81231
#please-close

[2021-09-20 19:27] #81231 closed

[2021-09-20 19:47] jpocloud opened #81318 "Indoor Maps API did not work, it is now using unsupported API for FeatureState"
The example code did not work for updating the feature state in Indoor Maps. The Indoor maps 1.0 API is now deprecated. "The Azure Maps Creator services (Preview) version 1.0 will retire on 6 September 2021. Please transition to using version 2.0 by that date. For details, see Azure Maps Creator V1 Retirement." Ref: [(https://azure.microsoft.com/en-us/updates/azure-maps-creator-v1-will-be-retired-

[2021-09-20 20:08] roygara commented on #80930
We've taken this discussion offline, so I'll close out this issue.

#please-close

[2021-09-20 20:08] #80930 closed

[2021-09-20 20:17] trevorbye opened #81320 "Single article as TOC node"
Like the title says, a single article shouldn't be a TOC node. This confuses customers into thinking this is a separate product; setting a property on an object, and using the long-existing class `AutoDetectSourceLanguageConfig`, isn't a new product. It looks very out of place when compared to the rest of the Speech content as there is no overview, quickstart, concepts, etc. There is also not a "N

[2021-09-20 20:23] kimjamia commented on #81112
Yup, it's live.

[2021-09-20 20:23] #81112 closed

[2021-09-20 20:30] jwarner00 opened #81321 "Refresh Auth Tokens: Missing AAD V2 Scopes"
What isn't mentioned in the _Refresh auth tokens_ section, when discussing getting the AAD refresh token, is that setting the loginParameters value is actually overriding the default requested scopes, which are "openid profile email". If you follow the documentation verbatim, system behavior will change in that the server requests won't get the information provided by the email and profile scopes.

[2021-09-20 20:40] arunvijay808 opened #81322 "This page is supposed to be for Azure Relay"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fe98352-c5c4-6ec4-7ff7-5de61943e47f
* Version Independent ID: 1eba5da4-0123-d262-b106-1cccdd05297f
* Content: [Azure security baseline for Service Bus](https://docs.microsoft.com/en-us/security/benchmark/azure/baselines/service-bus-messaging-security

[2021-09-20 20:41] roflemin opened #81323 "typo in port number"
this line

Make sure that you can see data packets flowing on port 25524, 25526, or both

should read:

Make sure that you can see data packets flowing on port 25224, 25226, or both

Thank You,

Roger Fleming

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e06c3338-b68b-be74-c8fa-8a3afa5c3428
* Version Independent ID: e

[2021-09-20 20:48] cpsbatthoutlook opened #81324 "Environment variables are not fully configured error when running this code."
Even after runing az keyvault set-policy command, I am getting the error "EnvironmentCredential: EnvironmentCredential authentication unavailable. Environment variables are not fully configured."

I am able to create and modify the secret using the  az keyvault secret set | show command.  The KEY_VAULT_NAME environment variable is set and is available correctly in the code.

![Screenshot 2021-09-2

[2021-09-20 20:54] JamesTran-MSFT commented on #81324
@cpsbatthoutlook
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-20 20:54] jwarner00 commented on #81321
PR with a suggested fix is here: https://github.com/MicrosoftDocs/azure-docs/pull/81325

[2021-09-20 20:59] JamesTran-MSFT commented on #81323
@roflemin
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-09-20 21:12] pettermoe95 opened #81327 "Azure Resource Explorer down?"
I'm following this docs to add extra values to scope login parameter for my Azure App Service: https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-oauth-tokens#refresh-auth-tokens

When I go to resources.azure.com I get:
Error 403 - This web app is stopped.

I can't find any information about why it is stopped, if it has moved, or what is happening.

[2021-09-20 21:31] nelroosevelt opened #81328 "Renewal Certificate"
Please add that the CNAME must point to a static web app or the static web app must be publicly accessible for certificate renewal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 190b1ed3-0712-2f19-4e8f-a2a8519d136e
* Version Independent ID: b02adbf4-d2a8-6c84-e70a-ff59fb3cbb7b
* Content: [Set up a custom domain in Azu

[2021-09-20 21:34] DerekHerman-MSFT commented on #81305
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-20 21:45] RyanHill-MSFT commented on #81321
Thanks for the contribution [@jwarner00](https://github.com/jwarner00). [@cephalin](https://github.com/cephalin) will review and update when appropriate.

[2021-09-20 21:52] ChaitanyaNaykodi-MSFT commented on #81316
Hello @ivanacMST, Apologies for the experience. I will share your feedback about DNSSEC with the team.

As an FYI, Azure is working on a new self-service option for customers to share and vote on product feedback. When available (current ETA is 6 weeks), you will be able to go to https//feedback.azure.com and share/upvote product feature ideas.

We will now proceed to close this issue out. Please

[2021-09-20 21:52] #81316 closed

[2021-09-20 22:00] Nicholak-MS commented on #81080
Hi @ChadEllis8 the three GUIDS mentioned above have been added to the table. And we are getting closer to having a downloadable CSV. Coming soon.

Thanks
Nick

[2021-09-20 22:04] Peeyush-Now commented on #81151
Consider a scenario where Azure Data Factory is being configured to collect data from 2 or more on premise SQL Servers, each of them running on the default port 1433. The load balancer knows by FQDN/IP which sql server to route to, but needs a different port for routing to the backend pool VMs. The backend VMs use the routing table port to then decide which FQDN to forward the request to. Have I u

[2021-09-20 22:05] DerekHerman-MSFT commented on #81306
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-20 22:21] Oury-MSFT commented on #80910
https://github.com/MicrosoftDocs/azure-docs-pr/pull/172975

[2021-09-20 22:22] Oury-MSFT commented on #80910
@embeau Changes have been approved and should be live this week. Thank you for helping us improve our documentation

[2021-09-20 22:22] #80910 closed

[2021-09-20 22:47] fhryo-msft commented on #81306
There is no filter available to exclude logs per operation. The only filters are categories: Read, Write and Delete.

[2021-09-20 23:04] RyanHill-MSFT commented on #81328
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-20 23:38] JakeMoe opened #81329 "PowerShell Runbook information out of date?"
In the section "PowerShell runbooks", some of that information appears to be wrong; perhaps it's out of date?

I'm doing this; a parent runbook triggers multiple jobs of child runbooks.  Perhaps this was intended to apply to runbooks you want to get information back from?  Mine are just handing off work to the child runbooks, without getting any information back.

I've done this both inline (calli

[2021-09-21 00:44] Karishma-Tiwari-MSFT commented on #81304
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-21 00:46] Heidern89 opened #81332 "wrong hyperlink"
![image](https://user-images.githubusercontent.com/89819988/134095509-55dee077-a437-411b-b0fd-1701f9d83154.png)

Hyperlink for the text: "Install Azure IoT Edge for Linux on Windows" redirects to "Install and manage Azure IoT Edge with Windows containers" instead of linux.

Probably should be linking to "https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-on-windows?view=iotedg

[2021-09-21 00:56] BryanTrach-MSFT commented on #81302
@justinmchase Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-21 00:57] BryanTrach-MSFT commented on #81317
@angloankurjain Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-21 00:59] zamgill opened #81333 "Add documentation for Nodejs webjobs"
Please add documentation for Nodejs webjobs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24523dbf-010f-b844-5ff0-88192eac8849
* Version Independent ID: d7ef5962-d94c-96d0-bf08-1efffc6d402b
* Content: [Run background tasks with WebJobs - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/webjobs-cr

[2021-09-21 01:11] jesussalasp opened #81334 "AAD IdP Initiated SSO"
What is the proper construct for an **samlp:AuthnRequest** to get an IdP Initiated SSO NOT including InResponseTo?

I found that the "Test single sign-on" option in the Enterprise Application -> Single Sign On Blade submits a request producing an assertion NOT including a InResponseTo attribute only if the ID provided for the AuthnRequest is exactly "F84D888AA3B44C1B844375A4E8210D9E", if not this

[2021-09-21 01:18] dwaiba opened #81335 "Azure Cache for Redis Premium in subnet conflicts with NAT Gateway creation because the former creates a Basic SKU LBR in the subnet"
With Azure Redis Cache with sku `Premium` and family `P` on an existing subnet in a VNET, a LoadBalancer with "Basic" SKU is created which interferes with creation of an Azure NAT Gateway Attached to the same subnet. At least provide a "Standard" LoadBalancer

`updating NAT Gateway Association for Subnet "dev-natest-subnet" (Virtual Network "dev-natest-vnet" / Resource Group "dev-natest-rg"): netw

[2021-09-21 01:30] wokket opened #81336 "ACI Vnet availability in regions that are missing it"
Apologies for raising this here, I can't imagine this is the best place but trying to provide feedback is a hot mess right now with all feedback links leading to [this placeholder page](https://azure.microsoft.com/en-us/feedback/)

I'm trying to create a VNet hosted ACI instance in `australiasoutheast` and after a bunch of digging into the error
[code]

and trying all the options generally listed

[2021-09-21 01:51] benhatton-admin-unsw-edu-au opened #81337 "Links at the bottom of the page are to deprecated APIs"
Hi,

This page describes the shift to the new REST APIs, but the recommended content links are to the old deprecated content only.

Cheers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8c28716-3b7f-2064-4c79-72d46f09f886
* Version Independent ID: fd636801-4b0a-b825-78f6-55373797b3dd
* Content: [API concepts in Privil

[2021-09-21 01:58] RyanHill-MSFT commented on #81333
Thanks for the feedback! NodeJS is listed as a [supported file type](https://docs.microsoft.com/en-us/azure/app-service/webjobs-create#acceptablefiles), however, I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-21 02:05] BharathNimmala-MSFT commented on #80897
@mishagen Checking in to see to if you could share the above information, which would help us to address the issue. Thank you

[2021-09-21 02:24] BharathNimmala-MSFT commented on #80871
@takekazuomi , @Grodriggues Thank you both for confirming that it works with the microsoft-oms-latest image. We will take a backlog item to work with our team to update relevant docs associated to docker images.

Thanks again for taking time to share the feedback and helping improve our Azure documentation.

[2021-09-21 02:24] #80871 closed

[2021-09-21 02:27] BharathNimmala-MSFT commented on #81195
@rafatecoy  Thanks again for bringing this to our notice and helping us improve our Azure documentation. I have raised a PR to update the document. Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and close this issue for now, however

[2021-09-21 02:27] #81195 closed

[2021-09-21 02:28] sakurai8888 opened #81339 "Azure SQL VM AAG Network Best practise"
I would like to question , the best practice here says 'Use a single NIC per cluster node and a single subnet'.

but for performance perspective , Always-on best practice is to use Dedicate network card for mirroring endpoint .

https://docs.microsoft.com/en-us/sql/database-engine/availability-groups/windows/prereqs-restrictions-recommendations-always-on-availability?view=sql-server-ver15

Please

[2021-09-21 02:30] dwaiba opened #81340 "Azure Redis Cache Premium within a VNet subnet creates a LoadBalancer of SKU "Basic" and hence is incompatible with"
Azure Redis Cache Premium within a VNet subnet creates a LoadBalancer of SKU "Basic" and hence is incompatible with NAT Gateways on the same subnet.

Requesting Doc updates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bced23e-5c67-3a63-06f7-c659ba56b5e7
* Version Independent ID: 10d48e1f-e090-ab51-553c-64655a102c9d

[2021-09-21 02:37] takekazuomi commented on #80871
@BharathNimmala-MSFT

Also, OMS-Docker team updated the image name in README.md. Look like this document is based on OMS-Docker's README.md.
https://github.com/microsoft/OMS-docker/pull/432

[2021-09-21 02:39] BharathNimmala-MSFT commented on #80871
Thank you @takekazuomi for the pointer.

[2021-09-21 03:00] GennadNY commented on #78467
@serjdag - I just updated docs , thank you for filing this issue.

[2021-09-21 03:19] GennadNY commented on #78467
@AnuragSharma-MSFT - I will let you know as soon as doc changes mergem but you can close this case

[2021-09-21 03:35] SamaraSoucy-MSFT commented on #80945
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-09-21 03:45] SubhashVasarapu-MSFT commented on #81137
@mabesignal, Appreciate your feedback. the doc has been updated accordingly. It would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-09-21 03:45] #81137 closed

[2021-09-21 04:02] BhargaviAnnadevara-MSFT commented on #81327
@pettermoe95 Thanks for reaching out. I just tried and was able to access [Azure Resource Explorer](https://resources.azure.com/):

![image](https://user-images.githubusercontent.com/44050820/134109591-d937e459-6811-432e-9eaa-21e3887bcc08.png)

Please check if this is still an issue.

[2021-09-21 04:10] BharathNimmala-MSFT commented on #81302
@justinmchase Thank you for taking time and sharing your feedback , assigned this to our document author to further review the feedback and enhance the document.

[2021-09-21 04:13] ram-msft commented on #81320
@trevorbye Thanks for the feedback! We will review and update accordingly.

[2021-09-21 04:25] SumanthMarigowda commented on #80929
@Which keys are rotated? Key Encryption Keys (ie; the RSA key) or the Data Encryption Keys (AES)?
**Key Encryption Keys**
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-21 04:25] #80929 closed

[2021-09-21 04:30] ufcurmcginty opened #81342 "This guide used to allow you to create multiple ingress controllers with different static IPs"
The upgrade to helm v3 and the repo change from stable/ingress-nginx to ingress-nginx/ingress-nginx has made this process needlessly complicated and no longer able to create multiple ingress controllers.

When creating the second ingress controller: Error: INSTALLATION FAILED: cannot re-use a name that is still in use

First ingress controller: (installing with jenkins pipeline)
helm install ingre

[2021-09-21 04:32] pnarsi opened #81343 "Collaborator RBAC Role"
This article suggests that we should be giving collaborators **Contributor** RBAC permissions on LUIS which seems excessive as this would also give the user permissions to edit other configurations such as changing the networking configuration and diagnostic setting of the LUIS resource. Is there a role that we can give to collaborators that only gives them permissions to login to the authoring po

[2021-09-21 04:32] payalgaikwad42 commented on #81105
@SatishBoddu-MSFT , Any updates?

[2021-09-21 04:40] VikasPullagura-MSFT commented on #81336
@wokket
Thanks for the feedback! I am checking with internal team and will get back on this.

[2021-09-21 04:41] VikasPullagura-MSFT commented on #81339
@sakuraitabi2601
Thanks for your Question! We are currently investigating and will get back on this.

[2021-09-21 04:51] SrijitBose-MSFT commented on #81342
@ufcurmcginty , can you please try checking if you have other helm installations in the same namespace from the past? Please use `helm list --all-namespaces`. If you do find such an installation please remove the same using `helm uninstall <installation-name> -n <namespace>`.

[2021-09-21 05:05] madsd commented on #79304
@JozoSlejko you are right, I was able to repro this and have updated the documentation accordingly https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet#how-regional-vnet-integration-works
Thank you again for reporting this.

[2021-09-21 05:24] madsd commented on #76919
@amasover Sorry for the long wait and thank you for reporting this. We do not currently support regional VNet Integration in VNets with IPv6 address spaces defined, and I have updated the documentation to reflect that (should be live within 24 hours). We are working on support for IPv6, but I do not currently have an ETA to share.

[2021-09-21 05:31] AnuragSharma-MSFT commented on #78467
@serjdag These changes are made and will be available in few days.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-09-21 05:31] #78467 closed

[2021-09-21 05:34] AnuragSharma-MSFT commented on #81179
@Rita0880 I have escalated this issue to product group and seeking their inputs. Meanwhile we observed that you have opened an issue on Microsoft Q&A forum as well. If fine we can close this issue and continue following up on Q&A forum. Please let us know.

[Not able to create AAD group in Azure mysql as per online document](https://docs.microsoft.com/en-us/answers/questions/555623/index.html)

[2021-09-21 05:35] AnuragSharma-MSFT commented on #81211
@stoicalpirate This is being assigned to the content author to evaluate and update as appropriate.

[2021-09-21 05:38] AnuragSharma-MSFT commented on #81340
@dwaibaThank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-09-21 05:40] AnuragSharma-MSFT commented on #81335
@dwaiba Thanks for the feedback. We observed there is another issue opened for the same. We have already assigned that to the content author for taking appropriate action. Meanwhile we are marking this as duplicate and close and we can keep following on the other issue. Please let us know if you feel otherwise and we can re-open this issue as well.

https://github.com/MicrosoftDocs/azure-docs/issu

[2021-09-21 05:41] #81335 closed

[2021-09-21 05:50] BhargaviAnnadevara-MSFT commented on #81256
@miisc I just followed all the steps as is and was able to see the index.html page reflect as the landing page of my app:

![image](https://user-images.githubusercontent.com/44050820/134118441-c2da9fdc-89d8-4ece-9e43-eba3330f8391.png)

Could you please share the steps you had followed?

[2021-09-21 05:59] uonie opened #81344 "It is required to add routes to wire server manually in some cases"
In multi-nic scenario, we disable DHCP and manually configure IPs for the NICs as this document mentioned.
In some cases, it is required to manually add routes to wire server to tell the traffic to the wire server goes to the primary NIC so that the agent can work, because the wire server only accept the traffic from the primary NIC.
Can you add this part to this document?

---
#### Document Detai

[2021-09-21 06:13] sreza-msft opened #81345 "Supported RHEL version for Qualys extension"
[Enter feedback here]
According to Qualys ref doc: up to RHEL 8.3 is supported (https://www.qualys.com/docs/qualys-cloud-agent-getting-started-guide.pdf)

However, this Microsoft reference doc is not updated (still showing upto RHEL 8.1 is supported).

Hence, can you please update supported RHEL version for Qualys extension?

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2021-09-21 06:16] quekmc opened #81346 "Different resource groups required for protected Azure VM and Recovery Services Vault"
Hi there

Was trying to setup Azure Site Recover by following the instructions in the below mentioned tutorial but was hitting the error message "Source is in the region as Recovery Vault"; my source VM was in South East Asia region and the Recovery Vault in East Asia region.  Only upon creating a new resource group for the Recovery Vault in East Asia region did I successfully set things up.

Unfo

[2021-09-21 06:47] ssivas commented on #81150
@lXbalanque , I just wanted to check in and see if you had any other questions or if you were able to resolve this issue? We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-09-21 06:48] #81150 closed

[2021-09-21 06:56] Svijay-msft commented on #81151
Yes, That's right.  The backend VM forwards the request to the respective SQL Server on port 1433 based on the routing table port of the VM.

We will close this out, but if you feel you need more information please just let us know.

[2021-09-21 06:56] #81151 closed

[2021-09-21 07:01] mardahl commented on #80163
Generally it would make sense if the client could auto detect a valid certificate in the users personal store.
Either fully automatic, or by some predictable measure that we can provision in the certificate, so that the client is able to always auto select the correct valid certificate.

At the moment, silent install with a PKI certificate of this client is a nightmare, and I have had to write a p

[2021-09-21 07:13] kohei-miyoshi commented on #81025
This shows an app service uses C drive.

![image](https://user-images.githubusercontent.com/85143257/134126897-c3315c70-117d-4e87-88fd-9a410f4e68b1.png)

And nslookup returns below data.  "cloudapp.azure.com" means this app uses VMSS.

![image](https://user-images.githubusercontent.com/85143257/134127325-ef3413d1-99ce-4f49-b851-54e14455ee3a.png)

[2021-09-21 07:14] kohei-miyoshi commented on #81025
@SnehaAgrawal-MSFT

Sorry to late reply. I would like to reopen and deal with this topic.

[2021-09-21 07:21] pettermoe95 commented on #81327
I clicked that exact you sent me and I still get this:
![image](https://user-images.githubusercontent.com/69798757/134127807-0f907ce4-527f-4050-81e3-2bbc68e04eff.png)

[2021-09-21 07:45] spygi commented on #80913
Is there any update on here? Let me know if there are any questions/clarifications needed.
Thanks!

[2021-09-21 07:47] Svijay-msft commented on #81177
Hello @HitenBhavsarMSFT,

Apologies for the delay.  When you collect the data, it becomes part of a row. Usually, we have seen around 30-35 MB limit for the row. Depending on what you are collecting - a field like description or a field like name- the number of entries will be different.

In general, we can think about one thousand items or so.

[2021-09-21 07:57] itskritibhardwaj commented on #81045
Thanks @pochiraju, i'll see to it.

[2021-09-21 08:18] shashishailaj commented on #81345
@sreza-msft Thank you for sharing this info . We will investigate and update the thread.

[2021-09-21 08:20] shashishailaj commented on #81334
@jesussalasp Thank you for your feedback . We will investigate and update the thread.

[2021-09-21 08:22] shashishailaj commented on #81337
@benhatton-admin-unsw-edu-au Thank you for your feedback . We will investigate and update the thread.

[2021-09-21 08:22] RohitMungi-MSFT commented on #81217
@fat4tony Since this is tracked by a Azure support case we will now proceed to close this thread. Thanks!!

[2021-09-21 08:22] #81217 closed

[2021-09-21 08:23] RohitMungi-MSFT commented on #81210
@sameer-bhangale Since this is a limitation to use speech SDK the behavior is expected. We will now proceed to close this thread.

[2021-09-21 08:23] #81210 closed

[2021-09-21 08:39] PramodValavala-MSFT commented on #81322
@arunvijay808 Thanks for the feedback! We will review and update accordingly.

[2021-09-21 08:44] serjdag commented on #78467
@GennadNY, could you please post here what have you changed?

[2021-09-21 08:50] smedin4 opened #81348 "Provide more details about Incoming Interface / Outgoing Interface"
The values "Incoming Interface" and "Outgoing Interface" are not properly explained.
It is not clear if the interfaces refer to the Azure Defender for IoT sensor or the interfaces in FortiGate side.
An example with common values would additionally be great (something like "Sample value: eth0" or similar).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2021-09-21 09:31] VikasPullagura-MSFT commented on #81344
@uonie
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-09-21 09:31] VikasPullagura-MSFT commented on #81344
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2021-09-21 10:05] mpowrie opened #81349 "the powershell script is not compatible with Powershell 5.1"
Make a note that the script requires Powershell core - I tried it in Powershell 5.1 and it failed, but it worked in Powershell 7.1.4.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be523268-53e3-43f1-21ce-c1e7d5210a9c
* Version Independent ID: 04b16d87-3a21-aee0-2233-b65f087bd952
* Content: [Azure

[2021-09-21 10:18] marcelkmfst opened #81350 "Tutorial broken due to HELM version / NGINX Version"
This tutorial (like all the others for NGINX ingress with AKS) is broken.
There is a mismatch in the digests and the NGINX Version is not compatible with the chart.

1. Digest
it´s necessary to add:
    --set controller.admissionWebhooks.patch.image.digest="" \
    --set defaultBackend.image.digest=""

2. Controller image
to fix the nginx either helm version 3.36.0 must be specified
or
the nginx i

[2021-09-21 10:18] marcelkmfst opened #81351 "Tutorial broken due to HELM version / NGINX Version"
This tutorial (like all the others for NGINX ingress with AKS) is broken.
There is a mismatch in the digests and the NGINX Version is not compatible with the chart.

1. Digest
it´s necessary to add:
    --set controller.admissionWebhooks.patch.image.digest="" \
    --set defaultBackend.image.digest=""

2. Controller image
to fix the nginx either helm version 3.36.0 must be specified
or
the nginx i

[2021-09-21 10:19] marcelkmfst opened #81352 "Tutorial broken due to HELM version / NGINX Version"
This tutorial (like all the others for NGINX ingress with AKS) is broken.
There is a mismatch in the digests and the NGINX Version is not compatible with the chart.

1. Digest
it´s necessary to add:
    --set controller.admissionWebhooks.patch.image.digest="" \
    --set defaultBackend.image.digest=""

2. Controller image
to fix the nginx either helm version 3.36.0 must be specified
or
the nginx i

[2021-09-21 10:21] spygi commented on #81120
Done @markjbrown, thanks!

[2021-09-21 10:26] baanders commented on #81318
Thanks both, looking into this with the product team

[2021-09-21 10:29] SHxKM opened #81354 ""expires_on" and other date fields are of ambiguous type"
In the acquire token workflow, a partial response body is included:

[code]

What is the exact epoch type of `expires_on`, `not_before`, etc..? There are second based epoch time formats, and there are millisecond ones (there may be others, I'm not knowledgeable enough on this matter...). We need to know in order to avoid logic mistakes.

---
#### Document Details

⚠ *Do not edit this section. It i

[2021-09-21 10:40] abottenberg commented on #80247
@normesta hi, did you manage to investigate this? Thanks!

[2021-09-21 10:40] psmanhas commented on #81351
Closing as [dulpicate #81350](https://github.com/MicrosoftDocs/azure-docs/issues/81350)

[2021-09-21 10:40] #81351 closed

[2021-09-21 10:42] psmanhas commented on #81352
Closing as [dulpicate #81350](https://github.com/MicrosoftDocs/azure-docs/issues/81350)

[2021-09-21 10:42] #81352 closed

[2021-09-21 10:43] psmanhas commented on #81350
@marcelkmfst Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-09-21 10:43] psmanhas commented on #81350
@mlearned Can you please check and add your comments on this doc update request as applicable

[2021-09-21 10:50] HarshitaSingh-MSFT commented on #81349
Hello @mpowrie , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-09-21 10:52] SadiqhAhmed-MSFT commented on #81346
@quekmc Thank you for your post. When you create a recovery service vault (RSV), it is created within the resource group.

This line "Create a Recovery Services vault in any region, except in the source region from which you want to replicate VMs." clarifies that you cannot create a RSV in source region. So the source region where you have your VMs are also within the resource group. That said, th

[2021-09-21 11:06] BhargaviAnnadevara-MSFT commented on #81327
@pettermoe95 Thanks for the response. Could you also please try to check if it results in the same screen when accessed from a different browser or an InPrivate window? Have you tried clearing your browser cookies/cache already?

[2021-09-21 11:09] afscrome opened #81355 "Remove historic capacity reservation limit"
This page currently states

Since August 4th has passed, this can be simplified to

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 536eb96c-7a9a-7cf0-5fb5-3b9dfdb2076d
* Version Independent ID: 8f8ef528-f6c3-49bd-0672-72f85b908060
* Content: [Availability zones in Azure Monitor - Azure Monitor](https://docs.microsoft.co

[2021-09-21 11:12] miquelcv opened #81356 "Missing information about OpenVPN"
Article is missing information about OpenVPN, only two protocols are mention, IKEv2 and SSTP.
Also the article scope is limited to IKEv2, it will be useful to include P2S OpenVPN routing behavior.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6860efb1-ddab-04a1-bf34-4e0a41844102
* Version Independent ID: 2321ec49-4cb8

[2021-09-21 11:15] KrishnaG-MSFT commented on #81329
@JakeMoe Thanks for the feedback.
Assigning @MGoedtel for visibility, review and document enhancement consideration if appropriate.

[2021-09-21 11:19] Rita0880 commented on #81179
@AnuragSharma-MSFT
Thanks  Anurag !!

As long as ,somebody from MS team follows the Q&A, I don't mind, you can close it.
 Anyway, I already raised issue in MS support team as well, somebody is working on it

[2021-09-21 11:26] MonikaReddy-MSFT commented on #81354
@shxkm - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-09-21 11:27] RohitMungi-MSFT commented on #81343
@pnarsi Thanks for the question. As per the current guidance contributor role is required for proper functioning of collaboration feature with an invited/external user.

I will check this internally to understand if fine grained access controls can be used without limiting the access of the app during collaboration. Thanks!!

[2021-09-21 11:29] FlorianBorn71 commented on #80140
Closing this because the off-center model bounds seem to have caused this. Please reopen if there is anything to follow-up.

[2021-09-21 11:31] AnuragSharma-MSFT commented on #81179
@Rita0880 Thanks for responding back. Yes we are on top of it and will respond as soon as we get any updates from internal team. If support team gets the solution before, could you please provide the update on Microsoft Q&A thread? That way others facing similar issue would get a lot of help moving forward. I am closing this issue as of now and will be active on Q&A forum.

[2021-09-21 11:31] #81179 closed

[2021-09-21 11:33] KrishnaG-MSFT commented on #81309
@rconiv Hope you have self resolved and hence closed this issue. If that's not the case then please let us know. Thanks.

[2021-09-21 11:37] bkarrlander opened #81357 "When will this be GA?"
Hello,

Io Hub Distributed Tracing has been in preview for some time now. Is there a plan for when this feature will be GA? And are more SDKs in the works of starting to support distributed tracing?

Thanks and best regards,
Björn

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85a00a92-3048-645b-d4a1-eb6b6446268a
* Ver

[2021-09-21 11:38] SaiKishor-MSFT commented on #81356
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate

[2021-09-21 11:43] sopelt commented on #80136
Using [Get-AzMapsAccount](https://docs.microsoft.com/en-us/powershell/module/az.maps/get-azmapsaccount?view=azps-6.4.0) from [Az.Maps 0.8.0](https://www.powershellgallery.com/packages/Az.Maps/0.8.0) returns [IMapsAccount](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.powershell.cmdlets.maps.models.api20210201.imapsaccount?view=az-ps-6) which has a property [UniqueId](https://docs.mic

[2021-09-21 11:44] PramodValavala-MSFT commented on #81000
@Leonardo-Ferreira That is correct. Ideally, each client should have its own registration to fine control access.

As for the OAuth2.0 setting for APIM, that is only required for the Developer Portal `Try It` feature to work. The actual validation itself is taken care of by the [`validate-jwt` policy](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-protect-backend-with-a

[2021-09-21 11:55] anumalasri commented on #81054
Thanks ...  We opened new issue at AppInsights.
https://github.com/microsoft/ApplicationInsights-Java/issues/1880

[2021-09-21 11:56] FlorianBorn71 commented on #80140
#please-close

[2021-09-21 11:57] ashisa commented on #79317
The docs have been updated with latest information. Thanks!

[2021-09-21 11:57] #79317 closed

[2021-09-21 12:15] f0o opened #81358 "Common alert schema definitions missing `SmartDetector` Monitoring Service"
Nowhere is defined how the schema looks for alerts issued by Smart Detector.

We're exclusively using Smart Detector and we notice that all guides and examples are wrong and upon inspection of the actual payload we saw that there are many differences from any other Monitoring Service listed.

Example:

[code]

Funny enough there are exactly 0 hits on google for `PresentationInsightEventRequest` -

[2021-09-21 12:29] NicolasPSQ opened #81359 "Microsoft 365"
Hi, so if i use this feature i don't need to use this script :
https://docs.microsoft.com/en-us/microsoft-365/solutions/manage-creation-of-groups?view=o365-worldwide

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4404d856-2612-f4a2-ed5c-fff65761293a
* Version Independent ID: 35b07132-7d8a-2c29-3988-54a2ae8fcc25

[2021-09-21 12:43] Nicholak-MS commented on #81083
Hi @ChadEllis8 I have a working draft of what the csv download would look like. Before sharing more broadly would love to get your feedback on the download and the structure of the file. You can download the CSV here.

https://download.microsoft.com/download/e/3/e/e3e9faf2-f28b-490a-9ada-c6089a1fc5b0/Product%20names%20and%20service%20plan%20identifiers%20for%20licensing%20v9_16_2021.csv

Please le

[2021-09-21 12:48] mwaespi opened #81361 "Azure Route Server not available for CSP subscription"
I'm currently not able to deploy the Azure Route Server in a CSP subscription:

![image](https://user-images.githubusercontent.com/91133434/134173009-79abe0c8-3141-4a10-b476-9a06dfc79a32.png)

As this service is now GA, shouldn't it be available for CSP subscriptions as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-09-21 13:09] despian commented on #44844
@mmacy but how do you tell B2C which verb to use for the API you are calling? Does it just always use POST if there is a body and GET otherwise?

What if the API requires a PUT or PATCH call? How do you tell B2C to do this?

E.g. I have an endpoint that requires a PUT call. When I configure the policy in B2C it is failing. I'm guessing this is because it's making a POST. How would I instruct the s

[2021-09-21 13:25] AnuragSingh-MSFT commented on #81322
@arunvijay808 The previously named Service Bus Relay service is now called Azure Relay. [More details here](https://docs.microsoft.com/en-us/azure/azure-relay/relay-faq#what-happened-to-service-bus-relay-service-). The security baseline doc covers guidance from Azure Security benchmark 2.0 to Service Bus (which inherently also applies to Azure relay).

[2021-09-21 13:26] AnuragSingh-MSFT commented on #81322
@msmbaldwin, Can you please share your thoughts on the shared feedback - should the title/content be modified to suit the new name - Azure relay?

[2021-09-21 13:29] AnuragSingh-MSFT commented on #81322
.

[2021-09-21 13:53] bdschaap opened #81367 "Azure Active Directory Licensing for AVD External Users"
Can you please clarify if additional AAD licensing is needed for AVD external users?  I don't wish to use the AAD free tier because there isn't a SLA provided.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: caeca7c5-b265-6497-6b33-16c3c4cf2774
* Version Independent ID: 8d5542cb-a19b-e812-0e0b-9097fff60d3c
* Content: [L

[2021-09-21 13:55] SatishBoddu-MSFT commented on #81332
Hello @Heidern89
I have assigned the issue to the content author for further review.

[2021-09-21 14:00] bobsyourmom opened #81368 "Who is maintaining playbooks?"
[Enter feedback here]

Respectfully speaking, some of the Github Playbooks are not being maintained and the documentation could be improved for several of them.

For example the Block-OnPremADUser is very cool, but it took me a weekend to fix it and improve the documentation.

It would be very handing if a configuration matrix would be create to present most of the configuration requirements for a

[2021-09-21 14:02] HarshitaSingh-MSFT commented on #81359
Hello @NicolasPSQ , thanks for the question! We are taking a look into this and will get back to you soon.

[2021-09-21 14:36] MarcLaf opened #81369 "Odd hidden characters included in JSON code"
When copying and pasting the JSON code (either block), the spaces are copied as some kind of hidden character. When pasted into Notepad++ the characters show up as a box with an X through it. When pasted into VSCode they look like spaces but you can select them and the auto match will select the rest of them (this does not happen with a normal space).

---
#### Document Details

⚠ *Do not edit thi

[2021-09-21 14:38] SuperTekBoy opened #81370 "Missing step in example"
The example misses the New-MSOLDomain command as a step.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd934d58-08f8-a3ca-2686-0006b0b8f74a
* Version Independent ID: 84d9cab3-09b7-95ba-83ea-435ca0ccbb47
* Content: [Admin takeover of an unmanaged directory - Azure AD](https://docs.microsoft.com/e

[2021-09-21 14:40] V-TreyFisher opened #81371 "Screenshot Update"
Hello!

I just wanted to note that in the screenshots for this specific page, the "Azure Role Assignments" area that appears under "Tags" doesn't appear here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b3b66e0-5c12-7859-4106-faaa5544fac6
* Version Independent ID: 63066fab-2b7c-c592-c9a8-738155c6abff
* Content: [Ma

[2021-09-21 14:46] v-tcassi commented on #81332
Thanks for catching this @Heidern89

Resolved in [this PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/173034) by @DixitArora-MSFT

#please-close

[2021-09-21 14:46] #81332 closed

[2021-09-21 14:56] dlepow commented on #80911
@stewartadam - Thanks for the suggestion! This is something we'll consider for the next update of this article. According to our process, I created a doc enhancement work item for our backlog and so we'll close the issue. Just to note that the "Az" PowerShell module is also [cross-platform](https://docs.microsoft.com/powershell/azure/new-azureps-module-az).
#please-close

[2021-09-21 14:56] #80911 closed

[2021-09-21 15:01] keithmweaver opened #81372 "PowerShell script error"
I am getting an error when trying to run the PowerShell script to register the connector using a token created offline.
See error below.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62886f64-db39-73f2-a7bf-05336bdbef73
* Version Independent ID: 5325ef4c-c584-d242-b201-1a3466904a5f
* Content: [Silent install A

[2021-09-21 15:02] dlepow commented on #79372
@PlagueHO - Sorry for the delay responding. This article already lists the explicitly trusted services [here]( https://docs.microsoft.com/azure/container-registry/allow-access-trusted-services#trusted-services). If a service isn't explicitly listed as "trusted" it currently can't bypass the registry's network access rules.

[2021-09-21 15:08] luisquintanilla commented on #78698
Closing this issue due to inactivity. @thecpshah if you run into another issue, please feel free to open another issue.

#please-close

[2021-09-21 15:08] #78698 closed

[2021-09-21 15:12] mbiver opened #81373 "Supported Extensions list updated?"
Hello.  I was wondering if the supported extensions list is updated?  Specifically, is auto upgrade supported for the Oms Agent For Linux?  Thanks.

https://docs.microsoft.com/en-us/azure/virtual-machines/automatic-extension-upgrade?source=docs#supported-extensions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1519911

[2021-09-21 15:24] luisquintanilla commented on #80457
Thanks @denniseik.

#please-close

[2021-09-21 15:24] #80457 closed

[2021-09-21 15:29] gojo119 commented on #68434
@JamesTran-MSFT what is the source of truth now? Does registering a device in AAD always require an AAD P1 license or not?

[2021-09-21 15:33] LeKaido commented on #7650
Same problem, this needs a fix - please.
Trying to deploy CloudService ES to one subscription while pulling the cert from another subscription. And, it's not working..
_The cloud service SubscriptionId 'xxxxx' must match the key vault SubscriptionId 'yyyyy'_

Using
`"osProfile": {
					"secrets": [
						{
							"sourceVault": {
								"id": "[resourceId(parameters('KeyVaultSubscr'), parameters(

[2021-09-21 15:34] aristosvo commented on #60204
@NavtejSaini-MSFT This is still not properly documented. An extension of this question would be if it is possible to make a service principal AAD MySQL Administrator, and supply the proper steps for that as well.

[2021-09-21 15:35] dlepow commented on #73868
@rajanbhayana - Apologies for slow response to your issue. I believe the availability zones capabilities and regions described on this page are now up to date. Accordingly, I'll close this issue. Thanks for reaching out.
#please-close

[2021-09-21 15:35] #73868 closed

[2021-09-21 15:40] jackchenwork opened #81375 "signout url doesn't work"
[Enter feedback here]

I can't get logout function work properly.

I have tried two signout urls configured in Cisco ASA:
https://login.microsoftonline.com/[tenant ID]/saml2
https://login.microsoftonline.com/common/wsfederation?wa=wsignout1.0

None of them is working as I expected.

When I disconnect the VPN, then re-connect , it popup Azure sign-on page and ask me to "pick a account", once I clic

[2021-09-21 15:40] #81306 closed

[2021-09-21 15:43] luisquintanilla commented on #81181
#assign:@saachigopal

[2021-09-21 15:44] ricohomewood opened #81376 "Configure module scopes shows mixing of scopes but a what-if will only show on one scope"
The section, `Configure module scopes`, shows how to deploy a Resource Group which is at `subscription` scope and an module that targets the ResourceGroup scope.

How ever when testing this with a what-if command, it will only show the `subscription` scope and not the module that is at the resourceGroup scope?

I.e. with the example in this section `Configure module scopes`:

[code]

If you run th

[2021-09-21 15:50] Nicholak-MS commented on #81083
Thanks appreciate the quick response. I will add the underscores to the header before I publish more broadly. Should be available in the next few days for consumption. I will add a pointer on the docs page that references the download.

[2021-09-21 15:52] RBVieira opened #81377 "About the figures of the page"
[Enter feedback here]
I really could not see the difference between the last two figures of the page (internal/external)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64c50ed1-29bd-6ec8-7c57-60a6a76d36be
* Version Independent ID: ed403a70-b955-347d-72e6-c875e88ccef7
* Content: [Use Azure API Management with Microservi

[2021-09-21 15:58] jeevansd commented on #81375
@jackchenwork Please open the support ticket with Microsoft and then our CSS team can help you resolve the issue here. There are 100s of customers using this integration successfully. We need to investigate on the Cisco ASA version and configuration you have done here.

[2021-09-21 15:58] jeevansd commented on #81375
#please-close

[2021-09-21 16:10] jimbobbennett opened #81379 "Notebooks isn't available in CosmosDB but is in the docs"
I've just tried to set up a notebook in CosmosDB and the notebook options are no longer there.

I assume it's due to this security incident: https://www.theregister.com/2021/08/27/chaos_db_azure_cosmos_flaw/

Can the docs be updated to include a note about this and details on when the feature will be back?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2021-09-21 16:11] JamesTran-MSFT commented on #81372
@keithmweaver
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-21 16:26] mumian commented on #81195
@cynthn - The resource group name limit is 90 characters in ARM.  Do you know why compute has a different limit? 80 could be an old limit.

[2021-09-21 16:31] VikasPullagura-MSFT commented on #81373
@mbiver
Thanks for your Question! We are currently investigating and will get back on this.

[2021-09-21 16:35] kuldeepldec opened #81380 "Which url to put in www.example.com"
Hi,

In the logging section I see I have to enter a url called 'http://example.com'
that you mention in the python document to get request. I tried with the function app url which is in default and it throws me error 503. Can you help me on what url should I put.

Actually I am logging some events in traces and I want to map my operation_id with traces. With the opencensus I am not able to do it.

[2021-09-21 17:11] motoyugota opened #81381 "How does this work with MFA?"
We are trying to implement a situation similar to this where the login screen is embedded in a sharepoint page. It all works fine when the user does not have MFA enabled, but when MFA is enabled, we can't figure out a way to get the MFA screen to show up in the main window. Does the entire flow need to take place inside the iframe to make this work?

---
#### Document Details

⚠ *Do not edit this

[2021-09-21 17:14] cynthn commented on #81195
@mumian I do know that some other limits are different, depending on how the resource is deployed (password length is one of them). I'm not sure if the the resource group name has similar variations.

[2021-09-21 17:14] MikeRobertHughes commented on #55247
@MarileeTurscak-MSFT Didn't Azure/Microsoft docs specifically have a page outlining the commands on how to copy an image from one shared image galley to another? Has this been removed from Azure's documentation? I cannot seem to find it anymore

[2021-09-21 17:17] ebolton-cyber commented on #80400
@xingqiri I hope @mathapli response answers your question.

[2021-09-21 17:17] dlepow commented on #63927
@dikaarta - Thanks for the good suggestion, and apologies for my slow response. I'm just updating this issue to note that the outdated video was removed in a recent article update. Thanks for reaching out about the docs.
#please-close

[2021-09-21 17:17] #63927 closed

[2021-09-21 17:26] NikhilD16 commented on #81307
Hello Aman and Karishma, Please let me know if you need any input from me.

[2021-09-21 17:40] BhargaviAnnadevara-MSFT commented on #81327
@pettermoe95 Thank you very much for checking. This certainly isn't the expected behavior.

I've opened an issue with the **projectkudu/AzureResourceExplorer** repo for our Resource Explorer Team to investigate and update. Please follow further updates to this issue here: https://github.com/projectkudu/AzureResourceExplorer/issues/327.

We will now proceed to close this thread here, but if there a

[2021-09-21 17:40] #81327 closed

[2021-09-21 17:50] cherchyk opened #81385 "Ruby version issue"
`bundle install` shows this error
`Your Ruby version is 3.0.2, but your Gemfile specified 2.6.2`
I guess not all versions of Ruby are supported

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9d5437c-5b4f-bf5b-4877-e810d5fefb4f
* Version Independent ID: eea67277-74ba-c23c-bee5-af4cf6eb14db
* Content: [Quickstart: Creat

[2021-09-21 17:53] v-hhunter commented on #76412
Hi @ChaitanyaNaykodi-MSFT - could you tag the issue of using a legacy/depreciated Azure AD Graph API as "product feedback", so that it gets assigned to the product team? Thank you!

[2021-09-21 18:04] JamesTran-MSFT commented on #81324
@cpsbatthoutlook
Thank you for your post!

When it comes to your error message for the [az keyvault set-policy step](https://docs.microsoft.com/en-us/azure/key-vault/secrets/quick-create-python#grant-access-to-your-key-vault), it looks like the credentials (or potentially the UPN) you used wasn't found. Can you make sure that you've [authenticated the user you're using](https://docs.microsoft.com/

[2021-09-21 18:06] JamesTran-MSFT commented on #81371
@V-TreyFisher
Thanks for your pointing this out! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-21 18:11] denniseik commented on #81075
Good spot, this looks good. We might remove private endpoint declaration completely later in favor of the az networking commands, but we need to validate this end to end flow first and document it.

[2021-09-21 18:15] v-hhunter commented on #79088
This issue has been resolved. Thank you! #please-close

[2021-09-21 18:16] #79088 closed

[2021-09-21 18:18] JamesTran-MSFT commented on #81372
@keithmweaver
Based off your error message it looks like `C:\Windows\MSAL\Microsoft.Identity.Client.dll` wasn't found - prior to running the script `.\RegisterConnector.ps1`, can you make sure you're within ` C:\Program Files\Microsoft AAD App Proxy Connector` .

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2021-09-21 18:20] julieMSFT commented on #69872
Hi @leonpeeters, I have updated the document to more prominently show that this article only applies to dedicated SQL pool (formerly SQL DW). I have also added a link to the correct article. Thank you for bringing this to our attention and for contributing to Microsoft docs. You will see the updates later today. I will go ahead with closing this issue. The @notification mechanism continues to work

[2021-09-21 18:20] julieMSFT commented on #69872
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/172996

[2021-09-21 18:25] softwarecraft opened #81386 "Filter value 'anonymous' not available"
In the section [Monitor anonymous requests with Metrics Explorer](https://docs.microsoft.com/en-us/azure/storage/blobs/anonymous-read-access-prevent#monitor-anonymous-requests-with-metrics-explorer), in step 4.c it says 'Set the Values field to Anonymous', however this value is not available in my tenant for V1 or V2 storage accounts. Available values include: AccountKey, OAuth and SAS.

---
####

[2021-09-21 18:30] denniseik commented on #81075
This format good @luisquintanilla. We removed private link endpoints from the workspace YAML schema, but this seems applicable for compute.

[2021-09-21 18:31] Oury-MSFT commented on #81303
@GennadNY Please let us know if can raise a PR to update the doc.

[2021-09-21 18:33] BryanTrach-MSFT commented on #81348
@smedin4 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-21 18:42] SatishBoddu-MSFT commented on #81357
Hello @bkarrlander Thanks for reaching out to us!

We do not have any information on the GA for this feature as of now!

Cc: @jlian

[2021-09-21 18:43] davetapley opened #81387 "Clarify USERNAME and PASSWORD in "Generate certificates" for Point-to-Site VPN"
Can we clarify where `"password"` and `"client"` come from in ⬇️ , it's not obvious if one is supposed to enter literal `"password"` and `"client"`, or if these are obtained from elsewhere?

---

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff2a3f07-8dd7-a2f9-236d-4e6dc3c8bdec
* Version Independent ID: b442cc7

[2021-09-21 18:55] jackchenwork commented on #81375
@jeevansd  just one question, could you please confirm which url should be the correct sign-out now?

Is it https://login.microsoftonline.com/[tenant ID]/saml2 , or https://login.microsoftonline.com/common/wsfederation?wa=wsignout1.0  ?

[2021-09-21 18:56] #80298 closed

[2021-09-21 18:57] julieMSFT commented on #69872
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/173081

[2021-09-21 18:57] julieMSFT commented on #69872
#assign:julieMSFT

[2021-09-21 18:57] julieMSFT commented on #69872
#please-close

[2021-09-21 18:57] #69872 closed

[2021-09-21 18:59] aravishdatabricks commented on #80298
Thank you for the update @nibaccam.

[2021-09-21 18:59] jackchenwork commented on #81375
The doucment https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/cisco-anyconnect mentioned "url sign-out https://login.microsoftonline.com/common/wsfederation?wa=wsignout1.0 (This is Logout URL from the Set up Cisco AnyConnect section in the Azure portal)"

But the screenshot is showing the logout url as https://login.microsoftonline.com/[tenant ID]/saml2

I think the document need

[2021-09-21 19:02] MonikaReddy-MSFT commented on #81286
@jolle-sogeti - Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-09-21 19:03] JasonWHowell commented on #78301
@jasongroce @JulCsc should we remove the link in the interim?

[2021-09-21 19:05] DohertyC12 commented on #81066
Solved - the directions just need to be updated to uncomment lines 51-52 in the authOptions section, and comment out the //Use Azure Active Directory authentication code 40-48

                //Add authentication details for connecting to Azure Maps.
                authOptions: {
                    //Use Azure Active Directory authentication.
                    //authType: 'anonymous',

[2021-09-21 19:05] jeevansd commented on #81375
@jackchenwork We are updating the portal here to show the right URL. We are working on this feature to show the right URL in the portal.
You can also refer the Cisco side documentation for this https://www.cisco.com/c/en/us/support/docs/security/anyconnect-secure-mobility-client/215935-configure-asa-anyconnect-vpn-with-micros.html#anc5

[2021-09-21 19:05] Oury-MSFT commented on #81379
@jimbobbennett Thank you for this great feedback. We are checking with authors of the doc and will get back shortly.

[2021-09-21 19:08] SubhashVasarapu-MSFT commented on #81387
@davetapley, Thanks for reaching out. We will investigate and update this thread.

[2021-09-21 19:08] Oury-MSFT commented on #81379
@deborahc @SnehaGunda  can we update the doc to include a note and details that notebook isn't working and the Azure cosmos DB team is currently working on a fix.

[2021-09-21 19:12] ufcurmcginty commented on #81342
I've deleted the namespace and recreated it several times. I can only create one ingress controller in the test namespace.

NAME                    NAMESPACE       REVISION        UPDATED                                 STATUS          CHART                   APP VERSION
ingress-api-dev         dev             1               2021-03-02 21:01:05.306504087 +0000 UTC deployed        ingress-nginx-3.

[2021-09-21 19:18] BharathNimmala-MSFT commented on #81376
@ricohomewood Thank you for reaching out to us with your query, I have assigned this to our document author to further review.

[2021-09-21 19:28] keithmweaver commented on #81372
I'm trying to run the PowerShell script in step 1 at the link below, not the .\RegisterConnector.ps1 script.
[https://docs.microsoft.com/en-us/azure/active-directory/app-proxy/application-proxy-register-connector-powershell#register-the-connector-using-a-token-created-offline](https://docs.microsoft.com/en-us/azure/active-directory/app-proxy/application-proxy-register-connector-powershell#register

[2021-09-21 19:28] SatishBoddu-MSFT commented on #81290
Hello @jeevannagvekar

The document has already stated that the **[Microsoft Connected Cache module](https://docs.microsoft.com/en-us/azure/iot-hub-device-update/connected-cache-nested-level#parent-gateway-configuration)** has to be added to the Parent & Child gateway configurations. Please let us know if you need further help in this matter.

![image](https://user-images.githubusercontent.com/629

[2021-09-21 19:33] mike-urnun-msft commented on #81377
Hello @RBVieira - Thank you for your feedback. It looks like the difference is where the traffic (denoted by the purple arrows showing the direction that they're flowing through in the architecture) is originating from between the two figures. With External mode, traffic originates outside of the VNET, whereas with the Internal Mode, traffic is assumed to originate from within the VNET to consume

[2021-09-21 19:35] jeevansd commented on #81375
Yes, this URL is correct.

[2021-09-21 19:35] JulCsc commented on #78301
@v-alvt  Thank you for your feedback. The document has been updated accordingly.

[2021-09-21 19:36] JulCsc commented on #78301
#please-close

[2021-09-21 19:36] #78301 closed

[2021-09-21 20:02] lunar87 opened #81390 "Managed disk fault domain - is this still applicable?"
[Enter feedback here]
In the section at the top it says, "You can also consider aligning the number of scale set fault domains with the number of Managed Disks fault domains. This alignment can help prevent loss of quorum if an entire Managed Disks fault domain goes down. The FD count can be set to less than or equal to the number of Managed Disks fault domains available in each of the regions. Re

[2021-09-21 20:06] taurit opened #81391 "Storage capacity metric: 24H refresh interval vs 1H grain"
Hi!

I am trying to understand the accuracy of Azure Storage capacity metrics like 'Capacity'.
The documentation states that:

It sounds clear to me. But next it says that:

I see it as counter-intuitive to have time grain (1H) smaller than the refresh interval (24h). It seems to produce misleading metric charts, like this one:

![obraz](https://user-images.githubusercontent.com/7702278/134239162-

[2021-09-21 20:12] jwashbur opened #81393 "Best practices for suppressing alerts for more than 5 servers"
Hi Team,

I realize that Alert Rules are in preview, and have been for some time. We have 400+ Azure VMs & Arc servers reporting to 1 Log Analytics Workspace and log alerts have been configured. If we have a maintenance window where a group of 50 servers will be patched by Azure Update Management, what are some ways we can suppress alerts configured for these servers? Currently the filter called A

[2021-09-21 20:12] #81080 closed

[2021-09-21 20:13] burkeholland commented on #80156
@craigshoemaker I'm thinking we add a disclaimer to the docs that GoDaddy doesn't support CNAME A records or CNAME flattening. The question is whether we expand that to include instructions on how to do forwarding. That's quite specific to GoDaddy, but the provider is large enough that it makes sense.

What do you think?

[2021-09-21 20:15] Nicholak-MS commented on #78029
Hi @KWornell we are working on creating a new csv download of this information and I a working draft of what this would look like. Before sharing more broadly would love to get your feedback on the download and the structure of the file. You can download the CSV here.

https://download.microsoft.com/download/e/3/e/e3e9faf2-f28b-490a-9ada-c6089a1fc5b0/Product%20names%20and%20service%20plan%20identi

[2021-09-21 20:16] Nicholak-MS commented on #74487
Hi @PortableTech  we are working on creating a new csv download of this information and I a working draft of what this would look like. Before sharing more broadly would love to get your feedback on the download and the structure of the file. You can download the CSV here.

https://download.microsoft.com/download/e/3/e/e3e9faf2-f28b-490a-9ada-c6089a1fc5b0/Product%20names%20and%20service%20plan%20i

[2021-09-21 20:17] Nicholak-MS commented on #60395
Hi @ThaMc we are working on creating a new csv download of this information and I a working draft of what this would look like. Before sharing more broadly would love to get your feedback on the download and the structure of the file. You can download the CSV here.

https://download.microsoft.com/download/e/3/e/e3e9faf2-f28b-490a-9ada-c6089a1fc5b0/Product%20names%20and%20service%20plan%20identifie

[2021-09-21 20:17] memildin commented on #81345
Hi @sreza-msft, thanks for the feedback and for taking the time to help us improve the docs.

I've made this minor change and the update should go live within 24hrs. I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

This documentation page is going to get completely refreshed in the coming weeks, so stay tuned!

#please-close

[2021-09-21 20:17] #81345 closed

[2021-09-21 20:32] SatishBoddu-MSFT commented on #81066
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2021-09-21 20:32] #81066 closed

[2021-09-21 20:34] HUBBER12 commented on #80156
Ya knowing dealing with GoDaddy may have issues when it come to the domain.  I do have the subdomain www working so at least https://www.mydomainName.com is working.   but it still is kind of an expected and raises what i call 'brain hiccups' if the root URL does not work, or worse yet... one goes to the root URL    htps://mydomainName.com   by GoDaddy Forwarding,  and the user is greeted with a m

[2021-09-21 20:45] Grace-MacJones-MSFT commented on #81385
Thanks for your feedback! We will review and update this doc accordingly.

[2021-09-21 20:53] GennadNY commented on #78467
Definitely, there are quite a few changes and added images\psql a bit as well, but this is most important to me:

Once you have [enabled pgAudit, you can configure its parameters to start logging.
To configure pgAudit you can follow below instructions.
Using the [Azure portal](https://portal.azure.com):

   1. Select your Azure Database for PostgreSQL server.
   2. On the sidebar, select **Server

[2021-09-21 21:01] GennadNY commented on #78944
@kasunsjc - thanks for reaching out. I am a bit confused here. Screenshot is showing portal Connection Security page where you setup firewall rules, SSL, etc.  The highlighted link points to - https://docs.microsoft.com/en-us/azure/postgresql/howto-tls-configurations which provides more info on SSL\TLS as expected in SSL config sections.  What does it have to do with service endpoints?  Wouldnt th

[2021-09-21 21:04] GennadNY commented on #79810
@lolabs - does that help? See also - https://docs.microsoft.com/en-us/azure/virtual-network/manage-subnet-delegation

[2021-09-21 21:08] DerekHerman-MSFT commented on #81386
@softwarecraft The value "Anonymous" will only be available if there have already been Anonymous transactions. If there are none you can still set the value to Anonymous by entering it into the text field.

[2021-09-21 21:09] DerekHerman-MSFT commented on #81386
![image](https://user-images.githubusercontent.com/65573242/134248033-2d9da191-a2b7-4de9-9f1f-fd7c0a17278d.png)

[2021-09-21 21:10] PortableTech commented on #74487
This is much more useful and your efforts are greatly appreciated.

Douglas Morris

On Tue, Sep 21, 2021 at 4:16 PM Nicholak-MS ***@***.***>
wrote:

[2021-09-21 21:39] ramya-rao-a opened #81397 "Prerequisites lists Azure .NET SDK but sample does not use it"
In this page under `Prerequisites`, we have the Azure .NET SDK listed, but the linked solution in https://github.com/Azure-Samples/hdinsight-dotnet-java-storm-eventhub does not use the any of the Azure .NET SDKs. Am I missing something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16ee0d1d-9aef-940c-9902-883ede4ee0ee

[2021-09-21 21:48] Nicholak-MS commented on #74487
Excellent, thanks for taking a look and confirming it will be helpful. We will be looking to publish a public pointer on the doc with the table in the near future, but you can continue to use as is with the link above in the interim.

Thanks, Nick

[2021-09-21 21:53] Oury-MSFT commented on #81379
@jimbobbennett I am working to know more about the affected regions and ETA when this will be fix before updating the doc.

[2021-09-21 21:57] ShirleyWangMSFT commented on #81022
@ShaikMaheer-MSFT Please re-assign to Wee Hyong Tok (user name dcstwh)

[2021-09-21 21:59] JamesTran-MSFT commented on #81372
@keithmweaver
Thank you for the quick response!

Can you try downloading the [Microsoft.Identity.Client NuGet Package](https://www.nuget.org/packages/Microsoft.Identity.Client) to see if this helps resolve your issue.
![image](https://user-images.githubusercontent.com/36619112/134252232-34ab9cea-3971-49f3-9c50-569b64c8533e.png)

1)Once you have the `.nupkg` downloaded, rename the file to `.zip`
2)

[2021-09-21 22:01] Karishma-Tiwari-MSFT commented on #81367
Thanks for the question. We are currently investigating and will update you shortly.

[2021-09-21 22:10] sannyjacobsson opened #81398 "cognitive-search-skill-document-extraction: Required skill input was not in the expected format"
Hi,

Is it possible to use the file_data input obtained from a SQL view to extract data using the Document Extraction Skill? In short what I would like to do is to is extract data from a document stored in a blob and add it to a searchable field in my index.

I have tried to return a JSON object as part of retrieving data from a SQL view.

`(
                select
                    top 1

[2021-09-21 22:25] Karishma-Tiwari-MSFT commented on #80983
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2021-09-21 22:25] #80983 closed

[2021-09-21 22:26] BryanTrach-MSFT commented on #81380
@kuldeepldec Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-21 22:27] BryanTrach-MSFT commented on #81381
@motoyugota Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

Please note that we scope issues on this repro to feedback related to the docs. If you have a product question, please post it on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/). Thank you for your understand

[2021-09-21 22:32] avijit-mukherjee90 opened #81400 "[Not Urgent] Spell check"
Please check and correct the spelling in "_Multi-region accounts with a single-write region (write region outage)_" section

It is strongly recommended that you configure the Azure Cosmos accounts used for production workloads to enable automatic failover. This enables Cosmos DB to failover the account databases to **availabile** regions automatically. In the absence of this configuration, the acc

[2021-09-21 23:01] S-Lovell opened #81402 "give an example?"
This is all pretty abstract. A concrete example of data being stored this way (and recovered) would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a056685-6734-380e-562c-92e30b8976a3
* Version Independent ID: 1d17cc5e-f2b1-5489-79fa-e8557fadc5b5
* Content: [Introduction to Blob (object) storage - Azure Sto

[2021-09-21 23:03] jimbobbennett commented on #81379
Thanks @Oury-MSFT!

[2021-09-21 23:05] softwarecraft commented on #81386
Thanks for the explanation. Perhaps reword step 4.c to "Set the Values field to Anonymous, select it from the dropdown or type it in the text box".

[2021-09-21 23:05] SamaraSoucy-MSFT commented on #81198
Just checking in. Could you please verify all the setup is done with the existing OAuth provider? I'm also curious if you work through with a new provider, following the tutorial, if you see the same behavior?

[2021-09-21 23:14] Karishma-Tiwari-MSFT commented on #81058
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-22 00:00] mmacy commented on #44844
@despian Tagging in @JasSuri and @yoelhor for an answer on this one.

Cc: @msmimart

[2021-09-22 00:04] lXbalanque opened #81403 "Great document that got me started, however, lacking on the deprovisioning side"
Hi support,

Thanks for providing this document. It was a great starting point and I've been able to get accounts provisioned successfully. However, I have an issue with the de-provisioning process. I have a user who does _**not**_ need an RC account as originally planned. I thought that by simply removing the user from the provisioning/licensing group (named License: RingCentral) it would update

[2021-09-22 01:38] pnarsi opened #81405 "Comparison of various Spark options in Azure"
In addition to Apache Spark in Azure Synapse there are a number of other Azure PaaS services that offer Apache Spark options such as Azure Databricks and HD Insights. Is there a page that discusses these different options and when to use each one?

For example there is a comprehensive table [here](https://docs.microsoft.com/en-us/azure/azure-sql/azure-sql-iaas-vs-paas-what-is-overview#comparison-t

[2021-09-22 01:41] ToruMakabe opened #81406 "Invalid option for az feature register command [ja-jp]"
"--name" option of "az feature register" requires two hyphens, but there is only one in [Japanese doc](https://docs.microsoft.com/ja-jp/azure/aks/out-of-tree). Could you fix it? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9681b3b-8b61-5415-4de5-2a53e1cd9080
* Version Independent ID: 7f87e8cd-6dfa-7d66-7706-

[2021-09-22 01:54] VikasPullagura-MSFT commented on #81390
@lunar87
Thanks for your Question! We are currently investigating and will get back on this.

[2021-09-22 01:55] VikasPullagura-MSFT commented on #81390
@mimckitt
Can you please check and add your comments on this query.

[2021-09-22 01:58] VikasPullagura-MSFT commented on #81406
@ToruMakabe Thanks for pointing this out. We will update the document.

[2021-09-22 02:01] CHEEKATLAPRADEEP-MSFT commented on #81397
@ramya-rao-a  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-09-22 02:09] vojinle opened #81407 "The script you provided for Python 2.x is wrong"
Python 2 script is just copy/paste from Python 3. There is no "response" library for 2.x. It's httplib
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 657b5b68-4c41-841a-1110-67b9c2049e39
* Version Independent ID: 2237ca0e-c552-7ee8-97ae-7034e51241d9
* Content: [Azure Monitor HTTP Data Collector AP

[2021-09-22 02:09] lbimsft opened #81408 ""/" this character is not supported on nat rule name."
"/" this character is not supported on nat rule name. we can configure a nat rule name such as "a/b" but when linked to vpn gateway connection, it will has error "Cannot parse the request".

error message.
========
  "statusMessage": "{\"error\":{\"code\":\"InvalidRequestFormat\",\"message\":\"Cannot parse the request.\",\"details\":[{\"code\":\"InvalidJsonReferenceFormat\",
 =======

 suggest we

[2021-09-22 02:13] SaiKishor-MSFT commented on #81408
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-22 02:56] AnuragSingh-MSFT commented on #80912
Hi @wjdavis5, following up to check if you had a chance to review my comment above. Can you please share more details of the issue?

[2021-09-22 03:38] tdihp commented on #80304
similar: #80372

[2021-09-22 03:53] #80945 closed

[2021-09-22 04:16] Svijay-msft commented on #81177
We will close this out, but if you feel you need more information, please just let us know.

[2021-09-22 04:24] Grace-MacJones-MSFT commented on #81245
Hi @coelho5br, I believe this is already stated in the docs here
![certs](https://user-images.githubusercontent.com/42247081/134283279-e06a6c0e-ba29-4a5e-ba64-5b6ce023a5d6.PNG)

[2021-09-22 04:34] kasunsjc commented on #78944
Hi I go through this and notice the vnet service endpoint connection available only general purpose postgresql server. Not for basic, but it was not mention in the documentation

[2021-09-22 04:35] t-htsuchiya opened #81410 "need to disable DataPlaneRequests"
[Enter feedback here]

this document says that "When you enable this category, make sure to disable DataPlaneRequests."
![スクリーンショット 2021-09-22 132213](https://user-images.githubusercontent.com/89903220/134283116-8489a0b8-8f2d-4706-9c63-2b798e0e146a.png)

However, this sample query in another document below uses "where Category == "DataPlaneRequests" and TimeGenerated > ago(1h)" .
If I disable Data

[2021-09-22 04:40] CHEEKATLAPRADEEP-MSFT commented on #81405
@pnarsi  Thanks for the feedback! I have assigned the issue to the content author to evaluate and add the comparison.

[2021-09-22 04:41] AnuragSharma-MSFT commented on #81400
@avijit-mukherjee90 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-09-22 04:42] pnarsi opened #81411 "Add link to Page Discussing Datafactory Linked Service Setup with MSI"
In the Databricks Properties section of this page. I feel that a link should be added to this page [here](https://techcommunity.microsoft.com/t5/azure-data-factory/azure-databricks-activities-now-support-managed-identity/ba-p/1922818) for the MSI row that discusses the Databricks Link Service Setup with MSI in more detail. Specifically it mentions that the ADF System MSI need to have **Contributor

[2021-09-22 04:48] ShaikMaheer-MSFT commented on #81022
@ShirleyWangMSFT - As suggested, assigned to Wee Hyong Tok

@dcstwh - Could you please share your insights on customers ask? Thank you.

[2021-09-22 04:51] SwathiDhanwada-MSFT commented on #81393
@jwashbur Thanks for your comment. We will review the issue and get back to you shortly.

[2021-09-22 04:52] SwathiDhanwada-MSFT commented on #81407
@vojinle Thanks for your comment. We will review the issue and get back to you shortly.

[2021-09-22 04:54] SwathiDhanwada-MSFT commented on #81391
@taurit Thanks for your comment. We will review the issue and get back to you shortly.

[2021-09-22 04:58] BhargaviAnnadevara-MSFT commented on #81256
@miisc Any further updates here?

[2021-09-22 05:08] BharathNimmala-MSFT commented on #80897
@mishagen Needed your help to get some additional information to further proceed on this issue. For now we will proceed to close this thread. However, as you get back to us with additional information we will gladly reopen the issue and continue the discussion.

[2021-09-22 05:08] #80897 closed

[2021-09-22 05:19] HarshitaSingh-MSFT commented on #81287
@NestoriSyynimaa, this issue is addressed internally and will be live soon.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-22 05:19] #81287 closed

[2021-09-22 05:23] AnuragSharma-MSFT commented on #81410
@t-htsuchiya Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-09-22 06:14] syy6 commented on #69949
I checked and there is no explanation in Azure document for this. Hope it can be clarified.

[2021-09-22 06:16] kobulloc-MSFT commented on #81172
@fuglede Thank you for reporting this!  I reproduced this with both repos that had only images with tags as well as repos with both images with and without tags:

Pushed an image to Azure Container Registry

![image](https://user-images.githubusercontent.com/37556655/134292304-113dad3d-97e5-4bee-aa58-e3d86de03241.png)

Ran the purge command

`az acr run --cmd "acr purge --filter 'hello-world:.*' -

[2021-09-22 06:44] jdelforno opened #81413 "New-AzConnectedMachineExtension - New-AzConnectedMachineExtension_CreateExpanded: The requested resource was not found."
Executing the command:

`New-AzConnectedMachineExtension -name MicrosoftMonitoringAgent -ResourceGroupName $RGName -MachineName $vm -Location $location -Publisher "Microsoft.Compute"  -Settings $Setting -ExtensionType MicrosoftMonitoringAgent
`

Results in the error: New-AzConnectedMachineExtension_CreateExpanded: The requested resource was not found.

I assumed my AzContext wasn't set correctly h

[2021-09-22 06:53] SwathiDhanwada-MSFT commented on #81288
@Klaas-  Yes, the feature you are requesting is supported. The log alerts will be auto resolved if the defined is no longer met. For more information, you can check [this document](https://docs.microsoft.com/en-in/azure/azure-monitor/alerts/alerts-unified-log#state-and-resolving-alerts).

![image](https://user-images.githubusercontent.com/48976275/134296492-155c1862-2541-4d86-908f-b74faa8967da.png

[2021-09-22 07:24] gojo119 opened #81415 "Clarification to DC version"
Hello,

according to your article one prerequisite is
_To use password writeback, your Domain Controllers must be Windows Server 2016 or later._

Does that refer to the domain or forest functional level? Or do all DCs in the domain need to be running on W2k16 without raising any domain or forest functional levels? Could you please clarify what is meant by that?

br
Gottfried

---
#### Document Det

[2021-09-22 07:43] munir94 opened #81416 "Error on Set the action group"
Hi, i encounter this error while testing the budget via powershell , any solution is really appreciated. TIA

![image](https://user-images.githubusercontent.com/39366930/134302671-9b6c40ce-ec78-4131-ae2f-94f762e846a8.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09acb09f-6171-fdd8-a5d4-0d036b467c5a
* Version Inde

[2021-09-22 07:59] JasSuri commented on #44844
@despian The HTTP method the REST API Technical Profile uses is controlled by the payload method.

This is documented in the "SendClaimsIn" [metadata item](https://docs.microsoft.com/en-us/azure/active-directory-b2c/restful-technical-profile#metadata).
`
Body: POST,
Form: POST,
Header: GET,
Url: GET,
QueryString: GET
`
You cannot make a PUT call.

[2021-09-22 08:19] LockTar commented on #80392
No updates?

[2021-09-22 08:32] KrishnaG-MSFT commented on #81416
@munir94 Thanks for the question! We are investigating and will update you shortly.

[2021-09-22 08:34] SrijitBose-MSFT commented on #81342
@ufcurmcginty , Thank you for your response. There must be updates like mentioned [here](https://stackoverflow.com/a/68359490/16169604) if you are trying to install a second nginx ingress controller in the same namespace.

@mlearned /@zr-msft can we get this documented for the helm installation?

[2021-09-22 08:38] despian commented on #44844
@JasSuri Thanks for the confirmation. This was my understanding.

It seems like key information to me and perhaps it's worth being explicitly stated in the intro sections of these articles:

[articles/active-directory-b2c/restful-technical-profile.md](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory-b2c/restful-technical-profile.md)
[articles/active-directory-b2c/a

[2021-09-22 08:38] Klaas- commented on #81288
Hi @SwathiDhanwada-MSFT
I think my question was a little unprecise :) This request is opened against the itsm (service now) integration docs :)
I am using stateful log alerts, currently they only open incidents in service now, they do not resolve or get a status update once the stateful log alert is resolved. My question is: should that work -- did I miss configuration about this? The itsm integra

[2021-09-22 08:50] AjayKumar-MSFT commented on #81398
[@sannyjacobsson](https://github.com/sannyjacobsson), Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-09-22 08:50] marki555 opened #81417 "Incomplete python sample"
The python example for Standalone language identification is incomplete - parts for audio config and language list are completely missing.
Also please add to results output also Confidence value, not only language detected (it is available in `result.properties[speechsdk.PropertyId.SpeechServiceResponse_JsonResult]`).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2021-09-22 08:57] chrisadkin opened #81418 "Connecting the managed instance created via a Kubernetes manifest"
Can you please add to the documentation the fact that in order to connect to a managed instance that was created using a Kubernetes manifest, the username and password need to be provided to sqlcmd in base64 encoded form.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9491c0aa-6310-0a9d-e728-d569fce9ebdd
* Vers

[2021-09-22 09:10] SudheeshGH commented on #79843
@AnuragSharma-MSFT , Can you please close this

[2021-09-22 09:18] XristophD commented on #80714
Hello, is there any update on this?
@Karishma-Tiwari-MSFT , @msmbaldwin ?

[2021-09-22 09:31] SwathiDhanwada-MSFT commented on #81054
Thanks @mattmccleary for providing  inputs on this issue and @anumalasri for your valuable feedback.

As there are no further documentation issues,we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-09-22 09:31] #81054 closed

[2021-09-22 09:31] HarshitaSingh-MSFT commented on #81359
@NicolasPSQ, can you please tell me which **feature** and **script** are you referring to?

[2021-09-22 09:34] HarshitaSingh-MSFT commented on #81349
@mpowrie, just to confirm, are you referring to the whole script in the section **Appendix CSAnalyzer**?

[2021-09-22 09:41] gxgrammatikos opened #81421 "Unable to validate the information provided"
I have followed the document instruction to add the email address attribute, but it was unsuccessful. It returns the error below:
![image](https://user-images.githubusercontent.com/10853004/134320631-b0dbbbf3-9a2c-4ec7-977d-6e56385a4886.png)

Is this something you need to change in the instructions?

![image](https://user-images.githubusercontent.com/10853004/134320368-5c1d4e5c-7d03-40aa-ac82-d8d6

[2021-09-22 09:43] Klaas- commented on #60578
So this finally happened, you can install the repositories through an additional rhui rpm: rhui-azure-rhel8-ansible - this currently enables a repo called ansible-2.9-for-rhel-8-x86_64-rhui-rpms that includes ansible 2.9

[2021-09-22 09:52] SaiKishor-MSFT commented on #81161
@jjjjeee Any update?

[2021-09-22 10:00] guyhorn1964 opened #81422 "This is not working"
[Enter feedback here
This is not working.

The command at row 11 is not working (Disable-AzContextAutosave -Scope Process | Out-Null)
It gives back: "System.Management.Automation.CommandNotFoundException: The term 'Disable-AzContextAutosave' is not recognized as the name of a cmdlet, function, script file, or operable program."

Then the command at row 15 fails to connect an AZ account and the who

[2021-09-22 10:04] vitoc opened #81423 "Missing 'to' in sentence"
Missing 'to' in this sentence: "the ability query the data on the blockchain without sacrificing performance is a challenge."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5723d76a-19f1-4a43-fd31-0fbf2d715ee2
* Version Independent ID: 15560467-3bd1-d6aa-8216-43ca7eaba907
* Content: [Azure SQL Database ledger overview

[2021-09-22 10:21] torivara opened #81424 "Missing backtic in PowerShell code snippet"
The PowerShell snippets for creating new guest configuration policy definitions are missing backtics for line break.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c416243-e66f-35c4-751d-ff9e6524cc9f
* Version Independent ID: 615eaa5a-299a-2c6b-ceb1-2f189a0dfbf0
* Content: [How to create custom guest configuration pol

[2021-09-22 10:24] SadiqhAhmed-MSFT commented on #81346
@quekmc Checking in to see if the above answer helped?

[2021-09-22 10:26] psmanhas commented on #81209
@jikuja We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-09-22 10:26] #81209 closed

[2021-09-22 10:30] jeevannagvekar commented on #81290
Hi @SatishBoddu-MSFT Thanks for the confirmation. I am trying to set MCC module on Topmost Parent and Child edge device.

Here are some more questions:
1. I have requested access to the preview as per https://aka.ms/MCCForDeviceUpdateForIoT. How much days it will take to get the access? Will the CUSTOMER_ID, CUSTOMER_KEY be mailed to me?

2. What is the MCC Image URI? Is this correct? **mcr.micros

[2021-09-22 10:48] ram-msft commented on #81417
@marki555 Thanks for the question. We are investigating the issue and will update you shortly.

[2021-09-22 10:50] vakuncha opened #81425 "key-vault-linux Extension not running when vms are created via autoscaling."
[Enter feedback here]
1. we have key-vault-linux extension configured on the vmss with the following config
{
"secretsManagementSettings": {
"pollingIntervalInS": "600",
"certificateStoreName": "",
"linkOnRenewal": false,
"certificateStoreLocation": "/var/lib/waagent/Microsoft.Azure.KeyVault.Store",
"requireInitialSync": true,
"observedCertificates": [
"https://mykv.vault.azure.net/secrets/GenevaC

[2021-09-22 11:15] shashishailaj commented on #81402
@S-Lovell Thank you for your feedback . We will engage the content team to review and update this .

[2021-09-22 11:17] BhargaviAnnadevara-MSFT commented on #81413
@jdelforno Thank you for the question. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-09-22 11:17] shashishailaj commented on #81403
@lXbalanque Thank you for your feedback . We will investigate and update the thread.

[2021-09-22 11:19] shashishailaj commented on #81415
@gojo119 Thank you for your query. We will investigate and update the thread

[2021-09-22 11:23] KrishnaG-MSFT commented on #81424
@torivara Thanks for the question! We are investigating and will update you shortly.

[2021-09-22 11:24] KrishnaG-MSFT commented on #81422
@guyhorn1964 Thanks for the question! We are investigating and will update you shortly.

[2021-09-22 11:25] shashishailaj commented on #81421
@gxgrammatikos  Thank you for your query . We will investigate and update the thread.

[2021-09-22 11:30] SnehaAgrawal-MSFT commented on #81170
@StanLi-TomTom Thanks again for the feedback! The PR has been created for this, once reviewed by author of this content will be merged. We will now close this out but if you feel you need more information please just let us know.

[2021-09-22 11:30] #81170 closed

[2021-09-22 11:55] keithmweaver commented on #81372
I extracted the contents of the zip file, still getting an error.

[code]
![explorer_E81jEy984T](https://user-images.githubusercontent.com/44908826/134338952-812630f3-09bd-44fd-b917-1cc9de5ab146.png)

[2021-09-22 11:59] klucyszy opened #81427 "Update documentation required"
Hi,

the documentation should be updated, the AddAzureAppConfiguration() is under Microsoft.Azure.AppConfiguration.AspNetCore, not Azure.Identity as in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9950f5c0-3c21-0859-c217-4b08141de4d4
* Version Independent ID: 78106133-d028-b016-673c-79b6a959a24d
*

[2021-09-22 12:13] AnuragSharma-MSFT commented on #81423
@vitoc Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-09-22 12:24] sakuraitabi2601 commented on #81339
are there any feedback for this ?

[2021-09-22 12:25] twimmers commented on #81403
@lXbalanque removing the user from the group should result in the user being soft deleted (disabled) in RingCentral so long as you have the provisioning app configured to "Sync only assigned users and groups". Can you confirm this is the case?
![image](https://user-images.githubusercontent.com/49566142/134343056-b4d8884f-6402-4a87-bb90-e82830659691.png)

[2021-09-22 12:34] amanmcse commented on #81421
@gxgrammatikos There seems to be some misconfiguration in your policy files.

Why are you capturing the email address twice during the sign-up? I don't see the **send verification code** button for the email verification. Have you disabled it by setting EnforceEmailVerification to false, as mentioned below?

[code]

[2021-09-22 12:40] gxgrammatikos commented on #81421
Hi,

I tried enabled and disabled, but this is not the case.
The problem is that I’m getting the error message when clicking the button Create.

From: AmanpreetSingh-MSFT ***@***.***>
Sent: Wednesday, September 22, 2021 3:35 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: George Chrysovalantis Grammatikos ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Unable to validat

[2021-09-22 12:43] ShaikMaheer-MSFT commented on #81411
@pnarsi Thank you for feedback. We are actively validating it. We will get back to you with updates.

[2021-09-22 12:44] amanmcse commented on #81421
@gxgrammatikos can you share your LocalAccountSignUpWithLogonEmail technical profile?

[2021-09-22 12:52] gxgrammatikos commented on #81421
Hi ,

Please, find attached the profile files.

From: AmanpreetSingh-MSFT ***@***.***>
Sent: Wednesday, September 22, 2021 3:44 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: George Chrysovalantis Grammatikos ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Unable to validate the information provided (#81421)

@gxgrammatikos<https://github.com/gxgrammatikos> can you sha

[2021-09-22 12:56] amanmcse commented on #81421
@gxgrammatikos Attachment is missing.

[2021-09-22 12:57] gxgrammatikos commented on #81421
Could you please check now?

From: AmanpreetSingh-MSFT ***@***.***>
Sent: Wednesday, September 22, 2021 3:57 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: George Chrysovalantis Grammatikos ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Unable to validate the information provided (#81421)

@gxgrammatikos<https://github.com/gxgrammatikos> Attachment is missing.

—
You

[2021-09-22 13:01] #81177 closed

[2021-09-22 13:05] EnricoBeltramo opened #81428 "Errors after configuring ioedge in stm32mp1 device"
I'm configuring IOEdge on a stm32m1 device (Openstlinux os), I configured the device as suggested in:
https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge?view=iotedge-2018-06&preserve-view=true
It looks to work fine, but when I run:
iotedge check
it say some errors. In particular way, I dont understand why it say that:

config.yaml has hostname stm32m1 but device reports hostna

[2021-09-22 13:09] ozkoidi commented on #57764
I set up a redirect rule in frontdoor as suggested by Microsoft (see screenshot) that seems to do the trick (no more 404 error) **BUT** when users try to access a deep link page (typing the url / clicking a bookmark / refreshing the page once the user is already in a path that is not the home page) they end up in the home page (as any url without extension is redirected to index.html).
**So this i

[2021-09-22 13:14] RyanHill-MSFT commented on #81328
We'll update the docs to appropriately address this gap. Thanks for bringing it to our attention.

/cc @anthonychu

[2021-09-22 13:17] amanmcse commented on #81421
@gxgrammatikos I don't think gitub allows attachments via email

[2021-09-22 13:18] gxgrammatikos commented on #81421
How can I send it?

From: AmanpreetSingh-MSFT ***@***.***>
Sent: Wednesday, September 22, 2021 4:17 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: George Chrysovalantis Grammatikos ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Unable to validate the information provided (#81421)

@gxgrammatikos<https://github.com/gxgrammatikos> I don't think gitub allows attachments

[2021-09-22 13:19] gxgrammatikos commented on #81421
[profiles.zip](https://github.com/MicrosoftDocs/azure-docs/files/7210962/profiles.zip)

[2021-09-22 13:22] psmanhas commented on #81425
@vakuncha Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-09-22 13:22] psmanhas commented on #81425
@msmbaldwin
Can you please check and add your comments on this doc update request as applicable

[2021-09-22 13:24] NicolasPSQ commented on #81359
I'm speak about how now we need to implement Groups block creation?
Because first was present this KB : https://docs.microsoft.com/en-us/microsoft-365/solutions/manage-creation-of-groups?view=o365-worldwide
Now, seems, we have this possibility https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/groups-self-service-management?WT.mc_id=Portal-Microsoft_AAD_IAM

So, i'm confuse..

[2021-09-22 13:38] MonikaReddy-MSFT commented on #81286
@jolle-sogeti -  Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2021-09-22 13:38] #81286 closed

[2021-09-22 13:49] PaulShay66 opened #81429 "Outdated and dangerous instructions for re-protection."
The instruction:

"10. Site Recovery doesn't clean up the source VM after failover. You need to do that manually."

Is no longer valid. Deleting the source resources before re-protection throws up an error i.e.

"The VM "***********" might have been deleted. You need to disable replication and then enable replication on the existing VM."

The source resources should be left alone.

This nearly cau

[2021-09-22 13:50] markjbrown commented on #81120
Signed off. Should merge later today.

Thanks.

#please-close

[2021-09-22 13:50] #81120 closed

[2021-09-22 13:58] MoAGitHub commented on #80081
@ram-msft @PatrickFarley I created new endpoint and subscription key to solve this issue, but it started happening again in the new one as well. Any updates on this issue?

[2021-09-22 14:10] amanmcse commented on #81421
@gxgrammatikos Thanks for provided required info.

Looking at the policy files, I can see that you have defined a new claim for email address as <ClaimType Id="emailAddress">. However, you need to either use the built-in claim, which is Email, or use the emailAddress as extension attribute (ref to https://docs.microsoft.com/en-us/azure/active-directory-b2c/user-flow-custom-attributes?pivots=b2c-cu

[2021-09-22 14:10] #81421 closed

[2021-09-22 14:12] ThaMc commented on #60395
Nick,

Thank you for your message. Maybe you'd prefer semicolons as delimiters, as
some of the Product Display Names have a comma in them. Opening the file e.
g. in Excel would scramble the content in those lines. Else it looks good to
me.

Cheers, Peter

From: Nicholak-MS ***@***.***>
Sent: Tuesday, 21 September 2021 22:18
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Peter McBride ***@***.***>;

[2021-09-22 14:21] asergaz commented on #81158
Hello @lucarv,
Thanks for the time on the call. Like you discovered the `receive_message_on_input` was [deprecated on version 2.3.0](https://github.com/Azure/azure-iot-sdk-python/blob/master/azure-iot-device/azure/iot/device/iothub/aio/async_clients.py#L651)

[code]

Therefore we should change

`input_message = await module_client.receive_message_on_input("input1")  # blocking call`

to

`input_me

[2021-09-22 14:28] KrishnaG-MSFT commented on #81418
@chrisadkin Thanks for the question! We are investigating and will update you shortly.

[2021-09-22 14:31] Nicholak-MS commented on #60395
Hi Peter,

The csv file should be enabled as tab delimited not comma delimited. When I open the file in Excel I see each column of data in a separate column and those values that have commas in them are not scrambled. Here is a screen grab of what I see for a row with columns.

![image](https://user-images.githubusercontent.com/73835905/134363154-9e92a70c-1802-47d2-8f35-54d2bb70d8d7.png)

Can you

[2021-09-22 14:34] SumanthMarigowda commented on #81219
@simonbrommers  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-09-22 14:37] ThaMc commented on #60395
Nick,

If I look into the csv with Notepad++ I see it comma separated. Accordingly
in Excel when I open it, I have an issue.

Cheers, Peter

From: Nicholak-MS ***@***.***>
Sent: Wednesday, 22 September 2021 16:31
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Peter McBride ***@***.***>; Mention
***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Service Plans and Friendly Namens
needed as csv or s

[2021-09-22 14:43] DCtheGeek commented on #81424
Tagging @mgreenegit, too.

[2021-09-22 14:47] lXbalanque commented on #81403
Yes, I can confirm that's how I've configured the setting in my
environment. I had purposely configured it in this manner as we don't
expect that all users get access to a RingCentral account.

However, if a user is soft-deleted (disabled) as you mentioned, does that
remove them from their assigned number? It might still be an issue if I
can't actually delete their account.
[image: image.png]

I a

[2021-09-22 14:48] kobulloc-MSFT commented on #81427
@klucyszy Thank you for bringing this to our attention.  We are investigating the reference in the documentation and will get back to you shortly.

[2021-09-22 14:58] mimckitt commented on #81390
Yes this still applicable, though I can see how it's confusing as we updated some docs and it seems the flow is a bit broken.

If you look at this document: https://docs.microsoft.com/en-us/azure/virtual-machines/availability-set-overview

We explain how each region has a specific number of disk fault domains. So what we are saying is you can consider aligning your scale set across 2 fault domains

[2021-09-22 14:59] mgreenegit commented on #81424
I'm not seeing it. Which sample?

[2021-09-22 15:01] Nicholak-MS commented on #60395
hmm, ok thanks Peter, I will investigate further.

Thanks
Nick

[2021-09-22 15:02] lXbalanque commented on #81403
Tom,

I think I may have made a mistake and did not wait long enough. While I was
trying to delete Joey's account, I believe I may have gone in and manually
disabled the account myself. I just checked on another user who I had
removed from the group and it did show up as disabled/soft-deleted in the
RC portal. I then deleted his account and got a different message and it
went through.

I've re-ena

[2021-09-22 15:05] torivara commented on #81424
This:
[code]

Should be like this:

[code]

[2021-09-22 15:07] jdevalk2 commented on #69949
I noticed on the wizard for creating new public IP address,  it remembers last settings.

When you create a 1st one with "No zone"  then it remembers it for the next one as "Zone Redundant"

1) It can be because it considers "No zone" the same as "Zone Redundant"
2) On the other hand it could mean the wizard is broken and Microsoft does not understand the difference either :-)

But I think point 1

[2021-09-22 15:19] mgreenegit commented on #81424
submitted pr

[2021-09-22 15:20] RBVieira commented on #81377
Thank you for your answer. I really understood the explanation when I read the text for the first time but when I saw the figures I thought that the person who wrote the article has put the same figure by mistake -:)
Would be cool if you indicate something point out the difference in the figures. Once again, thank you.

[2021-09-22 15:20] #81377 closed

[2021-09-22 15:21] bryrod commented on #39701
This is definitely true. If you look at a remediation task and inspect the *Remediation Task ID*, you'll see a snippet within the string that looks like this.

`providers/microsoft.policyinsights/remediations`

[2021-09-22 15:23] JamesBaxterSoftware commented on #81103
Any updates on this one? thanks

[2021-09-22 15:25] GitaraniSharma-MSFT commented on #81361
@mwaespi , I checked with the Azure route server Product Group team team regarding this issue and below is their update:

_This is a known issue to us and we are working to fix it._

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-09-22 15:25] #81361 closed

[2021-09-22 15:25] #81424 closed

[2021-09-22 15:26] lXbalanque commented on #81403
Might have jumped the gun. I ran a manual provisioning task from the
RingCentral Enterprise App screen on Azure and tried to target Joey but get
the following:

[image: image.png]

[image: image.png]

I wonder if I just need to let it run its course until it finally soft
deletes it or if the fact that it shows *RedundantSoftDelete *means it
won't ever try this task again.

On Wed, Sep 22, 2021 at

[2021-09-22 15:26] asergaz commented on #81428
@EnricoBeltramo Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-22 15:29] asergaz commented on #81021
@lucarv like we discussed on the call, the issue is now resolved. Please share the details of the workaround you found. We will enhance the doc if needed. Thanks!

[2021-09-22 15:29] #81021 closed

[2021-09-22 15:32] asergaz commented on #81428
@EnricoBeltramo did you consider using the latest version of IoTEdge 1.2? https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge?view=iotedge-2020-11&preserve-view=true

Thanks

[2021-09-22 15:35] coelho5br commented on #81245
Hi @Grace-MacJones-MSFT
This is 2 different things. Without Traffic Manager, if you create a Managed Certificate, the validation from Digicert is made with HTTP token, which means that Digicert will reach the app and confirm the token created. If the the website has any restriction, such as an IP Restriction, Private Link and cannot reach the token, the validation will fail.
The ask is to include

[2021-09-22 15:42] MartinJaffer-MSFT commented on #81169
Are you confusing access control with access policies, @jayendranarumugam  ?
![image](https://user-images.githubusercontent.com/46612670/134375179-f70568f2-1bea-439e-be7c-a3aec2ce4782.png)
Roles are part of Access control (IAM).
There are two models for setting permissions.
![image](https://user-images.githubusercontent.com/46612670/134376265-f7d7d679-2d01-4bd3-8765-535553628caf.png)

[2021-09-22 15:50] SadiqhAhmed-MSFT commented on #81429
@PaulShay66 Thank you for your post. We will review the content and get back to you with an update soon.

[2021-09-22 15:50] jayendranarumugam commented on #81169
Hi @MartinJaffer-MSFT -  Not exactly , either way its Azure RBAC or Vault Access Policies .
What permissions we need to check on the IAM or Vault access and for Which App ?

The troubleshooting page is telling more generic way of just check the permission. But without knowing for which app its difficult to resolve.

To be exact
![Screenshot 2021-09-22 at 9 19 51 PM](https://user-images.githubuserc

[2021-09-22 15:55] ufcurmcginty commented on #81342
So naming them different names with helm doesn't actually change app.kubernetes.io/name:
  anymore? When did this change? Helm v3 and ingress-nginx/ingress-nginx used to allow this a couple versions ago. How did this make it past testing?

Is there a modifier with helm install command that will do this or do I need to actually make the change in the helm chart?

I think it's time  to drop helm and

[2021-09-22 16:17] melalj commented on #62877
Running similar issue... Such an error message is really useless (as I'm the admin of the organization, and they are asking me to contact the admin...).
This is really bad developer experience!

[2021-09-22 16:29] seligj95 commented on #67835
#173194

[2021-09-22 16:44] tamram commented on #81402
@S-Lovell - We have lots of examples, and depth, elsewhere in the documentation. Can you provide some more specific guidance as to what you are looking for?

[2021-09-22 16:44] nazakathussain opened #81434 "Resource Graph Query issue"
The below query does not perform as expected, the properties that are returned do not have a keyCreationTime property within the JSON payload. Via powershell and the Portal however you can access the property, maybe for the Graph product team to look into.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3463d1c7

[2021-09-22 16:45] waterflyer opened #81435 "How to create multiple containers using Azure CLI?"
I used this command :
az storage container create \
    --account-name <storage-account> \
    --name <container> \
    --auth-mode login
to create a blob container under the storage account successfully.

I wonder that what is the command to create multiple containers in this case? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu