[2020-10-20 13:26] lansalot commented on #64607
Just checked with some of my colleagues, they're getting the correct PDF in Chrome. Looks like this is somehow my issue?

[2020-10-20 13:30] MonikaReddy-MSFT commented on #64663
@kiazhi -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-10-20 13:35] #64607 closed

[2020-10-20 13:52] NavtejSaini-MSFT commented on #64675
@irsubasi We are checking this and will get back to you.

[2020-10-20 13:53] NavtejSaini-MSFT commented on #64676
@kamilzzz We are checking this and will get back to you.

[2020-10-20 13:56] SumanthMarigowda-MSFT commented on #64500
@akshaymatmicrosoft Thanks for your feedback! This issue has been fixed, and the change should once the PR is merged
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-20 13:56] #64500 closed

[2020-10-20 13:56] GitaraniSharma-MSFT commented on #64656
@hisasima , the article already mentions a note as below:

![image](https://user-images.githubusercontent.com/67630903/96596173-105c0980-130a-11eb-9e9f-52dd13389764.png)

So, could you please clarify on which limitation you are referring to?

[2020-10-20 13:57] kngohil opened #64679 "Azure Speech - REST API for Private Endpoints"
On this page - https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-speech-to-text , I can see that the API URL for authentication to get the Bearer Token is based on a Public Endpoint: `https://<REGION_IDENTIFIER>.api.cognitive.microsoft.com/sts/v1.0/issueToken` - meaning that if my Cognitive Service for Speech allows Public Endpoint access then this should work fine. How

[2020-10-20 13:58] SumanthMarigowda-MSFT commented on #64654
@yuriwoof  Thanks for the question! We are investigating and will update you shortly.

[2020-10-20 14:08] mmontesi commented on #54443
@codely4 the solution proposed by @Karishma-Tiwari-MSFT [here ](https://github.com/MicrosoftDocs/azure-docs/issues/54443#issuecomment-626060319) worked for me.
I had problems using an existing file share with quota limit set.
With a brand new storage account all worked like a charm.

[2020-10-20 14:16] ivanignatiev opened #64680 "Azure Event Hub firewall requirements for log streaming"
Please, add notice about Event Hub firewall requirements to the Azure Monitor Diagnostic Setting streaming to Event Hub documentation.

If Event Hub uses virtual networks firewall, "Allow trusted Microsoft services to bypass this firewall" option must be activated.
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-service-endpoints#trusted-microsoft-services

---
#### Document Details

[2020-10-20 14:31] rhyscooper opened #64681 "DNN Listener Routing incorrect when connected to non AG Database"
The 'Test Connectivity' section steps do not work properly, I have found that when failing over, the @@servername check only works if you first connect (use) to a database that is in the availability group. If you are connected to master, the connection does not get moved to the new primary when you fail over.

Steps that work:
1. Open SQL Server Management Studio.
2. Connect to your DNN listener.

[2020-10-20 14:32] matthewhart-TMG opened #64682 "additional steps"
[Enter feedback here]
After working with MS support I have discovered this document is missing instructions on creating a network peering between the network created in this guide and the network that your VM exists in.  If you follow the guide and create a new network, we discovered that you must peer the network that the remote gateway is in with the network of the VM's by accessing Peerings.  A

[2020-10-20 14:36] writex opened #64683 "Minimum size SKU required to deploy a cluster?"
What is the minimum size SKU required to deploy a cluster? How difficult is that information to find?

Under the section, "Durability characteristics of the cluster" it says in the Bronze row, "VMs with at least 50 GB of local SSD." In regard to what SKU that requires, can that be clearer?

Under Virtual machine sizing it says, "For production workloads, the recommended VM size (SKU) is Standard D

[2020-10-20 14:46] jpetitte opened #64685 "scmUri doesn't work for git push"
The git clone url under "deployment credentials" worked

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e94f3fb-7da7-3ddf-bf38-32e4fea00699
* Version Independent ID: 59222ad8-9930-b889-f0a9-c9bc3c642e38
* Content: [Deploy from local Git repo - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/deploy

[2020-10-20 14:51] skurre commented on #64200
@psmanhas - Could you please follow-up with the internal team again on this? Thank you!!

[2020-10-20 14:51] souravmishra-msft commented on #64432
Hello @adrwh, I did try that using the Postman tool and also with Powershell Invoke-RestMethod way, and both ways it worked for me. I used a two days old timeframe for the **lastSignInDateTime** parameter. I would like you to give it a try with a timeframe that is lower than 30 days. As for AAD, our audit and signing logs retention policy is for 30 days. After that, the logs are flushed out.

Do l

[2020-10-20 14:55] MinaPiao commented on #64200
As confirmed with internal team, PM will review all request on weekly basis  and reply directly to customer once approved.

[2020-10-20 15:00] tcsougan opened #64687 "Add the cluster to the backend and open the port required by the backend to work effectively are missing !"
[Enter feedback here]
I think it should mention how to add the cluster to the backend of the AppGW and open the ports required by the backend to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94bdeded-846e-526c-8ce3-77ee36ffa852
* Version Independent ID: 7d768d5c-0318-25f1-38f8-7a2ee15c1c41
* Content: [Tutorial:

[2020-10-20 15:04] MashaMSFT commented on #64681
Hi @rhyscooper , thank you so much for reaching out! Let me check a few things on my end to confirm the expected behavior.

Thanks!
Masha from the SQL Docs team

[2020-10-20 15:11] SwathiDhanwada-MSFT commented on #64680
@ivanignatiev Thanks for your feedback. We will review the issue and update the document accordingly.

[2020-10-20 15:25] tofusgh opened #64688 "VPNGW does support Static IP"
The table for Static IP and Dynamic IP support for VPN gw states it does not support static IPs however there is support for static IPs on VPN gw depending on the generation for example: VPNGW1 Gen1 or VPNGW2 Gen2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd95f8e2-963d-3193-ec1f-b0dd9f566ee2
* Version Independent

[2020-10-20 15:28] mphelp commented on #22674
@djpmsft

After much searching, I finally reached your note that "**_Parameters are created at the pipeline level and assigned during trigger time._**"...

Was this work item around emphasizing this in the docs completed? I like many others believed parameters in the trigger could be set. It is not clear in the UI that trigger parameters mimic pipeline parameters.

[2020-10-20 15:35] djpmsft commented on #22674
@chez-charlie Can you address this trigger feedback?

[2020-10-20 15:35] SumanthMarigowda-MSFT commented on #64560
@veryblue1118 If you have enabled Data Protection  you will be able see in the portal, For better understanding  May I know what exactly are you facing the issue?

 Note

In the current release, the $blobchangefeed container is visible only in Azure portal **but not visible in Azure Storage Explorer**. You currently cannot see the $blobchangefeed container when you call ListContainers API but you

[2020-10-20 15:41] SaiKishor-MSFT commented on #64115
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-10-20 15:41] #64115 closed

[2020-10-20 15:50] jmprieur commented on #60312
@mmacy : this one does it:
https://github.com/Azure-Samples/ms-identity-aspnet-webapp-openidconnect

cc: @jennyf19

[2020-10-20 15:51] stevestein commented on #64505
@amneshgoel7 - thanks for the feedback.

In the first sentence of the article it says: _In the provisioned compute tier of the vCore-based purchasing model..._

During creation there is a Basics tab as shown below:

For new databases, during creation, select _Configure database_ on the _Basics_ tab and select the option to save money.

![image](https://user-images.githubusercontent.com/9388190/966

[2020-10-20 15:51] #64505 closed

[2020-10-20 16:07] veryblue1118 commented on #64560
now, no problem.
I didn't see your commit when I reported this issue.

[2020-10-20 16:10] Svijay-msft commented on #64657
Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?

[2020-10-20 16:16] yoelhor commented on #61701
Although there are some policies that define metadata in the content definition, it's not supported, and there is no impact on the UX.

[2020-10-20 16:19] lfrancfort commented on #64625
Hello again,

Regarding https://docs.microsoft.com/fr-fr/azure/active-directory/authentication/concept-mfa-licensing  :
If I look at the “Feature comparison of version”, were is my “Office 365 E1/E3 and F3” customer ?
Is he using “Azure AD Free” ? Is he using “Microsoft 365 apps” ?

How the columns relate to https://azure.microsoft.com/en-us/pricing/details/active-directory/ table ? (Azure AD Free

[2020-10-20 16:24] yoelhor commented on #62000
Step 9 provides the details how to set the privacy URL:

 *In Site URL, enter the address of your website, for example https://contoso.com. Enter a URL for the Privacy Policy URL, for example http://www.contoso.com/privacy. The policy URL is a page you maintain to provide privacy information for your application.*

[2020-10-20 16:28] zincob commented on #64605
Thanks for the feedback, the pipeline is working!
I strongly suggest to include the document that you shared in the tutorial.
IMHO the tutorial doesn't contain all the required information to successfully follow it.

[2020-10-20 16:30] timsander1 commented on #64652
Hi @MS-jeremy, thanks for your feedback. We'll update the link to reference the upgrade doc (at the time the indexing doc was last updated, the upgrade doc didn't exist). Support ticket route still works though (and is required in many cases), so no issue if a customer has already followed the old link.

[2020-10-20 16:30] timsander1 commented on #64652
#please-close

[2020-10-20 16:30] #64652 closed

[2020-10-20 16:33] marciomocellin commented on #64530
in: https://stackoverflow.com/questions/64394661/erro-invalidinputdatatype-input-of-type-unknown-is-not-supported-in-azure-az

[Configure AutoML Doc][2] says:

It looks as if your `dataset` object is a Pandas DataFrame, when it should really be an Azure ML `Dataset`. Check out [this doc][1] on creating Datasets.

  [1]: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-register

[2020-10-20 16:33] #64530 closed

[2020-10-20 16:39] pochiraju commented on #64600
hello,
DMS only offers one time migration, which introduce migration downtime.  The near zero down time migration is coming in future releases.
You may have to employ log shipping method to perform this migration.
1. Make sure the source database is in FULL recovery mode.
2. Take FULL database backup, restore onto the target SQL VM in non-recovery mode.
3. Start taking T-Log backups on the source

[2020-10-20 16:40] keatseongchan commented on #63577
@MayankBargali-MSFT , thank you for sharing the documents on subject name + issuer integration with service fabric.  This will address cluster certificate.  Is there a plan to support auto refresh for client certificate for SF API?

[2020-10-20 16:44] yutaro113 opened #64690 "Contents of Japanese ver. is different from English ver."
[Enter feedback here]
English version mention App Service Premium V3 Plan, but Japanese version still mention Premium V2 Plan.
Japanese version should also be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cfacf3d-4d48-317b-0c68-2f992ebb60bc
* Version Independent ID: 9f00811a-bbf8-91e9-238b-d28066e19c83
* Con

[2020-10-20 16:50] yossi-y commented on #63876
We are aiming to move all AzureDiagnostics schemas to dedicated tables for several reasons: ingestion performance, query performance, user experience and additional optimization that we can apply to dedicated tables.
With that said, we aren't close to removing AzureDiagnostics in the near future since the migration for Azure partners isn't simple and will take time.

Once we move schemas away from

[2020-10-20 17:04] AKTheKnight opened #64691 "Enable client-side monitoring tabs point to the wrong place"
Under Enable client-side monitoring, the Java and Python tabs both say " you need to manually add the client-side JavaScript SDK to your application." and point to the JavaScript documentation.

Shouldn't they point to Java and Python documentation respectively?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 098ffe3a-2

[2020-10-20 17:11] NavtejSaini-MSFT commented on #64537
@tstahnke2 The AzureCacheFT is just member of the main azurecache@microsoft.com. Your email has still gone through to relevant people related to Azure Cache.
There is no action needed for this. We will be going ahead and closing this issue for now.

[2020-10-20 17:11] #64537 closed

[2020-10-20 17:16] YutongTie-MSFT commented on #64679
@kngohil
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-20 17:17] SaiKishor-MSFT commented on #64688
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-20 17:17] SaiKishor-MSFT commented on #64682
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-20 17:18] SaiKishor-MSFT commented on #64687
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-20 17:22] BharathNimmala-MSFT commented on #64561
@StingyJack Apologies for the experience, do you still see the issue ? currently within my subscription able to see it.

![AKS_Ins](https://user-images.githubusercontent.com/45180002/96621919-1b894800-12be-11eb-85e2-50dd7137098f.png)

If you continue to see the issue, please let us know. Thank you

[2020-10-20 17:27] Karishma-Tiwari-MSFT commented on #64683
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-20 17:31] mcurko opened #64692 "Error"
"clusterName matches the value you supplied for CertDNSName when creating your cluster certificate" => No, it doesn't!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b3032c3-cf9a-6ecf-a3ee-e28924ac2064
* Version Independent ID: d3109420-2017-9b56-4368-d8812f70f1a0
* Content: [Create a Service Fabric cluster using Azur

[2020-10-20 17:38] SAIMMINHAS commented on #64367
Hi Vipulsparsh,

Many thanks for the reply. It was helpful so i'll just close this thread.

[2020-10-20 17:38] #64367 closed

[2020-10-20 17:39] femsulu commented on #64600
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

#please-close

[2020-10-20 17:39] #64600 closed

[2020-10-20 17:47] mrtalley opened #64693 "Document replace manifest behavior more explicitly"
Current behavior for the replace manifest button on an Edge template is to allow the replacement of the deployment manifest, but not update the associated capability model. The customer is responsible for updating the capability model to match the new deployment manifest.

This behavior isn't very clear in the UI, as it just seems like the capability model isn't being updated.

With this, I believ

[2020-10-20 17:50] ChaitanyaNaykodi-MSFT commented on #64669
Hello @JohanKlijn, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-10-20 18:00] bandersmsft commented on #64674
@theheatDK Hi Peter. The Cost Management team wants to prevent users from creating budgets that don’t expire. When users create budgets without expiration dates and if those budgets don't get used, the budgets continue to get evaluated without any benefit to the user. They also increase the load on Azure infrastructure.

The expiration date makes users create budgets that are hopefully monitored f

[2020-10-20 18:00] #64674 closed

[2020-10-20 18:03] BharathNimmala-MSFT commented on #64691
@AKTheKnight Thank you for your query, we will review the query and back to you at the earliest.

[2020-10-20 18:05] sunkararp opened #64694 "'insufficient permissions' StorageAccount access network rule"
[Adding network rule for a subnet in a vNet belonging to another Azure AD tenant results in "Unable retrieve endpoint status for one or more subnets. Status 'insufficient permissions' indicates lack of subnet read permissions ('Microsoft.Network/virtualNetworks/subnets/read').".

![image](https://user-images.githubusercontent.com/10903166/96628674-6491ca00-12c7-11eb-9897-6c3d044f7b03.png)

Add-AzS

[2020-10-20 18:08] AjayKumar-MSFT commented on #64653
Glad to know that the issue is resolved. Thanks for the update, rachelxj-ms.

[2020-10-20 18:11] theheatDK commented on #64674
Thanks @bandersmsft :-)

[2020-10-20 18:11] Grace-MacJones-MSFT commented on #64668
Hi @Ibrahim-Islam, thanks for the feedback! we are currently investigating and will update your shortly

[2020-10-20 18:15] Grace-MacJones-MSFT commented on #64690
Hi @yutaro113, thanks for bringing this to our attention! We will update the docs soon. can you please share the link to the Japanese version?

[2020-10-20 18:17] mcurko opened #64695 "The deployment doesn't work"
Tried several times, the result is:

Deployment to resource group 'xxxxxx' failed.
Additional details from the underlying API that might be helpful: At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details.

[code]
I tried to create a cluster as described here and the cluster creation process fail

[2020-10-20 18:22] BharathNimmala-MSFT commented on #64216
@saket-ms Thanks a lot for helping on this thread.

@eosho - Thanks again for reaching out to us. At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue the conversation. Thank you

[2020-10-20 18:22] #64216 closed

[2020-10-20 18:28] ebanzon commented on #40136
I've been looking for this solution, thanks @ecfan !

[2020-10-20 18:32] Grace-MacJones-MSFT commented on #64685
Hi @jpetitte, thanks for your feedback! was there a specific question you about docs?

[2020-10-20 18:36] yutaro113 commented on #64690
Thanks for the confirmation! here is japanese version!
https://docs.microsoft.com/ja-jp/azure/app-service/app-service-configure-premium-tier

[2020-10-20 18:36] #64582 closed

[2020-10-20 18:42] Letsan commented on #64419
Hello @AnuragSharma-MSFT thanks for your reply. It seems this information only applies to App Service containers and virtual machines, and not for Linux Virtual Machines running on Azure. I checked and the /var/ssl directory doesnt exist.

After all this I assume "normal" Linux VMs do not include the aforementioned CA certificate. It's weird that Mysql reports `c:\work\ca.pem` as the CA certificat

[2020-10-20 18:43] PeterCLu commented on #64566
Thanks @citizen12 for the report! I've updated the screenshot and section to align with the product UI.

You should see the changes live in a few hours. I'll proceed to #please-close this issue.

[2020-10-20 18:43] #64566 closed

[2020-10-20 18:44] jpetitte commented on #64685
@Grace-MacJones-MSFT sorry the title should have said "doesn't". that was a typo

[2020-10-20 18:50] joanteixi commented on #64591
ouch!!! yess! you're rigth!! I read a lot of docs but I didn't aware of the meaning of this part (you don't need to import for the notebook experience, implies that we need to add when runing inside a pipeline)!

Thanks for  your help!!

[2020-10-20 18:50] #64591 closed

[2020-10-20 19:02] AjayKumar-MSFT commented on #64482
@dkisselev,  Apologies for the delay!  Just to clarify, you don’t have to migrate the app, you just need to switch, by selecting the intended App Service tier, in this case PV2 or PV3 – The ‘[manage-scale-up](https://docs.microsoft.com/azure/app-service/manage-scale-up#scale-up-your-pricing-tier)’ document that you referenced does include a note ‘_To scale up to PremiumV3 tier, see [Configure Prem

[2020-10-20 19:37] MarileeTurscak-MSFT commented on #64667
@AmitavaHazra
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-20 19:40] jamserra opened #64697 "Update disadvantages"
"5 min or more latency" should be changed to "5 minute minimum frequency between syncs"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa9bff59-c1f2-f93e-46ed-50eb2b6bc1e8
* Version Independent ID: 83943260-4a5c-cae6-0b77-621cf2f772bf
* Content: [What is SQL Data Sync for Azure? - Azure SQL Database](https://docs.micro

[2020-10-20 19:43] AngelusGi commented on #64429
I'm ok with this. thank you all for helping

[2020-10-20 19:46] PeterCLu commented on #63850
@bbertoni and @jamesbannan , thanks for your report.

@jhirono @aashishb, can you take a look at this? Are the proposed rules valid for official documentation? Can the fix be the cause of bbertoni's timeout issues above?

Thanks

[2020-10-20 19:47] Sothecom opened #64698 "Error on Android Emulator"
Hello,

I am trying to make a request from a Nativescript app running on an Android Emulator, to a .Net Core app on my local machine.

However I keep getting the error Trust anchor for certification path not found

Please advise.

Thanks
Roland
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8473cf2-d37a-a7c1-7b08-18c1d

[2020-10-20 19:47] DerekHerman-MSFT commented on #64694
@sunkararp I believe this is a portal limitation. I am closing this out please follow https://github.com/MicrosoftDocs/azure-docs/issues/64694 for updates.

[2020-10-20 19:47] #64694 closed

[2020-10-20 19:57] sandeep-ma commented on #64413
I totally agree. Only thing is that the 2 minutes is not a 'default' value. It is internally hardcoded in the connector and cannot be changed.

And thanks for taking this up for getting the article updated, that was all I had asked for in my original request, since this article is linked to from another article about the same issue and it is not even possible to fix such an issue unless we write o

[2020-10-20 20:03] sunkararp commented on #64654
We had the same issue.
In our case, the user who executed Add-AzStorageAccountNetworkRule PowerShell command has Contributor role on both sides.
We followed this Microsoft [doc](https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security)

[2020-10-20 20:08] richarddiver-ms opened #64699 "update guidance for UI changes"
This document is great however the UI has changed on both sides (Azure AD and Workplace), please update the guidance to reflect and avoid confusing in which settings go where.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b517d164-c0ed-86b3-3ab1-eae70886f80b
* Version Independent ID: 5c383fcb-04

[2020-10-20 20:18] danielriosb commented on #44425
@mayanksingh-ops Did you figure out a solution for that message? I'm fancing the same one.

[2020-10-20 20:27] MarileeTurscak-MSFT commented on #64624
Thanks @karlgots, I made a pull request to update the document. https://github.com/MicrosoftDocs/azure-docs-pr/pull/134694

CC @msmbaldwin

[2020-10-20 20:27] #64624 closed

[2020-10-20 20:34] SaiKishor-MSFT commented on #64514
@frehnejc We are working on this issue currently and will update you soon. Thank you!

[2020-10-20 20:40] pbursch opened #64700 "Azure SQL Edge Tutorial Documentation Issues"
The page https://docs.microsoft.com/en-us/azure/azure-sql-edge/tutorial-deploy-azure-resources has a prerequiste for downloading files required for the tutorial.  Specifically prerequisite #7 link to "AMD/ARM Docker Image Files" does not download the container images as expected.  It links you to page https://www.docker.com/blog/multi-arch-images/ which describes how to create docker images (usefu

[2020-10-20 20:58] pbursch opened #64701 ""Set up IoT Edge modules and connections" tutorial issues."
The page https://docs.microsoft.com/en-us/azure/azure-sql-edge/tutorial-set-up-iot-edge-modules contains what I believe are two issues.

1) The section "Deploy the Azure SQL Edge module" creates the module which in the next section "Create and start the T-SQL Streaming Job in Azure SQL Edge" indicates you need to specify "The strong password that was used while creating the Azure SQL Edge instance

[2020-10-20 21:00] JamesTran-MSFT commented on #64699
@richarddiver-ms
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-20 21:01] ChaitanyaNaykodi-MSFT commented on #64376
Hello @jonathanantoine, we will now proceed to close this issue out. Please tag me in your reply if there are any additional concerns, I will be glad to continue with our discussion.

[2020-10-20 21:01] #64376 closed

[2020-10-20 21:05] SatishBoddu-MSFT commented on #64693
Hello @mrtalley Thanks for the feedback.
I have assigned the issue to the content author for further review.

[2020-10-20 21:21] jonlammers opened #64702 "Says Private Link only available on Dedicated, other page says standard and dedicated."
[Enter feedback here]

This page says private link is only available on EH dedicated, linked page says is available on standard and dedicated.

jolammer

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9aa6a799-cfb1-4cf3-c25d-2bf19a8f6560
* Version Independent ID: bd9db425-45ee-7edb-c2b7-bc7b69268835
* Content: [Network

[2020-10-20 21:24] himanshusinha-msft commented on #64402
@azaricstefan  L: Thanks for the comment .
@yahorsi  ; We are going ahead and clsoing this issue for now .

[2020-10-20 21:24] #64402 closed

[2020-10-20 21:25] BassFaceIV opened #64703 "Incorrect information in the 'HttpStatusCode.BadRequest 400' description for domains"
First, there's a typo in the second sentence. 'Topic name' should be 'domain name'.

Second, the reserved words list is inaccurate. We were able to successfully create domains called 'Microsoft' and 'System'. It does appear 'EventGrid' is an issue, although the error is vague so we're assuming it's due to 'EventGrid' being reserved as indicated by this document.

The name 'test' appears to be a re

[2020-10-20 21:25] jwcw opened #64704 "Creating cluster fails with Windows password validation error - every time"
I'm experiencing the same issue as #34547. Creating a new AKS cluster with Windows container support using `az aks create`. I provide a password that adheres to the password complexity requirements and it fails with the error:

`ValidationError: Parameter 'ManagedClusterWindowsProfile.admin_password' must conform to the following pattern: '^(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%\\^&\\*\\(\\)])[a-zA-Z\\

[2020-10-20 21:30] rdlucas2 opened #64705 "default parameterization template should use triggerSuffix:int"
[code]

![image](https://user-images.githubusercontent.com/67339044/96645566-be5eb800-12f8-11eb-9464-2d16b3b80afa.png)

The default parameterization template is using "triggerSuffix:number" - when deploying, I was getting the following error:

`The request content was invalid and could not be deserialized: 'Error converting value "number" to type 'Azure.ResourceManager.Deployments.Core.Entities.Te

[2020-10-20 21:32] SubhashVasarapu-MSFT commented on #64357
@Shuhuiling, Appreciate your patience. This feature is not available today. I recommend you to upvote it and other features that are of interest here in this [feedback ](feedback.azure.com)section. In general, Azure feature team would check feasibility of a feature request, triage it, prioritize against existing feature backlog, add in roadmap as appropriate and would announce and/or update the re

[2020-10-20 21:32] #64357 closed

[2020-10-20 21:33] dlepow commented on #61780
@robvet - We recently refreshed the tutorial screens and instructions based on the current portal UI:
https://docs.microsoft.com/en-us/azure/api-management/import-and-publish
Please let us know if you have other questions about this article.

[2020-10-20 21:34] RescueChris opened #64707 "Certificate signed by unknown authority when using a Service Principal for onboarding"
Following the instructions here https://docs.microsoft.com/en-us/azure/azure-arc/servers/onboard-service-principal for onboarding machines using a service principal and I get this error:

time="2020-10-20T15:20:50-06:00" level=info msg="Onboarding Machine. It usually takes a few minutes to complete. Sometimes it may take longer depending on network and server load status."
time="2020-10-20T15:20:5

[2020-10-20 21:38] WinstonHoward-MSFT commented on #64543
Assigning to @iafinder

[2020-10-20 21:57] jwcw commented on #64704
User error. The password was surrounded in "quotes".

Quotes are valid characters in a Windows Server password but it appears unsupported in Windows containers.

[2020-10-20 22:07] Karishma-Tiwari-MSFT commented on #64405
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-20 22:18] Karishma-Tiwari-MSFT commented on #64695
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-20 22:21] pchatelle opened #64708 "You never actual show an example of a properly formatted file."
You never actual show an example of a properly formatted file.

It's like explaining a word by using the word, but worse.

Show an example with an object id what id the header exactly, show an example with a UPN what is the header exactly?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d9b26a1-e401-4d6d-f37e-cceed1c04

[2020-10-20 22:27] mikben commented on #64358
@RinaRish @chriswhilar I've addressed this in the following PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/134718

[2020-10-20 22:27] mikben commented on #64358
#please-close

[2020-10-20 22:27] #64358 closed

[2020-10-20 22:29] mikben commented on #63091
Thanks for taking the time to submit an issue for this, @meet-rs-api. The JS quickstart has been updated with token refresh guidance and should be live within the next 24 hours.

[2020-10-20 22:29] mikben commented on #63091
#please-close

[2020-10-20 22:29] #63091 closed

[2020-10-20 22:39] JamesTran-MSFT commented on #64708
@pchatelle
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-20 22:54] jlichwa commented on #64580
@aronchick thank you for letting us know. I have updated link to point to Access Policy article #please-close

[2020-10-20 22:54] #64580 closed

[2020-10-20 23:00] dvescovi1 commented on #64603
seems this is the issue [288](https://github.com/Azure/iotedgehubdev/issues/288)
as everyone that uses vs 2019 or vs code to develop iot edge module is hit by this I hope they fix it soon.

[2020-10-20 23:08] SatishBoddu-MSFT commented on #64603
Please try this  [suggestion](https://github.com/microsoft/vs-azure-iot-edge-docs/issues/28#issuecomment-712765723),

We are actively investigating this issue,

_workaround by installing https://pypi.org/project/iotedgehubdev/ into the default python env._

_Steps_

- pip install --upgrade iotedgehubdev (installs https://pypi.org/project/iotedgehubdev/ in the default python env)
- notice the ioted

[2020-10-20 23:13] sebansal commented on #64331
Document has been updated, changes should go live by end of the day. Thanks.

[2020-10-20 23:19] lorenzobrito opened #64710 "C# code is obsolote on .net core 3.1"
[Enter feedback here]

The following code is obsolete. can you please update the page?

var telemetry = new Microsoft.ApplicationInsights.TelemetryClient();
telemetry.TrackTrace("Slow database response",
               SeverityLevel.Warning,
               new Dictionary<string,string> { {"database", db.ID} });
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-10-20 23:24] sebansal commented on #64331
https://github.com/MicrosoftDocs/azure-docs-pr/pull/134720

[2020-10-20 23:24] sebansal commented on #64331
#please-close

[2020-10-20 23:24] #64331 closed

[2020-10-20 23:26] BharathNimmala-MSFT commented on #64380
@wiwillou Thanks again for taking time to share your feedback.

Currently below is mentioned in the [document](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/move-workspace#workspace-move-considerations) as a important note while considering as part of workspace move.

All alerts needs to re-create after the move, since the permissions are based on the Azure Resource ID of the works

[2020-10-20 23:26] #64380 closed

[2020-10-20 23:34] alex-frankel opened #64711 "Recommend docs use az powershell/az cli to deploy ARM template, not REST call"
In practice, most users deploy ARM templates through az powershell or az cli. Can the docs also include examples using these methods?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd3632da-89e0-cbd4-2d92-311eaacd33b3
* Version Independent ID: 9a59177a-4183-cdd8-dee3-9dbeca53544b
* Content: [Programmatically create Azu

[2020-10-20 23:38] spelluru commented on #64702
@jonlammers - Thanks for reporting the issue.

This page needs to be updated to indicate that the feature is supported for both standard and dedicated. We will fix it immediately.

The linked page was updated in this commit:
https://github.com/MicrosoftDocs/azure-docs/commit/b363be4d72ee74b8462d3c9205a59bfca736c794#diff-e5c2c9199935f808e80e305eadd4fce95df640f2be15bbd2ea98d561e4f2159e

[2020-10-20 23:44] dehoward opened #64712 "Hyperlink broken on "Understand components in IoT PnP" page"
![image](https://user-images.githubusercontent.com/52973358/96655908-85701480-12f3-11eb-8553-13ee4a823ca3.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46563c71-87de-b29a-422b-02fdbb283eb6
* Version Independent ID: 5b760e53-a1d3-b61e-16ab-f542648d29c5
* Content: [Understand components in IoT Plug and Play models]

[2020-10-20 23:45] WinstonHoward-MSFT commented on #64692
Hi @mcurko ,

This doc instructs you to edit the parameter values in your azuredeploy.parameters.json so that the clusterName matches the value you supplied for CertDNSName when creating your cluster certificate. You have to edit the parameter values yourself to make them match.

[2020-10-20 23:46] JamesTran-MSFT commented on #64609
@hkuersten
Thank you for your patience throughout this issue. I reached out to our product team regarding your question(s) and will post their response below.

**PG Response:**
It's by design that the imported certificate, after download, would not have password stored. You can vote for this [feature request here](https://feedback.azure.com/forums/906355-azure-key-vault/suggestions/32603098-add-su

[2020-10-20 23:50] vishiy commented on #63988
Thanks. Can you share the status of agent's replica pod?
1. Kubectl get pods -n=kube-system | grep omsagent-rs
2. Kubectl describe pod -n=kube-system <podname from #1>
3. kubectl logs -n=kube-system <podname from #1>

[2020-10-21 00:01] bayeslearner opened #64713 "Python 2.7 is dead."
[Enter feedback here]
Lots of mismatch between python versions 2.7 or 3.x, python distr (vanilla or conda) etc.  For example, python 2.7 is dead, and yet this page still refers to it as an example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1606e33f-a0b8-08ca-a071-d219842e8994
* Version Independent ID: 0064c141-bae

[2020-10-21 00:04] MarileeTurscak-MSFT commented on #64460
Hi @AmitaHazra,

Users can be notified in the Office portal when their on-premises passwords expire, but there isn't a feature for notifying users when they change their Microsoft account passwords because that would be outside of the scope of Azure and the organization. MyAccount is a completely different portal.

[2020-10-21 00:09] spelluru commented on #64702
#assign: spelluru

[2020-10-21 00:10] spelluru commented on #64702
I have fixed the issue. The updated article should go live a few minutes after 10 AM PST tomorrow.

[2020-10-21 00:11] mmacy commented on #60312
@degrover-cn Sorry for the delay in getting back to you on this. If you have a chance, can you check to see if this code sample has the information that you need?

https://github.com/Azure-Samples/ms-identity-aspnet-webapp-openidconnect

#reassign:mmacy

[2020-10-21 00:22] BharathNimmala-MSFT commented on #64377
@adibiton Apologies for delay in getting back to you on this, I am further reviewing this with our document author. Will circle back to you at the earliest.

[2020-10-21 00:30] SvenBell opened #64716 "Out of date"
Screen shots appear out of date. Many fields in many sections have now become compulsory with no clues on suggested defaults, so, Could do with more 'i' buttons to link directly to this doco page to make configuration experience even better.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84b26750-880c-8f14-1628-436293d

[2020-10-21 01:11] ChaitanyaNaykodi-MSFT commented on #64703
Hello @BassFaceIV, Thank you for your feedback! We will review and update as appropriate.

[2020-10-21 01:25] dlew56 opened #64717 "Minimum Listed GitHub PAT permissions are insufficient to link private repo in Automation Account source control"
I am linking a private repo to an Automation Account, and must give the PAT 'full control of private repositories' in order for it to link successfully.

I am using Az PowerShell to set it up (New-AzAutomationSourceControl)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83c90e64-b615-711f-a53d-fc76606e2ecd
* Version In

[2020-10-21 01:45] #64712 closed

[2020-10-21 01:48] jonlammers commented on #64702
Thanks, I'm an employee and EventHubs Dev (jolammer).  Just github didn't
let me say that anywhere.  Updates aren't necessary.

jon

On Tue, Oct 20, 2020 at 8:10 PM Sreedhar Pelluru <notifications@github.com>
wrote:

[2020-10-21 01:57] mingshen-ms commented on #64400
Hello @smoms, for your first question, standard Azure charges should apply for any Azure usage incurred by your SaaS offer to provide the necessary service, I'm following up to see if there're any exceptions.  For your second question, no, it's not required that your SaaS offer must be an Azure service.  Please review our [Plan a SaaS offer](https://docs.microsoft.com/en-us/azure/marketplace/plan-

[2020-10-21 02:03] spelluru commented on #63001
@felipepessoto - Thanks for the feedback. Have you tried the suggested change with the quickstart that uses the Azure.Messaging.EventHubs package? Thanks.

[2020-10-21 02:05] MonikaReddy-MSFT commented on #64704
@jwcw -
Thanks again for bringing this to our attention.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-21 02:05] #64704 closed

[2020-10-21 02:17] MayankBargali-MSFT commented on #64413
@sandeep-ma Yes that it is the limit of the connector. I have updated the doc and it will be published soon. We appreciate the feedback!

[2020-10-21 02:21] #64413 closed

[2020-10-21 02:29] spelluru commented on #63001
With the Microsoft.Azure.EventHubs package, Body is of type ArraySegment<Byte>
With the latest Azure.Messaging.EventHubs package, Body is of type ReadOnlyMemory<Byte>

[2020-10-21 02:36] spelluru commented on #58063
This was fixed sometime ago.
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-ip-filtering#trusted-microsoft-services

#please-close

[2020-10-21 02:36] #58063 closed

[2020-10-21 02:38] singhparveen opened #64719 "Additional Steps Required for RPC application"
I was trying to set up a Remote Desktop Server and publish it using the Azure App Proxy. Been through the whole setup process but then got stuck at " **Your computer can’t connect to the remote computer because the Remote Desktop Gateway server is temporarily unavailable. Try reconnecting later or contact your network administrator for assistance.** " when tried to access the resource from App Pro

[2020-10-21 02:38] spelluru commented on #57153
The sample was fixed a few months ago.

#please-close

[2020-10-21 02:38] #57153 closed

[2020-10-21 02:39] Mike-Ubezzi-MSFT commented on #64573
@ketaanhshah Can you confirm the edition of Azure SQL Database that you are looking to implement this functionality for? This is supported by Managed Instance where storage is part of the VNET and Private Link can be implemented. As for Azure SQL Database, the attached storage account to support the .ldf & .mdf files is not accessible as it is self managed as part of the service offering. I need t

[2020-10-21 02:39] spelluru commented on #64702
#please-close

[2020-10-21 02:39] #64702 closed

[2020-10-21 02:49] gary918 commented on #64343
@ram-msft Thanks for your reply. Actually I'm looking for the YML version of inference_config.json provided in https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/machine-learning-service-inference-config.md.

Here's the content of inference_config.json:
{
    "entryScript": "score.py",
    "environment": {
        "docker": {
            "arguments": [],
            "baseDockerfile":

[2020-10-21 02:52] SubhashVasarapu-MSFT commented on #64347
@kudlatiger, Appreciate your patience. This concept is mostly into Gateway-required VNet Integration, Gateway-required VNet Integration provides access to resources only in the target VNet or in networks connected to the target VNet with peering or VPNs. Gateway-required VNet Integration doesn't enable access to resources available across Azure ExpressRoute connections or works with service endpoi

[2020-10-21 02:52] #64347 closed

[2020-10-21 02:53] MayankBargali-MSFT commented on #63657
@Kapkan-Lesion The issue is fixed and working as expected.

[2020-10-21 02:54] mingshen-ms commented on #64400
Hello @smoms, after following up with our internal business team, here is additional info that'll help: the rates applied for your Azure usage will correspond to your Microsoft customer agreement. The Azure sales teams will work with you to select the right plan and pricing for your needs. You can secure the best pricing through consumption commitments. Talk with an Azure sales specialist to learn

[2020-10-21 02:59] felipepessoto commented on #63001
My bad, I was using the Microsoft.Azure.EventHubs package.
Thanks

[2020-10-21 02:59] #63001 closed

[2020-10-21 03:02] BDunTG opened #64721 "Can all traffic be routed through a firewall?"
In our setup, we have a firewall which is meant to inspect all traffic before that traffic hits the internet or Azure backbone. In terms of the UDRs for Databricks (SCC or normal), can all the routes be sent through a firewall or do some/all of the destinations to be direct from the VNet to the destination? Wanting to understand if route tables can send everything to the firewall or if certain des

[2020-10-21 03:17] Garhag opened #64722 "Need more information about Backups"
There should be more information about backups within AAD DS here. My customer had a question about the backup and recovery process. It would be helpful for customers if we document the processes for different use cases. For instance, a full recovery of Active Directory, a single object recovery, recovering a synced object, recovering a local object, etc.

Here are some possible examples:

Case 1:

[2020-10-21 03:53] JamesTran-MSFT commented on #64716
@SvenBell
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-21 03:53] maheshau1 opened #64724 "SCIM 2.0 base URL"
Step 5: [Configure automatic user provisioning to Smartsheet](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/smartsheet-provisioning-tutorial#step-5-configure-automatic-user-provisioning-to-smartsheet)

I believe these instructions were a copy paste from another set of instructions as I am unable to see a step in these instructions which explains how to retrieve SCIM 2.0 base UR

[2020-10-21 03:54] #64609 closed

[2020-10-21 03:56] SwathiDhanwada-MSFT commented on #64710
@lorenzobrito Thanks for your comment. We will review the issue and get back to you shortly

[2020-10-21 03:57] SwathiDhanwada-MSFT commented on #64717
@dlew56 Thanks for your comment. We will review the issue and get back to you shortly

[2020-10-21 04:00] BhargaviAnnadevara-MSFT commented on #64429
@AngelusGi Sure, thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review. The changes should go-live post the merge.

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-10-21 04:00] #64429 closed

[2020-10-21 04:02] WinstonHoward-MSFT commented on #64613
Hi @rjmccallumbigl,

Thanks for the question,

After testing it should be the following. I'm initiating a PR to make the change.

[code]

[2020-10-21 04:07] dcurwin commented on #63876
#please-close

[2020-10-21 04:07] #63876 closed

[2020-10-21 04:11] BhargaviAnnadevara-MSFT commented on #64542
@dahovey Thanks for the feedback. So, the **Environments** section actually indicates supported client tooling.

For clarity, **Azure Dev Spaces** supports experiences in VS, VS Code, and a CLI, whereas **Bridge to Kubernetes** only offers experiences in VS and VS Code, hence the “No” for the CLI option.

We will make necessary changes that can make this clearer in the docs. Do let us know if you

[2020-10-21 04:12] guptaanoop29 commented on #64657
It relates to service fabric mesh documentation:
https://docs.microsoft.com/en-us/azure/service-fabric-mesh

Relates to Hello World tutorial
https://github.com/Azure-Samples/service-fabric-mesh/tree/master/templates/helloworld

[2020-10-21 04:15] SwathiDhanwada-MSFT commented on #64711
@alex-frankel Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-21 04:28] kazshi commented on #64418
@IngridAtMicrosoft Thanks for your comment. I would appreciate it if you could provide the missing content here or ETA of when the document will be updated?

[2020-10-21 04:28] BharathNimmala-MSFT commented on #64400
Thanks a lot @mingshen-ms for helping on this thread.

@smoms Apologies for the delay in getting back to you on this thread. Hope the information shared by @mingshen-ms helps answer your queries. Please review it when you get a chance.

Hope the above information helps. At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this is

[2020-10-21 04:28] #64400 closed

[2020-10-21 04:30] BharathNimmala-MSFT commented on #64707
@RescueChris Thank you for reaching out to us, we will look into your query and get back to you at the earliest.

[2020-10-21 04:34] CHEEKATLAPRADEEP-MSFT commented on #64713
@bayeslearner  Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2020-10-21 04:36] pisees commented on #63755
Thanks @albecker1, I do understand that temporary disk is ephemeral. However, Azure Service Fabric uses this by design since HA come from its replication of data across different VMs in the cluster. We monitor disk metrics ourselves using Log Analytics, but this feature would be great. Also, this feature would help with workloads on new skus like https://docs.microsoft.com/en-us/azure/virtual-mach

[2020-10-21 04:42] AnuragSharma-MSFT commented on #64697
@jamserra Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-21 04:46] AnuragSharma-MSFT commented on #64700
@pbursch Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2020-10-21 04:56] #64613 closed

[2020-10-21 05:03] GitaraniSharma-MSFT commented on #64698
@Sothecom , thank you for your feedback. May I know which Azure service you are referring to here? You have opened the feedback in Virtual WAN page, so could you please provide more details on your setup and requirement.

[2020-10-21 05:20] vipulsparsh commented on #64719
@singhparveen Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@kenwith Can you have a look at this ?

[2020-10-21 05:23] HarithaMaddi-MSFT commented on #64721
@BDunTG - Thanks for posting the question. We are looking into it and will update you shortly.

[2020-10-21 05:24] HarithaMaddi-MSFT commented on #64705
@rdlucas2 - Thanks for posting the issue. We are looking into it and will update you shortly.

[2020-10-21 05:29] vipulsparsh commented on #64722
@Garhag Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@MicrosoftGuyJFlo Can you have a look at this ?

[2020-10-21 05:39] Mike-Ubezzi-MSFT commented on #64573
Additionally, @ketaanhshah. What is the FQDN for the (logical) SQL Server instance that is identified as the primary? This is the FQDN that should be used in your web.config and Azure DNS will handle the redirect, as part of the failover event. Please see: [Retry guidance for Azure services](https://docs.microsoft.com/en-us/azure/architecture/best-practices/retry-service-specific) where your appli

[2020-10-21 05:40] HarithaMaddi-MSFT commented on #64409
@euangms - Can you please take a look at the feedback and share your thoughts,

[2020-10-21 05:40] vipulsparsh commented on #64724
@maheshau1 Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@zchia Can you have a look at this ?

[2020-10-21 06:26] amanmcse commented on #64568
@ravishankerb closing the issue now.

[2020-10-21 06:26] #64568 closed

[2020-10-21 06:50] AnuragSharma-MSFT commented on #64701
@pbursch Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2020-10-21 06:53] irwins opened #64726 "List of resources not supporting move to resource group / subscription"
Hi,

I feel like the list of not supported resources may be way shorter...
Any chance to have a reference to resources not supporting move to resource group / susbscription?

Rg./Irwin
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51002d4a-d8de-53d1-2e78-cb0440f5f23e
* Version Independent ID: 40f69d9c-2cb7-87e1-291d-52

[2020-10-21 07:18] mcurko commented on #64692
For CertDNSName **sfc1234.southcentralus.cloudapp.azure.com** I had to use **sfc1234** in the parameter file, otherwise the cluster creation failed.

[2020-10-21 07:23] #64542 closed

[2020-10-21 07:26] BhargaviAnnadevara-MSFT commented on #64542
@dahovey The changes are merged internally and will go-live in the public docs shortly. Thanks again for reaching out.

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-10-21 07:45] HarithaMaddi-MSFT commented on #64705
@rdlucas2 - I was able to use below code and make release successful. I think issue is with next screenshot you shared on defining parameters, I think it has to be int there. Please share more details for us to investigate further. Thanks!
` "Microsoft.DataFactory/factories/triggers": {
        "properties": {
            "typeProperties": {
                "recurrence": {
                    "*":

[2020-10-21 07:54] HarithaMaddi-MSFT commented on #64605
@zincob - Thanks for your contribution, I've addressed this issue in PR: MicrosoftDocs/azure-docs-pr#134761. The changes should be live EOD or tomorrow.

[2020-10-21 07:54] #64605 closed

[2020-10-21 07:58] mcurko opened #64728 "Cluster provisioning failed, and so did the deletion attempt"
I tried to create a cluster as described here and the cluster creation process failed with an error 'unauthorized'
 (I'm the subscription owner). I tried 3 times, the result is the same. Now I can't even delete these clusters from my subscription. What should I do?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-10-21 07:59] bplasmeijer opened #64729 "Before you begin refers to the wrong Azure CLI version 2.3.1"
The Azure CLI release notes [Azure CLI 2.13](https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 225b99ee-4c4d-54c2-cafa-ddcd286438da
* Version Independent ID: ca9410a8-8ddb-5528-a0ac-0963458f190e
* Content: [Use system node pools in Azure Ku

[2020-10-21 08:12] rayne-wiselman commented on #64396
Thanks for your feedback! Support versions in the article you referenced here (for replicating between on-premises sites) are up-to-date. For Hyper-V to Azure replication, the latest versions are listed [here]([url](https://docs.microsoft.com/azure/site-recovery/hyper-v-azure-support-matrix#on-premises-servers))  . Regarding Azure Stack HCI, there's an article here - https://docs.microsoft.com/en-

[2020-10-21 08:29] ram-msft commented on #64343
@gary918 Thanks for the details. Here is the sample yml file InferenceConfig_w_env.yml, please do change the values based on your settings.
sourceDirectory: ./data/sourcedirectory
entryScript: ./score.py
environment:
    docker:
    arguments: []
    baseDockerfile: null
    baseImage: mcr.microsoft.com/azureml/base:intelmpi2018.3-ubuntu16.04
    baseImageRegistry:
      address: null
      passwo

[2020-10-21 08:50] AllenVisser opened #64730 "Outdated information"
[Enter feedback here]
step 4 directory outdated

copy <>\iotedge-master\iotedge-master\tools\CACertificates\*.cnf
copy <>\iotedge-master\iotedge-master\tools\CACertificates\ca-certs.ps1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 869192a9-b222-7355-f5e5-fe2c72a62a03
* Version Independent ID: 1581b3d6-9aa5-eea5-0d44-

[2020-10-21 08:58] woehrl01 opened #64731 "Azure Policy Guest Configuration for Linux misleading naming of inspec.yml"
The documentation is misleading in regard to the `inspec.yml` file. At the top it states that it should be named as `inspec.yml` in the resulting structure it's named as `linux-path.yml`.

According to Chef InSpec (https://docs.chef.io/inspec/profiles/) the correct name is `inspec.yml`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-10-21 09:01] ptreptau opened #64732 "Clarify values in Step 9"
After reading all the feedback, it is still not clear how to provide the values in step 9 (audience and issuer).

Reading through several responses the audience should be set to the AppId of the Azure VPN enterprise app, however this is not clear by reading through the documentation.

The issuer value is still a mystery to be. Please provide clear and consecutive steps how to obtain the value.

--

[2020-10-21 09:12] kudlatiger opened #64733 "Can I use the Application Proxy of cloud pipeline?"
Can I use the Application Proxy of cloud pipeline?   NOT for on-premise

Browser - > Application Proxy  <-> AD (pre-authentication)
                    Application Proxy -> Application Gateway - > Backend IIS VM

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5010a322-5574-469a-48d7-42ca423891ae
* Version Independent ID

[2020-10-21 09:15] mcurko opened #64734 "Clarification needed"
Why would one partition a stateless service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f009eb7-0fb8-c51e-897d-7ef19c2d8d48
* Version Independent ID: 23fa667d-a729-1ad9-eb46-186412868c0d
* Content: [Learn more about Azure Service Fabric - Azure Service Fabric](https://docs.microsoft.com/en-us/azure/service-fabric/

[2020-10-21 09:23] SumanthMarigowda-MSFT commented on #64560
@@veryblue1118  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there.

[2020-10-21 09:23] #64560 closed

[2020-10-21 09:27] lucarv opened #64735 "Incorrect JSON"
[Enter feedback here]
Please remove the comma on the ExposedPorts JSON object

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02676e4d-000b-ed97-7e9a-fadfb7019eb1
* Version Independent ID: 3cd31ab9-9b25-8afc-da86-c9d9a53958ce
* Content: [Access built-in metrics - Azure IoT Edge](https://docs.microsoft.com/en-us/azure/io

[2020-10-21 09:31] antoniogeko opened #64736 "Replication of existing blobs"
Hi,

According to the documentation you can specify if you want to replicate existing objects (everything) or only new objects. I created a rule and I used a filter for a whole directory and chose to copy "Everything". This doesn't seem to work as expected, since not all blobs and directories have been replicated. Right now, if I clone a directory the whole directory will get replicated, but there

[2020-10-21 09:35] SumanthMarigowda-MSFT commented on #64644
@naraynm If the subscription under which the file share is deployed is associated with the same Azure AD tenant as the Azure AD DS deployment to which the VM is domain-joined, you can then access Azure file shares using the same Azure AD credentials. The limitation is imposed not on the subscription but on the associated Azure AD tenant.

[2020-10-21 09:41] naraynm commented on #64644
@SumanthMarigowda-MSFT I don't think you have understood my question, the article says "Azure AD-joined Windows virtual machines (VMs) can access Azure file shares with your Azure AD credentials" But then the article also says under the Restrictions heading "Neither Azure AD DS authentication nor on-premises AD DS authentication is supported against Azure AD-joined devices or Azure AD-registered d

[2020-10-21 09:42] SumanthMarigowda-MSFT commented on #64654
@yuriwoof Let me explain how role works: Refer to this [MSDN](https://social.msdn.microsoft.com/Forums/en-US/4adfa23e-d50a-4f47-ab28-4e674afa5ec9/using-rbac-on-azure-storage?forum=windowsazuredata) thread

Azure built-in roles: https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#storage-blob-data-reader

This issue is completely based on the Permission. I'd recommend po

[2020-10-21 09:42] #64654 closed

[2020-10-21 09:51] nbcsm opened #64737 "broken link"
[Enter feedback here]
On https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-with-triton?tabs=python
Link is broken
![image](https://user-images.githubusercontent.com/32868157/96703929-07307280-13c6-11eb-9ae4-67cde558f1d1.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bae69d4-d351-ba32-9d39-14dd

[2020-10-21 09:55] souravmishra-msft commented on #64432
Closing this thread as there is no more updates from other side.

[2020-10-21 09:55] #64432 closed

[2020-10-21 10:06] SwathiDhanwada-MSFT commented on #64649
@CarlKCarlK  In my opinion, it articulates all the required information of Regional vCPU and has required links to the related pages to learn further information. Can you please elaborate on your feedback to understand what I am missing so that we can make changes to the document accordingly?

[2020-10-21 10:08] SwathiDhanwada-MSFT commented on #64731
@woehrl01 Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-21 10:14] SwathiDhanwada-MSFT commented on #64726
@irwins Thanks for your comment. [This documents](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/move-support-resources) lists all the resources move to resource group and subscription. Kindly go through it.

[2020-10-21 10:31] zeeshan-commits commented on #64364
@yoelhor
[code]

[2020-10-21 10:35] ram-msft commented on #64737
@nbcsm Thanks for the feedback! We will review and update accordingly.

[2020-10-21 10:46] irwins commented on #64726
Hi, I'm aware of the list of resources that are allowed, I was hoping the list of resources not allowed would be way shorter... ;-) Just curious if there's a list available...

[2020-10-21 10:56] MHarrop678 opened #64740 "Error with code examples"
There is an error regarding a C# code example, specifically:
`ResourceId = "https://graph.microsoft.com/";
var scopes = new [] { ResourceId + "Directory.Read", ResourceID + "Directory.Write"}`

1. The 'ResourceId' variable in the second string is incorrect and, should be 'ResourceId' with a lower case 'd'
2. This example will not copy and paste and work. Visual Studios compiler will throw these er

[2020-10-21 11:08] rodolfograve opened #64741 "Please add -Directories and -Files switches"
Hello. Would you consider adding two switches to control if the permissions are to be applied to just Directories or just Files, e.g.
- Directories (applies the new ACL to all directories)
- Files (applies the new ACL to all files)

One of the most frustrating things about the POSIX model adopted for ACLs is the inability to have a different Default permission for files and directories. This makes

[2020-10-21 11:27] artsheiko opened #64742 "Replace "object ID" by "principal ID" in case of Service Principal"
In case of the Service Principal, the command
`az ad sp list --display-name "{name}" --query [].objectId --output tsv`
returns a principal Id and not the Object Id that we can find via portal in a "Essentials" sections on a Service Principal main screen.
So, the next phrases must be changed as follows :

=>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-10-21 11:51] SwathiDhanwada-MSFT commented on #64726
@irwins The document which I have provided shows information about the resources move across resource group or subscription. When the value is "no" , the respective resource type isn't supported for move for specified scope and when the value is "yes", the respective resource type is supported for move for specified scope.

AFAIK, there isn't separate document for it as to minimize data redundancy

[2020-10-21 11:51] #64726 closed

[2020-10-21 11:59] DCtheGeek commented on #64731
#assign:mgreenegit

[2020-10-21 12:06] JeremyTBradshaw commented on #64140
@SHAGGAR in case this is of any use to you, I came across this link in the past:
https://go.microsoft.com/fwlink/p/?linkid=834456

If you can figure out the source they used to create that spreadsheet, you might have what you're after.  And in case my PSD1 file is of any user, I created it from the linked spreadsheet:
https://github.com/JeremyTBradshaw/PowerShell/blob/master/psd.MSOnlineServicesSk

[2020-10-21 12:22] HarithaMaddi-MSFT commented on #64721
@BDunTG - Yes, this is possible. For more details, please refer to this [document](https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/on-prem-network#--option-route-azure-databricks-traffic-using-a-virtual-appliance-or-firewall).

Please let us know for more queries.

[2020-10-21 12:22] #64721 closed

[2020-10-21 12:31] MS-Alexander opened #64743 "Pod security policy should be removed from best practices doc"
[Enter feedback here]
As pod security is being phased out, it should be removed from the best practices for cluster isolation docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31b0e393-0006-ffdc-e2a9-382598c8d760
* Version Independent ID: 6a37cabc-14f9-e30a-3102-1757bda0e0c1
* Content: [Best practices for cluster is

[2020-10-21 12:32] rdlucas2 commented on #64705
Make any trigger on a datafactory - the update is made on the collaboration branch.

Use the "publish" feature to generate deployable ARM to the adf_publish branch, where CI/CD with azure devops build and release pipelines pickup the ARM in adf_publish and run an ARM template deployment to the same datafactory, and to another datafactory in a different environment.

The interval field is parameter

[2020-10-21 12:33] VikasPullagura-MSFT commented on #64735
@lucarv Thanks for pointing this out. The document is updated and changes will go live soon.

[2020-10-21 12:35] VikasPullagura-MSFT commented on #64742
@artsheiko
Thanks for the feedback! We are currently investigating and will update the document accordingly.

[2020-10-21 12:38] pmisiuda commented on #62867
Hello there :)
any updates?

[2020-10-21 12:39] SAIMMINHAS opened #64744 "'Users can use the combined security information registration experience' option is somehow greyed out"
Hi,

For some reason, the option 'Users can use the combined security information registration experience' is greyed out and so i can't make any changes to it. Any clue why is that?

I've even double checked and the MFA is already Enforced onto the users which are added to the 'Microsoft Authenticator passwordless sign-in' option.

![image](https://user-images.githubusercontent.com/30388154/967204

[2020-10-21 12:41] ShaneOsborne opened #64745 "Screenshot shows Managed Virtual Networks, now Managed private endpoints"
As title, screen shot shows Managed Virtual Networks this is nowManaged private endpoints.

Also credentials is visible as a menu option

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab490601-ed81-c539-79d5-9d0a198e29e1
* Version Independent ID: 32c23f1c-f7d0-1869-163e-0d04ff5f15ae
* Content: [Managed private endpoint

[2020-10-21 12:42] MaxMelcher opened #64746 "The preferred write region is missing in the screenshot."
The preferred write region is missing in the screenshot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05af42e7-9d86-b794-e133-efbd46665b9c
* Version Independent ID: 0af5eead-7620-ea77-efad-c9ec595fae4f
* Content: [Connect a MongoDB application to Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/conne

[2020-10-21 12:43] vipulsparsh commented on #64740
@MHarrop678 Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@jmprieur  Can you have a look at this ?

[2020-10-21 12:46] DCtheGeek commented on #64590
@difatkulbayanova After re-reading this and checking with the engineer, this is correct.  Only Linux is supported for **node pools**.  However, the **pods** can be either Windows or Linux. Hope that clarifies and thanks for the question!

@MicrosoftDocs/azure-cxp-triage #please-close

[2020-10-21 12:46] #64590 closed

[2020-10-21 12:53] difatkulbayanova commented on #64590
Hi David,

Thanks for feedback!

Could you please explain – pods can be Windows and Linux , that means I create Windows pools too, right? ( I have just tested in in portal )
Secondly, I have enabled Azure Policy add-on with windows pools in it and it didn’t gave me any error….

So let me rephrase it --- Microsoft maybe doesn’t support it, but technically this scenario works without giving me any a

[2020-10-21 12:58] ketaanhshah commented on #64573
Thank you @Mike-Ubezzi-MSFT .
We are using the SQL Server hosted SQL Database (version 12.0) and not the Azure SQL managed instance in this case. So basically we have 2 SQL Servers one in North and other in the South region and SQL Database is created in the respective SQL Servers.  The FQDN for SQL Server primary is:-
NorthRegion-devxxxs-sql-server.database.windows.net

With the Primary SQL Serve

[2020-10-21 13:02] MonikaReddy-MSFT commented on #64732
@ptreptau -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-10-21 13:15] grumm90 commented on #64233
Sorry for late reply. Yes, This is what we did.

[2020-10-21 13:18] degrover-cn commented on #60312
On a quick look it appears to be what I’m needing, yes. Thank you.

From: Marsh Macy <notifications@github.com>
Sent: Tuesday, October 20, 2020 8:11 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Russell H. DeGrove <russell.degrove@cloudnav.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Can you link any resources specific to old MVC code? (#

[2020-10-21 13:18] PRMerger10 commented on #60312
Only Microsoft employees can manage issues via commenting in this repo.

[2020-10-21 13:18] AmitavaHazra commented on #64460
@MarileeTurscak-MSFT , Thanks for your time.

Microsoft account passwords because that would be outside of the scope of Azure and the organization. MyAccount is a completely different portal.

- Can you please explain how MyAccount is completely separated from Azure ?  When a user click on "View Account" in https://myapplications.microsoft.com portal they are redirecting to myaccount.microsoft.com

[2020-10-21 13:21] mmacy commented on #60312
@degrover-cn Thanks for the quick response! Requesting closure on this issue, please feel free to open issues in the sample's GitHub repo if you have further questions on usage. #please-close

[2020-10-21 13:21] #60312 closed

[2020-10-21 13:28] #64735 closed

[2020-10-21 13:29] Jason542 opened #64750 "CMDLETs not available"
The Add-AzureADMSAdministrativeUnitMember is not available in the AzureADPreview or AzureAD modules

[2020-10-21 13:36] KalyanChanumolu-MSFT commented on #64576
@laultman Its been a while we heard from you.
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-21 13:36] #64576 closed

[2020-10-21 13:40] 0xThiebaut commented on #64389
If so, it is not recommended to use Classic VMs without DHCP to use Private Zones. Although you try to use the Azure domains, it will not be able to resolve unless it uses the Azure DNS IPs.

This is the exact scenario. While we are working on migrating these Classic VMs, I was wondering how we could have them resolve domains using the Private DNS. Is the Private DNS IP static in a way that we cou

[2020-10-21 13:49] SaiKishor-MSFT commented on #64514
@frehnejc
You cannot add management IP and or enable [forced tunneling](https://docs.microsoft.com/en-us/azure/firewall/forced-tunneling) to an already existing FW. This only works with a new deployment. That is the error that you are getting. Let us know if you have further questions. Thank you!

[2020-10-21 13:49] VikasPullagura-MSFT commented on #64729
@bplasmeijer Thanks for the Feedback.
As per the document the CLI version [2.3.1](https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli#april-01-2020) or later is needed. The mentioned CLI version is also a valid version.

[2020-10-21 13:50] swapnild2111 commented on #63455
Thank you all, this is not super important for me, I made corrections on my side & went ahead.
But may be its good for you to fix on lower priority :) 👍

[2020-10-21 14:03] AjayKumar-MSFT commented on #64481
@ Julian, We’d a discussion on this internally, our content team is prioritizing work on adding more topics for Azure Static Websites, but no concrete ETA to share at this time. Adding ARM deployment instructions is on the list, we appreciate you taking time share your valuable feedback on this. We will close this thread for now.

[2020-10-21 14:03] #64481 closed

[2020-10-21 14:03] HarithaMaddi-MSFT commented on #64705
@rdlucas2 - As per the [document](https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#use-custom-parameters-with-the-resource-manager-template), the template from parameterization can be found in the root folder and not in "adf_publish" branch as below. Please use this template for modifications and suggest for any issues.

![image](https://user-images.githubuserc

[2020-10-21 14:03] mp-ol opened #64752 "Documentation should explain regular expression flavor"
In the explanation on how to create custom rules for the Web Application Firewall v2, there is no explanation on the regular expression flavor that is being used. There are many flavors for regular expressions. https://regex101.com/ lists 4 (PHP, ECMAScript, Python and Golang), but Perl and Java also have their own flavors.
Even though the differences can be small, specifying what's used takes out

[2020-10-21 14:05] AjayKumar-MSFT commented on #64482
Denis, Just following-up, kindly let us know if the above response helps or if you have further questions on this topic.

[2020-10-21 14:06] Svijay-msft commented on #64728
Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-10-21 14:08] spelluru commented on #63001
@felipepessoto - No problem at all. Regards

[2020-10-21 14:19] jmprieur commented on #64740
This is fair feedback, @vipulsparsh
Thanks for reporting @MHarrop678

[2020-10-21 14:21] rdlucas2 commented on #64705
Right, when you save the changes to the parameterization template it does add the file to the collaboration branch. But the issue isn't with saving the parameterization template.

It's when you go to publish that the type for that parameter is set to "number" instead of "int". Then trying to deploy the ARM template with the wrong type throws the error.

[2020-10-21 14:26] spelluru commented on #62867
@jfggdl @clemensv - can you please review and respond? Thanks.

[2020-10-21 14:35] VikasPullagura-MSFT commented on #64743
@MS-Alexander
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-10-21 14:35] VikasPullagura-MSFT commented on #64743
@zr-msft @mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-10-21 14:37] tfitzmac commented on #64726
@irwins - thanks for this feedback. The list of resource types changes often. If we only listed resource types that don't support move, you wouldn't really know with certainty whether an unlisted resource type supported move or just hadn't been added to this list. For clarity, we provide both values.

[2020-10-21 14:45] Garhag commented on #64722
OK thanks! Much appreciated, @vipulsparsh !!

[2020-10-21 14:49] RonnieQuan opened #64753 "CMK Encryption Support for Other US regions"
Hi,

Is it on your roadmap to support CMK encryption for Central US?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ade067f1-3f3e-73de-0321-bb8d07147cd3
* Version Independent ID: e8dc38c4-0114-b7c2-887f-e1d2810206e8
* Content: [Server-side encryption of Azure Managed Disks - PowerShell - Azure Vi

[2020-10-21 14:50] irwins commented on #64726
Yes, I retraced my steps and I saw the yes/no column... It's been a long day... Apologies... There's also a csv file available for reference... 😄 That will help making a lookup hashtable in PowerShell... 😉 Thanks for taking the time to reply!

Rg./Irwin

[2020-10-21 14:54] MonikaReddy-MSFT commented on #64750
@Jason542 -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-10-21 14:58] MonikaReddy-MSFT commented on #64663
@kiazhi -
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-10-21 15:05] HarithaMaddi-MSFT commented on #64705
@rdlucas2 - Surprisingly, I don't see the parameter created for interval value in ARMTemplateForFactory.json.

[2020-10-21 15:08] mgreenegit commented on #64731
I believe this feedback is accurate. I will walk through the doc again today to double check.

[2020-10-21 15:12] juhlee-microsoft opened #64755 "LIS installation needs to be clarified"
[Enter feedback here]
I have the second IcM from the customer incidents about this procedure. CX confused of LIS installation steps in RHEL 7.7 or 7.8 versions even. As far as I know, this LIS installation step is required if the OS requires LIS installation. Need to add the pre-requisition contents - if OS version is RHEL/CentOS 7.4 or older versions' case. Otherwise, LIS installation should be s

[2020-10-21 15:13] manu4rhyme opened #64756 "Unable to add RulesEngine reference to RoutingRule using ARM Templates"
[Enter feedback here]

I'm unable to link RulesEngine (deployed using ARM template) to a routing rule of a Front door service (also deployed in the same ARM template). It's basically creating a cyclic dependency, that is failing the deployment:

1) One of the rules in the rules engine, forwards requests to a different backend, and requires a reference to it, and thus requires the front door servic

[2020-10-21 15:14] vipulsparsh commented on #64733
@kudlatiger Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-10-21 15:23] manu4rhyme commented on #64756
Also, the template reference provided here:
https://docs.microsoft.com/en-us/azure/templates/microsoft.network/frontdoors

has "No" under the required column of almost all the fields.

However, that is not the case. I got multiple errors, and had to provided default values manually one by one.
It was definitely not a good experience.

[2020-10-21 15:24] rdlucas2 commented on #64705
![image](https://user-images.githubusercontent.com/1649129/96740694-10521d00-138f-11eb-95bb-72df56c67c95.png)

![image](https://user-images.githubusercontent.com/1649129/96740631-00d2d400-138f-11eb-8cd6-262a94ee16f9.png)

![image](https://user-images.githubusercontent.com/1649129/96741298-a25a2580-138f-11eb-98db-43ecd1b73b65.png)

![image](https://user-images.githubusercontent.com/1649129/96741483

[2020-10-21 15:27] rdlucas2 commented on #64705
![image](https://user-images.githubusercontent.com/1649129/96741701-18f72300-1390-11eb-8463-18007c1dc215.png)

![image](https://user-images.githubusercontent.com/1649129/96741906-58257400-1390-11eb-8f2b-7bb9e4700fbe.png)

Also for reference, the parameters definition file in azure devops source control and the datafactory - again, the updated value "int" is used instead of "number" so the deployme

[2020-10-21 15:28] aaronnavratil commented on #59437
Hi, we also have noticed this condition, in our case we are using a web job which accesses Azure Active Directory over a vNet service endpoint (the app service is attached to a vnet), the source address is using an IPv6 Unique Local Address (fd00::/7) however  this address range is not assigned to the vnet or visible anywhere else in the Azure Portal. Several questions are brought up, What is the

[2020-10-21 15:28] cooldog77 opened #64759 "Missing or wrong commands"
[Enter feedback here]
I tried to run the script and got a lot errors about missing commands. I tried installing and updating all the Modules I could find that might be related. That didn't work. Then I found this link:
https://github.com/Azure/azure-powershell/issues/5440
I'm thinking people may run into trouble running the script in this doc because the commands are missing for them, as well. Or

[2020-10-21 15:33] rdlucas2 commented on #64705
![image](https://user-images.githubusercontent.com/1649129/96742463-f74a6b80-1390-11eb-803e-6c11a1262468.png)

![image](https://user-images.githubusercontent.com/1649129/96742609-1a751b00-1391-11eb-9949-33baedcd0106.png)

Some additional information on the pipeline and the error during deployment.

[2020-10-21 15:36] rdlucas2 commented on #64705
Ah, also... it seems I was using the "Sample Parameterization Template":

![image](https://user-images.githubusercontent.com/1649129/96743087-9ec79e00-1391-11eb-947f-87ee28d1e27a.png)

I suppose the DEFAULT one is fine.

[2020-10-21 15:37] NavtejSaini-MSFT commented on #64746
@MaxMelcher We are checking this and will get back to you.

[2020-10-21 15:38] JamesTran-MSFT commented on #64744
@SAIMMINHAS
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-21 15:38] HarithaMaddi-MSFT commented on #64705
@rdlucas2 - Thanks for sharing additional details. I am moving it to content author to add their suggestions and thoughts on the issue.

@djpmsft - Can you please take a look and suggest your thoughts on this.

[2020-10-21 15:39] mamccrea commented on #64191
Hi @tedvandervee! I apologize for the delay. We are still investigating this issue.

[2020-10-21 15:40] mamccrea commented on #64235
Hi @kasunsjc - just wanted to follow up. Did PowerShell work for you?

[2020-10-21 15:50] SaiKishor-MSFT commented on #64389
@0xThiebaut  Are you looking to resolve internal domains(hosted in [Azure Private DNS Zone](https://docs.microsoft.com/en-us/azure/dns/private-dns-privatednszone)) or external domains?

[2020-10-21 15:55] stowen-msft opened #64761 "Does not include example of creating a Group Using the Log Search API"
Does not include example of creating a Group Using the Log Search API

This document states

* Log query
* Log Search API
* Active Directory
* Configuration Manager
* Windows Server Update Services

And then goes on to include examples of each, but does not have the instructions needed on how to create a Group using the Log Search API.

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-10-21 16:05] albecker1 commented on #63755
Interesting, I haven't heard of this scenario with Service Fabric. Why would this feature help with workloads on the ddv4/ddsv4 families in particular?

[2020-10-21 16:09] shortpatti commented on #64050
#assign @divka78

[2020-10-21 16:10] PRMerger8 commented on #64050
divka78 is already assigned.

[2020-10-21 16:13] #58592 closed

[2020-10-21 16:19] MatasK23 opened #64762 "Connectivity issues between Azure Function, TSI Event Hub & TSI Explorer"
When trying to establish a connection between the azure function that initially converts JSON patch into JSON, for which the event hub is supposed to implode that data and thus TSI being able to recognise that data and as a result, showcase the data accordingly. I've been trying to see if this is an issue on my behalf, however having thoroughly gone through every probable cause possible, I've come

[2020-10-21 16:19] warrencybervr opened #64763 "You may need to add quotes to some of the variables"
$storageAccountKey='"/it may depend on what key you get=="'
.
.
.
$ssas=$(az snapshot grant-access --resource-group $resourceGroupName --name $snapshotName --duration-in-seconds $sasExpiryDuration --query [accessSas] -o tsv)
$sas="""$ssas"""

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3722ea76-d45a-6fe8-6cb2-de4ca7f

[2020-10-21 16:20] mjrousos commented on #64614
Thanks for reporting this. The Azure SDKs have gone through a lot of changes lately. The right link for that repo now is https://github.com/Azure/azure-libraries-for-net. I'll update the docs.

[2020-10-21 16:27] noderat opened #64765 "Page does not accurately list the correct fields in each data type"
The table under Container records has many missing or incorrect field names for some of the data types.

For example, the current list for `ContainerLog` has the following fields:
- `TimeGenerated`
- `Computer`
- `image ID`
- `container name`
- `LogEntrySource`
- `LogEntry`
- `SourceSystem`
- `ContainerID`

The correct list for this data type's fields should be:
- `_ResourceId`
- `Computer`
- `Con

[2020-10-21 16:35] JamesTran-MSFT commented on #64744
@SAIMMINHAS
Thanks for your screenshot and details!

1-It looks like you might not have the correct permissions to change the feature from what it's currently set at ("All"). Can you try signing in with a user that can manage MFA and SSPR, preferably a Global Admin account, and see if the option is still greyed out?

2-It might also be, if you're operating out of Azure US Government, Azure Germany

[2020-10-21 16:42] tamram commented on #64736
@antoniogeko - I'm looking into your issue further, but it would help if you could provide us with more specific information about your scenario.

Replication happens at the container level and on a per-container basis. That is, a replication rule corresponds to and governs the replication behavior for a source container and a destination container. So only blobs in a container that has a replicat

[2020-10-21 16:47] BharathNimmala-MSFT commented on #64759
@cooldog77 Thanks a lot for bringing this to our notice, we will review it and get back to you at the earliest.

[2020-10-21 16:48] VikasPullagura-MSFT commented on #64763
@warrencybervr
Thanks for the feedback! We are currently checking on this and will update the document accordingly.

[2020-10-21 16:52] SaiKishor-MSFT commented on #64389
@0xThiebaut Classic VMs don't integrate with private DNS. However, a work around that you can implement is if you have connectivity between classic vnet and an ARM based vnet, you can install a VM based resolver in ARM vnet and point classic VMs to this resolvers as their DNS server. You can then link private DNS zone to ARM vnet. This way classic VMs can send DNS queries to resolver in ARM vnet w

[2020-10-21 17:02] SatishBoddu-MSFT commented on #64486
Hello @Seefer Please let us know if you need further help in this matter. Happy to help you further!

[2020-10-21 17:02] Mike-Ubezzi-MSFT commented on #64573
Okay, thank you for this additional detail. What is the FOG FQDN value from the Azure Portal, not via DNS lookup? To reiterate what I was attempting to communicate, is that the FQDN for the primary (`NorthRegion-devxxxs-sql-server.database.windows.net`) should always be used in the connection string, even after a failover event. However, if you want to use the replicas in a `read-only` manner, you

[2020-10-21 17:16] JnHs commented on #64298
Hi @grayjeremy, apologies for the delay in responding, and thank you for submitting this feedback. We recommend that you deny access to SSH/RDP when creating the pool. See https://docs.microsoft.com/en-us/azure/batch/pool-endpoint-configuration for more info on how to do this. I'm going to add a link to this topic here, and will close this issue after that is completed (assuming that answers your

[2020-10-21 17:19] SharmainePopov opened #64769 "Trying to use the PATCH Http with curl to disable public access. Fails, looking for authenticati"
Trying to use the PATCH Http with curl to disable public access. Fails, looking for authenticati

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c95686d6-5fbc-9466-ec62-ebbc8ca6c99f
* Version Independent ID: d82df904-94bd-47fc-5029-75babc6d36b0
* Content: [Azure Cache for Redis with Azure Private Link (Preview)](https:/

[2020-10-21 17:20] mcurko opened #64770 "Doesn't work"
The code presented here doesn't even compile.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ac102a5-e9ad-0046-f217-446f1ad263c5
* Version Independent ID: a47523e2-0c30-dee4-0037-5f58836fa37f
* Content: [Add an HTTPS endpoint using Kestrel - Azure Service Fabric](https://docs.microsoft.com/en-us/azure/service-fabric/s

[2020-10-21 17:23] euangms commented on #64409
Should have been addressed in last nights PR.

[2020-10-21 17:24] euangms commented on #64409
#close

[2020-10-21 17:31] #64409 closed

[2020-10-21 17:42] ketaanhshah commented on #64573
Thank you @Mike-Honey the FOG FQDN from portal for READ/Write and READ is:-
XXXXX-devxxxxs-failovergroup.database.windows.net
XXXXX-devxxxxs-failovergroup.secondary.database.windows.net

In my web.config when I used the Primary Server's FQDN i.e. the Private Endpoint created for this SQL Server (Private endpoint for Primary SQL server: NorthRegion-devxxxs-sql-server.database.windows.net) and I tes

[2020-10-21 17:52] jabbera opened #64772 "Connectivity using private endpoints"
As far as I can tell private endpoints always force communitcation to proxy mode. This should be called out in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a62365-4312-8aad-d2f1-bb5c4184adf1
* Version Independent ID: 2ba5b809-8025-d7ee-c756-d6d1bab033fb
* Content: [Azure SQL Database Connectivity

[2020-10-21 18:00] PeterCLu commented on #63850
@bbertoni and @jamesbannan, the product team is investigating this issue. We're working on understanding the issue and possible downstream effects like @bbertoni reported before we provide a doc fix.

Thanks for your patience

[2020-10-21 18:06] softwarecraft opened #64773 "Should mention limitation wrt federated authentication with ADFS"
[Enter feedback here]
This page should make note of the following scenario which doesn't allow for Azure AD DS:

If on-prem AD DS and Azure AD are configured for federated authentication using ADFS then there is no (current/valid) password hash available in Azure DS. Azure AD user accounts created before fed auth was implemented might have an old password hash but this likely doesn't match a hash

[2020-10-21 18:08] softwarecraft opened #64774 "Should mention limitation wrt federated authentication with ADFS"
[Enter feedback here]
Page should mention limitations as described in https://github.com/MicrosoftDocs/azure-docs/issues/64773.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ff64a31-7310-b2e8-28ba-690790b9b00d
* Version Independent ID: bd83c309-bd2b-6211-8d86-6d9713822c2b
* Content: [Compare Active Directory-based se

[2020-10-21 18:11] damendo commented on #30578
Hello everyone.

Two built-in policies for Flow logs are available on the portal: one audit policy and one deploy-if-not-enabled policy.
You can find them by searching for "Flow logs" when creating an creating your policy initiative.

We have a step-by-step tutorial for using the built-in policies for NSG Flow Logs.
Link to tutorial: https://docs.microsoft.com/azure/network-watcher/nsg-flow-logs-p

[2020-10-21 18:12] Karishma-Tiwari-MSFT commented on #64753
Thanks for the question. We are currently investigating and will update you shortly.

[2020-10-21 18:13] Karishma-Tiwari-MSFT commented on #64755
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-21 18:14] Karishma-Tiwari-MSFT commented on #64734
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-21 18:17] SaiKishor-MSFT commented on #64682
@matthewhart-TMG This [document](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-point-to-site-resource-manager-portal) is only for setting up a single VNET with P2S. If your VM is in the same VNET as the one you created for P2S connectivity, you do not need VNET peering. However, if you want to connect to multiple VNETs via P2S, please follow this [document](https://docs.micr

[2020-10-21 18:22] spelluru commented on #62875
#in-progress

[2020-10-21 18:23] DerekHerman-MSFT commented on #64736
@antoniogeko Make sure you are not using hierarchical namespace (Azure Data Lake Storage Gen2), as it does not currently support object replication. I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding

[2020-10-21 18:23] #64736 closed

[2020-10-21 18:24] Grace-MacJones-MSFT commented on #64690
Thanks @yutaro113 ! reassigning this issue to the doc author so they can make the necessary changes.

[2020-10-21 18:37] brandonmartinez commented on #20737
Thank you @rudolphjacksonm! That worked for me :)

[2020-10-21 18:37] heyjustyn opened #64776 "Dead hyperlinks on "Use managed identities in Azure Kubernetes Service" page"
The following hyperlinks aren't working properly.

- `Disable aad-pod-identity for a specific pod or application` under https://docs.microsoft.com/en-us/azure/aks/use-managed-identity#limitations is a 404.
- `Steps to grant permission at https://github.com/Azure/aad-pod-identity#role-assignment` under https://docs.microsoft.com/en-us/azure/aks/use-managed-identity#summary-of-managed-identities is

[2020-10-21 18:47] tamram commented on #64736
@antoniogeko - Just to follow up. I checked with the product team about this and there are a few other situations in which object replication may fail, which I will add to the documentation:

- Make sure that the replication policy is enabled on both the source and destination accounts
- Make sure the destination container exists
- If the source blob is encrypted over the request with customer-pro

[2020-10-21 18:47] spunukol commented on #64440
@RavennMSFT - can you provide feedback. Thanks

[2020-10-21 18:48] SatishBoddu-MSFT commented on #64272
Hello @felipepessoto , Just giving an update here, the Microsoft Product Team is actively working on this, will keep you posted.

[2020-10-21 18:50] tamram commented on #58094
@franzinc - Thanks so much for pointing out this error. I've fixed the script, and the change should go live by tomorrow.

#please-close

[2020-10-21 18:50] #58094 closed

[2020-10-21 18:52] HarmanDhunna commented on #64073
In your application, the reset password click goes to the authorize endpoint with the password reset policy as one of the parameters. In that same request, you need to provide code_challenge. This request is not controlled by B2C. In your password reset event, your application must have some authorize URL in there you need to add code_challenge and it's value.

[2020-10-21 18:54] felipepessoto commented on #64272
No worries, it is not a blocker. It is just to make sure I'm following the best practices.

[2020-10-21 18:54] anbene commented on #64475
Hi @traciezenti, the preferred solution badge is displayed for offers that are **Azure IP Co-sell incentivized** or **Business Applications Co-sell incentivized**. To learn more about the Co-sell program, including how your offer can attain this status, see [Co-sell partner engagement ](https://docs.microsoft.com/en-us/azure/marketplace/marketplace-co-sell).

Thanks for reaching out!

[2020-10-21 18:57] agsanderss opened #64777 "Concurrent Jobs increased to 1000: Doc Update Needed"
Per release notes from September, the concurrent job limit per workspace increased from 150 to 1000:
https://docs.microsoft.com/en-us/azure/databricks/release-notes/product/2020/september#running-jobs-limit-increase

The note in the jobs documentation is still showing:
- A workspace is limited to 150 concurrent (running) job runs.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-10-21 18:58] spunukol commented on #56896
@RavennMSFT  - can you please provide input. Thanks

[2020-10-21 18:59] anbene commented on #64475
#please-close

[2020-10-21 18:59] #64475 closed

[2020-10-21 19:01] matthewhart-TMG commented on #64682
You can not add a virtual network gateway to the network created with a VM.  On the Create virtual network gateway page it shows the virtual network as "in use".

[http://www.themillergroup.com/Photos/The-Miller-Group.png]
Matthew Hart
Project Engineer

1112 Westmark Drive
St. Louis, MO 63131
Office: (314) 822-8090
Direct: (636) 238-4942
www.themillergroup.com<http://www.themillergroup.com/>

[htt

[2020-10-21 19:06] grayjeremy commented on #64298
This is perfect, probably need to update that page to show it in the portal but that's a separate issue.

[2020-10-21 19:09] antoniogeko commented on #64736
Hi @tamram

We have two storage accounts in the same subscription and region, there's a prefix filter that it's like _dir1/_ but the thing is that **not all** blobs from this directory are being replicated. Destination container exists and the replication policy is enabled in both sides, as a fact some of the blobs are replicated, but just some of them are marked as failed status and others blobs

[2020-10-21 19:10] spelluru commented on #61359
#in-progress

[2020-10-21 19:18] aastha-20 commented on #64582
Thanks @yoelhor I got access-token by changing scope in authorization url.

[2020-10-21 19:20] vikancha-MSFT commented on #64755
PR submitted for the updates. Thanks for the feedback @juhlee-microsoft

[2020-10-21 19:21] tamram commented on #64736
@antoniogeko - Just to make sure we're on the same page, the prefix needs to be a **blob** prefix, not a container prefix. For example, prefix "abc" replicates all blobs in that container that start with those letters. You can specify a virtual directory prefix (which is the same thing as a blob prefix), but you can't specify a container prefix.

If that's what you're already doing, then try the c

[2020-10-21 19:22] nitinme commented on #59716
#please-close

From @yinhew 's comment, this is something that will be added as a capability in the following months. Closing this for now.

[2020-10-21 19:22] #59716 closed

[2020-10-21 19:29] antoniogeko commented on #64736
Yes, it's a a blob prefix, not a container's, when I say "directory" I mean multiple blobs whose name contains a slash: "img/blob1.jpg", "img/blob2.jpg", etc, so the blob prefix would be "img/"

PS: https://docs.microsoft.com/en-us/answers/questions/134355/blob-storage-object-replication-issue.html

Thanks again!,

[2020-10-21 19:30] PaulusTM opened #64778 "AKS ssh scale set fetch command error"
While executing the command to get the scale set name the command shown in the docs throws an error.

[code]

The fix that works for me is:

[code]

Working on a PR to fix this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b81a147-db1c-b92f-88d1-6dd0991a72fe
* Version Independent ID: f5a2c949-498f-5848-d89c-031d1a75

[2020-10-21 19:36] brianlehr commented on #63455
Quick question - were you able to correct by modifying something with Terraform?  (I'm curious why Terraform is case-sensitive?)

[2020-10-21 19:42] SaiKishor-MSFT commented on #64688
@tofusgh
I have checked the [document](https://docs.microsoft.com/en-us/azure/virtual-network/public-ip-addresses#vpn-gateways) again and tried to setup a VPN GW as well and it does not show me static IP assignment as an option. Could you please clarify further regarding where you found this information or how you determined that static IP assignment is supported so that I can look into it further

[2020-10-21 19:44] MarileeTurscak-MSFT commented on #64773
@softwarecraft
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-21 19:49] spelluru commented on #57080
#in-progress

[2020-10-21 19:51] richwyd opened #64780 "Discrepancy between connection string var name in doc and in sample code"
The doc page has: IOTHUB_CONNECTION_STRING
The sample code has: IOTHUB_DEVICE_CONNECTION_STRING

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 973e3b2a-5c5b-56d7-553a-d0c45b88ea72
* Version Independent ID: ee93d6ce-b4ec-31cd-3fc0-2dc7fa18ed9c
* Content: [Set up the IoT resources you need for IoT Plug and Play](https://

[2020-10-21 19:55] MarileeTurscak-MSFT commented on #64460
From the [overview](https://docs.microsoft.com/en-us/azure/active-directory/user-help/my-account-portal-overview
): "The My Account portal helps you to manage your work or school account by setting up and managing your security info, managing your connected organizations and devices, viewing how your organization uses your data . . . If you're an administrator looking for information about how to

[2020-10-21 19:55] #64460 closed

[2020-10-21 20:04] tofusgh commented on #64688
[cid:image001.jpg@01D6A7C3.C893A970]

From: SaiKishor-MSFT <notifications@github.com>
Sent: Wednesday, October 21, 2020 3:43 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Tori Fuller <Tori.Fuller@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] VPNGW does support Static IP (#64688)

@tofusgh<https://nam06.safelinks.protection.outloo

[2020-10-21 20:10] stevestein commented on #44922
#reassign:stevestein

[2020-10-21 20:15] razmipatel opened #64781 "Defender AV licensing for 2012 servers"
[Enter feedback here]
It would be good to add something about Defender AV also being included with the license. Defender AV is only built into 2012 Server Core and Server 2016/2019.

https://www.microsoftvolumelicensing.com/Downloader.aspx?documenttype=PT&lang=English on Page 32 we can read:
"3.3 System Center Endpoint Protection Use with Azure Security Center or Microsoft Defender Advanced Threat

[2020-10-21 20:16] BharathNimmala-MSFT commented on #64396
@rayne-wiselman Thanks a lot for helping on this thread.

@carlosmayol Thanks again for your query, hope the information shared by @rayne-wiselman is helpful. Please review it when you get a chance and revert back if you have further queries.

Hope the above information helps. At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close

[2020-10-21 20:16] #64396 closed

[2020-10-21 20:16] bablushaikh opened #64782 "Resource group '****************' could not be found. while using Resume-AzSqlDatabase in a scheduled runbook"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d54f87c-b01c-c6f3-48ac-ea6561a00273
* Version Independent ID: 1eb508fc-70a0-73a3-fae1-9734ab5a29f3
* Content: [Start a runbook in Azure Automation](https://docs.microsoft.com/en-us/azure/automation/start-runbooks)
* Content Source: [articles/automati

[2020-10-21 20:17] stevestein commented on #44925
#reassign:stevestein

[2020-10-21 20:17] stevestein commented on #44925
@Tiberriver256 - thanks for the feedback. Apologies this was not addressed sooner.

#please-close

[2020-10-21 20:17] #44925 closed

[2020-10-21 20:18] bablushaikh commented on #64782
This is the Error i'm facing :- Get-AzSqlDatabase : Resource group '****************' could not be found. At ********:35 char:35 + + CategoryInfo : CloseError: (:) [Get-AzSqlDatabase], CloudException + FullyQualifiedErrorId : Microsoft.Azure.Commands.Sql.Database.Cmdlet.GetAzureSqlDatabase

[2020-10-21 20:20] stevestein commented on #44922
@Tiberriver256  - thanks for the feedback. Apologies for the extremely slow response.

I assume you no longer need this info but Azure PowerShell info can be found here: https://docs.microsoft.com/en-us/powershell/azure/?view=azps-4.8.0

The data sync articles _are_ scheduled for a refresh.

Thanks

#please-close

[2020-10-21 20:20] #44922 closed

[2020-10-21 20:21] stevestein commented on #48192
#reassign:stevestein

[2020-10-21 20:22] MonikaReddy-MSFT commented on #64769
@SharmainePopov -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-10-21 20:23] stevestein commented on #48192
@baatch - thanks for the feedback. Apologies for the extremely slow response.

Have you worked this out or are you still looking for information on this?

[2020-10-21 20:24] PeterCLu commented on #64737
#assign:@blackmist

@blackmist or @gvashishtha, do you have an alternative link for the Triton samples?

[2020-10-21 20:26] DerekHerman-MSFT commented on #64741
@rodolfograve
This page is for general doc feedback and issues. For product feedback and feature requests please I will refer you to our [feedback forum](https://feedback.azure.com/forums/327234-data-lake). This allows the community to add their voice and upvote popular ideas. The forums is monitored and responded to by our product teams. We will now proceed to close this thread. If there are furt

[2020-10-21 20:26] #64741 closed

[2020-10-21 20:28] VanMSFT commented on #62071
#assign:mibar

[2020-10-21 20:29] PRMerger13 commented on #62071
mibar is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-10-21 20:29] RyanHill-MSFT commented on #64314
Hi @PaulARoy, I've heard back from the team and the custom OIDC doesn't support this. The provider conforms to the current OIDC provider speak. It was noticed that Apple requires `response_mode` query string when scopes are listed which isn't part of [OIDC spec](https://openid.net/specs/openid-connect-core-1_0.html#AuthorizationEndpoint). Because it's not part of the spec, it's unlikely to add thi

[2020-10-21 20:29] #64314 closed

[2020-10-21 20:29] VanMSFT commented on #62071
#assign:barmichal

[2020-10-21 20:35] dsmith222 opened #64783 "Compiler Error Message: CS0012"
the dotnet-sqldb-tutorial-master.zip file downloaded from the link on this page.
When running for the first time I received an error.

Compiler Error Message: CS0012: The type 'System.Object' is defined in an assembly that is not referenced. You must add a reference to assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'.

in <system.web> had to change
`<compil

[2020-10-21 20:35] spelluru commented on #44005
#in-progress

[2020-10-21 20:57] MarileeTurscak-MSFT commented on #64781
@razmipatel
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-21 20:58] PaulARoy commented on #64314
Okay, this is clearly not the response I was hoping for considering Apple only provides email and name this way.

I understand why you only wanted to support OIDC but the lack of Apple Sign-In for EasyAuth is a huge drawback and a bit of a disappointment in the product to be honest… Since 2015 I've spent countless days on making authentication up-to-date for App Services, it really feels that each

[2020-10-21 21:00] bandersmsft commented on #64711
#assign:anuragdalmia

[2020-10-21 21:01] menace232 opened #64784 "Installation Is Broken"
It appears the installer runs, but cannot start the Azure Hybrid Instance Metadata Service.

The reason the service fails to run is because the C:\ProgramData\AzureConnectedMachineAgent\Config\agentconfig.json does not exist.

So to create the file, you need to run a command to configure it with azcmagent.exe.

However, azcmagent.exe requires the Azure Hybrid Instance Metadata Service to be runnin

[2020-10-21 21:02] SaiKishor-MSFT commented on #64688
@tofusgh Did you attach an image because I am unable to access it. Can you try attaching it to the issue again?

[2020-10-21 21:09] SatishBoddu-MSFT commented on #64730
@AllenVisser
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-21 21:11] SatishBoddu-MSFT commented on #64780
@richwyd
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-21 21:26] dimitri-furman commented on #63524
#please-close

[2020-10-21 21:26] #63524 closed

[2020-10-21 21:29] SatishBoddu-MSFT commented on #64730
Hello @AllenVisser , We have validated the document section: [Prepare scripts in PowerShell](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-create-test-certificates#prepare-scripts-in-powershell)

We see there are **2 options** to **clone** or **download** the github repo sample.

![image](https://user-images.githubusercontent.com/62923178/96788649-b1010680-13a8-11eb-9305-f69409dfe048.png)

[2020-10-21 21:36] SatishBoddu-MSFT commented on #64762
Hello @MatasK23
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-21 21:39] bandersmsft commented on #32031
@Lucretius We recently updated the article and added example responses.

#please-close

[2020-10-21 21:39] #32031 closed

[2020-10-21 21:53] poveilleux opened #64787 "Typo in the code samples to update ACR replication"
Hi,

In both code samples at the bottom of the page, it says
`az acr replication update update ...`
instead of
`az acr replication update ...`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8006f0b0-79c7-c5c4-7019-b5b369dec275
* Version Independent ID: 72f7cf6a-541d-6a7f-d7e7-d5b564d0be7f
* Content: [Geo-replicate a re

[2020-10-21 21:54] rajaniesh commented on #37015
Did you resolved this issue?

[2020-10-21 21:55] bandersmsft commented on #34690
@JohannesRudolph We recently updated the article for the latest APIs.
#please-close

[2020-10-21 21:55] #34690 closed

[2020-10-21 21:57] bandersmsft commented on #47673
@morcinim We recently updated the article for the latest APIs and it should have corrected information.
#please-close

[2020-10-21 21:57] #47673 closed

[2020-10-21 22:01] bandersmsft commented on #48317
@msfe We recently updated the article for the latest APIs and other fixes. For your issue, the article says:

`There's a limit of 2000 subscriptions per enrollment account. After that, more subscriptions for the account can only be created in the Azure portal. To create more subscriptions through the API, create another enrollment account.`

I hope that helps.
#please-close

[2020-10-21 22:01] #48317 closed

[2020-10-21 22:05] James-Hamil-MSFT commented on #64774
@softwarecraft
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-21 22:11] spelluru commented on #64032
#in-progress

[2020-10-21 22:14] spelluru commented on #44005
Sorry. It took so long. The range is 1-32. Confirmed with the product team. Updating the article today, which will go live tomorrow morning.

[2020-10-21 22:16] FrankGagnon opened #64788 "Pre-warmed instances pricing clarification"
Hi,

It's written that "When the app is idle and no events are triggering, the app will be provisioned and running on five instances. At this time, you will not be billed for a pre-warmed instance as the always ready instances aren't used, and no pre-warmed instance is even allocated." What I'm wondering is at which point will I be billed for the pre-warmed instances? We have a heavy function with

[2020-10-21 22:16] parasparekh opened #64789 "Free DR replica in Azure"
As per the picture in the article for the section "Free DR replica in Azure", a free DR replica in Azure only applies to a DR solution for SQL Server in a hybrid environment but based on the info I gathered from other places I realized that you could utilize the secondary Azure SQL VM as free passive replica even for Azure only DR solutions as long as you have software assurance and you select the

[2020-10-21 22:18] #64634 closed

[2020-10-21 22:19] SatishBoddu-MSFT commented on #64486
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2020-10-21 22:19] #64486 closed

[2020-10-21 22:25] SatishBoddu-MSFT commented on #64780
Hello @richwyd Thanks for bringing this to our notice.
In the file 'simple_thermostat.js'  we see **IOTHUB_DEVICE_CONNECTION_STRING**

We will further investigate and fix the issue soon.
![image](https://user-images.githubusercontent.com/62923178/96792857-14dafd80-13b0-11eb-9cc3-66dfe68e033c.png)

[2020-10-21 22:30] ChaitanyaNaykodi-MSFT commented on #64424
Hello @EthanNguyen132, regarding the `File 'C:\Program Files\dotnet\dotnet.exe' is not found, 'dotnet' invocation will rely on the PATH environment variable.` . Looks like dotnet is not include in the PATH environment variable. You can follow [these](https://stackoverflow.com/questions/42588392/where-is-the-dotnet-command-executable-located-on-windows/51694822) steps to set it up.
Regarding the is

[2020-10-21 22:30] #64424 closed

[2020-10-21 22:33] SharmainePopov commented on #64769
https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-private-link

Sharmaine Popov
Cloud Solution Architect |Microsoft Canada Inc. | sharmaine.popov@microsoft.com<mailto:sharmaine.popov@microsoft.com> | 416-799-0807

From: MonikaReddy-MSFT <notifications@github.com>
Sent: Wednesday, October 21, 2020 4:23 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sharmaine Po

[2020-10-21 22:35] philip-young opened #64790 "Missing curly brace in statement"
In this Excerpt : " To use the result in subsequent activity, use the pattern of @{activity('LookupActivity').output.firstRow.table."
The closing brace is missing at the end. It should be: @{activity('LookupActivity').output.firstRow.table}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ede89f3f-055a-b123-c081-8622a903

[2020-10-21 23:04] BharathNimmala-MSFT commented on #64784
@menace232 Apologies for your experience , we will further look into your scenario and get back to you at the earliest.

[2020-10-21 23:06] BharathNimmala-MSFT commented on #64782
@bablushaikh Thank you for reaching out to us, we will further review the issue and get back to you at the earliest.

[2020-10-21 23:07] BharathNimmala-MSFT commented on #64765
@noderat Thanks a lot for bringing this to our notice, our team will review the feedback and update the document as needed.

[2020-10-21 23:09] BharathNimmala-MSFT commented on #64761
@stowen-msft Thanks a lot for your feedback , our team will review the feedback and see if we need to have a backlog item to enhance the document.

[2020-10-21 23:26] Styli365 commented on #59242
Hi @PavelPikat - Could we get your SubID, Container Name, and time stamp of this issue you discovered?

[2020-10-21 23:28] stevestein commented on #37728
@artisticcheese - thanks for the feedback.  Apologies for the slow reply to this.

What environment are you running this in, and did the script fail for you?

I just tested the exact script in the article and it ran successful.

[2020-10-21 23:29] stevestein commented on #37728
#assign:stevestein

[2020-10-21 23:37] mathieu2em commented on #50075
both solutions proposed aren't working for me.

[2020-10-21 23:38] stevestein commented on #37728
@artisticcheese - ah.. I see what you're saying.  Good call. We'll update the snippet.

[2020-10-21 23:55] mathieu2em commented on #50075
OK, just to report that I have been able to fix my problem by changing all #logonIdentifier with #LogonIdentifier in unifier.css

I also changed all occurences as mentionnet to LogonIdentifier in my base custom policy file

[2020-10-21 23:57] carlosmayol commented on #64396
Now looks better, still concerned about Stack HCI OS, but looks better now.
Thanks

[2020-10-22 00:02] NavtejSaini-MSFT commented on #64772
@jabbera We are checking this and will get back to you

[2020-10-22 00:06] stevestein commented on #37728
The article has been updated.

Thanks

#please-close

[2020-10-22 00:06] #37728 closed

[2020-10-22 00:10] JnHs commented on #64298
Glad to hear it! And we'll work on refreshing that page in the future as time allows. For now I have made sure we have added links to that page here so I will close this now, but let us know if you have additional feedback.

[2020-10-22 00:10] JnHs commented on #64298
#please-close

[2020-10-22 00:10] #64298 closed

[2020-10-22 00:15] RavennMSFT commented on #64440
@rusan-css we already have this documented in FAQs- https://docs.microsoft.com/en-us/azure/active-directory/devices/faq#q-why-do-my-users-have-issues-on-windows-10-hybrid-azure-ad-joined-devices-after-changing-their-upn

[2020-10-22 00:17] RavennMSFT commented on #56896
thanks for the suggestions. We plan to update the doc with PRT failure and diagnostics

[2020-10-22 00:29] pecrow opened #64792 "Alternate cause to "Kubernetes Ingress Controller Fake Certificate""
It looks like you can also hit the "Kubernetes Ingress Controller Fake Certificate" issue by having your secret on a different namespace as that of your deployment.

The hostname of the certificate and configuration/yaml was validate and both were correct, but accessing the service brought the Fake Certificate to show up. With out modifying the configuration simply by just moving the secret to the

[2020-10-22 00:29] shaktibarath commented on #64790
Can I take this?

[2020-10-22 00:31] YutongTie-MSFT commented on #64745
@ShaneOsborne
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-22 00:34] YutongTie-MSFT commented on #64752
@vhorne Hi, could you please check this issue and update the document if needed? Thanks a lot!

@mp-ol
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-22 00:38] glomaga opened #64793 "Why the session remains active after the user closes and reopens the browser on B2C if we do NOT have “Keep me signed-in” feature enabled it."
Hi,

This page does not explain the behavior for when you have "Keep me signed-in" disabled it.
The normal behavior without turn on the functionality "Keep me signed-in" is the session is NOT active after the user closes and reopens the browser. if this is the normal behavior then azure B2C has a bug right now, I tested it with IEF files from the starter pack for "SocialAndLocalAccounts"  and the

[2020-10-22 00:38] #64534 closed

[2020-10-22 00:46] ChaitanyaNaykodi-MSFT commented on #64788
Hello @FrankGagnon, Thank you for your feedback! We will review and update as appropriate.

[2020-10-22 00:50] hisasima commented on #64656
I don't talk about to support "KeyVault Certificates".
When I updated certificate for the listener from portal, the certificate has the version of KeyVault certficate. You can easily confirm this behavior.

![image](https://user-images.githubusercontent.com/37136042/96805030-96339e00-144b-11eb-8261-0d81c75c373a.png)

![image](https://user-images.githubusercontent.com/37136042/96805084-b82d2080-144

[2020-10-22 00:53] tofusgh commented on #64688
![2020-10-21_16-03-04](https://user-images.githubusercontent.com/31666473/96805366-7ebecb80-13df-11eb-9971-cbfb467e342b.png)

[2020-10-22 00:55] hisasima commented on #64656
I am talking about version of KeyVault Certificate which is mentioned below link not to support KeyVault Certificates.

https://docs.microsoft.com/en-us/powershell/module/az.network/set-azapplicationgatewaysslcertificate?view=azps-4.8.0
"Note: If it is required that Application Gateway syncs the certificate with the KeyVault, please provide the version-less secretId."

When I added a KeyVault cert

[2020-10-22 01:13] jeffhollan commented on #64788
As soon as an always ready instance becomes active we immediately pre warm the desired pre warmed instances and billing for them starts right then. So yes, if you set like 10 pre warm the moment one becomes active all 10 pre warm would be allocated and billing would start.

As an aside feel free to shoot me a note on scenario. For most part increasing pre warm May only be needed if you have a very

[2020-10-22 01:14] ChaitanyaNaykodi-MSFT commented on #64469
Hello @zaalion , Sorry for the delay in my response. I was able to reproduce the issue mentioned above and have reached out to the team internally, I will make a response here as soon as I have an update. To add another observation here, when I deployed the function app. In app settings I did observe configuration settings generated for App Insights - "APPINSIGHTS_INSTRMENTATIONKEY" & "APPLICATION

[2020-10-22 01:17] NavtejSaini-MSFT commented on #64772
@jabbera Please elaborate regarding your feedback. The document does provides details regarding the default connection policy. Please see below:
![image](https://user-images.githubusercontent.com/52257742/96806590-82a01d00-13e2-11eb-88d1-fca012354cf6.png)
![image](https://user-images.githubusercontent.com/52257742/96806606-8b90ee80-13e2-11eb-9b96-911d14973718.png)

If this is not what you are look

[2020-10-22 01:19] SaiKishor-MSFT commented on #64682
@matthewhart-TMG It looks the the VNET with the VM already has a VNET GW associated to it. You can use that same Virtual Network GW to setup P2S VPN. Is there a reason you are using another new VNET for P2S VPN? You can have multiple VPN connections to the VNET using a single VNET GW.

[2020-10-22 01:20] NavtejSaini-MSFT commented on #64610
@JasonWHowell Please provide the requirements for Client libraries of Azure Cosmos DB Gremlin API.

[2020-10-22 01:25] matthew-wiemer opened #64797 "Define UseAzureAppConfiguration in the Documentation."
The default behavior of Microsoft.FeatureManagment is pretty opaque. Many docs state/heavily imply IFeatureManager auto-refreshes at runtime, but I wasn't seeing that in practice in ASP.NET Core 3.1 until I found the sneaky line on this page:

What does this middleware look like? Frustratingly, `UseAzureAppConfiguration` is listed, but never defined!
Why do I need to add a custom middleware in the

[2020-10-22 01:40] JasonWHowell commented on #64610
@SnehaGunda can you direct this to the right contact. Thanks, Jason

[2020-10-22 01:41] NavtejSaini-MSFT commented on #64676
@markjbrown @SnehaGunda We checked this by going to pricing calculator here - https://azure.microsoft.com/en-us/pricing/calculator/?service=cosmos-db and found the same results. Please convey if this is correct:
![image](https://user-images.githubusercontent.com/52257742/96808090-22ab7580-13e6-11eb-8ece-90d8a1bdf4ed.png)

PLease help.

[2020-10-22 01:43] RonnieQuan opened #64798 "How to Achieve Application Gateway v1 Zone Redundancy"
Can you please confirm whether Application Gateway V1 supports zone redundancy?
I don't think so, but would like to check if my understanding is right or not.

- app gateway v1 itself supports multiple instances, but not across zones.
https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-faq#how-does-application-gateway-support-high-availability-and-scalability

- app gate

[2020-10-22 01:47] NavtejSaini-MSFT commented on #64675
@irsubasi The value can be null without setting anything and the document does shows n as number of seconds. But we will still contact the author regarding the same.
@SnehaGunda Please convey if we can make the change and add that line for n being a positive number.

[2020-10-22 02:02] MonikaReddy-MSFT commented on #64797
@matthew-wiemer -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-10-22 02:04] MonikaReddy-MSFT commented on #64797
@lisaguthrie - Can you take a look at the customer's request and provide your insights. ?

[2020-10-22 02:26] Karishma-Tiwari-MSFT commented on #64770
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-22 02:27] Karishma-Tiwari-MSFT commented on #64776
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-22 02:30] Karishma-Tiwari-MSFT commented on #64778
Thanks for creating the PR and contributing to Microsoft docs. The PR will be reviewed by the author and merged. The changes will be live shortly after.

[2020-10-22 02:30] #64778 closed

[2020-10-22 02:31] Karishma-Tiwari-MSFT commented on #64789
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-22 02:32] Karishma-Tiwari-MSFT commented on #64792
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-22 02:34] Karishma-Tiwari-MSFT commented on #64787
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2020-10-22 02:34] #64787 closed

[2020-10-22 02:35] p2vyou commented on #56348
@vipulsparsh I am seeing a similar behavior, but with gsuite accounts. I tried to log in with with a gsuite federated account, but it said that the account did not exist. I manually created the account in Azure AD, and I was able to log in with the Gsuite account to the myaccess portal, but none of the access packages were provisioned.

[2020-10-22 02:40] DhirendraPatil commented on #42821
I am also having same issue. the few initial calls are made to web api but last comes up with below error
errors
"Web Api response has invalid content type 'text/plain'. Expected 'application/json'
"Could not execute skill because Web Api skill response is invalid.
Web Api response has invalid content type 'text/plain'. Expected 'application/json'

After enabling the debug session and downloading

[2020-10-22 02:40] kiranpradeep opened #64799 "Request to add more clarity on when module generation id changes"
Keeping the module name same, will the module generation id change on any of below conditions?

1. A new deployment with same exact docker tag, but with different "createOptions" field in deployment manifest?
2. A new deployment with same exact docker tag, but the tag is a rolling tag? Example of rolling tag images are `redis:6`
3. A new deployment with a different docker tag, but all else remains

[2020-10-22 03:21] matthewhart-TMG commented on #64682
It does not already have a VNET GW associated with it.

I created a VM, Allowed a network to be created with it using all defaults and was not able to associate tb VNET GW with it, but instead had to create a new network. MS tech support did not identify any issue with the setup but I was still forced to create a new VNET.

[http://www.themillergroup.com/Photos/The-Miller-Group.png]
Matthew Hart
P

[2020-10-22 03:22] mike-urnun-msft commented on #63961
@msfe Sorry for the late reply. Yes, that's correct! Let us know if you're encountering any issues using the `<rate-limit-by-key />` policy.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-10-22 03:22] #63961 closed

[2020-10-22 03:42] CHEEKATLAPRADEEP-MSFT commented on #64777
@agsanderss  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-10-22 03:49] CHEEKATLAPRADEEP-MSFT commented on #64790
@philip-young  Thanks for your contribution, I've addressed this issue in PR:[ https://github.com/MicrosoftDocs/azure-docs-pr/pull/134935 ]( https://github.com/MicrosoftDocs/azure-docs-pr/pull/134935 )

The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contribu

[2020-10-22 03:49] #64790 closed

[2020-10-22 04:16] vipulsparsh commented on #64793
@glomaga Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-10-22 04:33] Mike-Ubezzi-MSFT commented on #64573
This is correct, @ketaanhshah. You need to invoke an interrupt event to the SQL Logical Server instance to cause the fail-over process to be executed. This is hard to do so they built a button in the portal along with API and CLI invocation, etc.

- The [Azure portal](https://docs.microsoft.com/en-us/azure/azure-sql/database/active-geo-replication-configure-portal)
- [PowerShell: Single database](

[2020-10-22 04:38] Svijay-msft commented on #64756
Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-10-22 04:43] markeboyle opened #64800 "Disable monitoring and keep the workspace"
the section "Disable monitoring and keep the workspace" gives instructions for a cloud VM however what is the steps needed if it's an on-prem windows server and also, what happens when we can no longer uninstall MAM since the server is no longer available as it has been decommissioned?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-10-22 04:59] greendx opened #64801 "Unable to associate Basic SKU Public IP to a Network Inteface"
[Enter feedback here]

I have an existing VM that doesn't have a public IP but now needs one. When I create a new Basic SKU public IP and attempt to associate it to the NIC of the VM I get the error message below. This error is due to public IP being created in a different zone than that of the VM/NIC (zone 1)

I can create a Standard SKU public IP which would allow me to select the specific zone

[2020-10-22 05:01] ram-msft commented on #64323
@KeithWalton We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-22 05:01] #64323 closed

[2020-10-22 05:12] VikasPullagura-MSFT commented on #64729
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-10-22 05:12] #64729 closed

[2020-10-22 05:17] ptreptau commented on #64732
Thank you I found the correct values through a 3rd party website:

The suggested URL for correction is: https://docs.microsoft.com/en-us/azure/vpn-gateway/openvpn-azure-ad-tenant

Fill in the following values in step 9:
**Tenant: TenantID for the Azure AD tenant**
https://login.microsoftonline.com/{AzureAD TenantID}/

**Audience: ApplicationID of the "Azure VPN" Azure AD Enterprise App**
{AppID of

[2020-10-22 05:25] CHEEKATLAPRADEEP-MSFT commented on #64745
@ShaneOsborne Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

@RonyMSFT Could you please update the screenshot and the wording "Managed Virtual Networks" to "Managed private endpoints".?

![image](https://user-images.githubusercontent.com/44426401/96828246-ebc07880-1454-11eb-8bf7-789005d54a32.png)

[2020-10-22 05:29] VikasPullagura-MSFT commented on #64579
@shants123
Can you please check and add your comments on this doc update request as applicable.

[2020-10-22 05:51] SaiKishor-MSFT commented on #64688
@tofusgh Thank you. I will reach out to our internal team regarding this and update you soon.

[2020-10-22 06:13] AjayKumar-MSFT commented on #64783
@dsmith222, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-10-22 07:19] SwathiDhanwada-MSFT commented on #64800
@markeboyle Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-22 07:48] ah-lf opened #64804 "Azure Indoor Maps - Blank/Empty map tiles when zooming out"
Can you please update the tutorial to make the default map style "road" instead of "blank".

For those following the tutorial on using the Azure Indoor maps and wondering why they cannot see the road or satellite view when they zoom out of the indoor map, please check the map style value.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-10-22 07:49] DavidChenLiang opened #64805 "Telegraf start supporting VMSS from 1.11, please help update the page accordingly"
[Enter feedback here]

https://github.com/influxdata/telegraf/issues/5819
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cea95e2-c775-c363-d468-2232c2b51f4a
* Version Independent ID: c87ec30c-b0b7-d6e5-403b-a6d9991248b0
* Content: [Collect custom metrics for Linux VM with the InfluxData Telegraf agent - Azure Monitor](

[2020-10-22 08:06] motasem13 opened #64806 "Function App Keyvault reference with Vnet integration"
in the documentation it's mentioned that "Currently, **Key Vault references won't work if your key vault is secured with service endpoints.** To connect to a key vault by using virtual network integration, you need to call Key Vault in your application code."

I have tried to repro this scenario, a function app connected to Vnet with Service endpoint Microsoft.keyvault, also a keyvault reference

[2020-10-22 08:09] mafalda89 opened #64807 "Wrong reference in "Can I make guest objects visible in the global address list?""
The following section states _For details, see "Can I make guest objects visible in the global address list?" in **[Manage guest access in Microsoft 365 Groups](https://docs.microsoft.com/en-us/microsoft-365/admin/create-groups/manage-guest-access-in-groups?view=o365-worldwide)**_.
But the referred article does not contain any section addressing the topic.
ref. [Can I make guest users visible in t

[2020-10-22 08:10] msfe commented on #63961
@Mike-Ubezzi-MSFT thanks for confirming. I would still suggest that you include that in the article than as an example for the *Product Based Throttling* header.

[2020-10-22 08:15] bondaq opened #64808 "Missing "description" field from JSON schema"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2319bae2-e023-07fd-28e1-b0b10bf33a22
* Version Independent ID: 0a00e889-20d4-9ef4-5935-15dc67059d61
* Content: [Lead management with an HTTPS endpoint - Microsoft commercial marketplace](https://docs.microsoft.com/en-us/azure/marketplace/partner-cente

[2020-10-22 08:25] rusan-css commented on #64440
@RavennMSFT my bad, I didn't add an important detail.
Indeed this documented for Windows 10 Hybrid AADJ+, but the scenario I came across was with down-level devices, in this case Windows 8.1.

Errata
=============
Recently I worked on an issue where HAADJ+ down-level devices (Windows 8.1) which requires Seamless SSO for hybrid joining the devices fails after an user has its UPN changed, which brok

[2020-10-22 08:30] Kapkan-Lesion commented on #63657
@MayankBargali-MSFT Thanks for the update!

[2020-10-22 08:47] yoelhor commented on #64793
Hi @glomaga

Thanks for reaching out! I'd be more than happy to help you. Couple of questions

1. Have you checked the issue with local account, or social?
1. If you sign-in with a social account, on the second time when you reopen the browser and click sign-in, do you get a token immediately, or have to click on a social account, such as "Facebook"?
1. It would be helpful if you provide the steps

[2020-10-22 08:49] mloskot opened #64809 "Correct name of Allow access to Azure services rule: AllowAllWindowsAzureIps or AllowAllAzureIps or AllowAccessToAzureServices?"
Which one is the correct name of the firewall rule to be created using e.g. Azure CLI in order to toggle equivalent of the the "Allow access to Azure services" option in the portal.azure.com?

### Examples of Confusion

First, the page reported in this issue presents commands that contain `--name AllowAllAzureIps` but it does not state it clearly that the name is special and not just a kind of `My

[2020-10-22 09:03] kummanish commented on #63854
#please-close

[2020-10-22 09:03] #63854 closed

[2020-10-22 09:03] PavelPikat commented on #59242
I can't share these details in GitHub, but feel free to ping me at pavelpikat at gmail dot com

@ayshakeen The "count" aggregation is not the correct metric to see credits remaining - it just counts the number of values in the timeseries. 5.74K credits in your screenshot doesn't make any sense.

Here's a screenshot for B2ms showing correct values according to documentation: 864 max credits.
![imag

[2020-10-22 09:13] 0xThiebaut commented on #64389
We are looking to resolve an internal domain which has [auto-registration enabled](https://docs.microsoft.com/en-us/azure/dns/private-dns-autoregistration) on [another network](https://docs.microsoft.com/en-us/azure/dns/private-dns-scenarios#scenario-name-resolution-across-virtual-networks) using a [network link](https://docs.microsoft.com/en-us/azure/dns/private-dns-virtual-network-links).

[2020-10-22 09:14] KrishnaG-MSFT commented on #64572
@vlijmenfileer Verified and updated the document as required. Thanks.

[2020-10-22 09:14] #64572 closed

[2020-10-22 09:16] KrishnaG-MSFT commented on #64601
@nitbix Verified and updated the document as required. Thanks.

[2020-10-22 09:16] #64601 closed

[2020-10-22 09:16] kummanish commented on #60204
@lfittl-msft can you please provide an update.

[2020-10-22 09:21] JohnnyB85 opened #64811 "Calculation to determine the reservation savings is not correct"
Hello support team,

The described calculation to determine the reservation savings is almost correct but there is a little mistake in it.

To calculate the estimated pay-as-you-go costs you have to multiply the "UnitPrice" value with "Quantity" values and ignore all entries with the "ChargeType" value "UnusedReservation".

In this PowerBI App "Azure Cost Management App" this calculation is done c

[2020-10-22 09:25] yoelhor commented on #64364
Do you use SAML IDP initiated flow, as following? As this flow is not supported.

**SAML IDP** (such as AD-FS) => Azure AD B2C => service provider.

The [IDP initiated is supported](https://docs.microsoft.com/azure/active-directory-b2c/connect-with-saml-service-providers#enable-identity-provider-initiated-flow-optional) only when the request starts from the Azure AD, as following:
**Azure AD B2C**

[2020-10-22 09:29] grumm90 commented on #64233
can we reopen this? I know that I was the one who didn't reply, sorry about that but please reopen this.

[2020-10-22 09:35] SadiqhAhmed-MSFT commented on #64811
@JohnnyB85 Thanks for the feedback. We will review this request and update as appropriate.

@bandersmsft FYI

[2020-10-22 09:39] SadiqhAhmed-MSFT commented on #64808
@bondaq Thanks for the comment. Appreciate if you could provide more details on your ask and point to the document section for any changes required.

[2020-10-22 09:40] RascoPK opened #64812 "F1 and F3 - same GUID"
I notived that Office 365 F1 and Office 365 F3 have same GUID ID.
Is this correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service plan identifiers for licensing - Azure AD](https://d

[2020-10-22 09:48] AnuragSharma-MSFT commented on #64809
@mloskot Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-22 09:51] GitaraniSharma-MSFT commented on #64698
@Sothecom , following up to check for an update on this issue. Please let us know the Azure service you are referring to for further investigation.

[2020-10-22 10:00] SumanthMarigowda-MSFT commented on #64497
@CodeAsAnInfrastructureGuy Storage account names must be between 3 and 24 characters in length and may contain numbers and lowercase letters only.
Your storage account name must be unique within Azure. No two storage accounts can have the same name.

Can you please share the screen shot of the error message, If the issue still persist, I'd recommend posting your question in https://azure.microsoft

[2020-10-22 10:02] SubhashVasarapu-MSFT commented on #64801
@greendx, Thanks for reaching out. We will investigate and update this thread.

[2020-10-22 10:12] lwlwalker opened #64813 "Missing endpoints to Validate TLS"
Related to section: "Additional VNET network connectivity requirements", point "Outbound network connectivity..."
There are some endpoints missing. We had to open these Firewall urls for TLS connectivity to happen:
.crl.microsoft.com (already in the documentation)
.mscrl.microsoft.com (already in the documentation)
.ocsp.msocsp.com (already in the documentation)
.crl3.digicert.com **(NOT IN THE DO

[2020-10-22 10:15] bondaq commented on #64808
Hello.

In first JSON schema missing field “description”. As you can see, in JSON example we can see “description” of request, but in main schema it missing. It means what we can’t get argument “description” in Flow and transfer it in another instance.

Regards,
Anton.

From: SadiqhAhmed-MSFT <notifications@github.com>
Sent: Thursday, October 22, 2020 12:39 PM
To: MicrosoftDocs/azure-docs <azure-d

[2020-10-22 10:21] MHarrop678 opened #64814 "Error in code example - Having a problem with MSAL"
There is an error in the code example on this page:

using System.ComponentModel;
using System.Collections.Generic;
using System.Text;
using Microsoft.Identity.Web;
using Azure.Core;
using Microsoft.Identity.Client;
using System.Linq;
using Microsoft.Extensions.Azure;

        {
            string ClientApplicationID = "INSERT CLIENT ID"; //I have removed my Client ID for security purposes

[2020-10-22 10:22] MayankBargali-MSFT commented on #63577
@keatseongchan I have reached out to the team for confirmation if there is a plan to support it in near future. Will keep you posted once I have got the confirmation.

[2020-10-22 10:23] SadiqhAhmed-MSFT commented on #64808
@keferna Please review and updates as appropriate.

[2020-10-22 10:37] Rvvhub opened #64815 "Clarify AzureADSSO support for AES."
Please clarify the support for AES by AzureADSSO.
The current text states: "Seamless SSO supports the AES256_HMAC_SHA1, AES128_HMAC_SHA1 and RC4_HMAC_MD5 encryption types for Kerberos. It is recommended that the encryption type for the AzureADSSOAcc$ account is set to AES256_HMAC_SHA1, or one of the AES types vs. RC4 for added security. "

What I would like to see is an explicit statement that Sea

[2020-10-22 10:40] dominicbetts commented on #64780
Hi @richwyd,

The IoT Plug and Play device client samples, such as https://github.com/Azure/azure-iot-sdk-node/blob/master/device/samples/pnp/simple_thermostat.js can use either a *device connection string*, or DPS to establish a connection to IoT Hub. This is controlled by the IOTHUB_DEVICE_SECURITY_TYPE environment variable - if this is set to "DPS", then the samples ignore the IOTHUB_DEVICE_CON

[2020-10-22 10:45] vipulsparsh commented on #64807
@mafalda89 Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@msmimart Can you have a look at this ?

[2020-10-22 10:46] vipulsparsh commented on #64812
@RascoPK  Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-10-22 11:35] dominicbetts commented on #64487
@barnstee - can you confirm that the working directory has changed. Looking at https://github.com/Azure/iot-edge-opc-publisher/blob/master/README.md, it's still showing as **/appdata**.

[2020-10-22 11:41] eriawan commented on #64737
@PeterCLu

I have submitted a PR #64818  to update the link of Azure ML end-to-end tutorial sample of Triton.
Apparently the referenced link of the Azure ML sample repo changed the master branch to main, and this caused the current aka.ms link doesn't work anymore.

[2020-10-22 11:44] dominicbetts commented on #64693
Hi @mrtalley - thanks for the suggestion. We're about to make some significant changes to the IoT Central docs that will affect the articles related to device templates and IoT Edge. I've made a note of your suggestions in our backlog so that we take them into account as we update the articles  over the next month or so.

Thanks, Dominic
#please-close

[2020-10-22 11:44] #64693 closed

[2020-10-22 11:46] yoelhor commented on #58009
Thank @sgdesmet for let us know the issue is solved. If you use the browser dev tools, you can also disable cache. Make sure to remove the random query param in production, as it may slow the page load.

[2020-10-22 11:54] SAIMMINHAS commented on #64744
Hi James,

I doubled checked as you advised and the issue is still there.

The Az Account that i'm using of my own does have the GA Role assigned to it. I also checked by logging in using a newly created Admin Account and the issue is still there.
![image](https://user-images.githubusercontent.com/30388154/96867915-3944e180-1465-11eb-9bf0-dd82f924861b.png)

I'm based here in U.K so how does it eff

[2020-10-22 12:01] AnuragSharma-MSFT commented on #64813
@lwlwalker Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-22 12:02] Svijay-msft commented on #64798
Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-10-22 12:04] Svijay-msft commented on #64799
Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-10-22 12:06] gtimread opened #64819 "How does a Guest account leave the org in the 'new My Apps experience' Azure portal"
This document does not reflect the guest account user experience when trying to leave an organization in the 'new My Apps experience' Azure portal. Please update this doc with the steps to leave an organization in the new experience Azure portal at https://myapplications.microsoft.com. Selecting 'view account' from the user dropdown and attempting to log in with the guest account credentials produ

[2020-10-22 12:10] Blackmist commented on #64737
Thanks @eriawan , I'll work with the review team to get that PR merged. I'll also follow up with @gvashishtha to get the aka.ms link updated from master to main, as it's probably used in other places than just this doc.

Thanks again for identifying this broken link and for submitting a fix for it!

[2020-10-22 12:15] BradAF opened #64820 "Azure Repos is no longer an option as a Source in the Preview Deployment Center"
Azure Repos is no longer an option as a Source in the Preview Deployment Center:

![image](https://user-images.githubusercontent.com/11336928/96870326-bd37a300-143e-11eb-9d76-5e8c4ac57dd7.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81dce42d-71bc-9ac0-b016-4add247bb48a
* Version Independent ID: 72e95a87-a302-d06

[2020-10-22 12:22] GitaraniSharma-MSFT commented on #64656
@hisasima , thank you for the explanation. I checked with the PG team and they mentioned that they are aware of this issue and it'll be fixed in the upcoming Azure portal update, by end of November.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-10-22 12:22] #64656 closed

[2020-10-22 12:28] vipulsparsh commented on #64815
@Rvvhub Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@billmath Can you have a look at this ?

[2020-10-22 12:35] KrishnaG-MSFT commented on #64585
@bangdu-ms AFAIK those service tags are visible in dropdown from Azure Firewall.

![image](https://user-images.githubusercontent.com/45988031/96872077-c3ef0600-1490-11eb-9fd4-134c53fa4904.png)

However assigning content owner @nkiest for visibility, review and document enhancement consideration for even more elaborated clarification if required.

[2020-10-22 12:48] ssisjoost commented on #52606
Make sure that you have added Microsoft.SQL as allowed resource in your subscription. I got that same error on a new subscription where it was not available by default [http://microsoft-bitools.blogspot.com/2020/10/synapse-snack-no-new-azure-sql-database.html](http://microsoft-bitools.blogspot.com/2020/10/synapse-snack-no-new-azure-sql-database.html)

[2020-10-22 12:53] KalyanChanumolu-MSFT commented on #64804
@ah-lf Thank you for reaching out and providing feedback.
We are investigating this and will get back to you soon.

[2020-10-22 12:56] yoelhor commented on #50358
There is change in the predicate schema. The new format is based on the `HelpText` attribute. For more information, see [Predicates and PredicateValidations](https://docs.microsoft.com/azure/active-directory-b2c/predicates)

[code]

[2020-10-22 12:56] zaalion commented on #64469
You are right. The configuration keys are created successfully and the
metrics are also populated. You just don't see it in the UI and this is a
challenge because people in the team think the Function App/App Insight
integration is broken.

Thanks for following up on this.

R

On Wed, Oct 21, 2020 at 9:14 PM ChaitanyaNaykodi-MSFT <
notifications@github.com> wrote:

--
Reza Salehi
https://www.linke

[2020-10-22 13:07] sgdesmet commented on #58009
Hi @yoelhor , to expand a bit on the issue: we were using Azure CDN to host our resources, having it add the `Vary: Origin` header to all responses solved the issue without having to resort to query parameters.

[2020-10-22 13:15] eriawan commented on #64737
You're welcome, @Blackmist 👍
Okay, I'll wait for your update of review of my PR.
Could I suggest to use direct link to the github repo of that Azure ML sample instead of aka.ms link?
I think using aka.ms link make the link and correction harder to follow any changes on the update and when we are trying to track the difference if the actual link will change again. Also  (CMIIW) only MS employees ca

[2020-10-22 13:20] KrishnaG-MSFT commented on #64805
@DavidChenLiang Thanks for the comment.
Assigning to content owner @anirudhcavale for visibility, review and document enhancement consideration.

[2020-10-22 13:21] chinwobble opened #64825 "Timeout using kafka connect with Event Hubs in docker"
I am trying to connect kafka connect to event hubs based on information in this guide.

I'm getting this error when I run the docker.

Here is my docker-compose.yml file.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a585d03f-fa14-f78f-65d7-c8a92b6f1c1f
* Version Independent ID: 7420d0da-80c7-4289-68dd-b131baf3

[2020-10-22 13:24] omeramin opened #64826 "Clarity required for Regex capture and replacement"
Header Rewrite should be explained in more detail. i.e.
•	If I use {http_resp_set_cookie} it works correctly. i.e. without the RegEx Capture group.
•	However, if using the Regex Capture, then it has to be case sensitive and use hyphens instead of underscores, {http_resp_Set-Cookie_1}.

I would suggest listing all the allowed variable values so that there are more examples. Or a better explanation

[2020-10-22 13:28] jsavage8 opened #64827 "Clarity Needed for Admins Retiring On-Prem Active Directory"
Like many before me (probably), I came to this article because I'm helping a client retire their on-premise Active Directory environment and move fully into Azure and I could use a little more clarity with the 'Delete a service instance from Azure AD Connect Health service' section.  The doc suggests that "All data from this service instance is deleted in accordance with the Azure data retention p

[2020-10-22 13:29] siwon opened #64828 "Azure container instance inside vnet - francecentral location"
Hi,

Will the "france central" location be  available for azure container instance inside virtual network ?
If yes, when will it be available ?

Thanks a lot

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c7387c7-c5ea-584a-1463-eeb562b2cf4d
* Version Independent ID: 798fcb07-735e-c79f-6ede-485c671d2364
* Content: [Sce

[2020-10-22 13:38] PramodValavala-MSFT commented on #64806
@motasem13 The [Key Vault doc for Service Endpoints](https://docs.microsoft.com/en-us/azure/key-vault/general/overview-vnet-service-endpoints) mentions an exception - _If a user has opted-in to allow trusted Microsoft services, ..._

Could you confirm if you have this enabled? And if disabled, could you confirm if the Key Vault references still work?

[2020-10-22 14:00] tonycaidotcom opened #64829 "CSP Licensing for SQL Server is now availble"
Article says its not yet available which is incorrect in 2020.

- Nerdio

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a863cb0-c5d3-87d6-7c4d-28a1316d70f8
* Version Independent ID: e56cf79c-d919-92d7-d3a0-05ada08ba17b
* Content: [Price guidance & managing costs - SQL Server on Azure VM](https://docs.microsoft.com/en-

[2020-10-22 14:11] GitaraniSharma-MSFT commented on #64093
@shadowano , I am doing a lap repro to validate the steps and will get back to you once it is complete.

[2020-10-22 14:12] mtjstan commented on #44800
@carolchiz - sorry to resurrect this issue, but were you able to figure out how to get this to work with SharePoint Online invitations? I am in the same boat and have it working from an Azure AD invitation, but not from a SPO invite. The problem with using the Azure AD invite is that it does not redirect the user to the SPO site, which is what we are trying to give access to.

[2020-10-22 14:18] rvunen opened #64830 "Only create subnet when the vnet is created too but what about updating the vnet?"
[Enter feedback here]

There is no information about how to update an existing VNET and with my current experience that is not as easy as it looks.
This happens more frequenly than creating a VNET and everything because once a VNET is created there will be maintenance on it throughout it's lifetime

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-10-22 14:26] poveilleux commented on #64787
@Karishma-Tiwari-MSFT I should have thought about it! Next time I will do it, I promise 🙃

[2020-10-22 14:30] artmasa opened #64831 "Key Vault backed configuration"
How can I define a key vault backed key-value within the store using the ARM template? Is this not available yet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0000e043-0717-23d4-5d63-c5728919cda8
* Version Independent ID: b8726c93-69e0-07d5-5bff-0b875dec00ab
* Content: [Create an Azure App Configuration store by usin

[2020-10-22 14:32] omeramin opened #64832 "Add an example showing how to change hostname from abc.com to xyz.com."
Add an example showing how to change hostname from abc.com to xyz.com.
Rewrite type - Request Header
Action type - Set
Header Name - Common
Common Header - Host
Header Value - xyz.com.....or can also have a RegEx here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fbac689-8196-0c77-2602-f1338ae5ed72
* Version Indepen

[2020-10-22 14:33] NavtejSaini-MSFT commented on #64746
@MaxMelcher Please elaborate your feedback. I am seeing the screenshots same as in Azure Portal for this document
 - https://docs.microsoft.com/en-us/azure/cosmos-db/connect-mongodb-account?source=docs

When you say the preferred write region is missing, please provide a screenshot for comparison.

[2020-10-22 14:35] #64737 closed

[2020-10-22 14:36] yoelhor commented on #52784
Hi @dotnetgator I see this issue is still open. Generally speaking and application can use both user flows and custom policies. The session is shared cross policies. With regard to the signature, the relying party when the application change the policy name, the MSAL library use the corresponding well-know configuration endpoint to get the correct JWK (the public keys to validate the signature).

[2020-10-22 14:48] chinkl75 opened #64834 "Error importing json file to device template"
Hi Sir,
I am stuck following the tutorial in this page.

Basically, an error pops up in the following steps instructed in the page:
"
In your Azure IoT Central application, create a device template called Environmental sensor by importing the EnvironmentalSensorInline.capabilitymodel.json device capability model file
"

Below is the error message:
"
Error
Something went wrong
Error code: 400.470.0

[2020-10-22 14:51] #64648 closed

[2020-10-22 14:56] zeeshan-commits commented on #64364
I have manage to figure out the reason why this issue was happening. My metadata on the application had an invalid property 'samlMetadataUrl'. It was set to the azure b2c  metadata rather than my applications metadata.
I am going to close this since it is resolved now.

[2020-10-22 14:56] #64364 closed

[2020-10-22 15:02] souravmishra-msft commented on #64814
@MHarrop678, Thank you for reaching out. We are looking into this and will get back to you soon.

[2020-10-22 15:02] jonwbstr opened #64838 "Cost Management information does not transfer"
Before executing the transfer request, customers should export any cost management information they want to retain. The billing and utilization information does not transfer with the subscription.

I would have put this comment on the following page, but that page doesn't allow feedback:
https://docs.microsoft.com/en-us/partner-center/switch-azure-subscriptions-to-a-different-partner

---
#### Doc

[2020-10-22 15:05] kiazhi commented on #64663
@MonikaReddy-MSFT -
Sorry, I am not very sure if this is the correct channel.

But I have been ploughing this [documentation](https://docs.microsoft.com/en-us/javascript/api/overview/azure/?view=azure-node-latest) for something that I can use to send a `GET` method for detail information about Service Health like Service Issues or Planned Maintenance documented on [Service Health Overview](https:/

[2020-10-22 15:06] richwyd commented on #64780
Thank you. I understand now how I got confused.

R.

From: Dominic Betts <notifications@github.com>
Sent: Thursday, October 22, 2020 3:41 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Richard Wydrowski <richwyd@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Discrepancy between connection string var name in doc and in sample code (

[2020-10-22 15:12] Benjiiim opened #64839 "Publisher domain verification for apps registered in an Azure AD B2C tenant"
I would like to know if this would be possible to add more details on the "Publisher domain verification" in the "Features not applicable in Azure AD B2C tenants" section.

- Regarding the first sentence, one can definitely use a verified domain in an App Registration and not use the default .onmicrosoft.com so I don't understand the point made.
- Regarding the second sentence. Can we explain more

[2020-10-22 15:14] TyrannosaurusRone opened #64840 "JupyterHub Password when setting up DSVM with ssh"
What would your jupyterhub password be if you created the DSVM with ssh rather than a password? I have a username for the machine but never specified a password...

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27c1a5f0-b0df-88f4-feaf-90bc17eeb69e
* Version Independent ID: 3d5b36f7-e892-8d1d-fa14

[2020-10-22 15:16] dominicbetts commented on #64780
#please-close

[2020-10-22 15:16] #64780 closed

[2020-10-22 15:17] jonwbstr commented on #64838
Also, after the subscription transfers the customer is no longer able to refund the reservations they created. Make sure they do that first, or be prepared to cancel them for the customer. If they have more than 50k over 12mo in reservations, that complicates things.

[2020-10-22 15:17] ahyamrel opened #64841 "Service Principal creation failed: The subscription 'providers' could not be found."
Which providers are required for the actions? Doc doesn't mention any.
(Plus a spelling mistake in "Principal" word in the error popped).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2db5100c-6804-3290-7986-e203119751b0
* Version Independent ID: e03089e8-acc5-6926-3883-d38e7bc1ae41
* Content: [Tutorial: Implement Azu

[2020-10-22 15:18] jasonshave opened #64842 "Which OAuth2 flow is used in this QuickStart?"
I have two pieces of feedback:

1. It would be great if we described in a single sentence, what OAuth2 grant type this sample is using. One of the reasons this is important to developers is testing the sample using something like Postman. In order to get a token with Postman (or any other similar tool), you need to choose the Grant Type. I was able to test it using implicit flow however I needed t

[2020-10-22 15:19] lfittl-msft commented on #60204
@kosinsky Thanks for those details - we've added this to our documentation backlog and will address this as discussed.

@AnuragSharma-MSFT I think we can close this issue for now, as the question was addressed, and we'll improve the docs separately based on the further discussion.

[2020-10-22 15:25] KrishnaG-MSFT commented on #37403
We will be closing this issue as [this](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) but if there are further questions regarding the Private Preview matter that's discussed above, please do let us know and

[2020-10-22 15:25] #37403 closed

[2020-10-22 15:34] FrankGagnon commented on #64788
@jeffhollan Thanks for your quick response!

In our Premium Function App we currently publish 18 Node functions each ranging from 9 MB to 25 MB of JS code. Since the Functions are so heavy, they take some time to startup (this made the Consumption plan unusable). The functions serve external customer API requests, so the load is very hard to predict. We haven't rolled this out in production yet so

[2020-10-22 15:37] eliog commented on #64573
Hi,

I've been trying to accomplish the same thing (create a FOG with private endpoints) and found this thread while googling.  I'm having the same problem @ketaanhshah is having.

I can create the 2 sql servers with private endpoints and access them via their private DNS addresses in my VNET with no problem.  However, I can't find what the private endpoint to the FOG is.

I replicated the testing

[2020-10-22 15:37] #64840 closed

[2020-10-22 15:40] ketaanhshah commented on #64573
Thank you @eliog and @Mike-Ubezzi-MSFT , I think @eliog summed it what I am also trying to achieve.
So basically I am not sure and still confused on what to use in the web.config whether the Primary Server's endpoint (private endpoint) or the FOG READ/WRITE Listener endpoint. As in case of Private Endpoint of the prrmary sql server we are only connecting to Primary server and not the secondary on

[2020-10-22 15:41] v-anmeri opened #64843 "Databricks auto-terminate functionality"
Databricks has auto-terminate functionality and if user has that enabled, it is possible that while performing scheduled refresh, cluster is auto-terminated and Power BI will not be able to reach it.

This information is not available in public documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63c70e9e-23d8

[2020-10-22 15:41] haymansfield opened #64844 "Documentation on networking restrictions"
Is it possible to place any networking restrictions on the storage account without affecting the diagnostic collection?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ca576e1-fafa-3a02-6d29-394f342bc737
* Version Independent ID: a6a83de5-41fd-2dce-eb86-cee6c086c07d
* Content: [Create diagnostic settings to send platfo

[2020-10-22 15:43] haymansfield commented on #64099
@SaiKishor-MSFT Thanks very much for the response. This was very helpful.

[2020-10-22 15:49] rwiankowski opened #64845 "Documentation seems incomplete"
Hi!

There seem to be several issues with the page:

1. It states that Azure Policy Exemptions are in preview, however, when I try to create one via the Azure Portal I see a message
"Policy exemption is now available! For pricing details, see https://aka.ms/policypricing". The word "available" implies that they are no longer in preview.
2. The page states that exemptions are free during preview, w

[2020-10-22 15:50] mimckitt commented on #64211
#reassign: @mimckitt

[2020-10-22 15:53] DCtheGeek commented on #64845
#assign:DCtheGeek

[2020-10-22 15:59] DCtheGeek commented on #64845
@rwiankowski Thanks for the questions and feedback!

1. It's _available_ as a **preview**. ;)  But I'll pass on this feedback to the portal UX team.
2. Pricing details will get posted once they are finalized, so this is all the information we have to share today.
3. Exemptions are only available through the REST API today. When support is added for the various SDKs, I'll update the content.

Thank

[2020-10-22 15:59] #64845 closed

[2020-10-22 16:05] CoMMyCZ opened #64846 "Atlassian is using email as an Unique IDentifier not username."
I suggest to change the page or include a big bold warning about the fact that **Atlassian is not using username as a Unique Identifier** of the user but rather an email address.

That causes a lot of issues with on-prem or hybrid Exchange when the email attribute in AD doesn't equal UPN but rather default SMTP address (user can have many email aliases and one is the default).

The correct default

[2020-10-22 16:22] AnuragSharma-MSFT commented on #60204
@lfittl-msft Thanks a lot for all the efforts you spent here.

@kosinsky We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-22 16:22] #60204 closed

[2020-10-22 16:23] bandersmsft commented on #64838
@jonwbstr Thanks very much for your feedback. As you noted, the article you linked https://docs.microsoft.com/en-us/partner-center/switch-azure-subscriptions-to-a-different-partner doesn't have GitHub issues enabled so I passed along your feedback to the owning Partner team for them to review. When I hear back from them, I'll info you here.

[2020-10-22 16:24] AnuragSharma-MSFT commented on #64701
@pbursch This is being assigned to the content author to evaluate and update as appropriate.

[2020-10-22 16:24] bandersmsft commented on #64838
#assign:bandersmsft

[2020-10-22 16:26] javester opened #64847 "typo "lack fo""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2ab0c47-e61d-0419-1e75-29172fcbe097
* Version Independent ID: 796337da-9f25-5d68-6c40-2f73263a5bfa
* Content: [Azure Files performance troubleshooting guide](https://docs.microsoft.com/en-us/azure/storage/files/storage-troubleshooting-files-performan

[2020-10-22 16:26] bandersmsft commented on #64811
#assign:yashesvi

[2020-10-22 16:27] glomaga commented on #64793
Hi Yoel

All my configuration is with local accounts.

The steps are :
1) login with your local account
2)close the browser
3) open the browser
4) navigate to your app
5) you are login to your app without need to enter the credentials again

FYI
I tested it with the startedpack for socialandlocalaccounts without any custom code

I tested it with opendid and SAML protocol.

Sent from my iPhone

[2020-10-22 16:29] MarileeTurscak-MSFT commented on #64827
@jsavage8
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-22 16:33] bakes82 opened #64848 "Wrong info"
The one image shows duration in days, but the text says hours.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 454efdf2-6764-efd3-0c96-b372bd7fc436
* Version Independent ID: 73f53a96-7cfc-897f-c7d7-bc07740db699
* Content: [Manage expiration of web content in Azure CDN](https://docs.microsoft.com/en-us/azure/cdn/cdn-mana

[2020-10-22 16:35] erikanderson opened #64849 "B2C immediate key rollover in case of emergency"
Have a question regarding this line, specifically the "immediately in case of emergency" part:

"For security purposes, Azure AD B2C can roll over keys periodically, _or immediately in case of emergency."_

We see that there is a way to retrieve the current active key with https://docs.microsoft.com/en-us/graph/api/trustframeworkkeyset-getactivekey?view=graph-rest-beta

What is not clear is how/if

[2020-10-22 16:36] Michal-Ziemba opened #64850 "There is lack of information"
the user experience which is documented here can be seen on new tenants or after you [enable combined security information registration in Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-registration-mfa-sspr-combined) at your old tenant. 

It would save me time if you mention this on the page.  

---
#### Document Details

⚠ *Do not edit this s

[2020-10-22 16:43] YurongHe opened #64852 "containerSolution.json is not valid"
https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-hybrid-setup#how-to-add-the-azure-monitor-containers-solution

az login
az account set --name <AzureCloud | AzureChinaCloud | AzureUSGovernment>
az login
az account set --subscription "Subscription Name"
# execute deployment command to add container insights solution to the specified Log Analytics workspace
az deploym

[2020-10-22 16:44] mloskot opened #64853 "Application Gateway with SKU tier Standard_v2 can only use PrivateIPAddress with IpAllocationMethod as Static"
The `az network application-gateway create` from the [Static IP address for container group - Azure Container Instances](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-application-gateway#create-virtual-network) article fails with error:

[code]

See the complete commands and the complete output below.

### Commands

This is my `container-instances-application-gatew

[2020-10-22 16:45] DCtheGeek commented on #64841
#assign:raiyanalam

[2020-10-22 16:45] Harshitjain188 opened #64854 "How to move .bak format type data in azure blob storage dataset service in ADF v2?"
Not able to move database backup files (.bak & .log) stored in on-premises SQL server to azure blob storage because in format tab of azure blob storage there is no option of .bak format or .log format.

---
#### Document Details
* ID: df7b56de-6c44-a6a7-7cb1-2d77025f17f5
* Version Independent ID: fa99fc00-8d68-a1de-558e-0ef651548f34
* Content: [Copy and transform data in Azure Blob storage - Azure

[2020-10-22 16:47] DCtheGeek commented on #64841
@ahyamrel Thanks for the feedback and question.  Can you let us know at what step you hit this issue?

@raiyanalam FYI on the typo in the error and to help address this issue.

@MicrosoftDocs/azure-cxp-triage Please label 'product-issue' and #in-progress.

[2020-10-22 16:48] ajlam commented on #34657
Hi all, can you confirm if you have re-tested integration recently? I was able to connect successfully my Azure DB for MySQL and App Service on Linux using VNet Service Endpoints. The VNet has both "Microsoft.Web" and "Microsoft.Sql" service endpoints enabled.

[2020-10-22 16:48] erikanderson commented on #63222
Sorry for not responding to this. I was thinking about it the wrong way. B2C doesn't provide session management, just the authorization code or token which shouldn't be affected by a key rollover

[2020-10-22 16:48] SaiKishor-MSFT commented on #64513
@RonnieQuan Please let us know if you have any further questions/concerns. Thank you!

[2020-10-22 16:49] JamesTran-MSFT commented on #64850
@Michal-Ziemba
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-22 16:51] JamesTran-MSFT commented on #64846
@CoMMyCZ
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-22 16:53] JamesTran-MSFT commented on #64819
@gtimread
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-22 16:56] jonwbstr commented on #64838
Some of this information is relevant to both articles since they are from different perspectives. Thanks!

[2020-10-22 16:56] JamesTran-MSFT commented on #64849
@erikanderson
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-22 17:02] eliog commented on #64573
I got this working by making 2 changes:
- I was not using "privatelink.database.windows.net" as my private Zone.  I changed to "privatelink.database.windows.net".
- When creating the private endpoint I wasn't passing/setting the private_dns_zone_group.  I'm now sending the zone ID to my private "privatelink.database.windows.net" zone that's already created.

After those 2 changes and recreating ev

[2020-10-22 17:16] mikefrobbins commented on #64648
The problems outlined in this issue have been resolved and the changes are now live.

[2020-10-22 17:21] kenwith commented on #57781
This article has moved to Graph repo. I created a PR to update there. https://github.com/microsoftgraph/microsoft-graph-docs/pull/10387

#please-close

[2020-10-22 17:21] #57781 closed

[2020-10-22 17:36] dash042 opened #64856 "AppGW wants PRIVATE IP?"
az network application-gateway create -n myApplicationGateway -l canadacentral -g myResourceGroup --sku Standard_v2 --public-ip-address myPublicIp --vnet-name myVnet --subnet mySubnet

this worked earlier this week. Now I get an error saying the AppGW wants a Private-IP. not a Public-IP.

Deployment failed. Correlation ID: .... {
  "error": {
    "code": "ApplicationGatewayFrontendIpPrivateIpAddre

[2020-10-22 17:37] tracy-hunt commented on #42933
@pchandravadan I was able to retrieve the current push token in MainActivity.cs with the following code: (Xamarin Forms 4.6.0.726, Xamarin Firebase Messaging 71.1740.0)

[code]

[2020-10-22 17:39] SatishBoddu-MSFT commented on #64834
@chinkl75
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-22 17:41] Grace-MacJones-MSFT commented on #64820
Hi @BradAF, thanks for bringing this to our attention. We are currently investigating and will update you shortly.

[2020-10-22 17:42] SatishBoddu-MSFT commented on #64799
@kiranpradeep
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-22 17:53] AjayKumar-MSFT commented on #64526
Ovidiu, it's a great feedback! we're checking on this with our product engineering and content team for review, we will update the document appropriately shortly.

[2020-10-22 17:55] AjayKumar-MSFT commented on #64482
@dkisselev, We will close this thread for now, if there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion. Thanks!

[2020-10-22 17:55] #64482 closed

[2020-10-22 17:56] YurongHe commented on #64852
This is mistake in the file from me.

[2020-10-22 17:56] #64852 closed

[2020-10-22 17:57] DerekHerman-MSFT commented on #64847
@javester Thanks for bringing this to our attention. We have made the change and it is already live.

https://github.com/MicrosoftDocs/azure-docs-pr/commit/597a5e7f7e9868116ec839ef07c676b33b5019b4

[2020-10-22 17:57] #64847 closed

[2020-10-22 18:07] anastasia-ms commented on #64804
I have fixed this in  PR #135010.

[2020-10-22 18:08] anastasia-ms commented on #64804
Fix is provided in above PR. Thank you!

[2020-10-22 18:11] RicLund opened #64857 "Mismatch between description of security role change and screenshot"
In step 8 of the [Security Settings](https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/commercial-marketplace-lead-management-instructions-dynamics#security-settings) section, the text says to enable "AppendTo" but the screenshot shows the selection of the fifth radio button which is the "Append" privilege. AppendTo is the sixth. To make sure this works I selected both, not

[2020-10-22 18:19] kenwith commented on #57779
This article has moved to graph repo. Confirmed here: https://docs.microsoft.com/en-us/graph/api/synchronization-synchronizationjob-post?tabs=http&view=graph-rest-beta#response

I have created a PR here: https://github.com/microsoftgraph/microsoft-graph-docs/pull/10387

Thank you for feedback and sorry for just finding this one. I am watching graph repo now and Issues there so I don't miss valuabl

[2020-10-22 18:19] #57779 closed

[2020-10-22 18:19] anastasia-ms commented on #64804
This is a sample for indoor maps. It is not meant for road viewing, nor is it meant to integrate with the external roads at this time. If you notice, the current sample would be located on top of a couple roads.

[2020-10-22 18:32] stevestein commented on #64307
@BzSpi - I added a small T-SQL section on copying into a pool.

Can you clarify what you mean here? _Its seems that in the CREATE DATABASE statements EDITION and SERVICE_OBJECTIVE are exclusives. Is there any way to have this ?_

[2020-10-22 18:34] femsulu commented on #64618
assigning to content owner, @harelbr . Please review and make necessary updates to content.

[2020-10-22 18:35] artisticcheese commented on #64477
Where those scripts/module will be published to?

[2020-10-22 18:45] femsulu commented on #64761
thanks for the feedback. Your request has been added to the content owner's backlog for further review.
@bwren  - FYI.

[2020-10-22 18:46] femsulu commented on #64761
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-10-22 18:46] #64761 closed

[2020-10-22 18:53] dondestas commented on #57846
@msmimart why is this a closed issue? As described in the issue above, App Insights in "Germany West Central" doesn't  work with Custom Policies and propably with a bunch of other countries as well.

@jarekkoziol could you please describe which other region you took? When I create App Insights in "EAST US" it also contains an IngestionEndpoint=https://eastus2-0.in.applicationinsights.azure.com/

[2020-10-22 18:53] Grace-MacJones-MSFT commented on #64820
Hello @BradAF,

It looks like you are using Deployment Center (preview). Products in preview are still consistently improving. We recommend using products in preview for testing workloads, not production workloads. You can still access Azure Repos as a source under  Deployment Center Blade.

**Deployment Center (preview)**

![DC webapp](https://user-images.githubusercontent.com/42247081/96916242-2

[2020-10-22 18:57] tdvenky opened #64861 "add a timeout option to the batch transcription REST API"
From what I see in the documentation, there's no option to set a timeout for a batch transcription job. I would like the transcription that is in "NotStarted" status for more than a specific amount of time to be discarded or marked "failed". And I would like to set the timeout value while I am creating the request.

I am doing batch transcription in a loop for a set of audio files one after anothe

[2020-10-22 18:58] JamesTran-MSFT commented on #64846
@CoMMyCZ
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-22 19:05] femsulu commented on #64765
reassigning to content owner @bwren for deeper review

[2020-10-22 19:12] Nickomang commented on #64734
Hi @mcurko, thanks for the question. Effectively, the only time you want to partition a stateless service is if you require a special routing configuration. Consider a stateless service that interacts with a sharded database. You may want to partition the service such that specific instances interact with specific database shards. It's also not the only way this behavior can be accomplished, which

[2020-10-22 19:12] #64734 closed

[2020-10-22 19:49] BharathNimmala-MSFT commented on #64857
@RicLund Thanks a lot for bringing this to our notice, we will review the feedback and update the document accordingly.

[2020-10-22 19:51] MonikaReddy-MSFT commented on #64750
@Jason542 -
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-10-22 20:06] nkiest commented on #64585
Sorry, we used the colloquial "firewall", but yes, in the case it needs to be a "Network Security Group", per networking docs. Update submitted.

[2020-10-22 20:09] begleyfred opened #64864 "Link on /en-us/account/authenticator page to send text to phone does not work"
Link on /en-us/account/authenticator page to send text to phone does not work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 640b9158-3bba-2f76-b9f1-c2660e530062
* Version Independent ID: d6d2980d-b36b-9dc3-5c0c-4abed8d19ae2
* Content: [Download and install the Microsoft Authenticator app - Azure AD](https://docs.micro

[2020-10-22 20:11] erikanderson commented on #64849
@JamesTran-MSFT Thank you, appreciate any insight

[2020-10-22 20:14] bandersmsft commented on #64838
@jonwbstr I've updated  https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/transfer-subscriptions-subscribers-csp with your suggested revision with the linked PR above. I expect the Parter Center team will do the same for https://docs.microsoft.com/en-us/partner-center/switch-azure-subscriptions-to-a-different-partner.

Thanks!
#please-close

[2020-10-22 20:14] #64838 closed

[2020-10-22 20:21] philipktlin opened #64865 "Missing Enterprise Application"
Hi

I followed this link https://docs.microsoft.com/en-us/azure/active-directory-domain-services/tutorial-create-instance#feedback to create an Azure AD Domain Services.

1. At the end of "Deploy the managed domain" section, there is an important note said that there will be 2 enterprise applications, but I can't find any items if Enterprise Application in application type filter (https://portal.a

[2020-10-22 20:26] MGoedtel commented on #51832
I've just updated the article with updated guidance per your feedback, and it should be published tonight.  Thanks for your patience. #please-close.

[2020-10-22 20:26] #51832 closed

[2020-10-22 20:38] systemsmaven opened #64866 "Need some updated screen shots and instructions"
Just a heads up that the instructions for SSO for this app need to be updated a bit.

I'd love to send you an updated screenshot but I'm no seeing where to attach an image.  Basically, the setting in SolarWinds now auto-generates the Login URL and asks for:

- Azure AD Login URL
- Logout URL
- Error URL (Not required)
- Azure Identifier

Your screenshots aren't super outdated but the fields are a

[2020-10-22 20:39] ecfan commented on #63746
@PramodValavala-MSFT: As Divya has answered this question, I'm closing this thread for now. #please-close

[2020-10-22 20:39] #63746 closed

[2020-10-22 20:41] ecfan commented on #46826
@ShyamSunder90: Can you help answer? If not, because this thread has been open so long without a resolution, I'll close the issue this week.

[2020-10-22 20:47] wrprice opened #64867 "Load balancer probe use of TCP proxy protocol (or not) is all-or-nothing, not data-path, frontend, or port specific"
The documentation correctly states:

However, the documentation needs to be clearer that **all** health probes will use the proxy protocol header, even for data paths that do NOT use the proxy protocol.  Consider the following example:

Say I use a Standard Internal Load Balancer to balance traffic from the local VNet on one frontend IP, and also balance requests from external clients using Privat

[2020-10-22 20:57] tale-adents opened #64869 "Take 15x more time to process with bulk SDK than bulk library"
I make a try to implement this migration tool.
In my case, i have 100K documents to write, each document as a unique partition key. I can't group them at this step with a common partition key.

With the "old" Bulk Executor library, my global process take between 110 and 120s to import all documents, in a cosmos container with 25K RU (autopilot)
With the new bulk in SDK, implemented like in this pa

[2020-10-22 21:00] MarileeTurscak-MSFT commented on #64866
@systemsmaven
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-22 21:01] MJeorrett commented on #16505
I'm getting the exact same thing.  Creating a policy in one directory this format of url returns the openid configuration: https://contosotenant.b2clogin.com/tfp/contosoTenant.onmicrosoft.com/B2C_1_signupsignin1/v2.0/.well-known/openid-configuration

Exact same steps in another directory and that url format fails with 404.  What is going on?

[2020-10-22 21:02] MarileeTurscak-MSFT commented on #64864
@begleyfred
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-22 21:23] theGOTOguy opened #64870 "CLI procedure to get a token for Azure API for FHIR does not work."
Following the procedure:
[code]
where MYPRIVATEfhir is replaced with my own Azure API for FHIR resource name does not provide a valid token for accessing the endpoint.  It reports an OperationOutcome with diagnostics "Authentication Failed."  I created the resource and double-checked that indeed I have owner access according to IAM.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-10-22 21:27] jeevansd commented on #64866
@chetansriv and @v-hagamp This is very good feedback. Can you please get the article updated now?

[2020-10-22 21:41] BryanTrach-MSFT commented on #64769
@SharmainePopov Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-22 21:41] MarileeTurscak-MSFT commented on #64839
@Benjiiim
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-22 21:44] smiller7812 opened #64871 "How do you get to the create storage screen in the tutorial"
Maybe you could show us that because I have no idea.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecd5d368-8d1c-f984-4922-ab4c7ae14db5
* Version Independent ID: dbb6bc4c-87f4-18a0-f6e9-f9f48be1f289
* Content: [Persist files in Azure Cloud Shell](https://docs.microsoft.com/en-us/azure/cloud-shell/persisting-shell-stor

[2020-10-22 21:52] ealsur commented on #64869
@tale-adents There is no need to group them by partition key.

You should be able to just create a `List<Task>` for the 100K items and 'await Task.WhenAll' them all.

Do you have any example code you are using?

[2020-10-22 21:53] NavtejSaini-MSFT commented on #64769
@SharmainePopov Please elaborate on the issue that you are facing. Please convey the error that you are getting or your repro steps.

[2020-10-22 21:55] YutongTie-MSFT commented on #64871
@maertendMSFT Hi, could you please check on this issue and update the document if needed? Thanks.

@smiller7812
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-22 21:56] YutongTie-MSFT commented on #64861
@tdvenky
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-22 22:02] ShyamSunder90 commented on #46826
@ecfan this connector is owned by LA team. Please check with Rama.

[2020-10-22 22:02] pchandravadan commented on #42933
@tracy-hunt Thanks for your response. Can you clarify for me what is "<your sender ID here>" in the sample code? is this something you get from the google-service.json file?

[2020-10-22 22:15] tracy-hunt commented on #42933
@pchandravadan Yes, ```"<your sender ID here>"``` is in the google-services.json file as project_number. I believe it's also available from one of the Google consoles where you configure GCM/FCM, and there it's referred to as Sender ID.

[2020-10-22 22:20] tale-adents commented on #64869
I prepare a sample solution to provide it, with more telemetry and easier to follow than in my global workflow.
I just add the request option to not get the content on write, but maybe it's not a good idea, i will make a new test without it
 `
            var requestOption = new ItemRequestOptions()
            {
                EnableContentResponseOnWrite = false
            };

            Bulk

[2020-10-22 22:24] BharathNimmala-MSFT commented on #64377
@adibiton Thanks for being patient on this and apologies for the delayed response.

Hope the below information helps and gives more clarity on what you are looking for. Please review and get back to us if you have any further queries.

Step 1 instruction which has been called out in the document is to create a service principal, starting from [here ](https://docs.microsoft.com/en-us/azure/active-d

[2020-10-22 22:24] #64377 closed

[2020-10-22 22:36] JamesTran-MSFT commented on #64849
@erikanderson
Thank you for your time and patience throughout this issue.

I've reached out to our product team with this question and will update as soon as possible.

If you have any other questions in the meantime, please let me know.
Thank you!

[2020-10-22 22:42] JamesTran-MSFT commented on #64842
@jasonshave
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-22 22:46] Karishma-Tiwari-MSFT commented on #64042
This issue is fixed now. Please try again and let me know if you are still seeing it.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-10-22 22:46] #64042 closed

[2020-10-22 22:48] Karishma-Tiwari-MSFT commented on #64447
As mentioned in the issue above https://github.com/Azure/AKS/issues/1912, the PR is created for this.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-10-22 22:48] #64447 closed

[2020-10-22 22:50] RamyasreeChakka opened #64873 "Unable to list sasdefinitions using the cmdlets specified in doc"
**Doc link:** https://docs.microsoft.com/en-us/azure/key-vault/secrets/overview-storage-keys#verify-the-shared-access-signature-definition

**Issue:** Using CLI, I was not able to list the sasdefinitions using 'az keyvault secret list --vault-name <YourKeyVaultName>' cmdlet specified in this doc. I granted myself the permissions to view but no use.

Used below cmd to give permissions
az keyvault s

[2020-10-22 22:52] Karishma-Tiwari-MSFT commented on #64476
This document has some info on autopool: https://docs.microsoft.com/en-us/azure/batch/batch-pool-create-event
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-22 22:53] parasparekh commented on #64789
Hello Karishma, Is there an ETA on this ?

[2020-10-22 22:55] ealsur commented on #64869
That option should be fine. What SDK version are you using? Are you running the code in the same machine as the BulkExecutor library? (same CPU and network)

[2020-10-22 22:57] Karishma-Tiwari-MSFT commented on #64484
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-10-22 22:57] #64484 closed

[2020-10-22 22:59] JamesTran-MSFT commented on #64744
@SAIMMINHAS
Thank you for the quick response and screenshot!

Can you make sure your Tenant isn't using a Country/Region that isn't supported for the combined registration experience.
**Navigate to Azure Active Directory -> Properties:**
![image](https://user-images.githubusercontent.com/36619112/96938279-c2b4dd80-147e-11eb-9dbe-ec0fe4c30814.png)

If you're still having issues, can you please send

[2020-10-22 23:09] tale-adents commented on #64869
Yes, same machine (local, in dev for the first test) and same cosmos container.
The SDK is the last one, installed with nuget :
`    <PackageReference Include="Microsoft.Azure.Cosmos" Version="3.14.0" />
    <PackageReference Include="Microsoft.Azure.CosmosDB.BulkExecutor" Version="2.4.1-preview" />`

![image](https://user-images.githubusercontent.com/71796263/96938885-c6228600-14cb-11eb-88fa-15b6

[2020-10-22 23:14] TravisCragg-MSFT commented on #64826
@omeramin Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-10-22 23:16] ealsur commented on #64869
You can double check before getting the Container instance if the client is configured with Bulk. Assuming that your client variable is called `client`:

[code]

[2020-10-22 23:18] TravisCragg-MSFT commented on #64830
@rvunen Can you give some examples of what you are looking to update? Some VNET settings can be difficult to update once the VNET is created.

[2020-10-22 23:20] TravisCragg-MSFT commented on #64832
@omeramin Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-10-22 23:25] angosms opened #64874 "US Gov azure region pairing is inconsistent"
US Gov azure region pairing seems off from: https://docs.microsoft.com/en-us/azure/best-practices-availability-paired-regions#azure-regional-pairs

US Gov Texas is in the "Regional Pair B" column for 2 regions and is not even listed in the "Regional Pair A" column.
It seems like it's been forgotten.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-10-22 23:34] RichWK opened #64875 "Outdated documentation"
Hello — is there a more recent version of this documentation? It hasn't been updated since November 2018:

https://azure.github.io/azure-cosmosdb-js-server/

It's linked to a couple of times in the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc953932-e688-4029-9f0c-826273458b1c
* Version Independent ID: 9f6

[2020-10-22 23:46] TravisCragg-MSFT commented on #64856
@dash042 I was not able to reproduce this issue, However this is a known issue and is discussed in #64433, and a workaround is given in that issue.

Can you post the exact commands you are using so I can attempt to reproduce?

[2020-10-22 23:58] TravisCragg-MSFT commented on #64867
@wrprice Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-10-23 00:10] ketaanhshah commented on #64573
Thank you @eliog in my case I am using Azure hosted SQL Server so I am not sure if the solution you mentioned above is going to work for me.

[2020-10-23 00:11] mingshen-ms commented on #63923
#reassign:trkeya

[2020-10-23 00:11] PRMerger8 commented on #63923
GitHub user BZamoraMicrosoft has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2020-10-23 00:15] mingshen-ms commented on #63923
Localization related display issues for terms and conditions has impact across all offer types, assigning the issue to @trkeya to further investigate and update impacted docs as required.

[2020-10-23 00:18] msft-tacox opened #64876 "Looking for certificate authentication steps"
[Enter feedback here]
Hi,

Are there steps to perform certificate based service-to-service authentication for filesystem operations, as opposed to client secret based authentication?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee434181-ec5e-1e9b-b092-930063d247df
* Version Independent ID: d7e7a37d-127b-3aba-4218-030

[2020-10-23 00:21] JnHs commented on #64584
Hi @DarthRinzler, thanks for sharing this feedback. Can you tell me if there is a particular scenario you're trying to enable for which a sample would be useful? Or a problem you're trying to solve?

[2020-10-23 00:25] DarthRinzler commented on #64584
I am trying to access a keyvault from a linux batch compute node in .NET
core. I had to setup a service principle, give it access to the vault, and
then deploy a certificate to the node

On Thu, Oct 22, 2020, 5:21 PM JH <notifications@github.com> wrote:

[2020-10-23 00:36] TravisCragg-MSFT commented on #64492
@ScottMetzel Thanks for the feedback! You are correct, this range is now listed in the IP ranges doc. I have removed this line, and the doc will reflect the update within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.