[2020-12-23 11:42] LeroyK commented on #68028
Ah, I missed that, since it is on another page. It might be good to add a note to all pages that refer to encryption as host, indicating that this feature needs to be activated by sending an e-mail.

The current documentation is conflicting and therefore confusing. For example, the [Host-based encryption on Azure Kubernetes Service (AKS) (preview)](https://docs.microsoft.com/en-us/azure/aks/enable

[2020-12-23 11:47] AshokPeddakotla-MSFT commented on #67985
@zaalion Unable to repro what you have mentioned. Could you please be more specific and add some example for better understanding of this issue?

I am adding author @wesmc7777  as well for further insights.

[2020-12-23 12:00] at9045 commented on #67914
Yes

On Wed, 23 Dec 2020, 10:53 am HarshitaSingh-MSFT, <notifications@github.com>
wrote:

[2020-12-23 12:29] t-leblanc opened #68048 "Silent import of azurevpnconfig.xml"
Hello,

Is there a switch we can use to silently import the config. We will need to distribute this xml file across all users.
With the command **azurevpn -i azurevpnconfig.xml** mentioned in the doc, the Azure VPN client opens which is not desirable when distributing the config file through GPO, SCCM or other tool.

Thank you in advance,
Thomas

---
#### Document Details

⚠ *Do not edit this sect

[2020-12-23 12:52] GitaraniSharma-MSFT commented on #68039
@maotsuk , Thank you for your feedback. We'll review this and get back to you shortly.

[2020-12-23 12:53] GitaraniSharma-MSFT commented on #68048
@t-leblanc , Thank you for your question. We are currently investigating and will update you shortly.

[2020-12-23 12:58] mcurko commented on #67473
Thank you, i confirm that the issue is resolved.

[2020-12-23 13:06] 2sharjoshi commented on #67586
Thank you very much @SubhashVasarapu-MSFT for showcasing the alert configuration it will surely help.
For alert condition though it seems I should have some custom metric where total flows (as explained in the [document](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-machine-network-throughput) should be calculated per unit time).

Assuming below sample table with 24 hour time rang

[2020-12-23 13:15] psmanhas commented on #68007
@lissff Can you help me understand if you need to find a way which can specify SP and MSI for  cluster or you just need to find ways to get these values?

Thanks

[2020-12-23 13:16] psmanhas commented on #68023
@badalk Can you please explain your issue in brief so I can help you out better?

Thanks

[2020-12-23 13:20] psmanhas commented on #68042
@thiemel Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-12-23 13:20] psmanhas commented on #68042
@genlin Can you please check and add your comments on this doc update request as applicable

[2020-12-23 13:21] psmanhas commented on #67984
@greendx Can you please provide information as per ask so we can help you out better?

Thanks

[2020-12-23 13:27] jacbeekers opened #68051 "Python example has syntax errors"
The python code example has a semicolon at the end of some statements.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b531d61d-43fc-4535-725e-5aa68b849466
* Version Independent ID: e36529d3-e600-46ec-dbcf-dbf62bd2f750
* Content: [Copy a blob with Azure Storage APIs](https://docs.microsoft.com/en-us/azure/storage/blobs/

[2020-12-23 13:36] genlin commented on #68042
@thiemel  Thanks for pointing out the issue. I will fixed it.

[2020-12-23 13:56] SAIMMINHAS opened #68053 "Authentication method: Access key (Switch to Azure AD User Account) not working properly"
Hi,

I created a Container and added a new 'role assignment' to a user for the 'Storage Blob Data Contributor'. But when i log in using that user, i don't see any Storage Accounts. Not sure why. I've tested with some other users as well but same issue.

Below are the snapshots of the issue:

![image](https://user-images.githubusercontent.com/30388154/103002265-7fcac100-4526-11eb-857f-4a84095a095c.

[2020-12-23 13:57] wlitke-dn commented on #67597
In the meantime I was able to find a way of assigning role definitions to the Service Bus on the Service Bus level (instead of Queue, Topic or Subscription level). The below ARM resource-snipped is the way to go (don't forget to replace the <...> placeholders!).
**But it's still open how Queues, Topics or Subscriptions can be addressed.**

[code]

[2020-12-23 14:06] jpmlblog opened #68055 "Add information about "Enable Deep Learning""
[Enter feedback here]
I understand that enabling "Enable Deep Learning" in a classification task will use BERT or BiLSTM. Please add the description and reference link on this page.

Example:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc4e187d-ef1b-b3a8-6b06-0f41a89fec3e
* Version Independent ID: 26ed409d-f7d7-fd85

[2020-12-23 14:13] genlin commented on #68042
@thiemel  I have submmited a PR to fix the issue (add line break between the two commands). i will process to close this PR. Thanks again.

#please-close

[2020-12-23 14:13] #68042 closed

[2020-12-23 14:16] AnuragSharma-MSFT commented on #67952
@JasonPan Would it be possible to share some pseudo code of the query you want to build, that way it will be easier to see if query is really possible to write or not based on your description. Also if possible please attach few documents on which we can run the query on.

[2020-12-23 14:18] vipulsparsh commented on #68037
@zjorz  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2020-12-23 14:18] vipulsparsh commented on #68037
@jasonnutter  Can you have a look at this ?

[2020-12-23 14:19] vipulsparsh commented on #68046
@alvipeo Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2020-12-23 14:20] vipulsparsh commented on #68046
@MicrosoftGuyJFlo  Can you have a look at this ?

[2020-12-23 14:52] satrijotomo opened #68057 "Errors received when following the tutorial"
When testing this tutorial for one of my customers, I got several errors in my R Studio session. This is regardless if I use the built in libraries from the VM (compute) or install them manually using the procedure at the beginning of the tutorial.

Error in view_run_details(run) :
  could not find function "view_run_details"

Error: object 'metrics' not found

Error: C stack usage  127247993764 i

[2020-12-23 15:19] jsk999 opened #68058 "Powershell script for extracting calendar entries from different calendars. I have owner access to these calendars. Can someone advise if there's a script to achieve this?"

[2020-12-23 15:31] akkaneko-ms commented on #60776
@shashishailaj , I'm seeing same issue.
![image](https://user-images.githubusercontent.com/48912421/103012417-ee3b6d80-457e-11eb-9daf-9516d3ca3e96.png)

[2020-12-23 15:34] sderungs opened #68059 "outdated steps"
[Enter feedback here]
Step 2, point 2: "Security page, select API Reference" -> this information is outdated/incorrect

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c64daae8-0d9c-5986-043f-e383d06827d9
* Version Independent ID: 65c4180b-3540-6de6-2b6e-833d1793fb65
* Content: [Tutorial: Configure G Suite for automatic

[2020-12-23 15:40] brownz11 opened #68060 "Trusted Service Entry for Application Gateway should note it has no effect"
According to the page "[TLS termination with Key Vault certificates](https://docs.microsoft.com/en-us/azure/application-gateway/key-vault-certs)" Application Gateways require Key Vaults they leverage to be public. Having them listed as a trusted service is misleading since it's non-operational: you can not have a Key Vault with firewall enabled that is also leveraged by an Application Gateway.

Wh

[2020-12-23 15:49] helloyesthisisdave commented on #67463
Good day, is there any update on this @vvasic-msft ?  I am still unable to use CETAS functionality as per the documentation, which significantly impacts my ability to do what I need to with Synapse.

[2020-12-23 15:52] #66007 closed

[2020-12-23 16:27] Chambras opened #68061 "Cloud-init overview table out of date"
[Enter feedback here]
According to this table https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-automate-vm-deployment#cloud-init-overview
Cloud-init in CentOS is in Preview, but according to our documentation:
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/using-cloud-init#centos

it is already supported. This page needs to be updated with up to date informatio

[2020-12-23 16:29] DerekHerman-MSFT commented on #68028
@LeroyK Thanks for the feedback. I have assigned the issue to the content author to investigate further and update the document(s) as appropriate.

[2020-12-23 16:32] adstuart commented on #67548
@sgreci @stevestein @rohitnayakmsft

You do not need an A record in your Azure DNS private zone (_privatelink.database.windows.net_) for the FOG listener.

Once you config the failover group and utilise your FOG FQDN (_<fog-name>.database.windows.net_), we automatically insert a CNAME behind the scenes that redirects to your active primary instance (_<sql_server>.database.windows.net>_).

This in

[2020-12-23 16:35] adstuart commented on #64573
For anyone else landing here, see my comment here;
https://github.com/MicrosoftDocs/azure-docs/issues/67548#issuecomment-750375832

[2020-12-23 16:56] JamesTran-MSFT commented on #68059
@sderungs
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-23 16:57] JamesTran-MSFT commented on #68060
@brownz11
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-23 17:07] amitbapat commented on #68060
Please assign this to @sebansal - This is most likely a documentation problem that App Gateway team needs to resolve.

[2020-12-23 17:07] GitaraniSharma-MSFT commented on #68035
@ZhuXiaoBing-cn , Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-12-23 17:08] SAIMMINHAS commented on #68053
Managed to solve the issue by myself.

[2020-12-23 17:08] #68053 closed

[2020-12-23 17:26] mamccrea commented on #67618
Please check out [how to call Azure REST APIs with curl](https://docs.microsoft.com/rest/api/azure/#how-to-call-azure-rest-apis-with-curl). It links to [this blog article](https://mauridb.medium.com/calling-azure-rest-api-via-curl-eb10a06127) which shows you how to get a token.

[2020-12-23 17:39] msftradford opened #68063 "XCode Signing Interface Has Changed"
The instructions are out-of-date with respect to the location of the signing settings in modern XCode (12.2)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42599e6f-3abc-e5c3-fdb7-f59b68cf2b6e
* Version Independent ID: 4f3b38e7-1ac0-569c-b1ba-13c0e2c4df3f
* Content: [Quickstart: Create a Unity iOS app - Azure Spatial A

[2020-12-23 17:39] GitaraniSharma-MSFT commented on #68041
@ramakrpr , Thanks for leveraging Azure docs feedback channel to raise these queries. We will review the questions and get back to you shortly.

[2020-12-23 17:41] ToddGe opened #68064 "Typo on page"
The following page has a typo:

https://docs.microsoft.com/en-us/azure/virtual-machines/prepay-reserved-vm-instances#use-reservation-recommendations

Purchase recommendations and recommended quantity are **_show_** when you purchase a VM reserved instance in the Azure portal.

Should be **_shown_**
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-12-23 17:43] mike-urnun-msft commented on #67832
@motasem13 Please feel free to send us an email as mentioned in my previous comment above, or reach out via Teams internally. Since this channel is for driving improvements towards MS Docs and we didn't determine any changes upon reviewing this issue, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the dis

[2020-12-23 17:43] #67832 closed

[2020-12-23 17:47] JamesTran-MSFT commented on #68064
@ToddGe
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-23 17:48] JamesTran-MSFT commented on #67859
@Leonardo-Ferreira
Since I haven't heard from you in a few days, I'll go ahead and close out this issue. If you require additional support, please feel free to tag me and I'd be more then happy to re-open this issue and continue working with you.

Thank you for your time and patience throughout this issue.

[2020-12-23 17:48] #67859 closed

[2020-12-23 17:50] sjosyula3 opened #68065 "StorageException and RoleAssignmentUpdateNotPermitted errors while applying RBAC via REST API -"
I am attempting to provide "reader" and "contributor" access to a subscription using REST-API, and it seems to be failing at random.([I am following this document for this process](https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-rest)

**Everyone once in a while I DO get a proper 201 response, with successful role based permission applied**
However, at random I am

[2020-12-23 18:04] WinstonHoward-MSFT commented on #68061
Thanks @Chambras, I've assigned this doc issue to the doc author to update the table. Thanks.

[2020-12-23 18:05] JamesTran-MSFT commented on #68064
@ToddGe
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-23 18:06] msftradford commented on #68063
opened AB#{31158563}

[2020-12-23 18:06] Karishma-Tiwari-MSFT commented on #67978
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-23 18:12] JamesTran-MSFT commented on #68059
@sderungs
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-23 18:21] artisticcheese opened #68066 "There is no query with name "MicrosoftDefaultComputerGroup""
From page
[code]
There is no query with name `MicrosoftDefaultComputerGroup`

![image](https://user-images.githubusercontent.com/13176884/103026362-59eaef80-4519-11eb-9683-43981c9167dd.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a94d637-558c-b26e-a1de-c4381aa6783c
* Version Independent ID: d8c47851-0ac5-3932-e

[2020-12-23 18:22] msftradford commented on #68063
Addressed with MicrosoftDocs/azure-docs-pr#141720

#please-close

[2020-12-23 18:22] #68063 closed

[2020-12-23 18:35] kgremban commented on #58878
@mfilippo since we haven't heard back from you in a while, I'm going to close this issue. If you have any further comments or questions on this topic feel free to comment here again and we can reopen it.

#please-close

[2020-12-23 18:35] #58878 closed

[2020-12-23 18:42] kgremban commented on #59553
@jackt-moran Since we haven't heard back from you, I created a pull request to add these recommended SAS permissions to the documentation and will close this issue when those changes are merged. If you have and further comments or questions about this topic, feel free to post here again and we can reopen the issue. Thank you for bringing this issue to us.

[2020-12-23 18:45] #59553 closed

[2020-12-23 18:49] ilyalehrman opened #68068 "Inaccurate information on Change Password URL"
There is no Change Password URL in Azure, and if there is, it's not referenced in the tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fdf59c4-653e-956e-d675-f7e17ed7d488
* Version Independent ID: 57b9c048-a938-6e21-633b-e0aabdd59946
* Content: [Tutorial: Azure Active Directory single sign-on (SSO) integration

[2020-12-23 18:58] himanshusinha-msft commented on #68058
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on Microsoft Q&A and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an update

[2020-12-23 19:01] himanshusinha-msft commented on #68068
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-12-23 19:03] himanshusinha-msft commented on #68066
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-12-23 19:05] himanshusinha-msft commented on #68065
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-12-23 19:06] himanshusinha-msft commented on #68057
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-12-23 19:07] himanshusinha-msft commented on #68055
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-12-23 19:11] himanshusinha-msft commented on #68051
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-12-23 19:25] #68066 closed

[2020-12-23 19:28] ChaitanyaNaykodi-MSFT commented on #67841
Hello @garthoid, we will now proceed to close the issue out, please tag me in your reply if there are any additional concerns I will be glad to continue with our discussion. Thank you!

[2020-12-23 19:28] #67841 closed

[2020-12-23 19:41] AjayKumar-MSFT commented on #67937
@saravanakumarrc, Apologies for the delay!

You may enter the Connection String value without the double quotes and then check.
In appsettings.json, you need to _replace_ the value of the "MyDbConnection" connection string with:
"Server=tcp:<servername>.database.windows.net,1433;Database=todolist;User ID=<username>;Password=<password>;Encrypt=true;Connection Timeout=30;"

Just to highlight, at run

[2020-12-23 19:45] StingyJack opened #68070 "This section is missing any information describing how to connect and execute the SQL..."
... or if this s for getting data into or out of databricks or both.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecfca52d-a392-f63c-ffe1-268d4c480cee
* Version Independent ID: 4010709b-99e5-f0ed-adb4-8f9cc3899862
* Content: [Azure Databricks for SQL developers - Azure Databricks - Workspace](https://docs.microsoft.c

[2020-12-23 20:02] JayaChatterjee-MSFT commented on #67849
@xtianus79  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-23 20:02] #67849 closed

[2020-12-23 20:29] AjayKumar-MSFT commented on #67910
@PavelNL, Hope the information provided above helps.
In regards to your doc feedback on the process outlined to 'create a virtual machine' with default Ubuntu image is shared with the content author for further review via a PR. After the review, the doc changes may be made as required.

We will close this thread for now. If there are further questions regarding this matter, please tag me in your r

[2020-12-23 20:29] #67910 closed

[2020-12-23 20:44] MikePennington commented on #20971
@craigshoemaker Has this information been added anywhere besides this thread? Do we need to open up another issue for this?

[2020-12-23 20:59] revodavid commented on #68057
I have seen a similar "C stack usage" error from other R SDK functions. I suspect it is related to the version of the "reticulate" package in use. One thing to try is to install the latest version of [reticulate from GitHub](https://github.com/rstudio/reticulate) and see if that clears up the error.

[2020-12-23 21:08] omerzubair opened #68071 "'Selected Network' means public! unless ip is added"
This "Selected Network" behaviour is very different from other PaaS resources and also accepts internal IP address.
Other PaaS resources share the same screen (example storage account does not accept internal ip address)

To summarise:

•	Weather the radio button is “All networks” or “Selected Networks” then the firewall is open to public. Until we add atleast one IP to the firewall?
•	We want to

[2020-12-23 21:50] JamesTran-MSFT commented on #68022
@nermin-sahmanovic
Thank you for your post! I walked through the same commands you posted and received the same message.
![image](https://user-images.githubusercontent.com/36619112/103038486-6f651700-4523-11eb-8a6f-5f0f5ede050c.png)

As stated in the message, the app created isn't compatible with SSO because it was created using the App registrations experience ([New-AzureADApplication](https://do

[2020-12-23 21:50] #68022 closed

[2020-12-23 22:04] HaimBendanan commented on #64073
Got this error too, after following the docs step by step:
1. Create B2C tenant
https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-tenant
2. Register SPA
https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-register-spa
3. Create user flow
https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-user-flows

When validating the sign up and

[2020-12-23 22:16] gsimardnet opened #68072 "Setup multi-tenant without custom policies ?"
Is it possible to setup sign-in using the Azure AD multi-tenant endpoint without custom policies?
The title of this article mentions "using custom policies" even when we are in the "User Flow" section and nowhere we see how to configure custom policies. Nonetheless, I followed the steps and couldn’t successfully achieve a multi-tenant config.

I assume there is a mistake under "Configure Azure AD

[2020-12-23 23:06] daviburg opened #68073 "Add immediate 202 Accepted or 204 No Content request response action for IDOC receive Logic App best practice"
Add a step to immediately reply with status code (200 OK) 202 Accepted or 204 No Content for IDOC receive (and empty body). This action should be added immediately after the trigger to free up the communication channel with SAP. As IDOCs are transferred over asynchronous tRFC calls, there is no response payload to be provided back to SAP and it is degrading performance to hold up the communication

[2020-12-23 23:33] JamesTran-MSFT commented on #68072
@gsimardnet
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-23 23:43] dargilco opened #68075 "Bad "Additional configuration" link"
When I click on the "Additional configuration" link in the sentence "Additional configuration is needed to enable the formats listed below.", it leads nowhere...looks like it's loading the exact same page I'm at right now. I expect to see a link to a document saying which AudioConfig (?) properties I need to set or methods to call in order to configure compressed input in Speech SDK.

Darren

---

[2020-12-23 23:49] mayanknayar commented on #67495
@mjcarrabine the off-peak hour period is usually a few hours before and after midnight local time, typically after 10PM local time. The exact timing is not fixed as peak regional loads and other maintenance activity can lead to different start times. The timing is common for a particular region and does not use the VM's internal active hour definition. We are working on enabling custom maintenance

[2020-12-24 00:08] gitguy007 opened #68076 "After migration to authoring resource, unable to see LUIS apps anymore."
The LUIS portal is showing "You don't have any apps yet."

Just migrated a few days ago.

Although LUIS is still returning the correct intents when I run my bot service.

So this is kinda perplexing as I am unable to edit the utterances and entities.

Tried searching online for answers e.g. IP whitelisting etc but does not apply to my Azure service.

Appreciate any advice.

---
#### Document Detai

[2020-12-24 00:34] mayanknayar commented on #63026
@psmanhas the query is addressed in the documentation. Two points to note:
In the intro section we have called out "Automatic OS image upgrade can be enabled on a scale set of any size". In addition, the upgrade process section of the doc mentions "The upgrade orchestrator identifies the batch of VM instances to upgrade, with any one batch having a maximum of 20% of the total instance count, subje

[2020-12-24 00:43] lissff commented on #68007
I need a unified way to get sp/msi clientID. Is there any?
Is there anyplace in portal or one az command line,that I could get this ID？without knowing if the aks is using sp or msi beforehead?

On 12/23/2020 21:15, PreetiManhas-MSFT wrote:

@lissff Can you help me understand if you need to find a way which can specify SP and MSI for cluster or you just need to find ways to get these values?

Thank

[2020-12-24 00:54] ChaitanyaNaykodi-MSFT commented on #68073
Hello @daviburg,  Thank you! We have assigned this issue to the author to review further and take the next course of action.

[2020-12-24 00:57] ChaitanyaNaykodi-MSFT commented on #68071
Hello @omerzubair,  Thank you for your feedback! We will review and update as appropriate.

[2020-12-24 00:59] ChaitanyaNaykodi-MSFT commented on #67885
Hello @joemitchard, Thank you for the feedback, I have made a PR to address the issue and is currently pending under Doc Author's review. We will now proceed to close this issue out, please tag me in your reply if there are any additional concerns. Thank you!

[2020-12-24 00:59] #67885 closed

[2020-12-24 01:41] ZhuXiaoBing-cn commented on #68035
@GitaraniSharma-MSFT, Thank you very much for your reply. This is a problem I have encountered in use,  so there is no corresponding URL. It's more like a product question. I will post it on Microsoft QnA or Stack Overflow according to your suggestion.

[2020-12-24 01:41] #68035 closed

[2020-12-24 03:52] AnuragSharma-MSFT commented on #67880
@laultman We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-12-24 03:52] #67880 closed

[2020-12-24 04:01] CHEEKATLAPRADEEP-MSFT commented on #68070
@StingyJack You have checked this link Queries in SQL Analytics, which describes how to connect and execute the SQL queries in SQL Analytics.

![image](https://user-images.githubusercontent.com/44426401/103059324-cb36ab00-45ca-11eb-823a-7373150beb12.png)

Hope this helps.

[2020-12-24 05:03] AnuragSharma-MSFT commented on #67994
@MhAllan Thanks for pointing it out. I verified it and the code mentioned belongs to v2. This is being assigned to the content author to evaluate and update as appropriate.

[2020-12-24 05:22] ram-msft commented on #68075
@dargilco Thanks for the feedback! We will review and update accordingly.

[2020-12-24 05:27] RohitMungi-MSFT commented on #68075
#https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/588#issuecomment-615524644

[2020-12-24 05:31] BryanTrach-MSFT commented on #67575
@rido-min I just worked through the document and did not have an issue. The difference appears to be that I used CLI 2.16 where you used 2.9.1.

Can you please try updating to CLI 2.16 and let us know if you still have the issue?

We look forward to your reply.

[2020-12-24 05:52] ANKGITDEMOS opened #68078 "Syntax Error: var client = new CommunicationIdentityClient(ConnectionString); // should be var client = new CommunicationIdentityClient(connectionString);"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a29430c6-fd84-c423-db14-4f87853dc5d6
* Version Independent ID: 99605c52-055e-8361-4540-2527fd0ad342
* Content: [Quickstart - Create and manage access tokens - An Azure Communication Services quickstart](https://docs.microsoft.com/en-us/azure/communica

[2020-12-24 05:54] AshokPeddakotla-MSFT commented on #67999
@ytthuan To give more context, C2D is different of Direct Methods.
IoT Hub provides three options for device apps to expose functionality to a back-end app:

[Direct methods](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-direct-methods) for communications that require immediate confirmation of the result. Direct methods are often used for interactive control of devices such as tu

[2020-12-24 06:13] kjayantmenon opened #68079 "E: Installation on Debain 10 - startup fails"
To install IoTEdge on our device, powered by ARM 64 running Debian 10, I've been try to follow the [documentation]( https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge?view=iotedge-2018-06&tabs=linux.), while making the necessary changes for Debian 10.
After multiple failure, I took cue from this [issue](https://github.com/MicrosoftDocs/azure-docs/issues/33881), and directly ed

[2020-12-24 06:14] RohitMungi-MSFT commented on #68076
@gitguy007 Since your app is responding with your bot service it looks like your app is created with an authoring resource other than the migrated resource. Could you please try to change your authoring resource to all that are available from the list and check where your app is available by clicking the change authoring resource from the profile of LUIS portal?

![image](https://user-images.githu

[2020-12-24 06:34] yahanda commented on #67618
I have confirmed that it can be created by following the procedure of the link you posted. please close the issue. Thanks!

[2020-12-24 06:34] #67618 closed

[2020-12-24 06:50] femsulu commented on #67892
Hello @xuegao0112 ,  adding cloud_host name is currently only supported via code-based integration. There's a growing demand for support via codeless AI integration by the community which is evident in this related [feature request](https://feedback.azure.com/forums/357324-azure-monitor-application-insights/suggestions/39773818-ability-to-set-cloud-role-name-with-codeless-solut). Kindly upvote the

[2020-12-24 06:57] femsulu commented on #67892
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-12-24 06:58] #67892 closed

[2020-12-24 07:06] #68078 closed

[2020-12-24 07:07] BhargaviAnnadevara-MSFT commented on #68078
@ANKGITDEMOS That is correct, thank you for catching that error in the docs! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-12-24 07:15] anuraj opened #68080 "How do I customize verification emails (the content and the "From:" field) sent by Azure AD B2C?"
This [section](https://docs.microsoft.com/en-us/azure/active-directory-b2c/faq?tabs=app-reg-ga#how-do-i-customize-verification-emails-the-content-and-the-from-field-sent-by-azure-ad-b2c) talks about customizing from mail address, but it is mentioned that - _Currently there is no way to change the "From:" field on the email._ but this [documentation](https://docs.microsoft.com/en-us/azure/active-di

[2020-12-24 07:36] gitguy007 commented on #68076
Thanks for your reply. 
May I know will the app be visible immediately in Luis portal once I successfully change to the appropriate authoring resource? 
I will try AU and EU later. 

FYI, from Azure portal, the resources in the resource group seems to be all from South East Asia. I cross checked the mapping between regions and it is supposed to be West US. 
Thanks n regards, Jason. 

Sent from Yah

[2020-12-24 08:01] nickvanmaele opened #68081 "Unable to select value for Power BI card"
Hi,

First of all thank you for a great tutorial!

As a remark, I was unable to create a card in Power BI Pro because the "add value" was greyed out in the Field area.
I did manage to create a line chart so the dataset in itself was working

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a08f205e-f19b-50e4-657d-4e97bf01

[2020-12-24 08:17] AnuragSharma-MSFT commented on #67952
@JasonPan Awaiting your response on above comment.

[2020-12-24 08:23] CHEEKATLAPRADEEP-MSFT commented on #68081
@nickvanmaele  Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-24 08:23] #68040 closed

[2020-12-24 08:35] amanmcse commented on #67912
@cjmakwana I tested the sample in this doc but couldn't reproduce the error. Could you please share your code?

[2020-12-24 08:36] SwathiDhanwada-MSFT commented on #67957
@konopkap Please note that the guideline is recommendation based on best practices. All instances of AppGW are configured in active-active setup and must share the same configuration. This means that WAF engine has to be loaded on each instance for each listener. An instance of Application Gateway can host up to 40 websites and protect these web applications at the same time by a web application f

[2020-12-24 08:36] #67957 closed

[2020-12-24 09:17] assaf-grth commented on #67601
Hi @VikasPullagura-MSFT,

I checked the B series and since we need an operating website without known activity hours in advance, there is a risk of not having enough credits and the site being unresponsive

Is using B series VMs for wordpress websites an official recommendation?

[2020-12-24 09:18] assaf-grth commented on #67819
Hi @psmanhas, any updates?

[2020-12-24 09:33] AshokPeddakotla-MSFT commented on #68079
@kjayantmenon Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-24 09:37] SumanthMarigowda-MSFT commented on #67922
@zodapoplinsky The PR has been initiated. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-24 09:37] #67922 closed

[2020-12-24 09:39] RohitMungi-MSFT commented on #67911
@terrychang1015 We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply

[2020-12-24 09:39] #67911 closed

[2020-12-24 09:43] eshwarkasthuri opened #68082 "B2C signOut is going to blank screen with 404 error"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-12-24 10:07] RohitMungi-MSFT commented on #68076
@gitguy007 As per the migration guide documentation the apps should be visible immediately if you have seen the option to export your apps. I hope this document could help in your scenario. If there are still issues with apps not visible in the portal we can help you with a support ticket where a service engineer can check for any issues related to the migration.

[2020-12-24 10:34] mcurko opened #68083 "EventStore availability"
Expanding my previous question, this is what I found out about EventStore:

Available on: Azure, standalone Windows, dev cluster
Events can be accessed by SFX: Azure, standalone Windows (*no* dev cluster)
Events can be accessed by API: Azure, dev cluster (*no* standalone Windows)

Edited: I observe that seemingly identical cluster configurations result in different behaviours on various Windows se

[2020-12-24 11:03] ncagney commented on #55043
It was not, we had to create a separate @outlook.com email and thankfully
we were allowed to use that.

On Thu, 17 Dec 2020 at 11:14, Hedy Mahmoudi <notifications@github.com>
wrote:

[2020-12-24 11:09] pkruesi opened #68084 "Missing Bandwith for B-Series"
Hi

Whats the expected bandwith for the B-Series?

Thanks for answer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cd2e24b-0fd3-d698-2840-3f8206933026
* Version Independent ID: 832dc371-480a-c74a-e956-e1904473af31
* Content: [B-series burstable - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual

[2020-12-24 11:42] ram-msft commented on #67953
@kzuenkler-avanade Thanks, We could similar question posted in Microsoft Q&A.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-24 11:42] #67953 closed

[2020-12-24 11:55] ylashin opened #68086 "Import fails using sample glossary file"
`StarterKitTerms.csv` has user accounts @microsoft.com. Apparently those are not found in AAD of anyone other than Microsoft staff. The accounts themselves could be dummy as well but that's not very relevant.

When I imported the file, I got an error message that some users are not found and import failed. The following is from the step to import csv for a custom term template where the same conce

[2020-12-24 11:59] mormond opened #68087 "The process to snapshot / extract is incorrect / misleading"
For a Gen 1 VM, the document walks you though *explicitly* creating an unmanaged disk.

For a Gen 1 VM the later instructions to create a snapshot and extract the VHD are incorrect and confusing. This process is only required for managed disks (presumably in there for the Gen 2 VMs).

[Take a snapshot](https://docs.microsoft.com/en-us/azure/marketplace/azure-vm-create-using-approved-base#take-a-sn

[2020-12-24 12:11] mormond opened #68088 "Deployment of ARM Template fails for Gen 1 Linux VMs"
For a Gen 1 VM the provided script does not work for Linux VMs as it contains Windows specific VM extensions. There is an option to select OS type in the parameters but it has no effect on the VM extension element. The deployment fails for Linux VMs.

[Prepare an Azure Resource Manager template](https://docs.microsoft.com/en-us/azure/marketplace/azure-vm-image-test#prepare-an-azure-resource-manage

[2020-12-24 12:21] mormond opened #68090 "VM Extensions cannot be used to customise a VM Offer"
Under the section [Perform custom configuration and scheduled tasks](https://docs.microsoft.com/en-us/azure/marketplace/azure-vm-create-using-approved-base#perform-custom-configuration-and-scheduled-tasks) it states

The link takes the reader to documentation about using virtual machine extensions on Linux. However as this is an article about creating a VM offer for Azure Marketplace, virtual mach

[2020-12-24 12:22] psmanhas commented on #68084
@pkruesi  Thank you for your query!!!

As per the Azure Compute backend team, the B-series is variable, so they have not published any networking numbers that may not always be accurate. The design of the B series does not provide the user with a consistent level of network performance. In addition, the B series is designed for more CPU intensive workloads as that is what we are really scaling out

[2020-12-24 12:31] 662424 commented on #23954
Worked like a charm! :)

[2020-12-24 12:39] SwathiDhanwada-MSFT commented on #68088
@mormond Thanks for your comment. We will review the issue and get back to you shortly.

[2020-12-24 12:40] SwathiDhanwada-MSFT commented on #68087
@mormond Thanks for your comment. We will review the issue and get back to you shortly.

[2020-12-24 12:50] DJuanes commented on #67210
I am sorry, but I do not speak English.
I tried again and it gave me the same error

El vie, 18 dic 2020 a las 17:34, viseshag (<notifications@github.com>)
escribió:

--
Business Intelligence Consultant
Mobile: +54 9 11 2461 1317
Phone:  +54 11 4780 3700
E-mail: diego.juanes@dataiq.com.ar
Twitter: @dhjuanes
Linkedin: ar.linkedin.com/in/diegojuanes

Data IQ
Av. Del Libertador 5478 Piso 4
C1426BXP -

[2020-12-24 12:58] amanmcse commented on #66320
@jeffzhu1990  B2C is not currently available in these regions: Argentina, Australia, Brazil, Chile, Colombia, Ecuador, Iraq, New Zealand, Paraguay, Peru, Uruguay, and Venezuela. These regions are in process of being added to B2C Region availability list and MAU will be supported for these regions as well.

[2020-12-24 12:58] #66320 closed

[2020-12-24 12:58] AshokPeddakotla-MSFT commented on #68034
@pnarsi Here is the document [Encryption of data at rest with customer-managed keys for Device Provisioning Service](https://docs.microsoft.com/en-us/azure/iot-dps/iot-dps-customer-managed-keys). Do let us know if you need further help.

[2020-12-24 13:03] gitguy007 commented on #68076
Hi, I have tried creating authoring resources for Europe and Australia but still unable to see any apps.
Couldn't create for Switzerland and Central US due to error during creation.
If possible, plz create a ticket for me. I would like to find out the root cause.
I have another account used for Production environment in the organization I am working in and would like to prevent a similar situation

[2020-12-24 13:06] #67912 closed

[2020-12-24 13:20] SadiqhAhmed-MSFT commented on #68027
@pauldj54 Did the script shared by @mumian helped?

[2020-12-24 14:03] RohitMungi-MSFT commented on #68076
@gitguy007 The support issue needs to be created by the users of the subscription which will be assigned to our service engineers for further investigation. If you do not have a valid support plan please email us your subscription id and URL of this thread to AzCommunity[at]microsoft[dot]com to enable a one time free support request for your subscription. We will let you know more details on how t

[2020-12-24 14:07] vipulsparsh commented on #68080
@anuraj Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2020-12-24 14:20] StingyJack commented on #68070
@CHEEKATLAPRADEEP-MSFT  SQL developers are used to having a database driver, sql query analyzer or Sql management studio, and a connection string, and being able to query the db directly in adhoc fashion.

That's the missing info.

[2020-12-24 14:21] AjayKumar-MSFT commented on #68082
@eshwarkasthuri, Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?

This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2020-12-24 14:24] PramodValavala-MSFT commented on #67992
@zimmerab the dockerfile is the same as the one generated for Azure Functions when running `func init --docker-only` and as the doc mentions in [this section](https://docs.microsoft.com/en-us/azure/logic-apps/create-stateful-stateless-workflows-visual-studio-code#open-the-workflow-definition-file-in-the-designer), .NET 5 isn't supported and suggests a `global.json` file to lock the version used.

[2020-12-24 14:26] AjayKumar-MSFT commented on #68082
Your feedback could be related to this [document ](https://docs.microsoft.com/azure/active-directory-b2c/session-behavior?pivots=b2c-user-flow#sign-out) and accompanying steps, kindly do confirm.

[2020-12-24 14:55] hansmbakker opened #68091 "Missing documentation for new Azure.Messaging.ServiceBus nuget package"
The provided documentation assumes the old `Microsoft.Azure.ServiceBus` package; updated documentation for the new `Azure.Messaging.ServiceBus` package is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8c95270-3f41-13fb-5676-f3c61d00e64e
* Version Independent ID: b25b389a-feac-7cf1-b2b7-df0a24fa412a
* Content

[2020-12-24 14:56] porrascarlos802018 opened #68092 "Extension in preview not mentioned."
customers may want to use -private-dns-zone  but in order to do that they will have to have enabled the extension aks preview and updated it.

az extension add --name aks-preview
az extension update --name aks-preview

The flag itself its part of a preview, so please clarify in the document if a cluster deployed with that flag will be affected by preview policy or not , it would be deal like GA  c

[2020-12-24 14:56] hansmbakker opened #68093 "Missing documentation for new Azure.Messaging.ServiceBus nuget package"
The provided documentation assumes the old `Microsoft.Azure.ServiceBus` package; updated documentation for the new `Azure.Messaging.ServiceBus` package is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62521082-c9fb-646f-6db0-2cdabe486dab
* Version Independent ID: ebf938ec-1d97-1cfd-ad28-5e616990d658
* Content

[2020-12-24 15:07] MarileeTurscak-MSFT commented on #67962
Response from the PG:

We use a 3rd party provider for geolocation services, but that list is not published. You can leave feedback to add this mappinghere: aka.ms/iplocationfeedback

[2020-12-24 15:07] #67962 closed

[2020-12-24 15:10] MarileeTurscak-MSFT commented on #67344
Hi @iloving,

In order to create the app password the user needs to be enabled for MFA. Can you please check that "MULTI-FACTOR AUTH STATUS" is enabled and try again?

Additionally, combined security information registration for Azure Active Directory cannot be enabled for the user. https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-registration-mfa-sspr-combined

![ima

[2020-12-24 15:34] TheSilverCanuck opened #68094 "Have "Azure Products by Region" updated to include region-availability information for "Azure Monitor for VMs""
Cheers Brian!

For the benefit of clarity, it would be **great** if the article entitled "Azure Products by Region" (https://azure.microsoft.com/en-us/global-infrastructure/services/?products=all) included a subsection for "Azure Monitor for VMs" indicating region availability, as per the article entitled "Enable Azure Monitor for VMs guest health (preview)" (https://docs.microsoft.com/en-us/azure

[2020-12-24 15:35] psmanhas commented on #68092
@porrascarlos802018 Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2020-12-24 15:35] psmanhas commented on #68092
@mlearned Can you please check and add your comments on this doc update request as applicable

[2020-12-24 15:42] psmanhas commented on #67819
@assaf-grth I am still awaiting their response. Apologies for all the inconvenience.

[2020-12-24 15:50] psmanhas commented on #68007
@lissff Thank you for the clarity.

You can find the MSI or SP associated with an object like for Service Principal of AKS Cluster:

Go to Azure Active Directory >> App Registrations >> Select All Apps from the dropdown menu >> find your app and click on it.

The service principal will be the application Id and the secret will be the key under settings.

Similarly to find MSI through following com

[2020-12-24 15:51] psmanhas commented on #67984
@greendx We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-12-24 15:52] SwathiDhanwada-MSFT commented on #68093
@hansmbakker Thanks for your comment. We will review the issue and get back to you shortly.

[2020-12-24 15:55] SwathiDhanwada-MSFT commented on #68094
@TheSilverCanuck Thanks for your feedback.

Assigning to content author @bwren for reviewing the issue.

[2020-12-24 16:01] JayaChatterjee-MSFT commented on #67954
@komayama  Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-24 16:01] #67954 closed

[2020-12-24 16:26] rodrigorodriguez commented on #24366
https://docs.microsoft.com/en-us/azure/search/search-howto-index-azure-data-lake-storage

[2020-12-24 16:50] psmanhas commented on #68083
@mcurko Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-12-24 16:50] psmanhas commented on #68083
@athinanthny
Can you please check and add your comments on this doc update request as applicable

[2020-12-24 17:19] jurissm opened #68096 "Outdated page"
The service described on this page is outdated and the page is misleading.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42fff764-77f2-2878-f27f-867c71d9a8fc
* Version Independent ID: 669c3568-eedc-f959-01d6-fcde93b9daaa
* Content: [Configure app passwords for Azure AD Multi-Factor Authentication - Azure Active Direct

[2020-12-24 19:22] AjayKumar-MSFT commented on #67937
@saravanakumarrc, We will close this thread for now. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.

[2020-12-24 19:22] #67937 closed

[2020-12-24 20:03] Sanoobk opened #68097 "ResourceManagementClient credentials require azure.identity ClientSecretCredential authentication method."
**Latest ResourceManagementClient class works with one of the azure.identity authentication method. e.g. ClientSecretCredential**

But the DataFactoryManagementClient class still works on the ServicePrincipalCredentials.
ClientSecretCredentials is not yet an option. Its work in progress as per my investigation.

I had to create both clients with separate authentication mechanisms to make the solut

[2020-12-24 22:03] nickamon opened #68098 "Typo in "Why some Azure AD roles are for other services" section"
The last sentence of the _Why some Azure AD roles are for other services_ section should read "**Service-specific** roles is one category ..." rather than "Server-specific roles is one category ..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32f33bd6-2487-d3fa-6d83-bbbe8bf4959e
* Version Independent ID: dc6ceeab-09

[2020-12-24 22:04] autohub7 opened #68099 "How to get <resource-path> for Storage Emulator?"
I guess **account-name** is Storage account name on **Home > Storage accounts > [My storage]**
How to get a resource-path?
`http://<local-machine-address>:<port>/<account-name>/**<resource-path>**`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bd49c9b-995f-cc7e-77d7-74f21f1249f7
* Version Independent ID: 1c2ce65b-5bd

[2020-12-24 22:06] hansmbakker commented on #68091
Related to https://github.com/MicrosoftDocs/azure-docs/issues/68093

[2020-12-24 22:06] DEberhardt opened #68100 "How do I request enablement of a Privileged Admin Group assigned to a user?"
I need a PowerShell way to find the/all Privileged Admin Group assigned to a specific user.
I have the Enablement Command, but fail to determine the Group `RoledefinitionId`

There is currently no page describing PowerShell for Admin Groups.

Thank you,
David

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b427c59d-d87e

[2020-12-24 22:34] ThomasKur opened #68101 "Use Microsoft.Graph and Microsoft.Identity.Web.MicrosoftGraph"
It would be great to have a example which would use the new classes instead of the current examples which require manual parsing to objects. There are also not many examples in the web which explain it well for Razor ... in my example I access the device objects:

**FetchData.razor**
[code]

**Startup.cs**
` services.AddAuthentication(OpenIdConnectDefaults.AuthenticationScheme)
                .Ad

[2020-12-24 22:34] bendavis78 commented on #12702
@NickMSW that is only possible in AKS, not ACI (completely different systems).

[2020-12-24 22:35] Evogelpohl opened #68102 "AVRO files from Event Hub Path"
Might be helpful to provide an example for reading N-number of avro files from a complex storage account path, as MS Event Hubs produce when using Event Hub Capture.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7f2d051-aac6-4e47-cbf4-e7e8ead230dd
* Version Independent ID: b0767d87-271d-0087-2b15-7dc6c1e9c30c
* Conte

[2020-12-24 23:52] artisticcheese opened #68103 "ForceUpdateTag shall be "string", not integer, sample needs to be corrected"
Sample here https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deployment-script-template#sample-templates specifies "ForceUpdateTag":1 which causing script to fail, it shall be "string" instead. ("1")

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5c4c8c5-7757-a969-5800-17f2f2312649
* Version Ind

[2020-12-24 23:52] lissff commented on #68007
thank you for the information
But I still think we should have a way to get that information, it makes no sense to involve multiple manual step just to get an id

On 12/24/2020 23:51, PreetiManhas-MSFT wrote:

@lissff Thank you for the clarity.

You can find the MSI or SP associated with an object like for Service Principal of AKS Cluster:

Go to Azure Active Directory >> App Registrations >> Sele

[2020-12-25 00:43] kemurayama opened #68104 "Does `--enable-pod-identity` option need Azure CNI ?"
Hi,

I tried this tutorial and found that the command in the document doesn't work. Is it expected behavior ?
It looks that pod-identity needs `Azure CNI` but the command in the document is `kubenet`.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3c187c0-27f1-11c9-41af-6c65ca36e77e
* Version Independent ID: 2

[2020-12-25 02:35] chitturs opened #68105 "Update the setup scripts to use Microsoft Graph APIs"
Using the setupapplications.ps1 and setupuser.ps1 generates a warning in Azure portal regarding deprecation of Azure Graph APIs which the scripts use. Please update them to use Microsoft Graph APIs as explained here.

https://techcommunity.microsoft.com/t5/azure-active-directory-identity/update-your-applications-to-use-microsoft-authentication-library/ba-p/1257363

---
#### Document Details

⚠ *Do

[2020-12-25 03:25] junshi356 opened #68106 "How to get Top n results from Cosmos db by C# LINQ?"
[Enter feedback here]
Hi, I'm using a SQL API cosmos db container to store my data, and I have a problem to get Top n results from Cosmos db by C# LINQ.

For example, assuming we have are storing products records into my container, whose schema looks like
`{"productId", "version"}`, we want implement a method like "GetLatestProductById" to filter by `productId`, then return the product with bigges

[2020-12-25 03:42] JamesTran-MSFT commented on #68096
@jurissm
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-25 03:42] JamesTran-MSFT commented on #68098
@nickamon
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-25 03:43] JamesTran-MSFT commented on #68100
@DEberhardt
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-25 03:44] JamesTran-MSFT commented on #68101
@ThomasKur
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-25 04:16] SwathiDhanwada-MSFT commented on #68103
@artisticcheese Thanks for your comment. We will review the issue and get back to you shortly.

[2020-12-25 04:18] GitaraniSharma-MSFT commented on #68090
@mormond , Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-25 04:22] GitaraniSharma-MSFT commented on #68091
@hansmbakker , Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-25 04:29] himanshusinha-msft commented on #68086
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-12-25 04:31] himanshusinha-msft commented on #68097
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-12-25 04:32] himanshusinha-msft commented on #68099
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-12-25 04:33] himanshusinha-msft commented on #68102
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-12-25 04:35] himanshusinha-msft commented on #68104
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-12-25 04:36] himanshusinha-msft commented on #68105
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-12-25 04:37] himanshusinha-msft commented on #68106
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-12-25 07:33] nguyenbs opened #68108 "Dont understand the Scenario 2: Error message is received in the Azure Account Center"
I read the description of the scenario 2 and dont understand that in order to resolve this issue, the account must be Account Admin or normal account?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27983d8d-b2af-4b0d-72e5-4aaeebd28c97
* Version Independent ID: 4c7b01dc-5bf6-1de6-bcd3-ce5603549609
* Content: [No subscri

[2020-12-25 07:43] KalyanChanumolu-MSFT commented on #67952
@JasonPan It has been a while we heard from you.
We will proceed to close this issue now.
If you need further assistance, please post this issue on [StackOverflow ](https://stackoverflow.com/questions/tagged/azure-cosmosdb)or [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/topics/single/25393.html) for better visibility

[2020-12-25 07:43] #67952 closed

[2020-12-25 09:19] mcurko opened #68109 "Query the EventStore programmatically"
In the following code:

[code]

`System.Fabric.FabricClient` can't access EventsStore and `ServiceFabricClientFactory `itself can't be accessed (where does it come from?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fabf8df7-756f-2d7a-1d7f-068091d5f4f8
* Version Independent ID: 9776fd49-7f2f-8f0c-69be-638fa0d3dd6e
*

[2020-12-25 13:52] GitaraniSharma-MSFT commented on #68108
Thanks for the question. We are currently reviewing this and will update you shortly.

[2020-12-25 13:53] GitaraniSharma-MSFT commented on #68109
Thanks for the question. We are currently investigating and will update you shortly.

[2020-12-25 16:28] RangaSQL opened #68110 "Glossary missing: Azure management groups"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9d5b3f1-0d66-0abc-3114-6fc51c707271
* Version Independent ID: ba3beb78-6546-8154-41b9-b7fd20156666
* Content: [Azure glossary - Azure dictionary](https://docs.microsoft.com/en-us/azure/azure-glossary-cloud-terminology#resource-group)
* Content Source

[2020-12-25 19:46] himanshusinha-msft commented on #68110
@RangaSQL : May I request you to share more info on the point you are trying to make . A quick write up will help .

[2020-12-25 20:02] shashishailaj commented on #67926
@oletho I checked this and we found that Azure AD passthrough agent is not supported on the Server core version of Windows 2019 . While installation the AADConnectAuthAgentSetup.exe file contains two packages out of which one is the agent installer (PassThroughAuthenticationInstaller.msi) and another is updater (AzureADConnectAgentUpdaterInstaller.msi) .

when agent installation is initiated by th

[2020-12-25 20:57] mdrakiburrahman opened #68111 "Can't get %run command to work in Synapse Notebooks"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e188fe7f-8cc8-2f0a-2ff5-c0eca25bcdce
* Version Independent ID: a8ec994c-1eaa-6c98-6916-bcf4ef401757
* Content: [Synapse Studio notebooks - Azure Synapse Analytics](https://docs.microsoft.com/en-us/azure/synapse-analytics/spark/apache-spark-development-using-notebooks?tabs=p

[2020-12-25 21:25] autohub7 opened #68112 "A typo and other feedbacks on "Connect to the emulator account using a shortcut""
"The is equivalent to fully specifying the account name, the account key and the endpoints for each of the emulator services you wish to use in the connection string."

1. I guess it's a typo for this, but does it refer the box above or below?
2. Could you provide an example for .NET Core 3.x? app.config is no longer used.
3. Where to check the connection string?  "For example, the value of your c

[2020-12-25 22:00] YutongTie-MSFT commented on #67964
@PatrickFarley Hello Patrick, this issue is about troubleshooting guidance. Could you please check and update the document with more detail of error reason and trouble shooting guidance if necessary? Thanks.

@berhir Thanks Bernd for the feedback. I can not fix this document at this moment but I have assigned this issue to the author for update. Merry Christmas.

[2020-12-25 22:05] csimone86 commented on #33450
Same problem. Has been the probem solved?

[2020-12-26 02:01] mazdaluke opened #68113 "resnet"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02f883ec-aaf1-f216-3b69-3bca827c7d1a
* Version Independent ID: 3bcf3d91-fee6-3b2b-f1b4-6f02479750ae
* Content: [ResNet - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/algorithm-module-reference/resnet)
* Content Sourc

[2020-12-26 02:13] himanshusinha-msft commented on #68111
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-12-26 03:28] Karishma-Tiwari-MSFT commented on #67495
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-12-26 03:28] #67495 closed

[2020-12-26 03:47] GitaraniSharma-MSFT commented on #68112
@autohub7 , Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-26 03:53] GitaraniSharma-MSFT commented on #68113
@mazdaluke , Thanks for leveraging Azure docs feedback channel. Could you please share more details on your feedback or query for us to review?

[2020-12-26 04:11] hemantsali opened #68114 "Discrepancy in the Layered Deployment Module twin configuration information"
[Enter feedback here]
1. As per the information about the Deployment Target Condition: it can be any boolean condition with device twin tags/reported properties/device Id.
2. In case of Module Twin Configuration its using the desired properties which contradicts with the information as per 1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2020-12-26 07:01] oletho commented on #67926
Hello Shashi.

Thanks for the quick reply. I will report back to the customer according to this.

Med venlig hilsen - best regards

Ole Thomsen

📞 +45 2888 7979

________________________________
From: ShashiShailaj-MSFT <notifications@github.com>
Sent: Friday, December 25, 2020 9:02:45 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: oletho <ot@networks.dk>; Mention <mention@nor

[2020-12-26 09:14] ktadimeti opened #68115 "What was the learning outcome"
[Enter feedback here]

I would have liked to see what the learning outcome was. I completed the exercise, but learned nothing.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 097ac552-9741-9ece-7e68-9fa95b3cc9fe
* Version Independent ID: 9dbfbdf3-3ab5-2950-0f6f-4beddf7dc246
* Content: [Tutorial: Create a NAT gateway - Az

[2020-12-26 11:03] rilopes opened #68116 "AKS default NSG is at network interface-level"
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/aks/concepts-security?source=docs#azure-network-security-groups

When says:
"In cases where you provide your own subnet for your AKS cluster and you wish to modify the flow of traffic, do not modify the subnet-level network security group managed by AKS. You may create additional subnet-level network security groups to modify the flow of

[2020-12-26 11:47] #67926 closed

[2020-12-26 11:49] shashishailaj commented on #67926
@oletho Thank you for confirmation. We have initiated a change in the document https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-pta-quick-start with the details. We have added the [prerequisite section](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-pta-quick-start#in-your-on-premises-environment) in the article with an additional line as

[2020-12-26 12:23] iris-hpaterson opened #68117 "AADB2C: `ClaimsProviderSelection` after a sign in causes an exception"
I'm attempting to develop a B2C system where the user can select from several self-assert technical profiles to verify their identity with trusted third parties (who are not IDPs in the technical sense, so don't provide OAuth/OpenID/SAML and so on..). I'm using a ` ClaimsProviderSelection`  orchestration step to provide the user with the selection, but I've found this only works when the `ClaimsPr

[2020-12-26 13:08] GitaraniSharma-MSFT commented on #68114
@hemantsali , Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-26 13:10] GitaraniSharma-MSFT commented on #68115
@ktadimeti , Thanks for your feedback! We'll review this and get back to you shortly.

[2020-12-26 13:13] GitaraniSharma-MSFT commented on #68116
@rilopes , Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-26 13:15] GitaraniSharma-MSFT commented on #68117
@iris-hpaterson , Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-26 13:48] AnuragSharma-MSFT commented on #68029
@kalendelaney This is being assigned to the content author to evaluate and update as appropriate.

[2020-12-26 14:10] Zaffer commented on #62877
A verified publisher cannot be added to this application. Please contact your administrator for assistance. [egoCQIngyqmMcQ5TqYD2kH]

[2020-12-26 14:19] bbirney2018 commented on #34167
This continues to be a serious problem.  As phishing attacks around the world escalate, responsible tech administrators are training their users to be highly skeptical of sketchy looking websites.  WindowsAzure.com is super sketchy looking, and resembles real phishing sites.  This undermines our efforts to build good user behavior, and ultimately makes your whole infrastructure less safe.  Users w

[2020-12-26 15:43] #67945 closed

[2020-12-26 17:05] ngie-eign commented on #34167
@shashishailaj: I'm frustrated this was closed a year ago. How hard is it to fix punctuation in an HTML/CSS page?

[2020-12-26 18:33] hjchin opened #68118 "Missing background and usage info"
https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-register-app#add-a-certificate
https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-register-app#add-a-client-secret
Referring to the 2 contents above, more information on how it is being used is helpful to the reader. Some background & usage info will really helps to complete the story here.

---
####

[2020-12-26 19:03] surjo20 opened #68119 "Surjo"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4caaa730-7bc5-c50a-2d3d-d7ae6edbe7bd
* Version Independent ID: bda6fac1-ada0-7344-fb52-2a99389dfaad
* Content: [CLI script - Create server - Azure Database for MySQL](https://docs.microsoft.com/en-us/azure/mysql/scripts/sample-create-server-and-firewa

[2020-12-26 20:58] mcurko opened #68120 "Please explain what are we trying to achieve here"
I ran the code and I'm getting messages like:

`Fault: ActionType: RemoveReplica, ServiceUri: fabric:/Mirna/Api, PartitionId: 59f0f2c8-a5dd-4cb3-8bfe-934ef1c3d37e, ReplicaId: 132534886177511684`

What am I (or someone else doing his/her tests) supposed to deduct from this (or similar) messages?

Is this just an action or an implied error? It it's not an error, please provide description on how wou

[2020-12-26 21:15] kprpg opened #68121 "Missing - Creating the Certificates in section "Set-up a custom domain name in API Management""
The most important step of creating the certificates in this page in the above section is missing. Please add steps to actually create the three certificate related files in section "Set-up a custom domain name in API Management".

How do these certificate files magically appear, which are being subsequently being referred to. The documentation does not contain this crucual step of creating these

[2020-12-27 01:37] zaalion opened #68122 "config.yaml is read only on Windows 10"
[Enter feedback here]

Hello,

I am following these instructions and reached two road block

1.  I am ready to update the config.yaml with the certification file paths. However, this file is locked and no account (including the administrator) can change it. How is it done?
2. I ran the New-CACertsVerificationCert command with the verification code I got from Azure portal. However, the status of my

[2020-12-27 02:35] himanshusinha-msft commented on #68118
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-12-27 02:38] ryepup opened #68123 "Azure Static Web Apps Jekyll tutorial errors on "Set up Ruby" step"
The ruby tutorial asks to add the `ruby/setup-ruby@ec106b438a1ff6ff109590de34ddc62c540232e0` action, which no longer works.

Per [setup-ruby](https://github.com/ruby/setup-ruby#versioning), this probably wants to be `ruby/setup-ruby@v1`:

I ran into a few problems with `ruby/setup-ruby@ec106b438a1ff6ff109590de34ddc62c540232e0`:

* initially got some warnings:

* beginning on 2020-12-05, those warn

[2020-12-27 02:40] himanshusinha-msft commented on #68119
@surjo20 : May i request you to please share a quick write-up on the issue which you are trying to talk about here .? That will help us to improve the product / document .

[2020-12-27 02:41] himanshusinha-msft commented on #68120
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-12-27 02:43] himanshusinha-msft commented on #68121
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-12-27 02:44] himanshusinha-msft commented on #68122
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-12-27 02:46] himanshusinha-msft commented on #68123
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-12-27 06:56] marktab opened #68125 "Synapse Analytics Notebook Preview Features with Matplotlib and Seaborn"
This page should clarify the current condition with the Preview Features with Matplotlib and Seaborn.

Specifically, the preview features will **NOT** work with the sample published at https://docs.microsoft.com/en-us/azure/synapse-analytics/spark/apache-spark-data-visualization#matplotlib and there is a sample notebook with Matplotlib and Seaborn which similarly will "run" but not produce output.

[2020-12-27 07:43] memark opened #68126 "Is there really HTTPS support?"
What is meant by this? AFAIK there is no built-in https support for ACI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c00e2ca-c968-c339-c4f2-6acebc9c4f2f
* Version Independent ID: 46b156b3-b879-22ba-3194-1655137ae127
* Content: [Serverless containers in Azure - Azure Container Instances](https://docs.microsoft.com/e

[2020-12-27 07:52] doran0509 opened #68127 "Identification of user"
First I will say thanks for this system. I do not know about this situation exactly but I knew that someone steal and use my personal information. I traced them until here and I joined azure and this webpage also So I am not sure that I made this situation or not but I am sure that someone who use my personal information did many illegal action in our country in korea and using azure ,github I am

[2020-12-27 08:19] BertAnthonyRochester commented on #68084
Waiting for the next step in the right direction.

[2020-12-27 08:20] BertAnthonyRochester commented on #68084
Duplicate of #

[2020-12-27 11:35] aelij opened #68128 "Conflicting role requirements"
This page seems to have a conflict. In one paragraph it says:

And in another:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73d09442-55a1-6ee5-8ac9-fd5e7ca06e87
* Version Independent ID: e7f2e287-8b0e-a75e-dc66-7dbd3c00b245
* Content: [Set up Azure Monitor for containers Live Data (preview) - Azure Monitor](https://d

[2020-12-27 12:19] herreovertidogrom opened #68129 "Problem with QnA Quickstart code"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98bb87f6-c0ac-a504-6b20-d20a43460dc1
* Version Independent ID: e93a4836-1b54-bc20-fb1b-1f86a3dc10e1
* Content: [Quickstart: Use SDK to create and manage knowledge base - QnA Maker - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker

[2020-12-27 13:30] rsamant07 opened #68130 "Synapse Service SqlUser & SqlPassword option from azure portal"
We have these additional parameters while creating synapse service using CLI or Powershell but the same are not available while creating from Azure portal ??

SqlUser | Choose a value for a new username.
SqlPassword | Choose a secure password.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc1de0e7-d4fd-0712-77df-e8205

[2020-12-27 14:48] GitaraniSharma-MSFT commented on #68125
@marktab , Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update you shortly.

[2020-12-27 14:50] GitaraniSharma-MSFT commented on #68126
@memark , Thank you for the question. We'll review this and get back to you shortly.

[2020-12-27 14:55] GitaraniSharma-MSFT commented on #68127
@doran0509 , Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will get back to you shortly.

[2020-12-27 14:58] GitaraniSharma-MSFT commented on #68128
@aelij , Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will get back to you shortly.

[2020-12-27 15:01] suterma opened #68131 "Git deployment issues, does not trigger deployment properly"
Hi, this is a very thorough tutorial, and I got it working in the end. Nice job.

However, I had issues with the deployment.

I was following the guide on an Ubuntu 18.04.5 LTS machine and with

`    git push webapp main:main
`
I got an error like "src refspec main does not match any". I then google around a bit and I guess the successful call then was

`    git push webapp HEAD:master
`
instead.

[2020-12-27 15:01] GitaraniSharma-MSFT commented on #68130
@rsamant07 , Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will get back to you shortly.

[2020-12-27 15:04] GitaraniSharma-MSFT commented on #68131
@suterma , Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will get back to you shortly.

[2020-12-27 15:45] truvaking opened #68132 "list of speakers in a json"
Would it be possible to get this list of available speaker by language in a more programmatic manner? Like in a JSON instead of a HTML web page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4de08d1f-8114-7bef-7ef4-022f79c69742
* Version Independent ID: 4c0ceab9-24ed-de01-db30-31acf1de0f48
* Content: [Language support

[2020-12-27 16:19] elygre opened #68133 "The experience for leaving an organization seems to have changed"
The experience for leaving an organization seems to have changed, and the documentation should be updated. In particular, the screenshots did not match my experience at all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b448cfd0-b673-7d04-047b-71aa62bebc27
* Version Independent ID: 75118bff-94de-c9f9-7666-d2a6f4253b11

[2020-12-27 16:55] VikasPullagura-MSFT commented on #68105
@erikadoyle
Can you please check and add your comments on this doc update request as applicable.

[2020-12-27 17:38] RangaSQL commented on #68110
I was preparing for az-900 exam and wanted to read everything about azure. But did not find azure  resource manager in this link. Why azure glossary would not have a very important topic like ARM ?

"Azure glossary - Azure dictionary | Microsoft Docs" https://docs.microsoft.com/en-us/azure/azure-glossary-cloud-terminology

Would like all topics relating to azure, like a dictionary. After, little d

[2020-12-27 18:26] GitaraniSharma-MSFT commented on #68132
@truvaking , Thanks for the question . We'll review this and get back to you shortly.

[2020-12-27 18:30] GitaraniSharma-MSFT commented on #68133
@elygre , Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will get back to you shortly.

[2020-12-27 18:32] ElYusubov opened #68135 "Update service names in the document"
[Enter feedback here]

---
Update reference from "Azure Data Warehouse" to the "Azure Synapse Analytics" in the section "CI/CD and publish".

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e218b24-88cc-2c51-1ccc-7718cf0ffb33
* Version Independent ID: 0cf3bb9b-c822-b0a6-35d8-785ebcefb4f3
* Content: [Introduction to Azure Data Factory - Azure Data

[2020-12-27 19:28] elias-rod opened #68137 "Do not force to set the instrumentation key in appsettings.json"
https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core#configuration-recommendation-for-microsoftapplicationinsightsaspnetcore-sdk-2150--above
Shall not, it is a risk to let the developers have access to the instrumentation key, as it would be necessary to be hard the key in the appsettings.json file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-12-28 01:42] ytthuan commented on #67999
thanks a lot Ashok.

[2020-12-28 01:42] #67999 closed

[2020-12-28 03:20] karataliu commented on #67749
@DerekHerman-MSFT  i want to clarify `sastoken includes leading '?' or not?`

Can you give the answer yes or no?

[2020-12-28 03:22] karataliu commented on #67749
This is not resolved, can you reopen the issue?
Be the answer yes or no, the doc or portal need to be updated.

[2020-12-28 03:23] Sayuri-Sato opened #68138 "If enable both "Requires approved client apps" and "Requires app protection policy" for conditional access, cannot be accessed without adding the app configuration policy."
If enable both "Requires approved client apps" and "Requires app protection policy" for conditional access, cannot be accessed without adding the app configuration policy.

After setting the App configuration setting "com.microsoft.intune.useEdge" of the target application to true, it became accessible.
Therefore, if you enable both "App approved client app required" and "App protection policy req

[2020-12-28 03:24] pelumiojebode commented on #67749
Find a way to update it

Sent from my iPhone

[2020-12-28 03:24] pelumiojebode commented on #67749
Yes or No
You decide and choose the best option

Sent from my iPhone

[2020-12-28 03:29] ShawnTheCoder opened #68139 "No "PASSWORD" section after PCF deployment"
Hi Team,

I following the Create CF on Azure doc and after I deployed PCF, I cannot find the "PASSWORD" section from Outputs tab as below. So I'm not sure which password I should use in the next step - log into OPSMAN-FQDN page.
Please support, thanks!

![image](https://user-images.githubusercontent.com/40560710/103187528-8f1f8500-48ff-11eb-861a-b6709bebf92e.png)

---
#### Document Details

⚠ *Do

[2020-12-28 03:31] SubhashVasarapu-MSFT commented on #67813
@rachelxj-ms, ASLBSA,ASLBSACORS,ARRAffinity are Microsoft App Service and Front Door Affinity Cookies. These cookies are used to direct your browser to use the appropriate backend server.
We are assigning this issue to the respective content author for updating the document accordingly.

[2020-12-28 03:32] psmanhas commented on #63026
@mayanknayar Thank you for the clarification.

@arseyam Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-12-28 03:32] #63026 closed

[2020-12-28 03:35] #67984 closed

[2020-12-28 03:44] SubhashVasarapu-MSFT commented on #67923
@mddazure, Appreciate your feedback. We are assigning this issue to the respective content author for updating the document accordingly.

[2020-12-28 03:53] SnehaAgrawal-MSFT commented on #67949
@nagaozen Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-12-28 04:02] VikasPullagura-MSFT commented on #68120
@motanv
Can you please check and add your comments on this doc update request as applicable.

[2020-12-28 04:28] SwathiDhanwada-MSFT commented on #67382
Thanks for your inputs @femsulu.

@dineshpathapati As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

Note : If you need assistance in technical issues, kindly feel free to post questions on [Microsoft Q & A Community Forum](https://docs.microsoft.com/en-us/answers/products/) and for Azu

[2020-12-28 04:28] #67382 closed

[2020-12-28 04:39] himanshusinha-msft commented on #68135
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-12-28 04:41] himanshusinha-msft commented on #68137
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-12-28 04:42] himanshusinha-msft commented on #68138
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-12-28 04:47] pelumiojebode commented on #68138
Thanks for your assistance 🙏

On Mon, Dec 28, 2020 at 4:24 AM Sayuri-Sato <notifications@github.com>
wrote:

[2020-12-28 04:48] ram-msft commented on #68075
Thanks, @amitkumarshukla Could you please help with the[ Additional configuration](https://docs.microsoft.com/en-us/azure/cognitive-services/Speech-Service/how-to-use-codec-compressed-audio-input-streams?tabs=debian&pivots=programming-language-csharp#speech-sdk-version-required-for-compressed-audio-input) link as it's loading the same page.
[SOX ](https://docs.microsoft.com/en-us/azure/cognitive-s

[2020-12-28 04:51] CHEEKATLAPRADEEP-MSFT commented on #68070
@StingyJack  Thanks for the feedback! Your feedback has been shared with the content owner for further review.

[2020-12-28 04:53] himanshusinha-msft commented on #68139
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-12-28 04:58] ram-msft commented on #68113
@mazdaluke Thanks, Can you please add details about the feedback/query?

[2020-12-28 05:02] CHEEKATLAPRADEEP-MSFT commented on #68135
@EIYusubov, Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/141787](https://github.com/MicrosoftDocs/azure-docs-pr/pull/141787)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2020-12-28 05:04] #68135 closed

[2020-12-28 05:07] CHEEKATLAPRADEEP-MSFT commented on #67976
@FurcyPin  Thanks for the feedback! Your feedback has been shared with the content owner for further review.

[2020-12-28 05:13] CHEEKATLAPRADEEP-MSFT commented on #68086
@ylashin  Thanks for the feedback! Your feedback has been shared with the content owner for further review.

[2020-12-28 05:20] MayankBargali-MSFT commented on #68091
@hansmbakker Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-28 05:34] HarithaMaddi-MSFT commented on #68102
@Evogelpohl - Wildcards are supported in databricks while importing multiple files. Please suggest if that solves the requirement in the query and the intention is to add about those in docs?

[2020-12-28 05:35] JoseFMP commented on #67950
@SnehaAgrawal-MSFT Thank you for your feedback. Sorry, In the Path Mapping I still do not see that section named _Virtual applications and directories_

I recon in your screenshot it appears but when I navigate to Path Mappings in the webportal I do not see it. I do not see either "handler mappings" by the way.

![image](https://user-images.githubusercontent.com/24405049/103191826-00b00100-4909-11

[2020-12-28 05:36] AjayKumar-MSFT commented on #68082
eshwarkasthuri, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2020-12-28 05:36] #68082 closed

[2020-12-28 05:47] AjayKumar-MSFT commented on #67575
@rido-min, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag @bryanmsft  in your reply and we will gladly continue the discussion.

[2020-12-28 05:47] #67575 closed

[2020-12-28 05:54] arpit9mittal opened #68140 "Need more clarity on HA of 99.99"
This page doesn't clarify how many instances is required for 4 9s. There are many other pages which creates ambiguity in the understanding of High Availability offered.

I am still confused with the HA of four 9s. When I purchase a single instance of the standard tier is four 9s available to me ?
OR I have to buy at least some instances to get these 4 9s ?

---
#### Document Details

⚠ *Do not edi

[2020-12-28 05:55] ankur8 opened #68141 "Image correction - Inbound NSG2 in image is not shown as NIC for vm1"
[Enter feedback here]
Inbound image on this page for vm1 where nsg2 is not shown as nic card but on subnet which is not matching the description in vm1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd190c21-5b50-87ba-37dd-0b0c017ec6fb
* Version Independent ID: d9720147-207c-4c98-ba8d-016ff4b6ad60
* Content: [Network

[2020-12-28 05:55] arpit9mittal opened #68142 "Need more clarity on HA of 99.995 for premium tier"
This page doesn't clarify how many instances is required for 99.995 availability. There are many other pages which creates ambiguity in the understanding of High Availability offered.

When I purchase a single instance of this premium tier is 99.995 available to me or just 99.99?
OR I have to buy at least some instances to get these numbers of HA?

---
#### Document Details

⚠ *Do not edit this se

[2020-12-28 06:03] PramodValavala-MSFT commented on #67992
@zimmerab Just following up here... Hope my previous comment clears things up.

If you are still seeing a problem, could you share more details on the error?

[2020-12-28 06:06] RohitMungi-MSFT commented on #68044
@devendraks We will now proceed to close this thread. If you haven't raised a support ticket for the issue please email us your subscription id and URL of this thread to AzCommunity[at]microsoft[dot]com to enable a one time free support request for your subscription. We will let you know more details on how to use the request after we receive your email.

[2020-12-28 06:06] #68044 closed

[2020-12-28 06:10] RohitMungi-MSFT commented on #68076
@gitguy007 We hope you got a chance to review our above comment. Due to the nature of the issue we would need to debug this at your subscription level with our team. If you have not sent us an email with the above details please send us an email to enable a one time free support ticket or you could raise one directly from Azure portal. We will now proceed to close this thread as this seems to be o

[2020-12-28 06:10] #68076 closed

[2020-12-28 06:15] psmanhas commented on #68007
@lissff Thank you for your response. I took feedback to our internal team to check if there is any way to do same. Will keep you posted once I have an update.

Thanks

[2020-12-28 06:17] psmanhas commented on #68141
@ankur8 Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-12-28 06:18] psmanhas commented on #68141
@KumudD Can you please check and add your comments on this doc update request as applicable

[2020-12-28 06:35] HarithaMaddi-MSFT commented on #68125
@marktab - Thanks for your valuable feedback. I was able to observe the same behavior as you mentioned in preview. I will move it to content author to review and update appropriately.

[2020-12-28 06:55] AnuragSharma-MSFT commented on #68142
@arpit9mittal Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-12-28 06:55] AnuragSharma-MSFT commented on #68140
@arpit9mittal Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-12-28 07:22] kagkarlsson opened #68143 "Question: When will RBAC control for individual secrets in Azure Key Vault GA?"
Hi,

Just a question about when this feature will be GA? (RBAC control for individual secrets in Azure Key Vault)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44b9a84f-6765-67dc-bb7b-04303e070c03
* Version Independent ID: 32fc20a0-4321-c74a-34aa-909f43a72db0
* Content: [Grant permission to applications to access an A

[2020-12-28 07:34] JiangYuchun opened #68144 "Does application gateway support websockets work over other ports(not 80 or 443)"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f963aba-8ab8-43cd-6f0a-cde9e6eceeee
* Version Independent ID: 6183eb75-20c9-2799-fae9-8d4cde244b29
* Content: [WebSocket support in Azure Application Gateway](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-websocket)
*

[2020-12-28 07:35] shashishailaj commented on #68143
@kagkarlsson  Thank you for your query. I will check this internally and update this thread.

[2020-12-28 07:36] captainmike commented on #67685
Hi @normesta, we're keen to use this feature in the feature we're working on, but have hit a wall. If you have links to any other resources in the meantime, that would be tremendously helpful.

[2020-12-28 08:05] dfinnema commented on #62877
Same issue here:

A verified publisher cannot be added to this application. Please contact your administrator for assistance. [DbmdF/HnMcg9Ftia1j8VKp]

[2020-12-28 08:20] SubhashVasarapu-MSFT commented on #68144
@JiangYuchun, Thanks for reaching out. We will investigate and update this thread.

[2020-12-28 08:36] t-leblanc commented on #68048
@GitaraniSharma-MSFT , do you have an update on this?

[2020-12-28 09:19] TU1966 commented on #62877
Same issue here, also Mulit-tenant option
Dieser Anwendung kann kein verifizierter Herausgeber hinzugefügt werden. Wenden Sie sich zwecks Unterstützung an Ihren Administrator. [nsG+ONU2kHtgwNi0oGwYdD]

[2020-12-28 09:34] karataliu commented on #67749
@HarshitaSingh-MSFT  @DerekHerman-MSFT Do you think we need to have a clear definition in doc?

[2020-12-28 09:36] pelumiojebode commented on #67749
Yes

On Mon, Dec 28, 2020 at 10:34 AM Dong Liu <notifications@github.com> wrote:

[2020-12-28 09:51] wukun2015 opened #68147 "Is Recognizer.sessionStopped always applicable for recognizeOnceAsync() ?"
Hello,

One of my customers is using single-shot recognition (i.e.SpeechRecognizer.recognizeOnceAsync()) to recognize speech. For recognized result, customer service always waits for Recognizer.sessionStopped to stop recognition processing. However some time Recognizer.sessionStopped seems not received for unknown reason and therefore results in customer service timeout.

Per session "Error handli

[2020-12-28 10:07] AshokPeddakotla-MSFT commented on #67595
@QiMata I am able to complete the installation successfully after following below steps.

![image](https://user-images.githubusercontent.com/44426435/103205797-6956a800-4920-11eb-9cb7-b3327192a060.png)

sudo cp ./microsoft.gpg /etc/apt/trusted.gpg.d/

![image](https://user-images.githubusercontent.com/44426435/103205946-b76bab80-4920-11eb-97fd-e13ea1b214d4.png)

Please try again by removing previo

[2020-12-28 10:09] Walfa opened #68148 "https://azureboard.azureedge.net/" is not available for AZ3166 installation"
The installation process, where the latest version of the AZ3166 board is installed, fails. The process exits with an error code 255 and when browsing through the log you will find that "https://azureboard.azureedge.net/" is not available. This the same regardless of the board version used.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-12-28 10:25] ram-msft commented on #68147
@wukun2015 Thanks for the question. We are investigating the issue and will update you shortly.

[2020-12-28 10:31] laultman opened #68149 "Confirming Statements Given Doc age is 2016"
The "Note" at the top of the page states:
Local cache is not supported in Function apps or containerized App Service apps, such as in Windows Containers or on App Service on Linux.

This was in 2016, the services have changed significantly in the past 4 years. Is the statement still true, and how is "serverless" (consumption) plan services handled? What about caching connections like Cosmos DB cli

[2020-12-28 10:46] AshokPeddakotla-MSFT commented on #68034
@pnarsi We hope that answers your query.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-28 10:46] #68034 closed

[2020-12-28 10:59] AshokPeddakotla-MSFT commented on #67985
@zaalion Please provide further details so that doc can be updated accordingly. Also
I have assigned the issue to the content author @wesmc7777  to evaluate and update as appropriate.

[2020-12-28 11:04] kwaazaar opened #68150 "Refer to this page from the Github docs/readme"
Refer to this documentation from the Github readme and docs. There is no mentioning of this at all, as far as I can see.

Also: the 50 identity limit per cluster, that's just a limit during preview? Otherwise this makes this addon a lot less useful than the current 'manual' installation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-12-28 11:43] fbasco81 opened #68151 "Update MFA configuration within profile editing user flow"
Hello,

I am wondering if it is possible to let the user update / edit the configuration related to the MFA after the first / initial configuration triggered by B2C tenant, according to the MFA settings.
User is forced to configure the MFA at first logon. Is it possible for the user to change these settings by himself, same as profile editing ?

Thank you very much for your help

---
#### Document

[2020-12-28 11:51] gsuttie opened #68152 "Update SQL Server Gen4 to Gen 5"
The following:-
echo "Creating $database on $server..."
az sql db create --resource-group $resource --server $server --name $database --sample-name AdventureWorksLT --edition GeneralPurpose --family Gen4 --capacity 1 --zone-redundant false # zone redundancy is only supported on premium and business critical service tiers

should be updated to
echo "Creating $database on $server..."
az sql db creat

[2020-12-28 12:01] AnuragSharma-MSFT commented on #68152
@gsuttie Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-12-28 12:23] junecastillote opened #68153 "SendGrid Free is not available"
This document says "Azure customers can unlock 25,000 free emails each month". I can confirm that this has worked before. However, now, when choosing the "Free" plan, the pricing tier automatically defaults to Bronze. When you click "Change plan", the Free plan is no longer available.

I can replicate this scenario in four different tenants using different subscriptions. Can you confirm if this is

[2020-12-28 12:59] shashishailaj commented on #68151
@fbasco81 Thank you for your query . We will investigate and update the thread.

[2020-12-28 13:15] karataliu commented on #67749
Then would you please make update doc and give a canonical definition?

Without an official definition, it would easy lead to issue in implementation.

The doc issue was related to below: https://github.com/Azure/azure-sdk-for-rust/issues/123 ,

[2020-12-28 13:39] GitaraniSharma-MSFT commented on #68048
@t-leblanc , as per previous update from Product Group, this is a Windows VPN platform constraint. Azure P2S VPN package will add network routes on the machine, which will require admin privilege and will trigger UAC prompt on Windows. This is not an Azure specific constraint. And the same was mentioned in the Feedback forum [here](https://feedback.azure.com/forums/217313-networking/suggestions/17

[2020-12-28 13:41] psmanhas commented on #68023
@badalk We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-12-28 13:41] #68023 closed

[2020-12-28 13:57] GitaraniSharma-MSFT commented on #68115
@ktadimeti , the tutorial that you referred was just to help you create a NAT gateway to provide outbound connectivity for a virtual machine in Azure. For more information on Virtual Network NAT, please refer [this article](https://docs.microsoft.com/en-us/azure/virtual-network/nat-overview). And to understand the traffic flow of this setup, please [check here](https://docs.microsoft.com/en-us/azu

[2020-12-28 13:57] #68115 closed

[2020-12-28 14:22] AshokPeddakotla-MSFT commented on #68148
@Walfa Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-28 14:52] zimmerab commented on #67992
I have gotten my logic app to build in the dockerfile but it doesn't create
a folder in the azure-webjobs-secrets container.  Is there a way to force
secrets to be created in a docker file for logic apps?

FROM mcr.microsoft.com/dotnet/core/sdk:3.1 AS installer-env

COPY . /src/dotnet-function-app
RUN cd /src/dotnet-function-app && \
     mkdir -p /home/site/wwwroot && \
     dotnet publish *.cspr

[2020-12-28 14:53] ericchansen commented on #19456
This is still an issue. Please re-open this.

[2020-12-28 14:57] Norrch2 opened #68156 "Disclaimers"
According to Self Asserted layout version 2.1.1 it mentions that disclaimers was added.

Can we please get an example of this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4272fbd-ad3d-6099-39bc-966320101b03
* Version Independent ID: ac21035f-4145-b309-d45c-3c38e965301d
* Content: [Page layout versions - Azure AD B2

[2020-12-28 15:01] SnehaAgrawal-MSFT commented on #68149
@laultman Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-28 15:27] ziontech-devops opened #68157 "How to validate the Per-App Scaling for High Density App Service Works?"
Apparently, it is not part in the documentation on how to validate the per-app scaling settings since it is not visible in the portal.

I read a blog that via kudu you can check the number of instances but when I do that, it still showed all the spin up instances per app service. It would be nice if there's a better way to validate if the per-app scaling settings really work.

---
#### Document De

[2020-12-28 15:35] YutongTie-MSFT commented on #68055
@jpmlblog Thanks for your feedback. I have forwarded this issue to author and appropriate update will be made.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-12-28 15:36] b3nt0 opened #68158 "Wrong protocol name specified in text, but correct in example."
https://docs.microsoft.com/en-us/azure/active-directory-b2c/jwt-issuer-technical-profile#protocol

The text says that the protocol name that should be used is OpenIDConnect, but example shows "None". The example is correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56f5d39a-868b-52a8-8f8c-3a2c33bf5bc0
* Version In

[2020-12-28 15:58] #67989 closed

[2020-12-28 16:01] SwathiDhanwada-MSFT commented on #67989
@real-oneill Thanks for your feedback. I have made changes to the document and the changes will be live soon.We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-12-28 16:10] asergaz commented on #68041
Hello @ramakrpr ,
Thank you so much for the feedback. I will address your current questions and we will consider your feedback to enhance the documentation:

Are you using Ubuntu Server or Ubuntu Client? Please note that iot edge version 1.2 is still in preview and the current assets for other Linux distributions are here: https://github.com/Azure/azure-iotedge/releases/tag/1.2.0-rc1

![image](htt

[2020-12-28 16:12] mike-urnun-msft commented on #68153
Hi @junecastillote - Thank you for your feedback! It does appear that the Free offering is no longer an available option. As the next step, we are proceeding to assign this issue to the author to review further and take the next course of action.

[2020-12-28 16:14] mike-urnun-msft commented on #68129
@herreovertidogrom Let us know if you had any questions or if there were any issues following this doc.

[2020-12-28 16:21] JamesTran-MSFT commented on #68156
@Norrch2
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-28 16:22] JamesTran-MSFT commented on #68158
@b3nt0
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-28 16:22] nickvanmaele opened #68159 "Stored procedure in tutorial fails to execute"
Hi,

First of all, thanks for a great tutorial.

Near the end of the tutorial, this command is executed:
`EXEC [wwi].[Configuration_PopulateLargeSaleTable] 100000, 2000`

When executing from SSMS (v18.8), this resulted in an error:
_Location of the error: "Targeting 100000 sales per day. 20000101"
Error: "Msg 701, Level 16, State 123, Line 644.
There is insufficient system memory in resource pool

[2020-12-28 16:32] YutongTie-MSFT commented on #68057
@satrijotomo Have you tried the latest version and if that works? Please let us know.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-12-28 16:32] #68057 closed

[2020-12-28 16:41] spotakash opened #68161 "Program.cs does not seems right it is throwing error"
[Enter feedback here]
I believe that Program.cs code require modification and it keeps throwing error pertaining to DateTime String is not recognized.
Using this document guidance i performed lab but while running application it keeps throwing.

Below is the error and screenshot
System.Transactions Critical: 0 : <TraceRecord xmlns="http://schemas.microsoft.com/2004/10/E2ETraceEvent/TraceRecord" Se

[2020-12-28 16:49] PramodValavala-MSFT commented on #67992
@zimmerab Ensure the connection string is correct and the environment where the docker container is running allows outbound connections to Azure Storage.

An alternative would be to set [`AzureWebJobsSecretStorageType`](https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#azurewebjobssecretstoragetype) to `files`. This approach is covered in [this comment](https://github.c

[2020-12-28 16:52] #67992 closed

[2020-12-28 16:53] spotakash commented on #68161
And this has been happening only after Orland Gee entries getting added successfully. Keith Harris sample data onward is not getting added and keep throwing error as date format not recognized.

[2020-12-28 16:58] NavtejSaini-MSFT commented on #68119
@surjo20  : May we request you to please share the issue you are facing with regards to the Azure product/Documentation. It will help us to take this issue forward.

[2020-12-28 17:11] SwathiDhanwada-MSFT commented on #68032
@dcbrown16 Thanks for your feedback. A PR has been raised with the mentioned changes and has been assigned to content author for review. Upon approval, the changes will be available.

We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-12-28 17:11] #68032 closed

[2020-12-28 17:27] feyazozgur opened #68162 "azure-docs"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da261ee4-3348-b520-a27c-98f9d9ef40cc
* Version Independent ID: 13d12189-ee46-8058-dd99-058adc69f1c5
* Content: [Add an existing Azure subscription to your tenant - Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-d

[2020-12-28 17:31] SwathiDhanwada-MSFT commented on #68093
Assigning to content author @lgayhardt for reviewing the issue.

[2020-12-28 17:36] SubhashVasarapu-MSFT commented on #67939
@evandromalmsteen, Apologies for the delay in response. I see the code works perfectly. There is no issue with the document.
![image](https://user-images.githubusercontent.com/44890829/103232706-397bc480-4961-11eb-8529-4b95399ae0a7.png)

[2020-12-28 18:05] davidsmatlak commented on #68103
I submitted the fix for this issue and when it merges, this issue will automatically close. After the merge, the updated document will be online within 24 hours.

[2020-12-28 18:08] JamesTran-MSFT commented on #68162
@feyazozgur
Since there's no feedback and the title doesn't detail any issue, I'll go ahead and close this out. If you require assistance or would like to change/update the docs, or found an issue within the docs, please feel free to create a new GitHub issue and we will assist as soon as possible.

Thank you for your time and patience!

[2020-12-28 18:08] #68162 closed

[2020-12-28 18:09] macolso commented on #68126
Hi @memark -  You're correct, ACI does not have feature support for https.  However, you can still manually configure https support with sidecars. The sentence you've highlighted is explaining an implementation detail for ACI's exec feature that makes use of such method to establish secure connections. Hope this helps!

[2020-12-28 18:10] WinstonHoward-MSFT commented on #68150
Thanks for the question, I'll take a look.

[2020-12-28 18:14] AshokPeddakotla-MSFT commented on #68079
I see that you have raised an issue under iotedge repo https://github.com/Azure/iotedge/issues/4157
Please follow the suggestions outlined and let us know if you need further assistance.

[2020-12-28 18:21] #68055 closed

[2020-12-28 18:26] SaurabhSharma-MSFT commented on #68159
@nickvanmaele Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-28 19:17] MikeDembek opened #68165 "PAN SAML auth without JIT/SCIM"
How would this process be adapted to use static role assignments configured in PAN-OS or Panorama rather than passing the role attribute from Azure AD?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e69aa64-39b1-c520-b803-cdf72d374e2f
* Version Independent ID: bca80503-0cb4-427b-5789-97dfe3dc6b59
* Content: [Tutorial:

[2020-12-28 19:24] fbuser1 commented on #65467
Hi everyone, any updates on this issue? I’m still not able to find solution

[2020-12-28 19:24] #68103 closed

[2020-12-28 19:25] JamesTran-MSFT commented on #68156
@Norrch2
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-28 19:27] JamesTran-MSFT commented on #68100
@DEberhardt
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-28 19:32] dargilco opened #68166 "Link and document GStream for Linux install, not only for Windows to enable compressed audio input to Speech SDK"
The pages says " Developers need to install several dependencies and plugins, see Installing on Windows.". The page should also include an alterative link to the Linux install of GStream, as develoers may be using Linux and not Windows.
https://gstreamer.freedesktop.org/documentation/installing/on-linux.html?gi-language=c
The text should discuss both Windows and Linux with regards to setting up GS

[2020-12-28 19:39] JamesTran-MSFT commented on #68098
@nickamon
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-12-28 19:39] #68098 closed

[2020-12-28 19:39] ntabris opened #68167 "Note that access restrictions ignored if private endpoint present"
It might be helpful to note on the page about configuring access restrictions for Function App that if there's private endpoint, then everything else is blocked and access restrictions are ignored, as documented on this page:

https://docs.microsoft.com/en-us/azure/app-service/networking/private-endpoint#conceptual-overview

(It might be even better if this was also stated in Azure portal on the p

[2020-12-28 19:52] JamesTran-MSFT commented on #68165
@MikeDembek
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-28 20:05] v-demjoh commented on #68166
Fixed.

[2020-12-28 20:14] danhellem commented on #68006
@perkops I am not able to reproduce the issue. It is working fine when following the sample and creating a new client. Any chance you can send me a url to your repo and we can do a double check with you?

[code]

[2020-12-28 20:23] himanshusinha-msft commented on #67974
Since we have not heard back from you , going ahead and closing the issue .

[2020-12-28 20:23] #67974 closed

[2020-12-28 20:24] himanshusinha-msft commented on #68058
We are closing this issue as we have not heard back from you , you can always re-open the issue if you think that appropriate .

[2020-12-28 20:24] #68058 closed

[2020-12-28 20:26] himanshusinha-msft commented on #68110
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-12-28 20:27] macolso commented on #67002
Hi @cderinbogaz - I'd recommend you open a support ticket for this issue.

To help expedite in the meantime, I would check that your container group specification includes GPU container group type as shown below
[code]

[2020-12-28 20:30] dargilco commented on #68075
Adding @v-demjoh , as he is editing the same page

[2020-12-28 20:39] panitaxx opened #68170 "Error with numbers in spanish (Mexico) text to speech"
When using voices in Spanish (Mexico) (tried with Dalia and Jorge) numbers are not pronounced correctly.

For example:

[code]
Should be pronounced as "Existen quinientos mil humanos" (There are fivehundred thousand humans), output is wrong because it says "Existen cinco cero cero cero cero cero humanos"  (There are five zero zero zero zero zero humans).

If you change the number to 510000 it is o

[2020-12-28 21:02] tamram commented on #67749
@karataliu - The question mark (?) is not part of the SAS token. It's the character that designates an HTTP query string in any URI. The SAS parameters form the query string.

If you are constructing the SAS URI (the resource URI + SAS token) in your code, then you need to make sure the question mark is present when the SAS URI is passed to the service to access a resource. All APIs should require

[2020-12-28 21:04] lucazav opened #68171 "Instructions to Configure Remote Desktop to connect to a Linux VM in Azure don't work"
The step by step instructions didn't worked for me.

In order to correctly connect via RDP to my Ubuntu DSVM, I followed these links:

[https://linuxize.com/post/how-to-install-xrdp-on-ubuntu-18-04/](https://linuxize.com/post/how-to-install-xrdp-on-ubuntu-18-04/)

[https://github.com/neutrinolabs/xrdp/issues/1358#issuecomment-549393852](https://github.com/neutrinolabs/xrdp/issues/1358#issuecomment

[2020-12-28 21:14] WinstonHoward-MSFT commented on #68150
@kwaazaar, What do you mean by "Refer to this documentation from the Github readme and docs." I cannot find that phrase on the doc [here](https://docs.microsoft.com/en-us/azure/aks/use-azure-ad-pod-identity). As for the 50 pod identity maximum I cannot share more information at this time as this is in preview.

[2020-12-28 21:31] NavtejSaini-MSFT commented on #68106
@timsander1 Please check this and provide your feedback for this.

[2020-12-28 21:34] albecker1 commented on #65930
Sorry for the delay, I have made the changes and it should be reflected in the docs either later today or tomorrow morning.

[2020-12-28 21:40] mrdenny opened #68173 "Private Link Goes in the wrong direction"
The document says that it's how to create a private link from a web app to a VM, but the examples show the private link from the VM to the web app.  So the examples are backward from the description.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d16533ae-5e19-5769-4c29-581152f8c30c
* Version Ind

[2020-12-28 21:52] JamesTran-MSFT commented on #68072
@gsimardnet
Thank you for your time and patience throughout this issue!

**Error Message:**
User account 'USERNAME' from identity provider 'https://sts.windows.net/ANOTHER_TENANT/' does not exist in tenant 'TENANT_NAME' and cannot access the application 'CLIENT_ID'(DISPLAY_NAME) in that tenant. The account needs to be added as an external user in the tenant first. Sign out and sign in again with a

[2020-12-28 21:59] MartinJaffer-MSFT commented on #68111
@mdrakiburrahman Thank you for bringing this to our attention.  I have reproduced the issue and will escalate internally.

[2020-12-28 22:05] NavtejSaini-MSFT commented on #67481
@serjdag We are assigning this to our expert and doc author for further help.
@MashaMSFT Please look into this further and help regarding the same.

[2020-12-28 22:19] NavtejSaini-MSFT commented on #68161
@spotakash We are checking this and will get back to you.

[2020-12-28 22:20] WinstonHoward-MSFT commented on #68171
Thanks for the doc feedback, I've assigned your issue to the doc author to take a look.

[2020-12-28 22:31] MartinJaffer-MSFT commented on #68111
@mdrakiburrahman actually I just figured it out.
Findings:
The `%run` command looks for an existing, published notebook.  Unpublished changes in the child notebook are not reflected in calls by the parent notebook.  Since the if the child notebook has not been published, then it cannot be found.
The notebook name is _not case sensitive_ and is written plainly without any delimitiers.  `%run mypipe

[2020-12-28 22:53] evandromalmsteen commented on #67939
You are doing in Azure Cloud Shell. I will test it too.

I'm doing in azure power shell in Windows 10 build 1909. I Migrated from Windows PowerShell 5.1 to PowerShell 7 and did rollback this module to Az.Network version 3.2.0.

![image](https://user-images.githubusercontent.com/65626650/103247587-214a7c00-4946-11eb-948f-2c0b94470df6.png)

ty.

[2020-12-28 23:09] pradorodriguez commented on #68081
Is there a fix for this issue? I am having the exact same problem.

[2020-12-28 23:29] mdrakiburrahman commented on #68111
Thank you @MartinJaffer-MSFT - I am able to confirm my original setup works under the following circumstances:
1. Both notebooks are published - i.e. the published state of the notebook is what's executed
2. Preview is turned on
3. The notebook's name is entered in _without_ quotations i.e. `%run test-2`
4. It seems ok to leave `-` characters in the name

![image](https://user-images.githubusercon

[2020-12-28 23:29] #68111 closed

[2020-12-28 23:42] ZachSkylesOwens opened #68178 "Link to script to validate and modify virtual network broken"
There are a few places across the SQL Managed Instance docs that reference a script that does not appear to exist anymore.

`$scriptUrlBase = 'https://raw.githubusercontent.com/Microsoft/sql-server-samples/master/samples/manage/azure-sql-db-managed-instance/delegate-subnet'
`

I've tried to find that script across GitHub but have been unsuccessful.

---
#### Document Details

⚠ *Do not edit this s

[2020-12-28 23:46] pyoungberg opened #68179 "GPO Location"
In the documentation above it states that the AAD Hybrid Join policy can be found at: Computer Configuration > Policies > Administrative Templates > Windows Components > Workplace Join > Automatically workplace join client computers.
But at with 1809+ (all the way to 20H2) the path is Computer Configuration > Policies > Administrative Templates > Windows Components > Device Registration > Register

[2020-12-28 23:51] DEberhardt commented on #66824
Hello again,
I see a few PRs have been introduced already, thank you! 👍

Recently I found a Sku I could not remove with my script as it was spelled slightly differently than advertised (Domestic Calling Plan 120 Minutes). I think there are two products out there: MCOPSTN5 and MCOPSTN_5 - This might not be intentional...

[2020-12-29 00:01] MartinJaffer-MSFT commented on #68111
@mdrakiburrahman Much appreciated.  Thank you for letting me know about functions and variables of the child being accessible to parent.  I did not know that before.  Have a good week!

[2020-12-29 00:04] JamesTran-MSFT commented on #68179
@pyoungberg
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-29 00:06] MarileeTurscak-MSFT commented on #68178
@ZachSkylesOwens
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-29 00:09] MarileeTurscak-MSFT commented on #68178
It looks like it may have moved to here: https://github.com/microsoft/sql-server-samples/tree/master/samples/manage/azure-sql-db-managed-instance/delegate-subnet

I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/141840

@srdan-bozovic-msft please confrim

[2020-12-29 00:09] #68178 closed

[2020-12-29 00:11] ramya-rao-a opened #68180 "Comment on "key/value list" for Azure Functions in JS is not clear"
In the section `Function Code`, there is a table explaining the `type`, `direction` and `name`. For `name`, you have the below remarks:

It is not clear what the "key/value list" here means. From the [examples](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node?tabs=v2#exporting-a-function), it looks like the `name` is the argument name in JS as well

---
#### Document

[2020-12-29 00:28] MartinJaffer-MSFT commented on #68130
@rsamant07 Thank you for bringing this to our attention.

I believe the sql user and password you are seeing in the CLI correspond to the SQL administrator credentials found in the security page of the Synapse creation wizard in the portal.  See below image.
![image](https://user-images.githubusercontent.com/46612670/103249980-99a14500-4926-11eb-9810-b25976e73724.png)

The documentation for creati

[2020-12-29 00:44] dhawalk1981 opened #68181 "EventHub Azure Function triggers correctly but EventData.Body is 0 bytes"
I am writing an EventHub publisher (Console app) and an C# Azure Function that will work as a consumer. when I run the client, I can see the Function getting triggered, but it receives 0 bytes in `eventData.Body`. Can anyone help me here? I have seen some other similar questions about empty events received in Az Function. this is different, because trigger is fired every time I send a batch of 10,

[2020-12-29 01:29] VikasPullagura-MSFT commented on #68126
@macolso Thanks for sharing the details.

@memark Hope the provided information is helpful.

[2020-12-29 01:33] xuegao0112 opened #68182 "Can't receive custom metrics "Prometheus" in EastAsia AzureVM RedHat 7.9"
**Symptom:**

Enabled telegraf agent on multiple Azure VMs. 2 VMs can’t show the customized metrics on the portal, but CPU and Memory is available.
![image](https://user-images.githubusercontent.com/66101176/103252471-0ca6cc00-49b8-11eb-9e85-7a076d11587c.png)

**Analysis:**
Initially, I confirmed the region EastAsia and OS version RedHat 7.9 is supported.

1. First I run the 2 commands to check th

[2020-12-29 01:34] jzhouw commented on #41755
will app gateway a workaround for this need? it looks ok as per below links
https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-websocket
https://stackoverflow.com/questions/42930124/azure-application-gateway-and-signalr-websockets

[2020-12-29 01:34] xuegao0112 commented on #68182
Additionally, While waiting for influxdata support, I did another test to show that telegraf agent is scraping from Prometheus correctly. Therefore this is probably the link from telegraf to Azure, need to find out why the custom metric namespace is not appearing.
Please let me know if you need any logs.

[2020-12-29 01:35] VikasPullagura-MSFT commented on #65930
@albecker1 Thanks for updating the document.

[2020-12-29 01:35] #65930 closed

[2020-12-29 01:38] mmaitre314 opened #68183 "Troubleshooting steps connecting Defender for IoT sensor to IoT Hub"
I activated the sensor using the Azure Defender for IoT console and IoT Hub shows the device but does not show Last Status Update after several days and no telemetry seems to reach Log Analytics and Sentinel. Could you include a troubleshooting guide in the doc to figure out what is wrong? This is running the sensor ISO file in an HyperV VM.

- Azure IoT Hub:

![image](https://user-images.githubus

[2020-12-29 01:42] ToddGe opened #68184 "Unclear of the intent."
It is unclear why you are allowed to chose a P50 performance tier for a P40 disk when the published specs for a P40 are identical to a P50 per the following article:

https://docs.microsoft.com/en-us/azure/virtual-machines/disks-types#disk-size-1

What is the benefit of choosing the higher tier when the published specs indicate that there should be no change in performance?

Thank you,
Todd Gehrke

[2020-12-29 02:08] VikasPullagura-MSFT commented on #68184
@ToddGe
Thanks for the feedback! I have assigned the issue to content author to check and update the document with more information based on your feedback.

[2020-12-29 02:08] VikasPullagura-MSFT commented on #68184
@roygara
Can you please check and add your comments on this doc update request as applicable.

[2020-12-29 03:06] BryanTrach-MSFT commented on #68157
@ziontech-devops Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-29 03:07] BryanTrach-MSFT commented on #68167
@ntabris Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-29 03:18] MayankBargali-MSFT commented on #68181
@dhawalk1981 Thank you for your feedback! We will review and update as appropriate.

[2020-12-29 03:47] JohnDelisle opened #68185 "Public AND Private IP addressing is confusing"
This documentation is confusing.

First, it says:
[code]

Then, it says:
[code]

The documentation conflicts with itself.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cebe35fa-7e3f-307b-8957-d91510bd8de6
* Version Independent ID: df666914-88d2-c690-6f54-3902d572e935
* Content: [Azure Application Gateway front-end IP

[2020-12-29 03:51] terrychang1015 commented on #67911
Noted, looking forward to updated Azure portal.

[2020-12-29 04:00] karataliu commented on #67749
@tamram  Thanks for the update.

I'd suggest updating the figure as well, I proposed one:
![image](https://user-images.githubusercontent.com/10071498/103257718-52ba5a80-49cd-11eb-9015-d0111400354d.png)

[2020-12-29 04:02] SeaDude opened #68186 "How to import reference files (non-Python) into Azure Function?"
It would be nice to know how to import non-Python files into an Azure Function. Things like `.ttf` files.

The [Import Behavior](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-python#import-behavior) docs do not seem to apply to other files types.

Outside of Azure Functions, I can just include these files in the root folder and the Python code will pick them up. If I i

[2020-12-29 04:19] SnehaAgrawal-MSFT commented on #68011
@tiagonmas Thanks for bringing this to our attention and sharing valuable feedback. This has been shared with the content owner for further review and update as appropriate.

[2020-12-29 04:27] rsamant07 commented on #68130
Thanks Martin,

This is fine. Issue can be closed

On Tue, 29 Dec 2020 at 5:58 AM, MartinJaffer-MSFT <notifications@github.com>
wrote:

--
Thanks & Regards <http://goog_658831281>
Rahul Singh Samant

[2020-12-29 04:33] AnuragSharma-MSFT commented on #68140
@arpit9mittal We don't have to buy multiple instances of specific resource or services to have high availability of 99.99. If we look at below screenshot, it provides the similar details about different tiers and their availability.

![image](https://user-images.githubusercontent.com/66360845/103258877-06ffb500-49bd-11eb-8a66-b6943a12a4ad.png)

You can refer to below links for more details:
https:

[2020-12-29 04:38] SwathiDhanwada-MSFT commented on #68182
@xuegao0112 Thanks for your comment. We will review the issue and get back to you shortly.

[2020-12-29 04:41] ram-msft commented on #68113
@mazdaluke We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-29 04:41] #68113 closed

[2020-12-29 04:43] AnuragSharma-MSFT commented on #68142
@arpit9mittal Business critical tiers offer availability of 99.995% or 99.99% based on below details. Also we are looking at individual instances that you provision on the Azure.

1. Azure SQL Database Business Critical or Premium tiers **_configured as Zone Redundant Deployments_** have an availability guarantee of at least 99.995%.
2. Azure SQL Database Business Critical or Premium tiers **_not

[2020-12-29 04:43] RohitMungi-MSFT commented on #68170
@panitaxx Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-12-29 04:47] KalyanChanumolu-MSFT commented on #59589
Pingback from [thread](https://docs.microsoft.com/en-us/answers/questions/212571/accessing-azure-redis-in-a-vnet-in-different-regio.html?childToView=212816#answer-212816) on Microsoft Q&A

[2020-12-29 04:50] SwathiDhanwada-MSFT commented on #68027
@pauldj54 As we haven't heard back from you and there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-12-29 04:50] #68027 closed

[2020-12-29 05:02] kikawash opened #68187 "traffic controll with AS-PATH prepend"
In the scenario of multiple on-premise VPN devices, user can use AS-PATH prepend to control traffic from Azure to on-premise site by adding longer AS-PATH length to advertising route from on-premise site.
This function should be supported, however I cannot an explanation on this in public document. Please add the scenario using AS-PATH prepend in the public document.

https://docs.microsoft.com/en

[2020-12-29 05:18] SubhashVasarapu-MSFT commented on #68185
@JohnDelisle, Appreciate your feedback. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-12-29 05:18] #68185 closed

[2020-12-29 05:21] SubhashVasarapu-MSFT commented on #68187
@kikawash, Thanks for reaching out. We will investigate and update this thread.

[2020-12-29 05:46] AshokPeddakotla-MSFT commented on #68033
@pnarsi As mentioned, You will be able to access as long as you meet the below requirements.

Devices that operate in on-premises networks can use Virtual Private Network (VPN) or ExpressRoute private peering to connect to a VNET in Azure and access DPS resources through private endpoints.

A private endpoint is a private IP address allocated inside a customer-owned VNET by which an Azure resource

[2020-12-29 05:49] austintraver commented on #43666
I'm still experiencing this issue, a month later.

[2020-12-29 06:01] brbell commented on #67978
Thank you for the feedback. The uncached column was only applied to premium storage VM's, and the Ddv4 VM doesn't support  premium storage unlike the Ddsv4 VM. This is the same as how it was documented/described in the Dv3/Dsv3 VM page.

[2020-12-29 06:15] RohitMungi-MSFT commented on #68166
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/141822
Thanks @v-demjoh. We will now proceed to close this thread.

[2020-12-29 06:15] #68166 closed

[2020-12-29 07:27] GitaraniSharma-MSFT commented on #68173
@mrdenny , Thanks for the feedback. At this time we are reviewing the feedback and will update you shortly.

[2020-12-29 07:33] ChaitanyaNaykodi-MSFT commented on #68016
Hello @philip-reed, apologies for the delay. To maintain[ Optimistic concurrency control](https://docs.microsoft.com/en-us/azure/cosmos-db/database-transactions-optimistic-concurrency#optimistic-concurrency-control) is maintained by monitoring the system defined `_etag` property which is automatically generated and updated by the server every time the item is updated. AFAIK currently there is not

[2020-12-29 07:33] #68016 closed

[2020-12-29 07:33] gjdonkers commented on #41755
This is probably the self hosted version of SignalR, @sffamily can you confirm? We have an application gateway V2, so if not this could be a solution for us.

[2020-12-29 07:34] MarzelLaning42 opened #68188 "incorrect wording of number of approvers."
Current page reads:
...
"Require approval to activate
If setting multiple approvers, approval completes as soon as one of them approves or denies. You can't require approval from at least two users."

should probably be:

"Require approval to activate
If setting multiple approvers, approval completes as soon as one of them approves or denies. You can't require approval from less than two users."

[2020-12-29 07:41] yuanshingk opened #68189 "How Azure IR manage scale out of cluster under the hood"
I would like to find information about how Azure IR manage spark cluster under the hood. For example, if I have a specification of 8 cores general purpose type configured for my data flow, how many spark workers could I expect? More detail / examples on how Azure IR manage scale out of the cluster would help a lot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-12-29 07:48] shashishailaj commented on #68188
@vipulsparsh Thank you for pointing this out . We will investigate and update the thread.

[2020-12-29 08:18] eugene-xie opened #68190 "Inbound rule of private subnet wrong"
The private subnet has set inbound port to 'none' which won't allow any connection from the internet, but later the validation steps has RDP connection to the VM in private subnet, which is impossible I think.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfd9533e-c174-cd48-0f72-a58457efa958
* Version Independent ID:

[2020-12-29 08:34] lucazav commented on #68171
Thank you @WinstonHoward-MSFT. I forgot to say the issue was the frozen black screen when trying to connect to the Ubuntu DSVM.

[2020-12-29 08:37] mbrans-plieger opened #68191 "Document outdated"
Hi,
The document is from 2019 and states it supports only
Confluence: 5.0 to 5.10
Confluence: 6.0.1 to 6.15.9
Confluence: 7.0.1 to 7.9.3

However we are already working with Confluence 7.10.0, does this indicate that the method as explained on this page should not work for us?
As per Alassian (https://confluence.atlassian.com/confkb/how-to-connect-confluence-data-center-with-azure-saml-sso-9967058

[2020-12-29 09:02] SwathiDhanwada-MSFT commented on #67961
@sp4rc [Codeless overview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/codeless-overview) document focuses on auto integration of Application Insights(can be enabled by one click) along with auto instrumentation (need to configure the agent). As the auto integration of Java for app services is currently in Private Preview ,it  has been noted as Private Preview . And as the Application

[2020-12-29 09:02] #67961 closed

[2020-12-29 09:08] GitaraniSharma-MSFT commented on #68048
@t-leblanc , the PG mentioned that the available method to deploy profiles for Azure VPN clients (Windows 10) is by using Microsoft Intune. This method will only work for deploying profiles that use Azure Active Directory or a common certificate for client authentication. You can explore the same in the below article:
https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-profile-intune

Azure Pow

[2020-12-29 09:08] #68048 closed

[2020-12-29 09:13] SeaDude commented on #68186
Disregard. Just had to include the folder path of the Function.
**Was trying:**
`font = 'fontFile.ttf'`
**Needed:**
`font = 'folderHoldingInit/fontFile.ttf'`

[2020-12-29 09:13] #68186 closed

[2020-12-29 09:17] GitaraniSharma-MSFT commented on #68173
@mrdenny , the docs says:

![image](https://user-images.githubusercontent.com/67630903/103272997-3aa20580-49e4-11eb-8ea9-863e65213f35.png)

At the end of tutorial,

![image](https://user-images.githubusercontent.com/67630903/103273046-5b6a5b00-49e4-11eb-8e51-63649bee8cb2.png)

So, it is correct. The purpose of this tutorial is to create a private endpoint for an Azure web app and deploy a virtual

[2020-12-29 09:17] #68173 closed

[2020-12-29 09:38] gbelenky opened #68193 "Add confirmation to commands. Wait for user's input is not the default value and needs to be selected"
Document states "Leave the _default_ value of **Post-execution state** as **Wait** for user's input."

Wait for user's input is not the default value and needs to be manually selected

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f9ba8c8-d002-9cda-a28f-30effa9bbc7e
* Version Independent ID: 2e04653f-ae0b-c52d-e899-c2

[2020-12-29 09:41] gbelenky opened #68194 "Typo in add-confirmations-to-a-command. Instead of 83 degrees, 72 degrees should be there"
- Input: Set temperature to 80 degrees
- Output: are you sure you want to set the temperature as 80 degrees?
- Input: No
- Output: No problem. What temperature then?
- Input: 72 degrees
- Output: are you sure you want to set the temperature as 72 degrees?
- Input: Yes
- Output: OK, setting temperature to **_83_** degrees

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this sectio

[2020-12-29 09:43] wukun2015 commented on #68147
Any update please ?

[2020-12-29 09:51] MSSedusch commented on #67995
Changes should be live in the next 24 hours.
#please-close

[2020-12-29 09:51] #67995 closed

[2020-12-29 09:52] MSSedusch commented on #60261
#please-close

[2020-12-29 09:52] #60261 closed

[2020-12-29 09:52] t-leblanc commented on #68048
@GitaraniSharma-MSFT , can you confirm that SCCM is not a supported method to deploy the azurevpnconfig.xml file? Not every customer is onboarded in Intune.

[2020-12-29 10:06] HarithaMaddi-MSFT commented on #68189
@yuanshingk - Thanks for the question. I am moving it to content author to share their thoughts.

@nabhishek - Can you please take a look?

[2020-12-29 10:28] AshokPeddakotla-MSFT commented on #67595
@QiMata PR has been created fix libssl version from libssl1.0.2 to libssl1.1. Changes will go live once it has been peer reviewed and merged.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-29 10:28] #67595 closed

[2020-12-29 10:30] srini-t10 opened #68195 "Azure Purview: PBI Scan- Is there an option to scan only specific workspace(s) ?"
Is there an option to scan only specific PBI workspace, instead of the entire tenant ? Couldn't find information about it in the document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2058d99-ebe7-6d5d-1337-43de20df8116
* Version Independent ID: 643c4310-00e2-3dac-c0db-7e4f9c588d22
* Content: [Register and scan a Po

[2020-12-29 10:59] herreovertidogrom commented on #68129
Yes, there are multiple issues. I followed the guide for four hours, and was unable to get it to work.

First of all : The Guide needs to be updated to reflect the latest version. It makes little sense to refer to a 2.0 preview package when the 3.0-preview package is available.

`     var primaryQueryEndpointKey = GetQueryEndpointKey(client).Result;

            // <AuthorizationQuery>

[2020-12-29 11:12] CHEEKATLAPRADEEP-MSFT commented on #68195
@srini-t10  Thanks for the question! We are investigating and will update you shortly.

@chanuengg Could you please look into this ask?

[2020-12-29 11:50] AjayKumar-MSFT commented on #68090
@mormond, Apologies for the delayed response.

This [article ](https://docs.microsoft.com/azure/marketplace/azure-vm-image-test#prepare-an-azure-resource-manager-template) describes how to test and submit a virtual machine (VM) image in the commercial marketplace meeting the latest Azure Marketplace publishing requirements, via sample ARM template with extension.

    "properties": {

[2020-12-29 11:50] #68090 closed

[2020-12-29 11:54] herreovertidogrom commented on #68129
I reopened and added comment above

[2020-12-29 12:08] oshezaf opened #68198 "Using parameter functions"
In addition to ARM templates, you can use PowerShell and API to define parameter functions. I find PowerShell the easiest.

API: https://docs.microsoft.com/en-us/rest/api/loganalytics/savedsearches/createorupdate
Powershell Cmdlet:
- create: https://docs.microsoft.com/en-us/powershell/module/az.operationalinsights/new-azoperationalinsightssavedsearch
- remove: https://docs.microsoft.com/en-us/powe

[2020-12-29 12:21] Makesh-Gmak opened #68200 "To delete Log Analytics workspace via az cli"
The page covers on how to delete via powershell. Can anyone please share me the `az` command on how to delete (soft + permanent) the log analytics workspace. It will be help for automating the deletion of resources in non-powershell env.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86984751-da7f-c77b-c78b-a9c9ffacb4a

[2020-12-29 12:43] AshokPeddakotla-MSFT commented on #68183
@mmaitre314 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-12-29 12:51] shashishailaj commented on #68180
@ramya-rao-a Thank you for your query. We will investigate and update this thread .

[2020-12-29 13:01] rkarlin commented on #68183
Thanks for the great feedback. We will take this under advisement as we begin expanding our documentation for Azure Sentinel to include some troubleshooting information.

#please-close

[2020-12-29 13:01] #68183 closed

[2020-12-29 13:04] GitaraniSharma-MSFT commented on #68048
@t-leblanc , there is no documentation for SCCM but you can have a look into the below thread and see if the suggestion provided by another user helps:
https://github.com/MicrosoftDocs/azure-docs/issues/49689

[2020-12-29 13:09] SwathiDhanwada-MSFT commented on #68200
@Makesh-Gmak Thanks for your comment. Here are the az commands to delete the workspace.

_Soft-delete workspace:_ `az monitor log-analytics workspace delete --resource-group RGname--workspace-name wn`

_Permanent Deletion of workspace_ : `az monitor log-analytics workspace delete --resource-group RGname--workspace-name wn --force`

[2020-12-29 13:11] SwathiDhanwada-MSFT commented on #68198
@oshezaf Thanks for your comment. Can you please elaborate on your issue so that I can advise or look into it accordingly?

[2020-12-29 13:38] t-leblanc commented on #68048
@GitaraniSharma-MSFT , thank you, the info mentioned in [#49689](https://github.com/MicrosoftDocs/azure-docs/issues/49689)  is very helpful!

[2020-12-29 13:39] RohitMungi-MSFT commented on #68194
@gbelenky Thanks for spotting this. A PR is created to fix this typo. The change should reflect in the document within 24 hours of the PR merge.

[2020-12-29 13:49] SwathiDhanwada-MSFT commented on #68108
@nguyenbs When you login to Azure Account Center and is prompted with message "No subscriptions are found". Then the scenario indicates to check the Account Administrator of the subscription that you see in Azure portal and tally with the account logged in to Azure Account Center.

In short, only the Account Administrator of the subscription can view the subscriptions in Azure Account Center.

As

[2020-12-29 13:49] #68108 closed

[2020-12-29 13:52] RohitMungi-MSFT commented on #68193
@gbelenky Thanks for spotting this. A PR is submitted to update the step with the correct text to change the default value to wait for user's input. @trevorbye FYI

[2020-12-29 14:08] jethrovaneetvelde commented on #61268
Any feedback on this?

[2020-12-29 14:14] arpit9mittal commented on #68140
Thanks, but I still have ambiguity please help clarify it .

As per the link -
https://azure.microsoft.com/en-us/support/legal/sla/sql-database/v1_5/

*Azure SQL Database Business Critical or Premium tiers not configured for
Zone Redundant Deployments, General Purpose, Standard, or Basic tiers, or
Hyperscale tier with two or more replicas have an availability guarantee of
at least 99.99%.*

Questi

[2020-12-29 14:18] arpit9mittal commented on #68142
Thanks, but I still have ambiguity please help clarify it .

As per the link -
https://azure.microsoft.com/en-us/support/legal/sla/sql-database/v1_5/

   - *Azure SQL Database Business Critical tier configured with
   geo-replication has a guarantee of Recovery point objective (RPO) of 5 sec
   for 100% of deployed hours.*
   - *Azure SQL Database Business Critical tier configured with
   geo-repl

[2020-12-29 14:51] csharpfritz opened #68203 ""Case Transform" is not defined in the documentation"
Which values are transformed with the 'Case Transform' feature on the Azure Frontdoor Rules Engine?  Is it the captured value?  Is it my filtered value that I submit?

Also:  which conditions accept multiple values separated by spaces?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60119f51-51f3-223f-58d0-38578fbbcc6d

[2020-12-29 14:58] ruderod opened #68204 "wrong picture"
Associate network interfaces to an ASG
for this task, the picture is not correct,  the UI does not look like that.   the link to 'application security groups' is in a different part of the screen.   please correct.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7294d2f2-a192-92dc-d7a6-6c262817e59d

[2020-12-29 15:08] ToddBowman opened #68205 "Documentation wrong or unclear"
Under how to perform a restore operation, there is this sentence:
`When you perform a restore operation, you must specify the restore point as a UTC DateTime value`

The "UTC" part should be removed or updated. When I followed that time zone guidance and did a restore via the Azure portal, it restored using my local time, not UTC as indicated.

---
#### Document Details

⚠ *Do not edit this sectio

[2020-12-29 15:20] SwathiDhanwada-MSFT commented on #68182
@xuegao0112 Can you please let me know if you have configured the Telegraf agent to collect metrics from input plugin Prometheus?  If you haven't, can you please follow the procedure mentioned in the document as shown below ?

![image](https://user-images.githubusercontent.com/48976275/103294250-7efac900-4a17-11eb-8ffa-6c9591b2d5c5.png)

[2020-12-29 16:02] miqm opened #68206 "List function without suffix is also valid"
Hello,

I'd like to suggest adding to [List](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-functions-resource?tabs=json#list) section a hint, that `list` function is also a valid one i.e. to get `publishingcredentials` of `Microsoft.Web/sites/config`.

Last sentence could be:
The operation name must start with `list`. Suffix is not required. Some common usages ar

[2020-12-29 16:11] sameerkumar18 commented on #52667
Hi @PramodValavala-MSFT @mike-urnun-msft - Just spent almost a day figuring this out before finding this GH issue, please do make it clear in the testing tab itself about the timeout if in case that's any sort of restriction

[2020-12-29 16:13] VikasPullagura-MSFT commented on #68204
@ruderod
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-12-29 16:13] VikasPullagura-MSFT commented on #68204
@KumudD
Can you please check and add your comments on this doc update request as applicable.

[2020-12-29 16:17] vivesg opened #68207 "Commands are incorrect"
Hello Team can you please fix the commands
Instead of DHC is DHCP

[code]
All the document is refering to dhc instead of dhcp

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f41f67da-b71b-3b20-b3b2-947920b2943c
* Version Independent ID: f8199aa8-da27-85c4-bb59-97590df16701
* Content: [Cannot remote desktop to Azure Virt

[2020-12-29 16:17] asergaz commented on #68114
Hi @hemantsali can you share what you believe needs to be enhanced in this doc?

1) The Deployment Target condition can use **Device's reported properties** to apply the deployment.
2) The Module Twin Configuration is the actual JSON file included in the deployment that can for example manipulate the Device's behavior by setting the **desired property** accordingly. Note that desired properties ar

[2020-12-29 16:20] dariuspetrov opened #68208 "Inconsistency between CIDR range and Available VMs"
This text:
"A workspace with a /24 virtual network has 64 addresses with five reserved, so there are a maximum of 59 nodes active at a time. A workspace with a /22 virtual network has 1024 addresses with five reserved, so there are a maximum of 1019 nodes active at a time."

As the following issues:
- There's no reference to subnets (instead of Virtual Network there should be subnet)
- No clear ex

[2020-12-29 16:21] asergaz commented on #68131
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-12-29 16:39] jimdigriz commented on #67806
Having the same problem here, the documentation does not state that `jitAccessPolicy` will not work for [service catalogue deployments](https://docs.microsoft.com/en-us/azure/azure-resource-manager/managed-applications/publish-service-catalog-app) (documented alongside it) but it looks to be the case.

[2020-12-29 16:43] JamesTran-MSFT commented on #68072
@gsimardnet
I just wanted to check in and see if you had any other questions or if you were able to resolve this issue? Since I haven't heard from you in a few days, I'll go ahead and close out this issue at the end of the day, pending any response from your end.

If you have any other questions or require additional support, please let me know.
Thank you for your time and patience throughout this

[2020-12-29 16:45] tamram commented on #67749
@karataliu - I think most users understand that the question mark is part of the URI query syntax and not part of the SAS token. But I'll be making some changes to this article in the near future, and I'll look into updating the image then.

[2020-12-29 17:03] AshokPeddakotla-MSFT commented on #68122
@

Can you share more details like screenshot of the issue and how exactly are you updating the file?

Please ensure that you have completed previous steps without any fail before running this command.

[2020-12-29 17:22] DerekHerman-MSFT commented on #67986
@byte-master

An account failover usually involves some data loss. It's important to understand the implications of initiating an account failover.

Data loss can occur because replication is asynchronous, so if there are writes that haven’t been synchronized yet they may be lost.  This makes it critical to not initiate a failover too quickly.  A short term outages are often mitigated within minut

[2020-12-29 17:22] #67986 closed

[2020-12-29 17:23] tamram commented on #68112
#reassign: @tamram

[2020-12-29 17:26] dhawalk1981 commented on #68181
the Function I was using yesterday, was created using VS 2019. I created another one today using VS Code wizard and for whatever reason, this one works!! Its still a mystery as to why it works. I am getting the json object in the EventData this time around

[2020-12-29 17:52] nigeldao007 opened #68211 "RHEL8.x Version of This Doc"
[Enter feedback here]
Hi, this document does not cover RHEL8, do you have a RHEL8 version of this doc?  I tried to perform the same steps listed in RHEL7 section on RHEL8 but there are some differences/errors/warnings that suggest RHEL7 steps would not work for RHEL8.  Any help is very much appreciated.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-12-29 17:52] Nicholak-MS commented on #66824
Thanks David, appreciate all the feedback and helpful hints. In addition to the PR's you mention above I also just created one for the addition product MCOPSTN_5

[2020-12-29 18:07] JamesTran-MSFT commented on #68207
@vivesg
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-29 18:29] v-demjoh commented on #68075
Tell me: Is the page itself the additional information? It looks to me like the GStreamer plus the code snippets on that page (in 4 languages) is all the configuration necessary. The Python example shows MP3, while the other languages show OPUS/OGG example code. I will remove the link if you can confirm this.

[2020-12-29 18:37] tamram commented on #68112
@autohub7 - Thanks for your feedback. I've rewritten that section to correct the typo and to provide a code snippet that uses the emulator shortcut directly.

In terms of #3, there isn't any way that I can think of to check the connection string for the emulator, which is why we put it in the documentation. But I believe I've made clear what the emulator connection string looks like and how to use

[2020-12-29 18:37] #68112 closed

[2020-12-29 18:41] dargilco commented on #68075
Yeah @v-demjoh I think you are right! the code snippets at the bottom of the page (for all programming languages) show all the property settings needed as far as I can tell (I have not run it myself). So it seems like the link can be removed. Thank you for looking into this!

[2020-12-29 18:46] MartinJaffer-MSFT commented on #68130
Thank you for the feedback @rsamant07 .  Have a good week!

[2020-12-29 18:46] #68130 closed

[2020-12-29 18:49] tamram commented on #49277
#reassign: @tamram

[2020-12-29 18:51] tamram commented on #49277
@rssllptrs - Thanks for your feedback. The script currently won't calculate the correct billing size for snapshots. We're aware of the problem and the engineering team is working on a solution. In the meantime, I've added a note to the doc to clarify.

#please-close

[2020-12-29 18:51] #49277 closed

[2020-12-29 18:53] femsulu commented on #68206
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-12-29 19:04] siva-data opened #68212 "Synapsesql to run SQL Queries using Scala"
Is there a support available to execute the SQL query using the synapsesql function ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f102b5ad-f6a9-9ab6-913f-98f5c7559f8f
* Version Independent ID: 0f5d7c5d-4514-6b2a-4518-33ad76a578b4
* Content: [Import and Export data between serverless Apache Spark pools and SQL pools

[2020-12-29 19:15] alanflanders-teck opened #68213 "403 Forbidden - Can't run scripts as per documentation"
I've created an Azure ML model in Studio and deployed it. I can test it with postman and get the correct response returned.

When I try to follow the code here on my local machine in a notebook:
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-consume-web-service?tabs=python

I get a 403 Forbidden error.

The api does not have a key.

What steps do I need to take to allow my script t

[2020-12-29 19:20] mike-urnun-msft commented on #68129
@herreovertidogrom Thank you for the additional context. Based on your feedback, as the next step, we are proceeding to assign this issue to the author to review further and take the next course of action.

[2020-12-29 19:22] AjayKumar-MSFT commented on #68123
@ryepup, We have raised a PR based on your feedback for the author to review and push the changes. We will close this thread for now, once the PR is merged the changes will be published in the doc. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.
Thanks again for your valuable feedback and contribution to Azure doc improveme

[2020-12-29 19:22] #68123 closed

[2020-12-29 19:29] shine17 opened #68214 "Invalid step mentioned in the document"
[Enter feedback here]
Below statement is invalid - `The version property of the image must be set to latest`
We are getting below  error in VM scaleset and Virtual machine because of that . It seems we cannot specify image id and image version at same time. Please clarify and update the document.

[code]

Document link - https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-mac

[2020-12-29 19:30] #67344 closed

[2020-12-29 19:42] mjcarrabine commented on #67495
Thank you. This is very helpful information in evaluating the feature.

[2020-12-29 19:42] DerekHerman-MSFT commented on #68205
@ToddBowman Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-29 20:02] tamram commented on #67526
@cpinotossi - Thanks for your feedback. I've added this info to the prereqs section of the [Initiate a storage account failover](https://docs.microsoft.com/azure/storage/common/storage-initiate-account-failover?toc=%2Fazure%2Fstorage%2Ffiles%2Ftoc.json&tabs=azure-portal). The change will go live in a few hours.

#please-close

[2020-12-29 20:02] #67526 closed

[2020-12-29 20:03] tamram commented on #67988
#reassign: @normesta

@santoshc1 FYI

[2020-12-29 20:04] tamram commented on #67297
@sivac-ms - Since we haven't heard back from you, I'm closing this issue for now. Please let us know if we can be of further assistance.

#please-close

[2020-12-29 20:04] #67297 closed

[2020-12-29 20:19] scott1138 opened #68215 "Add additional troubleshooting for GPO"
I was unable to get my password writeback working and finally the 4th technician was able to help fix it.  The issue was cause by a GPO that enabled the setting "Network access: Restrict clients allowed to make remote calls to SAM" under Computer Configuration->Windows Settings->Security Settings->Local Policies->Security Options.

Checking is enabled using Resultant Set of Policy and adding the M

[2020-12-29 20:41] DerekHerman-MSFT commented on #68211
@nigeldao007 There is not currently a RHEL 8 version of the doc. I did find a [third party blog post](https://www.silvermills.net/rhel8-azure-custom-image/) which did this with RHEL 8 and it seems that the steps are the same, check and see if this helps.
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-29 20:43] MarileeTurscak-MSFT commented on #68191
@mbrans-plieger
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-29 20:52] mamccrea commented on #68081
Hi @nickvanmaele and @pradorodriguez! I recently updated this article and I changed the final query. This was the original query, which would give you the `FradulentCalls` value needed for the tile. I'll fix the article.

[code]

[2020-12-29 20:55] WinstonHoward-MSFT commented on #68214
Thanks for the feedback, I've assigned it to the author to take a look.

[2020-12-29 21:06] gsimardnet commented on #68072
@JamesTran-MSFT
Your previous answer was 23 hours ago. It is not a "few days".

In any case, I have reviewed your answer and basically, you ask me to add USERNAME (the external user) in my tenant ? I believe it is not multi-tenant then. If so, could you briefly explain the difference between "single tenant" and "multi tenant" ?

With your proposed solution, it makes no difference to configure my a

[2020-12-29 21:24] MarileeTurscak-MSFT commented on #68215
@scott1138 can you please explain exactly what you would like added and what issue it will resolve? Are you suggesting enabling "Restrict clients allowed to make remote calls to SAM" or disabling it?

[2020-12-29 21:26] NavtejSaini-MSFT commented on #68119
@surjo20 We are going ahead and closing this issue for now. Please feel free to reach out with your query later.

[2020-12-29 21:26] #68119 closed

[2020-12-29 22:00] bendavis78 commented on #17464
You can vote for this feature here: https://feedback.azure.com/forums/34192--general-feedback/suggestions/42314878-allow-subpath-volume-mounts-in-aci

[2020-12-29 22:04] scott1138 commented on #68215
Sorry I was a little unclear.  Is this better?

Problem: Password writeback has been enabled following all of the required steps, but when attempting to change a password you receive "SSPR_0029: Your organization hasn’t properly set up the on-premises configuration for password reset".  Checking event logs on the Azure AD Connect system show the issue is that the management agent credential was de

[2020-12-29 22:20] ChaitanyaNaykodi-MSFT commented on #68071
Hello @omerzubair, apologies for the delay. When `Selected Networks` option is selected at least one IP firewall rule should be added as quoted in the [document](https://docs.microsoft.com/en-us/azure/service-bus-messaging/private-link-service#steps).

Regarding the second part, yes you have to add your internal VNET address range to `Selected Networks` so that it is only accessible via the VNET,

[2020-12-29 22:20] #68071 closed

[2020-12-29 22:30] tamram commented on #66953
@sumanbasireddy - Thanks for providing this feedback! I updated the doc to use the Storage Blob Data Contributor role.

#please-close

[2020-12-29 22:30] #66953 closed

[2020-12-29 22:35] tamram commented on #64510
@crow-ua - Thanks for letting us know about this. We updated the Azure Storage data services API documentation to describe the supported date formats: https://docs.microsoft.com/rest/api/storageservices/formatting-datetime-values.

The engineering team has been alerted to similarly update the documentation for the ARM APIs for storage.

#please-close

[2020-12-29 22:35] #64510 closed

[2020-12-29 22:38] omerzubair commented on #68071
Hi @Chanitanya
Thanks for the reply. I was looking for some reasoning why this PaaS service sharing the same screen with itger PaaS service behave differently.
There is no Note on screen.
Yes i was able to see this in documentation however not clear by looking at the PaaS screen on portal.

Further more how can SaaS (CRM/O365) reach internal private service bus?

[2020-12-29 22:50] CyCodeDev commented on #67863
Please also note that this has also been attempted on: DataBricks Runtime 6.4 (includes Apache Spark 2.4.5, Scala 2.11)

The bulkinsert is incredibly slow even after adjusting for batch size/partitions.

[2020-12-29 22:57] SaurabhSharma-MSFT commented on #68208
@dariuspetrov Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-12-29 23:00] SaurabhSharma-MSFT commented on #68212
@siva-data Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-29 23:14] Shred99 commented on #41969
This is still a problem on azcopy v10.8.0.

[2020-12-29 23:17] SaiKishor-MSFT commented on #68203
@csharpfritz When using the 'Case Transform' feature on Azure Front Door, it transforms the filtered value that you submit in the value tab. All conditions accept multiple values separated by enter. Does this answer your questions? Please let me know if you want me to clarify anything else for you and I will be glad to do the same. Thank you!

Here is an example thread where the customer is using

[2020-12-29 23:21] JamesTran-MSFT commented on #68072
@gsimardnet
Thank you for the quick follow up! I tested this out in my own environment (using the User Flow tutorial) and will post my findings below.

**Findings:**
When it comes to the error message that you received, you'll have to add the account as an external user in the your tenant before that user can access your application.

One of the [pre-requisites of this tutorial](https://docs.micro

[2020-12-29 23:22] SaiKishor-MSFT commented on #68190
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-29 23:29] YutongTie-MSFT commented on #68213
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-29 23:34] MarileeTurscak-MSFT commented on #68215
Thanks! I made a pull request to update the troubleshooting steps for this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/141908

 @Justinha please confirm

[2020-12-29 23:34] #68215 closed

[2020-12-29 23:37] JamesTran-MSFT commented on #68207
@vivesg
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-12-29 23:37] #68207 closed

[2020-12-29 23:59] lmazuel commented on #67213
Please refer to this issue for the big picture on this: https://github.com/Azure/azure-sdk-for-python/issues/9310

[2020-12-30 00:34] jlichwa commented on #65996
Moved to Azure Samples #please-close

[2020-12-30 00:34] #65996 closed

[2020-12-30 00:46] MarkAtAgilliance opened #68221 "Make it clear that MSI is not supported"
Regarding Azure App Configuration service documentation, in [this](https://docs.microsoft.com/en-us/azure/azure-app-configuration/pull-key-value-devops-pipeline#create-a-service-connection) section, add a note that MSI is not supported due to certs not being supported.

Spent quite a bit of time trying to get our private build server to work only to discover after many hours that MSI on those buil

[2020-12-30 01:03] v-demjoh commented on #68075
Fixed 12 hours from now at https://docs.microsoft.com/en-us/azure/cognitive-services/Speech-Service/how-to-use-codec-compressed-audio-input-streams

[2020-12-30 02:54] jimfalzone opened #68222 "word missing in a doc"
In the document Azure Resource Manager  found here:  https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/overview#resource-groups

I found the word "to" is missing from the sentence "When you apply a policy on the resource group, that policy is applied **TO** the resource group and all its resources."   This is in the "Understanding Scope" section
[Enter feedback here]

---
##

[2020-12-30 03:01] nigeldao007 commented on #68211
Derek,

Thank you for assigning the issue and for the research/link to the blog post - I will test out the steps.

I took a quick look at the post and quickly noticed a few differences:

[1] The author of the blog post was using Hyper-V and I am using VMware.

[2] In the VMware section of this doc, there is a step for modifying the /etc/dracut.conf to enable/load hyper-v driver into the initram di

[2020-12-30 03:02] xuegao0112 commented on #68182
Hi @SwathiDhanwada-MSFT , thanks for the help.
Yes I have deploy the Telegraf agent to collect metrics from input plugin Prometheus for all of the VMs, and just 2 of them doesn't work.
Attach my configuration here:
###############################################################################

# Read metrics from one or many prometheus clients
[[inputs.prometheus]]
  ## An array of urls to scrape

[2020-12-30 03:09] xuegao0112 commented on #68182
By the way, attached by debugging log with comand below:
_sudo tcpdump -A -s0 -i lo 'port 9420' -w output.pcap_
************************************
-- Logs begin at Mon 2020-11-30 20:08:32 +08, end at Thu 2020-12-24 19:06:38 +08. --
Dec 24 02:40:30 hkprho3opsh30vf telegraf[40299]: 2020-12-23T18:40:30Z W! [inputs.prometheus] Collection took longer than expected; not complete after interval of 30s

[2020-12-30 03:09] BhargaviAnnadevara-MSFT commented on #68222
@jimfalzone Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2020-12-30 03:11] BhargaviAnnadevara-MSFT commented on #68221
@MarkAtAgilliance Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-12-30 03:40] AshokPeddakotla-MSFT commented on #68079
Since you have raised an issue on the iotedge repo, Request you to check the response and follow up there to avoid duplicate efforts.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-30 03:40] #68079 closed

[2020-12-30 03:50] JimmyLS opened #68223 "The link for Server middleware auth library for .Net/.Net core is not correct"
The links (Nuget, Github) for Server middleware library for .Net/.Net core seems not correct. It's now linked to a root page of asp.net MVC & asp.net core instead of the libraries we indeed need.

And as I know, .Net/.Net core uses different server middleware libraries. It's better to separate them and list the related library link.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-12-30 04:15] hemantsali commented on #68114
Hello,

Thanks for clarification.
It was apparently not clear that the desired properties are for the
Deployment twin configuration, and not for the Deployment Target condition.
But its clear now and the contradiction is not there as i understand.

Thanks for the support.

Sincerely,
Hemant

On Tue, Dec 29, 2020 at 9:47 PM António Sérgio Azevedo <
notifications@github.com> wrote:

[2020-12-30 04:19] AnuragSharma-MSFT commented on #68140
@arpit9mittal As per the [article](https://docs.microsoft.com/en-us/azure/azure-sql/database/high-availability-sla#premium-and-business-critical-service-tier-locally-redundant-availability), "**_High availability is implemented using a technology similar to SQL Server Always On availability groups. The cluster includes a single primary replica that is accessible for read-write customer workloads,

[2020-12-30 04:32] SaurabhSharma-MSFT commented on #68159
@nickvanmaele I am able to reproduce this issue and assigned this issue to author for further investigation and update the documentation.
![image](https://user-images.githubusercontent.com/38112130/103330086-cb90d500-4a14-11eb-884a-e0f6b7327c3d.png)

@kevinvngo Can you please help on this.

[2020-12-30 04:37] arpit9mittal commented on #68140
Hi Anurag,

Now this is going in a circle. I didn't ask for a geo-replication, but the
question was different.
Please note, i have two email threads, one is for standard tier and other
is for premium tier.
Can we talk over the phone? or zoom etc ?

Regards
-Arpit Mittal

On Tue, Dec 29, 2020 at 11:19 PM AnuragSharma-MSFT <notifications@github.com>
wrote:

[2020-12-30 04:39] ram-msft commented on #68147
@wukun2015 Thanks, Since RecognizeOnceAsync() returns only a single utterance, it is suitable only for single shot recognition like command or query.
Here is the [sample ](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/csharp/uwp/speechtotext-uwp/speechtotext-uwp/MainPage.xaml.cs) for single-shot recognition.
For error handling in RecognizeOnceAsync:
 var result

[2020-12-30 04:40] vipulsparsh commented on #68223
@JimmyLS Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2020-12-30 04:40] vipulsparsh commented on #68223
@negoe Can you have a look at this ?

[2020-12-30 04:49] VikasPullagura-MSFT commented on #61268
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2020-12-30 04:58] mike-urnun-msft commented on #67597
@sovaska I hope the snippet above shared by @wlitke-dn did the trick for you. If you have more questions on this topic, it'd be best to open a new post on our new QnA platform where we provide answers to general how-to questions that don't directly involve any of our docs.

Generally speaking, if you want to locate the ARM calls for the operations carried out in Azure Portal, you can always use De

[2020-12-30 04:58] #67597 closed

[2020-12-30 05:29] AnuragSharma-MSFT commented on #68152
@gsuttie Thank you for the feedback. I was trying to run the same script as mentioned in the article and was able to create the database properly without any issue.

Could you please let us know if you faced any issue there? Or any specific reasons you want the script to be updated and we can analyze that.

[2020-12-30 06:00] bluey47 opened #68224 "Could benchmark scores be added for new generation of VM's?"
Hi,
I try to use this page several times a year while checking there isn't a better suited VM size for my servers. Would be great if it could be kept up to date with each release of new VM options, I imagine benchmarking is done as part of Microsoft's testing of new options, would really help your users if we could know the results and be able to compare them to the other sizes which this page doe

[2020-12-30 06:14] AbarnaC opened #68225 "Custom dynamic mapping of different number of columns in dataflow or any other options to achieve this"
My source (CSV file in ADLS) has header record(3 columns) , detail records(5 columns)  and trailer record(2 columns) . The header record has less number of columns than the detail records. When I try to convert this csv file to  parquet, i m getting the column count error using copy activity in ADF. So I tried using dataflow to do the mapping but still its considering only three columns and ignori

[2020-12-30 06:22] VikasPullagura-MSFT commented on #68224
@bluey47
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-12-30 06:22] VikasPullagura-MSFT commented on #68224
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2020-12-30 06:41] HarithaMaddi-MSFT commented on #68102
@Evogelpohl -  Since we did not hear from you, we are unable to proceed with requested change. I will close the issue now, feel free to post for further queries and we will assist.

[2020-12-30 06:41] #68102 closed

[2020-12-30 06:48] SwathiDhanwada-MSFT commented on #68200
@Makesh-Gmak We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-12-30 06:48] #68200 closed

[2020-12-30 06:54] mike-urnun-msft commented on #67965
Hello @lhervel - Since this channel is more for driving improvements towards MS Docs, could you open a new issue on the following repo instead? https://github.com/Azure/azure-functions-vs-build-sdk/issues

Since we didn't determine any changes for this particular upon reviewing this feedback, we will now proceed to close this thread. If there are further questions regarding this matter, please reo

[2020-12-30 06:54] #67965 closed

[2020-12-30 07:17] CHEEKATLAPRADEEP-MSFT commented on #68225
@AbarnaC  Please help with the link of the document on which the above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be a better place to get help on your scenario. These forum community members c

[2020-12-30 07:18] aelij opened #68226 "Add a warning about PowerShell usage?"
It seems like when using PowerShell to get an ACR credential you must enable the admin user, which is not a recommended practice. There's even a warning on [this page](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-authentication#admin-account) that it's intended for testing.

I think since PowerShell requires it, there should be a recommendation on this page to use t

[2020-12-30 07:20] wukun2015 commented on #68147
Hello @ram-msft ,

Thanks for reply, however my question was more than recognition result status:

Whatever recognition result, shall sdk client **always** expect **Recognizer.sessionStopped** event to stop recognition? E.g.:

            recognizer.sessionStopped.addEventListener((s, e) -> {
                System.out.println("\nSession stopped event.");
                stopCurrentClientRecogniti

[2020-12-30 07:28] psmanhas commented on #68226
@aelij Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-12-30 07:28] psmanhas commented on #68226
@dlepow Can you please check and add your comments on this doc update request as applicable

[2020-12-30 07:38] AbarnaC commented on #68225
@CHEEKATLAPRADEEP-MSFT Thanks for your reply

[2020-12-30 08:24] vipulsparsh commented on #68117
@iris-hpaterson
Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2020-12-30 08:25] nickvanmaele commented on #68081
Hi Mary,

Thank you for this fast response and for the new version.

Wishing you happy holidays and a good start to the new year.

Best regards,
Nick

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Mary McCready <notifications@github.com>
Sent: Tuesday, December 29, 2020 9:52:40 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Van Maele, Ni

[2020-12-30 08:26] vipulsparsh commented on #68188
@MarzelLaning42
Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2020-12-30 08:53] SaiKishor-MSFT commented on #67350
Thanks for the feedback! I have checked the issue to be true and assigned the content author to this issue for updating the same.

[2020-12-30 08:55] CHEEKATLAPRADEEP-MSFT commented on #68225
@AbarnaC  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-12-30 08:55] #68225 closed

[2020-12-30 09:06] JimmyLS opened #68228 "Can we apply MAM CA policy (require app protection policy) to custom app"
Just want to know if this MAM CA policy (require app protection policy) can **only** apply to below listed apps. Do we support custom developed app to be applied by this CA policy?

![image](https://user-images.githubusercontent.com/25541899/103341175-21bb5200-4ac1-11eb-8847-5a716e66015f.png)

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-12-30 09:07] liualexiang opened #68229 "missing login az batch account when create batch pool"
[Enter feedback here]

Before create render pool, we should login batch account first. otherwize, there will be an error when execute 'az batch pool create' command.

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7a0c20d-76da-2c4c-e849-a856a2b8c763
* Version Independent ID: 6a1b4908-c112-1eac-b8ff-b2bbf97014d7

[2020-12-30 09:08] liualexiang commented on #68229
for someone who met this error, you may take a look at if your error is like below:

[code]

[2020-12-30 09:14] AnuragSharma-MSFT commented on #68140
@arpit9mittal I think I understand the confusion. If you want to purchase replica (not through geo-replication) you just need to set the Zone Redundancy, Azure fabric takes care of creating the replicas behind the scenes and it is charged similar way. For General Purpose tier, zone redundancy incurs an additional cost. As an example if I create a General Purpose database with no Zone redundancy I

[2020-12-30 09:20] AnuragSharma-MSFT commented on #68142
@arpit9mittal For the first query, it is not clearly documented about RTO and RPO when we configure Zone redundancy. Current available information talks only about availability. I am reaching to product group on the same.
For the second query, yes for geo-replication we need to configure/buy the instances based on how many secondary we need. For  zone replication, if possible could you please prov

[2020-12-30 09:41] alexanderbikk commented on #54015
hi @karolz-ms

Can you please help me? How I can get the "service-principal-password" of existing ServicePrincipal that have already assigned to the AKS. I just want to use this ServicePrincipal to create registrykey on my local machine. I used Client secret value as a "service-principal-password" from my ServicePrincipal  but seems it's not working.

Thanks

[2020-12-30 10:11] shashishailaj commented on #68228
@JimmyLS Thank you for your query. We will have this checked and update the thread.

[2020-12-30 10:12] VikasPullagura-MSFT commented on #68229
@liualexiang
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-12-30 10:12] VikasPullagura-MSFT commented on #68229
@JnHs
Can you please check and add your comments on this doc update request as applicable.

[2020-12-30 10:12] mikkolaakko opened #68230 "Supported headers"
Is this page up to date? It is stated that I cannot update the Host header but I have a rewrite rule to update the Host header and it seems to work. Here's an example of a rule I use to forward requests to my application (internal load balancer)

If
  Server variable host == "(.*)\.agw.example\.com"
Then
  Set request header 'Host' = {var_host_1}.apps.example.com

---
#### Document Details

⚠ *Do

[2020-12-30 10:28] AshokPeddakotla-MSFT commented on #68033
We hope that answers your query. if you have a product-related question, please post to [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/) and we will happily continue the conversation.

If you have documentation-related feedback, please create a new issue linking the exact document that you would like to change.

We will now proceed to close this thread. If there are further questions reg

[2020-12-30 10:28] #68033 closed

[2020-12-30 10:32] lonevvolf commented on #33157
NOTE: The above workaround is **not** recommended.  Microsoft has alerted us that since this method was used, and the firewall was enabled again, future autoscaling operations on the Application Gateway will **fail**!  This really needs a full fix from Microsoft.

[2020-12-30 11:12] AjayKumar-MSFT commented on #68137
@elias-rod, As mentioned in the document section 'Set up the instrumentation key' - "Although you can provide the instrumentation key as an argument to _AddApplicationInsightsTelemetry_, we recommend that you specify the instrumentation key in _configuration_." -Which essentially recommends to use configuration file instead of hard-coding it, which can later be modified as per respective environme

[2020-12-30 11:37] vipulsparsh commented on #68228
@JimmyLS The CA policy for MAM currently is restricted to MS apps only and cannot be used for any custom LOB apps.

[2020-12-30 11:39] rasmus-s opened #68231 "How to set the serialize of property names to CamelCase ?"
After upgrading to SDK v11 I cloud not find a way to set the fields names to CamelCase like it was possible in SDK v10 with use of the attribute: `[SerializePropertyNamesAsCamelCase]`

So now the class/dto does not get populated due the naming's case not match.

Have many fields so adding a custom attribute on each of them is not a solution. So looking for a class attribute or a setting on the sea

[2020-12-30 11:45] akingscote opened #68232 "PythonV12"
Examples read Pythonv12 instead of Pythonv3 (im assuming)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59cdec64-6b86-6e2b-db74-5952d825bea4
* Version Independent ID: e41416cc-85b4-743b-7bcf-ac2a97297a9d
* Content: [How to use Azure Queue Storage from Python - Azure Storage](https://docs.microsoft.com/en-us/azure/stor

[2020-12-30 11:45] iamDanielo opened #68233 "B2C Api Connector return BadRequest"
I'm trying to use the Azure B2C Api Connector.

When I return from my function the ValidationError I send back this json with Response.StatusCode=400:
`{"version":"1.0.0","action":"ValidationError","status":400,"userMessage":"e-mail address not allowed - message just for test"}`

Testing with Postman seems to be all ok, but the page shos this message instead of my userMessage:
"The claims exchange

[2020-12-30 11:51] psmanhas commented on #68084
@BertAnthonyRochester Can you please explain what further details you are looking for.

Thanks

[2020-12-30 12:12] asergaz commented on #68114
Thank you @hemantsali! Please continue providing your feedback!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-30 12:12] #68114 closed

[2020-12-30 12:13] romina2001 opened #68234 "AKS integration with Azure Key Vault - secret can't be found"
# Azure documentation issue guidance
Ref: https://docs.microsoft.com/en-us/azure/key-vault/general/key-vault-integrate-kubernetes

Hi,

I have followed the documentation in order to integrate AKS with AKV and all works well if the pod is in the same namespace with the csi-driver, and the SecretProviderClass .
If the pod is in a different namespace, together with the SecretProviderClass I get the f

[2020-12-30 12:16] elias-rod commented on #68137
Isn't it more secure to store the key in Azure KeyVault than in a configuration file?

[2020-12-30 12:24] SwathiDhanwada-MSFT commented on #68087
Assigning to content author @emuench for review and updating document accordingly

[2020-12-30 12:30] SwathiDhanwada-MSFT commented on #68088
Assigning to content author  @github-2407 for reviewing and updating the document accordingly.

[2020-12-30 12:52] rkhokhar857 opened #68236 "AAD / Key Vault Flow narrative missing"
[Enter feedback here]

Diagram (https://docs.microsoft.com/en-us/azure/key-vault/media/key-vault-whatis/msi.png) on this page has numbers indicating a flow.  There is no associated text to describe flow.  Please update.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6327ed0b-21da-4c50-ea67-9699f6ceec08
* Version Indepen

[2020-12-30 13:19] psmanhas commented on #68104
@kemurayama Apologies for the delay in response and all the inconvenience caused because of the issue.

Can you please confirm if you are using Windows Server Node Pool?

As per [this](https://docs.microsoft.com/en-us/azure/aks/configure-kubenet) documentation under warning session it has been clearly mentioned :

`To use Windows Server node pools, you must use Azure CNI. The use of kubenet as the

[2020-12-30 13:23] fantocciotesina opened #68237 "Syntax error on PS1 script for unwrap Encryption Key"
Hello,
there is a Syntax Error on line 30 of the script in section "**Key Encryption Key scenario**", step 2

... Documents\WindowsPowerShell\Modules\Az.**Agit pgit** ccounts).name ...

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 730f8398-bf64-be5c-0574-19f8c991d20d
* Version Independent ID: 4d33564d-fa8a-9a9

[2020-12-30 13:35] genlin commented on #68237
@fantocciotesina Thanks for pointing out the problem. I will fix it.

[2020-12-30 13:46] millercor opened #68238 "Custom Voice testing documentation does not match interface"
Hello, I am looking at the section entitled "Test your voice model". It says you can "Add test". I don't see that option; rather, there are a bunch of preselected sentences I can listen to with my voice. I would like to be able to add my own text as indicated in the documentation.

Here is the page: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-custom-voice-create

[2020-12-30 13:53] jacqueskang commented on #68148
Same issue here...

[2020-12-30 13:57] jacqueskang opened #68239 "Documentation out of date"
Chapter Quickstart: Send telemetry from DevKit to an IoT Hub - Send DevKit telemetry - Step 6:
I don't see the "IoT Device Connection String" input in the web page at 192.168.0.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cf9b53c-0438-f23c-fd2e-d57481d57e85
* Version Independent ID: f01afd66-d093-ac44-2b20-df22553

[2020-12-30 14:05] XToinho commented on #68148
Same issue here too

[2020-12-30 14:07] RohitMungi-MSFT commented on #68170
@panitaxx This inconsistency in pronunciation is identified as a bug in es-MX neural voices. Our team has created an internal bug id which is tracking the issue.

We will go ahead and close this issue as this is an service issue rather than documentation. As soon as the fix is deployed to production I will go ahead and provide an update on this thread for visibility. Thanks again for your help on

[2020-12-30 14:07] #68170 closed

[2020-12-30 14:10] panitaxx commented on #68170
cool. i'll wait for the updates. thanks

[2020-12-30 14:16] shashishailaj commented on #68236
@rkhokhar857 Thank you for your request . We will engage the content team on the same.

Thank you.

[2020-12-30 14:49] SwathiDhanwada-MSFT commented on #68198
@oshezaf  As requested in my previous comment, can you please elaborate on your feedback?

[2020-12-30 14:51] pradorodriguez commented on #68081
Mary you are the best.. Thank you so much and have a happy new year....

[2020-12-30 15:01] shashishailaj commented on #68233
@iamDanielo Thank you for your query. We will have this reviewed and update .

[2020-12-30 15:05] tualista opened #68240 "Important roles missing from top 10"
Hello team,

I think you missed 2 very important roles from the top 10 roles -> the Privileged auth admin which can reset passwords for the GA role (cloud only tenant, but not all companies are using a hybrid env) and also the Privileged role admin which can grant himself the GA role -> in my opinion this is a risky role

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-12-30 15:19] davidsmatlak commented on #68222
I submitted the fix for this issue and when it merges, this issue will automatically close. After the merge, the updated document will be online within 24 hours.

[2020-12-30 15:19] arpit9mittal commented on #68142
Here is the link -
https://docs.microsoft.com/en-us/azure/azure-sql/database/high-availability-sla#premium-and-business-critical-service-tier-locally-redundant-availability

It says "* High availability is achieved by replicating both compute and
storage to additional nodes creating a three to four-node cluster."*

And it doesn't say that zone redundancy will add to the cost.
Therefore please conf

[2020-12-30 15:24] arpit9mittal commented on #68140
Hi Anurag,

Are you talking about zone redundancy with standard tier?
If Yes, I was not aware of this feature available. Please provide the
architecture diagram and RPO, RTO, HA with it.

Regards
-Arpit Mittal

On Wed, Dec 30, 2020 at 4:14 AM AnuragSharma-MSFT <notifications@github.com>
wrote:

[2020-12-30 15:30] #68222 closed

[2020-12-30 15:41] nadjaklein commented on #67401
I do have the same issue - followed the docs, lineage not showing up. Added the Purview MSI as Data Factory Contributor to the ADF Gen 2, but that didn't do the trick. As far as I can see there is no update on the docs. What needs to be changed in the permission settings in order to be able to see lineage information in Purview?

[2020-12-30 15:53] mennomenno opened #68242 "Default values of optional elements could be informative"
For json elements that aren't required/mandatory (both terms seem to be used as synonyms), listing the value they default to when omitted could be informative.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f5f278f-4324-3745-484c-4229af919861
* Version Independent ID: de4b08e2-32ad-dbdc-5d8e-6beef93e9654
* Content: [C

[2020-12-30 16:00] shashishailaj commented on #68191
@jeevansd Could you please help get this reviewed.

[2020-12-30 16:25] sesmailjee opened #68243 "Missing words in text"
In the sentence:
When you apply a policy on the resource group, that policy is applied the resource group and all its resources.
to missing after applied

Distributed across Availability Zones (as well regions) in locations that have multiple Availability Zones.
as missing after well

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-12-30 16:25] NavsM opened #68244 "Need clarity on the feature of per-user MFA licensing"
This page states that Azure AD free can enable per-user MFA.

The information on this page somewhat contradicts another page which states per-User MFA is only for all Microsoft 365 Plans.

See other page: https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-mfa-licensing

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-12-30 16:34] DerekHerman-MSFT commented on #68099
@autohub7 Apologies for the delay responding here. If you are working with blobs the resource path would be the container name and the blob you are working with  Such as: http://127.0.0.1:10000/myaccount/mycontainer/myblob.txt
Hope this answer your question. I will now proceed to close out this issue. If you have further question please feel free to tag me and we can reopen this.

[2020-12-30 16:34] #68099 closed

[2020-12-30 16:42] shashishailaj commented on #68233
@iamDanielo I checked this and could not find much information on this internally , probably because this is still in preview. It may require deeper troubleshooting . We generally use azure-docs repo on GitHub for documentation improvement and would like to help you offline for troubleshooting with issue using our alternate support options. As this product is in preview , the support will be best

[2020-12-30 16:42] #68233 closed

[2020-12-30 16:48] rawsharklives opened #68245 "How to add a dotnet test step to the generated YAML to run unit tests"
The template works great, thanks. How can I change the YAML to run my unit tests as part of the build?

If I introduce a `dotnet test` step in various places (before the Build and Deploy or after) I get this error:

The project file "/home/runner/work/[Project Name Here]/[Project Name Here]/API/Api.csproj" was not found. [/home/runner/work/[Project Name Here]/[Project Name Here]/SolutionNameHere.s

[2020-12-30 16:50] JnHs commented on #68229
Hi @liualexiang - thanks for sharing your feedback. We do state this in the [Create a Batch account](https://docs.microsoft.com/azure/batch/tutorial-rendering-cli#create-a-batch-account) section, along with an example:

         To create and manage compute pools and jobs, you need to authenticate with Batch. Log in to the account with the az batch account login command. After you log in, your az

[2020-12-30 16:53] VikasPullagura-MSFT commented on #68237
@genlin Thanks for fixing the document.

@fantocciotesina The document is updated and changes will go live soon.

[2020-12-30 16:54] #68237 closed

[2020-12-30 16:54] Simon-Gregory-LG opened #68246 "Enabling Snapshot Debugger for Azure Functions sets the default Environment to Development"
Enabling snapshot debugger changes the default behaviour of the Environment setting for AzureFunctions when hosted in Azure AppService.

If unspecified, the `context.EnvironmentName` (`FunctionHostBuilderContext`) is supposed to default to be `Production` in Azure and `Development` on a 'local environment' as documented for `AZURE_FUNCTIONS_ENVIRONMENT`:

https://docs.microsoft.com/en-us/azure/azu

[2020-12-30 16:55] VikasPullagura-MSFT commented on #68243
@sesmailjee
Thanks for the feedback! The document is updated and changes will go live soon.

[2020-12-30 16:55] JamesTran-MSFT commented on #68244
@NavsM
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-30 16:56] JamesTran-MSFT commented on #68240
@tualista
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-30 16:59] brianlo-ms opened #68247 "Additional Azure Reservation products"
Can you please add the following products to the Azure Reservations documentation:

•	Azure Monitor Log Analytics service – Capacity Reservations
        o	Azure Monitor Pricing model
                https://docs.microsoft.com/en-us/azure/azure-monitor/platform/usage-estimated-costs#azure-monitor-pricing-model
        o	Pricing - Azure Monitor | Microsoft Azure
                https://azure.micros

[2020-12-30 17:02] brianlo-ms opened #68248 "Add Additional Reservations"
Can you please add the following products to the Azure Reservations documentation:

•	Azure Monitor Log Analytics service – Capacity Reservations
        o	[Azure Monitor Pricing model](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/usage-estimated-costs#azure-monitor-pricing-model)
        o	[Pricing - Azure Monitor | Microsoft Azure](https://azure.microsoft.com/en-us/pricing/detai

[2020-12-30 17:04] brianlo-ms commented on #68247
Duplicate - Deleting

[2020-12-30 17:04] #68247 closed

[2020-12-30 17:04] karolz-ms commented on #54015
@alexanderbikk that is right, once a service principal password is created, there is no way to get to it other than *resetting* it (which also invalidates the old password).

Let us know please if we can help with anything else.

[2020-12-30 17:04] AnuragSharma-MSFT commented on #68140
@arpit9mittal Thanks for reverting back. I was not talking about zone redundancy in standard tier. It is currently not available. I was just giving an example that if we go for GP in vCores it incurs extra cost for zone redundancy.

With respect to standard tier, as I already mentioned in my last comment that we get an availability of 99.99 with even single instance that we create.

For RTO and RP

[2020-12-30 17:18] arpit9mittal commented on #68140
Thanks Anurag for the clarification. Yes we can close this and follow-up on
the other thread w.r.t to premium tiers.

Regards
Arpit Mittal
- Sent from Android

On Wed, 30 Dec, 2020, 12:04 pm AnuragSharma-MSFT, <notifications@github.com>
wrote:

[2020-12-30 17:28] grant-flander opened #68249 "Please update for RH 8.x"
Please update for RH 8.x
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48bab424-986d-9922-ec2d-942508081367
* Version Independent ID: 6e9b3ebd-0571-357e-0fde-ef434a728a24
* Content: [Create and upload a Red Hat Enterprise Linux VHD for use in Azure - Azure Virtual Machines](https://docs.microsoft

[2020-12-30 17:41] Simon-Gregory-LG commented on #68246
As an additional observation, it seems that the snapshot debugger also causes the function to ignore any Environment AppSettings entirely:
Using DI to get `IHostingEnvironment` and adding the below lines into a Trigger function it produced the following output:

[code]

![image](https://user-images.githubusercontent.com/45365503/103370877-e707e880-4ac5-11eb-8d5e-b6d703391630.png)

This seems very