[2019-01-11 00:36] PatrickFarley commented on #18548
@sebader , thank you for spotting this. I have updated the data/privacy/security notice, and I have moved it from this article to a new section in the [Face overview topic](https://docs.microsoft.com/en-us/azure/cognitive-services/face/overview). This change should go live by tomorrow morning.
#please-close

[2019-01-11 00:43] Adam-Smith-MSFT commented on #22019
@pburkholder Let me get back to you by tomorrow, I performed a few tests, Log Analytics should enable by default for the Storage account(Static Sites I have to confirm if it is as well), and I enabled that Classic monitoring as well on the portal. This should create it on my end, if it doesn't for me as well, it could be possibly a bug,

[2019-01-11 00:43] YutongTie-MSFT commented on #22115
@jhealy Hi, if there is nothing wrong from my understanding, you are suggesting to change "Log in to the QnA Maker portal, and go to Service settings." to "Log in to the QnA Maker portal, and go to your Profile, then click Service settings." Am I right? Thanks.

[2019-01-11 00:45] Adam-Smith-MSFT commented on #22111
@benstott-eduserv Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-11 00:45] MohitGargMSFT commented on #22125
@becke-ch-s0-v1 Thanks for your feedback! We will investigate and update soon on it.

[2019-01-11 00:47] MohitGargMSFT commented on #22126
@becke-ch-s0-v1 Thanks for your feedback! We will investigate and update soon on it.

[2019-01-11 00:52] kgremban commented on #22025
@DaveEM That's a very strange experience that I haven't seen before. The microsoft/dotnet image is publicly available so you shouldn't need credentials for that, and even if you did your docker hub credentials shouldn't be the ones that do give you access.

I tried to reproduce this error. I did a clean install of Docker CE on my Windows 10 machine, not from the marketplace but from an .exe file,

[2019-01-11 01:01] jacksonp2008 commented on #21695
Sure.  I understand that microsoft is deploying the majority of it's
infrastructure with Terraform now.  Please give us the same ability.

thanks

Regards,

-Steve

(415) 320-1102 <https://www.google.com/voice/#phones>

On Thu, Jan 10, 2019 at 2:24 PM Mark Gray (MSFT) <notifications@github.com>
wrote:

[2019-01-11 01:05] OOPMichael opened #22130 "are Datacenter-Core-1709-with-Containers-smalldisk and Datacenter-Core-1709-smalldisk supported?"
the chart for Supported SKUs in "ManualUpdateVMSSNode" section does not indicate that Datacenter Core SKU's are supported. are they?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51c75ce7-2144-d81a-693c-fb51cc00f3e5
* Version Independent ID: cba654ea-ee84-fca4-a76d-717bfb9d9bf5
* Content: [Automatic OS image upgrades

[2019-01-11 01:13] #19420 closed

[2019-01-11 01:13] #21563 closed

[2019-01-11 01:21] beneuto commented on #22124
After further investigation it seems that AD is integrated for this purpose (my problem appears to have a different cause).   Perhaps this integration could be noted in the doc?

[2019-01-11 01:21] CelesteDG commented on #20771
@jmprieur and @andretms - Hello. Do we have a working example about accessing a Microsoft-owned multi-instance service like Business Central using the application's identity (please see original question for more info).

[2019-01-11 01:34] djaus2 commented on #21915
So the upshots are:
- No quotes with the connection string.
- For IoT-Core, get the script onto your device and use

- Be patient and wait after it says the install is done.  Track use logs.

[2019-01-11 01:36] Mike-Ubezzi-MSFT commented on #22129
@Johnirsch Thank you for providing this detailed feedback. I will have the content owner (@julieMSFT)  evaluate and update the wording as appropriate.

[2019-01-11 01:39] Mike-Ubezzi-MSFT commented on #22128
@anneomcl Thank you for this detailed inquiry. I am investigating and will update you when I have information to provide you.

[2019-01-11 01:46] curtand commented on #20572
Hi @SamirFarhat I will stage this and let you know when. I commented it out after your comment, but it’s right there and I can publish it quickly.

[2019-01-11 02:09] kazshi commented on #22058
@CHEEKATLAPRADEEP-MSFT Sorry, re-opening since I'd like to make sure what the "... the provisioning process." means exactly. I had thought it means 'database provisioning' but I understand it's not 'database provisioning' after read your explanation, but now it brought another question.

[2019-01-11 02:11] curtand commented on #20572
Hi @SamirFarhat and @DiegoRamirez-MSFT
I have the change staged at https://review.docs.microsoft.com/en-us/azure/virtual-network/manage-virtual-network?branch=pr-en-us-62761
It would be good if one of you approved it. This is not my usual area to document.

[2019-01-11 02:15] brlewi commented on #21971
test

[2019-01-11 02:16] brlewi commented on #21971
![alt text](https://wtv3.blob.core.windows.net/media/500 error.jpg?sv=2017-04-17&sr=b&sig=chWOCcEZX%2FitPRMZCNbLXZ2hDNuWLFV5Vw%2BN8qCIXnk%3D&st=2019-01-11T02%3A11%3A21Z&se=2022-01-11T02%3A16%3A21Z&sp=rw "500 error.JPG")

[2019-01-11 02:45] jsntcy opened #22131 "What's the expected GA date for this feature?"
What's the expected GA date for this feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a558a9e-10d0-ea34-8780-d9084f87f952
* Version Independent ID: 60dda4e0-7630-f358-aa3a-6a992eae61e2
* Content: [Managing the Azure Storage Lifecycle](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-lifecycle-manage

[2019-01-11 02:59] kazshi commented on #21245
@CHEEKATLAPRADEEP-MSFT @vainolo  I tried to do following the steps (I did both Storage and Log Analytics) but I couldn't find 'sqldbauditlogs' in my blob storage, and I run 'search "SQLSecurityAuditEvents" on Log Analytics > Logs but I got an unexpected error.

[2019-01-11 03:13] jessie-pang opened #22132 "Is it possible to provide the allowed values for key parameters?"
Is it possible to provide the allowed values for some key parameters, like WebApp SKU name? or provide the method how to find out the values? We usually refer to the ARM template, CLI and REST API documents, but we got some customers' feedback that it's not easy to find out which values should be used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-01-11 03:18] YASWANTHM-MSFT commented on #22131
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-11 03:54] yujhongmicrosoft commented on #21912
Hey Anand - so just to clarify - you already had a AadProvider file under that folder? If so, delete it and create a new one with the EnvironmentName set to "US_GOVERNMENT".  Then try and restart eclipse. If that doesn't work please let me know!

[2019-01-11 03:54] BakerLabs opened #22133 "Linux Red Hat 7.6"
Is this process compatible with Red Hat 7.6 images in the Azure market place?  I'm currently testing with RH 7.6 and getting the following error: "Object reference not set to an instance of an object"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75aaea98-a087-c6d0-61cd-4a2edab37be5
* Version Independent ID: 6a2fa1ec-

[2019-01-11 04:02] femsulu commented on #22127
@jlee-vi We appreciate you taking time to give Kudos on this doc. This has been shared with content author. now closing the issue.

@bwren  - FYI

[2019-01-11 04:02] #22127 closed

[2019-01-11 04:12] femsulu commented on #22105
@nhart12 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-11 04:14] dialedin2014 opened #22134 "No explanation: "Note: If you are an admin of a Microsoft service, we recommend not using app passwords.""
The recommendation is on the web page for creating App Passwords.  Can you elaborate?  I am an Admin, have enabled mfa for additional security, so require App Passwords for Outlook and SfB desktop apps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8751595d-4839-d2ee-1e2c-16d07ef84a2d
* Version Independent ID: e66f96b

[2019-01-11 04:19] cninja01 commented on #22117
Not sure what document you are referring to.  I am not having an issue with a document; I'm having an issue with Anyconnect clients not being assigned to the proper group policy when using SMS as their MFA with Azpure NPS Extension.  The av-pair value is not being passed from Azure back to our NPS server.

[2019-01-11 04:30] jakaruna-MSFT commented on #22037
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-01-11 04:30] #22037 closed

[2019-01-11 04:32] AshokPeddakotla-MSFT commented on #22020
@mganeshphani Glad to hear that your issue is resolved.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

@PatAltimore Please check the above suggestions and update the document as appropriate.

[2019-01-11 04:32] #22020 closed

[2019-01-11 04:41] jmprieur commented on #20771
@CelesteDG : I'm not sure what business central is.
Do you think that a daemon application accessing the graph would work: https://github.com/azure-samples/active-directory-dotnetcore-daemon-v2 ?
cc: @andretms

[2019-01-11 04:48] SadiqhAhmed-MSFT commented on #22132
@jessie-pang Thanks for sharing this feedback. This has been shared with the content owner for further review.

@DCtheGeek Could you please take a look and help further?

[2019-01-11 04:54] AjayKumar-MSFT commented on #22124
@beneuto, Thanks for the feedback! We are taking a look at this query and will post back soon.

[2019-01-11 04:58] PramodValavala-MSFT commented on #21731
@bikashkarmakar Glad I could help!

[2019-01-11 05:08] AshokPeddakotla-MSFT commented on #22118
@PrometheusRising1 Could you elaborate your query bit more?

[2019-01-11 05:30] AshokPeddakotla-MSFT commented on #22120
@rakeshmotghare Thanks for the feedback!
You can check [Troubleshoot Data Factory issues](https://github.com/Huachao/azure-content/blob/master/articles/data-factory/data-factory-troubleshoot.md) and see if it helps to identify the issue.
Also, I suggest you post your query on [Azure Data Factory Forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory) for better assistanc

[2019-01-11 05:43] jakaruna-MSFT commented on #21851
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-01-11 05:43] #21851 closed

[2019-01-11 05:47] jakaruna-MSFT commented on #21985
Everything went well when i followed the document. But i did not get the warning for the command "New-AzureRmKeyVault".
Once the vault is created i looked at the vault information using "Get-AzureRmKeyVault", I was able to see my name under access policies with full access.
Because of that i was able to use those keys.
Also that key vault should be enabled for Disk encryption under Advanced access

[2019-01-11 05:48] jakaruna-MSFT commented on #21944
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-01-11 05:48] #21944 closed

[2019-01-11 05:48] SamirFarhat commented on #20572
@curtand, i'm not msft. i wish i can review/approve the Microsoft docs. Is there any way for us (MVPs) ?

[2019-01-11 05:49] femsulu commented on #20996
@bs37208, sorry for the delayed response. was able to get answers to your question from one of the feature PMs. Updates inline...
1.	v1 of opsgenie api is used - any way to use the more up-to-date v2?
I’m not sure it is correct that v1 of the Opsgenie API is being used. Although the integration API is https://api.opsgenie.com/v1/json/azureservicehealth?apiKey=, the Opsgenie documentation states th

[2019-01-11 05:50] femsulu commented on #20996
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-11 05:50] #20996 closed

[2019-01-11 05:52] ManojReddy-MSFT commented on #22097
@montereyharris All the policies are processed in the order they are created in the portal. Block access will always take more precedence over other policies.

Example: Consider there are 3 policies , Policy A, B and C. For all the authentication requests, all the 3 policies are processed and depending on the conditions configured,the policies will either be applied for that request or ignored.

I

[2019-01-11 05:54] jakaruna-MSFT commented on #21958
I went though the API and CLI.
`az vm list-skus` gives more information than `az vm list-sizes` but not giving NIC information.
I think we don't have a way to list with nic.

@MicahMcKittrick-MSFT Please suggest if there are any ways.

[2019-01-11 05:55] jakaruna-MSFT commented on #21182
I am assigning this issue to the  content author to investigate further and update the document as appropriate.

[2019-01-11 05:58] #19632 closed

[2019-01-11 05:59] andrewatfornax opened #22158 "ILB SKU"
"The API Management service in an internal virtual network is hosted behind an internal load balancer (ILB)."

The documentation does not indicate what SKU the ILB is - Basic, or Standard?

This is vital information, as cross-region connections to an APIM resource will not be possible if a Basic SKU ILB is used.

If it is a basic SKU by default, the documentation does not suggest if there is any o

[2019-01-11 06:11] KetanChawda-MSFT commented on #21973
@pixieheath The directory structure that is mentioned in the doc is general structure when you create a function from portal. The `obj` folder that you are mentioning is created for c# object files as the function runtime is C#. The `obj` folder is used to store temporary object files and other files used in order to create the final binary during the compilation process.

If you are deploying usi

[2019-01-11 06:12] YASWANTHM-MSFT commented on #21919
@imeya, sorry for delayed response.You can use Get-AzureRmResourceGroupDeployment cmdlet , which gives you the details of deployments in an Azure resource group. An Azure resource group is a collection of Azure resources that are deployed as a unit. A deployment is the operation that makes the resources in the resource group available for use.
`# Get all deployments for a resource group
Get-AzureR

[2019-01-11 06:13] qusp66 opened #22159 "mismatch"
it would be very cool if your sample was aligned with the github repo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ab0e1be-fcfe-6f77-d5c0-3ad4d16bbe97
* Version Independent ID: 168f8515-2da3-0b7e-a8bf-ef87f3d21274
* Content: [Send events using Node.js - Azure Event Hubs](https://docs.microsoft.com/en-us/azure/event-

[2019-01-11 06:48] loopfish commented on #21959
Sorry, you still haven't explained to me what the relevance of the image definition is.

Sure, I completely see how to pass a managed image id into the CLI to create the image version, but that same command requires "--gallery-image-definition"... What is that? Why do I need that? Should I just put any old values into the "az shared-image-definition" command, if it is as you say, "just a placehold

[2019-01-11 06:51] dlebu opened #22160 "Error trying to deploy due to parameter names."
I used the Azure CLI (2.0.45) to run the equivalent deploy command and got this error. It worked after I converted parameter names to lowercase.

Azure Error: CaseSensitiveDeploymentParameterNamesFound
Message: The deployment parameters are using case sensitive names. The error parameter name(s): adminUsername. Please see https://aka.ms/arm-keyvault for usage details.

---
#### Document Details

⚠

[2019-01-11 06:58] KetanChawda-MSFT commented on #22158
@andrewatfornax Thank you for your feedback! We will review and get back to you with our findings.

[2019-01-11 07:02] TechnologyAnimal opened #22161 "Azure Cloud Shell"
This document says this can be completed with Azure Cloud Shell, but that's not true.  The reason is that all prerequisites are not met, specifically Azure Core Tools are not install, and end users do not have permissions to install them.  Therefore, this work cannot be completed using Azure Cloud Shell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-01-11 07:05] patst opened #22162 "myVirtualNodeSubnet needs delegation to Microsoft.ContainerInstance/containerGroups"
The 'myVirtualNodeSubnet' needs delegation to 'Microsoft.ContainerInstance/containerGroups'.
The subnet is reconfigured when the virtual node addon is enabled. But I think it is more transparent to configure the delegation when creating the subnet:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 916ac90f-8a94-5f

[2019-01-11 07:06] jakaruna-MSFT commented on #22130
@OOPMichael Can you share the document link where the chart for Supported SKUs in "ManualUpdateVMSSNode" is available.

[2019-01-11 07:08] jakaruna-MSFT commented on #21814
If c drive is followed immediately by System partition, I don't know how to expand.
Since this is with Microsoft support, Can we wait till we get a resolution from them.

[2019-01-11 07:11] dominicbetts commented on #22036
Hi @JesseJ12345 - we don't currently have a Python sample that's equivalent to the Node.js sample in this tutorial - we will consider adding this to our backlog during planning.

In the meantime, take a look at the other Python samples here: https://github.com/Azure/azure-iot-sdk-python/tree/master/device/samples.

Note: we also accept sample contributions if you wanted to write one yourself :)

T

[2019-01-11 07:13] CHEEKATLAPRADEEP-MSFT commented on #21245
@vainolo Could you look into this issue?

[2019-01-11 07:17] aquibqureshi26 commented on #22070
Hi Chris,
Thanks for providing me a workaround and it is working. Can is that possible to compare with both tag name and values in azure policy? I've tried with the Not method and there is some issues.

{
  "mode": "all",
  "policyRule": {
    "if": {
      "allOf": [
        {
          "field": "type",
          "equals": "Microsoft.Resources/subscriptions/resourceGroups"
        },
        {

[2019-01-11 07:18] JesseJ12345 commented on #22036
OK, thank you all.

[2019-01-11 07:19] #22036 closed

[2019-01-11 07:34] femsulu commented on #21794
@marc-denman  AFAIK, the solution has been integrated into Azure Log Analytics - now part of the Azure Monitor framework. Are the DNS severs On Prem or in Azure? If on-prem, you may need to install + configure the [Microsoft Monitoring agent pack ](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/dns-analytics#management-packs)on the Servers to connect to Log analytics. Once completed

[2019-01-11 07:35] femsulu commented on #21794
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-11 07:35] #21794 closed

[2019-01-11 07:39] Tkeyy opened #22163 "Add more information to "Understand metrics""
Some metrics are missing in the table and are difficult to understand without an explanation.

or example: Connections -&gt; are they open or closed connections?

Other metrics that are not described:
Connections, Current Assemblies, Geon 0 Garbage Collections, Geon 1 Garbage Collections, Geon 2 Garbage Collections, Handle Count, Thread Count, etc.

For some metrics, the appropriate aggregation is

[2019-01-11 07:45] femsulu commented on #22072
@dbsanfte is there a specific event you are trying to create an alert for? Please share more details on your scenario so i can try to repro.

As far as documentation goes, here [is](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-activity-log-service-notifications) what we currently have.

Let me know if this isn't what you are after

[2019-01-11 07:49] becke-ch-s0-v1 opened #22164 "Documentation "Azure Active Directory B2C: OAuth 2.0 authorization code flow" not in sync with "Use Postman to get a token and test the API""
The documentation "Azure Active Directory B2C: OAuth 2.0 authorization code flow": https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-oauth-code is not in sync with the
documentation "Use Postman to get a token and test the API": https://docs.microsoft.com/en-us/aspnet/core/security/authentication/azure-ad-b2c-webapi?view=aspnetcore-2.2#use-postman-to-get-a-

[2019-01-11 07:55] femsulu commented on #22073
@idohalevi I believe [this doc](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-logs-stream-event-hubs) has the guidance you are after.

[2019-01-11 07:55] kazshi commented on #21245
@vainolo I verified that I got 'sqldbtdlogs' in my blob storage and the unexpected error was gone (I don't know what was happened but I restarted browser).
One thing I'd like you to fix: please fix the link in the 3rd bullet in the following link.
Azure SQL Database Managed Instance Auditing
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-auditing#consume-logs-sto

[2019-01-11 07:56] femsulu commented on #22073
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-11 08:04] kazshi commented on #21245
@vainolo and please add link to 'the Blob Audit Log Format Reference' (2nd bullet) in the link. Thanks

[2019-01-11 08:42] chwilfing opened #22165 "CLear the Prerequisits"
In the troubleshooting section there is a sentence:

"Make sure at least one forest has Windows Server 2012R2. The device object type must be present."

which i guess referres to the Schema Extension for 2012 R2 being available. Or does it talk about the Domain Functional Level, i think it makes sense to clarify whats meant at this point.

---
#### Document Details

⚠ *Do not edit this section. It

[2019-01-11 08:44] ThierryBT commented on #22067
Thank you Travis !

[2019-01-11 08:48] dcbrown16 opened #22166 "How are these billed"
There are separate rates for metrics alert rules and for log alert rules.
https://azure.microsoft.com/en-us/pricing/details/monitor/
Which one applies to a "metric alert on log" (once pricing starts in April)?
Ideally this should be specified on the pricing page as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f

[2019-01-11 08:49] dcbrown16 commented on #22166
"All characteristics and functionalities of metric alerts will be applicable to metric alerts for logs, as well; including payload schema, applicable quota limits, and billed price."
Sorry, just saw this part. So these are billed as metrics, not logs, correct?

[2019-01-11 08:52] KetanChawda-MSFT commented on #22161
@TechnologyAnimal The document is intended to tell that Azure Cloud Shell can be used if you don't have Azure CLI installed on your local machine. Cloud Shell can be used to run Azure CLI commands and not function core tools CLI.

[2019-01-11 09:03] CodingSpiderFox opened #22167 "Difference between device and module is not clear"
I cannot find any page in this documentation about the general concept of a module
What would I use it for. Please add a page in the concepts chapter.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e8b0b77-3c5d-5d9f-8f78-d750f5e620e5
* Version Independent ID: c6eafb84-e897-5d29-f217-70de61273fea
* Content:

[2019-01-11 09:03] Anmolgan81 opened #22168 "Getting the below error while running the script for offline migration?"
New-AzureRmDataMigrationTask : Cannot bind parameter 'SelectedDatabase'. Cannot convert the
"Microsoft.Azure.Management.DataMigration.Models.MigrateSqlServerSqlMIDatabaseInput" value of type "System.String" to type
"Microsoft.Azure.Management.DataMigration.Models.MigrateSqlServerSqlMIDatabaseInput".
At line:10 char:22
+   -SelectedDatabase  $selectedDbs`
+                      ~~~~~~~~~~~~~~
    +

[2019-01-11 09:04] KetanChawda-MSFT commented on #21926
@AlexanderLiuzm Checking in to see if the above answer helped resolving your issue.

[2019-01-11 09:05] StevenLiekens commented on #21783
Yep, same outcome:

Trace ID: 443e5f6e-8b30-4312-993e-0bbe1efe7600
Correlation ID: b5c1e34e-ef89-4e5e-b605-acfffc5ac3a5
Timestamp: 2019-01-11 09:00:51Z

Just one: `https://graph.microsoft.com/User.Read`

[2019-01-11 09:06] #18548 closed

[2019-01-11 09:06] johnstaveley commented on #21563
Hi, I found a solution. Something like this works:

     {
      "type": "Microsoft.Sql/servers/databases/backupLongTermRetentionPolicies",
      "name": "[concat(variables('webDatabaseName'), '/Default')]",
      "tags": { "displayName": "Database Backup" },
      "apiVersion": "2017-03-01-preview",
      "location": "UK West",
      "scale": null,
      "properties": {
        "weeklyRetention":

[2019-01-11 09:09] SubhashVasarapu-MSFT commented on #21822
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2019-01-11 09:13] tobrienultima commented on #21996
Hi @MashaMSFT
$SqlVm = Get-AzureRmResource -ResourceType Microsoft.SqlVirtualMachine/SqlVirtualMachines -ResourceGroupName ******** -ResourceName ********

$SqlVm.Properties.sqlServerLicenseType="AHUB"

$SqlVm | Set-AzureRmResource -Force

Set-AzureRmResource : Cannot validate argument on parameter 'Sku'. The argument is null or empty. Provide an argument that is not null or empty, and then try th

[2019-01-11 09:20] ManojReddy-MSFT commented on #22134
@dialedin2014 App Passwords are an alternative for second factor authentication for clients which do not support Modern Authentication and cannot accept traditional MFA methods like phone call , SMS, mobile app etc. It is considered as less secure when compared to MFA.

As an administrator , you will have higher privileges and we suggest securing it with MFA rather than app passwords.

[2019-01-11 09:20] BMichaelJ commented on #22091
Thank you for that clarification, this has been a great experience

[2019-01-11 09:31] jakaruna-MSFT commented on #22160
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-11 09:32] BryanTrach-MSFT commented on #22088
@gbryniarski and @hecflores I am not aware of a publicly shareable date yet for this feature to leave preview and whether or not the launch product will allow you avoid setting the version information.

The best way to share your feedback would be to create a [User Voice feedback](https://feedback.azure.com/forums/169385-web-apps) item and upvote it. The product group monitors this site for feedba

[2019-01-11 09:32] #22088 closed

[2019-01-11 09:33] AshokPeddakotla-MSFT commented on #22159
@qusp66 Thanks for the feedback!
The sample provided here is an example. Git sample is the complete code repository.
I am assigning this to the author @ShubhaVijayasarathy to evaluate and update the document as appropriate.

[2019-01-11 09:43] happyadam73 opened #22169 "Encrypted Backups"
Will there be an option to encrypt backups (at a backup policy level)?  How are backups currently protected? - I understand that all new VMs being backed up to a recovery vault are encrypted with storage service encryption - does the same apply to SQL backup data as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-01-11 09:44] jakaruna-MSFT commented on #22133
@BakerLabs I created a redhat 7.4 VM in Azure (Image from Redhat) and upgraded it to 7.6.
After that i tried to encrypt the OS disk of that VM.
I got a error message saying that its not supported.
`Deployment failed. Correlation ID: <id>. VM has reported a failure when processing extension 'AzureDiskEncryptionForLinux'. Error message: "OS volume encryption is not supported on redhat 7.6".`
Bu the

[2019-01-11 09:54] ManojReddy-MSFT commented on #21784
@moojjoo It looks like for some applications, conditional access policies are being applied. Are you sure that this user is actually logging into the SAML applications ?

You can also check the sign in logs from the SAML application directly as well.Can you try navigating to Enterprise Applications > All applications > select a SAML application > Sign in logs. Can you check if any guest users are

[2019-01-11 10:00] SubhashVasarapu-MSFT commented on #21853
@StefanSchoof Thanks for your question. Generally we use accelerated networking for,
1.Reducing latency by transferring higher packets per second.
2.Reducing jitter by delivering packets directly to the VM, removing the host to VM communication and
all software interrupts and context switches.
3.Decreases CPU Utilization for processing network traffic by bypassing the virtual switch in the host.

[2019-01-11 10:08] KetanChawda-MSFT commented on #22158
@andrewatfornax We have assigned this issue to the author to review further and take the right course of action.

[2019-01-11 10:10] sergaz-msft commented on #21426
Hi @cuperman007 we would definitely appreciate your contribution to the doc :)! Can you check this documentation on how to contribute to the doc? https://docs.microsoft.com/en-us/contribute/

When you submit the Pull Request please reference this issue and we will review it.

Thank you so much!

[2019-01-11 10:14] jbinko commented on #13943
If you need to implement DNS server for your ASE domain. You can use a wildcard with your domain in your DNS. Quite easy way is to create one or more VMs in availability set and install Linux with dnsmasq. Following configuration will work. Supports DNS resolution to Internet, Azure, Internal DNS and resolution of ASE with wildcard domain.

dnsmasq.conf file content:

domain-needed
bogus-priv

int

[2019-01-11 10:15] jakaruna-MSFT commented on #22160
@dlebu I tried to deploy the template with Azure cli. It worked well.
I used the latest Azure cli (2.0.54).
Are you saying that after changing the parameter name form "adminUsername" to "adminusername" worked.
Can you try updating the cli to the latest version and try?

[2019-01-11 10:18] doctordns commented on #22168
This would appear to be a typo in your code. What it looks like is that the line "-SelectedDatabase $selectedDbs`" is on a line on it;'s own.

The other error is that PowerShell expected a string but you are giving it a different data type.

[2019-01-11 10:18] jakaruna-MSFT commented on #22162
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-11 10:33] Sharpfinity opened #22170 "Directory layout considerations how to add subject matter"
Hi,

How do I configure IoT Hub or Event Hub Capture to parse subject matter in the path?

{Region}/{SubjectMatter(s)}/{yyyy}/{mm}/{dd}/{hh}/

Is this based on a property of the message?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 493e3542-cd60-9c10-41c2-f68a38528384
* Version Independent ID: 0c081260-2bf3-6ae4-0c52

[2019-01-11 10:33] SubhashVasarapu-MSFT commented on #20317
@kazshi Thanks for your patience.I will check with my team and will update you soon.

[2019-01-11 10:35] AshokPeddakotla-MSFT commented on #21816
@futurexpe Ok. Please ensure that [Prerequisites](https://docs.microsoft.com/en-us/azure/iot-edge/quickstart#prerequisites) are met and also check the [Common issues and resolutions for Azure IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot) Let us know if it helps.

[2019-01-11 10:36] cephalin commented on #20494
@mattchenderson Can you help with this?

[2019-01-11 10:57] ChrisKirkUltima opened #22171 "Change has broken BYOL marketplace SQL images for EA customers"
The new resource provider has a default behaviour where if the licencetype is not set, it will default to "PAYG". I'm going to assume that the existing BYOL SQL images for EA customers have not been updated with these new licencetype features. Therefore if I register the new provider and try to deploy a BYOL 2016 SQL Enterprise image from the marketplace it fails with the error that PAYG licencety

[2019-01-11 10:58] idohalevi commented on #22073
@femsulu
If you read my post you will notice I added a snapshot from the same link you refer me too.
The issue is that you have only an option to stream logs and that in the last couple of days the option to stream metrics is not there anymore.
Please reopen the issue as this is not the answer to my question

[2019-01-11 10:59] meixger commented on #21878
Further diagnostics shows that my Let's Encrypt ECC certificate is signed with SHA256rsa.

[2019-01-11 11:02] AjayKumar-MSFT commented on #22124
@beneuto, Yes, its integrated. The following documents highlights on how the authentication and the deployment process works in App Service, kindly take a look and see If that aids or let us know: [Deploy a web app to Azure App Services](https://docs.microsoft.com/en-us/azure/devops/pipelines/apps/cd/deploy-webdeploy-webapps?view=vsts) and  [Deploy continuously from Azure Repos (DevOps Services](h

[2019-01-11 11:05] matthias-scharl opened #22172 "SP-initiated vs IDP-initiated"
In "Configure Azure AD single sign-on" under 4.c it states "If you wish to configure the application in SP Initiated mode then click.." I assume it needs to be "If you wish to configure the application in IDP Initiated mode then click..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc1244e8-fc7e-12d9-368f-dfd196dd21

[2019-01-11 11:05] pixieheath commented on #21973
@KetanChawda-MSFT thanks for the update. It would be useful if that was added to the relevant documentation for posterity. It would be even better if the .funcignore was added by default by the runtime as I can't see a use case where you wouldn't want it and this would simplify the publication of functions that were developed locally.

[2019-01-11 11:08] dmc-tech opened #22173 "Documentation should be updated to reflect simplification of requirements with introduction of extension host in 1811"
Since release 1811 (Extension Host) are all the ports, other than 443 required for the portals and management endpoints?  Clarity should be made within the document to reflect this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bf65509-158a-6ae7-60f0-586170fab6af
* Version Independent ID: e42850b4-5019-37d3-701b-aac4

[2019-01-11 11:11] anttipo commented on #22065
@vhorne

I understand your point of view, but from a reader perspective the FAQ seemingly does mention about some v2 features. That is why to me it is a little bit confusing that the UDR paragraph doesn't include anything about v2 changes. These service-specific FAQ pages are often times a sort of a landing page, when users evaluate a service.

However if you feel like the current FAQ site is as i

[2019-01-11 11:22] msvijayn commented on #22014
@femsulu - I don't own this article; as it is not pertinent to Azure Alerts

[2019-01-11 11:40] msvijayn commented on #22166
@dcbrown16 - since you are creating a 'metric alert rule' for log data, price of metric alerts are applicable (i.e.) $0.10 per time series.
Note that since your data is in Logs (i.e.) Log Analytics, applicable charges (if any) for data storage would be applicable

[2019-01-11 11:41] msvijayn commented on #22166
Yes, price of metric alert is charged

[2019-01-11 11:43] msvijayn commented on #22166
#please-close

[2019-01-11 11:54] AshokPeddakotla-MSFT commented on #21828
@hrasheed-msft I haven’t found more details regarding this query. Please check this and suggest your thoughts on this.

[2019-01-11 12:02] StevenLiekens commented on #21783
This does not seem to be limited to the implicit flow. I tried with authorization code flow and that gives me the same consent page in the interactive client and the same consent error in the middle tier service.

[2019-01-11 12:03] tobrienultima commented on #22171
We have found that including:

"sqlServerLicenseType": "AHUB",

in "properties" under the "Microsoft.SqlVirtualMachine/SqlVirtualMachines" object in an ARM template fixes this issue for the BYOL image. I imagine this just needs adding to the marketplace template by Microsoft.

[2019-01-11 12:08] jakaruna-MSFT commented on #22171
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-11 12:16] shashishailaj commented on #22125
@dstrockis Could you please help update the samples with the new values after testing ?

[2019-01-11 12:23] ManojReddy-MSFT commented on #19493
@ksix https://account.activedirectory.windowsazure.com has it's own interrupt asking for SSPR info. Users will not be asked at the time of logging in but they will be prompted for it.

[2019-01-11 12:28] mboogerd opened #22174 "Conceptual mapping"
It looks to me like a Kafka topic should correspond with Event Hub (singular) rather than Event Hubs (plural / the service). Is that a misunderstanding on my part or does this need to be corrected in the conceptual mapping?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ec95067-2711-5af8-a3e1-b5d5dd1faecd
* Version In

[2019-01-11 12:34] CodingSpiderFox opened #22175 "Can I limit a service SAS token to only have access to certain devices?"
I tried `az iot hub generate-sas-token -d &lt;DEVICE_NAME&gt; -n &lt;HUB_NAME&gt; --policy service`
But I get the error
[code]

What am I doing wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5abe8bb4-f610-0800-6ad8-b78349018779
* Version Independent ID: c772405d-98b1-ebdc-29e9-2b65da12ba99
* Content: [Understand

[2019-01-11 12:54] rdytmire opened #22176 "C# Classes?"
Any example classes for the response?   It appears you're responding with JSON that required me to define specific class types for each entry.  Why not a generic list with a property to indicate language.

Be happy to see JsonConvert.DeserializeObject() example into strongly typed class structure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-01-11 12:55] JulioCGC opened #22177 "Flutter Support"
Hello, I have an application based on Google's new framework, Flutter, and it has his own sending push messages integration with FCM and IOS, but i would like to integrate it with the azure Hub Notifications, but this tutorial are not working on it, *please help*
Flutter's messaging package: https://pub.dartlang.org/packages/firebase_messaging
Regards, Julio CGC.

---
#### Document Details

⚠ *Do

[2019-01-11 12:56] shashishailaj commented on #22126
@becke-ch-s0-v1 we are engaging the author for updating the samples. However , at this point both the Urls can be used as far as I think. Nevertheless , we will have this updated and we thank you for pointing this out.

@dstrockis Could you please update the samples as per the new URLs for B2C endpoints as mentioned in this issue.  ?

[2019-01-11 12:59] JulioCGC commented on #22177
Actualy, it would be amazing if the doc author made a new topic about integrating with a framework, like Flutter and React-native (please do Flutter)

[2019-01-11 13:03] BakerLabs commented on #22133
I’m using this page and following the PowerShell example.
https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-linux

$resourceGroup = "rg-ade"
$location = "usgovvirginia"
$keyvaultname = "kv-ade"
$KeyVault = Get-AzureRmKeyVault -VaultName $KeyVaultName -ResourceGroupName "ADMIN"
$vmName = "RH761"
$vaulturl = "https://kv-ade.vault.usgovcloudapi.net"
$vaultid = "/subscript

[2019-01-11 13:09] rjohnson318 commented on #21888
@MSSedusch hmmmmm....did you deploy it in the same cloud environment as me? I am using azure government (usdodeast), which its feature set is different from the public azure cloud with different offerings some even not available for instance vmss autoscaling.

[2019-01-11 13:13] hotroot opened #22178 "Information regarding VirtualNetwork Tag incomplete"
The information given for the Service Tag VirtualNetwork is incomplete. It's really important to know that also route tables attached to the subnet where the NSG is used are evaluated. If this route table contains UDRs which enable force tunneling for some prefixes or the default route (0.0.0.0/0) to an appliance within the computed VirtualNetwork space the prefix is added to the VirtualNetwork Ta

[2019-01-11 13:16] AjayKumar-MSFT commented on #22163
@Tkeyy, Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-01-11 13:16] bremnes opened #22179 "Limit call rate by key is available in Consumption tier"
The documentation regarding "Limit call rate by key" (rate-limit-by-key) states that

I just tried this in my own consumption plan and technically it seems to work as I got a 429 on the sixth attempt:
`<rate-limit-by-key calls="5" renewal-period="60" counter-key="@(context.Request.IpAddress)" increment-condition="@(context.Response.StatusCode == 200)" />`

In the user interface of api management "

[2019-01-11 13:17] sergaz-msft commented on #22175
Hello @CodingSpiderFox see the answer on the MSDN Thread: https://social.msdn.microsoft.com/Forums/en-US/d8b7afac-433c-4126-a451-16618fe6b783/how-to-generate-an-azure-iot-hub-sas-token-for-one-deviceservice-only?forum=azureiothub

Thanks.

[2019-01-11 13:18] sergaz-msft commented on #22175
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-11 13:18] AndrewMCoates commented on #6792
I have a AzureSQL database in an Elastic Pool sending data to Log Analytics.  Using Azure SQL Analytics you can see "minute" Metrics data showing in the "TOP METRIC UTILIZATION PER DATABASE" .  This analytics stream was setup by Microsoft Support for an issue we were having (REG:118051018161976) so it was not create by me.  The Diagnostic Settings configuration for this database has a checkbox for

[2019-01-11 13:20] sergaz-msft commented on #22167
Thanks for the feedback @CodingSpiderFox . Let us know if this is the documentation you were looking for?:

[Understand and use module twins in IoT Hub](https://docs.microsoft.com/en-US/azure/iot-hub/iot-hub-devguide-module-twins)

Thanks!

[2019-01-11 13:27] dfencegit opened #22180 "Terminilogy in 10.d misleading for non-ASDK systems"
The terminology used for the certificate required in 10.d, the "Azure Resource Manager (ARM) root certificate" is only correct for an ASDK system.  In a disconnected stack, the ARM endpoint certs are signed by an CA external to the stack, not by the stack internal root ca.

In 10.d the install specifically requires the internal stack root ca cert, the one that is downloaded with the helper scripts

[2019-01-11 13:41] shashishailaj commented on #22164
@becke-ch-s0-v1 thank you for your feedback . We will have this reviewed and update on this thread.

[2019-01-11 13:45] SubhashVasarapu-MSFT commented on #21948
@kazshi We can go through Microsoft peering when setting up the NPM monitoring dashboard for the services. But even before creating monitoring dashboards, we need to install NPM agents on respective end points (In this case they have installed agents on VNETs).So, in order to avoid that we can go with Microsoft Peering where the on-premises agents should have connectivity to Microsoft service endp

[2019-01-11 13:45] shashishailaj commented on #22172
@matthias-scharl Thank you for your feedback . We will investigate and further update the content as needed.

[2019-01-11 13:46] shashishailaj commented on #22165
@chwilfing Thank you for the feedback . We will investigate and further update this thread soon.

[2019-01-11 14:11] AjayKumar-MSFT commented on #22177
@JulioCGC, Thanks for the feedback! I have assigned the issue to the content author to review further and update the document (or create a new doc) as appropriate.

[2019-01-11 14:31] CodingSpiderFox commented on #22167
What I think I understood so far is that modules are applications that run on a device, is that correct?

Please add a definition for the term "Module" to the glossary: https://docs.microsoft.com/en-US/azure/iot-hub/iot-hub-devguide-glossary

[2019-01-11 14:37] stap123 opened #22181 "3.0 SDK Documentation and .Net Core"
Are these docs going to be updated for the 3.0 version of the SDK sometime soon. I'd love to use this to create WebJobs on .Net Core but I can't find any official docs on the Microsoft site for creating a .Net Core WebJob.

The closest thing to seeing anything new I've found is this sample https://github.com/Azure/azure-webjobs-sdk/blob/00686a5ae3b31ca1c70b477c1ca828e4aa754340/sample/SampleHost/Pr

[2019-01-11 14:42] sharkymcdongles opened #22183 "This script doesn't work"
It is missing quotes in a number of places and is essentially completely nonworking.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30c2f82a-5f70-ae5e-3e60-9a3146dba1c5
* Version Independent ID: 2d8a9a15-1cf6-5624-4cd1-0065f3088f37
* Content: [Find and delete unattached Azure managed and unmanaged disks](https://docs.m

[2019-01-11 14:43] sharkymcdongles commented on #22183
The second script for unmanaged disks. Sorry I wasn't more specific.

[2019-01-11 14:44] webstaff opened #22184 "User Claim dialogue Point 5 and 6."
Point 5 and 6 are very confusingly written.
a default setup appears to just need an edit of an already assigned attribute.
so if you follow point 6 of adding a claim you can't make it look like the image after to make it look like the following image you have to edit the existing setup.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-01-11 14:52] AlekseySokol commented on #19794
Hello!
If I want to reconfigure Azure AD connect server from Password Hash Sync to ADFS but in our on premise infrastructure we have multiple UPN suffixes for users. those domains are federated and in O365 domains setup in status "complete" .
I go to Change user sign-in-->Federation with AD FS--> put credentials on AD FS Farm choose "Use an existing AD FS Farm--> select primary ADFS server--> on A

[2019-01-11 14:53] igomat opened #22185 "NTFS permissions persist?"
@Adam-Smith-MSFT
Do files' NTFS permissions preserve not-changed during all the way in the process of shipping data via Data Box to Azure Files? When we copy files via SMB to Data Box using Robocopy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfcdc67c-1726-a874-7ea9-cc3ad2d57fc3
* Version Independent ID: c6b19ccf-0

[2019-01-11 14:54] anthonykirby opened #22186 "this documentation suggests an old version of the library"
this page suggests that the latest version is 1.0.2, but the project page on github & version published on Maven is at 2.2.0
see https://github.com/azure/azure-event-hubs-java

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61059dbc-d075-6af1-98f6-7fe02f9e0440
* Version Independent ID: a15c8888-4b49-f9b8-3cee-30d5765c49

[2019-01-11 14:57] CeciAc opened #22187 "記載されているPowerShellスクリプトはAzure Cloud Shellで動作しません"
@gentksb commented on [Fri Jan 11 2019](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/1649)

【対象】
ダウンロード センターからセルフホステッド IR をインストールして登録する
手順9

【内容】
Azure PowerShell を使用した認証キーの取得は、Azure Cloud Shellで動作しません。
DataFactoryのGUIを用いて認証キーを取得する方法に変更したほうがハウツーガイドとして適切です。

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 32785d15-8202-6e44-f1d2-420ef0600f3f

[2019-01-11 14:59] CodingSpiderFox commented on #22175
Hello @sergaz-msft

As the forum is not really usable (so many little bugs), I'd like to continue the discussion here.

In your answer, you said:

I don't want to use a shared access policy inside my backend service (a Java service that runs in a docker container and retrieves measurements from MQTT messages from the IoT hub)

I don't want to create a token for the device, I want to create a token

[2019-01-11 15:04] 1-Peter opened #22188 "Backslashs in documentation"
There are several backslashs in the highlighteds commands:
- Section DOWNLOAD THE BLOB: "Download blobs to your local disk using the get\_blob\_to\_path method."
- Section CLEAN UP RESOURCES:  "... using the delete\_container method. To delete individual files instead, use the delete\_blob method."

I am viewing this site using Firefox

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-01-11 15:09] CeciAc commented on #22187
Hi team,
I'm moving this here since the user is requesting additional information to be added to the documentation:

Backtranslation:

[2019-01-11 15:12] justinhauer opened #22189 "Availability for Basic tier"
When are service endpoints to vnets going to be enabled for the basic tier? If I have a very minimal database and I want to connect over service endpoints to my vnet instead of the internet, and I am forced to the general tier to achieve this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c1b0e78-b64a-7e49-fe47-ad401

[2019-01-11 15:14] lareeth opened #22190 "Topic Authorization error"
Please add that Kafka requires standard and not basic, otherwise it returns Topic Authorization errors

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd1ea4ea-2221-3a5e-5a78-ba94596305d8
* Version Independent ID: eeddad65-1e80-1ff9-ffbc-3e5730265a1f
* Content: [Stream into Kafka-enabled event hub - Azure Event Hubs](ht

[2019-01-11 15:22] sandulas opened #22191 "QnAMaker - Cannot create KB"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-01-11 15:25] prs-ca opened #22192 "Azure Cosmos DB supported?"
Hi, Can you please clarify whether or not Azure Cosmos DB supports access via managed identities? And is this generally 'Available' or in 'Preview' ? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726adac9-1848-01a6-9586-842c81f820f7
* Version Independent ID: 249db438-8c95-8e69-f69e-8e48fcd0b359
* Content: [Azu

[2019-01-11 15:30] paratz opened #22193 "Start script is missing variable $azfw"
Start cmdlets should have the following line also:

$azfw = Get-AzureRmFirewall -Name "FW Name" -ResourceGroupName "RG Name"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bba1b4d-cf65-c0a2-9bb6-4ff7896f0a15
* Version Independent ID: 7ab0db77-e78d-de58-369f-641782327264
* Content: [Azure Firewall FAQ](https://docs.mic

[2019-01-11 15:30] YASWANTHM-MSFT commented on #22188
@1-Peter , Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate

[2019-01-11 15:31] jalohse commented on #20549
@MarileeTurscak-MSFT I have not received a response since Monday about getting access. Is there still a delay on hearing back from this email account?

[2019-01-11 15:33] jefflomax opened #22194 "Need example of telemetryClient.TrackException( new ExceptionTelemetry(...) )"
Many times we have the details of an "exception" but no exception object.  But building a ExceptionTelemetry isn't easy, and Application Insights rejects most attempts without explanation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95aee749-dc67-58c6-c911-a8cfcfd387a2
* Version Independent ID: 21056412-21a5-1e79-f5

[2019-01-11 15:39] brthurr opened #22195 "Disabled "Enforced MFA""
It might be prudent to add a prerequisite that the user account is set to Disabled in the MFA control panel? If it's set to "Enabled" or "Enforced" would kind of invalidate this quick start, as the user will always be prompted for MFA whenever they try to access any service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-01-11 16:00] OOPMichael commented on #22130
@jakaruna-MSFT https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-automatic-upgrade#supported-os-images is the specific section.

[2019-01-11 16:03] alkohli commented on #22185
@Adam-Smith-MSFT  Am following up on this one. Thanks!

[2019-01-11 16:16] tristian2 opened #22196 "Web App Bot doesnt return anything in the azure "test in web chat" so cant progress"
OK, i have a working QnA bot for FAQ.  it works from my machine using curl and the terminal.

i get this sort of snippet to integrate with a web app bot in azure

POST /knowledgebases/52******-****-*****-****-************/generateAnswer
Host: https://mycoolmakerapp.azurewebsites.net/qnamaker
Authorization: EndpointKey 3a******-****-*****-****-************
Content-Type: application/json
{"question"

[2019-01-11 16:33] alkohli commented on #22185
@igomat  The current behavior is that the NTFS permissions will not be preserved when you copy to Azure Files. However, please provide us more information about what you are trying to do here. We would like to understand the details of your scenario. You can also contact our product team - Mathew.Dickson@microsoft.com. Thanks!

[2019-01-11 16:35] mmorrison68 commented on #20026
Here are the steps I took to get it working on RPI 3 B+

	1. sudo apt-get install git-core
	2. git clone https://github.com/Azure-Samples/iot-hub-c-raspberrypi-client-app.git
	3. cd ./iot-hub-c-raspberrypi-client-app
	4. git clone https://github.com/kgabis/parson.git
	5. copy parson.h and parson.c to ./iot-hub-c-raspberrypi-client-app
	6. Modify code in CMakeLists.txt file to include parson.c and

[2019-01-11 16:36] TechnologyAnimal commented on #22161
Thanks for the prompt response.  I don't believe that is very clear in the documentation.  Also, why aren't function core tools available in Azure Cloud Shell?

[2019-01-11 16:47] KevinXTian opened #22198 "How to Set up Databirck compute target with Python?"
Databircks is listed as Supported compute targets but not mentioned in Set up compute targets with Python.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b49515ab-308d-8e5d-0960-40ce43d4752d
* Version Independent ID: 651348fd-f173-55c0-8199-68c0eac7b043
* Content: [Create and use compute targets for model training - Az

[2019-01-11 16:53] erhopf commented on #22176
Please assign to @Jann-Skotdal.

@Jann-Skotdal - Can you have someone from engineering take a look at this and provide feedback?

[2019-01-11 16:56] yzheng-msft commented on #22131
We are targeting end of this quarter for GA.

[2019-01-11 16:58] erhopf commented on #21995
@lostromb - Thanks for calling out the error with codecs. We'll be pushing an update later today :).

[2019-01-11 17:02] alkohli commented on #22185
#please-close

[2019-01-11 17:07] abhiramani-iptiq opened #22199 "Install the Istio client binary installed on Azure Cloud Shell"
Hi we use Azure Cloud Shell for all our kubernetes management,any plans to give Istio client library preinstalled on azure cloud shell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68b5d00d-529b-a8be-47bf-773c967f0e72
* Version Independent ID: 0cf044ef-b26f-a8fa-213f-1e3fffaf53d6
* Content: [Install Istio in Azure Ku

[2019-01-11 17:15] mrityunjay0510 opened #22200 "Not able to understand what name should be provide for myblobstorage_STORAGE and myblobstorage_STORAGE"
az functionapp config appsettings set --name &lt;function_app&gt; \
--resource-group myResourceGroup \
--settings myblobstorage_STORAGE=$storageConnectionString \
myContainerName=thumbnails FUNCTIONS_EXTENSION_VERSION=~2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cad5909e-e1c6-aa8e-82f1-f2851c1caced
* Version Indep

[2019-01-11 17:15] CarlRabeler commented on #20662
Done - https://github.com/MicrosoftDocs/azure-docs-pr/pull/60765

@Mike-Ubezzi-MSFT please close

[2019-01-11 17:18] CarlRabeler commented on #21245
@VanMSFT please review

[2019-01-11 17:21] cherylmc commented on #21948
Adding a doc bug for this.

[2019-01-11 17:23] #19094 closed

[2019-01-11 17:24] #22166 closed

[2019-01-11 17:25] mcpfe opened #22201 "No publish instruction after configuring app insights"
The documentation leaves out the fact that you must publish the application to Azure again once you configure the App Insights plugin, it doesn't start automatically sending data because you configured a plugin.  It might be obvious for some developers, but if you are not familiar with Eclipse/Azure, etc... you may miss this step.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-01-11 17:26] Kenneth-Abrams opened #22202 "Runtime v1 - WEBSITE_MAX_DYNAMIC_APPLICATION_SCALE_OUT"
Does the Function Runtime v1 support WEBSITE_MAX_DYNAMIC_APPLICATION_SCALE_OUT ? The documentation isn't clear which versions of the runtime support these app settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18aa54fd-3aa1-37c5-925c-51a0195b1030
* Version Independent ID: 60198016-1ea9-e7ae-b00b-2c665d5ad8ca
* Co

[2019-01-11 17:35] AmanGarg-MSFT commented on #22179
@bremnes Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-01-11 17:37] AmanGarg-MSFT commented on #22194
@jefflomax Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-01-11 17:38] Karishma-Tiwari-MSFT commented on #22183
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-11 17:40] MicahMcKittrick-MSFT commented on #22199
Thanks for the question! We are investigating and will update you shortly.

[2019-01-11 17:43] Mike-Ubezzi-MSFT commented on #22189
@justinhauer Thank you for your interest in Azure cloud services. If you take a look at the [Limitations](https://docs.microsoft.com/en-us/azure/postgresql/concepts-data-access-and-security-vnet#limitations) section of this document, you will see the following:

Please create an entry at the [Azure Database for PostgreSQL User Voice](https://feedback.azure.com/forums/597976-azure-database-for-post

[2019-01-11 17:44] #22189 closed

[2019-01-11 17:44] hpsin commented on #21783
Thanks Steven.  The second flow is the correct one and the first one is not expected to work, I'm working on a rewrite of the doc to make the setup of OBO more clear.  We're investigating the issue of the missing 'scp' claim - the STS should issue the token based on all of the consents between your client and the target resource.

[2019-01-11 17:51] igomat commented on #22185
I don't copy directly to Azure Files. In the scenario I copy files via Robocopy to Data Box with ACL. Then the Box is shipped to Azure DC. Then Azure engineers copy from Box to Azure Files within our Storage Account. Will be NTFS permissions preserved then?

[2019-01-11 17:54] christiankuhtz commented on #21776
looks like this one is the most recent VM SLA: https://azure.microsoft.com/en-us/support/legal/sla/virtual-machines/v1_8/

[2019-01-11 17:55] basilhariri commented on #22190
A PR has been submitted, will close the issue when it has been merged.

[2019-01-11 17:56] jrudley commented on #22099
I ran the same test and experience it from a payg to csp.

[2019-01-11 17:59] alkohli commented on #22185
@igomat Thanks for providing more information! As I replied earlier, the NTFS permissions will not be preserved if you applied ACLs with Robocopy and copied to Data Box which will then copy to Azure Files. Please contact our product team - Mathew.Dickson@microsoft.com -  and we may be able to help you out with workaround.

[2019-01-11 18:00] PatAltimore commented on #22020
@mganeshphani @AshokPeddakotla-MSFT, Thanks for the feedback. While Azure Blockchain Workbench is in public preview, new features will be added frequently. The documentation reflects the latest version. We usually only call out breaking changes between versions rather than feature differences. Calling out feature differences can complicate and cause confusion in the documentation.

Thanks,
Pat

[2019-01-11 18:05] Karishma-Tiwari-MSFT commented on #21969
@jomuld We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-01-11 18:05] #21969 closed

[2019-01-11 18:07] Karishma-Tiwari-MSFT commented on #22023
@johnkwaters Any update? Can you please share which doc you have been referring to.

[2019-01-11 18:07] MicahMcKittrick-MSFT commented on #21814
@okaicomputer I just ran through the doc and it worked without issue on a Windows Server 2016 machine.

You can either follow this doc and increase the disk size using PowerShell or you can use the Portal to do so if you prefer. Once resized, you login to the VM, open disk management and click on the Windows Partition. There is an option to "Expand". Once you click that it will automatically alloc

[2019-01-11 18:07] #21814 closed

[2019-01-11 18:08] vhorne commented on #22065
@anttipo
OK, good point. I changed the UDR section and added a link back to the v2 article for more info.

[2019-01-11 18:08] curtand commented on #20572
Thanks, @SamirFarhat
Diego approved. I think I missed the 10 am printing run, so it should be live by 4 pm.
@DiegoRamirez-MSFT

[2019-01-11 18:08] vhorne commented on #22065
#please-close

[2019-01-11 18:08] andretms commented on #20771
@CelesteDG , @jmprieur - it looks like Business Central is coming to MS Graph https://docs.microsoft.com/dynamics-nav/endpoints-apis-for-dynamics - but I believe the sample Jean-Marc pointed is a good starting point. I would recommend eventually posting a question to Stack Overflow for guidance

[2019-01-11 18:09] kobulloc-MSFT commented on #22201
@mcpfe Thank you for the feedback!  We have assigned this to the document author so they can update the doc accordingly.

[2019-01-11 18:09] Karishma-Tiwari-MSFT commented on #22084
@mrityunjay0510 Thanks for sharing the document. I have updated the issue with doc details.
We are currently investigating and will update you shortly.

[2019-01-11 18:10] Darryl-G opened #22203 "ILB Idle Timeout"
Hello, please can you elaborate on the requirement for ILB idle timeout to be set to 30 mins for ASCS.
Is 30 mins sufficient or are we saying that after 30 mins you might have issues, but it's low probability?
Is there a way to turn off idle timeout entirely on the ILB ?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-01-11 18:11] MicahMcKittrick-MSFT commented on #21958
@radhagpt what do you mean a list of available NICs with a VM size? You mean how many NICs are allowed per a specific VM size? That information is not available via API. You will need to check the VM sizes page for that information.

[2019-01-11 18:12] mike-urnun-msft commented on #22202
@Kenneth-Abrams Thank you for your feedback! We will review and update as appropriate.

[2019-01-11 18:13] mike-urnun-msft commented on #22200
Hi @mrityunjay0510 Thank you for your feedback! We will review and update as appropriate.

[2019-01-11 18:14] bakerm00 opened #22204 "Assign the Reader role to the user at the subscription scope. - update for b2b user"
doesn't work with a b2b user

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33d42957-44e8-cf46-40c2-51b35776abe2
* Version Independent ID: d853fb3d-413d-873b-cd3d-6e8ecda73164
* Content: [Tutorial - Grant access for a user using RBAC and Azure PowerShell](https://docs.microsoft.com/en-us/azure/role-based-access-control

[2019-01-11 18:17] kobulloc-MSFT commented on #21769
@jmrnilsson The documentation is going to be updated so that this is much more clear moving forward.  Thank you for bringing this to our attention!

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-01-11 18:17] #21769 closed

[2019-01-11 18:17] hillmarcus commented on #22181
I'm working on building some WebJobs myself and am starting to doubt that I should use this library. I can't find a good source of documentation anywhere. MSDN says one things, github says another, the current version of the library doesn't really support either. The sample code @stap123 linked to doesn't compile on my system because half the methods being called can't be found.

The documentation

[2019-01-11 18:18] Mike-Ubezzi-MSFT commented on #20662
@kchewett We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-11 18:18] #20662 closed

[2019-01-11 18:18] tfitzmac commented on #22114
At this point, I don't know of a GUI-based tool that would work for subscription level deployments. However, PowerShell or Azure CLI would be easy even for someone not comfortable with coding. The command is basically the same every time. They could use [CloudShell](https://docs.microsoft.com/en-us/azure/cloud-shell/overview) through the portal so they wouldn't need to install anything.

[2019-01-11 18:18] erhopf commented on #21995
#please-close

Documentation has been updated.

[2019-01-11 18:24] MicahMcKittrick-MSFT commented on #22199
@abhiramani-iptiq I am not aware of any plans at this time.

You can submit your feedback to have this pre-installed here

https://feedback.azure.com/forums/598699-azure-cloud-shell

CC @iainfoulds if you have any idea on if this is planned yet.

[2019-01-11 18:24] Karishma-Tiwari-MSFT commented on #22093
@RePinheiro Can you please provide the document you have been referring to, so that I can direct this issue to the right team based on the Azure product you are using.

[2019-01-11 18:24] MGoedtel commented on #19935
I am going to review this now and determine next steps.  Thanks.

[2019-01-11 18:31] nheinbaugh opened #22205 "Determine Source of Connection"
Is there any way to determine what the source of a client connection (i.e. the source HTTP/IP address or even a custom name) when the connection isn't associated with a user? My application has several web apps that can generate SignalR notifications and I want a way to determine if any of them are leaking connections or improperly closing them?

---
#### Document Details

⚠ *Do not edit this sect

[2019-01-11 18:31] Alberto-Vega-MSFT commented on #22112
@arsing Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-11 18:36] mikenewman1 opened #22206 "No feedback on why custom prons failed"
I uploaded a simple example of custom prons, which failed. I could not find any feedback on what went wrong. Was it the text encoding? One of the display forms? Missing tab? Illegal spoken form?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15ab661b-de71-2baf-2ae6-2b4e875107df
* Version Independent ID: 966ec357-e9ff-2

[2019-01-11 18:39] femsulu commented on #22169
@happyadam73 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-11 18:39] axayjo commented on #21959
@loopfish, As part of Shared Image Gallery, we introduced 3 new resources - Gallery, Image Definition and Image Version. These are hierarchical resources meaning the Gallery contains a set of Image Definitions and the Image Definitions in turn contain a set of Image Versions. The Image Definition is really just a group of images. And, don't be confused by the pub/offer/sku triplet. This triplet ca

[2019-01-11 18:43] iainfoulds commented on #22199
Yes, we've already requested Istio be added to the Cloud Shell. No ETA on when this will ship.

[2019-01-11 18:43] PatrickFarley commented on #19200
Hi @TejaKommineni ,
You can find a similar feature on the product pages for our cognitive services on Azure.microsoft.com. For example - https://azure.microsoft.com/services/cognitive-services/computer-vision/
#please-close

[2019-01-11 18:49] BakerLabs commented on #22133
I’m using the page you recommended.

I believe my initial error was caused by the fact I was not using the “-skipVmBackup” parameter.

I tested again n a RedHat 7.5 VM.  Still failed but for a different reason. I’m looking though the logs now and I’ll send them over.

Set-AzureRmVmDiskEncryptionExtension : Long running operation failed with status 'Failed'. Additional Info:'Provisioning of VM exte

[2019-01-11 18:54] AjayKumar-MSFT commented on #22177
@JulioCGC, Sorry for any frustration with this issue. You have stated, 'but this tutorial are not working on it', kindly do provide more details on the issue like the error messages, any specific process in the document that you are unable to get through and other relevant details more clarity.

@dimazaid, Requesting your insights on this issue further.

[2019-01-11 18:57] Karishma-Tiwari-MSFT commented on #22203
Thanks for the question. We are currently investigating and will update you shortly.

[2019-01-11 18:58] #22065 closed

[2019-01-11 18:58] PatrickFarley commented on #20926
Hi @changeworld , good catch. The file is in the [Samples eCommerce Catalog Moderation](https://github.com/MicrosoftContentModerator/samples-eCommerceCatalogModeration) repository (ignore the first part of that file path and start with /Fusion). Thank you for offering to fix this!

[2019-01-11 18:58] Karishma-Tiwari-MSFT commented on #21995
@lostromb Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-01-11 18:58] #21995 closed

[2019-01-11 18:59] PatrickFarley commented on #20926
#please-close

[2019-01-11 19:00] vhorne commented on #21648
Overview updated
#please-close

[2019-01-11 19:02] JulioCGC commented on #22177
So, the error that shows is mostly on the MainActivity.java: here's the error that shows:
FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:processDebugResources'.

  Output:  C:\projects_flutter\_testes\flutter_messaging\android\app\src\main\res\layout\activity_main.xml:2: error: resource dimen/activity_vertical_margin (aka br.com.electra.fluttermessagin

[2019-01-11 19:03] Alberto-Vega-MSFT commented on #21667
Hi @pvirgili  We are looking into this issue. I will update you as soon as I get an ETA

[2019-01-11 19:11] JulioCGC commented on #22177
If you want to see by yourself (what i think it would be easier), here's my "app" path:
https://drive.google.com/file/d/1G8uBUa0SDxyHbBNtokVIqjkSpRf4cRHG/view?usp=sharing

[2019-01-11 19:18] rolyon commented on #21152
Hi @mcurko
Thanks for your feedback. Sorry for the delay. I've been out on vacation.

Can you clarify what you think should be changed in the article? Do you think <user email> should be changed to <UserPrincipalName>?

[2019-01-11 19:21] MicahMcKittrick-MSFT commented on #22199
Thanks @iainfoulds

@abhiramani-iptiq so it is in the works but with no ETA on completion yet.

[2019-01-11 19:21] #22199 closed

[2019-01-11 19:26] spiders38 opened #22208 "How to export custom views programmatically"
Currently it's possible to export and import views programmatically. As my organization deploy and config data collection as code for Log Analytics, we also want to integrate custom views in our git repos and deploy it using our CI/CD. I can't find any API to import the .omsview files.

We deploy our Log analytics (including configuration) using ARM templates so a solution could also be to deploy

[2019-01-11 19:30] TravisCragg-MSFT commented on #21648
@liamfoneill We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-11 19:30] #21648 closed

[2019-01-11 19:31] SumanthMarigowda-MSFT commented on #21621
@imeya I have assigned the issue to the content author to investigate further

[2019-01-11 19:33] cherylmc commented on #21847
I've updated the documentation. It will publish by early next week. #please-close

[2019-01-11 19:34] MicahMcKittrick-MSFT commented on #21888
Thanks for the extra details @rjohnson318

The fact that you are using this in the Gov cloud might very well be the issue.

I will let @MSSedusch comment further as he would know more than I.

[2019-01-11 19:36] MicahMcKittrick-MSFT commented on #22171
@ChrisKirkUltima thanks for pointing this out. To confrim how are you deploying these new VMs? PowerShell? JSON?

Have you tried via the portal to see if the same thing happens? This should help us narrow down the issue.

@MashaMSFT if yourself or know someone who might be able to assist further on this please do chime in or add them.

[2019-01-11 19:37] sdgilley commented on #22198
The Databricks link in the table will take you to the article that shows how to set it up.  Since it is only used as a compute target for machine learning pipelines, the info is given there instead:
https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-create-your-first-pipeline#databricks

[2019-01-11 19:38] PatrickFarley commented on #21220
@sawravchy , I am also able to run this code. Make sure your Face subscription key is valid and your Endpoint URL contains the correct region identifier. If you still get an error, try the MSDN forum.
#please-close

[2019-01-11 19:40] Karishma-Tiwari-MSFT commented on #22117
@cninja01 Since this is not a documentation feedback, instead a product question/issue, I would recommend opening a post on [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD) and the active directory team will help you on these forums. Thanks.

[2019-01-11 19:40] MohitGargMSFT commented on #22195
@brthurr Thanks for your feedback! We will investigate and update soon on it.

[2019-01-11 19:42] BryanTrach-MSFT commented on #22181
@stap123 and @hillmarcus Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-11 19:44] PatrickFarley commented on #21240
Hi @Jinesh12 ,
The tags which are frequently used will depend on what kinds of images you're using in your scenario. I don't think we keep track of which tags are most commonly applied overall. What is your use case?

[2019-01-11 19:44] billmath commented on #16688
@mflduncan Thanks for catching this.  This has been fixed and you should see an update later today.  Thanks!

#please-close

[2019-01-11 19:47] MohitGargMSFT commented on #22192
@prs-ca Thanks for your feedback! We will investigate and update soon on it.

[2019-01-11 19:47] jason-j-MSFT commented on #22170
@Sharpfinity
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-11 19:48] jason-j-MSFT commented on #22174
@mboogerd
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-11 19:49] changeworld commented on #20926
Hi @PatrickFarley , Thanks!

[2019-01-11 19:58] #19200 closed

[2019-01-11 20:00] mestew commented on #21668
@blouwagie Thanks Bart! Glad you got it running.
#please-close

[2019-01-11 20:00] Karishma-Tiwari-MSFT commented on #22203
@Darryl-G gbhfh

[2019-01-11 20:01] SaurabhSharma-MSFT commented on #22204
@bakerm00  Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-11 20:03] mestew commented on #14140
Closing this out for now. If you need additional help please let me know and we can reopen and continue. #please-close

[2019-01-11 20:04] TravisCragg-MSFT commented on #22173
@dmc-tech Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-11 20:08] Karishma-Tiwari-MSFT commented on #22203
I am not quite familiar with this. @MSSedusch Is this something you can shed some light on? Thanks :)

[2019-01-11 20:11] TravisCragg-MSFT commented on #21847
@kazshi We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-11 20:11] #21847 closed

[2019-01-11 20:11] TravisCragg-MSFT commented on #22180
@dfencegit Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-11 20:12] AjayKumar-MSFT commented on #22026
@KeiroKamioka0000, If you purchase a wildcard certificate it could help. A wildcard certificate will only cover *.yourdomain.com. The first level domain that you set is permanent. This means you can use the wildcard cert with any second level domain (www2/www3), as long as the first level domain is the same. Let us know how this goes for you or need further assistance.

[2019-01-11 20:12] DaveEM commented on #22025
I was able to repro the issue after a bunch of experimentation.  The issue is that the Docker for Windows app that shows up in the Windows notification area lets you login using your e-mail address (e.g. user1234@domain.com) or your Docker ID (e.g. IAmUser1234).  **If you login using your e-mail address then you'll get the error during the build.**  If you log out or use your Docker ID to sign in

[2019-01-11 20:12] #22025 closed

[2019-01-11 20:12] rjohnson318 commented on #21888
@MicahMcKittrick-MSFT @MSSedusch  thanks for the reply and help with this.

[2019-01-11 20:14] MikeRayMSFT commented on #17316
Thank you @Iain-Morris - I've created a work item to update the content.

#please-close

[2019-01-11 20:19] bs37208 commented on #20996
Thanks for the feedback! Some final notes:

ad 1: yes, Opsgenie's integration endpoints seem to be a bit weird here. I'd like them to support sending the apiKey in the HTTP header, rather than in the URI (which is the default in other - v2 - opsGenie endpoints), but seems that this is not possible :-(

ad 2: For the security differences a quick quote from https://update-wiki.owasp.org/index.php/RE

[2019-01-11 20:19] MikeRayMSFT commented on #17115
@dcbrown16 - thank you for this request. I've created a work item to fix the art so that it renders equally well in dark or light backgrounds.

[2019-01-11 20:19] evan-morris opened #22209 "Can tempSensor message rate be turned down? (by default or end user)"
Can tempSensor message rate be turned down? (by default or end user).
Our msdn account is limited to 8K messages & the default tempSensor easily floods that resulting in being shut off.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3808c67c-7c20-c275-efaa-d3724ccd88fc
* Version Independent ID: 4d86b419-25f4-d08f-e939-

[2019-01-11 20:20] MikeRayMSFT commented on #17115
#please-close

[2019-01-11 20:21] evan-morris commented on #22209
Can tempSensor message rate be turned down? (by default or end user).
Our msdn account is limited to 8K messages & the default tempSensor easily floods that resulting in being shut off.

[2019-01-11 20:23] MikeRayMSFT commented on #6799
@jlent01 - thank you again for looking at this. On August 30 we updated this article to address some of the concerns you raised. I think we clarified the steps. There are technical reasons why you can't create the listener on Azure VMs with the SSMS UI, and we're working on those.

#please-close

[2019-01-11 20:29] #17316 closed

[2019-01-11 20:31] curtand commented on #9772
Hi @andrewatfornax I removed the sentence and published the article. Thanks for your contribution!

@TravisCragg-MSFT
#please-close

[2019-01-11 20:39] starforce commented on #20918
I just got my DigiCert. Will continue on Monday..

[2019-01-11 20:40] rothja commented on #22083
@helderpinto Thanks for pointing this out. I'm not sure but I'll look into it. Including @MashaMSFT on this issue as well. Thank you!

[2019-01-11 20:55] iainfoulds commented on #22162
Thanks for the suggestion, @patst. The automatic delegation as part of enabling the add-on ensures that the required roles are set without the user needing to assign them. The permissions shouldn't change in the future, but would also make sure that the add-on correctly applies the delegation it needs. As part of on-going engineering work, disabling the add-on should also remove that delegation (i

[2019-01-11 20:57] mdgattuso commented on #21375
Hi,

We recommend customers choose their provider based on their feature needs. You can find the breakdown [here. ](https://docs.microsoft.com/en-us/azure/cdn/cdn-features) I can add this link to the profile creation documentation.

Thanks,
Max

[2019-01-11 21:00] desinole commented on #21733
I agree with Julie. Modeling Document Data should be added to Mongo also and maybe add platform specific blurbs for each. Or, it could be moved to the more generic How-to Guides. Also needs some material about hierarchical data - adjacency lists, materialized paths.

[2019-01-11 21:06] mrbullwinkle commented on #17165
@kobulloc-MSFT can you assign this one to @lgayhardt

[2019-01-11 21:11] miaojiang commented on #21745
@solankisamir please update the API doc to mention default value for this field.

[2019-01-11 21:18] whihathac commented on #8937
How can we configure number of UpgradeDomain?

[2019-01-11 21:20] btardif commented on #22163
@Tkeyy thanks fro your comments, I'll take a pass and prepare an update for this doc

[2019-01-11 21:20] MicahMcKittrick-MSFT commented on #22209
@evan-morris please provide us with the link to the documentation you are referring to so we can better assist.

[2019-01-11 21:37] starforce commented on #20918
@aljo-microsoft

I plan on creating my Test Service Fabric Cluster and Traffic Manager through the  portal.zure.com instead of trying to modify the long script.

https://github.com/aljo-microsoft/demo/blob/master/deploy/Deploy-2NodeTypes-3ScaleSets.endpoint.json

[2019-01-11 21:49] szarkos commented on #16139
#please-close

[2019-01-11 21:52] #22162 closed

[2019-01-11 21:52] #21668 closed

[2019-01-11 21:53] #21220 closed

[2019-01-11 21:53] #17115 closed

[2019-01-11 21:53] #16688 closed

[2019-01-11 21:53] #14140 closed

[2019-01-11 21:53] #9772 closed

[2019-01-11 21:53] #6799 closed

[2019-01-11 22:09] fawohlsc opened #22210 "az acr login missing to push image into ACR"
az acr login is missing in order to push image to ACR - just before "docker push <acrLoginServer>/azure-vote-front:v1"

[2019-01-11 22:10] jason-j-MSFT commented on #22186
@anthonykirby
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-11 22:11] jason-j-MSFT commented on #22187
@CeciAc
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-11 22:12] jason-j-MSFT commented on #22190
@lareeth
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-11 22:13] basilhariri commented on #22190
#please-close

[2019-01-11 22:14] fawohlsc opened #22212 "Manual deployment to Kubernetes fails"
AKS requires a service principal in order to pull the image from the private Azure Container Registry. This service principal must be made available as Kubernetes Secret, which then can be referenced in the Deployment. See [here ](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auth-aks?toc=%2fazure%2faks%2ftoc.json#grant-aks-access-to-acr) for details.

---
#### Docum

[2019-01-11 22:21] abhiramani-iptiq opened #22213 "getting error on reply-to url"
hi this article did not talk anywhere about specifying reply-to url,i am getting this error when trying to sign in.
AADSTS50011: The reply url specified in the request does not match the reply urls configured for the application: '42b50ffd-6efe-4973-b96c-ead9b894a0c7'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a47

[2019-01-11 22:26] laxmi518 opened #22215 "Transliteration for Japanese to latin with punctuation not working."
I used api request as
https://api.cognitive.microsofttranslator.com/transliterate?api-version=3.0&language=ja&fromScript=Jpan&toScript=Latn

For simple input like [{"Text":"さようなら"}] works fine, but if we place punctuations like { Fullstop, comma} as [{"Text":"さようなら。"}]
 it returns tresult as
 [
    {
        "text": "さようなら。",
        "script": "Latn"
    }
]

---
#### Document Details

⚠ *Do not e

[2019-01-11 22:31] lareeth commented on #22190
Where can I see the pull request with the changes made?

[2019-01-11 22:32] MicahMcKittrick-MSFT commented on #22213
@abhiramani-iptiq check to ensure you followed the steps for the client application correctly. Only thing I could think of in the process that might be causing an issue

https://docs.microsoft.com/en-us/azure/aks/aad-integration#create-client-application

[2019-01-11 22:34] Karishma-Tiwari-MSFT commented on #22215
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-11 22:34] basilhariri commented on #22190
It's already been merged into a private release repository. The changes should be live by tomorrow morning, @jason-j-MSFT can help with details.

[2019-01-11 22:34] rohan51 opened #22216 "How can I retrieve the client id of the app for a system-assigned identity"
How can I retrieve the client id of the app for a system-assigned identity? In the identity blade, I only see object id

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f57d3177-ce9e-ebfa-03a7-45beb8ca3212
* Version Independent ID: a59df23d-f3ac-9809-61d3-5741e31f020a
* Content: [Managed identities overview - Azure App S

[2019-01-11 22:35] evan-morris commented on #22209
It's for the IoT Edge Module / tempSensor here:
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/iot-edge/how-to-deploy-modules-portal.md

[2019-01-11 22:35] Karishma-Tiwari-MSFT commented on #22212
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-11 22:36] Karishma-Tiwari-MSFT commented on #22210
@fawohlsc Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-01-11 22:38] MicahMcKittrick-MSFT commented on #22209
@evan-morris thanks.

@sergaz-msft is our IoT engineer and will take a look further.

[2019-01-11 22:40] #22190 closed

[2019-01-11 22:40] abhiramani-iptiq commented on #22213
yes i have verified and followed exact steps

[2019-01-11 22:41] mattbriggs commented on #15374
@mattmcspirit Thanks for your feedback. When the feature first launched it required a specific version; but now it just needs to be the latest version for both items. I'll update to make that clear. The note for the extension contradicts that, and I'm updating that as well. #please-close

[2019-01-11 22:41] MicahMcKittrick-MSFT commented on #22212
@fawohlsc can you elaborate on what you are asking? Is there an issue with the doc you want fixed or information added?

[2019-01-11 22:41] erhopf commented on #22215
@Jann-Skotdal - Can you have someone from engineering look at this. I've replicated the issue that @laxmi518 has identified.

Without punctuation (さようなら) the result is:
[code]

With punctuation (さようなら。) the result is:
[code]

[2019-01-11 22:45] MicahMcKittrick-MSFT commented on #22213
@iainfoulds any thoughts? I am unable to reproduce the error when following the doc.

[2019-01-11 22:47] MicahMcKittrick-MSFT commented on #22210
Possible duplicate of #22212

[2019-01-11 22:49] laxmi518 commented on #22215
@erhopf  The result returned is also the same if we have any Numbers and latin character in it .
like [{"Text":"さようなら 8"}] is returned as  [{"text":"さようなら8","script":"Latn"}]
       [{"Text":"さようなら W"}] returned as [{"Text":"さようなら W"}]

[2019-01-11 22:50] erhopf commented on #22215
@laxmi518 - Thanks for the additional details! We will investigate and get back to you.

[2019-01-11 22:51] tysonn opened #22219 "Test"
This is wonderful content.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f0990fc-9834-bde3-5e06-071c75fa89a5
* Version Independent ID: 96f5df37-aa95-443d-2500-37665179ce89
* Content: [Create a virtual network - quickstart - Azure portal](https://docs.microsoft.com/en-us/azure/virtual-network/quick-create-portal#feedb

[2019-01-11 23:01] kgremban commented on #22107
@DaveEM Thanks for pointing this out, and for creating the resolution it. I've signed off on your pull request so it should be merged any time now.

I think what happened is that we used to make you write the createOptions in a single string, but then improved the VS Code tooling so that you can use more human-readable formatting in the deployment.template file and it gets converted into a flat st

[2019-01-11 23:03] fawohlsc commented on #22212
Sorry for being so brief. It's missing in the docs and should be added.

[2019-01-11 23:05] TravisCragg-MSFT commented on #22193
@paratz Thanks for your feedback! I have added the variable to the beginning of the "Start" scrip. The doc should reflect this change within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-11 23:05] #22193 closed

[2019-01-11 23:08] spelluru commented on #21777
@axisc

@jeffpatton1971 - Thank you for reporting the issue. We sincerely apologize for the inconvenience. I agree that the title of the article is misleading. The PowerShell article uses PowerShell only to create a service bus queue and then uses a .NET application to send messages to the queue. I have confirmed with the PM (@axisc) that there are no [PS commands](https://docs.microsoft.com/en-us

[2019-01-11 23:11] SaurabhSharma-MSFT commented on #22184
@webstaff Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-11 23:13] #22107 closed

[2019-01-11 23:14] Jann-Skotdal commented on #22215
@laxmi518 - Thank you for reporting this. Our engineering team is investigating the issue.

[2019-01-11 23:17] Karishma-Tiwari-MSFT commented on #21867
@sakthivetrivel @iainfoulds Can either of you help confirm on this one? Thanks :)

[2019-01-11 23:18] Karishma-Tiwari-MSFT commented on #22078
@rishikakkarster Please provide us with the link to the documentation you are referring to so we can direct your issue to the right team.

[2019-01-11 23:19] Karishma-Tiwari-MSFT commented on #22117
@cninja01 We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-01-11 23:19] #22117 closed

[2019-01-11 23:35] Karishma-Tiwari-MSFT commented on #22130
@OOPMichael Thanks for sharing the document. I don't think Datacenter-Core-1709-with-Containers-smalldisk and Datacenter-Core-1709-smalldisk are supported, based on the supported OS list provided in this doc.

@rajsqr Can you please help confirm this. Thanks :)

[2019-01-11 23:42] michaelassad opened #22221 "Commands don't work"
Please check the sample PowerShell scripts. They are not working for me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60d899e8-cf6e-a99a-91aa-2d812118854a
* Version Independent ID: a6b53c2f-078d-4c74-0d3d-49118f1ab122
* Content: [Configure Load Balancer TCP idle timeout in Azure](https://docs.microsoft.com/en-us/azur

[2019-01-11 23:42] dpetrizze opened #22222 "Set-GraphApplication and Remove-GraphApplication cmdlets"
Trying to manage Service Principals following the ADFS portion of this article.  On the ERCS Privileged endpoint, only the New-GraphApplication function exists.  I am unable to run the other script examples for updating or removing the service principal because Set-GraphApplication and Remove-GraphApplication do not exist on the ERCS privileged endpoint.  How can I find/install these additional fu

[2019-01-11 23:46] henslecd opened #22223 "Azure Salesforce Provisioning not syncing SF Profiles to AD Roles"
We have Salesforce Provisioning set up in Azure.  When selecting a "Role" in Azure, only the standard SF Profiles are in the list to be selected.  The custom SF profiles are not in the list.

There is another thread that says that Azure doesn't consume SF Profiles, only SF Roles. That is not true. The Roles in Azure are 1:1 with the standard SF Profiles.  Unfortunately the custom SF profiles are n

[2019-01-11 23:47] dpetrizze commented on #22222
I forgot to mention that New-GraphApplication does not recognize the -GenerateClientSecret option.  This significantly limits the ability of the service principals I can create.  thanks

[2019-01-11 23:53] kgremban commented on #22108
@DaveEM What logs are you looking at for the host mismatch error? I'm trying to reproduce, and edgeAgent hangs when it tries to start the sql module. No errors in the edgeAgent logs or in the Get-WinEvent command, it just seems stuck. I have to run `iotedge restart edgeAgent` to get the module to pick up new deployments. I want to make sure that we're seeing the same error before I start troublesh

[2019-01-12 00:04] rwike77 commented on #17526
You can get the IP address by running:  `az mesh gateway show --resource-group myResourceGroup --name todolistappGateway`  @TylerMSFT, can you add this info to the article?  #please-close

[2019-01-12 00:06] julieMSFT commented on #22129
@Johnirsch - Hi John, I am having this evaluated. Thank you for your input.

[2019-01-12 00:08] dpetrizze commented on #22222
Okay, I may need to update my ASDK.  1.1811.0.101 references these capabilities in the release notes.  Wish me luck

[2019-01-12 00:09] MicahMcKittrick-MSFT commented on #17526
Thanks @rwike77. I think we should keep it open until the doc is updated though or at least till the PR is posted. Thoughts?

[2019-01-12 00:16] Adam-Smith-MSFT commented on #22019
@pburkholder It is actually designed to only be viewed using [Storage Explore](https://azure.microsoft.com/en-us/features/storage-explorer/) I did a quick test and was able to see it.

Let me know if this helps.

[2019-01-12 00:16] Karishma-Tiwari-MSFT commented on #22183
@ramankumarlive I am seeing the same issues. Can you please check and update the script as needed. Thanks :)

[2019-01-12 00:19] julieMSFT commented on #8983
@sasakovacevicMSFT
The issue was corrected an merged. This issue just need to be closed.
##please-close

[2019-01-12 00:21] Mike-Ubezzi-MSFT commented on #21986
@douglaslMS Is it possible to reference or document the list of applicable valid properties values for some of these properties?

[2019-01-12 00:21] Karishma-Tiwari-MSFT commented on #22223
@henslecd Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-01-12 00:38] Mike-Ubezzi-MSFT commented on #22128
@anneomcl Please take a look at the following GitHub issue filed in the Redis StackExchange.Redis repository with regard to this specific issue: [Caching LUA scripts on servers of a Redis cluster](https://github.com/StackExchange/StackExchange.Redis/issues/301). I believe this will address your question. If you are using this client library there is some automation that will address this but, plea

[2019-01-12 00:43] kgremban commented on #21816
@futurexpe check the logs of edgeAgent, which is responsible for managing the modules on your device. Run `iotedge logs edgeAgent`. If you are successfully receiving deployment information on the device, you'll see something like "Plan execution started for deployment x".  Or if you're not seeing messages in the edgeAgent logs at all, then your device isn't receiving updates.

For example, made tw

[2019-01-12 00:46] Mike-Ubezzi-MSFT commented on #8983
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-12 00:46] #8983 closed

[2019-01-12 00:53] Karishma-Tiwari-MSFT commented on #22178
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-12 00:54] Karishma-Tiwari-MSFT commented on #22196
Thanks for the question. We are currently investigating and will update you shortly.

[2019-01-12 00:57] Karishma-Tiwari-MSFT commented on #22206
Thanks for the question. We are currently investigating and will update you shortly.

[2019-01-12 00:58] Karishma-Tiwari-MSFT commented on #22208
Thanks for the question. We are currently investigating and will update you shortly.

[2019-01-12 00:59] Karishma-Tiwari-MSFT commented on #22216
Thanks for the question. We are currently investigating and will update you shortly.

[2019-01-12 01:00] Karishma-Tiwari-MSFT commented on #22219
@tysonn  We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-01-12 01:00] #22219 closed

[2019-01-12 01:01] femsulu commented on #22222
@dpetrizze you are on the right path. You will need to upgrade to the latest ASDK version that supports the above cmdlets.

[2019-01-12 01:02] femsulu commented on #22222
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-12 01:02] YutongTie-MSFT commented on #21818
@bl00apple
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-12 01:02] #21818 closed

[2019-01-12 01:02] #22222 closed

[2019-01-12 01:04] henslecd commented on #22223
Here you go. https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/salesforce-provisioning-tutorial

[2019-01-12 01:04] apraovjr opened #22224 "Access denied for openid"
Hi

I am sending request as follows
https://login.microsoftonline.com/aprao.onmicrosoft.com/oauth2/v2.0/authorize?client_id=275f95b8-ed5e-436a-95a9-5b7d08d526ff&nonce=678910&redirect_uri=http://localhost:8080/google-login&response_mode=form_post&response_type=id_token&scope=openid&state=KRCh8o

and still i get access denied. The app is registered as web app and implicitflow set as true.

---
####

[2019-01-12 01:05] Karishma-Tiwari-MSFT commented on #22205
Thanks for the question. We are currently investigating and will update you shortly.

[2019-01-12 01:07] Karishma-Tiwari-MSFT commented on #22223
@henslecd Thanks for sharing the document. I have updated the issue with doc details.
We are currently investigating and will update you shortly.

[2019-01-12 01:12] TravisCragg-MSFT commented on #22221
@michaelassad Could you please provide some additional information on what commands are not working, along with the error you are getting? Keep in mind these commands are for azure classic resources, and you will need to use [Azure Classic PowerShell](https://docs.microsoft.com/en-us/powershell/azure/servicemanagement/install-azure-ps?view=azuresmps-4.0.0).

[2019-01-12 01:17] femsulu commented on #22208
@spiders38 for technical assistance, I recommend posting your question on the [log-analytics MSDN forum]([url](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=opinsights)). This channel is reserved for documentation feedback & support. cheers.

[2019-01-12 01:20] #22208 closed

[2019-01-12 01:34] moojjoo commented on #21784
Does the application have to have a page in the application to accept SAML
or can you just give a Web page?

On Fri, Jan 11, 2019 at 4:55 AM K N Manoj Reddy <notifications@github.com>
wrote:

--
Robert Dannelly, Jr. MCP | MCTS | CIW

Senior Full Stack Developer and SEO Specialist
robertdannelly@gmail.com
http://moojjoo.blogspot.com
Twitter: @moojjoo
Skype: robert.dannelly

[2019-01-12 01:47] wp1107 opened #22225 "Step 7 is not very clear"
At step 7, it mentioned that we need to modify the ApplicationManifest.xml and ServiceManifest.xml. It's not very clear if we need to create another new Service Fabric application with container service then do the modification.  I tried to modify the existing application following the instruction, then I got this error after deployment: "MainEntryPoint:EntryPointDescription { EntryPointType = Con

[2019-01-12 01:58] SaurabhSharma-MSFT commented on #22224
@apraovjr Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-12 02:02] jasonshave opened #22226 "More detail on product delegation flow"
Great content here! I have a few asks however. First, the example video could use some updating of both code and flow to reflect ASP.NET Core 2.x where most of the flow has changed to use Razor pages. Second, it should be noted of the flow a product delegation goes through. As I understand it, we issue a `GET` back to the login page where there is an expectation that you log in again even if you c

[2019-01-12 02:02] rolyon commented on #22064
Hi @y4test
Yes, I think DataActions and NotDataActions are supported when using REST APIs. I've sent a message to the team to confirm.
thanks

[2019-01-12 02:41] jasonshave commented on #22226
I may have spoke too soon with my success. I'm getting an anti forgery token issue with the default login page (mine is similar to what's in the example code).

[2019-01-12 02:42] TravisCragg-MSFT commented on #22221
@michaelassad these should be the names of your resources in Azure that you are trying to change.

for the VM error, you need to present the VM as an object. You can get the VM and store it in a variable using

`$vm = get-azurevm -ServiceName "Cloud Service Name" -Name "VM Name"`

and then specifying the VM as an object in the Set-AzurePublicIP command

`Set-AzurePublicIP -PublicIPName "Name of yo

[2019-01-12 02:46] michaelassad commented on #22221
Thanks!

When I try to use get-azurevm, it says that a default subscription needs to
be set.

When I try to set a default subscription, it says that it doesn't exist
with either the name or Id of the subscription.

Do I have to assign the subscription to a variable as well?

On Fri, Jan 11, 2019, 9:42 PM TravisCragg-MSFT <notifications@github.com
wrote:

[2019-01-12 02:51] TravisCragg-MSFT commented on #22221
@michaelassad First, [log in using Add-AzureAccount](https://docs.microsoft.com/en-us/powershell/azure/servicemanagement/install-azure-ps?view=azuresmps-4.0.0#to-use-the-cmdlets). Next, select your proper subscription using Set-AzureSubscription

[code]

After that, you should be able to get your VM using the Get-AzureVM command.

[2019-01-12 03:07] TravisCragg-MSFT commented on #22178
@hotroot After a lot of testing, you are correct. This does update the Service Tag with the range of the UDR. Let me follow up with this.

[2019-01-12 03:15] Anand-Moghe commented on #21912
@yujhongmicrosoft Yes. Tried exactly what you suggested and it worked. Thanks a bunch !

[2019-01-12 03:15] #21912 closed

[2019-01-12 03:32] michaelassad commented on #22221
Okay, done. Now hopefully that fixes my problem which is a client server
app timing out :)

Incidentally, I also discovered that Get-AzureRMVM (rather than
Get-AzureVM) is required to get the VM created in the new generation.

On Fri, Jan 11, 2019 at 10:28 PM TravisCragg-MSFT <notifications@github.com>
wrote:

[2019-01-12 03:58] tnewton1 opened #22227 "prerequisites script 404s"
The referenced prereq script is a dead link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad37c582-22e6-6c1a-522a-0683aa3cef2c
* Version Independent ID: 0ffd6528-6f5c-107a-2a04-b19d0c807d15
* Content: [Quickstart - Encrypt a Windows IaaS VM with Azure PowerShell](https://docs.microsoft.com/en-us/azure/security/quick-

[2019-01-12 04:08] ecfan commented on #19753
@denishol, after discussing with @divyaswarnkar, the username and password is for the computer where your file system exists. The example in this doc seems to imply that the gateway is installed on the same computer as the file system, which is possible, but also confusing. We'll update the docs to clarify this wording. Thanks for bringing this issue to our attention.

#please-close

[2019-01-12 07:38] hotroot commented on #22178
@TravisCragg-MSFT Found this together with support, I can provide you the case number if required.

[2019-01-12 10:07] wolfma61 commented on #21998
We investigated the issue thoroughly. The Speech SDK streams the audio input with up to twice the speed of ‘real-time’. This is a none-issue for microphone input, and the latency/timing is matching our expectations and the performance of other SDKs. We optimized the SDK and the corresponding service for real-time scenarios, and to guarantee optimal overall responds and service scalability, we made

[2019-01-12 10:15] StevenLiekens commented on #21783
Okay thanks for providing some clarity! I never encountered the `.default` scope before this issue.
The leading dot makes me think it's part of a private API? Is it documented somewhere? I'm hesitant to use `.default` in my code if I only have this GH issue as a reference for my coworkers.

[2019-01-12 11:30] femsulu commented on #22073
my mistake, @idohalevi. I repro'd your issue on a cached portal session, saw the 'all metrics" label and assumed you were working off incorrect steps.

Just did a second repro and I'm now able to confirm that "Metrics" is no longer visible as you stated.

@johnkemnetz  - any input on this?

[2019-01-12 14:53] AjayKumar-MSFT commented on #19753
@ecfan, Thank you!
@denishol, We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-12 14:53] #19753 closed

[2019-01-12 15:08] AjayKumar-MSFT commented on #22124
@beneuto, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-01-12 15:08] #22124 closed

[2019-01-12 15:11] TomArcherMsft commented on #18900
@Klaas- I believe the link is working. If you are looking at the docs in GitHub (web site or desktop version), then the relative links might fail as the links are relative using the docs web site. Please feel free to comment if I'm mistaken, and we'll reopen the Issue.

@femsulu #please-close

[2019-01-12 15:45] hpsin commented on #21783
Completely understand the hesitation. It's not yet been documented but you might find references to it in some of the samples. Definitely not private though - just new. I'll try to get something into this document in the coming week.
________________________________
From: Steven Liekens <notifications@github.com>
Sent: Saturday, January 12, 2019 2:15:38 AM
To: MicrosoftDocs/azure-docs
Cc: Hirsch S

[2019-01-12 16:20] JTNichols opened #22269 "wrong link"
The '[azure-ad-b2c]' link on this page actually goes to 'azure-ad-b2b' on stackoverflow. Just fyi.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b77531f5-3bd4-600e-1bca-7f40f9ee479e
* Version Independent ID: 4c98db9b-4a2e-4ba4-ba7d-a1e2de9a8745
* Content: [Support and help options for Azure Identity developers](https:

[2019-01-12 16:46] TomArcherMsft commented on #21039
@kfprugger Great idea. I've added the tip to both sections. You should see it live on Monday morning around 10am (PST).

@MicahMcKittrick-MSFT #please-close

[2019-01-12 16:47] Klaas- commented on #18900
@TomArcherMsft  I would guess it got fixed here https://github.com/MicrosoftDocs/azure-docs/commit/f44d563826bd408670131767cb885f4b5f5229d5#diff-beaa9910d64846bc51e02726cbcaa108

when I reported it, it was definitely not working

[2019-01-12 16:47] #18900 closed

[2019-01-12 16:52] TomArcherMsft commented on #19248
@MicahMcKittrick-MSFT #please-close

@GWBasic Please let us know if we need to investigate further, and we'll reopen the Issue. Thanks!

[2019-01-12 17:38] AjayKumar-MSFT commented on #22026
@KeiroKamioka0000, We will close this out but if you feel you need more information please just let us know.

[2019-01-12 17:38] #22026 closed

[2019-01-12 18:55] #19248 closed

[2019-01-12 18:55] #21039 closed

[2019-01-12 18:56] MicahMcKittrick-MSFT commented on #22225
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-12 18:58] MicahMcKittrick-MSFT commented on #22226
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-12 18:59] MicahMcKittrick-MSFT commented on #22227
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-12 18:59] MicahMcKittrick-MSFT commented on #22269
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-12 19:39] michaelsoliman-com commented on #21699
@PramodValavala-MSFT,

`npm install -g azure-functions-core-tools` is working fine.
`npm install -g azure-functions-core-tools@core` is still having the error. This one is in the tutorial here https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-java-maven

[2019-01-12 20:09] mike-urnun-msft commented on #17336
Hey @jaq316 We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-12 20:09] #17336 closed

[2019-01-12 20:46] mike-urnun-msft commented on #21707
Hi @Jayesh040

`int intResult = Convert.ToInt32(score*100);` should do it. For any further questions, please open a thread on either MSDN forums or Stackoverflow. Since this channel is for driving improvements towards MS Docs, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-12 20:46] #21707 closed

[2019-01-12 20:51] SeaDude commented on #21449
Hm. Ok. Weird how its only showing partial borders / no borders on the west coast of the US.

[2019-01-12 21:37] jasonshave commented on #22226
I was able to bypass the anti forgery token issue in my Razor page by decorating my PageModel class (DelegateModel page) with: `[IgnoreAntiforgeryToken(Order = 1001)]` as per [https://www.learnrazorpages.com/security/request-verification](url). The request from API Management for product subscription/unsubscription appears to be a `POST` which also caused some confusion. __It would be helpful to h

[2019-01-12 22:25] jlee-vi opened #22270 "SSE is on by default"
Hi Team,

As SSE cannot be disabled and is on by default, would it be better to change this wording below:

"Storage Service Encryption enables you to request that the storage service automatically encrypt data when writing it to Azure Storage."

To some thing like:

"Storage Service Encryption is always enabled, and will automatically encrypt storage service data when writing it to Azure Storage.

[2019-01-12 23:32] OOPMichael commented on #22130
I Specafied this paramater on a VMSS in a new Service Fabric cluster deployment. based on this image, i believe that the feature **is** supported on this SKU.

![image](https://user-images.githubusercontent.com/10352188/51079639-01095000-1690-11e9-98f4-9ed3e4510614.png)

[2019-01-13 00:05] anlandu commented on #21238
Hi there, is there any update to this? Still getting a 500 error. Thank you!

[2019-01-13 00:38] mike-urnun-msft commented on #21728
Hey @anky2209 Presently, it isn't possible to set `PartitionKey` via output binding due to recent change in Event Hub SDK. However, there is a workaround that you may consider. Please review [this thread](https://github.com/Azure/azure-webjobs-sdk/issues/1643#issuecomment-450965490) for more context.

Since there isn't any action to be driving for the scope of this documentation, we will now proce

[2019-01-13 00:38] #21728 closed

[2019-01-13 01:56] carlfm01 opened #22273 "Can't deploy low priority VMSS from the Portal"
I'm trying to deploy Standard A0 on a Low priority VMSS, but in the portal the option is disabled, tried with Linux and Windows, also with different locations.
¿Any ideas?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1bd5076-fe52-cfca-4173-dec861167812
* Version Independent ID: 0122fff1-79e0-446c-00a4-85248a

[2019-01-13 02:01] kthejoker opened #22274 "New Deployment Center"
Deployment Centers has replaced the steps here for setting up CD in the Portal ...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a34424e-6a23-5517-5755-c9282643876f
* Version Independent ID: 1c375649-94d6-863a-203b-cb5ed5e4044e
* Content: [Continuous deployment for Azure Functions](https://docs.microsoft.com/en-us/az

[2019-01-13 05:01] djaus2 commented on #21816
Suggestion:
After the following logs
1/7/2019 5:52:10 PM info: edgelet_core::watchdog -- Checking edge runtime status
1/7/2019 5:52:10 PM info: edgelet_core::watchdog -- Edge runtime is running.
**.. we need something on-going to tell us things are still happening.
ie. To be patient and wait.**
When you see the above logs you deduce that that the setup is finished, which misses the point.

[2019-01-13 05:02] djaus2 commented on #21559
I got there with the above command, thx.

[2019-01-13 05:16] djaus2 opened #22285 "Keeping my IoT Hub but deploying new a Module to it"
Ok so I've successfully (eventually) completed the tutorial above. I can shut everything down by deleting the IoTEdgeResources  Azure group and remove the IoTEdge runtime from my devise. But what if I wanted to keep it all but deploy another module?
How can I delete just the Temperature Sensor module on the device and in the IoT Hub?

Or would going through the **Deploy a Module** with another mod

[2019-01-13 05:33] Karishma-Tiwari-MSFT commented on #22285
Thanks for the question. We are currently investigating and will update you shortly.

[2019-01-13 05:34] Karishma-Tiwari-MSFT commented on #22273
Thanks for the question. We are currently investigating and will update you shortly.

[2019-01-13 05:39] djaus2 opened #22296 "Can't Push IoT Edge module to Azure Container Registry"
Trying to do the Build and Push step I get:

Successfully built 727e0c741159
Successfully tagged mycontsinerreg.azurecr.io:0.0.1-windows-amd64
The push refers to repository [docker.io/library/mycontainerreg.azurecr.io]
89cca6039e18: Preparing
fce2c7f7c166: Preparing
1344cdc5a323: Preparing
173729a228c1: Preparing
b32562d2b225: Preparing
34834c8d6ffd: Waiting
b7c13f927a4c: Waiting
bc5e5792085f: Wai

[2019-01-13 06:02] djaus2 commented on #22296
NB: Also logged in with the second pwd.  But Push also failed.

[2019-01-13 06:10] AshleyT3 opened #22304 "Service Fabric listed above as not supporting remote debugging."
The docs above list Service Fabric as not supporting remote debugging, there is not X in its column for that, yet the following page indicates it's supported...
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-debugging-your-application
...Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5f74

[2019-01-13 06:14] djaus2 commented on #22296
2nd Nb:
On the Azure Container page there is a Quickstart link to get a HellowWorld container.
I **was** able to push (and pull) that container to(from) my Azure container registry.

[2019-01-13 07:33] djaus2 commented on #22296
My log for Build and Push
C:\Users\Me\source\repos\Azure_Containers\MyEdgeSolution\EdgeSolution> docker build  --rm -f "c:\Users\Me\source\repos\Azure_Containers\MyEdgeSolution\EdgeSolution\modules\CSharpModule\Dockerfile.windows-amd64" -t mycontainerreg.azurecr.io:0.0.1-windows-amd64 "c:\Users\DavidJones\source\repos\Azure_Containers\DjausEdgeSolution2\EdgeSolution\modules\CSharpModule" ; if
($?)

[2019-01-13 08:02] garfbradaz opened #22306 "SQL Subqueries"
I know _CosmosDB SQL API_ includes Subquery support. When will the documentation be updated to include what subquery support is supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 267e7493-cefe-0e44-b33e-c925b0f874de
* Version Independent ID: 2ffbb916-74f2-4b50-6b8d-3856afa42ca5
* Content: [SQL queries for Azure

[2019-01-13 09:39] aquibqureshi26 opened #22308 "No docs article for Different deployement model with Different subscription in Different Azure AD tenant"
After the ignite, we were able to create vnet peering in different azure ad tenant but both were ARM model vnets. But currently' I'm trying with ARM vnet in tenant 1 and classic VNET in tenant 2 but unable to find any documentation regarding the same.

also I'm getting below error when I'm doing it using powershell

Add-AzureRmVirtualNetworkPeering : An error occurred.
StatusCode: 500
ReasonPhrase

[2019-01-13 09:40] sandulas commented on #22191
This is the link to the documentation:

https://docs.microsoft.com/en-us/cli/azure/cognitiveservices/account?view=azure-cli-latest#az-cognitiveservices-account-create

This is the exact command I used to create the QnA Maker:

az cognitiveservices account create -n SandulasQnAMaker -g Default_Resource_Group --kind QnAMaker --sku F0 -l westus --api-properties qnaRuntimeEndpoint=https://sandulasweba

[2019-01-13 09:42] rkarlin commented on #22006
thanks @psoukal-ms . I'm looking into it.

[2019-01-13 10:30] peter-foreman opened #22309 "Old commands still in use"
Article says it has been updated to new Az commands, but there are references to old commands (e.g. Get-AzureRmLocation, New-AzureRmStorageAccount, get-azurestorageblobcontent)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b04a28c3-81d7-123d-5b16-6642636c07a8
* Version Independent ID: 2179498b-00e8-1c9d-bd11-4a903ae3a

[2019-01-13 10:37] fawohlsc commented on #22212
Thank you @MicahMcKittrick-MSFT . I overlooked that part in the prerequisites section. Thanks for pointing that out and sorry for my mistake.

[2019-01-13 15:35] nicolonsky opened #22310 "Please mention that usagelocation property is automatically inherited from tenant"
During testing I experienced that the UsageLocation property was set automatically on a referenced user object according to my specified tenant location.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7e4fdb9-a3d4-e97b-de30-9904868b87a5
* Version Independent ID: fbade46e-55b3-3c50-9cff-6ec88ee5ee6e
* Content: [Azure A

[2019-01-13 16:40] theheatDK opened #22311 "How do you know if a persistent volume is in use?"
Hi,
We currently have 30-40 disk where the name starts with "kubernetes-dynamic-pvc" and where ManagedBy is empty. For VM disks this normally indicates that the VM has been deleted and the disk has been orphaned.
How do you figure out if one of these disks are needed or have been orphaned?
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-01-13 17:06] mliesmons commented on #11999
What's the story now?
We are using self signed certificates successfully with ASE and Web- and API-Apps.
WAC however, either fails to start, or complains about certificate validation problems.

[2019-01-13 17:39] cowinr commented on #22227
I used https://raw.githubusercontent.com/Azure/azure-powershell/v6.13.1-November2018/src/ResourceManager/Compute/Commands.Compute/Extension/AzureDiskEncryption/Scripts/AzureDiskEncryptionPreRequisiteSetup.ps1 but modified it to work with the new Az module by replacing `AzureRm` with `Az`.

[2019-01-13 18:13] jgallucci32 opened #22312 "Sign in to AD FS environment post 1811"
After updating to version 1811, the `az login` command yields the same result as `az login --use-device-code` when Azure Stack is configured to use AD FS. Also the command `azurecli az login` appears to be a typo in the same section.

I am running version 2.0.54 of the Azure CLI on RHEL7.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-01-13 18:14] Karishma-Tiwari-MSFT commented on #22296
Thanks for the question. We are currently investigating and will update you shortly.

[2019-01-13 18:15] Karishma-Tiwari-MSFT commented on #22304
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-13 18:15] Karishma-Tiwari-MSFT commented on #22306
Thanks for the question. We are currently investigating and will update you shortly.

[2019-01-13 18:16] Karishma-Tiwari-MSFT commented on #22309
Thanks for the question. We are currently investigating and will update you shortly.

[2019-01-13 18:17] Karishma-Tiwari-MSFT commented on #22308
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-13 18:19] Karishma-Tiwari-MSFT commented on #22311
Thanks for the question. We are currently investigating and will update you shortly.

[2019-01-13 18:20] Karishma-Tiwari-MSFT commented on #22310
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-13 18:21] Karishma-Tiwari-MSFT commented on #22312
Thanks for the question. We are currently investigating and will update you shortly.

[2019-01-13 18:30] Karishma-Tiwari-MSFT commented on #22093
@RePinheiro We will now close this issue. Please come back with the doc, tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-01-13 18:30] #22093 closed

[2019-01-13 18:32] Karishma-Tiwari-MSFT commented on #22160
@dlebu Any update? Did you get a chance to try with the latest cli version?

[2019-01-13 18:34] Karishma-Tiwari-MSFT commented on #22191
@sandulas Thanks for sharing the document. I have updated the issue with doc details.
We are currently investigating and will update you shortly.

[2019-01-13 18:35] genarotrevino opened #22313 "Disable the feature"
It seems like one enable this feature cannot be disable, could this be clarify in te documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca09c37e-0d21-ffb1-1552-823a8266f2a5
* Version Independent ID: 55b4e939-0977-b798-e306-33bdc21bd840
* Content: [Azure AD Connect sync service features and configuration](htt

[2019-01-13 18:35] Karishma-Tiwari-MSFT commented on #22210
@fawohlsc Can you please share the doc link that you are referencing? Or is this issue resolved with #22212? Please let me know. Thanks.

[2019-01-13 18:37] Karishma-Tiwari-MSFT commented on #22313
Thanks for the question. We are currently investigating and will update you shortly.

[2019-01-13 20:14] LachlannRattray opened #22315 "North Europe region"
It looks like the AzureRegions Enum does not support North Europe as a location for cognitive services however it is currently possible to create a service in North Europe.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de38babe-c399-250d-6e30-b5a923009f4d
* Version Independent ID: 017cbad0-6292-0735-0295-83ad41fb275a

[2019-01-13 20:52] iizotov opened #22316 "Fix JS timeout example"
In the timeout example the line
[code]
should read
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d1a5a8a-2bff-1994-59bf-708900728297
* Version Independent ID: 9e1a5c40-686d-78b5-37f6-b16b4e0843e4
* Content: [Timers in Durable Functions - Azure](https://docs.microsoft.com/en-us/azure/azure-functions/durable/dur

[2019-01-13 21:33] Norrch2 opened #22317 "Where do you put the JavaScript"
This document doesn't specify where the JavaScript is to be put? Is it supposed to be put in a custom html file? Or in the script execution element?

Please update to include where the JavaScript is to be stored.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 818e437f-75d7-30f1-d6fe-e57288abbc54
* Version Independent I

[2019-01-13 22:02] loopfish commented on #21959
Hi all, yes, I think I understand now - the image definition is literally a set of labels you can define yourself, to describe the image it refers to. I haven't had a chance to test it out yet, but I'm sure of what to do now. I think it just needs a comment to explain that the definition parameters can be anything we choose, to describe the image, and that the definition is just a placeholder (as

[2019-01-13 22:14] BenjaminHabert opened #22318 "unable to ssh to linux App running django"
I am unsuccessful in connecting to a running App with ssh with two of the described methods. I deployed a Python Django application in the App (using the local git method).

- opening `https://&lt;app_name&gt;.scm.azurewebsites.net/webssh/host`: I receive a 404 error from Django. Indeed, `/webssh/host` is not a url I have defined

- using the `az` tool for remote connection did not work:

[code]

[2019-01-13 22:40] annigam01 opened #22319 "Mobile View - Download PDF Missing"
Hi Team, the documentation is fantastic, many i times in long flights i want to download the PDF version on my Mobile. But the mobile version of the website doesnt shows any option do to download the PDF, would it be possible please

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 510faed7-b79d-b8ec-f32f-e64d8773a30c
* V

[2019-01-13 23:37] fawohlsc commented on #22210
@Karishma-Tiwari-MSFT Yes its resolved with #22212. I overlooked that part in the prerequisites section. My mistake :-)

[2019-01-14 00:04] djaus2 commented on #22296
Also, looking around for the built container on my dev machine. Whilst I can find the pulled and pushed HelloiWorld example, as above, under my Docker Containers, couldn't find the built C# assembly.

[2019-01-14 00:13] djaus2 opened #22320 "Unawaited call to a Task in code gives build warning"
In the coding part, step 5, there is an unawaited call
OnDesiredPropertiesUpdate()
Which  gives a build warning.
The call **is** to a Task so could this be coded a little better?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 181d5562-f8d7-9c59-85ea-09efbe397f3e
* Version Independent ID: dbedd952-a050-286e-c951-4529ec8

[2019-01-14 00:28] fogwills opened #22322 "No support for SAP BW"
I would consider adopting Azure Data Catalog if SAP BW data sources were supported.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cdbefa1-36d5-f98d-0b47-fa342ba5eb9d
* Version Independent ID: 5a9b6dc7-0223-77c4-831c-3c3059dbc4c9
* Content: [Supported data sources in Azure Data Catalog](https://docs.microsoft.com/en-a

[2019-01-14 00:44] xiaoyongzhu opened #22324 "Broken link"
[code]
The link is broken. The correct link should be https://www.microsoft.com/en-us/research/project/project-brainwave/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3289e29-1c1a-11f4-87c8-337c03cfd9c8
* Version Independent ID: 886e8d83-eed0-d8ce-7397-0d0e57de9be2
* Content: [What are FPGAs and Project Brainwave? -

[2019-01-14 01:29] andyhush-athena opened #22326 "When GA?"
It says "(preview)". When will Elastic Query be GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85bf6940-1cbe-b07c-aede-131130ceb616
* Version Independent ID: 447635d9-5aea-f447-6cb4-8fd44ea5e900
* Content: [Azure SQL Database elastic query overview](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-e

[2019-01-14 01:41] BryanTrach-MSFT commented on #22181
@stap123 and @hillmarcus Upon further review we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary, or to create a new doc if they align with the feedback.

[2019-01-14 01:43] rccnw opened #22327 "Similar but different with another Azure feature: Azure Storage - Static Website"
I am confused how this relates to a very similar feature: 'Azure Storage - Static Website'.  The docs for that feature do not mention a CDN.  I was able to set up the site ok using that feature and the default generated URL, but the custom domain configuration on GoDaddy is challenging, I'm apparently not setting up the DNS records quite correctly, and I ended up on this page trying to get more de

[2019-01-14 01:43] jasondark93 commented on #17157
I was having the same problem and can confirm that fujie's suggestion worked for me.

For my entity id I used only "google.com" and I turned off "Use a domain specific issuer" in G Suite. No problems after this.

[2019-01-14 01:53] rccnw opened #22328 "CDN still required for HTTPS?"
Is this statement still true?  'Azure Storage does not yet natively support HTTPS with custom domains'
I got the impression from the new 'static storage custom domain' docs that CDN wasn't required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78396448-24ca-f8ee-c53e-0ed5cef029d1
* Version Independent ID: eb7557bb-54

[2019-01-14 02:02] mike-urnun-msft commented on #22316
Hi @iizotov Thank you for reporting this issue! We will review and make any necessary changes.

[2019-01-14 02:21] kobulloc-MSFT commented on #22039
@asubmani Unfortunately both our Visual Studio .NET Core [quickstart](https://docs.microsoft.com/en-us/azure/dev-spaces/quickstart-netcore-visualstudio) and our more detailed [getting started](https://docs.microsoft.com/en-us/azure/dev-spaces/get-started-netcore-visualstudio) section have HTTP Application Routing enabled.  Looking at the [HTTP application routing](https://docs.microsoft.com/en-us/

[2019-01-14 02:39] Karishma-Tiwari-MSFT commented on #22315
Thanks for the question. We are currently investigating and will update you shortly.

[2019-01-14 02:39] dcbrown16 commented on #22072
Just to note, the page provided says "Service health notifications does not send an alert regarding resource health events."
Wouldn't this be the page @dbsanfte wants?
https://docs.microsoft.com/en-us/azure/service-health/resource-health-alert-arm-template-guide
From the page it looks like those alerts are only possible through PowerShell.

[2019-01-14 03:11] LazarusX commented on #22320
PR is filed to fix this https://github.com/MicrosoftDocs/azure-docs/pull/22329

[2019-01-14 03:18] Walkeras opened #22331 "Needs to have a python examples in addition to all the c# examples"
Would be really nice to have a python example/sample for all of the code snippets.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cbeba05-8510-72a1-4199-c111e108fb5f
* Version Independent ID: 7d78de09-f8b0-b64a-a43a-c109c3c63b29
* Content: [Install application packages on compute nodes - Azure Batch](https://docs.micr

[2019-01-14 03:37] Karishma-Tiwari-MSFT commented on #22319
@tysonn Can you please take a look at this doc feedback for mobile version. Thanks.

[2019-01-14 03:39] Karishma-Tiwari-MSFT commented on #22328
Thanks for the question. We are currently investigating and will update you shortly.

[2019-01-14 03:39] Karishma-Tiwari-MSFT commented on #22327
Thanks for the question. We are currently investigating and will update you shortly.

[2019-01-14 03:40] Karishma-Tiwari-MSFT commented on #22326
Thanks for the question. We are currently investigating and will update you shortly.

[2019-01-14 03:40] ankush8064 opened #22332 "Azure Cosmos DB querying approach"
We are planning to store 3 months of vehicle telemetry data in cosmos database with Mongo API. Each vehicle is expected to generate around 500 MB of data across 3 months and the total vehicle count is approximately 1.5 million and growing. We need to devise a solution where customers can request data for a given Vin and fetch it in near real time. What would be the best approach for this requireme

[2019-01-14 03:47] Karishma-Tiwari-MSFT commented on #22324
@xiaoyongzhu I have created a PR with the fix. The changes will be live shortly. Thank you for the feedback.

[2019-01-14 03:50] Karishma-Tiwari-MSFT commented on #22322
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-14 03:53] Karishma-Tiwari-MSFT commented on #22332
Thanks for the question. We are currently investigating and will update you shortly.

[2019-01-14 03:53] neeleshray commented on #21757
We would be closing this thread. Kindly re-open if you need further assistance.

[2019-01-14 03:53] #21757 closed

[2019-01-14 03:54] Karishma-Tiwari-MSFT commented on #22331
@Walkeras Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-14 03:55] neeleshray commented on #21861
There is no such scripts readily available for un-joining the system from the Azure AD Domain as such.

[2019-01-14 03:58] neeleshray commented on #21977
Glad that you are in touch with our Support Team on the same. We would be closing this thread for now and you can re-open a new comment for any updates.

[2019-01-14 03:58] #21977 closed

[2019-01-14 03:58] Karishma-Tiwari-MSFT commented on #22160
@dlebu Thanks for sharing the update. Yes, it works well with latest cli version as shared by @jakaruna-MSFT
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-01-14 03:58] #22160 closed

[2019-01-14 03:58] neeleshray commented on #22134
Let us know if you need further assistance on this.

[2019-01-14 04:08] KetanChawda-MSFT commented on #21926
@AlexanderLiuzm Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-14 04:08] #21926 closed

[2019-01-14 04:33] CHEEKATLAPRADEEP-MSFT commented on #22322
@fogwills HANA is the only SAP Data Source supported at the moment.
SAP BW will be supported at some time in the future.
I would suggest you to provide your suggestion or feedback on your experience with Azure Data Catalog:
[https://feedback.azure.com/forums/906052-data-catalog/suggestions/30978367-allow-azure-data-catalog-to-discover-sap-bex-queri ](https://feedback.azure.com/forums/906052-data-c

[2019-01-14 04:38] CHEEKATLAPRADEEP-MSFT commented on #22306
@garfbradaz This is being assigned to the content author to evaluate and update as appropriate.

[2019-01-14 04:41] ameetkonnur commented on #21821
<file-system-name> corresponds to the root container (folder) that you create in your Data Lake Gen2 Storage account. The documentation needs to be updated to reflect that.

[2019-01-14 04:45] CHEEKATLAPRADEEP-MSFT commented on #22326
@andyhush-athena Regarding service general availability, I would suggest to keep an eye on [Azure updates](https://azure.microsoft.com/en-us/updates/?product=sql-database).
Azure updates provide information about important Azure product updates, roadmap, and announcements.

[2019-01-14 04:47] KetanChawda-MSFT commented on #22161
@TechnologyAnimal Apologies if the document created a confusion for you but the intention of document is to tell about the prerequisites (mentioned below) to run the  sample provided in the document.

1. Azure Functions Core Tools version 2.x
2. Install Azure CLI or You can also use Azure Cloud Shell if you don't have `Azure CLI` installed o your local machine.
3. Active Azure Subscription

**Azur

[2019-01-14 05:03] neeleshray commented on #22269
@JTNichols :  We are assigning it to the Author of the document to be corrected.
@CelesteDG  Kindly check on the same.

[2019-01-14 05:09] imeya commented on #21919
thanks.

[2019-01-14 05:09] #21919 closed

[2019-01-14 05:19] neeleshray commented on #22313
@genarotrevino :
This is a default feature. UPN soft match is automatically enabled for organizations that started syncing to Azure AD on or after March 30, 2016.

[2019-01-14 05:47] YASWANTHM-MSFT commented on #21865
@Kamyar5353 ,Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-01-14 05:47] neeleshray commented on #21963
@lonevvolf
Apologies for the delayed response. These ports are meant to be configured in the Azure AD Domain Services. As far the NSG, it is as well to be configured in the Azure Network with the Azure AD Clients.
Let us know if you need further help on the same.

[2019-01-14 05:52] KrishnaG-MSFT commented on #22105
@nhart12 , Yes, the 'targetResourceType' parameter is needed (mandatory) when monitoring multiple resources multiple metric criteria.

I have tested and tried to reproduce your issue but couldn't see any issue as "targetResourceType property is missing or invalid" while deploying an alert from an ARM template that monitors a single resource using various Azure PowerShell versions including 5.1.1,

[2019-01-14 05:54] PramodValavala-MSFT commented on #21952
@SamirFarhat Since we have not heard back from you and also that there isn't any doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-14 05:54] #21952 closed

[2019-01-14 05:55] SamirFarhat commented on #21952
Thanks.
I know it's not on your side, but maybe a note to users so that don't expect that the package will work to any user.
Thanks

[2019-01-14 05:57] PramodValavala-MSFT commented on #21745
@miaojiang Thanks!

@jasonshave The API doc will be updated to reflect the default by @solankisamir and the updated link to the right API doc is covered in my PR.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-14 06:03] SumanthMarigowda-MSFT commented on #22309
@peter-foreman Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-14 06:05] Rajani-Janaki-Ram commented on #21979
CAn you share the exact error message and screenshots if any. Adding @Rajeswari-Mamilla to help further.

[2019-01-14 06:10] KetanChawda-MSFT commented on #21973
@pixieheath Thanks for the feedback. Since it is a product feature request, It would be great if you can open a post [here ](https://github.com/Azure/azure-functions-core-tools/issues)in Function Core Tools repo to get this addressed by product team.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue

[2019-01-14 06:10] #21973 closed

[2019-01-14 06:31] SumanthMarigowda-MSFT commented on #22270
@jlee-vi Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-14 06:36] aquibqureshi26 commented on #17826
I faced the same issue. it would have been easy if they highlighted it as "export/archive"

[2019-01-14 06:37] mcurko commented on #21152
For users with MS account, UPN is very different from email, so they should know how to get UPN to complete the tutorial.

[2019-01-14 06:44] ManuelMos opened #22333 "How to specify slot for a deploy with maven?"
Hi,

we have multiple stages (Dev, Test, Staging, Prod). Can i somehow deploy my Function with Maven (or CLI) to a specific Slot?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e656bde5-b5d8-8d80-b7b3-ab430e57613e
* Version Independent ID: 329eb12f-7302-4ecf-c1bf-a50ba3f34bdf
* Content: [Create your first function in A

[2019-01-14 06:48] SumanthMarigowda-MSFT commented on #21010
@Absoblogginlutely You can have both the AzureRM and Az modules installed at the same time. If you have both modules installed, don't enable aliases. Enabling aliases will cause conflicts between AzureRM cmdlets and Az command aliases and could cause unexpected behavior. It's recommended that before installing the Az module, you uninstall AzureRM. You can always uninstall AzureRM or enable aliases

[2019-01-14 06:52] nareshnagpal06 opened #22336 "Unable to See the "Resubmitted" filter"
Hi,

I am using Logic app management portal but unable to see the "Resubmitted" filter in run history as shown in this document. Could you please advise where exactly can I find this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94d337ae-4a55-2e0b-7002-afef3c78ba57
* Version Independent ID: a56115e8-5f2e-9d66-2d20-13

[2019-01-14 06:57] neeleshray commented on #22317
As it mentions, in the document to include the code snippet into your sign-up or sign-in template file, you have to use a custom xml file for the same.

[2019-01-14 06:59] neeleshray commented on #22227
@cowinr  - Thank you for the link, it would help other community members as well.
@mestew - Kindly check the URL link for the "Azure Disk Encryption prerequisites script" in the Prerequisites Section

[2019-01-14 07:00] dominicbetts commented on #20047
Hi @JetstreamRoySprowl - I'm going to request that this issue is closed - please feel free to reopen it if you have any follow up questions. Thanks!
#please-close

[2019-01-14 07:02] dominicbetts commented on #14784
Hi @Zoltango - did the solution proposed by @mirkio90 work for you? Thanks!

[2019-01-14 07:07] dominicbetts commented on #20070
Hi @JetstreamRoySprowl - I've updated the Node sample code here: https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-connecting-devices-node
As Troy mentioned in the other issue, for a real device much of the schema information shown in the article was unnecessary. The Remote Monitoring solution does display the schema name sent in the Reported properties by the device on the

[2019-01-14 07:08] SumanthMarigowda-MSFT commented on #22328
@rccnw This statement is still correct.  Azure Storage does not support custom SSL certificates for custom domains. You need to use a CDN.
You may refer to the article below mentioned article for more info:
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-static-website#cdn-and-ssl-support

You can also provide your feedback here https://feedback.azure.com/forums/217298-storage/su

[2019-01-14 07:12] neeleshray commented on #22310
It is possible that the value of **msExchUsageLocation** from the On-Premise environment has been sync'd to the **usageLocation** attribute in Azure AD after a full sync.
If you look at the connectors in DirSync and AADSync, you’ll see that “**UsageLocation**” in the Azure Active Directory is mapped to “**msExchUsageLocation**” on-premises. You can populate the attribute either in the cloud or on-

[2019-01-14 07:20] neeleshray commented on #21916
This third-party blog should be helpful - [https://gotoguy.blog/2017/09/21/using-azure-ad-managed-service-identity-to-access-microsoft-graph-with-azure-functions-and-powershell/](https://gotoguy.blog/2017/09/21/using-azure-ad-managed-service-identity-to-access-microsoft-graph-with-azure-functions-and-powershell/)

[2019-01-14 07:54] lonevvolf commented on #21963
@neeleshray
Thank you for the response, but exactly this type of answer is what I am referring to as vague.

Does this mean that we should configure them on an NSG which is applied to the virtual network where the AD Domain Services are applied?  If so, are they inbound or outbound?  I am not aware of any other port configurations for AADDS.

I think that you are referring here to an NSG which is

[2019-01-14 07:55] woutervanranst commented on #21985
This is the entire session below from scratch, with the context info at the top, repro'ing the issue at the end

Welcome to Azure Cloud Shell

Type "az" to use Azure CLI 2.0
Type "help" to learn about Cloud Shell
VERBOSE: Authenticating to Azure ...

PS Azure:\> Get-AzureRmContext

Name                                     Account                  SubscriptionName         Environment             Te

[2019-01-14 08:08] #21745 closed

[2019-01-14 08:13] PramodValavala-MSFT commented on #21952
@SamirFarhat Thanks again for the feedback! I do understand your concern.

@ggailey777 Thoughts on this?

[2019-01-14 08:32] Cookzenberg opened #22358 "What scope to use for ASP Net Core?"
I followed these instructions for an ASP Net Core application running in Azure. The application connects fine on startup but after some time (hours maybe, I haven't tried to establish the period yet), I see many errors like this in my application insights logs:

Login failed for user 'NT AUTHORITY\ANONYMOUS LOGON'.

I guess that this is because the access token has expired.

Is there some specific

[2019-01-14 08:35] KetanChawda-MSFT commented on #22274
@kthejoker Thanks for your valuable feedback. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-14 08:38] Anmolgan81 commented on #21565
Any updates on this?

[2019-01-14 08:42] TechWatching opened #22359 "Initialize DefaultRequestHeaders in static HttpClient"
It is not mentionned how to properly initialize the static HttpClient (adding an header in the DefaultRequestHeaders for instance).
Should we do it in the static constructor of the function ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb8d85a7-1ca3-71f4-85fb-7fb02850b60e
* Version Independent ID: 3d7daee4-fd6d-0e96

[2019-01-14 08:46] thomasdc opened #22360 "AppRole value should not contain spaces"
It took me a while to realize that adding an AppRole with a value containing spaces is NOT allowed. It will give you the following error when you try to save the Manifest: "Failed to update application .... Error details: One or more properties contains invalid values.".

Please document this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-01-14 08:52] #20047 closed

[2019-01-14 08:52] #20070 closed

[2019-01-14 09:16] syedkhader opened #22361 "Get complete device twin"
Hi,
I am trying to get device twin details using Java sdk following the documentation https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-java-java-twin-getstarted. it doesn't get the complete device twin JSON. It only prints, if any new tag/property is added. it doesn't get the default ones. How to get the default data/complete json.

output:
Device ID: testdevice2
Tags:{HomeID=110ac534-e1bd-4

[2019-01-14 09:31] TravisCragg-MSFT commented on #22178
@hotroot Please post the SR# here, but I have verified exactly what you are saying. We are now working to update the docs.

[2019-01-14 09:37] saifuddin123 opened #22362 "Read complete device twin json"
Hi,
I am trying to get device twin details using Java sdk following the documentation https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-java-java-twin-getstarted. it doesn't get the complete device twin JSON. It only prints, if any new tag/property is added. it doesn't get the default ones. How to get the default data/complete json.

output:
Device ID: testdevice2
Tags:{HomeID=110ac534-e1bd-4

[2019-01-14 09:40] hotroot commented on #22178
@TravisCragg-MSFT Here is the SR#: 119011025000072

[2019-01-14 09:45] saifuddin123 commented on #22076
Thanks you..

[2019-01-14 09:45] #22076 closed

[2019-01-14 09:49] VitorX opened #22363 "Link is broken"
The link of [Using Text Analytics Key Phrase Cognitive Services API from PowerShell (MSDN blog)] is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c55aaf5-f436-a7cc-9837-9e992ea69d31
* Version Independent ID: e6c78cdf-2af4-8784-77c0-60f24fab0c42
* Content: [External & community content for Text Analytics API -

[2019-01-14 09:57] AndertBos commented on #21061
Is there any news / progression on this topic? I really need this full documentation about TSI web app, to go ahead with my solution.
We also send metadata for every parameter. Like explanation of the parameter in normal wording + the unit of the parameter. I haven’t found a possibility yet in TSI or “TSI single page web app” to read this metadata from IoT and use it as display name. The wording f

[2019-01-14 10:03] bassambst commented on #21706
Same issue here. Looking forward for a fix.

[2019-01-14 10:04] PramodValavala-MSFT commented on #22359
@TechWatching You could try [Lazy Initialization](https://docs.microsoft.com/en-us/dotnet/framework/performance/lazy-initialization) as shown in the [DocumentClient sample](https://docs.microsoft.com/en-us/azure/azure-functions/manage-connections#documentclient-code-example-c) in the same doc.

Your code would be something like this
[code]

[2019-01-14 10:08] JinseGeerts commented on #17084
@vhorne Any update on this one?

[2019-01-14 10:12] pastperfect opened #22364 "Maximum amount of Authentication Agents per tenants"
In step 4 it mentions a tenant limit of 12 authentication agents, in the FAQ it says the limit is 40. Can please you confirm which is correct? FAQ link: https://docs.microsoft.com/en-gb/azure/active-directory/hybrid/how-to-connect-pta-faq#how-many-pass-through-authentication-agents-do-i-need-to-install

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-01-14 10:13] Zoltango commented on #14784
Hi Dominic, yes it works. thank you!

________________________________
From: Dominic Betts <notifications@github.com>
Sent: Monday, January 14, 2019 8:02
To: MicrosoftDocs/azure-docs
Cc: Zoltango; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Error: 'StaticJsonBuffer' was not declared in this scope (#14784)

Hi @Zoltango<https://github.com/Zoltango> - did the solution proposed by @mirkio90<https

[2019-01-14 10:16] pregress opened #22365 "retrtySettings no longer contain DefaultMaxRetryCount"
This example no longer works.
[code]
Should be:
[code]

Note: `DefaultMaxRetryCountForNonTransientErrors` and `DefaultMaxRetryCountForTransientErrors`
I did not test the Java example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf35b25c-4f4c-920b-320d-8282a79ad7d3
* Version Independent ID: 07be307b-38b1-6cf2-46bf-70

[2019-01-14 10:18] TechWatching commented on #22359
Okay, sorry I did not pay attention to the sample for CosmosDb client, I have too much focus on the HttpClient. Thanks for the tip. thus I am closing the issue.

[2019-01-14 10:18] #22359 closed

[2019-01-14 10:35] KetanChawda-MSFT commented on #22202
@Kenneth-Abrams `WEBSITE_MAX_DYNAMIC_APPLICATION_SCALE_OUT` will work only in consumption plan based Azure Function App and doesn't depend on function runtime version.

This setting will set a maximum number of instances that a function app can scale to. This limit is not yet fully supported as it is in preview and only reliable if set to a value <= 5.

[2019-01-14 10:35] KetanChawda-MSFT commented on #22200
@mrityunjay0510 `myblobstorage_STORAGE` is Application Setting Key name with Value set to the connection string of your Blob storage account in which the images are stored.

The function code will looks for the connection string in the Application Setting `myblobstorage_STORAGE`, and it looks for the thumbnail image container name in `Application Setting` `myContainerName`.

As `myblobstorage_STOR

[2019-01-14 10:36] PramodValavala-MSFT commented on #22333
@ManuelMos Since `slots` are still preview for functions, both [function core tools](https://github.com/Azure/azure-functions-core-tools) and the [maven plugin](https://github.com/Microsoft/azure-maven-plugins/blob/develop/azure-functions-maven-plugin/README.md) do not support deploying to slots.

There was a discussion about this in the core tools repo as well - Azure/azure-functions-core-tools#2

[2019-01-14 10:36] Anmolgan81 commented on #22168
I have made this powershell using the link https://docs.microsoft.com/en-us/azure/dms/howto-sql-server-to-azure-sql-mi-powershell I havent changed any commands in there.

[2019-01-14 10:41] omaralareefi commented on #15389
How to add verified phone number instead of the email in the Authenticator app?

[2019-01-14 10:43] omaralareefi commented on #15389
How to add verified phone number instead of the email in the Authenticator app?

[2019-01-14 10:43] omaralareefi opened #22366 "How to add verified phone number instead of the email in the Authenticator app?"
How to add verified phone number instead of the email in the Authenticator app?

_Originally posted by @omaralareefi in https://github.com/MicrosoftDocs/azure-docs/issue_comments#issuecomment-453963011_

[2019-01-14 10:47] joeruder commented on #15499
Also checking in on this.

[2019-01-14 10:56] joeruder opened #22368 "documentation obsolete re: AddConsole()"
.AddConsole() now states that this is obsolete and will be removed.  Please provide proper way of configuring console.

Full warning is:
Warning	CS0618	'ConsoleLoggerExtensions.AddConsole(ILoggerFactory)' is obsolete: 'This method is obsolete and will be removed in a future version. The recommended alternative is AddConsole(this ILoggingBuilder builder).

Just adding (this ILoggingBuilder builder)

[2019-01-14 11:00] CHEEKATLAPRADEEP-MSFT commented on #22363
@VitorX Thank you for reporting this issue. This is being assigned to the content author to evaluate and update as appropriate.

[2019-01-14 11:04] paulajohnsoncgi opened #22370 "Networking requirements"
First paragraph mentions SMB traffic but the list of ports does not include SMB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f72d018e-76dd-3811-f02d-fca3419043f1
* Version Independent ID: 7332defc-c55e-33fb-b00b-5ad9001136c8
* Content: [Microsoft Azure Data Box Gateway system requirements](https://docs.microsoft.com

[2019-01-14 11:11] djaus2 opened #22372 "New Project: Azure IoT Edge Assumes Documents folder is on C drive"
If not (mine is on M drive)  get:
**Could not find a part of the path 'C:\Users\Me\Documents\Visual Studio 2017\Templates\ProjectTemplates\Visual C#'.**
Workaround, copy  M:\Users\Me\Documents\Visual Studio 2017\Templates\ProjectTemplates  to C drive

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b7b666c-1e95-d0dd-7fd

[2019-01-14 11:16] Anmolgan81 commented on #22168
This is the powershell that I am running:

Install-Module -Name "AzureRM.DataMigration"

Import-Module -Name "AzureRM.DataMigration"

Get-Module -Name AzureRM.DataMigration

$subscriptionname = "ForgeDevTest"
$ResourceGroupName= "AUSE2-FRG5-HGSQLPOC"
$VnetName= "AUSE2-Frg5-vnet"
$Subnet= "AUSE2-Frg5-DbDc-subnet"
$ServiceName= "AUSE2-FRG5-HGSQLPOC-DMS2"
$Location= "eastus2"
$Sku= "Premium_4vCores"

[2019-01-14 11:23] djaus2 commented on #22372
Problem runs deeper..
At end of project generation I get:

**The system cannot find the file specified. (Exception from HRESULT: 0x80070002)**
Project is created but no Module code created.  Just **Module** header is Solution Explorer.
So I guess it couldn't find the Program.cs file

[2019-01-14 11:34] KetanChawda-MSFT commented on #22336
@nareshnagpal06 Thank you for your feedback! We will review and update as appropriate.

[2019-01-14 11:35] djaus2 opened #22373 "The 2nd link under Check Your Tools isn't relevant"
The link to **Azure IoT Edge** takes you to "Azure IoT Edge - Azure IoT Edge for Visual Studio Code" which isn't relevant here.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b7b666c-1e95-d0dd-7fd8-a2367369d190
* Version Independent ID: 3eff6d45-cf8b-4546-166d-16198c736f13
* Content: [Develop and debug C# modules in V

[2019-01-14 11:39] YASWANTHM-MSFT commented on #22370
@paulajohnsoncgi, Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-14 11:40] sgiovinetti opened #22374 "How to set up this in AAS"
Is there a way to setup the Application intent in AAS Direct Query connection to SQL?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a2961d1-4448-11b7-2dc2-3b738bd70939
* Version Independent ID: 206eb022-25c4-66d7-7285-0d53a84956e3
* Content: [Azure SQL Database - read queries on replicas](https://docs.microsoft.com/e

[2019-01-14 11:49] tkumark opened #22376 "CORS for Wildcard or single origin scenarios in Azure Standard CDN"
Hi
Is CORS for Wildcard or single origin scenarios available for Azure Standard CDN or is this only available only in Premium Tier. you have mentioned
"CORS on Azure CDN will work automatically with no additional configuration when the Access-Control-Allow-Origin header is set to wildcard (*) or a single origin"
Does this apply to Azure Standard CDN?

The reason for asking is based on the structur

[2019-01-14 11:50] andyt530 commented on #5730
Do we have an ETA for BYOK and Managed disks ?

[2019-01-14 12:05] PramodValavala-MSFT commented on #22359
@TechWatching No worries... Glad we could help

[2019-01-14 12:09] dominicbetts commented on #14784
Hi @Zoltango - thanks for the update. I'm going to request that this issue is closed. Feel free to reopen it if you have any follow up questions  - thanks!

#please-close

[2019-01-14 12:14] #14784 closed

[2019-01-14 12:14] Peter-B- commented on #16997
I have the same issue with the following query:

```db.getCollection("Telemetry").distinct("DeviceId")```

I have 80,000 documents and  there are 2 distinct values for DeviceId at the moment.

I did not specify any indexing, so, as far as I undertand it, all my fields should be indexed.

[2019-01-14 12:16] djaus2 commented on #22372
Nb: Was able to setup a project OK on a "normal" dev machine (User folders on C drive).

[2019-01-14 12:31] shoomkloom opened #22377 "Sample does not work"
I followed the sample still get status 500...
I read through all the comments etc, but nothing helps.

UPDATE:
Works now.
I set WEBSITE_NODE_DEFAULT_VERSION=8.11.1
Was 8.11.4 before.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b0165d7-6462-842c-76ec-1a1f344fa51a
* Version Independent ID: 3b2c77ed-d9eb-cf20-0ace-908

[2019-01-14 12:31] doctordns commented on #22168
As I said - a typo on yourcode.

[code]
should be
[code]

[2019-01-14 12:34] doctordns commented on #22362
This issue appears to be a duplicate to #22361

Is this a homework assignment?

[2019-01-14 13:08] Anmolgan81 commented on #22168
Now I am getting the below error after correcting the typos

Unhandled scenario exception. Scenario 'Migrate.SqlServer.AzureSqlDbMI', TaskId '9600fd9c-58ad-4fb4-8ca7-d3017be2a20b'.
One or more errors occurred.
The given key was not present in the dictionary.

[2019-01-14 13:14] Anmolgan81 opened #22378 "Error while iniating the powershell script?"
Unhandled scenario exception. Scenario 'Migrate.SqlServer.AzureSqlDbMI', TaskId 'fae12aee-ed84-4a99-bf95-c933fc385856'.
One or more errors occurred.
The given key was not present in the dictionary.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a4fc2bc-d5a1-2f2c-c703-8049aed559a6
* Version Independent ID: c645b6d2-eed

[2019-01-14 13:50] visu001a opened #22379 "Is Possible to connect Azure SQL managed Instance from Azure SQL DB?"
Is Possible to connect Azure SQL managed Instance from Azure SQL DB?

By design, Azure SQL database is PaaS model with public end point only and Managed Instance has got only private end point. So how to connect the both?

We need to access (Read) few tables in Azure SQL MI from SQL DB using Elastic Query.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-01-14 13:58] Tkeyy opened #22380 "Missing "refresh_token""
The authorization token response is missing the "refresh_token".

How do we need to call the endpoint to get a refresh_token?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78411727-ea56-aef5-4f04-b016c25afba9
* Version Independent ID: 8687b7bc-a196-6fd0-fa57-9fa5dd2d4545
* Content: [Send custom metrics for an Azure re

[2019-01-14 14:05] thommck commented on #21861
Doesn't look like that is true, I found a page on here that explains how to use the dsregcmd commands, you should link to that on this doc
https://docs.microsoft.com/en-us/azure/active-directory/devices/faq

Thanks,
Thom McKiernan

Sent from 07468 473239

________________________________
From: NeeleshRay-MSFT <notifications@github.com>
Sent: Monday, January 14, 2019 3:55:18 AM
To: MicrosoftDocs/az

[2019-01-14 14:12] #22361 closed

[2019-01-14 14:17] saifuddin123 commented on #22362
no, i need this for developing a feature in our project. tried with RawTwinQuery class might help, but it gave an error and didn't find any example also.

Have closed the duplicate. not sure why only the issues logged with my personal id gets than my company id :)

[2019-01-14 14:24] SamirFarhat opened #22381 "Use of the OMS Gateway ?"
Hi,
Is OMS Gateway supported, or is this another service ?
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/gateway

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3942b937-b212-3ceb-d356-450b7f598f68
* Version Independent ID: 8b015b42-cf02-3942-3cc3-6e0f977d191a
* Content: [IP addresses used by App

[2019-01-14 14:27] mmulhearn opened #22382 "client.OpenAsync no longer exists"
Tip #2 says "Call OpenAsync to avoid startup latency on first request".  However, this method no longer exists on DocumentClient.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19819758-be79-2347-d1d9-7c950d8513ae
* Version Independent ID: 8099f2c8-f8bc-6459-c6fe-6b65b02fc6a2
* Content: [Azure Cosmos DB performance tip

[2019-01-14 14:39] mamccrea commented on #18098
@kamigash - I just wanted to follow up with you on this. The fix was included in our most recent release. The latest Visual Studio tool version is 2.3.6000.0 and the NuGet package version is 1.5.0. For more information on Stream Analytics tools for Visual Studio, you can reference [Continuously integrate and develop with Stream Analytics tools](https://docs.microsoft.com/en-us/azure/stream-analyti

[2019-01-14 14:40] gcormier opened #22383 "Requires AzureAD Premium"
The documentation should indicate that AzureAD Premium licenses are required to export Sign in Activity logs to any of the destinations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1eb6343-c4d6-6b06-f2eb-1c9435f997f3
* Version Independent ID: 7413b72d-8305-eb0f-3876-2fcb013c5196
* Content: [How to integrate Azure A

[2019-01-14 14:51] rolanddb opened #22384 "Can't connect"
I can't get this to work.

[code]

I've tried it on my macbook, and also in a docker container.
The network port is reachable (tested with telnet).

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6c47387-6172-e49b-5144-c843c91815a8
* Version Independent ID: 93cad71b-c859-3ae7-32c2-931ef46dd603
* Content: [Apache Cassan

[2019-01-14 15:15] msangapu commented on #22377
Thank you for the follow-up.

#please-close

[2019-01-14 15:21] timmcfadden opened #22385 "Getting azure-iothub-device-client is a pain to get working"
First I install the azure-iothub-device-client using pip install azure-iothub-device-client but now both on my Mac and my Rasberry Pi I get this error

Rasberry Pi:
pi@raspberrypi:~/Raspberry-Pi-sample-code $ sudo python SimulatedDevice.py
Traceback (most recent call last):
  File "SimulatedDevice.py", line 11, in &lt;module&gt;
    import iothub_client
  File "/usr/local/lib/python2.7/dist-packag

[2019-01-14 15:30] jpe316 commented on #20351
Hi @ArvidBaa - yes, you can register models  and perform other model management commands using an Azure ML Pipeline!

In order to do this, you simply need to get access to the workspace context object (so you have permissions to perform these activities).

You can do this from run.register_model or Model.register

Option A:
[code]

Option B:
[code]

[2019-01-14 15:32] jeanluc33 opened #22386 "Software prerequisites???"
What is the required Windows / Windows Server version?  Required Powershell version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9bf1784-2765-30b5-3709-614d29deea82
* Version Independent ID: dd18c9a0-35ba-7e63-bd45-bc15de06749e
* Content: [Use Azure Key Vault from a Web Application tutorial - Azure Key Vault](https

[2019-01-14 15:34] wolfma61 commented on #21892
all the samples are part of our daily test path, so I would assume they are working ... ;)

beside assuming, I gave it a try on my machine with the shipped nuget package

- used the helloworld sample from the github repo
- updated the subscription key and region with the information matching my account
- started vs2017, recent version, updated the runtime in the project information (I have a more

[2019-01-14 15:37] hrach commented on #19578
@BryanTrach-MSFT any news? This is quite core feature and now I'm quite disappointed that "newer offering" doesn't support it.

[2019-01-14 15:45] CodingSpiderFox commented on #22175
I clarified my questions in my last comment a bit

[2019-01-14 15:48] BharathRahulDS opened #22388 "Can I create a SF cluster in India West (Mumbai) region? I went through the following page and the availability is not there yet. https://azure.microsoft.com/en-us/global-infrastructure/services/?products=service-fabric . Is there a provision now? or should I wait until it is available in West India region?"
Please let me know on priority.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71869d24-fe49-3b0f-b096-72d0bf515905
* Version Independent ID: 9db6765c-b334-5ea5-13e7-aff0c59f4e58
* Content: [Common questions about Microsoft Azure Service Fabric](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-commo

[2019-01-14 16:03] sergaz-msft commented on #22372
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-14 16:07] JasonWHowell commented on #22322
#please-close

[2019-01-14 16:10] nhart12 commented on #22105
On further digging, it seems to only error when deploying a metric alert trying to monitor a single cosmos db resource

[2019-01-14 16:19] sergaz-msft commented on #22373
Thanks for noticing this @djaus2 . I will fix the link for the correct one: https://marketplace.visualstudio.com/items?itemName=vsc-iot.vsiotedgetools

[2019-01-14 16:23] TracyGH opened #22390 "Azure File Sync with SharePoint Files?"
Our Scenario:  Copying document attachments from SharePoint into a publicly available Azure repo.  The copies will be done selectively from libraries throughout the SP tenant, based on content type/metadata value criteria.

Based on reviewing the documentation, I don't *think* we can achieve this using Azure File Sync.  But I wanted to confirm with people smarter than me.

---
#### Document Detail

[2019-01-14 16:31] sergaz-msft commented on #22373
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-14 16:31] #22373 closed

[2019-01-14 16:31] ArvidBaa commented on #20351
Hi @jpe316 - Thank you so much! `Run.get_context().experiment.workspace` was just what I needed!

[2019-01-14 16:32] jfuller05 commented on #22099
A bit of an update: I received the same error when attempting a peer between different Azure Tenants with CSP subscriptions (different subscriptions, just both are CSP).

[2019-01-14 16:40] sergaz-msft commented on #22167
Hi @CodingSpiderFox I believe the better definition of a Module is as follows:

From: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-module-twins

"On the device side, the IoT Hub device SDKs enable you to create modules where each one opens an independent connection to IoT Hub. This functionality enables you to use separate namespaces for different components on your device. For

[2019-01-14 17:00] sergaz-msft commented on #22175
Hi @CodingSpiderFox ,
Let me first point you to the Azure IoT Reference Architecture that I believe may answer some of your current architectural questions: https://aka.ms/iotrefarchitecture

I got your point and what I would suggest (if you just want to access a specific range of devices) is that you [use routing](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-messages-d2c) and r

[2019-01-14 17:04] sciencec opened #22391 "Linear Regression vs. straight lines"
"And because we're using a straight line, it's a linear regression." is not correct. In fact, this model (y=b0+b1x) is a case of linear regression, we call it "simple linear regression", which has only one linear predictor, and here the relationship between predictor and prediction is necessarily a straight line. If we add a quadratic term for the same predictor variable to our model (becomes y=b0

[2019-01-14 17:07] Minewiskan commented on #21363
#please-close

[2019-01-14 17:10] shizn commented on #22372
@erich-wang

[2019-01-14 17:22] mestew commented on #22227
@tnewton1 the link to the prereq script should be updated shortly. Thanks!

@cowinr How did the AzureRM -> Az go for you? This script hasn't been tested or updated (as you noted) for that quite yet. I also found that the install PowerShell link should have gone to AzureRM 6.13.0 rather than the new AZ 1.0.0. Sorry about that. I overlooked this page when I updated the other ADE pages for that. The

[2019-01-14 17:32] bwren commented on #21960
@rboucher

[2019-01-14 17:34] Mike-Ubezzi-MSFT commented on #22382
@mmulhearn Thank you for this detailed feedback. I am assigning this to the content owner (@SnehaGunda) to evaluate and update as appropriate.

[2019-01-14 17:34] CarlRabeler commented on #22104
@MashaMSFT please coordinate with @anosov1960 on this doc bug

[2019-01-14 17:38] xencon opened #22392 "Ephemeral/Dynamic port ranges not shown, but traffic is appearing."
When installing the health agent on DCs, I observe inter-DC traffic on ephemeral/dynamic port ranges associated with the health agent service. This traffic is not documented in this article, and I don't know its purpose.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb5cf254-9d8e-de7a-30e8-487b68205bc2
* Version Indep

[2019-01-14 17:38] #22322 closed

[2019-01-14 17:38] #22377 closed

[2019-01-14 17:39] bwren commented on #21455
Think this one needs to move to support as opposed to a doc issue.  @MicrosoftDocs/azure-cxp-triage

[2019-01-14 17:41] billmath commented on #16763
This has been updated and should be live later today.

#please-close

[2019-01-14 17:42] garyericson commented on #22391
@sciencec - Thanks for reading with this level of detail and taking time to send a thorough comment. Would it be correct to say that a straight line is a linear regression, but linear regression does not necessarily imply a straight line? If so, then the statement is _correct_, just not _complete_.

The intended audience for this video series is someone without a data science background, and proba

[2019-01-14 17:42] ivan-shaporov opened #22393 "Incompatible resources"
"The resource group can include all the resources for the solution" - this is not always true. You cannot have a Linux App Service Plan and a Windows App Service Plan in the same region in the same resource group.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d37ec9b1-bb55-c423-8a70-d34b67c5ba79
* Version Independent

[2019-01-14 17:47] bwren commented on #20752
Sorry,  I missed this one.  Sending to engineering team for information. #in-progress

[2019-01-14 17:49] Mike-Ubezzi-MSFT commented on #22384
@rolanddb Thank you for briging this to our attention. I am in the process of investigating this and will update you when I have additional information.

[2019-01-14 17:51] brohrer commented on #22391
@sciencec and @garyericson, I agree with you both. There is always a trade-off between completeness and digestibility, and this publication was trying to maximize digestibility.

[2019-01-14 17:52] rolyon commented on #21555
Hi @mybayern1974
I'm going to close this issue for now. If you have any additional feedback, please reopen this issue.
thanks

[2019-01-14 17:53] rolyon commented on #21555
@MicrosoftDocs/azure-cxp-triage
#please-close

[2019-01-14 17:53] dlepow commented on #22331
@Walkeras - Agree, good feedback to include some Python examples when this article next gets updated.
@Karishma-Tiwari-MSFT - Can you please assign to @laurenhughes who now owns the Batch documentation? Thanks!

[2019-01-14 17:53] #21555 closed

[2019-01-14 17:57] MicahMcKittrick-MSFT commented on #21958
@radhagpt I will close for now. if you have further questions let me know and we can always reopen and continue.

[2019-01-14 17:57] #21958 closed

[2019-01-14 17:57] bwren commented on #20496
I'm following up with engineering team.  This was a feature in preview and with alerts moving to Azure Monitor, this content might actually need to be retired. #in-progress

[2019-01-14 17:57] #22212 closed

[2019-01-14 18:07] Grace-MacJones-MSFT commented on #22358
Hi @Cookzenberg, thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-14 18:09] billmath commented on #17167
@cgill Good catch.  I have updated the doc and it should be live later today.  Thanks!

#please-close

[2019-01-14 18:10] Grace-MacJones-MSFT commented on #22368
Hi @joeruder , thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-14 18:11] MicahMcKittrick-MSFT commented on #22365
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-14 18:12] MicahMcKittrick-MSFT commented on #22388
Thanks for the question! We are investigating and will update you shortly.

[2019-01-14 18:12] kobulloc-MSFT commented on #22381
@SamirFarhat Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-01-14 18:12] billmath commented on #17587
@MarkusKnuhr Thank you for raising this issue.  Can you clarify what is incorrect.  From looking at the doc we are using set-ADSyncExchangeHybridPermissions.  Thanks!

[2019-01-14 18:14] Mike-Ubezzi-MSFT commented on #22379
@visu001a Thank you very much for your interest in Azure cloud services. I am investigating this and will update you when I have the right information to provide you.

[2019-01-14 18:14] prashanthmadi commented on #21797
@Mike-Ubezzi-MSFT  i knew the answer but thought we should have that info written in doc too.. :)

[2019-01-14 18:17] HeidiSteen commented on #22363
@VitorX @CHEEKATLAPRADEEP-MSFT   Thanks for reporting the bad link.   I've addressed this issue in PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/62941  Fix should be live this afternoon at the latest.  Here is the link to the new location if you don't want to wait:  https://automationnext.wordpress.com/2017/03/28/using-text-analytics-key-phrase-cognitive-services-api-from-powershell/

[2019-01-14 18:17] Bartolomeus-649 opened #22394 "No info on which projects in the solution to add the nuget package to"
I cn't find any info on which of the different project types in a Xamarin.Forms project that you should add the "Microsoft.Azure.Mobile.Client" nuget package to.

Also it seem like it is the same client package for android as well as for forms, is that correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b01cf43e-ec

[2019-01-14 18:18] francoislarouche opened #22395 "Even with IP restriction IIS of the App Service still respond to anyone, normal?"
I made some tests and even if we use IP restriction on the web app, if you know the public IP or the generated public domain name by Azure we can still have a valid telnet connection on a IIS server from anywhere. Is that normal?

I suspect some kind of proxy server make some response but is it something we wish? In security you would want to have anything blocked from outside to not even be acces

[2019-01-14 18:20] MikeRayMSFT commented on #6799
A little feedback from the PG - The reason why you cannot use the SSMS wizard to configure the listener is because the wizard cannot distinguish between the different requirements created in an Azure environment. Thanks.

[2019-01-14 18:21] vhorne commented on #21779
#please-close

[2019-01-14 18:23] brentdurst commented on #5850
Hi, does anyone have a level of effort for implementing this. Seems to be maybe about 20-40 hours of development work to set this up and test it.

[2019-01-14 18:23] jason-j-MSFT commented on #21821
@jamesbak could you take a look?

[2019-01-14 18:32] jason-j-MSFT commented on #21880
@ravikiran-srini create a thread in the forums for better support for your issue:
https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory

[2019-01-14 18:33] #21880 closed

[2019-01-14 18:41] szolla opened #22396 "NSG not created or applied"
I have successfully ran through this setup through powershell and when i look at the properties page for the managed domain, I see an option to configure DNS as mentioned in our article and to configure the NSG for the managed domain.  Is this something that can be added to the script?  The reference for settings is here: https://docs.microsoft.com/en-us/azure/active-directory-domain-services/acti

[2019-01-14 18:41] curtand commented on #21856
hi @Gassela
You will never see this role in the UI until you assign it to a user in Device settings under "Additional local administrators on Azure AD joined devices." Once you designate a device administrator in that UI and save it, you'll see Device Administrators in their directory roles on their user profile page.
https://aad.portal.azure.com/#blade/microsoft_aad_iam/devicesmenublade/deviceset

[2019-01-14 18:42] SaurabhSharma-MSFT commented on #22392
@xencon Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-14 18:44] SaurabhSharma-MSFT commented on #22386
@jeanluc33  Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-14 18:47] SaurabhSharma-MSFT commented on #22364
@pastperfect Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-14 18:50] #20887 closed

[2019-01-14 18:50] #6150 closed

[2019-01-14 18:52] Mike-Ubezzi-MSFT commented on #21797
@prashanthmadi Thank you. I have reopened this and will have the content owner evaluate and update as appropriate.

[2019-01-14 18:53] eternovsky commented on #20752
(Engineering team here)

@AdamGrossTX, great question - you'll want to select "OAuth2" for the login type once you upload the .PBIX file from your PBI Desktop to PBI Web. Once you do, it should prompt you for your credentials, including any 2FA you may have set up:
![image](https://user-images.githubusercontent.com/21266667/51133505-02e72680-17ea-11e9-90ff-3dbe1d79779f.png)

You shouldn't need to

[2019-01-14 18:54] jrinehart76 commented on #20496
@bwren  Is there a suggestion for a process/template/script to mass deploy/modify Azure Monitor Log Analytic based Alerts?

[2019-01-14 18:55] garfbradaz commented on #22306
Thanks @CHEEKATLAPRADEEP-MSFT

[2019-01-14 18:57] YutongTie-MSFT commented on #22115
@jhealy Hi Hoe, I have fixed it, you should see the change shortly. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-14 18:57] #22115 closed

[2019-01-14 19:00] Mike-Ubezzi-MSFT commented on #22332
@ankush8064 It would be advisable to stick with VIN as partition key as I am unsure if VIN + TelemetryDate will scale. I am going to bring this to the attention of the Product Group, as this is a special condition that I want to ensure gets the proper attention. Thank you so much for bringing this to our attention. In light of this, can you provide your contact information so the product group can

[2019-01-14 19:03] SaurabhSharma-MSFT commented on #22396
@szolla Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-14 19:05] DCtheGeek commented on #18888
@Obiwan72 The issue appears to be that 'category' is case-sensitive within the Portal UX. Please use all lower-case 'category' and validate that solves the issue for you of it not showing up in Portal UX.

[2019-01-14 19:06] johnthcall commented on #20887
@MicahMcKittrick-MSFT Was there any change to documentation? Why was this closed?

[2019-01-14 19:07] YutongTie-MSFT commented on #22198
@KevinXTian We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-14 19:07] #22198 closed

[2019-01-14 19:11] aljo-microsoft commented on #21983
@VipulM-MSFT for additional suggestions.

@washraf
Are you using remoting V2 stack by explicitly using V2 classes, or are you using assembly attribute?

I'd need more context, but the error provided seems to indicate its related to how you implemented: "ServiceRemotingDataContractSerializationProvider"

[2019-01-14 19:14] billmath commented on #17603
@wadejd Thanks for catching this.  I have created a work item and will updated this next month.  We can close this issue for now and I will re-open it once the update is live.  Thanks!

#please-close

[2019-01-14 19:15] YutongTie-MSFT commented on #22315
@ghogen Hi Gordon, do you have any idea about how to change the Azure Regions, I can not change it.

[2019-01-14 19:15] VipulM-MSFT commented on #21983
@washraf - can you provide the repro? Is it just following the steps in the documentation on some sample?

@suchiagicha - for investigation.

[2019-01-14 19:16] billmath commented on #17689
@cr-gstirling  Currently there are no plans for this but I will take this in to consideration for future releases.  Thank you

#please-close.

[2019-01-14 19:18] femsulu commented on #22393
@ivan-shaporov Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-14 19:31] jennabourgeois opened #22397 ""Scoring" is demonstrated under the "Deployment" graphic yet it is not described on this page."
The term Scoring is listed in the Data Science Lifecycle graphic, yet it does not appear on this page.  Can you clarify?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0cb72d6-c40a-b2e7-b7ce-c398a798836c
* Version Independent ID: f0c7b2d5-ebf8-7b23-f691-ec88caa060a4
* Content: [Deployment stage of the Team Data Scienc

[2019-01-14 19:31] kgremban commented on #22320
PR is approved and should be merged any time now.

[2019-01-14 19:32] billmath commented on #18180
@tariqjaber Thank you for this.  I have gone ahead and created a work item for it.  At this point we can go ahead and close this and I will update it once the documentation has been updated.  Thanks!

#please-close

[2019-01-14 19:32] Mike-Ubezzi-MSFT commented on #21565
@Anmolgan81 It looks like Managed Instance in the Federal space will be in Public Preview late summer or early Fall (late Q1/early Q2 CY2019). Additional information might become available as this ask is making rounds to all the important product groups. Thank you for yor persistence and continued patience.

[2019-01-14 19:33] billmath commented on #18268
@danmyhre Thank you for this. I have gone ahead and created a work item for it. At this point we can go ahead and close this and I will update it once the documentation has been updated. Thanks!

#please-close

[2019-01-14 19:34] billmath commented on #18581
@darkgray Thank you for this.  I am going to engage engineering and hopefully have an answer shortly.  Thanks!

[2019-01-14 19:35] femsulu commented on #22380
@Tkeyy Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-14 19:38] Norrch2 commented on #22317
@neeleshray,

is this an html template? Can you provide some additional reference?

[2019-01-14 19:39] MohitGargMSFT commented on #22192
@prs-ca Please note that the Managed Identity feature is currently not available for Azure Cosmos DB.
Please upvote this as a feedback @ https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/33896353-support-msi-managed-service-identity-direct-acce
This will further help to inform feature team to include it in their plans.

[2019-01-14 19:52] MashaMSFT commented on #22081
Hi @helderpinto , thanks again for bringing this to our attention! Registering with the SQL VM RP has a prerequisite of having the SQL IaaS extension installed on the VM. We had a bug in SQL VMRP allowing some VM types that did not qualify with this prerequisite to register with the SQL VM RP anyway and this caused the SQL Service to restart. We have recently made an update to correct this behavio

[2019-01-14 19:55] cijothomas commented on #21691
we can modify docs to say this:

TelemetryClient is recommended to be instantiated once and re-used throughout the life of an application. Below is an example using TelemetryClient correctly.

C#
[code]

[2019-01-14 19:58] kgremban commented on #21180
@prasannapad Have you had a chance to review the changes to the article?

[2019-01-14 20:03] MicahMcKittrick-MSFT commented on #22225
@wp1107 it should be the existing manifests. At which point we direct you to this doc:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-containers

Did you walk through that doc and are still seeing issues?

[2019-01-14 20:05] MicahMcKittrick-MSFT commented on #22365
@pregress thanks for this.

@TylerMSFT can you take a look at this one?

[2019-01-14 20:06] conceptdev commented on #22394
Hi @Bartolomeus-649, you add the azure client to the package/s where you are writing the consuming code. In general, for Xamarin.Forms, this would be the shared code project where you also write most of your UI and code.

You would only need to add it directly to the iOS or Android projects if you were writing platform-specific code that needed to interact with Azure.

You are correct - it is the

[2019-01-14 20:07] MicahMcKittrick-MSFT commented on #22388
@BharathRahulDS not sure I understand the issue.

SF is GA in all the India regions

![image](https://user-images.githubusercontent.com/32313503/51138020-e8ff1100-17f4-11e9-8e74-96155e6713d0.png)

Are you having issues deploying to West India? If so, what error do you see?

[2019-01-14 20:08] YutongTie-MSFT commented on #22206
@PanosPeriorellis Hi, for the product issue, do you have any idea who I should assign it to? Thank you.

[2019-01-14 20:10] jason-j-MSFT commented on #21898
@linda33wj could you take a look?

[2019-01-14 20:18] SaurabhSharma-MSFT commented on #22204
@bakerm00 I am able to assign the Reader role as per steps mentioned in the documentation.  Please find below the screenshot for the same.
![image](https://user-images.githubusercontent.com/38112130/51138590-59f2f880-17f6-11e9-84d0-e507c4b0519f.png)
Can you please make sure that you have Permissions to create users in Azure Active Directory.

[2019-01-14 20:21] adimoraret commented on #7816
That's a great catch @fizxmike. I wonder if the "rule" is that EnvironmentVariables should be defined right before closing CodePackage xml tag.

[2019-01-14 20:21] jrinehart76 opened #22398 "Log Analytics Template Examples"
"Resource template for Log analytics saved search and Log analytics alerts are available in Log Analytics section of documentation. To learn more, see, Adding Log Analytics saved searches and alerts; which includes illustrative samples as well as schema details."

This takes you to this page which is labeled (preview) and from the comments should actually be retired.
https://docs.microsoft.com/en-

[2019-01-14 20:21] bakerm00 commented on #22204
Try contributor

Mike Baker
Infrastructure Architect
Elsevier
+44(0)7747020245

________________________________
From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Monday, January 14, 2019 8:18 pm
To: MicrosoftDocs/azure-docs
Cc: Baker, Michael (ELS-OXF); Mention
Subject: Re: [MicrosoftDocs/azure-docs] Assign the Reader role to the user at the subscription scope. - update for b2b user (#222

[2019-01-14 20:23] OOPMichael opened #22399 "need instructions for updating VMSS with addiditional Data disks"
Above Documentation does not contain information for iterating through each Node of a VMSS and attaching data disks to the Node.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4dd4a5e2-c630-2702-ac7c-15004b541161
* Version Independent ID: f64d7493-0278-de95-a16e-c11369f74c55
* Content: [Attach a data disk to a Windows

[2019-01-14 20:28] Phydeauxman opened #22400 "Storage Resource ID for Azure Government"
I am assuming the Azure Government does not use the same storage resource ID for obtaining a token. Can you add the Azure Government Storage Resource ID to this document?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d02de0bf-09d7-a7fc-1b4a-213426e96b2d
* Version Independent ID: 36f6c8fe-6bc1-6643-4b66-2c38bcd2e5f0
*

[2019-01-14 20:34] SnehaGunda commented on #21909
@freakyfriday Thanks for pointing out, yes you are correct, the sort order is not supported in Azure Cosmos DB Table API. I updated the doc, we will make more changes to this doc in future to clarify the differences.

[2019-01-14 20:35] SnehaGunda commented on #21909
If you don't have further questions, we will close this issue.

#please-close

[2019-01-14 20:36] Anmolgan81 commented on #21565
Hi Mike, thanks for the information, we will.keep on reviewing this thread for additional information.

Regards
Anmol Ganju

________________________________
From: Mike Ubezzi <notifications@github.com>
Sent: Tuesday, January 15, 2019 1:03:07 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Any Compliance information around Azure Managed Instance? (#

[2019-01-14 20:36] rimman commented on #22332
@ankush8064 could you please connect with me at rimman AT Microsoft DOT com. We want to make sure you are successful on Cosmos DB from the get-go. Will help from the engineering side. Thanks!

[2019-01-14 20:38] TravisCragg-MSFT commented on #22362
@saifuddin123 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-14 20:41] TravisCragg-MSFT commented on #22395
@francoislarouche can you post a link to the doc you are referring to?

[2019-01-14 20:43] VanMSFT commented on #21245
Issue fixed.
#please-close

[2019-01-14 20:43] TravisCragg-MSFT commented on #22366
@omaralareefi can you post a link to the doc you are referring to?

[2019-01-14 20:43] francoislarouche commented on #22395
Sorry about that, not used to the new github way to do things. Before you could just comment the article.

Here you are:

[https://docs.microsoft.com/en-us/azure/app-service/app-service-ip-restrictions](url)

[2019-01-14 20:44] wmgries commented on #22390
@Adam-Smith-MSFT #please-close

[2019-01-14 20:45] #22390 closed

[2019-01-14 20:56] VanMSFT commented on #18454
Hi @chaholl, please let me know if you were able to get past your error. If you have any clarification regarding the doc that needs to be updated, I would be happy to help. For example, are you running into an issue with creating a new storage/container as part of this process, or use an existing one? If you are trying to use an existing one, did you check your permissions on that storage?

[2019-01-14 20:59] Adam-Smith-MSFT commented on #22327
@rccnw Would you be able to provide us with more details? Were you having issues in the setup process? If you would like to create custom domains without using CDN, I'd recommend checking the following documentation: https://docs.microsoft.com/en-us/azure/storage/blobs/storage-custom-domain-name

Let me know if this helps.

[2019-01-14 21:00] JoelHazelton opened #22401 "Update to include Cloud apps"
The list of support Microsoft Cloud Apps looks outdated. In addition to the list of 9 Microsoft Cloud Apps listed here, in the Intune portal I can see PowerApps, OneDrive, Cloud App Security, Planner, Delve, Sway, Office 365 Message Encryption Portal, and possibly more.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00

[2019-01-14 21:01] Adam-Smith-MSFT commented on #22019
@pburkholder We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-14 21:01] #22019 closed

[2019-01-14 21:03] mediawiz61 commented on #19645
I am trying to "experiment" with using Microsoft Azure "Batch Transcription" for creating text transcription of audio files. However, the documentation for Azure "Batch Transcription" is not great. There doesn't seem to be any one location that details ALL the steps needed to use Azure to do batch transcription.

From what I have read thus far, it seems that in order to use Microsoft Azure Batch T

[2019-01-14 21:03] TravisCragg-MSFT commented on #22378
@Anmolgan81 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-14 21:04] chaholl commented on #18454
Sorry @VanMSFT I can't remember the specifics of this one. I suspect it was security related because I managed to get it working in the end.

[2019-01-14 21:05] pcnate commented on #21779
this one works. might be a good idea to note on the docs that it was meant for a specific shell just to reduce confusion/issues

[2019-01-14 21:05] #21779 closed

[2019-01-14 21:11] kingboyk opened #22402 "The documentation and repo focusses on JSON yet the templates create YAML"
The examples are JSON focused, yet the Visual Studio templates for Mesh create YAML files. (Personally I would prefer JSON as it is near ubiquitous nowadays).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5669958a-990e-f0c3-36e3-d2d5bd3962cd
* Version Independent ID: 8bac9d78-3a71-edae-e554-561aef59a7a4
* Content: [Co

[2019-01-14 21:21] diberry commented on #22080
@lesterw1 Thank you for submitting this question. Is this about the text in the [tenant section](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-how-to-collaborate#azure-active-directory-tenant-user)?

[2019-01-14 21:23] SaurabhSharma-MSFT commented on #22204
@bakerm00 Contributor also works -
![image](https://user-images.githubusercontent.com/38112130/51141708-e2759700-17fe-11e9-80af-b4b1460dd40b.png).
What is the error you are getting ?

[2019-01-14 21:30] dillonredding opened #22404 "Product Subscription Delegation Documentation Clarification"
The listed query parameters do not list the subscriptionId in the case of unsubscribe. However, I was able to verify that subscriptionId is indeed passed on unsubscribe (and probably renew; didn't verify). I (and likely others) would appreciate clarifying this in the documentation as its absence implies a significant gap in design.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2019-01-14 21:34] hrasheed-msft commented on #18523
@AshokPeddakotla-MSFT please close this issue. We have referred the users to Azure Support for resolution of this issue.

[2019-01-14 21:34] TravisCragg-MSFT commented on #22376
@tkumark Yes, this is available for Standard CDN offerings. You can do multiple origin scenarios on Premium and Standard, but the method to configure is different. Premium also has more control over multiple origin scenarios.