[2018-10-03 10:11] vabed commented on #15735
@Alberto-Vega-MSFT Is this functionality planned to be implemented in future?

[2018-10-03 10:16] gdprtcl opened #16090 "Free Trial to EA Subscription upgrade."
How can a user upgrade from a Free Trial subscription to an EA subscription?

[2018-10-03 10:35] YvonneArnoldus opened #16091 "Steps do not work"
I followed the steps displayed here but my persistent volume claim is not binding. I'm using kubernetes 1.10.5

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57e48b4-dc33-0b9d-b773-42ce7d2bffd0
* Version Independent ID: e912ac2d-cf6a-0b54-4697-1940b1270874
* Content: [Use Azure File with AKS](https://docs.microsoft.co

[2018-10-03 10:42] rgf-sylvain commented on #15782
Ok let me give more details about how I found this hidden parameter.

When requesting the following:
`GET /common/oauth2/v2.0/authorize?response_type=id_token+token&response_mode=fragment&client_id=...&redirect_uri=...&scope=openid+profile+User.Read&state=...&nonce=...&prompt=none&domain_hint=organizations&login_hint=...`
In any other environment than Windows 10 and Google Chrome (Firefox or Windo

[2018-10-03 11:01] henriksen opened #16093 "Unclear if the outgoing addresses are per plan or per web app."
If I drop and recreate an App Service web on an existing App Service plan (without touching or resizing the plan), is there a possibility that the outgoing IP-addresses will change? Or are they stuck to the plan and not the app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ce77cde-5dc1-65c5-6c56-3fa425966a3b
* Versi

[2018-10-03 11:16] tfitzmac commented on #16063
@mganeshphani - thanks for your feedback. The remarks section of that function contains some information about possible errors, but I am adding more to it about the length parameter.

[2018-10-03 11:31] MatthewSteeples commented on #13077
@elephanteddie It sounds more like you need Notification Hubs rather than SignalR - https://azure.microsoft.com/en-gb/services/notification-hubs/

[2018-10-03 11:40] #16063 closed

[2018-10-03 11:42] andrewatfornax opened #16094 "Broken Link"
In the section with heading "Issue 2: Site Recovery configuration failed (151072)", there is a bullet point with the following content:

If you're using NSG rules to control outbound network connectivity on the VM, ensure that the prerequisite datacenter IP ranges are whitelisted. For information, see network security group guidance.

The final three words are a link - but clicking them does not d

[2018-10-03 11:53] rquintino opened #16095 "How to configure multiple python gunicorn workers? Not working"
I'm using a premium P3 v2 large web app with 4 cores(single node).  With a forced delay on the flask request I can confirm that the requests are being serialized and not processed in parallel.

This happens even after doing the following:
-created a  startup.txt with:
         gunicorn --workers=4 application:app
-commit/pushed new startup.txt to web app git
-added startup.txt as startup file in w

[2018-10-03 11:55] MaisaMilena commented on #16094
Is this the correct link about [network security group guidance](https://docs.microsoft.com/en-us/azure/security/azure-security-network-security-best-practices)?

[2018-10-03 11:57] elamathiJv commented on #15726
@DCtheGeek 👍  Thanks  for the quick response and clarification . Sure will be creating a feedback for this requirement.

[2018-10-03 11:58] tfitzmac commented on #15341
@SychevIgor - thanks for the suggestion. I have added that information to the article.

[2018-10-03 12:04] #15341 closed

[2018-10-03 12:05] tfitzmac commented on #6167
@rthorn17 - can this issue be closed? The overview seems to indicate that EA subscriptions work.

[2018-10-03 12:07] YvonneArnoldus commented on #16091
Never mind i found it storage account was in the wrong resource group

[2018-10-03 12:11] depeter opened #16096 "Problem installing rails"
I've had problems installing rails.
sudo gem install rails --no-rdoc --no-ri -V
Eventually found the solution.

Troubleshooting Ubuntu / Debian Installation

If you have issues, first make sure you have all the tooling necessary to compile C extensions:

sudo apt-get install build-essential patch
It’s possible that you don’t have important development header files installed on your system. (This h

[2018-10-03 12:48] tfitzmac commented on #15399
@singhkays or @cynthn - can you confirm whether a VM with a certificate stored in a Key Vault can be moved to a new subscription? We have a note saying it cannot be moved. If the Key Vault is moved with the VM to the new subscription, does that work?

[2018-10-03 12:48] Nanditab opened #16097 "Azure cli to update application security group"
Hi,

Followed this example to add application security group to vm scale set. Received error
msrest.exceptions.DeserializationError: Cannot deserialize as [SubResource] an object of type &lt;class 'dict'&gt;

az vmss update --resource-group=quote-api-dev-westeurope-couchbase --name quote-api-dev-westeurope-couchbase-datanode  --set virtualMachineProfile.networkProfile.networkInterfaceConfiguration

[2018-10-03 13:06] MiladOrderDynamics opened #16098 "Full screen control"
Is there a control available to make the map full screen?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc0b01eb-a3f8-a25f-fbee-730c2530e499
* Version Independent ID: a2028f79-2d4c-2d1b-ab14-1e60c856d83c
* Content: [Add map controls in Azure Maps](https://docs.microsoft.com/en-us/azure/azure-maps/map-add-controls)
* C

[2018-10-03 13:25] gahan opened #16100 "Detailed Output"
Regarding SDK 1.0.0, I was previously requesting detailed output for speech recognition on a file by calling this method: .CreateSpeechRecognizerWithFileInput(sFilePath, "en-US", OutputFormat.Detailed) but the new SpeechRecognizer method does not have these parameters.  Where can I now request detailed output?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2018-10-03 13:42] MedAnd opened #16101 "Dataset properties section is missing links"
Missing list of Office 365 datasets available for extraction
Missing list of columns that can be used for predicate filtering for each table and the filter expression format

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fec9b8b8-5003-1234-48f9-a257b82865b7
* Version Independent ID: 5fa3334a-4a32-e318-faea-83ebdb840fc3

[2018-10-03 14:15] sameerdhoot opened #16104 "Passing Credentials for Enable-AzureADSSOForest"
In step 4.1, there is a possibility to re-use the previously obtained credentials (Step 3.1). The command could be

Enable-AzureADSSOForest -OnPremCredentials $creds

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7549d4d-3939-8768-c81d-392861261d1f
* Version Independent ID: 23219c24-c721-1e59-0fb6-9e360fbe8dad
* Conte

[2018-10-03 14:22] chetanku commented on #16001
@MicahMcKittrick-MSFT initially I am looking at blocking any traffic reaching/going out to the cluster. is it possible?

[2018-10-03 14:51] rquintino commented on #16095
ok, found the problem, was not forcing proper bind and was using 127.0.0.1

this fixed it, and now I see requests happening in parallel! :)
(would be interesting to see this scenario explored in docs, with some best practices/advices)

gunicorn -b 0.0.0.0:8000 -w 1 -k gthread --thread=2 application:app

or

gunicorn -w 4 -b 0.0.0.0:8000 application:app

thx

[2018-10-03 14:54] KumudD commented on #13983
@TravisCragg-MSFT  Please assign this to @mdgattuso. Thanks!

[2018-10-03 14:55] zzulueta opened #16111 "Futures.addCallback deprecated"
if this is already deprecated, why does the azure portal still give out code that is already deprecated? also, what should we do to replace the deprecated code?

Futures.addCallback(future, new FutureCallback&lt;ServiceFilterResponse&gt;() {
                @Override
                public void onFailure(Throwable e) {
                    resultFuture.setException(e);
                }

[2018-10-03 15:00] ttelfer opened #16112 "No mention of using Azure Container Registry for images"
It would be helpful if there was an example showing how to pull containers from a private Azure Container Registry.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56ffefbe-77db-da49-0766-8bf4baec4b07
* Version Independent ID: 98839976-5753-ce2e-0cb6-580024b78167
* Content: [Quickstart - Azure Docker CE cluster for Linu

[2018-10-03 15:15] sergaz-msft commented on #16082
Thanks for your feedback @nithinkd-geon .
Please note that the built-in endpoint is an EventHub and not a Service Bus Queue or Topic. See [this doc](https://docs.microsoft.com/en-us/azure/event-grid/compare-messaging-services?toc=%2Fen-us%2Fazure%2Fservice-bus-messaging%2FTOC.json&bc=%2Fen-us%2Fazure%2Fbread%2Ftoc.json) on how to choose between Azure services that deliver messages.

To use Service

[2018-10-03 15:29] andyce1010 commented on #13287
Yes, thanks for the clarification.

[2018-10-03 15:33] brianstringfellow commented on #15941
@MicahMcKittrick-MSFT The only way I can connect to deploy is by using PowerShell `Connect-serviceFabricCluster` as described at [link](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-connect-to-secure-cluster#connect-using-certificate-common-name) and then it deploys fine. With Visual Studio, I cannot connect to the cluster at all.

Using PowerShell is fine and I can work wit

[2018-10-03 15:37] HeidiSteen commented on #16054
@VickiFu   When you say Msft ML Server is not on-prem only, I think you are referring to running it on a VM.  That is certainly true, but to say it is a cloud offering would be misleading.  It is definitely not a cloud service on its own.  SQL Server is an on-prem server that also is available on a VM, but we make a clear distinction between "SQL Server" on-prem vs the cloud service, Azure SQL Dat

[2018-10-03 15:40] Karishma-Tiwari-MSFT commented on #16066
@waynemsft Thanks for your question. Can you please share the url, if there is a particular Azure doc you have been following?

[2018-10-03 15:42] Karishma-Tiwari-MSFT commented on #16090
@gdprtcl Thanks for your question. Can you please share the url, if there is a particular Azure doc you have been following?

[2018-10-03 15:42] cynthn commented on #12843
@SteveL-CXP it looks like this was updated. Closing the issue for now. Please re-open if you see anything else that needs to be changed.

#please-close

[2018-10-03 15:43] waynemsft commented on #16066
Hi @Karishma-Tiwari-MSFT ,

Sure. I came from this URL:

- https://docs.microsoft.com/en-us/azure/automation/automation-update-management#data-collection

[2018-10-03 15:44] sergaz-msft commented on #16098
@MiladOrderDynamics Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-03 15:45] Karishma-Tiwari-MSFT commented on #16051
Thanks for the question! We are currently investigating and will update you shortly.

[2018-10-03 15:46] Karishma-Tiwari-MSFT commented on #16052
Thanks for the question! We are currently investigating and will update you shortly.

[2018-10-03 15:47] Karishma-Tiwari-MSFT commented on #16057
Thanks for the question! We are currently investigating and will update you shortly.

[2018-10-03 15:50] AustinNeil commented on #15568
@georgewallace I'm experiencing that same problem. I'm a Project Admin on the Git project within Azure DevOps that I'm trying to connect into Azure Automation and I still get the authentication error mentioned above. Is there another place that these permissions need to be set?

[2018-10-03 15:50] iainfoulds commented on #12924
There are upcoming changes around cluster autoscaler which are due within the next 4 weeks or so, with doc updates aligned with that. There are known issues with the current implementation, and we apologize for any issues you've encountered here.

For now, #please-close with the understanding this doc is being updated to reflect the upcoming autoscaler experience.

[2018-10-03 15:51] iainfoulds commented on #12947
There are upcoming changes around cluster autoscaler which are due within the next 4 weeks or so, with doc updates aligned with that. There are known issues with the current implementation, and we apologize for any issues you've encountered here.

For now, #please-close with the understanding this doc is being updated to reflect the upcoming autoscaler experience.

CC: @sauryadas

[2018-10-03 15:51] padmick opened #16116 "restoring a database to a recovery point less than an hour ago"
I am attempting a Point-in-time restore of a standard database and wish to restore to a point less than a hour ago. The web UI doesn't allow for this it displays an an error "Choose a restore point between earliest restore point and latest backup time which is 6 minute before current time" although it doesn't define the latest time you can restore from. Can the documentation give a rough outline o

[2018-10-03 15:52] Karishma-Tiwari-MSFT commented on #16096
@depeter Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-03 15:53] iainfoulds commented on #13176
There are upcoming changes around cluster autoscaler which are due within the next 4 weeks or so, with doc updates aligned with that. There are known issues with the current implementation, and we apologize for any issues you've encountered here.

For now, #please-close with the understanding this doc is being updated to reflect the upcoming autoscaler experience.

CC: @sauryadas

[2018-10-03 15:53] CarlRabeler commented on #13287
#please-close

[2018-10-03 15:56] Karishma-Tiwari-MSFT commented on #16097
@Nanditab Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-03 15:57] padmick commented on #16116
![image](https://user-images.githubusercontent.com/4802881/46422738-de7ca800-c72c-11e8-9592-12bccb329066.png)
Current time 4:53 so a restore point from around an hour ago errors out

![image](https://user-images.githubusercontent.com/4802881/46422889-36b3aa00-c72d-11e8-81d8-e5ba4bf36231.png)

Just over an hour and the the UI accepts the time

[2018-10-03 15:59] Karishma-Tiwari-MSFT commented on #16067
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-03 16:03] Karishma-Tiwari-MSFT commented on #16062
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-03 16:03] Karishma-Tiwari-MSFT commented on #16061
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-03 16:05] Karishma-Tiwari-MSFT commented on #16071
Thanks for the question! We are currently investigating and will update you shortly.

[2018-10-03 16:06] #12584 closed

[2018-10-03 16:09] alexvy86 commented on #14142
This seems to be fixed now

[2018-10-03 16:12] Karishma-Tiwari-MSFT commented on #15885
@brijrajsingh Any update?

[2018-10-03 16:13] Karishma-Tiwari-MSFT commented on #15898
@KhaledJemni Any update? Can you please share the document url?

[2018-10-03 16:13] mike-christensen commented on #15792
Ok thanks for checking into this!  I doubt running clusters in Windows containers will ever be supported (and I don't think anyone is asking for it!) - What people _are_ asking for is the ability to install the SDK without requiring the runtime.  I don't believe there actually is a Windows Server Core issue.  Judging by the MSI install logs, the problem is the runtime doesn't exist thus the instal

[2018-10-03 16:14] Karishma-Tiwari-MSFT commented on #15980
@moasifk Any update? Did that help answer your question? Thanks

[2018-10-03 16:19] ai-danno opened #16117 "How is Queue delay determined?"
Even with Hybrid worker groups running against ...

- fast,
- lightly-loaded VM's,
- only one runbook in existence.

... the runbook queue time is both slow and unpredictable.

There are no details about how this section of the runbook processing is actually handled, and what conditions can contribute to faster or slower processing of the runbook queue.

---
#### Document Details

⚠ *Do not edit t

[2018-10-03 16:27] Mike-Ubezzi-MSFT commented on #16116
@padmick Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-03 16:28] Mike-Ubezzi-MSFT commented on #16089
@Sethu2488 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-10-03 16:28] dazinator commented on #6349
@MicahMcKittrick-MSFT when I tried `uksouth`, which is on the list of supported locations, it failed and looking at the trace it was complaining about the `dv2` vm size not being available in that region under a free subscription. Can you confirm this - is a free subscription not good enough for ACS and uksouth? Cheers

[2018-10-03 16:29] MicahMcKittrick-MSFT commented on #16112
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-03 16:30] TravisCragg-MSFT commented on #15812
@sahilpnckr123 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-03 16:30] MicahMcKittrick-MSFT commented on #16091
Thanks for the update @YvonneArnoldus

[2018-10-03 16:30] #16091 closed

[2018-10-03 16:31] MicahMcKittrick-MSFT commented on #16078
Thanks for the question! We are investigating and will update you shortly.

[2018-10-03 16:31] schakka opened #16118 "Getting a Different Response when running E1_HelloSequence function"
Hello Team,

After running the functions app both locally and on Azure Platform i am getting the following response when i post to the following url.

POST http://localhost:7071/orchestrators/E1_HelloSequence

Response : 75ce96e0-c729-11e8-a7d9-09a10db0856a

The response seems to be like the ID of the job.

However as per the documentation the response should be sending a status url "Location" alo

[2018-10-03 16:33] MicahMcKittrick-MSFT commented on #16083
Thanks for the question! We are investigating and will update you shortly.

[2018-10-03 16:43] #12924 closed

[2018-10-03 16:43] #12843 closed

[2018-10-03 16:44] #13176 closed

[2018-10-03 16:44] #12947 closed

[2018-10-03 16:52] MicahMcKittrick-MSFT commented on #6349
You have a core limit on a free subscription. I believe it is only 4 cores. So if you are trying to deploy more than you have allocated it will fail .

[2018-10-03 16:52] rothschild86 opened #16120 "Re: "Limit the number of Ajax calls that can be reported in every page view, or switch off Ajax reporting.""
I haven't seen a way to "disable AJAX reporting". It would be nice if there was a link to instructions.  I assume it refers to dependency tracking, but I haven't seen a way to turn that off either.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93d51fcb-63a2-c622-7df3-27703a171b3a
* Version Independent ID: 0e2ed122-08c

[2018-10-03 16:55] crshovrd41 commented on #15620
@rayne-wiselman - I decided to upgrade my servers to 2012 R2. Unfortunately, nothing worked. I recommend someone go back through and test this for Server 2008 SP2 as following the exact steps didn't work. It failed pushing the mobility service. Then, when I attempted to manually install it, it said I needed .NET 4.6.2, which is not supported on Server 2008 SP2.

[2018-10-03 16:55] #15620 closed

[2018-10-03 16:59] qJake commented on #15367
Hey @vhorne Do you think it would also be a good idea to include something on https://docs.microsoft.com/en-us/azure/dns/dns-operations-recordsets-portal under **Next steps** that says something like: "For more information about DNS Alias records, see the [Azure DNS Alias records overview](https://docs.microsoft.com/en-us/azure/dns/dns-alias)."

I just feel like people are going to land at that pa

[2018-10-03 17:00] tamram commented on #15378
@binoyjt - I've talked to the Azure Storage engineering team, and there's both a bug in the portal, and an error in the documentation.

The portal should not show ZRS for v1 accounts. I expect this will be fixed soon.

However, it is possible to create a v1 ZRS account either with PowerShell or CLI, or programmatically. I'll update the documentation today to reflect this.

Note that we encourage c

[2018-10-03 17:01] mike-urnun-msft commented on #15647
Hi @u983101 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-03 17:01] #15647 closed

[2018-10-03 17:04] JohnStraumann opened #16123 "Doesn't work?"
Hi: I followed all the steps and when I ran the App on my Mac in the IOS simulator, the Database does not update. I don't see any errors at all, nothing happens. Also, a great addition to this article would be an exploration of the XCode project produced, connection strings, CRUD statements, etc. John.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-10-03 17:05] Karishma-Tiwari-MSFT commented on #15898
@KhaledJemni Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.
@vladvino Can you please take a look and update the doc as needed. Thanks. :)

[2018-10-03 17:06] v-videba opened #16124 "Wrong link"
On the section
Set or check the password policies by using PowerShell
The module needed to follow the stepes is the following
https://docs.microsoft.com/en-us/powershell/module/msonline/set-msoluser?view=azureadps-1.0
And not the one on the document

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1765376-03c9-829a-9e42

[2018-10-03 17:07] Alberto-Vega-MSFT commented on #16037
We will now proceed to close this thread. If there are any questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-03 17:07] #16037 closed

[2018-10-03 17:08] Revocsid commented on #6349
I have a Bizspark sponsorship subscription, so I'm not in the free
subscription case.
Moreover, you said that notheurope is not supported, why I could deploy
exactly the same cluster few months ago and It's still works fine ??

[image: Capture d’écran 2018-10-03 à 19.03.33.png]

Le mer. 3 oct. 2018 à 18:52, Micah <notifications@github.com> a écrit :

--
[image: photo]
Matthieu Delmaire
Co Founde

[2018-10-03 17:08] sea-erkin opened #16125 "Conditional Access via API"
Does there exist a means by which one can set conditional access policies via API rather than the user interface?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffdaa549-8f3b-75e0-9d27-a1a10417d86b
* Version Independent ID: aff533db-3ac6-5f9a-0134-812f7d488670
* Content: [What is conditional access in Azure Active Dire

[2018-10-03 17:10] Revocsid commented on #6349
I have a Bizspark sponsorship subscription, so I'm not in the free subscription case.
Moreover, you said that notheurope is not supported, why I could deploy exactly the same cluster few months ago and It's still works fine ??

[2018-10-03 17:13] anthonychu commented on #15698
@romankiss Yes. Tracking the issue here: https://github.com/Azure/azure-functions-signalrservice-extension/issues/28

[2018-10-03 17:13] SaurabhSharma-MSFT commented on #15872
@danmyhre We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-03 17:13] #15872 closed

[2018-10-03 17:14] Grace-MacJones-MSFT commented on #16086
HI @jrmedd, Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-03 17:14] SaurabhSharma-MSFT commented on #16009
@ggianelli Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.
@curtand Can you please confirm and update the documentation if required

[2018-10-03 17:15] SaurabhSharma-MSFT commented on #16043
@thedrum808 Thanks for your feedback and glad to know that you are able to resolve it yourself

[2018-10-03 17:15] #16043 closed

[2018-10-03 17:17] shueybubbles opened #16126 "please provide an example of registering the authentication provider using config"
Not every application has a way to add the code to register the provider programmatically.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 692d8637-4033-767b-aa29-3859f301b7b8
* Version Independent ID: de143a26-3dd6-a513-6854-604e4f68c52f
* Content: [ActiveDirectoryInteractive connects to SQL](https://docs.microsoft.com

[2018-10-03 17:18] icontreras7 opened #16127 "Estimating throughput needs - Factors in the table"
Hi, on the first table from the "Estimating throughput needs" section is an example of RU's calculation. For the 1 KB	sample with 500 reads/s and 100 writes/s RUs are calculated with the following formula: (500 * 1) + (100 * 5) = 1,000 RU/s. Where did you get that 1 and 5 factor that are multiplying the 500 reads/s and 100 writes/s on the formula?

---
#### Document Details

⚠ *Do not edit this se

[2018-10-03 17:18] danmyhre commented on #15872
I just checked today and now the options are showing up.  Before I was only seeing this section

[cid:image001.png@01D45B13.254BAE10]

Good to close.

Thanks!

From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Wednesday, October 3, 2018 12:14 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Dan Myhre <dan.myhre@outlook.com>; Mention <mention@noreply.github.com>
Subject:

[2018-10-03 17:27] MicahMcKittrick-MSFT commented on #15960
@tfitzmac can you take a look at this? Seems you are listed as the author of the TOC

[2018-10-03 17:27] Grace-MacJones-MSFT commented on #16111
Hi @zzulueta, thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-03 17:28] MicahMcKittrick-MSFT commented on #16001
@iainfoulds, @mmacy do either of you know if we support completely isolating an AKS cluster?

[2018-10-03 17:30] abhiramani-iptiq commented on #15915
I tried removing and reenabling. not working
Here is error: time="2018-10-03T17:17:09Z" level=error msg="Pod watcher connection is closed unexpectedly" namespace= node=virtual-kubelet-virtual-kubelet-windows-eastus2 operatingSystem=Windows provider=azure

Can you make sure if this works without "http application routing" because we are not using this feature and we are using advanced networking.

[2018-10-03 17:32] bandersmsft commented on #8609
Fixed.
#please-close

[2018-10-03 17:33] bandersmsft commented on #14194
Updated with fresh screenshots.
#please-close

[2018-10-03 17:33] tjcdw opened #16128 "Not able to encrypt multiple existing data disks"
I have an existing VM with several data disks. Trying to encrypt those. The script ends fine with status OK, but when checking the portal, the disks are not encrypted. Data disks are in Read-Only caching mode.
When I use the script for a VM with one data disk (caching read/write) it works fine. What is going wrong?
Kind regards,
Thomas

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-10-03 17:36] Grace-MacJones-MSFT commented on #16123
Hi @JohnStraumann, thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-03 17:37] dazinator commented on #6349
@MicahMcKittrick-MSFT as per comment up above, use `swarm` or `swarmmode` as the argument instead of 'dockerce`..

[2018-10-03 17:38] MohitGargMSFT commented on #15886
@limjianan We will now proceed to close this thread. As requested, please post MSDN Thread URL here and we will ensure that your query is appropriately addressed in forum.

[2018-10-03 17:38] #15886 closed

[2018-10-03 17:39] MohitGargMSFT commented on #15889
@baaaron We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-10-03 17:39] #15889 closed

[2018-10-03 17:40] Revocsid commented on #6349
Swarmmode seems to be also an invalid argument.
Use swarm argument has not the same effect at all. There is a big difference between a swarm cluster and a swarm mode cluster.

[2018-10-03 17:40] MarileeTurscak-MSFT commented on #16084
@mchudinov
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-03 17:40] MohitGargMSFT commented on #15890
@rsrinivasanhome Sure, I will assign the issue to the content author to investigate and update as appropriate.

[2018-10-03 17:41] MohitGargMSFT commented on #15977
@pjt33 Please let us know if you have any further query in this regard else we will move ahead to close this issue. Thanks.

[2018-10-03 17:41] MicahMcKittrick-MSFT commented on #16078
Since you are creating a tunnel from your on premise machine to the cluster it is expected that it will timeout after a few minutes of inactivity. I am not aware of a way around this other than not leaving the connection idle for too long.

You could reach out to the [kubernetes community](https://kubernetes.io/community/) to see if anyone has a work around for this. However in most use cases you

[2018-10-03 17:41] #16078 closed

[2018-10-03 17:43] kobulloc-MSFT commented on #16120
@rothschild86 Under [Reduce your data rate](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-pricing#reduce-your-data-rate) there is a link to [Limit the number of Ajax calls that can be reported](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-javascript#detailed-configuration) which has instructions for using the following parameter:

`// Don't lo

[2018-10-03 17:45] MicahMcKittrick-MSFT commented on #16083
@nforss the only way to do this as of now is using that az deployment command you mentioned.

You can leave feedback for product improvements for this preview feature here: https://github.com/Azure/service-fabric-mesh-preview/issues

[2018-10-03 17:45] #16083 closed

[2018-10-03 17:46] baaaron commented on #15889
Sorry, took a while to reply - Steps to reproduce: Select get data from within pbi, search for AAD activity, install (will be installed as app), open the app and try to edit a report - not possible

[2018-10-03 17:46] MarileeTurscak-MSFT commented on #16084
@mchudinov Thanks for the feedback! I have made the pull request with your fix. With @davidmu1's approval I will merge the request.

[2018-10-03 17:46] #16084 closed

[2018-10-03 17:46] MicahMcKittrick-MSFT commented on #16112
@ttelfer we have a doc on integrating with ACR

https://docs.microsoft.com/en-us/azure/container-service/dcos-swarm/container-service-dcos-acr

Does that help?

[2018-10-03 17:50] SaurabhSharma-MSFT commented on #15938
@markolbert I am able to get to the google login page and login to the application.
![image](https://user-images.githubusercontent.com/38112130/46428800-c6d7fc00-c6f9-11e8-8f82-869408b02846.png)
However, I have to modify the "Authorized redirect URIs" while registering the application on Google to
https://login.microsoftonline.com/te/<<B2C Tenant Name>>.onmicrosoft.com/oauth2/authresp.  Please che

[2018-10-03 17:53] SaurabhSharma-MSFT commented on #16046
@jhueppauff Thanks for the feedback !  Can you please provide more specifics to be added to the documentation ? Also, I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-10-03 17:53] Alberto-Vega-MSFT commented on #16074
@jpchauhan Thanks for the feedback! We are currently investigating and will get back to you shortly.

[2018-10-03 17:54] jason-j-MSFT commented on #16073
@jpchauhan
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-03 17:56] ttelfer commented on #16112
In case anyone wants to connect a private docker registry the information can be used here after running:

export DOCKER_HOST=localhost:2374

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/container-registry/container-registry-authentication.md.

You can then run:

docker stack deploy azure-vote --compose-file azure-vote.yaml --with-registry-auth

[2018-10-03 17:57] SaurabhSharma-MSFT commented on #16079
@solomonaustin5 Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-03 17:57] SaurabhSharma-MSFT commented on #16080
@reikor0x Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-03 17:58] SaurabhSharma-MSFT commented on #16081
@reikor0x Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-03 17:59] priyamohanram commented on #15345
@Phydeauxman : Thanks for reporting the issue. The text should actually link to the [audit activities reference](https://docs.microsoft.com/azure/active-directory/reports-monitoring/reference-audit-activities). I've fixed this issue, and the documentation should be updated soon. Please let me know if you have any further questions.

#please-close

[2018-10-03 17:59] SaurabhSharma-MSFT commented on #16104
@sameerdhoot Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-03 18:00] SaurabhSharma-MSFT commented on #16124
@v-videba Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-03 18:00] SaurabhSharma-MSFT commented on #16125
@sea-erkin Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-03 18:01] laultman opened #16131 "Content Incorrect or Misleading"
"If you already use the Microsoft Authenticator app for two-step verification. Go to the Accounts screen of the app, select the drop-down arrow for your work or school account, and then select Enable phone sign-in."
In the Authenticator app there is NO drop-down arrow. Windows 10 Phone.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2018-10-03 18:01] SaurabhSharma-MSFT commented on #16128
@tjcdw Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-03 18:02] rothschild86 commented on #16120
A nice addition :) Thank you.

[2018-10-03 18:02] #16120 closed

[2018-10-03 18:03] priyamohanram commented on #11879
@skleer: I apologize for the delay. I've created a new [tutorial](https://docs.microsoft.com/azure/active-directory/reports-monitoring/tutorial-access-api-with-certificates) for accessing the API using certificates, including the steps to create a test certificate.

Please let me know if you have any further questions.

#please-close

[2018-10-03 18:04] SaurabhSharma-MSFT commented on #16131
@laultman Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-03 18:05] chojrak11 opened #16132 "The option to restore Cosmos DB from automated backup without support ticket"
We, the Azure users, paying Microsoft customers, request a feature that would allow to restore the automated backup of Cosmos DB database, which is created every 4 hours, without having to create a support request.

Cosmos DB is in production since 2010 (8 years already) and it still needs manual intervention to do the restore. It is ridiculous. And not working. Support is overwhelmed.

---
#### D

[2018-10-03 18:06] laultman opened #16133 "Instructions are not clear or incorrect"
The following instruction does not work. Still must enter the password before authentication authorization. Instructions are incorrect or not clear enough to properly setup the service. There is no option link to use the app.
---
To use phone sign-in to sign in to your personal account
Go to your personal Microsoft account sign-in page, and then instead of typing your password, select the Use the

[2018-10-03 18:14] grahamehorner commented on #15820
@mike-urnun-msft @helloguo I'm also interested to know/understand if/when the On-Premise installer is to be updated now that (in cloud) AzureFunctions v2 is GA and if these On-Premise will have feature parity (with regard to hybrid deployments)

[2018-10-03 18:21] grahamehorner commented on #12730
@BarnyardTech if this is the first time you are installing/configuring the AzureFunction installation the master database password is a NEW password of your liking; as @apwestgarth mentioned if you are moving the database then this is the previously configured master database password.

[2018-10-03 18:29] jjgriff93 opened #16134 "ASP.NET Core sample"
Still no asp.net core example of this, despite this being the current direction of active development. Can we please have one ASAP please

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8d9b842-de22-59e7-e36a-662e2060ae7a
* Version Independent ID: bda934c5-a268-721f-1a3e-1f73fc25c15f
* Content: [ASP.NET MVC tutorial fo

[2018-10-03 18:47] SaurabhSharma-MSFT commented on #15872
@danmyhre Great to hear that you are able to see it now.

[2018-10-03 19:00] Alberto-Vega-MSFT commented on #16101
@MedAnd Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-03 19:05] brianstringfellow commented on #15941
I found the solution for Visual Studio. I needed to add/update to the `PublishProfiles/Cloud.xml` file. I replaced `ServerCertThumbprint` with `ServerCommonName`, and then used the certificate CN for the new property and the existing `FindValue` property. Additionally, I changed the property for `FindType` to `FindBySubjectName`. I am now able to successfully connect and publish my application to

[2018-10-03 19:08] Grace-MacJones-MSFT commented on #16093
Hi @henriksen, thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-03 19:14] dorinmi opened #16135 "Email notifications settings"
Although the document states that the notifications are sent to Privileged Role Administrator and Security Administrator roles, it appears that they are sent only to Privileged Role Administrator roles. If that is the expected behaviour, please update the document to reflect that. Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-10-03 19:14] Karishma-Tiwari-MSFT commented on #16094
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-03 19:15] Karishma-Tiwari-MSFT commented on #16118
@schakka Thanks for your question. Can you please share the url, if there is a particular Azure doc you have been following?

[2018-10-03 19:17] #15378 closed

[2018-10-03 19:17] #15345 closed

[2018-10-03 19:17] #14194 closed

[2018-10-03 19:18] #11879 closed

[2018-10-03 19:18] #8609 closed

[2018-10-03 19:20] Alberto-Vega-MSFT commented on #16072
Thanks again for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-03 19:24] Ayanmullick opened #16136 "Additional rules for Standard Load Balancer"
What are the additional rules one needs to configure in a Standard Azure Load Balancer?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf739264-2ef9-c686-5614-f31ce24c5fb6
* Version Independent ID: 418363e4-0211-a941-b830-761421706f96
* Content: [Configure Load Balancer for SQL Server Always On](https://docs.microsoft.

[2018-10-03 19:27] MarkusVi commented on #16125
Hi @sea-erkin, the short answer is no.

#please-close

[2018-10-03 19:29] schakka commented on #16118
@Karishma-Tiwari-MSFT The document i am  talking about is here

https://docs.microsoft.com/en-us/azure/azure-functions/durable-functions-sequence#run-the-sample

See the section "The result is an HTTP 202 response, like this (trimmed for brevity):"

I have deployed the same durable functions to an Azure Functions app.
Post to this URL https://durable-functions-lfs.azurewebsites.net/orchestrators/E

[2018-10-03 19:32] keposet opened #16137 "SystemLabel Attribute not listed"
In Rules for devices, the intune portal shows SystemLabels as an attribute, the powershell AzureAD module allows for adding system labels. Yet there is no description in the doc for what a system label is, what type it should be, or an example for the attribute.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1

[2018-10-03 19:32] joselcaguilar commented on #15812
Hi @sahilpnckr123 how did you solve it? I have the same error and I'm sure that I have followed all steps provided in docs.microsoft.com

Thanks in advance,
J.

[2018-10-03 19:32] TravisCragg-MSFT commented on #9569
this script has been updated a few times, so I am going to close this one out. We are still working with #15976 and #15976 for small changes to this script.

[2018-10-03 19:32] #9569 closed

[2018-10-03 19:33] Mike-Ubezzi-MSFT commented on #16126
@shueybubbles Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-03 19:35] Mike-Ubezzi-MSFT commented on #16127
@icontreras7 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-03 19:36] TravisCragg-MSFT commented on #16067
@cregnier Thanks for the script! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-03 19:39] ChipClark opened #16138 "Unhandled exception: Microsoft.Azure.Relay.EndpointNotFoundException"
This was working on Friday, but not now.

I do not get the response you list when I open the console windows for either the listener or the sender app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56c88f3a-a529-ee07-76b2-1ccba116877b
* Version Independent ID: 262c56eb-0b0b-5ac8-f543-3feaa202b2bd
* Content: [Get start

[2018-10-03 19:41] aapuch opened #16139 "Remove --password as it prompts you , or have a note with both commands so people can easy cut & paste"
sudo subscription-manager register --auto-attach --username=XXX --password=XXX

sudo subscription-manager register --auto-attach --username=XXX

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48bab424-986d-9922-ec2d-942508081367
* Version Independent ID: 6e9b3ebd-0571-357e-0fde-ef434a728a24
* Content: [Create and upload

[2018-10-03 19:41] YutongTie-MSFT commented on #16085
@ArvidBaa Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-03 19:43] YutongTie-MSFT commented on #16100
@gahan Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@wolfma61 Hi, this is a document experience from the customer about requiring the details output. Can you please check it and update the document as necessary? Thanks a lot!

[2018-10-03 19:49] TravisCragg-MSFT commented on #16051
@rcarrara99 The Global Reach Add-On [enables the global reach feature](https://azure.microsoft.com/en-us/pricing/details/expressroute/) on each ExpressRoute Circuit.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-03 19:49] #16051 closed

[2018-10-03 19:49] Mike-Ubezzi-MSFT commented on #16132
@chojrak11 Thank you very much for your detailed feedback. There is already a standing product enhancement that matches this request. Please  Up Vote this as well as leave any additional comments or suggestions.

[[CosmosDB] Be able to manage Backup and Restore with Portal and APIs](https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/34332178--cosmosdb-be-able-to-manage-backup-and

[2018-10-03 19:53] Mike-Ubezzi-MSFT commented on #16134
@jjgriff93 Thank you very much for your detailed feedback. I have assigned this to the content author to evaluate and update as appropriate.
Just a note, there is [this tutorial](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/?view=aspnetcore-2.1) but it doesn't include Cosmos DB.
Regards,
Mike

[2018-10-03 19:53] MohitGargMSFT commented on #16133
@laultman Thanks for your feedback! We will investigate and update soon on it.

[2018-10-03 19:54] MohitGargMSFT commented on #16135
@dorinmi Thanks for your feedback! We will investigate and update soon on it.

[2018-10-03 19:55] TravisCragg-MSFT commented on #16052
@rcarrara99 Unfortunately no, the SLA for EXPRESSROUTE does not offer a guarantee on the speed, as the traffic will also travel through your service provider.

It is possible for [ExpressRoute to burst higher than the set limit](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-faqs#if-i-pay-for-an-expressroute-circuit-of-a-given-bandwidth-do-i-have-the-ability-to-burst-up-to-higher

[2018-10-03 19:56] Mike-Ubezzi-MSFT commented on #16023
I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-03 19:56] MohitGargMSFT commented on #16137
@keposet Thanks for your feedback! We will investigate and update soon on it.

[2018-10-03 20:00] MicahMcKittrick-MSFT commented on #16112
@ttelfer thanks for the update. Let me know if you have any additional questions.

[2018-10-03 20:00] #16112 closed

[2018-10-03 20:01] MicahMcKittrick-MSFT commented on #15941
Thanks for the update @brianstringfellow! Glad to hear you were able to get it sorted out :)
Let me know if you have any other issues :)

[2018-10-03 20:01] #15941 closed

[2018-10-03 20:04] ajlam commented on #16023
@timhiggs, thanks for the feedback. In this case, MySQL 5.6 and 5.7 are considered major versions. The minor versions are 5.6.x and 5.7.x.

As you can see in the screenshot below, the previous GA versions of MySQL are 5.5, 5.6, and 5.7.
![image](https://user-images.githubusercontent.com/11048726/46435992-a7969a00-c70c-11e8-8360-7c790420bcb3.png)
ref: https://dev.mysql.com/downloads/mysql/

The cur

[2018-10-03 20:06] Karishma-Tiwari-MSFT commented on #16118
@schakka Thanks for sharing the document. I have updated the issue with doc details.
We are currently investigating and will update you shortly.

[2018-10-03 20:07] MohitGargMSFT commented on #16057
@jackbond Request to check Azure CLI for local development by following the below steps mentioned [here](https://docs.microsoft.com/en-us/azure/key-vault/service-to-service-authentication#authenticating-with-azure-cli):

1. Install Azure CLI v2.0.12 or later. Upgrade earlier versions.

2. Use az login to sign in to Azure.

3. Use `az account get-access-token` to verify access. If you receive an er

[2018-10-03 20:07] rcarrara99 commented on #16051
Sorry, to be persistent but you’re answer is still vague. Do you have to purchase the add-on for each circuit, meaning I have to pay for it twice to interconnect two locations or do I only have to pay for it on one circuit and then I can connect to any second location?

Thanks,
Richard

From: TravisCragg-MSFT <notifications@github.com>
Reply-To: MicrosoftDocs/azure-docs <reply@reply.github.com>
Da

[2018-10-03 20:08] MohitGargMSFT commented on #16125
@sea-erkin We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion. Thanks.

[2018-10-03 20:08] #16125 closed

[2018-10-03 20:11] rcarrara99 commented on #16052
Hello,

Let me rephrase my question… Does MSFT oversubscribe capacity between two locations or is it dedicated. Please do not introduce my service provider. If I buy a 10G ER ckt from my service provider and MSFT and then do a Global Reach connection at 10G am I guaranteed 10G of capacity or is it shared and the potential exists that an event could occur in which MSFT can only deliver some sub-rat

[2018-10-03 20:14] TravisCragg-MSFT commented on #16051
@rcarrara99 no need to apologize, I am happy to clarify! The Global Reach Add-On is placed between 2 ExpressRoutes, allowing communications between different on-prem environments. When you enable the Global Reach Add On for 2 ExpressRoutes, you pay once, but both ExpressRoutes gain the ability to communicate.

You will choose 2 existing ExpressRoutes, and pay once for each to use the Global Reach

[2018-10-03 20:15] tfitzmac commented on #15960
It looks to me like this has been redirected to the new [Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architecture/) . @MikeWasson is there any reason to not just delete the old guidance folder?

[2018-10-03 20:16] Karishma-Tiwari-MSFT commented on #16097
@Nanditab Can you please elaborate on your ask? Did you figure out what the right command should be?

[2018-10-03 20:18] SnehaGunda commented on #13626
@benoitc sorry about the really long delay, we got busy with the Ignite content deliverables.

Can you please elaborate more on which vldb paper are you referring to? and which part of content in docs is it related to?

[2018-10-03 20:19] TravisCragg-MSFT commented on #16136
@Ayanmullick This document should online any needed rules, and they should be the same for a standard load balancer. If you need additional information, can you please clarify what you are trying to do?

[2018-10-03 20:19] rcarrara99 commented on #16051
Perfect! Thank you!

Richard Carrara
Principal Solutions Architect - CCIE #7288 / CISSP
EQUINIX | 1950 N Stemmons Fwy
Dallas, TX 75207
E rcarrara@equinix.com<mailto:rcarrara@equinix.com> | M +1 214 478 3027
[/Users/rcarrara/Library/Containers/com.microsoft.Outlook/Data/Library/Caches/Signatures/signature_1676157889]<http://www.equinix.com/>

A New Global Baseline for the Digital Economy
See the Eq

[2018-10-03 20:27] stansw opened #16140 "Broken links: Python->Blob, Python->Queue"
When I click on wither Blob or Queue under Python I get redirected to a site that no longer exists.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90a4bd03-9c86-4c9b-5834-c2966c2f3720
* Version Independent ID: a070cc29-15aa-c072-b90b-64c616ef51cc
* Content: [Authenticate access to Azure blobs and queues using Azure Act

[2018-10-03 20:29] badalk commented on #13533
Guys this is very much required for our automation work wherin we are deploying reference architecture for our data solutions for various teams. In the absence of automation, there are manual interventions to register the gateway and this is causing a lot of pain. This is one of such instance where automation is not thought from the beginning in the age of Infrastructure as Code. Is there a way to

[2018-10-03 20:30] AnilKongariMSFT commented on #15884
@arshadkazmi42, thank you working and providing the fix on this issue.

@dcbrown16, since the fix will be rolled/applied, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-03 20:30] #15884 closed

[2018-10-03 20:33] Yaming-Liu1978 commented on #6788
@Mike-Ubezzi-MSFT I hit the same issue and posted in https://github.com/Azure/azure-cosmosdb-dotnet/issues/471 . Can we re-open this issue and follow up on it? The issue shouldn't be hard to fix.

[2018-10-03 20:34] MohitGargMSFT commented on #16131
@laultman Please note that as stated [here](https://docs.microsoft.com/en-us/azure/active-directory/user-help/microsoft-authenticator-app-phone-signin-faq#to-turn-on-phone-sign-in-for-your-account), if you have key icon on your phone. You’ve already set up phone sign-in. In that case you will not see the drop down.

[2018-10-03 20:35] jeremytbrun opened #16141 "Update PowerShell code samples to use new AzureAD v2.0 module."
Currently the code samples are using the MSOnline v1.0 module which is deprecated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1765376-03c9-829a-9e42-e72cc8a0daea
* Version Independent ID: 684c7d7c-09f4-8170-6f7a-132b2d79e1df
* Content: [Azure AD Self-service password reset policies](https://docs.microsoft.com/en-u

[2018-10-03 20:49] MohitGargMSFT commented on #16133
@laultman I have assigned the issue to the content author to investigate and update as appropriate.

[2018-10-03 20:53] cilhao commented on #12768
You must go to the Log Classic section to do that!

[2018-10-03 20:56] cilhao opened #16143 "Refex Custom Log"
Is there a way to configure custom logs by regex? This is not working for me...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6d60419-c998-1b94-ea14-1af4f095867c
* Version Independent ID: 8dfdd853-13c3-ae83-f9a2-59864387987b
* Content: [Custom fields in Azure Log Analytics](https://docs.microsoft.com/en-us/azure/log-

[2018-10-03 20:57] douglaslMS commented on #15910
The warning is now live too:

Warning

If you select Complete deployment mode, existing resources may be deleted, including the target resource group.

[2018-10-03 20:57] douglaslMS commented on #15910
#please-close

[2018-10-03 20:58] cilhao commented on #16143
Sorry I mean Custom Fields with regex, not Custom Logs

[2018-10-03 20:59] aapuch commented on #16139
Note for grub if lvm for root one needs to append to the documentation as root= needs to be set ,

https://unix.stackexchange.com/questions/224980/grub-config-separate-root-and-boot-partitions

Also logout  does not work  one should use exit

[2018-10-03 21:01] Mike-Ubezzi-MSFT commented on #6788
@Yaming-Liu1978 Can you open a new GitHub Issue from this document: https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator
That way we have a new instance with only a single issue to be solved with root cause detailed. Thank you.

[2018-10-03 21:02] MohitGargMSFT commented on #16135
@dorinmi Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-10-03 21:02] SnehaGunda commented on #14963
@jkonecki got you! I was looking at the previous section. yes I see the bug, the code block should instead be feedProcessorOptions.StartFromBeginning = true; In future, if you see any issues, feel free to click on the edit button on the page and submit your change, We would love to take community contributions !

I fixed it the following PR. We will now proceed with closing the issue.

[2018-10-03 21:03] SnehaGunda commented on #14963
#please-close

[2018-10-03 21:04] dorinmi commented on #16135
Awesome, thank you!

Sent from Outlook on mobile

________________________________
From: Mohit Garg <notifications@github.com>
Sent: Wednesday, October 3, 2018 3:03:44 PM
To: MicrosoftDocs/azure-docs
Cc: dorinmi; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Email notifications settings (#16135)

@dorinmi<https://github.com/dorinmi> Thanks for reporting! I have assigned the issue to the content

[2018-10-03 21:05] danjenglish commented on #15910
Yes, I saw the warning. Not sure if it is complete enough though. It definitely will delete everything in the resource group that is not defined in the ARM template. That was unclear to us, we thought we were simply replacing our data factory, not wiping out other services like SQL DB, AAS, Event Hubs, App Services, etc. That was very painful:'(

[2018-10-03 21:09] MohitGargMSFT commented on #16137
@keposet Thanks for reaching out! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-10-03 21:10] douglaslMS commented on #15910
@danjenglish OK, good to know, let me see how I can work that in. The answers I get internally from Microsoft Support tend to be bits and pieces, depending on the specific incidents they've had, and often I have trouble putting the pieces together into a coherent picture of the higher-level issue. :-)

Does it seem consistent with your observations that the RG itself could ever get deleted?

[2018-10-03 21:23] davojta opened #16144 "Failed to update the static web site from local folder using azure cli"
1) i've create static web app in azure
2) it is correctly deployed and i can open it in browser
3) i have tried to update / redeploy with some changes
4) i've see the following in console

[code]

Result: the static app is not updated
Expected behaviour: the static app should be updated regarding the docs

[2018-10-03 21:23] JasonFreeberg opened #16145 "azurecli-interactive is broken in Java developer guide"
In the section, "Connecting Data Sources", within the "Tomcat" section of the Java developer guide was some typo/error that caused the interactive cli to break. The command is confusing to readers. A coworker flagged this when he was trying to follow the instructions.

Published content: https://docs.microsoft.com/en-us/azure/app-service/containers/app-service-linux-java
Content location in repo:

[2018-10-03 21:24] davojta opened #16146 "Failed to update the static web site from local folder using azure cli"
1) i've create static web app in azure
2) it is correctly deployed and i can open it in browser
3) i have tried to update / redeploy with some changes
4) i've see the following in console

[code]

Result: the static app is not updated
Expected behaviour: the static app should be updated regarding the docs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2018-10-03 21:26] cconrado opened #16147 "Error on Sample payload"
I got an error when putting the sample payload into logic apps. Seems like theres an extra column.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d191c7d-1448-447e-244f-2a3a775af259
* Version Independent ID: 18561191-8769-7788-37f2-b2f666f627b3
* Content: [Supported resources for metric alerts in Azure Monitor](https:

[2018-10-03 21:27] KumudD commented on #9019
Updated step 6. Thanks!
#please-close

[2018-10-03 21:29] KumudD commented on #14338
Updated https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-routing-methods#a-name--geographicageographic-traffic-routing-method to remove UK from the geographic locations list.
#please-close

[2018-10-03 21:35] szarkos commented on #16139
@aapuch thank you for the feedback. I may not get to updating the doc this week. Would you be interested in submitting a PR?

[2018-10-03 21:36] mestew commented on #16128
@tjcdw
Hi Thomas.
Thanks for reaching out to the Azure Security Documentation team. Read-only caching for data disks on Windows should work fine with Azure Disk Encryption.

Unfortunately, the documentation team doesn’t have the resources to offer individual technical advice to the broad array of customers who use the Azure Disk Encryption documentation. You may have success posting your question

[2018-10-03 21:38] brendonjwong opened #16148 "Some API Management Metrics are not Documented"
Hello,

Using the Azure Monitor REST API to find the metric definitions for an API Management service, I found that there are metrics available that are not documented in [Microsoft.apiManagement/service](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/monitoring-and-diagnostics/monitoring-supported-metrics.md#microsoftapimanagementservice).

The missing metrics are the following:

[2018-10-03 21:40] szarkos commented on #12407
@axelgMS did the above comment help?  Do we need to do anything else or can we close this issue?  Thanks!

[2018-10-03 21:41] pjt33 commented on #15977
I don't have a *further* query, but my *original* query has not been addressed in any way.

[2018-10-03 21:44] SaurabhSharma-MSFT commented on #16128
@tjcdw We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-03 21:44] #16128 closed

[2018-10-03 21:46] markolbert commented on #15938
Besides the fact that doing so directly contradicts the documentation -- the microsoftonline.com service is deprecated -- configuring my Google credentials that way also causes a redirect_uri error when I click the "Google" button on the social media signup/signin page.

I also suspect this workaround, if it worked, would be inconsistent with how I've configured the Microsoft Account identity prov

[2018-10-03 21:53] vinitkhera opened #16150 "How is the "sub" claim value derived?"
How is the "sub" claim value derived?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2906fe9e-319d-3625-441d-d28c9251b450
* Version Independent ID: 168fde63-9b86-41a9-f1cc-7b5a0e2e5d7a
* Content: [Learn about the different token and claim types supported by Azure AD](https://docs.microsoft.com/en-us/azure/active-direct

[2018-10-03 21:55] mike-urnun-msft commented on #16058
@marstr @aakash2602 Thank you both for reporting and driving improvements together to MS Docs! It looks like the PR has been accepted and is due to be merged.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-03 21:55] #16058 closed

[2018-10-03 21:55] TravisCragg-MSFT commented on #14338
@jtuliani We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-03 21:55] #14338 closed

[2018-10-03 21:58] #16049 closed

[2018-10-03 21:58] SnehaGunda commented on #14796
@Sajlib sorry about the delay, we were little busy with the Ignite deliverables.

Just got to this issue, probably you have already resolved it. I just tested the query `SELECT f["id"] FROM Family f` in the portal and it works fine. I used the following sample data: Same query should work when you use it with SDK as well. Let us know if you are still blocked.

sample data:
{
        "id": "Anderse

[2018-10-03 22:00] vinitkhera commented on #16150
Is it derived based on AD attribute objectGUID or something else? If not where is the value persisted for this in ADFS

[2018-10-03 22:02] mike-urnun-msft commented on #15995
@pnda489 Thank you for sharing this solution. I didn't see Functions specific sample on this doc. Could you let us know which documentation this solution may be applicable for?

[2018-10-03 22:05] ecfan commented on #15796
Hi @a-zolotukhin, we've updated this article with a different alias link and mapped the link to the latest installer, which I tried installing and finished without error: [https://aka.ms/on-premises-data-gateway-installer](https://aka.ms/on-premises-data-gateway-installer)

![image](https://user-images.githubusercontent.com/13206671/46442157-89856580-c71d-11e8-9b82-769326fdcf41.png)

Please try th

[2018-10-03 22:06] mike-urnun-msft commented on #15733
@adamavenant Were you referring to following statement?

If so, Kudu console can be accessed via `{yoursite}.scm.azurewebsites.net` and you can learn more about it here: [Kudu console](https://github.com/projectkudu/kudu/wiki/Kudu-console)

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-03 22:06] #15733 closed

[2018-10-03 22:06] MicahMcKittrick-MSFT commented on #16001
@chetanku just FYI, I am working offline to find the answer for you. I will update you once I have more information.

[2018-10-03 22:09] mike-urnun-msft commented on #15652
Hi @nblx2k4 Could you provide us with the URL of the documentation that you following?

[2018-10-03 22:14] MohitGargMSFT commented on #16141
@jeremytbrun Agreed. Thanks for submitting the pull request.

@MicrosoftGuyJFlo Please review and approve the pull request. Thanks.

[2018-10-03 22:16] CelesteDG commented on #16150
Hello @vinitkhera - Thank you for your question. The `sub` claim is the is the hash of client ID + anchor claim value. To learn more, see this topic: https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/overview/ad-fs-faq#developer

Thank you.

[2018-10-03 22:17] SnehaGunda commented on #16127
@icontreras7 I have an email out to our team asking for more details, will respond back once I have them and clarify it in docs.

[2018-10-03 22:28] Karishma-Tiwari-MSFT commented on #15885
@brijrajsingh We will now close this issue. Whenever you are ready, please come back and reopen it and we will gladly continue the discussion.

[2018-10-03 22:29] SaurabhSharma-MSFT commented on #16013
@virajpangam The link you have provided is of GitHub sample.  Do you have any documentation link which you are referring to? Also, have you looked into [Certificate authentication into Azure Key Vault](https://blogs.msdn.microsoft.com/adrianpadilla/2016/03/31/certificate-authentication-into-azure-key-vault/) to access the vault using the certificate.

[2018-10-03 22:33] laultman commented on #16131
I spent considerable time reading this page and others before giving feedback. I have not seen such icon as shown on my Windows 10 phone. Therefore the document is still incomplete or confusing or just plain WRONG. I am unable to sign in with my Microsoft account without a password. It wants to authorize AFTER the password.

Sent from my Windows 10 device

________________________________
From: Mo

[2018-10-03 22:34] MikeWasson commented on #15960
@tfitzmac  Those articles were all migrated to the Azure Architecture Center. I don't know if redirects were created. I guess that TOC doesn't appear anywhere?

[2018-10-03 22:34] yangsiyu007 opened #16152 "Link to API documentation"
Can we please add a link to the actual API documentation at https://azure-storage.readthedocs.io/ref/azure.storage.file.fileservice.html, so that people can read about other options and parameter settings there? For example, the "Create a directory" example doesn't explain how exactly to create multiple layers of sub directories.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2018-10-03 22:35] mike-urnun-msft commented on #15879
Hi @laultman Thank you for your feedback! We have reviewed this feedback and assigned this issue to the author to investigate further and take the right course of action.

[2018-10-03 22:37] Karishma-Tiwari-MSFT commented on #16140
@stansw Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-03 22:37] mike-urnun-msft commented on #15881
Hi @laultman Thank you for your feedback! We have review this feedback and assigned this issue to the author to investigate further and take the right course of action.

[2018-10-03 22:42] Karishma-Tiwari-MSFT commented on #16144
@davojta We will close this issue as it is a duplicate. Our team will help you with your question on #16146

[2018-10-03 22:42] #16144 closed

[2018-10-03 22:46] anilmur opened #16153 "More notes on the v2 vs. V3 comparison"
Media Reserved Units can only be changed programmatically in RESTv2 right now.  We plan to migrate away from this concept in the v3 APIs due to customer feedback but the underlying feature work is still in progress.

In general, things created in the v2 API show up in the v3 API.  The exceptions to this are:

Jobs and Tasks created in v2 do not show up in v3 as they are not associated with a Trans

[2018-10-03 22:47] romankiss commented on #15698
Thanks Anthony

[2018-10-03 22:48] valnav opened #16154 "Are these all the transformation methods supported?"
I am unable to tell what all the transformation methods are. And how do you supply custom methods.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9161f948-7c8c-0a57-19ad-1ae731fd65c8
* Version Independent ID: 77b6ea7f-e2fe-a7b2-60fa-80b198413ee8
* Content: [General claims transformation examples for the Identity Experi

[2018-10-03 22:49] anilmur opened #16155 "Azure Portal"
Add a Note way up on the page:

Note: the Azure Portal still uses RESTv2, and therefore it will either not display entities created via v3 APIs (eg. Transforms), or will show an incomplete result (eg. Assets). Please do not use the Azure Portal to view or manage entities created via the v3 APIs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-10-03 22:50] HeidiSteen commented on #16054
@VickiFu regarding HDInsight, someone in the engineering team will decide whether to include it on this page.

[2018-10-03 22:51] libbro2006 commented on #16131
This is covered in the last question of the FAQ:

Can I use phone sign-in with my Windows Phone? | No. This feature isn’t supported by the Microsoft Authenticator app on Windows Phone.

[2018-10-03 22:52] SaurabhSharma-MSFT commented on #16036
@brentblawat Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-10-03 22:54] singhkays commented on #15399
@Anmolgan81 Can you share your sub-id and timeframe this happened so we can take a look at the logs? Also was your VM using Managed Disks or Unmanaged

[2018-10-03 22:58] TravisCragg-MSFT commented on #15803
@rifaterdemsahin We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-03 22:58] #15803 closed

[2018-10-03 22:59] TravisCragg-MSFT commented on #15947
@rcarrara99 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-03 22:59] #15947 closed

[2018-10-03 22:59] Karishma-Tiwari-MSFT commented on #16145
@JasonFreeberg Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-03 23:00] SnehaGunda commented on #15603
@jkonecki the 2.0.0 version of the emulator didn't had any breaking changes. In addition to updating emulator services for parity with Cosmos DB cloud services, we've fixed some bugs. Actually, we are planning to get rid of the change list section in the doc as it's doesn't add much help. In case there are any breaking changes we will add a note to the doc.

[2018-10-03 23:00] SaurabhSharma-MSFT commented on #16124
@v-videba Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-10-03 23:04] SnehaGunda commented on #15603
Above PR deletes the release notes. We will now proceed to close this issue.

#please-close

[2018-10-03 23:05] SnehaGunda commented on #16132
@chojrak11 as Mike mentioned, we are tracking this feature request, please vote it so that we can prioritize accordingly.

#please-close

[2018-10-03 23:08] MohitGargMSFT commented on #16154
@valnav Thanks for your feedback! We will investigate and update soon on it.

[2018-10-03 23:09] SnehaGunda commented on #15018
@carmeleve I had a chat with David about this issue today, we don't have any known issues with hosted VS2017 build agent. Because it's a connectivity issue and not a doc issue, we need to debug it further and take a look at your environment. Can you please send an email to askcosmosdb@microsoft.com alias, it creates a support request and someone from our team will get on a call with you. We will c

[2018-10-03 23:09] SnehaGunda commented on #15018
#please-close

[2018-10-03 23:15] SnehaGunda commented on #13930
@dev151 sorry about the delay on this, I had a chat with David about this issue today, we don't have any known issues with hosted GridFS.

Did you try testing the same code against Azure Cosmos DB MongoDB API? it may not be a limitation with the emulator if it doesn't work in cloud too. We need to debug it further and take a look at your environment. Can you please send an email to askcosmosdb@mic

[2018-10-03 23:15] jackbond commented on #16057
@MohitGargMSFT I was able to get an access token. I'll further clarify that everything works when our code is running via a unit test within Visual Studio. I think the root cause of the problem I am having is that Service Fabric applications, when deployed to a local development cluster, run under different credentials.

[2018-10-03 23:15] SnehaGunda commented on #13930
#please-close

[2018-10-03 23:18] dcbrown16 commented on #15884
@AnilKongariMSFT @arshadkazmi42
The link does not appear to work yet, are we still waiting for an update?
Also, in a previous interaction on these docs I was told to link in the following, form, not the full URL as indicated in Arshad's PR.
app-service-deployment-credentials.md

Please take another look, thanks!

[2018-10-03 23:30] CelesteDG commented on #12507
@nheinbaugh - Thanks for your patience. I've just submitted a PR to change the .NET Reference link to this: https://docs.microsoft.com/en-us/dotnet/api/microsoft.identitymodel.clients.activedirectory?view=azure-dotnet

CC @hpsin

[2018-10-03 23:30] CelesteDG commented on #12507
#in-progress

[2018-10-03 23:37] brlewi commented on #7368
Test `test`

1.test

-test

[2018-10-03 23:41] guibirow commented on #15260
@charleszipp please take a look at this SO answer to understand the 10k value:

https://stackoverflow.com/questions/52418527/service-fabric-code-package-value-of-cpushares-for-100-cpu-usagemax

[2018-10-03 23:44] killerjoe1990 commented on #7426
Looks like in order to do premium, you have to create a new namespace with it premium. You cannot "Scale" to premium from an existing Basic/Standard tier.

[2018-10-03 23:45] CelesteDG commented on #12507
Fix has been merged into master and should go live tomorrow (https://github.com/MicrosoftDocs/azure-docs-pr/pull/54217). #please-close

[2018-10-03 23:51] kgremban commented on #15973
Thanks for pointing that out, @richcorless. I've created a pull request to fix this JSON sample.

[2018-10-03 23:52] Blackbaud-MikeDuVall commented on #10363
@Mike-Ubezzi-MSFT Are you 100% sure on this? It sure looks like to me that there is one DLQ per subscription.  I've created a Topic with two subscriptions, Subscription1 and Subscription2.  Using the Service Bus Explorer I can see 7 items in the DLQ for Subscription1, and zero items for Subscription2.

[2018-10-03 23:55] cgillum commented on #16118
Yes, the JavaScript support (which is in preview) does not completely support this pattern yet. It will by the time it GAs. @kashimiz we should probably add a note here setting appropriate expectations for JavaScript users.

[2018-10-04 00:01] Karishma-Tiwari-MSFT commented on #16152
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-04 00:15] jeevansd commented on #15918
#please-close

[2018-10-04 00:15] Ayanmullick commented on #16136
With the same rule, the backend SQL VM's lose internet access with no NSG blocking. Patching etc fails.

[2018-10-04 00:33] jason-j-MSFT commented on #15146
@irgnosis we are closing for now, we can reopen if you have further comments to describe the issue.

[2018-10-04 00:33] #15146 closed

[2018-10-04 00:38] Karishma-Tiwari-MSFT commented on #16071
@devchop Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.
@dlepow Can you please take a look at this doc-enhancement request. Thanks.

[2018-10-04 00:41] TravisCragg-MSFT commented on #16136
@Ayanmullick that is [by design](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-connections#scenarios). You will need to give the VMs a Public IP Address to give the VMs internet access.

[2018-10-04 00:49] darewreck54 opened #16157 "What should MSI_ENDPOINT be set to locally?"
Hi,

When I deploy azure function to azure and run it from there, I'm able to successfully use the MSI_ENDPOINT and the MSI_SECRET to execute the function.  However, when i run the azure function locally it fails.  I use the exact same MSI_SECRET and change the MSI_ENDPOINT to the Domain that I use to the azure function endpoint.

Example: On azure the MSI_ENDPOINT = http://127.0.0.1:41831  and lo

[2018-10-04 00:50] darewreck54 commented on #16157
Ops i mean use the two to retrieve the token via REST Call since i'm using java and there is no library for that.

[2018-10-04 00:56] GuiPelegrini commented on #16111
Hello, I'm getting some issues like this one of @zzulueta.
"error: cannot access ListenableFuture" is shown in my Android Studio, and when I come to investigate it says that the method getTable().insert() was deprecated too, but it's the exemple given in Azure's Quick Start Guide. I'm lost and can't find a great and clear documentation of how to implement Azure's cloud-based service. I need this t

[2018-10-04 00:57] GuiPelegrini opened #16158 "error: cannot access ListenableFuture"
Hello, I'm getting some issues like this one of @zzulueta.
"error: cannot access ListenableFuture" is shown in my Android Studio, and when I come to investigate it says that the method getTable().insert() was deprecated too, but it's the exemple given in Azure's Quick Start Guide. I'm lost and can't find a great and clear documentation of how to implement Azure's cloud-based service. I need this t

[2018-10-04 01:00] dcbrown16 opened #16159 "Other outdated links"
"If you're not already there, [select a restore point](#restore-a vm-with-special-network-configurations) before you begin to create a new VM from a restore point."
This link is not created properly.

"c. Create a VM with multiple NICs.
d. Create a VM with multiple reserved IPs."
The two links here (bottom of the page) point to classic VM docs - is that intended?

---
#### Document Details

⚠ *Do

[2018-10-04 01:31] TravisCragg-MSFT commented on #16052
@rcarrara99 Unfortunately we do not Guarantee or have an SLA on bandwidth. The [FAQ for global reach](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-faqs#globalreach) will be updated in the future to include this information as well.

[2018-10-04 01:47] alexvy86 commented on #8441
I think the documentation might be correct here... the examples that use `-Settings` and `-ProtectedSettings` are using the `Set-AzureRmVMExtension` cmdlet, not `Set-AzureRmVMCustomScriptExtension`. With the later, `FileName` or `FileUri` seem to be the ones to specify which command (in a file) to run?

[2018-10-04 01:48] MicahMcKittrick-MSFT commented on #16143
Thanks for the question! We are investigating and will update you shortly.

[2018-10-04 01:49] MicahMcKittrick-MSFT commented on #16138
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-04 01:49] MicahMcKittrick-MSFT commented on #16117
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-04 01:50] MicahMcKittrick-MSFT commented on #16147
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-04 01:51] MicahMcKittrick-MSFT commented on #16148
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-04 01:51] MicahMcKittrick-MSFT commented on #16159
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-04 01:52] MicahMcKittrick-MSFT commented on #16158
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-04 01:52] #12507 closed

[2018-10-04 01:53] #13930 closed

[2018-10-04 01:53] #15018 closed

[2018-10-04 01:53] #15603 closed

[2018-10-04 01:54] #16132 closed

[2018-10-04 02:09] spelluru commented on #16138
@ChipClark - what do you see in the listener app window?

I run the Listener.exe first and then the Sender.exe. If I don't run the Listener.exe first, but run the Sender.exe, the sender can't find the endpoint because the listener is not running. Therefore, I see the exception.

What do you see in the Listener app window? Do you see "Online" only? or Do you not see anything?

Thanks,
Sreedhar

[2018-10-04 02:20] brlewi commented on #7368
Test

[2018-10-04 02:47] gesbeckj commented on #15369
An update on GA would be great. Hard to recommend implementing a solution like Azure Files if the backup for it is still considered "preview".

[2018-10-04 03:15] virajpangam commented on #16013
We have tried to refer to this https://docs.microsoft.com/en-us/azure/key-vault/key-vault-use-from-web-application

But the above link contains sample only for C#. We needed an example in java. It would be even better if you enhance the code in the GitHub link I provided so that it can be easily integrated in Spring boot.

[2018-10-04 03:42] JeremyWeir commented on #6841
Haven't been able to find anything in Azure portal to help with this, but stats/metrics can come directly from queries as is pointed out on SO

https://stackoverflow.com/questions/51062304/sql-azure-read-scale-out-feature-monitor-queries-on-read-only-replica/51068643#51068643

You just need to connect using `ApplicationIntent=ReadOnly` in the connection string (or additional connection parameters

[2018-10-04 03:43] yuharucan opened #16162 "How about DW500c?"
How about DW500c?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20e5a898-2249-1347-89f7-b16ca9318eba
* Version Independent ID: 89e45bb2-b973-ef78-e230-f08e90d6482b
* Content: [Memory and concurrency limits - Azure SQL Data Warehouse](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/memory-and-concurrency-limi

[2018-10-04 03:53] binoyjt commented on #15378
@Karishma-Tiwari-MSFT Just wanted to check if this is fixed or is this now identified as a Bug, to be fixed later?

[2018-10-04 03:56] SnehaGunda commented on #14986
@JamesMDorame sorry for the delay on this, the URI 'https://analytics.documents.azure.com' is no longer accessible. I have hosted the sample volcano data in a GitHub repo and made updates to the doc. You have to download the sample data, upload it to Cosmos DB using the data migration tool and them visualize in PowerBI. I updated the doc steps accordingly.

[2018-10-04 03:57] SnehaGunda commented on #14986
#please-close

[2018-10-04 04:02] zzulueta commented on #16111
can you send me a copy of your code via github? kinda hard to determine what the cause is without any background:)

[2018-10-04 04:07] zzulueta commented on #16111
@Grace - I have made the code from the azure server work for the ToDoItem sample. but I also did a couple of things to make the app run in my Samsung:
1. I updated the app gradle to the latest version
implementation 'com.microsoft.azure:azure-mobile-android:3.4.0@aar'
2. in the project gradle i added "google()" not only in the buildscript but also in the allprojects{}
3. the app wont compile and r

[2018-10-04 04:31] SnehaGunda commented on #14417
@Leo-Mepham thanks for the feedback, and sorry for the long delay on this. I think the wording is little confusing, I updated the text to:

If you create a container with the initial throughput greater than or equal to 1,000 RU/s and provide a partition key, then you can take advantage of unlimited scaling without any changes to your container. Which means even though you create a **Fixed** contai

[2018-10-04 04:33] SnehaGunda commented on #14417
#please-close

[2018-10-04 04:39] nickward13 opened #16163 "Clarify Microsoft Peering Relationship to Azure Public IP Addresses"
The diagram at the top of the document states Microsoft Peering is for "Azure public services (public IPs)".  Further down, the document states Microsoft Peering is for "Azure PaaS Services".  This raises the question: does Microsoft Peering support Virtual Machines with public IP address endpoints?  Can you please clarify in the documentation?

---
#### Document Details

⚠ *Do not edit this secti

[2018-10-04 04:44] icontreras7 commented on #16127
Hi @Mike-Ubezzi-MSFT  and @SnehaGunda  thanks for the update.

[2018-10-04 04:51] Karishma-Tiwari-MSFT commented on #16162
@yuharucan Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-04 05:04] Appjunkie opened #16164 "#managed-service-identity-authentication location doesnt exist on the page"
The link points to a location on the page that doesn't exist.
https://docs.microsoft.com/en-us/azure/data-factory/connector-azure-sql-database#managed-service-identity-authentication

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09dd1d03-ae28-c5a2-7c64-2f51675f6b09
* Version Independent ID: dac74d68-2105-a029-1f49-d44

[2018-10-04 05:15] venkatrv opened #16165 "Why Hybrid Connection is related to Biztalk services? can't my web app hosted in VM, which is hosted in Azure can't access onpremise SQL using Hybrid Connection?"
Why Hybrid Connection is related to Biztalk services? can't my web app hosted in VM, which is hosted in Azure can't access onpremise SQL using Hybrid Connection?

[2018-10-04 05:15] venkatrv commented on #16165
Why Hybrid Connection is related to Biztalk services? can't my web app hosted in VM, which is hosted in Azure can't access onpremise SQL using Hybrid Connection?

[2018-10-04 05:17] andrewatfornax commented on #16094
@MaisaMilena, no, I think https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-about-networking is the correct page to link to - it has the required IP addresses/ports that I needed to know about to fix the issue.

[2018-10-04 05:19] kazshi opened #16166 "all 'actions' are logged in the activity log?"
"The activity log contains all write operations (PUT, POST, DELETE) performed on your resources. It does not include read operations (GET)." - are all 'actions' logged in the activity log as well? I saw some actions (VM restart or backup, for example) in the activity log but I couldn't find it's documented as far as I checked - I would like to know if all 'actions' are logged and where it's docume

[2018-10-04 05:36] aashishb commented on #14349
Tagging @raymondlaghaeian for help

[2018-10-04 05:40] NandishNM opened #16167 "ServiceMap summary tab is not listing the servers"
ServiceMap summary tab is not listing the servers, tried all troubleshooting steps mentioned in the configuration doc.
I can see the VM under virtual machine tab and it even shows connected.
I can also see my servers in OMS portal under connected sources, but ServiceMap tab in the home page of OMS shows blank with the below message.

:-(
oops... looks like we
couldn't get the data

Not sure what's

[2018-10-04 06:07] schakka commented on #16118
@cgillum @kashimiz @Karishma-Tiwari-MSFT  Any idea when the Durable Functions (javascript) might become GA ? Please let me know any information you have.

[2018-10-04 06:24] mikavuokko opened #16168 "VSphere information might be outdated"
Most of VSphere users are not using the VIClient anymore, but web based console (Flash or HTML5 which is current).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a699efb-c78c-2dc6-2d0d-6ffc0a2918ce
* Version Independent ID: 36a048d5-71b5-ce1d-75d7-bd5182f4386b
* Content: [Deploy the configuration server for VMware dis

[2018-10-04 06:39] sahilpnckr123 commented on #15812
@joselcaguilar  I tried it in a different subscription and i was able to create a WAN

[2018-10-04 06:43] dcbrown16 opened #16169 "Classic limit"
"ExpressRoute circuits per subscription"
My understanding is that this refers to classic ER circuits, and it is very confusing when placed alongside "ExpressRoute circuits per region per subscription (Azure Resource Manager)".
Since classic is no longer the default, can this be more clearly indicated?
This info is replicated on the overall Azure page and would need to be updated there as well.
htt

[2018-10-04 06:56] Anded opened #16170 "SecureString typed extended properties cannot be read back"
Code example in https://docs.microsoft.com/en-gb/azure/data-factory/transform-data-using-dotnet-custom-activity#passing-objects-and-properties shows that extended properties could be secured using SecureString type. SecureString typed extended properties cannot actually be read by the custom activity in any of the documented ways. This is a bit misleading.

---
#### Document details

⚠ *Do not edi

[2018-10-04 07:06] random82 commented on #14741
Hi, my team has the same problem. ADF doesn't pass authorisation header to our endpoint when using HttpServer linked service.  (Web activity works fine though) Any updates @vasivara-MSFT @linda33wj  ?

[2018-10-04 07:24] sach2 opened #16173 "Application Insights link redirects to current page."
Application Insights link redirect to same page - https://docs.microsoft.com/en-us/azure/azure-monitor/overview
If there is no any page, link can be removed.

[2018-10-04 07:28] dcbrown16 opened #16174 "Relation between Linux and Docker"
My understanding is that App Service on Linux is effectively a subset of Web App for Containers, in that the Linux images are running on Docker ultimately.
"The underlying architecture is based off of running Docker containers, but they are essentially abstracted away by platform in the form of built-in runtime images that Microsoft manages and maintains on the customer’s behalf. All of the built-

[2018-10-04 07:33] lesterw1 opened #16175 "JOINing results"
Is it possible to do a join-like operation in Resource Graph?  For example, I can use the query:
“where type contains 'publicIPAddresses' and properties.ipAddress != '' | project subscriptionId, Name, properties.ipAddress”
which will nicely output subscriptionID and each public IP address and name.  But I would like to output the Subscription NAME with each (as an Example). I tried SubscriptionNam

[2018-10-04 07:39] mike-urnun-msft commented on #16064
Hi @kudlatiger Could you expand on your question please?

[2018-10-04 07:52] kudlatiger commented on #16064
Sure.  I have written couple of azure functions and it works fine. Now I want to stop this service so that caller of the function fails to get the result. Also, It helps to reduce the cost billing. I want to stop this service every night. Is it possible?

[2018-10-04 07:57] lesterw1 opened #16176 "BluePrints in Management Groups"
Why do Blueprints have to be placed into the Management Group hierarchy at all, especially while being drafted (or even published)?  It would make more sense to create and publish blueprints separately and then ASSIGN them to management groups (so when the management group is applied to a subscription), the blueprint is applied.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2018-10-04 07:58] mike-urnun-msft commented on #16064
@kudlatiger That functionality is provided out of the box with Azure Functions. Are you on a consumption plane? Could you review following documentation and see if it helps:
[Azure Functions scale and hosting](https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#consumption-plan)

[2018-10-04 08:03] raptor75 commented on #15459
Any updated prospects?

[2018-10-04 08:04] mike-urnun-msft commented on #15796
Hey @a-zolotukhin Thanks again for reporting this issue and contributing an improvement towards MS Docs! I verified that the broken link is now fixed and working OK. Please test on your end and let us know if you see any issues.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-04 08:04] #15796 closed

[2018-10-04 08:11] ka2er opened #16177 "do you plan to support custom S3 source like a private minio ?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 710d4797-888a-ee10-f3e8-67b990e2f893
* Version Independent ID: ecc41588-d311-36e0-7257-914dac216c17
* Content: [Copy data from Amazon Simple Storage Service using Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/connector-amazon

[2018-10-04 08:20] limjianan commented on #15886
https://social.msdn.microsoft.com/Forums/en-US/WindowsAzureAD/thread/bfec0de3-dc85-4832-b043-932743818f99/#bfec0de3-dc85-4832-b043-932743818f99

[2018-10-04 08:22] YvonneArnoldus opened #16179 "Performance stability"
I cannot find anything about the performance stability. We are thinking about using Windows VMs in Azure to performance test our application. At the moment we use a Docker Web Application in Azure but we see regression and progression in the performance without changes to our application. So I'm interested in if the Windows VMs have the same performance over time (with a machine that stays the sam

[2018-10-04 08:23] simonholgate opened #16180 "jumbotron replaced by carousel"
The example given replaces the jumbotron component with some new text.

The actual template that gets created has a carousel component. While the example works fine if the carousel div is replaced by the jumbotron div, it is slightly confusing for someone coming across it for the first time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-10-04 08:25] andrew-kelleher opened #16181 "Region availability needs updating?"
The Availability Zone docs specify a larger number of supported regions including North Europe. Does this doc need updating or is availability for zone-redundant VNet gateways lagging slightly?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12c6b382-2861-f458-4ec5-846c7eb12924
* Version Independent ID: 4117fae1-0409-5f

[2018-10-04 08:41] rajeshkhanikar opened #16182 "Failed to create security group with dynamic user members"
Unable to create security group from Home&gt;Microsoft Intune&gt;Groups - All groups&gt;Group&gt;Dynamic membership rules. Error thrown is "Failed to create group XXXXXXXX. Dynamic membership rule validation error: Invalid operands found for operator.Invalid operands found for operator -all", selected simple rule and picked an available attribute and a value.

---
#### Document Details

⚠ *Do not

[2018-10-04 08:45] joselcaguilar commented on #15812
The new subscription where it is working is not Visual Studio/MSDN offer right? @sahilpnckr123

@TravisCragg-MSFT Please open again this issue, you can test this scenario with a MSDN/Visual Studio Azure subscription offer, docs guide provided is not working for everyone you are depending what offer you have.

I have tested with an EA Offer subscription and this issue is not present.

[2018-10-04 08:46] duncansmart opened #16183 "Markdown markup appearing"
I am seeing things like `![Azure Traffic Manager 'Priority' traffic-routing method][1]` in this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fec705c3-1ca3-f5e7-d5ff-3e2baa11a5e8
* Version Independent ID: 3936b98a-94e1-8781-15de-d8fa6fd552b7
* Content: [Azure Traffic Manager - traffic routing methods](https:

[2018-10-04 08:51] GuiPelegrini commented on #16111
@zzulueta , my code is literally the code on the quick start guide on Azure's menu.

TodoItem item = new TodoItem();
        item.Text = "Awesome item";
        mClient.getTable(TodoItem.class).insert(item, new TableOperationCallback<TodoItem>() {
            public void onCompleted(TodoItem entity, Exception exception, ServiceFilterResponse response) {
                if (exception == null) {

[2018-10-04 08:52] snobu commented on #15926
The new VNET capabilities are now [reflected in the docs](https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet#new-vnet-integration), yet i can't see them light up in North Europe or East US (new App Service plans everywhere).

[2018-10-04 09:02] mike-urnun-msft commented on #15820
Hi @helloguo @grahamehorner With the advent of Functions 2.0, and containerized variants of Functions, the technology in Functions Runtime has been superseded. Please see [this recent post](https://medium.com/@asavaritayal/azure-functions-on-kubernetes-75486225dac0) by Asavari on running Functions in Kubernetes.

@apwestgarth We may have to edit this doc to reflect recent changes.

[2018-10-04 09:06] sahilpnckr123 commented on #15812
@joselcaguilar right

[2018-10-04 09:07] lblanche commented on #12571
Hello, I have been following these exact same steps using each local git and online github solution and I have the same problem @philippschaefer4 was mentioning earlier, everything runs smoothly, but the "Hello World" page never seems to replace the "Your App Service app is up and running" page. I have been trying with both Windows and Linux, using the flask demo code from the Azure-Samples. I'm a

[2018-10-04 09:10] mike-urnun-msft commented on #15742
@AbhishekTripathi @aakash2602 Thanks for reporting this issue and driving improvements together to MS Docs! We have validated this issue and assigned it to the author to review and take the right course of action.

[2018-10-04 09:16] mike-urnun-msft commented on #15652
Hi @nblx2k4 Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-04 09:16] #15652 closed

[2018-10-04 09:20] mike-urnun-msft commented on #15691
related to #15683

@MarkAtAgilliance Thanks for reporting this issue. We have validated & assigned this issue to the author to review and take the right course of action.

[2018-10-04 09:37] lblanche opened #16184 "The local git "Hello World" tutorial does not seem to work"
Hello all,
I have followed  the tutorial here [https://docs.microsoft.com/en-gb/azure/app-service/containers/quickstart-python](url) to deploy a python flask app on App Service Linux (several times).
I always have the same problem, everything runs smoothly until the last step, and when I check the page, instead of having my hello world I get  a nice blue "Your App Service app is up and running" pa

[2018-10-04 09:44] gstolz opened #16186 "Error creating load balancer"
Is this really working? Usually one needs to connect public-IPs to existing resources like vms, lbs, appGws, etc. In this example the pure existence of a pip should be enough to use it inside of an AKS. The last log output already describes the same error that I also get when trying to create this setup:
"Error creating load balancer (will retry)..."

---
#### Document Details

⚠ *Do not edit this

[2018-10-04 09:57] blueelvis opened #16187 "Include Documentation on what happens when the contents of ZIP file are changed"
Hello!

So, is it possible to add clarification on what would happen if the contents of the ZIP file are changed which is already mounted on a Function/Web App? For example, the app has mounted `mytest.zip` file. Now, after some time, I go ahead and re-upload the `mytest.zip` file with different content. What would happen then? Do I need to do something or the App automatically realizes that the c

[2018-10-04 10:24] olandese opened #16189 "Wrong url for generating the SystemKey"
The documentation is not correct, for V2 the endpoint to get the SystemKey should be:

http://{functionappname}.azurewebsites.net/admin/host/systemkeys/eventgrid_extension?code={masterkey}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6bb013c-83b0-84fd-f4eb-364db7b3c507
* Version Independent ID: 6a2a7e4a-769f-034a-c9

[2018-10-04 10:27] SychevIgor commented on #15510
@mattbriggs I already know an answer, but it will be nice to see it in a documentation.
Answer is "No, it's not Microsoft.ServiceFabric/clusters. It's Virtual Machine Scale Set with pre installed software using DSC"

[2018-10-04 10:27] #15509 closed

[2018-10-04 10:28] SychevIgor commented on #15509
Not relevant, because I finally understood that both services are essentially VMSS with pre installed software. Initially I thought that we have respective providers on Azure Stack.

[2018-10-04 10:44] vladikbr commented on #16007
There is an internal batching in ADX for ingress data (to improve performance).
Batching is limited by accumulated size (1GB) or by time (5 minutes).

We will soon be releasing enhancements that will allow customers control these batching limits to achieve near real-time ingestion.

Stay tuned at [our Tech Community](https://techcommunity.microsoft.com/t5/Azure-Data-Explorer/bd-p/Kusto)

[2018-10-04 10:48] holgerjay opened #16190 "'Microsoft.Network/publicIPAddresses/loadBalancerPools/join/action' not exposed?"
Hi,

I'm trying to create a custom RBAC role that includes 'Microsoft.Network/publicIPAddresses/loadBalancerPools/join/action'.

When attempting to set this role, I'm receiving the following error.
Set-AzureRmRoleDefinition : 'Microsoft.Network/publicIPAddresses/loadBalancerPools/join/action' does not match any of the actions supported by the providers.
At line:1 char:1
+ Set-AzureRmRoleDefinition

[2018-10-04 10:50] JamesDLD opened #16191 "Json template review : Could not find member 'allocatedOutboundPorts' on object of type 'LoadBalancerOutboundRule'"
Hello,

I just wrote my json template but I got issues when using it, it says that "allocatedOutboundPorts", "idleTimeoutInMinutes", "enableTcpReset", "protocol" are not members of the object LoadBalancerOutboundRule.

I am adding in the below link the template, would really appreciate a review.

Thank you

The template : https://github.com/JamesDLD/terraform/blob/master/module/Add-AzureRmLoadBala

[2018-10-04 10:50] vladikbr commented on #15855
You can use any of our SDKs: [.NET](https://docs.microsoft.com/en-us/azure/kusto/api/netfx/about-the-sdk), [Java](https://docs.microsoft.com/en-us/azure/kusto/api/java/kusto-java-client-library), or [Python](https://docs.microsoft.com/en-us/azure/kusto/api/python/kusto-python-client-library), that all allow ingestion from Azure blobs.

You can also use our REST APIs directly, as shown in example [

[2018-10-04 11:12] codecrasher99 commented on #15339
I am also getting the error AADSTS50011 and the only way to resolve it seems to be to specify the redirect URI setting in PublicClientApplication.RedirectUri

[2018-10-04 11:25] stoff75 opened #16192 "Mutiple forest"
We have a large on-prem environment with multiple forests, for example Forest A and Forest B. We manage Forest A with about 5k users and a seperate vendor is managing Forest B with 50k users. If we install the agent on all domaincontrollers in Forest A all of our users in Forest A should be protected, correct? Or do we have to install it on Forest B domain controllers as well before this works eve

[2018-10-04 11:32] durind opened #16194 "Guest MfA settings"
Hi,

How the guest can change his/her MfA settings such as phone number or default verification option?

https://aka.ms/mfasetup goes to the users own tenant settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38883fa1-020d-1721-56fd-d92a99a2cef9
* Version Independent ID: ea2e2ce3-3316-d0bd-16b6-aa036a6af806
* Con

[2018-10-04 11:49] tbkobberoe commented on #16065
Billing alert is mentioned in the new AZ-100T01 course. Has it been deprecated or renamed?

[2018-10-04 11:59] davojta commented on #16146
@BryanFranzMSFT could you say how it is possible to update already created web app ?
I follow the section "Update and redeploy the app" in the doc and get that error.

[2018-10-04 12:05] MiladOrderDynamics commented on #16098
Thanks.

[2018-10-04 12:05] #16098 closed

[2018-10-04 12:30] jeremytbrun commented on #16141
Just to be clear the PR is to make the link consistent with the current documentation and link to the MSOnline v1.0 module. I am working on a PR to overhaul the code snippets to use the newer module at which time the link can be updated.

[2018-10-04 12:44] axelgMS commented on #12407
yes, your comment should help - thanks Stephen.
I'll come back to you in case we get more issues reported.

[2018-10-04 12:44] #12407 closed

[2018-10-04 13:06] nawras-yanes commented on #14765
Any update on this issue? I have the same problem.

[2018-10-04 13:30] sergaz-msft commented on #16098
@MiladOrderDynamics please add a new feature request [here ](https://feedback.azure.com/forums/909172-azure-maps)so that others can vote for it and increase the priority in developing it :). Thank you!

[2018-10-04 13:42] Teodelas opened #16198 "Additional best practices"
Please consider adding the best practices that Stefan covered at Ignite: https://myignite.techcommunity.microsoft.com/sessions/66630

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f96b069-9ae7-ca2f-3c0a-25631ae6f02c
* Version Independent ID: 6b9c76e3-18cf-6795-dbfd-356379d88dfb
* Content: [Best Practices for Azure App

[2018-10-04 13:44] MiladOrderDynamics commented on #16098
Done! Thanks.

[2018-10-04 13:48] AlexanderZehnder opened #16199 "Dependency issue with DocumentDB"
Package installation failes with this message:
"Unable to resolve dependencies. 'Microsoft.Azure.DocumentDB 2.1.2' is not compatible with 'Microsoft.Azure.CosmosDB.Table 2.0.0 constraint:
Microsoft.Azure.DocumentDB (&gt;= 2.1.0)"
...of course, I tried to install Microsoft.Azure.DocumentDB previous releases as well without success.
Any idea?

---
#### Document Details

⚠ *Do not edit this section.

[2018-10-04 13:50] AlikaIhsahn opened #16200 "AV creation failure"
With the script like this, if the AV creation fails for whatever reason (in my case it was an incorrect FaultDomainCount between the Azure location we use), the VM has already been deleted and you can not re-use the script once you have fixed your parameters... It might be better to create the AV before suppressing the VM to avoid this situation.

---
#### Document Details

⚠ *Do not edit this sec

[2018-10-04 13:54] DCtheGeek commented on #16176
@lesterw1 Thanks for the question! [Management Groups](https://docs.microsoft.com/azure/governance/management-groups/) contain other Management Groups and Subscriptions to build a hierarchy of inheritance for various governance controls such as Policy and Blueprints. By storing a Blueprint in a Management Group, child Management Groups and Subscriptions inherit from it and can have things defined

[2018-10-04 14:05] TomArcher commented on #16012
@v-mavick I'm not sure I totally agree with the suggested solution, but could you please take a look at this and fix it for the customer? Thanks!

[2018-10-04 14:06] jboriott opened #16201 "Need to be more specific."
We may want to be more explicit in calling out that "Secure Transfer" needs to be set to off in the Portal, if using SMB 2.1.  Right now it says "Azure Files will reject SMB 2.1 (or SMB 3.0 without encryption). If secure transfer required is enabled for a storage account, Azure Files will only allow connections using SMB 3.0 with encryption."  I didn't realize that the default for storage in the P

[2018-10-04 14:07] TomArcher commented on #15765
@justcallmetrell Thanks for the additional information. We are all at AnsibleFest, and will reply when we get back.

[2018-10-04 14:12] georgewallace commented on #15869
@ashuthinks  To achieve this create a **Weekly** schedule and choose the days you wish. Please see my example. ![image](https://user-images.githubusercontent.com/6796566/46479758-a44eed00-c7a4-11e8-8ac5-9cd633aaaa28.png)

[2018-10-04 14:25] ctstone opened #16202 "Casing typo in sample output"
`isBWImg` should be `isBwImg`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 041bd8fd-b0ef-be36-5022-78214d1d9ba4
* Version Independent ID: f95cc248-f2cb-08ba-cca3-94c8e26362c2
* Content: [Image Analysis cognitive search skill (Azure Search)](https://docs.microsoft.com/en-us/azure/search/cognitive-search-skill-image-an

[2018-10-04 14:27] dboudah opened #16203 "Documentation appears to be incorrect"
The section of "Authorization behavior" has a subsection of "The following headings describe the options". The options listed in this subsection do not seem to jive with the picture above it.

Allow all requests
Allow only authenticated requests
Allow all requests, but validate authenticated requests

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2018-10-04 14:28] sergaz-msft commented on #16098
Adding the link for reference. Thank you so much!
https://feedback.azure.com/forums/909172-azure-maps/suggestions/35631211-full-screen-control

[2018-10-04 14:32] SaurabhSharma-MSFT commented on #16079
@solomonaustin5 I think that should work as long as you have configured the application registration reply url correctly in the published application.

[2018-10-04 14:32] MiladOrderDynamics commented on #16098
Cheers!

[2018-10-04 14:36] TomArcher commented on #13806
@paul-mateos Were you able to test this issue with the information given by @gavinfish ?

[2018-10-04 14:44] ArvidBaa opened #16204 "SQL access using secrets"
Under the section [Use SQL data](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-load-data#use-sql-data), there is a code snippet on how to get access to a Microsoft SQL Server. The snippet calls a function to register a secret `dprep.MSSQLDataSource()`, and the text following the snippet tells that the secret is used to pass the password to the function.

I can't get this t

[2018-10-04 14:44] #14417 closed

[2018-10-04 14:46] crgarcia12 opened #16205 "XML is malformed"
In the doc you mentions this xml snippet that is malformed:

&lt;ServiceManifestImport&gt;
  &lt;ServiceManifestRef ServiceManifestName="Guest1Pkg" ServiceManifestVersion="1.0.0" /&gt;
    &lt;EnvironmentVariable Name="HttpGatewayPort" Value="19080"/&gt;
  &lt;/EnvironmentOverrides&gt;
  ...
&lt;/ServiceManifestImport&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-10-04 14:46] #14986 closed

[2018-10-04 14:48] georgewallace commented on #14587
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-10-04 14:53] tiny-dancer opened #16206 "Python SDK"
Is the opening "Before you start" section intentionally not displaying the Python option?

https://github.com/Microsoft/ApplicationInsights-Python

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 401d2997-0fbd-7966-8996-edbaab1819ff
* Version Independent ID: c3ee3318-4c69-8ded-a8d5-5059d699351b
* Content: [Application In

[2018-10-04 15:05] christiankuhtz commented on #16191
@jamesdld my apologies, there's a typo in this doc, please use 2018-08-01. PR is in to fix and should publish in a couple of hours.

[2018-10-04 15:08] MikkelHegn commented on #15792
The download link should be fixed. Let us know if anyone are still seeing issues.

[2018-10-04 15:09] diegotrp opened #16208 "Custom DateTime option not available"
Hi, i'm trying to use the custom path patterns but it's not being recognized, is it only available to some accounts? if that's the case when is it going to be. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e35f1d1-c4d6-9297-3534-ada60bb09c33
* Version Independent ID: 59854c80-e26d-1b0e-ce19-675ed3dac39a
* Cont

[2018-10-04 15:10] #14587 closed

[2018-10-04 15:16] v-mavick commented on #16012
Tom,

Thanks. Will do.

Marc Vick (Aquent LLC)

From: Tom Archer <notifications@github.com>
Sent: Thursday, October 4, 2018 7:06 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Marc Vick (Aquent LLC) <v-mavick@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Navigate Resource Group in VSCode? (#16012)

@v-mavick<https://na01.safelinks

[2018-10-04 15:18] crgarcia12 commented on #16205
okey, at the end of the document you can see the entire xml and that one is correct.

[2018-10-04 15:23] #11161 closed

[2018-10-04 15:26] tFable opened #16211 "Location of Backup Data"
Hello,

The document states the following:

"All backup data is stored in Recovery Services vaults."

Per my understanding of how Azure Backup works on Azure Files, it is an orchestration mechanism for creating and destroying Azure File Snapshots. I also understand that Azure File Share snapshots are stored in the same storage account as the Azure File Share itself. If this understanding is true,

[2018-10-04 15:27] Mike-Ubezzi-MSFT commented on #16199
@AlexanderZehnder Thank you very much for the detailed response. I am looking into this issue and will get back with you shortly. I see you referenced the Table API doc but by chance are you following a tutorial or Quick Start where you encountered this error?

[2018-10-04 15:28] iainfoulds commented on #13766
There are upcoming changes around cluster autoscaler which are due within the next 4 weeks or so, with doc updates aligned with that. There are known issues with the current implementation, and we apologize for any issues you've encountered here.

For now, #please-close with the understanding this doc is being updated to reflect the upcoming autoscaler experience.

CC: @sauryadas

[2018-10-04 15:32] #15271 closed

[2018-10-04 15:32] #15566 closed

[2018-10-04 15:32] #15567 closed

[2018-10-04 15:33] rayne-wiselman commented on #15620
@crshovrd41 Thanks. I'll pass this input onto the appropriate team.

[2018-10-04 15:37] georgewallace commented on #14432
Updated doc to reference that tag names are case sensitive.

[2018-10-04 15:40] markgar opened #16212 "Link seems to go to wrong doc"
The link at the top of the document "Azure Hybrid Use Benefit for SQL Server" links to docs for Azure Hybrid Use Benefit for Windows Server, not additional details around SQL.  The title of the link implies that it has additional details on SQL Server Hybrid Use Benefit.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b

[2018-10-04 15:40] mike-urnun-msft commented on #16187
Hi @blueelvis Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-10-04 15:41] mike-urnun-msft commented on #16189
Hi @olandese Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-10-04 15:49] jason-j-MSFT commented on #16177
@ka2er
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-04 15:50] jason-j-MSFT commented on #16164
@Appjunkie
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-04 15:55] a3diaz commented on #15820
I´m understand the adventage of Azure, however, I need (By goverment regulation) keep some logic on premise, I would like to write that logic using Azure Function (scheduled task mainly), so, I have to ask: Is there any plan to update the Azure Function Runtime preview 2 or It's deprecated?

[2018-10-04 15:58] jklein68 opened #16214 "Powershell Script - Same issue as #13559"
I am having the same Powershell failure as #13559.  My Powershell version is shown below.

![image](https://user-images.githubusercontent.com/43856690/46486892-577b0e80-c7c4-11e8-9569-0201c4767930.png)

[2018-10-04 16:00] anirudhcavale commented on #15703
@brnleehng this walk through assumes you are using the MSI on the VM to emit metrics against the VM itself. If you would wish to emit metrics against a different resource (ex. a Batch resource), that is when you provide the tenant id, service principal, and resource ID you want to emit metrics against
Those properties are in the output plugin configuration. Its detailed in the Telegraf agent's rea

[2018-10-04 16:01] Nardu92 opened #16215 "Required fields more visible"
After validating the email the "Continue" button will be enabled even if there are required fields that haven't been filled.
And if you click it a message saying "A required field is missing. Please fill out all required fields and try again" but there is no indicator of which fields are required.
Is possible to make the button not enabled until every required field has been inserted?
Alternativel

[2018-10-04 16:02] anirudhcavale commented on #16148
@brendonjwong this is correct, the document has not been updated to reflect these metrics yet. I am still working with the API Management team to see if these are fully available yet. Will update the file once it is ready.

[2018-10-04 16:03] bally-singh opened #16216 "RDS 2012 MacOS RDP 10"
Hi,

We have an issue where the MacOS users connecting using RDP v10 are unable to connect to RDS after the MFA prompt. The user will approve the response but nothing happens.

We find that the version 8.0 of the RDP client will sporadically work, once multiple MFA prompts have been accepted.

There are no issues when connecting via a Windows 10 device.

The same problem has been reported here: ht

[2018-10-04 16:14] mamccrea commented on #16208
Hi @diegotrp - the custom path patterns feature is currently in preview. Did you use the link to the portal provided in the article. Right now, you have to use [this link](https://portal.azure.com/?Microsoft_Azure_StreamAnalytics_bloboutputcustomdatetimeformats=true) to access the feature.

[2018-10-04 16:19] aquibqureshi26 opened #16217 "Does this calculate storage pricing for vhd snapshot (unmanaged disk) which is page blob"
Team,

Thanks for sharing this script, but I believe there is little confusion. For example if I take a vhd of 127GB which is unmanaged disk. In the server from 127 GB only 20GB is used. I take a snapshot of it. it creates a 127 GB storage snapshot but that won't be charged as it is same as my base vhd?

but when I run this script it gives me the output of 20gb (of base vhd) + 20 gb from snapshot

[2018-10-04 16:28] Adam-Smith-MSFT commented on #16201
@jboriott Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-04 16:29] akramwaseem opened #16218 "Do you guys have a proper documentation on how to get the kubernetes Pod CPU usage"
I am trying to figure out, how can i get the CPU usage of a pod or pods running in a namespace or service running in kubernetes using log analytics.
I don't see any documentation on how to do that and also I tried it on log analytics and no luck so far.
any idea if you have a documentation on how to get CPU metrics in kubernetes through OMS.

---
#### Document Details

⚠ *Do not edit this section.

[2018-10-04 16:33] tFable opened #16219 "Pricing for Azure File Backup"
Hello,

What is the pricing mode for Azure File Backup and is there any charge for using Azure Backup on Azure Files during the preview period?

Instance Charge: Azure Backup charges $10/instance/500GB of backed up data. What is considered an instance in the case of Azure Files? Is each file share an instance or is the storage account as a whole an instance.

Storage Charge: Does the storage for A

[2018-10-04 16:36] ctstone opened #16220 "Arrays should be 0-indexed"
This document says that arrays are 1-indexed, but in the Cognitive Search arrays that I have used, they are all 0-indexed. Is there something special about `/document/people/` or does this doc need to be updated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: badde918-9abe-8f90-6074-f8db1f5c4c20
* Version Independent I

[2018-10-04 16:43] jboriott commented on #16201
Btw - I’m a softie.   Jimbo@mic..

Regards, Jim

On Thursday, October 4, 2018, 12:28 PM, Adam-Smith-MSFT <notifications@github.com> wrote:

@jboriott Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-10-04 16:44] MicahMcKittrick-MSFT commented on #16165
@venkatrv please provide us with the document you are referring to so we can better assist

[2018-10-04 16:44] MicahMcKittrick-MSFT commented on #16167
@NandishNM please provide us with the document you are referring to so we can better assist

[2018-10-04 16:45] MicahMcKittrick-MSFT commented on #16173
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-04 16:45] cgillum commented on #16118
We're thinking probably a few more weeks before GA.

[2018-10-04 16:45] #16175 closed

[2018-10-04 16:46] apwestgarth commented on #15820
Currently we have no planned releases.  Now that Azure Functions v2.0 has released into Azure we are assessing our plans and releases for the forthcoming months across Azure, Azure Stack and on premises.

[2018-10-04 16:47] MicahMcKittrick-MSFT commented on #16184
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-04 16:48] CarlRabeler commented on #16212
@markgar PR pending - thank you.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/54267

[2018-10-04 16:49] MicahMcKittrick-MSFT commented on #16214
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-04 16:50] MicahMcKittrick-MSFT commented on #16216
@bally-singh Please provide us with the document you are referring to so we can better assist.

[2018-10-04 16:50] VipulM-MSFT commented on #15031
@WalkingDisaster - are you using this to secure the remoting transport communication? If so can what is the reason for doing SecurityCredentials.LoadFrom vs. FabricTransportRemotingSettings.LoadFrom (https://docs.microsoft.com/en-us/java/api/microsoft.servicefabric.services.remoting.fabrictransport._fabric_transport_remoting_settings.loadfrom?view=azure-java-stable#microsoft_servicefabric_services

[2018-10-04 16:50] roygara commented on #15459
@raptor75 @johnwest80 yup, this is currently rolling out region by region, I'm lead to believe it will be in all regions by the end of the week. I unfortunately don't know what regions its currently available in.

[2018-10-04 16:50] apwestgarth commented on #14961
We are working on creating new PowerShell support for Administration, once this is complete we will document the new/existing cmdLets.  The new PowerShell support will not require you to execute the PowerShell from the controller which is effectively a break glass option today.

[2018-10-04 16:51] MicahMcKittrick-MSFT commented on #16186
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-04 16:51] wongjustin99 commented on #15782
I am seeing this same problem, where sso_reload isn't on the initial request, and I'm getting stuck on a pending state with a hung page.

[2018-10-04 16:52] MicahMcKittrick-MSFT commented on #16179
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-04 16:52] apwestgarth commented on #8320
@pjhacker1552 are you happy for us to close this issue now?

[2018-10-04 16:52] MicahMcKittrick-MSFT commented on #16200
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-04 16:53] MicahMcKittrick-MSFT commented on #16205
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-04 16:54] JamesDLD commented on #16191
Thank you @christiankuhtz , I did just update my template but I do now have the following issue.
I don't understand because I do have a have Frontend IP Configuration whereas it says that I don't.

My LB is a Standard one, and has one Nic as backend. It doesn't have any lb rule neither probe.
I just want' to use this LB for outbound access as the Nic is attached to another internal load balancer w

[2018-10-04 16:54] #14665 closed

[2018-10-04 16:55] #13766 closed

[2018-10-04 16:56] Adam-Smith-MSFT commented on #16211
@tFable I agree that there is a bit of confusion on which redundancy would override, storage account VS backup services, I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-04 16:56] grahamehorner commented on #15820
@apwestgarth Thanks; is there any current guidance or blogs around configuration of the AzureFunctions docker/windows container image for On Premise; the publish docker images all seem to be linux based? any unofficial road map or this is the direction we are thinking about would be great.  #lifeonthebleedingedge :D  @apwestgarth trust you've recovered from #msignite you got any tips on which #bre

[2018-10-04 16:58] MohitGargMSFT commented on #15144
@dimachernov This issue is still under investigation. I will keep you posted on it.

[2018-10-04 17:04] #15973 closed

[2018-10-04 17:04] MohitGargMSFT commented on #15977
@pjt33 Let me try to again understand your query. Please clarify on what exact information you are looking for here. You asked that what values will the drop down of Azure AD Tenant have. And the answer is the account with which is used to login to Azure Portal if has need Owner permissions on Azure Subscription then only will have Change Directory option enabled and all the azure AD tenants on wh

[2018-10-04 17:06] MohitGargMSFT commented on #16057
@jackbond Great. Thanks for sharing the cause.

We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-10-04 17:06] #16057 closed

[2018-10-04 17:06] rwike77 commented on #16205
@crgarcia12  You're right, the XML snippet is malformed.  Thanks for pointing that out, I'll fix it right now.

[2018-10-04 17:06] pjhacker1552 commented on #8320
Yes it may be closed.

From: Andrew Westgarth [mailto:notifications@github.com]
Sent: Thursday, October 4, 2018 12:53 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Paul Hacker <paul@paulhacker.net>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] SQL Extension for IaaS missing (#8320)

@pjhacker1552<https://github.com/pjhacker1552> are you happy f

[2018-10-04 17:08] Grace-MacJones-MSFT commented on #16174
Hi @dcbrown16, thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-04 17:09] MohitGargMSFT commented on #16131
@libbro2006 Thanks for your help in clarifying the query.

@laultman We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

Please note that you can post this as a feedback @ https://feedback.azure.com/forums/169401-azure-active-directory. This will allow the community to upvote and for th

[2018-10-04 17:09] #16131 closed

[2018-10-04 17:10] MohitGargMSFT commented on #16141
@jeremytbrun Sure. I am assigning this issue to content author so that your PR content is reviewed and updated accordingly.

[2018-10-04 17:10] Grace-MacJones-MSFT commented on #16180
Hi @simonholgate, thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-04 17:13] Grace-MacJones-MSFT commented on #16198
Hi @Teodelas, thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-04 17:14] kobulloc-MSFT commented on #16206
@tiny-dancer Thank you for bringing this to our attention.  I'll assign this to the document author so they can add this update request to their queue.

[2018-10-04 17:16] MarileeTurscak-MSFT commented on #16182
Hi @rajeshkhanikar
Glad you were able to resolve this! Closing this out for now :)

[2018-10-04 17:16] #16182 closed

[2018-10-04 17:16] #8320 closed

[2018-10-04 17:17] Grace-MacJones-MSFT commented on #16202
Hi @ctstone, thanks for your feedback. The doc has been updated.

[2018-10-04 17:17] #16202 closed

[2018-10-04 17:19] MicahMcKittrick-MSFT commented on #15259
@lachie83 any update on this?

[2018-10-04 17:19] laultman commented on #16131
Why not simply put a note in the documentation indicating the lack of support for this on Windows Phone (version) instead of making customers hunt it down?  I obviously could not find this. This is the kind of thing that really irritates customer, documentation that is not clear and concise, but scattered across the site.

I suggest this because it clearly indicates Windows 10 support and my Windo

[2018-10-04 17:20] MicahMcKittrick-MSFT commented on #15867
@rahulrai-in I will close this out for now as there is not action required on this document. If you open a post on Stack Overflow or the Kubernetes Community feel free to share a link as well.

[2018-10-04 17:20] #15867 closed

[2018-10-04 17:21] Grace-MacJones-MSFT commented on #16203
Hi @dboudah, thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-04 17:28] BryanLa commented on #9052
@PatrickvEk - thanks very much for your suggestion, and the contributions in the pull request. All of your suggestions look good. I've been working w/others to get your PR merged as well. Thanks again!

CXP #please-close

[2018-10-04 17:30] #16205 closed

[2018-10-04 17:31] rwike77 commented on #16205
@crgarcia12 The change has merged and should go live later today.  Thanks again.

[2018-10-04 17:32] SaurabhSharma-MSFT commented on #16154
@valnav You can refer to [Claims transformation](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-claims-mapping#claims-transformation) for more information.

[2018-10-04 17:34] manasbapan commented on #11632
What is the use of LoadMetrics 'WEIGHT'  in that case, if only 1 metrics is allowed to configure ?

[2018-10-04 17:34] christiankuhtz commented on #16191
@jamesdld your template needs to have the following child resources:.

frontend IP configuration which references the public IP address resource or public IP prefix resource

Backend address pool which is referenced by the IP configuration of the NIC of the VM

Outbound rule which references the frontend IP configuration and backend address pool.

Where can I see the complete template?

If you wan

[2018-10-04 17:35] YutongTie-MSFT commented on #16204
@ArvidBaa Thanks for you details about the document, I have assigned the issue to the content author to investigate further and update the document as appropriate.

@cforbe Hi, can you please check this post, there are some unclear statements, can you please check it and also update the document as necessary? Thanks!

[2018-10-04 17:36] eross-msft commented on #16131
@laultman  Thank you for your feedback about the discoverability (or lack thereof) of this information. We plan to refactor this content over the coming months to try to fix these issues along with other customer concerns. If you have additional issues, please continue to let us know so we can make things better for everyone. Thanks again!

[2018-10-04 17:38] cforbe commented on #16204
Looking into it now!

[2018-10-04 17:39] SaurabhSharma-MSFT commented on #16194
@durind Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-04 17:40] #11415 closed

[2018-10-04 17:40] douglaslMS commented on #15491
@Anded Please check the expanded description of [folderpath](https://docs.microsoft.com/en-gb/azure/data-factory/transform-data-using-dotnet-custom-activity). I believe that this resolves the issue.

[2018-10-04 17:40] douglaslMS commented on #15491
#please-close

[2018-10-04 17:42] SaurabhSharma-MSFT commented on #15961
@aderesh We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-04 17:42] #15961 closed

[2018-10-04 17:42] laultman commented on #16131
My company is CSP Direct Reseller. We have support our customers so accurate, concise, and complete documentation is critical to our success. And by extension, Microsoft’s.

Sent from my Windows 10 device

________________________________
From: Elizabeth Ross <notifications@github.com>
Sent: Thursday, October 4, 2018 1:36:53 PM
To: MicrosoftDocs/azure-docs
Cc: Larry Aultman; Mention
Subject: Re: [

[2018-10-04 17:43] BryanTrach-MSFT commented on #16145
@JasonFreeberg Thank you for the heads up. We have verified the same and assigned the feedback to the doc author to take any necessary action.

[2018-10-04 17:43] jackbond commented on #16057
What??? No it is NOT working with Service Fabric. You asked if "az account get-access-token" would get a token, and I confirmed that it does. To be crystal clear...

**Works**
az account get-access-token
Code running in unit tests

**Doesn't work**
Any code running withing Service Fabric

[2018-10-04 17:45] TravisCragg-MSFT commented on #15812
@joselcaguilar I will test this with an MSDN subscription and get back to you. #in-progress

[2018-10-04 17:46] MicahMcKittrick-MSFT commented on #16186
@gstolz I ran through the doc and was able to get the Static IP setup

[code]

One issue I did have was I have a few clusters and I forgot to run `az aks get-credentials --resource-group myAKSCluster --name myAKSCluster` to ensure I was applying the IP to the correct cluster. You might want to check that as well.

[2018-10-04 17:46] Karishma-Tiwari-MSFT commented on #16097
@Nanditab Can you please help me understand the question?

[2018-10-04 17:47] JamesDLD commented on #16191
My template seems OK, what do you think ?

https://github.com/JamesDLD/terraform/blob/master/module/Add-AzureRmLoadBalancerOutboundRules/AzureRmLoadBalancerOutboundRules_template.json

[2018-10-04 17:47] Karishma-Tiwari-MSFT commented on #16090
@gdprtcl Any update? Please share the doc url you have been referencing. Thanks.

[2018-10-04 17:47] Karishma-Tiwari-MSFT commented on #16033
@cynthn Can you please share your insights on this one? Thanks.

[2018-10-04 17:48] Karishma-Tiwari-MSFT commented on #15980
@moasifk We will now close this issue. Please come back whenever you are ready and we will gladly continue the discussion.

[2018-10-04 17:48] #15980 closed

[2018-10-04 17:49] Grace-MacJones-MSFT commented on #15926
Hi @Kenneth-Abrams & @snobu, the VNET integration capability, along with other features announced at Ignite should be live by the end of October. However, the timeline is always subject to change.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-04 17:49] #15926 closed

[2018-10-04 17:50] SaurabhSharma-MSFT commented on #16192
@stoff75 Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-04 17:51] SaurabhSharma-MSFT commented on #16215
@Nardu92 Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-04 17:52] MicrosoftGuyJFlo commented on #16141
Signed off on the PR. Thanks @jeremytbrun!

[2018-10-04 17:53] KumudD commented on #16183
@duncansmart Thanks for bringing this to our attention! I have fixed the issue.

#please-close

[2018-10-04 17:53] douglaslMS commented on #15909
#in-progress

[2018-10-04 17:55] cynthn commented on #16033
@tapialuism I think you might be looking at the wrong drive letter. It sounds like you are looking at the temporary drive for the VM (possibly D:) and not the mount point for the backup (which would be a different drive letter, further down the alphabet).

[2018-10-04 17:56] josuvil opened #16226 "Your note on "custom roles""
I believe you may need to reword the note "This app imports custom roles from Salesforce as part of the provisioning process, which the customer may want to select when assigning users" - I just configured user provisioning with a Salesforce app. On the Salesforce side, you have both profiles and roles. However, only profiles get provisioned back to Azure. However, they appear as Roles on the Azur

[2018-10-04 17:57] rcarrara99 commented on #16052
Thank you!

[2018-10-04 17:57] #16052 closed

[2018-10-04 17:59] eross-msft commented on #16133
@laultman  This issue is also because you're using a Windows Phone, which doesn't support passwordless sign in. This will be addressed as part of the refactor as mentioned in your other issue (#16131).

@MohitGargMSFT  I've added this to my content backlog. Please close this issue.

[2018-10-04 18:03] cesher commented on #15909
The default Data Factory concurrent pipeline runs limit is set to 100. If you have an event trigger that creates events faster than your pipeline can process than you have a couple of options. One, and the method we recommend, is to change your trigger configuration so that it fires less frequently. Instead of having the trigger fire for each blob created and/or deleted you could instead use a con

[2018-10-04 18:05] LuisCabrer commented on #16220
@ctstone. You are right. I have submitted a fix. It will appear publicly tomorrow morning.

[2018-10-04 18:06] pjt33 commented on #15977
A tenant is a complex object. The contents of the dropdown are simple strings. My question is how the tenant gets formatted into a string. Clearly the tenant's ID (GUID) is not used in the formatting string, for instance.

An alternative way of looking at the question would be: what *other* page in the portal can I look at which would contain the string shown in the dropdown, and where on that pag

[2018-10-04 18:10] JamesDLD commented on #16191
@christiankuhtz for info I did just set the id of the public ip of the LB into the bracelet frontendIPConfigurations

`                            "frontendIPConfigurations": [
                                {
                                    "id": "[parameters('frontend_ip_configuration_public_ip_address_id')]"
                                }
                            ],`

And got the fol

[2018-10-04 18:13] mathieu-benoit commented on #16055
FYI @BryanTrach-MSFT I just opened this PR https://github.com/MicrosoftDocs/azure-docs/pull/16222. Let me know your feedback. Thanks.

[2018-10-04 18:17] AlexanderZehnder commented on #16199
Hi Mike

Well, I just tried to follow this instructions https://docs.microsoft.com/en-us/azure/cosmos-db/table-storage-how-to-use-dotnet#install-the-required-nuget-packages in which indeed the step of installing Microsoft.Azure.DocumentDB<https://www.nuget.org/packages/Microsoft.Azure.DocumentDB/> (>= 2.1.0) is omitted.

I installed the DocumentDB 2.1.2 but somehow the dependency-checker does not

[2018-10-04 18:18] ChipClark commented on #16138
Maybe I’m not understanding the process.

I have built two versions of this.
               ListenerHTTP-test/SenderHTTP-test
               ListenerTest/senderTest

If I run ListenerTest/senderTest locally – they each bring up a console window and the message in the ListenerTest appears on the senderTest console.

I can type into the listener console and receive the messages on the sender console

[2018-10-04 18:18] #16141 closed

[2018-10-04 18:20] LisandroSu opened #16229 "VHD をコピーせずにリージョン間で移行できますか?項目にリンクが設定されていない"
@KeiroKamioka0000 commented on [Wed Oct 03 2018](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/752)

当該項目の＜「AzCopy コマンド ライン ユーティリティを使用してデータを転送する」＞部分にリンクが設定されていませんので修正をお願いします。

リンクすおのものは＜AzCopy＞の項目にあるものかと存じます。

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 6a98cba6-7267-3b45-8403-ff4138c1fec0
* Version Independent ID: e0ef9a1f-1caa-ed3a-257

[2018-10-04 18:21] LisandroSu commented on #16229
Hi team,

According to the user the sentence "See Transfer data with the AzCopy Command-Line Utility to learn more. " is missing its link.

Thanks!

[2018-10-04 18:38] davidmu1 commented on #14209
I don't believe there is a change required to the referenced article. If so, please close the issue.

#please-close

[2018-10-04 18:39] tfitzmac commented on #16166
@kazshi - each action corresponds to a REST operation. If the operation is PUT, POST, or DELETE, it is logged. For example, [restart VM](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/restart) is a POST so it is logged.

[2018-10-04 18:40] tfitzmac commented on #16166
#please-close

[2018-10-04 18:44] TravisCragg-MSFT commented on #16183
@duncansmart We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-04 18:44] #16183 closed

[2018-10-04 18:51] bsiva commented on #15620
@crshovrd41 - I apologize for the trouble and for the back and forth. We have validated that this process works. I would like to request that we setup a conf call between you and the engineering team to try and work through the issues you've run into. We'll be able to make progress getting you unblocked faster that way. Please let me know if I can setup a Skype call for us and I'll set that up for

[2018-10-04 18:53] diegotrp commented on #16208
Yeah, i used the link but i only redirects me to my dashboard, should i see another page?

[2018-10-04 18:54] sagimanoj opened #16230 "Session support for Azure service bus with Azure functions"
https://stackoverflow.com/questions/51298378/session-based-service-bus-with-azure-function
Either fix the issue or include a warning so that people don't end up messing up their nights. I ended up spending more than 12 hours before knowing that my issue is already a known issue and is pending in the backlog since last 3 years.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-10-04 18:57] mamccrea commented on #16208
The link sets this flag - **Microsoft_Azure_StreamAnalytics_bloboutputcustomdatetimeformats=true** - which allows you to use the feature. Use the link to get to the portal and when you create a job, the custom formats should be supported.

[2018-10-04 19:01] curtand commented on #15174
Hi @Markus-Hanisch
Ignite laid a bunch of extreme priority work on me. I'll take this up now.

[2018-10-04 19:04] TravisCragg-MSFT commented on #16169
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-04 19:10] CarlRabeler commented on #16089
@Sethu2488 see https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-resource-limits#supported-regions and https://azure.microsoft.com/en-us/global-infrastructure/services/?products=sql-database&regions=all

[2018-10-04 19:10] curtand commented on #15657
@danmyhre I can get started on an answer for this now. Thank you for your patience and your contribution!

[2018-10-04 19:11] CarlRabeler commented on #9080
#please-close

[2018-10-04 19:11] curtand commented on #16009
@ggianelli
HI, I'll get an answer for this. Thanks for your contribution!

@SaurabhSharma-MSFT

[2018-10-04 19:12] CarlRabeler commented on #7152
#please-close

[2018-10-04 19:13] CarlRabeler commented on #15912
#please-close

[2018-10-04 19:14] ctstone opened #16231 "Error in sample input"
Sample input shows `data.url` but I think this should be `data.image`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 041bd8fd-b0ef-be36-5022-78214d1d9ba4
* Version Independent ID: f95cc248-f2cb-08ba-cca3-94c8e26362c2
* Content: [Image Analysis cognitive search skill (Azure Search)](https://docs.microsoft.com/en-us/azur

[2018-10-04 19:15] Mike-Ubezzi-MSFT commented on #15912
@JoeDavis10 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-04 19:15] #15912 closed

[2018-10-04 19:15] Mike-Ubezzi-MSFT commented on #7152
@TravisLaGrone We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-04 19:15] #7152 closed

[2018-10-04 19:18] TravisCragg-MSFT commented on #16181
@andrew-kelleher the[ Zone Redundant Gateway FAQ](Central US, France Central, and West Europe regions) states that Central US, France Central, and West Europe regions are available.

The [Availability Zone Overview](https://docs.microsoft.com/en-us/azure/availability-zones/az-overview#regions-that-support-availability-zones) page states that Central US, France Central, North Europe, West Europe, a

[2018-10-04 19:19] Mike-Ubezzi-MSFT commented on #9080
@skreebydba We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-04 19:19] #9080 closed

[2018-10-04 19:28] vjabala opened #16232 "Using BLOB files from Azure Application Insight Continuous Export."
It appears that Application Insights Analytics can only load no more than 10K of records. We are using Continuous Export to collect data past the 90 day barrier, but we need to be able to bring in more than 10K of records. Is there a tool, SDK, that can parse and contain more than 10K worth of records?

[2018-10-04 19:28] TravisCragg-MSFT commented on #16181
@andrew-kelleher This page needs to be updated with the new regions. the [Availability Zone Overview](https://docs.microsoft.com/en-us/azure/availability-zones/az-overview#regions-that-support-availability-zones) page is correct.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-04 19:29] MicahMcKittrick-MSFT commented on #16230
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-04 19:34] femsulu commented on #16190
@holgerjay Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-04 19:35] Mike-Ubezzi-MSFT commented on #16199
@AlexanderZehnder I am assigning this to the content owner to evaluate and update as appropriate.

Tutorial has you [Install the required NuGet packages](https://docs.microsoft.com/en-us/azure/cosmos-db/table-storage-how-to-use-dotnet#install-the-required-nuget-packages):

Microsoft.Azure.Storage.Common 9.4.0
Microsoft.Azure.CosmosDB.Table 2.0.0
Microsoft.WindowsAzure.ConfigurationManager 3.2.3

B

[2018-10-04 19:35] TravisCragg-MSFT commented on #16191
@JamesDLD you are referencing a public IP when it expects a FrontendIPConfigurations object.

When creating templates, I find it helpful to create the resource first, then use [Resources.Azure.Com](https://resources.azure.com/) to see exactly how the JSON should be structured, and what values are needed and where they should go.

Using an existing object as reference makes life a lot easier when m

[2018-10-04 19:37] novaterata commented on #5767
The IP address ranges in the Local Network Gateway section (10.101.x.x) do not match the IP ranges in the Virtual Network section (10.1.x.x). Shouldn't these match?

[2018-10-04 19:37] femsulu commented on #16166
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-10-04 19:37] #16166 closed

[2018-10-04 19:37] UnexpectedLemon opened #16233 "CBEngine.exe runs SFC /VerifyOnly"
Please document that CBEngine.exe kicks off SFC /verifyonly before every system state backup ("Azure backup is running prechecks before taking system state backup..."). In my case on Server 2012R2 this process appears to create thousands of files in the C:\Windows\WinSxS\Temp\PendingRenames folder which do not reliably get cleaned up by Windows. This also seems to eventually cause substantial incr

[2018-10-04 19:38] snobu commented on #15926
Thanks! You should add a note [here](https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet#new-vnet-integration) for the timeline to avoid any confusion.

[2018-10-04 19:39] femsulu commented on #16218
@akramwaseem Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-04 19:39] BryanTrach-MSFT commented on #16055
#sign-off

[2018-10-04 19:41] BryanTrach-MSFT commented on #16055
@mathieu-benoit We have requested @cephalin to review and approve the PR.

[2018-10-04 19:47] pjt33 commented on #15977
The scenario I was attempting to accomplish was to follow the instructions in the document. I found them inadequate, and that is why I opened this issue.

[2018-10-04 19:51] novaterata commented on #5767
Oh nevermind, I was following this guide for both of my sites. I understand why they don't match now.

[2018-10-04 19:52] wasabii commented on #7499
I am also hitting this issue, though in my case an ampersand is involved.

[2018-10-04 19:55] YutongTie-MSFT commented on #15985
@ArvidBaa Hi, thanks for the reporting, I have fixed it. You should see the change shortly.  We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-04 19:55] #15985 closed

[2018-10-04 19:59] YutongTie-MSFT commented on #16085
@heatherbshapiro Hi, this should be a code sample bug, can you please check it and update the document as necessary? Thanks a lot!

[2018-10-04 20:00] diegotrp commented on #16208
I just tried again the link, it sent me to the portal, i created a job and it's still showing me that error.
![image](https://user-images.githubusercontent.com/26632594/46499632-3a573780-c7e6-11e8-89a0-75dbeac01503.png)

[2018-10-04 20:09] mamccrea commented on #16208
When I use the link and put `{datetime}` for path pattern, I get this error:
**Custom date and time formats must be specified one at a time, enclosed by the {datetime:<specifier>} keyword. Allowable input for <specifier> is one of the following: yyyy, MM, M, dd, d, HH, H, mm, m, or ss.**

When I use `{datetime:yyyy}` as the pattern path, I get no errors. Please ensure that the URL still contains *

[2018-10-04 20:12] SaurabhSharma-MSFT commented on #16013
@virajpangam For Java SDK sample you can refer to https://azure.microsoft.com/en-us/resources/samples/?service=key-vault&sort=0&platform=java

[2018-10-04 20:13] mike-urnun-msft commented on #16064
Hey @kudlatiger Just following up here, please let us know if the documentation above helps. Thanks!

[2018-10-04 20:16] SnehaGunda commented on #12911
@grzlyD Sorry about the long delay on this. I had a chat with David about this issue and here is his explanation:

Our support for the MongoDB API is dependent on a schema definition. The schema determines what BSON types we convert to strings for use as shard keys. Any type that we convert to the string can be used as a shard key. We updated the schema on the cloud some time ago. ObjectID is now

[2018-10-04 20:17] MikeChristensen opened #16234 "Is there a way to pass parameters into a ServiceManifest.xml file?"
For example, I want to make which container image gets deployed a parameter so my build process can specify which build to deploy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f940edc-198b-e0b3-0229-78a6b47544d2
* Version Independent ID: 09883422-5d46-98e4-7aa5-4af2149936cf
* Content: [How to parameterize configurat

[2018-10-04 20:19] Mike-Ubezzi-MSFT commented on #15900
@Anmolgan81 Want to get feedback to you. Originally, in the first GitHub issue you opened for this topic, it was discussed to use PowerShell to automate this task. In speaking with the Product Group, they have come back with the following:

Regards,
Mike

[2018-10-04 20:28] mike-urnun-msft commented on #16187
Hey @blueelvis After zip deployment completes, it would have deleted existing application files prior to placing the content in the zip file that you've deployed. Restart is also part of the process as well and you shouldn't need to be manually restarting your app. You can learn more specific and explore other features of zip deployment here: [Deploying from a zip file](https://github.com/projectk

[2018-10-04 20:29] mmarkzon opened #16235 "Get file from storage account with MSI?"
In the ARM template settings/protected settings is there a way to specify to authenticate to a storage account using MSI instead of providing an access key?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec45418f-2503-415d-12c1-3165be164c69
* Version Independent ID: fc84467e-16a7-33ab-1511-7df7fa48a512
* Content: [Run

[2018-10-04 20:31] #9052 closed

[2018-10-04 20:31] Karishma-Tiwari-MSFT commented on #16232
@vjabala Thanks for your question. Can you please share the url, if there is a particular Azure doc you have been following?

[2018-10-04 20:32] MohitGargMSFT commented on #15977
@pjt33 Please note that the steps in the document works as stated.

If your question is the Directory names appearing in the drop down, where you can find them. Answer is that the directories, logged in account is part, appearing in the drop down are those which can be also viewed using top right option of Directory + Subscription Filter in Azure Portal.

![s1](https://user-images.githubuserconten

[2018-10-04 20:32] holgerjay commented on #16190
Thanks @femsulu
Just as an FYI: I'm getting similar results when using pure REST API (rather than PowerShell):
{
    "error": {
        "code": "InvalidActionOrNotAction",
        "message": "'Microsoft.Network/publicIPAddresses/loadBalancerPools/join/action' does not match any of the actions supported by the providers."
    }
}

[2018-10-04 20:34] diegotrp commented on #16208
Okay, the problem is that i was creating an input and the datetime features is only for outputs. Is there a way to support datetime in inputs path pattern too?

[2018-10-04 20:35] hukun01 opened #16237 "Cannot set provision throughput at DB level when creating a new DB"
I wish I could upload the screenshot here, but based on my experience, we are not able to set the provision throughput on Azure Portal. Please help, this is urgent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f2b93a5-28b8-db4a-ab64-6342d3aafc63
* Version Independent ID: 245586f2-63e1-1e78-a5dd-21e8fa2cc5d3
* Conten

[2018-10-04 20:37] MikkelHegn commented on #16234
Through overrides in the ServiceManifestImport element in the ApplicationManifest, this can be done for some settings: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-manage-multiple-environment-app-configuration#specifying-parameters-during-application-creation

I've also seen uses use token replacement in the XML files as part of their pipelines.

[2018-10-04 20:40] MikkelHegn commented on #12572
The parameter name can be anything. It's a good practice to include the service name for easy identification of where it's used.

There is a reference to a know more article in the bottom of this:
"To learn more about some of the core concepts that are discussed in this article, see..."

@karishma-tiwara-msft is there a way we can put this up at the top, as a pre-req for this how-to article?

[2018-10-04 20:41] MohitGargMSFT commented on #16215
@Nardu92 To get assistance on your scenario please open a new MSDN forum post and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required

[2018-10-04 20:44] danabrash opened #16238 "More information about configurations with NSGs"
There's a section here that mentions "the infrastructure rule collection.", and the FAQ says "The Azure Firewall service complements network security group functionality", but there's no example I can find about how to configure these two tools to work together.  I can tell you that in my experience, if "infrastructure rule collection" means NSG (or if not what is it?), that trying to use the NSG

[2018-10-04 20:45] HJToland3 commented on #15900
@Mike-Ubezzi-MSFT, Raj needs to review this and approve any changes to the article content.  Thanks!

[2018-10-04 20:58] #16208 closed

[2018-10-04 21:08] Gonzov commented on #14855
Any updates about NodeJS?

[2018-10-04 21:11] Karishma-Tiwari-MSFT commented on #12572
@MikkelHegn Do you want the line "To learn more about some of the core concepts that are discussed in this article, see..." under Next steps, to move to the top, under Prerequisites heading?
That can be done. Since you are the author of the article, please make changes as you find appropriate. I am not sure of the rules we need to follow in terms of structure convention for the docs.

[2018-10-04 21:13] ggirard07 commented on #9885
@saurabhsensharma any update on the feedback from @tourili ?
We are experiencing the same issue with our B2C tenant...

[2018-10-04 21:18] timmyreilly opened #16241 "Why are there two different docs for Stored Procedures?"
Just curious... Here's the other one: https://docs.microsoft.com/en-us/rest/api/cosmos-db/stored-procedures

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e21eb833-cdaa-f411-0d65-0486b93a5ef5
* Version Independent ID: 903a65a8-276b-8341-79a5-3bdf1ab58fc8
* Content: [Server-side JavaScript programming for Azure Cosmos D

[2018-10-04 21:31] vinitkhera commented on #16150
What's the hash algorithm used (SHA256 ?) and how can I generate myself a similar value based on client id and anchor claim. I tried few examples with SHA256 alg but wasn't able to match ADFS generated sub claim. The documentation link doesn't have the details.

Regards,

Vinit Khera

-------- Original message --------
From: Celeste de Guzman <notifications@github.com>
Date: 10/4/18 14:23 (GMT-08:

[2018-10-04 21:32] Alberto-Vega-MSFT commented on #14105
Hi @jevgenij-martynenko please check this doc [Windows Analytics in the Azure portal](https://docs.microsoft.com/en-us/windows/deployment/update/windows-analytics-azure-portal)

[2018-10-04 21:32] gonen-kamamber opened #16242 "Error calling Create module azureBlobStorage"
I have added **azureBlobStorage** to the deployment manifest but receiving a "The operation is disallowed" error while the module is being created.

[code]

`System.AggregateException: One or more errors occurred. (**Error calling Create module azureBlobStorage**: Container runtime error - ApiError(ApiError { code: InternalServerError, content: Some(Object({"message": String("unknown: The operatio

[2018-10-04 21:43] MicahMcKittrick-MSFT commented on #16235
Thanks for the question! We are investigating and will update you shortly.

[2018-10-04 21:53] spelluru commented on #12692
#please-close

[2018-10-04 21:54] Mike-Ubezzi-MSFT commented on #16237
@hukun01 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-10-04 21:57] gonen-kamamber commented on #16242
Same error when I try to deploy from Azure Portal

![error output](https://user-images.githubusercontent.com/26745477/46505310-035a4380-c831-11e8-99f2-975eb801c69c.PNG)

Module settings are as follows:
[code]

[2018-10-04 22:00] Mike-Ubezzi-MSFT commented on #16237
@hukun01 You can change throughput but cannot change the 'Storage Capacity' from fixed to unlimited.

![screenshot 386](https://user-images.githubusercontent.com/37126106/46505506-1d226900-c7e6-11e8-878b-14252e33ec00.png)

Please let us know if you have any additional questions.

Regards,
Mike

[2018-10-04 22:01] Mike-Ubezzi-MSFT commented on #16241
@timmyreilly Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-04 22:03] SnehaGunda commented on #13575
@jkindwall We have a work item tracking this in VSTS, we will close it here for now.

#please-close

[2018-10-04 22:05] vapolasa opened #16244 "Architecture Diagram update"
[Enter feedback here]
Can you please change the architecture diagram to reflect the latest one.
https://docs.microsoft.com/en-gb/azure/architecture/reference-architectures/sap/sap-netweaver
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 672e4cc0-5c23-cb7f-90ea-e983c08a69c4
* Version Independent ID: 5d2c3199-0331-e7eb-5f

[2018-10-04 22:10] conceptdev commented on #16123
@JohnStraumann I realize this doesn't help directly, but I've just tested the Objective-C and Swift downloads; and they both work here:

<img width="1853" alt="asma-test" src="https://user-images.githubusercontent.com/199373/46503730-8a330000-c7e0-11e8-8a0b-e5550755685c.png">

My first suggestion would be to verify you have the latest operating system and Xcode installed & configured.

The SDKs an

[2018-10-04 22:15] jeevansd commented on #16226
@chetansriv  Can you please make this change?

[2018-10-04 22:18] rloutlaw commented on #16145
@JasonFreeberg I've verified merged a fix for this, and it should be live tomorrow morning.

[2018-10-04 22:28] JennyLawrance commented on #16184
@lblanche , please send me your site name and I can check what is going on.
(jennylaw(at)Microsoft.com)

[2018-10-04 22:29] SnehaGunda commented on #16241
@timmyreilly this doc: https://docs.microsoft.com/en-us/rest/api/cosmos-db/stored-procedures is specific to REST API content. It has some intro and provides a detailed description of how to perform CRUD operations using REST API calls. There are a series of docs.

Whereas this doc: https://docs.microsoft.com/en-us/azure/cosmos-db/programming#introduction-to-stored-procedure-and-udf-programming jus

[2018-10-04 22:31] hukun01 commented on #16237
Hi Mike,
I communicated with @SnehaGunda , this option is not yet available for multi-master account, but hopefully it will be soon. You may close this thread. Thanks.

[2018-10-04 22:31] SnehaGunda commented on #16237
@hukun01 thanks for the update.

#please-close

[2018-10-04 22:32] YutongTie-MSFT commented on #14142
@abegel This issue has been fixed now. You should see the change now. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-04 22:32] #14142 closed

[2018-10-04 22:37] mx-iao commented on #16000
Hi @ArvidBaa Once the typos are fixed, you should be able to run the code successfully. Please make sure you are using the latest version of the aml sdk. You should update to 0.1.65 if you havent: https://pypi.org/project/azureml-core/

[2018-10-04 22:42] Mike-Ubezzi-MSFT commented on #14122
Per the instructions for the tutorial, where the .env entries are for the Cosmos DB CONNSTR value and the DBNAME value:

COSMOSDB_DBNAME={Your DB Name Here}

C:\Users\miubezzi\projects\npm>node index.js
(node:13524) DeprecationWarning: current URL string parser is deprecated, and will be removed in a future version. To use the new parser, pass option { useNewUrlParser: true } to MongoClient.connec

[2018-10-04 22:58] rolyon commented on #16190
Hi @holgerjay
I don't know why you get this error. I've sent a message to a person in networking to see if I can find out more information.
#in-progress

[2018-10-04 23:00] MGoedtel commented on #16218
@akramwaseem - In the following article - https://docs.microsoft.com/en-us/azure/monitoring/monitoring-container-insights-analyze?toc=%2fazure%2fmonitoring%2ftoc.json#search-logs-to-analyze-data, it covers how to view the performance data in Log Analytics and includes some example queries.  To evaluate POD CPU usage for a specific node, here is an example query to get you started -
Perf
| where Co

[2018-10-04 23:02] Juliako commented on #15495
Updated the learning paths to point to the new AMS v3 content

[2018-10-04 23:02] Juliako commented on #15495
#please-close

[2018-10-04 23:03] #15495 closed

[2018-10-04 23:08] MicrosoftGuyJFlo commented on #15747
In initial registration we only ask for the minimum required methods to get you registered. More than that was causing confusion and adding to the time required. You can always go back and add more methods in the future.

You can always go in and register methods beforehand if your admin has enabled them using https://aka.ms/setupsecurityinfo

[2018-10-04 23:10] MicrosoftGuyJFlo commented on #15787
Unfortunately the blade in the portal where this appears is for both MFA Server (on-premises) and Azure MFA (cloud). Work is being done in the future to fix this in the UI and the article will be updated to reflect those changes when that update happens.

[2018-10-04 23:11] MicrosoftGuyJFlo commented on #15787
#please-close

[2018-10-04 23:11] Karishma-Tiwari-MSFT commented on #16232
@vjabala Is this https://docs.microsoft.com/en-us/azure/application-insights/app-insights-export-telemetry the doc you are referring to for Continuous Export?

[2018-10-04 23:14] MicrosoftGuyJFlo commented on #15954
Reaching out to the PG for clarification.

[2018-10-04 23:14] MicrosoftGuyJFlo commented on #15954
#in-progress

[2018-10-04 23:16] rokeithjr opened #16248 "Powershell syntax error - missing continuations"
The Azure Registration command is missing continuation characters.
When running this command as described, it will complete ignoring the last two parameters.

Set-AzsRegistration `
    -PrivilegedEndpointCredential $CloudAdminCred `
    -PrivilegedEndpoint AzS-ERCS01 `
    -BillingModel Development
    -RegistrationName $RegistrationName
    -EnableUsageReporting $UsageReporting
---
#### Document

[2018-10-04 23:17] MicrosoftGuyJFlo commented on #16124
Doc has been changed since feedback given.

[2018-10-04 23:17] MicrosoftGuyJFlo commented on #16124
#please-close

[2018-10-04 23:20] CarlRabeler commented on #16212
fixed and merged
#please-close

[2018-10-04 23:20] darewreck54 opened #16249 "How to associate {queueTrigger} with service bus"
I'm trying to associate the item that is queued to a service bus as the name of the blob storage .  However, it's not working with.  It works for storage queues.  Any advice on how to do this?

public void method( @ServiceBusQueueTrigger( name="message" queueName="email" connection=&lt;connection&gt;) String message,
@BlobInput( name="content" path="emails/{queueTrigger}", connection=&lt;connectio

[2018-10-04 23:20] CarlRabeler commented on #15859
Fixed and merged. Thanks for the input @MNF
Carl

[2018-10-04 23:21] CarlRabeler commented on #15859
#please-close

[2018-10-04 23:29] YutongTie-MSFT commented on #13062
@diberry Thanks Dina!

@vivekjainAco We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-04 23:29] #13062 closed

[2018-10-04 23:30] Mike-Ubezzi-MSFT commented on #14122
To use the .env with process.env.COSMOSDB_CONNSTR+process.env.COSMOSDB_DBNAME+"?ssl=true, the property `useNewUrlParser: true` needs to be passed to MongoClient,connect.

Since the URL string parser will be removed in a future version, the connection string detail needs to be updated.

[2018-10-04 23:32] #15859 closed

[2018-10-04 23:35] YutongTie-MSFT commented on #16204
@cforbe Look forward to your response. Thanks!

[2018-10-04 23:42] kgremban commented on #11884
Hi again @Cherisle, and thanks for the details. I scanned your code and one thing that I don't see is where you declare an output in your sending module. You should be using something like [SendEventAsync](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.devices.client.moduleclient.sendeventasync?view=azure-dotnet) which takes an output name as a parameter, and then you can target that

[2018-10-04 23:47] #16237 closed

[2018-10-04 23:49] NandishNM commented on #16167
I'm refering to the below link

https://docs.microsoft.com/en-us/azure/monitoring/monitoring-service-map-configure

Regards,
Nandish N M

[2018-10-04 23:50] kgremban commented on #12495
@dsajanice I'm taking the changes that I suggested in the pull request and applying them to the other custom code tutorials, then closing this issue as resolved. If you think that there's more information that should be added, please reach out to me directly.

[2018-10-04 23:54] JimInWA opened #16250 "Why is Visual Studio 2017 giving Messages in the Error List when using the sample JSON within a DeploymentProject?"
Why is Visual Studio 2017 (VS2017) giving Messages in the Error List when using the sample JSON within a DeploymentProject?

Repo steps:
1. Go to VS2017 and open an existing DeploymentProject (.deployproj) or create a new one
2. Add a new file Azure Resource Manager Deployment Template
3. Go to the "Create empty resource group" section of this article
4. Copy the JSON
5. Go back to VS2017 and past

[2018-10-05 00:06] MarkAtAgilliance opened #16251 "Typo in tumbling window frequency."
At https://docs.microsoft.com/en-us/azure/data-factory/how-to-create-tumbling-window-trigger#tumbling-window-trigger-type-properties, the frequency section says "For example, if the frequency value is hourly and the startTime value is 2016-04-01T10:10:10Z, the first window is (2017-09-01T10:10:10Z, 2017-09-01T11:10:10Z).".   There are two dates specified - 2016-04-01 and 2017-09-01 and I think wit

[2018-10-05 00:09] MicrosoftGuyJFlo commented on #15747
#please-close

[2018-10-05 00:19] MicrosoftGuyJFlo commented on #15954
Program Manager is responding via Twitter. #please-close

[2018-10-05 00:19] #16133 closed

[2018-10-05 00:29] priyamohanram commented on #15493
@kylecweeks: Thanks for the feedback. Since the sign-in reports require a premium license, that requirement applies to the content pack as well. I've fixed the issue and the documentation should be updated shortly. Please let me know if you have any further questions.

#please-close.

[2018-10-05 00:37] kazshi commented on #14013
@CarlRabeler Thank you for the info. Closing for now.

[2018-10-05 00:47] MicahMcKittrick-MSFT commented on #16167
@NandishNM thanks for that.

@femsulu can you take a look?

[2018-10-05 00:50] kazshi commented on #16166
@tfitzmac Thank you for the info - I wasn't sure where I can find the operation but I see now.

[2018-10-05 00:53] #10556 closed

[2018-10-05 00:53] Karishma-Tiwari-MSFT commented on #10556
@michaelpowerz We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-05 00:53] #13575 closed

[2018-10-05 00:55] Karishma-Tiwari-MSFT commented on #14209
@Pikhulya We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-05 00:55] #14209 closed

[2018-10-05 00:55] Karishma-Tiwari-MSFT commented on #15787
@henrikhallebrand Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-05 00:55] #15787 closed

[2018-10-05 00:56] timmyreilly opened #16252 "You're really teasing us with this preview...."
Any idea when this will GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e35f1d1-c4d6-9297-3534-ada60bb09c33
* Version Independent ID: 59854c80-e26d-1b0e-ce19-675ed3dac39a
* Content: [Custom DateTime path patterns for Azure Stream Analytics blob storage output (Preview)](https://docs.microsoft.com/en-us/azure/stream

[2018-10-05 00:56] Karishma-Tiwari-MSFT commented on #16212
@markgar Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-05 00:56] #16212 closed

[2018-10-05 00:56] Karishma-Tiwari-MSFT commented on #16124
@v-videba Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-05 00:56] #16124 closed

[2018-10-05 01:00] spelluru commented on #7317
@clemensv - could you please confirm the following?

"webHttpRelayBinding only works for dynamic relay scenarios."

Thanks,
Sreedhar

[2018-10-05 01:03] spelluru commented on #15852
@HarryLeboeuf - Are you still having this issue?

Microsoft.Azure.ServiceBus

Are you using Visual Studio 2017 Update 3 (version 15.3, 26730.01) or later as mentioned in the prerequisites?

@axisc

Thanks,

[2018-10-05 01:05] spelluru commented on #15719
@axisc

[2018-10-05 01:08] #15493 closed

[2018-10-05 01:08] Karishma-Tiwari-MSFT commented on #15747
@jegilber We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-05 01:08] #15747 closed

[2018-10-05 01:08] Karishma-Tiwari-MSFT commented on #15954
@itguysocal We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-05 01:08] #15954 closed

[2018-10-05 01:11] Karishma-Tiwari-MSFT commented on #16200
@AlikaIhsahn That makes sense. Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-05 01:14] rongduan-zhu commented on #16204
Hi @ArvidBaa,

I am an engineer on the DataPrep team. These are good questions, let me try address them:
1. **Q:** “is `password=[DATABASE-PASSWORD]` really correct inside the call to `dprep.MSSQLDataSource()`? My guess is that it should really be `password=secret`, right?”
**A:** Yes, you are correct, this is a documentation error on our end. The document should say `password="[DATABASE-PASSWORD]

[2018-10-05 01:19] Karishma-Tiwari-MSFT commented on #16179
@YvonneArnoldus As you are question is being addressed on [MSDN](https://social.msdn.microsoft.com/Forums/en-US/68803171-d428-427f-ab35-fb95fb193fc2/performance-stability?forum=WAVirtualMachinesforWindows), I will close this issue here. Thanks.

[2018-10-05 01:19] #16179 closed

[2018-10-05 01:31] markolbert commented on #15938
FWIW, this looks more like a bug somewhere in the Microsoft code base, not a documentation issue. I hope you'll also refer it over to the product development team.

[2018-10-05 01:41] jason-j-MSFT commented on #15891
@ShubhaVijayasarathy we have a request for Avro information, could you take a look?

[2018-10-05 01:57] ecfan commented on #15937
@asvyat Thanks for submitting this issue. We've created a work item to address.

@femsulu #please-close

[2018-10-05 02:06] v-maroge opened #16255 ""Threat Detection Types" in threat detection set up"
Hi,
I need to specify what kind of alerts would be sent for each "Threat Detection Types" in the threat detection set up pane in the portal. I figure a lot of them are correspondant with Threat Detection Alerts, but can you give me a brief explanation for all of the types? (Especially for Data exfiltration, Unsafe action, and Anomalus client login.
Thanks

---
#### Document Details

⚠ *Do not edit

[2018-10-05 02:40] femsulu commented on #16250
@JimInWA Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-10-05 02:44] CelesteDG commented on #16150
Thank you, @vinitkhera - I'm adding my colleague, @billmath who would be better able to help answer your questions.

[2018-10-05 03:33] SnehaGunda commented on #16127
@icontreras7 per the information I got from our team,
* To read 1KB data, 1RU/s is consumed
* To write 1KB of data, 5 RU/s is consumed
So, (500reads/s * 1RU/s) + (100writes/sec * 5RU/s) = 1,000 RU/s.
Note that these RU/s for read and write are rounded values, actual values would be little different. We are planning on making some changes to this doc in the upcoming weeks and it will include a deta

[2018-10-05 03:39] virajpangam commented on #16013
@SaurabhSharma-MSFT  if you see the code you pointed me to, it is asking for certificate path and password
` //demoing Certificate auth
        KeyVaultClient kvClientCertAuth = KeyVaultCertificateAuthenticator.getAuthenticatedClient(System.getProperty("CERTIFICATE_PATH"), System.getProperty("CERTIFICATE_PASSWORD"));`

How can we provide the certificate path if we are hosting the app on an Azure A

[2018-10-05 03:52] TravisCragg-MSFT commented on #16238
@danabrash When adding a rule to Azure Firewall, you have to select what type of rule you are going to add:

![image](https://user-images.githubusercontent.com/38542241/46515170-01838680-c817-11e8-86b0-f99b11811f1f.png)

These can be NAT rules, network rules, and applications rules. Network Rules are NOT NSGs.

[2018-10-05 03:57] DaveKlassen opened #16257 "Resource Explorer"
Do you know is Resource Explorer being phased out? Or have the new Metric Alerts just not  made it there yet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f2bd9d0-af11-d684-051b-7ac8e611cca9
* Version Independent ID: f83d6e85-4d52-6b7f-a79e-f3ed3f3d0a95
* Content: [Create a metric alert with a Resource Manager templ

[2018-10-05 04:08] danabrash commented on #16238
@tcragg

You are correct. My question is about how firewalls do work with NSGs as indicated in the FAQ.   What is the “infrastructure rule collection” referenced in this article?  Not NAT, not network, not application....  then ?  Is there somewhere that the rules application flow across firewall and NSG documented?

Thanks

[2018-10-05 04:28] #15869 closed

[2018-10-05 04:31] SnehaGunda commented on #15767
@ankitshrivastava1987 We need to debug it further and take a look at your environment. Can you please send an email to askcosmosdb@microsoft.com alias, it creates a support request and someone from our team will get on a call with you.

[2018-10-05 04:37] femsulu commented on #16065
reassigning to @cwatson-cat  to take appropriate action. unable to resolve @tonguyen10 in GH assignee list.

[2018-10-05 04:39] TravisCragg-MSFT commented on #16238
@danabrash my apologies, you are correct! Infrastructure rules are default rules added to your Azure Firewall. [You can find more information Here](https://docs.microsoft.com/en-us/azure/firewall/infrastructure-fqdns).

[2018-10-05 04:39] femsulu commented on #16066
@georgewallace any insights on this?

[2018-10-05 04:40] femsulu commented on #16061
@snehithm  - any insights on this please?

[2018-10-05 04:44] georgewallace commented on #16066
@waynemsft To Answer your questions. For classification of patches we enrich the patch data on our side to be able to provide the additional information such as classification that is not available normally, on an OS like CentOS.  Each operating system has it's own enrichment data provided by us.

When a new CVE is issued, for Linux machines it will show up within 2-3 hours of release.  For Window

[2018-10-05 04:44] femsulu commented on #16147
@snehithm can you assist with this?

[2018-10-05 04:45] MicrosoftGuyJFlo commented on #15954
@itguysocal Not that she had anything to report but she has engaged with you there and will continue the conversation with you directly. If she needs me to make updates at that time she and I will work together in the background to make any required updates.

[2018-10-05 04:45] femsulu commented on #16148
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-10-05 04:45] #16148 closed

[2018-10-05 04:52] waynemsft commented on #16066
Hi @georgewallace,

Yes. Those information are good and valuable.
Thank you for the information.

Cheers

[2018-10-05 04:58] femsulu commented on #16173
Adding content owners to resolve the doc bug.

@bwren & @mrbullwinkle : the Application insights link referenced [here ](https://docs.microsoft.com/en-us/azure/azure-monitor/overview#application-insights)redirects to the doc page. Please help initiate a PR to resolve.

[2018-10-05 05:00] femsulu commented on #16232
@vjabala can you please confirm if this is the doc you are referring to?

[2018-10-05 05:11] SaurabhSharma-MSFT commented on #16214
@jklein68 What is the OS version you are using ? is it windows server 2016 ?

[2018-10-05 05:14] danabrash commented on #16238
@tcragg

Fantastic, thank you. That’s helpful

Do you know whether there is more information somewhere about the relationship between and configuration of Azure Firewalls and NSGs?

I’d hoped to use the NSG default allow internet and default deny rules as the catch for my firewall rules but they don’t seem to stack.

So I question the FAQs assertion that they actually work together at all.  E.g. I

[2018-10-05 05:34] SnehaGunda commented on #13626
@benoitc quick followup, can you please elaborate more on which vldb paper are you referring to? and which part of content in docs is it related to?

[2018-10-05 05:38] SnehaGunda commented on #12911
#please-close

[2018-10-05 05:38] SnehaGunda commented on #14258
#please-close

[2018-10-05 05:39] jklein68 commented on #16214
This is 2012 R2.

Jason
On Oct 5, 2018 12:11 AM, SaurabhSharma-MSFT <notifications@github.com> wrote:

@jklein68<https://github.com/jklein68> What is the OS version you are using ? is it windows server 2016 ?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/MicrosoftDocs/azure-docs/issues/16214#issuecomment-427248257>, or mute

[2018-10-05 05:40] SnehaGunda commented on #14796
@Sajlib please let us know if you are still seeing issues with this query.

[2018-10-05 05:44] Powerhelmsman opened #16259 "Please enable a way to hide Java examples and/or select your preferred programming language"
This issue was created by @rdiazconcha from https://github.com/MicrosoftDocs/feedback/issues/736

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf35b25c-4f4c-920b-320d-8282a79ad7d3
* Version Independent ID: 07be307b-38b1-6cf2-46bf-7032d69648f2
* Content: [Reliable Services communication overview](https://docs.microsoft

[2018-10-05 05:49] zepedaherbey opened #16260 "Scaling and price"
The scaling in question here seems to be of two types:
1) Container-wise, with a fixed set of VM's
2) Azure native services

I am particularly interested in (1) with respect to pricing.
Question, what is the advantage of scaling out and in as far as pricing is concerned if I am already paying for the VM's? If I am paying for a cluster of, say, 10 VM's and I want to scale out/in by adding more inst

[2018-10-05 05:53] SaurabhSharma-MSFT commented on #16214
@jklein68 ok, please refer to `[New-SelfSignedCertificate](https://docs.microsoft.com/en-us/powershell/module/pkiclient/new-selfsignedcertificate?view=winserver2012r2-ps) document which has correct syntax  for 2012 r2 version.  You don't have to pass "-Subject" parameter to 2012 r2 version of New-selfsignedcertificate cmdlet

[2018-10-05 06:07] mike-urnun-msft commented on #16249
@darewreck54
Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-10-05 06:39] NandishNM commented on #16167
Hey Hi, I got that worked looked to be an issue with chrome, tried it with edge and it worked.
But stuck at a different issue from morning.

I was able to successfully connect the VMs which are in Azure, but when I try to connect my on premisis VMs which doesnt have internet using OMS Gateway installed on a different server, I cant see the VM in the ServiceMap summary view.

But when I go to OMS P

[2018-10-05 06:41] MikkelHegn commented on #12572
@rwike77 to help with how to structure the how-to's.

[2018-10-05 07:03] JamesDLD commented on #16191
Interesting, I just received this message : Subscription xxxxxxxx is not registered for feature Microsoft.Network/AllowOutboundNatRule

[2018-10-05 07:08] ArvidBaa commented on #16000
Yes, after upgrading to the latest version, I can confirm that the code can be run successfully after the typos are fixed.

Thank you for your help!

[2018-10-05 07:28] ArvidBaa commented on #16204
Hi @rongduan-zhu,

1. You say that the document should say `password="[DATABASE-PASSWORD]"`, but the data type for the method is not a string, but a `azureml.dataprep.api.engineapi.typedefinitions.Secret` object (see [the documentation](https://docs.microsoft.com/en-us/python/api/azureml-dataprep/azureml.dataprep.api.datasources.mssqldatasource?view=azure-dataprep-py)). So I believe the true value

[2018-10-05 07:33] adobedoe opened #16263 "queues MaxPollingInterval is a timespan in v2"
if you set maxPollingInverval to an integer, it treats it as days in v2 host.json.  Looking at the code, it seems to parse this as a timespan so you'd set it like "maxPollingInterval": "00:00:02" for 2 seconds

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27150c55-615f-fb44-d5e4-7b5815631c7d
* Version Independent ID:

[2018-10-05 07:34] priyatharshiniSundaram opened #16264 "In SDK v4 i couldn't see qnamaker details ,how can i create qnabot in sdkv4"
In SDK v4 i couldn't see qnamaker details ,how can i create qnabot in sdkv4

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f45d867c-c72a-c619-b58a-777ff5f8c5c1
* Version Independent ID: e0f90b85-14bb-0925-c50b-b1d31dd9388a
* Content: [QnA bot with Azure Bot Service - QnA Maker - Azure Cognitive Services](https://docs.m

[2018-10-05 07:37] WhiteyC opened #16265 "Dynamics 365 connector DF missing sink types"
Still waiting for the Data Factory V2 Dynamics 365 connector to support sink data types. Specifically "Owner". This makes integration from external systems into CRM very difficult without the ability to set the owner field on sink.

Please advise on timelines.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 304d4c46-c0a

[2018-10-05 07:38] rongduan-zhu commented on #16204
Oh yes, you are absolutely right for 1. My mistake.

Happy to hear you are unblocked now! Will update this thread again once all the issues have been resolved on our end.

[2018-10-05 07:42] Sajlib commented on #14796
@SnehaGunda Thanks for looking into it.
I was just missing the quote escapes when calling directly from the API.

[2018-10-05 07:59] Sethu2488 commented on #16089
thank you for the information.

[2018-10-05 08:01] brijrajsingh commented on #15885
https://docs.microsoft.com/en-us/azure/machine-learning/data-science-virtual-machine/dsvm-deep-learning-ai-frameworks#nvidia-digits

[2018-10-05 08:05] brijrajsingh commented on #15885
PS - I can't reopen an issue that I didn't close myself, so lets please reopen and work on this.

[2018-10-05 08:20] Dharita opened #16266 "How to use Azure Redis Cache"
I am using API Management (APIM) to publish APIs to external. I want to integrate Azure Redis cache with it so as to improve performance. Is there any way for the same?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad05f88c-be94-58f8-b05c-a4a1a102e24f
* Version Independent ID: 8f58d4b1-73f7-41f2-a15b-fe71d8bf82b0
* Co

[2018-10-05 08:49] matevarga opened #16267 "1. Obtain the .cer file for the root certificate -- Linux link is incorrect"
Linux instructions point to https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-certificates-point-to-site-makecert instead of https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-certificates-point-to-site-linux

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59e72010-dab4-54d9-1409-c95b0ce60824
*

[2018-10-05 08:54] BilawalAsghar opened #16269 "Azure B2C for SharePoint 2013 On Premises"
Could you please confirm that , is it possible to use SharePoint On Premises with Azure B2C.
like i can authenticate SharePoint On Premises users for Azure AD as described in below link.
https://docs.microsoft.com/en-us/office365/enterprise/using-azure-ad-for-sharepoint-server-authentication

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-10-05 09:08] payalgaikwad42 opened #16270 "IoT Edge version 1.0.2 not working"
Hi,
i am trying to update the new version of iotedge on my ubuntu 16.04 system from past week but it gives the same error everytime:
payal@payalG-PC:~$ sudo systemctl status  iotedge
● iotedge.service - Azure IoT Edge daemon
   Loaded: loaded (/lib/systemd/system/iotedge.service; enabled; vendor preset: enabled)
   Active: inactive (dead) (Result: exit-code) since Fri 2018-10-05 14:03:38 IST; 8s a

[2018-10-05 09:15] rjarrattmsft opened #16271 "URL for ADFS to get metadata seems incorrect"
I think the URL is missing "te" and should be: https://login.microsoftonline.com/te/your-tenant/your-policy/samlp/metadata?idptp=your-technical-profile

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e14a5d4c-5125-8ed2-7fda-38aee1296b76
* Version Independent ID: 054d298b-937e-9f01-ae56-7025e47e4eec
* Content: [Add ADFS

[2018-10-05 09:35] MedAnd opened #16272 "Automatic Backup and Restore service for Service Fabric stateful services was announced at Ignite"
At Ignite general availability of the Automatic Backup and Restore service for Service Fabric stateful services was announced:
https://azure.microsoft.com/en-us/blog/azure-service-fabric-updates-at-ignite-2018/

Wondering if the Preview tag should be removed as I cannot see this feature in the latest release notes: https://blogs.msdn.microsoft.com/azureservicefabric/2018/10/01/microsoft-azure-serv

[2018-10-05 09:37] nithinkd-geon opened #16273 "use case for IEventProcessorFactory in EPH"
is r it required to use IEventProcessorFactory for parallel processing of events instead of IEventProcessor?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78479c3a-c7b1-e27c-b390-107ba95d0fac
* Version Independent ID: 75219d0f-6fa7-0991-7fc0-bfe59e4c1da6
* Content: [What is Azure Event Hubs Event Processor Host and wh

[2018-10-05 09:41] bjthomson commented on #14663
@ghogen  I guess everyone has been rather busy polishing the October update, but is there any update on this?

[2018-10-05 09:46] bally-singh commented on #16216
Hi Micah,

It was this article:

https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-nps-extension-rdg

[2018-10-05 09:56] sorgina13 opened #16274 "Update to SDK4"
I think the program example needs to be updated. We've changed the defs from var to const

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c048df6-e3cf-3459-d5c1-5cba869ae55a
* Version Independent ID: 265cc39b-82bd-a383-cf6f-f1acaec70511
* Content: [LUIS Bot with Node.js - Web app Bot - Bot Framework SDK 3.0 - Azure Cog

[2018-10-05 10:08] ravikiran-srini commented on #15574
Hello Alberto,

Thanks for your response. I know how to set up a point-to-site VPN. But when I tried setting that up for my on-prem data for ADF, I was not successful with it. I am not sure what is the issue. Maybe if there is a how-to- document, it would be great!

[2018-10-05 10:11] blueelvis commented on #16187
@mike-urnun-msft - Hey Mike! My bad on this. I meant in the context of "Run from Package" feature which was made available recently. The page which is linked at the top also talks about that only. Since the ZIP file is mounted as read-only in this feature, what happens when the contents of this ZIP file are changed? Will the read-only mount in the Web App change as well?

[2018-10-05 10:13] SychevIgor opened #16275 "Update screenshot to address latest portal.azure.com UX"
Screenshot was done on OMS portal, not on Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75e03cab-8fc5-408c-66ec-f353080eebda
* Version Independent ID: c9d1d562-e428-d439-1831-d7e523a047eb
* Content: [Configure data sources in Azure Log Analytics](https://docs.microsoft.com/en-us/azure/log-analytics/log-analytic

[2018-10-05 10:16] fusionet24 opened #16276 "How to disable Data Capping email instructions?"
Hi,
 Your data capping emails direct me here to disable email notifications but there is nothing on this page on how to achieve this and I can't find anything in portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93d51fcb-63a2-c622-7df3-27703a171b3a
* Version Independent ID: 0e2ed122-08c3-fae2-3b7f-6fde780a9933
* C

[2018-10-05 10:28] mdenieffe opened #16278 "Code snippets to upload to static website not working"
macOS: 10.13.6
azure-cli: (2.0.46)

I kept getting this error whenever I was executing the upload command.

az storage blob upload-batch: error: argument --destination/-d: expected one argument

I had to put the destination in quotes to get the upload working...

az storage blob upload-batch -s &lt;local-dir&gt;-d '$web'

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2018-10-05 10:43] mrmueller opened #16279 "Licensing"
Hi,

I understand that i need Azure AD Premium. But do i need to license guest users? My unterstandig is that guest users don't need a license (5 guests per User)

However: Does a guest account need an AAD license in his own tenant?
Or do i need more MFA licenses in my tenant?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2018-10-05 10:43] #16191 closed

[2018-10-05 10:45] JamesDLD commented on #16191
There it is, it now working like a charm!
Thank you @christiankuhtz @TravisCragg-MSFT

I did also published a Terraform module that calls a json template that creates a LB with outbound rule : https://github.com/JamesDLD/terraform/tree/master/module/Add-AzureRmLoadBalancerOutboundRules

[2018-10-05 11:06] femsulu commented on #16257
@DaveKlassen Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-10-05 11:09] SychevIgor opened #16280 "Update screenshot with UX from Azure portal, not form OMS"
Update screenshot with UX from Azure portal, not form OMS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21eb5eb5-727d-c75e-33ba-31c823eed9d9
* Version Independent ID: 35585318-b445-3eed-e9b4-4bb5d8b71085
* Content: [Collect and analyze Windows Event logs in Azure Log Analytics](https://docs.microsoft.com/en-us/azure/l

[2018-10-05 11:10] SychevIgor opened #16281 "Left side for both linux and windows counters looks shorter. Please Update OMS UX to Azure portal UX"
Left side for both linux and windows counters looks shorter. Please Update OMS UX to Azure portal UX

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 018e59bd-1f1c-738d-069c-04e983125e02
* Version Independent ID: c79069b7-8376-9086-13cf-cf914fae7a91
* Content: [Collect and analyze performance counters in Azure Log Analyt

[2018-10-05 11:10] diberry commented on #16274
@sorgina13 Thank you for letting us know about this. At this time, the document is written for an Azure web app bot using 3.x SDK with Node.js and the LUIS template. This template currently uses the keyword `var` for variable definitions. Which Node.js template are you using with 3.x SDK in the bot that you are seeing the keyword `const`?

[2018-10-05 11:14] MedAnd commented on #16272
Assume this doc will be updated once Service Fabric run-time version 6.4 is available for download?

[2018-10-05 11:16] Dharita opened #16282 "Azure API Management - Out of call volume quota"
I am using Azure API Management to manage my Web Apps in Azure. I have not configured any kind of quota limit or rate limit explicitly. Even though if APIs are hit more than 20 times a day I get the following error with status code 403.
Out of call volume quota. Quota will be replenished in 5.03:23:11

More details at : https://stackoverflow.com/questions/52663409/azure-api-management-out-of-call-

[2018-10-05 11:28] hrushib commented on #16272
@MedAnd, your assumption is right. It will be updated once the GA bits of this feature are shipped.

[2018-10-05 11:33] mchudinov opened #16284 "RequestsSigned metadata parameter is not listed"
RequestsSigned is not in the list of possible Metadata elements.
RequestsSigned  is in use here in ADFS tehcnical profile https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-custom-setup-adfs2016-idp

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5330b0b2-0c1c-ebe8-cf24-2a6430e44c28
* Versi

[2018-10-05 12:05] richcorless opened #16287 "Image URI does not exist"
Hi,

Setting up a module with the URI "mcr.microsoft.com/azure-blob-storage" errors on the Edge device as it cannot find the image. I have got "mcr.microsoft.com/azure-blob-storage:linux" and "mcr.microsoft.com/azure-blob-storage:1.0" to download to the Edge device and run but I am unsure whether these are the correct images I should be using.

Could it be made clearer which image should be used p

[2018-10-05 12:27] mchudinov opened #16288 "SamlAssertionSigning is not listed in CryptographicKeys table"
SamlAssertionSigning is a possible element under CryptographicKeys section of a ClaimsProvider defiition in a policy file. It should be documented in the according section of this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5330b0b2-0c1c-ebe8-cf24-2a6430e44c28
* Version Independent ID: 1a3cddf5-3184-c745-1

[2018-10-05 12:36] jtuliani opened #16289 "Linux version"
Excellent page, very thorough. However, I can't find an equivalent page for Linux VMs?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b9c0d7a-bbf5-eccc-f2ca-a825bf42c82f
* Version Independent ID: 58aa93af-4030-1541-a14c-c66c683ccf7c
* Content: [Prepare a Windows VHD to upload to Azure](https://docs.microsoft.com/en-ie