[2019-03-12 17:21] Mike-Ubezzi-MSFT commented on #26867
@chrislewisdev2 Thank you for this insight and feedback. This will be reviewed and updated accordingly by a content author.

[2019-03-12 17:21] PatrickFarley commented on #26261
@RohitMungi-MSFT , can you confirm that the intended API level is in fact 23 and not 22?

[2019-03-12 17:23] superbobstar commented on #26879
i agree with @expiscornovus

[2019-03-12 17:28] BryanTrach-MSFT commented on #26859
@forester123 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-12 17:30] #25362 closed

[2019-03-12 17:30] BryanTrach-MSFT commented on #26884
@Sheikh-Aman Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-12 17:33] priyamohanram commented on #26895
@Roblarson : Thank you for the feedback! Currently, all alphanumeric characters (0-9, a-z, A-Z), the underscore (_) and the hyphen (-) are supported. I've fixed the error and the documentation should be updated shortly.

Please feel free to open a new issue if you have any questions or comments. Thank you! #please-close

[2019-03-12 17:35] carehart commented on #24835
Thanks very much, Ajay.

[2019-03-12 17:35] YutongTie-MSFT commented on #26392
@LukeOlsen-zz Hi Luke, based on the discussion offline with Qinying, we don't have that plan for now.  Could you please post your feedback to UserVoice, it will help the Product group to decide which feature should be on the plan in the near future. Thank you a lot and sorry for all the inconveniences.

[2019-03-12 17:35] #26392 closed

[2019-03-12 17:37] AmanGarg-MSFT commented on #26895
@priyamohanram Thank you!

[2019-03-12 17:37] #26895 closed

[2019-03-12 17:39] AmanGarg-MSFT commented on #26893
@mumian Thank you!

[2019-03-12 17:39] #26893 closed

[2019-03-12 17:40] MicahMcKittrick-MSFT commented on #26885
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-12 17:43] MarileeTurscak-MSFT commented on #26878
@scottsa-msft thanks for your feedback! I've passed it along to the content author, @curtand

[2019-03-12 17:51] antonihanus opened #26896 "Virtual machine Metrics Collection is confusing"
The table includes Virtual Machines, but in the paragraph introducing the table, there is no explanation on 'Extension' like there is for Diagnostics, Storage and Connectors.

Ideally it should be highlighted in the table that SOME of the Virtual Machine logs fit the 'storage' category in that the logs can be stored to a storage account and then the storage account can be added to log analytics (A

[2019-03-12 17:52] cijothomas commented on #14929
https://github.com/MicrosoftDocs/azure-docs/pull/26897

[2019-03-12 17:54] TracyGH opened #26899 "Search index 'orphans' seem to affect search indexing behavior"
Per the documentation above:  "If you delete the blobs outright, corresponding documents will not be removed from the search index."  And in cases where this happens, search index 'orphans' are created.  The Azure index-ing behavior seems to be affected by the presence of such 'orphans'.  For example, it seems that if I have 2 orphans in my index, then Azure will not index 2 of the blobs that actu

[2019-03-12 17:58] Karishma-Tiwari-MSFT commented on #26360
@OffColour can you please help clarify whether this is something you are suggesting to be updated in the doc or you are looking for alternate solutions?

[2019-03-12 18:02] jlian commented on #26870
Yes, this looks right. Adding @erich-wang to double check.

You made sure to [turn on "DistributedTracing" in the diagnostic settings](https://docs.microsoft.com/azure/iot-hub/iot-hub-distributed-tracing#configure-iot-hub), yes?

[2019-03-12 18:02] MicahMcKittrick-MSFT commented on #26885
@jancorluy we have a section on managing secrets. Did you find that article?

https://docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-howto-manage-secrets

[2019-03-12 18:03] MicahMcKittrick-MSFT commented on #26357
@coosmiin I have assigned this to the content authors to review and add this work to the backlog.

[2019-03-12 18:04] deltadan opened #26900 "Zonal deployment"
Is this correct?

Zonal gateways
When you create a public IP address using the Standard public IP SKU and specify the Zone (1, 2, or 3), all the gateway instances will be deployed in the same zone.

Seems to defeat the purpose of having multiple zones?  or do we have to do an active-active config to truly leverage the zones?

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-03-12 18:04] Mike-Ubezzi-MSFT commented on #24877
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-12 18:04] #24877 closed

[2019-03-12 18:05] MicahMcKittrick-MSFT commented on #26341
@PixelRobots I discussed this issue with some of the Service Fabric Product team members and we think it would be best to get you in touch with a Support Engineer to take a look at the logs and your enviornment details.

Do you have the ability to open a technical support ticket? If not, you can email me at AzCommunity@microsoft.com and provide me with your SubscriptionID and link to this thread.

[2019-03-12 18:05] #26341 closed

[2019-03-12 18:08] SwamyNallamalli commented on #26742
I am using this to run every 30 minutes -  _0 0/30 * * * *_
But if an instance is running for more than 30 minutes, the second instance is starting. Is there a way to avoid the second instance to kick off while the first one is still running?

[2019-03-12 18:18] MarileeTurscak-MSFT commented on #26868
@hakimtaoussi Are you saying that in the screenshot the IssuerUri should be set to the one described? I am assigning your feedback to the content author to look into. @billmath

[2019-03-12 18:21] Alberto-Vega-MSFT commented on #26872
@toddgauntgs Thanks for your feedback! Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-12 18:23] SaurabhSharma-MSFT commented on #26734
@Placid7 I do not think that there is a service tag for JIT.  JIT is used to block all inbound traffic to your Azure VMs by creating a new NSG rule and you need to actually request access to VM and the ports will be opened for a specific period of time. You can use Service Tags to make a specific service reachable from VM. For example - if you add a "Storage" service tag traffic is allowed or deni

[2019-03-12 18:24] jancorluy commented on #26885
Yes, i read that article, but it doesn't work anymore if I follow that syntax and rules specified my app doenst work anymore.  So I think this page needs to be updates with the latest info. And provide a sample app using it.
Is there anyway i can fill up the value of an environment variable with the value of a service?

[2019-03-12 18:31] guillermoarellano commented on #21610
Hi @msangapu

Yes,  I believe having the custom deployment script mentioned in the tutorial is valuable. Especially if your web application is an Angular app. Developers using that framework need to use the Angular-CLI to set and run Build commands on the server prior to having a DIST folder where the bundles will be served from.

Tried to just connect Azure to my GitHub account and **master** bra

[2019-03-12 18:31] murdockcrc commented on #26870
Yes it’s enabled on West US 2

[2019-03-12 18:32] AjayKumar-MSFT commented on #26518
@Kazshi, Sorry for the delay! We have been discussing on this internally with the product team and will get back to you soon.

[2019-03-12 18:34] HeidiSteen commented on #13135
This is done:  https://docs.microsoft.com/en-us/azure/search/cognitive-search-skill-ocr
#please-close

[2019-03-12 18:39] HeidiSteen commented on #15489
I filed an issue for the content backlog, copying the contents of this issue.

#please-close

[2019-03-12 18:44] #26713 closed

[2019-03-12 18:44] spelluru commented on #26526
#in-progress

[2019-03-12 18:47] Mike-Ubezzi-MSFT commented on #26858
@alo360 Thank you for the detailed feedback. The content author is reviewing this and will update this after review.

[2019-03-12 18:48] eugen-nw opened #26904 "Windows containers' slow network readiness"
That is not limited only to containers running in ACI, but it is an overall Windows container issue, right?

The reason for asking is that I'm experiencing it as well on my Windows 10 computer running containers built on top of microsoft/windowsservercore:10.0.14393.2665.  Spying with "docker events" I see that there's a 20+ second delay after each line that contains "network connect &lt;some iden

[2019-03-12 18:48] Mike-Ubezzi-MSFT commented on #26858
Making @CarlRabeler aware.

[2019-03-12 18:49] MicahMcKittrick-MSFT commented on #26885
@rwike77 @aljo-microsoft could either of you comment further?

[2019-03-12 18:50] v-miclar commented on #21043
#close
This is already covered in the topic [Update an existing SaaS application offer](https://docs.microsoft.com/azure/marketplace/cloud-partner-portal/saas-app/cpp-update-existing-offer), in the section _Unpermitted changes to a SaaS offer_, in the bullet:
- Billing/license model changes to existing offers
So the answer is no, you have to create and publish a new offer.

[2019-03-12 18:51] Grace-MacJones-MSFT commented on #15489
We will now proceed to close this thread.

[2019-03-12 18:51] #15489 closed

[2019-03-12 18:53] dsindona commented on #21043
#please-close

[2019-03-12 19:00] HeidiSteen commented on #26572
@AlexFiala the portal creates an 'indexer' behind the scenes, with the option for adding cognitive services APIs for text analysis.  For text analysis, you are mostly using indexers. The new piece is the addition of a skillset.

This feature is in preview and is REST API only (see https://docs.microsoft.com/en-us/azure/search/cognitive-search-concept-intro#where-do-i-start)

For REST:
https://docs

[2019-03-12 19:00] cherylmc commented on #23420
Updated docs. #please-close

[2019-03-12 19:03] ronhowe opened #26905 "Empty Container Deletion Policy?"
Is there a way to define a policy to delete empty containers?

[2019-03-12 19:06] mswilson4040 commented on #26497
Issue is also  present in Visual Studio:

![image](https://user-images.githubusercontent.com/19480392/54228383-4c3cb500-44bf-11e9-95e1-692b76fec891.png)

[2019-03-12 19:09] vladvino commented on #21677
The proposed change has been implemented in https://github.com/MicrosoftDocs/azure-docs/commit/a2a6cbed3b2a10aa11e5f7ba12daddfa1b53b9b5#diff-f7ce4caed7dc01a29d17f59b385d6d47. #please-close

[2019-03-12 19:12] femsulu commented on #26787
@uopeydel Sorry for the issue you encountered. Since this channel is reserved for documentation related feedback, I recommend either posting your question on the [MSDN Forum for Log Analytics](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=opinsights) or engaging the [Azure technical support team](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-supp

[2019-03-12 19:12] #26787 closed

[2019-03-12 19:30] vladvino commented on #21589
Good catch, thank you @cpdohert. Addressed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/69232/commits/a4fd5359bbe4e9e5ec54116dcf073a7371698c2d. #please-close

[2019-03-12 19:41] vladvino commented on #17999
Resolved in https://github.com/MicrosoftDocs/azure-docs/commit/607aab6f6b6e917e9b2a27c816a168292b08a4cc#diff-18e3d4b822d42490db51093d9c5dd539. #please-close

[2019-03-12 19:44] haselton opened #26906 "AAD Connect Password Hash Sync Settings"
This documentation needs to clarify what password hash sync settings are kept and which are overwritten for AAD Connect servers later than 1.2.65.0.  Documentation also needs to include specific instructions on how to make sure password hash sync is not enabled during an installation using an existing database.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-03-12 19:54] BhargaviAnnadevara-MSFT commented on #26514
@karthikdevarakonda Sorry for not getting back sooner on this. I believe you should be able to see it under **Availability Results** in Analytics, Search, and Metrics blades.

Here is the screenshot for querying Analytics, for instance:

![image](https://user-images.githubusercontent.com/44050820/54231453-8e510f80-452e-11e9-84f0-3976568be11f.png)
Please give it a try and let me know!

[2019-03-12 19:56] vladvino commented on #17286
Tutorials document the most common path. We will add the suggestion to the backlog and figure out the best way to address it based on priorities and additional feedback. Thank you! #please-close

[2019-03-12 20:00] mike-urnun-msft commented on #26892
Hi @ericdrobinson Thank you for your feedback! We will review and update as appropriate.

[2019-03-12 20:06] ShubhaVijayasarathy commented on #25427
it is correct.

[2019-03-12 20:07] ShubhaVijayasarathy commented on #25209
it is correct.

[2019-03-12 20:07] mike-urnun-msft commented on #26894
Hi @lmothander Thank you for your feedback! We will review and update as appropriate.

[2019-03-12 20:09] vladvino commented on #15164
I added limits on renewal period for throttling policies in https://github.com/MicrosoftDocs/azure-docs-pr/pull/69242/commits/fc95660d4d03f4ca8020cf7bf46d1e6304a985d0. For periods exceeding 5 min the only option is to use quota policy. #please-close

[2019-03-12 20:12] coreyzw commented on #26873
@DCtheGeek Thanks for looking into it. Did quite a bit more digging and experimenting and it looks like the settings we had missed was extra setting buried in AAD called "Guest users permissions are limited". Once we flipped that to "No" it allowed the guest user as Owner to be equal to the local directory user Owner. Sorry for the goose chase!

[2019-03-12 20:12] jeevansd commented on #26476
@bladegery We received it all the details. Thanks. I will let you know once this feature is available.

[2019-03-12 20:13] lesterw1 commented on #26465
Yes, this is helpful. It was unclear about the users. Thank you.

[2019-03-12 20:16] SaurabhSharma-MSFT commented on #26573
@rishtech I believe this is a limitation as the "[ctry](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims#standard-optional-claims-set)" optional claim also returns country as standard 2-letter country code, such as FR.  I, however, will check with the products team and confirm you back on the same.

[2019-03-12 20:19] MartinJaffer-MSFT commented on #26114
@hmayer1980  I just conferred with a colleague.  The tumbling trigger dependency is something available only in preview.
My apologies for my failure to recognize this.  As an employee of Microsoft, by default, all previews are enabled.  My colleague has a personal Azure account, and is able to opt-out of previews.
I will assign this issue to author, as the author did not specify this was a preview

[2019-03-12 20:22] hmayer1980 commented on #26114
I thought so....
How do I get into this preview?
Because this is the first time where actually a migration von ADF V1 to ADF V2 becomes theoretically possible...
And when will it be general available?

[2019-03-12 20:29] spelluru commented on #25209
Thank you @ShubhaVijayasarathy

Updating the article now.

[2019-03-12 20:35] CarlRabeler commented on #26858
@MashaMSFT for awareness

[2019-03-12 20:44] jlian commented on #26870
I just tried it on West US 2 and it worked for me. So I'm thinking it's probably the format for the `tracestate` property. Let me take a further look

[code]

[2019-03-12 20:44] GlennKouhia commented on #7236
thanks.

[2019-03-12 20:51] curtand commented on #26878
Hi @scottsa-msft thanks for the feedback. I will investigate and build a sample table to assess feasibility.

[2019-03-12 20:54] prashanth536 commented on #13764
Please share the link to REST API to create Sql DW restore point

[2019-03-12 20:55] curtand commented on #26199
Hi @joeljanke thanks for your suggestion! I just aligned our terminology properly in
https://github.com/MicrosoftDocs/azure-docs-pr/pull/69192

@SaurabhSharma-MSFT
#please-close

[2019-03-12 20:56] MaximRouiller opened #26907 "TypeScript GA or preview?"
TypeScript says "Supported" but is it "GA" or "Preview"?

It is not clear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40e84dea-0cdb-2aa7-6aa0-a4c697ef19ac
* Version Independent ID: 2fe0dbd3-7e5b-04b1-46e5-fecd89c4a780
* Content: [Supported languages in Azure Functions](https://docs.microsoft.com/en-us/azure/azure-f

[2019-03-12 20:57] MicahMcKittrick-MSFT commented on #26904
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-12 21:05] joeljanke commented on #26199
The link above goes to a 404 page @curtand?

[2019-03-12 21:06] MicahMcKittrick-MSFT commented on #26905
@ronhowe can you provide me with the link to the documentation you are referring to so I can better assist?

[2019-03-12 21:07] MicahMcKittrick-MSFT commented on #25771
@amandadebler I am going to close this out for now. If you still need assistance let me know and we can get you in touch with a support engineer to help identify and resolve the problem.

[2019-03-12 21:07] #25771 closed

[2019-03-12 21:13] chrisjrisch opened #26908 "Roles and Resource Operations Mapping"
Is there a list of what roles can use which resource/operations?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33219707-3b9f-cc6b-541e-a806dc82622a
* Version Independent ID: b4e96391-bcf9-1f30-cb44-ed339469da4f
* Content: [Azure Resource Manager resource provider operations](https://docs.microsoft.com/en-us/azure/role

[2019-03-12 21:13] MicahMcKittrick-MSFT commented on #26904
@eugen-nw yes this could be across windows containers and not just limited to ones running in ACI

https://docs.microsoft.com/en-us/azure/container-instances/container-instances-troubleshooting#windows-containers-slow-network-readiness

[2019-03-12 21:16] curtand commented on #17617
Hi @gonzalre , @pgazmuri

There isn’t a good way today. It’s definitely we'll be addressing in the future. The admin roles that can create more than 250 objects are all pretty highly privileged. I may have missed one.
Application Administrator
Cloud Application Administrator
Global Administrator
Conditional Access Administrator
Exchange Administrator
Intune Administrator
Security Administrator
Sha

[2019-03-12 21:19] tamram commented on #24689
@vikaskumawat80 @sghdesign - Yes, we have updated the docs to address this - see [here](https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-rbac?toc=%2fazure%2fstorage%2fblobs%2ftoc.json).

To grant portal access to blobs/queues to a user, you need to also assign them the Azure Resource Manager Reader role. That will give them the permissions they need to navigate through the po

[2019-03-12 21:20] tamram commented on #24689
@vikaskumawat80 - If you are assigning the ARM Reader role and are still not able to grant access, check that you have scoped the Reader role to the storage account or above.

[2019-03-12 21:21] SaurabhSharma-MSFT commented on #26576
@Placid7 oh, my bad, it seems Security Center dashboard is not available.  Can you please check under Azure Sentinel Logs if you can query the events.
![image](https://user-images.githubusercontent.com/38112130/54236759-9cbd0e00-44d1-11e9-99bc-6b72504209d8.png)
@rkarlin Can you please help if there is any other way to query the alerts in Sentinel.

[2019-03-12 21:22] hrboyceiii commented on #26886
@DCtheGeek - yes, in the portal or using an editor (like VS Code).  I will attach screenshots via GitHub if that is helpful

[2019-03-12 21:24] hrboyceiii commented on #26886
![image](https://user-images.githubusercontent.com/8991815/54237095-93409f80-44eb-11e9-942a-335b2db01bb2.png)

![image](https://user-images.githubusercontent.com/8991815/54237172-bbc89980-44eb-11e9-80ce-be8403d9e3ab.png)

[2019-03-12 21:32] anirudhgarg commented on #22997
Adding context that another user hit the same issue, when she actually used the old timeout values for V1 for a queue trigger. So it would be good to fix this.

[2019-03-12 21:41] curtand commented on #24572
@SoccerCore11 Thanks for your feedback. I'll get this verified and published.

[2019-03-12 22:05] DCtheGeek commented on #26873
@coreyzw Thanks for following up and letting me know the fix! I'll go ahead and close this.  Thanks again!

@MicrosoftDocs/azure-cxp-triage #please-close

[2019-03-12 22:07] samueltuyizere commented on #6402
can i copy the nameservers without the dot? my provider doesn't accept it with dots

[2019-03-12 22:10] Alberto-Vega-MSFT commented on #24002
@diogodtway @Eichi87  Can you please confirm?

[2019-03-12 22:12] DCtheGeek commented on #26886
@hrboyceiii Exactly what I was looking for, thanks.  Will talk to the team and get back to you.

[2019-03-12 22:19] markjbrown commented on #26522
Yes, that's a bug in the docs. I've submitted a PR to fix this. Thank you for reporting.

[2019-03-12 22:22] markjbrown commented on #26522
#please-close

[2019-03-12 22:24] laurenhughes commented on #26615
@rierjarv, Thank you for the catch! AZ_BATCH_TASK_SHARED_DIR was mistakenly listed twice, I've submitted a fix to remove the duplicate entry.

To answer your question, AZ_BATCH_TASK_SHARED_DIR only applies to multi-instance tasks, and is the location where multi-instance common resource files are downloaded. If you'd like to learn more about multi-instance tasks and see some examples of AZ_BATCH_T

[2019-03-12 22:26] banisadr commented on #21105
Hi @v-maroge - you have two constraints you are working with:

1. Total TUs will govern the maximum throughput you can achieve on a namespace.
2. Any given partition cannot take advantage of more than one TU.

Constraint one will govern your absolute _maximum throughput at the present moment_. Constraint two will govern your _maximum future throughput_.

To answer your first question, if you have

[2019-03-12 22:36] deltadan opened #26912 "TSV output?"
Is there a way to output these tables to TSV or CSV?  Would love to have the ability to pull this into XLS for planning purposes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33219707-3b9f-cc6b-541e-a806dc82622a
* Version Independent ID: b4e96391-bcf9-1f30-cb44-ed339469da4f
* Content: [Azure Resource Manager resource

[2019-03-12 22:44] #26873 closed

[2019-03-12 23:08] #26615 closed

[2019-03-12 23:09] stewartadam opened #26913 "Document where to pull Workspace{Key,Id} from"
WorkspaceId is visible in the Properties blade, but current portal design makes it unintuitive to determine where WorkspaceKey is found.

It's actually under Advanced Settings &gt; VMs &gt; {Linux | Windows} - there's a different key per OS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cefed4e0-440d-18d5-8b8d-4a345f3

[2019-03-12 23:13] MarileeTurscak-MSFT commented on #26864
Hi @anwarmahmood1 ,

The terms are explained pretty well in some of the accompanying documents:

https://docs.microsoft.com/en-us/azure/active-directory/hybrid/whatis-fed

https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/overview

If we changed the language here I don't think it would be consistent with the rest of the document.

[2019-03-12 23:14] MarileeTurscak-MSFT commented on #26864
If you disagree, feel free to open a pull request for review by @MarkusVi

[2019-03-12 23:14] dcbrown16 opened #26915 "Finding the inbound IP"
It seems like the inbound IP address specification has changed, can we document this? I'm pretty sure it used to be listed separately as the Virtual IP address (even if you didn't have an IP-based SSL binding) but now it is apparently the first IP in the Outbound IP addresses.
Either way, the method to find it should be documented, this page only says that there is a single inbound IP.

---
#### D

[2019-03-12 23:14] MarileeTurscak-MSFT commented on #26864
We will now proceed to close this thread. If you have further questions feel free to tag me or @MarkusVi in the comments and we will gladly continue the discussion.

[2019-03-12 23:14] #26864 closed

[2019-03-12 23:16] Karishma-Tiwari-MSFT commented on #26716
@iainfoulds I tried looking but could not find any doc on this. Are you aware of a doc that shares the details on this?

[2019-03-12 23:29] nate-interfaces-emergency-reporting commented on #15164
Thank you for your help @vladvino! We should be able to utilize a ```quota-by-key``` policy, isolating by Subscription ID using ```counter-key="@(context.Subscription.Id)```. Reference:  https://docs.microsoft.com/en-us/azure/api-management/api-management-access-restriction-policies#SetUsageQuotaByKey

[2019-03-12 23:30] ggailey777 commented on #26907
@ColbyTresness do you want me to clarify that TypeScript is GA?

[2019-03-12 23:33] DCtheGeek commented on #26886
@hrboyceiii The team has taken a Task to get this updated. The current goal is to have it done within about a month.  Thanks for the great feedback! Since the team is working on it and it's not a docs issue, I'm going to have this issue closed.  If you have other docs issues and feedback, please let us know!

@MicrosoftDocs/azure-cxp-triage #please-close

[2019-03-12 23:33] MicahMcKittrick-MSFT commented on #26913
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-12 23:48] ColbyTresness commented on #26907
Perhaps we can change the string to "GA (through transpiling to JavaScript)"

Does that work? It's fine to call it GA since it's just tooling on top of a GA language.

[2019-03-12 23:55] ajlam commented on #18995
@metin, thanks for the feedback. Will look to see how we can improve the quickstart with a warning/notice.

[2019-03-12 23:55] jfggdl commented on #21105
Let me try to answer your concerns/questions about long-term plans:

On this thread we have been talking about the throughput that you get from a event hubs-centric view. The fact is that event hubs is usually not your bottleneck. Your end-to-end throughput is dictated by a key component of your solution: your consumers. Your consumer may be the limiting factor in achieving the end-to-end throughp

[2019-03-12 23:55] BryanTrach-MSFT commented on #24725
@codebeaulieu We have updated the doc. The changes should be public within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-12 23:55] #24725 closed

[2019-03-13 00:08] Juliako commented on #26518
@kazshi, from the product team: "MPE_ENC_ENCRYPTION_NOT_SPECIFIED_IN_URL" means request requires encryption tag in URL.

[2019-03-13 00:08] MarileeTurscak-MSFT commented on #26723
Hi @jflieben ,

I am trying to reproduce this in my own lab. You're saying that once you assign the license, removing it from the tenant is not enough and this error gets thrown?

[2019-03-13 00:25] Alberto-Vega-MSFT commented on #26872
Thanks again for your valuable feedback. Please read the following issue it should clarify your questions https://github.com/MicrosoftDocs/azure-docs/issues/22770
Also that could be a feature request. Can you post this as a feedback @ https://feedback.azure.com/forums/321918-azure-iot . This will allow the community to upvote and for the product team to include into their plans.

[2019-03-13 00:27] anrothMSFT commented on #25639
Outcome on this thread was Project Settings page vs overall Settings page.
Please close.

[2019-03-13 00:29] ShubhaVijayasarathy commented on #21105
@bhall7718, yes I agree with you on a partition capable of letting you egress 1MBps at a minimum although I don't promise you could do 20MBps. The docs need to be updated to cause less confusion and we will do so accordingly.

[2019-03-13 00:39] #13135 closed

[2019-03-13 00:40] #15164 closed

[2019-03-13 00:40] #17286 closed

[2019-03-13 00:40] #17617 closed

[2019-03-13 00:40] #17999 closed

[2019-03-13 00:40] #21043 closed

[2019-03-13 00:41] #21589 closed

[2019-03-13 00:41] #21677 closed

[2019-03-13 00:41] #21863 closed

[2019-03-13 00:41] #23420 closed

[2019-03-13 00:41] #26199 closed

[2019-03-13 00:41] #26522 closed

[2019-03-13 00:42] #26572 closed

[2019-03-13 00:42] #26886 closed

[2019-03-13 00:45] MarileeTurscak-MSFT commented on #26720
Hi @anwarmahmood1 ,

I am confirming this on my end.

[2019-03-13 00:49] MicahMcKittrick-MSFT commented on #26245
@juho-hanhimaki just FYI, I am still working to confirm this. I should have an answer this week.

[2019-03-13 00:53] tellyc opened #26921 "DSVM Provisioning intructions are out of date"
The steps and screenshots at https://docs.microsoft.com/en-us/azure/machine-learning/data-science-virtual-machine/dsvm-ubuntu-intro#create-your-data-science-virtual-machine-for-linux​ have not been updated for the new UI. Requested action - images and steps updated to current UI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-03-13 00:57] kevinvngo commented on #13764
https://docs.microsoft.com/en-us/azure/sql-data-warehouse/sql-data-warehouse-restore-database-rest-api

[2019-03-13 01:00] MarileeTurscak-MSFT commented on #26856
@michevnew
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-13 01:02] PramodValavala-MSFT commented on #26465
@lesterw1 Glad we could help.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-13 01:02] #26465 closed

[2019-03-13 01:04] gurudattest opened #26922 "VMSS - Backend pool unassociated by default for LoadBalancer"
We have a kubernetes cluster which we deploy using aks-engine and we recently moved from VM to VMSS as nodes. But, when we deploy a service using helm, the backend pools of the load balancer that gets created doesn't get associated to the Virtual Machine Scale Set that's created as part of the deployment. We expect it to be associated to it by default. Right now, we need to manually perform this s

[2019-03-13 01:04] PramodValavala-MSFT commented on #26704
@DeeDab Just following up here... Hope Bahram's comment earlier has helped clear things up.

[2019-03-13 01:23] MarileeTurscak-MSFT commented on #26735
This does appear to be a discrepancy as the two paragraphs you referenced seem to have conflicting information.  I'm assigning this to @davidmu1 to investigate.

[2019-03-13 01:46] rimman commented on #26867
Actually this document talks about the number of regions. If you scroll all the way down to the bottom and read the content of the doc, it talks about the throughput R and N, which denotes the number of regions and how the total throughput gets computed. Thanks,

[2019-03-13 01:50] BryanTrach-MSFT commented on #25277
I have found the best way is to use ZipDeploy on Linux is to follow the below steps to use the Zip API on Linux.

Source: https://docs.microsoft.com/en-us/azure/app-service/containers/app-service-linux-faq#continuous-integration-and-deployment

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the di

[2019-03-13 01:50] #25277 closed

[2019-03-13 02:03] freakyfriday commented on #19489
@marxxxx according to the following comment It looks like the latest Dot Net CosmosDB Tables SDK version 0.11.0-preview has an OrderBy property: https://github.com/MicrosoftDocs/azure-docs/issues/26228#issuecomment-471095278

Sample code:
https://github.com/Azure-Samples/azure-cosmos-table-dotnet-core-getting-started/blob/f5b352fec591a4ce702cfc7ef333480bdbd4b366/CosmosTableSamples/AdvancedSamples.

[2019-03-13 02:17] shashishailaj commented on #26889
@quincycs Thank you for your feedback . We will investigate and update this thread.

[2019-03-13 02:18] shashishailaj commented on #26476
@bladegery We will be closing this issue now and notify you once this feature is available.
Thank you. Should you have any further queries please feel free to tag me or Jeevan to your reply and we will help you with the same . alternatively , you can open a new issue referencing this one always.
Thank you.

[2019-03-13 02:18] #26476 closed

[2019-03-13 02:20] spelluru commented on #26526
Thanks for the feedback @Silverlight42

Added a note to the article: https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-programming-guide#event-consumers.

#please-close

[2019-03-13 02:22] spelluru commented on #25209
@JozoSlejko - Thank you for the feedback. We really appreciate it.

I have updated the article with the following information in the third paragraph at the top:
"There is an exception to this behavior. Enabling a service endpoint, by default, enables the denyall rule in the IP firewall associated with the virtual network. You can add specific IP addresses in the IP firewall to enable access to the

[2019-03-13 02:24] spelluru commented on #24732
Thank you for the feedback @codebeaulieu

I have updated the article: https://docs.microsoft.com/en-us/azure/notification-hubs/xamarin-notification-hubs-push-notifications-android-gcm

#please-close

[2019-03-13 02:30] eugen-nw commented on #26904
Thanks very much.  Two questions please:

1.  Is this slow startup a fact verified with the engineers?  The reason for asking is that the link you provided in the response points exactly to this article.

2.  More importantly, is Microsoft going to address the problem or should we switch to running our containers on Linux?  Performance is very important to us, so at the time we scale our container

[2019-03-13 02:32] kogesaka opened #26975 "ILB certificate setting error"
Hi forks,

Thank you for always releasing valuable information and knowlege as a document.

I created a self certificate based on the content described in the "Post-ILB ASE creation validation" section and set it as an ILB Certificate.

At that time, the following error was displayed in the notification area of Azure portal, but it seems that it is registered on Azure portal and from Azure Resourc

[2019-03-13 02:37] HeidiSteen commented on #21989
#please-close    I think this issue is resolved.

@Cupovboy  To elaborate on previous points, the portal is meant to be simple.  We don't want to add anything to it that jeopardizes a successful outcome.  If you want more testing/prototyping without a heavy investment in code, Postman and REST API can do that for you.  The REST API is the primary API.  .NET SDK wraps it, but does not extend it. An

[2019-03-13 02:38] HeidiSteen commented on #24773
#please-close

[2019-03-13 02:45] easonlauys opened #26978 "1902 Changes/Improvements"
I noticed the Changes section for 1902 has been renamed to "Improvements" section. During initial 1902 update release (7-March-2019), there's only one (1) changes that highlight about new interface for creating plans, offers, quotas and etc.

Now, we are one week after the initial 1902 release (13-March-2019), and MS update this section with additional 3 improvements.

My question is why MS did no

[2019-03-13 02:45] spelluru commented on #26477
@jfggdl - Will you be able to help us with this issue? Thanks.

[2019-03-13 03:08] naimco opened #26983 "What RBAC role gives access to a Share Image Gallery"
I have create a Shared Image Gallery, but can't figure out what access i have to give of OPS team so they can access the image Gallery.  Our OPS team only are only members of the VM contributor role for the resource group we we keep our VM and where we have created the shared image gallery.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-03-13 03:15] BryanTrach-MSFT commented on #25295
@surajjacob I believe the below article highlights how to accomplish this using Azure Pipelines. They have an appsettings parameter that you should be able to use.

https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-rm-web-app-deployment?view=azure-devops

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your r

[2019-03-13 03:15] #25295 closed

[2019-03-13 03:16] naimco commented on #26983
I think I figured it out
PS C:\windows\system32> Get-AzureRmProviderOperation Microsoft.Compute/Galleries/* | ft

Operation                                          OperationName                          ProviderNamespace ResourceName         Description
---------                                          -------------                          ----------------- ------------         -----------
Micr

[2019-03-13 03:26] codematrix commented on #21320
Is it possible to connect using our JWT? I'm currently using IdentitySerever to obtain a token but want our SignalR Hub service to use our own Middleware, not Azure AD.

For example, when the client app (let's assume within a browser), is about to call the connect method, can I somehow pass it a JWT.

[2019-03-13 03:44] EdinIlijazi commented on #25256
Is there any update to this?

[2019-03-13 03:56] diegotrujillor commented on #24942
This should not be closed, I installed the aks-preview extension and followed step-by-step this guide: https://docs.microsoft.com/en-us/azure/aks/cluster-autoscaler, however, I obtain the exactly same message:

What else can I try?

[2019-03-13 03:58] v-maroge commented on #21105
@jfggdl

So in this scenario, they would have to create 10 partitions?
Also, slightly different question but customers can have partitions>=Consumer(EventProcessorHost) rigt?
So say that their consumers support 2TU, and they need 10 TUs, they can have 10 partitions and 5consumers, correct?

[2019-03-13 04:06] TravisCragg-MSFT commented on #11667
@jtuliani Thanks for pointing this out!

@Blackmist can you help get this issue resolved?

[2019-03-13 04:14] RohitMungi-MSFT commented on #26857
Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-03-13 04:19] RohitMungi-MSFT commented on #26921
@tellyc Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-03-13 04:40] SnehaAgrawal-MSFT commented on #26915
@dcbrown16 Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-13 04:40] CHEEKATLAPRADEEP-MSFT commented on #26526
@Silverlight42 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-13 04:40] #26526 closed

[2019-03-13 04:41] SumanthMarigowda-MSFT commented on #26705
@AlejoSQL  I would recommend you to refer to the suggestion mentioned in this article: https://www.sigops.org/s/conferences/sosp/2011/current/2011-Cascais/printable/11-calder.pdf  This would be really helpful and valid informations has been provided.

[2019-03-13 04:43] CHEEKATLAPRADEEP-MSFT commented on #25209
@JozoSlejko We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-13 04:43] #25209 closed

[2019-03-13 04:45] SnehaAgrawal-MSFT commented on #26975
@kogesaka Thanks for the question! We are investigating and will update you shorty.

[2019-03-13 04:45] SumanthMarigowda-MSFT commented on #26749
@dtec83
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-13 04:45] SadiqhAhmed-MSFT commented on #26880
@mayurigupta13 and @Rajani-Janaki-Ram to review and make the necessary changes.

[2019-03-13 05:09] ManojReddy-MSFT commented on #26906
@haselton Thanks for your feedback. We are looking into this and will update accordingly.

[2019-03-13 05:13] CHEEKATLAPRADEEP-MSFT commented on #26869
@jtuliani Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-03-13 05:19] AmanGarg-MSFT commented on #26875
@csukppcy Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-03-13 05:29] AmanGarg-MSFT commented on #26888
@AzureStacker Thank you for the question! We are investigating this and will get back to you shortly.

[2019-03-13 05:32] rachel-msft commented on #6337
#please-close

[2019-03-13 05:34] AmanGarg-MSFT commented on #26896
@antonihanus Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-03-13 05:36] AmanGarg-MSFT commented on #26887
@WagoL Thank you for the question! We are investigating this and will get back to you shortly.

[2019-03-13 05:36] CHEEKATLAPRADEEP-MSFT commented on #26879
@expiscornovus Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2019-03-13 05:40] ManojReddy-MSFT commented on #25419
@msmimart Thank You!

@htate1234 It is automatic even when you send the invite through API. When you do this through API, you can control whether you need to send the email or not.

If you want to use a custom template other than the one MS provides, then you can use API to invite them without sending the email. Then create your own email and provide the link for redemption for the B2B guest users

[2019-03-13 05:41] AmanGarg-MSFT commented on #26922
@gurudattest Can you please provide the url of the document you are referring to so that we can help you better.

[2019-03-13 05:43] AmanGarg-MSFT commented on #26899
@TracyGH Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-03-13 05:44] jakaruna-MSFT commented on #26501
List all containergroups using [this](https://docs.microsoft.com/en-us/rest/api/container-instances/containergroups/list).
For each container group make a get call using [this ](https://docs.microsoft.com/en-us/rest/api/container-instances/containergroups/get) which shows events. But we need to have some logic around so that we are not ingesting the same events again and again in Azure monitor.
Pl

[2019-03-13 05:45] KalyanChanumolu-MSFT commented on #26593
@tony-gutierrez We are assigning this to the content author to evaluate if the SDK has such capabilities and update the documentation accordingly.

[2019-03-13 05:45] KetanChawda-MSFT commented on #26703
@Freakling following up on this issue. Did you get a change to look in to the previous posts ?

[2019-03-13 05:47] jakaruna-MSFT commented on #26512
I will close this out for now. If you need additional help please let me know and we can reopen and continue. We have a similar issue here #26501.

[2019-03-13 05:48] ManojReddy-MSFT commented on #26709
@emardee Thank for reporting this. I have assigned this to the author to confirm if the hotfix should still be available.

[2019-03-13 05:48] #26512 closed

[2019-03-13 05:50] sietec commented on #17617
@curtand , that certainly IS NOT a good practice.  In fact, I am astonished Microsoft would even consider recommending this "workaround" - it is a highly insecure and extremely hack job of attempting to circumvent the object quota restrictions.

In my opinion, you should either create a specific role, which includes NO OTHER PERMISSIONS, that permits users with said role to create more than 250 ob

[2019-03-13 06:04] sietec commented on #20481
We ran into the same issue and it cost us a fortune in hunting down...for us, cloud based AD is absolutely out of the question.  We always have and always will use our on prem AD as the primary Directory (for many reasons, none of which are particularly of use to mention here).  The problem with this is that, unless we read through the entire documentation fully (and assuming everything was docume

[2019-03-13 06:12] BryanTrach-MSFT commented on #25538
@anetschka Thank you for your question. We try to keep feedback on this repro related to the specific docs. Since this is an architecture/design question that goes beyond the scope of this doc, we kindly invite you to share it on [MSDN ](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazurewebsitespreview)or [Stack Overflow.](https://stackoverflow.com/questions/tagged/azure-

[2019-03-13 06:12] #25538 closed

[2019-03-13 06:17] RohitMungi-MSFT commented on #26843
@ianhuynh Apologies for the confusion. I thought this issue was asking about country and hence my above response. Yes, County is currently not recognized as part of the GeographyV2 builtin entity currently.

But I tried to use the list entity and added a sample list of counties for NewYork and California.
1. Added a list entity called counties
2. Imported a JSON with the following values for this

[2019-03-13 06:21] SadiqhAhmed-MSFT commented on #26908
@chrisjrisch Thanks for the comments. See the [link1](https://docs.microsoft.com/en-us/azure/role-based-access-control/rbac-and-directory-admin-roles) and [link2](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles). Hope this is what you're looking for.

[2019-03-13 06:25] SadiqhAhmed-MSFT commented on #26912
@deltadan Thanks for the question! We will have this reviewed by the content owner and help further.

@rolyon Your insights please.

[2019-03-13 06:32] erich-wang commented on #26870
@murdockcrc , if you plan to use client other than azure iot c sdk preview version, you need to add **tracestate** as **system property**. Specifically,

- For MQTT, finally you need add something like "%24.tracestate=timestamp%3d**123456789**" to message topic, you should replace **123456789** with actual timestamp, you may refer to the implementation [in c sdk](https://github.com/Azure/azure-iot

[2019-03-13 06:33] KrishnaG-MSFT commented on #26721
@panoschatz IMHO it is hard to say what is causing you to hit the BadRequest error code without reviewing your templates. Generally BadRequest error code gets generated if we have sent deployment values that don't match what is expected by Resource Manager. Can you please check and provide the inner error status message for help with troubleshooting.
Also it would be great if you can provide your

[2019-03-13 06:36] kazshi commented on #26518
@Juliako Thank you for the information about the "MPE_ENC_ENCRYPTION_NOT_SPECIFIED_IN_URL".
Now I got a question about "MPE_ENC_ENCRYPTION_NOT_SET_IN_DELIVERY_POLICY", I can assume the code means encode(?) encryption needs to be set in delivery policy but I'm not sure which content page (the following page?) I should provide to my customer for resolving the issue.

Configure asset delivery policie

[2019-03-13 06:36] BryanTrach-MSFT commented on #25672
@swasifali After reviewing the doc and reproducing it, I do see how this might be a cause for concern. As a result, I have assigned the feedback to the doc author to have them determine if this could cause issues and whether or not a change is necessary.

[2019-03-13 06:38] RohitMungi-MSFT commented on #26844
@diberry I have sent the JSON file for your reference, Please let me know if you need any changes to app.
@ianhuynh Thanks for your feedback. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-13 06:39] #26844 closed

[2019-03-13 06:59] Rangi-th commented on #23583
We still have many customers trying to encrypt VMs deployed from marketplace images and fail at times. They are looking the FAQ and trying to encrypt any VMs with the supported versions, as the FAQ is missing the information about "endorsed images". Can you please include the details about endorsed images as well in the doc?

[2019-03-13 07:15] imeya opened #27015 "In which table I can query info about "Query Store runtime statistics"?"
I followed this section [Stream into Azure SQL Analytics](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-metrics-diag-logging#stream-into-azure-sql-analytics), and then do some select queries in azure sql.

But when I nav to azure portal -&gt; log analytics workspace, I do not know which table I should use to "Query Store runtime statistics", like query the execution time. Could

[2019-03-13 07:34] paulbouwer commented on #25130
@pnkjtr @MicahMcKittrick-MSFT @jakaruna-MSFT @iainfoulds

So from Istio version `1.0.6` onwards, the Istio nested charts for Grafana and Kiali have removed the templates for rendering secrets. You, as the end user, are now required to add the secrets as a separate and out of band step.

This is documented in the Istio Chart [README.md](https://github.com/istio/istio/blob/master/install/kubernetes/

[2019-03-13 07:40] imeya opened #27016 "Error occurs when select from AzureDiagnostics table in log analytics."
I followed this section [Stream into Azure SQL Analytics](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-metrics-diag-logging#stream-into-azure-sql-analytics), and then do some select queries in azure sql.

When I nav to azure portal -&gt; log analytics workspace, wait for a very long time(about 1 hour), there is a new table AzureDiagnostics added.

Then I tried to query some rec

[2019-03-13 07:52] gutjahr opened #27017 "Intune vs. Intune Enrollment"
Can you please explain the difference between the 'Intune' app and the 'Microsoft Intune Enrollment' app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0073f5a8-daf6-7f14-127f-e0c9d80af78d
* Version Independent ID: d6d0afdf-3619-ca03-718b-a40bfd07bab9
* Content: [Azure Active Directory conditional access settings refe

[2019-03-13 08:10] jflieben commented on #26723
@MarileeTurscak-MSFT removing it from the tenant does not remove it from the group, it remains stuck on the group and cannot be removed through the GUI.

[2019-03-13 08:14] jflieben commented on #24770
@Wedvich by clarifying, I meant 'is it allowed' / 'when am I compliant'?

@TechB0t so you are saying a license is needed for EVERY user in scope, even if that user is a guest account? Can you specify your sources? (as your account is 1 day old and shows no references, I cannot take your word for it)

[2019-03-13 08:16] PixelRobots commented on #26341
Thanks. The case ID is 119031321000993

[2019-03-13 08:27] mysaggar commented on #26176
@JhaNishant try commenting out the line #define round(x) ((x)>=0?(long)((x)+0.5):(long)((x)-0.5)) it was a work around mentioned on some github issue

[2019-03-13 08:29] jkb1372 opened #27019 "Inconsistent sentence re routing to private IP addresses"
This sentence looks to me to be inconsistent:

"If your backend pool resource contains a private IP address, VM NIC configuration, or an internally resolvable address, and if your backend pool is a public endpoint, Application Gateway uses its frontend public IP to reach the server. "

This part looks right:

"If your backend pool is a public endpoint, Application Gateway uses its frontend public

[2019-03-13 08:38] mayurigupta13 commented on #26880
Please go ahead with point 1 changes. Point 2 is clear enough I feel. We do need outbound access for source storage account to be able to send data across.

[2019-03-13 09:07] duk3luk3 commented on #15745
@TravisCragg-MSFT CNAMEs on the domain apex / @ record **are not allowed by DNS**.

This is because if there is a CNAME record for a name, there *can not* be any other records (other than DNSSEC records) on the name.

Since the domain apex *must* have SOA and NS records, it can *never* have a CNAME.

This special niggle of DNS can be found explained by a multitude of sources on the internet with a

[2019-03-13 09:23] anwarmahmood1 commented on #26864
Hi @MarileeTurscak-MSFT @MarkusVi

Respectfully, I disagree;

- the first link is too shallow to be relevant here;
- the second link qualifies pretty much every occurrence of the word "managed" by following it with identity; that's different again!

 I suggested "authentication", not because it's something that *I* thought was appropriate, but is what PowerShell calls it!  If you get a list of dom

[2019-03-13 09:24] femsulu commented on #26482
@Placid7 sorry for the confusion, the update here is that Azure sentinel feature owners are aware of a few known issues with onboarding to a workspace. Most of these known issues have been fixed and the fixes will be pushed to the production instance soon.

**Important note:** This issue was closed as this channel is reserved for Documentation feedback only. If your issue persists please send mail

[2019-03-13 09:42] vdohare opened #27022 "typo mistake in payload of "Jobs to execute direct methods" section"
value of "type" must be "scheduleDeviceMethod" instead of "scheduleDirectMethod"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2340c222-6f8c-a05b-3bbd-56c786fcd24b
* Version Independent ID: 43af3332-8fb6-8f9c-5fd9-a4481f01f8ef
* Content: [Understand Azure IoT Hub jobs](https://docs.microsoft.com/en-us/azure/iot-hub/io

[2019-03-13 09:47] prasks82 opened #27023 "Query regarding chart in AzureStackCapacityPlanner"
In the DefineByWorkloadFootprint sheet of the AzureStackCapacityPlanner v1901.01, why certain for certain SKUs the available resource is below 0% which leads to the graph starting from negative quadrant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5067105e-8c3b-933f-db1c-e0398a030e4c
* Version Independent ID: cbfd31

[2019-03-13 09:51] panoschatz commented on #26721
@KrishnaG-MSFT  - Issue is now resolved, after I contacted Azure support.

I was testing diagnostics enablement for NSGs and apparently the metrics bit had to be removed from the template in the example provided in the documentation:
[code]
In addition, under logs, the specific log type per resource need to be explicitly called, i.e:
[code]
However it would be good if actual and more simplified ex

[2019-03-13 09:52] panoschatz commented on #15201
Issue is now resolved, after I contacted Azure support.

I was testing diagnostics enablement for NSGs and apparently the metrics bit had to be removed from the template in the example provided in the documentation:
[code]
In addition, under logs, the specific log type per resource need to be explicitly called, i.e:
[code]
However it would be good if actual and more simplified examples were provid

[2019-03-13 09:54] inech opened #27024 "Mixing Microsoft.Azure.ServiceBus and WindowsAzure.ServiceBus client libraries"
There are two different .NET client libraries to work with Azure Service Bus:
* Microsoft.Azure.ServiceBus (newer, .net standard)
* WindowsAzure.ServiceBus (older, only .net framework)

This article mixes references to both of them and doesn't state explicitly that there are actually two different libraries so it's really hard to follow.

For example here:
&gt; Service Bus client objects, such as

[2019-03-13 09:56] KrishnaG-MSFT commented on #26721
@panoschatz Thanks for your feedback on documentation.
Assigning @johnkemnetz for visibility and document enhancement considerations.

[2019-03-13 09:58] rayne-wiselman commented on #26738
Since this isn't a documentation issue, we'll close this. thx
#please-close

[2019-03-13 10:00] smudgecat opened #27025 "Better search!"
Please explain how to search by surname or UPN suffix. This is possible with the current AIP reports, so I'm surprised it's not in the preview.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9509c4bd-1ac0-c461-c130-c211df774f56
* Version Independent ID: b9648c70-1517-7129-54be-8eb35721f87f
* Content: [How to investigat

[2019-03-13 10:04] femsulu commented on #26738
@joninmoz
Here are the [steps](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request) to raise a support tickets with Azure technical support. If you already have a support plan. If you don't, please send mail to AzCommunity@microsoft.com with your subscription ID and a link to this Github thread (for context) and we will assist you with engaging Azure tec

[2019-03-13 10:05] #26738 closed

[2019-03-13 10:05] AshokPeddakotla-MSFT commented on #27022
@vdohare Thanks for the feedback and reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-13 10:07] ManojReddy-MSFT commented on #26906
@haselton If you are using AD Connect version 1.2.65.0 or above, then all the settings of Password Hash Sync  or Password writeback are saved. This is documented in this doc. Can you elaborate a little bit more on the information you are looking for ?

If you want to disable PHS, you can do that after restoring and then running the configuration wizard.

[2019-03-13 10:08] femsulu commented on #26457
@citizen38 can you clarify what you mean by "plan with capability for 10 units"?

[2019-03-13 10:12] gaevoy commented on #17047
I have the same question. And since the documentation is not technical enough source code is perfect documentation. Here you can see what it actually does
https://github.com/Azure/azure-service-bus-dotnet/blob/v3.3.0/src/Microsoft.Azure.ServiceBus/SessionReceivePump.cs#L87-L91

And you if you will not complete a message via AutoComplete or manually you will get this https://stackoverflow.com/a/496

[2019-03-13 10:12] neeleshray commented on #26279
No, the license for Azure AD Basic/Premium is assigned to the specific tenant you purchase the license for and you do not need to assign it specifically to any user.

[2019-03-13 10:12] #26279 closed

[2019-03-13 10:14] runeksvendsen opened #27026 "Schema should be defined as a C# object in a NuGet package"
Rather than describing a data schema in an article like this, the producers of this data should expose the data transfer object (DTO) they use in a NuGet package, so consumers of this API can just import this package and use this DTO (rather than creating their own from reading this article).

The DTO must exist somewhere (if the API is properly specified), so why not just expose that?

---
#### D

[2019-03-13 10:15] KalyanChanumolu-MSFT commented on #26702
@YvonneArnoldus
Thanks for pointing out the issue, I have updated the doc accordingly. The changes should be live EOD or tomorrow. We will close this issue now.
In future, if you come across any minor bug fixes in the docs, feel free to click on the edit button and submit a PR to update. We love to take community contributions.

[2019-03-13 10:15] #26702 closed

[2019-03-13 10:17] DixitArora-MSFT commented on #26742
@SwamyNallamalli  Just following up here. Hope my previous comment helps. Do let me know if there are any further questions.

[2019-03-13 10:18] DixitArora-MSFT commented on #26479
@MisinformedDNA  For now I will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-13 10:18] #26479 closed

[2019-03-13 10:20] RohitMungi-MSFT commented on #26845
@ianhuynh It looks like the alias' aren't supported by the prebuilt entities yet. These can be added as list entities as mentioned in [26843](https://github.com/MicrosoftDocs/azure-docs/issues/26843)
@diberry Are lower48, upper48 commonly used terms, Which can be included in GeographyV2 prebuilt entities? Do we need to check with PG on this one?

[2019-03-13 10:36] chrislewisdev2 commented on #26867
I don't see that on the page I've cited - can you show me where?  I.e. screenshot or URL

[2019-03-13 10:38] RohitMungi-MSFT commented on #26921
@gopitk Could you please help to update the document to align with current portal image and steps. We also have a similar issue [25637](https://github.com/MicrosoftDocs/azure-docs/issues/25637) to update the list of tools that are actually installed in a linux DSVM.

[2019-03-13 10:39] neeleshray commented on #26292
Application roles are used to assign permissions to users. The application developer defines the application roles by adding them to the application manifest. After a customer signs up, an admin for the customer's AD directory assigns users to the roles. When a user signs in, the user's assigned roles are sent as claims.

[2019-03-13 10:41] femsulu commented on #26460
No worries, @StingyJack. :)

These are very valuable feedback. Would be great if you share these directly with the feature owners using the links shared in my previous comment. You can also upvote existing feedback which helps the feature owners prioritize based on customer demand. I hope this helps.

Please note: this channel is reserved for documentation related issues/corrections only.

Now clo

[2019-03-13 10:41] #26460 closed

[2019-03-13 10:43] KetanChawda-MSFT commented on #27024
@inech Thank you for providing feedback. We will review this and provide an update as appropriate.

[2019-03-13 10:44] SnehaAgrawal-MSFT commented on #26915
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-03-13 10:44] neeleshray commented on #26403
The same has been documented over here - [Control Windows down-level devices](https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-azuread-join-control#control-windows-down-level-devices)

[2019-03-13 10:44] #26403 closed

[2019-03-13 10:48] KetanChawda-MSFT commented on #27026
@runeksvendsen Thank you providing feedback. We have assigned this to content author to evaluate and update as appropriate.

[2019-03-13 10:50] shashishailaj commented on #27017
@gutjahr Thank you for your query . We will investigate and update the thread further.

[2019-03-13 10:55] CHEEKATLAPRADEEP-MSFT commented on #26900
@deltadan Thanks for the question! We are investigating and will update you shortly.

[2019-03-13 10:59] rayne-wiselman commented on #26880
The image issue is fixed and should appear in the next day or so.
#please-close

[2019-03-13 10:59] jtuliani opened #27027 "FDR or QDR InfiniBand for A8/A9?"
This doc says the A8/A9 support FDR InfiniBand. But according to https://docs.microsoft.com/bs-cyrl-ba/azure/virtual-machines/linux/sizes-hpc?view=azurermps-2.4.0#rdma-capable-instances the A8/A9 only support QDR InfiniBand. Contradiction.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 760cdd5b-2f94-9a31-ec54-3f61e6a21

[2019-03-13 11:00] femsulu commented on #26490
@Ayanmullick AFAIK this is currently not supported. Here's a [list ](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/powershell-workspace-configuration)of supported Log Analytics mgmt. operations via PowerShell.

[2019-03-13 11:00] femsulu commented on #26490
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-13 11:00] #26490 closed

[2019-03-13 11:02] msrini-MSIT commented on #27019
@jkb1372 , Thank you for your question. I will take a look and get back to you shortly.

[2019-03-13 11:02] boylec commented on #17047
Thanks Vlad, I should have totally looked at the source code.

So basically the answer - for those reading - is:

(and someone correct me if I interpreted the source code incorrectly in some way)

SessionHandlerOptions.AutoComplete causes the message to complete (literally message.Complete() is called for you) and be marked for removal from the queue once your custom ‘OnMessage’ callback finishes.

[2019-03-13 11:09] hmayer1980 commented on #17261
To confirm

the Root Folder of the Data Factory within the Repository collaboration branch....

![image](https://user-images.githubusercontent.com/7242162/54274623-71452c80-4580-11e9-9d26-d02062056e5d.png)

[2019-03-13 11:09] neeleshray commented on #26612
@priyamohanram
Could you take a look into this ?

[2019-03-13 11:10] femsulu commented on #26554
thanks, @georgewallace!
@jquinn99002 We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-13 11:10] #26554 closed

[2019-03-13 11:20] DixitArora-MSFT commented on #26761
@PingPongSet We are working with Product group on this and will share the findings soon.

[2019-03-13 11:23] neeleshray commented on #27025
@smudgecat  Thank you for your feedback . We will investigate and update this thread.

[2019-03-13 11:32] SamBlakeC opened #27028 "Remove Guest User Limitations Powershell"
How do you allow guest users to run powershell commands on VM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6eb6697-4ace-adb6-c922-df8a9a485283
* Version Independent ID: fd4ce34d-d55e-92af-d71a-625210ad3a63
* Content: [Properties of a B2B collaboration user - Azure Active Directory](https://docs.microsoft.com/en-us/

[2019-03-13 11:32] maulik-modi opened #27029 "DurableOrchestrationContext class and related WaitForExternalEvent or CallActivityAsync methods are not present"
DurableOrchestrationContext class and related WaitForExternalEvent or CallActivityAsync methods are not present in https://github.com/Azure/durabletask;

https://github.com/Azure/durabletask/issues/265

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc0e8e67-73ef-b02b-f7a4-5128a84f0ce5
* Version Independent ID: 339880db

[2019-03-13 11:33] SadiqhAhmed-MSFT commented on #26880
@mayurigupta13 and @rayne-wiselman Thanks for helping.

@moazmirza We are closing this issue for now. Reach out to us if you've any concerns regarding this.

[2019-03-13 11:33] #26880 closed

[2019-03-13 11:37] JulianHayward commented on #24269
Hi,
is there any news on this one? customers may require more than one security contact email address.

[2019-03-13 11:43] Anmolgan81 opened #27030 "How to migrate custom AWS Linux images to Azure?"
Is there any way to migrate custom AWS Linux images to Azure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d92f050-73a2-c519-2046-2aba7caeecb0
* Version Independent ID: e0fe7de0-ce70-de87-32c7-fe498552f9be
* Content: [Migrate AWS VMs to Azure with the Azure Site Recovery service](https://docs.microsoft.com/en-us/azu

[2019-03-13 11:47] Anmolgan81 commented on #26857
For my specific migration scenerio should I go for Migrate PostgreSQL to Azure DB for PostgreSQL online? remember we have RDS Postgre SQL Database as a source and want to migrate it in Azure Postgre SQL Database as a service.

[2019-03-13 11:53] KetanChawda-MSFT commented on #26892
@ericdrobinson Can you please confirm which particular feature you are referring in the doc ?

If you are using Application Insights Monitoring there should not be any differences as Monitoring is done by a Function App run time which is independent of platform.

Check out [this thread](https://github.com/MicrosoftDocs/azure-docs/issues/19517) for Built-in Logging.

Also check [Application Insight

[2019-03-13 11:56] KetanChawda-MSFT commented on #26894
@lmothander Yes, the document is not updated with the latest UI images. Thanks for bringing this to our attention.  I have assigned this to the content author to evaluate and update as appropriate.

[2019-03-13 11:56] DashleenBhandari-MSFT commented on #26846
@Leon99 Linux uses cgroups for its own internal processes. Which means that it will take memory and cpu if it has any. However, it will always yield if any other process needs the resources. So you wouldn't see a application's process starve because of the internal processes. Please deploy apps and let us know if you have any issues

[2019-03-13 11:58] SadiqhAhmed-MSFT commented on #27030
@Anmolgan81 Thanks for the comment! We are checking on this and will get back to you soon.

[2019-03-13 12:10] SumanthMarigowda-MSFT commented on #26390
@shudson302 This sample shows how to build a .NET MVC web app that uses OpenID Connect to sign-in users from a single Azure Active Directory (Azure AD) tenant using the ASP.NET Core OpenID Connect middlewar[ Integrating Azure AD into an ASP.NET Core web app](https://azure.microsoft.com/en-us/resources/samples/active-directory-dotnet-webapp-openidconnect-aspnetcore/)

[2019-03-13 12:10] KetanChawda-MSFT commented on #27029
@maulik-modi Thank you for posting your question. We will review this and provide an update as appropriate.

@kashimiz Can you please share your thoughts on this.

[2019-03-13 12:11] macio-matheus commented on #22913
any news about a sdk for gen2 datalake?

[2019-03-13 12:11] msrini-MSIT commented on #27019
@jkb1372 , If you add Private IP address to the backend pool of Application Gateway, then Application gateway uses its Private IP to reach that IP Address/Resource. If you add public IP address to the backend pool of Application gateway, it uses public IP to reach the resource.

Documentation is updated accordingly.

[2019-03-13 12:11] SumanthMarigowda-MSFT commented on #26699
@roygara Kindly requesting you to add your comments

[2019-03-13 12:13] msrini-MSIT commented on #27019
I have raised a PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/69367

[2019-03-13 12:15] jkb1372 commented on #27019
Excellent. Thank you for your effort on this.
--
Accenture Digital    john.beattie@accenture.com<mailto:john.beattie@accenture.com>    +44 75544 02015
This message is for the designated recipient only and may contain privileged, proprietary, or otherwise private information. If you have received it in error, please notify the sender immediately and delete the original. Any other use of the e-mail

[2019-03-13 12:17] silhano opened #27031 "Unable to get $jobs.status"
I used code from your documentation: https://docs.microsoft.com/en-gb/azure/automation/automation-runbook-execution#prevent-concurrent-jobs , but I am not able to get job status it all the time ends on error:  Unable to find an entry point named 'GetPerAdapterInfo' in DLL 'iphlpapi.dll' or Run Login-AzureRmAccount to login.

---
#### Document details

⚠ *Do not edit this section. It is required fo

[2019-03-13 12:18] jakaruna-MSFT commented on #26584
@sayash is there any update

[2019-03-13 12:21] olitomlinson opened #27032 "Organisation-level subscriptions"
How do we use "standalone subscriptions" to create a subscription that belongs to multiple users?

We need "Organisation-level subscriptions" whereby the subscription is owned by a 'customer' entity, and then the customer has multiple devs (API-M Users) that need access to the same subscription.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-03-13 12:29] Blackmist commented on #11667
@jtuliani @TravisCragg-MSFT Thanks for reporting and sorry it's taken so long to get a response on this. I'll ask around but we may need to reassign. I haven't worked with this product since last spring. I'll see if I can track down who originally added the video and see if it's still available.

[2019-03-13 12:30] SubhashVasarapu-MSFT commented on #27023
@prasks82 , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-03-13 12:31] SubhashVasarapu-MSFT commented on #26978
@easonlauys , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-03-13 12:32] msrini-MSIT commented on #26732
I don't have a script handy, but this is something which can be easily written with the logic which I have mentioned above. As of now, those logic has to be managed from backend resource and LB doesn't handle those optimizations.

I will go ahead and close this issue.

Please reopen if required.

[2019-03-13 12:32] #26732 closed

[2019-03-13 12:37] MisinformedDNA commented on #26479
Repro attached.

[ContainerBindingIssue.zip](https://github.com/MicrosoftDocs/azure-docs/files/2961449/ContainerBindingIssue.zip)

[2019-03-13 12:38] prasks82 commented on #27023
![image](https://user-images.githubusercontent.com/14230573/54279294-b7b77d00-45ba-11e9-8bb9-24d5c349652d.png)

Attaching the negative values highlighted from the sheet. And also the Capacity Planner.
[AzureStackCapacityPlanner_v1901.01.zip](https://github.com/MicrosoftDocs/azure-docs/files/2961453/AzureStackCapacityPlanner_v1901.01.zip)

[2019-03-13 12:42] gaurav5430 commented on #26732
Yeah, sorry.
I wasn't expecting you to provide a script.
Mostly expecting pointers to documentation (if exists) for whether or not this kind of functionality is required in day to day usage.

Thanks anyway.

[2019-03-13 12:52] prashanth536 commented on #13764
I think above link is to restore the datawarehouse. csn you please share the link to create user defined restore point

[2019-03-13 12:55] msrini-MSIT commented on #26875
@csukppcy , You should be able to create Application Gateway (V1 SKU) with /29 subnet via PowerShell. You will not be able to deploy Application Gateway with /29 subnet via Portal at the moment.

Let me know if you have any questions.

[2019-03-13 12:55] bertrandpons opened #27033 "Data Factory Continuous Integration Deployment - Issue with IR when AAD authentication with managed identity used"
Hello,

Question based on this document: https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#set-up-an-azure-pipelines-release

When I want to deploy to a data factory from an arm template built from my dev data factory environment, I have an issue with my IR that uses "AAD authentication with the managed identity for your ADF": indeed, in this case the _catalogAd

[2019-03-13 13:05] rayne-wiselman commented on #23983
This is fixed. The fix should show up in the next day or two
#please-close

[2019-03-13 13:05] csukppcy commented on #26875
That’s awesome thank you for the feedback.

Might be worth mentioning this limitation in the Doc to avoid confusion but happy with explanation and know for future reference.

Thanks again,

Philip

From: KARTHIK SRINIVAS <notifications@github.com>
Sent: 13 March 2019 12:56
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Philip Cottray/IT/CREDITSAFE <Philip.Cottray@creditsafe.com>;

[2019-03-13 13:06] rayne-wiselman commented on #24771
This is fixed in https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-support-matrix. Fix should show up in the next day or so
#please-close

[2019-03-13 13:06] rayne-wiselman commented on #24744
This is fixed. Fix should show up in the next day or so
#please-close

[2019-03-13 13:07] rayne-wiselman commented on #23984
This is fixed. Fix should show up in the next day or so
#please-close

[2019-03-13 13:17] sayash commented on #26584
@jakaruna-MSFT Hi, I'm going to test and update with results today. Thanks for checking in!

[2019-03-13 13:17] cephalin commented on #25672
@swasifali Thanks for your feedback. However, the EF context isn't the focus of the tutorial, but showing how to add the managed identity token is. The EF context approach is the same as the approach taken by the default MVC template so this article isn't the best place to discuss whether that's the right approach or not. #please-close

[2019-03-13 13:17] Placid7 commented on #26576
Yes I can query those logs. But the Alerts present are the "Analytics" I manually configured.

I also noticed that "Threat Protection" in Security Center is showing "No Security Alerts", but if I query my logs I can see multiple failed attempts to log in to my SQL VM. This should trigger an alert for a brute force attempt.

If I run the query:

[code]

It returns 10,000 results. From a single IP I

[2019-03-13 13:23] Placid7 commented on #26734
In order for JIT access to work then Internet traffic would have to be open on the VM. This is a going to then increase you attack vulnerability footprint. I shouldn't have to expose my environment to use an Azure service.

[2019-03-13 13:26] sergaz-msft commented on #23842
@Kimnaga did you look at Alina's suggestion and made progress on the issue? Thanks.

[2019-03-13 13:29] smoms commented on #18398
Sorry to open it again but i want to be sure i understand since i have same issue. @MarekLani no identity translation has been implemented yet in the gateway? How can leaf device receive twin updates? thanks

[2019-03-13 13:29] JulianHayward commented on #24269
tested with az.security Version 0.7.3 - confirm issue is fixed

[2019-03-13 13:29] #24269 closed

[2019-03-13 13:30] msazurelearn opened #27034 "Support Matrix for Dynamics CRM apps"
Supported Dynamics CRM versions that can be migrated using ASR ? I can see Dynamics CRM 2011 is not supported. Is there a way to migrate 2011 versions ? Can you create a support matrix and reasons for not supporting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2eca019-3dc3-a07a-3ff5-a3b67eb437b0
* Version Independe

[2019-03-13 13:34] stdistef commented on #18566
Hyper-V is supported.   I downloaded the zip and looked inside.   I see tools and a nice template (excel) which has support built in.    I think they just overlooked that sentence.

[2019-03-13 13:36] lifeasandythompson commented on #26975
I had the same error however the certificate ended up being added despite the error indicating otherwise.

[2019-03-13 13:45] sergaz-msft commented on #23584
Hi @raghavan20 . For more techincal questions not related with a doc we request that an issue is filled under the iotedge repo: https://github.com/Azure/iotedge/issues . There you will have support from Product Group and the more technical community.

Let us know if this issue can now be closed?

Thanks!

[2019-03-13 13:53] sergaz-msft commented on #25834
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-13 13:53] #25834 closed

[2019-03-13 13:54] sergaz-msft commented on #23265
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-13 13:54] #23265 closed

[2019-03-13 14:00] donniekerr opened #27036 "Graph API calls using token from auth.me"
Doc should tell us how to get the user claims and token and use them to user profile info from graph api.  I can't fugure out how to use the token from auth/me in the graph requests?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4518495-4e07-ce2e-4045-5a50b7922b55
* Version Independent ID: 034d1ba0-a737-21ab-3717-ed8

[2019-03-13 14:03] sergaz-msft commented on #25848
Hi @SQLDataSide happy to help :). Did you post your question on Gitter already? Can you get me the link to your question and let's follow-up there? Thanks!

[2019-03-13 14:04] tomaszkosturekswissre opened #27037 "testIdentity and role assignments"
Can someone explain why this testIdentity is being created and why does it get those grants (appgw contributor, resource group reader) if its not being used anywhere? Shouldn't those grants be given to the aks_service_principal? Based on the "Managed Identity Operator" assignment to the aks_service_principal, I'm guessing that the intention of testIdentity was to back aadpodidentity.

---
#### Doc

[2019-03-13 14:19] illomi7 commented on #22676
Hi @iainfoulds @MicahMcKittrick-MSFT,
any update on this issue, we encounter the same problem.
We need to comunicate at the server the job that not been elaborated before the pods been destroyed.

Let us know if there is some update.
Thanks.

[2019-03-13 14:23] samhodgkinson opened #27038 "Classic Alerts"
This ARM example creates a classic alert, which soon will be retired. The example should now be focused on the new alerts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b5848cb-e266-6235-76c3-7b171d43bc8a
* Version Independent ID: 21fde16e-de99-66a6-89b8-c1651db074e1
* Content: [Create, View, and Manage Activity Log

[2019-03-13 14:31] danimir commented on #27016
Hi there, this is a service support request not requiring documentation clarification or feature updates. specific to this page. Please note that you should use Azure Portal to submit [support requests](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request).

--------------

I will try to point you in the right direction:

1) The data will show up when you

[2019-03-13 14:32] breyed commented on #14133
Other pages that describe protocol options should be updated, too, such as [Optimize performance](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-performance-improvements).

Currently, it's not clear what protocols are supported, what the defaults are, and what the default fallbacks are.

[2019-03-13 14:35] cephalin commented on #26876
@kscerri While the experience is not perfect, you can just look into the history and get an older version of the doc. For example: https://github.com/MicrosoftDocs/azure-docs/blob/57859229cbd73d81eca1b26c97ae4b9564aeab2f/articles/app-service/containers/quickstart-python.md. #please-close

[2019-03-13 14:41] breyed opened #27039 "Guidance on whether to override the default protocol"
This page says:

What is the dedicated SOAP-based protocol that this page is referring to? Is it SBMP? If so, should new applications override it? According to other doc pages, SBMP is ["legacy"](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-messages-payloads), and ["The proprietary SBMP protocol that is also supported is being phased out in favor of AMQP."](https://docs

[2019-03-13 14:46] danimir commented on #27015
Hi there, I see that you have submitted 3 separate questions making it difficult to respond. Please ensure next time you post a single concise question related to documentation content or product features only. You are asking for service support for which the most appropriate course of action is to create service support request through [Azure portal](https://docs.microsoft.com/en-us/azure/azure-s

[2019-03-13 15:09] georgewallace commented on #26618
@jhankins71 Thanks for reaching out.  Yes it looks like the parameter sets have changed.. you chose the correct one `ServicePrincipalCertificateWithSubscriptionId`.  If you follow the steps but use that parameter set, you will be able to log in successfully.. I will update the doc

[2019-03-13 15:14] spelluru commented on #14133
@axisc - please look into when you get a chance. Thanks.

[2019-03-13 15:29] georgewallace commented on #21014
@YvonneArnoldus You can absolutely use the Automation internal cmdlets in DSC configurations.. Below is an example of using one. This example uses `Get-AutomationPSCredential` but can easily be switched to `Get-AutomationCredential`, `Get-AutomationCertificate`, etc.  If you are having problems using the cmdlets on your DSC node I would suggest contacting support.

[code]

[2019-03-13 15:29] kscerri commented on #26876
@cephalin thanks for the link. Unfortunately, the pushing to azure section is missing [!INCLUDE Push to Azure] - which is where I get the deployment errors. Is that guide still available? Thanks!

[2019-03-13 15:48] diberry commented on #26845
@RohitMungi-MSFT Please feel free to log an issue with the github [Recognizers-Text](https://github.com/Microsoft/Recognizers-Text) repo that is responsible for that entity.

[2019-03-13 15:48] takinoe opened #27042 "SMS of fixed phone number for one-time passcode B2B guest authentication"
Hello, instead of using a password for B2B guest authentication, I would prefer to use a phone number, either a mobile number or a fixed phone number (some users do not have a company mobile phone so can only use a fixed phone number). Is it possible to use this ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83f1378d

[2019-03-13 15:50] dhaval24 commented on #23517
@AmanGarg-MSFT this instructions are not complete on how to onboard and use java agent in WebApps. This only shows one potential way to bring java agent to kudu. After that user will have to do either one of the following:
1. addd JAVA_OPTS = /path/to/agent (in webapp setting). This would be enough if the application is deployed as war on tomcat app service.
2. If App is deployed as Springboot app

[2019-03-13 15:50] saulcruz commented on #17261
@hmayer1980  I'm sorry for the late response.  Not sure if you still have this problem but this is how I defined this. (My collaboration branch in my case is "develop")

These are my repository settings:
![image](https://user-images.githubusercontent.com/28897049/54293005-8c666b00-4585-11e9-80a4-dfaf024596db.png)

Root folder is  "/"

This is my github repo folder structure:
![image](https://user-

[2019-03-13 15:52] AmanGarg-MSFT commented on #26983
@naimco Good to know that you figured it out. We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-03-13 15:52] #26983 closed

[2019-03-13 15:53] jtuliani opened #27043 "Export for disks?"
Under 'Granular access control' the article mentions an 'export' action for disks.
However, there is no such action in the REST API: https://docs.microsoft.com/en-us/rest/api/compute/disks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfaec879-f3e0-afba-fbe8-85e6e28937df
* Version Independent ID: b21d00cd-0323-26d0-34

[2019-03-13 15:54] AmanGarg-MSFT commented on #27015
@danimir Thank you for your response!

[2019-03-13 15:54] #27015 closed

[2019-03-13 15:54] francisCS opened #27044 "Question: How can I query these metrics with Kusto (Azure Data Explorer) ?"
I try to use the cross domain function in the Query Windows in the Monitor Section in Azure.  It works for other metrics of the VM and even App Insight but not with telegraph...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cea95e2-c775-c363-d468-2232c2b51f4a
* Version Independent ID: c87ec30c-b0b7-d6e5-403b-a6d99912

[2019-03-13 16:03] cijothomas commented on #26577
If you also use Microsoft.ApplicationInsights.AspNetCore then appsettings.json will be checked for ikey, but other wise not supported at this point.
Tracking issue in ilogger repo:
https://github.com/Microsoft/ApplicationInsights-dotnet-logging/issues/272

[2019-03-13 16:08] binaytamrakar opened #27045 "The external IP address still does not work"
I followed the steps to create an internal Load Balancer. After waiting for a while, I got an external IP address. I tried it in the browser, but it did not work.
$ kubectl get svc testapp
NAME               TYPE           CLUSTER-IP    EXTERNAL-IP   PORT(S)        AGE
testapp             LoadBalancer   10.0.5.131    10.240.0.7    80:31825/TCP   2m

I even tried 10.240.0.7:31825 but with no succes

[2019-03-13 16:09] rachel-msft commented on #6337
#please-close

[2019-03-13 16:10] w0ut0 opened #27046 "Does an update fetch the latest container image?"
My use case:
I build and push a new image to the Azure Container Registry. ( containername:latest )
My Container Instance uses the image "containername:latest", and is created successfully.

When I now call "az container create" again, with the same options, does Azure check whether "containername:latest" is updated in the Azure Container Registry?

What is best practice to update the container wh

[2019-03-13 16:12] Karishma-Tiwari-MSFT commented on #24942
@diegotrujillor We are looking into your issue and will update you shortly.

[2019-03-13 16:12] Karishma-Tiwari-MSFT commented on #27043
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-13 16:12] AmanGarg-MSFT commented on #27016
@danimir Thank you for your response!

[2019-03-13 16:12] #27016 closed

[2019-03-13 16:13] Karishma-Tiwari-MSFT commented on #27027
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-13 16:14] shashishailaj commented on #27042
@takinoe Thank you for your query. We will investigate and update this thread further.

[2019-03-13 16:16] shmahanta opened #27047 "Need to enable Elastic Job preview feature on target subscriptions as well?"
I'm wondering if the preview feature for elastic jobs needs to be enabled on all the subscriptions (including the targets) or just on the subscription from which the elastic job is going to run.
The following section is not clear in this aspect, and I'll need to evaluate if I need to enable this preview feature on other subscriptions that my job is going to run against.
https://docs.microsoft.com/

[2019-03-13 16:18] MicahMcKittrick-MSFT commented on #25130
@paulbouwer yeah I agree that makes sense. No use in doing multiple minor updates if a larger update might be needed shortly.

[2019-03-13 16:21] MicahMcKittrick-MSFT commented on #26750
@radwiv thanks for the report. If you have further issues just let us know.

[2019-03-13 16:24] MicahMcKittrick-MSFT commented on #27046
Thanks for the question! We are investigating and will update you shortly.

[2019-03-13 16:24] MicahMcKittrick-MSFT commented on #27037
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-13 16:25] MicahMcKittrick-MSFT commented on #27045
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-13 16:30] YuriySamorodov opened #27048 "Subscribe to Log Script Errors"
The script in the section below does not work properly:
[https://docs.microsoft.com/en-us/azure/azure-monitor/insights/solution-office-365#subscribe-to-log-analytics-workspace](url)

Error I am getting:
[code]
When I check Authentication contexts for auth methods I would get the ones below:

![image](https://user-images.githubusercontent.com/5260172/54296649-601f0e80-45c6-11e9-8a70-5829c50ac5f8.pn

[2019-03-13 16:31] samhodgkinson commented on #16257
Any update on this ?

[2019-03-13 16:33] roygara commented on #26505
@JGILLEAN thank you for taking the time to write us feedback, we appreciate it! We've decided to remove specific pricing information and instead refer readers to the ACOM pricing page. The article has been updated accordingly.

#please-close

[2019-03-13 16:34] hmayer1980 commented on #17261
Thanks, I am fine now.

[2019-03-13 16:35] #26505 closed

[2019-03-13 16:41] jlian commented on #26870
Let us know if this works for you @murdockcrc, then we can merge (the equivalent of) https://github.com/MicrosoftDocs/azure-docs/pull/27049

[2019-03-13 16:42] chenlonghu commented on #10588
@Phydeauxman @BryanTrach-MSFT @vascofernandes @CHDAFNI-MSFT @Vegas588
Hello guys, I managed to pull it off and here is the link to the blog: [https://chenlong.hu/blog/read?id=mea0oNMCWJKGOrf9wlaDDuDVKel4&category=Tech](url)
Feel free to comment and share.
Cheers.

[2019-03-13 16:42] Grace-MacJones-MSFT commented on #27036
Hi @donniekerr, thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-13 16:44] roygara commented on #26600
@jakaruna-MSFT thanks for helping to clear things up.

Since this has been clarified:

#please-close

[2019-03-13 16:45] donniekerr commented on #27036
See my post here https://stackoverflow.com/questions/55144062/azure-web-app-with-acitve-directory-express-with-graph-api-to-get-user-photo

[2019-03-13 16:49] shashishailaj commented on #27028
@SamBlakeC Thank you for your feedback . We will investigate and update the thread.

[2019-03-13 16:52] ericdrobinson commented on #26892
1. The "Servers" image doesn't match what I see:
    ![image](https://user-images.githubusercontent.com/9142587/54297267-ecacdb00-458c-11e9-9d17-94f3b5ef3530.png)
2. The "Metrics Explorer" image seems to match what is now just "Metrics"?
3. Many of the metrics listed in the "Metrics" page (e.g. Process CPU) show nothing.

First off, is that information available on the docs site anywhere? If not,

[2019-03-13 16:55] StingyJack commented on #26460
Closure on this is fine @femsulu, I just don't believe uservoice actually works for this kind of thing. General functionality/possibility questions currently don't have a better home than docs.

[2019-03-13 16:57] SnehaAgrawal-MSFT commented on #26606
@carehart Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-13 16:57] #26606 closed

[2019-03-13 16:59] Abdulmanahtalib commented on #27046
Tq

[2019-03-13 17:00] Mike-Ubezzi-MSFT commented on #26867
@chrislewisdev2 The content is detailed in a separate document linked from the bottom of the document you linked this issue from:

![Screenshot (306)](https://user-images.githubusercontent.com/37126106/54298755-9d5bb000-4576-11e9-9cd8-3f3f3f781373.png)

The document you want is: [Globally scale provisioned throughput](https://docs.microsoft.com/en-us/azure/cosmos-db/scaling-throughput)

I should h

[2019-03-13 17:01] expiscornovus commented on #26879
@CHEEKATLAPRADEEP-MSFT, thanks for the update! :)

[2019-03-13 17:01] Abdulmanahtalib opened #27050 "Requests"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-03-13 17:02] Mike-Ubezzi-MSFT commented on #26867
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-13 17:02] #26867 closed

[2019-03-13 17:03] Mike-Ubezzi-MSFT commented on #6337
@marcelvb We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-13 17:03] #6337 closed

[2019-03-13 17:03] tchristiani commented on #25759
#please-close

[2019-03-13 17:12] Mike-Ubezzi-MSFT commented on #27047
@shmahanta Thank you for your detailed inquiry. The following section details that this feature must be enabled in each subscription where Elastic Jobs are going to be run:

[Enable the Elastic Jobs preview for your subscription](https://docs.microsoft.com/en-us/azure/sql-database/elastic-jobs-powershell#enable-the-elastic-jobs-preview-for-your-subscription)

Please let me know if this answers you

[2019-03-13 17:16] diegotrujillor commented on #24942
Thanks, I was able to use the autoscaler once I deleted the cluster and recreated again. You can skip the looking into the issue. Any chances in the future to enable the autocluster on existing ones created without the --enable-vmss from the init? Or probably an update that accepts --enable-vmss then --enable-cluster-autoscaler, in this case would not needed delete the cluster at all.

[2019-03-13 17:25] 007 opened #27051 "Linkedin integration needs to be an opt-in feature"
Automatically opting every organization in to Linkedin sharing for SharePoint et al is a bad idea.

Anything that requires an org to explicitly take an action to maintain their security stance for sharing documents is a net-negative to the security of AzureAD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22b21ab5-ea7

[2019-03-13 17:25] SwamyNallamalli commented on #26742
I am using this to run every 30 minutes - 0 0/30 * * * *
But if an instance is running for more than 30 minutes, the second instance is starting. Is there a way to avoid the second instance to kick off while the first one is still running?

[2019-03-13 17:27] rofangaci opened #27052 "wsdl version"
i have legacy wsdl 1.1 file, have some import errors. what is the wsdl version supported here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f393748-f909-a584-a15f-b64e45955d79
* Version Independent ID: afb5cb8d-b707-e24e-0683-d295bab506e2
* Content: [Import SOAP API using the Azure portal](https://docs.microsoft.com

[2019-03-13 17:28] v-miclar commented on #26457
#please-close
I can find no instance of the word "unit" (nor the phrase "plan with capability of 10 units") on this page nor in the Cloud Partner Portal UI on this Plan tab, so I have no ide what you are referring to.

[2019-03-13 17:28] carehart commented on #26606
Thanks, but shouldn't the ticket not be closed until the update is put in place? This is the second time this has happened (in other pages with other contributors). Am I misunderstanding something? Is there a  reason you are compelled to "close" them before the issue is "fixed"?

[2019-03-13 17:37] yushwang commented on #8535
Let me know if there are more questions; otherwise #please-close

Thanks,
Yushun

[2019-03-13 17:38] zmarty opened #27053 "Instructions not detailed enough"
Please provide some more detailed instructions for Step #3 under "Granting your app access to Key Vault". It's not clear at all what I have to do there, even if I follow the link to the official documentation. If you include some screenshots that's even better.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-72

[2019-03-13 17:39] anirudhcavale commented on #27044
@francisCS I'm sorry what is a "cross-domain" function. Telegraf metrics sent, as described in this artivle, are not flowing to Kusto (Azure Data Explorer). They flow to the Azure Monitor metrics store, they are queryable via the Metrics REST API only - https://docs.microsoft.com/en-us/rest/api/monitor/metrics/list
In the future we  will explore enabling users to also route these metrics to a Log

[2019-03-13 17:41] zmarty opened #27054 "How to use Azure Key vault on local dev box"
Can you provide some explicit instructions on how to set up Azure Key vault during local development? How do I secure the secrets we store in the checked-in file local.settings.json?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-7233-a3cb-cb9b-a9a55b1f0d7a
* Version Independent ID: f41f9d51-52f8-1f45-1043-134

[2019-03-13 17:43] francisCS commented on #27044
Ok Thx, Hope you will provide this capability.  I was meaning cross-resource ...
For instance for an app Insight, we do app("Name of your app").requests.....
We are using Neo4J and use telegraph and promotheus... It will be very great to incorporate to the big query that I run after my performance test.

Thx Again

[2019-03-13 17:48] mike-urnun-msft commented on #27032
Hi @olitomlinson Thank you for your feedback! We will review and update as appropriate.

[2019-03-13 17:50] MicahMcKittrick-MSFT commented on #26904
Since we note the slow startup it is a known thing. I would't call it a problem though. Just something built into the design. That being said, I am not sure how much engineering can do to decrease that time as I know Windows often takes longer than for example a linux machine to fully boot and be accessible. The same thing can be said for running standard Virtual Machines. Windows time to availabi

[2019-03-13 17:53] Minewiskan commented on #26879
@expiscornovus - Web designer and Import from Power BI Desktop have not yet been removed from all Azure environments. Deprecated means a product or feature will be discontinued or removed in a future build, but remains supported until that time. When these features have been fully removed from all environments, the docs for them will also be removed.
#please-close

[2019-03-13 17:56] MicahMcKittrick-MSFT commented on #27037
@TomArcherMsft could you comment further on this?

[2019-03-13 17:57] blouwagie opened #27055 "Please explain {the obvious}"
Please clarify that:
a) One needs to edit those commands and replace everything within curly brackets with specific information.
b) Show where to find that things like the {Subscription Guid}

I know seems like we should but guess what I thought wrongly that I could copy the commands as instructed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-03-13 18:00] SumanthMarigowda-MSFT commented on #26699
@Klaas- If they are looking for our official numbers, I would suggest you to the refer to the below mentioned link them here: https://azure.microsoft.com/en-us/support/legal/sla/storage/v1_3/

[2019-03-13 18:00] IanMercer opened #27056 "Whats does "with" mean in the sentence "Currently, managed identities do not work with App Service deployment slots"?"
Does it mean (i) If you use deployment slots you cannot use managed identities for your App Service at all, or (ii) You can use managed identities at the App Service level, but you cannot change the identity on a per-slot basis?

Suggestion: Clarify what this means.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c25a3

[2019-03-13 18:01] SaurabhSharma-MSFT commented on #27055
@blouwagie Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-13 18:02] Karishma-Tiwari-MSFT commented on #26360
@OffColour Any update? Please let us know so we can assist better. :)

[2019-03-13 18:06] AmanGarg-MSFT commented on #27050
@Abdulmanahtalib Thank you for your post. Please let us know in case you have any specific request as the issue details do not clarify much. If you have a specific request about some documentation, please provide the link for the document so that we can help you better.

[2019-03-13 18:07] SaurabhSharma-MSFT commented on #26881
@stardusttrans We have put a hold on on-boarding any new 3rd party MFA providers pending a full process, legal, strategy and business review of the whole Custom Controls feature. Once we have a more established process in place, we will publish the same.

[2019-03-13 18:12] paulbatum commented on #26761
If you configure a function app with a different value for AzureWebJobsScriptRoot, then the functions host should honor that new value. For example, if you set `AzureWebJobsScriptRoot = D:\home\site\wwwroot\foo` then the functions host would look for a host.json file and function directories in the `D:\home\site\wwwroot\foo` location.

By default, this environment variable is not set. So it is exp

[2019-03-13 18:20] TomArcherMsft commented on #27037
@MicahMcKittrick-MSFT I do not know the answer. Please assign the issue to me and I'll work with the FT to answer the question.

[2019-03-13 18:20] citizen38 commented on #26457
The reference was to related plans that may be similar but with different dimensions e.g a plan for a mailbox with 10GB capacity and a plan for a mailbox with 20 GB capacity. The question was could you move between the plans for upgrade/downgrade purposes.

[2019-03-13 18:26] TomArcherMsft commented on #27037
@grayzu Could you take a look at this?

[2019-03-13 18:44] kashimiz commented on #27029
@maulik-modi https://github.com/Azure/durabletask is the repository for the Durable Task Framework. The classes and methods you list are part of the Durable Task _extension for Azure Functions_, aka Durable Functions, whose repo is https://github.com/Azure/azure-functions-durable-extension:

- [DurableOrchestrationContext.cs](https://github.com/Azure/azure-functions-durable-extension/blob/dev/src/

[2019-03-13 18:44] v-miclar commented on #26457
#please-close
Please refer to the topic that discusses modifying the SaaS offer: [Update an existing SaaS application offer](https://docs.microsoft.com/azure/marketplace/cloud-partner-portal/saas-app/cpp-update-existing-offer) and the more general topic [Update Azure Marketplace and AppSource offers](https://docs.microsoft.com/azure/marketplace/cloud-partner-portal/manage-offers/cpp-update-offer).

[2019-03-13 18:45] msrini-MSIT commented on #27019
The changes are successful. Closing this issue.

[2019-03-13 18:45] #27019 closed

[2019-03-13 18:53] tomaszkosturekswissre commented on #27037
I might have figured it out. Indeed, the Managed Identity Operator grant is required for aadpodidentity, which is what the application gateway ingress controller would use. That also explains why it requires contributor on the appgw resource itself. In the repo of appgw-ingress I see that MS offers it as a Helm chart, which also installs aadpodidentity. This guide supposedly enables an aka cluster

[2019-03-13 18:56] TomArcherMsft commented on #27037
@tomaszkosturekswissre Thanks much for the info
@grayzu Could you confirm the feedback provided by @tomaszkosturekswissre , and update the article as appropriate?

[2019-03-13 19:05] MicahMcKittrick-MSFT commented on #27045
@binaytamrakar although it says External-IP this doc is creating an Internal Load Balancer. So you won't be able to connect to that IP unless you are directly connected to that Virtual Network. So for example, if you had a VM on the same Virtual Network, you could use the external-IP of the internal Load Balancer to reach the app.

If you want to access the LB from a browser outside of the Vnet yo

[2019-03-13 19:22] SubhashVasarapu-MSFT commented on #26005
@Vossekop , The Document was updated.We are now proceeding to close this thread.

[2019-03-13 19:22] #26005 closed

[2019-03-13 19:26] mattbriggs commented on #21404
@jgallucci32 This issue is still with engineering. I have created a work item to track the issue on this side and will post and update when they have it. Thanks again for your feedback. #please-close

[2019-03-13 19:29] AjayKumar-MSFT commented on #26653
@masters3d, As David mentioned, it’s effectively V2 of BizTalk Hybrid Connection Manager.
Based on your requirement, within App Service, Hybrid Connections can be used to access application resources in other networks or you could leverage Hybrid Connections outside App Service for scenarios mentioned here -[Azure Relay Hybrid Connections](https://docs.microsoft.com/en-us/azure/service-bus-relay/r

[2019-03-13 19:29] #26653 closed

[2019-03-13 19:42] JasonWHowell commented on #26323
@iljoong We are working on a fix. Hope to have it published soon. Thanks!

[2019-03-13 19:49] javester opened #27062 "Creating a schedule - "Active" true/false property should be 'Enabled'"
When creating a schedule, to set it either Enable or Disabled, the correct property seems to be 'Enabled' and not 'Active' as the document shows.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8ca0e65-acf5-32c8-bfa1-8a614881e053
* Version Independent ID: b19eea83-4834-6824-1363-2542888b4b1c
* Content: [Using Log Analy

[2019-03-13 19:49] TomArcherMsft commented on #23920
@dneelyep Thank you for the feedback. We are working with HashiCorp and GruntWorks on this issue. Until then, I'll add a note to the article indicating that the steps do not work for Terratest versions 0.12+

[2019-03-13 19:51] TomArcherMsft commented on #26747
@elliottnichols Is this a duplicate of the Issue (#23920) to which you refer? If so, @Karishma-Tiwari-MSFT please close this issue and we'll continue discussion on the other Issue.

[2019-03-13 19:52] MicahMcKittrick-MSFT commented on #26905
@ronhowe I will close this for now. Please open a new issue directly on the doc you are referring to if you still have a question and we can take a look.

[2019-03-13 19:52] #26905 closed

[2019-03-13 19:58] ashleywb opened #27063 "Optional Value"
"To specify an optional parameter, don't use an empty string as a default value. Instead, use a literal value or a language expression to construct a value."

I have the option to provide a  domainLabelName , I get an error if this is an empty string. How should this be handled in the ARM template :
"properties": {
        "publicIPAllocationMethod": "[parameters('publicIPAddressType')]",

[2019-03-13 20:02] murdockcrc commented on #26870
I’m not sure how to interact with the protocol directly, as I’m using the .NET client SDK and protocol-level modifications are abstracted away. Any ideas?

[2019-03-13 20:04] AjayKumar-MSFT commented on #26756
@Carehart, Thanks again for your response and sharing your feedback. My understanding is that the specific document section on ‘Deploy WAR file’ , that highlights the process of deployment by POST API which needs HTTP BASIC authentication for validation, and so it is important to call out on how the credentials are obtained referencing the other document specific section for a greater clarity. Kin

[2019-03-13 20:12] carehart commented on #26756
I don't disagree it needs basic validation. I disagreed that it needed to be a new paragraph, which could lose the attention of users reading the previous one.  But we're debating semantics at this point.  I will close the issue. Thanks.

[2019-03-13 20:12] #26756 closed

[2019-03-13 20:28] jluk opened #27064 "CLI preview note is incorrect?"
"When you install the aks-preview extension, every AKS cluster you create uses the scale set preview deployment model. To opt out and create regular, fully supported clusters, remove the extension using az extension remove --name aks-preview."

Is this right? The cluster creation with VMSS includes an explicit --enable-vmss flag, meaning I would assume the type is opt-in and not changing the defau

[2019-03-13 20:44] citizen38 commented on #26457
Thanks Michael. I think I have not explained properly. "As a customer I wish to switch from one vendor plan to another for a similar service. I have purchased a plan with a set capability and I want to upgrade to a plan with increased capability." Is there a way of setting upgrade/downgrade paths between plans?

[2019-03-13 20:45] KumudD commented on #21224
Added the following text - " The frequency of Traffic view data update depends on multiple internal service variables. However, the data is usually updated once every 24 hours." Thanks!

#please-close

[2019-03-13 20:48] tamram commented on #24689
#please-close

[2019-03-13 20:51] MicahMcKittrick-MSFT commented on #27064
Thanks @jluk will take a look and confirm on this

[2019-03-13 20:53] spelluru commented on #21105
The guidance has been updated as part of this PR:
https://github.com/MicrosoftDocs/azure-docs/pull/26911#event-2201581718

[2019-03-13 20:55] juhap opened #27068 "Better guidance on picking up the DNS domain name"
I think the instructions should more clearly point out that using a domain name like "contoso100.com" is likely something you don't want to do.

This kind of domain is probably already handled by some external DNS server. Using the same name here will cause trouble when you try to resolve names such as www.contoso100.com from machines using the AD Domain Services DNS. Since AD does not know about

[2019-03-13 20:58] roygara commented on #25671
@opticyclic thanks for reaching out, your question is environmentally specific however, I've made some minor additions that should help clarify things if anyone else has questions about this.

#please-close

[2019-03-13 21:22] axisc commented on #27056
cc: @ShubhaVijayasarathy

[2019-03-13 21:24] SquirrelAssassin opened #27069 "Enabled this now Azure Functions Runtime is unreachable"
Appears to have caused some storage issue immediately after being enabled.  Is there anything special we need to do here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-7233-a3cb-cb9b-a9a55b1f0d7a
* Version Independent ID: f41f9d51-52f8-1f45-1043-1344a3b74458
* Content: [Key Vault references - Azure App Servic

[2019-03-13 21:28] axisc commented on #27039
@breyed - SBMP works fine as well, but since AMQP is newer, we recommend newer applications overriding it.

Additionally, the SDK will abstract the actual protocol management for you.

cc: @spelluru  - #please-close

[2019-03-13 21:29] isamllr opened #27070 "What are the limits for Azure Databricks?"
What are the limits for Azure Databricks?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Version Independent ID: 27aecc7b-f107-96d4-b044-ae026bca2727
* Content: [Azure subscription limits and quotas](https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits)
* Conte

[2019-03-13 21:32] breyed commented on #27039
It's handy the SDK to handle protocol selection, but it's still important to document what it is. (Abstraction has its limits.) For example, if it tries a non-HTTP protocol first and falls back to a slower HTTP protocol, it's important to know that, so that network administrators know that they can gain performance by ensuring that the preferred IP port isn't blocked by a firewall.

[2019-03-13 21:37] Mike-Ubezzi-MSFT commented on #26580
@Knight21024 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion but, this specific issue is better served through support. There are no documentation related action items.

[2019-03-13 21:37] #26580 closed

[2019-03-13 21:38] brandonh-msft opened #27071 "Consumption tier does not offer an IP address"
The docs say "in all tiers" you can get the IP address to whitelist for downstream systems. However, Consumption Tier does not appear to offer this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b45736d2-b0f4-05c3-8e2f-fde88f53b61a
* Version Independent ID: f6c4d89a-1cc5-3e2a-6a3c-3b292cecead7
* Content: [Azure API Ma

[2019-03-13 21:43] Mike-Ubezzi-MSFT commented on #26706
@jssanta96 What exactly is being attempted here? The desired connectivity configuration you are seeking is the default, so this should have worked without making any changes: [Connectivity from outside of Azure](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-connectivity-architecture#connectivity-from-outside-of-azure)

Are you attempting to connect over the internet or through a

[2019-03-13 21:45] Mike-Ubezzi-MSFT commented on #26857
@Anmolgan81 Yes -> PostgreSQL to Azure DB for PostgreSQL online.

[2019-03-13 21:49] karthikdevarakonda commented on #26514
@BhargaviAnnadevara-MSFT i did look into the custom results but no luck.

I think i'm missing some config or settings. here are the steps i have tried:

1. Created a test project
2. Added appinsights nuget package
3. Defined the telemetry config with the instrumentation key
4. Sending a Custom event to track and a custom availability metric to track

But i dont see them on the portal.

[2019-03-13 21:51] Mike-Ubezzi-MSFT commented on #27047
@shmahanta I believe that each database where the elastic job is associated, that subscription will need to have the `Register-AzProviderFeature` command run. This closely lines up with your statement, " it includes all the resources on any subscription that are accessed by the job."
Is there a concern? Or are you seeking clarity?

[2019-03-13 21:56] shmahanta commented on #27047
Thanks. I'm planning to deploy an elastic job l've prepared for auditing different DBs covering many different resource groups and subscriptions. I mainly wanted to evaluate the effort needed on owners of these resources for my job to be deployed on their DBs.

[2019-03-13 21:58] marcelofelman opened #27073 "Diagnostic logs for Node on App Services"
I couldn't find in this document a way to get the Node logs from a web app.

The only way I found would be navigating to wwwroot via Kudu, but then I also discovered this mention in the MongoDB Sample: https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-nodejs-mongodb-app#stream-diagnostic-logs

I think it would be very useful for everybody, but especially for beginners, to

[2019-03-13 21:59] shmahanta commented on #27047
I understand that you give high probability that they need to enable this feature. It would have been great to know if it is needed for sure. Also, can you please confirm that enabling this preview feature (letting aside the actual cost of running the job) would not affect the current behavior/cost of the services on the target subscriptions?

[2019-03-13 22:02] Gismork opened #27074 "Is it possible to restrict access to few users from Azure AD ?"
On an App Service when enabling **Authentication/Authorization** and using **Log in with Azure Active Directory** option, is there an easy way to restrict which users from this Active Directory will be able to connect to this application ?

We use this features on some App Services to be able to quickly enable Authentification/Authorization without requiring any development. We don't want to leave

[2019-03-13 22:03] AlejoSQL commented on #26705
Hi @SumanthMarigowda-MSFT : I am aware of that content. My question was specifically if that content was/is still valid, considering it is from quite a few years ago. It is really paramount to have a clear understanding of the current internals of storage.

Thank you!

[2019-03-13 22:03] Mike-Ubezzi-MSFT commented on #27047
@johnpaulkee I am hoping you can provide some additional details around Elastic Jobs and the enablement of this feature in target subscriptions per the concerns pointed out by the customer.

`Register-AzProviderFeature -FeatureName sqldb-JobAccounts -ProviderNamespace Microsoft.Sql`

[2019-03-13 22:10] #21404 closed

[2019-03-13 22:10] #21989 closed

[2019-03-13 22:11] #23983 closed

[2019-03-13 22:11] #23984 closed

[2019-03-13 22:11] #24732 closed

[2019-03-13 22:11] Anmolgan81 commented on #26857
Any idea about whitelisting the DMS instance public ip into AWS RDS postgresql database? How to get the public ip of the dms instance?

Regards
Anmol Ganju

________________________________
From: Mike Ubezzi <notifications@github.com>
Sent: Thursday, March 14, 2019 3:15:17 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] How to Migrate AWS RDS PostGr

[2019-03-13 22:11] #24744 closed

[2019-03-13 22:11] #24771 closed

[2019-03-13 22:11] #24773 closed

[2019-03-13 22:12] #25672 closed

[2019-03-13 22:12] #25759 closed

[2019-03-13 22:12] #26457 closed

[2019-03-13 22:12] #26600 closed

[2019-03-13 22:12] #26876 closed

[2019-03-13 22:13] #26879 closed

[2019-03-13 22:13] #8535 closed

[2019-03-13 22:18] rboucher commented on #26459
understood.   Certainly we can add that cavet. Updated in private PR https://github.com/MicrosoftDocs/azure-docs/pull/27075.  Should go live later this week.

[2019-03-13 22:25] YutongTie-MSFT commented on #27033
@bertrandpons
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-13 22:27] walsehgal commented on #25749
Your gradle files seem fine. Can you try "Invalid Caches / Restart" and then refresh dependencies with "gradlew clean assembleDebug --refresh-dependencies". Let us know if that solves the issue.

[2019-03-13 22:32] daltonrenaldo commented on #21164
@joeoftheforsythe what is the supported ruby version? because I am having the same issue

[2019-03-13 22:33] cherylmc commented on #24644
@infotect1 Thanks for the feedback! I'll add your suggestion to the refresh for this article.

[2019-03-13 22:33] cherylmc commented on #24644
#please-close

[2019-03-13 22:35] cherylmc commented on #24590
Hi! Thanks for your feeecback. I'm adding a documentation note to possibly add this during refresh for the article.

[2019-03-13 22:35] cherylmc commented on #24590
#please-close

[2019-03-13 22:43] cherylmc commented on #19114
I've updated the headings on the article a little bit to make this more clear. Thanks for the feedback! #please-close

[2019-03-13 22:43] #21224 closed

[2019-03-13 22:43] #24689 closed

[2019-03-13 22:43] #25671 closed

[2019-03-13 22:57] cherylmc commented on #16545
Updated a few months ago. All set! #please-close

[2019-03-13 23:02] mrodal opened #27077 "Having trouble running CoreMark script pack"
Is there some config I have to do to run the tests? Im trying to run `processCoreMarkSuite.sh` but it fails with `./processCoreMarkSuite.sh: 46: ./processCoreMarkSuite.sh: ./chkCoreMark.bash: not found` when `chkCoreMark.bash` is actually there. Could you provide some instructions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-03-13 23:11] MicahMcKittrick-MSFT commented on #27077
@mrodal we also provide the link directly to CoreMark

https://www.eembc.org/coremark/faq.php

From there, it gives you a link to the github repo

https://github.com/eembc/coremark

Check that and see if it helps.

Since CoreMark is not something we own we wouldn't want to add specific instructions on how to run it directly in the Azure docs as if it changes and they update the CoreMark docs then

[2019-03-13 23:14] Alberto-Vega-MSFT commented on #26872
Hi @toddgauntgs  just touching base to see if the information on that issue was useful.

[2019-03-13 23:16] mrodal commented on #27077
Thanks @MicahMcKittrick-MSFT , but that link is to the original coremark scripts, Im trying to run the ones provided by you guys on [this link](https://download.microsoft.com/download/3/0/5/305A3707-4D3A-4599-9670-AAEB423B4663/AzureCoreMarkScriptPack.zip) that wrap the original ones.

The error I get is from the Azure scripts, and not from coremark

[2019-03-13 23:20] MicahMcKittrick-MSFT commented on #27064
@jluk I did confirm that enabling this preview feature does make all your AKS clusters use VMSS. Even without the --enable-vmss flag

I just used

[code]

And I get a note that

So not sure if the --enable-vmss is actually needed or if it just relates to using auto-scaler

@iainfoulds @sauryadas can either of you confirm?

[2019-03-13 23:23] erwelch opened #27078 "Error from tutorial when setting the connection string on the IoT Edge device"
When running the below command with my properties filled in it errors out.

`az vm run-command invoke -g IoTEdgeResources -n EdgeVM --command-id RunShellScript --script '/etc/iotedge/configedge.sh "{device_connection_string}"'`

I get the following error even though the VM I created was following the steps in the prerequisites section:
[code]
---
#### Document Details

⚠ *Do not edit this section.

[2019-03-13 23:24] MicahMcKittrick-MSFT commented on #27077
@mrodal fair point we don't really give you much other than the download and expect you to figure it out. I don't see much in the zip file either to help explain.

@cynthn could you chime in on this?

[2019-03-13 23:25] jgallucci32 commented on #21404
Thanks @mattbriggs I spent some time doing a little online research and the consensus among a few blog sites is having both Server and Client is "just the way folks have done it for years and no one has thought otherwise" and there really isn't a technical reason behind it. Looking at how MSFT has a majority of their public endpoints for Azure and O365 configured it is clear the default templates

[2019-03-13 23:27] visuazn commented on #15971
How to loop this and do batch predictions for the entire images in folder with file name?

[2019-03-13 23:28] cherylmc commented on #14939
#please-close

[2019-03-13 23:28] visuazn opened #27079 "batch predictions"
How to loop this and do batch predictions for the entire images in folder with file name?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 754dd7d5-dd8b-4a75-5d79-0ba621a847cd
* Version Independent ID: 3cca3535-1c16-2da1-46c6-421cbf808bc3
* Content: [Tutorial: Run TensorFlow model in Python - Custom Vision Service](https

[2019-03-13 23:29] cherylmc commented on #7957
#please-close

[2019-03-13 23:30] carlosporter commented on #22133
ADE is officially supported on RHEL 7.6 now
https://docs.microsoft.com/bs-latn-ba/azure/security/azure-security-disk-encryption-faq?view=azurermps-6.11.0#bkmk_LinuxOSSupport

[2019-03-13 23:35] #27044 closed

[2019-03-13 23:38] femsulu commented on #27048
@YuriySamorodov Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-03-13 23:45] femsulu commented on #27063
@ashleywb Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-03-13 23:51] femsulu commented on #27034
@msazurelearn Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-03-13 23:54] femsulu commented on #27038
@samhodgkinson Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-03-13 23:59] femsulu commented on #27062
@javester Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-03-13 23:59] ecfan commented on #26894
@lmothander & @KetanChawda-MSFT, thanks, we've added a work item on our backlog to address.

#please-close

[2019-03-14 00:03] jluk commented on #27064
Thanks @MicahMcKittrick-MSFT for smoke testing this I'll follow up with AKS about this

[2019-03-14 00:05] BryanTrach-MSFT commented on #27031
@silhano Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-14 00:06] femsulu commented on #27070
@isamllr Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-03-14 00:10] ecfan commented on #24433
@Anand-Moghe & @PramodValavala-MSFT, thanks, we've added a work item on our backlog to triage and address.

#please-close

[2019-03-14 00:10] PingPongSet commented on #26761
@paulbatum,

Thanks for your reply.

First, can you please confirm the path where Functions apps are installed is "D:\home\site\wwwroot\"? and the D drive and folder path will not change, or there is no plan to change.

Second, please rectify the doc below, as it is contractory to what you said. This will make it official.

" In a function app, the default is %HOME%\site\wwwroot."
https://docs.mic

[2019-03-14 00:10] jfggdl commented on #21105
@v-maroge
In that scenario and assuming that 10 TUs are the customer's foreseeable throughput requirements, they are not using a partition key when sending events, then they would create 10 partitions. Throughput units can be configured at 10 or at the level that satisfy their current requirements (10 is the future requirements).

Regarding "customers can have partitions>=Consumer(EventProcessorHo

[2019-03-14 00:11] georgewallace commented on #27031
@silhano Thanks for reaching out. This error is an issue with your Run As Account. Please check out the troubleshooting topic on this exact error. https://docs.microsoft.com/en-gb/azure/automation/troubleshoot/shared-resources#iphelper

[2019-03-14 00:20] trolleyboy opened #27087 "How are apps distributed across app service plan instances"
Hi there,
It would be great to see a bit more information about how apps utilizing per-app scaling are distributed across app service plan instances.
Some specific questions:
1. If I have 10 plan instances, and 10 apps, do the apps get evenly distributed across all 10 (1 app per plan instance)?
2. What happens when another app is added (number 11)?  Does it get allocated to a randomly selected pla

[2019-03-14 00:35] Mike-Ubezzi-MSFT commented on #26857
The Azure Data Migration Service must be deployed with a VNet to give the service a network namespace and IP address. You then attach a public IP address through a gateway and connect the VNey with the gateway. There is no simple answer for this and perhaps your customer may have more knowledge?

[2019-03-14 00:51] jluk commented on #27064
@MicahMcKittrick-MSFT we've got some conflicting internal testing that shows default is still VMAS with extension installed. Can you show the output of az extension list so we can see what version you have?

[2019-03-14 01:03] ross-mcdermott opened #27118 "Minor URL mistake in example (in two places in page)"
Example contains minor error:
This one is ok:
...response-variable-name="throughputdata"
...https://production.acme.com/throughput

Copy / paste error below for next one:
...response-variable-name="accidentdata"
...https://production.acme.com/throughput

Should be https://production.acme.com/accident if following the same naming pattern.

Minor issue.

---
#### Document Details

⚠ *Do not edit thi

[2019-03-14 01:06] Karishma-Tiwari-MSFT commented on #26745
@laserninja According to https://hub.docker.com/r/nvidia/k8s-device-plugin, it does not seem to be available on DockerHub.
Let me know if you are proposing a doc change.

[2019-03-14 01:07] v-maroge commented on #21105
@jfggdl
The point about avoiding to have more TU over partitions is clear, thank you.

What would be the downside of over provisioning partitions? (i.e. 7TU, 32partitions, 1EPH)
in the case that the event processors have the capacity to handle the TUs?

[2019-03-14 01:08] cynthn commented on #27077
@MicahMcKittrick-MSFT and @mrodal this is way outside of my expertise. Let's see if @DavidBerg-MSFT can offer some assistance :)

[2019-03-14 01:23] NateB2 opened #27121 "Guidance for automating the peering process across tenants?"
I'm trying to automate vnet peering between different tenants, and am currently using service principals to authenticate to Azure.  When trying to peer a vnet in a different tenant, I keep receiving permissions errors, and it appears that service principals cannot be added as guest users in different tenants.  Is there any guidance on how to automate this process so we don't have to manually execu

[2019-03-14 01:34] shashishailaj commented on #27068
@juhap Thank you for your feedback . We will have the recommendation checked by the authors and get this reviewed and actioned appropriately.

[2019-03-14 01:36] shashishailaj commented on #27051
@007 Thank you for your feedback . We will investigate on this and update you on this thread.

[2019-03-14 02:03] kdawg1406 opened #27135 "Why Mix Table Storage and CosmosDB on a Table Storage Topic"
[Enter feedback here]
To the untrained, the Azure website is incredibly complex and difficult.

Why Mix Table Storage and CosmosDB on a Table Storage Topic.  CosmosDB information should not be weaved into the Table Storage topic.  Why are you making it more difficult to learn the selected topic?  If I wanted to read about CosmosDB, I would go to that topic,

Karl

---
#### Document Details

⚠ *Do

[2019-03-14 02:07] #25187 closed

[2019-03-14 02:17] kdawg1406 opened #27136 "Why mix table storage and Cosmos DB on the same topic?"
[Enter feedback here]
Why mix table storage and Cosmos DB on the same topic?

These are two different technologies and API's.

Why are you mixing Cosmos DB with Table Storage topics and examples?

This makes it much harder to consume this content.

Azure is hard enough, please separate these topics.

Kar

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-03-14 02:26] #24433 closed

[2019-03-14 02:30] laserninja commented on #26745
Yes, the docker image for nvidia 1.11 works for k8s version 1.12

[2019-03-14 02:35] jfggdl commented on #21105
@v-maroge
Overprovisioning partitions: I do not see any concerns from the service point of view. On the client (consumer) side, the more partitions, the more event processors and that might have implications on resource consumption, concurrency handling on layers of the solution to which your event processors may interact with, etc.. Now, your scenario of having 1 EPH would not be a production sce

[2019-03-14 02:38] jfggdl commented on #21105
@v-maroge

One more thing: When we say "number of partitions" you need to think in the number of partitions that you want to configure across all event hubs under a namespace.

[2019-03-14 02:44] seanmcpartlin commented on #27051
We (O365 admin’s) need the ability to force users to only be able to “Give permission for only the LinkedIn data to be accessed by their Microsoft work and school account.”

We habe zero desire for corprate calendar and contact info to be outwardly shared with linkedin.  ZERO! We will simply disable linked in intergration till we can be certian our users cannot share Corp contacts/cal info with an

[2019-03-14 02:50] kazshi opened #27138 "What is Standard Connectors?"
The following description is from Pricing - Logic Apps | Connectors (https://azure.microsoft.com/en-us/pricing/details/logic-apps/) which has link to this page, but I cannot find definition of "Standard connectors" in this page, all the connectors other than Enterprise connectors?

"Logic Apps connectors provide users with access to SaaS application and on premise data sources, click here for our

[2019-03-14 02:52] mike-urnun-msft commented on #27118
Hi @ross-mcdermott - Thank you for reporting this issue! We will review and make any necessary changes.

[2019-03-14 02:54] mike-urnun-msft commented on #27071
Hi @brandonh-msft Thank you for your feedback! We will review and update as appropriate.

[2019-03-14 02:55] mike-urnun-msft commented on #27052
Hi @rofangaci Thank you for your feedback! We will review and update as appropriate.

[2019-03-14 02:59] ryandenkaat commented on #26654
This can be closed as it was an issue in the customer ADFS configuration not the Custom Policy.

[2019-03-14 03:00] mike-urnun-msft commented on #27138
Hi @kazshi Thank you for your feedback! We will review and update as appropriate.

[2019-03-14 03:19] easonlauys commented on #26978
Guess what, just one-day passed, there's additional 6 bullets under "Improvements" section. Can you please use numbering instead of blank bullet? Now there's a total of 10 bullets under that section. Tomorrow another 4?

[2019-03-14 03:27] DashleenBhandari-MSFT commented on #27069
@SquirrelAssassin Could you please elaborate on the steps you followed and the complete error message you got after enabling Key vault.

[2019-03-14 03:35] femsulu commented on #26618
thanks, Gearge!
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-14 03:36] #26618 closed

[2019-03-14 03:37] femsulu commented on #26753
@LHGDevOps any update please?

[2019-03-14 03:42] femsulu commented on #26896
reassigning to @MGoedtel to review doc-enhancement request.

[2019-03-14 03:45] yohanprs opened #27140 "Waiting for Azure Durable function"
I tried to use Azure function activity to call an Azure durable function through a http trigger as a part of a chain.
Even though the status of durable function is still running, the next activity in the chain is already executed.

What is the correct way to to wait until the durable function is finished?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-03-14 03:47] ManojReddy-MSFT commented on #25984
@DanJ210 I am working with the author to see if this information can be included in this article. I wanted to check in with you to see if you have any further questions.

[2019-03-14 03:50] femsulu commented on #27031
We will now close this issue. If there are further questions regarding this matter, [please raise a support request](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request) with our technical support team. If you don't have a support plan, send mail to AzCommunity@microsoft.com, include your subscription ID and a link to this thread (for context)

[2019-03-14 03:50] TravisCragg-MSFT commented on #15745
@ckittel @duk3luk3  I am reopening this issue.

@sharad4u can you please elaborate on what the best practice would be for mapping apex domains using Azure Front Door?

[2019-03-14 03:50] #27031 closed

[2019-03-14 03:56] Anmolgan81 commented on #26857
But we have both aws postgres and azure postgresql having a publicly access then why we should create a vpn? This does not make any sense.

Regards
Anmol Ganju

________________________________
From: Mike Ubezzi <notifications@github.com>
Sent: Thursday, March 14, 2019 6:05:36 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] How to Migrate AWS RDS Po

[2019-03-14 03:59] TravisCragg-MSFT commented on #26978
@easonlauys Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-14 04:02] TravisCragg-MSFT commented on #26750
reopening until I can make the change.

[2019-03-14 04:04] #24644 closed

[2019-03-14 04:04] TravisCragg-MSFT commented on #24590
@blouwagie We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-14 04:04] #24590 closed

[2019-03-14 04:04] easonlauys commented on #26978
Yes, please. We are taking about Improvements/Changes section. Not the known issues or post-installation issues. I guess you know why I feedback about this. Thank you very much.

[2019-03-14 04:05] #19114 closed

[2019-03-14 04:05] #16545 closed

[2019-03-14 04:07] PerSwede commented on #25784
Damn it (and sorry, no email notification) Im glad you solved it!

[2019-03-14 04:07] TravisCragg-MSFT commented on #14939
@lfshr We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-14 04:07] #14939 closed

[2019-03-14 04:08] TravisCragg-MSFT commented on #7957
@hisasima We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-14 04:08] #7957 closed

[2019-03-14 04:15] AshokPeddakotla-MSFT commented on #27078
@erwelch Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-14 04:20] CelesteDG commented on #25983
@ch81 and @ManojReddy-MSFT - The assets have to be used as-is. They are part of the branding requirements. Thank you.

[2019-03-14 04:20] CelesteDG commented on #25983
#please-close

[2019-03-14 04:25] abhinayabhi commented on #25960
I got the same error earlier but i realized that I was running Docker for Linux which was causing issue. Once I switched back to Docker for Windows this issue gone.

[2019-03-14 04:25] RohitMungi-MSFT commented on #27079
@visuazn Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-03-14 04:28] CelesteDG commented on #25984
@DanJ210 - Thank you for your question. @ManojReddy-MSFT I'm confirming with our feature team and will update the description as needed to address the question. Thank you.

[2019-03-14 04:38] SnehaAgrawal-MSFT commented on #27053
@zmarty Thanks for the question! We are investigating and will update you shortly.

[2019-03-14 04:40] PramodValavala-MSFT commented on #26704
@DeeDab Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-14 04:40] #26704 closed

[2019-03-14 04:53] kvenkazure opened #27141 "Please include the following information into the documentation for Clarity."
ASC Standard tier is required to sent Alerts into EventHub and to push into QRadar.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8e2ed68-8901-d002-a00a-e1d702cc1638
* Version Independent ID: 32c32bf8-8492-e8c6-c05f-3b0845b06913
* Content: [Upgrade to Security Center's Standard tier for enhanced security](https://doc

[2019-03-14 04:58] #25983 closed

[2019-03-14 05:15] KetanChawda-MSFT commented on #26892
@ericdrobinson Thank you for providing the required information. I understand that the UI for Application Insights changed and the document is still showing the older images.

I am assigning this to content author for further review and take an appropriate action.

Also it is mentioned in the [document](https://docs.microsoft.com/en-us/azure/azure-monitor/app/azure-functions-supported-features#per

[2019-03-14 05:17] DixitArora-MSFT commented on #26742
@SwamyNallamalli  There is no such property which will stop the execution of function to execute at 30 minutes as the trigger is set to execute this even if the previuos execution is taking for more than 30 minutes. Recommendation in this scenario is to minimize the processing time or break the functionalities into smaller units.

[2019-03-14 05:18] KetanChawda-MSFT commented on #27029
@maulik-modi Checking in to see if the above post helped answering your question.

[2019-03-14 05:19] #26894 closed

[2019-03-14 05:21] SaurabhSharma-MSFT commented on #26576
@Placid7 If you are having issues with alerts not showing up in Security Center, I suggest you to please open an [Azure Support Ticket](https://aka.ms/azsupt) so that a Support engineer can check further on this issue. In case you limitations in your support plan to open support ticket please let me know.

[2019-03-14 05:22] SaurabhSharma-MSFT commented on #26881
@stardusttrans We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-14 05:22] #26881 closed

[2019-03-14 05:22] AjayKumar-MSFT commented on #27074
@Gismork, Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-14 05:41] SumanthMarigowda-MSFT commented on #27135
@kdawg1406 Thanks for the question! We are investigating and will update you shortly.

[2019-03-14 05:47] imeya commented on #23762
@SumanthMarigowda-MSFT , any update on this? Do you have plans to support ADLA in future? and does ADLA support azure datalake gen2?

[2019-03-14 05:48] thefliik opened #27142 "docs(How-to > Develop > Core Tools Development): debugging"
Using version 2.x of the core tools, the docs don't seem to explain how to locally host functions in debug mode. Version 1.x of the tools mention a `nodeDebugPort` option, but there doesn't seem to be any generic option for Version 2.x.

Using Visual Studio Code, I've found that the the provided `func: host start` task does not seem to support a monorepo format where `host.json` / `local.settings.

[2019-03-14 05:55] jgallucci32 opened #27143 "Need ability to view/delete existing conditional forwarders"
Currently the only option for configuring conditional DNS forwarding is to use the `Register-CustomDnsServer` cmdlet from the privileged endpoint. There is no way to modify or delete these conditional forwarders which may be required if there is a change in the external DNS server configuration (or perhaps you made a mistake). As far as I can tell breaking glass is the only method to removing stal

[2019-03-14 05:56] imeya opened #27144 "Does Azure Data Lake Storage Gen1 will be retired since the ADLS gen 2 is ready now?"
Does Azure Data Lake Storage Gen1 will be retired since the ADLS gen 2 is ready now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30296110-2a2c-073d-068c-0c1485b6097a
* Version Independent ID: feac830e-ebec-0254-60cf-e0225c85d916
* Content: [Overview of Azure Data Lake Storage Gen1](https://docs.microsoft.com/en-us/a

[2019-03-14 05:58] ChiragMishra-MSFT commented on #27144
@imeya As of now there are no plans to retire ADLS gen 1. However it's recommended to migrate to Gen2 as most of the latest features and improvements will be rolled out to Gen2.

Hope this helps.

[2019-03-14 05:59] SumanthMarigowda-MSFT commented on #26705
@AlejoSQL For more clarification on this query let me assign this to the content to the author

[2019-03-14 06:02] msvijayn commented on #27038
@samhodgkinson - as [documented](https://docs.microsoft.com/azure/azure-monitor/platform/monitoring-classic-retirement), activity log alerts are available as-is in Azure portal

![image](https://user-images.githubusercontent.com/33087919/54334693-c51d4780-464c-11e9-965b-489debfed1c2.png)

Kindly use the steps stated - to view & manage your alert rule in Azure Monitor: [https://docs.microsoft.com/a

[2019-03-14 06:03] msvijayn commented on #27038
#please-close

[2019-03-14 06:04] KalyanChanumolu-MSFT commented on #27136
Hello @kwaman
Both Table Storage and Cosmos DB are offerings to store structured NoSQL data in Azure and hence grouped together.

We will however pass on this feedback to the content owner to evaluate and update as appropriate.

[2019-03-14 06:04] jgallucci32 opened #27145 "Need ability to update DNS forwarders in Azure Stack"
Currently DNS forwarders are specified only during the initial deployment and cannot be modified by the cloud administrator. In cases where the external DNS servers change, i.e. upgrade to new Server or change IP of existing, the DNS forwarder entries need to be updated so it can properly forward DNS requests for which Azure Stack is not authoritative.

Suggest adding the following cmdlets to the

[2019-03-14 06:06] BhargaviAnnadevara-MSFT commented on #26577
@cijothomas Thanks for taking action on this!

@paulrennan Hope this addresses your question. We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation. Thanks!

[2019-03-14 06:06] KalyanChanumolu-MSFT commented on #27135
Hello @kwaman
Both Table Storage and Cosmos DB are offerings to store structured NoSQL data in Azure and hence grouped together.

We will assign this issue to the content owner to evaluate and update as appropriate.

[2019-03-14 06:10] AjayKumar-MSFT commented on #27073
@marcelofelman, Thank you for your feedback on this item, it’s much appreciated.
This document aims at outlining the fundamental process on how to deploy a Node.js app to Azure App Service. However, the “Next steps” section in the same document links to the doc you’re referring to (which contains the diagnostic information section).
Kindly let us know if you have any further questions on this and

[2019-03-14 06:10] CHEEKATLAPRADEEP-MSFT commented on #24686
@ryanpch Your may refer the below MSDN thread, which addresses similar issue.

[https://social.msdn.microsoft.com/Forums/officeocs/en-US/3783dba6-0e3c-48c7-8c72-4e275a215d57/solved-databricks-create-secret-scopes?forum=AzureDataLake](https://social.msdn.microsoft.com/Forums/officeocs/en-US/3783dba6-0e3c-48c7-8c72-4e275a215d57/solved-databricks-create-secret-scopes?forum=AzureDataLake)

Hope this h

[2019-03-14 06:14] jgallucci32 opened #27146 "Documentation for NTP server configuration needed"
It may be necessary to modify the NTP configuration settings used in the deployment worksheet. The two cmdlets `Get-AzSTimeSource` and `Set-AzSTimeSource` exist on the privileged endpoints but are not documented. Suggest adding a paragraph to either the Network integration or Border connectivity page explaining how a cloud administrator can change the NTP source post-deployment. This issue has com

[2019-03-14 06:16] imeya opened #27148 "Does Azure Data Lake Analytics support Azure datalake storage gen2?"
I see this issue has been asked before, but no response until now. So I ask it again.

Does Azure Data Lake Analytics support Azure datalake storage gen2? if not, then Azure Data Lake Analytics will be abandoned in the future?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ab1d75b-3cbf-58f2-6d6f-8f7445fc27a7
* Version

[2019-03-14 06:19] YASWANTHM-MSFT commented on #26724
@PatMyron, Thanks for the valuable feedback! I would suggest providing product based feedback over [here](https://feedback.azure.com/forums/217298-storage), as this channel is monitored by the Microsoft product team closely to evaluate and update the product feature request appropriately.

[2019-03-14 06:19] jgallucci32 commented on #24228
@TravisCragg-MSFT I was able to track down the cmdlets for modifying NTP post-deployment.  I have created issue #27146 for adding this to the documentation.

The good news is the `Set-AzSTimeSource` cmdlet allows you to use an NTP server using an FQDN rather than an IP address which is what I was after in the original request.

[2019-03-14 06:22] dcbrown16 opened #27149 "Subject name"
Does a subject name of [your-root-domain-here] (not including the wildcard) work if the SANs cover the wildcards?
It seems that several CAs offer certificates with multiple wildcard SANs, but they won't let you set the Subject as a wildcard also.
Example
Subject: contoso.com
SANs: *.contoso.com, *.scm.contoso.com

Does that work also?

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-03-14 06:23] YASWANTHM-MSFT commented on #26780
@kvsrkrishnan, as jbpaux suggested to use an older version and new storage api versions are currently not compatible with azure stack. I would suggest providing product based feedback over [here](https://feedback.azure.com/forums/344565-azure-stack), as this channel is monitored by the Microsoft product team closely to evaluate and update the product feature request appropriately.

[2019-03-14 06:25] slaet opened #27150 "enrollmentProfileName for Android in Rules for devices""
the enrollmentProfileName is also working for Android, in the table is also Wwindows Autopilot and Apple DEP. But is also working for "Device enrollment - Corporate device identifiers" (Android - Kiosk) I have already tested it with this scenario.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1be8-5f1f-0092-6

[2019-03-14 06:34] julesman101 opened #27151 "Ambiguous Sentence"
The third sentence on this page is: "This section will tell you how to set up a User Profile Disk share for a host pool."  This implies this doc page will tell you how to setup UPD.  It doesn't, it tells you how to enable FSLogix Profile Containers, not UPD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: caa25426-d57f-

[2019-03-14 06:37] ChiragMishra-MSFT commented on #27140
@yohanprs Thanks for bringing this to our notice. I am assigning this to the content owner to review and update.

@sharonlo101 Can you please have a look at this ?

[2019-03-14 06:41] SubhashVasarapu-MSFT commented on #27121
@NateB2 , We are looking into this query and will update you as soon as possible.

[2019-03-14 06:45] kirthiroyadu opened #27152 "What about the F-Series?"
There is no mention of the F series in this document.
Is that series being phased out or should the document be updated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6153af8d-c2cc-b93a-2c18-3e98a65ba4e2
* Version Independent ID: be9eaf8f-0abe-5fbb-d23c-038b2749a057
* Content: [Virtual machine sizes for Azure Cloud se

[2019-03-14 06:47] ChiragMishra-MSFT commented on #27033
@bertrandpons I found an interesting blog that addresses the same issue as you are getting. Please have a look at [this blog](https://blogs.msdn.microsoft.com/brian_farnhill/2017/09/14/the-provided-value-for-the-template-parameter-is-not-valid-in-arm-template-deployments/).

Hope this helps.

Also, I would recommend you to create a thread on the forums - [MSDN ](https://social.msdn.microsoft.com/F

[2019-03-14 06:47] #27033 closed

[2019-03-14 06:48] dcbrown16 opened #27153 "Cross-subscription"
Can this operation be performed cross-subscription?
That is, use a DNS Zone in one subscription to register an A record against a Traffic Manager profile in another subscription.
Also, what about across AAD tenants?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fdf3220-5728-8b80-e72e-10f54355506c
* Version Independen

[2019-03-14 06:56] neeleshray commented on #26889
If you are using V2 endpoint, the best way to clear the logged in state is to send a sign-out request to v2.0 enpoint to sign out like below:

GET https://login.microsoftonline.com/common/oauth2/v2.0/logout?
post_logout_redirect_uri=http%3A%2F%2Flocalhost%2Fmyapp%2F

Please check the below document links for sign out:

v2 endpoint:
https://docs.microsoft.com/en-us/azure/active-directory/develop/v2

[2019-03-14 06:56] ChiragMishra-MSFT commented on #26855
Cool tier is currently available for ADLS Gen2.  Archive tier is not yet available.
Regarding service general availability, I would suggest to keep an eye on  [Azure Updates](https://azure.microsoft.com/en-us/updates/?product=data-lake-analytics,storage).
Azure updates provide information about important Azure product updates, roadmap, and announcements.

I will now proceed to close this issue. Ho

[2019-03-14 06:56] #26855 closed

[2019-03-14 06:58] ManojReddy-MSFT commented on #26148
@sujayvsarma I believe you gave us the code from your  ADAL app. The method you called is from  the NUGet package "Microsoft.IdentityModel.Clients.ActiveDirectory".
I am assuming the token obtained using the above method worked for you in ADAL when you are hitting the V1 endpoint.

For  MSAL you have to sue something like this

`AuthorizationCodeReceived = async (context) =>
{
    var code = conte

[2019-03-14 07:10] msrini-MSIT commented on #27146
@jgallucci32 , Thank you for your feedback. I will assign this issue to Author to investigate and make appropriate changes to the documentation.

[2019-03-14 07:15] AjayKumar-MSFT commented on #27054
@zmarty, Thanks for the feedback on this item! Your suggestions has been shared with the content owner (@mattchenderson) for further review.

[2019-03-14 07:16] wmengmsft commented on #27136
@KalyanChanumolu-MSFT is right. Azure Cosmos DB also offers Table API which is compatible with Azure Storage Table. This tutorial shows how one can use our Table SDK to access either Table API endpoints.

[2019-03-14 07:17] Klaas- commented on #26699
@SumanthMarigowda-MSFT  So those are the numbers and all others are wrong?

[2019-03-14 07:17] Klaas- commented on #26699
Also means you do not guarantee any durability?

[2019-03-14 07:28] sujayvsarma commented on #26148
Hi @ManojReddy-MSFT,

I am not disputing that MSAL works for MS Graph API. It does. Quite well.

What I need is to be able to use the MSAL tokens with AzureRM API (https://management.azure.com). THAT is not what is working.

[2019-03-14 07:33] rlmeans opened #27154 "subscription code doesn't work with ADAL 3 - missing Method in authentication class"
Method invocation failed because [Microsoft.IdentityModel.Clients.ActiveDirectory.AuthenticationContext] does not
contain a method named 'AcquireToken'.
At C:\Users\rlmeans\Desktop\office365_subscription.ps1:52 char:1
+ $global:authResultARM = $authContext.AcquireToken($resourceAppIdURIAR ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : Inva

[2019-03-14 07:36] rlmeans commented on #27048
I am experiencing the same issue. Looks like code needs to be updated for ADAL 3.

[2019-03-14 07:36] rlmeans commented on #27154
Duplicate.

[2019-03-14 07:40] DavidBerg-MSFT commented on #27077
Anand – Can you take a look at this?  Someone having trouble running the CoreMark script we posted.  Since you did this recently, I’m hoping you might know off the top of your head…

From: Cynthia Nottingham <notifications@github.com>
Sent: Wednesday, March 13, 2019 6:08 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: David Berg <David.Berg@microsoft.com>; Mention <mention@nore

[2019-03-14 07:41] rlmeans commented on #22932
So which tenant does the app need to be registered in? It's not clear from that section. Both tenants have an "Azure AD" in them.

[2019-03-14 07:43] binaytamrakar commented on #27045
Thanks for the link. I will then close this issue.

[2019-03-14 07:43] #27045 closed

[2019-03-14 07:54] CHEEKATLAPRADEEP-MSFT commented on #27148
@imeya Currently, Azure Data Lake Analytics supports only Data Lake Gen1.
I would suggest you to vote up an idea submitted by another Azure customer.
[https://feedback.azure.com/forums/327234-data-lake/suggestions/36445702-add-support-for-adls-gen2-to-adla](https://feedback.azure.com/forums/327234-data-lake/suggestions/36445702-add-support-for-adls-gen2-to-adla)
All of the feedback you share in th

[2019-03-14 08:18] bertrandpons commented on #27033
@ChiragMishra-MSFT Thank you for your reply. The blog post you provided the link to does not meet exactly my case as I want to use native capacities of Azure Data Factory ARM templates with Git integration and Azure DevOps to deploy to my environments: the ARM template is supposed to provide the right way as to make it work, I guess.

Therefore I am going to post my case on stackoverflow as you ad

[2019-03-14 08:23] bertrandpons commented on #27033
I opened a post here: https://stackoverflow.com/questions/55157839/data-factory-continuous-integration-deployment-issue-with-ir-when-aad-authenti

[2019-03-14 08:23] lightupdifire commented on #22886
Hello,
Confirming error in my 2x tenants for System Labels & agree that this document should be updated.

[2019-03-14 08:23] msrini-MSIT commented on #27152
@kirthiroyadu , Thank you for your feedback. I will assign this to author for review.

[2019-03-14 08:24] ManojReddy-MSFT commented on #26148
@sujayvsarma I understand. I was able to make the Get-Subscription using the Azure RM API by  modifying the scopes parameter provided in that sample.

[2019-03-14 08:26] ChiragMishra-MSFT commented on #27033
@bertrandpons Thanks for posting it on Stack Overflow. You may also post the same on MSDN. These forums are more suited for such types of issues and it will have better visibility across the whole community.

[2019-03-14 08:28] bertrandpons commented on #27033
@ChiragMishra-MSFT Ok thank you. Done right now: https://social.msdn.microsoft.com/Forums/en-US/df8fb935-79cf-408a-9ed7-252a040f828a/data-factory-continuous-integration-deployment-issue-with-ir-when-aad-authentication-with-managed?forum=AzureDataFactory

[2019-03-14 08:32] msrini-MSIT commented on #27145
@jgallucci32, Thank you for your feedback. We will work on it and get back to you soon

[2019-03-14 08:32] jitendriyag2 opened #27155 "Impromper Azure Function Documentation"
Hi Team,

I am new to Azure Function I am stuck with requesting the Azure Function from Azure. I got the codebase but it will be much clear just mentioned the URL to execute the function Endpoint.

It will be helpful for beginner who are trying to learn new things on any technologies that the codebase should have the example with  it show that it will be understood that how could he execute the co

[2019-03-14 08:32] jakaruna-MSFT commented on #26501
@ctaggart is there any update

[2019-03-14 08:35] msrini-MSIT commented on #27143
@jgallucci32 , Thank you for your feedback. We will work on it and update you.

[2019-03-14 08:37] olitomlinson commented on #27032
Just to add a little more detail on why we need this capability.

In large scale API endeavours, you have many developers working to integrate against an API. Each developer would have to sign up individually to the API-M. But this means they all get their own subscription keys and isolation.

This is undesirable because, its likely that only one of the subscription keys will be used by the develo

[2019-03-14 08:44] SubhashVasarapu-MSFT commented on #27153
@dcbrown16 , We are looking into this query and will update you as soon as possible.

[2019-03-14 08:45] mortenlerudjordet opened #27156 "Add note to 6. Add the client address pool"
Please add a note explaining that for /23 or bigger IP ranges one need to use an even number in the 3.rd octet of the IP-range as shown below.
I.e: 10.x.23.0/23 will give an error when trying to save the config.
10.x.22.0/23 is allowed and saving the config will work without error.
Valid:
10.x.20.0/23
10.x.22.0/23
10.x.24.0/23
Not valid:
10.x.21.0/23
10.x.23.0/23
10.x.25.0/23

---
#### Document De

[2019-03-14 08:50] SubhashVasarapu-MSFT commented on #26731
@gaurav5430 , Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-14 08:50] #26731 closed

[2019-03-14 08:54] KalyanChanumolu-MSFT commented on #26608
@s-toussaint Thank for for reporting this issue.
Please change the elastic-db-tools.version in pom.xml to 1.1.0 and run "mvn install" again.
I have submitted a pull request to the code repo to get this issue fixed.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion. 

@anumjs Please review the p

[2019-03-14 08:54] #26608 closed

[2019-03-14 09:03] stardusttrans commented on #26881
Thanks for the update. Please  keep me updated once you have more established process.

[2019-03-14 09:05] SychevIgor opened #27157 "Please, update screenshots to actual UX of Application Insights"
Article was updated in 2017. AppIns UX evolved significant. For Example- Application MAP looks absolutely different . https://docs.microsoft.com/en-us/azure/azure-monitor/app/app-map#composite-application-map

P.S. Don't tell me that it's not a priority. Some devs making decisions based on a documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-03-14 09:07] sffamily commented on #26550
this has also been answered in another channel where customer reached us for this question.
#please-close

[2019-03-14 09:10] SychevIgor opened #27158 "Update metric explorer UX"
Please, update metrics explorer screenshots (in this section for example https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-get-started#performance-counters)
1+ years ago it was updated. see example here https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-charts

P.S. Don't tell me that it's not a priority. Some devs making decisions based on a documentation.

---
####

[2019-03-14 09:10] sffamily commented on #11232
This is an old question, that has been answered a while ago in this thread. The current tutorial can go through.
#please-close

[2019-03-14 09:15] sffamily commented on #25134
If there is no new question for this thread, after the response last week, we can close this issue.
#please-close

[2019-03-14 09:19] AmanGarg-MSFT commented on #27151
@julesman101 Thanks for bringing this to our attention! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-14 09:21] shashishailaj commented on #26610
@Mark7even We checked this and at this point we do not have any way to consent per user. This is a tenant-wide option and hence this applies to all the user objects in the tenant . However we request you to provide this design change request via [Azure feedback portal](https://feedback.azure.com/forums/169401-azure-active-directory?category_id=164757) using this link.

[2019-03-14 09:25] DibranMulder commented on #6926
@RusmanCool
For some reason you will also have to provide a body with an input property.
The following worked for me:
`POST: http://localhost:7071/admin/functions/{functionName}`
[code]

[2019-03-14 09:28] AmanGarg-MSFT commented on #27157
@SychevIgor Thanks for bringing this to our attention! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-14 09:31] AmanGarg-MSFT commented on #27158
@SychevIgor Thanks for bringing this to our attention! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-14 09:35] maulik-modi commented on #27029
To avoid any ambiguity to future readers, I think documentation needs to be updated to link [Durable Functions](https://github.com/Azure/azure-functions-durable-extension)

[2019-03-14 09:40] ChiragMishra-MSFT commented on #26862
@abhiSakhuja I am assigning the issue to the content owner to have a look and update as appropriate.

@sharonlo101 Can you please have a look at this?

[2019-03-14 09:47] SnehaAgrawal-MSFT commented on #27149
@dcbrown16 Thanks for the question! We are investigating and will update you shortly.

[2019-03-14 09:51] SubhashVasarapu-MSFT commented on #27156
@mortenlerudjordet , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-03-14 09:54] SychevIgor opened #27159 "Move notes about deprecation- higher. As a first sentence ideally and in the article name"
To make an article a bit more informative and save our time, please, add in the title that this approach is deprecate. As of now- I must read and overview section and when I'm already exited, find that it's not recommended.
Title could like "Monitor Docker applications in Application Insights DEPRECATED"
Also, please reorder the content and make notes about deprecation - the first section- people

[2019-03-14 09:57] SychevIgor opened #27160 "Update screenshot of Search experience"
Please, update search UX https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-trace-logs#explore-your-traces-in-the-application-insights-portal
because today- it's look absolutely different

https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-trace-logs#explore-your-traces-in-the-application-insights-portal
versus
![image](https://user-images.githubusercontent.com/578954/5434778

[2019-03-14 09:59] SychevIgor opened #27161 "Actualize UX. article was last time edited in 2016. App Insights portal evolved during past 4 years"
Actualize UX. article was last time edited in 2016. App Insights portal evolved during past 4 years

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbaec5d3-de6e-4274-96be-0f3a2579edf8
* Version Independent ID: 62e008a4-8fdc-a063-a2ff-00e9852002ed
* Content: [Monitor Java web app performance on Linux - Azure](https://do

[2019-03-14 09:59] shashishailaj commented on #26856
@michevnew Thank you for pointing that out . We have edited the document and submitted the pull request . It will be updated shortly and this issue will be automatically closed . Should you have any further query regarding this feel free to tag me to your reply and we can continue the conversation.

[2019-03-14 09:59] MikkelHegn commented on #26438
We do not support downloads from non encryted endpoints. So best workaround for you is to get the download from a client which can reach our download servers. The direct download links (without using WebPI) can be found the blog posts I referred above.

[2019-03-14 10:00] ChiragMishra-MSFT commented on #27144
@imeya I will now proceed to close this issue. Feel free to still comment if you have any further queries.

[2019-03-14 10:00] #27144 closed

[2019-03-14 10:00] DashleenBhandari-MSFT commented on #27087
@trolleyboy We are checking this and will keep you posted.

[2019-03-14 10:01] woutervanranst opened #27162 "Unclaim Steps / Rights"
A user with "DevTestLabs User" role can claim a VM, but when unclaiming he receives the error "The client '...' does not have authorization to perform action 'microsoft.devtestlab/labs/virtualmachines/unclaim/action' over scope '...'.

I would expect that after a succesful claim of said user, he can also unclaim it. Can you clarify in the documentation?

---
#### Document Details

⚠ *Do not edit t

[2019-03-14 10:03] SychevIgor opened #27163 "Please, actualize the article and all screenshots- modern azure UX- is lood different from what's shown here"
Please, actualize the article and all screenshots- modern azure UX- is lood different from what's shown here

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d56ecb14-9e66-5313-a381-d2824ec3d1e2
* Version Independent ID: ff056ac8-ae76-be10-6895-757333a28e05
* Content: [Azure Application Insights for JavaScript web apps](

[2019-03-14 10:13] SnehaAgrawal-MSFT commented on #26975
@kogesaka It was a temporary glitch and also you mentioned that certificate was registered on Azure Portal and Azure Resource Explorer.

[2019-03-14 10:15] JonesMikael opened #27165 "Add additional requirements"
This is probably the first article someone reads to getting started with IoT so I feel some requirements are missing that might be obvious to experienced developers but not for the beginner so it might be worth adding.

These are some requirements for Windows that you have to install:
- GIT: https://git-scm.com/download/win
- Arduino: https://www.arduino.cc/en/main/software#download
- Adafruit Huz

[2019-03-14 10:15] AmanGarg-MSFT commented on #27163
@SychevIgor Thanks for bringing this to our attention! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-14 10:16] AmanGarg-MSFT commented on #27159
@SychevIgor Thanks for bringing this to our attention! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-14 10:18] SychevIgor opened #27166 "Mask article as "Preview""
Both Python and GO version pages- highlighting that it's not RTM version. Could you do the same for this article?
![image](https://user-images.githubusercontent.com/578954/54349158-b722f300-465b-11e9-821e-5f5f5a0e8a7d.png)

Especially, because code on a github in a BETA state...
![image](https://user-images.githubusercontent.com/578954/54349149-aecab800-465b-11e9-9e28-2e621b788002.png)

---
#### D

[2019-03-14 10:18] shashishailaj commented on #26620
@teppeiy We have updated the document . This issue will auto close after it has been published. Should you have any further questions on this , feel free to let us know .

[2019-03-14 10:19] AmanGarg-MSFT commented on #27161
@SychevIgor Thanks for bringing this to our attention! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-14 10:19] sergaz-msft commented on #24444
@naznaaa please follow-up on the https://github.com/espressif/esp-azure/issues/25 since @mahavirj is already helping you there. As mentioned [here](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-device-sdk-platform-support#partner-supported-platforms): "Customers can extend our platform support by porting the Azure IoT C SDK, specifically, creating the platform abstraction layer (PAL) of t

[2019-03-14 10:20] #26856 closed

[2019-03-14 10:21] PramodValavala-MSFT commented on #26586
@sandeep-ma I was not able to reproduce this problem. Could you share more details on this issue?

![image](https://user-images.githubusercontent.com/43602528/54349294-f4de4680-4670-11e9-9d67-1190d3bb4ca0.png)

[2019-03-14 10:22] SychevIgor opened #27167 "Is this article still relevant?"
I can't find this "preview" button
![image](https://user-images.githubusercontent.com/578954/54349427-49c39200-465c-11e9-98a5-8ce5a6276889.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe2d166f-2e53-60c4-8a29-4877b858c72f
* Version Independent ID: 7a8e9e3e-60f0-e3a4-d7a2-2b3d943d6d82
* Content: [Set preview prefe

[2019-03-14 10:23] AmanGarg-MSFT commented on #27166
@SychevIgor Thanks for bringing this to our attention! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-14 10:23] JonesMikael commented on #26176
I agree on this. Code should be updated to work with ArduinoJson 6.x and making sure we don't get these errors.

[2019-03-14 10:26] theaayushanand commented on #24341
kya be lodu aata ha ki nai tmlog ko v

[2019-03-14 10:27] AmanGarg-MSFT commented on #27167
@SychevIgor Thanks for bringing this to our attention! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-14 10:29] 461775 opened #27168 "Access Denied when i used resource=https://azurehealthcareapis.com"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-03-14 10:30] 461775 commented on #27168
https://login.microsoftonline.com/TenantiId/oauth2/authorize?resource=https://azurehealthcareapis.com

[2019-03-14 10:31] SychevIgor opened #27169 "Please, update AzureDevOps screenshots"
On both images- out-of-date UX.
https://docs.microsoft.com/en-us/azure/azure-monitor/app/media/continuous-monitoring/001.png (screenshot was done in VSTS, that was rebranded/redesign as azure devops 8 months ago)
https://docs.microsoft.com/en-us/azure/azure-monitor/app/media/continuous-monitoring/006.png  (yes, we still can open "old experience", but it's not default and it's hard to find "use old

[2019-03-14 10:31] msrini-MSIT commented on #27156
@mortenlerudjordet , In the documentation, it is mentioned correctly with CIDR notation of /24 which should work fine.

If you are using /23, for the above address space which you have mentioned, [here](https://www.calculator.net/ip-subnet-calculator.html?cclass=a&csubnet=23&cip=10.10.23.0&ctype=ipv4&printit=0&x=66&y=8) is the list of 128 possible address prefixes.

Make sure you use subnet calcul

[2019-03-14 10:31] #27156 closed

[2019-03-14 10:32] bmitisor opened #27171 "Websocket connections limit"
We encountered a limit in the number of parallel websocket connections that can be established to a web app. On an I1 instance they seem to be limited to 7500, and on an I2 instance to 15000. Don't know about I3.
However, I couldn't find these limits specified here. Are they documented some place else?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-03-14 10:33] #26875 closed

[2019-03-14 10:34] AmanGarg-MSFT commented on #27168
@461775 Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community membe

[2019-03-14 10:35] sujayvsarma commented on #26148
What did you set scopes to?

[2019-03-14 10:36] AmanGarg-MSFT commented on #27169
@SychevIgor Thanks for bringing this to our attention! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-14 10:37] #26620 closed

[2019-03-14 10:38] SychevIgor opened #27172 "Guide is out-of-dated"
As of today, analytics portal embeded in azure portal and almost all advises require either an update or even drop.
For example
"Verify both Analytics portal and Azure Active Directory portal are in the same security zone:", but both portals - is the same portal now, there is no AAD portal now.
![image](https://user-images.githubusercontent.com/578954/54350502-885a4c00-465e-11e9-901e-512163cfa430.

[2019-03-14 10:46] ManojReddy-MSFT commented on #26148
@sujayvsarma  Scope : https://management.core.windows.net/.default

[2019-03-14 10:46] SychevIgor opened #27173 "Update application map screenshot to align with latest ux"
https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-dependencies#application-map this screenshot demonstrating an experience that doesn't exist
Here is an example of new one https://docs.microsoft.com/en-us/azure/azure-monitor/app/app-map#composite-application-map

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-03-14 10:48] petrpucek opened #27175 "No alignment for textType=html"
As title says I'm not getting any word alignment for textType=html. Tested on English as source.
We are handling a lot of tags in our translations and this feature could bring us great value. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a50be1b-c4e0-6574-fdce-1a2431fef079
* Version Independent ID: 37e211dc-e

[2019-03-14 10:50] SychevIgor opened #27176 "Update Azure DevOps experience"
After VSTS was rebranded to Azure Devops, Microsoft also updated the UX.
Both screesnhots are so out of dated, that not all can find respective actionse
https://docs.microsoft.com/en-us/azure/azure-monitor/app/media/annotations/10.png
https://docs.microsoft.com/en-us/azure/azure-monitor/app/media/annotations/30.png

Please, update both screenshots and help developers use Azure and make Azure Consu

[2019-03-14 10:56] sameer-awate opened #27177 ""Default Answer" setting is no longer honored by QnA App service."
Hello there, I changed the "Default Answer" setting inside my QnA app service as described in this article here but it does not seem to be working. Please advise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e973d43e-1b7d-b0f9-e4ab-37875eb1aadc
* Version Independent ID: 6a30a213-65b8-1675-9cf0-73decf11b2cd
* Content:

[2019-03-14 10:58] jaypatrick opened #27178 "How To Allow Robots Crawling?"
User-agent: * Disallow: /

How do we disable this??? We publish multiple internet facing sites that we want crawled, took us forever to figure out why our robots.txt file kept coming back as this, even though we have a physical robots.txt file specifying our own crawl rules. Ridiculous that this is enabled by default, should be opt in with clear instructions on how to disable, or configure w/ our

[2019-03-14 10:58] JhaNishant commented on #26176
@mysaggar I agree to @JonesMikael , I got the same error too.

[2019-03-14 11:03] cephalin commented on #26876
@kscerri Not sure what you mean. I did a search for [!INCLUDE Push to Azure] and it's there. Anyway as this is old documentation there can be errors at times the old content is no longer supported. If you have any issues, please feel free to open a new question on StackOverflow or Azure forums.

[2019-03-14 11:03] smoms opened #27179 "Docker support yes or not"
Hi, i have a doubt about the document here saying that "Docker CE and Docker EE are other popular container engines. They are also based on the Moby open-source project and are compatible with Azure IoT Edge. " however the picture show big red cross about Docker CE support. So who of the two fighting statements win? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-03-14 11:03] x00 opened #27180 "typo: openssl.exe is not a linux comand"
should read
penssl pkcs12 -in "filename.pfx" -nodes -out "profileinfo.txt"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f36e0264-e439-92d2-7862-096c3fffe2a8
* Version Independent ID: 010d36f4-897e-6435-3f97-c6729ed496ce
* Content: [How to configure OpenVPN Clients for Azure VPN Gateway](https://docs.microsoft.com/en-

[2019-03-14 11:06] cephalin commented on #21164
@daltonrenaldo As shown in the doc, run `az webapp list-runtimes --linux` in the Cloud Shell to see.

[2019-03-14 11:11] daltonrenaldo commented on #21164
@cephalin I did... and it still wondering work for ruby-2.4 which is listed. I finally removed the .ruby-version file, and I got a new error saying that my ruby version was 2.4.5, but gemfile specified something else. So I updated gemfile, re-added the .ruby-version with 2.4.5 and that seems to work...

however, the containers have older version of bundler install, which still prevents them from r

[2019-03-14 11:14] cephalin commented on #21164
@daltonrenaldo Did you try to create a 2.4 web app? The tutorial was written for 2.3 so trying to run it on a different ruby image could get errors.

[2019-03-14 11:15] SteveALee opened #27181 "Cold start"
I’m wondering if the cold start loading of the node_module if we use a Linux host? If I recall the problem was the windows share.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b47363e3-c36f-0755-819c-26946013d673
* Version Independent ID: 197c63a1-9f72-1049-f27e-8c9c672ec472
* Content: [JavaScript developer reference

[2019-03-14 11:16] stspinu commented on #22932
Not sure. I guess the documentation will be updated to be more intuitive. You can open a support ticket meanwhile or maybe @jflieben can provide more clarity if he tested it. Cheers!

[2019-03-14 11:17] daltonrenaldo commented on #21164
I did create a 2.4 web app, cause `az webapp list-runtimes --linux` returned
[code]
and since I was already using 2.4 locally and it's the latest, seem like it was the way to go . Why is it returning things that it doesn't actually support is beyond me. :(

[2019-03-14 11:20] cephalin commented on #21164
@daltonrenaldo I'm not doubting that Azure doesn't support 2.4 as it indicates, but that the tutorial (or rather, the sample) was written for 2.3 and was tested to work with 2.3, not 2.4.

[2019-03-14 11:25] navilwayne commented on #19929
Hi Team
While running the command in power shell for setting delete permission , we are getting error : -

Get-MsolServicePrincipal : Service principal was not found.
At line:1 char:7
+ $sp = Get-MsolServicePrincipal -AppPrincipalId $applicationId
+       ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : OperationStopped: (:) [Get-MsolServicePrincipal], Microsof

[2019-03-14 11:33] AmanGarg-MSFT commented on #27176
@SychevIgor Thanks for bringing this to our attention! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-14 11:33] AmanGarg-MSFT commented on #27173
@SychevIgor Thanks for bringing this to our attention! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-14 11:34] AmanGarg-MSFT commented on #27172
@SychevIgor Thanks for bringing this to our attention! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-14 11:43] robertdj opened #27183 "Custom values"
I would like to use custom values in a task as in the [ACR builder documentation](https://github.com/Azure/acr-builder/blob/master/docs/templates.md). However, I cannot figure out how to pass the YAML file with values.

In a repository I have a `values.yaml` in the top folder and a `Dockerfile` in `path/to/Dockerfile`. The `values.yaml` has the content
[code]
A task that use `values.yaml`:
[code]

[2019-03-14 11:43] jflieben commented on #22932
As it is currently written, the article does not describe a multi-tenant setup at all, you cannot use the scripts that have been provided to configure it as such. I don't see why this issue was closed, as it has not yet been resolved. @bwren  could you clarify?

[2019-03-14 11:45] AjayKumar-MSFT commented on #27074
@Gismork, You could assign specify user or specific group to access the app.
In the Azure Portal > Navigate to Azure Active Directory > ‘Enterprise applications’ > Look for the app on which you enabled ‘Authentication/Authorization’ , from there go to ‘Properites’ and then enable (Yes) ‘User assignment required?’.

Refer this document ‘[Assign a user or group to an enterprise app in Azure Active D

[2019-03-14 11:52] x00 opened #27184 "vpnconfig.ovpn is not a linux config"
These appear to be a conflation between windows and linux setup

Instead the network manager should be used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f36e0264-e439-92d2-7862-096c3fffe2a8
* Version Independent ID: 010d36f4-897e-6435-3f97-c6729ed496ce
* Content: [How to configure OpenVPN Clients for Azure VPN Gatew

[2019-03-14 11:57] duk3luk3 commented on #15745
@TravisCragg-MSFT thank you very much for reopening the issue.

On thinking about this some more and rereading the documentation, it is quite possible that Front Door will not be able to support hosting websites for Apex records, at least not in a blessed and supported way because Front Door will not offer fixed public IP addresses for its frontend servers.

There is some previous discussion here:

[2019-03-14 12:01] pc87 opened #27185 "No luck using this template with blueprints"
Hi I have tried to deploy this template through azure blueprints but I am having the following error...regardless of the fact I have changed the name from myresourcegroupdns1...in fact it's not referenced anywhere in the template;

{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-de

[2019-03-14 12:04] KetanChawda-MSFT commented on #27181
@SteveALee Than you posting your question. We will review this an provide an update as appropriate.

[2019-03-14 12:05] KetanChawda-MSFT commented on #27142
@thefliik Thank you for posting your question. We will review this an provide an update as appropriate.

[2019-03-14 12:08] DixitArora-MSFT commented on #27118
@Potapy4 Thanks for your contribution and creating the PR .
@ross-mcdermott  Reference [PR ](https://github.com/MicrosoftDocs/azure-docs/pull/27170)will fix the issue.

[2019-03-14 12:10] jssanta96 commented on #26706
@Mike-Ubezzi-MSFT  my goal is to connect to my azure sql server through the ip address of the South Central US region and not by the dns (xxxx.database.windows.net). Thanks for your help

[2019-03-14 12:10] PatMyron commented on #26724
Added votes to this one:
https://feedback.azure.com/forums/217298-storage/suggestions/35177557-ability-to-filter-metrics-by-container

[2019-03-14 12:10] #26724 closed

[2019-03-14 12:13] RohitMungi-MSFT commented on #27175
@petrpucek Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-03-14 12:14] RohitMungi-MSFT commented on #27177
@sameer-awate Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-03-14 12:19] KetanChawda-MSFT commented on #27155
@jitendriyag2 Thank you for your feedback! We will review and update as appropriate.

[2019-03-14 12:26] pc87 commented on #27185
Should be noted that i've deployed the same template using powershell and has worked without issue

[2019-03-14 12:31] SnehaAgrawal-MSFT commented on #27053
@zmarty Thanks a lot for your valuable feedback! I tried the exact same steps as outlined in the document and was able to easily follow the steps and successfully completed the setup.
In regards to adding a screenshot on this, I’m adding the author (@mattchenderson) for his review further.

[2019-03-14 12:34] SnehaAgrawal-MSFT commented on #26606
@carehart Sorry about that! I noticed that the PR was merged, the changes made would be published within 24 hrs so it was closed. Thanks again for the question and the feedback!

[2019-03-14 12:37] MarekLani commented on #18398
@smoms I am not from product team. Nevertheless, functionality of identity translation is already supported, however we are missing sample code of  IoT Edge module, which handles communication with IoT Hub and identity translation piece - something we would be able to reuse. In case of identity translation scenario, only IoT Edge module is capable to receive twin updates. It is then up to you to f

[2019-03-14 12:42] smoms commented on #18398
@MarekLani many thanks. I was expecting that about twin updates. But what is the module where i need to do my own changes to forward twin updates to the leaf devices? thanks

[2019-03-14 13:03] emardee commented on #26709
Azure support team were able to send me the hotfix privately, but that doesn't help others as it looks like it isn't currently published publicly. (other than at least it confirms the patch does still exist and is available if you ask - so ask someone if you need it). Probably ideally the hotfix should still be published a little while longer as it will help migrations to Office365 from these old

[2019-03-14 13:08] sujayvsarma commented on #26148
Thank you for being persistent and chasing this down. But like I said here (https://github.com/MicrosoftDocs/azure-docs/issues/26148#issuecomment-471425116), I have since gone in a different direction for now in that project. When I get some time, I will check to see if this works for me. I shall post back to this thread with my findings.

In the meantime, I am going to go ahead and close this iss

[2019-03-14 13:08] #26148 closed

[2019-03-14 13:13] aivsim commented on #16009
![image](https://user-images.githubusercontent.com/4941535/54359298-058bbe00-466b-11e9-9e67-56ad90daeb55.png)

I think the documentation is outdated in the "!Important" section.

When trying to add a group to application with Azure AD Basic licence through Azure Portal it insists that I must have "AZURE AD PREMIUM P2" or "ENTERPRISE MOBILITY + SECURITY E5" plans.

[2019-03-14 13:25] binaytamrakar opened #27186 "While troubleshooting, no events are generated"
Hi,
I have created a static public IP address in the same resource group as my cluster is in, ie. under MC_myResourceGroup_myAKSCluster_eastus. I used the IP address of this network public IP to create a service as in the example given above. However, "kubectl get svc" still shows &lt;pending&gt; for External-IP. I then used "kubectl describe svc testapp" and see nothing in Events.
Name:

[2019-03-14 13:39] karthikhebbar opened #27188 "Client credentials token is not working for onprem exchange server."
In hybrid setup if client credentials grant type is used to get token and if that token is used to get on-prem user messages  (https://graph.microsoft.com/v1.0/users('onpremuser@onpremdomain.com')/messages/) using graph api it fails by providing UnknownError.

When debugged on IIS logs  error shown was "This token profile 'V1S2SAppOnly' is not applicable for the current protocol.";error_category="

[2019-03-14 13:43] stevekmicrosoft commented on #19011
For the current, default AZ CLI (2.0.60 w/Python 3.6.5) installation, the documented commands fail both standalone or in the Cloud Shell. Some  have deviated their settings from the default with varying levels of success, but the majority of users will use the standard configuration or the Cloud Shell. There are many reports of this issue, so the documentation needs to be changed or annotated as s

[2019-03-14 13:48] m60freeman commented on #25415
@Mike-Ubezzi-MSFT This change has not appeared in the publicly visible page. I see it on https://docs.microsoft.com/en-us/azure/sql-database/sql-database-vcore-resource-limits-single-databases, but not on https://docs.microsoft.com/en-us/azure/sql-database/sql-database-dtu-resource-limits-single-databases. It needs to be added to the latter.

[2019-03-14 14:02] sanket0211 opened #27189 "Complete Python Program to make a POST HTTP request"
## The following might be useful

#Request module must be installed.
#Run pip install requests if necessary.
import requests
import sys

subscription_key = ''  # your subscription key

def get_token(subscription_key):
    fetch_token_url = ''  # Api end-point to issue token based on your region!!
    headers = {
        'Ocp-Apim-Subscription-Key': subscription_key
    }
    response = requests.po

[2019-03-14 14:05] bwren commented on #27062
Should go to @msvijayn

[2019-03-14 14:13] grayjeremy opened #27190 "Add more services "Integrate with other Azure services""
A common question I get asked is "what services does Key Vault integrate with?"
The "Integrate with other Azure services" seems like a good place to store that information, searching from every individual product in the catalog and looking for common information is not possible with the size of our catalog.  The second most asked question is "can i manage (pick which key the service uses) my own k

[2019-03-14 14:15] MaximRouiller commented on #26907
I think it would be perfect. I think keeping the language consistent is important.

Thanks!

[2019-03-14 14:18] DanielMabbett opened #27191 "Is there a way to do this via PowerShell?"
Would be nice to see how to set this up quickly without a need for a GUI. Then it can be automated too if needs be.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c650df29-72e7-ea25-ee53-f467f925ef39
* Version Independent ID: fed9f82b-4206-c231-84a3-8791d912ca33
* Content: [Azure AD Connect: Getting Started using expre

[2019-03-14 14:19] stevekmicrosoft commented on #19011
For the current, default AZ CLI (2.0.60 w/Python 3.6.5) the documented commands fail standalone or in the Cloud Shell. It seems there needs to be some upfront Service Principal work to occur first. As currently documented, starting from scratch the generate-ssh-keys fails.

This provided command sequence fails as it attempts to create a secret with the error, "The password must contain at least 1

[2019-03-14 14:26] gsmith140 commented on #18508
I don't think this should be closed. I'm using https in my CORS entry and that allows me to preview the user flow, but if I run it from MVC app, I get the script error unless I use a wildcard (*) for the CORS config.

[2019-03-14 14:32] vikaskumawat80 opened #27192 "How to use AWS lamda@edge like in Azure"
I am looking for a solution like AWS lamda@edge in Azure CDN but so far I have found anything close.

I am specifically looking for a scenario like Bot Mitigation at the Edge in the mentioned link:
https://aws.amazon.com/lambda/edge/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e157e073-fc7c-9593-055c-7187e808e0ae
*

[2019-03-14 14:37] vikaskumawat80 commented on #24689
I will try that. Thanks.

[2019-03-14 14:38] bwren commented on #26641
Thanks. This is just a disclaimer for people who might have seen the article with the previous terminology.  We're planning on removing the disclaimer at some point.  We'll consider that suggestion though if it sounds like the disclaimer is causing more confusion than help.

[2019-03-14 14:38] bwren commented on #26641
@please-close

[2019-03-14 14:40] zak-jama-venture1consulting-com opened #27193 "App Service FunctionTimeout Value"
Hi,

Reading the documentation, it seems to imply that the correct value for an unlimited timeout setting in an app service plan Function is "unlimited". However, how is this represented?

I'm assuming:

{
    "version":  "2.0",
    "functionTimeout": "Unlimited"
}

However, the documentation doesn't make this clear, am I correct?

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-03-14 14:42] bwren commented on #26239
Signed off on pull request

[2019-03-14 14:42] bwren commented on #26239
#please-close

[2019-03-14 14:43] alexs1305 opened #27194 "SignalR Service Output Bindings Send to Group code comment states will send to UserId"
Currently in the docs for the Azure Functions integration with the SignalR Service, in the section for the Output Bindings, in the Send to Group section the code sample is
[code]
the commend above GroupName seems to have been taken from the Send to User example

source: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-signalr-service#signalr-output-binding

---
#### Docume

[2019-03-14 14:47] bwren commented on #25175
We're getting this worked out with the engineering team.  The simple answer is that you need Log Analytics contributor.  There is the question though of how to enable with a custom role.  Waiting on the engineering team for that answer.

[2019-03-14 14:51] ajakupov opened #27195 "Standard Tier not available"
Hello,
Thank you very much for the detailed explanation. However, I can't create a resource in my Azure portal. Thus I can't activate a paid version of API. Is there a workaround? Our monthly usage will definitely exceed 10k transaction so it is crucial to have a paid version. Thank you in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-03-14 15:02] HeidiSteen commented on #26899
@TracyGH Hi I'm following up with engineering.  Can you confirm which API you're using for the index updates (https://docs.microsoft.com/en-us/rest/api/searchservice/addupdate-or-delete-documents)

[2019-03-14 15:05] bhavinbdoshi opened #27197 "Option 3: Using CDN security token authentication with a rewrite rule screenshot is not correct."
The option 3 screenshot: https://docs.microsoft.com/en-us/azure/cdn/media/cdn-sas-storage-support/cdn-url-rewrite-rule-option-4.png is not correct. It shows Destination Rule as $1?&lt;SAS Token&gt; but it should be $1&&lt;SAS Token&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be0f8fa5-b31c-17fc-64ee-e1b77f4f1389

[2019-03-14 15:11] shashishailaj commented on #27191
@DanielMabbett Thank you for your feedback . We will investigate and update this thread .

[2019-03-14 15:14] DrEnnui opened #27198 "HyperV?"
Is there a particular reason why you are having people set up the demo DC on HyperV instead of on an Azure VM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 938c7dba-41d9-92c4-fb2f-feeba1878c13
* Version Independent ID: b221ae33-5625-b912-839c-14aeef5ac744
* Content: [Tutorial:  Integrate a single AD forest to Azure u

[2019-03-14 15:14] shashishailaj commented on #27188
@karthikhebbar Thank you for your feedback . We will investigate and update this thread .

[2019-03-14 15:15] jxfish2 opened #27199 "install-cni-plugin.sh erroneous"
You reference a shell script for Linux, "install-cni-plugin.sh", but the file is not a shell script.

It is an HTML document.

I tried several different links already, and I downloaded it several different times.

The links do not point to a downloadable Linux shell script.

Any help would be greatly appreciated.

Joe F.

---
#### Document Details

⚠ *Do not edit this section. It is required for d