[2018-07-17 13:51] jdogg89 opened #11838 "Azure built-in role for AKS"
In Azure AD, Is there a built in role that I can assign to a group of Azure AD members that can be limited to AKS in scope (or something equivalent on your documentation page for built in roles? https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#documentdb-account-contributor. I would like to start creating groups for aks specific use but dont see this there. If there'

[2018-07-17 13:52] dcs3spp opened #11839 "Http-Application-Routing for many hosts within cluster specific zone and CORS"
Are there any examples of this working with multiple hosts defined in the ingress controller, in addition to allocating CORS access?
I have managed to get one host working and can see the IP address being allocated to the ingress controller in the dashboard. Any other hosts I add do not seem to be detected.....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2018-07-17 13:55] jdogg89 commented on #11838
This can be closed, I believe I have found the custom roles section that will meet the needs for this.

[2018-07-17 13:58] murraypete opened #11840 "typo"
Anything not in the &gt;&gt;infrastrucute&lt;&lt; rule collection is denied by default.

Anything not in the infrastructure rule collection is denied by default.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac13cbf3-f230-7e85-d57d-cba3196a166c
* Version Independent ID: f4f0c94a-5a43-94e2-d8e5-19cf167c188a
* Content:

[2018-07-17 14:00] aiden56 opened #11841 "CosmosDB Emulator returns "Microsoft.Azure.Documents.ServiceUnavailableException" after Windows 10 wakes from hibernate mode."
The latest version of the CosmosDB emulator will only return "Microsoft.Azure.Documents.ServiceUnavailableException" after a Windows 10 PC has woken from hibernate mode.

To repro:
- Start CosmosDB emulator on Windows 10 and create a collection with a few documents.
- Hibernate the PC.
- Wake the PC.
- Try to fetch a document from the emulator.

Tested with C# CosmosDB SDK. This does not reproduce

[2018-07-17 14:02] Adam-Smith-MSFT commented on #11802
@thuansoldier Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-17 14:04] Adam-Smith-MSFT commented on #11806
@ahmadabdalla Thank you for the valuable feedback,we are investigating the issue.

[2018-07-17 14:13] florinciubotariu opened #11842 "Costs for the message pump on a empty queue"
Is it possible to give more information about the costs using the message pump with the specified setting for one month?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 217f29ba-3552-f406-58d3-d2e0c3bd4d2c
* Version Independent ID: 003342a6-6fc5-fae4-31f4-369b561cfd89
* Content: [Get started with Azure Service Bus queue

[2018-07-17 14:14] a-micons commented on #11818
Hi Markus,
Thanks a lot for your fast response.

[2018-07-17 14:27] rsbeve opened #11844 "Fails as written above"
The Variables $primaryresourcegroupname and $secondaryresourcegroupname are over written when creating the New-AzureRmResourceGroup.  This causes the New-AzureRmSqlServer command to fail.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c224aeec-aad6-b22a-6f5b-50fdf09d64ae
* Version Independent ID: a5ab76ba-2c54-1c24-156

[2018-07-17 14:33] Adam-Smith-MSFT commented on #11807
@AnirvanK Could you please provide a link to the documentation you are referring to ?

[2018-07-17 14:38] Adam-Smith-MSFT commented on #11808
@n3wt0n Thank you for the valuable feedback,we are investigating the issue.

[2018-07-17 14:46] Adam-Smith-MSFT commented on #11791
@krasnovandr Thank you for the valuable feedback,we are investigating the issue.

[2018-07-17 14:46] mmacy commented on #11050
Fix for this was included in private repo PR [#46699](https://github.com/MicrosoftDocs/azure-docs-pr/pull/46699). This one's ready for closure.

#please-close

Cc: @mrsmitty

[2018-07-17 14:46] neilpendlington commented on #10199
I've just had the exact same issue. The workaround seems to be; as the invitee, ignore the invitation email (which is broken in my case). Get the URL to the invited portal (e.g. https://portal.azure.com/#@invitingcompany.onmicrosoft.com/) then sign in as the MSA that was invited. You should (like I did) then get the privacy acceptance page.

[2018-07-17 14:47] MarkusVi commented on #11818
Hi @a-micons, it is P1. I've got a confirmation from engineering.
#please-close

[2018-07-17 14:58] Adam-Smith-MSFT commented on #11824
@alohaninja Thank you for the valuable feedback,we are investigating the issue.

[2018-07-17 15:03] vhorne commented on #10861
@frehnejc
Thanks, I added this idea to our list of doc enhancements to work on.
#please-close

[2018-07-17 15:07] franzzegarra commented on #11581
Yes, as mentioned, I already enabled the feature with PowerShell. Thank you for your quick response.

[2018-07-17 15:08] DeanGross opened #11845 "Adding comments/documentation"
What is the recommended approach for adding comments to function apps so that others will be able to read some documentation about the developer's intentions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cf91d8c-d16b-346d-759b-f3c787dea2e5
* Version Independent ID: 7e422baf-0a19-dded-ee83-a71b1c819f2f
* Content: [Cr

[2018-07-17 15:14] mike-urnun-msft commented on #11796
@prashanthyv is it possible that your app was created in <appname> directory off of http://<appname>.azurewebsites.net?

[2018-07-17 15:15] Adam-Smith-MSFT commented on #11832
@AnirvanK Thank you for the valuable feedback,we are investigating the issue.

[2018-07-17 15:30] Adam-Smith-MSFT commented on #11829
@TonyValenti I'd recommend leaving feedback on this link: https://feedback.azure.com/forums/217298-storage , it would be a good feedback for the team to see it.

[2018-07-17 15:37] dlepow commented on #11762
Fix merged in PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/46744
#sign-off

[2018-07-17 15:44] cloudmelon opened #11846 "Need details regarding how to backup VMSS"
Hi, url https://docs.microsoft.com/en-us/azure/backup/backup-azure-vms-first-look-arm  discusses how to backup VMs in Azure,

Regarding some workloads deployed in VM scale sets, as I know ,  ASR don't support to relicate it yet. Is it possible to use backup services ( not limite to take snapshot from each VMSS instances )

Many thanks !

# Azure documentation issue guidance

Thanks for opening an

[2018-07-17 15:53] iainfoulds commented on #11734
The product team are working on a deprecation statement. The doc has been updated to show Docker CE, which does work correctly, so that if you are still wanting to follow the doc you can do so. The recommendation is still to use the Marketplace offering for Docker CE.

[2018-07-17 16:19] JasonWHowell commented on #10977
@nysthee Yes, the portal field says to use semicolon (;) to separate the groups. I think we should update the docs to match. Thanks, Jason

![image](https://user-images.githubusercontent.com/5067358/42830931-d1e80e40-89a1-11e8-8847-549e9c7832ba.png)

[2018-07-17 16:28] valentijnscholten opened #11847 "What scope to use for access tokens to Web Application"
Hi,

We're trying to use Azure AD as SSO / OIDC provider for our web application.

The basics are working, we're getting an authorization code via the /authorize endpoint and we can use this to retrieve tokens from the /token endpoint. The scope we're using is "openid email".

This seems to result on only the id_token being returned from the /token end-point. What value for scope can we use to als

[2018-07-17 16:33] xocolatl-aficionado opened #11848 ""You do not have permission to view this directory or page""
That is what I get when I try to access the 'deployed' app that was deployed via ZipDeploy
(which shows a success message).
:( Console.log("*Frustration*");

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b0165d7-6462-842c-76ec-1a1f344fa51a
* Version Independent ID: 3b2c77ed-d9eb-cf20-0ace-908b88927e54
* Content: [Crea

[2018-07-17 16:34] AnastasiyaSim opened #11849 "x-ms-ratelimit-remaining-subscription-read"
Hi guys.
I have several questions regarding ratelimit-reads for the subscription API.
Will appretiate your feedback and documentaion improvements if any.

1. I was monitoring subscription in Azure and noticed that if monitor it from machine in Azure portal its x-ms-ratelimit-remaining-subscription-reads  is 5000, while if monitor subscription from the machine outside of the portal this value start

[2018-07-17 16:36] jason-j-MSFT commented on #9581
@dcbrown16 I think it is bit early, the fix will go out soon.

[2018-07-17 16:37] #9581 closed

[2018-07-17 16:40] iainfoulds commented on #11761
@spacecat The OS disk is driven by the VM size. The default size is _Standard_DS1_v2_. VM sizes with an _S_ in them use premium storage. You can select a different `--vm-node-size` such as _Standard_D2_v3_ which then uses standard disks for the OS disk. More information on VM sizes can be found here - https://docs.microsoft.com/en-us/azure/virtual-machines/linux/sizes

There isn't anything additio

[2018-07-17 16:42] cherylmc commented on #11792
@abudhu - thanks for letting us know! @TravisCragg-MSFT  - fixing this now.

[2018-07-17 16:46] iainfoulds commented on #11654
Hi @gkaleta, any additional information you can provide here? If you are wanting to create and assign a static IP address to the ingress controller, we already have a backlog work item to create this doc which is scheduled to publish mid-end of August. Is there something else that you were wanting here?

[2018-07-17 16:47] douglaslMS commented on #6412
@declang @craigg-msft FYI this issue was resolved on 4/20/2018 by PM Jim Toland, who added this additional permissions requirement to the page.

[2018-07-17 16:47] spacecat opened #11850 "Long delay after creating the ingress + cert not working"
After creating the ingress with kubectl apply -f hello-world-ingress.yaml it takes a very long time before the application is accessible via the FQDN. Can you confirm this? Why is it taking so long? (took about 10-20 mins here).

Also, the cert does not seem to be working. Maybe this too takes a while?

Got any tips/commands on how I can debug the above issues?

---
#### Document Details

⚠ *Do no

[2018-07-17 16:47] mmacy commented on #11482
Hello @SamirFarhat, do you have an update on your testing?

The article correctly advises "Contributor" permissions on the VNet RG to handle all configurations. Within your environment and use case, you might be able to configure stricter permissions as @noelbundick mentions. However, for now, we're going to leave the current "Contributor" guidance in the article to ensure compatibility, and I'll

[2018-07-17 16:48] Adam-Smith-MSFT commented on #11840
@murraypete Thank you for the valuable feedback,we are investigating the issue.

[2018-07-17 16:51] gkaleta commented on #11654
Sorry for the late reply. In general for production environments we need to ensure that we have a static ip. If you do not specify it will assign a dynamic ip which can change if you are unlucky. This did happen to a customer of mine hence the request. I could basically just add the PR my self.

[2018-07-17 16:52] fabiocav commented on #11755
@MisinformedDNA the ability to define route order is not exposed today. My recommendation for your scenario, for now, would be to add an appropriate route constraint (e.g. a constraint to your `id` in the route template) to avoid ambiguity. That would prevent having `recent` qualify as an `id`.

[2018-07-17 16:57] iainfoulds commented on #11654
@gkaleta If you want to create a PR, you certainly can. Depending on the scope, it can just be included in-line with this existing ingress doc. Part of the existing work item was to also show how to specify your SSL certs rather than using Let's Encrypt, hence it was a little more time consuming. Both, I think, are valid scenarios to cover.

[2018-07-17 17:05] #11762 closed

[2018-07-17 17:06] Mike-Ubezzi-MSFT commented on #11844
@rsbeve Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-17 17:07] MisinformedDNA commented on #11755
Oh OK, so I could do something like

[code]

That'll works for me.

@fabiocav Is there an issue tracking this?

[2018-07-17 17:08] #5711 closed

[2018-07-17 17:08] #6562 closed

[2018-07-17 17:08] #11050 closed

[2018-07-17 17:09] #11710 closed

[2018-07-17 17:09] Mike-Ubezzi-MSFT commented on #11841
@aiden56 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-17 17:10] jzuchora87 opened #11852 "Preview"
Is backing up Azure File Shares still in preview? If not, can you update the list of limitations?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61c0f8e6-5a57-58aa-ecd6-2bf83809c44d
* Version Independent ID: ee8b8f60-bffd-e6ec-5f21-bfd3208fc511
* Content: [Back up Azure File Shares](https://docs.microsoft.com/en-us/azu

[2018-07-17 17:11] Mike-Ubezzi-MSFT commented on #11819
@jdocampo Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-17 17:11] MicahMcKittrick-MSFT commented on #11803
Thanks for the feedback! We are investigating and will update you shortly.

[2018-07-17 17:12] vasivara-MSFT commented on #11833
@JDWNL Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-17 17:13] MicahMcKittrick-MSFT commented on #11812
Thanks for the feedback. We are investigating and will update you shortly.

[2018-07-17 17:13] fabiocav commented on #11755
This tracks the validation to detect ambiguous routes, which is similar to what we had in V1:
https://github.com/Azure/azure-functions-host/issues/3152

Implicit route priority (most to least restrictive) is another enhancement to be made, but we don't have anything tracking explicit order/priority.

[2018-07-17 17:14] rolyon commented on #11802
Hi @thuansoldier
PowerShell and CLI outputs role definitions in different formats. The information is the same, but the property names are different. I can see how this might be unclear in the docs. I'll work to make more consistent.
thanks
#in-progress

[2018-07-17 17:14] MicahMcKittrick-MSFT commented on #11826
Thanks for the feedback. We are investigating and will update you shortly.

[2018-07-17 17:15] cynthn commented on #11727
@mganeshphani I'm not seeing a simple way to check using PowerShell, so I've sent a message to the engineering team to see if I missed something. Might take a day or two, but I'm looking into it :)

[2018-07-17 17:15] MicahMcKittrick-MSFT commented on #11838
Thanks for the update @jdogg89. If you need additional assistance just let us know and we can reopen and continue.

[2018-07-17 17:15] #11838 closed

[2018-07-17 17:16] MicahMcKittrick-MSFT commented on #11839
Thanks for the question. We are investigating and will update you shortly.

[2018-07-17 17:16] Mike-Ubezzi-MSFT commented on #11842
@florinciubotariu Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-17 17:17] MicahMcKittrick-MSFT commented on #11845
Thanks for the question. We are investigating and will update you shortly.

[2018-07-17 17:18] Mike-Ubezzi-MSFT commented on #11821
@dipolimene We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-17 17:19] MicahMcKittrick-MSFT commented on #11850
Thanks for the feedback. We are investigating and will update you shortly.

[2018-07-17 17:19] #11482 closed

[2018-07-17 17:24] gkaleta commented on #11654
I was thinking about asigning static IP to the load balancer (or secondly ingress controller...) if that makes sense?

[2018-07-17 17:31] spacecat commented on #11850
Went for supper, came back, now HTTPS is working with a valid SSL certificate.

You might want to add a side note in the docs about this delay.

Thanks.

[2018-07-17 17:32] Mike-Ubezzi-MSFT commented on #11581
@franzzegarra We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-17 17:32] #11581 closed

[2018-07-17 17:33] MicahMcKittrick-MSFT commented on #11850
Thanks for the update @spacecat

@iainfoulds can you take a look and see if we should add a note that it might take some time to apply these settings?

[2018-07-17 17:35] cherylmc commented on #11792
#please-close

[2018-07-17 17:37] Mike-Ubezzi-MSFT commented on #11684
@waheedhussain We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-17 17:37] #11684 closed

[2018-07-17 17:38] MisinformedDNA commented on #11755
I created https://github.com/Azure/azure-functions-host/issues/3153 to track route priority.

[2018-07-17 17:38] #11755 closed

[2018-07-17 17:40] #10977 closed

[2018-07-17 17:45] vasivara-MSFT commented on #11827
@FoldZero Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-17 17:49] barclayn commented on #11248
@mikemlab Thank you for your feedback. I have made some changes to the article based on your feedback.

[2018-07-17 17:49] vasivara-MSFT commented on #11833
@JDWNL Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-17 17:51] barclayn commented on #11248
#please-close

[2018-07-17 17:55] TravisCragg-MSFT commented on #11805
@russcam Thanks for the feedback. for my understanding, is an issue with the portal not showing the correct information?

If so, could you try to view it in a different browser or an incognito window?

[2018-07-17 17:55] alohaninja opened #11853 "Grouping is now drag-n-drop"
UX is significantly out-of-date here. we should update the grouping, filtering, etc to synchronize with current state of the product

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0b2bb1d-9cd8-f7bb-53d6-a06ae5684f68
* Version Independent ID: b97282dd-95f9-0a51-e955-3950fd423dd6
* Content: [Using Analytics - the powerf

[2018-07-17 17:56] kate-davis opened #11854 "Offer ID"
Once I've followed the above instructions, my Offer ID has not changed.  I'm attempting to upgrade from my free trial to a pay-as-you-go subscription and then to transfer the subscription ownership to our business lead per these instructions: https://docs.microsoft.com/en-us/azure/billing/billing-subscription-transfer

Those instructions say you must have a qualifying Offer ID in order to transfer

[2018-07-17 17:58] ggailey777 commented on #11338
1. Azure Functions v2 is still in preview. You can track the progress of v2 toward GA [here](https://github.com/Azure/app-service-announcements/issues).
2. Are you still seeing the download issue in the portal, and if so what browser are you using? (Please note that C# files in the portal are .csx script files and in Visual Studio you create compiled C# class libraries.)
3. I will investigate the

[2018-07-17 17:58] TravisCragg-MSFT commented on #10861
@frehnejc We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-17 17:58] #10861 closed

[2018-07-17 17:59] TravisCragg-MSFT commented on #11792
@abudhu We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-17 17:59] #11792 closed

[2018-07-17 18:02] mganeshphani commented on #11727
Thanks @cynthn

[2018-07-17 18:10] femsulu commented on #11629
@davmhelm Thanks for your response. I have passed on your "doc-enhancement" feedback/suggestion to the content owner for review. No need to re-open but happy to if you insist.
@genlin FYI.

[2018-07-17 18:11] badulescub opened #11855 "Enqueued is the only OperationResult state you get back"
How are you getting back the "Abandoned" or NotificationOutcomeState.Unknown state. I am trying the code and the only thing I get back is "Enqueued"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e474fcd1-4479-be1b-8711-d709a16ecca1
* Version Independent ID: 6d8e4db8-89e1-0dbc-a25c-877c0865bf48
* Content: [Send notific

[2018-07-17 18:13] lalitvedak commented on #7982
While Creating first IOT HUB, in Subscription option available as Free Trial only; Visual Studio Enterprice With MSDN is not available.

[2018-07-17 18:15] MicahMcKittrick-MSFT commented on #11494
Thanks for the update @nitinkhandelwal26.

What region are you deploying to?

[2018-07-17 18:16] v-mipra opened #11856 "Typo in the conversion command"
I believe the domain in the example command should be "fabrikam.com" but it is "anandmsft.com" :D

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7243d05b-1428-79cc-eec0-9e6d57d28657
* Version Independent ID: c0c8e62a-4e04-0ac2-419e-dde69986a51e
* Content: [Federating multiple Azure AD with single AD FS](https://docs.mi

[2018-07-17 18:24] nitinkhandelwal26 commented on #11494
West Europe

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Micah <notifications@github.com>
Sent: Tuesday, July 17, 2018 11:46:02 PM
To: MicrosoftDocs/azure-docs
Cc: nitinkhandelwal26; Mention
Subject: Re: [MicrosoftDocs/azure-docs] writeAcceleratorEnabled is not working in ARM template. (#11494)

Thanks for the update @nitinkhandelwal26<https://github.com/

[2018-07-17 18:24] femsulu commented on #11836
@yuhongyang417 Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2018-07-17 18:27] Baggs opened #11857 "Change Let's Encrypt environment from Production to Staging because of rate limits"
I have got this error when creating certificate following instructions:

Failed to finalize order: acme: urn:ietf:params:acme:error:rateLimited: Error finalizing order :: too many certificates already issued for exact set of domains: ********.westeurope.cloudapp.azure.com: see https://letsencrypt.org/docs/rate-limits/

To fix that I have:
- changed acme server address in cluster issuer yaml file t

[2018-07-17 18:29] femsulu commented on #11804
@CraigHumphrey Thanks for bringing this to our attention. We are investigating and will get back to you soon.

[2018-07-17 18:31] femsulu commented on #11849
@AnastasiyaSim Thanks for the questions. We are actively investigating and will get back to you soon.

[2018-07-17 18:32] iainfoulds commented on #11654
For just a load balancer, we already have docs for using a static IP address - https://docs.microsoft.com/en-us/azure/aks/static-ip. Do they help? Otherwise, we're already planning on a doc as noted before that shows how to use a static public IP address on an ingress controller.

[2018-07-17 18:33] jrichview commented on #11338
Hello!

Download issue seems to be taken care of, thanks. Found I could get it to work in Chrome.  Ironic, but I don't care as long as it works.

I admit it was confusing at first that the project created in the portal was very different from that created in Visual Studio. I've been working with a project built in Visual Studio.

I soon found that employing a go-to module such as Entity Framework

[2018-07-17 18:33] okieselbach commented on #11765
Hi @MarkusVi,
Before I close, one additional question. The example shows a block rule, doesn't it make sense to include high risk as well. If I'm going to block on medium risk I would certainly do also on high. Shouldn't be high selected also as a real world example. I would understand if we choose something different for medium and then for high the block, but in this case high should also be sel

[2018-07-17 18:34] femsulu commented on #11814
@gitstua Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-17 18:35] spacecat commented on #11850
Still would like to know the following however:

Got any tips/commands on how I can debug the above issues?

[2018-07-17 18:38] kobulloc-MSFT commented on #11853
@alohaninja Thank you for pointing this out.  I'll assign this to the document author to update this accordingly.

[2018-07-17 18:40] mike-urnun-msft commented on #11817
@deruss Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2018-07-17 18:41] rsbeve commented on #11844
I may be wrong on this one, but it appears that the "Initiate a planned failover section is reversed.  Once everything is created, I can only update and write to the DB in the "Secondary" location.

[2018-07-17 18:42] MicahMcKittrick-MSFT commented on #11538
@tigerdeccan I am having issues with this doc as well. I am working with the author @dkkapur offline to go through it and see what we can do in order to fix it.

[2018-07-17 18:42] DMoonesinghe opened #11860 "Is cloud services still available?"
I thought It went away with the rest of the components of  ASM.  Replaced by Application Service Environment.
Or am I wrong?  Please let me know If I am wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1435cf9c-c159-f350-0261-6cc363f1af44
* Version Independent ID: 88fe8901-7d6a-6543-bc41-30192fec1554
* Content: [H

[2018-07-17 18:44] mike-urnun-msft commented on #11848
@xocolatl-aficionado Sorry for the inconvenience and thanks for your feedback! Could you provide more details as to what steps you took, and possibly, share a screenshot of what you're seeing? I've gone through the steps just yesterday as part of #11796 and didn't run into any issues, however, if there's a problem, I'd like to repro and take corrective actions internally.

[2018-07-17 18:45] AnirvanK commented on #11807
https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux

[2018-07-17 18:46] DMoonesinghe opened #11861 "Is Azure Cloud Service still available?"
I thought this stuff went away along with components of ASM at the beginning of Jan 2018.  Replace with Application Service Environment.  If that is the case shouldn't this document say it is deprecated technology?

Please correct me if I am wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee6d7d1b-f159-2d1e-fc31-

[2018-07-17 18:48] xocolatl-aficionado commented on #11848
I deployed the cloned starter node.js app onto <URL>/ZipUpload. This showed
a success message as decribed on the website. Then I went to the created
AppSevice and clicked the https link from the portal. This leads to the
blank screen with the permission error that I’ve mentioned.

On Tue, Jul 17, 2018 at 1:44 PM Mike Urnun <notifications@github.com> wrote:

[2018-07-17 18:51] BradleyBartlett commented on #11398
Hello @DaveDXC. I have taken a look into this issue and it would help a lot more if you had the error message on hand. I investigated a bit on an ADFS environment and they do in fact have an AADTenantId property as specified on ln 895. example below:

The information returned from Get-AzureStackStampInformation contains (among others) the below properties

NumberOfNodes             : 1
AADTenantID

[2018-07-17 18:53] thuansoldier opened #11863 "Is the identity endpoint fixed?"
The reason I'm asking is if the endpoint is fixed (http://169.254.169.254/metadata/identity/oauth2/token) I'd need to allow it in case there is an in-place firewall.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bd6bdc9-b545-f273-dc80-eeb69107d919
* Version Independent ID: dbbbadd6-f533-33e3-1c1f-7cbc889b20b7
* Conte

[2018-07-17 18:58] raiye commented on #11494
Hi Nitin,

Write Accelerator is only supported on Managed Disks. Please ensure that you are deploying Managed Disks while you are creating your VM, and not standard disks.

Thank you,
Rashmi Iyer

[2018-07-17 19:04] JasonWHowell commented on #7279
Thanks for spotting the typo. This was fixed today in MicrosoftDocs/azure-docs-pr#46806

#please-close

[2018-07-17 19:11] CelesteDG commented on #11847
Hello @valentijnscholten - Thank you for your question. There are some limitations with `email` claim in our current implementation. Please see https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-limitations#restrictions-on-protocols. The first bulleted item states: "Currently, the `email` claim is returned only if an optional claim is configured and scope is set to

[2018-07-17 19:16] CelesteDG commented on #11822
Hello @valentijnscholten - To create a secret key:
1. See https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-integrating-applications#to-add-application-credentials-or-permissions-to-access-web-apis
2. Follow step 4 in the *To add application credentials, or permissions to access web APIs* section.
3. Copy the application key value. This is the value for the **clientS

[2018-07-17 19:16] valentijnscholten commented on #11847
Hi,

Thank you for answering. I've seen the limitations, but I think my question is not related to the email claim.
Let's forget the email claim and focus on OpenID claim.

How can I get azure to return access tokens?

Looks like there is another page describing azure oidc flows which has more info on this: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-integratin

[2018-07-17 19:21] sryabkov commented on #11060
@MicahMcKittrick-MSFT Are AKS feature request supposed to be logged on UserVoice (feedback.azure.com) or here, in this repo? There is no category for AKS on feedback.azure.com

@mhabegger logged his request (https://feedback.azure.com/forums/602224-azure-container-instances/suggestions/34764004-custom-domain-names-or-zones-with-http-application) under ACI, which seems to be the wrong category.

It

[2018-07-17 19:23] MarkusVi commented on #11765
Hi @okieselbach, quickstarts are just demo examples to test a feature.
A sign-in from a Tor browser generates a medium-level sign-in risk, which is why you need to select medium as risk level in the policy to test this scenario.

Yes, in a production environment, you should select either (just) high or medium and high - depending on your business requirements.

Cheers,
Markus

[2018-07-17 19:25] tysonn opened #11866 "Test issue"
Hey, just a test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55e23176-40c4-39bd-4f6f-cc48e518cf96
* Version Independent ID: 370fcf36-dce0-6718-4566-34a71cd0314e
* Content: [Tutorial - Create and manage Windows VMs with Azure PowerShell](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-manage-

[2018-07-17 19:25] #11765 closed

[2018-07-17 19:48] #7279 closed

[2018-07-17 19:48] Adam-Smith-MSFT commented on #8697
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-17 19:48] #8697 closed

[2018-07-17 19:48] Adam-Smith-MSFT commented on #9428
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-17 19:48] #9428 closed

[2018-07-17 19:48] Adam-Smith-MSFT commented on #10425
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-17 19:48] #10425 closed

[2018-07-17 19:49] Adam-Smith-MSFT commented on #10508
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-17 19:49] #10508 closed

[2018-07-17 19:49] Adam-Smith-MSFT commented on #10629
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-17 19:49] #10629 closed

[2018-07-17 19:49] Adam-Smith-MSFT commented on #10632
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-17 19:49] #10632 closed

[2018-07-17 19:50] Adam-Smith-MSFT commented on #10768
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-17 19:50] #10768 closed

[2018-07-17 19:50] Adam-Smith-MSFT commented on #11248
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-17 19:50] #11248 closed

[2018-07-17 19:51] Adam-Smith-MSFT commented on #11315
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-17 19:51] #11315 closed

[2018-07-17 19:51] cynthn commented on #11866
@tysonn boop!

[2018-07-17 19:52] Adam-Smith-MSFT commented on #11699
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-17 19:52] #11699 closed

[2018-07-17 19:52] Adam-Smith-MSFT commented on #11818
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-17 19:52] #11818 closed

[2018-07-17 19:53] MicahMcKittrick-MSFT commented on #11060
Thanks @sryabkov. Looks like the AKS team has moved their feedback to GitHub for easier tracking and assignment.

[2018-07-17 19:54] MicahMcKittrick-MSFT commented on #11538
@tigerdeccan I am working offline with @dkkapur and @srrengar on this issue. They are out of office at the moment sot it might take a couple days. But we will work through the doc and see what we can do.

[2018-07-17 19:55] ghogen commented on #9412
#please-close

[2018-07-17 19:55] iainfoulds commented on #11850
@spacecat Probably due to limits on the Let's Encrypt service. I've been working on a re-write of this doc today to clear up some of the other areas you'd mentioned in https://github.com/MicrosoftDocs/azure-docs/issues/11710, and part of that is switching from production to staging. This was also just reported in https://github.com/MicrosoftDocs/azure-docs/issues/11857. Using `letsencrypt-staging`

[2018-07-17 19:56] ghogen commented on #9528
#please-close
If still an issue with current tools and docs, please reopen.

[2018-07-17 19:56] ghogen commented on #10018
#please-close
If this is still an issue, please reopen.

[2018-07-17 19:57] ghogen commented on #11528
Thanks for following up on the other problem.  I'm looking into this now.

[2018-07-17 20:02] MicahMcKittrick-MSFT commented on #11648
@josere I heard back from the product team on this ask. Here was the answer:

I am assigning to the content author to review and work on adding more information to this doc to make the information more clear

@radicmilos can you please take a look?

[2018-07-17 20:06] gbellmann opened #11868 "Error executing script"
There's an error when executing the script. The part that reads the publish profile is only returning the string content, so the `$xml.SelectNode` statements after it fail.

This command:

[code]

should be:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1f5166e-1704-a655-0814-a18c996b3fa1
* Version Independen

[2018-07-17 20:07] #11850 closed

[2018-07-17 20:08] SaurabhSharma-MSFT commented on #11825
@frostygoth Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-17 20:08] SaurabhSharma-MSFT commented on #11810
@Floriszz Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-17 20:09] MohitGargMSFT commented on #11791
@krasnovandr I have assigned the issue to the content author to check on your feedback and update as appropriate.

[2018-07-17 20:12] Fallenstedt opened #11869 "Define headers"
For those using Node...
The example provides an XML response, yet your images show a JSON response.
To obtain a JSON response, add a key of 'headers' and define your Content-Type like so.

        context.res = {
            // status: 200, /* Defaults to 200 */
            headers: {
                'Content-Type': 'application/json'
            },
            body: "Hello " + (req.query.name ||

[2018-07-17 20:17] mganeshphani opened #11870 "Find Compatible sizes in other series"
Is there a command-let with which I can identify following

For example
-&gt; I would like to move from B series to E series.. would like to see what are compatible sizes in E series near the same price range and capabilities

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c823b1f-688f-e1b9-1590-92d12c28b138
* Version

[2018-07-17 20:18] Mike-Ubezzi-MSFT commented on #11844
@rsbeve I am running into the $primaryresourcegroupname and $secondaryresourcegroupname variables not resolving. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-17 20:19] MicahMcKittrick-MSFT commented on #11803
@rvahaver we have had a similar ask on this doc before. See #7667

From that comment you can try this:

https://blogs.msdn.microsoft.com/madan/2015/11/02/resizing-azure-vm-os-or-data-disk/

We are not investing in adding additional classic documentation as it the push is fully for ARM.

CC @iainfoulds as you commented on a similar issue

[2018-07-17 20:19] MicahMcKittrick-MSFT commented on #11808
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-17 20:21] josere commented on #11648
Thanks, @Micah,

So, these settings go in the Settings.xml file, correct? Are all the intervals in seconds? I see at least HostResourceCheck you mentioned in minutes.

Should the default values look like this?

<?xml version="1.0" encoding="utf-8"?>
<Settings ...>
  ...
  <Section Name="ResourceMonitorService">
    <Parameter Name="ResourceMonitorInterval " Value="10" />
    <Parameter Name="HostR

[2018-07-17 20:21] cynthn commented on #11870
@mganeshphani you might want to try this tool: http://www.azureinstances.info/

[2018-07-17 20:23] SaurabhSharma-MSFT commented on #11811
@jeevabt Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-17 20:23] MicahMcKittrick-MSFT commented on #11648
@josere yes that appears correct to me. Could you give a go and see if that works? If not let me know and I can continue the discussion offline to get it sorted out :)

[2018-07-17 20:25] SaurabhSharma-MSFT commented on #11834
@nalberti Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-17 20:29] MicahMcKittrick-MSFT commented on #11839
@dcs3spp I am not aware of any examples at this time..

@lachie83 could you chime in on this one?

[2018-07-17 20:29] jlian commented on #11854
Hi @kate-davis, you're right, upgrading the subscription from Free Trial to Pay-As-You-Go doesn't immediately change the offer ID. The offer ID changes when either

1. You consume all the free credits ($200) that you got, **or**
1. It's been 30 days since you started the Free Trial

So, if you need to urgently transfer the subscription, I would recommend that you open a support ticket and request

[2018-07-17 20:30] Adam-Smith-MSFT commented on #11830
@waheedhussain , when there are urgent updates that are forced or rolled by Microsoft, the customer is always notified via email , informing them with a bracket time of when it is going to be pushed. Most of these updates that are pushed can't be rescheduled from MS. There is also an organized and planned roll-outs in different regions to avoid any issues from happening to the customers, so two re

[2018-07-17 20:31] MicahMcKittrick-MSFT commented on #11826
@BartoszPorebski thanks for this! I can understand why it would cause problems as it is setting the configurion back to default settings which we modify when using AAD to login.

@cynthn can you take a look and see if we can add a note in the doc about this?

[2018-07-17 20:32] kate-davis commented on #11854
Thanks @jlian, glad to know I was going down the right path.  Today is the 30th day of my Free Trial, so should I expect to see the Offer ID change tomorrow?

[2018-07-17 20:34] MicahMcKittrick-MSFT commented on #11738
@kyyung can you try running through the doc again? Myself and others running through this are not seeing issues with issuing the cert. Possibly you missed a step or encounter an transient error.

[2018-07-17 20:37] MarkusVi commented on #11823
HI @SaschaSeipp, thanks for bringing this up!
I have added a note to the article.

#please-close

[2018-07-17 20:37] jlian commented on #11854
Yes, in that case you should definitely see the offer ID change in a day or two (at most).

[2018-07-17 20:43] amitkoth opened #11873 "Question - does listing on AppSource present a SaaS vendor in the pre-integrated app list on Enterprise Application Management?"
Question - does listing on AppSource present a SaaS vendor in the pre-integrated app list on Enterprise Application Management?

I just wondered what the connection was there. I presume the apps served as pre-baked applications are exactly the same set as those that list on AppSource. Is that correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-07-17 20:44] femsulu commented on #11854
Thanks for your quick response, @jlian.

@kate-davis
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-17 20:44] #11854 closed

[2018-07-17 20:47] MohitGargMSFT commented on #11835
@porrascarlos802018 Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-17 20:52] MicahMcKittrick-MSFT commented on #11857
Thanks for the feedback. We are currently investigating and will update you shortly.

[2018-07-17 20:52] shanyu commented on #9715
The public Hortonworks repo should be:
http://repo.hortonworks.com/content/groups/public/

[2018-07-17 20:54] MicahMcKittrick-MSFT commented on #11860
Yes Cloud Services are still being offered. It is one of the last "Classic" resources still being offered. At this time there is no plans to deprecate it so feel free to spin up a cloud service if that option is the best fit for you :) Alternatively you could also look into App Services if that is something that fits your needs as well.

[2018-07-17 20:54] MohitGargMSFT commented on #11714
@jasonsch69 Please check this below article and see steps provided here helps with your situation -
https://www.windowscentral.com/how-reset-password-lock-screen-windows-10-fall-creators-update

[2018-07-17 20:56] mmacy commented on #11693
Hi @erichexter, this is mentioned in the [Troubleshooting article](https://docs.microsoft.com/azure/container-instances/container-instances-troubleshooting#image-version-not-supported), which specifies that only LTS Windows images are supported:

"If you specify an image that Azure Container Instances cannot support, an `ImageVersionNotSupported` error is returned. The value of the error is `The v

[2018-07-17 20:56] #11775 closed

[2018-07-17 20:58] MicahMcKittrick-MSFT commented on #11869
Thanks for the feedback! I have assigned this to the content author to review.

[2018-07-17 20:58] MohitGargMSFT commented on #11778
@vivek-ealumalai We will now proceed to close this issue as we work on it through MSDN thread.

[2018-07-17 20:58] #11778 closed

[2018-07-17 20:58] MicrosoftGuyJFlo commented on #11714
For Azure AD users the reset workflow is documented in the Reset your password article below.
https://docs.microsoft.com/azure/active-directory/user-help/active-directory-passwords-update-your-own-password#reset-password-at-sign-in

[2018-07-17 21:07] iainfoulds commented on #11742
@spacecat After discussion with the product team, they don't currently have integrations with Azure Backup on their roadmap. The suggested approach is as noted here to create a snapshot of the underlying managed disk. I've created a backlog work item to update the docs to show this approach in case other customers have the same question.

You're welcome to file a feature request on further backup

[2018-07-17 21:09] #11742 closed

[2018-07-17 21:10] iainfoulds commented on #11761
@spacecat After discussion with the product team, they're going to raise the issue to engineering on the disconnect between standard storage classes and premium storage. The solution provided to create a definition for the standard storage class is the current solution.

I've created a backlog work item to update the docs to show this approach until any engineering changes are implemented.

If you

[2018-07-17 21:12] cynthn commented on #11727
@mganeshphani okay, you can get the FD count from Get-AzureRmComputeResourceSku. You'll want to filter the results, but it is a good place to start :)

[2018-07-17 21:17] #11761 closed

[2018-07-17 21:24] nirnaybansal opened #11874 "Attribute name is missing of upn"
Open: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-token-and-claims
Scroll to "Claims in id_tokens" Table.
Scroll to the end of the table
Note that Attribute name is missing for the upn "User Principal Name".

<Attribute Name=”http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn”>

I have to execute the code and need to expand the Claims List to get this na

[2018-07-17 21:49] josere opened #11875 "CPU Core values in the cluster explorer."
I added this metric to my service in the <LoadMetric> tag, but I cannot understand the different values reported in the cluster explorer.

First, you can use the metric for service auto-scaling (see [page](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-resource-manager-autoscaling)). The values accepted in the triggers are core fractions, so 0.5 will be 25% of the CPU

[2018-07-17 21:54] neilpeterson commented on #11738
@kyyung can you paste a copy of the certificate manifest here?

[2018-07-17 21:55] Mike-Ubezzi-MSFT commented on #11874
@nirnaybansal Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-17 21:57] Ang3lFir3 opened #11876 "Documentation around some of the telemetry modules could use some improvement"
Documentation is lacking information about the functionality and purpose of several modules. This include but are not limited to : "Microsoft.ApplicationInsights.WindowsServer.AppServicesHeartbeatTelemetryModule" a better understanding of the content in "https://github.com/Microsoft/ApplicationInsights-dotnet-server/pull/870" (which i believe to be the Pull Request for this feature) would be excel

[2018-07-17 21:59] Mike-Ubezzi-MSFT commented on #11828
@Phydeauxman Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-17 22:01] Mike-Ubezzi-MSFT commented on #11861
@DMoonesinghe Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-17 22:01] iainfoulds commented on #11857
@Baggs This may have come up with a couple of other issues, so I already have doc updates in progress to address this. The reason `letsencrypt-prod` is currently used is that otherwise a **Fake LE Intermediate X1** certificate is issued, which web browsers do not trust. The updated steps provide this warning, but it does at least shows that Let's Encrypt is issuing certificates and that cert-manag

[2018-07-17 22:07] yangyuan commented on #11696
The document has been updated.

[2018-07-17 22:07] hukun01 opened #11877 "Could you also provide an instruction for ARM template?"
Could you also provide an instruction for ARM template to set up disk encryption for Azure Virtual Machine Scale Sets?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 268e2a87-ffab-440a-dcb4-1d15c89d9d55
* Version Independent ID: e9c8b2f2-5689-3b64-3cb6-92039005ee31
* Content: [Encrypt disks for Azure scale sets with Az

[2018-07-17 22:08] TravisCragg-MSFT commented on #11664
@craigvphillips We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-17 22:08] #11664 closed

[2018-07-17 22:09] mganeshphani commented on #11870
@cynthn Looks like the site is not uptodate with latest prices

[2018-07-17 22:10] MichaelHauss commented on #11829
Responded via email to azurestoragefeedback@microsoft.com to understand use case better. Currently we do not have firm plans to implement this.

[2018-07-17 22:15] femsulu commented on #11849
@AnastasiyaSim , adding the content author @tfitzmac here for visibility but I am not sure i fully understand your first 2 questions. Can you please clarify?
Q1 - what do you mean by  machine outside/inside when you say, "from machine in Azure portal... from the machine outside of the portal"
Q2 - What do you mean by 'short-time when you say, "improvements that allows to it to recalulate remaining

[2018-07-17 22:17] MicahMcKittrick-MSFT commented on #11870
@mganeshphani this is a 3rd party site so we are not actually in charge up of updating it. So there might be some slight differences. We don't have anything out of the box that lists all VMs with X amount of Cores, Ram, etc. Rather we simply show all the sizes on this site:

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes

You can get a list of all the available VM sizes usin

[2018-07-17 22:17] tfitzmac commented on #11849
@AnastasiyaSim - in addition to the questions from @femsulu, here is a little bit of info:

For question 2, the counts and limits are rolling, so you could send requests but see your limit go up because of expiring requests.

For question 3, your requests are handled by an instance of Resource Manager. So, if they are handled by different instances you could send more requests than the stated limi

[2018-07-17 22:23] SaurabhSharma-MSFT commented on #11810
@Floriszz Please refer to [Security Center pricing](https://azure.microsoft.com/en-us/pricing/details/security-center/) for security center pricing information.

[2018-07-17 22:31] jordanmkimball commented on #11848
Hi, exact same problem here. Followed the steps exactly as described in the article.  The URL https://helloworldfirstapp.azurewebsites.net/ only returns "You do not have permission to view this directory or page"

[2018-07-17 22:32] skeeler opened #11879 "Missing the steps for creating and installing the required certificate"
Missing the steps for creating and installing the certificate needed for step #2 in the subsection titled: "Register the certificate in your app" (the linked document does not include certification creation/installation steps either)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00805342-38ae-6ec9-4cc9-614510c78227
*

[2018-07-17 22:34] #8560 closed

[2018-07-17 22:36] rolyon commented on #10021
Hi @rogerbrownmegnajet  and @luisma1955
Sorry for the delay. I've confirmed with the team.
The users at risk report is available for the free and basic editions. You access on the following blade:
- Azure Active Directory > Security section
If you have Identity Protection and you try to access the users at risk report in Identity Protection, you will need a premium edition:
- Azure AD Identity Pro

[2018-07-17 22:37] Ayanmullick commented on #10042
Gentle reminder..

[2018-07-17 22:42] MarileeTurscak-MSFT commented on #11811
Hi @jeevabt,

Yes, dynamic user/device grouping is available in Azure B2C. You can add User and Device grouping by going to Azure Active Directory in your B2C tenant and creating a new group. You may need to be a global administrator on the tenant to be able to apply these groupings. Please see the attached screenshot and let me know if this helps.

![dynamicusers](https://user-images.githubuserco

[2018-07-17 22:42] rolyon commented on #11802
Hi @thuansoldier
I've updated the article to use the PowerShell format of the role definitions.
https://docs.microsoft.com/en-us/azure/role-based-access-control/role-definitions
Hopefully this clearer. Let us know if you have additional feedback.

[2018-07-17 22:42] rolyon commented on #11802
#please-close

[2018-07-17 22:47] MohitGargMSFT commented on #11828
@Phydeauxman Thanks for reporting! I can verify on it. I have assigned the issue to the content author to investigate and fix it in the document.

[2018-07-17 22:48] rmcmurray commented on #10042
Hi @Ayanmullick - we have such an article in our backlog of content to be created, but at the moment we do not have a date when that article will be written.

[2018-07-17 23:02] tfitzmac commented on #11661
At this point, I think it's future is uncertain, so I am reluctant to direct people towards a feature that might not be a good approach. If a valuable use emerges, then I can add something to the documentation.

[2018-07-17 23:02] tfitzmac commented on #11661
#please-close

[2018-07-17 23:02] rmcmurray commented on #7754
#please-close

[2018-07-17 23:05] Mike-Ubezzi-MSFT commented on #5878
@microsoft-rin Thanks for the follow-up on this tutorial. I will reopen the issue and attempt to repro this myself. Thanks!

[2018-07-17 23:10] Mike-Ubezzi-MSFT commented on #11575
@efficienthacks We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-17 23:10] #11575 closed

[2018-07-17 23:11] MohitGargMSFT commented on #11873
@amitkoth Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-17 23:13] #11727 closed

[2018-07-17 23:14] xmark commented on #8142
thanks for raising this Jason, but no comments at all from the product team yet on the issue... how do we know this is being looked at or addressed?

[2018-07-17 23:14] MohitGargMSFT commented on #11863
@thuansoldier Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-17 23:15] MicahMcKittrick-MSFT commented on #11875
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-17 23:19] jlian commented on #11156
@eifinger Thanks for pointing this out. Looks like we have a doc error as the URI is missing an `?api-version=2018-06-30` at the end (can be seen [here](https://docs.microsoft.com/en-us/rest/api/iothub/service/invokedevicemethod))

So if you change it to

[code]

It should work. From what I can see, `Request-Id` is not actually required.

I'll make a doc update on this real quick. cc @nberdy

[2018-07-17 23:33] BryanTrach-MSFT commented on #11868
@gbellmann Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-17 23:34] BryanTrach-MSFT commented on #11855
@badulescub Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-17 23:47] cynthn commented on #11877
@hukun01 @MicahMcKittrick-MSFT I just took over VMSS, so I created a backlog work item to cover this when we get a chance. It might be something where we can get some help from the storage team, but it might take a while. Thank you for the feedback! It is always nice to hear what customers are looking for in the docs :)

[2018-07-18 00:08] #11825 closed

[2018-07-18 00:15] oridayne opened #11883 "Azure ML Import Error: No Module named <your python file here>"
I trained a CNTK model in a VM, and loaded it into a file called test_model, along with other various helper functions. I ran this in a file in the Azure Machine Learning Work Bench, and I'm trying to deploy locally.

I used this [tutorial](https://docs.microsoft.com/en-us/azure/machine-learning/desktop-workbench/tutorial-classifying-iris-part-3)

I got to this line: az ml service create realtime

[2018-07-18 00:44] Cherisle opened #11884 "Requesting latest documentation for ModuleClient"
Hi, I wanted to look more into ModuleClient but have been struggling to find useful documentation. The tutorial could use having a link to such documentation to better understand what can and can't be done with ModuleClient, as well as understanding the difference between something like ModuleClient and DeviceClient. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2018-07-18 00:59] skeeler commented on #11879
@MohitGargMSFT something along the following lines should/might work:

[code]

[2018-07-18 01:02] ajamess commented on #11873
No, it does not do so today. If you would like to list your app in the Enterprise Application Gallery and Azure Marketplace under Azure AD Apps, please follow the steps here: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-app-gallery-listing

[2018-07-18 01:43] MicahMcKittrick-MSFT commented on #11704
@dixitsuneel I did some research and reached out to some of the Service Fabric product group members about this. Generally speaking Service Fabric will not move your services unless you specifcy in your setup reasons for them to be moved. So in theory you are correct that the service you are running could be moved. However, the only reason it would be moved would be if you setup your service in su

[2018-07-18 01:43] MicahMcKittrick-MSFT commented on #11735
@sumitsengupta I will close this for now. If you need more information feel free to ping me offline as well :)

[2018-07-18 01:43] #11735 closed

[2018-07-18 01:46] MicahMcKittrick-MSFT commented on #11812
Can you clarify that the section you are seeing this error is the Install cert-manager portion?

Which command are you running that is throwing this error?

[2018-07-18 01:47] MicahMcKittrick-MSFT commented on #11845
@DeanGross I will close this for now. If you have additional questions let me know and we can always reopen and continue.

[2018-07-18 01:47] #11845 closed

[2018-07-18 01:48] MicahMcKittrick-MSFT commented on #11870
I will close this out for now but if you feel you need more information just let me know and we can always reopen and continue.

[2018-07-18 01:48] #11870 closed

[2018-07-18 02:14] MGoedtel commented on #5968
@jason-j-MSFT - last month I released a new article that delivers an comparative overview of the Diagnostic agent versus Log Analytics agent (https://docs.microsoft.com/en-us/azure/monitoring/monitoring-overview-azure-agents).  This issue can now be considered #please-close.

[2018-07-18 02:30] Mike-Ubezzi-MSFT commented on #11883
@oridayne Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-18 02:33] Mike-Ubezzi-MSFT commented on #11876
@Ang3lFir3 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-18 02:35] Mike-Ubezzi-MSFT commented on #11884
@Cherisle Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-18 02:37] MicahMcKittrick-MSFT commented on #11875
@masnider @srrengar would either of you know if we have a doc that explains each of these?

I found the following but it does not appear to cover the abouve

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-fabric-settings

[2018-07-18 02:38] MicahMcKittrick-MSFT commented on #11860
@DMoonesinghe I will close this for now. If you have additional questions let me know and we can always reopen and continue.

[2018-07-18 02:38] #11860 closed

[2018-07-18 02:38] Mike-Ubezzi-MSFT commented on #11852
@jzuchora87 Thank you for the inquiry. We are actively investigating and will get back to you soon.

[2018-07-18 02:38] MicahMcKittrick-MSFT commented on #11494
Thanks @raiye! Good catch.

@nitinkhandelwal26 please ensure you are using manged disks and it should work. If it doesn't just let us know and we can reopen and take a look.

[2018-07-18 02:40] MicahMcKittrick-MSFT commented on #11803
@rvahaver I will close this for now. If the above link does not help just let me know.

[2018-07-18 02:40] #11803 closed

[2018-07-18 02:45] nitinkhandelwal26 commented on #11494
Dear Micah/Rashmi,

I am already using Managed Premium disks only.

Below is section from my ARM template for Storage config of VM deployment:

"storageProfile": {
                    "imageReference": {
                        "id": "[variables('customOSImageId')]"
                    },
                    "osDisk": {
                        "createOption": "FromImage",
                        "

[2018-07-18 02:47] russcam commented on #11805
Yes.

This is in Google Chrome Version 67.0.3396.99 (Official Build) (64-bit) on Windows 10. If I get a chance, I'll try it in a different browser, but it's not something I'm actively looking at, so you may get around to investigating it before I do again 🙂

[2018-07-18 02:49] martyharris opened #11886 "ClassificationDescriptions value needs to be in a special format"
As per documentation at https://support.office.com/en-us/article/manage-office-365-groups-with-powershell-aeb669aa-1770-4537-9de2-a82ac11b0540, the value of ClassificationDescriptions is only valid in this format:

$setting[“ClassificationDescriptions”] ="Classification:Description,Classification:Description", where Classification matches the strings in the ClassificationList.

It would be good to

[2018-07-18 02:56] apercova opened #11887 "Azure Functions V2 GA release"
I've been playing with Azure Functions v1 and v2 locally and on Azure Portal and since there is no v2 public GA release date I would like to know if you think it would be possible to have a GA release at least for the last quarter of 2018?

Thanks in advance.

[2018-07-18 03:06] amitkoth commented on #11873
@MohitGargMSFT @ajamess what is the difference between the two - either in terms of form, function or intent?

[2018-07-18 04:33] rhlgupta1383 opened #11888 "Main components of warehouse MPP architecture"
I was going through this course (DAT220x) on edX and first assessment mentioned the key components of MPP architecture. By referring to this article I was not clear what those are. Kindly update the documentation or redirect me to any other article if possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c6f95be-15

[2018-07-18 04:52] srrengar commented on #11538
hi @tigerdeccan, the App Insights key used in VS in the appsettings.json file. Before you publish to production you could change the key in this file. Are you using App Insights to track application logs like the doc demonstrates or for cluster and infrastructure data?

[2018-07-18 05:10] HK-Zhang opened #11889 "This guide seems not working now."
I got below error log when run -
`$ kubectl logs -f deploy/addon-http-application-routing-external-dns -n kube-system`

time="2018-07-18T04:33:07Z" level=error msg="azure.BearerAuthorizer#WithAuthorization: Failed to refresh the Token for request to https://management.azure.com/subscriptions/79961948-8a62-407d-85a8-865f0b8d8294/resourceGroups/MC_aks-poc_akshttp_westeurope/providers/Microsoft.Netwo

[2018-07-18 05:12] algattik opened #11890 "MSI is not in preview anymore"
Please update the text " Currently, there's a new feature in preview called Managed Service Identity (MSI)," MSI is GA for web apps https://blogs.msdn.microsoft.com/appserviceteam/2018/06/26/announcing-general-availability-and-sovereign-cloud-support-of-managed-service-identity-for-app-service-and-azure-functions/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2018-07-18 05:41] formulahendry opened #11891 "target-condition should be properties.reported"
properties.desired.devicemodel='4000x' should be properties.reported.devicemodel='4000x'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d0e6bd5-8d60-e24a-efc5-60bff8bfd3be
* Version Independent ID: 7d1cae02-3a51-d240-484f-f8964906cb29
* Content: [Deploy and monitor modules for Azure IoT Edge (CLI)](https://docs.micros

[2018-07-18 05:42] formulahendry commented on #11891
And same issue in https://docs.microsoft.com/en-us/azure/iot-edge/how-to-deploy-monitor

[2018-07-18 05:45] SnehaGunda commented on #8126
@NIVJAIN apologies for the really long delay, we couldn't reproduce the issue you are seeing with the node and MongoDB 3.0.+ versions that you have. If you have port 10255 is open on your firewall, the connection would work with the code shown in portal.

#please-close

[2018-07-18 05:51] NIVJAIN commented on #8126
Hi Sneha,
you may close the issue

regards
Jain

On Wed, Jul 18, 2018 at 1:45 PM, Sneha Gunda <notifications@github.com>
wrote:

[2018-07-18 05:54] markusrt opened #11892 "Point-in-time-restore is not recreating firewall rules"
Yesterday we performed a PITR on one of our Azure PostgreSQL databases. However we experienced, that the firewall rules were missing on the restored server. Please update the documentation "new server is created with the same configurations as the server it is based on" and also evaluate if this could be fixed in one of the upcoming releases.

---
#### Document Details

⚠ *Do not edit this section

[2018-07-18 05:58] mike-urnun-msft commented on #11764
@xavierrouhaud As per @HeidiSteen's suggestion, it looks like you have opened a post on StackOverflow:
https://stackoverflow.com/questions/51394250/how-to-update-azure-search-index-every-seconds

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-18 05:58] #11764 closed

[2018-07-18 06:07] hukun01 opened #11893 "Is it possible to ship a certificate to the VM with secretUriWithVersion?"
I saw in this document that we need to do
`"certificateUrl": "https://mykeyvault1.vault.azure.net/secrets/{secretname}/{secret-version}",`
in order to install a custom cert on a VM. However, we don't want to include the `{secret-version}`, I also saw a code snippet for using `"certificateUrl": "[reference(xxxx).secretUriWithVersion]`, I tried this one, but got the following error

Type: Microsoft.

[2018-07-18 06:54] frehnejc opened #11894 "Multi Site Support"
Would be good to have documentation on configuring using a multisite redirect. eg
http://www.sitea.com  redirect to https://www.sitea.com
and
http://www.siteb.com  redirect to https://www.siteb.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c09429e-3590-5535-dd03-fd38e4a45af5
* Version Independent ID: f47dc8e8-69b

[2018-07-18 06:55] tamram commented on #10090
@MartinGreen - Thanks for your feedback. I've updated the article to make this more clear.

#please-close

[2018-07-18 07:04] raja4014 opened #11896 "What is fast storage?"
The 3rd line of this document is saying "Performance is improved by temporarily copying frequently accessed data to fast storage located close to the application."

Whats the fast storage that was here talking about? Is it Azure blob storage??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c84b7eee-6a44-a59b-a6ac-f9b48

[2018-07-18 07:13] LoganZhao commented on #11826
I have met the same issue. Looks like VMAccess extension will change /etc/ssh/sshd-config "ChallengeResponseAuthentication" to No, which cause the AADLogin failure.

The question is why VMAccess extension will change /etc/ssh/sshd-config "ChallengeResponseAuthentication" to No?  is there any purpose or consideration to do so?

[2018-07-18 07:14] HK-Zhang opened #11897 "stuck by following instruction"
azure cli: 2.0.41
helm version: 2.9.1
create aks as below
`az aks create --resource-group aks-poc --name akshttp  --generate-ssh-keys -c 1`

follow steps in this instruction and get below error when running `helm install stable/wordpress`

E0718 17:58:17.863224   11384 portforward.go:331] an error occurred forwarding 52481 -> 44134: error forwarding port 44134 to pod 36371dd5bd71bc501378839b9b6a0c

[2018-07-18 07:30] rogerbrownmegnajet commented on #10021
Hi @rolyon ,thanks for reporting back.
I am trying to access the report through Azure Active Directory > Security section but I still get the message  "You need a premium account to access this blade" when you click on a user.

[2018-07-18 07:59] gkaleta commented on #11654
We could basically just link to that URL - just as long as we remind customers to set static IP's.

[2018-07-18 08:01] kazshi commented on #11463
@Mike-Ubezzi-MSFT @CarlRabeler  Do you have any ETA for updating? I would like to provide it to my customer. Thanks.

[2018-07-18 08:01] olitomlinson opened #11899 "Beware of enabling Batched Operations and Partitioning on the same queue"
We've recently had a live issue in production by introducing Partitioning on a queue that already had batchOperations enabled by default.

The exception our consumer received was "Batching lock tokens for different partitions is not supported for an entity with partitioning enabled."

Here is the ARM for the queue:
`"apiVersion": "2017-04-01",
            "location": "UK South",
            "scale

[2018-07-18 08:12] tigerdeccan commented on #11538
Hi

Thanks for the information . Yes I am trying to track application logs like
the document says.

thanks
Mumtaz

On Wed, Jul 18, 2018 at 5:52 AM, Sravan Rengarajan <notifications@github.com

[2018-07-18 08:19] genlin commented on #11629
@davmhelm, I have submit a pull request to update the article. Will change the text to:

If you cancel a paid Azure Support plan, you are still billed for the rest of the subscription term. For more information, see Azure support plans.

This issue will be closed when the pull request is merged. Let me know if there is additional question or comment about this matter.

[2018-07-18 08:37] frehnejc opened #11901 "Update to include HTTP to HTTPS redirect and multiple hosts"
I have noticed the FAQ don't explain much about these two features. Please explain any limitations also.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88466307-81b8-1e5b-7f2c-191d8e818071
* Version Independent ID: 08ad49f3-6a57-b925-794a-37215e985aba
* Content: [Frequently asked questions for Azure Application Gateway

[2018-07-18 09:08] KLDane opened #11902 "Physical Azure Backup server question."
What do I need to re-create my physical on-prem Azure Backup Server, what do I need to take a backup of besides the passphrase?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efe1b860-8d24-1742-4f20-c3e75cacbba3
* Version Independent ID: 2ac226c0-df97-f729-fe09-3d51d61b9083
* Content: [Azure Backup FAQ](https://docs.mi

[2018-07-18 09:30] MateuszMMakowski commented on #9053
Hi,

This issue still occures. Cosmos DB is created but without subvnet correlation.

[2018-07-18 09:33] MateuszMMakowski commented on #9053
Hi,

This issue still occures.

[2018-07-18 09:35] chpaadmin opened #11903 "The device name changed and caused problems."
The article is perfect, but in Azure, Device paths in Linux aren't guaranteed to be consistent across restarts. Once the device path is changed, the iscsi device would be invalid.
Any idea to fix that? Feel free to ping me via chpa@microsoft.com (SEE from Azure China Cloud support team). :-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-07-18 09:40] MateuszMMakowski opened #11904 "vnet correlation for Cosmos DB ARM template"
Hi,
I'm facing following issue.
I am able to provision a Cosmos DB account using ARM template but there is no change when I try to
enfore "virtualNetworkRules" in a template.
Remarks:
"isVirtualNetworkFilterEnabled" flag is set to "true",
ID points to existing vNet,
No error returned.

Template:
    {
    "name": "[parameters('databaseName')]",
    "type": "Microsoft.DocumentDB/databaseAccounts",

[2018-07-18 09:45] jdocampo commented on #11819
@SnehaGunda yes, it is what I am looking for, thanks for the response.

I misread term "import", thinking it was from _reading_ data from CosmosDB instead of _inserting/upserting_ records into CosmosDB. Maybe a more clarifying term would be: **bulkinsertasync**, but i'm not a native English speaker so don't take me too seriously.
In the end was my fault for misreading.

Thank you for your time, I

[2018-07-18 09:45] #11819 closed

[2018-07-18 09:56] MedAnd opened #11905 "State Storage Roadmap"
Great works guys on releasing to public preview... wondering when reliable collections & volume drivers will be released... maybe add to FAQ section?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33213fe3-c523-df14-797e-856e1597f31d
* Version Independent ID: b54b22bd-f275-b4eb-de66-31380ac95fab
* Content: [State stora

[2018-07-18 10:17] Dottn opened #11906 "Powershell commands for step 3 and 4, removal"
The commands presented in the removal section, step 3 and 4, use the comparison
`-and keywords -eq $keywords`
where $keywords contains a wildcard. This will return no hits, as -eq will use the wildcard as a literal.
I suggest updating the commands to say
`-and keywords -like $keywords`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2018-07-18 10:22] AnastasiyaSim commented on #11849
Hi guys.
Thank you for speedy responses.
I have an app that is querying to the API services in the subscription too frequently . And I am trying to catch the right API response to understand that I am about to reach reads limit of the API.
Regarding more information to my 3 questions:
**Question 1**
1.	I was monitoring subscription in Azure and noticed that if monitor it from machine in Azure port

[2018-07-18 10:36] dominicbetts commented on #11760
@k2nsloos - from what I can see, the C SDK differs in behavior from the other SDKs and tools. The Visual Studio Code Azure IoT Toolkit, the `az iot hub` CLI, and the Device Explorer tool all urlencode the URI prior to hashing.

Experimenting with this Node.js code:

[code]

It generates a token that you can use successfully whether or not the line `resourceUri = encodeURIComponent(resourceUri);` i

[2018-07-18 10:38] #11897 closed

[2018-07-18 10:52] eaglelim opened #11907 "Offline Registration for Development Kit - EA agreement number"
hi,
for Step 2 of "Get a registration token from the Azure Stack environment" , the script requires an EA agreement number; it is not clear how this should be applied in the case of the Azure Stack Development Kit. Can you help clarify? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a3a708a-4424-0d9c-68f7-20e1

[2018-07-18 10:55] eaglelim commented on #11907
FYI, when I tried getting the registration token without the EA agreement number, the following error was encountered:
Agreement number is null or empty when BillingModel is set to Capacity
At C:\AzureStack-Tools-master\Registration\RegisterWithAzure.psm1:1798 char:5
+     throw $Message
+     ~~~~~~~~~~~~~~
    + CategoryInfo          : OperationStopped: (Agreement numbe...set to Capacity:String)

[2018-07-18 11:16] robfinney opened #11908 "The use of synchronised Accounts from AD"
Hi there, can you please clarify whether this functionality works with accounts that have been synchronised to Azure AD from an on-premise AD via Azure AD Connect? I would like to manage the groups internally on our AD and then synchronise the membership up. So far I have been able to set the object but no users seem to pick up the rights...

---
#### Document Details

⚠ *Do not edit this section.

[2018-07-18 11:17] robfinney commented on #11908
Sorry I should clarify I am trying to use a Synchronised Security group from AD.

[2018-07-18 11:20] eaglelim commented on #11907
I tried using a fake EA agreement number and managed to get a registration token.
However, when trying to register it in Azure, the following error was encountered:
WARNING: 2018-07-18.07-16-56: Creation of Azure resource failed:
CapacityBillingNotAllowed : The registration token is invalid. The 'Capacity' billing is not allowed for the subscription '<subscription no.>'.  It is only available for

[2018-07-18 11:48] trinadhkotturu commented on #11217
@danielsollondon can you own this? @femsulu Daniel, owns the content structure and should be able to help you here.

[2018-07-18 11:58] ahmedhafeez commented on #10205
Dataset is not showing in the PowerBi dataset list.
Dataset was created in the the step which creates Output for Streaming Analytics. This has been checked for login credentials and for the path to My workspace.
Any Suggestion please!

[2018-07-18 11:58] jasonsch69 commented on #11714
Thank. I have followed the document. The behavior is not what is expected. My windows 10 laptop is hybrid joined via AD connect. If I am connected to my corporate lan and then lock my machine, i get the reset passsword link. If I click it, it immediately shows a blank password box and "invalid password" I then have to enter my password "twice" to unlock it again. I never get the redirect to the ss

[2018-07-18 12:17] xavierrouhaud commented on #11764
thanks

[2018-07-18 12:40] LarryBolton opened #11910 "Getting a red ! on the Identifier"
When I enter urn:sharepoint:federation as the Identifier, I'm getting a red exclamation saying "Please enter an identifier which is unique within your organization".  Oddly enough this worked yesterday. For now I'm going to use the SharePoint server's URL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abc120a6-1b98-87

[2018-07-18 12:41] LarryBolton opened #11911 "Azure AD SSO Service URL Error"
I'm getting the following error on the Quick Reference Azure AD SSO Service URL:

Quick Reference
Azure AD Single Sign-On Service URL : %metadata:wsFederationSignInUrl% ERROR!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abc120a6-1b98-874a-1cfb-b43456f4a718
* Version Independent ID: 1008851f-9a43-953c-e6c1-269397268c

[2018-07-18 12:43] LarryBolton opened #11912 "Azure AD SSO Service URL Error"
I'm getting an error for the Azure AD SSO Service URL in the Quick Reference.

Quick Reference
Azure AD Single Sign-On Service URL : %metadata:wsFederationSignInUrl% ERROR!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abc120a6-1b98-874a-1cfb-b43456f4a718
* Version Independent ID: 1008851f-9a43-953c-e6c1-269397268c72

[2018-07-18 12:43] tvdvoorde opened #11913 "AzureFirewallSubnet requires a minimal subnetmask of /25"
After trying a failed deployment earlier done in the portal and now with ARM, it told me that the AzureFirewallSubnet needs a minimal subnetmask of /25. (Mine had /26). The documentation doesn't state this as far as I could find and the error in the portal just states "failed"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-07-18 12:49] LarryBolton commented on #11912
This is an inadvertant repeat of #11911. Please close this one.

[2018-07-18 12:54] MGoedtel commented on #11833
@JDWNL - Thanks for calling out the formatting issue with the "-" symbol, I'll review and correct it.  Regarding the productid of the Installer package, this is going to change on a very frequent basis, so it is something that you as the consumer are going to have to validate and revise in the example script provided in the article.  This is called out in the article.  @vasivara-MSFT I have bugged

[2018-07-18 13:20] jdogg89 opened #11915 "Requesting this in CLI does not work with your instructions"
I try to request this in the CLI and get the following:

➜  ~ az feature register –-namespace Microsoft.Storage –-name DLM
az feature register: error: the following arguments are required: --namespace, --name/-n
usage: az feature register [-h] [--verbose] [--debug]
                           [--output {json,jsonc,table,tsv}]
                           [--query JMESPATH] --namespace

[2018-07-18 13:47] MaximRouiller opened #11916 "Lack of Linux oriented instruction in terms of installing Self-Signed Certificates"
We should be offering a way to do this step on Linux as well. Linux users already have their own tools and some side-effect of our PowerShell commands (like trusting the certificate) aren't necessarily done on the Linux side of the command.

This forces users to exit docs.microsoft.com and try to get instructions from other sources. We should empower them here with the right set of commands.

---

[2018-07-18 14:21] ArvindHarinder1 commented on #11873
Hi Amit, the Azure AD app gallery / enterprise applications is a set of applications that Microsoft has pre-integrated with Azure Active Directory to do single sign / user account provisioning. It is separate from app source. Could you tell me a bit about your scenario? Are you looking to get an application published with Enterprise apps / App source or looking to onboard the application for your

[2018-07-18 14:38] Adam-Smith-MSFT commented on #11887
@apercova Thank you for the valuable feedback,we are investigating the issue.

[2018-07-18 14:38] cpressland opened #11919 "Incorrect key for Ubuntu"
The repos for Ubuntu use Key: `EB3E94ADBE1229CF`, documentation states to install key: `B02C46DF417A0893`. Documentation should be updated with the correct key.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e224df65-311e-166c-caff-918f47ad2f57
* Version Independent ID: 21914f58-1720-39d9-acb7-ed8475cab9d4
* Content: [

[2018-07-18 14:42] Adam-Smith-MSFT commented on #11904
@MateuszMMakowski Could you please provide us with the documentation link you are referring to ? if it's not related to the documentation, please post your question either on StackOverflow or MSDN:https://social.msdn.microsoft.com/Forums/en-US/home?forum=azurecosmosdb

[2018-07-18 14:43] Adam-Smith-MSFT commented on #11905
@Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-18 14:45] Adam-Smith-MSFT commented on #11913
@tvdvoorde Thank you for the valuable feedback,we are investigating the issue.

[2018-07-18 15:07] Adam-Smith-MSFT commented on #11852
@jzuchora87 Azure files backup is still in preview at the moment. There is usually an official announcement that is made when the official release is scheduled similar to the initial announcement here: https://azure.microsoft.com/en-us/blog/introducing-backup-for-azure-file-shares/.

[2018-07-18 15:07] #11852 closed

[2018-07-18 15:08] brownken opened #11920 "Filtering by activityDateTime"
The code worked as shown - however it was pulling all the data (apparently) from our Azure tenant.  I want to upload the data into our SIEM portal and want to pull data in windows of time.  I tried editing the query (eventually using graph explorer to more quickly test) and I could never get a filter to work.  It just returns all the data (10's of thousands of data elements) and not within the tim

[2018-07-18 15:13] Adam-Smith-MSFT commented on #11846
@cloudmelon You could use the backup functionality offered to backup multiple vms as mentioned here: https://docs.microsoft.com/en-us/azure/backup/tutorial-backup-vm-at-scale , it doesn't offer to do it by scale set, but rather choosing each VM needed to be backed up. let me know if this helps.

[2018-07-18 15:16] Adam-Smith-MSFT commented on #11679
@Anshulsv I'd recommend trying the following steps:

Server is not listed under registered servers in the Azure portal
If a server is not listed under Registered servers for a Storage Sync Service:

Log in to the server that you want to register.
Open File Explorer, and then go to the Storage Sync Agent installation directory (the default location is C:\Program Files\Azure\StorageSyncAgent).
Run S

[2018-07-18 15:16] #11679 closed

[2018-07-18 15:21] #6592 closed

[2018-07-18 15:22] Mike-Ubezzi-MSFT commented on #11896
@raja4014 Thanks for your inquiry. In this case, 'fast storage' refers to a Redis Cache instance that has been optimally deployed to support a caching service. The section [Why use Azure Redis Cache](https://docs.microsoft.com/en-in/azure/redis-cache/cache-overview#why-use-azure-redis-cache) discusses the use cases in greater detail.
Redis Cache is deployed as a (PaaS) database service and is leve

[2018-07-18 15:29] Mike-Ubezzi-MSFT commented on #11899
@olitomlinson Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-18 15:30] Mike-Ubezzi-MSFT commented on #11891
@formulahendry Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-18 15:40] CarlRabeler commented on #11463
@kazshi thanks for pointing out this typo - fixing now (I have been on vacation - sorry for the delay).

https://github.com/MicrosoftDocs/azure-docs-pr/pull/46907

[2018-07-18 15:41] cloudmelon commented on #11846
Hi @Adam-Smith-MSFT  thanks for your answer. Actually it is possible to backup single or multiple VMs by using Azure backup ( selecting multiple VM as backup item ) ,  but VMSS is a VM pool ( which is recognized as VirtualMachineScaleSets resource type ( different from Virtual machine ), no I didn't find any way to backup it by using backup service ( even though I was trying to connect a single in

[2018-07-18 15:54] Adam-Smith-MSFT commented on #11915
@jdogg89 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-18 15:54] #11830 closed

[2018-07-18 15:55] #11829 closed

[2018-07-18 16:04] raviinroorkee-7 opened #11922 "IoTEdge commands get hangs"
Hi ,

I have followed -
https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux-arm
to setup iotedge on ARM32 (armv7-l) based ARTIK board. I was able to installed moby-engine and moby-cli as mentioned.

root@artik:~ $ sudo systemctl status iotedge
returns active for iotedge.

root@artik:~ $ journalctl -u iotedge --no-pager --no-full
shows " A hsm error " and keep on showing t

[2018-07-18 16:05] jimbobbennett opened #11923 "Default iterations not described in custom vision docs"
In the docs around custom vision, nowhere does it say that at least one iteration MUST be marked as default, it only says that the default flag can be used to control the iteration in use (https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/use-prediction-api#get-the-url-and-prediction-key).

The docs somewhere should state that one iteration MUST be default or you will

[2018-07-18 16:10] Adam-Smith-MSFT commented on #11846
Hi Melony, :) I don't think the option for VMSS is supported yet, I'd definitely recommend leaving feedback on here:  https://feedback.azure.com/forums/258995-azure-backup-and-scdpm , all topics are viewed directly by the service team, and they'd provide you with 100% accurate answer for this particular feature :)

[2018-07-18 16:13] #5968 closed

[2018-07-18 16:13] aaubry commented on #7094
Actually I found it. You pass the exception handlers to the constructor of CommunicationClientFactoryBase.

[2018-07-18 16:13] JeffMushmo commented on #7094
Yep. Found the same thing a while ago. Just didn't post back. Sorry.

[2018-07-18 16:13] #7094 closed

[2018-07-18 16:14] Adam-Smith-MSFT commented on #11902
@KLDane Azure backup server is backed up to the cloud already, I'd recommend checking the following resources:
https://azure.microsoft.com/en-us/solutions/architecture/backup-archive-on-premises-applications/
https://azure.microsoft.com/en-us/blog/announcing-microsoft-azure-backup-server/ (second and third video)

And if you are trying to take a backup of the backup server, you can try the below r

[2018-07-18 16:15] #11728 closed

[2018-07-18 16:18] Thraka commented on #11547
@femsulu ping

[2018-07-18 16:18] MicahMcKittrick-MSFT commented on #11889
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-18 16:19] MicahMcKittrick-MSFT commented on #11893
Thanks for the question. We are investigating and will update you shortly.

[2018-07-18 16:20] MicahMcKittrick-MSFT commented on #11897
Thanks for reaching out. If you have further issues please just let us know.

[2018-07-18 16:21] MicahMcKittrick-MSFT commented on #11903
Thanks for the feedback. We are investigating and will update you shortly.

[2018-07-18 16:41] chicagoclone opened #11924 "Search spelled wrong in title"
Search spelled wrong in title

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e990abaf-1e21-6de6-c6e8-fecf49e6cf23
* Version Independent ID: 55fdf842-baf2-7c13-7332-76907a1cc0ca
* Content: [Rebuild an Azure Search index or refresh searchable content](https://docs.microsoft.com/en-us/azure/search/search-howto-large-index

[2018-07-18 16:41] rwike77 commented on #11905
@MedAnd  We're working on adding support for reliable collections and volume drivers, but don't have an estimate right now for when it will be ready.  Thanks for the question.  #please-close

[2018-07-18 16:45] MicahMcKittrick-MSFT commented on #11887
Thanks for reaching out @apercova. I had a similar ask a couple months back

https://social.msdn.microsoft.com/Forums/azure/en-US/dd5b71b7-9cb2-4ded-9bb8-711ffde909b7/question-about-azure-functions-v2-plans-and-v1-support?forum=AzureFunctions

We don't have any concrete dates we can share on when V2 will go GA. From what I have heard we do plan to have it go GA in 2018. But again, nothing concrete

[2018-07-18 16:45] #11887 closed

[2018-07-18 16:56] cynthn commented on #11826
@danielsollondon is this an issue with the VMAccess extension?

[2018-07-18 16:56] HeidiSteen commented on #11924
LOL -- not sure how that made it past the validation check!  Thanks for letting me know, I'm fixing it right now.

#please-close

[2018-07-18 16:58] rwike77 commented on #10891
@artisticcheese Hi, from a documentation perspective I think this is resolved.  There is no PowerShell support now (and I don't have an estimate right now of when there will be).  When we have PowerShell support, we'll document it the same as any other new feature. Feel free to open an issue with the engineering team at https://aka.ms/sfmeshissues if you want to track this.

[2018-07-18 16:59] Minewiskan commented on #11605
@pmdci Thanks for your suggestion. However, what you are suggesting is a level of detail not pertinent to this step. We are going to leave this as is for now, but will consider your suggestion for any future updates or other articles that include this type of info.
#please-close

[2018-07-18 17:00] jason-j-MSFT commented on #8142
@xmark I'm confident the product team is attentive to the feedback in Azure User Voice portal.

How about we also start a discussion in MSDN? Take a look here for the Data Factory forum:
https://social.msdn.microsoft.com/Forums/azure/en-US/6034ba60-d3ee-491b-b999-20d233bbe5b4/web-activity-timeout-property?forum=AzureDataFactory

For everyone interested in this feature, let's discuss it in the foru

[2018-07-18 17:00] PiersCasimir opened #11925 "Great"
A perfect introduction.
And it works!
I'd love to see more by the same author(s) - please...
Piers

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdd7dec4-a353-0ad5-2de3-1300ade6ad87
* Version Independent ID: 3f024fa1-7c94-a0a1-f72b-df98b33540a5
* Content: [A simple experiment in Machine Learning Studio](https://docs.m

[2018-07-18 17:04] mganeshphani opened #11926 "specify the cost information also"
To make a easier reference, can you make sure the cost information is also specified … hope this can be dynamic and live

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94bc3262-54c4-6c07-694b-6f044886273e
* Version Independent ID: d9cf6f86-22e0-384b-70bb-374b997b7c77
* Content: [Azure Linux VM sizes - Compute optimized

[2018-07-18 17:08] #11833 closed

[2018-07-18 17:11] #11605 closed

[2018-07-18 17:12] joymon opened #11928 "When we use Azure Blob Storage as data source what file formats are supported?"
Could you please document what file formats are supported when we use blob as data source. Especially looking for parquet support. If there is another page having this information, please redirect to there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea45d88b-212b-51ae-b902-6efd5873f6c5
* Version Independent ID: 6f8

[2018-07-18 17:13] Ang3lFir3 commented on #11876
@Mike-Ubezzi-MSFT awesome thanks ... I got asked by someone what it was and couldn't find any docs ( I just read the code but that's not everyone's cup of <enter drink preference here>) ... this should be helpful to others as well

[2018-07-18 17:13] #11674 closed

[2018-07-18 17:15] giovannifl opened #11929 "SQL Server (PaaS) Failover Groups support"
Hello,
This article doesn't mention any limitation about Failover Groups and Service Endpoints but when I've tried to create a Failover Groups between two SQL Servers (PaaS), it has failed with the following error:
"code: Internal Server Error; message: An unexpected error occurred while processing the request"

The two SQL Servers (PaaS) have been configured as follows:

SQL_SRV01 was hosted in t

[2018-07-18 17:21] Mike-Ubezzi-MSFT commented on #11922
@raviinroorkee-7 Thanks for the feedback. We are actively investigating and will get back to you soon but, in the meantime can you take a look this document: [Common issues and resolutions for Azure IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot)

[2018-07-18 17:29] davidmu1 commented on #11324
@spottedmahn Can you be more specific about what the issue is against the B2C overview article? I understand the repo problem, but I do not see where that problem occurs in this file. If this is a general comment towards all files in the repo, can you open issues specific to those articles and then close this issue? Thanks

[2018-07-18 17:32] CelesteDG commented on #11342
Hello @mdomsch - My sincerest apologies for just now getting back to you. I had started a thread with our designers, localization team, branding, etc once I saw your question, but there is still ongoing discussion on our end to work through getting localized images. I'll let you know once there's a resolution. Thank you for your patience.

[2018-07-18 17:42] spottedmahn commented on #11324
it's a pro-active repo issue...

[2018-07-18 17:51] kgremban commented on #11807
@AnirvanK as an amd64 Linux system, the only difference between CentOS and Ubuntu should be the initial step where you install the repository configuration. Have you tried replacing the URL of the curl command with a path for CentOS? You can browse to https://packages.microsoft.com/config to see the available version paths.

If this works for you, I can add it to the docs. If not, we'll need to do

[2018-07-18 17:52] TravisCragg-MSFT commented on #11901
@frehnejc Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-18 17:52] Mike-Ubezzi-MSFT commented on #11888
@rhlgupta1383 Is there a specific section of this documentation is not clear. I am including additional documentation in regards to MPP: [SQL Server Blog post](https://cloudblogs.microsoft.com/sqlserver/2014/07/30/transitioning-from-smp-to-mpp-the-why-and-the-how/)
And MPP versus Hadoop: [Distributed Systems Architecture](https://0x0fff.com/hadoop-vs-mpp/)

Regards,
Mike

[2018-07-18 17:53] TravisCragg-MSFT commented on #11894
@frehnejc Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-18 17:54] valentijnscholten commented on #11822
Thanks. I did figure that out, but thought it would be good to document it here.
But it looks like there's another page already describing it, but it's located a in very different location so it's not obvious it's there or how to get there :)

[2018-07-18 17:55] kgremban commented on #11891
@ChrisGMsft can you take a look at this issue and confirm whether the target-condition refers to desired properties as written, or should be updated to reported properties?

[2018-07-18 17:58] mdomsch commented on #11342
Thank you.  For now you can see our use of the "Sign in with Microsoft"
button (we had to adjust slightly for size) at https://quest-on-demand.com/.
While this page is localized into 10 languages, we do not currently
localize the Sign in with Microsoft button.

On Wed, Jul 18, 2018 at 12:33 PM Celeste de Guzman <notifications@github.com>
wrote:

[2018-07-18 17:59] Roblarson opened #11931 "Where is the script to update modules programmatically?"
Need to provide a script that updates the modules programmatically or an option to the creation of a new account that automatically triggers an update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55d92628-d657-759d-d301-06029cd61138
* Version Independent ID: ca381b85-2be5-24af-be18-00c13a7e53df
* Content: [Update Az

[2018-07-18 18:06] Mike-Ubezzi-MSFT commented on #9053
Please use the [Azure Cosmos DB User Voice](https://feedback.azure.com/forums/263030-azure-cosmos-db) to communicate functionality and feature requests. If there is an issue with the documentation, please continue to use this exchange to detail and communicate those issues.

[2018-07-18 18:06] polarapfel opened #11932 "Document AKS + GlusterFS + Heketi for shared persistant storage"
Hey there,

for shared persistent storage across nodes/pods, Azure Files does often not have enough IO throughput. Using software RAID on the host VMs on multiple attached disks creating one RAID volume, then exposing those high throughput volumes across the cluster using GlusterFS, Kubernetes can provide persistent storage via Heketi.

It would be great if the above was tested and documented in a

[2018-07-18 18:07] letmaik opened #11933 "TOP missing in documentation"
https://azure.microsoft.com/en-us/blog/documentdb-paging-support-with-top-and-more-query-improvements/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2d5e809-bfb2-4d56-559f-c79be337b14e
* Version Independent ID: 085bc019-49d8-8a38-ec35-c1fa53d8d20d
* Content: [Azure Cosmos DB: SQL syntax query reference](https://docs.

[2018-07-18 18:12] iainfoulds commented on #11857
These doc updates have published and are live now. As always, open for additional feedback and PRs for changes.

@MicahMcKittrick-MSFT #please-close

[2018-07-18 18:12] jkindwall opened #11935 "What about non-HTTP triggered Durable Function clients?"
All this is helpful if you are using an HTTP triggered function as the client for your overall Durable Function.  But what if the client uses a different type of trigger for which Traffic Manager is not applicable?  How do I set up a Queue-triggered client in two regions but configure it so that only the primary region consumes the queue unless there is a failure event and I need to enable the app

[2018-07-18 18:12] jlian commented on #11156
@eifinger, I added a modified version of your example into the doc via https://github.com/MicrosoftDocs/azure-docs/commit/f1b1e0c72273c9e29b4197529349678227d7f943

[2018-07-18 18:19] CKeene78 opened #11936 "Redirect URI?"
Both 1.5 and 1.7 have us enter URIs, but which is the Redirect URI?

3.1 states, "The returnURL is the Redirect Uri that you entered in the portal." However, Steps 1 and 2 do not direct on which is the Redirect URI. None of the URIs that I enter work and instead get a "TypeError: Invalid value for redirectUrl. The URL must be valid and be https://" error. Output of the "Passport.Use" creation func

[2018-07-18 18:25] eifinger commented on #11156
@jlian Thank you!
I will give this a try next week.

[2018-07-18 18:32] Mike-Ubezzi-MSFT commented on #11929
@giovannifl Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-18 18:34] MicahMcKittrick-MSFT commented on #11738
@kyyung any update on this?

[2018-07-18 18:36] MicahMcKittrick-MSFT commented on #11877
@hukun01 thanks for the update! Glad to hear you got it resolved :)

[2018-07-18 18:36] #11877 closed

[2018-07-18 18:43] jeevansd commented on #11912
@LarryBolton Yes, we are aware of this issue and fixing it. But by that time you can able to format that URL in this way
https://login.microsoftonline.com/<YourTenantID>/wsfed
You can get your tenant ID in the Azure Portal by going to Azure Active Directory ->Properties -> DirectoryID

[2018-07-18 18:48] #11857 closed

[2018-07-18 18:50] MicahMcKittrick-MSFT commented on #11494
This same doc expalins how to do it via the portal

![image](https://user-images.githubusercontent.com/32313503/42901559-b9640c86-8a80-11e8-8c37-3ce761e7a8ad.png)

I am working on a repo but at this point in time I do not have enough cores avaialble in my subscription to create such a large VM. So I need to fix that issue first.

@raiye do you have enough cores to repo this in the meantime?

[2018-07-18 18:57] rolyon commented on #10021
Hi @rogerbrownmegnajet
A couple of questions for you.
- On the Azure Active Directory blade, at the top under the directory name, what edition is listed? Does it say "Azure AD Free"?
- What admin role are you signed in as? Are you using Global Administrator?
- Do you have Identity Protection installed?

thanks

[2018-07-18 18:59] cloudmelon commented on #11846
Hi @Adam-Smith-MSFT thank you very much for the link. I will address my request to them. Have a great day and thanks for your great assistance :)

[2018-07-18 19:05] josere commented on #11648
I tried the settings:

      <Section Name="ResourceMonitorService">
        <Parameter Name="HostResourceCheck" Value="1" />
        <Parameter Name="ResourceSendingInterval" Value="1" />
        <Parameter Name="SendLoadReportInterval" Value="60" />
      </Section>

The behavior seems the same. Below are the metrics in the Explorer before my test. Last reading shown is at time 18:46:18 GMT.

![

[2018-07-18 19:09] Mike-Ubezzi-MSFT commented on #11904
@MateuszMMakowski I have raised this issue internally and there is a request for your Cosmo DB  instance name. Also, what makes you believe the rule is not being enforced? This information will be very helpful to investigate further.

[2018-07-18 19:15] MicahMcKittrick-MSFT commented on #11538
@tigerdeccan can you check the live metrics portion of app insights? I tested this locally and was able to get responses then after I published to the portal I looked at the live metrics and was seeing information streaming from my cluster

[2018-07-18 19:20] jgriff500 opened #11937 "Capturing User ID Code"
The Capturing User ID code works if you place it as a code Snippet on a page.  However, if you try to insert this into the master page, it is a bit more challenging.  You will receive an error that the file should be saved as an aspx.

this worked for me - -change the first two lines:
&lt;!--SPM:&lt;SharePoint:ScriptLink ID="ScriptLink1" name="SP.js" runat="server" localizable="false" loadafterui=

[2018-07-18 19:20] Yonathan159 opened #11938 "Connectivity with iaas Server privite"
Hello, I have the next escenary ,

1 Virtual Machine only with privite ip 10.10.1.1
1 Service plan in mode private.
1 App Service hosted in Private Service Plan.

The issue it's that for connection from VM to app Service by port 80 and 443 it's ok but the connection from app Service to VM don't connect is posible this connectivity , I'm Searching in site 's  microsoft and understand that is posibl

[2018-07-18 19:20] MicahMcKittrick-MSFT commented on #11926
Thanks for the feedback! I have assigned to the content author to review and update the doc appropriately.

[2018-07-18 19:22] Herpmyderp opened #11939 ""Cloud capabilities" link is inaccurate"
The link in the bottom table for "Functionalities provided by the modules" has an incorrect link for the "Cloud capabilities" row.  It currently links to the "Template validator" page (https://docs.microsoft.com/en-us/azure/azure-stack/user/azure-stack-validate-templates).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-07-18 19:24] #11661 closed

[2018-07-18 19:37] MicahMcKittrick-MSFT commented on #11932
Thanks for the feedback! I have assigned this to the content author to review and see where we can update the docs

[2018-07-18 19:38] MicahMcKittrick-MSFT commented on #11935
Thanks for the question. We are investigating and will update you shortly.

[2018-07-18 19:44] jeevansd commented on #11910
@LarryBolton Make sure that you are not using the same identifier for any other app in your tenant.  You can do this check using PowerShell something like this
Import-Module AzureAD
Connect-AzureAD
Get-AzureADApplication -All $true | select DisplayName, IdentifierUris | where IdentifierUris -Contains "urn:sharepoint:federation"

[2018-07-18 19:47] vbucchare commented on #10782
I am also interested by this. Using the interface is very time consuming and hard to automate.

[2018-07-18 19:48] SaurabhSharma-MSFT commented on #11890
@algattik Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-18 19:48] cphares opened #11940 "typo??"
In the example where it says 'GRANT CONNECT ON DATABASE testdb TO &lt;db_user&gt;;'  should it not say: 'GRANT CONNECT ON DATABASE &lt;newdb&gt; TO &lt;db_user&gt;;'  ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adbbd4e3-40c7-a89d-2e8a-dd9dbd028836
* Version Independent ID: 241f0f17-00fd-cde3-2070-e2a8f000806a
* Co

[2018-07-18 19:53] femsulu commented on #11931
@Roblarson Thanks for the valuable feedback. This is a known issue and there's work underway to improve the "module update" experience. Tracked [here](https://feedback.azure.com/forums/246290-automation/suggestions/6634825-enable-azureresourcemanager-module-in-azure-automa).
You can also share direct feedback or up-vote this specific feedback from the link shared above.

[2018-07-18 19:53] MouthOfMadness commented on #9797
I'm very successful in getting the token for this uri and registering an application:
https://graph.windows.net/$tenant/$($resource)?api-version=1.6

Unfortunately, this is not a valid token for the beta website.  https://graph.microsoft.com/beta/$tenant/$($resource)

If I use the beta website to login, I get the exception:
Exception calling "AcquireToken" with "4" argument(s): "authority_not_in_v

[2018-07-18 19:53] femsulu commented on #11931
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-18 19:54] #11931 closed

[2018-07-18 19:55] SaurabhSharma-MSFT commented on #11920
@brownken Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-18 19:56] #11873 closed

[2018-07-18 19:57] MohitGargMSFT commented on #11863
@thuansoldier We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-07-18 19:57] #11863 closed

[2018-07-18 19:58] thuansoldier commented on #11863
@MohitGargMSFT My question would not to test the identity endpoint. I'd like to know if the endpoint is fixed as a constant value.

[2018-07-18 20:00] oridayne commented on #11883
Hello, everyone, I did manage to import the files, I found the right [documentation](https://docs.microsoft.com/en-us/azure/machine-learning/desktop-workbench/model-management-cli-reference#manifest-commands) page for it.
I just had to include a -d <module> and it seems to import correctly. There are new bugs unfortunately, but I think this issue has been solved.

[2018-07-18 20:00] MohitGargMSFT commented on #11886
@martyharris Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-18 20:01] MohitGargMSFT commented on #11906
@Dottn Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-18 20:03] YutongTie-MSFT commented on #11925
@PiersCasimir Glad to know we can help you with our document. We will work hard to be better. Thanks.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-18 20:03] #11925 closed

[2018-07-18 20:07] SaschaSeipp commented on #11823
Thanks for adding the note, I'm sure that helps others - and hopefully it can be removed soon when the limitation is gone.. :-)

[2018-07-18 20:07] #11823 closed

[2018-07-18 20:07] MicahMcKittrick-MSFT commented on #11889
@lachie83 could you help on this one? I am trying to run through the doc but I am actually getting a different error:

[code]

[2018-07-18 20:09] MicahMcKittrick-MSFT commented on #11893
@hukun01 I am not aware of a way to do this without specifying the secret version. Can you explain a bit more about why exposing the version would be an issue?

[2018-07-18 20:10] MicahMcKittrick-MSFT commented on #11903
does the solution option in this doc not help?

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/troubleshoot-device-names-problems#solution

[2018-07-18 20:13] Mike-Ubezzi-MSFT commented on #11933
@letmaik Thanks for the feedback. Have you had a chance to review this documentation pertaining to the [TOP operator](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sql-query#TopKeyword)?
I can see that this information is not available in the [Azure Cosmos DB SQL syntax reference](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sql-query-reference) documentation.

I will forwar

[2018-07-18 20:14] MicahMcKittrick-MSFT commented on #11935
@jkindwall it should not matter what type of trigger you are using. In either instance you should be able to use traffic manager or a load balancer to dish out traffic between the two. And the idea behind a load balancer/ traffic manager is if one of the instances it is sending traffic to goes down it will stop sending traffic that way and only direct it to the healthy instance.

What type of trig

[2018-07-18 20:14] MohitGargMSFT commented on #11911
@LarryBolton Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-18 20:15] YutongTie-MSFT commented on #11923
@jimbobbennett Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@anrothMSFT Hi, this is a document enhancement issue, can you please check it and update the document as necessary? Thanks a lot!

[2018-07-18 20:15] Yonathan159 opened #11942 "Connectivity with private machine"
Hello, I have the next escenary ,

1 Virtual Machine only with privite ip 10.10.1.1
1 Service plan in mode private.
1 App Service hosted in Private Service Plan.

The issue it's that for connection from VM to app Service by port 80 and 443 it's ok but the connection from app Service to VM don't connect is posible this connectivity , I'm Searching in site 's  microsoft and understand that is posibl

[2018-07-18 20:18] jeevansd commented on #11910
I have tested this in my lab and it is working as expected. Please see the attached image.
![image](https://user-images.githubusercontent.com/15001780/42905470-02fdfc06-8a8d-11e8-8ef3-fcc6a2f76f41.png)

So make sure that you dont have duplicate Identifier value for the app.

[2018-07-18 20:18] jackman0200 opened #11943 "pbx file to big"
I followed this process but got this error - Message: File upload has timed out. Reduce the file size and try again.

The model is 2.5G. When I try a really small model it works fine. I'm on the B1 pricing tier. Are there any limits on that tier? Or how can I upload larger PBX files to Azure Analysis Services?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2018-07-18 20:18] jeevansd commented on #11910
#please-close

[2018-07-18 20:21] panchagnula commented on #10782
We released the UI experience using Azure portal for App services today. Please check it out.

[2018-07-18 20:22] priyamohanram commented on #11920
Thank you for the feedback - I will check with the product team about this issue.

#in-progress

[2018-07-18 20:22] SnehaGunda commented on #11571
#please-close

[2018-07-18 20:44] Adam-Smith-MSFT commented on #11938
@Yonathan159  Could you provide us with the documentation link you were referring to ?

[2018-07-18 20:44] Lumute opened #11945 "Instance size flexibility?"
I just got the July Azure Newsletter announcing "Instance size flexibility for Azure Reserved VM Instances generally available", the text on that point does not really explain what that means and the "Learn More" link points here but I do not see anything in this doc about "Size Flexibility"...

Could you please update the documentation explaining what exactly "Size Flexibility" means? will a rese

[2018-07-18 20:46] Adam-Smith-MSFT commented on #11919
@cpressland Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-18 20:46] Adam-Smith-MSFT commented on #11905
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-18 20:46] #11905 closed

[2018-07-18 20:46] MarileeTurscak-MSFT commented on #11906
@Dottn Thanks for letting us know. The author has approved the pull request and will merge the change in a few days along with another update. https://github.com/MicrosoftDocs/azure-docs/pull/11941

[2018-07-18 20:46] #11906 closed

[2018-07-18 20:47] YutongTie-MSFT commented on #11883
@oridayne Glad to here your issue solved. If you have any other issues according to other documents, please feel free to comment in that document. Thanks. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-18 20:47] #11883 closed

[2018-07-18 20:48] MohitGargMSFT commented on #11908
@robfinney I would request you to open ,a new MSDN forum post to get assistance on your scenario. Community will help address your query. Please refer to below link to MSDN forum to ask new question - https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required

Please refer the open MSDN thread here and I will make user that you a

[2018-07-18 20:48] jeevansd commented on #11911
@chetansriv Please take this in your queue.

[2018-07-18 20:48] jeevansd commented on #11911
@v-viinde Please fix this.

[2018-07-18 20:49] MarileeTurscak-MSFT commented on #11811
Hopefully this answers your question.

[2018-07-18 20:49] #11811 closed

[2018-07-18 20:52] Adam-Smith-MSFT commented on #10090
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-18 20:52] #10090 closed

[2018-07-18 20:52] Adam-Smith-MSFT commented on #11101
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-18 20:52] #11101 closed

[2018-07-18 20:52] MohitGargMSFT commented on #11936
@CKeene78 Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-18 20:53] mprogers opened #11946 "Confusing Wording"
In this discussion "Configure the web app to read data from your IoT hub", they say to get the Azure.IoT.IoTHub.Connectionstring from the iothub-explorer.

I'm not quite sure what they mean by that, not being well-versed in the use of iothub-explorer. Could you please elaborate on that in the docs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2018-07-18 20:53] Adam-Smith-MSFT commented on #11571
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-18 20:53] #11571 closed

[2018-07-18 20:53] Adam-Smith-MSFT commented on #11802
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-18 20:53] #11802 closed

[2018-07-18 20:53] Mike-Ubezzi-MSFT commented on #11938
@Yonathan159 Are you working from a specific document or are you following a tutorial? If not, or do not have any documentation related issues to present, the best option for reaching a resolution is to post out on the MSDN and Stack Overflow forums:

[MSDN App Service - Web Apps](https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowsazurewebsitespreview)
[Stack Overflow](https://stacko

[2018-07-18 20:59] YutongTie-MSFT commented on #11540
@tsahi  @stenoid Hi guys, let me assign the author to give us more specific explanation and more details.

@nstulasi Hi, can you please explain more details for our customers? And also can you please also update the document for more information to make the document more understandable? Thanks very much for your help.

[2018-07-18 20:59] Mike-Ubezzi-MSFT commented on #11942
@Yonathan159 We will close this as a duplicate to #11938

[2018-07-18 20:59] #11942 closed

[2018-07-18 21:00] YutongTie-MSFT commented on #11671
@jdobrzen We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-18 21:00] #11671 closed

[2018-07-18 21:01] YutongTie-MSFT commented on #11677
@sovanny We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-18 21:01] #11677 closed

[2018-07-18 21:01] tigerdeccan commented on #11538
Thanks . It is streaming logs after changing intrumentation key in
appsetttings.

On Wed, Jul 18, 2018 at 8:15 PM, Micah <notifications@github.com> wrote:

[2018-07-18 21:03] MicahMcKittrick-MSFT commented on #11538
Thanks for the update! Glad to hear it is working now :) If you have any other issues just let us know :)

[2018-07-18 21:03] #11538 closed

[2018-07-18 21:11] nyenggyang opened #11947 "Assistance Requested for "ForbiddenError""
Hello,

After I ran this script (i.e., the HPC Pack IaaS deployment script), I encountered an error so-called ForbiddenError. In particular, the message associated with this error is as follows: "ForbiddenError: The server failed to authenticate the request. Verify that the certificate is valid and is associated with this subscription."

What certificate is this error message advising me to verify

[2018-07-18 21:16] SnehaGunda commented on #7349
@srsiva , @tamram I updated this doc couple of week back to fix the link.

#please-close

[2018-07-18 21:20] iainfoulds commented on #11932
Thanks for the suggestion, @polarapfel. Depending on the scenario and workload, Azure Files is still a viable choice for customers. I'll raise this to the product team and see if this is a solution they'd like to showcase and provide documentation for. If so, I'll create a backlog work item and schedule this for a future doc release.

@MicahMcKittrick-MSFT For now, #please-close

[2018-07-18 21:41] MarileeTurscak-MSFT commented on #11886
I submitted a pull request to update this document. Waiting on validation to pass.

[2018-07-18 21:42] hannesne opened #11949 "Using out parameters in async functions"
Hi, currently you get a compiler error when trying to use a parameter marked as out, which is common for output bindings, in an async function. Depending on the binding provider, the workaround for this is to use a collector or client object to manually write changes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a45

[2018-07-18 21:44] jluk commented on #11693
Thanks @erichexter, @mmacy could we fix that error message? It should indeed be OsVersionNotSupported.

[2018-07-18 21:44] hukun01 commented on #11893
By not specifying the cert version, we can break the dependency between the cert and the cert version, because we would like to enable auto-roll for this cert. Currently whenever we renew the cert, we get a new version.

[2018-07-18 21:49] rmcmurray commented on #10487
Thanks - #in-progress

[2018-07-18 21:49] bertique commented on #11450
Same here, just trying to run the sample code in a container, I get this exception.

[2018-07-18 21:52] mmacy commented on #11693
@jluk Affirmative--work item created yesterday, hoping to get on it this afternoon.

[2018-07-18 21:57] ncacace opened #11950 "List-Locations"
Trying to use "az appservice list-locations" which should be really basic
There are parameters listed but without an actual example line of code using those parameters I can't make the connection of the actual syntax as everything I've tried so far returns an error.

1. List the command
2. List the parameters
3. Display an example of using these with the expected output

eg: https://www.w3schools.

[2018-07-18 21:57] mestew commented on #11835
Hi @porrascarlos802018 !
Can you clarify the tooling you are referring to so I can make sure it goes into the next doc change? Is it updating the PowerShell modules, updating the CLI, or something else that you noticed?

[2018-07-18 21:58] MohitGargMSFT commented on #11936
@CKeene78 Please note that there is step missing in 1.7 where you go to Settings -> ReplyURLs page for your AAD registered application, and set it to http://localhost:3000/auth/openid/return and save it. Then you will configure the same URL as retrunURL in config.cs as part of Step 3.1.

I will work on making required changes in document. Thanks.

[2018-07-18 22:01] tdykstra commented on #11949
@hannesne Thanks for pointing out that out!  We mention it in some places in the documentation but didn't have it here in the section on Async usage.  I've added some text to that section, and it should be live tomorrow.

[2018-07-18 22:02] femsulu commented on #11946
@mprogers Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-18 22:03] TravisCragg-MSFT commented on #11907
@eaglelim the[ documentation to register ASDK is located Here](https://docs.microsoft.com/en-us/azure/azure-stack/asdk/asdk-register#register-azure-stack-with-azure), this document is meant for a full Azure Stack Installation.

I am currently checking to see if an offline registration for ASDK is possible.

[2018-07-18 22:04] MarileeTurscak-MSFT commented on #11886
@martyharris I just merged the changes. Thanks for your feedback! https://github.com/MicrosoftDocs/azure-docs-pr/pull/46953#issuecomment-406085070

[2018-07-18 22:04] #11886 closed

[2018-07-18 22:05] TravisCragg-MSFT commented on #11939
@Herpmyderp Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-18 22:07] femsulu commented on #11945
@Lumute Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-18 22:18] eugen-nw opened #11951 "It'd been really helpful if there were instructions on how to authorize to make the https calls."
It'd been a time & effort saver.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fabf8df7-756f-2d7a-1d7f-068091d5f4f8
* Version Independent ID: 9776fd49-7f2f-8f0c-69be-638fa0d3dd6e
* Content: [Query for cluster events using the EventStore APIs in Azure Service Fabric clusters](https://docs.microsoft.com/en-us/azure/serv

[2018-07-18 22:24] RichiCoder1 opened #11952 "Setting validateauthority advice should be more explicit"
I ran into validateauthority not understanding that what need to happen was passing it as `validateAuthority: false` to UserAgentApplication as property in the extra optional options. I would clarify this, or add a code example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89933f39-e8c4-32fd-736a-9f258cbcdaba
* Versi

[2018-07-18 22:32] MicahMcKittrick-MSFT commented on #11893
@hukun01 it appears you have to specify the certificate version:

https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-faq#why-do-i-have-to-specify-the-certificate-version-when-i-use-key-vault

[2018-07-18 22:36] v-geberr commented on #5875
@DavidCGarcia89 The [batch tutorial](https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/luis-tutorial-batch-testing) has been changed to work in series with the other tutorials and to include the entities of the tutorial app. Please read it and post your feedback.

[2018-07-18 22:37] femsulu commented on #11824
@alohaninja As far as I know, there are no immediate plans for App services to support sending Diagnostic data directly to Application Insights but this is very valuable feedback for the App services engineering team. If this is a scenario that you would very much like to have, Please share direct feedback via the [this link](https://feedback.azure.com/forums/169385-web-apps).

[2018-07-18 22:39] femsulu commented on #11824
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-18 22:39] #11824 closed

[2018-07-18 22:49] Adam-Smith-MSFT commented on #11943
@Thank you for the valuable feedback,we are investigating the issue.

[2018-07-18 23:01] xmark commented on #8142
thanks so much Jason, thats great I have added my 2 cents.

[2018-07-18 23:01] hukun01 commented on #11893
I see. Thank you for the link! You may close this issue.

[2018-07-18 23:02] MicahMcKittrick-MSFT commented on #11494
@nitinkhandelwal26 I have synced with @raiye offline and we both believe this is simply an issue with the template you are using. At this point there is not much else we can do as per the scope of these GitHub comments.

If you would like, you can email me at AzCommunity@Microsoft.com and I can enable a free support request for you. That way you can work over the phone and screen share with an eng

[2018-07-18 23:02] #11494 closed

[2018-07-18 23:03] #11936 closed

[2018-07-18 23:06] vasivara-MSFT commented on #11943
@jackman0200 The requests will be timing out after 3 minutes. If your files are large or you are on a slow network, they may take longer to load. You could try removing most of the data to make the file smaller and hopefully quicker. Then you can always process the data back in after the model has been imported. We are looking at ways to extend the timeout. This is currently only supported on Stan

[2018-07-18 23:19] MohitGargMSFT commented on #11952
@RichiCoder1 Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-18 23:21] iainfoulds commented on #11889
@MicahMcKittrick-MSFT Looks like you may need to clean up your kubectl config as there's duplicate environments set. Brute force is to remove your existing kubectl config (`rm ~/.kube/config`) and then get the credentials again (`az aks get-credentials`).

[2018-07-18 23:29] hukun01 commented on #11893
So we realized that this doesn't work for us, and we are wondering how to make it work.
https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-faq#i-do-not-see-an-option-for-users-to-pass-in-certificates-as-base64-strings-most-other-resource-providers-have-this-option

[2018-07-18 23:34] TravisCragg-MSFT commented on #11913
@tvdvoorde You are correct, you must have a subnet called "AzureFirewallSubnet" and that subnet must have a mask of at least /25. This is not present in the documentation.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-18 23:34] MohitGargMSFT commented on #11952
@RichiCoder1 I have assigned the issue to the content author to investigate and update as appropriate.

[2018-07-18 23:34] MicahMcKittrick-MSFT commented on #11947
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-18 23:36] MicahMcKittrick-MSFT commented on #11951
Thanks @eugen-nw! Glad it helped you out :)

Great work on the doc @dkkapur!

[2018-07-18 23:42] #11932 closed

[2018-07-18 23:43] eaglelim commented on #11907
Noted ... else do highlight any suggestions for disconnected ASDK regarding registration which is a pre-requisite for Marketplace download. Thanks.

On 19 Jul 2018, at 6:04 AM, TravisCragg-MSFT <notifications@github.com<mailto:notifications@github.com>> wrote:

@eaglelim<https://github.com/eaglelim> the documentation to register ASDK is located Here<https://docs.microsoft.com/en-us/azure/azure-sta

[2018-07-18 23:44] MicahMcKittrick-MSFT commented on #11889
Thanks @iainfoulds. I will give that a go and try to work through the doc again :)

[2018-07-18 23:45] eugen-nw commented on #11951
Wait a moment.  I checked the web page, have noticed that my feedback note got closed, but cannot see any information on how to do the authorization of REST calls.  That is what my request was about, I were not praising how great the page is.

Thank you,  Eugen

Diese Nachricht wurde von meinem iPhone gesendet.

Am 18.07.2018 um 16:36 schrieb Micah <notifications@github.com<mailto:notifications@gi

[2018-07-18 23:48] TravisCragg-MSFT commented on #11907
@eaglelim it is possible to register your ASDK In a disconnected environment, but the full steps are not fully documented. I am passing along this feedback to see if this is something that should be documented in the future.

 Here is are the steps to register ASDK in a disconnected environment:

ASDK Registration (Disconnected)
1)	From ASDK Host run the following to create registration token.

[c

[2018-07-18 23:48] #11907 closed

[2018-07-18 23:48] MicahMcKittrick-MSFT commented on #11951
@eugen-nw got it. Sorry about that. I have assigned this to the content author to review and see if we can get some of that information or links added to the doc.

@dkkapur can you take a look?

[2018-07-18 23:48] rameshjanjyam opened #11953 "able to get a secret using client id/secret authentication but the call to `SetStorageAccountWithHttpMessagesAsync` fails. any hints on why it might fail"
code that is failing
[code]
error is
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9bf1784-2765-30b5-3709-614d29deea82
* Version Independent ID: dd18c9a0-35ba-7e63-bd45-bc15de06749e
* Content: [Use Azure Key Vault from a Web Application tutorial](https://docs.microsoft.com/en-us/azure/key-vault/key-vault-use-f

[2018-07-18 23:58] TravisCragg-MSFT commented on #11840
@murraypete Thank you for the feedback! I have changed the spelling, and the update should show on the document within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-18 23:59] #11840 closed

[2018-07-19 00:01] MicahMcKittrick-MSFT commented on #11889
@iainfoulds @lachie83 I still cannot seem to get the doc to work as I walk through it. Although my error is still slightly different:

[code]
Would either of you be able to run through it to see if it is just us?

[2018-07-19 00:02] MicahMcKittrick-MSFT commented on #11893
I am not aware of any way to make it work in this fashion. Everything I find requires your to specify it....

@gatneil @cynthn would either of you know?

[2018-07-19 00:05] JasonWHowell commented on #11940
#please-close

[2018-07-19 00:06] #11940 closed

[2018-07-19 00:08] hukun01 commented on #11893
Let me clarify a bit. We created a cert in our key vault, and we tried to use [this link](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-faq#i-do-not-see-an-option-for-users-to-pass-in-certificates-as-base64-strings-most-other-resource-providers-have-this-option) to get its secretUriWithVersion, but we got the below error.

Type: Microsoft.KeyVault/vau

[2018-07-19 00:11] eaglelim commented on #11907
thank you … the development switch is definitely something that's not available in the documentation. many thanks for closing this :)

[2018-07-19 00:12] SnehaGunda commented on #8126
#please-close

[2018-07-19 00:13] SnehaGunda commented on #11588
#please-close

[2018-07-19 00:13] TravisCragg-MSFT commented on #11907
@eaglelim no problem, happy to help. For further issues with ASDK, your best bet is to head to the [Azure Stack MSDN Forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureStack&filter=alltypes&sort=lastpostdesc).

[2018-07-19 00:16] jeevansd commented on #11834
@nalberti You can use any GUID generator like https://www.guidgenerator.com/
GUID value of the role need to be unique for that app not necessary unique across Azure AD. You cannot repeat the same GUID value in the role for that particular app.

[2018-07-19 00:16] jeevansd commented on #11834
#please-close

[2018-07-19 00:23] Mike-Ubezzi-MSFT commented on #5878
This is all I get when I attempt to Start monitoring D2C messages:

`Subscription selected: Azure CXP Community Internal Consumption
IoT Hub selected: miubezzi-IoT-Hub
[Edge] Start deployment to device [IoTEdge-Linux_001]
[Edge] Deployment succeeded.
[IoTHubMonitor] Start monitoring D2C message for all devices ...
[IoTHubMonitor] Created partition receiver [1] for consumerGroup [$Default]
[IoTHubM

[2018-07-19 00:32] SaurabhSharma-MSFT commented on #11810
@Floriszz We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-19 00:32] #11810 closed

[2018-07-19 00:39] TravisCragg-MSFT commented on #11806
@ahmadabdalla Thank you for the feedback. I am able to reproduce this error.

I will remove the space between the IP Addresses to make them easier to copy, and I have informed the portal team about the issue with the Network Rule Collection Blade.

The updates to the document will show within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter,

[2018-07-19 00:39] #11806 closed

[2018-07-19 00:57] cynthn commented on #11893
@lleonard-msft can you or someone from the key-vault engineering team help with this question?

[2018-07-19 01:08] tfitzmac commented on #11340
@brokenjpl - this has been fixed in the portal.

[2018-07-19 01:09] tfitzmac commented on #11340
#please-close

[2018-07-19 01:09] kazshi commented on #11463
@CarlRabeler Thanks for your quick update!

[2018-07-19 01:10] #11463 closed

[2018-07-19 01:21] TravisCragg-MSFT commented on #11805
@russcam I was able to reproduce this issue, and it is not related to a browser. It is also happening no matter how you deploy the Probe, the matching conditions will not show in the portal.

thank you for your feedback, I will pass this along to the proper teams to get the blade displaying properly.

We will now proceed to close this thread. If there are further questions regarding this matter, p

[2018-07-19 01:21] #11805 closed

[2018-07-19 01:22] HK-Zhang commented on #11889
It seems working today.

[2018-07-19 01:22] #11889 closed

[2018-07-19 01:50] panchagnula commented on #10782
i see a few things here - the  part about your API getting Disabled messages - depends on the kind  of IP restrictions added - you can add an implicit Allow (Any - 0.0.0.0/0) & check if this allows your app to work correctly.

Regarding the IP restrictions Blade itself failing, can you send me an email sisirap@microsoft with the details, do a CTRL+ALT+D after launching this blade & send this in th

[2018-07-19 02:00] TravisCragg-MSFT commented on #11515
@Phydeauxman this is expected behavior for an Azure Application Gateway. If you would like to be able to associate multiple rules with a single listener, you can [leave your feedback Here](https://feedback.azure.com/forums/217313-networking?query=application%20gateway).

For your specific issue, you can route HTTP Paths to different apps within the ASE, or within an Application on the ASE. Is ther

[2018-07-19 02:04] JasonWHowell commented on #9715
@StevenZhang81 Please let us know if that resolved the issue with the sample code in this article.

Error: com.hortonworks#shc-core;1.1.0-2.1-s_2.11: not found

@shanyu Thanks for pointing out the right URL. I have updated the article with the working URL, which will hopefully resolve the problem.

[code]

Thanks, Jason

[2018-07-19 02:15] MohitGargMSFT commented on #11953
@rameshjanjyam I would request you to open a new MSDN forum post to get assistance on your query. Community will help provide guidance on your issue. Please refer to below link to MSDN forum to ask new question - https://social.msdn.microsoft.com/Forums/en-US/newthread?category=windowsazureplatform&forum=AzureKeyVault&prof=required

Please refer the open MSDN thread here and I will make user that

[2018-07-19 02:29] #9715 closed

[2018-07-19 02:32] rajeshvenkata opened #11955 "Data Collector API Issue in Java Code"
# Data Collector API Issue in Java Code

We tried to post data to log analytics using Data Collector API with Java code and it failed with an error. "An invalid signature was specified in the Authorization header".

We used the sample C# code and Powershell code provided in Microsoft documentation and it worked.

We also copied the signature generated by C# code and used it in Java/postman, but it

[2018-07-19 02:37] JasonWHowell commented on #9420
@JPL0908 Thanks for sharing your solution to the problem, and paying it forward to help others who may run across a similar issue.

We'll close out the thread for now.

~Jason
#please-close

[2018-07-19 02:38] JasonWHowell commented on #9029
Solution was found in #9420

[2018-07-19 02:43] JasonWHowell commented on #10918
@jholovacs Thanks for the suggestion. We keep a wish list, and value your request.

I'll add this request into our backlog for docs to work on (1306875).

Thanks, Jason
#please-close

[2018-07-19 02:46] gmoed opened #11957 "KMS to be added to default Infra rules"
Once rules are applied, KMS seems to be blocked, can a rule be included on the default set of infrastructure rules so this traffic is allowed by default?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 474ba3cb-afa1-4ec5-37df-6553a5523dbb
* Version Independent ID: 56096558-1943-3f6b-9609-7722200272fb
* Content: [What is

[2018-07-19 02:47] JasonWHowell commented on #11187
@chasedai Sorry for the trouble, and delay getting assistance.

If you need help sooner, please consider requesting assisted support by selecting the ? icon and Help + Support button in the Azure portal.

[Azure Support](https://portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/overview)

[2018-07-19 02:51] bingosummer opened #11958 "Does Traffic manager support different cloud?"
If one public IP is in Azure cloud, the other public IP is in Azure China Cloud, is it possible to add endpoints for them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9522edc-ac04-6c89-e061-59fa788e28ed
* Version Independent ID: 4cafaeee-5b0a-7f50-7c71-a8c3abf4e881
* Content: [Azure Traffic Manager - FAQs](https://

[2018-07-19 02:51] gmoed opened #11959 "allow rule not working as expected"
after setting up Azure FW, it blocked RDP access on my VM, even though I had an allow rule for any protocol, any source any dest, any port.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 474ba3cb-afa1-4ec5-37df-6553a5523dbb
* Version Independent ID: 56096558-1943-3f6b-9609-7722200272fb
* Content: [What is Azure Firewal

[2018-07-19 02:53] JasonWHowell commented on #11673
@Blackmist Could you please check if you can update line 4 in the file

https://raw.githubusercontent.com/Azure-Samples/hdinsight-pyspark-cntk-integration/master/cntk-install.sh

[code]

Link: Azure-Samples/hdinsight-pyspark-cntk-integration#4

Thanks, Jason

[2018-07-19 02:54] JasonWHowell commented on #11673
@Jack1007533560 thanks for sharing the solution. I saw only line 4 has changed where it says `CNTK_VER="2.0"`, but let me know if I missed something. We'll update the file as soon as we can.

Thanks, Jason

[2018-07-19 02:56] JasonWHowell commented on #11673
#in-progress

[2018-07-19 02:57] Jack1007533560 commented on #11673
Yea, only line 4 I think, it is the only code has something to do with the cntk version, and it seem '2.0.beta12.0' does not exist now.

[2018-07-19 03:03] #11924 closed

[2018-07-19 03:16] BryanTrach-MSFT commented on #11950
@ncacace Is this a request for an enhancement to the doc or do you have a specific request for a cmdlet that you are trying to run?

The lists `az appservice list-locations --sku FREE ` as an example of a cmdlet which will display the regions that support free tier web apps. (Web Apps is rather robust in the fact that windows web apps are supported in almost regions if I recall correctly.)

We loo

[2018-07-19 03:22] dharasania opened #11960 "Article Hygiene"
Hi, Thanks for the article. Please correct the screenshot used in the article. It has mouse pointer captured in it, doesn't suit the standard set by Technet Articles.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b154f4ad-6372-ac17-3084-1ff016073568
* Version Independent ID: 8c4a54f3-8db5-7839-3008-724beecc3888
* Cont

[2018-07-19 03:31] shalinasanga opened #11961 "Register your app for push notifications lacks some steps"
in Register your app for push notifications in between 5 and 6 steps this doc missing Request a certificate from keychain from your mac

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f503e37-b16e-c92c-8668-313428451053
* Version Independent ID: edc66d3e-bf88-3c4d-a148-6288a7022f16
* Content: [Add push notifications to

[2018-07-19 03:38] JasonWHowell commented on #10457
@ishepherd Thanks for figuring out this quirk.

I am going to add the extra header switch to the POST examples in this article.
MicrosoftDocs/azure-docs-pr#46995

Thanks, Jason

Supporting information:
Without the extra header, the POST requests may fail due to the tightened security in Ambari.

The security can be relaxed if needed to avoid code change. You can disable the CSRF for Livy in the Am

[2018-07-19 03:41] AzureConsultant commented on #11945
We have the same issue - several customers are inquiring about Instance Size Flexibility and how it impacts their RI purchases. Please update documentation asap.

[2018-07-19 03:48] rameshjanjyam commented on #11953
Thank you @MohitGargMsft. I have just posted my question there - https://social.msdn.microsoft.com/Forums/en-US/5df11174-c9f5-4e6f-805d-2bbc6fbb474f/error-in-creating-azure-key-vault-managed-storage-account-using-net-core-azure-sdk?forum=AzureKeyVault

[2018-07-19 03:50] JasonWHowell commented on #10457
#please-close

[2018-07-19 03:51] #10457 closed

[2018-07-19 03:57] Mike-Ubezzi-MSFT commented on #11955
@rajeshvenkata Can you please provide a link to the Microsoft Doc that details the sample you are referring to. It sounds like you are asking for an enhancement in the form of a java version of the tutorial. If not, and you are looking for assistance to solve a specific issue, [stackoverflow.com](https://stackoverflow.com/) and [MSDN - Azure Log Analytics](https://social.msdn.microsoft.com/Forums/

[2018-07-19 03:59] BryanTrach-MSFT commented on #11804
@CraigHumphrey I can verify the same in my repro. Free/shared/basic tier apps are not considered production tier. Since ATM is about increasing the availability of your production tier apps, I agree with what the documentation says.

With that being said, I think there should be some degree of validation that checks the tier of the web app endpoint that you're trying to add. I can try to share thi

[2018-07-19 03:59] #11804 closed

[2018-07-19 04:04] JasonWHowell commented on #9373
@hr00 Please let us know if you need further assistance, or if the tips provided led to a solution. Thanks! Jason

[2018-07-19 04:08] jackman0200 commented on #11943
Thanks so much! Would you mind pointing me to a post on how to increase that timeout on a standard or dev tier?

From: VairavanS-MSFT <notifications@github.com>
Sent: Wednesday, July 18, 2018 5:06 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Justin Ball <JustinB@natr.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] pbx file to big (#11943)

[2018-07-19 04:24] shalinasanga opened #11962 "FCM server key confusing"
What key should i use from FCM ?
1) just Server key ?
2) LEgacy Server Key ?
in https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-xamarin-forms-get-started-push#configure-the-mobile-apps-back-end-to-send-push-requests-by-using-fcm , it says legacy server key. But in Xamarin university Rene Ruppert video he copies Server key.

---
#### Document Details

⚠ *Do not edit thi

[2018-07-19 04:32] CraigHumphrey commented on #11804
Thanks @BryanTrach-MSFT sorry, you've caught me in a pedantic mood :)

https://social.msdn.microsoft.com/Forums/en-US/1b0b99d4-b0f7-4184-90fd-6d2e5d25e17b/adding-traffic-manager-over-different-web-application-service-plans?forum=windowsazurewebsitespreview

[2018-07-19 05:07] pmdci commented on #11605
So you will leave the statement incorrect? Wow...

The level of detail is a background explanation as to why the statement is incorrect.

The correct statement is that any 'Guest' account in the Azure Active Directory (AD), or an Azure AD account that requires multi factor authentication (MFA) must leave the password blank. Simply as that.

Good to know where Microsoft stand on the quality of its

[2018-07-19 05:09] shalinasanga commented on #10096
Yes, there are no complete documentation on xamarin.forms. this is really bad

[2018-07-19 05:30] berney opened #11964 "Azure CDN supported CAs - Let's Encrypt / ACME support"
Are there plans to support Let's Encrypt CA or other ACME CAs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ef62d00-9423-f984-0fc8-5cfba03daaed
* Version Independent ID: c11dd0ae-d6eb-a6c8-d937-2a39e7bdb8ba
* Content: [Allowed certificate authorities for enabling custom HTTPS on Azure CDN](https://docs.microsoft.com

[2018-07-19 06:21] raviinroorkee-7 commented on #11922
Hi ,
I have also tried steps as mentioned in  https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot
by changing
**[Service]
Environment=IOTEDGE_LOG=edgelet=debug**
in **/etc/systemd/system/multi-user.target.wants/iotedge.service** , as i found only this file.
The issue remains the same. Below is the output for various commands.
**[root@artik ~]# sudo systemctl status iotedge**
● iotedge.ser

[2018-07-19 06:30] KumudD commented on #11958
Yes, as long as the public IPs are routable over the Internet, Traffic Manager can monitor and route traffic to them. In the case of endpoints being part of different Azure clouds, the one that is in the same cloud as where the Traffic Manager profile is created will be considered as an Azure endpoint and the other one as an external endpoint.
Please let us know if this helps answer your question.

[2018-07-19 06:48] bingosummer commented on #11958
Thanks @KumudD for your quick response. Your answer is very helpful.
When I create an external endpoint, Azure Portal asks me to specify the location of the endpoint. But the location list doesn't have a China location. Does it matter if I input another location?

[2018-07-19 06:48] #11958 closed

[2018-07-19 06:49] jraristi opened #11965 "love the tutorial but got stuck here..."
The document is pretty clear and thanks a lot for it!
The problem (for me) arose because I am using an image I created (I did not downloaded the example) but then got stuck on the yaml kubernetes manifesto file which I didn't had.
It would be great if it would be commented where did this file came from and maybe some reference link on how to create this manifesto file?
Thanks and keep up the great

[2018-07-19 06:54] uamrit opened #11966 "Option not found"
Metric name as 'Requests' is not exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddc18273-8bbe-951d-d6a4-acc903772614
* Version Independent ID: 29d66337-5772-6187-b64b-02607a682fe3
* Content: [Autoscale Azure resources based on performance data or a schedule](https://docs.microsoft.com/en-us/azure/monitoring-and-

[2018-07-19 07:01] SeanFeldman opened #11967 "Claims and Authorization schema is omitted"
Those are not simple types and their schema should be documented.
Claims is a dictionary&lt;string,string&gt;. Authorization is an object.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 278a69ef-7134-37a6-ccc2-9535f7617043
* Version Independent ID: 7831770e-c94a-eb88-d53a-a5860a2364e6
* Content: [Azure Event Grid resou

[2018-07-19 07:08] kspoojary commented on #6258
Is there any way to save this token and use it until it expires .
 Instead of getting new tokens every time.

[2018-07-19 07:09] MateuszMMakowski commented on #11904
@Mike-Ubezzi-MSFT Thx for the quick response.
I belive it's not enforced due the fact that in portal CosmoDB -> Firewall and virtual networks) i can see only following info:
'No network selected." No vnet, no subnet.
Same issue was reported here before:
https://github.com/MicrosoftDocs/azure-docs/issues/9053

[2018-07-19 07:12] StijnBt opened #11968 "Uses of DevTest Lab lab vm's within agreement?"
Am I permitted to use DevTest Lab VM's for the following purposes?
- Use as a demo machine in order to show our software on sales presentations? (a sales demo machine)
- Use as build agent server for VSTS (a development build server)

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0898b73-c45b-a846-3753-992411

[2018-07-19 07:19] richardcox13 commented on #9124
The ability to have a space after the semi-colon separators would be 1. much easier to read, 2. me consistent with typical multiple email entry (eg. email clients).

[2018-07-19 07:21] rogerbrownmegnajet commented on #10021
Hi @rolyon ,

Thanks for coming back. The answers to your questions:

- The edition is: "Azure AD for Office 365".

- Yes.

- Not as far as I am aware

[2018-07-19 07:25] jrangama opened #11969 "Internet Access for RHUI"
If the Azure VNet that contains the RHEL VMs doesn't have Internet access (Connected via ExpressRoute and forced tunneling is enabled) what will be the implications? Is it correct to assume that regardless of outbound Internet connectivity

1. to use RHUI the RHEL VMs should have outbound 80,443 for defined RHUI IPs
2. without outbound Internet access, RHEL VMs can connect to RHUI since the traffi

[2018-07-19 07:25] steronc opened #11970 "MVA Link not working"
The link to the video on Microsoft Virtual Academy doesn't work...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04a4db94-e031-f543-07fe-9700bf203dac
* Version Independent ID: eeb18a5a-98ef-2d69-6803-e9bbd6bd7b9c
* Content: [Get started with Elastic Database Tools - Azure](https://docs.microsoft.com/en-us/azure/sql-da

[2018-07-19 07:35] Dottn commented on #11766
I got the problem solved, and it may be an interesting edge case for the article.
Most our DC's were 2012 R2, and the domain functional level was therefore also 2012.
When I installed the proxy service on a 2016 server, it forwarded the requests to Azure AD, but received `http 400 BAD REQUEST` in response.
When I installed it directly on a DC, it worked as intended.

Attempting the stupid, because

[2018-07-19 07:36] KLDane commented on #11902
Hi Adam,

I am not sure If I have made myself clear. I want to be able to re-create my physical Azure Backup on-prem server, in case of a hardware failure. Can I just install a fresh server, install Azure Backup and reconnect it with the Azure RecoveryVault (containing all my backup data) using the passphrase, or do I need to backup the DB or anything else, on the on-prem server?

KLDane

[2018-07-19 07:49] knutsvendsen opened #11971 "Can't configure network rules"
When I try add the rule collection, Azure has an issue with the DNS 209.244.0.3, 209.244.0.4. The error message reads that the IP range is invalid. If I then click 'Add' again, the error message reads that Azure can't parse the form.
Instructions:
Configure network rules
Click Add network rule collection.
For Name, type Net-Coll01.
For Priority, type 200.
For Action, select Allow.

Under Rules, fo

[2018-07-19 08:18] SamirFarhat opened #11972 "Mount the "ephemeral" disk"
Hi,
Can you please document how to mount the Azure ephemeral disk ? (Temp drive)

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1ac572f-c613-71fc-580a-2805b740b793
* Version Independent ID: b4aeef15-7b0f-abc7-872e-28051e10d6ca
* Content: [Create persistent volumes with Azure Kubernetes Service](https://docs.mi

[2018-07-19 08:30] pmdci commented on #11605
Just to be clear. The statement as it currently stands is **incorrect** and it leads to confusion. We wasted a few hours troubleshooting this connection due to this poorly written statement.

[2018-07-19 08:30] aaubry opened #11973 "How should the ValidateClient methods be implemented ?"
It is unclear from the documentation when the `ValidateClient(TServiceClient)` and the `ValidateClient(string, TServiceClient)` are called and what to do inside. It seems that in the first one I should check if my client is still in a usable state, but I don't know what to do with the `endpoint` argument of the second one.
I made some tests, but could not get that second method to be called.

---

[2018-07-19 08:34] AnilChandore opened #11974 "Samples are outdated and do not work."
The samples which are given here are outdated and do not work. There are no other samples through them we can achieve the same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0bd1414-d29f-fe3b-503f-365692c77ca5
* Version Independent ID: 8627b318-bd95-0176-bfd5-6cb20f661692
* Content: [How to use Azure Service Bus queu

[2018-07-19 08:38] pmdci commented on #11605
@Minewiskan
The statement as it currently stands is incorrect and it leads to confusion. We wasted a few hours troubleshooting this connection due to this poorly written statement. So you will leave the statement incorrect? Wow...

The level of detail I provided is simply a background explanation as to why the statement is incorrect.

The correct statement is that any 'Guest' account in the Azure

[2018-07-19 08:41] ezhilanmadhiyalagan commented on #11807
@kgremban Tried replacing the URL with centos but it still did not fetch's the package from repository .

[2018-07-19 08:45] valentijnscholten commented on #11847
Looks like I found the answer in the Azure B2C documentation.

For scope you need to specify a combination of the AppID URI from Azure portal and a desired scope/permission. By default there is a user_impersontation permission. So an example scope would be:

"https://isaacnl.onmicrosoft.com/21a6cc0a-065d-4489-<censored>/user_impersonation openid email"

Where "https://isaacnl.onmicrosoft.com/21a6c

[2018-07-19 08:59] BartJocque opened #11975 "Not working for personal (Live) Microsoft accounts."
Tenant restrictions mechanism is not working for personal (Live) Microsoft accounts.
This defeats the whole purpose of the mechanism.
Users in companies that want to restrict O365 exclusively to the corporate tenant, can still access their *uncontrolled* personal mailboxes and onedrives.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2018-07-19 09:03] ggailey777 commented on #11618
@jrichview I have added a [section to the connection management topic](https://docs.microsoft.com/azure/azure-functions/manage-connections#sqlclient-connections) that discusses working with SQL connection strings. Would you consider this sufficient to go on, or would it help to have a how to topic for working with EF and Functions?

[2018-07-19 09:04] ankitchourasiya opened #11976 "Custom logs are not separating the log with the timestamp"
Have tried to upload and configure the below custom log file in azure oms but while separating the log with timestamp "YYYY-MM-DD HH:MM:SS" it's throwing exception
'Fail to separate log with selected regex.'

Logs:
2016-03-10 01:34:36 207,Success,Client 05a26a97-272a-4bc9-8f64-269d154b0e39 connected
2016-03-10 01:33:33 208,Warning,Client ec53d95c-1c88-41ae-8174-92104212de5d disconnected
2016-03-10

[2018-07-19 09:10] digeler commented on #11731
1. first you should Emphasize that the client app should be native ,many people missed this part as the default is api.
2. you should add that they need to press the grant credential button when assigning permissions.
3. you should show an example what happens if you use guest account and what happens on azure user.

maybe we can create a validation script for this.
it will be most  useful

like :

[2018-07-19 09:15] ggailey777 commented on #11869
@Fallenstedt Where in [this topic](https://docs.microsoft.com/azure/azure-functions/functions-create-first-azure-function) do you see a JSON response?

[2018-07-19 09:32] nth-block commented on #10374
I need some clarity on how to select an event hub in a different subscription.

The article mentions that this is possible but there are not further comments - "The Event Hubs namespace does not have to be in the same subscription as the subscription that's emitting logs, as long as the user who configures the setting has appropriate RBAC access to both subscriptions."

[2018-07-19 09:46] HuckFin7b opened #11978 "Access by SAS link"
Can I close access to Blob by SAS link after it's created and transferred to the user?

[2018-07-19 09:46] automationbk opened #11979 "Issue with DNS rule in firewall"
Even though I followed the documentation, DNS resolution was not working from within the srv-work machine and I was not able to access GitHub. Finally I had to edit the Firewall network rule for DNS and allow UDP protocol. The document mentions only about enabling TCP protocol under the section "Configure network rules".

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2018-07-19 09:51] bramvdklinkenberg opened #11980 "OMS per namespace"
Hi, is there a way to set up oms monitoring (plus solution) per namespace?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f87d612a-32e7-ceb1-993c-123d6593dcba
* Version Independent ID: 537f7893-1d70-c3db-2a90-f971b27570e5
* Content: [Monitor Azure Kubernetes cluster - Operations Management](https://docs.microsoft.com/e

[2018-07-19 10:24] satishky18 commented on #9144
I am also facing the same issue . extension is added successfully but system is still asking password .
I can see that /etc/pam.d/common-auth is not updated we have to do it manually and then it start working .

[2018-07-19 10:24] pocki opened #11981 "Update Remoting V2 documentation for v3.2 changes"
Could you please update the documentation in the Remoting V2 section and "How to use Custom Serialization with Remoting V2" with the changes in SDK v3.2.
Some interfaces changed and also the RemotingListener Attribute

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8902374b-b631-9d50-16ef-1899ea2dd29d
* Version Independ

[2018-07-19 10:35] akuzhan opened #11982 "Blob Data Contributor and Blob Data Reader issues"
Hi,

we have been experimenting new storage account roles, we know it is still in preview and we think that there is an issue with it. What we want to do is to have separate set of user being able to access separate containers and they should not see each others data. We know there is awork around with SAS tokens but in our scenario we will need to authenticate user via web app and display blob da

[2018-07-19 10:45] MetehanBolat opened #11983 "OMS Gateway Settings"
Is it possible to pass omsGateway proxy address settings through this extension?
That would be lovely to be able to set it in settings json.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cefed4e0-440d-18d5-8b8d-4a345f396e9b
* Version Independent ID: 2882136f-7fde-685d-c24f-037ee7626667
* Content: [Azure Log Analytics

[2018-07-19 11:18] DavidCGarcia89 commented on #5875
@v-geberr It seems that my problem was that I was trying with List entities, and it doesn't seem to work with them. But with Simple, Hierarchical and Composite Entities works perfect. Thanks for the answer.

[2018-07-19 11:18] chhantyal opened #11984 "Is application insights available for Linux based App Service (Plan)?"
In portal, application insights tab is disabled. Does it mean it is not available for Linux VM based web apps (App services)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 098ffe3a-2cbd-1038-30f2-dd2f528984a3
* Version Independent ID: 65da3e70-2ac2-8f6e-51a5-e759bcc8253f
* Content: [Monitor Azure web app performance](

[2018-07-19 11:19] helderpinto opened #11985 "DeployIfNotExists is not supported in custom definitions"
The DeployIfNotExists policy effect is not yet supported in custom policy definitions. The documentation should state it clearly, so that nobody spends time trying to implement something that at the end will result in this error:

The policy 'effect' property value cannot be 'DeployIfNotExists'

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-07-19 12:03] Blackmist commented on #10880
#close

[2018-07-19 12:05] Blackmist commented on #11746
Hi @eyala , just a follow up that the changes are now live. Thanks again for catching this!

#close

[2018-07-19 12:05] Phydeauxman commented on #11515
@TravisCragg-MSFT I know we can use basic rules in the App Gateway to route to different apps in the ASE but we need to be able to map to those other apps using paths off of our main app...path-based routing.  That is what we are unable to figure out with the ASE.

[2018-07-19 12:05] Blackmist commented on #9802
#close

[2018-07-19 12:07] eyala commented on #11746
Thanks!

[2018-07-19 12:10] Blackmist commented on #11746
#please-close

[2018-07-19 12:11] waheedhussain commented on #11830
Hi Adam,

thanks for your response on this and sorry for the late reply, what is the process for getting notification on such updates?

is there anything outside of 'Planned Maintenance' under Service health from the portal?

Thanks,
Waheed

[2018-07-19 12:11] dougbw opened #11987 "JIT access to AKS"
Hello,

Are their any plans to extend JIT access to support access to the api server when running AKS?

Many thanks,
Doug

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25f0758b-8274-d2b5-4702-2c7ca6b0b14a
* Version Independent ID: d1215107-abf9-fefd-a63b-b20ec3f7f744
* Content: [Just in time virtual machine access in

[2018-07-19 12:11] jasonsch69 commented on #11714
yes. as i said, i have followed the document. I get the link on the locked screen but when i click the link, instead of opening the password reset page, it just attempts to unlock the workstation, and immediately returns "invalid password" I can then enter my password (i have to do this twice) to unlock the workstation, I never get the chance to actually reset my password.

[2018-07-19 12:16] Melbit-haixingzhang commented on #11486
Got same issue here, thanks for SirusT's solution...

[2018-07-19 12:19] Blackmist commented on #11673
@JasonWHowell This isn't a repo I have admin to. I'll start a mail thread internally to find who the current owners are and CC you.

[2018-07-19 12:59] Melbit-haixingzhang commented on #11486
And after reboot, the drive is not mounted to system automatically.
Workaround is type following command and reboot again... in this case, it mount to Z drive.
net use * \\storage-account-name.file.core.windows.net\share

[2018-07-19 13:03] eggind commented on #11601
Thanks, I will check your new code. Mine was just a quick and dirty to solve my issue, and yours was more generic, so I would be keen to try it.

[2018-07-19 13:04] nth-block opened #11989 "More details on cross subscription logging"
I would like some clarity on how to achieve -  "The Event Hubs namespace does not have to be in the same subscription as the subscription that's emitting logs, as long as the user who configures the setting has appropriate RBAC access to both subscriptions." Is thre some documentation on how to achieve this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2018-07-19 13:07] femsulu commented on #11836
@yuhongyang417 we've fixed the misspelling in the doc. I can confirm the fix is now live. Thanks again for bringing this to our attention. We will now close this issue.

[2018-07-19 13:07] #11836 closed

[2018-07-19 13:08] Dottn commented on #11766
Correction:
Apparently it's *not* related to the windows server, but rather some trouble relating to our network.

We had attempted setting the proxy in dmz, but that didn't work. When it worked, the server was in the same subnet as the DC. We had attempted a 2016 server in the same subnet as the DC earlier, but at that time, there was also a server in the DMZ, which apparently made neither work.

[2018-07-19 13:49] MarekLani opened #11990 "Please provide C# code how to send data directly to documentation"
Please provide C# code how to send data directly to documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 666d1390-a995-fb5f-e1ee-49e28c50e901
* Version Independent ID: d699e566-83d8-5af9-56a5-4baa56ae0455
* Content: [Send telemetry to Azure IoT Hub quickstart (C#)](https://docs.microsoft.com/en-us/azure/iot-hub

[2018-07-19 14:11] brokenjpl commented on #11340
Thanks for the update.

[2018-07-19 14:11] #11340 closed

[2018-07-19 14:11] dvanasseldonk opened #11991 "baseDockerImage for microsoft/mmlspark:plus-0.13"
When do you expect a baseDockerImage for microsoft/mmlspark:plus-0.13 to be available to allow for Spark 2.3 on Azure ML Workbench?

The latest plus variant available here https://hub.docker.com/r/microsoft/mmlspark/tags/ is plus-0.10.9 which runs on Spark 2.2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 089419cb-c2

[2018-07-19 14:11] jrudley commented on #11738
These doc's are incorrect. You are creating a staging letsencrypt in your yaml example but output a prod
apiVersion: certmanager.k8s.io/v1alpha1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
spec:
  acme:
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    email: user@contoso.com
    privateKeySecretRef:
      name: letsencrypt-staging
    http01: {}

clusterissuer.c

[2018-07-19 14:21] LSZ-PL commented on #8346
Hi guys,
I face the same issue in ADFv2 - when I'm trying to pass an argument to Spark Activity like so:
`@pipeline().parameters.lsz_StartDate`
I see a warning in "Add Dynamic Content" GUI:

When I trigger the execution I'm getting:

I think the problem is that the "arguments" in JSON should be an array (like shown here: https://docs.microsoft.com/en-us/azure/data-factory/transform-data-using-spar

[2018-07-19 14:29] jkindwall commented on #11935
I want to use a queue triggered function tied to an Azure Storage Account queue.  In this case the function "subscribes" to the queue and receives queue items as they come in.  It may be possible, but I have no idea how I would insert a traffic manager between the queue and the function that is subscribed to it.  Should the function subscribe to the traffic manager instead?  How would that work?

[2018-07-19 14:32] YARG commented on #10317
Hi guys, great to see the addition of 'Client Certificates' On/Off in the portal to update 'clientCertEnabled'  I haven't published a web app for a couple of months and I upgraded my code to .NET Core 2.1 and the browsers have stopped asking for the client certificate.  So I then created a brand new app, and downgraded to .NET core 1.1, published the app and in the Azure Portal.  I turned on Https

[2018-07-19 14:36] timwebster9 opened #11993 "Private DNS Zones"
'Advanced networking for AKS does not support VNets that use Azure Private DNS Zones`

What exactly are the implications of this?  The doc could be clearer.  If you deploy AKS into an existing VNET that uses private DNS zones:
* will the deployment fail?
* will services in AKS not be able to resolve services using private DNS?
* something else?

We would like to deploy AKS into an existing VNET th

[2018-07-19 14:52] amtandon opened #11995 "Document outdated?"
This document is outdated. There is no security link in the publisher portal anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa82acc4-680a-1431-f4fc-4848e8efe2ce
* Version Independent ID: fbf31137-c536-2d90-3a76-bca7cd88cf53
* Content: [Authorize developer accounts using OAuth 2.0 in Azure API Management](https

[2018-07-19 15:11] HommeViande opened #11996 "Disabling process identification"
Hi,

This tutorial requires to disable process identification, but the note says it is only because it is in preview.
However, IoT Edge should not be in preview anymore.
Is this step still required ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce5efb43-af55-95ea-cc6f-9597ace9b1b8
* Version Independent ID: 94f8eff2-f

[2018-07-19 15:20] Mike-Ubezzi-MSFT commented on #11904
@MateuszMMakowski Can you send me your Cosmos DB instance name? You can send it to AzCommunity@microsoft.com if you wish not to post it here. I have a product group engineer who would like to take a look at this issue. I have provided them with the information you have recently provided. Thank you.

[2018-07-19 15:27] sundaxi opened #11997 "Public network access is ncessary for this Extension"
Hi Team,
Kindly make comments  that for this extension, public network access is necessary, since it needs to curl the packages.microsoft.com to get repo and download the aadlogin packages from that repo as well.
And in addtion,
The installer.sh has some codes logic issue. Once the extension failed to install for some reason like no public access or DNS resolver failed. It will create an empty mic

[2018-07-19 15:30] Adam-Smith-MSFT commented on #11959
@gmoed Thank you for the valuable feedback,we are investigating the issue.

[2018-07-19 15:30] Mike-Ubezzi-MSFT commented on #11960
@dharasania Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-19 15:31] k2nsloos commented on #11760
I sniffed it by printing the readable characters of any data that goes just
before it's passed into the TLS routine.

At the time I posted the issue I was having difficulties connecting.
This turned out to be due to a buffer-overflow in my own code, not because
of the token send. However I did notice the inconsistency though.

On Wed, Jul 18, 2018 at 12:36 PM, Dominic Betts <notifications@github.c

[2018-07-19 15:33] iainfoulds commented on #11738
@jrudley I'll update the example output. It doesn't effect the steps provided that correctly use letsencrypt-staging.

[2018-07-19 15:40] cynthn commented on #11926
@mganeshphani thanks for the feedback! The engineering team is working on finding a way to present all of the information, together in a format that is sort\filterable. In the meantime, the technical details are in the topic you mentioned, but the pricing is here: https://azure.microsoft.com/en-us/pricing/details/virtual-machines/linux/

#please-close

[2018-07-19 15:47] rifaterdemsahin opened #11999 "Web App for Containers SSL certificate issue"
We are unable to test our **self signed certificates** to Azure web app for containers where the containers do not start.
We tried to upload the certificate from the portal and from the file system. They both did not work. Is there a special case with Linux and web app for containers.

My code that uses the certificate
using System;
using System.Collections.Generic;
using System.IO;
using System.L

[2018-07-19 15:49] BestBackwards commented on #10921
@jimdial @cynthn Please could you provide an immediate update?
Azure support have said "I don't know" and closed our ticket and the documentation is the key to getting our web servers updated.

[2018-07-19 15:49] jrudley commented on #11738
Correct, but for people following the tutorial, they may be confused on
what the expected output should be.

On Thu, Jul 19, 2018 at 10:33 AM Iain Foulds <notifications@github.com>
wrote:

[2018-07-19 15:55] Mike-Ubezzi-MSFT commented on #11970
@steronc Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-19 15:56] CarlRabeler commented on #11960
@dharasania thanks for pointing this out - I am fixing this now. https://github.com/MicrosoftDocs/azure-docs-pr/pull/47021

[2018-07-19 15:56] Mike-Ubezzi-MSFT commented on #11970
The Microsoft Virtual Academy link references a video title that does not appear to exist:

_Implementing Scale-Out Using Sharding with the Elastic Database Client Library Video_

[2018-07-19 15:58] Adam-Smith-MSFT commented on #11968
@StijnBt Thank you for the valuable feedback,we are investigating the issue.

[2018-07-19 15:59] Adam-Smith-MSFT commented on #11971
@knutsvendsen Thank you for the valuable feedback,we are investigating the issue.

[2018-07-19 16:00] spelluru commented on #11968
@jkwon2013 - please reply when you get a chance. Thanks.

[2018-07-19 16:00] Mike-Ubezzi-MSFT commented on #11967
@SeanFeldman Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-19 16:04] Adam-Smith-MSFT commented on #11976
@ankitchourasiya  Is it possible to add the documentation link you were using for the described issue/scenario ?

[2018-07-19 16:06] Adam-Smith-MSFT commented on #11978
@HuckFin7b  Is it possible to provide the documentation link you were referring to ?

[2018-07-19 16:08] rifaterdemsahin commented on #11999
reading from docs.
Using a self-signed certificate :  In this case avoid using Self signed certificate since we cannot verify the domain ownership . This is not supported with Azure web apps

if i used a self-signed certificate it would not load ?

[2018-07-19 16:11] cynthn commented on #10921
@BestBackwards I just checked and @jimdial has some updates that are just waiting to get published. I'm hoping they will be live by 3:00 PM PST this afternoon. I'd love to hear your feedback on this article, once the changes are live.

[2018-07-19 16:12] Mike-Ubezzi-MSFT commented on #11974
@AnilChandore Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-19 16:13] iainfoulds commented on #11731
Thanks for the additional feedback, @digeler. We are currently working on a scripted approach that would hopefully make things a little easier. It's also important to remember that this feature is in preview, so this kind of feedback helps improve the overall experience.

I'll share this with the product team, and look to update the docs where necessary. I don't have an ETA on when those scripts w

[2018-07-19 16:13] Adam-Smith-MSFT commented on #11979
@automationbk Thank you for the valuable feedback,we are investigating the issue.

[2018-07-19 16:22] Mike-Ubezzi-MSFT commented on #11990
@MarekLani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate but, can you please provide an example of what you would like to see. The title of this GitHub issue needs some clarity, as what you are really looking for is an example of how to send messages in a direct manner. The content owner may know of another tutorial or sample that ma

[2018-07-19 16:34] iainfoulds commented on #11738
@jrudley The example output has been updated and should be published live within the hour.

[2018-07-19 16:38] jrudley commented on #11738
Thank you for the fast response!

⁣

On Jul 19, 2018, 11:34 AM, at 11:34 AM, Iain Foulds <notifications@github.com> wrote:

[2018-07-19 16:41] YutongTie-MSFT commented on #11991
@dvanasseldonk Thanks for the feedback! We are currently investigating and will update you shortly.

@hning86 Hi, would you know when we will release the version can run on Spark 2.3? Thanks!

[2018-07-19 16:41] jimdial commented on #10921
The article has been updated (in a separate PR) with general instructions (which will publish later today) for adding routes to the operating system. I've removed specific instructions for any particular distro. Please consult the documentation for your distro as to how to add persistent routes for your specific distro. @anavinahar

[2018-07-19 16:42] Mike-Ubezzi-MSFT commented on #11614
@Maggern3 In this case, yes but inner joins should work. [FROM clause](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sql-query-reference#bk_from_clause) Scroll down to "Joins".  This all depends on your data model. If you require additional assistance, both [stackoverflow.com](https://stackoverflow.com/) and [MSDN forums for Cosmos DB](https://social.msdn.microsoft.com/Forums/en-US/home

[2018-07-19 16:43] Adam-Smith-MSFT commented on #11999
@rifaterdemsahin Is it possible to add the documentation link you were referring to ?

Thanks,
Adam

[2018-07-19 16:45] Mike-Ubezzi-MSFT commented on #11996
@HommeViande Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-19 16:58] xocolatl-aficionado opened #12001 "Authorized Redirect URI issue"
Clicking the google link takes me right back to the sign in page

First page:
![image](https://user-images.githubusercontent.com/17209734/42958431-1f8d58ee-8b4b-11e8-9a80-dc73aa56f3a8.png)
Second page on clicking 'sign in':
![image](https://user-images.githubusercontent.com/17209734/42958476-3bd46df8-8b4b-11e8-8c5a-51ed924bf86e.png)

Clicking Google on there leads to:
![image](https://user-images.

[2018-07-19 16:59] MicahMcKittrick-MSFT commented on #11965
Thanks for the feedback! I have assigned this issue to the content author to review and see how we can update the document.

[2018-07-19 17:01] MicahMcKittrick-MSFT commented on #11969
Thanks for the question! We are investigating and will update you shortly.

[2018-07-19 17:03] MicahMcKittrick-MSFT commented on #11972
Thanks for the question! We are investigating and will update you shortly.

[2018-07-19 17:04] MicahMcKittrick-MSFT commented on #11973
Thanks for the feedback! We are investigating and will update you shortly.

[2018-07-19 17:04] #11949 closed

[2018-07-19 17:06] #11731 closed

[2018-07-19 17:08] MicahMcKittrick-MSFT commented on #11980
Thanks for the question! We are investigating and will update you shortly.

[2018-07-19 17:08] MicahMcKittrick-MSFT commented on #11981
Thanks for the feedback! I have assigned this to the content author to review.

[2018-07-19 17:09] MicahMcKittrick-MSFT commented on #11983
Thanks for the question. We are investigating and will update you shortly.

[2018-07-19 17:09] BryanTrach-MSFT commented on #11961
@shalinasanga Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-19 17:10] BryanTrach-MSFT commented on #11962
@shalinasanga Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-19 17:11] MicahMcKittrick-MSFT commented on #11993
Thanks for the feedback. I have assigned this to the content author to review.

[2018-07-19 17:12] MicahMcKittrick-MSFT commented on #11997
Thanks for the feedback! I have assigned this to the content author to review.

[2018-07-19 17:12] #11926 closed

[2018-07-19 17:13] Fallenstedt commented on #11869
@ggailey777

Hi,

I saw this on the image of step 2 on "Test the Function:" https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-functions/functions-create-first-azure-function.md#test-the-function

I understand that on Edge you will display a JSON response, but on other browsers you will display an XML response.

XML and JSON are two data formats that complement each other, and

[2018-07-19 17:14] Gullfaxi171 commented on #10441
hi ! same issue here, any news to explain the difference ?

[2018-07-19 17:15] conceptdev commented on #11961
@shalinasanga are you referring the steps in the [Generate the certificate signing request file](https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-xamarin-forms-get-started-push#generate-the-certificate-signing-request-file)?

The text in step 5 "browse to the location where you saved the CSR file that you created in the first task" is referring to this (perhaps we can b

[2018-07-19 17:19] MicahMcKittrick-MSFT commented on #9144
For anyone seeing issues with this doc please open a new issue on the doc itself so I can assist. Provide all details please :)

[2018-07-19 17:21] #11738 closed

[2018-07-19 17:29] #11965 closed

[2018-07-19 17:32] Mike-Ubezzi-MSFT commented on #11614
@Maggern3 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-19 17:34] Raag007 opened #12002 "Example"
Any documentation to create a health probe with steps?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e1e7cb2-c5a7-7122-c729-dc259db99a40
* Version Independent ID: 45c6fd72-5114-fcda-0bab-2d80ac6bed33
* Content: [Use Load Balancer custom probes to monitor health status](https://docs.microsoft.com/en-us/azure/load-bala

[2018-07-19 17:37] Canutza commented on #11995
you can find the API section in the Azure portal, after that select the API that you want to secure and some tabs will appear, the second one is Settings and you will find there the security settings.

[2018-07-19 17:48] TravisCragg-MSFT commented on #11746
@eyala We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-19 17:48] #11746 closed

[2018-07-19 17:49] HemantChandurkar commented on #8346
Try passing @pipeline().parameters.lsz_StartDate as string, not expression.

On Thu, Jul 19, 2018, 7:51 PM LSZ-PL <notifications@github.com> wrote:

[2018-07-19 17:54] Adam-Smith-MSFT commented on #11910
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-19 17:54] #11910 closed

[2018-07-19 17:54] Adam-Smith-MSFT commented on #11834
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-19 17:54] #11834 closed

[2018-07-19 17:55] Mike-Ubezzi-MSFT commented on #11832
@AnirvanK Per the following: [Azure IoT Edge Support](https://docs.microsoft.com/en-us/azure/iot-edge/support) CentOS is not a priority. I will forward this on to the content owner for review. Regards, Mike

[2018-07-19 17:55] Adam-Smith-MSFT commented on #11588
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-19 17:55] #11588 closed

[2018-07-19 17:56] #10880 closed

[2018-07-19 17:58] narenkv opened #12003 "Diagram needed badly"
Provide a diagram to show where the jobs are running and how many servers are configured for Job execution etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 386f5b1f-e835-0a3b-8e3f-302a6bf5670e
* Version Independent ID: 2470305f-0366-36ba-5365-adba61dd02b2
* Content: [Create and manage Azure SQL Elastic Database Jobs

[2018-07-19 18:00] narenkv opened #12004 "Diagram needed badly"
Explaining the sample with a diagram would help everyone, The diagram needs to show how jobs are running, how many database it is configured for and more..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 386f5b1f-e835-0a3b-8e3f-302a6bf5670e
* Version Independent ID: 2470305f-0366-36ba-5365-adba61dd02b2
* Content: [Creat

[2018-07-19 18:01] Mike-Ubezzi-MSFT commented on #11842
@florinciubotariu The [Service Bus pricing calculator](https://azure.microsoft.com/en-us/pricing/calculator/#service-bus983e83ed-f79c-4d17-b09b-ed53ba55b4fb
) should be able to provide you with the information you are seeking.

[2018-07-19 18:02] MohitGargMSFT commented on #11714
@jasonsch69 Apologies for your inconvenience here. I understand that this might be blocker for your work. I would suggest you to open Azure Support Ticket so that identity support engineer could look into it and probably help resolve your issue. Please let me know if you have limitation in your existing Support plan to a open support ticket and I will assist you on it.

[2018-07-19 18:03] MicahMcKittrick-MSFT commented on #11704
I will close this out but if you feel you need more information please just let me know.

[2018-07-19 18:03] #11704 closed

[2018-07-19 18:03] MicahMcKittrick-MSFT commented on #11812
I will close this for now. When ready please let me know and we can reopen and continue.

[2018-07-19 18:03] #11812 closed

[2018-07-19 18:04] MicrosoftGuyJFlo commented on #11640
#please-close not a doc bug.

[2018-07-19 18:05] TravisCragg-MSFT commented on #11971
@knutsvendsen Thanks for the feedback. We are aware of this issue in #11806, and I have edited the doc to remove the space between the IP Addresses.

I am also working with the proper teams to get the portal issue fixed.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will re

[2018-07-19 18:05] #11971 closed

[2018-07-19 18:06] Mike-Ubezzi-MSFT commented on #11888
@rhlgupta1383 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-19 18:06] #11888 closed

[2018-07-19 18:07] Mike-Ubezzi-MSFT commented on #11896
@raja4014 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-19 18:07] #11896 closed

[2018-07-19 18:08] TravisCragg-MSFT commented on #11959
@gmoed Azure Firewall should not be blocking any inbound connections to your VMs unless they are coming from within your VNET.

If you have having issue accessing your VM, You can follow the [Cannot RDP Troubleshooting](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/troubleshoot-rdp-connection).

[2018-07-19 18:09] hning86 commented on #10336
please follow instruction here to wipe clean your Workbench installation and install it again.
https://docs.microsoft.com/en-us/azure/machine-learning/service/known-issues-and-troubleshooting-guide#wipe-clean-workbench-installation

[2018-07-19 18:11] amtandon commented on #11995
Yes, but shouldn't the documentation  be updated to reflect that?

[2018-07-19 18:14] Canutza commented on #11995
Yes, it should. The documentation is open source, on Github, you can
contribute by correcting it

On Thu, Jul 19, 2018, 9:11 PM Amrish Tandon <notifications@github.com>
wrote:

[2018-07-19 18:14] TravisCragg-MSFT commented on #12002
@Raag007 I was able to find [PowerShell instructions Here](https://docs.microsoft.com/en-us/azure/load-balancer/quickstart-create-basic-load-balancer-powershell#create-a-public-ip-address). If there is a specific example that you are looking for that would help, please let us know!

[2018-07-19 18:15] bmilbauer opened #12005 "This restore procedure doesn't work"
I've followed the instructions verbatim when restoring the system state to another computer (with the exact same hardware). It's a domain controller and I followed the exact steps in the jump (https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2008-R2-and-2008/cc794755(v=ws.10). Server 2016 OS. When I complete the system state restore from DSRM, the OS doesn't even bo

[2018-07-19 18:19] Mike-Ubezzi-MSFT commented on #11929
@giovannifl Can you review this section to ensure that all ports are open and Service Tags are correct: [Considerations when using Service Endpoints](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-vnet-service-endpoint-rule-overview#considerations-when-using-service-endpoints)
Let's start with this. Also, the [MSDN Azure SQL Database forum](https://social.msdn.microsoft.com/Forum

[2018-07-19 18:24] TravisCragg-MSFT commented on #11964
@berney If you would like to request that we support this feature for CDN, [please leave your feedback Here](https://feedback.azure.com/forums/169397-cdn?filter=top&page=2).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-19 18:24] #11964 closed

[2018-07-19 18:25] priyamohanram commented on #11879
@skeeler : Thanks for your feedback. I'll investigate and update the docs as appropriate.

#in-progress

[2018-07-19 18:25] TravisCragg-MSFT commented on #11957
@gmoed is azure firewall blocking access to your custom KMS Server or with Azure's KMS Server?

[2018-07-19 18:26] vhorne commented on #11916
@MaximRouiller
Thanks for the suggestion. I added a work item to our backlog for future consideration.

[2018-07-19 18:32] brucedkyle opened #12006 "AzCopy hangs after warning"
I am getting the following warnings.
[2018/07/19 11:20:01][WARNING] The command line ""C:\Program Files (x86)\Microsoft SDKs\Azure\AzCopy\AzCopy.exe" /Source:&lt;mysource&gt; /Dest:.&lt;mydestination&gt; /SourceKey:****** /S" in the journal file "C:\Us
ers\&lt;ME&gt;\AppData\Roaming\Microsoft\Azure\AzCopy\AzCopy.jnl" is different from your input.
[2018/07/19 11:20:01][WARNING] Incomplete operation

[2018-07-19 18:38] MicahMcKittrick-MSFT commented on #11903
@chpaadmin so we do not have any officially documented information on how to work around this when using iscsi. However I have have asked around and you could consider using fstab to map the drives so they persist through reboots. Also, I do not believe a simple reboot will cause an issue in your circumstance. However a complete deallocation of the VM very likely would. Just a thought though.

htt

[2018-07-19 18:42] SamiMajed commented on #10842
I'm able to connect but when running any query, I get the following error:
ExceptionType : DocumentClientException
ExceptionMessage :
        Message: {"Errors":["Owner resource does not exist"]}

Would you please provide further information on what this error means and how I would resolve it?
Thanks.

[2018-07-19 18:42] femsulu commented on #11985
@helderpinto Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-19 18:47] jackman0200 commented on #11943
On the last reply I got this:

“We are looking at ways to extend the timeout. This is currently only supported on Standard or Developer tiers. It is not yet available on basic. We are planning to add it there very shortly.”

So does that mean that the ability to extend the timeout will be available on Standard or Developer shortly? I initially read that to mean we can change it on Standard and Dev

[2018-07-19 18:54] Adam-Smith-MSFT commented on #11846
Thanks @cloudmelon :)  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-19 18:54] #11846 closed

[2018-07-19 18:54] mganeshphani opened #12010 "no mention of how to deal with vm scalesets?"
Can we have a code sample published on how to deal with vm scalesets as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c823b1f-688f-e1b9-1590-92d12c28b138
* Version Independent ID: ac483660-9046-51b6-b678-4e6f5cd15e74
* Content: [Use PowerShell to resize a Windows VM in Azure](https://docs.microsoft.com/en-us/az

[2018-07-19 18:55] MicahMcKittrick-MSFT commented on #11935
Okay got it! I am not aware of a way to insert a traffic manager between a storage account and function in the direction you are looking to go.

Essentially something comes into the que sends that traffic to a traffic manger and the manger then sends it to an available function. This backwords would work as shown in this diagram but not the other way around

![image](https://user-images.githubuser

[2018-07-19 19:01] cynthn commented on #12010
@mganeshphani thank you for the feedback :)  I've created a backlog work item to either update this topic or create a new topic for resizing VMs within a scale-set.

Is this something you are actively trying to do? Would you be okay giving me some details? What sizes are you moving between and are these all Windows VMs?

[2018-07-19 19:07] kobulloc-MSFT commented on #11995
@amtandon Thank you very much for bringing this to our attention.  You are correct, we no longer show Security in the Publisher Portal as shown in the documentation.  You can find OAuth 2.0 in the [Azure portal](https://portal.azure.com/) by navigating to your API Management resource group, clicking on your API Management service, and then clicking on OAuth 2.0 under Security.

@vladvino We will n

[2018-07-19 19:11] Powerhelmsman opened #12011 "Azure-All Translator Speech API link returns a 404"
This issue is created by @JonathanPalmerGD from https://github.com/MicrosoftDocs/feedback/issues/536

Describe the bug
When you click [Translator Speech API] option, it takes you to a non-secure blue 404 page.
To Reproduce
Steps to reproduce the behavior:
Go to https://docs.microsoft.com/en-us/azure/#pivot=products&panel=all
Click on [Translator Speech API]
Get a 404 page. that is not secure (whic

[2018-07-19 19:13] j-martens commented on #9522
#please-close

[2018-07-19 19:14] MohitGargMSFT commented on #11975
@BartJocque Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-19 19:15] j-martens commented on #5822
#please-close

[2018-07-19 19:16] SaurabhSharma-MSFT commented on #11987
@dougbw Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-19 19:17] MarileeTurscak-MSFT commented on #12001
Thank you for your feedback. We are looking into this now.

[2018-07-19 19:23] mganeshphani commented on #12010
@cynthn We do have all variety of VM's windows and Linux..
We are trying to move away from "A" type vm's to "D" family... I have written my script to iterate over all the subscriptions and vm's, then convert each one of them.. based on current article I have handled vm's and vm's in availability set as of now... looking to handle vm scalesets as well...

[2018-07-19 19:23] Mike-Ubezzi-MSFT commented on #12004
@narenkv Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-19 19:23] JasonWHowell commented on #8444
@dhananjaypatkar thanks for the question. Sorry we are slow to respond!

I checked with our developer, and we believe to access sqlline-thin.py in general we cannot use an HDInsight hbase cluster URL; this is due to the way the sqlline-thin.py script is written. It expects the format <IP>:8765. You could try to modify the script to not avoid this requirement and then the same principle should work

[2018-07-19 19:32] Mike-Ubezzi-MSFT commented on #11861
@DMoonesinghe You are correct. I have assigned the issue to the content author to evaluate and update as appropriate. In most cases, the documents will be replaced with newer content or simply removed. This is up to the content owner's discretion.