[2022-07-26 14:19] SwathiDhanwada-MSFT commented on #96249
@abe-cyb87 Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc once content author approves.

[2022-07-26 14:28] #96241 closed

[2022-07-26 14:34] Klaas- commented on #96112
the announcement has disappeared, the Page is giving me a  404 error code -- is the GA annoucement revoked?

[2022-07-26 14:37] kobulloc-MSFT commented on #96247
@perentorio Thank you for bringing this to our attention!  It does appear that the [`--id` parameter](https://docs.microsoft.com/en-us/cli/azure/ad/sp/credential?view=azure-cli-latest#az-ad-sp-credential-reset) was intended.  We are reviewing the documentation and will get back to you shortly.

[2022-07-26 14:45] RyanLWilliams opened #96252 "Update Supported Operating Systems"
While the supported operating systems include Gen 2 VM SKUs it should be noted that only one time assessment and update installs are supported. For automated assessments and scheduled install schedules the Virtual Machine update configuration needs to be set to "AutomaticByPlatform" which is only supported on [Gen 1 VM SKUs](https://docs.microsoft.com/en-us/azure/virtual-machines/automatic-vm-gues

[2022-07-26 14:47] RyanLWilliams opened #96253 "Add Fourth Policy"
Add details on the recently released fourth policy "[Preview]: Schedule recurring updates using Update Management Center"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5db0049-b91b-310d-e7bb-2942e6735e4a
* Version Independent ID: ad024046-fd02-aecb-d142-192b36ec17f8
* Content: [Enable periodic assessment using policy

[2022-07-26 15:18] MartinJaffer-MSFT commented on #96131
Thank you for the feedback @rpinzon .  This would be the Azure in Azure Databricks.

[2022-07-26 15:18] MartinJaffer-MSFT commented on #96131
Thank you for your feedback. This has been assigned to the content owner and will be updated as appropriate.

[2022-07-26 15:23] rwallerms commented on #96243
@***@***.***>, please investigate.

Thanks,
Ryan

From: Stewart Macdonald ***@***.***>
Sent: Tuesday, July 26, 2022 3:10 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Ryan Waller ***@***.***>; Mention ***@***.***>
Subject: [MicrosoftDocs/azure-docs] *Code not included (Issue #96243)

You forgot to include the code in your tutorial.

[image]<https://nam06.safelinks.protection.outlook.com/?url=ht

[2022-07-26 15:24] dbuschi opened #96254 "Missing instructions?"
I can't get the tutorial to work and found one item in the instructions that is unclear to me:
In section [Subscribe to the event](https://docs.microsoft.com/en-us/azure/event-hubs/store-captured-data-data-warehouse#subscribe-to-the-event), there is a final item:

_9. Select the App Service plan (not the App Service) in the list of resources in the resource group._

but nothing is done with the Ap

[2022-07-26 15:25] glemis opened #96255 "ACS C# authorization example not fully working -> payload body not respected"
Example seems to work and returns a 200 success but no token is returned from `/identities?api-version=2021-03-07` only the Identity even though scopes were sent.
Return should look like:
`{"identity":{"id":"8:..."},"accessToken":{"token":"ey...XA","expiresOn":"2022-07-27T14:59:16.8238331+00:00"}}`
But looks like so: `{"identity":{"id":"8:..."}}`

When done in post man it properly returns the toke

[2022-07-26 15:40] himanshusinha-msft commented on #95916
@OMGUSED : We are assigning this to the author , they will update the doc if they think its appropiate .

[2022-07-26 15:46] Sharmistha-Rai commented on #95274
Although the details which you have mentioned also make sense. We will see if we can add those details to this doc.

[2022-07-26 15:53] glemis commented on #96255
I have gotten the example to work by modifying code in following way.

In section **Create a request message**
I changed
[code]

To Be

[code]
This forced the content type header to be `application/json` rather then `text/plain`

[2022-07-26 15:56] VitalyMCT opened #96256 "Hyperscale scaling SLAs"
The blog post at https://azure.microsoft.com/en-ca/blog/resource-governance-in-azure-sql-database mentions the following:

![image](https://user-images.githubusercontent.com/1765732/181053098-43681535-6323-4d27-8adc-3d2c0d210360.png)

However, the latest SLA page at https://azure.microsoft.com/en-ca/support/legal/sla/azure-sql-database/v1_8 does not mention any scaling SLAs for Hyperscale. Neither

[2022-07-26 16:06] GeethaThatipatri-MSFT commented on #96052
@SasidharKVN $import is supported only in the FHIR server of Azure Health Data Services. It is not supported in Azure API for FHIR

[2022-07-26 16:10] GeethaThatipatri-MSFT commented on #96256
@VitalyMCT Thanks for reaching out, We will Investigate and update you shortly.

[2022-07-26 16:17] davidsmatlak commented on #95718
#reassign:flang-msft

[2022-07-26 16:20] davidsmatlak commented on #95718
Reassigned to @flang-msft who will follow up with the product team.

[2022-07-26 16:35] stevejmorgan commented on #95274
Hey Sharmistha
Thanks for the response. The article really doesnlt explain how to monitor a source VM to see if ASR is an appropriate solution. It does litterally just says "here's how to open Resource Monitor and here's how to open perfmon". For customers who don't know how to monitor churn it's doesn't explain how to do it which would seem like a gap in the docs.

[2022-07-26 16:42] YutongTie-MSFT commented on #96123
Hello @likebupt Could you please add a note/ tips for customer so that they are aware of this issue? Thanks

[2022-07-26 16:48] mbender-ms commented on #61260
This is being resolved in a future doc  update.

#please-close

[2022-07-26 16:48] #61260 closed

[2022-07-26 16:54] Heidilohr commented on #93906
I've updated the documentation with the corrected formatting. Thank you for bringing this to my attention. #please-close

[2022-07-26 16:54] #93906 closed

[2022-07-26 17:12] GitaraniSharma-MSFT commented on #96145
@ankur8 , thank you for your feedback. This issue is already raised and assigned to author on https://github.com/MicrosoftDocs/azure-docs/issues/77499 to validate & update the doc accordingly, where the PG is working to update the doc.

We are closing this issue as duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/77499. If there are further questions regarding this matter, please re

[2022-07-26 17:12] #96145 closed

[2022-07-26 17:14] GitaraniSharma-MSFT commented on #77499
@damendo , do we have any updates on this issue yet.

We've several doc feedbacks raised for this issue which are pending:

https://github.com/MicrosoftDocs/azure-docs/issues/96145
https://github.com/MicrosoftDocs/azure-docs/issues/76882
https://github.com/MicrosoftDocs/azure-docs/issues/75373
https://github.com/MicrosoftDocs/azure-docs/issues/77877

[2022-07-26 17:17] GitaraniSharma-MSFT commented on #96179
@GouravGit , the doc has been updated to fix the typo as suggested.

![image](https://user-images.githubusercontent.com/67630903/181069935-2c0242cf-af0c-4c78-ab50-1d67acce9fa2.png)

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-07-26 17:17] #96179 closed

[2022-07-26 17:21] tejaswikolli-web commented on #91422
The docker trust command set only covers basic scenarios of Notary v1.
Things like key rotation are not covered by docker trust and is covered by notary CLI.
The latest version is v0.6.1 but I think the latest working one is v0.6.0.

[2022-07-26 17:26] tfitzmac commented on #96155
@edburns - thanks for making this addition. I want to note that jsonc is covered in the [template syntax article](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/syntax#comments-and-metadata) so you might want to link to that coverage rather than duplicating a lot of the coverage in other places.

[2022-07-26 17:26] GitaraniSharma-MSFT commented on #96228
@sentry-cy , the screen shot for Purge button is correct in this doc as this documentation is for Azure Front Door Standard/Premium and not Azure Front Door (classic/old).
I confirmed it in my lab by deploying an Azure Front Door Standard/Premium:

![image](https://user-images.githubusercontent.com/67630903/181071026-f7f172c0-befa-4c6d-9bbe-0fe17528ac2b.png)

For more information on Azure Front Do

[2022-07-26 17:26] #96228 closed

[2022-07-26 17:28] KranthiPakala-MSFT commented on #96246
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-07-26 17:28] mbender-ms commented on #72475
Doc updated.
#please-close

[2022-07-26 17:28] #72475 closed

[2022-07-26 17:29] KranthiPakala-MSFT commented on #96254
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-07-26 17:30] YutongTie-MSFT commented on #96136
@balapv This seems a internal document feedback, I will create a PR for it, please take a look. Thank you.

[2022-07-26 17:33] batamig commented on #91254
Hi - and thanks for writing into docs! I'm tagging a couple of current content owners to advise.
@cwatson-cat or @yelevin can you take a look?

[2022-07-26 17:41] batamig commented on #92175
Thanks for writing into docs! I'm tagging a current content owner to advise
@aashishr, can you please take a look?

Also - as explained in the previous comment, you can edit the content directly in your own pull request. Please contact me offline for the link to the instructions.

[2022-07-26 18:00] SaiKishor-MSFT commented on #96238
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2022-07-26 18:06] seesharprun commented on #95843
I am closing this issue since I was unable to reproduce the steps.

@westmorland, if you can reproduce the issue, please re-open the issue and include the steps.

Thank you!

#please-close

[2022-07-26 18:06] #95843 closed

[2022-07-26 18:06] seesharprun commented on #95928
Hello @abinav2307, can you help answer the questions i this issue?

[2022-07-26 18:10] seesharprun commented on #95755
Hello @eugbyte!

We are publishing an update to the linux emulator instructions for the MongoDB API to not specify memory and CPU along with using the correct tag.

This should resolve the issue in this thread. If you run into any more issues with the docker flags, please consider giving feedback on the [product feedback page](https://feedback.azure.com/d365community/forum/3002b3be-0d25-ec11-b6e6-

[2022-07-26 18:10] seesharprun commented on #95755
#reassign:seesharprun

[2022-07-26 18:13] seesharprun commented on #95589
#assign:seesharprun

Thank you for your feedback @waszak!

At this time, the documentation page only covers how to use the emulator with a Windows agent. We will consider adding a section to the page for the Linux agent in the future.

#please-close

[2022-07-26 18:13] #95589 closed

[2022-07-26 18:14] seesharprun commented on #95362
@vishalaj1, I believe the diagram I shared answers your question about "data usage" and how it's defined in Azure Cosmos DB metrics. I will proceed to close this issue.

If you have any more questions, please feel free to re-open this issue or give feedback in our [product support forums](https://feedback.azure.com/d365community/forum/3002b3be-0d25-ec11-b6e6-000d3a4f0858).

#please-close

[2022-07-26 18:14] #95362 closed

[2022-07-26 18:15] seesharprun commented on #95962
@milismsft, do you have any release notes for 2.14.9?

[2022-07-26 18:20] SnehaSudhirG commented on #95967
@ld0614 - As confirmed by the team - pl note that the support is for **WindowsServer 2012-R2-datacenter** and not 2012.

[2022-07-26 18:22] seesharprun commented on #96222
#reassign:seesharprun

@minjich, I just did a scrub of this page and everything seems to work as expected.

If you check the [Azure Cosmos DB blog](https://devblogs.microsoft.com/cosmosdb/), there seemed to be a few improvements to how you can enable and disable indexing, but nothing substantial to how indexing paths were defined.

For now, I will close this issue. If you have any specific code sa

[2022-07-26 18:22] #96222 closed

[2022-07-26 18:25] seesharprun commented on #96166
#reassign:seesharprun

Hey @griffinbird! You are right and we are fixing the header of this doc immediately. As soon as the fix is done and in the queue to be published, we will close this issue.

Thanks for your feedback! Expect the fix to be live shortly.

[2022-07-26 18:42] #96166 closed

[2022-07-26 19:02] gstevens-kyriba opened #96261 "Test App Deployment failing"
Upon running the test app script, I get failures:

pod/test-agic-app-pod created
service/test-agic-app-service unchanged
error: error validating "STDIN": error validating data: [ValidationError(Ingress.spec.rules[0].http.paths[0].backend): unknown field "serviceName" in io.k8s.api.networking.v1.IngressBackend, ValidationError(Ingress.spec.rules[0].http.paths[0].backend): unknown field "servicePort

[2022-07-26 19:15] VitalyMCT commented on #96256
Thanks @GeethaThatipatri-MSFT.

Additional info: https://docs.microsoft.com/en-us/azure/azure-sql/database/single-database-scale states this for Hyperscale:

However, this seems to be "best effort" timing, not an SLA. And my client has since multiple-hour scaling performance, so significantly slower than this 2 minute duration.

[2022-07-26 19:38] w-azure commented on #95876
Thanks @kduenke for the feedback. We added that line to the X64/AMD64 section section. The full code block is now:

[code]

You should see this published in the next 24 hours. Closing this issue, but feel free to reopen it if you'd like to continue the conversation.
Thanks again.
#please-close

[2022-07-26 19:38] #95876 closed

[2022-07-26 19:45] iwafula025 opened #96263 "Title is misleading/self-contradictory"
The title of this doc implies that you can move a workspace but really the doc talks about migrating parameters. Id suggest changing this to something that accurately reflects the content of the document

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d78cf71-d050-1d54-6048-7e92ea98084d
* Version Independent ID: 16675b

[2022-07-26 19:54] markingmyname commented on #96232
#assing: @markingmyname

[2022-07-26 19:56] markingmyname commented on #96218
#assign: @GennadNY

[2022-07-26 19:57] markingmyname commented on #96041
#assign: @markingmyname

[2022-07-26 19:59] markingmyname commented on #95976
PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/205916/files - corrected this.

closing this Issue.

[2022-07-26 19:59] markingmyname commented on #95976
#assign: @markingmyname

[2022-07-26 20:11] seesharprun commented on #95949
#assign:seesharprun

Hello @auwimo, we have updated the documentation article to include an **increment** operation in that first code block.

The change should be live soon.

[2022-07-26 20:11] PRMerger20 commented on #95949
Users seesharprun are already assigned.

[2022-07-26 20:14] hemantmalik opened #96266 "Update Prerequisites section to mention required role to be Owner or Contributor"
The requirement for the user to be a Subscription Owner is now in alignment with [Microsoft Azure Marketplace docs ](https://docs.microsoft.com/en-us/marketplace/azure-purchasing-invoicing#permission-to-purchase) where the user needs to have a role of Owner or Contributor. Can you please help us update the [Prerequisites](https://docs.microsoft.com/en-us/azure/partner-solutions/elastic/create#prer

[2022-07-26 20:19] seesharprun commented on #96154
#assign:seesharprun

Hello @thomasbrueggemann, your assumption is correct. If you do not set the If-Match header, then the latest update always wins. Setting the If-Match header only conditionally updates the item with the eTags match, otherwise it rejects the operation outright. Optimistic Concurrency Control is really something you implement client-side, and there's no server-side magic behind t

[2022-07-26 20:32] #95949 closed

[2022-07-26 20:35] dstrodtman-db commented on #61140
#please-close

[2022-07-26 20:35] PRMerger13 commented on #61140
Invalid command: '#please-close'. Only Microsoft employees can use this command.

[2022-07-26 21:02] austinmccollum commented on #95656
I updated the article to clarify the conditions and actions are for automation rules.

[2022-07-26 21:03] austinmccollum commented on #95656
#please-close

[2022-07-26 21:03] #95656 closed

[2022-07-26 21:03] davidsmatlak commented on #96266
#assign:davidsmatlak

[2022-07-26 21:12] davidsmatlak commented on #96266
Added _Contributor_ to the **Prerequisites** section. This issue will automatically close when the change is approved and merged. After the merge, the updated content will be online within 24 hours.

[2022-07-26 21:34] mike-urnun-msft commented on #96173
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-07-26 21:34] #96173 closed

[2022-07-26 21:34] #96266 closed

[2022-07-26 21:34] mike-urnun-msft commented on #96175
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-07-26 21:34] #96175 closed

[2022-07-26 21:37] marcinburak commented on #96200
The package is back and up on NuGet, I was able to use it in my code with success, thank you, I'm closing the issue :)

[2022-07-26 21:37] #96200 closed

[2022-07-26 21:43] spelluru commented on #96254
@dbuschi - Please ignore that instruction about the App Service. We are deprecating this tutorial in favour of the new tutorial:
https://docs.microsoft.com/en-us/azure/stream-analytics/event-hubs-parquet-capture-tutorial. Thanks

[2022-07-26 22:01] mike-urnun-msft commented on #96243
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-07-26 22:09] dciborow opened #96270 "Missing directions for how to "refrence through another app""
The page mentions that you can set the visibility to hidden, in order to reference the container from another app.
<img width="698" alt="image" src="https://user-images.githubusercontent.com/9027725/181120884-8334480d-1dc9-4fe8-a37e-5d185acc8144.png">

But there is no documentation explaining how to actually do this. It seems it may not even be possible at this point in time.

---
#### Document De

[2022-07-26 22:10] jereytucker opened #96271 "# #update"
# #update

_Originally posted by @jereytucker in https://github.com/MicrosoftDocs/azure-docs/pull/92966#pullrequestreview-1051669493_

[2022-07-26 22:25] johnmarco commented on #96095
@pierreroman thank you for bringing this to our attention. I've made some changes to the procedure so that it reflects the actual onscreen experience. The new version should be live soon. I will now close this issue.

#please-close

[2022-07-26 22:25] #96095 closed

[2022-07-26 22:40] thomasbrueggemann commented on #96154
@seesharprun Thanks for your feedback!. I agree the paragraph you quoted explains this clearly if read on its own. I read it in context of the multi-region writes mentioned just before the quoted paragraph.
My suggestion would be to move this paragraph up above the paragraph about single-region writes. Then it establishes the baseline that the _etag is always needed + explanation why. And then the

[2022-07-26 22:56] ChaitanyaNaykodi-MSFT commented on #96261
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-07-26 23:01] dlepow commented on #95078
@ge-gao - Thanks for the doc suggestion! I've noted it for a future update of this article where we might be able to include it. According to our usual policy, I'll now proceed to close this issue. If you have further information or would like to continue the discussion, please tag me and I'll reopen the issue. Thank you!
#please-close

[2022-07-26 23:01] #95078 closed

[2022-07-26 23:05] frigon opened #96274 "Linked functions app assumes "/api" route prefix."
The documentation does not state that calls will assume the external function app retains the default "api" route prefix.  Many apps remove that prefix in the host.json.  unless there is an "api" route the linked function class will fail.  Sadly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2af70bd0-a356-b007-1087-7f

[2022-07-26 23:28] TomChapple opened #96275 "Add `ORA_NCHAR_LITERAL_REPLACE` setting to "Common Problems""
Our development team recently encountered an issue with characters outside of [ISO/IEC 8859][1] not being inserted into an Oracle Database correctly via the Oracle connector for Logic Apps. They would instead be inserted as upside-down question marks (i.e. "¿"), even if the column in question could support the provided characters (e.g. a column of type NCLOB with a national character set of `AL16U

[2022-07-26 23:44] nagasandeepMSFT opened #96276 "Update Regional Vnet Integration limitations list"
[Enter feedback here]

Raising feedback on the limitation section https://docs.microsoft.com/en-us/azure/app-service/overview-vnet-integration#limitations

This page only exclusively covers some management operations like:
You can't change the subscription of an app or a plan while there's an app that's using regional virtual network integration.

Requesting to update the document with a generic s

[2022-07-27 00:16] sfc-gh-gmullen opened #96277 "Update Doc"
SAML2_PROVIDER = 'AzureAD'
should be
SAML2_PROVIDER = 'Custom'
as noted in the Snowflake documentation(https://docs.snowflake.com/en/sql-reference/sql/create-security-integration-saml2.html#required-parameters)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5733ec0-25ee-bd16-58d4-6a921f6ab1fd
* Version Independent ID:

[2022-07-27 00:28] Karishma-Tiwari-MSFT commented on #96227
This has been updated.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-07-27 00:28] #96227 closed

[2022-07-27 00:33] dimitri-furman commented on #96256
Hi @VitalyMCT - thanks for bringing this up. You are correct that there is not an official SLA for scaling in Hyperscale, or for that matter in any other Azure SQL Database service tier. The blog is misleading in that sense. We will be updating it to remove the reference to a "scaling SLA".

The documentation article you mentioned in your follow-up message describes typical and representative scal

[2022-07-27 01:05] MonikaReddy-MSFT commented on #96270
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-07-27 01:06] MonikaReddy-MSFT commented on #96263
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-07-27 01:33] StephenWeatherford opened #96278 ""use-stable-resource-identifier" should be "use-stable-resource-identifiers""
"use-stable-resource-identifier" should be "use-stable-resource-identifiers" thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aac09e2c-aff8-769c-057b-b5444956e5b1
* Version Independent ID: 413bdcb5-fe98-57ac-2359-42addaadb748
* Content: [Linter settings for Bicep config - Azure Resource Manager](https://docs.micro

[2022-07-27 01:34] StephenWeatherford opened #96279 "Missing comma in example"
This is missing a comma:
[code]
should be
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aac09e2c-aff8-769c-057b-b5444956e5b1
* Version Independent ID: 413bdcb5-fe98-57ac-2359-42addaadb748
* Content: [Linter settings for Bicep config - Azure Resource Manager](https://docs.microsoft.com/en-us/azure/azure-resource

[2022-07-27 01:36] StephenWeatherford opened #96280 "Please remove: "verbose": false"
Customers don't generally need to worry about that (but it's available in Intellisense).

Please remove this line:
[code]

from both examples in the page, thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aac09e2c-aff8-769c-057b-b5444956e5b1
* Version Independent ID: 413bdcb5-fe98-57ac-2359-42addaadb748
* Content:

[2022-07-27 01:56] kobulloc-MSFT commented on #96116
@rscottwatson Thank you very much for bringing this to our attention!  We've updated the instructions for disabling autorotation:

Thank you again for helping to improve the documentation!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-07-27 02:02] shwetamathur7 commented on #96277
@sfc-gh-gmullen Thanks for your feedback. We will investigate and update the thread.

[2022-07-27 02:36] georgeOsdDev opened #96283 "Please add note about linuxFxVersion"
This page introduce how to upgrade language runtime version using  "az webapp config set"

az webapp config set --php-version 7.0 --resource-group <groupname> --name <appname>
az webapp config appsettings set --settings WEBSITE_NODE_DEFAULT_VERSION=~14 --resource-group <groupname> --name <appname>
az webapp config set --python-version 3.8 --resource-group <groupname> --name <appname>
az webapp con

[2022-07-27 03:00] pnarsi opened #96284 "Network requirements"
This "Connect different data sources" page is currently only talking about authentication only. It is missing details around network connectivity requirement. For example how does Azure Metric Advisor connect to an Azure PaaS service that has a Firewall? Does Azure Metric Advisor have some sort of VNET integration capability or do we need to whitelist an IP address in the Azure PaaS Service Firewa

[2022-07-27 03:01] SnehaAgrawal-MSFT commented on #96276
@nagasandeepMSFT Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-27 03:03] #96025 closed

[2022-07-27 03:03] AuWiMo commented on #95949
Thank you for the valuable contribution!

[2022-07-27 03:03] SnehaAgrawal-MSFT commented on #96274
@frigon Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-27 03:04] ChaitanyaNaykodi-MSFT commented on #96025
Thank you @KyleHammack for your feedback, I have made the suggested change and it will go live soon.

[2022-07-27 03:09] Venkateshdodda-MSFT commented on #96283
@georgeOsdDev Thank you for your feedback! We will review and update as appropriate.

[2022-07-27 03:27] MayankBargali-MSFT commented on #96275
@TomChapple Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-07-27 04:18] SwathiDhanwada-MSFT commented on #96280
@StephenWeatherford Thanks for your comment. We will review the issue and get back to you shortly

[2022-07-27 04:18] SwathiDhanwada-MSFT commented on #96279
@StephenWeatherford Thanks for your comment. We will review the issue and get back to you shortly

[2022-07-27 04:20] SwathiDhanwada-MSFT commented on #96278
@StephenWeatherford
Thanks for your comment. We will review the issue and get back to you shortly

[2022-07-27 04:22] SwathiDhanwada-MSFT commented on #96252
@RyanLWilliams
Thanks for your comment. We will review the issue and get back to you shortly

[2022-07-27 04:22] SwathiDhanwada-MSFT commented on #96253
@RyanLWilliams Thanks for your comment. We will review the issue and get back to you shortly

[2022-07-27 04:26] amanmcse commented on #96109
@MeanDoubleStain Closing out the issue. Feel free to tag me in your reply if you have any questions.

[2022-07-27 04:26] #96109 closed

[2022-07-27 04:35] #95976 closed

[2022-07-27 04:38] #96136 closed

[2022-07-27 05:06] sharath-satish-msft commented on #93365
You will need to contact Support and they can delete unused publisher accounts for you.

[2022-07-27 05:07] sharath-satish-msft commented on #93365
Documentation update to highlight this is drafted and will be published soon. Closing this item.

[2022-07-27 05:08] SnehaAgrawal-MSFT commented on #96121
@DavidPaf Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-27 05:09] #96121 closed

[2022-07-27 05:20] SwathiDhanwada-MSFT commented on #96252
Assigning to content author  @SnehaSudhirG for review.

[2022-07-27 05:26] SwathiDhanwada-MSFT commented on #96253
@RyanLWilliams Information about the mentioned policy is documented [here](https://docs.microsoft.com/en-us/azure/update-center/scheduled-patching?tabs=schedule-updates-single-overview%2Cschedule-updates-scale-overview#assign-a-policy).

As there are no further documentation changes, we will close the issue for now. If there are further questions, please revert and we will be glad to assist you.

[2022-07-27 05:26] #96253 closed

[2022-07-27 05:32] SwathiDhanwada-MSFT commented on #96278
@StephenWeatherford  Thanks for the feedback! Referenced change has been fixed, and the change should reflect on the doc within 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-07-27 05:32] #96278 closed

[2022-07-27 05:33] SwathiDhanwada-MSFT commented on #96279
@StephenWeatherford Thanks for the feedback! Referenced change has been fixed, and the change should reflect on the doc within 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-07-27 05:33] #96279 closed

[2022-07-27 05:34] kshan212 opened #96286 "Misspelling SQL MI configuration on Azure Portal"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-07-27 05:42] SnehaSudhirG commented on #95967
#please-close

[2022-07-27 05:42] #95967 closed

[2022-07-27 05:45] SreejaBhattacharya-MSFT commented on #96217
Here is more information about Konnectivity
[https://kubernetes.io/docs/tasks/extend-kubernetes/setup-konnectivity/](https://kubernetes.io/docs/tasks/extend-kubernetes/setup-konnectivity/)
[https://docs.microsoft.com/en-us/azure/aks/faq#how-does-the-managed-control-plane-communicate-with-my-nodes](https://docs.microsoft.com/en-us/azure/aks/faq#how-does-the-managed-control-plane-communicate-with-my

[2022-07-27 05:46] SreejaBhattacharya-MSFT commented on #96217
I am closing this thread now, please feel free to revert back if you have any questions. Thanks.

[2022-07-27 05:46] #96217 closed

[2022-07-27 05:50] SwathiDhanwada-MSFT commented on #96280
@mumian Can you please review this ?

[2022-07-27 05:51] #96249 closed

[2022-07-27 06:16] ChandraReddy97 commented on #48029
@IEvangelist can you give any number of days to wait before response after filling in the form?

today morning i have  requested access did not receive any message (email) about:

thanks for requesting acccess
We have seen your request we are working on it
You have access now

[2022-07-27 06:34] SumanthMarigowda commented on #96213
@yosoyjay PR has been initiated! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-07-27 06:34] #96213 closed

[2022-07-27 06:40] dani3lheidemann opened #96289 "Teams Optimization for AVD Personal Desktops"
Hi Azure Team,

I want to ask what do you mean with "Windows 10 or 11 Enterprise virtual machine (VM)" in this sentence:

_Connect to a Windows 10 or 11 Multi-session or Windows 10 or 11 Enterprise virtual machine (VM)._

Does this also mean that Teams optimization is supported AVD Personal Desktops?
Thank you!

Best
Daniel

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2022-07-27 06:59] madsd commented on #96276
@nagasandeepMSFT thank you for the input. We can add, that you cannot move the App Service plan while a virtual network integration exists. But regarding change, just to clarify - what do you mean by "we can't change the App Service Plan when regional Vnet is integrated." - what specific change have you tried, that was not possible? You should be able to scale up and out.

[2022-07-27 07:24] Klaas- opened #96290 "Include local nvme disks in table"
Hi,
I recently looked at using L*Series VMs but I noticed that their nvme disks are not encrypted when using encryption at host, which is somewhat contrary to what I read in this document (Temp disk encryption). I am guessing you don't view the temporary nvme disks as real "temp" disks? :) If that is the case please note this somewhere in this document.

https://github.com/MicrosoftDocs/azure-docs

[2022-07-27 07:53] yichungyu opened #96291 "Is it possible to explicitly list the inbound/outbound port requirements for client-side NSGs?"
[Enter feedback here]
The client-side NSG requirements are probably just the reverse of the inbound/outbound requirements for Redis vnet NSG, but it will be more user-friendly if our official documentation can include a section for this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bced23e-5c67-3a63-06f7-c659ba56b5e

[2022-07-27 07:58] MughundhanRaveendran-MSFT commented on #95950
@JimInWA , I will close the issue for now. Feel free to reopen the issue if you have any questions

[2022-07-27 08:20] SreejaBhattacharya-MSFT commented on #96290
@Klaas- Thanks for bringing this to our notice. We will look into this and provide an update accordingly.

[2022-07-27 08:31] Venkateshdodda-MSFT commented on #96283
@georgeOsdDev as mentioned in this [section of the document](https://docs.microsoft.com/en-us/azure/app-service/overview-patch-os-runtime#new-major-and-minor-versions) it is called out in the Note section that these example cmdlets are target for windows app service only.

![image](https://user-images.githubusercontent.com/103091186/181200523-e520e08a-f984-46f2-9b70-c19dab60e583.png)

Hope that he

[2022-07-27 08:32] Venkateshdodda-MSFT commented on #96283
@georgeOsdDev At this moment as there is no update required, I am proceeding to close this issue.

If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-07-27 08:32] #96283 closed

[2022-07-27 09:17] loewel opened #96293 "Wrong variable assignment for netBiosDomainName in "Assign directory level access permissions""
In section "Assign directory level access permission" in the second code block there is a wrong variable assignment for $netBiosDomainName.

Currently it says:
$netBiosDomainName = $domainInformation.DnsRoot

But it shoud be:
$netBiosDomainName = $domainInformation.netBiosName

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-07-27 09:19] Leoer opened #96294 "Request more details about the connection process with Putty"
How can I get the public ip address? And what does credential used to create VM mean?
![image](https://user-images.githubusercontent.com/102143373/181209036-58a59c76-b8ec-4a6a-8d71-55ded62331b2.png)
Could you please describe the connection process with Putty in detail? So that readers can understand it more easily.
Thanks a lot.
---
#### Document Details

⚠ *Do not edit this section. It is require

[2022-07-27 09:30] dbuschi commented on #96254
Thanks for the prompt response. I'll close the issue and enjoy the new tutorial.

[2022-07-27 09:30] #96254 closed

[2022-07-27 09:36] JonathanBrockhausen opened #96295 "Add a link to documentation for setting ms-ds-consistencyguid via Powershell"
It would be very helpful if this page included a link to the documentation on how to set the attribute via Powershell.

Section in question: "Permission required" (https://docs.microsoft.com/en-us/azure/active-directory/hybrid/plan-connect-design-concepts#permission-required)

Link to the documentation for the powershell cmdlet: https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to

[2022-07-27 09:48] Borgquite opened #96296 "'Microsoft Intune Enrollment' not supported for B2B users when also required to use App Protection Policies"
I have just run into this scenario with Azure Terms of Use

Consider the following situation where a user has two accounts

User on Tenant 1: user.name1@tenant1.com

User on Tenant 2: user.name1@tenant2.com
- This user is a B2B Guest user on Tenant 1 for Microsoft Teams

The user on Tenant 1 has Intune App Protection Policies applied.
Also a conditional policy for 'Azure AD Terms of Use' is applie

[2022-07-27 09:52] shwetamathur7 commented on #96295
@JonathanBrockhausen Thanks for your feedback. We will investigate and update the thread.

[2022-07-27 09:58] SreejaBhattacharya-MSFT commented on #96293
@loewel thanks for bringing it to our notice. We will look into this and update the document.

[2022-07-27 10:32] SnehaAgrawal-MSFT commented on #96141
@DavidPaf Thanks for reaching here! The PR has been raised once reviewed by owner of the doc would be visible.

[2022-07-27 10:32] #96141 closed

[2022-07-27 10:52] SUNNUWORKS opened #96298 "Missing "Service Principle" Authentication Section"
This page is missing with the section for service principal authentication, and it should be there as there is certain things we must provide, and it is confusing and one of fields like "Resource" we don't really know what to provide in.
Kindly help!

<img width="450" alt="image" src="https://user-images.githubusercontent.com/20816905/181230080-82ce65f9-af9c-40fe-a2ad-113137bc6804.png">

---
####

[2022-07-27 10:54] v-amallick commented on #96040
@peterkh - We have discussed your query with the product team. For further investigation, request you to share details on the issue you are facing.

You may also want to check the following articles:

- For VM disk encryption, see [Server-side encryption of Azure Disk Storage](https://docs.microsoft.com/azure/virtual-machines/disk-encryption).
- For encrypting vaults with keyvault, see [Encryption

[2022-07-27 10:58] #96293 closed

[2022-07-27 11:53] shwetamathur7 commented on #96277
@sfc-gh-gmullen Thanks for your contribution to enhance the documentation. Updated query with CUSTOM is SAML2_PROVIDER as mentioned in step 6 as well. Changes will reflect after author's reviews the changes.

[2022-07-27 11:53] #96277 closed

[2022-07-27 11:53] dominicbetts commented on #96219
The device template doc updates are now live. Thanks again!

#please-close

[2022-07-27 11:54] #96219 closed

[2022-07-27 11:54] Klaas- commented on #72921
so this is still open over a year later :) I have a new use case for the nvme temp disks and I do not see any progress here. There is still no general guidance on how to use them -- I would prefer to use them like /mnt/resource via cloud-init, the hpc people seem to just run a shell script on reboot which is kinda ugly, but would work

[2022-07-27 12:01] mayurivikrant opened #96302 "The command to disable azure monitor scheduled query alert is wrong."
Command to disable the azure monitor scheduled alert is wrong. It should be " az monitor scheduled-query update -g {ResourceGroup} -n {AlertRuleName} --disabled **true** " instead of "az monitor scheduled-query update -g {ResourceGroup} -n {AlertRuleName} --disabled **false**"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-07-27 12:19] crgarcia12 opened #96303 "How do you upgrade the core tools?"
[Enter feedback here]
This is the first search page when looking for "How do you upgrade the Functions clli?"
Maybe we should include a link or something to how to upgrade the cli and core tools

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2646ad4-34b7-fc5e-dcc9-d53a061df394
* Version Independent ID: bbff4fda-24e4-2

[2022-07-27 12:26] minow2 opened #96304 "number of profilers"
[Enter feedback here]
we are testing other vendors for byte-code instrumentation and we notified that we cannot attach 2 profilers to the web-app. this is a limitation of the webapp on azure that is not listed here on the document

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3f65bbb-03b8-6d23-5f08-23adba8a7bfe
* Ver

[2022-07-27 12:27] naakhtar commented on #87924
@kheiman61

I have tested in ESP-IDF 4.3 and Kernal panic issue is persisting.

Below are logs.

TELE Timer 0 Val is = 3930
TELE Timer 0 Val is = 3931
I (3932412) fota: Running Fota Stack!
E (3933392) tls_freertos: Reading failed, errno= 128
E (3933392) MQTT: A single byte was not read from the transport: transportStatus=-1.
E (3933392) MQTT: Receiving incoming packet length failed. Status=MQTTRec

[2022-07-27 12:29] DeanGross opened #96305 "Making app eligible for blocking"
Please provide some information about what needs to be done to make an app eligible for blocking.

I am assuming that it needs to be registered in Azure AD, but it would be helpful to have this explicitly stated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c150664-0126-912e-699b-f97c64ee6b4d
* Version Independent I

[2022-07-27 12:31] naakhtar opened #96306 "Kernal Panic Issue even with ESP-IDF V4.3"
I have tested same Kernal panic issue in V4.3 and below is the outcome.

TELE Timer 0 Val is = 3930
TELE Timer 0 Val is = 3931
I (3932412) fota: Running Fota Stack!
E (3933392) tls_freertos: Reading failed, errno= 128
E (3933392) MQTT: A single byte was not read from the transport: transportStatus=-1.
E (3933392) MQTT: Receiving incoming packet length failed. Status=MQTTRecvFailed
E (3933402) MQTT

[2022-07-27 12:38] gellner opened #96307 "Prereqs issue for connecting OpenShift cluster to Azure Arc"
Under the prerequisites section for PowerShell implementation steps ( https://docs.microsoft.com/en-au/azure/azure-arc/kubernetes/quickstart-connect-cluster?tabs=azure-powershell#prerequisites ), there is an item necessary for successful deployment on OpenShift clusters.

This prereq is still required for OpenShift clusters if the process is followed with Azure CLI, however it is not included in t

[2022-07-27 13:33] SetTrend opened #96309 "Documentation doesn't get clear on when to use the different tools"
# Current Situation

Currently, the below mentioned page merely lists all available tools for executing Bicep commands, and it suggests to download them all.

Eventually, all four approaches …

- VSCode extension
- Bicep CLI
- Azure CLI with Bicep tool
- Azure PowerShell

… perform the same kind of action.

It sure doesn't make sense to install them all and have four tools all performing the same

[2022-07-27 13:37] VitalyMCT commented on #96256
Thanks @dimitri-furman. I appreciate the clarification around the statement in the blog.

I figured it might've been out of date, as that post is about 3 years old. However, it's always great to get confirmation on these things from the official source, rather than have me assume things.

[2022-07-27 13:40] jpvdham opened #96310 "Wrong CIDR notation"
In the example there seems to be a wrong CIDR notation:

"networkCIDRForApplianceVM": "10.14.10.1/24",

I think i should be 10.14.10.0/24

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5552f7e0-11e2-d29d-79ba-f80fdc861de9
* Version Independent ID: 403cf634-0799-86bd-d26c-c3a723b1126d
* Content: [Deploy Arc for Azure VM

[2022-07-27 13:53] GeethaThatipatri-MSFT commented on #96052
@SasidharKVN We will proceed to close this issue now. If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-07-27 13:53] #96052 closed

[2022-07-27 13:55] rscottwatson commented on #96116
Won't that affect the managed identity? If I granted permissions to the MI won't a new MI get created when the addon is enabled again which will obviously not have any permissions to access any vaults?

[2022-07-27 14:14] mumurug-MSFT commented on #96303
@crgarcia12 Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-27 14:17] erikorange opened #96311 "Inconsistencies in the "View and update the current runtime version" section"
Step 2 says "In the example below, the version is set to ~3.", but the screenshot shows the Runtime version as ~4:
![image](https://user-images.githubusercontent.com/24362855/181267278-5fc8ce78-10e1-4077-9650-81c7c861e2c0.png)

Then, Step 3 says "To pin your function app to the version 1.x runtime, choose ~1 under Runtime version.".  This is not consistent with Step 2, where the runtime is already

[2022-07-27 14:19] AshokPeddakotla-MSFT commented on #96149
@kd365 If there are no errors and input/output is configured correctly, Need to investigate further on what went wrong.

@kgremban Before redirecting to support, can you confirm if there are any known issues with ML model? Do you have any further suggestions on this issue?

[2022-07-27 14:25] kev1010 opened #96312 "Missing AADSTS501491"
AADSTS501491 is missing from this document

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a826ee6f-f457-7109-9f77-67c57977d4e7
* Version Independent ID: 11766f27-492e-a579-dced-8a42528cbb47
* Content: [Azure AD authentication & authorization error codes - Microsoft Entra](https://docs.microsoft.com/en-us/azure/active-d

[2022-07-27 14:29] MonikaReddy-MSFT commented on #96302
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-07-27 14:29] MonikaReddy-MSFT commented on #96304
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-07-27 14:38] mrbullwinkle commented on #96284
I believe that from a VNET network security standpoint Metrics Advisor would fall under the `CognitiveServicesManagement` service tag. It is not listed explicitly in that Metrics Advisor is now part of Applied AI Services, but I believe the IPs for the service still live under that tag. I will confirm and will get an article added for Metrics Advisor and other Applied AI Services to clarify this.

[2022-07-27 14:53] MikeDembek commented on #59677
Could we get an update on this?  Windows documentation is clear that IPv6 should not be disabled:

https://docs.microsoft.com/en-us/troubleshoot/windows-server/networking/configure-ipv6-in-windows

How do we reconcile these recommendations?

[2022-07-27 15:05] roygara commented on #96112
@Klaas- @dylanhughes The feature isn't GA, so we'll go ahead and close out this issue.

Thanks for reaching out!

#please-close

[2022-07-27 15:10] seesharprun commented on #96154
We are publishing a new version of the article with that section re-organized to be a bit clearer.

This issue will auto-close once the new article enters our publishing pipeline, and it should be available shortly after.

Thanks @thomasbrueggemann!

[2022-07-27 15:12] JamesTran-MSFT commented on #96305
@DeanGross
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-27 15:12] JamesTran-MSFT commented on #96312
@kev1010
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-27 15:20] daveaglick opened #96313 "The option to switch to classic work items mode does not appear to be available anymore"
The page has a section about switching back to classic mode for work item creation, but that does not seem to be available anymore (at least it's not showing up in the portal for me).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d845657-c7fe-5c8e-b34a-947a38fca588
* Version Independent ID: dfad242f-8928-0eb3-b991-9b

[2022-07-27 15:26] spelluru commented on #96254
@dbuschi - I have fixed issues with the tutorial sample on GitHub and submitted a PR. Please keep an eye out for the changes. I have tested my changes and it worked smoothly.

https://github.com/Azure/azure-event-hubs/tree/master/samples/e2e/EventHubsCaptureEventGridDemo

We will keep this sample on GitHub for a few months before retiring it too.

Thanks and have a great day!

[2022-07-27 15:30] paulsimongb opened #96314 "Explains steps but not the reason"
The article explains the steps for creating a VNet. However, it does not explain why two VMs must be created, and what their purpose is.

The article should also make clear which values you be replaced with your own names etc and which need to remain as per the screenshots.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2022-07-27 15:31] Karishma-Tiwari-MSFT commented on #96310
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-27 15:55] VikasPullagura-MSFT commented on #96289
@dani3lheidemann
Thanks for your Question! We are currently investigating and will get back on this.

[2022-07-27 16:04] #96154 closed

[2022-07-27 16:13] davegoebel opened #96317 "validExitCodes should be an array"
Under the PowerShell customizer section, in the example that you can copy, the "validExitCodes" property is shown as a string in quotes and it should be an array.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ef2d683-1557-7097-0415-ea67a0350718
* Version Independent ID: 20667a9c-cd22-ce77-d4d6-61ac10d380c8
* Content:

[2022-07-27 16:25] davegoebel commented on #96317
Example:

[code]

[2022-07-27 16:26] EvgeniShkoda commented on #95675
Switch off/on native client support fix the problem for me.

[2022-07-27 16:29] samjpv opened #96318 "Incorrect sample code"
linqFeed of the linq query example should be matches.ToFeedIterator() not queryable.ToFeedIterator()

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4e9c4d1-a10d-2ea0-e497-4740dcde75ec
* Version Independent ID: b7aafa6d-3263-aee7-8180-abf8eedaabc9
* Content: [Query items in Azure Cosmos DB SQL API using .NET](https://d

[2022-07-27 16:31] mike-urnun-msft commented on #96271
Since this issue appears to have been opened as a duplicate, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-07-27 16:31] #96271 closed

[2022-07-27 16:35] seesharprun commented on #96318
Thanks @samjpv for the feedback! We noticed this when this article was published and are working vigorously to get the doc updated.

#assign:seesharprun

[2022-07-27 16:37] seesharprun commented on #96318
The fix is in our publishing queue, which will close this GitHub issue soon. Look for the fix to be live sometime soon.

Thanks again for your feedback!

[2022-07-27 16:48] #96318 closed

[2022-07-27 16:51] mike-urnun-msft commented on #96286
@kshan212 Since this channel is more for driving improvements towards MS Docs, could you report this issue at the following instead?

- Azure Feedback: https://feedback.azure.com/d365community/forum/a222eda7-2425-ec11-b6e6-000d3a4f09d0

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-07-27 16:51] #96286 closed

[2022-07-27 16:54] mike-urnun-msft commented on #96294
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-07-27 16:55] mike-urnun-msft commented on #96306
@naakhtar Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2022-07-27 16:56] mike-urnun-msft commented on #96311
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-07-27 16:59] KranthiPakala-MSFT commented on #96298
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-07-27 17:01] JamesTran-MSFT commented on #96296
@Borgquite
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-27 17:12] Lovejeets opened #96319 "step missing"
the below step is missing :

Once the encryption set is created, on the storage account, please provide get, wrap and unwrap permission to the encryption set, else we will get below error

{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details.","details":[{

[2022-07-27 17:26] ChaitanyaNaykodi-MSFT commented on #96314
Thank you for your feedback! We will review and update as appropriate.

[2022-07-27 17:37] dlepow commented on #96107
@fjukstad - Thanks for the feedback and the great suggestions! I'll investigate soon and plan to incorporate them in an upcoming doc update.

[2022-07-27 17:49] WiseK commented on #92310
If you are using any firewalls this probably will never work until Microsoft fixes their code. We are closing our support case.

[2022-07-27 17:54] Eurosome commented on #95675
@EvgeniShkoda I did that, now I'm getting this error:
Invalid connection file (C:\Windows\system32/conn.rdp) specified

Tested in two different workstations.

![image](https://user-images.githubusercontent.com/37034156/181338086-57a08a7c-2bdb-402c-bc52-95507b7c9551.png)

[2022-07-27 17:55] ChaitanyaNaykodi-MSFT commented on #96314
Hello @paulsimongb,
Thank you for reaching out.

This is actually explained in the first paragraph of the article as shown below.
![image](https://user-images.githubusercontent.com/67453298/181314844-daa55e37-786e-41ef-8693-0166273a64dd.png)

You can replace all the values with your own specific names. The naming is hardcoded in the tutorial as its primary purpose is to convey how Virtual Networks

[2022-07-27 17:59] artisticcheese opened #96321 "RTO seems to be worded wrong"
Note on the page below does not make sense for 2 reasons
1. What `for 100% deployed hours` means  in following sentence `Fast geo-recovery - When [active geo-replication](https://docs.microsoft.com/en-us/azure/azure-sql/database/active-geo-replication-overview?view=azuresql) is configured, the Business Critical tier has a guaranteed Recovery Point Objective (RPO) of 5 seconds and Recovery Time Obj

[2022-07-27 18:05] sfc-gh-clathrope opened #96322 "Wrong provider name value in code"
Should be SAML2_PROVIDER = 'Azure_AD' in the Snowflake code.
Was just testing this with customer. You will get error if you use 'AzureAD'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5733ec0-25ee-bd16-58d4-6a921f6ab1fd
* Version Independent ID: d80fe5dc-505f-5f7b-0f01-8e86233cd64a
* Content: [Tutorial: Azure AD SSO

[2022-07-27 18:07] JamesTran-MSFT commented on #96322
@sfc-gh-clathrope
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-27 18:08] cburuzie commented on #95798
#reassign:thisisanniefang

[2022-07-27 18:13] cburuzie commented on #95924
#reassign:blehr

[2022-07-27 18:13] PRMerger17 commented on #95924
The following users don't have valid GitHub IDs, or are not collaborators on this repo: blehr

[2022-07-27 18:13] nickludwig commented on #89233
assignto:shreyanth

[2022-07-27 18:18] amanmcse commented on #96140
@hjchin I have assigned the issue to the content author to check if a pop-up or sticky header can be added to the document.

[2022-07-27 18:19] jarrettranderson opened #96323 "How to install mssparkutils locally"
I have not found any documentation that describes how to install notebookutils.mssparkutils python package locally.  I am trying to develop python code that uses these utilities.  I would like to install the package locally so I can develop and build using it.  It is not included in any of the lists of Azure packages that are available for local install that I have found.  Can the instructions be

[2022-07-27 18:21] GeethaThatipatri-MSFT commented on #96321
Hi @artisticcheese Thanks for your findings, We will look into it and update as appropriate.

[2022-07-27 18:25] nickludwig commented on #95133
#reassign:sreyanth

[2022-07-27 18:26] nickludwig commented on #89233
#reassign:sreyanth

[2022-07-27 18:52] AjayKumar-MSFT commented on #96148
EricBuist,   I have assigned the issue to the content author to review further and update the document as appropriate..  Thanks again for taking time to share your feedback!

[2022-07-27 19:13] rwallerms commented on #96243
#assign:cristobal-buenrostro

[2022-07-27 19:13] sammyperl opened #96325 "Ethernet adapter does not show up in the wizard unless you restart the machine"
I was following the guidance here, but if you do not first restart the instance, when you get to this step:

"On NAT Internet Connection page, choose 'Ethernet'. Don't choose the 'vEthernet (LabServicesSwitch)' connection we created in Hyper-V Manager. Select Next."

There will be no options for Adapters unless you restart the instance first.

---
#### Document Details

⚠ *Do not edit this section

[2022-07-27 19:15] sammyperl opened #96326 "Instructions out of date for Datacenter 2022: "Create a NAT network""
When using a Datacenter 2022 instance, there is a wizard for DirectAccess and VPN. In order to follow the instructions on the page, you need to select configure for VPN only.

It would be very nice if in future you could update the page to include steps for Configuring DirectAccess and VPN??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2022-07-27 19:27] MonikaReddy-MSFT commented on #95919
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-07-27 19:27] #95919 closed

[2022-07-27 19:27] MonikaReddy-MSFT commented on #96304
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-07-27 19:27] #96304 closed

[2022-07-27 19:28] MonikaReddy-MSFT commented on #95917
Since we have not heard back from you, we will now proceed to close this thread.
However, if you can share additional information regarding the documentation, you are referring and circle back on this thread, we will gladly reopen the issue and continue the discussion. Thank you.

[2022-07-27 19:28] #95917 closed

[2022-07-27 19:33] MonikaReddy-MSFT commented on #96313
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-07-27 19:39] #96139 closed

[2022-07-27 19:40] boylec opened #96327 "Service Bus Metrics - What is the difference between Active Connection and Open Connection?"
The Service Bus Metrics section defines the active, open, and closed connection metrics but it is unclear.

What is the actual difference between an "active" connection vs. an "open" connection?

Are those not the same things?

I don't think they are because when I look at my SB metrics I sometimes see a pretty large spike of active connections over a 5 minute period (aggregating by max), and mini

[2022-07-27 19:53] MonikaReddy-MSFT commented on #96309
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-07-27 19:54] MonikaReddy-MSFT commented on #96309
@SetTrend  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can review and update accordingly.

[2022-07-27 20:01] egg-r commented on #94014
Greetings,

Need confirmation on the new az commands as well to reset AKS service principle secrets.

This is what changed I believe to cause existing documentation to no longer work with az cli 2.37.0 and newer.  I upgraded to 2.38.0 last week and found this issue.

https://docs.microsoft.com/en-us/cli/azure/microsoft-graph-migration

[2022-07-27 20:12] MonikaReddy-MSFT commented on #96313
@daveaglick - Azure Application Insights' work item integration (classic) is retiring on August 31st, 2022.
The official notice with migration instructions follows.
https://azure.microsoft.com/id-id/updates/retirement-notice-transition-to-new-work-item-integration-in-application-insights/
There may be some circumstances in which the Switch to Classic button will already be unavailable.

At this mo

[2022-07-27 20:12] #96313 closed

[2022-07-27 20:14] spelluru commented on #96204
Replaced with PNGs. #please-close

[2022-07-27 20:14] #96204 closed

[2022-07-27 20:14] Rajini09 opened #96329 "Synapse dedicated sql pool"
Under the documentation heading & "important" note it states it applies to Azure Synapse Analytics (dedicated SQL pool). However, towards end of that important note paragraph it contradicts. Quote from important note last line - "This article does not apply to Azure SQL Managed Instance or dedicated SQL pools in Azure Synapse Analytics workspaces."
Can you please clarify if the last line is typo w

[2022-07-27 20:16] spelluru commented on #95505
@jfggdl @robece - please take this a product request. Also, please let me know if there is some information that can be added to the article. Thanks.

[2022-07-27 20:22] boylec commented on #96327
![image](https://user-images.githubusercontent.com/8148174/181364805-67c2ea49-6f69-47e4-b234-ab31209e14f9.png)

This isn't very clear to me.

Can examples be provided on why ActiveConnection might be much higher than OpenConnection?

Does the SB connection limit apply to the Active Connections metric or Open Connections metric?

[2022-07-27 20:27] boylec commented on #96327
I think I understand now from reading the definition a few times.

The Active Connections metric needs to be viewed with the "Max" aggregation (not Sum) because it is a point in time measurement of total active connections for an SB namespace.

In contrast the Open Connections metric can be viewed with an aggregation type of "Sum" or similar because it emits a hit when "a connection was opened" ev

[2022-07-27 20:30] idontusenumbers commented on #96204
That was fast! Thanks!

I suggest passing the PNGs through a better compressor though, using ImageOptim on macOS I can losslessly compress the first one I tried from 92KB to 27KB. I've had good luck with https://pnggauntlet.com/ on Windows in the past, though it was last updated in 2012.

[2022-07-27 20:32] JamesTran-MSFT commented on #96212
@raju-thorat
Thanks for your pointing this out! I've assigned this issue to the author who will investigate and update as appropriate.
![image](https://user-images.githubusercontent.com/36619112/181366537-a7ae0d18-a0f6-4778-9add-73d37aac708d.png)

[2022-07-27 20:33] JamesTran-MSFT commented on #96322
@sfc-gh-clathrope
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-07-27 20:33] #96322 closed

[2022-07-27 20:38] sdgilley commented on #93998
@clarissesimoes - In  the Environment variables from Open MPI section, there is a tip saying you should set process_count_per_node.  Is this not what you're asking for?  Or is there something more you think needs to be in this tip?

[2022-07-27 20:49] ggailey777 commented on #96311
@erikorange thanks for your feedback on this article. Addressing your comments in order:

1. It's a good catch, we probably should put the screenshot back to ~3 or the text doesn't make as much sense from an upgrade perspective.
2. The actual point of this section was going backward to ~1, which is still a supported runtime version (because of .NET Framework). However, it doesn't look like ~1 is a

[2022-07-27 20:54] spelluru commented on #96204
@idontusenumbers - Thank you. I will send the images to our artist.

[2022-07-27 21:26] Juliako commented on #53025
@IngridAtMicrosoft , can you please take a look

[2022-07-27 21:28] Juliako commented on #53025
@BryanTrach-MSFT, can you please reassign this issue to Ingrid?

[2022-07-27 21:30] Juliako commented on #56003
@AjayKumar-MSFT , can you please reassign the issue to the current AMS writer, @IngridAtMicrosoft

[2022-07-27 21:40] Juliako commented on #56005
#please-close

[2022-07-27 21:40] #56005 closed

[2022-07-27 21:42] Juliako commented on #56006
#please-close

[2022-07-27 21:42] #56006 closed

[2022-07-27 21:46] Juliako commented on #56251
@AjayKumar-MSFT , can you please reassign to the current writer: @IngridAtMicrosoft

[2022-07-27 21:48] Juliako commented on #58874
#please-close

[2022-07-27 21:48] #58874 closed

[2022-07-27 21:55] HarmlessDave opened #96332 "Domain step is confusing, please add more information."
Step 3 is confusing because it doesn't work as expected:

"Domain name: The unique name that we’ll use for your Azure AD domain, along with “.onmicrosoft.com”. For example, if you entered “example”, your Azure AD domain would be “example.onmicrosoft.com”."

If our company is example.org and we type in example.org, we get the error: Your domain name can only contain letters and numbers.

So, are we

[2022-07-27 22:13] yinoa opened #96333 "How does UDR work for Private Endpoint subnet if enabling network policy?"
[Enter feedback here]
As private endpoint will introduce a implicit /32 routing to private endpoint interface IP.  Correct me if I am wrong with this part.

Question-1: How does UDR work for Private Endpoint subnet if enabling network policy?

If we configure a specific route in UDR with /32 to PE IP,  it will override above PE route by default according to VNET routes select order:
UDR>BGP>System

[2022-07-27 22:48] Juliako commented on #90095
Please see https://docs.microsoft.com/en-us/azure/azure-video-analyzer/video-analyzer-docs/transition-from-video-analyzer #please-close

[2022-07-27 22:48] #90095 closed

[2022-07-27 22:49] Juliako commented on #89167
#please-close please see https://docs.microsoft.com/en-us/azure/azure-video-analyzer/video-analyzer-docs/transition-from-video-analyzer

[2022-07-27 22:49] #89167 closed

[2022-07-27 22:50] Juliako commented on #87365
#please-close please see https://docs.microsoft.com/en-us/azure/azure-video-analyzer/video-analyzer-docs/transition-from-video-analyzer

[2022-07-27 22:51] #87365 closed

[2022-07-27 22:52] Juliako commented on #86794
#please-close please see https://docs.microsoft.com/en-us/azure/azure-video-analyzer/video-analyzer-docs/transition-from-video-analyzer

[2022-07-27 22:52] #86794 closed

[2022-07-27 22:53] Juliako commented on #86792
#please-close please see https://docs.microsoft.com/en-us/azure/azure-video-analyzer/video-analyzer-docs/transition-from-video-analyzer

[2022-07-27 22:53] #86792 closed

[2022-07-27 22:54] Juliako commented on #86126
#please-close please see https://docs.microsoft.com/en-us/azure/azure-video-analyzer/video-analyzer-docs/transition-from-video-analyzer

[2022-07-27 22:54] #86126 closed

[2022-07-27 22:59] Juliako commented on #85481
See https://azure.microsoft.com/en-us/pricing/details/video-indexer/ for details. #please-close

[2022-07-27 22:59] #85481 closed

[2022-07-27 23:03] paulsimongb commented on #96314
Hi, sorry the text highlighted in yellow above explains what is being done, but not why. I got the link to create VMs from a link on Azure Data Factory. It is not clear to me why we are creating two VMs. This does not appear to help with accessing on-premises data which seems to still need an ExpressRouter or something else. This whole area is far too complex.

[2022-07-27 23:05] Juliako commented on #85391
Please see https://docs.microsoft.com/en-us/azure/azure-video-analyzer/video-analyzer-docs/transition-from-video-analyzer #please-close

[2022-07-27 23:05] #85391 closed

[2022-07-27 23:07] Juliako commented on #82428
See https://docs.microsoft.com/en-us/azure/azure-video-analyzer/video-analyzer-docs/transition-from-video-analyzer #please-close

[2022-07-27 23:07] #82428 closed

[2022-07-27 23:08] Juliako commented on #81907
#please-close, see https://docs.microsoft.com/en-us/azure/azure-video-analyzer/video-analyzer-docs/transition-from-video-analyzer

[2022-07-27 23:08] #81907 closed

[2022-07-27 23:09] Juliako commented on #81903
See https://docs.microsoft.com/en-us/azure/azure-video-analyzer/video-analyzer-docs/transition-from-video-analyzer #please-close

[2022-07-27 23:09] PRMerger15 commented on #81903
Invalid command: '#please-close'. Only Microsoft employees can use this command.

[2022-07-27 23:10] Juliako commented on #81903
#please-close

[2022-07-27 23:10] #81903 closed

[2022-07-27 23:11] Juliako commented on #81901
#please-close see https://docs.microsoft.com/en-us/azure/azure-video-analyzer/video-analyzer-docs/transition-from-video-analyzer

[2022-07-27 23:11] #81901 closed

[2022-07-27 23:12] Juliako commented on #81884
#please-close see https://docs.microsoft.com/en-us/azure/azure-video-analyzer/video-analyzer-docs/transition-from-video-analyzer

[2022-07-27 23:12] #81884 closed

[2022-07-27 23:13] Juliako commented on #81880
#please-close see https://docs.microsoft.com/en-us/azure/azure-video-analyzer/video-analyzer-docs/transition-from-video-analyzer

[2022-07-27 23:13] #81880 closed

[2022-07-27 23:14] Oury-MSFT commented on #96329
@Rajini09 Thank you for your feedback. We are reviewing this and will get back to you shortly.

[2022-07-27 23:22] nickludwig commented on #95994
Hey @Khivar,

Yeah, that's expected behavior. Since /common can mean the user is a part of any AAD tenant or even the Microsoft account tenant (i.e., you're using a personal account), we can't put an actual tenant id into the issuer field returned by from the /common OIDC metadata endpoint or else nobody would be able to validate any tokens. Instead, we use {tenantid} which represents a placeholde

[2022-07-27 23:36] brianlehr commented on #95924
#sign-off

[2022-07-27 23:40] chriswue opened #96335 "Unspecified valid range for the Priority value of a deployment"
The documentation only states that Priority is a "positive integer" without stating any further bounds. Can the maximum value please be clarified?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c2fa43c-0132-8f96-ab4f-e35292d64888
* Version Independent ID: c3041c24-5b96-8ff4-757a-218ad1d34c55
* Content: [Automatic depl

[2022-07-27 23:45] JamesTran-MSFT commented on #96332
@HarmlessDave
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-27 23:48] kobulloc-MSFT commented on #96325
@sammyperl Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-07-27 23:48] Juliako commented on #73414
#please-close see https://docs.microsoft.com/en-us/azure/azure-video-analyzer/video-analyzer-docs/transition-from-video-analyzer

[2022-07-27 23:48] #73414 closed

[2022-07-27 23:49] Juliako commented on #72415
#please-close see https://docs.microsoft.com/en-us/azure/azure-video-analyzer/video-analyzer-docs/transition-from-video-analyzer

[2022-07-27 23:49] kobulloc-MSFT commented on #96326
@sammyperl Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-07-27 23:49] #72415 closed

[2022-07-27 23:50] Juliako commented on #68932
#please-close see https://docs.microsoft.com/en-us/azure/azure-video-analyzer/video-analyzer-docs/transition-from-video-analyzer

[2022-07-27 23:50] #68932 closed

[2022-07-27 23:51] Juliako commented on #65386
#please-close see https://docs.microsoft.com/en-us/azure/azure-video-analyzer/video-analyzer-docs/transition-from-video-analyzer

[2022-07-27 23:51] #65386 closed

[2022-07-27 23:52] Juliako commented on #65383
#please-close see https://docs.microsoft.com/en-us/azure/azure-video-analyzer/video-analyzer-docs/transition-from-video-analyzer

[2022-07-27 23:52] #65383 closed

[2022-07-27 23:53] Juliako commented on #65380
#please-close see https://docs.microsoft.com/en-us/azure/azure-video-analyzer/video-analyzer-docs/transition-from-video-analyzer

[2022-07-27 23:53] #65380 closed

[2022-07-27 23:55] Juliako commented on #65379
#please-close see https://docs.microsoft.com/en-us/azure/azure-video-analyzer/video-analyzer-docs/transition-from-video-analyzer

[2022-07-27 23:55] #65379 closed

[2022-07-27 23:56] Juliako commented on #65371
#please-close see https://docs.microsoft.com/en-us/azure/azure-video-analyzer/video-analyzer-docs/transition-from-video-analyzer

[2022-07-27 23:56] #65371 closed

[2022-07-27 23:56] Juliako commented on #62564
#please-close see https://docs.microsoft.com/en-us/azure/azure-video-analyzer/video-analyzer-docs/transition-from-video-analyzer

[2022-07-27 23:56] #62564 closed

[2022-07-27 23:58] Juliako commented on #60116
#please-close the docs are being updated by another writer

[2022-07-27 23:58] #60116 closed

[2022-07-27 23:59] Juliako commented on #59464
#please-close the docs are being updated by another writer

[2022-07-27 23:59] #59464 closed

[2022-07-28 00:00] Juliako commented on #56251
#please-close

[2022-07-28 00:00] #56251 closed

[2022-07-28 00:02] Juliako commented on #56003
#please-close

[2022-07-28 00:02] #56003 closed

[2022-07-28 00:02] Juliako commented on #53025
#please-close

[2022-07-28 00:02] #53025 closed

[2022-07-28 00:21] pnarsi commented on #96284
@mrbullwinkle - does Metric Advisor have egress access a VNET to access a data source via a private endpoint or service endpoint? I couldn't find any documentation that suggests that it can. Also I don't believe that service tags are supported in the various Azure PaaS Service Firewall - we typically need to specify a source IP in the firewall if  the traffic is coming in via the public endpoint.

[2022-07-28 00:27] gregpakes commented on #33034
I am having the same issue here.

I am using bicep to create a fleet of VMs.  The issue is that it is quite common to have to delete the VM in the portal and recreate it.  When you do that, you need to recreate it with 'Attach' rather than 'FromImage'.  This then renders the bicep templates useless as they will no longer be able to deploy the environment.

What I need is a 'AttachIfExistsElseFromI

[2022-07-28 00:35] mike-urnun-msft commented on #95998
@gh-andre Thanks again for sharing this feedback and providing rich details. As the next step, we are proceeding to assign this issue to our content authoring to review further and take the next course of action.

cc: @spelluru feedback concerns the samples on the REST API doc: https://docs.microsoft.com/en-us/rest/api/eventhub/generate-sas-token

[2022-07-28 01:01] jenniehubbardDB commented on #62331
Thank you @tomatoTomahto we are working with you offline on this.
#please-close

[2022-07-28 01:01] PRMerger7 commented on #62331
Invalid command: '#please-close'. Only Microsoft employees can use this command.

[2022-07-28 01:11] craiglandis opened #96339 "Add step to disable virtual display timeout to avoid black screen on Boot Diagnostics"
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/prepare-for-upload-vhd-image#set-windows-configurations-for-azure

Under the "Set Windows configurations for Azure" section after Step 5, and a step to run:

powercfg /setacvalueindex SCHEME_CURRENT SUB_VIDEO VIDEOIDLE 0

This prevents this virtual display from timing out so you don't see a blank screen/black screen when looking at th

[2022-07-28 01:22] ChaitanyaNaykodi-MSFT commented on #96333
Thank you for your feedback! We will review and update as appropriate.

[2022-07-28 01:27] Karishma-Tiwari-MSFT commented on #96339
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-07-28 01:39] Karishma-Tiwari-MSFT commented on #96176
It is specified in the documentation here : https://docs.microsoft.com/en-us/azure/container-registry/container-registry-troubleshoot-login#specify-correct-registry-name

Based on the discussion [here](https://github.com/Azure/azure-cli/issues/22003), documents were updated.

I will internally convey the same feedback to the owners of az acr documentation.

Thanks for bringing this to our attentio

[2022-07-28 01:39] #96176 closed

[2022-07-28 01:50] MayankBargali-MSFT commented on #96207
@dave1k Assuming that you are referring to the Start/Stop solution. Unfortunately, as of now if is not possible to assign the time to the tag name. Feel free to create the feature request [here](https://github.com/microsoft/startstopv2-deployments/issues) if this is something you to want to see if Start/Stop solution.

I will go ahead and close this issue. Feel free to tag me in if you have any qu

[2022-07-28 01:50] #96207 closed

[2022-07-28 01:51] MayankBargali-MSFT commented on #96233
@grgkro Just following up here. Hope my previous comment clears things up.

[2022-07-28 02:10] toastjoqo opened #96340 "The connection policy for Synapse SQL in Azure Synapse Analytics is set to Default. You cannot change this in Azure Synapse Analytics."
I would suggest not using “Azure synapse” for formerly SQL DW, because they are different:

Servers in SQL Database and formerly SQL DW support the following three options for the server's connection policy setting:
Note: The connection policy for Synapse SQL in Azure Synapse Analytics is set to Default. You cannot change this in Azure Synapse Analytics.

refer to synapse workspace connectivity se

[2022-07-28 02:21] Leoer opened #96341 "Something wrong while creating the route server"
When I followed the instructions in the [article](https://docs.microsoft.com/en-us/azure/route-server/quickstart-configure-route-server-powershell#create-the-route-server) to create route server by the local PowerShell, it appeared the following error. I tried many times but no success.
![image](https://user-images.githubusercontent.com/102143373/181406041-ce523fae-16c9-4d4d-aa3f-ffa1cdfef930.png)

[2022-07-28 02:57] VikasPullagura-MSFT commented on #96319
@Lovejeets
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-28 02:57] VikasPullagura-MSFT commented on #96319
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2022-07-28 03:21] xianw-msft opened #96342 "Is there a reliable way to get notified when the Azure Virtual Desktop wake-on-connect feature was triggered?"
Hi, AVD team.

We are building a service that runs on top of Azure/AVD. We provision Virtual Machines via Azure/AVD and sell them as a service to customers. In some scenarios, we need to get detailed information of the VM operations which change the VM billing state (allocation state), for the billing of our service. One special sub-scenario here is when the AVD machine was started because of the

[2022-07-28 03:31] CHEEKATLAPRADEEP-MSFT commented on #96323
@jarrettranderson  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2022-07-28 03:46] AshokPeddakotla-MSFT commented on #96335
@chriswue Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-28 03:48] koder101 opened #96343 "The image has become obsolete"
On [this ](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-quick-create-use-linux)page, under the section "[Set up a private endpoint](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-quick-create-use-linux#set-up-a-private-endpoint)", the point number 6 image and its explanation no longer match what we see.

![image](https://user-images.githubusercontent.com/1

[2022-07-28 03:55] MichaelRyan87 opened #96344 "Defederation - HAADJ device join with ADFS SCP documentation"
Hi There,

Should there be a section for Hybrid AAD joined devices with ADFS configured for the SCP as part of device configuration in AAD Connect?

It isn't clear from this page or others on the topic what needs to be done, to ensure that HAADJ devices continue to enroll properly as part of defederation and when this should occur?

Thanks!

---
#### Document Details

⚠ *Do not edit this section.

[2022-07-28 03:59] VikasPullagura-MSFT commented on #96342
@xianw-msft
Thanks for your Question! We are currently investigating and will get back on this.

[2022-07-28 04:17] SumanthMarigowda commented on #96343
@koder101 Thanks for the question! We are investigating and will update you shortly.

[2022-07-28 04:19] msmbaldwin commented on #95915
Hi, @thomash0815. The current Event Hubs security baseline was written to the Azure Security Benchmark v2, and is now out of date; the new Event Hubs security baseline, written to the [Azure Security Benchmark v3](https://docs.microsoft.com/en-us/security/benchmark/azure/overview), is being developed and will be published soon, overwriting this article. I will make sure that the issues you raise a

[2022-07-28 04:19] #95915 closed

[2022-07-28 04:32] nashuatek opened #96345 "Clarify the contributor permissions statement"
https://docs.microsoft.com/en-us/azure/key-vault/general/security-features#managing-administrative-access-to-key-vault

"If a user has Contributor permissions to a key vault management plane, the user can grant themselves access to the data plane by setting a Key Vault access policy. You should tightly control who has Contributor role access to your key vaults. Ensure that only authorized persons

[2022-07-28 04:37] amanmcse commented on #96345
@nashuatek Thank you for your feedback. We will investigate and update the thread further.

[2022-07-28 04:38] amanmcse commented on #96344
@MichaelRyan87 Thank you for your feedback. We will investigate and update the thread further.

[2022-07-28 04:47] KrishnaG-MSFT opened #96347 "Exit Code: AZCM0070: Unable To Obtain Local Config"
Please add details of error "Exit Code: AZCM0070: Unable To Obtain Local Config" and also reason and remediation for this error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c60c61b5-2eba-723c-27c1-4296763fcb28
* Version Independent ID: f642a961-06ed-beac-fb5b-c0d69bf5897c
* Content: [Troubleshoot Azure Arc-enabled s

[2022-07-28 04:47] KrishnaG-MSFT opened #96348 "Exit Code: AZCM0070: Unable To Obtain Local Config"
Please add details of error "Exit Code: AZCM0070: Unable To Obtain Local Config" and also reason and remediation for this error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c60c61b5-2eba-723c-27c1-4296763fcb28
* Version Independent ID: f642a961-06ed-beac-fb5b-c0d69bf5897c
* Content: [Troubleshoot Azure Arc-enabled s

[2022-07-28 04:48] KrishnaG-MSFT commented on #96348
Assigning to @johnmarco for document enhancement.

[2022-07-28 04:54] AnuragSharma-MSFT commented on #96340
@toastjoqo Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-07-28 05:08] amitpundir commented on #41314
I am facing same problem with newer version

[user@host]$ az version
{
  "azure-cli": "2.38.0",
  "azure-cli-core": "2.38.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "aks-preview": "0.5.91"
  }
}
[user@host]$ az aks update -g SOME_GROUP -n SOME-AKS  —attach-acr someacr.azurecr.io
unrecognized arguments: —attach-acr azcinpbcom.azurecr.io

Examples from AI knowledge base:

[2022-07-28 05:14] amitpundir commented on #40801
I am facing similar issue , i have upgraded azure-cli and extension but still getting same issue

------
[code]

[2022-07-28 05:38] MayankBargali-MSFT commented on #96327
@boylec Thank you for your feedback! We will review and update as appropriate.

[2022-07-28 05:44] Givary commented on #96151
@dcurwin Thank you for pointing this out, shared the feedback with our team and will have this rectified at earliest.

[2022-07-28 05:44] #96151 closed

[2022-07-28 06:24] MayankBargali-MSFT commented on #96156
@nareshnagpal06 Thanks for reaching out. I believe you have created stateful workflow on your standard logic app.
You are trying to leverage service bus `Build-in` connector which doesn't support the peek look actions. In case if you want to leverage the peek lock action then you should use service bus `Azure` connector which supports the peek lock actions.

![image](https://user-images.githubuser

[2022-07-28 06:40] nbgyxi commented on #11755
Yes. I am hitting this issue as well. Very mysterious until I found this thread. It is very surprising that the route is not prioritized by more specific > less specific. Isn't that how it works in frontend routing normally?

[2022-07-28 06:45] xianw-msft commented on #96342
@VikasPullagura-MSFT Thank you!

[2022-07-28 06:53] kengoodwin opened #96349 "The "Where is your data located" link not working"
The linked PowerBI report, [Azure Active Directory – Where is your data located?](https://aka.ms/AADDataMap), isn't loading a valid report, it just comes up saying "This content isn't available."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68e79330-b9ff-012d-aec5-4f481512bd8d
* Version Independent ID: a2769d59-9e11-

[2022-07-28 07:14] dcurwin commented on #96151
@Givary @amanmcse  - Will the changes be made to **all* the tutorials?

[2022-07-28 07:38] pola commented on #90819
Hi! What's the status on this? Is there a new ETA?

[2022-07-28 07:40] Trifall opened #96352 "Typo"
Heading: Changing MailFrom and FROM display name for custom domains

In first paragraph:
"When Azure Manged Domain is provisioned"

Manged -> Managed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 728e6cdd-014d-514c-cb51-cc3396284248
* Version Independent ID: 727d3931-5ddc-636e-4ceb-b3695e6737cc
* Content: [How to add

[2022-07-28 07:50] Givary commented on #96151
@dcurwin For now only this article https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/training-platform-tutorial i have raised a request, will ask the content author team to update this for all tutorials.

[2022-07-28 07:52] dcurwin commented on #96151
I am an MS employee and would like to track the progress of this request. Please let me know where I can follow it.

[2022-07-28 08:10] i4leader opened #96353 "Redhat 6.x needs to be removed as it is no longer supported in Azure"
Redhat 6.x needs to be removed as it is no longer supported by Azure Platform, as you can check in the following article
[https://docs.microsoft.com/en-us/azure/virtual-machines/linux/endorsed-distros]

It will cause confusion if the Redhat 6.x is supported for migration but not supported by the Azure platform.

Please kindly close the issue as it is submitted by mistake
---
#### Document Details

[2022-07-28 08:20] bmansheim commented on #95731
@mmannion So here's what we found.

In short, use the ‘curl’ command to check the connectivity to the relevant Qualys URL. A valid response would be {"code":404,"message":"HTTP 404 Not Found"}.

In addition, of course you can check the DNS resolution for these URLs and check that everything is [valid with the certificate authority](https://success.qualys.com/support/s/article/000001856) that is us

[2022-07-28 08:30] Givary commented on #96349
@kengoodwin Thank you for your feedback, let me check with my team and revert back on this.

[2022-07-28 08:32] AnuragSingh-MSFT commented on #96307
@gellner, thank you for reporting this issue. Are you talking about the following command which needs to be executed once on the cluster to Grant Access to the Privileged SCC?

`oc adm policy add-scc-to-user privileged system:serviceaccount:azure-arc:azure-arc-kube-aad-proxy-sa`

[2022-07-28 08:36] Venkateshdodda-MSFT commented on #96352
@Trifall Thanks for pointing this out.
I have updated the document changes will go live soon.

[2022-07-28 08:46] #96352 closed

[2022-07-28 08:54] KrishnaG-MSFT commented on #96347
Assigning to @johnmarco for document enhancement.

[2022-07-28 08:55] KrishnaG-MSFT commented on #96348
Duplicate of #96347

[2022-07-28 08:55] #96348 closed

[2022-07-28 09:05] SwathiDhanwada-MSFT commented on #96353
@i4leader As requested, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2022-07-28 09:05] #96353 closed

[2022-07-28 09:18] w0ut0 commented on #88192
Since it's documented nowhere (yet), I've raised the question [here](https://docs.microsoft.com/en-us/answers/questions/945790/what-is-the-impact-of-databricks-ip-allowdenylists.html) and through a support ticket.

[2022-07-28 09:51] devndive opened #96358 "Mentioned Active LTS and Maintenance LTS of nodejs are out of support"
The recommended versions of nodejs (8.11.1 and 10.14.1) are no longer supported. The current Active LTS is v16 and Maintenance LTS is v14.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b25f792b-a502-31bd-f30d-b774308aed99
* Version Independent ID: ebe9032f-4cbe-4203-0736-2603ea1c661c
* Content: [Quickstart - How to se

[2022-07-28 10:13] bmansheim commented on #95731
#sign-off

[2022-07-28 10:14] #95731 closed

[2022-07-28 10:17] bmansheim commented on #95038
Hi @mundayn . I can understand your confusion. In short, Plan 1 includes MDE and only those features that MDE provides. Plan 2 includes some additional control plane and OS-based protections that rely on the Log Analytics agent.

I hope that helps. We'll be updating the docs soon with a clearer approach to agents and the Servers plans.

#please-close

[2022-07-28 10:46] Venkateshdodda-MSFT commented on #96358
@devndive Thank you for your feedback! We will review and update as appropriate.

[2022-07-28 10:53] eadwin-wtw opened #96360 "Databricks no longer recommends Access Azure Data Lake Storage using Azure Active Directory credential passthrough."
As per this article: https://docs.microsoft.com/en-us/azure/databricks/data/data-sources/azure/azure-storage

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d55b056-a9c1-5e92-4fdd-23d7269129f1
* Version Independent ID: 82a77acc-2107-33f5-bfa2-28e6b11128b9
* Content: [Access Azure Data Lake Storage using Azure Active Di

[2022-07-28 11:12] andrePKI opened #96361 "Copper and/or Fiber optic?"
Multiple times on this page is written _A 10-GbE SFP+ Twinax copper cable_ but on [this page](https://docs.microsoft.com/en-us/azure/databox/data-box-deploy-set-up) also Fiber Optic cabling is mentioned and provides many more details. This is confusing to us.
Please check and see if the correct and complete information can be provided in one place instead of in two contradicting places,

---
####

[2022-07-28 11:24] joudot opened #96362 "Sorting Orders when checking Node application logs"
Under **_Verify the result_** - **_View Logs_**, that would be useful to sort the logs by **_TimeGenerated_** to see only the latest orders and see the results change:

`
az monitor log-analytics query \
  --workspace $LOG_ANALYTICS_WORKSPACE_CLIENT_ID \
  --analytics-query "ContainerAppConsoleLogs_CL | where ContainerAppName_s == 'nodeapp' and (Log_s contains 'persisted' or Log_s contains 'order'

[2022-07-28 11:26] ahmedhm19 opened #96363 "Step missing : in the Redirect URIs section : http://localhost should be added"

[2022-07-28 11:30] MrAzureAD opened #96364 "Licensing statements still unclear / wrong"
Team,

The licensing statements in this article are still partly wrong, misleading or incomplete:
- "Licenses must also be assigned to the administrators and relevant users". Closed issue #65294 contains the clear information from PG that assignment is in fact not required. So assignment is not a "must" as the current docs imply.

- The docs do not contain clear information on how to license multi

[2022-07-28 11:33] MrAzureAD opened #96365 "Global Admin not required"
Azure AD Global Admin is no longer required - Hybrid identity administrator role is sufficient.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06faa428-c7b6-ca5c-271e-3f98d9536d4f
* Version Independent ID: 63adb39a-c4fa-92bb-480d-59bee8e2dc24
* Content: [Azure AD Connect: Prerequisites and hardware - Microsoft Entra](h

[2022-07-28 11:35] MrAzureAD opened #96366 "Global Admin not required"
Azure AD Global Admin is no longer required - Hybrid identity administrator role is sufficient.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c650df29-72e7-ea25-ee53-f467f925ef39
* Version Independent ID: fed9f82b-4206-c231-84a3-8791d912ca33
* Content: [Azure AD Connect: Getting Started using express settings - Micros

[2022-07-28 11:36] MrAzureAD opened #96367 "Global Admin not required"
Azure AD Global Admin is no longer required - Hybrid identity administrator role is sufficient.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21fa537d-81fc-ccc9-f7f8-1486e71dea62
* Version Independent ID: 8e578d88-8bcb-a229-95f6-10b760d6f563
* Content: [Customize an installation of Azure Active Directory Connect - Mic

[2022-07-28 11:36] MrAzureAD opened #96368 "Global Admin not required"
Azure AD Global Admin is no longer required - Hybrid identity administrator role is sufficient.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e9c0c17-3390-6a8d-28cb-de448f640c4b
* Version Independent ID: 99e56930-6e60-51d9-f5f0-2f4071b666e6
* Content: [How to import and export Azure AD Connect configuration settings

[2022-07-28 11:39] SnehaAgrawal-MSFT commented on #96172
@Neutrino-Sunset Just to confirm if you are using Cloudfare?

[2022-07-28 11:47] mrbullwinkle commented on #96284
@pnarsi I'm still awaiting confirmation from the PM/Engineering team, but I believe in the case of Metrics Advisor the network related guidance for Cognitive Services resources technically still applies to Metrics Advisor even though it is now categorized as an Applied AI Service. If that is correct then it should be supported for service endpoints as are Azure Cognitive Service resources:

![imag

[2022-07-28 11:49] rashi-ms commented on #84409
@richard-artes DO you know what is the OS of the VM?

[2022-07-28 12:01] erikorange commented on #96311
Thanks for the updates.  For context...I ran across that page as I was looking for guidance on _upgrading_ the runtime.  You are correct that ~1 is still supported due to the .NET Framework, but [this page](https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions?tabs=azure-cli%2Cin-process%2Cv4&pivots=programming-language-csharp) recommends upgrading in all other cases.

![image]

[2022-07-28 12:12] Neutrino-Sunset commented on #96172
Not directly. It's a bit complicated, and my understanding of the setup might not be perfect. As best I can make out the domain I'm using is registered on CloudFlare's nameservers, however we control it via a registrar reseller.

[2022-07-28 12:22] SnehaAgrawal-MSFT commented on #96255
@glemis Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-07-28 12:29] devndive opened #96369 "Mentioned Active LTS and Maintenance LTS of nodejs are out of support"
Regarding the programming languages "JavaScript" and "TypeScript":

The recommended versions of nodejs (8.11.1 and 10.14.1) are no longer supported. The current Active LTS is v16 and Maintenance LTS is v14.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d505ab9-d351-6650-6d0c-bb65d2daa229
* Version Independent ID: 2a1

[2022-07-28 12:55] naakhtar commented on #96306
@mike-urnun-msft Pls refer below link for your reference

https://github.com/Azure-Samples/iot-middleware-freertos-samples/tree/main/demos/projects/ESPRESSIF/aziotkit

[2022-07-28 12:59] simonwolton opened #96370 "Conditional access policy cannot target dynamic distribution groups"
I'm unsure if this is a documentation issue or a bug on the Azure portal, however it appears that when selecting groups for assignment of a conditional access policy in the Azure portal, only static and dynamic security groups, and static distribution groups are available, not dynamic distribution groups.

Dynamic dist. group in EAC:
![image](https://user-images.githubusercontent.com/15790206/1815

[2022-07-28 13:05] SnehaAgrawal-MSFT commented on #96236
@D-I-J Just to confirm could you check your path make sure the php you are calling is the same as the one running in your webserver. Try changing the Host setting to localhost.

[2022-07-28 13:07] PedroC88 commented on #95926
Trying to load the module (or running the scripts on the page) results in the following error _Import-Module: Assembly with same name is already loaded_. I'm assuming this issue is caused by the module trying load modules that also exist in the CLI.

[2022-07-28 13:40] iphydro opened #96371 "Add NAT rule to T1 gateway section inconsistencies"
Step 5 specifically states to add one SNAT rule, however in 5.a the documentation describes a DNAT rule. An earlier version seemed to mention that two NAT rules are required here.

The bigger issue here however is that is not possible to set up the NAT rules the way the documentation describes. Specifically:
The document states that a new segment needs to be set up for the Public IP address block

[2022-07-28 13:47] dani3lheidemann opened #96372 "Internet traffic through vWAN Router -> NVA -> Internet"
Hi Azure Team,

I am wondering if there's a chance to route traffic from a spoke through a connected vWAN hub through a NVA to the Internet.

So Spoke -> vWAN -> NVA -> Internet.
You mentioned in your docs that this can be realized with direct VNET peering. However, direct VNET peering does not really scale well (sure we can build some automation around). But I thought with Azure vWAN, a full-mesh

[2022-07-28 13:50] GeethaThatipatri-MSFT commented on #96113
@Gimmeaphatbeat I'm assigning this to the author for the feedback review.

[2022-07-28 14:05] MayankBargali-MSFT commented on #96362
@joudot Thank you for your feedback! We will review and update as appropriate.

[2022-07-28 14:24] jarrettranderson commented on #96323
OK - Thanks for the suggestion.

[2022-07-28 14:24] #96323 closed

[2022-07-28 14:45] mumian commented on #96280
@SwathiDhanwada-MSFT  - please remove the line from the two examples.  Let me know if you want me to create a PR.

[2022-07-28 15:03] SwathiDhanwada-MSFT commented on #96280
@mumian I have submitted the PR. Thanks for confirming,

@StephenWeatherford The change should reflect within 24 hours. We will close the issue. If there are further questions, please revert and we will be glad to assist you.

[2022-07-28 15:09] yossi-y commented on #95568
Thanks for reaching out.
Azure Monitor supports Key Vault in vNET when allowing trusted Microsoft services to bypass this firewall option.
We will update the trusted services list shortly, thanks for reporting!

Please let me know if you have any question.
Thanks,

[2022-07-28 15:18] D-I-J commented on #96236
thanks for your responses , I am trying the new article you guys updated, will check these thing in it.
By the way I think what you mentioned has been already tried by me.(I tried many things).
@SnehaAgrawal-MSFT

[2022-07-28 15:21] lindacmsheard opened #96374 "Request Latency metric"
I've had feedback that the 'Request Latency' Metric is not available for selection via the GUI as shown in the docs in this section
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-autoscale-endpoints?tabs=azure-portal#create-a-scaling-rule-based-on-endpoint-metrics

Is there something missing in the docs as to what governs the available metrics to select, or am I missing something e

[2022-07-28 15:21] sdgilley commented on #93998
I'm closing this item for now.  Please reopen if there is something more than the tip that you think should be added to the article.

#please-close

[2022-07-28 15:21] #93998 closed

[2022-07-28 15:21] PatrickLownds opened #96375 "Misleading diagram?"
[Enter feedback here]

I find the diagram in the OVERVIEW section misleading. It implies that the Azure Arc Resource Bridge is extensible and that you have a single bridge that supports HCI and VMware vSphere. That is not the case. They are separate Resources Bridges and even have differing system requirements. Basically, you would need two Azure Arc Resource Bridges.
---
#### Document Details

⚠

[2022-07-28 15:30] JamesTran-MSFT commented on #96368
@MrAzureAD
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-28 15:32] #96365 closed

[2022-07-28 15:32] #96366 closed

[2022-07-28 15:32] JamesTran-MSFT commented on #96367
@MrAzureAD
Thanks for your feedback! Since this is a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/96368, I'll go ahead and close this out.

Thank you for your time and patience throughout this issue.

[2022-07-28 15:32] #96367 closed

[2022-07-28 15:34] JamesTran-MSFT commented on #96364
@MrAzureAD
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-28 15:38] sercast opened #96376 "Shortpath for Public Networks feature does not seem to work with Palo Alto Firewalls in Azure"
When leveraging Palo Alto Firewalls in Azure the UDP Shortpath for Public Networks feature does not seem to work.  I'm guessing this falls under the "Double NAT" recommendation in the docs.
The hard part to understand is the feature seems to work just fine with Azure Firewall which is also SNAT'ing to the public Internet.

Tests performed:

Palo Alto with Dynamic IP and Port SNAT - TCP only
Palo A

[2022-07-28 15:47] wrightmd93 commented on #70398
I would also like to have information about how hybrid join interacts with staged rollout.  We're using staged rollout and still have a significant amount of time left on that project, but we'd also like to start moving to hybrid join.  At some point we'll cut our domain from federated (current) to managed (future state).  I don't want to configure hybrid join now and then find out that everything

[2022-07-28 15:51] NebV opened #96378 "Azure Files on-premises AD DS Authentication support for AES-256 Kerberos encryption"
Please add clarification to the section "Azure Files on-premises AD DS Authentication support for AES-256 Kerberos encryption." After running the following command "Update-AzStorageAccountAuthForAES256 -ResourceGroupName $ResourceGroupName -StorageAccountName $StorageAccountName" you get the following output:
"Set password on AD object _MachineAccountName_ for _StorageAccountName_ to value of kerb

[2022-07-28 15:53] AaronHubx opened #96379 "misleading information"
Per the article: https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-faq#how-do-i-leave-a-tenant-when-i-am-added-as-a-collaborator-
"When you are added to another organization's tenant as a collaborator, you can use the "tenant switcher" in the upper right to switch between tenants. Currently, there is no way to leave the inviting organization, and Microsoft is wo

[2022-07-28 16:03] brianlehr commented on #95924
@aralvar Thanks for your feedback on the documentation!  [The page](https://docs.microsoft.com/en-us/azure/virtual-network/ip-services/default-outbound-access#how-can-i-disable-default-outbound-access) has now been updated to more accurately reflect a multi-NIC scenario.

[2022-07-28 16:03] brianlehr commented on #95924
#please-close

[2022-07-28 16:04] mumurug-MSFT commented on #96369
@devndive Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-28 16:04] #95924 closed

[2022-07-28 16:17] D-I-J opened #96384 "Error during database setup"
[Enter feedback here]
After this command I get error, I have followed the tutorial word by word. I really appreciate your help.
php artisan migrate --force

  Illuminate\Database\QueryException

  SQLSTATE[HY000] [2002]  (SQL: select * from information_schema.tables where table_schema = msdocs-laravel-mysql-database and table_name = migrations and table_type = 'BASE TABLE')

  at vendor/laravel/fr

[2022-07-28 16:17] atombravo opened #96385 "Issues with AAD Token setup via PowerShell"
Frankly, the instructions for setting up the databricks-cli via PowerShell on Windows are terrible.  If nothing else, running the az login, followed by two lines of PowerShell followed by a databricks configure command is a really convoluted way to get two values into a config file.

Also:
1. These instructions assume the user is running as an admin and is able to modify the system environment var

[2022-07-28 16:22] tfitzmac commented on #96221
@KrishnaG-MSFT - it sounds like this is a translation issue. Can you send this feedback to the appropriate channel?

[2022-07-28 16:23] fei0x opened #96386 "what about Id Tokens?"
Given that Implicit flow is not recommended anymore, shouldn't this page explain how to get an Id Token?

Is it possible to get the Id Token in the response of the initial step as well, like the Hybrid flow? or is Hybrid flow not supported?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3e20651-

[2022-07-28 16:34] hanssens opened #96387 "docs: describe where to find backend-id, in APIM"
The docs neatly mention:

But where to find the **backend-id** in the Azure Portal? This does not seem to be listed in the APIM > Backend blade anywhere. I have defined a Custom URL backend, not an Azure resource.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92c18150-be00-5c8f-ad72-02101cd65f52
* Version Independent

[2022-07-28 16:36] mike-urnun-msft commented on #96341
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-07-28 16:37] mike-urnun-msft commented on #96363
@ahmedhm19 Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2022-07-28 16:43] mike-urnun-msft commented on #96306
Thanks, @naakhtar - In this case, since this repo is for driving improvements toward the MS Docs, it’d be best to open an issue on the repo itself: https://github.com/Azure-Samples/iot-middleware-freertos-samples/issues

[2022-07-28 16:48] GeethaThatipatri-MSFT commented on #96256
Thanks, @dimitri-furman for providing the detailed information.
Hi @VitalyMCT We will proceed to close this issue now. If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-07-28 16:48] #96256 closed

[2022-07-28 16:54] FranckhDev opened #96389 "Adding clarity on potential impact for restricting "Read other users" to $false"
[Enter feedback here]
this doc mention possibility to prevents all non admin from reading user information , in the "Restrict member users' default permissions" section.  it especially mention "This flag does not prevent reading user information in other Microsoft services like Exchange Online" but as far as I know setting "allowedToReadOtherUsers" to false will prevent user lookup in Teams and SP

[2022-07-28 17:05] debaxtermsft opened #96390 "Issue with powershell script"
The part of the code that removes the direct license does not check if there is an error when run.
When the Set-MsolUserLicense -ObjectId $user.ObjectId -RemoveLicenses $skuId
Has an error, the $operationResult is always the same even if it fails
When a user has a service plan conflict, the script doesn't account for a failure.

Running the command by itself outside of the script results in :
set-

[2022-07-28 17:16] JamesTran-MSFT commented on #96379
@AaronHubx
Thanks for your feedback! I've assigned this issue to the author who will investigate and update the documentation as appropriate.

[2022-07-28 17:20] JamesTran-MSFT commented on #96386
@fei0x
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-28 17:21] JamesTran-MSFT commented on #96389
@FranckhDev
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-28 17:22] JamesTran-MSFT commented on #96390
@debaxtermsft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-28 17:23] JamesTran-MSFT commented on #96370
@simonwolton
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-28 17:34] WilliamDAssafMSFT commented on #93703
Thanks @chaoscreater for taking the time to note this issue. You are correct that `Add-AzMetricAlertRule` is deprecated for most customers in Azure. We have a process underway to evaluate code samples in Docs for replacement with the V2 cmdlet for the current metrics alert offering.

#please-close

[2022-07-28 17:34] #93703 closed

[2022-07-28 17:42] richard-artes commented on #84409
It was a few months ago so I'm not exactly sure, but I think it was Windows Server 2012R2, standard edition. We only have Windows servers, 2012 and up.

[2022-07-28 17:52] astrahan87 commented on #96132
Also, FYI we attempted a workaround by adding a constantly changing Tag to the WAF Policy resource (e.g. tag with value of timestamp of deploy). The hope was that by always having a change to make, we'd avoid the error from not having an update.
However, this workaround does not seem to work and we're still hitting issues (correlationId "204f2dfd-017b-4557-9c09-eccc710fbdb1" and eventTimestamp "20

[2022-07-28 18:00] JananiRamesh-MSFT commented on #96387
Hi @hanssens Thanks for your feedback, when you see the set backend service policy https://docs.microsoft.com/en-us/azure/api-management/api-management-transformation-policies#SetBackendService Backend entities are managed via [Azure portal](https://docs.microsoft.com/en-us/azure/api-management/how-to-configure-service-fabric-backend), [API](https://docs.microsoft.com/en-us/rest/api/apimanagement)

[2022-07-28 18:06] hanssens commented on #96387
Thanks @JananiRamesh-MSFT , that part is all clear. And I have setup a backend service in the APIM > Backends section. But the questio is where to find the **ID** of the backend service? Can you point to _where_ this can be found in the portal + add a small detail to the docs on that?

[code]

Unlike other Azure services, this isn't displayed. Could this only be available, in case of a Custom URL

[2022-07-28 18:11] amir-abdi commented on #91223
Same question; this setting is not found.

[2022-07-28 18:14] GitaraniSharma-MSFT commented on #77499
@Harsha-CS , as discussed over email, please share your inputs on this feedback item & update the doc as appropriate.

[2022-07-28 18:18] JananiRamesh-MSFT commented on #96387
@hanssens thanks for getting back, the name of the backend that you created under backend blade is your backend id

![image](https://user-images.githubusercontent.com/92862826/181608758-388bed64-7f59-4d11-abe1-7cbb813332c7.png)
![image](https://user-images.githubusercontent.com/92862826/181608872-b08a3007-901a-4777-bc6d-5312d32f1246.png)

we will update the document appropriately.

[2022-07-28 18:19] #96369 closed

[2022-07-28 18:23] mumurug-MSFT commented on #96369
@devndive We have updated the docs and it will be published soon. We will now proceed to close this thread. Thanks again for bringing this to our attention.

[2022-07-28 18:27] twimmers commented on #96201
@Shad0wguy can you please double check you're looking at an AWS Single Sign-On app? I just created a new app in my test tenant and the credentials section is still prompting me for a tenant URL and secret token.

[2022-07-28 18:28] hanssens commented on #96387
Ugh, of course - that's so obvious now. 😮‍💨 I was expecting a guid of some sort.
Thanks a bunch @JananiRamesh-MSFT! Hope adding the comments will help others as well.

[2022-07-28 18:36] mmannion commented on #95731
@bmansheim Perfect, that's exactly what we needed to know! Thank you for your time and effort in addressing this.

- Should I be able to see these updates in the public doc page yet?

This isn't time-sensitive, so I'm not rushing you. I just don't see them at the moment, and am not sure if I'm supposed to. I haven't been through one of these doc update cycles yet, so perhaps it takes some time for

[2022-07-28 18:38] nkarve82 opened #96394 "cdf streaming for delete events is not working as expected. in dlt pipelines streaming cdf source dont pick up delete events in the same commit_version until another commit is generated"
cdf streaming for delete events is not working as expected. in dlt pipelines streaming cdf source dont pick up delete events in the same commit_version

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 388c0953-a15b-6069-c240-3578dff4825a
* Version Independent ID: c71d590c-314f-b1ad-dc9a-7d77339cddaf
* Content: [Change da

[2022-07-28 18:44] pinyuko opened #96395 "Azure NetApp Files should be mentioned in this page too"
[Enter feedback here]
Hi! I'm Penny Ko in MSFT.
I noticed Azure NetApp Files was not being mentioned in this Azure Storage introduction. I would suggest to add that to make sure customers are aware of all Azure Storage solutions.
If you would need ANF technical content SMEs, I would suggest Arnt de Gier as point of contact. Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-07-28 18:51] MartinJaffer-MSFT commented on #96360
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-07-28 18:52] MartinJaffer-MSFT commented on #96360
Thank you for your feedback @eadwin-wtw . I will assign this to the content owner to evaluate on how to resolve the inconsistency.

[2022-07-28 19:09] JnHs commented on #96375
Hi @PatrickLownds - thank you for sharing your feedback! I'll share this with the team and we will create a work item to investigate improvements to this diagram and/or the surrounding content in the future.
Really appreciate your taking the time to share this comment.

[2022-07-28 19:12] mike-urnun-msft commented on #96306
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-07-28 19:12] #96306 closed

[2022-07-28 19:23] WilliamDAssafMSFT opened #96397 ""Classic alert rules can no longer be created via PowerShell. To create an alert rule you need to use the new 'Add-AzMetricAlertRule""
`Classic alert rules can no longer be created via PowerShell. To create an alert rule you need to use the new ['Add-AzMetricAlertRule'](https://docs.microsoft.com/en-us/powershell/module/az.monitor/add-azmetricalertrule) command.`

Seems contradictory.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbc0c779-ddb2-1e3b-b

[2022-07-28 19:32] enterpriseSoftware opened #96399 "Terrible Documentation"
We tried to use this example and failed.  Then we opened a ticket with microsoft and nobody could use it.

validationCode?  ValidationUrl?   Where do you get these things?  Please update the documentation for every required entry to use postman.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cbbd371-684e-e14e-4d4d-53e

[2022-07-28 19:57] EldertGrootenboer commented on #89749
We have updated the docs around VNetAndIPFilteringLogs.
ApplicationMetricsLogs is not used by Service Bus, the team is working on fixing this in the UI.

[2022-07-28 20:01] vml-aledonne opened #96400 "install of dotnet-ef fails in tutorial code"
Hello! The code that is part of this tutorial no longer works due to dot net tool version changes.

The error I get in the "Update Database" step is:

While I'm going to troubleshoot and work through it, I wanted to let you know so others aren't frustrated with this tutorial. thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2022-07-28 20:11] RyanHill-MSFT commented on #96384
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-28 20:14] spelluru commented on #89749
Thanks @EldertGrootenboer

#please-close

[2022-07-28 20:14] #89749 closed

[2022-07-28 20:36] JustinGrote opened #96402 "Samples have duplicate code"
Take this example:
https://github.com/Azure/azure-policy/tree/master/samples/Tags/inherit-resourcegroup-tag-if-missing

The policyRule is duplicated in both azurepolicy.json and azurepolicy.rules.json. It seems to me this format would be splitting out that specific code into the rules.json. I assume this is incorrect? If not, what's the point of having an azurepolicy.rules.json at all?

---
#### D

[2022-07-28 20:55] #94461 closed

[2022-07-28 20:59] robece commented on #95505
Thank you @gjarzab for the feedback, we have added this to our documentation backlog.

[2022-07-28 21:12] Oury-MSFT commented on #96329
@Rajini09 If you look at the Applies to section that refers to Azure SQL Data warehouse (Which were created before Synapse Workspace). The highlighted dedicated sql pools refer to the Pools created from Synapse Workspace. Please let me know if this is not clear.

[2022-07-28 21:33] #96329 closed

[2022-07-28 21:51] johnmarco commented on #96205
@anbengts this issue is being addressed and the updated article will appear soon. Thank you again. I am now going to close this issue.

#please-close

[2022-07-28 21:51] #96205 closed

[2022-07-28 21:55] ragatgen opened #96403 "ingress controler API version is not right, this is confusing end users https://kubernetes.io/blog/2021/07/26/update-with-ingress-nginx/"
This doc is making reference to a not valis ingress controller API version
https://docs.microsoft.com/en-us/azure/application-gateway/ingress-controller-expose-service-over-http-https

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: guestbook
  annotations:
    kubernetes.io/ingress.class: azure/application-gateway
spec:
  rules:
  - http:
      paths:
      - path: </other/*>

[2022-07-28 22:09] jgross-njnc opened #96404 "ServiceLogonAccount information"
ServiceLogonAccount does not support AES256, which will come up when trying to join the storage account to the domain (if that is selected as the type of encryption). This should be noted in the documentation so that the user is aware beforehand even though it does not seem to error out because of this.

I think it would be beneficial also to include verbiage related to the Update-AzStorageAccount

[2022-07-28 22:12] halkazwini commented on #96341
@Leoer

Thank you for your feedback! I've updated the article (it may take a few hours until the changes are reflected in the public Doc). Meanwhile, you can use the following cmdlets for the creation of the Route Server (after the creation of the Public IP):

$vnetInfo = Get-AzVirtualNetwork -Name myVirtualNetwork
$subnetId = (Get-AzVirtualNetworkSubnetConfig -Name RouteServerSubnet -VirtualNetwo

[2022-07-28 22:20] halkazwini commented on #96341
#please-close

[2022-07-28 22:21] #96341 closed

[2022-07-28 22:34] ashkickindevelopment opened #96407 "Standard file shares are only available in a pay-as-you-go billing model."
Hi, does the above statement mean EA customers cannot use standard file shares? Does this also apply for a MCA? I think it'd be helpful if this was explicity stated. Thanks in advance!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e4d27a4-b7be-bfea-4dfa-f40f98b1f9b4
* Version Independent ID: b0bf6bef-ad05-b5ac-eced-

[2022-07-28 22:40] KranthiPakala-MSFT commented on #96385
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-07-28 22:41] KranthiPakala-MSFT commented on #96394
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-07-28 23:04] nssidhu opened #96410 "How does one find out what API a given instance is using"
Is there a way to find out what API is the current Cosmos DB using ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13c45d52-c1bd-ea58-1930-57e7b3d7ba51
* Version Independent ID: 955bf122-6e77-7981-0cb5-83700bb961ba
* Content: [Choose an API in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/choose-ap

[2022-07-28 23:12] ggailey777 commented on #96369
Thanks @devndive for the heads-up!

[2022-07-28 23:28] SaiKishor-MSFT commented on #96361
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-28 23:42] kit-repo-depot opened #96411 "Error in the second code block"
I followed along with the "Azure CLI" code section and it threw an error in the second code block.

[code]

This is to create a private endpoint for an azure file share

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87a52dac-048f-2a4d-b857-cb91b9534cf5
* Version Independent ID: a1e64a4a-dcfb-eac3-4851-366dd8893428
* Co

[2022-07-28 23:43] ChaitanyaNaykodi-MSFT commented on #96199
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-07-28 23:52] ChaitanyaNaykodi-MSFT commented on #96314
Hello @paulsimongb, Two VM's are deployed here to [showcase communication](https://docs.microsoft.com/en-gb/azure/virtual-network/quick-create-portal#communicate-between-vms).
If you can share the links you have referred and what you are trying to achieve? I might be able to provide you with some tutorials or architecture reference.

[2022-07-28 23:54] Jess0-0 opened #96412 "ProjectKind Error"
Hi,

I keep getting the `InvalidArgument: The project kind in the exported project's metadata must match the assets' project kind.` Error
Wondering if what types of project kind are there and what I should put?
I used CustomEntityRecognition and it's not working. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c

[2022-07-28 23:58] Karishma-Tiwari-MSFT commented on #96184
@ferronsw As per my understanding, by default nginx ingress controller would monitor all the namespaces, I believe the key point here is to have a SecretProviderClass in the same namespace of ingress.

[2022-07-29 00:06] Lamphi90 opened #96415 "Feedback on this documentation - reg the support runtime version of Azure function"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07d8c45a-8f08-4c87-ae0d-9fbb901ed402
* Version Independent ID: 73c96870-96d3-5859-a0b9-1c69c3b11300
* Content: [How to target Azure Functions runtime versions](https://docs.microsoft.com/en-us/azure/azure-functions/set-runtime-version?tabs=portal#view

[2022-07-29 00:06] Lamphi90 commented on #96415
there's mismatch of version that's written and in the screenshot. However my question is also around the supported runtime - I only ~3 in my function app runtime settings.

[2022-07-29 00:07] Lamphi90 commented on #96415
For some weird reason, I am not able to update the feedback section as earlier I typed everything in title and edited it out.

[2022-07-29 00:31] #96199 closed

[2022-07-29 00:32] mikenri commented on #96199
I am going to close this.
Originally support indicated this wasn't possible but we worked with our TAM and the Front Door team to go over the process of how to route traffic via front door and vNET peering to a private load balancer in a region that doesn't support private endpoints.

[2022-07-29 00:40] ChaitanyaNaykodi-MSFT commented on #96372
Thank you for your feedback! We will review and update as appropriate.

[2022-07-29 01:00] Karishma-Tiwari-MSFT commented on #96371
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-07-29 01:09] Karishma-Tiwari-MSFT commented on #96376
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-07-29 01:09] naokitakeda14 opened #96416 "delete part of pg_repack"
[Enter feedback here]
Now pg_repack is not available. It is fixsing so far.
Please kindly delete part of pg_repack from the document ASAP because the customer is getting confused.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab533e2e-3fb7-6bed-dd07-1cb4de0368ba
* Version Independent ID: 1df8b46e-3491-ac8b-ba15-03bd06

[2022-07-29 01:31] YutongTie-MSFT commented on #96374
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-29 01:44] GeethaThatipatri-MSFT commented on #96410
@nssidhu Thank you for reaching out. We will look into it and update as appropriate.

[2022-07-29 01:45] GeethaThatipatri-MSFT commented on #96410
On the Azure portal, you can navigate to Data Explorer and view
![image](https://user-images.githubusercontent.com/92763260/181665431-4eaba075-d937-4a1d-b310-2013baf2fcf9.png)

[2022-07-29 01:47] GeethaThatipatri-MSFT commented on #96410
@seesharprun Please add your inputs if we have any other way to check the API

[2022-07-29 02:40] SnehaAgrawal-MSFT commented on #96400
@vml-aledonne Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-29 02:56] MrDesjardins opened #96417 "Error in Script"
There are a couple of errors in the page.

The script provided:

[code]

Is wrong because the `timestamp` does not exist. You can change it for `lastUpdateTime`. However, the delete command will still fail with `ERROR: 2022-07-29 02:55:57.956872 The requested data does not exist`

So, some work needs o be done :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2022-07-29 03:13] Rajini09 commented on #96329
It's still not clear. I assume it does not support Dedicated SQL pool on Azure Synapse. Referring dedicated SQL pool (along with formerly SQL DW) - this does not help for the readers, especially when Synapse dedicated sql pool is popular. This "important note" need be lot clearer than what it is stated today.

[2022-07-29 03:22] Juliako commented on #90476
@JohanKlijn , on the videoindexer.ai website, press the button "User accounts" , to the left of settings and select a different account.

[2022-07-29 03:36] peterkh commented on #96040
Hi @v-amallick the doc doesn't cover what permissions we need for the Backup Management Service app when the KeyVault is using the newer permission model covered in this doc: https://docs.microsoft.com/en-us/azure/key-vault/general/rbac-guide?tabs=azure-cli

It seems that a custom role is required to be created and then assigned to the Backup Management Service app in the scope of the KeyVault. It

[2022-07-29 03:49] GeethaThatipatri-MSFT commented on #96416
Hi @naokitakeda14 Thanks for your findings,We will investigate and update as appropriate

[2022-07-29 03:58] shwetamathur7 commented on #96295
@JonathanBrockhausen Thanks for your suggestion. There is a link provided in recommended content to Configure AD DS
 connector Account Permissions. However, I have pushed the changes to update the document to configure permissions link as well for easy access. Changes will be reflected in document after author's approval.

[2022-07-29 03:58] #96295 closed

[2022-07-29 04:01] #96280 closed

[2022-07-29 04:02] SwathiDhanwada-MSFT commented on #96397
@WilliamDAssafMSFT Thanks for your comment. We will review the issue and get back to you shortly.

[2022-07-29 04:03] SwathiDhanwada-MSFT commented on #96402
@JustinGrote Thanks for your comment. We will review the issue and get back to you shortly.

[2022-07-29 04:04] shwetamathur7 commented on #96224
@kjkent Glad you are able to resolve the issue. Yes, to update the password. User should have user administrator or a password administrator role as specified here "Sign in to the [Azure portal](https://portal.azure.com/) as a user administrator or a password administrator."

Closing thread as issue has been resolved.

[2022-07-29 05:04] KapilAnanth-MSFT commented on #96403
@ragatgen, thank you for your feedback. We'll review this and get back to you shortly!

[2022-07-29 05:14] PriyankaRudramaina commented on #96407
@ashkickindevelopment,

Thank you for your feedback. We will investigate and update the thread further.

[2022-07-29 05:14] PriyankaRudramaina commented on #96417
@MrDesjardins,

Thank you for your feedback. We will investigate and update the thread further.

[2022-07-29 05:35] AshokPeddakotla-MSFT commented on #96335
Adding @kgremban to evaluate and update the doc as appropriate.

[2022-07-29 06:01] soyfrien commented on #87233
@SfnUser Is this for a webserver? Everything looks fine, if so. You should be using the private IPs in the virtual hosts.

[2022-07-29 06:52] ferronsw commented on #96184
@Karishma-Tiwari-MSFT that's correct, but because the secrets will then be created in the same namespace as the ingress controller, you have to deploy the apps/ingress in the same namespace as well.

[2022-07-29 06:54] carlosumoh opened #96418 "502 error observed in the code"
I appreciate the author of this document however, i noticed a 502 error in my Application after following the steps in detail. How can one avoid this 502 error. I'm new in AKS and i see it as an industry need/use which has come to stay. Kindly give answers on how to resolve this 502 error. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2022-07-29 06:55] ferronsw commented on #96184
See [](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/944)

[2022-07-29 06:55] #96418 closed

[2022-07-29 06:57] garis opened #96419 "Falcon service incompatibility"
If the section _Supported endpoint protection solutions_ is referring to the MDE auto provisioning in Microsoft Defender for Cloud I think we need to also add a row for CrowdStrike (falcon-sensor) and CarbonBlack (cbsensor).

[Here](https://github.com/microsoft/mdatp-xplat/blob/master/linux/installation/mde_installer.sh) around lines 399-4299 we are checking for a few known security services and s

[2022-07-29 07:08] RohitMungi-MSFT commented on #96412
@Jess0-0 Here is the list of supported [projectKind ](https://docs.microsoft.com/en-us/rest/api/language/text-analysis-authoring/import?tabs=HTTP#projectkind)values.

I think the error might be related to matching the projectKind and assets definition in your import file i.e using category as the entity key. A successful import JSON example is available on the same [page ](https://docs.microsoft.c

[2022-07-29 07:52] JohanKlijn commented on #90476
@Juliako: thanks for the update. You are right.

Someone of Microsoft already explained me. Although it's not very intuitive, because by default the trail account is opened, even if you click the link from the VI account in Azure.  And I another user, which didn’t create the VI account in Azure and doesn’t have permissions, it will create a trail account and the VI account in Azure is not even vis

[2022-07-29 07:52] #90476 closed

[2022-07-29 07:59] kjkent commented on #96224
Hi @shwetamathur7, I'm not sure this should be closed as I think you misunderstood my response - I've always been signing into Azure as a Global Administrator.

What I said was that the *application itself* needed to be assigned the role of Password Administrator, which is not documented.

[2022-07-29 08:52] amanmcse commented on #96345
@nashuatek Contributor and Key Vault Contributor are two different RBAC roles. The statement is about the "Contributor" permission and not "Key Vault Contributor". As mentioned [here](https://docs.microsoft.com/en-us/azure/key-vault/general/rbac-guide?tabs=azure-cli#azure-built-in-roles-for-key-vault-data-plane-operations), the Key Vault Contributor role is for management plane operations to manag

[2022-07-29 08:52] #96345 closed

[2022-07-29 08:53] danewalton commented on #87924
Making a note for @naakhtar that the question is followed up with in https://github.com/Azure-Samples/iot-middleware-freertos-samples/issues/224

[2022-07-29 08:56] ChandraReddy97 commented on #48029
@IEvangelist can you check the above query

[2022-07-29 08:57] guywi-ms commented on #95568
@pnarsi Thanks for your dedication to our documentation! We've created an internal work item to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as necessary. #please-close

[2022-07-29 08:57] #95568 closed

[2022-07-29 09:30] shwetamathur7 commented on #96224
@kjkent Apologies for misunderstood the ask here. I will check and update you.

[2022-07-29 09:41] kjkent commented on #96224
@shwetamathur7 No apologies necessary! :) Just wanted to make sure you were aware.

[2022-07-29 09:49] stevenml opened #96423 "typo"
Primary and ripple benefits of cost-region replication are complex,
Should be
Primary and ripple benefits of cross-region replication are complex,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985-6fc3aec77974
* Version Independent ID: a9f4ec3f-f0a3-b050-020b-f487c74c5179
* Content: [Cross-region r

[2022-07-29 09:56] ondrejpialek commented on #47982
Sadly it seems that using `AZURE_COSMOS_EMULATOR_MONGODB_COMPUTE_ENDPOINT` no longer works to get the 3.6 endpoint. By now we have the 4.0 endpoint, so getting that to work would be great. Any ideas?

[2022-07-29 10:00] GauravKRNSingh opened #96424 "Duplicate Paragraphs"
The document has two introduction paragraphs that basically say the same thing. I am pasting the duplicate text below for context.

**Azure Spring Apps Config Server is a centralized configuration service for distributed systems. It uses a pluggable repository layer that currently supports local storage, Git, and Subversion. In this quickstart, you set up the Config Server to get data from a Git r

[2022-07-29 10:11] kengaderdus commented on #96386
@fei0x
Thank you for your patience.
I suppose you want to integrate an SPA app. You can get an ID token from the `/authorize` endpoint, if, for:
- `scope`, you include `openid` alongside other scopes.
- `response_type` you include `id_token`, such as `code+id_token`.

If you're testing your configuration with the `https://jwt.ms` url/app in the portal, you must [enable implicit grant flow](https:/

[2022-07-29 10:15] SnehaAgrawal-MSFT commented on #96172
@Neutrino-Sunset Could you make sure you bypass the Cloudflare. This is required to add the custom domains to the Azure App service and ensure the proxy status must be grey.

Check this blog on [CONFIGURE A DOMAIN FOR AN AZURE APP SERVICE USING CLOUDFLARE | Credit damienbod](https://damienbod.com/2020/05/05/configure-domain-for-azure-app-service-using-cloudflare/comment-page-1/)

Let us know If is

[2022-07-29 10:18] SnehaAgrawal-MSFT commented on #96276
@nagasandeepMSFT Just checking if you have chance to see above ask of @madsd, let us know to help you better on this.

[2022-07-29 10:52] dominicbetts commented on #95576
Hi @romankiss - I'm closing this issue now. If you want to discuss the mapping capabilities in more depth, please leave a message here for @Mzamankhan. Thanks!

[2022-07-29 10:52] dominicbetts commented on #95576
#please-close

[2022-07-29 10:52] #95576 closed

[2022-07-29 10:58] v-hgampala commented on #96239
@mrkuolematon, we are updating the article with the suggested changes.
#please-close

[2022-07-29 10:58] #96239 closed

[2022-07-29 11:14] v-hgampala commented on #95478
@sananoorani, we're updating the article as mentioned, the changes will reflect within 2-3 working days.
#please-close

[2022-07-29 11:14] #95478 closed

[2022-07-29 12:00] SwathiDhanwada-MSFT commented on #96423
@stevenml Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc within 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-07-29 12:10] #96423 closed

[2022-07-29 12:44] Cre8ivE-OnE opened #96426 "Out of sync documentation !?"
While this page provides information about the Azure Core Tools v4 - the link to [github](https://github.com/Azure/azure-functions-core-tools) provided in [this section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=v4%2Cwindows%2Ccsharp%2Cportal%2Cbash#install-the-azure-functions-core-tools) has outdated information (only through v3).

The link should be updated

[2022-07-29 12:51] romankiss commented on #95576
Hi @Mzamankhan,

thank you for your response. The major requirement for adding more capabilities to the ingress mapping is to enable aliases within the modelled complex object. The following is an example of the message  sent from the [The Thing Network](https://console.cloud.thethings.network/) (LoRaWAN Network Server) to the Azure IoT Central:

    {
    "_unmodeleddata": {
        "end_device_i

[2022-07-29 13:10] MayankBargali-MSFT commented on #96415
@Lamphi90 Thank you for your feedback! We will review and update as appropriate.

[2022-07-29 13:49] mumurug-MSFT commented on #96426
@Cre8ivE-OnE Thanks for your feedback. We will review and update the docs accordingly.

[2022-07-29 13:58] BadIdeasExecutedPoorly opened #96429 "Language Scripts"
While it is clear for some languages what scripts are used (e.g. English, French, Spanish use Latin), it is not clear for some.
E.g az could be Latin or Cyrillic.
Where can I find a full list of the script which Azure utilizes for all its supported STT languages?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4de08d1f-

[2022-07-29 14:12] KapilAnanth-MSFT commented on #96403
@ragatgen, We have assigned this to the content author for review.
@greg-lindsay, could you please review the suggestion and provide your inputs?

[2022-07-29 14:23] SuperGraham opened #96430 "Ambiguous instructions"
Obtain SSL certificate: Download the certificate needed to communicate over SSL with your Azure Database for MySQL server from https://www.digicert.com/CACerts/BaltimoreCyberTrustRoot.crt.pem and save the certificate file to your local drive.
For Microsoft Internet Explorer and Microsoft Edge: After the download has completed, rename the certificate to BaltimoreCyberTrustRoot.crt.pem.

Rename to t

[2022-07-29 14:37] pthomas848 opened #96431 "MUA for Backup vault coming?"
Is MUA planned for Backup vault? Like Recovery services vault has https://docs.microsoft.com/en-us/azure/backup/multi-user-authorization-concept? If so, what is the timeline?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4783cc28-5cf9-ad51-fcc3-6494fd0875ae
* Version Independent ID: 5fc9f5e2-8b02-2911-e615-ecee34192f2

[2022-07-29 14:45] dknappettmsft commented on #61441
Hi, it's because you're using PowerShell to run these commands (as shown by "PS" before your drive letter". The article stated to use command prompt, where these commands work as intended, however I have changed these to work with PowerShell as that is now the default.  The changes should be visible later today.

#please-close

[2022-07-29 14:45] #61441 closed

[2022-07-29 14:48] dknappettmsft commented on #62603
Thanks for the feedback.  This article has been recently reworked and only Storage File Data SMB Share Contributor is required for this process, not Elevated Contributor.  The changes should be visible in the next few days.

#please-close

[2022-07-29 14:48] #62603 closed

[2022-07-29 14:50] dknappettmsft commented on #75800
Hi @cshea15, still closing the backlog on these - is the difference here whether it's preinstalled on the marketplace images you can use when creating host pool, vs. someone creating their own custom image from scratch that doesn't have the agent?

[2022-07-29 14:55] SuperGraham opened #96432 "Running the code samples - Cert doesn't work"
Hello, I followed the instructions step by step and got stuck on the following step.

Obtain SSL certificate: Download the certificate needed to communicate over SSL with your Azure Database for MySQL server from https://www.digicert.com/CACerts/BaltimoreCyberTrustRoot.crt.pem and save the certificate file to your local drive.

In the Azure portal on the Connect blade of the MySQL DB under MySQL W

[2022-07-29 14:58] dknappettmsft commented on #65300
Hi, thanks for the feedback - this has been corrected and clarified in an update to this article.  The changes should be visible in the next few days.

#please-close

[2022-07-29 14:58] #65300 closed

[2022-07-29 14:59] DavidPaf commented on #95832
Hope you did this step:

In Azure portal, go to your App Service => SSH => run python manage.py migrate to copy data to Azure PostgreSQL db.

[2022-07-29 15:02] dknappettmsft commented on #68613
This article has been merged with the one for AD DS that includes the guidance mentioned above. Lots of the replication, performance, etc. is organization specific, but I have added a link to an article that discuss those points in more detail.  The changes should be visible in the next few days.

#please-close

[2022-07-29 15:02] #68613 closed

[2022-07-29 15:02] GeethaThatipatri-MSFT commented on #96430
@SuperGraham Thank you for reaching out. We will look into it and update as appropriate.

[2022-07-29 15:04] savjani commented on #96432
Adding @SudheeshGH to help out

[2022-07-29 15:05] dknappettmsft commented on #68780
Thanks for this detailed feedback! I have incorporated most of it into the article as part of some other updates, which should be visible in the next few days.  The point about needing an email address for a group isn't quite accurate - you use the UPN, which is in the same format as an email address of course, which works fine. You can also use the NETBIOS name for group (DOMAIN\group name) too.

[2022-07-29 15:05] #68780 closed

[2022-07-29 15:07] GeethaThatipatri-MSFT commented on #96432
@SuperGraham Thank you for reaching out. We will look into it and update as appropriate.

[2022-07-29 15:09] dknappettmsft commented on #71788
Thanks for the feedback - I've added in a PowerShell method of configuring these registry entries.   The changes should be visible in the next few days.

#please-close

[2022-07-29 15:09] #71788 closed

[2022-07-29 15:11] dknappettmsft commented on #73113
Hi, it's because you're using PowerShell to run the icacls commands instead of command prompt and they both interpret syntax slightly differently.  I've updated the article to use PowerShell to be more relevant, which also works with command prompt.  The changes should be visible in the next few days.

#please-close

[2022-07-29 15:11] #73113 closed

[2022-07-29 15:11] dknappettmsft commented on #74141
Closing the loop on this - this section has been removed already.

#please-close

[2022-07-29 15:11] #74141 closed

[2022-07-29 15:14] dknappettmsft commented on #75717
Thanks for the feedback.  The first point you raised still worked as it doesn't matter which way round the storage account key and user parameters are entered, however we have changed the example to match.

For the second one I believe it's because you're running the icacls commands in PowerShell, rather than command prompt.  I have update the article so the commands work with PowerShell and comma

[2022-07-29 15:14] #75717 closed

[2022-07-29 15:15] dknappettmsft commented on #96162
Thanks for the feedback.  I have reworked the article to correct this.  The change should be visible in the next few days.

#please-close

[2022-07-29 15:15] #96162 closed

[2022-07-29 15:15] SudheeshGH commented on #96432
@SuperGraham \ @GeethaThatipatri-MSFT  : The article you are referring https://docs.microsoft.com/en-us/azure/mysql/single-server/connect-nodejs  is for single server. Single servers uses BaltimoreCyberTrustRoot.crt as of now and  DigiCertGlobalRootCA is used by Flexible server. If you are using flexible server follow the article https://docs.microsoft.com/en-us/azure/mysql/flexible-server/connect

[2022-07-29 15:20] dknappettmsft commented on #60178
Thanks for the feedback - this article calls out in the first paragraph that its intent is to call out comparisons to storage solutions that **Azure** offers for Azure Virtual Desktop FSLogix user profile containers, rather than third-party or on-premises, so I don't think it's appropriate to add here.

#please-close

[2022-07-29 15:20] #60178 closed

[2022-07-29 15:25] SuperGraham commented on #96432
Ah, OK.  Maybe make that clear in the documentation because I selected to create an Azure Database for MySQL and it recommends a flexible server.
![image](https://user-images.githubusercontent.com/62471259/181792074-163a1bde-3f40-416a-9343-873e7214780b.png)

@SudheeshGH  - Thanks for the clarifications.

[2022-07-29 15:25] #96432 closed

[2022-07-29 15:27] KarlErickson commented on #96424
Hi @GauravKRNSingh - thanks for the report! I don't see the duplication in the published doc or in the source Markdown. I'm not sure what caused this issue, but it appears to be a temporary artifact. Hopefully the duplication has resolved itself. Please reopen this issue or file a new one if the problem is still happening for you, and we will investigate further. Thanks!

#please-close

[2022-07-29 15:27] #96424 closed

[2022-07-29 15:27] KarlErickson commented on #96424
#assign:karlerickson

[2022-07-29 15:29] SudheeshGH commented on #96432
@SuperGraham , Yes we do recommend Flexible sever. Please check the applies to section to identify which document is for which offering

![image](https://user-images.githubusercontent.com/48085058/181793207-d6ca7473-9668-4003-8d9d-fd613696d56a.png)

[2022-07-29 15:30] SudheeshGH commented on #96432
![image](https://user-images.githubusercontent.com/48085058/181793316-84d53ff9-1a3f-4ea2-87ea-08f18809bbd1.png)

Thank you for taking time to share the feedback

[2022-07-29 15:34] dknappettmsft commented on #96407
Hi @ashkickindevelopment , thanks for the feedback - this statement doesn't apply to the billing model for the Azure subscription (e.g. pay as you go, EA, etc.), but rather how much and when you get charged for the different tiers of Azure Files.  Premium file shares use a provisioned billing model, where you pay for the amount of storage you would like your file share to have, regardless of how m

[2022-07-29 15:34] #96407 closed

[2022-07-29 15:39] amitlals opened #96433 "SAP CDC(preview) or SAP ODP(Preview) screen"
Hi Ulrich/Team,
On this doc page, there is a slightly confusing screenshot, I checked on the azure portal it says SAP ODP(preview), although in docs, it mentioned SAP CDC (preview), it looks like we need to update the docs' screen. or am I missing something here?

![image](https://user-images.githubusercontent.com/37605691/181794749-d4ed2403-7a2c-443f-afff-a41a1ce834c7.png)

Thank you,
Amit Lal

-

[2022-07-29 15:39] MayankBargali-MSFT commented on #96156
@nareshnagpal06 Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-07-29 15:39] #96156 closed

[2022-07-29 15:39] dknappettmsft commented on #73108
Closing the loop on this one - that value appears to no longer appear in the article.

#please-close

[2022-07-29 15:39] #73108 closed

[2022-07-29 15:40] MayankBargali-MSFT commented on #96233
@grgkro Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-07-29 15:40] #96233 closed

[2022-07-29 15:49] dknappettmsft commented on #96342
Hi @xianw-msft, thanks for the comment.  I don't think this is the correct place to raise this as issues here are for the article itself, rather than for other questions about the feature.  I would suggest you use the Azure Virtual Desktop Discussion DL to ask this question.  You can contact me on Teams if you want me to point you in the right direction.

#please-close

[2022-07-29 15:49] #96342 closed

[2022-07-29 15:49] dknappettmsft commented on #89142
#please-close

[2022-07-29 15:49] #89142 closed

[2022-07-29 15:51] dknappettmsft commented on #89113
Thanks for the feedback - the article had a rewrite recently that should lay this out more clearly.

#please-close

[2022-07-29 15:51] #89113 closed

[2022-07-29 15:53] dknappettmsft commented on #86308
Thanks for the feedback - an RDS license server is required when using Windows Server as the OS for your session hosts (it is not required when using Windows client OS).  The paragraph in the article reads "If you deploy Windows Server as Azure Virtual Desktop hosts in your deployment, a Remote Desktop Services license server must be accessible from those virtual machines."

#please-close

[2022-07-29 15:53] #86308 closed

[2022-07-29 15:55] KranthiPakala-MSFT commented on #96404
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-07-29 15:56] KranthiPakala-MSFT commented on #96411
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-07-29 15:57] KranthiPakala-MSFT commented on #96419
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-07-29 16:24] cshea15 commented on #75800
@dknappettmsft - The only time the FsLogix would be installed to the VM is if they use FsLogix on a Personal Session Host.

Adding @jensheerin

[2022-07-29 16:35] phelaja opened #96434 "Querying Wording on Service Tags and Firewall Rules required"
Is it possible to get more clarity on the wording below please - Is my interpretation correct?

Query 1:
"...To cover all the exceptions in this article, use the service tags ActionGroup, ApplicationInsightsAvailability, and AzureMonitor...."
Is this for outbound rules i.e. all 3 tags should be used when configuring outbound AzFW rules?

Query 2:
"...All Application Insights traffic represents out

[2022-07-29 16:36] Mezzenine opened #96435 "Wrong description of the symptom"
If you deploy a storage account with the same name as an existing storage account in your subscription, but in a different location, you receive an error. The error indicates the storage account already exists in a different location. Either delete the existing storage account or use the same location as the existing storage account.

The account name has not only to be unique within the subscript

[2022-07-29 16:42] RohitRanjanMS commented on #92820
https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Host.Storage/4.1.0

[2022-07-29 16:43] davidsmatlak commented on #96435
#assign:davidsmatlak

[2022-07-29 16:46] KranthiPakala-MSFT commented on #96433
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-07-29 16:47] KranthiPakala-MSFT commented on #96433
@jianleishen , @jonburchel - Could you please review the above feedback and update the images as needed. Thank you

[2022-07-29 16:55] davidsmatlak commented on #96435
@Mezzenine Thanks for the feedback. I'll update the article to clarify the existing content about using unique storage account names.

[2022-07-29 17:04] kmcconnell opened #96437 "Service Health webhook common alert JSON payloads do not match any schema on this page"
The JSON payload received from a Microsoft.ServiceHealth incident alert includes the `severity` property as expected however the value in the example below is `info` which according to [this page](https://docs.microsoft.com/en-us/azure/azure-monitor/alerts/alerts-common-schema-definitions#essentials) should be either `Sev0`, `Sev1`, `Sev2`, `Sev3`, or `Sev4`.

There are example payloads based on s

[2022-07-29 17:08] tejaswikolli-web commented on #91422
#please-close

[2022-07-29 17:08] #91422 closed

[2022-07-29 17:16] johnmarco commented on #96347
Error code AZCM0070 has been added to article.

#please-close

[2022-07-29 17:16] #96347 closed

[2022-07-29 17:26] SadiqhAhmed-MSFT commented on #96431
@pthomas848 Thank you for your post. We had plans of adding MUA for Backup vault but no recent developments made yet. I shall get back to you on this.

[2022-07-29 17:37] #96426 closed

[2022-07-29 17:50] JimacoMS4 commented on #93754
#reassign @kgremban

[2022-07-29 17:50] khdownie commented on #96404
@jgross-njnc thanks for this, I've updated the page:

https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-ad-ds-enable

@KranthiPakala-MSFT this issue can now be closed.

[2022-07-29 17:58] jmprieur commented on #93834
@cotepatrice :
The code works well in general (we use it all the time)

I think that you have another variable option of type `BinderOptions`
Use another variable name in the delegate:

[code]

[2022-07-29 17:58] jmprieur commented on #93834
#please-close

[2022-07-29 17:58] #93834 closed

[2022-07-29 18:01] mumurug-MSFT commented on #96426
@Cre8ivE-OnE We have updated docs and it will be published soon. Thanks again for bringing this to our attention.

[2022-07-29 18:02] caltseng opened #96439 "Errors and Documentation should indicate required OS Versions"
Should not require a call to IT to figure out that Windows Pro is required, not Windows Home. These are also not listed as requirements in any of the documentation. It should be obvious and trivial to display a "Your operating system is incompatible" error with details on the required OS versions.

Pages
- https://docs.microsoft.com/en-us/azure/active-directory/devices/troubleshoot-hybrid-join-win

[2022-07-29 18:10] JimacoMS4 commented on #93754
#reassign @kgremban

[2022-07-29 18:10] JimacoMS4 commented on #93754
#assign @kgremban

[2022-07-29 18:12] tfitzmac commented on #96435
The storage account name needs to be unique for all instances across Azure, not just your subscriptions. I think the referenced paragraph is trying to describe the scenario where you deploy the same storage account to the same resource group but with a different location. In that case, you get an invalid resource location error. But, the error message suggests using a different name. I think the p

[2022-07-29 18:15] JimacoMS4 commented on #93754
#reassign kgremban

[2022-07-29 18:34] pmula-onbe opened #96440 "Appgw WAF action_s logs field "detected vs blocked" - Geo Location custom rule"
I'm testing a WAF policy in prevention mode with a custom rule that blocks based on the location using a match type "Geo Location".
I have noticed in the WAF logs that some traffic is being "blocked" but other is just being "detected".

In the action_s field in the logs I have those two values with different messages:

Action: Blocked - Message: Access denied with code 403. Found condition 0 in Re

[2022-07-29 18:39] khdownie commented on #95926
@PedroC88 we haven't had any other reports of this issue so at this point I would advise you to file a support ticket. @SumanthMarigowda are you able to help with this?

[2022-07-29 18:39] khdownie commented on #96404
#please-close

[2022-07-29 18:39] #96404 closed

[2022-07-29 18:49] jgross-njnc commented on #96404
Thank you, that was quick. The only thing I would add is that may be useful to have the line "Note that Service Logon Accounts do not support AES256 encryption." After the line "# Specify the encryption algorithm used for Kerberos authentication. Using AES256 is recommended." Instead of where it currently is.

Justin

From: Ken Downie ***@***.***>
Sent: Friday, July 29, 2022 1:51 PM
To: MicrosoftD

[2022-07-29 19:20] MarileeTurscak-MSFT commented on #96439
@caltseng thanks. We are looking into this.

[2022-07-29 19:25] devan10 opened #96442 "Clarification on MCA Individual vs MCA Enterprise"
Can you please provide additional information regarding MCA - Individual vs MCA - Enterprise?  I have not been able to find any specific references to this in any documentation, everything simply refers to MCA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55151e88-c7c5-47e4-573c-04441dc23577
* Version Independent ID:

[2022-07-29 19:38] MonikaReddy-MSFT commented on #96442
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-07-29 19:38] MonikaReddy-MSFT commented on #96434
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-07-29 19:41] dknappettmsft commented on #75800
@cshea15 thanks for the clarification. Agreed that FSLogix Apps will need to be installed for personal session hosts as it is pre-installed in multi-session OS, but it would also need installing if using Windows Server as the OS in pooled session hosts.  The version that comes in multi-session is not always up to date (testing now it comes with 2.9.8171.14983, whereas 2.9.8228.50276 is available),

[2022-07-29 19:43] tfitzmac commented on #96221
@SwathiDhanwada-MSFT - can you reassign to the translation team?

[2022-07-29 19:46] degant commented on #66923
Anyone looking for the feedback link: https://feedback.azure.com/d365community/idea/b597e1af-0a25-ec11-b6e6-000d3a4f07b8

[2022-07-29 19:48] SadiqhAhmed-MSFT commented on #96431
@pthomas848 We are targeting a preview next quarter for MUA for Backup vaults.

Hope that answers your question!

[2022-07-29 19:58] mreadsma opened #96444 "incomplete information on headers"
It would be extremely helpful if this page contained an obvious link to where one may find the full list of injected headers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c7d2cdb-23c1-0b1a-ff5d-cc0e5687c98d
* Version Independent ID: 6670e4f0-fd40-54c5-0b40-2220c06d2118
* Content: [User identities in AuthN/AuthZ - Az

[2022-07-29 20:54] paulsimongb commented on #96314
Hi

Thanks for the reply. OK so the only reason you created two VMs was to demonstrate communication between them. In practice, one VM would be enough. Please update the doc to explain that.

I am a Data Warehouse architect not an Azure Infrastructure specialist. Setting up a VNet and VM and the link to on-premises databases across our split domains would be way beyond my capability. We would need

[2022-07-29 21:28] PedroC88 commented on #95926
Don't worry about this any further. We have decided not to automate this process and the person running it said it only takes a few seconds. Since it may be an issue with the machine I'll reattempt when we deploy a new VM on a new environment.

Thanks @khdownie (and all) for the support

[2022-07-29 21:35] DennisBray opened #96446 "jetstream documentation link is incorrect"
The link in this section points to completely unrelated documentation for another product from another company.
For remaining configuration steps for JetStream DR, such as creating a failover runbook, invoking failover to the DR site, and invoking failback to the primary site, see the [JetStream Admin Guide documentation](https://docs.delphix.com/docs51/delphix-jet-stream/jet-stream-admin-guide).

[2022-07-29 21:35] JnHs commented on #96375
I'll close this item now but please let us know if you have additional feedback. Thanks again!
#please-close

[2022-07-29 21:36] #96375 closed

[2022-07-29 21:41] JnHs commented on #21098
Closing this old issue as there is no immediate doc update. Thanks all for your feedback.
#please-close

[2022-07-29 21:41] #21098 closed

[2022-07-29 21:47] JnHs commented on #60841
Apologies for the extremely long time without a response.
This page has been updated recently and should be up to date. Please note that as mentioned on the page, "you may want to add URLs related to other Microsoft products and services."
I'm going to close this out, please let us know if you still have additional feedback or questions. Thanks for taking the time to raise this issue and again, I'

[2022-07-29 21:47] #60841 closed

[2022-07-29 22:01] cebundy commented on #96174
#assign:cebundy

[2022-07-29 22:05] vlad-kozlov opened #96447 "azure CLI doesn't work for Geo-Restore"
To restore a database by using the Azure CLI, see [az sql db restore](https://docs.microsoft.com/en-us/cli/azure/sql/db#az-sql-db-restore).

**az sql db restore** doesn't have an option to specify the target SQL server, only the target database on the local (source) SQL server.

PowerShell Geo-restore works fine and allows to specify Target Server.

---
#### Document Details

⚠ *Do not edit this s

[2022-07-29 22:06] cebundy commented on #96174
@k33lan Thank you for catching this typo!  We will make the change you suggested.
#please-close

[2022-07-29 22:06] #96174 closed

[2022-07-29 22:29] lukaesch commented on #63099
The docs are confusing me as well.  We are using Azure Front Door with a wildcard domain (*.mydomain.com)

At the moment, all requests are routed to the same backend host.

But, we would like to achieve the following without creating specific rules for each path:

service1.mydomain.com FORWARDS to
<host>/service1
service2.mydomain.com FORWARDS to
<host>/service2
service3.mydomain.com FORWARDS to
<

[2022-07-29 22:31] Karishma-Tiwari-MSFT commented on #96184
Thanks for sharing the other issue. It has been answered by Product team.
Sharing the answer for others to reference from here - https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/944#issuecomment-1194326052

Please let me know if you have any further questions.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I wi

[2022-07-29 22:31] #96184 closed

[2022-07-29 22:32] Karishma-Tiwari-MSFT commented on #96446
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-29 23:03] rwestMSFT commented on #93400
The article has been updated and will publish in the next few days.

#please-close

[2022-07-29 23:03] #93400 closed

[2022-07-29 23:38] dzsquared commented on #89673
Addressed with https://github.com/MicrosoftDocs/sql-docs-pr/pull/23182
The source file parameter is for local file storage, not a blob storage URL.  You can wrap sqlpackage in a bash or powershell script and run wget or curl to download the dacpac before publish, however.
#please-close

[2022-07-29 23:38] #89673 closed

[2022-07-30 01:29] KranthiPakala-MSFT commented on #96440
@pmula-onbe Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any documentation changes upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://docs.mic

[2022-07-30 01:30] KranthiPakala-MSFT commented on #96444
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-07-30 01:31] KranthiPakala-MSFT commented on #96447
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-07-30 03:36] GeethaThatipatri-MSFT commented on #96430
@SuperGraham did you get the information from [here](https://github.com/MicrosoftDocs/azure-docs/issues/96432) on the certs? please let me know if you need any additional information

[2022-07-30 04:00] KrishnaG-MSFT commented on #96347
@johnmarco Thank you.

[2022-07-30 05:42] SuperGraham commented on #96430
Hi @GeethaThatipatri-MSFT - from here - https://docs.microsoft.com/en-us/azure/mysql/single-server/connect-nodejs.

I have everything sorted now. I got confused by instructions explaining to rename the certificate file to the same name, and  I chose a flexible server instead of a single server, which caused the certificate issue.  Now everything is clear, but I suspect the docs need clarifying a b

[2022-07-30 07:22] SumanthMarigowda commented on #96163
@Mayumi-A Apologies for the delay response! I have assigned this thread to content author for further review, Also if you have any issue with is not related to documents/articles. I would recommend to please reach us through this link, https://azure.microsoft.com/en-us/support/community/ We'll follow-up there

[2022-07-30 07:29] SumanthMarigowda commented on #96202
@andrePKI  The article is pointing correct URL,

[Use the web-based UI to administer your Data Box](https://docs.microsoft.com/en-us/azure/databox/data-box-portal-ui-admin) ![image](https://user-images.githubusercontent.com/80444138/181879975-acbbec7a-e2bb-4e24-911b-3415344ef16a.png)

Additional information: I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community

[2022-07-30 07:29] #96202 closed

[2022-07-30 07:33] SumanthMarigowda commented on #96238
@hachiang-msft Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-07-30 07:35] SumanthMarigowda commented on #96395
@tamram , Can you please add your comments here

[2022-07-30 07:42] SumanthMarigowda commented on #96411
@kit-repo-depot  Based on the error message I assume you are using GPV2 storage account? If not please use the GPV2 storage account or File storage, Try again and let me know the status
 For more information, refer to this article: https://docs.microsoft.com/en-us/azure/storage/files/storage-files-planning#management-concepts

[This article lists common problems that are related to Microsoft Azure

[2022-07-30 07:42] #96411 closed

[2022-07-30 07:43] SumanthMarigowda commented on #96343
@koder101 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-07-30 10:02] SychevIgor commented on #53025
wow. just 2 years

[2022-07-30 10:03] SychevIgor commented on #56251
2 years after request... open source is soo open source

[2022-07-30 10:10] HariKrishnaRajoli-MT opened #96450 "Azure Functions PowerShell Project downloaded from Azure Portal Function App, not working in Visual Studio 2022"
**Scenario 1**:

![1Downloadappcontent](https://user-images.githubusercontent.com/88704316/181905536-862e67b2-a25d-4bc8-a5ad-3bbcc70e1d2e.png)

Create PowerShell Azure Function and Http Trigger using Azure Portal.
Download with Content & VS Project include app settings from Overview blade.
Debugging/Running in VS Code successfully, not in the Visual Studio 2022.

Observation: When I install PowerS

[2022-07-30 13:25] arolariu commented on #88622
Hello,

@gundarev is no longer with MS.
@VikasPullagura-MSFT - can you check and re-assign?

@neilkoch - sorry for the delay in the assignment of this issue.

[2022-07-30 16:40] D-I-J commented on #96384
@RyanHill-MSFT  If you want to have a meeting please share your free time, I will show you the error.
Just saying.

[2022-07-30 19:37] jvargh commented on #89050
@VikasPullagura-MSFT @zr-msft any updates on this, seeing the same

[2022-07-30 19:56] alfredorevilla commented on #95941
Hello @ivratche, confidential clients are the ones that authenticate themselves using a a client secret or certificate. Regarding `stsrefreshtokensvalidfrom` the value is the same as MS Graph user `refreshTokensValidFromDateTime` and will be set to current datetime after using the [Revoke-AzureADUserAllRefreshToken](https://docs.microsoft.com/en-us/powershell/module/azuread/revoke-azureaduserallre

[2022-07-30 21:26] AK-HKVP9 opened #96451 "Three or two views ?"
Three or two views ?

![image](https://user-images.githubusercontent.com/96558735/181996662-dc795602-3723-4a28-af94-ba9550457fb3.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3d5ad1c-7b22-adbf-853d-e9a6ed7c7208
* Version Independent ID: a5c4fb0a-4a26-9efa-b930-8c9e3ace0dd2
* Content: [Work with the sensor device

[2022-07-30 21:43] ettalhi commented on #95376
ignoreChanges documentation is misleading :

- They should explain clearly what they mean by IGNORE .
- They should give clear example in BOTH cases : ignoreChanges=True AND ignoreChanges=False

The same story for ignoreDeletes.

[2022-07-30 21:58] clgz2002 opened #96452 "Add Ubiquiti Unifi Configuration Details"
It would be nice to include the Ubiquiti UniFi VPN Configuration to establish a VPN with Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 779fbece-f67b-28ef-143e-f58ecfa29b1d
* Version Independent ID: fe532684-022f-9006-9179-c534fd923171
* Content: [About VPN devices for connections - Azure VPN Gateway](https://do

[2022-07-30 22:35] mike-urnun-msft commented on #96451
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-07-31 01:42] alfredorevilla commented on #95761
Hello @robert-bunch, confirmed. Azure AD tokens will be retrieved and used thus CA policies will be applied accordingly.

[2022-07-31 05:44] iamramengirl commented on #96171
Any updates on this, please? Thanks!

[2022-07-31 06:31] geekzter opened #96453 "List of supported operating systems refers to information not displayed on the page"
Hi,

I'm running into issues provisioning DependencyAgentLinux on Ubuntu 22.04. The https://aka.ms/VMExtensionDependencyAgentLinuxTroubleshoot link in the message links to a page which in turn [links to this page](https://docs.microsoft.com/en-us/azure/azure-monitor/agents/agents-overview#supported-operating-systems) for Supported operating systems.

The page however is incomplete:
- Footnote 3 re

[2022-07-31 07:12] DevonTomatoSandwich opened #96454 "Should update quick create instructions to include permission cmd"
I'm using the guide to setup linux vm
https://docs.microsoft.com/en-au/azure/virtual-machines/linux/quick-create-portal?WT.mc_id=UI-AQC

For the section "Connect to virtual machine", before running the command "ssh -i" I had to change permissions with chmod which is suggested in the portal instructions. In the portal if you go to "connect" step 2 includes the chmod command. The portal instructions

[2022-07-31 08:04] bmansheim commented on #95731
I wanted to hear from you that the answer meets the requirement. I published now and it will be live at: https://docs.microsoft.com/en-us/azure/defender-for-cloud/deploy-vulnerability-assessment-vm#how-can-i-check-that-the-qualys-extension-is-properly-installed

[2022-07-31 08:11] ElazarK commented on #96419
#reassign:bmansheim

[2022-07-31 08:13] batamig commented on #96451
Hi @mike-urnun-msft, thanks for writing into docs! We'll get this fixed in an upcoming publish.

Since you're internal to Microsoft, I'll also mention that we welcome external contributions as direct pull requests. Please get in touch if you're interested in learning more. We appreciate your contribution to docs!

I'm closing this issue for now, but feel free to continue commenting as needed.
#ple

[2022-07-31 08:13] #96451 closed

[2022-07-31 08:19] batamig commented on #96451
Hi @AK-HKVP9, thanks for writing into docs! We'll get this fixed in a coming publish.
I'm going to close this issue in the meantime, but please feel free to continue commenting as needed.
We appreciate your contribution to docs!
#please-close

[2022-07-31 11:20] SolomonTomer opened #96457 "Miss alignment in EH's batch max size"
Hey,

According to [this](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-programming-guide#batch-event-send-operations) documentation, the max size of a batch is 1MB however according to [this](https://github.com/Azure/azure-sdk-for-net/blob/05692ed013a953ea77e05cfcc4be4af127b67002/sdk/eventhub/Microsoft.Azure.EventHubs/src/EventDataBatch.cs#L14) github reference, it's 4MB (lines 16

[2022-07-31 11:55] shessane opened #96458 "BYOS on Linux AppService limited to 5 volumes"
Can you elaborate on the five mount points per app limitation? Why is this limitation? And why is it global regardless the AppService SKU ?
Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cd70fac-5d7c-7637-8385-f3f4af3ba0ad
* Version Independent ID: 15d95fc5-f08e-a26c-ce06-8ead78474661
* Content: [Mount Azure

[2022-07-31 13:37] bwren commented on #96124
Thanks for this. We have an open work item to update our live data content. I'll add this to it.

#please-close

[2022-07-31 13:37] #96124 closed

[2022-07-31 13:43] bwren commented on #95562
#assign: guywi-ms

[2022-07-31 13:43] bwren commented on #95562
#ressign: guywi-ms

[2022-07-31 13:44] bwren commented on #95562
#reassign: guywi-ms

[2022-07-31 13:48] bwren commented on #95196
Thanks for this and sorry for late reply. That article is specific to Azure dashboards as opposed to ADX dashboards which are currently in preview. I'll not the request to refer to ADS dashboards as another option though.

#please-close

[2022-07-31 13:48] #95196 closed

[2022-07-31 13:51] bwren commented on #95347
@fwikestad
Going to close this, but please reopen if you have details about reproducing the issue.

#please-close

[2022-07-31 13:51] #95347 closed

[2022-07-31 13:54] danimir commented on #96321
#assign @MladjoA

[2022-07-31 13:56] bwren commented on #95007
Thanks for this and sorry for late reply. Adding that note now.

#please-close

[2022-07-31 13:56] #95007 closed

[2022-07-31 13:58] bwren commented on #94840
Sorry for late reply and thanks for this. We just made a major update to this content as we're still evolving it in preview. It is public preview now with sign up no longer required. I'll double check screenshots since you're correct that AzureDiagnostics table is not yet supported.

#please-close

[2022-07-31 13:58] #94840 closed

[2022-07-31 14:01] bwren commented on #96193
Thanks for this. Creating a work item now to get this corrected. We're looking at getting these samples into GitHub so we can better maintain.

#please-close

[2022-07-31 14:01] #96193 closed

[2022-07-31 14:28] bwren commented on #93093
Thanks for this and apologies for late reply. Updating that article now. Should be no region restrictions.

#please-close

[2022-07-31 14:28] #93093 closed

[2022-07-31 14:45] bwren commented on #91233
Thanks for this and apologies for the late reply. Working with our AKS team to get this updated.

#please-close

[2022-07-31 14:45] #91233 closed

[2022-07-31 14:53] bwren commented on #96453
#reassign: guywi-ms

[2022-07-31 14:55] bwren commented on #90006
#please-close

[2022-07-31 14:55] #90006 closed

[2022-07-31 14:58] bwren commented on #92537
Thanks for this and sorry for late reply. Updating article now.

#please-close

[2022-07-31 14:58] #92537 closed

[2022-07-31 15:13] bwren commented on #84119
Apologies for the terribly late reply. Article has now been updated with latest versions.

#please-close

[2022-07-31 15:13] #84119 closed

[2022-07-31 15:29] alvipeo opened #96459 "Before suggesting that Storage Emulator is deprecated make Azurite upgradable!"
Azure Storage has changed service API version to 2021-08-06, so Azurite made new version 3.18. But Visual Studio 2022 still has previous version! And now 50% of my tests are failing because of this:

How did I fix it? I installed Azure Storage Emulator 5.10! Because I couldn't find an easy way of updating azurite.

Stop making stupid moves Microsoft! (You did the same with SyncToy, etc)

---
####

[2022-07-31 15:39] SumanthMarigowda commented on #96378
@NebV
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-07-31 16:00] omonimus1 opened #96460 "README.md -> Install instruction gives 404"
In the README.md file of the [https://github.com/MicrosoftDocs/azure-docs](https://github.com/MicrosoftDocs/azure-docs) repository, in the settings section, the link
```install content authoring tools``` gives a 404 error;

The link try to access contribute/get-started-setup-tools, which does NOT exists.

<img width="461" alt="image" src="https://user-images.githubusercontent.com/23085146/18203488

[2022-07-31 17:32] SumanthMarigowda commented on #96459
@alvipeo
Thanks for the question! We are investigating and will update you shortly.

[2022-07-31 17:34] SumanthMarigowda commented on #96459
@alvipeo Firstly, apologies for the inconvenience has caused!  I would like to work closer on this issue. I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there( please share the complete details of the issue with the error message screenshot).

We will now proceed to close this thread.

[2022-07-31 17:34] #96459 closed

[2022-07-31 17:40] omonimus1 opened #96461 "Github account setup in the prerequisites section of the README.md file 404 error"
### ERROR
Github account setup in the prerequisites section of the README.md file 404 error

### Steps to reproduce
1. Go to the README.md file of the Azure-docs documentation repository  [https://github.com/MicrosoftDocs/azure-docs](https://github.com/MicrosoftDocs/azure-docs)
2. Scroll down to the pre-requisites section
3. Click on Github account set-up4.

### Screenshot
<img width="467" alt="im

[2022-07-31 17:56] balusmsft opened #96462 "Code links on the page are broken"
[Enter feedback here]

Tried clicking on C# samples for text classification and they were broken.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58c92023-7ced-1f84-d261-850bf3f9e8f6
* Version Independent ID: ea7e73e8-7157-a4bf-afe3-73d770673873
* Content: [What is custom text classification (preview) in Azure Cognitive

[2022-07-31 18:08] mmannion commented on #95731
I understand - and I see the update. Thanks for explaining this to me.

[2022-07-31 18:51] mike-urnun-msft commented on #96460
Thank you for your feedback! We will review and update as appropriate.

[2022-07-31 18:52] mike-urnun-msft commented on #96461
Thank you for your feedback! We will review and update as appropriate.

[2022-07-31 18:52] mike-urnun-msft commented on #96462
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-07-31 19:57] mnmr opened #96464 "CosmosDB Emulator release notes are missing for 2.14.8 and 2.14.9"
Not much to add except that it'd be nice to know what's changed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1300a10b-16f3-9185-af2a-67437bf428d2
* Version Independent ID: 07fd7c5a-0ad5-a7b4-21ef-768f183076aa
* Content: [Azure Cosmos DB Emulator download and release notes](https://docs.microsoft.com/en-us/azure/cosm

[2022-07-31 20:19] AaronLS opened #96465 "Windows Guest Agent in Azure VM Agent article"
Is "Windows Guest Agent" a synonym for "Azure VM Agent"?  I see multiple articles on Azure VM Agent that suddenly introduce the Windows Guest Agent without explaining the relationship between the two.

"The Windows Guest Agent Package is broken into two parts:
Provisioning Agent (PA)
Windows Guest Agent (WinGA)
"

For one, this is confusing because it is saying the Windows Guest Agent is broken in

[2022-07-31 20:20] Rodneyva opened #96466 "Cost Management Exports"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51144539-a3a7-f7fa-1bc1-0d32bb85e9fd
* Version Independent ID: b01d33a0-4c5d-7ec4-8c2f-de4a940707dc
* Content: [Tutorial - Create and manage exported data from Cost Management - Microsoft Cost Management](https://docs.microsoft.com/en-us/azure/cost-ma

[2022-07-31 20:22] #96466 closed

[2022-07-31 20:22] Rodneyva commented on #96466
New to Github.   opened issue by mistake..

[2022-07-31 20:53] himachida opened #96467 "Azure Blob Storage pricing"
[Enter feedback here]

I was not able to find where to send my feedback on https://azure.microsoft.com/ja-jp/pricing/details/storage/blobs/.

Could you modify the following sentence? For the original sentence it sounds like there is a special early deletion fee that is not described on the page.

Before: アーカイブ層での保存に対して 135 (180 - 45) 日分に相当する早期削除料金が適用されます。
After: アーカイブ層での保存 135 (180 - 45) 日分に相当する早期

[2022-07-31 22:00] tlhumphrey2 opened #96468 "Create and manage Private Link for Azure Database for MySQL"
Good exercise. But, the end results were not what I expected. I expected that when on the vm within the vnet, a 'nslookup' would return the private IP of mysql server. Instead, it returned a public IP. Plus, outside the vnet, I expected the 'nslookup' to return no IP. But, instead it returned a public IP again.

There was one difference in my setup. Instead of the vm being a Windows vm, it was an

[2022-07-31 23:29] nashuatek commented on #96345
Agreed, what I was referring to was that it doesn't apply if you are using the Azure Role Based access control policy.

![image](https://user-images.githubusercontent.com/37293365/182049671-9790e76c-4042-4636-addc-3a43ca8f9df6.png)

[2022-08-01 01:34] vlad-kozlov opened #96469 "How to perform the Geo-restore if the source region/sql server not available"
Hello,
The document states:

"You can request a geo-restore even if the database or the entire region is inaccessible due to an outage."

However, if the original region\source SQL server is unavailable, the source database GRS copy is unavailable in the Azure portal drop-down and not available via PowerShell command.

Should this be done via a separate support ticket? How to test the geo restore

[2022-08-01 01:53] KrishnaG-MSFT commented on #96466
@Rodneyva Thanks for the update.

[2022-08-01 03:13] VikasPullagura-MSFT commented on #96465
@AaronLS
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-01 03:13] VikasPullagura-MSFT commented on #96465
@MsGabsta
Can you please check and add your comments on this doc update request as applicable.

[2022-08-01 03:17] AshokPeddakotla-MSFT commented on #96149
@kd365  For a deeper investigation and immediate assistance on this issue, please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan please let us know.

[2022-08-01 03:21] xianw-msft commented on #96342
Thank you for pointing out the right contact, @dknappettmsft .

[2022-08-01 04:14] SnehaAgrawal-MSFT commented on #95890
@geometrikal Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-08-01 04:17] YutongTie-MSFT commented on #96374
Thanks for the feedback again! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-08-01 04:20] SnehaAgrawal-MSFT commented on #96276
@nagasandeepMSFT Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2022-08-01 04:20] #96276 closed

[2022-08-01 04:33] AnuragSharma-MSFT commented on #96464
@mnmr Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-08-01 04:35] SnehaAgrawal-MSFT commented on #96236
@D-I-J We typically try to keep the Azure-Docs channel scoped to feedback directly about the docs. Since your question goes beyond what is discussed in the doc, we kindly invite you to share question to [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack overflow forum](https://stackoverflow.com/questions/tagged/azure).
Thank you for your understanding in this.

[2022-08-01 04:35] #96236 closed

[2022-08-01 04:36] AnuragSharma-MSFT commented on #96468
@tlhumphrey2 Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-08-01 04:37] AnuragSharma-MSFT commented on #96469
@vlad-kozlov Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-08-01 04:43] SreejaBhattacharya-MSFT commented on #96290
Hi @msmbaldwin could you please take a look at this.

[2022-08-01 04:45] SnehaAgrawal-MSFT commented on #96172
@Neutrino-Sunset Thanks for clarification! Your feedback has been shared by content author to review further and update the document as appropriate. Thanks again.

[2022-08-01 05:03] SumanthMarigowda commented on #96467
@himachida Thanks for your question. We are checking on this and will respond to you soon.

[2022-08-01 05:13] MayankBargali-MSFT commented on #96362
@joudot Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2022-08-01 05:13] #96362 closed

[2022-08-01 05:32] SadiqhAhmed-MSFT commented on #96431
@pthomas848 We will now proceed to close this issue. Feel free to ping with questions if need any assistance.

[2022-08-01 05:32] #96431 closed

[2022-08-01 05:49] MayankBargali-MSFT commented on #96194
@HariKrishnaRajoli-MT Thanks for reaching out. EvaluatedRecurrence is essentially when you have any expressions/parameter references in your original recurrence criteria. The evaluated values will be in the property “evaluatedRecurrence”. But if the original recurrence doesn’t have any expressions/references then recurrence and EvaluatedRecurrence will be the same.

I have assigned the issue to th

[2022-08-01 05:55] yaakov-simon commented on #94344
@udhaymahajan - Are there any updates? Did you receive the email that I sent with the changes for this article?

[2022-08-01 05:57] halkazwini commented on #96294
Hi @Leoer,

Thank you for your feedback!

I've updated the tutorial and Putty is not used in the tutorial anymore. The update should be reflected in the doc in the next hours.

[2022-08-01 06:05] halkazwini commented on #96294
#please-close

[2022-08-01 06:05] #96294 closed

[2022-08-01 06:08] halkazwini commented on #93444
Hi @RaviMSHybd

Thanks for your feedback!

I've updated the troubleshooting section (corrected remotepeer variable). The change should reflect in the doc in the next few hours.

[2022-08-01 06:15] halkazwini commented on #93444
#please-close

[2022-08-01 06:15] #93444 closed

[2022-08-01 06:19] AjayKumar-MSFT commented on #96152
ilantom, There is no update to the documentation is required. As it's more technical question, which needs investigation/I'm following-up with you offline, we will close this thread. Thanks!

[2022-08-01 06:19] #96152 closed

[2022-08-01 06:21] halkazwini commented on #72179
#please-close

[2022-08-01 06:21] #72179 closed

[2022-08-01 06:26] halkazwini commented on #70479
#reassign:halkazwini

[2022-08-01 06:28] halkazwini commented on #70479
Hi @jocortems

Thank you for your feedback!

Both questions are now answered in the [Azure Route Server FAQ](https://docs.microsoft.com/en-us/azure/route-server/route-server-faq) page.

![image](https://user-images.githubusercontent.com/85655443/182085784-053c4a83-e76b-4fe9-92a6-019fce253fb1.png)

[2022-08-01 06:29] halkazwini commented on #70479
#please-close

[2022-08-01 06:29] #70479 closed

[2022-08-01 08:15] zjxjwxk opened #96471 "Consent not allowed in Request an authorization code"
In the "Request an authorization code" part, the article uses the scope "https://graph.microsoft.com/mail.read" for an example. However, when I try to request the authorization code, it says "Consent not allowed for the permissions requested by this application. Contact your company administrator for more details.".

I think it will be easier to acquire the authorization code for users by changing

[2022-08-01 08:25] geertvl opened #96472 "Typo in the documentation"
Creation table service.feedback query has a typo.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46d10c12-b07b-1541-0aa4-5f9336f81fab
* Version Independent ID: e5d0e48b-dc13-0b42-3c72-f5c82ecd9592
* Content: [Dynamic data masking - Azure SQL Database](https://docs.microsoft.com/en-us/azure/azure-sql/database/dynamic-dat

[2022-08-01 08:28] devndive opened #96473 "Bring your own Container Network Interface (CNI) plugin went GA on July 19th, 2022"
This feature went [GA on July 19th, 2022](https://azure.microsoft.com/en-us/updates/generally-available-bring-your-own-container-network-interface-plugin-2/) and is no longer in preview.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b48a635-0708-6196-9d0d-5ecc4d0bbbd4
* Version Independent ID: cde37b38-5c0a-b74c-111c

[2022-08-01 08:41] PriyankaRudramaina commented on #96473
@devndive,

Thank you for your feedback. We will investigate and update the thread further.

[2022-08-01 09:10] ntrogh commented on #96000
#please-close

[2022-08-01 09:10] #96000 closed

[2022-08-01 09:13] damochiz opened #96474 "Request to change the description for Azure Machine Learning resources"
[Enter feedback here]
The description of locking resource groups, including Azure Machine Learning, is as follows, and it is expressed as having benefits to doing locking.

[description of Azure Machine Learning in the resource locking documentation](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/lock-resources?tabs=json#considerations-before-applying-your-locks)

However

[2022-08-01 09:22] kudlatiger opened #96475 "How to get alert when Keyvault expiry date is nearing?"
It would be nice if we have documentation steps to setup alert when expiry date is nearing.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 632e6b6a-f7ec-ebd2-2014-4f9160906b11
* Version Independent ID: 83a85ada-d3cb-3fab-9cfd-ff23c7b90f74
* Content: [Receive and respond to key vault notifications

[2022-08-01 10:25] skyfrk opened #96477 "What are the limitations for scheduled messages?"
We are wondering about the limitations for scheduled messages. How far in the future can `ScheduledEnqueueTimeUtc` be set? How many messages can be enqueued simultaneously? Are there any metrics that we can monitor in order to prevent issues?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 034f7b39-4f6b-87c4-5dfa-a09ea0

[2022-08-01 10:28] bernardo-msft opened #96478 "Add Parquet example as well"
Since blob inventory has 2 types of output formats (CSV and Parquet) I would like to suggest having an example for parquet blob inventory output files as well.

Although by searching on some other docs it's possible to gain that knowledge. Having both of the options documented on this one would be better.

Thank you!
BF

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2022-08-01 10:38] MayankBargali-MSFT commented on #96170
@craigshoemaker Can you please review this PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/206462

[2022-08-01 10:47] AnuragSharma-MSFT commented on #96472
@geertvl Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-08-01 10:55] Sachid26 opened #96481 "THe screenshots need to change"
The screenshot on the page doesn't reflect the current behavior of cosmos db. i believe the firewall and vnet configurations have now been clubbed into networking under settings on the left menu.
![image](https://user-images.githubusercontent.com/70128087/182133230-0d37ce56-36fe-42ac-b3a5-96b17a4d3c5a.png)

while the document puts it as firewall and vnet option still

---
#### Document Details

⚠

[2022-08-01 11:29] SnehaAgrawal-MSFT commented on #96274
@frigon Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-08-01 11:36] RudyEvers commented on #90682
@jiacfan @rolyon

Can you confirm that the conditional access for role assignments have changed. And that blob path conditions are not longer available?

![image](https://user-images.githubusercontent.com/38738862/182139628-411294ff-5873-4624-86bc-4173838bb08c.png)

[2022-08-01 13:30] vhorne commented on #95581
@GitaraniSharma-MSFT According to the product group, both diagnostics should work. If this is not the case, please open a Support ticket to investigate.

[2022-08-01 13:38] SnehaAgrawal-MSFT commented on #96400
@vml-aledonne Thanks for reaching here! We typically try to keep the Azure-Docs channel scoped to feedback directly about the docs. Since your question goes beyond what is discussed in the doc, we kindly invite you to raise your query here.
https://github.com/dotnet/docs/labels/dotnet-core%2Fprod

Thank you for your understanding in this.

[2022-08-01 13:57] MikeForster100 opened #96488 "Example no longer valid looks like CS has changed"
[Enter feedback here]
az cognitiveservices account create - fails with This subscription cannot create TextAnalytics until you agree to Responsible AI terms for this resource.

Get past that and zip deployment fails:

Build FAILED.

"C:\local\Temp\zipdeploy\extracted\LanguageDetectorApp.csproj" (default target) (1:7) ->
(CoreCompile target) ->
  C:\local\Temp\zipdeploy\extracted\Pages\Index.cshtml

[2022-08-01 13:58] humbertcostas opened #96489 "Alert when Azure Storage blob inventory fails."
It would be nice if we could monitor the inventory process in some way instead of reviewing missing paths or files.
For example, adding a columns in Blob inventory  > List view, to detail the status of each rule:
 - Current Status: Running, Stopped, Failed ...
 - Last Successful: Date and time of last successful rule execution
 - ...

---
#### Document details

⚠ *Do not edit this section. It is r

[2022-08-01 14:19] skurik opened #96490 "Reference to active geo-replication limitations in Hyperscale"
The last sentence in the [Prerequisites paragraph](https://docs.microsoft.com/en-us/azure/azure-sql/database/manage-hyperscale-database?view=azuresql&tabs=azure-portal#prerequisites) of the [__How to manage a Hyperscale database__](https://docs.microsoft.com/en-us/azure/azure-sql/database/manage-hyperscale-database?view=azuresql&tabs=azure-portal) notes that _"Geo-replication for Hyperscale is in

[2022-08-01 14:24] spelluru commented on #96399
@enterpriseSoftware  - They are returned by the webhook.

"If your webhook is implementing synchronous validation handshake mechanism, verify that the ValidationCode is returned as part of the response."

"If your webhook is implementing asynchronous validation handshake mechanism, verify that you're the HTTP POST is returning 200 OK.". In this scenario, validationUrl is returned.

Specifically, s

[2022-08-01 14:24] axcap opened #96491 "Rest -> Example 1 not working from data flows"
Unable to set pagination variables in QueryParameters in data flows as described in [Example 1: Variables in QueryParameters](https://docs.microsoft.com/nb-no/azure/data-factory/connector-rest?tabs=data-factory#example-1-variables-in-queryparameters). Documentation provides current example:
![image](https://user-images.githubusercontent.com/1700426/182168500-0d125d42-4d87-4936-8af3-54843698a036.pn

[2022-08-01 14:24] Blackmist commented on #95697
@VirajVaitha123 Thanks again for the feedback. The product group has taken a work item to create a more real world example. Once this has been completed, we'll update the article to use it. No ETA on when the new example will be completed yet.

#please-close

[2022-08-01 14:24] #95697 closed

[2022-08-01 14:37] MayankBargali-MSFT commented on #96327
@spelluru Can you please review it and provide your insights.

[2022-08-01 14:47] DeanGross opened #96492 "Old benchmark reference"
Is there a reason that this is still referencing the V1 security benchmark instead of the newer V3? Please update as appropriate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a52cba1-71f6-3338-d4cb-b1a8ee03a936
* Version Independent ID: bcaa9f84-b6ec-7e5c-96e3-a286d0dc9043
* Content: [Azure security baseline for Exp