[2018-04-12 00:54] anosov1960 commented on #6311
Hi,
Re #1, Scenario 1 in the article is exactly that case. No load-balancing, juts pure DR
Re#2, the minimum time you can set is 1 hour
Re #3, Correct. I only recommend 24 hrs for scenario 2, where the customers cant afford any data loss, and would prefer wait and allow failover as a last resort.
Re #4, we don't have a synchronous replication (RPO=0) across geos. Mainly because it would indeed int

[2018-04-12 00:55] jason-j-MSFT commented on #7066
@vamaral1
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-12 00:55] kobulloc-MSFT commented on #7025
@mikemowgli Let me start off with a quick note about the API Management Publisher portal and then I'll give you two ways to do this.

_"As of April 1st, 2018, functionality for configuration management that is available in the Azure portal will be deprecated from the API Management Publisher portal. Please use the Azure portal to perform all administrative tasks after this date."_

This document s

[2018-04-12 00:58] jason-j-MSFT commented on #7057
@rricart Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-12 00:58] BryanTrach-MSFT commented on #7057
@rricart Thank you for the feedback. We apologize for the confusion that this has created. The document that you referenced did include this information at one point.

We have located the below link, which talks about the staging slot limits for each tier. This new URL should be reflected in the document within a few hours.

[2018-04-12 01:03] dacarubio commented on #6902
@MicahMcKittrick-MSFT  but what about the Office 365 services such as Exchange Online, SharePoint Online, and Skype for Business ?  Given that we can allow Microsoft Peering under Standard SKU I would assume we can consume this under the Standard Bandwidth and Route Limit provided under Standard SKU correct?

[2018-04-12 01:04] elmalloc commented on #7067
Closing issue due to user error.

Total Breaches > 1 caused it to never fire.
**I wanted Total Breaches > 0.**

[2018-04-12 01:04] #7067 closed

[2018-04-12 01:25] #7057 closed

[2018-04-12 01:47] anosov1960 commented on #6760
LTR backup files cannot be downloaded if that what you mean by exporting. They are created using an internal storage subscription and cannot be accessed from outside.  Re deleting backups, can you describe the scenario you want to mitigate? Only the owner of the SQL database can explicitly delete the backup.

[2018-04-12 02:00] femsulu commented on #7065
@jcjp  Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-12 02:03] femsulu commented on #6991
@sandeepchauhan We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-12 02:03] #6991 closed

[2018-04-12 02:04] femsulu commented on #6477
@spottedmahn We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-12 02:04] #6477 closed

[2018-04-12 02:05] femsulu commented on #5868
@yrvverma We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-12 02:05] #5868 closed

[2018-04-12 02:06] femsulu commented on #5848
@ScottAzure We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-12 02:06] #5848 closed

[2018-04-12 02:06] nmikuni opened #7069 "Please mention about Update Domain and Fault Domain to Auto-Scale-In rules"
As taking a look into FAQ, it mentions to update domain and fault domain.
Q. If I reduce my scale set capacity from 20 to 15, which VMs are removed?
A. Virtual machines are removed from the scale set evenly across update domains and fault domains to maximize availability. VMs with the highest IDs are removed first.

I hope that there is a same kind of caution here, as it just written "Scale in act

[2018-04-12 02:09] SnehaGunda commented on #7013
@dabutvin making sure I understand the issue, are you referring to the example where key is shown when creating DocumentClient object? I will remove the key also. Let me know if you are referring to something different.

[2018-04-12 02:24] procyclinsur opened #7070 "Troubleshooting HTTP Failure Code 0"
I get the following error on Ubuntu 16.04 with SDK  from pip package 1.3.2, but there is nowhere that describes this failure...

    Error: Time:Thu Apr 12 11:07:35 2018 File:/usr/sdk/src/c/c-utility/adapters/httpapi_curl.c Func:HTTPAPI_ExecuteRequest Line:629 Failure in HTTP communication: server reply code is 401

I thought it might be a TLS issue, but that seems to be working properly.

    ope

[2018-04-12 02:28] jason-j-MSFT commented on #6913
@MGoedtel Could you take a look at this one?  If this should go to someone else, let me know.
![capture6](https://user-images.githubusercontent.com/37126381/38653197-6bfe6d60-3dbe-11e8-99e7-8f14c1ccbda0.PNG)

[2018-04-12 02:29] v-jaswel commented on #7023
Hi Thibault,

Thank you for pointing this out!

I'm able to run the code as it is without errors. However, I suspect the mkt and mode parameters are ignored because I put them in POST instead of GET. I notice that if I move them to GET, I get more correct results than if they're in POST, especially if I use languages other than English.

Also, I incorrectly call the "mode" parameter "method", whic

[2018-04-12 02:45] SnehaGunda commented on #7013
Thanks for pointing, I created a PR to fix this.

[2018-04-12 02:45] SnehaGunda commented on #7013
#please-close

[2018-04-12 03:04] CelesteDG commented on #6428
Hello @Rutikhal. Have you read the info in https://docs.microsoft.com/en-us/azure/active-directory/active-directory-applications-guiding-developers-for-lob-applications? There is info in this topic that states that any member of your directory (not guests) can register an app along with some other info. Please let us know if this helps answer your question.

[2018-04-12 03:24] v-jaswel commented on #7023
Just merged the fix, should be up tomorrow.

[2018-04-12 03:28] JeffMushmo commented on #5769
This is good stuff. I like the communications clients and factories. But it's not clear to me where you are referencing the exception handler.

[2018-04-12 03:52] procyclinsur commented on #7070
Seems I was using the wrong Connection String

[2018-04-12 03:56] jcjp commented on #7065
Okay my debugger was able to console.log 'Getting Heroes' twice and then the errors is display on the browser's console.

[2018-04-12 04:07] Mike-Ubezzi-MSFT commented on #7065
@jcjp Let me see if an update has been made to this this tutorial and if has been published yet, if not, I will forward on to the content owner to be fixed. Thank you for responding with the issue you are experiencing.
Regards,
Mike

[2018-04-12 04:36] BharathRahulDS commented on #7018
Thank you @vasivara-MSFT, Can you please let me know if there any ETA? Also, if the feature(Masking, Encrypting, removing fields from ContainerInventory) is not available right now, is there any chance Azure is working on this? any solution/design I can hope for in near future?

[2018-04-12 06:38] OlegKarasik commented on #5769
@JeffMushmo
I think you need to create a separate issue for this (looks lie this is already closed).

Exception handlers should be passed in `` CommunicationClientFactoryBase<T> `` /  `` MyCommunicationClientFactory `` constructor.

Unfortunately example implementation `` MyCommunicationClientFactory `` doesn't include constructors implementation that would pass enumerable of `` IExceptionHandler

[2018-04-12 07:01] mikemowgli commented on #7025
ok you just replied the usual "Developer Portal 101" stuff, without relating to the actual doc (How to use Azure API Management in Virtual Network with Application Gateway) my question is coming from.
So I'll rephrase my question: this very documentation explains how to make an Azure API Management API available from an Application Gateway, because the App Gateway forwards the requests to the APIM

[2018-04-12 07:06] MrkMtchll commented on #7038
I only mentioned that one as it generated an error when trying to use and I had no idea what it was doing – removed and all was fine.  ☺

Mark Mitchell
CIO Innovation
Database Administrator

tel: 01202 754 722 (internal:54722)
mob: 07436 589467
email: mark.mitchell@LV.com<mailto:mark.mitchell@LV.com>

[lv_signature-500px-3]

From: Micah [mailto:notifications@github.com]
Sent: 11 April 2018 20:43
T

[2018-04-12 07:20] thuansoldier opened #7074 "Change to new App Twitter App"
The new URL to get people easily to create a Twitter app is here https://apps.twitter.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 383fed5d-cba7-610d-8ce8-0329a45cfa2c
* Version Independent ID: 52da97ee-890c-b696-d532-2a265f7390d0
* Content: [Azure Active Directory B2C: Twitter configuration](https://docs.microso

[2018-04-12 07:31] ltaljaard commented on #6135
@MicahMcKittrick-MSFT I see the hotlink to issue no 242 in my above posts takes you to issue 242 of the aure-docs Github project. I was actually referring to issue no 242 of the azure-mobile-apps-net-server Github project, please take note. This is the one: [https://github.com/Azure/azure-mobile-apps-net-server/issues/242](url)

[2018-04-12 07:51] x7chen opened #7075 "LoginFailed-1910505470"
what's this error code mean?How to fix it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e6851b7-7b45-8745-57e7-f6c095662f20
* Version Independent ID: 7cc1a62b-b597-ea7c-972b-3e56817b11c0
* Content: [Troubleshooting](https://docs.microsoft.com/en-us/azure/cognitive-services/speech/troubleshooting?tabs=Powershell)
* C

[2018-04-12 08:02] procyclinsur opened #7076 "Create Device App point #7 and point #8"
The command for point #7 and 8 have the incorrect file name.  *.js => *.py

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee954f99-9e57-d746-e504-445acf410291
* Version Independent ID: 9008125f-1961-6b08-8b8d-afe629a7354e
* Content: [Get started with Azure IoT Hub device twins (Python)](https://docs.microsoft.com/en-us

[2018-04-12 08:17] alvarezskinner opened #7077 "WebResource code screenshot"
In the screenshots that are provided when you create the JS Web Resource within Dynamics 365 you are also including the HTML comment and HTML tags to declare the Script, these should be removed since what needs to be in there is just the JavaScript code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92313471-ef48-c68c

[2018-04-12 08:17] DeanGross commented on #6572
Yes thanks for the explanation

[2018-04-12 08:17] #6572 closed

[2018-04-12 08:55] MarkusVi commented on #6823
Hi @hjohn76, thanks for the information - fixed.
#please-close

[2018-04-12 09:13] genlin commented on #7040
@Discostu36 Thanks for the information. I will investigate the certificate and installation permission issue in our lab.  Will update this thread soon.

[2018-04-12 09:15] jeremyVignelles opened #7078 "Documentation of Visual Studio with Tools for AI"
AML workbench claims:

but when I click the link below, I see this page, stating:

Could you please update the documentation so that I know how to configure VS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04dd105a-4862-834f-8add-1ce230a7b34a
* Version Independent ID: 0f7466a0-9369-7733-0001-dabed91e6036
* Content: [

[2018-04-12 09:35] Kirbogd opened #7080 "outdated experience"
The instruction uses outdated version of portal: an ablity to set homepage URL in App Proxy app was removed from portal. One has to set it via AzureAD powershell https://docs.microsoft.com/en-us/azure/active-directory/application-proxy-office365-app-launcher

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 414bc5e8-eec8-

[2018-04-12 09:44] averhaegen commented on #6610
@Adam-Smith-MSFT Which steps are you talking about? I don’t find any info about this error in the troubleshoot docs..
I’m asking because I get the same error. I did have set a resource lock on the RG. But now I removed the lock and I’m still getting the error! (2 hours after removing the lock). How do I clean up the restore points?

[2018-04-12 09:47] JPadster commented on #6933
Hi,

I think that the failure was in the Logic App connection that was created.
When I look in AI, I see that the API key was never used. When looking at
the connections in the logic app, it displays a status of "connected"
irrespective of what I enter into the AppId or the key.

Ta

On Wed, Apr 11, 2018 at 5:49 PM, kobulloc-MSFT <notifications@github.com>
wrote:

[2018-04-12 09:47] Michal-Ziemba opened #7081 "There is missing one example of the script"
After the line
"Here is another version of the script that searches only through groups that contain license errors. It may be more optimized for scenarios where you expect to have few groups with problems.",
there should be another script which searches only for users in the groups with license error, not all users in the tenant.
The script below this line has been copied from the example above t

[2018-04-12 09:47] Oliv4945 opened #7082 "Add custom CSS style ?"
Hi,

The page is describing how to change styles but I am not able to find documentation on how to add a new style ?
I tried to edit the `Preview.css`, add my style with the same format then push it, but it does not work. So a documentation on that would be nice.

Thank you

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-04-12 10:09] fredriktonn opened #7083 "Is this sentence missing reference to General Purpose and Business Critical?"
"each 100 DTU in Standard tier requires at least 1 vCore and each 125 DTU in Premium tier requires at least 1 vCore."

Should Standard map to General Purpose and Premium to Business Critical? I'm asking because that would make sense from a IOPS comparison perspective.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b441

[2018-04-12 10:57] conceptdev commented on #6135
Thanks for the clarification @ltaljaard

[2018-04-12 11:04] NiklasJern opened #7084 "Backup requirments and limits"
It states that "Backups can be up to 10 GB of app and database content. If the backup size exceeds this limit, you get an error."

Is there any more information on what happens when you exceed the 10 GB? And is this per backup or in total for all the backups? I imagine that with larger Apps the db might eat up that storage rather quickly

Also is is possible to selectively choose what to back up?

[2018-04-12 11:07] prejeanb opened #7085 "Built-in images (GitHub and Docker Hub)"
It seems to be me like the links for GitHub and Docker Hub don't really line up.  The docker files in GitHub don't seem to be source for the docker containers on Docker Hub.  Which one is the actual source for Built-in images for App Service on Linux?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b421fa01-1f39-28a5-78

[2018-04-12 11:16] catoriana opened #7086 "User able to use old passwords"
I have successfully implemented this Change Password custom policy and it was exactly what I was looking for.
However, I have only one issue, when the user changes the password and enters one that has already been used previously, Azure AD does not  throw any errors. I would like to enforce that previous passwords cannot be used, how is this achieved ?

---
#### Document Details

⚠ *Do not edit th

[2018-04-12 11:27] MarkusVi commented on #6969
#in-progress

[2018-04-12 11:36] jpr2016git opened #7087 "Old screenshots"
Great article! It would be nice to update the steps and screenshots to reflect the ARM environment though in the "Setup the Application" section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e31ea14-f6b0-0cd8-0aee-64427a665a36
* Version Independent ID: 60879db1-8dff-b97b-3051-c129181f1c97
* Content: [Set up Azure Ke

[2018-04-12 11:46] MGoedtel commented on #6913
@jason-j-MSFT - Please assign this to bwren, he manages the solution content for LA.  Thanks!

[2018-04-12 12:00] MarkusVi commented on #6958
Hi @rafa-el-nunes, thanks for the information. I have created a backlog item to track this.

#please-close

[2018-04-12 12:01] MarkusVi commented on #6919
Hi @Eric-Hacker , thanks for the information. I have created a backlog item to track this.

#please-close

[2018-04-12 13:16] DaRosenberg opened #7091 "Clarify policy inheritance and override"
I am trying to understand how policies can be overridden by other policies further down the assignment tree. It would be really nice if this document could clarify that.

For example, we are looking to assign a resource type whitelist policy at the management group level, and then assign a more permissive policy (allowing more resource types) on a child management group or even directly on subscri

[2018-04-12 13:27] appliedi opened #7092 "Typo - Manage is misspelled as Mnaage"
Typo - Manage is misspelled as Mnaage

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10a91be1-6427-42a3-91fd-8959927d967c
* Version Independent ID: 0c61e618-e466-57c7-7bf8-2e8e756e50f4
* Content: [Set up a process server in Azure for VMware VM and physical server failback with Azure Site Recovery](https://docs.microsof

[2018-04-12 13:42] JeffMushmo commented on #5769
@OlegKarasik  Sorry. This comment was posted on the ms docs website. I'm referring to the documentation showing the creation exception handler, but in the "Putting it all together" section there's no example of how that exception handler is actually used.

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communication

Not sure why my comment ended up here tho

[2018-04-12 13:43] Ke-Dou commented on #6996
@MohitGargMSFT Thank you very much for the response. We decided to use the application roles for access control instead of making a separate call to the Graph API as you mentioned. I'd suggest that you update your documentations with the clarification above, so that other developers won't have the same confusion in the future when reviewing them. Thanks!

[2018-04-12 13:43] JeffMushmo opened #7094 "Where do we use the exception handler?"
This is good stuff. I like the communications clients and factories. The documentation isn't clear to me where you are referencing the exception handler.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf35b25c-4f4c-920b-320d-8282a79ad7d3
* Version Independent ID: 07be307b-38b1-6cf2-46bf-7032d69648f2
* Content: [Reliabl

[2018-04-12 13:47] TomShinder opened #7095 "Start with "what is Azure AD Conditional Access Policy""
Recommend that you start with "what is ..." and then move into the scenarios.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffdaa549-8f3b-75e0-9d27-a1a10417d86b
* Version Independent ID: aff533db-3ac6-5f9a-0134-812f7d488670
* Content: [Azure Active Directory conditional access](https://docs.microsoft.com/en-us/azure/a

[2018-04-12 14:01] TomShinder opened #7097 "Provide examples of detections"
Need to provide examples of detections so that customers can understand the core value proposition being offered. Reviewers also depend on these examples to compare Azure versus other public cloud service providers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fe2fc28-2c44-e088-f079-067bafd1ae58
* Version Independen

[2018-04-12 14:04] malhmoud89 opened #7098 "Misspelled Diagram"
Tripel --> Triple

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc1bc76f-ca90-55f5-289c-da905f8272a4
* Version Independent ID: 648fc8c4-615f-ed0f-d6a7-62a0d3ec718e
* Content: [Modify page contents in the developer portal in Azure API Management](https://docs.microsoft.com/en-us/azure/api-management/api-managem

[2018-04-12 14:23] gcopley opened #7100 "Account key"
In the 'Configure your storage connection string' section, it would be helpful to explain or provide a link on where to find your access key. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2449e264-13a7-ecc0-7400-b6d6bed1b029
* Version Independent ID: bcd3da61-efe6-4ef5-1c79-4fa78cdf473d
* Content: [Get started

[2018-04-12 14:42] kobulloc-MSFT commented on #7082
@Oliv4945 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-04-12 14:57] vasivara-MSFT commented on #6870
@eaglelim We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-12 14:57] #6870 closed

[2018-04-12 14:59] hpsin commented on #6996
Thank you Ke Dou and Mohit, I'll make that update.

On Thu, Apr 12, 2018, 6:43 AM Ke Dou <notifications@github.com> wrote:

[2018-04-12 15:31] algattik commented on #6910
I think in that case the doc should still be updated, as it mentions "edge nodes" in plural in 2 places.

[2018-04-12 15:33] EvGe22 opened #7101 "400 error when uploading"
Hello. I have recently subscribed to Azure Video Indexer API. I have been testing it for maybe a week now. And just today I started getting an HTTP 400 error while trying to upload a video. Haven't changed anything, still using the same code to call it. I can get the results of previous Breakdowns, but cannot upload new videos.
I have read that there is a 400 hours limit (if I am right), but I am

[2018-04-12 15:40] DeanGross opened #7103 "Notifications to members of Dynamic groups"
What type of notifications should be expected when dynamic group membership changes occur? Does the group owner get notified? do the new members get notified? do removed members get notified?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1be8-5f1f-0092-68fb6b9e2305
* Version Independent ID: cd34312f-b507-affe

[2018-04-12 16:03] princepradapsingh opened #7104 "Documentation - Command Errors"
Under the section - Command-line installation on a Windows computer:

In the first point, RENAME command - "ren" is used, this should be removed.
In the third point, UnifiedAgentConfigurator.exe” the command ends with double quotes, this should be removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8860a2d-9dcc-48

[2018-04-12 16:05] myusrn commented on #6117
. . .  a related documentation issue, how would one define and adfV2 tumbling window trigger to do backfill scenario where the dates are every week on Saturday [ or every 7 days ] starting 2009/01/03 thru 2009/12/26 ?

Using adfV1 I tried setting up a schedule of 2009/01/03/ thru 2009/12/26 and "availability": "availability": { "frequency": "Week",  "interval": 1 }  or { "frequency": "Day",  "inte

[2018-04-12 16:06] Mike-Ubezzi-MSFT commented on #7083
@fredriktonn I hope to clarify any enhancement needed to this document, as you are suggesting.

I am taking a look at this and I see the sentence, "each 100 DTU in Standard tier requires at least 1 vCore and each 125 DTU in Premium tier requires at least 1 vCore." referenced in two places.

The first is in the [Choosing service tier, compute, memory, storage, and IO resources](https://docs.microso

[2018-04-12 16:09] Ayanmullick commented on #7003
When provisioned  in the above way thru GUI the SQL points to that disk for Logs and Databases. But that isn't what happens when deployed thru this Powershell Script.

I just wish that the Azure MarketPlace SQL images provisioned a production-optimal Microsoft-recommended configuration.

[2018-04-12 16:13] Kirbogd opened #7105 "Header rewrite"
We have to point out, that user have to disable header rewrite (enabled by default). If we do rewrite, RD web do not work in IE

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 414bc5e8-eec8-b6fc-86c5-32c23a6098e1
* Version Independent ID: 896d489b-1d62-545a-cb7f-b68af794245d
* Content: [Publish Remote Desktop with Azure

[2018-04-12 16:18] rothja commented on #7003
@Ayanmullick @MicahMcKittrick-MSFT Thanks for the feedback on the portal experience. We're trying to tighten up the recommendations for SQL Server VMs, because it is confusing that we recommend two disks in some cases and yet provision everything to one disk in the portal. With storage pools and striping, it is important that everything is on one volume in some scenarios (FCI is one). Regardless,

[2018-04-12 16:27] Adam-Smith-MSFT commented on #7092
@appliedi Thank you for the valuable feedback,we are investigating the issue.

[2018-04-12 16:28] Adam-Smith-MSFT commented on #7100
@gcopley Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-12 16:45] SharmainePopov opened #7106 "Deeper Dive on Azure DNS Tech"
Hi, I have a client asking for information on how our Azure DNS services are architected from an availability perspective. This is not about the new service "azure dns" for vnets, but in general. Where can I find this kind of deeper network info?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56c25cb6-7add-579e-a928-c6

[2018-04-12 16:47] jason-j-MSFT commented on #6913
@bwren Could you help route this to a content owner?  Thanks!

[2018-04-12 16:48] bandersmsft commented on #7091
@DaRosenberg Hi Daniel, I'm investigating this with the PM team.
#in-process

[2018-04-12 16:50] nathan-b opened #7108 "Mount point path seems to be incorrect"
The documentation has us creating /mnt/mymountpoint and then specifies the mount point in the command line as /mymountpoint, which is an absolute path to a directory that doesn't exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95183818-deb8-5ca4-334b-fe1c352efafb
* Version Independent ID: 890ec77e-1135-c835-0831-

[2018-04-12 16:50] hdinizribeiro opened #7109 "IN clause don't work in query expression"
I think that would be better make clear that the IN clause don't work in route query expressions.
Check my questio in stack overflow:
https://stackoverflow.com/questions/49692936/how-to-use-in-clause-in-iot-hub-route-query?noredirect=1#comment86414222_49692936

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c58bc573-ec3

[2018-04-12 16:51] jason-j-MSFT commented on #6786
@jatal Thanks for the feedback, we are closing this issue for now.

[2018-04-12 16:51] #6786 closed

[2018-04-12 16:52] YutongTie-MSFT commented on #7078
@jeremyVignelles Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-12 16:52] MicahMcKittrick-MSFT commented on #7069
@nmikuni Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-12 16:53] MicahMcKittrick-MSFT commented on #7094
@JeffMushmo Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-12 16:54] YutongTie-MSFT commented on #7075
@x7chen Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-12 16:58] MicahMcKittrick-MSFT commented on #7003
@rothja thanks for clarifying! Obviously @Ayanmullick and I both were having issues with it so good to hear we have plans in place :)

@Ayanmullick I will close this out for now but if possible @rothja please let us know when some updates are made :)

[2018-04-12 16:58] #7003 closed

[2018-04-12 17:05] #5965 closed

[2018-04-12 17:05] #6919 closed

[2018-04-12 17:06] #6958 closed

[2018-04-12 17:06] #7013 closed

[2018-04-12 17:15] MohitGargMSFT commented on #7074
@thuansoldier Thanks for your feedback! I have assigned the issue to the document author to investigate and update as appropriate.

[2018-04-12 17:16] mike-pt opened #7111 "ansible_rm expects a host pattern not a resource group"
ansible -i azure_rm.py DefaultRS -m shell -a "uname -a"
 [WARNING]: Could not match supplied host pattern, ignoring: DefaultRS

 [WARNING]: No hosts matched, nothing to do

If I use the name of a host in that Resource Group it works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2b8e92b-a339-3869-9c78-e99cb04b94ee
*

[2018-04-12 17:23] jstott opened #7112 "Confirm Available in eastUS2 ?"
From a prior comment - GA for Availability Zones was announced on March 30th,  however, can you confirm that  eastus2 is included?  (centralus vm's show as being available)
Looking at three distinct azure accounts - all show eastus2 as unavailable - so not sure if it's just being rolled out still, or there is something else up?
[code]

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-04-12 17:28] BryanTrach-MSFT commented on #7084
@NiklasJern Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-12 17:32] YutongTie-MSFT commented on #7101
@EvGe22 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-12 17:34] msangapu commented on #6569
@amanarneja Sent requested info to customer. Please close the issue.

[2018-04-12 17:35] BryanTrach-MSFT commented on #7085
@prejeanb Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-12 17:35] MohitGargMSFT commented on #7080
@Kirbogd Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-12 17:36] MohitGargMSFT commented on #7081
@Michal-Ziemba Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-12 17:39] MohitGargMSFT commented on #7086
@catoriana Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-12 17:48] ahmedelnably commented on #7085
@SunBuild Can you please advise what are the new links?

[2018-04-12 17:49] MohitGargMSFT commented on #7087
@jpr2016git Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

@msmbaldwin I have assigned this issue to you as unable to find swgriffith GitHub login.

[2018-04-12 17:56] MohitGargMSFT commented on #7095
@TomShinder Thanks for your feedback! I find the flow of the document fine. The start of the document does introduce what Azure AD Conditional Access Policy is. And then common scenario helps with what Conditional Access Policy could help resolve. Then it helps with more details on how implementation works and how to interpret Conditional Access Policy.

[2018-04-12 18:00] MohitGargMSFT commented on #7097
@TomShinder Thanks for the feedback! I have assigned the issue to the document author to investigate and update as appropriate.

[2018-04-12 18:01] MohitGargMSFT commented on #7103
@DeanGross Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-12 18:01] mrbullwinkle commented on #6904
@kobulloc-MSFT please assign this issue to me.

[2018-04-12 18:02] MohitGargMSFT commented on #7105
@Kirbogd Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-12 18:02] YutongTie-MSFT commented on #7075
@x7chen Can you please check if all you library updated and use the right keys?

@zhouwangzw Hi, can you please help with this issue and update the document as necessary? It seems this issue happens usually. Thanks a lot!

[2018-04-12 18:03] MicahMcKittrick-MSFT commented on #7112
@jstott Thanks for the question! We are investigating and will update you shortly.

[2018-04-12 18:04] MicahMcKittrick-MSFT commented on #7108
@nathan-b Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-12 18:05] MicahMcKittrick-MSFT commented on #7106
@SharmainePopov Thanks for the question! We are investigating and will update you shortly.

[2018-04-12 18:06] MicahMcKittrick-MSFT commented on #7070
@procyclinsur thanks for getting back with your resolution and sharing for others to see :)

[2018-04-12 18:06] #7070 closed

[2018-04-12 18:07] MicahMcKittrick-MSFT commented on #7076
@procyclinsur Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-12 18:08] MicahMcKittrick-MSFT commented on #7109
@hdinizribeiro Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-12 18:16] MicahMcKittrick-MSFT commented on #6926
@MrGlenThomas I will close this out for now. When ready please come back to reopen and we can continue.

[2018-04-12 18:16] #6926 closed

[2018-04-12 18:16] MicahMcKittrick-MSFT commented on #6957
@niceysj I will close this for now. When ready please come back to reopen and we can continue.

[2018-04-12 18:16] #6957 closed

[2018-04-12 18:18] YutongTie-MSFT commented on #7078
@jeremyVignelles Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@Svankam Hi, the user here need more details about how to configure Visual Studio with Tool for AI. Can you please check it and update the document as necessary? Thanks a lot!

[2018-04-12 18:26] #6612 closed

[2018-04-12 18:26] tfitzmac commented on #6612
@CaryJ - thanks for this question. I have updated the article with the requirement of using global administrator. It should get published this afternoon. We will update this article in the future if that requirement changes.

@rolyon - thanks for finding this information.

[2018-04-12 18:29] MohitGargMSFT commented on #6956
@gabbsmo As mentioned, if you refer to this section - [SharePoint customers ](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-acs-migration#sharepoint-customers) and check on [Low trust authorization for SharePoint add-ins (provider hosted and SharePoint hosted)](https://docs.microsoft.com/en-us/sharepoint/dev/sp-add-ins/three-authorization-systems-for-sharepoint-a

[2018-04-12 18:29] zhouwangzw commented on #7075
This usually means that key or token is invalid, and the http request returns 401 or 403 error.

[2018-04-12 18:34] SnehaGunda commented on #6955
@burkeholland looks like you updated the code to address the issue, can we close this issue?

[2018-04-12 18:36] georgewallace commented on #6728
@Ayanmullick When a update deployment is scheduled it is not sent to log analytics so we can not create a similar alert.  This is a great scenario to think about, when the cmdlets come out I can look at creating a runbook or other scenario to do this.

[2018-04-12 18:42] YutongTie-MSFT commented on #7101
@EvGe22 Hi, Response 400 Indicate that one of the following occurred: 1. Another model with the same name and language already exists. 2. Model data is invalid or missing. Can you please check it first? I have assigned the issue to the content author to investigate further and update the document as appropriate.

@Juliako Hi, can you please help and make sure is there any update for the Azure Vide

[2018-04-12 18:43] MicahMcKittrick-MSFT commented on #7112
@jstott I am also having issues selecting East US 2. @iainfoulds do you have any information you could share on this?

[2018-04-12 18:45] Ayanmullick commented on #6728
I understand. But the Automation Account's diagnostics is connected to Log Analytics. Log Analytics should be able to generate a 24-hr notice alert querying the Automation account's diagnostics logs.

[2018-04-12 18:46] MicahMcKittrick-MSFT commented on #7069
@nmikuni with closets the instances you spin up should all be identical and sharing the workload. So the process in which the scale down happens is carefully thought out and orchestrated via Azure. It is not something I would be overly concerned about.

If you have further questions or comments about this feel free to get back to me and we can continue :)

[2018-04-12 18:46] georgewallace commented on #6728
@Ayanmullick I will take a look at this scenario..

[2018-04-12 18:46] behnam89 opened #7117 "Active Directory"
Is it possible to Connect Excel to an Azure SQL database with Active Directory Authentication?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4665519-c7fa-01ec-d2bf-ae324f13a76b
* Version Independent ID: 5222cca9-c8df-f2c4-72c8-a0ed29d97c54
* Content: [Connect Excel to SQL Database](https://docs.microsoft.com/en-us/az

[2018-04-12 18:50] seguler commented on #6356
@EmmaZhu can you help ?

[2018-04-12 18:50] MicahMcKittrick-MSFT commented on #7108
@nathan-b I believe you are correct! @vlivech can you confirm this for me? If so, I can fix it.

[2018-04-12 19:05] BryanTrach-MSFT commented on #7084
@NiklasJern When you reach the 10 GB limit, your backups will start to fail due to running out of space. This limit is also per website.

If you have a large backup you can consider excluding files you don't need from your backup or you can backup your database separately. SQL for example has a built in backup tool that is separate from the web apps process.

If you wish to exclude site files from

[2018-04-12 19:05] #7084 closed

[2018-04-12 19:06] mxplusb opened #7119 "Wrong Resource Usage Link"
The Resource Usage API links point to MSDN docs, which is wrong. Should be pointing to docs.microsoft.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a56e729-7981-9a51-9c5c-00ea13a8d888
* Version Independent ID: 01fb14e5-e8a4-49e0-5908-b6069566a8de
* Content: [Azure Billing APIs](https://docs.microsoft.com/en-us/az

[2018-04-12 19:06] femsulu commented on #7091
FYI **@bandersmsft**  - assigned the issue to you for further correspondence.

[2018-04-12 19:10] femsulu commented on #7111
@mike-pt, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-12 19:10] Rutikhal commented on #6428
Hello Celeste
Yes, that is what I tried to find, now it is more clear. Thanks a lot.

//Alexander

From: Celeste de Guzman [mailto:notifications@github.com]
Sent: 12 апреля 2018 г. 6:04
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rutikhal <alexander.tikhomirov@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] [Question] Is it correct th

[2018-04-12 19:11] Mike-Ubezzi-MSFT commented on #7065
@jcjp A fix was made to this tutorial via Duplicate key error #6955 and Mongoose connection error #6905
Let's hope we have all the issues ironed out.

[2018-04-12 19:13] B4PJS commented on #6428
@CelesteDG What you say is not true. At the tenant level, creating apps can be turned off for non admins as is the case on my tenant.

/cc @Rutikhal

[2018-04-12 19:25] Rutikhal commented on #6428
@CelesteDG also provided link where  is said that if you need you could change default permissions for users to register app. So anyway thanks I have link to needed docs ))

From: Barny [mailto:notifications@github.com]
Sent: 12 апреля 2018 г. 22:14
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rutikhal <alexander.tikhomirov@outlook.com>; Mention <mention@noreply.github.com>
Sub

[2018-04-12 19:34] burkeholland commented on #6955
Yes. I've got confirmation that this has resolved the issue.

[2018-04-12 19:35] tfitzmac commented on #7051
@nitinkhandelwal26 - is your substring function working now?

[2018-04-12 19:35] Mike-Ubezzi-MSFT commented on #6955
@ydogandjiev We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-12 19:47] Mike-Ubezzi-MSFT commented on #6484
@SamirFarhat We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-12 19:49] Mike-Ubezzi-MSFT commented on #6788
@Frankwayne We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion. Any resolution provided by the Cosmos DB team can still be posted here in a 'closed' status.
Regards,
Mike

[2018-04-12 19:50] Mike-Ubezzi-MSFT commented on #6835
@alvintai78 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-12 19:50] #6835 closed

[2018-04-12 19:50] Mike-Ubezzi-MSFT commented on #6932
@mwotruba We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-12 19:50] #6932 closed

[2018-04-12 19:52] Mike-Ubezzi-MSFT commented on #7010
@jvdjeery We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.
Regards,
Mike

[2018-04-12 19:52] #7010 closed

[2018-04-12 19:52] ydogandjiev commented on #6955
Thank you for the quick turnaround on this @burkeholland, @SnehaGunda, @Mike-Ubezzi-MSFT!

[2018-04-12 19:53] SamirFarhat commented on #6484
Hi,
How can i hear from the CosmosDB team?
Thanks

[2018-04-12 19:54] MohitGargMSFT commented on #7049
@brianesb Thanks for reporting! I have assigned the issue to the document author to investigate and update as appropriate.

[2018-04-12 19:54] Mike-Ubezzi-MSFT commented on #7030
@JayChase We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-12 19:54] #7030 closed

[2018-04-12 20:01] #6967 closed

[2018-04-12 20:05] #6994 closed

[2018-04-12 20:10] prejeanb commented on #7085
@SunBuild If this helps, The FAQ documentation says the Built-in images are in Github here... https://github.com/Azure/app-service-builtin-images

The FAQ documentation says the images are here in Docker Hub ... https://hub.docker.com/u/appsvc/

That documentation in Docker Hub says the the source is https://github.com/Azure-App-Service

[2018-04-12 20:27] Mike-Ubezzi-MSFT commented on #6484
@SamirFarhat I have resent your .etl file and repro steps to the Cosmos DB team.

[2018-04-12 20:51] #6569 closed

[2018-04-12 20:51] Mike-Ubezzi-MSFT commented on #7076
Issue pertains to the [Create the device app](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-python-twin-getstarted#create-the-device-app) section, steps number 7 and number 8:
![screenshot 102 _li](https://user-images.githubusercontent.com/37126106/38703600-84cb57a0-3e58-11e8-883b-a07ced0a59e1.jpg)

[2018-04-12 21:05] rahulbpatel opened #7120 "There should be some mention that Azure Mobile Services Custom APIs are not handled"
Custom APIs that were added as described here:

https://blogs.msdn.microsoft.com/carlosfigueira/2013/06/14/custom-apis-in-azure-mobile-services/

Are not handled by the scaffolding step.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09c1f1c7-6d2a-4802-069c-10a7d9f7ef72
* Version Independent ID: ef00e05a-e57d-836a-f82a

[2018-04-12 21:06] MohitGargMSFT commented on #7059
@montereyharris This section of the document - [Named locations](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-conditional-access-locations#named-locations) provides steps to create Locations.

[2018-04-12 21:09] Mike-Ubezzi-MSFT commented on #7106
@SharmainePopov I found a couple items that may (or may not) satisfy your request. Is there something specific?

[Azure DNS Server Redundancy](https://blogs.msdn.microsoft.com/mast/2015/05/18/azure-dns-server-redundancy/)
[Azure DNS](https://azure.microsoft.com/en-us/services/dns/)

Regards,
Mike

[2018-04-12 21:19] jackbond commented on #6663
@Seddryck Thank you for pointing that out. It's always great when MICROSOFT'S ******* SAMPLES DON'T ******* WORK. I swear, there is no middle ground with the Cosmos team, they're either geniuses are COMPLETE ******* ******. It's absolutely beautiful that in Azure, if you download the quickstart, the code they give you still uses the preview for Microsoft.Azure.Graphs. And on this page, the Gremlin

[2018-04-12 21:25] evh69 opened #7121 "Create"
"Create an Azure AD" for step 10 states "Under the Settings blade, select Keys." and then 11 states, "Create a new key, and save it."  Should there be a create button?  Or, should we be create a key pair outside of the Azure Active Directory blade?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf203c92-3847-c2f9-f966-

[2018-04-12 21:26] MohitGargMSFT commented on #7080
@Kirbogd If your reffering to Step5 of [Publish the RD host endpoint](https://docs.microsoft.com/en-us/azure/active-directory/application-proxy-publish-remote-desktop#publish-the-rd-host-endpoint) section then steps mentioned are correct and aligned with Azure Portal.

[2018-04-12 21:32] jeevansd commented on #6987
@montereyharris We are now suggesting to use the WS-Fed based sign out URL, so that user can be completely logged out of Azure. We have updated the instructions and you should see the change in few hours.

Please confirm.

[2018-04-12 21:33] v-jaswel commented on #7023
Fix is live.
https://docs.microsoft.com/en-us/azure/cognitive-services/bing-spell-check/quickstarts/php

[2018-04-12 21:33] BryanTrach-MSFT commented on #7035
@spottedmahn We moved away from using the term Easy Auth a while back. As of right now, we simply call Authentication / Authorization as Authentication / Authorization. Some 3rd party docs might refer to authentication/authorization by the older term if they were written before this change.

Easy Auth and Authentication / Authorization are the same thing, it's just Easy Auth is the old term.

We w

[2018-04-12 21:37] MohitGargMSFT commented on #7081
@Michal-Ziemba Thanks for reporting! I have assigned the issue to the document author to investigate and update as appropriate.

[2018-04-12 21:48] roygara commented on #6767
I've updated the image and its accompanying text.

Thanks again @MikeBarker-MS for making us aware of this!
#please-close

[2018-04-12 21:50] Ayanmullick opened #7122 "AlwaysOn to existing cluster"
Is there a PowerShell-way to use this template to deploy just the cluster on an existing domain?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83b469f4-b118-3ce8-852f-535661ded5e4
* Version Independent ID: f720f442-9dc7-a6d5-afd9-97e173cbae9d
* Content: [Set up high availability for Azure Resource Manager VMs](https:/

[2018-04-12 21:52] MohitGargMSFT commented on #7103
@DeanGross Please note that Microsoft Graph API can be used to track changes to group memberships. Please check on below two -

1. **Pull model** (sometimes referred to as “sync”):

https://developer.microsoft.com/en-us/graph/docs/concepts/delta_query_overview
https://developer.microsoft.com/en-us/graph/docs/concepts/delta_query_groups

2. **Push model** (notifications, aka webhooks) to be called

[2018-04-12 21:55] Mike-Ubezzi-MSFT opened #7123 "The Two Purchasing Models are DTU-based model and vCore-based model."
In the following section: **Increasing performance tier of your database**

It should read "DTU-based model" and "vCore-based model".
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8861a34a-7684-3032-b4be-46c470f4b862
* Version Independent ID: 04581fa9-6af6-f6b9-5946-16223a387b42
* Content: [Azure SQL Database performan

[2018-04-12 21:57] SyntaxC4 commented on #7028
@ahmedelnably Can you assist with this?

[2018-04-12 21:57] Mike-Ubezzi-MSFT commented on #7123
@CarlRabeler Found this while trying to provide a response for an MSDN forum post.

[2018-04-12 22:02] MohitGargMSFT commented on #7086
@catoriana This capability is currently not supported in Azure AD B2C.

Please post this as a feedback @ https://feedback.azure.com/forums/169401-azure-active-directory. This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-04-12 22:04] Mike-Ubezzi-MSFT commented on #7117
@behnam89 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-12 22:13] evh69 opened #7125 "Update the RP file"
Shouldn't there be a step after #2 that reads, "Modify the PublicPolicyUri attribute in <TrustFrameworkPolicy> to reflect the value of the PolicyId you just updated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf203c92-3847-c2f9-f966-edaca7b59818
* Version Independent ID: 76f7519d-3040-646d-93a0-2657812d81e9
* Conte

[2018-04-12 22:15] MohitGargMSFT commented on #7105
@Kirbogd Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-12 22:17] ahmedelnably commented on #7028
We don't have full one to one coverage between AzureWebsite and AzureRMWebapp commands
Opened https://github.com/Azure/azure-powershell/issues/5941 to track this ask

[2018-04-12 22:27] tysonn commented on #6868
@timlt  @kgremban @philmea - Could you all take a look at this doc-idea issue?

[2018-04-12 22:28] tysonn commented on #6868
@bennage - FYI

[2018-04-12 22:31] tysonn commented on #6680
@KirkMunro - I think this might be it: https://github.com/Microsoft/devkit-sdk

Does that look right?

[2018-04-12 22:40] BryanTrach-MSFT commented on #6983
@JozoSlejko The change to the document should go live shortly. Thank you for pointing this out.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-12 22:40] #6983 closed

[2018-04-12 22:44] tfitzmac commented on #6167
@rthorn17 - is there anything we should add to the docs about using management groups across EA tenants? Is this supported?

[2018-04-12 22:44] BryanTrach-MSFT commented on #7011
@jackawatts I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-12 22:48] mschappel-r7 commented on #5647
Thanks, @amanarneja @tfitzmac!

[2018-04-12 22:52] tysonn commented on #6458
@rramachand21 - Could you please follow up on this customer reported issue on your article?

[2018-04-12 22:53] rramachand21 commented on #6458
we need to change that link to http://ranjithblogs.azurewebsites.net/?p=98  cause I lost my domain.

[2018-04-12 22:53] MicahMcKittrick-MSFT commented on #7119
@mxplusb Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-12 22:54] MicahMcKittrick-MSFT commented on #7125
@evh69 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-12 22:55] MicahMcKittrick-MSFT commented on #7104
@princepradapsingh Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-12 22:55] MicahMcKittrick-MSFT commented on #7120
@rahulbpatel Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-12 23:00] MicahMcKittrick-MSFT commented on #7122
@Ayanmullick in this doc we have the following:

This will be the closest thing to what you are asking for. It would still require modification if you are deploying to an existing cluster but there is no reason why you could not make it work.

[2018-04-12 23:00] #6767 closed

[2018-04-12 23:06] plutoscarab opened #7126 "First code sample on this page doesn't compile"
Needs to be D( customer, amount, date ); instead of D( customer, amount );

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: becb02b6-3ff6-bce9-92a3-cdf8b5c761f2
* Version Independent ID: 4a17e013-607f-d84e-c299-15b8f3a20a24
* Content: [U-SQL programmability guide for Azure Data Lake](https://docs.microsoft.com/en-us/azur

[2018-04-12 23:13] Adam-Smith-MSFT commented on #7004
@KeiroKamioka0000  the first backup will be a full backup, then incremental. I'd recommend checking this blog which explains the A1,A2... Diagram: https://azure.microsoft.com/en-us/blog/microsoft-azure-backup-save-on-long-term-storage/

"Incremental Backups achieve high storage and network efficiency by storing only the blocks that change since the previous backup. This also negates any need to ta

[2018-04-12 23:17] KeiroKamioka0000 commented on #7004
Thanks,

I wasn't sure this update will have different way of the backup.

Thanks,

[2018-04-12 23:25] Mike-Ubezzi-MSFT commented on #7117
@behnam89 It is possible, although it would require an Office 365 subscription managed through Azure Active Directory and the Azure SQL Database be managed through the same Azure Active Directory instance. There is no specific Excel Add-In to enable Azure AD authentication, that I could find.

[2018-04-12 23:43] Adam-Smith-MSFT commented on #6076
I received an update from the team: it seems to be an ongoing bug that will be fixed by end of this month. Until then users are recommended to use this workaround https://docs.microsoft.com/en-us/azure/backup/backup-azure-troubleshoot-vm-backup-fails-snapshot-timeout#backup-service-does-not-have-permission-to-delete-the-old-restore-points-due-to-resource-group-lock

[2018-04-12 23:44] mike-pt commented on #7111
Actually  the problem is that we need to use "lowercase" format for the resource group, it seems that when we try:
`ansible -i azure_rm.py DefaultRS -m shell -a "uname -a"`

Even if the resource group name is `DefaultRS` it fails but not with `defaultrs`.

I noticed the outputted json for `--list --pretty` is all lowercase which is what lead me to try it...

So perhaps the ideal solution would be

[2018-04-13 00:03] Adam-Smith-MSFT commented on #7092
I submitted a PR to fix the typo, it will be fixed once the author approves it.

[2018-04-13 00:03] #7092 closed

[2018-04-13 00:09] kgremban commented on #7076
Thanks @procyclinsur for pointing this out. I also found the same error in the Python article about configuring devices with desired properties, so fixed that one too. The changes should be live tomorrow morning for you to review.

[2018-04-13 00:33] kgremban commented on #6868
@DandelionWenjing Can you be more specific about what you want to document? What scenarios do you think need to be covered, and for what industries?

[2018-04-13 00:37] Adam-Smith-MSFT commented on #7004
@KeiroKamioka0000 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-13 00:37] #7004 closed

[2018-04-13 00:43] bennbatt8112 commented on #6999
Hey Cynthia,
I have not tried this.. but thank you. I may use the -debug flag to see the raw JSON as I'd like to templat-ize this for parallel processing. I'm not terribly great with PS Workflows and they seem a bit hit or miss. Ideally an example with the updated apiVersion would be available. I'm not sure where the problem in my CSE is (the CSE Handler is a black box to me), but it'd be helpful

[2018-04-13 00:51] myusrn opened #7130 "azure ml studio experiements published to azure ai gallery are no longer loading"
I saved off each of my experiments, so that I could load them into a different azure machine learning studio workspace.  When I try and visit any of their unadvertised gallery links I see the experiment title come up but then there is a spinning progress wheel that just keeps spinning and never finishes.  Same result using edge and chrome.  Is this a known new issue as I wasn't having this issue a

[2018-04-13 01:07] ajlam commented on #6727
@another1s, can you try the below and tell me if the code snippet works for you?

#include <stdlib.h>
#include <iostream>
#include "stdafx.h"

#include "mysql_connection.h"
#include <cppconn/driver.h>
#include <cppconn/exception.h>
#include <cppconn/prepared_statement.h>

using namespace std;

const string server = "tcp://yourservername.mysql.database.azure.com:3306";
const string username = "user

[2018-04-13 01:25] KeiroKamioka0000 opened #7131 "Dead Link"
First two links
https://docs.microsoft.com/en-us/billing/billing-understand-your-bill.md
https://docs.microsoft.com/en-us/billing/billing-download-azure-invoice-daily-usage-date#download-usage-from-the-account-center-csv.md

is having 404 error, please fix.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7c1157d-ecef-4

[2018-04-13 01:38] DhruvMsft commented on #6285
This is currently a limitation on our platform, you cannot configure P2S connectivity directly to Azure SQLDB because there is no Private IP provisioned on your SQLDB. You can however use Express Route to Azure SQLDB on the public IP but not the private IP.

[2018-04-13 01:49] EmmaZhu commented on #6356
@Skarakkattil  @gbstan92  Could you share version of AzCopy you are using?

[2018-04-13 02:32] EmmaZhu commented on #6356
@Skarakkattil  We do have issue on reading file/directory without access that we're working on a fix. But the error you shared, seems it's caused by trying to read a corrupted journal file.

AzCopy supports to resume last failed transfer, it keeps a journal file on the local disk. If last AzCopy process is killed or crashed, it may leave some corrupted journal file. It can report the error you mee

[2018-04-13 02:33] genlin commented on #6076
@ssugar Thanks for the information.  In [Azure/WALinuxAgent#1059](https://github.com/Azure/WALinuxAgent/issues/1059), the key step to resolve this issue is:

Update/reinstall and restart waagent agent, and then run the backup. After that the VMSnapshot will be reinstalled.
=====================
So I added the following information into the article.

For Linux VM, If the VMSnapshot extension does n

[2018-04-13 02:59] dcbrown16 opened #7132 "Tag list out of date"
Traffic Manager, Storage and SQL tags that are available as listed in the below link are not shown in this document.
https://docs.microsoft.com/en-us/azure/virtual-network/security-overview#service-tags

Please either keep this list up to date, or have it link to the definitive documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2018-04-13 03:21] CraigHumphrey opened #7133 "Restoring into a new app - what happens with the database and DB server?"
If you restore into a new app, what happens with the attached Azure SQL DB (and Azure SQL server)?  Are new instances of these created?  Or is a new app created and just points at the existing DB/server?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7be729e7-ad88-e2c9-0cd4-f5f1b72a1009
* Version Independent ID: a2d462

[2018-04-13 03:21] r96941046 opened #7134 "iotedgectl setup failed"
On Raspberry Pi 3, successfully ran `sudo pip install -U azure-iot-edge-runtime-ctl`; however, when trying to run `sudo iotedgectl setup --connection-string "{ConnectionString}" --nopass`, system gives error:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2289383-6ce2-a036-c710-7d1fad6e1700
* Version Independen

[2018-04-13 03:31] ssugar commented on #6076
Nope.

It’s the fix from user Mangaleshwar in the https://github.com/Azure/WALinuxAgent/issues/1059 discussion

o # sudo rm -f /var/lib/waagent/*.[0-9]*.xml
o # sudo rm -f /var/lib/waagent/Prod.[0-9]*.agentsManifest
o # service walinuxagent stop
o # mkdir /tmp/SnapshotExt_backup
o # cd /var/lib/waagent
o # mv Microsoft.Azure.RecoveryServices* /tmp/SnapshotExt_backup/
o # mv  Microsoft.Azure.Recove

[2018-04-13 03:37] Kirbogd commented on #7080
Hi Mohit.
We have just gone through this process with my customer: the homepage setting in properties is grayed out and can’t be modified. One can change the internal url in app proxy properties of the app, but it will change published scope as well. So we were able to accomplish the step only setting the homepage via powershell (as it is depicted in “customize homepage” article of app proxy docum

[2018-04-13 03:41] nitinkhandelwal26 commented on #7051
Yes, thanks, i was taking total length instead of number of charcters.

Thanks for your help.

Though currently i used different approach like used split  function  of array with "/" with this character and then used function to get vm name.

Regards,
Nitin K

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Tom FitzMacken <notifications@github.com>
Sent: Frid

[2018-04-13 03:53] genlin commented on #6076
@ssugar  Thanks for the quick reply. Mangaleshwar is our engineer. I will reach him offline to see if we have to remove these files for reinstalling VMSnapshot.

[2018-04-13 04:02] linda33wj commented on #6117
@myusrn for V2, the scheduler becomes quite flexible. Authoring trigger through UI would be much easier: go to your pipeline -> new/edit trigger -> you can then choose the start date (2009/01/03), end date (optional field, 2009/12/26), recurrence (weekly), and also advanced settings there (e.g. every Sat & Sun).

[2018-04-13 04:31] myusrn commented on #6117
@linda33wj thanks for the suggestion.  I'm looking at my adfV2 (preview) setup right now and under triggers [ just above connections in bottom left ] when I create a new trigger and select "tumbling window" i'm only seeing recurrence options of "Every Minute" and "Every Hour" and nothing about Weekly and advanced settings UI to choose days.  When I use the "Copy Data" wizard I don't see it expose

[2018-04-13 04:32] jcjp commented on #7065
Hi Mike,

May I ask where could I find the cosmosdb account name? Let's say I have a URI of https://sample.documents.azure.com:443/, is it correct that it is the 'sample' string in the URI?

[2018-04-13 04:57] CraigHumphrey opened #7135 "Doesn't seem to work for Enterprise Agreement based credits"
Our Azure tenant subscription is from an Enterprise Agreement, so when I look at the Overview or Billing history, they are both empty and there's no option to select Alerts.
Yes I've enabled the preview feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79c9b4a2-d574-181c-26fd-2fd9de25d11e
* Version Independent ID

[2018-04-13 04:59] CraigHumphrey commented on #7135
Sorry, just ran translate on the previous comment and see that he was basically asking for the same thing.

[2018-04-13 05:06] andrewjsilcock opened #7136 "Advanced settings were required and not included in the guide"
In attempting to configure this found that I needed to also use the Citrix implementation guide that indicated that the following advanced URL settings also had to also be configured: Identifier and Reply URL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0bc4f40-b67f-5d0d-88f3-7627963d6dd8
* Version Independent ID:

[2018-04-13 05:12] jcjp commented on #7065
Hi Mike,

I tried connecting using the mongodb console to my cosmosDB, however I am encountering the following errors:
getaddrinfo(<myDatabaseName>) failed: No such host is known.
Unable to reach primary for set <myMongoUri> Please check network connectivity and the status of the set.
Error: connect failed to replica set <myMongoUri>.

It seems like I am not able to connect to my cosmosDB.

[2018-04-13 05:16] jeremyhagan opened #7137 "Wrong runbook name specified"
In the "Create a conditional link" section, step 1, the name of the runbook is incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1683116-76e6-ff15-aba7-54c95eabf882
* Version Independent ID: 23274e28-3e28-f4c7-d59d-57ef1c441887
* Content: [My first graphical runbook in Azure Automation](https://docs.microsoft.

[2018-04-13 06:06] JimmyLS opened #7139 "Recent updates reduced the number of ports that the feature requires."
Please mention which version of AADC the updates applied. And please add a note under the Step1- Check the Prerequisites in docs here https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-pass-through-authentication-quick-start if customer is using AADC older than which specific version, additional ports beside 80 & 443 may need to be open on firewall.

---
##

[2018-04-13 06:32] TomaBusarov opened #7140 "Nice admin commands collection"
The best collection of admin commands I have seen in official documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f884a3d-3808-7b57-e06a-58ca041634b8
* Version Independent ID: c575b37c-a4c9-dfe7-b04d-582160f22f88
* Content: [Azure virtual machine serial console](https://docs.microsoft.com/en-us/azure/virtual-

[2018-04-13 06:34] Kirbogd commented on #7080
Hi Mohit
See attached:
App proxy app properties blade:
[cid:image002.png@01D3D30A.A433FAC0]

If we switch into application proxy blade of app, there is no setting for homepage. Only internal URI. And if we append RDweb to it, we will prevent user from accessing rdgateway endpoint as it is not in the rdweb virtual directory and app proxy would prevent user from escaping to uplevel virtual directory

[2018-04-13 06:41] georgewallace commented on #6917
@kiranjshetty, Currently right now through the portal you can not configure this.  If you want to configure this you need to use the runbook as shown in this article for now. https://docs.microsoft.com/en-us/azure/automation/automation-onboard-solutions

[2018-04-13 06:42] ydogandjiev commented on #6955
It turned out that I also needed to enable the following preview features on my CosmosDB instance in order to stop hitting the error:
![image](https://user-images.githubusercontent.com/3357245/38720468-334e82b4-3eab-11e8-9d2b-850806688597.png)

[2018-04-13 06:43] ronbok opened #7141 "Examples?"
Provide some actual serial console command line examples mentioned above or a link to documentation that describes how to use it, not just enable it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e63969f1-7434-0a6e-dd65-2aecd553c51b
* Version Independent ID: b53ddd73-82b7-3272-7ff6-d82594514c4e
* Content: [Azure virtu

[2018-04-13 06:58] zhanpengli opened #7143 "the Utterances limit of Model boundaries"
Hello, today when I gave the semantic recognition training  had been in trouble, because corpus has reached the limit according to the document, could you tell me if the limit can be increased? thanks :)
![c00838d6-f485-43f9-9b60-2017f1b2131f](https://user-images.githubusercontent.com/32571006/38720981-ec069254-3f2a-11e8-8d6a-538a2fbfe689.png)
![snipaste20180413_145740](https://user-images.githubu

[2018-04-13 07:06] EvGe22 commented on #7101
I did not create any new models. I have been using the default one all the time.
I have just tried to upload a video 5 minutes ago and everything worked, no errors.
Apparently there is a limit on how many videos one can upload to the service per day, isn't there? I couldn't find any info about it on the docs page. Maybe I wasn't looking in the right place.

[2018-04-13 07:40] codeevaluator commented on #7028
Hi,

Ok, thank you for the update.
Looking forward to a new command 😊

Could you point me in the right direction to help me solve this in the meantime?
Maybe some example code using rest instead or other means that are possible to automate instead of clicking in a UI?

Kind regards

Hackim El Yahiaoui

Cloud Architect

+46 709 909 521

From: Ahmed Elnably [mailto:notifications@github.com]
Sent: de

[2018-04-13 07:59] sobral-a opened #7144 "Information need about the actors persisted state on actors"
Hi,

There is no information about the persisted actor state on the service fabric cluster local disk.
For example, we don't know how the ActorStateStore file size behaves when the actor,  or its state is deleted.

Regards,
Alexandre

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d674e09-226b-149f-07f1-f094bad3ef9c
*

[2018-04-13 08:07] bennage commented on #6868
Some IoT architectural content is being worked on. It will cover a one or two common IoT scenarios and include a reference implementation. //cc @MikeWasson @dragon119 can you elaborate?

[2018-04-13 08:13] femsulu commented on #6901
@JasonLTran ,
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-13 08:13] #6901 closed

[2018-04-13 08:24] femsulu commented on #6911
@gunnboy confirming the fix is now live. Thanks again for bringing this to our attention.

[2018-04-13 08:24] #6911 closed

[2018-04-13 08:46] femsulu commented on #7024
@fsautomata , can you confirm this is the correct link "https://github.com/Azure/azure-iot-sdk-csharp/tree/master/iothub/device/samples" for the C# sample? If yes, I can fix and merge on your behalf.

[2018-04-13 08:49] ylashin opened #7146 "Update the docs for latest version of Storm on Azure"
1- Not sure if eventhubs-storm-spout-0.9-jar-with-dependencies.jar is still available on Storm v 1.1.0 on HDInsight or even if it is compatible with 1.1.0. there is a package on Maven repo but it is also for v 0.9

2- LoggerBolt has this line which does not compile [this.count = 0;]

3- If building for recent version of Storm, namespace backtype should be replaced with org.apache

---
#### Documen

[2018-04-13 09:20] ryansun96 opened #7147 "SSE and ADE: Difference"
Hi,

Azure notifies me that "Managed disks created since June 10, 2017 are encrypted at rest with Storage Service Encryption (SSE). You may also want to enable Azure Disk Encryption." What is the difference between SSE and ADE (Azure Disk Encryption)? Why do I need to encrypt twice?

Kind regards,

Ryan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-04-13 09:53] michielvanschaik opened #7148 "This example is not using Device Jobs"
The example is not using Device Jobs as stated in the overview page (and left-side index).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b31d87b5-2444-711a-bcd4-7f7af9a0d2fe
* Version Independent ID: eddd2a75-f977-46df-b419-c1760a87bff1
* Content: [Device firmware update with Azure IoT Hub (.NET/.NET)](https://docs.mi

[2018-04-13 10:02] ams0 opened #7150 "It's not clear which images have SR-IOV enable"
I struggled to find suitable images for RHEL and CentOS with support for VirtualFunctions (SR-IOV). After some experimentation, I found two:

OpenLogic:CentOS:7-CI:latest
RedHat:RHEL:7-RAW:7.4.2018010506

that have SR-IOV enabled (tested with Standard_DS4_v2 size).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f89338c

[2018-04-13 10:09] SamirFarhat opened #7151 "Azure APP Service Diagnostic Logs not included"
Hi,

Have you forgot to add the App Service Diagnostic Logs to the list ?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2815c53c-9b3f-bf3c-2e8c-f29e29a441bd
* Version Independent ID: 81ee9fdf-73d6-bd68-a508-11ab7a2dc51f
* Content: [Azure Diagnostic Logs Supported Services and Schemas](https://docs.microsoft.co

[2018-04-13 10:51] kiranjshetty commented on #6917
so you mean with the Runbook option i can import VMs from another subscription let say Dev subscription to prod subscription and manage the update schedule?
or
As i mentioned earlier if i have 2 subscription i need to manage update management separately by creating automation account for each subscription.

[2018-04-13 11:01] TravisLaGrone opened #7152 "Relationship to extended properties?"
What is the relationship (in each direction) of these labels to extended properties?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ca439af-510f-303c-e72c-424b78ac0ac7
* Version Independent ID: 616d8cf5-1631-1179-0c59-f8b4f6c1f7bb
* Content: [Azure SQL Database Data Discovery & Classification](https://docs.microsoft.c

[2018-04-13 11:53] Dheerajmentor opened #7153 "Powershell Example for Group is missing"
Hi Team ,

it would be awesome if you guys can also provide example for assigning group to enterprise app via powershell
thank you
Dheeraj Kumar

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 163a1f88-c268-18aa-a1e6-89b4a11bfb01
* Version Independent ID: 1136a613-48f8-fb67-39d3-d9abdd351a0f
* Content: [Assign a user or

[2018-04-13 11:56] spottedmahn commented on #7035
Hey @BryanTrach-MSFT - gotcha.  I think just having a record of the naming change would help.  Hopefully, this GitHub issue provides that!

[2018-04-13 12:30] azkamil commented on #6760
What we need is an assurance, that no single account can delete all backups of a database. This account might be hacked or something similar.
Azure Backup has nice feature where it postpones deletion of backups(14 days) and alerts the users.
https://azure.microsoft.com/en-us/updates/azure-backup-security-feature/

[2018-04-13 12:44] ward0 opened #7154 "Do you support parallel power on/power off"
Hello,

What is the sequence of checking for power on/off?
- sequential
or
- parallel

I have read the whole document but i don't fully understand how to determine multiple schedule plans for VMs.
Does it work with Tags?

Regards,
Ward

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 225c9d05-83dd-b006-0025-3753f5ab25bf

[2018-04-13 13:09] jsiegmund opened #7155 "More advanced cron samples"
Is there any guidance on what cron stuff is supported and what is not? My requirement is for instance to have a reminder sent to people two days before the month ends. I'm not a cron expert but I did find some samples, just wondering what is supported and what's not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5527

[2018-04-13 13:40] j-martens commented on #5834
#please-close

[2018-04-13 13:56] Ayanmullick opened #7157 "Configure system account permissions thru Powershell"
Can the 'Configure system account permissions' steps be done thru Powershell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7e54667-9299-de94-5b2c-4d54959cbf27
* Version Independent ID: 1dca831e-665a-e8c0-1654-0887732f6908
* Content: [SQL Server availability groups - Azure virtual machines - Prereqs](https://docs.mic

[2018-04-13 14:31] DeanGross commented on #7103
Thanks, I'm not really looking to get notification, but when I changed a group from static to dynamic, the new group members got an email notification that they had been added to the group and I was not expecting that to occur because their is no documentation indicating that this would happen. I'm trying to figure out if that was expected behavior or if it is a bug.

[2018-04-13 14:38] xtds commented on #7082
Hi, is it even possible to add custom stylesheets? I don't find any documentation on it.
Thanks

[2018-04-13 14:54] SamirFarhat opened #7159 "Not updated information ?"
Hi,
We no longer have this options now, we have hourly, minute metrics and logs.

Samir

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e88da5d5-2f28-00fc-d8c3-7414dbbac91a
* Version Independent ID: 10bef6bc-b450-c805-cd6c-cf4958b2d99f
* Content: [How to monitor an Azure Storage account](https://docs.microsoft.com/en-us

[2018-04-13 14:59] Skarakkattil commented on #6356
I think what  you  said is correct.  I got a failure today due to corrupted journal file.  The error I got is given below. Once I removed the journal file, it worked.

Unhandled Exception: System.Runtime.Serialization.SerializationException: End of Stream encountered before parsing was completed.
   at System.Runtime.Serialization.Formatters.Binary.__BinaryParser.Run()
   at System.Runtime.Seriali

[2018-04-13 15:05] #5834 closed

[2018-04-13 15:16] KirkMunro commented on #6680
@tysonn That's the right repo, but I found out from @ArthurMa1978 that the code I was modifying was not open source (yet), but that an update was being worked on, so under his recommendation I logged an issue with the changes I had made locally [here](https://github.com/Microsoft/devkit-sdk/issues/802). With that logged, I'm going to close this issue.

[2018-04-13 15:16] #6680 closed

[2018-04-13 15:28] dragon119 commented on #6868
We're working on IoT reference implementations. The scenario is similar to the connected car ('Drones' send location, drivetrain metrics, environment status and other sensor data). Our RI demonstrates most of Azure IoT related services such as IoT Hub, IoT Edge, ASA/DataBricks, CosmosDB, Blob, HDI, PowerBI, and Azure Dashboard with some OSS equivalents such as Cassandra, Prometheus, Grafana etc. M

[2018-04-13 15:35] CeciAc commented on #6884
Hello, @genlin ,

Your feedback is much appreciated.
Since your comments are specific to the localization of the documentation, we have moved this issue to the corresponding localization repository and we will close this one.

Please review the status of this issue here https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/73

Kind regards,
Microsoft DOCS International Team

[2018-04-13 15:38] Mike-Ubezzi-MSFT commented on #7065
If you are using a Cosmos DB instance deployed in Azure, you need to be aware of what endpoint you have set-up during deployment.
As an example, the following screen capture shows the available API options when deploying a new Cosmos DB instance.
![screenshot 105](https://user-images.githubusercontent.com/37126106/38743936-4127c4be-3ef5-11e8-81d2-f4ea86e4f9cd.png)

After deploying the Cosmos DB in

[2018-04-13 15:41] FarhanaJabbar opened #7160 "getting error while Testing the policy: "OpenIdConnectMessage.Error was not null, indicating an error. Error: 'server_error'. Error_Description (may be empty): 'AADB2C90161: A self-asserted send response has failed with reason 'Internal Server Error'. Correlation ID: 472ac950-7a62-4289-a095-59139179a44a"
I added this claim and followed all the steps as mentioned in this guide
<ClaimType Id="TnCs">
        <DisplayName>Terms and Conditions</DisplayName>
        <DataType>string</DataType>
        <UserHelpText>Please accept our terms and conditions</UserHelpText>
		<UserInputType>CheckboxMultiSelect</UserInputType>
  <Restriction>
    <Enumeration Text="Yes" Value="true" SelectByDefault="false" />

[2018-04-13 15:43] FarhanaJabbar commented on #7160
sorry the claim xml tags stripped. here it is
&lt;ClaimType Id="TnCs"&gt;
        &lt;DisplayName&gt;Terms and Conditions&lt;/DisplayName&gt;
        &lt;DataType&gt;string&lt;/DataType&gt;
        &lt;UserHelpText&gt;Please accept our terms and conditions&lt;/UserHelpText&gt;
		&lt;UserInputType&gt;CheckboxMultiSelect&lt;/UserInputType&gt;
  &lt;Restriction&gt;
    &lt;Enumeration Text="Yes" Valu

[2018-04-13 15:51] jtuliani opened #7161 "What about 'kind' and 'sku'"
The document opens by listing all the different properties we can expect to see on a resource definition (not including the resource type specific properties that sit under the 'properties' property. This is very, very useful. Except...it seems to be incomplete. In particular, the 'kind' and 'sku' properties (example: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/using-managed-di

[2018-04-13 15:51] MicahMcKittrick-MSFT commented on #7140
@TomaBusarov thanks for the feedback! Happy to hear it was clear and easy to follow :)

@harijay Great work on the doc!

[2018-04-13 15:51] #7140 closed

[2018-04-13 15:51] iainfoulds commented on #7108
@MicahMcKittrick-MSFT That is correct, it does need to be updated. It actually needs to be consistent across both the quick and detailed steps. I'll update this with a PR quick, as the author also needs to changed here.

#in-progress

[2018-04-13 15:53] MicahMcKittrick-MSFT commented on #7141
@ronbok Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-13 15:54] gbstan92 commented on #6356
Hi @Skarakkattil . The version is 7.0.25.

After clearing the journal, we are now getting a different error:
[2018/04/13 15:38:40][ERROR] Error parsing destination location "https://mylocation/myfolder": The underlying connection was closed: An unexpected error occurred on a receive. For more details, please type "Az
Copy /?:Dest" or use verbose option /V.

We use the same container for other log

[2018-04-13 15:56] MicahMcKittrick-MSFT commented on #7144
@sobral-a thanks for following up our forum discussion with this doc feedback :)

@amanbha can you please take a look and consider adding this information to the document? You can see this forum post for more information if needed: https://social.msdn.microsoft.com/Forums/azure/en-US/ba070715-62f4-483d-a053-fb7dde7a83ae/service-fabric-actors-what-is-the-correct-way-to-delete-the-persisted-actor-st

[2018-04-13 15:57] MicahMcKittrick-MSFT commented on #7155
@jsiegmund Thanks for the question! We are investigating and will update you shortly.

[2018-04-13 16:00] MicahMcKittrick-MSFT commented on #7157
@Ayanmullick Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-13 16:00] MicahMcKittrick-MSFT commented on #7132
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-13 16:01] MicahMcKittrick-MSFT commented on #7150
@ams0 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-13 16:05] roddw2 opened #7162 "A few notes on the clarity of the page"
in the section for launching the surface fabric explorer, it would be nice to have the URL spelled out along with the link. I was using ssh with X to connect to my Linux box.  so the direct link did not work.  Yea I know not a big deal to right click and copy link, but it would be nice.

Second one:  in the install eclipse section, it is a bit vague on what IDE for Eclipse to choose.  I chose the

[2018-04-13 16:06] roddw2 commented on #7162
@masnider  F.Y.I.  the couple of things we talked about

[2018-04-13 16:07] rothtony opened #7163 "comparison may not be correct"
Does cloud mfa support custom greetings? Don't think so.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d16b6f48-0a87-6100-63ad-9013e5e95158
* Version Independent ID: 020d7343-1062-d8f8-716c-e370c4beb310
* Content: [Choose between Azure MFA cloud or server](https://docs.microsoft.com/en-us/azure/multi-factor-authentica

[2018-04-13 16:08] iainfoulds commented on #7069
Thanks for the feedback, @nmikuni. This tutorial doesn't specifically cover Availability Sets or Availability Zones, so it wasn't initially called out in the doc. When VM instances in a scale set are distributed across an Availability Set or Availability Zone, then yes, the instances are evenly scaled in. I have added a sentence to the tutorial to make this more clear, without going into further d

[2018-04-13 16:12] MicahMcKittrick-MSFT commented on #6134
@imaterek I will close this for now. Please reopen when you are ready to continue.

[2018-04-13 16:12] #6134 closed

[2018-04-13 16:13] #7108 closed

[2018-04-13 16:27] #7069 closed

[2018-04-13 16:30] jimdial commented on #7132
@dcbrown16 Thanks for catching.  I've updated the article to point to the list in the other article.  It will publish sometime today. #please-close

[2018-04-13 16:32] henrytruongswo commented on #5730
Will the doc be updated to state clearly that BYOK does not work with managed disks or do we have an ETA to when it will work with managed disks?

[2018-04-13 16:45] jimdial commented on #6966
@slavizh Thanks for catching. This has been resolved. #please-close

[2018-04-13 16:52] Mike-Ubezzi-MSFT commented on #7152
@TravisLaGrone Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-13 16:55] vasivara-MSFT commented on #7146
@ylashin Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-13 16:56] vasivara-MSFT commented on #7126
@plutoscarab Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-13 16:58] YutongTie-MSFT commented on #7130
@myusrn Glad to see you! Thank you very much for reporting the issue here. We are currently investigating and will update you shortly.

[2018-04-13 17:03] amanbha commented on #7144
When a DeleteActorAsync call is made, all its state and metadata is deleted. So if you query Actor again you will  not get any information about the actor.
The file on the disk (for windows) is the local ese (https://msdn.microsoft.com/en-us/library/gg269259(v=exchg.10).aspx) database file, rows of data for the actor which is deleted are removed form it. How the database file contracts in size is

[2018-04-13 17:07] kobulloc-MSFT commented on #7131
@KeiroKamioka0000 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-04-13 17:09] BryanTrach-MSFT commented on #7133
@CraigHumphrey Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-13 17:11] kobulloc-MSFT commented on #7143
@zhanpengli Thank you for contacting us!  Can you provide us with the document are you referencing here?

[2018-04-13 17:13] kobulloc-MSFT commented on #7134
@r96941046 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-04-13 17:15] kobulloc-MSFT commented on #7148
@michielvanschaik Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-04-13 17:17] YutongTie-MSFT commented on #7130
@myusrn Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@jpconnock This is a product issue when try to open above experiments. Can you please help and check it? And also please update the document as necessary. Thanks a lot!

[2018-04-13 17:28] jstott commented on #7112
@iainfoulds - Thanks for the confirmation & details! Closing.

[2018-04-13 17:28] #7112 closed

[2018-04-13 17:28] MohitGargMSFT commented on #7163
@rothtony Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-13 17:30] femsulu commented on #7135
@CraigHumphrey Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-13 17:31] mike-urnun-msft commented on #6634
@fhe-fr We will now proceed to close this thread. If there are further questions regarding this matter,
please reopen it and we will gladly continue the discussion.

[2018-04-13 17:31] #6634 closed

[2018-04-13 17:31] MohitGargMSFT commented on #7160
@FarhanaJabbar Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-13 17:34] nrjohnstone opened #7166 "Persistence to external stores"
When you discuss using the service fabric to manage state and give the example of starting a transaction, removing the request from the queue, converting the image and saving it back to a reliable dictionary meaning that if anything goes wrong, then the work never got committed and it is safe to retry.
The problem is that you then mention storing the images in an external persistence store as if i

[2018-04-13 17:34] MohitGargMSFT commented on #7153
@Dheerajmentor Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-13 17:37] femsulu commented on #7137
@jeremyhagan Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-13 17:43] #6887 closed

[2018-04-13 17:43] #7132 closed

[2018-04-13 17:44] georgewallace commented on #7137
@jeremyhagan I have corrected the runbook name, the updates should be live today. I will let you know once they are live.  Thanks you for bringing this to our attention.

[2018-04-13 17:44] femsulu commented on #7135
@vikramdesai01, can you please review this and provide guidance?

[2018-04-13 17:49] MohitGargMSFT commented on #7147
@ryansun96 Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-13 17:50] MohitGargMSFT commented on #7139
@JimmyLS Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-13 17:52] MohitGargMSFT commented on #7136
@andrewjsilcock Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-13 17:59] stewartadam opened #7167 "AAD v2.0 on_behalf_of flow returns a AAD v1.0 token"
Unsure if this is expected or not; but it's either a bug or a limitation that should be documented here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cd73bb0-f8d5-84f7-3fc5-2022f8392a20
* Version Independent ID: d598130d-ba3a-0078-d4b6-1e47fad5ea41
* Content: [Azure AD v2.0 OAuth2.0 On-Behalf-Of flow](https://docs.m

[2018-04-13 18:09] rothja commented on #7032
@stigra Thanks for the licensing question. Your understanding is correct, the compute cost is the same but the SQL licensing cost is reduced because of constrained cores (good for SQL workloads that need the increased memory and other specs but not the extra cores). This applies to BYOL and SQL pay-as-you-go licensing.

Unfortunately, the pricing calculator does not yet reflect these new options.

[2018-04-13 18:10] rothja commented on #7032
#please-close

[2018-04-13 18:10] #7032 closed

[2018-04-13 18:14] tfitzmac commented on #7051
Glad to hear you got it to work. #please-close

[2018-04-13 18:16] daveba commented on #7105
@MicrosoftDocs/azure-cxp-triage Please assign this issue to @MarkusVi as he now owns this space.

[2018-04-13 18:24] navyasric commented on #5550
@BryanTrach-MSFT This can be closed as the PR is merged.

[2018-04-13 18:39] femsulu commented on #7151
@SamirFarhat, Good question. I have passed this on to the content owner to review and provide an answer. Please stay tuned.

[2018-04-13 18:40] femsulu commented on #7151
@johnkemnetz, can you please review this and provide guidance?

[2018-04-13 18:42] femsulu commented on #7154
@ward0 Your questions have been shared with the content owner for further review. We will provide an update soon.

[2018-04-13 18:43] vasivara-MSFT commented on #6989
@FrancisRD91 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-13 18:44] femsulu commented on #7161
@jtuliani Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-13 18:48] MicahMcKittrick-MSFT commented on #7155
@jsiegmund can you elaborate a bit more? What exactly are you looking for past the [Cron Examples](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer#cron-expressions) listed in this doc?

[2018-04-13 18:51] zjalexander commented on #6917
Yes, with the runbook option you can onboard machines from another subscription into an Automation Account. Then you can just use one automation account to manage machines from multiple subscriptions.

[2018-04-13 18:52] roddw2 opened #7169 "The docker inspect line is incorrect, at least for my setup."
I was on this step: Once the container starts, find its IP address so that you can connect to your running container from a browser:

Running the command:
docker inspect -f "{{ .NetworkSettings.Networks.nat.IPAddress }}" my-web-site
returns <no value>

When ran the full inspect and dumped it to less, I noticed that network interface was set up for bridge.  so  running the command
docker inspect -f

[2018-04-13 18:53] angiekNCS opened #7170 "Backup billing calculation"
Neither this page nor the billing page says anything about whether there is a charge for the snapshot base, only that there are charges for incremental snapshots. So does the backup process take a baseline and incremental changes or purely incremental changes? If it does take a copy of the base when the first snapshot is taken, the cost would be production DW + base copy + 7 days of incremental sn

[2018-04-13 18:53] roddw2 commented on #7169
@masnider  F.Y.I.

[2018-04-13 18:53] MicahMcKittrick-MSFT commented on #7147
@ryansun96 Encrypted at rest refers to the physical disk in the data center. So if someone were to take that disk physically from the data center the data would be encrypted. However, this does not apply to the data when it is being requested by the VM or when used in the portal.

For example, if you have a VM that is not encrypted via ADE but is only encrypted at rest you could take the VHD of th

[2018-04-13 18:54] MicahMcKittrick-MSFT commented on #7122
@Ayanmullick I will close this out but if you follow up questions please reopen and we can continue :)

[2018-04-13 18:54] #7122 closed

[2018-04-13 18:55] elliott-beach opened #7171 "Is it in-memory or isn't it?"
"Azure Redis Cache provides a session state provider that you can use to store your session state in a cache rather than in-memory or in a SQL Server database"

Wow, I am excited to learn about this! But that sentence is misleading because Redis **is** an in-memory cache, and the documentation should say that up front.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2018-04-13 18:57] xiangyan99 opened #7172 "The url of Jenkins Azure App Service plugin is wrong"
* [Azure App Service](https://plugins.jenkins.io/azure-app-server) version 0.1

--> it should be
* [Azure App Service](https://plugins.jenkins.io/azure-app-service) version 0.1

[2018-04-13 19:01] BryanTrach-MSFT commented on #5550
@nebosite We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-13 19:01] #5550 closed

[2018-04-13 19:12] mattbriggs commented on #6870
@aisog Thanks for asking. I will check with the technician to verify this the explorer only works with Azure AD. #in-progress

[2018-04-13 19:31] SnehaGunda commented on #6955
#in-progress

[2018-04-13 19:36] kobulloc-MSFT commented on #7098
@malhmoud89 Thank you for pointing this out!  I'll assign this to the document author to be corrected.

![image](https://user-images.githubusercontent.com/37556655/38754555-25384cca-3f17-11e8-83f1-a71a78f07605.png)

[2018-04-13 19:56] grahambird80 opened #7174 "ATA not showing in Security Solutions"
I have followed the above guide and installed the agent on to the ATA server however it is not appearing in the Azure Security Centre Security Solutions.
The Agent is sending what looks to be local event logs to the ASC, is there a way to confirm that ATA is sending logs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-04-13 20:10] thedrum808 opened #7175 "AAD Sign-in issue"
Hey team - I don't know if I'm in the right place for this, but I'm having a Hybrid Azure AD issue in the middle of a Windows Hello for Business deployment.

I've set up password, PIN, and biometrics for a domain account on a domain-joined PC. If I log in with first.last@domain.com (AzureAD creds) and any of those three methods of authentication, the computer signs in correctly with the Azure AD c

[2018-04-13 20:13] ajlam commented on #6475
@yesoreyeram, can this issue be closed?

[2018-04-13 20:13] ajlam commented on #6186
@yesoreyeram, can this issue be closed?

[2018-04-13 20:14] MohitGargMSFT commented on #7167
@stewartadam Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-13 20:22] jankod opened #7177 "Where is Manage payment methods?"
A canot find Manage payment methods?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fb8bd80-8dc3-94be-dc1e-7cd6428da63c
* Version Independent ID: 523e8db2-6428-6a51-b536-c3d531560aee
* Content: [Change your credit card for Azure](https://docs.microsoft.com/en-us/azure/billing/billing-how-to-change-credit-card)
* Conte

[2018-04-13 20:30] MicahMcKittrick-MSFT commented on #7166
@nrjohnstone Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-13 20:31] MicahMcKittrick-MSFT commented on #7169
@roddw2 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-13 20:41] amanarneja commented on #7131
@KeiroKamioka0000 Thanks for pointing these out! I have a pull request which, once merged, will fix the issue. In the mean time here are the correct links :

`https://docs.microsoft.com/en-us/azure/billing/billing-understand-your-bill`

`https://docs.microsoft.com/en-us/azure/billing/billing-download-azure-invoice-daily-usage-date#download-usage-from-the-account-center-csv.md`

[2018-04-13 20:49] cynthn commented on #5659
#please-close @clarkbreyman-yammer thanks for the feedback. If you are still seeing this issue, feel free to reopen the issue.

[2018-04-13 20:53] cynthn commented on #5694
@KumudD is this a product issue? Thanks!

[2018-04-13 20:54] cynthn commented on #5799
#please-close @mike-urnun-msft looks like @keirans has created a PR for this work. Thank you for the feedback!

[2018-04-13 20:55] femsulu commented on #7177
@jankod, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-13 20:56] markgalioto commented on #6850
@javgarces , You can use the [Azure feedback forum](https://feedback.azure.com/forums/258995-azure-backup-and-scdpm) to request an improvement for the Backup service. At this time, the portal doesn't provide a column that displays the Resource Group which would allow you to distinguish between identically named VMs. Thank you for your feedback.

[2018-04-13 20:57] markgalioto commented on #6850
#please-close

[2018-04-13 20:59] femsulu commented on #7177
@genlin, can you please review this and provide guidance?

[2018-04-13 21:00] cynthn commented on #5896
@mgreenegit it looks like the file was updated on 3/22/18. Has the issue with the sample been fixed? Can we close the issue?  @cynthn

[2018-04-13 21:03] MohitGargMSFT commented on #7175
@thedrum808 Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-13 21:04] MohitGargMSFT commented on #7174
@grahambird80 Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-13 21:05] #6850 closed

[2018-04-13 21:10] SyntaxC4 commented on #7098
@MicrosoftDocs/azure-cxp-triage Can you reassign to @miaojiang and @vladvino

[2018-04-13 21:11] cynthn commented on #5996
#please-close @JarrettRenshaw please work with @ScottAzure to get this addressed if you haven't already. Thanks!

[2018-04-13 21:17] cynthn commented on #5998
#please-close I've created a work item for @Deland-Han to address this, if he hasn't already - item 1233906

[2018-04-13 21:25] MohitGargMSFT commented on #6956
@gabbsmo We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-13 21:25] #6956 closed

[2018-04-13 21:25] MohitGargMSFT commented on #6961
@hbaeleMCT We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-13 21:25] #6961 closed

[2018-04-13 21:25] MohitGargMSFT commented on #6974
@JohnBruceMS We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-13 21:25] #6974 closed

[2018-04-13 21:26] MohitGargMSFT commented on #7017
@fbinotto We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-13 21:26] #7017 closed

[2018-04-13 21:26] #5996 closed

[2018-04-13 21:26] MohitGargMSFT commented on #7026
@githubsteveb We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-13 21:26] #7026 closed

[2018-04-13 21:27] MohitGargMSFT commented on #7043
@evh69 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-13 21:27] #7043 closed

[2018-04-13 21:27] MohitGargMSFT commented on #7048
@mikehall000 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-13 21:27] #7048 closed

[2018-04-13 21:28] MohitGargMSFT commented on #7053
@jmagosta We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-13 21:30] MohitGargMSFT commented on #7059
@montereyharris I got your point. Thanks for point that out. I have assigned the issue to the author to investigate and probably add steps on how to navigate to Location option through portal.

[2018-04-13 21:32] kobulloc-MSFT commented on #7082
@Oliv4945 You're right, you can update styles but I'm not sure if we support adding a new style.  I'm going to assign this to the doc author (@Juliako ) to follow up as appropriate.

[2018-04-13 21:34] cynthn commented on #6479
#please-close @Meladie thank you for the feedback. I have created a work item for @Deland-Han to update the screenshot and explain the steps. Item 1236021

[2018-04-13 21:35] MohitGargMSFT commented on #7080
@Kirbogd Thanks for details. I have assigned the issue to the document author to investigate and update as appropriate.

[2018-04-13 21:35] #7131 closed

[2018-04-13 21:36] MohitGargMSFT commented on #7086
@catoriana We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-13 21:36] #7086 closed

[2018-04-13 21:36] MohitGargMSFT commented on #7095
@TomShinder We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-13 21:36] #7095 closed

[2018-04-13 21:45] MohitGargMSFT commented on #7103
@DeanGross Please send an email to AzCommunity@microsoft.com. Please refer this GitHub issue in the email. Also if possible attach the email notification which new group member got in the email.

I will proceed to close this issue and will work with you on your specific scenerio through email. Thanks.

[2018-04-13 21:49] kobulloc-MSFT commented on #7172
@xiangyan99 Thank you for the feedback!  I'm working on updating https://docs.microsoft.com/en-us/azure/jenkins/deploy-jenkins-app-service-plugin and will get back to you shortly.

[2018-04-13 21:56] #6479 closed

[2018-04-13 21:56] #6154 closed

[2018-04-13 21:57] #5998 closed

[2018-04-13 22:00] Mike-Ubezzi-MSFT commented on #7170
@angiekNCS Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-13 22:01] #7172 closed

[2018-04-13 22:05] Mike-Ubezzi-MSFT commented on #7170
@ronortloff The paragraph is not crystal clear as to whether the back-up costs includes a base image + snapshots. One could assume that it is but, it would be good to have more clarity about what constitutes a back-up and how that adds up to a final price for the customer.

[2018-04-13 22:08] Mike-Ubezzi-MSFT commented on #7171
@elliott-beach Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-13 22:10] tfitzmac commented on #7161
@jtuliani - thanks for this feedback. I'll add those properties.

[2018-04-13 22:25] MohitGargMSFT commented on #7125
@evh69 Request you to help me with which section of the document you are referring here.

[2018-04-13 22:30] MohitGargMSFT commented on #7136
@andrewjsilcock Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-13 22:32] bbarrington2001 opened #7181 "Update Azure Diagnostics link"
Under "Example scenarios", "Monitoring Virtual Machines", 1st paragraph: The link to "Azure Diagnostics extension" points to the Linux extension but there is no link to the Windows extension here: https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/azure-diagnostics

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-04-13 22:38] v-geberr commented on #6965
@codepossible Thank you for your suggestion. Many images will be updated in the next month. Is there a specific area of the UX you are concerned about or is this a general request for all screens that show the entire UX?

[2018-04-13 22:44] MohitGargMSFT commented on #7139
@JimmyLS Please note that this section [In your on-premises environment](https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-pass-through-authentication-quick-start#in-your-on-premises-environment) under [Step 1: Check the prerequisites](https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-pass-through-authentication-qu

[2018-04-13 22:49] MohitGargMSFT commented on #7153
@Dheerajmentor Thanks for the feedback! I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-13 22:55] MicrosoftGuyJFlo commented on #5826
Adding a statement to the article that discuses Trusted IPs to clarify this. Should publish tomorrow. Thanks for the feedback @CoMMyCZ .

[2018-04-13 23:00] MohitGargMSFT commented on #7160
@FarhanaJabbar As I was researching around the error, came across below Stackoverflow thread where another user has similar error -

https://stackoverflow.com/questions/47077678/custom-policy-restful-api-userjourney-error

You can open a new Stackoverflow post with the similar tags as in above post and community will help address your query.

Also please use steps in this document [Azure Active Di

[2018-04-13 23:04] v-geberr commented on #6754
@lvovan Thank you for sending feedback. I will review the document for usage.

[2018-04-13 23:14] chenxizhang opened #7182 "Token Revocation rule can not work"
Hi there, i just found the token revocation rule you describe above can not work : If a user changes their password, the refreshtoken and accesstoken can continue use. anything i missed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2906fe9e-319d-3625-441d-d28c9251b450
* Version Independent ID: 168fde63-9b86-41a9-f1cc

[2018-04-13 23:42] MohitGargMSFT commented on #7167
@stewartadam I see what you are referring. I am assigning this issue to author to investigate and update as appropriate. Thanks.

[2018-04-13 23:46] rothtony commented on #7163
Ok but it says both MFA cloud and server but it doesn't work in cloud only. Already tried it per this doc.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Mohit Garg <notifications@github.com>
Sent: Friday, April 13, 2018 4:20:10 PM
To: MicrosoftDocs/azure-docs
Cc: Tony Roth; Mention
Subject: Re: [MicrosoftDocs/azure-docs] comparison may not be correct (#716

[2018-04-13 23:57] David-Noble-at-work commented on #6788
@Frankwayne Hi there,
I'm the dev owner of the Emulator and would like to get to the bottom of this. Are you up for a remote Skype session?
Best,
David Noble

[2018-04-13 23:58] MohitGargMSFT commented on #7174
@grahambird80 Please check these documents [Troubleshooting ATA known issues](https://docs.microsoft.com/en-us/advanced-threat-analytics/troubleshooting-ata-known-errors) and [Troubleshooting ATA using the ATA logs](https://docs.microsoft.com/en-us/advanced-threat-analytics/troubleshooting-ata-using-logs) and see if this helps to resolve the issue.

[2018-04-14 00:05] MohitGargMSFT commented on #7175
@thedrum808 Please open a new MSDN forum post and community will help address your query. Refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD

Once you open the forum post you can mention the thread link here and I will make sure that you get helped on your issue.

[2018-04-14 00:06] mgreenegit commented on #5896
Yes, thank you for following up

________________________________
From: Cynthia Nottingham <notifications@github.com>
Sent: Friday, April 13, 2018 4:00:07 PM
To: MicrosoftDocs/azure-docs
Cc: Michael Greene; Mention
Subject: Re: [MicrosoftDocs/azure-docs] The samples provided does not work (#5896)

@mgreenegit<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fmgreenegit&

[2018-04-14 00:06] #5896 closed

[2018-04-14 00:13] MohitGargMSFT commented on #7182
@chenxizhang Thanks for your feedback! Please confirm that you referred to Note in this section [Token Revocation](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-token-and-claims#token-revocation) which states below -

If a non-password method of authentication was used (Windows Hello, the Authenticator app, biometrics like a face or fingerprint) to attain the tok

[2018-04-14 00:26] kobulloc-MSFT commented on #7025
@mikemowgli Thank you for clarifying!  I'm going to assign this to the author to update the document accordingly.  Just in case this is something that is not supported, I recommend leaving a suggestion in the API Management feedback where it will get looked at by the appropriate people: https://feedback.azure.com/forums/248703-api-management.

[2018-04-14 00:46] femsulu commented on #7181
@bbarrington2001, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-14 00:54] Mike-Ubezzi-MSFT commented on #7152
@TravisLaGrone It appears that some detail is not being made clear in this document, and before I pass it onto the content owner, I want to get additional information from you about what is not being communicated or how can this document be enhanced.
Regards,
Mike

[2018-04-14 01:02] femsulu commented on #7181
@bwren can you please review and provide some guidance?

[2018-04-14 02:14] georgewallace commented on #7137
@jeremyhagan, The update is now live.. https://docs.microsoft.com/en-us/azure/automation/automation-first-runbook-graphical #please-close

[2018-04-14 03:39] #7126 closed

[2018-04-14 07:11] robb commented on #7181
Fwiw, I think you have the wrong @robb

[2018-04-14 07:56] ydogandjiev opened #7184 "How should one go about deleting a document from Cosmos DB using an Azure Cloud Function?"
I tried using both an input and output binding without an id (thus fetching the entire collection) and then filtering the item I want to remove from the inputDocuments and setting the result as the outputDocuments. Unfortunately, that doesn't seem to actually delete the item from the database instance. Any idea what I might be missing? What's the correct way to do this?

Here is the code I wrote:

[2018-04-14 10:16] rahulunlimited opened #7185 "Steps for setting Breakpoint"
Can you please list the steps to set the breakpoint. I can use the Debug Until option but cannot set the breakpoint.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5abe92e0-af6a-4def-ca04-cec316529945
* Version Independent ID: 96e2ab4c-46cd-e996-fb11-1423b2325928
* Content: [Iterative development and debugging in Azure

[2018-04-14 11:32] joeizy opened #7186 "Bad Link"
There's a bad link in this paragraph.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8f43189-3418-fd30-0528-550157d8366d
* Version Independent ID: 049e3b0e-6f10-6985-c719-05fe43fc00b8
* Content: [Automatically enable Diagnostic Settings using a Resource Manager template](https://docs.microsoft.com/en-us/azure

[2018-04-14 12:03] jjgriff93 opened #7187 "https://contoso.blob.core.windows.net/b2c URL no longer exists"
Getting a file not found error when visiting https://contoso.blob.core.windows.net/b2c

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36c209d9-c15f-87a4-a7ee-bb2bd3416961
* Version Independent ID: 2f76d983-a940-fa5f-abe0-4c851e377608
* Content: [Azure Active Directory B2C: Page UI customization helper tool](https://doc

[2018-04-14 12:25] Frankwayne commented on #6788
@David-Noble-at-work   Certainly.  What times work best for you ?  I'm on the east coast  and this is work related so I can also have a session  during work hours as well.  I'm also free this sunday too.

[2018-04-14 17:12] jason-j-MSFT commented on #7184
@ydogandjiev
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-14 17:13] jason-j-MSFT commented on #7185
@rahulunlimited
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-14 17:14] jason-j-MSFT commented on #7186
@joeizy
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-14 17:16] jason-j-MSFT commented on #7187
@jjgriff93
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-14 19:40] laultman opened #7189 "Confusion in Directions"
Create a sign-up or sign-in policy
This policy handles both consumer sign-up & sign-in experiences with a single configuration. Consumers are led down the right path (sign-up or sign-in) depending on the context. It also describes the contents of tokens that the application will receive upon successful sign-ups or sign-ins. A code sample for the sign-up or sign-in policy is available here. It is r

[2018-04-14 19:43] laultman opened #7190 "Does not work with VS 2017 tools."
The VS 2017 wants a previously registered app from B2C and the B2C wants info from the app? Chicken or Egg which is it??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8b5f81a-f216-b345-d434-c0ebbf70ff00
* Version Independent ID: e77fb894-d7a0-ae0c-7f4c-1030df97f073
* Content: [Azure Active Directory B2C: Built-in pol

[2018-04-14 20:03] CarlosOnline opened #7191 "Please remove single domain name restriction"
Please remove single domain name restriction.
My goal is to register an intranet & extranet redirect url, along with the localhost.
Can you please remove this restriction?

Neither google, nor Facebook have this restriction.

Documentation:

all redirect URI values must share a single DNS domain

You can add the latter two because they are subdomains of the first redirect URI, contoso.com. This li

[2018-04-14 21:01] kasperkamperman opened #7192 "Use model in tensorflow.js"
I hope someone could give a hint how to use the model in tensorflow.js. I suppose the .pb is a Frozen GraphDef? There is a converter tool (https://github.com/tensorflow/tfjs-converter) however I miss the "--output_node_names". Exporting directly for tensorflow.js would be even greater of course.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-04-14 21:35] laultman opened #7193 "Not Clear, Not Concise"
Before you can create applications or users, or interact with Azure AD at all, you will need an Azure AD B2C tenant and a global administrator account in the tenant. If you don't have a tenant already, get started with Azure AD B2C.
Register your application in your tenant
After you have a B2C tenant, you need to register your application via the Azure Portal.
Important
To use the Graph API with y

[2018-04-14 21:48] laultman opened #7194 "Not Completely Accurate"
Built-in policies are easier to set up for your configuration. You can use built-in and custom policies in the same Azure Active Directory B2C tenant. To learn more, see the overview of custom policies. <<< Yes you may have both built-in and custom policies in the same tenant, but an app cannot do both at the same time. Your app must use one or the other using the current libraries. Otherwise you

[2018-04-14 22:05] laultman opened #7195 "Error in the Steps for Customizing UI"
For the purposes of this tutorial, we've already created some sample content and hosted it on Azure Blob Storage. The sample content is a very basic customization in the theme of our fictional company, "Wingtip Toys". To try it out in your own policy, follow these steps:
Sign in to your tenant on the Azure portal and navigate to the B2C features blade.
Click Sign-up or sign-in policies and then cl

[2018-04-15 00:31] jason-j-MSFT commented on #7189
@laultman
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-15 00:32] jason-j-MSFT commented on #7190
@laultman
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-15 00:34] jason-j-MSFT commented on #7191
@CarlosOnline
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-15 00:37] jason-j-MSFT commented on #7193
@laultman
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-15 00:38] jason-j-MSFT commented on #7194
@laultman
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-15 00:39] jason-j-MSFT commented on #7195
@laultman
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-15 00:41] jason-j-MSFT commented on #7192
@kasperkamperman
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-15 07:00] ccit-spence opened #7198 "Checking Shared Does not work"
I have nothing shared within the Docker settings.  If I check a drive and apply then credentials, it unchecks and fails.  No error messages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 949255e9-72ca-ef48-c442-4a34a44389d7
* Version Independent ID: b5768ca2-80f6-7f3c-ef0b-691c1060ad46
* Content: [Troubleshooting Dock

[2018-04-15 07:39] chenxizhang commented on #7182
@MohitGargMSFT
Thank you

We tested in this way. Let's see if there are any problems.

1. - The first time user login to the application, they enter their credential, and the application obtain the access_token to access the resource.
2. - The application save the access_token, and Use this information directly in the next request.
3. - When the access_token expired, the application use the refres

[2018-04-15 12:29] ToruMakabe opened #7199 "The sample application code on GitHub not found"
The repository "https://github.com/Azure-Samples/storage-blobs-go-quickstart" not found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3402293d-ac39-abd4-55ae-a3fc55180883
* Version Independent ID: 832abbb0-5588-fadc-b413-4ad3f2a870bc
* Content: [Azure Quickstart - Create a blob in object storage using Go](https://doc

[2018-04-15 13:14] grasdev opened #7201 "Image Registry Credentials"
Hello,

When you say to add an object "imageRegistryCredentials" on the JSON file, the exact location is not specified, and it is necessary otherwise the deployment fails. The object should be added inside resources.properties.
Also when you use a private container image registry you need to define the parameters see: https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-t

[2018-04-15 14:13] autocloudarc commented on #5130
Thanks @amanarneja . I'll add this to my backlog.

[2018-04-15 15:15] stephaneey commented on #6518
Hi,

It seems that port 3443 must be opened whatever kind of integration you're doing (internal/external). I have an external gateway and if I don't put this inbound rule in the NSG, I can't get access to the management API https://management.azure.com/..../apis?api-version=2017-03-01 and this from either outside or inside the VNET. This means that the portal doesn't work either if this port isn't

[2018-04-15 15:52] MicahMcKittrick-MSFT commented on #7201
@grasdev Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-15 15:54] MicahMcKittrick-MSFT commented on #7198
@ccit-spence Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-15 15:56] MicahMcKittrick-MSFT commented on #7199
@ToruMakabe Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-15 15:57] #5659 closed

[2018-04-15 15:57] #5799 closed

[2018-04-15 15:57] #6966 closed

[2018-04-15 15:57] #7051 closed

[2018-04-15 15:57] #7137 closed

[2018-04-15 17:36] amittleider opened #7204 "Run an actual .sh file"
It would be nice to see the documentation to run a full .sh file on the machine instead of putting the commands in string format of the json.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8317fe0-2509-066d-0934-5be55c5b4d33
* Version Independent ID: 3b73d69f-3b33-1610-f2b9-1c7d0de10f67
* Content: [Azure CLI Script Sa

[2018-04-15 17:52] FarhanaJabbar commented on #6866
Any update on this issue? I am getting the similar issue.

[2018-04-15 18:40] seguler commented on #7199
Resolved.

[2018-04-15 20:13] another1s commented on #6727
@ajlam it works ！
thank you for your help

[2018-04-15 20:13] #6727 closed

[2018-04-15 20:55] MicahMcKittrick-MSFT commented on #7204
@amittleider Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-15 20:56] #7199 closed

[2018-04-15 21:32] theheatDK opened #7205 "Powershell example"
Hi,
It would be very helpful with an example of how to configure backup notifications via Powershell.
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 804bf5c8-5294-cd0f-b373-5b8dec824cf3
* Version Independent ID: ea107e69-9855-1c70-e69f-55bc1fa8dd05
* Content: [Monitor backup alerts for Azure virtual machi

[2018-04-15 21:35] neilpeterson commented on #7204
@amittleider - I will work on having a sample published.

In the interim, the [Custom Script Extension overview doc](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/extensions-customscript#azure-cli) has a sample that completes what you are asking for.

Does this help?

Thanks

[2018-04-15 21:52] grahambird80 commented on #7174
So turns out I just needed to be patient, once ATA had generated an ATA Alert this showed up in ASC and ATA is showing as a connected solution.

Thanks for getting back to me

[2018-04-15 21:52] #7174 closed

[2018-04-15 21:59] spottedmahn opened #7206 "Create a Glossary Page"
List, [VSTS](https://docs.microsoft.com/en-us/vsts/work/work-items/agile-glossary?view=vsts), I think it would be handy to have a glossary.

- IDP: Identity Provider
- STS: [Secure Token Serivce](https://stackoverflow.com/questions/45174728/what-does-sts-mean-in-the-context-of-azure-ad-b2c)
- IEF: Identity Experience Framework aka Custom Policies
- Policy: ??? (a B2C concept to facilitate logging,

[2018-04-15 22:45] MicahMcKittrick-MSFT commented on #7206
@spottedmahn Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-15 22:46] MicahMcKittrick-MSFT commented on #7205
@theheatDK Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-15 23:14] spottedmahn commented on #7206
- Leaf Policy: the Relying Party policy

[2018-04-16 00:03] spottedmahn commented on #7206
- Reply URL: where the user returns to upon authenticating.  Along with the rule that they must all belong to the same domain.

From the portal

[2018-04-16 00:54] spottedmahn opened #7208 "I don't understand how the 'Scopes' in Azure B2C are supposed to be used"
Please see this [Stack Overflow post](https://stackoverflow.com/questions/49846450/what-use-are-scopes-in-azure-b2c-authentication).

It took me a while to wrap my head around this too.  I don't think this **concept** is well documented.  Maybe it is and missed it so please correct me if I'm wrong 😁

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2018-04-16 01:01] myusrn opened #7209 "how to define a usql activity parameter with wildcard value"
I have a scenario where my usql activity parameters have to contain a reference to the current tumbling window source & sink file names.

It appears that using the blob linked service dataset folderPath/fileFilter and data lake store linked service folderPath/fileFilter wildcard values in usql activity parameter settings isn't working and i'm not sure how to correct it.

I've tested with a mix of

[2018-04-16 02:31] dcbrown16 opened #7210 "Whitelist all Azure addresses, or only Storage?"
This page says that "the backup extension needs connectivity to the Azure public IP addresses" and refers again to whitelisting "the Azure datacenter IP ranges". However, the screenshot example is only allowing the Storage IPs, which is much easier to implement than all of the IPs for a datacenter due to the Storage tag in NSGs. Can you confirm that only access to the storage IPs is needed (not ne

[2018-04-16 02:55] MicahMcKittrick-MSFT commented on #7209
@myusrn Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-16 02:55] ydogandjiev opened #7211 "AAD v1 vs v2"
Are AAD v2 (aka converged) apps inherently multi-tenant or is there a step needed to make those so?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 326f7173-a654-fda7-2438-6905da3fdbef
* Version Independent ID: 7dbc5a10-9d61-26e1-f532-973b4bdfae9a
* Content: [How to build an app that can sign in any Azure AD user](https

[2018-04-16 02:56] MicahMcKittrick-MSFT commented on #7208
@spottedmahn Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-16 02:56] MicahMcKittrick-MSFT commented on #7210
@dcbrown16 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-16 03:07] karl-howard opened #7212 "Azure Functions no longer in Preview"
"Azure Functions (in preview)"
This section title is out of date, egress to Azure Functions became Generally Available since January.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2896ae0e-a559-64c7-1782-14ef1c83f509
* Version Independent ID: fdc01b78-9222-6231-f85e-68defe4eafa9
* Content: [Types of outputs from Azure

[2018-04-16 03:19] justinbarias opened #7213 "NICs count/network bandwidth typo for Standard_D3_v2 and Standard_D4_V2"
Typos on the NIC count/network bandwidth for the sizes Standard_D3_v2 and Standard_D4_v2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bb1d37c-6337-0906-42ff-b5dbc6afdc8b
* Version Independent ID: 72a96e16-1d2d-4c01-45be-3caf82470592
* Content: [Azure Windows VM sizes - General purpose](https://docs.microsoft.com/en-

[2018-04-16 03:42] dsandsqis opened #7215 "Upload is failing"
When I run the portion of the code to upload the image locally in a debug session, I get the exception "The request was aborted. The connection was closed unexpectedly." All methods up to CloudBlobContainer.UploadFromStream() seem to work. For instance the blob file names are there just with no content, the size is zero bytes from the interrupted connection I'm assuming.

---
#### Document Details

[2018-04-16 03:59] neilpeterson commented on #7201
@grasdev - yep, we will update to clarify. In the interim, this information can also be found in the template json reference found here:

https://docs.microsoft.com/en-us/azure/templates/microsoft.containerinstance/containergroups

Does this help?

[2018-04-16 04:00] dstrebel opened #7217 "Change TLS service to cert-manager"
Change TLS service from kube-lego to cert-manager. Kube-lego is being depreciated in favor of cert-manager. I can submit a PR for the change.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* Version Independent ID: 5c596e04-fddb-effe-3b72-575f4df42d4e
* Content: [Configure ingress w

[2018-04-16 04:02] dstrebel commented on #7217
duplicate issue

[2018-04-16 04:02] #7217 closed

[2018-04-16 04:06] neilpeterson commented on #7217
@dstrebel - Dave, thanks for catching the dupe here and adjusting.

To followup, this will be priority once Kubecon and Build done.

Thanks

[2018-04-16 04:25] maybebored opened #7218 "Content-Languages"
The API Reference nor Documentation provide what other content-languages are available. Is it only en-us?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3604fe7e-46a3-6f5b-41e0-d3e69e01c8ae
* Version Independent ID: 9415c8a5-177e-fe11-7198-3d97ed438dc8
* Content: [Speaker Recognition API](https://docs.microsoft.com/en-

[2018-04-16 04:26] myusrn commented on #7209
@MicahMcKittrick-MSFT thanks for followup on this.

I just tested changing the usql activity's timeout form 10mins [ 0.00:10:00 ] to 1hr [ 0.01:00:00 ] and usql script degreesOfParallelism from not defined to 50 at which point i'm not getting activity timeout error noted above.

That said it wrt the data lake store destination/sink summary_file path setting its putting everything for a given yyyy/

[2018-04-16 04:42] divyaswarnkar commented on #6826
@pfoolen , there isnt an advanced tool to create and test liquid maps. There is a VS code plugin available that helps in authoring.

[2018-04-16 04:56] divyaswarnkar commented on #5777
@nareshnagpal06 thanks for letting us know and your observation is right. The content to link integration account to logic app is out of date. We'll update the document soon. Sorry about the inconvenience.

[2018-04-16 04:57] cgillum commented on #6831
Thanks for pointing this out, and for providing the diagram! We'll update the docs to make this more clear.

[2018-04-16 05:14] daviburg commented on #6439
Hi Andrew, you need to use the Microsoft Azure Logic Apps Enterprise Integration Tools for Visual Studio 2015 2.0. You can find them at https://www.microsoft.com/en-us/download/details.aspx?id=53016
This page on Flat File links to https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-enterprise-integration-overview which itself links to the Tools.

[2018-04-16 07:46] fajanssen opened #7219 "Backup Retention for Items not protected anymore. No policy applied."
Hello there,

what happens to recoverypoint when the item is not marked as protected anymore? E.g.: I just deactivated the recovery services protection of a Linux VM and the retention time for the recoverypoint at 7 days. Now the VM is not marked as protected Item anymore and the recovery-points do still exist. What is the retention time for these points now? I would like to keep them for some tes

[2018-04-16 08:17] NiklasJern opened #7221 "SQL Reports"
Is there and ETA when SQL is gonna be available for the backup reports?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f1ffca1-98ba-0b91-1c6f-a92dde893b30
* Version Independent ID: 8e14882f-c7b2-3f27-554f-973a41e1d380
* Content: [Configure Reports for Azure Backup](https://docs.microsoft.com/en-us/azure/backup/backup-

[2018-04-16 08:25] JimmyLS commented on #7139
Yes, my customer has AADC of version 1.1.654.0 but we can see logs from the event viewer which indicated that the Connect tried to access the following URL: https://TenantId.bootstrap.msappproxy.net:8080 but failed.
I just want to know that in case if the PTA agent failed to communicate over port 443 outbound will it try to use the port 8080 as an alternate? If this is true, then it should explain

[2018-04-16 08:57] khongminh opened #7222 "delete account"
when i delete microsoft account does pay as you go subscription continue ??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 576cae7d-f9e6-72ef-c6ba-d5a4e359d70d
* Version Independent ID: af78deae-d409-6261-a817-b504965d1988
* Content: [Cancel your Azure subscription](https://docs.microsoft.com/en-us/azure/billing/billin

[2018-04-16 09:31] jankod commented on #7177
Hi,
thank you for your reply.
I cant see: "Manage payment methods".

I see only this:

--
Janko Diminic

On 16 April 2018 at 11:19, Thomas Lin <notifications@github.com> wrote:

[2018-04-16 09:34] dominicbetts commented on #7148
#please-close

[2018-04-16 09:40] Jon007 opened #7223 "Use in non-Azure environment"
Is it possible to use Application Insights within corporate Windows 2016 / docker environment?

The article introduction does not explain whether this tool is Azure specific or not:  the article starts in a generic way about monitoring docker, but then requires an Azure instrumentation key and it's not clear whether there's an alternative mechanism for docker images which are not running on Azure.

[2018-04-16 10:06] AndyH16 opened #7224 "Struggling to get the AD module"
Hi, I'm trying to renew the Kerberos decryption key using the steps above but I can't get past step 2. The link takes you to how to install the MSOnline module and I can't find any links to the 64 bit module. I have managed to install MSOnline (1.1.166.0) and AzureAD (2.0.1.6), but the directory listed in step 3 does not exist - mine appears to be installed to C:\Program Files\WindowsPowerShell\Mo

[2018-04-16 10:28] pekkaar opened #7226 "Remote user defined functions (table valued and scalar)?"
The docs on Azure SQL Server cross-database queries seem to be fairly vague when addressing **remote user defined functions**, as if it would be straightforward or altogether impossible. 'Remote' as in: defined in another Azure SQL Database, for which a Master Key + DB Scoped Credential and Data Source was already created.

Well, if for example I reference a remote table valued function in my DB u

[2018-04-16 10:35] cloudmelon opened #7227 "Is the concept overprovisioning replace the old concept ' placement group ' ?"
[Enter feedback here]
Is the concept overprovisioning replace the old concept ' placement group ' ?  As I said ( I started to work with Azure since 3 yrs ),  if only one placement group in VMSS it will be limited to 100, even though VMSS has capacity up to 1000 instances.  So the overprovisioning is one placement group ( false ) ,  so that VMSS contains more instances right ?

Whiling updating the

[2018-04-16 11:59] reinaudvr opened #7229 "Outdated information"
Can this document be updated with the latest service bus java api?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0bd1414-d29f-fe3b-503f-365692c77ca5
* Version Independent ID: 8627b318-bd95-0176-bfd5-6cb20f661692
* Content: [How to use Azure Service Bus queues with Java](https://docs.microsoft.com/en-us/azure/service-

[2018-04-16 12:09] yesoreyeram commented on #6186
Yes.@ajlam we can close. thanks for the help provided

[2018-04-16 12:09] #6186 closed

[2018-04-16 12:40] jecarlsen opened #7231 "Spelling mistake - AzureRmResovurce"
"PowerShell
Use the Get-AzureRmResovurce cmdlet to list all registered tenants. Log in to Azure (Login-AzureRMAccount) using the account you used for the initial registration. Here is an example of how to add a tenant:" ...

I dont think AzureRmResovurce is a existing Noun is it? Spelling mistake in description as well as code.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2018-04-16 12:49] tenacious-joy commented on #6525
az vm list-ip-addresses --resource-group MC_myAKSCluster_myAKSCluster_eastus -o table always gives no o/p . I tried with a lot of options. Nothing worked. Can you help?

[2018-04-16 13:43] mufflon opened #7232 "Incorrect json serialization in sample command, azure model management"
When I create a json-serializable schema using python I seem to generate a correct schema but the sample code in the sample commands (curl as well as az) is incorrectly formatted.

Steps to reproduce:
Generate a model management function with a boolean as sample parameter
Deploy
use sample commands to poll the function
"Input failed JSON deserialization"-error

Expected results:
Sample command sho

[2018-04-16 14:01] georgewallace commented on #6554
@msghaleb Sorry for the delay, the updated doc is live now https://docs.microsoft.com/en-us/azure/automation/automation-tutorial-installed-software . Thank you very much for your contribution to our docs.  #please-close

[2018-04-16 14:05] FrancisRD91 commented on #6989
@vasivara-MSFT Thanks for keeping me updated. I will wait for the answer. Regards.

[2018-04-16 14:16] willam-gregoire commented on #6577
I managed to connect by adding the public IP to the worker. Thanks for your help.

[2018-04-16 14:43] anshuman-nath opened #7233 "VM creation issue"
I'm at the 2nd step and trying to create a VM after successfully creating myResourceGroupVM via Cloud Shell. This is what I get when I try to create VM in Cloud Shell.

PS Azure:\> az vm create --resource-group myResourceGroupVM --name myVM --image UbuntuLTS --generate-ssh-keys
admin user name cannot contain upper case character A-Z, special characters \/"[]:|<>+=;,?*@#()! or start with $ or -

Do

[2018-04-16 14:46] tja2000 opened #7234 "Running MNIST samples on Datascience VM fail"
I am not able to run any of MNIST sample from MachineLearning on the Datascience VM.
Here is my issue on Github: https://github.com/Microsoft/Windows-Machine-Learning/issues/10 that I started on the UWP thread: https://github.com/MicrosoftDocs/windows-uwp/issues/436

Thanks,
Thierry

[2018-04-16 14:56] Adam-Smith-MSFT commented on #7210
@dcbrown16  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-16 14:58] hraunfjord opened #7235 "Conditions"
Recently the "Condition" statement was changed.  It is no longar possible to select "Edit in advanced mode" / "Edit in basic mode".  I have been using the advanced settings to check for empty body from previous step:
@empty(body('GetRecordFromD365')['value'])
I have been struggling with converting this to the new format, where it is only possible to define [value - condition - value].  The Express

[2018-04-16 15:06] mrbullwinkle commented on #6921
#in-process

[2018-04-16 15:13] anshuman-nath opened #7236 "RDP to VM"
I'm logged in to Azure portal via my corporate enterprise subscription and using Cloud Shell to connect to VM, but facing the below issue

 mstsc /v:13.92.210.126
mstsc : The term 'mstsc' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is
correct and try again.
At line:1 char:1
+

[2018-04-16 15:15] grasdev commented on #7201
@neilpeterson yes it does I think a link to that page on this document would be nice.
Thank you for the response.

[2018-04-16 15:23] danmyhre opened #7237 "Missing ARM Template Examples"
Document is missing examples of how to set this up using an ARM template deployment

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78964956-a479-5fbe-710d-19e361542a36
* Version Independent ID: 15e70532-6d39-47ed-6932-ef3eb88e33f0
* Content: [Soft delete for Azure Storage blobs (Preview)](https://docs.microsoft.com/en-

[2018-04-16 15:28] AndyH16 commented on #7224
Sorry, my eyes appear to have skipped over the line that mentions this should be done on the Azure AD Connect server!

[2018-04-16 15:28] #7224 closed

[2018-04-16 15:29] anshuman-nath opened #7238 "Issue in Understand VM images"
I try executing the command that deploys a virtual machine using the latest version of a Windows Server 2016 with Containers image, by copying the command and running it on CloudShell, but the job status shows failed. How can I find the issue ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55e23176-40c4-39bd-4f6f-cc48

[2018-04-16 15:29] ajlam commented on #6475
#please-close

[2018-04-16 15:33] Mike-Ubezzi-MSFT commented on #7226
@pekkaar Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-16 15:34] ajlam commented on #6727
@another1s, the code changes should be updated in the live docs now: https://docs.microsoft.com/azure/mysql/connect-cpp

Thanks again for helping to find this issue!

[2018-04-16 15:38] NaveenKY opened #7239 "Running nodejs application on HTTPS in AppService"
In order to enable Mutual Authetication in nodejs application, i am running my application on HTTPS.
But when i deploy the application in Azure AppService, i am not able to call. I always get 500.

When i run similar code on HTTP, i am able to hit the endpoint.

Is there some way, i can configure iisnode to point to HTTPS of my node application.

Below is the sample code :

[code]

[2018-04-16 15:45] #6475 closed

[2018-04-16 15:52] danmyhre opened #7240 "Limitations of ARM Templates"
Please provide a list of limitations of what can't be managed through an ARM template.  For example, permission settings, diagnostic settings, etc)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49375f7b-bb27-0226-8918-c42eed13b4ee
* Version Independent ID: 19617564-9c43-0e33-57c2-e78b4a935e72
* Content: [Azure invalid

[2018-04-16 15:55] mrbullwinkle commented on #6921
@dronkoff thank you for bringing this to our attention. The change you requested has been merged. The change will go live during the morning docs publishing window at 10 AM PDT today.

[2018-04-16 15:55] mrbullwinkle commented on #6921
#please-close

[2018-04-16 15:58] MicahMcKittrick-MSFT commented on #7213
@justinbarias Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-16 15:59] MicahMcKittrick-MSFT commented on #7227
@cloudmelon Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-16 16:00] MicahMcKittrick-MSFT commented on #7233
@anshuman-nath Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-16 16:04] MicahMcKittrick-MSFT commented on #7236
@anshuman-nath this is because you need to run the command on your local machines PowerShell instance. Not in the cloud shell:

<img width="750" alt="image" src="https://user-images.githubusercontent.com/32313503/38821296-f7215c38-4154-11e8-8655-84691d18d197.png">

Alternatively you can open mstsc on your machine and it opens the Remote Desktop utiltiy:

<img width="287" alt="image" src="https://u

[2018-04-16 16:04] #7236 closed

[2018-04-16 16:05] MicahMcKittrick-MSFT commented on #7238
@anshuman-nath Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-16 16:17] dlepow commented on #7038
@MrkMtchll - Thanks for the helpful feedback around the ControlPath and related ControlMaster values suggested in the SSH config file in this article. I have an SSH doc update in progress (work item [1068435](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1068435)) and will address this by either adding explanation of these values or pointing to more authoritative OpenSSH docs (no

[2018-04-16 16:17] iainfoulds commented on #7141
Thanks for the feedback, @ronbok. Do you have any specific examples of what you'd like to see @harijayms incorporate?

The scope of this doc is designed to show how to enable the serial console for use, as additional scenarios and use case and then more in-line with the rest of the troubleshooting docs included in that section of the TOC. The serial console would commonly be used for recovering in

[2018-04-16 16:31] YutongTie-MSFT commented on #7218
@maybebored Hi, this document does not support all languages, you can check the available language in the left bottom of the page. Thanks!

[2018-04-16 16:32] kobulloc-MSFT commented on #7223
@Jon007 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-04-16 16:37] neilpeterson commented on #7204
Can you clarify this:

[code]

Using the example found [here](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/extensions-customscript#azure-cli), you should be able to store your script (.sh file) in an accessible location, GitHub, and then run the script .via the script extension like this, where <script url> is the url to the script source.

[code]

[2018-04-16 16:40] MicahMcKittrick-MSFT commented on #7155
@jsiegmund will close this out for now. Please reopen when you are ready to continue.

[2018-04-16 16:40] #7155 closed

[2018-04-16 16:42] MicahMcKittrick-MSFT commented on #7198
@ccit-spence thanks for that! I will assign to author to review and consider adding that information to this doc.

@dbreshears can you take a look?

[2018-04-16 16:48] MicahMcKittrick-MSFT commented on #7213
@justinbarias thanks for that find! I have submitted a fix. This will close when the changes merge.

[2018-04-16 16:49] davidmu1 commented on #6866
#in-progress

[2018-04-16 16:50] MicahMcKittrick-MSFT commented on #7227
@gatneil can you take a look into this?

[2018-04-16 17:02] BryanTrach-MSFT commented on #7235
@hraunfjord Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-16 17:02] cynthn commented on #5950
For information on using the REST API to query for VM sizes, see the following:

- [List available virtual machine sizes for resizing](https://docs.microsoft.com/rest/api/compute/virtualmachines/virtualmachines-list-sizes-for-resizing)
- [List available virtual machine sizes for a subscription](https://docs.microsoft.com/rest/api/compute/virtualmachines/virtualmachines-list-sizes-region)
- [List a

[2018-04-16 17:06] SaurabhSharma-MSFT commented on #7219
@fajanssen
Thanks for the feedback ! Please provide the document link for review.

[2018-04-16 17:07] Adam-Smith-MSFT commented on #7237
@danmyhre Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-16 17:08] SaurabhSharma-MSFT commented on #7232
@mufflon
Thanks for the feedback !  Please provide Git-hub link to further investigate the issue.

[2018-04-16 17:08] MohitGargMSFT commented on #7224
Thanks. Great you are able to figure it out!

[2018-04-16 17:10] MicahMcKittrick-MSFT commented on #7233
@anshuman-nath you can specify a username instead if needed:

az vm create --resource-group MyResourceGroup --name MyVM --image UbuntuLTS --admin-username USER_NAME --generate-ssh-keys

[2018-04-16 17:11] MicahMcKittrick-MSFT commented on #7238
@anshuman-nath what is the failed message you are seeing?

[2018-04-16 17:13] MicahMcKittrick-MSFT commented on #7184
@ggailey777 is this something you could advise on?

[2018-04-16 17:14] SaurabhSharma-MSFT commented on #7234
@tja2000
Thanks for the feedback !  We will investigate and get back to you.

[2018-04-16 17:14] Adam-Smith-MSFT commented on #7221
@NiklasJern Thanks for the question, I'd recommend posting in the product feedback section: https://feedback.azure.com/forums/258995-azure-backup-and-scdpm
I've seen similar questions/feature requests there, feel free to either upvote the one similar to your request or create your own feedback.

[2018-04-16 17:15] #7213 closed

[2018-04-16 17:16] roygara commented on #6884
As per @CeciAc comment this issue should be closed as it is being tracked in a separate issue.

#please-close

[2018-04-16 17:16] jason-j-MSFT commented on #7212
@karl-howard
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-16 17:16] #7161 closed

[2018-04-16 17:25] georgewallace commented on #6947
@akramwaseem, we do not support VMSS today, and there is no rollback.  As far as exclusions, we support excluding packages by name.

[2018-04-16 17:25] wesmc7777 commented on #7171
@elliott-beach I agree 100%. This needs to be clarified. Redis is definitely an in-memory cache.  I haven't tested it myself but looks like even the SQL Server Session State provider now supports an [in-memory configuration with In-Memory OLTP configuration](https://blogs.msdn.microsoft.com/sqlserverstorageengine/2017/11/28/asp-net-session-state-with-sql-server-in-memory-oltp/). I'll get this upda

[2018-04-16 17:27] douglaslMS commented on #7185
@rahulunlimited Thank you for pointing out that our article is not complete. To set a breakpoint, simply select an element on the canvas. You'll notice that an empty red circle appears at the upper right corner. Select this circle to enable debugging, and it changes to a filled red circle. We have updated the article and the updates will be published later today.

Please let us know whether this r

[2018-04-16 17:30] wesmc7777 commented on #7171
#in-progress

[2018-04-16 17:39] kgremban commented on #7076
@Mike-Ubezzi-MSFT would you #please-close this issue?

[2018-04-16 17:39] kgremban commented on #6809
@Mike-Ubezzi-MSFT would you #please-close this issue as fixed?

[2018-04-16 17:42] Aalwattar opened #7242 "Warning The apps stops receiving messages after a while"
This sample uses node.js as backend that uses the node.js event-hub library. The library has a critical bug which stops receiving messages after a while. in my case after 20min
Details https://github.com/Azure-Samples/web-apps-node-iot-hub-data-visualization/issues/5
Use Java or .NET as backend instead. As why Microsft chose to use a broken library as a startup sample for its customer is beyond me

[2018-04-16 17:42] #6849 closed

[2018-04-16 17:47] MikeRayMSFT commented on #7157
@ayanmullick - thanks for the feedback. Yes you can [create a login with Powershell](https://docs.microsoft.com/en-us/powershell/module/sqlserver/Add-SqlLogin?view=sqlserver-ps) and then you can use [Invoke-Sqlcmd](https://docs.microsoft.com/en-us/powershell/module/sqlserver/invoke-sqlcmd?view=sqlserver-ps) to set the permissions.

[2018-04-16 17:47] MikeRayMSFT commented on #7157
#please-close

[2018-04-16 17:52] femsulu commented on #7222
@khongminh, We are actively investigating and will get back to you soon.

[2018-04-16 17:54] #7157 closed

[2018-04-16 17:56] BryanTrach-MSFT commented on #7239
@NaveenKY Thank you for the feedback. Can you please provide us with the document link that you are having issues with? We look forward to your reply.

[2018-04-16 17:58] femsulu commented on #7240
@danmyhre Thanks for the feedback. This has been shared with the content owner for further review.

[2018-04-16 18:00] NaveenKY commented on #7239
@BryanTrach-MSFT I am tyring to implement the solution from below implementation. However i am doing in nodejs.

https://docs.microsoft.com/en-us/azure/app-service/app-service-web-configure-tls-mutual-auth

[2018-04-16 18:03] Ayanmullick commented on #7157
Can't the 'set permissions' be done thru any of the cmdlets in the SqlServer or the dbatools modules?

[2018-04-16 18:03] Naboo2604 opened #7243 "Typo in Text to HighLevel Picture..."
maybe there is a typo in the description to the high-level picture: "Contoso may also have regular (direct) Azure subscriptions, which are billed directly to Contoso." -> i think you mean: "Contoso .... billed directly to Microsoft" ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8558255-da49-b81f-e488-bcdf40b8e154
*

[2018-04-16 18:12] #7212 closed

[2018-04-16 18:14] pythianchaves opened #7245 "How many replicas?"
It would be nice to clarify how many replicas are created per database (I think somewhere else in the documentation it says 2 replicas?) in this page and specify if it's load balanced at all from the read-only workload point of view.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a2961d1-4448-11b7-2dc2-3b738bd70939
*

[2018-04-16 18:25] MichaelHauss commented on #7237
Today, it is not possible to configure soft delete using the Azure Resource Manager APIs. Soft delete is a blob service property, not a property of the storage account.

[2018-04-16 18:33] Git-PBradz opened #7246 "Validate the ASDK installation"
If following steps as outlined, for AAD Connected, trying to login as "AzureStack\CloudAdmin" via RDP to ASDK host computer results in "The connection was denied because the user account is not authorized for remote login."

On ASDK Host Computer as AzureStackAdmin, ADUC shows that CloudAdmin is enabled for Remote. Adding CloudAdmin explicitly via System Properties, Remote tab, Select Users does a

[2018-04-16 18:33] YutongTie-MSFT commented on #7143
@zhanpengli Hi, the document means that what official document you followed in the process you developed your app. Can you provide it so that we can help you? Thanks!

[2018-04-16 18:38] gatneil commented on #7227
Placement groups and overprovisioning are orthogonal: you can have single placement group with overprovisioning, single placement group without overprovisioning, multiple placement groups with overprovisioning, and multiple placement groups without overprovisioning.

Using multiple [placement groups](https://docs.microsoft.com/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-placement-g

[2018-04-16 18:52] YutongTie-MSFT commented on #7234
@tja2000 Hi, thank you for your feedback. But for non-document issues, MSDN/StackOverflow can help more. Git is just for solving document-related problems. Can you please post your problem in [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home)or [StackOverflow](https://stackoverflow.com/) so that we can help more?

[2018-04-16 18:53] YutongTie-MSFT commented on #7234
@tja2000 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-16 18:53] #7234 closed

[2018-04-16 19:15] JasonWHowell commented on #5976
@zhang-hua Hope you are doing well. Just checking if the update recommended by @su-jie resolves this issue? Please let us know so we can close out the thread if so. Thanks, Jason

[2018-04-16 19:27] #6836 closed

[2018-04-16 19:31] MohitGargMSFT commented on #7211
@ydogandjiev Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-16 19:32] MohitGargMSFT commented on #7243
@Naboo2604 Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-16 19:33] MikeRayMSFT commented on #7157
@Ayanmullick it's a good question - I'm looking at a few options. For questions about dbatools, you'll need to review their site. It isn't Microsoft, but it is a fantastic community resource driven by many of our most talented customers! I'll get back to you.

[2018-04-16 19:35] MohitGargMSFT commented on #7125
@evh69 Request you to help me with which section of the document you are referring here.

[2018-04-16 19:50] amittleider commented on #7204
When I say that the source is not readable, I mean that I have a script that is roughly 40 lines, and writing the entire thing in the text body is not really a great solution.

Giving the script URL as you proposed is great. However, it has inspired me to another solution -- to simply base64 encode the script as JSON, and execute it on the other side. You can find the example here: https://github.

[2018-04-16 19:50] #7204 closed

[2018-04-16 19:58] Mike-Ubezzi-MSFT commented on #7226
@stevestein If you follow the tutorial verbatim you get an error when querying an empty table:
`
Msg 46823, Level 16, State 1, Line 1
Error retrieving data from miubezziexternal.database.windows.net.External.  The underlying error message received was: 'Invalid object name 'dbo.CustomerInformation'.'.
`

[2018-04-16 19:58] mtillman commented on #6987
Changes have been published for this issue.
#please-close

[2018-04-16 19:59] MohitGargMSFT commented on #7139
@JimmyLS Please refer to this document - [Get started with Application Proxy and install the connector](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-application-proxy-enable) and refer to this section - [Open your ports](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-application-proxy-enable#open-your-ports) which at Step 5 states to use the [A

[2018-04-16 20:12] torfulle opened #7247 "Document missing information"
This documentation is linked in our Azure Portal, but does not provide the option to do domain verification through awverify as this documentation mentions: https://docs.microsoft.com/en-us/azure/app-service/app-service-custom-domain-name-migrate#create-domain-verfication-record. It would be helpful if we had all options of transferring a domain in the article linked in the Azure Portal.

---
####

[2018-04-16 20:14] dalmat36 opened #7248 "Number of partitions calculation"
I like the updated documentation! Question regarding "If T is higher than the maximum throughput per partition t, then Azure Cosmos DB provisions N = T/t partitions." Will t always equal 10,000 RU/s or is this expected to change?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9da32a62-a60f-1013-bb2f-688c67a446ec
* Vers

[2018-04-16 20:16] #6573 closed

[2018-04-16 20:31] mimig1 commented on #6774
The _oa suffix was included in the article to differentiate how the database was created and simply stood for "original article". It has no long term impact and can essentially be ignored.

[2018-04-16 20:32] gcopley opened #7249 "Incorrect path on 'Update the app and redeploy' section"
The documentation states "From the Solution Explorer, open Pages/Index.cshtml", however that path does not exist following along. Instead, it should be open "Views/Home/Index.cshtml". Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d445808-e61d-ccc2-3696-ef3ea109a662
* Version Independent ID: 8a9e706a-c350-1271-

[2018-04-16 20:48] yois615 opened #7250 "Information incorrect"
This information is painfully incorrect as of April 2018.
Firstly, the parameters in dataset.csv aren't "DstBlobPathOrPrefix" or "BlobType," but "DstItemPathOrPrefix" and "ItemType."
ItemType is a required parameter and cannot be skipped, and block and page are invalid values (the tool responds with "'None' isn't valid")
The Dataset parameter needs to be prefixed with a / (it isn't in the example

[2018-04-16 20:52] neilpeterson commented on #7201
@grasdev - updates have gone in. This issue will auto close once merged.

Thanks

[2018-04-16 20:53] Ayanmullick opened #7251 "Powershell missing"
This should also list the PowerShell way of connecting and querying. The following way to connect fails.

`New-PSDrive -Name <Azure SQL server> -PSProvider Sqlserver -Root SQLSERVER:\SQL\<Azure SQL server>.database.windows.net\DEFAULT`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02a4f57d-539b-2bb3-81c2-0fb0668b4a3f

[2018-04-16 20:55] s-gratz opened #7252 "Error code 50076 missing"
Seeing several sign-in error codes 50076; failure reason 'other'.  Please consider updating document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f83a9e6-2363-2c73-5ed2-f40bd48899b8
* Version Independent ID: f47dc642-f083-b173-9b6e-ce61e31685a9
* Content: [Sign-in activity report error codes in the Azure Active Dir

[2018-04-16 21:07] malopMSFT commented on #7019
Thanks for the feedback, this would be a great improvement to our gateway teams, VPN/ER.

#please-close

[2018-04-16 21:08] yois615 opened #7253 "parameter incorrect"
<quote>
/encrypt
        - Optional. If specified, the target drive will be encrypted with BitLocker.
          If the drive has already been encrypted with BitLocker, do not specify this
          parameter and instead specify the BitLocker key using the "/k" parameter.
</quote>
The correct parameter is /bk

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2018-04-16 21:08] #6809 closed

[2018-04-16 21:10] #7076 closed

[2018-04-16 21:11] CelesteDG commented on #7211
Hello @ydogandjiev. l found some information in https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-devhowto-multi-tenant-overview that specifies "By default, web app/API registrations in Azure AD are single tenant. You can make your registration multi-tenant by finding the “Multi-Tenanted” switch on the properties page of your application registration". It doesn't spe

[2018-04-16 21:11] SnehaGunda commented on #6905
Code changes and driver version changes are integrated into the sample. looks like the issue is fixed. @ydogandjiev we are closing this issue now, if you have any further questions, feel free to reopen this or create a new one.

[2018-04-16 21:11] SnehaGunda commented on #6905
#please-close

[2018-04-16 21:12] mrbullwinkle commented on #7077
@kobulloc-MSFT please assign this one to me I will take care of it.

[2018-04-16 21:12] mrbullwinkle commented on #7077
#in-process

[2018-04-16 21:30] #7210 closed

[2018-04-16 21:41] cloudmelon commented on #7227
Hi,

 thank you for having updated. Actually the 2nd paragraph is great, but the 1st paragraph seems a little redundant...

Could you use such as : Placement groups and overprovisioning are orthogonal but no natural link between each other, they’re both designed for enrich the scalability of VMSS, the Placement groupe are turning to large scale when multiple placements are used, however, while usi

[2018-04-16 21:41] ShaunInIdaho opened #7254 "Suppress Alerts Link Unhelpful"
The suppress alerts link given goes to a page that doesn't talk about suppressing alerts at all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bca53932-1dc4-9faa-6a04-ccbd26307086
* Version Independent ID: fcea05cc-52d9-7655-5683-5b576082af3c
* Content: [Understanding alerts in Azure Log Analytics](https://docs.micros

[2018-04-16 21:43] neilpeterson commented on #7201
https://github.com/MicrosoftDocs/azure-docs-pr/pull/37982

#please-close

[2018-04-16 22:04] tamram commented on #7100
@gcopley - Thanks for your feedback.

I have added information to this article to explain how to retrieve the account key. The change will go live later today.

#please-close

[2018-04-16 22:11] danmyhre opened #7257 "PowerShell Limitations"
Why does PowerShell only allow you define the "policyRule" portion of the definition in JSON?  We should be able to define everything in JSON including the name, properties, policytype, mode, description, parameters, etc and deploy via PowerShell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cafa274-2aa5-4c61-96ba-8

[2018-04-16 22:14] femsulu commented on #7024
@fsautomata, went ahead and updated the broken link with "https://github.com/Azure/azure-iot-sdk-csharp/tree/master/iothub/device/samples". If this is incorrect, please let me know and we can revise.

[2018-04-16 22:25] tfitzmac commented on #6730
@aejmelaeus - you are seeing the currently expected behavior. Right now, events are sent one at a time. In the future, the capability to batch events might be added. I'll look at the documentation to see where we can clarify that behavior.

[2018-04-16 22:27] jmbradd commented on #5496
@amanarneja Do you have an update on when we could expect this? We are currently implementing Samanage and want to get a feel for what "imminent" means in this context. We'd like to avoid having to manually provision all of our accounts if we can avoid it. Thank you!

[2018-04-16 22:29] tfitzmac commented on #6878
@michaeldaw - billing is handled per event because each event is processed individually. I hope that makes sense.

[2018-04-16 22:31] #7201 closed

[2018-04-16 22:43] mrbullwinkle commented on #7077
#sign-off

[2018-04-16 22:44] BryanTrach-MSFT commented on #7239
@NaveenKY Thank you for the reply. Since you are attempting to step outside the scope of the document, we kindly request you to post your feedback on either [MSDN forums](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazurewebsitespreview) or [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-web-app-service).

Please provide us the URL of your post so that w

[2018-04-16 23:00] Adam-Smith-MSFT commented on #7250
@yois615 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-16 23:01] Adam-Smith-MSFT commented on #7253
@yois615 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-16 23:10] femsulu commented on #7119
@mxplusb, can you please elaborate on why you think the Resource usage API link is wrong? I just tested and it points to the correct API page - replacing with "**doc.microsoft.com**" i.e. https://**doc.microsoft.com**/library/azure/mt219003  gives a 404 error.
Are you suggesting we need to move the resource under the doc.microsoft.com domain?

[2018-04-16 23:13] tfitzmac commented on #7240
@danmyhre - did you get the InvalidTemplate error? Can you provide me with some more information about what you were trying to accomplish? I understand the nature of your request, but it would be difficult for us to document what can't be included in templates because the list would be hard to define. I am wondering if there is some way we can more generally clarify that issue.

[2018-04-16 23:13] KeiroKamioka0000 opened #7259 "Machine translation error in Japanese Document."
The Japanese translated string  of "Backing up virtual machines with more than 16 data disks is not supported." may cause a confuse the reader.
Current Japanese translated string "16 台以上のデータ ディスクを搭載した仮想マシンのバックアップはサポートされません。" will be, more than 16 and over ~~~ instead of more than 16.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-04-16 23:14] tfitzmac commented on #6918
@SimonLuckenuik - thanks for your question. Yes, 413 is right. I'll add that to the documentation.

[2018-04-16 23:17] #6730 closed

[2018-04-16 23:25] SaurabhSharma-MSFT commented on #7245
@pythianchaves Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-16 23:25] michaeldaw commented on #6878
Yes it makes sense and is what I expected, but just wanted to be sure.
Thanks for getting back to me.

[2018-04-16 23:27] SaurabhSharma-MSFT commented on #7248
@dalmat36 Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-16 23:29] SaurabhSharma-MSFT commented on #7251
@Ayanmullick Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-16 23:37] BryanTrach-MSFT commented on #7247
@torfulle Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-16 23:38] BryanTrach-MSFT commented on #7249
@gcopley Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-16 23:38] Mike-Ubezzi-MSFT commented on #7065
@jcjp We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-16 23:38] #7065 closed

[2018-04-16 23:39] SaurabhSharma-MSFT commented on #7246
@Git-PBradz Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-16 23:42] wesmc7777 commented on #7171
@elliott-beach I added some clarification to this topic. It should be live tomorrow. Ideally, we would want to point to performance comparisons between the providers to show where the Azure Redis Cache provider fits into the big picture. However, at this time we don't have such a performance comparison. Back in [2013 some comparisons were compiled and posted on Stackoverflow](https://stackoverflow

[2018-04-16 23:43] SaurabhSharma-MSFT commented on #7242
@Aalwattar Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-16 23:44] #6918 closed

[2018-04-16 23:45] SaurabhSharma-MSFT commented on #7257
@danmyhre Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-16 23:47] SaurabhSharma-MSFT commented on #7252
@s-gratz Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-16 23:53] BryanTrach-MSFT commented on #7247
@cephalin It appears there is some mismatch between this document and [this ](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-custom-domain#a)document about how to verify ownership of domains. Can you please take a look at this and update as necessary?

[2018-04-16 23:56] SaurabhSharma-MSFT commented on #7259
@KeiroKamioka0000
Thanks for your feedback! We will investigate and update as appropriate.

@Sara-Nicolini - Please look into the translation concern raised by the user.

[2018-04-16 23:57] #6774 closed

[2018-04-16 23:57] #6905 closed

[2018-04-16 23:57] #6987 closed

[2018-04-16 23:57] #7019 closed

[2018-04-16 23:57] #7100 closed

[2018-04-16 23:58] #7185 closed

[2018-04-17 00:05] gatneil commented on #7227
Sorry, not sure I follow. The 1st paragraph in which doc?

[2018-04-17 00:08] MicahMcKittrick-MSFT commented on #7246
@Git-PBradz glad to hear you were able to figure it out. These will generally be the steps in my experience you need to take to give a user access via RDP and admin roles. I will assign this to the content author to review and consider adding more information to the doc.

@jeffgilb can you take a look?

[2018-04-17 00:11] Mike-Ubezzi-MSFT commented on #7251
In doing a web search, there are few blogs describing how to use Azure PS to connect and query an Azure SQL database: https://4sysops.com/archives/how-to-query-an-azure-sql-database-with-powershell/
But there are no Microsoft docs.

[2018-04-17 00:17] AJRus opened #7261 "Email notification to upgrade"
Got an email saying I needed to upgrade from DirSync to ADConnect, already use ADConnect.  Tried to email DSUP@Microsoft.com as per the email to confirm this was an error.. got a bounce back saying the mail address doesnt accept email from outside senders.  Might want to fix that one.
"Your message to dsup@microsoft.com couldn't be delivered. The group dsup only accepts messages from people in its

[2018-04-17 00:30] JasonWHowell commented on #6456
#please-close
@hauszerm we will track a task to improve this as more details are available.
Thanks, Jason

[2018-04-17 00:37] BryanTrach-MSFT commented on #7249
I worked through the document but I was able to locate the necessary edit by navigating to Pages/Index.cshtml (Using VS2017 15.6.4). Can you please provide us with a screenshot of where you had to use View/Home/Index.cshtml? It sounds like you may have created a different project type then what was outlined in the document.
![image](https://user-images.githubusercontent.com/20250350/38842073-8094a

[2018-04-17 00:42] jcjp commented on #7065
@Mike thank you for your continued support and it seems that my colleague has set our CosmosDB to use SQL.

[2018-04-17 00:43] MarkusVi commented on #7097
Hi @TomShinder, thanks for the feedback. I have created a backlog item to track this.
#please-close

[2018-04-17 00:51] MohitGargMSFT commented on #7261
@AJRus Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-17 00:54] MohitGargMSFT commented on #7160
@FarhanaJabbar We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-17 00:54] #7160 closed

[2018-04-17 00:56] MohitGargMSFT commented on #7163
@rothtony As stated please post your feedback through Azure Feedback.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-17 00:56] #7163 closed

[2018-04-17 00:57] MohitGargMSFT commented on #7175
@thedrum808 We will now proceed to close this thread. As mentioned above, once you open the forum post you can mention the thread link here and I will make sure that you get helped on your issue.

[2018-04-17 00:57] #7175 closed

[2018-04-17 01:00] Ayanmullick commented on #7251
But how do I mount it as a PowerShell drive?

[2018-04-17 01:02] MohitGargMSFT commented on #7182
@chenxizhang Please open a new MSDN forum post. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD

Also please post the link of the forum post here and I will work on your above scenerio though MSDN forum. Thanks.

[2018-04-17 01:08] FarhanaJabbar commented on #7160
I am unable to setup Application Insights as well as per documentation steps you have suggested to follow. when i upload the TrustFrameworkExtensions policy file with the additional claims, claim provider and user journey, i get error telling me that User journey SignupOrSignin in Policy B2C_1A_TrustFrameworkExtensions of tenant XXX has step 1 with 2 claim exchanges. it must be peceeded by Claims

[2018-04-17 01:27] SharmainePopov commented on #7106
Hi Mike

Thanks for the links. They confirm that MS DNS service has a high level of redundancy.
The client wants to know what  MS DNS does to mitigate  an attack at the provider level – like the DDoS against DYN in 2016.
There is the Azure DDoS protection. But does MS use any 3rd party DNS providers to provide redundancy at the DNS provider level?

Sharmaine Popov
Cloud Solution Architect |Microso

[2018-04-17 01:31] DarinShapiroMS opened #7263 "IoT Edge Agent error codes"
IoT Edge Agent errors codes don't seem to be documented. Specifically, 500 errors are not very specific in tracking down the issue. Maybe link to a troubleshooting guide?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c424cd61-2f44-8a10-bce8-5a18fb1279f3
* Version Independent ID: 62824def-6ec5-0b0e-d909-88f82c647cb8
*

[2018-04-17 01:38] JasonWHowell commented on #6828
#please-close This has been fixed in the docs. Thanks, Jason

[2018-04-17 01:38] #6828 closed

[2018-04-17 01:58] tysonmock commented on #5496
Thanks for sharing some situational insight Aman...many of us are patiently awaiting Microsoft's official release of this connector and do hope it arrives soon

[2018-04-17 02:01] amanarneja commented on #5496
@tysonmock  / @jmbradd Following up with the team building the connector. Will get back to you as soon as i hear again, when i discussed with them last week the _imminence of "imminent" was quite imminent_ :) apologies for the delays will update here as soon as i learn more.

[2018-04-17 02:04] kimo72 opened #7264 "Publish RDS server azure application proxy (error)"
I am trying to publish the RDS server through azure application proxy, by following the steps in this guide.

https://docs.microsoft.com/en-us/azure/active-directory/application-proxy-publish-remote-desktop#direct-rds-traffic-to-application-proxy

In my environment I am using split DNS and I have successfully achieved to publish the RDweb application using a custom domain. But when I try to connec

[2018-04-17 02:26] MohitGargMSFT commented on #7187
@jjgriff93 Please note that you will not be able to access the file directly using url. If you have created Storage account and container as described in this section of document - [Create a storage account](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-ui-customization-helper-tool#create-a-storage-account), you can go to [Azure Storage Explorer](https:

[2018-04-17 02:30] MohitGargMSFT commented on #7189
@laultman Thanks for the feedback! I have assigned the issue to the document author to investigate and update as appropriate.

[2018-04-17 02:32] danmyhre commented on #7237
Thank you for the quick response!  Are these things that are planned for the future so that all of these settings can be configured via ARM APIs?

[2018-04-17 02:44] femsulu commented on #7222
@khongminh, To answer your question directly: No, deleting your **Azure Admin account** doesn't automatically delete your **Pay-as-you-go subscription**. These are separate but complementary entities with controls in place to ensure accidental deletions of an admin account doesn't delete the subscription and its content. Azure also supports transferring subscriptions from one Account Admin to anot

[2018-04-17 02:45] femsulu commented on #7222
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-17 02:45] #7222 closed

[2018-04-17 02:48] MohitGargMSFT commented on #7190
@laultman Please help me with information around which section of the document the above feedback is provided. I am unable to find VS2017 reference in the document.

If your query is not related to content of this document, please open a new MSDN forum post and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/F

[2018-04-17 02:50] femsulu commented on #7257
@bandersmsft, kindly review and offer a response.

[2018-04-17 02:51] MohitGargMSFT commented on #7191
@CarlosOnline Please post this as a feedback @ https://feedback.azure.com/forums/169401-azure-active-directory This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-04-17 02:54] MohitGargMSFT commented on #7193
@laultman Thanks for the feedback! I have assigned the issue to the document author to investigate and update as appropriate.

[2018-04-17 03:01] rkyttle opened #7266 "Commands listed in the following do not work: https://docs.microsoft.com/en-us/azure/role-based-access-control/change-history-report"
https://docs.microsoft.com/en-us/azure/role-based-access-control/change-history-report
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/role-based-access-control/change-history-report.md

Get-AzureRMAuthorizationChangeLog is not recognized as the name of a
cmdlet, function, script file, or operable program.

I get this error even though I have the Azure PowerShell module installed.

[2018-04-17 03:02] MohitGargMSFT commented on #7194
@laultman Please note an application can configure either build-in policy or if there is a requirement to modify the existing build-in policy then an option is provide to customize it.

[2018-04-17 03:05] barclayn commented on #6810
Thank you! The changes were made in the private repo.

[2018-04-17 03:11] #7264 closed

[2018-04-17 03:11] MohitGargMSFT commented on #7195
@laultman Thanks again for pointing this out. I have made necessary edit in the document. The PR for the fix has been created and it will be merged soon.

[2018-04-17 03:27] barclayn commented on #6499
Thank you. I am back in the office and I will look into getting this updated.

[2018-04-17 03:30] MohitGargMSFT commented on #7243
@Naboo2604 Please note that if organization has Azure Subscription then based on usage the organization (in this case Contoso) is billed directly by Microsoft.

[2018-04-17 03:31] khongminh commented on #7222
And now i can't use creadit card to reigister new subscription for another account

[2018-04-17 03:38] sam0610 commented on #6821
any example using kotlin?

i got the following error when initializing the serviceadapter

Rejecting re-init on previously-failed class java.lang.Class<com.microsoft.windowsazure.mobileservices.MobileServiceClient$7>: java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/common/util/concurrent/FutureCallback;

[2018-04-17 03:39] jason279 commented on #6960
Thank you very much @cynthn @MicahMcKittrick-MSFT , looking forward to the new API and new docs with clock speeds.

[2018-04-17 04:05] MohitGargMSFT commented on #7252
@s-gratz Thanks for reporting! I have assigned the issue to the document author to investigate and update as appropriate.

[2018-04-17 04:07] dreijer opened #7269 "Old Azure Portal screenshots?"
Shouldn't the screenshots above for of the Azure Portal be updated to the new portal? They're still referencing the old portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9edfc165-8727-4f35-1be0-b570ee716673
* Version Independent ID: b41dd96e-4a97-6f83-0b31-9ce17d1de42c
* Content: [What is application access and si

[2018-04-17 04:08] MohitGargMSFT commented on #7261
@AJRus Please help me which section and step in the document refers to send email to DSUP@Microsoft.com so I could take necessary action.

[2018-04-17 04:11] anshuman-nath commented on #7238
The command doesn't display any error message upfront, may be because of -AsJob, but when I check status using Job command, then I see the status as "failed".

[2018-04-17 04:17] Jugsy commented on #7261
I've received this email in error as well, already using AADconnect.

[2018-04-17 04:32] khongminh opened #7270 "cannot register"
i deleted microsoft account but forgot cancel pas as you go subscription first, now is 40 day from that this account completely closed and i can't come back this account to cancel subscription.
And now i can't use creadit card to reigister new subscription for another account

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-04-17 05:12] cloudmelon commented on #7227
I was talking about the 1st paragraph you updated just now:

Placement groups and overprovisioning are orthogonal: you can have single placement group with overprovisioning, single placement group without overprovisioning, multiple placement groups with overprovisioning, and multiple placement groups without overprovisioning.

Seems little redundant...but the 2nd looks great :)

Melony QIN

[2018-04-17 05:18] mxplusb commented on #7119
Yes that is what I am suggesting. The original page it links to is from 2015 and contains out of date information.

[2018-04-17 05:24] ToMakeSense opened #7271 "Chinese version redirects to English version"
I opened this page [Create multiple instances](https://docs.azure.cn/zh-cn/azure-resource-manager/resource-group-create-multiple)
![image](https://user-images.githubusercontent.com/6244148/38849949-a6e31b88-4241-11e8-996b-eca269d6276f.png)

Then I went to next link in the navigation, it goes to English version, And Chinese version do exists.
![image](https://user-images.githubusercontent.com/62441

[2018-04-17 05:50] miparnisari opened #7272 "Update to SDK 1.2.5"
`com.microsoft.projectoxford:face:1.0.0` should really be `com.microsoft.projectoxford:face:1.2.5`.

See https://stackoverflow.com/q/49869760/1623249

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 751ccff2-59c4-e2e4-8a64-d90b195c89ac
* Version Independent ID: 6c696aa8-9226-737e-94fe-1f0697e88038
* Content: [Face API Ja

[2018-04-17 05:53] rwike77 commented on #7162
@roddw2  You can actually use either IDE, it doesn't matter which.  We updated the text to make this more clear:  https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-linux#set-up-a-local-cluster Thanks for the feedback.  #please-close

[2018-04-17 06:32] dcbrown16 commented on #6687
@snehithm shared samples with me showing that there are "Activated" and "Deactivated" alerts that go out for metrics under the new alerts as well, so my original assumption is wrong. Like the classic alerts, it sounds like you still get "Deactivated" (resolved) notifications.
Closing.

[2018-04-17 06:32] #6687 closed

[2018-04-17 06:34] dcbrown16 commented on #6687
BTW @LuisLoranca, you probably need to set up a separate issue with your request.

[2018-04-17 06:40] msvijayn commented on #6963
@dougbw - since there is no response, I am hoping you're satisfied with my answer. Please re-open if any queries persist.

#please-close

[2018-04-17 06:41] msvijayn commented on #6937
@MisinformedDNA  since there is no response, I am hoping you're satisfied with my answer. Please re-open if any queries persist.

#please-close

[2018-04-17 07:17] Jaydeep28 opened #7275 "How to provide access based on domain name"
Hi Team,
This article describe how to provide access based on IP address. However, I want to do same based on domain name. Is it possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d90bbf62-44f9-30a6-d6ea-bbf776f6efc5
* Version Independent ID: b3961eac-6c70-b345-f48c-e4c0ec67059c
* Content: [Azure App Service IP R

[2018-04-17 07:41] fajanssen commented on #7219
https://docs.microsoft.com/en-us/azure/backup/backup-azure-vm-backup-faq thats the page i tried to find information about it.

[2018-04-17 07:59] pekkaar commented on #7226
@Mike-Ubezzi-MSFT thanks for following up, for my curiosity, can you please direct me to this tutorial you mentioned, which I assume is dealing with calling an external UDF? Is this a public document? Thanks!

[2018-04-17 08:02] dexterac opened #7276 "Haunted by WinRM Timeout"
Tried all the options and combinations, but still get timeouts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bb18731-b0b4-f92b-7ece-031a84c76d7b
* Version Independent ID: 27047a2a-a07b-cadb-fab5-ecc928b46717
* Content: [How to create Windows Azure VM Images with Packer](https://docs.microsoft.com/en-us/azure/virtual

[2018-04-17 08:36] hraunfjord commented on #7235
A document update would be appreciated.
But as soon as I had to explain the problem - I figured out the solution.
value: "empty(body('GetRecordFromD365')['value'])", condition: "is equal to", value: "true"
Not so complex after all.

[2018-04-17 08:45] chenxizhang commented on #7182
https://social.msdn.microsoft.com/Forums/azure/en-US/f4ac66f2-946a-4b07-b04d-4d4c994e7750/token-revocation-rule-can-not-work?forum=WindowsAzureAD#f4ac66f2-946a-4b07-b04d-4d4c994e7750

@MohitGargMSFT  thank you

[2018-04-17 09:05] genlin commented on #7040
@Discostu36 The certificate (VpnServerRoot.cer) is in the **Generic** folder of the ZIP file. Also, I cannot reproduced the VPN client installation problem in my side. Normally, we can install the VPN client by using **User** accounts (non-administrator).  Maybe the installation is blocked by other settings such as group policy in your device.

[2018-04-17 09:16] jingdabao opened #7278 "In Azure v2.0 endpoint, do I need to change knownClientApplications ?"
In Azure v2.0 endpoint, to let the middle-tier service access the downstream API, do I need to change manifest file and modify knownClientApplications ?  (mentioned in v1.0: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-protocols-oauth-on-behalf-of)

From Application registration portal, "knownClientApplications" can not be changed and save.
error:
One or more pr

[2018-04-17 09:27] genlin commented on #7177
@ jankod, What is the type of your subscription? Is it pay-as-you-go subscription?

[2018-04-17 09:45] sonaliwetal commented on #7261
Got an email saying We needed to upgrade from DirSync to ADConnect, but we are already using ADConnect.

[2018-04-17 09:58] lsilvamiguel opened #7279 "typo in the doc"
[Enter feedback here]

In the doc https://docs.microsoft.com/en-us/azure/hdinsight/domain-joined/apache-domain-joined-configure-using-azure-adds#create-a-domain-joined-hdinsight-cluster

in the text it is

**onmicrosoft** is misspelled

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5519b89-2f5c-8f9a-4de2-34d3

[2018-04-17 09:58] viralnaik77 opened #7280 "User Principal Name with #"
The UPN format should be, user_contoso.com#EXT#@fabrikam.onmicrosoft.com (with two # before and after EXT) instead of user_contoso.com#EXT@fabrikam.onmicrosoft.com (with only one #)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f76cc85-8dc0-9be3-4071-217589ddef56
* Version Independent ID: e7bdba65-bacc-7fef-2c27-b342

[2018-04-17 10:09] jankod commented on #7177
No, my subscription was bean free/trial, something like that.
Now I dont have any subscriptions because i was delete all subscription.
Now I see in "Payment methods" tab my VISA card and I canot remove that,
so this is problem for me.
Tnx

--
Janko Diminic

On 17 April 2018 at 11:27, Thomas Lin <notifications@github.com> wrote:

[2018-04-17 10:43] blueelvis opened #7281 "What is the use of moving of App Service plan if the webspace is not changed?"
I have 2 App service plans in same resource group within the same region and yet I cannot move the Web Apps from one app service plan to the other because of an arbitrary requirement that Webspaces must be the same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25ec88c2-d5ff-e727-cbe1-69bac94141ae
* Version Independen

[2018-04-17 10:55] spottedmahn opened #7282 "Bad Image URLs on Home Page"
https://docs.microsoft.com/en-us/azure/active-directory-b2c/

![image](https://user-images.githubusercontent.com/14079228/38865634-5d849654-420c-11e8-9a36-50875960da1b.png)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 245ef8a4-a811-19b7-676c-aa9b82e2126f
* Version Independent ID: ad2ec743-2aa7-b3c7-3350-2986a78d7c90
*

[2018-04-17 11:00] spottedmahn opened #7283 "Circular Reference to Itself"
will fill out on github...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33489541-1210-69d0-4a45-5ba306d254fc
* Version Independent ID: 4dd79b67-4004-f7d0-d59d-d3c94677b36e
* Content: [Azure Active Directory B2C: Custom Policies](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-overview

[2018-04-17 11:01] sayanghosh123 opened #7284 "Question about delayed verification"
Quoting from the document "Some application developers prefer to skip email verification during the sign-up process and instead have consumers verify the email address later. To support this, Azure AD B2C can be configured to disable email verification. "

Fully agree with this bit - it may lead to drop-offs if we enfore verification while the user is signing up. Howeer, a delayed verification is

[2018-04-17 11:02] Szer opened #7285 "No mention about 1 min timeout"
WebActivity clearly has 1 min timeout and there is no mention about it. It is just magic constant you should know about.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34b3d465-6a2b-88ad-6e80-4fb784cd489e
* Version Independent ID: 51b70888-d089-7352-4abd-7d587726700a
* Content: [Web Activity in Azure Data Factory](http

[2018-04-17 11:02] #7285 closed

[2018-04-17 11:02] Szer commented on #7285
Nvm, I am dumb :)

[2018-04-17 11:07] spottedmahn commented on #7208
Hi @MohitGargMSFT 😊

Thanks!

For starters, where is the documentation page that discusses scopes?  I see pages have talk about how to configure them but not the concept/idea behind them.

IMO, there should be a page under "Concepts" that describes this:

![image](https://user-images.githubusercontent.com/14079228/38866047-ad385932-420d-11e8-9bc7-299c0779d009.png)

[2018-04-17 11:09] spottedmahn opened #7287 "ASP.NET Core Example"
Why isn't there an ASP.NET Core Example here?

![image](https://user-images.githubusercontent.com/14079228/38866280-5c2569b2-420e-11e8-8da1-884efdad379d.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 245ef8a4-a811-19b7-676c-aa9b82e2126f
* Version Independent ID: ad2ec743-2aa7-b3c7-3350-2986a78d7c90
* Content: [Wha

[2018-04-17 11:13] anshuman-nath opened #7288 "Issue in step "test your app""
I followed through the steps till I find the public IP of scaleset public load balancer, but typing it on a brower doesn't show me the "hello world" line as given in cloud-init.txt. I see an error message which shows "This site can’t be reached
52.170.147.5 refused to connect."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-04-17 11:14] spottedmahn commented on #7287
FYI, the ASP.NET Core team has added some documentation for this.  Perhaps some links can be added?

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/azure-ad-b2c?view=aspnetcore-2.1

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/azure-ad-b2c-webapi?view=aspnetcore-2.1

[2018-04-17 11:22] MikeBarker-MS opened #7289 "The use of API Manager regions is unclear"
I and at least five other people have all (independently) misunderstood the use and purpose of the API Manager multi-region deployments.

Initially each of us were under the impression that each regional gateway could be configured to point to a different backend-endpoint API. I now understand the multi-region deployments to replicate the gateways only, and that the traffic routing referred to in

[2018-04-17 11:35] imartinez2 opened #7290 "ASR lost Mobility Agent Heartbeat"
We have some server that reports on ASR that the mobility agent lost heartbeat, I resolve this creating a scheduled task to force kill the S2.exe on the problematic VM. Command to force kill a process would be ‘TASKKILL /F /IM s2.exe /T’.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04403549-f1f6-6335-ff08-a84bb6c79e

[2018-04-17 11:48] NiteCourt commented on #7261
I received the same email to upgrade to Azure AD Connect from DirSync or AADSync but I am already using Azure AD Connect.

[2018-04-17 12:52] outrun0506 commented on #7261
Same here

[2018-04-17 13:06] jandral commented on #7272
For Android *

[2018-04-17 13:17] pvmraghunandan opened #7294 "Incorrect variable value for custom email address"
In first template, the email address should have null check before splitting. Otherwise, while deploying we get error as "Invalid email address". The value should be

"customEmails": "[if(empty(parameters('customEmailAddresses')), '', split(parameters('customEmailAddresses'), ','))]"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-04-17 13:20] danmyhre opened #7295 "Single Storage Account or One for Each User"
Please add guidance on whether each user should have their own storage account or if one should be shared.  Also missing details on security setup required for the storage account (e.g. what RBAC permissions does the user need in order to connect to an existing storage account).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-04-17 14:10] ssflynn77 opened #7297 "Sort or filter by "recommendedSizes""
Can there be a way to filter and only show "recommendSizes" unless the user selected to see All Sizes like the previous versions of this UI?  Or can the default sorting be placed on the "Recommend" column to show these sizes at the top of the grid?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61442b36-6bad-759e-4710-