[2020-06-15 05:54] #56691 closed

[2020-06-15 05:56] pkvk14 opened #57065 "I am unable to automate backup via PowerShell"
`$vms=Import-Csv C:\Powershell_Test15_06_20\backup.csv
foreach($snapshot in $vms){
Try{
$snapshotConfig = New-AzurermSnapshotConfig -AccountType $storageType -Location $location -CreateOption Import -StorageAccountId $storageAccountId -SourceUri $sourceVHDURI
New-AzurermSnapshot -Snapshot $_.snapshotConfig -ResourceGroupName $_.resourceGroupName -SnapshotName $-.snapshotName
}
catch{
Write-Warning

[2020-06-15 05:57] pkvk14 commented on #57065
I have pass the variable in csv but getting error message.

[2020-06-15 05:59] souravmishra-msft commented on #56925
@prashantma, In each KeyVault, there is a section Access Policies where you add a resource and provide specific set of permissions to that resource and only that resource would have access to keyvault. In your case its the Managed Identity that would be added to a specific KeyVault's access policies section. Hence whenever that managed identity tries to fetch any object from KeyVault with a valid

[2020-06-15 06:01] KrishnaG-MSFT commented on #57061
@Brucius Thanks for the feedback!
Assigning @maertendMSFT for visibility, review and document enhancement consideration.

[2020-06-15 06:07] blackchoey commented on #56984
Docker requires arm32v7 platform to build arm32v7 images. So you need to use a self-hosted arm32v7 agent to build arm32 images.

[2020-06-15 06:12] Dev-ML11 commented on #56048
Hi @SwathiDhanwada-MSFT , I tried accessing Rate Card API with Azure Free Subscription.

[2020-06-15 06:14] jaydarius opened #57067 "Typo - principals"
In the "How it Works" section, we should read _principals_ instead of _principles_.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 823c9751-c496-f972-3b1b-640a1bd81412
* Version Independent ID: 6951f3d5-c766-133c-4785-9cd4192bae19
* Content: [How to manage local administrators on Azure AD joined devices](https://docs.m

[2020-06-15 06:22] Bengkel commented on #56984
This is incorrect @blackchoey. I can build arm32v7 images with the Ubuntu 16.04 build agent and also on my Windows 10 64 OS.

[2020-06-15 06:23] AshokPeddakotla-MSFT commented on #56734
We will update the doc by adding more clarity on this request.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-15 06:23] #56734 closed

[2020-06-15 06:25] AshokPeddakotla-MSFT commented on #56767
Please double check the steps as suggested above.
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-06-15 06:25] #56767 closed

[2020-06-15 06:28] markbeij opened #57068 "Packages - Functions 2.x and higher not available"
There is no package available for Functions 2.x and higher. Please specify why this is and what to do.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abd3f3e3-cd6a-ad01-90cc-5c72e81a54d2
* Version Independent ID: de6f830f-869e-61ca-5541-9d0cd0305f52
* Content: [Notification Hubs bindings for Azure Functions](https://do

[2020-06-15 06:36] andyghc commented on #27411
Hi,

The documentation is still incorrect after 15 months of this being an issue still.

See incorrect reference document at https://docs.microsoft.com/en-us/azure/api-management/scripts/powershell-setup-custom-domain

The correct process seems to be via work-around given by PramodValavala-MSFT above which seems to work:
https://github.com/MicrosoftDocs/azure-docs/issues/27411#issuecomment-4752956

[2020-06-15 06:37] RohitMungi-MSFT commented on #56715
@Erithano Thanks for pointing this out. A [PR ](https://github.com/microsoftdocs/azure-docs/issues/56715)is now raised to fix this. This will be updated soon in the documentation after the PR is reviewed.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-06-15 06:37] #56715 closed

[2020-06-15 06:39] SadiqhAhmed-MSFT commented on #56865
@santhoshbomma9 The document has been fixed.

@dsindona Thanks for updating the documentation.

Closing this issue for now as no action pending from content author for any doc corrections.

[2020-06-15 06:39] #56865 closed

[2020-06-15 06:41] Weishaupt opened #57069 "DEU missing as multi-geo location"
As recommended we would like to populate all users with their PDC. A tenant I manage is located in the new global German data center. The SharePoint admin center indicates that the location label is DEU. This location is not listed here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b285f539-0487-0de5-24ef-89f773a1081

[2020-06-15 06:47] hisasima opened #57070 "Application Gateway dose not support client authentication."
I found below and I confirmed that Application Gateway dose not client authentication now.

- Allow Mutual SSL Auth on Application Gateway
https://feedback.azure.com/forums/217313-networking/suggestions/9379902-allow-mutual-ssl-auth-on-application-gateway

I hope you add this limitation into this document because many users want to use client authentication with Application Gatewayl.

---
#### Doc

[2020-06-15 06:48] SadiqhAhmed-MSFT commented on #56863
@santhoshbomma9 Yes, it applies for both. The SaaS documentation was updated and now the resources stated is the same.

We will now proceed to close this issue now. Feel free to reply if you have any concerns that needs our attention and we can continue the discussion.

[2020-06-15 06:48] #56863 closed

[2020-06-15 06:48] HPatki opened #57071 "Embedding link to Other referred essential information"
The 'Set up a Service Bus Connection' refers to earlier step **Obtain the credentials**. Embedding a link to the relevant page which gives details on 'Obtaining Credentials' would make it easy for users to gather all related information.

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87507e10-00e2-250a-2074-bb26bbea5a03
*

[2020-06-15 06:50] KalyanChanumolu-MSFT commented on #56658
@CharmanderJieniJieni Apologies for the delay in getting back to you.
Is your storage account behind a firewall or Vnet.
If you are accessing the files from an on prem environment outside Azure, you will need to add your client IP to the firewall.

Please go through this [document](https://docs.microsoft.com/en-us/azure/azure-sql/database/sql-database-vulnerability-assessment-storage) for the conf

[2020-06-15 06:54] SadiqhAhmed-MSFT commented on #57065
@pkvk14 Thanks for reaching out to us. Could you please share the document you are referring to? Also share the screenshot of the error message.

[2020-06-15 06:54] jopgommans commented on #56962
Hello James,

Thanks for the reply, we found the same thing. Seeing that this is indeed more of a feature-request we are picking this up with the MyGroups product team, thanks again! 😊

Kind regards,​
JOP GOMMANS
CONSULTANT
+31620583115
<tel:+31620583115>
[cid:image011.png@01D642F2.92559750]
Transformation Hub Amstelveen
<https://goo.gl/maps/GYUjVpmk9H1kUvQY7>
InSpark Lab Schiphol
<https://goo.gl/

[2020-06-15 06:55] SadiqhAhmed-MSFT commented on #57065
@pvrk FYI.

[2020-06-15 07:00] RohitMungi-MSFT commented on #56625
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-06-15 07:00] #56625 closed

[2020-06-15 07:01] amanmcse commented on #57067
@jaydarius Thank you for pointing this out. I am updating the document.

[2020-06-15 07:04] RohitMungi-MSFT commented on #56808
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-06-15 07:04] #56808 closed

[2020-06-15 07:10] pvrk commented on #57065
[New-AzureRmSnapshotConfig](https://docs.microsoft.com/powershell/module/azurerm.compute/new-azurermsnapshotconfig?view=azurermps-6.13.0) is not an Azure backup command. It is in Compute module. @SadiqhAhmed-MSFT : Can you please re-assign accordingly?

[2020-06-15 07:13] amanmcse commented on #57067
I have made the change. It might take 24 hrs to reflect the change.

[2020-06-15 07:13] #57067 closed

[2020-06-15 07:16] TomGeske commented on #51539
@aelij: we are maintaining the ARM template [here](https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/managedclusters).

We can possibly link it but not sure we should replicate into every doc.

[2020-06-15 07:18] KalyanChanumolu-MSFT commented on #56868
@aurokk Thank you for the additional context.
Unfortunately for the Mongo API, there is no Change Feed Processor Library or Azure Function trigger to consume change streams at this time.

For better control on the change feed and the ability to process it across multiple workers, we would recommend using the SQL API.

[2020-06-15 07:19] ShaneBala-keyvault commented on #38914
There is currently a workaround for this issue.

You can use a self-hosted agent and add the following IPv4 ranges to the allow-list of the key vault firewall. Details here: https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-linux?view=azure-devops

(The Azure DevOps team is aware of this issue and work for a permanent fix is currently in progress)

[2020-06-15 07:22] ShaneBala-keyvault commented on #32741
The trusted services list changes continuously, to provide the most up to date information, a link has been added to step 7 under the "Use the Azure Portal" instructions.

[2020-06-15 07:22] ShaneBala-keyvault commented on #32741
#please-close

[2020-06-15 07:22] #32741 closed

[2020-06-15 07:25] vipulsparsh commented on #56791
@prashant1380 We will close this now, feel free to reach out to us as required.

[2020-06-15 07:25] #56791 closed

[2020-06-15 07:25] vipulsparsh commented on #56869
@qualiit We will close this now, feel free to reach out to us if you need any further help.

[2020-06-15 07:31] vipulsparsh commented on #56933
@greendx Can you try the steps as mentioned in this [article](https://docs.microsoft.com/en-us/azure/active-directory/b2b/tutorial-bulk-invite).
Let us know if it still fails.

You can also use [powershell ](https://docs.microsoft.com/en-us/azure/active-directory/b2b/bulk-invite-powershell)to bulk invite the users.

[2020-06-15 07:31] ShaneBala-keyvault commented on #27494
Updated document to include the restrictions shown.
Changes staged and in process of being merged.
Changes will appear within 48 hrs.

[2020-06-15 07:31] ShaneBala-keyvault commented on #27494
#please-close

[2020-06-15 07:31] #27494 closed

[2020-06-15 07:35] ShaneBala-keyvault commented on #43746
Added Key Vault ARM Reference to the references section of the doc.
Doc changes are staged and being merged.
New changes will appear within 48 hours.

[2020-06-15 07:35] SwathiDhanwada-MSFT commented on #56782
@techadmin1982 Thanks for the information. As per my understanding, all the examples provided in the documentation are for reference purpose. I have skimmed through the entire documentation of the Azure Automation and there is no script related to the 'Test-Runbook'. I am not sure how you got hand of it. But it would be great , if you share the link of the document or the script because as mention

[2020-06-15 07:35] ShaneBala-keyvault commented on #43746
#please-close

[2020-06-15 07:35] #43746 closed

[2020-06-15 07:41] psmanhas commented on #56732
@deathgaze As this issue needs deeper investigation, I would recommend you to open a Support Case for troubleshooting this issue so that a dedicated Support Engineer will look into this.

If you don't have the ability to open a technical support ticket, you can email me with Subject as "ATTN: Preeti" at AzCommunity@microsoft.com and provide me with your SubscriptionID and link to this thread. I ca

[2020-06-15 07:42] psmanhas commented on #56732
We will now proceed to close this issue. Looking forward for you to open a Support case or send an email as mentioned in my previous response.

[2020-06-15 07:42] #56732 closed

[2020-06-15 07:43] ShaneBala-keyvault commented on #33750
The command to interpret logs was poorly formatted. Opening a storage blob in this way using powershell is not supported. A workaround is to open the blob and use a JSON viewer like Notepad++. For easier to view error messages and troubleshoot failures, please use the new Azure Monitor for Key Vault feature. https://docs.microsoft.com/en-us/azure/azure-monitor/insights/key-vault-insights-overview

[2020-06-15 07:43] ShaneBala-keyvault commented on #33750
#please-close

[2020-06-15 07:43] #33750 closed

[2020-06-15 07:47] VikasPullagura-MSFT commented on #57064
@johanburati
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-15 07:47] VikasPullagura-MSFT commented on #57064
@asinn826
Can you please check and add your comments on this doc update request as applicable.

[2020-06-15 07:49] VikasPullagura-MSFT commented on #57063
@senglory
Thanks for pointing this out. I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-15 07:49] VikasPullagura-MSFT commented on #57063
@dkkapur
Can you please check and add your comments on this doc update request as applicable.

[2020-06-15 07:52] ajaysethi8789 opened #57072 "The user, group or application does not have secrets set permission on key vault??"
I'm trying to set and get the secret keys on Azure key vault and I'm following the below document to implement the same

https://docs.microsoft.com/en-us/azure/key-vault/secrets/quick-create-java#sample-code

I have followed the complete process mentioned on the above doc but getting the below error while i run the sample code using java to set the secret key on Azure Key vault

Servlet.service()

[2020-06-15 08:15] aelij commented on #51539
Got it, thanks

[2020-06-15 08:19] linda33wj commented on #56747
@ElectricLlama Thanks for the feedback. We have added support for writing data into lookup field.  Please refer to https://docs.microsoft.com/en-us/azure/data-factory/connector-dynamics-crm-office-365#data-type-mapping-for-dynamics section with pointer to guidance in details. Is it what you were looking for? Let know if any further issue.

[2020-06-15 08:21] guferrMSFT opened #57073 "Issue with "This policy definition enforces that all VMs created in this scope have SKUs smaller than the G series to reduce cost.""
I've checked the policy definition "This policy definition enforces that all VMs created in this scope have SKUs smaller than the G series to reduce cost." and it allows me to create VMs of all sizes EXCEPT for G series ones. Shouldn't it be called "SKUs other than"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f728

[2020-06-15 08:27] YutongTie-MSFT commented on #56657
@CeciAc A fix is on the way, you should see the change soon.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-06-15 08:27] #56657 closed

[2020-06-15 08:27] YutongTie-MSFT commented on #56879
@dhruv12399
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-06-15 08:27] #56879 closed

[2020-06-15 08:27] dfatkulbayanova opened #57075 "Synapse is no longer in preview, it is GA"
[Enter feedback here]

Document title needs to be changed, it is not correct. Private link for Synapse is GA in all regions. this page is outdated it seems.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb6328aa-a54f-4936-1c35-ecf5c265d92d
* Version Independent ID: 345bd3d2-4b53-a032-c13b-7e35f97cf2fa
* Content: [Azure

[2020-06-15 08:30] KalyanChanumolu-MSFT commented on #57028
@RonnieQuan For continuous synchronization, please look at [Azure Data Sync](https://docs.microsoft.com/en-us/azure/azure-sql/database/sql-data-sync-data-sql-server-sql-database)
The documentation has all the details.

[2020-06-15 08:38] Coldpawz commented on #56790
Thanks for the link @NavtejSaini-MSFT, I did some testing late last week and can confirm you can change the DB type/SKU when importing (via the Portal). Thanks again.

[2020-06-15 08:38] #56790 closed

[2020-06-15 08:55] blackchoey commented on #56984
@Bengkel Can you share a sample which repros your issue? `exec format error` usually means the program (image) and host architecture are different.
Generally speaking, we should not build arm32v7 image on amd64 platform unless some other technologies (e.g. QEMU) are introduced. In this way we will get rid of errors caused by arm32v7 specific things. Since introducing other technologies requires ex

[2020-06-15 08:58] KrishnaG-MSFT commented on #57073
@guferrMSFT Thanks for the feedback!
Assigning @DCtheGeek for visibility, review and document enhancement consideration as appropriate.

[2020-06-15 09:01] CodeFisher-02 commented on #56246
@mike-urnun-msft : Thanks for looking into it. I removed  below package reference from my csproj and things started working like a charm !

    <PackageReference Include="Twilio" Version="5.41.1" />

[2020-06-15 09:04] whatisthejava opened #57076 "Inconsistency in note between two pages talking about Stored Access Policies"
In this page

https://docs.microsoft.com/en-us/azure/storage/common/storage-sas-overview

In the second note it notes

**"A user delegation SAS or an account SAS must be an ad hoc SAS. Stored access policies are not supported for the user delegation SAS or the account SAS."**

and in this page

https://docs.microsoft.com/en-us/rest/api/storageservices/define-stored-access-policy

it notes

**"Stor

[2020-06-15 09:06] BhargaviAnnadevara-MSFT commented on #56759
@CaseyHaralson Sorry for the confusion that the docs caused.

Yes, you're right in that the [Profiler](https://docs.microsoft.com/en-us/azure/azure-monitor/app/profiler-overview) is an Application Insights feature that helps with narrowing down performance issues with your application.

Profiler works with .NET applications that are deployed on the following Azure services. Specific instructions f

[2020-06-15 09:26] jtuliani commented on #54946
Thanks for clarifying.

I would argue the doc says nothing about whether the auto-provisioning applies to VMSS, either way. The doc should be explicit that it does not apply. As written the doc *requires* (by your own argument) to make the inference/assumption that VMSS is not supported, simply because they're not mentioned.

What is the downside in the doc being explicit on this matter, in much t

[2020-06-15 09:39] VikasPullagura-MSFT commented on #57008
@8191 XFS volumes are supported for data disk encryption without AAD only with ‘EncryptFormatAll’ parameter.
Requesting you to please try with this parameter.

[2020-06-15 09:41] ChiragMishra-MSFT commented on #56989
@kceiw

[2020-06-15 09:42] #56989 closed

[2020-06-15 10:01] souravmishra-msft commented on #56189
@glomaga, I apologize for the delay in my response. Regarding this ask, you can do that by catching the error codes at app level and redirect based on the value. Please see an example [here](https://github.com/AzureADQuickStarts/B2C-WebApp-OpenIDConnect-DotNet-SUSI/blob/0d7534eb768954a5c383c4508036d6a871d22354/WebApp-B2C-DotNet/App_Start/Startup.Auth.cs#L49)

[2020-06-15 10:10] ElectricLlama commented on #56747
Thanks for the doco update. I've tested and it does work. I'm curious as to how long this functionality existed before the doco was updated. Also, any reason you did not enable this on the existing (virtual ?) field? For example, contact has a field called parentcustomerid which we use to specify the parent account. But there is also a field called parentcustomeridtype. I spent a lot of time tryin

[2020-06-15 10:37] michaelringholm commented on #19188
So what is the point of allowing default 25000 VMs per subscription if you only allow for 20 cores per region, makes no sense to me.

[2020-06-15 10:38] shashishailaj commented on #57072
@ajaysethi8789 Thank you for your feedback . We will investigate and update the thread .

[2020-06-15 10:40] olavt opened #57077 "Unclarity on transact offer types"
In one part of the article the following is stated:

"The transact publishing option is currently supported for the following offer types:
- Virtual machines
- Azure applications
- SaaS applications"

Towards the end of the article the following is stated:

"The transact publishing option is only available for use with the following marketplace offer types:

- Virtual Machine ...
- Azure Applicati

[2020-06-15 10:47] shashishailaj commented on #57069
@ajaysethi8789 Thank you for your feedback . We will investigate and update the thread.

[2020-06-15 10:49] AlienPie opened #57078 "Clarification around impact to existing VPN Gateway"
If forced tunneling is being deployed to a Gateway already in production, can this guide clarify if there will be an impact to traffic?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e199bebd-d994-ec96-4716-c995559adc21
* Version Independent ID: 1b856aa3-2779-2600-152d-19a70c37edb9
* Content: [Configure forced tunneling

[2020-06-15 10:55] qualiit commented on #56869
Hi Guys ,
What am i missing here
![image](https://user-images.githubusercontent.com/38211634/84649730-b092c380-af0f-11ea-9249-a24affe5a253.png)

[2020-06-15 10:57] shafqut opened #57079 "Out of date process"
The section that covers "setup automatic certificate renewal" has links to a script and a runbook" both of them are using old module.

Are there any plans to update these?

Also the first script enables permissions required, the process described in the script looks outdated as the settings option is not available for step 3.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-06-15 11:00] SubhashVasarapu-MSFT commented on #56850
@ToruMakabe , Appreciate your patience. It looks like a doc bug as it got wrongly registered with lowercase letters in this section,
![image](https://user-images.githubusercontent.com/44890829/84650064-2fdec200-af25-11ea-955c-0e647730ca12.png)
I have registered with Camel case and here is the output,
![image](https://user-images.githubusercontent.com/44890829/84650023-20f80f80-af25-11ea-8960-02c7c

[2020-06-15 11:00] #56850 closed

[2020-06-15 11:02] SubhashVasarapu-MSFT commented on #57058
@griffinbird , Appreciate your patience. It looks like a doc bug as it got wrongly registered with lowercase letters in this section,
![image](https://user-images.githubusercontent.com/44890829/84650308-95cb4980-af25-11ea-9597-b9a56fdb7ab3.png)

I have registered with Camel case and here is the output,
![image](https://user-images.githubusercontent.com/44890829/84650317-9a8ffd80-af25-11ea-90c0-ebf

[2020-06-15 11:02] #57058 closed

[2020-06-15 11:06] SnehaAgrawal-MSFT commented on #57043
@terminic Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-15 11:06] BhargaviAnnadevara-MSFT commented on #56759
@CaseyHaralson Meanwhile, I also updated the document to link to the Profiler overview page so anyone reading the article gets more context about its capabilities. The change is merged internally and will go-live in the public docs shortly.

Thanks again for the feedback!

[2020-06-15 11:08] SnehaAgrawal-MSFT commented on #57050
@jackchenquest Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-15 11:10] shashishailaj commented on #57062
@firephantomassasin Thank you for your request . We would request you to post your feature requests  on the [Keyvault feedback uservoice site](https://feedback.azure.com/forums/906355-azure-key-vault) . At this point I have created a post for you and would request you to upvote it so that it gets more visibility . The [Azure feedback site](https://feedback.azure.com/forums/34192--general-feedback)

[2020-06-15 11:11] shashishailaj commented on #57062
@firephantomassasin We will now close this issue. Should you still have any further queries , please feel free to tag me to your reply and we will be happy to help you further on this.

[2020-06-15 11:11] #57062 closed

[2020-06-15 11:12] SnehaAgrawal-MSFT commented on #57057
@jay0604 Could you please share the Azure document link you are referring to help you better on this.

[2020-06-15 11:14] SnehaAgrawal-MSFT commented on #57060
@pnarsi Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-15 11:18] SnehaAgrawal-MSFT commented on #57068
@markbeij Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-15 11:21] SnehaAgrawal-MSFT commented on #57070
@hisasima Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-15 11:23] mthoger commented on #52241
Did you every find a solution for this, we have the same problem.

[2020-06-15 11:25] SnehaAgrawal-MSFT commented on #57071
@HPatki Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-15 11:30] SnehaAgrawal-MSFT commented on #56845
@rahg-bmake Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-06-15 11:32] jackchenquest commented on #57050
Now I guess backend policy can help to handle policy inheritance. If there is no child level policy it probably is same to put the policy in backend or in inbound.

[2020-06-15 11:37] vipulsparsh commented on #56869
@qualiit : Here are the steps to add Logz.io in your portal.

1) Login to https://portal.azure.com
2) Go Azure Active Directory
3) Enterprise Application
4)  Click on New Application

![image](https://user-images.githubusercontent.com/63580915/84653000-302d8c00-af2a-11ea-9f0f-162bb981a6f9.png)
5) Enter the App name here :
![image](https://user-images.githubusercontent.com/63580915/84653096-610dc10

[2020-06-15 11:38] firephantomassasin commented on #57062
@shashankbarsin where is the post? We would like to see the post so that we can upvote it. Thanks!

[2020-06-15 11:38] vipulsparsh commented on #56936
@rwike77  Can you please look into this ?

[2020-06-15 12:03] SnehaAgrawal-MSFT commented on #57024
@prashantma Thanks for bringing this to our attention! In your web app click on Configuration under Settings menu > click on add New Application setting > A new window will pop up and now you can add Name as "WEBSITE_LOCAL_CACHE_OPTION" with the value "Always" > tick on deployment slot setting to make it sticky > Click OK > then save.
![image](https://user-images.githubusercontent.com/46553948/846

[2020-06-15 12:06] AnuragSharma-MSFT commented on #57075
@dfatkulbayanova Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2020-06-15 12:20] SwathiDhanwada-MSFT commented on #57079
@shafqut Thanks for your feedback.

Assigning to content author @MGoedtel for review and update the document if necessary.

[2020-06-15 12:21] abhirockzz opened #57080 "Clearly highlight the relationship between SP creation and RBAC enforcement"
This document is quite useful, but please consider the following feedback which I have as a result of trying to follow this.

1. The logical connection between the following sections "Assign RBAC roles using the Azure portal" and "Authenticate from an application" has not been highlighted (although they are closely related) - this is the essence of this guide

2. Altering the sequence of sections

[2020-06-15 12:22] MonikaReddy-MSFT commented on #56624
@FredrikDahlberg , Thanks again for bringing this to our attention. We have updated the Doc and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-15 12:22] #56624 closed

[2020-06-15 12:22] SwathiDhanwada-MSFT commented on #57077
@olavt Thanks for your feedback. We are actively investigating and will get back to you shortly.

[2020-06-15 12:25] MonikaReddy-MSFT commented on #56655
@CeciAc , This should be work with using the  version of C# 6 or later.
@mrbullwinkle - Can you confirm the same  ?

[2020-06-15 12:29] MonikaReddy-MSFT commented on #56655
@CeciAc , At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-15 12:29] #56655 closed

[2020-06-15 12:33] parthipanr opened #57081 "Rate-limit-by-key Policy is not allowed in 'Consumption' sku"
I have added the Rate-limit by key and quota limit by key policy in consumption plan based on the below post but facing error while using it in consumption plan.

https://azure.microsoft.com/en-in/updates/azure-api-management-update-january-2020/

Location: East US

`<rate-limit-by-key calls="2" renewal-period="120" counter-key="@(context.Request.IpAddress)"/>`

Error:

Error in element 'rate-limi

[2020-06-15 12:41] Xyroid opened #57082 "Incorrect common error code for DPS"
The current docs doesn't mention the actual common error code. I am getting 404201 and 404202 in the `Body` property of `ProvisioningServiceClientHttpException` instance for two different cases. Please update the doc similar to [IoT hub common error code](https://docs.microsoft.com/en-us/rest/api/iothub/common-error-codes).

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-06-15 12:47] rootik commented on #43099
msiObjectId doesn't work in extension version 1.0.1253.13
msiClientId works just well

Here are all possible fields in JSON configuration:
[code]

[2020-06-15 13:07] zzl1 commented on #57020
Hi Ashok any update to fix this issue? Thanks.

[2020-06-15 13:20] RonnieQuan opened #57083 "Private Endpoint and Azure SQL HA/DR/Fail Over"
Does high availablity work with private endpoint SQL?
Looks like the traffic manager is involved for fail over, my understanding is that traffic manager only works with public endpoint.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15036ef6-9c0b-044e-d600-b9f90f039720
* Version Independent ID: 6

[2020-06-15 13:35] DixitArora-MSFT commented on #56914
@Marusyk I have assigned this to content author for further review and update as appropriate.

[2020-06-15 13:36] DixitArora-MSFT commented on #56921
@fabio770 I have assigned this to content author for further review and update as appropriate.

[2020-06-15 13:36] jctbak commented on #56886
yes, it works now. Thank You for fixing it.

[2020-06-15 13:40] mmacy commented on #56640
Hi @markvogt, thanks again for your input. I've taken note of your comments and we'll factor them into our improvement efforts. Closing this for now as we've had no activity in the last week, but do feel free to leave additional feedback here if you have comments on the flows I'd presented above.

#please-close

[2020-06-15 13:40] #56640 closed

[2020-06-15 13:47] DCtheGeek commented on #57073
@guferrMSFT You are correct and thank you for pointing this out. I'll get it fixed right now.  When the update merges, this issue will automatically be closed.  There will be a gap between when it's closed and when the change is published.  Thanks again!

@MicrosoftDocs/azure-cxp-triage #in-progress

[2020-06-15 13:56] ram-suresh opened #57084 "How to make the chatbot pull data from RSS feeds"
Hi,

Can you please let me know how to make the QnA maker chat bot pull data from RSS feed urls. I have populated the knowledge base with various questions and answers but have to also populate it with the RSS feeds. Can you please guide me in the right direction.

[2020-06-15 13:57] kobulloc-MSFT commented on #56709
@lucarv Unfortunately without a document to reference, we're unable to make an update.  We are going to close this thread but if you can provide a document, please tag me in your reply and we will be happy to revisit this.

[2020-06-15 13:57] #56709 closed

[2020-06-15 14:02] ezYakaEagle442 opened #57085 "Provide DNS-Forwarder sample snippet"
Please provide a sample snippet to describe how to implement a DNS-Forwarder, I have found [a sample for Azure File Storage](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-networking-dns#manually-configuring-dns-forwarding) but the PowerShell snippet uses CommandLet from dnsserver Module which is not available neither on WSL neither on Windows 10, it looks available only on win

[2020-06-15 14:04] #57073 closed

[2020-06-15 14:04] ezYakaEagle442 opened #57086 "Provide DNS-Forwarder sample snippet"
Please provide a sample snippet to describe how to implement a DNS-Forwarder, I have found [a sample for Azure File Storage](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-networking-dns#manually-configuring-dns-forwarding) but the PowerShell snippet uses CommandLet from dnsserver Module which is not available neither on WSL neither on Windows 10, it looks available only on win

[2020-06-15 14:05] BakkerJan commented on #54116
@richardjgreen @RescueWhale @neeleshray-msft  same question here. Need to know what the purpose is of this, and how this works. I also noticed that, when you add users to an AU, this is not reflected in the My Staff portal. Only members that I added separately are shown. This feature would only make sense if the members of the group will be added (and kept up2date) to the AU itself by adding group

[2020-06-15 14:08] sarah026 opened #57087 "AD authentication at server-level for standard users"
It is unclear how to allow an AD group standard users to login to the db using user's AD credentials at the server level.
I've created a group for them at the DB instance level and the master level, and assigned the group to the DB instance's read-only role, but I'd like them to be able to authenticate to the SQL server using SSMS so they can view all DB instances in one place.

Can you please cov

[2020-06-15 14:10] BakkerJan opened #57088 "Groups and AU"
@richardjgreen @RescueWhale @neeleshray-msft  same question here. Need to know what the purpose is of this, and how this works. I also noticed that, when you add users to an AU, this is not reflected in the My Staff portal. Only members that I added separately are shown. This feature would only make sense if the members of the group will be added (and kept up2date) to the AU itself by adding group

[2020-06-15 14:14] twastvedt commented on #56388
@mrbullwinkle Thanks for the update, and for the detailed info!

[2020-06-15 14:38] mattbaker-digital opened #57089 "Details on privacy required"
Needs more details on what the company has access to on your personal device once your device is registered.
I assume it is the same as this: https://docs.microsoft.com/en-us/mem/intune/user-help/what-info-can-your-company-see-when-you-enroll-your-device-in-intune

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 185f4afb

[2020-06-15 14:40] mattbaker-digital commented on #57089
Also this page: https://docs.microsoft.com/en-us/azure/active-directory/user-help/user-help-join-device-on-network

[2020-06-15 14:45] pochiraju commented on #57028
DMS provides ongoing sync for various source and target pairs to minimize the migration downtime to near zero, and this capability should be used only for pure migration purposes to Azure Data.  DMS can't be used for ongoing sync purposes.   If you can provide more details around continuous sync needs, we can be able to point you to the right solution.

[2020-06-15 14:46] kitsu opened #57090 "Advice on shard key index"
Mongo docs state that shard keys must be indexed, but this page on indexing doesn't mention them.
Is it safe to assume that shard keys are/behave as indexed fields?
Is there any benefit or drawback to indexing shard keys?

I think this page is an appropriate place for info on the relation of shards and indexes.
If this is mentioned on some sharding page a link in the relevant docs section would su

[2020-06-15 15:18] paulvanw commented on #57052
Adding an extra datapoint: the c# sample works out of the box. and with my own payload as well.

so at least this shows my configuration of the configuration and query to retrieve the data through AI/kusto are working as advertised

[2020-06-15 15:22] the-grayest opened #57092 "Uncertain statement"
Current document states:
A single blob supports up to 500 requests per second.

I suppose that is should be:
A single **page** blob supports up to 500 requests per second.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cca4823-69a3-0b1a-059a-3a0605ed74ce
* Version Independent ID: 8e8299f1-e618-f1d1-bed2-0e3f4e05829e
*

[2020-06-15 15:24] jaydarius commented on #57067
Thank you!

[2020-06-15 15:24] eyedia opened #57093 "Deploy HDInsight using REST API"
If I need CLI to login and perform other tasks before I could call REST API. Whats the point using REST API to deploy anything? Why not simply use CLI to perform everything.

If we want to deploy HDInsight (or anything) using REST API, provide a simple way to:

1. Login to Azure (REST POST)
2. Deploy using JSON (REST POST)
3. Check Status (REST GET)

---
#### Document Details

⚠ *Do not edit this

[2020-06-15 15:31] adrianwells opened #57094 "Microsoft 365 F1 and Microsoft 365 F3 report same GUID"
These two different products have the same GUID (66b55226-6b4f-492c-910c-a3b7a3c9d993) as shown on this page:

- Microsoft 365 F1	M365_F1
- Microsoft 365 F3	SPE_F1

When will these different products have separate GUIDs? This might be related to #51545

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452

[2020-06-15 15:32] SwathiDhanwada-MSFT commented on #57077
Assigning to content author @dsindona for review and update document if necessary.

[2020-06-15 15:37] DanBrown-TechSmith opened #57095 "Domain Join as mandatory artifact"
The start of this page gives the example of joining a VM created from an image in a DevTest lab using a mandatory artifact.  However, since the `Join Active Directory (AD) domain` artifact has parameters it is not allowed to be specified as a mandatory artifact.  How then would this be possible to implement?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-06-15 15:40] mmacy commented on #56365
Hi @alvipeo, I'm going to close this issue as there is currently no work to be performed in the article. If you feel this issue was closed prematurely, however, please let us know. Thanks! #please-close

[2020-06-15 15:40] #56365 closed

[2020-06-15 15:42] derekpurdy opened #57096 "'Microsoft.Billing/billingPeriods/read' does not match any of the actions supported by the providers."
The built-in role of 'Cost Management Reader' has the provider listed below.

`Microsoft.Billing/billingPeriods/read`

When attempting to use that provider in a custom role it does not match any supported actions by the provider

'Microsoft.Billing/billingPeriods/read' does not match any of the actions supported by the providers.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-06-15 15:45] HeidiSteen commented on #56845
@rahg-bmake   Are you talking about refreshing the data inside the index?  I agree with you that we need to mention data refresh in this doc, or in a peer article in the same section.  That won't happen right away, so to unblock you, I'd like to point you to this link:  https://docs.microsoft.com/en-us/rest/api/searchservice/addupdate-or-delete-documents

It's a REST API reference page, but the sa

[2020-06-15 15:45] kummerer94 commented on #40134
Does this work already? I just used the functionality in VS Code that lets you create an azure-pipelines.yml file for your custom needs and it will install my dependencies into the `worker_env` folder.

Preliminary testing with my Function App has shown that it does not recognize any installed dependencies.

I use the v3 runtime and Python 3.7.

[2020-06-15 15:49] tamram commented on #57092
@the-grayest - This statement applies to all types of blobs - block, append, and page.

Why do you think it should only apply to page blobs?

[2020-06-15 15:50] stephbaron commented on #57002
Could you give an example of the entire event (title, message, cause)?

[2020-06-15 15:52] SatishBoddu-MSFT commented on #57082
@Xyroid Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-15 15:54] MonikaReddy-MSFT commented on #57095
@DanBrown-TechSmith -  Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-06-15 15:57] alac0m commented on #56992
Thank you, I was referring the documentation provided here.
https://docs.microsoft.com/en-us/azure/key-vault/general/event-grid-overview

[2020-06-15 16:02] MarileeTurscak-MSFT commented on #57096
Hi @derekpurdy , are you saying that the role doesn't have read permissions to billingPeriods?

[2020-06-15 16:06] derekpurdy commented on #57096
The [built-in role](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#cost-management-reader) references that provider permissions, but when it's used in a custom role it gives the error I posted above.

[2020-06-15 16:12] timsander1 commented on #57090
Hi @kitsu, great question! In Azure Cosmos DB's API for MongoDB, sharding and indexing are separate concepts. There's no requirement to index your shard key in Azure Cosmos DB's API for MongoDB. However, as with any other property in your document, if this property is a common filter in your queries, we strongly recommend indexing the shard key. For more information about the relationship between

[2020-06-15 16:29] mike-urnun-msft commented on #57050
@jackchenquest Could you clarify what you're looking for in the backend policy? More examples can be found here: https://github.com/Azure/api-management-policy-snippets/tree/master/examples

[2020-06-15 16:29] RyanHill-MSFT commented on #54345
@TekExpo @WikkidEdd @tonytaowang your migration should be ran against the <server-name> you created in [`az sql server create --name <server-name> --resource-group myResourceGroup --admin-user <db-username> --admin-password <db-password>`](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-dotnetcore-sqldb#create-a-server-in-azure-sql-database).

The output you get from `a

[2020-06-15 16:31] KalyanChanumolu-MSFT commented on #56658
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-15 16:31] #56658 closed

[2020-06-15 16:33] tfitzmac commented on #56954
@rphoon - thanks for this feedback. I have fixed the mistake in the generation process and uploaded a new file.

[2020-06-15 16:33] tfitzmac commented on #56954
#please-close

[2020-06-15 16:33] #56954 closed

[2020-06-15 16:33] KalyanChanumolu-MSFT commented on #56868
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-15 16:33] #56868 closed

[2020-06-15 16:36] kgremban commented on #57035
@raphaelzulliger Thank you for pointing this out. The sentence is supposed to say, "Once you create the first deployment **for** a device." I will fix that today.

[2020-06-15 16:42] irinakolontaev1 commented on #51759
@nnamedieh @SadiqhAhmed-MSFT The monthly billing period will close up to 11 days after the last calendar day of the month. The reason behind this is that some usage and meter data has a delay and appears later. During this delay, the usage file for the previous month might change.

[2020-06-15 16:45] hpsin commented on #43704
#please-close This work is being taken on by the sign in logs team to correctly categorize errors.  Many errors are by design and do not indicate an issue that the developer has to fix.  This is expected.  We recommend that developers read both the error message and remediation rather than assuming that all errors must be fixed.

[2020-06-15 16:45] #43704 closed

[2020-06-15 16:46] hpsin commented on #55353
Hi @mitch1995 - just to refresh this and say that we're looking at this internally.

[2020-06-15 16:48] #57035 closed

[2020-06-15 16:52] tbrownio opened #57097 "this won't work unless a user modifies their endpoint"
I followed this quickstart step by step in python and was stuck for multiple hours with a "resource not found error." I finally realized that to get this to work, I need to remove the "bing/v7.0" section from the endpoint. This should be clearly stated on this page - because a user will likely by default copy and paste the endpoint "as is" from their Azure portal ("with the bing/v7.0 in it).

---

[2020-06-15 16:54] weitzhandler opened #57098 "Can you use MSAL for internal authentication?"
Hi,

I wonder if you can use MSAL without AzureAD, for instance to get an authentication JWT token using legacy username and password against internal server?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5e02ace-df3e-0bc3-67e3-21270376b30b
* Version Independent ID: 939ef255-7080-9c8b-5ff6-091bca3f512d
* Cont

[2020-06-15 16:55] RyanHill-MSFT commented on #54345
In addition for you @tonytaowang, Sqlite is a file based database system, so the `az sql` commands won't apply. Just use
[code]

and set `"MyDbConnection": "Data Source=localdatabase.db"` in your appsettings.json file and you should be set. One caveat, since Sqlite is file based, when you make changes you will have to apply those migrations at [runtime](https://docs.microsoft.com/en-us/ef/core/man

[2020-06-15 16:56] ajlam commented on #56867
@bertrandpons, do you have any other questions I can help answer?

I have updated the docs to include the crosslinking between the two data-in replication docs and improved the data-in replication intro with more about binary log replication.

[2020-06-15 16:56] #56970 closed

[2020-06-15 17:02] rahg-bmake commented on #25481
Is there an option to do so in UX as well?

[2020-06-15 17:12] FrenezOrg opened #57099 "Premium storage caching on B-series VMs"
Hello,

The documentation regarding Premium storage caching on B-series VMs seems to be outdated/wrong.

It's clearly indicated that **it is not supported** yet **it is enabled by default on the OS disk** at the VM's creation.
Furthermore, it's possible to enable Read/Write cache on Premium data disks attached to a B-series VM via the following procedure:
- Create a B2s VM
- Add a premium data dis

[2020-06-15 17:16] Tiberriver256 opened #57100 "Instructions for setting up client-side javascript"
These are the instructions for setting up client-side Javascript in ASP.NET Core projects. Does the same apply to ASP.NET projects?

![image](https://user-images.githubusercontent.com/6989492/84686665-6529e680-af0a-11ea-8607-7dcf5537cb84.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 225a3185-819c-9723-70cb-78cd95

[2020-06-15 17:23] cynthn commented on #57027
@Cognitive-dissonance Thanks for the feedback! I'm moving the table for channel support up into the "Limitations" sections. Hopefully that will help :)

[2020-06-15 17:24] himanshusinha-msft commented on #57093
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-06-15 17:24] iainfoulds commented on #56842
Per-user is recently available in all Microsoft 365 editions. There's a doc update that should go live today to address this. Per-user isn't recommended though, and should instead use Conditional Access policies to enable for individual users.

[2020-06-15 17:25] mrbullwinkle commented on #57100
#assign:mrbullwinkle

[2020-06-15 17:26] himanshusinha-msft commented on #57080
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-06-15 17:27] v-kydela commented on #55704
@cahann - Is the issue being tracked somewhere else or should this issue be reopened?

[2020-06-15 17:29] SaurabhSharma-MSFT commented on #57094
@adrianwells Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-06-15 17:31] SaurabhSharma-MSFT commented on #57089
@mattbaker-digital Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-06-15 17:33] anilrv opened #57102 "Support for SQL Server VM"
When would this feature be available for Windows Server 2019 with SQL Server VM image ?
Or can it be enabled via power shell, once the VM is created ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c946fe0f-e18d-2529-2fbf-bce04759fbca
* Version Independent ID: 885a61d1-6096-5aa0-fe8d-f1ec8d55e542
* Content: [Sign in to

[2020-06-15 17:39] mrbullwinkle commented on #57100
Under the hood it is pretty much the same process in that you want to add the JS snippet to the `_layout.cshtml` file or equivalent page that controls the html header of the all the pages you want to monitor,, but only the .NET Core SDK has the snippet packaged and accessible via `JavaScriptSnippet.FullSnippet`.

If you are using certain versions of Visual Studio and use the Add Application Insigh

[2020-06-15 17:43] SaurabhSharma-MSFT commented on #56410
@marcosvidolin Thanks. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-15 17:43] #56410 closed

[2020-06-15 17:53] onionhammer commented on #28805
Yeah I feel like I'm getting the same issue with azure storage and a service endpoint. I've opened a support ticket (a few days ago) and havent received any response yet. Hopefully Microsoft can shed some light on this...

[2020-06-15 17:56] tmurfet opened #57103 "A special case of connecting Azure App Service to SQL Managed Instance is when you integrate Azure App Service to a network peered to a SQL Managed Instance virtual network"
Trying to understand this diagram. Is ambiguous - please elaborate for folks trying to learn:
"VNet Integrated WebApp" connects to a subnet that is labeled "Gateway subnet" but doesn't actually contain a gateway ??? Am I missing something here? Or is the gateway symbol missing from the diagram?
Thanks.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-06-15 17:56] mrbullwinkle commented on #57100
@Tiberriver256 does that answer your question?

[2020-06-15 17:58] JamesTran-MSFT commented on #57102
@anilrv
Thanks for your questions! We will investigate and update as appropriate.

[2020-06-15 17:59] markjbrown commented on #43764
Good to hear this is resolved. Will close this again.

#please-close

[2020-06-15 17:59] #43764 closed

[2020-06-15 18:04] SaurabhSharma-MSFT commented on #57098
@weitzhandler Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-15 18:09] dtotzke opened #57105 "The script provided will DELETE all DataFactory resources."
The script provided in the article will DELETE all of the resources related to the target datafactory.  The code to extract the names of resources from the template results in names that couldn't possibly match anything.

`    $dataflowsNames = $dataflowsTemplate | ForEach-Object {$_.name.Substring(37, $_.name.Length-40) }`

The name of the resource in the ARM template is generated like this:

`"n

[2020-06-15 18:11] jackchenquest commented on #57050
Thanks @mike-urnun-msft , that helped. I just need to understand why there is need for a backend policy. My original thought was if nothing happened between inbound and backend, then why not just remove backend policy configuration and define all policies in inbound.

Now I think it will make difference when there is inherited parent level policies. Also https://github.com/Azure/api-management-pol

[2020-06-15 18:12] Janell-Huyck opened #57106 "missing command in SSH terminal"
https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-python-postgresql-app?tabs=bash#run-database-migrations

Unable to use python manage.py because of missing command in the tutorial:

pip install -r requirements.txt

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 791bd216-532f-7f28-fa51-d95798397310

[2020-06-15 18:14] jeffhollan commented on #30369
I think you will need to do the #r for Microsoft.Azure.ServiceBus but you'll also need to make sure the extension is installed or you have enabled bundles

[2020-06-15 18:15] djpmsft commented on #57105
Hi @dtotzke,

The script provided has been tested and consistently works for me. We have not had any other reported issues of invalid deletion.s Have you tried out a specific use case that hasn't worked for you?

Thanks,
Daniel

[2020-06-15 18:16] bandersmsft commented on #51759
#please-close

[2020-06-15 18:16] #51759 closed

[2020-06-15 18:18] jeffhollan commented on #31958
If you throw an exception, we will call abondonAsync, if you don't throw ane xception we will call completeasync, for non C# languages we don't provide an explicit way for the binding to call this

[2020-06-15 18:23] #55642 closed

[2020-06-15 18:23] leehowarth commented on #56945
We have also seen this issue. Has there been any progress?

[2020-06-15 18:34] haydenbr opened #57108 "Class or Interface for Output Metadata"
Is there a class or interface that describes this metadata? I want to reading this output file programatically from azure storage and parsing the string contents to an object. It would be helpful if there were already a defined type I could use when parsing the file. Otherwise, I'll have to create the interface myself.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-06-15 18:38] rothja commented on #19188
@michaelringholm I see what you're saying in that the default of 25000 VMs could never be actualized without changing the default of the cores. I don't have a lot of background on how the defaults were chosen. However, it should be a simple request to increase the defaults when needed. Were you having any problems with the process? Thank you!

[2020-06-15 18:38] dtotzke commented on #57105
I just ran the release again and it deleted everything. Maybe I have the flags set wrong.  In the pre-deployment PS task I set
`-predeployment $true -deleteDeployment $false`

In the post-deployment task I set
`-predeployment $false -deleteDeployment $true

`2020-06-15T18:32:17.7611839Z Getting triggers
2020-06-15T18:32:18.6170854Z Getting pipelines
2020-06-15T18:32:20.2402926Z Getting datasets
20

[2020-06-15 18:40] bandersmsft commented on #56722
@tjoyce-admin Were you contacted by Support personnel?

[2020-06-15 18:43] cynthn commented on #57027
#please-close

[2020-06-15 18:43] #57027 closed

[2020-06-15 18:44] dtotzke commented on #57105
Just ran it again setting $deleteDeployment to false.  Started with an empty data factory and ended with an empty data factory.

If I disable the post-deployment script task, everything is there.

[2020-06-15 18:45] mikal768 commented on #56974
https://docs.microsoft.com/en-us/azure/virtual-desktop/expand-existing-host-pool

[2020-06-15 18:47] dsindona commented on #56825
@BrianLevenson are you still working on this one? Let me know if you need to hand off

[2020-06-15 18:49] SnehaGunda commented on #53205
@ritika1901 The above PR adds a Java example, the updates will be live later today. We will close this issue now.

#please-close

[2020-06-15 18:49] #53205 closed

[2020-06-15 18:50] Mike-Ubezzi-MSFT commented on #57083
@RonnieQuan Thank you for your inquiry. The specific document this issue has been filed under is more specific to how redundancy within a datacenter supports high availability to meet service objectives. This document:[ Creating and using active geo-replication - Azure SQL Database](https://docs.microsoft.com/en-us/azure/azure-sql/database/active-geo-replication-overview) discusses how [Azure Traf

[2020-06-15 18:50] dsindona commented on #56829
#reassign:mingshen-ms

[2020-06-15 18:52] tjoyce-admin commented on #56722
Hi Bill,

I haven’t heard from support yet.

Tom Joyce
________________________________
From: Bill Anderson <notifications@github.com>
Sent: Monday, June 15, 2020 12:40:34 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Joyce Tom CGO <Tom.Joyce@teck.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Budget Alerting and webhooks (#56722)

[Externa

[2020-06-15 18:54] asudbring commented on #41700
#please-close

[2020-06-15 18:54] #41700 closed

[2020-06-15 19:03] asudbring commented on #54097
Hi @douglas-smith-avanade
The screenshot is labeled as this "You'll receive a message similar to this:"  it's not the actual output from the exercise only an example of what the output will look like.

#please-close

[2020-06-15 19:03] #54097 closed

[2020-06-15 19:05] tfitzmac commented on #56796
@mvark - thanks for this feedback. I moved this info from the current article to the article that lists the supported resource types. VMs support tags unless you have marked the VM as generalized. You mark the VM as generalized with Set-AzVM -Generalized or az vm generalize. I added that clarification to the note.

The update should get published later today.

[2020-06-15 19:05] tfitzmac commented on #56796
#please-close

[2020-06-15 19:05] #56796 closed

[2020-06-15 19:07] SnehaGunda commented on #56469
#reassign: markjbrown

[2020-06-15 19:09] upmygit commented on #52241
Nope. I just wrote a powershell script to make direct assignments for function app managed identities. I need access policies to work within seconds, I can't wait for AAD slowness.

[2020-06-15 19:12] Mike-Ubezzi-MSFT commented on #57087
@sarah026 Thank you for making us aware of this gap in the documentation. If you want server-level logins based upon Azure AD entities, please see: [Creating a login for a local Azure AD account](https://docs.microsoft.com/en-us/sql/t-sql/statements/create-login-transact-sql?view=azuresqldb-mi-current#c-creating-a-login-for-a-local-azure-ad-account). Just like you create contained database users b

[2020-06-15 19:13] SnehaGunda commented on #56469
@fabio770 the doc already has a .Net V3 SDK example on how to register and execute the stored procedure: https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-use-stored-procedures-triggers-udfs#stored-procedures---net-sdk-v3. Isn't that sufficient?

[2020-06-15 19:20] weitzhandler commented on #57098
Thanks for your quick response, @SaurabhSharma-MSFT
Also: is can MSAL be used as a credential management API from the view backing side (i.e. ViewModel), not the UI?

[2020-06-15 19:20] franzmiltner commented on #43704
Wait @hpsin - are you saying this is by design and stays as is? Have a look at MSPremier case #17426202. This was nothing a developer thought he has to fix, It was a false positive which occupied Premier heavily while trying to hunt down another issue and that resulted in senior level attention needed. Calling out in the support article that some errors are not errors but interrupts by design unti

[2020-06-15 19:20] #56842 closed

[2020-06-15 19:21] dtotzke commented on #57105
I added a line to the script to write out the names of the templates from the resource template and it looks like the list is empty:

[code]
I get a single empty line so it looks like it's failing to get a list of datasets from the resource template.
[code]

[2020-06-15 19:26] SnehaGunda commented on #56750
@AnuragSharma-MSFT I see you tested the steps. Not sure who is the point of contact for this module but doesn't the Learn team has a different form to report the feedback?

I get [this link](https://docs.microsoft.com/en-us/learn/support/troubleshooting?uid=learn.monitor-azure-cosmos-db.8-index-exercise&documentId=5648f3ef-ad2e-7486-10b0-ee41382d216a&versionIndependentDocumentId=7128573e-0f06-4d9c

[2020-06-15 19:26] runforrestrun opened #57110 "Wrong or ambiguous explanation of session consistency for Azure Cosmos DB."
Regarding the explanation of the session consistency.

I believe there's an error in the explanation or it is perhaps a bit ambiguous imho.

The page is stating:

`Session: Within a single client session reads are guaranteed to honor the consistent-prefix, monotonic reads, monotonic writes, read-your-writes, and write-follows-reads guarantees. This assumes a single "writer" session or sharing the

[2020-06-15 19:31] sarah026 commented on #57087
Thanks Mike, I've already tried that, but unfortunately the synatx doesn't work
CREATE LOGIN [mygroup] FROM EXTERNAL PROVIDER
GO

It says :
Msg 102, Level 15, State 48, Line 1
Incorrect syntax near 'PROVIDER'.

[2020-06-15 19:33] mamccrea commented on #56985
Thanks, @BMichaelJ. The Event Hubs documentation is linked in the first sentence of the paragraph, so I've removed that last line completely. Changes should be live later today or tomorrow.

#please-close

[2020-06-15 19:34] #56985 closed

[2020-06-15 19:35] djpmsft commented on #57105
If you are deleting everything, then likely the issue is that you are pointing at the wrong/invalid ARM template in the post-deployment script. The post-deployment script just takes the diff of the deployed factory and whats included int he ARM template and deletes those. Many organizations rely on this in production at this point.

[2020-06-15 19:35] Karishma-Tiwari-MSFT commented on #57085
We will close this issue as it is a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/57086
Our team experts will help you out on that issue.

[2020-06-15 19:35] #57085 closed

[2020-06-15 19:36] Karishma-Tiwari-MSFT commented on #57099
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-15 19:37] timsander1 commented on #56750
Hi @AnuragSharma-MSFT, I'm the PM that owns indexing in Azure Cosmos DB. To address questions 1+2: If you don't index a property in your container and then run a query that filters on that property, it is expected that the RU charge will be high. The query engine had no index available so it had to load a lot of documents even though none of them actually ended up matching the query filter. To add

[2020-06-15 19:38] craigshoemaker commented on #42689
When using an async method you use [`IAsyncCollector`](https://github.com/Azure/azure-webjobs-sdk/blob/master/src/Microsoft.Azure.WebJobs/IAsyncCollector.cs), otherwise you [ICollector](https://github.com/Azure/azure-webjobs-sdk/blob/master/src/Microsoft.Azure.WebJobs/ICollector.cs) interface.

I'll make mention of this in the doc.

#please-close

[2020-06-15 19:38] #42689 closed

[2020-06-15 19:42] julieMSFT commented on #51609
@golfalot The issue you reference, https://github.com/Azure/azure-sdk-for-js/issues/6816, has been closed with a workaround. Does this address your issue? If not can you provide further information on what you are seeing.

[2020-06-15 19:44] SaurabhSharma-MSFT commented on #56896
@pmozbert As mentioned in the document, you need to run these curl commands on Windows command prompt.  I am able to run these curl commands using CMD.

[2020-06-15 19:46] dtotzke commented on #57105
You are absolutely correct.  I was pointing at the parameters template instead of the actual resource template.  I checked that stuff a bunch of times and was just blind to the wrong file name.

THANK YOU so much for the fast response!  All is well.

[2020-06-15 19:46] #57105 closed

[2020-06-15 19:50] craigshoemaker commented on #30369
I am going to #please-close this for now per @jeffhollan's response. If the problem persists, @burtybob, please reopen this issue.

[2020-06-15 19:50] #30369 closed

[2020-06-15 19:51] golfalot commented on #51609
@julieMSFT it's been a wee while since I was looking at this. If I remember rightly I did not implement the workaround - I would have shared the fix if I had.  Instead I negated the need for queue altogether. The sole purpose for referencing the other issue was trying to be helpful as to a potential root cause for the incoming messages/json having value undefined. Hope that's useful.

[2020-06-15 19:56] briandunnington commented on #36458
For the Premium plan (not 100% sure about Consumption plan), here is the matrix of what works/doesn't work:

- if you deploy a new resource:
	- if you supply neither setting, the deployment succeeds, but you end up with the `Storage is not configured, Function scaling will be limited` message
	- if you only supply `WEBSITE_CONTENTAZUREFILECONNECTIONSTRING`, it fails with `Required parameter WEBSIT

[2020-06-15 20:00] SaurabhSharma-MSFT commented on #57098
@weitzhandler No, you cannot use MSAL for any other identity service.  MSAL is meant for acquiring tokens from Microsoft Identity Endpoint only.

[2020-06-15 20:00] julieMSFT commented on #51609
@golfalot Thank you for the reply. I am going to do some further research.

[2020-06-15 20:01] SnehaGunda commented on #56955
@Marusyk I can see the items when I connect, it works at least for SQL API. Which API did you use?

![image](https://user-images.githubusercontent.com/14284405/84700331-d74cfc00-af07-11ea-875d-61c0375b4d4b.png)

I have the latest version of storage explorer, which I see maps to the version you are using:

![image](https://user-images.githubusercontent.com/14284405/84700503-1aa76a80-af08-11ea-808a-

[2020-06-15 20:03] JQUINONES82 commented on #38914
This feature is currently in preview.

Here is another work around...you can setup your own vnet with a scale set.

https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/scale-set-agents?view=azure-devops

[2020-06-15 20:06] KumudD commented on #55556
#reassign: @EricTheRed999

[2020-06-15 20:07] Marusyk commented on #56955
I'm using SQL API too

[2020-06-15 20:14] zr-msft commented on #56596
@hatasaki a fix has been made to the installation scripts for the Azure Dev Spaces CLI. You should no longer see this issue when installing the latest version of the Azure Dev Spaces CLI.

#please-close

[2020-06-15 20:14] #56596 closed

[2020-06-15 20:14] amjad-Alhusseini opened #57111 "AzCopy for linux"
in the section for identifying the volume for linux (https://docs.microsoft.com/en-us/azure/backup/backup-azure-restore-files-from-vm#for-linux), shall we use AZCopy to navigate or else, if yes, can you be clear in the linux part?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*
)
* ID: 142ddb2b-65ef-10f4-0e68-f9af6f0e3d52
* Ve

[2020-06-15 20:19] NavtejSaini-MSFT commented on #57110
@runforrestrun We are checking this and will get back to you.

[2020-06-15 20:24] dsindona commented on #57077
@olavt thank you for catching this. I updated the later section and the changes will go live in a few hours.
#please-close

[2020-06-15 20:24] #57077 closed

[2020-06-15 20:24] AjayKumar-MSFT commented on #56945
Apologies for the delay and any inconvenience with this problem.

Yes. As mentioned in the document. The feature is available only from newer Azure App Service scale units that support PremiumV2 App Service plans.
In order to use Regional VNet Integration, you could redeploy the Web App in an App Service Plan using Premium V2 SKU. Once created, ASP can be scaled down to Standard SKU. This will ens

[2020-06-15 20:31] NavtejSaini-MSFT commented on #56802
@kummanish Please confirm the IP info in the document.

[2020-06-15 20:32] hpsin commented on #43704
@franzmiltner - we are planning to delete all error messages here since they encourage bad behavior and code patterns in applications, and do not offer any novel information, while remaining out of date and non-exhaustive.  The error controller suffices.  I cannot speak to the support case you reference nor access it for privacy reasons, but if you can contact me internally we can discuss it furth

[2020-06-15 20:33] zr-msft commented on #51251
There's been a few updates to this guide recently that resolves this issue. Please reopen if you're still running into any issues.

#please-close

[2020-06-15 20:33] #51251 closed

[2020-06-15 20:35] NavtejSaini-MSFT commented on #56941
@jnimander Please convey if you need any further info regarding this issue.

[2020-06-15 20:40] AjayKumar-MSFT commented on #56987
@mgreg90, Kindly checkout [this doc ](https://docs.microsoft.com/en-us/azure/postgresql/concepts-pricing-tiers#compute-generations-and-vcores)for a list of regions by hardware generation. The possible reason for the error, Gen4 is not supported in the region you had provisioned.   As you have already done, you could consider moving (retaining) your databases to Gen 5 hardware. Please refer[ this d

[2020-06-15 20:43] Mike-Ubezzi-MSFT commented on #57087
Thank you for this additional detail. Non-Admin users do not have access to [server-level roles](https://docs.microsoft.com/en-us/sql/relational-databases/security/authentication-access/server-level-roles?view=sql-server-ver15). They only have access to [database-level roles](https://docs.microsoft.com/en-us/sql/relational-databases/security/authentication-access/database-level-roles?view=sql-serv

[2020-06-15 20:44] iainfoulds commented on #55571
This doc has now been updated and should go live later today.

#please-close

[2020-06-15 20:44] #55571 closed

[2020-06-15 21:13] wilsonjm-B commented on #46484
Can we please have an update?

[2020-06-15 21:15] eXXL commented on #56406
Hi @ChiragMishra-MSFT, thanks for your reply. I tried your steps and yes it works!
It's a bit uncomfortable to automate the file changes by script but it's fine.

[2020-06-15 21:42] eyedia commented on #57093
Thank you!

[2020-06-15 21:51] calep commented on #46484
FWIW we gave up waiting and wrote an Azure function to authenticate with Xero and pull data in.

[2020-06-15 21:53] tburns10 commented on #51167
#please-close

[2020-06-15 21:53] #51167 closed

[2020-06-15 21:54] wilsonjm-B commented on #46484
Thanks for the comment - that's what I was trying to avoid, but sounds like I'll need to spend some time working that one out. I can pull the data from Postman fine, but not get it into azure. Thanks.

[2020-06-15 21:58] Tiberriver256 commented on #57100
I pasted that script in and that seems to have done the trick, thank you. Any reason for excluding that from the docs on this page?

[2020-06-15 22:00] calep commented on #46484
We tried to avoid it too and then gave up waiting as we had a deadline to hit!

In case it's helpful, we actually land the data direct from Node into blob storage as JSON and then ingest it from there. We also use elements of PowerApps to stitch together some of the process.

Perhaps you could trigger the Function to do the Xero download and dump the data into storage, and then have a Data Factory

[2020-06-15 22:01] normesta commented on #56486
Thank you @Jdocampo - I've made the change and it should appear live by tomorrow morning. I appreciate the thoughtful writeup!

[2020-06-15 22:01] normesta commented on #56486
#please-close

[2020-06-15 22:01] #56486 closed

[2020-06-15 22:03] wilsonjm-B commented on #46484
Thanks - i appreciate the advice.

[2020-06-15 22:11] JamesTran-MSFT commented on #57102
@anilrv
As of right now, since this feature is in Preview, the only supported images for AzureAD authentication is Windows Sever 2019 Datacenter and Windows10 1809 and later.

I'll assign this question to author to see if they know if the Windows Server 2019 with SQL Server VM image is on the roadmap.

[2020-06-15 22:22] normesta commented on #56249
Thanks @dingmeng-xue . I switched out the command as per your request. The change should appear in the live version of the documentation by tomorrow morning.

[2020-06-15 22:22] normesta commented on #56249
#please-close

[2020-06-15 22:22] #56249 closed

[2020-06-15 22:38] JimacoMS3 commented on #55586
Hi @eladeyal-intel,

Thanks for your feedback! You're absolutely correct about AMQP/MQTT over WebSockets. We also support HTTPS on the device side. I've added all three to the sentence in question. The updates are now live. I'll leave this issue open for a couple of days for you to comment if you think additional work needs to be done.

Thanks again for your help,

Jimaco

[2020-06-15 22:39] normesta commented on #56653
Thank you for your input @sql-deadwood. Yes our tutorials take folks down a specific path and don't account for all setups and configurations. We reserve most of that information for supportive articles located in our "how to" and "conceptual" content. If you have a suggestion for how the text could be altered in this article, please post back and we'll see if we can incorporate this. Thank you!

[2020-06-15 22:39] normesta commented on #56653
#please-close

[2020-06-15 22:39] #56653 closed

[2020-06-15 22:43] Grace-MacJones-MSFT commented on #57106
Hi @Janell-Huyck, thanks for bringing this to our attention! we will update the docs shortly.

[2020-06-15 22:47] Grace-MacJones-MSFT commented on #57108
Hi @haydenbr, thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2020-06-15 22:54] Grace-MacJones-MSFT commented on #57106
Thanks for catching this error in the doc! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-06-15 22:54] #57106 closed

[2020-06-15 23:06] NillsF opened #57114 "ARM deployment scripts page isn't inclusive for Linux/Mac users"
The documentation page about the new ARM deployment scripts methodology isn't inclusive for Linux/Mac users. A sentence like "For Linux and Mac, you can find the information on the Internet." makes a user of Linux/Mac feel like a second-hand citizen. It would be nice if the documentation page included a sample on how to set this up with Linux/Mac in mind.

---
#### Document Details

⚠ *Do not edit

[2020-06-15 23:15] CharlKlein commented on #38914
Awesome News. Any details re the preview ?

[2020-06-15 23:26] dlepow commented on #56741
@reinventit - Thanks for the feedback. Currently the cloud native buildback capability can't queue a build from a private GitHub repository. You could build from a local source context - for example, files cloned from a private repo. Would this help?

[code]
If you want to suggest a feature, please see the [Azure Feedback Forum](https://feedback.azure.com/forums/903958-azure-container-registry).

[2020-06-15 23:38] KranthiPakala-MSFT commented on #56980
Hi @Dwayne75 Could you please share a screenshot of HBase version you see in your portal? I have escalated this to HDInsight team to get more clarification.

Thank you.

[2020-06-15 23:46] autocloudarc commented on #56580
Hi @TravisCragg-MSFT. The version of PowerShell I was using is actually 5.1.19... see invocation header below. I am also attaching the transcript, which I know is pretty lengthy, but a search for the corresponding operationId of 9e26b776-b9e5-4591-9e3b-ffd3d64b0d75 will indicate the error message. Thanks.
[Deploy-AzureResourceGroup-TRANSCRIPT-2020-06-07-0938.log](https://github.com/MicrosoftDocs/a

[2020-06-15 23:48] KranthiPakala-MSFT commented on #56980
Hi @Dwayne75,

Just got a confirmation from HDInsight team that the new release coming with HBase 2.1.6 are still rolling out to all public regions gradually. It may take a week to be available to all regions. The doc was updated with release not just ahead.

Hope this info helps.

Thank you.

[2020-06-15 23:52] ecfan commented on #56878
Hi @steveculshaw,

Thanks for reaching out! I've added a work item to the backlog for prioritization.

[2020-06-15 23:58] neeleshray-msft commented on #55829
@curtand Can this be checked ?

[2020-06-16 00:01] gvashishtha opened #57115 "Typo in consumption code"
You need requests.post (with an "s" after "request")

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38e267fb-efa2-dab5-aa83-4a4addc39ee8
* Version Independent ID: e1d506d0-c6bf-47ed-a12c-7bb50416c865
* Content: [How and where to deploy models - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-lear

[2020-06-16 00:02] fanioz opened #57116 "403 Forbidden"
[Enter feedback here]
nginx installed properly.
opening my ip address shows 'welcome on nginx'
after the last step (installing WP) and call : myipadrees/wordpress :
         I got the issue 403 Forbidden, what setting am I missing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 937f2d29-c487-7806-9021-a00bbb198303
* Ver

[2020-06-16 00:03] neeleshray-msft commented on #55595
@Larryngolog
As the article suggests - _"To use tenant restrictions, your clients must be able to connect to the following Azure AD URLs to authenticate: login.microsoftonline.com, login.microsoft.com, and login.windows.net."_. These are the authentication URLs for logging into Microsoft Services. Hence the login to the Azure Portals would not be blocked.

We will be closing the thread now. Let us

[2020-06-16 00:03] #55595 closed

[2020-06-16 00:05] neeleshray-msft commented on #54498
@msmimart Could this be checked ?

[2020-06-16 00:37] SnehaGunda commented on #53921
@souvik-ausnet I don't understand the first part of your question, are you not able to import the data or are you saying the statement "Imported into PowerBI" isn't right? It actually should be Power Query.

After you provide the connection string details, you will see a view similar to this. Select the highlighted icon then the actual data is displayed. I didn't use the weather data when testing

[2020-06-16 00:38] BharathNimmala-MSFT commented on #57114
@NillsF Thank you for sharing your feedback. Assigning this issue to our document author @mumian to further evaluate the feedback and update the document as needed.

[2020-06-16 00:43] SnehaGunda commented on #56955
Can you please install the latest version and try again? if that doesn't work too can you please create a [support request](https://portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/overview) someone on our team will reach you to debug the issue.
If it results in any doc update I will update as needed.

[2020-06-16 00:43] tamram commented on #56128
@alexvy86 - We'll add this to the documentation when the resolution is available. Thanks for reporting!

#please-close

[2020-06-16 00:43] #56128 closed

[2020-06-16 00:46] TravisCragg-MSFT commented on #57078
@AlienPie Your Existing VPN Gateway should be able to function without issue when forced tunneling is configured, assuming that no [VPN Gateway throughput limits](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpngateways#benchmark) are hit as a result of this change. There should be no changes made to the gateway itself, only routes that send outbound internet traffic across

[2020-06-16 00:47] mvfolino68 commented on #56844
@BharathNimmala-MSFT any update here?

[2020-06-16 01:02] TravisCragg-MSFT commented on #56698
@surajmuthreja This is basic functionality of a [Network Security Group](https://docs.microsoft.com/en-us/azure/virtual-network/security-overview). Here is an example rule that denies all outbound traffic to a network with range '10.4.0.0/16'

Priority | Source              | Source ports | Destination       | Destination ports | Protocol | Access
--          | --                      |  --

[2020-06-16 01:02] #56698 closed

[2020-06-16 01:15] martindr opened #57117 "403 forbidden at Invoke GraphTopologyList step"
Followed all the instructions but at the 'Invoke GraphTopologyList' step in VS Code I get a 403 forbidden response.

[Update: Adding full JSON response]

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73a6443e-3b51-1441-809b-ab38383c8a8d
* Version Independent ID: c19622f4-a88e-f593-521e-590612cc4a66
* Content: [

[2020-06-16 01:27] originalnetadmin opened #57118 "On CentOS 7.x, chrony doesn't appear to be configured to use a PTP source clock"
Document states:
On Ubuntu 19.10 and later versions, Red Hat Enterprise Linux, and CentOS 7.x, chrony is configured to use a PTP source clock.

Checked and also got customer feedback that chrony doesn't appear to be configured by default on CentOS 7.7

$ head /etc/chrony.conf
/# Use public servers from the pool.ntp.org project.
/# Please consider joining the pool (http://www.pool.ntp.org/join.html

[2020-06-16 01:31] tonesandtones opened #57119 "What does "planned to be unswapped" mean?"
The section "**Settings that are swapped**", includes the text "Features marked with an asterisk (*) are planned to be unswapped."

What does "planned to be unswapped" mean? Does it mean that those networking features are currently swapped during a slot swap operation, but a future planned App Service feature release will mean those networking features will no longer be slot swapped? Or does it me

[2020-06-16 01:37] sunshine69 commented on #25941
Hi,
Is there any updates on this? Basically as of now if I get into the link above https://azure.microsoft.com/en-us/pricing/details/load-balancer/ I saw no string saying "Load balancing between Virtual Machines that reside inside of a Virtual Network (Internal Load Balancing) is free of charge."

Does it mean that the page has changed and also the policy? From a end users reader perspective what

[2020-06-16 01:37] Bug-Reaper opened #57120 "No information about what regions these are available in."
No information about what regions these are available in.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbd3d56a-818d-5870-c718-ea05d5cd0bf8
* Version Independent ID: 3715a9b6-bb56-d192-5a8f-8e451d6c004e
* Content: [ND-series - Azure Virtual Machines - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/vir

[2020-06-16 01:52] prashantma commented on #56750
Thanks Tim.
Regarding #1-2, will db engine attempt to use data already read from collection and available in memory, knowing nothing has changed in DB, everything that is in container is in memory...and then RUs will be less when same query is run again and again, compared to running the query first/later times, which will require read from storage.
Regarding #3, exactly same query on same collect

[2020-06-16 01:52] #56750 closed

[2020-06-16 02:05] BryanTrach-MSFT commented on #57086
@ezYakaEagle442 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-16 02:06] BryanTrach-MSFT commented on #57076
@whatisthejava Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-16 02:13] KrishnaG-MSFT commented on #57111
@amjad-Alhusseini Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-16 02:18] mike-urnun-msft commented on #57050
@jackchenquest Difference lies in the execution context and being able to distinguish when to expect which policies to have executed. APIM will execute the policies in the inbound block when a client calls APIM. However, policies in the backend block are executed when APIM calls the backend.

[2020-06-16 02:25] TravisCragg-MSFT commented on #56580
This seems to be an issue with PowerShell, and the specific version.

Error Message:
Additional details:
    Code: MissingJsonReferenceId
    Message: Value for reference id is missing. Path properties.ipConfigurations[0].properties.subnet.

Workarounds: Use a different PowerShell version or additional deployment method (CLI, Template)

Further troubleshooting is being done via a Support Request,

[2020-06-16 02:25] #56580 closed

[2020-06-16 02:47] VitalyMCT opened #57122 "Hide and show graph buttons - discontinued?"
Have the "hide" and "show" graph buttons been removed from the current UI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4308e20a-eb4f-ad5c-604f-ec6472158a57
* Version Independent ID: e2083e65-5557-b665-b4ec-0ee486c5851c
* Content: [Data flow graphs - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-fac

[2020-06-16 02:49] KranthiPakala-MSFT commented on #56828
@sandou0917 We have assigned the issue to the content author. They will evaluate and update the document as appropriate.

@mamccrea Could you please have a look at this feedback?
Also the below images seems to be out dated and needs an update.

![image](https://user-images.githubusercontent.com/50185738/84726221-3ed36d80-af41-11ea-94f3-4751db706fa5.png)

Thank you.

[2020-06-16 02:52] timsander1 commented on #56750
Regarding #1-#2, the optimizing you are describing does not exist in Azure Cosmos DB. If you run the same query on the same container over and over again, the RU charge will always be the same. In this case, you'd want to create indexes (you can index as many properties as you'd like).

Regarding #3: This is unexpected behavior. Could you confirm that you ran the query one after another? If the nu

[2020-06-16 02:58] VitalyMCT opened #57123 "Debug settings - out of date"
The directions and screenshots in this section appear to be out of date with the current UI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97b73eb5-3313-6dbd-2dc3-56ef526ac29a
* Version Independent ID: 0d2d41da-442b-39f4-d101-0fe495291692
* Content: [Mapping data flow Debug Mode - Azure Data Factory](https://docs.micr

[2020-06-16 03:01] VitalyMCT commented on #57123
The issue here may be that the settings are only shown when debugging is enabled. Perhaps this can be made clear in the description.

[2020-06-16 03:15] mike-urnun-msft commented on #57081
Hello, @parthipanr - Thank you for your feedback. Yes, per our [documentation here](https://docs.microsoft.com/en-us/azure/api-management/api-management-access-restriction-policies#LimitCallRateByKey), this policy is unavailable in the Consumption tier at this time.

[2020-06-16 03:19] cpdohert commented on #34451
Having the same problem with a django app in a container.  Set both PORT and WEBSITES_PORT to 8000 and I get the same thing as @wbsmolen , a random port every startup.

`docker run -d -p 1674:8000 --name django-XXXXX -e PORT=8000 -e WEBSITES_ENABLE_APP_SERVICE_STORAGE=false -e WEBSITES_PORT=8000 -e WEBSITE_SITE_NAME=django-XXXXX -e WEBSITE_AUTH_ENABLED=False -e WEBSITE_ROLE_INSTANCE_ID=0 -e WEBSIT

[2020-06-16 03:24] weitzhandler commented on #57098
I guess this issue can be closed, unless you want to keep it open for self-reference to update the docs accordingly.

[2020-06-16 03:29] jay0604 commented on #57057
Hi Sneha

I am referring to the following Azure document

https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/high-availability-guide-rhel

Thank You
Jayanth

On Mon, Jun 15, 2020 at 4:12 AM SnehaAgrawal-MSFT <notifications@github.com>
wrote:

--
Thanks and Regards
MR.J

[2020-06-16 03:31] VitalyMCT opened #57124 "Data flow icon update"
Very minor issue: data flow icon in the last screenshot in this page has changed in the latest UI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97b73eb5-3313-6dbd-2dc3-56ef526ac29a
* Version Independent ID: 0d2d41da-442b-39f4-d101-0fe495291692
* Content: [Mapping data flow Debug Mode - Azure Data Factory](https://doc

[2020-06-16 03:33] wbsmolen commented on #34451
I reached out to some Microsoft stakeholders who should be able to escalate this.

In the interim, and without excusing/disregarding the core issue here, I added a docker-compose.yml file in the same directory as my dockerfile. The docker-compose explicitly exposes 4000:4000. This opened up the port for me.

The weird thing is this is a single container deployment. The app service config isn’t set

[2020-06-16 03:42] ram-msft commented on #57097
@tbrownio Thanks for the question. We are investigating the issue and will update you shortly.

[2020-06-16 03:44] ram-msft commented on #57115
@gvashishtha Thanks for the feedback. We will update you shortly.

[2020-06-16 03:59] CawaMS commented on #56705
@shashiranj, @ransagy I looked into the issue and will work on updating the doc this week. Meanwhile, if you are blocked by anything (how to use the new config builder, etc) please let me know.

[2020-06-16 04:00] KrishnaG-MSFT commented on #56789
@fredobas Verified and updated the document as required. The changes would go live soon, probably in less than 24 hours. Thanks. #please-close

[2020-06-16 04:00] #56789 closed

[2020-06-16 04:05] parthipanr commented on #57081
Hi @mike-urnun-msft , Thank you for your update. Any plan to include this policy in consumption tier?

[2020-06-16 04:12] VikasPullagura-MSFT commented on #57118
@originalnetadmin
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-16 04:12] VikasPullagura-MSFT commented on #57118
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2020-06-16 04:13] CHEEKATLAPRADEEP-MSFT commented on #57122
@VitalyMCT  Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2020-06-16 04:14] CHEEKATLAPRADEEP-MSFT commented on #57123
@VitalyMCT  Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2020-06-16 04:15] CHEEKATLAPRADEEP-MSFT commented on #57124
@VitalyMCT  Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2020-06-16 04:17] VikasPullagura-MSFT commented on #57120
@Bug-Reaper
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-16 04:29] SeanFeldman opened #57125 "Confusing max execution time for Premium plan"
The document has two sections that are confusing.

The [Premium plan](https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#premium-plan) section says:

While the summary section [Function app timeout duration](https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#timeout) for default and maximum duration says:

1. Is the default 30 or 60 minutes?
1. if the defaul

[2020-06-16 04:36] SumanthMarigowda-MSFT commented on #56672
@CageySea The PR request has been raised!
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-16 04:36] #56672 closed

[2020-06-16 04:39] BharathNimmala-MSFT commented on #56994
@dsedivec Thanks again for bringing this to our notice , assigning this issue to @dsedivec  our document author to further evaluate the feedback and updated the document accordingly.

[2020-06-16 04:41] markjbrown commented on #57110
This is not the same thing. Session consistency is a client-centric consistency model. Strong consistency is a data-centric model. Strong consistency means that data is consistent, regardless of who is reading it. This is not the case with Session consistency where the reader does matter. This is why consistency guarantees are spelled out as "consistent-prefix, monotonic reads, monotonic writes, r

[2020-06-16 04:41] TravisCragg-MSFT commented on #57086
@ezYakaEagle442 A DNS forwarder is something that is set on a DNS server, I am not sure if it is possible to configure on a Windows 10 client.

If you want a Windows 10 client connected via a VPN to resolve this address without a custom DNS server, you would need to set the DNS server of the computer to the Azure DNS 168.63.129.16.

This is not a good practice, as your computer will lose DNS funct

[2020-06-16 04:42] SumanthMarigowda-MSFT commented on #56812
@dinesh1393 Thank for reaching out. Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? Also I see you have posted similar query in[ Q&A](https://docs.microsoft.com/en-us/answers/questions/34496/getting-oauth-token-error-while-executing-azcopy.html) platform I would like to follow-up there
We w

[2020-06-16 04:42] #56812 closed

[2020-06-16 04:43] mvark opened #57126 "user-assigned managed identity example"
After the definition of user-assigned managed identity, there is a question "What is a good example?" but no answer

Was it missed out inadvertently? If not, please add it or remove the sentence itself.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72861cc1-7081-cf6e-b7f9-e700a16faa9a
* Version Independent ID: c870872

[2020-06-16 04:47] BryanTrach-MSFT commented on #57084
@ram-suresh Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

Please note that we scope issues on this repro to feedback related to the docs. If you have a product question, please post it on MSDN or Stack Overflow. Thank you for your understanding.

[2020-06-16 04:49] BryanTrach-MSFT commented on #57088
@BakkerJan Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-16 04:53] SumanthMarigowda-MSFT commented on #56583
@MakurodaHotmail Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused. what is cloud partner portal ?
You are not able to create leads to table storage when firewall is on, you need IP to whitelist

recommend posting your question in https://azure.microsoft.com/en-in/support/community/  since it's not directly related to the documentation. We'll foll

[2020-06-16 04:53] #56583 closed

[2020-06-16 04:57] mike-urnun-msft commented on #57081
@parthipanr We typically don't comment on upcoming features and/or specific timeframes on this channel publicly. Please consider submitting a feature request (or upvote an existing one if one exists) on the [Azure UserVoice](https://feedback.azure.com/forums/248703-api-management) channel for the APIM team to review.

[2020-06-16 04:58] kummanish commented on #56802
@webbermt  can you please share the server details where you observed the specific gateway IP. Is it a MySQL or a PostgreSQL server ?

[2020-06-16 05:01] BryanTrach-MSFT commented on #57103
@tmurfet Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-16 05:04] BharathNimmala-MSFT commented on #56707
@yokhaldi  Apologies for delayed response on this. Requesting you to refer to [this GitHub thread](https://github.com/MicrosoftDocs/azure-docs/issues/22715) and see if it helps. Also further assigning this  issue to our document author @bwren to further evaulate the feedback and see if need to get help from our engineering team to update the script to support Python 3.

[2020-06-16 05:05] BryanTrach-MSFT commented on #57116
@fanioz Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-16 05:06] mike-urnun-msft commented on #56824
Hello, @amervitz - Provided that both the source & target environments are configured with their app settings (sticky & non-sticky) correctly such that the source environment results in well-prepared and ready to consume same traffic (both http or event-based triggers) as the target's environment, the swap operation will ensure that none of the currently-running invocations are aborted and no requ

[2020-06-16 05:06] #56824 closed

[2020-06-16 05:19] aubrey-y commented on #6745
so just to elaborate, downloading the azure cli and running `az login` will generate `azureProfile.json` along with a bunch of other files with info about your active subscription

[2020-06-16 05:21] jnimander commented on #56941
Database-level auditing is enabled. If the audit destination is storage,
then Log Analytics and View Dashboard are not available. When I changed the
destination to Log Analytics, the options to view logs became available.
Makes sense, but this isn't obvious from the documentation.

ma 15. kesäk. 2020 klo 23.35 NavtejSaini-MSFT <notifications@github.com>
kirjoitti:

[2020-06-16 05:28] DavidTrigano commented on #56941
Hello @jnimander
Thanks for your feedback. We will consider changing the documentation to make it more clear.

@NavtejSaini-MSFT you can go ahead and close this ticket.

[2020-06-16 05:34] Sharmistha-Rai commented on #46515
This has been changed. Updated article can be found here - https://docs.microsoft.com/en-us/azure/site-recovery/concepts-on-premises-to-azure-networking#get-new-ip-addresses

[2020-06-16 05:46] KalyanChanumolu-MSFT commented on #57028
@RonnieQuan I hope your query has been addressed.

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

You could also post future issues on our new community forum [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) for better visibility

[2020-06-16 05:46] #57028 closed

[2020-06-16 05:48] SwathiDhanwada-MSFT commented on #56048
@Dev-ML11 Thanks for providing the information. I am checking internally with engineering team and I will update you soon.

[2020-06-16 05:50] BhargaviAnnadevara-MSFT commented on #57021
@Azasyaid404 We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-06-16 05:50] #57021 closed

[2020-06-16 05:50] krispenner commented on #56841
Thank for the confirmation and for sharing that great reference page.

@Ericgre I think there is an error on that page though, the highlighted item should read **Private Endpoint** as well I believe.

https://docs.microsoft.com/en-us/azure/app-service/networking-features#use-case-and-features

![image](https://user-images.githubusercontent.com/8837910/84736328-726ec180-af5a-11ea-9593-6a41b039a682.

[2020-06-16 05:55] Samantha-Yu commented on #57049
Thanks for the feedback! This article has been refreshed to address the issue. We will now proceed to close this thread.
(Please open a new issue if you have follow up questions.)

#please-close

[2020-06-16 05:55] #57049 closed

[2020-06-16 05:55] MatsMolina commented on #36458
I also see this warning message: `Storage is not configured, Function scaling will be limited. Click to learn more` . Havent had website WEBSITE_CONTENTAZUREFILECONNECTIONSTRING or WEBSITE_CONTENTSHARE. Just as Korkiak mention, any updated or official guideline?

[2020-06-16 05:58] SwathiDhanwada-MSFT commented on #56917
@barbkess  Can you please review this request ?

[2020-06-16 06:01] TwoSeven99 commented on #51864
Apologies for the delay in replying.

From memory I seem to remember that while I could set everything up, data should not show up until I had an azure license.

I can see now in Azure Active Directory under licenses, all products that along with my PowerBI Pro license there is one for Power BI (free) with 0 assigned.

As the item is closed and my issue was resolved. This is resolved for me.  Much

[2020-06-16 06:10] AmitavaHazra opened #57127 "Myapps portal visibility"
If we have 100 enterprise application assigned to a user. Can the user be able to see all application in a single page over myapps portal ? How will be user experience for 100 application visibility at a time from myapps portal ? Any paging concept is there ?

Reference:
https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/hide-application-from-user-portal

---
#### Document Details

[2020-06-16 06:15] dcurwin commented on #57111
#reassign:pvrk

[2020-06-16 06:19] pvrk commented on #57111
No. AzCopy is a utility to move file to and from a storage account. In this scenario, the end target is a iSCSI server which is exposed as normal volumes. So, using the regular linux commands to traverse across volumes should work.

[2020-06-16 06:20] Bengkel commented on #56984
@blackchoey Take a look at https://docs.microsoft.com/en-us/azure/iot-edge/how-to-devops-project. In the pipeline I changed amd64 to arm32v7. The Microsoft hosted Unbuntu-16.04 build agent works, the Unbuntu-18.04 throws the error.

[2020-06-16 06:35] shashishailaj commented on #57126
@mvark Thank you for your feedback . We will investigate and update the thread.

[2020-06-16 06:36] sp4rc opened #57128 "Please clarify what unit Mi is or describes"
As the title says, please clarify/explain what the unit `Mi` means. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a445f8cc-6581-ad43-1dba-719a94eda81a
* Version Independent ID: 31280746-d8de-91b4-d430-91693c2e869d
* Content: [Concepts - Kubernetes basics for Azure Kubernetes Services (AKS) - Azure Kubernetes Se

[2020-06-16 06:40] chris-bowman opened #57129 "Incorrect PowerShell for adding System Managed Identity to VMs?"
The code snippets for assigning a system managed identity VMs are using an incorrect syntax. They should be using -IdentityType, not -AssignIdentity with the latest Az module.

currently:
`$vmConfig = New-AzVMConfig -VMName myVM -AssignIdentity:$SystemAssigned ...`
and
`$vm = Get-AzVM -ResourceGroupName myResourceGroup -Name myVM
Update-AzVM -ResourceGroupName myResourceGroup -VM $vm -AssignIdenti

[2020-06-16 06:49] souravmishra-msft commented on #56189
Closing this thread for now since no updates.

[2020-06-16 06:49] #56189 closed

[2020-06-16 06:49] souravmishra-msft commented on #56925
Closing this thread since no more updates on this.

[2020-06-16 06:49] #56925 closed

[2020-06-16 06:51] mike-urnun-msft commented on #57050
@jackchenquest I hope the answer above clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-16 06:51] #57050 closed

[2020-06-16 06:53] bertrandpons commented on #56867
@ajlam thank you for your answer. I will go deeper through the MySQL documentation.

[2020-06-16 06:55] franzmiltner commented on #43704
If you let me know how, happy to reach out internally.
As a short summary of the case: We were not in any dev scenario but hunting that confusing log message in a use-of-product scenario (e.g. when using Conditionally Access Terms of Use, you get tons of AADSTS50158 which in hindsight turned out to be expected but obfuscated the actual bug we where seeing). But good to hear you are working on maki

[2020-06-16 06:55] ShachafGoldstein opened #57130 "Tutorial not working"
Keep getting `location of the resource is required` when trying to run the create command

btw instead of grep we can use `--query`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0aca150-4747-7670-f465-7439aecc40e5
* Version Independent ID: f836844c-0089-1477-57af-43a76181e5d6
* Content: [Deploy resources with Azure C

[2020-06-16 06:58] ShachafGoldstein commented on #57130
duplicate of #13298

[2020-06-16 06:58] #57130 closed

[2020-06-16 06:59] Navatalin opened #57131 "Missing "Using Azure.AI.FormRecognizer.Training" from Quickstart"
Hi,

The SDK being used: Azure.AI.FormRecognizer --version 1.0.0-preview.3

The FormTrainingClient object is not found, I think this is because In the section that defines the using lines for the Azure.AI the following is missing:
using Azure.AI.FormRecognizer.Training;

Thanks.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-06-16 07:14] koheikawata opened #57132 "Hello,"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba5c8d71-18d7-bf5d-ad4c-f05c9b0fe0db
* Version Independent ID: 6323dfc4-b079-4905-a9d1-4987a9eacc48
* Content: [Trigger events in ML workflows - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-use-event-grid#feed

[2020-06-16 07:22] asergaz commented on #56733
@pulakkumar599 , sorry for the late feedback.

Having PowerBi on a different Azure AD shouldn't influence the success of this How-to guide.

1) Can you confirm that on step 12 you were able to successfully login to your account where you previously created the streaming datasets and were able to select from the dropdown the Workspace, Dataset and Table?

2) Can you reduce the number of values bein

[2020-06-16 07:23] asergaz commented on #56733
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-16 07:23] #56733 closed

[2020-06-16 07:25] ansred commented on #57031
Hi @jacksiergiej

That sound like exactly what I am facing. Have you figured out the steps/KB to use to get that user added as external in the tenant?

@MarileeTurscak-MSFT I am looking for a KB still to fix that issue as I asked above, please share one.

Thanks

[2020-06-16 07:27] shashishailaj commented on #57127
@AmitavaHazra Thank you for your query . We will investigate and update the thread.

[2020-06-16 07:31] asergaz commented on #56984
Assigning the author of the doc @shizn to evaluate the feedback on this thread and enhance the doc accordingly. We may need to add a note on the limitations between amd64 and arm32v7.

Thanks

[2020-06-16 07:31] shashishailaj commented on #57129
@chris-bowman Thank you for your feedback . We will review this with the content team and have it updated as per review.

[2020-06-16 07:38] blackchoey commented on #56984
Please refer this issue: https://github.com/dotnet/dotnet-docker/issues/775 , building arm32 images on amd64 is not supported.

And the solution template from devops project should be updated to avoid confusing.
The solution created by devops project uses a multi tag image `microsoft/dotnet:2.1-sdk` in dockerfile, which means docker will decide which image to pull according to your platform. So ev

[2020-06-16 07:42] dcurwin commented on #56994
Thank you for the question. In Azure Backup documentation we consistently use "storage service encryption" for SSE.

Regarding the other pages, you'll need to ask the authors of those pages.

#please-close

[2020-06-16 07:42] #56994 closed

[2020-06-16 07:59] Soundman32 opened #57134 "Emulator instructions?"
There doesn't appear to be any examples of how to run the ARM script against the emulator.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff94a85a-cdd6-94d8-1848-0c69e04e54e1
* Version Independent ID: ccf04691-9ed7-c44e-88ce-1ac6c2ac6a88
* Content: [Quickstart - Create an Azure Cosmos DB and a container by using Azure

[2020-06-16 08:01] ChenRahimiPlaytika opened #57135 "Configure RBAC for runbooks"
There is wrong value for ResourceName at line 12 under section "Configure RBAC for runbooks"
Line 12 should be:
$rb = Get-AzResource -ResourceGroupName $rgName -ResourceType "Microsoft.Automation/automationAccounts/runbooks" -ResourceName "$rbName"
instead of
$rb = Get-AzResource -ResourceGroupName $rgName -ResourceType "Microsoft.Automation/automationAccounts/runbooks" -ResourceName "$automationA

[2020-06-16 08:03] odufresne commented on #56192
Hi,

Do you know when the documentation will be updated ?

Thanks. :)

[2020-06-16 08:05] Gerould opened #57136 "Commands for AzCopy with a service principal and using certificate"
Hi,

This issue is directly connected to incident #54757 which reports a missing parameter to make the AzCopy login authenticating with a service principal and using a certificate.

azcopy login --service-principal --certificate-path path-to-certificate-file --tenant-id=
It needs one more parameter: --application-id application-id

I use AzCopy inside of a script that runs without user interaction

[2020-06-16 08:05] damendo commented on #56192
Removed the note and update the fields. Let me know if that updated fields worked for you.

[2020-06-16 08:11] odufresne commented on #56192
I don't see these modifications or don't know what i've to modify according to your tutorial.

Have you update the documentation?

[2020-06-16 08:13] damendo commented on #55811
Investigating

[2020-06-16 08:15] VikasPullagura-MSFT commented on #57120
@Bug-Reaper
You can check the region availability using this [link](https://azurecharts.com/instances/lookup). And select the VM Instance Type and see as below:

![image](https://user-images.githubusercontent.com/48944027/84749436-99b7a400-afd7-11ea-8fd0-e7ad13ff3a99.png)

Also, you can go to this [link](https://azure.microsoft.com/en-us/global-infrastructure/  ) and see as below:

![image](https:

[2020-06-16 08:18] asergaz commented on #56303
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-16 08:18] #56303 closed

[2020-06-16 08:19] swapnilbjadhav opened #57137 "Getting 403 even after adding a Service Principal in FHIR API Allowed Object ID"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-06-16 08:19] SubhashVasarapu-MSFT commented on #57005
@khushi978 , Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-06-16 08:19] #57005 closed

[2020-06-16 08:20] AjayKumar-MSFT commented on #57117
@martindr, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-06-16 08:21] AjayKumar-MSFT commented on #57119
@tonesandtones, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-06-16 08:22] cveld opened #57138 "Provide dataset through a pipeline parameter"
We get the following error when providing the dataset reference through a pipeline parameter refence:
`The document creation or update failed because of invalid reference ''.`

We use the following inputs json:
[code]

How can we set the dataset through a pipeline parameter?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-06-16 08:22] tp6hannah opened #57139 "Storing IP address data from Azure Portal is not working"
as tittle , it seems storing IP address data from Azure Portal is not working
![image](https://user-images.githubusercontent.com/20080114/84750148-e3af8280-aff5-11ea-8855-87abfbd75884.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 730ff1f8-2aff-bedf-a026-1e52af3f2af8
* Version Independent ID: 6e1f9b29-76b9-f7fd-74

[2020-06-16 08:29] AjayKumar-MSFT commented on #57130
@ShachafGoldstein,  Thanks for leveraging Azure docs feedback channel to share your valuable feedback.  We see that the duplicate thread is merged and this thread closed, kindly let us know if you need any further assistance on this topic.

[2020-06-16 08:37] ValerianHts opened #57140 "nltest /dsgetdc:cosmo /keylist /kdc"
Option /keylist is not available (anymore?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50b27a01-622e-d980-83f2-1ed27060613b
* Version Independent ID: e6472e15-10d7-bd4a-da02-558f2774dbaf
* Content: [Passwordless security key sign-in to on-premises resources (preview) - Azure Active Directory](https://docs.microsoft

[2020-06-16 08:41] ransagy commented on #56705
@CawaMS I was able to piece together the rest from the other available documentation and examples, So i'm good. Thanks!

[2020-06-16 08:50] AjayKumar-MSFT commented on #57125
@SeanFeldman,  Apologies for any inconvenience with this. Thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-06-16 09:08] Ericgre commented on #56841
Good catch! thank you very much I corrected the doc

[2020-06-16 09:16] widged commented on #56302
This is new. I have had Azure functions on a Linux disk for 8 months. They were read/write from the portal. I saw that notice for the first time around June 10, 2020. Before updating the docs, it might be worth checking whether it was or not a deliberate change.

[2020-06-16 09:18] swapnilbjadhav commented on #39489
@hansenms It works for me when i provide the Object Id of the User(Admin). But i have created a Service Principal with the same User and i am passing the Object Id of Service Principal in the Allowed Object Ids textarea of Azure FHIR API and it doesn't get's authorized hence 403 issue.

[2020-06-16 09:19] swapnilbjadhav commented on #36581
@hansenms It works for me when i provide the Object Id of the User(Admin). But i have created a Service Principal with the same User and i am passing the Object Id of Service Principal in the Allowed Object Ids textarea of Azure FHIR API and it doesn't get's authorized hence 403 issue.

[2020-06-16 09:25] RaffaelGrob commented on #53415
I Use the SAML Policy in conjunction with ADFS. Is there a way to make ADFS handle this?

<samlp:Status>
        <samlp:StatusCode Value="urn:oasis:names:tc:SAML:2.0:status:Responder" />
        <samlp:StatusMessage>The user has forgotten their password.</samlp:StatusMessage>
    </samlp:Status>

[2020-06-16 09:37] m4ff00 opened #57142 "Update supported distributions and versions"
Newer versions of some distributions are not listed and i wonder if they are really not supported.
For example RHEL/CentOS 8.x and Ubuntu 20.04 are not listed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13249027-1524-dd0c-9d83-15a9733a3d19
* Version Independent ID: bf8a2d1a-8d9b-228a-6919-16127f315d40
* Content: [A

[2020-06-16 09:46] Marusyk commented on #56955
@SnehaGunda  I have the latest version of storage explorer! Look at the screen

[2020-06-16 09:48] VikasPullagura-MSFT commented on #57142
@m4ff00
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-16 09:48] VikasPullagura-MSFT commented on #57142
@axayjo
Can you please check and add your comments on this doc update request as applicable.

[2020-06-16 09:51] VikasPullagura-MSFT commented on #57008
@emb3dded
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-06-16 09:51] #57008 closed

[2020-06-16 09:51] m4ff00 commented on #57142
The page was last edited 12/13/2018 so i guess it needs a little update.

[2020-06-16 09:56] VikasPullagura-MSFT commented on #57025
@rachelxj-ms I have checked with internal team and got the confirmation that support for Cloud Services in VS 2019 Python workload is removed.

Doc team is working on removing this [document](https://docs.microsoft.com/en-us/visualstudio/python/python-azure-cloud-service-project-template?view=vs-2019).

[2020-06-16 09:57] tigerdeccan opened #57144 "This page is not up to date"
There is a new version available 2.80 .can you please add the version details and release notes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d2d7d54-74a4-6a49-66f4-3cf4083c1434
* Version Independent ID: 005cf301-2333-9671-df9d-4188d94c2576
* Content: [Work with Azure Desired State Configuration extension version his

[2020-06-16 10:00] psmanhas commented on #57116
@fanioz The 403 Forbidden error means that your server is working, but you no longer have permission to view all or some of your site for some reason. Can you please provide the full error which you are getting while accessing the Wordpress ?

Moreover if you can provide me with your `/etc/nginx/sites-available/default` file by removing your public Ip Address from it that will help me to assist yo

[2020-06-16 10:07] femsulu commented on #56829
@mingshen-ms  - any update please?

[2020-06-16 10:09] BhargaviAnnadevara-MSFT commented on #56759
@CaseyHaralson We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-06-16 10:09] #56759 closed

[2020-06-16 10:14] vipulsparsh commented on #57127
@AmitavaHazra  We use the scroll option on single page to cover all targeted applications.
So they would be able to continue scroll down words till they see all the applications.
We do not limit the number of applications per page and then add multiple pages with numbers.

Let me know if you have any questions.

[2020-06-16 10:16] #56869 closed

[2020-06-16 10:18] vipulsparsh commented on #56933
@greendx Let us know if you are still facing the issue.

[2020-06-16 10:19] Sidefix opened #57145 "[Microsoft Message Analyzer has been retired and is mentioned in this doc]"
[Microsoft Message Analyzer was retired on November 2019, and is still referenced in this article without indication that it has been retired. Please see: https://docs.microsoft.com/en-us/openspecs/blog/ms-winintbloglp/dd98b93c-0a75-4eb0-b92e-e760c502394f]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b046ac69-c930-b7

[2020-06-16 10:25] BhargaviAnnadevara-MSFT commented on #57139
@tp6hannah Thanks for the question! We're investigating this and will get back to you shortly.

[2020-06-16 10:29] femsulu commented on #56844
Hello @mvfolino68 - sorry for the delay.  AFAIK, Timezones are not applicable in this context.
It's possible I misunderstood your question. Please clarify if this is the case.
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

#please-close
@mingshen-ms  - FYI

[2020-06-16 10:29] #56844 closed

[2020-06-16 10:30] pietrobr commented on #11420
Hi I'm trying to follow the same tutorial, but on Hyper-V Ubuntu VM on Windows 10

https://docs.microsoft.com/en-us/azure/iot-edge/how-to-auto-provision-simulated-device-linux

On step 4 I get this error:

sudo ./tpm_device_provision

Gathering the registration information...
Error: Time:Tue Jun 16 10:15:15 2020 File:/home/pietro/azure-iot-sdk-c/provisioning_client/deps/utpm/src/tpm_sock

[2020-06-16 10:33] ThomasZeman commented on #50164
Hi, I can confirm normal Let's Encrypt certificates **do** work with Azure CDN. I created my own Acme client inspired by these two blog posts:

- https://marcstan.net/blog/2019/09/07/Let's-encrypt-with-Azure-functions/
- https://www.arnavion.dev/blog/2019-08-04-lets-encrypt-via-azure-function/

and was able to download a certificate from Let's Encrypt which was accepted by Azure CDN. I would assum

[2020-06-16 10:35] sandou0917 commented on #56828
@KranthiPakala-MSFT @mamccrea
Thank you for your investigation.
I also checked various things here and was able to connect to the Ubuntu VM with SSH.
The Doc mentioned that the destination IP address of the inbound traffic rule of the network security group should be set to the public IP of the VM, but setting the private IP of the VM allowed SSH connection.
Perhaps, when connecting to the VM from

[2020-06-16 10:37] ThomasZeman commented on #50164
The Let's Encrypt Authority uses a certificate signed by "DST Root CA X3" which is supported by Azure CDN.

[2020-06-16 10:45] AnuragSharma-MSFT commented on #57134
@Soundman32 Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2020-06-16 10:59] KrishnaG-MSFT commented on #57135
@ChenRahimiPlaytika Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-16 11:01] KrishnaG-MSFT commented on #57144
@tigerdeccan Thanks for the comment.
Assigning @MGoedtel for visibility, review and document enhancement consideration.

[2020-06-16 11:03] SubhashVasarapu-MSFT commented on #56735
@baljitaujlaVD, Appreciate your patience. Ideally Azure firewall should work as expected in place of NVA here in this architecture. We are assigning the respective SME here for better insights.

[2020-06-16 11:22] ChiragMishra-MSFT commented on #57138
@cveld This channel is for driving improvements towards MS Docs, Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums- [Microsoft Q and A](https://docs.microsoft.com/answers/topics/azure-data-factory.html) / [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-data-factory). Once you post your issue on forums, it will have visibil

[2020-06-16 11:22] #57138 closed

[2020-06-16 11:32] ChiragMishra-MSFT commented on #57138
@cveld Just to get you unblocked, Datasets are independent of pipelines, which means a dataset can be used in multiple pipelines. Hence, you cannot use a pipeline parameter to name your dataset.

[2020-06-16 11:32] mvfolino68 commented on #56844
Hi, what is the timezone for month end billing cut off? They seem incredibly relevant, especially for sending metering records. If my customer has some metering event before the end of month what is the last time i can send it for before the new month starts. It cant be all time zones. Is it gmt?

[2020-06-16 11:36] coreazure-jd commented on #56946
In addition to working with Azure.Storage.Blobs the code and documentation needs to explain how to make this scenario work with the Azure.Identity sdk as I can't find any documentation around how to use the TokenCredentials mechanism with a TokenCache AND an Authorization Code to get the a token from another api.

[2020-06-16 11:58] jacksiergiej commented on #57031
@ansred I have not figured out the solution yet, but I have  ticket open with support.  To me, it seems like a Microsoft backend issue thats out of our control. I can access the classic UI fine, as well as my app proxied appilcations both from the UI and direct external URL.

This tells me that my guest user is fine.  Once I click the "try it" button, I'm asked to pick my user again and then I rec

[2020-06-16 12:00] ruimmpires opened #57147 "I can't see the notebooks tab!"
I can't see the notebooks tab!
https://photos.app.goo.gl/tJosQAd6Q3wdK4Ar6
What am I missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66e72ec8-9829-8622-430e-dc7010a6fb86
* Version Independent ID: de09a49d-e479-15fc-76cb-051bf3dca465
* Content: [How to download notebooks(preview) data - ML Studio (classic) - Azu

[2020-06-16 12:08] cookiesoldier commented on #47352
im experiencing the same issue as ejdrian313, but it appears that the stored procedure executes as expected, but for now im catching the error and discarding it.
Hope someone has time to look into this :)

[2020-06-16 12:09] AmitavaHazra commented on #57127
@vipulsparsh,

Thanks for update.
We do not limit the number of applications per page and then add multiple pages with numbers.

- Adding multiple pages with number means ?
that means is there any paging concept ? or all will be visible in single page with scroll. ?

[2020-06-16 12:14] shashishailaj commented on #57140
@ValerianHts Thank you for your query.  Could you please share which document you are referring about? We primarily use GitHub for documentation enhancement .

[2020-06-16 12:14] bertrandpons opened #57148 "ARR Affinity - Auto-scaling"
Hi,

Could you please provide details on the behavior of the app with ARR Affinity enabled and autoscaling?

Let's say I deploy a stateful ASP.NET web app on Azure Web App. Therefore I enable ARR Affinity. I configure autoscaling as well.

What happens if ever an instance is put down due to autoscaling. Does ARR Affinity prevent the scale in as long as user session is still active, or is the user

[2020-06-16 12:16] shashishailaj commented on #57055
@curtand Could you please review this issue and help improving the documentation?

[2020-06-16 12:23] Raregine opened #57149 "Error during build and push"
Getting error which looks to come from executing following in the classifier docker file:
`RUN pip install flask pillow --index-url 'https://www.piwheels.org/simple'`

Im trying to deploy to a raspeberry Pi so I've modified the tutorial as follows:
-exported custom vision docker as a ARM (Raspberry pi 3)
-changed default platform to arm32v7
-left the following in the module.json file and deleted t

[2020-06-16 12:37] souravmishra-msft commented on #56854
@jeevansd, Can you please take a look at this.

[2020-06-16 12:37] souravmishra-msft commented on #56856
@jeevansd, Can you please take a look at this.

[2020-06-16 12:37] souravmishra-msft commented on #56855
@jeevansd, Can you please take a look at this.

[2020-06-16 12:49] Bartolomeus-649 opened #57152 "Multiple issues: Introduction to Azure Cosmos DB: Gremlin API"
Re: Introduction to Azure Cosmos DB: Gremlin API

There are so many problems that it would be impossible to list them all, but here are some of them

1. The name of the page "Introduction to Azure Cosmos DB: Gremlin API" indicates that the purpose of the article is to introduce the reader to the "Gremlin API" and how to use it with the "Azure Cosmos DB", but the pages main focus is much more of an

[2020-06-16 12:57] pihalve opened #57153 "Sample code doesn't build"
The sample code "Role-base access control for Service Bus" you are linking to on GitHub doesn't build. It would be great if it could be fixed and not just remove link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ab42911-035e-3195-6eb7-2096b79f46b2
* Version Independent ID: cf3e110d-0a97-1e82-15f6-f03842200d1a
* Con

[2020-06-16 12:58] ld0614 opened #57154 "Document implies that custom internet facing routes will work"
I believe that this implies that while you can use it for private endpoints in Azure these instructions aren't exclusively for that purpose.  Based on the conclusion of case 120061124004438 it appears that this isn't the case.  The main issue appears to be the way that the VPN Gateway can't forward traffic to the internet successfully.

I would love to see this become usable but in the meantime so

[2020-06-16 13:30] roygwells commented on #50030
In what way did you change the integration runtime?  switch to a new one?

[2020-06-16 13:38] bathizte opened #57155 "Reset Existing Service Principal Credential : password generation non-hexadecimal characters errors"
Hello,

I followed this guide to reset existing SP credentials ; However I run into issues :

`az ad sp credential reset --name $SP_ID --query password -o tsv`

generates non-hexadecimal character password (at least with "azure-cli": "2.6.0).

Subsequent

`az aks update-credentials     --resource-group test-cluster --name test-cluster --reset-service-principal     --service-principal $SP_ID     --

[2020-06-16 13:40] cryptofetti commented on #28926
So I have a bit of a unique issue tied to a hostpool I deployed. I provisioned an Image - WIN 10 Multi-Session VM - OS 1909. Host pool deployment succeeded, and I assigned an AD group to the Desktop Application Group.

The users in this group are able to see and remote into the HostPool via the Remote Desktop Application, without issue.

When they go to the Web Client it shows a message after auth

[2020-06-16 13:54] cpdohert commented on #34451
Thanks, @wbsmolen , that may get me unstuck

[2020-06-16 13:54] bandwiches opened #57156 "No PaloAlto Quickscript?"
No quick script for PaloAlto?  This is a hugely popular vendor with support for Azure VPN on all of their PAN-OS platforms (its listed on your page) and there's not a single quick script for this vendor. This seems like a huge miss.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 779fbece-f67b-28ef-143e-f58ecfa29b1d
* V

[2020-06-16 13:55] Raregine commented on #57149
managed to get it to finish pushing by updating:
`RUN pip install flask pillow --index-url 'https://www.piwheels.org/simple'`
to
RUN pip install flask pillow --extra-index-url 'https://www.piwheels.org/simple'

Solution works in the VScode EdgeHub Simulator But classifier module is not working after deploying to the Raspberry Pi

the module logs give me:
`standard_init_linux.go:211: exec user proc

[2020-06-16 13:59] VitalyMCT opened #57157 "Downside of multiple warm instances"
Can you please clarify the following statement:

Is this recommend against due to the cost of running multiple instances? Or due to some other considerations?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 607b235f-468f-0494-3e7e-5f1e53e745f4
* Version Independent ID: bbed8d23-b22a-d50c-22fb-e656f4cfebd2
* Content: [Ma

[2020-06-16 14:13] Katynelsonfb opened #57158 "Do you have a date when this connector will be updated to use OAuth2?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f04a295-e4b9-a23b-02e7-232aab5db7ce
* Version Independent ID: cbcadc03-205b-c383-fd3d-7aa4d763f122
* Content: [Copy data from Xero using Azure Data Factory - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/connector-xero)
* Co

[2020-06-16 14:17] tomcooperca opened #57159 "Clarify use of NSG's in AKS best practices"
According to the [support policies](https://docs.microsoft.com/en-us/azure/aks/support-policies#network-ports-access-and-nsgs) outlined in the AKS docs, the use of NSG's on AKS virtual networks can render a cluster unsupported by Microsoft.

However, in a number of instances in the best practices documentation, there is NSG depicted as in use on the AKS vnets. See examples here:

https://docs.micr

[2020-06-16 14:22] #57126 closed

[2020-06-16 14:27] tomcooperca commented on #53153
Hi folks, any update on this? More & more Azure services are supporting private endpoints and we're eager to start taking advantage of that feature. However, we are unable to integrate DNS due to the limitations I detailed above.

[2020-06-16 14:44] rgamage opened #57160 "Conflicting statements about client secrets"
This document states two conflicting descriptions of when the client secret is generated for an application.  The doc says the secret is generated at the time that the app is created/registered, then later it says the secret is generated when you click to create a client secret.  I think the latter is correct.  There are no secrets generated upon app creation/registration.

Relevant quote from thi

[2020-06-16 14:46] #55482 closed

[2020-06-16 14:46] JamesTran-MSFT commented on #57160
@rgamage
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-16 14:47] zr-msft commented on #55482
thank you @jorge-aguas for the suggestion!

I modified the command and included it in a change to the content. It should be live soon.

[2020-06-16 14:53] SatishBoddu-MSFT commented on #57149
@Raregine ,Thanks for the feedback! We are currently investigating and will update you shortly. Please let us know if you have further updates on this issue.

[2020-06-16 14:55] PalmEmanuel opened #57162 "Grammatical error: Try should be Tries"
"When you install Azure AD Connect and you start synchronizing, the Azure AD sync service (in Azure AD) does a check on every new object and **try to find an** existing object to match."

Should probably be **tries to find an**.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4244527f-88c0-8b3a-c09e-2dfe3260f6ad
* Versi

[2020-06-16 14:56] bgavrilMS commented on #56556
We confirmed with the folks who own this control (WAB - windows authentication broker) and there is no limit. They stated:

[code]

MSAL can only give 1 account via login hint as far as I know.

[2020-06-16 14:57] bgavrilMS commented on #56556
After 5 accounts a horizontal scroll bar appears.

[2020-06-16 14:58] amanmcse commented on #57072
@ajaysethi8789 Navigate to **Azure Portal > Key vaults > your_key_vault > Access policies > Add Access Policy**.
In secret permissions field, select desired permissions and Select Principal section, select the application that you are using to access the secret.

Refer to the screenshot below:
![image](https://user-images.githubusercontent.com/33834131/84791168-e4551280-b00f-11ea-95c9-ac49896a5c14

[2020-06-16 15:03] SubhashVasarapu-MSFT commented on #57156
@bandwiches , Thanks for reaching out. We will investigate and update this thread.

[2020-06-16 15:04] erikanderson opened #57163 "Clarification on order of Call AppInsights-SignInRequest"
Under https://docs.microsoft.com/en-us/azure/active-directory-b2c/analytics-with-application-insights#add-the-technical-profiles-as-orchestration-steps

It says "Call AppInsights-SignInRequest as orchestration step 2 to track that a sign-in/sign-up request has been received:"  however in the code sample it is marked as orchestration step 1

---
#### Document Details

⚠ *Do not edit this section. I

[2020-06-16 15:10] alac0m commented on #56992
@AshokPeddakotla-MSFT Are you able to help answer this question?

[2020-06-16 15:16] JamesTran-MSFT commented on #57162
@PalmEmanuel
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-16 15:16] mrbullwinkle commented on #57139
@tp6hannah it looks like the issue is less with the App Insights IP masking functionality and more that your resource is having some sort of Azure Resource Manager related error that is impacting your resource's ability to generate resource manager templates. If you click see error details what does the error message say? (Also what region is this resource in, I just tested with a few of my resour

[2020-06-16 15:18] mrbullwinkle commented on #57016
#assign:lgayhardt

[2020-06-16 15:18] mrbullwinkle commented on #57016
@lgayhardt can you make this update?

[2020-06-16 15:27] mrbullwinkle commented on #56706
The replacement to the legacy status monitor is: https://docs.microsoft.com/azure/azure-monitor/app/status-monitor-v2-overview

[2020-06-16 15:27] vipulsparsh commented on #57127
@AmitavaHazra  :  I meant all will be visible in single page with scroll, no paging is done.
Let me know if you have any questions

[2020-06-16 15:28] malopMSFT commented on #53153
Hi Tom

The suggested DNS integration for this scenario is listed here:
https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-dns#virtual-network-and-on-premises-workloads-using-a-dns-forwarder

Recommendation is to use a single zone for all VNets, using a single DNS forwarder Link on the main VNet only.

As you described, this will need other VNets creating Private Endpoints to ref

[2020-06-16 15:28] #53153 closed

[2020-06-16 15:29] mrbullwinkle commented on #56706
#assign:lgayhardt

[2020-06-16 15:32] mrbullwinkle commented on #56593
#assign:lgayhardt

[2020-06-16 15:34] YutongTie-MSFT commented on #57132
@koheikawata
Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home) or [Stack Overflow ](https://stackoverflow.com/)as it could be better place to get help on your scenario. These forum community members could provi

[2020-06-16 15:35] SaurabhSharma-MSFT commented on #57147
@ruimmpires Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-16 15:37] CeciAc opened #57164 "Wrong supported account types"
@Fastor01 commented on [Sun Jun 14 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/680)

Point 6 under "Register a web applikation" (not legacy) describes the wrong supported account types. On my AAD B2C the userflow only works when selecting "Accounts in any organizational directory or any identity provider. For authenticating users with Azure AD B2C."

---
#### Dokumentdetails

⚠

[2020-06-16 15:38] SaurabhSharma-MSFT commented on #57163
@erikanderson Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-16 15:39] SaurabhSharma-MSFT commented on #57164
@CeciAc Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-06-16 15:39] mrbullwinkle commented on #56509
Going to close this out as the docs have been updated. If there is need for further follow-up please let us know and we can reopen the issue.

[2020-06-16 15:39] mrbullwinkle commented on #56509
#please-close

[2020-06-16 15:39] #56509 closed

[2020-06-16 15:40] SaurabhSharma-MSFT commented on #57098
@weitzhandler We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-16 15:40] #57098 closed

[2020-06-16 15:41] petenorth opened #57165 "Section 'Test creation of a pod with a specific user context' - purpose is unclear"
The section 'Test creation of a pod with a specific user context' does not include a clear reason as to why (even using a specific user context) the deployment fails.

It is kind of logical that after recognising that the NGINX container tried to use root to bind to port 80 you would then try run the container as a specific user . Then, presumably because the user tried to use the specific user to

[2020-06-16 15:42] YutongTie-MSFT commented on #57131
@Navatalin
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-16 15:42] BharathNimmala-MSFT commented on #54898
@MrAusnadian Really appreciate you taking time to come back and updating this thread. Apologies that there were supportability issues and you had to move to Logz.io. I will further share this feedback with our Internal product team and see if we can support these scenarios.

[2020-06-16 15:48] mrbullwinkle commented on #54254
This change was made live 11 days ago with this PR:
[Update JS](https://github.com/MicrosoftDocs/azure-docs/commit/c7265ccbdf9fa7e06cdd0330028e24069ccdfb27#diff-9297a2144388472047612cdb8315a246)

[2020-06-16 15:49] mrbullwinkle commented on #54254
#please-close

[2020-06-16 15:49] #54254 closed

[2020-06-16 15:52] hansenms commented on #57137
It is hard to determine from this what the issue actually is. If you are getting a 403, it generally means that the token is valid (had the right authority and audience), but the user or service principal that the token is issued for is not allowed access. We support two different RBAC schemes:

1. Azure RBAC: https://docs.microsoft.com/en-us/azure/healthcare-apis/configure-azure-rbac
2. Local RBA

[2020-06-16 15:58] AnuragSharma-MSFT commented on #57033
@aldass  Thank you for pointing out the issue, I have updated the code snippet accordingly.
The changes should be live once the PR is approved.

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-16 15:58] #57033 closed

[2020-06-16 15:59] YutongTie-MSFT commented on #57147
@ruimmpires Hi Rui, the Notebooks(preview) feature was removed on April 13 2020. The removal of the Notebooks(preview) tab and user notebook files is currently rolling out to Azure regions worldwide.

@likebupt Hi Blanc, could you please update more information/guidance for user who need to migrate Azure portal? Thanks a lot.

[2020-06-16 15:59] djpmsft commented on #56279
Hey @wildky ,

Currently the only way to programmatically get managed identity is via SDK, Powershell or REST API. I am surprised that you were unable to use the [Get-AzDataFactoryV2](https://docs.microsoft.com/en-us/powershell/module/az.datafactory/get-azdatafactoryv2?view=azps-4.2.0) command in DevOps. Make sure that you are using the right version of powershell.

Thanks,
Daniel

[2020-06-16 16:05] mrbullwinkle commented on #53564
Closing out the docs side issue as the docs no longer incorrectly  mention out-of-box support for display resolution.

[2020-06-16 16:06] mrbullwinkle commented on #53564
#please-close

[2020-06-16 16:06] #53564 closed

[2020-06-16 16:08] bachoang opened #57167 "assigning claims mapping policy to the service principal does not work in step 3"
step 3 of this guidance uses the following Graph call:
Assign claims mapping policy to service principal
Request
HTTP

POST https://graph.microsoft.com/v1.0/servicePrincipals/f47a6776-bca7-4f2e-bc6c-eec59d058e3e/claimsMappingPolicies/$ref

Content-type: claimsMappingPolicies/json

{
  "@odata.id":"https://graph.microsoft.com/v1.0/policies/claimsMappingPolicies/6b33aa8e-51f3-41a6-a0fd-d660d276197a"

[2020-06-16 16:14] chetansriv commented on #56854
@v-nagta Please fix the tutorial with this update. Reply URL is mandatory now and document should mention this.
CC: @jeevansd

[2020-06-16 16:18] webbermt commented on #56802
Actually, I accidentally pulled up the MySQL documentation instead of the MS SQL at https://docs.microsoft.com/en-us/azure/azure-sql/database/connectivity-architecture#gateway-ip-addresses.  That document has 104.40.168.105 listed correctly.

[2020-06-16 16:18] #56802 closed

[2020-06-16 16:19] hansenms commented on #39489
Check your token (something like https://jwt.ms). Make sure the object id (`oid` claim) is in the box of allowed object ids.

[2020-06-16 16:20] swapnilbjadhav commented on #57137
@hansenms i have tried with both the approaches as mentioned aboved:
1. Azure RBAC: https://docs.microsoft.com/en-us/azure/healthcare-apis/configure-azure-rbac - Works fine for me no issues here
2. Local RBAC: https://docs.microsoft.com/en-us/azure/healthcare-apis/configure-local-rbac - With this approach if i try to fetch the object id of my service principal using below command:

az ad sp show -

[2020-06-16 16:21] chetansriv commented on #56855
@giggio Thanks for sharing the feedback. NameID is called Unique User Identifier but I agree that it should be more clearer from the UI. Also, in most of the cases UPN is mapped with User.mail so it might work for them but that's not always true. GutHub expects NameId to be mapped with user.mail only so that's correct.

@v-nagta - Please mention that NameId is Unique User Identifier here on highli

[2020-06-16 16:21] wildky commented on #56279
@djpmsft Thanks for the response. My original point was that the documentation does a great job of all the examples for programmatically **setting** a managed identity of a Data Factory using SDK/Powershell/REST, but fails to give examples for **getting** the managed identity programatically (except for powershell).

I still think it would be valuable to add documentation on getting the managed id

[2020-06-16 16:25] JimacoMS3 commented on #51864
Thanks for the followup!

[2020-06-16 16:26] chetansriv commented on #56856
@giggio This is a generic statement which might not be applicable in all cases. If any app needs specific roles to be setup then we provide right guidance there along with instructions on how to setup those roles. But we'll discuss internally to see if we can revise this statement to make it more clearer. Thanks for sharing the feedback.
cc: @jeevansd

[2020-06-16 16:30] mrbullwinkle commented on #52890
#assign:lgayhardt

[2020-06-16 16:31] servonlewis opened #57169 "Not working with NextJS SSR"
Hello, is it possible to use this library with NextJS?

When attempting to use it, i get the following.

ReferenceError: window is not defined
    at AuthCache.BrowserStorage (C:\Users\slewis\infraportalRemake\InfraPortal\FrontRemake\node_modules\msal\lib-commonjs\cache\BrowserStorage.js:14:9)
    at new AuthCache (C:\Users\slewis\infraportalRemake\InfraPortal\FrontRemake\node_modules\msal\lib-com

[2020-06-16 16:35] MostlyArmless commented on #56814
After troubleshooting more myself, it appears the problem I was having was not with the `sed` commands. The template file being `curl`ed appears to be missing the `location` property so I was able to fix it by adding a `jq` command to the script, but I haven't made a pull request for this change since it requires having a non-standard package installed (`jq`). Perhaps yall want to just update the

[2020-06-16 16:37] PeterCLu commented on #57115
Thanks @gvashishtha for the find! A PR has been created to fix the typo. You should see the change live in a few hours. I'll proceed to #please-close this issue.

If you feel that your documentation issues hasn't be resolved, feel free to open a new issue with additional details. Thanks!

[2020-06-16 16:37] #57115 closed

[2020-06-16 16:38] KausalyaArumugam opened #57170 "Issue stating "This Identity Provider has already been configured in DocuSign. Please specify a different issuer to continue""
Hello,

I followed the steps that is provided in the guide. But, I get error while saving the Azure IDP details in DocuSign. i.e in "Configure DocuSign SSO" step "J".
It states like **"This Identity Provider has already been configured in DocuSign. Please specify a different issuer to continue"**

Is that mean the IDP details which I have provided is already been used by DocuSign? If Yes, Why can'

[2020-06-16 16:42] AmitavaHazra commented on #57127
Now it is clear. thanks.

[2020-06-16 16:42] #57127 closed

[2020-06-16 16:50] VitalyMCT opened #57171 "Typo fix"
Typo:

"project" should be "projection"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab483dce-2c77-ee8e-4fac-b07080f777bb
* Version Independent ID: d4019c1e-2ada-39ef-6c44-06652d219650
* Content: [Schema drift in mapping data flow - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/concepts-data

[2020-06-16 16:52] SnehaAgrawal-MSFT commented on #57128
@sp4rc Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-16 16:54] SnehaAgrawal-MSFT commented on #57136
@Gerould Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-16 16:56] hansenms commented on #57137
You need to obtain a token for the service principal. If your object id in the token is not in the list of allowed object ids, you will get a 403.

Obtain a token for the service principal using "client credentials" flow (https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-client-creds-grant-flow)

Sounds like you have added the service principal to the list but you are not a

[2020-06-16 16:56] KranthiPakala-MSFT commented on #56980
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you.

[2020-06-16 16:56] #56980 closed

[2020-06-16 16:57] arunmariappan opened #57172 "Document instructions to create action group is not sync with Portal UI"
Document instructions to create action group is not synced with Portal UI. Please fix it

![image](https://user-images.githubusercontent.com/2525449/84804485-782eda80-b020-11ea-9c95-985fe5f2efb9.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e27bedb5-7ff6-f4ae-eb7e-4ee25472d25b
* Version Independent ID: 804b814e-4

[2020-06-16 16:58] SnehaAgrawal-MSFT commented on #57145
@Sidefix Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-16 16:58] RohitMungi-MSFT commented on #56932
@anuraj The PR is now merged. The change should be updated in the documentation in the next 24 hours.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-06-16 16:58] #56932 closed

[2020-06-16 16:59] SnehaAgrawal-MSFT commented on #57148
@bertrandpons Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-16 17:00] RohitMungi-MSFT commented on #57032
@soniaang The PR is now merged. The change should be updated in the documentation in the next 24 hours.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-06-16 17:00] #57032 closed

[2020-06-16 17:01] PeterCLu commented on #57132
Hi, @koheikawata there is no feedback provided in this issue. As a result, I'll proceed to #please-close this issue.

If you would like assistance, please open a new issue with additional details.

[2020-06-16 17:01] #57132 closed

[2020-06-16 17:01] wlockwood opened #57173 "Screenshot not censored or failed highlighting"
In section four ("Create an Azure Function app") there's a screenshot that someone either tried to censor and failed, or tried to highlight and failed. If you look closely at https://docs.microsoft.com/en-us/azure/includes/media/functions-create-function-app-portal/function-app-create-hosting.png, you can see that the word "Consumption" is still visible in the blacked-out portion.
![image](https:/

[2020-06-16 17:01] MGoedtel commented on #56545
I'll bring this up with the PG to confirm and then update the documentation accordingly. I'm bugging this now. I appreciate the feedback @sglasg .  #please-close

[2020-06-16 17:01] #56545 closed

[2020-06-16 17:05] JamesTran-MSFT commented on #57162
@PalmEmanuel
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

Thank you for your time and patience!

[2020-06-16 17:05] #57162 closed

[2020-06-16 17:10] mkrdip commented on #56252
Thanks, @Blackmist. Please keep us updated on Azure ML Monitoring SDK.

[2020-06-16 17:18] ajlam commented on #56867
Thanks for the update @bertrandpons. I'm going to request to close the issue for now, but please feel free to re-open if required.

#please-close

[2020-06-16 17:18] #56867 closed

[2020-06-16 17:18] cryptofetti commented on #28926
Issue can be closed. I was using the wrong URL - Spring 2020 release.

I was directed to use this URL - https://rdweb.wvd.microsoft.com/webclient/index.html

[2020-06-16 17:21] PeterCLu commented on #56977
Hi @alathrop, thanks for the question. @likebupt can you  provide guidance here? Studio (classic) used to show regression weights in the output for modules. Is there something similar in the designer?

[2020-06-16 17:23] mlearned commented on #57128
You are asking about what is a "millicore?"  .. correct?

See:  https://docs.microsoft.com/en-us/azure/container-instances/container-instances-monitor

we can add a cross-link in the doc as it's missing there

[2020-06-16 17:24] JimacoMS3 commented on #44206
@jlian -- Thanks. I looked at this topic again. We already do point to the spot you mentioned in the [Routing endpoints](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-messages-d2c#routing-endpoints) section.

[2020-06-16 17:27] #56941 closed

[2020-06-16 17:31] fedehermida commented on #52291
Hi @danijam,

We have been using the blog you mentioned since we started working with Azure B2C. The issue we were experimenting was related with the _login-NonInteractive_ technical profile which was not included in the _TrustFrameworkExtensions.xml_.

Thank you very much for your early response.

[2020-06-16 17:31] JimacoMS3 commented on #44206
@RyanMannix Thanks for your feedback! As noted previously in the thread, IoT Hub is a trusted Microsoft service for storage as of May 2020 . I think this clears up the problem you reported. I'll leave this issue open for a few more days for you to comment if you feel the problem is not adequately addressed.

Thanks again for taking the time to bring this to our attention,

Jimaco

[2020-06-16 17:37] JimacoMS3 commented on #55586
Thanks for the thumbs up. I'll go ahead and close the issue.

[2020-06-16 17:37] JimacoMS3 commented on #55586
#please-close

[2020-06-16 17:37] #55586 closed

[2020-06-16 17:37] turnma opened #57175 "Page no longer relevant due to removal of configurable token lifetimes feature"
This page should be removed now that configurable token lifetime is being removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 248e65a4-a6cf-994a-afda-6f0fd2b434e1
* Version Independent ID: 37ded9c0-45fe-9e8a-f4d8-445acc91879a
* Content: [Change token lifetime defaults for custom Azure AD apps](https://docs.microsof

[2020-06-16 17:38] lgayhardt commented on #57016
Thank you for bring this to our attention.

The fix should go live this afternoon.

#please-close

[2020-06-16 17:38] #57016 closed

[2020-06-16 17:38] PeterCLu commented on #57147
Hi @ruimmpires , the Notebooks (preview) feature has been removed from Studio (classic).

If you are looking for a way to manage and run integrated notebooks, you can evaluate [Azure Machine Learning compute instances](https://docs.microsoft.com/en-us/azure/machine-learning/concept-compute-instance).

[2020-06-16 17:40] jlian commented on #55813
#please-close

[2020-06-16 17:41] #55813 closed

[2020-06-16 17:43] jlian commented on #51932
This is fixed now
![image](https://user-images.githubusercontent.com/2320572/84808946-3ff6b000-afbe-11ea-95f7-a3433de8ddae.png)

[2020-06-16 17:43] #51932 closed

[2020-06-16 17:44] BryanTrach-MSFT commented on #54070
@MichalLechowski Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-06-16 17:44] #54070 closed

[2020-06-16 17:44] tamram commented on #48715
@Ajay-Changulani - I don't see this issue. The first screenshot is showing access control settings for the container, not for the storage account. The screenshot matches the instructions in the text.

If you can provide more information, let us know. For now I am closing this issue.

#please-close

[2020-06-16 17:44] #48715 closed

[2020-06-16 17:45] PeterCLu commented on #55958
Hi @mikemowgli , this looks to be a technical support issue. This issue page is intended for documentation-based concerns.

The best way to get the technical support you need would be through a support ticket:

1. Navigate to the Azure portal.
1. Select the support question mark (?).
1. Select Help + support
1. Select New support request

![image](https://user-images.githubusercontent.com/10505176

[2020-06-16 17:45] swapnilbjadhav commented on #57137
@hansenms Yes, I have added the Object ID of Service Principal to the Allowed Object IDs list. But the token that i receive contains an object id of the user and hence the 403 error comes up.

But i am passing the correct parameters using postman still i am not able to fetch the service principal object it
Grant Type: Authorization Code
Callback URL: https://www.getpostman.com/oauth2/callback
Auth

[2020-06-16 17:45] #55958 closed

[2020-06-16 17:46] tamram commented on #52807
@aykay76 - Thanks for pointing out this compilation error. I've updated the example code to use the correct overload. The change should go live in the next day or so.

#please-close

[2020-06-16 17:46] #52807 closed

[2020-06-16 17:48] KranthiPakala-MSFT commented on #57171
@VitalyMCT
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-06-16 17:50] davek81 commented on #33632
Folks I have this very same issue, but have isolated it to one vnet. If I use a different vnet and setup a test Bastion host and Bastion subnet, then all works perfect. Just with my main production vnet I see this issue. Are there any requirements in the Route Table that need to be setup for Bastion to work?

[2020-06-16 17:50] KranthiPakala-MSFT commented on #57153
@pihalve
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-06-16 17:50] MGoedtel commented on #57079
Thanks for bringing this to my attention.  I'll have to file a work item with the product group to review and verify continued support for this scenario using this method.  And if so, update the script and relocate it to an appropriate repository (GitHub or PowerShell gallery).

[2020-06-16 17:51] KranthiPakala-MSFT commented on #57157
@VitalyMCT Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-06-16 17:53] KranthiPakala-MSFT commented on #57158
@Katynelsonfb We have assigned the issue to the content author to provide an update as appropriate.

@linda33wj Could you please provide an update on this query?

Thank you.

[2020-06-16 17:54] mhopkins-msft commented on #57033
Queue messages are strings. The data only needs to be Base64 encoded if it is binary.

[2020-06-16 17:55] BryanTrach-MSFT commented on #57012
@coxantohi Yes, the direct link was removed from the Azure Portal a few days ago. Azure Resource Explorer still exists though. Navigate to resources.azure.com to continue using the doc.

I am submitting a doc update now.

[2020-06-16 17:57] AlvinRamoutar opened #57176 "Broken link to load-balancer/troubleshoot-outbound-connection from load-balancer/load-balancer-outbound-connections"
Broken link to [load-balancer/troubleshoot-outbound-connection](https://docs.microsoft.com/en-us/azure/load-balancer/troubleshoot-outbound-connection) from [load-balancer/load-balancer-outbound-connections](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-connections) (shown below):

![image](https://user-images.githubusercontent.com/22155338/84810145-ebacf980-afd8-11ea-

[2020-06-16 17:59] CeciAc opened #57177 "Incorrect setting mentioned"
@timvanderweijde commented on [Tue Jun 16 2020](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/603)

[Voer hier feedback in]
Connection draining helps you gracefully remove back-end pool members during planned service updates. **You can apply this setting to all members of a back-end pool during rule creation.**

This is incorrect. You can provide the connection drain setting on creation

[2020-06-16 18:01] BharathNimmala-MSFT commented on #57172
@arunmariappan Thank you for bringing this to our notice. We will look into it and fix the document accordingly.

[2020-06-16 18:03] RyanHill-MSFT commented on #56957
Hi @saikovvuri let me know if that helps.

[2020-06-16 18:06] JamesTran-MSFT commented on #57175
@turnma
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-16 18:06] SaurabhSharma-MSFT commented on #57167
@bachoang Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-16 18:06] MarileeTurscak-MSFT commented on #57169
@servonlewis
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-16 18:08] #57012 closed

[2020-06-16 18:09] BryanTrach-MSFT commented on #57012
@coxantohi We updated the doc to reflect the recent changes. The updates should be publicly viewable within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-16 18:09] sp4rc commented on #57128
Exactly. A cross-link would be helpful.

[2020-06-16 18:12] shashishailaj commented on #57045
@mrcasancrem Unfortunately there is no way to recover this data . Ideally restore option should have been used while installing the app again and re-configuring it with the same email as [mentioned here in the article](https://docs.microsoft.com/en-us/azure/active-directory/user-help/user-help-auth-app-backup-recovery#recover-your-account-credentials-on-your-new-device).

As mentioned Begin recove

[2020-06-16 18:12] #57045 closed

[2020-06-16 18:14] leonnickjr opened #57178 "Report"
It would be really, really helpful to have this content in a tabular format that could be easily exported to a spreadsheet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03f9-e037-3a62-e4165fda7cb6
* Content: [Admin role descriptions and permissio

[2020-06-16 18:16] saikovvuri commented on #56957
Hello @RyanHill-MSFT ,
Yes I have that in my connectionstring.
 It looks like documentation is missing the step to add another app setting
AzureServicesAuthConnectionString in the Appsettings of the AppService to RunAs=App;AppId={ClientId of user-assigned identity}.

[2020-06-16 18:18] SnehaGunda commented on #56955
@NavtejSaini-MSFT can you please direct this issue to Cosmos DB support? As of now, it's not a doc issue.

[2020-06-16 18:19] RyanHill-MSFT commented on #56957
Hi @saikovvuri I can see adding the connection string as to the Application Settings of the App Service but RunAs=App;AppId= shouldn't be required though. Let me verify.

[2020-06-16 18:19] hansenms commented on #57137
That flow you are using is for getting a token for a user. You are using "authorization code flow". To get a token for a service principal you must use "client credentials flow" per the link above. So you would do something like:

[code]

You can also do that in Postman:

![image](https://user-images.githubusercontent.com/1149740/84812391-33c12180-afc3-11ea-9cdb-698532717d42.png)

[2020-06-16 18:19] TravisCragg-MSFT commented on #57154
@ld0614 Thanks for the feedback. I was not able to find a doc that addresses forced tunneling or internet bound traffic routing via a P2S VPN. I reviewed the Support Request you listed, and it is a known limit for internet bound traffic to route over a P2S VPN. Also, an Azure NAT service will not work by default for P2S VPNs as the P2S address space is not a configurable subnet.

This ask has been

[2020-06-16 18:21] aahill commented on #54710
The article should be updated soon. Thanks.

#please-close

[2020-06-16 18:21] #54710 closed

[2020-06-16 18:21] lgayhardt commented on #56706
#sign-off

[2020-06-16 18:21] lgayhardt commented on #56706
#please-close

[2020-06-16 18:21] #56706 closed

[2020-06-16 18:30] TravisCragg-MSFT commented on #33632
@davek81 Any custom routes or firewalls that would effect RDP / SSH traffic between the Azure Bastion subnet and the VMs will cause issues.

[2020-06-16 18:33] ansred commented on #57031
@jacksiergiej I totally agree with you and this is a big issue.

@MarileeTurscak-MSFT  Please advise

[2020-06-16 18:38] SnehaGunda commented on #57134
@Soundman32 Currently ARM templates aren't supported with the Emulator so we don't have any examples.

[2020-06-16 18:46] FasterDEV commented on #8243
It's completely incomprehensible, I don't understand why there is such a soft limit for multitenant applications. We will probably have to migrate to another cloud, otherwise I don't know.

[2020-06-16 18:46] davek81 commented on #33632
Ok this must be the cause. We have a firewall deployed in Azure and a user defined route for 0.0.0.0/0 with a next hop going to the internal firewall IP. Comparing to the routes on the other vnet where I have the working instance of Bastion, I can see the default route for 0.0.0.0/0 next hop is internet.

I just need to confirm what the routing requirements are for this. In the vnet where Bastion

[2020-06-16 18:46] tamram commented on #47484
@zhouwangzw - This page refers to client-side encryption of table properties via the .NET client library. This is separate from the service-side encryption that is automatically applied to all data in the storage account.

#please-close

[2020-06-16 18:46] #47484 closed

[2020-06-16 18:47] roygara commented on #44775
@ElanShudnow Sorry for the delayed response. Basically the first statement is referring to on-premises AD DS, not Azure AD DS. The documentation has been substantively changed at this point and both should be more clear. Did you have any other questions regarding this? Otherwise, I'll close this out after 2 days.

[2020-06-16 18:50] MonikaReddy-MSFT commented on #56706
@mrbullwinkle @lgayhardt - Thank you for providing your insights.
@samrueby - Thanks again for bringing this to our attention. We have updated the Doc and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-16 18:53] YutongTie-MSFT commented on #56890
@kobiwan
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-06-16 18:53] #56890 closed

[2020-06-16 18:53] flavio-neves opened #57180 "Incomplete Article"
Hello guys,

I followed the article and the solution simply doesn't work. If the RDG is behind the App Proxy, we get a Firewall credentials error or authentication failed one.

Search a lot and there's a lot of people trying to get help about this subject.

Please, review the guide and update the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-06-16 18:53] bandersmsft commented on #56722
@tjoyce-admin Closing this doc issue as you're getting support for this outside of GH issues.
#please-close

[2020-06-16 18:53] #56722 closed

[2020-06-16 18:56] nastassiar opened #57181 "ARM or Powershell"
Is it possible to add APIs to a Product via ARM or Powershell? Or is the portal the only option?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c12f877-77a9-0593-a539-2b011f9f83cd
* Version Independent ID: 0d600bc9-7ec1-27f5-5d27-a5d22e2e8629
* Content: [How to create and publish a product in Azure API Management](htt

[2020-06-16 18:59] TravisCragg-MSFT commented on #33632
@davek81 [Do not use a UDR within the AzureBastionSubnet](https://docs.microsoft.com/en-us/azure/bastion/bastion-faq#udr). If your VMs are behind a firewall, it can also pose additional challenges. [Here is a doc that discusses how Azure Bastion interacts with firewalls](https://azure.microsoft.com/en-us/blog/accessing-virtual-machines-behind-azure-firewall-with-azure-bastion/).

[2020-06-16 18:59] BryanTrach-MSFT commented on #57170
@KausalyaArumugam Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

[2020-06-16 19:00] #57171 closed

[2020-06-16 19:01] KranthiPakala-MSFT commented on #57171
@VitalyMCT  The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update.

[2020-06-16 19:01] jspiewak opened #57182 "Link to "Roles and permissions to access the payout report" goes to payout-summary"
The link with text "Roles and permissions to access the payout report." is to the payout-summary, not documentation about roles and permissions needed to access the report.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d34e8867-00fd-7165-f5ee-7934ad3dd20d
* Version Independent ID: b6149e6d-922b-a01a-c0b5-2f86380a2a98

[2020-06-16 19:05] zr-msft commented on #18219
@PeterIttner take a look at the example here which should be able to use to solve your problem:
https://docs.microsoft.com/azure/application-gateway/ingress-controller-annotations#backend-path-prefix

#please-close

[2020-06-16 19:05] #18219 closed

[2020-06-16 19:06] aahill commented on #54302
Thanks for this comment, I'll an item to my backlog to investigate helm. The computer host requirements are typically listed in the individual containers' installation article - in the "The host computer" section. Check [this article](https://docs.microsoft.com/azure/cognitive-services/cognitive-services-container-support?tabs=luis#container-repositories-and-images), to find the documentation for

[2020-06-16 19:06] #54302 closed

[2020-06-16 19:07] LittleBoxOfSunshine commented on #56801
@Karishma-Tiwari-MSFT related changes has been merged.

@devvrr Thanks for your feedback, the updated docs with examples will be available shortly.

[2020-06-16 19:08] LittleBoxOfSunshine commented on #56800
@Karishma-Tiwari-MSFT related changes has been merged.

@devvrr Thanks for your feedback, the updated docs with examples will be available shortly.

[2020-06-16 19:09] KumariSupriya commented on #56801
#please-close

[2020-06-16 19:09] #56801 closed

[2020-06-16 19:10] KumariSupriya commented on #56800
#please-close

[2020-06-16 19:10] #56800 closed

[2020-06-16 19:19] bmitchell287 commented on #49384
#please-close

[2020-06-16 19:19] #49384 closed

[2020-06-16 19:20] VitalyMCT opened #57183 ""Union by position" feature"
Regarding

Would it be possible to clarify which columns in the screenshot came from which source?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc31b506-9f97-a8d2-5d70-3e8d45eecc14
* Version Independent ID: 8e8707bb-3880-75e3-f205-65e4a7b0c2ae
* Content: [Mapping data flow union transformation - Azure Data Factory](h

[2020-06-16 19:23] Munyasya opened #57184 "Keep getting an error on the experiment run"
WARNING - Parameter `preprocess` will be deprecated. Use `featurization`
WARNING - Detected both `preprocess` and `featurization`. `preprocess` is being deprecated and will be overridden by `featurization` setting.
WARNING - Tensorflow support within AutoML is being deprecated.
WARNING - tensorflow module is not installed
WARNING - Parameter 'auto_blacklist' will be deprecated and enabled by defau

[2020-06-16 19:26] davek81 commented on #33632
I understand in normal circumstances I wouldnt need a UDR here, but there is already a UDR in place for 0.0.0.0/0 with next hop being the FW virtual appliance, also another for 10.0.0.0/16 and our Bastion subnet falls within this. Unfortunately this cannot be changed for our environment.
![image](https://user-images.githubusercontent.com/67019467/84818633-b6bb9980-b00e-11ea-94d5-8c651c4b88a0.png)

[2020-06-16 19:38] zr-msft commented on #29273
The documentation has been updated to use a custom domain as well as the production issuer.

#please-close

[2020-06-16 19:38] #29273 closed

[2020-06-16 19:40] TravisCragg-MSFT commented on #33632
@davek81  I would bypass the FW if possible.

If you are using a UDR on the AzureBastionSubnet, you will likely see communication issues, and it will be tricky to resolve. You can [review this doc to see what traffic is necessary for Azure Bastion to function](https://docs.microsoft.com/en-us/azure/bastion/bastion-nsg).

For your UDR, make sure that traffic destined for Azure Bastion is not sent t

[2020-06-16 19:40] #57024 closed

[2020-06-16 19:43] davek81 commented on #33632
I have confirmed the route table is not applied to the Bastion subnet so that simplifies it. However my VM is in a subnet with this route table applied. With 0.0.0.0/0 with next hop to firewall, I presume this will interfere with Bastion connecting to the VM. So would you suggest a UDR for the IP of the VM to bypass the firewall?

[2020-06-16 19:45] cconrado opened #57185 "Example doesn't make sense"
Was trying to see connecting to Azure AD using automation account. But the example referencing a vm action not anything with AD. Can this be corrected?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 747b9d5c-5785-2c35-11b1-7d4ea65cfa71
* Version Independent ID: 087270c1-9c2f-80d0-38c0-1fa5926d9683
* Content: [Use Azure

[2020-06-16 19:45] swapnilbjadhav commented on #57137
@hansenms Followed the above steps as mentioned. Now i am getting below error message.
status: 401 Unauthorized
{
    "resourceType": "OperationOutcome",
    "id": "9f9f38a3a004174ca35de837df58129e",
    "issue": [
        {
            "severity": "error",
            "code": "login",
            "diagnostics": "Authentication failed."
        }
    ]
}

[2020-06-16 19:50] TravisCragg-MSFT commented on #33632
@davek81 You can make another route that allows traffic destined for the AzureBastionSubnet to go directly to that subnet, instead of going to the firewall.

[2020-06-16 20:01] Bug-Reaper commented on #57120
What a god send, in weeks of looking up different VM-series specs, I've never encountered that page. Would be awesome if the docs for each series linked to that.

[2020-06-16 20:05] kobulloc-MSFT commented on #56949
@BarryShtPeas We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-06-16 20:05] #56949 closed

[2020-06-16 20:05] BharathNimmala-MSFT commented on #57182
@jspiewak Thank you for bringing this to our notice. Please review the Roles and Permissions to access Payout Report [here](https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/payout-summary-overview#roles-and-permissions).

I have raised a PR to correct the link in the document. Once the PR is reviewed and approved it will be merged to the main repo with in this week.

At thi

[2020-06-16 20:05] #57182 closed

[2020-06-16 20:05] zr-msft commented on #33938
Thank you for the feedback @lukos and @TroyWitthoeft !

A note was added at the end of this section indicating the appropriate permissions:
https://docs.microsoft.com/azure/aks/kubernetes-walkthrough#use-azure-cloud-shell

 #please-close

[2020-06-16 20:05] #33938 closed

[2020-06-16 20:07] hansenms commented on #57137
So a `401` would indicate that the token is not valid in terms of authority (`iss` claim) and/or audience (`aud` claim). Please verify that the `aud` claim matches the "audience" you have configured for the FHIR service. Say your configured audience is `https://myfhirservice.azurehealthcareapis.com` then you should use `scope=https://myfhirservice.azurehealthcareapis.com/.default` when you request

[2020-06-16 20:09] davek81 commented on #33632
That did it. I created a UDR to route traffic back to the Bastion subnet, instead of the 0.0.0.0/0 route to FW that I had in place. Thank you so much!

[2020-06-16 20:09] Munyasya commented on #57184
Also, getting the below errors on compatibility
ERROR: okpy 1.13.11 has requirement requests==2.12.4, but you'll have requests 2.23.0 which is incompatible.
ERROR: gym 0.15.3 has requirement cloudpickle~=1.2.0, but you'll have cloudpickle 1.4.1 which is incompatible.
ERROR: azureml-widgets 1.0.72 has requirement azureml-core==1.0.72.*, but you'll have azureml-core 1.7.0 which is incompatible.
ERRO

[2020-06-16 20:10] zr-msft commented on #33657
This issue appears to be resolved.

#please-close

[2020-06-16 20:10] #33657 closed

[2020-06-16 20:11] shaunakv1 commented on #53360
As recommended by @mootpointer I had success deploying the rails app after dockerizing it and deploying it to azure webapp in docker mode.  This is definitely more involved but I do like this approach much better as I don't have to deal with idiosyncrasies of the kudu pipeline.

That being said, MS shoud fix and streamline this asap, as docker approach is def more involved and prevents quick use o

[2020-06-16 20:14] JamesTran-MSFT commented on #57178
@leonnickjr
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-16 20:20] AlexPLC opened #57187 "question about Power BI Report Embed, Publish to web(public)"
Hi,

When I am trying to publish my chart to the web, it tell me to "contact admin to enable code creation". Can you tell me how can do this? Since I am the one that created the login and account I figured I am the admin role.

Thanks
--
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97ce2614-0e74-0f67-bf3f-8a477bd5f329
* V

[2020-06-16 20:20] roberts2727 opened #57188 "Speak to how Exchange attributes for synchronized users should be handled"
Your document does not speak to how exchange attributes for synchronized users should be handled. If users are synced through cloud provisioning does this make them cloud only mailboxes which can be manipulated through exchange online? Or are users still marked as synced from active directory with restrictions applied to what attributes can be manipulated in exchange online?

---
#### Document Det

[2020-06-16 20:22] autocloudarc commented on #56580
@TravisCragg-MSFT It's working now with PowerShell version 5.1.1904.1. Thanks. :-)

[2020-06-16 20:26] martinnormark opened #57189 "Newer CUDA versions in ACI?"
This wording can be misunderstood:

Does that mean it isn't possible to use a newer CUDA version as base image, such as `nvidia/cuda:10.2-base-ubuntu16.04` for a container, and run GPU workloads in ACI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87729a5b-eda2-985e-678a-45498839f6b8
* Version Independent ID: 8ce5224

[2020-06-16 20:33] camalloy opened #57190 "Create CSV Table / Send Email (v2) instructions for Logic Apps is broken"
The page shows how to create a CSV table from JSON an send it via email. However it seems with "Send Email (v2)" that the CSV all prints to a single line like this:
Column1,Column2 Value1, Value2

When it should print to multiple lines like this:
Column1, Column2
Value1, Value2

I was able to get around this by manually adding a "br" string in my raw data, example:

$array +=[pscustomobject]@{Colu

[2020-06-16 20:35] cesarswarowsky opened #57191 "Firewall configuration diagram"
I think that the diagram should be updated to a new one where the user contributor role can ignore firewall rule settings.

1. [DATABASE-LEVEL FIREWALL RULES] Client IP Address in Range?
Yes -> Connected / No -> 2.
2. [SERVER-LEVEL FIREWALL RULES] Client IP Address in Range?
Yes -> Connected / No -> 3.
3. [USER ROLE] User has Contributor role (or other role assignment)?
Yes -> Connected / No -> Ac

[2020-06-16 20:42] SaurabhSharma-MSFT commented on #57163
@erikanderson The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-06-16 20:42] #57163 closed

[2020-06-16 20:42] reinventit commented on #56741
@dlepow - Thanks for your response. A solution like this would certainly help and I think other customers as welI. I think most use cases require a build from a non-public repository.

However, the command you suggested is failing for me with the following message:
[code]
I have tried the heroku/buildpack as well, but seems to give the same problem.

[2020-06-16 20:44] SaurabhSharma-MSFT commented on #56376
@nkumars The PR for the fix has been created as part of GitHub issue [57163](https://github.com/MicrosoftDocs/azure-docs/issues/57163) and it will be merged soon. I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-06-16 20:44] #56376 closed

[2020-06-16 20:45] andrewatfornax opened #57192 "resourceId description incorrect"
In the ARM template, the description of the "resourceId" parameter is incorrect.

The description currently is: "Full Resource ID of the resource emitting the metric that will be used for the comparison. For example /subscriptions/00000000-0000-0000-0000-0000-00000000/resourceGroups/ResourceGroupName/providers/Microsoft.compute/virtualMachines/VM_xyz"

However, the actual template is expecting the

[2020-06-16 20:50] JamesTran-MSFT commented on #57180
@flavio-neves
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-16 20:53] flavio-neves commented on #57180
@JamesTran-MSFT Thank you for replying. As soon as you guys update the article, let me know, please. I'm trying to put RDS behind App Proxy to validate this solution for a client.

[2020-06-16 21:07] roygara commented on #54905
@cg6 Sorry for the delayed response. I agree with you that the section should be clarified. Instead of retitling the section, I'll add a note to the section that explains this behavior. Thanks for pointing this out and helping us improve the docs. :)

Did you have any other questions related to this? If not, I'll go ahead and close this out after two days.

[2020-06-16 21:15] zr-msft commented on #35160
Thank you for the feedback @uday31in

The table for Azure Policy has been updated: https://docs.microsoft.com/azure/aks/limit-egress-traffic#required-addresses-and-ports-for-aks-clusters-with-azure-policy-in-public-preview-enabled

#please-close

[2020-06-16 21:15] #35160 closed

[2020-06-16 21:18] zr-msft commented on #35516
Thank you for the feedback @ormico !

Both locations in the documentation that use `brew` link to instructions for different ways to install those items.

#please-close

[2020-06-16 21:18] #35516 closed

[2020-06-16 21:22] Mike-Ubezzi-MSFT commented on #57152
@Bartolomeus-649 Thank you for the feedback. There are some good points and not all necessarily require updates to this one doc, as the information is found in other sections under Azure Cosmos DB where the Gremlin API is one of six API service options available. And by offering multiple client implementation options through [.NET](https://docs.microsoft.com/en-us/azure/cosmos-db/create-graph-dotn

[2020-06-16 21:32] SatishBoddu-MSFT commented on #57187
Hello @AlexPLC ,Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-16 21:33] SatishBoddu-MSFT commented on #57184
@Munyasya ,Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-16 21:44] SatishBoddu-MSFT commented on #57082
@Xyroid , Just FYI that we are working on providing the response soon. Meanwhile you can share any other error codes which you have encountered later on which are not listed on document. Please let us know if you are stuck on resolving the error and we will help you out!

[2020-06-16 21:45] zr-msft commented on #35558
@theheatDK thank you for your feedback!

@jnoller added updated wording here in the note:
https://docs.microsoft.com/en-us/azure/aks/support-policies#microsoft-responsibilities-for-aks-worker-nodes

#please-close

[2020-06-16 21:45] #35558 closed

[2020-06-16 21:46] bwren commented on #57044
@MSFT-MarcoEs My error for not removing that reference. We retired the content for creating solutions since it was quite of date. It was based on View Designer which we're in the process of deprecating for workbooks. All of the other content was mainly using ARM templates to create monitoring resources, and all of that is now available in our ARM samples. I'll go ahead and remove the reference in

[2020-06-16 21:51] jeevansd commented on #56475
This issue is resolved now. You can verify this in the portal also.

[2020-06-16 21:51] jeevansd commented on #56475
#please-close

[2020-06-16 21:51] #56475 closed

[2020-06-16 21:52] tfitzmac commented on #56524
@RonnieQuan - we'll close this item for now. If you have feedback about how the deletion is process, that might belong in the product feedback - [https://feedback.azure.com/forums/217313-networking](https://feedback.azure.com/forums/217313-networking)

[2020-06-16 21:53] tfitzmac commented on #56524
#please-close

[2020-06-16 21:53] #56524 closed

[2020-06-16 21:59] zr-msft commented on #36597
Thank you for the feedback @jcledezma !

I was able to complete all the steps in this guide using the azure cloud shell.

#please-close

[2020-06-16 21:59] #36597 closed

[2020-06-16 21:59] bachoang opened #57194 "token matrix for different authentication flow is missing ROPC flow"
The token matrix for different OAuth2 flows on this page is missing an entry for Resource Owner Password Credentials (ROPC) grant flow.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f8c12ad-ea7f-5b0a-2322-582720ee76fc
* Version Independent ID: 443d54f7-5ffa-444a-c757-1348fb1ca948
* Content: [MSAL authentication flows

[2020-06-16 22:00] qianw211 commented on #56866
@santhoshbomma9 ResourceUsageid is available in managed app properties only when custom billing is enabled.  Please let us know if you have additional questions. Thanks!

[2020-06-16 22:13] SatishBoddu-MSFT commented on #57187
Hello @AlexPLC , As the document says to contact Power BI Admin and you are the admin, Please go through the below mentioned pages & articles to get an understanding of the message "contact admin to enable code creation" and how to deal with it. This feature makes Power BI using organizations to protect their confidential or proprietary information.

- [Publish to web from Power BI](https://docs.m

[2020-06-16 22:14] eric-camplin opened #57196 "RBAC section refers to nonexistent list"
for the document https://docs.microsoft.com/en-us/azure/security/fundamentals/identity-management-overview#rbac

**Under RBAC** is the statement
"The following lists four fundamental built-in roles. The first three apply to all resource types." but there is no list following as in several other documents with a similar statement such as https://docs.microsoft.com/en-us/azure/role-based-access-cont

[2020-06-16 22:30] mike-urnun-msft commented on #57173
@jinkside Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-06-16 22:32] mike-urnun-msft commented on #57181
@nastassiar Thank you for your feedback! We will review and update as appropriate.

[2020-06-16 22:32] mike-urnun-msft commented on #57081
@parthipanr We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-16 22:32] #57081 closed

[2020-06-16 22:35] mike-urnun-msft commented on #56827
@kzu Yes, it appears the only `void` type is supported at this time. Since this channel is for driving improvements towards MS Docs, we'll hold off for now from making an update to this documentation until the scenario that you have raised is confirmed.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the

[2020-06-16 22:35] #56827 closed

[2020-06-16 22:36] mike-urnun-msft commented on #57190
@camalloy Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-06-16 22:51] BryanTrach-MSFT commented on #57155
@bathizte Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-16 22:53] PatrickFarley commented on #54851
#please-close

[2020-06-16 22:53] #54851 closed

[2020-06-16 22:56] BryanTrach-MSFT commented on #57159
@tomcooperca Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-16 22:57] Pluc15 opened #57197 "WEBSITE_SWAP_WARMUP_PING_* documentation unclear - only calls in http"
WEBSITE_SWAP_WARMUP_PING_PATH will always call in http, not https.

Being a relative URL, I believe it is not configurable.

Therefor, if your app redirects http traffic to https, you will get a 307 instead of the expected status code, failing your swap if it is not in WEBSITE_SWAP_WARMUP_PING_STATUSES.

It is unclear if they warmup call follows the redirection or stops at the 307. I could test it

[2020-06-16 22:57] Karishma-Tiwari-MSFT commented on #57165
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-16 23:00] fanioz commented on #57116
after vm deployment using Ubuntu 16.04 LTS
![Annotation 2020-06-17 053616](https://user-images.githubusercontent.com/1700770/84836010-1b9ee000-b05f-11ea-92ef-6da7f9432e71.png)

follow configuration from tutorial page:  /etc/nginx/sites-available/default
[code]
got 403 forbidden page.

and then replace config with php7.0
[code]
now everything is ok 👍

[2020-06-16 23:06] qianw211 commented on #56866
#please-close

[2020-06-16 23:06] #56866 closed

[2020-06-16 23:10] SnehaGunda commented on #57134
We will now close this issue.

#please-close

[2020-06-16 23:10] #57134 closed

[2020-06-16 23:11] Karishma-Tiwari-MSFT commented on #56953
Can you please elaborate on your question? Are you looking for instructions on how to set Private IP to be FCI IP, from Azure portal?

For 'Private IP Address' field, Enter the IP address that you assigned to the SQL Server FCI cluster network resource.

![image](https://user-images.githubusercontent.com/20851144/84836924-a645f780-afeb-11ea-98b6-e6cfd34bc582.png)

Please help me with it, if this i

[2020-06-16 23:13] boazsha opened #57198 "Possible Incorrect Info"
[Enter feedback here]
This is incorrect: `Specify when the message expires. The maximum time that a message can remain the queue is 7 days.` according to:
`Message: A message, in any format, of up to 64 KB. Before version 2017-07-29, the maximum time-to-live allowed is seven days. For version 2017-07-29 or later, the maximum time-to-live can be any positive number, or -1 indicating that the messag

[2020-06-16 23:21] MarileeTurscak-MSFT commented on #57196
@eric-camplin
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-16 23:22] Karishma-Tiwari-MSFT commented on #56120
@ju-shim Can you please help with adding this detail in the document. Thanks :)

@markolb81 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-16 23:23] mingshen-ms commented on #56829
@jhielscher-arista, can you share from which document you found the below quote in your original post?
"Offer removal ensures that new customers may no longer purchase or deploy your offer, but has no impact on existing customers, whom you must support according to your license agreement and pertinent laws."

When a published offer is removed (a.k.a. stop selling an offer), the expected impact on

[2020-06-16 23:23] Karishma-Tiwari-MSFT commented on #56132
@khandelwalbrijesh Did you get a chance to look into this issue the customer is facing? Thanks :)

[2020-06-16 23:24] Sarah-Aly opened #57199 "Update To Match Azure Event Grid Extension 0.4.9"
This [section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-grid-trigger?tabs=csharp#azure-cli) needs to be updated, since creating event grid topic subscription with an Azure Function as a destination is now supported in CLI with Event Grid extension 0.4.9. Please, refer to this [comment](https://github.com/Azure/azure-cli/issues/12092#issuecomment-584883771)

-

[2020-06-16 23:25] Karishma-Tiwari-MSFT commented on #56160
Since this is being handled offline, I will close this issue.
Please share the resolution once resolved, for others to reference. Thanks.

[2020-06-16 23:28] markjbrown commented on #47352
Yes so I think the issue is you need to pass the dynamic object in with a new[] { newItem } like this below.

`var result = await client.GetContainer("database", "container").Scripts.ExecuteStoredProcedureAsync<string>("spCreateToDoItem", new PartitionKey("Personal"), new[] { newItems });`

I updated the sample stored proc to handle array of items and updated the example on this page that uses it.

[2020-06-16 23:31] dcbrown16 opened #57200 "Out of date link?"
The link in this section below may need to be updated.

The URL is pointing to https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-add-solutions, but the page now redirects to https://docs.microsoft.com/en-us/azure/azure-monitor/insights/solutions, which is just a general page about solutions. How would that help you configure HRW on a machine?

---
#### Document Details

⚠ *Do not

[2020-06-16 23:33] swhillance-mphn opened #57201 "App Passwords section does not exist"
App Passwords section does not exist as shown in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8751595d-4839-d2ee-1e2c-16d07ef84a2d
* Version Independent ID: e66f96b3-5b88-9304-1ec0-9e3bb8a2cfbe
* Content: [How to manage app passwords - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-di

[2020-06-16 23:37] tp6hannah commented on #57139
hi @mrbullwinkle , thanks for quick reply

the raw error is like this
[code]

and my location is **Japan East**

[2020-06-16 23:43] JamesTran-MSFT commented on #57201
@swhillance-mphn
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-16 23:45] Silvenga opened #57202 "Missing Resource Group Annotation"
This walkthrough seems to be missing the resource group annotation on the service object, which means k8s will look at the auto-generated resource group - which we shouldn't touch.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7179d4ae-db6e-7f7c-a855-db0e0475dae9
* Version Independent ID: 1a6fa0e8-e175-ae4d-a9

[2020-06-16 23:46] Grace-MacJones-MSFT commented on #56670
Hello @safaheem, it looks like this  has already been covered in the doc.

![installfont](https://user-images.githubusercontent.com/42247081/84839034-e065c800-aff0-11ea-8d34-2e5ae010122b.PNG)

We will close this out, but if you feel you need more information please just let us know.
Thanks again for the feedback!

[2020-06-16 23:46] #56670 closed

[2020-06-16 23:47] JamesTran-MSFT commented on #57194
@bachoang
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-17 00:02] SnehaGunda commented on #57090
@kitsu I made a doc update in the above PR per Tim's comments. We will now close this issue.

#please-close

[2020-06-17 00:02] #57090 closed

[2020-06-17 00:04] jhielscher-arista commented on #56829
On Tue, Jun 16, 2020 at 4:23 PM mingshen-ms <notifications@github.com>
wrote:

<jh>
https://docs.microsoft.com/en-us/azure/marketplace/cloud-partner-portal/manage-offers/cpp-delete-offer

Thanks for the below information...

[2020-06-17 00:06] Mike-Ubezzi-MSFT commented on #57191
@cesarswarowsky Thank you for the feedback but I am not clear if you are requesting a flow chart for [Azure Roles](https://docs.microsoft.com/en-us/azure/role-based-access-control/rbac-and-directory-admin-roles#azure-roles) or making a product request to allow for role based connectivity control? The flow chart as it currently is published demonstrates the flow for database-level IP control versus

[2020-06-17 00:16] TravisCragg-MSFT commented on #57176
@AlvinRamoutar Thanks for the feedback! I have fixed the link, and the doc should show the change within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-17 00:16] #57176 closed

[2020-06-17 00:18] nishshah1 opened #57204 "Question about Redundancy of Virtual WAN"
Its not clear from Virtual WAN documentation about how Redundancy is provided for this service

If I have Virtual WAN Hub created in a Region (US EAST)
What if the US EAST Region has an outage , will all my connections to Virtual WAN go down ?

Or
is this a Global Redundant service
So if USEAST goes down Microsoft automatically fails over the VWAN to diff (paired) region ?

Please clarify !

Thank

[2020-06-17 00:18] BharathNimmala-MSFT commented on #57185
@cconrado Thank you for your feedback, our team will look into it and get back to you at the earliest.

[2020-06-17 00:18] Karishma-Tiwari-MSFT commented on #56806
@Heidilohr I couldn't find the document for Scaling session hosts for Spring release. Do you know if one exists? Thanks :)

[2020-06-17 00:18] nishshah1 opened #57205 "Virtual WAN Redundancy Question"
Its not clear from Virtual WAN documentation about how Redundancy is provided for this service

If I have Virtual WAN Hub created in a Region (US EAST)
What if the US EAST Region has an outage , will all my connections to Virtual WAN go down ?

Or
is this a Global Redundant service
So if USEAST goes down Microsoft automatically fails over the VWAN to diff (paired) region ?

Please clarify !

Thank

[2020-06-17 00:21] BharathNimmala-MSFT commented on #57192
@andrewatfornax  Thanks again for bringing this to our notice , our team will further look into it and get back to you at the earliest.

[2020-06-17 00:27] SnehaGunda commented on #53921
WRT to how to refresh the data, please see this doc, you can refresh the data by using REST API, automated runbook, or a logic app:

https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-async-refresh

[2020-06-17 00:29] Karishma-Tiwari-MSFT commented on #56206
Thanks for sharing the update. We will now close this issue. If we see similar feedback coming from customers, I will reopen it and we will gladly continue the discussion.