[2021-05-21 11:46] SadiqhAhmed-MSFT commented on #75535
@FallenHoot I have raised a pull request - https://github.com/MicrosoftDocs/azure-docs-pr/pull/159457 to add RHEL 8 support in the doc. The changes should be live by 23rd May - 2021.

[2021-05-21 11:59] sergiosolorzano opened #75669 "MS standard SKU CDN Rewrite action does not support Regex or wildcards"
I got confirmation from Microsoft support team (azure support ticket 2105130050001959) that MS standard SKU CDN Rewrite action source pattern does not support regex or wildcards. Therefore, the documentation is incorrect in the below statement as it does not use regex or prefix-based match:

Source pattern | Define the source pattern in the URL path to replace. Currently, source pattern uses a pre

[2021-05-21 12:04] psmanhas commented on #75465
@pecoult Sure I will have discussion internally and keep you posted if there are any plans regarding same.

Thanks

[2021-05-21 12:04] KalyanChanumolu-MSFT commented on #75362
@swapnilpotnis Could you please post a screenshot of your firewall configuration?

[2021-05-21 12:08] KalyanChanumolu-MSFT commented on #75466
@chirag-singhal I have raised a PR and awaiting review from @sakash279
This issue will be fixed once the PR is merged.

[2021-05-21 12:08] mosesmosheh opened #75670 "Alternative ID - Documentation ambiguity around UPNs"
Concerning https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-nps-extension-advanced

### Overview
In this documentation, there are multiple references around the Alternative Login ID that are misleading. The documentation suggests that when one specifies a different attribute, this is used _instead_ of any UPN. For example, the documentation states:

- "used in place

[2021-05-21 12:10] RicardoNiepel commented on #75530
And please: **Should include alternatives/ recommendations how to secure/monitor VMSS backed AKS nodes also on the host layer**

[2021-05-21 12:12] chirag-singhal commented on #75466
@KalyanChanumolu-MSFT  can you point me towards the PR?

[2021-05-21 12:12] chirag-singhal commented on #75466
And Thank You for fixing this.

[2021-05-21 12:13] AjayKumar-MSFT commented on #75073
Apologies for any confusion! Every WebApp has an associated Kudu site. See the screenshots below.
For Kudu (scm) site access - https://yoursite.**scm.**azurewebsites.net/
The 'dev' token -https://yoursite.**scm.**azurewebsites.net/dev - is for App editor
Also, see [website-contributor](https://docs.microsoft.com/azure/role-based-access-control/built-in-roles#website-contributor)

As there was no d

[2021-05-21 12:15] KalyanChanumolu-MSFT commented on #75577
@elapdan Thank you for the additional context, I was able to dig into this a little more.
It seems like you won't be able to route elastic queries over private endpoint as of now.
If you cannot allow access to Azure services for security reasons but still need elastic query capabilities, I would suggest you consider [Azure SQL Managed Instance](https://docs.microsoft.com/en-us/azure/azure-sql/mana

[2021-05-21 12:17] KalyanChanumolu-MSFT commented on #75466
@chirag-singhal The PR is on an internal private repo.

[2021-05-21 12:20] SvenSowa opened #75671 "Failed to install function app dependencies"
The documentation might clearly state the syntax requirements of the file requirements.psd1.
The runtime will fail to parse requirements.psd1 if the file syntax is like that:
@{
    Az = '1.*'
    Az.Accounts = '2.*'
    Az.Compute = '4.*'
}
and only the version number is enclosed with apostrophes. A working version should look like this:
@{
    'Az' = '1.*'
    'Az.Accounts' = '2.*'
    'Az.Compu

[2021-05-21 12:21] timvankester opened #75672 "TOPdesk Azure SAML documentation"
We frequently receive questions by customers who used the gallery app and this documentation. I think it basically comes down to the following:

- Step 4 of Configure Azure AD SSO contains three URLs of which the patterns in the app itself are wrong. Is it possible to 1) add a warning to the documentation to follow the examples in the documentation and not the patterns shown in the app, or 2) chan

[2021-05-21 12:46] A712569 opened #75673 "A712569"
[Enter feedback here]444970242@sohag4.moe.edu.eg

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ffaa109-a657-db74-2a16-a59b481a0894
* Version Independent ID: ba2ffc07-b06c-7416-0700-63143ec3efcc
* Content: [Register authentication info to reset your own password - Azure AD](https://docs.microsoft.com/en-us/azure/activ

[2021-05-21 13:05] lampeTechnidoo commented on #75643
if there are importand dependecies get an oldersource version versio, where this problem is not actual could be a fast way to fix this problem.

If all what this sample should show works then this workaround is ok for me.

[2021-05-21 13:09] MatthewSteeples opened #75675 "Link no longer works (Technet Gallery)"
The link titled `Connect an app in Azure App Service to an Azure virtual network` now takes you to a search page, and the search page doesn't show any results when you search for that script

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a98803-1438-b1b5-f543-7dd88bc4294e
* Version Independent ID: 37ff1d0f-ed8e-5e4d-

[2021-05-21 13:16] #75662 closed

[2021-05-21 13:18] vipulsparsh commented on #75668
@openingbullet Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-05-21 13:19] michalswi opened #75676 "Use Tenant ID instead of Directory ID"
Here is typo:
https://docs.microsoft.com/en-us/azure/vpn-gateway/openvpn-azure-ad-tenant#enable-authentication
should be `Tenant ID` instead of `Directory ID`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 186c0697-792a-a913-1baa-0af86f7ef6de
* Version Independent ID: 330e7927-57fd-75e2-26b1-05bd2e8f30c1
* Content: [Cr

[2021-05-21 13:20] vipulsparsh commented on #75670
@mosesmosheh Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-05-21 13:21] vipulsparsh commented on #75672
@timvankester Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-05-21 13:25] marinnedea opened #75677 "RHEL EUS not available for version 8.3"
Please add a note to the page to mention that EUS version locking for RedHat 8.3 is not possible, since RedHat decided to skip this version for EUS.

Source: [https://access.redhat.com/support/policy/updates/errata](https://access.redhat.com/support/policy/updates/errata)

"_In Red Hat Enterprise Linux 8, EUS is planned for RHEL 8.1, 8.2, 8.4, 8.6, and 8.8 (see above chart).

    8.1 (ends Novembe

[2021-05-21 13:30] ulflunde opened #75678 "Incorrect statement about the validity period of Cluster CA certificates"
The text in the purple frame on this azure-docs page says:
[code]

Our company owns an AKS cluster created on May 20, 2019 (which is obviously after March 2019). The output of the above command looks liike this:

[code]

_(Note that the expiration date is not quite _30 calendar years_ into the future, but rather _30 * 365 days_ after the creation. For discussions regarding this, see issue https://

[2021-05-21 13:37] defyjoy commented on #14627
I am still in fazed state where do I find --aad-server-app-id . The AD app registration shows app client id . I can create a secret  . But where do I find the --aad-server-app-id ? Are they both same or different ? There are none in the examples to show and tell where do I find --aad-server-app-id .

[2021-05-21 13:39] nunepalli commented on #75593
BTW, I created new Synapse workspace in managed virtual network but without data exfiltration protection.
In that new workspace, I'm able to create linked service for SQL managed instance.

[2021-05-21 13:40] woter1832 opened #75679 "Service does not exist"
The service you mention [here](https://docs.microsoft.com/en-us/azure/active-directory/cloud-sync/how-to-troubleshoot#agent-failed-to-start), (step 3) `Microsoft Azure AD Connect Provisioning Agent`, does not exist.

![image](https://user-images.githubusercontent.com/68354513/119145186-519fcd80-ba41-11eb-9539-8d0522e992f1.png)

However, when I run the installer and hit the error message
[code]
![i

[2021-05-21 13:46] SnehaAgrawal-MSFT commented on #75675
@MatthewSteeples Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-21 13:48] MonikaReddy-MSFT commented on #75677
@marinnedea -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-05-21 13:50] MicrosoftGuyJFlo commented on #75668
Resolved in linked PR that will publish after //build keynote Tuesday.

[2021-05-21 13:51] HarshitaSingh-MSFT commented on #75610
@MarekLani , does the link shared by @yoelhor help you?

[2021-05-21 13:51] MicrosoftGuyJFlo commented on #75668
#please-close

[2021-05-21 13:51] #75668 closed

[2021-05-21 13:58] HarshitaSingh-MSFT commented on #75553
@drewberrymore, we have made these changes in the doc. Pls expect them to reflect soon. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-21 13:58] #75553 closed

[2021-05-21 14:28] cyrilcathala opened #75680 "CosmosDb Container API without partition key"
I am trying to deploy a serverless CosmosDb with a container without partition key. I deploy through az CLI using a bicep file.

First time I create the container with API 2021-03-15, it goes fine.
Second time, container is already created so this is an update, and I get this message:
[code]

If I change the API from 2021-03-15 to 2020-04-01, it works well.

I think a mention telling the partition

[2021-05-21 14:40] joelmforsyth opened #75681 "Can't get Cosmos DB Account Status in PowerShell"
The documentation for updating a Cosmos account in PowerShell is great except for one part at the end of the updating the regions. There are two output lines that say this:

[code]

The issue is that `Get-AzCosmosDBAccount` [does not return any status](https://docs.microsoft.com/en-us/powershell/module/az.cosmosdb/get-azcosmosdbaccount?view=azps-5.9.0#example-1) that I could find. Is there another

[2021-05-21 14:42] joelmforsyth commented on #75681
This is the wrong document.

[2021-05-21 14:42] #75681 closed

[2021-05-21 14:43] joelmforsyth opened #75682 "Can't get Cosmos DB Account Status in PowerShell"
The documentation for updating a Cosmos account in PowerShell is great except for one part at the end of the updating the regions. There are two output lines that say this:

[code]

The issue is that `Get-AzCosmosDBAccount` [does not return any status](https://docs.microsoft.com/en-us/powershell/module/az.cosmosdb/get-azcosmosdbaccount?view=azps-5.9.0#example-1) that I could find. Is there another

[2021-05-21 14:50] apsarpasha opened #75683 "How to re-create system managed identity for the existing storage account"
[Enter feedback here]

We have migrated the storage account between the subscription, however, we don’t have any documentation which explains about “How to re-create system managed identity for the existing storage account”

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9afab524-67c2-2e76-fd7a-46238cb9d249
* Version In

[2021-05-21 14:54] elfcounsel opened #75684 "More Details on What Does and Doesn't Work with NTFS ACLs"
Would it be possible to get more details on AD configurations that won't work with ANF?

- Domain Local groups used in ACLs doesn't appear to work.
- If a user is located in domain A and the computer account is in domain B, I don't think that works. There are some cross-domain access situations that don't work with ANF.
       - What access patterns across two way trusts and one way trusts do or d

[2021-05-21 14:59] JamesTran-MSFT commented on #75673
@A712569
Thanks for your post! Would you be able to share some more details so I can gain a better understanding of your issue?

[2021-05-21 14:59] joelmforsyth commented on #75682
Apparently this is `ProvisioningState` but the Portal lags a bit.

[2021-05-21 14:59] #75682 closed

[2021-05-21 15:03] kobulloc-MSFT commented on #75479
@alansingfield I've submitted a [pull request](https://github.com/MicrosoftDocs/azure-docs-pr/pull/159323) awaiting review from @kof-f which will make this clear to future readers.  Sorry again about the confusion and thank you so much for helping us to improve our docs!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me

[2021-05-21 15:03] #75479 closed

[2021-05-21 15:03] pelshen opened #75686 "Default for SessionExpiryInSeconds"
In the [UserJourneyBehaviors section](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory-b2c/relyingparty.md#userjourneybehaviors), _SessionExpiryInSeconds_ is defined but no default is mentioned. It is unclear then whether there is no timeout or there is a sensible default set. Would be good for this be made clear.

---
#### Document Details

⚠ *Do not edit this sec

[2021-05-21 15:05] AjayKumar-MSFT commented on #74745
Good catch! Thanks for the update, ignaciofls.

[2021-05-21 15:06] Nicholak-MS commented on #75432
I added these three products to an outstanding PR that I have open. https://github.com/MicrosoftDocs/azure-docs-pr/pull/158657/

[2021-05-21 15:08] GiftA-MSFT commented on #75616
@jhirono can you please provide clarification? Thanks.

[2021-05-21 15:11] #75624 closed

[2021-05-21 15:14] RyanHill-MSFT commented on #75333
Hi @mikkar, you can monitor bandwidth using the Dara Out graph on the overview blade of your static web app.

hx-core://attachment?aoid=00006a010000000000000000e2fe8c020000000067010000017d840200000000e2fe8c0200000000017d840200000000&moid=0000c9000000000000000000d8fe8c0200000000d40000002f81840200000000d8fe8c02000000002f81840200000000

[2021-05-21 15:14] JamesTran-MSFT commented on #75665
@injosef
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-21 15:16] zeinab-mk commented on #72407
I have updated the article to add more clarity of Cosmos DB key requirements #PR 159669
Please close this issue

[2021-05-21 15:17] #75333 closed

[2021-05-21 15:18] mimranbajwa20 commented on #54134
Hi @PeterCLu,
I am also facing the exact same issue and my logs are  appended below, please let me know if the issue has already been resolved or way to resolve it.

2021-05-21 15:07:18,744 | root | ERROR | Encountered Exception: Traceback (most recent call last):
  File "/azureml-envs/azureml_6ebd0cd99ed800d1e004aa610c80d259/lib/python3.6/site-packages/flask/app.py", line 1832, in full_dispatch_r

[2021-05-21 15:21] JamesTran-MSFT commented on #75686
@pelshen
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-21 15:22] zeinab-mk commented on #75426
I have updated the role configuration steps for serverless db and added networking requirements  PR 159644
please close this issue

[2021-05-21 15:25] v-jheichman commented on #72407
Please close

Thanks, Jeannie

From: Zeinab Mokhtarian ***@***.***>
Sent: Friday, May 21, 2021 8:17 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Jean Heichman (COLLABERA INC) ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Error: (9082) The CosmosDb key is in a wrong format (#72407)

I have updated the article to add more clarity of Cosmos DB key requirements #PR 159

[2021-05-21 15:28] marcelbo2021 opened #75687 "Writing files from temporary Synapse Spark storage to ADLS Gen2 possible?"
The documentation for Microsoft Spark Utilities (https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/synapse-analytics/spark/microsoft-spark-utilities.md) gave me the impression that files which have been stored in the working directory of an Azure Synapse Notebook can be transferred onto an Azure Data Lake Storage Gen 2. However, I am struggling to make this work, as you can see in t

[2021-05-21 15:31] spelluru commented on #67301
The dev will continue updating this article based on the feedback. Tracking it internally. #please-close

[2021-05-21 15:31] #67301 closed

[2021-05-21 15:31] mmacy commented on #72698
@madansr7 Can you take a look at this, please? Thanks!

Cc: @SaeedAkhter-MSFT @kalyankrishna1

[2021-05-21 15:32] spelluru commented on #74409
We will track this internally. I will work with Clemens when has time to update the article. Thanks.

#please-close

[2021-05-21 15:32] #74409 closed

[2021-05-21 15:36] HimanshuZinzuwadia opened #75688 "Storage class azurefile should be in the yaml for persistent volume claim"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d634c63a-6194-86a6-b522-3310812c81e8
* Version Independent ID: fa86da1e-9c86-88fe-170c-5e6aa9230b5f
* Content: [Manually create Azure Files share - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/azure-files-volume)
* Content Sour

[2021-05-21 15:40] spelluru commented on #74996
This feedback is actually on the Storage article (a prerequisite for the Event Grid tutorial).
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-upload-process-images?tabs=dotnet

Please set Azure Storage for the service tag and escalate to the author if needed. Thanks.

[2021-05-21 15:43] dereklegenzoff commented on #74745
Thanks @ignaciofls - I have this on my list to fix

[2021-05-21 15:45] keen85 opened #75689 "GiB (Gibibyte) is not the same as GB (Gigabyte)"
The documentation states that the disk performance depends on the file size.
However it is not consistent with the units GiB (Gibibyte) and GB (Gigabyte).

There is a statement "As an example, if you create 7 x 1**TB** files with max 5K IOPS each and 7 small files (smaller than 128 **GB**) with 500 IOPS each, you can get 38500 IOPS per instance (7x5000+7x500) if your workload can use all files".
H

[2021-05-21 15:47] kulkarnisachin07 opened #75690 "Need to write the name of parameter file in ''."
When I tried to pass the parameter file for ARM template using "az deployment group create .." command, I need to pass the parameter file argument in ''. e.g. --parameters '@linuxVMArmTemplate.Parameters.json'. This page does not provide the '' syntax.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0aca150-4747-7670-f

[2021-05-21 15:47] JamesTran-MSFT commented on #75623
@richposada
I've created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2021-05-21 15:47] #75623 closed

[2021-05-21 15:52] ValOlson commented on #74903
Hello @jeevannagvekar.

Good to hear that @Nox-MSFT helped you get unblocked! You are correct, the update agent and update service check if the value in the installedCriteria matches the  final update version from the import manifest. This is to ensure that the update resulted in a version that was intended to be deployed on the IoT device.

Here is a short blur from our documentation at https://d

[2021-05-21 16:00] NavtejSaini-MSFT commented on #75652
@ozbillwang We are checking this and will get back to you.

[2021-05-21 16:04] Nox-MSFT commented on #74903
@jeevannagvekar, I'm glad to hear that you've made progress on this.

The "installedCriteria" is an opaque string value (to our platform). It's intended to be the Device-Builder's & Update Content Handler Implementer's construct.

Update Content Handler Implementer is responsible for implementing IsInstalled() function. They can interpret the given 'installedCriteria' string however they see fit.

[2021-05-21 16:05] upliftertom commented on #43257
This no longer works - for some reason source pattern now has to start with /. and it means it no longer works

![image](https://user-images.githubusercontent.com/51954126/119166599-b9acde80-ba56-11eb-9226-e88d72da33ef.png)

[2021-05-21 16:05] swathipil opened #75691 "IoTHub DPS link is misleading"
Currently, the link at the bottom of the [TPM Attestation page](https://docs.microsoft.com/en-us/azure/iot-dps/concepts-tpm-attestation#feedback) has the following description: Get started using auto-provisioning using the SDKs to take care of the flow.

However, [the link provided ](https://docs.microsoft.com/en-us/azure/iot-dps/quick-setup-auto-provision) uses the portal and not the SDKs to auto

[2021-05-21 16:06] Absoblogginlutely commented on #62147
The document referenced by @Karishma-Tiwari-MSFT only references web pages where there are no port translation rules in the app and only port 80 is being used. However this does not help for setting up rules for port 3389 to access the machines which requires different ports being forwarded to 3389 on the destinations. Each machine will have a different port so even though it's possible to add two

[2021-05-21 16:10] NavtejSaini-MSFT commented on #75664
@Miteshc1 We are checking this and will get back to you.

[2021-05-21 16:11] sameer-kumar commented on #75073
This is what I see for my website kudu scm access. As you you can see mine is different from yours. I don't know why and as I mentioned I can't use direct url (/dev) either. I'm using these settings for my webapp:
1. Publish > Docker container
2. Operating system > Linux

![image](https://user-images.githubusercontent.com/3660733/119166854-2317f780-ba2d-11eb-9e93-df7df77fd8ba.png)

[2021-05-21 16:14] cynthn commented on #71970
@msfcolombo I think the major gating factor would be the hard limit on time: "There's 90 minutes allowed for the script to run, anything longer will result in a failed provision of the extension." I think you would need to see how long the downloads take.

I'm going to close this issue for now, but please feel free to reopen it or create a new one if you have more questions.

#please-close

[2021-05-21 16:14] #71970 closed

[2021-05-21 16:16] b-juche commented on #75684
@elfcounsel - The technical team is making several additional changes related to Issue #75337 you brought up.  I assume you are an ANF team member.  If so, can you reach out through email juliec@netapp.com or b-juchfw@microsoft.com, so that I can connect you with the team for discussion?  (GitHub issues are public and might not be appropriate for team-internal discussions.)  Thanks.

[2021-05-21 16:24] NeilMacMullen opened #75693 "Link to a roadmap would be useful on this page"
Azure Resource Mover looks great!  Except that it doesn't really move anything except VMs and SQL databases across regions at the moment.  :-(  I'm sure that's a temporary restriction though - wouldn't it make sense for the "Common Questions" page to link to a roadmap  indicating when we might see more functionality?  (I'm particularly interested in Storage accounts and "Cloud Services" but it doe

[2021-05-21 16:30] zeinab-mk commented on #71604
I have updated the docs page Content Source: articles/purview/manage-credentials.md and added a decision matrix to choose a authentication method. PR #159628
please close this issue.

[2021-05-21 16:32] fvarga01 opened #75694 "Add SSIS Integration Runtime pricing examples"
It would be helpful to understand the cost breakdown when running SSIS integration runtime packages. Especially in scenarios where we want to compare SSIS integration runtime pricing with ADF or with SSIS on a VM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7d3f74a-37a1-3f1f-20c5-ee762bf785ea
* Version Independent

[2021-05-21 16:37] cynthn commented on #69292
@ju-shim @ayshakeen @mimckitt did we ever get a response about Windows 2019 support?

[2021-05-21 16:39] cynthn commented on #75247
@ju-shim @ayshakeen @mimckitt do we have cache information for Mdsv2?

[2021-05-21 16:41] cynthn commented on #71926
@bobbytreed Can you let me know if you are still the owner of the `Run commad` or who it has been handed off to? Thanks :)

[2021-05-21 16:43] cynthn commented on #72566
It looks like this should have been closed with PR 158983, so I am going to close it now.

#please-close

[2021-05-21 16:43] #72566 closed

[2021-05-21 16:44] cynthn commented on #72571
Fixed by PR 158983. Closing now.

#please-close

[2021-05-21 16:44] #72571 closed

[2021-05-21 16:44] cynthn commented on #72577
Fixed with PR Merge #158983.

#please-close

[2021-05-21 16:44] #72577 closed

[2021-05-21 16:45] cynthn commented on #72579
Fixed with PR Merge #158983.

#please-close

[2021-05-21 16:45] #72579 closed

[2021-05-21 16:45] cynthn commented on #72580
Fixed with PR Merge #158983.

#please-close

[2021-05-21 16:45] #72580 closed

[2021-05-21 16:46] asinn826 commented on #75677
Hey @marinnedea, hope you're doing well! Thanks for the callout - tagging @mathapli and @Theresa-Nguyen to follow up.

[2021-05-21 16:47] cynthn commented on #70996
I've confirmed that Image Builder is still in Preview. The incorrect announcement has been removed.

#please-close

[2021-05-21 16:47] #70996 closed

[2021-05-21 16:50] spelluru commented on #75117
The article has been retired. You will see the change in the content set (TOC) on 5/25. Thanks.

#please-close

[2021-05-21 16:50] #75117 closed

[2021-05-21 16:57] zeinab-mk commented on #71557
successfully tested scanning data sources with minimum SHIR version available for download: 5.4.7803.1

[2021-05-21 16:59] NavtejSaini-MSFT commented on #75615
@vitorbencini Please convey the document that you are referring to for this feedback.

[2021-05-21 16:59] NavtejSaini-MSFT commented on #75605
@ponmile1 Please convey the document that you are referring to for this feedback.

[2021-05-21 17:00] NavtejSaini-MSFT commented on #75611
@dariuszbz Please convey the document that you are referring to for this feedback.

[2021-05-21 17:17] syedzoherer opened #75695 "not Uptodate"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfbfbd93-0056-6d8b-8ee1-f7d0c6d0a739
* Version Independent ID: b52c7b72-d512-d172-6569-b289e05302e6
* Content: [Tutorial: Language Understanding Bot C# v4 - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-

[2021-05-21 17:43] aandrew129 commented on #74639
FYI - this is working now, so thank you to whichever magical elves fixed it!

[2021-05-21 17:50] KranthiPakala-MSFT commented on #75694
Hi @fvarga01,
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-05-21 17:57] KranthiPakala-MSFT commented on #75426
Thanks for your contribution @zeinab-mk!

@piotrgradzinski
The PR to update the document with missing steps has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2021-05-21 17:57] #75426 closed

[2021-05-21 17:59] SaiKishor-MSFT commented on #75271
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-21 17:59] #75271 closed

[2021-05-21 18:05] Oury-MSFT commented on #75689
@keen85 Thank you for your feedback. We are looking into this and will get back shortly. Thanks

[2021-05-21 18:12] ChaitanyaNaykodi-MSFT commented on #75671
Hello @SvenSowa,
Thank you for your feedback! We will review and update as appropriate.

[2021-05-21 18:21] Socolin opened #75696 "Document slot permission for azure app configuration"
Hello,

It would be nice to document how to add permission for a app slot. Indicating that it's in another thing in the dropdown here
![image](https://user-images.githubusercontent.com/539620/119181629-dab60500-ba3f-11eb-8883-486857d1957b.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0b5a566-084c-d77f-9d78-3bfd7

[2021-05-21 18:29] YutongTie-MSFT commented on #75695
Hi, thanks for the feedback here. Could you please provide more details about this issue? Are you mentioning the whole page is not up to date?

[2021-05-21 18:30] AjayKumar-MSFT commented on #75073
Thanks for clarifying.  In my initial response, where I'd mentioned- "For access to Kudu https://yoursite.scm.azurewebsites.net/**dev**, you need at least have contributor role on the site." I was just intending to share only about Kudu site (without 'dev' token), but mistakenly appended 'dev' and in my previous post, was trying to brining out the difference between the two URL -token appends.  Th

[2021-05-21 18:33] KrishnaG-MSFT commented on #75690
@kulkarnisachin07 Thanks for your comment! We will review and provide an update as appropriate.

[2021-05-21 18:37] msfcolombo commented on #71970
@cynthn Thanks for taking a look on this. The 90 minutes works as a limitation, but it is not clear, from the document, that the 90 minutes start to count *before* the files initiate download, or *after* all files are downloaded. Can you clarify that?

[2021-05-21 18:45] SadiqhAhmed-MSFT commented on #75693
@NeilMacMullen That's some great feedback. I shall relay this to the product group and get back to you with an update soon.

[2021-05-21 18:46] sameer-kumar commented on #75073
From the kudu URL (https://mywebbapp.scm.azurewebsites.net), when I click **Bash**, I can't get to my container file system.
And when I click **SSH**, I get this error - "SSH CONNECTION CLOSE - Error: connect ECONNREFUSED 172.16.0.2:222"

[2021-05-21 18:47] SaiKishor-MSFT commented on #75669
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-05-21 18:54] SaiKishor-MSFT commented on #75676
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-21 18:55] SaiKishor-MSFT commented on #75389
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-21 18:55] #75389 closed

[2021-05-21 18:57] anastasia-ms commented on #75620
When you create Azure Maps resource via Arm you are asked to specify a maps-resource in the dialogue. You have the option to "create new".  Or, is there something else that is missing?

[2021-05-21 19:03] Duffney commented on #18894
@daniel-rocha and @royal0527 I was able to complete the tutorial without errors. It's possible the article has been updated since you filed the issue and that's the reason I can complete the steps without reproducing the errors.

To confirm the article in question is [Tutorial: Deploy to Azure App Service with Jenkins and the Azure CLI](https://docs.microsoft.com/en-us/azure/developer/jenkins/depl

[2021-05-21 19:05] SaiKishor-MSFT commented on #75467
@asudbring Can you please look into this?

[2021-05-21 19:07] MarekLani commented on #75610
yes @yoelhor @HarshitaSingh-MSFT  I found that how to guide, however it took my a while to figure it out and I found that page thanks to tutorial video on youtube. Page is very badly indexed (at least by google) and I suggest articles/active-directory-b2c/localization-string-ids.md doc reference it directly

[2021-05-21 20:08] breakpoint7 opened #75699 "ROPC request fails if it contains an Origin header (prevents use with web scenarios)"
The ROPC flow described at https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth-ropc#authorization-request does not work if the request comes in with Origin info (e.g. - trying to do a fetch from Javascript or HttpClient)

I built a couple of sample that work fine from a .NET Client or via Postman (return a valid token), but trying to issue the same request from inside a web ap

[2021-05-21 20:15] eckartbindewald commented on #73578
Hello Eckart,

My sincere apologise for the delayed response.

I will contact my advisory team regarding your query and I will surely get back to you within 2-3 business days.

Appreciate your patience over the process.

Best Regards,
Varsha | Support Engineer | Azure Subscription Management Support
Email: ***@***.******@***.***> | Manager: ***@***.******@***.***>
Working Hours: 07:00 AM – 04:00 P

[2021-05-21 20:15] katiep23 commented on #75595
I've updated to use client ID & redirect URL of the Azure AD App, but still having the issue:

Here is my run now endpoint: https://{mytenant}.b2clogin.com/{mytenant}.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1A_signup_signin&client_id=698feca3-9cb5-4de7-a165-9668a60df920&nonce=defaultNonce&redirect_uri=https%3A%2F%2Fjwt.ms&scope=openid&response_type=id_token&prompt=login

And then the URL I get

[2021-05-21 20:18] SatishBoddu-MSFT commented on #75691
Hello @swathipil
Our SME will review your Feedback.

[2021-05-21 20:19] cynthn commented on #71970
@msfcolombo This might be a better question for Q&A here: https://docs.microsoft.com/en-us/answers/topics/azure-virtual-machines.html

I think the timer starts when the extension is called, but I've only done simple things with it that were well within the timeout.

I suspect the extension isn't the best way to do what you want to do, and maybe someone over at Q&A can give you other options?

[2021-05-21 20:34] johncagle opened #75703 "logical function "if" is unknown when used in createUIDefinition.json"
Please see the question posed here by LanceShelton:

https://docs.microsoft.com/en-us/answers/questions/403560/createuidefinitionjson-error-unknown-function-39if.html

Either this page is wrong, or there's a bug somewhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ceea14e7-14f0-2aff-8a90-882a2d35b1bf
* Version Ind

[2021-05-21 20:37] johncagle opened #75704 "common-slider doesn't seem to work"
Please see:
https://docs.microsoft.com/en-us/answers/questions/403528/microsoftcommonslider-is-broken.html

Or perhaps this documentation is out of date?

Thanks,
John

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61ca56f2-891b-249a-16eb-6d1c405f434e
* Version Independent ID: 17fc6cc3-a0ef-cf2e-5109-8fff5d50051a
* Con

[2021-05-21 20:40] HeidiSteen commented on #75584
Hi @swettstein, the docs are accurate but if you want to request a change to the product, you can do so on User Voice:  https://feedback.azure.com/forums/263029-azure-search?category_id=86074  The link will take you to the security features request section.  I see an existing item that speaks to granularity of permissions so you might vote for that one, but you could also log a new request.  FWIW,

[2021-05-21 20:40] #75584 closed

[2021-05-21 20:46] cynthn commented on #72857
@vboyev-MSFT Thanks for the feedback! Image Builder is still in preview, and the incorrect announcement has been removed.

#please-close

[2021-05-21 20:46] #72857 closed

[2021-05-21 20:51] cynthn commented on #72613
#reassign @srijangupta

[2021-05-21 20:51] PRMerger10 commented on #72613
srijangupta is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-05-21 21:07] inaun opened #75705 "Incorrect term used in document makes it very confusing"
Incorrect terminology is used in section "What is the difference between Azure Front Door and Azure Application Gateway?", which makes this VERY confusing! Page needs to be updated to use the correct/consistent term.

The correct term for a service that is not tied to a specific region is "non-regional service" (ref https://docs.microsoft.com/en-us/azure/availability-zones/az-overview). "Global lo

[2021-05-21 21:09] JamesTran-MSFT commented on #75683
@apsarpasha
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-21 21:21] sknaresh2000 commented on #36930
@datadel-sd I know this thread is very old, but have a question on the outbound rules. I am not able to provide a specific subnet for 22,3389 outbound rules. Is that expected?

[2021-05-21 21:28] ozbillwang commented on #75652
by the way, the "general setting" is available with windows consumption plan.

[2021-05-21 21:52] kgremban commented on #51624
This issue was resolved with pull request https://github.com/MicrosoftDocs/azure-docs-pr/pull/155598

Thank you for flagging these misleading directions.

#please-close

[2021-05-21 21:52] #51624 closed

[2021-05-21 22:12] NavtejSaini-MSFT commented on #75678
@ulflunde We are checking this and we will get back to you.

[2021-05-21 22:13] NavtejSaini-MSFT commented on #75679
@billmath We are checking this and will get back to you.

[2021-05-21 22:17] NavtejSaini-MSFT commented on #75680
@tfitzmac Please check the feedback from Cx regarding this and help.

[2021-05-21 22:18] lXbalanque opened #75707 "Deprovisioning users?"
Hi support,
I was recently running through this documentation and while the provisioning piece is 99% there (still needed to enable SCIM on the RingCentral side), deprovisioning users is not documented. I was expecting that if I remove the user from the group, the next provisioning cycle run would then remove the user from RingCentral. Instead, it simply skipped the user.

What steps need to be ta

[2021-05-21 22:19] kobulloc-MSFT commented on #75696
@Socolin Thank you for your feedback!  I've assigned this to the document author so they can review the documentation.

[2021-05-21 22:20] himanshusinha-msft commented on #75367
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-05-21 22:20] sig9 opened #75708 "Subscription is not in the Standard plan ?"
When I follow the instructions on this page I get this error.  No idea how to proceed.

Subscription is not in the Standard or Standard Trial subscription plan. Please upgrade to use the feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fdbbf80-92cd-d6b2-85fd-a830589a8ed9
* Version Independent ID: d89d9eef-daed-

[2021-05-21 22:22] NavtejSaini-MSFT commented on #75688
@HimanshuZinzuwadia We are checking this and will get back to you.

[2021-05-21 22:22] cynthn commented on #65778
@Deland-Han and @JarrettRenshaw This issue should probably be moved over to the new file (this is the old verison in azure-docs. The article was last updated in 2018, so it could use some love.

I'm going to close this issue here, but someone should look at fixing it in it's new location: https://docs.microsoft.com/en-us/troubleshoot/azure/virtual-machines/boot-diagnostics

#please-close

[2021-05-21 22:22] #65778 closed

[2021-05-21 22:23] NavtejSaini-MSFT commented on #75687
@marcelbo2021 We are checking this and will get back to you.

[2021-05-21 22:23] cynthn commented on #71919
@Karishma-Tiwari-MSFT How do we deal with issues in localized content? Should this be reassigned to someone from the Loc team?

[2021-05-21 22:25] NavtejSaini-MSFT commented on #75699
@breakpoint7 We are checking this and will get back to you.

[2021-05-21 22:25] TravisCragg-MSFT commented on #75664
@miteshc1 You should only need Read permissions on the Remote VNET.

[2021-05-21 22:28] NavtejSaini-MSFT commented on #75703
@johncagle We are checking this and will get back to you.

[2021-05-21 22:29] NavtejSaini-MSFT commented on #75704
@johncagle We are checking this and will get back to you.

[2021-05-21 22:29] NavtejSaini-MSFT commented on #75705
@inaun We are checking this and will get back to you.

[2021-05-21 22:30] soderlind opened #75709 "Azure Front Door supports max 20 apex (naked) domains."
In Azure DNS, when pointing apex (naked) domains to Azure Front Door (AFD), the max domains you can add per AFD is 20. If you add more, using `az network dns record-set a update --subscription $SUBSCRIPTION --resource-group $DNS_RG --zone-name $ZONE --name "@"  --target-resource $AFD_ID`,  you get the error:

   `(Bad request) Maximum number of aliases to single target reached`

This limit should

[2021-05-21 22:31] NavtejSaini-MSFT commented on #75707
@lXbalanque We are checking this and will get back to you.

[2021-05-21 22:31] TravisCragg-MSFT commented on #75705
@inaun Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-05-21 22:34] NavtejSaini-MSFT commented on #75708
@sig9 We are checking this and will get back to you.

[2021-05-21 22:35] sig9 commented on #75708
@NavtejSaini-MSFT  thanks.  Filed support ticket as well.    2105210010002527   Maybe after resolution the docs can be updated.  I only have lowly developer support, so not sure if someone will contact me before monday.

[2021-05-21 22:37] ChaitanyaNaykodi-MSFT commented on #75444
Hello @bmedlin, currently for Diagnostic logging  `FunctionAppLogs ` is the only option for Azure Function App. Another way of achieving the functionality requested above will be to use [Use Application Change Analysis](https://docs.microsoft.com/en-us/azure/azure-monitor/app/change-analysis).
Since we primarily monitor this channel for any documentation improvements and as this issue related to a

[2021-05-21 22:37] #75444 closed

[2021-05-21 22:37] NavtejSaini-MSFT commented on #75709
@soderlind We are checking this and we will get back to you.

[2021-05-21 23:29] Oury-MSFT commented on #75689
@bonova Please see customer feedback above. In this [document](https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/resource-limits#file-io-characteristics-in-general-purpose-tier) the usage of unit is in GiB. But this [blog ](https://techcommunity.microsoft.com/t5/azure-sql/increase-data-file-size-to-improve-hammerdb-workload-performance/ba-p/823337)uses a similar table but in GB ins

[2021-05-22 00:09] TravisCragg-MSFT commented on #75709
@soderlind This limit is published in the [Azure DNS section, there is a limit of 20 Alias records for a single Azure Resource in Azure DNS](https://docs.microsoft.com/en-gb/azure/azure-resource-manager/management/azure-subscription-service-limits#azure-dns-limits). You can have records in other DNS services as well.

If you would like us to increase this limit, please [leave your feedback Here at

[2021-05-22 00:09] #75709 closed

[2021-05-22 01:43] b-juche commented on #75337
Connected with Win (@elfcounsel )  and provided doc changes that are implemented through PR 159729 (https://github.com/MicrosoftDocs/azure-docs-pr/pull/159729 ).

[2021-05-22 01:43] b-juche commented on #75337
#please-close

[2021-05-22 01:43] #75337 closed

[2021-05-22 02:04] dimaqq commented on #43257
Are you the error is not "must start with `/`." where the period is merely grammatical?

[2021-05-22 02:33] Karishma-Tiwari-MSFT commented on #75404
My understanding is that you are trying to understand the best option for you between LRS and ZRS.

When deciding which redundancy option is best for your scenario, consider the tradeoffs between lower costs and higher availability. The factors that help determine which redundancy option you should choose include:

-How your data is replicated in the primary region
-Whether your data is replicated

[2021-05-22 02:33] #75404 closed

[2021-05-22 02:34] cconrado opened #75711 "Missing the parameter to disable device"
![image](https://user-images.githubusercontent.com/9168464/119212189-44ec9b00-ba7c-11eb-94c0-0a619880ff29.png)

Missing the -AccountEnabled False even though it's referenced in the text

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad8e93b0-2d8b-68c0-62ee-be44831b1557
* Version Independent ID: b55939f9-e552-9818-80b7-

[2021-05-22 04:00] gfaraj commented on #47611
@RyanHill-MSFT Were you able to find out anything about this? Thanks!

[2021-05-22 04:36] #75567 closed

[2021-05-22 05:12] Karishma-Tiwari-MSFT commented on #75419
I am reaching out to the Product team to confirm on this.

In future, you can also connect with the Product team on [TechCommunity for Windows Virtual Desktop](https://techcommunity.microsoft.com/t5/windows-virtual-desktop/bd-p/WindowsVirtualDesktop).
Existing thread on this topic: **https://techcommunity.microsoft.com/t5/windows-virtual-desktop/start-vm-on-connect-starts-public-preview/m-p/224735

[2021-05-22 05:53] Karishma-Tiwari-MSFT commented on #75429
It is in the planned (Committed) state for AKS Roadmap as seen in this [AKS Public Roadmap doc](https://github.com/Azure/AKS/projects/1#card-37200002).

https://github.com/Azure/AKS/issues/688

Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the di

[2021-05-22 05:53] #75429 closed

[2021-05-22 05:54] Karishma-Tiwari-MSFT commented on #75570
@roygara Can you please help confirm on the same? Thanks.

[2021-05-22 06:04] JohnPoetzinger commented on #75570
Definitely review! Upon looking a second time I am feeling less sure. 0 rpo
would mean very high redundancy so ZRS might be appropriate. But your
synchronous writes will have lower performance. They will take longer to
commit. I am feeling a bit unsure about my feedback in hindsight. Would
love a second set of eyes.

On Fri, May 21, 2021 at 7:55 PM Karishma Tiwari - MSFT <
***@***.***> wrote:

[2021-05-22 06:14] Karishma-Tiwari-MSFT commented on #75571
I have updated the link to https://github.com/deislabs/oras for oras CLI.

Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-05-22 06:14] #75571 closed

[2021-05-22 06:15] Karishma-Tiwari-MSFT commented on #75604
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-22 06:16] Karishma-Tiwari-MSFT commented on #75622
@MasterKolka Did you get a chance to go through the comment above? Let us know. Thanks.

[2021-05-22 06:18] oceansv opened #75714 "Ways to use Azure databricks with Azure machine learning"
[Enter feedback here]

We have 3 ways for interacting azure databricks with azure machine learning platform

1) Install azure ml sdk or azure ml auto sdk in databricks cluster and work in databricks.
2) Use databricks step from azure machine learning to invoke a scripts that will run in databricks clusters.
3) Use Ml Flow in databricks to track and deploy in azure machine learning.

Just want to u

[2021-05-22 06:26] pxmonti opened #75715 "Deployment of the ARM template will fail"
#Deployment of the ARM template will fail with "Resource not found error"
Please update this page because the provided template will fail. It will throw a "resource not found" error during deployment because of how the reference to the managed identity is specified. Find the resolution in another docs.microsoft.com article (see below).

Reference: https://docs.microsoft.com/en-us/azure/azure-resou

[2021-05-22 06:58] upliftertom commented on #43257
We managed to fix it manually using the api. The page validation in the ui meant that it required it to start with /. but this broke the routing for our app.

I thought /. was an update to use regex here. The tooltip was not useful as I didn't know why it now had to start with /. .

This page would really benefit with some links to some documentation- I find it very difficult to use, as there are

[2021-05-22 07:19] MasterKolka commented on #75622
@shizhMSFT @Karishma-Tiwari-MSFT Sorry, I was busy yesterday.

Steps to reproduce:
1. Create a Managed identity
2. Create a KV
3. Assign an access policy "Key management" to this Managed Identity
4. Generate a key in the kv
5. Create a Container registry premium with encryption using the identity and the key created before.
6. Enable System identity for this Container registry
7. Assign an access

[2021-05-22 08:26] Julia0518 opened #75717 "The sample code on this page is wrong."
1. Now....
`net use <desired-drive-letter>: \\<storage-account-name>.file.core.windows.net\<share-name> /user:Azure\<storage-account-name> <storage-account-key>`

2. It should be....
`net use <desired-drive-letter>: \\<storage-account-name>.file.core.windows.net\<share-name> <storage-account-key>/user:Azure\<storage-account-name>`

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2021-05-22 08:30] BhargaviAnnadevara-MSFT commented on #75715
@pxmonti Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-05-22 08:44] Klaas- commented on #75404
@Karishma-Tiwari-MSFT

why not? Is there anything besides the disk that needs to be zone redundant for this to work? Or let's put it another way: is this a planned feature?

[2021-05-22 08:56] ShirleyWangMSFT commented on #75694
Thank you @fvarga01 for your feedback!  Assigning to @swinarko to add a pricing example for SSIS Integration Runtime.
#reassign:swinarko

[2021-05-22 09:23] Julia0518 commented on #75717
Another wrong code

1. Now....
`icacls z: /grant wvdadmin@relaxliongroup.onmicrosoft.com:(M)`
`icacls z: /grant "Creator Owner":(OI)(CI)(IO)(M)`

2. It should be....
`icacls z: /grant wvdadmin@relaxliongroup.onmicrosoft.com:M`
`icacls z: /grant ("Creator Owner" + ':(OI)(CI)(IO)M')`

[2021-05-22 13:13] MayankBargali-MSFT commented on #75711
@cconrado Thank you for your feedback! We will review and update as appropriate.

[2021-05-22 13:15] MayankBargali-MSFT commented on #75714
@oceansv Thank you for your feedback! We will review and update as appropriate.

[2021-05-22 13:16] MayankBargali-MSFT commented on #75717
@Julia0518 Thank you for your feedback! We will review and update as appropriate.

[2021-05-22 16:13] rogfleming opened #75719 "Azure Security Center - Continuous Export"
[Enter feedback here]
Is Log Analytics Workspace ingestion charged twice for the same data? Meaning does data in one subscription when exported charge for its ingestion and then is this ingestion charged again in the central workspace? effectively changing the customer 2 times for the same data?

Thank You

Roger Fleming

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2021-05-22 18:10] stubble2018 commented on #75562
Please close this issue. Thanks for looking into this. I do not know how it got resolved. But I deleted all k8s deployments and redeployed using tutorial from microsoft docs. It has to be some problem with the book tutorial.

[2021-05-22 19:59] carlosporter opened #75725 "Question about ssh access to Linux VM using the AADSSHLoginForLinux extension."
I followed the steps on the document to enable access to the virtual machine through ssh using my Azure AD credencials, however it seems these don't with Putty or any other third party ssh client.

So my question is, if this extension will allow access to the virtual machine using only "az ssh vm"

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2021-05-22 22:06] karlgots opened #75726 "Broken link in ACI ASB 1.1"
The "Deploy container instances into an Azure virtual network" link in 1.1 is broken (results in a 404 error). The links should point to https://docs.microsoft.com/en-us/azure/container-instances/container-instances-vnet instead of the current https://docs.microsoft.com/en-us/azure/container-instances/container-instances-vnet.

![image](https://user-images.githubusercontent.com/4255248/119241981-9

[2021-05-22 22:33] karlgots opened #75727 "Missing content in recommendation 1.3"
Is the recommendation 1.3 a copy-paste error from one of the storage services? As ACI hosts a compute layer, it can certainly be used to host web applications and as such, it would be meaningful to discuss options to protect it, in the spirit of the Baseline.

For example, I would presume this could include recommending the use of Azure Front Door WAF, Azure Firewall, or other options.

Here's my

[2021-05-22 22:52] NavtejSaini-MSFT commented on #75719
@rogfleming We are checking this and will get back to you.

[2021-05-23 00:56] MonikaReddy-MSFT commented on #75726
@karlgots -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-05-23 00:57] MonikaReddy-MSFT commented on #75727
@karlgots - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-05-23 01:42] ToruMakabe opened #75729 "Possible return values of InstanceView.state"
I want to re-create container groups periodically, such as hourly jobs, so I have to check the status of container groups to avoid deleting containers in the running.

So, let me know the possible values and definitions of [InstanceView.state](https://docs.microsoft.com/en-us/rest/api/container-instances/containergroups/get#instanceview).  I know four statuses(Running, Succeded, Failed, and Pendin

[2021-05-23 03:40] NavtejSaini-MSFT commented on #75725
@carlosporter We are checking this and will get back to you.

[2021-05-23 03:42] NavtejSaini-MSFT commented on #75729
@ToruMakabe We are checking this and will get back to you.

[2021-05-23 05:48] ChevronSoftware opened #75731 "Possible security concern: Static Web App serves arbitrary files from repo root"
Thanks to all involved in creating this excellent service and associated documentation!

The docs (if not the product itself) should perhaps address the following scenario:
1) A web app exists at the root of a repo;
2) The guidance here is followed to create the workflow YAML;
3) The YAML can be downloaded by URL sniffing the deployed site, e.g. at /azure-pipelines.yml.

This feels like informatio

[2021-05-23 08:48] DARKinVADER commented on #75621
Hi Guys,

thank you for working on this issue. Here are the repro steps:
https://www.loom.com/share/fb4dfef9e43b4144a8df1474ea51f2d7

the same situatuion in Chrome and Edge (Chromium based) as well. If you need any other info please let me know!

thx and have a nice day!
Gábor

[2021-05-23 08:53] ThijsLecomte opened #75736 "Azure Sentinel Workbooks Permissions issue"
[Enter feedback here]
The docs state: * Creating and deleting workbooks requires the additional Monitoring Contributor role. For more information, see Additional roles and permissions.

But is this still valid? The 'additional roles and permissions' part does not reference this.
If you look into the differents roles and it's permissoins (https://docs.microsoft.com/en-us/azure/role-based-access-con

[2021-05-23 10:23] LizaShak opened #75738 "Missing content on how to assign a managed identity access to an application role using Rest API"
Hi,

In our last project we had to assign app role to managed identity.
Currently the documentation specifies only how you can do so by using Powershell:
[link to doc](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-to-assign-app-role-managed-identity-powershell)
There is also a way to assign it using a Rest API call, which is needed in pipelines and

[2021-05-23 10:46] heing commented on #75398
Thanks for the reply. I do not set repositoryUrl, but the AzureStaticWebApp@0 task sets it when deploying my application. After that, I cannot run ARM template deployment. Setting repositoryUrl to null in the ARM template does not help. How can I prevent the AzureStaticWebApp@0 from setting repositoryUrl when deploying using Azure Pipelines?

[2021-05-23 11:20] memildin commented on #75607
Hi @smedin4, thanks for the feedback and for taking the time to help us improve the docs.

As the FAQ entry makes clear, Linux support is only one of the differentiators. The Qualys-powered vulnerability assessment extension remains a valuable tool and a widely adopted feature from Azure Defender.

I'm going to close this issue, but feel free to comment again here or open a new one if you have add

[2021-05-23 11:20] #75607 closed

[2021-05-23 11:32] dpapkin opened #75739 "The tag "The tag - Append tag and its default value to resource groups" is actually tag - Append tag and its value to resource groups""
The tag "Append tag and its default value to resource groups" is actually tag "Append tag and its value to resource groups"

[Enter feedback here]

The tag "Append tag and its default value to resource groups" is actually tag "Append tag and its value to resource groups"

There is no word **default**.

Create a blueprint #8 & #9

Create a blueprint
8. Add a policy assignment at the subscription le

[2021-05-23 12:06] marshyon opened #75740 "urls are case senstive"
when accessing functions from the public facing URL, case sensitivity applies in order not to get a 404 - which can be very confusing

for example

https://name_of_function_here.azurewebsites.net/api/HttpExample?name=Jon

will return :

Hello, Jon. This HTTP triggered function executed successfully.

however

https://name_of_function_here.azurewebsites.net/api/httpexample?name=Jon

will return

40

[2021-05-23 13:19] NavtejSaini-MSFT commented on #75731
@ChevronSoftware We are checking this and will get back to you.

[2021-05-23 13:20] NavtejSaini-MSFT commented on #75736
@ThijsLecomte We are checking this and will get back to you.

[2021-05-23 13:39] giovannifl opened #75741 "Azure Web App free TLS cert is not supported by AZ CLI when the Web App has been deployed in a different Resource Group than the App Service Plan"
This article should be updated including technical limitations:
https://github.com/Azure/azure-cli/issues/9972

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc2ee874-df45-1de2-1b30-1fd75c7fd709
* Version Independent ID: ee181722-8386-9842-407f-d0549012d2e9
* Content: [Add and manage TLS/SSL certificates - Azure App Se

[2021-05-23 13:45] giovannifl opened #75743 "Files are modified while uploaded into a Key Vault and when downloaded, they are unusable"
I've noticed that when I've uploaded a JSON file with some secretes into an Azure Key Vault that duruing the upload process multiple "\n" have been added.
As a result, when the secret has been downloaded, the file was not well formed and in my case, I had to used sed in order to restore it.
I've also tried to decode the JSON file with base64 but also in that case, the uploaded file has been modifi

[2021-05-23 13:58] MayankBargali-MSFT commented on #75740
@marshyon Thank you for your feedback! We will review and update as appropriate.

[2021-05-23 14:05] sarbjitsg commented on #40094
Greetings,

I know this thread is close and yet I have the exact same problem. In the Windows Explorer, it shows that the "The disk is write-protected".

Tried using another laptop.  Still the same issue.
Also the link (https://microsoft.github.io/azure-iot-developer-kit/docs/understand-security-chip/) from @Alberto-Vega  it not helpful as it is not about this issue.

Please assist. Thank You

SS

[2021-05-23 14:42] ChevronSoftware commented on #75731
Thank you very much for looking into this so promptly, much appreciated!

[2021-05-23 17:06] KrishnaG-MSFT commented on #75739
@dpapkin Thanks for your comment! We will review and provide an update as appropriate.

[2021-05-23 17:45] DeanGross opened #75745 "Unhelpful link"
The link to SharePoint online near the end of the article does not point to content that this helpful. Please change the link or update the target content.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5b78894-32c2-6712-6699-f3c87d40b1d7
* Version Independent ID: dd791c15-d43b-b203-a93f-a8ec33c519b0
* Content

[2021-05-23 17:51] adiazcan opened #75747 "Can't verified credentials on the last step"
Hello, following all the steps didn't work for me.

I have the following error when I try to verify the new credentials using the "verifier" sample app.

Error Code.SdkEception
Error Details: Unhandled ExceptionUnexpected JSON token at offset 1567: Expected string or non-null literal JSON input...

With the following logs:

2021-05-21 12:50:32,534 WARN/MSA: Disallowing SSO with com.microsoft.emmx

[2021-05-23 17:52] juven-itsapark commented on #6371
From Ubuntu 18.04, postgres version 11, none of the previously accepted solutions are working. PSQL, psycopg2 and sqlalchemy are failing.

[2021-05-23 17:55] NavtejSaini-MSFT commented on #75738
@LizaShak We are checking this and will get back to you.

[2021-05-23 17:56] NavtejSaini-MSFT commented on #75745
@DeanGross We are checking this and will get back to you,

[2021-05-23 17:57] NavtejSaini-MSFT commented on #75741
@giovannifl We are checking this and will get back to you.

[2021-05-23 17:58] NavtejSaini-MSFT commented on #75743
@giovannifl We are checking this and will get back to you.

[2021-05-23 18:08] aronchick opened #75748 "Missing link to Github page"
Is there a reason this page doesn't link to the github code for it?

https://github.com/Azure/MachineLearningNotebooks/tree/master/how-to-use-azureml

This seems like a mistake and I had to go to Google to figure out where the code was. I was expecting this to be in the pre-requisites.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2021-05-23 20:00] yelevin commented on #75665
Thanks for reaching out. In the "[Respond to incidents](https://docs.microsoft.com/azure/sentinel/tutorial-respond-threats-playbook#respond-to-incidents)" section of the document in question, step 6 says:
"Only playbooks that start with the incident trigger can be run from automation rules, so only they will appear in the list."

I will try to make this stand out more.

[2021-05-23 20:02] yelevin commented on #75665
#please-close

[2021-05-23 20:02] #75665 closed

[2021-05-23 20:16] mike-urnun-msft commented on #74966
Great, thank you for your help, @davidmrdavid!

@Robertj1983 Thank you for sharing your feedback and helping us drive improvements towards MS Docs!

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-05-23 20:16] #74966 closed

[2021-05-23 21:10] Adham-WEB opened #75749 "Currently, you must create a separate account for each API. (even similar type?)"
Quoting
"""Select Core (SQL) to create a document database and query by using SQL syntax.
The API determines the type of account to create. Azure Cosmos DB provides five APIs: Core (SQL) and MongoDB for document data, Gremlin for graph data, Azure Table, and Cassandra. Currently, you must create a separate account for each API."""

[Enter feedback here]> Please check this information on Microsoft

[2021-05-23 21:41] aronchick opened #75750 "There is no link to the raw GitHub repo"
There's no link to the raw github code for this example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f70a36b8-6b3b-e06c-84d6-33fd56f79ea7
* Version Independent ID: fd3dc619-fc56-5f93-860b-997c2eeb44f4
* Content: [Train scikit-learn machine learning models - Azure Machine Learning](https://docs.microsoft.com/en-us/azu

[2021-05-23 22:47] benjamincburns opened #75751 "How can I deploy a Bicep template using a pipelines task?"
On this page we see how to deploy templates two ways, via PowerShell, and via two tasks, Copy & Deploy.

The copy and deploy approach doesn't work if I want to use a bicep script. Is there some deployment task that supports Bicep templates?

If not, can the docs please be updated to provide the current recommended approach for deploying templates written in Bicep?

---
#### Document Details

⚠ *Do

[2021-05-23 22:56] benjamincburns opened #75752 "Docs don't show how to escape parameters when Azure Pipelines when using the Copy & Deploy method of deploying a template?"
If I use the Copy & Deploy method on this page, it's not clear to me whether I need to escape string variables that are passed in as parameters.

As an example, I have something like the following:

[code]

On the `overrideParameters` line, what happens if my `administratorLoginPassword` contains special chars (whitespace, quote chars, etc)?

The docs should be updated to answer this question, or

[2021-05-24 00:26] bangdu-ms opened #75753 "Application Gateway FAQ JP link is displayed in English/Application Gateway FAQページが英語で表示されてしまう"
[フィードバックをこちらに入力してください]
このFAQページは日本語ではなく、英語で表示されてしまうように見受けられております。
https://docs.microsoft.com/ja-jp/azure/application-gateway/application-gateway-faq
ご確認頂けますでしょうか。

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 8f36f19e-caad-3e86-474a-dd86554e9eb6
* Version Independent ID: 08ad49f3-6a57-b925-794a-37215e985aba
* Content: [Frequently asked questions abo

[2021-05-24 01:33] MixolydianV opened #75755 "Dead link"
There is a link here https://docs.microsoft.com/en-us/azure/data-factory/connector-salesforce#prerequisites with link text "Enable API access in Salesforce by permission set" which gives a 404. There is a number of other articles that seem to have that information, but I'm not sure which one you'd be wanting to link to.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2021-05-24 01:36] yutaro113 commented on #73884
@asudbring Hi, this is just a friendly reminder but is there any update on this? Thank you.

[2021-05-24 02:22] NavtejSaini-MSFT commented on #75747
@adiazcan We are checking this and will get back to you.

[2021-05-24 02:24] NavtejSaini-MSFT commented on #75748
@aronchick We are checking this and will get back to you.

[2021-05-24 03:09] SamaraSoucy-MSFT commented on #75593
One of the downsides of managed instances is that they loose some of the integration options between services. In this way it behaves closer to SQL Server running on a VM than it does Azure SQL.

The instructions for creating a private link from the Data Factory docs should also work for Synapse: https://docs.microsoft.com/en-us/azure/data-factory/tutorial-managed-virtual-network-sql-managed-insta

[2021-05-24 03:55] CHEEKATLAPRADEEP-MSFT commented on #75755
@MixolydianV  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-05-24 04:18] HarshitaSingh-MSFT commented on #75610
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-24 04:18] #75610 closed

[2021-05-24 04:30] ram-msft commented on #75750
@aronchick Thanks for the feedback! We will review and update accordingly.

[2021-05-24 04:49] oraat commented on #16683
This is not working me me either, rebooting NPS server, restarting NPS service does not help.

Besides, we need a version where we can exclude for example one AD group from the MFA.
Scenario: Corporate users start user tunnel with certificate, ext users will be using using username and password combination to user tunnel + Azure MFA.

Please fix this.
thanks,

oraat

[2021-05-24 04:59] KalyanChanumolu-MSFT commented on #75749
@Adham-WEB The statement on GitHub documentation is correct.
You need to create separate accounts for each API type.

Please share the link to the MS Learn page if you have it handy.

[2021-05-24 05:43] RohitMungi-MSFT commented on #75748
@aronchick A reference to the MachineLearningNotebooks repo is available in the [notebooks ](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-use-environments#notebooks) section of this page but for a particular scenario. In general references to the repo are available in the documentation for specific notebooks.

@saachigopal Could you please review the doc to check if a reference c

[2021-05-24 05:57] CHEEKATLAPRADEEP-MSFT commented on #75422
@chengyu-liu-cs, Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2021-05-24 05:57] #75422 closed

[2021-05-24 05:58] CHEEKATLAPRADEEP-MSFT commented on #75423
@spelluru Could you please take a look at the above ask?

[2021-05-24 06:01] CHEEKATLAPRADEEP-MSFT commented on #75632
@ibTnJohn Could you please help me with the "learn more" document?

[2021-05-24 07:01] SwathiDhanwada-MSFT commented on #75751
@benjamincburns Thanks for your comment. We will review the issue and get back to you shortly.

[2021-05-24 07:02] SwathiDhanwada-MSFT commented on #75752
@benjamincburns Thanks for your comment. We will review the issue and get back to you shortly.

[2021-05-24 07:22] RohitMungi-MSFT commented on #75540
@psavdekar Is it possible to list the differences in usage for parallel and python steps to avoid confusion in the documentation?

[2021-05-24 07:59] drownintheloch commented on #74360
@PramodValavala-MSFT what's the status of this? Have you been able to check the test case provided by @johol545 ?

[2021-05-24 08:00] chengyu-liu-cs commented on #75422
Not sure why you felt this not related. Clearly in this content source, connections and errors are described. The Error I mentioned is not in the doc. It should be addressed.

[2021-05-24 08:16] riyanka-atci commented on #29092
Hi @DCtheGeek Did you find the resolution to your issue? as i was also looking for a similar solution.

[2021-05-24 08:27] morilon commented on #45642
Yes, the problem was a freaking typo on the volume. I forgot to update the answer here, once we updated the volume with the correct path to the json it worked.

[2021-05-24 08:47] dariuszbz commented on #75611
Sorry, my bad. No problems with the doc. The platform doesn't work as it
supposed to work in relation to the document. Again. Sorry to bother you.

Could you direct me to the proper forum, perhaps?

On Thu, 20 May 2021 at 16:29, NavtejSaini-MSFT ***@***.***>
wrote:

[2021-05-24 08:58] YutongTie-MSFT commented on #75695
I will check this document to see any point need to be changed. Please do let me know if anything you think is not correct.

We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-05-24 08:58] #75695 closed

[2021-05-24 09:08] v-amallick commented on #75446
@trungtran-msft
Thank you for your feedback. I will check with the product group and get back.

@SadiqhAhmed-MSFT
Thanks for looping me in.

[2021-05-24 09:10] som-nitjsr opened #75758 "WAF exclusion Rule for cookie name"
I am using WAF and creating exclusion Rule. I wanted the exclude the aspnet openid connect cookie as cookie name itself is violating's the WAF rule. based on the documentation I think WAF exclusion works on value not on the name . please suggest
how i can exclude the cookie name itself.

Warning. Pattern match \"(/\*!?|\*/|[';]--|--[\\s\\r\\n\\v\\f]|(?:--[^-]?-)|([^\-&])#.?[\\s\\r\\n\\v\\f]|;?\\x0

[2021-05-24 09:11] ulzeraj opened #75759 "Article title and private websites"
[Enter feedback here]

Please edit the title to something like "Monitor the availability of any public facing website". It is a bit misleading and some people don't care to read the requirements within the article body.

Believe or not this title has lead to lots of meetings with people who only read the title and want to monitor their private network sites and applications.

Thank you.

---
####

[2021-05-24 09:44] skmkzyk opened #75761 "bicep supports loops and conditions?"
In this blog post below sample code is described.

[code]

https://blog.ivemo.se/Using-loops-with-Bicep/#2-filtered-resource-loops

The combination of loops and conditions is listed as Known Limitations but is achieved for now?

As far as I tested in my local machine with 0.3.539 (c8b397dbdd), `az bicep decompile` and `az deployment group create` with a bicep file using combination of `for` and `i

[2021-05-24 09:49] MikaVirkkunen opened #75762 "Azure Firewall Log entries"
There could be a mention in troubleshooting page that Azure Firewall logs these:

APIServerPublicIP:443&nbsp;(if running pods/deployments that access the API Server) | TCP | 443 | Required if running pods/deployments that access the API Server, those pods/deployments would use the API IP. This is not required for&nbsp;private clusters
-- | -- | -- | --

as Action: Deny. Reason: SNI TLS extension w

[2021-05-24 09:53] tigerdeccan opened #75763 "Add template that will enable private link and disable public access"
We need a template which will enable private link and disable public access . because enabling privvate link is not disabling public access automatically .

If you can provde arm template that will do it in single deployment.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39848b5b-77c2-7fbb-930e-0550d48c564b
* Version

[2021-05-24 10:01] SwathiDhanwada-MSFT commented on #75524
@Hatsikki Yes, only Azure resources are supported as of now. For more information, refer [this document](https://docs.microsoft.com/en-us/azure/azure-monitor/agents/agents-overview#summary-of-agents).

As there are no further documentation changes, We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-05-24 10:01] #75524 closed

[2021-05-24 10:02] AnuragSharma-MSFT commented on #75763
@tigerdeccan Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-05-24 10:06] SwathiDhanwada-MSFT commented on #75761
@skmkzyk Thanks for your comment. We will review the issue and get back to you shortly.

[2021-05-24 10:09] SwathiDhanwada-MSFT commented on #75759
@ulzeraj Thanks for your feedback.

Assigning to content author @lgayhardt for review and content enhancement if needed.

[2021-05-24 10:11] piotrgwiazda opened #75765 "Zone redundant storage not available in Recovery Services vault"
The documentation mentions
"If you need data availability without downtime in a region, guaranteeing data residency, then choose zone-redundant storage."

Neither portal, nor CLI/REST API allows setting Zone Redundant Storage. Only LocalltRedundant and GeoRedundant storage type is available
https://docs.microsoft.com/en-us/rest/api/backup/backupresourcevaultconfigs/update#storagetype

Please clari

[2021-05-24 10:12] JayaChatterjee-MSFT commented on #75457
@craigshoemaker, @ggailey777 Could you please look into it and confirm whether we need a PR for this?

[2021-05-24 10:17] psmanhas commented on #75762
@MikaVirkkunen Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-05-24 10:17] psmanhas commented on #75762
@mlearned Can you please check and add your comments on this doc update request as applicable

[2021-05-24 10:22] KrishnaG-MSFT commented on #75690
I have verified and updated the document as required. The update would reflect soon i.e., in less than 24 hours.

[2021-05-24 10:22] #75690 closed

[2021-05-24 10:38] Bhodges94 opened #75766 "The documentation around MFA is very misleading"
![image](https://user-images.githubusercontent.com/53040385/119335087-ca8e6780-bc83-11eb-916c-3203154247ae.png)

Here it says you can’t enable it on a per user basis. Which isn’t true if it’s talking about the option on the screen shot above because I’ve tried and tested this with an external account with no roles assigned to it and it doesn’t require more than a basic license for MFA:
![image](ht

[2021-05-24 10:38] NicolasPSQ commented on #10410
Hi, is there any update about this issue?
Because, i don't find any workaround and solution to configure Azure AD Connect. I see the issue seems close but, there is no documentation.

@SaurabhSharma-MSFT

[2021-05-24 10:43] HarshitaSingh-MSFT commented on #75766
Hello @Bhodges94 , thanks for the question! We are taking a look into this and will get back to you soon.

[2021-05-24 10:58] miwithro commented on #75678
@andyzhangx

[2021-05-24 10:59] BharathNimmala-MSFT commented on #75421
@Jont-K My sincere apologies for delay in getting back to this thread.

Appreciate you taking the time and sharing your feedback to improve our documentation. I have reached out to our internal team to evaluate if this is something they can take as backlog item and enhance the document accordingly.

Will update the thread accordingly as hear more information.

[2021-05-24 11:05] kingwil opened #75767 "Default configuration script configuration via template"
It was not possible to configure the LCM setting RebootNodeIfNeeded = true using the documentation provided. However, the docs state this should be possible via the Default Configuration Script (settings.configurationArguments.RebootNodeIfNeeded).

The below error is encountered during deployment:

`{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please lis

[2021-05-24 11:07] wang-piaoliang opened #75768 "lacking samples of runconfig.yml"
Could we have a sample on "D:\\Yaml\\default_runconfig.yml"
![image](https://user-images.githubusercontent.com/52517818/119338890-20cecb00-bcc3-11eb-8be5-d379d8ecd7b6.png)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac092952-4045-3862-e95f-8771d0b67649
* Version Independent ID: f33af841-db1e-9

[2021-05-24 11:32] v-hagamp commented on #43043
Issue resolved as suggested.
#please-close

[2021-05-24 11:32] #43043 closed

[2021-05-24 11:32] v-hagamp commented on #43735
Issue resolved as suggested.
#please-close

[2021-05-24 11:32] #43735 closed

[2021-05-24 11:50] lucarv opened #75770 "SAS Token for modules"
[Enter feedback here]
This document states that a module can get a SAS Token from the workload API. There is no indication what specific API call. No API could be found to generate SAS Token. on [this page](https://github.com/Azure/iotedge/blob/40f10950dc65dd955e20f51f35d69dd4882e1618/edgelet/workload/README.md)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2021-05-24 11:50] giovannifl opened #75771 "Missing Active Directory and Local users requirements"
While in Linux VMs (at least generally speaking) you don't need to distinguish beetwen local users and "centrally managed users", in Windows you have to distinguish between these two type of users.

This document should clarify what are the requirements from and AD / Workgroup perspective in order to use Azure AD as authentication method.

Let say that I want to RDP into an Standalone WS Server 20

[2021-05-24 11:52] kulkarnisachin07 commented on #75690
Thanks for quick action!

[2021-05-24 12:00] MayankBargali-MSFT commented on #75753
@bangdu-ms Thank you for your feedback! We will review and update as appropriate.

[2021-05-24 12:05] mcalnd70 opened #75772 "Troubleshooting Key Vault automatic syncing failures for certificates to Web Apps"
From this https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate#import-a-certificate-from-your-vault-to-your-app

We have instances when we update the cert in the Key Vault to a new version (before it expires), the Web App will just not sync up automatically. As it states in the documentation...

"If you update your certificate in Key Vault with a new certificate, App Servic

[2021-05-24 12:17] v-hagamp commented on #52993
Issue resolved as suggested above.
#please-close

[2021-05-24 12:18] #52993 closed

[2021-05-24 12:19] shashishailaj commented on #74505
@zuboje  The change has been submitted on this one and it will be updated by first week of June. We will currently close this issue .

[2021-05-24 12:19] #74505 closed

[2021-05-24 12:20] jeevannagvekar commented on #74903
Hello team,
Thanks for response. I have some more questions.

1. My understanding about Image update case:
- The file system stays intact after image update; the packages and applications installed also are unaffected. Hence there is no need to re-install applications and packages.
- The time taken to install and deploy the new image is the downtime. During image download, the device will be fully

[2021-05-24 12:21] v-hagamp commented on #54029
The URL was updated.
#please-close

[2021-05-24 12:21] #54029 closed

[2021-05-24 12:31] v-vikum2 commented on #53222
@Membaer Can you please submit the request [here ](https://microsoft.sharepoint.com/teams/apponboarding/Apps)to list the open ID app as well in the gallery?

![image](https://user-images.githubusercontent.com/27669664/119348026-f62c4480-bcb9-11eb-9ff8-2cf166011622.png)

[2021-05-24 12:31] HarshitaSingh-MSFT commented on #75771
Hello @giovannifl , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-05-24 12:32] v-hagamp commented on #30107
#please-close

[2021-05-24 12:32] #30107 closed

[2021-05-24 12:47] SadiqhAhmed-MSFT commented on #75765
@piotrgwiazda Thank you for posting the question. We will look into it and get back to you soon.

[2021-05-24 12:47] tcsougan opened #75773 "Different DNS scenarios need to be included when it comes to using the Private Link"
[Enter feedback here]

https://docs.microsoft.com/en-us/azure/azure-sql/database/private-endpoint-overview#connecting-from-an-on-premises-environment-over-vpn

We have been receiving a lot of costumer who think that just enabling the Private Link on their SQL database will make it available through their VPN which is not the case all the time. I think it is important to include the DNS scenarios o

[2021-05-24 12:50] pmaslej opened #75774 "az backup restore restore-azurefileshare resource group"
There is illogical way when performing "Restore a full share to an alternate location" via CLI
https://docs.microsoft.com/en-us/azure/backup/restore-afs-cli

it uses only one resource group, so original and target storage accounts have to be under single resource group. This makes no sense only causing problems with automation, for example if after restoring data we want to delete whole resource g

[2021-05-24 12:54] tcsougan opened #75775 "Different DNS scenarios for the Azure Data Factory Private Link"
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/data-factory/data-factory-private-link#dns-changes-for-private-endpoints
We have been receiving a lot of costumer who think that just enabling the Private Link on their Data Factory will make it available through their VPN which is not the case all the time. I think it is important to include the DNS scenarios on this page so the custome

[2021-05-24 12:55] v-hagamp commented on #64085
#please-close

[2021-05-24 12:55] #64085 closed

[2021-05-24 13:00] nunepalli commented on #75593
@SamaraSoucy-MSFT
Thanks for the response.

I'll test the instructions in the link you provided, and get back to you if I face any problems.

[2021-05-24 13:35] v-hagamp commented on #45358
@hisssa ,

We didn't find the Response URL in the excel you shared. So, please mention here that the latest Response URL to add in the document or send a mail to SaaSApplicationIntegrations@service.microsoft.com.

[2021-05-24 13:37] GiftA-MSFT commented on #75768
@wang-piaoliang we'll review your feedback and get back to you shortly. Thanks.

[2021-05-24 13:38] lesterw1 opened #75776 "Add Tenant Object Quota"
Apparently, there is some sort of overall object quota, presumably for Azure Active Directory. I came across the message below which stated _299969 of 350000 objects in use_.  I could not find areference to this particular quota in this page of documentation.

![image](https://user-images.githubusercontent.com/30345058/119355597-5c569e80-bc9d-11eb-9921-fb525b182975.png)

You might also link to thi

[2021-05-24 13:40] shashishailaj commented on #72117
@CF8000 Apologies for the delay on this . We have requested the authors to document the findings on this one and update the [FAQ section](https://docs.microsoft.com/en-us/azure/active-directory/external-identities/direct-federation#can-i-set-up-samlws-fed-idp-federation-with-a-domain-for-which-an-unmanaged-email-verified-tenant-exists)

[2021-05-24 13:47] rahulnair20 opened #75777 "Java Sample doesn't work"
Hi,
We tried copying the same Java sample and ran it. Got 403 status code. One printing the whole response got this:
{"Error":"InvalidAuthorization","Message":"An invalid signature was specified in the Authorization header"}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 657b5b68-4c41-841a-1110-67b9c2049e39
* Version I

[2021-05-24 14:05] MonikaReddy-MSFT commented on #75581
@clearlt03 - Sure, thank you for providing the info. I will investigate it further and keep you posted.

[2021-05-24 14:14] #75577 closed

[2021-05-24 14:15] RonnieQuan opened #75779 "NSG Requirement for App Gateway V2"
One of our designated MS CSA, asked us to check back around May, it's about the outbound NSG rule requirement.

Currently it says,
•	Don't remove the default outbound rules.
•	Don't create other outbound rules that deny any outbound connectivity.

This is against our corporate security policy, is there any update on lift up of these constraints?

[Enter feedback here]

---
#### Document Details

⚠

[2021-05-24 14:15] KalyanChanumolu-MSFT commented on #75641
@memildin Could you please evaluate and update the documentation as appropriate.

[2021-05-24 14:24] AshokPeddakotla-MSFT commented on #75770
@kgremban Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-05-24 14:27] wcneumann219 commented on #74973
Hi folks--why is no one responding???

[2021-05-24 14:47] mronnlun opened #75780 "Change Issued to -field in self-signed certificate"
When connecting with mqtt to the edge server, we get a self-signed certificate back with Issued to / Subject -field set to the server name, e.g. myedgeserver. The server is accessed by it's fully qualified domain name, e.g. myedgeserver.example.com. I haven't been able to figure out how to set the fqdn and regenerate the self-signed certificate with the fqdn value in the Subject or SAN fields.

--

[2021-05-24 15:11] IgnacioAlvarezArenas opened #75782 "Snapshot Restore limitation to same App Service Plan does not seem to apply"
Snapshots restoration were limited to app under the same App Service Plan per:

https://docs.microsoft.com/en-us/azure/app-service/app-service-web-restore-snapshots

After some testing I restored even to a different region App Service Plan which was not Premium in a different region indeed

Example:
"correlationId": "5189976a-450c-41a9-942a-494e41051370"

Could we please update the docs

Regards,

[2021-05-24 15:15] coip opened #75783 "missing tools and error handling"
`ipsec` and `openssl` seem to be prerequisite tooling, though theyre not present by default on my powershell ~path (if even installed on the system?)

would be nice to have those listed on the tutorial :)

also, the logging for the process shown here(https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/point-to-site-p2s-configure#attach-a-vpn-gateway-to-a-virtual-network, particularly

[2021-05-24 15:27] vitorbencini commented on #75615
Absolutely. here is the article.
https://docs.microsoft.com/en-gb/azure/communication-services/concepts/pricing

if you go the the end of it you should read:

[2021-05-24 15:31] zr-msft commented on #68327
Thank you @MikeForster100 for the feedback!

The CLI reference now shows `--private-dns-zone` parameter: https://docs.microsoft.com/cli/azure/aks?view=azure-cli-latest#az_aks_create

Also, the following section of the article describes the options for setting up a private dns zone:
https://docs.microsoft.com/azure/aks/private-clusters#configure-private-dns-zone

If you still feel the document is m

[2021-05-24 15:31] #68327 closed

[2021-05-24 15:33] JamesTran-MSFT commented on #75776
@lesterw1
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-24 15:46] craigshoemaker commented on #75457
@987a73ae7992294d - The class used isn't a custom implementation of `NullLogger`, as it uses the [Microsoft.Extensions.Logging.Abstractions.NullLoggerFactory](https://docs.microsoft.com/dotnet/api/microsoft.extensions.logging.abstractions.nullloggerfactory) class.

[2021-05-24 15:48] wUEZRs opened #75785 "Passwordless vs Push"
Please update the article specifying what the difference between "Push" and "Passwordless" are in a passwordless deployment

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee6ac70d-5853-6a3a-0964-23b46910b4c4
* Version Independent ID: a5beda87-9845-8807-6221-7fdc64079587
* Content: [Passwordless sign-in with the Microso

[2021-05-24 15:49] JamesTran-MSFT commented on #75785
@wUEZRs
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-24 15:49] aronchick opened #75786 "Errors in docs"
- There is no "create experiment" when right clicking

![image](https://user-images.githubusercontent.com/51317/119372747-86439d00-bc6c-11eb-9d66-483b9d5a37d5.png)

- There is no option to "run locally" when right clicking

![image](https://user-images.githubusercontent.com/51317/119372776-90fe3200-bc6c-11eb-9b6f-181e3f98e0ac.png)

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2021-05-24 15:53] mtillman commented on #75581
@kenwith Can you take a look at this? There appears to be a missing function.

[2021-05-24 15:54] MicrosoftGuyJFlo commented on #75745
@DeanGross that link takes you to the SharePoint doc that discusses authentication context as part of the section it is in. What other content would you like to see it link to?

[2021-05-24 15:54] MicrosoftGuyJFlo commented on #75745
#reassign:@MicrosoftGuyJFlo

[2021-05-24 15:58] MicrosoftGuyJFlo commented on #75725
@carlosporter You can export the SSH config of your VM using the information in the [Exporting SSH config](https://docs.microsoft.com/azure/active-directory/devices/howto-vm-sign-in-azure-ad-linux#exporting-ssh-configuration-for-use-with-ssh-clients-that-support-openssh) section of the doc.

[2021-05-24 15:58] MicrosoftGuyJFlo commented on #75725
#reassign:@MicrosoftGuyJFlo

[2021-05-24 15:59] charlesbetros opened #75787 "Troubleshootiong Step 1 - Incorrect Extension Version"
In the troubleshooting section on "Step 1" the docs state that the ApplicationInsightsAgent version should be set to "~3".
All other mentions and screenshots of the ApplicationInsightsAgent version on the page show "~2" instead.
I assume the "~3" is incorrect and it should instead be "~2"?

Troubleshooting
_1. Check that the application is monitored via ApplicationInsightsAgent.
    Check that App

[2021-05-24 16:03] ibTnJohn commented on #75632
In "Settings" for SQL Analytics (now Databricks SQL), under Data Sources, there used to be an option to create a new data source and then there were connectors to choose from.  The attached screen shot shows that now there is a message that says only "Creation of new external data sources is disabled. Learn more."  And "Learn more." is a hyperlink that points to this page that says only "Creating

[2021-05-24 16:05] arshadazeem opened #75788 "Typo for ACR domain under Network Requirements in Azure Spring Cloud Customer Responsibilities page (azurecr.io instead of azure.io)"
[Enter feedback here]
The https://docs.microsoft.com/en-us/azure/spring-cloud/vnet-customer-responsibilities#azure-spring-cloud-network-requirements lists the destination endpoint for ACR as *.azure.io:443 Or ServiceTag - AzureContainerRegistry:443.

Shouldn't that be *.azurecr.io:443  instead?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2021-05-24 16:13] PramodValavala-MSFT commented on #75515
@Disorganise We have a PR merged for this and should reflect post MSFT Build.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-24 16:13] #75515 closed

[2021-05-24 16:22] YutongTie-MSFT commented on #75786
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-24 16:22] Oury-MSFT commented on #75773
@tcsougan Thank you for your feedback. We are looking into this and will get back shortly. Thanks

[2021-05-24 16:26] sambyng-msft commented on #75121
Thank you for this.
________________________________
From: NavtejSaini-MSFT ***@***.***>
Sent: 18 May 2021 17:32
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Sam Byng ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Will the Azure Portal IPs ever change? (#75121)

Thank you for confirming @markjbrown<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithu

[2021-05-24 16:30] Oury-MSFT commented on #75783
@coip Thank you for your feedback . We are looking into this and will get back shortly. Thanks

[2021-05-24 16:33] 987a73ae7992294d commented on #75457
@craigshoemaker Ah, I missed that. Is there an actual use for the factory here instead of the NullLogger<T>?

[2021-05-24 16:36] dlepow commented on #75459
@lukos - I appreciate for the suggestion. I've logged it as a potential doc improvement in a future update of this article. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.
#please-close

[2021-05-24 16:36] #75459 closed

[2021-05-24 16:50] dlepow commented on #74829
@sebastus, thanks for the feedback. Further details about the AKS managed identity used with ACR are in the AKS documentation. Does this information help?
https://docs.microsoft.com/azure/aks/cluster-container-registry-integration
https://docs.microsoft.com/azure/aks/use-managed-identity

[2021-05-24 16:51] JamesTran-MSFT commented on #75633
@theoslocrew
I read through the documentation and the Proxy App Url is the URL of your "[SecretAPI](https://docs.microsoft.com/en-us/azure/active-directory/app-proxy/application-proxy-secure-api-access#publish-the-api-through-application-proxy)". Based off my understanding this should be the Internal URL since you're configuring your AzureAD app registration (Native App). However, I'll assign this

[2021-05-24 16:51] #75673 closed

[2021-05-24 16:52] James-Hamil-MSFT commented on #74666
Hi @SamRakaba , I'm updating and closing this thread as abandoned. Please reopen the issue if you return.

[2021-05-24 16:52] #74666 closed

[2021-05-24 16:57] KranthiPakala-MSFT commented on #75775
@tcsougan
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-05-24 16:59] PramodValavala-MSFT commented on #74360
@johol545 @drownintheloch Sorry I couldn't back to this sooner! I did try out the code and can confirm the same behavior. Looks like the problem is how attempts vs retries are counted.

@alrod I misread the code earlier but looks like [this line](https://github.com/Azure/azure-webjobs-sdk/blob/3f4ec78be9f43bb041937425ced00b341883aa42/src/Microsoft.Azure.WebJobs.Host/Executors/FunctionExecutorExten

[2021-05-24 17:00] msLinuxNinja commented on #71664
@thiruma0203 from the IMDS output  it seems you're not using the RAW SKUs. The RAW SKUs are the only ones with a RAW partitioning scheme (AKA not LVM):

[code]

I deployed a 7.6 VM using the URN: `RedHat:RHEL:7-RAW:7.6.2019062120` and get the RAW partitions as expected:

[code]
[code]
Hope this helps!

[2021-05-24 17:00] BarbaraSelden commented on #75473
I have just returned from vacation, and am looking into this now

[2021-05-24 17:03] NavtejSaini-MSFT commented on #75362
@swapnilpotnis Could you please post a screenshot of your firewall configuration?

[2021-05-24 17:04] NavtejSaini-MSFT commented on #75448
@savjani Thank you for helping here, We are going ahead and closing this issue.

[2021-05-24 17:04] #75448 closed

[2021-05-24 17:06] NavtejSaini-MSFT commented on #75466
@sakash279 Please take the decision on PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/159223 We are assigning this case to you.

[2021-05-24 17:07] NavtejSaini-MSFT commented on #75507
@stevestein @MashaMSFT Once confirmed we will make changes to the document.

[2021-05-24 17:09] MicrosoftGuyJFlo commented on #29893
Thanks for providing feedback that helps improve our documentation. This article has been significantly changed since your issue was opened. If the issue remains feel free to reopen. #please-close

[2021-05-24 17:09] #29893 closed

[2021-05-24 17:09] himanshusinha-msft commented on #75434
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-05-24 17:10] MicrosoftGuyJFlo commented on #29915
Thanks for providing feedback that helps improve our documentation. This article has been significantly changed since your issue was opened. If the issue remains feel free to reopen. #please-close

[2021-05-24 17:10] #29915 closed

[2021-05-24 17:10] MicrosoftGuyJFlo commented on #37618
Thanks for providing feedback that helps improve our documentation. This article has been significantly changed since your issue was opened. If the issue remains feel free to reopen. #please-close

[2021-05-24 17:10] #37618 closed

[2021-05-24 17:12] MicrosoftGuyJFlo commented on #49859
#please-close

[2021-05-24 17:12] #49859 closed

[2021-05-24 17:13] MicrosoftGuyJFlo commented on #50316
Thanks for providing feedback that helps improve our documentation. This article has been significantly changed since your issue was opened. If the issue remains feel free to reopen. #please-close

[2021-05-24 17:13] #50316 closed

[2021-05-24 17:15] SaiKishor-MSFT commented on #75375
@ShachafGoldstein Thank you for reaching out to Microsoft Github.

I understand when running the commands for forced tunneling enabled Firewalls, it breaks the deployment of the firewall completely. I reproduced the same with forced tunnelling enabled firewall i.e., deallocated and allocated it back and it worked fine when followed the commands given in the document. I suggest you to reach out to

[2021-05-24 17:25] James-Hamil-MSFT commented on #74841
Hi @Molx32 , pricing is highly individualized depending on project type and subscription type. You can view the pricing calculator to price out your costs: https://azure.microsoft.com/en-us/pricing/calculator/

For something like Teams, the price is rolled in with the subscription type. The pricing for Teams itself can be found here: https://www.microsoft.com/en-us/microsoft-teams/compare-microsof

[2021-05-24 17:45] DickBaker opened #75790 "incomplete title"
the title "Quickstart: Add sign-in with Microsoft to an ASP.NET Core web app" should be "Quickstart: Add sign-in with Microsoft Identity to an ASP.NET Core web app"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 479bff62-927a-9f71-c85f-4a1188c72bb2
* Version Independent ID: df934d01-7a9d-f7f9-d9ea

[2021-05-24 17:48] James-Hamil-MSFT commented on #75017
Hi @michaelulmer I have created a pull request here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/159781

[2021-05-24 17:50] rboucher commented on #74066
I've passed on this feedback.  Given timelines on this end, I don't see that speed control getting in anytime soon. That said, we do have these Azure Monitor videos available on YouTube so you can change the speed there.

https://www.youtube.com/watch?v=ps4iasnS7Qs for example. They are all published under the Microsoft Azure channel.

[2021-05-24 17:50] rboucher commented on #74066
#please-close

[2021-05-24 17:50] #74066 closed

[2021-05-24 17:50] margold commented on #56294
I just saw the same issue as the original reporter: when running `az aks nodepool add` I get the error `node-count is not in the range of min-count and max-count` if `--node-count` is not provided. Interestingly I saw this error intermittently - I was creating multiple nodepools and the error appeared on one but not the other.

[2021-05-24 18:01] circy9 opened #75791 "Typo?"
[Enter feedback here]
The page says:
US/Europe: 9,536 MiB/sec1
Other regions (LRS/ZRS): 9,536 MiB/sec
Other regions (GRS): 4,768 GiB/sec

I guess the last row contains a typo. Should be Mib instead of GiB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 991338c0-1a61-99e1-41ea-45fd5d5fd63d
* Version Independent ID: f2dd

[2021-05-24 18:05] ShachafGoldstein commented on #75375
@SaiKishor-MSFT  - Please double check - Clearly something has to be inputted to $azfw.ManagementIpConfiguration

If the command worked for you then you probably did not associated a route table with 0.0.0.0/0 route to somewhere on the subnet. and in that case it worked but the new allocated firewall is not force tunnling....

[2021-05-24 18:09] JamesTran-MSFT commented on #75790
@DickBaker
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-24 18:13] KranthiPakala-MSFT commented on #75580
@rahg-bmake I have reached out to the respective owners of the ARM template sample. Will update you back once I have a response from the team.

Thank you for your patience

[2021-05-24 18:19] MicrosoftGuyJFlo commented on #18075
@TracyGH

Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response.
The following article may assist you with your concern and has a more active contribution and response team.

[Authentication and authorization using the Microsoft identity platform](https://docs.micr

[2021-05-24 18:19] #18075 closed

[2021-05-24 18:21] coip commented on #75783
the above screenshot I shared is rendered oddly... for signal:noise, here is the cmds leading up to the errors, and a new screenshot with the byte-for-byte output. (orange boxes are my redactions in first img)

![image](https://user-images.githubusercontent.com/12797772/119390319-7b036800-bc92-11eb-8921-f20572636a14.png)

1) software i didnt know i needed until failure
2) the Deployment says compl

[2021-05-24 18:29] JYOTHIRMAISURI commented on #75332
@Sharmistha-Rai

Hi Sharmistha, please help with the  following query from @BharathNimmala-MSFT . Thanks.
-------------------------------------------------------------------
**Does it mean that if using ExpressRoute and private links all communication goes through the circuit, even to public URLs mentioned before?**
----------------------------------------------------------------
Please let us kno

[2021-05-24 18:32] MicrosoftGuyJFlo commented on #24559
@honghuig @ishasahni1 @SunnyDeng @CeciAc @srvbpigh
Follow up on this please and close out if no longer an issue?

[2021-05-24 18:35] MicrosoftGuyJFlo commented on #33311
@barclayn Can you take a look at this?

[2021-05-24 18:36] MicrosoftGuyJFlo commented on #36816
@barclayn Can you take a look at this?

[2021-05-24 18:37] MicrosoftGuyJFlo commented on #42940
@curtand Can you take a look at this?

[2021-05-24 18:38] MicrosoftGuyJFlo commented on #45358
#please-close

[2021-05-24 18:38] #45358 closed

[2021-05-24 18:40] carlosporter commented on #75725
Thanks for your update @MicrosoftGuyJFlo.

I will test it, and see if the configuration file can be converted to a format can be used with Putty or with the windows "ssh" client on Powershell.

Regards,

[2021-05-24 18:41] MicrosoftGuyJFlo commented on #52930
#reassign:@barclayn

[2021-05-24 18:41] MicrosoftGuyJFlo commented on #52930
@barclayn Please take a look at this.

[2021-05-24 18:43] MicrosoftGuyJFlo commented on #56037
#assign:@curtand

[2021-05-24 18:43] MicrosoftGuyJFlo commented on #56037
@curtand can you take a look at this please?

[2021-05-24 18:44] MicrosoftGuyJFlo commented on #56419
#assign:@curtand

[2021-05-24 18:44] MicrosoftGuyJFlo commented on #59210
#assign:@curtand

[2021-05-24 18:46] sergiosolorzano commented on #50330
I also had a similar problem.

I could get the token when "Enable the following mobile and desktop flows:" was set to No. However, after I set it to Yes and back to No, I could no longer get the token unless this setting was set to Yes.

[2021-05-24 19:00] momena opened #75794 "Install-Module -Name AzureADPreview did not work on Mac"
[Enter feedback here]
I installed AzureADPreview and it installed okay. But then Connect-AzureAD did not.
What am I doing wrong. Here is my output:
PS /Users/momahmed/usm_ut/api/server> Install-Module -Name AzureADPreview -Verbose
VERBOSE: Using the provider 'PowerShellGet' for searching packages.
VERBOSE: The -Repository parameter was not specified.  PowerShellGet will use all of the registered r

[2021-05-24 19:04] mmacy commented on #75568
@jmprieur I see that you've removed your assignment have not reassigned this issue - who should this be reassigned to?

[2021-05-24 19:32] soderlind commented on #75709
@TravisCragg-MSFT Sorry but I don't see the point in submitting feature request at feedback.azure.com. The ones already submitted regarding increasing number of alias record are ignored.

Also, I feel strongly you should add information about the limit to the  "Onboard a root or apex domain on your Front Door" documentation. I'm a paying customer, and I'm not happy that I had to add 6 more AFDs  t

[2021-05-24 19:36] femsulu commented on #75758
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-05-24 19:40] femsulu commented on #75767
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-05-24 19:44] femsulu commented on #75772
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-05-24 19:55] keithdoyle9 opened #75798 "This deploys on every pull request."
Unless there's something I'm missing here, you might want to remove the pull_request trigger because every pull request will be deployed as well as any pushes to master. That means PR branches will overwrite the currently deployed "master" branch.

A really nice upgrade would be to check if a storage account exists for the PR branch, if not, create the storage account with static website enabled,

[2021-05-24 19:56] femsulu commented on #75777
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-05-24 19:56] jmprieur commented on #75568
@elraikhm this page is specifically for the migration of ADAL to MSAL libraries.
We didn't provide an ADAL.go library

#please-close

[2021-05-24 19:56] #75568 closed

[2021-05-24 19:58] JamesTran-MSFT commented on #75794
@momena
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-24 19:59] hpsin commented on #75699
We don't support ROPC form web applications.  If you have the ability to operate in a web browser, you should use a more securable authentication flow that takes the user to the login page for credential entry. Receiving an un-scoped refresh token in the browser, and not being able to perform MFA, are both security issues that you should not rely on.

[2021-05-24 20:02] Oury-MSFT commented on #75783
@coipGlad you were able to figure it out. Please do come back if you have any other issues. We are going ahead to close this feedback for now. Thanks

[2021-05-24 20:02] #75783 closed

[2021-05-24 20:08] SatishBoddu-MSFT commented on #75780
Hello @mronnlun
Thanks for the feedback! We will update you shortly.

[2021-05-24 20:13] SatishBoddu-MSFT commented on #40094
Hello @sarbjitsg
Sorry for the inconvenience caused in this matter.
As the referenced issue is very old, we suggest creating a new post on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-iot-hub.html), where community experts and MVPs can take a look at the issue at the earliest.

Thank you for your understanding.

[2021-05-24 20:13] MicrosoftGuyJFlo commented on #73519
@alexbaker94 I am taking this to my backlog to work with @ravarnamsft #please-close

[2021-05-24 20:13] #73519 closed

[2021-05-24 20:15] sarbjitsg commented on #40094
Greetings @SatishBoddu-MSFT , the issue is solved.

It did come down to the laptop having policy to lock USB. Used my kid's computer :) and it solved the issue of firmware upgrade and then went back to my laptop (Intune protected) .

Thank You for your reply.

SS

[2021-05-24 20:16] ravarnamsft commented on #73519
@MicrosoftGuyJFlo , I think you meant @RavennMSFT  :)

[2021-05-24 20:19] MicrosoftGuyJFlo commented on #73762
We are planning major updates to this article to make it clearer for customers. Taking these thoughts to my backlog to work with the product group on updates to docs and product function. #please-close

[2021-05-24 20:19] #73762 closed

[2021-05-24 20:19] MicrosoftGuyJFlo commented on #75127
We are planning major updates to this article to make it clearer for customers. Taking these thoughts to my backlog to work with the product group on updates to docs and product function. #please-close

[2021-05-24 20:19] #75127 closed

[2021-05-24 20:20] MicrosoftGuyJFlo commented on #74987
We are planning major updates to this article to make it clearer for customers. Taking these thoughts to my backlog to work with the product group on updates to docs and product function. #please-close

[2021-05-24 20:20] #74987 closed

[2021-05-24 20:23] zr-msft commented on #70104
Linked PR has been merged.

#please-close

[2021-05-24 20:23] #70104 closed

[2021-05-24 20:23] SatishBoddu-MSFT commented on #40094
Yey! Kid's computer helped, Thanks for the update!
For all future technical questions, please leverage [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-iot-hub.html).

[2021-05-24 20:24] femsulu commented on #75774
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-05-24 20:25] ChaiSwaddipong opened #75799 "AZ Firewall IDPS with Databricks?"
Is this statement still true with the arrival of https://docs.microsoft.com/en-us/azure/firewall/premium-features?

_"if intrusion detection and/or prevention based on payload inspection is not a requirement, Azure Firewall with Threat Intelligence can be used_."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9aa3ac3a-

[2021-05-24 20:28] zr-msft commented on #69409
Thank you @V4A001  for the feedback!

The article contains multiple callouts around this:

* https://docs.microsoft.com/azure/aks/use-azure-ad-pod-identity#using-kubenet-network-plugin-with-azure-active-directory-pod-managed-identities
* https://docs.microsoft.com/azure/aks/use-azure-ad-pod-identity#create-an-aks-cluster-with-azure-cni

#please-close

[2021-05-24 20:28] #69409 closed

[2021-05-24 20:32] memildin commented on #75641
Hi @cchapin-ms, thanks for the feedback and for taking the time to help us improve the docs.

This page is still an accurate reflection of the current status of Azure Security Center's protections for Cosmos DB. Changes are planned, but at this moment in time, there is no firm ETA.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests

[2021-05-24 20:32] #75641 closed

[2021-05-24 20:38] zr-msft commented on #72339
Thank you @pearcec for providing this feedback!

The managed load balancer outbound IP address(es) are always added to the API server authorized IP ranges by default when specifying the allowed range(s).

In the case you manually added your own IP address to the load balancer, this behavior may occur, but adding an unmanaged IP address to your AKS load balancer is not supported.

If you continue t

[2021-05-24 20:39] #72339 closed

[2021-05-24 20:47] stevevi commented on #75263
#please-close

[2021-05-24 20:47] #75263 closed

[2021-05-24 20:49] zr-msft commented on #69597
Thank you @sujaypillai for the feedback!

The article has been updated to incorporate your feedback.

#please-close

[2021-05-24 20:49] #69597 closed

[2021-05-24 21:07] cshea15 opened #75800 "Configure FSLogix on session host VMs Update"
[Enter feedback here]
Can we update Configure FSLogix on session host VMs section of this doc. For the OS we dont need to download the FsLogix agent but the docs is still saying that is needed. If we need to install the agent on certain OS that should be called out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b190f

[2021-05-24 21:08] Nickomang commented on #72018
@skydoctor, thanks for the feedback. AKS began supporting Azure Files premium storage in 1.13, and it looks like our graphics weren't updated with the rest of the doc. I'll be sure to refresh them!

[2021-05-24 21:09] NavtejSaini-MSFT commented on #75611
@dariuszbz You can raise your issue on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/products/) for these issues. For now we will be going ahead and closing this feedback.

[2021-05-24 21:09] #75611 closed

[2021-05-24 21:12] NavtejSaini-MSFT commented on #75605
@ponmile1  For now we will be going ahead and closing this feedback. Please get back to us for any further questions or concerns.

[2021-05-24 21:12] #75605 closed

[2021-05-24 21:25] ChaitanyaNaykodi-MSFT commented on #75484
Hello @pnwguy, Thank you for the feedback. I have made a PR to rectify the note in the documentation and is currently under doc author's review. We will now proceed to close this issue out. Please tag me in your response if there are any additional concerns. Thank you!

[2021-05-24 21:25] #75484 closed

[2021-05-24 21:33] zr-msft commented on #71465
Thank you @lyytinen  for the feedback!

The article has been updated to address your feedback.

#please-close

[2021-05-24 21:33] #71465 closed

[2021-05-24 21:38] zr-msft commented on #69764
Thank you @etaham for the feedback!

Please see the following sections in the article for details around bring your own identity:
* https://docs.microsoft.com/azure/aks/use-managed-identity#bring-your-own-kubelet-mi-preview
* https://docs.microsoft.com/azure/aks/use-managed-identity#bring-your-own-control-plane-mi

#please-close

[2021-05-24 21:38] #69764 closed

[2021-05-24 21:39] mcastorina08 commented on #75429
Yea it's been there since 2018. Can someone make some progress on it?

On Fri, May 21, 2021 at 11:53 PM Karishma Tiwari - MSFT <
***@***.***> wrote:

--
Micah Castorina

*727-686-3818*

[2021-05-24 21:43] RyanHill-MSFT commented on #75782
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-24 21:46] BharathNimmala-MSFT commented on #75787
@charlesbetros Thanks a lot for taking time to bring this to our notice, we will review it and update the document as needed.

[2021-05-24 21:48] jcruiz commented on #75747
Hello @adiazcan, to confirm at what point are you getting the error?
Basically

-  You set up and run the `issuer` app to issue a new credential against your tenant
-  You modify the verifier app,
-  Run the modified app
-  Error shows up once you scan the QR Code in authenticator to verify your new card.

Is that correct?

[2021-05-24 21:54] #65385 closed

[2021-05-24 21:55] #65384 closed

[2021-05-24 21:55] felixcollins opened #75802 "An entity relationship diagram of the classes below Workspace would be very useful."
An entity relationship diagram of the classes below Workspace would be very useful.  I'm talking about a diagram with the boxes under the category "Assets" in the picture at the top of the page. What information does each box contain? How do they relate to each other? How can an object graph of them be traversed?

A specific example of a problem I'm trying to solve:
We have a multitude of training

[2021-05-24 21:57] #65381 closed

[2021-05-24 21:58] zr-msft commented on #71698
Thank you @rp-msft for the feedback!

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-05-24 21:58] #71698 closed

[2021-05-24 22:01] RyanHill-MSFT commented on #75474
Hi @NorthHighlandNicole, I added a direct link to https://docs.microsoft.com/en-us/azure/app-service/configure-common#add-or-edit. Depending on your hosting environment will determine if `:` or `__` gets used for nested application settings.

[2021-05-24 22:11] BharathNimmala-MSFT commented on #75184
Thanks a lot @utraghuv for helping on the thread.

@TiTi Thanks again for reaching out, hope the information shared by @utraghuv helps. Please review the information and circle back if you have any additional queries.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue for now, however if you have any further queries

[2021-05-24 22:11] #75184 closed

[2021-05-24 22:12] coip commented on #75783
FWIW this was intended to provide feedback on improving the docs, not act as a support request 😅

[2021-05-24 22:15] BharathNimmala-MSFT commented on #75787
@charlesbetros  I have raised a PR to update the document reflecting your feedback. Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and close this issue for now, however if you have any further feedback on the document please tag us i

[2021-05-24 22:15] #75787 closed

[2021-05-24 22:33] TravisCragg-MSFT commented on #75562
@stubble2018  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-24 22:33] #75562 closed

[2021-05-24 22:40] sarthak-git opened #75803 "When to disable Staged rollout ?"
Can you guys add some details around when to disable staged rollout , before or after removing federation from a domain ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f2a7330-82fa-9c0d-0f34-b2a99ef13c64
* Version Independent ID: d941f435-3443-02a1-57c0-7f4173173249
* Content: [Azure AD Connect: Cloud authentication

[2021-05-24 22:47] ChaitanyaNaykodi-MSFT commented on #75629
Hello @MatthewBrown0, Can you please specify for which Action you faced the issue above? Chunking is supported by actions specified below.
![image](https://user-images.githubusercontent.com/67453298/119415543-adb75b80-bca6-11eb-9d86-895f279a6644.png)

If chucking is supported for the action used. You should be able to see the settings [as documented here](https://docs.microsoft.com/en-us/azure/con

[2021-05-24 22:55] tfitzmac commented on #75704
@johncagle - I tested the slider control and it seemed fine. I used the portal UI sandbox to test it. Here is the files I used:
{
    "$schema": "https://schema.management.azure.com/schemas/0.1.2-preview/CreateUIDefinition.MultiVm.json#",
    "handler": "Microsoft.Azure.CreateUIDef",
    "version": "0.1.2-preview",
    "parameters": {
        "basics": [ ],
        "steps": [
            {

[2021-05-24 23:04] ToruMakabe commented on #72606
@JayaChatterjee-MSFT @ggailey777 Any updates? FYI, AWS has published [a new excellent article](https://aws.amazon.com/jp/blogs/containers/developing-twelve-factor-apps-using-amazon-ecs-and-aws-fargate/) related to this topic. I believe many developers are interested in how to design and implement it.

[2021-05-24 23:28] Oury-MSFT commented on #75773
@rohitnayakmsft Please see customer feedback above. Should we include the DNS scenario from this [document ](https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-dns#dns-configuration-scenarios).

[2021-05-25 00:06] JamesTran-MSFT commented on #75799
@ChaiSwaddipong
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-25 00:07] JamesTran-MSFT commented on #75803
@sarthak-git
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-25 00:13] YutongTie-MSFT commented on #75802
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-25 00:41] femsulu commented on #75779
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-05-25 02:22] Karishma-Tiwari-MSFT commented on #75570
Thanks for sharing the update.
The documentation is correct. Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-05-25 02:22] #75570 closed

[2021-05-25 02:35] johncagle commented on #75704
Thanks Tom, we'll give it a try!

On Mon, May 24, 2021 at 5:55 PM Tom FitzMacken ***@***.***>
wrote:

[2021-05-25 03:18] CelesteDG commented on #75565
I've opened a work item in ADO to track this request: Identity Division > Technical Content > **1409703**

I'll loop back to this request once we've agreed on the approach we can take (for consistency) and also see how we can mesh with other areas in Azure. For now, requesting to close this GitHub issue as it's not an immediate fix but a doc enhancement that we're adding to our queue (and prioriti

[2021-05-25 03:18] #75565 closed

[2021-05-25 03:32] SunnyDeng commented on #24559
i don't repro the issue either. If my understanding is correct, user want to go to es-es portal page when click https://azuremarketplace.microsoft.com/marketplace/apps/category/azure-active-directory-apps?page=1&subcategories=featured, when i changed my browser locale to España - Español, i do see the Spanish version:
![image](https://user-images.githubusercontent.com/8811264/119435126-680e8900-bc

[2021-05-25 03:45] ksivasenthil opened #75808 "Gremlin.NET package installation command is missing version information"
While your instruction asks the developer to clone a git project; it also states

The feedback is for this approach is - You have not mentioned the supported driver version 3.4.6; which is missing the documented command quoted above instead the command should have looked `nuget install Gremlin.NET -Version 3.4.6`.

Per documentation of supported (client libraries)[https://docs.microsoft.com/en-us/

[2021-05-25 03:49] femsulu commented on #75788
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-05-25 03:50] yutaro113 commented on #75472
@RyanHill-MSFT
Hi, sorry for my late reply, I' ve confirmed detail and summarized below. Kindly check whether this is expected behavior.
Actually based on the below situation, I came up with below questions
・If execute manual renewal, 365 days is calculated from renewal operation date, not from old certificate's expiration date..?
・Even if above question is yes, there seems aboud 1 day gap.  (Days

[2021-05-25 03:56] femsulu commented on #75791
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-05-25 03:57] v-amallick commented on #75774
@pmaslej

Thank you for your feedback. Will check with the product group and get back.

@femsulu

Thank you for adding me here.

[2021-05-25 04:06] kiranudupa-ntap opened #75809 "Need to remove the content as this is not valid after hard quota enforcemenet"
Why does the available space on my SMB client not show the provisioned size?
The volume size reported by the SMB client is the maximum size the Azure NetApp Files volume can grow to. The size of the Azure NetApp Files volume as shown on the SMB client is not reflective of the quota or size of the volume. You can get the Azure NetApp Files volume size or quota through the Azure portal or the API.

[2021-05-25 04:37] MonikaReddy-MSFT commented on #75591
@cconrado - Can you please elaborate on which specific method or section are you referring to that requires an update here?

[2021-05-25 04:46] v-hagamp commented on #64866
@systemsmaven,
Please provide the updated screenshots to add in the article, which you are talking about in the comment.

[2021-05-25 04:46] karimyousfi commented on #75296
@Grace-MacJones-MSFT  have you been able to recreate the issue? Any advice would be appreciated.

[2021-05-25 05:02] MonikaReddy-MSFT commented on #75688
@HimanshuZinzuwadia - Thanks for reaching out. Can you please elaborate  which method or specific section you are referring that requires an update?

[2021-05-25 05:02] psmanhas commented on #75800
@cshea15 Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-05-25 05:02] psmanhas commented on #75800
@Heidilohr Can you please check and add your comments on this doc update request as applicable

[2021-05-25 05:04] AnuragSharma-MSFT commented on #75808
@christopheranderson Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-05-25 05:13] Sharmistha-Rai commented on #75332
@paulfinol - what do you mean by "the circuit"?

[2021-05-25 05:16] rvahaver opened #75810 "SQL Server Installation Fails"
Team,

The following instructions should be included just prior to the section called "Create SQL Server FCI" else the installation of SQL Server will fail.

Granting the SQL2019Cluster computer rights on OU.
o	Go to Active Directory.
o	Find the OU where the clusters computer object is found.
o	Right click on the OU and go to properties.
o	Click on the security tab.
o	Click Advanced
o	Click Add
o

[2021-05-25 05:42] batamig opened #75811 "images possibly out of date?"
hi - we're working on a new tutorial for how to create a PowerBi report using Sentinel data.
We're planning on linking to this page in our Next steps section, and it looks like some of the screenshots on this page are out of date?
Just a heads up that this page might need some refreshing.
thanks!
Batami

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-05-25 05:49] AjayKumar-MSFT commented on #75649
@joel-g, Apologies for the delay! Generally, users with a similar [issue](https://stackoverflow.com/questions/27326382/mvc-5-on-mono-could-not-load-file-or-assembly-system-web-entity-or-one-of-its) (on MacOS), were able to delete the reference to System.Web.Entity, and add the NuGet package System.Web.Http.Common. Kindly see if this helps.

[2021-05-25 05:52] SadiqhAhmed-MSFT commented on #75535
@FallenHoot Thanks for your patience. There's a deployment freeze going on which is why the doc wasn't updated. The doc update should reflect by EOD.

[2021-05-25 05:55] SadiqhAhmed-MSFT commented on #75656
@vosj Thank you for your patience!

It appears the role should be Restore VM + Restore [managed/unmanaged] disks VM backup roles.  The storage account access is called out for the restore of unmanaged disks which I assume also include VMs with unmanaged disks.

[Manage Backups with Azure role-based access control - Azure Backup | Microsoft Docs](https://docs.microsoft.com/en-us/azure/backup/backup

[2021-05-25 05:56] psmanhas commented on #75810
@rvahaver Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate .We will update you accordingly.

[2021-05-25 05:56] psmanhas commented on #75810
@MashaMSFT Can you please check and add your comments on this doc update request as applicable

[2021-05-25 06:00] SadiqhAhmed-MSFT commented on #75693
@NeilMacMullen Thank you for your patience!

The product group team is aware of the ask to showcase the roadmap.

Since this type of information is typically shared under NDA, broadly sharing externally via docs  is challenging.

If you are under NDA, we can share the roadmap details offline.

[2021-05-25 06:03] AnuragSharma-MSFT commented on #75763
@tigerdeccan Please refer to below articles on the same query:

[ARM Template to create SQL Database with a privatendpoint](https://stackoverflow.com/questions/66946971/arm-template-to-create-sql-database-with-a-privatendpoint)

[Create a private endpoint by using an ARM template](https://docs.microsoft.com/en-us/azure/private-link/create-private-endpoint-template)

[2021-05-25 06:30] dcbrown16 commented on #56058
This note has been added so I'll go ahead and close, thanks.

[2021-05-25 06:30] #56058 closed

[2021-05-25 06:42] swapnilpotnis commented on #75362
@KalyanChanumolu-MSFT , @NavtejSaini-MSFT : guys, due to a high level restrictions around it...I wont be able to share the screenshot of our firewall conf. :/

[2021-05-25 07:19] CHEEKATLAPRADEEP-MSFT commented on #75632
@ibTnJohn Thanks for the details.

@leifbro Could you please update the document with the external data sources?

![image](https://user-images.githubusercontent.com/79183421/119455756-88cef100-bd57-11eb-9ad7-789fabbd6186.png)

[2021-05-25 07:21] jpdfr-msft opened #75815 "Synapse MSI default granted role"
Hello,

When creating a Synapse workload an MSI is attached to the workspace as described in this document.
It is said for the pipeline management.

However by default it gets Cloud Application Administrator and Application Administrator administrator.
Q1/ Can you explain these needs ?

Q2/ In a Zero Trust Approach, what should be the minimal roles that this MSI should have to be able to work ?

T

[2021-05-25 07:24] IgnacioAlvarezArenas commented on #72998
Is there any update on this documentation? I understand if it is rejected but it can be a great opportunity to bring clarity into this.

[2021-05-25 07:41] SwathiDhanwada-MSFT commented on #75811
Thanks for your feedback @batamig.

Assigning to content author @bwren for review.

[2021-05-25 07:42] carmeleve opened #75816 "Can't deploy Vue app from Azure DevOps"
Hi,

I am trying to deploy a Vue app using Azure DevOps. This is the build and deployment script I'm currently using:

[code]

But when I run it the Static Web App deployment task fails with:

`App Directory Location: '/home/vsts/work/1/s/Solutions/ProjectName/dist' is invalid. Could not detect this directory.`

---
#### Document details

⚠ *Do not edit this section. It is required for docs.micros

[2021-05-25 08:15] SwathiDhanwada-MSFT commented on #75541
@thepaulmacca I have made changes to the document and they will be live soon. We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-05-25 08:30] blockingHD opened #75817 "Application Settings for Agent-based monitoring"
In the documentation there is the line "For example, to change the initial sampling percentage, you can create an Application setting of: MicrosoftAppInsights_AdaptiveSamplingTelemetryProcessor_InitialSamplingPercentage and a value of 100." This provides no actual information on where this comes from and a full option list would be much more useful.

I think the 2 options here are to:
1. Explain h

[2021-05-25 08:32] GitaraniSharma-MSFT commented on #75753
@bangdu-ms , We have assigned this to the content owner/author for review.

@vhorne , Please fix the below doc as it is displaying in English instead of Japanese:
https://docs.microsoft.com/ja-jp/azure/application-gateway/application-gateway-faq

[2021-05-25 08:33] Gunnnn commented on #25096
You should not have closed this thread because the answer with "Copy data from Office 365 into Azure using Azure Data Factory (Preview)"  doesn't solve the general task, mentioned in question: load OneDrive file from user's shared folder into Azure (any sink).
Tutorial in "answer" "Tutorial: Load data from Office 365 by using Azure Data Factory" only allows loading of a list of not needed data lik

[2021-05-25 08:47] edfreeman opened #75818 "Using "DEP" to represent "Data Exfiltration Protection" affecting discoverability"
We've been scratching our heads as to why some functionality on a Data Exfiltration Protection enabled workspace wasn't working. We eventually realised that the "DEP" acronym used in this article is meant to represent "Data Exfiltration Protection", even though that acronym is used nowhere in the [main article about Data Exfiltration Protection](https://docs.microsoft.com/en-us/azure/synapse-analy

[2021-05-25 08:51] #75527 closed

[2021-05-25 08:52] vipulsparsh commented on #75711
@cconrado Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-05-25 08:53] SumanthMarigowda commented on #75798
@keithdoyle9 Thanks for the question! We are investigating and will update you shortly.

[2021-05-25 08:53] AjayKumar-MSFT commented on #74974
@magoicochea, Apologies for the delayed response.

Here the application code is your Website code itself. With App Service you can chose to leverage the built-in authentication and authorization (Easy Auth) or sign in users and access data by writing minimal or no code in your web app.
That is, the server code manages the sign-in process, so it is also called server-directed flow or server flow.

[2021-05-25 08:53] #74974 closed

[2021-05-25 09:09] MasterKolka commented on #75622
I think now I understand what the problem is. It happens because Container Registry tries to get an old key using Managed Identity but that is prohibited by network rules. And ACR can't bypass KV's firewall using Managed Identity.
Error code doesn't fully represent what the problem is.

[2021-05-25 09:13] #75541 closed

[2021-05-25 09:19] carmeleve commented on #75816
Solved!

The path in the `AzureStaticWebApp@0` task is relative to the root of the directory so needs to be: `/Solutions/ProjectName/dist`

[2021-05-25 09:21] ii-batman opened #75826 "Error: unrecognized arguments: Image Builder Image Def1621934426"
Hi
I get this error when creating user permissions:
unrecognized arguments: Image Builder Image Def1621934426
![image](https://user-images.githubusercontent.com/60931858/119472826-7bf3d280-bd42-11eb-9593-311ae1a1a225.png)

Please advise

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd4c4f41-2050-234e-e35b-7501

[2021-05-25 09:42] Sweggle opened #75828 "On demand scan ... doesn't do anything?"
When kicking off the on-demand scan... even after over 12 hours nothing new is reported.

Infact I still have assessment results that are from 6 days ago?

Does kicking off an on-demand scan merely say: refresh these things within the timelines specified in issue #69631?

Eg:

    Operating system security configuration recommendations are updated within 48 hours.
    Endpoint Protection issues re

[2021-05-25 09:47] wUEZRs opened #75830 "Error in saml settings"
Hi,

After spending some time with Digicert support - the correct info for "Basic SAML Configuration" are not correct in this guide

The correct settings under Basic SAML Configuration are

Identifier (Entity ID)
https://www.digicert.com/account/sso/metadata

Reply URL (Assertion Consumer Service URL)
https://www.digicert.com/account/sso/metadata

Sign on URL
https://www.digicert.com/account/sso/"

[2021-05-25 09:50] rvahaver opened #75831 "Please note character limitation"
In the PowerShell for "Configure Cluster Probe", please note that the $IPResourceName has a 15 character limit.

$IPResourceName = "<SQL Server FCI / AG Listener IP Address Resource Name>"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5a167ed-533f-3b00-3adf-472407358737
* Version Independent ID: e827026f-2bc8-d8c1-2a

[2021-05-25 09:51] darshan309 commented on #54912
@evenlan1990  Could you please help how you resolved this issue -

I am set Single-tenant configure in Azure portal website.when i use signIn() first time,it is ok,and i signout.when i use signIn() second,it will get error:AADSTS50194: Application 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxxxx' is not configured as a multi-tenant application. Usage of the /common endpoint is not supported for such applic

[2021-05-25 09:54] psmanhas commented on #75826
@ii-batman Thank you for the feedback. We will work on it and will keep you updated on the thread

[2021-05-25 09:56] star286 opened #75833 "could the static HttpClient be re-used by multiple users at the same time?"
Suppose I defined a static HttpClient as below(per[ this doc](https://docs.microsoft.com/en-us/azure/azure-functions/manage-connections#static-clients)):

`private static HttpClient httpClient = new HttpClient();`

Then there are 100 users calling this function at the same time, I want to know if the static HttpClient can be re-used among these 100 users? or each user have a HttpClient instance?

[2021-05-25 10:08] psmanhas commented on #75831
@rvahaver Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-05-25 10:09] psmanhas commented on #75831
@MashaMSFT Can you please check and add your comments on this doc update request as applicable

[2021-05-25 10:18] CHEEKATLAPRADEEP-MSFT commented on #75818
@edfreeman  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-05-25 10:18] CHEEKATLAPRADEEP-MSFT commented on #75815
@jpdfr-msft  Thanks for the question! We are investigating and will update you shortly.

[2021-05-25 10:54] WGabriel opened #75835 "Display short answer checkbox not existent"
Dear QnA Maker team,
I am currently trying to test the short answers functionality in QnA maker.
For this purpose, I have deployed a new QnA Maker resource (in West Europe) and populated it with English FAQs.
The documentation states that the "Display Short answer" checkbox should be created automatically.
However, in the test-chat for my published Knowledge Base I only have the option to select "

[2021-05-25 11:00] HimanshuZinzuwadia commented on #75688
Under Create a azurefile-mount-options-pvc.yaml file with a PersistentVolumeClaim that uses the PersistentVolume. The storage class pointing to the existing storage account should be specified if you want to use new or existing file share on an existing storage account.

[2021-05-25 11:09] HarshitaSingh-MSFT commented on #75830
Hello @wUEZRs , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-05-25 11:11] BhargaviAnnadevara-MSFT commented on #75715
@pxmonti Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review.

[2021-05-25 11:24] paulfinol commented on #75332
By circuit I mean the express route circuit

On Tue, May 25, 2021, 1:14 AM Sharmistha Rai ***@***.***>
wrote:

[2021-05-25 11:28] Sharmistha-Rai commented on #75332
Access to these links is needed for initial setup because these are management global endpoints and don't support network isolation at the moment. But yes, once you have started using private links, all the communication will go through the circuit.

[2021-05-25 11:37] BhargaviAnnadevara-MSFT commented on #75816
@carmeleve Yes, as mentioned in [this](https://docs.microsoft.com/en-gb/azure/static-web-apps/publish-devops#create-the-pipeline-task-in-azure-devops) article, the `app_location` property references the location of your application code. So you can enter `/` if your application source code is at the root of the repository, or `/app` if your application code is in a directory called `app`.

We're g

[2021-05-25 11:37] #75816 closed

[2021-05-25 11:38] #75777 closed

[2021-05-25 11:39] rahulnair20 commented on #75777
Sorry about that. There was a mistake in our code.

[2021-05-25 11:44] jfaurskov opened #75836 "Create subscriptions programmatically article unclear"
### Article is unclear.

Under [Prerequisites](https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/programmatically-create-subscription-enterprise-agreement?tabs=rest#prerequisites) it is mentioned that Owner role is required to be able to create a subscription. While this is true when creating subscriptions via the portal it does not seem to be true when trying to call the api r

[2021-05-25 11:57] mgmccarthy commented on #33157
I've been struggling with this issue for two days straight.

The one difference I've found (not I have not seen mentioned here) is that when I use `keyVaultSecretId` from the arm template provisioning the app gateway, _and the key vault and app gateway are in the same resource group_, it works.

Here is a snippet from my app gateway ARM code.
[code]

I'm assigning a managed identity (already set u

[2021-05-25 12:07] pemsft opened #75837 "Azure SQL Managed Instance supported"
Thank you for the great documentation!

https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-prerequisites#sql-server-used-by-azure-ad-connect
In above SQL Server support section it states that **Azure SQL Database is not supported**. To clarify the topic further could you add also comment about support for **Azure SQL Managed Instance**?

Introduction to Azure SQL

[2021-05-25 12:07] JackCaster opened #75838 "Test Pipelines locally"
Pipelines cannot be tested locally (https://docs.microsoft.com/en-us/azure/machine-learning/how-to-debug-pipelines#debug-scripts-locally) and the suggested steps to debug the pipeline locally are a bit convoluted (e.g., run each script independently and create interim data folders ourselves). Is there any plans to allow to run pipelines on our local computers? I believe that would make the dev exp

[2021-05-25 12:14] breakpoint7 commented on #75699
Thanks for the confirmation.

[2021-05-25 12:19] mgmccarthy commented on #33157
"when trying to deploy an Application Gateway without networking access to the KeyVault"

@Martin-Idel-SI, what does this mean specifically?

Do you mean key vault Networking is set to "Private endpoint and selected networks" instead of "All Networks" and the vnet/subnet that the app gateway lives in is not whitelisted for the key valut?

[2021-05-25 12:38] vipulsparsh commented on #75837
@pemsft Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-05-25 12:41] cveld opened #75841 "How to set up custom DNS and certificate"
With ASEv2 there is this option to set up the ILB with regards to dns suffix and default certificate.

With ASEv3 I am not able to deploy with custom DNS suffix and certificate.

If I try deploying an ASEv3 with the `dnssuffix` option I get the following error:
[code]

If I try deploying a custom certificate (based on https://github.com/Azure/azure-quickstart-templates/tree/master/201-web-app-ase-

[2021-05-25 12:42] pkaushik23 commented on #21783
@hpsin I am not able to get token for my downstream api. In my api that call the downstream api, I am using this method to get the access token. I think I am trying the OBO flow.

string accessTokenForSvcMgmtApi = await tokenAcquisition.GetAccessTokenForUserAsync(new string[] {
                                            "https://management.azure.com/.default"

[2021-05-25 12:58] petender commented on #75398
Hi Heing, the repositoryURL parameter gets set during the deployment, whether you run this from an ARM template or from Azure DevOps. Once this setting has been set (the unique URL.azurestaticapps.net) you see on the service, it cannot be changed. As said earlier, the SWA team is working on an update in the next release of SWA to allow more IaC scenarios taking care of this.

[2021-05-25 13:09] paymerich opened #75842 "Installing Command Line tools **fails** when using Node.js v14.15.4"
Installing Command Line tools **fails** when using Node.js v14.15.4

https://docs.microsoft.com/en-us/azure/static-web-apps/add-api?tabs=vue#install-command-line-tools

_npm WARN npm npm does not support Node.js v14.15.4
npm WARN npm You should probably upgrade to a newer version of node as we
npm WARN npm can't make any promises that npm will work with this version.
npm WARN npm Supported release

[2021-05-25 13:31] JeffMII opened #75845 "Getting 'Module '"@azure/core-tracing"' declares 'Span' locally, but it is not exported.' error"
I am learning the Azure AI Text Analytics API, and I've ran into a problem. The application is an Express app using Typescript. Here is the full error:

[code]
None of these files are my code so I don't really know what else I can share here. I have tried reinstalling the package twice using `npm uninstall @azure/ai-text-analytics` and `npm install @azure/ai-text-analytics` because it seemed to me

[2021-05-25 13:43] MicrosoftGuyJFlo commented on #44401
#please-close

[2021-05-25 13:43] #44401 closed

[2021-05-25 13:47] momena opened #75846 "How to download users/groups programatically"
[Enter feedback here]
Hello,
It looks like to me that I should be able to download users/groups programatically, not only from UI.
If so, could you please let me know the exact syntax? Is is REST? If so, what should be the header or query params, if any.
We are evaluating if AzureAD/SAML integration works for our customers.
So waiting for your reply.
Thanks in advance.

Momena

---
#### Document D

[2021-05-25 13:49] MicrosoftGuyJFlo commented on #24559
Thanks @SunnyDeng

[2021-05-25 13:50] MicrosoftGuyJFlo commented on #24559
As it appears this issue is no longer an issue as it has been unable to be reproduced we will be closing it out. If still an issued please feel free to reopen an issue or contact support. #please-close

[2021-05-25 13:50] #24559 closed

[2021-05-25 13:54] BharathNimmala-MSFT commented on #75332
Thanks a lot @Sharmistha-Rai for helping on this thread.

@paulfinol Thanks again for reaching out to us, hope the information shared by @Sharmistha-Rai helped. Please review it and circle back if you have any queries.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue for now, however if you have any further querie

[2021-05-25 13:54] #75332 closed

[2021-05-25 13:56] #75474 closed

[2021-05-25 14:02] sthoward0914 opened #75847 "Bring back the baseball illustration"
I'm a musician, and I even compose music, and I absolutely ABHOR the music illustration for consistency levels. With music, it is either strong consistency level, or it is noise - there is no other option. This is why this is such a bad illustration.

I understand that not everybody understands baseball, but it is a simple game. I use that illustration in class (I'm an MCT) all the time and have n

[2021-05-25 14:11] Aminadad27 opened #75848 "Samsung Kids by Adamaris"
![image](https://user-images.githubusercontent.com/82472953/119512728-96797c00-bd41-11eb-87c4-09a1422ba6e9.jpeg)

[2021-05-25 14:14] #74380 closed

[2021-05-25 14:30] hpfans123 commented on #53425
I have the same problem, write into launch.json didn't help... So temporarily I can only hard code in the 2 variables...But then I met the same situation as @Tig10 , in localhost:3000 nothing happens... Have you solved it?

[2021-05-25 14:45] cconrado commented on #75591
@MonikaReddy-MSFT  The sample is showing xml but its json thats being used now.
![image](https://user-images.githubusercontent.com/9168464/119518264-fcfc9b00-bd3d-11eb-8391-32becaff8696.png)

[2021-05-25 14:48] femsulu commented on #75645
Hello @elegault , spoke with the doc author @vamahtan  regarding your comments above. She mentioned that **Co-Sell Ready** and **Azure IP Co-Sell Incentivized** are two different statuses. Hopefully that clarifies things but dont hesitate to ping if you have any followup questions.

Cheers.

[2021-05-25 14:48] #75645 closed

[2021-05-25 14:54] katiep23 commented on #75595
Could it be something restricted by the federated Azure AD?

[2021-05-25 14:56] femsulu commented on #75510
@MGoedtel , Please review the above feedback to see if we can add to the existing content.

thanks.

[2021-05-25 15:07] lxmbjs commented on #75669
This document made me look into the CLI for az, specifically for the MS standard SKU CDN.

I was able to get around the `/.` requirement by using the aforementioned CLI. Prior to this I could not get my URL rewrite to work properly for my React SPA client side routing.

Here's the command:

[code]

Now instead of requiring the `/.` you have the working config `/` as pictured below. Please adjust i

[2021-05-25 15:12] JamesTran-MSFT commented on #75828
@Sweggle
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-25 15:16] fgcgithub opened #75851 "after adding connection string to webapp, the app doesn't work anymore: "An error occurred while starting the application"..."
I was following your description, added the connection string under "Application settings - New application settings" with the name "App:SqlDatabase:ConnectionString" and the value the SQL-database instance was showing, but that breaks the application.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2021-05-25 15:26] #74273 closed

[2021-05-25 15:29] pplavetzki commented on #74748
@psmanhas The documentation should be updated to mention the comment from @kemurayama.  I spent a few hours troubleshooting why I was unable to enable the aks addon through the azure cli.  About ready to give up until I saw this issue.

[2021-05-25 15:34] barclayn commented on #52930
@akczcz Thank you for your feedback. I checked with the engineering team and the article today reflects the current support of managed identities in cognitive search.

[2021-05-25 15:34] barclayn commented on #52930
#please-close

[2021-05-25 15:34] #52930 closed

[2021-05-25 15:42] PeterCLu commented on #73651
#please-close

[2021-05-25 15:42] #73651 closed

[2021-05-25 15:44] YutongTie-MSFT commented on #75838
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-25 15:44] YutongTie-MSFT commented on #75835
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-25 15:46] MatthewBrown0 commented on #75629
Hello,
I do not see these settings options on either "SFTP- SSH Get File Content" nor "SFTP - SSH Get file content using path."  The image below shows the "Settings" for either of the actions:
![image](https://user-images.githubusercontent.com/81646186/119527868-b95e5d00-bd4e-11eb-81b4-d8927997b4e8.png)

[2021-05-25 15:54] Monte-Christo opened #75853 "bash: swa: command not found"
Following all the steps precisely, including installation of static-web-apps-cli and functions-core-tools V3, i am still getting
[code]
when trying to run web app and API locally.

Here is my $PATH variable content:
[code]

I should not have to spend an hour chasing down this failure in a quickstart that takes 10 min to complete.

And yes, the file 'swa' does exist at "C:\Users\EDKN.SCDOM\AppData\

[2021-05-25 15:54] PeterCLu commented on #74837
Instructions have been added to the doc, #please-close

https://docs.microsoft.com/azure/machine-learning/how-to-use-environments#use-a-curated-environment

[2021-05-25 15:55] #74837 closed

[2021-05-25 15:56] PeterCLu commented on #75468
@GiftA-MSFT, these changes look good. Go ahead and sign-off on this PR. Thanks!

[2021-05-25 16:05] JayaChatterjee-MSFT commented on #75851
@fgcgithub  Thank you for the question. We will review and get back to you.

[2021-05-25 16:10] YutongTie-MSFT commented on #75838
@JackCaster Thanks for the product feedback, I have shared this with the product team to check any plan for it. Will let you know.

[2021-05-25 16:13] DerekHerman-MSFT commented on #75809
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-25 16:14] #67435 closed

[2021-05-25 16:15] MashaMSFT commented on #75810
Hi @rvahaver , thanks so much for your feedback! We try to minimize how much duplicated content we have in different areas of our content spaces as things tend to become stale or duplicative. As such, we frequently rely on using our prerequisites to leverage content in areas outside of SQL Server. As such, we've listed having the proper cluster permissions as a prerequisite but we've chosen to lea

[2021-05-25 16:15] #75810 closed

[2021-05-25 16:16] b-juche commented on #75809
@kiranudupa-ntap -- Thanks, Kiran.   Checking with PM on this.

[2021-05-25 16:21] leifbro commented on #75632
Created a Databricks doc issue (DOC-2590). We will report back when this is resolved.

[2021-05-25 16:30] #50306 closed

[2021-05-25 16:30] #64083 closed

[2021-05-25 16:31] JamesTran-MSFT commented on #75790
@DickBaker
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-05-25 16:31] #75790 closed

[2021-05-25 16:33] femsulu commented on #74904
Sorry for the delay, @AndrevdG ,The text above means:
Old version of the Customer-managed- key is preserved in enabled state for at least the next scheduled backup after the new key has taken effect data encrypted with the old key is needed to recover required to recover the everypted data before the next back-up schedule after the new CMK takes effect.

[2021-05-25 16:33] #74904 closed

[2021-05-25 16:40] MonikaReddy-MSFT commented on #75729
@ToruMakabe - Thanks for bringing this to our attention. https://github.com/MicrosoftDocs/azure-docs-pr/pull/152109
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we wi

[2021-05-25 16:40] #75729 closed

[2021-05-25 16:41] b-juche commented on #75809
The update has been made and merged through PR 159910 https://github.com/MicrosoftDocs/azure-docs-pr/pull/159910

[2021-05-25 16:41] b-juche commented on #75809
#please-close

[2021-05-25 16:41] #75809 closed

[2021-05-25 16:43] PeterCLu commented on #71097
#please-close

[2021-05-25 16:43] #71097 closed

[2021-05-25 16:49] MarileeTurscak-MSFT commented on #75846
@momena
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-25 16:51] gxtaillon commented on #56924
Can this issue be reopened or should we open a new issue for this to track this?

A firewall-less deployment, as suggested, is not a usable workaround for this issue.

Best

[2021-05-25 16:55] PeterCLu commented on #75099
Hi @a30008030, the contents of training Python scripts is fully dependent on your scenario.

You can see a training script in our [Getting started tutorial series](https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-1st-experiment-sdk-train#create-training-scripts).

To demonstrate the differences, here is another sample training script that uses sklearn: https://github.com/Azure/Mach

[2021-05-25 17:05] mmakam2 opened #75854 "blueprints are in preview."
This service is in preview and it is not mentioned anywhere

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1b33f46-674b-d3ef-7644-4422927625b3
* Version Independent ID: b036a530-81bd-1d4b-d099-d485f7098ab4
* Content: [Overview of Azure Blueprints - Azure Blueprints](https://docs.microsoft.com/en-us/azure/governance/bl

[2021-05-25 17:10] PeterCLu commented on #73832
Hi @don007git, sorry for the delay. Sorry we weren't able to help you troubleshoot. At this piont, it would be best for you to reach out to support for further technical assistance.

This repository is primarily intended for documentation issues, although sometimes we do try to provide technical support if possible. To create a support ticket:

	1. Navigate to the Azure portal.
	2. Select the supp

[2021-05-25 17:10] #73832 closed

[2021-05-25 17:10] PeterCLu commented on #75099
#please-close

[2021-05-25 17:11] #75099 closed

[2021-05-25 17:12] #61599 closed

[2021-05-25 17:12] #67596 closed

[2021-05-25 17:12] #69306 closed

[2021-05-25 17:12] #70495 closed

[2021-05-25 17:12] #61568 closed

[2021-05-25 17:13] NavtejSaini-MSFT commented on #75847
@sthoward0914 We are assigning this to our author to evaluate and comment on.
@markjbrown Can you please check this feedback and help here.

[2021-05-25 17:16] SamaraSoucy-MSFT commented on #75593
@nanditavalsan Can we please look at improving this doc to make it clear that Azure SQL and managed instances aren't treated the same when exfiltration protection is on?

[2021-05-25 17:16] RyanHill-MSFT commented on #75841
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-25 17:23] femsulu commented on #75845
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-05-25 17:34] ValOlson commented on #74903
Hello @jeevannagvekar,

I have added my responses _inline_ below, hope this helps.

1.	My understanding about Image update case:
•	The file system stays intact after image update; the packages and applications installed also are unaffected. Hence there is no need to re-install applications and packages. However, I observed that files/folders created are no longer present after an update. _[ValOlso

[2021-05-25 17:34] manekinekko commented on #75853
Hey, @Monte-Christo thank you for opening this issue. Looking at your `$PATH` variable, it looks like the folder where you installed `swa`, i.e. `/Users/EDKN.SCDOM/AppData/Roaming/npm` is not exposed by your `$PATH` variable. Please make sure to that add that folder to your `$PATH` variable and try running the `swa` command again. Thank you.

[2021-05-25 17:37] rolyon commented on #74428
Hi @nimoskovE
We've updated the wildcard section in the docs:
https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles#wildcard-permissions
Let us know if you have any additional feedback.
thanks

[2021-05-25 17:37] rolyon commented on #74428
#please-close

[2021-05-25 17:38] #74428 closed

[2021-05-25 17:43] rolyon commented on #75544
Hi @lpassig
Thanks for your feedback, we've updated the docs:
https://docs.microsoft.com/en-us/azure/role-based-access-control/rbac-and-directory-admin-roles#classic-subscription-administrator-roles
Let us know if you have any additional feedback.
thanks

[2021-05-25 17:43] rolyon commented on #75544
#please-close

[2021-05-25 17:43] #75544 closed

[2021-05-25 17:44] nunepalli commented on #75593
@SamaraSoucy-MSFT
It would be definitely helpful to get the documentation updated.
I appreciate you for taking lead on that.

[2021-05-25 17:46] luisquintanilla commented on #75786
Hi @aronchick

Thanks for raising this issue. Sorry to hear you ran into an issue. I believe the reason you're running into this issue is the guide uses the 1.0 CLI and as of the latest update, the VS Code AML extension uses 2.0 CLI which does not yet support the local run / debug experience.

To switch to the 1.0 CLI, set the `azureML.CLI Compatibility Mode` setting in Visual Studio Code to `1.0`

[2021-05-25 17:47] phyle opened #75856 "hugo --minify"
When building the hugo site with GitHub Action Azure/static-web-apps-deploy@v1, how can we pass parameters like --minify to the hugo command?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 878bad36-454a-063c-4100-c73f9e90aea3
* Version Independent ID: b0c548c8-f830-311f-07e1-84f0ba644943
* Content: [Tutorial: Publish a

[2021-05-25 17:49] femsulu commented on #75833
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-05-25 17:50] GiftA-MSFT commented on #75468
@PeterCLu can you help sign-off? I tried twice but it hasn't merged.

[2021-05-25 17:51] GiftA-MSFT commented on #75634
@trevorbye can you help sign-off? I tried twice but it hasn't merged.

[2021-05-25 18:01] femsulu commented on #75848
marked as spam.

[2021-05-25 18:01] #75848 closed

[2021-05-25 18:02] SaurabhSharma-MSFT commented on #75708
@sig9 You are getting this error as Azure Defender for Endpoint(Servers) does not come under ASC Free Tier and you need to have Standard/Azure Defender subscription to use this feature.  Please refer to the [pricing page](https://azure.microsoft.com/en-us/pricing/details/azure-defender/) for details -
![image](https://user-images.githubusercontent.com/38112130/119545931-31755480-bd48-11eb-9c4e-b10

[2021-05-25 18:06] femsulu commented on #75817
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-05-25 18:09] femsulu commented on #75836
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-05-25 18:11] aronchick commented on #75786
Thanks - just close this then.

[2021-05-25 18:12] femsulu commented on #75854
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-05-25 18:15] #64743 closed

[2021-05-25 18:26] ChaitanyaNaykodi-MSFT commented on #75629
Hello @MatthewBrown0, Thank you for providing the information above. We have assigned this issue to the author to review further and take the next course of action.

[2021-05-25 18:27] kenwith commented on #75581
We confirmed with the product team that there is currently no Right() function in SyncFabric. We surfaced to them that this is a request and that it would help you tremendously to have this function available. Thank you for the feedback here.

#please-close

[2021-05-25 18:27] #75581 closed

[2021-05-25 18:28] MGoedtel commented on #75510
@MNF - Thanks for sharing your feedback. This is something we have been recently discussing and agree the doc is outdated, and should list and demonstrate how to accomplish this using supported methods. It is in my backlog for next month's sprint.
#please-close.

[2021-05-25 18:36] katiep23 commented on #75595
@tfosmark Why was this closed?

[2021-05-25 18:40] #75634 closed

[2021-05-25 18:43] #75786 closed

[2021-05-25 18:43] MiyKh commented on #53672
We also face the same issue when trying to VNETize an app service. We must follow the principle of the least privilege and beeing a VNET contributor is not acceptable.

[2021-05-25 18:46] tfosmark commented on #75595
Hi, @katiep23 - this PR was automatically closed when the PR tied to the Issue was merged to the default branch in the private repo. The updated content is expected to be published in the next 4 hours. If you'd like to have the issue re-opened, I can do that for you.

[2021-05-25 18:55] #71759 closed

[2021-05-25 18:55] #73002 closed

[2021-05-25 18:55] #73554 closed

[2021-05-25 18:55] #73815 closed

[2021-05-25 18:58] bandersmsft commented on #75836
@jfaurskov Hi there. You're right. We should have been more clear in the prerequisites section. I've updated that section in the article to clarify.
#please-close

[2021-05-25 18:58] #75836 closed

[2021-05-25 19:00] #75468 closed

[2021-05-25 19:17] oddebisken commented on #38177
@KrishnaG-MSFT | @adamrmcclain
Hi!

I am struggling with the same issue. However KrishnaG, I know why you couldn't reproduce the issue.
Azure have three different types of Alerts. MetricAlerts, ScheduledQueryRules and ActivityLog.
The problem only occurs with ActivityLog Alerts, and you created a MetricAlerts.

I have approx. 200 alerts, and 3 different Logic Apps based on the different Alert type

[2021-05-25 19:20] PeterCLu commented on #75838
Hi @JackCaster, thanks for your report! Since @YutongTie-MSFT has already taken this on, I'll let them close this issue out.

In the future, you can also provide product feedback in our dedicated feedback forum: https://feedback.azure.com/forums/257792-machine-learning

Have a great day!

[2021-05-25 19:47] rwbrown04 opened #75860 "Cost Management Power BI app not available for MCA customers"
This needs to be updated as it indicates the PowerBI solution will work for MCA customers.  It *still* does not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 996c931a-02fa-a765-9dc5-db1a72a9bd4d
* Version Independent ID: 56943133-f870-eb75-9689-246f25726eb7
* Content: [Determine what Azure reservation you should purc

[2021-05-25 19:52] PeterCLu commented on #73895
Hi @crisansou, sorry for the delayed response.

Since this appears to be a technical support issue, your best option is to create a support ticket and work with our support team.

This repository is primarily intended for documentation issues. To create a support ticket:

	1. Navigate to the Azure portal.
	2. Select the support question mark (?).
	3. Select Help + support
	4. Select New support re

[2021-05-25 19:52] #73895 closed

[2021-05-25 19:53] femsulu commented on #75860
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-05-25 19:54] ckarrasalithya opened #75861 "How to update a device's certificate in IoT Hub?"
Once the certificate has been updated on the device, how do I update the device's thumbprints in IoT Hub? The Azure Portal doesn't seem to allow editing the Primary or Secondary thumbprint of a device, is there a command line option? Or is it feasible somehow from the Azure Portal?

I expect it should be possible to update the thumbprints during a device's lifetime, without deleting and re-creatin

[2021-05-25 19:55] PeterCLu commented on #75560
Hi @chriskabat63, we're currently investigating the support status of this extension.

[2021-05-25 19:57] zr-msft commented on #73815
Thank you @steverash for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

[2021-05-25 19:58] zr-msft commented on #73002
Thank you @larryclaman for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

[2021-05-25 20:01] zr-msft commented on #71759
Thank you @felpel for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

[2021-05-25 20:01] zr-msft commented on #73554
Thank you @sudivate for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

[2021-05-25 20:01] zr-msft commented on #64743
Thank you @MS-Alexander for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

[2021-05-25 20:02] zr-msft commented on #61599
Thank you @gitforanand for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

[2021-05-25 20:02] zr-msft commented on #67596
Thank you @sean-keane25 for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

[2021-05-25 20:02] irishun opened #75862 "Sample code for using ManagedIdentityCredential sdk to authenticate cognitive services"
Hi, I am looking for the sample code for using ManagedIdentityCredential sdk to authenticate cognitive services.
Could you please provide it if possible?

Also I see that there is only one get_token method from ManagedIdentityCredential, I tried to put the endpoint of the cognitive service as scope but it failed. Could you also tell me where I can find the correct scope of the cognitive service?

[2021-05-25 20:03] #75649 closed

[2021-05-25 20:03] zr-msft commented on #69306
Thank you @AdamSharif-MSFT for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

[2021-05-25 20:03] zr-msft commented on #70495
Thank you @imsauravroy007 for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

[2021-05-25 20:04] zr-msft commented on #61568
Thank you @MarekLani for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

[2021-05-25 20:05] zr-msft commented on #64083
Thank you @weinong for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

[2021-05-25 20:05] zr-msft commented on #67435
Thank you @Wikenson-MSFT for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

[2021-05-25 20:27] johol545 commented on #74360
@PramodValavala-MSFT , thanks for getting back on this!

I believe there are two separate issues here:

### 1: Number of retries
I think there is an ambiguity in how many attempts will be made, mostly due to the naming of the `maxRetryCount` property. If setting `maxRetryCount = 1` I'd expect two attempts in total, first the initial one and then the first (and only) **retry** attempt, i.e. identic

[2021-05-25 20:28] #75699 closed

[2021-05-25 20:36] #74171 closed

[2021-05-25 20:39] #74880 closed

[2021-05-25 20:50] katiep23 commented on #75595
@tfosmark Could you re-open please?  I'm not sure how the updated content resolves this issue.

[2021-05-25 20:54] sig9 commented on #75708
@SaurabhSharma-MSFT I enabled Azure Defender on the subscription before I got these errors.  You might want to put the product-issue tag back on.  Also working with support now who is seeing the same issue.

[2021-05-25 20:56] bandersmsft commented on #75860
@rwbrown04 Hi there. You're absolutely right. The Cost Management Power BI app only supports EA customers. I've updated the article to remove the incorrect information. Thanks very much for bringing the issue to our attention!

https://github.com/MicrosoftDocs/azure-docs-pr/pull/159980

#please-close

[2021-05-25 20:56] #75860 closed

[2021-05-25 20:59] Anand-Moghe opened #75863 "Is there a future plan or roadmap for deploying Azure Static WebApp in VNET?"
Some of my customer asking if there is a plan to deploy Azure Static WebApp in VNet?
Is there a plan in future roadmap?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51bfa022-2797-8b08-7e15-332229df9a92
* Version Independent ID: a1645d12-f261-d303-0191-c8e0b668bcad
* Content: [Quotas in Azure Static Web Apps](https://

[2021-05-25 21:11] richsage opened #75865 "Example HTTP function template does not echo query value as documented"
The example `HttpExample` function documentation, under **Run the function locally**, suggests that appending `?name=<YOUR_NAME>` to the URL will result in the example code returning the query string value. This is currently incorrect; the sample code generated does not check any query string values and instead only ever returns the string `Welcome to Azure Functions!` to the caller.

---
#### Doc

[2021-05-25 21:21] #73177 closed

[2021-05-25 21:28] ScottDLance opened #75866 "Data object property names are the wrong case"
The data members listed in the documentation are camel cased.  The result of the message is pascal cased.  This will prevent the deserialization of the returned data object if the application has not set  `PropertyNameCaseInsensitive = true` for the `System.Text.Json` deserializer.

Here is a sample of returned data from the event grid:

[code]

---
#### Document Details

⚠ *Do not edit this secti

[2021-05-25 21:30] ChaitanyaNaykodi-MSFT commented on #74996
Hello @pradeepsethi, as mentioned [here](https://github.com/MicrosoftDocs/azure-docs/issues/67955#issuecomment-761168830) by Mark -

We will now proceed to close this issue out. Please tag me in your response if there are any additional concerns. Thank you!

[2021-05-25 21:30] #74996 closed

[2021-05-25 21:30] benc-uk opened #75867 "Command `az k8s-extension create` will fail"
The `az k8s-extension create` command has the following mistake

[code]

This is wrong, the single quotes results in bash not substituting the variable

Should be
[code]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95bceeac-dc48-471b-2d60-b7442b60ee06
* Version Independent ID: a0381e86-0a67-19a3-eb35-f758ce1c2f2c
* C

[2021-05-25 21:34] ScottDLance opened #75868 "Data object property names are the wrong case"
The data members listed in the documentation are camel cased.  The result of the message is pascal cased.  This will prevent the deserialization of the returned data object if the application has not set  `PropertyNameCaseInsensitive = true` for the `System.Text.Json` serializer.

Specifically in the case of `Azure.Messaging.ServiceBus.ProcessMessageEventArgs.Message.Body.ToObjectFromJson<T>` the

[2021-05-25 21:34] lanceshelton commented on #75704
It works in the portal UI sandbox but does not work when testing via sideload-createuidef.sh in the azure-quickstart-templates repo.

[2021-05-25 21:34] ScottDLance commented on #75866
Wrong page, submitted for proper page

[2021-05-25 21:34] #75866 closed

[2021-05-25 21:58] CaitlinV39 commented on #75522
We updated this to be more clear. #please-close

[2021-05-25 21:58] #75522 closed

[2021-05-25 22:00] gbaeke opened #75869 "Issue with release-namespace parameter in az k8s-extension-create"
In the az k8s-extension create command that creates the App Services extension, the parameter **--release-namespace** uses single quotes: '${namespace}'

This results in the extension being added in the UI but nothing happens on the cluster.

Changed to "${namespace}" to properly resolve the namespace variable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2021-05-25 22:19] SatishBoddu-MSFT commented on #75861
Hello @ckarrasalithya Please refer to the REST API document for these operations.
[Docs IoT Hub Reference Certificates Overview](https://docs.microsoft.com/en-us/rest/api/iothub/certificates)
![image](https://user-images.githubusercontent.com/62923178/119575564-1ae0f480-bd6c-11eb-9e3c-6f2061de3e2a.png)

[2021-05-25 22:31] #72018 closed

[2021-05-25 22:34] ezYakaEagle442 opened #75871 "Azure Monitor integration with Azure Arc link leads to PRIVATE preview"
Azure Monitor integration with Azure Arc enabled Open Service Mesh is available with [limited support](https://github.com/microsoft/Docker-Provider/blob/ci_dev/Documentation/OSMPrivatePreview/ReadMe.md)

This OSM integration with Azure Arc is now in PUBLIC Preview, not sure then if the above link is correct ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2021-05-25 22:44] atastrophic opened #75872 "iot-hub documentation command fix"
Under the following heading

### Retrieve the service connection string

The command has incorrect parameter `--name` when it should be `--hub-name`.

```az iot hub connection-string show --policy-name service --name {YourIoTHubName} --output table```

Should be

```az iot hub connection-string show --policy-name service --hub-name {YourIoTHubName} --output table```

---
#### Document Details

⚠ *

[2021-05-25 23:08] nibaccam commented on #75750
@aronchick Thank you for your report. The [Prerequisites](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-train-scikit-learn#prerequisites) section contains the notebook example with the code that this article is based on. Guidance is provided on how to set up a compute instance that's preloaded with the code example and the Azure Machine learning SDK packages, so no set up is neede

[2021-05-25 23:22] femsulu commented on #75842
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-05-25 23:28] SamaraSoucy-MSFT commented on #75687
Please let me know if I'm misunderstanding what is happening

It's a subtle difference I know, but I think if you use `'/test.png'` with a leading slash- I'm guessing you saved the file with either the full path or with the leading slash. That pushes Spark into treating it as a specific path instead of the default location, which is `/user/trusted-service-user/`. As long as you are consistent in u

[2021-05-25 23:29] nibaccam commented on #75748
@aronchick thank you for reporting this. This document covers topics not included in the suggested repo, so linking to it or a specific notebook would be a little misleading. Can you clarify what you're looking for in the notebooks that isn't covered in the documentation, so we can close that gap?

[2021-05-25 23:42] rwike77 commented on #75365
I've added some content on incremental consent and mentioned that it only applies to delegated permissions.  Content should go live tomorrow.  Thanks for bringing this up.  #please-close

[2021-05-25 23:42] #75365 closed

[2021-05-26 00:03] jeffcollaboro opened #75875 "Misleading text"
Defined upon creation of the queue or topic." True but not limited for change post creation. This reads as though it is not scalable.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17b26254-ce8c-76eb-c3e9-b80c3ecc45ba
* Version Independent ID: fc16f0d4-dae7-8494-e25a-6c5398215b4b
* Content: [Microsoft Azure Service Bus

[2021-05-26 00:11] GiftA-MSFT commented on #75768
@NilsPohlmann can you please help with above inquiry? Thanks.

[2021-05-26 00:20] ChaitanyaNaykodi-MSFT commented on #75865
Hello @richsage,
Thank you for your feedback! We will review and update as appropriate.

[2021-05-26 00:34] ChaitanyaNaykodi-MSFT commented on #75868
Hello @ScottDLance
Thank you for your feedback! We will review and update as appropriate.

[2021-05-26 01:05] joel-g commented on #75649
@AjayKumar-MSFT if I remove the reference to System.web.entity and add the NuGet package I get this error when I run it:

System.ArgumentException
Invalid value for key 'attachdbfilename'.
Description: HTTP 500.Error processing request.
Details: Non-web exception. Exception origin (name of application or object): System.Data.

[2021-05-26 01:21] TravisCragg-MSFT commented on #75589
@mikesierra2
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-26 01:21] #75589 closed

[2021-05-26 01:32] lgayhardt commented on #75759
Hi @ulzeraj thanks for your feedback. We recently moved some things around to other docs to make this doc specific to URL ping test but didn't change the title. I will update the title and the change should go live tomorrow. We have a doc on [private testing](https://docs.microsoft.com/azure/azure-monitor/app/availability-private-test), that could possibly help with your scenario.

Thank you

#ple

[2021-05-26 01:32] #75759 closed

[2021-05-26 01:34] CharlesWilliamW opened #75876 "Azure Remote Rendering Tutorial: Viewing a remotely rendered model"
Describe the bug
Following along https://docs.microsoft.com/en-us/azure/remote-rendering/tutorials/unity/custom-models/custom-models
Performing the Mixed Reality Toolkit -> Utilities -> Upgrade Mrtk Standard Shader for Lightweight Render Pipeline results in an error stating the following: "Failed to get asset path to: Mixed Reality Toolkit/Standard"

Full Log: Failed to get asset path to: Mixed Re

[2021-05-26 02:17] zeinab-mk commented on #71604
Please close this issue
PR 159628

[2021-05-26 02:38] CorgiDev opened #75878 "Broken links in quick-create-python.md"
The majority of the links in the article are broken. Clicking on them results in 404 not found errors. Many of them appear to direct to possibly links that would have been present in a prior version of the repo, but have since been moved or deleted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc8d39c7-f55b-70e2-d99e

[2021-05-26 02:43] BharathNimmala-MSFT commented on #75509
@santhoshbomma9 As discussed offline, we will test out the scenario you are looking and update any learnings we might have on this, will update you both offline and also here so that other customers viewing this thread can benefit.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue for now, however if you have any f

[2021-05-26 02:43] #75509 closed

[2021-05-26 02:46] Karishma-Tiwari-MSFT commented on #75591
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-26 03:00] zeinab-mk commented on #71557
Please close this issue PR #159688

[2021-05-26 03:09] simonlkch opened #75879 "* The Access-Control-Allow-Credentials response header is not compatible with wildcard origin"
i Host a asp.net restapi on the azure app service, the api need call by website, so that is wildcard origin

when i set the
Enable Access-Control-Allow-Credentials and add "*" wildcard.
the azure return a error to me. how can i handle "*" origin?

![image](https://user-images.githubusercontent.com/3492546/119597004-c9d80b80-be12-11eb-9f2c-56c9a48a52ed.png)

[2021-05-26 03:17] MrWBQ opened #75881 "FUNCTIONS_EXTENSION_VERSION value should be updated"
hi team,

based on the discussion here: https://github.com/Azure/app-service-announcements/issues/266

if cx set the value of FUNCTIONS_EXTENSION_VERSION as ~2, the Function runtime will be V3, not V2
![image](https://user-images.githubusercontent.com/6733879/119597682-1b34ca80-be14-11eb-8ef4-742fb58b1900.png)

if cx want to set it as V2, cx should set the value as ~2.0

I understand you updated i

[2021-05-26 03:47] ram-msft commented on #75862
@irishun Thanks for the question. We are investigating the issue and will update you shortly.

[2021-05-26 03:51] BhargaviAnnadevara-MSFT commented on #75867
@benc-uk Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-05-26 03:52] BhargaviAnnadevara-MSFT commented on #75869
@gbaeke Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-05-26 03:56] VitalyMCT opened #75883 "Running sinks in parallel"
Regarding

Can you please clarify what will be surfaced under what scenarios? I understand the "run in parallel" option is available under "Sink Settings" on the DF activity's Settings panel.

However, that checkbox seems to always be available, regardless of the "Write Order" setting inside the DF, or even the number of sinks. Is there another setting I may be missing?

---
#### Document Details

[2021-05-26 03:59] AshokPeddakotla-MSFT commented on #75872
@atastrophic Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-26 04:23] gonfreeccss commented on #39711
is this still the case today?

[2021-05-26 04:33] erwinspark commented on #39711
UP :)

[2021-05-26 04:48] v-hagamp commented on #57396
#please-close

[2021-05-26 04:48] #57396 closed

[2021-05-26 04:49] v-hagamp commented on #66169
#please-close

[2021-05-26 04:49] #66169 closed

[2021-05-26 05:04] TaniyaModi opened #75885 "Need clarity on moving skelton VM from one RG to other RG"
“When I try to move only VM then it will pass the validation and move the machine successfully without deleting the restorepointscollection which is contradicting as per the doc: To move virtual machines configured with Azure Backup, you must delete the restore points collections (snapshots) from the vault”
Can we have a validation checkpoint like before for not allowing VM to move without its dep

[2021-05-26 05:16] jianleishen commented on #75755
have fixed this one by removing the outdated hyperlink.

[2021-05-26 05:17] AjayKumar-MSFT commented on #75866
Scott, No worries. Thanks for leveraging the Azure docs feedback channel. Much appreciate the follow-up on this.

[2021-05-26 05:18] AjayKumar-MSFT commented on #75863
@Anand-Moghe, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-05-26 05:20] AjayKumar-MSFT commented on #75856
@phyle, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-05-26 05:26] aaronpowell commented on #75856
Hi @phyle, I'm not sure if the build engine for the GitHub Action supports passing CLI flags in, so I've opened an issue in their repo asking if it's possible.

[2021-05-26 05:41] KranthiPakala-MSFT commented on #75883
Hi @VitalyMCT Thanks for reaching out.

By default when you select the Write Order number for sinks, it  designates sinks to be written sequentially in the specified order. Sinks with the same order value will still be written sequentially. Sinks without a write order will be written last, and their orders may vary. Where as when you select `Run in parallel` option it allows sinks inside a sink gr

[2021-05-26 05:42] JayaChatterjee-MSFT commented on #75881
@MrWBQ Thank you for your feedback! We will review and update as appropriate.

[2021-05-26 05:42] JayaChatterjee-MSFT commented on #75875
@jeffcollaboro Thank you for your feedback! We will review and update as appropriate.

[2021-05-26 05:57] VitalyMCT commented on #75883
@KranthiPakala-MSFT  thanks for your response.

Let me see if I am understanding you correctly. Suppose the data flow looks as follows:

![image](https://user-images.githubusercontent.com/1765732/119609143-eee56380-bdab-11eb-957c-b2fe30abae42.png)

Furthermore, suppose the "run in parallel" setting is enabled. Are the sinks going to be written in parallel?

Please note that as far as I can see the

[2021-05-26 06:04] ElazarK commented on #75440
@chuckb1300 corrections have been published and should go out with the next build. Thank you for the feedback.

[2021-05-26 06:05] ElazarK commented on #75440
#please-close

[2021-05-26 06:05] #75440 closed

[2021-05-26 06:08] KalyanChanumolu-MSFT commented on #75749
@Adham-WEB We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-05-26 06:08] #75749 closed

[2021-05-26 06:22] #72560 closed

[2021-05-26 07:08] TiTi commented on #75184
The line isn't present anymore in my storage data protection settings, very good :)
![image](https://user-images.githubusercontent.com/137691/119617249-eb7cc700-be01-11eb-98b5-da8972d5ffd5.png)

Thanks!

[2021-05-26 07:45] jixin85 opened #75888 "Azure file storage pricing page data incorrect"
[Enter feedback here]
Hi team,

The pricing page on Azure file on reserved capacity is incorrect on monthly cost. https://azure.microsoft.com/en-us/pricing/details/storage/files/

The cost shown for 1 yr reserved capacity is yearly cost, but description is for monthly.
![image](https://user-images.githubusercontent.com/30452446/119622074-2a366f80-be4a-11eb-88b9-84f5bd7208f6.png)

THanks
RIck

---

[2021-05-26 07:52] francesco1119 opened #75890 "Vulnerability Assessment :: false positive with Extended Stored Procedure on Managed Instance"
Today I run a Vulnerability Assessment on a Managed Instance and one of the raw says: Unnecessary execute permissions on extended stored procedures should be revoked.

![image](https://user-images.githubusercontent.com/3397477/119622839-d6a33200-be07-11eb-95c8-9b236f13f748.png)

Let's check what we have here:

![image](https://user-images.githubusercontent.com/3397477/119622878-e3278a80-be07-11eb-

[2021-05-26 07:56] marcelbo2021 commented on #75687
Thank you for the swift response! Probably my explanation was a bit missleading here. What I am trying to do is to copy a file from the local Synapse notebook usercache `/mnt/var/hadoop/tmp/nm-local-dir/usercache/trusted-service-user/appcache/application_***/container_***` onto ADLS Gen2 storage. I stored the file in the usercache because I did not find a way to save a matplotlib figure directly o

[2021-05-26 08:13] ryoji-kawamura opened #75891 "The logout URL to be set in Sansan should be a WS-Fed endpoint."
[Enter feedback here]
Please modify the tutorial to specify the Ws-Fed endpoint in the logout URL.
Sansan does not support sending SAML Logout requests.
So, we need to specify the WS-Fed endpoint as the logout URL to allow users to logout.
However, the logout URL in the Set up column shows the same one as the login URL,

![image](https://user-images.githubusercontent.com/12743140/119624036-b7c2910

[2021-05-26 09:17] AshokPeddakotla-MSFT commented on #75872
@atastrophic I am unable to see the section **"Retrieve the service connection string"** Could you please share the exact document you are referring to and the exact section?

[2021-05-26 09:20] snoerenberg commented on #75182
@JamesTran-MSFT any news regarding this problem?

[2021-05-26 09:22] vipulsparsh commented on #75878
@CorgiDev Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-05-26 09:29] nitinkhandelwal26 opened #75894 "When this will be GA?"
Can you please provide an estimated date when this will be GA?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3c187c0-27f1-11c9-41af-6c65ca36e77e
* Version Independent ID: 249a570b-90ba-4a11-4467-320f0369ec25
* Content: [Use Azure Active Directory pod-managed identities in Azure Kubernetes Servic

[2021-05-26 09:40] ram-msft commented on #75714
@oceansv Thanks for the question.
![image](https://user-images.githubusercontent.com/49180516/119637294-24815f80-be33-11eb-9cea-a282bd688a65.png)

![image](https://user-images.githubusercontent.com/49180516/119637274-1cc1bb00-be33-11eb-8844-f687dc2cd609.png)

https://docs.microsoft.com/en-us/azure/machine-learning/how-to-configure-environment
 The two product teams are working closely together on

[2021-05-26 09:53] BhargaviAnnadevara-MSFT commented on #75643
@lampeTechnidoo I was able to perform all the mentioned steps till the [Modify front-end code](https://docs.microsoft.com/en-us/azure/app-service/tutorial-auth-aad?pivots=platform-linux#modify-front-end-code) section from the tutorial without any errors.

Please ensure you have the following:

- A reference to the `Microsoft.AspNet.WebApi.Client` package in `TodoApi.csproj` file, and
- `using Syst

[2021-05-26 09:53] aaaaasam opened #75895 "rong command in the above document, it should be “az" instead of "azure"."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61fbc38e-8756-1ce6-e73d-38bbe2a47a5b
* Version Independent ID: f067d6bb-93b3-19ef-0b58-c58938fb1d6e
* Content: [Reverse DNS for Azure services - Azure DNS](https://docs.microsoft.com/en-us/azure/dns/dns-reverse-dns-for-azure-services)
* Content Source

[2021-05-26 09:55] psmanhas commented on #75894
@nitinkhandelwal26 Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-05-26 09:56] take-4c opened #75896 "Would like to know the correct support matrix."
Hi Team,

There is the following note in this page to restrict your storage account to a virtual network.
"This feature currently works for all Windows virtual network-supported SKUs in the Dedicated (App Service) plan and for Premium plans. Consumption plan isn't supported."

I actually tried protecting the storage account with the private endpoint for a function app with Premium plan x Linux x p

[2021-05-26 10:12] yoelhor commented on #75686
Dear @pelshen, thanks for the feedback. I'm updating the article with the relevant information. A new version will publish later today, and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need further information, please open new GitHub issue.

[2021-05-26 10:13] blacksheep-- commented on #74696
Hey @yoelhor, your solution works perfectly fine. Thank you!

[2021-05-26 10:13] GitaraniSharma-MSFT commented on #75895
@aaaaasam , thank you for your feedback. But the command provided is for Azure **Classic** CLI and it is correct. There are 2 models of CLI commands provided in this doc : Classic and ARM.
For Classic CLI, the command starts with "**azure**". Refer : https://docs.microsoft.com/en-us/cli/azure/install-classic-cli
For ARM CLI, the command starts with "**az**". Refer : https://docs.microsoft.com/en-u

[2021-05-26 10:13] #75895 closed

[2021-05-26 10:14] #75686 closed

[2021-05-26 10:14] psmanhas commented on #75871
@ezYakaEagle442
Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-05-26 10:29] kemurayama opened #75898 "Should public IP be associated with LoadBalancer ?"
Hi,

In this document, after we created AKS, we also created public IP for App Service Extension but the IP is not associated with LoadBalancer.

[code]

Do we need some command to associate with AKS ? The last command failed with error `Unable to find Kube Environment associated to the Custom Location`

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2021-05-26 10:29] SadiqhAhmed-MSFT commented on #75765
@piotrgwiazda Appreciate your patience in this matter!

The REST API link seems to be of old version. We are working on updating the document. But you should be able to use REST API as well for this.

For preview, Portal and REST API should be available. Other clients are usually updated for GA.

[2021-05-26 10:34] yoelhor commented on #75595
One more test :) could you please check the response coming back from AAD? It should look like the following one.
I want to see if AAD returns authorization code successfully. If yes, it means the issue is not relevant to the AAD. Otherwise, if you see error, the problem is related to the AAD federation.

![image](https://user-images.githubusercontent.com/20111866/119645475-ba62bd80-be26-11eb-93bf

[2021-05-26 10:41] jeevannagvekar commented on #74903
Thanks for detailed answers. I successfully attempted package update sample as well.

1. To implement handling of Application update, do you have any sample which I can try. If I am not wrong, the handler in Device Update Agent will parse the manifest file, find out application name and path, copy the new application and update deployment status to ADU Service.

2. About your response to question

[2021-05-26 10:47] BrijMohanD opened #75899 "Service Tag API sends old data"
Service Tag API:
https://docs.microsoft.com/en-us/rest/api/virtualnetwork/servicetags/list

When I use it, I got changeNumber = 73, but when I download the file manually,

https://www.microsoft.com/en-us/download/details.aspx?id=56519

I see changeNumber = 149

Is the API not upto date?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-05-26 10:54] richardjharding opened #75900 "Links to next steps templates - eg 101-app-configuration-store-keyvaultref are broken"
broken link - I was looking for how I can use arm/bicep to create a key vault reference but the link is broken?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0000e043-0717-23d4-5d63-c5728919cda8
* Version Independent ID: b8726c93-69e0-07d5-5bff-0b875dec00ab
* Content: [Create an Azure App Configuration store by using A

[2021-05-26 11:04] jmprieur commented on #73877
The reference documentation is now correctly generated
#please-close

[2021-05-26 11:04] #73877 closed

[2021-05-26 11:07] MartinDBakerCDW commented on #69796
No response as yet; disappointing Microsoft!

[2021-05-26 11:08] jeffzhu1990 opened #75901 "Office 365 E5 license | ENTERPRISEPREMIUM lake of below service plan"
Office 365 E5 license | (ENTERPRISEPREMIUM) lake of below service plan

0898bdbb-73b0-471a-81e5-20f1fe4dd66e
14ab5db5-e6c4-4b20-b4bc-13e36fd2227f
28b0fa46-c39a-4188-89e2-58e979a6b014
2e2ddb96-6af9-4b1d-a3f0-d6ecfd22edb2
2f442157-a11c-46b9-ae5b-6e39ff4e5849
33c4f319-9bdd-48d6-9c4d-410b750a4a5a
41781fb2-bc02-4b7c-bd55-b576c07bb09d
41fcdd7d-4733-4863-9cf4-c65b83ce2df4
46129a58-a698-46f0-aa5b-17f65862

[2021-05-26 11:10] Molx32 opened #75902 "Azure Monitor workbook not necessary"
Hello,

From what I can see on the Azure RBAC roles [documentation page](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#monitoring-contributor), the _Monitoring Contributor_ role is not necessary to create or delete Workbooks : _Sentinel Contributor_ can be used instead.

To be more precise, _Monitoring Contributor_ and _Sentinel Contributor_ both have the same **M

[2021-05-26 11:17] HarshitaSingh-MSFT commented on #75901
Hello @jeffzhu1990 , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-05-26 11:17] MartinDBakerCDW opened #75903 "VMWare account lacks permissions to shutdown VMWare VMs"
The section titled "Create an account to access vcenter-server" lacks the permissions to shutdown VMWare VMs. Indeed I cannot find any Azure Migrate documentation that details this. I raised this as a Support Ticket and was pointed to some ASR documentation that does detail the permissions needed.

Link to section lacking permissions: [https://docs.microsoft.com/en-us/azure/migrate/tutorial-discov

[2021-05-26 11:19] HarshitaSingh-MSFT commented on #75902
Hello @Molx32, thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.