[2019-09-09 06:39] ChiragMishra-MSFT commented on #38253
@gabrielnespoli I checked with the product team and the doc is fine. You can use the following system variables :
triggerOutputs().windowStartTime
triggerOutputs().windowEndTime

I will now proceed to close this issue. Feel free however to comment and tag me if you have any other queries.

[2019-09-09 06:39] #38253 closed

[2019-09-09 06:41] ManojReddy-MSFT commented on #38236
@JoelHazelton This is not the expected behavior. I got a confirmation from the product group that they are actively working on fixing this behavior with Office apps and sign-in frequency. I do not have an ETA regarding this.

[2019-09-09 06:43] NehaOberoi92 commented on #38424
@DixitArora-MSFT : I am not clear with the documentation  https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-protect-backend-with-aad that we can do these steps in consumption plan because in doc it is written that only step 4 - Successfully call the API from the developer portal , cannot be done in consumption plan but if I follow other step should it work in consumption p

[2019-09-09 06:46] KrishnaG-MSFT commented on #38256
@NeoAcheron If you are looking for an API which get all the list then share the feedback in UserVoice / feedback forum [here](https://feedback.azure.com/forums/913690-azure-monitor).

At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the documentati

[2019-09-09 06:46] #38256 closed

[2019-09-09 06:46] NehaOberoi92 commented on #26312
@PramodValavala-MSFT : Can you guide me if I can use Oauth in apim consumption plan ? I am trying this document - https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-protect-backend-with-aad but not able to get it working in consumption plan.

[2019-09-09 06:49] DixitArora-MSFT commented on #38424
@NehaOberoi92  Azure AD is not available in consumption tier. Please follow the doc in Azure AD Integration. https://docs.microsoft.com/en-us/azure/api-management/api-management-features

[2019-09-09 06:49] MarileeTurscak-MSFT commented on #37949
We will now proceed to close this thread. If you have further questions or have any issues, feel free to tag me in the comments or open a new issue and I will gladly continue the discussion.

[2019-09-09 06:49] #37949 closed

[2019-09-09 06:54] maneeshmenon opened #38524 "Using MXCHIP AZ3166 IOT DevKit with external sensors"
There is no mention about using external sensors.
Can 'MXCHIP AZ3166 IOT DevKit' be connected to an external sensor?
Steps for that will be useful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cf9b53c-0438-f23c-fd2e-d57481d57e85
* Version Independent ID: f01afd66-d093-ac44-2b20-df225530b39e
* Content: [IoT DevKit to

[2019-09-09 06:56] NehaOberoi92 commented on #38424
@DixitArora-MSFT : Thanks I read that comparison but in that case why Oauth2 option is available when I create consumption tier ?
<img width="594" alt="oauth" src="https://user-images.githubusercontent.com/15037065/64509309-0ee5a280-d2fd-11e9-9856-f7d6f4779268.PNG">

[2019-09-09 07:07] AshokPeddakotla-MSFT commented on #38346
@BhupalPatil We have [File upload notifications](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-file-upload#file-upload-notifications) and I don't see a direct way to get this information. You can use Azure Functions to get these details/notification with summary. Also, please provide your feedback on the [UserVoice](https://feedback.azure.com/forums/321918-azure-iot)

[2019-09-09 07:09] richieteh94 commented on #38432
@DixitArora-MSFT inside my <inbound> ... <setbody>there is code execution error.
I tried to use the on-error section with context.LastError.Reason, but the contextLastError.Reason is empty string.
The context.LastError.Message is the error Message thrown.

The code execution error is JSONException.
I tried to use a try-catch block to catch the error to manually handle the error message then handle

[2019-09-09 07:11] juyama commented on #38151
Many Thanks @MGoedtel !! :)

[2019-09-09 07:21] ChiragMishra-MSFT commented on #38489
Hi @eramitsh, The sdk(node module) takes care of generating the connection string required to connect to the Event hub. Hence, there's no problem with the configuration,

This channel (Github) is meant to cater to issues corresponding to docs and issues pertaining to them.

I would recommend you to create a thread on the forum - stack overflow(https://stackoverflow.com/questions/tagged/azure-event

[2019-09-09 07:21] #38489 closed

[2019-09-09 07:27] Aniseto opened #38525 "Coexistence with Base Line Policy and Custom Policies and Price Related question"
Checking the documentation on this link :
https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-baseline-protection#

I see that activating Baseline policy for End Users is "Free" . That's so good, but, i need to clarify what happens if we need to create a specific custom policy in order to Exclude some PowerUsers. Reading this documentation we need to add a AD P1 to t

[2019-09-09 07:32] v-tawe opened #38526 "Link is missing"
To learn more about migrating to App Service without any code changes, see the article **[Migrate a Mobile Service to Azure App Service]**.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9aba787f-707e-6332-b6c9-cf74f2f36efd
* Version Independent ID: e5ffc6d5-09f7-d1be-cb81-d95df31eb388
* Content: [Client and server SDK

[2019-09-09 07:51] jerrylhamk commented on #9331
The problem seems to arise with the lowest tier VM. I created a new Jenkins server with the higher DS2 v2 tier VM, and the server was deployed succesfully, and I could access the Jenkins dashboard.

[2019-09-09 07:52] KarlGW opened #38527 "URLs/IP ranges for Hybrid Workers on Azure China"
I notice there are no URLs for Azure China on the URLs to be allowed for the Hybrid Worker configuration.

Or is it that maybe Hybrid Workers in Azure China isn't supported yet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3092ee3a-3c57-cc53-186b-b454e7d9d190
* Version Independent ID: 6f6b5a07-397a-98a2-6091-941244a7

[2019-09-09 07:56] Rajani-Janaki-Ram commented on #37523
#please-close

[2019-09-09 07:56] #37523 closed

[2019-09-09 07:57] Rajani-Janaki-Ram commented on #37523
Will reopen based on user feedback later.

[2019-09-09 07:57] msrini-MSFT commented on #38347
@tecris , Do you have any further questions regarding this issue?

[2019-09-09 07:58] KrishnaG-MSFT commented on #38527
@KarlGW Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-09 08:00] mike-urnun-msft commented on #38266
@githubavi Glad that it was helpful :) We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-09-09 08:00] #38266 closed

[2019-09-09 08:03] Rajani-Janaki-Ram commented on #37959
Documentation update PR in progress

[2019-09-09 08:04] Rajani-Janaki-Ram commented on #37959
#please-close

[2019-09-09 08:04] #37959 closed

[2019-09-09 08:17] eyast opened #38528 "Correct to text required"
The text reads "Azure Files standard shares supports three data redundancy options: locally redundant storage (LRS), zone redundant storage (ZRS), geo-redundant storage (GRS), and geo-zone-redundant storage (GZRS) (preview)."

But that list contains four items, not three redundancy options

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-09-09 08:22] #38319 closed

[2019-09-09 08:23] mike-urnun-msft commented on #38215
Hey @fernandoBRS - Thanks again for sharing your feedback and helping us drive improvements towards MS Docs! I've created a PR that adds following to the developer guide doc:

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-09-09 08:23] #38215 closed

[2019-09-09 08:26] RudyEvers commented on #38319
Issue was caused by Azure Storage Explorer. By deleting the application data and restarting Azure Storage Explorer I could create containers in the blob. What caused the issue in the first place I don't really know. It works for now so I can continue with the project. Thank you for all the support

[2019-09-09 08:26] DixitArora-MSFT commented on #38424
@NehaOberoi92 Ideally that should not be there. Will create the work item internally for this after discussing with product group.

[2019-09-09 08:30] JonesMikael commented on #31078
I'd love to hear a comment from Microsoft when this might be fixed. Does it require an update of all Windows 10 devices to a new version for example? Even though we have a work around, it's not pretty.

[2019-09-09 08:36] VikasPullagura-MSFT commented on #38348
@roygara Can you please look into the issue and add your comments.

[2019-09-09 08:38] AshokPeddakotla-MSFT commented on #32273
@sahya Thanks! We will review and update the doc if changes are appropriate.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-09 08:38] #32273 closed

[2019-09-09 08:39] akshayyadav1122 opened #38529 "Need clarification regarding Azure-provided Internal DNS suffix"
When I run hostname -f command on my Linux Vm, it gives similar to below output:
&lt;vm-name&gt;.1h20f05khiyuvelarn1shdbeef.bx.internal.cloudapp.net
I wanted to know that will the suffix 1h20f05khiyuvelarn1shdbeef.bx.internal.cloudapp.net always remain constant even after restarting the VM. I read somewhere that the 1h20f05khiyuvelarn1shdbeef.bx part specifies the data center related info for the

[2019-09-09 08:43] sahya commented on #32273
@AshokPeddakotla-MSFT
I think it's easier to read if each section is divided into pages, what do you think?
is it will become mismatch?
Because I think it ’s much longer than the other pages.

[2019-09-09 08:51] nick-cloud-maker-ai opened #38530 "Transact details don't include SaaS Apps"
The "Choose a publishing option" table is confusing, specifically the 'Transact' row. It still references Apps that run on Azure AND can be provisioned as a resource directly into a customer's Azure subscription.

With the new SaaS Apps option, you can also transact using a flat monthly fee as discussed here: https://docs.microsoft.com/en-us/azure/marketplace/marketplace-commercial-transaction-cap

[2019-09-09 09:06] NehaOberoi92 commented on #38424
@DixitArora-MSFT  : Thanks, I was confused if we can use Oauth in Consumption plan due to this.

[2019-09-09 09:09] omiossec commented on #31003
Check the Public IP SKU. For some reason, if you use standard External IP stay pending but if you use basic it works in a few minutes
You can not change the SKU for a PIP you need to recreate one

[2019-09-09 09:10] AshokPeddakotla-MSFT commented on #38359
@JayaSaiSontineni Please go through the links provided above and let us know if you need further assistance.
@tesych Thanks for looking into this feedback.

[2019-09-09 09:22] KalyanChanumolu-MSFT commented on #38521
@jaiswati Thank you for the detailed feedback.
Could you please point us to the documentation page so that we can assist you better.

[2019-09-09 09:24] KalyanChanumolu-MSFT commented on #38524
Thank you for the feedback. We are actively investigating and will get back to you soon.

[2019-09-09 09:24] SubhashVasarapu-MSFT commented on #38529
@akshayyadav1122, We are looking into this query and will update you as soon as possible.

[2019-09-09 09:27] KalyanChanumolu-MSFT commented on #38525
@Aniseto Thank you for the feedback. We are actively investigating and will get back to you soon.

[2019-09-09 09:29] KalyanChanumolu-MSFT commented on #38526
Thank you for the feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-09-09 09:33] KalyanChanumolu-MSFT commented on #38528
@eyast Thank you for pointing out the issue, I have updated the doc accordingly.
The changes should be live EOD or tomorrow.
In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. We love taking contributions from the community.

We will proceed to close this issue now.

[2019-09-09 09:33] #38528 closed

[2019-09-09 09:34] VikasPullagura-MSFT commented on #38512
@tdihp Please check this [document](https://docs.microsoft.com/en-us/azure/firewall/tutorial-firewall-dnat#configure-a-nat-rule) for Azure Firewall DNAT, replace Private IP with Public IP of the Load balancer.

[2019-09-09 09:39] RohitMungi-MSFT commented on #38490
@jaiswati We re-ran the document to run the steps and it worked fine. Here is a screen shot of the prediction.
![image](https://user-images.githubusercontent.com/46958063/64520357-9fc77880-d313-11e9-847e-819fa89cece3.png)

Please take a look at how the model was exported. Here are the [steps](https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/export-your-model) to conv

[2019-09-09 09:43] KrishnaG-MSFT commented on #38530
@nick-cloud-maker-ai Thanks for your comment. The feedback has been shared with the content owner for further review.
Assigned to @ellacroi as unable to assign to @jm-aditi-ms.

[2019-09-09 09:48] AshokPeddakotla-MSFT commented on #38392
@JeffMill Thanks for the clarification.
I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-09 09:52] AshokPeddakotla-MSFT commented on #32273
@kgremban Please review this and let me know if this needs more discussion and case to be re-opened.

[2019-09-09 10:05] jaiswati commented on #38490
Hi  Rohit,

Thank you for the response..

Could you please share the images for which  you have tested this sample code? need to check the format of the images (image size , type of image etc)

Also in which python environment we will need to test this?

I have upgraded Azure Jupiter notebook to Tensorflow 2.0 rc2 as with earlier , code snippets does not work.

[2019-09-09 10:17] SubhashVasarapu-MSFT commented on #38200
@sugarjig, Appreciate your patience. You can get those logs either through power shell or Rest API. For referance please have a look at these below URLs.
**Powershell:** https://docs.microsoft.com/en-us/powershell/module/az.monitor/get-azdiagnosticsetting?view=azps-2.6.0
**Rest API:** https://docs.microsoft.com/en-us/rest/api/monitor/diagnosticsettings/get
@mikewo, Thanks for your response.
We are

[2019-09-09 10:17] #38200 closed

[2019-09-09 10:19] KrishnaG-MSFT commented on #38423
Assigning content owner @bwren for visibility and document enhancement considerations.

[2019-09-09 10:19] DrReedo opened #38531 "What should I enter in the Fully Qualified Path please?"
What should I enter in the Fully Qualified Path please so that I can download files?
thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2060077-b280-8535-9a7f-f835cd110227
* Version Independent ID: c3a0188d-6355-f46d-9ac7-d31c8484737e
* Content: [Using the Azure Cloud Shell window](https://docs.microsoft.com/en-

[2019-09-09 10:25] cvbc2010 opened #38532 "Can we assign ValidTokenIssuerPrefixes from input claims of B2C custom policy."
we are having an application with two application urls like, child1.domain.com, and child2.domain.com. And we are using Azure AD B2C Custom Policies with OpenId-Connect Technical Profile.

Below section is under TechnicalProfile MetaData.

**Child Domain1:**
https://sts.windows.net/1b8a5164-feeb-478a-9848-8c2d26a903c1
https://sts.windows.net/cf2dd54b-0d1a-45ef-8514-eea5802be846

**Child Domain2 :*

[2019-09-09 10:31] KrishnaG-MSFT commented on #38482
Assigning content owner @mumian for visibility, insights and document enhancement considerations.

[2019-09-09 10:37] dominicbetts commented on #38343
@miagdp @xinyiz1226 - thanks for the suggestion. I've added a note to these articles about the regional availability.

[2019-09-09 10:38] dominicbetts commented on #38343
#please-close

[2019-09-09 10:38] #38343 closed

[2019-09-09 10:53] Nimleth opened #38533 "Server Side Request Forgery (SSRF) attacks and Core Rule Set (CRS)"
Hi,

From the coreruleset.org site I understand that any WAF based on this ruleset will not be able to stop/detect just any SSRF attack as according to them "SSRF is really hard to detect with generic rules". This means that this is also valid for Azure AppGW/WAF.

It would be prudent to add something about this in the documentation and give some guidance on how to protect specific applications ag

[2019-09-09 11:00] tecris commented on #38347
All clear, thank you.
closing

[2019-09-09 11:00] #38347 closed

[2019-09-09 11:18] giovannifl opened #38534 "AzureRM supports"
Hello,
Numerous commands (i.e. Get-AzStorageSyncServerEndpoint ) require to install AZ module. It seems that AzureRM module doesn't fully support Azure File Sync. For example, an AzureRM version of  Get-AzStorageSyncServerEndpoint not exist.
Please could you confirm if this is the case ?

Thanks in advance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-09-09 11:35] KrishnaG-MSFT commented on #38531
@DrReedo Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-09 12:01] zensonic opened #38535 "Too much copy and paste"
You can simulate Windows alerts by downloading Azure Security Center Playbook: Linux Detections. should be You can simulate Linux alerts by downloading Azure Security Center Playbook: Linux Detections.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b7caef9-061a-4509-999f-ea9cc4b2317e
* Version Independent ID: b4974242

[2019-09-09 12:05] jaiswati commented on #38490
Here is the  Classification Custom Vision Project and azure notebook
https://github.com/jaiswati/Custom-Vision-Test

[2019-09-09 12:19] test123114 opened #38536 "how to create contained database users with powershell"
[Enter feedback here]
I use the following powershell script to create contained database users, but I get an error:

 the script :

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d4a33b0-87d0-f60c-1b52-aeafa889e657
* Version Independent ID: c281bdb7-c98c-6853-5077-41b3dd44d3a2
* Content: [Configure Azure Active

[2019-09-09 12:20] msrini-MSFT commented on #38533
@Nimleth , Application Gateway WAF uses OWASP 2.9 or 30. or 3.1 rule-sets and if SSRF is not listed in any of the rule-set, then Application Gateway will not support.

Let me know if you have any further questions.

[2019-09-09 12:25] Weatwagon commented on #35466
@sarahlume I'm getting conflicting information.

According to this how to guide from the Microsoft docs [here](https://docs.microsoft.com/en-us/azure/cognitive-services/Speech-Service/how-to-use-conversation-transcription-service) about the conversation transcription service references the Azure Kinect DK

The "Get The Speech Devices SDK" doc [here](https://docs.microsoft.com/en-us/azure/cognitive

[2019-09-09 12:29] test123114 opened #38537 "Can I change the exiting listener Protocol"
[Enter feedback here]
I have created a listener. Its Protocol is http. I want to change its Protocol from http to https. Can I do that? If I can do, how to implement it with python?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73282a20-be05-8b47-930c-3a9567014226
* Version Independent ID: 9728db84-6176-c930-a99d-4193

[2019-09-09 12:45] JimXu199545 opened #38538 "how to create a azure web app to host php application with arm template"
[Enter feedback here]
I use the following arm template to create php web app, but after I deploy the template successfully, I also can see the default language is .Net. How to fix it.
The template json is as below
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583b2ab0-b032-7fa9-d21f-5203284bd68c
* Version Indep

[2019-09-09 12:48] msrini-MSFT commented on #38537
@test123114 , Thank you for your feedback.

You can change the protocol from HTTP to HTTPS in the listener but you will need to upload SSL cert to the listener.

You can do that via Portal, ARM template, PowerShell, Azure CLI, REST API.

Any specific reason why you wanted to do it via Python?

[2019-09-09 12:58] test123114 commented on #38537
Hi. I just create the resource with python SDK. So I want to know how to do that with python. You also can tell me how to do that with PowerShell.

[2019-09-09 13:08] sai-dvenkatesh commented on #18339
The document creation or update failed because of invalid reference 'xxxxbackup'

[2019-09-09 13:11] theonlygusti opened #38539 "batch transcription DisplayFull"
Some of my responses from the batch transcription API do have a DisplayFull key, some of them do not.

Where's the documentation on this?

How can I ensure I get a `DisplayFull` every time?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73fb7e76-fb80-c420-2efe-e3ca3a27b749
* Version Independent ID: 07a42557-deb3-e4b3-3

[2019-09-09 13:16] crmhh opened #38541 "Needed Permissions for changing the sync scope"
Hi,
we'd like to delegate the task to add a group to the sync scope.
If tried to grant Contributor permissions for the AADDS Ressource but it seems like this is not enough.
Could you please provide which permissions are needed for different tasks in AADDS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80784d9f-1c4d-00

[2019-09-09 13:22] BhupalPatil commented on #38346
@AshokPeddakotla-MSFT thanks for the input, I will explore azure function path to capture and write summary.

[2019-09-09 13:27] nikosangr opened #38542 "Missing method?"
hi

what's the need for GetListOfExtractedKeys(formClient, modelId)?
is there an implementation sample?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23d8b75f-c509-401f-2a66-4f7d1dab8f93
* Version Independent ID: 94094caa-ebb4-6752-0ff7-04331a2fa31b
* Content: [Quickstart: Form Recognizer client library for .NET](http

[2019-09-09 13:28] mikaelsand opened #38543 "Should I choose it or not?"
Under Connect to On-Premise data I find this information

So which one should I choose?
Should it read:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7892e678-a98f-73fa-7c54-1a8a921f35c7
* Version Independent ID: 064c9db9-5e18-7266-1740-ada24a2086a1
* Content: [Access data sources on premises from Azure Logic Apps](ht

[2019-09-09 13:43] BhupalPatil opened #38544 "Creating Dashboard using distributed tracing"
Hi Team, is it possible to create dashboard using distributed tracing way? The dashboard will show all the messages received from devices, ability to filer the data, like power BI.

Thanks,
Bhupal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85a00a92-3048-645b-d4a1-eb6b6446268a
* Version Independent ID: 3e4326bd-6992

[2019-09-09 13:44] msrini-MSFT commented on #38537
@test123114 , i have uploaded the scrip to the gallery.

https://gallery.technet.microsoft.com/Convert-HTTP-listener-to-3981310b

[2019-09-09 13:59] PhlashGBG opened #38545 "Missing documentation and OIDC non-compliance: issuer metadata"
Hi, similar to [14676](https://github.com/MicrosoftDocs/azure-docs/issues/14676), it seems the AzureAD v2.0 OIDC metadata for a single tenant contains a non-compliant issuer URL, since it does not match issued tokens, I note the previous issue was closed down and discussion asked for in MSDN, where there is no resolution I can find, hence I am opening a new ticket here.

There is example code here

[2019-09-09 14:01] mumian commented on #38482
@djpirra - Add another extensions resource and specify the properties of the bacpac file.

#please-close

[2019-09-09 14:01] #38482 closed

[2019-09-09 14:10] DixitArora-MSFT commented on #38543
Hi @mikaelsand Thanks for your feedback. We will review and update as appropriate.

[2019-09-09 14:15] paramda opened #38547 "SLA"
Is SLA for SQL database "99.995% availability guaranteed" more than SQL MI "99.99% availability guaranteed"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd929b95-a669-6c8f-d55e-8b93c1e395a1
* Version Independent ID: 9348ee72-e3be-75b8-2124-092ee46de84a
* Content: [Choose the right deployment option in Azure SQL](htt

[2019-09-09 14:26] unstephenk opened #38548 "NodeJS"
Please show the following section for use with NodeJS "Build a platform-specific version of the SDK".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eee2ad9-8af7-8781-cbaa-c0d7987a4528
* Version Independent ID: 81c16b29-772f-e407-3798-10b735a587db
* Content: [Set up device for the Azure IoT Hub Device Provisioning Ser

[2019-09-09 14:28] DonPetry-EY opened #38549 "Service Principal Limitations for Adding Azure AD Users"
Is there a limitation preventing an AAD Service Principal from adding Azure AD Users to SQL?

We were told by support that:
"At this time, the statement CREATE USER [] FROM EXTERNAL PROVIDER; is not supported for SPN."
when we received an error creating a User via SPN:
"Principal 'xxxxxx' could not be created. Only connections established with Active Directory accounts can create other Active Dire

[2019-09-09 14:32] AshokPeddakotla-MSFT commented on #38346
Sure. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-09 14:32] #38346 closed

[2019-09-09 14:35] SumanthMarigowda-MSFT commented on #38534
@giovannifl Thanks for your question. We are checking on this and will respond to you soon.

[2019-09-09 14:36] KehindeOwens opened #38550 "How does the b2b backend work?"
Hello,

I'm using B2B invites in my environment and it's awesome. However, I work for a government client and they are curious as to how this functionality works. They want to assure that our AAD doesn't have access to their government AAD etc etc. Is there a page or guide that details the backend workings of B2B collaboration? This page moreso explains how to set it up.

---
#### Document Details

[2019-09-09 14:37] stevestein commented on #37851
@KatiukOleg - thanks for opening this issue.
 The PowerShell example should import your bacpac from Azure Storage. Are you encountering an issue while using the exact example, or have you modified the code?

Another example can be found in the cmdlet reference article: https://docs.microsoft.com/en-us/powershell/module/az.sql/new-azsqldatabaseimport?view=azps-2.6.0#examples

[2019-09-09 14:47] zacabrer opened #38551 "Alternatives to "Use for App Service""
At the bottom of the article there is a section for "Additional configuration in case of redirection to app service's relative path" which includes steps for an alternate method to configure an app service webapp behind the AppGW. I think this should be mentioned in the actual configuration steps section of the article as well - specifically in "Create HTTP settings for App service" under step 4 t

[2019-09-09 14:48] NavtejSaini-MSFT commented on #38388
@rootsmusic We are going ahead and closing this thread. Hope the threads in comment above must have helped you.

[2019-09-09 14:48] #38388 closed

[2019-09-09 14:53] srirangs commented on #22954
@ananthradhakrishnan  Are there any further updates on the OMS installation in ServiceNow side without any HI restrictions?  can you pls connect SME here.

[2019-09-09 14:53] unstephenk commented on #38548
Step 2 of "Create the device registration software" is incorrect. The folder "Provision_Samples" is missing.

[2019-09-09 14:54] unstephenk opened #38552 "Incorrect Instructions"
Step 2 of "Create the device registration software" is incorrect. The folder "Provision_Samples" is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eee2ad9-8af7-8781-cbaa-c0d7987a4528
* Version Independent ID: 81c16b29-772f-e407-3798-10b735a587db
* Content: [Set up device for the Azure IoT Hub Device Provision

[2019-09-09 15:00] yeswps commented on #38472
@axayjo Thanks for the information. It could be helpful to add this behavior into the document. https://docs.microsoft.com/en-us/azure/virtual-machines/windows/shared-image-galleries

Meanwhile, it could be still a lot easier to allow each image keep it's own version, but tag individual one as the latest.

[2019-09-09 15:09] carlmill opened #38553 "Part number for power jack connector"
Can you provide the part number and specs for the barrel connector used with the power jack.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a69b3704-f4a2-cd9d-6125-5b3eb50bd351
* Version Independent ID: a0b9cae2-0c73-7350-d0b1-fb7f4408388d
* Content: [Azure Kinect DK hardware specification](https://docs.microsoft.com/e

[2019-09-09 15:10] shashishailaj commented on #38223
@jerms0518 This could have different reasons and would require troubleshooting at a deeper level. We  believe that Microsoft Support may be better equipped to help you further on this as this is not specifically related to the provided documentation . Please send us an email on azcommunity[at]microsoft[dot]com and we will help you with alternate support options on this.

Thank you.

[2019-09-09 15:10] #38223 closed

[2019-09-09 15:29] ajayanti1 commented on #38437
@Oppedijk - Sorry about that. Fixed the order.

[2019-09-09 15:29] ajayanti1 commented on #38437
#please-close

[2019-09-09 15:29] #38437 closed

[2019-09-09 15:29] jpconnock commented on #26884
#please-close based on customer comments.  Thank you for the feedback!

[2019-09-09 15:29] #26884 closed

[2019-09-09 15:35] shashishailaj commented on #38230
@VNJoe We do not believe this impacts any users. We believe that an admin have complete choice in not checking the risky sign-ins blade . As explained by Manoj above , the article https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/overview-v2#licensing has a section which describes that the risky sign-in reports are available to Azure AD basic/Free users with very limited

[2019-09-09 15:41] MicahMcKittrick-MSFT commented on #38473
I will go ahead and close this out. If you are still seeing issues please open a new issue directly on the document you are following and we can take a look.

[2019-09-09 15:41] #38473 closed

[2019-09-09 15:43] MicahMcKittrick-MSFT commented on #38517
@eyast as the title suggests, the idea is to help the user understand Monolithic vs. microservices design approach. Can you elaborate on what exactly you are finding confusing and what you would like to see changed?

[2019-09-09 15:46] SaurabhSharma-MSFT commented on #38535
@zensonic Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-09 15:48] MicahMcKittrick-MSFT commented on #38520
@eyast in this case, the URL is resolving to a specific node (machine). Yes that machine has an IP address which is is resolving to but this statement is still correct the way it is written.

At this point in time we are going to leave the doc as is. However if others find it confusing they can comment on this issue and we can always reconsider modifying it in the future.

[2019-09-09 15:48] #38520 closed

[2019-09-09 15:50] MarileeTurscak-MSFT commented on #38541
@crmhh
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-09 15:51] MarileeTurscak-MSFT commented on #38550
@KehindeOwens
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-09 15:54] ManojReddy-MSFT commented on #38503
@dmarlow Which method are you trying? Azure portal or Subscription management portal?

What is the behavior you are experiencing?

[2019-09-09 15:54] mmacy commented on #38377
Hi @mahoekst, I'll be updating this and four other docs to use the V2 endpoint this week, thanks for your patience.

#reassign:mmacy

[2019-09-09 15:55] stevestein commented on #37748
@chainhead - yes, your interpretation is correct. @olofhellman - perhaps the graphic can be improved, but it's not intended to be a standard chart. The box represents the resources available for the database, and the oval represents a way to look at an example of usage within the bounds of available resources.

We appreciate the feedback. Thanks!

[2019-09-09 15:55] stevestein commented on #37748
#please-close

[2019-09-09 15:55] MicahMcKittrick-MSFT commented on #38439
@emrmarvin I will go ahead and close this out as I have verified the document works as written. Please try running through it again and if you still have issues just let me know.

[2019-09-09 15:55] #38439 closed

[2019-09-09 15:55] #37748 closed

[2019-09-09 15:56] MicahMcKittrick-MSFT commented on #38451
@SamRakaba interesting. Thanks for providing that! I will assign it to the content author to review.

@mlearned @sauryadas can you take a look and confirm? I can add this rule to the doc if needed.

[2019-09-09 15:57] syndicatedshannon opened #38555 "Please clarify content sizes, especially limits"
The API documents for SpeakerRecognition (linked above) are unclear regarding duration and size requirements/limitations, in multiple respects:
 - In the statement "The audio file should be at least 5 seconds long and no longer than 5 minutes", the use of "should" without corresponding "must" leaves uncertainty regarding limits/requirements.
 - From experimentation and by inspecting the [SDK](http

[2019-09-09 15:59] MicahMcKittrick-MSFT commented on #38474
@daveRendon good find! The way you did it is a better route anyways. I have updated the doc to reflect that. Once the PR merges the changes will go live after a few hours.

[2019-09-09 15:59] #38474 closed

[2019-09-09 16:03] DixitArora-MSFT commented on #38481
@mikebudzynski  Any thoughts in this ?

[2019-09-09 16:05] DixitArora-MSFT commented on #38432
@vladvino Any thoughts on this ?

[2019-09-09 16:05] lukepuplett opened #38556 "Needs a full rewrite or severe overhaul and review with green customers"
I think this documentation needs a complete rewrite. I'm sorry that this is not specific and unactionable but I haven't managed to understand the product well enough to know why its bad, only that each time I think I understand what its saying, my experiments prove me wrong.

My success rate with Application Insights has been very low, since I began using it, years ago. I only persevere because it

[2019-09-09 16:06] KrishnaG-MSFT commented on #38515
@kudlatiger, One way to accomplish your requirement of getting notified whenever a new resource is created under a subscription or in a resource group is by following below steps.

1. Enable collection of Activity logs by going to Azure portal -> 'Log Analytics workspaces' -> Your Log Analytics workspace -> 'Workspace Data Sources' -> 'Azure Activity Log' -> Select required subscription and click

[2019-09-09 16:07] NavtejSaini-MSFT commented on #38536
@test123114 Thanks for the feedback. We are looking into this.

[2019-09-09 16:08] NavtejSaini-MSFT commented on #38547
@paramda Thanks for the question. We will get back to you as soon as possible.

[2019-09-09 16:09] syndicatedshannon commented on #38555
Note that trimming the .WAV file to 3m 58s (using the same tools, techniques, and settings) resulted in a 7.26MB file. This file was accepted for enrollment.

[2019-09-09 16:09] NavtejSaini-MSFT commented on #38549
@DonPetry-EY Thanks for the question. We will get back to you as soon as possible.

[2019-09-09 16:10] RohitMungi-MSFT commented on #38490
You can try any valid image type. Try using any of the [sample project](https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/csharp-tutorial) from the document and convert it to compact domain.
I tested with python 3.7.2 and tensorflow 1.14.0

We would recommend to post issues related to implementations on [stackoverflow](https://stackoverflow.com/questions/tagged/micros

[2019-09-09 16:10] addyjj opened #38557 "BingID"
Hi,

I am looking for more guidance on the bingId response property. Can we use this id to perform a bing search?

Thanks!

[2019-09-09 16:10] placidseven opened #38558 "NT Service\AzureWLBackupPluginSvc"
Running Microsoft SQL Server 2017 (RTM) - 14.0.1000.169 (X64)  Microsoft Corporation  Developer Edition (64-bit) on Windows Server 2016 Datacenter 10.0 &lt;X64&gt; (Build 14393: ) (Hypervisor) with Microsoft SQL Server Management Studio 17.

When adding "NT Service\AzureWLBackupPluginSvc" I get the error:
An object (User,Group, or Built-in Security principal) with the following name cannot be foun

[2019-09-09 16:13] dmarlow commented on #38503
The option is grayed out.

[2019-09-09 16:14] mrbullwinkle commented on #38556
Adding @vgorbenko and @macrogreg

[2019-09-09 16:17] karthickshanmugam0689 opened #38560 "Ability to filter users with onPremisesSamAccountName with Microsoft Graph API"
I would like to have a filter on the users api of Microsoft Graph API, where I will be able to filter the users based on onPremisesSamAccountName, which is currently not available with Graph API.

We have the internal employee id to be stored with onPremisesSamAccountName variable which is present in users API of Microsoft Graph. We are trying to filter with onPremisesSamAccountName property to fi

[2019-09-09 16:22] SaurabhSharma-MSFT commented on #38456
@jeffwmiles I believe log analytics is billed per GB data ingested into the service. Refer to the [Azure Monitor pricing documentation](https://azure.microsoft.com/en-us/pricing/details/monitor/).
@monhaber can you please help if there is anything specific to Azure Security Center.

[2019-09-09 16:41] mrbullwinkle commented on #38556
@lukepuplett Thank you so much for your clear & candid feedback. I have created an internal workitem to overhaul the docs in regard to [GetMetric](https://docs.microsoft.com/dotnet/api/microsoft.applicationinsights.telemetryclient.getmetric?view=azure-dotnet) as this is clearly causing a lot of confusion and frustration. I am adding the workitem to our October sprint.

I also added the PM who owns

[2019-09-09 16:42] BryanTrach-MSFT commented on #38526
@v-tawe It looks like the doc author has gone ahead and updated the doc. The changes should be public within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-09 16:42] #38526 closed

[2019-09-09 16:43] Grace-MacJones-MSFT commented on #38538
Hi @JimXu199545, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-09 16:43] KevinMZiegler opened #38561 "Many Customer Stories (links) don't work"
For instance, Orange Tribes, Real Madrid and Tuku links don't work - brings me to a page that indicates the page cannot be found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e421adc8-1c38-e4e4-16cc-adde039e7ae7
* Version Independent ID: 0c8c84f8-4eb7-ab37-7384-577d18283ccb
* Content: [Common use cases and scenarios

[2019-09-09 16:46] rbrundritt commented on #38407
@walsehgal Since we can't change the service without creating a breaking change, can you update the docs to stand "pass your primary subscription key".

It should be noted though that the secondary subscription key is also a valid option to pass in, but is mainly there for cycling the primary key.

[2019-09-09 16:47] cawrites commented on #38122
@chin0913 thank you for providing this information. I am following up on an internal resource and will update you when I have something to share.

[2019-09-09 16:49] YutongTie-MSFT commented on #38555
@syndicatedshannon
Thanks for the feedback! We are currently investigating and will update you shortly.

@dwlin Hi, could you please check this issue and update the document? I can not assign this issue to you since you are not in this repo. @nitinme FYI

[2019-09-09 16:50] rajurajvijay619 opened #38562 "Detection failed : Resource not found"
After selecting an image,  I get  **Detection failed : Resource not found**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 751ccff2-59c4-e2e4-8a64-d90b195c89ac
* Version Independent ID: 6c696aa8-9226-737e-94fe-1f0697e88038
* Content: [Tutorial: Detect and frame faces in an image with the Android SDK - Azure Cognitive S

[2019-09-09 16:50] YutongTie-MSFT commented on #38542
@nikosangr
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@PatrickFarley Hi Patrick, could you please check this issue and update the document with more details? Thank you.

[2019-09-09 16:50] cawrites commented on #38077
@PiKappZ746 I am following up on the posted response to your issue. If there are no other questions we will be closing this issue.

[2019-09-09 16:52] mikebudzynski commented on #38481
@hinchley2018 You'd need to use the self-hosted version and create your own widget to connect to a 3rd party service. At this moment we don't have documentation on this topic, but you can learn more about widgets here: https://paperbits.io/wiki/widget-anatomy

#please-close

[2019-09-09 16:52] #38481 closed

[2019-09-09 16:52] daveRendon commented on #38474
Thank you @MicahMcKittrick-MSFT!

[2019-09-09 16:53] cawrites commented on #37946
@seantleonard I am following up regarding the response that was posted to your issue. Hopefully you have had an opportunity to review the links provided.

[2019-09-09 16:54] jsuddsjr opened #38563 "Endpoint Cache properties have changed."
The screenshot above no longer matches what I see in the Azure portal. The new "Caching Rules" is more complicated and has options like "Override" and "Set if missing" that should be discussed here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45034e70-188d-f7f8-d1da-bc72c2f95d7c
* Version Independent ID: 34c58d57-87

[2019-09-09 16:58] jlian commented on #38544
With some setup, yes. Please check out the sample we have for App Map

https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-distributed-tracing#application-map

![image](https://user-images.githubusercontent.com/2320572/64550720-6299c100-d2e8-11e9-812a-6cdb2514898a.png)

[2019-09-09 16:59] jeffpatt24 commented on #38534
The AzureRM cmdlets are still available. To run the cmdlets, run the following command from PowerShell:
import-module "C:\Program Files\Azure\StorageSyncAgent\StorageSync.Management.PowerShell.Cmdlets.dll" -verbose

[2019-09-09 16:59] jeffpatt24 commented on #38534
The AzureRM equivalent of Get-AzStorageSyncServerEndpoint is Get-AzureRmStorageSyncServerEndpoint

[2019-09-09 17:00] jeffpatt24 commented on #38534
Note: We're no longer investing in AzureRM cmdlets which is why our documentation has been updated to only list Az cmdlets.

[2019-09-09 17:00] jeffpatt24 commented on #38534
#please-close

[2019-09-09 17:00] #38534 closed

[2019-09-09 17:04] msrini-MSFT commented on #38483
@tcbjc , I will go ahead and close this issue for now. Please tag me if you have any further questions.

[2019-09-09 17:04] #38483 closed

[2019-09-09 17:05] msrini-MSFT commented on #38483
@tcbjc , I will go ahead and close this issue. Please tag me if you have any further questions.

[2019-09-09 17:06] mbialecka commented on #38510
@njbuch The module is polling on local database to get a list of modified blobs for upload. You can adjust the interval through "normalWorkIntervalSeconds" property under "deviceToCloudUploadProperties". We haven't documented the settings for fine-tuning yet.

[2019-09-09 17:12] giovannifl opened #38565 "Azure Automation account region"
Hello,
Please could you confirm if the Azure Automation must be in the same region of the Recovery Vault or if it doesn't matter ?
I'm asking because, for example, Azure Automation is not available in UK West region and if I would like to replicate VMs hosted in UK South, the Recovery Vault would be in UK West and the Azure Automation account could be deployed in West Europe.

Thanks in advance

K

[2019-09-09 17:13] Adam-Smith-MSFT commented on #38269
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-09-09 17:13] #38269 closed

[2019-09-09 17:17] Alberto-Vega-MSFT commented on #38548
@unstephenk Thanks for the feedback! Can you post this as a feedback [@Azure IoT User Voice](https://feedback.azure.com/forums/321918-azure-iot). This will allow the community to upvote and for the product team to include into their plans.
We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page..

[2019-09-09 17:18] azaslonov commented on #38481
@hinchley2018, just in case, there is a module @paperbits/intercom that you can install and configure in startup.publish.ts file. Please see example [here](https://github.com/paperbits/paperbits-demo/blob/master/src/startup.publish.ts#L34).

[2019-09-09 17:20] Alberto-Vega-MSFT commented on #38552
@unstephenk Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-09 17:20] seantleonard commented on #37946
@cawrites Link #1 was the most helpful as it listed what to do. I believe the text from that link would be useful on this particular page.

[2019-09-09 17:26] mmacy commented on #38255
Hi @ragedrk, on the autoplay issue, because B2C uses the CORS approach to assemble the pages, you'll need to include some JavaScript to start the video on page load. Because B2C merges the UI elements with the HTML content loaded from your URL, it doesn't know when the page is fully "loaded," thus the autoplay isn't triggered.

#reassign:mmacy

[2019-09-09 17:28] #38184 closed

[2019-09-09 17:29] BryanTrach-MSFT commented on #38184
@marcelaldecoa Thank you for raising this up. We have gone ahead and added the link to the doc. These changes should be public within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-09 17:29] shashishailaj commented on #38335
@billmath Could you please look into updating the document with the changes in the latest version of Azure AD connect available through auto-update (v1.4.13.0) as confirmed by the customer above ?

[2019-09-09 17:33] njbuch commented on #38510
Thanks for clarification. Will see of things eases up a little on this.

[2019-09-09 17:33] #38510 closed

[2019-09-09 17:37] njbuch opened #38566 "I have been adviced not to use device direct methods, where is the docs for module-client-direct-methods?"
Title says it all :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29fa33fc-b160-43e8-dc8b-9e3c085547ee
* Version Independent ID: a7b4023b-252c-3a13-1b89-44f725b32bc9
* Content: [Control a device from Azure IoT Hub quickstart (Python)](https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-control-device-python)
*

[2019-09-09 17:38] karthiksubramanians opened #38567 "Dynamic Scaling"
It is mentioned that the requirements for dynamic scaling are:

1.All instances should have the same lease container configuration.
2.All instances should have the same workflow name.
3.Each instance needs to have a different instance name (WithInstanceName).

It is also mentioned that
" One lease can only be owned by one instance at a given time, so the maximum number of instances equals to the n

[2019-09-09 17:41] #38486 closed

[2019-09-09 17:42] MicrosoftGuyJFlo commented on #38311
I would suggest opening a support case with Microsoft to further troubleshoot this issue.

[2019-09-09 17:42] MicrosoftGuyJFlo commented on #38311
#please-close

[2019-09-09 17:42] #38311 closed

[2019-09-09 17:43] karthiksubramanians commented on #38146
Is this comment for @Mike-Ubezzi-MSFT ? If it is for me, could you clarify the question?

[2019-09-09 17:45] MicrosoftGuyJFlo commented on #38487
Ill update the doc later today. This is a slow rollout change so not every directory will see the location change today.

[2019-09-09 17:59] mhopkins-msft commented on #9869
Hi @ashishonce

Thank you for your input. I've created a work item to update the article and sample and added it to our backlog. Thanks, again!

#please-close

[2019-09-09 17:59] #9869 closed

[2019-09-09 18:13] ggailey777 commented on #19391
#reassign:ggailey777

[2019-09-09 18:13] PRMerger9 commented on #19391
GitHub user asavaritayal has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2019-09-09 18:15] Alberto-Vega-MSFT commented on #38553
@carlmill Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-09 18:18] Alberto-Vega-MSFT commented on #38553
@carlmill Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-09 18:23] placidseven commented on #38558
This was due to not have the recovery vault in the same subscription and region as the VM.

[2019-09-09 18:40] lukepuplett opened #38569 "Comment on support in ASP.NET Core"
&gt; Code that is written in any language or framework can get the information that it needs from these headers. For ASP.NET 4.6 apps, the ClaimsPrincipal is automatically set with the appropriate values.

Please add a comment about .NET Core as few people will be undertaking new work on 4.6 now. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-09-09 18:46] cawrites commented on #37987
@MarileeTurscak-MSFT this should be reviewed by an Azure Monitor author.

[2019-09-09 18:46] plzm opened #38570 "What happens when multiple autoscale rules are specified? Is it AND or OR?"
If I have two scale-in rules specified, will scale-in (e.g. instance count reduced) occur if EITHER scale-in rule applies, or only if BOTH apply?

For example: let's say I have an autoscale rule that says &lt;50% CPU avg for 5 minutes, and an autoscale rule that says &lt;100 items in queue (which triggers the function).

Will autoscale occur when I am at 10% CPU for 5 minutes and 1 second, even if

[2019-09-09 18:51] #18243 closed

[2019-09-09 18:52] BrianLevenson commented on #38530
Hey Nick - thanks for the heads up and suggestions! You're exactly right with regards to the current state, and I'm actively working to revamp the content on Docs. In the past few months, we've added pricing options, billing models, and purchase on AppSource.

If you're interested in the latest material while I continue writing new documentation, you can find it here: https://aka.ms/SellThroughMar

[2019-09-09 19:09] KrishnaG-MSFT commented on #38558
@placidseven Glad to know that you have self resolved the issue. Thanks for the update.

[2019-09-09 19:11] #38570 closed

[2019-09-09 19:12] plzm commented on #38570
Found the Azure portal editor has "When... AND" and "When... OR" - would still be good to highlight in docs.

[2019-09-09 19:16] Nickomang commented on #9654
@reassign athinanthny

[2019-09-09 19:19] stevestein commented on #38187
@lukos - thanks for opening this issue.

The elastic db client library runs against any MS SQL - SQL DB, SQL MI, on prem, SQL on a VM...

[2019-09-09 19:19] stevestein commented on #38187
#please-close

[2019-09-09 19:19] #38187 closed

[2019-09-09 19:19] Nickomang commented on #10298
Hi @amanbha, can you reply to this issue with a short description of the actor lifecycle? Thanks, Nick

[2019-09-09 19:21] JimacoMS3 commented on #37719
#reassign JimacoMS3

[2019-09-09 19:23] njbuch opened #38572 "Creating a ConnectionStatusChangeHandler method is called MANY times"
Having implemented a nice working module, I have now implemented a method

[code]

This method is called approximately 1 million times per hour, which seems wrong. For that hour, the connection has been stable. I would like to have the option of changing state of the module in case it goes offline. Please clarify.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-09-09 19:25] JoeRistine commented on #33601
Response from Microsoft:

[2019-09-09 19:26] Nickomang commented on #34377
#reassign @peterpogorski

[2019-09-09 19:28] KrishnaG-MSFT commented on #38570
@plzm Thanks for the feedback. Glad that you have self resolved the issue.
@rajram Can you please consider document enhancement with a note explaining about "When AND" and "When OR" ?

[2019-09-09 19:31] DeanGross commented on #38178
Ok, here is that image
![image](https://user-images.githubusercontent.com/4058555/64560624-d6eb5900-d316-11e9-8396-2f4ebbed0ec2.png)

[2019-09-09 19:33] Nickomang commented on #11951
#reassign @peterpogorski

[2019-09-09 19:36] KranthiPakala-MSFT commented on #38364
Hi @djpmsf, could you please have a look at the above query? - Thanks

[2019-09-09 19:39] cawrites commented on #38178
@DeanGross I was specifically asking to see what you have provided now, thank you.

[2019-09-09 19:40] KranthiPakala-MSFT commented on #38364
@lmicverm At this time we have assigned the issue to the content author. They will evaluate and provide an update as appropriate. Thanks.

[2019-09-09 19:50] NavtejSaini-MSFT commented on #38146
@karthiksubramanians Please follow instruction from @sharma-pankaj and let us know the results or questions. We are closing this thread as this moment no doc enhancement is required. But we can definitely continue the dialogue depending on your question.

[2019-09-09 19:50] #38146 closed

[2019-09-09 19:50] Nickomang commented on #35081
#please-close

[2019-09-09 19:50] #35081 closed

[2019-09-09 19:51] jnoller commented on #38440
I will have to think about this request. As 3rd party open source or closed source vulnerability tools are outside of our control, including what cves, patches, or issues they are tracking. Due to this, a document enumerating all possible issues reported by scanning tools is not feasible.

As AKS does not support custom OS images, we are evaluating plans for a smaller purpose built linux distribut

[2019-09-09 20:03] PRMerger6 commented on #33816
GitHub user zhiweiwangmsft has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2019-09-09 20:04] anilpras opened #38573 "outbound connection limit mentined is not accurate"
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#service-limits

It says

Document says Max outbound connections "Unbound" for the "App Service Plan" & "Premium Plan"

---
But essentially it has a limit.. as discussed here https://github.com/projectkudu/kudu/wiki/Azure-Web-App-sandbox#numerical-sandbox-limits

---
#### Document Details

⚠ *Do not edit th

[2019-09-09 20:05] MicahMcKittrick-MSFT commented on #38562
@rajurajvijay619 please provide us with the link to the documentation you are following so we can better assist.

[2019-09-09 20:06] MicahMcKittrick-MSFT commented on #38560
@karthickshanmugam0689 please provide us with the link to the documentation you are following so we can better assist.

[2019-09-09 20:07] SaurabhSharma-MSFT commented on #38532
@cvbc2010 To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either in MSDN or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2019-09-09 20:07] PRMerger7 commented on #29141
GitHub user prashanthyv has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2019-09-09 20:07] SaurabhSharma-MSFT commented on #38539
@theonlygusti To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either in MSDN or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2019-09-09 20:08] MicahMcKittrick-MSFT commented on #38557
@addyjj please provide us with the link to the documentation you are following so we can better assist.

[2019-09-09 20:09] PRMerger8 commented on #25319
GitHub user jimdial has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2019-09-09 20:09] PRMerger8 commented on #24081
GitHub user prashanthyv has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2019-09-09 20:10] PRMerger8 commented on #23021
GitHub user jimdial has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2019-09-09 20:12] PRMerger8 commented on #17233
GitHub user prashanthyv has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2019-09-09 20:13] PRMerger9 commented on #13151
GitHub user seguler has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2019-09-09 20:14] curtand commented on #24300
Hi @adrianwells
The regular expression standard does not apply. It is its own system.

[2019-09-09 20:15] karthickshanmugam0689 commented on #38560
Hi @MicahMcKittrick-MSFT  https://docs.microsoft.com/en-us/graph/query-parameters#filter-parameter - this is the link which im trying to follow

[2019-09-09 20:15] PRMerger9 commented on #7505
GitHub user erickson-doug has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2019-09-09 20:16] SaurabhSharma-MSFT commented on #38545
@PhlashGBG Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-09 20:17] SaurabhSharma-MSFT commented on #38300
@MikeGriffinReborn I am checking on this and update you on my findings.

[2019-09-09 20:18] MicahMcKittrick-MSFT commented on #38560
Thanks for that. The Graph documentation is technically in a different repo so this repo you open the issue on is not the correct place.

To open a comment on that doc, navigate to the doc and scroll down to the very bottom. You will see the following:

![image](https://user-images.githubusercontent.com/32313503/64563437-3ee47400-d304-11e9-9a33-3626bfe59dde.png)

Select to give feedback on "This P

[2019-09-09 20:18] #38560 closed

[2019-09-09 20:21] YutongTie-MSFT commented on #38220
@annaymj  Hi Anna, for the first question, I would highly recommend you to post your idea to User Voice Channel:https://feedback.azure.com/forums/257792-machine-learning/filters/new

For the second question, please refer to the example: https://docs.microsoft.com/en-us/azure/machine-learning/service/tutorial-auto-train-models#test-the-best-model-accuracy

For additional information, please refer t

[2019-09-09 20:21] #38220 closed

[2019-09-09 20:27] adrianwells commented on #24300
@curtand OK. Is there a reference that be made to this document to that system's docs to help folks find that information more readily?

[2019-09-09 20:27] blueelvis commented on #33008
@rwike77 - Any chance for a REST endpoint? HTML parsing ;__;

[2019-09-09 20:28] tescales commented on #10161
Hi, reopening this because I'm curious how we can handle private Git repo authentication within the ARM template... is that a viable scenario?

[2019-09-09 20:31] YutongTie-MSFT commented on #38298
@Unclevertitle Thank you for the feedback again, we will forward it to the engineering team to investigate and fix.

We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-09-09 20:31] #38298 closed

[2019-09-09 20:33] KonTheCat commented on #38448
Hello! It seems to me that the functionality is different, the add new parameter options do not replace the functionality that the article shows. Is there a reference for accomplishing the same functionality with functions or some other approach?

[2019-09-09 20:33] yushwang commented on #36113
@damart23 We've added a temporary link from archive.org. Unfortunately, there were changes on the Fortinet site and the doc was lost during transition. We are working with Fortinet team to restore the doc, but added the archive.org link for now.

[2019-09-09 20:38] arduppal commented on #38403
@AnlauTriCloud, @dtjensen - I tried this nodule in IoT Edge simulator and it worked fine for me. And upload works fine too. Below is how I set the upload properties using environment variables.
In the below example I have debug logs enabled. you can check the logs to verify that values are set correctly.
Also in the below example the files in container"cont1" on the device will show up in the clou

[2019-09-09 20:42] RyanHill-MSFT commented on #38192
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-09 20:42] #38192 closed

[2019-09-09 20:43] StingyJack commented on #35081
Sorry for the lack of response on this. Busy busy busy.

If the vs installer's individual component option for this feature could be included in the workload section, and any SDK installer missing steps be added to that linked doc page, I won't dispute the closure of this.

[2019-09-09 20:45] karthickshanmugam0689 commented on #38560
Thanks a lot . Now created the issue as suggested

[2019-09-09 20:47] Sanitys opened #38577 "Microsoft Ip Ranges Deprecated"
The doc references the following:

Confirm that your corporate network environment allows inbound communication from the compute IP address ranges (including SQL ranges) that are used by the Azure datacenters. You might have to add those IP addresses to the allow list. See Microsoft Azure datacenter IP ranges.

https://www.microsoft.com/download/details.aspx?id=41653

That download link says depre

[2019-09-09 20:49] darrenroback opened #38578 "Documentation is Incorrect"
I am in the process of enabling SSPR (cloud) with on-premises writeback and have followed this document to the "T" to no avail. The MSOL account that's being used to write information to AD DS needs to be added as a Domain Admin (as I was told by MSFT support). This did resolve the issue for me, but why instruct the community to grant the individual rights mentioned above? Confusing documentation,

[2019-09-09 20:54] Sanitys commented on #38577
Is it this page? https://www.microsoft.com/en-us/download/details.aspx?id=56519

[2019-09-09 20:58] NavtejSaini-MSFT commented on #38547
@paramda The Azure SQL DB service has essentially 99.99% availability both for managed and single DB instance.
But Azure SQL Database Business Critical or Premium tiers configured as Zone Redundant Deployments have an availability guarantee of at least 99.995%. If Zone redundant configuration is not used the availability for Azure SQL DB for single instance is 99.99%
Hope this helps. Please get ba

[2019-09-09 21:11] pettys opened #38579 ""Modify the extensions file" - don't know what to do"
I've followed the steps in these instructions easily until "Modify the extensions file." Everything up to this point is step-by-step and very clear. I have no idea how to follow these instructions:

   **Modify the extensions file**
   To configure UI customization, you copy the ContentDefinition and its child elements from the base file to the extensions file. Open the base file of your policy.

[2019-09-09 21:13] #34061 closed

[2019-09-09 21:25] MarileeTurscak-MSFT commented on #38500
Hi @IsaacRoitman , you should be able to find this in the audit logs. https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/concept-audit-logs

"With application-based audit reports, you can get answers to questions such as:

What applications have been added or updated?
What applications have been removed?"

[2019-09-09 21:26] SaurabhSharma-MSFT commented on #38563
@jsuddsjr Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-09-09 21:26] MarileeTurscak-MSFT commented on #38500
Hope this helps!

We will proceed to close this thread but if you have further questions feel free to tag me in the comments or open a thread on MSDN.

[2019-09-09 21:27] mike-urnun-msft commented on #38391
Hello @ascott18 - Thanks again for sharing your feedback and helping us drive improvements towards MS Docs! I've created a PR that updates this documentation with your proposal and the changes should reflect within the next 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-09-09 21:27] #38391 closed

[2019-09-09 21:32] Karishma-Tiwari-MSFT commented on #38171
@mayanknayar I am also seeing the same.
When I create the VMSS using portal, I can see this in activity log:
![image](https://user-images.githubusercontent.com/20851144/64566793-99cd9980-d30b-11e9-8c9f-5cdbe396d146.png)

But `--platform-fault-domain-count` does not show up for VMSS created via Azure CLI, in activity log.
Can you please help us confirm on this behavior? Thanks :)

[2019-09-09 21:34] TravisCragg-MSFT commented on #38551
@zacabrer Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-09 21:38] chetansriv commented on #29362
@XabiBeltza We have updated the article and added a link to the help tutorial of Blackboard Learn which you have given in your comment. Please review.
#please-close

[2019-09-09 21:38] #29362 closed

[2019-09-09 21:39] mike-urnun-msft commented on #38395
Nice catch, @NickDrouin! I've created a PR that addresses this issue and the change should reflect within the next 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-09-09 21:39] #38395 closed

[2019-09-09 21:39] djpmsft commented on #38364
Hey @lmicverm ,

Have you tried to implement [custom parameters](https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#use-custom-parameters-with-the-resource-manager-template)?  You will need to override the default parameterization template and create a file named arm-template-parameters-definition.json in the root folder of the repository. If you look at the exam

[2019-09-09 21:40] chetansriv commented on #31828
@dlduncan We have updated the article as per the suggestion, please review.

#please-close

[2019-09-09 21:40] #31828 closed

[2019-09-09 21:42] MarileeTurscak-MSFT commented on #38579
@pettys
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-09 21:43] chetansriv commented on #32927
@jeremyfinney We have updated the article as per your suggestion, please review

#please-close

[2019-09-09 21:43] #32927 closed

[2019-09-09 21:45] chetansriv commented on #33329
@Mattzard We have updated the article as per your suggestion, please review

#please-close

[2019-09-09 21:45] #33329 closed

[2019-09-09 21:46] MarileeTurscak-MSFT commented on #38579
Hi,

Please check the TrustedFrameworksExtensions.xml file in the <BuildingBlocks> section, as explained a bit lower down. Do the instructions under that section provide more clarity?

Open the base file of your policy. For example, TrustFrameworkBase.xml.

Search for and copy the entire contents of the ContentDefinitions element.

Open the extension file. For example, TrustFrameworkExtensions.xml

[2019-09-09 21:51] chetansriv commented on #36993
@noamles we have updated the article as per the suggestion, please review

#please-close

[2019-09-09 21:51] #36993 closed

[2019-09-09 21:52] djpmsft commented on #21488
Hi there,

Apologies for the delay in response to this issue. Integration Runtimes are compute infrastructures used primarily for data transformation and movement. As no compute is happening during the Set Variable activity, it is not actually running on an integration runtime. That is why you see the value as unknown for this activity and others such as Web in monitoring.

Hope this answers your

[2019-09-09 21:52] #21488 closed

[2019-09-09 22:01] Mike-Ubezzi-MSFT commented on #38296
@DevGuy80 The AzureRM version of the doc has been updated to use the newer Az module:

![Screenshot (227)](https://user-images.githubusercontent.com/37126106/64569348-1499b300-d312-11e9-9992-c239b6de6ccd.png)

And then looking at the AND ALSO doc link the [examples](https://docs.microsoft.com/en-us/powershell/module/az.Sql/New-azSqlServerDnsAlias?view=azps-2.6.0#examples) includes the -DNSAliasNam

[2019-09-09 22:02] tesych commented on #38553
@carlmill, Thank you for your question. Please take a look at [GitHub](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/745) issue that relates to your question.

[2019-09-09 22:04] lmemmott opened #38583 "Misspelling"
A minor issue:  the graphics on this page at top that is linked to this URL has a misspelling:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/media/app-insights-overview/01-scheme.png
At bottom right corner is a green box labeled "Continous Export".  It should be "Continuous Export".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-09-09 22:07] mishakogan opened #38584 "Can you use Azure Conditional Access for the background app (no user is signed-in)"
Can you use Azure Conditional Access for the background app (application runs as a background service or daemon without a signed-in user.) ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffdaa549-8f3b-75e0-9d27-a1a10417d86b
* Version Independent ID: aff533db-3ac6-5f9a-0134-812f7d488670
* Content: [What is Conditional

[2019-09-09 22:12] mike-urnun-msft commented on #38573
Hi @anilpras - Thank you for your feedback! We will review and update as appropriate.

[2019-09-09 22:12] DevGuy80 commented on #38296
It does. I can provide detailed screenshots tomorrow.

Sent via the Samsung Galaxy Note10+, an AT&T 5G Evolution capable smartphone
Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Mike Ubezzi <notifications@github.com>
Sent: Monday, September 9, 2019 6:02:06 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: DevGuy80 <rmmoore80@outlook.com>;

[2019-09-09 22:16] spelluru commented on #33062
@SeanFeldman - I was able to do the tabbing now. Please see the article that went live today: https://docs.microsoft.com/en-us/azure/event-grid/how-to-event-domains?tabs=azurecli

Azure CLI is the default.

Thanks

[2019-09-09 22:20] SeanFeldman commented on #33062
@spelluru 😍
Thank you.

[2019-09-09 22:20] #33062 closed

[2019-09-09 22:35] #38487 closed

[2019-09-09 22:35] asinn826 commented on #38337
@dcbrown16 - both the images in the Marketplace/Azure Portal as well as the images that show up from the output of `az vm image list` refer to the same images. We will be updating the Marketplace results very soon (I'm pushing those through right now).

[2019-09-09 22:37] Mike-Ubezzi-MSFT commented on #38561
@KevinMZiegler Thank you for bringing this to our attention. It appears these customer stories have been pulled. I will work with @SnehaGunda to have the document updated. Just need to verify if the link needs to be pulled or if the customer reference/story needs to be pulled entirely and then I will have a PR submitted to make the appropriate update. Thanks, again.

[2019-09-09 22:40] Mike-Ubezzi-MSFT commented on #38567
@karthiksubramanians Thank you for your inquiry. We are investigating and will update you upon confirmation of the correct response.

[2019-09-09 22:45] NavtejSaini-MSFT commented on #38577
@Sanitys Please check the note in the install instructions in the document mentioned in your first comment.The Note says
:
_This file will be deprecated by June 30, 2020. Please start using the JSON files listed below. IP Ranges for each cloud, broken down by region and by the tagged services in that cloud are now available on MS Download:
Public: https://www.microsoft.com/en-us/download/details.a

[2019-09-09 22:59] FrankHu-MSFT commented on #38578
Hey @darrenroback
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-09 22:59] Karishma-Tiwari-MSFT commented on #38304
You can set the Administrator and User client roles when you create the cluster. Assign roles by providing separate identities (for example, by using certificates or Azure AD) for each role type. You can assign these roles by using the Azure portal as well.
I can understand that this doc can elaborate on the how part.
I have assigned the issue to the content author to investigate further and updat

[2019-09-09 22:59] sauryadas commented on #38451
yes acs-mirror.azureedge.net is required in case we push a raw ubuntu VHD.. doc updates will be published next week

[2019-09-09 23:01] FrankHu-MSFT commented on #38584
Hey @mishakogan
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-09 23:02] BharathNimmala-MSFT commented on #38583
@lmemmott Thank you for catching this and sharing with us. Will correct the document and update the status accordingly.

[2019-09-09 23:03] MicahMcKittrick-MSFT commented on #38451
Great! Thanks for confirming!

@SamRakaba I will go ahead and close this out as updates to the docs will come shortly. Thanks for pointing this out :)

[2019-09-09 23:03] #38451 closed

[2019-09-09 23:03] tysonn commented on #28833
@biste5 - The team responsible for configuring that web site indicates that the redirect to en-US has been fixed for that article. Could you confirm and write back?

[2019-09-09 23:03] djpmsft commented on #22928
Hi there,

Apologies for the delay in response! This issue was valid and I just pushed a change that contains a new valid example.

Thanks,
Daniel

#please-close

[2019-09-09 23:03] #22928 closed

[2019-09-09 23:08] SamRakaba commented on #38451
great Thanks

[2019-09-09 23:11] Karishma-Tiwari-MSFT commented on #38314
I have created a PR with the changes and updates will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/87906
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-09-09 23:11] #38314 closed

[2019-09-09 23:16] JimacoMS3 commented on #37719
Hi @BhargaviAnnadevara-MSFT and @qm13 ,

Thanks for your feedback. I've made the requested changes and republished the topic. Please have a look and let me know  if there is anything else.

Thanks again for taking the time to report these issues,

Jimaco

[2019-09-09 23:16] dcbrown16 commented on #38337
Ok, still a bit confused on the timeline but if everything is rolling out now then this issue is satisfied, so I'll close. Thanks!

[2019-09-09 23:16] #38337 closed

[2019-09-09 23:31] gtorres opened #38587 "Where is "Quick Create"?"
Create Runbook section, step 3.
Click the Add a runbook button found at the top of the list. On the Add Runbook page, select Quick Create.

I don't see the "Add a runbook" or "Quck Create" option anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28627d8f-9037-7b22-3659-9102a2506eb3
* Version Independent ID: 20d1

[2019-09-09 23:35] Karishma-Tiwari-MSFT commented on #38386
@porrascarlos802018 Please check if this doc is useful for your scenario: https://docs.microsoft.com/en-us/azure/container-instances/container-instances-log-analytics
Currently monitoring ACI **events** via Azure monitor is [not supported](https://github.com/MicrosoftDocs/azure-docs/issues/26501).
We do have a ACI doc work item in progress to add information about instance-level events.
CC: @dlepo

[2019-09-09 23:44] ThomasWeiss commented on #38040
@Kirlac I just wanted to apologize for the answer I gave originally, I overlooked the fact that you do need access to these headers in order to implement your throttling management and retry logic. I'm glad that Oleg provided you the complete information.

[2019-09-10 00:02] Karishma-Tiwari-MSFT commented on #38425
@XuzhouHuang Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.
@dlepow Can you please review the requested doc-enhancement? Thanks :)

[2019-09-10 00:18] djpmsft commented on #30450
@KevinXTian Sorry for the delay in response and thanks for your feedback.

This article has a section for [using Lookup output in subsequent activities](https://docs.microsoft.com/azure/data-factory/control-flow-lookup-activity#use-the-lookup-activity-result-in-a-subsequent-activity). Most of the relevant activities should have sections about this. Is there a specific activity that you think isn't

[2019-09-10 00:18] #30450 closed

[2019-09-10 00:19] MickQuinlan opened #38588 "Issue with consent and Multiple tiers in a single tenant"
Firstly, thank you all for a great article! It’s one of the best & clearest I’ve read on the subject!!

My situation is exactly as outlined in the “Consent and Multiple tiers in a single tenant” section. I have two applications, both registered in my Test (Home) Tenant.

The first, a background service (SERVICE 1), is used for aggregating MS Graph data, and uses application permissions.

The secon

[2019-09-10 00:22] djpmsft commented on #24645
@ravikiran-srini Apologies for the delay in response!

What we mean by retaining state is that each trigger run is associated with a time window. That time window does not change even if the trigger is rerun at a different date. This is especially useful if you are dealing with time-based data because you easily retain which data is being processed by the trigger. A schedule trigger only knows the

[2019-09-10 00:22] #24645 closed

[2019-09-10 00:33] addyjj commented on #38557
Ahh sorry about that. Here is the link:
https://docs.microsoft.com/en-us/azure/search/cognitive-search-skill-entity-recognition#sample-output

[2019-09-10 00:39] Karishma-Tiwari-MSFT commented on #38442
@jaymins93  Soryry for the delay on this. Can you please share the error you are seeing on this step: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/csharp#create-the-management-client

[2019-09-10 00:58] Alberto-Vega-MSFT commented on #38566
@njbuch Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-10 01:04] Alberto-Vega-MSFT commented on #38572
Hi @njbuch Thanks for reaching out. This question doesn't seem to be directly related to this doc. It seems better suited for developer forums like StackOverflow or MSDN where there is a community that can help. If you open there please share the link and I can make sure you get help.

[2019-09-10 01:06] Kirlac commented on #38040
Hi @ThomasWeiss. Thanks for that but there's no need to apologize. I understand this is a relatively immature technology by industry standards, particularly in regards to the alternative API's - and our usage probably falls a little outside of the general use-case for this if the documentation is anything to go by. Gremlin/graph api usage on cosmos seems to be a lot less common especially in an en

[2019-09-10 01:11] pettys commented on #38579
Thanks for the same-day response, @MarileeTurscak-MSFT. No, those steps do not help. You quoted, "Open the base file of your policy..." I mentioned in my opening post that I have no idea where this file might be, nor how to get it. It looks like you're directing my to the instructions about how to edit the file, which does not help find the file in the first place.

Thanks for your attention.

[2019-09-10 01:17] mandiaya commented on #36885
Hi, For now, Does this Add-on compatible with jira version 8.2.4?

[2019-09-10 01:23] dcbrown16 opened #38590 "Link"
The very last line:
"By using an Azure Resource Manager template (using JumpBox, with SSMS included)."
goes to the Azure portal, not a specific document or template. Where is it supposed to go?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc2dd547-3ff7-b32a-ba8a-c582a721a0ee
* Version Independent ID: f083bdda-0c66-af

[2019-09-10 01:24] mandiaya commented on #38042
Do you have any feedback?

[2019-09-10 01:41] amanbha commented on #10298
Service Fabric actor lifecycle is defined here: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-actors-lifecycle

When you deploy a new version of your Actor Service (i.e. doing an upgrade of your Actor service application), application upgrade goes UD(Upgrade Domain) by UD. If its a code package update of actor Service, the process is brought down and new process is

[2019-09-10 01:53] test123114 commented on #38537
Hi. I cannot visit the website.

[2019-09-10 02:01] mandiaya commented on #17348
Do you have any feedback ?

[2019-09-10 03:06] ndnx opened #38591 "No Documentation for Error SubscriptionNotRegistered"
Yesterday, I got an error while deploying ARM Template. The error code is "SubscriptionNotRegistered" and the message said that "Subscription &lt;guid&gt; is not registered with NRP.". I searched for this error code everywhere, but found no relevant information regarding why is that error happened.

Here is the snippet of the error message:
[code]

---
#### Document Details

⚠ *Do not edit this se

[2019-09-10 03:10] KalyanChanumolu-MSFT commented on #38565
@giovannifl Thank you for reaching out. We are actively investigating and will get back to you soon.

[2019-09-10 03:11] KrishnaG-MSFT commented on #38591
@ndnx Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-10 03:19] KalyanChanumolu-MSFT commented on #38569
@lukepuplett This is great feedback.
With ASP.Net Core ClaimsPrincipal.Current is no longer populated automatically.

Steps to get the current user in .Net Core are [here](https://docs.microsoft.com/en-us/aspnet/core/migration/claimsprincipal-current?view=aspnetcore-3.0#retrieve-the-current-user-in-an-aspnet-core-app)

Assigning this issue to the content author to evaluate and update as appropriat

[2019-09-10 03:27] KalyanChanumolu-MSFT commented on #38590
@dcbrown16 Thank you for pointing out the issue and helping us in making our documentation better, I have updated the doc accordingly.
The changes should be live by EOD.

We will proceed to close this issue now.

[2019-09-10 03:27] #38590 closed

[2019-09-10 03:40] diberry commented on #38463
#in-progress

[2019-09-10 04:01] nitbhatt commented on #38428
Krishna/Team,

My customer on SR# 119090626000869. Has a request updated here
https://feedback.azure.com/forums/34192--general-feedback/suggestions/38565022-access-key-vault-in-another-subscription

Not sure, If your team is the right one to answer this, but can you please check and let me know If this request is in the future roadmaps or can it be considered ?

-Regards,
Nitin
Azure Network Engin

[2019-09-10 04:07] vbrodsky commented on #35228
Is this a secure approach to pipe parts of URL into a db?

[2019-09-10 04:10] ManojReddy-MSFT commented on #38588
@MickQuinlan The client ID you are sending in the request belongs to SERVICE1. This is the application that other tenants are aware of, so a service principal will be created for service1.

Is there any reason why you are expecting a service principal will be created for WEB1?

[2019-09-10 04:14] SwathiDhanwada-MSFT commented on #38565
As mentioned in the document, the Azure automation can be in any region. For your reference, attaching the snapshot.
![image](https://user-images.githubusercontent.com/48976275/64583680-78be8480-d3af-11e9-9fc7-94855b5490ea.png)

Hope this helps!

[2019-09-10 04:20] sujayvsarma commented on #38422
First of all, what is confusing is -- Microsoft owns Bing Maps. One expects that when using Azure Maps, you would get data that is at least similar to what is on Bing Maps. But you don't. Strangely, Azure Maps is sourced from TomTom! (-1)(-1)(-1)(-1)(-1)

Now, I have a TomTom GPS device that I bought for my car ages ago. Its data is weird. Directions are often faulty and addresses are absolutely s

[2019-09-10 04:21] watahani opened #38592 "Need Note: MFA for B2B user can not configure "Remember Multi-factor authentication" option."
B2B user can not remember their multi-factor authentication result. It should be described in document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38883fa1-020d-1721-56fd-d92a99a2cef9
* Version Independent ID: ea2e2ce3-3316-d0bd-16b6-aa036a6af806
* Content: [Tutorial: Multi-factor authentication for B2B - Azure Act

[2019-09-10 04:22] CHEEKATLAPRADEEP-MSFT commented on #38332
@hrasheed-msft & @JasonWHowell  Could you look into this issue?

[2019-09-10 04:22] DixitArora-MSFT commented on #38448
@KonTheCat  You can achieve this functionality with timer triggers in Azure Functions. A timer trigger lets you run a function on a schedule. For this the attribute's constructor takes a CRON `expression.
'[FunctionName("TimerTriggerCSharp")]
public static void Run([TimerTrigger("0 */5 * * * *")]TimerInfo myTimer, ILogger log)
{
    if (myTimer.IsPastDue)
    {
        log.LogInformation("Timer is

[2019-09-10 04:31] joyceywho opened #38593 "Confusing description of changing the default keyword."
The description of how to change the default keyword from "Computer" to "Machine" makes it easy to misunderstand that one should copy and paste the zip file package instead of the kws table instead.

Also, the screenshot provided refers to making change to the line as:
private static final String KeywordModel = "kws-machine.zip" // set your own keyword package name.

Though the FunctionList.java i

[2019-09-10 04:32] msrini-MSFT commented on #38537
@test123114 , are you able to create the listener? Can you provide more details?

[2019-09-10 04:39] msrini-MSFT commented on #38511
@tdihp , Do you have any update on this issue?

[2019-09-10 04:39] msrini-MSFT commented on #38533
@Nimleth , Do you have any update on this issue?

[2019-09-10 04:40] RohitMungi-MSFT commented on #38593
@joyceywho Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-09-10 04:41] #38230 closed

[2019-09-10 04:54] udderchaos opened #38594 "Customers Page not showing anything"
I deployed the Arm template in a customer tenant (not via marketplace) for some users, I can see Service provider offers in the portal on the customer tenant fine with the users and their permissions. The users can use the delegated permissions too which is great BUT there is nothing in the Provider tenant's portal under My Customers in delegations or customers, but the subscription is visible in

[2019-09-10 04:58] VikasPullagura-MSFT commented on #38506
@tzachie I am closing the issue for now, you should be able to run the commands in bash terminal. Please reopen the issue if you still see issues on this.
Thanks.

[2019-09-10 04:58] #38506 closed

[2019-09-10 04:59] KrishnaG-MSFT commented on #38594
@udderchaos Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-10 05:10] lyrana commented on #26077
Hi, this docs still says "planned for deprecation in January 2019," what is the new deprecation target date?

[2019-09-10 05:23] DixitArora-MSFT commented on #38543
@mikaelsand PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-10 05:23] #38543 closed

[2019-09-10 05:32] KrishnaG-MSFT commented on #38587
@gtorres Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-10 05:33] jaiswati commented on #38490
Hi Rohit,

I have checked that default azure notebook has  tensorflow 1.12.2 and python 3.6.6, will try to upgrade it and see if that resolves the issue.

This is just a thought (may not be applicable here, Please forward it to concerned team if possible), It would be great if there is some mechanism to auto-update the documentation based on stackoverflow/ msdn forum discussions..( may be based on

[2019-09-10 05:42] jakaruna-MSFT commented on #38349
@slime-uk You are right. By design it picks the random instance and updates it.

But we have a workaround here. Please check if that suits you or not.
You can set the upgrade policy to manual and then update the instances one by one.
You can select the ones where the state is healthy.

Looks like your use case is not matching with the Azure VMMS. i hope you are performing a long running operation

[2019-09-10 05:53] AndrewGailer opened #38595 "Unable to use managementGroups scope for usageDetails API"
When trying to use `/providers/Microsoft.Management/managementGroups/MyManagementGroup` as the scope to call the usageDetails API, the following error is returned:
[code]
I cannot find any documentation on `Principal Id` and what value it should be set to.

If I use the scope `/subscriptions/{SubID}` then it works as expected.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-09-10 06:05] AshokPeddakotla-MSFT commented on #37719
@JimacoMS3 Thanks for updating the doc.
@whaakman We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-10 06:05] #37719 closed

[2019-09-10 06:08] linruhui commented on #31879
Can anybody share the latest status on this topic?

[2019-09-10 06:10] test123114 commented on #38537
Hi.
Now I can use the powershell script to update it. But now I cannot update it with python.
My code
[code]
It does not work. Could can help me?

[2019-09-10 06:14] AshokPeddakotla-MSFT commented on #33255
@smoms We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-10 06:14] #33255 closed

[2019-09-10 06:15] AshokPeddakotla-MSFT commented on #33573
@obrookstein Thanks for the confirmation.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-10 06:15] #33573 closed

[2019-09-10 06:17] KrishnaG-MSFT commented on #24745
@cmeeren & @imeya Now we have an article that is live at https://docs.microsoft.com/azure/azure-monitor/platform/app-insights-metrics which explains what queries are running for all standard appinsights metrics.

Regarding the primary question in this thread, you can work with standard metrics in metrics explorer. For advanced cases, you can use log analytics, copy the query from the article, and

[2019-09-10 06:17] #24745 closed

[2019-09-10 06:20] donchai opened #38596 "View container logs link"
This "View container logs link" is no longer valid as of today as it has changed to a drop down menu.

Appreciate if you may update this page with latest instruction for consistency.

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 965a7faf-6684-1b1e-3570-ea0b38ce02db
* Version Independent ID: 2efd8393-0b5b-e

[2019-09-10 06:30] arsing opened #38597 "Remove steps to set IOTEDGE_USE_TPM_DEVICE"
Steps 8 through 12 of the "Give IoT Edge access to the TPM" section should be removed. This env var is no longer used since 1.0.8 since the official release builds no longer default to the in-memory simulated TPM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2113dfd-71ce-f982-35d2-528ec73c6a66
* Version Independent

[2019-09-10 06:37] iamanuradha commented on #36641
Reminder!
Thanks & Regards
Anuradha

On Fri, Aug 30, 2019 at 7:46 PM Anuradha Joshi <joshianun@gmail.com> wrote:

[2019-09-10 06:38] tdihp commented on #38511
Hi, thanks for the info. Is it OK to clarify this in the doc?

I'm referred to this documentation article from the [AKS limit egress traffic](https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic) article, the AKS product's SLB is in preview, and Basic SKU by default, so the "standard" part of this article confuses me.

[2019-09-10 06:42] tdihp commented on #38512
Thanks for the update @VikasPullagura-MSFT , what I'm not following is the relationship of the two sentences:

- make sure you create an appropriate DNAT rule in Firewall to correctly allow ingress traffic
- To learn how to integrate Azure Firewall with your ingress or service load balancer, see Integrate Azure Firewall with Azure Standard Load Balancer.

It appears the DNAT isn't related to the 2

[2019-09-10 06:51] msrini-MSFT commented on #38511
@tdihp , This document is clear where there is no mention of basic or standard SKU. I am referencing this issue to the other issue which you have created to avoid confusion.

https://github.com/MicrosoftDocs/azure-docs/issues/38512

[2019-09-10 06:51] #38511 closed

[2019-09-10 07:01] AnlauTriCloud commented on #38403
I could not get the module to work in the simulator, but when I uploaded the modules to a VM running Edge Runtime on Linux, it worked fine.

After copying the example from @arduppal I finally got it to work in the simulator as well.

Thank you very much for your help!

[2019-09-10 07:06] BashkaMen commented on #19578
i have the same problem

[https://i.stack.imgur.com/ApU4i.png](url)

[2019-09-10 07:12] #38403 closed

[2019-09-10 07:13] shshekhar opened #38599 "EventProcessorSample printing lot of DEBUG logs"
The EventProcessorSample is printing a lot of DEBUG logs, does the code take as input the logging level so that we can disable the debug logs?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61059dbc-d075-6af1-98f6-7fe02f9e0440
* Version Independent ID: a15c8888-4b49-f9b8-3cee-30d5765c49fa
* Content: [Use Java to send d

[2019-09-10 07:48] jaiswati commented on #38521
Hi Kalyan,

I did not find any specific documentation for hosting Custom Vision Packages (for Docker & ONNX export options in Customvision.ai portal)  with Azure ML Service . and then followed the  image creation with deployment as azure ml webservice as described here.
https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-deploy-and-where

Step -1
After the Custom Vision Classifi

[2019-09-10 08:09] bmcorsino commented on #15004
I think Contributor rights it's more than enough for this actions.
Why should we give Owner access to a Service Principal?
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#contributor
 "**Create and manage resources of all types**"

[2019-09-10 08:10] jakaruna-MSFT commented on #38433
@ayshakeen Please investigate and update the doc as required.

[2019-09-10 08:14] montebhoover opened #38600 "Number of pods described in /27 address space is misleading"
In section https://docs.microsoft.com/en-us/azure/aks/configure-kubenet#ip-address-availability-and-exhaustion it states "with a /27 IP address range, you could run a 20-25 node cluster with enough room to scale or upgrade. This cluster size would support up to 2,200-2,750 pods".

However, later in the document (https://docs.microsoft.com/en-us/azure/aks/configure-kubenet#create-an-aks-cluster-in-

[2019-09-10 08:15] jakaruna-MSFT commented on #38507
@montebhoover I am checking this issue with the author of this document,
We will update the doc as applicable.

[2019-09-10 08:24] VikasPullagura-MSFT commented on #38600
@montebhoover Thanks for the feedback, I am assigning the issue to author for enhancing the doc to avoid the confusion.

[2019-09-10 08:24] KrishnaG-MSFT commented on #38595
@AndrewGailer Thanks for reaching out to us! To better assist you, could you please share the Azure document link / URL for which this feedback is applicable to and also provide more details on your query / scenario ?

Perhaps I am missing something but with given information, it looks like you are referring to managementGroups scope in [Usage Details - List](https://docs.microsoft.com/en-us/rest/

[2019-09-10 08:25] VikasPullagura-MSFT commented on #38600
@mlearned Can you please look into the feedback and add your comments.

[2019-09-10 08:27] VikasPullagura-MSFT commented on #38596
@donchai Thanks for the feedback. I am assigning the issue to doc author for updating the document.

[2019-09-10 08:27] VikasPullagura-MSFT commented on #38596
@mlearned Can you please look into the issue and update the document accordingly.

[2019-09-10 08:27] MickQuinlan commented on #38588
@ManojReddy-MSFT Thanks for your prompt reply! The reason I expect a SP to be created for WEB1 is that in the documentation it states that a service principal will be created for both applications.

Please see the image link below. On point 4 & 5 It says that the "4. User signs in and consents to App1+App2" and "5. AAD creates SP1, SP2 and delegation link in customer's tenant".

https://docs.micro

[2019-09-10 08:28] msrini-MSFT commented on #38537
@test123114 , Unfortunately, I will not be able to help on that. You can look into the PowerShell commands and use the same logic to get it updated.

[2019-09-10 08:28] #38537 closed

[2019-09-10 08:36] RohitMungi-MSFT commented on #38414
@jwatkin Please feel free to submit a feedback request if the same issue is seen with your new resource. In the meanwhile we will proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-10 08:36] #38414 closed

[2019-09-10 08:41] mike-urnun-msft commented on #35493
Thanks @brettsam! We will now proceed to close this thread. If there are further questions regarding this matter, please refer to the resources that Brett shared above.

[2019-09-10 08:41] #35493 closed

[2019-09-10 08:46] rayne-wiselman commented on #38565
Thanks for your feedback. Since this is covered in the article I'm closing.  Thx

#please-close

[2019-09-10 08:46] #38565 closed

[2019-09-10 08:47] RohitMungi-MSFT commented on #38418
@joyceywho I have tried the steps in the tutorial now and the welcome screen is shown as mentioned in the documentation.
![image](https://user-images.githubusercontent.com/46958063/64598585-9ef71b00-d3d5-11e9-9537-62639f8944d3.png)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the

[2019-09-10 08:47] #38418 closed

[2019-09-10 08:52] Nimleth commented on #38533
Hi,

I was waiting to see if anybody else from MSFT would comment on this. The reason being that I'm rather disappointed by the answer.
MSFT invests millions each year in security for Azure but from your answer I gather that WAF is nothing more than a ModSecurity + default CRS that is updated every once in a while. No AI, no active tuning of rules based on detected attack patterns etc.
You have a

[2019-09-10 08:52] #38533 closed

[2019-09-10 09:03] lukepuplett commented on #38569
Thanks. Just to clarify, you're saying:

- `ClaimsPrincipal.Current` is no longer populated.
- `HttpContext.User` will automatically be populated with no extra code needed in the ASP.NET Core project.

[2019-09-10 09:07] AndrewGailer commented on #38595
@KrishnaG-MSFT You are correct, I am referring to the Usage Details - List REST API you linked.
Which ID are you referring to? Here is the output of the Management Groups - Get REST API:
[code]
This is Uri I am using: `https://management.azure.com/providers/Microsoft.Management/managementGroups/c4e1b03d-f9e8-4ad7-8c9a-878371138385/providers/Microsoft.Consumption/usageDetails?api-version=2019-05-01

[2019-09-10 09:15] AbhishekHumagain commented on #28378
Any updates on this?

[2019-09-10 09:19] VikasPullagura-MSFT commented on #38512
@tdihp I am assigning the issue to the doc author for adding comments.

[2019-09-10 09:24] andrewvr99 commented on #35466
Thanks for following up @lei0706w.

I took a mono WAV file and used Audacity to create an 8 channel, 16-bit 16 kHz PCM version.  The Speech service was able to transcribe the text, but identified the speaker as $ref$.

I then took that same file and silenced the 8th track (so it was a flat line) but when I fed that into the Speech service, it was unable to transcribe any text at all.

I take it th

[2019-09-10 09:25] SubhashVasarapu-MSFT commented on #38529
@akshayyadav1122, No it will remain constant even after a restart of the VM.

[2019-09-10 09:27] VikasPullagura-MSFT commented on #38512
@mlearned Can you please look into this issue and add your comments.

[2019-09-10 09:39] KrishnaG-MSFT commented on #38595
@AndrewGailer I was referring to

"parent": {
                "id": "/providers/Microsoft.Management/managementGroups/9881063e-d6bc-48e3-8689-4a64f227da22"

[2019-09-10 09:45] MarcCharmois commented on #37785
Hello @cawrites , I rewieved your documentation. It seems that the section for [Setting permission Microsoft Graph AuditLog.ReadAll](https://mosshowto.blogspot.com/2019/08/azure-ad-logs-powershell-graph.html#GraphAuditLogReadAll) is missing although we can see on certain screenshots that is has been set. Thank you for the trick of the custom domain name!

[2019-09-10 09:50] RohitMungi-MSFT commented on #38490
@jaiswati Thanks for the feedback. All forums including stack and MSDN are moderated and feedback is provided to the appropriate product team to update the documentation. Our product team uses the [uservoice ](https://cognitive.uservoice.com/forums/598141-custom-vision-service)forum for any issues or feedback regarding the product. Please feel free to update your requests in this forum.

In case o

[2019-09-10 09:51] AjayKumar-MSFT commented on #35079
We will close this out, but if you feel you need more information please just let us know.

[2019-09-10 09:51] #35079 closed

[2019-09-10 09:51] femsulu commented on #38196
AFAIK, they are case sensitive and should be lower case. Please make the required case change and retest. let me know if issue persists and I will gladly continue the conversation.

[2019-09-10 09:51] #38196 closed

[2019-09-10 09:54] femsulu commented on #38457
adding @saket-ms for input

[2019-09-10 09:55] femsulu commented on #38459
adding @saket-ms for input

[2019-09-10 10:02] AjayKumar-MSFT commented on #25991
We will close this out, but if you feel you need more information please just let us know.

[2019-09-10 10:02] #25991 closed

[2019-09-10 10:03] LanderVe opened #38601 "Little code issue"
`var webData = await client.Web.SearchAsync(query: "Best restaurants in Seattle", offset: 10, count: 20).Result;` and
`var webData = await client.Web.SearchAsync(query: "Microsoft", responseFilter: responseFilterstrings).Result;`

You should remove `.Result` at the end since you use await

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-09-10 10:05] andrewvr99 opened #38602 "Unable to purchase a Roobo device"
Hi - Please can you tell me from where I can purchase the Roobo device?  When I click on the link for the Roobo 7-mic device, it takes me to the Roobo product page,  Clicking on the 'Buy' link there takes me to EBay.  That seller permanently has a 'No stock available' message.  In addition, the seller will not ship to South Africa.  Google search finds only one link for the device, on Amazon, but

[2019-09-10 10:12] sujithq opened #38603 "How does it work with Azure Function v2"
I tried to get this working with an Azure Function v2.

When I try to run/test the function I always get this error, even with the default generated function:
Unable to parse  to Newtonsoft.Json.Linq.JObject

Debugging locally works fine.

Is there any update available for using this with an Azure Function v2?

Kind Regards

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-09-10 10:22] PramodValavala-MSFT commented on #38509
@PgInsight Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-09-10 10:26] donchai opened #38604 "Peering Support Cross Agreement, EA and CSP"
We would like to peer two VNETs on different subscription and different region and different agreements, Enterprise Agreement (EA) and Cloud Service Provider (CSP) as below.

1. EA VNet (East Asia)
2. CSP VNet (US West)

Thanks you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52fe18fe-efc5-3e63-8200-8e20e885b55e
* V

[2019-09-10 10:57] AshokPeddakotla-MSFT commented on #38488
@Juli15Boy Glad to hear that you have found a way to achieve your scenario.
I would suggest you provide your feedback on the [UserVoice forum](https://feedback.azure.com/forums/321918-azure-iot/) and upvote. All the feedback you share in these forums will be monitored and reviewed by the Microsoft engineering teams responsible for building Azure.
We will now proceed to close this thread. If there

[2019-09-10 10:57] #38488 closed

[2019-09-10 10:59] KrishnaG-MSFT commented on #38531
@DrReedo Ideally you should enter the path of the file that you want to download (excluding the '/home/user' part as it automatically comes up in the pop-up window).

Example1: Let's say you have a file named 'testfile.txt' under '/home/user' directory. Then just enter 'testfile.txt' in the pop-up window and click on "Download" button.

Example2: Let's say you have a directory named 'Test1' under

[2019-09-10 11:00] rayne-wiselman commented on #38444
Thanks for your feedback. Yes, supported. For ADE without AAD only Windows VMs with managed disks are supported.  I clarified in a couple of articles at https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-how-to-enable-replication-ade-vms and https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-common-questions. The changes should be live later today.
@please-close

[2019-09-10 11:03] AshokPeddakotla-MSFT commented on #38597
@arsing Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-10 11:07] AshokPeddakotla-MSFT commented on #20049
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-09-10 11:07] #20049 closed

[2019-09-10 11:07] DrReedo commented on #38531
Thank you, that’s very helpful.  I also found that I could just type ‘Download’ and that would download the file as well.

best wishes

Claire Reed | Senior Engineer (MS Dynamics) | Corporate Systems Team
IT Services, University of the West of England, Coldharbour Lane, Bristol BS16 1QY

Tel: 0117 32 81058
My working days are: Monday, Tuesday, Wednesday and Thursday (8.15am-2pm)

This email and an

[2019-09-10 11:08] #25370 closed

[2019-09-10 11:09] KalyanChanumolu-MSFT commented on #38592
Thank you for reaching out. We are actively investigating and will get back to you soon.

[2019-09-10 11:13] rokeno commented on #13214
Coming back to this issue. Why have two modes: incremental and Complete in a master template for the nested ones IF only Incremental is usable. The entire entry is useless. Microsoft documentation states that BOTH are possible: https://docs.microsoft.com/en-us/azure/templates/microsoft.resources/2019-05-01/deployments - how do you argue that?

[2019-09-10 11:13] AndrewGailer commented on #38595
@KrishnaG-MSFT That would return the usage data for the parent management group, not the current one. I tried with the parent Id and received the same error as my original post.

The issue appears to be that the API does not accept the management group scope. If the scope is invalid I get a 404 error, but when it is a valid management group scope, it get the 400 error saying `The Principal Id cann

[2019-09-10 11:27] msrini-MSFT commented on #38604
@donchai , Thank you for your feedback.

This issue looks similar to this issue: https://github.com/MicrosoftDocs/azure-docs/issues/22099

Can you try the suggestion mentioned over there?

[2019-09-10 11:34] RJK23 opened #38605 "Unable to install all programs by running agents"
I am unable to install all the programs which are required for VDA (Virtual Desktop Agent) to work properly as per documentation.
Normally If I create hostpool using ARM template, it will automatically install programs as mentioned below
![installed](https://user-images.githubusercontent.com/45816994/64610413-ce655200-d3ec-11e9-914b-4d20061d3582.jpg)

If I am installing agents manually using Power

[2019-09-10 11:45] neeleshray-msft commented on #38404
@cmmdesai  Chetan, could the document be revised as per the customer's suggestion ?

[2019-09-10 11:45] VNJoe commented on #38230
I keep getting people saying this shouldn't be happening to me and closing my issue, yet, guess what?  It's happening!  My users are assessed as Risky Users by your system and then they have to change passwords.  I even put screenshots up, but hey, just close the issue.  I DON'T WANT THAT.  I want it fixed!

Keep closing.  You clearly don't care.  Neither do I now.

[2019-09-10 11:49] SumanthMarigowda-MSFT commented on #38402
@jackchenquest Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-09-10 11:50] IanKemp opened #38607 "No .NET Core version of sample code"
C'mon guys, it's 2019 and nobody is using Global.asax any more.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e73d0530-fbc3-e58e-3a32-f68c6d58d987
* Version Independent ID: e0ff21e6-25da-f067-252f-d78384ab3daa
* Content: [Send user context IDs to enable usage experiences in Azure Application Insights](https://docs.mic

[2019-09-10 11:53] KrishnaG-MSFT commented on #38531
@DrReedo Yes. :) Thanks for sharing your findings and glad to know that my earlier comment was helpful.

Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-09-10 11:53] #38531 closed

[2019-09-10 11:55] SubhashVasarapu-MSFT commented on #38232
@cogran, Appreciate your patience. Generally, domain validation happens within 8 hours if not as suggested you need to raise a support request and propagation takes 6 to 8 hours and it will be automatically completed. There are some possibilities where Https enabling might be failed in this process where you will be displayed with an error message saying **"We encountered an unexpected error while

[2019-09-10 11:58] ChiragMishra-MSFT commented on #38603
@sujithq Thanks for the  question. We are investigating into it and will update you shortly.

[2019-09-10 11:58] ChiragMishra-MSFT commented on #38599
@sujithq Thanks for bringing this to our notice. We are investigating into it and will update you shortly.

[2019-09-10 11:59] RohitMungi-MSFT commented on #38601
@LanderVe Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-09-10 12:00] KrishnaG-MSFT commented on #38595
@AndrewGailer Thanks for the update.
Assigning @bandersmsft for visibility, help and to provide insights on this feedback.

[2019-09-10 12:02] Rachitgupta1994 opened #38608 "Where is documentation for old Azure storage tables"
Hi,

The documentation link from portal -> azure storage tables leads to this. But i was not looking for cosmos DB. I was looking for Azure storage tables. The storage package `WindowsAzure.Storage` has now been split and replaced. For table storage it says to use the package ` https://www.nuget.org/packages/Microsoft.Azure.CosmosDB.Table/. However, this page mentions that this package is going to

[2019-09-10 12:02] RohitMungi-MSFT commented on #38602
@andrewvr99 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-09-10 12:06] rvvincelli commented on #21209
Pitfall: make sure your VM or Compute etc does have the latest image version. In particular, it seems that `ContainerRegistry` does *not* expose a pull policy. On our setup where we use bare VMs I am forced to manually connect and pull. Thanks,

[2019-09-10 12:12] KevinXTian commented on #30450
This looks great! Thanks for the update.

[2019-09-10 12:17] KonTheCat commented on #38448
Ok, so I would need an Azure Function, and then that would start the Logic App? Or can I add this function to Logic Apps directly?

I created the below UserVoice for reference, and for anyone who agrees that the previous functionality should just be brought back.
https://feedback.azure.com/forums/287593-logic-apps/suggestions/38567398-restore-logic-app-scheduling-flexibility

[2019-09-10 12:23] #38255 closed

[2019-09-10 12:28] rbrundritt commented on #38422
Bing and Azure Maps use two different data providers currently, but in the future they will use one as announced [here](https://news.microsoft.com/2019/02/04/tomtom-expands-partnership-with-microsoft-to-power-microsoft-cloud-offerings-with-location-based-services/). There are many reasons for this, primarily that this partnership allows Microsoft to do a lot more with the maps then it was able to

[2019-09-10 12:43] Jothi3125 opened #38609 "Conflicts while deploying the VM from the Packer Image"
{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.","details":[{"code":"Conflict","message":"{\r\n \"status\": \"Failed\",\r\n \"error\": {\r\n \"code\": \"ResourceDeploymentFailure\",\r\n \"message\": \"The resource operation completed with terminal provision

[2019-09-10 12:44] Kazzan opened #38610 "Personal MSA needed to be added?"
Hi, if we allow personal accounts for MSA (Microsoft Accounts) with Azure AD B2B sharing for SharePoint, does we need allowed domains hotmail.com there as allowed? If yes, this article should mentioned this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e4ee507-3d48-d93b-8f6c-59279b1c0eda
* Version Independent ID: 60

[2019-09-10 12:44] mrullmi opened #38611 "Break out "customizable" into "custom acoustic model" and "custom language model""
The [table at the top of this page](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/language-support#speech-to-text) describes which speech-to-text languages support customization, but it is not clear whether "customization" refers to acoustic model customization, language model customization, or both.
The reason for my uncertainty is [this Issue](https://github.com/Micros

[2019-09-10 12:46] donchai commented on #38604
Thanks @msrini-MSFT,

Example for reported #22099 is referring to different agreement - PAYG, while the case we are interested is between EA and CSP.

Also, it also does not address whether cross region peering is supported or not.

Look forward to receive further advice for above scenario and thanks in advance.

[2019-09-10 13:01] lblanche commented on #36750
@KranthiPakala-MSFT , Sorry for not answering earlier I went out of office for a while.

@djpmsft indeed those are references to datasets that were created.

We are deploying through UX and exporting/importing the template through the UI button

We were able to publish the Data Factory when we deconnected it from git but I still do not understand why this happened

[2019-09-10 13:06] jonathaneckman commented on #36583
I'm no longer stuck behind this, but do want to add my observations. In my setup (Azure Automation stores the composite resource, compiles the DSC, and enacts configuration on the nodes) composite resource modules are not located at that path. Normal DSC modules are.

[2019-09-10 13:06] shanec1928 opened #38612 "Block and unblock users"
the info is wrong as the AAD page has been updated and MFA is no longer out on its own

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84b26750-880c-8f14-1628-436293de915e
* Version Independent ID: 518b727f-79e8-b5c2-bcb3-ff4de3444c6f
* Content: [Configure Azure Multi-Factor Authentication - Azure Active Directory](http

[2019-09-10 13:13] wtam opened #38613 "AzureML Docker Image build failed - seem HTTP transfer issue???"
AzureML Docker Image build failed with Error:

gzip: stdin: unexpected end of file
[0m[91mtar: Child returned status 1
tar: Error is not recoverable: exiting now
[0mThe command '/bin/sh -c mkdir -p '/var/azureml-app/azureml-models/MarkSix_Keras_EntireModel.h5/50' && /var/azureml-util/download_asset.sh 'https://wtammlservicew0370607302.blob.core.windows.net/azureml/LocalUpload/190910T122102-5b52

[2019-09-10 13:17] yeswps commented on #38472
@axayjo

I've worked with a Microsoft solution architect who suggested that the excludeFromLatest flag can be set via PowerShell: Update-AzGalleryImageVersion. Though currently impossible to do so in Azure Portal

[2019-09-10 13:19] neeleshray-msft commented on #38610
@Kazzan Thank you for your query. We will update the thread soon.

[2019-09-10 13:19] rayne-wiselman commented on #34698
Thanks for your feedback! I've fixed this. Change should show up later today

#please-close

[2019-09-10 13:19] #34698 closed

[2019-09-10 13:20] #38444 closed

[2019-09-10 13:21] BhupalPatil opened #38614 "File Upload summary (File name/link, who uploaded it, when etc...) (Ref - 38346)"
@AshokPeddakotla-MSFT this is regarding the discussion on issue -  [38346](https://github.com/MicrosoftDocs/azure-docs/issues/38346).

Is there any sample that show catching file upload notification on Azure function?

There is sample given [here](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-csharp-csharp-file-upload) however it using .net console app which is running for test purpose ho

[2019-09-10 13:28] KalyanChanumolu-MSFT commented on #38608
@Rachitgupta1994 The SDK's for Azure Storage tables and Cosmos DB Table API are unified so that customers can start with Table storage and move to Cosmos Table API with "no code changes" when their applications evolve and demand premium capabilities like Turnkey global distribution, Dedicated throughput worldwide, Single-digit millisecond latencies at the 99th percentile, Guaranteed high availabil

[2019-09-10 13:33] neeleshray-msft commented on #38612
@shanec1928
If you are referring to [this section](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-mfasettings#enable-remember-multi-factor-authentication) of the document, then it still holds true as of today. Please see the screenshot for the same. However, if you mean something else, do let us know and we would check the same.

![MFA Service Settings](https://us

[2019-09-10 13:35] DeanGross opened #38615 "Rationale for excluding B2B users from risk based policies"
Why would an organization want to exclude their B2B guests from the risk based policies? Pleases provide some justification/rationale describing when this might be appropriate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e0625bb-7367-0bb3-7380-55ac91bde11f
* Version Independent ID: efa6711d-73b0-c30f-2e13-97f29beeb

[2019-09-10 13:36] shanec1928 commented on #38612
no this part is wrong https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-mfasettings#block-and-unblock-users MFA is on longer out on its own in AAD it is now under security hence the documentation being wrong.

[2019-09-10 13:37] shanec1928 commented on #38612
![image](https://user-images.githubusercontent.com/53092706/64618645-8ccaac00-d3d8-11e9-8844-066b51331381.png)

[2019-09-10 13:38] rayne-wiselman commented on #38431
@KrishnaG-MSFT Please assign to me. I'm working on this. thx

[2019-09-10 13:49] ichkoj commented on #38311
Please update the article what events 31044 and 31034 are!

[2019-09-10 13:56] curtand commented on #34061
Hi @DeanGross
I added the owner's visibility in the Owner's feed in Teams in my Azure AD groups article, but you'll have to go by Teams documentation for other information about groups in teams.

[2019-09-10 13:57] Trollgeir opened #38617 "Vnet in REST API / Python SDK"
I miss functionality to create or update ACI containers in VNets through the[ REST API](https://docs.microsoft.com/en-us/rest/api/container-instances/containergroups/createorupdate) / [Python SDK](https://pypi.org/project/azure-mgmt-containerinstance/) as I am planning to integrate it with [AzureContainerInstanceOperator ](https://airflow.readthedocs.io/en/stable/_modules/airflow/contrib/operators

[2019-09-10 13:57] Veteraanikoodari opened #38618 "Missing Users and Groups option"
EDIT: link to original https://github.com/MicrosoftDocs/azure-docs/issues/37704

Original issue description: "the users and groups option is not available on the current UI after the redesign of app registrations. How can access that option or whats the current process?"

I can confirm that this issue still exists and I know what is causing it:

1. I tried to modify our existing native app user re

[2019-09-10 14:07] SaurabhSharma-MSFT commented on #38545
@rwike77 can you please help on this one.

[2019-09-10 14:12] SubhashVasarapu-MSFT commented on #38430
@vrat87, From the documentation, it is stated that the storage account can be across tenants while enabling service endpoints and you can achieve this only through PowerShell or Rest API. I have reproduced the same and it went well with a storage account. But, when I try the same with Azure data lake it is getting failed. It might not be supported feature for now.
From these observations, I can su

[2019-09-10 14:12] #38430 closed

[2019-09-10 14:14] JoeBmc commented on #28457
We can access the extended metrics from linux VM's as-well using the RestAPI.
Use the below API to get the metric definition. This will give you all the extended metrics.

https://management.azure.com/{resourceId}/metricdefinitions?api-version=2014-04-01

From this response, we need to dynamically create the Rest URL which will give you the required data.
Pick up the below mentioned elements from

[2019-09-10 14:20] blueelvis opened #38619 "What is the significance of the "global" region?"
Hi,

I see that in the scripts above, there is a region called "global" which doesn't pop up when I run `Get-AzLocation | Select DisplayName`. What happens if I specify any location but only `global`? Does it mean that by default, it gets enabled for all the locations? I don't see any `global` value defined in the commandlet's documentation as well - https://docs.microsoft.com/en-us/powershell/mod

[2019-09-10 14:20] SaurabhSharma-MSFT commented on #38618
@Veteraanikoodari Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-10 14:22] bharathreddy123456 opened #38621 "Does this App supports when Jira is installed on Linux machines?"
Does this App supports when Jira is installed on Linux machines? on pre-requisites it is said JIRA Core and Software 6.4 to 8.0 or JIRA Service Desk 3.0 to 3.5 should installed and configured on Windows 64-bit version. Is it true ? Can you please help?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc6d39bf-1e2f-53ce-b

[2019-09-10 14:23] SaurabhSharma-MSFT commented on #38617
@Trollgeir To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either in MSDN or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2019-09-10 14:25] SubhashVasarapu-MSFT commented on #38326
@trivee, Appreciate your patience. We are assigning this issue to the respective content author to make the changes to the document accordingly. @malopMSFT, Could you provide your insights here and edit the document if necessary?

[2019-09-10 14:25] bharathreddy123456 commented on #38621
This is regarding article: https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/jiramicrosoft-tutorial

[2019-09-10 14:26] SaurabhSharma-MSFT commented on #38614
@BhupalPatil Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-10 14:29] ananthradhakrishnan commented on #37399
Hi @KrishnaG-MSFT , please see following screenshot from the live documentation reflecting the retention period:
![image](https://user-images.githubusercontent.com/43204712/64622708-6111eb00-d405-11e9-8dcf-c3ca2472308b.png)
The information is conveyed in an info box right at the beginning of the article.

[2019-09-10 14:30] ram-msft commented on #38613
@wtam Thanks for the question. We are investigating the issue and will update you shortly.

[2019-09-10 14:30] SaurabhSharma-MSFT commented on #38605
@RJK23 To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either in MSDN or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2019-09-10 14:32] msrini-MSFT commented on #38604
@donchai , I am assigning this issue to author to address this issue as I will not be able to test it out as I don't have a EA and CSP subscription.

[2019-09-10 14:32] VenkattaPidikiti opened #38622 "OBO flow to genarate ADFS token using Azure AD client id , Secret"
Hello,

Would be good, if we generate ADFS OAuth token using Azure AD client id, Secret

Venkatta

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea40b857-0288-5225-f5e6-588244fffad1
* Version Independent ID: 611de95f-293d-b13d-a301-dc3b6a5a2135
* Content: [Azure AD service-to-service authentication OAuth2.0 On-Behalf-O

[2019-09-10 14:33] lanfeust69 opened #38623 "Incorrect description for *CertificateIssuerStores"
The part "An empty IssuerCommonName whitelists all certificates in the corresponding stores specified under X509StoreNames" seems wrong.
When trying to upgrade a cluster configuration in this manner, I see errors on the cluster (nothing visible as output of `Start-ServiceFabricClusterConfigurationUpgrade`) about incorrect xml. It looks like the json is used to generate some xml, ending up with a `

[2019-09-10 14:34] Trollgeir commented on #38617
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-vnet

[2019-09-10 14:35] #24572 closed

[2019-09-10 14:36] curtand commented on #24572
Hi @SoccerCore11
I have added it to the NOTE right above the device attribute table. Live after 11 AM 09/10/2019.

[2019-09-10 14:37] KrishnaG-MSFT commented on #37399
@ananthradhakrishnan Thanks for the clarification. 👍

[2019-09-10 14:37] ram-msft commented on #38611
@mrullmi Thanks for the question. We are investigating the issue and will update you shortly.

[2019-09-10 14:41] #18128 closed

[2019-09-10 14:44] SamaraSoucy-MSFT commented on #38607
@IanKemp,

Thank you for your feedback. I will take a look at the issue and get back with you shortly.

[2019-09-10 14:44] MicahMcKittrick-MSFT commented on #38623
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-10 14:45] MicahMcKittrick-MSFT commented on #38609
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-10 14:50] KrishnaG-MSFT commented on #37399
@slavizh As per @ananthradhakrishnan's confirmation, yes, the retention period is 30 days in this case i.e., Only alerts generated in the last 30 days can be accessed on the UX or through the REST APIs.

Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-09-10 14:50] #37399 closed

[2019-09-10 14:54] crobertson1 opened #38624 "Update to include App Service Certificate"
This doc shows how to upload a cert directly to App Service and use it in code.  Please update to show the process when using an App Service Certificate which has already been associated to the App Service.  Our preference would be to use App Service Certificate because it integrates well with Azure Key Vault for private cert storage and management.

---
#### Document Details

⚠ *Do not edit this

[2019-09-10 14:55] sujayvsarma commented on #38422
Just because it works well in some countries (read the US), doesn't mean it should be trusted to be useful in other areas around the world.

The way that TomTom chooses to address locations is *the* problem, on their GPS devices and on the the Azure Maps. They have a really bad system where there is data that is either just plain wrong or is represented in a very strange way. One cannot use it to

[2019-09-10 15:04] zr-msft commented on #34491
Thank you for the feedback and recommendation @gavinwilliams
I have add an item to our backlog and will prioritize appropriately.

#please-close

[2019-09-10 15:04] #34491 closed

[2019-09-10 15:05] RJK23 commented on #38605
@SaurabhSharma-MSFT  I am referring to this link https://docs.microsoft.com/en-us/azure/virtual-desktop/create-host-pools-powershell

[2019-09-10 15:16] biste5 commented on #28833
Yes, I can get to that article now, with a browser set with primary / preferred language different than en / en-US

[2019-09-10 15:16] #28833 closed

[2019-09-10 15:18] cawrites commented on #37987
@Marilee-Turscak-MSFT requires a code change. This is a feature app/not a doc issue.

[2019-09-10 15:27] mmacy commented on #38579
@pettys Hi Jason, just to be sure, have you completed the steps in the article mentioned in the prerequisites section?

In that article, in which you work with custom policies provided in the [Custom Policy Starter Pack](https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack), it describes the different types of files included:

Having said that, it's not immediately clear

[2019-09-10 15:30] KrishnaG-MSFT commented on #38619
Hi @blueelvis, Thanks for the comment.

In the activity log, events can pertain to a region or could be "Global". Global essentially means these events are region agnostics and are independent of region, in fact majority of events fall into this category. If the activity log profile is set from the portal, it implicitly adds "Global" along with any other region selected in the user interface. When

[2019-09-10 15:34] jeevansd commented on #38621
@bharathreddy123456 Yes, we do support Ubuntu Linux for this plugin. It is mentioned in the plugin Download Center description. We will get this article updates to mention support for Linux.
CC: @chetansriv

[2019-09-10 15:37] SpicySyntax commented on #38369
@IEvangelist  I appreciate the update. I think we plan on just making it a ClusterIP service, this just makes it so that we need to deploy it first so the Internal IP can be used as a deployment parameter for the main API (which uses Nginx Ingress). I was just curious if there was a built in mechanism so that I did not need to deploy the container before the API. Thanks

[2019-09-10 15:45] pettys commented on #38579
Hi @mmacy, no, I hadn't done that part. That makes sense, and I think if you call that out in that part of the documentation, that might help others.

On the other hand, I have been able to set up all the user flow polices I needed without following those prerequisite steps, and I was able to complete my objective to customize the user interface of my application in Azure Active Directory B2C all

[2019-09-10 15:46] bwren commented on #37889
@femsulu This should be forwarded to the PM team.  I'm not the right person to talk about roadmap.

[2019-09-10 15:48] pettys commented on #38579
Hmm... it seems the documentation I was looking for is here:

https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-customize-ui

Looks like I took a wrong turn in the help navigation somewhere. :(  Well, I see my mistake now. Thanks for your attention and working with me on it.

[2019-09-10 15:49] StarkCaptain opened #38625 "Azure AD Group Name"
It would seem more practical to support the ability to send the Display Name of an Azure AD Group than the objectID. Is there support to send the DisplayName instead?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5a6779a-58f1-73fa-2b24-5f85deeea52b
* Version Independent ID: 481c093b-6db3-c4e5-6644-b1a3a4497a30
* Cont

[2019-09-10 15:50] #27314 closed

[2019-09-10 15:56] lhale opened #38626 "This tutorial doesn't work (documentation not accurate + errors encountered)"
Problems:
1) I strongly suspect Python MSI_ENDPOINT should reflect actual key vault endpoint, not resource=https%3A%2F%2Fvault.azure.net
2) Subsequent Python response from the first get request gets some sort of access error:
"
'error_description': 'AADSTS500011: The resource principal named https://&lt;&lt;key vault name&gt;&gt;.vault.azure.net/ was not found in the tenant named a5a8bcaa-3292-41e

[2019-09-10 15:58] KLCKLCKLC opened #38627 "Difference cost bewteen Billing API and EA Portal"
How could you explain that one of my customer has a different cost displayed for several resources in the EA Portal and from the Billing API ?

[2019-09-10 16:00] mmacy commented on #38579
Another good call-out, though. We can be more clear in the **Next steps** section of [About user interface customization in Azure Active Directory B2C](https://docs.microsoft.com/azure/active-directory-b2c/customize-ui-overview), even just bolding these would help:

![image](https://user-images.githubusercontent.com/13394541/64630140-50cc2280-d3a9-11e9-88f2-a9a9bef1c70c.png)

I'll add that to the

[2019-09-10 16:03] jewpaltz opened #38628 "How do you refresh?"
BH

In three portal you have the option to edit yml.
However saving new yml in its place doesn't seem to have any effect. Even restarting the service doesn't change the configuration.
What I am looking for is something that would re-run the docker-compose up (possibly preceded by docker-compose down)

The only thing i can do is delete the webservice and recreate it

---
#### Document Details

⚠ *D

[2019-09-10 16:06] shashishailaj commented on #38443
@jhueppauff Yes , it does because in the backend MFA service is the same for every Product , be it azure or Office365 . Its just that Azure MFA has greater MFA service capabilities enabled while Office365 MFA has fewer MFA service capabilities enabled.  Non-Azure AD admins are the general users in Office365 tenant or Azure AD tenant which Office365 MFA and Azure MFA both licenses cater to. The com

[2019-09-10 16:06] #38443 closed

[2019-09-10 16:10] tesych commented on #38360
@JayaSaiSontineni, you definitely can do it, but we do not have samples available yet.

[2019-09-10 16:12] sh1605 opened #38630 "Potential bug in the Enable custom domain section of the document"
In this document https://docs.microsoft.com/en-us/azure/app-service/web-sites-traffic-manager-custom-domain-name#enable-traffic-manager  Step 4 says : "Use the Hostname text boxes to enter the **Traffic Manager domain name** to associate with this web app."
But in the image just after, it shows the hostname as the custom domain name and not the traffic manager domain name.

Is that a bug?

---
###

[2019-09-10 16:17] SaurabhSharma-MSFT commented on #38626
@lhale Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-10 16:17] firdausi opened #38631 "Lighthouse deployment failing using json files"
Get following error:

{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.","details":[{"code":"NotFound","message":"{\r\n \"error\": {\r\n \"code\": \"ClassicAdministratorListFailed\",\r\n \"message\": \"Failed to list classic administrators of subscription 'dd

[2019-09-10 16:18] YutongTie-MSFT commented on #36641
@nishankgu Do we have any update for this topic? Thanks.

[2019-09-10 16:20] vhorne commented on #38279
The updates for this are scheduled for the end of the month to go out with the new WAF content.
#please-close

[2019-09-10 16:20] #38279 closed

[2019-09-10 16:20] saket-ms commented on #38459
Yes, it does include adjust EA discounts for the subscription. We directly get this from Billing API.

[2019-09-10 16:22] DixitArora-MSFT commented on #38432
@mikebudzynski Appreciate your response on this.

@vladvino Following up again in case missed the previous communication.

[2019-09-10 16:23] pettys commented on #38579
Oh, hey, that's really good.  Thanks!

[2019-09-10 16:27] saket-ms commented on #38457
This has nothing to do with Advisor. Azure Monitor team owns the deprecation for classic alerts and should be able to respond.

[2019-09-10 16:28] nikhilboreddy opened #38632 "EventHubs AAD resource name"
What is the resource name to request tokens from AAD?

For example in order to access storage via AAD tokens the resource name needs to be https://storage.azure.com/ (or a specific storage account) as mentioned in https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-msi#azure-storage-resource-id, I am looking for the corresponding values for event hubs.

---
#### Document Details

[2019-09-10 16:28] djpmsft commented on #36750
Glad to hear you are unblocked and sorry for the confusing error messages! There may have been a discrepancy between your adf_publish branch and your git repo. If you were able to publish, reattach to git and you should no longer see these error messages.

[2019-09-10 16:39] femsulu commented on #38459
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-09-10 16:39] #38459 closed

[2019-09-10 16:41] km26577 opened #38633 "Parquet: Data Factory is suffixing output files with .parquet causing subsequent steps to fail"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-09-10 16:41] sun-acmx commented on #38304
Thanks for the response. I need this for standalone cluster, so can't use Azure Portal.

[2019-09-10 16:44] SaurabhSharma-MSFT commented on #38625
@StarkCaptain Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-10 16:47] SaurabhSharma-MSFT commented on #38615
@DeanGross Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-10 16:47] MashaMSFT commented on #37257
Hi @hpatel01 , thanks for your patience! You are able to add a subscriber MI into a failover group as long as you keep in mind the following limitations:
1)	For failover with no data loss, replication will just work after failover
2)	For failover with data loss, replication will work as well. It will replicate the lost change again.
3)	For failover with data loss but the data loss is outside of di

[2019-09-10 16:47] #37257 closed

[2019-09-10 16:48] SaurabhSharma-MSFT commented on #38622
@VenkattaPidikiti Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-10 16:49] DarinShapiroMS opened #38634 "broken link for "Microsoft Azure Plan" redirects to general Azure pricing page."
the link for more info on "Microsoft Azure Plan" redirects to a non helpful general pricing landing page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8cfd49f-e3d2-7442-ee90-390e4f35b065
* Version Independent ID: 86f6e45c-fea3-a09c-687e-ce99d078a45b
* Content: [Get started with your Microsoft Customer Agreement bill

[2019-09-10 16:49] MicahMcKittrick-MSFT commented on #38562
I will go ahead and close this out. If you still have questions please open a new issue directly on the document you are following and we will take a look.

[2019-09-10 16:50] BryanTrach-MSFT commented on #38624
@crobertson1 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-09-10 16:50] MicahMcKittrick-MSFT commented on #38557
@addyjj thanks for that. I have assigned it to an engineer who can take a look.

[2019-09-10 16:54] femsulu commented on #38457
thanks @saket-ms. will redirect to the Azure Monitor /Alerts team.
@Snehithm - any insight on this?

[2019-09-10 16:54] djpmsft commented on #33559
Hi there,

Apologies for the delay in response! We have recently updated our continuous integration documentation. Have you taken a look at [using custom parameters with the resource management template](https://docs.microsoft.com/azure/data-factory/continuous-integration-deployment#linkedservices)? You will need to override the default parameterization template and create a file named arm-templat

[2019-09-10 16:55] BryanTrach-MSFT commented on #38628
@jewpaltz Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-10 16:56] BryanTrach-MSFT commented on #38630
@sh1605 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-10 17:01] MicahMcKittrick-MSFT commented on #38623
@dkkapur @peterpogorski could either of you take a look and advise on this one? I am happy to do any doc updates as needed.

[2019-09-10 17:02] ritmos opened #38636 "How to enable KMSI or persistent session cookie?"
My company is using msal.js with AzureAD accounts to login in to our web product. The issue we are facing is that KMSI (keep me signed in message) does not shows up during the login and the session cookie is deleted when the browser is closed.

We have enabled the KMSI message in https://portal.azure.com/#blade/Microsoft_AAD_IAM/ActiveDirectoryMenuBlade/LoginTenantBranding
 but we still don't see

[2019-09-10 17:07] lawrencedwight opened #38637 "SHA-256 thumbprint/fingerprint needed"
The thumbprint generated on the Azure portal is a SHA-1 thumbprint, which is no longer supported by Freshservice. You need to calculated the SHA-256 fingerprint to get SSO working. It can be calculated with https://www.samltool.com/fingerprint.php or perhaps the portal can generate it?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-09-10 17:09] femsulu commented on #38634
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-09-10 17:11] Nickomang commented on #8996
Hi @MikkelHegn,

We're just going through our backlog of GH issues. Is this still relevant or is it something we can close?

Nick

[2019-09-10 17:13] Nickomang commented on #14536
@aloevera, Got confirmation from the SF team that there is no way to change the ActorID. We will consider this closed.

#please-close

[2019-09-10 17:13] #14536 closed

[2019-09-10 17:23] mhopkins-msft commented on #37898
@Tiberriver256 I've created a work item and will get this updated as soon as possible. Thank you for calling it to my attention!

#please-close

[2019-09-10 17:23] #37898 closed

[2019-09-10 17:24] mmacy commented on #34392
@abazanov Sorry, Andrei, I do not have that information available to me.

[2019-09-10 17:24] #10847 closed

[2019-09-10 17:28] KranthiPakala-MSFT commented on #38632
@nikhilboreddy Thank you for reaching out and bringing this to our notice. At this time we are reviewing the ask and will provide an update as appropriate

[2019-09-10 17:29] KrishnaG-MSFT commented on #38527
@KarlGW Please find below few of the document references for Azure China.

https://docs.azure.cn/zh-cn/automation/automation-hybrid-runbook-worker
https://docs.azure.cn/zh-cn/automation/automation-windows-hrw-install
https://docs.azure.cn/zh-cn/automation/automation-linux-hrw-install
https://docs.azure.cn/zh-cn/automation/automation-hrw-run-runbooks
https://docs.azure.cn/zh-cn/automation/troublesh

[2019-09-10 17:30] #38527 closed

[2019-09-10 17:31] Nickomang commented on #15760
#reassign @amanbha

[2019-09-10 17:32] SaurabhSharma-MSFT commented on #37684
@borys86 Tokens are cached in memory by connection string, authority and resource so yes 1 equals 3 and 2 equals 4.  Please refer to the [GitHub Sample](https://github.com/Azure/azure-sdk-for-net/blob/ddda7cb74b979f03bb03e240c06c924914ee8bdd/src/SdkCommon/AppAuthentication/Azure.Services.AppAuthentication/AzureServiceTokenProvider.cs#L130).

[2019-09-10 17:35] rbrundritt commented on #38422
Azure Maps is designed to be a global platform and we have done extensive testing in many countries comparing the different mapping data available to us. I understand your statement about "US", and I agree, many platforms don't have a global view, but Azure Maps does, in fact, most of the usage of Azure Maps is generated outside of the US. The world is a big place and we are improving the platform

[2019-09-10 17:37] bharathreddy123456 commented on #38621
Thank you, How about redhat:enterprise_linux:7.4:GA:server ?

Thanks,
Bharath
________________________________
From: Jeevan Desarda <notifications@github.com>
Sent: Tuesday, September 10, 2019 11:35 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: bharathreddy123456 <seelambharath@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Does thi

[2019-09-10 17:42] SaurabhSharma-MSFT commented on #38617
@Trollgeir Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-09-10 17:42] mmacy commented on #32185
Hi @sgdesmet, I think we'll need additional clarification on your question before answering.

`userIdentities` appears in the article on which this issue was opened:

[Social accounts claims transformations](https://docs.microsoft.com/azure/active-directory-b2c/social-transformations)

As well, you can find information on `userIdentities` in the following article:

[Azure Active Directory B2C: Mig

[2019-09-10 17:42] Karishma-Tiwari-MSFT commented on #38472
Thanks @yeswps for sharing the update.
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-09-10 17:43] soyalfonsillo opened #38638 "Insert a batch of entities"
Should be used executeBatch instead of execute?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b23d9249-19ad-7c8c-1a61-9b1353101ab1
* Version Independent ID: 995d78e3-09cb-4c56-18cb-9e25209d69a2
* Content: [How to use Azure Table storage or the Azure Cosmos DB Table API from Java](https://docs.microsoft.com/en-us/azure

[2019-09-10 17:43] malopMSFT commented on #38326
Created a PR for this update :)
https://github.com/MicrosoftDocs/azure-docs-pr/pull/87975

[2019-09-10 17:44] Karishma-Tiwari-MSFT commented on #38472
Thanks @yeswps for sharing the update.
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.
@axayjo Is there any doc update needed for this? Thanks :)

[2019-09-10 17:44] jeevansd commented on #38621
@bharathreddy123456 Feel free to try on that. It should work but we have tested on Ubuntu only.

[2019-09-10 17:44] bharathreddy123456 commented on #38621
Also we are on Version 7.13.5. Does it support this version of Jira software ?

Thanks,
Bharath
________________________________
From: Bharath Seelam <seelambharath@hotmail.com>
Sent: Tuesday, September 10, 2019 1:37 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>; MicrosoftDocs/azure-docs <reply@reply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs

[2019-09-10 17:44] jeevansd commented on #38621
@chetansriv Please update the article for Linux support. Once you create the work item on our side then close this ticket.

[2019-09-10 17:45] jeevansd commented on #38621
@bharathreddy123456 Yes, the plugin does support that version.

[2019-09-10 17:46] mhopkins-msft commented on #37898
@Tiberriver256 I went and double checked this. On line 157 of the GettingStarted.cs file in the [Getting Started with Queues sample](https://github.com/Azure-Samples/storage-queue-dotnet-getting-started), we call `queue.FetchAttributes` and it works correctly.

[2019-09-10 17:47] hpatel01 commented on #37257
Thank you Masha, this answers my question.

[2019-09-10 17:51] #38631 closed

[2019-09-10 17:51] firdausi commented on #38631
The issue has been resolved. It was being run by account with "contributor" role. Once the role for the account was changed to "owner" , the script ran fine and deployment was successful.

[2019-09-10 17:53] Karishma-Tiwari-MSFT commented on #38386
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion. :)

[2019-09-10 17:53] #38386 closed

[2019-09-10 18:01] JasonFreeberg commented on #38101
#please-close
#pleaseclose

[2019-09-10 18:01] #38101 closed

[2019-09-10 18:05] MarileeTurscak-MSFT commented on #38637
@lawrencedwight
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-10 18:05] SaurabhSharma-MSFT commented on #38535
@zensonic The PR for the fix has been created, send to author for review, and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2019-09-10 18:05] #38535 closed

[2019-09-10 18:06] jensf opened #38639 "Missing How to change Access Tier"
Access tier can be hot, cold or archive.  You can change an individual file by right clicking and selecting 'Change Access Tier'.

Was looking for a way to change access tier in bulk, for a whole folder or multiple files at once.
I don't want to right click 5000 times, but the documentation has nothing at all about access tiers I could find.

---
#### Document details

⚠ *Do not edit this section.

[2019-09-10 18:11] cbuchanan opened #38641 "Spelling mistakes"
There are a couple of instances of Application spelt Applicatin.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77a317f1-deef-4ba7-5839-f39ce3733655
* Version Independent ID: d85aa8fe-7270-d073-ea56-d1c0759383b8
* Content: [Enabling end to end SSL on Azure Application Gateway](https://docs.microsoft.com/en-us/azure/app

[2019-09-10 18:17] CeciAc opened #38643 "Missing documentation of maximum event size for "Basic" tier event hubs"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.de-de/issues/534
User is making a suggestions to the original documentation

@PhilippJust commented 9 hours ago — with docs.microsoft.com
When sending an event with a size of 360kiByte to an event hub that uses the basic tier, I kept on receiving following error message:

[code]

When I upscaled the event hub namespace to

[2019-09-10 18:17] Adam-Smith-MSFT commented on #38639
@jensf Thank you for the valuable feedback,we are investigating the issue.

[2019-09-10 18:23] KrishnaG-MSFT commented on #38631
@firdausi Glad to know that the issue is self resolved. Thanks for the update.

[2019-09-10 18:24] #38340 closed

[2019-09-10 18:34] bharathreddy123456 commented on #38621
Thank you.
________________________________
From: Jeevan Desarda <notifications@github.com>
Sent: Tuesday, September 10, 2019 1:46 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: bharathreddy123456 <seelambharath@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Does this App supports when Jira is installed on Linux machines? (#38621)

@

[2019-09-10 18:37] msrini-MSFT commented on #38641
@cbuchanan , thank you for your feedback.

PR has been made: https://github.com/MicrosoftDocs/azure-docs-pr/pull/87987

Changes will be reflected shortly.

[2019-09-10 18:37] dlepow commented on #38425
@XuzhouHuang - Thanks for pointing out this issue and providing details. As I understand, you were unable to assign a role to a service principal that you created in the AD tenant. I will investigate the proper way to update the documentation.

In the meantime, can I please ask you to confirm your Azure subscription permissions as described in [this article](https://docs.microsoft.com/en-us/azure/

[2019-09-10 18:40] BharathNimmala-MSFT commented on #38583
@mrbullwinkle  Thank you for helping fix the image.

@lmemmott Thanks again for brining this to our notice, internal PR has been raised to correct the image with right spelling and it should be live by today end of day. Will go ahead and close the thread for now, if you have any other feedback please tag us in your reply and will be happy to take the conversation forward. Thank you.

[2019-09-10 18:40] #38583 closed

[2019-09-10 18:40] KarlGW commented on #38527
@KrishnaG-MSFT thank you very much for all the links, greatly appreciated!

[2019-09-10 18:44] Grace-MacJones-MSFT commented on #38088
Hi @whihathac, this is the response from the product team "The app service management tag includes pre allocated address blocks that we have in each region for app service management purposes.  If we were to add another server to do management then the IP is already in the tag.The doc reflects the exact addresses being used. "

We will now proceed to close this thread. If there are further questio

[2019-09-10 18:44] #38088 closed

[2019-09-10 18:47] theonlygusti commented on #38539
@SaurabhSharma-MSFT https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/batch-transcription

[2019-09-10 18:51] twinharbor opened #38644 "Unable to resolve dependencies with Microsoft.Azure.KeyVault < 3.0.0"
I'm trying to get this to work in my project but it's conflicting with other Azure integrations I've already built. It seems that the AzureKeyVaultProvider NuGet package requires KeyVault (&gt;= 2.0.6 && &lt; 3.0.0), but I'm already on the latest KeyVault version (currently 3.0.4). I've tried rolling it back to prior versions, but it cause all sorts of other problems (nuget package hell). Is there

[2019-09-10 18:52] JayaSaiSontineni commented on #38360
Hi Tetyana Sych,

Can you please let us know the minimum number of camera devices needed for volumetric capture video.

Thanks,
Jaya Sai Sontineni
Holo Pundits | Software Developer, Applications
+1 8166168778  | www.holopundits.com<http://www.holopundits.com/>
*** HoloPundits is a Global Technology Company Specializing in developing AR, MR, and VR Applications***

[Logo]
ISO 9001:2015 & ISO 27001:

[2019-09-10 18:56] mdgattuso commented on #38428
the mechanism to grant Azure CDN access to Azure Key Vault requires the two instances to be in the same azure subscriptions. this is not something that can be considered. I would recommend the customer creates their Azure CDN profile in the same subscription that owns their Azure Key vault.

[2019-09-10 19:04] MicahMcKittrick-MSFT commented on #38607
@NumberByColors if you no longer are the correct author for this doc please suggest another user. Do not remove your assignment.

[2019-09-10 19:12] rajurajvijay619 commented on #38562
The issue was closed too soon!

Anyway this is the tutorial I was following:  https://docs.microsoft.com/en-us/azure/cognitive-services/face/tutorials/faceapiinjavaforandroidtutorial

[2019-09-10 19:15] MicahMcKittrick-MSFT commented on #38562
No worries. I have reopened and directed to the correct engineer to investigate.

[2019-09-10 19:15] rajurajvijay619 opened #38647 "Unable to create prediction endpoint API"
While following this tutorial - https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/python-tutorial

I am unable to get an endpoint after training.

I get this while trying to publish -
![Screenshot from 2019-09-10 02-41-38](https://user-images.githubusercontent.com/26388709/64643044-3dfb3180-d42d-11e9-9195-14b210987fb8.png)

While trying to use the endpoint -
![Screens

[2019-09-10 19:20] MohamedOthman opened #38648 "Quota Page just has storage"
In this page its shown that quota page has 4 types, When it checked my app services I found only storage

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2550993f-34f1-d963-3ee5-3dcebe2a64d7
* Version Independent ID: 3da9bc96-6e24-54fa-bd99-6a6a704f583a
* Content: [Monitor apps - Azure App Service](https://docs.microsoft

[2019-09-10 19:34] YutongTie-MSFT commented on #38462
@Powerhelmsman Could you please check this issue? Thanks.

[2019-09-10 19:35] NavtejSaini-MSFT commented on #38549
@DonPetry-EY You need to create AD Server Admin and use the same for creating the users.
![ServerAdmin](https://user-images.githubusercontent.com/52257742/64644321-6b6dbe00-d3e0-11e9-9869-22e8ba3f14f2.JPG)

Also you can add the SPN in the DB. You can check sys.database_principals to see who is added in the Db.

[2019-09-10 19:49] YutongTie-MSFT commented on #38458
@bbentley19 Hi, thank you for your feedback again. I have created a PR to fix it, you should see the change soon.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-09-10 19:49] #38458 closed

[2019-09-10 19:52] bandersmsft commented on #38595
@andrewgailer @krishnag-msft
Investigating this with the enginnering team.
#in-process

[2019-09-10 20:00] bandersmsft commented on #38634
@darinshapiroms Thanks for your feedback. I agree that they don't have any technical merit in this article. I'll remove them.
#please-close

[2019-09-10 20:00] #38634 closed

[2019-09-10 20:09] #38641 closed

[2019-09-10 20:11] NavtejSaini-MSFT commented on #38536
@test123114 Please try to use test@xyz.com as the user and let us know of the results. Your Domain might be xyz.onmicrosoft.com but what is the domain this specific user is listed as in the active directory.

[2019-09-10 20:16] djpmsft commented on #21653
Hi all,

Apologies for the delay in response. The error message is valid. Good news is that this feature was funded for work and should be available in the UX by the end of Septmber!

Let me know if you have additional questions.

Thanks,
Daniel

#please-close

[2019-09-10 20:16] #21653 closed

[2019-09-10 20:19] KarlErickson commented on #35868
@dpolivy thanks for the feedback! I've updated the code in the sample repo for this topic and the one for the functions topic.
#please-close

[2019-09-10 20:19] #35868 closed

[2019-09-10 20:26] slynickel opened #38650 "Clarify Uniqueness of DNS Zone + Azure Name Servers"
### Reference
https://docs.microsoft.com/en-us/azure/dns/dns-zones-records#dns-zones

Currently this guide states:

### Question
Could you clarify the last bullet point? Am I guaranteed a unique combination of Azure DNS Zone Name and azure name servers?

### Example
I create `fakeexample.com` Azure DNS zone and am provided the Azure name servers:
- `ns1-02.azure-dns.com.`
- `ns2-02.azure-dns.net.`

[2019-09-10 20:26] YutongTie-MSFT commented on #38492
@diberry Hi Dina, could you please help to update the screenshot. I can not make changes for screenshot. Thank you.

[2019-09-10 20:31] diberry commented on #38492
#in-progress

[2019-09-10 20:32] YutongTie-MSFT commented on #38493
@diberry Could you please check this issue? Not sure how we should update the title or the tile in the panel. Thank you.

[2019-09-10 20:33] DevGuy80 commented on #38296
Attached are a few screenshots. First, one screenshot shows the Command tool does not even include DnsAliasName as an option. When filling out that command you get the error that the “DNS Alias name” cannot be empty or null. Upon adding “-DnsAliasName” to the script, you get a different error – “Cannot bind parameter because parameter Name is specified more than once.

[cid:image001.png@01D567F5.4

[2019-09-10 20:33] NumberByColors commented on #38607
Finding another user over email.

[2019-09-10 20:46] YutongTie-MSFT commented on #38495
@SychevIgor Hi, thanks for the feedback. I have fixed it and you should see the change soon.  We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-09-10 20:46] #38495 closed

[2019-09-10 20:57] FrankHu-MSFT commented on #38625
Hello @starkcaptain i'm not sure what your request is. The doc describes the scenario of utilizing the display name of an azure ad group instead of the group id.

Please see : https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-fed-group-claims#configure-group-claims-for-saml-applications-using-sso-configuration

[2019-09-10 21:00] FrankHu-MSFT commented on #38622
Hello @VenkattaPidikiti
The issues against the docs are meant for providing awareness of issues with the docs. For product feedback, please click on the product feedback button as seen below.
![image](https://user-images.githubusercontent.com/6366013/64650047-124b5d80-d3d3-11e9-8443-b793b290935a.png)

the uservoice link here : https://feedback.azure.com/forums/169401-azure-active-directory

I don'

[2019-09-10 21:02] khaled99b opened #38651 "in the creation of the service principal you should add / at the end of the scope"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 033e0d14-aef2-2759-62e0-7fc2f9aa41c8
* Version Independent ID: db6ddc3b-2765-87b6-8b5c-0fabffcb4de1
* Content: [OpenShift in Azure prerequisites](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/openshift-prerequisites)
* Content Source:

[2019-09-10 21:02] YutongTie-MSFT commented on #38496
@diberry Hi Dina, could you please help to update it? I can not update screenshot. Thanks.

[2019-09-10 21:05] YutongTie-MSFT commented on #38497
@diberry Hi Dina, could you please check this issue and update the document as necessary? Thanks a lot!

[2019-09-10 21:12] thevman opened #38652 "Point to Site Connections"
Still unclear whether Virtual WAN Supports Point to Site connections and how we can enable them if they are supported? I can see that Point to Site capability exists on the Portal when creating a Virtual Hub but I can't get it to work. This page mentions Point to Site but does not explain how we can achieve that. Also, references to Point to Site were removed from this page on github on July 22nd.

[2019-09-10 21:19] valnav opened #38653 "update region to include Asia Pacific"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a111eec9-fcfd-8966-ca7b-0177418917fe
* Version Independent ID: b9f65c4d-3735-a5a3-c1f8-1e6770e68036
* Content: [Region availability & data residency in Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-dire

[2019-09-10 21:21] YutongTie-MSFT commented on #38498
@SychevIgor Thank you for your feedback, I have fixed it and you should see the change soon. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-09-10 21:21] #38498 closed

[2019-09-10 21:21] wmpauli opened #38654 "correlationId and Identifier not defined"
paragraph 3, under "Enable data collection":

"CorrelationId is an optional parameter, you do not need to set it up if your model doesn’t require it. Having a correlationId in place does help you for easier mapping with other data. (Examples include: LoanNumber, CustomerId, etc.)

Identifier is later used for building the folder structure in your Blob, it can be used to divide “raw” data versus “p

[2019-09-10 21:22] yoelhor commented on #38447
You should use only tenant-name.b2clogin.com. We updated the GitHub sample to use b2clogin.com as well. Please download the new version and check the readme file.

[2019-09-10 21:24] FrankAtHexagon opened #38655 "What server does the cluster autoscaler use?"
The section on the cluster autoscaler says the following:

What API server is it checking? The metrics API server?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d8185fe-e724-7a2d-7579-8e94ef873b36
* Version Independent ID: 66dc644d-6edd-b5ad-d043-3ad4659e27b1
* Content: [Concepts - Scale applications in Azure Kuberne

[2019-09-10 21:28] FrankHu-MSFT commented on #38550
Hey @KehindeOwens Azure AD B2B back-end is explained at a high level in this video here :
https://www.youtube.com/watch?v=1TWxB4VYdJc

Specifically though, for the government cloud. I'd like to point out that B2B is not able to work across different clouds. i.e. Government Cloud will not work with the regular Azure Cloud.

And the government cloud does not currently support AAD B2B at a production

[2019-09-10 21:28] YutongTie-MSFT commented on #38501
@diberry Hi Dina, could you please help to check this issue and update the screenshots? Thanks.

[2019-09-10 21:31] YutongTie-MSFT commented on #38647
@rajurajvijay619
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-10 21:32] FrankHu-MSFT commented on #38550
Also, in terms of an in depth B2B explanation, that is not something we currently have, and I apologize for the inconvenience. Please let us know if this is something you'd be interested in at the product feedback page and we will consider generating a set of documentation in regards to how the b2b backend works.
https://feedback.azure.com/forums/169401-azure-active-directory

Please let us know i

[2019-09-10 21:35] MarileeTurscak-MSFT commented on #38615
Hi @DeanGross ,

Can you clarify why you don't think the rationale in the last two questions is sufficient? If B2B users in your directory are blocked by your risk-based policy, the users will need to remediate that risk in their home directories and may need to contact their own organization's IT Staff to have an administrator manually dismiss their risk or reset their password. You can exclude u

[2019-09-10 21:38] MarkusVi commented on #38287
Yes, it has been deprecated.
We are updating the docs right now.

[2019-09-10 21:39] curtand commented on #29595
Hi @henryphillipsid
I added the section in uninstalling before installing

@shashishailaj
This is fixed by https://github.com/MicrosoftDocs/azure-docs-pr/pull/88023.
#please-close

[2019-09-10 21:39] #29595 closed

[2019-09-10 21:42] SeanFeldman opened #38657 "Clarification for container being the unit of scalability storage"
The first paragraph says
&gt;  An Azure Cosmos container is the unit of scalability for both throughput and storage.

But down in the model comparison, it says that the maximum storage for a container is unlimited regardless of the model used. So is container a true unit of scalability for storage? Or is it just for throughput? Thank you.

---
#### Document Details

⚠ *Do not edit this section. It

[2019-09-10 21:42] #38579 closed

[2019-09-10 21:43] jeevansd commented on #38637
@chetansriv I think we did these changes in the article in the past right? Have those got misplaced?

[2019-09-10 21:47] valnav commented on #38653
Data resides in Asia Pacific for the following countries/regions:

Afghanistan, Australia, Hong Kong SAR, India, Indonesia, Japan, Korea, Malaysia, New Zealand,  Philippines, Singapore, Sri Lanka, Taiwan and Thailand.

[2019-09-10 21:51] YutongTie-MSFT commented on #38654
@wmpauli Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@marthalc Hi Martha, could you please check this issue and update more details to this document? Thanks.

[2019-09-10 21:55] MicahMcKittrick-MSFT commented on #38655
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-10 21:55] MicahMcKittrick-MSFT commented on #38651
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-10 21:57] allegradomel commented on #38604
@donchai, is there a specific error you are encountering? If so, can you describe it and/or include a screenshot?

[2019-09-10 21:58] Karishma-Tiwari-MSFT commented on #38605
@ChristianMontoya Would you be able to share your insight on this one?
Is this similar to [this issue](https://techcommunity.microsoft.com/t5/Windows-Virtual-Desktop/Unable-to-register-new-RDS-Host-via-Powershell/m-p/846683) posted in Techcommunity?

[2019-09-10 22:01] #38655 closed

[2019-09-10 22:02] MicahMcKittrick-MSFT commented on #38517
@eyast a few of us have reviewed this doc and find it to be fine as is. That being said, your issue will remain on this document and if others feel it is also confusing they can comment and let us know. We can then reconsider updating.

[2019-09-10 22:02] #38517 closed

[2019-09-10 22:03] xSilverboltx opened #38659 "namespace"
looks like the deployment has kube-system as the namspace for the plugin.

apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  name: nvidia-device-plugin-daemonset
  namespace: kube-system

But we you are asked to create a namspace gpu-resources and never deploy anything into it.

Was the plugin supposed to be added into the gpu-resources namespace?

---
#### Document Details

⚠ *Do not edi

[2019-09-10 22:04] FrankAtHexagon commented on #38655
Cool, and thank you for your help. Would you be opposed to a documentation change to make it clear? Since cluster autoscaling is a different concept than horizontal pod autoscaling, it might be good to reiterate that the metrics API used is the same between them. Could literally just add the word "metrics" in front.

[2019-09-10 22:04] MicahMcKittrick-MSFT commented on #38659
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-10 22:06] MicahMcKittrick-MSFT commented on #38655
@FrankAtHexagon done :) Once the PR merges the changes will go live after a few hours.

[2019-09-10 22:08] bwren commented on #37362
GUID values are actually being stored as a string, just adding a _g instead of _s.  You can verify this with a simple query MyTable_CL | getschema.  I'll add a note to the article.

[2019-09-10 22:08] MicahMcKittrick-MSFT commented on #38659
@xSilverboltx good find! I have corrected the doc. Once the PR merges the changes will go live after a few hours.

[2019-09-10 22:08] #38659 closed

[2019-09-10 22:13] AndrewGailer opened #38660 "Resource group scope does not work as documented"
When using the [Usage Details - List](https://docs.microsoft.com/en-au/rest/api/consumption/usagedetails/list) REST API, specifying a scope with a resource group returns a `404 - File or directory not found` error.

The documentation says to specify the scope as `/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}` but this returns the 404 error.

As a workaround, you can specify th

[2019-09-10 22:16] kgremban commented on #38597
Thanks, @arsing. @v-stadam is working on some other updates to the same doc right now, so I've asked him to incorporate this change as well.

[2019-09-10 22:16] xenalite commented on #37221
@hansmbakker Related: https://github.com/Azure/azure-sdk-for-net/issues/7050

[2019-09-10 22:30] kgremban commented on #32273
@sahya Thank you for your feedback. I read through the article again with your suggestion in mind, and I think it still makes more sense to keep it as one page. We don't break articles up because they reach a certain length. It's more important to make sure that there's one article for one user task. I don't think any of the sections in this article would ever be done separately. This user task re

[2019-09-10 22:35] woodske opened #38661 "Dead link for available severity levels under TrackTrace"
Received a 404 error clicking the link pointing to the following URL

https://github.com/Microsoft/ApplicationInsights-JS/blob/master/JavaScript/JavaScriptSDK.Interfaces/Contracts/Generated/SeverityLevel.ts

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 401d2997-0fbd-7966-8996-edbaab1819ff
* Version Independent ID: c3e

[2019-09-10 22:37] bwren commented on #38423
There's really no other place to link it, since this is the article on Data Collector API.  I think that was put in for consistency with the other entries which have links.  I agree it's a little weird though, so I'm going to remove it. #please-close

[2019-09-10 22:37] #38423 closed

[2019-09-10 22:38] artisticcheese commented on #37362
Well that's exact thing I'm trying to avoid. I don't want my string values to be separated into different columns. Good example if I log events from Virtual Machines and put virtual machines in column called VM_Name, now if Virtual Machine happen to have name which looks like GUID it will go into VM_Name_g which I don't want to happen.

[2019-09-10 22:41] NavtejSaini-MSFT commented on #38657
@SeanFeldman Thanks for the question. The above line is based on the logical partition of container rather then the physical storage itself.
Here is the document which explains it better:
https://docs.microsoft.com/en-us/azure/cosmos-db/partition-data
which says:
"In Azure Cosmos DB, a container is the fundamental unit of scalability. Data that's added to the container and the throughput that you

[2019-09-10 22:42] Chris-Johnston opened #38662 "Azure Key Vault .NET Quickstart tenantId and subscriptionId variables are unused"
In the Azure Key Vault .NET Quickstart, the variables `tenantId` and `subscriptionId` are set from environment variables. It seems that these are leftovers from 12cc86d8506357cfc0c6c53fab66e8f771cb5da5, as they were used before this commit but were not removed when the sample code was updated.
The article mentions that these are used for authentication, but it seems now that they are unnecessary f

[2019-09-10 22:42] kgremban commented on #36838
@jjindrich I have the same question for you that I had for ksaye -- is your gateway device configured as the parent of your downstream device in IoT Hub?

[2019-09-10 22:43] mswellsi commented on #38602
A second generation device is listed at https://aka.ms/sdsdk-get and the links will go live once Roobo provide them.

[2019-09-10 22:52] SeanFeldman commented on #38657
@NavtejSaini-MSFT thank you.
The logical partition data and index has a limit of 10GB. Got it. But a container is a collection of multiple logical partitions, isn't it? And therefore in unlimited in size. Where the paragraph I've referenced says "An Azure Cosmos container is the unit of scalability for storage". So why the storage scalability is called out if storage is unlimited. Shouldn't it be

[2019-09-10 23:12] femsulu commented on #37889
thanks @bwren. Wanted to check if you knew before I engaged PG.
Now adding @NKiest

[2019-09-10 23:14] cliffkoh opened #38664 "Approach documented in this page references an old SDK"
The latest sdk is `@azure/storage-queue` and not `azure-storage`. The latter in particular lacks many of the features and API parity with C#. This page should be updated to recommend usage of the new SDK.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8792c1f-d54f-1977-4c8c-acdc45041b4a
* Version Independent ID: bc854

[2019-09-10 23:23] ChristianMontoya commented on #38605
@RJK23 : This is odd, as these should install automatically, regardless of deployment option. Are you able to restart the machine to see if the updates and automatic install will kick in?

[2019-09-10 23:27] bwren commented on #38315
I think that link answers the specific question.  There is a bigger issue though that we don't have standard reference documentation for tables being written to Azure Monitor by different Azure resources.  The solution for Application Gateway doesn't have any views for the firewall logs, which is why it isn't mentioned in that article.  But, that is still a table that can be queried as described i

[2019-09-10 23:43] lmemmott commented on #38583
Wow! I’m impressed with the quick fix!

[2019-09-10 23:46] dcbrown16 commented on #13503
@femsulu @tfitzmac can we reopen and revisit this?
I'm getting a vague impression from the doc that a management group can only include subscriptions in the same AAD tenant. Is that true? It's not clear because "tenant" and "directory" are not clearly defined here.
I have to double-check with resources like this outside blog which states that "all subscriptions managed by management group should b

[2019-09-10 23:48] bwren commented on #37649
Sorry for late reply on this.  As far as I know, it should just be read permission.   If this isn't working, then we should follow up with support for troubleshooting.

[2019-09-10 23:50] bwren commented on #37362
I'll pass the issue on to the engineering team, but I don't know of any current way to change this behavior.

[2019-09-10 23:52] BharathNimmala-MSFT commented on #38661
@woodske Thank you for bringing this to our notice, will work towards fixing this and update the thread accordingly.

[2019-09-10 23:53] NavtejSaini-MSFT commented on #38657
@SeanFeldman The Document that has been referred in previous comment, the scalability for data mentioned happens horizontally at the logical partition level in a container.
Azure does not give any cosmos DB unlimited storage in the beginning and will scale up from certain value when you keep adding data which will be added to logical partitions depending on the partition key.

[2019-09-10 23:56] karthiksubramanians commented on #38146
I was able to get it to work based on the instructions. Thanks to everyone for your help!

[2019-09-11 00:11] AakashMasand opened #38666 "This path does not exist. OperationNotFound"
I am trying to add diagnostic settings to my ARM template for SQL Managed Instances and I get the following error:

{ "id": "/subscriptions/252a17df-68c3-41f6-9fe3-eccbe29dc485/resourceGroups/perf-test-vans-integration-rg/providers/Microsoft.Resources/deployments/sql-mi-template/operations/FE1BC7249F09E459", "operationId": "FE1BC7249F09E459", "properties": { "provisioningOperation": "Create", "pro

[2019-09-11 00:29] Grace-MacJones-MSFT commented on #38648
Hi @MohamedOthman, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-11 00:31] TravisCragg-MSFT commented on #38650
@slynickel Yes, you are guaranteed a unique server & name, otherwise you could have conflicting records.

I am unsure how many name servers we have, but yes it is possible for an error to occur.

[2019-09-11 00:38] kutluomeroglu opened #38667 "Shared Resources- Variables - Activities"
The activities section in this page read "The activities in the following table are used to access 'credentials' in a runbook and DSC configurations."

However, it seems like it is supposed be variables instead of 'credentials'. Furthermore, maybe the difference between using Get-AzureAutomationVariable activity vs Get-AzureRmAutomationVariable cmdlet for encrypted variables can be clarified in th

[2019-09-11 00:40] TravisCragg-MSFT commented on #38652
@thevman I am also seeing [conflicting information](https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-faq#how-many-vpn-connections-does-a-virtual-wan-hub-support), let me follow up with this and get back to you.

[2019-09-11 01:15] hmizael opened #38670 "NPS Server vs NPS Extension"
The authentication flow requires that RADIUS messages be exchanged between the Remote Desktop Gateway and the NPS server where the NPS Server is installed.

vs

The authentication flow requires that RADIUS messages be exchanged between the Remote Desktop Gateway and the NPS server where the NPS Extension is installed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-09-11 01:26] rwike77 commented on #33008
@blueelvis, I can see why you would prefer not to do the HTML parsing :)  I'm making some inquiries internally about a REST endpoint, will let you know.

[2019-09-11 01:39] KrishnaG-MSFT commented on #38667
@kutluomeroglu Thanks for the comment. We are actively investigating and will get back to you shortly with an update.

[2019-09-11 01:46] KrishnaG-MSFT commented on #38660
@AndrewGailer Thanks for the comment. This feedback has been shared with @bandersmsft for further review.

[2019-09-11 01:46] nabhishek commented on #13515
We have enabled passing output from notebook into ADF, which can be then consumed within ADF. Please refer to the section in the doc [here](https://docs.microsoft.com/azure/data-factory/transform-data-databricks-notebook#passing-parameters-between-notebooks-and-data-factory). @hiteshtulsani

[2019-09-11 01:47] nabhishek commented on #13515
#please-close

[2019-09-11 01:47] #13515 closed

[2019-09-11 01:48] nabhishek commented on #18740
this has been updated. Thanks.
#please-close

[2019-09-11 01:48] #18740 closed

[2019-09-11 01:54] KrishnaG-MSFT commented on #38627
@KLCKLCKLC Thanks for reaching out to us! To better assist you, could you please share the Azure document link / URL for which this feedback is applicable to and also provide more details on your query / scenario ?

[2019-09-11 01:55] NavtejSaini-MSFT commented on #38421
@ackava Please check the below link for complete information regarding this topic:
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-read-scale-out

Specially to following section regarding monitoring the same.
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-read-scale-out#monitoring-and-troubleshooting-read-only-replica

We are going ahead and closing this request

[2019-09-11 01:55] #38421 closed

[2019-09-11 01:56] MartinJaffer-MSFT commented on #38633
Hello km26577 and thank you for your inquiry.  Which document is this in reference to?

[2019-09-11 02:04] MartinJaffer-MSFT commented on #38643
@CeciAc @PhilippJust
Thank you for bringing this issue to our attention.  We will review the document and get back to you.

[2019-09-11 02:31] slynickel commented on #38650
Thanks. Works for me. I don't know if the doc needs a change but that answer was all I needed.

[2019-09-11 02:31] #38650 closed

[2019-09-11 02:33] lenvolk commented on #35335
When running from cloud shell it keeps failing, but works perfectly from azure cli
az ad app permission admin-consent --id  $serverApplicationId
leonid@Azure:~$ az ad app permission admin-consent --id  $serverApplicationId
The command failed with an unexpected error. Here is the traceback:

400 Client Error: Bad Request for url: http://localhost:50342/oauth2/token
Traceback (most recent call last)

[2019-09-11 02:53] aleazofeifam opened #38671 "What is the max size of a token for custom app using SCIM?"
Can you please document what is the maximum size of a token per-enterprise application and for all of the custom apps using SCIM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bf57a03-e7d3-3e9d-2512-213c24cf3b51
* Version Independent ID: cb5254ac-8a51-6873-f78e-68469019d75b
* Content: [Automated SaaS app user provisi

[2019-09-11 02:53] aleazofeifam commented on #38671
btw is it 1kb?

[2019-09-11 03:04] CateBlack opened #38672 "What is the one security contact international phone number used for?"
If all notifications are sent via email, why do the security contact details require one security contact international phone number?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a455a24-920e-f9f8-7a6f-60b5f4019acd
* Version Independent ID: e6a4d8e2-0ada-e535-810f-5eb19e45ee1e
* Content: [Provide security contact de

[2019-09-11 03:14] donchai commented on #38604
Hello @allegradomel, we are still in planning stage and would ascertain following peering arrangement is supported, different agreements (EA & CSP), different regions (East Asia and West US).

Source: EA VNet (East Asia)
Destination: CSP VNet (West US)

Thank you!

[2019-09-11 03:28] DanielLarsenNZ opened #38673 "Azure Service Bus support is available now"
Announcement: https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-managed-service-identity

cc @clemensv

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726adac9-1848-01a6-9586-842c81f820f7
* Version Independent ID: 249db438-8c95-8e69-f69e-8e48fcd0b359
* Content: [Azure Services that support managed

[2019-09-11 03:40] Roblarson opened #38674 "No information on Downloading a Certificate from the Portal"
There is no information on how to download a cert in CER, PFX, or PEN format in the documentation. Also does not cover the required permissions to allow a download of a cert. If you grant List and Get permissions you can only download in cer format, not documented what the minimum permissions are to download in pfx/pem format

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-09-11 03:43] Rachitgupta1994 commented on #38608
Thanks for the information. Docs never mention something like this. Kindly include this in the docs as i was literally considering to use a different cloud provider. Lack of info can be frustrating.

[2019-09-11 03:46] SubhashVasarapu-MSFT commented on #38529
@akshayyadav1122, I am wondering if you had a chance to look over my previous reply. Let me know if you have any query or input for us or if we good to close this issue.

[2019-09-11 03:47] sujayvsarma commented on #38422
@rbrundritt & outinyman
There are so many issues with your Azure Maps Feedback tool itself. Here is a littany:

1. The address displayed - oh surprise, surprise, is wrong
![image](https://user-images.githubusercontent.com/7371750/64666641-9e619180-d474-11e9-9e20-632634b9b354.png)

2. The pin for it is in the wrong place. It doesn't match the existing POI for that item!
![image](https://user-images

[2019-09-11 03:48] rizwaans commented on #37827
@KetanChawda-MSFT  Yes we can close this. Apologies for the delayed response. I was away from work sick.

Really appreciate your prompt response on all the questions I post. Much Thanks Mate.

[2019-09-11 03:55] linuxelf001 opened #38675 "TCP timestamp setting recommendation for Linux VMs behind the load balancer"
As per below article, one of the known limitations is health probes will fail when TCP timestamps are enabled on Linux VMs which are behind load balancer.

https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-custom-probe-overview#limitations

Article states “enabling TCP timestamps will cause health probes to fail due to TCP packets being dropped by the VM's guest OS TCP stack, whic

[2019-09-11 03:57] wmengmsft commented on #38608
@Rachitgupta1994 , sorry for the confusion and thanks for the suggestion. We have asked the WindowsAzure.Storage owners to update the link to point to Microsoft.Azure.Cosmos.Table directly. We will also update its documentation to clearly indicate it supports Azure Storage tables.

[2019-09-11 04:05] aayush3667 opened #38676 "What is sourceUriand whhy it is missing"
$disk = New-AzDisk -Disk $diskConfig -DiskName $osDiskName -ResourceGroupName $rg
New-AzDisk : Required parameter 'sourceUri' is missing (null).
ErrorCode: InvalidParameter
ErrorMessage: Required parameter 'sourceUri' is missing (null).
ErrorTarget: sourceUri
StatusCode: 400

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-09-11 04:09] SeanFeldman commented on #38657
Meaning that logical partition will grow as big as it needs to be, correct?

[2019-09-11 04:09] MedAnd opened #38677 "Existing cluster ARM template may not have "upgradeDescription" node / clarify default values"
In above documentation it states to "use your existing values for the remainder of the settings." for the "upgradeDescription" section however my cluster ARM template does not have this node at all.

- Please clarify what values should be used for default?
- Consider adding a note that the new ARM template values will only be seen once the cluster upgrade has been completed. For example using Azur

[2019-09-11 04:16] shashishailaj commented on #38636
@ritmos Thank you for your query . We will investigate and update the thread further.

[2019-09-11 04:17] shashishailaj commented on #38653
@valnav Thank you for pointing that out. A pull request is already made to fix the document and it should get updated soon.

Thank you.

[2019-09-11 04:18] shashishailaj commented on #38662
@Chris-Johnston Thank you for pointing that out. We will ave this checked and update the content authors as necessary.

[2019-09-11 04:19] shashishailaj commented on #38670
@hmizael Thank you for your query. We will investigate and update the thread.

[2019-09-11 04:20] shashishailaj commented on #38671
@aleazofeifam Thank you for your query. We will get this checked and update the thread.

[2019-09-11 04:21] neeleshray-msft commented on #38674
@Roblarson Thank you for your query. We will investigate and update the thread accordingly.

[2019-09-11 04:22] shashishailaj commented on #38673
@DanielLarsenNZ Thank you for your feedback. We will have this reviewed and updated as necessary after checking with the content authors.

[2019-09-11 04:23] neeleshray-msft commented on #38672
@CateBlack Thank you for your feedback. We will check and update the document as needed.

[2019-09-11 04:23] souravmishra-msft commented on #38227
@Samsinite , Thank you for sharing the update. Closing this thread.

[2019-09-11 04:23] #38227 closed

[2019-09-11 04:50] SumanthMarigowda-MSFT commented on #38664
@cliffkoh Thanks for the question! We are investigating and will update you shortly.

[2019-09-11 04:59] VikasPullagura-MSFT commented on #38676
@aayush3667 Thanks for the query. We are investigating and will get back on this soon.

[2019-09-11 05:04] trivee commented on #38326
The update looks great, thanks!

[2019-09-11 05:04] #38326 closed

[2019-09-11 05:15] jwatkin opened #38678 "The "new line" doc on this page doesn't seem correct"
The doc on this page states that one can create a "new line" with " \n\n " between sentences. In HTML, a new line is a &lt;br&gt; tag, but that's not what's getting rendered. Instead, it's rendering a &lt;p&gt; tag, which creates an unacceptable spacing between the lines when one is actually looking for a new line. If instead one uses a single "\n" between sentences, it doesn't generate an HTML ta

[2019-09-11 05:18] SadiqhAhmed-MSFT commented on #38241
@thi-baut We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-11 05:18] #38241 closed

[2019-09-11 05:23] ManojReddy-MSFT commented on #38503
@dmarlow Can you please try it from the Account Center?

Ref: https://docs.microsoft.com/en-us/azure/role-based-access-control/classic-administrators#account-center

[2019-09-11 05:24] ManojReddy-MSFT commented on #38236
@JoelHazelton  We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-09-11 05:24] #38236 closed

[2019-09-11 05:26] akshayyadav1122 commented on #38529
Okay got it, thanks.

[2019-09-11 05:29] ManojReddy-MSFT commented on #38588
@MickQuinlan Thanks for clarifying my ask. Let me reproduce this in my tenant and will get back to you with my findings.

[2019-09-11 05:33] ManojReddy-MSFT commented on #38670
@hmizael Thanks for reporting this. It should be NPS extension instead of the NPS server. I have updated the doc and it will be published shortly.

[2019-09-11 05:34] KrishnaG-MSFT commented on #38666
@AakashMasand Thanks for reaching out to us! To better assist you, could you please share the Azure document link / URL for which this feedback is applicable to.

[2019-09-11 05:39] cpitches opened #38680 "Deprecated events"
Events mentioned on this page such as Unauthorized Gateway Requests have been deprecated in API management.  Even though these continue to work, I'm unsure what I should be using now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecc5e84d-603c-6f88-a941-df33aad0e1d8
* Version Independent ID: ae6976bb-aadd-4d40-bb62-57

[2019-09-11 05:43] AakashMasand commented on #38666
Hi @KrishnaG-MSFT,
The document I am referring to is https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-logs-stream-template.

[2019-09-11 05:46] KrishnaG-MSFT commented on #38666
@AakashMasand Thanks for the quick response. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-11 05:53] SeanFeldman opened #38682 "Andersen family data issue"
Parents and child are missing the last name :)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6367067e-e9ce-6c2a-dd5d-a9de54735e78
* Version Independent ID: 18564fed-2285-8cab-39a0-e3f1c2407c19
* Content: [Build a .NET console app to manage data in Azure Cosmos DB SQL API account](https://docs.microsoft.com/en-ca/azure

[2019-09-11 05:55] nabhishek commented on #21278
PR with the fix - https://github.com/MicrosoftDocs/azure-docs-pr/pull/88070

[2019-09-11 05:55] nabhishek commented on #21278
#please-close

[2019-09-11 05:55] #21278 closed

[2019-09-11 05:55] KalyanChanumolu-MSFT commented on #38638
Thank you for reaching out. We are actively investigating and will get back to you soon.

[2019-09-11 06:01] VikasPullagura-MSFT commented on #38676
@aayush3667 I tried to reproduce the issue by following the document, I am not getting any error as reported.

Looking at the error it is could be due to missing and expected value from the variables that are used in the command.

To troubleshoot this, can you check the values of $diskConfig $osDiskName and $rg that are being used in the command and see if there is anything missing.

Similar [issu

[2019-09-11 06:14] SwathiDhanwada-MSFT commented on #38461
@jjghali  AFAIK, you can't directly download the bak file . I could suggest a workaround where you could restore DB to an alternate server and take a DB backup from there. In this way , you will be able to get back file. Kindly refer [this](https://docs.microsoft.com/en-us/azure/backup/restore-sql-database-azure-vm#restore-to-an-alternate-location) documentation on how to restore DB to an alternat

[2019-09-11 06:17] andrewvr99 commented on #38602
thanks Ian.  So until that is released, there is no device availability.  is there an anticipated release date for the device?  Even ballpark - this year - spring 2020, etc?

[2019-09-11 06:17] #38602 closed

[2019-09-11 06:20] dcbrown16 opened #38684 "Requesting more documentation of components"
I'd like to file a request for documentation of the various components like the Web App, API, front end etc. and how they interact and what security measures are in place. We have a customer concerned about the fact that the Web App is open to the Internet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cb10c01-db1f-1

[2019-09-11 06:27] RJK23 commented on #38605
@ChristianMontoya  Sorry but even restart doesn't helped. It's still same two programs and not others. Hope you can take a look

[2019-09-11 06:40] KalyanChanumolu-MSFT commented on #38682
@SeanFeldman That is a good observation :)
Cosmos DB being fully schema agnostic allows adding additional properties at any time.

We will consider your feedback when we revisit this document.
We will proceed to close this issue now. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.