[2019-01-14 21:34] jgallucci32 commented on #18409
This issue was not resolved in the latest documentation. Shall I create a new ticket?
https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-update-1811#known-issues-post-installation

[2019-01-14 21:35] Karishma-Tiwari-MSFT commented on #21959
@loopfish Thank you for sharing the update.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-01-14 21:35] #21959 closed

[2019-01-14 21:36] hrasheed-msft commented on #19555
@jason-j-MSFT please close this issue. It seems the user has gotten the issue resolved.

[2019-01-14 21:36] MashaMSFT commented on #22171
Hi @ChrisKirkUltima , thanks for bringing this to our attention! I'm looking into it.

[2019-01-14 21:37] jgallucci32 opened #22406 "Incorrect IAM role listed for Managed Disks - Take 2"
Issue #18409 was closed out without changing the documentation. This ticket is to track the issue which has been propagated to yet another release document without being fixed. Here is the original issue:

The article says to ensure the IAM role **Azure Stack – Managed Disk** is present for Managed Disks to work. This role does not exist and the correct IAM role for this is **AzureStack-DiskRP-Cli

[2019-01-14 21:37] Karishma-Tiwari-MSFT commented on #22133
@BakerLabs Any update? were you able to test it out?

[2019-01-14 21:37] hrasheed-msft commented on #21572
PR merged: https://github.com/MicrosoftDocs/azure-docs-pr/pull/62448

[2019-01-14 21:39] hrasheed-msft commented on #21572
@jason-j-MSFT please close this issue as the pull request has been merged that fixes this issue.

[2019-01-14 21:40] MohitGargMSFT commented on #22386
@jeanluc33 Please note that you can refer to [this](https://docs.microsoft.com/en-us/powershell/azure/azurerm/install-azurerm-ps?view=azurermps-6.13.0) document to install latest version of Azure Powershell.

Also the certificate related powershell commands New-SelfSignedCertificate, Export-PfxCertificate are part of pkiclient module of Windows powershell for Windows 8/Windows Server 2012 and high

[2019-01-14 21:42] MicahMcKittrick-MSFT commented on #22402
@kingboyk thanks a fair point.

@aljo-microsoft @dkkapur could you take a look at this ask? I would agree that we should have examples that make it easy for users when deploying a template through visual studio. If VS is using yaml files maybe we should also show yaml files in theses docs.

[2019-01-14 21:45] #22081 closed

[2019-01-14 21:49] mchapple opened #22408 "Whats it going to cost me?"
I really think that under these quickstarts, you should give an indication of the expected cost to run these steps, and what I will cost if you leave it running. Imagine I hadn't got to complete the tutorials, shut it down overnight, and then began again a day or so later, I'd like to know that I'm not going to get a nasty bill at the end of it.

---
#### Document Details

⚠ *Do not edit this sect

[2019-01-14 21:50] Karishma-Tiwari-MSFT commented on #22324
@xiaoyongzhu Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-01-14 21:50] #22324 closed

[2019-01-14 21:57] Alberto-Vega-MSFT commented on #22385
@timmcfadden !itThanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-14 21:58] kellykwak opened #22409 "Unable to access Application Network Portal"
I want to list my application in Microsoft Azure Active Directory app gallery (https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-app-gallery-listing). When trying to sign in to the Application Network Portal, I got a “That didn’t work” window and was directed to contact you here. I would like my kkwak@brightidea.com email account to be added to the Application Network Portal. L

[2019-01-14 22:02] TravisCragg-MSFT commented on #22308
@aquibqureshi26 You can find instructions to [Peer an ARM Virtual Network with a Classic Virtual Network Here](https://docs.microsoft.com/en-us/azure/virtual-network/create-peering-different-deployment-models-subscriptions). You might need to change tenants as well to complete some of the instructions.

This should be something that you are able to do. If you are unable to peer the virtual network

[2019-01-14 22:02] #22308 closed

[2019-01-14 22:05] hectoralicea opened #22410 "Nothing on this "azure-files-dynamic-pv" page about setting the secret as is shown on the "azure-files-static-pv""
I followed the above steps and I got the following error on the `kubectl describe pvc azurefile` comand  Type       Reason              Age                 From                         Message
  ----       ------              ----                ----                         -------
  Warning    ProvisioningFailed  2s (x122 over 30m)  persistentvolume-controller  Failed to provision volume with Sto

[2019-01-14 22:06] TravisCragg-MSFT commented on #22312
@jgallucci32 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-14 22:07] MashaMSFT commented on #22104
Hi @agentHoover , thanks for bringing this to our attention! I'm looking into this. Thanks!

[2019-01-14 22:07] MohitGargMSFT commented on #22364
@pastperfect Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2019-01-14 22:07] Mike-Ubezzi-MSFT commented on #22378
@Anmolgan81 Can you detail where this is failing, and are you running this from a PowerShell instance from a Desktop session or from the Cloud Shell interface available via the Azure Portal? If you are running this from a PowerShell Desktop session, can you detail the version you are running and that you have installed the `AzurerRM.DataMigration` cmdlet package by running the following: install-m

[2019-01-14 22:09] Alberto-Vega-MSFT commented on #22092
@Futtrup87 Are you still facing this issue?

[2019-01-14 22:10] blouwagie opened #22411 "Please indicate what to do when we get an error message about locks"
More than once I have have such a lock blocking me. I then have to try to find how to remove it. BUT the error message is useless. So please tell the reader how to find the "source of the lock". Example error:

The lock named e66f5b3b08274953a0be4cd24e589cc6 was unable to be deleted for the following reasons: {"errorThrown":"content: {\"error\":{\"code\":\"UnauthorizedApplicationId\",\"message\":\

[2019-01-14 22:17] MohitGargMSFT commented on #22396
@szolla I have assigned the issue to the content author to investigate and update as appropriate.

[2019-01-14 22:17] BakerLabs commented on #22133
I spent Friday and today trying to get this to work on Red Hat 7.5.  I can successfully encrypt a CentOS Linux VM but I cannot encrypt a RedHat Linux 7.5 VM.  I have been successful with 3 CentOS VMs but cannot get it to work on RedHat 7.5.

On Red Hat 7.5 VM the PowerShell the script runs (hangs) for an hour then fails with the following error.

Set-AzureRmVmDiskEncryptionExtension : Long running

[2019-01-14 22:18] MashaMSFT commented on #22083
Hi @helderpinto , thanks for bringing this to our attention! Updating the extension should not restart the service. I've added a note to the document to confirm the same thing. I hope that helps and please let me know if we can be of further assistance. In the meantime, I will proceed with closing out this Git issue. Thanks again! #please-close

[2019-01-14 22:18] Mike-Ubezzi-MSFT commented on #22378
To access the Cloud Shell, select the icon in the upper right of the Portal interface:

![screenshot 143](https://user-images.githubusercontent.com/37126106/51144823-03da8100-1807-11e9-83b8-1d1a96627182.png)

And then select the PowerShell option the dropdown list:

![screenshot 145](https://user-images.githubusercontent.com/37126106/51144894-28365d80-1807-11e9-9f53-f716330298e8.png)

And you have

[2019-01-14 22:21] MohitGargMSFT commented on #22401
@JoelHazelton Thanks for your feedback! We will investigate and update soon on it.

[2019-01-14 22:21] washraf commented on #21983
@VipulM-MSFT I have created this repo with an exact sample to my work and it have the same issue
https://github.com/washraf/Service-Fabric-core-custom-serializer

[2019-01-14 22:22] ecfan commented on #19753
@denishol, the topic is now updated, thanks!

[2019-01-14 22:23] #22083 closed

[2019-01-14 22:24] MarileeTurscak-MSFT commented on #22409
@kellykwak
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-14 22:34] MohitGargMSFT commented on #22401
@JoelHazelton I can verify from Azure Portal while selecting Cloud apps under Conditional Access - Policies, Microsoft Planner,Office Sway can be selected. I will assign this issue to content author to update the list with relevant cloud apps from Microsoft.

[2019-01-14 22:36] kraigb commented on #21044
I don't think that's accurate; I just tested using a startup.txt file containing the command and it worked just fine. What behavior are you seeing that indicates it can take only a direct command?

[2019-01-14 22:36] aljo-microsoft commented on #20887
@johnthcall
Why would you expect Azure Compute Virtual Machine Scale Set Resource:

https://docs.microsoft.com/rest/api/compute/virtualmachinescalesets/createorupdate

Documentation that you referenced:
https://docs.microsoft.com/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-use-availability-zones

To mention Azure Service Fabric Resource Provider integration limitations with Compute

[2019-01-14 22:42] lesterw1 commented on #22080
Hi Dina,

Yes.  Essentially if I sign in as the tenant admin, then does the “Consent on behalf of your organization” tick box mean give access to everyone?  I think I found that to be the case but I wasn’t sure at the time and the documentation was unclear.

[cid:image001.png@01D4AC5A.6D254460]

Thank you.

Lester Waters

From: Dina Berry <notifications@github.com>
Sent: 14 January 2019 21:22
To:

[2019-01-14 22:44] MashaMSFT commented on #22171
Hi @ChrisKirkUltima , thanks again for letting us know about this issue. Turns out we're already aware of it and there's a fix currently being tested. It should be out shortly. Once the release for the fix is confirmed, I'll update this issue and close it. Thanks!

[2019-01-14 22:48] aljo-microsoft commented on #22402
@kingboyk and @MicahMcKittrick-MSFT

"2018-09-01-preview"
Ref:
https://docs.microsoft.com/azure/service-fabric-mesh/service-fabric-mesh-howto-configure-gateways

Underneath everything is converted between YAML, JSON, and XML; as it all runs on SFRP (which only understands XML). I appreciate your feedback on this, and as a preview service support ability documentation is subject to change.

Please

[2019-01-14 22:48] Mike-Ubezzi-MSFT commented on #22374
@sgiovinetti It looks like the Azure SQL Database connection string property `ApplicationIntent` is a Read Scale-Out property and not applicable to Azure Analysis Services, however, if you are connecting to a SQL data source that is a Read Scale-Out deployment that is supporting Azure Analysis Services DirectQuery Tabular data models, and the connection string is dictated by the client in one of t

[2019-01-14 22:59] MicahMcKittrick-MSFT commented on #22171
Thanks @MashaMSFT !

[2019-01-14 23:02] johnthcall commented on #20887
@MicahMcKittrick-MSFT A lot of teams use service fabric already and having been told to move to availability zones will find the referenced document as it appears to be the main documentation for AZs: https://docs.microsoft.com/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-use-availability-zones

They will not revisit the service fabric template which references the limitations:
http

[2019-01-14 23:03] TravisCragg-MSFT commented on #22099
@jfuller05 This error typically occurs when trying to peer 2 VNETS in different tenants while permissions are not properly set. If you have followed the document and properly added all of the permissions between the tenants, your best bet is to open a support request. If you do not have a support plan, please let me know.

[2019-01-14 23:03] brettcannon commented on #21044
My logs when I did this 26 days ago showed that the string in the `Startup File` box were simply prepended to the `gunicorn` command. It may have been fixed subsequently.

[2019-01-14 23:04] TravisCragg-MSFT commented on #22361
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-14 23:04] #22402 closed

[2019-01-14 23:08] TravisCragg-MSFT commented on #18409
@jgallucci32 reopening to verify the status of this issue.

[2019-01-14 23:10] #21572 closed

[2019-01-14 23:11] #19555 closed

[2019-01-14 23:11] Mike-Ubezzi-MSFT commented on #22384
@rolanddb Can you check your firewall configuration for this service. Do you have `Allow access from` **All networks** or from **Selected networks**? If Selected networks is selected, do you have the IP address from which you are attempting to connect from added to the Allow list?

[2019-01-14 23:13] anonymouse64 commented on #20666
@kgremban I would change the current wording to be more specific as the JSON could concievably gain another field, so something like:

Copy the connection string from the JSON output (specifically the value of `cs` key) and save it. You'll use this value to configure the IoT Edge runtime in the next section.

Does that make sense?

[2019-01-14 23:17] Ayanmullick opened #22413 "portal.loganalytics.io non-functional"
Earlier I could access all my workspaces' logs thru Portal.loganalytics.io. However, now the URL isn't working
`The URL is invalid.
Open your Application Insights resource in the Azure portal, and then click Analytics.

If that doesn't work, please let us know, quoting this correlation id: ecee8809-97fb-4df6-98fb-c2a54e7eb3e9`

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-01-14 23:22] MarileeTurscak-MSFT commented on #22409
Thanks @kellykwak , just checking - did we have another issue open for this? If so, could you link it so that I can refer to the context of the previous conversation?

[2019-01-14 23:30] MicahMcKittrick-MSFT commented on #22410
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-14 23:32] Mike-Ubezzi-MSFT commented on #21565
@Anmolgan81 Given that we have provided you an initial timeframe for this, we will close this but we can still continue the dialog. You and others can still comment and ask questions and we will respond but, for the purposes of tracking this as an open issue, we need to close this to stop the clock in terms of metrics. Thank you for your understanding.

[2019-01-14 23:40] MarileeTurscak-MSFT commented on #22409
Was I cc'd on the email? I looked up a record of your name and could not find anything.

[2019-01-14 23:46] kellykwak commented on #22409
You were not. I will fwd the email to you now.

From: Marilee Turscak - MSFT <notifications@github.com>
Sent: Monday, January 14, 2019 4:41 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Kelly Kwak <kkwak@brightidea.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Unable to access Application Network Portal (#22409)

Was I cc'd on the email? I

[2019-01-14 23:46] Karishma-Tiwari-MSFT commented on #14348
@xenalite We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-01-14 23:46] #14348 closed

[2019-01-14 23:50] rolyon commented on #21546
Hi @john-louden
I added a section that hopefully clarifies
https://docs.microsoft.com/en-us/azure/role-based-access-control/overview#multiple-role-assignments
Please reopen if you have additional feedback.
thanks

[2019-01-14 23:50] rolyon commented on #21546
@MicrosoftDocs/azure-cxp-triage
#please-close

[2019-01-14 23:53] rolyon commented on #21152
Hi @mcurko
I added userprincipalname to article:
https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-powershell
Please reopen if you have additional feedback.
thanks

[2019-01-14 23:54] rolyon commented on #21152
@MicrosoftDocs/azure-cxp-triage
#please-close

[2019-01-14 23:55] jason-j-MSFT commented on #21974
@kung-foo not supported at this time.

[2019-01-14 23:55] #21974 closed

[2019-01-14 23:58] MicahMcKittrick-MSFT commented on #22410
@hectoralicea I created a fresh AKS cluster and followed the steps exactly as they were in this doc. When I ran the command `kubectl describe pvc azurefile `the end I get the following:

[code]

Could you try running through the doc again? I am not able to repro the same error you are seeing so possibly a step was missed or not completely correctly.

[2019-01-14 23:58] aljo-microsoft commented on #22225
@wp1107
As @MicahMcKittrick-MSFT  has stated, the referenced document provides a link to:
https://docs.microsoft.com/azure/service-fabric/service-fabric-get-started-containers

Given you stated you completed the first 6 steps successfully, it appears all you have left is following the provided guidance to update your Application Model (Manifests).

Specifically your ApplicationManifest.xml should

[2019-01-15 00:01] jason-j-MSFT commented on #22009
@justinhauer I think the intent was to have it under main, but its also just a tip.

[2019-01-15 00:01] #22009 closed

[2019-01-15 00:02] Karishma-Tiwari-MSFT commented on #22304
@AshleyT3 It looks like a doc-bug.
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-15 00:02] jason-j-MSFT commented on #22102
@yanancai could you take a look?

[2019-01-15 00:04] yevster opened #22414 "Update the Maven POM section has ambiguous language"
The "Update the Maven POM" section has the following language preceding the XML snippet:

&gt; The section of the `&lt;plugin&gt;` configuration in the pom.xml for the azure-webapp-maven-plugin should include the following configuration:

However, the subsequent snippet differs from [what is currently in the project](https://github.com/Azure-Samples/wildfly-petstore-quickstart/blob/master/pom.xml)

[2019-01-15 00:05] #21546 closed

[2019-01-15 00:05] #21152 closed

[2019-01-15 00:06] jason-j-MSFT commented on #21971
@kung-foo I think this might work, for further discussion, open a thread here:
https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory

[2019-01-15 00:06] #21971 closed

[2019-01-15 00:08] #21909 closed

[2019-01-15 00:09] #21856 closed

[2019-01-15 00:11] aljo-microsoft commented on #17851
@aybassiouny

The linked document provides "How To" guidance for running as supported local system account types are LocalUser, NetworkService, LocalService, and LocalSystem.

The question of ACL'ing your certificate to the user account you configured to run your service isn't documented in that context, as the only platform feature for ACL'ing certificates to accounts is the SF extention that ACL

[2019-01-15 00:17] #17851 closed

[2019-01-15 00:17] aljo-microsoft commented on #11343
@MicahMcKittrick-MSFT
#please-close

[2019-01-15 00:20] #11343 closed

[2019-01-15 00:31] divyaswarnkar commented on #22336
We'll update the screenshot - the resubmitted column should not be there (we had to revert that feature). Apologies for any confusion. @ecfan

[2019-01-15 00:32] aljo-microsoft commented on #9893
@magdysalem2

All of your Service Fabric deployments to Azure should be (doesn't matter which OS you use):

az group deployment create -g \<YOUR GROUP\> --name \<YOUR DEPLOYMENT NAME\> --template-file AzureDeploy.json --parameters @AzureDeploy.parameters.json

You should start by taking one of our public samples and update it:
https://github.com/Azure-Samples/service-fabric-cluster-templates

Expl

[2019-01-15 00:33] #9893 closed

[2019-01-15 00:35] aljo-microsoft commented on #8937
@whihathac
It is not configurable by you in Azure, and you get 5 of them; on prim you would use cluster configuration to declare UD's.

@MicahMcKittrick-MSFT
#please-close. Original user question was answered.

[2019-01-15 00:35] kazshi commented on #21245
@CHEEKATLAPRADEEP-MSFT I verified the missing/broken links were fixed.
However, I'm not clear about 'sqldbauditlogs' yet - I couldn't find the log when I tried to verify following the steps. Do you know who can verify it?  Thanks.

[2019-01-15 00:37] pochiraju commented on #22168
Can you please provide the subscription ID that you are facing this issue?
Also what speciifc migration scenario you are working on SQL to SQL DB?
For any migration failures, please reach to us @DMSfeedback@microsoft.com for faster resolutions.
Thanks
Raj Pochiraju

[2019-01-15 00:38] tkumark commented on #22376
for Standard tier how do I set  Access-Control-Allow-Origin header to wildcard (*). There is no mention of it. The one thing mentioned for Standard tier is when we want to support multiple origin support using query string caching.

[2019-01-15 00:38] jalohse commented on #22409
@MarileeTurscak-MSFT I also emailed to get access to the Application Network Portal and have not heard back. Is SaaSApplicationIntegrations@service.microsoft.com not the right email we should be contacting for this?

[2019-01-15 00:38] aljo-microsoft commented on #8724
@AaronRM
Referenced issue has been closed, and referenced documentation is accurate.

@MicahMcKittrick-MSFT
#please-close

[2019-01-15 00:39] aljo-microsoft commented on #8442
@MicahMcKittrick-MSFT
#please-close

[2019-01-15 00:39] KeiroKamioka0000 opened #22415 "Does Drive structure will be same>?"
Does replicating the Server with flowing drive combination, does structure will change after the replication?

C: OS Drive
D: Data Drive
E: Temporary Disk

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43cb8e74-332e-d1c2-2ba4-eff91806de73
* Version Independent ID: cb7300cf-6aed-1deb-d36d-fdd63955b6b4
* Content: [Archit

[2019-01-15 00:40] aljo-microsoft commented on #8161
@Robar666
SKU recommendations are provided: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-capacity#primary-node-type---capacity-guidance

@MicahMcKittrick-MSFT
#please-close

[2019-01-15 00:41] Alberto-Vega-MSFT commented on #22385
@timmcfadden ! @dominicbetts Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-15 00:42] #8937 closed

[2019-01-15 00:43] #8724 closed

[2019-01-15 00:43] #8442 closed

[2019-01-15 00:43] #8161 closed

[2019-01-15 00:45] aljo-microsoft commented on #7550
@originalnoe-nazvanie
The document right above the one you referenced defines all the certificates, and you would declare the following if using the recommended common name:

[code]
or the following if pinning by thumbprint:

[code]
ref:
https://docs.microsoft.com/azure/service-fabric/service-fabric-windows-cluster-x509-security

@MicahMcKittrick-MSFT
#please-close

[2019-01-15 00:46] derekbekoe opened #22417 "How to view changes in the document that triggered notification?"
All sample documentation I've seen regarding Azure Functions just shows that you get what the document looks like *after* the update.

However, how do I determine what changed in the document to trigger the notification?
Is this not possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08ea0e9e-86ba-45be-a0c4-ea0556

[2019-01-15 00:47] KeiroKamioka0000 opened #22418 "Id Temporary disk will always use D:Drive as default?"
If the VM with using D:Drive as Data Disk replicated, after the replication, Is D:Drive will be still Temporary Disk?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecd7a86b-b95d-05dd-d1f8-6725fb6e439c
* Version Independent ID: 99e9ba63-6ad0-0288-2c32-5c304f5d07d1
* Content: [Make the D: drive of a VM a data disk](http

[2019-01-15 00:51] #7550 closed

[2019-01-15 00:54] aljo-microsoft commented on #19041
@MicahMcKittrick-MSFT
#please-close. User reported he doesn't have a doc issue.

[2019-01-15 00:55] MicahMcKittrick-MSFT commented on #22418
@KeiroKamioka0000 Azure will use the D drive as the temp drive by default when you spin up a new VM. That being said, it can be easily changed from within the Guest OS. So if you replicate a VM to Azure that had drives configured using the D drive already then the configuration should remain and the temp drive in Azure would be automatically configured to use another drive letter.

All that being

[2019-01-15 01:02] #19041 closed

[2019-01-15 01:36] wmgries commented on #22390
@TracyGH happy to continue the conversation - I'll point you in the right direction if I can. Please feel free to reach out to me at wgries@microsoft.com.

[2019-01-15 01:42] MashaMSFT commented on #21996
Hi @tobrienultima , thanks again for bringing this to our attention! Looks like the issue you're running into is from a newer version of PowerShell. Can you please try running the below command to switch your licensing model? We've also added this to our existing documentation.

$SqlVm = Get-AzureRmResource -ResourceType Microsoft.SqlVirtualMachine/SqlVirtualMachines -ResourceGroupName <resource_g

[2019-01-15 01:53] kobulloc-MSFT commented on #22381
@SamirFarhat Application Insights and Log Analytics are now services of [Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/azure-monitor-rebrand).  Application Insights Connector in OMS is being retired on January 15th for Azure commercial cloud (existing connections will continue to work until June 30th, 2019).

We now support [cross-resource queries](https://docs.microsoft.com/

[2019-01-15 01:54] kobulloc-MSFT commented on #22381
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-01-15 01:54] #22381 closed

[2019-01-15 02:11] Karishma-Tiwari-MSFT commented on #22273
@carlfm01 The low-priority option for any VM size is disabled if it is not available as low priority at that point of time. It says:
![image](https://user-images.githubusercontent.com/20851144/51154077-75c2c280-1827-11e9-8e64-b319af6d676f.png)

As mentioned in the [document](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-use-low-priority),

[2019-01-15 02:16] BryanTrach-MSFT commented on #22414
@yevster Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-15 02:30] tfitzmac commented on #22114
#please-close

[2019-01-15 02:31] imeya opened #22430 "Does write-information and write-host support in the powershell runbook?"
do you know write-information and write-host are supported in the powershell runbook? If I used them, no message is output to the test pane. code like:

[code]

run it, and then check in the test pane, no message output.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc677cf7-8d87-d8f9-a333-b3c6b9781737
* Version Indepe

[2019-01-15 02:33] mike-urnun-msft commented on #22404
Hi @dillonredding Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-01-15 02:38] mike-urnun-msft commented on #22408
Hi @mchapple Thank you for your valuable feedback! We will review and update as appropriate.

[2019-01-15 02:43] tfitzmac commented on #22393
@ivan-shaporov - thanks for this feedback. This article is meant to introduce concepts but not go into a lot of details. I revised the text to avoid any statements that might be misleading.

[2019-01-15 02:45] tfitzmac commented on #21215
#please-close

[2019-01-15 02:47] PatrickFarley commented on #21276
@YutongTie-MSFT , this is something we should reassign to the product team (once Kelly is onboarded to this repo)

[2019-01-15 02:52] kazshi commented on #21837
@rboucher I need information (Executed Checks) about Service Bus for now since my customer has been asking.  Thanks.

[2019-01-15 03:00] saf-itpro commented on #17534
@marcelotpcosta Did you get to see Premium P1? I'm also seeing only "ENTERPRISE MOBILITY + SECURITY E5" and '"AZURE AD PREMIUM P2"

[2019-01-15 03:09] VitorX opened #22431 "Content-type for the text-to-speech"
Based on the document, this service should support both **plain text** and SSML. However, it always return the error message: **400 Data at the root level is invalid.** when sending the request using **plain text**.

Is this document incorrect or the service doesn't support this format for this service?

_Request body
Text is sent as the body of an HTTP POST request. It can be **plain text** (ASCI

[2019-01-15 03:11] saf-itpro opened #22432 "Azure Active Directory Premium P1 not in the list of available Azure AD editions"
Using instructions from this [official Azure post](https://azure.microsoft.com/en-us/trial/get-started-active-directory/#) I logged into my `personal Azure Free account`. Then Azure Active Directory-->Licenses-->Products-->Try/Buy. And there I see only two AAD edition offers: `ENTERPRISE MOBILITY + SECURITY E5` and `AZURE AD PREMIUM P2`.

**Question**: Why `AZURE AD PREMIUM P1` is not among the of

[2019-01-15 03:15] georgewallace commented on #22430
@imeya Write-Host will not work as there is no host to write to .. Please see [Runbook output and messages in Azure Automation](https://docs.microsoft.com/en-us/azure/automation/automation-runbook-output-and-messages) to learn about the types of streams you can use.

[2019-01-15 03:17] georgewallace commented on #21137
@MikeSpark Wanted to follow up to see if that solved your issue?

[2019-01-15 03:22] georgewallace commented on #21014
@YvonneArnoldus There can be issues with specific commands in a module based on dependencies.. I would recommend testing it on another node, if that does not work as well I would recommend contacting support. You should not be seeing this error message

[2019-01-15 03:22] georgewallace commented on #21014
@YvonneArnoldus There can be issues with specific commands in a module based on dependencies.. I would recommend testing it on another node, if that does not work as well I would recommend contacting support. You should not be seeing this error message

[2019-01-15 03:34] djaus2 commented on #22296
Thanks, that got me past that point.
My confusion was (besides not reading the and interpreting the documentation closely enough) with terminology. To clarify things:.
An **Azure Container Registry** contains **Repositories**
For **each** Iot Hub- IoT Device **Deployment**, there is a **Repository**.
I was thinking the Repository was collective of multiple deployments.

[2019-01-15 03:36] amcgregor1 commented on #21482
Is this being worked on?

[2019-01-15 03:43] wsmelton opened #22435 "Additional step - open 3389/tcp on VM OS"
After you restart `xrdp` you need to allow the port on the network interface within the OS itself. Before I was able to RDP to the Ubuntu server I had to run this command within the VM itself:

[code]

Although, note I did not use the xfce and used the Ubuntu Desktop instead. However I believe either way the OS firewall has to allow port 3389 in regardless. The Ubuntu 18.04 image on the marketplac

[2019-01-15 04:10] MicahMcKittrick-MSFT commented on #22435
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-15 04:12] imeya commented on #22430
one more question, the Test Pane in runbook is different than something like console, right? thanks very much.

[2019-01-15 04:29] phil-lgr opened #22437 "How to Automatically Delete Old Images Based on a Policy?"
As title, there should be a way to set up image versions retention

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb1b3438-58e2-cd26-3b5e-1a1717fe182f
* Version Independent ID: ad41d0b4-39b1-7e24-836e-ff12d5016623
* Content: [Delete image resources in Azure Container Registry](https://docs.microsoft.com/en-us/azure/con

[2019-01-15 04:30] WinEcos opened #22438 "URL Blocked: This redirect failed because the redirect URI"
hi guys ,
when i using the Facebook login feature and then received the error message as bellow :
URL Blocked: This redirect failed because the redirect URI is not whitelisted in the app’s Client OAuth Settings. Make sure Client and Web OAuth Login are on and add all your app domains as Valid OAuth Redirect URIs.
sure things that i 've set up the 'Valid OAuth Redirect URIs' value was :https://myta

[2019-01-15 04:34] tiny-dancer opened #22439 "Next Steps missing "Authenticate with Azure WebApp for Containers""
I would expect a next step option to include authenticating with WebApp for Containers next to AKS and ACI?

Is WebApp for Containers not recommended?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11bbaa44-52ed-33fd-d710-af73d3665ec9
* Version Independent ID: b11deb17-311c-3aa3-78a7-1f8cdc7e9e5e
* Content: [Azure Cont

[2019-01-15 04:46] ChiragMishra-MSFT commented on #22397
@jennabourgeois Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-01-15 04:49] ChiragMishra-MSFT commented on #22431
@VitorX Thanks for the feedback. I am assigning this issue to the content author to have a look and make updates as appropriate.

@erhopf Can you please take a look at this ?

[2019-01-15 04:58] Ayanmullick commented on #22413
I'm able to access the logs of that workspace from the Azure Portal.
However, "portal.loganalytics.io" allowed one to access all Log Analytics workspaces from one page. Is there any way to access it?

[2019-01-15 05:03] KetanChawda-MSFT commented on #22161
@TechnologyAnimal Checking in to see if the above post help answering your question.

[2019-01-15 05:04] KetanChawda-MSFT commented on #22200
@mrityunjay0510 Checking in to see if the above post help answering your question.

[2019-01-15 05:04] KetanChawda-MSFT commented on #22202
@Kenneth-Abrams Checking in to see if the above post help answering your question.

[2019-01-15 05:06] Kenneth-Abrams commented on #22202
@KetanChawda-MSFT this answers my question! Thank you for the help

[2019-01-15 05:07] femsulu commented on #22398
@jrinehart76 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-15 05:10] femsulu commented on #22411
@blouwagie Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-15 05:10] KetanChawda-MSFT commented on #22202
@Kenneth-Abrams Thanks for the confirmation. Glad that helps!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue if required.

[2019-01-15 05:10] #22202 closed

[2019-01-15 05:12] nnmer opened #22444 "Machine Learning Studio import from blob with SAS token gives Error 0029 Invalid Uri is passed"
The Official docs says that only General Purpose v1 storage is supported to be as an import source for the Machine Learning Studio experiment  import data input with SAS token. But neither of blob storage accounts are working. Tried all 3 of them - getting same error in ML Studio when trying to do the import. Error 0029: Invalid Uri is passed.

Basically this is not the docs issue, but the process

[2019-01-15 05:16] femsulu commented on #22415
@KeiroKamioka0000 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-15 05:33] georgewallace commented on #22430
@imeya Yes it shows you the output streams of your runbook, but is not considered a host in which write-host functions.

[2019-01-15 05:39] rccnw commented on #22328
Thank you for the clarification.

Things change so fast on Azure that when I'm guessing my way through
unfamiliar territory I sometimes wonder if the docs are up to date.

I'm really amazed at the high quality of the documentation content,
thank you.
And the feedback mechanism is great.

--
Sent from Postbox
<https://www.postbox-inc.com/?utm_source=email&utm_medium=siglink&utm_campaign=reach>

[2019-01-15 05:43] rccnw commented on #22327
Thanks for taking this question as well.

I was just confused about the relationship between the registrar and
Azure DNS.   I was using GoDaddy nameservers and creating CNAME records
there AND doing the same thing in Azure DNS.   Finally I realized I had
to declare the Azure nameservers over at GoDaddy and do the rest on Azure.

  I have my HTTP static site with custom domain working now.

thanks

[2019-01-15 05:50] TravisCragg-MSFT commented on #22406
@jgallucci32 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-15 05:50] kudlatiger opened #22453 "Please update document for "IoT Hub Trigger""
Please update document for "IoT Hub Trigger", Basically we want to debug the messages in visual studio as it arrives.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 369aefa6-74da-3001-f835-15abdfffd5d6
* Version Independent ID: 2cc2a2db-d059-3252-7a1a-4261b7d3c37c
* Content: [Develop Azure Functions using Visual Studio

[2019-01-15 05:51] TravisCragg-MSFT commented on #18409
@jgallucci32 just saw the 2nd issue you opened, closing this issue and we will continue with the new issue.

[2019-01-15 05:51] #18409 closed

[2019-01-15 05:53] TravisCragg-MSFT commented on #22417
@derekbekoe Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-15 06:15] jlee-vi commented on #21831
Thanks for your response! Are you able to help me understand the difference between the access tier and performance tier in this case?

[2019-01-15 06:19] kazshi opened #22461 "OMS Agent for Linux"
Are the packages in the following link installed automatically? According to the page (Upgrade from a Previous Release), looks like the packages need to be installed manually (?) but my customer said that they didn't install the packages by manually but see the packages are installed on their environment.
Home · Microsoft/OMS-Agent-for-Linux Wiki
https://github.com/Microsoft/OMS-Agent-for-Linux/wi

[2019-01-15 06:38] YvonneArnoldus commented on #21014
@georgewallace,

I solved my problem it seems you can not use Get-AutomationCertificate in Script resource, because Get-AutomationVariable will also not work on that location. Because the Script is execute not in the Automation Context but on the Machine Context which does not have the Get-Automation methods.

I solved it by setting $cert=Get-AutomationCertificate -Name "SPCB_Test" and use $using:

[2019-01-15 06:54] mutanttech commented on #20724
@MaartenArits, thanks for your response, I was able to figure this out. But I got another problem, I want to create the Key Value Secret conditionally means there is couple of values which will be passed from PS to ARM Template execution when the deployment runs for first time, but for next deployment I want the Secrets not to be created, basically I expect to see idempotent behavior being enforce

[2019-01-15 07:07] dominicbetts commented on #22385
Hi @timmcfadden - can you take a look at the information in the Python SDK repo to see if it helps you to get started on your Raspberry Pi or Mac:

- https://github.com/Azure/azure-iot-sdk-python/blob/master/readme.md
- https://github.com/Azure/azure-iot-sdk-python/blob/master/doc/python-devbox-setup.md

There is information there about handling the import errors you're seeing with the current ver

[2019-01-15 07:17] mrityunjay0510 commented on #22084
tried with C#. It is working fine

[2019-01-15 07:34] femsulu commented on #22072
Thanks for the update @dcbrown16

@dbsanfte We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-15 07:34] #22072 closed

[2019-01-15 07:35] janfait opened #22464 "Locking by Cross-Database Elastic Queries"
I would like to know whether Elastic Query actually performs a lock on the remote table it is querying from. Our remote table is a part of production with high velocity inserts and a lock would not be optimal.

The documentation, here https://docs.microsoft.com/en-us/azure/sql-database/sql-database-elastic-query-overview does not mention the issue in any way. Many thanks.

---
#### Document Detail

[2019-01-15 07:38] janfait commented on #22464
I would like to know whether Elastic Query actually performs a lock on the remote table it is querying from. Our remote table is a part of production with high velocity inserts and a lock would not be optimal. The documentation does not mention the issue in any way. Many thanks.

[2019-01-15 07:46] mike-urnun-msft commented on #21852
@MrRajeshRai Pretty sure you can do so by using `[set-header](https://docs.microsoft.com/en-us/azure/api-management/api-management-transformation-policies#SetHTTPheader)` to pass in your custom traceid in the header and `[trace](https://docs.microsoft.com/en-us/azure/api-management/api-management-advanced-policies#Trace)` policy to log to API Inspector.

We will close this thread for now. If there

[2019-01-15 07:46] #21852 closed

[2019-01-15 07:50] mike-urnun-msft commented on #22226
@jasonshave Glad to hear you are now unblocked. To address your feedback around adding diagram, we have assigned this issue to the author to review further and take the right course of action.

[2019-01-15 07:58] ecfan commented on #21291
@tjohnson1010, thanks for submitting this issue. We have a fix in progress, which should appear in the next day or so. Although the example shows all the criteria, we'll add a note that for testing, just pick one criteria.

[2019-01-15 08:07] dcbrown16 opened #22465 "Azure Kubernetes Service (AKS) support"
I understand that AKS is a separate service from Container Instances.
The following blog seems to indicate that the service principal for an AKS cluster can use a Managed Instance.
https://samcogan.com/pod-identity-with-kubernetes-in-azure/
Is AKS officially supported by this feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-01-15 08:11] femsulu commented on #22430
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-15 08:11] #22430 closed

[2019-01-15 08:16] vainolo commented on #21245
@kazshi - There is a small mistake in the documentation where it's written that the audit is stored in a container named "sqldbauditlogs". The name of the container is whatever you chose when you defined the storage and audit in the previous steps. I'll update the documentation to note this.

[2019-01-15 08:21] mike-urnun-msft commented on #22007
@jcbrooks92 Thanks again for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-01-15 08:30] wilsonchua20 commented on #21343
we cant seem to ping your ip address: 40.112.254.71

[2019-01-15 08:37] mike-urnun-msft commented on #22179
@vladvino could you weigh in on the callout regarding feature availability in Consumption tier? Happy to remove the Note block and create a PR.

[2019-01-15 08:48] cephalin commented on #21330
This is the known issue we are aware of

https://github.com/Azure/azure-cli/issues/6929

If this is a different issue please file a Github issue using this https://github.com/Azure/azure-cli/issues/new/choose

#please-close

[2019-01-15 08:54] JohnReeson opened #22466 "How to terminate function running in Eclipse"
In this [part](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-maven-eclipse#run-functions-locally-in-the-ide), it says `Terminate the runtime in the console window`. But I don't find any way to do it, the console is read-only(`Ctrl+C` not useful) and `Terminate` button has no influence on function. Did I miss sth apparent or the doc needs to elaborate the steps?

---
####

[2019-01-15 08:57] sgiovinetti commented on #22374
@Mike-Ubezzi-MSFT: yes my scenario is exactly what you have described "you are connecting to a SQL data source that is a Read Scale-Out deployment that is supporting Azure Analysis Services DirectQuery Tabular data models".

My question is how to create the correct connection string in AAS. In AAS I have the following. I tried inserting the json applicationintent property ("applicationIntent": "Re

[2019-01-15 09:06] OffColour opened #22467 "Outbound firewall"
Like most Azure documentation, it covers what needs to be done on the Azure side to allow access, but it doesn't cover what needs to be done on the client side. Outbound firewall rules are pretty standard these days, so what ports and IP addresses need to be opened on the client side to use this service?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-01-15 09:06] yoyogin opened #22468 "More details on Role assignments per Azure subscription limit"
Can you please provide more details on 'Role assignments per Azure subscription' ? does it mean that I cannot assign more than 2000 records on a subscription? What about resources under the subscription (say storage account) does the limit applies to them as well? If true, does inherited permissions on resources under a subscription count ?

---
#### Document Details

⚠ *Do not edit this section.

[2019-01-15 09:09] YvonneArnoldus opened #22469 "Obtain workspace ID and key is out of date"
Hi,

The steps in `Obtain workspace ID and key` will not always get you the workspace ID. Most of the time I will not see the information. Most of the time I see the menu (refresh & logs) but nothing below that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00a00a3e-a0df-7ee5-4733-7231bd7a024f
* Version Independent ID

[2019-01-15 09:13] sahilpnckr123 opened #22470 "Cannot RDP to JumpServer"
Cannot RDP to Jump server whose subnet is associated with a UDR which points to Azure Firewall. Is there any need to add any network rule in the Azure FIrewall? Or is there any legit solution for this.?

[2019-01-15 09:16] flomader opened #22471 "Output - C# example does not work"
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-hubs#output---c-example throws error: Microsoft.Azure.WebJobs.Host: Cannot bind parameter '$return' to type String&. Make sure the parameter Type is supported by the binding. Generated function.json does not contain an EventHub binding.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-01-15 09:36] iBuk-Mac opened #22475 "Sos"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-01-15 09:38] kanthael opened #22476 "What happens to existing Personal Google accounts when syncing?"
Hey,

We are evaluating using SSO and Provisioning with Azure AD, we got the SSO working fine and still completing some tests. Now we are looking at provisioning... my question is simple:

What happens with the provisioning of accounts when the user has already created a personal Google account?
If you are a Google Admin today, you can access https://admin.google.com/AdminHome#ConsumerInvite: to s

[2019-01-15 09:46] ManuelMos commented on #22333
Thanks. I made a request for the maven plugin [here](https://github.com/Microsoft/azure-maven-plugins/issues/560)

[2019-01-15 09:46] #22333 closed

[2019-01-15 09:47] idohalevi commented on #22073
@femsulu @johnkemnetz
Any updates?

[2019-01-15 09:58] MarekLani opened #22477 "Provide full list of possible values for entitity properties"
Hello, I would like to ask to enrich swagger documentation by all the possible values that can be set for the entity types, resp. it's properties. E.g. when creating Sensor there is need to specify SensorDataType, while swagger provides following documentation for SensorDataType field:
"SensorDataType : defined as category of data the sensor collects, i.e. "Motion", "Temperature", "Humidity", "Sou

[2019-01-15 10:03] bcrobinson opened #22478 "SUBSTRING requires 3 parameters but documentation says the last one is optional"
Documentation specifies that the 3rd parameter as optional:
`SUBSTRING(&lt;str_expr&gt;, &lt;num_expr&gt; [, &lt;num_expr&gt;])`

But running the following query
`SELECT  SUBSTRING("abc", 1)`

Results in the following error
`The SUBSTRING function requires 3 argument(s).`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-01-15 10:05] sciencec commented on #22391
Simplification and digestibility is fine, it's just the problem that in particular beginners frequently have the problem to understand that the "linear" in linear regression (or in linear models in general) does not at all refers to "straight line". I've taught applied statistics for experimental research for years and observed this kind of confusion frequently and the mentioned phrase creates exa

[2019-01-15 10:06] dominicbetts commented on #22167
Hi @CodingSpiderFox  - I've updated the glossary to add some definitions related to modules. Thanks for the suggestion.

#please-close

[2019-01-15 10:06] sergaz-msft commented on #22477
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-15 10:07] djaus2 opened #22479 "CSharpModule not running"
Having pushed the Repository, and set up an IoT Hub and using a MinnnowBoardMax  running IoT-Core as my target device, when I **Create Deployment for Single device** the other 3 modules run but the CSharpModule doesn't.  All 4 modules show on the hub but the CSharpModule fails to be pulled by the device:

    14/01/2019 11:41:45 PM info: edgelet_docker::runtime -- Pulling image

[2019-01-15 10:08] flomader commented on #22471
My fault, I tried it again with a clean new function and now it works. Probably an issue with dependencies. Only installed this one this time: dotnet add package Microsoft.Azure.WebJobs.Extensions.EventHubs --version 3.0.1

[2019-01-15 10:08] #22471 closed

[2019-01-15 10:09] YvonneArnoldus opened #22480 "Error in example script."
When I use:

az vm extension set \
  --resource-group myResourceGroup \
  --vm-name myVM \
  --name Microsoft.Powershell.DSC \
  --publisher Microsoft.Powershell \
  --version 2.73 --protected-settings '{}' \
  --settings '{}'

I get this error:
Extension with publisher 'Microsoft.Powershell', type 'Microsoft.Powershell.DSC', and type handler version '2.76' could not be found in the extension repo

[2019-01-15 10:11] #22391 closed

[2019-01-15 10:34] ArvidBaa commented on #16204
Have there been any updates to my follow up questions above? Especially how to handle the secrets without writing them in plain text? I am at the moment trying to implement this kind of data preparation in a pipeline for my Machine Learning service, and when doing so I don't want my database credentials to be included as plain text in the scripts. I would like to store them somewhere secure, like

[2019-01-15 10:39] djaus2 commented on #22479
Reply: Yes to both.  I have though reimaged my IoT-Core device and recreated my IoT Hub since 2 though.

[2019-01-15 10:52] carlfm01 commented on #22273
Yes, I know that sometimes the vm will not allocate but anyways It creates the scale set, before I opened the issue I checked the availability of few vm that I needed as low priority for a week.
2 weeks ago I created scale sets with the NC6 and F16_v2, I'm able to allocate and dellocate today.
![captura de pantalla 787](https://user-images.githubusercontent.com/32177100/51175466-0d53ff80-1880-11e9

[2019-01-15 10:58] sahilpnckr123 opened #22481 "AZURE FIREWALL not working in SITE to SITE"
i had set up an AZURE Firewall in Site-Site Hub and spoke model but the spoke VMs do not follow the Firewall Rules .. Please Help

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6992344b-e177-d268-f308-2be505a2db93
* Version Independent ID: 10263b55-b03c-9e1c-f0b8-ac887eb1b411
* Content: [Tutorial: Deploy and configure

[2019-01-15 11:15] rolanddb commented on #22384
@Mike-Ubezzi-MSFT Thank you for your help.
I switched to `Allow access from All networks` but got the same error.

I've deployed CosmosDB in a new Vnet+Subnet with all default settings from the web portal.

[2019-01-15 11:31] NickOliva commented on #14245
Hi, we're considering SF and it would be helpful to know the resolution on issue such as this one. Any update?

[2019-01-15 11:33] sergaz-msft commented on #22209
HI @evan-morris you can see the source code of tempSensor module [here](https://github.com/Azure/iotedge/blob/027a509549a248647ed41ca7fe1dc508771c8123/edge-modules/SimulatedTemperatureSensor/src/Program.cs).

1. You can create your own custom module based on that and reduce the rate.
2. By default the tempSensor Module sends 500 messages - [see here](https://docs.microsoft.com/en-us/azure/iot-edge

[2019-01-15 11:36] timmkrause opened #22482 "Monitor Azure Functions: Incorrect Azure CLI command (?)"
`az account set <subscriptionNameOrId>` did not work for me, because:
[code]

I needed to use `az account set --subscription <subscriptionNameOrId>`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13672b67-22ea-3dda-8b6b-3332c24e6030
* Version Independent ID: fdc60aeb-9971-1d9f-a6ba-b3ad818cf0d5
* Content: [Monitor Azur

[2019-01-15 11:38] sergaz-msft commented on #22285
Hi @djaus2 . You would need to remove the module from Azure IoT Edge in the Portal and also remove the respective docker container from your device.

See the discussion here around a similar topic: https://github.com/MicrosoftDocs/azure-docs/issues/19208

Thanks!

[2019-01-15 11:40] sergaz-msft commented on #22296
Thanks @kgremban !
@djaus2 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-15 11:40] #22296 closed

[2019-01-15 11:49] sergaz-msft commented on #22362
Hi @saifuddin123 .
Can you confirm what version of `iot-service-client` are you using ? The tutorial points you to the following:

Did you change it to 1.15.2? If not can you do it and let us know the results after that?

[code]

Thanks!

[2019-01-15 11:52] sergaz-msft commented on #22479
Thanks for checking. This looks like an issue with the credentials to your Azure Container Registry. Can you try using Docker Hub instead?

[2019-01-15 12:00] djaus2 commented on #22479
I'll give that a try tomorrow, thx.

[2019-01-15 12:01] axatix opened #22483 "M32ts ratio"
Hello All,

would be possible tell to which group the server M32ts belongs? I can't find it on the list

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9c028aa-490d-e8be-61e2-b84974dc970d
* Version Independent ID: 0018132b-babc-305b-bc09-7324cb6895d8
* Content: [Virtual machine size flexibility -Azure Reserved

[2019-01-15 12:08] saifuddin123 commented on #22362
Thank you, I was using 1.7.23 as per the doc. After changing to latest. i see the below, better.. How can i get the complete twin details, to know connectionState, capabilitioes.iotedge..etc

Device ID: testdevice2
ETag: AAAAAAAAAAU=
Version: 6
Tags:{"HomeID":"110ac534-e1bd-4e2c-bad7-a216c25dd42d"}
Reported Properties{}
Desired Properties: {"hum":75.0,"temp":69.0,"$version":4,"$metadata":{"$lastUp

[2019-01-15 12:47] Xumukk opened #22484 "There is no clear statement data would be lost on NVMe disk after VM deallocation."
There is no clear statement data would be lost on NVMe disk after VM deallocation/redeployement to another node. The information in the Lsv2-series table is misleading as there is no reference that NVMe disks are not regular data disks and act as high-performant temporary storage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-01-15 13:05] SumanthMarigowda-MSFT commented on #22467
@OffColour Thanks for your question. We are checking on this and will respond to you soon.

[2019-01-15 13:36] wegascee opened #22485 "W3C Push API"
Is the W3C Push API (https://www.w3.org/TR/push-api/) supported by Azure Notification Hub? Chrome apps are kind of deprecated (https://blog.chromium.org/2016/08/from-chrome-apps-to-web.html).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eed3ea70-2c00-0b20-2f00-f9ec74317a9e
* Version Independent ID: e788209d-342e-1bce

[2019-01-15 13:42] Anmolgan81 opened #22486 "How can this be done: Use http connector as Onpremise sharepoint connector and drop files to azure storage account"
How can I use the http connector to connect to the onpremise sharepoint server and drop files to azure storage account? Can this be done using the http connector?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb254eed-873c-17d6-3d95-1d1c93a901b4
* Version Independent ID: 13e1abe1-486b-6eeb-36aa-2d4b17587bb5
* Content:

[2019-01-15 13:43] jzuchora87 opened #22487 "Azure Automation"
Is Azure Automation a trusted service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45d20da7-23ff-7f4b-6689-be40e3b55028
* Version Independent ID: 20d481b8-80bc-8249-7196-7d09834f61c2
* Content: [Virtual network service endpoints for Azure Key Vault - Azure Key Vault](https://docs.microsoft.com/en-us/azure/key-vault/

[2019-01-15 13:47] hensilva opened #22488 "Fail to deploy because of TLS 1.2 configuration in PowerShell"
My deployment failed and I opened a support ticket with Microsoft (REG:119010821000497). From support "In addition to that, the reason why you received the terminating error during first deployment is due to a known issue with TLS 1.2 configuration on workstation where you initiated the deployment.". The final solution was to uninstall and install again, but temporarily enabling TLS 1.2 in the Pow

[2019-01-15 13:48] ruudw opened #22489 "Unable to renew job lease - error unclear"
**Case**
Our employees use a daily generated SAS URI to connect to our blob storage and upload files (+/- 20 mb, 50-100 pieces). This SAS URI has permissions for: Read, Add, Create and List.

When uploading commences the first 5 files are simultaneously started. After this process starts for some of our employees the files fail after some time. The error shown:
[code]
All files after the first 5 a

[2019-01-15 13:52] sergaz-msft commented on #22167
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-15 13:52] #22167 closed

[2019-01-15 13:57] itorian opened #22490 "Azure SignalR Service for ASP.NET (.NET Framework) ?"
Is this available for ASP.NET (.NET Framework), if not available, suggest alternative option?
What are the limitations/challenges we may face if not use Azure SignalR Service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edb1fa6c-8433-882f-8b97-4d381f885b1d
* Version Independent ID: aad3ec71-363f-3500-8bcd-dc040f7182

[2019-01-15 13:58] sergaz-msft commented on #22362
Can you give an example of what values would you like to see from a twin ? Do you see something different in the Portal? Send some screenshots please.

Thanks

[2019-01-15 14:00] blueelvis opened #22491 "What does the "systemId" correspond to?"
Could you please tell me how these are related to a particular NSG? How is this generated and how this can be queried for? Under what conditions can this be different?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd699dac-d6e5-5a39-624f-2d3f77f92fca
* Version Independent ID: c922bcd2-0778-a7af-4855-1bff6c9ce380
* Con

[2019-01-15 14:07] woutervanranst opened #22492 "Comparison vs Blueprint & Policies"
Can you clarify somewhere what the difference would be vs policies & blueprint (proactive?) and compliance dashboard (reactive?) and what the recommended practices are to combine both?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 189a873a-3554-bfbc-eb3a-dc408df1d6d2
* Version Independent ID: acbbeaa4-2b6d-f048-9845-5

[2019-01-15 14:08] woutervanranst opened #22493 "Dead link in Azure SC Portal"
The link in the Azure Portal with the blue hammer ("Learn More") is still pointing to https://aka.ms/AscRegulatoryComplianceLearnMore which is a dead end

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 189a873a-3554-bfbc-eb3a-dc408df1d6d2
* Version Independent ID: acbbeaa4-2b6d-f048-9845-59a81824ac65
* Content: [Improve

[2019-01-15 14:09] OOPMichael commented on #22399
I found it apolagies, the instructions for data disks attached to a VMSS are in this doc https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/tutorial-use-disks-powershell.

[2019-01-15 14:11] Tiberriver256 opened #22494 "Able to log in from Windows Subsystem for Linux?"
Does this work from WSL? I was unable to get it working myself.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8e2623-1f79-aee3-bd97-8b5f647b6980
* Version Independent ID: 6346b54d-cc8d-0b79-a6b8-f9144cfa2459
* Content: [Log in to a Linux VM with Azure Active Directory credentials](https://docs.microsoft.com/en-us/az

[2019-01-15 14:15] Futtrup87 commented on #22092
I got the OPC Publisher working some of the way.
Its "Repported by device" in the Azure Portal.
But it seems the module cant find the configuration file (json)...
[15:06:44 INF] The name of the configuration file for published nodes is: c:\iiotedge\pn.json
[15:06:44 INF] The node configuration file 'c:\iiotedge\pn.json' does not exist. Continue and wait for remote configuration requests.
[OPC-Publ

[2019-01-15 14:23] Futtrup87 commented on #22092
I have tried with different container create options.
The first i tried was the one that worked when my Edge was a Linux Container:

[ContainerCreateOptions_OPCPublisher1.txt](https://github.com/MicrosoftDocs/azure-docs/files/2759982/ContainerCreateOptions_OPCPublisher1.txt)

The second try i changed from slashes to double backslashes (escape char + the backslash itself)

[ContainerCreateOptions_O

[2019-01-15 14:32] aabalosc opened #22495 "OPENJSON example is missing the FROM keyword"
The provided example should look like the one below:

CREATE PROCEDURE InsertOrders(@orders nvarchar(max))
AS BEGIN

    insert into Orders(Number, Date, Customer, Quantity)
    select Number, Date, Customer, Quantity
    FROM OPENJSON (@orders)
     WITH (
            Number varchar(200),
            Date datetime,
            Customer varchar(200),
            Quantity int
     )

END

---
####

[2019-01-15 14:40] sergaz-msft commented on #21967
Thanks @shizn and @erich-wang . Please let us know when it's fixed.

[2019-01-15 14:44] cjwolford opened #22497 "Unable to enforce conditional access on google accounts"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-01-15 14:45] #22497 closed

[2019-01-15 14:47] cjwolford opened #22498 "Unable to target Google Accounts for Conditional Access"
It doesn't seem possible to target Google Accounts for MFA like other guest users. Or maybe "All guest users (preview)" doesn't include the scope of the google accounts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ed01893-a5cd-28bd-b865-e7ebe5870567
* Version Independent ID: b3d96be0-1470-eb2c-ea5b-cea0a5cc44a1
* C

[2019-01-15 14:51] woutervanranst opened #22500 "Typo"
"Preminu" storage

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af858f46-d98b-9240-47d8-74f98f1d9047
* Version Independent ID: e9d83d42-4a73-ab63-5742-bd34210c4626
* Content: [Azure Linux VM sizes - Storage](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/sizes-storage)
* Content Source: [articles/virtua

[2019-01-15 15:08] Weychris opened #22501 "Can OS disk be detached?"
Can OS disk be detached?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc8c8392-0eb4-cda5-c282-0656869b7a6b
* Version Independent ID: 5d4d2a61-9d83-a09e-2c33-36465a04e5c5
* Content: [Detach a data disk from a Windows VM - Azure](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/detach-disk#detach-a-data-

[2019-01-15 15:11] MGoedtel commented on #22469
@YvonneArnoldus - The steps are correct and I'm interpreting your statement as this has been an intermittent issue, where sometimes it works as advertised/intended, but most other times it does not?  Because this isn't a doc issue and more a technical issue for you, I'm asking @MicrosoftDocs/azure-cxp-triage to redirect this to support or the appropriate forum for this question.  Good luck.

[2019-01-15 15:14] Emvardol commented on #10258
I guess this documentation needs to be updated. You are mentioning here about versions of AD connect from more than 1 year ago.

[2019-01-15 15:14] DCtheGeek commented on #22132
@jessie-pang Thank you again for the feedback and if this didn't provide the information you were looking for, please let us know!

@MicrosoftDocs/azure-cxp-triage Please remove label 'doc-enhancement', add label 'product-question', and #please-close.

[2019-01-15 15:18] #22393 closed

[2019-01-15 15:33] jpetitte opened #22502 "access to node req/res objects?"
Can we access the native nodejs req/res objects? That would be extremely helpful for working with a number of libraries.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b47363e3-c36f-0755-819c-26946013d673
* Version Independent ID: 197c63a1-9f72-1049-f27e-8c9c672ec472
* Content: [JavaScript developer reference for Azure

[2019-01-15 15:38] #22304 closed

[2019-01-15 15:50] vuder opened #22503 "For Platinum reliability tier a target replica set count of nine, not seven"
For Platinum reliability tier a target replica set count of nine, not seven

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 658de695-0927-175f-0419-dcf7b6bece9d
* Version Independent ID: 8166322c-774b-9434-3df5-5501b7dd9cf1
* Content: [Planning the Service Fabric cluster capacity](https://docs.microsoft.com/en-us/azure/

[2019-01-15 16:01] JulioCGC commented on #22177
Any news about it??

[2019-01-15 16:03] vorba opened #22504 "Providing password reset within an application (not via a flow that requires user to leave the domain of the application via hosted web service)"
Hello.  What if my user is signed into my application (and I have a valid token) is there a way for me to provide password reset/update/change by giving them the dialog in my app, and then making a call to API to reset the password?  I have tried, and seems I am unable to satisfy this requirement.  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-01-15 16:15] KetanChawda-MSFT commented on #22482
@timmkrause Thank you for reporting this issue. I have created a PR which will fix this issue by tomorrow.

[2019-01-15 16:19] sadedil commented on #14304
I think this should be added to limitations part too. Because currently it says

But in this scenario, i already have an AKS cluster and its already RBAC enabled. I only need to add some server/client api keys to use kubectl with different rights for different AD users. Am i right?

[2019-01-15 16:20] KetanChawda-MSFT commented on #22466
@JohnReeson Thank you for posting your question. We will review and provide an update on this.

[2019-01-15 16:21] MGoedtel commented on #19935
@alistairl - Sorry for taking so long but I just reviewed the template and it is properly formatted and syntactically correct.  I also ran through the steps to re-test the use of the cmdlet referencing the json template from my local disk (i.e. -TemplateFile C:\Scripts\InstallSolutionsForVMInsights.json) and it worked successfully as described.  Upon review however, I did notice the code block sho

[2019-01-15 16:32] #22482 closed

[2019-01-15 16:40] #21507 closed

[2019-01-15 16:40] ihfootlockerdev opened #22506 "I'm looking for the documentation on Azure Policy Compliance and Compliance Reporting"
I'm looking for the documentation on Azure Policy Compliance and Compliance Reporting and it doesn't seem readily available from here. I think that might be important to at least link to the information from here. Thanks and take care.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07fab47b-3b7a-c02e-c863-2c60f0e06f94

[2019-01-15 16:46] DCtheGeek commented on #22506
@ihfootlockerdev The articles you are looking for are under the **How-to guides** portion of the Table Of Contents (TOC) menu on the left side of the doc. Additionally, using the filter above the Table Of Contents for "compliance" shows articles that have content related to that keyword.  Please let me know if this helps you find what you are looking for.  Thanks!

@MicrosoftDocs/azure-cxp-triage

[2019-01-15 16:50] sac8m opened #22507 "Same tutorial with Managed Identities"
Azure recommendation is to replace service principal with Managed Identitiesb(MI).  Is there a tutorial using MI + ADF to build HDI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc24ebe8-5309-3143-ae92-41b6a5150cf6
* Version Independent ID: d0e667a5-9160-73ce-2d29-156915b60a83
* Content: [Tutorial: Create on-demand A

[2019-01-15 17:09] aljo-microsoft commented on #19557
@MicahMcKittrick-MSFT
#please-close

[2019-01-15 17:09] #19935 closed

[2019-01-15 17:09] erhopf commented on #22431
Investigating with engineering.

[2019-01-15 17:23] DiegoRamirez-MSFT commented on #22470
hello @sahilpnckr123 could you please provide the document you are following?

[2019-01-15 17:23] YutongTie-MSFT commented on #22444
@nnmer
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-15 17:37] jftl6y opened #22508 "Diagram nit"
The diagrams depict the App Service Environment sharing a subnet with an IaaS hosted app, which I assume to mean is instantiated as a VM.  VMs cannot be deployed to an ASE subnet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 735c7fb4-13e2-36b1-6310-85e525b01f90
* Version Independent ID: 99b5b1f2-e588-e879-796f-5922c3

[2019-01-15 17:38] Mike-Ubezzi-MSFT commented on #22374
@sgiovinetti Thank you for confirming the scenario. Let me work with a few individuals internally to see if there is a way to accomplish this.

[2019-01-15 17:43] rothja commented on #17626
@femsulu Can you unassigned me from this issue? Thank you!

[2019-01-15 17:44] #21976 closed

[2019-01-15 17:45] rothja commented on #18086
@roygara do you have any thoughts on this question and these limits? Thanks!

[2019-01-15 17:45] erhopf commented on #22431
@VitorX this is indeed a bug in our documentation. Plain text is only supported when using a custom voice, as there is no default for standard voices. Please construct the body as SSML+XML. Examples are available in Python, Node.js, and C#.

[2019-01-15 17:46] #19557 closed

[2019-01-15 17:47] Mike-Ubezzi-MSFT commented on #22384
@rolanddb Thank you for confirming this. I am going to walk through each of steps but I have a questions with regard to the following: `export SSL_CERTFILE=/bc2025.crt`
Does the user you are running `cqlsh` as have the correct permissions to access the .crt file? Are you running on Linux or Mac? Certificates require a very specific permissions setting. You may have an `ssl` subdirectory in this us

[2019-01-15 17:47] rothja commented on #18086
@cynthn, would you mind if this got assigned to you for now (or @roygara if that makes more sense)? I'm not able to help any further based on what I know. Thank you!

[2019-01-15 17:47] MicahMcKittrick-MSFT commented on #14245
+ @aljo-microsoft

[2019-01-15 17:47] MicahMcKittrick-MSFT commented on #18179
CC @aljo-microsoft

[2019-01-15 17:50] PaulTown opened #22510 "Additional ADFS server ports needed"
ADFS Servers need port 80 open between them for WID replication/Sync.  Also ADFS servers need WinRM 5985 to enable ADFS Smart Lockout (Update-AdfsArtifactDatabasePermission) on all the ADFS servers in the farm.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41c38d39-e36b-dd70-9c8c-1fc28a1dba5e
* Version Independent ID:

[2019-01-15 17:50] cynthn commented on #18086
@rothja sorry it took me so long to respond. I think Roy should own it, in case the numbers are off as well (not sure when they were last updated).
@KeiroKamioka0000 can you reassign to @roygara ? Thanks!

[2019-01-15 17:54] sandormakai opened #22511 "SQL Managed Instances related resources"
Hi,
All the resources related to Microsoft.Sql/managedInstances are missing from the list. Also, is there a API supported way to get these information using PowerShell?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f927d2e-a3a6-3de9-5458-5149c163e0d0
* Version Independent ID: 8ce4f6c2-359c-fb55-a3f1-acd2b6a96a

[2019-01-15 17:57] Karishma-Tiwari-MSFT commented on #22399
@OOPMichael Thanks for sharing the update.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-01-15 17:57] #22399 closed

[2019-01-15 17:58] #22132 closed

[2019-01-15 18:02] MicahMcKittrick-MSFT commented on #22437
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-15 18:03] aljo-microsoft commented on #22503
@vuder
The documentation is correct.

Platinum reliability tier is a target replica set of seven, and none seed nodes; as stated in the referenced document. Its possible during an cluster upgrade that replicas can exceed target to protect against data loss, but if cluster is stable healthy without upgrade and replicas set continuously exceeds target; then you should open a support ticket with logs

[2019-01-15 18:05] Karishma-Tiwari-MSFT commented on #22503
@vuder We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-01-15 18:05] #22503 closed

[2019-01-15 18:05] MicahMcKittrick-MSFT commented on #22483
Thanks for the question! We are investigating and will update you shortly.

[2019-01-15 18:05] MicahMcKittrick-MSFT commented on #22484
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-15 18:05] MohitGargMSFT commented on #22192
@prs-ca We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2019-01-15 18:05] #22192 closed

[2019-01-15 18:06] MicahMcKittrick-MSFT commented on #22494
Thanks for the question! We are investigating and will update you shortly.

[2019-01-15 18:06] Karishma-Tiwari-MSFT commented on #22500
Thanks for the feedback. I have created a PR with the update. Changes will be live shortly.

[2019-01-15 18:08] DiegoRamirez-MSFT commented on #22082
@kirpasingh checking if you have any update on this

best

[2019-01-15 18:09] romankiss commented on #21020
Hi Tim,

this part related to the module is completely missing in the documents.

So, I have just spent some time (thanks to the .Net Reflector) to figure out the MQTT CONNECT. The following is what I have tested it using the MQTTBox and MQTT.Fx clients:

BrokerAddress:  {iothubhostname}
BrokerPort:         8883
ClientId:             {deviceId}/{moduleId}
Username:         {iothubhostname}/{device

[2019-01-15 18:09] MohitGargMSFT commented on #22386
@jeanluc33 Please let us know if you have any further query in this regard else we will proceed to close this thread.

[2019-01-15 18:10] DiegoRamirez-MSFT commented on #21375
hello @cveld was the information provided helpful?

best

[2019-01-15 18:11] ecfan commented on #21291
@tjohnson1010, fix should be merged soon and appear sometime today. Thanks!
@KetanChawda-MSFT #please-close, thanks!

[2019-01-15 18:18] Grace-MacJones-MSFT commented on #22490
Hi @itorian, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-15 18:19] Grace-MacJones-MSFT commented on #22485
Hi @wegascee, thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-15 18:30] MarileeTurscak-MSFT commented on #22432
@saf-itpro
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-15 18:31] MicahMcKittrick-MSFT commented on #21888
@MSSedusch could you possibly comment further on this?

[2019-01-15 18:33] MicahMcKittrick-MSFT commented on #21983
Thanks @washraf

@VipulM-MSFT @suchiagicha any further comment?

[2019-01-15 18:35] MicahMcKittrick-MSFT commented on #22095
@abhiramani-iptiq at this point in time we are not aware of any work being done to fully integrate this into the portal. If this is something you would like to see I suggest providing that feature request here:

https://feedback.azure.com/forums/169401-azure-active-directory

I will close for now. If you have further input just let us know

[2019-01-15 18:35] #22095 closed

[2019-01-15 18:37] MicahMcKittrick-MSFT commented on #22213
@abhiramani-iptiq I have ran through this doc a couple of times but I cannot see the same error you are seeing. To dig in further I would suggest opening a technical support ticket. If you do not have the ability to open a technical support ticket you can email me at AzCommunity@microsoft.com and provide me with your SubscriptionID and link to this issue. I can enable your subscription for that re

[2019-01-15 18:37] #22213 closed

[2019-01-15 18:37] Mike-Ubezzi-MSFT commented on #22508
@jftl6y Thank you for raising this as a possible issue. I believe they can share a VNet but not a subnet. I am going to assign this to the content author (@srdan-bozovic-msft & @CarlRabeler) to evaluate and update as appropriate. Please confirm the diagram that is in question:

[2019-01-15 18:37] MicahMcKittrick-MSFT commented on #22225
Thanks @aljo-microsoft

@wp1107 was that helpful? Any further comments?

[2019-01-15 18:39] MicahMcKittrick-MSFT commented on #22388
@BharathRahulDS I will close this for now. If you have further questions just let us know and we can always reopen and continue.

[2019-01-15 18:39] #22388 closed

[2019-01-15 18:40] hectoralicea commented on #22410
yea, my bad.  It appears that all happens under the covers with dynamic.  The key for me getting it working is that it needed to be a storage account that's created in the same resource group as the AKS cluster.  Once I did that the above instructions worked fine.

[2019-01-15 18:40] MicahMcKittrick-MSFT commented on #22418
@KeiroKamioka0000 I will close for now. If you have further questions just let us know and we can reopen and continue.

[2019-01-15 18:40] #22418 closed

[2019-01-15 18:42] Mike-Ubezzi-MSFT commented on #22495
@aabalosc Thank you for brigning this to our attention. I am having the content author (@jovanpop-msft & @CarlRabeler) evaluate this and update as appropriate.

[2019-01-15 18:42] CarlRabeler commented on #22508
Please review this customer feedback / question – see https://github.com/MicrosoftDocs/azure-docs/issues/22508

Comments also brought forward below.

“The diagrams depict the App Service Environment sharing a subnet with an IaaS hosted app, which I assume to mean is instantiated as a VM. VMs cannot be deployed to an ASE subnet.”

@jftl6y<https://github.com/jftl6y> Thank you for raising this as a p

[2019-01-15 18:43] #22488 closed

[2019-01-15 18:44] femsulu commented on #22468
@yoyogin Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-15 18:45] #22410 closed

[2019-01-15 18:47] MarileeTurscak-MSFT commented on #22438
@WinEcos
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-15 18:47] Mike-Ubezzi-MSFT commented on #22478
@bcrobinson Thank you for briging this to our attention. I am assigning this to the content author (@markjbrown) to evaluate and update as appropriate.

[2019-01-15 18:47] femsulu commented on #22511
@sandormakai Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-15 18:48] aljo-microsoft commented on #14245
@eugen-nw @NickOliva @tejasavora @lusocoding @Nisha2015

"
Run the application locally
Right-click the Visual Studio icon in the Start Menu and choose Run as administrator. In order to attach the debugger to your services, you need to run Visual Studio as administrator.
"
Ref:
https://docs.microsoft.com/azure/service-fabric/service-fabric-quickstart-dotnet

@MicahMcKittrick-MSFT and @Karishma-Tiwa

[2019-01-15 18:48] MicahMcKittrick-MSFT commented on #22435
@wsmelton I ran through the doc and when using xrdp I was able to get into the server via RDP without opening any additional ports other than the network security group. This might very well be different for Ubuntu Desktop as you found. I will close this as this doc does not require any updates but the comment here might help others who use Ubuntu Desktop.

[2019-01-15 18:48] CarlRabeler commented on #22508
Yes, that's correct I'll fix the diagram :)

Best regards,
Srdjan Bozovic

From: Carl Rabeler <Carl.Rabeler@microsoft.com>
Sent: Tuesday, January 15, 2019 7:42 PM
To: MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>; Srdan Bozovic <Srdjan.Bozovic@microsoft.com>
Cc: Mention <mention@noreply.github.com>
Subject: RE: [MicrosoftDocs/azure-docs

[2019-01-15 18:49] manish-shukla01 commented on #22483
+@Yashesvi Sharma<mailto:yashar@microsoft.com>

From: Micah <notifications@github.com>
Sent: Tuesday, January 15, 2019 10:05 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Manish Shukla <Manish.Shukla@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] M32ts ratio (#22483)

Thanks for the question! We are investigating and will update y

[2019-01-15 18:49] CarlRabeler commented on #22508
Great 😊

From: Srdan Bozovic <Srdjan.Bozovic@microsoft.com>
Sent: Tuesday, January 15, 2019 10:49 AM
To: Carl Rabeler <Carl.Rabeler@microsoft.com>; MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: RE: [MicrosoftDocs/azure-docs] Diagram nit (#22508)

Yes, that’s correct I’ll fix the diagram

[2019-01-15 18:50] MicahMcKittrick-MSFT commented on #22437
@phil-lgr this request might be a bit out of scope of this current doc but I will assign to the content author to review and determine how to move forward.

@dlepow can you take a look?

[2019-01-15 18:51] DrEnnui opened #22512 "RM UI is different than instructions..."
...but that's just good training.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7294d2f2-a192-92dc-d7a6-6c262817e59d
* Version Independent ID: 5fc3ac6f-d2c7-2964-4bc7-f2d203aeb773
* Content: [Filter network traffic - tutorial - Azure Portal](https://docs.microsoft.com/en-us/azure/virtual-network/tutorial-filter-networ

[2019-01-15 18:52] MicahMcKittrick-MSFT commented on #14245
@aljo-microsoft adding the context would be good. That being said, when I tested this doc I did run as admin and I still found issues with performance and usability. So there there might be underlying issues that need to be addressed.

[2019-01-15 18:53] MarileeTurscak-MSFT commented on #22504
@vorba
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-15 18:54] mike-urnun-msft commented on #22502
Hi @jpetitte Thank you for your feedback! We will review and update as appropriate.

[2019-01-15 18:55] MarileeTurscak-MSFT commented on #22498
@cjwolford
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-15 18:56] MarileeTurscak-MSFT commented on #22510
@PaulTown
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-15 18:57] cjragan opened #22513 "Call a dynamic stored procedure name"
Let's say I am iterating over an array of table names and for each table I want to call stored procedure called sp_Load&lt;TableName&gt;. The stored procedure activity cannot do that, but the lookup activity CAN do it by parameterizing the lookup SQL using an EXEC command: EXEC dbo.sp_Load@{item().TableName}. This feature/example really deserves its own place in the documentation. I could not find

[2019-01-15 18:57] SaurabhSharma-MSFT commented on #22493
@woutervanranst Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-15 18:57] SaurabhSharma-MSFT commented on #22492
@woutervanranst Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-15 18:58] wsmelton commented on #22435
I used xrdp as well. Nothing worked until I added the OS level port access. The desktop UI is irrelevant as it does not have anything to do with the network access.

[2019-01-15 18:58] MicahMcKittrick-MSFT commented on #22439
@tiny-dancer I will assign to the author to review and see if we should add that link as the next steps.

[2019-01-15 18:58] SaurabhSharma-MSFT commented on #22487
@jzuchora87 Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-15 18:58] jason-j-MSFT commented on #22461
@kazshi the packages are part of a bundle and can be installed all at once or extracted individually.  This is explained in the document you linked.

[2019-01-15 18:58] #22461 closed

[2019-01-15 18:59] SaurabhSharma-MSFT commented on #22476
@kanthael Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-15 18:59] MicahMcKittrick-MSFT commented on #22435
@wsmelton fair enough. We could add a note as regardless it would not hurt.

@cynthn could you take a look?

[2019-01-15 18:59] SaurabhSharma-MSFT commented on #22465
@dcbrown16 Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-15 19:01] jason-j-MSFT commented on #22469
@YvonneArnoldus you can create a thread in the forums for better visibility:
https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=opinsights

[2019-01-15 19:01] #22469 closed

[2019-01-15 19:02] jfuller05 commented on #22099
Thank you for the feedback. In my original post I was using the Resource Manager Template to accomplish the vnet peering. I found that using PowerShell I'm able to create the peering between the 2 Azure AD Tenants with 2 different subscriptions following the instructions here https://docs.microsoft.com/en-us/azure/virtual-network/create-peering-different-subscriptions#powershell

[2019-01-15 19:03] wsmelton commented on #22435
I'm repeating it now just waiting for the desktop UI to install.

This is the network security group I have configured against the ubuntu VM:
![image](https://user-images.githubusercontent.com/11204251/51203106-e5878a80-18c5-11e9-927e-fea5713963e4.png)

[2019-01-15 19:03] MarileeTurscak-MSFT commented on #21040
@AaronL100 Would you be willing to speak with someone on the product team about this and provide more details about your use case? Please email me at AzCommunity@microsoft.com

[2019-01-15 19:07] cynthn commented on #22435
@wsmelton the doc was written to 16.04 (which is what we use for all testing for docs atm), so it could be an issue with 18.04. Creating the NSG should mean you don't have to open the port within the OS, so it is probably a bug in the NSG if it isn't working. Let me know what happens with the latest test :)

[2019-01-15 19:07] #15680 closed

[2019-01-15 19:09] rothja commented on #22468
@yoyogin Thank you for the question. I'm going to try to get you to a content lead in this area. Based on the role-based access control articles, I believe that is @rolyon.

[2019-01-15 19:10] rothja commented on #22468
@femsulu Can you please reassign this git issue to @rolyon and unassign me? Thank you!

[2019-01-15 19:12] aljo-microsoft commented on #15332
@JonasBr68
@mjrousos statement is correct, for production best practices, user should be updating ARM template instance count properties, and compute doesn't expose a "Select this one" property. So when you update your ARM template to reduce the count, it will take the highest or latest provisioned instance away. So this is why our documentation has you disable that node that compute will take awa

[2019-01-15 19:12] CarlRabeler commented on #22495
Fixed https://github.com/MicrosoftDocs/azure-docs-pr/pull/63092

Live later today

[2019-01-15 19:20] TravisCragg-MSFT commented on #22491
@blueelvis The SystemID is the ID of a NSG. This is not the easiest thing to obtain, I was able to find it by going to [Resources.Azure.com](https://resources.azure.com) and navigating to the NSG. Under "Properties" -> "ResourceGUID" was the SystemID

In Powershell, the Resource GUID can be obtained by getting a NSG and selecting the "ResourceGUID" property.

` Get-AzureRmNetworkSecurityGroup -nam

[2019-01-15 19:20] ecfan commented on #21291
@tjohnson1010 We'll address the suggestion separately for what happens when the trigger changes but you have unsent batched messages.

[2019-01-15 19:21] TravisCragg-MSFT commented on #22489
@ruudw could you please post a link to the doc you are referring to?

[2019-01-15 19:23] #12425 closed

[2019-01-15 19:24] Grace-MacJones-MSFT commented on #21330
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-15 19:24] #21330 closed

[2019-01-15 19:24] #15332 closed

[2019-01-15 19:27] bigdatamoore opened #22514 "Consumption Plan for Linux"
This page states that Linux Hosting is only available for App Service Plans, but the Consumption Plan for Linux is now in Preview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06436739-8586-23b1-6b69-1960e93c26be
* Version Independent ID: 8f7abfae-cf6d-56cb-1d20-f02041a6f6d9
* Content: [Azure Functions scale and hosti

[2019-01-15 19:36] stephkdonahue opened #22515 "Help understanding B2B external licensing tracking vs SP invited users"
I would love to see more content around planning for an extranet in SharePoint.  If I'm managing an extranet in SharePoint, it would be ideal to use B2B over a one to one SharePoint invite so that I have more control.  In that scenario, how do I track the number of external users that have been invited via B2B vs SharePoint invite?  They look the same to me in AD.  I don't understand how you could

[2019-01-15 19:44] #17603 closed

[2019-01-15 19:45] janekkkk commented on #9557
@chetanku did you ever found out the answer?

[2019-01-15 19:47] MladjoA commented on #22464
@janfait Locks are taken in the remote db the same way as a regular local query would take them.
The amount of locking depends on the READ_COMMITTED_SNAPSHOT option on the remote side, which is by default turned on in Azure.

[2019-01-15 19:48] craigshoemaker commented on #21614
Thanks for your input, @euankennedy! I have added this to my internal backlog. I will update this thread when the article is updated.

[2019-01-15 19:51] derekbekoe commented on #22417
Okay thanks for the response. It clears up my question.

This part doesn't make it clear that it's not possible to know what's changed *within an updated document*. I interpreted it as you will always get *both* updates and inserts and cannot filter for only updates. Not that when you get a notification, it only returns the current (new) state of the document and not the properties that were chang

[2019-01-15 19:53] craigshoemaker commented on #22007
Thanks, @jcbrooks92. I have signed off on a PR with this change. The doc will be updated in production at the next refresh.

[2019-01-15 20:12] MGoedtel commented on #19262
@CHDAFNI-MSFT - I escalated this to the PG back in late November and I just did the same again with emphasis in order to get this resolved quickly.  My apologies for the delay.  I suspect it behaves similarly to an AD Health Check delivered by our Premier organization, where it only needs to run on a single DC in the forest in order to collect the data related to AD and the other DCs.  But I don't

[2019-01-15 20:12] Adam-Smith-MSFT commented on #22327
@rccnw Thanks for the clarification, I will go ahead and close the thread. Please feel free to reopen if you have any other questions.

[2019-01-15 20:12] #22327 closed

[2019-01-15 20:25] jeffkeilman opened #22517 "Get current iteration"
I was wondering if there was a way to get the current (number of the) iteration. For instance, is there a built in way to get the number "2" out of the 3rd iteration for logging purposes? Similar to how JS has an optional index param that you can pull for use in your callback. This would be extremely helpful. Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-01-15 20:30] SaurabhSharma-MSFT commented on #22492
@woutervanranst can you please elaborate your ask as I am not able to find anything about policies or blueprint in the documentation you have shared.

[2019-01-15 20:32] craigshoemaker commented on #21165
Thanks for the input, @pmozbert. I have added this task to my internal backlog. I'll let you know when the doc is updated.

[2019-01-15 20:33] craigshoemaker commented on #21130
@JasonSingh - just checking in again to see if this is still an issue for you.

[2019-01-15 20:34] TravisCragg-MSFT commented on #22099
@jfuller05 I am glad you were able to successfully peer your VNETs. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-15 20:34] #22099 closed

[2019-01-15 20:37] craigshoemaker commented on #19847
Thanks for pointing out the distinction @stridsbr. I have added this to my internal backlog and will let you know when the doc is updated.

[2019-01-15 20:37] TravisCragg-MSFT commented on #22178
@hotroot this behavior is expected, and the docs should reflect this.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-15 20:40] Alberto-Vega-MSFT commented on #22092
@Futtrup87 This will require some deeper analysis. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2019-01-15 20:41] curtand commented on #22178
HI @hotroot
We have a new service tags PM. I'll get together with her now to fix this.

[2019-01-15 20:45] #16763 closed

[2019-01-15 20:45] #17167 closed

[2019-01-15 20:46] #17689 closed

[2019-01-15 20:46] #17966 closed

[2019-01-15 20:46] #18180 closed

[2019-01-15 20:47] #18268 closed

[2019-01-15 20:47] #21215 closed

[2019-01-15 20:47] #21245 closed

[2019-01-15 20:48] #21363 closed

[2019-01-15 20:48] #22114 closed

[2019-01-15 20:49] MarileeTurscak-MSFT commented on #22432
This page is for setting up a free trial. Currently P2/E5 is the only possibility for the trial. The Premium P1 license is included in Enterprise Mobility + Security E5 and Azure AD Premium P2.

To purchase P1 if you are an existing customer, you need to do it through the Office 365 Administration Portal (portal.office.com) signed in as an admin. https://channel9.msdn.com/Series/Azure-Active-Direc

[2019-01-15 20:51] MarileeTurscak-MSFT commented on #22432
When you have purchased it you will be able to assign it normally though the License blade like you described.

![image](https://user-images.githubusercontent.com/13383753/51209092-4615c800-18c4-11e9-9596-e42b877af549.png)

[2019-01-15 20:52] MarileeTurscak-MSFT commented on #22432
We will now proceed to close this thread. If you have further questions feel free to tag me in the comments and I will gladly continue the discussion.

[2019-01-15 20:52] #22432 closed

[2019-01-15 20:53] ronitr commented on #22493
Thanks for your feedback! This should be resolved now.

[2019-01-15 20:54] erhopf commented on #22431
#please-close

Documentation has been updated and will be published later today.

[2019-01-15 21:00] jl-g opened #22518 "The javascript example for 'trackTrace' is missing"
The TrackTrace section does not have a javascript example unlike the other sections (TrackEvent, TrackMetric, etc.). I've inspected the appInsights object in my browser, and it does contain a trackTrace function so it looks like it is supported. But it's not clear where the security level constants are defined in the javascript version.

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-01-15 21:01] PzKfWg opened #22519 "Retention policy vs Office group expiration"
Retention Policy: "If you have set up a retention policy for Office 365 groups, when a group expires and is deleted, [...] files in the group site are retained in the retention container for the specific number of days defined in the retention policy."
This needs way more explanations. What is the "retention container"? According to my tests, the group is destroyed, but the entire SharePoint site

[2019-01-15 21:01] ronitr commented on #22492
Hi,
These different capabilities are actually interrelated already, and indeed will likely become even more so. As it is, policies are used to help define what is being tracked with Security Center assessments, and can be extended for enforcement purposes.
The compliance dashboard itself provides a view of your overall environment status mapped to industry benchmarks and regulatory standards, whic

[2019-01-15 21:01] barbosatek opened #22520 "Incorrect title "Min Concurrent Queries""
I believe it should be "Max Concurrent Queries", not "Min Concurrent Queries"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4d8aad5-9f41-5cce-4688-f0f5fa5ff59a
* Version Independent ID: 0ca92d1e-73ad-90f4-4b42-48e6a6dac359
* Content: [Resource classes for workload management - Azure SQL Data Warehouse](https://docs.m

[2019-01-15 21:05] femsulu commented on #22468
assigning to @rolyon per above comment.

[2019-01-15 21:13] MohitGargMSFT commented on #22519
@PzKfWg Thanks for your feedback! We will investigate and update soon on it.

[2019-01-15 21:14] MohitGargMSFT commented on #22515
@stephkdonahue Thanks for your feedback! We will investigate and update soon on it.

[2019-01-15 21:30] MohitGargMSFT commented on #22515
@stephkdonahue I have assigned the issue to the content author to investigate and update as appropriate.

[2019-01-15 21:32] MarileeTurscak-MSFT commented on #22438
Yes, your redirect URI should be https://your-tenant-name.b2clogin.com/your-tenant-name.onmicrosoft.com/oauth2/authresp

Facebook automatically generates a redirect URL which is http://...[your domain]..../signin-facebook. You may need to also add this URL to Client OAuth Settings along with your own redirect_URL
(See the [related thread](https://stackoverflow.com/questions/37001004/facebook-login

[2019-01-15 21:33] MarileeTurscak-MSFT commented on #22438
Let me know if this helps!

We will proceed to close this thread but if you still have trouble feel free to tag me in the comments and I will gladly continue the discussion.

[2019-01-15 21:33] #22438 closed

[2019-01-15 21:34] PzKfWg commented on #22519
Questions:
- What is the exact nature of a "retention container"?
- Does it delete the SharePoint site container or keep it to hold the retained documents? If it keeps it, what happens to the content not retained? (my experiment shows that the unretained content is kept and I can even add more content to a supposedly deleted site, which is surprising)
- Can the SharePoint site be accessed by the o

[2019-01-15 21:35] colinweiner opened #22521 "Can't connect SQL Server Manager .."
When trying to login via SQL Manager with a domain account, I get denied.  Tried to enable SQL Auth via SQL Server configuration blade but it would error out when saving.  Redeployed the SQL VM's with SQL Auth enabled and I am able to login and add domain users.  This is in Azure Gov so not sure if that is part of the issue.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-01-15 21:36] SnehaGunda commented on #22478
@bcrobinson Thanks for pointing out the issue. You are right, I just tested that all three arguments are mandatory. Looks like the functionality is changed recently I am updating the doc to remove the optional tag in the syntax.

[2019-01-15 21:36] SnehaGunda commented on #22478
#please-close

[2019-01-15 21:39] aljo-microsoft commented on #6090
@MicahMcKittrick-MSFT
#please-close

[2019-01-15 21:39] rolyon commented on #22468
Hi @yoyogin
You can have up to 2000 role assignments in each subscription. That includes role assignments that you create at subscription subscopes (resource groups, resources). Essentially it means that you can use the "Add role assignment" pane in the Azure portal 2000 times within a subscription. The following docs have some additional information:
https://docs.microsoft.com/en-us/azure/role-ba

[2019-01-15 21:40] gbowerman opened #22523 "App Services overview has confusing Windows/Linux message"
The [App Services overview](https://docs.microsoft.com/azure/app-service/overview) starts with:
"Applications run and scale with ease on Windows-based environments. For Linux-based environments, see App Service on Linux." - this implies Linux-based environments do not run and scale with ease.
How about change it to:
"Applications run and scale with ease on both Windows and Linux-based environments

[2019-01-15 21:41] #6090 closed

[2019-01-15 21:42] MSSedusch commented on #21888
Sorry for the delayed reply.
I think we need to involve Red Hat. If the package dependecies are not correct, they should be able to find the root cause. Can you open a support request with Red Hat?

[2019-01-15 21:42] #6416 closed

[2019-01-15 21:43] Mike-Ubezzi-MSFT commented on #22384
@rolanddb I can reproduce this. There appears to be a documentation issue with the argument in that the doc has you pass `-ssl` but the correct syntax for `cqlsh` is `--ssl`. I am going to assign this to the content owner to evaluate and update as appropriate.

[2019-01-15 21:45] MohitGargMSFT commented on #22392
@xencon Please open a new MSDN forum post with more details about the inter-DC traffic you mentioned in your comment. The community may help you answer your query based on their experience. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required

Please post the ne

[2019-01-15 21:47] aljo-microsoft commented on #6432
@lant3rn1969
That doc header link is out dated that you referenced, and AAD doc for SF is here:

https://docs.microsoft.com/azure/service-fabric/service-fabric-cluster-creation-setup-aad

Which states:
"
 In this article, we assume that you have already created a tenant. If you have not, start by reading How to get an Azure Active Directory tenant.
"

Given you can't create the tenant without suff

[2019-01-15 21:49] #6432 closed

[2019-01-15 21:51] Karishma-Tiwari-MSFT commented on #22130
@OOPMichael Thanks for sharing the details/screenshot.
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-15 21:51] aljo-microsoft commented on #7166
@nrjohnstone
Since SF doesn't provide an external store, we wouldn't cover scenario's to consider when using N number of external stores that exist today (Each having unique considerations); our recommendation is to reference the external store support ability content that you choose for considerations when adopting it as a dependency.

@MicahMcKittrick-MSFT
#please-close

[2019-01-15 21:54] jwargo commented on #22177
@JulioCGC we have not done any testing of Azure Notification Hubs with Flutter. Right now we do not have any plans to add support for the platform. That doesn't mean that we're not going to, just that we haven't looked at it yet. We're working to complete the migration from GCM to FCM (and make the appropriate updates to the docs).  I'll ask the team to take a look at Flutter support (or at least

[2019-01-15 21:54] Mike-Ubezzi-MSFT commented on #22384
@kanshiG There are a couple issues with this tutorial. The first is that the [CQL Shell](https://docs.microsoft.com/en-gb/azure/cosmos-db/cassandra-support#cql-shell) example for Linux/Mac is not correct. The `-ssl` argument should be `--ssl`. The second is that there is an issue with the Baltimore root certificate that is used for this tutorial. Once you change the `cqlsh` command to use `--ssl`,

[2019-01-15 21:55] MicahMcKittrick-MSFT commented on #22521
@colinweiner thanks for reaching out. The reason you got an error saving could depend on a few things. What was the error you were seeing in the portal?

[2019-01-15 21:55] aljo-microsoft commented on #7802
@olavt
The referenced documentation is correct, and is explicit about which distros are supported; given Linux is not supported, its appropriately called out as such, and appropriately co-located next to the context that states Windows is supported.

@MicahMcKittrick-MSFT
#please-close

[2019-01-15 21:56] #7802 closed

[2019-01-15 21:58] #22500 closed

[2019-01-15 21:58] Karishma-Tiwari-MSFT commented on #22133
Update: I had a discussion with @BakerLabs offline and his issue has been resolved after some troubleshooting with the Product team. Based on his experience, he will be sharing his improvement suggestions for the doc here.

[2019-01-15 22:00] KeiroKamioka0000 commented on #18086
@cynthn
Sorry, I don't know how to reassign to specific person.

[2019-01-15 22:02] TravisCragg-MSFT commented on #22512
@DrEnnui Thanks for the feedback. Could you specify exactly what is different?

[2019-01-15 22:03] Mike-Ubezzi-MSFT commented on #22374
@sgiovinetti Can you provide additional details, including the specific steps that were executed along with commands passed, that support this statement:

I have the product group engaged and we are looking for specific details. Also, can you or have you attempted to us Azure Active Directory with your solution? Is that possible to set-up and retry?  This is a big ask I know, but if there is any c

[2019-01-15 22:05] andretms commented on #9557
@navyasric FYI

[2019-01-15 22:09] Grace-MacJones-MSFT commented on #21961
Hi @imeya, what browser are you using? IE? chrome?

[2019-01-15 22:15] #22007 closed

[2019-01-15 22:15] #22431 closed

[2019-01-15 22:21] Mike-Ubezzi-MSFT commented on #22520
@ronortloff I believe this should read `Max` and not `Min`. Please clarify if not, or update as appropriate.

[2019-01-15 22:33] carlfm01 commented on #22273
I used South Central as example, for all US regions was disabled also for any type of VM. Thanks for searching any signs of discontinuation. Closing.

[2019-01-15 22:33] #22273 closed

[2019-01-15 22:34] rolyon commented on #22064
Hi @y4test
DataActions and NotDataActions are still in preview. To work with them in the REST API, you must set the api-version to 2018-01-01-preview.
thanks

[2019-01-15 22:38] colinweiner commented on #22521
It depends, most of the time I don't get an error and the changes are not saved.  When I do get an error, it's the sad cloud and it flashes up for like 1 second.   The other settings in the blade are fine (Automated patching, Automated backup), it's just the SQL connctivity level.

[2019-01-15 22:41] quantumtunneling opened #22529 "No data on maximum requests/sec supported"
Is there any data that shows the maximum number of requests per second that are supported in each? This is an important thing to consider.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afed582b-fb3f-30b3-b119-6c4a9218bf34
* Version Independent ID: d4cf3473-21c1-2409-e7ac-9ad93fbc5895
* Content: [Azure Storage queues a

[2019-01-15 22:42] rocifier commented on #13449
I don't have this xml tag in my ccproj file.

[2019-01-15 22:43] Mike-Ubezzi-MSFT commented on #22520
@barbosatek Does this satisfy your inquiry? We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-15 22:43] #22520 closed

[2019-01-15 22:44] #22128 closed

[2019-01-15 22:44] Mike-Ubezzi-MSFT commented on #22128
@anneomcl Does this provide you with the information you are seeking? We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-15 22:48] mayanknayar commented on #22130
@OOPMichael - The 'Automatic Updates' section in the screenshot refers to Windows Automatic Updates. This is different from VMSS Automatic OS upgrades, which is the [link ](https://docs.microsoft.com/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-automatic-upgrade#supported-os-images) you have shared. Automatic OS upgrades is applicable only for the OS versions specified in that link.

[2019-01-15 22:51] MarileeTurscak-MSFT commented on #22504
I don't think it's currently supported to allow users to reset their passwords without leaving your app page. You can customize the SSPR page a bit, or enable SSPR from the login page (b2clogin.com) but it will still at least redirect to the login page. https://stackoverflow.com/questions/41899152/how-to-configure-self-service-password-reset-in-the-new-azure-portal

Please try the custom policy he

[2019-01-15 22:52] MarileeTurscak-MSFT commented on #22504
Please let me know if this helps!

[2019-01-15 22:53] Karishma-Tiwari-MSFT commented on #22273
@carlfm01 Thanks for the update. Please try again later and see if it works for you :)

[2019-01-15 22:53] mike-urnun-msft commented on #21987
Hey @TracyGH Would you be able to open a thread on [Logic Apps forum on MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azurelogicapps) for this question? Once you do so, please tag me in your comment here and be sure to include the URL to the thread. I'll make sure either myself or someone else from MSFT answer your question. Since Logic Apps connectors are really JSON wrappers ar

[2019-01-15 22:54] #21987 closed

[2019-01-15 22:56] Karishma-Tiwari-MSFT commented on #22130
@mayanknayar Thank you sharing the insights and clearing the confusion.
@OOPMichael We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-01-15 22:56] #22130 closed

[2019-01-15 23:00] MarileeTurscak-MSFT commented on #22409
@kellykwak I have reached out to them directly and will update when I have a reply.

[2019-01-15 23:08] ajlam commented on #16418
@AndrewGJennings - can you help clarify which step you encountered the error message? Were you trying using MySQL Workbench or using mysqlimport?

[2019-01-15 23:17] Mike-Ubezzi-MSFT commented on #21565
@Anmolgan81 I have some additional details to provide you but wanted to know if you are specifically looking for the Managed Instance in government cloud? I have a document to send you. Can you send an email to AzCommunity at Microsoft.com referencing this issue and I will send you that document:

All of our ring 0 production services in the public cloud (which include Azure SQL DB and Azure SQL D

[2019-01-15 23:20] KeiroKamioka0000 opened #22530 "Retention Policy?"
Is there are expiration date or retention policy for Log File created under of Pc/C:/WindowsAzure/Logs folder?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56ea7a65-07e2-1af6-9ce2-a1909aedd31b
* Version Independent ID: d9a077ff-5241-36ad-524a-33ee850e110f
* Content: [Configure Azure Log Analytics Agent for Hybrid Win

[2019-01-15 23:31] mrbullwinkle commented on #22518
@jl-g thanks for the feedback. I am adding an item to my schedule to get this taken care of this sprint. In the meantime we do have `TrackTrace()` documented in the [JavaScript API reference doc](https://github.com/Microsoft/ApplicationInsights-JS/blob/master/API-reference.md#tracktrace).

[2019-01-15 23:33] MicahMcKittrick-MSFT commented on #22521
@colinweiner thanks for the clarification. I have ran through the doc but I am not seeing any issues directly related to any of the steps. Sounds to me more like an issue with your SQL, portal or subscription. I believe this would best be handled by technical support who can look at the backend logs and tell you what is happening.

I suggest you open a technical support ticket via the portal. If y

[2019-01-15 23:33] #22521 closed

[2019-01-15 23:35] ealsur commented on #22417
@derekbekoe As Mike mentioned, you cannot tell which part of the document changes in an update (ie get the diff).

I believe the soft marker approach means that, since the feed publishes both inserts and updates in the same manner (currently you cannot tell an insert from an update since you receive the full document), a marker attribute can be used to differentiate which operation is the change c

[2019-01-15 23:36] SaurabhSharma-MSFT commented on #22465
@dcbrown16 I do not think it is supported however I will defer this to content author comment on the same.
@daveba Can you please help adding a note in the document if AKS is not supported.

[2019-01-15 23:40] marthalc commented on #9406
@YutongTie-MSFT could we close this please?

[2019-01-15 23:41] SaurabhSharma-MSFT commented on #22487
@jzuchora87 can you clarify when say "trusted service" as Azure automation is a cloud based automation services to consistently manage your environment and you can use it to manage Azure Key Vault as well. Please refer to [How can Azure Automation help manage Azure Key Vault?](https://docs.microsoft.com/en-us/azure/key-vault/automation-manage-key-vault#how-can-azure-automation-help-manage-azure-ke

[2019-01-15 23:43] SnehaGunda commented on #21797
@prashanthmadi Thanks for your feedback, I had a chat with the dev team and updating the doc with more description.

[2019-01-15 23:43] SnehaGunda commented on #21797
#please-close

[2019-01-15 23:44] TravisCragg-MSFT commented on #21846
@weyCC81 Is this for an ASDK deployment or a Azure Stack Multi-Node?

[2019-01-15 23:45] #21672 closed

[2019-01-15 23:47] Karishma-Tiwari-MSFT commented on #21985
@woutervanranst I also tried the tutorial but I am not getting forbidden error. I am not sure why you are seeing it. Can you please confirm that you did follow this, shared by @jakaruna-MSFT:

[2019-01-15 23:50] TravisCragg-MSFT commented on #20874
@not-an-IT-pro Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@cherylmc I am not sure if this doc is the best place to document this, perhaps Here - https://docs.microsoft.com/en-us/azure/vpn-gateway/point-to-site-about.

[2019-01-15 23:50] colinweiner commented on #22521
It’s an MSFT internal MAG subscription.  I will open a tkt, thanks.

-Colin

From: Micah <notifications@github.com>
Sent: Tuesday, January 15, 2019 3:34 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Colin Weiner <colin@cweiner.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Can't connect SQL Server Manager .. (#22521)

@colinweiner<https://g

[2019-01-15 23:51] SnehaGunda commented on #22382
@mmulhearn which version of the .Net SDK are you using? the OpenAsync method is available here is the reference doc: https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.documents.client.documentclient.openasync?view=azure-dotnet

[2019-01-15 23:51] cjwolford commented on #22498
It appears I am facing no issue. When I originally set up the google federation I wasn't able to force Azure MFA on sign ins. I re-verified it this morning before commenting, but I only had Conditional Access targeting SPO. Once I signed into SPO with the google account it triggered MFA. I apologize for wasting your time.

[2019-01-15 23:51] #22498 closed

[2019-01-15 23:52] TravisCragg-MSFT commented on #22221
@michaelassad glad you were able to get this working.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-15 23:52] #22221 closed

[2019-01-15 23:52] #22478 closed

[2019-01-15 23:53] mike-urnun-msft commented on #22529
Hi @quantumtunneling Thank you for your feedback! We will review and update as appropriate.

[2019-01-15 23:59] BharathNimmala-MSFT commented on #22518
@jl-g thanks for the feedback.

@mrbullwinkle - Appreciate the quick response, assigned this to you for doc enhancement. Thank you.

[2019-01-16 00:05] mauricio-msft opened #22532 "Application throws 500 error in Azure Cloud Service."
Thanks for this tutorial!

I have been following the python cloud service documentation but I am facing a 500 - Internal server error.
The internal error when browsing the webpage from inside the Cloud Service is:

Internal
HTTP Error 500.0 - Internal Server Error

&lt;handler&gt; scriptProcessor could not be found in &lt;fastCGI&gt; application configuration

Detailed Error Information:

Module

[2019-01-16 00:10] SnehaGunda commented on #22332
Thank you Rimma and Mike,

@ankush8064 Because it's a question specific to your scenario and not something that requires doc updates please reach out to Rimma or askcosmosdb@microsoft.com alias, where the team can set up a call with you and help with the solution. We will close this issue but track it in the email.

[2019-01-16 00:10] SnehaGunda commented on #22332
#please-close

[2019-01-16 00:34] MarileeTurscak-MSFT commented on #21040
@AaronL100 thanks for reaching out! I'll plan to join you in the call on Friday with the PG engineer. In case you need help sooner I would also recommend [opening a technical support ticket ](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request)for this issue. If you go through Github issues/forums we will help as much as we can but won't be able to see y

[2019-01-16 00:35] conceptdev commented on #22394
#please-close I don't have any additional info to add.

[2019-01-16 00:57] KingdomOfEnds commented on #22477
Hi @MarekLani - Thanks for the great suggestion! Existing reference  and tutorial documentation is in the process of being improved.

Please call the API endpoint below to bring back a complete list of available Types:

1. `https://<YOUR_DIGITAL_TWINS_RESOURCE>.azuresmartspaces.net/management/api/v1.0/types`
2. Following the instructions specified here: https://docs.microsoft.com/azure/digital-twi

[2019-01-16 01:23] kobulloc-MSFT commented on #22039
@asubmani From a documentation standpoint, it looks like we've addressed as much as we can.  We'll reach out directly to try to further help troubleshoot your scenario.  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-01-16 01:23] #22039 closed

[2019-01-16 01:51] Karishma-Tiwari-MSFT commented on #22480
@YvonneArnoldus Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-16 01:52] Karishma-Tiwari-MSFT commented on #22484
@Xumukk
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-16 01:52] starforce commented on #20918
@hrushib @jakaruna-MSFT @MicahMcKittrick-MSFT

Hello @aljo-microsoft

Are you saying that if I run this script that you provided here for creating a service fabric cluster

https://github.com/aljo-microsoft/demo/blob/master/deploy/Deploy-2NodeTypes-3ScaleSets.endpoint.json

Instead of creating my cluster through the Azure Portal that I can set the cluster name to my CN in my cert I got DigiCert? B

[2019-01-16 02:00] anirudhcavale commented on #20150
@johndowns the issue should have been fixed late last week.

[2019-01-16 02:02] Karishma-Tiwari-MSFT commented on #22494
@deosandeep @yyanev Can either of you share your insights on this one? Thanks :)

[2019-01-16 02:03] hassanbabaie opened #22535 "Status and features for Full Public Preview of Virtual network TAP"
Just checking if there is a timeline on when this may be expanded to all regions and also if support for "TAPing" other services (Azure Firewall / Application Gateway) are planned and if we can you different appliance (e.g. Open Source)

Thanks
Hass

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d8be962-4812-f08c-1649

[2019-01-16 02:06] Karishma-Tiwari-MSFT commented on #22532
Thanks for the question. We are currently investigating and will update you shortly.

[2019-01-16 02:09] #22523 closed

[2019-01-16 02:26] KeiroKamioka0000 opened #22536 "Operation Name?"
When I use command [Get-AzureRmLog]
What I can see on OperationName are something like &lt;Microsoft.Azure.Management.Monitor.Models.LocalizableString&gt;

I don't see the OperationName similar with [Microsoft.Web/sites/stop/action], which can be find in Authorization/Action with current code [Get-AzureRmLog]

What are the Operation Name stands for?

---
#### Document Details

⚠ *Do not edit this

[2019-01-16 02:36] femsulu commented on #22530
@KeiroKamioka0000 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-16 02:37] ecfan commented on #21291
@tjohnson1010: I'll add this info to the doc, but if you change the trigger while unsent batched messages exist, the trigger uses the updated release criteria.

[2019-01-16 02:51] derekbekoe commented on #22417
Got it thanks.
I will close the issue as the original question was answered.

[2019-01-16 02:51] #22417 closed

[2019-01-16 02:54] backwardsDave1 opened #22537 "Get-AzureRMResource parameter is wrong"
$images = Get-AzureRMResource -ResourceType Microsoft.Compute/images

Throws the following exception:
Get-AzureRmResource : Parameter set cannot be resolved using the specified named parameters.
At line:1 char:11
+ $images = Get-AzureRmResource -ResourceType 'Microsoft.Compute/images ...
+           ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidAr

[2019-01-16 03:19] kazshi commented on #22461
@jason-j-MSFT Thanks. so I understand that the packages are installed when "the extension installs the Log Analytics agent on Azure virtual machines".

[2019-01-16 03:40] akosibananaman opened #22538 "List md5 hash for uploaded files"
Hi,

So we're uploading bulk of files from our SAN to Azure Blob Storage using azcopy with the sample command below:

azcopy --source /random/source/location --destination https://random.blob.core.windows.net/location --dest-key gibberish key --resume --exclude-older --exclude-newer --recursive --verbose |& tee -a random/source/location/logs/log.txt

Question is, is there a way we could list the m

[2019-01-16 03:42] tshinkle opened #22539 "Error occurred while restoring NuGet packages"
Error occurred while restoring NuGet packages: Failed to retrieve information about 'Microsoft.ServiceFabric.AspNetCore.Kestrel' from remote source 'http://packagesource/FindPackagesById()?id='Microsoft.ServiceFabric.AspNetCore.Kestrel'&semVerLevel=2.0.0'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0d03b4f-4157-0d

[2019-01-16 03:45] KetanChawda-MSFT commented on #22161
@TechnologyAnimal Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-16 03:45] #22161 closed

[2019-01-16 03:46] KetanChawda-MSFT commented on #22200
@mrityunjay0510 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-16 03:46] #22200 closed

[2019-01-16 03:50] YASWANTHM-MSFT commented on #22131
@jsntcy, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-01-16 03:51] KrishnaG-MSFT commented on #22105
@snehithm  , any insights on this please? This might be related to https://github.com/MicrosoftDocs/azure-docs/issues/16061

[2019-01-16 03:51] KrishnaG-MSFT commented on #22105
Assigning to content owner for deeper review.

[2019-01-16 03:51] SnehaGunda commented on #21823
@nealmcb Thanks for the feedback, the SQL API Tutorials and Quickstarts are pretty much based off of the same samples, the steps to create and launch them are different. You can get the Python sample from this doc: https://docs.microsoft.com/en-us/azure/cosmos-db/create-sql-api-python

[2019-01-16 03:53] KetanChawda-MSFT commented on #22336
@divyaswarnkar Thank you for the update.

@nareshnagpal06 Checking in to see if the above post helped answer your question.

[2019-01-16 04:05] YASWANTHM-MSFT commented on #22538
Using PowerShell, you can run the following to get the MD5 hash of a file
`Get-FileHash -Path "C:\temp\somefile.zip" -Algorithm MD5`
If you're using C# you can also use the below code snippet
`using (var md5 = System.Security.Cryptography.MD5.Create())
{
    using (var stream = File.OpenRead(filename))
    {
        return md5.ComputeHash(stream);
    }
}
`

[2019-01-16 04:12] krissebesta opened #22540 "Getting error - Could not load file or assembly Microsoft.VisualStudio.TeamSystem.Data, Version=9.0.0.0 or one of its dependencies. The system cannot find the file specified."
Help!  We are getting this error.  I've gone through the steps twice starting from scratch both times and I'm getting the following error.

Could not load file or assembly 'Microsoft.VisualStudio.TeamSystem.Data, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.
Description: An unhandled exception occurred duri

[2019-01-16 04:14] SnehaGunda commented on #21733
@julielerman and @desinole Thanks for the great comments, we recently had a discussion regarding modeling data topics for each API in Cosmos DB. And yes its in our plan to create a doc to describe modeling key-value, column-family, and graph data. We have a  DevOps work item to track it. We are currently working on these docs and we will publish them in the in a month.

For now, we will close this

[2019-01-16 04:14] SnehaGunda commented on #21733
#please-close

[2019-01-16 04:39] johndowns commented on #20150
I just tried using a private browsing session, and using a different browser with a completely cleared cache. I still can't see the dimensions.

Sure, you can contact me at john@johndowns.co.nz.

[2019-01-16 04:41] akosibananaman commented on #22538
Hi @YASWANTHM-MSFT,

Thanks for the quick response!

Since we're into it, I'm using a Linux box for azcopy and I would very much like to have a command to get the md5 checksum recursively including subdirectories (if it's not too much to ask). Please help.

Thanks,

Aaron

[2019-01-16 04:54] lferrao commented on #16997
Same problem here, using the MongoDB API with Cosmos DB is starting to look like death by a thousand paper cuts

[2019-01-16 05:33] Grace-MacJones-MSFT commented on #21961
@imeya we understand. please check your internet properties and make sure ' Enable FTP folder view" is selected. If the error is still showing up let us know.
![ftp ip](https://user-images.githubusercontent.com/42247081/51228314-da0b8200-190c-11e9-9fc8-51aaa18aadf3.PNG)

[2019-01-16 05:47] SumanthMarigowda-MSFT commented on #21451
@holmesp Thanks for clarifying that you were able to create the custom role, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-16 05:47] #21451 closed

[2019-01-16 05:49] SumanthMarigowda-MSFT commented on #22328
@rccnw We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-16 05:49] #22328 closed

[2019-01-16 05:49] julieMSFT commented on #6871
@shantanurajebhosale  - Hi, I hope this addressed your issue. I will proceed with closing this issue. Please feel free to contact us if we can be of further assistance.

[2019-01-16 05:53] PramodValavala-MSFT commented on #22502
@jpetitte When using Azure Functions for JavaScript, the HTTP requests/responses are actually handled by the [Azure Functions Runtime](https://github.com/Azure/azure-functions-host) and not by NodeJS directly. So, you don't really have the native objects in the first place.

The functions runtime simply calls the NodeJS function passing in the `context` object and its own `req/res` objects. You ca

[2019-01-16 05:54] julieMSFT commented on #6871
#please-close

[2019-01-16 05:55] neeleshray commented on #22313
Let us know if you need further help.

[2019-01-16 05:56] neeleshray commented on #22310
Let us know if you need further assistance.

[2019-01-16 05:59] imeya commented on #21961
yes, this option is checked in IE.  And as I mentioned in my question: if I click ok button on the error prompt, and I can see the files/folders there. it's too weird.

[2019-01-16 06:03] mganeshphani opened #22552 "listAdminKeys function is not listed"
listAdminKeys function is missing documentation here.. this function is being used by the template used by portal while deploying QNA Service.. I am using this function in one of the templates I am creating to automate Chatbot deployments and works fine

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85bba21f-ef02-381c-

[2019-01-16 06:13] Grace-MacJones-MSFT commented on #21961
We will need to do deeper analysis for this issue. Do you have the ability to open a support request? If not, you can email me at AzCommunity@microsoft.com and provide me with your SubscriptionID, time of operation in UTC and link to this thread. I can enable your subscription to be able to create one.

[2019-01-16 06:35] Runamok81 opened #22562 "Comment"
This is the number one tutorial on Google for
search terms OpenAPI and Azure.  Why no update for Azure Functions 2.0?  Should we try?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f713e2b2-710e-8036-c4d7-8910927525e3
* Version Independent ID: bee3baa6-df72-aea1-9b0b-42f574b4745e
* Content: [Create an OpenAPI definitio

[2019-01-16 06:44] shantanuchaudhary24 opened #22564 "Storage account V2 used for azure function gives Azure function unreachable error"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-01-16 06:47] shantanuchaudhary24 commented on #22564
In my case, I got Error : Azure Functions Runtime is unreachable because I was using a V2 of storage account. The azure function apps can only be used with V1 storage accounts

[2019-01-16 06:55] SumanthMarigowda-MSFT commented on #21964
@TomasHubelbauer We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-16 06:55] #21964 closed

[2019-01-16 07:13] kobulloc-MSFT commented on #22194
@jefflomax The documentation appears to be in order here.  Going through [Reporting exceptions explicitly](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-exceptions#reporting-exceptions-explicitly), an example might look like this:

![image](https://user-images.githubusercontent.com/37556655/51231880-df22fe00-1919-11e9-894a-385dd1f23aed.png)

Looking through the Application Insig

[2019-01-16 07:17] ChiragMishra-MSFT commented on #22413
@bwren Is there an alternate to portal.loganalytics.io ? Can you please have a look at this ?

[2019-01-16 07:21] ChiragMishra-MSFT commented on #22397
@jennabourgeois I am assigning this issue to the content owner to provide some more information here.

@marktab Can you please have a look at this one ?

[2019-01-16 07:38] swenyang commented on #22069
From [.NET documentation](https://docs.microsoft.com/en-us/dotnet/api/system.datetime.ticks?view=netframework-4.7.2) and [StackOverflow](https://stackoverflow.com/questions/956483/how-long-is-a-net-datetime-timespan-tick) I know a tick equals 0.0001ms.

[code]

I think this issue can be closed. Anyway, it's still a bit confusing for new beginners.

[2019-01-16 07:38] #22069 closed

[2019-01-16 07:39] v-pugoe commented on #22172
@matthias-scharl This application supports both SP and IDP initiated modes, so in step 4.c, we have mentioned the way for configuring the application in SP mode. If you want we can show this step separately under different heading and remove this from 4.c

[2019-01-16 07:46] Futtrup87 commented on #22092
We dont have access to a support plan at the moment.
We are using a free-trial account for evaluating this product for one of our international customers.
So its a bit frustrating that we got everything working, before when the IoTEdge documentation was for a LCFW. And now that its WCFW Theres issues again we have to face. I'll admit i am not yet very familiar with containers but i am trying to ge

[2019-01-16 07:48] LazarusX commented on #22479
@djaus2 Thanks for reporting this issue.

Please make sure the `registryCredentials` section in filled with environment variable keys and `.env` file stores the corresponding credentials:
![image](https://user-images.githubusercontent.com/716650/51233846-fd364000-19a5-11e9-98ce-d444fdc5370e.png)

See Step 9.c of https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-csharp-module#update-the-modu

[2019-01-16 08:10] vicenteherrera opened #22568 "Explain request object for Python and routing parameters"
The JavaScript section explains what the request object properties are, and the one to get the routing parameters is request.params.
But in Python, you have to use req.route_params.get('name') (figured it out inspecting execution with a breakpoint).
Request object properties for Python should explicitly be explained in this documentation to avoid confusion.
Thanks!

---
#### Document Details

⚠ *D

[2019-01-16 08:14] vicenteherrera commented on #21706
I would be helpful to tell people to install nvm or n (node version managers) to change the node version, and to remember to reinstall globally installed packages with npm.

[2019-01-16 08:17] vicenteherrera commented on #19391
The right command to deploy for Python is:
func azure functionapp publish <app name> --build-native-deps

Right now the extension tells you it can't directly deploy Python Functions Project, I find it informative enough until it is implemented.

[2019-01-16 08:22] vicenteherrera opened #22569 "Requirements for Python"
For Python projects, and to be able to debug and use breakpoints, you should take into consideration additional requirements:
* Python Visual Studio Code extension
* Docker, to build and deploy (with the command line, not extension)
* On the command line, activate your projects' virtual environment, and install or reinstall:
python -m pip install --upgrade pip
python -m pip install --upgrade ptvsd

[2019-01-16 08:24] boltlol opened #22570 "Prerequisite missing"
For a customer, we had the issue that the CE solution "Customer Service Hub" was not installed by default in the DEV and TEST environments. This made the two instances invisible in the logic apps builder when selecting instance even though our user was an administrator in all systems.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-01-16 08:32] vicenteherrera opened #22571 "Steps to create a project using Python"
For Python, a virtual environment should be active before creating the project, so instead of directly using func init, you should do:
mkdir myproject
cd myproject
python -m venv .env
source ./.env/bin/activate #this depends on os version
cd ..
func init myproject

You could set the environment in another directory that is not .env, but that is the one that VSCode uses, so I would recommend it for

[2019-01-16 08:43] christophkarner commented on #20844
@TravisCragg-MSFT @mattbriggs
Please reopen the issue, it is still showing "add a tenant" in the description how to get the existing subscriptions).

Additionally, the even more important problem still exists:
**Using the Cmdlet as documented does not list any subscriptions - however when adding a known subscription ID to the resource ID string, the corresponding subscription is displayed.**

*So

[2019-01-16 08:51] alesbobek opened #22572 "RSS feed not found"
Hi,
link to RSS feed written in the top of page doesn't exist. Page not found. As I tried find manually, it seems, that file location changed.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3942b937-b212-3ceb-d356-450b7f598f68
* Version Independent ID: 8b015b42-cf02-3942-3cc3-6e0f977d191a
* Content: [IP address

[2019-01-16 09:16] KetanChawda-MSFT commented on #22564
@shantanuchaudhary24 Thank you for the feedback. We will review and provide an update on this.

[2019-01-16 09:33] Anmolgan81 commented on #21565
Hi @Mike-Ubezzi-MSFT I have just mailed azcommunity@microsoft.com an email around the information for azure managed instance for public and goverment cloud. Do let us know if you can send me that documentation

[2019-01-16 09:34] SadiqhAhmed-MSFT commented on #17165
@lgayhardt thanks for the update. :)

[2019-01-16 09:34] #17165 closed

[2019-01-16 09:41] kaareschmidtalso opened #22573 "Configuring redundancy can no longer be done as the documentation says"
The portal looks different than described here and the option to change redundancy is gone.

Please update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c04356b4-e2a0-c095-5f47-b7fc1d2b574f
* Version Independent ID: 72900c81-5858-bb03-06fb-4af272317f20
* Content: [Use Azure Backup agent to back up files and folders](

[2019-01-16 09:41] #22394 closed

[2019-01-16 09:56] arpitvw opened #22574 "azureml-core 1.0.8 has requirement ruamel.yaml<=0.15.51,>=0.15.35"
while using azure notebook when i am importing "azureml.core" getting error "azureml-core 1.0.8 has requirement ruamel.yaml<=0.15.51,>=0.15.35, but you'll have ruamel-yaml 0.11.14 which is incompatible." but i have already "Requirement already up-to-date: ruamel.yaml==0.15.35 in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (0.15.35)"
---
#### Document Details

⚠ *Do not edit this section

[2019-01-16 09:59] michaelspinks opened #22575 "You can delete a metric alert rule using the following command."
Should point 7. - Delete which currently reads "az monitor metrics alert update -g {ResourceGroup} -n {AlertRuleName} -enabled false"

not be "az monitor metrics alert delete -g {ResourceGroup} -n {AlertRuleName} -enabled false"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9aeeedc1-d567-f4b1-9913-14f401df8884
* Versi

[2019-01-16 10:03] #22098 closed

[2019-01-16 10:03] ChiragMishra-MSFT commented on #22507
@sac8m As of now, you cannot spin up an on-demand HDInsight cluster without a service principal.

However, you can achieve the same by doing the following :

- Create an HDInsight cluster by following this tutorial - https://docs.microsoft.com/en-us/azure/hdinsight/#5-minute-quickstarts

- Configure it with Enterprise Security Package by using Azure Active Directory Domain Services by following th

[2019-01-16 10:03] fokkeantonides commented on #14690
I wan't to remove the whole "Demo Example",  the purge implies only removing certain the data.

I do have the option to remove 'custom logging fields', but that does not remove the 'Demo Example' entry.

Thanks in advance!

[2019-01-16 10:07] michaelspinks opened #22576 "6. 7. Change -enabled to --enabled"
I believe -enabled should be --enabled in 6. and 7.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9aeeedc1-d567-f4b1-9913-14f401df8884
* Version Independent ID: 324a8bd9-cec9-3be0-b1fb-01e9a0f95710
* Content: [Create, view and manage Metric Alerts Using Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monit

[2019-01-16 10:09] fokkeantonides opened #22577 "Completely remove the log that is created with the API"
I wan't to remove the whole "Demo Example" in Log Analytics that is created with the API. It seems there is no options for it like Custom Logging with files. The purge option described in a closed ticket implies only removing certain data.

I do have the option to remove the 'custom logging fields' of the example, but that does not remove the 'Demo Example' entry.

Thanks in advance!

---
#### Doc

[2019-01-16 10:10] mike-urnun-msft commented on #22098
Hey @RussellHaley

MS Docs is now on crowdsourcing contribution model and we welcome you to submit any improvements you may deem necessary. For more info, please review our [Contribution Guide](https://review.docs.microsoft.com/en-us/help/contribute/contribute-whats-new?branch=master).

As for this particular issue around read-only mode and how it's preventing you from making further updates to yo

[2019-01-16 10:12] remiminnebo commented on #17187
Azure AD authentication over SMB is not supported for on-premises machines accessing Azure Files --- Will this ever be supported?

Thanks!

[2019-01-16 10:14] remiminnebo opened #22578 "Azure AD authentication over SMB for on-premises devices"
Will this ever be supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 100a0bd2-817c-8c9e-68d6-cb00a5f405eb
* Version Independent ID: ee7081d3-a43f-47ea-db7f-ff6ba23d50b3
* Content: [Enable Azure Active Directory authentication over SMB for Azure Files (preview) - Azure Storage](https://docs.microsoft.com/en-us/az

[2019-01-16 10:14] ronitr commented on #22492
This interpretation is true to an extent, though not entirely. ASC has assessments that cannot be implemented directly as an Azure Policy, and these are represented in the compliance dashboard as well. See, for example, the set of baseline rules that are mapped to corresponding compliance controls.
So the Azure Policies are used to configure which ASC assessments are executed and tracked, and the

[2019-01-16 10:15] matthias-scharl commented on #22172
I think it is good as it is.

From: Puneet Goel <notifications@github.com>
Sent: Wednesday, January 16, 2019 8:40 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Scharl, Matthias <matthias.scharl@teradata.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] SP-initiated vs IDP-initiated (#22172)

[External Email]
________________________________

@

[2019-01-16 10:24] mbouskila commented on #7325
@YutongTie-MSFT: Exception has occurred: msrest.exceptions.HttpOperationError line 40 :
..
37 import time

39 print ("Training...")
40 iteration = trainer.train_project(project.id)

Why this kind of error i din't change the script, execept for the input where I am reading images directly from gitHub :
base_image_url = "https://github.com/Azure-Samples/cognitive-services-python-sdk-samples/tree/mas

[2019-01-16 10:31] sarang-pitale-mpf commented on #18705
If the CopySuccessEmail or CopyFailEmail Logic App fails due to reasons like incorrect receiver email or password expired issues, then the Web Activity does not fail. Is there any way to make the Web Activity fail in such cases?

[2019-01-16 10:33] shashishailaj commented on #21911
@johndowns This error will occur if you have created the Application object and are owner for the same but do not have owner access to the Service principal object . If you are a Global admin in the directory you can try to grant yourself the owner permission on the associated Service principal object . At this point we are closing this however if you have any further queries , feel free to open t

[2019-01-16 10:36] michaelspinks opened #22579 ""Collect event and performance data" point 5."
Suggest you review point 5. for accuracy "Select Linux Performance Data to enable collection of performance counters on a Windows computer."

I believe you meant to say Linux computer rather than Windows computer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 012c35ae-69e3-dfe3-6d99-077915f5f555
* Version Independent

[2019-01-16 10:40] genlin opened #22580 "The metadata is showing in the article"
There is a format issue in the MD file. Please correct it so metadata will not show in article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e7c9330-09be-b71f-8204-f1a708bb007e
* Version Independent ID: 207b4132-f489-25aa-9e46-24a8dc5ed35f
* Content: [Set up disaster recovery of on-premises Hyper-V VMs in VMM clouds

[2019-01-16 10:41] PramodValavala-MSFT commented on #22571
@vicenteherrera Since Azure Functions for Python has different steps compared to other supported languages, it has its own [quickstart](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-python) doc which mentions the steps required to create a project.

Last I checked, Python 3.7 is not fully supported across the board.
The python worker does support it but the

[2019-01-16 10:42] PramodValavala-MSFT commented on #22316
@iizotov Thanks for catching this! We have updated the sample and it should reflect soon.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-16 10:42] #22316 closed

[2019-01-16 10:43] phonglnk opened #22581 "Failed to deploy via PowerShell"
It's failed to deploy 'Azure Function' linked service type and pipeline with 'AzureFunctionActivity' through PowerShell script. The generated output JSON is NOT correct and it throws error in Data Factory. Apparently, this is still not supported to deploy via PowerShell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9

[2019-01-16 10:53] KetanChawda-MSFT commented on #22570
@boltlol hank you for the feedback. We will review and provide an update on this.

[2019-01-16 10:54] hudahaha opened #22582 "Admin for Specific Domain"
Please consider to create admin role that one level below global admin but only capable doing global admin task to specific domain(s) in Office 365.

---
#### Detail Dokumen

⚠ *Jangan edit bagian ini. Diperlukan untuk masalah penautan docs.microsoft.com ➟ GitHub.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03f9-e037-3a62-e4165fda7cb6
* Content: [Administrator r

[2019-01-16 11:01] SumanthMarigowda-MSFT commented on #22578
@remiminnebo Azure AD authentication over SMB is not supported for on-premises machines accessing Azure Files.
You may leave your feedback here: https://feedback.azure.com/forums/217298-storage
 All the feedback you share in these forums will be monitored and reviewed by the Microsoft engineering teams responsible for building Azure.

[2019-01-16 11:04] SumanthMarigowda-MSFT commented on #22467
@OffColour Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-16 11:13] michaelspinks opened #22583 "Collect event and performance data"
"Select Windows Performance Data to enable collection of performance counters on a Windows computer." should read "Select Windows Performance Counters to enable collection of performance counters on a Windows computer."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56ea7a65-07e2-1af6-9ce2-a1909aedd31b
* Version Indepe

[2019-01-16 11:17] SadiqhAhmed-MSFT commented on #22415
@KeiroKamioka0000 We retain these settings.

[2019-01-16 11:18] brazierdavid opened #22584 "Speech SDK .NET Core on Linux"
The platform/language grid on https://docs.microsoft.com/en-gb/azure/cognitive-services/speech-service/ has an entry for .NET Core & Linux (x64), but the link is to the .NET Core (Windows) page, and as far as I can see, the Speech SDK isn't supported on Linux, because .NET Core on Linux lacks audio support.  So the document should be updated to remove the entry for .NET Core & Linux (x64).

Is the

[2019-01-16 11:20] BhargaviAnnadevara-MSFT commented on #22572
@alesbobek Thanks for bringing this to our attention! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-16 11:23] brohrer commented on #22391
I'm with you. I've been confused on this point in the past myself. The terminology is problematic.

[2019-01-16 11:34] runes83 commented on #19712
@TravisCragg-MSFT  I'm not sure if the link to "add your request Here." is correct as it only refers back to this issue. But in the end of the line I want Buypass to be added to the CA list.

[2019-01-16 11:45] sergaz-msft commented on #22175
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-16 11:45] #22175 closed

[2019-01-16 11:46] sergaz-msft commented on #22209
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-16 11:46] #22209 closed

[2019-01-16 11:47] neeleshray commented on #22317
@Norrch2  Try this [https://docs.microsoft.com/en-us/azure/active-directory-b2c/javascript-samples](https://docs.microsoft.com/en-us/azure/active-directory-b2c/javascript-samples)

[2019-01-16 11:47] sergaz-msft commented on #22285
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-16 11:47] #22285 closed

[2019-01-16 11:47] #22320 closed

[2019-01-16 11:47] sergaz-msft commented on #22320
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-16 11:48] neeleshray commented on #22195
@brthurr
Let us know if you need further help on this.

[2019-01-16 11:54] vicenteherrera commented on #22569
You are right, it would be better there. I understand it's in preview, just wanted to help you test and make suggestions ;-)

[2019-01-16 12:01] Sajgon commented on #21992
Any news of Nodejs configuration and support of `DefaultTimeToLive`?

[2019-01-16 12:05] JulioCGC commented on #22177
Ok, thanks for the support and the help

[2019-01-16 12:08] michaelspinks opened #22585 "Create a Web App and App Service Plan"
In 3. "Select an app name like MyTestScaleWebApp. Create a new resource group *myResourceGroup' and place it into the resource group of your choosing."

Create a new resource group *myResourceGroup' and place it into the resource group of your choosing - this does not make sense.  When you create a new resource group you cannot next Resource groups so perhaps you mean something else?

---
#### Doc

[2019-01-16 12:16] Anmolgan81 commented on #21565
Hi @Mike-Ubezzi-MSFT Thanks for the documenation I couldnt find any description for azure managed instance in the public cloud? I am looking for is the controls that are necessery to implement on the azure managed instance and the azure security services that are related to it? If there is a documenation around this mechanism representing controls and neccessery steps to implement the same in the

[2019-01-16 12:19] hjgraca opened #22586 "$apimService.PrivateIPAddresses property does not exist in AzureRM Powershell v5.7"
When trying to run step 9
[code]
It fails because the property **PrivateIPAddresses** does not exist.
Currently using version **5.7.0** of AzureRM.
The correct method to get the private ip address should be to use **StaticIPs** property instead
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37c1f253-44c2-bd07-4c

[2019-01-16 12:21] crazygo opened #22587 "关于语音转文字的费用问题"
在1.2.0的sdk里，加入了先connect，在设置voice source的方法。请问时间费用是从onConnected开始计算，还是从SpeechRecognizer开始计算？ 谢谢。

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efae7ff6-5557-221f-7539-5d2d1883127d
* Version Independent ID: 4b868e15-0248-635c-aa2f-d591bbc77d65
* Content: [About the Speech Service SDK - Speech Services - Azure Cognitive

[2019-01-16 12:22] Anmolgan81 commented on #21565
I am specifically looking for fedRAMP compliance details around SQL Managed instance for azure public. Since azure managed instance is not available in azure goverment, we will not consider it for now, but we will be looking into the documentations for SQL Managed Instance for azure public.

[2019-01-16 12:32] csiebler commented on #20718
For running the forecasting samples in Azure Notebooks, here's a quick workaround until `ftk` has been included in Azure Notebook:
[code]

[2019-01-16 12:35] binoyrajan56 commented on #8840
What should be the minimum action/permission level required at "Resource Group" and "Virtual Machine" level for the respective Custom Role/s to provide RBAC based JIT VM Access.

RG Custom Role :
Microsoft.Security/locations/jitNetworkAccessPolicies/read
Microsoft.Security/locations/jitNetworkAccessPolicies/initiate/action

VM Custom Role:
Microsoft.Compute/virtualMachines/read

Everything works f

[2019-01-16 12:40] djaus2 commented on #22479
Haven't tried Docker Hub yet.
But checked out my env address entry as above and it was set to docker.io so set it to my repo.
The CSharpModue now get copied to the device but now not all modules run.
If I restart one I get some sort of network error (eg I try to restart edgeHub):

    16/01/2019 4:33:31 AM info: edgelet_core::watchdog -- Checking edge runtime status
    16/01/2019 4:33:31 AM info:

[2019-01-16 12:42] djaus2 commented on #22479
Sim for CSharpModule:

16/01/2019 4:41:31 AM info: edgelet_core::watchdog -- Checking edge runtime status
16/01/2019 4:41:31 AM info: edgelet_core::watchdog -- Edge runtime is running.
    16/01/2019 4:41:34 AM info: edgelet_docker::runtime -- Restarting module CSharpModule...
    16/01/2019 4:41:35 AM warn: edgelet_utils::logging -- Could not restart module CSharpModule
    16/01/2019 4:41:35 AM

[2019-01-16 12:50] femsulu commented on #22169
@rayne-wiselman , any insights to the above questions?

[2019-01-16 12:52] femsulu commented on #22380
@anirudhcavale any insight to the above question?

[2019-01-16 12:54] JohnStraumann66 opened #22588 "Is there a full sample available for downlaod?"
I am not sure where to put the snippets in my code? Also is there a sample that shows Text-To-Speech being played for the User as opposed to being saved to a file? So for example String Greeting = "Hi, welcome to Azure Speech", and the code plays an audio of that text?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc4

[2019-01-16 12:54] djaus2 commented on #22479
Nb: Azure portal Device Twin Reports:
EdgeAgent and CSharpModule are running whereas tempSensor and edgeHub are in backoff.

iotedge List
Reports EdgeAgent is running and the other 3 are failed.

[2019-01-16 13:02] TipsyDriver commented on #6176
I'm not sure if anyone has solved this issue and I know I'm a little late to the party, however, I have the same problem within my application. The entire duration my application is open the Registration Key in Azure is valid, as soon as I close the app and send 1 notification the key invalidates and I'm not sure why and I've seen a lot of people saying it's something to do the AndroidManifest.xml

[2019-01-16 13:07] femsulu commented on #22536
Thanks for the feedback @KeiroKamioka0000. A similar feedback has already been shared with the Azure Monitor feature team via [this link](https://feedback.azure.com/forums/913690-azure-monitor/suggestions/36480868-provide-granular-activity-log-event-operations). I recommend up-voting the same to get more visibility and priority on this request.
We will now close this issue. If there are further qu

[2019-01-16 13:07] #22536 closed

[2019-01-16 13:11] TheOtherBillGates opened #22589 "Adding useful information"
PS Azure:\&gt; cd MySubscriptionName &lt;-- please add two things:
1- Subscription name may contains spaces, in that case use this command:
PS Azure:\&gt; cd "My Subscription Name"
2- an example: PS Azure:\&gt; cd "Visual Studio Enterprise"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d429ecd5-657d-35fc-fbe5-d8131c4d

[2019-01-16 13:15] djaus2 commented on #22479
Looking at CSharpModule logs:
   at Microsoft.Azure.Devices.Client.Transport.RetryDelegatingHandler.EnsureOpenedAsync(CancellationToken cancellationToken)
   at Microsoft.Azure.Devices.Client.InternalClient.OpenAsync()
   at CSharpModule.Program.Init() in C:\app\Program.cs:line 73
   --- End of inner exception stack trace ---
   at System.Threading.Tasks.Task.Wait(Int32 millisecondsTimeout, Cancel

[2019-01-16 13:22] shashishailaj commented on #21984
@Addisco It does not seem that the restricted claims can be returned . We periodically review and update the list of restricted claim types however tenant display name is related to tenant identity and its unlikely that it will be moved out of the list. At this point it does not seem that we have any way to do this. As the current features are in preview, this may change in future . You can reques

[2019-01-16 13:22] #21984 closed

[2019-01-16 13:22] mrbullwinkle commented on #22572
Thanks @alesbobek! The correct link is [https://github.com/MicrosoftDocs/azure-docs/commits/master/articles/azure-monitor/app/ip-addresses.md.atom](https://github.com/MicrosoftDocs/azure-docs/commits/master/articles/azure-monitor/app/ip-addresses.md.atom). I will get that added to the doc later today.

[2019-01-16 13:27] TheOtherBillGates opened #22591 "Error with code command"
code .\helloworld.ps1 &lt;- this will not work, but this will -&gt; code helloworld.ps1

- Once in the editor add "Hello, World!" save the file and use the latest command .\helloworld.ps1 to display the result.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d429ecd5-657d-35fc-fbe5-d8131c4da484
* Version Independent ID:

[2019-01-16 13:28] stevej89 opened #22592 "Gay porn star documention"
# Azure documentation issue guidance

All members entities and parties to sign documention. To release videos and photography to provide each other in live and offline castings, to the clients who need it.

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

##

[2019-01-16 13:33] JohnStraumann66 commented on #22588
Not videos, full project sample code?

[2019-01-16 13:40] trinadhkotturu commented on #21913
#please-close

[2019-01-16 13:43] shashishailaj commented on #22164
@becke-ch-s0-v1 We have assigned this document for the author to verify and update accordingly.

[2019-01-16 13:44] shashishailaj commented on #22097
@montereyharris I hope the above information provided helped you . We will close this thread now. In case you have any further queries on this feel free to reopen this thread and engage us.

[2019-01-16 13:44] #22097 closed

[2019-01-16 13:50] stimms commented on #19122
One of the limiting factors with moving to HttpRequest is that it can't be used to generate the status responses from a durable function orchestration. This can be solved by using the compatability shim in `Microsoft.AspNetCore.Mvc.WebApiCompatShim` to get an HttpRequestMessage out of an HttpRequest

[code]

[2019-01-16 14:00] bearrito commented on #21992
From my perspective this can be closed.

[2019-01-16 14:02] jzuchora87 commented on #22487
Hello, I meant if we enable service endpoints on our key vault and virtual network, will azure automation still be able to access the key vault? It's currently not listed as a trusted service so my guess is the answer is no, we would not be able to access/manage our key vault with endpoints enabled.

[2019-01-16 14:09] shashishailaj commented on #22103
@hawkbox I believe you are looking at traditional ARM roles however you should be able to do that with by assigning **User Account Administrator** role . Please check [this article](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles#user-account-administratorr)for details on more Azure AD roles. I am sure that would help you . WE will close this

[2019-01-16 14:09] #22103 closed

[2019-01-16 14:12] iyerusad opened #22594 "Language around zip deployment: "run from the package" vs "mounting" package as filesystem."
I read this as: Function app actually runs from package, as like some kind of compiled binary. This was unclear for me: When troubleshooting, I wondered why did `wwwroot` still have files if "the function app is then run from package".

I found the actual behavior documented in the github issue outlining the new feature: https://github.com/Azure/app-service-announcements/issues/84

I would suggest

[2019-01-16 14:32] zipper97412 commented on #10326
/reopen

[2019-01-16 14:33] hawkbox commented on #22103
I went to Subscriptions, picked the subscription, went to Microsoft Azure Enterprise - Access control (IAM) and Role assignments which considering there are like 300 roles in there I naturally assumed that was where I would set something like this.  I would seriously suggest making the documentation on what permissions and roles are relevant where a lot more obvious.

[2019-01-16 14:37] codescream opened #22595 "Project Answer Search"
[I get the error: System.ArgumentOutOfRangeException: 'Count cannot be less than zero.' trying to run sample 'project answer search']

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83668945-8da6-e018-e891-5dd2f09be42b
* Version Independent ID: 2f791e60-0a1a-50ad-5b8d-b0b153565921
* Content: [Quickstart: Project Answer

[2019-01-16 14:38] zipper97412 commented on #10326
Hi, I would like to reopen this Issue, I have the same `error: You must be logged in to the server (Unauthorized)` and nothing suggested on this issue worked for me, any help please?

[2019-01-16 14:42] kgopi05 opened #22596 "ConvertTo-AzureRmVMManagedDisk related commands in Azure CLI ?"
How to migrate the VM from unmanaged disk to managed disk using Azure CLI ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d544e55b-bac1-0e3c-a396-90a1b4f6e1aa
* Version Independent ID: 018208b2-7479-746d-2d12-a9e3c78036d7
* Content: [Convert a Windows virtual machine from unmanaged disks to managed disks - Azure Manag

[2019-01-16 14:43] mmulhearn commented on #22382
@SnehaGunda I am using Microsoft.Azure.DocumentDB v1.22.0

[2019-01-16 14:50] shashishailaj commented on #22103
Access control (IAM) on the Subscriptions blade would show the roles assignments available at that level and the current article talked about assigning a user access to an application in Azure AD . I understand sometimes the information can be overwhelming . Since you asked about adding new users for application access hence I pointed to the roles available in the Azure AD because the new user wil

[2019-01-16 14:53] hawkbox commented on #22103
The user already exists in Active Directory and simply needs to be added to a Single Sign on instance but the permissions required to do so are not clear at any point.  I appreciate being pointed in the right direction but having two sometimes permissions sets with no clear delineation of which one is relevant is incredibly frustrating.

[2019-01-16 14:58] yahiaman commented on #18711
Thank you for those informations
How shall we configure the second AAdConnect (passwordsync ...) ?

[2019-01-16 15:02] ediazrod opened #22597 "Logs of Service Principal"
is there any way to get the logins on service principal? Or to monitor the service principal actions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11aaa091-1108-52f6-0066-0f4e939aeef4
* Version Independent ID: dbc7e37e-87a7-c124-3e4c-47aa060e6cf3
* Content: [Create identity for Azure app in portal](https://docs.micro

[2019-01-16 15:07] KetanChawda-MSFT commented on #22564
@shantanuchaudhary24 I tried with the v2 Storage account and it worked for me. May be there is some other reason that you are getting the error "Azure Functions Runtime is unreachable"

Please follow the troubleshooting steps mentioned in the below document to resolve that error.

[Troubleshoot "functions runtime is unreachable"](https://docs.microsoft.com/en-us/azure/azure-functions/functions-rec

[2019-01-16 15:16] shashishailaj commented on #22165
@chwilfing Thank you for pointing that out . You are correct . We have verified your recommendation and submitted a change request for review. Once the content owner has verified the same it will be updated. We thank you for your time.

[2019-01-16 15:16] #22165 closed

[2019-01-16 15:22] bearrito commented on #18259
Any update on this?

[2019-01-16 15:22] bearrito commented on #14638
Any update on this as well?

[2019-01-16 15:22] cconrado opened #22599 "Announced GA and any changes?"
Hi There,

It was just posted on the blog that its final now. Has there been any changes to the doc?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05ed9bd2-21ae-6355-615a-1bcd3a4db313
* Version Independent ID: 8c764ad2-714a-9e88-a1d2-c8290455bcb6
* Content: [Monitor Azure services and applications using Grafana](https

[2019-01-16 15:23] CoderKooke commented on #13479
Same for me ... token comes in nicely at the end and then 403.

[2019-01-16 15:29] yodobrin opened #22600 "Custom image registry credentials"
Trying to create an estimator with private custom image. it is not clear how can the registry credentials are passed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56432291-395c-5eca-9d11-d4c7bc0e2dd8
* Version Independent ID: f5648ab5-df5b-7434-a1c2-2454d4c0ad0d
* Content: [Train ML models with estimators - Azure Mac

[2019-01-16 15:32] TitusA opened #22601 "AttributeError: 'TextToSpeech' object has no attribute 'get_token'"
I needed to replace app.get_token() with get_token(app) to make it work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ba5bbd9-c69d-fbfe-6392-f5cea4ebfb08
* Version Independent ID: 617eeeb5-0ad6-f54c-7d36-edeb2e6d9581
* Content: [Quickstart: Convert text-to-speech, Python - Speech Services - Azure Cognitive Services]

[2019-01-16 15:35] erhopf commented on #22601
Do you mind sharing your full working sample with us? Thanks!

[2019-01-16 15:39] TitusA commented on #22601
Hi,

I attached it.

Best regards,
Titus

From: erhopf <notifications@github.com>
Sent: Wednesday, January 16, 2019 17:36
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Titus Aries <tiarie@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] AttributeError: 'TextToSpeech' object has no attribute 'get_token' (#22601)

Do you mind sharing your

[2019-01-16 15:39] chi-ltd opened #22602 "Win10"
Doesnt work on Win10

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00a00a3e-a0df-7ee5-4733-7231bd7a024f
* Version Independent ID: 94361683-e1e7-7e55-6993-86d3c2486a14
* Content: [Connect Windows computers to Azure Log Analytics](https://docs.microsoft.com/en-gb/azure/azure-monitor/platform/agent-windows#verify-agent-c

[2019-01-16 15:48] vhorne commented on #18959
#please-close

[2019-01-16 15:55] MGoedtel commented on #22583
@michaelspinks - Thanks for bringing this to my attention.  I've bugged this and will get this addressed as soon as I can.  #please-close.

[2019-01-16 15:59] erhopf commented on #22601
@TitusA I see the change that you made to get the sample working, however, I don't see an attachment or code sample associated with this issue. It might help to copy and paste your code into a comment here.

[2019-01-16 16:02] brentblawat opened #22603 "Invoices for External Services"
Microsoft Docs Community - Is there a way to generate an invoice for the external services charged within Azure? From what I can tell, we cannot export external charges, nor can we generate an invoice for these charges.  Is there something I'm missing? (Specifically VM-Series Next Generation Palo Alto Firewall resource)

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-01-16 16:03] blueelvis commented on #22491
@TravisCragg-MSFT - Thanks for that information! If we already have a Resource ID in the NSG Log, why do we have the systemID as well in the log entry?

[2019-01-16 16:20] tfitzmac commented on #22552
@mganeshphani - thanks for the feedback. There are more list functions than we can show in this article. I included a few of the most common ones, and then used list* to indicate there are more. The remarks also describe that any list operation can be used.

[2019-01-16 16:20] KetanChawda-MSFT commented on #22586
@hjgraca Thank you providing your feedback. We will review and provide and update on this.

[2019-01-16 16:20] tfitzmac commented on #22552
#please-close

[2019-01-16 16:49] codescream commented on #22588
for .net core you will need to load some external library like naudio, or netcoreaudo to have it play. look at this..https://github.com/naudio/NAudio

[2019-01-16 17:00] mdtusz opened #22604 ""Azure Storage" API not shown"
When I get to [this](https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-app#grant-your-registered-app-permissions-to-azure-storage) section, the "Storage API" doesn't show up in the list of available API's to add.

Am I missing something, or has something changed in the portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-01-16 17:00] Grace-MacJones-MSFT commented on #21961
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-16 17:00] #21961 closed

[2019-01-16 17:07] benjamincharbonnier commented on #15894
+1

[2019-01-16 17:09] brthurr commented on #22195
I am aware of the process. My comment was that this should be mentioned as a prerequisite to this quickstart.

[2019-01-16 17:09] ccassagnol opened #22605 "Clarification needed on requirement for seperate KeyVault for new CommonName Cert"
In creation, change, and this manual rollover of cluster certificate documentation you mention that the API has changed for SF to automatically pull the cert with the latest thumbprint. Thing is you don't mention WHY you are creating a NEW cert in a NEW keyvault and whether this is required, especially in a rollover scenario without common name.  If I run:

$vmss = Get-AzureRmVmss -ResourceGroupNa

[2019-01-16 17:15] YutongTie-MSFT commented on #22595
@codescream Hi Mark, can you please check your "count" var? It seems that the setting of the var is not correct or it will be less than 0 during your loop. Thanks.

[2019-01-16 17:16] jontreynes opened #22606 "Specify previously created one content feedback"
Can you please specify "previously created one" in this statement. It's not clear to me.

Both the options will notify you of the automation account that is used for managing the updates. If you are enabling this feature for the first time in a vault, a new automation account will be created. All subsequent enable replications in the same vault will use the previously created one.

---
#### Docume

[2019-01-16 17:20] daveba commented on #21198
@SalimGangji @SaurabhSharma-MSFT The article has been updated to remove this statement.  It will be republished with the update this afternoon.  #please-close

[2019-01-16 17:21] julieMSFT commented on #21579
@kensjero Thank you for bringing this to our attention. We are working to correct this in all affected documents.

[2019-01-16 17:28] YutongTie-MSFT commented on #22587
@crazygo Hi, good question. Let me check and get back to you when I have the answer. Thanks.

[2019-01-16 17:28] hawkbox commented on #22103
Update, I've had the admin try again and they are still unable to add users to the Enterprise Application.

They are Contributor in the subscription and they have the following permissions
Exchange Administrator
Message Center Reader
Service Administrator
User Administrator

Something is either conflicting or missing but there is no indication what that might be.

[2019-01-16 17:42] jason-j-MSFT commented on #22170
@Sharpfinity I would recommend you asking the question in the forums:
https://social.msdn.microsoft.com/forums/azure/En-us/home?forum=servbus

[2019-01-16 17:42] #22170 closed

[2019-01-16 17:42] jason-j-MSFT commented on #22174
@basilhariri could you take a look?

[2019-01-16 17:43] jason-j-MSFT commented on #22186
@ShubhaVijayasarathy could you take a look?

[2019-01-16 17:45] Karishma-Tiwari-MSFT commented on #22483
@yashesvi @manish-shukla01 It looks like that particular vm size is missing from the doc. Can either of you please confirm on this and update the doc as appropriate. Thanks.

[2019-01-16 17:48] ms662412 commented on #16496
@DCtheGeek I appreciate the write up but I feel it is failing on results. When attempting a triggered Eval via the POST to the subscription, using the PS provided to generate the Bearer token, the response is blank using the trigEval uri... When attempting to use the token generated in ARC, I get a 401 even tho I am owner of the subscription in question. What am I missing?

[2019-01-16 17:49] cynthn commented on #22596
@kgopi05  We tend to cover PowerShell for Windows and CLI for Linux, so the CLI version is with the rest of the Linux docs here: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/convert-unmanaged-to-managed-disks

Thanks!

[2019-01-16 17:56] chrisahardie commented on #18461
@sorgina13 @jason-j-MSFT Be aware that the code in 4d is correct for Python 2. If you are using Python 3, you do indeed need to wrap the string in parentheses.

[2019-01-16 17:57] PeggyWiltz opened #22608 "Limit of 10"
I found this content very clear, but it leaves out the fact that you can only create 10 phrase lists.  I tried to create one for US states and it let me add them all, then only gave me the error that I couldn't add more than 10 when I tried to save.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c975bacb-0bee-7bb7-0d22

[2019-01-16 17:57] codescream commented on #22595
@YutongTie-MSFT I do not have a count var funny enough. I just copied the quickstart c# code for the 'Project Answer Search' API, and it breaks when I run it, given the error I posted.

[2019-01-16 17:59] YutongTie-MSFT commented on #22595
@codescream Hi Mark, thanks for the detail. That's unlucky, let me investigate more.

[2019-01-16 17:59] #22596 closed

[2019-01-16 17:59] crmhh opened #22609 "PTA-Agents and SSL-Interception"
Hi,

we're having trouble to run PTA-Agents over a proxy with SSL-Interception. Can you confirm that this is a problem in general?
Could you please also provide the URLs needed for the downloads by the PTA Update Agent - so we can whitelist them?

Thanks in advance
Chris

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c

[2019-01-16 17:59] codescream commented on #22595
@YutongTie-MSFT thank you!

[2019-01-16 18:00] #22583 closed

[2019-01-16 18:01] mike-urnun-msft commented on #22514
Hi @bigdatamoore Thanks again for providing your feedback and helping us drive improvements towards MS Docs! We have updated this documentation to reflect the latest on Consumption Plan for Linux. Change should be live within the next 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-16 18:01] #22514 closed

[2019-01-16 18:01] jason-j-MSFT commented on #22581
@phonglnk
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-16 18:03] jason-j-MSFT commented on #22579
@michaelspinks
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-16 18:04] jason-j-MSFT commented on #22577
@fokkeantonides
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-16 18:06] chrisahardie opened #22610 "Add detail to notebook contents"
The notebook contents are:

[code]

I understand what printing `getArgument("input")` does, but I have no idea what `dbutils.widgets.text("input", "","")` and `dbutils.widgets.get("input")` are doing. It would be helpful to have those steps described so we don't have to hunt around to understand them. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-01-16 18:07] Karishma-Tiwari-MSFT commented on #22605
Thanks for the question. We are currently investigating and will update you shortly.

[2019-01-16 18:11] ColbyTresness commented on #21706
@mhoeger  can you help us out with this?

[2019-01-16 18:13] kgremban commented on #22296
@djaus2 We try to align to the standard definitions of **registry** and **repository** used by other services including Docker. See their definitions for more information: [registry](https://docs.docker.com/glossary/?term=registry) and [repository](https://docs.docker.com/glossary/?term=repository)

An Azure Container Registry contains repositories, yes.
For each **IoT Edge module** there is a rep

[2019-01-16 18:15] jason-j-MSFT commented on #22187
@Sara-Nicolini could you take a look?

[2019-01-16 18:15] SaurabhSharma-MSFT commented on #22204
@bakerm00 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-16 18:15] #22204 closed

[2019-01-16 18:15] alkohli commented on #22370
@paulajohnsoncgi , Thanks for your feedback! Based on the info from the engineering team, port 445 is used for SMB traffic. The docs will be updated with the same information very soon. Hopefully this helps!

[2019-01-16 18:16] MarileeTurscak-MSFT commented on #22540
@krissebesta
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-16 18:17] SaurabhSharma-MSFT commented on #22493
@ronitr Thanks.
@woutervanranst We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-16 18:17] #22493 closed

[2019-01-16 18:26] quantumtunneling opened #22612 "How do I restart a particular worker instance via Powershell?"
I am unable to use the advanced restart tool within azure portal because it doesn't work with 21+ machines (Takes too long to load and times out). This is a known issue according to Azure support. Is there a way to restart an instance via powershell? I need to script this process as doing it manually via kudu is a PITA

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-01-16 18:31] Mike-Ubezzi-MSFT commented on #22384
@rolanddb No worries, as this is a product issue. If you are running the container as root, then there should be no issues reading the file from the file system from root (/). The fact that you can access the file from the internet is not the focus here. It is more about certificate trust and ensuring the process that is attempting to use a certificate has the correct ownership (and is the rightfu

[2019-01-16 18:31] jtuliani opened #22613 "Why only 20 websites?"
The doc says you can configure up to 20 websites. Yet the Azure Limits page for AppGw (https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#application-gateway-limits) never mentions the number 20. It says you can have 100 listeners, 100 backend pools, and 100 HTTP rules.

So, where does the limit of 20 web sites come from, and why isn't it captured in the limits page?

---
###

[2019-01-16 18:31] YutongTie-MSFT commented on #22595
@codescream Hi Mark, I just reproduce the code and it works for me well. My workflow is 1. Create a ConsoleApp 2.Change the accessKey 3.Run it.
![image](https://user-images.githubusercontent.com/38084098/51270447-c9452580-1979-11e9-9dcd-0bb47e36e69d.png)
I would recommend you to check above and also check if you get the key from https://labs.cognitive.microsoft.com/en-us/project-answer-search

[2019-01-16 18:34] YutongTie-MSFT commented on #22600
@yodobrin
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-16 18:34] rjohnson318 commented on #21888
@MSSedusch at this point I was told not to persue it. We will use Centos 7 instead. Thanks for your help on this issue guys.

[2019-01-16 18:36] haugerbr commented on #18552
It looks like the table is fixed now. I believe this can be closed.

[2019-01-16 18:37] SamirFarhat commented on #19785
Any news here ?

[2019-01-16 18:42] MarileeTurscak-MSFT commented on #22597
@ediazrod
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-16 18:47] YutongTie-MSFT commented on #22444
@nnmer Hi, this error in Azure Machine Learning occurs in case when invalid URI is passed. You will receive this error if any of the following is true:
- The Public or SAS URI provided for Azure Blob Storage for read or write contains an error.
- The time window for the SAS has expired.
- The Web URL via HTTP source represents a file or a loopback URI.
- The Web URL via HTTP contains an incorrectl

[2019-01-16 18:53] diberry commented on #22608
@PeggyWiltz Thank you for giving us feedback on the documentation. I'll clarify the limits on this feature in this document. #in-progress

[2019-01-16 19:03] jefflomax commented on #22194
This documentation is ABSOLUTELY NOT in order.  It shows an example that
HAS a exception.

The very-very common situation is your .NET (Core/Standard) WEB Api project
has received an HTTP Error, not an exception.  There are usually details of
that in the JSON payload that need to be logged in Application Insights.

I've hacked together a crude (but finally working) example, but I do not
know what

[2019-01-16 19:03] rjmiller-revint opened #22614 "Not Allowed Upgrade Polices"
This article mentions "You should minimally review all Not Allowed upgrade policy values during planning. This is to ensure that you set the values appropriately and to mitigate burning down of your cluster later because of unchangeable system configuration settings."  Is there a list of "Not Allowed" upgrade policies available somewhere?

---
#### Document Details

⚠ *Do not edit this section. It

[2019-01-16 19:09] SnehaGunda commented on #21823
@nealmcb hope the above example helps, we will now close this issue. If you have further questions feel free to reopen.

[2019-01-16 19:09] SnehaGunda commented on #21823
#please-close

[2019-01-16 19:10] mhoeger commented on #21706
The runtime requires an LTS-covered major version. LTS-covered versions have an even major version number (8.x, 10.x, etc.) as per https://github.com/nodejs/Release#release-plan

[2019-01-16 19:13] codescream commented on #22595
@YutongTie-MSFT exactly what I did, I'll redo it afresh. Thanks!

[2019-01-16 19:13] SnehaGunda commented on #21854
@WieserSoftware are the doc links shared by Wenbin helpful. We will close this issue if you don't have any further questions.

[2019-01-16 19:16] mhoeger commented on #21706
For more information on why we have a constraint on which node versions we support, please read this thread here: https://github.com/Azure/azure-functions-nodejs-worker/pull/153#issuecomment-451611027

[2019-01-16 19:22] codescream commented on #22595
@YutongTie-MSFT same error :(
![fcae84e8-e76a-40b2-b97e-460c5580e228 png](https://user-images.githubusercontent.com/44981320/51273185-133e0380-199a-11e9-82cf-d6d66e27f800.jpg)

[2019-01-16 19:23] dlepow commented on #22439
@tiny-dancer - Thanks for your feedback. Authenticating to a container registry from Web Apps for Containers is definitely a supported scenario, shown in other articles ([example](https://docs.microsoft.com/azure/app-service/containers/tutorial-custom-docker-image#use-a-docker-image-from-any-private-registry-optional)). And the list of Next Steps in this article isn't intended to be exhaustive - a

[2019-01-16 19:25] Karishma-Tiwari-MSFT commented on #22537
@backwardsDave1 I tried to reproduce and the command worked for me without any errors. Can you please share which version of AzureRM module version are you using? Please retry with the latest version and share the results. You can check the version by using this command:
`Get-Module -ListAvailable AzureRM`

[2019-01-16 19:25] henslecd commented on #22223
Any updates on this?

[2019-01-16 19:28] CeciAc opened #22615 "User settings mentioned in the documentation, but not to be found in the product"
@D43m0n commented on [Wed Jan 16 2019](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/204)

In this documentation there is a screenshot which shows "User settings" on the left. In the dashboard of the actual product this item is not to be found.

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: 9

[2019-01-16 19:31] CeciAc commented on #22615
Hi team,
I'm moving this here since the user is reporting inconsistency with the product

[2019-01-16 19:32] MysticRyuujin opened #22616 "Government / .us not accounted for with links"
This documentation only applies to .com and does not apply to .us. The short link forces you to .com and there's no apparent way to get to the MFASetup for a Government account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a5d93c5-5135-b9e9-e536-eb0830918b2e
* Version Independent ID: 49be1539-737b-8874-eca6-1cdbc526

[2019-01-16 19:34] wmengmsft commented on #22035
@imeya, we do not track and expose the creation date for tables. However, you should be able to easily accomplish this on your side by inserting an entity with the creation date property right after table creation.

[2019-01-16 19:35] codescream commented on #22595
@MikeDodaro oh wow, that was it! Silly me, I didn't think to try another query...lol. Thanks Mike!

[2019-01-16 19:35] #22595 closed

[2019-01-16 19:37] TravisCragg-MSFT commented on #22574
@arpitvw could you please post a link to the doc you are referring to?

[2019-01-16 19:38] michaelsoliman-com commented on #21699
@PramodValavala-MSFT Just following up... Did you get a chance to check?

[2019-01-16 19:39] TravisCragg-MSFT commented on #22580
@genlin Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-16 19:39] CeciAc opened #22617 "Usage Policy is mentioned in documentation, but not to be found in the Dashboard of Azure Labs"
@D43m0n commented on [Wed Jan 16 2019](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/203)

This documentation mentions a "Usage Policy", setting the amount of users access to the lab. In the current state this Usage Policy is not to be found in the Labs Dashboard. Has this been translated to the number of VM's that are available in the lab?

---
#### Documentdetails

⚠ *Dit gedeelte nie

[2019-01-16 19:40] CeciAc commented on #22617
Hi team,
I'm moving this here since the user is reporting inconsistency with the product and documentation
best

[2019-01-16 19:41] TravisCragg-MSFT commented on #22592
@stevej89 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-16 19:41] #22592 closed

[2019-01-16 19:41] julieMSFT commented on #11589
@mckelvj Hi John, thank you for your feedback. I have submitted the change to the article.
I will proceed with closing this issue. Please feel free to contact us if we can be of further assistance.

[2019-01-16 19:42] julieMSFT commented on #11589
#[https://github.com/MicrosoftDocs/azure-docs-pr/pull/63233](url)

#please-close

[2019-01-16 19:43] TravisCragg-MSFT commented on #22584
@brazierdavid Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-16 19:43] #22584 closed

[2019-01-16 19:45] Alberto-Vega-MSFT commented on #22092
@Futtrup87 I reached to you via email. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-16 19:45] #22092 closed

[2019-01-16 19:49] MarileeTurscak-MSFT commented on #22609
@crmhh
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-16 19:50] MarileeTurscak-MSFT commented on #22616
@MysticRyuujin
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-16 19:51] JasonWHowell opened #22619 "Testing Kusto feedback"
This is only a test to see if the system works for the vanity URL https://aka.ms/KustoDocsFeedback

---
#### Document Details

* Content:<Please insert URL of the doc here>
* Content Source: https://github.com/MicrosoftDocs/kusto
* Service: **data-explorer**
* GitHub Login: @orspod
* Microsoft Alias: **v-orspod**

[2019-01-16 19:54] boredom2 opened #22620 "Language Support"
Are there any Plans to support more Languages than English in Classification any time soon?
We would need this Feature for German :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12d0e3ab-b65f-9910-6ef7-acdfa526cee7
* Version Independent ID: c024e106-98ea-18fe-09dd-97ab1deb5bcf
* Content: [Text Moderation - Content Mo

[2019-01-16 19:54] kobulloc-MSFT commented on #22194
@jefflomax Thank you for being patient, and thank you again for providing additional details.  Information like this helps us understand what you'd like to see in the documentation.  With over 700 pages dedicated to Application Insights alone and many new changes within Azure Monitor, this kind of feedback helps us prioritize where we make documentation improvements.

We're assigning this to the d

[2019-01-16 20:00] rolyon commented on #22064
Hi @y4test
I added this api-version to the documentation:
https://docs.microsoft.com/en-us/azure/role-based-access-control/role-definitions#what-tools-support-using-rbac-for-data-operations

[2019-01-16 20:00] rolyon commented on #22064
@MicrosoftDocs/azure-cxp-triage
#please-close

[2019-01-16 20:02] rolyon commented on #21091
Hi @christianbain, @MicahMcKittrick-MSFT
I updated the documentation to include the Visual Studio subscriptions administrator portal.
thanks

[2019-01-16 20:03] femsulu commented on #22606
@jontreynes Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-16 20:04] Karishma-Tiwari-MSFT commented on #21867
@cgros Thanks for your patience. I am confirming this with the product team and will let you know as soon as I get an update.

[2019-01-16 20:05] jcbrooks92 opened #22621 "Provide a link to the documentation on setting up a Function App with EventGrid"
It would be helpful to reference the Function App documentation for setting up eventgrid with a function app in this document. Possibly under this header where we mention Azure Functions https://docs.microsoft.com/en-us/azure/event-grid/security-authentication#webhook-event-delivery .

https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-grid#azure-cli

---
#### Document

[2019-01-16 20:07] sanjeev3 commented on #22620
Hi,
Yes, we have German on our roadmap, but we can’t share any timelines yet.

Thanks!

Sanjeev

From: boredom2 <notifications@github.com>
Sent: Wednesday, January 16, 2019 11:55 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sanjeev Jagtap <Sanjeev.Jagtap@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] Language Support (#22620)

Are th

[2019-01-16 20:11] rolyon commented on #21091
@MicrosoftDocs/azure-cxp-triage
#please-close

[2019-01-16 20:13] #22064 closed

[2019-01-16 20:14] Placid7 commented on #15188
How are you moving a VM to a new Subscription or Resource group? Is it also moving the NIC and VNet as well?

[2019-01-16 20:14] #21091 closed

[2019-01-16 20:15] femsulu commented on #22602
@chi-ltd , can you share more details please? what error are you getting?

[2019-01-16 20:16] vhorne commented on #19424
@rfcdejong
Examples added.

[2019-01-16 20:19] vhorne commented on #21741
@davidobrien1985
Sentence reworded

[2019-01-16 20:20] MicahMcKittrick-MSFT commented on #22539
@tshinkle at which point in the doc are you getting this error?

[2019-01-16 20:21] VanMSFT commented on #16255
Thanks @MikiMakhlevich for following up. @v-maroge - Please let us know if you have any more questions regarding the Threat Detection document. We really appreciate your involvement in providing feedback. Since we are not able to provide GA dates, we will proceed to close this issue.
#please-close

[2019-01-16 20:22] TitusA commented on #22601
[tts.zip](https://github.com/MicrosoftDocs/azure-docs/files/2765903/tts.zip)

[2019-01-16 20:23] ppGrande commented on #21307
hello
still experience the same behiviour

"update Failed" message in the blade, and no notificacion

reload fail, and no changes

[2019-01-16 20:24] ppGrande commented on #21365
not sure what you mean by  a document

all those are screen captures from my account,