[2018-04-24 22:44] shafqatanwar commented on #7423
It looks like ARM is unable to authenticate the request.  Can you please share Request Header and Body for your failing request.

[2018-04-24 22:47] ylulloa opened #7665 "What's the conflict resolution strategy?"
What would be the workflow to avoid having one collaborator the work of another collaborator if they are working on the same thing at the same time?

Is there any indicator that there is another collaborator editing the same place you are going to edit?

Is there any integration with GitHub or similar, so all conflicts, versioning, and content management gets managed by Git?

---
#### Document Det

[2018-04-24 23:28] cherylmc commented on #7649
No worries! :-)

[2018-04-24 23:28] cherylmc commented on #7649
#please-close

[2018-04-24 23:28] #6810 closed

[2018-04-24 23:32] roygara commented on #7577
Hello @cesarwhite thanks for the inquiry! The 252 number excludes those three properties, as per this article: https://docs.microsoft.com/en-us/rest/api/storageservices/Understanding-the-Table-Service-Data-Model

I hope that answers your question satisfactorily, do you have any further questions?

[2018-04-24 23:32] MohitGargMSFT commented on #7597
@BroadArc Thanks Alan. I will now proceed to close this thread.

[2018-04-24 23:32] #7597 closed

[2018-04-24 23:33] vasivara-MSFT commented on #7651
@jrochet Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-24 23:33] Adam-Smith-MSFT commented on #7651
@jrochet Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-24 23:36] Adam-Smith-MSFT commented on #7659
@valdearg Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-24 23:38] #7649 closed

[2018-04-24 23:41] MohitGargMSFT commented on #7653
@Rich-Lang Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

@davidmu1 Please refer to this section of the document - [Configure the single page app
](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-tutorials-spa-webapi#configure-the-single-page-app) and check step2.

[2018-04-24 23:54] MohitGargMSFT commented on #7657
@Rich-Lang As mentioned in this section - [Access a protected web API resource](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-quickstarts-desktop-app#access-a-protected-web-api-resource), did you try to access api by passing access token and got an error?

[2018-04-25 00:10] David-Noble-at-work commented on #6788
@Frankwayne what version of the Emulator are you running? The current version is 1.22 which was published on 2018.04.20. Please install it from [here](https://aka.ms/cosmosdb-emulator), if you've not got the latest.

[2018-04-25 00:40] dbrankin opened #7666 "Table under 'Startup tasks'"
In table in the section label;ed "Startup task" has the columns headers swapped. i.e. the items currently under the heading Cloud Services are all Service Fabric things, while all the items currently under the header Service Fabric are Cloud Service things.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12ccef2a-a84b-8

[2018-04-25 00:56] zchia commented on #7641
Hi @russ4stall , could you email us at aaduserprovisioning@microsoft.com? I'd like to dive in deeper into this issue with you and would need some information from you that I am not comfortable sharing in a public forum.

[2018-04-25 01:12] eulkloss opened #7667 "Classic VM Deployments"
I see that this does not cover the Classic Deployment Model.  However, there is no link or reference to go to for resizing the OS disk of a Classic VM.  And I am not able to find it other than documentation to resize the entire VM - not just the OS disk

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccc58c74-7913-f1f6-

[2018-04-25 01:45] danmyhre opened #7668 "OMS Workspaces"
Would be great if you added some guidance on how OMS workspaces should be setup (when to create new, when to share, data boundaries, security implications, etc)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e25b5ef-031a-5590-057d-ae06ed0a9baf
* Version Independent ID: 8c1da2c3-ae0b-2f53-fcb4-e93b3f9b2a83
* Content: [

[2018-04-25 01:45] kobulloc-MSFT commented on #7635
@rich-davies Just to cover my bases, I want to make sure that billing APIs (https://docs.microsoft.com/en-us/azure/billing/billing-usage-rate-card-overview) and webhooks (https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-github-webhook-triggered-function) aren't going to address your needs.  We also have billing email alerts in preview right now (https://docs.microsoft.com/en

[2018-04-25 02:05] MicahMcKittrick-MSFT commented on #7666
@dbrankin Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-25 02:06] MicahMcKittrick-MSFT commented on #7667
@eulkloss Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-25 02:08] MicahMcKittrick-MSFT commented on #7532
@niravkanakhara any update on this?

[2018-04-25 02:10] jdpetersen commented on #7569
Thank you!

Regards,
John

Sent from my iPhone

On Apr 24, 2018, at 4:21 PM, Alpa Kohli <notifications@github.com<mailto:notifications@github.com>> wrote:

    External email - Caution opening links/docs

@jdpetersen<https://clicktime.symantec.com/a/1/kU-un44bWOsMtIOagA-PLxXgaxzF_fkSLG5XdtTb8Lo=?d=FLMZH7ICgMSnqATx06S0nZbDRbJdzZ4Wu-K1rH4QLItz5oGEavrVqH1Lrb4cKiNDnIREhUFqkWVKMq2tLC1Vi8nBRDfuCV7L_PJSR

[2018-04-25 02:27] MicahMcKittrick-MSFT commented on #7667
@eulkloss You can try following this blog to see if it helps you in the resize:

https://blogs.msdn.microsoft.com/madan/2015/11/02/resizing-azure-vm-os-or-data-disk/

I am not aware of any official documentation on this anymore. @kirpasingh are you aware or can you add any links to this doc for others who might need it?

[2018-04-25 02:33] #7666 closed

[2018-04-25 02:56] jason279 commented on #7423
hi @shafqatanwar @femsulu , my failing request is:
request header:
GET /ratecards/27d96b24-db2f-4847-b3a0-d556072000f6%5CMS-AZR-0017P%5CUSD%5Cen-US%5CFalse/2016-08-31-preview/16652779-b1e5-4f04-a4a9-6eb705316589.json?sv=2016-05-31&sr=b&sig=KLxd0RM%2BXrE4agcpBfvwgwT3txHkVPOFiEIB3FgGUKM%3D&se=2018-04-25T03%3A07%3A07Z&sp=r&rsct=application%2Fjson HTTP/1.1
HOST: ratecard.blob.core.windows.net
content-

[2018-04-25 02:59] dcbrown16 commented on #5380
@cephalin just wanted to check that this doc is still being updated as I don't see recent progress on the work item. I know Web Apps UI is constantly changing so certainly understand that you have a lot going on.

"By default, logs are not automatically deleted" is still generating confusion that leads to service incidents. I currently have one where the customer thought this statement applied to

[2018-04-25 03:04] jason279 commented on #7423
And @shabanovanton , the token is valid and not expired. The response is a XML data with a status `400 Authentication information is not given in the correct format. Check the value of Authorization header.`, the content is:
`<?xml version="1.0" encoding="utf-8"?><Error><Code>InvalidAuthenticationInfo</Code><Message>Authentication information is not given in the correct format. Check the value of

[2018-04-25 03:27] gadongji commented on #7539
Hi @xmark, there are more than 80 tables supported related to account, bank transaction, contact, credit, expense, invoice, manual, journal and etc. Sorry the doc is not ready yet. You can try Accounts table first and see if it works for you. This table should contain Account_ID, Bank_Account_Number, Bank_Account_Type, Class, Code, Currency_Code, Enable_Payments_To_
Account, Has_Attachments, Name,

[2018-04-25 03:54] YutongTie-MSFT commented on #7665
@ylulloa Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-25 03:57] tony-gutierrez opened #7670 "Doesnt adhere to TLS spec"
Changing clientCertEnabled to true does not result in the server sending "certificateRequest" as part of the tls negotiation. Also this is outdated as this setting can be changed in the portal. What is it with you guys and not getting anything right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb440603-950a-c224-f6c

[2018-04-25 04:04] YutongTie-MSFT commented on #7665
@ylulloa Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@v-geberr This is a issue about concurrency protection, can you please check it and update the document as necessary? Thanks a lot!

[2018-04-25 04:14] mike-urnun-msft commented on #6648
Hi @Molotch - Sorry for the delayed response here. I was able to reproduce this issue and will reach out to the product team for more clarity and get back to you with my findings.

[2018-04-25 04:15] mike-urnun-msft commented on #7134
Hi @r96941046 - Sorry for the delayed response here. I will dig into this today and get back to you with my findings.

[2018-04-25 05:08] hpsin commented on #7378
Yep, the link at the bottom of that section says to go to that page. It's past all the parameter and success/error pages. I'll add a link to the top as well.

[2018-04-25 05:40] Adjong commented on #7626
Yes, it did work.

From: Matt Briggs <notifications@github.com>
Sent: April 24, 2018 23:06
To: MicrosoftDocs/azure-docs
Cc: Jong, Arjan de; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Login to Azure Stack (#7626)

@Adjong<https://github.com/Adjong> Thanks for your feedback. Did you find the Login-AzureRMAccount worked for you? Thanks, Matt #in-progress

—
You are receiving this because you wer

[2018-04-25 05:47] msvijayn commented on #6951
@ryanabr You can add log alerts for OMS/LA using Powershell & ARM; docs for the same listed below:

- [Create and manage alert rules in Log Analytics with REST API](https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-api-alerts)
- [Adding Log Analytics saved searches and alerts to management solution (Preview)](https://docs.microsoft.com/en-us/azure/operations-management-suite/opera

[2018-04-25 06:38] aaronralls opened #7673 "Pool Creation"
Do you still have to contact Microsoft Customer Service to create a pool as this document states?

https://docs.microsoft.com/en-us/azure/machine-learning/studio/dedicated-capacity-for-bes-jobs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 087fbde6-dfe6-d00c-0254-909b32dd22f8
* Version Independent ID: e7fc7673-42cb-37

[2018-04-25 06:45] femsulu commented on #7664
@dbaechtel, Apologies the document did not meet your needs. Can you please let us know which section of the tutorial isn't working for you? We will be happy to connect with you to walk you through the tutorial if that helps.

[2018-04-25 06:49] rich-davies commented on #7635
Billing email alert doesn't help as I'm using EA subscriptions.  My use case is this:
I want to have a enterprise dev/test subscription which contains a number of DevTest labs.  Each of those labs has a cost quota/limit associated with it.  I wish to be able to send targeted alerts when specific cost thresholds have been reached.  Using a webhook to trigger a function to pull out the billing costs

[2018-04-25 06:57] slavizh commented on #7617
Hi
As you can see from Change tracking docs the frequency depends on the type of change. From below values none of them are 1 hour for sure.
Source: https://docs.microsoft.com/en-us/azure/automation/automation-change-tracking

Change type | Frequency
-- | --
Windows registry | 50 minutes
Windows file | 30 minutes
Linux file | 15 minutes
Windows services | 30 minutes
Linux daemons | 5 minutes
Windo

[2018-04-25 06:58] femsulu commented on #7668
@danmyhre Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-25 07:07] gbrueckl opened #7674 "Use of Copy in outputs"
I have a loop that calls a nested deployment multiple times. the nested deployment has outputs - how could I return the outputs of the nested deployments (executed in copy loop) to the output of the main template?
Is this possible at all?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e71b5b6-0a86-b261-4fb3-e31ca6a12e

[2018-04-25 07:31] v-liujxu opened #7675 "Suggestion: Could provide the detailed steps about how to enroll a device to group"
In the document, we know how to create an Enrollment Group. But there are no detailed steps about how to enroll a device to the group, or there is no link about that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee12ff08-add3-63c5-b5ca-2e15e4d6f8d4
* Version Independent ID: a4f8563c-0993-ba18-7474-f3b6b24c9124
* Cont

[2018-04-25 08:18] rahulunlimited opened #7676 "LinkedService validation error from Powershell"
The Linked Service with Azure Key Vault fails validation when executing through Powershell. However, it is successful when configured through UI.
Set-AzureRmDataFactoryV2LinkedService : 'Value' cannot be null.
At line:1 char:1
+ Set-AzureRmDataFactoryV2LinkedService -DataFactoryName $dataFactoryNa ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo

[2018-04-25 08:48] benc-uk opened #7677 "Add --location to `acr create`"
If people have configured their default location in the Azure CLI, the `az acr create` command will honor that, and not the resource group location. I suggest adding `--location eastus` to the create command just in case

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c97db060-5c54-3b95-8382-59822b1d05b7
* Version Indep

[2018-04-25 08:48] Rachitgupta1994 commented on #7426
I am able to see it. But it doesn't show options to change from say premium to basic

[2018-04-25 08:49] bytesofdhiren opened #7678 "What protocol this implementation uses?"
The implemented provided above works great for me.

I am looking towards the efficient implementation of the service bus and discovered that if service bus is implemented using AMQP/SBMP, it will be most efficient.

Please provide the details of a protocol used by above implementation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2018-04-25 09:02] waqar-anwar1990 opened #7679 "Issue with Syncing more than 30 Sync Agent"
# Issue with Syncing more than 30 Sync Agent

Okay our scenario needs us to sync more than 30 On-Premises DBs. Till 30 DBs it was all smooth. Now strangely, I am unable to sync the 31st and it keeps telling me that the Limit is reach. The exact error is here.

**Failed to perform data sync operation: Quota 'SyncGroupMemberLimitPerServer' exceed, failed to create sync member.**

Fair enough, after

[2018-04-25 09:18] jnfarmer opened #7680 "Dyanmic Group Based on organizationalUnit"
I'm trying to create dynamic groups based on organizationalUnit for Hybrid Azure AD devices. I have used a contains parameter with a string from a sub ou in our domain but isn't collecting the devices. What am I missing? Is there something I need to sync from our on-premises AD first?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2018-04-25 10:12] jpalo opened #7681 "SamlSSOSessionProvider logout"
Is there further information on single logout related to "SamlSSOSessionProvider", as it mentions that "SAML session logout requires the SessionIndex and NameID to complete." Would it be possible to implement single logout somehow when using custom policies?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a542986-5eda-

[2018-04-25 10:16] cephalin commented on #5380
@dcbrown16 Yes we are still tracking it in our back log but haven't been able to get around to it. Sorry for the inconvenience.

[2018-04-25 11:19] Anmolgan81 opened #7682 "What's the alternative for Web and Worker Roles In order to move them to CSP?"
What if cloud services contains web and worker roles how we are suppose to move them to CSP?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to new subscription or resource group](https://

[2018-04-25 11:50] fkaleck opened #7683 "Update needed"
Seems that SQL Azure (PaaS) and Azure Storage (incl. Files etc.) went GA for Customer Key

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd0472f9-1ed9-0154-3bfd-b25e5da64cd1
* Version Independent ID: 846187d4-c24c-279f-e216-80b6507228b3
* Content: [Microsoft Azure Data Encryption-at-Rest](https://docs.microsoft.com/en-

[2018-04-25 12:16] hjekman opened #7684 "Good up to the ssh point"
where at least I, as an azure rookie, got stuck. Don't know how to "download" the certificates generated to PC - or whatever is needed - to run ssh there. Neither Power shell, where the certificates almost are,  can login so ...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 279359a4-139a-ee4b-027b-4f43c538b90f
* Versi

[2018-04-25 12:26] JoNevi opened #7685 "Minimum permissions"
What are the minimum permissions needed to kick off a Manual execution?

In the Users blade I can see Roles of Owner, Contributor, Reader, Data Factory Contributor, etc none of which seem to fit the bill of 'user'.  I want to grant permissions to AAD users/groups and *only* give permissions to run DF pipelines, not amend them.  How do I do this?

---
#### Document Details

⚠ *Do not edit this sect

[2018-04-25 12:30] wpitallo commented on #6596
Please can we re-open this, we need to be able to execute stored procedures from inside the explorer not via sdk. Also need to get log, how else do you expect us to properly debug?

[2018-04-25 12:32] wpitallo commented on #6596
This functionality is available on the portal so why not in the emulator. console.log in UDF on the portal also does not work? Who is working on this that I can chat to?

[2018-04-25 12:34] gridpatrik opened #7686 "Error codes 70002 and 16000 are missing"
Being signed in with multiple accounts during a silent refresh (implicit flow) can generate an error containing both of the codes as below:
"AADSTS70002: Error validating credentials. AADSTS16000: Request is ambiguous: multiple user identities are available for the current request."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2018-04-25 12:39] grizzljt commented on #7592
Thank you for the links!  I truly appreciate your quick response.  My problem is with trying to enable multiple reply URLs.

I cannot seem to apply multiple reply URLs or wildcards through the GUI or through `Set-AzureADServicePrincipal`. When I try to add additional Reply URLs via `Set-AzureADServicePrincipal` I get the error

I actually followed the guide in the first link to set up SharePoint w

[2018-04-25 12:47] Frankwayne commented on #6788
@David-Noble-at-work    I had 1.21  just installed the 1.22 version

nothing in the event viewer this time either.   I'm open for a skype session to debug this issue whenever.   I just have an engagement this Saturday

[2018-04-25 12:48] Frankwayne commented on #6788
Is it possible that there is something blocking  the process ?   I looked in my antivirus but its not reporting any blocked process.   My co-workers also have the same antivirus    but they have no issues.

Maybe I need to open something in windows firewall or something.

[2018-04-25 12:48] ThinkFr33ly commented on #7683
Another update needed is that your table says that tables and queues have to use client side encryption. That's no longer the case per: https://docs.microsoft.com/en-us/azure/storage/common/storage-service-encryption

[2018-04-25 12:55] ejadib opened #7688 "The CONTAINER_GROUP variable definition is missing a $"
The CONTAINER_GROUP variable definition is missing a $ at the beginning.

Instead of being:

`CONTAINER_GROUP=$(az container show --resource-group <resource-group> --name <container-group> --query id --output tsv)`

it should be

`$CONTAINER_GROUP=$(az container show --resource-group <resource-group> --name <container-group> --query id --output tsv)`

otherwise you will get an CommandNotFoundExcep

[2018-04-25 13:02] bwren commented on #7668
@danmyhre Thanks for this.  This article is actually going to be retired soon as we move away from describing management in terms of OMS as described in http://aka.ms/azuremonitoring.  The workspace is described in our Log Analytics content, and I'm investigating to determine if we have or are planning to cover these questions.

[2018-04-25 13:03] bwren commented on #7668
#in-progress

[2018-04-25 13:04] bwren commented on #6675
#please-close

[2018-04-25 13:11] nromyn opened #7690 "Known Issues Link leads to a 404"
At the top of this document, there is a link to https://docs.microsoft.com/en-us/azure/active-directory/managed-service-identity/msi-known-issues. This page does not exist.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bd6bdc9-b545-f273-dc80-eeb69107d919
* Version Independent ID: dbbbadd6-f533-33e3-1c1f-7cbc889b20b7

[2018-04-25 13:15] georgewallace commented on #7664
@dbaechtel, apologies about the confusion on the doc. I see where the confusion is. We had a errant change that messed up the text. Recently in the AzureRM PowerShell modules, Add-AzureRMAccount was removed as a cmdlet and changed to an Alias for a new cmdlet Connect-AzureRM accout. Using normal PowerShell you would not notice the change. In Azure Automation you pick cmdlets by name only not alias

[2018-04-25 13:15] nromyn commented on #7682
Service Fabric is the recommended PaaS solution in Azure Resource Manager. It is not a direct equivalent of PaaS v1 but a rich service for developing micro-service based applications: https://azure.microsoft.com/en-us/documentation/services/service-fabric/

[2018-04-25 13:30] dbaechtel commented on #7664
I am still not sure what I am doing here and the documentation is not much
help.

I just want to set up a Runbook to start and stop an Azure VM on a weekly
schedule.

How do I do that?

On Wed, Apr 25, 2018 at 9:15 AM, George Wallace <notifications@github.com>
wrote:

--
Don Baechtel

[2018-04-25 13:42] vancourse opened #7691 "Creating multiple virtual applications inside App Svc"
I am trying to create multiple virtual applications using "copy" construct.. I am getting an exception:
Unable to parse language expression '(parameters('virtualdirectories')[copyIndex('vd')]).virtualdirectory': expected token 'Identifier' and actual 'LeftParenthesis'..
My parameters has the following value:
 "virtualdirectories": {
            "value": [
                {
                    "vir

[2018-04-25 13:47] georgewallace commented on #7664
@dbaechtel This article takes you threw making a graphical runbook to start a vm.  You can then create a schedule to run this each week. There is a solution for this as well, you can see the following article https://docs.microsoft.com/en-us/azure/automation/automation-solution-vm-management it is robust and has many options to start/stop vms in sequence, schedule or by cpu usage.  I tested the st

[2018-04-25 13:48] jkodroff opened #7692 "Stateful or Stateless?"
As someone coming from AWS, it would be helpful if we specified whether these are stateful (like AWS Security Groups - you don't have to specify the return traffic) or stateless (like AWS Network ACLS - all return ports must be explicitly specified).  Using these specific words ("stateful", "stateless") will really help folks who think about Azure in terms of AWS analogs, whcih is probably a decen

[2018-04-25 13:49] #7691 closed

[2018-04-25 13:57] craigg-msft commented on #5970
@douglaslMS please review the issue and also, please update the author meta data as appropriate.

[2018-04-25 14:00] craigg-msft commented on #6049
@douglaslMS please review as well as the author meta data.

[2018-04-25 14:06] dbaechtel commented on #7664
George,

The Azure Solution page will not allow me to complete that Addition of an
Automation account.
Many of the fields are disabled.
See screenshot attached.

How come nothing works in Azure portal as it is supposed to?

How do I set up a weekly schedule to Start and Stop my VM?

On Wed, Apr 25, 2018 at 9:47 AM, George Wallace <notifications@github.com>
wrote:

--
Don Baechtel

[2018-04-25 14:08] georgewallace commented on #7664
@dbaechtel, your screenshot did not come through.

[2018-04-25 14:09] dbaechtel commented on #7664
Attached.

On Wed, Apr 25, 2018 at 10:08 AM, George Wallace <notifications@github.com>
wrote:

--
Don Baechtel

[2018-04-25 14:12] dbaechtel commented on #7664
This article talks about setting up a Daily Start/Stp schedule for a VM.

How do I create a weekly Start/Stop schedule for a VM?
This article does not show how to configure a Runbook graphically.

On Wed, Apr 25, 2018 at 9:47 AM, George Wallace <notifications@github.com>
wrote:

--
Don Baechtel

[2018-04-25 14:27] MGoedtel commented on #7620
@vasivara-MSFT - can you please re-assign to brwen (Brian Wren). Thanks!

[2018-04-25 14:27] MGoedtel commented on #7619
@vasivara-MSFT - Can you please reassign to Bwren (Brian Wren).  Thanks!

[2018-04-25 14:30] MGoedtel commented on #7621
#in-progress.  Will bug and confirm/address this week.

[2018-04-25 14:32] BrightSoul commented on #7218
I tried using the en-us locale with italian speech and I got good results nonetheless. I wonder why the locale is needed in the first place since this is not a speech-to-text service.  Perhaps feature extraction is tweaked differently for each language?

[2018-04-25 14:40] alaney opened #7693 ".NET Core alternative"
In the section #modify-aspnet-code there is a Note which says SqlConnection.AccessToken is not supported for .Net Core. So what is a safe alternative if we're using .Net Core.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31b0d33c-f88e-d50c-2926-7933940f3b92
* Version Independent ID: 4aaef906-f501-6947-5d23-1b704470f0

[2018-04-25 14:42] cephalin commented on #7693
@mattchenderson Can you help here?

[2018-04-25 14:42] Toouny opened #7694 ""Faiure occured in Azure AD application....Try again!!""
I'm getting the above error in the title when I tried to execute the automated script as I wanted to connect Service Manager, any help please ? :(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82e5fdf6-4687-0a17-9a80-07703684b78f
* Version Independent ID: 42ed8d94-6250-54ba-5e8b-de62c0181e82
* Content: [Supported conn

[2018-04-25 14:42] s-gratz commented on #7252
Thank you for adding this code to promptly.

[2018-04-25 14:44] Toouny commented on #6515
I'm getting the same error but it is saying "Faiure occured in Azure AD application....Try again!!"

[2018-04-25 14:50] DonBranson commented on #6200
This script runs clean up through the final command, "New-AzureRmVM -ResourceGroupName $resourceGroupName -Location $location -VM $vmConfig"

The error from this command is: "Required parameter 'osDisk' is missing (null)."

[2018-04-25 14:52] craigshoemaker commented on #7643
@conterio I am not able to reproduce your problem. Can you please verify that your HTML page is successfully loading the `scripts/azure-storage.blob.min.js` script file? This script will create the instance of `AzureStorage.Blob` which has the `createBlobServiceWithSas` method. If the script is loaded successfully, then your error should disappear.

[2018-04-25 14:56] abyys opened #7695 "azure-vote.yaml fails validation"
Tried several times now, opened vi and pasted from the documentation here the azure-vote.yaml(using the copy button on the page) and saving, then I run:
  kubectl create -f azure-vote.yaml
and i get:
  error: error validating "azure-vote.yaml": error validating data: apiVersion not set; if you choose to ignore these errors, turn validation off with --
  validate=false
if i cat, VI or more the docu

[2018-04-25 14:57] bwren commented on #6603
@rymk Apologies for the delayed response.  Combination of vacation and running behind on some things. I'm following up with the owner of the data collector api to get answers on these.

[2018-04-25 14:57] bwren commented on #6603
#in-progress

[2018-04-25 15:13] bwren commented on #6806
@fowl2 Apologies for the delayed response. Combination of vacation and running behind on some things. We actually have new pricing for these services as described here - https://azure.microsoft.com/en-us/blog/introducing-a-new-way-to-purchase-azure-monitoring-services/.  We're working on integrating this new information into the documentation as you suggest.

[2018-04-25 15:13] bwren commented on #6806
#please-close

[2018-04-25 15:17] Mike-Ubezzi-MSFT commented on #6596
@wpitallo The best forum for those particular requests is through [Cosmos DB User Voice customer feedback](https://feedback.azure.com/forums/263030-azure-cosmos-db).
These GitHub issues are intended to point out and correct the documentation and the tutorials and code samples they reference. The User Voice is best for requesting features and functionality.

[2018-04-25 15:20] vancourse opened #7696 "Property Iteration not working.."
I am trying to create multiple Virtual directories using property iteration.. However, the below piece of ARM template is returning the following error message. What am I doing wrong?
"statusCode": "NotFound",
"statusMessage": {
  "error": {
    "code": "BadRequest",
    "message": ""
  }
},

Portion of the WebApp-Config resource:
 "properties": {
                        "copy": [

[2018-04-25 15:22] akmiecik opened #7697 "Who is target audience for this doc"
I've been in IT for over 30 years and am currently looking to use Azure for backup.  This document provides zero help in achieving that objective.

Specifically, the paragraph "A storage scale unit is a collection of racks of storage nodes. A fault domain (FD) is a group of nodes that represent a physical unit of failure and can be considered as nodes belonging to the same physical rack. An upgrad

[2018-04-25 15:26] MGoedtel commented on #7621
Confirmed path is incorrect and updated article.  Submitted PR to merge update.

[2018-04-25 15:28] luleonpla commented on #7592
@grizzljt you need to update the ReplyURLs in the App object first and then in the Service principal. This is because AAD check if the ReplyURL you're modifying in the SP matches any of the ReplyURLs in the app object. You can use this PS if you have access to the app object:

[code]

[2018-04-25 15:33] Mike-Ubezzi-MSFT commented on #6788
@Frankwayne Is this a plain-vanilla Windows 10 machine? If not, what software is installed?

Even through the latest 1.22 version has been installed, please follow these steps:

•	Ensure that all emulator processes are stopped:
CosmosDB.Emulator
DocumentDB.GatewayService
DocumentDB.Master
DocumentDB.Server

•	Delete the data directory: %LOCALAPPDATA%\CosmosDBEmulator

•	Uninstall the Emulator

•	D

[2018-04-25 15:35] maybebored commented on #7218
@BrightSoul yes by locale that is what I meant. I too am unsure as to why a locale is needed however curious as to what other options there are and how they affect performance,

[2018-04-25 15:41] bwren commented on #6899
@MNF We're actually in the process of moving alerts to the unified experience in the Azure portal - https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-overview-unified-alerts.   Fro now, I went ahead and removed that bad link.  Should be published this morning.

[2018-04-25 15:41] bwren commented on #6899
#please-close

[2018-04-25 15:51] mattchenderson commented on #7693
I think there is a library (ADALSQL) that can be used with .NET 4.6: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-aad-authentication-configure

Would something like that work?

[2018-04-25 16:01] keithdoyle9 commented on #5125
I can't find the plugin to install. Using Jenkins LTS from Azure Marketplace. It's not listed in my plugins in Jenkins at all.

[2018-04-25 16:06] ajamess commented on #7364
I removed my extraneous comments. @spottedmahn - we are looking into this and will evaluate how best to get these more deeply integrated into the TOC.  In general, you can always go to http://aka.ms/troubleshoot-apps to navigate between these items.

[2018-04-25 16:06] ToddChitt opened #7698 "Connecting via SSMS: Need to be a VM inside the vNet?"
Is it required to have the extra VM JUST to have SSMS installed? I have SSMS installed all over the place. Can I connect to the new Managed Instance from outside the vNet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cff1306-2822-8cea-936a-32d484e91be1
* Version Independent ID: b3f57fbb-99f8-3715-5949-702ea0142575
*

[2018-04-25 16:06] ajamess commented on #7364
#please-close

[2018-04-25 16:07] spottedmahn commented on #7364
copy that, thanks for looking into this @ajamess!

[2018-04-25 16:07] #7364 closed

[2018-04-25 16:07] mattchenderson commented on #7456
Noted. We've had some conversations with the various library teams about this. I definitely agree about the target-env-specific code. I don't have a good answer for your at the moment, but I think things will improve as we continue to build out MSI.

[2018-04-25 16:12] sethmanheim commented on #7317
@mack0196 Please let us know if you're still having an issue with this, otherwise we will close this issue.

[2018-04-25 16:30] davidmu1 commented on #6866
@chadc @WhippsP @Itouro Is there anything that should be changed in the article to prevent the confusion that you had?

[2018-04-25 16:32] ramagurram opened #7699 "implementation details links does not work any more"
In the above document the link (https://docs.microsoft.com/en-us/azure/active-directory/active-directory-b2b-hybrid-on-premises-to-cloud) to the following does not work.  The link use to work and we need this. I appreciate if you can fix the link.
"For implementation details, see Grant locally-managed partner accounts access to cloud resources using Azure AD B2B collaboration" -

---
#### Document

[2018-04-25 16:34] bwren commented on #6913
@paulmackinnon-adv365 Apologies for delayed response.  As I recall, we added the Compose step to make the process more reliable.  I need to go back to the test environment to determine the correct answer here.  Thanks for pointing out the discrepancy.

[2018-04-25 16:34] bwren commented on #6913
#in-progress

[2018-04-25 16:35] mack0196 commented on #7317
This is still important to me. Has the behavior changed and I should verify?

[2018-04-25 16:37] waqar-anwar1990 commented on #7679
Thank you for your response Mike. Sorry I did not mention the links. I am using everything that is mentioned in the below documentation i.e. Azure SQL Databases, Sync Groups, and Sync Agents on-premises.

I have copied the details below.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8439fa3-ed6f-94cd-107c-c2b00fa97d1

[2018-04-25 16:39] DCtheGeek commented on #7534
@thuansoldier Thank you for the feedback.  If the link to the VM Policy page was in Next Steps on the Azure Policy page, would that have helped you find it faster?

[2018-04-25 16:47] vancourse opened #7701 "Property Iteration not working"
Error: 'The template function 'copyIndex' is not expected at this location. The function can only be used in a resource with copy specified.
Here is the portion of my template that is causing the above error.. Any ideas?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e71b5b6-0a86-b261-4fb3-e31ca6a12ec3
* Versi

[2018-04-25 16:50] sethmanheim commented on #7317
@mack0196 The behavior has not changed, and the sample you're referring to in the MSDN code gallery has not changed in quite some time.

Can you please re-state what your question or documentation feedback is?

[2018-04-25 16:56] csteegz commented on #7459
@j-martens Chhavi's no longer on the team - I can just make a PR if that's the fastest way to get this fixed.

[2018-04-25 17:00] David-Noble-at-work commented on #6596
@Ramji-S @wpitallo
Hi there,

I'm the dev owner of the emulator and available to chat here and by Skype, if you prefer. We are actively working on updates to the Emulator's Web UI for greater parity with cloud. The effort's on going. Let me open this up for discussion by a wider audience. What new features would you like to see in the Web UI?

- Execute stored procedures
- Access console logs (a f

[2018-04-25 17:00] bwren commented on #7181
@bbarrington2001 Thanks for noticing this.  I'm going to change the link to a more general topic on the Diagnostic Extension.  That article describes what the extension is and links to different installation methods.

[2018-04-25 17:00] bwren commented on #7181
#please-close

[2018-04-25 17:01] neilpeterson commented on #7695
@abyys - thanks for raising the issue. I've just run through the steps without issue:

- New cluster
- Cloud shell > vi
- Copied in the YAML using the copy button

Results:

[code]

What browser are you using when copying the YAML?

[2018-04-25 17:03] #7189 closed

[2018-04-25 17:04] Mike-Ubezzi-MSFT commented on #6596
I am reopening this GitHub issue for further discussion.

[2018-04-25 17:05] MicahMcKittrick-MSFT commented on #7673
@aaronralls Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-25 17:06] MicahMcKittrick-MSFT commented on #7677
@benc-uk Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-25 17:06] MohitGargMSFT commented on #7681
@jpalo Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-25 17:07] MicahMcKittrick-MSFT commented on #7684
@hjekman Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-25 17:08] MicahMcKittrick-MSFT commented on #7688
@ejadib Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-25 17:10] #6899 closed

[2018-04-25 17:10] #7532 closed

[2018-04-25 17:11] BryanTrach-MSFT commented on #7670
@tony-gutierrez Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-25 17:12] MohitGargMSFT commented on #7680
@jnfarmer Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-25 17:13] neilpeterson commented on #7688
@ejadib @MicahMcKittrick-MSFT - this doc is not meant to be run from PowerShell rather Bash. We are working on some platform tooling that will allow us to switch between languages / environments (PowerShell / Bash), once that is complete, we will add PowerShell samples to this doc.

In the interim, we can clarify in the doc that the commands assume Bash / WSL.

[2018-04-25 17:13] MohitGargMSFT commented on #7683
@fkaleck Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-25 17:14] YuriDio commented on #7683
@MohitGargMSFT please contact @barclayn to update this since I left the documentation organization and no longer update those articles. Thanks

[2018-04-25 17:15] kobulloc-MSFT commented on #7635
@rich-davies Thank you for the use case!  It really does help us understand the problem you're trying to solve.  I'm going to assign this to the document author in case they know something I don't here.  Hopefully there's an answer you're looking for but if it turns out that this feature doesn't exist yet, user suggestions are actually read and implemented at https://feedback.azure.com, so it may

[2018-04-25 17:25] vasivara-MSFT commented on #7694
@Toouny Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-25 17:26] MohitGargMSFT commented on #7699
@ramagurram Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-25 17:26] vasivara-MSFT commented on #7623
@niceysj We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-25 17:26] #7623 closed

[2018-04-25 17:29] vasivara-MSFT commented on #7617
@slavizh Yeah, I can see that. What is your issue with that?

[2018-04-25 17:30] archevel opened #7703 "Note on cluster environments when using a free account"
It seems impossible to create a cluster so that I can deploy a model to azure when I was using my initial free account.

    az ml env setup --cluster -n <name> -l <location> -g <resource-group>

Starts the creation of all necessary resources. However, using `az ml env show -g <resource-group> -n <name>` shows that "Provisioning Errors" has an element that the "Resource quota limit exceeded.". Loo

[2018-04-25 17:33] tony-gutierrez commented on #7670
Ignore the TLS part, its sending it, juts encrypted and hard to see. But the docs are outdated and missing the portal switch.

[2018-04-25 17:34] MohitGargMSFT commented on #7683
@YuriDio Done. Please update the document meta data for future reference. Thanks.

[2018-04-25 17:37] MGoedtel commented on #6641
@dougbw - Just updated the json template to properly escape double-quote and submitted PR now.  Once PR is merged I'll update this issue.

[2018-04-25 17:40] davidmu1 commented on #7370
Changed the steps to:

6. In the Settings menu, click **Keys**.
7. In the **Passwords** section, enter the key description and select a duration, and then click **Save**. Copy the key value (also known as Client Secret) for use in a later section.

#please-close

[2018-04-25 17:45] bdcoder2 opened #7705 "Queries are CASE-SENSITIVE..."
One of the KEY points that is missing in the documentation (sorry if I missed it), is that SQL queries involving strings are case-sensitive.  For example, the following query:

SELECT * c WHERE c.email = "joe.tester@mail.com"

Will NOT return any records if the email address stored is "joe.Tester@mail.com"  (note the capital T).

In order to perform a case-insensitive query, you must either normal

[2018-04-25 17:52] #7370 closed

[2018-04-25 17:55] daveba commented on #7690
@nromyn  This issue has been fixed and is now live.

[2018-04-25 17:55] MGoedtel commented on #6641
PR merged and this doc issue can be considered resolved.  Thanks for your contribution @dougbw.  #close

[2018-04-25 17:55] MohitGargMSFT commented on #7581
@argrithmag We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-04-25 17:55] #7581 closed

[2018-04-25 17:55] davidmu1 commented on #7443
I don't see a required change here to the landing page. The quickstart that is linked to from the landing page describes using a single-page app developed in Node.js.

#please-close

[2018-04-25 18:00] #6641 closed

[2018-04-25 18:01] YutongTie-MSFT commented on #7703
@archevel Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-25 18:05] jrochet commented on #7634
Thanks @MohitGargMSFT . I was thinking that the rules could be shrunken down to just two instead of three to accomplish the same thing.  Regardless, I'm going to close the issue, it is not a big deal.

[2018-04-25 18:05] #7634 closed

[2018-04-25 18:09] davidmu1 commented on #7531
@spottedmahn I'm not understanding the requested change to the article. What does 'Please the warning' mean? What limitations are you referring to?

[2018-04-25 18:10] #7443 closed

[2018-04-25 18:11] spottedmahn commented on #7531
![image](https://user-images.githubusercontent.com/14079228/39264308-908eb32c-4892-11e8-80c9-c1a2fcfd2a9a.png)

[on this code sample](https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp)

[2018-04-25 18:13] guddu2112 commented on #7419
I downgrades docker to 17.12 ce version and it worked. Could be problem
with latest docker 18 build not supported with iot edge?

On Tue, Apr 24, 2018, 03:48 Bryan Trach <notifications@github.com> wrote:

[2018-04-25 18:14] bandersmsft commented on #7535
@MicahMcKittrick-MSFT Please assign this issue to @DCtheGeek

[2018-04-25 18:15] sangram-pawar opened #7706 "Question about the order in which network interfaces are listed in the Azure Instance Metadata payload"
Hi,
Are network interfaces in the instance metadata payload always presented in the same order in which they are attached to the VM? For example,
http://169.254.169.254/metadata/instance/network/interface/0 is nic0
http://169.254.169.254/metadata/instance/network/interface/1 is nic1
and so on

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2018-04-25 18:15] bandersmsft commented on #7536
@MicahMcKittrick-MSFT Please assign this issue to @DCtheGeek

[2018-04-25 18:16] thuansoldier commented on #7534
@DCtheGeek  Yes, link included works completely!

[2018-04-25 18:17] neilpeterson commented on #6200
@DonBranson - what version of the PowerShell module are you using?

[2018-04-25 18:17] twooley commented on #7699
@ramagurram Hello. The link should be working now. I'm closing this issue. Thanks for bringing this to our attention!

[2018-04-25 18:17] twooley commented on #7699
#please-close

[2018-04-25 18:29] alaney commented on #7693
I don't believe that will work since it's written for .NET. The scenario I'm interested in is a secure database connection from an app service using ASP.NET core and EF core. In the document linked above an example of using MSI (managed service identity) is explained. This is secure because no secrets or keys are stored in app settings or in code. However, as I mentioned, the note in the article s

[2018-04-25 18:32] TomShinder commented on #7683
Hi @fkaleck! Thanks for calling this to our attention. I'll facilitate the updates and make sure we have the right into here. We appreciate you taking the time to let us know about this issue. Thanks!!! -Tom

[2018-04-25 18:33] j-martens commented on #7459
@csteegz - Thanks, Colin. Sure. Please reference that it fixes this issue in your PR comments.

[2018-04-25 18:35] akmiecik commented on #7697
Hey, I'll be more than happy to help.

Call if you want to

Alan

615.261.8538

ps.  that way I'll understand better

On 4/25/2018 1:23 PM, Adam-Smith-MSFT wrote:

[2018-04-25 18:38] vasivara-MSFT commented on #7685
You can [create custom role](https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles) with certain actions. You can find all the data factory actions [here](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#data-factory-contributor). It seems like we don't have any actions that allows user to give permissions just to run a pipeline.

[2018-04-25 18:45] #7645 closed

[2018-04-25 18:47] MohitGargMSFT commented on #7658
@davidrosetds We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

@olena-microsoft Thanks for your help.

[2018-04-25 18:47] #7658 closed

[2018-04-25 18:49] pargall commented on #7423
Hi Folks.
RateCard recently started returning a http redirect to blob storage. When following the redirect, you shouldn't be passing in an Authentication header as the redirect URL ratecard returns contains a SAS token which is used to authorize the request.  You still need to pass the authentication header in the original request to ARM.

[2018-04-25 18:50] barclayn commented on #7439
#please-close

[2018-04-25 18:51] barclayn commented on #7519
Thank you for the feedback. I have passed that along to the PM for his consideration. #please-close

[2018-04-25 19:09] larryms opened #7708 "Bash installation script: need for root?"
This page says the following just above the bash install script:
*Fill in the correct parameters on the first three lines, then execute this script as root:*

Why is the guidance to run the script as root?  There doesn't appear to be any dependencies on needing root, and in fact, I was able to successfully run the script as a normal user.

---
#### Document Details

⚠ *Do not edit this section. It

[2018-04-25 19:14] larryms opened #7709 "Is it still the case that the Azure portal cannot install version 3?"
Today (4-25-2018) I tried installing the diagnostic extension through the portal and it appears to be installing version 3.x, even though the documentation says the portal will only install version 2.3.  I ran this query after installing the extension through the portal:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-04-25 19:15] jasonzio commented on #7708
I agree; there's nothing in that script that requires root.

[2018-04-25 19:24] bingosummer opened #7710 "The path ~/lib/azure-cli/lib/python2.7/site-packages/certifi/ doesn't exist"
The path `~/lib/azure-cli/lib/python2.7/site-packages/certifi/` doesn't exist if azure cli is installed via "apt-get".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583c4bab-c16a-a723-04ac-b3265d9e8269
* Version Independent ID: ba902e46-2c31-aeea-87e8-8c186d6d1820
* Content: [Connect to Azure Stack with CLI](https://d

[2018-04-25 19:27] MGoedtel commented on #7018
@BharathRahulDS - Currently the ability to encrypt, mask, or removing fields is not supported in Log Analytics.  We do have plans to support data encryption at rest of all of the data later this year.  I don't have any other information to share at this time.  I hope this answers your question.  #close.

[2018-04-25 19:27] adyrotaru commented on #7684
ssh <publicIpAddress>
yields: Permission denied (publickey,gssapi-keyex,gssapi-with-mic).

[2018-04-25 19:28] MicahMcKittrick-MSFT commented on #7557
@saifuddin123 I will close this out for now. When ready please come back and reopen so we can continue.

[2018-04-25 19:28] #7557 closed

[2018-04-25 19:30] MicahMcKittrick-MSFT commented on #7667
@squillace is this something you can help with? I see the authors are not eligible to be assigned. Seems like we might need to add some information to this doc about classic VMs as well. Or find the correct link to other official docs we can reference.

[2018-04-25 19:30] bisoisk opened #7711 "visualization could be improved with kibana.."
visualization could be improved with kibana..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63da71c4-393b-303a-9ce4-820d1ae2811a
* Version Independent ID: 945331aa-7d85-7722-4cc1-19106d39bc00
* Content: [Predictive maintenance for real-world scenarios](https://docs.microsoft.com/en-us/azure/machine-learning/desktop-wo

[2018-04-25 19:32] guybartal opened #7712 "BatchAI"
Is it possible to train on GPUs with Batch AI via ML Workbench?
https://azure.microsoft.com/en-us/blog/batch-ai-public-preview/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be49cbc2-8c7b-8286-44fd-270f8435d9f0
* Version Independent ID: d72d72b2-5874-dbcc-6cac-edc9f9cc9bca
* Content: [How to Use GPU for Azure Machine

[2018-04-25 19:32] MicahMcKittrick-MSFT commented on #7673
@aaronralls you only need to contact support if you do not have sufficient core quota to deploy the batch service you are attempting to use. So it would be on a situational basis in which you would need to contact support.

[2018-04-25 19:36] MicahMcKittrick-MSFT commented on #7677
@benc-uk good feedback! I have added this to the doc. Once the changes are merged this issue will automatically close.

[2018-04-25 19:38] BryanTrach-MSFT commented on #7670
@tony-gutierrez We're happy to hear the feature is working for you. The portal switch is a new feature and our docs haven't been updated to reflect this recent change. I have assigned the issue to the document author to make any necessary changes to reflect the new process.

@naziml Customers now have the ability to enable client certificates in the Azure portal as well. Can you please look at the

[2018-04-25 19:38] chaitualladi opened #7713 "Azure Key Vault Storage Account Keys implementation using ARM template."
Hello,

I am interested to know if there is possibility of key rotation using ARM template, apart from PowerShell or C#, to implement Azure Key Vault Storage Account Keys. I am able to provision both resources and write secrets to keyvault using ARM template(in VSTS), but i want to know if it is possible to implement rotation of keys with same ARM template, which would reduce a post provision step

[2018-04-25 19:39] MicahMcKittrick-MSFT commented on #7684
@RicksterCDN we should consider adding the --admin-username and --password instead of generate SSH keys.

@hjekman you can replace --generate-ssh-keys with

--admin-username USERNAME --password PASSWORD to get this to work.

[2018-04-25 19:39] SnehaGunda commented on #6955
@ydogandjiev thank you for putting the sample together, @burkeholland will followup with you after he tests his sample with right versions. We are closing this issue for now, Feel free to reopen this issue or create a new one if you have any followup questions.

[2018-04-25 19:39] SnehaGunda commented on #6955
#please-close

[2018-04-25 19:48] hpsin commented on #6147
#please-close

[2018-04-25 19:50] MGoedtel commented on #6690
@lzandman - I've gone through and verified all the references under the Templates section and revised accordingly as well as revised the Next steps section while I was at it.  The updated article should go out this afternoon.  Thanks for generating the issue and I believe this satisfies the feedback provided.  #close

[2018-04-25 19:52] vasivara-MSFT commented on #6690
@lzandman We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-25 19:52] #6690 closed

[2018-04-25 19:55] vasivara-MSFT commented on #7018
@BharathRahulDS We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-25 19:55] #7018 closed

[2018-04-25 19:55] vasivara-MSFT commented on #7639
@gilherau We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-25 19:55] #7639 closed

[2018-04-25 19:58] hpsin commented on #6996
Handlesd by this commit [8d25bf01e151db0334a9d9c4a13ccead8c3a15fe ](https://github.com/MicrosoftDocs/azure-docs/commit/8d25bf01e151db0334a9d9c4a13ccead8c3a15fe), #7256

[2018-04-25 20:03] CelesteDG commented on #7211
Hello @MohitGargMSFT , please reassign this from @BryanLa to myself. I've taken over the Azure AD dev docs (from the APEX team) and I'll be working with @elisolMS to get the topic updated based on her comments above. Got a separate tracking work item for this in VSTS. Thank you.

[2018-04-25 20:06] iainfoulds commented on #7667
There are very few Classic VM docs remaining. The focus of the docs have been on Resource Manager deployments for the last 2-3 years.

What Classic deployment model docs there are start here - https://docs.microsoft.com/en-us/azure/virtual-machines/linux/overview?toc=%2fazure%2fvirtual-machines%2flinux%2fclassic%2ftoc.json . There is no Classic equivalent of the resize doc.

[2018-04-25 20:10] adyrotaru commented on #7684
Thanks, alternatively I navigated to my oracle VM in azure portal and reset the password for user azureuser; this also reset the auth mode and allowed me to authenticate like this:
ssh azureuser@publicIP

Hope it helps

[2018-04-25 20:10] SaurabhSharma-MSFT commented on #7706
@sangram-pawar Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-25 20:14] SaurabhSharma-MSFT commented on #7711
@bisoisk Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-25 20:15] CelesteDG commented on #6996
@MohitGargMSFT - Please see comment from @hpsin. Looks like this is resolved and this Github issue can be closed. Thank you.

CC @Ke-Dou

[2018-04-25 20:16] CelesteDG commented on #6147
Hello @MicahMcKittrick-MSFT - Please see request to close this issue due to lack of additional info. Thank you.

[2018-04-25 20:16] SaurabhSharma-MSFT commented on #7712
@guybartal Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-25 20:17] RicksterCDN commented on #7684
Hey @adyrotaru - the tutorial / quickstart is targeting folks who are either running Linux/Mac and are used to dealing with certificates for authentication OR are using Win10 with Windows Subsystem for Linux. You can also run these through the Azure Cloud Shell directly in the portal.

I assume you were running this from a windows box? what was the setup?

[2018-04-25 20:17] MicahMcKittrick-MSFT commented on #7667
Thanks @iainfoulds!

@eulkloss Please try the follow docs we suggested. From a content perspective we do not plan on adding any additional content for classic.

I will close this for now but if you have further to discuss please reopen and we can continue.

[2018-04-25 20:18] #7667 closed

[2018-04-25 20:18] MohitGargMSFT commented on #7680
@jnfarmer Please refer to this [Using attributes to create rules for device objects](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-groups-dynamic-membership-azure-portal#using-attributes-to-create-rules-for-device-objects) section of the [document](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-groups-dynamic-membership-azure-portal) which state

[2018-04-25 20:25] xMTinkerer commented on #7053
Great, good info. Would be helpful in the doc.

[2018-04-25 20:26] TomShinder commented on #5816
Fixed. Thanks!

[2018-04-25 20:28] CelesteDG commented on #7053
Thank you, @ManuelRin. I'm trying to see if we've got another topic elsewhere that talks about the Azure portal, various UI elements, etc so that I can just link to what topic might talk about what you said (a good tip) or about the PortalDiagnostics.json file. That way we are not out of sync from that (should such a topic(s) exist).

[2018-04-25 20:31] Mike-Ubezzi-MSFT commented on #7698
@ToddChitt Based upon those instructions, and without creating a route to allow inbound traffic on port 1433, you will need to install SSMS on a VM inside the VNet that is created for your Azure SQL Managed instance.
If you created an Azure SQL Database (not a managed instance) you can connect from anywhere by way of a firewall rule to allow traffic from the client IPs where you have SSMS running.

[2018-04-25 20:34] Mike-Ubezzi-MSFT commented on #7705
@bdcoder2 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-25 20:36] SaurabhSharma-MSFT commented on #7475
@Alex-Algo We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-25 20:36] #7475 closed

[2018-04-25 20:39] CelesteDG commented on #6485
@MatLeger - The PR from @hpsin is here (https://github.com/MicrosoftDocs/azure-docs-pr/pull/38280) and awaiting merge into master (then live).

[2018-04-25 20:40] SaurabhSharma-MSFT commented on #7709
@larryms Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-25 20:43] #7519 closed

[2018-04-25 20:51] SaurabhSharma-MSFT commented on #7701
@vancourse Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-25 20:54] SaurabhSharma-MSFT commented on #7696
@vancourse Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-25 20:54] davidmu1 commented on #7531
@spottedmahn Still not understanding the correlation. I don't see any information in the referenced article that talks about the renewing of an access token. Can you be more specific about where you think the note should be and how it relates to the content of the article?

[2018-04-25 20:55] davidmu1 commented on #7483
Added identity-experience-framework to the link.

#please-close

[2018-04-25 20:56] jasonzio commented on #7708
Please don't assign this to me; I no longer have a direct involvement with LAD. New owner is @abhijeetgaiha

[2018-04-25 21:05] MohitGargMSFT commented on #7713
@chaitualladi Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-25 21:06] LuisBosquez commented on #6530
#please-close

[2018-04-25 21:06] LuisBosquez commented on #6663
#please-close

[2018-04-25 21:06] spottedmahn commented on #7483
nice, thanks!

[2018-04-25 21:06] #7483 closed

[2018-04-25 21:10] mganeshphani opened #7715 "Specify the limitation of this behavior"
I do see that there is no way to associate multiple NIC's (associated to multiple VNET's)..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c983ce71-9558-9f6e-14d9-feb6f19fe375
* Version Independent ID: 99f023ee-50d7-48e3-74bf-070f818cc639
* Content: [Create and manage Windows VMs in Azure that use multiple NICs](https:

[2018-04-25 21:10] spottedmahn commented on #7531
The correlation is the sample says there are limitations when requesting access tokens.  The documentation states nothing about these limitations.

---

According to [the sample](https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp):

It should probably say requesting not renewing ("Silently **requesting** of access tokens...") but that's a different topic.

To me, t

[2018-04-25 21:11] SaurabhSharma-MSFT commented on #7675
@v-liujxu Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-25 21:11] TravisCragg-MSFT commented on #7692
@jkodroff Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-25 21:12] SaurabhSharma-MSFT commented on #7674
@gbrueckl Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-25 21:13] davidmu1 commented on #7531
I don't have any information so far that the note in the sample has anything to do with the article. If you are saying that information is needed in the article about renewing a token, I understand that and can open a workitem to prioritize that work, but so far, I don't see it as a change to the current information in the article.

#please-close

[2018-04-25 21:14] vasivara-MSFT commented on #7685
@JoNevi We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-25 21:14] #7685 closed

[2018-04-25 21:15] SaurabhSharma-MSFT commented on #7678
@dhirenrouterabbit Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-04-25 21:18] #6147 closed

[2018-04-25 21:27] davidmu1 commented on #7284
I don't think there is an update currently required to the referenced article for this issue, so asking to close.

#please-close.

[2018-04-25 21:31] arnabganguly opened #7716 "AML Studio stuck with wheel while launching on Macbook"
# Azure documentation issue guidance
 I installed the ML workbench today on my Mac on 04/25 and its not starting up and giving me a rotating wheel.  I did look up the issue that is documeted on deleting the below file
# on macOS
~/Library/Application Support/AmlWorkbench/AmlWb.settings

I do not see the AmlWorkbench/AmlWb.settings in my ~/Libary/Application Support path.

[2018-04-25 21:31] DCtheGeek commented on #7534
@thuansoldier I've made the enhancement to the page and requested merge.  It should be published and live tomorrow.  Thanks again for the feedback!

@MicahMcKittrick-MSFT Please assign this to myself and #please-close

[2018-04-25 21:36] #7284 closed

[2018-04-25 21:37] #7534 closed

[2018-04-25 21:41] clayhagler opened #7717 "New Alerts Schema?"
It appears that the new Azure Monitor: Alerts feature has a new schema.  When sending a metric based alert to an action group with a webhook action, I see this payload which is similar but different enough to throw one off course for a while if you developing the receiver against the one published in this article.  Please update this article before someone else burns more hours on this.
{"schemaId

[2018-04-25 21:44] davidmu1 commented on #7376
According to the engineering team, PublicPolicyUri was an original attribute that is not currently used. They will be working on removing it. There is no change to the referenced article.

#please-close

[2018-04-25 21:47] DCtheGeek commented on #7534
@MicahMcKittrick-MSFT Looks like you assigned it to the requestor instead of me.  Please adjust.  Thanks!

[2018-04-25 21:48] sethmanheim commented on #7678
@dhirenrouterabbit Hello and thanks for the feedback. Please have a look at this article: https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-amqp-overview, as well as the entire AMQP node around it.

[2018-04-25 21:49] MicahMcKittrick-MSFT commented on #7534
Ooops! Thanks :)

[2018-04-25 21:58] vasivara-MSFT commented on #7694
@Toouny it fails at this part of the code

$adApp = New-AzureRmADApplication -DisplayName $siteName -HomePage $azureSite -IdentifierUris $azureSite -Password $clientSecret

Please double check your variables at the top of the automated script($azureSubscriptionName, $resourceGroupName, $location, $serverName, $domain, $username, $password)

If those are fine, it should be working fine.

[2018-04-25 21:58] cesarwhite commented on #7577
Thank you all for following up and the information provided. Yesterday, I found some non-official sources of information and the provided link makes it official. Thanks!

[2018-04-25 21:59] chaitualladi opened #7719 "ProviderOperation to restrict access to use Firewall tab in Cosmos DB"
Hello,

In order to restrict access to a user from using Firewall tab to add or remove IPs of selected networks for IP  restrictions, which ProviderOperation would be better to create a role to deny access and assign it to specific user so that they cannot be able to modify the IPs in firewall tab for Cosmos DB. I do not see any ProviderOperation related to Firewall for Cosmos DB.

Thanks
Chaitany

[2018-04-25 22:01] davidmu1 commented on #7657
The link was not intended to be clicked and was not necessary for context. Removed it.

#please-close

[2018-04-25 22:03] bandersmsft commented on #7315
@danmyhre Hi Dan, after speaking to the enginnering team, I updated the table in the article to clarify and to fix the error that you pointed out. Thanks.
#please-close

[2018-04-25 22:04] bandersmsft commented on #7315
@DCtheGeek FYI.

[2018-04-25 22:17] neilpeterson commented on #7463
@unacao - wrapping this up. When resetting the public key on the VM, you will need to:

- Create a key pair on your dev system / management system / where ever.
- When running the portal reset, you are basically copying the public key to the VM.
- At that point, you've got the corresponding private key and are able to make the connection.

I will add a bit of clarification to the doc.

#please-clo

[2018-04-25 22:19] #7463 closed

[2018-04-25 22:24] CeciAc opened #7721 "Misleading address space in screenshot"
@kylefu8 commented on [Mon Apr 23 2018](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/74)

The address space for GatewaySubnet in following screenshot is unrelated with the article:
https://docs.microsoft.com/zh-cn/azure/includes/media/vpn-gateway-add-gwsubnet-rm-portal-include/addsubnetgw.png

Doc URL:
https://docs.microsoft.com/zh-cn/azure/vpn-gateway/vpn-gateway-howto-vnet-vnet-resou

[2018-04-25 22:32] CeciAc opened #7722 "Misleading address space in screenshot"
@kylefu8 commented on [Mon Apr 23 2018](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/74)

The address space for GatewaySubnet in following screenshot is unrelated with the article:
https://docs.microsoft.com/zh-cn/azure/includes/media/vpn-gateway-add-gwsubnet-rm-portal-include/addsubnetgw.png

Doc URL:
https://docs.microsoft.com/zh-cn/azure/vpn-gateway/vpn-gateway-howto-vnet-vnet-resou

[2018-04-25 22:39] mattbriggs commented on #7710
@bingosummer Can you let me know what issue you are encountering by not having the cert? Thanks, Matt #in-progress

[2018-04-25 22:47] Mike-Ubezzi-MSFT commented on #7679
@waqar-anwar1990 I found the following information on a 3rd Party Site: [Azure SQL Data Sync Limitations Pricing and Alternatives](https://www.gigxp.com/azure-sql-data-sync-limitations-pricing/)

**System Requirements for Azure Data Sync**

The Data Sync is a cloud feature, and there is not much to set up. However, for the On-premises SQL Server, here are the system requirements:
- A minimum of SQ

[2018-04-25 22:49] roygara commented on #7577
@cesarwhite no problem, happy to help!

Since this has been resolved:
#please-close

[2018-04-25 22:53] pejuan commented on #7389
I get the same error.

[2018-04-25 22:59] xmark commented on #7539
thank you very much for such a detailed reply @gadongji
I have tried what you suggested and it worked, I can see all the columns in the first line of the blob created, which I then used to create my DB table (dataset). Which I then used as the sink for the copy activity.. and it worked!

My last question on this is, how do I know the schema/data type for each column from Xero? For example, the Acc

[2018-04-25 23:06] tektica opened #7724 "Duplicate entry"
Japan is listed twice in the Table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985-6fc3aec77974
* Version Independent ID: a9f4ec3f-f0a3-b050-020b-f487c74c5179
* Content: [Business continuity and disaster recovery (BCDR): Azure Paired Regions](https://docs.microsoft.com/en-us/azure/best-practices

[2018-04-25 23:07] vasivara-MSFT opened #7725 "Failure is misspelled as faiure"
In the script, failure is misspelled as faiure. Below is the code snippet where it is misspelled

"Write-Host "Faiure occured in Azure AD application....Try again!!""

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da68121a-fabb-7637-aa9e-03300570dba5
* Version Independent ID: a67a5678-af06-9b4d-718b-09a2c67e38ea
* Cont

[2018-04-25 23:09] femsulu commented on #7717
@clayhagler Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-25 23:09] vasivara-MSFT commented on #7725
Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-25 23:11] dcbrown16 commented on #5380
Understood, thanks!

[2018-04-25 23:12] Mike-Ubezzi-MSFT commented on #7719
@chaitualladi Are asking or are you making a recommendation about the Azure Portal to enforce user access control to the firewall settings? I interpret this GitHub issue as stating there is no way to protect the firewall settings configured in the Azure Portal. Please correct me if I am wrong. I am seeking clarity so that I can take the next steps.
Thank you,
Mike

[2018-04-25 23:15] MicahMcKittrick-MSFT commented on #7715
@mganeshphani Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-25 23:28] #7725 closed

[2018-04-25 23:34] SaurabhSharma-MSFT commented on #7716
@arnabganguly - Can you please share the GitHub documentation you have followed for installation and deletion of the file.

[2018-04-25 23:44] #6996 closed

[2018-04-25 23:44] arnabganguly commented on #7716
Never Mind.. I was able to figure this out . Closing the issue .

[2018-04-25 23:45] #7716 closed

[2018-04-25 23:45] #6530 closed

[2018-04-25 23:45] #6663 closed

[2018-04-25 23:45] #6675 closed

[2018-04-25 23:45] #6806 closed

[2018-04-25 23:46] #6955 closed

[2018-04-25 23:47] #7181 closed

[2018-04-25 23:47] #7315 closed

[2018-04-25 23:47] #7376 closed

[2018-04-25 23:48] #7439 closed

[2018-04-25 23:49] #7540 closed

[2018-04-25 23:49] #7551 closed

[2018-04-25 23:49] #7577 closed

[2018-04-25 23:50] #7657 closed

[2018-04-25 23:50] #7699 closed

[2018-04-26 00:26] elisolMS commented on #7167
@MohitGargMSFT Could you please assign this to @hpsin? This is in his area and he'd be better equipped to answer it.

[2018-04-26 00:28] elisolMS commented on #6993
@MohitGargMSFT Can you please assign this to @hpsin? This is in his area so he can better address this feedback.

[2018-04-26 01:04] Mike-Ubezzi-MSFT commented on #7724
@tektica Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-26 01:06] Mike-Ubezzi-MSFT commented on #7724
![screenshot 149 _li](https://user-images.githubusercontent.com/37126106/39280291-581c05e6-48b3-11e8-9143-eb8cfd392ec6.jpg)

[2018-04-26 01:30] kalyankrishna1 opened #7729 "Links not available"
The following links are not present ?

Adding applications to Azure AD
Getting started with assignment
Application assignment FAQ

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 505a457a-6fd3-7fac-942f-f975883a495a
* Version Independent ID: 97bc6852-8ce4-261d-473c-89949c152478
* Content: [Managing access to apps using A

[2018-04-26 01:48] MicahMcKittrick-MSFT commented on #7648
@Thraka done and done :)

@jrochet thanks for pointing this out. I have made the changes and when they merge this issue will automatically close.

[2018-04-26 01:50] MicahMcKittrick-MSFT commented on #7709
@larryms appears this is no longer true!

@jasonzio can you take a look and modify the doc appropriately?

[2018-04-26 01:56] MicahMcKittrick-MSFT commented on #7706
@sangram-pawar I believe this to be true in most cases however I could see it get funky if you have previous installed NICs on the system that have been since removed. In which case I believe the metadata would not match up like you mentioned.

@harijayms or @jpconnock do either of you know a concrete answer on this?

[2018-04-26 01:58] MicahMcKittrick-MSFT commented on #7715
@mganeshphani just to clarify, you want to be able to associate multiple NICs to multiple virtual networks? Can you elaborate a bit more about the scenario you are looking for clarification on?

[2018-04-26 02:00] #7648 closed

[2018-04-26 02:00] MicahMcKittrick-MSFT commented on #7482
@srrengar or @dkkapur you might also be able to shed some more light on this. I am assuming this is just by design

[2018-04-26 02:03] xmark opened #7730 "Bug with Contacts_Addresses"
I have been extracting the Xero data and noticed that when I used either Contacts_Addresses or Contacts_Phones in my query, the data was always phone data, not address data.
I assume this is just a bug with the extraction logic, but wanted to bring it to your attention.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f

[2018-04-26 02:05] jasonzio commented on #7709
Do not assign to me; I longer work on LAD. New owner is @abhijeetgaiha.

[2018-04-26 02:11] MicahMcKittrick-MSFT commented on #7709
Thanks @jasonzio! Suggest you work to get the metadata updated to avoid future assigns.

@abhijeetahuja can you please take a look?

[2018-04-26 03:35] roldengarm opened #7731 "Cannot add/delete parameters for a definition?"
I've deployed an initiative with 2 parameters. Trying to add more parameters. According to the documentation this is possible:

But if I try to do that, I'm getting this error:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51022609-2dee-d21c-9274-384ed82b0f4e
* Version Independent ID: 832b8356-a0ed-06e2-a43a-a8

[2018-04-26 03:38] jasonzio commented on #7709
Wrong Abhijeet – you want @abhijeetgaiha.

Sent from my Windows 10 phone

________________________________
From: Micah <notifications@github.com>
Sent: Wednesday, April 25, 2018 7:11:25 PM
To: MicrosoftDocs/azure-docs
Cc: Jason Zions; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Is it still the case that the Azure portal cannot install version 3? (#7709)

Thanks @jasonzio<https://na01.safelinks

[2018-04-26 04:10] dssravi opened #7732 "How to acquire token for APIs with its own App Registration in Angular app(SPA)"
I have a API application with its own app registration, and a SPA with its own app registration. Now when I acquire a token using the above steps for my SPA, in the token the audience is the App ID of SPA. And when I make a call to the API with this token I receive an error for audience mismatch. How can I acquire a token in my SPA for the API app using its AppID or AppIDURL?

---
#### Document De

[2018-04-26 04:38] BryanTrach-MSFT commented on #7696
@vancourse We will close this as a duplicate of #7701. Please see #7701 for any updates.

[2018-04-26 04:38] #7696 closed

[2018-04-26 04:51] Ramji-S commented on #6596
Thanks for the update @David-Noble-at-work. That pretty much summarizes my expectation with Emulator. I still access my console logs using SDK by enabling "ScriptLogging" in requestOptions but with emulator having this feature with "Execute" it would be much helpful for local dev as pointed by you. Waiting for the updated version :-)

[2018-04-26 05:56] aluty opened #7734 "Has anyone successfully completed this?"
Has anyone successfully completed this?
https://docs.microsoft.com/en-us/azure/azure-stack/user/azure-stack-powershell-configure-user

Connect-AzureRmAccount : The term 'Connect-AzureRmAccount' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the
name, or if a path was included, verify that the path is correct and try again.

https://docs

[2018-04-26 06:10] slavizh commented on #7617
Hi,
This is just a suggestion but the information on the these pages is not correct.
https://docs.microsoft.com/en-us/azure/monitoring/monitoring-solutions-inventory
https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-add-solutions

Either list all change types and their intervals or write that it depends on the change type and have a link leading to https://docs.microsoft.com/en-us

[2018-04-26 06:37] waqar-anwar1990 commented on #7679
@Mike-Ubezzi-MSFT so this means we cannot sync more than 30 endpoint/on-premises DBs? This is very strange.

Can you clarify if this is something that MS is working on, can I have an idea about its timeline when it will be available for more than 30 locations?

[2018-04-26 07:10] rahulunlimited opened #7735 "Update Git Repository"
Is there an option to update the Git Repository after you have already configured it on Data Factory. I do not seem to find the option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9528484b-14b8-729a-9df4-d203db71885a
* Version Independent ID: 95759275-ecbf-c737-3460-4e38756ecd05
* Content: [Visual authoring in Azure

[2018-04-26 07:34] gezzahead opened #7736 "Native start task isn't used"
In the section "Prefetch images for container configuration", there are the lines:
// Set a native command line start task
StartTask startTaskNative = new StartTask( CommandLine: "<native-host-command-line>" );

These imply that somehow we can execute a start task on the host in addition to the start task within the container, however I don't think this is possible - or if it is I'd like to know h

[2018-04-26 07:41] MMAgeek opened #7738 "Unable to search log analytics"
I have followed the steps shown and verifies that Get-AzureRmDiagnosticSetting -ResourceId $automationAccountId shows the correct values.

When i go to log analytics and try to search with AzureDiagnostics | where ResourceProvider == "MICROSOFT.AUTOMATION"

I get the following error: Failed to resolve entity 'AzureDiagnostics'.

Why is this?

---
#### Document Details

⚠ *Do not edit this section.

[2018-04-26 07:47] timrxtx opened #7739 "Enabling SAC...?"
Directed to this page by a note in the console window about not seeing a login prompt, yet there doesn't appear to be anything in this document relating to how to address that. Boot diags are enabled and there is an available local user account but still no joy.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e63969f1-7

[2018-04-26 08:28] Toouny commented on #7694
@vasivara-MSFT Thanks Vasivara for you reply, since this is a lab environment, I would like to share the parameters I entered: -

$azureSubscriptionName: I entered the name of my Azure subscription (please mention if any prerequisites are required regarding the Azure Subscription)

$resourceGroupName: I entered the name of the resource group (please mention if any prerequisites are required regard

[2018-04-26 08:29] Toouny commented on #7694
@vasivara-MSFT Thanks Vasivara for you reply, since this is a lab environment, I would like to share the parameters I entered: -

$azureSubscriptionName: I entered the name of my Azure subscription (please mention if any prerequisites are required regarding the Azure Subscription)

$resourceGroupName: I entered the name of the resource group (please mention if any prerequisites are required regard

[2018-04-26 08:33] queglay opened #7740 "Please provide better instructions on how to implement the script to detect a change in the bus id"
you don't provide any details on how to create the file with the bash script.  its unclear how to do the final steps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e03790a-1bf9-146d-704b-6816d475064b
* Version Independent ID: ad5f6be7-e089-161f-306c-39d10e7ab0a0
* Content: [Azure N-series driver setup for Linux](http

[2018-04-26 08:47] Noambi opened #7741 "need to add limitation for - storage-network-security.md"
storage-network-security.md  not mentioning anything about known limitations for storage firewall.

the storage firewall have some limit that are not documented anywhere

Copy operation within the same storage account (container to container) or from one storage account to another storage account will fail when using tools like AzCopy (when copy is down asynchronously ).
The file copy fails with a

[2018-04-26 08:50] carvakas commented on #5953
Hi @jeevansd thanks for posting, looking forward to implementing this across this side of the pond

[2018-04-26 08:58] gadongji commented on #7539
Hi @xmark good to know it helps.

In Accounts table, all columns are of string type except that: Enable_Payments_To_Account, Has_Attachments and Show_In_Expense_Claims are of bit type and Updated_Date_UTC is a timestamp.

I know table structures of each table but too many details to put here. You can ask and I can answer.

Good news is that we will enable preview and schema features for Xero recen

[2018-04-26 09:01] maayez opened #7743 "Supported operating System"
Please include Windows Operating System which supports accelerated networking, Its confusing as if windows doesn't support though it is confirmed in another blog

https://azure.microsoft.com/en-us/blog/maximize-your-vm-s-performance-with-accelerated-networking-now-generally-available-for-both-windows-and-linux/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2018-04-26 09:07] kasunsjc commented on #6762
Failed to update flow logs settings for 'aks-agentpool-48852131-nsg'.{ "error": { "code": "InternalServerError", "message": "An error occurred.", "details": [] } }

This error comes when I try to enable to OMS workspace

[2018-04-26 09:13] grahambunce opened #7744 "Preview metrics do not match "standard" metrics, and neither match New Relic metrics"
I'm looking at HTTP requests for a Web App and using the Average aggregation (I believe this is by minute). The web app is running over 4 instances. The "old" metrics show a graph with values peaking at 12,000 requests (per minute I presume), the "new (preview)" metrics show a graph peaking at 300 requests per minute and New Relic shows a graph peaking at 2,300 requests a minute.

The new (preview

[2018-04-26 10:07] queglay opened #7745 "you say to verify m60, what about grid k520 cards?"
There is no information on the grid k520, yet it should be a valid care to install with this method.  it would be good to provide more information on it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e03790a-1bf9-146d-704b-6816d475064b
* Version Independent ID: ad5f6be7-e089-161f-306c-39d10e7ab0a0
* Content: [Azure N

[2018-04-26 10:11] StevenZhang81 opened #7746 "Demo suggestion"
This demo shows how to convert an audio file to text by calling the remote recognition service, but can you provide another demo that will convert audio stream input from microphone to text also by calling the remote recognition service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbdb0695-2898-1af5-656d-f390dbbbfa8

[2018-04-26 10:28] queglay opened #7747 "to kill nouveau - the instructions don't work for centos 7.4"
When I tried to blacklist nouveau, I had to follow these instrucitons instead for centos 7.4 with kde installed.

https://medium.com/@philliplakis/installing-nvidia-drivers-on-autodesks-centos-7-build-6a0fc25951cc

It looks like the blacklist file is actually supposed to be called blacklist.conf

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-04-26 10:43] abhijeetgaiha commented on #7709
For the public portal, LAD 2.3 is still the default. Some internal subscriptions have started to see LAD 3.0.

[2018-04-26 11:13] YajvendraGupta commented on #6762
@kasynsjc, in which region you are enabling OMS workspace? The OMS log analytics workspace must exist in the West Central US, East US, West Europe, Australia Southeast, or South UK region.

[2018-04-26 11:25] kasunsjc commented on #6762
Its on Southeast Asia. I created a new workspace in east us and now it works hope they will support southeast asia soon

[2018-04-26 11:34] MMAgeek commented on #7738
this sorted itself out after a couple of hours

[2018-04-26 12:01] jimdial commented on #6762
@kasunsjc New regions will be added to the list as they become available.  Thanks for your interest in traffic analytics.  #please-close

[2018-04-26 12:36] jimdial commented on #7743
@maayez The list of supported Windows operating systems is in the [Windows version](https://docs.microsoft.com/azure/virtual-network/create-vm-accelerated-networking-powershell#supported-operating-systems) of this article.  I added a link to that article near the start of this article. The change will publish later today. #please-close.

[2018-04-26 13:15] xela30 opened #7749 "Reverse Proxy and unhealthy service"
As far as I understood when instance goes down because of whatever reason Service Fabric tries to spin up another one on a different node.
Does Reverse Proxy takes the state of a service into account when decide which one instance to route request to?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31e0a1d2-789d

[2018-04-26 13:18] DaveEx1 opened #7750 "Updating sys.SessionId in a Topic Subscription Rule Action"
It seems a Topic Subscription Rule SQLAction cannot be used to set the sys.SessionId property where RequiresSession is enabled on the subscription. Is this correct?

e.g. SET sys.SessionId = user.OrderNum

However SET sys.SessionId = newid() does appear to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45d45fc4-0

[2018-04-26 13:27] russ4stall commented on #7638
Great Thanks!

On Tue, Apr 24, 2018 at 4:19 PM, Jeevan Desarda <notifications@github.com>
wrote:

[2018-04-26 14:04] georgewallace commented on #7154
@ward0, it has been a week and I have not heard back.. I hope that answered your question.  If you have further questions in the future or documentation suggestions please open another issue. #please-close

[2018-04-26 14:19] rodrigoffonseca opened #7752 "Improve Rule description!"
When you will improve the documentation to include better descriptions at the rules? Having a rule with a description Rule 981312 doesn't help to know what it does! Enabling all rules have a huge impact on WAF performance and we need to know what exactly each rule does in order to fine tune it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-04-26 14:25] JamesRandall commented on #6530
Thanks @LuisBosquez - I'll take a look at that fork, cheers!

[2018-04-26 14:37] brushwood24 opened #7753 "Error re-running ARM template containing replicated Azure SQL databases"
I have an ARM template that has an Azure SQL database with two read-only replicas.  It works as expected when we run it the first time and then for subsequent runs as changes are made, for a while.  Eventually we will start getting this error when re-running the template:

{
  "code": "DeploymentFailed",
  "message": "At least one resource deployment operation failed. Please list deployment operat

[2018-04-26 14:57] doneuros opened #7754 "outdated - geotrust certificate"
I think the documentation is outdated for https://docs.microsoft.com/en-us/azure/java-add-certificate-ca-store#to-add-a-certificate-to-the-cacerts-store. For the GeoTrust certificate 35:DE:F4:CF I only found a retired one. https://www.geotrust.com/resources/root-certificates/retired.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2018-04-26 15:05] chaitualladi commented on #7719
@Mike-Ubezzi-MSFT i'm trying to provision a Cosmos DB to my customer but i do not want to give my customer the privileges to modify or add any firewall settings. So if i give them just read access at account level, that might affect them from creating collections i believe. So i just want to know if there is way that i can disable the firewall tab alone by creating a role with respective providero

[2018-04-26 15:14] rothja commented on #6863
@Ayanmullick Hi. Here are some other suggestions for monitoring that might help. I'm passing these on from a contact in our product team:

1.	Configure email notifications, this is not configurable beyond who the mail is sent to.
2.	Use the msdb view vw_autoadmin_health_status. This is what the email notification do, just reports counts of errors and loops over the past ~30 minutes.
3.	Use the tab

[2018-04-26 15:19] kylecweeks opened #7756 "Deregister linux workers"
I found the switch in the onboarding.py script, and would see it as being helpful to call out the functionality to deregister Linux Hybrid runbook workers using the onboarding script.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 556bec6a-3427-7167-b427-c3fdf9c312d5
* Version Independent ID: 26702360-82ce-aa39-2eaa-c4

[2018-04-26 15:34] chaitualladi commented on #7713
@MohitGargMSFT the above link is about Storage Service Encryption (SSE), which is not what i'm looking for, but rotation of storage keys using ARM, if possible other than powershell. I do not see any ARM implementation examples for rotation of keys, so i was curious to know if we can or not. If not i can stick to my implementation using powershell though.

[2018-04-26 15:40] abyys commented on #7695
On Thu, 26 Apr 2018 at 16:38, Neil Peterson <notifications@github.com>
wrote:

Apologises the issue was my side, turns out I keyboard was pressing an
additional key every time I copy and pasted into VI!

[2018-04-26 15:42] jmprieur commented on #7732
@dssravi ; did you have a look at this sample: https://github.com/Azure-Samples/active-directory-angularjs-singlepageapp-dotnet-webapi?

[2018-04-26 15:50] Mike-Ubezzi-MSFT commented on #7719
@chaitualladi There is no way to hide the firewall tab, and as you have mentioned, setting the account to read-only will disable the user from making any firewall changes but, it will also disable their ability to accomplish other tasks, such as creating new collections, etc.
Something to think about. If the user has read-only in the Azure Portal, it doesn't mean that they can't create new collect

[2018-04-26 15:50] SpaceRangerWes opened #7758 "Jupyter Setup Out of Date"
In regards to the Jupyter SetPassword desktop script, I cannot find this on the Ubuntu VM. In addition there are several desktop shortcuts that do not work due to improper setup. See https://stackoverflow.com/questions/49603966/cant-reach-jupyter-notebooks-on-azure-deep-learning-virtual-machine

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-04-26 16:02] Mike-Ubezzi-MSFT commented on #7679
@waqar-anwar1990 This feature is 'In Preview' and I didn't find any Microsoft content related to limitations, requirements, etc., although I did find the information I posted previously. I am going to assign this to the content owner to see about getting feedback around what the requirements and limitations will be when it is no longer in preview status.

[2018-04-26 16:11] Mike-Ubezzi-MSFT commented on #7698
@ToddChitt Let me put together some instructions based upon what available. Is Managed Instance your desired SQL deployment type?

[2018-04-26 16:55] gartdan opened #7759 "Permissions to add a subscription to a management group?"
Hi -- what permission is required to be able to add a subscription to a Management Group and assign policy? A table like the one here for Azure Security Center would be very useful: https://docs.microsoft.com/en-us/azure/security-center/security-center-permissions. Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-04-26 17:08] jeevansd commented on #5953
#please-close

[2018-04-26 17:10] #7688 closed

[2018-04-26 17:12] MicahMcKittrick-MSFT commented on #7736
@gezzahead Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-26 17:13] aydeisen opened #7761 "Please update URIs to include Log Analytics"
Can this document please be updated to include the URIs mentioned in [KB3126513](https://support.microsoft.com/en-us/help/3126513/how-to-troubleshoot-operations-management-suite-onboarding-issues#proxyregistrationorconfigurationsteps)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4096fac2-6f38-0e29-45a7-5eedc9abbd30
*

[2018-04-26 17:14] SaurabhSharma-MSFT commented on #7729
@kalyankrishna1 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-04-26 17:14] MicahMcKittrick-MSFT commented on #7739
@timrxtx Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-26 17:15] MicahMcKittrick-MSFT commented on #7740
@queglay Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-26 17:15] MicahMcKittrick-MSFT commented on #7745
@queglay Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-26 17:16] MicahMcKittrick-MSFT commented on #7747
@queglay Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-26 17:17] MohitGargMSFT commented on #7713
@chaitualladi I tired to reach out to some the service team contact. It seems the methods I mentioned in my earlier comment are only available at this time. I will you know in case I get any update information on it. For now you can safely assume that powershell or API is the way to go.

[2018-04-26 17:17] MicahMcKittrick-MSFT commented on #7749
@xela30 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-26 17:18] polarapfel commented on #6413
It would also be great to document the Python library dependencies (via pip), based on both Python 2 and Python 3. I've run into circular dependencies issues on Raspbian's default Python 2.7. Knowing which version numbers are required and supported for each Python pip dependency will help. Thanks!

[2018-04-26 17:25] SaurabhSharma-MSFT commented on #7578
@yadcam We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-26 17:25] #7578 closed

[2018-04-26 17:26] prashant-vyas commented on #7229
+1 Any updates on the updated documentation of new service bus and service-bus management APIs? it would be really helpful.

[2018-04-26 17:26] daveba commented on #7690
#please-close

[2018-04-26 17:28] sethmanheim commented on #7229
@reinaudvr No updates at this time. Thank you for reaching out! #please-close

[2018-04-26 17:29] polarapfel commented on #7134
@r96941046 Are you sure pip install returned without any warnings about version mismatches in dependency packages? The runtime will install in spite of such warning, but might not work properly. I've found that there is a circular dependency conflict on Raspbian with Python 2.7. If you can, use pyenv to install Python 3.6.5, that will give you a working setup on Raspbian. Do not go for the testing

[2018-04-26 17:31] Mike-Ubezzi-MSFT commented on #7679
@waqar-anwar1990 The Data Sync Agent functionality as you are currently working with, will be the same when it become Generally Available. We also have published a list of [Requirements and Limitations](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-sync-data#sync-req-lim).
Please communicate any additional questions that might have.
Regards,
Mike

[2018-04-26 17:31] vasivara-MSFT commented on #7617
@slavizh Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-26 17:37] vasivara-MSFT commented on #7694
@Toouny Is the location of resourceGroupName and $location is the same?

[2018-04-26 17:38] mattchenderson commented on #7693
Ah, apologies - I thought this article was .NET Core based and confused myself. This probably ends up being a question for the SQL Client folks - I'm not aware of a solution here, myself. It might be worth raising an issue against the ADALSQL article I linked.

[2018-04-26 17:40] marcelotpcosta opened #7763 "Help"
Until step 16 ok, but when I change the "Provisioning Status to On in Settings" (step 19) and try to save, I receive an error "We encountered an error while updating provisioning configuration for Google Apps". I tried to test connection (step 14) again and is ok.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c64daae8

[2018-04-26 17:44] jeevansd commented on #7763
@marcelotpcosta Can you please click on the link of the error message and then it will provide you more details on the error. Can you copy the error message and paste it here? Then we can provide some guidance here.

[2018-04-26 17:58] Toouny commented on #7694
I'm currently checking if my lab environment has an issue and will report back

[2018-04-26 18:13] CelesteDG commented on #7053
@jmagosta @xMTinkerer and @ManuelRin - I'll link to this existing content when we reference tenant ID: https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-create-service-principal-portal#get-tenant-id

[2018-04-26 18:25] femsulu commented on #7731
@roldengarm  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-26 18:25] xtellurian opened #7766 "Misleading URL"
The URL for this page is 'https://docs.microsoft.com/en-us/azure/app-service/containers/quickstart-nodejs'
which suggests the page has information regarding deploying a container to Azure App Service, but that is not the case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 116d6e28-471b-2cf4-3eb8-6249b4ef3016
* Version

[2018-04-26 18:30] SaurabhSharma-MSFT commented on #7675
@v-liujxu You can find the detailed steps to enroll device to a group under **How-to guides > Manage device provisioning configuration > Manage enrollments - Portal**
Alternatively you can go through the document using the below link directly
[How to manage device enrollments with Azure Portal](https://docs.microsoft.com/en-us/azure/iot-dps/how-to-manage-enrollments)

[2018-04-26 18:41] DCtheGeek commented on #7731
@roldengarm Thank you for the feedback.  We are looking into this.  #in-progress

[2018-04-26 18:42] BharatNarasimman commented on #7749
@xela30 - can you clarify what you mean by state of a service?
@kavyako as well.

[2018-04-26 19:05] TravisCragg-MSFT commented on #7743
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-04-26 19:05] #7743 closed

[2018-04-26 19:05] TerryLanfear commented on #5070
#please-close

[2018-04-26 19:10] TravisCragg-MSFT commented on #7752
@rodrigoffonseca Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-26 19:27] femsulu commented on #7744
@grahambunce Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-26 19:29] femsulu commented on #7753
@brushwood24 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-26 19:31] femsulu commented on #7756
@kylecweeks Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-26 19:34] femsulu commented on #7759
@gartdan Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-26 19:35] TerryLanfear commented on #6313
#in-process
@bedub1 - Thank you for your feedback.  I forwarded your suggestion to the engineering team.  You can also share an idea or suggestion on the Azure forum which is monitored by the Microsoft engineering teams.  Other customers can then vote on your idea or suggestion.  There is a general feedback forum but I suggest using the security forum at https://feedback.azure.com/forums/216840-se

[2018-04-26 19:37] TerryLanfear commented on #6661
#please-close

[2018-04-26 19:46] vasivara-MSFT commented on #7730
@xmark Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-26 19:48] vasivara-MSFT commented on #7735
@rahulunlimited Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-26 19:48] TerryLanfear commented on #6984
#in-process
@hctrr - Thank you for your feedback.  On 4/23/2018 we updated the download file of baseline rules.  I am working with engineering to update the link which is currently pointing to the CCE site.

[2018-04-26 19:48] hpsin commented on #7167
Tokens are returned based on the resource being accessed.  Graph's manifest requests tokens in the v1 format, so AAD emits the access token as a v1 token.  I'll add this to the docs.

[2018-04-26 19:49] vasivara-MSFT commented on #7761
@aydeisen Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-26 19:51] jeevansd commented on #6848
#Please-close

[2018-04-26 19:54] kobulloc-MSFT commented on #7593
@ewahner Yes, those users would need to be added as a guest.  It is a bit confusing because the API Management doc assumes that you already have an Azure AD tenant, and managing guest users is covered in the following AD document:
https://docs.microsoft.com/en-us/azure/active-directory/active-directory-b2b-what-is-azure-ad-b2b

[2018-04-26 19:55] hpsin commented on #6993
Thanks, that's a good catch.  I've addressed this and the other OBO feedback in a PR, should be live tomorrow.

[2018-04-26 19:56] SaurabhSharma-MSFT commented on #7721
@kylefu8
Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-04-26 19:57] SaurabhSharma-MSFT commented on #7722
@kylefu8 Thanks for the feedback ! I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-04-26 19:58] ridhoq commented on #6363
Hey there, I'm curious if there was any movement on this issue. I'd like to document where the issue is being tracked as a code comment on my workaround.

[2018-04-26 19:59] vasivara-MSFT commented on #7730
@linda33wj Please look into this issue.

[2018-04-26 20:11] barclayn commented on #6499
This was updated via https://github.com/MicrosoftDocs/azure-docs-pr/pull/39215

[2018-04-26 20:11] vasivara-MSFT commented on #7735
@rahulunlimited Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-26 20:13] aluty opened #7770 "Correction: Connect-AzureRmAccount does not work for Azure Stack and should be Login-AzureRmAccount"
# Sign in to your environment
Login-AzureRmAccount -EnvironmentName "AzureStackUser" -TenantId $TenantID

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1427fb3-7704-d83a-45df-a68e76fcb2b9
* Version Independent ID: 98322c4f-2c3b-b4ab-eef6-a711ba72b591
* Content: [Configure the Azure Stack user's PowerShell environment]

[2018-04-26 20:24] MicahMcKittrick-MSFT commented on #7673
@aaronralls I will close this for now but if you feel there is more to discuss please reopen and we can continue.

[2018-04-26 20:24] #7673 closed

[2018-04-26 20:27] MicahMcKittrick-MSFT commented on #7736
@dlepow can you assist on this one?

[2018-04-26 20:28] MicahMcKittrick-MSFT commented on #7739
@timrxtx not sure I fully understand the issue. Can you elaborate or share some screenshots?

[2018-04-26 20:32] MicahMcKittrick-MSFT commented on #7740
@queglay I have assigned the issue to the content author to investigate further and update the document as appropriate.

@dlepow can you please take a look? Appears to be referencing this section: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/n-series-driver-setup#x11-server

[2018-04-26 20:33] vasivara-MSFT commented on #7676
@rahulunlimited value cannot be null can be reason of many things like value doesn't match a standard/ value is of a wrong type/ value is not specified.

Please check if all your values follow the standard as in this [link](https://docs.microsoft.com/en-us/powershell/module/azurerm.datafactoryv2/set-azurermdatafactoryv2linkedservice?view=azurermps-4.4.1).

[2018-04-26 20:36] MicahMcKittrick-MSFT commented on #7747
@queglay which image are you using for CentOS 7.4? We have quite a few in the marketplace

<img width="412" alt="image" src="https://user-images.githubusercontent.com/32313503/39330515-c0688e1e-4956-11e8-92c0-302516025e97.png">

[2018-04-26 20:36] Erikre commented on #7423
I updated the related ratecard details on MSDN as requested. Please confirm that the required fix has been made. Thanks

[2018-04-26 20:54] bmoore-msft commented on #6363
It's being tracked in the UV item Steven-N linked to above... (and internally).  Nothing to update at this time.

[2018-04-26 20:55] vitaliiTolmachov opened #7771 "Error in code example"
ProductsService must be public

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 820629a1-221b-e4b7-faa7-a6a539335b19
* Version Independent ID: 7234d7a7-e8b6-4581-a613-e76489458491
* Content: [Azure WCF Relay hybrid on-premises/cloud application (.NET)](https://docs.microsoft.com/en-us/azure/service-bus-relay/service-bus-

[2018-04-26 20:59] asmalser-msft commented on #5496
We're very close to a fix and making the documentation live again. We acknowledge there have been problems in the last several months with the documentation being published prematurely, and then with finally getting this enabled for everyone in the Azure portal. The connector is done. At this point we are just working through some issues in the publishing process.

[2018-04-26 21:01] sethmanheim commented on #7771
@vitaliiTolmachov Thank you for your feedback! We have extensively tested this sample, and I can confirm it works as-is. Please let us know if you're experiencing specific errors.

[2018-04-26 21:31] stewartadam commented on #6993
Thanks all!

[2018-04-26 21:37] hobpet opened #7775 "az vm format-secret is deprecated"
Hi, "az vm format-secret" was deprecated but used in this example.
Please update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 996eb4d1-198e-a69a-b9c5-d247db46d025
* Version Independent ID: 5bfe27b3-22e9-efa8-6a1c-3637aa39a049
* Content: [Secure a web server with SSL certificates in Azure](https://docs.microsoft.com/

[2018-04-26 21:38] gatneil commented on #7563
Ack. Will Follow up on this :)

[2018-04-26 21:50] dlepow commented on #7745
@queglay - Thanks for your feedback. Currently in Azure only the NV-series VMs with M60 cards use the GRID drivers described in the article. That is why this section refers to the M60 card specifically. Can you please tell us more about your scenario and which Azure VM size are you trying to use? Thanks!

[2018-04-26 21:50] MohitGargMSFT commented on #7592
@grizzljt We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-04-26 21:50] #7592 closed

[2018-04-26 21:51] MohitGargMSFT commented on #7630
@tfurstms We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-04-26 21:51] #7630 closed

[2018-04-26 21:52] MohitGargMSFT commented on #7633
@whytoe We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-04-26 21:52] #7633 closed

[2018-04-26 21:56] MohitGargMSFT commented on #7680
@jnfarmer It must have worked in that case. I would suggest you to open an Azure support ticket so that an Identity engineer could further check on it. Please let me know if you do not have support package, and I will help enable a one time free support ticket for you.

[2018-04-26 21:56] chaitualladi commented on #7713
@MohitGargMSFT Thanks Mohit!

[2018-04-26 21:56] #7713 closed

[2018-04-26 21:57] chaitualladi commented on #7719
@Mike-Ubezzi-MSFT Thanks Mike, i will try provisioning and check the possibility as you suggested.

[2018-04-26 21:57] #7719 closed

[2018-04-26 21:58] mike-urnun-msft commented on #7134
@r96941046 We will now proceed to close this thread. If there are further questions regarding this matter,
please reopen it and we will gladly continue the discussion.

[2018-04-26 21:58] #7134 closed

[2018-04-26 22:07] SumitParikh commented on #6589
This doc lists only the most popular SKUS and Service Plans in AAD and not all.

[2018-04-26 22:09] ramagurram commented on #7699
Thanks! It works now

[2018-04-26 22:57] jeevansd commented on #7638
#please-close

[2018-04-26 23:01] MicahMcKittrick-MSFT commented on #7775
@hobpet Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-26 23:05] jeevansd commented on #7618
@mrgrumpy83 We have updated the instructions. It should reflect in some time.

[2018-04-26 23:14] lukeholbertmsft opened #7781 "Need a way to automate Service Fabric SDK installation"
We are hosting an auto-rollback solution that requires Service Fabric SDK. When the machines we are hosting on are periodically wiped, we need to have a way to automatically install Service Fabric SDK preferably through a powershell script. I've attempted to do this but Web Platform Installer API but it seems there is no InstallerFile object associated with the package so this cannot be done. Is t

[2018-04-26 23:25] vasivara-MSFT commented on #7741
@Noambi Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-26 23:28] vasivara-MSFT commented on #7746
@StevenZhang81 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-26 23:29] Adam-Smith-MSFT commented on #7741
@Noambi  is it possible to provide a link that you were referring to ?

[2018-04-26 23:30] BryanTrach-MSFT commented on #7766
@xtellurian Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-26 23:31] georgewallace commented on #6728
@Ayanmullick The document has been updated to add alerting as we discussed and is now live https://docs.microsoft.com/en-us/azure/automation/automation-tutorial-update-management . At this time there is not a way to alert ahead of time before a deployment. I will continue to look into this scenario and create a backlog item to track this.  For now will ask to #please-close the issue.

[2018-04-26 23:31] vasivara-MSFT commented on #7758
@SpaceRangerWes Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-26 23:33] vasivara-MSFT commented on #7754
@doneuros Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-26 23:43] vasivara-MSFT commented on #7770
@aluty Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-26 23:45] lukeholbertmsft commented on #7781
See that there is no InstallerFile object which is required to install the package using the Web Platform Installer as far as I know. Top object is AzurePowershell where there is an Installer file, ServiceFabric SDK product is the bottom one. ![image](https://user-images.githubusercontent.com/38229413/39337250-cbabc7ae-4970-11e8-9256-220a6be88284.png)

[2018-04-26 23:55] mattbriggs commented on #7770
@aluty thanks for your feedback. The topic has been updated to Login-AzureRmAccount. Cheers, Matt #please-close

[2018-04-27 01:02] YutongTie-MSFT commented on #6728
@Ayanmullick We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-27 01:02] #6728 closed

[2018-04-27 01:03] YutongTie-MSFT commented on #7770
@aluty We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-27 01:03] #7770 closed

[2018-04-27 01:46] carmonmills commented on #7423
@Erikre  thank you Erik.
#sign-off

[2018-04-27 02:02] carmonmills commented on #7423
#please-close

[2018-04-27 02:34] rboucher commented on #7744
@femsulu  This isn't really a documentation issue.  This should go to support to see if it's a problem specific to grahambunce.  @carmonm

[2018-04-27 02:49] MicahMcKittrick-MSFT commented on #7781
@lukeholbertmsft Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-27 02:53] vasivara-MSFT commented on #7750
@DaveEx1 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-27 02:59] jason279 commented on #7423
Hi @pargall @Erikre , sorry that I still don't understand how to get the price and metadata information, I use the API to get the meters but still failed as I mentioned in the issue. Is it fixed? The doc link I followed is https://msdn.microsoft.com/en-us/library/azure/mt219004.

[2018-04-27 03:00] MicahMcKittrick-MSFT commented on #7775
@hobpet thanks for pointing this out.

@iainfoulds I can confirm the commands mentioned fails

[code]

Do you know what it has been replaced with? I am happy to update it.

[2018-04-27 03:45] gadongji commented on #7615
Hi @arjun-hareendran which connector are you using? PostgreSql or Azure PostgreSql?

For PostgreSql, currently we do not expose the SSL settings but we are going to change the behavior recently.

For now, you can use Azure PostgreSql connector to work around (https://docs.microsoft.com/en-us/azure/data-factory/connector-azure-database-for-postgresql).

To enable SSL, you can put a connection strin

[2018-04-27 03:52] gadongji commented on #7642
Hi @Gaurav8032 which connector are you talking about? PostgreSql or Azure PostgreSql?

For PostgreSql, currently we do not expose the SSL settings but we are going to change the behavior recently.

For Azure PostgreSql, it can support SSL settings in a connection string (https://docs.microsoft.com/en-us/azure/data-factory/connector-azure-database-for-postgresql).

To enable SSL, you can put a conn

[2018-04-27 03:55] gadongji commented on #7730
Thanks @xmark for reporting this to us, we will look into this and update here if we find anything.

[2018-04-27 04:45] Gaurav8032 commented on #7642
This issue is for Azure Postgres SQL. We tried using SSL=True and Required (Require) mode also but Linked Service JSON doesnt accepts it and throws error saying that - Error 8S01 SSL property required. This is happening because Azure Postgres SQL has SSL enabled and ADF is not able to talk to it while this property is switched on. Can you test same case ?

[2018-04-27 05:15] matt-richardson commented on #7781
I _think_ its related, but I'm getting a 404 when using the webpicmd to install this

[code]

gives:
[code]

in `cd %localappdata%\\Microsoft\Web Platform Installer\logs\install\2018-04-27T05.04.54\log.txt`, I see
[code]

If this is not the same issue, please let me know and I can log it separately.

[2018-04-27 05:16] gadongji commented on #7642
Hi @Gaurav8032 please see comment above. The correct property name is EncryptionMethod or EM. Its default value is 0, which means No Encryption. You can set it to 1 or 6 and try again

[2018-04-27 05:29] dcbrown16 opened #7787 "Relationship between tags"
Is it correct to assume that the NSG tags other than Internet would also be included within the Internet tag (specifically the Sql and Storage tags)?
In other words, are the Sql, Storage, and other tags basically subsets of the Azure public IPs that are themselves a subset of the Internet tag?
I'm assisting a customer who wants to ensure that connectivity to the SQL DB is maintained when the new r

[2018-04-27 06:00] frankfajardo opened #7789 "Where do you add this Nuget package?"
Creating an Azure Stream Analytics project based on the following link does not allow you to add a Nuget package: https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-tools-for-visual-studio.

Or is this meant to be used with the Management.NET SDK: https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-dotnet-management-sdk

---
#### Document details

⚠ *Do n

[2018-04-27 06:12] dcbrown16 opened #7790 "Unclear bullet points"
Step 5 under Create an ILB ASE has two bullet points as follows, but their relation to the main paragraph is unclear.
-Go beyond the default maximum of 100 instances in your App Service plans.
-Scale near 100 but with more rapid front-end scaling.
I guess these are...reasons to choose a /25 subnet? Clarification would be appreciated.

Also, the external ASE side has more detail about the IP addres

[2018-04-27 06:37] EliWallic opened #7791 "Little change in Register Azure Stack with Azure"
Connect-AzureRmAccount is not working anymore. Had to use Add-AzureRmAccount instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ccb9b30-d08b-f263-c23e-abe9e399626a
* Version Independent ID: 98cb2b61-3d61-68a5-dd33-cca41a97a3c2
* Content: [Register the ASDK with Azure](https://docs.microsoft.com/en-us/azure/azure-

[2018-04-27 08:43] waqar-anwar1990 commented on #7679
@douglaslMS @Mike-Ubezzi-MSFT I would say the limitations are pretty ambiguous. I have already made 6 sync groups each for my Hub DB.

This makes 6 Hub DBs and 6 sync groups each having 5 on premises end points and 1 Hub DB. We were of the idea that there is a limit of 30 on one server where all these sync groups are created.

[2018-04-27 08:56] SamirFarhat commented on #5731
Managed disks are handled by the Azure fabric itself. You don't have at any point a communication between a resource within a VNET and a managed disks through the Network Stack.
VNSE are just a way to change the routing between a resource within a virtual network, and an Azure Service. It works on the network level. So that does not apply to managed disks.

[2018-04-27 09:50] lordstyx opened #7792 "Dead link"
The link for the Microsoft Trust Center gives a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7badd9db-8ff0-87b5-dea3-69b111a5752c
* Version Independent ID: 449e2a7a-bbd4-7387-c9f8-2f3e06b38e74
* Content: [Azure security overview](https://docs.microsoft.com/en-us/azure/security/security-get-started-overview)
* Co

[2018-04-27 10:26] slavizh opened #7793 "Default Permissions of MSI"
Nowhere in the docs it says if the MSI gets some permissions on Azure resources when created. For example if it is System Assigned MSI does it gets some permissions on the resource or the resource group by default on create? Do we have to assign those permissions on our own after creation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-04-27 10:34] lucazav opened #7794 ""Partitioning section of the output page link" broken"
The link:

https://review.docs.microsoft.com/azure/stream-analytics/stream-analytics-define-outputs?branch=master#partitioning

doesn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7834085-949e-a97e-5e04-3943752f9f50
* Version Independent ID: 30b39956-d7d0-9a0b-2e4d-dcf43f38944f
* Content: [Use query paralleli

[2018-04-27 10:37] slavizh opened #7795 "Get Commands are not logged in Azure Activity log"
From the official documentation of Azure Activity there is statement that Get operations are not logged there. I think this also applies to RBAC. For example I do not think Get role definition and Get role assignment are logged in Azure Activity.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64d6e1e4-920b-bd7c-6c26-3a

[2018-04-27 11:02] euangordon opened #7796 "Where do Azure SQL diagnostics get stored in Azure Storage (which container)?"
I have looked through the documentation and also through my Azure Storage account but have been unable to locate where the diagnostics are stored.

Under Diagnostics settings in Azure Portal I have created a diagnostic with the following settings:
Name : compassTimeouts
Storage account: nauto
Log: Timeouts with Retention set to 30

The Diagnostic settings do not let you select which Azure Storage

[2018-04-27 11:07] MGoedtel commented on #7761
#in-progress.  Bugged and will address early next week, when I return from OOF.

[2018-04-27 11:15] jrtabuloc opened #7797 "Unclear statement on how to achieve failover group upgrades"
According to this [Failover group document](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-geo-replication-overview#upgrading-or-downgrading-a-primary-database) with [Upgrading or downgrading a primary database](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-geo-replication-overview#upgrading-or-downgrading-a-primary-database) section.

It says:

It recommends t

[2018-04-27 11:29] #7797 closed

[2018-04-27 11:29] jrtabuloc opened #7798 "Unclear statement on how to achieve failover group upgrades"
It recommends to upgrade the secondary database first, and then upgrade the primary. How can you upgrade the secondary under failover groups if it is in readonly mode? Can someone clarify what it means and how to achieve this as what the document claims?

We are designing a high availability application with almost zero downtime in combination of traffic manager using this [design and approach](ht

[2018-04-27 11:53] tastyeggs opened #7799 "Documentation needs to describe performance semantics of Reliable Collection operations"
The documentation is unclear on whether Reliable Dictionary key enumeration has any order, or whether it is in key order.

A lot of examples cite enumerating through all keys, while filtering, and looking for values. Are these operations O(n)? Are any O(lg n) search operations possible on Reliable Collections?

I understand the interface is similar to a .NET Dictionary, but how is the key data lai

[2018-04-27 12:04] queglay commented on #7745
I'm using an AWS instance of CentOS 7.4.  when I google instructions on how to install nvidia drivers for aws and centos they all point me to the microsoft website which is now funneling the comments here to github.

[2018-04-27 12:06] queglay commented on #7747
I'm using an AWS instance of CentOS 7.4 on a G2 system. when I google
instructions on how to install nvidia drivers for aws and centos they all
point me to the microsoft website.

--
Andrew Graham

On 27 April 2018 at 8:36:08 am, Micah (notifications@github.com) wrote:

@queglay <https://github.com/queglay> which image are you using for CentOS
7.4? We have quite a few in the marketplace

[image: i

[2018-04-27 12:37] grizzljt commented on #7592
Thank you @luleonpla! This worked but the article was not updated to reflect the direction of this thread thus it doesn't make sense to close the issue @MohitGargMSFT before updating the article.

[2018-04-27 12:38] gbstan92 commented on #6356
Hi @EmmaZhu

Very sorry for the late reply. I've done some additional troubleshooting and found out that whenever I run the script the following System Error (Event 36871) gets generated:

"A fatal error occured while creating a TLS client credential. The internal error state is 10013"

This is a WS2016 box that has TLS 1.0 and 1.1 disabled. I understand that AzCopy might be using TLS 1.1. Any cha

[2018-04-27 12:49] olavt opened #7801 "Avoid references to legacy services"
I think we should avoid references back to legacy services like this: "The node type can be seen as equivalent to roles in Cloud Services"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 658de695-0927-175f-0419-dcf7b6bece9d
* Version Independent ID: 8166322c-774b-9434-3df5-5501b7dd9cf1
* Content: [Planning the Service F

[2018-04-27 13:04] olavt opened #7802 "Linux"
The documentation states:

"Supported Platforms
Reverse proxy in Service Fabric currently supports the following platforms
- Windows Cluster: Windows 8 and later or Windows Server 2012 and later
- Linux Cluster: Reverse Proxy is not currently available for Linux clusters"

I don't think that Linux Cluster should appear in the bulleted list after "Supported Platforms" as it's not supported. Only "W

[2018-04-27 13:21] shannonlowder opened #7803 "Functions no longer run locally."
at first, I thought I had broken my project. Then I started a new project and followed the steps above to create a new project for HTTP triggers, and still get the error: "A ScriptHost error has occurred" followed by "System.Private.CoreLib: Illegal characters in path." What's odd it is worked the day before yesterday.  Was there an update to the sdk that could have broken previously working demo

[2018-04-27 13:45] si1 opened #7804 "Wrong predicate for condition to fire"
It should be "greater then or equal"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 299e4e19-ba9f-dbd3-7cee-9a9c98fded28
* Version Independent ID: 94e1eb0f-463f-0ba0-2482-49b9a42ed648
* Content: [Monitor data factories using Azure Monitor](https://docs.microsoft.com/en-us/azure/data-factory/monitor-using-azure-monitor#

[2018-04-27 13:56] ajamess commented on #7592
Hi @grizzljt - We'll get the article updated - it takes a bit for it to go through our staging system, so it might be a few days :). @luleonpla as FYI

[2018-04-27 14:10] nerddtvg opened #7806 "Confusing NAT IP Pool Section for Microsoft Peering"
"IP addresses used for the Azure public peering setup and other ExpressRoute circuits must not be advertised to Microsoft through the BGP session. There is no restriction on the length of the NAT IP prefix advertised through this peering."

Per the link below, the addresses MUST be advertised to Microsoft and not advertised to the Internet. That way traffic flows properly. And since the Azure Port

[2018-04-27 14:12] nerddtvg opened #7807 "Government ExpressRoute Microsoft Peering"
For those using Microsoft Peering in a Government Cloud, there is a manual approval process for the advertised prefixes/SNAT IPs. You must work with a support representative to get them approved and it will take a week or more. If you know the IPs before configuring the ExpressRoute Peer, it may save you some time to open the case ahead of time.

It would be nice if there is an 'Important' note st

[2018-04-27 14:41] Doraken commented on #7803
Hello shannonlowder ,
Without the code it will be very difficult to help you

best regards
See you soon

[2018-04-27 15:26] stdistef opened #7809 "This is GA now, correct?"
I believe it is GA since preview began in September 2017.    Please confirm?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5304722a-af34-e8ad-783c-bd8b174f7e1f
* Version Independent ID: c4f609b6-a6df-a0f8-4951-a7ba9aca67b5
* Content: [Manage Azure DDoS Protection Standard using the Azure portal](https://docs.microsoft

[2018-04-27 15:28] barclayn commented on #6499
#please-close

[2018-04-27 16:17] shannonlowder commented on #7803
Sure thing. Here is the code from the Microsoft template project.
---Function1.cs---

using System.IO;
using Microsoft.AspNetCore.Mvc;
using Microsoft.Azure.WebJobs;
using Microsoft.Azure.WebJobs.Extensions.Http;
using Microsoft.AspNetCore.Http;
using Microsoft.Azure.WebJobs.Host;
using Newtonsoft.Json;

namespace FunctionApp1
{
    public static class Function1
    {
        [FunctionName("Functi

[2018-04-27 16:35] yadcam opened #7812 "View Outages for the Product"
Hello!

I would like to know if it possible to view fail-overs on regions and if such is possible, I would like to how? Because I was able to find this link : https://azure.microsoft.com/en-us/status/history/ yet it only shows Global outages, not regional ones :c ,

Thanks for your time!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2018-04-27 16:43] vhorne commented on #7752
@rodrigoffonseca, thanks for the feedback. I'll investigate...
#in-progress

[2018-04-27 16:50] MicahMcKittrick-MSFT commented on #7803
@shannonlowder Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-27 16:57] vasivara-MSFT commented on #7804
@si1 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-27 17:01] TerryLanfear commented on #6313
@bedub1 - I learned from the engineering team that a preview was conducted on functionality similar to your suggestion. This functionality may be available in the future. A release date is not known at this time. Again, thank you for your suggestion!

[2018-04-27 17:02] ChackDan commented on #7801
Thankyou for the feedback. We have a boat load of tier1 customers who are still on Cloud Services, when they evaluate options to move forward, having such references are a help.
@MicahMcKittrick-MSFT  - please close the issue.

[2018-04-27 17:02] #7643 closed

[2018-04-27 17:11] mike-urnun-msft commented on #7790
@dcbrown16 Thank you for your feedback! We are investigating and will get back to you with our findings.

[2018-04-27 17:17] SaurabhSharma-MSFT commented on #7795
@slavizh Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-27 17:38] michevnew opened #7814 "broken link"
The link to "MV attributes" (https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnectsync-troubleshoot-object-not-syncing#MV-attributes) is broken, should be lowercase mv. And why on Earth are you folks using anything case sensitive...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81

[2018-04-27 17:40] ecfan commented on #5777
@nareshnagpal06 @divyaswarnkar @mike-urnun-msft

I created a work item to track work on this issue. Thank you very much for finding and opening this issue.

[2018-04-27 17:42] hajjat opened #7815 "SNAT Outbound Connections from VM behind an ILB to Destination in Vnet"
For a VM behind ILB, how can we SNAT outbound connections from the VM to IPs within Vnet (so that the destination sees ILB's front-end IP, rather than VM's DIP)?

Looking at ARM, I see a section for `outboundNatRules`. Couldn't find useful documentation about it though. I tried deploying a template with an `outboundNatRules` section, but Azure complained I don't have the feature `Microsoft.Network

[2018-04-27 17:51] fizxmike opened #7816 "EnvironmentVariables is not a valid child of CodePackage"
XmlSchemaValidationException: The element 'CodePackage' in namespace 'http://schemas.microsoft.com/2011/01/fabric' has invalid child element 'EnvironmentVariables' in
namespace 'http://schemas.microsoft.com/2011/01/fabric'. List of possible elements expected: 'SetupEntryPoint, EntryPoint' in namespace 'http://schemas.microsoft.com/2011/01/fabric'.

---
#### Document Details

⚠ *Do not edit this se

[2018-04-27 17:53] douglaslMS commented on #7679
@waqar-anwar1990 Our list of requirements and limitations doesn't mention any limitations per server, only per sync group. Which limitation in the list do we need to explain more cleary? Or, if you think there is a limitation that's missing from the list, please let us know. At first glance, "Maximum number of endpoints in a single sync group" appears unambiguous to me, but I have never been in yo

[2018-04-27 17:55] linda33wj commented on #7615
We will update the doc to include these.
#please-close

[2018-04-27 18:01] rwike77 commented on #7482
@Rachitgupta1994  19081 is the port typically used for reverse proxy.   The port is set in the ARM template used to set up the cluster.  Our sample templates use port 19081 for reverse proxy.  To find which port is used, look in the cluster template in the **Microsoft.ServiceFabric/clusters** resource:
[code]

Here's [info on formatting the URI](https://docs.microsoft.com/azure/service-fabric/serv

[2018-04-27 18:03] #7615 closed

[2018-04-27 18:03] luis-sanchez-globant opened #7817 "Solutions Architect"
Example images are not up to date. The root certificate limit is indeed 20, but if you add root certificates after 4 weeks from the vpn Gateway creation, those won't work, they won't be considered for authentication purposes. If you remove a root certificate, it won't allow authentication anymore and if you try to add it back, you fall into the problema I just described. The only solution that Wor

[2018-04-27 18:05] vasivara-MSFT commented on #7791
@EliWallic Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-27 18:05] fizxmike commented on #7816
I had the EnvironmentVariables defined above EntryPoint.

[2018-04-27 18:05] #7816 closed

[2018-04-27 18:06] #7801 closed

[2018-04-27 18:09] vasivara-MSFT commented on #6313
@bedub1 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-27 18:09] #6313 closed

[2018-04-27 18:09] SaurabhSharma-MSFT commented on #7812
@yadcam Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-27 18:10] vasivara-MSFT commented on #7235
@hraunfjord We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-27 18:10] #7235 closed

[2018-04-27 18:10] MicahMcKittrick-MSFT commented on #7613
@SilicusShraddha I will close this for now. Please reopen when you are ready to continue.

[2018-04-27 18:10] #7613 closed

[2018-04-27 18:11] MicahMcKittrick-MSFT commented on #7715
@mganeshphani I will close this for now. When ready please reopen and we can continue.

[2018-04-27 18:12] TerryLanfear commented on #6984
@hctrr  - We updated the download file of baseline rules and the link, which is now pointing to the NVD site.  Thank you for your feedback!

[2018-04-27 18:12] TerryLanfear commented on #6984
#please-close

[2018-04-27 18:24] JasonWHowell commented on #7794
Thanks for reporting the issue @luicazav I've fixed the link, and it will be published later today. Thanks, Jason

[2018-04-27 18:25] douglaslMS commented on #5970
@jamesbascle The member of the Data Factory team from whom I expect help on this is out of the office until next Tuesday, May 1st. I hope to provide an update next week.

[2018-04-27 18:26] douglaslMS commented on #7679
#in-progress

[2018-04-27 18:26] TravisCragg-MSFT commented on #7807
@nerddtvg Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-27 18:27] douglaslMS commented on #6049
#in-progress

[2018-04-27 18:27] douglaslMS commented on #6049
@JoNevi The member of the Data Factory team from whom I expect help on this is out of the office until next Tuesday, May 1st. I hope to provide an update next week.

[2018-04-27 18:29] vasivara-MSFT commented on #7750
@clemensv can you please share you thoughts on this?

[2018-04-27 18:31] thuansoldier commented on #7535
@niniikhena Thank you. My question was not the duration. It is WHEN an assignment gets triggered. If any update my policy, do I have to RE-ASSIGN it to trigger the scan?

[2018-04-27 18:33] jeffgilb commented on #7791
Thank you for your feedback. This is the result of a global Azure PowerShell docs update. We're fixing this for Azure Stack today.

[2018-04-27 18:33] jeffgilb commented on #7791
#please-close

[2018-04-27 18:34] vasivara-MSFT commented on #7791
@EliWallic We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-27 18:34] #7791 closed

[2018-04-27 18:35] TravisCragg-MSFT commented on #7809
@stdistef Yes, Azure DDOs Protection went Generally Available on April 19th, 2018. - https://azure.microsoft.com/en-us/roadmap/ddos-protection/

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-04-27 18:35] #7809 closed

[2018-04-27 18:36] ambakshi opened #7820 "StorageV2 not available in selector"
Is it possible to make StorageV2 an option in the drop down menu for the selector?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d419a61-a8ac-c3b6-5a09-1a21197519d3
* Version Independent ID: 9378b776-1850-ea26-c326-b79c2c65da71
* Content: [Azure StorageAccountSelector UI element](https://docs.microsoft.com/en-us/azur

[2018-04-27 18:37] 50251335 opened #7821 "Using DocumentDB as a source does not seem to work."
I tried a very simple import from documentdb source to a json file target.
The Verify button works fine with the documenttdb connection string I entered, however,
when the import runs it produces no errors and no output.  I can run the same
query I specified in the documentdb source in data explorer and I get the expected
results.  In debugging the code,  I don't think the migration tool is gettin

[2018-04-27 18:46] jeffgilb commented on #6912
Thank you for your feedback. This is the result of a global Azure PowerShell docs update. We're fixing this for Azure Stack today.

[2018-04-27 18:46] jeffgilb commented on #6912
#please-close

[2018-04-27 18:48] ecfan commented on #6439
@andrewb-ms @daviburg

Thanks for your question and answer. I created a work item to clarify the requirements in this article.

@Adam-Smith-MSFT #please-close

[2018-04-27 18:49] mganeshphani commented on #7715
@MicahMcKittrick-MSFT Correct i want to associate multiple NIC's to a machine while each NIC is associated with a different VNET... this documentation is not making that limitation clear enough.

[2018-04-27 18:50] bganapa commented on #6912
@jeffgilb this issue is talking about explaining the benefits of registering in a disconnected environment, I sidetracked with my issue of connect-azurermaccount, sorry for that. Please keep this issue

[2018-04-27 19:12] romankiss opened #7822 "Event Subsription schema: filter properties"
The following screen snippet shows the Event Subscription schema (https://docs.microsoft.com/en-us/azure/event-grid/subscription-creation-schema#example-subscription-schema):
<img width="422" alt="capture1" src="https://user-images.githubusercontent.com/30365471/39379852-1c1bdfe0-4a4c-11e8-8cd3-f6adbd5e931b.PNG">

It looks like this is a bug, in my REST API usage based on the  https://docs.microso

[2018-04-27 19:37] jarekw1 commented on #6296
Hi Guys,

Any update on the GA?  Will there be any major changes to DNS private zone that will affect me?  I really need to know so I can use this in my project.  I am using type A records.

Thank you,

[2018-04-27 19:44] MohitGargMSFT commented on #7680
@jnfarmer We will now proceed to close this thread. Please let me know if you need help in opening support ticket.

[2018-04-27 19:44] #7680 closed

[2018-04-27 19:47] MicahMcKittrick-MSFT commented on #6296
@jarekw1 Nothing from me.

@subsarma ?

[2018-04-27 19:57] ward0 commented on #7154
@georgewallace Thanks for the reply, but we don't use tags on groups. We have different schedule times for different VMs.

[2018-04-27 19:59] MicahMcKittrick-MSFT commented on #7747
@queglay the documentation appears to be correct to me and I cannot say that the instructions will 100% work in an AWS environment as we have written them specifically for Azure. However, appreaicte you letting us know. If we determine the docs need updating we will be sure to do so after investigation.

@dlepow Can you double check on this one? I don't have the ability to create a NC series VM to

[2018-04-27 20:11] MohitGargMSFT commented on #7793
@slavizh A System Assigned Identity is enabled directly on an Azure service instance. If want to use System Assigned Identity for a resource, you need to go that resource and enable managed Service Assigned Identity. MSI enables you to get access token from AAD without you needing to put credentials into your code.

[2018-04-27 20:16] 50251335 commented on #7821
Please Disregard.  Found a problem with the database name which was causing the issue.  sorry for the false alarm.

[2018-04-27 20:25] niniikhena commented on #7575
We're currently working on expanding the write up for effect, thanks for this feedback. We'll be sure to include an example for Append!

[2018-04-27 20:32] sbhuttan opened #7824 "Unable to find referred datasource"
I have new york taxi data as downloaded from this link - http://www.andresmh.com/nyctaxitrips/. This provides fare and trips data. I am unable to find datasets with specific information related to "Date", "Geography", "HackneyLicenses", etc., as being referred in this article (section "Create external tables for the sample data").

Could you please provide me with source for that data or details o

[2018-04-27 20:36] haydenhancock opened #7825 "Having issues connecting to my on-premise local database"
Connection failed
UserError: Cannot connect to SQL Server: '(localDB)\MSSQLLocalDB', Database: 'DataFactoryTest', User: 'haydenhancock'.'Type=,Message=Login failed for user 'haydenhancock'.,Source=,SqlErrorNumber=18456,Class=14,State=1,', activityId: dfc1dba9-ae9b-46c5-b0ba-57df4dc488bb

I can't seem to connect to my local database when trying to setup a linked service. I am able to connect to my

[2018-04-27 20:41] compernc opened #7826 "Need clarification on Dynamics 365 for Talent"
Does ExpressRoute support Microsoft Dynamics 365 for Talent? If so, which peering type is needed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cdb32c0-628d-0be2-f514-477d46dfa1b8
* Version Independent ID: fa096059-2d16-30a2-1e8b-8b9671afcaa4
* Content: [Azure ExpressRoute FAQ](https://docs.microsoft.com/en-us/azure/

[2018-04-27 20:43] rmcmurray commented on #7754
Thanks, @doneuros - I'll look into that.

[2018-04-27 20:43] MicahMcKittrick-MSFT commented on #7803
@shannonlowder are you seeing the error after creating the HTTP Trigger portion?

<img width="537" alt="image" src="https://user-images.githubusercontent.com/32313503/39384221-e1c4b766-4a20-11e8-954c-adf65f6205aa.png">

Or after adding the que trigger portion?

<img width="495" alt="image" src="https://user-images.githubusercontent.com/32313503/39384250-f30e6eae-4a20-11e8-8c72-a113fa1f5213.png">

[2018-04-27 20:50] MicahMcKittrick-MSFT commented on #7781
@lukeholbertmsft As per your original question I would suggest you reach out to MSDN and Stack Overflow forums to get help with building that automation. The question itself does not directly relate to an issue or document update that would be needed.

https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureServiceFabric

https://stackoverflow.com/questions/tagged/azure-service-fabric

As p

[2018-04-27 20:51] MicahMcKittrick-MSFT commented on #7816
@fizxmike thanks for reaching out and coming back to update us. Glad you were able to figure it out :)

[2018-04-27 20:56] tastyeggs commented on #7799
@MicahMcKittrick-MSFT I'm in need of this information right now. Can someone reply to this thread with this? Or do I need to ask another question on Stack Overflow?

Thanks.

[2018-04-27 20:56] matt-richardson commented on #7781
I've just created an issue over on the service-fabric-issues repo - https://github.com/Azure/service-fabric-issues/issues/1020.

[2018-04-27 20:59] vasivara-MSFT commented on #7822
@romankiss Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-27 21:00] lukeholbertmsft commented on #7781
Thank you @matt-Richardson, I will keep an eye on that thread. @MicahMcKittrick-MSFT, I'm just trying to automate the SDK installation, so those links aren't really of use to me since they require manual actions. I will follow the thread that Matt created since it sounds like that is a better place to get our answer. Thanks.

[2018-04-27 21:00] #7781 closed

[2018-04-27 21:01] MicahMcKittrick-MSFT commented on #7781
Thanks both! I will follow that other issue as well :)

[2018-04-27 21:02] jarekw1 commented on #6296
That is a great news, I greatly appreciate a quick response!

[2018-04-27 21:03] jarekw1 commented on #6296
@subsarma Thank you for the update, and reassurance, very helpful!!!

[2018-04-27 21:04] MicahMcKittrick-MSFT commented on #7799
@tastyeggs I am not sure of an answer for you on this. For general product questions I would suggest asking on MSDN or SO. If it is related to updating this doc or pointing out bugs then this would be the correct platform.

Otherwise, if @mcoskun can answer then that is also great.

[2018-04-27 21:10] MohitGargMSFT commented on #7795
@slavizh Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-27 21:12] #7825 closed

[2018-04-27 21:16] jamesbascle commented on #5970
Cool thanks for the followups guys.  While I've been able to kind of work out what I need from each file per job, I'm definitely looking forward to having some kind of hard and fast schema for the files and the various polymorphic variations thereof.

[2018-04-27 21:27] codputer opened #7827 "Contradiction on VNET Endpoint"
I believe this article about Azure SQL and endpoint contradicts this article: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-vnet-service-endpoint-rule-powershell

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2eb5097c-fc6e-f0a5-07a6-a84e05aa0bb6
* Version Independent ID: 1004e6b8-344f-6fdc-391a-35c54

[2018-04-27 21:29] #7740 closed

[2018-04-27 21:29] MohitGargMSFT commented on #7812
@yadcam [Azure status](https://azure.microsoft.com/en-us/status/) provides you with a global view of the health of Azure services. With Azure status, you can get up-to-the-minute information on service availability.

[Service Health](https://docs.microsoft.com/en-us/azure/service-health/service-health-overview) provides you with a customizable dashboard which tracks the health of your Azure servic

[2018-04-27 21:31] Mike-Ubezzi-MSFT commented on #7821
@50251335 Thanks for updating with the resolution.

[2018-04-27 21:31] #7821 closed

[2018-04-27 21:31] doghousesoftware opened #7828 "Next Steps"
Please provide a link with what to do next with this - just reading the data is only 50% of what this feature can do - please provide a link to a tutorial on, say, "streaming analytics"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab5309d7-9a63-fa0f-f8f6-64987eae5d2f
* Version Independent ID: 0481545b-d248-af8b-70e3

[2018-04-27 21:32] Mike-Ubezzi-MSFT commented on #7824
@sbhuttan Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-27 21:34] CelesteDG commented on #7211
Hello @ydogandjiev - Here's the PR that includes updates to address your input: https://github.com/MicrosoftDocs/azure-docs-pr/pull/39271 (CC: @elisolMS)

[2018-04-27 21:42] dlepow commented on #7736
@gezzahead - Thanks or pointing this out! You're correct that it's not possible to run a start task both on the host and in the container, as the example implies. In a container-enabled pool, run a start task *either* on the host or in the container (using TaskContainerSettings). The more common scenario, according to the Batch engineering team, is to run it on the host, for example, to mount an e

[2018-04-27 21:45] asmalser-msft commented on #5627
#please-close

[2018-04-27 21:50] danmyhre opened #7829 "URI of Schema"
Can you please provide the URI of the schema for these?  Would be nice to be able to put this in VS for authoring.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d956852a-d98e-c022-d6f2-c2910afe6e93
* Version Independent ID: 8107b348-d2b4-214e-2b18-bf813f1fe1e8
* Content: [Azure Policy definition structure](https://doc

[2018-04-27 21:52] #5627 closed

[2018-04-27 21:52] #7812 closed

[2018-04-27 21:53] vasivara-MSFT commented on #7828
@doghousesoftware Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-27 21:54] vasivara-MSFT commented on #6439
@andrewb-ms We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-27 21:54] #6439 closed

[2018-04-27 21:55] vasivara-MSFT commented on #6984
@hctrr We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-27 21:55] #6984 closed

[2018-04-27 21:59] MohitGargMSFT commented on #7814
@michevnew Thanks for reporting! I will investigate on it and update soon.

[2018-04-27 22:08] Mike-Ubezzi-MSFT commented on #6871
The error:

`ERROR:
Msg 102, Level 15, State 1, Line 4
Incorrect syntax near 'HADOOP'.`

Occurs when you are attempting to execute the query against SQL Database and not SQL Data Warehouse.
The command works when you are executing against SQL Data Warehouse:

![screenshot 155 _li](https://user-images.githubusercontent.com/37126106/39387135-cd2599fe-4a2c-11e8-901b-cac5c24fe2b9.jpg)

[2018-04-27 22:13] malopMSFT commented on #7692
we already have this definition on the following article
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/virtual-network/security-overview.md

Let us make some re-org to specify that how it works (stateful) and combine

[2018-04-27 22:26] ajlam commented on #7654
@mganeshphani, in the [article](https://docs.microsoft.com/en-us/azure/mysql/concepts-firewall-rules#connecting-from-azure), we currently say "A firewall setting with starting and ending address equal to 0.0.0.0 indicates these connections are allowed."

[2018-04-27 22:32] Mike-Ubezzi-MSFT commented on #7824
@sbhuttan I am walking through the tutorial referenced on the documentation that is linked to this issue ([Tutorial: Load New York Taxicab data to Azure SQL Data Warehouse](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/load-data-from-azure-blob-storage-using-polybase#create-external-tables-for-the-sample-data))

You need to use Azure SQL Data Warehouse but, the tutorial is complete. I

[2018-04-27 22:35] bwren commented on #7619
@slavizh It does look like these are all metrics.  This information comes from another article that's been around for awhile.  I'll track down the PM for confirmation on how it's collecting data.

[2018-04-27 22:36] bwren commented on #7619
#in-process

[2018-04-27 22:43] Mike-Ubezzi-MSFT commented on #7827
@codputer Thanks for the feedback. Is it possible for you to highlight the contradiction, as I am actively investigating this. I want to move this on the content owner for correction but would like to highlight the issue. Regards, Mike

[2018-04-27 22:45] rolyon commented on #7795
Thanks for the feedback. I'll have a look.
#in-progress

[2018-04-27 22:49] pargall commented on #7423
Please see the [Response Section](https://msdn.microsoft.com/en-us/library/azure/mt219004#Anchor_1).  To expand on it:

1. Get the bearer token,
2. Make request to ARM with Authentication Header set to the bearer token (this is the same as before)
3. RateCard will return a [302 status code](https://en.wikipedia.org/wiki/HTTP_302) which represents a redirect and contains a second URL from which fet

[2018-04-27 22:49] femsulu commented on #7820
@ambakshi Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-27 22:51] Toouny commented on #7694
Hi, I received the same error despite rebuilding my lab from scratch, I will sgare the whole script I ran and the error I received, please note that this is a Trial Subscription and a test lab so no data is important or private

**Script**

####################################
# User Configuration Section Begins
####################################

# Subscription name in Azure account. Check in A

[2018-04-27 22:51] femsulu commented on #7829
@danmyhre Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-27 22:52] Mike-Ubezzi-MSFT commented on #7513
@guyhorn1964 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-27 22:52] #7513 closed

[2018-04-27 22:53] Toouny commented on #7694
The Output

PS C:\Windows\system32> C:\Users\scsmadmin\Desktop\AzurePass.ps1
Checking for required modules...
Requirement check complete!!

Account          : Panther@Touni.onmicrosoft.com
SubscriptionName : Pay-As-You-Go
SubscriptionId   : fb359506-8ca6-4298-956d-0fb20b7be0ff
TenantId         : 1abe30c6-59d3-4253-b13f-dd8226de8dab
Environment      : AzureCloud

WARNING: Find-AzureRmResource: This

[2018-04-27 22:53] Mike-Ubezzi-MSFT commented on #7632
@cokobware We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-27 22:53] #7632 closed

[2018-04-27 22:53] Toouny commented on #7694
Please support if I missed anything

[2018-04-27 22:54] Mike-Ubezzi-MSFT commented on #7655
@mganeshphani We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-27 22:54] #7655 closed

[2018-04-27 23:02] codputer commented on #7827
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-vnet-service-endpoint-rule-overview
Point C –  (See below) which I believe is now possible, as I thought there was a recent announcement that this is now possible.

Point A & B are about the Azure SQL firewall rules – which protect the Azure SQL DB from all of Azure connecting to the DB.

Then point C argues that Azure SQL should be

[2018-04-27 23:04] DCtheGeek commented on #7829
@danmyhre I'll talk to the team and see if we can make that available for you.  #in-progress

[2018-04-27 23:04] MicahMcKittrick-MSFT commented on #7706
@sangram-pawar I have confirmed the following for you:

network/interface/0” refers to the primary NIC always.

network/interface/1”, “network/interface/2”, …, “network/interface/n” are secondary NICs, and there is no order for secondary NICs. Thus, the order of secondary NIC instance metadata may not match with the interface order that is seen inside the VM.

[2018-04-27 23:13] pilor commented on #7829
It is available here:
https://schema.management.azure.com/schemas/2016-12-01/policyDefinitionjson

There are some small changes in the new api-version (2018-03-01) that will be added in the near future at which point a new version will be published under the appropriate version folder.

[2018-04-27 23:30] vasivara-MSFT commented on #7825
Thank you for closing the issue. Please let us know, if you face any issues

[2018-04-27 23:34] vasivara-MSFT commented on #7815
@hajjat Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-27 23:39] MightyPen commented on #7827
@codputer  @Mike-Ubezzi-MSFT  @DhruvMsft
I'll take a look at this Azure SQL VNet documentation issue during the week of Monday 2018/04/30, with PM Dhruv M.  Thanks.
(MightyPen = GeneMi at MS.)

[2018-04-27 23:43] vasivara-MSFT commented on #7817
@luis-sanchez-globant Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-27 23:44] vasivara-MSFT commented on #7826
@compernc Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-27 23:46] vasivara-MSFT commented on #7423
@jason279 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-28 00:13] Mike-Ubezzi-MSFT commented on #7798
The section of the document you are referring is in regard to performance level:

[Upgrading or downgrading a primary database](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-geo-replication-overview#upgrading-or-downgrading-a-primary-database)

If your secondary is a lower tier in performance than the primary, and a fail-over event were to take place, there is a potential issue

[2018-04-28 00:15] larrywa opened #7834 "50 compute resources?"
I thought in the App Service plan it says that this Isolated tier could have 100 instances?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f509b0e3-ed9e-29da-305a-0e0a094e9464
* Version Independent ID: 8bde8e95-e0ef-8c70-0752-ac5aee2a1faa
* Content: [Introduction to App Service Environment v1](https://docs.microsoft.co

[2018-04-28 00:29] vasivara-MSFT commented on #7694
@Toouny I will try to investigate more on monday and I will update you

[2018-04-28 00:30] vasivara-MSFT commented on #7676
@rahulunlimited We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-28 00:31] vasivara-MSFT commented on #7711
@bisoisk Since we haven't received any reply, We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-28 00:31] #7711 closed

[2018-04-28 00:55] lextm opened #7835 "Please reconsider what to recommend to Python users, FastCGI or HttpPlatformHandler"
Both FastCGI and HttpPlatformHandler can run Python web apps on IIS/Azure, but at least it seems to me that HttpPlatformHandler is more reliable. If possible, all examples should use HttpPlatformHandler only.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffb8d659-5c8e-c3a9-3060-facce1593cfc
* Version Independent ID: 7

[2018-04-28 00:57] barclayn commented on #6582
@dcbrown16 We have discussed your suggestion internally and will add it to our backlog for consideration during a future update to the article.

[2018-04-28 00:59] barclayn commented on #6582
#please-close

[2018-04-28 01:45] rahulunlimited commented on #7676
Hello Team,

The problem is not resolved.
I took the JSON string from UI and tried to execute through PowerShell and
got the same error. Wheres the LinkedService works fine online.
Snippet
{
"name": "LinkedServiceAzureBlobStorage",
"properties": {
"type": "AzureStorage",
"typeProperties": {
"connectionString": {
"type": "AzureKeyVaultSecret",
"store": {
"referenceName": "LinkedServiceAzureKeyVault

[2018-04-28 02:35] kevinlam1 commented on #7574
The limit is correct which is that an HTTP request has a 120 second time limit for a request.  In the case of Azure Automation, the request is asynchronous following the suggested async pattern referenced in the explanation for that limit.

[2018-04-28 03:24] ninzavivek commented on #6981
@sfilatov , DNS Service does provide SRV record. Could you try using them?

[2018-04-28 04:14] jason279 commented on #7423
@pargall Thanks for your replay, I noticed the Important part of the Response section. And it works just for one time, when I try it again, the response of the ARM request turned to "500 Internal Server Error". After about half hour later, I tried again, still got 500 response, and could not get 302 any more, so I reopen it. Is that the server issue? Hi @vasivara-MSFT , please help to look at it.

[2018-04-28 07:24] jochenschroeer opened #7839 "List of Azure services that support Managed Service Identity"
I think the List of Azure services that support Managed Service Identity (first list) is not complete,
Azure SQL, Azure Storage (e. g. blob storage), data lake store support it as well..with -assignIdentiy you can provide an identity to these services

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726adac9-1848-01a6-95

[2018-04-28 07:27] NT-D opened #7840 "Feedback to SPA samples"
This document is very useful, but I have 1 feedback. In general, developers tend to use Angular, React and View to develop SPA, but in this page, only refer Angular sample. If there is React and View sample, I believe many developer will save time and can use Azure AD in the app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-04-28 10:19] StefH opened #7842 "Small typo : missing `"
This line: "and asynchronously iterate through these results using ExecuteNextAsync and `HasMoreResults." is probably missing a ending` for the command HasMoreResults.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5192394-5028-f577-e382-14c126b39ab1
* Version Independent ID: 6e908eec-b16a-b09e-bf4a-4b982c804337
* Con

[2018-04-28 10:22] StefH opened #7843 "OfferThroughput can be set to 400"
For a tutorial it's enough to set OfferThroughput to 400. See chapter 'Create a graph'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5192394-5028-f577-e382-14c126b39ab1
* Version Independent ID: 6e908eec-b16a-b09e-bf4a-4b982c804337
* Content: [Azure Cosmos DB: Develop with the Graph API in .NET](https://docs.microso

[2018-04-28 11:15] shannonlowder commented on #7803
When creating a HTTP Trigger from the Azure Function template, I get the scripthost error has occurred, system.private.corelib: illegal characters in path.

[2018-04-28 12:44] c42-arun opened #7844 "Unable to browse after azure deploy"
In step #6, I only get a "Site can't be reached" (SF mgmt console shows the cluster itself is healthy). Any ideas welcome. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 089974a0-7387-0266-d499-362153ed2851
* Version Independent ID: f3a0c273-e276-6eab-9a24-e4b0603274e4
* Content: [Deploy an Azure Service Fabric

[2018-04-28 13:34] preethasubbarayalu commented on #7799
@tastyeggs In the current version of relibale dictionary, enumeration uses a sorted datastructure ordered by key.

Adding more context:

Writes and Point Gets:
Commits go into a hashtable initially and then gets moved into a sorted data structure post checkpoint. So your Adds/Updates/Deletes are O(1), Gets might be O(1) or O(log n)  depending on whether you are reading from a recent commit or from

[2018-04-28 15:01] jarekw1 commented on #6296
Hello @subsarma,

Wanted to let you all know that I have found a solution to my issue.  After reviewing the link I have learned that there is a way to access the DNS on Azure AC DS by the following document:

Administer DNS on an Azure AD Domain Services managed domain
https://docs.microsoft.com/en-us/azure/active-directory-domain-services/active-directory-ds-admin-guide-administer-dns

Thank you,

[2018-04-28 15:54] CHDAFNI-MSFT opened #7845 "Time to this retire or merge doc?"
More detailed doc on governance available here - https://docs.microsoft.com/en-us/azure/security/governance-in-azure

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66f6ea71-7a93-5278-e255-5422c22262c4
* Version Independent ID: 3efa2639-35d8-6b62-7f1d-46b5c050d490
* Content: [Best practices for enterprises moving to Azu

[2018-04-28 16:36] fizxmike commented on #5505
Using fabric run-time version 6.1 and SDK version 3.1:

This feature is broken for me (or do I have typo)?!

## Service Manifest:
[code]

## Application Manifest:
[code]

## Error message:
[code]

[2018-04-28 16:44] kobulloc-MSFT commented on #7593
@ewahner We are going to close this thread.  If you have any additional questions about this, please tag me in your reply.  We will be happy to reopen the issue and continue the discussion.

[2018-04-28 16:44] #7593 closed

[2018-04-28 17:41] MicahMcKittrick-MSFT commented on #6296
@jarekw1 if you have another issue directly related to this doc then I suggest opening a new issue. Otherwise, if it is an issue on another doc you can open an issue on that doc as well.

If that is not the case then I suggest asking your question on MSDN or Stack Overflow for the correct support.

[2018-04-28 17:46] MicahMcKittrick-MSFT commented on #7835
@lextm Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@wadepickett can you please take a look as I was unable to directly assign to @huguesv

[2018-04-28 17:46] MicahMcKittrick-MSFT commented on #7844
@c42-arun Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-28 18:11] sayitfast commented on #7215
same issue here... images make it to the images folder but never the thumbnails folder

[2018-04-28 18:16] sayitfast commented on #5234
images make it to the images folder but never the thumbnails folder? any ideas what I did wrong... both containers are there

[2018-04-28 18:30] madsenfx opened #7846 "ADFS Device registration - Device sync"
Is device registration on adfs 2016 required to be enabled for this to work ?
We have configured everything in this article and enabled AADConnect to sync computers but no computers show up in Azure AD. Device registration is not enabled on our ADFS server and usercertificate attribute is not set on any of our computers, which is probably why computer objects are not synced to azure. But can we di

[2018-04-28 19:04] jason-j-MSFT commented on #7839
@jochenschroeer
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-28 19:05] jason-j-MSFT commented on #7840
@NT-D
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-28 19:05] jason-j-MSFT commented on #7834
@larrywa
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-28 19:07] jason-j-MSFT commented on #7842
@StefH
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-28 19:09] jason-j-MSFT commented on #7843
@StefH
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-28 19:11] jason-j-MSFT commented on #7845
@CHDAFNI-MSFT
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-28 19:13] jason-j-MSFT commented on #7846
@madsenfx
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-28 19:51] femsulu commented on #7668
@danmyhre We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-28 19:51] #7668 closed

[2018-04-28 19:57] femsulu commented on #7423
@pargall, @Erikre , please review @jason279 latest comment

[2018-04-28 19:57] femsulu commented on #6582
@dcbrown16, We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-28 19:57] #6582 closed

[2018-04-28 20:03] pargall commented on #7423
There was a ratecard outage (unrelated to the redirect) from ~7:30PDT to ~10:00PDT on 4/27. Based on the time of the comment, I'm guessing it is related to that.

[2018-04-28 20:03] sbhuttan commented on #7824
Hi Mike, Thanks for the response.

As per my understanding, to create External tables, we are specifying source as "LOCATION = 'Date'", which refers to Date folder in the blob storage. For the external table to pull data for a CTAS, date folder should have the data in CSV format. I am not able to find CSV file with Date data (and others). I am looking for the files you are referring here from Blob

[2018-04-28 20:04] femsulu commented on #7674
@tfitzmac , any insights on this?

[2018-04-28 20:06] ecfan commented on #5725
@cparker4486 Hi, we've updated the functions list in the main schema article and added a new function details reference article:

- [Workflow Definition Language functions](https://docs.microsoft.com/azure/logic-apps/workflow-definition-language-functions-reference)
- [Workflow Definition Language schema](https://docs.microsoft.com/azure/logic-apps/workflow-definition-language)

Thanks again for s

[2018-04-28 20:06] femsulu commented on #7682
@Anmolgan81, We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-28 20:06] #7682 closed

[2018-04-28 21:15] femsulu commented on #7423
@jason279 Can you confirm you are no longer hitting the 500 internal Server error? As @pargall  pointed out, It's possible the now-resolved outage was the root cause. Please try and let us know if the issue persists

[2018-04-28 21:17] missilelaunchr opened #7847 "Ability to utilize essential two-factor auth feature is overly confusing and conflicting"
Update: You can delete this post, I ultimately figured it out and was frustrated when I wrote this.

According to the following link Multifactor auth is included free: https://support.office.com/en-us/article/set-up-multi-factor-authentication-for-office-365-users-8f0454b2-f51a-4d9c-bcde-2c48e41621c6
"You get a free version of Azure multi-factor authentication as part of your Office 365 for busine

[2018-04-28 22:16] femsulu commented on #7847
@missilelaunchr Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-28 23:48] MicahMcKittrick-MSFT commented on #7706
@sangram-pawar I will close this for now. If you have additional details you want to discuss please feel free to reopen and we can continue.

[2018-04-28 23:48] #7706 closed

[2018-04-29 00:03] lokijota opened #7849 "Syntax error"
I tried this code and I'm getting an error:

dbutils.fs.mount(
  source = "wasbs://thecontainer@thestorageaccount.blob.core.windows.net/",
  mountPoint = "/mnt/themountpoint",
  extraConfigs = Map("fs.azure.account.key.thestorageaccount.blob.core.windows.net" -> "myBASE64KEY=="))

And I get a syntax error in the extraConfigs line:

SyntaxError: invalid syntax
  File "<command-3738642641768320>", l

[2018-04-29 01:10] Mike-Ubezzi-MSFT commented on #7842
@StefH Thanks for pointing this out. I have assigned to the content owner to make this minor edit. Not sure if the initial (`) is needed.
![screenshot 157 _li](https://user-images.githubusercontent.com/37126106/39402266-697bfd1a-4b0f-11e8-821f-12c0060ce225.jpg)

[2018-04-29 01:16] Mike-Ubezzi-MSFT commented on #7843
@LuisBosquez In the [Create a graph](https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-develop-graph-dotnet#create-a-graph) section, the C# code sample sets the R/U to 1000. Is this necessary for the tutorial?

`DocumentCollection graph = await client.CreateDocumentCollectionIfNotExistsAsync(
    UriFactory.CreateDatabaseUri("graphdb"),
    new DocumentCollection { Id = "graphcollz" },

[2018-04-29 01:39] Mike-Ubezzi-MSFT commented on #7824
@sbhuttan The data is indeed loaded from an external blob. It is a compressed file which is expanded into the external tables.

The step are clearly detailed in the following section: [Create external tables for the sample data](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/load-data-from-azure-blob-storage-using-polybase#create-external-tables-for-the-sample-data)

Create external dat

[2018-04-29 01:42] jason-j-MSFT commented on #7849
@lokijota
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-29 01:45] Mike-Ubezzi-MSFT commented on #7824
Apologies that the formatting didn't work in the previous port. The point is to explain how the data load creates an external data source, decompresses the data into the external (ext) tables and then moves that data into the (dbo) primary tables.

[2018-04-29 01:58] superkid200 opened #7850 "403"
The Account Center returns 403 when visited. How can I fix that without Account Center?
This is the current Account Manager URL:
https://account.windowsazure.com/Error/403/100

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4afcaf1-4c44-e88e-da26-a0fdb3b49736
* Version Independent ID: 053c490b-4078-a18c-cc22-38e8e3329d

[2018-04-29 02:15] lokijota commented on #7849
Error seems to be because the code is Scala and not Python. May be worth adding the two versions.

[2018-04-29 02:50] femsulu commented on #7850
@superkid200 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-29 02:54] sudeephazra opened #7851 "Prediction Not Changing"
Great tutorial and very easy to follow. I got everything working as per this guide and have a working solution. The only problem is that my prediction is always 0.489944100379944. What am I missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a747220-f587-2b7a-1c9d-176cfccb3702
* Version Independent ID: d41386c4-50

[2018-04-29 03:45] Jacob-McKay opened #7852 "Invalid code samples"
Note the use of the variable 'salesOrder' under sections:
https://docs.microsoft.com/en-us/azure/cosmos-db/time-to-live#extending-ttl-on-an-existing-document
and
https://docs.microsoft.com/en-us/azure/cosmos-db/time-to-live#extending-ttl-on-an-existing-document

I believe the author meant to pass the variable 'readDocument' the write operations.

---
#### Document Details

⚠ *Do not edit this sect

[2018-04-29 07:08] Noambi commented on #7741
@Adam-Smith-MSFT
I'm referring to this article that need to include limitation for the feature as well.  https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security

[2018-04-29 09:18] JamesDLD opened #7853 "VM Scale Set & Application Security Groups"
Hello,

could you please plan a new feature to permit the attachment of VM Scale Set to Application Security Groups?
This will be very useful if it could be automated when scaling up, another point is that at the build we could not anticipate the VM Scale Set nic IPs, so it’s difficult to associate NSG rules.
The current most effective way I see at the moment is to add one VM Scale Set in a dedica

[2018-04-29 09:40] NT-D commented on #7840
Thanks for your quick reply! I'm looking forward to see it :)

[2018-04-29 09:47] rahulambhore3 opened #7854 "How storage got provisioned?"
how the storage got created? i dont see any cmdlets that defines storage account/standard or premium?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eea09848-5494-5b27-bee6-5f14c9cca114
* Version Independent ID: 7715d594-4379-11e8-18c9-99fabed0cd03
* Content: [Azure PowerShell Script Sample - Create a Windows VM](https

[2018-04-29 13:53] seeapoorva opened #7855 "Write operation to Azure SQL DB as per microsoft docs is not working"
Hi,
I ran below command as per Azure Docs:
val userSchema = spark.read.option("header", "true").csv("wasbs:///HdiSamples/HdiSamples/SensorSampleData/hvac/HVAC.csv").schema
val readDf = spark.read.format("csv").schema(userSchema).load("wasbs:///HdiSamples/HdiSamples/SensorSampleData/hvac/HVAC.csv")
readDf.createOrReplaceTempView("temphvactable")
spark.sql("create table hvactable_hive as select * fr

[2018-04-29 14:04] peterremote1980 opened #7856 "Got this error, why?"
PS C:\node> New-AzureServiceProject expressapp
New-AzureServiceProject : Could not find a part of the path 'C:\Program Files (x86)\Microsoft
SDKs\Azure\PowerShell\ResourceManager\AzureResourceManager\AzureRM.Profile\Resources\Scaffolding\General\scaffold.xml'.
At line:1 char:1
+ New-AzureServiceProject expressapp
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : CloseError: (:) [N

[2018-04-29 14:29] sbhuttan commented on #7824
@Mike-Ubezzi-MSFT - Thanks for the details. I don't have access to the blob storage as well. As I do not have access to the original data, I cannot follow the article as is. I have been able to run same steps with another set of data. Though, it will be helpful in future, if original data set can be made public.

Thank you,
Sumit

[2018-04-29 14:44] sbhuttan commented on #7824
Correction - I realized that I can access blob storage location using the steps listed. For my test, I wanted to use Azure Data Lake store instead of blob. The hunt for the original source to populate ADLS lead to this thread. Now that I can access wasbs using DW - I just have to figure out a way to migrate data from Blob to ADLS - possibly using Data Factory.

Thanks for your help. Closing this i

[2018-04-29 14:44] #7824 closed

[2018-04-29 14:50] artur-tolstenco commented on #6226
@simplesi did you managed to deploy on AAS the model using the DeploymentWizard from command line? what should be put as user and password in the connection string in the deployment targets? I mean what are the corect tokens. Is this corect:

<ConnectionString>Data Source=asazure://westeurope.asazure.windows.net/XXXX;Timeout=0;User ID=domain\username;Password=pwd123</ConnectionString>

for me it d

[2018-04-29 15:58] Toouny commented on #7694
Hi Visivara, I figure it out, it is in line 146
I replaced **$clientSecret = [System.Web.Security.Membership]::GeneratePassword(30,2).ToString()**
with this line **$clientSecret = ConvertTo-SecureString "P@ssW0rD!" -AsPlainText -Force**

This made the script to continue successfully but it didn't show the $cliensecret at the end it showed it like this **Client Secret: System.Security.SecureString*

[2018-04-29 16:08] MicahMcKittrick-MSFT commented on #7853
@JamesDLD thanks for the feedback! I would suggest you leave this feature suggestion on our Uservoice page: https://feedback.azure.com/forums/216843-virtual-machines

In fact, this is where the "Give Product Feedback" link on the doc pages brings you do:
<img width="762" alt="image" src="https://user-images.githubusercontent.com/32313503/39408538-b619c936-4b8c-11e8-9fad-1217f61e335f.png">

I will

[2018-04-29 16:08] #7853 closed

[2018-04-29 16:25] MicahMcKittrick-MSFT commented on #7856
@peterremote1980 Thanks for the question! We are investigating and will update you shortly.

[2018-04-29 16:25] MicahMcKittrick-MSFT commented on #7855
@seeapoorva Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-29 16:26] MicahMcKittrick-MSFT commented on #7852
@Jacob-McKay Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-29 16:28] MicahMcKittrick-MSFT commented on #7851
@sudeephazra Thanks for the question! We are investigating and will update you shortly.

[2018-04-29 16:29] MicahMcKittrick-MSFT commented on #7853
Thanks @JamesDLD! I added my up votes as well :)

[2018-04-29 16:30] Toouny commented on #7694
Hi Visivara I used this script to try to get the value under $ClientSecret

**$Encrypted = ConvertFrom-SecureString -SecureString $clientsecret**
PS C:\> $Encrypted

And I got the below which I will try to use
01000000d08c9ddf0115d1118c7a00c04fc297eb01000000c4e92f7ddb843b40b65ed187b29a45a90000000002000000000003660000c0000000100000005a27ebfefdc2a822acf07baf4cb1fb410000000004800000a00000001000000074

[2018-04-29 16:49] Agazoth opened #7857 "nano should be notepad or code"
I'm doing this tutorial on a Windows 10 machine. Nano is not available, but notepad (or code) is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7e0a294-1b8a-1711-6f80-cb9ee87730ad
* Version Independent ID: 46e6645b-48ca-fa7c-1fb9-bc3442fde1d7
* Content: [Kubernetes on Azure tutorial  - Deploy Application](https://doc

[2018-04-29 16:51] Agazoth opened #7858 "Missing $ sign"
CLIENT_ID=$(az aks show --resource-group myResourceGroup --name myAKSCluster --query "servicePrincipalProfile.clientId" --output tsv)
should be:
$CLIENT_ID=$(az aks show --resource-group myResourceGroup --name myAKSCluster --query "servicePrincipalProfile.clientId" --output tsv)

and
ACR_ID=$(az acr show --name <acrName> --resource-group myResourceGroup --query "id" --output tsv)
should be
$ACR_ID

[2018-04-29 17:09] Agazoth opened #7859 "vi is not on Windows"
vi azure-vote/azure-vote/config_file.cfg
should be
notepad azure-vote/azure-vote/config_file.cfg

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56e9075f-9310-5e1f-72d4-a5bd061cdb1b
* Version Independent ID: 8afbfa3d-1cc3-5326-502a-291f72a716d8
* Content: [Kubernetes on Azure tutorial - Update application](https://docs.

[2018-04-29 17:44] neilpeterson commented on #7859
@Agazoth - thanks for the issue. Fully understand the VI is not a native Windows application. We are working on some documentation platform improvements that will allow these docs to 'context switch' between Windows and macOS. For example, there would be a tab where you would pick your platform, and the samples would change to match that platform. Once this work is complete, we will add a Windows

[2018-04-29 17:46] neilpeterson commented on #7858
@Agazoth - these commands are meant to be run in Bash .via WSL on windows or any other terminal on macOS or Linux. We are working on some platform improvements that will allow doc context switching (switch between PowerShell and bash). Once this work is complete, we will add PowerShell samples to the docs.

In the interim, I will have a note added that states the intended environment is Bash and n

[2018-04-29 17:48] neilpeterson commented on #7857
@Agazoth - similar to the other submitted issues. We have chosen the platform (Bash) that is being used by the majority of Kubernetes customers. We will update with Windows specific examples once our platform can handle in doc context switching (soon).

Thanks

[2018-04-29 17:50] neilpeterson commented on #7854
When managed disks were released, we kind of went "all in" with the tech and updated all samples to use them. That said, I've been out of the loop, lets pull in @iainfoulds for his opinion.

@iainfoulds, and thoughts on this?

[2018-04-29 18:02] Agazoth commented on #7859
Yes, that is fine. Great news about the multi context setup. Thank you for your great work.

[2018-04-29 19:34] HowardEdidin opened #7860 "Severity Code Description Project File Line Suppression State Error CS0407 'Task MainWindow.BrowseButton_Click(object, RoutedEventArgs)' has the wrong return type Emotions D:\source\repos\Emotions\Emotions\MainWindow.xaml 10 Active"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31a7905f-5818-4398-ee39-2842519dc054
* Version Independent ID: 7f6a714b-cd88-694e-fd31-ad96fdfe5ed3
* Content: [Face API C# tutorial - Microsoft Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/face/tutorials/faceapiincsharptutorial#related)
* C

[2018-04-29 20:09] neilpeterson commented on #7451
#please-close

[2018-04-29 21:00] dsghi commented on #6570
I was caught on this, clearly a simple fix, it would be nice if you could update it having had it reported over a month ago.... :/

[2018-04-29 22:24] HowardvanRooijen opened #7861 "Broken link"
"See this document for important information and tips related to OpenAPI import." goes to https://blogs.msdn.microsoft.com/apimanagement/2018/03/28/important-changes-to-openapi-import-and-export/ which returns a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0981461e-1ead-ae0c-aa10-f29d580d2c0d
* Version Independe

[2018-04-29 22:33] YutongTie-MSFT commented on #7860
@HowardEdidin Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-29 22:35] Bartolomeus-649 opened #7862 "Create a function from Logic App Designer"
Exactly how do you go about getting the dialog where you can specify the "Input payload object" when automatically creating a new function from within the logic app designer?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 087366a1-80f9-fd3a-c736-d1275f0c4aca
* Version Independent ID: c12d4e3b-aa27-aa3e-1ec2-82116599c01

[2018-04-29 23:07] dcbrown16 commented on #7787
Great, thank you both!

[2018-04-29 23:07] #7787 closed

[2018-04-29 23:52] jthake opened #7864 "HockeyApp bridge application no longer an option"
It is no longer an option for HockeyApp bridge when creating an App Insights instance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efe2a0f6-4db3-f260-f201-a2535c611427
* Version Independent ID: 04e5f0f9-a44c-79ea-8493-8de6718931ae
* Content: [Exploring HockeyApp data in Azure Application Insights](https://docs.micro

[2018-04-30 00:01] MicahMcKittrick-MSFT commented on #7862
@Bartolomeus-649 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-30 00:01] MicahMcKittrick-MSFT commented on #7861
@HowardvanRooijen Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-30 00:01] #7451 closed

[2018-04-30 00:08] zhangdingsong opened #7865 "the link to REST API is wrong"
Current link of REST API is https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-create-action-group-with-resource-manager-template which is for ARM template, it should be https://docs.microsoft.com/en-us/rest/api/monitor/metricalerts/createorupdate

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-04-30 01:16] AntRemo opened #7868 "Guidance for migrating existing ACS IdP settings"
Hi!

We are currently using ASC to perform social IdP authentication and are preparing to migrate to AAD B2C.

I can't seem to figure out how to get my existing IdP settings (ie Client ID, Client Secret etc)

Is there an easy way to setup a B2C tenant from an existing ACS namespace? If not, how do I obtain the IdP settings that were automatically created in ACS?

Thanks!
Ant

---
#### Document Det

[2018-04-30 02:13] parilla opened #7869 "Azure AD licensing requirements"
What Azure AD licensing requirements are there for this password hash sync to work to Azure AD Domain Services?
e.g. for password hash sync to work back to on-premises accounts a Premium P1 license is required according to this doc: https://azure.microsoft.com/en-us/pricing/details/active-directory/

Does this condition apply to Azure AD Domain Services also, or is password hash sync included in a

[2018-04-30 02:15] uahgit commented on #5565
Would love to actually see some documentation on how to properly config a web.config file, most documentation completely leaves out any mention of needing this with node.js apps on azure.

[2018-04-30 02:41] bibble235 opened #7870 "Failed to run for me."
if (!err) {
should say
if (!err && err  !== null) {

Otherwise it fails on
console.error('An error occured when sending a method response:\n' + err.toString());

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1368d534-bc8e-136c-666c-61c6641e4d3c
* Version Independent ID: 747e87b3-bd9e-5565-c5c0-5d8c9318dd8b
* Content: [

[2018-04-30 02:41] roldengarm opened #7871 "Default of mode is "All"..."
Just deployed a custom policy definition via Azure Powershell, and the value for Mode defaults to "All".
According to the documentation it defaults to indexed, but that does not seem correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d956852a-d98e-c022-d6f2-c2910afe6e93
* Version Independent ID: 8107b348-d2b4-214e

[2018-04-30 04:01] jah29m commented on #7734
This broke the AzureStack SDK install. I've not found a way around this yet, even with the above steps.

[2018-04-30 04:42] seeapoorva commented on #7855
Hi Micah,

Thanks for your response but I found a solution.
readDf.printSchema()
root
 |-- Date: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- TargetTemp: string (nullable = true)
 |-- ActualTemp: string (nullable = true)
 |-- System: string (nullable = true)
 |-- SystemAge: string (nullable = true)
 |-- BuildingID: string (nullable = true)

whereas the data value that it conta

[2018-04-30 04:47] dcbrown16 opened #7872 "Broken link"
The link for "Use Azure Access Control Service to issue tokens" (http://mingfeiy.com/cgi-sys/suspendedpage.cgi) is a suspended account. Please fix this (ideally host the information in the official docs?). Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1812d8ac-3e89-4736-c15e-24a96ac30b20
* Version Independent

[2018-04-30 04:50] dcbrown16 commented on #7872
Or if the ACS info is going away due to the plans to retire the service this year (see https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-acs-migration), it would be great if this section could be updated with the recommended current options.

[2018-04-30 05:00] Maryom opened #7873 "Typo"
Hi,

In this sentence "which is already present is you have already completed"

The second "is" should be "if"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3ce23f9-fc7b-3426-8a97-e485f6514c64
* Version Independent ID: c7bbdd7d-4d57-162b-757c-0e834bf711be
* Content: [Register the current user for push notifications b

[2018-04-30 05:54] jrtabuloc commented on #7798
@Mike

Oh, I thought the "Upgrading or downgrading a primary database" is about rolling out new migration in the database. Thank you for clarification.

Warm regards,
Jr

[2018-04-30 06:04] SilicusShraddha commented on #7613
Hi Micah,

Could you please help me how to write a java function in azure, which takes two input params, string and file. And how do i test the same?

From: Micah <notifications@github.com>
Sent: Friday, April 27, 2018 11:41 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Shraddha Hambir <Shraddha.Hambir@silicus.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft

[2018-04-30 06:25] mikewiese commented on #5631
@banisadr RequestBin is now offline and HookBin is down displaying 502 errors.  Could you add https://requestbin.fullcontact.com to the whitelist.
Also, given that there is such a huge demand for a request bin as people try to figure out how all this stuff works, could you not add one to Azure?

[2018-04-30 06:26] algattik opened #7874 "Inconsistent variable naming"
"eventHubsConf.toMap" is invalid, the variable is called ehConf in its declaration.
(For clarity, I'd recommend calling this variable eventHubsConf throughout all code examples).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f8e6e8e-7a2b-42da-8c17-dbacdfc14c79
* Version Independent ID: 21c7e2ae-7976-546d-e8e3-b004e3a

[2018-04-30 06:36] cplemm opened #7875 "This article is in the wrong place and hard to find"
High density hosting does not only apply to ASE v1 environments, but also ASE v2 and also public Azure App Service. Also this feature is not well known and its documentation is really hard to find. I suggest to place this post more prominently into the main Azure App Service documentation, or maybe even in multiple places or at least include pointers to it in documentation for the different types

[2018-04-30 06:39] JeffKingRey opened #7876 "Alda Microsoft Portal"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-04-30 06:41] JeffKingRey commented on #7876
<br>
Welcome to your new account<br>
<br>
Welcome to your new account: jeffrey@alda.com. Your account is compatible with many Google services, but your alda.com administrator decides which services you may access using your account. For tips about using your new account, visit the Google Help Center.<br>
<br>
When you use Google services, your domain administrator will have access to your jeffrey@

[2018-04-30 06:43] BryanTrach-MSFT commented on #7834
@larrywa Please note this document is for App Service Environment (ASE) V1. The isolated tier is only available for App Service Environment (ASE) V2. With the isolated tier, you can have up to 100 instances.

ASE V2 info: https://azure.microsoft.com/en-us/blog/announcing-app-service-environment-v2/

We will now proceed to close this thread. If there are further questions regarding this matter, ple

[2018-04-30 06:43] #7834 closed

[2018-04-30 06:43] JeffKingRey opened #7877 "A-Mail"
<br>
Welcome to your new account<br>
<br>
Welcome to your new account: jeffrey@alda.com. Your account is compatible with many Google services, but your alda.com administrator decides which services you may access using your account. For tips about using your new account, visit the Google Help Center.<br>
<br>
When you use Google services, your domain administrator will have access to your jeffrey@

[2018-04-30 06:44] #7877 closed

[2018-04-30 07:42] cephalin commented on #5565
@uahgit Yes. It's a bit of a blind spot for the zip push method because it doesn't generate the web.config in Azure automatically for you, whereas git deployment does. Kudu documentation however does have this information. See here: https://github.com/projectkudu/kudu/wiki/Using-a-custom-web.config-for-Node-apps

[2018-04-30 07:45] roscop88 opened #7879 "Error 50064 Missing"
Error 50064 missing from list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f83a9e6-2363-2c73-5ed2-f40bd48899b8
* Version Independent ID: f47dc642-f083-b173-9b6e-ce61e31685a9
* Content: [Sign-in activity report error codes in the Azure Active Directory portal](https://docs.microsoft.com/en-us/azure/active-directory/