[2019-05-21 20:03] #31298 closed

[2019-05-21 20:18] theonewolf commented on #28822
Any updates?

[2019-05-21 20:28] s-krawczyk opened #31843 "Missing Nuget package information"
HI, I have spent a lot fo time to look for this extensiion method "AddAzureAD". Found it but don't see any info about it here. For information it exists in package that is named like "Microsoft.AspNetCore.Authentication.AzureAD.UI"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22a7af57-0b9c-0bd5-b234-af87b5140108
* Ve

[2019-05-21 20:30] SiddheshV commented on #31453
@jtmilne : what version of mongoose/mongodb-* packages are you using?  AFAIK, the latest version of mongoose (v5.5.0 and above) does not depend on system.indexes collection for creating a new unique index.

Regarding costing, the system.indexes collection will be charged as it is created by the older mongodb drivers in response to a createIndex call.  The new drivers use the createIndex() command

[2019-05-21 20:36] mrdfuse commented on #31724
Ah ok thanks

[2019-05-21 20:37] matthias-scharl opened #31844 "Group mapping not available"
We are looking for the group provisioning option for ServiceNow but only the mapping for users is available.
![image](https://user-images.githubusercontent.com/28905301/58128900-eab06980-7c18-11e9-98ea-795d9690f54d.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83b07a9e-5e16-32ed-265e-32a32998ce37
* Version Indepe

[2019-05-21 20:39] MisinformedDNA commented on #31757
I don't see any content changes: https://github.com/MicrosoftDocs/azure-docs/commits/master/articles/azure-functions/functions-how-to-azure-devops.md

[2019-05-21 20:39] robinsh commented on #27022
Thanks @Ashok Kumar (Spectrum Consultants India Pvt)<mailto:v-kuasho@microsoft.com>

From: AshokPeddakotla-MSFT <notifications@github.com>
Sent: Monday, May 20, 2019 1:14 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Robin Shahan <Robin.Shahan@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] typo mistake in payload of "Jobs to execu

[2019-05-21 20:41] ahmedelnably commented on #31757
It is merged in the private repo, which in turn will be reflected in the public repo, hopefully soon - don't know the publishing schedule

[2019-05-21 20:43] Sshetty2 commented on #29787
Ok, got it, thanks.

It does appear that the tooling is a bit opinionated specifically because it seems that it will not find a nested truffle-config file and also it seems that it will not work with a build directory that is created through the truffle CLI.

In either case, I will launch a new project through the Azure Blockchain VS Code extension and attempt to incrementally add my project files

[2019-05-21 20:43] #29787 closed

[2019-05-21 20:45] jtmilne commented on #31453
Mongoose version:

    "mongoose":` "^5.5.4",

Also, I have set:

    useCreateIndex: true,

[2019-05-21 20:45] georgewallace commented on #29692
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-05-21 20:47] #29692 closed

[2019-05-21 20:52] raiye commented on #31840
@Suhas Deshmukh<mailto:suhasd@microsoft.com> can you share the Mv2 IOPS limits for WA?

-Rashmi Iyer

From: Dave Stampfli <notifications@github.com>
Sent: Tuesday, May 21, 2019 11:24 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rashmi Iyer <raiye@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] Can you add limits for the new Mv2 VMs? (

[2019-05-21 20:59] nibaccam commented on #30460
@skywalkerisnull
 @RohitMungi-MSFT  PR [77114](https://github.com/MicrosoftDocs/azure-docs-pr/pull/77114)  includes the fix for this issue. The doc update should go live in a few hours.  If satisfied, #please-close.

[2019-05-21 21:09] mattyweb opened #31847 "Would like to see a list of installation dependencies"
For those of us who are installing on minimal Docker images we need to install these ourselves. The only way to figure out what the dependencies are was to install, fail, repeat. I'm running Debian and had to install sudo, python and cron to get the installer to run. Still working on setting up reporting so may find more...

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-05-21 21:15] dlepow commented on #30693
@dkkapur - Please comment if you have more info. Thanks.

[2019-05-21 21:19] dlepow commented on #16481
Original issue appears to be resolved. Adding @dkkapur for second if you have comments. Thanks.

[2019-05-21 21:25] mhopkins-msft commented on #31566
@kevinblumenfeld Thanks for the feedback. I've updated the date.

#please-close

[2019-05-21 21:29] #31566 closed

[2019-05-21 21:31] vijetajo commented on #26921
@RohitMungi-MSFT please reassign to me

[2019-05-21 21:32] vijetajo commented on #25117
@Alberto-Vega-MSFT please reassign to me

[2019-05-21 21:33] YutongTie-MSFT commented on #25117
@vijetajo Done, thank you.

[2019-05-21 21:36] tfitzmac commented on #31424
#please-close

[2019-05-21 21:38] ScoGroMSFT opened #31849 "Several Awkward Passages / Missing Words / Inconsistent Sentence Structure"
I came across a bunch of issues in the prose that make this page harder to understand than it should be. I'm viewing this in Chrome on Ubuntu so there's a chance that some of the items I point out as missing might be present but in a font my browser can't render.

Under "Storage"

I think you're missing commas surrounding the phrase "such as the Table service":
"Data management such as Azure SQL D

[2019-05-21 21:38] mike-urnun-msft commented on #30768
Hi @yokawasa Apologies for delay. I’ve yet to go through the steps and validate your observations but I should be able get back to you in the next couple of days, if not tomorrow.

[2019-05-21 21:42] j-martens commented on #26076
@nibaccam we should cover this

[2019-05-21 21:44] #26865 closed

[2019-05-21 21:51] marktab commented on #31379
@garyericson I have no viewpoint on how or whether to fix this page -- could you assess removing it altogether?  Feel free to leave another idea

[2019-05-21 21:54] marktab commented on #31379
@garyericson  we could replace this TDSP page with the az-copy v10 documentation, just made last month https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-v10

[2019-05-21 21:55] YutongTie-MSFT commented on #26076
@j-martens  @nibaccam Please also refer to https://github.com/Azure/MachineLearningNotebooks/issues/288

[2019-05-21 22:01] dlepow commented on #31717
@salimfadhley - Thanks for the question. The process to update a running group is explained in [this article](https://docs.microsoft.com/azure/container-instances/container-instances-update) - you need to modify a property of the group such as an image name/tag. The IP address should be retained, but it's recommended that you use a DNS name label for the group in the rare event that the group gets

[2019-05-21 22:04] YutongTie-MSFT commented on #31829
@AdamUnderwood We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-21 22:04] #31829 closed

[2019-05-21 22:05] MikeChristensen commented on #8724
The following statement above should be removed:

"For Windows clusters, when starting the application, the runtime exports each referenced certificate and its corresponding private key into a PFX file, secured with a randomly-generated password."

It is simply not true.  The corresponding private key is not exported into the PFX (you can tell by the difference in file size).  Please update the do

[2019-05-21 22:06] YuichiTorigoe commented on #31783
@roygara -san,
Thank you for your quick response!!
I will wait to be updated for some documents!

[2019-05-21 22:06] #31783 closed

[2019-05-21 22:10] Sanitys opened #31851 "This does not work in Powershell"
PS C:\Users\sanity&gt; curl -Headers Metadata:true "http://169.254.169.254/metadata/instance?api-version=2017-08-01&fo
text"
Invoke-WebRequest : Cannot bind parameter 'Headers'. Cannot convert the "Metadata:true" value of type "System.Strin
to type "System.Collections.IDictionary".
At line:1 char:15
+ curl -Headers Metadata:true "http://169.254.169.254/metadata/instance ...
+               ~~~~~~~

[2019-05-21 22:13] YutongTie-MSFT commented on #31478
@tomygrenier Thank you Tomy for your solution sharing. What do you think should be added to the document to make it clearer for you?

[2019-05-21 22:13] YutongTie-MSFT commented on #31481
@basgalupp
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-21 22:13] #31481 closed

[2019-05-21 22:15] dragav commented on #8724
The document also states: "The private key corresponding to the certificate must be available, accessible and - on Windows - exportable." I agree we need to do a better job of surfacing that error - when that is the case - to the user, but the certificate export works correctly as described by the article.

[2019-05-21 22:22] YutongTie-MSFT commented on #31715
@jberezanski-mdg  Thank you for the detail. @jpe316 Hi Jordan, could you please share your idea here?

[2019-05-21 22:24] MicahMcKittrick-MSFT commented on #31851
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-21 22:34] YutongTie-MSFT commented on #31835
@levi106 Could you please try with Kanji, I think maybe Hiragana and Katakana are not supported.

[2019-05-21 22:40] scott1138 opened #31853 "Using this process in automation"
Is it possible to document how we could perform this using automation?  We generate app registrations dynamically and some of them need to permissions to others.  I have used a hacky method but this seems like it would be cleaner if we can pass authentication of the tenant admin with the request.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2019-05-21 22:53] elentar commented on #31424
Thanks for looking at this quickly @tfitzmac - I don't know why I was having trouble, and I implemented a different solution after running into it. I can successfully do this with a test case now also. I must have been staring at it too long and made some basic error.

[2019-05-21 22:53] #31424 closed

[2019-05-21 22:58] dcbrown16 commented on #31698
Awesome, thanks!

[2019-05-21 23:00] dcbrown16 commented on #31691
@DixitArora-MSFT
The latest comment on this feedback item suggests that the dev portal does not offer any way to verify the global or API level subscriptions, which has been my experience.
https://feedback.azure.com/forums/248703-api-management/suggestions/34323071-more-flexible-subscriptions-in-azure-api-management
I would ask that this document possibly be updated to make this restriction clear,

[2019-05-21 23:02] YutongTie-MSFT commented on #31720
@TranKennyK  Hi, you can try with your customized workflow https://github.com/MicrosoftDocs/azure-docs/issues/31835 Using combination in "If" then you can apply multiple condition and multiple output. https://docs.microsoft.com/en-us/azure/cognitive-services/content-moderator/review-tool-user-guide/workflows#define-evaluation-criteria

[2019-05-21 23:02] mohsena67 commented on #15833
Actually I was able to resolve it. I made the permission level of the cognitive services data source to anonymous and “public” in power BI service and permission level of other sources which were used to combine with the cognitive services applications to public too. Also I ticked the checkbox for skipping tests and now I can refresh my cognitive services sources in power BI service without any pr

[2019-05-21 23:06] YutongTie-MSFT commented on #15833
@BiGuRuNot Thank you for sharing you solution. I will put a small notice for customers if applicable.

[2019-05-21 23:23] levi106 commented on #31835
Same result for Kanji characters.

phraseList.AddPhrase("取消");

Which languages are supported?

[2019-05-21 23:27] MikeChristensen commented on #8724
Yea I guess that's a valid point.  What it doesn't say is that certificates you add to your cluster using the `Add-AzureRmServiceFabricClusterCertificate` Cmdlet will not be exportable.  So, short of actually RDP'ing into each VM (We'll have about 30 in production) and installing the cert by hand, how is one supposed to actually _get_ an exportable certificate?  Are you supposed to build your own

[2019-05-21 23:29] YutongTie-MSFT commented on #31835
@levi106 Sorry for you bad experience, could you please send us an email at Azcommunity@microsoft.com with the thread of this link and your Azure Subscription ID? We are willing to investigate more. Thank you for your understanding.

[2019-05-21 23:31] StarkCaptain opened #31854 "Configure via ARM"
Is it possible to configure backups with ARM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4754bcfc-204a-d398-6b86-e452cd0d44a1
* Version Independent ID: 157885c4-2579-8f98-1e85-c3063a861207
* Content: [Back up app - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/manage-backup#configure-automat

[2019-05-21 23:31] rezasherafat commented on #31196
@nicklasfrahm, this topic is now covered in the docs for python/uAMQP (see [here](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-amqp-support#receive-telemetry-messages-service-client)) let me know if you have any questions.

[2019-05-21 23:33] dlepow commented on #31168
Hello @blueelvis - Thanks for the questions. Our documentation [here](https://docs.microsoft.com/azure/container-instances/container-instances-update) states that you can update a running container group by modifying a group property or a container property such as environment variables. You should be able to do this through a YAML file as @VikasPullagura-MSFT explained, or by using a Resource Man

[2019-05-21 23:43] codyborn commented on #29787
Thanks for the follow up @Sshetty2. As this is a new extension we're constantly rolling out new features and improvements.  Don't hesitate to send over feedback as you use it!

[2019-05-21 23:48] dragav commented on #8724
Your feedback is spot-on, and unfortunately I have nothing to offer but an apology. Indeed, the feature is not usable in the real (Windows, Azure) world. Your best option, as discussed privately, is to leverage the VMSS' managed identity to retrieve the certificates from a vault in the live activation path, and write them to a container-mounted folder (or a variation thereof, such as injecting a t

[2019-05-21 23:49] Sshetty2 commented on #29787
@codyborn Thank you as well for the follow up. I'll certainly open any new issues in the Github repo for the tool unless there is a different preferred method for feedback.

[2019-05-21 23:49] kgremban commented on #31815
Thanks for pointing this out, @tervoju. I think you're correct. @sandervandevelde I see that you're the #1 contributor to the azure/iot-edge-modbus repo. Do you want to confirm this change before I implement it?

[2019-05-21 23:55] ishasahni1 commented on #28833
@biste5 our team doesn't manage localization for the Client Access Licenses and Management Licenses. In an ideal scenario if this page is not localized in Dutch it will fall back to en-us. Can you kindly try to change the browser settings to nl-nl and then see if you are redirected to en-us page. We tried on our end and it worked as expected.

@tysonn

[2019-05-21 23:58] danebou commented on #27313
Thanks @sergaz-msft!

Hmm...  it doesn't look like this has made too much progress. If you have even a really rough idea on how it would work that would be extremely helpful. Or maybe its not possible in the current state?

[2019-05-21 23:59] srrengar commented on #31803
@iainfoulds Japan East is supported, @VikasPullagura-MSFT @KentaroAOKI can you try creating from the portal.

@robbiezhang is there a reason the list of supported regions would be different on portal vs CLI?

[2019-05-22 00:00] Mike-Ubezzi-MSFT commented on #31838
@msdpalam In looking into this, which mongo driver are you currently using with this tutorial?

So, if you were using the node.js 3.0 driver for MongoDB, your password string would look something like the following, with the %3D%3D being appended to the password:

![Screenshot (25)](https://user-images.githubusercontent.com/37126106/58138148-e6b92300-7be9-11e9-9447-bfcc717367ff.png)

[2019-05-22 00:11] shanjin90 opened #31855 "explicitly mentioning child domain would inherit the settings of parent domain"
one of my customer prefer to see us explicitly mentioning child domain would inherit the settings of parent domain in "Add subdomains of a custom domain" part.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67566e6a-ffb4-4adf-73b5-3d6c0c58cd05
* Version Independent ID: 9c9a6f63-ec87-0e45-9d0e-f5030041ab06
* Content: [A

[2019-05-22 00:17] AlexanderTodorovic opened #31856 "Copy command"
Dear All,

would it be possible to change the Copy command of the documentation so that only the actual commands are copied? e.g. instead of including #[root@mysqlnode ~]# rcmysql start
just return the actual needed command rcmysql start .
Thank you!
Alex

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ed2f791-fa49-e83

[2019-05-22 00:21] kazshi commented on #29963
@SnehaAgrawal-MSFT Thanks for your clarification!

[2019-05-22 00:22] Karishma-Tiwari-MSFT commented on #30997
Thanks @mgraff @duckie for sharing the details. Let me investigate the issue and get back to you on this.

[2019-05-22 00:23] johanburati opened #31857 "Support for python3 (default on RHEL 8.0)"
Redhat recommends python3 as the default on RHEL 8.0 as per the following blog post:
https://developers.redhat.com/blog/2018/11/14/python-in-rhel-8/

The AzureDiskEncryptionForLinux fails with python3

I have reported the issue on github but still have no answer two months later:
https://github.com/Azure/azure-linux-extensions/issues/761

It would be great if you could have the developers to addre

[2019-05-22 00:23] Karishma-Tiwari-MSFT commented on #31313
@iainfoulds Is this something you can help with? Thanks :)

[2019-05-22 00:37] Karishma-Tiwari-MSFT commented on #31519
Thanks @kristianjaeger for the update.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-05-22 00:37] #31519 closed

[2019-05-22 00:41] Karishma-Tiwari-MSFT commented on #31759
@mlimache02 The [FAQ doc](https://azure.microsoft.com/en-us/pricing/hybrid-benefit/faq/) says that the Azure Hybrid Benefit applies to the following products:
Windows Server Datacenter edition with Software Assurance
SQL Server Enterprise Core with Software Assurance
SQL Server Enterprise Core with Software Assurance
@xujing-ms Can you please help confirm on this? Thanks :)
I could only find this

[2019-05-22 01:08] Alberto-Vega-MSFT commented on #31841
@jlrd Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 01:18] rhurey commented on #31835
Well, I am sorry about this.

I took a look at this and the C# library has the wrong marshaling type in place when sending the string to the base library. This is corrupting it and causing an error.

I've entered a bug in our backlog and will work to get a fix prioritized.

Thank you for letting us know.

[2019-05-22 01:22] SnehaAgrawal-MSFT commented on #31854
@Thanks for the question! We are investigating and will update you shortly.

[2019-05-22 01:36] harouny opened #31859 "Inconsistency between in maxPollingInterval documentation"
Notice the following Inconsistency:

maxPollingInterval default is one minute in "Trigger - polling algorithm" section:
[code]

maxPollingInterval default is 2 seconds In host.json section:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5063120f-d48e-6a76-8e6d-208ead92d187
* Version Independent ID: 72bb8ecc-6dec

[2019-05-22 01:39] igormusinov commented on #31689
If "alpineL3.6" is cached then only resource provisioning takes 35s? Ubuntu 18.04 wasn't cached but it takes 35s, too. I expected different startup times (faster than 35s for alpine:3.6) for ubuntu:18.04 and alpine3.6 .

[2019-05-22 01:43] ecfan commented on #31375
@Rosewood99, thanks for your feedback. I have a question to the product team about this scenario and have opened a doc work item to address.

[2019-05-22 01:51] igormusinov commented on #31688
false alarm, it works fine. I should created the container like this
`az container create -g rg -n cname --image im --exec-command "/bin/bash -c 'sleep'"`

[2019-05-22 01:51] #31688 closed

[2019-05-22 01:51] dcbrown16 commented on #11389
@AnuragMehrotra is this change still waiting on publication?

[2019-05-22 01:51] levi106 commented on #31835
Thanks YutongTie and rhurey.

[2019-05-22 01:55] tsubasaxZZZ opened #31860 "hope update with Azure Update site"
I want you to update same item Azure Update site too.
https://azure.microsoft.com/en-us/updates/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87fb3b64-807c-48b1-bbb0-822255efafcb
* Version Independent ID: 93a95ce4-cb41-4b3b-9d1d-49dd255f47b6
* Content: [What's new? Release notes - Azure Active Directory](https://docs

[2019-05-22 02:02] igormusinov commented on #31690
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-update

We have properties that require container group delete:
- OS type
- CPU
- Memory
- Restart policy
- Ports

There is no command line in the properties. I supposed that if I update `--command-line` parameter the container will be immediately restarted with new command, but it takes too long. Does a container group

[2019-05-22 02:27] DixitArora-MSFT commented on #31859
@harouny Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 02:42] Mike-Ubezzi-MSFT commented on #31310
@syedcit01 Yes, that is the correct data type. Thank you for this.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-22 02:42] #31310 closed

[2019-05-22 02:46] AshokPeddakotla-MSFT commented on #31843
@s-krawczyk Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 02:46] bhjolly commented on #31415
No I wasn't. I managed to find some documentation at https://docs.microsoft.com/en-us/rest/api/iothub/device/senddeviceevent but it didn't help me to construct a complete telemetry message. External info on StackOverflow eventually led me to the conclusion that Azure IoT won't work easily for simple devices due to the level of security/encryption enforced, but this wasn't clear in the documentatio

[2019-05-22 02:48] AshokPeddakotla-MSFT commented on #31844
@matthias-scharl Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 02:51] AshokPeddakotla-MSFT commented on #31849
@ScoGroMSFT Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 02:52] AshokPeddakotla-MSFT commented on #31853
@scott1138 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 02:55] AshokPeddakotla-MSFT commented on #31855
@shanjin90 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 02:56] AshokPeddakotla-MSFT commented on #31856
@AlexanderTodorovic Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 02:58] AshokPeddakotla-MSFT commented on #31860
@tsubasaxZZZ Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 02:58] Mike-Ubezzi-MSFT commented on #31496
@fahdsiddiqui Thank you for making a document enhancement suggestion. This request has been created as a work item in DevOps. Furthermore, you are able to contribute to the documentation should you find a solution to this or other tutorials and samples that you would like to contribute. Please see: Microsoft Docs contributor guide overview ([Link](https://docs.microsoft.com/en-us/contribute/)).
We

[2019-05-22 02:58] #31496 closed

[2019-05-22 02:59] AshokPeddakotla-MSFT commented on #31834
@mganeshphani Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 03:00] AshokPeddakotla-MSFT commented on #31847
@mattyweb Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 03:03] AshokPeddakotla-MSFT commented on #31857
@johanburati Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 03:05] tsubasaxZZZ commented on #31860
@AshokPeddakotla-MSFT  Thank you for your quick response. My many customer watching update site, but it's faced with AAD update issue. I strongly hope you to distribute to Update site.

[2019-05-22 03:05] MicahMcKittrick-MSFT commented on #31688
Thanks for the update :)

[2019-05-22 03:13] juntakata commented on #31794
Documents for the new policies will be available very soon.

[2019-05-22 03:22] msazurelearn opened #31862 "Copy-keys.Ps1 is not copying the data disk keys, only OS disk is copied. If the entire VM having multiple Data disks is encrypted , How to copy those keys using this script ? In this case how to make sure we are having the right encryption after doing a failover in DR region using ASR."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-05-22 03:26] msazurelearn opened #31863 "Copying Data disk BEK Keys to Azure Key vault in DR region"
Copy-keys.Ps1 is not copying the data disk keys, only OS disk keys are getting copied. If the entire VM having multiple Data disks is encrypted, How to copy those keys using this script? In this case how to make sure we are having the right encryption after doing a failover in the DR region using ASR.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-05-22 03:30] msazurelearn commented on #29042
One thing I have observed with the already existing key vaults in DR region is, we need to make sure that in Access Policies --> Advanced Policies --> Checking the option "Enable access to Azure Disk Encryption for Volume Encryption". If it is not checked, the ASR is not accepting the Key vault for the replicated Items.

[2019-05-22 03:32] #31862 closed

[2019-05-22 03:32] msazurelearn commented on #31862
Duplicated request

[2019-05-22 03:42] celamb4 commented on #31786
Tks @iainfoulds! I think just having an example with the group ID or stating it's supported should be enough. Agree that even retrieving the objectId of the group is out of scope.

[2019-05-22 04:00] algattik opened #31864 "Update to reflect new Public IP option for SQL Database Managed Instance"
This text should be updated: “ 2 - Azure SQL Database Managed Instance is supported. Because a managed instance runs within Azure VNet with a private IP address, an On-premises Data Gateway is required.”

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea45d88b-212b-51ae-b902-6efd5873f6c5
* Version Independent ID: 6f86e1

[2019-05-22 04:04] KetanChawda-MSFT commented on #31757
@MisinformedDNA  The doc has been updated now. Thank you for reporting the issue.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-22 04:04] #31757 closed

[2019-05-22 04:09] ackava commented on #31363
@Mike-Ubezzi-MSFT
There is no export button for hyperscale tier,

![image](https://user-images.githubusercontent.com/39438041/58146822-75bf4d00-7c75-11e9-8b69-858b08fb18c8.png)

[2019-05-22 04:11] wasabii commented on #29051
Hey, @santo2. Stumbled across this.

I have a package in NuGet, `Cogito.ServiceFabric.Configuration`, which provides some methods and such to make Service Fabric configuration settings available to the MS Extensions configuration system.

That makes them behave like `appsettings.json` files. Just another configuration source.

[2019-05-22 04:14] ManojReddy-MSFT commented on #31371
@lurodri We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-05-22 04:14] #31371 closed

[2019-05-22 04:14] ManojReddy-MSFT commented on #31314
@markarnolditpro We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-05-22 04:14] #31314 closed

[2019-05-22 04:15] ManojReddy-MSFT commented on #31367
@bt102 We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-05-22 04:15] #31367 closed

[2019-05-22 04:19] MGoedtel commented on #31819
@lightupdifire - Yes, while we presently support earlier versions of TLS to 1.0, we don't recommend it and we will be enforcing TLS 1.2 as of June 30th.  See here for further details - https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-security#sending-data-securely-using-tls-12.  If you reviewed the overview article here, it also calls this out and links to the article referenced

[2019-05-22 04:25] #30968 closed

[2019-05-22 04:25] #30460 closed

[2019-05-22 04:25] #30412 closed

[2019-05-22 04:30] VikasPullagura-MSFT commented on #31856
@AlexanderTodorovic Thanks for your feedback on document. I am assigning this to the document author for making changes.

[2019-05-22 04:31] AshokPeddakotla-MSFT commented on #31863
@msazurelearn Thanks for the feedback! We are currently investigating and will update you shortly.
Also, please help with the link of document on which above document feedback request is created.

[2019-05-22 04:32] MGoedtel commented on #28928
@Anand-Moghe - Can you be more specific as to what the scenario/use-cases are and the resources in Azure Gov Cloud that you would configure to send data from?

[2019-05-22 04:33] VikasPullagura-MSFT commented on #31856
@cynthn Can you please look into the issue and make changes to document.

[2019-05-22 04:36] jakaruna-MSFT commented on #31786
Thanks @iainfoulds. i will assign this issue to you

[2019-05-22 04:44] MGoedtel commented on #31847
@mattyweb - Did you review this article on installing/configuring the Container Solution, which is geared towards supporting Docker deployments - https://docs.microsoft.com/en-us/azure/azure-monitor/insights/containers?

[2019-05-22 05:00] VikasPullagura-MSFT commented on #31803
@srrengar As suggested, I tried from portal and still see the same issue. I tried with Kubernetes versions : 1.12.7, 1.13.5 & 1.14.0 and getting same error as "ACIConnectorRegionNoAvailable". Please find below screenshot for reference.

![image](https://user-images.githubusercontent.com/48944027/58148447-6b548180-7c7c-11e9-8c7c-70fa026d70bd.png)

![image](https://user-images.githubusercontent.com/

[2019-05-22 05:04] angoyal-msft commented on #31467
@LowerKees I hope your concern has been resolved.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-22 05:04] #31467 closed

[2019-05-22 05:11] chetanmeh commented on #10141
Looks like this is now supported for partitioned collections as well as per https://stackoverflow.com/a/53589515/1035417

[2019-05-22 05:12] MGoedtel commented on #31762
@mattyweb - Answered similar question on the other GitHub issue you opened - https://github.com/MicrosoftDocs/azure-docs/issues/31847. I'm going to bug this article and add a note/reference to the overview doc for the agent to avoid further confusion.  #please-close

[2019-05-22 05:21] RohitMungi-MSFT commented on #31707
@thecpshah You can export it as a docker file and use it with Azure ML or ONNX with windows ML. Here are the available options while exporting the file.
![image](https://user-images.githubusercontent.com/46958063/58149181-6d6c0f80-7c7f-11e9-937f-5da06b8a4ed1.png)

[2019-05-22 05:27] CHEEKATLAPRADEEP-MSFT commented on #31864
@algattik Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-05-22 05:34] LowerKees commented on #31467
This helped very much. Thanks you for the info!

Kind Regards,

Martijn

Op wo 22 mei 2019 07:05 schreef angoyal-msft <notifications@github.com>:

[2019-05-22 05:37] ram-msft commented on #31354
This may be a quota issue for the FPGA SKU. Please send me an email at Azcommunity@microsoft.com with your Azure Subscription ID, the region you are trying to deploy and the URL of this thread.

[2019-05-22 05:38] CHEEKATLAPRADEEP-MSFT commented on #31509
@pugillum The image shown in the article is default query pattern.
**Note:** You can modify the query according to your requirement.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-22 05:38] #31509 closed

[2019-05-22 05:39] CHEEKATLAPRADEEP-MSFT commented on #31529
@NileshGule We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-22 05:39] #31529 closed

[2019-05-22 05:40] CHEEKATLAPRADEEP-MSFT commented on #31539
@Anmolgan81 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-22 05:40] #31539 closed

[2019-05-22 05:46] agilmore30 opened #31865 "Gen2 dynamic resource classes are truly dynamic typo"
In the "Gen2 dynamic resource classes are truly dynamic" section there is a sentence "Scaling services levels does not provide a proportional change the memory allocated to the same resource classes."

Is there a typo in that sentence? Or otherwise it doesn't make sense. I can't work out exactly what its trying to say.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-05-22 05:59] ackava opened #31866 "Incorrect vCore Explanation"
As per Pricing page (https://azure.microsoft.com/en-in/pricing/details/sql-database/single/)

As per this page

Note, pricing page indicates `1 vCore = 1 physical CPU` this means `1 vCore = 8 Cores of E5-2673 v3` ? As per this page it is `1vCore = 1 core of E5-2673 v3, and it is not 1 physical CPU`

Which one is correct? I suppose your pricing page is wrong.

---
#### Document Details

⚠ *Do not e

[2019-05-22 05:59] mattyweb commented on #31847
Hi,

Yes, I did see that article. It's pretty hard to make head or tails of the
different options though. I guess the idea is that the monitoring needs to
be done on the host and not the guest? I don't have access to the host
though, do I? The documentation implies that I need to install some kind of
a monitoring solution package in Log Analytics AND have agents running on
all Docker hosts.

(I gu

[2019-05-22 06:10] Bartolomeus-649 opened #31867 "Cant find any connections named "Turbine Repair"or anything similar"
Is this documentation still relevant and correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65e9220b-e2f7-071d-ae97-fd4e958745d7
* Version Independent ID: e6cc1cc9-4e05-6750-ac75-be661e631b78
* Content: [Call an Azure function from Microsoft Flow](https://docs.microsoft.com/en-us/azure/azure-functions/functions-fl

[2019-05-22 06:11] Izmiyash commented on #28301
Any Update on this? This page brings huge misunderstanding/confusion. IMO, just adding Dynamics 365 for Finance and Operations under microsoft peering will be able to eliminate misunderstanding.

[2019-05-22 06:16] DixitArora-MSFT commented on #31691
@dcbrown16 This is the place from the developer portal.

![image](https://user-images.githubusercontent.com/46984568/58151407-38fc5180-7c87-11e9-86c3-c662b5b5c276.png)

[2019-05-22 06:18] DixitArora-MSFT commented on #31527
@d-h-morrison Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-22 06:18] #31527 closed

[2019-05-22 06:19] dcbrown16 commented on #31691
@DixitArora-MSFT yes, that shows your **product-level** subscriptions.
I have enabled subscriptions at the **global** and **API** scopes, but these are not displayed here. Please verify.

[2019-05-22 06:25] DixitArora-MSFT commented on #31751
@antogh Just following up here... Hope previous comment from vladvino helps.

[2019-05-22 06:29] nicklasfrahm commented on #31196
@rezasherafat Much appreciated, however I still have some questions:

1. When I use the `@azure/event-hubs` SDK, I receive messages from the path `/devices/:deviceId/messages/events` according to the annotations, however, you state the link path `/messages/events/ConsumerGroups/:consumerGroupName/Partitions/:partitionId`? Are both supported or is this a bug in the annotations? Could you maybe add

[2019-05-22 06:38] mcakumar opened #31868 "Post process of authendication not render BOT automatially"
Hi Team,

I use MS graph API project to test my BOT authentication. I updated  app id and password and oauth connection string.

as per my understanding we don't wan to publish my local bot to Azure .. Now I ran application and clicked Login button and Bot has opened Login page and asked credential .
Post to success verification Auth window closed automatically . But my bot has not triggered Login

[2019-05-22 06:46] MohitDhingra-MSFT commented on #31860
@eross-msft Could you please make the consistency between the Azure AD product update pages .  https://azure.microsoft.com/en-us/updates/  and  https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/whats-new#feedback .

As per the customer , it does not seem that these pages are consistent as per the customer's clients. Could you please review the same.

Thank you.

[2019-05-22 06:57] Velmurugan-n opened #31869 "Gen 2 VM availability Regions"
This Week MS announced Generation 2 VM’s are available for public preview, I would like to know
1. Which is available in all the regions for preview
2. How the pricing differ from Gen 1 VM's

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9145de07-94e5-05bc-d00b-e05723db9163
* Version Independent ID: c5d9a3c6-6fc2-837a-

[2019-05-22 07:00] karthikmit commented on #19160
Distributed Sequence Generator is itself a complicated system :) Easier approach is get auto generated id from sql databases or use id generator service like, https://github.com/twitter-archive/snowflake. Hope it helps.

[2019-05-22 07:16] michalchecinski opened #31871 "2FA application password"
Is it possible to get token in v2 ROPC provding application password when 2FA is enabled? There is info about that 2FA is not supported. When using application password generated on security settings page also I cannot authenticate and get invalid_grant error.If it's not possible to authenticate via application password please update docs. If it's possible let me know how.

---
#### Document Detai

[2019-05-22 07:19] VikasPullagura-MSFT commented on #31869
@Velmurugan-n Thanks for the question! We are checking on this and will respond to you soon.

[2019-05-22 07:26] biste5 commented on #28833
@ishasahni1 the behavior hasn't changed for me. I'm still getting "Page not found" error

[2019-05-22 07:27] fhe-fr opened #31872 "Monitoring D2C Message doesn't show any message"
I ended this tutorial and 4 modules are running in my edge device:
administateur@EdgeVM:~$ iotedge list
NAME             STATUS           DESCRIPTION      CONFIG
SampleModule     running          Up 24 minutes    demoiotedge.azurecr.io/samplemodule:0.0.5-amd64
tempSensor       running          Up an hour       mcr.microsoft.com/azureiotedge-simulated-temperature-sensor:1.0
edgeHub          running

[2019-05-22 07:33] #31762 closed

[2019-05-22 07:37] idohalevi opened #31873 "Exclude files"
Is there a way to exclude files from the Project app settings value?
I have two functions with a shared code that look something like this:
FunctionApp
 | - host.json
 | - Myfirstfunction
 | | - function.json
 | | - ...
 | - mysecondfunction
 | | - function.json
 | | - ...
 | - SharedCode
 | - bin

I want to build a deployment template for each separately and for both together but I can't because

[2019-05-22 07:38] #31819 closed

[2019-05-22 07:38] mcurko opened #31874 "Disk storage"
I think there's need to clarify what disk storage actually is. From another page: "Page blobs store random access files up to 8 TB in size. Page blobs store the virtual hard drive (VHD) files serve as disks for Azure virtual machines." So is disk storage nothing else but page blobs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-05-22 07:40] idarryl opened #31875 "Configure the app to require user assignment and assign users"
The sentence: "However, if the application exposes roles or if you want the application to appear on a user’s access panel, you should require user assignment." appears to conflict with the following link, which I believe is correct: https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/assign-user-or-group-access-portal#allow-all-users-to-access-an-app---portal "Doesn't affect wheth

[2019-05-22 07:46] ManojReddy-MSFT commented on #31853
@scott1138 It looks like this is possible through AAD graph API as documented [here](https://blogs.technet.microsoft.com/tfg/2017/10/15/english-tips-to-manage-azure-ad-users-consent-to-applications-using-azure-ad-graph-api/).  Through MS graph API the following [methods ](https://blogs.technet.microsoft.com/tfg/2017/10/15/english-tips-to-manage-azure-ad-users-consent-to-applications-using-azure-ad

[2019-05-22 07:52] galmok commented on #31817
Your suggestions make sense, but the last one doesn't work as logbasedActionGroupNames is an array of strings. Only string is allowed. Apparently only some of the functions have been implemented for the dependsOn section (which is odd). Not all alerts have to have all action groups, though, but I guess this is the only way to continue.

Currently, we have a powershell script to combine many smalle

[2019-05-22 07:53] michael-msft opened #31876 "Please add sign-in code 70044"
missing sign-in error code 70044
occured while logging in via Outlook Mobile after having added a "token lifetime" cond.access policy. So probably it's simply related to an expired OAuth token?
thanks

[2019-05-22 07:56] Exlsunshine commented on #28187
Thanks for the confirmation!

[2019-05-22 07:56] #28187 closed

[2019-05-22 07:58] NileshGule commented on #31529
@CHEEKATLAPRADEEP-MSFT I confirm that the create hive table works fine for SQL tables without the schema name.  I managed to get the SQL server database table with Schema into hive using a different approach. The command is as shown below which uses the select query to copy data into directory and then imports it into hive table

[code]

You can close the issue.

[2019-05-22 08:00] KetanChawda-MSFT commented on #31873
@idohalevi Thank you for reaching out to us. We will review and provide an update as appropriate.

[2019-05-22 08:02] KetanChawda-MSFT commented on #31867
@Bartolomeus-649 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-05-22 08:14] KalyanChanumolu-MSFT commented on #31866
@ackava Thank you for the detailed feedback.
This issue is being assigned to the content author to evaluate and update as appropriate. 

[2019-05-22 08:14] jakaruna-MSFT commented on #31789
@siaomingjeng If you need to create a service (load balancer type) with ip from a subnet different from the cluster subnet, Then specifying the subnet name in the annotations is mandatory.  Based on that value a frontend IP configuration is added to the load balancer.

Is you specify the subnet name, Then you should be able to assign an ip from that subnet to the load balancer. Make sure that IP i

[2019-05-22 08:17] DixitArora-MSFT commented on #31859
@harouny I have created the PR for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-22 08:19] KalyanChanumolu-MSFT commented on #31865
@agilmore30 Thank you for bringing this to our notice.
This issue is being assigned to the content author to evaluate and update as appropriate. 

[2019-05-22 08:23] irishun commented on #16666
Hi, I could use OCR on the local picture by the following:
text_recognition_url = "https://westeurope.api.cognitive.microsoft.com/vision/v2.0/ocr?language=unk&detectOrientation=true"

headers = {
    'Ocp-Apim-Subscription-Key': subscription_key,
    'Content-Type': 'application/octet-stream'
}

response = requests.post(url=text_recognition_url, headers=headers, data=image_data)

Though I think th

[2019-05-22 08:29] StoyanStAtanasov commented on #31089
@KetanChawda-MSFT From my understanding, serverless is supposed to simplify development, but what I am experiencing with orchestrating 2 apps (with all the reading, experimenting monitoring and debugging) to run 10 lines of code is the direct opposite. I may be wrong but please note that the way the system is set up it defeats the purpose of being efficient and quick for me.
Maybe I am missing the

[2019-05-22 08:34] Tanguerjho opened #31877 "Invitation error"
When using the link to get an invitation to conversation learner, I can under https://i.prefinery.com/projects/hm3oesh4/users/post add my name, surname and email address and agree to the Terms of use with the checkbox. If I then click on the "request an invitation button", I get the error "Please answer all required questions." which is impossible as there are none visible?
Thanks
Ralph

---
####

[2019-05-22 08:36] csamleong opened #31878 "'Start Monitoring D2C Messages' is no longer exists for Azure IOT hub Toolkit 2.7.0"
Please note that if you are using Visual studio code - Azure IOT hub Toolkit 2.7.0 (2019-05-16).
'Start Monitoring D2C Messages' is no longer exists. It has been changed to
'Start Monitoring Built-in Event Endpoint' according to the change log.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 181d5562-f8d7-9c59-85ea-09ef

[2019-05-22 08:53] AlexGalvarez commented on #31361
I can't install the version 1.5.0. How can I downgrade Azure Storage Explorer? @AshokPeddakotla-MSFT

[2019-05-22 08:58] mlottner commented on #31799
@sandervandevelde Thanks so much for contributing to our community with your valuable feedback!
Azure Security Center for IoT Edge module is available in public preview, and as such, requires additional capabilities from the EdgeHub module that do not exist in the latest stable version. The preview version: mcr.microsoft.com/ascforiot/edgehub:1.0.9-preview is a forked version of the latest stable

[2019-05-22 08:59] mlottner commented on #31799
#please-close

[2019-05-22 09:02] linruhui opened #31879 "Add limits on TCP connections per instance in doc and portal"
In practice, we noticed that our web app has lit the limitation on TCP connections per instance, for example, I was told by some one that maximum connection limits are 1,920 connections per B1/S1/P1 instance, 3,968 connections per B2/S2/P2 instance, 8,064 connections per B3/S3/P3 instance.

However, this information is not recorded in your official docs on pricing tiers (https://azure.microsoft.co

[2019-05-22 09:04] DaveZimmermann opened #31880 "NVv3-series (Preview) does not correspond with Azure Calculator"
In the calculator you'll find NV12s V3, NV24s V3 and NV48s V3 machines, but in this article it's written NV6s_v3, NV12s_v3 and NV24s_v3. Please correct that so we know, how many GPUs and so on they have.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 472ed16f-83af-9c24-4a47-596e72a59ca7
* Version Independent ID: dc6391

[2019-05-22 09:05] sandervandevelde commented on #31799
Thanks for the explanation

[2019-05-22 09:05] #31799 closed

[2019-05-22 09:15] TomasHubelbauer commented on #21964
I wish you guys would keep these threads around and updated them in lock-step with internal tickets. Obviously there is no visibility to those, if closing issues with "we're going to close this now and track it internall" kind of defeats the purpose of me filing an issue in the first place so that I can watch it and follow up based on its progression.

[2019-05-22 09:30] alexstewart-meb commented on #31550
Pull request submitted

[2019-05-22 09:41] YASWANTHM-MSFT commented on #31462
@mcurko , I reached out to internal product team. The scenario which you are trying is currently not supported(AD would not work in Azure) . If you wish you may leave your feedback [here](https://feedback.azure.com/forums/257791-storsimple). All the feedback you share in these forums will be monitored and reviewed by the Microsoft engineering teams responsible for building Azure.

[2019-05-22 09:48] jonimattila opened #31882 "Mozilla Firefox Group Policy"
Firefox offers now group policy to enable Kerberos authentication so each user does not have to set it manually anymore, template can be downloaded from https://github.com/mozilla/policy-templates/releases and set in GPO Computer Configuration&gt; Policies&gt; Administrative Templates&gt; Mozilla &gt; Firefox&gt; Authentication &gt; SPNEGO "https://autologon.microsoftazuread-sso.com"

---
#### Doc

[2019-05-22 09:55] KetanChawda-MSFT commented on #31749
@spelluru / @axisc  following up in case you missed.

[2019-05-22 10:00] AshokPeddakotla-MSFT commented on #31871
@michalchecinski Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 10:01] AshokPeddakotla-MSFT commented on #31872
@fhe-fr Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 10:02] AshokPeddakotla-MSFT commented on #31874
@mcurko Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 10:03] AshokPeddakotla-MSFT commented on #31875
@idarryl Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 10:04] sffamily commented on #31548
The configuration parameter of "AzureSignalRConnectionString" is used by Azure Functions binding with SignalR Service, as you can see from the cloned source code, where it imports Microsoft.Azure.WebJobs.Extensions.SignalRService. Check the source codes for it at https://github.com/Azure/azure-functions-signalrservice-extension/blob/dev/src/SignalRServiceExtension/Config/SignalRConfigProvider.cs,

[2019-05-22 10:04] AshokPeddakotla-MSFT commented on #31876
@michael-msft Please help with the link of document on which above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario.
These forum community

[2019-05-22 10:04] sffamily commented on #31548
#please-close

[2019-05-22 10:05] AshokPeddakotla-MSFT commented on #31877
@Tanguerjho Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 10:08] AshokPeddakotla-MSFT commented on #31868
@mcakumar Thanks for the feedback! We are currently investigating and will update you shortly.
Please help with the link of document on which above document feedback request is created.

[2019-05-22 10:10] AshokPeddakotla-MSFT commented on #31878
@csamleong Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-22 10:11] AshokPeddakotla-MSFT commented on #31879
@linruhui Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 10:12] AshokPeddakotla-MSFT commented on #31880
@DaveZimmermann Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 10:14] AshokPeddakotla-MSFT commented on #31882
@jonimattila Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 10:18] RohitMungi-MSFT commented on #31877
@Tanguerjho Thanks for reporting the issue. I have tried to request an invitation using the same link and I did not see any message to answer questions.
![image](https://user-images.githubusercontent.com/46958063/58167177-fcd9e880-7ca8-11e9-8d49-b1b67fded65d.png)

Could you please try again and check if it works for you?

[2019-05-22 10:19] salimfadhley commented on #31717
What if you just want to pull the newest ":latest" tag? The tag-name doesn't change but the image associated with it has changed.

[2019-05-22 10:20] ManojReddy-MSFT commented on #31875
@idarryl I agree that "Require user assignment" will not have any impact on whether the application is visible on the access panel or not.

The idea behind asking to enable this feature is "If you want to access the application, then admin will have to assign the application to you (if this option is enabled) which will automatically result in the application being available in access panel". So t

[2019-05-22 10:32] vicky08 opened #31883 "How to provide secrets via dynamic id in an array?"
""apimCertificates": [
    {
        "reference": {
            "keyVault": {
                "id": "[resourceId(parameters('vaultSubscription'), parameters('vaultResourceGroupName'), 'Microsoft.KeyVault/vaults', parameters('vaultName'))]"
            },
            "secretName": "[parameters('secretName1')]"
        }
    }
    {
        "reference": {
            "keyVault": {
                "i

[2019-05-22 10:34] mwdjwan opened #31884 "Azure IT Service Management Connector - SYNC TIME"
Morning,

It seems that this plugin does a manual sync between Log Analytics and ServiceNow every 15 minutes. is there anyway of reducing that time? i've scoured the web and cant see any sign of it. also could the fact that it's 15 minutes and a hard limit be clearly stated on the documentation.

we'd like to use this in a production environment but cannot until that sync time is adjustable.

---

[2019-05-22 10:34] jjgriff93 commented on #31187
Thanks @diberry. @KentaroAOKI - that's good to hear, how did you go about achieving this? I.e. how many loops did it take and what actions did you perform?

[2019-05-22 10:40] CHEEKATLAPRADEEP-MSFT commented on #31805
@oramoss Yes, this applies to the all the services.

[2019-05-22 10:42] benwhittaker commented on #28080
Any update??  I'm surprised to find that I can only assign a user to one group - which is either a 'desktop' group or 'remoteapp' group.  I want to be able to publish both the desktop and apps to users.  Is this possible?

[2019-05-22 10:44] SadiqhAhmed-MSFT commented on #31809
@kasparks Could you please check on this request and update the document as appropriate?

[2019-05-22 10:54] SadiqhAhmed-MSFT commented on #31879
@rothja Could you please review this request and update as needed?

[2019-05-22 10:58] Tanguerjho commented on #31877
Hello,
Clicking on the first link on page https://docs.microsoft.com/en-us/azure/cognitive-services/labs/conversation-learner/quickstart meaning in this paragraph:
Invitation required
An invitation is required to access Project Conversation Learner.
Project Conversation Learner consists of an SDK you add to your bot, and a cloud service which the SDK accesses for machine learning. At present, acce

[2019-05-22 11:00] RohitMungi-MSFT commented on #31877
@Tanguerjho We are glad it works for you now. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-22 11:00] #31877 closed

[2019-05-22 11:04] ld0614 opened #31885 "Data Usage for Change Management"
For Azure Virtual Machines the documentation states that there is no additional charge for this solution apart from the cost of the logs in the Log Analytics account.  What would be really useful is to understand is how much data an 'average' virtual machine would use on a monthly basis so that indicative costs can be calculated

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-05-22 11:05] sixeyed opened #31886 "Adding Windows Node Pool fails"
Following the steps using an RG in West Europe. The cluster creates but the `nodepool add` command fails:

$ az aks nodepool add \
&gt;     --resource-group aks14 \
&gt;     --cluster-name aks14 \
&gt;     --os-type Windows \
&gt;     --name npwin \
&gt;     --node-count 1 \
&gt;     --kubernetes-version 1.14.0
 - Running ..
Deployment failed. Correlation ID: 856e4253-d946-4cd1-8899-x. Operation f

[2019-05-22 11:05] mcurko commented on #31462
OK, in the end I made it all work. I understand that StorSimple Virtual Array is meant to be installed on-prem, but here I wanted only to check it out and see it work for testing purposes. So I installed another hyper-v guest, installed AD DS, promoted it to DC, created necessary records in DNS and it worked just fine!

[2019-05-22 11:16] #28817 closed

[2019-05-22 11:19] #30742 closed

[2019-05-22 11:22] ram-msft commented on #31471
@nguaman We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-22 11:22] #31471 closed

[2019-05-22 11:24] antogh commented on #31751
yes @DixitArora-MSFT

the answer from @vladvino clarify. Users and groups are not available in Consumption tier.
I didn't see the disclaimer because I read it tired at night and maybe because it mentions only the enabled tiers, maybe it could be helpful to add "Consumption tier does not have this feature".  like in this document

https://docs.microsoft.com/en-us/azure/api-management/api-management

[2019-05-22 11:24] #31751 closed

[2019-05-22 11:25] SubhashVasarapu-MSFT commented on #30718
@frehnejc , An ICM issue has been raised on this and respective PGs are looking in to it. Thanks for your valuable feedback.We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-22 11:25] #30718 closed

[2019-05-22 11:28] SychevIgor opened #31888 "Potentially useless code"
Please, take a look on this code:
# Get the lab storage account and lab storage account key values.
$labStorageAccount = Get-AzResource -ResourceId $lab.Properties.defaultStorageAccount
$labStorageAccountKey = (Get-AzStorageAccountKey -ResourceGroupName $labStorageAccount.ResourceGroupName -Name $labStorageAccount.ResourceName)[0].Value

I don't see usage of $labStorageAccountKey after it was pull

[2019-05-22 11:36] antogh opened #31889 "CORS policy works only if the request is processed by backend API"
I have added the CORS policy to my API and it works well but only when the request is processed by the backend API and the backend generates the response.

In the cases where the request is not passed to the backend (e.g quota limit, header not found and so on...) the response returned to caller is missing the CORS header so this is causing problems to a wepapp caller. The browser will not find th

[2019-05-22 11:37] MohitDhingra-MSFT commented on #31785
Hi @lvjianjunljj,

I hope the above information is helpful. We will now close this issue. Should you have any further queries, please tag me or @shashishailaj  to your reply and we can gladly continue the conversation.

Thank you.

[2019-05-22 11:37] #31785 closed

[2019-05-22 11:38] helloyesthisisdave commented on #22102
Can this issue please be looked into, as there still seems to be no way to access the temporary/isolated local-project DataRoot folder at `C:\<Project Directory>\bin\Debug\ProjectName_tmpDEA9\DataRoot` from within a U-SQL unit test C# script.  Without this, how can checks on the content of `OUTPUT` files be verified?

[2019-05-22 11:46] vadakoen opened #31890 "Documentation/Support for multi-select option sets"
When executing a fetchXml that contains a multi select option set field, the value of the field is an array of optionset values. (JSON array of int values.)
A copy data action from Dynamics 365 to blob storage (as a json file), sets this value to null in the exported json file. Therefor it seems to me that multi select option set is also not a supported AttributeType.

---
#### Document Details

⚠

[2019-05-22 11:52] stuarthallows opened #31891 "Label (price) is required in the input data"
The end result of this setup is that the label of price is required to be included in the prediction input data. As "price" was marked as the label field I guess it is does not impact the prediction but I would not expect to have to include price in the input.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d019e5f-d97

[2019-05-22 11:58] lciocci opened #31892 "IoT Hub Streams, Unable to connect to remote server"
I've set up a VM in Azure to simulate a device. and have provisioned an IoT Hub in Central US. I've run the proxy sample on several occasions, establishing RDP sessions using IoT Hub Streams to route the RDP traffic through IoT Hub. Really nice stuff here.

I'm trying to run the device proxy client to point instead to a web page hosted by IIS on a specific port (e.g. 2002). I got this to work, but

[2019-05-22 12:00] VikasPullagura-MSFT commented on #31886
@sixeyed Thanks for the question! We are investigating and will update you shortly.

[2019-05-22 12:07] ManojReddy-MSFT commented on #31871
@michalchecinski App passwords are created only for legacy office clients and not meant to be used in modern authentication flows as an alternate for 2FA.

It is not supported in any OAuth flows.

[2019-05-22 12:11] blueelvis commented on #31168
@dlepow - Thanks for the answers! Yea, I was pretty confused as to how to change the container environment variables. `az container create` and `New-AzContainerGroup` suggest that they would be creating new containers as per the Verb-Noun as from what I have seen (Like the WebApp), there would `az webapp update` and `Set-AzWebApp` which suggest that they will modify the current setup. Just curious

[2019-05-22 12:13] blueelvis commented on #31716
@MicahMcKittrick-MSFT - By Swapping, I mean this - https://www.linux.com/news/all-about-linux-swap-space

This relates to the documentation in the sense because it talks about limits and I am not able to configure Swap space on the running container. If this is not possible, I think the documentation should be updated. If it is possible, it should state on how to do that.

[2019-05-22 12:14] ChrisLopezUK opened #31893 "Microsoft.PolicyInsights/policyStates/latest/triggerEvaluation API not returning any response"
Hi Team,

When following the instructions to trigger policy evaluation using the command line
https://docs.microsoft.com/en-us/azure/governance/policy/how-to/get-compliance-data#command-line I find that I am not getting a response.

The same seems to be happening when I use Postman.

The URI I am using is:

"https://management.azure.com/subscriptions/{subscriptionId}/providers/Microsoft.PolicyInsi

[2019-05-22 12:20] RohitMungi-MSFT commented on #31891
@stuarthallows Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-05-22 12:24] porrascarlos802018 opened #31894 "Missing details for docker hub"
no example provided for docker hub or explanation about how can ACR hook docker hub changes and if account and credential for docker hub needs to be provided

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc176ffc-0be2-fcc3-037d-22aa53fa0251
* Version Independent ID: 8e23e2e6-88ec-9bae-5712-2b0b62161ab4
* Content: [Aut

[2019-05-22 12:33] blueelvis commented on #31358
@CHEEKATLAPRADEEP-MSFT - Understood. Please feel free to close this issue now.

[2019-05-22 12:34] lightupdifire opened #31895 "Testing steps | Upgrade to a new version"
Hello,
If we do Azure AD Connect upgrade from 1.1.880 to 1.3.21.0 and installation fail in a middle, is there any roll back solution available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf9169c8-ec81-9342-c93e-963647d70c6c
* Version Independent ID: 0ea93b27-477a-84e5-3d93-6707f5b9cb88
* Content: [Azure AD Connect:

[2019-05-22 12:48] jakaruna-MSFT commented on #31711
#11484 similar issue

@ehrnst This document is for external load balancers only.
Let say that we have deployed a AKS cluster in the Vnet.  If some of the containers want to access a web application deployed on the other subnet, it will access directly(with container ip).
For internal traffic i think we cant assign a standard ip for egress.

Please correct me if  i didn't understand your question p

[2019-05-22 12:48] DhawalCCI opened #31896 "Unable to Grant Access to Service Principle"
Dear Team,

I have followed the article and unfrotunately I am unable to grant access to a service principle as stated in the first line of the article.

I get below error -

PS Azure:\> New-AzRoleAssignment -RoleDefinitionName Owner -ObjectId 5e320103-7b09-44b0-90cc-c518d2d87b49 -Scope "/providers/Microsoft.Billing/enrollmentAccounts/fbc34c28-37ef-49f6-90df-ba5249b1679a"
New-AzRoleAssignment : Pr

[2019-05-22 12:48] KalyanChanumolu-MSFT commented on #31802
@masashimi Thank you for bringing this to our notice.
I have verified the default value for ConnectRetryInterval in SqlConnectionStringBuilder class and confirmed it is 10 seconds.

I have updated the doc accordingly. The changes should be live EOD or tomorrow.
We will close this issue now. If there are further questions regarding this matter, please comment and we will gladly continue the discuss

[2019-05-22 12:49] cxputcm commented on #31699
with the best will in the world - how on earth  do you make this work around work when using an IFRAME in sharepoint. it did work fine prior to 4.3

[2019-05-22 12:50] #31802 closed

[2019-05-22 12:51] jakaruna-MSFT commented on #31880
@DaveZimmermann  Are you saying that  "NV12s V3"   is not available in pricing page?

Also let me know the region which you used in the pricing page.

[2019-05-22 12:55] MarekLani opened #31898 "Deploy modules without access to subscription"
Is it possible to deploy new modules to IoT Edge device without having access to Azure subscription where the related IoT Hub is running? I would expect to have possibility to deploy modules (using deploy manifest) to edge device using IoT Hub manage key.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed3eb802-31f2-6c9

[2019-05-22 12:55] joshuataylor commented on #26559
Just to clarify, can this be done via submitting a ticket after creating it via the CLI?

What are the limits per node? Can this timeline be discussed? We have lots of smaller containers.

[2019-05-22 13:04] DhawalCCI commented on #31896
Please disregard this is a known issue with Service Principle Assignments.
The ObjectID that comes up on portal and Service Principle Object ID is different.

So the below command works -

az ad sp show --id  5e320103-7b09-44b0-90cc-c518d2d87b49

PS Azure:\> New-AzRoleAssignment -RoleDefinitionName Owner -ObjectId bfc5af3d-fdca-47e6-ad36-36e93934f05d -Scope "/providers/Microsoft.Billing/enrollment

[2019-05-22 13:04] #31896 closed

[2019-05-22 13:06] rothja commented on #31879
@linruhui Thank you for this feedback, and I am sorry you ran into this limitation without seeing it documented anywhere. I manage this article, but I need to pull in an app-service expert.

@SadiqhAhmed-MSFT , could you please assign this to @cephalin to triage and then unassign me from this issue. I think Cephas is the right person to work on it or to find the right person to help. Thank you!

[2019-05-22 13:09] KentaroAOKI commented on #31803
@srrengar @VikasPullagura-MSFT As suggested, I tried from portal in Japanese and still see the same issue. I tried with Kubernetes versions : 1.12.7, 1.13.5 & 1.14.0 and getting same error as "ACIConnectorRegionNoAvailable". Please find below screenshot for reference.

![04](https://user-images.githubusercontent.com/57105/58176667-c074af80-7cdd-11e9-8e5a-fee6ce6c086e.PNG)

![05](https://user-image

[2019-05-22 13:12] KalyanChanumolu-MSFT commented on #31766
@jderus I just tried running some queries and it works fine.

[code]
You will need to select a scope

![image](https://user-images.githubusercontent.com/8835012/58176986-18e98400-7cc1-11e9-931b-2aafac28760f.png)

Please let us know if you are still facing issues.

[2019-05-22 13:15] rajatvijay commented on #30899
@ArcherAZ thanks, it seems to be working now.

Though I found one more issue. The tests that I am creating are not moving from the "processing" state to any other state. Seems like they are stuck.

Is this the right place to report this? Or if you can point me to the right place to report this.

Thanks!

[2019-05-22 13:20] bczudek commented on #31854
Following that: I would like to create Azure Policy on that yet without this property in ARM I'm not sure if this is even possible?

[2019-05-22 13:23] SnehaAgrawal-MSFT commented on #31854
@StarkCaptain Thanks again for the question! You cannot configure backup using ARM for app services. You could try using [Powershell](https://docs.microsoft.com/en-us/azure/app-service/scripts/powershell-backup-onetime)

[2019-05-22 13:25] ajiljins commented on #30802
@ManuelMos Did you get through this? if yes please post the resolution steps  provided.

All my account details are correct still getting the same error. Thanks

[2019-05-22 13:27] Alberto-Vega-MSFT commented on #31884
@mwdjwan Thank you for your feedback. Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2019-05-22 13:28] mwdjwan commented on #31884
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/itsmc-overview

[2019-05-22 13:38] spacecat opened #31899 "Rewrite target in ingress object breaking changes"
NGINX Ingress Controller for Kubernetes 0.22.0 introduced a breaking change related to rewrite target annotation.

Ingress docs need to be updated accordingly =&gt;     nginx.ingress.kubernetes.io/rewrite-target: / is no longer valid.

https://github.com/kubernetes/ingress-nginx/releases/tag/nginx-0.22.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-05-22 13:38] Alberto-Vega-MSFT commented on #31892
@lciocci Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 13:48] Alberto-Vega-MSFT commented on #31414
@jishnudantu Were you able to resolve your issue? If not we should get you help from support.
 Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, we can help get the one time free support ticket opened for this issue.
Please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID.

[2019-05-22 13:50] ajiljins commented on #30802
@shashishailaj

I've registered a native app (for Power BI push operation) and added the necessary API  permissions.
Global admin granted the consent. But the access token method fails.

equivalent PS script used to get access token

[code]
But getting the same error:

**Invoke-RestMethod : {"error":"invalid_grant","error_description":"AADSTS50126: Invalid username or password.**

The master accou

[2019-05-22 13:52] ajiljins opened #31900 "AADSTS50126: Invalid username or password"
I've registered a native app (for Power BI push operation) and added the necessary API permissions.
Global admin granted the consent. But the access token method fails.

equivalent PS script used to get access token

$authUrl = "https://login.windows.net/common/oauth2/token"
$body = @{
    "resource" = “https://analysis.windows.net/powerbi/api";
    "client_id" = "myclientid";
    "grant_type" = "

[2019-05-22 13:53] larryms commented on #28817
@SadiqhAhmed-MSFT Thanks for the workaround, but will the docs be updated as well?  (users should not be expected to find the workaround in a closed issue)

[2019-05-22 13:54] ehrnst commented on #31711
I see. I am using internal LB, sorry for posting in the wrong section. What I am trying to achieve is to connect from an app in the AKS cluster to an external service on the internet. The service provider requires a static ip to whitelist. I cannot find any documentation on that.

[2019-05-22 13:55] DCtheGeek commented on #31893
@ChrisLopezUK Thanks for the question! The instructions you mention you are following are for getting the state values from an evaluation, not for triggering an evaluation. The URI you said you are using, however, is correct for triggering an evaluation.  The steps for doing this are here: https://docs.microsoft.com/azure/governance/policy/how-to/get-compliance-data#on-demand-evaluation-scan.  The

[2019-05-22 13:57] zr-msft commented on #31489
Thank you for the feedback @kristianjaeger

The commands are separated but there are a couple that we do condense to a single section. I'll take a look and consider updating in the future, but for now the doc will remain the same.

#please-close

[2019-05-22 13:57] Alberto-Vega-MSFT commented on #31423
Hi @marcelohsilva I am glad to hear that you figured out the issue? @craigktreasure Thanks for the help. We will now proceed to close this issue

[2019-05-22 13:57] #31423 closed

[2019-05-22 14:00] Alberto-Vega-MSFT commented on #31727
Hi @andremaree just touching base to see if you still need help and if you can please provide the link to route your issue to the right people

[2019-05-22 14:04] Alberto-Vega-MSFT commented on #31415
@bhjolly   We will get you some help from support. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get a one time free support ticket opened for this issue.

[2019-05-22 14:08] robfinney opened #31901 "What am I consenting to???"
There seems to be no information relating to what I am actually consenting to when I sign up for this. Can you provide information around what is being consenting to and that I will not be expected to give up any body parts when I have consented!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f720f767-871a-b92b-0efa-e

[2019-05-22 14:11] ChiragMishra-MSFT commented on #31890
@vadakoen Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-05-22 14:12] scott1138 commented on #31853
Both of those links appear to point to the same location.  I have been  using this command:

$token = Get-AzureRMToken

$header = @{
'Authorization'          = "Bearer $token"
'X-Requested-With'       = 'XMLHttpRequest'
'x-ms-client-request-id' = [guid]::NewGuid()
'x-ms-correlation-id'    = [guid]::NewGuid()
}
$url = "https://main.iam.ad.ext.azure.com/api/RegisteredApplications/$azureAppId/Consent

[2019-05-22 14:14] tfitzmac commented on #31883
@vicky08 - is apimCertificates defined in the parameters section of your nested template? You would have to break it into two separate parameters as you can't add the array brackets around it.

[2019-05-22 14:16] ChristianMontoya commented on #28080
@benwhittaker : Within one host pool, a user can only be assigned to a desktop app group **or** 1+ RemoteApp app groups. We've heard feedback to allow for both, but there are safeguards we'd have to add to ensure that profiles don't collide and ensure a clean user experience for users.

[2019-05-22 14:21] rjxby commented on #31278
hi guys, I just had the same issue today, @oracle000 try to upgrade Microsoft.NET.Sdk.Functions to latest version 1.0.28. Maybe it good idea to add version which start support this behavior?

[2019-05-22 14:26] shietpas commented on #24489
This is also an issue for me with the following version:
Python v3.6.8
Node v11.13.0
Npm 6.9.0
Core Tools 2.7.1158

[5/22/2019 2:15:10 PM] Traceback (most recent call last):
[5/22/2019 2:15:10 PM]   File "C:\Program Files (x86)\Nodist\bin\node_modules\azure-functions-core-tools\bin\workers\python\worker.py", line 37, in main
[5/22/2019 2:15:10 PM]     return aio_compat.run(azure.functions_worker.s

[2019-05-22 14:27] jwargo commented on #16461
#please-close

[2019-05-22 14:28] jwargo commented on #19669
#please-close

[2019-05-22 14:28] jwargo commented on #25050
#please-close

[2019-05-22 14:33] sedelrio opened #31905 "Wrong description on fields"
Those 2 fields in the Cherwell configuration are mix, and the description on Data Sync Scope seems to be related to the Sync Data Description, and also there is a field called Work Data Id Sync that it seems to be what it belongs to the Data Sync Scope Description

Data Sync Scope	Select the Cherwell work items that you want to sync through ITSMC. These work items are imported into log analytics.

[2019-05-22 14:39] kristianjaeger commented on #31489
@zr-msft Can we submit pull requests if you don't have time to change??

[2019-05-22 14:40] msdpalam commented on #31838
@mikadumont Thanks for reviewing. I am using
"mongodb": {
      "version": "3.2.5",

Understood the point. I just wanted share that, without encoding, I could change the code a bit to resolve the issue.

If we can also resolve the issue using the **{ useNewUrlParser: true }** as a param to .connect method, I think we need to document this.

Thoughts?

[2019-05-22 14:41] robert4os opened #31906 "Step 2, Under your storage account, navigate to Access Control (IAM)..."
This step cannot be done through the Azure Portal. PowerShell is needed and the documentation here is insufficient.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2eb5097c-fc6e-f0a5-07a6-a84e05aa0bb6
* Version Independent ID: 1004e6b8-344f-6fdc-391a-35c540f4bf9d
* Content: [VNet endpoints and rules for single and poole

[2019-05-22 14:50] rishtech opened #31908 "Users not registered for MFA."
"To view the count for users that are not registered for MFA, click on the vulnerability and you are redirected to statistics within Identity Secure Score."

Identity secure score dashboard never shows the count of the users not registered for MFA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad8e93b0-2d8b-68c0-62ee-

[2019-05-22 14:52] rishtech commented on #31908
Please ignore.

[2019-05-22 14:52] #31908 closed

[2019-05-22 14:53] rishtech opened #31909 "List of Users not registered for MFA, is not shown in secure identity score."
"To view the count for users that are not registered for MFA, click on the vulnerability and you are redirected to statistics within Identity Secure Score."

Identity secure score dashboard never shows the count of the users not registered for MFA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62d9ea59-bbe6-dfa2-987b-

[2019-05-22 14:56] ronortloff commented on #31865
That section is comparing and contrasting behavior of dynamic resource classes between Gen1 and then Gen2.
This sentence refers to Gen1: "Scaling services levels does not provide a proportional change the memory allocated to the same resource classes."
The sentence with "... truly dynamic" refers to Gen2.

I updated the doc to make that more clear.

[2019-05-22 14:57] ronortloff commented on #31865
#please-close

[2019-05-22 14:57] Alberto-Vega-MSFT commented on #31816
Hi @pwhang any updates?

[2019-05-22 15:05] kristianjaeger commented on #31489
I suppose I'm curious why you are asking for feedback on these docs if you just dismiss it?  Higher priority work or what? Thanks.

[2019-05-22 15:07] rajeshmuraleedharan commented on #31886
Same issue
![image](https://user-images.githubusercontent.com/16232384/58185794-5a564100-7c79-11e9-9a3b-49cac7c7a2be.png)

[2019-05-22 15:07] syedjafri commented on #29159
Is there any update on this ?

[2019-05-22 15:09] tfitzmac commented on #31817
If you are using copy to create the actionGroups, then just set dependsOn to the name you used for the copy element.

[2019-05-22 15:10] paululvinius opened #31910 "hosting environment confusion"
AZURE_FUNCTIONS_ENVIRONMENT is missing here. And it's unclear how this variable relates to ASPNETCORE_ENVIRONMENT since documentation is entirely missing on this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18aa54fd-3aa1-37c5-925c-51a0195b1030
* Version Independent ID: 60198016-1ea9-e7ae-b00b-2c665d5ad8ca
* Content:

[2019-05-22 15:12] jpconnock commented on #31489
Hi Kristian,

Two of us reviewed this content based on your feedback.  We certainly did not dismiss it.  However, we've decided to leave this content as it was authored.  While we do have a huge backlog of new work that needs to be done, we do take the time to review and respond to feedback.  That doesn't mean we always agree to act on that feedback, though.

Thanks for taking the time and thanks

[2019-05-22 15:12] shashishailaj commented on #31553
@Neenisharma No, If the hashes are already synced to Azure AD, it would not take that much time. It would be faster .  We hope that clarifies the query for you . We will close this issue now. Should you have any further query feel free to tag me or the author @billmath to your reply and we will be happy to help . Alternatively you can always open a new request and we will help you with the same.

[2019-05-22 15:12] #31553 closed

[2019-05-22 15:16] pwhang commented on #31816
I was reviewing https://github.com/MicrosoftDocs/azure-docs/issues/5900
when I created the issue/question.
Thanks,
Peter Whang
Senior Database Administrator
D: 678-494-3172
E:pwhang@stamps.com
www.stamps.com<http://www.stamps.com/>

[Description: Description: stamps_cmyk2.jpg]

From: Alberto Vega <notifications@github.com>
Sent: Tuesday, May 21, 2019 9:24 AM
To: MicrosoftDocs/azure-docs <azure-doc

[2019-05-22 15:18] ecfan commented on #31375
@Rosewood99, here's the response from the product team for how to access a JSON object's child property with the setProperty() function:

setProperty(variables('entity')['metadata'],'version', 4)

[2019-05-22 15:19] kristianjaeger commented on #31489
@jpconnock Thanks for the response.  I submitted feedback about another tutorial and the Azure CLI for OS X (which turns out to actually be a bug) and that was dismissed as well.  I work for a corporate partner of MSFT and I think that you should at least be open to pull requests if you don't have time yourself.  Cheers.

[2019-05-22 15:19] shashishailaj commented on #31550
Thank you for your contribution . This has been updated . The changes would reflect in the next 24-48 hours max as per next release cycle. We will close this issue now.

[2019-05-22 15:19] #31550 closed

[2019-05-22 15:19] robert4os commented on #31906
Missing power shell commands are:
$spID = (Get-AzSqlServer -ResourceGroupName myRG -Name mySqlSvr).identity.principalid
New-AzRoleAssignment -ObjectId $spID -RoleDefinitionName "Storage Blob Contributor" -Scope "/subscriptions/<mySubscriptionID>/resourceGroups/<myResourceGroup>/providers/Microsoft.Storage/storageAccounts/<myStorageAcct>"

[2019-05-22 15:25] jeffhollan commented on #31278
Yes this was a requirement I didn’t realize when writing the docs. In addition to installing the extension documented you do need to use a later version of function SDK. @craigshoemaker can you track this?

[2019-05-22 15:25] railsaverdan opened #31911 "Tutorial missing step to permit RDP access to VM1"
Must explicitly permit RDP access to VM1 before you can RDP to it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d84d04de-a015-145b-caed-5547833ff6ce
* Version Independent ID: 0f8c7347-35f4-9dea-856c-447b4c3967d1
* Content: [Connect virtual networks with virtual network peering - tutorial - Azure portal](https://docs.

[2019-05-22 15:26] jakaruna-MSFT commented on #29190
@carlfm01 Issue is still there. I will post here once i have some updates

[2019-05-22 15:27] jakaruna-MSFT commented on #31260
@imlight is there any update

[2019-05-22 15:30] sijday commented on #30691
@sngupt

The following will report if Auto Regenerate Key is set to True or false:
 get-AzKeyVaultManagedStorageAccount -VaultName $keyVaultName -name $storageAccountName

[2019-05-22 15:35] shashishailaj commented on #31794
@ArttuArstila Thank you for your interest in the same . As per the reply from @juntakata , the documents are in the process of being updated and will be published online in near future. At this point we will close this issue . However we promise you that this is being worked on and will be updated.

[2019-05-22 15:35] #31794 closed

[2019-05-22 15:38] galmok commented on #31817
Thanks, but you already said that, and I explained why this isn't going to work well for me. I do not want to have ARM template files several hundreds of kilobytes large, so I am splitting them into smaller sections that should be stand-alone (for test-purposes). ActionGroups and alerts are two files, hence I can't reference from alerts to the copy variable in the action groups file. And even aler

[2019-05-22 15:41] taromielnaz opened #31912 "Select Vault location"
You said: "Create the vault in any region, except the source region" the selected region is West US but in "Enable replication for a VM" the source location is the same "West US"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c714cc40-47f5-fb3c-51e0-f504c38ec937
* Version Independent ID: 15da2499-61eb-ec11-53be-7d006cd

[2019-05-22 15:42] MicahMcKittrick-MSFT commented on #31489
@kristianjaeger if you have any ideas for improving the docs you are absolutely submit a PR on the doc and we will review it. If you do feel free to CC me in that PR and I will take a look :)

[2019-05-22 15:42] #31489 closed

[2019-05-22 15:43] taromielnaz commented on #31912
And the same story for the resource group. Both of them are set to "123"

[2019-05-22 15:45] #31548 closed

[2019-05-22 15:46] AshokPeddakotla-MSFT commented on #31885
@ld0614 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 15:46] kristianjaeger commented on #31489
@MicahMcKittrick-MSFT Sounds good. Will do.  Cheers.

[2019-05-22 15:47] AshokPeddakotla-MSFT commented on #31888
@SychevIgor Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 15:47] MisinformedDNA commented on #31548
It would be awesome if the documentation could be updated to specify that the connection string name is hard coded.

[2019-05-22 15:47] oracle000 commented on #31278
@rjxby sure will try it. Thank you

[2019-05-22 15:48] MicahMcKittrick-MSFT commented on #31894
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 15:48] MicahMcKittrick-MSFT commented on #31899
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 15:48] AshokPeddakotla-MSFT commented on #31889
@antogh Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 15:50] AshokPeddakotla-MSFT commented on #31895
@lightupdifire Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 15:50] VikasPullagura-MSFT commented on #31886
@sixeyed I have reproduced the issue and facing same error. I am assigning the issue to content author for providing his comments.

[2019-05-22 15:51] AshokPeddakotla-MSFT commented on #31900
@ajiljins Thanks for the feedback! We are currently investigating and will update you shortly.
Please help with the link of document on which above document feedback request is created.

[2019-05-22 15:52] Mike-Ubezzi-MSFT commented on #31906
@robert4os Thank you for bringing this to our attention. I would like to clarify what I am seeing in the Azure Portal for my storage account to clarify the actual steps.

After navigating to the Roles Tab in the IAM blade:

 ![alt text](https://wtv3.blob.core.windows.net/media/screenshot-(26).png?sv=2018-03-28&sr=b&sig=drHqH9SDRi7RL3lYp%2FRWMuvNrQwnH1asOypvg%2BM7nDE%3D&st=2019-05-22T15%3A45%3A42Z&

[2019-05-22 15:52] VikasPullagura-MSFT commented on #31886
@rajeshmuraleedharan Thanks for reporting the issue, I am reporting this to content author.

[2019-05-22 15:52] AshokPeddakotla-MSFT commented on #31901
@robfinney Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 15:56] VikasPullagura-MSFT commented on #31886
@zr-msft I have reproduced the issue, please find error screenshots for reference. Can you please add your comments on the issue.

![image](https://user-images.githubusercontent.com/48944027/58189413-15152c00-7cd8-11e9-86c1-934797aad38a.png)

[2019-05-22 16:00] AshokPeddakotla-MSFT commented on #31905
@sedelrio Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 16:01] thecpshah commented on #31707
Thank you @RohitMungi-MSFT

[2019-05-22 16:01] #31707 closed

[2019-05-22 16:01] MicahMcKittrick-MSFT commented on #31690
I still don't fully understand the issue. As outlined in the doc, if you want to update any of the following properties of the container group, it requires that you delete and recreate the container

OS type
CPU
Memory
Restart policy
Ports

So essentially, you cannot change the above properties without recreating the container

[2019-05-22 16:03] bigdatamoore commented on #31732
Custom domain SSL support is also available and works with SNI.

[2019-05-22 16:04] MicahMcKittrick-MSFT commented on #31716
@blueelvis got it.

@dkkapur @dlepow any idea on this feature?

[2019-05-22 16:05] AshokPeddakotla-MSFT commented on #31910
@paululvinius Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 16:06] AshokPeddakotla-MSFT commented on #31911
@railsaverdan Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-22 16:06] MicahMcKittrick-MSFT commented on #31851
@Sanitys the commands are designed to be ran within the specific VM and in a Bash environment. Not in PowerShell. So the error you see would be expected in most cases.

[2019-05-22 16:07] igormusinov commented on #31690
There are two different things:
 1. Container
 2. Container group
I want to recreate container, not container group. And I want to understand changing of the command-line recreates only container or container group

[2019-05-22 16:07] AshokPeddakotla-MSFT commented on #31912
@taromielnaz Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 16:08] Anand-Moghe commented on #28928
@MGoedtel Lets say I have VM or App Service setup in region such as "US Gov Arizona", "US Gov Texas" or "US Gov Iowa" and I am using Log Analytics workspace in "US Gov Virginia".

Currently in Azure Government Cloud in USA, only "US Gov Virginia" has Log Analytics.
So now when my environment generates telemetry data from these regions different from Log Analytics workspace, what are the implicatio

[2019-05-22 16:09] igormusinov commented on #31689
?

[2019-05-22 16:11] MikkelHegn commented on #31886
You can track the issue here: https://github.com/Azure/AKS/issues/989

[2019-05-22 16:14] MicahMcKittrick-MSFT commented on #31689
Did you specifically check that 18.04 was not cached?

[2019-05-22 16:15] MartinJaffer-MSFT commented on #31280
@bertrandpons  I have great news!  This issue will be fixed in the next release cycle.  Thank you for helping us improve our products.

[2019-05-22 16:16] ajiljins commented on #31900
@AshokPeddakotla-MSFT Please find the link. Thanks --> https://docs.microsoft.com/bs-latn-ba/azure/active-directory/develop/v2-oauth-ropc

[2019-05-22 16:17] igormusinov commented on #31689
okey, If "alpine:3.6" is cached then only resource provisioning takes 35s?

[2019-05-22 16:19] MicahMcKittrick-MSFT commented on #31689
I am not 100% sure of the exact times for cached images vs not. Regardless, 35s is quite fast in my opinion.

@dlepow @dkkapur any insights?

[2019-05-22 16:20] igormusinov commented on #31689
35s is maybe fast for 1 launch. But if I have a pipeline with N launches, I can't waste 35s for each of them.

[2019-05-22 16:24] igormusinov commented on #31689
I tried to find the way to speed up the launches after container group creating:
 1. updates
 2. cached images
 3. exec with args
But ACI doesn't give me a tool for this. And now I have to use queue workers built-in in my waiting docker containers - only for speeding up these launches.

[2019-05-22 16:24] AshokPeddakotla-MSFT commented on #31909
@rishtech Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 16:25] MicahMcKittrick-MSFT commented on #31894
@porrascarlos802018  I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-22 16:25] MicahMcKittrick-MSFT commented on #31899
@spacecat I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-22 16:27] MicahMcKittrick-MSFT commented on #31689
@igormusinov we can see what @dkkapur and @dlepow have to say as they are more familiar with the inner workings and should be able to better explain/ elaborate

[2019-05-22 16:37] lciocci opened #31913 "IoT Hub Streams, C SDK"
We're currently exploring IoT Hub Streams and would like to deploy a PoC based on the C SDK on one of our devices. We had downloaded the C SDK from here: https://github.com/Azure/azure-iot-sdk-c, but there doesn't appear to be code related to IoT Hub streaming.

Are we perhaps looking in the wrong place?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-05-22 16:37] Sanitys commented on #31851
Can you ping me internally, majurek@microsoft.com. I would like to talk
about making this document easier to read.

On Wed, May 22, 2019 at 9:07 AM Micah <notifications@github.com> wrote:

[2019-05-22 16:39] eross-msft commented on #31860
@tsubasaxZZZ  Thank you for taking the time to provide feedback. While I can understand your confusion, these two sites actually serve two different purposes.

The What's New article in the Azure AD content set (https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/whats-new) is a technical documentation page that's only intended to cover Azure AD-related information, which is a sub

[2019-05-22 16:40] MicahMcKittrick-MSFT commented on #31851
@Sanitys please reach out to the author @KumariSupriya and CC myself and @cynthn :)

[2019-05-22 16:40] #31851 closed

[2019-05-22 16:57] mpchen commented on #31316
@DCtheGeek thanks for the reply. I checked Azure Activity log for Policy events (Category = Policy). However, it seems to me that all policy events tell us is that a policy evaluation is triggered. I could not find any policy event that tells us whether a compliance check passes or fails.

Does Policy emit compliance check results to Activity Log or I have to query the API to get the compliance re

[2019-05-22 16:59] iainfoulds commented on #31313
Not sure what the doc request is here, there isn't any special action needed to obtain an IP address. So long as the AKS cluster service principal is delegated permissions to use the virtual network, there's nothing else required - https://docs.microsoft.com/en-us/azure/aks/configure-kubenet#create-a-service-principal-and-assign-permissions

There is no option to not use a virtual network, the nod

[2019-05-22 17:03] erhopf commented on #22176
@rdytmire - This is long overdue, but we're in the process of rolling out changes to the C# samples. I wanted to share an early sample with you even though this issue is marked as closed. Let us know what you think.

[code]

[2019-05-22 17:04] cap273 opened #31914 "Set and read primary email (not just alternate email)?"
This documentation talks about how to set a user's alternate email, through either Set-AzureADUser -ObjectId user@domain.com -OtherMails @("emails@domain.com") or through Set-MsolUser -UserPrincipalName user@domain.com -AlternateEmailAddresses @("email@domain.com").

How can you set the user's primary email through PowerShell? More details in the following MSDN forums post: https://social.msdn.mic

[2019-05-22 17:12] DCtheGeek commented on #31316
@mpchen Results of a compliance check are emitted only if they trigger an effect (audit, deny, etc.). So if an existing resource is evaluated, the _effect_ on it is put in the log. In an Activity log, you'd see something like these elements:

[code]

[code]

These properties in the Activity log show that it was an **audit** effect triggered by an evaluation on an existing resource (**isComplianceC

[2019-05-22 17:17] robert4os commented on #31906
Yes but then in the subsequent step, how to select the MSI?
![image](https://user-images.githubusercontent.com/1668298/58194580-35d48600-7cc6-11e9-9bd2-0d04718af2aa.png)

[2019-05-22 17:19] simonmcho commented on #19426
Forgive me if I'm late to the party, but what is the process to sync the user's email address to the Azure AD? And to confirm, this is the customer/guest organization's Azure AD that the user's email address is not sunc up with?

[2019-05-22 17:27] cynthn commented on #31856
@AlexanderTodorovic Thanks for the feedback! Yeah, the original author shouldn't have included the prompt in the code blocks. I'll do a quick pass to get rid of what I can ASAP. Thanks again!!

#please-close

[2019-05-22 17:28] MicrosoftGuyJFlo commented on #29577
This is because that setting is only in force for users inside your directory. The guest user's directory would have to have the same setting enforced.

[2019-05-22 17:28] MicrosoftGuyJFlo commented on #29577
#please-close

[2019-05-22 17:30] MicrosoftGuyJFlo commented on #29050
@libbro2006 Can you take a look at this?

[2019-05-22 17:30] amchew opened #31915 "Update Microsoft Application Registration Portal instructions"
Hi! For this section (https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-setup-msa-app#create-a-microsoft-account-application), the Microsoft Application Registration Portal (https://apps.dev.microsoft.com/?referrer=https%3a%2f%2fazure.microsoft.com%2fdocumentation%2farticles#/appList) has a new interface in the Azure portal, but the instructions do not reflect that.

[2019-05-22 17:32] #29577 closed

[2019-05-22 17:36] rdytmire commented on #22176
Hi,

Thanks for getting back to me.  Yeah, we needed something like that.  I’ve had that feature in backlog for a while so it will be nice to get closure on this from my end.

I think any time any C# code that is getting back raw JSON Microsoft code should expose actual classes, this isn’t the JavaScript world after all.   I would strongly recommend the API have all these POCO classes defined so t

[2019-05-22 17:39] KranthiPakala-MSFT commented on #31825
@balintbako Thank you for reaching out!  Self-hosted IR can be shared with data factories (v2) within same tenant. It cannot be shared across different tenants due to Service Identity limitation that we use for auth. SSIS IR cannot be shared across data factories and its scope is only within the same factory.

We will now proceed to close this thread. If there are further questions regarding this

[2019-05-22 17:39] #31825 closed

[2019-05-22 17:40] YutongTie-MSFT commented on #31835
@rhurey Thank you for the quick action.

@levi106 Anytime! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-22 17:40] #31835 closed

[2019-05-22 17:41] MicahMcKittrick-MSFT commented on #31896
Thanks for the update and closing out the issue.

[2019-05-22 17:41] MicrosoftGuyJFlo commented on #29387
There is a doc coming soon explaining refresh tokens in depth. This setting is not recommended to be enabled unless there is a specific reason in your organization as Azure AD handles this more gracefully by default.

Doc will be available at the following link when posted: https://docs.microsoft.com/en-us/azure/active-directory/devices/concept-primary-refresh-token

[2019-05-22 17:41] markwaksman commented on #8800
@BryanTrach-MSFT, are you sure that sending traffic directly to Azure Firewall virtual appliance is not supported? It seems to be documented here. https://docs.microsoft.com/en-us/azure/app-service/environment/firewall-integration, however, when I route to my Azure Firewall appliance it breaks my web app. UDR of 0.0.0.0/0 with a next hop of Internet instead of Azure Firewall private IP works fine.

[2019-05-22 17:43] MicrosoftGuyJFlo commented on #29387
#please-close

[2019-05-22 17:43] MicahMcKittrick-MSFT commented on #31862
Thanks for reaching out. If are having issues please feel free to open a new issue directly on the doc you are having problems with and we can take a look.

[2019-05-22 17:45] MicrosoftGuyJFlo commented on #29401
It is bolded as people need to make sure they have set permissions on the right scope for their organization.

[2019-05-22 17:45] MicrosoftGuyJFlo commented on #29401
#please-close

[2019-05-22 17:46] c13GitHub opened #31916 "When is WAF for Front Door expected to be GA and for production use?"
The block marked "IMPORTANT" in the current article states it is not for production workloads but our use case is production.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78a96c28-d5fe-4955-3038-2f890174644c
* Version Independent ID: 25946736-314a-7c2a-af8c-3a5be0261757
* Content: [What is Azure web application firew

[2019-05-22 17:47] MicrosoftGuyJFlo commented on #29402
Submitted PR to fix this. In the future you can click the edit button at the top of a doc to propose an edit.

[2019-05-22 17:47] MicrosoftGuyJFlo commented on #29402
#please-close

[2019-05-22 17:47] c13GitHub commented on #14358
@TravisClagg-MSFT if I understand Azure Front Door and Azure WAF for Front Door there is yet another iteration of WAF now in preview related to this. If that is a correct understanding will the team provide the roadmap. I created #31916 for the documentation on Azure WAF for front Door.

[2019-05-22 17:47] tristanbarcelon opened #31917 "CosmosDB Emulator command line installation parameters"
Would it be possible to include documentation on the command line parameters for installing the CosmosDB Emulator msi silently? I'm installing this as part of a privately hosted Azure Devops build agent, along with other tools and it would be helpful for me to automate. So far, I used powershell module called msi from PSGallery to install the MSI and it works. I'm also wondering if this can be run

[2019-05-22 17:48] LockTar opened #31918 "Add link to the roles documentation"
Good article but two remarks.
1. Tell why the option "User assignment required" needs to be checked because you can also assign people without it. But this limits the not assigned people to login.
2. If admins or developers come here the want some kind of RBAC in their application. A logical step is to add roles when they assign people to an application. Add a link to the roles documentation so pe

[2019-05-22 17:49] markwaksman opened #31920 "ASE and Azure Firewall"
When I configure my External ASE subnet's route table with a UDR of 0.0.0.0/0 with next hop of Azure Firewall private IP address, my web app breaks. When I switch next hop to Internet, my web app loads.

Is it possible that step 5 is incorrect? Or, am I attempting to use an unsupported configuration? Is step 5 only possible with internal ASE?

---
#### Document Details

⚠ *Do not edit this section

[2019-05-22 17:50] MicrosoftGuyJFlo commented on #29406
We didn't include that information in these docs on purpose. Normally users wont understand this level of detail. The information on troubleshooting with dsregcmd can be found in the devices content. https://docs.microsoft.com/azure/active-directory/devices/troubleshoot-hybrid-join-windows-current

[2019-05-22 17:50] MicrosoftGuyJFlo commented on #29406
#please-close

[2019-05-22 17:50] erhopf commented on #22176
@rdytmire - Thanks for the feedback. I'm going to pass everything along to our ENG teams. With regards to .NET Core 7.1 -- that's a typo on my end and should be C# v 7.1 or later.

[2019-05-22 17:53] MicrosoftGuyJFlo commented on #29832
Backlog item created to update this doc

[2019-05-22 17:53] MicrosoftGuyJFlo commented on #29832
#please-close

[2019-05-22 17:54] TravisCragg-MSFT commented on #30578
@petr-stupka Unfortunately I am unable to give an ETA on this change, and it is not currently on short term plans.

If you would like us to prioritize this feature, [please leave your feedback Here](https://feedback.azure.com/forums/217313-networking).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly contin

[2019-05-22 17:54] #30578 closed

[2019-05-22 17:57] MicrosoftGuyJFlo commented on #29947
Backlog item created to update doc

[2019-05-22 17:57] MicrosoftGuyJFlo commented on #29947
#please-close

[2019-05-22 17:58] TravisCragg-MSFT commented on #14358
@c13GitHub I will help you going forward on the new issue you created.

[2019-05-22 17:58] tamram commented on #31874
@roygara - FYI

[2019-05-22 18:05] mike-urnun-msft commented on #31521
Hi @juanren Have you seen this doc yet: [Build and deploy Java to Azure Functions](https://docs.microsoft.com/en-us/azure/devops/pipelines/languages/java-function?view=azure-devops)

[2019-05-22 18:05] KranthiPakala-MSFT commented on #31825
@balintbako Would you please provide us the reason to share IR across tenants? Is there any specific scenario/requirement? We will be glad to pass your input to the internal team to take a deep dive.

[2019-05-22 18:11] libbro2006 commented on #29050
Asking SME engineer to confirm/clarify.

[2019-05-22 18:13] petr-stupka commented on #30578
Feedback link:
https://feedback.azure.com/forums/217313-networking/suggestions/37713784-arm-template-support-for-nsg-flow-logs

[2019-05-22 18:17] zr-msft commented on #31886
since this issue is being tracked by the above, #please-close

[2019-05-22 18:18] Mike-Ubezzi-MSFT commented on #31906
@robert4os It is one or the other:

Configuring a Role:

![Screenshot (29)](https://user-images.githubusercontent.com/37126106/58198185-aa85d100-7c82-11e9-8d9c-0d8762c52495.png)

Or configuring an AD Principle or Managed Service:

![Screenshot (28)](https://user-images.githubusercontent.com/37126106/58198439-149e7600-7c83-11e9-946a-56cf28edbb98.png)

The Managed Service and Service Principles need

[2019-05-22 18:19] YASWANTHM-MSFT commented on #29406
@ChrisatCC, We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-22 18:19] #29406 closed

[2019-05-22 18:22] YASWANTHM-MSFT commented on #29402
@AlexJamesHaines , We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-22 18:22] #29402 closed

[2019-05-22 18:23] YASWANTHM-MSFT commented on #29401
@chiners68, We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-22 18:23] #29401 closed

[2019-05-22 18:28] TravisCragg-MSFT commented on #31916
@c13GitHub Unfortunately I am not able to give a timeline about when this will go GA. This feature released in early April 2019, so it will likely be a while until it hits GA.

Public Preview features are not recommended for production use, but you can use it at your own risk. During Public Preview, significant changes can be made to the product, and issues can occur which might cause downtime, an

[2019-05-22 18:33] MicrosoftGuyJFlo commented on #30411
Created backlog item to update doc

[2019-05-22 18:33] MicrosoftGuyJFlo commented on #30411
#please-close

[2019-05-22 18:33] SaurabhSharma-MSFT commented on #31918
@LockTar Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-22 18:34] mganeshphani commented on #31834
@AshokPeddakotla-MSFT  Thank you. please let me know what did you find

[2019-05-22 18:34] robert4os commented on #31906
I see, one has to search the MSI for SQL Server in all AD. Should it not be highlighted under 'System assigned' ?

What is the naming logic here, is the AD name always the same as the SQL Server resource name?

Probably it would help to clarify these steps in the docs.

Thank you and best regards, Robert

[2019-05-22 18:34] SaurabhSharma-MSFT commented on #31915
@amchew Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-05-22 18:36] SaurabhSharma-MSFT commented on #31914
@cap273 Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-22 18:38] msazurelearn opened #31921 "Copy-Keys.PS1 script is not copying the Data Disk keys"
Copy-Keys.PS1 script is not copying the Data Disk Encryption keys.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2b1249-5247-938e-cc2a-bb5ba92a910d
* Version Independent ID: fc999d69-7ce6-dacc-5add-7c591680bf7c
* Content: [Configure replication for Azure Disk Encryption-enabled VMs in Azure Site Recovery](https://do

[2019-05-22 18:38] SaurabhSharma-MSFT commented on #29978
@jeevansd Thanks. @ian-s-mac We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-22 18:38] #29978 closed

[2019-05-22 18:38] abhijeet15Github commented on #22092
full of flaws

[2019-05-22 18:40] SumanthMarigowda-MSFT commented on #31369
@kartee87 I'd recommend posting your question in [Community support](https://azure.microsoft.com/en-in/support/community/) since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-22 18:40] #31369 closed

[2019-05-22 18:44] MicrosoftGuyJFlo commented on #31909
Removing line from doc.

[2019-05-22 18:44] SumanthMarigowda-MSFT commented on #31857
@johanburati RHEL 8 is not yet supported by ADE. You can see the details of the supported Linux distributions in the following link:
https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-faq#bkmk_LinuxOSSupport

[2019-05-22 18:45] iainfoulds commented on #31729
As part of the preview functionality, an NGINX service is deployed by the AKS platform to handle the correct routing of the cluster traffic. It's not a user-configurable option, which is why there's no mention of deploying NGINX from a Helm chart and configuring it. You may, however, see an NGINX pod running in the cluster.

As the preview functionality changes, this NGINX service may no longer be

[2019-05-22 18:46] MicrosoftGuyJFlo commented on #30610
Created backlog item to update this doc

[2019-05-22 18:46] MicrosoftGuyJFlo commented on #30610
#please-close

[2019-05-22 18:47] KranthiPakala-MSFT commented on #22102
@helloyesthisisdave Thank you for you feedback! We are following up with content author to review your feedback & update the document as appropriate.

[2019-05-22 18:47] KranthiPakala-MSFT commented on #22102
@yanancai Could you please take a look into this?

[2019-05-22 18:55] MicahMcKittrick-MSFT commented on #31729
Thanks @iainfoulds that helps a lot :)

@squasta just let us know if you have further questions.

[2019-05-22 18:55] #31729 closed

[2019-05-22 18:55] MicrosoftGuyJFlo commented on #30836
@annabarh can you help provide some additional clarity for @cblomart and @cronq ?

[2019-05-22 18:58] KingdomOfEnds commented on #24002
@Alberto-Vega-MSFT - Pinged you about closing these. I believe this item was addressed and merged. Thanks!

[2019-05-22 18:58] MarkAtAgilliance commented on #30508
Hi, afraid I need to reopen.  This happened a couple of times and no Azure issues today.  We have 30 triggers that need to be disabled and re-enabled during deployment.  We are using this script (latest Az version).  Output log is below (with trigger names disguised).  Running multiple times and happens in a different spot each time.

I will try with a wait in the loop and report back but fyi for

[2019-05-22 19:00] leestott commented on #13141
This blog has powershell cmd for this https://blog.azureandbeyond.com/2018/07/31/aad-login-linux/

[2019-05-22 19:01] kurkowski opened #31922 "Are there any URL-length and query-string-length limits to Azure Front Door?"
I've found length limits in documentation for other services like Functions, but I have found no such documentation for Front Door. Is there a limit?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7be424c-f540-a753-6ecc-6ff3913368d5
* Version Independent ID: dc80b25f-374d-8775-16e7-ae7d57b4b94f
* Content: [Azure Front

[2019-05-22 19:01] tilarso commented on #31909
@rishtech If you look at the control labeled "Register all users for multi-factor authentication" there is a count of users who don't have MFA registered in the description field.

[2019-05-22 19:22] kavitajoshi opened #31924 "Using default scope for Yammer API does not work"
We have been using ADAL.js since 2017 https://github.com/AzureAD/azure-activedirectory-library-for-js , with azure AD registered app and Delegated Permissions to Yammer API. It was working fine until now. Few weeks ago, the app secret was expired and we had to create new one. After that our application is not working.

In the new manifest file I noticed scopes, assuming it is saved in and now usin

[2019-05-22 19:24] ronortloff commented on #31265
@angoyal-msft please assign this to @XiaoyuL-Preview

[2019-05-22 19:25] Mike-Ubezzi-MSFT commented on #31917
@tristanbarcelon Thank you for your interest in Azure. The Microsoft Windows Installer documentation all resides [here](https://docs.microsoft.com/en-us/windows/desktop/msi/downloading-an-installation-from-the-internet), and there are script examples and additional scenarios discussed.
You will need to call the MSI installation as a preliminary step before running the pipeline or as the very first

[2019-05-22 19:29] asc-adean opened #31925 "node-vm-size validation using az aks nodepool add"
Hello,

For giggles and because I like to break things, I attempted to create a nodepool with an invalid VM size designation (Standard_D6s_v3)

The pool is created but in a failed state, and is unable to be deleted.

Easy resolution would be to do validation on the --node-vm-size before the nodepool is created

How to repeat:
1. Perform the steps to register the az aks nodepool command as listed h

[2019-05-22 19:31] #29832 closed

[2019-05-22 19:31] juanren commented on #31521
thanks, it's really helpful!

On Wed, May 22, 2019 at 11:05 AM Mike Urnun <notifications@github.com>
wrote:

[2019-05-22 19:31] raiye commented on #31840
Both Standard_M208 VMs have 10,000 IOPS limit for Write accelerator.

From: Rashmi Iyer <raiye@microsoft.com>
Sent: Tuesday, May 21, 2019 1:52 PM
To: MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>; Suhas Deshmukh <suhasd@microsoft.com>
Cc: Mention <mention@noreply.github.com>
Subject: RE: [MicrosoftDocs/azure-docs] Can you add limits for

[2019-05-22 19:32] mike-urnun-msft commented on #31524
Hi @Tioga060 Thanks for reporting this and helping us drive improvement towards MS Docs! I've gone ahead and created a PR that captures this detail and the changes should reflect with our next merge.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-22 19:32] #31524 closed

[2019-05-22 19:33] MicahMcKittrick-MSFT commented on #31925
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 19:36] Annnnnieee opened #31926 "instructions do not align with portal"
in the step "Configure the server project", clicking the App Services button, selecting your Mobile Apps back end and then selecting Quickstart leads to a different page than the one displayed here. it shows a page titled, "What development stack would you like to use?" with links to other quickstarts instead of the options displayed in this quickstart.

---
#### Document Details

⚠ *Do not edit t

[2019-05-22 19:43] georgewallace commented on #31885
@ld0614 Thanks for reaching out.. We actually discuss this in the Change Tracking overview article under [Change Tracking data collection details](https://docs.microsoft.com/en-us/azure/automation/change-tracking#change-tracking-data-collection-details)

[2019-05-22 19:47] ysnikitin commented on #29187
Is there ANY way I can upload data to Gen2 Datalake? This page shows there is NO file management SDK: https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-upgrade and this page shows https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-known-issues Blob APIs are disabled for Gen2 DataLake? None of this makes any sense. How do I use this solution?

[2019-05-22 19:50] conceptdev commented on #31926
Thanks for your feedback @Annnnnieee - yes, a recent update to the portal changed this and removed the Mobile App options.

We are current preparing updates to the documentation to reflect this - it is in review now and should be published soon.

#please-close

[2019-05-22 19:52] Aarthisk commented on #31185
Ajay asked me to comment as I am the dev owner for Local cache
@dnyaneshlb
1. The reverse sync happens at a frequency of 1 minute. If there are missing log files, please give the time frame and site name so we can check the logs.
2. Yes, the env var should be set when the site switches to local cache.

[2019-05-22 19:53] Annnnnieee commented on #31926
is there any way I can view the review? Or for the time being, would you be able to point me in the right direction?

[2019-05-22 19:53] ecfan commented on #31375
@Rosewood99, regarding your question about the "Set variable" action, can you provide a screenshot to show what you want to do?

+ @kevinlam1 to help with the response

[2019-05-22 19:54] mike-urnun-msft commented on #31505
Hi @juanren Apologies for late response. If you'd like to prevent group of engineers from overwriting each others work when they deploy to same Azure Function App, it might be best to setup & establish CI/CD flow:
- [Continuous deployment for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-continuous-deployment)
- [Build and deploy Java to Azure Functions](https:/

[2019-05-22 19:54] mlearned commented on #31206
looking at latest here and I'll be back with updates.

[2019-05-22 19:57] mike-urnun-msft commented on #31521
@juanren Glad that it was :) We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-22 19:57] #31521 closed

[2019-05-22 19:59] kcsportal opened #31927 "Frequently forced to re-login to Google Chrome sync"
Chrome sync keeps getting paused for my G Suite users. It seems that if I stay in Google Drive or in a Google app I'm fine, but as soon as I switch tabs in Chrome, I get logged out. This issue occurs on both school computers and on home computers. If I login with a G Suite account, but don't login to Chrome and don't sync the Chrome profile, then I am able to stay logged in. We are using Azure AD

[2019-05-22 20:00] paratz commented on #26328
Hello @roygara, are you aware of any possibility to monitor the numer of transactions in Premium SSD disks in order to forecast the cost of moving to Standard SSD?

Thanks,

[2019-05-22 20:01] Schalkn commented on #31473
@RohitMungi-MSFT
But is there a different type of subscription to use if I regularly would reach 1000 profiles? Why does it stop at 1000 profiles?

[2019-05-22 20:05] joelhulen commented on #31715
@jberezanski-mdg I ran into this issue yesterday. It appears as though now you use the new `InferenceConfig` in place of the image commands before you deploy. For instance, I am using the following in Python:

[code]

See the documentation here: https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-deploy-and-where#2-define-your-inferenceconfig

[2019-05-22 20:08] ch81 opened #31928 "What should be the "Desired domain name""
I'm trying to fill the "Request your trial subscription" form (https://azure.microsoft.com/en-us/global-infrastructure/government/request/) and I'm not sure what to put for "Desired domain name" field.
Whatever I put gives me a validation error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d0ab80e-bbb7-8eb9-f0b3-814

[2019-05-22 20:13] rezasherafat commented on #31913
@lciocci, device streams is available C SDK's public preview branch:
```git clone https://github.com/Azure/azure-iot-sdk-c.git --recursive -b public-preview```

[2019-05-22 20:18] grahamehorner opened #31929 "docker provide repository user credentials"
---
in the above document section deploying using the
func kubernetes deploy --name <name-of-function-deployment> --registry <container-registry-username> may result in the **unauthorized: incorrect username or password** the documentation should provide information on how to supply a password as well as the **<container-registry-username>** as it is unclear how this can be done via **func kuberne

[2019-05-22 20:20] royshea opened #31930 "Define `ws` before using it"
The code sample in "Use the workspace" (https://docs.microsoft.com/en-us/azure/machine-learning/service/quickstart-run-local-notebook#use-the-workspace) uses `ws` without defining it.  Recommend extending the example to explicitly load the work space using code of the form:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-05-22 20:20] iruvetar opened #31931 "Probably outdated command parameter in the Open the application section?"
Hi,
As for the "Open the applciation section"
When I typed in "az mesh gateway show --resource-group myResourceGroup --gateway-name counterGateway" I received error message: -n/--name are required.
So I replaced --gateway-name by --name and seems to work. So I am wondering whether this command has to be updated in this example doc.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. I

[2019-05-22 20:24] YutongTie-MSFT commented on #31930
@royshea Thank you for your feedback, we will investigate it and get back to you soon.

[2019-05-22 20:26] JoeBerg8 commented on #30890
this is an incredibly useful thread. thank you guys

[2019-05-22 20:29] KumudD commented on #31062
@stdistef Thanks for bringing this to our attention. I have removed global VNet peering from the "Limitations" section of the article.

#please-close

[2019-05-22 20:30] TravisCragg-MSFT commented on #31062
@stdistef We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-22 20:30] #31062 closed

[2019-05-22 20:42] FrankHu-MSFT commented on #31914
Hey @cap273 as this is already posted at https://social.msdn.microsoft.com/Forums/en-US/52c9b994-a41f-4072-8974-cbccd699dbd3/set-and-read-primary-email-through-powershell-getazureaduser?forum=WindowsAzureAD#52c9b994-a41f-4072-8974-cbccd699dbd3

We will continue the discussion on the MSDN Microsoft Forums and update as appropriate. I will now be closing this issue.

[2019-05-22 20:42] #31914 closed

[2019-05-22 20:43] CKeene78 commented on #31841
The automated script is v1.5, but the NuGet package contains v1.6. Worked properly once I extracted the script from the NuGet package and ran it (v1.6 version).   Note that I also tried the "Azure Automation" option, which according to docs state "deploy this package directly to Azure Automation", but that also failed with no-so-helpful error messages. Perhaps the Azure Automation and Automatic Sc

[2019-05-22 20:44] #31786 closed

[2019-05-22 20:46] mamccrea commented on #31105
@emeria I've updated the article. Please let me know if there's any way we can assist you further.

#please-close

[2019-05-22 20:55] dlepow commented on #31717
I think you'd need to trigger the update by updating some different container group property, perhaps set an environment variable?

[2019-05-22 20:58] agilmore30 commented on #31865
Hi

I think there may just be a typo

Scaling services levels does not provide a proportional change **to** the memory allocated to the same resource classes

[2019-05-22 21:02] rezasherafat commented on #31196
Before I address your questions, I'd like to call out that this doc covers receiving events from Event Hubs (which is the default/built-in endpoint). If you are retrieving events from another endpoint, e.g., servicebus, that is not covered here.

1. Devices _send_ on this link: `/devices/:deviceId/messages/events`. The code sample published here so far are all concerning service-side. Also, I don'

[2019-05-22 21:07] YutongTie-MSFT commented on #31750
@mekinney  Hi Mike, you should find the details including the id in the JSON response. https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/multiturn-conversation#json-response-to-return-initial-answer-and-follow-up-prompts

[2019-05-22 21:08] MicahMcKittrick-MSFT commented on #31931
@iruvetar did you use the Cloud Shell or local instance of CLI? What version are you running? you can check by running `az --version`

[2019-05-22 21:09] ronortloff commented on #31865
Fixed.  Thanks!
https://github.com/MicrosoftDocs/azure-docs-pr/pull/77618

[2019-05-22 21:10] dlepow commented on #31894
@porrascarlos802018 - You are correct that the details of this scenario with base image update in Docker Hub aren't currently documented. There is some info in this [blog post](https://blogs.msdn.microsoft.com/stevelasker/2018/06/11/acr-build-supports-docker-hub/) but probably this doesn't answer all your questions, especially regarding credentials for a private Docker Hub registry. I created a do

[2019-05-22 21:10] iruvetar commented on #31931
I am using local instance of CLI. My azure-cli version is 2.0.65

[2019-05-22 21:11] #31909 closed

[2019-05-22 21:15] YutongTie-MSFT commented on #31795
@ferin08 Hi, one way to improve the KB is using active learning, please refer to the document: https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/improve-knowledge-base

[2019-05-22 21:16] #31732 closed

[2019-05-22 21:21] MicahMcKittrick-MSFT commented on #31931
What about your version of mesh?

You can check again using az --version and it should be at the bottom

[code]

The latest version of mesh is 0.10.4

I am also running through this doc now and checking

[2019-05-22 21:22] ggailey777 commented on #31732
Thanks @bigdatamoore! It would make sense that SNI SSL is supported but IP SSL isn't. I'm still trying to track down the definitive answer.

[2019-05-22 21:24] CortalUX commented on #31473
I was thinking the same when I raised the issue.
It would be handy to know what the actual upper limit is, particularly for
RFPs etc.

On Wed, 22 May 2019, 21:01 Schalkn, <notifications@github.com> wrote:

[2019-05-22 21:25] iruvetar commented on #31931
I do have the latest version of mesh installed!

[2019-05-22 21:25] MicahMcKittrick-MSFT commented on #31931
Awesome. Thanks for confirming :) I will update shortly once I complete the walk through.

[2019-05-22 21:28] aljo-microsoft commented on #25098
Hello @wasabii
If I understand correctly your scenario is:

I can provision Service Fabric Services with dynamic ports?

"Removing the port allows Service Fabric to specify a port dynamically from the application port range, opened through the Network Security Group in the cluster Resource Manager template, allowing traffic to flow to it from API Management."

Ref:
https://docs.microsoft.com/azure

[2019-05-22 21:34] vrundabhattbhatt opened #31934 "No Details on Python API for Copy data by lastmodifieddate"
There is no information provided to do same job pragmatically. no reference for python api to create copy pipeline for incremental load(by last modified date)
is it not supported or it is not documented?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 325685b0-f284-1b9d-c90e-98d20e885c91
* Version Independent ID: a7c45a

[2019-05-22 21:36] diberry commented on #31750
@mekinney it depends if you are using Bot Framework or not. If you are using bot framework, it will not currently request exact question with the QnA middleware. If you are making your own request/response client, as long as you pass in the [Qna ID and the context](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/multiturn-conversation#json-request-to-return-non-initial-an

[2019-05-22 21:38] raiye commented on #31840
Is this with 8 disks or 16?

-Rashmi Iyer

From: Suhas Deshmukh <suhasd@microsoft.com>
Sent: Wednesday, May 22, 2019 12:32 PM
To: Rashmi Iyer <raiye@microsoft.com>; MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: RE: [MicrosoftDocs/azure-docs] Can you add limits for the new Mv2 VMs? (#3184

[2019-05-22 21:40] Rosewood99 commented on #31375
@ecfan `setProperty(variables('entity')['metadata'],'version', 4)` will not work, the return value will only be the metadata portion of the object, not the whole entity object.

That is part of the work around where I stored a new variable called metadata the value for `setProperty(variables('entity')['metadata'],'version', 4)`, then in the original entity I had to do `setProperty(variables('entit

[2019-05-22 21:42] MicahMcKittrick-MSFT commented on #31931
@iruvetar confirmed. I have corrected the doc. Once the PR merges the changes will go live after a few hours.

Thanks again for the find!

[2019-05-22 21:42] #31931 closed

[2019-05-22 21:43] liutang opened #31935 "Need to convert password to securestring"
$Password = (ConvertTo-SecureString -String "Pass1w0rd" -AsPlainText -Force)

https://github.com/MicrosoftDocs/azure-docs/issues/26043

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65bd450c-0266-dcc7-f267-38c94c49490c
* Version Independent ID: ec4aea4f-8c89-2bcf-dde4-9eb4a6e24c8c
* Content: [Tutorial:  Integrate a sin

[2019-05-22 21:44] MicahMcKittrick-MSFT commented on #31925
@asc-adean thanks for this. I will assign it to the author to review and see if we want to include those steps to avoid people encountering issues.

[2019-05-22 21:47] KranthiPakala-MSFT commented on #31105
@emeria We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-22 21:47] #31105 closed

[2019-05-22 21:53] csweet89 opened #31936 "Include more in-depth examples of querying WAF Logs"
In all of the Azure documentation I can find, I see zero examples of WAF log queries for Log Analytics.

I currently work as Azure CSS Networking, and I have no resources to share with customers on how to perform even basic queries in Log Analytics.
All the articles merely link to general Log Analytics docs, nothing even remotely specific to WAF logs are present.
This section of the page : https:/

[2019-05-22 21:54] renrous commented on #25638
hello @RohitMungi-MSFT any update for the issue?
@paulio they got some advance with the support call

Thank you

[2019-05-22 21:55] Dave76 commented on #31278
Hi,

I have attached a zip of my solution which shows DI working (injecting a
service from another project).

As others have chimed in, I think your missing piece was you need to be on
the latest function sdk: 1.0.28.

Dave

On Wed, May 22, 2019 at 11:48 AM John Christopher Eniego <
notifications@github.com> wrote:

[2019-05-22 21:56] raiye commented on #31840
Should be 8. @Meagan McCrory<mailto:memccror@microsoft.com> to confirm.

From: Rashmi Iyer <raiye@microsoft.com>
Sent: Wednesday, May 22, 2019 2:39 PM
To: Suhas Deshmukh <suhasd@microsoft.com>; MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: RE: [MicrosoftDocs/azure-docs] Can you add limit

[2019-05-22 21:59] barkills opened #31937 "Global Admin required = not strictly true"
Where this page says a Global Admin is required, it isn't necessarily telling the entire story. There are less privileged ways to do this. For example, the Privileged Role Administrator https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles#privileged-role-administrator can assign the Directory Reader role. This page also doesn't mention that the Di

[2019-05-22 22:00] MarileeTurscak-MSFT commented on #31774
I'm assigning this to @eross-msft to look into.

[2019-05-22 22:00] apulliam opened #31938 "Need Azure cli version of samples on this page"
It is incorrect that users working with  Windows VM images will only be using Powershell.  The Azure cli docs likewise assume the user is only working with Linux images.  The docs should provide PowerShell and Azure cli versions for every sample.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7097406-c1fa-4426-82fc-53

[2019-05-22 22:00] mshoe opened #31939 "Documentation Outdated"
Hi, I tried following this documentation but it appears that it is mostly following the "App registrations (Legacy)" setting. When I was going to use that, there was a warning telling me that "App registrations (Legacy)" will no longer be available starting May 2019. Is there updated documentation for the new Azure AD 2.0?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-05-22 22:03] KranthiPakala-MSFT commented on #31934
@vrundabhattbhatt Thank you for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will get back to you soon.

[2019-05-22 22:11] Alberto-Vega-MSFT commented on #24002
@LisandroSu Has your feedback been addressed?

[2019-05-22 22:13] ricetristan commented on #15279
@jdcreek Sorry for the ridiculously long delay here - I was able to setup end-to-end encryption using the following powershell commands:

**$gw = Get-AzApplicationGateway -Name "YourAppGateway" -ResourceGroupName "YourResourceGroup"

Set-AzApplicationGatewayBackendHttpSetting -ApplicationGateway $gw -Name "YourAppGatewayBackendHttpSettings" -Port 443 -Protocol "Https"

Set-AzApplicationGateway -Ap

[2019-05-22 22:15] mpchen commented on #31316
Thanks @DCtheGeek. So the fact this event is emitted means that the resource being evaluated is non-compliant (trigger an audit effect)?

[2019-05-22 22:17] DCtheGeek commented on #31316
Yes. If a resource is compliant to the policy being evaluated, the effect is not triggered or logged.

[2019-05-22 22:18] TravisCragg-MSFT commented on #31936
@csweet89 Thanks for the feedback Chris! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-22 22:20] Alberto-Vega-MSFT commented on #31913
@rezasherafat Thanks for the help. Should the readme on that repo be updated with this info?

[2019-05-22 22:20] jaffadog commented on #29577
Hi @MicrosoftGuyJFlo. Whether users are subject to MFA or not is determined by CA policies in my tenant. These policies may apply to all users regardless whether they are members or guests. When guest users are subject to an MFA policy in my tenant they have to complete MFA registration in my tenant - and compete an MFA challenge proffered by my tenant. This whole experience is focused on _my_ ten

[2019-05-22 22:25] iainfoulds commented on #31925
Sorry you ran into issues, @asc-adean

This looks more like incorrect Azure CLI behavior or how the underlying Azure resource provider handles the behavior on delete even through the portal.

As noted in the doc, please file an issue against the AKS project itself to help the engineering track down the issue - https://github.com/azure/aks/issues

![image](https://user-images.githubusercontent.com/

[2019-05-22 22:32] KeiroKamioka0000 opened #31941 "Uplimit for Snapshot"
I believe their is up to 4095 GB (4TB) limit for backup the Disks.
Does Snapshot have the uplimit for disk size to snapshot?

Does it follow the limitation of backup?

Also, please consider add to FAQ if there is or no uplimit of size for snapshot in the document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 263abdef

[2019-05-22 22:35] #31925 closed

[2019-05-22 22:38] csweet89 commented on #31936
Cool, thanks!
If I can be so bold as to suggest a query?

`AzureDiagnostics `
`| where action_s == "Detected"`
`| summarize count() by ruleId_s, Message, details_message_s`

This might not be 100% accurate, as I'm doing it from memory, but the purpose was just to count all the rule violations and provide a brief description for users. Just so they can see what is being detected.

[2019-05-22 22:38] v-miclar commented on #31403
#sign-off
Made these code changes (and other content updates) with PR 77617.  Changes should go live tomorrow.

[2019-05-22 22:41] TravisCragg-MSFT commented on #31936
@csweet89 Suggestions are always appreciated, @vhorne will be the one to take this forward. If this is taken this offline, please cc me on the Email.

[2019-05-22 22:41] YutongTie-MSFT commented on #31930
@sdgilley Hi Sheri, could you please take a look of this issue and update the document as necessary? I could not change it since the sample code is referring to other repo. Thank you.

[2019-05-22 22:46] MicahMcKittrick-MSFT commented on #31941
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 22:48] MicahMcKittrick-MSFT commented on #31939
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 22:48] MicahMcKittrick-MSFT commented on #31938
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-22 23:02] ggailey777 commented on #31867
@Bartolomeus-649 The steps in this article are only supported for Azure Functions v1.x, but the [preceding Open API article](https://docs.microsoft.com/azure/azure-functions/functions-openapi-definition) has been updated to support Functions v2.x, which uses API Management.

This means that the current article is essentially broken right now, and we are investigating how best to fix it. We are ver

[2019-05-22 23:02] davekats opened #31942 "Hide instrumentation key"
Is there any way to configure client side analytics without exposing your instrumentation key to the public?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d56ecb14-9e66-5313-a381-d2824ec3d1e2
* Version Independent ID: ff056ac8-ae76-be10-6895-757333a28e05
* Content: [Azure Application Insights for JavaScript web apps](

[2019-05-22 23:04] yzheng-msft commented on #29834
@goldjg Thanks for the comment. To clarify, if you enable diagnostics log for the storage account, all actions triggered by lifecycle management will be logged, including delete blob and set blob tier. We don't have a summary event to log all the actions taken by lifecycle management for that day, which is the planned work.

[2019-05-22 23:06] MicahMcKittrick-MSFT commented on #31938
@apulliam thanks for the suggestion. We have had similar feedback and have a few backlog items around this. We generally try to cover the most common scenarios which is why in some cases you get either PowerShell or CLI.

We have found that in most cases windows users use PowerShell and Linux users use CLI. But obviously this is not the case every time.

I am closing this as we already have items

[2019-05-22 23:06] #31938 closed

[2019-05-22 23:09] femsulu commented on #31928
@ch81 Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-05-22 23:11] femsulu commented on #31921
@msazurelearn Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-05-22 23:16] stdistef commented on #31062
Thanks!!!!!!

[2019-05-22 23:22] tedgoddard commented on #31313
@iainfoulds This sounds like exactly what people will be after:

[code]

After all, a public IP address is very difficult to use unless it is "static" (such as obtained from `az network public-ip create`).

Is this special configuration also documented?

[2019-05-22 23:28] raiye commented on #31840
We have M208ms_v2 and M208s_v2 configured with 8 write disks.

https://msazure.visualstudio.com/DefaultCollection/One/_git/Compute-CPlat-Core?path=%2Fsrc%2FCRP%2FDev%2FComputeResourceProvider%2FConfig%2FCommon%2FCRP.Configs.VMSizes.Global.xml&version=GBmaster

From: Suhas Deshmukh <suhasd@microsoft.com>
Sent: Wednesday, May 22, 2019 2:57 PM
To: Rashmi Iyer <raiye@microsoft.com>; MicrosoftDocs/azur

[2019-05-22 23:32] kobulloc-MSFT commented on #31942
@davekats We get this question from time to time and there is a great Microsoft blog that addresses this:

https://devblogs.microsoft.com/premier-developer/alternative-way-to-protect-your-application-insights-instrumentation-key-in-javascript/

![image](https://user-images.githubusercontent.com/37556655/58215545-37df1a80-7caf-11e9-8072-7b12d4fd24a2.png)

[2019-05-22 23:35] tchristiani commented on #23251
@YutongTie-MSFT will you please reassign all of the @alch-msft and @slivkins open issues for Cognitive Services to @nitinme? Thank you!

[2019-05-22 23:38] MikeStephens-MS commented on #30296
We're trying to understand the requirement for querying the global catalog port on the public interface.  Azure AD Domain Services is a single forest with a single domain. The data returned from queries is the same as if querying on port 636.

[2019-05-22 23:38] iainfoulds commented on #31313
I think I'm missing what you're asking for.

The doc @Karishma-Tiwari-MSFT shared lets you define a static public IP address - https://docs.microsoft.com/en-us/azure/aks/static-ip#create-a-static-ip-address As you note, it's hard to use a public IP address unless it's static. You indicated that's not what you're trying to do?

If you're just creating an internal load balancer, that's also document

[2019-05-22 23:47] edjez commented on #31187
Hi all - couple of things may be affecting what you see:
1) At least one period of "model refresh time" must go by in order for the model with the trainings to "take". Until then, it will be the previous model - which in the first few calls will be a naive model (what you see with all probabilities being same)
2) Right now (and we are fixing this) Once at least one "model refresh time" period goes

[2019-05-22 23:48] TiloGit commented on #30296
@MikeStephens-MS valid questions. We plan to use IBM software (FileNet CPE) which requires to query GC (not sure why but they do)
Try to enter 636 as GC port to see if that would work but it didn't.

Counter question why MS doesn't give us the flexibility via NSG and just add it to the existing LB creation script :-)

[2019-05-22 23:50] tristanbarcelon commented on #31917
Hi @Mike-Ubezzi-MSFT , thanks for your reply. The MSI parameters I was referring to are the properties custom to CosmosDB emulator msi. I've already inspected them here but nothing interesting is available:

[code]

While all MSI have the same command line parameters (/i /passive /quiet, etc) for install and (/uninstall) for uninstall actions, some MSI require specialized parameters. For example,

[2019-05-22 23:51] Mike-Ubezzi-MSFT commented on #31937
@barkills Thank you very much for the detailed feedback. We are reviewing the suggestion and considering it for a future update to the documentation. In the meantime, I would like to make you aware of the Microsoft Docs contributor guide ([Link](https://docs.microsoft.com/en-us/contribute/)), where you have access to draft contributions to be reviewed and merged into the repository.

[2019-05-22 23:54] edjez commented on #31187
@jjgriff93 @vrishni @KentaroAOKI see if the above helps ^^
We should update the docs to set expectations

[2019-05-23 00:01] vmafelt opened #31944 "Incorrect PowerShell command."
PowerShell command parameters do _not_ start with two dashes, the following is wrong:
Get-AzKustoCluster -Name mykustocluster --ResourceGroupName testrg

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd3c7f85-0e89-8515-bc13-0ee18398652d
* Version Independent ID: 1658be71-6561-1a2d-5842-ee02e0969dd7
* Content: [Quicksta

[2019-05-23 00:04] srrengar commented on #31803
hi @KentaroAOKI and @VikasPullagura-MSFT we've identified a bug on our side that's affecting the regions available. We are checking in a fix and I will update here once it's rolled out

[2019-05-23 00:10] MicrosoftGuyJFlo commented on #31710
@lightupdifire if you are using Conditional Access based MFA your users will not show up as enabled or enforced for MFA. The system automatically moves a user to Enforced when they have completed the registration process.

| Status | Description |
| -- | -- |
| Disabled | The default state for a new user not enrolled in Azure MFA. |
| Enabled | The user has been enrolled in Azure MFA, but has not

[2019-05-23 00:16] kobulloc-MSFT commented on #30986
@breyed We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-05-23 00:16] ecfan commented on #5988
Hi @boltlol,

The default limit for SQL - Get rows action is 2048 rows per page or call. With pagination turned on, you can increase that paging limit to 100,000:

https://docs.microsoft.com/azure/logic-apps/logic-apps-exceed-default-page-size-with-pagination

Also, if you nest loops, which is limited to 8 levels deep, you can execute the action 8 x 5000.

[2019-05-23 00:17] edjez commented on #31187
#in-progress

[2019-05-23 00:21] edjez commented on #31187
@jjgriff93 We have gone back and forth on whether to keep the C# quickstart that shows how to call an API versus a more comprehensive code sample (eg. like the python notebook) that shows how the learning happens but has more 'driver code' to call many times and show resulrs.

Example of showing learning over multiple events : https://github.com/Azure-Samples/cognitive-services-personalizer-sample

[2019-05-23 00:24] rezasherafat commented on #31913
Good idea. @RubiaL

[2019-05-23 00:31] KranthiPakala-MSFT commented on #30508
@MarkAtAgilliance Thanks for getting back to us. Please let us know if you are still having the same issue so that we can take a look into it.

[2019-05-23 00:47] BryanTrach-MSFT commented on #31926
@Annnnnieee We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-23 00:47] #31926 closed

[2019-05-23 00:50] SaurabhSharma-MSFT commented on #31522
@ba-johnson Please open a [Azure Support Ticket](https://aka.ms/azsupt) so that Identity Support engineer can check further on this issue. In case you limitations in your support plan to open support ticket please let me know.

[2019-05-23 00:54] jacwil opened #31948 "Broken Azure Powershell commands"
It seems that the cmdlets have changed since this page was originally created.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ccfbf48-4154-4819-75c4-0cd4b14183fd
* Version Independent ID: 12646b47-feb4-736f-5df5-14a4e9875381
* Content: [Troubleshooting Windows VM extension failures](https://docs.microsoft.com/en-us/az

[2019-05-23 00:54] sjyang18 opened #31949 "AzureCLI 2.0.65 is still pointing to '2018-09-30-preview' api-version in westus."
To reproduce, run the following command to the existing openshift cluster.

az openshift show --name XXX -resource-group YYY
No registered resource provider found for location 'westus' and API version '2019-04-30' for type 'openShiftManagedClusters'. The supported api-versions are '2018-09-30-preview'. The supported locations are 'eastus, eastus2, westus, westus2, westcentralus, southcentralus, ce

[2019-05-23 00:56] wasabii commented on #25098
I'm done, y'all.  It's clear nobody is paying attention.

On Wed, May 22, 2019, 4:29 PM aljo-microsoft <notifications@github.com>
wrote:

[2019-05-23 01:13] TadewosBell opened #31950 "Microsoft speech recognition PhraseLIst undefined,what is the issue?"
currently developing an app with Microsoft speech Rec and its going well except when attempting to user the PhraseListGrammar object it keeps retruning undefined, what is the issue?

recognizer = new SpeechSDK.SpeechRecognizer(speechConfig, audioConfig);
recognizer.BabbleTimeout = 0.75;
var phraseListGrammar =
**SpeechSDK.PhraseListGrammar.fromRecognizer(recognizer);**
the last line give me the fo

[2019-05-23 01:23] Alberto-Vega-MSFT commented on #31950
Hi @TadewosBell Thank you for reaching out. Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2019-05-23 01:30] oracle000 commented on #31278
Hi @rjxby, @Dave76
My current version of .NET.Sdk.Function is 1.0.26 and updating it to version 1.0.28 works.
Thanks a lot for the effort :)

Also, thank you for including a zip file in your solution @Dave76, will check later :)

[2019-05-23 01:34] kevinlam1 commented on #31375
I tried you scenario and if you have a variable that is initialized with the object described above:
`
"Initialize_testObject":{
          "inputs": {
                    "variables": [
                        {
                            "name": "testObject",
                            "type": "Object",
                            "value": {
                                "id": 1234,

[2019-05-23 01:53] TadewosBell commented on #31950
https://docs.microsoft.com/bs-latn-ba/azure/cognitive-services/speech-service/how-to-phrase-lists
here is the documentation

[2019-05-23 01:59] AlexanderTodorovic commented on #31856
Thank you.

[2019-05-23 01:59] #31856 closed

[2019-05-23 02:26] breyed commented on #30986
Don't you normally keep issues open until they are closed with a corresponding commit or PR?

[2019-05-23 02:33] mrbullwinkle commented on #30986
@kobulloc-MSFT do you mind reopening this one? @breyed apologies for the confusion we had a massive PR updating this doc that was in review when your question came in, we didn't want to hold up the PR so the updated version of the doc was pushed live, but the latest version does not have the changes you requested. Those will be coming soon. We can definitely leave this open as a doc enhancement un

[2019-05-23 02:55] KalyanChanumolu-MSFT commented on #31944
@vmafelt Thank you for pointing this issue, I have updated the doc accordingly.
The changes should go live by EOD or tomorrow. We will close this issue now.

In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update.
We love taking contributions from the community. 

[2019-05-23 02:59] stevchin opened #31953 "Sample Script Variables"
Instead of having myResourceGroup and myVM, the script should do the same thing it does with keyvault_name, so it would be easy to fill in all of the custom user values in one place.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec582452-610c-c703-13e1-310e2899ead5
* Version Independent ID: b5dd1491-837d-1e72-766c-5d6

[2019-05-23 03:00] DixitArora-MSFT commented on #31691
@dcbrown16 At present, AFAIK the developer portal does not offer any way to verify the global or API level subscriptions.

[2019-05-23 03:02] dcbrown16 commented on #31691
Right, that's the info that I am saying should be added to the doc.

[2019-05-23 03:03] #31944 closed

[2019-05-23 03:08] AshokPeddakotla-MSFT commented on #31922
@kurkowski Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-23 03:11] AshokPeddakotla-MSFT commented on #31929
@grahamehorner Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-23 03:14] AshokPeddakotla-MSFT commented on #31948
@jacwil Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-23 03:20] AshokPeddakotla-MSFT commented on #31920
@markwaksman Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-23 03:20] KetanChawda-MSFT commented on #31528
@d-h-morrison Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-23 03:20] #31528 closed

[2019-05-23 03:21] AshokPeddakotla-MSFT commented on #31924
@kavitajoshi Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-23 03:22] KetanChawda-MSFT commented on #31749
@tj111 I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-23 03:23] AshokPeddakotla-MSFT commented on #31927
@kcsportal Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-23 03:23] AshokPeddakotla-MSFT commented on #31935
@liutang Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-23 03:25] AshokPeddakotla-MSFT commented on #31953
@stevchin Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-23 03:27] #31886 closed

[2019-05-23 03:27] #31865 closed

[2019-05-23 03:28] #31860 closed

[2019-05-23 03:28] #30610 closed

[2019-05-23 03:28] #30411 closed

[2019-05-23 03:28] #29947 closed

[2019-05-23 03:28] #29387 closed

[2019-05-23 03:29] #25050 closed

[2019-05-23 03:30] #19669 closed

[2019-05-23 03:30] #16461 closed

[2019-05-23 03:33] kumarallamraju opened #31954 "possible missing anchor on this page"
[Enter feedback here]
Add routing tables to the guest OS by completing the steps in [Configure the guest OS for multiple NICs](#configure-guest-os-for- multiple-nics).

Did you meant to provide a hyperlink here so that when users click on the link, it will directly take to the corresponding section.. Just asking?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-05-23 03:52] dougsi opened #31956 "This is wrong "The maximum time that a message can remain in the queue is seven days.""
See other docs at: https://docs.microsoft.com/en-us/rest/api/storageservices/put-message

Prior to version 2017-07-29, the maximum time-to-live allowed is 7 days. For version 2017-07-29 or later, the maximum time-to-live can be any positive number, as well as -1 indicating that the message does not expire. If this parameter is omitted, the default time-to-live is 7 days.

---
#### Document Details

[2019-05-23 04:10] ManojReddy-MSFT commented on #31935
@liutang I had submitted a PR to fix this and it looks like my updates were overwritten. I will make the changes again and will update the author about this as well.

Thanks again for reporting this.

[2019-05-23 04:12] SadiqhAhmed-MSFT commented on #31879
@rothja Thanks for the reply. Assigned to @cephalin as suggested.

[2019-05-23 04:30] swinarko commented on #31053
#please-close

[2019-05-23 04:31] #31053 closed

[2019-05-23 04:33] #31935 closed

[2019-05-23 04:33] DashleenBhandari-MSFT commented on #31561
@chetan-makvana , Could you share with us your [site name or subscription ID indirectly here](https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posting-it-publicly)? 

So, firstly, can you please try and rename the jar file to app.jar

Use Java SE Runtime Stack (from application settings).
Application should be working on the local system using java -jar jarfilename command

[2019-05-23 04:35] DashleenBhandari-MSFT commented on #31554
@arkiaconsulting ,
SAS definition has keys and not secrets. We should not be trying to call for secrets ; We should be calling for keys. For a KV managed SA, KV manages the keys and does not create any secrets.

[2019-05-23 04:36] chetan-makvana commented on #31561
Hi,

I used app.jar name only. And I can see it is starting spring boot jar with embedded tomcat.

Regards,
Chetan

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: DashleenBhandari-MSFT <notifications@github.com>
Sent: Thursday, May 23, 2019 10:03:36 AM
To: MicrosoftDocs/azure-docs
Cc: chetan-makvana; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Deployment

[2019-05-23 04:39] msrini-MSFT commented on #31797
@KumudD , Can you take a look into this issues and update the doc to avoid confusion?

[2019-05-23 04:44] chetan-makvana commented on #31561
My subscription ID is 00425...e8e4e
And site name is de...-3

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Chetan Makvana
Sent: Thursday, May 23, 2019 10:06:13 AM
To: MicrosoftDocs/azure-docs; MicrosoftDocs/azure-docs
Cc: Mention
Subject: Re: [MicrosoftDocs/azure-docs] Deployment fails for Spring boot JAR (#31561)

Hi,

I used app.jar name only. And I can

[2019-05-23 04:46] yuharucan opened #31957 "How should we restrict the traffic from your on-premises infrastructure IP addresses via ER?"
How should we restrict the traffic from your on-premises infrastructure IP addresses via ER? We should create fire wall rule to do so, but can we know the IP Address of ER?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4315759e-ebfc-408d-2ae6-7720c995d0d4
* Version Independent ID: 3cc2d572-75a8-506b-51f1-d29661ff7c24

[2019-05-23 04:51] VikasPullagura-MSFT commented on #31779
@MikeChristensen Is there any update.

[2019-05-23 05:00] arkiaconsulting commented on #31554
As I can read in the documentation, the creation of a SAS definition in a Key Vault triggers the creation of a secret containing a SAS token. This secret has a Uri, but without any version. Thus we cannot reference this secret using Key Vault references.

[2019-05-23 05:11] #31403 closed

[2019-05-23 05:16] VikasPullagura-MSFT commented on #31954
@kumarallamraju Thanks for your feedback. We are checking on this and will get back shortly.

[2019-05-23 05:19] YASWANTHM-MSFT commented on #31956
@dougsi , Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-23 05:25] RubiaL commented on #31913
@massand can we have someone from the C SDK update the readme file?

[2019-05-23 05:25] PramodValavala-MSFT commented on #30970
@evertonmc Reopening this issue for tracking updates to this doc with respect to the insights shared here.

Also, feel free to open a similar issue on the [reference](https://docs.microsoft.com/en-us/azure/api-management/api-management-access-restriction-policies) doc as well.

[2019-05-23 05:32] AjayKumar-MSFT commented on #31771
@prajaybasu, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply. We will gladly reopen the issue and continue the discussion.

[2019-05-23 05:32] #31771 closed

[2019-05-23 05:35] #31954 closed

[2019-05-23 05:39] femsulu commented on #31817
@galmok we appreciate the candid feedback. Would be great if you can share your [feedback directly](https://feedback.azure.com/forums/281804-azure-resource-manager) with the feature owner for review and possible consideration in a future release.

[2019-05-23 05:39] #31817 closed

[2019-05-23 05:39] DixitArora-MSFT commented on #31691
@dcbrown16 I have created the PR for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-23 05:41] rishtech commented on #31909
@tilarso - Thanks 👍

[2019-05-23 05:43] #31691 closed

[2019-05-23 05:43] #31859 closed

[2019-05-23 05:44] DixitArora-MSFT commented on #31889
@vladvino Any inputs in this .

[2019-05-23 05:49] AshokPeddakotla-MSFT commented on #31949
@sjyang18 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-23 05:51] AshokPeddakotla-MSFT commented on #31957
@yuharucan Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-23 05:52] jtmilne opened #31958 "autoComplete in Node"
The description for the autoComplete setting says `wait for processing to call complete` however there is no documentation for how to call `complete` in node.js. I had assumed that writing an async function handler would automatically call content.done() which should automatically mark the message handling as complete, but that is not the case. Returning a successful promise without errors does no

[2019-05-23 05:57] Cloudmersive opened #31959 "This is so BROKEN"
- First, you took away the single line command to mount a disk.  WHY DID YOU DO THAT
- Second, the new 5 line script you generate DOESN'T WORK

I can't believe this!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d60d83f-0094-6c5e-e105-712c24bf1acc
* Version Independent ID: 594af294-fd5d-a8c7-d456-6d753b7b62f8
* Conte

[2019-05-23 06:00] dcbrown16 opened #31960 "Clarity edits"
Scenario 1 method: "SNAT, port masquerading not used"
Does this mean it uses SNAT, but not port masquerading? I think it actually means that neither SNAT nor port masquerading are used, but this comma is ambiguous (can be read as Method: SNAT, but port masquerading not used).

Also, per the What is Standard Load Balancer? article: "When only internal Load Balancer is serving a virtual machine, ava

[2019-05-23 06:01] imlight commented on #31260
I am still getting this error

  msg: |-
    Error creating or updating virtual machine test-dsvm - Azure Error: VMMarketplaceInvalidInput
    Message: Creating a virtual machine from Marketplace image requires Plan information in the request. VM: '/subscriptions/XXXXXXXXXXXXX/resourceGroups/XXXXXXXXXX/providers/Microsoft.Compute/virtualMachines/test-dsvm'.

[2019-05-23 06:01] VikasPullagura-MSFT commented on #31953
@stevchin Thanks for your feedback on variables usage in the sample script. Logically defining myResourceGroup and myVM as variables in the script makes it more flexible to use. I will assign this to the author for providing comments.

[2019-05-23 06:03] VikasPullagura-MSFT commented on #31953
@cynthn Can you please add your comments for the user feedback on variables usage in the script.

[2019-05-23 06:03] jakaruna-MSFT commented on #31260
@imlight Will you be able to share the snippet which creates a VM?

[2019-05-23 06:04] imlight commented on #31260
This is my playbook .....

  hosts: localhost
  connection: local
  vars:
    - admin_pub_path: "~/azure-user-id_rsa.pub"

  tasks:
  - name: Create virtual network inteface card
    azure_rm_networkinterface:
      resource_group: XXXXXXXXX
      name: test-dsvm-nic
      virtual_network:
        name: XXXXXXXXXX
        resource_group: XXXXXXXXXXX
      subnet_name: XXXXXXXXXX
      security_gro

[2019-05-23 06:05] YASWANTHM-MSFT commented on #31959
@Cloudmersive, Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate

[2019-05-23 06:08] vrishni commented on #31891
@stuarthallows Thanks. I think in the Test tab Price label is not required to show in the input data as it's not used for the prediction.

[2019-05-23 06:08] yuharucan opened #31961 "Support ge-replication?"
This Doc says that "Azure Event Hubs supports both geo-disaster recovery and geo-replication", but also says "Note that only entities and their settings are replicated automatically. Messages and events are not replicated."
I think "ge-replication" should be deleted because this can mislead our customer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-05-23 06:25] zekovic commented on #23523
Hello, can we get a sample about how to track resources when creating them by azure cli?
We are using this command before other az cli commands:
export AZURE_HTTP_USER_AGENT='pid-.....'

[2019-05-23 06:26] gikan76 opened #31962 "container name giving into the script"
In the section:
https://docs.microsoft.com/en-us/azure/machine-learning/studio/retrain-machine-learning-model#update-the-azure-storage-information

The 6. point "In the left navigation column, click Containers."
I searched a lot, and it is in the Blob menu point. You can not click on Containers directly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-05-23 06:28] Raffatronic opened #31963 "Guest User to Global Admin"
Hey there. I am really struggling in giving global admin rights to a guest user through powershell. Eventhough logged in as a global admin, running this command &lt;Add-MSolRolemember -RoleObjectId 62e90394-69f5-4237-9190-012177145e10 -RoleMemberEmailAddress john.doe_example.com#EXT#XXX.onmicrosoft.com&gt;

You do not have permission to call this.

However through the Azure AD GUI, granting global

[2019-05-23 06:29] msrini-MSFT commented on #31960
@dcbrown16 , For your first statement, it states, NATing happens but not the PAT.

"A public IP assigned to a VM is a 1:1 relationship (rather than 1: many) and implemented as a stateless 1:1 NAT." is a separate sentence which states 1 to 1 NAT happens and in the next statement it states PAT is not used .

When you have a Internal Load balancer and the backend VM has no Public IP assigned, then de

[2019-05-23 06:39] ferin08 commented on #31795
@YutongTie-MSFT , I have followed the link you have given to improve KB however my problem still exists.
for example:
If I ask a question saying "How can I delete my account? "
this question is not present in the KB however it gives me the answer of
"How can I pay using my account?"

How do I overcome this problem?

[2019-05-23 06:39] JEEJACV opened #31964 "Hi, I am not able to find the manage backups when I select my database in Azure, so I am not able to configure automated backups, please help."
Hi, I am not able to find the manage backups when I select my database in Azure, so I am not able to configure automated backups, please help.

[2019-05-23 06:40] shashishailaj commented on #31963
@Raffatronic Thank you for your query. We will investigate and update further.

[2019-05-23 06:40] JEEJACV commented on #29839
Hi, I am not able to find the manage backups when I select my database in Azure, so I am not able to configure automated backups, please help.

[2019-05-23 06:47] DashleenBhandari-MSFT commented on #31561
@chetan-makvana , I can see that app is running at the backend.
Can we check the below:
Start the app locally and try:
curl http://localhost:PORT/ 
What is the response we get?

[2019-05-23 06:47] ToMakeSense commented on #8008
@bbrandt It seemed nested app settings is not supported, when I add one in **local.settings.json** in **`Values`** section, the weird error meesage bellow shows up

[2019-05-23 06:48] dcbrown16 commented on #31960
Thanks for the quick confirmation.
Here's what I would suggest for the first point then, as I'm mainly concerned how the text in the scenario table is understood.
"SNAT, port masquerading not used" > "SNAT without port masquerading"

Scenario 3 as written in the table doesn't make sense because SKUs say "Basic, none" but then the Scenario description says "no Load Balancer". The Scenario should cl

[2019-05-23 07:01] msazurelearn commented on #31921
There is no proper explanation around how to handle the encryption post failover from Primary to Secondary region. And what are the steps required to do for keeping the encryption as the source.

Right now if I do a Test failover , only C drive is encrypted and data disks are not encrypted. There are no extensions found at the VM level as the Encryption is enabled. How to carry the data disk encry

[2019-05-23 07:07] femsulu commented on #31082
Adding @tysonn for guidance on moving this issue since I don't believe we have access to move to this repo.

[2019-05-23 07:10] dcbrown16 commented on #31082
Sorry about that everyone, recreated here.
https://github.com/Azure/azure-powershell/issues/9281
Closing.

[2019-05-23 07:10] #31082 closed

[2019-05-23 07:15] moyuru opened #31967 "Create external data source "abfss" instead of "abfs""
## Context
Read azure data lake gen2 filesystem  from azure sql dwh with Query editor

## Issue
"Create external data source" location start with "abfs://"
then I got following message when "Create the External Tables"

## Messages
Failed to execute query. Error: External file access failed due to internal error: 'Error occurred while accessing HDFS: Java exception raised on call to HdfsBridge_IsD

[2019-05-23 07:16] dnyaneshlb commented on #31185
@AjayKumar-MSFT I am not using Local Cache in staging slot (as a best practice suggested in docs).
Local Cache is just in production slot.

Thanks.

[2019-05-23 07:41] dnyaneshlb commented on #31185
@Aarthisk

1. My app is java web app.
    As mentioned earlier, In my test, initially it synced and created time stamped folder as I can see on kudu console. So
    far so good.
    I have hit some app URLs which logs data. So I assume it should reverse sync the data back to shared content drive. I
    have been waiting for next sync for about 1 hour but I cannot see any time stamped folder where

[2019-05-23 07:59] JayKus commented on #26328
@paratz You can find this in the monthly billing (download the CSV for extraordinary detail). It's listed under MeterName (column P here) "Disk Operations", and then you'd want to look at ConsumedQuantity (column E here).

[2019-05-23 08:00] dombat opened #31968 "What is this?"
The steps say to do this: "Opt in to enable disk encryption via the Azure Disk Encryption Resource Manager template, PowerShell cmdlets, or the Azure CLI, and specify the encryption configuration." but doesn't link to where you may find these tools. I'm looking in the VM and in the disk areas of the portal buy cant see these. I could google it, but it needs to be clearer.

---
#### Document detail

[2019-05-23 08:04] sbiasotto opened #31969 "Persistent browser sessions"
I am seeing errors immediately after using this authentication method when persistent sessions are disabled.

This error occurs when one or both of these are configured:
A conditional access policy is applied that has "Persistent browser session" configured as "Never Persistent"
OR
"Show option to remain signed in?" option is disabled in company branding.

I have tested direct login to MyApps port

[2019-05-23 08:09] DaveZimmermann opened #31971 "BYOL in CSP"
Hi there
Is there no way to use BYOL in CSP? Because through CSP you can buy Software Subscriptions (SQL Enterprise and Standard per 2 Cores for 1 or 3 years). Can't we use them in Azure?
It's because of the note:
BYOL images require an Enterprise Agreement with Software Assurance. They are not available as a part of the Azure Cloud Solution Partner (CSP) at this time.
Best Regards
Dave

---
####

[2019-05-23 08:12] DaveZimmermann commented on #31880
@jakaruna-MSFT
NV6s_v3 is not availlable in the calculator for westeurope, but NV48s V3 is. And this is not listed in this article.

[2019-05-23 08:17] YASWANTHM-MSFT commented on #31462
@mcurko, Glad to know that your issue is resolved.We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-23 08:17] #31462 closed

[2019-05-23 08:21] shashishailaj commented on #31535
@rollandjb We apologize for the delay in handling this one. We believe this may require some additional troubleshooting to find the detailed reasons for this.  Could you please send an email to azcommunity[at]microsoft[dot]com along with your azure subscription ID and we will help you with alternative support options. At this point we will close this issue. however , please do email us with your a

[2019-05-23 08:21] #31535 closed

[2019-05-23 08:27] balintbako commented on #31825
Thank you for confirming this!

It is a Dev and Prod system which will be linked to different AADs.

[2019-05-23 08:31] thomaslevesque opened #31973 "QueueTrigger example in "Automatic triggers" doesn't work"
The QueueTrigger example in the [Automatic triggers](https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-how-to#automatic-triggers) section doesn't work, it throws a `FunctionIndexingException`:

Inner exception is `InvalidOperationException`:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4500b14-64b4-4d1b

[2019-05-23 08:39] canberra2002 opened #31974 "how to use exp.start_logging()?"
For the experiment we normally use
run = exp.submit(config=est)
run
so I am wondering how can we use run = exp.start_logging() and run.log("test-val", 10)?
It will generate 2 runs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93c95f61-f923-1c01-c0b5-568f7efc4080
* Version Independent ID: fe5254c4-5f9c-2a65-0982-5adc2

[2019-05-23 08:43] sebader opened #31975 "No DNN models?"
The documentation states "While DNN algorithms are available during training, automated ML does not build DNN models."
What does this mean? How does it use DNNs for training if they do not result in a model?
In the list of available experiments there are a couple of DNNs listed: https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-configure-auto-train#select-your-experiment-type

[2019-05-23 08:55] RohitMungi-MSFT commented on #31962
@gikan76 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-05-23 08:59] RohitMungi-MSFT commented on #31974
@canberra2002 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-05-23 09:00] koljada opened #31976 "OFFSET LIMIT is not working without partition key filter"
It seems like `OFFSET LIMIT` operator is not working unless query contains a filter by partition key. Is it a bug?
If it is an intended behavior then I think it must be mentioned in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 267e7493-cefe-0e44-b33e-c925b0f874de
* Version Independent ID: 2ffbb916-

[2019-05-23 09:01] RohitMungi-MSFT commented on #31975
@sebader Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-05-23 09:11] karlti opened #31977 "Propagate customdomain certificate changes in APIM to AppGW"
**proposal to update information on page
https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-integrate-internal-vnet-appgateway**

when a customer has to change or replace the certificate info for his custom domain names in APIM
 (without changing the names themselves!), we should include a **"Heads Up"** or **Note**  on the page (see link below) that customer also has to up

[2019-05-23 09:23] SnehaAgrawal-MSFT commented on #31973
@thomaslevesque Thanks for the question! We are investigating and will update you shortly

[2019-05-23 09:28] VikasPullagura-MSFT commented on #31954
@kumarallamraju I have submitted a PR, the document will be updated soon.

[2019-05-23 09:30] jakaruna-MSFT commented on #31939
@mshoe Thanks for the feedback.
![image](https://user-images.githubusercontent.com/43405697/58241834-54d92380-7d6b-11e9-8094-3233136cf412.png)
Doc should be updated with the new "App registrations" page.

I will assign this issue to the content author to update the document.

[2019-05-23 09:31] #31884 closed

[2019-05-23 09:34] andrePKI opened #31978 "Client OS"
Please make clear that this article does not apply to Windows 7, Windows 8.1 and Windows 10 VMs in Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1b74e04-caac-dd80-bb77-dcc79cc217bd
* Version Independent ID: adf32de9-d080-5818-e641-733ec2dedbf5
* Content: [Azure VM Guest OS firewall is misconfigured](https://do

[2019-05-23 09:36] jakaruna-MSFT commented on #31697
@lambodar is there any update

[2019-05-23 09:36] andrePKI opened #31979 "Client OS"
Please make clear that this article does not apply to Windows 7, Windows 8.1 and Windows 10 VMs in Azure or that some steps don't work for these OS-es.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 569e7254-9550-9b37-a601-36308ee72774
* Version Independent ID: 1658a4da-132b-44b1-b55c-66c0345687f8
* Content: [Cannot co

[2019-05-23 09:37] wellsluo opened #31980 "Sample script includes messy code"
The following character is displayed in the sample script last 3 lines:
Â

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a0836fd-4f07-3d69-08c0-2ed48b851e18
* Version Independent ID: 9debb166-9302-d3b7-91a4-e7c9ed653b62
* Content: [Azure PowerShell Script Sample - Create a managed disk from a snapshot](https://docs.mi

[2019-05-23 09:40] watahani commented on #29035
Which PR could I see changes?

[2019-05-23 09:40] angoyal-msft commented on #31967
@moyuru Thanks for your feedback. In general "adfs" is the protocol used for Azure Blob FileSystem driver.
But if you have to connect with a secure socket layer connection u need to use "adfss".
So I believe this is the reason you are not able to connect using "adfs" while able to connect using "adfss".

You can refer [this](https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-in

[2019-05-23 09:44] jakaruna-MSFT commented on #31711
This is covered in the Document.
By default if we access a app over the internet from the container, It will use a random ip when we dont have a external load balancer.
When we have a external load balancer, Then the container egress will use the first public ip from the load balancer.
Then you can give the first public ip address from the load balancer to the external service provider to white li

[2019-05-23 09:47] SadiqhAhmed-MSFT commented on #31813
@bhageerathreddy9 Thanks for bringing this to our attention. It looks like the APIs work that way and there are limitations. I encourage you to raise this as a concern on the feedback forum by up voting this [item](https://feedback.azure.com/forums/216843-virtual-machines/suggestions/37154362-impossible-to-filter-the-azure-rest-api-sku-inform) or by creating a new one so that the product team coul

[2019-05-23 09:59] jssanta96 commented on #31352
@Mike-Ubezzi-MSFT  @Mike-Ubezzi-MSFT  thank you for your answers, regarding the explained above, how the proxy mode would work with a database with failover in another region?

[2019-05-23 10:00] SadiqhAhmed-MSFT commented on #31787
@melvincanafranca I have raised a PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/77673 with proposed change. If review goes successfully then the change should reflect in few hours.

[2019-05-23 10:01] ManuelMos commented on #30802
@ajiljins  @MohitDhingra-MSFT  @shashishailaj Still having the same issue.

I guess it’s a tenant setting or something like that. Currently waiting for a response from azcommunity mail.

[2019-05-23 10:06] moyuru commented on #31967
@angoyal-msft  thanks for reply.
I know abfss is.
But my point is ,
"abfss" requires if ADLS Gen2 and Azure SQL DWH  create as default security settings.
and the doc not mentioned it.

I thought it not kind for reader. what do you think ?

[2019-05-23 10:09] angoyal-msft commented on #31967
@moyuru Sure, Thanks for the feedback. I'll assign this issue to content author to update the document appropriately.
@kevinvngo Could you please look at this issue and update the document appropriately.

[2019-05-23 10:14] AjayKumar-MSFT commented on #31185
@dnyaneshlb, Thank you for sharing additional details! We would investigate further and keep you posted. As these aren’t document specific feedback, I will engage with you offline further, so
could you please send an email to AzCommunity@Microsoft.com referencing this GitHub issue.
Since we will work with you offline, I will now proceed to close this thread.

[2019-05-23 10:14] #31185 closed

[2019-05-23 10:23] ChiragMishra-MSFT commented on #31806
@paulmarshall I will now proceed to close this thread. Feel free to still comment and tag me if you require any more clarification.

[2019-05-23 10:23] #31806 closed

[2019-05-23 10:24] ChiragMishra-MSFT commented on #31807
@paulmarshall I will now proceed to close this thread. Feel free to still comment and tag me if you require any more clarification.

[2019-05-23 10:24] #31807 closed

[2019-05-23 10:25] TheReaLee commented on #6500
Just ran into this issue... what is the workaround? or has it not been solved yet?

[2019-05-23 10:29] jakaruna-MSFT commented on #31880
@DaveZimmermann Thanks.
Generally VM skus vary based on subscription, region etc.

I will check this with the team and let you know

[2019-05-23 10:31] VikasPullagura-MSFT commented on #31948
@jacwil The Azure documents are updated based on the [new AZ PowerShell module.](https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az?view=azps-2.1.0) You can try installing the latest Azure Powershell module following this [document](https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-2.1.0) to use the cmdlets in all Azure Documents. Try this and let us kn

[2019-05-23 10:39] markheath commented on #20348
Any progress on automating the new vnet integration? I'd like to use Azure CLI if possible.

[2019-05-23 10:40] jacwil commented on #31948
Fair enough. I assumed it was an old version because was cmdlets I wasn't familiar with. I never heard of the new AZ PowerShell module. Thank you for sharing.

[2019-05-23 10:40] #31948 closed

[2019-05-23 10:40] versones commented on #27447
No one has yet corrected the information

[2019-05-23 10:46] fedorovdima opened #31981 "Typo"
"3. Select *Edit parameters* from the top" - it should be "3. Select *Edit template* from the top".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec4b373d-ae48-beb4-c5f2-3fab4d88732e
* Version Independent ID: 7b9753ea-c773-bec1-2530-5539ee69cdc1
* Content: [Integrate Azure Key Vault in Resource Manager template deploy

[2019-05-23 10:50] jberezanski-mdg commented on #31715
@joelhulen yes, it appears that a facade was added to the SDK ([`Model.deploy()`](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.model.model?view=azure-ml-py#deploy-workspace--name--models--inference-config--deployment-config-none--deployment-target-none-)) which is able to handle both local and remote deployments. Internally, for remote deployments it simply calls the exist

[2019-05-23 10:54] RohitMungi-MSFT commented on #31950
@TadewosBell Could you please check if the JS file `microsoft.cognitiveservices.speech.sdk.bundle.js` is extracted and placed in your directory?

Please refer to the steps mentioned [here ](https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples/js/browser#build-the-sample)and try to load the index.html file again.

I ran the solution and did not find any issue while loa

[2019-05-23 10:56] CHEEKATLAPRADEEP-MSFT commented on #31961
@yuharucan Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-05-23 11:01] ohadschn commented on #27254
I agree, this "secret" syntax should be documented here. Something like what I wrote in in this StackOverflow answer: https://stackoverflow.com/a/56262918/67824

The key is to drop the `scope` property, and instead nest the role assignment under the desired resource by using `Resource.NAmeSpace/ResourceType/providers/roleAssignments` as the type, and using the following format for the name: `{reso

[2019-05-23 11:06] ssennettau commented on #31981
Hi fedorovdima,

I've created a [Pull Request](https://github.com/MicrosoftDocs/azure-docs/pull/31982) to update the typo you've highlighted. In the future if you like, you can also make these edits to the documentation yourself, following the [Microsoft Docs contributer guide overview](https://docs.microsoft.com/en-us/contribute/).

Regards,
Stephen

[2019-05-23 11:10] nicklasfrahm commented on #31196
1. I checked again and you are right. I am sorry for confusing the raw AMQP message with the `annotations`.
2. Makes sense. After reading up on the message delivery state more in the context of AMQP, I found out that the client I am trying to use (`
rhea`) supports to manually set the message delivery state, so that seems to be exactly what I need.
3. Okay, in the context of this I have a another

[2019-05-23 11:12] leonmeijer commented on #22018
I have the same question and don't see this fixed in the documentation

[2019-05-23 11:30] AshokPeddakotla-MSFT commented on #31958
@jtmilne Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-23 11:33] AshokPeddakotla-MSFT commented on #31964
@JEEJACV Thanks for the feedback! Please help with the link of document on which above document feedback request is created.

[2019-05-23 11:34] CHEEKATLAPRADEEP-MSFT commented on #31805
@oramoss We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-23 11:34] #31805 closed

[2019-05-23 11:37] SBajonczak commented on #29145
yout can also use the azure cli cmd

az keyvault set-policy --name <YourVaultName> --upn <user@domain.com> --storage-permissions set get regeneratekey

[2019-05-23 11:47] msimecek opened #31983 "sox command wrong"
The example sox command uses incorrect parameters. `3` should be `e` and `l` should be `1`:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 120ebdde-5785-5850-c963-803bf3744112
* Version Independent ID: 82bc9a4e-3908-499f-dd2c-31eacc227fff
* Content: [Prepare test data for Custom Speech - Speech Services](https:

[2019-05-23 11:49] jakaruna-MSFT commented on #31260
@imlight i added the plan information and `accept_terms`. Then it passed that step.
[code]

I got an error like this.
`Error accepting terms for virtual machine jakaruna-data with plan {'publisher': 'microsoft-ads', 'product': 'linux-data-science-vm', 'name': 'linuxdsvm'}. Only service admin/account admin users can purchase images from the marketplace. - Azure Error: AuthorizationFailed\nMessage:

[2019-05-23 11:51] VikasPullagura-MSFT commented on #31978
@andrePKI Thanks for the your feedback. We are investigating and will update you shortly.

[2019-05-23 11:51] RohitMungi-MSFT commented on #31983
@msimecek Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-05-23 11:51] msimecek opened #31984 "soxi command doesn't exist"
On Windows the command to check file format should be:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 120ebdde-5785-5850-c963-803bf3744112
* Version Independent ID: 82bc9a4e-3908-499f-dd2c-31eacc227fff
* Content: [Prepare test data for Custom Speech - Speech Services](https://docs.microsoft.com/en-us/azure/cogn

[2019-05-23 11:54] VikasPullagura-MSFT commented on #31979
@andrePKI Thanks for the your feedback. We are investigating and will update you shortly.

[2019-05-23 11:55] msimecek opened #31985 "Why 48 kHz?"
Why do you suggest using sox to convert to 48 kHz when the speech service requires 8/16 kHZ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 120ebdde-5785-5850-c963-803bf3744112
* Version Independent ID: 82bc9a4e-3908-499f-dd2c-31eacc227fff
* Content: [Prepare test data for Custom Speech - Speech Services](https://docs.

[2019-05-23 11:57] kalyanb9119 opened #31986 "Error: invalid_client - Request must contain must contain 'client_assertion' or 'client_secret'"
I have received device_code using URL https://login.microsoftonline.com/my-tenant-id/oauth2/v2.0/devicecode.. While getting access-token using the URL as mentioned in the doc  (https://login.microsoftonline.com/my-tenant-id/oauth2/v2.0/token), i am getting error..

Included client, grant_type, code in the request body.. can you please help me here?.. why is it asking for client_secret or client_as

[2019-05-23 12:08] kalyanb9119 commented on #31986
I have used  Azure Active Directory "web application" instead of "native application" as pointed by https://github.com/MicrosoftDocs/azure-docs/issues/8945..

[2019-05-23 12:16] RohitMungi-MSFT commented on #31975
@nacharya1 @j-martens Is it possible to have some more info about DNN algorithms about their role in training the Automated ML models?
It would be great if you can direct this query to the right user to provide some clarification.

[2019-05-23 12:19] El-Hassan opened #31987 "Azure IoT Edge Deploy Module Image fails - Linux Container"
When I try to follow Create a CI/CD pipeline for IoT Edge with Azure DevOps Projects tutorial, it fails in Azure IoT Edge - Deploy to IoT Edge devices step with the following error:

"Error: Error: ceiothubfinalacr.azurecr.io/edge-sample-dotnet:20-amd64 does not exist or the credential is not set correctly. Error: Get https://abc.azurecr.io/v2/edge-sample-dotnet/manifests/20-amd64: unauthorized: a

[2019-05-23 12:22] 0GiS0 opened #31988 "sampletx.js doesn't work"
Hi! I'm trying to test the sampletx.js file and I get an error when I try to execute it:

{ Error: Transaction: 0xb482a820628cae44f689fa7db1a8dc531de9c0fc6bc2e77ef8eaed3ee6c333f9 exited with an error (status 0).
     Please check that the transaction:
     - satisfies all conditions set by Solidity `require` statements.
     - does not trigger a Solidity `revert` statement.

    at StatusError.Ext

[2019-05-23 12:30] TBurda opened #31989 "ACI - Windows server 2019 - Can´t connect to internet"
I have an Azure Container Instance created from the base image ```mcr.microsoft.com/windows/servercore/iis:windowsservercore-ltsc2019```. The container is running and i can connect to the web page via a public ip address.

The problem is that I cannot connect to the network from the container (for example, ```Invoke-WebRequest http://google.com```)

If i run the following commands in container, ev

[2019-05-23 12:30] sundar85 opened #31990 "To delete an endpoint topic has the same points as To enable an endpoint"
To delete an endpoint you can simply right-click the endpoint on step 4 and click delete which delete's the endpoint. But it also leaves the domain name of the traffic manager to the endpoint if it's an Azure WebApp and there is no easy way to remove it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70375b5a-55c1-3ac4

[2019-05-23 12:39] msrini-MSFT commented on #31990
@sundar85 , Thank you for providing your feedback. I will make the changes in the documentation accordingly.

[2019-05-23 12:40] caespinosam opened #31991 "Register the webhook with the Speech service"
Could you explain how to register the webhook with the Speech service ?. The Batch Transcription service runs and generates the text, I can verify it by calling GET
/api/speechtotext/v2.0/transcriptions , however I am not receiving anything in a webhook I created.

When I created the webhook I got this response:

{
    "id": "xxxxxx",
    "name": "TranscriptionCompletionWebHook",
    "description"

[2019-05-23 12:52] msrini-MSFT commented on #31990
PR is done. Changes will be reflected soon.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/77679

[2019-05-23 12:54] vincentrenaud opened #31993 "Azure Integration with NetSuite Error when Synchronization"
Hi,

I'm presently having a problem with the integration of Azure integration with NetSuite.

I had followed both tutorials:
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/netsuite-tutorial
and
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/netsuite-provisioning-tutorial

I'm presently using the new release 2019.1
Did you make an update of the NetSuite Applica

[2019-05-23 12:56] lvjianjunljj commented on #31785
@MohitDhingra-MSFT @shashishailaj So sorry for not reply to you in time. Your answer is exactly what I want, it's very helpful to me. THanks very much for your help.

[2019-05-23 12:56] chetan-makvana commented on #31561
Locally it's working perfectly fine. Event I am able to browse also.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: DashleenBhandari-MSFT <notifications@github.com>
Sent: Thursday, May 23, 2019 12:17:28 PM
To: MicrosoftDocs/azure-docs
Cc: chetan-makvana; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Deployment fails for Spring boot JAR (#31561)

@chetan-m

[2019-05-23 12:56] ilyasOne opened #31994 "AKS Overview image outdated"
Overview image of Kubernetes Services after (new) creation looks different. There is no "View Kunbernetes Dashboard" in real Azure Portal overview. Please change the text or picture.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 965a7faf-6684-1b1e-3570-ea0b38ce02db
* Version Independent ID: 2efd8393-0b5b-e827-8762-fa5

[2019-05-23 12:59] chetan-makvana commented on #31561
If in case you want to browse...you can try siteurl/admin/ui/index.html...it will give 502 error

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Chetan Makvana
Sent: Thursday, May 23, 2019 6:26:30 PM
To: MicrosoftDocs/azure-docs; MicrosoftDocs/azure-docs
Cc: Mention
Subject: Re: [MicrosoftDocs/azure-docs] Deployment fails for Spring boot JAR (#31561)

Locall

[2019-05-23 13:09] rokonec opened #31995 "Search in fields in collection of complex type"
I have not found how to search in fields if collection of complex type.
Use case: find hotel with "Deluxe room" having "city view" with price under "160".

Is it possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eabe2975-9ff9-12cb-0a19-c2857127390c
* Version Independent ID: d2fc3b74-ab07-3432-fb6c-a91830b81536
*

[2019-05-23 13:16] sergaz-msft commented on #31988
Thanks for the feedback @0GiS0 . Can you please confirm that you followed all prerequisites before?

![image](https://user-images.githubusercontent.com/22173500/58255617-4e47ad80-7d65-11e9-88dc-f93fa769934e.png)

@PatAltimore can you take a look at this and let us know if this issue is known?

Thanks!

[2019-05-23 13:17] #31990 closed

[2019-05-23 13:18] mikeblakeuk opened #31996 "ERRORLEVEL will always be zero"
TIME /T &gt;&gt; "%TEMP%\StartupLog.txt" 2&gt;&1
Will reset the ERRORLEVEL and EXIT /B will always be 0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 074e43dd-1c91-5d6d-fd5e-3c3583c14930
* Version Independent ID: 52ae7f0c-cd2d-90c5-edac-5c9e281c0df3
* Content: [Common startup tasks for Cloud Services](https://docs.mic