[2021-07-29 16:53] Vipin-Sharma commented on #78787
@PramodValavala-MSFT your answers are very helpful, not having enough information available online is big trouble for app developers on azure.

[2021-07-29 16:56] chchadha commented on #78994
@DerekHerman-MSFT

I've provided a few links, since they are all related to the extension configuration:

https://docs.microsoft.com/en-us/azure/azure-monitor/agents/diagnostics-extension-schema-windows
https://docs.microsoft.com/en-us/azure/azure-monitor/agents/diagnostics-extension-windows-install#resource-manager-template
https://docs.microsoft.com/en-us/rest/api/compute/virtual-machine-extensi

[2021-07-29 17:00] DerekHerman-MSFT commented on #78992
Thanks for the feedback! I would recommend opening a separate issue for each item you want addressed to avoid confusion. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-29 17:06] YutongTie-MSFT commented on #79048
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-29 17:21] KranthiPakala-MSFT commented on #79042
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-07-29 17:22] gagarine commented on #78992
Thanks. Yeah, I'm sorry that is a bit of a mess. Sadly, I do not have the time neither the motivation to fix it all. I belive the editorial team has enough material to work with, make the right decisions and improve the doc regarding those issues.
It's Microsoft responsibility to maintain a perfect doc, not me.

[2021-07-29 17:24] himanshusinha-msft commented on #79047
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-07-29 17:35] Oury-MSFT commented on #78773
@Markus-Wolff Please see Karishma comment above. Please share the type of subscription you are using. Thanks

[2021-07-29 17:36] ChaitanyaNaykodi-MSFT commented on #79036
Hello @nosvalds
Thank you for your feedback! We will review and update as appropriate.

[2021-07-29 17:38] KranthiPakala-MSFT commented on #79015
@batamig - Could you please review the above feedback and update the doc with additional details? - Thanks

[2021-07-29 17:42] DerekHerman-MSFT commented on #78888
@frenky29a Since you only have a private peering that means you must have [connected to a VNET](https://docs.microsoft.com/en-us/azure/expressroute/howto-linkvnet-cli). If so you can follow the directions in [Grant access from a virtual network](https://docs.microsoft.com/en-us/azure/expressroute/howto-linkvnet-cli).

[2021-07-29 17:42] ngarimella opened #79056 "Please add an example of body and extraction of the valus"
Would be great to see additional examples of queries doing filtering(so faer I haven't been able to get that to work). Other examples to pull a specific resource and that consumption of that data  (as simple as output in the output to print resource name and id). One can not get the values like  {}.values example shown here.

BTW, the example presented here is very helpful when handling multiple r

[2021-07-29 17:43] ssivas commented on #77653
Hello @QuintenPXS,

Thanks for reaching out and sorry for delayed response.

Admin collections are managed through the [Azure portal](https://portal.azure.com) not from [My Apps portal](https://myapps.microsoft.com), so lets say if you assign users/groups as owner then they can only manage Admin collection through [Azure portal](https://portal.azure.com).

If you create a collection in the My Apps

[2021-07-29 17:43] #77653 closed

[2021-07-29 17:46] mimckitt commented on #78642
Closing this as a duplicate of #70172 but added it as a refence so I can just work off a single issue.

[2021-07-29 17:46] mimckitt commented on #78642
#please-close

[2021-07-29 17:46] #78642 closed

[2021-07-29 17:49] markjbrown commented on #79027
Single region means the Cosmos account only has a single region to read/write data from.

[2021-07-29 17:50] omarine commented on #69635
Hello,

I was able to make it work!

But i had to declare my $twins.tags ... on the module level instead of the device level ,the query stays the same.

From what i understood my module on the edge is establishing it's connection(identity) using ModuleClient(c#/Sdk),while in the demos,most of the HelloWorld (edgeModules) are created using DeviceClient /connectionString which is not an ideal scenar

[2021-07-29 18:13] BharathNimmala-MSFT commented on #79056
@ngarimella Thanks a lot for sharing your feedback, assigning this issue to our document author @tfitzmac to further review the feedback and see how the document can be enhanced.

[2021-07-29 18:14] DerekHerman-MSFT commented on #79045
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-29 18:23] MarileeTurscak-MSFT commented on #79037
Thanks for this! I have passed your feedback along to the content author, @BarbaraSelden .

There is an Azure Powershell example for updating an A record here: https://docs.microsoft.com/en-us/azure/dns/dns-operations-recordsets

I would also recommend adding this as a request in User Voice: https://feedback.azure.com/

[2021-07-29 18:23] #79037 closed

[2021-07-29 18:45] MonikaReddy-MSFT commented on #79043
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-29 18:48] jpocloud opened #79059 "There is VS 2019 Support for Maps"
Update documentation to call out support for Visual Studio 2019. I was able to use the integration tools for Visual Studio 2019. Note that there was no Biztalk reference in the project template/Visual Studio, which led to a bit of confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f1ba474-6bff-129d-337e-a83c35b

[2021-07-29 18:58] zaalion opened #79060 "Policy parameter file"
[Enter feedback here]

Hello,

Could you please provide a "complete" policy parameter file for this example? DefaultValue does not work in our scenario and I can't find any complete parameter file JSON which we pass to `New-AzPolicyAssignment -PolicyParameter`

Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b20cf

[2021-07-29 19:01] BarbaraSelden commented on #78075
I have SMEs lookinga tt this for correction this week. Thank you  @anwarmahmood1

[2021-07-29 19:13] SadiqhAhmed-MSFT commented on #79050
@KatGGS Thanks for bringing this to our attention. We will look into it and get back to you soon.

@SujayJDesai FYI

[2021-07-29 19:15] DCtheGeek commented on #79060
@zaalion Thanks for the question!  This is an Azure Resource Manager (ARM) template example, so you wouldn't use the JSON here with `New-AzPolicyAssignment`.  If you meant to do it with PowerShell, see [the Azure PowerShell quickstart](https://docs.microsoft.com/azure/governance/policy/assign-policy-powershell) and [Example 4 - Policy assignment at resource group level with policy parameter file](

[2021-07-29 19:15] SadiqhAhmed-MSFT commented on #79046
@djtech2k-MS Thanks for bringing this to our attention. We will look into it and update as appropriate.

@Sharmistha-Rai To review and update as required.

[2021-07-29 19:22] KranthiPakala-MSFT commented on #78933
Thanks for the quick fix @leifbro !

Thank you for the feedback and helping us improve the doc content @clu005 ! :)

[2021-07-29 19:32] nunepalli opened #79061 "Auto create Hash partitioned table when Azure Synapse dedicated pool is the sink"
I'm auto creating a table in synapse dedicated pool with parquet file as source, and trying to run stored procedure on the created table. My ADF pipeline failed with this message.
`Error Message: The query processor could not produce a query plan because the target DML table is not hash partitioned.`

ADF creates the table with DISTRIBUTION = ROUND_ROBIN when `Auto create table` option is chosen f

[2021-07-29 19:43] shashishailaj commented on #78813
@merill It would be great if you could point out the links which do not seem formatted correctly .

[2021-07-29 19:45] oising commented on #33157
This is getting to be ridiculous. How am I meant to reconcile the above information with an email we just received (yes, our keyvault is configured to allow trusted services):

![image](https://user-images.githubusercontent.com/1844001/127555473-ddc7a3bb-efab-483c-97d4-46873f895ab5.png)

[2021-07-29 19:49] shashishailaj commented on #78577
@G0PINATH-WW This may need deeper troubleshooting . Could you please send us an email referencing this thread with a subject line "ATTN Shashi" along with your azure subscription ID and we will take this offline to provide a resolution .

Thank you.

[2021-07-29 19:49] #78577 closed

[2021-07-29 20:40] rafatecoy commented on #78976
Hello @DerekHerman-MSFT. That's not the point. I work at Microsoft too, however, I've not found a way to sent this feedback using my corporate account. I was working with AVD lab and I had a on-prem AD group synced with Azure AD. The group scope at on-prem AD was global. I tried to assign role "Storage File Data SMB Share Contributor" to the share and users were getting access denied error. It onl

[2021-07-29 20:42] AnoopRanaMS opened #79062 "Require Azure AD MFA registration checkbox greyed out"
Under MFA registration policy "**Require Azure AD MFA registration**" is greyed out.
1. How can we uncheck the box and what will be the user behavior. Would they not be forced to register for MFA after 14 days counter?
2. If the box cannot be unchecked, what is the purpose of showing that property under MFA registration policy. It is confusing customers.
3.  Also, in the case box cannot be uncheck

[2021-07-29 20:57] SaurabhSharma-MSFT commented on #78922
@MichaelNCCA We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-07-29 20:57] #78922 closed

[2021-07-29 20:57] DerekHerman-MSFT commented on #78976
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-29 21:06] lgayhardt commented on #78953
Hi @rdenouden all the links are correct. Under the Surface banner are the download and instructions for each IP range and service tags. Depending on how big the screen you are viewing on is you may have to scroll slightly to see the links.

For example below is a screenshot of where the download link is on the page for the Public cloud.

<img width="1679" alt="Screen Shot 2021-07-29 at 1 50 07 PM"

[2021-07-29 21:06] #78953 closed

[2021-07-29 21:37] MicrosoftGuyJFlo commented on #79062
#please-close

[2021-07-29 21:37] #79062 closed

[2021-07-29 21:39] RomHartmann commented on #79011
Thank you for the extra information :)

[2021-07-29 21:39] #79011 closed

[2021-07-29 21:56] zr-msft commented on #78897
Thank you for the feedback.

We have added an item to our backlog and will prioritize accordingly.

#please-close

[2021-07-29 21:56] #78897 closed

[2021-07-29 21:56] G0PINATH-WW commented on #78577
What's the To address

On Fri, 30 Jul 2021, 5:49 am ShashiShailaj-MSFT, ***@***.***>
wrote:

--

CAUTION: This email, links and files included in its transmission by
Woolworths Group Limited ABN 88 000 014 675 and its group of companies
(Woolworths Group) are solely intended for the use of the addressee(s) and
may contain information that is confidential and privileged. If you receive
this email i

[2021-07-29 22:02] zr-msft commented on #78817
Thank you for the feedback.

This document was recently updated and fully tested so closing this as a doc bug.

@Raag007 Can you provide a list of the components that are out of date so we can add an item to our backlog for consideration?

#please-close

[2021-07-29 22:02] #78817 closed

[2021-07-29 22:07] zr-msft commented on #78264
Thank you for the feedback.

We have added an item to our backlog and will prioritize accordingly.

#please-close

[2021-07-29 22:07] #78264 closed

[2021-07-29 22:09] zr-msft commented on #78687
Thank you for the feedback.

We have added an item to our backlog and will prioritize accrodingly.

#please-close

[2021-07-29 22:09] #78687 closed

[2021-07-29 22:24] InformTechPro opened #79064 "Renew RunAs account certificate permissions"
One of a common administrative tasks is annual renewal of RunAs account certificate. The  "Run As account permissions" section of the document "Automation account authentication overview" mentions that to create or remove an automation certificate a user needs Contributor role at the automation resource group. Having only contributor role triggers an error that Active Directory permissions are not

[2021-07-29 22:36] zr-msft commented on #78372
thank you for the feedback.

We've added an item to our backlog and will prioritize accordingly.

#please-close

[2021-07-29 22:36] #78372 closed

[2021-07-29 22:38] zr-msft commented on #78583
Thank you for the feedback.

We have added an item to our backlog and will prioritize accordingly.

#please-close

[2021-07-29 22:38] #78583 closed

[2021-07-29 22:43] zr-msft commented on #78665
Thank you for the feedback.

We have added an item to our backlog and will prioritize accordingly.

#please-close

[2021-07-29 22:43] #78665 closed

[2021-07-29 22:43] zr-msft commented on #78616
Thank you for the feedback.

We have added an item to our backlog and will prioritize accordingly.

#please-close

[2021-07-29 22:43] #78616 closed

[2021-07-29 22:46] jmsteinbrunner commented on #78146
Any update on this issue?  It would nice to filter unnecessary configuration records.  Thanks in advance.

[2021-07-29 22:46] zr-msft commented on #78779
Thank you for the feedback.

We have added an item to our backlog and will prioritize accordingly.

#please-close

[2021-07-29 22:46] #78779 closed

[2021-07-29 23:09] m365ken opened #79065 "Missing node/javascript examples for setting Analytical Store TTL"
There are no sdk examples for setting the Analytical Store in Node.js or Javascript. Using the terminology for .net or java do not seem to work when attempting to create a container with analytical store set to -1. Container is created but the analytical store ttl is not part of container properties at Scale&Settings>Settings.  Has anyone managed to get this working? Thx

` const { container } = a

[2021-07-29 23:17] m365ken commented on #79065
Just figured it out. Terminology is similar to the python examples. (analyticalStorageTtl). Would be nice to standardize these param names. Thx

`    const { container } = await client
        .database(databaseId)
        .containers.createIfNotExists(
            { id: containerId, partitionKey, maxThroughput: 4000, analyticalStorageTtl: -1 }
        );
    console.log(`Created container: ${cont

[2021-07-29 23:22] edisga opened #79066 "Add limit of 4,000 characters in Preview Limitations section"
Can you add this line in the Preview limitations?

Docker Compose on Azure App Services currently has a limit of 4,000 characters at this time.

We have another reference for quickstart that is showing this limitation here [https://docs.microsoft.com/en-us/azure/app-service/quickstart-multi-container#create-a-docker-compose-app](https://docs.microsoft.com/en-us/azure/app-service/quickstart-multi-c

[2021-07-29 23:30] sethiramicrosoft opened #79067 "vCenter Permissions"
[Enter feedback here]

Foe VMware migrations using the agentless method, it notes the below permission needed -

- VirtualMachine.State.* (Virtual machine -> Snapshot management): Allow creation and management of VM snapshots for replication.

In VMware vCenter, the Snapshot management permissions include Create Snapshot, Rename Snapshot, Revert to snapshot and Remove Snapshot.

Upon investigation

[2021-07-29 23:53] curtand commented on #58669
Fixed in PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/167472

[2021-07-30 00:12] georgeOsdDev opened #79068 "Add more detail for windows Java startup script"
[Enter feedback here]
This article describe how we can customize Tomcat using startup.ps1

You can use a startup script to perform actions before a web app starts. The startup script for customizing Tomcat needs to complete the following steps:

But there is no information where we save startup.ps1 and when startup.ps1 will be triggered.
It would be nice that if we have document about startup.ps1.

[2021-07-30 00:52] dbrennan opened #79069 "PostgreSQL restore database article needs more detail about event to use for timestamp value"
This page does not provide sufficient clarity on which delete event timestamp to use. We tried a restore yesterday using the recommended -15 minutes from the top-level `Delete PostgreSQL Server` event and the backup was hung for nearly 20 hours due to a combination of their being no backup at that time and not good restore process in Azure that should have failed this almost immediately.  The time

[2021-07-30 02:26] BharathNimmala-MSFT commented on #79067
@sethiramicrosoft Thanks a lot for bringing this to our notice, assigning the issue to our author to further review the feedback and update the document accordingly.

[2021-07-30 02:29] BharathNimmala-MSFT commented on #79064
@InformTechPro Thank you for reaching out with your query, assigning this issue to our document author to review the query and further do the needful.

[2021-07-30 02:31] McMatty commented on #78731
It was the advice on the page to whitelist every single blob instance in Azure for traffic.
So what you are doing is reducing security because you cannot provide specific information on the actual endpoints that need whitelisting.

Quick example I push stolen data to an Azure blob from an internal network - because the advice provide was to allowlist every instance.

[2021-07-30 02:45] BryanTrach-MSFT commented on #79066
@edisga Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-30 03:09] BhargaviAnnadevara-MSFT commented on #79065
@m365ken Thank you for reaching out. In order to best address your feedback, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-07-30 03:11] BhargaviAnnadevara-MSFT commented on #78961
@muthu329024 We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-07-30 03:11] #78961 closed

[2021-07-30 03:13] tipums123 opened #79070 "Pre and Post deployment scripts best practice to add"
What would be the best practice to add the pre and post deployment (start and stop trigger) scripts files?
Shall we attach it to a Branch(master or adf_publish) or to a new Repo?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e22e4d6-366f-fbf8-e141-8905ca7ab7ae
* Version Independent ID: 5be2acf2-66e7-cadf-6666

[2021-07-30 03:18] terencefan commented on #78737
@adamasmar Hello, would you tell me which version of our server SDK were you using?

[2021-07-30 03:21] BrendanEnglehart opened #79072 "Cipher in documentation appears to be outdated"
https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-configure-ssl-policy-powershell
In the document it states that the cipher
`TLS_RSA_WITH_AES_256_CBC_SHA256`
is required but looking at this document
https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-ssl-policy-overview
I think it should be changed to
'TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256'
T

[2021-07-30 03:27] shashishailaj commented on #78577
@G0PINATH-WW My apologies , I missed mentioning the same. I had added in the comment now. [azcommunity] [at] [microsoft] [dot] [com]

[2021-07-30 03:44] #79066 closed

[2021-07-30 03:44] BryanTrach-MSFT commented on #79066
@edisga We have gone ahead and created a PR. The changes should be live within 24 hours. Thank you for sharing this with us!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-30 03:53] shashishailaj commented on #79059
@jpocloud Thank you for your feedback . We will investigate and update the thread .

[2021-07-30 03:59] shashishailaj commented on #79061
@nunepalli Thank you for your query . We will investigate and update the thread.

[2021-07-30 04:19] ryoji-kawamura commented on #77649
@jeevansd @CelesteDG @GitaraniSharma-MSFT I am waiting for your reply. Thank you for your time.

[2021-07-30 05:03] #78943 closed

[2021-07-30 05:03] #78951 closed

[2021-07-30 05:04] HarshitaSingh-MSFT commented on #78789
Hello!
Just checking to see if you have had a chance to see the previous response. Kindly let us know if it answers your question and if you need further assistance on this issue.

[2021-07-30 05:26] jeevansd commented on #78825
@v-rant and @v-hagamp Can you please update this article based on the instruction above?

[2021-07-30 05:29] Herman5006 commented on #78391
Hello @GitaraniSharma-MSFT , can we have any update for this ask? Thanks.

[2021-07-30 05:29] HarshitaSingh-MSFT commented on #78825
@jeevansd, you can review and feel free to update [this ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/167219)existing PR.

[2021-07-30 05:30] HarshitaSingh-MSFT commented on #78825
@jeevansd, you can review and feel free to update [this ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/167219)existing PR.

[2021-07-30 05:30] HarshitaSingh-MSFT commented on #78825
@jeevansd, you can review and feel free to update [this ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/167219)existing PR.

[2021-07-30 05:39] Sharmistha-Rai commented on #79046
@djtech2k-MS - we do call out the required URLs in the section "Network requirements" [here](https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-deploy-configuration-server#network-requirements). All the required URLs are called out here.

Is this what you were referring to?

[2021-07-30 05:57] merill commented on #78813
It looks like @ktoliver has fixed them in this commit https://github.com/MicrosoftDocs/azure-docs/commit/09d41f05343355f56612cd3cb1f0aef70ad61b6d

[2021-07-30 05:57] #78813 closed

[2021-07-30 06:09] shashishailaj commented on #78813
@merill Yes , I was also checking and found the same hence I was not sure. thank you for clarifying .

[2021-07-30 06:23] SrijitBose-MSFT commented on #78967
@rscottwatson is there any questions you had?

[2021-07-30 06:44] KrishnaG-MSFT commented on #79070
@tipums123 Thanks for reaching out! [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so can you please share the Azure document link to which your feedback is related. Also, please elaborate what's your f

[2021-07-30 06:46] KrishnaG-MSFT commented on #79062
@MicrosoftGuyJFlo Thanks for the quick response and the pull request. 👍

[2021-07-30 06:56] Poil commented on #69658
Since some days the NSG are taken into account for Internet traffic to ACI behind a LB.
It brokes my production ...

[2021-07-30 07:11] Markus-Wolff commented on #78773
Thanks for your help already.
I am clear, that the correct service for the initial mentioned SQL Merge and Split Service is Cloud Services (classic).
With this service and my Visual Studio Professional Subscription, I am able to create the Cloud Services (Classic); as described in the SQL Merge and Split Guidance, I added the certificates, when I go to the step "Deploy your service", and upload th

[2021-07-30 07:12] Markus-Wolff commented on #78773
Thanks for your help already.
I am clear, that the correct service for the initial mentioned SQL Merge and Split Service is Cloud Services (classic).
With this service and my Visual Studio Professional Subscription, I am able to create the Cloud Services (Classic); as described in the SQL Merge and Split Guidance, I added the certificates, when I go to the step "Deploy your service", and upload th

[2021-07-30 07:38] HarshitaSingh-MSFT commented on #79016
There is a[ similar question ](https://social.msdn.microsoft.com/Forums/vstudio/en-US/3cef5e2f-2123-4437-ac59-af90c63f0167/forcedelete-custom-domain?forum=WindowsAzureAD)around the same.

Go to Home > Azure Active Directory > Custom Domain Names > Click into the domain name > Delete

![image](https://user-images.githubusercontent.com/25202671/127618268-bbf8fe6e-d2ea-43c9-815f-57832ba193da.png)

En

[2021-07-30 07:38] #79016 closed

[2021-07-30 08:06] AnuragSharma-MSFT commented on #79069
@dbrennan Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-07-30 08:08] StevenKusters opened #79078 "Additional step to perform when installing AADCloudSync"
[Enter feedback here]
If the service isn't starting or showing error message "Service 'Microsoft Azure AD Connect Provisioning Agent' (AADConnectProvisioningAgent) failed to start. Verify that you have sufficient privileges to start system services", the trick is to go into services and change the logon method to the first radio button: Local System Account. When the service starts up, let the wiz

[2021-07-30 08:21] sarahyoon opened #79079 "Request Confirmation with the RI Cancellation Fee"
Hi Team,

As I was comparing the document between [https://docs.microsoft.com/en-us/partner-center/azure-reservations-manage#how-cancellations-work] and [https://docs.microsoft.com/en-us/azure/cost-management-billing/reservations/exchange-and-refund-azure-reservations#cancel-exchange-and-refund-policies], I found out that from [https://docs.microsoft.com/en-us/partner-center/azure-reservations-man

[2021-07-30 08:28] nitin-rachabathuni commented on #63712
Hi @mikben mikben, is this feature available now?

[2021-07-30 08:41] YajB commented on #78825
@v-rant and @v-hagamp,

 In the time since the email was sent to Samiran and Rohit, I have corrected typos.
 How may I provide you with the updated markdown file, please?

Kind regards,
@YajB

yael.berlinger@logz.io

[2021-07-30 09:03] hyoshioka0128 opened #79080 "Showing "[!div class="mx-tdCol2BreakAll"]""
https://docs.microsoft.com/en-us/azure/rtos/netx-duo/chapter2
![netx-duo_chapter2_e](https://user-images.githubusercontent.com/40815708/127629280-02f06585-fb2d-4ae5-9927-9afcf356768f.png)

related: https://github.com/MicrosoftDocs/feedback/issues/3663#issuecomment-889518671
#PingMSFTDocs

[2021-07-30 09:07] hyoshioka0128 opened #79081 "[LOC]Unnecessary asterisks are displayed (ja-jp)"
https://docs.microsoft.com/ja-jp/azure/rtos/netx-duo/chapter2
![netx-duo_chapter2_j](https://user-images.githubusercontent.com/40815708/127629794-31655b8d-be70-4063-b35f-d2da1ee5e1df.png)

related: https://github.com/MicrosoftDocs/feedback/issues/3664#issuecomment-889518906
#PingMSFTDocs

[2021-07-30 09:08] simonfrindberg opened #79082 "Can't subsribe to more than 194 nodes / PLC"
Hello,

I'm using a standalone OPCPublisher module connected to a Number of PLC's.
The PLC's themselves have different stations and follow a similar but anonymizes structure:

 "EndpointUrl": "opc.tcp://xx.xx.xxx.xx:4840",
        "ApplicationUri": "urn:SIMATIC.S7-1500.OPC-UAServer.xxx-001",
        "OpcNodes": [
            {
                "Id": "nsu=OPC/UA/x/x/x/1;i=1022",
                "Opc

[2021-07-30 09:09] johnmc-tc commented on #51708
Is there any update on this obvious problem? It really needs to be resolved - restarting and stopping and then starting the function app has no effect on the function app seeing the new KV value.

[2021-07-30 09:10] hyoshioka0128 opened #79083 "[LOC]Unnecessary asterisks are displayed (ja-jp)"
ja-jp:"https://docs.microsoft.com/ja-jp/azure/rtos/threadx-modules/chapter3"
![threadx-modules_chapter3_j](https://user-images.githubusercontent.com/40815708/127630393-c8ab785e-2e53-431e-8b00-bd8805194a34.png)

en-us:"https://docs.microsoft.com/en-us/azure/rtos/threadx-modules/chapter3"
![threadx-modules_chapter3_e](https://user-images.githubusercontent.com/40815708/127630401-64c7ca6c-f65c-4593-80

[2021-07-30 09:12] Nandeeshswami opened #79084 "Which of these attributes support multi-valued claims?"
We were utilize tags attribute and as per the doc below tags is a string. But when the value was returned in the token it was only gibing us a single.
https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-app-manifest#tags-attribute

On further digging and talking to Devs on the team helped us figure out that currently only few multi-valued claims are supported and tags is not

[2021-07-30 09:17] AjayKumar-MSFT commented on #79068
@georgeOsdDev, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-07-30 09:21] dbona75 opened #79085 "The SSO behavior is applicable not only to registered primary user"
[Enter feedback here]

This seems not to be true "

Is applicable to the Registered owner of the device and not to any other user who signs in to that device. So all other users who access that device get a Multi-Factor Authentication challenge. Then they can access applications that require Multi-Factor Authentication."

In our tests there are not differences between primary / enrolled user and a

[2021-07-30 09:23] GitaraniSharma-MSFT commented on #78391
@Herman5006 , the last update that I received from the PG team was below:
The team has been doing some validation of this scenario and the answer is a bit complex, so they need some more time.

Could you send an email to azcommunity@microsoft.com referencing this thread and your subscription id? Please mention "ATTN gishar" in the subject field. We can discuss further on this issue.

[2021-07-30 09:25] AjayKumar-MSFT commented on #78873
gabesmsft,  timja , The PR is merged and the document reflects the changes. We will close this thread. Thanks for taking time to share your valuable feedback.

[2021-07-30 09:25] #78873 closed

[2021-07-30 09:30] timja commented on #78873
@AjayKumar-MSFT shouldn't https://docs.microsoft.com/en-us/azure/static-web-apps/media/custom-domain/azure-dns-txt.png also be updated as well?

[2021-07-30 09:43] fleed opened #79086 "Possibility to split a resource into multiple "fragments""
The page explains how to deploy (or not) a resource based on a condition.
I was looking for the possibility to deploy (or not) parts (fragments) of a resource.

My use case is defined as follows: I would like to define a generic module for web app services with some tags that are optional.
Some of the tags for the resource should only be added if a specific flag/bool parameter for the module is se

[2021-07-30 09:52] GitaraniSharma-MSFT commented on #78990
@Tiberriver256 , as mentioned in the doc, Azure CDN Global can serve content to China users with POP locations near China or any POP that provides the best performance to requests originating from China. And I have seen customers experiencing really slow performance when accessing applications from within China using Global CDN due to high latency. The problem with serving China from exterior is t

[2021-07-30 09:52] #78990 closed

[2021-07-30 10:06] SadiqhAhmed-MSFT commented on #79079
@sarahyoon Thank you for bring this to our attention. We will review the documentation with the content owner and get back to you soon.

[2021-07-30 10:27] jokarl opened #79087 "Application insights connection string changed"
We are creating all our infrastructure using terraform. The first thing we create in an environment is the monitoring tools, including application insights.

We then create function apps, referencing the application insights connection string:

[code]

However as you can imagine we don't do this very often, and now I see a diff between the environment variable in our application insights variable

[2021-07-30 10:27] GitaraniSharma-MSFT commented on #79007
@NeverOddOrEven , may I know on which step you are stuck? We have a doc with Linux NVA example that is deployed using Azure CLI as below:
https://docs.microsoft.com/en-us/azure/virtual-network/tutorial-create-route-table-cli

You have to enable IP forwarding on your NVA VM as described below:
![image](https://user-images.githubusercontent.com/67630903/127639355-d7992fa0-42ce-4498-958f-c5697b11c0ae

[2021-07-30 10:36] GitaraniSharma-MSFT commented on #79020
@Bafff , the limitation of load balancer is true : "SKUs aren't mutable. You can't change the SKU of an existing resource."

You cannot simple click on a dropdown to upgrade/change the SKU of an existing load balancer as you can do in VPN gateway or any other resource that supports SKU change.

Microsoft supports Basic - > Standard upgrade but it creates a new Standard SKU Load Balancer with locat

[2021-07-30 10:36] #79020 closed

[2021-07-30 10:48] vlad610 opened #79088 "Document limitations when API Management is calling itself"
There is a limitation, described here: https://techcommunity.microsoft.com/t5/azure-paas-blog/self-chained-apim-request-limitation-in-internal-virtual-network/ba-p/1940417, where API Management can throw HTTP 500 "BackendConnectionFailure" errors when it's calling itself, for Developer and Premium tiers. This has been the case for a long time and from my knowledge, there is no path towards a long

[2021-07-30 10:56] vanessabruwer opened #79089 "Messaging unclear"
Note on the page reads:

Starting August 16, 2021, Network Isolation will be strictly enforced. Resources set to block queries from public networks, and that aren't associated with an AMPLS, will stop accepting queries from any network.

This is very confusing - could you please expand to clarify what this means. Does this relate to the settings under Virtual networks access configuration? Or some

[2021-07-30 11:03] psmanhas commented on #78807
@bbaassssiiee Can you try again and replace this:
"& $env:SystemRoot\\System32\\Sysprep\\Sysprep.exe /oobe /generalize /quiet /quit",

With this:

"& $env:SystemRoot\\System32\\Sysprep\\Sysprep.exe /oobe /generalize /quiet /quit /mode:vm

Thanks

[2021-07-30 11:06] ram-msft commented on #78849
@Juliako Can you please help with the multiple video and insights widgets in the same page without custom modification.

[2021-07-30 11:28] bbaassssiiee commented on #78807
I gues you mean to escape the backslashes in JSON, like:
[code]

I'll try.

[2021-07-30 11:43] frenky29a commented on #78888
Not sure how on-prem network can be listed in the blade Add existing virtual network.
Moreover, we have Azure VWAN. Express route is connected to managed virtual Hub. Hub network is managed and not listed anywhere in VNETs.

[2021-07-30 12:06] AshokPeddakotla-MSFT commented on #79082
@simonfrindberg Could you confirm where did you find out the 250 nodes/PLC information?
Also, I have assigned the issue to the content author @jehona-m to evaluate and update as appropriate.
@jehona-m Is there a hard limit mentioned some where in our docs. Please add/update accordingly.

[2021-07-30 12:09] simonfrindberg commented on #79082
@AshokPeddakotla-MSFT the 250 nodes / PLC is a hard requirement from my side that i need to be able to subscribe to. I have not been able to find that there is a hard limit any where.

[2021-07-30 12:11] AshokPeddakotla-MSFT commented on #79082
@simonfrindberg Ah Thanks for clarifying. SME will review this feedback and update accordingly.

[2021-07-30 12:13] GitaraniSharma-MSFT commented on #79072
@BrendanEnglehart , thank you for your feedback. We'll review this and get back to you shortly!

[2021-07-30 12:15] KalyanChanumolu-MSFT commented on #79083
Added this issue to an existing [Internal Feedback Item](https://ceapex.visualstudio.com/CEINTL/_workitems/edit/461781)

[2021-07-30 12:23] KalyanChanumolu-MSFT commented on #79083
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-07-30 12:23] #79083 closed

[2021-07-30 12:23] KalyanChanumolu-MSFT commented on #79081
Added this issue to an existing [Internal Feedback Item](https://ceapex.visualstudio.com/CEINTL/_workitems/edit/461781)

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-07-30 12:23] #79081 closed

[2021-07-30 12:36] bbaassssiiee commented on #78807
It started looping:

<img width="911" alt="image" src="https://user-images.githubusercontent.com/10671559/127653784-9b8a493d-9dec-466c-9bd3-b73b3c1ffb5a.png">

[2021-07-30 12:38] bbaassssiiee commented on #78807
It started looping:

<img width="980" alt="image" src="https://user-images.githubusercontent.com/10671559/127654001-9e19bc17-d384-41b4-889a-3aa795f432c1.png">

[2021-07-30 12:42] bbaassssiiee commented on #78807
Is rebooting possible in a Packer run?

[2021-07-30 12:54] ktoliver commented on #78813
Hi. The fix was submitted in a pull request in the azure-docs public repo, https://github.com/MicrosoftDocs/azure-docs/pull/78811. I merged the PR as PR reviewer assigned to the repo. 👍🏼

[2021-07-30 13:06] ShaikMaheer-MSFT commented on #79061
@nunepalli Thanks for the question. Github forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilise Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html).

[2021-07-30 13:10] nunepalli commented on #79061
@ShaikMaheer-MSFT
Its no where mentioned in the documentation about the distribution type of the table created in Synapse when `Auto create table` option is selected in copy data pipeline.
I want the documentation provide clarity about that.

[2021-07-30 13:16] mitsubishop opened #79092 "Disable only one plan not two"
Hi,

I believe this sentence "To solve this conflict, you need to disable two of the plans."

should say

To solve this conflict, you need to disable **one** of the plans.

Thanks,
David
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb0fc0fc-b772-de61-258a-a6fd4ea9711c
* Version Independent ID: 04e86827-c8da-a01a-2cb5-

[2021-07-30 13:21] Jeej opened #79093 "Clearify extensionResourceId"
Hi there!

I was using arm-ttk and it informed me that "IDs Should Be Derived From ResourceIDs" and that I should use for example "extensionResourceId". On the page the parameters are defined as "resourceId, resourceType, resourceName1, [resourceName2], ..." but the examples shows things like: "/subscriptions/{subscriptionId}/providers/{extensionResourceProviderNamespace}/{extensionResourceType}/{

[2021-07-30 13:22] tusharkadev opened #79094 "What Errors are termed Critical when DeploymentMode set to production"
[Enter feedback here]

Document says

Use the following configuration to send only **critical** error messages to your Application Insights.

Set the DeploymentMode attribute of the TrustFrameworkPolicy to Production.

it will be good to have examples on what Errors are deemed critical.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2021-07-30 13:33] ShaikMaheer-MSFT commented on #79061
@nunepalli Thank you for quick response and giving clarity on ask. Included doc-idea tag on this thread. We will revert soon with updates.

[2021-07-30 13:51] KrishnaG-MSFT commented on #79086
@fleed Thanks for your comment! We will review and provide an update as appropriate.

[2021-07-30 13:52] vhorne commented on #34063
screenshot updated
#please-close

[2021-07-30 13:52] #34063 closed

[2021-07-30 13:53] KrishnaG-MSFT commented on #79089
@vanessabruwer Thanks for the feedback.
Assigning @noakup for visibility, review and document enhancement consideration as appropriate.

[2021-07-30 14:07] jz-wilson opened #79095 "Invoke-AzRestMethod instead of using az cli"
FYI, We can use the Azure PowerShell task with the method `Invoke-AzRestMethod` instead of having to rely on the CLI. Makes it easier to use this with Linux Azure DevOps Hosts

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee1eec15-6783-f8a2-81c0-ffa9d1b40dc2
* Version Independent ID: ab875981-7b0d-95be-dc5b-91f

[2021-07-30 14:19] rscottwatson commented on #78967
No, I think that covers it.  Thank you very much for the information.

[2021-07-30 14:21] KranthiPakala-MSFT commented on #78939
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

In case if you have posting the query in forum, please do share the link here for tracking.

Thank you

[2021-07-30 14:21] #78939 closed

[2021-07-30 14:29] Scottie2z opened #79096 "Azure Government Availability for Backup Explorer"
I stumbled upon Backup Explorer in my Azure Government environment but this article notes "Backup Explorer is currently not supported in national clouds.", so is the feature in preview or is the definition of national clouds different from my understanding?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf379dd0-c5e9-7

[2021-07-30 14:34] tipums123 commented on #79070
Hi KrishnaG,

Sorry not to put enough information.
This is the  what I am talking about - https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#script

Context: When I try to deploy Azure Datafactory Pipeline using Azure Devops(CI/CD), I have to use the script in the link above. This script will stop and start trigger before and after deployment.
Azure DevOps uses c

[2021-07-30 14:35] automatethenetwork opened #79097 "Script Does Not Account For Resources With Same Name"
On line 740 of the script (v 1.8)

`$classicVnet = Get-AzResource -ResourceName $ClassicVirtualNetworkName`

This does not account for resources with the same name (i.e. a storage account), I had a situation where a classic storage account had the same name, and the abort procedure errored out.

This can be fixed by changing the line to
`$classicVnet = Get-AzResource -ResourceName AxpoUSProd -Reso

[2021-07-30 15:02] starbuck3000 opened #79098 "Ambiguous "azure management" concept"
Hi,

While auditing the access control policy for a tenant, I asked the administrator what the "Azure management" meant. He said he doesn't know, that he followed Microsoft's instructions and pointed me to this page.

After reading it, I am a bit confused: the text says we should add a conditional access policy for an app called "azure management". It says azure management can include tools "like"

[2021-07-30 15:09] KrishnaG-MSFT commented on #79070
@tipums123 Thanks for sharing the Azure document link and additional context. I have assigned this issue to Azure data factory SME for visibility, review and to help provide insights if any.

[2021-07-30 15:14] ShaikMaheer-MSFT commented on #79061
@jianleishen Could you please review above feedback and update as appropriate.

[2021-07-30 15:23] ssmiller60 opened #79099 "Section inaccurate"
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-accounts-permissions#azure-ad-connector-account
The section is titled "Azure AD Connector account" but a picture of an "AD DS Connector account" is shown.  Furthermore aspects of both AD DS Connector accounts and Azure AD Connector accounts are discussed in the section.  The entire section must be reviewed for inaccur

[2021-07-30 15:26] roblaw80 opened #79100 "Custom role creation doesn't work as documented."
Tried following these instructions for creating the custom role.
Azure keeps returning "Invalid JSON" errors no matter how I try to load it. Azure GUI, or CLI.

Checked JSON syntax with 3rd party JSON validator tool. Returns good result.

Conclusion: Busted Azure code on back end reading JSON file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2021-07-30 15:33] bbaassssiiee commented on #78807
It is still in the endless loop:

![image](https://user-images.githubusercontent.com/10671559/127676592-db89a089-9fc3-40f8-8a67-bcf532e94c0b.png)

[2021-07-30 15:39] rafatecoy commented on #78976
Thanks to you!

[2021-07-30 15:41] DeanGross opened #79101 "Request for more details"
The article states that if we are not using Defender for Identity, then we can use powershell or event logs, but does not tell us how to do this. Please provide a link to instructions.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd5215da-c68b-eebf-6d81-ef109caa7f51
* Version Independent ID: 8805daae-486b-7ea4-f4b4-ce

[2021-07-30 15:41] MicrosoftGuyJFlo commented on #79098
@starbuck3000 the definition of Microsoft Azure Management is located in the [Cloud apps article](https://docs.microsoft.com/azure/active-directory/conditional-access/concept-conditional-access-cloud-apps#microsoft-azure-management). Does that answer your question?

[2021-07-30 15:45] DeanGross opened #79102 "Recommendations for baselining configuration"
The article states that baselines should be created and monitoring performed, but it does not provide any guidance about how we can actually document the current configuration/baseline. Please provide some instructions/scripts etc to help us accomplish this task. I'm currently using screen shots and I'm sure that there must be a better way :)
---
#### Document Details

⚠ *Do not edit this section.

[2021-07-30 15:45] #79099 closed

[2021-07-30 15:52] DerekHerman-MSFT commented on #79078
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-30 15:54] halkazwini opened #79104 "Microsoft Peering screenshot with wrong IP subnet"
Hi,

https://docs.microsoft.com/en-us/azure/expressroute/expressroute-howto-routing-portal-resource-manager#to-create-microsoft-peering

Step 4: I believe there is a typo in the IPv4 secondary subnet in the Microsoft Peering screenshot which shows the same IP range as the one used for the primary subnet:

![image](https://user-images.githubusercontent.com/85655443/127679300-bd13d5c8-50ca-48b5-bd0c

[2021-07-30 16:04] duongau commented on #79104
@haalkaz Thank you for bringing this to our attention. I'll get that updated to display the correct IP for the secondary subnet.

[2021-07-30 16:06] MarileeTurscak-MSFT commented on #79092
@mitsubishop
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-30 16:07] psmanhas commented on #78807
@bbaassssiiee I have provided the mentioned inputs to our backend team so they can help on the issue better. Will keep you posted once I have an update from their end.

[2021-07-30 16:16] DerekHerman-MSFT commented on #79080
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-30 16:16] zr-msft commented on #77550
Thank you for the feedback.

We have added an item to our backlog and will prioritize accordingly.

#please-close

[2021-07-30 16:16] #77550 closed

[2021-07-30 16:19] cynthn commented on #78975
@mimckitt

[2021-07-30 16:20] MarileeTurscak-MSFT commented on #79085
@dbona75
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-30 16:20] zr-msft commented on #77769
Thank you for the feedback.

We have added an item to our backlog and will prioritize accordingly.

#please-close

[2021-07-30 16:20] #77769 closed

[2021-07-30 16:21] cynthn commented on #78255
@mimckitt

[2021-07-30 16:25] MarileeTurscak-MSFT commented on #79102
@DeanGross
Thanks for your feedback! I have assigned this issue to the author to update.

[2021-07-30 16:25] zr-msft commented on #78032
Thank you for the feedback.

We have added an item to our backlog and will prioritize accordingly.

#please-close

[2021-07-30 16:25] #78032 closed

[2021-07-30 16:27] zr-msft commented on #78158
Thank you for the feedback.

We have added an item to our backlog and will prioritize accordingly.

#please-close

[2021-07-30 16:27] #78158 closed

[2021-07-30 16:29] zr-msft commented on #78285
Thank you for the feedback.

We have added an item to our backlog and will prioritize accordingly.

#please-close

[2021-07-30 16:29] #78285 closed

[2021-07-30 16:32] hung-doan commented on #77876
Cheer!, It's good to know that, thanks mate. 👍 👍 👍

[2021-07-30 16:33] MarileeTurscak-MSFT commented on #79101
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-30 16:33] zr-msft commented on #78312
Thank you for the feedback.

We have added an item to our backlog and will prioritize accordingly.

#please-close

[2021-07-30 16:33] #78312 closed

[2021-07-30 16:36] zr-msft commented on #78648
Thank you for the feedback.

We have added an item to our backlog and will prioritize accordingly.

#please-close

[2021-07-30 16:36] #78648 closed

[2021-07-30 16:37] zr-msft commented on #78911
Thank you for the feedback.

We have added an item to our backlog and will prioritize accordingly.

#please-close

[2021-07-30 16:37] #78911 closed

[2021-07-30 16:46] bbaassssiiee commented on #78807
To reproduce, here is a full example:

github.com:dockpack/azure-windows-ci-vm-image.git

[2021-07-30 16:51] JamesTran-MSFT commented on #79084
@Nandeeshswami
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-30 16:52] JamesTran-MSFT commented on #79094
@tusharkadev
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-30 16:54] JamesTran-MSFT commented on #79097
@automatethenetwork
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-30 16:55] JamesTran-MSFT commented on #79098
@starbuck3000
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-30 16:59] anavinahar commented on #77338
@asudbring  could you add this to docs per offline email thread? Thanks!

[2021-07-30 17:02] mimckitt commented on #78255
@kogesaka The migration tool is GA and fully supported for migration scenarios :)

#please-close

[2021-07-30 17:02] #78255 closed

[2021-07-30 17:07] bandersmsft commented on #79079
@sarahyoon You're right. Clearly the two articles contradict each other. I'm investigating this with the Reservations engineering team and I'll reply here where I can details to share.

[2021-07-30 17:11] MarileeTurscak-MSFT commented on #79101
Thanks! I made a pull request to add references. https://github.com/MicrosoftDocs/azure-docs-pr/pull/167551

[2021-07-30 17:11] #79101 closed

[2021-07-30 17:13] git14 opened #79105 "OOBE is supported"
[Enter feedback here]
Under the Limitations section it is stated that OOBE is not supported for TAP, just tested it and it does work as an authentication method.

![image](https://user-images.githubusercontent.com/45473789/127688510-f20dbcdc-0cfa-42e0-beaf-f9ee0de42548.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2021-07-30 17:25] ecfan commented on #78864
@v-hakob,

I got the following info from the product team, so could you let me know if these details are what the customer requested?

**HTTP**
Pros: Can call any endpoint, including APIM.

Cons:
- Must manually set the URL.
- No schema for fetching, so you have to compose the raw request body.

**APIM**
Pros:
- Shows APIM instances and all APIs in your subscription.
- Fetches Swagger for an easie

[2021-07-30 17:27] harirajan0664 commented on #51107
Definitely requires clarity here.
I think what does it mean is if you have created two vWAN in your subscription and created a HUB in each vWAN then Hubs from each vWAN can't talk natively.  We might need to have S2S VPN connection between each vWAN Hubs. Please correct me if it is wrong. thanks

[2021-07-30 17:29] jodalANP opened #79106 "Possibly Include Information on Network Resource Downtime"
Recently I was struggling to find information about downtime for network resources when transferring between subscriptions. VMs was clearly stated, but unless I missed it (which is possible) I couldn't find anything which explained specifically for networking resources if they would be accessible or not while moving.

If that could be linked on the page or provided I think it would be really helpf

[2021-07-30 17:38] m365ken commented on #79065
https://docs.microsoft.com/en-us/azure/cosmos-db/configure-synapse-link

[2021-07-30 17:44] KranthiPakala-MSFT commented on #78950
Hi @leifbro - Could you please review this doc-bug and update accordingly in databrircks source? - Thanks

[2021-07-30 17:46] halkazwini opened #79107 "Enabling BFD for Microsoft Peering"
Hi,

1. Enabling BFD section doesn't mention Microsoft peering at all:
https://docs.microsoft.com/en-us/azure/expressroute/expressroute-bfd#enabling-bfd

It mentions only private peering with nothing about Microsoft peering.

2. It would be great to add the date when BFD became enabled by default in private/Microsoft peering which I believe is 08/01/2018 for private peering and 01/10/2020 for Micr

[2021-07-30 18:05] nainesh72 opened #79108 "IOT EdgeHub Send Duplicate Message"
Hi
My IOT EdgeHub Send a Duplicate message to Cloud,
my edge module send one message to EdgeHub but some time edgeHub send same message twice in cloude,
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7cb78a4-78da-5eb2-fbde-9cdec5e8dad6
* Version Independent ID: e7ebf194-5634-cae0-b634-3d8c005a974

[2021-07-30 18:22] MarileeTurscak-MSFT commented on #79092
Thanks @mistubishop! I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/167557

CC @curtand

[2021-07-30 18:22] #79092 closed

[2021-07-30 18:26] kgremban commented on #78188
Thank you @konichi3

I'm going to close this issue now, since there's no additional information to add to the docs at this time.

#please-close

[2021-07-30 18:26] #78188 closed

[2021-07-30 18:44] tfitzmac commented on #79086
@fleed - it's not possible to divide a resource into fragments, but you might be able to provide similar functionality through a couple of options. One is use the [conditional expression](https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/operators-logical#conditional-expression--) to apply values based on the condition. The other option is to use a [configuration variable](https:

[2021-07-30 18:44] #79086 closed

[2021-07-30 18:44] Nandeeshswami commented on #78846
Thanks a lot folks for updating the content. Kudos for the quick turnaround.

[2021-07-30 19:05] xinlian12 opened #79109 "Update documentation 'PageSizeHint'"
In the documentation, it mentioned:
"The PageSizeHint is the maximum number of items that will be returned in a single page."

But sometimes, the customer can get more than "maximum number of items" if several items are included in a single bulk/batch operation. Please update the doc to better reflect this info as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2021-07-30 19:17] SadiqhAhmed-MSFT commented on #79096
@Scottie2z Thank you for your post. National clouds are different from Azure public cloud. In addition to our global network of datacenters, Microsoft cloud services are available in three separate national clouds.

Current national clouds include:
Microsoft Cloud for US Government
Microsoft Cloud Germany
Azure and Microsoft 365 operated by 21Vianet in China

Each national cloud environment is uni

[2021-07-30 19:24] bbaassssiiee commented on #78807
Shared at https://discuss.hashicorp.com/t/windows-provisioning-in-azure-with-packer/27588

[2021-07-30 19:26] DerekHerman-MSFT commented on #79087
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-30 19:26] hbannai opened #79110 "VNET Peering additional steps to work"
# Azure documentation issue guidance

VNET peering wouldnt work if the additional steps arent configured. The Private DNS zone have to configured and add DMS VNET to be able to have connection successful.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

I tested the VNET peering between both the source and target

[2021-07-30 19:29] curtand commented on #65596
#assign:@rolyon

[2021-07-30 19:30] curtand commented on #65593
#assign:@rolyon

[2021-07-30 19:31] curtand commented on #67889
#assign:@rolyon

[2021-07-30 19:33] curtand commented on #66072
#assign:@rolyon

[2021-07-30 20:12] laujan commented on #78377
#please-close

[2021-07-30 20:12] #78377 closed

[2021-07-30 20:29] zr-msft commented on #78763
#assign @rzhang628

[2021-07-30 20:31] reydelleon-skuvault opened #79111 "SSO cookie expiration is set to Session regardless of configuration"
I'm using Custom Policies.

In the section [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/session-behavior?pivots=b2c-custom-policy#configure-azure-ad-b2c-session-behavior) you seem to imply that the cookie expiration time can be set in minutes. From that section as well I understood that the setting to configure this in the Relying Party is `SessionExpiryInSeconds`, which is c

[2021-07-30 20:33] MarileeTurscak-MSFT commented on #78908
Created a second PR since the first one would not publish: https://github.com/MicrosoftDocs/azure-docs-pr/pull/167584

[2021-07-30 20:38] himanshusinha-msft commented on #79047
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-07-30 20:40] MarileeTurscak-MSFT commented on #78898
I made a pull request to add a note to the document. https://github.com/MicrosoftDocs/azure-docs-pr/pull/167589

CC @curtand

[2021-07-30 20:40] #78898 closed

[2021-07-30 20:40] himanshusinha-msft commented on #78954
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-07-30 20:42] himanshusinha-msft commented on #79042
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-07-30 20:49] himanshusinha-msft commented on #78876
Hello @rahele-al ,
You are correct , as mentioned in the articl the template only works with file -base storage .
On a side note looking that Getmetadate activity it does expose the lastmodified fields for FTP .
https://docs.microsoft.com/en-us/azure/data-factory/control-flow-get-metadata-activity#supported-connectors

[2021-07-30 20:49] #78876 closed

[2021-07-30 20:59] marcindulak commented on #77769
It would be more helpful to close only fixed issues, so to make the "Subscribe" notifications feature of github useful. This approach is used by https://github.com/Azure/MachineLearningNotebooks/issues/1392#issuecomment-801277408, maybe azure-docs can use it too?

[2021-07-30 21:01] JohnnyFun opened #79113 "Unminify 403 saying I need "Storage Blob Data Reader" for a blob container I created and uploaded files into"
I created a new storage account resource. I linked that to the insights resource as the source map. Validation passed for it. But when I click "Unminify" on an error, I get the error "You are not authorized to access this Blob Container. Please make you are assigned at least as a "Storage Blob Data Reader".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-07-30 21:03] v-gpettibone commented on #60606
Tags are NOT visible to modules. Removed "tags and" from the note which now says "(including desired and reported system properties)"

[2021-07-30 21:04] v-gpettibone commented on #60606
#please-close

[2021-07-30 21:04] #60606 closed

[2021-07-30 21:08] curtand commented on #66393
Hi @jdfoxmicro
Thanks for your dedication to our documentation! Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your

[2021-07-30 21:08] #66393 closed

[2021-07-30 21:08] rolyon commented on #65593
Hi @josef-mende-diva-e
Thanks for your feedback. We apologize for the delay. We have refactored this page and included a role navigation list on the right. Hopefully this makes it easier to navigate this page.
https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference
Let us know if you have any additional feedback.
thanks

[2021-07-30 21:09] rolyon commented on #65593
#please-close

[2021-07-30 21:09] #65593 closed

[2021-07-30 21:13] kgremban commented on #75956
@stewartadam Thank you for the suggestion. I agree with you that renaming the input in the tutorial could help new users understand the role of inputs, and how they are referenced in the deployment manifest. I've made a pull request to update the C# tutorial with these changes. The different module tutorials aren't all 1-for-1 comparisons, so I'll have to look at the other tutorials individually t

[2021-07-30 21:15] himanshusinha-msft commented on #78982
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-07-30 21:20] MarkusVi commented on #53001
The attribute doesn't belong to the schema. I have remove it from the article.

[2021-07-30 21:30] kgremban commented on #56984
Closing this issue since it has been inactive since the problem was identified as an issue with the solution template. @blackchoey if this bug was ever resolved, please let us know. Thank you.

#please-close

[2021-07-30 21:30] #56984 closed

[2021-07-30 21:32] #75956 closed

[2021-07-30 21:37] MarkusVi commented on #46416
I've created a backlog item to track this.

#please-close

[2021-07-30 21:37] #46416 closed

[2021-07-30 21:38] JamesTran-MSFT commented on #79105
@git14
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-30 21:38] SatishBoddu-MSFT commented on #79108
Hello @nainesh72 Thanks for the feedback.

Could you please provide more info about the issue, any collected logs or telemetry in this regard would be very helpful to understand the situation.

[2021-07-30 21:38] halkazwini opened #79114 "Aggregate bandwidth for VPN may not be accurate"
Hi,

I think the aggregate bandwidth for VPN may not be accurate in the planning table. The aggregate bandwidth can be more than 1 Gbps in VPN but it is always less than 1 Gbps per single VPN tunnel.

Here is the link of the table:
https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpngateways#planningtable

Screenshot:
![image](https://user-images.githubusercontent.com/85655443/

[2021-07-30 21:39] JamesTran-MSFT commented on #79111
@reydelleon-skuvault
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-30 21:40] JCPuerto commented on #27702
I found this thread and it looks similar to the problem I'm having right now:

[code]

I updated all the modules using the `Update-AutomationAzureModulesForAccount` Runbook and the problem is still there. Nothing is being synced from GitHub.

Thank you!

[2021-07-30 21:57] kgremban commented on #79026
@xela-95 We don't currently have guidance for how to set up the device CA certificate at scale. I've heard of people using scripting automation to help with this process. For example, take a look at this sample: https://github.com/arlotito/iot-edge-1.2-tpm/blob/main/step-by-step.md. It's not doing exactly what you're talking about, but does have a section about creating the config.toml file using

[2021-07-30 21:57] DerekHerman-MSFT commented on #79088
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-30 21:58] ashkickindevelopment opened #79115 ""Testing conditions" shows incorrect data throughput for Ultra and High sku's"
Hi if you look at testing conditions section, this actually shows 1 GBPS for all SKUs, but I believe this needs to be updated for High and Ultra. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57b9d6d-27c6-78fd-3b7e-79d373c9699a
* Version Independent ID: 2ea2b328-672e-d426-ad6c-1f52db297196
* Content: [About Ex

[2021-07-30 21:59] alllballls opened #79116 "POSTGRESQLCONNSTR - no postgres in Azure App Service Configuration?"
I've struggled for hours to determine why my App Service deployment won't talk to my postgres database.

It turns out that setting up a Configuration with 'PostgreSQL' in the 'Type' select list is the issue. When 'PostgreSQL' is chosen, 'DefaultConnection' (my key name, others may vary) is always null.

However, when I use 'Custom' as my 'Type', all works perfectly.

Environmental Variables expose

[2021-07-30 22:10] saif-chaudhry commented on #55372
Looking for the same info, is there any update done to the documentation ?

[2021-07-30 22:12] DerekHerman-MSFT commented on #79106
@jodalANP In order to get your issue routed to the right individual could you please link to the documentation page you want to submit feedback for? In the future we recommend opening the issue from the bottom of the documentation page as it includes additional details when the issue is opened.
![documentation feedback](https://user-images.githubusercontent.com/65573242/127716484-172ec20c-1cd3-483

[2021-07-30 22:14] fixx-er opened #79117 "Multi-Factor Authentication need to change to new norm label of per-user MFA"
Multi-Factor Authentication need to change to new norm label of per-user MFA as shown in admins portal.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cb129d2-9594-bf0c-5946-982f0ed0d888
* Version Independent ID: 6522b038-6853-3552-55c8-f174cf56573d
* Content: [Enable per-user Multi-Factor Authen

[2021-07-30 22:24] JamesTran-MSFT commented on #79117
@fixx-er
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

![image](https://user-images.githubusercontent.com/36619112/127717393-cade54c7-0687-4185-8789-470d5e0d918f.png)

[2021-07-30 22:30] jodalANP commented on #79106
I apologize, I did click on a  link at the bottom of the page, but maybe the wrong one?
https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/move-limitations/networking-move-limitations

In this one it does state that the resources are not "frozen," but that had me nervous. In the Japanese version, it actually says "stopped" which was more clear.
Move resources to a new subscri

[2021-07-30 22:37] SrijitBose-MSFT commented on #78967
@rscottwatson thank you for your response. We are archiving this thread for now. If you have further queries please do share on the thread and we shall be glad to continue. :)

#please-close

[2021-07-30 22:37] #78967 closed

[2021-07-30 22:39] #79098 closed

[2021-07-30 22:58] ramborude10 commented on #36409
I've question on similar cmdlets. I'm using below command which was working properly earlier(3 months ago), but without changing anything to PowerShell it stopped working with no errors while execution but its not updating the custom configuration which I want to update. Any help will be appreciated.

    $AppService = Get-AzWebApp -ResourceGroupName $RGName -Name $WebAppName
    $appSettingList =

[2021-07-30 23:03] ramborude10 opened #79119 "Azure appservice configuration not updating with powershell cmdlets"
I've question on similar cmdlets. I'm using below command which was working properly earlier(3 months ago), but without changing anything to PowerShell it stopped working with no errors while execution but its not updating the custom configuration which I want to update. Any help will be appreciated.
Followed - https://docs.microsoft.com/en-us/azure/app-service/configure-common

$AppService = Get-

[2021-07-30 23:10] stewartadam commented on #75956
Sounds good, thanks!

[2021-07-30 23:13] rwike77 commented on #76807
We're updating the 50053 description in https://login.microsoft.com/error  to reflect both possible failure reasons..  Hope that helps reduce confusion.  Right now, looks like the different error reasons are merged into one for MCAS.  I've passed the request on to engineering to surface the different failure reasons in MCAS.  At this point, I can't say what or when improvements will be made.  As t

[2021-07-30 23:13] #76807 closed

[2021-07-30 23:18] rzhang628 commented on #78763
@bhsanghv did you go to the left navigation in Azure Portal, and can you find the Resource Health blade? Or if you already landed on the RH blade, were you able to find your subscription or resource type? Also, what is your subscription? Thanks!

[2021-07-31 01:29] BharathNimmala-MSFT commented on #79093
@Jeej Thank you for reaching out with your query, assigned this issue to our document author to further review.

[2021-07-31 01:32] BharathNimmala-MSFT commented on #79095
@jz-wilson Thanks a lot for sharing feedback on this, we will further review and update the document as needed.

[2021-07-31 01:35] BharathNimmala-MSFT commented on #79100
@roblaw80 Apologies for your experience, we will further review this and get back to you at the earliest.

[2021-07-31 02:09] sachip-msft opened #79123 "When user managed identity is used, script host fails Connect-AzAccount to login."
As per the documentation, when managed identity is used,
_"When the identity property is specified, the script service calls Connect-AzAccount -Identity before invoking the user script."_
However this works most of the time, there are few times the execution errors out with below error, this may be a bug, please verify.

Operation Id: 35CB157451A53481
Correlation Id: 771997d1-5457-4aff-933a-05503f

[2021-07-31 02:27] SanthoshCheekoti opened #79124 "Screenshots would be helpful"
Screenshots on how a managed identity can be assigned to a role in the destination of evengrid would be helpful.
https://docs.microsoft.com/en-us/azure/event-grid/add-identity-roles#use-the-azure-portal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8800d1da-15d0-df91-3ed3-f1655ccd2db8
* Version Independent ID: 34bb337

[2021-07-31 03:24] DerekHerman-MSFT commented on #79106
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-31 05:16] DerekHerman-MSFT commented on #79107
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-31 05:19] DerekHerman-MSFT commented on #79113
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-31 05:20] dcaddick opened #79127 "RSS Feed?"
Can we be able to get this as an RSS Feedback?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e15ac4e7-7e04-980d-27e1-cf5837763cf3
* Version Independent ID: 69f74d6d-c0ee-18cd-9457-f2dbb7771f31
* Content: [Release notes for Azure Security Center](https://docs.microsoft.com/en-us/azure/security-ce

[2021-07-31 05:20] DerekHerman-MSFT commented on #79114
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-31 05:21] DerekHerman-MSFT commented on #79115
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-31 05:22] DerekHerman-MSFT commented on #79116
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-31 05:24] DerekHerman-MSFT commented on #79123
@sachip-msft Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-31 05:24] DerekHerman-MSFT commented on #79124
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-31 05:27] DerekHerman-MSFT commented on #79109
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-31 05:28] DerekHerman-MSFT commented on #79110
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-31 05:29] DerekHerman-MSFT commented on #79119
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-31 07:21] shashishailaj commented on #79127
@dcaddick Thank you for the feedback . We will check this internally and let you know.

[2021-07-31 07:32] KrishnaG-MSFT commented on #79099
@ssmiller60 Thanks for reaching out! I hope you have self resolved the issue and hence closed the issue. If that's not the case then please confirm so we can take this feedback forward.

[2021-07-31 09:51] leongross opened #79129 "Use the Azure Custom Script Extension Version 2 with Linux virtual machines"
The repo you are reffering to seems to be dead. All builds are failing and no commits for a long time. If this is the case, please update or remove this section of your documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df5a8957-9b4c-2a2e-81c2-79125373f8f1
* Version Independent ID: d1c2d4cf-88cd-7581-10b5-88

[2021-07-31 10:03] JCPuerto opened #79130 "Source Control Sync Job failed with "The property 'data' cannot be found on this object" message"
We have a Source Control Sync setup with GitHub. Until recently it was working properly.

Even though the sync job is shown as completed, there is an error in the logs:

[code]

The sync of course is not being done.

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83c90e64-b615-711f-a53d-fc76606e2ecd
* Versio

[2021-07-31 12:00] DEberhardt opened #79131 "Service Plan "Virtualization Rights for Windows 10 (E3/E5+VDA)" contains spaces"
Hello,

I believe the Service Plan Name for "Virtualization Rights for Windows 10 (E3/E5+VDA)" is incorrect.
No other ServicePlan contains spaces.

Please validate this entry.

Thank you,
David

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-18

[2021-07-31 13:47] HarshitaSingh-MSFT commented on #78789
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-31 13:47] #78789 closed

[2021-07-31 13:52] x509cert opened #79132 "Compare the client-side storage crypto with the new MS Data Encryption SDK"
Getting asked this a few times from customers - when should I use the Storage client-side crypto and when should I use the MS Data Encryption SDK? Also compare/contrast the two - they are similar but quite different

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86453250-5bb5-c375-d392-4fa366ddbe43
* Version Independen

[2021-07-31 14:07] jeff-r-koyaltech opened #79133 "Calling out Pod / Deployment inline vs PV/PVC more clearly"
This is a really helpful page, thank you for thoughtfully putting this together!

I think that this comment on the page is a little out of date:
[code]

I think it should be reworded to say that "inline azureFile volume can only access secret in the *default* namespace". This is based on my reading of a technical discussion here:
https://github.com/Azure/AKS/issues/2108

So it may be helpful to al

[2021-07-31 14:15] 6bkatkr commented on #77860
So, still not corrected! Could you do it? I do not want to bother you, just would like to help the community.

Thanks!

[2021-07-31 14:28] surfen opened #79134 "Latte.exe - receiver should not run with -c parameter (which is reserved for the client)"
The example in the last line shown above should not include -c parameter (which is reserved for the client).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5a77eb3-1f6d-0fee-7d77-44a56fdb78b0
* Version Independent ID: 66f67a40-fcb3-9549-63fc-295e330a9c56
* Content: [Validate VPN throughput to a virtual network - Azure

[2021-07-31 15:01] BharathNimmala-MSFT commented on #78618
@mukesh-dua Our sincere apologies for delay on responding back to this thread, we have reached out to our internal for further help on this issue.

[2021-07-31 16:19] BharathNimmala-MSFT commented on #78795
@chinhdo My sincere apologies for delay on responding back to this thread.

Thanks again for bringing this to our notice and helping us improve our Azure documentation. I have raised a PR to update the document. Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been liste

[2021-07-31 16:19] #78795 closed

[2021-07-31 16:29] shashishailaj commented on #79131
@DEberhardt Thank you for pointing this out. We will engage the content team to review and update the thread.

[2021-07-31 16:30] shashishailaj commented on #79130
@JCPuerto Thank you for your query . We will investigate and update the thread.

[2021-07-31 16:34] shashishailaj commented on #79129
@leongross Thank you for your feedback . We will investigate and update the thread.

[2021-07-31 17:25] SubhashVasarapu-MSFT commented on #79134
@Surfen, Thanks for reaching out. We will investigate and update this thread.

[2021-07-31 17:31] SubhashVasarapu-MSFT commented on #78623
@Ayanmullick, we have assigned this issue to the respective product group member for providing deeper insights accordingly. @malopMSFT, could you please provide your insights?

[2021-07-31 17:32] SubhashVasarapu-MSFT commented on #78743
@Swilvan, Apologies for the delay in response. We have assigned this issue to the respective content owner to update the document accordingly.

[2021-07-31 19:47] dave22000 opened #79137 "After < 2 seconds, received message: Failed to establish connection to restful service end point within timeout limit 30 seconds"
I have a REST API call in my custom policy that works fine via postman but errors out immediately in B2C. It is an multi-region Azure Function split behind Azure Traffic Manager.

AADB2C90075: The claims exchange 'REST-API-Testing' specified in step 'Order=1, Type=ClaimsExchange' returned HTTP error response with Code 'Conflict' and Reason 'Failed to establish connection to restful service end poi

[2021-07-31 20:01] vjlptl commented on #72675
I used the code from the tutorial page and the github link above. I still have the error : AttributeError: 'EntityExtractor' object has no attribute 'children'

I have made sure of this : pip install azure-cognitiveservices-language-luis. But still the error is there.

[2021-07-31 20:04] vjlptl opened #79138 "AttributeError: 'EntityExtractor' object has no attribute 'children'"
I have the issue on the tutorial (https://docs.microsoft.com/en-us/azure/cognitive-services/luis/client-libraries-rest-api?tabs=linux&pivots=programming-language-python#feedback) as well as with the code given on the thread #72675. For both I have the error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcbc7152-8b7e-

[2021-07-31 20:14] Karishma-Tiwari-MSFT commented on #79132
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-31 20:15] Karishma-Tiwari-MSFT commented on #79133
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-31 20:20] Karishma-Tiwari-MSFT commented on #79137
Thanks for the question. We are currently investigating and will update you shortly.

[2021-07-31 20:20] Karishma-Tiwari-MSFT commented on #79138
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-08-01 00:23] anthonychu commented on #77359
@hkusulja Static Web Apps will automatically serve the .br version when the client accepts it (`Accept-encoding` includes `br`). I believe we currently do not serve the .gzip version; but all modern browsers support broti now so this is not a big concern. However we are looking into supporting the gzip version as well.

[2021-08-01 02:01] msaranga opened #79140 "Hard Coded Object ID present in document while giving permissions to Key Vault"
Customer need to give permissions to KeyVault for AzureDatabricks Application

az keyvault set-policy -n <key-vault-name> \
--key-permissions get wrapKey unwrapKey  \
--object-id 5b4392d6-86a0-4ea1-ad94-dc9830e378e0

In the above command, Hardcoded Object-ID is present . This value differs tenant by tenant. Please remove hard coded Guid. Provide steps for retrieving Service Principal of Azure Data

[2021-08-01 02:21] ckarrasalithya opened #79141 "Instructions for Debug module in launch mode for C# do not work in latest VS Code"
VS Code version 1.58.2

I'm trying to follow the instructions in section "Debug module in launch mode" for C#, but they need to be updated for the latest VS Code, as the menus seem to have changed.

* "Navigate to the Visual Studio Code Debug view by selecting View > Debug. Select the debug configuration <your module name> Local Debug (.NET Core) from the dropdown."
  * Under the View menu, there

[2021-08-01 03:01] mankadnandan opened #79142 "Link to epidemic algorithms seems wrong"
Hi - the link to the epidemic algorithms seems wrong. Currently it redirects to a paper on "The Load, Capacity and Availability of Quorum systems" (https://www.cs.utexas.edu/~lorenzo/corsi/cs395t/04S/notes/naor98load.pdf). This paper doesn't seem to be an explainer on epidemic algorithms. Can we please get this double checked to correct the link?

Thanks,
Nandan Mankad.
---
#### Document Details

[2021-08-01 03:25] Itamaram opened #79143 "The instructions do not correctly cover adding new scopes"
I tried following the instructions on the page, but failed to set the scopes for my auth flow.

The page says:

But in the portal I get the following message:

And I'm unable to pick my scopes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b7e48aa-3a72-ad15-8926-5008cbdff7c1
* Version Independent ID: 612b1a73-cbb5-77

[2021-08-01 06:13] shashishailaj commented on #79140
@msaranga Thank you for your feedback . We will investigate and update the thread.

[2021-08-01 06:14] shashishailaj commented on #79141
@ckarrasalithya Thank you for your query . We will investigate and update the thread.

[2021-08-01 06:16] shashishailaj commented on #79142
@mankadnandan Thank you for pointing this out . We are engaging the content team to review and update this article as needed.

[2021-08-01 06:21] shashishailaj commented on #79143
@Itamaram Thank you for your query . We will investigate and update the thread.

[2021-08-01 07:06] ElazarK commented on #66557
Hi @oliverchristen sorry for the delay but the item is still in private preview.

[2021-08-01 07:47] vjlptl commented on #79138
I tried again this morning and on the code given in the thread #72675, I don't have the AttributeError now. I have the following:

Traceback (most recent call last):
  File "authoring_and_predict.py ", line 243, in <module>
    quickstart()
  File "authoring_and_predict.py ", line 36, in quickstart
    app_id = create_app(client, appName, versionId)
  File "authoring_and_predict.py ", line 104, in

[2021-08-01 08:04] KranthiPakala-MSFT commented on #78988
Hi @nansravn . As PG is actively working on updating the current docs with latest information. We will now proceed to close this thread based on this update.

Thanks again for pointing this out and bringing this to our notice.

FYI - @julieMSFT

[2021-08-01 08:04] #78988 closed

[2021-08-01 08:22] vjlptl commented on #79138
This is the full error :

Traceback (most recent call last):
  File "authoring_and_predict.py", line 260, in <module>
    quickstart()
  File "authoring_and_predict.py", line 60, in quickstart
    add_entities(client, app_id, versionId)
  File "authoring_and_predict.py ", line 169, in add_entities
    toppingQuantityId = get_grandchild_id(modelObject, "Toppings", "Quantity")
  File "authoring_and_

[2021-08-01 09:28] batamig commented on #79015
Hi @rawatsudhir1, thanks for sending your feedback!
I've added your request to our backlog and will be working with our team to get the additional information added in as needed.
I'm going to close this issue for now, but feel free to continue commenting here if you have more updates.

We appreciate your contributions to docs!
#please-close

[2021-08-01 09:28] #79015 closed

[2021-08-01 12:10] connelhooley commented on #78555
I was deploying the app using the `AzureStaticWebApp` task like this:

[code]

I was hoping to use the `AzureAppServiceSettings` task to update the connection string in function's app settings but it didn't work so I just wanted to know what the offical way of doing it with a Static Web App would be.

Since posting this issue I've moved away from using Azure Static Web App so feel free to close, b

[2021-08-01 12:48] surenderssm opened #79144 "Given the partitioned scope limitations of StoredProcedure, approach discussed in `Denormalizing usernames` section is misleading"
Approach discussed in [Denormalizing Usernames](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-model-partition-example#denormalizing-usernames) section talks about how stored procedure can be used to update usernames in all the posts.

In the scoped example, posts are partitioned by `postId`. Stored procedure can run only a given partition.

Even if somehow customer manages to store postI

[2021-08-01 14:05] ElazarK commented on #66557
@oliverchristen sorry for the delay but the new agent is still in private preview

[2021-08-01 16:07] AnuragSharma-MSFT commented on #78944
@kasunsjc Thanks for replying back. This is being assigned to the content author to evaluate and update as appropriate.

[2021-08-01 16:40] sujitnaray opened #79147 "Link to Event Hub streaming is incorrect"
[Enter feedback here]
The "Learn how to stream events to an event hub" (Pre-requisite #1) should point to https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/tutorial-azure-monitor-stream-logs-to-event-hub , and not to the Microfocus link it currently points to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2021-08-01 17:47] hkusulja commented on #77359
@anthonychu i can not find this in documentation, please submit document fix and write the statement "if file with same name and additional .br extension exists, it is served when accept-encoding has br" ...

[2021-08-01 18:40] Karishma-Tiwari-MSFT commented on #79147
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-08-01 18:41] Karishma-Tiwari-MSFT commented on #79144
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-08-01 19:03] robinsh commented on #58775
The information about the built-in endpoint is stated in multiple places in the documents. For example, here:
You can use standard Event Hubs integration and SDKs to receive device-to-cloud messages from the built-in endpoint (messages/events). **Once a Route is created, data stops flowing to the built-in-endpoint unless a Route is created to that endpoint**. This is the same as the information yo

[2021-08-01 19:06] jspern commented on #34263
@FrankHu-MSFT @MohitVerma-MSFT this issue is not closed. Both the [2.0 general release](https://docs.microsoft.com/en-us/powershell/module/azuread/new-azureadmsgroup?view=azureadps-2.0) and the [2.0 preview](https://docs.microsoft.com/en-us/powershell/module/azuread/new-azureadmsgroup?view=azureadps-2.0-preview) documentation list `-MembershipRule` as a parameter in the example, even though it is

[2021-08-01 19:51] tshaiman opened #79148 "numOfMessages is not used correctly"
[Enter feedback here]
in the Sender Sample numOfMessages  is declared but the for loop has a hard-coded value

for (int i = 1; i <= 3; i++)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 217f29ba-3552-f406-58d3-d2e0c3bd4d2c
* Version Independent ID: 003342a6-6fc5-fae4-31f4-369b561cfd89
* Content: [Get started with Azur

[2021-08-01 21:05] BhargaviAnnadevara-MSFT commented on #78854
@RonnieQuan Yes. As mentioned in the docs, by default, service tags reflect the ranges for the entire cloud. Some service tags also allow more granular control by restricting the corresponding IP ranges to a specified region.

So, the service tag **AzureBotService** allows you to filter inbound traffic from Azure Bot Service for the entire cloud, but **AzureBotService.EastUS** narrows the range to

[2021-08-01 21:05] #78854 closed

[2021-08-01 21:12] haneef95 opened #79149 "Alternative Azure AD Application Proxy Connector options: e.g Firewall inbound rules or VPN tunnel"
Hi,

In relation another issue as an example: #61539

Whereby, some setups are unable to use a Windows Server installation, I would suggest that one of the following two are available:

1. VPN Tunnel (most commonly used tunneling protocols in the VPN industry like: PPTP, L2TP/IPSec, SSTP, or OpenVPN) from the local network to Azure AD.
2. Firewall rules on the local network to allow Azure AD IP ad

[2021-08-01 22:05] arinbanerjee01 opened #79150 "RunFilterParameters code example needs to be corrected"
RunFilterParameters takes last_updated_after & last_update_before as UTC datetime so parameter should take datetime.utcnow() instead datetime.now()
eg.
RunFilterParameters(last_updated_after=datetime.utcnow() - timedelta(hours=1), last_updated_before=datetime.utcnow() + timedelta(hours=1))

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-08-02 00:48] robinsh commented on #57756
you said: In 4. Select Blob Storage...

        the picture shows "Encodig" = "AVRO"    --> it's "Encoding", not "Encodig"
        ...
        the two statements are mutually exclusive ==> mean this configuration will always fail!!!

The two statements are not mutually exclusive. You can set the encoding to Avro and still put in the query level="storage' and it will work fine. (I tried it.) The en

[2021-08-02 00:54] robinsh commented on #70815
Can somebody with better access than I have please make sure there are valid fields and defined correctly here?

iothub-creation-time-utc - This allows the user to send event creation time when sending one message at a time.
iothub-app-iothub-creation-time-utc -- This allows the user to send event creation time when sending data in a batch.

[2021-08-02 01:09] Karishma-Tiwari-MSFT commented on #79148
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-08-02 02:25] ShaikMaheer-MSFT commented on #79150
@arinbanerjee01 Thank you for providing feedback. We are actively investigating it. We will get back to you soon.

[2021-08-02 03:13] MayankBargali-MSFT commented on #79088
@vlad610 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-08-02 03:46] hyoshioka0128 opened #79151 "[LOC]Unnecessary asterisks are displayed (ja-jp)"
ja-jp:"https://docs.microsoft.com/ja-jp/azure/azure-video-analyzer/video-analyzer-docs/get-started-detect-motion-emit-events-portal"
![get-started-detect-motion-emit-events-portal_j](https://user-images.githubusercontent.com/40815708/127801769-2045f0a7-7119-4c19-86de-72d778556e02.png)

en-us:"https://docs.microsoft.com/en-us/azure/azure-video-analyzer/video-analyzer-docs/get-started-detect-motion-

[2021-08-02 03:47] hyoshioka0128 commented on #79151
related #79083 .
Closed #79151 .

[2021-08-02 03:47] #79151 closed

[2021-08-02 04:16] SubhashVasarapu-MSFT commented on #78821
@ajay-aravind, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-08-02 04:16] #78821 closed

[2021-08-02 04:24] MayankBargali-MSFT commented on #78558
@raybelline Right now there is no ETA/plan. You can always pass your feedback/product improvement in our [feedback forum](https://feedback.azure.com/forums/248703-api-management). If there are any new features added in the future we will update our document.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue

[2021-08-02 04:24] #78558 closed

[2021-08-02 04:40] Karishma-Tiwari-MSFT commented on #79151
If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-08-02 04:41] Karishma-Tiwari-MSFT commented on #79149
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-08-02 04:56] BhargaviAnnadevara-MSFT commented on #79065
@m365ken Thank you for the response. I've routed this to the appropriate Team to investigate and update.

[2021-08-02 05:26] AnuragSharma-MSFT commented on #79029
@cbailiss Thanks for your patience. As mentioned in the article, we need to configure the Job Database for running jobs, the pricing will be based on the configuration of this database. However, this feature is still in preview and once it is GA, we will get more clarity on things.

[2021-08-02 05:49] ram-msft commented on #79022
@xtellurian Thanks, Can you please share the error details.
@edjez Can you please confirm on the Maximum Reward wait time.

[2021-08-02 05:49] SadiqhAhmed-MSFT commented on #79096
@Scottie2z Hope the previous post answered your question. Feel free to reply if you have any questions.

[2021-08-02 05:53] v-hakob commented on #78864
Thank you so much @ecfan, these look helpful, and will share the info with cx to confirm it.

[2021-08-02 07:25] yadavdilip19 opened #79152 "The PowerShell Script doesn't handle datatype other then string and datetime"
Hi Team,
The PowerShell script to create the create commands for the table and the mapping doesn't handle other datatype other than string and datetime. We exported the data to Log Analytics to Storage account and from there to Azure Data Explorer for querying the data using KQL. What we found that is while running the KQL, it wasn't able to sum the Counter Value of "Perf" table which we exported.

[2021-08-02 07:35] SnehaAgrawal-MSFT commented on #78857
@Anand-Moghe Thanks for reaching here! As its mentioned here that ASE v3 is available in the [following regions: ](https://docs.microsoft.com/en-gb/azure/app-service/environment/overview#regions) and you can host ASE v3:

- Windows web apps
- Linux web apps
- Docker containers
- Functions

[2021-08-02 07:45] wilfriedwoivre opened #79153 "Missing Microsoft.RecoveryServices/vaults provider"
Hello,

The provider Microsoft.RecoveryServices/vault is missing in this page.

Based on my experience, we have at least tests about :
- Inactivity : No Backup or restore operations in the last 24hours

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b92884e-4bca-47ca-9d8e-4c29c8169b36
* Version Independent ID: db3ee172

[2021-08-02 07:46] SnehaAgrawal-MSFT commented on #77383
@rforster-dev Apologize for the inconvenience on this issue. To understand more on your scenario you are looking for, Could you please send an email to AzCommunity[at]Microsoft[dot]com  with your subscription ID referencing this thread and we will assist you further.

[2021-08-02 08:03] W264946 opened #79155 "More detailed steps needed"
Maybe you can include the steps showing how to create the view as shown in the picture. By default, you will only get the RAW DATA tab after complete the steps in this tutorial. To create the view tab, we need to know the device model for the IoT Plug and Play data.

[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-08-02 08:20] ruoxuMS opened #79156 "Incorrect ARM template example in the doc"
[Enter feedback here]
The ARM template on the bottom
[code]

Shouldn't it be like this?

[code]

VirtualMachieProfile doesn't have properties. When I added properties like the doc, it reports:

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad2cf190-169c-73de-2e33-e2763d1930a8
* Version Independent ID: 858cd630-1

[2021-08-02 08:22] abij opened #79157 "Information about: Increase lifetime for Access Token"
We have followed this guide to setup AAD-Tokens for Databricks instead of PAT.
At the bottom of the page section "Refresh an Access Token" is a link to configure long-living access-tokens.

I think this can be explained in more detail what you need to do, because you need to attach the policy to the App Registration 'AzureDatabricks' and **not** your own app-registration that you created in the gu

[2021-08-02 08:25] AshokPeddakotla-MSFT commented on #79155
@W264946 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-08-02 08:43] GitaraniSharma-MSFT commented on #79007
@NeverOddOrEven , I'm following up on my previous comment. Kindly let us know if the above helps or you need further assistance on this issue.

[2021-08-02 08:49] yutaro113 commented on #78871
Hi @Grace-MacJones-MSFT , thank you for the checking. Any updates so far?

[2021-08-02 09:31] KrishnaG-MSFT commented on #78314
@bmedlin We don’t have this capability today, but discussing roadmap to enable it. Unfortunately, we don’t have ETA to provide yet, but it is high on our list.

[2021-08-02 09:31] KrishnaG-MSFT commented on #78314
At this point it appears that there's no edits or updates needed for the documentation so closing this issue for now.
If there are further questions regarding this matter or questions on the documentation, please do let us know and we will gladly continue the discussion.

[2021-08-02 09:31] #78314 closed

[2021-08-02 09:41] StevenTCramer commented on #78872
@HarshitaSingh-MSFT
The point is that they seem to interchange the terms `operation` and `action`.  The property could be named `IsDataOperation`   Or the column header could be called `Operation` instead of `Action`.
The source code is private (or I can't find it) so I can't determine for sure what the underlying classes are named.

Probably not a huge deal but was confusing to me when trying to

[2021-08-02 10:06] VikasPullagura-MSFT commented on #79156
@ruoxuMS
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-08-02 10:06] VikasPullagura-MSFT commented on #79156
@sukanyamsft
Can you please check and add your comments on this doc update request as applicable.

[2021-08-02 10:15] komayama opened #79161 "Need to match between AppService EasyAuth V2 and Azure AD V2."
This page tutorial that authenticate and authorize users end-to-end in Azure App Service.
App Service authentication feature using by EasyAuth V2 and this feature connect to Azure AD V2 endpoint.

The following document page use `API registrations` but Azure AD V2 is using `Expose an API` so need to change step for Azure AD V2.
### Grant front-end app access to back end
https://docs.microsoft.com/

[2021-08-02 10:22] ssivas commented on #77213
Yes, following is supported private endpoint connection of Key Vault (Microsoft.Keyvault/vaults/privateEndpointConnectionsApproval/action) and changes should appear in docs next week.

Appreciate your patience and thanks for bringing this to our notice.

#please-close

[2021-08-02 10:22] #77213 closed

[2021-08-02 10:22] avnerms opened #79162 "Mismatches in the description and another comment"
Hi,

In one place you show:
                        listenOptions.UseHttps(FindMatchingCertificateBySubject());

In another you show:
                        private X509Certificate2 FindMatchingCertificateBySubject(string subjectCommonName)

You call it with no params but you declare it with a param.

And then you write:
                        "Replace "<your_CN_value>" with "mytestcert""

But <

[2021-08-02 10:29] psmanhas commented on #79162
@avnerms Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-08-02 10:30] psmanhas commented on #79162
@sukanyamsft Can you please check and add your comments on this doc update request as applicable

[2021-08-02 11:05] APEThomas opened #79163 "Sysprep count"
This article states "You can run the Sysprep command up to 8 times on a single Windows image." However, the linked documentation (https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/sysprep--generalize--a-windows-installation#limits-on-how-many-times-you-can-run-sysprep) states sysprep can be run either 3 or 1001 times, depending on the version of Windows.  Can you please clarify

[2021-08-02 11:07] JCPuerto commented on #79130
Hi @shashishailaj,

The issue is resolved. Here is a service health status we received:

https://app.azure.com/h/GLCY-LDZ/598bf6

I think you can close this issue.

Thank you!

[2021-08-02 11:14] SwathiDhanwada-MSFT commented on #79152
@yadavdilip19 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2021-08-02 11:15] SwathiDhanwada-MSFT commented on #79153
@wilfriedwoivre Thanks for your comment. We will review the issue and get back to you shortly.

[2021-08-02 11:24] mbecker-ms opened #79165 "Dead link on the page"
https://docs.microsoft.com/en-us/rest/api/apimanagement/2019-12-01/reports at the bottom of the page (Reports REST API) results in 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fa7b7b8-e2ce-eba9-8d03-b5ab4e079aea
* Version Independent ID: dcca6523-c696-c316-5920-7313e3a462fb
* Content: [Use API analytics in Azure

[2021-08-02 11:26] SwathiDhanwada-MSFT commented on #79130
@JCPuerto Thanks for the update.

[2021-08-02 11:26] #79130 closed

[2021-08-02 11:28] SwathiDhanwada-MSFT commented on #78874
@rogierverkaik As of now, I have no information related to it. If I get any update, I will post here.

As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-08-02 11:28] #78874 closed

[2021-08-02 11:46] AnuragSharma-MSFT commented on #79032
@Sonali00000 Thanks for your response. Rest API call which is mentioned in the document will need the subscription id and resource group as mentioned in the below article:

[Database Accounts - List Keys](https://docs.microsoft.com/en-us/rest/api/cosmos-db-resource-provider/2021-04-15/database-accounts/list-keys)

[2021-08-02 11:57] weyCC81 commented on #75627
* News

* Testing

"403 Sorry! Access denied :(" on the following Sites:

Mail flow, Rules → https://admin.exchange.microsoft.com/#/transportrules
Organization, Sharing → https://admin.exchange.microsoft.com/#/sharing
Organization, Add-ins → https://admin.exchange.microsoft.com/#/addins
Public folders, Public folders → https://admin.exchange.microsoft.com/#/publicfolders
Public folders, Public fol

[2021-08-02 12:08] 29039 commented on #67344
@MarileeTurscak-MSFT

[2021-08-02 12:19] nainesh72 commented on #79108
Hi
please refer my https://github.com/Azure/azure-sdk-for-net/issues/22905
Heare all logs and total detail, when I go deep in this issue that I found that there no problem in the cloud but mu edgeHub send a duplicate message whereas my edge module send only one message but i don't know how edgeHub send duplicate event to cloud

[2021-08-02 12:38] SarveshPandey opened #79168 "How set alerts on Azure subscription credits"
We need to set alerts on credits usage in Azure subscription so it triggers mail to the person once the threshold value is reached.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc2134b7-c82f-3143-eeba-5b55a1c6185d
* Version Independent ID: 5a375493-c55d-8e4f-ee7e-f2dda18103e5
* Content: [Overview of alerting and notif

[2021-08-02 12:45] nouraaan opened #79169 "Can't imort ASA Packages to unity"
Hi,

I am following the Microsoft's documentations to import ASA packages but when i tried to import the downloaded package to unity it gave me this error :

Cannot perform upm operation: Unable to add package [com.microsoft.azure.spatial-anchors-sdk.android@file:C:/Users/Nouran/Downloads/com.microsoft.azure.spatial-anchors-sdk.android-2.9.0/package]:
  Package com.microsoft.azure.spatial-anchors-

[2021-08-02 12:58] bdschaap opened #79170 "Azure SQL Managed Instance Max Name Length"
Can you provide the max length of an Azure SQL Managed Instance name?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28ca1f7f-5a34-0f23-10ce-3ff24c76db97
* Version Independent ID: 5c4a22c4-78fc-911d-9fa0-8dfab1653b6e
* Content: [What is Azure SQL Managed Instance? - Azure SQL Managed Instance](https://docs.microsoft.co

[2021-08-02 13:14] g-spencer opened #79171 "az vm image accept-terms --urn"
please note the accept terms command format has changed, it is now :
"az vm image accept-terms --urn....."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71fcae74-a9df-b47b-7775-846cc2bca19c
* Version Independent ID: 93ee4090-3b95-8886-4375-99f6a7e38673
* Content: [Find and use marketplace purchas

[2021-08-02 13:18] GitaraniSharma-MSFT commented on #79072
@BrendanEnglehart , We have assigned this to the respective product owner for review.

@azhar2005 , Our internal CRI history indicates that the RSA cipher that is specifically needed for metrics/logs to work is:
TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256

Could you please review this and update the doc as required?

[2021-08-02 13:19] RyanHill-MSFT commented on #79161
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;he

[2021-08-02 13:22] MGoedtel commented on #79064
@InformTechPro - We are in the process of updating the documentation to clarify the rights required to create a Run As account and renew the certificate.  It should go live this month.  In the meantime, here are the rights required to renew the cert -

To renew a Run As account, permissions are needed at three levels:

- Subscription,
- Azure Active Directory (Azure AD), and
- Automation account

[2021-08-02 13:23] #79064 closed

[2021-08-02 13:28] GitaraniSharma-MSFT commented on #79114
@haalkaz , we already have 2 previous issues raised for this : https://github.com/MicrosoftDocs/azure-docs/issues/69017 & https://github.com/MicrosoftDocs/azure-docs/issues/76126.

The PG team has provided the below update on this:
While the bandwidth can go to 1.25 Gbps, we document 1 Gbps as a conservative number for a single tunnel. There is no explicit throttle we put to cap it. Our number is

[2021-08-02 13:33] hrmsft opened #79172 "Document missing information - Managed Identity swap config"
[Enter feedback here]
In this Function App reference is missing some settings regarding the section "Which settings are swapped?"

Please update either the "Settings that are swapped" list and "Settings that aren't swapped" list according with APP Service reference bellow.

Please use this reference:
https://docs.microsoft.com/en-us/azure/app-service/deploy-staging-slots#which-settings-are-swapped

[2021-08-02 13:55] olumideo commented on #61632
Hi Guys,
Was this issue eventually resolved? If yes, is it documented anywhere? I have the same issue.

[2021-08-02 14:00] KenanBektas opened #79174 "Problem with the SpatialAnchorConfig"
Hi,

While following this guidelines I receive several compile errors at step Configure the account information such as:

Assets\AzureSpatialAnchors.Examples\Scripts\DemoScriptBase.cs(316,53): error CS0246: The type or namespace name 'AnchorLocatedEventArgs' could not be found (are you missing a using directive or an assembly reference?)

Assets\AzureSpatialAnchors.Examples\Scripts\AzureSpatialAnc

[2021-08-02 14:06] rboucher commented on #79168
Are you having trouble understanding the documentation @SarveshPandey ?  Are you talking about actual money for your subscription or CPU credits?  If the former, you'll need to look at cost management.  See https://docs.microsoft.com/en-us/azure/cost-management-billing/costs/cost-mgt-alerts-monitor-usage-spending

[2021-08-02 14:10] InformTechPro commented on #79064
This is really good information. Would also be helpful to add information about configuration item(s) that requires access permissions at the AD (similar to additional information included for the subscription). Some customers might be using custom groups in the AD as well.

[2021-08-02 14:13] GitaraniSharma-MSFT commented on #78968
@colindembovsky , the URL rewrite setting looks correct to me. Not sure why it is not working. It may need further investigation. So if you have a support plan, I request you file a support ticket, else please do let us know, we will try and help you get a one-time free technical support. In case you need help with a one-time free technical support, could you send an email to azcommunity@microsoft

[2021-08-02 14:13] #78968 closed

[2021-08-02 14:30] KenanBektas commented on #79174
I found the cause of this problem:

The link you provide in Download ASA Packages [here](https://docs.microsoft.com/en-us/azure/spatial-anchors/how-tos/setup-unity-project?ranMID=46131&ranEAID=a1LgFw09t88&ranSiteID=a1LgFw09t88-Gf6pNiv354lHdF.VmmKSvw&epi=a1LgFw09t88-Gf6pNiv354lHdF.VmmKSvw&irgwc=1&OCID=AID2200057_aff_7806_1243925&tduid=(ir__sx63zjr1mskfqznhkk0sohz3wu2xrzsgj3x1wyir00)(7806)(1243925)(

[2021-08-02 14:40] daytoworksync commented on #79174
@

[2021-08-02 14:45] spelluru commented on #79148
@PramodValavala-MSFT - I fixed it already. Please verify and close the issue. Thanks.

[2021-08-02 14:46] MicrosoftGuyJFlo commented on #79085
Checking with the Product Group.

[2021-08-02 14:49] kobulloc-MSFT commented on #79171
@g-spencer Thank you for bringing this to our attention!  We are investigating and will get back to you shortly.

[2021-08-02 14:51] abandyop commented on #78929
@whhender I'm not able to see this workaround added yet, has it been added already ?

[2021-08-02 14:54] aryasourav-abinbev commented on #79037
@MarileeTurscak-MSFT thanks for the update. But my case is as below

We have a service account that has access only to onprem DNS records only. It can't login to DC servers where DNS is hosted. So we need to run a script from Azure runbook to update the DNS record remotely. How we can establish the connection using the service account sothat we can perform the task.

[2021-08-02 14:54] Nicholak-MS commented on #79131
@DEberhardt, a handful of Service Plans do in fact have spaces in them, but this is fairly uncommon. The Virtualization Rights for Windows 10 is correct in the documentation, but I did fix some casing issues across SKU's. This change will be reflected in a publish later today. Thanks!

#Please-Close

[2021-08-02 14:54] #79131 closed

[2021-08-02 15:01] TaekeK commented on #78145
Hi James,

Thanks for your efforts. We don’t have the #id_token after the authresp, so that might be the issue.

Met vriendelijke groet,
Taeke Kooiker

***@***.***
Maatschap Fortigi
Gargouille 47  |  4007 RE  |  Tiel
KVK: 67045294  |  BTW: NL856807151B01  |  Bank: NL26 INGB 0007 9055 37
M: +31 6 49 135 975<tel:+31649135975>  |  T: +31 85 060 2215<tel:+31850602215>  |  E: ***@***.******@***.***>  |

[2021-08-02 15:01] kobulloc-MSFT commented on #79163
@APEThomas Thank you for bringing this to our attention!  We are investigating and will get back to you shortly.

[2021-08-02 15:03] Nicholak-MS commented on #75103
@LadToHelp, I am having trouble tracking down this exact SKU so I can add it. Do you have any additional details you can share? A String ID (Product) or a Service Plan name or GUID that is associated to this SKU. Thanks.

[2021-08-02 15:06] Nicholak-MS commented on #76972
Hi @jmcarthurcorr there are GCC and GCC High products and service plans included throughout the document. Are you seeing that specific products are not included? Can you enumerate them and I can work to add them. Thanks.

[2021-08-02 15:12] GitaraniSharma-MSFT commented on #78914
@spissay , do you have a subnet named "AzureFirewallSubnet" with /26 address space in the Vnet where you are trying to deploy the Azure Firewall? Please check the subnet and also update your PowerShell to the latest version.

Reference : https://docs.microsoft.com/en-us/azure/firewall/deploy-ps#create-a-virtual-network-and-azure-bastion-host

The Azure Az PowerShell module works with PowerShell 7.

[2021-08-02 15:12] #78914 closed

[2021-08-02 15:16] hiroakimurata opened #79177 "Need to clarify HTTP-based redirect URI by using the manifest editor."
[Enter feedback here]
For security reasons, HTTPS schema for the redirect URIs are recommended but the document says that it's possible to set an HTTP-based redirect URI by using the manifest editor. It actually allows http://localhost for test purpose only.
It should be reviewed because the current documentation seems like it says we support both http and https for redirect URLs in general. At le

[2021-08-02 15:17] craigshoemaker commented on #67217
Thanks, @shmool!

I added a code example to that section to be more explicit about where the settings go in the configuration file.

#please-close

[2021-08-02 15:17] #67217 closed

[2021-08-02 15:18] AshokPeddakotla-MSFT commented on #79174
@KenanBektas Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-08-02 15:22] yiliuTo opened #79178 "Is session enabled queue/subs for Azure Service Bus supported by using JMS API?"
From the [unsupported-features-and-restrictions](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-java-how-to-use-jms-api-amqp#unsupported-features-and-restrictions) section, it's declared that  **MessageSelector** is not supported, thus does it also mean that I cannot use qpid-jms-client to receive messages from session enabled queues?
For Service Bus requires an AMQP mess

[2021-08-02 15:30] MGoedtel commented on #79064
@InformTechPro - Can you share an example of a configuration item per your suggestion?

[2021-08-02 15:31] haalkaz commented on #79114
Hi Gitarani,

Thank you for your email.

I agree with you about 1 Gbps as the single tunnel limit, but in the table below, it is mentioned as "aggregate" not as a "single tunnel" for the 1 Gbps limit when comparing with ExpressRoute, and this is why I provided the feedback in the first place:

***@***.***

https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpngateways#planningtab

[2021-08-02 15:39] Nicholak-MS commented on #76978
Hi @itsnotaboutthecell I have included the details for Power_BI_Pro_CE in the documentation. It will be published later today.

@Please-Close

[2021-08-02 15:39] #76978 closed

[2021-08-02 15:47] pamcdo commented on #78898
@MarileeTurscak-MSFT @curtand @jongross4

I think this issue should be re-opened. The entire section of "Direct licenses coexist with group licenses" isn't valid and needs to be redone.

It's approached from the standpoint that if you have existing users with group-based licensing that you can go back and then do direct license assignments of the same SKU to enable or disable features that were se

[2021-08-02 15:53] HarshitaSingh-MSFT commented on #78825
@YajB, please note that updating the document will take time as we will verify and then update. I will now close the issue and will update the thread once the PR is merged.

CC: @jeevansd

[2021-08-02 15:53] #78825 closed

[2021-08-02 15:58] 50c opened #79182 "Wrong command parameter registry-name"
Some small corrections:
[code]
should be
[code]
accordingly the description should change from registry-name to web-app name

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36d6ead7-4a59-ee55-327a-6cc1a909b6b8
* Version Independent ID: d529825d-8e4e-1174-14ff-b404791ef304
* Content: [Tutorial: Build and run a

[2021-08-02 16:14] CaitlinV39 commented on #78244
@zxue did you update the PR?

[2021-08-02 16:17] leshkinski opened #79183 "Register Azure Front Door step needs cli ref"
Register Azure Front Door needs a reference that shows cli syntax - most users don't use PowerShell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 105783bc-d51e-c199-7c51-1475bc9fbaa0
* Version Independent ID: 114c01b8-8b95-ff91-98c5-fd44b12ac6fc
* Content: [Tutorial - Configure HTTPS on a custom domain for Azure Fron

[2021-08-02 16:24] hpsin commented on #78369
#please-close - covered in fix above.  @mbukovich , if you can check out the updated doc and let me know if you think it's a good improvement, I'd really appreciate the feedback - thanks!

[2021-08-02 16:24] #78369 closed

[2021-08-02 16:27] cindyweng commented on #78474
Can confirm now it's working fine. Might have been an outage issue?

[2021-08-02 16:27] #78474 closed

[2021-08-02 16:30] rolyon commented on #79008
Hi @maskx
Thanks for your feedback. We have submitted this feedback to our localization team.
thanks

[2021-08-02 16:30] #79008 closed

[2021-08-02 16:40] hpsin commented on #57942
I've updated the doc to discuss how Teams is not included in the concerns around legacy auth, as Teams does not support legacy auth.

[2021-08-02 16:43] zxue commented on #78244
Yes the pr has been signed off and closed
https://github.com/MicrosoftDocs/azure-docs-pr/pull/166796

[2021-08-02 16:45] AnuragSharma-MSFT commented on #79170
@bdschaap Thank you for reaching out. The max length of name of Azure SQL Managed Instance is 63 characters. You can refer to below article for more details on naming length of different entities on SQL.

[Naming rules and restrictions for Azure resources](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-name-rules)

![image](https://user-images.githubusercontent.c

[2021-08-02 16:46] Nicholak-MS commented on #78007
I have added the Team Meeting Rooms and Meeting Rooms Premium SKUs to the online documentation. It will publish later today.

#please-close

[2021-08-02 16:46] #78007 closed

[2021-08-02 16:47] ealsur commented on #79109
Duplicate of https://github.com/Azure/azure-cosmos-dotnet-v3/issues/2644

[2021-08-02 16:53] JamesTran-MSFT commented on #79177
@hiroakimurata
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-08-02 16:58] JamesTran-MSFT commented on #78063
Closing this issue since this is by design.

[2021-08-02 16:58] #78063 closed

[2021-08-02 17:00] kenwith commented on #73336
The app proxy articles have moved to their own content set. I have added this to our internal backlog to get addressed. Thank you for taking the time to provide detailed feedback based on your experience. It is greatly appreciated.

#please-close

[2021-08-02 17:00] #73336 closed

[2021-08-02 17:03] dlepow commented on #79165
@mbecker-ms - Thanks very much for the heads-up. We'll fix that link soon.
#assign:@dlepow

[2021-08-02 17:05] mrbullwinkle commented on #78114
Closing this issue out based on PM team response.

[2021-08-02 17:05] mrbullwinkle commented on #78114
#please-close

[2021-08-02 17:05] #78114 closed

[2021-08-02 17:15] craigshoemaker commented on #79172
@stefanushinardi do you have a list of values that are swapped/not swapped?

[2021-08-02 17:22] himanshusinha-msft commented on #79157
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-08-02 17:38] halkazwini opened #79185 "Local preference for route optimization in private peering"
Hi,

In the note of the Solution: use BGP Communities section, it would be much clearer, if "Private Peering" is mentioned in the note as it is confusing to customers and even to MS support engineers (I asked my colleagues and it took them time to figure out that the note is about private peering)
https://docs.microsoft.com/en-us/azure/expressroute/expressroute-optimize-routing#solution-use-bgp-co

[2021-08-02 17:42] BharathNimmala-MSFT commented on #78852
@chuckthompsonprofisee My sincere apologies for delay in getting back to this thread.

Please note that [this](https://github.com/MicrosoftDocs/azure-docs/issues) channel (the Azure Docs repository) is only for driving improvements related to the Azure documentation.

Looking into the scenario you shared , it needs some deeper troubleshooting. Can you please send an email to AzCommunity@microsoft.

[2021-08-02 17:42] #78852 closed

[2021-08-02 17:52] ggailey777 commented on #78576
We officially recommend using [Application Insights for collecting, viewing, and querying Functions logs](https://docs.microsoft.com/azure/azure-functions/functions-monitoring).

[2021-08-02 17:59] JamesTran-MSFT commented on #79049
@chaplic
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I'll assign this issue to the author to review the user.ReadAll permission and update as needed.
Thank you for your time and patience!

[2021-08-02 18:03] KrishnaG-MSFT commented on #79169
@nouraaan Thanks for reaching out! [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so can you please share the Azure document link to which your feedback is related to.

If you need help in resolving a p

[2021-08-02 18:19] MicrosoftGuyJFlo commented on #79085
This functionality is in the process of being disabled.

[2021-08-02 18:25] timsander1 commented on #79109
#please-close

[2021-08-02 18:25] #79109 closed

[2021-08-02 18:42] AjayKumar-MSFT commented on #79068
@georgeOsdDev, Apologies for the delay! Just to clarify, this referenced doc '[Configure Java apps - Azure App Service](https://docs.microsoft.com/azure/app-service/configure-language-java)' - has steps outlined for both the platforms Windows and Linux.

**For Linux:**
"Adding a shared, server-level data source will require you to edit Tomcat's server.xml. First, upload a startup script and set th

[2021-08-02 18:57] SamaraSoucy-MSFT commented on #79178
Thanks for the question! We will review and get back to you shortly.

[2021-08-02 19:01] jmcarthurcorr commented on #76972
One example - Microsoft 365 Phone System.
We have MCOEV_GOV, but this is not reflected in the documentation, nor in the output for the cmdlet `Get-AzureADLicense`
[code]

[2021-08-02 19:05] mbukovich commented on #78369
@hpsin
I think that update is perfect, thanks!

[2021-08-02 19:05] jmcarthurcorr commented on #76972
Here's the output of our `Get-MsolAccountSku`
[code]
There are a handful not even in the cmdlet output.

[2021-08-02 19:07] nainesh72 commented on #79108
Hi satish
you get detail,

[2021-08-02 19:09] SnehaGunda commented on #67188
The above PR refreshed this doc. Changes will be live in a couple of days. We will close this issue now.

#please-close

[2021-08-02 19:09] #67188 closed

[2021-08-02 19:20] Nicholak-MS commented on #77562
Hi @ssmiller60, I have added EMS_Gov to the Service Plans documentation. It will be published later today.

#please_close

[2021-08-02 19:20] #77562 closed

[2021-08-02 19:23] kobulloc-MSFT commented on #79171
@g-spencer Thank you again for reaching out!  There are two very similar az vm image commands for Azure CLI.  `az vm image accept-terms` has been deprecated and will be removed in version 3.0.0.  The current recommendation is to use `az vm image terms accept`.

![image](https://user-images.githubusercontent.com/37556655/127912623-05b6a5ad-8601-414d-ad95-ff51343ec964.png)

![image](https://user-ima

[2021-08-02 19:27] #78857 closed

[2021-08-02 19:28] SnehaGunda commented on #79025
@MS-jeremy fixed in the above PR.

#please-close

[2021-08-02 19:28] #79025 closed

[2021-08-02 19:42] asilvanyfiap opened #79186 "feedback to add more examples in the doc"
Missing example how to configure the proxy on azure arc machines
Add in this doc the module installation  Install-Module -Name Az.ConnectedMachine

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd3dca2f-629d-36e9-f0f0-8c7e64cc04ab
* Version Independent ID: f40ee991-6cb8-1eee-9a35-ebc5833d7c7f
* Content: [Azure Monitor

[2021-08-02 19:49] v-gpettibone commented on #36676
Issue is a couple of years old. Can't reproduce so not a doc bug. One possibility is that it takes up to a few minutes to create a hub. If one tries creating a device before the hub is fully provisioned and active, the script doesn't work. Other than that, it may have been some kind of  transient error. Not sure at this point. Going to close the issue.

[2021-08-02 19:50] v-gpettibone commented on #36676
#please-close

[2021-08-02 19:50] #36676 closed

[2021-08-02 19:52] SatishBoddu-MSFT commented on #79108
Hello @nainesh72 Thanks for linking the other issue.
We would like to collaborate on the linked issue and close this issue.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/in

[2021-08-02 19:52] #79108 closed

[2021-08-02 19:57] SnehaGunda commented on #79142
Updated link in the above PR. Changes will be live later today. We will close this issue now.

#please-close

[2021-08-02 19:57] #79142 closed

[2021-08-02 20:07] #79085 closed

[2021-08-02 20:07] GiftA-MSFT commented on #78903
@lobrien can you please review above doc feedback? Thanks.

[2021-08-02 20:09] Nicholak-MS commented on #77581
Added SKU's for the following products.
MICROSOFT_REMOTE_ASSIST
VIRTUAL_AGENT_BASE
FLOW_BUSINESS_PROCESS
CDSAICAPACITY
POWERAUTOMATE_UNATTENDED_RPA
MICROSOFT_REMOTE_ASSIST_HOLOLENS
MEETING_ROOM

change will publish later today.

#please-close

[2021-08-02 20:09] #77581 closed

[2021-08-02 20:20] InformTechPro commented on #79064
RunAs account has a service principal in active directory. For example, AD application administrator permissions might be necessary to handle read or update the service principal properties. However, we did test giving user account ownership permissions on the service principal, those permissions were not sufficient to renew the certificate. User needs application administrator or application deve

[2021-08-02 20:34] dbona75 commented on #79085
What do you mean ?

Scarica Outlook<https://aka.ms/qtex0l> per iOS
________________________________
Da: John Flores ***@***.***>
Inviato: Monday, August 2, 2021 8:19:18 PM
A: MicrosoftDocs/azure-docs ***@***.***>
Cc: Daniele Bona ***@***.***>; Mention ***@***.***>
Oggetto: Re: [MicrosoftDocs/azure-docs] The SSO behavior is applicable not only to registered primary user (#79085)

This functionality

[2021-08-02 21:08] DerekHerman-MSFT commented on #78888
@frenky29a I see you are still working through the Support Case. I'd recommend continuing working through the case to resolve your issue. If you feel there is modification or updates needed to the document afterwards you can create a new issue or reopen this issue.

[2021-08-02 21:08] #78888 closed

[2021-08-02 21:11] leifbro commented on #78950
Hi @KranthiPakala-MSFT can you confirm what should be updated? I assume:
-  The output screenshot in step 5 of https://docs.microsoft.com/en-us/azure/databricks/scenarios/quickstart-create-databricks-workspace-portal?tabs=azure-portal#run-a-spark-sql-job, which currently lists Boston data and should show Seattle data.
- Step 7 in the same section: change "Set Keys to source" to "Set Keys to catego

[2021-08-02 21:21] femsulu commented on #79123
Reassigning to @BharathNimmala-MSFT

[2021-08-02 21:24] N6UDP commented on #78491
#78826 has some details.

[2021-08-02 21:30] mmacy commented on #74892
@sarah206 Apologies once again for the delay - I've received a response from the team regarding your question.

- **Q:** Can I publish an API *only* in the Azure AD application gallery, with no cost model, so customers finding our APIs in the gallery contact us for the credentials?
- **A:** ❌ No, you can't publish *only* an API to the gallery - only applications.

Cc: @eringreenlee

#please-close

[2021-08-02 21:30] #74892 closed

[2021-08-02 21:50] brandoncramer opened #79188 "WEBSITE_VNET_ROUTE_ALL no longer a valid configuration"
As of approximately 7/28/2021, the WEBSITE_VNET_ROUTE_ALL  configuration parameter no longer controls all network traffic being routed through the VNET. Rather, a site configuration, "vnetRouteAllEnabled" must be enabled in order to accomplish the same integration with the VNET and therefore allow the use of Private DNS Zones etc.

![image](https://user-images.githubusercontent.com/13122880/127927

[2021-08-02 22:05] lobrien commented on #78903
Fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/167739

[2021-08-02 22:05] lobrien commented on #78903
#please-close

[2021-08-02 22:05] #78903 closed

[2021-08-02 22:12] ThomasWeiss commented on #79144
@surenderssm The approach outlined in this article is certainly not "efficient"; as you mention, it can take a substantial amount of time depending on how many posts you have. The rationale for this approach is that (1) updating usernames is a very rare operation and (2) we can let it run in the background for as much time as it takes as users can deal with eventual consistency here.
A more normal

[2021-08-02 22:31] xtellurian commented on #79022
@ram-msft

I try to set the reward wait time to 7 days.

Error message in the Azure Portal is unhelpful:

![image](https://user-images.githubusercontent.com/8497130/127931716-e0bff684-deeb-4270-ae8b-3eeee92b8a95.png)

But if I inspect the HTTP request via browser debugger:

[code]

[2021-08-02 22:42] SergGu commented on #77395
Please update announcement with General Availability statement here - https://azure.microsoft.com/en-us/updates/key-vault-private-endpoint/ Thanks.

[2021-08-02 22:44] v-condav commented on #79080
Removed. The change should appear in a day or so.

[2021-08-02 22:58] JimacoMS4 commented on #39536
#reassign JimacoMS4

[2021-08-02 23:43] duongau commented on #76259
@bigkangji Thank you for bringing this to our attention. I have updated the 2nd question to match the description of the first question.

#please-close

[2021-08-02 23:43] #76259 closed

[2021-08-03 00:24] ChaitanyaNaykodi-MSFT commented on #79185
Hello @haalkaz,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-08-03 00:26] ChaitanyaNaykodi-MSFT commented on #79183
Hello @leshkinski,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-08-03 00:27] duongau commented on #14403
#please-close

[2021-08-03 00:28] #14403 closed

[2021-08-03 00:41] ChaitanyaNaykodi-MSFT commented on #78915
Thank you @spelluru, for the response.
@v-kydela, we will now proceed to close this issue out. Please tag me in your response if there are any additional concerns. Thank you!

[2021-08-03 00:41] #78915 closed

[2021-08-03 00:54] duongau commented on #15998
@cha000 We have reviewed the commands and they should now be working as expected. I have updated the variables for more consistency with the commands. Thank you.

#please-close

[2021-08-03 00:54] #15998 closed

[2021-08-03 01:18] mmacdonald21 opened #79191 "Missing recommended policies"
Recommended policies only includes one section on virtual machines? Am I missing other areas for recommended policies as this is in the general governance section not just VM's?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9873756d-1f51-478d-f352-231c2624a8a8
* Version Independent ID: 6af6592e-f612-e80b-ce54-0dbab8a8

[2021-08-03 01:19] kalpak92 opened #79192 "Broken link"
The link to "**Overview of the resiliency pillar**" within the Regions section is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cca70845-100f-2cfd-aba3-34b7fa4a5264
* Version Independent ID: 475b26e5-9e23-f769-3bd5-cbc4a678dbf0
* Content: [Regions and Availability Zones in Azure](https://docs.microsoft.com/en-

[2021-08-03 01:22] SamaraSoucy-MSFT commented on #79192
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-08-03 01:37] LadtoHelp commented on #75103
This has already been resolved.
![image](https://user-images.githubusercontent.com/72976165/127944038-2892d25d-53df-4d9b-bb6f-215ee4ed1864.png)

[2021-08-03 01:37] #75103 closed

[2021-08-03 01:39] dcbrown16 opened #79193 "Repeated info"
The "other ways" section at the end of this doc appears to be repeating paragraphs that are already included above under "Monitor costs". Please take a look and clean up the doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd5030ed-0c42-3667-38d9-08f1eaefac9b
* Version Independent ID: e3aea896-36ba-42b8-2abd-349c267

[2021-08-03 01:45] BharathNimmala-MSFT commented on #79186
@asilvanyfiap Thank you for your feedback , assigned the issue to our document author to further review your feedback and see how we can enhance the document.

[2021-08-03 01:51] BharathNimmala-MSFT commented on #79191
@mmacdonald21 Thank you for reaching out with your feedback, assigned the issue further to our document author to further review.

[2021-08-03 01:51] BevanSin opened #79194 "ASN Number difficult to find"
[Enter feedback here]
When searching for Azure ASN or ExpressRoute ASN this document is difficult to find. However if you search for Azure Autonomous System Numbers then this is the first result.  Not sure if this is an indexing or tagging issue that can be easily resolved - just highlighting a problem customer have finding that information.

---
#### Document Details

⚠ *Do not edit this section.

[2021-08-03 02:04] ChaitanyaNaykodi-MSFT commented on #78905
Hello @JSieglaf, I was successfully able to run the tutorial locally.

![image](https://user-images.githubusercontent.com/67453298/127944625-98e72353-b2f8-4415-a0e2-4d4403e90c08.png)

![image](https://user-images.githubusercontent.com/67453298/127944845-927c67b2-7ade-4d96-948c-2f08f66c891a.png)

Could you please confirm if the Visual Studio version is 16.10 and above, as mentioned in the document?

[2021-08-03 02:04] #78905 closed

[2021-08-03 02:14] ram-msft commented on #79022
@xtellurian Thanks, We have fixed the article to 2 days, Raised PR #https://github.com/MicrosoftDocs/azure-docs-pr/pull/167779 for the same.

[2021-08-03 02:18] ram-msft commented on #79022
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-03 02:18] #79022 closed

[2021-08-03 02:26] DCtheGeek commented on #79191
@mmacdonald21 Thanks for the question!  This page and the 'Recommended policies' experience currently only covers VMs. As it is expanded to other Azure services, the page will grow to reflect that. If you are looking for more policy definitions coverage to consider, I'd recommend looking at one of the [Regulatory compliance](https://docs.microsoft.com/azure/governance/policy/samples/#regulatory-co

[2021-08-03 02:26] #79191 closed

[2021-08-03 02:54] vytux-com opened #79196 "Incorrect example of how to use Managed Identities"
The following code block is incorrect:
[code]

Should be `Connect-AzAccount -Identity
`

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9ce2612-b600-3fca-3315-a7836ef91c96
* Version Independent ID: 78766eed-c3c6-ce60-7620-17b99f3d9d5e
* Content: [Using a system-assigned managed identity for an Azure Automation account

[2021-08-03 02:58] vipulsparsh commented on #79019
@DishanH  Can you confirm if you have created the CA policy from the Azure AD B2C blade :
![image](https://user-images.githubusercontent.com/63580915/127950536-e35aa84b-7bf9-4942-88a5-fdaf84487d5a.png)

![image](https://user-images.githubusercontent.com/63580915/127950603-fdd9092d-3260-4ed3-99ff-96cd3d880e1f.png)

[2021-08-03 02:58] yiliuTo commented on #79178
I also create a similar [issue](https://github.com/Azure/azure-service-bus/issues/444) in repo of [azure-service-bus](https://github.com/Azure/azure-service-bus) , so if the one here is unnecessary please close it. Thanks.

[2021-08-03 03:06] KrishnaG-MSFT commented on #79196
@vytux-com Thanks for your comment! We will review and provide an update as appropriate.

[2021-08-03 03:07] wahidsaleemi opened #79197 "Add note for disallowed characters in SubscriptionAlias names"
It appears that Subscription Aliases cannot have a period/dot in the name, such as "Contoso.Infrastructure.Dev" but this is permitted on display names. I was getting 404 error regardless of method (PowerShell, Az CLI, REST) when specifying a name with periods in it. I'm not sure if there are other restrictions such as length, disallowed characters, trailing/leading characters, etc. I spent 3 days

[2021-08-03 03:21] KalyanChanumolu-MSFT commented on #79027
@imakhlin I hope that clarifies your query.

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-08-03 03:21] #79027 closed

[2021-08-03 04:16] AnuragSharma-MSFT commented on #79029
@cbailiss Please let us know if you need more details.

[2021-08-03 04:17] #79032 closed

[2021-08-03 04:24] cg6 opened #79198 "Is the retention time reset when the current version becomes the previous version?"
Please clarify, in section "Version-level policy scope (preview)"

Is the time reset when the current version becomes the previous version?
If there is a default 30 day retention policy and a blob that is 40 days old. When the blob is deleted does it become a "previous blob version" with retention applied for a further 30 days?

---
#### Document Details

⚠ *Do not edit this section. It is require

[2021-08-03 04:48] ShaikMaheer-MSFT commented on #79150
@ssabat Could you please validate customer feedback here and share your inputs on changing "datetime.now()" to "datetime.utcnow()"? Once you confirm if this change is valid, I will create PR for this. Thank you.

[2021-08-03 05:03] ladykraken commented on #79150
`datetime.now(1:03)`
`datetime.utcnow(5:03)`

[2021-08-03 05:07] SnehaAgrawal-MSFT commented on #79188
@brandoncramer Thank you for your feedback! We will review and update as appropriate.

[2021-08-03 05:24] surenderssm commented on #79144
Thank you @ThomasWeiss for your perspective, sounds like a fair trade-off.

Apart from keeping track of distinct partition keys separately, how does teams generally get all partition keys.
Is something like below a effective/general practice to get all the partition keys for a cold operation.

`SELECT DISTINCT c.partitionKey FROM c`

Feel free to close the issue.

[2021-08-03 05:24] fatfishcc commented on #9033
as kazshi mentioned, the error msg is really vague.

[2021-08-03 05:32] KrishnaG-MSFT commented on #79197
@wahidsaleemi Thanks for the feedback.
Assigning @bandersmsft for visibility, review and document enhancement consideration as appropriate.

[2021-08-03 05:34] oafolabi-msft commented on #79174
Hi @KenanBektas and @AshokPeddakotla-MSFT, thanks for letting us know! We're looking into this (internal issue #35019115) and will update you with progress. Thanks!"

[2021-08-03 06:03] tgolly commented on #19456
Also having this issue.  Really need a solution here Microsoft.

Customers *should* be able to have network-protected storage accounts in the same region as their Azure Devops instance.

Please re-open case until a solution is provided.

[2021-08-03 06:16] AnishSethu commented on #50483
It Might be some policy issue with the subscription. I got the same issue because of Boot diagnostic storage account. Create a boot diagnostic storage account for the VM. It worked for me.

[2021-08-03 06:35] SubhashVasarapu-MSFT commented on #79194
@BevanSin, Thanks for reaching out. We will investigate and update this thread.

[2021-08-03 06:54] RodrigoGroener opened #79201 "Add null check to isAppOnly expression"
[Enter feedback here]
the provided code to check if a token is an app only token is error prone.

[code]

if both, oid and sub values are null, the code returns true. this is a false positive. It's better to also check against null.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14524e2e-a5c6-ef53-0643-879b63b6

[2021-08-03 06:56] GitaraniSharma-MSFT commented on #79114
@haalkaz , thank you for the clarification. We have assigned this to the content owner/author for review.

@cherylmc , could you please update the below planning table for Site to Site aggregate bandwidth?
https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpngateways#planningtable

[2021-08-03 07:01] AshokPeddakotla-MSFT commented on #79141
@ckarrasalithya Adding author and SME @kgremban To review this further and update the doc as appropriate.

[2021-08-03 07:02] cbailiss commented on #79029
Thank you for the information.

[2021-08-03 07:02] #79029 closed

[2021-08-03 07:34] sapramit opened #79204 "React Native Android azure build failing randomly while downloading a resource from dl.bintray.com/microsoftazuremobile/SDK/"
The azure pipeline is trying to download a resource from 'https://dl.bintray.com/microsoftazuremobile/SDK/'.

The issue is happening randomly.

The same thing had been working for a year so Gradle config doesn't seem an issue but for a week now it is failing randomly.

Please verify

[2021-08-03 08:25] e14mattc commented on #19456
Please vote for this feedback;
https://developercommunity.visualstudio.com/t/DevOps-to-Storage-Account-with-Firewall/1487078

And this one;
https://feedback.azure.com/forums/217298-storage/suggestions/35850511-make-azuredevops-a-trusted-microsoft-services-to

I've been in conversations with MS & they say to use Scale Sets or Self-Hosted Agents, which I don't feel is good enough.. this stuff should

[2021-08-03 08:32] amanmcse commented on #79149
@haneef95 Thanks for your feedback. We use this platform for documentation enhancements and to fix documentation bugs. For product feedback please post at our [Feedback Portal](https://feedback.azure.com).

[2021-08-03 08:32] #79149 closed

[2021-08-03 08:35] AshokPeddakotla-MSFT commented on #79026
@kgremban Thanks for the clarification.
@xela-95 We hope that answers your query. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-03 08:35] #79026 closed

[2021-08-03 08:38] AnuragSharma-MSFT commented on #79065
@m365ken Glad you were able to figure it out. Please let us know if any more details needed.

[2021-08-03 08:52] MartinJaffer-MSFT commented on #79070
I don't think it matters too much which branch, as long as it is not a feature branch.  It is important to place the script _not inside_ any of the folders ADF creates.  For example, placing the script in the pipelines folder would be a bad idea.

That said, it makes more sense to put in the adf_publish branch because that's where all the other publishing things are.

Yes, adf_publish branch makes

[2021-08-03 08:52] AdrenalineHc opened #79206 "The query of "Alert when daily cap is reached", "Data collection Stopped" has a capital S, but in the log it is actually lower s"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fed35a55-0db9-4afa-9a80-fe9adac1e7d7
* Version Independent ID: 67af640b-9a6c-bf24-3a99-14ad8dab849f
* Content: [Manage usage and costs for Azure Monitor Logs - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/manage-cost-storag

[2021-08-03 09:23] euostrou opened #79209 "Outdated page"
Great page for SF consumers, but a bit outdated.
I cannot see parameters described in https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-resource-manager-advanced-throttling like GlobalMovementThrottleThresholdForPlacement

Seems they were added in latest SF SDK/API/versions but not refreshed on the current page.

---
#### Document Details

⚠ *Do not edit this section. It

[2021-08-03 09:33] xela-95 commented on #79026
@AshokPeddakotla-MSFT @kgremban so if I've understood correctly there is no way to setup automatically edge devices with the signing certificates they need in order to make iot edge hub authenticate with other modules on the edge and secure connections?
We have to find a way to install these certificates on every edge device individually when we put them in production.

[2021-08-03 09:44] HarshitaSingh-MSFT commented on #79206
Hello @AdrenalineHc, thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-08-03 09:45] melzayet opened #79210 "Confusing statement: Using Dedicated plan for custom image"
Hello

This hosting option page mentions this as one reason to select "Dedicated" hosting plan:
**"You want to provide a custom image on which to run your functions."**

As "Premium" plan also allowed this use case -custom image-, this statement causes confusion and implies custom image usage requires moving from premium to dedicated

Suggestion action is to also add this statement to "premium" us

[2021-08-03 09:50] raffaeu commented on #24491
Also today, getting same error when importing Cosmos DB

[2021-08-03 09:52] LorenzPensaert commented on #77504
Hi @TravisCragg-MSFT Any update on this error code?

[2021-08-03 09:54] psmanhas commented on #79209
@euostrou Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-08-03 09:54] psmanhas commented on #79209
@sukanyamsft Can you please check and add your comments on this doc update request as applicable

[2021-08-03 10:00] SquallHalle commented on #63530
@SnehaAgrawal-MSFT @mattchenderson  hey i experience the same behavior still so what was the result of the investigation ?

[2021-08-03 10:07] SadiqhAhmed-MSFT commented on #79096
@Scottie2z We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-03 10:07] #79096 closed

[2021-08-03 10:13] euostrou commented on #79209
I think those configuration keys are outdated and for old SF versions.
If so, I would like to see them anyway, with remark [obsolete] or smth like that.

[2021-08-03 11:01] PraveenBalanagendra opened #79211 "Web Activity Timeout"
[The Timeout is mentioned as 1 minute for the response. Isn't the timeout can be configured for the Web Activity?]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34b3d465-6a2b-88ad-6e80-4fb784cd489e
* Version Independent ID: 51b70888-d089-7352-4abd-7d587726700a
* Content: [Web Activity in Azure Data Factory - Azure Dat

[2021-08-03 11:03] shashishailaj commented on #79193
@dcbrown16 Thank you for your feedback . We will investigate and update the thread.

[2021-08-03 11:05] shashishailaj commented on #79201
@RodrigoGroener Thank you for your feedback . We will investigate and update the thread.

[2021-08-03 11:07] KrishnaG-MSFT commented on #79204
@sapramit Thanks for reaching out! [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so can you please share the Azure document link to which your feedback is related to.

If you need help in resolving a p

[2021-08-03 11:08] georgeOsdDev commented on #79068
HI @AjayKumar-MSFT
I'm asking about Java for Windows.
I know that we need copy Tomcat to local folder, and document explain how we can do with PowerShell in "Example startup.ps1" section.
But there is no information about where we should save startup.ps1 and when startup.ps1 will be triggered or we need run it manually.

[2021-08-03 11:34] dwanjuhi opened #79212 "Typo in sample request to fetch the refresh token"
The sample request to fetch the access token has a typo in the `sampleCredentia1s`  value in the client_secret  parameter:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13b44819-ed7b-84bc-f5d2-2b937029f7df
* Version Independent ID: db9f8408-c234-90d0-4817-3516e5fc3ba0
* Content: [Microsoft identity platform and

[2021-08-03 11:47] andre-lx commented on #50047
Same issue here.

Why is AKS creating a default IP if I can't use it?

It works if I only use load balancer without setting the IP (this will create a new IP), but it's not possible to use the default created one.

So, I'm basically paying for two IP's, and using one. And I will always have a stucked IP that is not used for nothing.

[2021-08-03 12:03] VanMSFT commented on #78300
#reassign:VanMSFT

[2021-08-03 12:03] mohamed-elbeltagy opened #79213 "Backup and restore is working with VNet integration"
This doc states that there is this restriction "Currently, you can't use the Backup and Restore feature with the Azure App Service VNet Integration feature."

Currently, backup and restore feature is working while regional VNet integration is enabled. It is not clear what is the exact restriction or it is just an outdated doc.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-08-03 12:04] VanMSFT commented on #78300
Hi @ReedRobison! Thanks for bringing up this issue. I'm updating the images and adding portal instructions to the doc. This should be updated later today. We really appreciate your feedback on our documentation.

[2021-08-03 12:25] VanMSFT commented on #78587
Following up internally

[2021-08-03 12:25] VanMSFT commented on #78739
Following up internally

[2021-08-03 12:25] VanMSFT commented on #76333
Following up internally

[2021-08-03 12:25] VanMSFT commented on #78002
Following up internally

[2021-08-03 12:25] VanMSFT commented on #76176
Following up internally

[2021-08-03 12:35] Akshat59 opened #79214 "2.1.4 version is not available for urn:com:microsoft:aad:b2c:elements:contract:unifiedssd"
Please check version for urn:com:microsoft:aad:b2c:elements:contract:unifiedssd. Getting below error while uploading custom policy with "urn:com:microsoft:aad:b2c:elements:contract:unifiedssd:2.1.4"

Validation failed: 1 validation error(s) found in policy "B2C_1A_<name>" of tenant "tenantname.onmicrosoft.com".The specified page contract 'urn:com:microsoft:aad:b2c:elements:contract:unifiedssd' has

[2021-08-03 12:38] Gunnnn opened #79215 "It is said in video, that we can monitor several DF in one dashboard, nethertheless, it is clearly said in Azure Diagnostic settings, that only one DF can be monitored and there is even an button to upvote multi-DF monitoring feature to DF team! This makes the video LIE to us((("
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65693a51-ca12-9358-bf77-3534d308d936
* Version Independent ID: 4dd455ce-0a42-e101-dec6-d803bd67a5e3
* Content: [Monitor data factories using Azure Monitor - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/monitor-using-azure-mo

[2021-08-03 12:39] #79215 closed

[2021-08-03 12:52] GitaraniSharma-MSFT commented on #79007
@NeverOddOrEven , Since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2021-08-03 12:52] #79007 closed

[2021-08-03 12:57] Nicholak-MS commented on #77128
Hi @danbu, can you share the SKU/Subscription Name that you saw this Service Plan added to. Then I can add it in the documentation. thanks.

[2021-08-03 12:59] craigshoemaker commented on #54378
Since this is an issue with the API documentation and not the Function binding article, I am moving to #please-close this issue. In the meantime, I'll raise this issue with the team responsible for the API docs.

[2021-08-03 12:59] #54378 closed

[2021-08-03 13:00] RyanHill-MSFT commented on #79213
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;he

[2021-08-03 13:11] PramodValavala-MSFT commented on #79148
@spelluru Thanks!

@tshaiman The doc has been updated. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-03 13:11] #79148 closed

[2021-08-03 13:12] PramodValavala-MSFT commented on #79124
@SanthoshCheekoti Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2021-08-03 13:41] Blackmist commented on #75616
Thanks again for bringing this up @AndreasMWalter
The PM team provided updated information and diagrams for the article, which have now been published.

#please-close

[2021-08-03 13:41] #75616 closed

[2021-08-03 13:45] SamaraSoucy-MSFT commented on #79198
Thanks for the question! We will review and get back to you shortly.

[2021-08-03 13:46] SamaraSoucy-MSFT commented on #79210
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-08-03 13:47] PramodValavala-MSFT commented on #78787
@Vipin-Sharma

Based on the [worker code](https://github.com/Azure/azure-functions-java-worker/blob/976635d81a31f2464f8b5ca1925d91b6e1b139a2/src/main/java/com/microsoft/azure/functions/worker/JavaWorkerClient.java#L88), I suppose that is something you could try. It would be best to share this on the linked issue to get more perspectives on this.

This is just a simple logger instance that is passe

[2021-08-03 13:51] JMCun opened #79217 "Data-Factory Private Link does not support Azure Relay"
Hi,

Please correct me if I'm wrong, but I think the below should read:  ...get schema, and preview data,  **does not go**  through Private Link.

"Interactive authoring that uses a self-hosted integration runtime, such as test connection, browse folder list and table list, get schema, and preview data, goes through Private Link."

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2021-08-03 14:28] Nicholak-MS commented on #76972
Hi @jmcarthurcorr I added all of the above missing SKU's to the document. the changes will publish later today.

#please-close

[2021-08-03 14:28] #76972 closed

[2021-08-03 14:33] Nicholak-MS commented on #78499
Hi @DEberhardt  can I ask you to run your script for Get-MsolAccountSku that will provide the subscrition SKUs which should be the parents of all of the SKUPartNumbers above. I will then cross reference your list with the documentation and add any missing subsription SKU's. Thanks.

[2021-08-03 14:37] arjenhuitema opened #79221 "Outdated Powershell command to enable monitoring"
The PowerShell command listed in the documentation suggests directly copying in the Instrumentation Key.

`Enable-ApplicationInsightsMonitoring` -ConnectionString 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'

However, this doesn't enable the Instrumentation of the application.

What should be used is:

`Enable-ApplicationInsightsMonitoring` -ConnectionString 'InstrumentationKey=xxxxxxxx-xxxx-xxxx-xxxx-x

[2021-08-03 14:39] #78300 closed

[2021-08-03 14:39] ram-msft commented on #79138
@vjlptl Thanks for the error details. We are able to run the sample [authoring_and_predict.py](https://github.com/Azure-Samples/cognitive-services-quickstart-code/blob/master/python/LUIS/sdk-3x/authoring_and_predict.py) successfully without any error as shown below.
![image](https://user-images.githubusercontent.com/49180516/128034586-f036f11e-3918-48c8-b1dd-d1131d422910.png)

![image](https://use

[2021-08-03 14:49] craigshoemaker commented on #54683
I have added this explanation to the queue trigger doc. I am going to #please-close this issue. now.

[2021-08-03 14:49] #54683 closed

[2021-08-03 14:57] brianmoore180 opened #79224 "Azure Security Benchmark Mapping File for Azure AD Does not Exist"
This page says "Controls not applicable to Azure Active Directory, or for which the responsibility is Microsoft's, have been excluded. To see how Azure Active Directory completely maps to the Azure Security Benchmark, see the full Azure Active Directory security baseline mapping file."

However, when I drill into the link for the security baseline, there is no mapping file for Azure AD. I see lots

[2021-08-03 15:12] YutongTie-MSFT commented on #79048
I have created a PR to fix this point. Thanks for pointing out it again.

[2021-08-03 15:15] RutgerKosters opened #79225 "Incorrect screenshot and info for share permission"
Hi team,

https://docs.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-create-volumes-smb#share-permissions

I believe the following text and screenshot are incorrect.

_"By default, a new volume has the Everyone / Full Control share permissions. Members of the Domain Admins group can change the share permissions as follows:

Map the share to a drive.
Right-click the drive, select

[2021-08-03 15:29] roygara commented on #79045
#assign:jeffpatt24

[2021-08-03 15:31] JimacoMS4 commented on #39536
Hi @shindigo - Thanks again for your feedback. The quickstart you filed this item against has been refactored and no longer calls the service API to read from the built-in endpoint.; however, we did publish samples to show how to read from the endpoint using either AMQP-WS and/or by reading through a proxy using the Event Hubs SDKs. We also published pointers to those samples in this topic:: [Read

[2021-08-03 15:33] nikki-c opened #79226 "Require app protection policy now available for Teams"
Hi Microsoft Teams should now work with app protection polices. Therefore the Teams application can be added to the list. See message center requests below

Microsoft Teams: Require app protection policy conditional access grant
MC266463 · Published 2 Jul 2021
Service
Microsoft Teams
Tag
ADMIN IMPACTNEW FEATUREUSER IMPACT
Message Summary
This release of app protection policy based Conditional Acc

[2021-08-03 15:35] MarileeTurscak-MSFT commented on #79212
@dwanjuhi
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-03 15:40] AnuragSharma-MSFT commented on #79170
@bdschaap We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-08-03 15:40] #79170 closed

[2021-08-03 15:41] IgorCayosoft opened #79227 "Attached script destroys existing registry subkeys and values which breaks web-apps and other things on the system"
The provided script has lines like:
New-Item 'HKLM:\SOFTWARE\Microsoft\.NETFramework\v4.0.30319' -Force

The -Force parameter here means that if a key already exists -- and it does -- it and all subkeys and values are removed and a new empty key is created. This breaks existing functionality and is completely unacceptable.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-08-03 15:42] hpsin commented on #79212
This is a sample value, it doesn't really have a correct value. The 1 was to denote it can be letters, numbers, or symbols. Happy to update it to be SampleCredentials123 if that makes it clearer.

[2021-08-03 15:43] mattmsft commented on #78717
Hi Sepideh Saba,

Unfortunately this is not possible today. Can you please describe your requirements and we can determine if there is a workaround available today?

Thanks,
Matt

[2021-08-03 16:11] rforster-dev commented on #77383
Yep sure thing - thanks

[2021-08-03 16:13] chalewi opened #79230 "Direct licenses coexist with group licenses - this section needs correction"
when a user inherits the license first with a specific product, there is no way in the portal to then go and add a direct license assignment to the user. If the user had the direct license assignment first, then you could modify the associated features for that specific license on the user. This article reads that you can inherit first and then do direct assignment which we have confirmed in testi

[2021-08-03 16:15] jeevansd commented on #75310
@jgcjoec In this article we have also mentioned that the plugin does support  Ubuntu Linux Version 16.04. So we support installing this on Linux also.

[2021-08-03 16:15] jeevansd commented on #75310
#please-close

[2021-08-03 16:16] MarileeTurscak-MSFT commented on #79224
@brianmoore180
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-03 16:16] chalewi commented on #78898
I opened another issue on this as well. https://github.com/MicrosoftDocs/azure-docs/issues/79230

[2021-08-03 16:17] jeevansd commented on #75227
@legendgod  This is the website of the publisher https://www.obc.co.jp/service/kintai

[2021-08-03 16:19] m365ken commented on #79065
That should do it. Thanks

[2021-08-03 16:24] jeevansd commented on #71590
@kaevans Can you please review this question?

[2021-08-03 16:28] jeevansd commented on #68891
@mwucbs This is what Citrix ADC does. When it receives the authentication token from Azure AD after user authenticates then it can translate that token to Kerberos token and provide that to the app. Here consideration is Citrix ADC has a direct line of sight to the on premise AD and so it can get that Kerberos token and present it to the application.
If you are looking for similar functionality us

[2021-08-03 16:28] jeevansd commented on #68891
#please-close

[2021-08-03 16:28] #68891 closed

[2021-08-03 16:31] jeevansd commented on #66429
@valentijnscholten Why you feel this is insecure? If you know the people who are admin on JIRA then you should create a group for them in Azure AD and then assign that group to the application. After that create a Conditional Access Policy and apply MFA on that group so that when these users are login into the JIRA app they have to do the MFA. That way you can secure Admin accounts in JIRA.

[2021-08-03 16:32] jeevansd commented on #66429
#please-close

[2021-08-03 16:32] #66429 closed

[2021-08-03 16:33] dlepow commented on #79165
@mbecker-ms - This link was actually already fixed in.a recent update, but we found some others that needed updating while investigating. Thanks again.
#please-close

[2021-08-03 16:33] #79165 closed

[2021-08-03 16:43] valentijnscholten commented on #66429
Websudo is there for a reason.

And the force_azure_login=false seems to skip any azure login, so conditional access policies are not applied, but there will be only a normal login to jira
That's what it sounds like. If it works differently, the docs should be updated to make it more clear what it does and doesn't do.

[2021-08-03 16:48] mbecker-ms commented on #79165
Thx Dan!

Mike Becker
Architectural Consultant
Microsoft Consulting Services

Microsoft Deutschland GmbH
Holzmarkt 2a
50676 Köln
Tel:    +49 (221) 8010 –2222
Fax:   +49 (221) 8010 – 1100

Cell:    +49 (175) 584 - 40 - 66

Email: ***@***.******@***.***>

Microsoft Deutschland GmbH
Walter-Gropius-Straße 5, 80807 München
Microsoft - Official Home Page<https://nam06.safelinks.protection.outlook.com/?u

[2021-08-03 16:48] duongau commented on #22735
#please-close

[2021-08-03 16:48] #22735 closed

[2021-08-03 16:48] duongau commented on #23514
#please-close

[2021-08-03 16:48] #23514 closed

[2021-08-03 16:49] duongau commented on #23543
#please-close

[2021-08-03 16:49] #23543 closed

[2021-08-03 16:51] JamesTran-MSFT commented on #79214
@Akshat59
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-08-03 16:53] AnuragSharma-MSFT commented on #79065
@m365ken We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-08-03 16:53] #79065 closed

[2021-08-03 16:54] JamesTran-MSFT commented on #79226
@nikki-c
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-03 16:55] JamesTran-MSFT commented on #79227
@IgorCayosoft
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-08-03 16:56] JamesTran-MSFT commented on #79230
@chalewi
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-08-03 16:59] b-juche commented on #79225
Thanks, @RutgerKosters.  Checking with them about this.

[2021-08-03 17:00] v-gpettibone commented on #58855
Old issue. Customer using free tier can have up to 2 enrichments, but that doesn't seem to be the issue. Customer was advised to change Location to location. Not sure if he followed the advice or, if he did, whether it helped. No doc changes ("enhancements") are necessary. The docs are accurate. Closing.

[2021-08-03 17:00] v-gpettibone commented on #58855
#please-close

[2021-08-03 17:01] Vama97 opened #79233 "Problem with signing in with the tenant."
Problem with signing in with the tenant. Hello, I am trying to issue a credential and while adding it it is not accepting the account from the same tenant. But the same process worked for me earlier.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ace782b7-663f-c6b1-9fef-38b1a4bc13f3
* Version Independent ID: ce32432d-4

[2021-08-03 17:12] himanshusinha-msft commented on #79211
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-08-03 17:14] BhargaviAnnadevara-MSFT commented on #79182
@50c Any updates here?

[2021-08-03 17:15] ThomasWeiss commented on #79144
@surenderssm Yes this query should work to list all your logical partitions.
#please-close

[2021-08-03 17:15] #79144 closed

[2021-08-03 17:16] himanshusinha-msft commented on #79217
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-08-03 17:32] SubhashVasarapu-MSFT commented on #79107
@haalkaz, Appreciate your patience. We have assigned this issue to the respective content author for updating the document accordingly.

[2021-08-03 17:32] #79036 closed

[2021-08-03 17:36] ChaitanyaNaykodi-MSFT commented on #79036
Hello @nosvalds, Thank you for your feedback. I have made a PR to remove the Note from the documentation, the change will go live soon.
Please tag me in your response if there are nay additional concerns. Thank you!

[2021-08-03 17:41] CaitlinV39 commented on #78244
#please-close

[2021-08-03 17:41] #78244 closed

[2021-08-03 17:58] SwathiDhanwada-MSFT commented on #79221
@arjenhuitema Thanks for your comment. We will review the issue and get back to you shortly.

[2021-08-03 18:00] broomfn opened #79234 "Websocket (wss) not working for Grafana"
Followed the instructions, but any container image that uses wss web sockets (e.g. Grafana) doesn't seem to work?

centrifuge.js:544 WebSocket connection to 'wss://grafana.dev.digitisation.rgsit.mobi/api/live/ws' failed:
value @ centrifuge.js:544
value @ centrifuge.js:986
(anonymous) @ centrifuge.js:702
centrifuge.js:2899 transport level error Event {isTrusted: true, type: "error", target: WebSock

[2021-08-03 18:02] #78963 closed

[2021-08-03 18:06] danbu commented on #77128
Name: “Universal_Print_No_Seeding”
Friendly name: “Universal Print Without Seeding”
Occurs as a sublicense in the “Microsoft 365 A3 for students use benefit” license, which is what most educational institutions use for their student accounts. We assign this sublicense only when a student’s account has one or more flags.

Name: “Universal_Print_01”
Friendly Name: “Universal Print”
Occurs as a subli

[2021-08-03 18:06] KrishnaG-MSFT commented on #79215
@Gunnnn Thanks for reaching out! I hope you have self resolved the issue and hence closed the issue.

If that's not the case then as [this](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so please re-open the

[2021-08-03 18:22] DerekHerman-MSFT commented on #79198
@cg6 I tested this scenario by creating a blob and checking the retention policy. I then over wrote that blob which moved the blob to a previous version. The previous version did not have the retention time change. Which is what the last sentence is saying _"A previous blob version possesses the time-based retention policy that was in effect when the current version became a previous version."_

[2021-08-03 18:22] #79198 closed

[2021-08-03 18:24] bhans378 opened #79235 "Missing permissions required to create a private endpoint in documentation"
Permissions required to create a private endpoint are missing: "Microsoft.Resources/subscriptions/resourceGroups/read"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbf20eb1-1f03-1374-ad24-0617e780977a
* Version Independent ID: 3d81e440-09a9-88df-7d96-c8a1dd57850d
* Content: [Azure RBAC permissions for Azure Private L

[2021-08-03 18:28] Karishma-Tiwari-MSFT commented on #78894
@pkshultz Would you be able to share your insights on this?

"how can I add the container settings for the task that was added using the Data Factory.

In Azure batch we can set the container settings for the task to be performed in . Is it possible to give the image name , and parameters to run the command?"

[2021-08-03 18:48] mikben commented on #76746
Thanks for submitting this issue! The Calling SDK docs have been updated to clarify per the above conversation; you should see these changes go live within the next 24-48 hours.

[2021-08-03 18:48] mikben commented on #76746
#please-close

[2021-08-03 18:48] #76746 closed

[2021-08-03 18:51] mhaarbrink opened #79236 "Please clarify networking requirements for zone redundancy"
This article suggests use of a /24 for an ASE but provides no content for more intentional and responsible use of available address space.  It would be helpful if it included some kind of calculation for planning purposes.  It seems the /24 recommendation would mean that each App Plan consumes 1 IP, but what if you enable zone redundancy?  Does that mean you could have 600 plans consuming IP's in

[2021-08-03 18:56] MarileeTurscak-MSFT commented on #79212
Thanks @dwanjuhi and @hpsin. I made a pull request to update the example from "sampleCredentia1s" to "sampleCredentials123"

https://github.com/MicrosoftDocs/azure-docs-pr/pull/167875

[2021-08-03 18:56] #79212 closed

[2021-08-03 19:04] srinathck opened #79238 "Azure IoT Blob Storage Container Not Found Issue using Windows IoT Edge"
Service/Technology Used:
- Azure IoT Edge 1.1
- Azure IoT Blob Storage Module
- Following this doc https://docs.microsoft.com/en-us/azure/iot-edge/how-to-store-data-blob?view=iotedge-2020-11
- Host Machine details:
  - Windows 10 Enterprise LTSC IoT 1809
  - Running on a Virtual Machine
Trying to setup the Azure Blob Storage on Azure IoT Edge. Following above documentation.

My deployment Json Tem

[2021-08-03 19:08] srinathck commented on #79238
@arduppal  Can you please take a look at this when you get a chance. Thanks.

[2021-08-03 19:09] AjayKumar-MSFT commented on #79068
Thanks for the additional clarity on this, georgeOsdDev

@JasonFreeberg, Requesting your review on this request.

[2021-08-03 19:17] MarileeTurscak-MSFT commented on #79224
Thank you! I sent a note to the author to look update this. This other article has the correct file linked and the current one will be updated to match that one. https://docs.microsoft.com/en-us/security/benchmark/azure/baselines/security-center-security-baseline

I am closing this out but will update the comments when the document refreshes with the right link.

[2021-08-03 19:17] #79224 closed

[2021-08-03 19:31] mhaarbrink commented on #79236
I read over this as well which also doesn't provide guidance on calculating subnet size.
https://docs.microsoft.com/en-us/azure/app-service/environment/networking

[2021-08-03 19:53] SinisterChinaPenguin opened #79240 "dotnet add fails"
Following this page its not working out very well for me - see console output below:

**_PS Z:\dev\C#\BlobQuickstartV12> dotnet add package Azure.Storage.Blobs
  Determining projects to restore...
  Writing C:\Users\Mike\AppData\Local\Temp\tmpF515.tmp
error: There are no versions available for the package 'Azure.Storage.Blobs'._**

Hope the feedback is helpful.

---
#### Document Details

⚠ *Do no

[2021-08-03 20:09] gstendig opened #79241 "Guest/External Accounts Guidance Needed"
PLEASE add a section/update the Azure MFA Deployment Guide (+Configure Settings Guide + Configure Users Guide + Enable Per-User MFA Guide) with as much *specific* guidance as possible for Guest/External accounts and settings. Examples:

- 3rd party platforms may not support certain features (e.g. MacOS not support Windows Hello for Business)
- If/how to prepopulate MFA methods for guest users (e.g

[2021-08-03 20:10] TimothyMothra commented on #79221
@rajkumar-rangaraj

[2021-08-03 20:11] shbabylo opened #79242 "Fix JSON example (not working) and added reference for Custom Roles."
The example for the custom role does not work for start vm on connect - formatting wrong.

Please update this section "https://docs.microsoft.com/en-us/azure/virtual-desktop/start-virtual-machine-connect#create-a-custom-role-with-a-json-file-template" to the following:

[code]
To use the JSON template, simply save JSON file, add subscription information for Assignable Scopes, and run the following

[2021-08-03 20:23] lobrien commented on #76159
Fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/167886

#please-close

[2021-08-03 20:23] #76159 closed

[2021-08-03 20:34] James-Hamil-MSFT commented on #79111
Hi @reydelleon-skuvault , the expiration type won't be the time. If you look in the XML example:
`<SessionExpiryType>Absolute</SessionExpiryType>
 <SessionExpiryInSeconds>1200</SessionExpiryInSeconds>`

Check to see if your browser shows SessionExpiryInSeconds. From my end I believe the documentation is correct, you just need to convert from minutes to seconds where needed.

[2021-08-03 20:36] JamesTran-MSFT commented on #79241
@gstendig
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-08-03 20:39] carlost-MSFT opened #79243 "Unable to set public IP to static via the portal"
Instructions and script should be updated to automatically set the public IP to static since it's not allowed via the portal.

This should be added to the script:

$PublicIP = Get-AzPublicIpAddress -Name $oldLBName -ResourceGroupName $oldRgName
$PublicIP.PublicIpAllocationMethod = "Static"
Set-AzPublicIpAddress -PublicIpAddress $PublicIP

---
#### Document Details

⚠ *Do not edit this section. It

[2021-08-03 20:41] dlepow commented on #72444
Article has been updated to mention additional authentication options. Thank you @marcino239 for the feedback.
#please-close

[2021-08-03 20:41] #72444 closed

[2021-08-03 20:55] jsblake commented on #21850
The original issue related to setting an SSL certificate from a keyvault, which the method used would set the keyvault secret on the VM itself.

There is a better way now (and maybe even back when this issue was opened) using the Azure KeyVault VM Extension instead of modifying the secrets on the VM object itself, however

[2021-08-03 21:17] JozoSlejko opened #79244 "Access restrictions - feature is disabled when private link is enabled"
Contrary to the article, the Access restrictions feature is disabled when private link is enabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae743313-9367-b465-e31a-5beae33018d1
* Version Independent ID: c0cd348d-764a-572b-d900-ff0cffe12a31
* Content: [Networking features - Azure App Service](https://docs.microsof

[2021-08-03 21:18] elfcounsel opened #79245 "What happens when AD Service Account Password is Changed"
Would it be possible to get verbiage added to explain what happens when the password for the service account for the AD connection is change? Does it affect existing volumes? Does it trigger an outage? That sort of explanation.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e1e6f07-0b90-fa0d-4244-7cd0458dd6e0

[2021-08-03 21:26] duongau commented on #78439
@maotsuk Thank you for your feedback. I have let our PG team know of your suggestion and will provide make the addition if your comments are approved.

#please-close

[2021-08-03 21:26] #78439 closed

[2021-08-03 21:34] b-juche commented on #79245
@elfcounsel - Thanks, Win!  Will check with the team and copy you.

[2021-08-03 21:37] duongau commented on #71088
#please-close

[2021-08-03 21:37] #71088 closed

[2021-08-03 21:56] duongau commented on #63642
@dirkslab has @aramesh-msft answered your question? The new Front Door offering should be able to what you're looking for as the current service doesn't have that capability. Please let me know if you have any other concerns. For now I will be archiving this.

#please-close

[2021-08-03 21:56] #63642 closed

[2021-08-03 22:04] cplunkett opened #79248 "Example code doesn't work but this will"
Hi so your example code doesn't work for pulling JWT claim. You need to do this instead:

        <set-header name="x-someheadernametobepassedtobackend" exists-action="append">
            <value>@{
            string subject = "NoSub";
            string authHeader = context.Request.Headers.GetValueOrDefault("Authorization", "");
            if (authHeader?.Length > 0){
                string[] a

[2021-08-03 22:17] Oury-MSFT commented on #78773
@Markus-Wolff I would suggest to create a support ticket to enable your subscription as shared in the comment above by Karishma . It could be related to subscription type. Support will be the best point of contact for this issue.
https://ms.portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/overview Please let me know if you run into any issues.

Regards,
Oury

[2021-08-03 22:44] sunnyhay opened #79249 "AML update service using Azure CLI"
Hello,

  In this document page I do not find useful information about how to update existing service with any of these changes: entry script, new model or dependency in conda configuration file.

  The following python script (hide unnecessary code) works to update existing web service on AKS cluster.

[code]
  So based on above successful python script, for convenience of release pipeline, I tri

[2021-08-03 22:56] JamesTran-MSFT commented on #79233
@Vama97
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-03 23:10] #78773 closed

[2021-08-04 00:10] JCPuerto opened #79250 "SQLPackage utility link url should be updated"
While reading this article I followed the instructions:

However this page proposes to download "Microsoft® SQL Server® Data-Tier Application Framework (16.4)" but after hours trying to make that tool work I found the right link should be this one: https://docs.microsoft.com/en-us/sql/tools/sqlpackage/sqlpackage-download?view=sql-server-ver15 which corresponds to "SqlPackage" which is the desired

[2021-08-04 00:45] andrewr01 opened #79251 "When will the ability to configure phone and email authentication methods be available in the production version?"
Can you tell us when the ability to configure phone and email authentication methods will be available in the production version?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51eadd8e-b820-be21-9cb3-b52f334fb94d
* Version Independent ID: fe358aa5-5bb6-b8f0-8ab7-ef181dc8af42
* Content: [Manage authentication methods fo

[2021-08-04 00:49] nihonjinboy85 commented on #38774
This should really be on [this docs page:](https://docs.microsoft.com/en-us/azure/templates/microsoft.sql/servers/databases/transparentdataencryption?tabs=json) so people can make an informed decision on whether or not to keep it from an exported template. I just spent hours searching through docs to troubleshoot an 'internal server error' occurring on this resource, only to find out I can safely

[2021-08-04 01:01] wdspider opened #79252 "How do I send a request to the new revision to test before marking it current?"
This tutorial is really straightforward; however, it is missing a critical section.   One of the main use cases for revisions seems to be the ability to test your changes.  Unfortunately, this document skips over this critical step.  How do I figure out what the base url to the new revision is before marking it current?

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2021-08-04 01:49] MonikaReddy-MSFT commented on #79043
@p0shkar - - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-08-04 01:52] MonikaReddy-MSFT commented on #78975
@mzentz - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-04 01:52] #78975 closed

[2021-08-04 01:53] MonikaReddy-MSFT commented on #78902
@rodrigoffonseca  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-08-04 02:14] mzentz commented on #78975
We’re all good. And I’m happy to help!

On Tue, Aug 3, 2021 at 9:52 PM MonikaReddy-MSFT ***@***.***>
wrote:

--

Respectfully,
[image: Marketpath Inc.] [image: Marketpath Inc.]
Matt Zentz Founder/CEO

w: www.marketpath.com/team/matt-zentz

e: ***@***.***

o: +1 317-660-0210 <+1+317-660-0210>

m: +1 317-430-5804 <+1+317-430-5804>
[image: Matt Zentz on LinkedIn]
<https://www.linkedin.com/in/mattzent

[2021-08-04 02:34] msdpalam opened #79253 ""Grant the VM agent and the service principal contributor...." Confusing"
Under the Prerequisites->Azure Synapse Analytics, the following step is confusing. What should we really do here and where and how?
Grant the VM agent and the service principal contributor rights to the resource group in which the new workspace is hosted.

Is there a way we can clarify this step?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2021-08-04 02:40] TerryLanfear commented on #75925
@cutecycle - Thank you for your feedback. You are correct that the sample code needed an update. The sample code is updated to align with similar documentation on this subject.

#please-close

[2021-08-04 02:40] #75925 closed

[2021-08-04 02:51] TerryLanfear commented on #57265
@garybushey - Thanks, again, for your feedback. You are correct that the article you reference is missing information. The article will be archived. Please reference the new End-to-end security in Azure (https://docs.microsoft.com/en-us/azure/security/fundamentals/end-to-end) for security services in Azure.

#please-close

[2021-08-04 02:51] #57265 closed

[2021-08-04 03:29] ram-msft commented on #79138
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-04 03:29] #79138 closed

[2021-08-04 03:54] ram-msft commented on #79249
@sunnyhay Thanks for the feedback! We will review and update accordingly.

[2021-08-04 04:23] SwathiDhanwada-MSFT commented on #79221
@arjenhuitema Thanks for your feedback. The document has been updated by @rajkumar-rangaraj  and the changes will reflect soon.

We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-08-04 04:23] #79221 closed

[2021-08-04 04:25] v-hagamp commented on #78269
Issue resolved as suggested, Am closing this item.
#please-close

[2021-08-04 04:25] #78269 closed

[2021-08-04 04:27] SnehaAgrawal-MSFT commented on #79236
@mhaarbrink Thank you for your query . We will investigate and update the thread.

[2021-08-04 04:28] SnehaAgrawal-MSFT commented on #79244
@JozoSlejko Thank you for your query . We will investigate and update the thread.

[2021-08-04 04:34] KalyanChanumolu-MSFT commented on #79250
@JCPuerto Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-08-04 04:49] tnlthanzeel commented on #69768
is this solved? im still having this issue

`Configuring Azure SQL Database dependency mssql1 in the project...
Adding ConnectionStrings:PharmaceuticalProductConnectionString to store AzureAppSettings...
Installing NuGet packages to project...
Installing package 'Microsoft.EntityFrameworkCore.SqlServer' with version '5.0.1'.
ErrorNuGet.PackageManagement.PackageReferenceRollbackException: Package r

[2021-08-04 04:58] kbangalore commented on #76600
@vikrambmsft Can you check if we own this article and fix if needed

#reassign:vikramnmsft

[2021-08-04 04:58] PRMerger16 commented on #76600
vikramnmsft is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-08-04 05:02] kbangalore commented on #76600
#reassign:trkeya

[2021-08-04 05:03] kbangalore commented on #76600
@trkeya  - please update this doc per the issue noted above, it does seem like you own it.

[2021-08-04 05:12] vipulsparsh commented on #79193
@dcbrown16 Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-08-04 05:12] #79019 closed

[2021-08-04 05:22] pnarsi opened #79256 "Availability of Access List Feature via CLI or Portal"
Is this access list feature only available via the Databricks API or can we also configure this via the UI and/or the Databricks CLI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb833fb7-abf9-432d-ab67-8b94c445407d
* Version Independent ID: 082b9e2c-aabd-1ff2-6782-1014ecfaa5ba
* Content: [IP access lists - Azure Dat

[2021-08-04 05:24] ShaikMaheer-MSFT commented on #79140
@mssaperla Could you please validate feedback and update document as appropriate. Thank you.

[2021-08-04 05:28] ShaikMaheer-MSFT commented on #79256
@pnarsi Thank you for sharing your feedback. We are actively investigating it. We will get back to you soon. Thank you.

[2021-08-04 05:40] AshokPeddakotla-MSFT commented on #79238
@srinathck Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-08-04 05:42] psmanhas commented on #79234
@broomfn Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-08-04 05:44] psmanhas commented on #79242
@shbabylo Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-08-04 05:44] psmanhas commented on #79242
@Heidilohr Can you please check and add your comments on this doc update request as applicable

[2021-08-04 05:46] lintFan opened #79257 "Azure Templates reference doesn't contain api versions newer than 2020"
The Reference section of [this article](https://docs.microsoft.com/en-us/azure/templates/) generally doesn't contain api versions newer than 2020 even though many exist. Can this be updated to include those new api versions? Is this something that is auto-generated?

For example microsoft.compute versions here https://docs.microsoft.com/en-us/azure/templates/microsoft.compute/allversions
and the m

[2021-08-04 05:56] SumanthMarigowda commented on #79240
@SinisterChinaPenguin Thanks for the question! We are investigating and will update you shortly.

[2021-08-04 06:21] SubhashVasarapu-MSFT commented on #79243
@carlost-MSFT, Thanks for reaching out. We will investigate and update this thread.

[2021-08-04 06:29] SubhashVasarapu-MSFT commented on #79235
@bhans378, Thanks for reaching out. We will investigate and update this thread.

[2021-08-04 06:33] SwathiDhanwada-MSFT commented on #79153
Assigning to content author @stephbaron for review

[2021-08-04 06:37] ganbayar2001 opened #79258 "This error pops up and i can't sign in"
[Enter feedback here]Error message-> The request body must contain the following parameter: 'client_assertion' or 'client_secret'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cff30850-fbce-1c4d-8979-561e84b09c78
* Version Independent ID: ad8742e7-a4c7-5b1a-1b68-dc7c14edc3ac
* Content: [Tutorial: Create a JavaScript

[2021-08-04 06:46] krisbock opened #79259 "Clarification on wording"
Customer is confused by wording in the feature-store docs in which it states:

Online store

An online feature store is a low-latency database used for real-time model inference.

Databricks Feature Store supports these online stores:

- Azure Database for MySQL
- Azure SQL Database

but then under Limitation states:
Feature Store APIs support batch scoring of models packaged with Feature Store. O

[2021-08-04 06:48] RutgerKosters opened #79260 "ANF SMB versions"
Hi team,

https://docs.microsoft.com/en-us/azure/storage/files/storage-files-netapp-comparison#features

Azure NetApp Files does not support SMB version 1, so it should be removed from the table. Thanks.

Gr. Rutger

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27132a89-4dee-aa95-1d0a-acb454b342c7
* Version Independen

[2021-08-04 07:13] loeten opened #79261 "page differs a lot from git content"
[Enter feedback here]

Hi there, I created my files step-by-step using the given code on the page, but did not succeed. Then I cloned the git and compared it to what I did. I found my error (one file was accidently empty) but also a good number of differences - maybe worth updating the code blocks at the page here as well.. :-)

loeten

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-08-04 07:29] dpapkin opened #79262 "Install web server role using Operations Run command instead of RDP to install"
[Enter feedback here]
There is no need to RDP to the VM to install the web server role.
Using the Azure Portal, navigate to the **Virtual Machine** page, then Click on **Run command** under **Operations** section, then **RunPowerShellScript** and paste in the Powershell command
**Install-WindowsFeature -name Web-Server -IncludeManagementTools** and click **Run**
![image](https://user-images.github

[2021-08-04 07:35] psmanhas commented on #79262
@dpapkin Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-08-04 07:36] psmanhas commented on #79262
@cynthn Can you please check and add your comments on this doc update request as applicable

[2021-08-04 07:41] yoelhor commented on #79214
Dear @Akshat59, thanks for the feedback. I'm updating the article with the lates supported versions. A new version will publish later today and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need further information, please open new GitHub issue.

[2021-08-04 07:43] eyoh5 opened #79263 "Need Clarified explanation for scoring method."
[Enter feedback here]
Document said high Advisor score means that you satisfied most of recommendations.

However, according to explanation on 'scoring-methodology'
https://docs.microsoft.com/en-us/azure/advisor/azure-advisor-score#scoring-methodology

It seems if there many resources which have at least one recommendation in Advisor, the score will be high.
It means score is high when you have ma

[2021-08-04 07:56] dirkslab commented on #63642
@duongau thanks, yes. Solution cannot do what we expected, so moved on to another solution. Since new version was in preview, it was not even an option. We might revisit this in future. Hopefully documentation also gets a big boost in the new version.

@aramesh-msft thanks for the feedback, apologies for not responding at the time.

[2021-08-04 08:00] dpapkin commented on #79262
You are welcome. I am teaching this in AZ-104 Azure Administration class. Good for students to know the power of Azure , that can make tasks easier to accomplish.

[2021-08-04 08:39] #79214 closed

[2021-08-04 08:54] JohnWuensche opened #79264 "Guest User (Access Package vs Invitation)"
Hi everyone,

I have a question regarding the following note from the MSFT Docs article:
_"Entitlement management only removes accounts that were invited through entitlement management. Also, note that a user will be blocked from signing in and removed from this directory even if that user was added to resources in this directory that were not access package assignments. If the guest was present i

[2021-08-04 08:54] LockTar commented on #78069
@James-Hamil-MSFT we are now 27 days further since I tested my workaround. The data is still there. I think it's save to say that my workaround works.
I think it's to close on my holiday. So if the data is still there after my holiday I will do the workaround on production.
Hopefully you will get an official answer during my holiday.

[2021-08-04 09:05] broomfn commented on #79234
Thanks, the helm config I'm using to setup Grafana is as follows:

[code]

[2021-08-04 09:07] stenara opened #79265 "Explicit that ONLY Technical Key is supported"
Hello,

Kindly let explicit that the prerequisite that only Technical Key is supported.
The way documentation is written it leaves margin to customers think they can also use other types of key.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 049af3fe-cd74-1ef1-c748-3b737ea8d248
* Version Independent ID: b3ac

[2021-08-04 10:00] MayankBargali-MSFT commented on #79252
@wdspider You can select the different revision by navigating to the Revisions option for your API and you will find the URL path. Then you can build the URL test your revision.

![image](https://user-images.githubusercontent.com/67255909/128160924-3a0a70ee-3e9f-4b8d-9623-101b8235f0c1.png)

Alternatively you can also select the revision and go to the **Test** from portal to get the request URL of

[2021-08-04 10:08] MayankBargali-MSFT commented on #79248
@cplunkett Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-08-04 10:15] SHxKM opened #79266 "A few clarifications needed on Webhook endpoint & landing page URL"
Hi,

We are designing an Azure marketplace implementation but there are some parts that aren't clear.

### Landing page: "Manage SaaS experience" scenario

In the Saas Fulfillment docs, the following is mentioned:

Also, a sample payload of the resolved token response (when a valid token is passed to the Landing page) is shown (it’s a JSON with details about the subscription).

Question is: is the

[2021-08-04 10:36] SadiqhAhmed-MSFT commented on #79266
@SHxKM Thank you for posting your query. We will look into it and get back to you soon.

[2021-08-04 10:36] ladykraken commented on #79252
Pharandemanuelle2608gdfaure
________________________________
From: MayankBargali-MSFT ***@***.***>
Sent: Wednesday, August 4, 2021 6:00:17 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] How do I send a request to the new revision to test before marking it current? (#79252)

@wdspider<https://github.com/wdspider> You can select the d