[2020-04-15 18:14] #52478 closed

[2020-04-15 18:14] saket-ms commented on #51764
@rich-davies We are actively working to bring security recommendations data in Advisor RP in ARG. Based on our current estimates, the ETA would be 08/2020.

[2020-04-15 18:16] bm-evn opened #52482 "Use of App Service Certificate"
There doesn't seem to be a description of how to use App Service Certificate for SSL in API Management. Under the Custom Domain Tip it mentions that to use Azure Key Vault, the certificate must be stored as a certificate not a secret. Unfortunately, when creating an App Service Certificate, it is stored in Azure Key Vault as a secret, not a certificate. There doesn't seem to be documentation anywh

[2020-04-15 18:17] dlepow commented on #47394
@devoto13 @jakaruna-MSFT - Thank you for the feedback, and apologies for slow response. I agree that documented details around parameter changes/preservation during update can be improved in this article. Your suggestions will help. I created a work item referencing this issue and plan to address in an upcoming doc sprint.
#please-close

[2020-04-15 18:17] #47394 closed

[2020-04-15 18:22] NavtejSaini-MSFT commented on #52109
@jimsander We are going ahead and closing this request. If you want to continue this conversation please comment and we will go forward with this conv.

[2020-04-15 18:22] #52109 closed

[2020-04-15 18:23] SaurabhSharma-MSFT commented on #52006
@jose-lima2011 Security Center UI displays the active policies.
You can use `Get-AzPolicySetDefinition` to get the definitions, however, I see more definitions than expected and checking internally with the product team if any issue with this cmdlet, how can you get the list using PowerShell and update you as soon as I hear back.
Here is the code which I have used -
[code]

[2020-04-15 18:25] mlee3gsd commented on #45089
@NavtejSaini-MSFT , please re-assign to Xiaoyu Li from Data Warehouse team.  She owns auto-statistics.

[2020-04-15 18:28] niteenkole opened #52483 "Question"
Question on

Limiting egress traffic only works on new AKS clusters. For existing clusters, perform a cluster upgrade operation using the az aks upgrade command before you limit the egress traffic.

what does new AKS clusters means,latest version ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 660320d4-fad5-3307-e29f-

[2020-04-15 18:29] mesteves commented on #52385
Hi @ChiragMishra-MSFT

Thanks for the feedback and for the provided article. It sure helped me to solve half of my problem :)

I was able to customize a sFTP connection with parameters and making the test (passing the values) ,the connection works.

However, when I try to use that connection in a dataset, it doesn't show the "Linked Service Properties" like in your article and therefore doesn't al

[2020-04-15 18:30] tyler555g commented on #49091
Apologies for not getting back to you sooner on this. It turns out the
informix ODBC driver does not report standard ODBC data types, and in order
to use CLOBs or BLOBs you have to set the driver to report standard ODBC
data types for it to work. However, there is no documentation still on
these data types in the docs.

On Wed, Apr 15, 2020, 3:42 AM Shirley Wang <notifications@github.com> wrote:

[2020-04-15 18:33] ashishharjani commented on #52185
@SaurabhSharma-MSFT @JasSuri  - Are these steps mentioned in the document ? I do not see them , if they are not then please update the documentations with the accurate steps so we know how to generate the access token and use that. Thanks

[2020-04-15 18:33] dlepow commented on #48142
@ericchansen @VikasPullagura-MSFT - Thank you for the feedback. I believe this issue is related to point-in-time availability of GPU resources in the region you tried first, and the error message points to workarounds. The documented resource availability includes a similar note:

"Container groups created within these resource limits are subject to availability within the deployment region. When

[2020-04-15 18:34] djpmsft commented on #52054
Hey @MamidiVasavi , you are correct. You must be a data factory contributor on the resource group to be able to publish. I will update the doc appropriately.

Thanks,
Daniel

#please-close

[2020-04-15 18:34] #52054 closed

[2020-04-15 18:35] TravisCragg-MSFT commented on #52479
@vishalpatole Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-04-15 18:36] Karishma-Tiwari-MSFT commented on #38188
@Heidilohr can you please look into this doc-update request? Thanks.

[2020-04-15 18:37] joe-plumb opened #52484 "Data in Transit clarification"
Hi, I'm finding the comment on encryption for data in transit quite ambiguous - "You can use TLS to secure internal communication between Azure Machine Learning microservices". Does this mean internal communication between AML microservices is _not_ secured by TLS? What controls do I have over these microservices? The linked page is helpful wrt scoring endpoints but provides no clarification on th

[2020-04-15 18:37] gregmoore-ertech opened #52485 "Are additional steps required to remove from Teams?"
I followed these steps and they were successful in removing the organizations from my Access Panel Profile. However, in Microsoft Teams I still see the organizations in the dropdown to switch to tenants as guest. If I click on one of them from the Teams dropdown, I go into never-ending spinning wheel until I force quit the application. Attempted to quit and restart the application, as well as sign

[2020-04-15 18:37] eddynaka opened #52486 "Some examples don't work"
in TimedHostedService class, we have a wrong variable:
[code]
should be:
[code]
NET Core/.NET Framework Console application, if we create a new ConsoleApplication and copy that code, I receive the following error:
System.InvalidOperationException: 'No service for type 'Microsoft.ApplicationInsights.TelemetryClient' has been registered.' for the line:
[code]

---
#### Document Details

⚠ *Do not ed

[2020-04-15 18:38] Karishma-Tiwari-MSFT commented on #52215
@mlearned @zr-msft Can you please help with this document update, it looks like there are multiple issues open for the same update needed.

https://github.com/MicrosoftDocs/azure-docs/issues/29153
https://github.com/MicrosoftDocs/azure-docs/issues/28105

[2020-04-15 18:39] TravisCragg-MSFT commented on #52462
@spidercloud Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-04-15 18:39] swanderz commented on #52306
Ok. I recommend that the API docs for AutoMLConfig mention ROCV @CESARDELATORRE @cartacioS

[2020-04-15 18:40] SaurabhSharma-MSFT commented on #52365
@HarrisburgUSysAdmin I believe you need a tenant administrator access but I will defer this to @msmimart to comment and update the document if require.

[2020-04-15 18:41] eddynaka commented on #52486
Just opened a PR solving the wrong naming and some issues in async/sync method. But, that still doesn't solve the problem with TelemetryClient.

[2020-04-15 18:41] DeanCefola opened #52488 "Office365 Network requirements"
I would like to have a section added to the doc or at least a small section / link on this page for the Office365 URLs and IP Addresses
This doc contains the information
https://docs.microsoft.com/en-us/office365/enterprise/urls-and-ip-address-ranges#microsoft-365-common-and-office-online

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-04-15 18:41] ecfan commented on #49168
Hi @steveculshaw, thanks for submitting this feedback. This Blob Storage connector topic has a section about using [managed identities for accessing Azure Blob Storage](https://docs.microsoft.com/azure/connectors/connectors-create-api-azureblobstorage#access-storage-accounts-as-a-trusted-service-with-managed-identities). The section points at the more generic topic for [how to set up managed ident

[2020-04-15 18:42] craddockj opened #52489 "Client / Viewer logs / data / analytics"
Is there any way to see how many viewers are connected to an Endpoint in real time? ie how many viewers are currently streaming your live event?

What about access logs after the event to pull viewer information?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3a8e309-8b1d-f6ca-4a17-8fe3d6718f03
* Version Independent I

[2020-04-15 18:50] NavtejSaini-MSFT commented on #45089
@mlee3gsd done.
@XiaoyuMSFT We have assigned this case to you for further action.

[2020-04-15 18:50] aashishb commented on #52484
Thanks for feedback! I have updated the doc. Changes should reflect by tomorrow.

[2020-04-15 18:50] brandonh-msft commented on #47474
@waitingkuo did you ever file such an issue?

[2020-04-15 18:57] melghazali commented on #51469
@DorvalFagundes - If I understood you correctly, you
1. trained and deployed custom model.
2. used the custom model to translate word document
3. annotated the translation results to correct the accuracy, fluency, and verity
4. wanted to used #3 ("the learning") in your next model.
5. want to upload the annotated document using API

If so, unless you can code or hack code, using the API would not

[2020-04-15 18:59] XiaoyuMSFT commented on #45089
@NavtejSaini-MSFT Auto stats update has not been released, so no change is needed on public content.

[2020-04-15 19:01] CeciAc opened #52491 "Error with --ssh-dest-key-path"
@jmorcar commented on [Wed Apr 15 2020](https://github.com/MicrosoftDocs/azure-docs.es-es/issues/712)

I'm trying to exec with param --ssh-dest-key-path to save SSH key pairs on specific location.  But always command return a error message with invalid path always:

$deployVM = az vm create `
&gt;&gt; --name $VMhopperName `
&gt;&gt; --resource-group $rgCommon `
&gt;&gt; --location $location `
&gt;

[2020-04-15 19:03] scotch83 opened #52492 "Outdated documentation"
I think this documentation is a bit outdated and the MobileServiceClient is deprecated now for the server side authentication.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b01cf43e-ecf3-ce7a-f9b8-a54918d23601
* Version Independent ID: b9b8e1e9-2e1f-ce3a-faed-2d3ccef82a9d
* Content: [Work with the managed client libra

[2020-04-15 19:09] TravisCragg-MSFT commented on #52331
@medavamshi Yes it can. You will need to direct traffic that needs to go through the firewall to the VNET with the firewall. This can be done using UDRs.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-15 19:09] #52331 closed

[2020-04-15 19:09] amanmcse commented on #52426
@Jared-Harrington-Gibbs MFA Registration policy is different than triggering MFA via Conditional Access.

MFA registration policy is available with Azure AD Identity Protection which requires Azure AD Premium P2 license. However, you don't necessarily need MFA registration policy to register for MFA. You can register for MFA using https://aka.ms/mfasetup as well. Advantage of using MFA registratio

[2020-04-15 19:15] supmn084 commented on #51931
[dpmsetup.log](https://github.com/MicrosoftDocs/azure-docs/files/4483286/dpmsetup.log)
Attached log file. I assume this log has all of the installation attempts logs in here? It fails initially with the error mentioned here, I did successfully install DPM once I fixed the SQL TCP settings on the local server the install configured

[2020-04-15 19:15] DorvalFagundes commented on #51469
Oh, thank you so much for your response.
I’d like to tell you about my actual needs.
First of all, I just uploaded 3 pattern documents, but I didn’t able to do anything. I didn’t find any solution that made work it.
I’m a professional translator that would like to create a database for my use. The Bing translator has improved your connection neural, and the translations have improved day by day. T

[2020-04-15 19:18] FlorianBorn71 commented on #52292
Can you please retry if it works better today? We have updated the service yesterday and we had similar cases that work fine now.
Error reporting: This will be improved/fixed for the next update, there are definitely some bugs in there.

[2020-04-15 19:19] spelluru commented on #51617
Does this help?
https://docs.microsoft.com/en-us/javascript/api/@azure/arm-servicebus/messagecountdetails?view=azure-node-latest#activemessagecount

[2020-04-15 19:22] spelluru commented on #51257
#please-close

[2020-04-15 19:22] #51257 closed

[2020-04-15 19:27] TravisCragg-MSFT commented on #52206
@orloffm it is highly recommended to use a CNAME and not map a root domain to an App Service.

There are [situations when an App Service will change IP Addresses, and you can find them Here](https://docs.microsoft.com/en-us/azure/app-service/overview-inbound-outbound-ips#when-inbound-ip-changes).

There is also a rare case when [Azure will need to change the IP Address of your App Service without

[2020-04-15 19:33] TravisCragg-MSFT commented on #52333
@JustinBacaAIS I am following up now to see if there is a timeline that I can state publicly. The capability is not available today.

[2020-04-15 19:36] prsreejith opened #52493 "Azure Notification Hub Tag issue"
I want to use the email ID someone.user@abc.xy.com as tag while registering Azure Notification Hub in my Xamarin iOS Project. Found notification hub registration is working fine but push notification is not sending from Azure Notification Hub Test send console. As per my observation if the tag ( email id) having more than two dot(.) Characters it will not receive push notification to your iOS devi

[2020-04-15 19:39] TravisCragg-MSFT commented on #52333
@JustinBacaAIS Can you Email me at azcommunity@microsoft.com with a link to this post? We would like to follow up with some additional questions.

[2020-04-15 19:41] SumanthMarigowda-MSFT commented on #52212
@RonnieQuan Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-15 19:45] YutongTie-MSFT commented on #52484
@joe-plumb
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-04-15 19:45] #52484 closed

[2020-04-15 19:48] npz1812 commented on #48350
Is there a roadmap of when new services will support Azure AD authentication?  I am looking for Azure App Services and Functions.

[2020-04-15 19:51] TravisCragg-MSFT commented on #52290
@code-vega We currently do not have any limitations documented. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-15 19:51] Phatage commented on #52292
Getting a different error just now:
NullReferenceException: Object reference not set to an instance of an object
Microsoft.Azure.RemoteRendering.Unity.ARRServiceUnity+<>c__DisplayClass59_0.<StartSession>b__1
() (at Library/PackageCache/com.microsoft.azure.remote-rendering@0.1.22
/Runtime/ARRServiceUnity.cs:216)
Microsoft.Azure.RemoteRendering.Unity.ARRServiceUnity.Update () (at
Library/PackageCach

[2020-04-15 19:56] stewart2020 opened #52495 "Client and Azure WebApp both not showing graph data"
I using a Raspberry Pi for sending data to the IoT Hub, as per the Tutorial https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-raspberry-pi-kit-node-get-started

This seems to be working fine, console indicates messages sent, Azure IoT indicates message received.

I get a graph and no data on the Azure WebApp graph.  On my Localhost, I receive the message below after the stage 'npm start'.  De

[2020-04-15 20:05] lgayhardt commented on #52356
I updated the link in the doc, changes should go live later today. Thank you

Changes should go live later today. Thank you.

https://github.com/dotnet/runtime/blob/master/src/libraries/System.Diagnostics.DiagnosticSource/src/ActivityUserGuide.md

 #please-close

[2020-04-15 20:05] #52356 closed

[2020-04-15 20:06] msmbaldwin commented on #52173
Hi, @shameeds. Yes, that is the error you will receive if use the legacy ADE system (ADE w/AAD), but the VM on which you wish to enable encryption has not been configured to use TLS 1.2 as the default protocol.  The connection will be closed because the server will require the client to speak TLS 1.2.

As we write [here](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/disk-encrypti

[2020-04-15 20:11] davidzwa commented on #52053
I have 2.0.76. Good tip!

Still, docs would be good

[2020-04-15 20:11] bestbear opened #52496 "Site-to-Site connections between Azure Commercial and Azure GovCloud"
Virtual Network Gateway with VPN works no problem between 2 Azure commercial tenants with their own subscriptions
Attempt the same thing from Azure Commercial to Azure GovCloud and it just does not work.
I should not have to create a compute instance with a VPN client in order to make this work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-04-15 20:13] bergmeister commented on #42655
@rboucher @sshams79 Any updates on how to define a schedule in ARM with start AND end date?

[2020-04-15 20:14] ingd opened #52497 "Who has to provide private peering?"
I am not sure about which address I have to input in Azure Private. My partner provided me a range of IP, but reading this document, I understood I have to provide my internal Azure IP. That is right? Someone could clarify this for me?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b29b475d-056b-ba43-5309-dd1ee50b4318

[2020-04-15 20:16] #52389 closed

[2020-04-15 20:17] brandonh-msft commented on #48350
you might be crossing streams here; this post is for Managed Identity auth of which App Service and Functions were some of the first to support.

[2020-04-15 20:23] YutongTie-MSFT commented on #52165
@maseedat I have tried the sample and it works for me well as following:
![image](https://user-images.githubusercontent.com/38084098/79384637-1ff23400-7f1c-11ea-99b5-a07bc3403621.png)

Could you please check if you are using the [whole sample](https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/quickstarts/csharp-hand-text?tabs=version-3#create-and-run-the-sample-application)

[2020-04-15 20:32] mrvladis opened #52499 "AADB2C90037: An error occurred while processing the request. Please contact administrator of the site you are trying to access."
Following this manual precisely step by step result to the "AADB2C90037: An error occurred while processing the request. Please contact administrator of the site you are trying to access."  during the last step of the userflow testing.

What is missing in the manual?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-04-15 20:34] lawrenceong001 opened #52500 "Just tried it on Nodejs 12.16 -- the signin button doesn't work"
getting this error on the browser console:
uncaught exception: [object Object] Authority.ts:105:12
    validateAsUri Authority.ts:105
    Authority Authority.ts:29
    AadAuthority AadAuthority.ts:21
    CreateInstance AuthorityFactory.ts:46
    set UserAgentApplication.ts:164
    UserAgentApplication UserAgentApplication.ts:221
    &lt;anonymous&gt; authPopup.js:3

---
#### Document Details

⚠ *D

[2020-04-15 20:37] BrendaMeng commented on #51785
@manish-95  Do you mind sharing your email address which we can follow up to get more context and grand help?

[2020-04-15 20:44] CeciAc opened #52501 "Remote build won't happen on Linux when using WEBSITE_RUN_FROM_PACKAGE"
@shawnswlin commented on [Wed Apr 15 2020](https://github.com/MicrosoftDocs/azure-docs.zh-tw/issues/616)

I'm having a problem with remote build on Linux host for python based functionapp.
After specifying ENABLE_ORYX_BUILD,
SCM_DO_BUILD_DURING_DEPLOYMENT and WEBSITE_RUN_FROM_PACKAGE, 3rd-party packages in requirement.txt still could not be imported.

---
#### 文件詳細資料

⚠ *請勿編輯此區段。 這是 docs.microsoft

[2020-04-15 20:45] Grace-MacJones-MSFT commented on #52489
Hi @craddockj, thanks for the Comment. We are actively investigating and will get back to you soon.

[2020-04-15 20:47] Grace-MacJones-MSFT commented on #52480
Hi @robsanf, thanks for bringing this to our attention! We review and update this doc as needed

[2020-04-15 20:50] vhorne commented on #52450
Somebody forgot to delete those address lines:
$address1 = Get-AzNetworkInterface -ResourceGroupName myResourceGroupAG -Name myNic1
$address2 = Get-AzNetworkInterface -ResourceGroupName myResourceGroupAG -Name myNic2

Fixed.
#please-close

[2020-04-15 20:50] #52450 closed

[2020-04-15 20:51] archanaiyer commented on #52059
The fixes have been rolled out now.
- You should be able to turn the toggle in the Identity tab on/off.
- The identity tab doesn't change state when you switch between viewing other tabs (such as Access Keys)

Thank you for reporting the issue!

[2020-04-15 20:53] CeciAc opened #52502 "Different word suggestion chain than the query?"
The comments below were machine-translated

@SteveDuchene commented on [Sun Apr 12 2020](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/701)

In your example the suggested terms:
A request begins to be entered in the search field
The character string that the entered string conditions the suggestions of terms
Suggested terms in your example start with the same character string as the que

[2020-04-15 21:01] CeciAc opened #52503 "Suggestions string different from the query"
The comments below were machine-translated

@SteveDuchene commented on [Sun Apr 12 2020](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/703)

In your example the suggested terms:
A request begins to be entered in the search field
The character string that the entered string conditions the suggestions of terms
Suggested terms in your example start with the same character string as the que

[2020-04-15 21:17] Machinarius opened #52504 "Missing instructions to refresh the SP credentials"
After assigning the role to the ServicePrincipal for your cluster you _may_ need to refresh the SP credentials by following the procedures described under https://docs.microsoft.com/en-us/azure/aks/update-credentials#reset-existing-service-principal-credential and https://docs.microsoft.com/en-us/azure/aks/update-credentials#update-aks-cluster-with-new-service-principal-credentials

---
#### Docum

[2020-04-15 21:18] abshirey-msft commented on #52477
Are you specifying the grant type in the request body as x-www-form-urlencoded or another way? In my experience grant type is the parameter given in an error message if the request body is empty. Post requests can't accept parameters via a query string.

[2020-04-15 21:30] PatrickFarley commented on #48427
#please-close

[2020-04-15 21:34] luisflkn opened #52506 "problem when using local images for comparison"
Hi.
I have been trying to use the comparison with two images I have on my PC using face client in python.
I tried to use the URL as a local path but I didn't make it, there is some way to make the comparison using a local path with python 3.7

this is the script:
___________________________________________________________________________________________________
import asyncio
import io
import glob

[2020-04-15 21:35] yingmu52 commented on #47395
@Karishma-Tiwari-MSFT Hi, may I know if there is any updates on this one? the issue still persist.

[code]

[2020-04-15 21:37] rohinkoul commented on #52206
its not possible to add a CNAME as zone apex. Hence a A record is used. This is a limitation in DNS standard itself. No change is required in tutorial at the moment.

[2020-04-15 21:46] tamram commented on #51867
@sandip22490 - Let us know if you have further questions.

#please-close

[2020-04-15 21:46] #51867 closed

[2020-04-15 21:46] Mike-Ubezzi-MSFT commented on #52386
@marcusmills An update to the document has been made to detail Azure SQL IP addresses. Thank you so much for making us aware of this doc issue. You should see the update in the public version of the document within the next 24 hours. Thank you! #please-close

[2020-04-15 21:47] #52386 closed

[2020-04-15 21:58] axisc commented on #51642
@KiselN  - that is a good point. It should be a value > 1

@spelluru or @DixitArora-MSFT  - could you make the edit?

[2020-04-15 21:59] rastala commented on #52308
Files in these folders are automatically uploaded to run history.

[2020-04-15 22:00] axisc commented on #51617
@kiranshashiny The activeMessageCount is available on the Management library which is what @spelluru has mentioned on the document.

Please feel free to reach out if there are any more questions.

[2020-04-15 22:01] SnehaGunda commented on #52441
@swasifali Thanks for pointing out, I submitted a fix. We will now close this issue.

#please-close

[2020-04-15 22:01] #52441 closed

[2020-04-15 22:05] himanshusinha-msft commented on #52051
@Murthy582  , Please try out this , it should work
 **servername.database.windows.net,14331**

We are closing this issue for now  , you can always re-open the issue if you think that's appropriate .

[2020-04-15 22:05] #52051 closed

[2020-04-15 22:06] SnehaGunda commented on #51799
@SMazu we had a conversation about this issue with our team, unfortunately we don't have an answer. We recommend that you create a [support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). It can then get into the right team, we will track the issue there and watch out for doc updates.

[2020-04-15 22:26] kentontroy opened #52509 "sortByPreviousIdOrder fails in index.js when performing keyPhrase extraction"
Hi -- I'm using Node.js on the TextAnalytics 3.0 Preview for keyPhrase extraction.

sortByPreviousIdOrder fails in node_modules/@azure/ai-text-analytics/dist/index.js

An error message clearly states that a sort can't occur on unequally sized arrays; but, the underlying reason is not exposed.  The unsortedResult object in makeExtractKeyPhrasesResultCollection() should have a structure with fields

[2020-04-15 22:30] mohandatla opened #52510 "Missing instructions for pushing images to private container registry"
Rerference,https://docs.microsoft.com/en-us/azure/iot-edge/how-to-visual-studio-develop-module#build-and-push-images
Visual Studio developer has clean flow of pushing those images, but Visual Code setup is missing. We spent couple of hours to find this information, it is good to add this details in this page for clean flow.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-04-15 22:40] SnehaGunda commented on #52239
@pontusvision Actually you can run SQL queries against the GraphDB. We haven't documented it currently, I will discuss it with our team on adding the content. Here is how you can do it:

After you create a Gremlin API account, in the overview tab, you can see 2 URLs as shown in the following image. The .Net SDK URL is what you would use to connect to the account and run the SQL queries.

![image](

[2020-04-15 22:50] SaurabhSharma-MSFT commented on #52397
@mrvladis The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-04-15 22:50] #52397 closed

[2020-04-15 22:56] shivanissambare commented on #52406
Hi @MarkusKoenig73
You can deploy Windows 2016 DSVM using this ARM template :

https://github.com/Azure/DataScienceVM/blob/master/Scripts/CreateDSVM/Windows2016/azuredeploy.json

Just a FYI : We are prioritizing and encouraging to use latest Windows 2019 DSVM as it has better features and capability.

[2020-04-15 22:57] ash2017 commented on #44935
We have updated the document to mention that connectionStateUpdatedTime is not in the device twin JSON. This should show up in the document tomorrow. connectionStateUpdatedTime is something which we use internally. We would like to understand what the customer truly needs. If they want to know the connection time for the device, we recommend subscribing to Event Grid event - device connected and d

[2020-04-15 22:59] wesmc7777 commented on #44935
Thanks, Ashita.  I'll pass this info along to the customer

________________________________
From: ash2017 <notifications@github.com>
Sent: Wednesday, April 15, 2020 6:57 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Wesley McSwain <wesmc@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] connectionStateUpdatedTime from device identity

[2020-04-15 23:03] #45089 closed

[2020-04-15 23:15] PatrickFarley commented on #48427
#please-close

[2020-04-15 23:15] #48427 closed

[2020-04-15 23:16] NavtejSaini-MSFT commented on #52380
@browseaware Let us know if you need any further help with this.

[2020-04-15 23:19] NavtejSaini-MSFT commented on #52451
@vytux-com We are checking this and will get back to you.

[2020-04-15 23:20] PatrickFarley commented on #48442
We did have a few conditional instructions in this guide ("If you haven't done X already, do so here"). It's becoming clear that this isn't preferred. I've combined two sections so that the method can be fully defined from beginning to end. And I've moved the common code to the beginning of the guide, so users will have it regardless of what scenario they want to code. https://github.com/Microsoft

[2020-04-15 23:20] NavtejSaini-MSFT commented on #52476
@arefinsami We are checking this and we will get back to you.

[2020-04-15 23:21] TravisCragg-MSFT commented on #52449
@larspars Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-15 23:25] dcbrown16 commented on #45197
@noakup any progress here? We continue to receive support issues asking about BCDR with Monitor.

[2020-04-15 23:29] PatrickFarley commented on #50159
#please-close

[2020-04-15 23:29] #50159 closed

[2020-04-15 23:36] dcc-spartan opened #52511 "synchronizing temporary passwords and "Force Password Change on Next Logon""
Re the below note - based on my testing I was able to change the password at the first logon without having ForcePasswordChangeOnLogOn set to True. I was wondering if this is still required or not.

Forcing a user to change their password on next logon requires a password change at the same time. Azure AD Connect will not pick up the force password change flag by itself; it is supplemental to the

[2020-04-15 23:46] PatrickFarley commented on #51012
We're now calling out the TLS 1.2 requirement in our docs
#please-close

[2020-04-15 23:46] #51012 closed

[2020-04-16 00:04] kgremban commented on #49614
@brendanrempel 17763 is the latest long-term support version of Windows. That's the version that the IoT Edge modules for Windows are based on, and the version of the host machine must match the version of the containers.

If you check out this page about Windows 10 versions, IoT Edge is using the Enterprise and IoT Enterprise LTSB/LTSC releases, not the semi-annual releases: https://docs.microsof

[2020-04-16 00:09] mimckitt commented on #43632
It does appear the cores are still counted unless you delete the VM. I will confirm that this is by design and update everyone. If that is the case I will update the doc to make sure that is clear.

[2020-04-16 00:19] BharathNimmala-MSFT commented on #52475
@JordanBurns27  Thank you for your query , we will look into it and get back to you at the earliest.

[2020-04-16 00:20] BharathNimmala-MSFT commented on #52469
@aykitaya Thank you for your query, we will look into it and get back to you at the earliest.

[2020-04-16 00:20] TravisCragg-MSFT commented on #52452
@ayusmadi [Azure accepts TLS 1.2 for all services](https://azure.microsoft.com/en-us/updates/azuretls12/) including the Azure API, but I could find no definitive information about a minimum API version, or a specific version that Terraform uses.

I am following up to find a definitive answer and will update this thread when I can.

[2020-04-16 00:24] Karishma-Tiwari-MSFT commented on #52463
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-16 00:26] denimad opened #52513 "Error when running New-AzSqlSyncMember"
I am running the code snippet in this example in a very basic subscription that I only use for testing. When I run the command to create the new member I am getting the error.

`New-AzSqlSyncMember: Cannot validate argument on parameter 'SqlServerDatabaseId'. The argument is null or empty. Provide an argument that is not null or empty, and then try the command again.`

The reason seems quite obvio

[2020-04-16 00:26] MarileeTurscak-MSFT commented on #52088
Can you clarify what your specific ask is and what wall you're running into? I think I'm having trouble understanding the conflict.

Thales offers Azure AD passwordless sign-in integrations with its PKI-FIDO smartcard. https://techcommunity.microsoft.com/t5/azure-active-directory-identity/public-preview-of-azure-ad-support-for-fido2-security-keys-in/ba-p/1187929

And I believe this should work wit

[2020-04-16 00:27] Karishma-Tiwari-MSFT commented on #52488
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-16 00:27] MarileeTurscak-MSFT commented on #52088
Hope you're staying safe and apologies for a delayed reply.

[2020-04-16 00:27] gmndrg opened #52514 "aeg-sas-token is not correctly formed if following the documentation"
According to this document, the resource must be similar to: https://&lt;yourtopic&gt;.&lt;region&gt;.eventgrid.azure.net/eventGrid/api/events
For a token to be created correctly a resource has to be
https://&lt;yourtopic&gt;.&lt;region&gt;.eventgrid.azure.net/eventGrid/api/events?api-version=2018-01-01
(including the api-version) otherwise it doesn't work. please correct. Thanks!

---
#### Docume

[2020-04-16 00:29] SaurabhSharma-MSFT commented on #52464
@ManoKanmani Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-16 00:29] ElmoGonzo commented on #52477
Just following the steps on this page. Would it help to pull the request
from Postman and post it?

On Wed, Apr 15, 2020, 17:18 abshirey-msft <notifications@github.com> wrote:

[2020-04-16 00:30] Karishma-Tiwari-MSFT commented on #52504
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-16 00:32] MarileeTurscak-MSFT commented on #52138
In the Notifications tab on the role settings page, Privileged Identity Management enables granular control over who receives notifications and which notifications they receive.

**Turning off an email**
You can turn off specific emails by clearing the default recipient check box and deleting any additional recipients.

**Limit emails to specified email addresses**
You can turn off emails sent to

[2020-04-16 00:32] MarileeTurscak-MSFT commented on #52138
Hope this helps! If you have further questions feel free to open a new issue on [Q&A](https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/pim-email-notifications).

[2020-04-16 00:32] #52138 closed

[2020-04-16 00:43] KranthiPakala-MSFT commented on #52285
Hi @sandeeplodhirajput thanks for your response. Glad you were able to overcome previous error. From the above error message you shared it states that "_Could not find object 'SalesLT' or you do not have permission_". Please make sure you have SalesLT schema in you database.
I would recommend you try the tutorial as is first and then try modifying with your custom table names to avoid such issues.

[2020-04-16 00:43] #52285 closed

[2020-04-16 01:05] mike-urnun-msft commented on #52482
@bm-evn Thank you for your feedback! We will review and update as appropriate.

[2020-04-16 01:12] SergGu opened #52515 "Ability to exclude B2B users #EXT# from overview"
Is there an option to exclude external users? The report in current format does not reflect the true picture, since half of the users are eternal accounts with #EXT# in username.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3dbb0624-9d6c-aedf-d999-f7d3ca99c183
* Version Independent ID: bb4234de-65b9-b60c-d1f7-bef9a86

[2020-04-16 01:13] abshirey-msft commented on #52477
Yeah that would help me understand what's going on

[2020-04-16 01:16] davidobrien1985 commented on #48177
@sharad4u @sharadagrawal is this supported now or just a thing that works but isn't supported?

[2020-04-16 01:18] Karishma-Tiwari-MSFT commented on #47395
@zr-msft Can you please help with this doc update? Thanks :)

[2020-04-16 01:26] Karishma-Tiwari-MSFT commented on #50247
@mrck outboundType is in Preview currently. There is no ETA for GA as of now. I will share here as I get an update on GA timelines.

[2020-04-16 01:30] djpmsft commented on #52012
Hi @chambomusic ,

Thanks for pointing this out! You are correct that the documentation is wrong and misleading. `iifNull()` can take in 3 parameters and in that case it functions similarly to `iif(isNull(value), ifTrue, ifFalse)`. We are fixing our ux validation and updating the documentation to reflect this.

As we have open tracked items on the product group side, we will go ahead and close thi

[2020-04-16 01:31] Karishma-Tiwari-MSFT commented on #50444
Sorry to see that you are seeing this issue. This is a CLI issue and was fixed with Azure CLI 2.3.0
Please try with this version and let me know.

You can also directly comment on this CLI issue if still seeing this issue and I can reach out to the point of contact on that issue, as needed:
https://github.com/Azure/azure-cli/issues/12594#issuecomment-606422179

[2020-04-16 01:31] leqiao-1 commented on #52437
Thanks. I checked again and found the number of physical cpu is 2.

[2020-04-16 01:31] #52437 closed

[2020-04-16 01:34] Karishma-Tiwari-MSFT commented on #44668
@MarkusVi Did you get a chance to look into this doc update request. Thanks. :)

[2020-04-16 01:34] Karishma-Tiwari-MSFT commented on #52334
Thanks for sharing the update.

[2020-04-16 01:37] Karishma-Tiwari-MSFT commented on #51652
Thanks @Heidilohr for sharing insights on this. :)
@sajidfaizan Hope that helps answer your question.

[2020-04-16 01:53] djpmsft commented on #51554
@mikanyg Any update on this issue?

[2020-04-16 01:54] RyanHill-MSFT commented on #52492
Thanks for the feedback @scotch83! We are currently investigating and will update you shortly.

[2020-04-16 02:01] TravisCragg-MSFT commented on #52459
@OffColour This is a new limit, it was added to the doc in August 2019. It should not be a breaking change, but a limit imposed on future certificates.

I could not find any information on the password length requirements or limits, I have assigned the issue to the content author to evaluate and update any password limits as appropriate.

[2020-04-16 02:04] dcbrown16 opened #52516 "New RG requirement"
Can we please add info to this doc about adding an existing VM to an existing PPG, through the Configuration menu?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f044b250-08b2-1104-f7aa-e8a1188b3516
* Version Independent ID: ae51a1f7-0bcc-64a3-4b36-240080a84335
* Content: [Create a proximity placement group using the p

[2020-04-16 02:04] dcbrown16 commented on #52516
![image](https://user-images.githubusercontent.com/34466884/79406428-e6d1b800-7f4b-11ea-80bd-8dc3c60022de.png)
screenshot

[2020-04-16 02:06] dcbrown16 commented on #52516
Also, separate issue but please add documentation regarding how to add an existing VM to a PPG.

[2020-04-16 02:10] GeorgeChiuTheHartford commented on #52088
Hi Marilee,

FIDO2 smartcard is supported just for Windows 10 but not the mobile devices.   What I am having issues with is the password authentication with Microsoft authenticator on the phone devices.

Our organization has Smartcard login only enabled for everyone so nobody know their password.   Azure AD authentication works well for our smartcard login only users on Windows 10 devices by ADFS

[2020-04-16 02:11] jamserra opened #52517 "missing step"
Missing the step that shows under Additional Settings, under "Use existing data", choose "Sample" so that AdventureWorksDW will be created as the sample database.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90467e66-9062-01e3-6d40-fce8625d005b
* Version Independent ID: 8db6b4e9-fd3a-8b45-1283-7f7144772a88
* Content:

[2020-04-16 02:16] nandomx3 opened #52518 "Best tutorial ever"
Saved my life i love guys &lt;3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c6d2219-cb28-5527-1079-6e3195cad282
* Version Independent ID: 70c2aad0-6883-51a9-fed7-01be62302483
* Content: [JavaScript single-page app tutorial - Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-directory/develo

[2020-04-16 02:25] SnehaGunda commented on #50567
@dArignac Thanks for your patience, I had an email conversation with Luis internally.

Currently, the GraphSON format & serialization version are a little complex to explain. We don't have full support for GraphSONMessageSerializerV2d0 however, we are closer to it than V1. So we recommend using the V2 parameter in the connector. But the return the format is close to V1 style. Our team is actively

[2020-04-16 02:30] TravisCragg-MSFT commented on #52496
@bestbear [You will not be able to make VNET to VNET connections between global Azure and Us Gov Azure](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-vnet-vnet-resource-manager-portal#can-i-use-vnet-to-vnet-to-connect-virtual-networks-in-separate-azure-instances), but you should have no issues creating a[ site to site VPN between them](https://docs.microsoft.com/en-us/azure/

[2020-04-16 02:33] SnehaGunda commented on #52239
@pontusvision some more information on this, though it's possible to use SQL queries on a Graph DB, because of the data formatting considerations we determining how to migrate existing customers to who are using SQL API with Gremlin. So it's recommended that you use different APIs for different use cases.

[2020-04-16 02:44] James-McIntosh-NZHG opened #52519 "Step 4 - PSEXEC"
Shouldn't PSEXEC be opening as context system in this step? i.e. PSEXEC.exe -i -s powershell.exe other whys it will load the  vpn profile in the user context. You then cannot view the vpn config using cmdlet get-vpnconnnection -alluserconnection

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 054e25ff-9daf-60ba-53e0-0be

[2020-04-16 02:45] James-McIntosh-NZHG opened #52520 "Step 4 - PSEXEC"
Shouldn't PSEXEC be opening as context system in this step? i.e. PSEXEC.exe -i -s powershell.exe other whys it will load the vpn profile in the user context. You then cannot view the vpn config using cmdlet get-vpnconnnection -alluserconnection

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b62c2737-78b0-4970-9803-85b0

[2020-04-16 02:50] TravisCragg-MSFT commented on #52497
@ingd As is [shown in the example](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-routing#example-for-private-peering), this is a section of your private IP address range, or public address range that do not conflict with an address in Azure.

This would be an address that you provide.

[2020-04-16 02:55] VikasPullagura-MSFT commented on #52516
@dcbrown16
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-16 02:55] VikasPullagura-MSFT commented on #52516
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2020-04-16 03:00] jamserra opened #52521 "screen change"
Most of the Visual Studio 2019 screen shots are very different than what is in the current version

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7b7e4bd-04af-42a9-6e41-61a3ad26bdcd
* Version Independent ID: fe917de7-1052-57be-60cf-d80736789543
* Content: [Source Control Integration - Azure Synapse Analytics](https://

[2020-04-16 03:02] lengyuan commented on #50878
Thanks for the clarification.

[2020-04-16 03:10] manish-95 commented on #51785
@BrendaMeng Hi, you can contact me for more information at manish.sridhar@maistering.com

[2020-04-16 03:25] zakimaksyutov commented on #52140
Yes, all Application Insights experiences (a.k.a. blades) should show a time zone (local time). But they indeed don't allow to change it. This ask is in our backlog. Thank you for raising it here - it helps us to prioritize it!

[2020-04-16 03:26] jamserra commented on #52521
Especially the screenshot at step "In Visual Studio, create a new SQL Server Database Project with both a directory and local Git repository in your local cloned repository"

[2020-04-16 03:32] CHEEKATLAPRADEEP-MSFT commented on #52517
@jamserra  Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

@kevinvngo Could you please add the missing steps in the article?

![image](https://user-images.githubusercontent.com/44426401/79411662-0525cb00-7fc1-11ea-82a9-7ca7d1c7abb3.png)

[2020-04-16 03:39] CHEEKATLAPRADEEP-MSFT commented on #52521
@jamserra  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-04-16 03:46] behrad-techtiq commented on #11450
agreed

[2020-04-16 03:51] dcbrown16 opened #52522 "Incorrect description of backup retention"
My understanding is that the description of how retention works while backup is stopped is not correct.
This page says (and the first sentence doesn't make sense regardless of the specification):
"You will be charged backup instance cost till you retain data. Backup copies will be pruned as per retention range. However, last backup copy is always kept until you explicitly delete backup data."

The

[2020-04-16 03:53] abatishchev commented on #48272
@BryanTrach-MSFT gentle ping this.

[2020-04-16 04:12] VikasPullagura-MSFT commented on #52522
@dcbrown16
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-16 04:12] VikasPullagura-MSFT commented on #52522
@tanmaygore
Can you please check and add your comments on this doc update request as applicable.

[2020-04-16 04:15] p0rn5taR opened #52523 "Automate signin activities on Azure"
[Hi,

I'd like to seek advise regarding generating an automated report for the signin activities on Azure. Appreciate any advice.

Thank you.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1558e7c0-eaaf-d081-30c3-5c13e0876071
* Version Independent ID: 1106c01b-1e4c-5b04-be84-432f99ec4d8f
* Content: [Sign-in activity r

[2020-04-16 04:36] DKT2510 opened #52524 "Azure AD password policy; password history; How can we set the password repeat history?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-04-16 04:39] DKT2510 opened #52525 "Azure AD password policy; password history; How can we set the password repeat history; For example: the user should not be able to set the last 12 passwords ?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-04-16 04:40] pvrk commented on #52522
@dcbrown16: Thanks for raising this. In this document, the text seems to be incorrect.
@tanmaygore: When you don't select the option to "Delete backup data" but stop the protection, the existing backup data is retained forever. And also, please change the text to reflect the current experience. There are 2 options after stop backup - retain data and delete data. Retain data is by default selected.

[2020-04-16 04:43] SujayJDesai commented on #51434
Here is the final list of permissions. We will update the document soon with this.

vCenter 6.7
--
Datastore cluster.Configure a datatstore cluster
Datastore.AllocateSpace
Datastore.Browse datastore
Datastore.Low-level file operations
Global.Disable methods
Global.Enable methods
Global.Licenses
Global.Log event
Global.Manage custom attributes
Global.Set custom attribute
Host.Local operations.Creat

[2020-04-16 04:44] DKT2510 opened #52526 "Current on-premise password policy is slightly different from Azure AD password policy; So can we override the cloud policy with the on-premise policy while using sspr ."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-04-16 04:48] ram-msft commented on #52509
@kentontroy Thanks for the question. We will update you shortly.

[2020-04-16 04:53] SujayJDesai commented on #51434
@dcurwin Please update the document.

[2020-04-16 04:54] SumanthMarigowda-MSFT commented on #52473
@dckfnuance Thanks for your question. We are checking on this and will respond to you soon.

[2020-04-16 04:56] VikasPullagura-MSFT commented on #52410
@CodingXCat
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-04-16 04:56] #52410 closed

[2020-04-16 05:05] VikasPullagura-MSFT commented on #52202
@irvinhg Any update on the issue, please open a support request or as mentioned earlier if you don't have the capability to open support case email me the requested details.

Also, once you get the issue fixed, request you to reply back here on the thread with the resolution steps for the benefit of the community.

We will now close this issue. If there are further questions regarding this, please

[2020-04-16 05:05] #52202 closed

[2020-04-16 05:06] VikasPullagura-MSFT commented on #52405
@bchen007 Any update on the issue? Were you able to figure out the issue checking the logs?

[2020-04-16 05:07] VikasPullagura-MSFT commented on #50422
@viswanadham-k Can you please check on this.

@RoopChevuri Please add your comments.

[2020-04-16 05:11] Hasil-Sharma commented on #52316
@himanshusinha-msft : any update on this ?

[2020-04-16 05:16] DixitArora-MSFT commented on #52299
@simonaco I have assigned this to content author for further review and update as appropriate.

[2020-04-16 05:17] antgonmir commented on #44567
This is a great feature, but unfortunately pretty useless without the VNet integration support. What's the point of a Key Vault that is open to the whole Internet? This won't be accepted by the vast majority of Security departments in any reasonable Enterprise. As @Zimmergren has suggested, any public channels, forum, etc. where we can get an ETA and roadmap on features like this would be greatly

[2020-04-16 05:28] DixitArora-MSFT commented on #52341
@lpbayliss PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-16 05:31] #52341 closed

[2020-04-16 05:32] Amauri83 commented on #50632
Hi, Do you have any update about this?

[2020-04-16 05:35] DixitArora-MSFT commented on #52370
@j03Martin This has been discuss in detail in Public doc https://docs.microsoft.com/en-us/azure/azure-functions/functions-infrastructure-as-code

For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-16 05:35] #52370 closed

[2020-04-16 05:37] slavizh commented on #52344
@Blackmist also make a note that this can be set on initial deployment. If you set it to false, deploy and set it to true and re-deploy it will not even give error but the value will stay false.

[2020-04-16 05:42] DixitArora-MSFT commented on #52343
@StefanSchoof It is already mentioned in overview section.

![image](https://user-images.githubusercontent.com/46984568/79418769-0b24a780-7fd3-11ea-9679-9bad539cf721.png)

For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-16 05:42] #52343 closed

[2020-04-16 05:44] dcbrown16 commented on #52516
Actually the "not able to create in an RG with existing resources" appears to be a Portal bug just for us, so I'm working on resolving that.
Instead, please consider adding info on how to put an existing VM into a PPG.

[2020-04-16 05:45] linda33wj commented on #44540
Thanks for your feedback. Added a note in doc that when using Get Metadata activity against a folder, you need to have LIST/EXECUTE permission to the given folder.

#please-close

[2020-04-16 05:45] #44540 closed

[2020-04-16 05:46] AshokPeddakotla-MSFT commented on #52495
@stewart2020 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-16 05:46] apsyspeople commented on #43306
I experience the opposite concerning redirection, where changing from update1 to custom fixed it for me..(newyork only)

[2020-04-16 05:47] DixitArora-MSFT commented on #52395
@kitingChris Could you elaborate specific link in the doc you are discussing .

[2020-04-16 05:48] SnehaAgrawal-MSFT commented on #52493
@prsreejith Thanks for reaching us! Request you to share the document you are referring to help you better on this.

[2020-04-16 05:48] AshokPeddakotla-MSFT commented on #52510
@mohandatla Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-16 05:48] DixitArora-MSFT commented on #52430
@gkaleta I have assigned this to content author for further review and update as appropriate.

[2020-04-16 05:50] DixitArora-MSFT commented on #52440
@KlemensM We are currently working on this and targeting a preview version to be out by mid-year if not sooner. But these time lines may vary.

For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-16 05:50] #52440 closed

[2020-04-16 05:51] GuruCharan94 opened #52528 "How to resend invite using powershell"
You can resend invite using the Azure Portal. I can't seem to find how to resend invite using PowerShell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7ea676e-0678-9e2d-e009-fb44587f93dd
* Version Independent ID: 40b581da-26ea-2890-4a78-54b29f5dc610
* Content: [Quickstart: Add a guest user with PowerShell - Azure AD

[2020-04-16 05:53] DixitArora-MSFT commented on #52514
Hi @gmndrg Thanks for your feedback. We will review and update as appropriate.

[2020-04-16 05:55] souravmishra-msft commented on #52491
@CeciAc, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-16 05:56] DixitArora-MSFT commented on #52501
@shawnswlin As this is something specifically to a Product question , recommendation at this point is to create the product issue to the official [Azure Functions Repo](https://github.com/Azure/Azure-Functions/issues) for better clarity. Azure Function Repo will be monitored by Product team of Azure function.

[2020-04-16 05:57] souravmishra-msft commented on #52528
@GuruCharan94, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-16 06:00] souravmishra-msft commented on #52523
@p0rn5taR, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-16 06:02] souravmishra-msft commented on #52520
@James-McIntosh-NZHG, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-16 06:04] souravmishra-msft commented on #52519
@James-McIntosh-NZHG, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-16 06:08] souravmishra-msft commented on #52491
@cynthn,  Can you please check and add your comments on this doc update request as applicable.

[2020-04-16 06:13] slavizh opened #52529 "There is metric Resource that is not documented"
There is metric Resource that is not documented. Please document it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c81f049-5dba-aae5-a570-bdf880da450c
* Version Independent ID: d4aaa9f0-044a-f660-e265-5784a6c038b1
* Content: [Monitoring data reference - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/m

[2020-04-16 06:14] VikasPullagura-MSFT commented on #46588
Linking similar issue [52483](https://github.com/MicrosoftDocs/azure-docs/issues/52483)

[2020-04-16 06:18] VikasPullagura-MSFT commented on #52483
@niteenkole Thanks for your Query.

Here is a similar issue #[46588](https://github.com/MicrosoftDocs/azure-docs/issues/46588) that you can check.

Below is the [comment](https://github.com/MicrosoftDocs/azure-docs/issues/46588#issuecomment-611069846) from Internal team:

"Old" or "existing" cluster means any cluster using authorized IP ranges during preview. The existing rules and behavior will c

[2020-04-16 06:19] souravmishra-msft commented on #52518
@nandomx3, Thank you for sharing the feedback.

[2020-04-16 06:19] #52518 closed

[2020-04-16 06:20] souravmishra-msft commented on #52515
@SergGu, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-16 06:21] VikasPullagura-MSFT commented on #52483
@niteenkole
I will now close this issue. If there are further questions regarding this, please comment on the issue I have linked to this issue.
Thanks.

[2020-04-16 06:21] #52483 closed

[2020-04-16 06:21] souravmishra-msft commented on #52513
@denimad, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-16 06:24] souravmishra-msft commented on #52511
@dcc-spartan, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-16 06:26] souravmishra-msft commented on #52503
@CeciAc, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-16 06:31] souravmishra-msft commented on #52502
@CeciAc, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-16 06:34] souravmishra-msft commented on #52500
@lawrenceong001, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-16 06:36] souravmishra-msft commented on #52506
@luisflkn, Thank you for sharing the query. it would be great if you can share the corresponding Microsoft Doc that you are following so that its easier for us to assign it to the right team.

[2020-04-16 06:49] souravmishra-msft commented on #52499
@mrvladis, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-16 06:53] arunrajes opened #52531 "Update on R version in Azure ml Studio (classic)"
Hi Microsoft team,

I have been using Azure ML studio (classic) for quite sometime along with custom R scripts . The current version of R in Azure ML studio is MRO 3.4.4 &  The latest CRAN version of R is 3.6+ with major changes being brought to tidy verse community (dplyr, ggplot and much more). I used to code in R with local machine and bring to Azure ML Studio. these updates doesn't function in

[2020-04-16 06:55] mikanyg commented on #51554
Just send an email to AzCommunity@Microsoft.com with detailed information. We are currently using the original script version from 2019.

[2020-04-16 06:55] Kenks84 commented on #52375
Thanks for this comment, I've been pulling my hair out, but might just leave it until tomorrow to see if I can access it using AD Credentials

How long have you been waiting

[2020-04-16 06:57] souravmishra-msft commented on #52485
@gregmoore-ertech, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-16 07:00] MamidiVasavi commented on #52054
Thanks Daniel for fixing it.

BR,
Mamidi.

[2020-04-16 07:02] souravmishra-msft commented on #52470
@igormatic, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-16 07:04] souravmishra-msft commented on #52461
@SamirFarhat, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-16 07:06] souravmishra-msft commented on #52529
@slavizh, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-16 07:14] nisreen95 opened #52532 "Out of date diagnostic log type for Microsoft.Sql/servers/databases (SQLSecurityAuditEvents)"
From the diagnostic log types above, I can see that Microsoft.Sql/servers/databases still has SQLSecurityAuditEvents, but from the more updated documentation below, this log type is no longer available: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-metrics-diag-logging?tabs=azure-portal#diagnostic-telemetry-for-export-for-azure-sql-database

From my lab, I was also able to confi

[2020-04-16 07:22] RohitMungi-MSFT commented on #52503
@SteveDuchene The auto suggest API is typically used based on the call to the API each time the user types a new character in the application's search box. As more characters are entered, the API will return more relevant suggested search queries. So, if the complete search term is typed it might suggest items relevant to the complete item but not necessarily return the same term. Here is an examp

[2020-04-16 07:24] yull1860 opened #52533 "out-dated spring.cloud.azure.appconfiguration.stores[0].name in Connect to an App Configuration store step 6"
URL : https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-java-spring-app#create-a-spring-boot-app

according to appconfiguration repo , it should be “connection-string” instead of "name"

![image](https://user-images.githubusercontent.com/17472445/79426758-3240a080-7ff6-11ea-92c3-d7d2fb868f50.png)

https://github.com/microsoft/spring-cloud-azure/tree/master/spring-cloud-azur

[2020-04-16 07:26] KosukeHosoda opened #52534 "The description for the rule "932150" seems to be missing"
The description for the rule "932150" seems to be missing in the section of "REQUEST-932-APPLICATION-ATTACK-RCE".
Could you kindly add the description as below?
&gt;932150　Remote Command Execution: Direct Unix Command Execution

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 079888f6-188c-1bb9-0516-bd52ad0f287e
* Versio

[2020-04-16 07:27] reneschulte commented on #52059
Confirmed it works now and the bug is fixed. Thanks and take care.

[2020-04-16 07:27] #52059 closed

[2020-04-16 07:27] souravmishra-msft commented on #52531
@arunrajes, Thank you for sharing the update. It would be great if you can share the Microsoft Doc that you following or checking so that its easier for us.

[2020-04-16 07:28] sgdesmet opened #52535 "Clarification needed on how ExternalLoginSSOSessionProvider works with an external IdP"
Based on the documentation regarding [technical profiles](https://docs.microsoft.com/en-us/azure/active-directory-b2c/technical-profiles-overview) it seems that a session manager is executed both before and after a technical profile is called.

However, the following attempt to set `prompt` to `none` for an external IdP when SSO is used does not work:

    <TechnicalProfile Id="SM-SocialLogin">

[2020-04-16 07:31] abbgrade opened #52536 "Configure Datasource"
Do i need to configure data sources in the gateway for AAS, like i have to in Power BI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b6e437d-7325-8f97-7d23-27f82cb1113b
* Version Independent ID: 02e16c34-93d2-fe96-c724-33b2b62f0393
* Content: [On-premises data gateway for Azure Analysis Services](https://docs.micros

[2020-04-16 07:31] sandeeplodhirajput commented on #52285
Hi @KranthiPakala-MSFT  thanks for your response.
I did create SalesLT schema in my datawarehouse which is my destination. I also create on table Address in destination datawarehouse database. now when i run the pipeline I am getting below error message.

{
    "errorCode": "2200",
    "message": "ErrorCode=FailedDbOperation,'Type=Microsoft.DataTransfer.Common.Shared.HybridDeliveryException,Messag

[2020-04-16 07:33] souravmishra-msft commented on #52532
@nisreen95, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-16 07:40] K-dt commented on #52438
@amanmcse Thank you for your advice. Today in the morning, the selection or choice box in the title bar (I don´t know, how I could name it - especially in English, sorry) finally disapeared without any other actions! :-) So it lasts about 2-3 days to get the actions into a result?

Regarding my directories, I don´t have the registers 'Favorites' and 'All Directories'

![grafik](https://user-images

[2020-04-16 07:42] KosukeHosoda opened #52537 "The source IP when connecting from AppGW to the backend"
It would be nice if this page has the description regarding the source IP when connecting from AppGW to the backend. Because some users might want to restrict the source IP on backend servers.

I would say about the source IP as below.
・In the case of connecting to private IP (ex. Azure VM), AppGW will use its private IP of the instance. (In specific, some private ip on AppGW subnet)
・In the case

[2020-04-16 07:53] KosukeHosoda opened #52539 "the explanation of Failed Requests"
I would say a more specific expression would be good regarding Failed Requests. Because the  description of only "failed requests" appear to be a little ambiguous.
For example, I suppose "count of the request that Application Gateway has served 5xx error due to Application Gateway itself or backend ."

-------------------------------------
・Failed Requests
Count of failed requests that Application

[2020-04-16 07:54] souravmishra-msft commented on #52533
@yull1860, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-16 07:57] souravmishra-msft commented on #52526
@DKT2510, Thank you for sharing the query. can you please share me the Microsoft Doc you are referring to, so that its easier for us to get this assigned to the right team.

[2020-04-16 07:58] MarkusKoenig73 commented on #52406
thank you!
will try it out.

[2020-04-16 07:59] souravmishra-msft commented on #52525
@DKT2510, Thank you for sharing the query. can you please share me the Microsoft Doc you are referring to, so that its easier for us to get this assigned to the right team.

[2020-04-16 08:00] souravmishra-msft commented on #52534
@KosukeHosoda, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-16 08:02] prsreejith commented on #52493
https://docs.microsoft.com/en-us/azure/notification-hubs/xamarin-notification-hubs-ios-push-notification-apns-get-started

[2020-04-16 08:03] souravmishra-msft commented on #52524
@DKT2510, Thank you for sharing the query. can you please share me the Microsoft Doc you are referring to, so that its easier for us to get this assigned to the right team.

[2020-04-16 08:03] dcurwin commented on #52388
#reassign:pvrk

[2020-04-16 08:05] souravmishra-msft commented on #52535
@sgdesmet, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-16 08:06] souravmishra-msft commented on #52539
@KosukeHosoda, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-16 08:07] souravmishra-msft commented on #52537
@KosukeHosoda, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-16 08:11] rinso11 commented on #38188
Hi, to update further, I would make it clear in the instructions that you need to do these steps
1. Install ADDS for a cloud-only deployment
2. As per ADDS best practice; you should install it in it's own network you will, therefore, need to peer the networks
3. You will need to change the VDI network's DNS settings from default to use the same DNS servers location in the ADDS network DNS settings

[2020-04-16 08:24] OffColour commented on #52459
@TravisCragg-MSFT https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-end-to-end-ssl-powershell

"This sample configures the certificate used for the TLS connection. The certificate needs to be in .pfx format, and the password must be 4 to 12 characters."

[2020-04-16 08:25] K-dt commented on #52438
Ok, I checked this on Teams of of the other users and the choice box disappeared there also.

I think, at least for the one Teams free organization my first step to [log on to the Teams free organization as administrator](https://support.microsoft.com/en-us/office/delete-your-teams-free-organization-2c28cfcf-3fbf-497c-938f-8815a8f6a6b9?ui=en-us&rs=en-us&ad=us), remove all members from this organiz

[2020-04-16 08:28] ram-msft commented on #52406
@MarkusKoenig73 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-16 08:28] #52406 closed

[2020-04-16 08:30] #52281 closed

[2020-04-16 08:33] TrondHaugmo commented on #44645
I can confirm the same issue: Deployed a Windows Server 2019 VM in Azure, the Microsoft.Azure.ActiveDirectory.AADLoginForWindows extension installed successfully (plugin version: 0.4.1.1), and AD join is OK (AzureAdJoined : YES, but AzureAdPrt : NO) in that VM. When trying to RDP from a Win10 1909 client (hybrid-joined to same Azure AD, with both AzureAdJoined : YES and AzureAdPrt : YES) I get "Th

[2020-04-16 08:34] souravmishra-msft commented on #52347
@jeevansd, Can you please look into this as I am not able to update the doc.

[2020-04-16 08:37] prajeeshprathap opened #52541 "Please refer to the new API https://www.nuget.org/packages/Microsoft.Azure.Storage.Common/"
Please refer to the new API https://www.nuget.org/packages/Microsoft.Azure.Storage.Common/

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eff27d7-f909-fc99-14f6-ad572629907f
* Version Independent ID: 57504146-9f89-e4d6-3f5b-5cd9af305d45
* Content: [Develop for Azure Files with .NET](https://docs.microsoft.com/en-us/azure/

[2020-04-16 08:39] amanmcse commented on #52438
@K-dt I have seen this change takes several minutes to take effect but it should not be 2-3 days. But if the organization is successfully removed from My Apps portal and Azure Portal but not from Teams, I would suggest you to discuss it on Teams forum.
Since you are no facing the issue now, I am closing the thread. Feel free to tag me in your reply  if you have any questions.

[2020-04-16 08:39] #52438 closed

[2020-04-16 08:51] TrondHaugmo commented on #45843
In my experience, you need to use the following curl syntax (curl -H Metadata:true "http://169.254.169.254/metadata...) for the troubleshooting commands to work on a Windows Server 2019 machine (using "-H @{"Metadata"="true"} "http://..." generates an error: "Bad request. Required metadata header not specified")

[2020-04-16 08:54] orloffm commented on #52206
@TravisCragg-MSFT

But isn't it a suggested use case for app services? I do `dotnet new webapp` and host in on an app service and make it available on the Internet under a root domain?

So what is _the way_ to host web apps? Fire up a Linux VM, buy a static IP and point the A record to it?

[2020-04-16 08:57] amanmcse commented on #52523
@p0rn5taR You can follow the instructions provided in this document: https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/tutorial-access-api-with-certificates

In order to export the report in CSV format, you can use below commands after step 7 in the doc:

$url = "https://graph.microsoft.com/beta/AuditLogs/signins"
$Headers = @{
'Authorization' = "bearer $accessToken"
}
$ou

[2020-04-16 09:03] abshamsft commented on #52539
@KosukeHosoda *Failed requests* is  number of requests that Application Gateway has served with 5xx server error codes. This includes the 5xx codes that are generated from the Application Gateway as well as the 5xx codes that are generated from the backend. The request count can be further filtered to show count per each/specific backend pool-http setting combination.

[2020-04-16 09:03] nandangajananhegde opened #52542 "ADF:Odata Connector Issue"
We are trying to use Odata connector in Data Factory v2 for connecting to a online Sharepoint List(both in the same Tenant).
We are using Authentication type “AAD Service principal with Key” and the other values supplied are in accordance with the Microsoft documentation available.

While creating the linked service we are getting this error :

“Connection failed
Failed to create OData connection

[2020-04-16 09:21] urig commented on #52281
Thank you @souravmishra-msft.

Two questions to verify that I understand correctly:

1. The *Application* object is essentially the *App Registration*, correct?
2. An *Application* can have 1 or more *Service Principals*, correct?
3. *Service Principal*, *Managed Application* and *Enterprise Application* are all synonymous terms?

[2020-04-16 09:23] msrini-MSFT commented on #52348
Please tag me if you have any further questions.

[2020-04-16 09:23] #52348 closed

[2020-04-16 09:46] cbailiss opened #52543 "vCores vs DTUs"
In the comparison table, on the "Compute size" line, the "Single database" values are given as "1 to 80 vCores".  This is confusing, since single database resource sizing can also be configured using DTUs, not vCores.  Either these values should be stated with DTUs too, or a footnote needs adding that explains why only vCore values are being used in the table.

---
#### Document details

⚠ *Do not

[2020-04-16 09:50] jakaruna-MSFT commented on #52209
ok. Lets involve azure support now.  Since we have the correlation id, Support can identify the issue well.

Please send your subscription id to this email id azcommunity@microsoft.com

we will enable a one time free support ticket to get this resolved.

If that turns out to be a bug, we can file one in azure cli repo.

while sending the email include this issue url in the email body and issue des

[2020-04-16 09:51] noakup commented on #45197
we're holding on the BCDR article until the features reach a public preview. Due to current circumstances, I don't have a clear ETA on this.

[2020-04-16 09:51] jakaruna-MSFT commented on #52063
@mlearned Please check this issue and add this to the document as needed.

[2020-04-16 09:54] jakaruna-MSFT commented on #51828
ok. Lets involve azure support now.

Please send your subscription id to this email id azcommunity@microsoft.com

we will enable a one time free support ticket to get this resolved.

while sending the email include this issue url in the email body and issue description in the subject

[2020-04-16 09:58] arkein opened #52544 "Email in Guest user invitation might be case-sensitive"
Given I am an administrator of Azure AD tenant (non-federated), when I add a guest user from another Azure AD tenant (federated), I have to guess the exact spelling of email address to create a working invitation link. If there is a difference in case, the user receives error "AADB2B_0001 : We cannot create a self-service Azure AD account for you because the directory is federated. Tenant's admin

[2020-04-16 10:02] SwathiDhanwada-MSFT commented on #52274
@sshams79 Can you provide your insights on this?

[2020-04-16 10:07] jakaruna-MSFT commented on #51606
@dlepow Thanks for the information.

Since you have a work item in place for doc enhancement, i will assign this issue to you.
Based on the work items status, plan to close this issue

[2020-04-16 10:09] ram-msft commented on #52247
@Nazar-Pa you can use interactive testing in the LUIS for intent/entity recognition.
once you trained the luis model and test the same using **Test**. Type the test utterances and inspect the entities as displayed.
![image](https://user-images.githubusercontent.com/49180516/79443169-1db0d800-7ff7-11ea-8df8-4f8a1e11e3d2.png)
you can add the pre built entity(ex:geographyV2),its predictions will be a

[2020-04-16 10:09] #52247 closed

[2020-04-16 10:11] SubhashVasarapu-MSFT commented on #51504
@ishepherd , Appreciate your patience. This issue has been assigned to respective content author for better insights.

[2020-04-16 10:13] SubhashVasarapu-MSFT commented on #51906
@hiteshvadgama , We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-04-16 10:13] #51906 closed

[2020-04-16 10:15] BakkerJan commented on #46620
@msmimart any update?

[2020-04-16 10:17] sujayvsarma commented on #40975
The entire Microsoft Identity story is messed up. At least, it is not as bad today as it was 2-3 years ago when even the portals you had to go to where different -- you had to sign into 3 different portals to get things configured. But things are getting better.

Unfortunately, the reason for this is the complicated organization that Microsoft itself is. There would be at least 20 different teams

[2020-04-16 10:18] YouGamers commented on #32940
Is there any update on this? I am having the exact same issue. Thanks

[2020-04-16 10:24] sujayvsarma opened #52545 "Azure CXP Process change - Ticket procedure"
Standard L1 team -- DO NOT pick up this ticket.
---

The Azure CXP triage, ownership and issue closure process needs to change. Today, it is largely driven on principles of an IT Ops team following an ITSM-like process. Sure, that is because 90% of the people staffing the team come from IT Ops background. But that is NOT the need of the users that these people interact with.

**Process Change 1:**

[2020-04-16 10:28] CHEEKATLAPRADEEP-MSFT commented on #52542
@nandangajananhegde  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory)
Once you post your issue on forums, it will have visibility across the community which is a better suite

[2020-04-16 10:32] jakaruna-MSFT commented on #50997
@rdbraber
I will close this out for now. If you need additional help please open a anew issue.
You can submit a feedback here https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks   for the missing feature.

Community can vote for that feature and if it has enough votes, Product teams will consider taking them on the backlog.

[2020-04-16 10:32] #50997 closed

[2020-04-16 10:44] jakaruna-MSFT commented on #52226
@NitroAMD
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-16 10:49] jakaruna-MSFT commented on #50932
@amramtamir
I will close this out for now. If you need additional help please open a new issue

[2020-04-16 10:49] #50932 closed

[2020-04-16 10:49] wouterdevinck opened #52547 "Page contract selfasserted 2.0.0 seems to break locatisation of built-in strings"
This works (page contract 1.2.0):

[code]

[code]

This doesn't work (with page contract 2.0.0, built-in strings, e.g. the "Continue" button are not translated):

[code]

[code]

This workaround also works (specifying the built in strings, not only the custom ones), but would be annoying to do for all built-in strings:

[code]
[code]

[code]

[2020-04-16 10:49] jakaruna-MSFT commented on #50753
@sami1178116
I will close this out for now. If you need additional help please open a new issue

[2020-04-16 10:49] #50753 closed

[2020-04-16 10:50] jakaruna-MSFT commented on #50848
@tkumark
I will close this out for now. If you need additional help please open a new issue

[2020-04-16 10:50] #50848 closed

[2020-04-16 11:01] wouterdevinck opened #52548 "Page contract selfasserted 2.0.0 seems to break locatisation of built-in strings"
This works (page contract 1.2.0):

[code]

[code]

This doesn't work (with page contract 2.0.0, built-in strings, e.g. the "Continue" button are not translated):

[code]

[code]

This workaround also works (specifying the built in strings, not only the custom ones), but would be annoying to do for all built-in strings:

[code]
[code]

[code]

[2020-04-16 11:05] wouterdevinck opened #52549 "Page contract selfasserted 2.0.0 seems to break locatisation of built-in strings"
This works (page contract 1.2.0):

[code]

[code]

This doesn't work (with page contract 2.0.0, built-in strings, e.g. the "Continue" button are not translated):

[code]

[code]

This workaround also works (specifying the built in strings, not only the custom ones), but would be annoying to do for all built-in strings:

[code]
[code]

[code]

---
#### Document Details

⚠ *Do not edit this section.

[2020-04-16 11:05] wouterdevinck commented on #52548
https://github.com/MicrosoftDocs/azure-docs/issues/52549

[2020-04-16 11:05] #52548 closed

[2020-04-16 11:06] abshamsft commented on #50632
Configuring a health probe on a custom probe is not supported form the portal yet. It is supported through [API ](https://docs.microsoft.com/rest/api/application-gateway/applicationgateways/createorupdate#applicationgatewayprobe)using the parameter _properties.port_.

[2020-04-16 11:06] wouterdevinck commented on #52547
https://github.com/MicrosoftDocs/azure-docs/issues/52549

[2020-04-16 11:06] #52547 closed

[2020-04-16 11:06] jakaruna-MSFT commented on #51862
@Are you looking for any specific database

[2020-04-16 11:07] are commented on #51862
Not really?

[2020-04-16 11:10] jakaruna-MSFT commented on #51862
@are Sorry. I tagged you instead of tagging SuDHarmik

[2020-04-16 11:12] artsheiko opened #52551 "Reference to start_continuous_recognition() exemple"
It could be useful to add a reference to the exemple code to use for the long-running multi-utterance recognition : https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/python/console/speech_sample.py#L196

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a421fddc-eebd-2ff2-6216-b2a00bbd3fdf

[2020-04-16 11:13] SuDHarmik commented on #51862
@jakaruna-MSFT Oracle Database for Oracle eBusiness suite.

[2020-04-16 11:17] 84618315 commented on #51488
We have the same problem and the cause of it the 'page layout version' when you are using the lastest (2.0.0). some of the Localization string IDs changed and/or does NOT work anymore. we would like to have the updated 'ver_intro_message' ID.

[2020-04-16 11:21] artsheiko opened #52552 "Python code exemple"
It may be helpful to add a Python code to use to enable the formats listed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 095c74d0-66b3-9cd7-4588-291bf4f56a47
* Version Independent ID: 8125527b-407f-c34f-57e8-fea89db144e8
* Content: [Stream codec compressed audio with the Speech SDK - Speech service - Azure Cognitive S

[2020-04-16 11:25] ram-msft commented on #52248
@cagrimunyas Thanks for the feedback. Please follow the below document for SpeechRecognizer constructor added in 1.9.0.
https://docs.microsoft.com/en-us/dotnet/api/microsoft.cognitiveservices.speech.speechrecognizer.-ctor?view=azure-dotnet#Microsoft_CognitiveServices_Speech_SpeechRecognizer__ctor_Microsoft_CognitiveServices_Speech_SpeechConfig_System_String_Microsoft_CognitiveServices_Speech_Audio

[2020-04-16 11:48] AronT-TLV opened #52553 "Pem"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6148535d-c60a-fa0b-50ae-42ae1af1b710
* Version Independent ID: 22db460f-f08f-c919-516c-53da75a192a0
* Content: [External authentication from ACR task - Azure Container Registry](https://docs.microsoft.com/en-us/azure/container-registry/container-regis

[2020-04-16 11:49] #52553 closed

[2020-04-16 12:03] dohughes-msft opened #52554 "New feature "Use existing key stored in Azure""
The Azure portal now has a field called "SSH public key source". Here you can select the option "Use existing key stored in Azure". How does one store ones public key in Azure? I tried creating a key in Key Vault but it does not appear in the drop-down list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbbd6dbf-a5be-

[2020-04-16 12:04] Blackmist commented on #52344
Thanks @slavizh for reporting and providing additional info. I've asked the engineering team to take a look at this also. Waiting on their feedback now.

[2020-04-16 12:12] dcurwin commented on #51434
#assign:dcurwin

[2020-04-16 12:13] dcurwin commented on #51434
The document has been updated - the changes will show in the next few hours.

#please-close

[2020-04-16 12:13] #51434 closed

[2020-04-16 12:30] SujayJDesai commented on #51435
Thanks for more details. We will look to add these in the article soon.

[2020-04-16 12:31] izzy1993 commented on #52237
Any update on this? thanks

[2020-04-16 12:33] dcurwin commented on #51435
#please-close

[2020-04-16 12:33] #51435 closed

[2020-04-16 12:39] souravmishra-msft commented on #52544
@arkein, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-16 12:40] KalyanChanumolu-MSFT commented on #52543
@cbailiss Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-04-16 12:40] souravmishra-msft commented on #52549
@wouterdevinck, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-16 12:43] souravmishra-msft commented on #52551
@artsheiko, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-16 12:46] SnehaAgrawal-MSFT commented on #52241
@upmygit Thanks for reply. To clarify on this when assigning the identity to the group manually, it shouldn't take time but when using dynamic group, where specifying some query like name starts with 'A' then that account should be added to group, and that takes time.

You may refer to for more details: https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/groups-create-rule

[2020-04-16 12:48] SwimlaneBuilder opened #52557 "Script to automate creation of IdentityExperience Applications"
Consider adding this script to add IdentityExperience apps to the new B2C tenant, and ideally new powershell scripts to automate other aspects (update the XML content, federate with AAD B2B etc)

https://github.com/Azure-Samples/active-directory-external-identities-woodgrove-demo/blob/master/Scripts/New-B2CTenant/New-B2CTenant.ps1#L95

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-04-16 12:56] souravmishra-msft commented on #52552
@artsheiko, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-16 12:58] souravmishra-msft commented on #52554
@dohughes-msft, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-16 12:59] amanmcse commented on #52499
@mrvladis The instructions are working fine for me. I just double checked by configuring the policy again in my B2C tenant and didn't encounter any such issue. There seems to be some configuration issue which is causing this error. Could you please share your policy files at AzCommunity[at]microsoft[dot]com to investigate into it?

[2020-04-16 13:00] juanpis013 commented on #51828
Hi @jakaruna-MSFT

I just sent the email you suggested me. Please advise of further actions needed

[2020-04-16 13:02] jmedina-genetec commented on #51828
Hi @jakaruna-MSFT<https://github.com/jakaruna-MSFT>
I just sent the email you suggested me. Please advise of further actions needed
From: jakaruna-MSFT <notifications@github.com>
Sent: April 16, 2020 5:55 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Juan Medina <jmedina@genetec.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Move-AzureStora

[2020-04-16 13:03] jmedina-genetec commented on #51828
Hi @jakaruna-MSFT

I just sent the email you suggested me. Please advise of further actions needed

[2020-04-16 13:07] moiiran opened #52559 "Letters - not only a-z for non-english speakers"
For us and our customers, "åäöæøðüþ" (among others) are perfectly legitimate letters in our alphabet. How can I include these in "letter CharacterSets" in a meaningful way? I tried setting up two CharacterSets like so:

[code]

But it seems f.i. "ö" and "Ö" are regarded as the same character, and therefore both regarded as uppercase letters in this setup.

---
#### Document Details

⚠ *Do not edit

[2020-04-16 13:16] ManoKanmani commented on #52065
@SaurabhSharma-MSFT  @cmmdesai
Team,

Any updates on this ?

We are facing access level issue by the time of installing the Provisioning Agent with normal Admin account but as per troubleshoot document they have requested to use Domain Admin credentials.

https://docs.microsoft.com/en-us/azure/active-directory/cloud-provisioning/how-to-troubleshoot#agent-failed-to-start

In our company we are not

[2020-04-16 13:18] moiiran commented on #52559
Oh. And if you use the exact example given on this page, but change Uppercase and Lowercase CharacterSets to the list of characters in my example above, a password "12345678" will be deemed valid by the PredicateValdidation(?!), even though it does not contain any letters or symbols.
(But when hitting the continue-button, a non-informative error message "password input invalid" will pop up)

[2020-04-16 13:21] luisflkn commented on #52506
Thank you very much for the prompt response, I am using as a guide document "Quickstart: Face client library for Python" and the service I am using is FaceClient, and the function I want to run is "Verify Faces"

this is the link which I'm using as a guide:
https://docs.microsoft.com/en-us/azure/cognitive-services/face/quickstarts/python-sdk#verify-faces

[2020-04-16 13:22] ManoKanmani commented on #52464
@SaurabhSharma-MSFT

After the troubleshooting I came to know as per MS document we must use Domain Admin credentials.
https://docs.microsoft.com/en-us/azure/active-directory/cloud-provisioning/how-to-troubleshoot#agent-failed-to-start

In our company we are not allowed to use Domain Admin access, currently i am able to install the agent this with the help of "Local Admin" access.

My question her

[2020-04-16 13:25] enricomarongiu opened #52560 "Missing "get started approval" information"
The current process consists in an additional "get certified approval" step right after the test+connect,  which is not mentioned in this guide. Moreover, there is no information on the device submission page about who is giving approval, what is the time range to get feedback, who should we contact if we want to update the getting started guide.

---
#### Document Details

⚠ *Do not edit this sec

[2020-04-16 13:32] pellebjerkestrand opened #52561 "context.done does not handle both an error object and a JSON object."
The documentation (at https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node#contextdone-method) states (my emphasis):

I can't seem to get this to work at all. If an error object is passed as the first argument to `context.done`, the response is empty (instead of being whatever is passed as the second argument).

Is the documentation correct in using _both_ and _and_? If

[2020-04-16 13:43] gurvsing commented on #49730
@vikramdadwal  Update api is used to update actual qna while train api is used to give feedback to the ranker. Based on the collected feedback, we try to give some suggestions that could be possible alternate question for that particular qna.

[2020-04-16 13:45] GiftA-MSFT commented on #52159
@robinmanuelthiel can you please clarify what operations are you looking to perform using the REST API?

[2020-04-16 13:46] marktab commented on #52458
@GiftA-MSFT comment is correct, missing that simple line -- I don't know how to connect an edit to this issue

[2020-04-16 13:46] ElmoGonzo commented on #52477
Today something different happened.
I started with my first request to get the code.  It uses our tenantid in the request and our client_id in the parameters which otherwise follows the example GET from this page for scope.
https://login.microsoftonline.com/7cf48d45-3ddb-4389-a9c1-c115526eb52e/oauth2/v2.0/authorize?client_id=ce09aca9-1c03-4643-8774-f916afbc7ab9&scope=openid offline_access https://

[2020-04-16 13:50] vikramdadwal commented on #49730
@gurvsing : thanks for the answer. So here in my scenario, we already know the suggestion ( i.e. alternate question) , so update Api is what we need right?

[2020-04-16 13:51] gurvsing commented on #49730
Yes, you need to use update api. Train api is generally for the end users, where once they get some answer, you can ask for feedback and call train api to send qnamaker the feedback.

[2020-04-16 13:52] vikramdadwal commented on #49730
Thanks closing the issue now.

[2020-04-16 13:52] #49730 closed

[2020-04-16 13:55] marktab commented on #52458
@GiftA-MSFT  I finished a pull request, we may close this ticket

[2020-04-16 13:56] billmath commented on #46360
@ZaherButt Thank you for the issue.  I spoke with engineering and although it has never been tested, they said it should be okay.  thanks!

#please-close

[2020-04-16 13:56] #46360 closed

[2020-04-16 13:57] sriharsha9 commented on #28679
@femsulu @KetanChawda-MSFT
Any update on when this feature will be available? I am also looking for subscription level metrics to add alerts.

[2020-04-16 13:59] billmath commented on #50253
@00sivan Thank you for the issue.  I have created a work item for this and will be addressing it.  Unfortunately I don't have an ETA for when this change will go in because things move around alot.  I will post an update to this thread once the changes have been staged and are going live.

Thanks!

Bill

#please-close

[2020-04-16 13:59] #50253 closed

[2020-04-16 14:00] DonPetry-EY opened #52563 "Include Azure Data Studio in all DSVM images"
Please help vote for this!

https://feedback.azure.com/forums/910651-data-science-vm/suggestions/40177141-include-azure-data-studio-in-windows-and-linux-dsv

Currently, on the Windows DSVM the image provides SQL Server Management Studio (SSMS) which is the classic SQL DB management and development tool.

Microsoft released a new experience way back in July 2018 called Azure Data Studio (ADS) which

[2020-04-16 14:11] MGoedtel commented on #52279
@lanicolas - You are right the documentation related to the Update Management and Change Tracking and Inventory solutions need to be updated to discuss and make reference to Azure Lighthouse for cross-tenant scenarios.  This will be addressed in our sprint this month or next month the latest. Thanks for making this point.  #please-close

[2020-04-16 14:11] #52279 closed

[2020-04-16 14:12] lawrenceong001 opened #52564 "Simply installing express results in application errors"
just a note --
1. the following would need to be installed (using npm i ): express, morgan, path -- the doc only mentioned express
2. after npm init (probably another step to write out), we would need to change the linke in package.json:
"main":"index.js" -&gt; "main": "server.js"

these are probably obvious things for experienced folks, but for newcomers could be a deterrent.

and it works so kud

[2020-04-16 14:14] AshokPeddakotla-MSFT commented on #52560
@enricomarongiu Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-16 14:20] arvind-dhariwal opened #52565 "Missing decription of WS1_Admins or typo error"
There is not description on this page about "WS1_Admins". I guess it is typo and it should be "WS1_WSAdmins" under  https://docs.microsoft.com/en-us/azure/synapse-analytics/security/how-to-set-up-access-control#step-1-set-up-security-groups

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1149f92f-5b95-7b27-5525-db4f792d

[2020-04-16 14:24] GiftA-MSFT commented on #52159
@robinmanuelthiel thanks for clarifying. If you are looking to create and manage projects in Speech Studio via REST API, this feature will be available in V3 (in a few weeks). Hope this helps. Thanks.

[2020-04-16 14:32] viswanadham-k commented on #50422
Hi @thefonz3h

We have fixed the issues which you have listed here.
Please go through below steps to update latest changes in your environment.

Access below link and copy the basicScale.ps1 code
https://github.com/Azure/RDS-Templates/blob/ptg-wvdautoscaling-automation/wvd-templates/wvd-scaling-script/basicScale.ps1
Access your automation account resource in Azure portal.
Click on Runbooks
a. Sele

[2020-04-16 14:36] benfaria opened #52567 "AD Domain Services - location of the service"
Hello,
The answer to "Can I failover Azure AD Domain Services to another region for a DR event?", asserts that the Domain Service is restricted to that particular Region. Yet in https://go.microsoft.com/fwlink/?linkid=2092972, the report suggests that for the UK, the Domain Service is located in Ireland and pthe Netherlands - both outside the UK Region. Please verify and amend the documentation to

[2020-04-16 14:41] ingd commented on #52497
Ok @TravisCragg-MSFT, but it is not clear to me if we talking about my vNET in Azure or about IPs provided by my partner (Equinix). Precisely, I have a vNET in Azure as 192.168.230.0/24, with 192.168.230.0/25 subnet.

My partner gives the subnet 10.31.128.16/30. That subnet corresponds to his internal network (datacenter Equinix).

My question is: which one I have to configure as Azure Private?

[2020-04-16 14:43] msrini-MSFT commented on #51984
@dr-ivan, yes you are correct. You need to add NSG outbound deny rule to Private endpoint to the all the sources which you don't want access to the private Endpoint.

If you have On-Premises traffic to Azure VNET, then you need to have a specific /32 route of the Private endpoint next hop as null and associate that to the Gateway Subnet.

Hope that clarifies.

[2020-04-16 14:44] chanakyaMT commented on #32940
YouGamers, Please try below code once , I believe it should work.

{
    "name": "Get token",
    "type": "WebActivity",
    "dependsOn": [],
    "policy": {
        "timeout": "7.00:00:00",
        "retry": 0,
        "retryIntervalInSeconds": 30,
        "secureOutput": false,
        "secureInput": false
    },
    "userProperties": [],
    "typeProperties": {
        "url": "https://login.micr

[2020-04-16 14:45] chanakyaMT commented on #32940
`https://login.microsoftonline.com/<tenantid>/oauth2/token`

[2020-04-16 14:46] YouGamers commented on #32940
Thank you Chankya

That worked great. Thank you for taking your time to help me.

It is much appreciated.
Neal

________________________________
From: chanakyaMT <notifications@github.com>
Sent: 16 April 2020 14:44
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: YouGamers <nealamin@hotmail.co.uk>; Comment <comment@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] unable

[2020-04-16 14:53] RonnieQuan opened #52568 "RBAC/Operation Information for Private Endpoint, Private Link and Private Link Service"
Does this document have RBAC/Operation Information for Private Endpoint, Private Link and Private Link Service?

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b006a616-2f2f-8ecf-8b80-fd0a3cc62090
* Version Independent ID: 92c54dc6-8ddf-b1f7-4a58-d61b8cd7fe25
* Content: [What is an Azure Private Endpoint?](h

[2020-04-16 14:53] arvind-dhariwal opened #52569 "What is MSI"
It would be better to call Managed service Identity instead of just MSI or somewhere we need share once like Managed service identity(MSI) then later on this page reader can understand this short form.

https://docs.microsoft.com/en-us/azure/synapse-analytics/security/how-to-set-up-access-control#step-4-configuring-data-lake-storage-gen2-for-use-by-synapse-workspace

---
#### Document Details

⚠ *

[2020-04-16 14:56] chanakyaMT commented on #32940
You are welcome.

Thank you.

have a great day

[2020-04-16 14:57] v-ulneve opened #52570 "Microsoft message analyzer download link is broken"
Microsoft message analyzer download link is broken. Please update for a working one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbd5eb5b-1eb7-e78d-84d7-7c2cd3569237
* Version Independent ID: 438d7599-6a78-f148-2326-b43f3c9ad57a
* Content: [Work with existing on-premises proxy servers and Azure AD](https://docs.micr

[2020-04-16 15:02] srini1978 opened #52571 "Application insights profiler causing momentary CPU spikes to 90% when it is run"
We are using App service in an ASE environment. We have enabled application insights profiler and we see that when this webjob runs, the CPU usage spikes upto 90% and then it comes down.

There is no impact on application performance as of now when the CPU spikes up but want to understand if there is something we can do at a settings level to manage this,

[2020-04-16 15:09] SaurabhSharma-MSFT commented on #52557
@RedBlue1776 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-16 15:11] SaurabhSharma-MSFT commented on #52559
@moiiran Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-16 15:11] aelij opened #52572 "AADSTS65005 not listed"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a826ee6f-f457-7109-9f77-67c57977d4e7
* Version Independent ID: 11766f27-492e-a579-dced-8a42528cbb47
* Content: [Azure AD authentication & authorization error codes](https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-aadsts-error-codes#feedback)
* Cont

[2020-04-16 15:11] SaurabhSharma-MSFT commented on #52570
@v-ulneve Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-16 15:12] SaurabhSharma-MSFT commented on #52564
@lawrenceong001 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-16 15:13] SaurabhSharma-MSFT commented on #52567
@benfaria Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-16 15:14] alex-frankel commented on #52366
Hi @JJDE - As deploymentScripts are only in private preview, they cannot be used in Azure Marketplace offers. As we move towards GA, we will evaluate if this makes sense to be allowed in the marketplace.

[2020-04-16 15:14] BhargaviAnnadevara-MSFT commented on #52140
@zakimaksyutov Thanks for the update!

@AlissonRS Hope the above responses help.

At this point, it appears that there are no edits or updates needed to the document in question. Hence closing this issue for now. If there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-04-16 15:14] #52140 closed

[2020-04-16 15:14] aquibqureshi26 commented on #32319
Hi Anirudh any timeline for the GA? I'm eagerly waiting for this feature to come up for other regions.

[2020-04-16 15:14] SaurabhSharma-MSFT commented on #52572
@aelij Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-16 15:18] yobyot opened #52573 "Where are public settings like stopOnMultipleConnections documented"
This page refers to public settings but is incomplete because it does not either document them here (preferred) or link to a page that does.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cefed4e0-440d-18d5-8b8d-4a345f396e9b
* Version Independent ID: 2882136f-7fde-685d-c24f-037ee7626667
* Content: [Log Analytics virtua

[2020-04-16 15:19] nzthiago opened #52575 "Document writing multiple documents using CosmosDB output binding using Node.js"
As per https://github.com/Azure/azure-webjobs-sdk-extensions/issues/376 writing multiple documents using CosmosDB output binding using Node.js is possible (that was for Functions 1.x for I believe it's also possible in Functions 2.x). But it's not documented anywhere, this here would be a good place to add examples for non-C# languages.

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-04-16 15:20] sidneyocirqueira commented on #48899
@jovancosta-bairesdev  could you provide me the way that your product owner linked Azure AD with the devops subscription?

[2020-04-16 15:21] abshirey-msft commented on #52477
Does the way you call the code allow for interactive login? If so, I'd start by trying to add the prompt parameter to the authorize query. Prompt=login or prompt=select_account should override any non-interactive default settings.

[2020-04-16 15:23] shashishailaj commented on #51943
@rido-min We tested the [InstallSecurityAgent.ps1 script](https://github.com/Azure/Azure-IoT-Security-Agent-CS/blob/master/src/Modules/Security/Windows/Install/InstallSecurityAgent.ps1) and we believe there is a small issue in the regular expression which causes the issue where you can only get it working when you copy the certificate file within the same working directory and providing the absolu

[2020-04-16 15:27] curtand commented on #41742
Hi @mwolfaardt
I have the time to do this booked for April and am working on it. Thanks for your patience!

[2020-04-16 15:28] #51943 closed

[2020-04-16 15:30] Jason9973 commented on #40762
Yes this Export is pretty Useless for B2C.  I cannot believe MS considers this closed...

[2020-04-16 15:30] jovancosta-bairesdev commented on #48899
unfortunately, I don't have the details.

[2020-04-16 15:31] #52446 closed

[2020-04-16 15:31] PramodValavala-MSFT commented on #52203
@mperdeck Just following up here... Hope my previous comment clears things up.

[2020-04-16 15:35] miked1313 opened #52577 "Licensing Question"
Do we have to license each named user that uses AAD App Proxy with an AAD Premium P1 or P2 license?  Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e155d50c-0cce-90a0-5635-54f58669bb3f
* Version Independent ID: c290985b-a0ff-9a42-0300-d71e2aec4377
* Content: [Azure AD Application Proxy frequently asked quest

[2020-04-16 15:35] olitomlinson commented on #42106
@simonvane did you ever get a satisfactory answer to your question?  I think I understand what you mean.

For example, if we are currently auto-scaled up to 5000RUs due to reads and writes from normal usage (non-ttl deleting) and there is a moment where there are unused RUs, lets say 300RUs, of which get consumed by newly activated batch of TTL operations. Would the down-scaling logic bring down t

[2020-04-16 15:38] manilwagle commented on #52413
I have same issue.

The specified subscription has a total vCPU quota of 0 and is less than the requested compute training cluster and/or compute instance's min nodes of 1 which maps to 4 vCPUs

[2020-04-16 15:41] RonnieQuan opened #52578 "Storage Account Network Access Control and Private Endpoint"
Is the storage account Firewalls and virtual networks configuration can be applied when accessing storage account via private endpoint?

If configure virtual networks from storage account firewalls and virtual networks settings, does it mean only from the specific subnet, can reach out the storage account private endpoint?

Currently I'm using service endpoint to secure my storage account,
with my

[2020-04-16 15:43] djpmsft commented on #52316
Hi @Hasil-Sharma,

There is no way to parameterize the linked service reference in data factory as of right now. Would it be possible for you to leverage Azure Key Vault to store your credentials and pass in the secret name for the connection string to linked service?

Thanks,
Daniel

[2020-04-16 15:44] KrishnaG-MSFT commented on #52532
Assigning @rboucher for visibility, review and document enhancement consideration.

[2020-04-16 15:48] #52326 closed

[2020-04-16 15:53] mananshah19 opened #52579 "TLS Encryption ( In transit and At rest) for Azure SQL Virtual Machines"
I see Azure SQL Database( Link: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-security-overview) has TLS features of Encryption In-transit as well as At-Rest. Is there something for Azure SQL Virtual machine as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5c7e44e-899c-56d9-b35d-420df677527c

[2020-04-16 15:54] mananshah19 commented on #52133
Any updates? :)

[2020-04-16 16:06] seanmcdonnellblog opened #52580 "A parameter cannot be found that matches parameter name 'AllowProtectedAppendWrite'"
Looks like the Enable allow protected append blob write has been removed as a parameter for the Set-AzRmStorageContainerImmutabilityPolicy command?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54464a5d-7cf0-c1c1-bada-b8bb9bf6da93
* Version Independent ID: b76a8842-c752-d92a-9e07-6593206b0aab
* Content: [Set and manag

[2020-04-16 16:10] RonnieQuan opened #52581 "API Management is same thing as API gateway?"
just wondering this product https://docs.microsoft.com/en-us/azure/architecture/microservices/design/gateway
same thing as API management?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4e98f59-eb03-4692-db13-ac0c61a6dd3c
* Version Independent ID: 55059f88-2aa2-b916-03e7-0589cc166555
* Content: [Azure API Management o

[2020-04-16 16:13] SumanthMarigowda-MSFT commented on #51658
@jackchenquest @markthebault
Unfortunately majority of the services we are integrating with Private Link don’t support the ability to specify custom domains and certificates for customer instances, complete details on how to configure DNS is here:
https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-overview#dns-configuration

This is a common feedback we are getting on Private Lin

[2020-04-16 16:14] tamram commented on #51916
@Chai-NED - In this case, the storage team recommends contacting support via the Azure portal to discuss your needs. The scalability targets for premium block blobs are flexible and can be scaled upward according to need.

#please-close

[2020-04-16 16:14] #51916 closed

[2020-04-16 16:14] izzy1993 commented on #52237
I figured it out! instead of properties.label, it should be properties.subject

[2020-04-16 16:16] rohinkoul commented on #52206
@TravisCragg-MSFT : Please move this to AppService team. Guidance on this should come from AppService team.

[2020-04-16 16:16] tamram commented on #49057
@heinejeppesen - Thanks for your feedback! This change has been made.

#please-close

[2020-04-16 16:16] #49057 closed

[2020-04-16 16:19] DuckAdam opened #52582 "Build Errors With Unity 2019.3.9f1 -"
I'm getting multiple errors about overriding the Destroy() method on the SubSystem class in Unity 2019.3.9f1.  For example:

Library\PackageCache\com.unity.xr.arsubsystems@2.2.0-preview.3\Runtime\SessionSubsystem\XRSessionSubsystem.cs(123,30): error CS0506: 'XRSessionSubsystem.Destroy()': cannot override inherited member 'Subsystem.Destroy()' because it is not marked virtual, abstract, or override

[2020-04-16 16:19] Costo opened #52583 "Dependency telemetry is not collected in Background Services"
We're using Background Services for various background processing inside our Asp.Net Core web application.
For each background operation, we start a new operation like this:
[code]

The operation appears in Application Insights, but there is no telemetry for dependency calls to the Database (Sql Server), or HTTP requests with HttpClient. However we can see dependency calls to Azure Queues.
Is ther

[2020-04-16 16:19] mrvladis commented on #52499
@amanmcse
I am not arguing that instructions may work for you, but looking on how many people getting exactly the same error - can't confirm that instructions are written in the best possible way.
I don't believe that the whole purpose of this document is to demonstrate that it is working for you, but to make sure it is working for people doing it for the first time and understand what and why nee

[2020-04-16 16:20] cynthn commented on #52491
The doc examples assume Bash or Cloud Shell, on a Linux host.

[2020-04-16 16:23] craigktreasure commented on #52582
Sorry. This question would be better directed at the Unity product team as that class is implemented by them. For Azure Spatial Anchors, please see https://github.com/Azure/azure-spatial-anchors-samples/issues/149. We don't support Unity 2019.3 at this time. You can find more info in the GitHub issue.

[2020-04-16 16:23] sdgilley commented on #52368
assign:@vijetajo

[2020-04-16 16:24] tamram commented on #51544
@MaduraDias - Since we haven't heard back from you, we are closing this issue. Please let us know if you have further questions.

#please-close

[2020-04-16 16:24] #51544 closed

[2020-04-16 16:26] DuckAdam commented on #52582
This quickstart specifically says:

"You need a Windows computer on which Unity 2019.1 or 2019.2 or later", so I'd assume that would include 2019.3.  I'll downgrade though, and see if that gets me past the error.  I recommend updating the quickstart if 2019.3 is not supported.

thanks

[2020-04-16 16:27] MicrosoftGuyJFlo commented on #52033
You wont get all of the details of what kind of risk was detected and why. You will see information related to the following other risk detections... https://docs.microsoft.com/azure/active-directory/identity-protection/concept-identity-protection-risks#other-risk-detections

[2020-04-16 16:28] craigktreasure commented on #52582
Ah. Good catch! We'll get that updated. Thanks!

[2020-04-16 16:29] MicrosoftGuyJFlo commented on #52350
Email out to PG for feedback.

[2020-04-16 16:31] seanmcdonnellblog commented on #52580
Here is the current version of PowerShell I have installed
---- ------- ----
Az   3.6.1

[2020-04-16 16:37] craigktreasure commented on #52582
I've submitted a clarification to the Unity on HoloLens doc. The iOS and Android docs were already clear. This issue can now be closed.

[2020-04-16 16:46] mahhanifi opened #52585 "Misleading code snippet"
Hi team, in the section:  https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-your-first-pipeline#set-up-a-datastore
code snippet is asking to upload: `./data/20news.pkl` in the data store, and in the following section for the configuration: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-your-first-pipeline#configure-data-using-dataset-and-pipelinedata-obje

[2020-04-16 16:46] seantleonard commented on #52581
@RonnieQuan, Partially yes. In the main doc you referenced, the section "choosing-a-gateway-technology" outlines the various technologies used to implement an API Gateway in your app, such as Azure App Gateway and Azure API Management.

[2020-04-16 16:57] mrbullwinkle commented on #52486
@eddynaka for your .NET Core/.NET Framework application are you testing with the code in this section which is specifically designed for that purpose:

[https://docs.microsoft.com/azure/azure-monitor/app/worker-service#net-corenet-framework-console-application](https://docs.microsoft.com/azure/azure-monitor/app/worker-service#net-corenet-framework-console-application)

I just re-tested this codebl

[2020-04-16 17:00] MonikaReddy-MSFT commented on #52583
@Costo , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-04-16 17:01] dmprantz opened #52586 "Why Request Scopes?"
As an application developer, why should I have to request scopes?  Scopes are already granted, and the Authority / IdP should know to include them on any output.  If I am authenticating into an application, the returned value should include all scopes this user and application have on itself.  If I am autheneticating (or authenticated) into one app and requesting a token for another, AAD should kn

[2020-04-16 17:03] YutongTie-MSFT commented on #52165
@maseedat
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-04-16 17:03] #52165 closed

[2020-04-16 17:03] eddynaka commented on #52486
I'm trying to figure out what are the differences between my project and the example one. Besides that, the PR just solves some compilation error when I copied / pasted in my project

[2020-04-16 17:06] KalyanChanumolu-MSFT commented on #52239
@pontusvision We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-16 17:06] #52239 closed

[2020-04-16 17:07] KalyanChanumolu-MSFT commented on #52222
@reveation-labs We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-16 17:07] #52222 closed

[2020-04-16 17:07] tamram commented on #48435
@cstainie- Thanks for your feedback! I've updated the article to include a list of the supported account types. The changes should be live soon.

#please-close

[2020-04-16 17:07] #48435 closed

[2020-04-16 17:14] roygara commented on #52265
@nonokangwei Thanks for pointing this out! We appreciate you taking the time to help improve our docs. We'll get this fixed soon. :)

[2020-04-16 17:15] tamram commented on #46120
@vn50a0h - The available options for authorization when uploading a blob are to use your Azure AD account or to use the account access key (Shared Key). Using a SAS from the portal is not currently an option.

For more information, please see [Use the Azure portal to access blob or queue data](https://docs.microsoft.com/azure/storage/common/storage-access-blobs-queues-portal?toc=/azure/storage/blo

[2020-04-16 17:15] #46120 closed

[2020-04-16 17:16] MarileeTurscak-MSFT commented on #52545
@sujayvsarma thanks for this feedback! Responding to each of your points :)

[2020-04-16 17:24] SaurabhSharma-MSFT commented on #52579
@mananshah19 Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-16 17:27] rcabr opened #52588 "Monitor Hub missing from final table"
The Monitor Hub and operations within it are not included in the final table (mapping roles to tasks).  Since this is where tasks such as cancelling jobs are, it is important to know this for planning.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1149f92f-5b95-7b27-5525-db4f792d7937
* Version Independent ID: 60242818

[2020-04-16 17:28] SaurabhSharma-MSFT commented on #52570
@v-ulneve The Microsoft Message Analyzer tool has been retired and so I am assigning this issue to document author to modify the document as appropriate.

[2020-04-16 17:31] upmygit commented on #52241
No, it is a normal Azure AD group, not a dynamic group. It takes many hours for it to work in conjunction with key references. Assigning access to the key vault directly with the managed identity works very fast, so why is it so darn slow when the identity is in a group. It shouldn't take such a long time.

[2020-04-16 17:31] spelluru commented on #52235
Thank you @olebaad

Fixed. #please-close

[2020-04-16 17:31] #52235 closed

[2020-04-16 17:33] iainfoulds commented on #52567
The documentation is correct in that there is no DR failover capability at this time.

The product team has confirmed that your managed domain and data for it is stored in the region you select for deployment. If you deployed Azure AD DS into a supported UK region, that's where the managed domain data is stored.

The linked report is indicating data at rest, which may be the case for snapshots of

[2020-04-16 17:33] #52567 closed

[2020-04-16 17:35] roygara commented on #52120
@RonPattersonBadger Thanks for pointing those out! We'll correct both the link and the instructions. We appreciate you helping improve our docs! :)

[2020-04-16 17:38] vhorne commented on #52290
Note added to highlight the conditions that prevent a migration..
#please-close

[2020-04-16 17:38] #52290 closed

[2020-04-16 17:42] YutongTie-MSFT commented on #52563
@DonPetry-EY
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-16 17:49] spelluru commented on #51389
#please-close

[2020-04-16 17:50] YutongTie-MSFT commented on #52585
@mahhanifi
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-16 17:54] spelluru commented on #51179
@mdhruv1 - You don't need to install Azure CLI on your machine. You can use the Cloud Shell that's integrated into the Azure portal to run CLI commands. See the "Azure Cloud Shell" section in this article. You can also click "Try It" for a CLI code block in the article, which will launch the cloud shell in a split window.

#please-close

[2020-04-16 17:54] #51179 closed

[2020-04-16 17:57] tejarajaboina commented on #44248
even i face same error .. created account and added payment option and created subscription as pay-as-you-go ..once its created i dont see free subscription and i got some credit but not able to select any storage / select vm type  its all grayed out.

can you please suggest me on this

[2020-04-16 18:02] RohitMungi-MSFT commented on #51469
@DorvalFagundes Custom translator can be used to build customized neural machine translation (NMT) systems which would need to upload documents in specific format and limits to train and deploy a model.  A good starting point would be to check the [workspace and projects]([url](https://docs.microsoft.com/en-us/azure/cognitive-services/translator/custom-translator/workspace-and-project)) page which

[2020-04-16 18:02] #51469 closed

[2020-04-16 18:04] mike-urnun-msft commented on #52384
@philipstreet-hiscox I hope the above clarifies this. Let us know if you had any further questions.

[2020-04-16 18:05] sshams79 commented on #52274
Hellow @edwardshao,

When Autoscale engine triggers a scaling operation, it only sets the target instance count in the API and hence is only aware of the change in the instance numbers. So adding instance id's to the notification will unfortunately not be possible.

To identify the new instance ids, you can either search for it or view in Azure portal using the steps outlined in the following docu

[2020-04-16 18:05] samjones00 opened #52589 "Unused methods"
Hi, both getWaitTime() and GetAccessTokenAsync() aren't used by the main method, can the code be updated to implement these methods please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62a379da-fb2c-03ae-aa9b-a1575b79ab80
* Version Independent ID: 7a484171-a742-bf00-4f31-369b8a31910a
* Content: [Tutorial - Use Azure

[2020-04-16 18:09] roygara commented on #52265
We've merged the fix for this, it'll be live later today. Accordingly I'll close this issue out.

Thanks again for bringing it to our attention!

#please-close

[2020-04-16 18:09] #52265 closed

[2020-04-16 18:12] Grace-MacJones-MSFT commented on #51836
Upon further review, we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary or to create a new doc if they align with the feedback.

@cephalin can you please take a look at this doc and updated as needed

[2020-04-16 18:14] BharathNimmala-MSFT commented on #52118
@andrePKI Hope the above information helps and requesting you to please review and circle back if you have any further queries. At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue the conversation.

[2020-04-16 18:14] #52118 closed

[2020-04-16 18:18] JimacoMS3 commented on #47915
Hi @lastcoolnameleft and @Chaiethanya,

I haven't heard back, so I'm going to go ahead and close this issue. If you do find that the V2 SDK updates don't fix your problem, please @-comment me in this issue and I'll take another look. Thanks again for bringing this problem to our attention.

-Jimaco

[2020-04-16 18:18] MonikaReddy-MSFT commented on #52486
@eddynaka , I'm going to assign this to the document author so they can get your issue resolved.

[2020-04-16 18:18] JimacoMS3 commented on #47915
#please-close

[2020-04-16 18:18] #47915 closed

[2020-04-16 18:20] eddynaka commented on #52486
Downloading from the GitHub code. Everything is working fine. Probably something here. U can close the issue, since we already solve the problem in the variables in the pr

[2020-04-16 18:22] MonikaReddy-MSFT commented on #52356
@lgayhardt , Thanks for raising a PR to update the doc.
@msimecek ,
Thanks again for bringing this to our attention. We have updated the link and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-16 18:39] MGoedtel commented on #52357
I just contacted engineering directly regarding the question and asked they respond to this issue.

[2020-04-16 18:45] SergGu opened #52591 "Mislabelled Microsoft Ignite Video on Youtube - supposed to be deep dive on Identity Protection, but it is Teams"
Hello MS Team

Not sure where else to book this issue. It is about mislabelled video on Microsoft Ignite Youtube channel
https://www.youtube.com/watch?v=z-KqH2980c4
The title is "How Microsoft uses Azure Active Directory Identity Protection and Conditional Access | BRK2132" but it is the video about _Teams_ product.

It comes in Google searches together with this page when searching about Conditio

[2020-04-16 18:52] sajidfaizan commented on #51652
Hi @Karishma-Tiwari-MSFT , @Heidilohr

Thank you for your time.

Refering to this microsoft documentation
https://docs.microsoft.com/en-us/azure/virtual-desktop/diagnostics-log-analytics

under section "Example queries", i should have all these 3 tables(WVDActivityV1_CL, WVDErrorV1_CL, WVDCheckpointV1_CL) under Custom Logs, but i have only WVDActivityV1_CL not the rest 2. Since all data joined usi

[2020-04-16 18:54] banisadr commented on #51296
@MattHartz it looks like based on your description, you are doing everything correctly to validate the endpoint and we will need more details about your Azure Resources, time of the tests, and endpoint to pull the logs and look into the failure. The easiest way to get that would be if you can please open a support ticket.

In order to unblock you in the meantime, the manual validation flow @taysco

[2020-04-16 18:56] banisadr commented on #51296
Alternatively you can also enable diagnostic logs to try to look into the details of the failures further: https://docs.microsoft.com/en-us/azure/event-grid/enable-diagnostic-logs-topic

[2020-04-16 18:58] wilmaier opened #52593 "Failed to update advanced device simulation model when loading updated scripts"
Uncaught TypeError: n.props.clearUploadDeviceModelError is not a function
    at n.clearAll (deviceModelUploadForm.js:283)
    at Object.<anonymous> (react-dom.production.min.js:49)
    at d (react-dom.production.min.js:69)
    at react-dom.production.min.js:73
    at w (react-dom.production.min.js:140)
    at E (react-dom.production.min.js:169)
    at T (react-dom.production.min.js:158)
    at z

[2020-04-16 19:03] banisadr commented on #51059
Hi @mganeshphani, we're very sorry for your frustration and team's loss of productivity. CloudEvents validation is included [here](https://docs.microsoft.com/en-us/azure/event-grid/cloudevents-schema#endpoint-validation-with-cloudevents-v10) under `How to use CloudEvents Schema`. You're right that it should have also been included in the Security and Authentication page, so we are immediately upda

[2020-04-16 19:05] MarileeTurscak-MSFT commented on #52545
Hi Sujay, I am grateful for your feedback on this process and certainly agree that it is better to have a customer-centric approach than an Ops-centric approach. I will address each of your points separately. Certainly

1. For questions about products or documentation, we have built a separate Microsoft Q&A    platform where you are free to ask any questions you have. The platform is aimed at prov

[2020-04-16 19:06] MarileeTurscak-MSFT commented on #52545
Closing this out as this discussion is better continued over email than in the docs repository.

[2020-04-16 19:06] #52545 closed

[2020-04-16 19:08] gavinwilliams commented on #51628
+1. Smashing my head against the wall for the last hour trying to figure out why this isn't working with Azure.Storage.Blobs until I saw this comment.

[2020-04-16 19:12] NavtejSaini-MSFT commented on #52084
@jonels-msft Please check this document and see if this can be enhanced.

[2020-04-16 19:14] dgdrake opened #52594 "Unit Testing within Branch"
How to Execute pipeline from within Dev-Ops Branch for Unit Testing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ebc0c44-b401-1f1f-2ed5-7928918e49b4
* Version Independent ID: 52517770-de52-18b3-7bf6-078c18b70fe6
* Content: [Create Azure data factory using .NET SDK - Azure Data Factory](https://docs.microsoft.com/en

[2020-04-16 19:15] MGoedtel commented on #52442
@jtuliani - I see the extra comma and will fix that, but the template worked for me when I originally tested it and when I tested it after removing the comma. Can you explain please what exactly isn't working or what the error is when you use the template?

[2020-04-16 19:26] CeciAc opened #52595 "Create a new on premises AD from Azure AD"
@MatteoRagni commented on [Thu Apr 16 2020](https://github.com/MicrosoftDocs/azure-docs.it-it/issues/431)

The [section](https://docs.microsoft.com/it-it/azure/active-directory/hybrid/how-to-connect-install-existing-tenant#create-a-new-on-premises-active-directory-from-data-in-azure-ad) is objectively incomplete and too much hidden in the documentation.

There must be a banner in the first page of

[2020-04-16 19:26] spelluru commented on #52514
#in-progress

[2020-04-16 19:39] philipstreet-hiscox commented on #52384
I'm afraid it doesn't help much.

When @ecfan says that the left column - presumably "Purpose" - is broken out for easier identification, how does that, or even the Notes column, help or change the specific details (Source / Destination / Port) of both rules such that they are materially different?

If the Source was changed from Internet to APIManagement, making the two rules the same, why are th

[2020-04-16 19:43] gwenbettwy opened #52596 "X.509 description is wrong"
The X.509 certificate contains the public key.  Not the private key.  You keep the private key, well, private.  You would never share it with anyone.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd0775e7-299f-5980-f788-f94b95c54183
* Version Independent ID: 361225e7-8900-cf9e-558b-535c671ece1a
* Content: [Cloud Servi

[2020-04-16 19:44] ejdrian313 commented on #47352
my storedProcedure works welll in cosmosdb portal by from  V3 i still getting errors
dynamic[] newItem = new dynamic[]
{
    new {
        category = "Personal",
        name = "Groceries",
        description = "Pick up strawberries",
        isComplete = false
    }
};
and with this my storedProcedure return

"Newtonsoft.Json.JsonReaderException: Unexpected character encountered while parsing va

[2020-04-16 19:44] gwenbettwy opened #52597 "X.509 certificate contains a Public key"
The X.509 certificate would never contain the Private key.  That is kept Private.  The certificate is made public.  Therefore it contains the public key.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de55a4d6-ea6b-c5b5-ba8a-a5c07ac91270
* Version Independent ID: 5963e6fa-bf56-7e6c-7550-a89f62d30638
* Content: [Configu

[2020-04-16 19:45] ejdrian313 commented on #47352
can't edit @SnehaGunda

[2020-04-16 19:48] sdg002 opened #52598 "Datetime fields - ISO vs non-ISO - How does the behaviour of Cosmos DB change?"
Consider the following JSON document :

[code]
- The fields **OrderDate** and **ShipDate** follow ISO format.
- But the field **SomeDate** does not follow ISO format.

- Does Cosmos DB index the fields **SomeDate** differently from **ShipDate** and **OrderDate**?

How does Cosmos DB differ when it comes to range querying in the following scenarios?
- I could do a range query on the `ShipDate`  usi

[2020-04-16 19:59] nelsonflorez11 opened #52600 "The resource type could not be found in the namespace 'Microsoft.RedHatOpenShift' for api version '2020-04-30'."
Hello
I am getting the same error "The resource type could not be found in the namespace 'Microsoft.RedHatOpenShift' for api version '2020-04-30'." I followed the guide "https://docs.microsoft.com/en-us/azure/openshift/howto-setup-environment" to register providers in azure, the group of recluses I have it in eastus and it is already processing the form "https : //forms.office.com/Pages/ResponsePa

[2020-04-16 20:02] SnehaGunda commented on #50567
Let us know if you have any further questions, if not we will close this issue.

[2020-04-16 20:03] #36167 closed

[2020-04-16 20:04] curtand commented on #52083
Hi @bartvermeersch
It's just
Set-AzureADGroup  -ObjectId <ObjectIdString> -SecurityEnabled True

https://docs.microsoft.com/en-us/powershell/module/azuread/set-azureadgroup?view=azureadps-2.0

Thanks for your contribution!!
#please-close

[2020-04-16 20:04] #52083 closed

[2020-04-16 20:07] happy-jo opened #52604 "Support for MacOS"
PLEASE DELETE - Incorrect page listed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd934939-4dbb-3a92-f996-56b9557f49ac
* Version Independent ID: 3cda6b81-26e8-c9ac-e768-d912636a461b
* Content: [Grant controls in Conditional Access policy - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-direct

[2020-04-16 20:12] pheu opened #52606 "sql server create Deployment failed. Location 'West Europe' is not accepting creation of new Windows Azure SQL Database servers at this time."
I get the following error when trying to create sql server.

Deployment failed. Correlation ID: SomeIdHere. Location 'West Europe' is not accepting creation of new Windows Azure SQL Database servers at this time.

I followed the basic [tute](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-dotnetcore-sqldb#code-try-2).

---
#### Document Details

⚠ *Do not edit this sect

[2020-04-16 20:13] jcbrooks92 commented on #52429
@guo-sun

I just checked a couple different function apps and could see it in the main UI. One point to note is that the preview experience is going to replace the old experience sometime soon as well.

![image](https://user-images.githubusercontent.com/18233035/79501993-fa892700-7ffc-11ea-979d-78427303675b.png)

[2020-04-16 20:13] rogerfar commented on #52148
@MarileeTurscak-MSFT It's unfortunate that security defaults doesn't give you any opportunity to still allow app passwords for some users. Now we have to disable this feature entirely OR purchase Azure AD Premium P2 to enable the Conditional Access policy feature.

[2020-04-16 20:23] #31973 closed

[2020-04-16 20:24] MarileeTurscak-MSFT commented on #52591
@SergGu thanks! I'm reaching out to find the owner of that video.

[2020-04-16 20:24] MarileeTurscak-MSFT commented on #52589
@samjones00
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-16 20:30] MarileeTurscak-MSFT commented on #52577
@miked1313 you should just need one Premium license for the tenant, as far as I'm aware. https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-deployment-plan

If you need to deploy MFA though, you need per-using licensing.

Hope this helps!

[2020-04-16 20:30] #52577 closed

[2020-04-16 20:32] MarileeTurscak-MSFT commented on #52595
@CeciAc thanks! I've passed your feedback along to the author, @billmath

[2020-04-16 20:33] sdg002 commented on #52598
I am unable to edit the title. I hit the Save button too quickly. Please, could the moderator update the title
**Desired title**
Datetime fields - ISO vs non-ISO - How does the behaviour of Cosmos DB change?

Thank you

[2020-04-16 20:34] MarileeTurscak-MSFT commented on #52604
@happy-jo thanks! I'll close this out then.

[2020-04-16 20:34] #52604 closed

[2020-04-16 20:34] amanmcse commented on #52499
@mrvladis If you are saying "federating Azure AD with B2C via custom policy works only with SocialAndLocalAccounts starter pack and not with SocialAccounts", you have come to a wrong conclusion here.

Azure AD is added as Social(federated IDP) and it doesn't need any parameters for Local Accounts in the policy files. The instructions in this document are same for SocialAccounts, SocialAndLocalAcco

[2020-04-16 20:37] TravisCragg-MSFT commented on #52571
@srini1978 can you post a link to the doc you are referring to?

[2020-04-16 20:38] amanmcse commented on #52426
@Jared-Harrington-Gibbs Feel free to tag me in your reply if you have any question.
Closing the thread.

[2020-04-16 20:38] #52426 closed

[2020-04-16 20:40] TravisCragg-MSFT commented on #52586
@dmprantz can you post a link to the doc you are referring to?

[2020-04-16 20:41] TravisCragg-MSFT commented on #52593
@wilmaier can you post a link to the doc you are referring to?

[2020-04-16 20:43] TravisCragg-MSFT commented on #52541
@prajeeshprathap can you post a link to the doc you are referring to?

[2020-04-16 20:47] bryan238 opened #52607 "Azure AD Access"
Is there anyway to access Azure Data warehouse using Azure AD?
I am facing "com.microsoft.sqlserver.jdbc.SQLServerException: There is already an object named 'table_name' in the database." when I use sql local username. I am trying to use Azure AD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07ed6655-e376-431c-5cbb-

[2020-04-16 20:47] mohammedbenlarbi commented on #21214
Can you guys help with this:

That what  I got when I run local blob storage module on raspberry pi 4:
pi@raspberrypi:/var/lib $ sudo iotedge list
NAME                       STATUS           DESCRIPTION               CONFIG
azureblobstorageoniotedge  failed           Failed (1) 2 minutes ago  mcr.microsoft.com/azure-blob-storage:1.0.1-linux-amd64
edgeAgent                  running          Up 29 m

[2020-04-16 20:47] RyanHill-MSFT commented on #51424
Hi @juanand, unfortunately, we don't have a service tag that covers IPs used for NTP due to the nature that we don't own all of them. You can provide the IP address destinations you've discovered but I can't guarantee those addresses will remain the same.

[2020-04-16 20:53] TravisCragg-MSFT commented on #52568
@RonnieQuan This doc contains [RBAC & approval information for Private Endpoint Here](https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-overview#access-to-a-private-link-resource-using-approval-workflow), and [Private Link RBAC & approval information is found Here](https://docs.microsoft.com/en-us/azure/private-link/private-link-service-overview#control-service-exposure).

Pleas

[2020-04-16 20:56] CharmanderJieniJieni commented on #39360
Can we get an update on this feature, is custom role assignment allowed at management group scope?

[2020-04-16 20:58] kalyankrishna1 commented on #52216
after taking these steps the tokes issued to users signing in will automatically start to show in the tokens issued to your app.

If you want to build an app from scratch and then see it for yourself, please use the following two links in the bottom of the doc

- [Add authorization using app roles & roles claims to an ASP.NET Core web app](https://github.com/Azure-Samples/active-directory-aspnetco

[2020-04-16 21:13] BryanTrach-MSFT commented on #52571
@srini1978 Please note that this is the Azure Docs repro. We try to keep the discussion scoped to feedback on Azure documents here. Since your question seems to be around a product issue or product configuration, can you please share your question with the community at [Microsoft Q&A](https://docs.microsoft.com/answers/topics/azure-webapps.html)? We have community members, MVPs, and Microsoft engi

[2020-04-16 21:13] #52571 closed

[2020-04-16 21:16] BharathNimmala-MSFT commented on #52366
@alex-frankel  Thank you for helping on this thread.

@JJDE Hope the above information shared by @alex-frankel  helps you. Requesting you to please review and let us know if you have any further queries. At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your

[2020-04-16 21:16] #52366 closed

[2020-04-16 21:22] TimothyMothra opened #52609 "Application Insights endpoint doc needs to reference connection strings"
- This document should reference our document on connection strings as the prefered method of setting endpoints: https://docs.microsoft.com/en-us/azure/azure-monitor/app/sdk-connection-string?tabs=net
- This document could use tabs to condense the code samples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b71f799-dc

[2020-04-16 21:26] albiarri commented on #52233
@CHEEKATLAPRADEEP-MSFT I am hitting the same error. Is there any update on the fix?

[2020-04-16 21:30] vermagit opened #52610 "Clear distinction between Nvidia and AMD driver setup"
The 2 pages "Setup GPU drivers" and "Setup AMD GPU drivers" don't clearly display the fact that the first page is meant for Nvidia GPU drivers only while the other is for AMD GPU drivers only, in their page titles, URLs and content. The content in at least the 1st page must be scrubbed to clarify that  those instructions don't apply to all N-series, but only those with Nvidia GPU.
---
#### Documen

[2020-04-16 21:36] TravisCragg-MSFT commented on #52459
@OffColour Thanks! there are some inconsistencies which I outline below.

@vhorne I did some digging through our docs for inconsistencies in the certificate recommendations:

This Doc:

[E2E SSL PowerShell](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-end-to-end-ssl-powershell):

Every other doc I could find either contained no information or referred to this doc.

[2020-04-16 21:40] jeevansd commented on #52347
@v-nagta Can you please update this doc and fix it?
CC: @chetansriv

[2020-04-16 21:43] Mike-Ubezzi-MSFT commented on #52598
@sdg002 Thank you for the inquiry, and just to clarify your question you indicated the following:

The second item should read **SomeDate**, as you have detailed in the third list item. I was going to fix this but didn't want do so without clarifying.

As for your specific question, if you look at the [Storing DateTimes](https://docs.microsoft.com/en-us/azure/cosmos-db/working-with-dates#storing-d

[2020-04-16 21:45] comconn opened #52611 "fcae recognition"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1ed5f85-d750-c7a9-c976-6bce2e439346
* Version Independent ID: d0176b47-447e-c04f-f4fe-8ca6e1b5eee8
* Content: [Quickstart: Face client library for .NET - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/face/quickst

[2020-04-16 21:46] comconn opened #52612 "face recognis"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1ed5f85-d750-c7a9-c976-6bce2e439346
* Version Independent ID: d0176b47-447e-c04f-f4fe-8ca6e1b5eee8
* Content: [Quickstart: Face client library for .NET - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/face/quickst

[2020-04-16 21:55] MonikaReddy-MSFT commented on #52609
@TimothyMothra , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-04-16 21:58] TravisCragg-MSFT commented on #52206
@rohinkoul noted, I have been collaborating with the enigmatic web app expert @BryanTrach-MSFT on this one.

@orloffm This article is about the creation of the Azure DNS records. For Web App specific guidance and best practices, your best bet is to create a new issue on [this doc about Azure Web Apps and Custom Domains](https://docs.microsoft.com/en-us/Azure/app-service/app-service-web-tutorial-cu

[2020-04-16 21:58] #52206 closed

[2020-04-16 22:00] sdg002 commented on #52598
Thanks for the quick response. Could you explain with an example -

`When you query within Cosmos DB only, it is treated as the same unless you attempted to filter on hours, minutes, or seconds
`

Could you explain with an example what feature of Cosmos DB makes it possible to accomplish this scenario?

[2020-04-16 22:16] KranthiPakala-MSFT commented on #52565
@arvind-dhariwal Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-04-16 22:19] KranthiPakala-MSFT commented on #52569
@arvind-dhariwal
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-04-16 22:19] tesych commented on #48278
@yuemasy I working on getting this added to the documentation.

[2020-04-16 22:25] TravisCragg-MSFT commented on #52156
@hisasima This is talked about in the note near the bottom:

In order for a TLS/SSL certificate to be trusted, that certificate of the backend server must have been issued by a CA that is included in the trusted store of the Application Gateway.If the certificate was not issued by a trusted CA, the Application Gateway will then check to see if the certificate of the issuing CA was issued by a trus

[2020-04-16 22:25] MarileeTurscak-MSFT commented on #51559
Response from the PG: It's correct that only the most recent backup is stored. If we are talking about corporate MFA accounts, then it's probably not a big deal anyway, because we don't backup corporate accounts in full - just some metadata. Which means that even if the user backs up corporate (work or school account), then after this account is recovered, the user still needs to go and scan a new

[2020-04-16 22:25] #51559 closed

[2020-04-16 22:29] TravisCragg-MSFT commented on #52497
@ingd "The address range used for configuring routes must not overlap with address ranges used to create virtual networks in Azure." means that you should NOT use an address range that is within your Azure VNET.

typically this is an address range within your on-premise network. I am not familiar with the routing configuration between you and your partner, your best bet will be to speak with suppo

[2020-04-16 22:31] MarileeTurscak-MSFT commented on #52088
Thank you for this clarification! What you are asking for is essentially a feature request - " Sign in from another device on Authenticator app."

Right now this isn't possible, but you can make a request in [User Voice](https://feedback.azure.com/forums/34192--general-feedback) and the product team will triage it and respond to it. I have already passed your feedback along to the team internally

[2020-04-16 22:31] #52088 closed

[2020-04-16 22:43] mike-urnun-msft commented on #52561
@pellebjerkestrand Thank you for your feedback! We will review and update as appropriate.

[2020-04-16 22:45] mike-urnun-msft commented on #52575
@nzthiago Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-04-16 22:51] ApplesVOranges opened #52616 "Unable to load data from Azure Synapse connector using ABFSS & MSI"
When running the below code (adapted from the [Usage (batch) section](https://docs.microsoft.com/en-us/azure/databricks/data/data-sources/azure/synapse-analytics#usage-batch)) I am receiving a `com.databricks.spark.sqldw.SqlDWConnectorException`.

The exception is strange because the data frame returns both the correct table name and the appropriate schema, there is parq files inside Data Lake whi

[2020-04-16 22:58] mtarng opened #52617 "Default Low-priority cores per Batch account is incorrect"
`Low-priority cores per Batch account	10-100` is listed. However, I've noticed that by default, Low-priority vCPUs is being set to 0 when the Batch account is first created. I've tried this in `West Central US`, `North Central US`, `South Central US`, `East US`.

Either this is a bug, or documentation should reflect the new behavior.

May be similar to this issue: https://github.com/MicrosoftDocs/

[2020-04-16 23:13] #52569 closed

[2020-04-16 23:13] cdaf commented on #33157
We have encountered the same symptom ("The 'UserAssignedIdentities' property keys should only be empty json objects, null or the resource exisiting property."), our soft delete period is 90 days and firewall open. We have KV in a "persistent" resource group with the application stack in a transient group. Torn the DEV stack down a week ago and tried to stand it back up (via ARM) and process fails

[2020-04-16 23:14] KranthiPakala-MSFT commented on #52569
@arvind-dhariwal  Based on the feedback, a PR has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-04-16 23:18] DaFitRobsta opened #52618 "Update Network Security Group Required Ports"
Port 636 is referenced (https://docs.microsoft.com/en-us/azure/active-directory-domain-services/network-considerations#network-security-groups-and-required-ports) but when deploying Azure AD Domain Services, the NSG that is deployed doesn't contain a rule for TCP port 636.  Part of the table above has a column for Required and for 636, it's not required.  I'd recommend removing TCP 636 port refere

[2020-04-16 23:19] hisasima commented on #52156
As I said, I added the certificate to the listener not backend. I want to talk about certificate of listener. Could you check again ?

[2020-04-16 23:19] StevenBlasi commented on #38680
Still not updated after 7 months.

[2020-04-16 23:20] jdelforno commented on #40480
Hey all, it's 2020.

Can this be revised?

[2020-04-16 23:20] KranthiPakala-MSFT commented on #52616
@ApplesVOranges
Thank you for reaching out. At this time we are reviewing the feedback and will provide an update as appropriate

[2020-04-16 23:24] elamalani commented on #52492
@scotch83 - `MobileServiceClient` is still used for server auth flow - both the code snippet and docs are correct as we never changed the class name `MobileServiceClient`.

[2020-04-16 23:33] KranthiPakala-MSFT commented on #52616
Hi @ApplesVOranges , this query is best suited for forums. I would recommend you to please open a thread on the forums - [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDatabricks)/[Stackoverflow](https://stackoverflow.com/questions/tagged/azure-databricks). Once you post your issue on forums, it will have a better visibility across the community with larger audience for such

[2020-04-16 23:34] PatrickFarley commented on #48442
PR merged, public withing 24 hrs
#please-close

[2020-04-16 23:34] #48442 closed

[2020-04-16 23:35] PatrickFarley commented on #47787
PR merged, public within 24 hours
#please-close

[2020-04-16 23:35] #47787 closed

[2020-04-16 23:38] PatrickFarley commented on #48429
Along with the note, I hardcoded a closing bracket in a code block; it'll draw more attention to the fact that the method needs to be closed out.
#please-close

[2020-04-16 23:38] #48429 closed

[2020-04-16 23:42] Karishma-Tiwari-MSFT commented on #52553
Let us know if you are seeeing any issue. Thanks.

[2020-04-16 23:42] Karishma-Tiwari-MSFT commented on #52548
Thanks for sharing the update.

[2020-04-16 23:43] scgillen commented on #52412
Experiencing the exact same issue on my end.

[2020-04-16 23:51] Karishma-Tiwari-MSFT commented on #52573
It is currently documented  here : https://github.com/Azure/azure-linux-extensions/tree/master/OmsAgent

![image](https://user-images.githubusercontent.com/20851144/79517239-75a10c00-8002-11ea-8db8-aebfdbdf4a38.png)

[2020-04-16 23:57] Karishma-Tiwari-MSFT commented on #52610
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-17 00:01] roygara commented on #52120
These changes have been merged and are now live, accordingly, I will close this out.

Thanks again for helping us improve the docs, we appreciate it!

#please-close

[2020-04-17 00:01] #52120 closed

[2020-04-17 00:05] dvkrish opened #52619 "SE"
What will be the default "Retention Period (Days)" for web server logs(http)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfc316af-0d30-b449-a04f-3019b7a16bc1
* Version Independent ID: 01c4c435-fda9-374a-70b3-f1d7f13c7651
* Content: [Enable diagnostics logging - Azure App Service](https://docs.microsoft.com/en-us/azu

[2020-04-17 00:06] #52565 closed

[2020-04-17 00:10] KranthiPakala-MSFT commented on #52565
@arvind-dhariwal
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-04-17 00:11] Rednickle opened #52620 "DRV"
not sure of what I want/ or where am going with it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f89338c0-968d-c22f-5b0d-ed3870ebc2fa
* Version Independent ID: 6daae1cc-f758-1d37-9de3-80a2832c08ef
* Content: [Create an Azure VM with Accelerated Networking using Azure CLI](https://docs.microsoft.com/en-us/azure/virtual

[2020-04-17 00:11] Karishma-Tiwari-MSFT commented on #47290
@mscurrell @pkshultz  Did you get a chance to look into this issue? Please share your insights.
We have another customer here on this issue :https://github.com/MicrosoftDocs/azure-docs/issues/52617

[2020-04-17 00:12] Karishma-Tiwari-MSFT commented on #52617
I am reaching out to the product owner and share as soon as I get an update. Thanks.

[2020-04-17 00:21] Karishma-Tiwari-MSFT commented on #52115
@Heidilohr Would you be able to help confirm on this doc-update request? Thanks :)

[2020-04-17 00:27] SnehaGunda commented on #50567
#please-close

[2020-04-17 00:27] #50567 closed

[2020-04-17 00:31] Karishma-Tiwari-MSFT commented on #52463
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-17 00:43] luisbecerril-ips commented on #51258
Hello @Karishma-Tiwari-MSFT any news on this?

[2020-04-17 00:48] miked1313 commented on #52577
Hi @MarileeTurscak-MSFT Thank you for the info.  AAD Premium licensing is still confusing though due to a lack of explicit documentation.

The App Proxy deployment plan page says "Azure AD Premium subscription" which is vague because it doesn't state whether it requires a single license for the tenant or if it is licensed per named user.

The [AAD Pricing page](https://azure.microsoft.com/en-us/pr

[2020-04-17 00:53] GraceZhangM opened #52621 "Update the fix of the error 9013"
After change the user name provided in the guest VM credentials to UPN format, we need to restart the service "Microsoft Azure VMWare Discovery service" in the appliance. Then the new discovery will success.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ae98c62-5ab8-9d1a-5081-7208152799a7
* Version Independent ID: 81

[2020-04-17 00:56] PRMerger20 commented on #52368
vijetajo is already assigned.

[2020-04-17 00:57] rashmichandrashekar commented on #52357
You need to assign MonitoringMetricsPublisher role to the user assigned MSI for the cluster scope created in the MC_ resourcegroup. The MSI will have the name omsagent in it.
But you do not need to do this manually unless somebody else created the cluster with MSI and did not have administrator access to the subscription in which this cluster is created.
Onboarding to monitoring via cli takes care

[2020-04-17 01:04] KranthiPakala-MSFT commented on #52285
@sandeeplodhirajput The error message states, "_Invalid object name 'dbo.[SalesLT].[Address]'_"

Please make sure your query forms '[SalesLT].[Address]' and not 'dbo.[SalesLT].[Address]'. You need to check the Lookup output --> TABLE_SCHEMA & TABLE_NAME values and use those values in forming the query correctly. If you still need assistance, please do share your both pipelines JSON code, including

[2020-04-17 01:15] Grace-MacJones-MSFT commented on #52606
Hi @pheu, thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-17 01:18] Grace-MacJones-MSFT commented on #52619
Hi @dvkrish, thanks for the question! We are currently investigating and will update you shortly.

[2020-04-17 01:26] ApplesVOranges commented on #52616
Linked forum post: https://social.msdn.microsoft.com/Forums/en-US/80077b8d-bc3f-4eae-992e-5810c169edf9/unable-to-load-data-from-azure-synapse-connector-using-abfss-msi?forum=AzureDatabricks

[2020-04-17 01:44] mwolfaardt commented on #41742
Thank you

[2020-04-17 01:50] jaydarius opened #52623 "Typo - "Considerations" section"
Hi,

This first bullet sounds incomplete: "After enabling a service endpoint, the source IP addresses of virtual machines in the subnet switch."

Hope that helps.
Jay

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eb0407d-f4a5-6059-488d-fd082915c675
* Version Independent ID: 7c2fb429-743c-aea0-f1d5-de6dc2e62e8e
* Cont

[2020-04-17 01:53] jaydarius commented on #52623
OK, now on a 3rd read - I see that "switch" at the end is not used as a noun but as a verb :)

[2020-04-17 01:58] himanshusinha-msft commented on #52093
We are closing this issue as we have not heard back from you , you can always re-open the issue if you think that appropriate .

[2020-04-17 01:58] #52093 closed

[2020-04-17 01:59] himanshusinha-msft commented on #52119
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-04-17 02:08] mike-urnun-msft commented on #52237
@izzy1993 Glad to hear that! We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-17 02:08] #52237 closed

[2020-04-17 02:12] v-tawe commented on #44875
Hi Team,
Is there any updates on this question? I see the document hasn't been updated yet. May I know the status now, our customers are confusing on this. Thanks.

[2020-04-17 02:43] jedjohan opened #52624 "Struggling to understand patterns for cross region HA architecture."
On the page it says "Be noted no matter which patterns you choose to use, you'll need to connect each SignalR service instance to an app server as primary.". I´m not really getting that part about active/active or active/passive patterns. If I use active/passive and my 2 app servers, 1 West Europe and 1 North Europe, uses the same connection setup (identical primary/secondary endpoints) to SignalR

[2020-04-17 02:52] dcbrown16 opened #52626 "Android steps"
Android is supported according to the P2S overview. Can you please add steps to configure the client on Android?
https://docs.microsoft.com/en-us/azure/vpn-gateway/point-to-site-about

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f36e0264-e439-92d2-7862-096c3fffe2a8
* Version Independent ID: 010d36f4-897e-6435-3f97-c6

[2020-04-17 03:14] chenlcacentury commented on #49988
@mihsoft  hi, I ran into the same issue. I followed the  official instruction and everything seems good. However, nothing worked.  Did you finally solve this problem, can you connect to VNet ?

[2020-04-17 03:22] CHEEKATLAPRADEEP-MSFT commented on #52588
@rcabr  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-04-17 03:29] amenaUSF opened #52628 "sql server db not deployed to azure"
when I reach the step "browse to azure app" in the following tutorial :
https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-dotnetcore-sqldb#create-a-web-app

my app pages which use local database display this error:
This amenashahidassg4azureapp.azurewebsites.net page can’t be foundNo webpage was found for the web address: http://amenashahidassg4azureapp.azurewebsites.net/

[2020-04-17 03:30] DixitArora-MSFT commented on #52395
@kitingChris  Just following up again in case missed the previous communication.

[2020-04-17 03:32] DixitArora-MSFT commented on #52501
@shawnswlin Just following up again in case missed the previous communication.

[2020-04-17 03:32] CHEEKATLAPRADEEP-MSFT commented on #52233
@mamccrea Could you please look into this issue?

[2020-04-17 03:37] CHEEKATLAPRADEEP-MSFT commented on #52542
@nandangajananhegde Your querying has been addressed here: [https://social.msdn.microsoft.com/Forums/en-US/2ed99773-c85f-46a6-8dc0-0f257441f24c/odata-connector-via-windowsbasic-authentication?forum=AzureDataFactory](https://social.msdn.microsoft.com/Forums/en-US/2ed99773-c85f-46a6-8dc0-0f257441f24c/odata-connector-via-windowsbasic-authentication?forum=AzureDataFactory)

We will now proceed to clos

[2020-04-17 03:37] #52542 closed

[2020-04-17 03:37] CHEEKATLAPRADEEP-MSFT commented on #52423
@RonnieQuan  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-17 03:37] #52423 closed

[2020-04-17 03:39] arvind-dhariwal opened #52629 "dont see Azure machine learning in Visual studio 2019 extention"
Hello,

Which Visual studio version screen shot is given here because we don't see Azure machine learning as extension in marketplace.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78a7c721-ed6e-d2d2-6f04-90c1d977bcc2
* Version Independent ID: ced92b08-175e-748c-ee8b-d7419d5211e6
* Content: [Tutorial: Set up t

[2020-04-17 03:51] KranthiPakala-MSFT commented on #52616
Thank you for sharing the link, @ApplesVOranges . We will now proceed to close this thread as we track this on MSDN forum. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-04-17 03:51] #52616 closed

[2020-04-17 03:52] yinoa commented on #43524
I notice this question was raised 5 months ago, any udpate for it? Can we set exclusion for some URLs to exceed 128KB header size limitaion?

[2020-04-17 03:55] CHEEKATLAPRADEEP-MSFT commented on #52607
@bryan238
Currently you can access **Azure SQL Database** using **JDBC** or **Apache Spark Connector**.
Currently you can access data in Azure SQL DW via the JDBC driver. From within your spark code you can access just like any other JDBC data source.
If Azure SQL DW is authenticated via AAD then Azure Databricks user can seamlessly access Azure SQL DW.

[2020-04-17 03:55] KranthiPakala-MSFT commented on #52594
Hi @dgdrake , Thank you for reaching out. This repo is to address any issues/enhancement related to document content. At this time as your ask is not directly related to document content, we request you to please post your question on "_[MSDN - Azure Data Factory](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory&filter=alltypes&sort=lastpostdesc)_" and other forums (_[Sta

[2020-04-17 03:56] mike-urnun-msft commented on #52089
@shashankkr That's expected behavior since your payload is of type array. If you'd like it to be a single message, you'll need to assign the array to an object, like below:

[code]

[2020-04-17 03:59] #52089 closed

[2020-04-17 04:01] VikasPullagura-MSFT commented on #52597
@gwenbettwy
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-17 04:02] VikasPullagura-MSFT commented on #52597
@tanmaygore
Can you please check and add your comments on this doc update request as applicable.

[2020-04-17 04:02] VikasPullagura-MSFT commented on #52596
@gwenbettwy
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-17 04:02] VikasPullagura-MSFT commented on #52596
@tanmaygore
Can you please check and add your comments on this doc update request as applicable.

[2020-04-17 04:06] kiranshashiny commented on #51617
Thanks Sreedhar, I was asking about a "sample" program on how to use it ?
not the link to the definitions or the interfaces.

One of the other service bus has a lot of starter examples and I am trying to get a link to that - If I get that link I will post it. So you'll know what I am talking about.

Shashi

[2020-04-17 04:08] TravisCragg-MSFT commented on #52220
@Andriy-dev We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-17 04:08] #52220 closed

[2020-04-17 04:08] TravisCragg-MSFT commented on #52219
@Andriy-dev We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-17 04:08] #52219 closed

[2020-04-17 04:12] YutongTie-MSFT commented on #52248
@cagrimunyas
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-04-17 04:12] #52248 closed

[2020-04-17 04:17] KranthiPakala-MSFT commented on #52453
Hi @jackt-moran , I have verified with internal team and confirmed that there is no definite date planned for GA of this feature. But they have also confirmed that this feature is a GA quality and  should feel confident to use it.

In case if you run into any issues, please feel free to file a SR if you have a support plan, else report it here, we shall take it forward to appropriate team for deep

[2020-04-17 04:17] KranthiPakala-MSFT commented on #52453
@jackt-moran We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-04-17 04:17] #52453 closed

[2020-04-17 04:19] CHEEKATLAPRADEEP-MSFT commented on #52536
@abbgrade You don't require on-premise data gateway to connect Power BI.

![image](https://user-images.githubusercontent.com/44426401/79531614-9021c680-8090-11ea-8e04-a6ee739709e9.png)

**Reference:**  [Connect with Power BI](https://docs.microsoft.com/en-us/azure/analysis-services/tutorials/analysis-services-tutorial-pbid)

Hope this helps.

[2020-04-17 04:20] KranthiPakala-MSFT commented on #52392
@jmorgansmith Could you please elaborate more on the second point (about JSON you have mentioned)? Also please point me to section of the doc you are referring to.

[2020-04-17 04:47] ram-msft commented on #52629
@arvind-dhariwal Thanks for the question. We will update you shortly.

[2020-04-17 04:51] ram-msft commented on #52612
@comconn can you please add more details about the question.

[2020-04-17 04:52] ram-msft commented on #52611
@comconn can you please add more details about the question.

[2020-04-17 05:06] cmmdesai commented on #50391
#please-close

[2020-04-17 05:06] #50391 closed

[2020-04-17 05:07] mike-urnun-msft commented on #52154
@mslot Hope the above helps. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-17 05:07] #52154 closed

[2020-04-17 05:08] cmmdesai commented on #52065
@ManoKanmani Can you drop me a mail at chetan.desai@microsoft.com so we can get on a call to discuss your integration scenario? We will be able to move faster that way.

[2020-04-17 05:09] cmmdesai commented on #52464
@ManoKanmani Can you drop me a mail at chetan.desai@microsoft.com so we can get on a call to discuss your integration scenario? We will be able to move faster that way.

[2020-04-17 05:12] TravisCragg-MSFT commented on #52580
@seanmcdonnellblog Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-04-17 05:17] AshokPeddakotla-MSFT commented on #52582
Thanks for updating the doc @craigktreasure.
@DuckAdam We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-17 05:17] #52582 closed

[2020-04-17 05:27] #52493 closed

[2020-04-17 05:27] prsreejith commented on #52493
Moved this issue to here https://github.com/Azure/azure-notificationhubs-ios/issues/41

[2020-04-17 05:28] chenkennt commented on #52624
Active/passive means only one region (one pair of server and SignalR instance) is taking online traffic. The backup region is only used when primary is down. You can see the failover sequence for more details.

[2020-04-17 05:30] dbartz opened #52632 "OPC Publisher seems deprecated"
The page links to the reference implementation which by now has been merged into industrial-iot repository.

It took me quite a while to find this:
https://azure.github.io/Industrial-IoT/modules/publisher.html
According to that page, the link "Configure OPC Publisher"
https://docs.microsoft.com/en-us/azure/iot-accelerators/howto-opc-publisher-configure
is also outdated.

---
#### Document Details

[2020-04-17 05:36] VikasPullagura-MSFT commented on #52600
@nelsonflorez11
Thanks for the Question!

Can you please share the CLI version you are using.

[2020-04-17 05:37] TravisCragg-MSFT commented on #52578
@RonnieQuan It should not have any effect. The request will still be coming from within the Virtual Network, the only change is that the request will be coming from the Private IP of the VM

[2020-04-17 05:43] shashishailaj commented on #52062
@v-tawe We are working to get this verified internally and will update this thread once done.

[2020-04-17 05:44] Cephei opened #52633 "$setDifference is not properly working"
### Given:
db.myCollection
[code]
### When I run the aggregate pipeline:
[code]
### It SHOULD return the set difference of names:
**Expected:** ["Clayton"]
**CosmosDB Result:**
Operation consumed 7.38 RUs
[code]

I have confirmed that the above aggregate pipeline works properly in MongoDB. This looks like a bug in Cosmos; please confirm.

---
#### Document Details

⚠ *Do not edit this section. It

[2020-04-17 05:52] tksh164 opened #52634 "Configuration script does not work correctly on non-English environment"
The configuration script (MicrosoftAzureMigrate-Hyper-V.ps1) does not work correctly on the non-English environment. Because the Integration Services name depends on the language of the environment.

![image](https://user-images.githubusercontent.com/1618784/79536606-6af67d80-80bb-11ea-8998-6690a0145941.png)

![image](https://user-images.githubusercontent.com/1618784/79536612-6df16e00-80bb-11ea-9b

[2020-04-17 06:02] Cephei commented on #52633
Just checked, `$setIntersection` seems to work properly - so I'm a bit more confident this is an actual bug.

[2020-04-17 06:12] grzegorzwierzbicki opened #52635 "Please update for the new Edge"
Hi
Please update the page for the New Microsoft Edge browser.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2010f5ac-1080-addd-1fb3-5b05db26c1f6
* Version Independent ID: 1aa18d6a-5846-7989-b844-fc8ad027921b
* Content: [Azure AD Connect: Seamless Single Sign-On](https://docs.microsoft.com/en-us/azure/active-directory/

[2020-04-17 06:12] shwetazambre opened #52636 "docker login"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9769320-10f9-bc69-5b34-ab15e18fead2
* Version Independent ID: d58f4440-c1a2-6035-fe96-b02ce7dab4ea
* Content: [Permissions to repositories in Azure Container Registry - Azure Container Registry](https://docs.microsoft.com/en-us/azure/container-regist

[2020-04-17 06:19] prajeeshprathap commented on #52541
Sorry, forgot to add the actual document link :https://docs.microsoft.com/en-us/azure/storage/files/storage-dotnet-how-to-use-files

[2020-04-17 06:21] VikasPullagura-MSFT commented on #52405
@bchen007 We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-04-17 06:21] #52405 closed

[2020-04-17 06:22] VikasPullagura-MSFT commented on #50685
@solomson
We will now close this issue. If you still run into issues for CentOS 7.7, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-04-17 06:22] #50685 closed

[2020-04-17 06:27] sgolomedov opened #52637 "In documentation advanced filter property "value" is supported, but looks like it is not supported by EventGrid."
Advanced filters section says that `value` supported, but only `values` is supported by EventGrid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b572f63-312f-4567-5f06-d09bcccf303e
* Version Independent ID: df817c5f-24e4-bdc7-511c-141d07a53d15
* Content: [Event filtering for Azure Event Grid](https://docs.microsoft.c

[2020-04-17 06:30] VikasPullagura-MSFT commented on #52636
@shwetazambre Thanks for your Feedback.

Can you please elaborate more on your ask by providing details feedback on the document that you are trying to provide.

[2020-04-17 06:39] SnehaAgrawal-MSFT commented on #52296
@devbert Thanks for the feedback!
You may want to refer this article  https://azure.github.io/AppService/2019/07/25/Removing-Easy-Tables-and-Easy-APIs-from-Azure-App-Services.html

Also I have shared your feedback with the content owner for further review on this.

[2020-04-17 06:42] shawnswlin commented on #52501
@DixitArora-MSFT Thanks for your recommendation, we have decided using az command instead external zip. Will open another issue if we need additional help.

[2020-04-17 06:47] proyb6 opened #52638 "On Update part"
For Update part, there is a mistake:

[code]

Should be
[code]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 129c4304-716a-93a8-166f-f4731d8e8fb3
* Version Independent ID: b1a7f4f6-bf3f-f483-468c-460bba0713fc
* Content: [Connect using Go - Azure Database for MySQL](https://docs.microsoft.com/en-sg/azure/mysql/connect-

[2020-04-17 06:48] souravmishra-msft commented on #52618
@DaFitRobsta, Thank you for pointing this out. We are looking into this and will update the doc accordingly.

[2020-04-17 06:49] proyb6 opened #52639 "Type error in the update part"
Typo error in the Update part
[code]

Should be
[code]

[2020-04-17 06:49] #52501 closed

[2020-04-17 06:49] #52639 closed

[2020-04-17 06:50] souravmishra-msft commented on #52620
@Rednickle, Can you please provide some more context to the issue and describe the issue with some more details, so that its easier for us to help you.

[2020-04-17 06:50] DixitArora-MSFT commented on #52637
Hi @sgolomedov Thanks for your feedback. We will review and update as appropriate.

[2020-04-17 06:51] souravmishra-msft commented on #52621
@GraceZhangM, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-17 06:54] souravmishra-msft commented on #52623
@jaydarius, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-17 06:56] souravmishra-msft commented on #52624
@jedjohan, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-17 06:59] souravmishra-msft commented on #52626
@dcbrown16, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-17 07:02] souravmishra-msft commented on #52628
@amenaUSF, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-17 07:04] souravmishra-msft commented on #52632
@dbartz, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-17 07:06] souravmishra-msft commented on #52633
@Cephei, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-17 07:08] souravmishra-msft commented on #52634
@tksh164, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-17 07:10] souravmishra-msft commented on #52635
@grzegorzwierzbicki, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-17 07:12] deyanp opened #52640 "What about Azure CDN (for certificates)?"
Hi,

How can Azure CDN be granted access to a Key Vault secured with firewall, so that it can still retrieve the HTTPS certificate for a custom domain?
If I enable the Firewall on the Key Vault and check the checkbox for Trusted Services I still get an error message from the CDN Profile -&gt; endpoints -&gt; custom domains that it cannot list/get certificates from Key Vault (disabling firewall rem

[2020-04-17 07:12] souravmishra-msft commented on #52638
@proyb6, Thank you for pointing this out. It would be great if you can share the document where we see this mistake so that we can fix that soon. Please do share the doc.

[2020-04-17 07:13] souravmishra-msft commented on #52640
@deyanp, Thank you for reaching out. I am working on this and would get back to you soon.

[2020-04-17 07:16] deyanp commented on #52640
thanks, @souravmishra-msft, pls note that I cross-posted first on [Azure Key Vault MSDN Forums](https://social.msdn.microsoft.com/Forums/azure/en-US/cf19692e-b7ae-40ba-9a18-1c01f080ac94/firewall-rules-for-azure-cdn-gt-key-vault?forum=AzureKeyVault) before I found this maybe more appropriate documentation and its forum ...

[2020-04-17 07:21] RohitMungi-MSFT commented on #52246
@Nazar-Pa We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-04-17 07:21] #52246 closed

[2020-04-17 07:27] aquibqureshi26 opened #52641 "if my certificate is being used in multiple listener does this steps updates new certificate on all the listener"
Hi Team,

I'm planning to update the certificate on one of the listener but not sure if all listener will automatically update the new certificate as there are multiple listener who are utilizing the same certificate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97d342da-1086-5136-71d7-445bef390373
* Version Independ

[2020-04-17 07:47] milo365 opened #52642 "A little error"
Hello,
there is a little error in this powershell code :
$administrative unitObj = Get-AzureADAdministrativeUnit -Filter "displayname eq 'Test administrative unit 2'"

must be :

$administrative = Get-AzureADAdministrativeUnit -Filter "displayname eq 'Test administrative unit 2'"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-04-17 07:55] syedhassaanahmed commented on #29916
We also need access to Azure Search data plane APIs using Azure AD
@HeidiSteen Has there been an update on the logged work items you mentioned?

[2020-04-17 08:01] ChiragMishra-MSFT commented on #52337
@HannahHsiao We haven't heard back from you in quite some time. As @djpmsft said, all charges are included and you can have a look at the example to understand the charges.

I will proceed to close the issue now. Feel free to still comment and tag me if you have any concerns on the same.

[2020-04-17 08:01] #52337 closed

[2020-04-17 08:03] ChiragMishra-MSFT commented on #52385
@mesteves Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - MSDN or stack overflow.

Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

Please create a Forum thread and post it's link here and tag me so that we can track that thread. We would

[2020-04-17 08:03] #52385 closed

[2020-04-17 08:06] souravmishra-msft commented on #52201
@stevensnicole, First of all, I apologize for the delay in my response. I did test and in my testing i do see only the MFA failure reason and nothing specific to the Fraud Alert even when I enter the report fraud code on my Authenticator app.

Allow me somemore time as I will need to consult this with the backend and will get back to you in a day or two.

[2020-04-17 08:13] ssjaronx4 opened #52643 "Limits and data change rates"
Two questions regarding "Limits and data change rates"

1. There use to be a note around that section that stated each VM was limited to 25 MB/s replication, however this is now gone. It still list the overall maximum VM churn rate as a limitation, but does not state what the limit is. Is it still 25 MB/s? The VMWare analyser states 54 MB/s.

https://docs.microsoft.com/en-us/azure/site-recovery/si

[2020-04-17 08:18] Samikouk opened #52644 "Additional Information"
Hi team

Your documentation doesnt go over types of scans you can run as part of this offering? How can you run them? Anyway of customising the scanning mechanisms? Also in regards to the agent itself, are there ways to tune its performance?

Many thanks
Sam

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da20ded6-a387-

[2020-04-17 08:23] elvirus839 commented on #25347
Hi there, Is there a python version of the this same sample in java? To connect via group enrollment?

[2020-04-17 08:24] amanmcse commented on #52523
@p0rn5taR I am proceeding with closure of this thread. Feel free to tag me in your reply if you have any questions.

[2020-04-17 08:24] #52523 closed

[2020-04-17 08:28] deyanp commented on #52640
Some additional information - the Azure Portal error (CDN Profile -> endpoints -> custom domains) I managed to resolve by just adding my IP to the Key Vault network rules (obviously the Azure Portal running in my browser makes calls to Azure Key Vault only for display purposes).
However I am wondering what IP should I whitelist so that Azure CDN *Backend* can retrieve the certificate when it provi

[2020-04-17 08:29] lasyan3 opened #52645 "How to manage running image from an App Service?"
Hi,
Is there a way to manage the running image from an App Service?
I have an App Service using an image from a Container Registry, I can see the "docker run --name <container_id>" command in the logs.
How can I connect to this container id?
Let's say I made changes in the dockerized application and unfortunately I didn't made persistent volumes, but I don't want to lose the changes. How can I cop

[2020-04-17 08:33] SnehaAgrawal-MSFT commented on #52645
@lasyan3 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-17 08:37] hisasima opened #52646 "About order of processing rules."
I found that the path order in the URL path map for V2 SKU is the same as V1 SKU. I confirmed that it did not work like below document. Could you delete this sentences ?

----
For the v2 SKU, an exact match is higher priority than path order in the URL path map. If a request matches the pattern in two or more paths, the request is forwarded to the back end that's associated with the path that exac

[2020-04-17 08:38] souravmishra-msft commented on #52477
@ElmoGonzo, I checked your request for both the /authorize endpoint and /token endpoint and they look good. I tried using the same in POSTMAN for an app that I registered and I am sharing the requests and screenshots below for your reference.

**Request to /authorize endppoint:**
_https://login.microsoftonline.com/common/oauth2/authorize?client_id=32xxx9-70b3-47e5-85f3-caxxxx5ba&response_type=code

[2020-04-17 08:39] mrvladis commented on #52499
@amanmcse I think there is a difference in-between it should and it is.
If it would be as simple as you say - there wouldn't be so many people getting this error.
In my case - I am quite confident in the cause, as there was no syntax errors in XML (all files were uploaded successfully) and when transitioning to SocialAndLocalAccounts  - I only copied updated lines.

May be if I've used "SocialAcco

[2020-04-17 08:40] souravmishra-msft commented on #52641
@aquibqureshi26, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-17 08:42] souravmishra-msft commented on #52642
@milo365, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-17 08:43] souravmishra-msft commented on #52643
@ssjaronx4, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-17 08:53] souravmishra-msft commented on #52644
@Samikou, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-17 08:54] souravmishra-msft commented on #52646
@hisasima, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-17 09:12] v-ulneve commented on #52570
Thank you very much for the feedback. 😊

[cid:image001.png@01D6147F.33380600]
Ulysses Neves
Support Engineer
Cloud Identity POD Support
+351 (21) 0603927
[cid:image002.jpg@01D6147F.33380600]<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fmicrosoft&data=01%7C01%7CGustavo.Mauler%40microsoft.com%7Cca0855ba26024186cb8c08d6ccbda3b4%7C72f988bf86f141af91ab2

[2020-04-17 09:14] haymansfield opened #52647 "Does UsePolicyBasedTrafficSelectors mandate the use of the entire virtual and on-prem network space."
The section starting... 'If you enable UsePolicyBasedTrafficSelectors' seems to indicate that the entire address space of the both the Azure virtual network and on-prem network must be used for this type of connection, yet in the latest ARM template for a VPN S2S connection it is possible to define traffic selectors which are a subset of the entire space:

https://docs.microsoft.com/en-us/azure/te

[2020-04-17 09:24] douglaswaugh commented on #52348
Sorry, I don't think I got alerts for the updates, only for the close.  I just didn't understand that it was configurable in the Traffic Manager Endpoint Monitor Settings from what I was reading.  Thanks for the info!

[2020-04-17 09:30] SnehaAgrawal-MSFT commented on #52276
@fhtino Thanks again for the feedback! The PR has been created and it will merge soon.

[2020-04-17 09:30] #52276 closed

[2020-04-17 09:35] amanmcse commented on #52499
@mrvladis Thank you for your feedback. I agree with you that the error could be more descriptive and you can share your feedback at https://feedback.azure.com regarding this.

At this point, we don't know the cause of the issue and unable to reproduce the issue at our end. Which is why it is difficult to update the document with instructions to avoid that error. Hope you would understand. I will t

[2020-04-17 09:35] #52499 closed

[2020-04-17 09:59] dinesh71 opened #52648 "Multiple scopes in Azure AD - passing multiple scopes from client app giving error while generating access token"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-04-17 10:01] dinesh71 commented on #52648
We are trying to pass multiple scopes of client application as we have multiple APIs to be invoked (ex: openid offline_access profile api://api1 api://api2) and we are getting an exception  AADSTS28002: Provided value for input parameter scope 'openid offline_access profile' is not valid when requesting an access token. Please specify a value. How can we invoke multiple custom API using single tok

[2020-04-17 10:23] #52275 closed

[2020-04-17 10:24] spxnstevens commented on #52201
No problem, thanks for getting back to me. Look forward to hearing about what you find.

[2020-04-17 10:26] deyanp opened #52649 "Azure App Servicetrusted but still seeing "Client address is not authorized and caller is not a trusted service." in the logs"
The above statement that Azure App Service is trusted is a bit misleading, as without whitelisting the AppService.WestEurope IPs for example I still get "Client address is not authorized and caller is not a trusted service." in the AzureDiagnostics logs from func apps hosted in App Service ...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-04-17 10:31] amanmcse commented on #52544
@arkein there is an active feedback regarding this at our feedback portal. You can vote and track for updates here:
https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/38748157-need-some-way-to-deal-with-aadb2b-0001-we-cann

[2020-04-17 10:31] #52544 closed

[2020-04-17 10:32] thuld opened #52650 "Bug: cmdlet 'Get-AzureADAdministrativeUnitMember' return only 100 records"
The cmdlet 'Get-AzureADAdministrativeUnitMember' return only 100 members, even when more members exists. This is problematic when it comes to monitoring and reporting. I am using PowerShell module "AzureADPreview" version 2.0.2.89

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43480033-c11c-c89d-bbaf-7d9790000782
* Ver

[2020-04-17 10:33] souravmishra-msft commented on #52528
@GuruCharan94, using Powershell, there is no direct way to resend the invitations to the Guest Users who are at pending invitation state. You would have to achieve this in the following manner:

**Step1:** Send invitation for the first time to the guest user using:
`New-AzureADMSInvitation -InvitedUserDisplayName "[guest-user name]" -InvitedUserEmailAddress [guest-user email] -InviteRedirectURL ht

[2020-04-17 10:33] #52528 closed

[2020-04-17 10:44] souravmishra-msft commented on #52648
@dinesh71, Thank you for reaching out. It would be great if you can share us the Microsoft Document that you been following to achieve the above mentioned scenario.
Secondly, I did check you scope example that you mentioned. The scopes with multiple permissions only works when you specify the multiple permissions for one single api as values in the scope parameter.
For eg: _scope=openid offline_ac

[2020-04-17 10:44] stevensnicole commented on #52201
No problem, thanks for getting back to me. Look forward to hearing about what you find.

[2020-04-17 10:46] souravmishra-msft commented on #52649
@deyanp,thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-17 10:47] souravmishra-msft commented on #52647
@haymansfield,
thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-17 10:48] fgheysels opened #52652 "What are the claims that are minimum required for the access policy used by an eventsource in TSI PAYG"
On [this](https://docs.microsoft.com/en-us/azure/time-series-insights/time-series-insights-update-create-environment) page, it is explained on how to setup a TSI environment with an eventsource.
In the documentation, the `iothubowner`  access policy is used as the access policy, however I think it would be nice if it's also documented what the least required access rights (claims) are that are req

[2020-04-17 10:49] souravmishra-msft commented on #52650
@thuld, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-17 10:50] souravmishra-msft commented on #52652
@fgheysels,
thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-17 10:54] DKT2510 commented on #52524
https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-sspr-policy

On Thu, 16 Apr 2020, 13:33 souravmishra-msft, <notifications@github.com>
wrote:

[2020-04-17 10:55] DKT2510 commented on #52525
https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-sspr-policy

On Thu, 16 Apr 2020, 13:29 souravmishra-msft, <notifications@github.com>
wrote:

[2020-04-17 10:55] DKT2510 commented on #52526
https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-sspr-policy

On Thu, 16 Apr 2020, 13:27 souravmishra-msft, <notifications@github.com>
wrote:

[2020-04-17 10:55] asergaz commented on #50307
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-17 10:55] #50307 closed

[2020-04-17 11:00] souravmishra-msft commented on #52650
@curtand, Can you please look into this thread.

[2020-04-17 11:11] smolesen opened #52653 "AAD Authentication WebHook from Cli"
Please add some info about how to create an EventGrid webhook subscription with AAD authentication, using PowerShell or Azure Cli. Can only find info on how to do it using the Azure Portal

TIA

Søren

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9f056c1-cf62-d72b-0ee2-49cffdefbe59
* Version Independent ID: ffc6723a-

[2020-04-17 11:11] Prabhakar96-dev opened #52654 "MultiTenant Application in Azure AD: I have created two multi tenant applications (WebAPI and WebAPP). I given permission to the client application from WebAPI, When I'm trying to login from client application (WebAPP) getting an exception like " Request for auth code failed: invalid_resource - AADSTS500011: The resource principal named api://api was not found in the tenant named b082027c-xxx-xxxx-xxxxx. This can happen if the application has not been installed by the administrator of the tenant or consented to by any user in the tenant.""
MultiTenant Application in Azure AD: I have created two multi tenant applications (WebAPI and WebAPP). I given permission to the client application from WebAPI, When I'm trying to login from client application (WebAPP) getting an exception like " Request for auth code failed: invalid_resource - AADSTS500011: The resource principal named api://api was not found in the tenant named b082027c-xxx-xxxx

[2020-04-17 11:18] DimejiOladepo commented on #49169
Use this instead:
**from azure.storage.blob import BlockBlobService**
This will allow you to create containers by setting account name and account key as well as creating container and setting container to public.
More can be found in this doc:
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-python-legacy

[2020-04-17 11:18] SergGu opened #52655 "License requirements for break glass accounts"
Customers are asking about license requirements for a break glass account. For example if there are EMS E3 / EMS E5 allocated to all users - is there an advantage of allocating EMS E3 / EMS E5 bundle or just a subset (AAD P1 / AAD P2) licenses to break-glass accounts?
The second question is if there is any benefit from creating mail box associated with break glass account.

This document is great,