[2022-10-10 11:33] SaibabaBalapur-MSFT commented on #99567
@joeakim
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there so our community, and MVPs c

[2022-10-10 12:14] shaktisingh-msft commented on #99701
Hi @seaqueller,

Thanks for sharing feedback. We will review this and work as appropriate.

[2022-10-10 12:14] Maurice-van-Beers opened #99704 "In the Updating Inbox Apps:"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a8d3194d-974c-f014-cd0a-6ec611952281
* Version Independent ID: 52951f02-174b-a688-bca0-4f93cc6f7e8b
* Content: [Install language packs on Windows 10 VMs in Azure Virtual Desktop - Azure](https://learn.microsoft.com/en-us/azure/virtual-desktop/languag

[2022-10-10 12:15] shaktisingh-msft commented on #99701
Hi @SudhirRaparla,

Could you please look into this document update request. Thanks

[2022-10-10 12:15] Maurice-van-Beers commented on #99704
Get-AppxProvisionedPackage must be Get-AppProvisionedPackage
Add-AppxProvisionedPackage must be Add-AppProvisionedPackage

[2022-10-10 12:22] akakarikos opened #99705 "Spelling Error"
There is a spelling error in the below sentence. It should read _subnets_ and not _subsets_ (see the word in bold below).

"If you've used separate subnets for the application endpoint and Azure Load Testing, make sure that communication between the **subsets** isn't blocked, for example by a network security group (NSG)."

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-10-10 12:25] ntrogh commented on #99705
#assign: @ntrogh

[2022-10-10 12:28] ntrogh commented on #99705
@akakarikos thanks for reporting this and your help to make our docs better! We'll update the docs to fix this.

[2022-10-10 12:29] Naveenommi-MSFT commented on #99686
@mcasalaina
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-10 12:33] Naveenommi-MSFT commented on #99687
@mythi
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-10 12:36] Naveenommi-MSFT commented on #99690
@Meandron
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-10 12:37] Naveenommi-MSFT commented on #99692
@rav0k
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-10 12:43] Naveenommi-MSFT commented on #99697
@rangler2
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-10 12:45] Naveenommi-MSFT commented on #99698
@techtalk722
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-10 12:48] Naveenommi-MSFT commented on #99704
@Maurice-van-Beers
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-10 13:00] Naveenommi-MSFT commented on #99632
@scottlwalker
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@PatrickFarley
Could you Please add comments on this and update as appropriate.

[2022-10-10 13:05] pitinga opened #99707 "Private endpoint and outgoing calls"
Sorry, but I don't understand how a private endpoint is useful without working with outgoing calls.

The APIM is private, but the backend that the APIM calls must be public. What's the point?

Incoming calls are private, but outgoing calls are public. How does this prevent data exfiltration?

I improve security by putting the APIM in a private context but in the same solution, have I to expose the

[2022-10-10 13:07] Ahopie opened #99708 "unclear date format"
The dates on this page are unclear.  start_time: "2022-07-10T10:00:00" could mean "10th of july, or 7th of october. it could be fixed by always using dates after the 12th of the month, or adding a "YYYY-MM-DD..." legend to each explanation section

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6

[2022-10-10 13:08] mumurug-MSFT commented on #99707
@pitinga Thanks for the feedback. We will review and update as appropriate.

[2022-10-10 13:09] HariKrishna598 opened #99709 "Computer Vision Form Recognizer Signature Field"
Regarding SO Question from Customer: https://stackoverflow.com/q/73588995/16630138

The error message is straightforward: it's a bug/crash within Azure's own systems, so you should file a support ticket and tell them to go fix it.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 64d9a734-35c9-1e26-1c09-89bb34742ded
* Ve

[2022-10-10 13:09] GrzegorzHejman opened #99710 "Private/public endpoint DNS name resolution for a given resource type"
The document says:

"Private networks already using the private DNS zone for a given type, can only connect to public resources if they don't have any private endpoint connections, otherwise a corresponding DNS configuration is required on the private DNS zone in order to complete the DNS resolution sequence."

Is this still a valid statement? I remember testing it some time ago, and it worked as

[2022-10-10 13:21] #99710 closed

[2022-10-10 13:28] ade-owasp-sf opened #99711 "First sentence update"
First sentence update.
Based on the page header and what is being defined, I recommend, for alignment, to update the beginning of the first sentence from "Azure regions and availability zones ..." to "Azure availability zones ..."

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9ef6739c-50e6-e80b-cfc1-4d7d5b5d35e8
* Ve

[2022-10-10 13:43] pasnopik commented on #99441
Najam:

The ask from my customer is not related to a custom image, but rather VM's that are brought into Azure via the Azure Migrate process.

Thanks in advance.

Paul Snopik
+1 (469) 304-8227

***@***.***

From: Maulik Shah ***@***.***>
Sent: Saturday, October 8, 2022 1:27 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Paul Snopik ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/a

[2022-10-10 13:43] bburgos928 opened #99712 "ERR_CONNECTION_REFUSED when trying to go to https://localhost:44316 (Step 5)"
Hello,

During Step 5 of this article, an ERR_CONNECTION_REFUSED is received when going to https://localhost:44316 (using both Edge and Chrome). I did not see where in the documentation it called out this scenario, or if this was expected ?

![image](https://user-images.githubusercontent.com/115478087/194880181-9fc1db65-d951-410e-a330-e8da142788b3.png)

---
#### Document Details

⚠ *Do not edit th

[2022-10-10 13:49] michaeljcameron opened #99713 "Set-AzDiagnosticSetting being deprecated"
This document suggests using the powershell cmdlet Set-AzDiagnosticSetting but that is marked for deprecation and is not being replaced.
Is there currently another cmdlet available or is the suggestion now to use REST calls or just something else (not powershell)?
---
#### Document details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 89743709

[2022-10-10 13:55] tsbala opened #99714 "Binding expression for FeedPollDelay for CosmosDB Trigger"
The documentation does not explain how to bind the `FeedPollDelay` attribute to an appsetting value. I need to be able to configure the `FeedPollDelay` to be different in the test environment as compared to the production environment.

I have tried the percent sign, like `"%FeedPollDelay%"`in the `CosmosDBTrigger` attribute but it doesn't work as it expects an integer value.

This seems to be an i

[2022-10-10 14:08] MGoedtel commented on #99695
@VikasPullagura-MSFT - Yes, reviewing and investigating now to confirm.

[2022-10-10 14:08] cveld opened #99716 "Managed Instance Link feature"
Please consider adding the Managed Instance Link feature to the feature table; currently in public preview.
https://learn.microsoft.com/en-us/azure/azure-sql/managed-instance/managed-instance-link-feature-overview?view=azuresql

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f7f71c75-4511-ed7d-6e3d-4c30e1c01781
* Versi

[2022-10-10 14:19] abandyop opened #99717 "Azure policies - document mentions only at the time of creation, but we need no antagonistic policies even while the Purview account is functioning"
Azure policies - document mentions only at the time of creation, but we need no antagonistic policies even while the Purview account is functioning. We need to reword this portion - we need to ensure this stands out in a note or warning - prominently.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 52c3c076-35b9-993a-c

[2022-10-10 14:19] sc-jlyma opened #99718 "ERROR [HY000] [Microsoft][Zoho] (30) Error with HTTP request, response code: 400. Message: Unknown error from server". I am getting this error trying to use the Query to preview Data"
ERROR [HY000] [Microsoft][Zoho] (30) Error with HTTP request, response code: 400. Message: Unknown error from server". I am getting this error trying to use the Query to preview Data

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2cf9edb6-5b9b-6ef4-a7bb-137871b0e2b5
* Version Independent ID: 8067eb77-b429-e1c0-ae1a-72

[2022-10-10 14:22] simonburbery opened #99719 "Secure UEFI boot information confusing"
Hi there, just suggesting the text regarding Secure UEFI Boot is confusing.  Needs to more clearly state that UEFI is supported but only when the 'Secure Boot' setting is Disabled.
"Guest/server EFI/UEFI boot" == "Guest/server EFI/Secure Boot"
"Secure UEFI boot type is not supported."  == "UEFI boot is supported as long as the Secure Boot setting is Disabled"

Cheers

---
#### Document Details

⚠

[2022-10-10 14:39] mumurug-MSFT commented on #99617
@MarekLani We have added the note in the docs and the changes will be published soon by the end of the week. Feel free to add a comment if you have any questions. Thanks again for sharing the feedback.

[2022-10-10 14:52] shlipsey3 commented on #99538
Thanks for clarifying. I was tagged because I'm the author of the article you must have been on when you clicked the Feedback button. I'm not the author of the Identity Protection content, but it looks like there is some content on PowerShell and Graph API in the Identity Protection articles:

https://learn.microsoft.com/en-us/azure/active-directory/identity-protection/howto-identity-protection-gr

[2022-10-10 15:09] mracfa commented on #87678
Also interested in this feature

[2022-10-10 15:40] BlueManiac commented on #60273
@LP0101 I think we used the rest api to create the missing network profile to get around the issue.

[2022-10-10 15:41] PaulTzl opened #99722 "Missing Function code parameter when calling"
Hi

You have a section here for calling the Function once deployed for Azure:

https://learn.microsoft.com/en-us/azure/azure-functions/functions-create-your-first-function-visual-studio?tabs=in-process#verify-your-function-in-azure

The Function won't execute and returns a 401 error.

You seem to be missing the instructions to add the ?code= parameter. i.e. go to Function Keys, copy the code, and

[2022-10-10 15:43] GeethaThatipatri-MSFT commented on #99716
@cveld Thanks for your findings,We will look into it and update as appropriate.

[2022-10-10 15:43] Rodrigossz commented on #99633
The team in charge of the translations is checking it.

[2022-10-10 15:44] SeryioGonzalez opened #99723 "Typo"
The VPN client download utility does not generate a file named Generic/VpnServerRoot.cer. The right command is:

sudo cp "Generic/VpnServerRoot.cer_0" "${installDir}ipsec.d/cacerts"

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 69e3b74c-2e19-9963-bf78-2d0a01e6f906
* Version Independent ID: 5fbd6b33-2af1-5f5d-b824-d3b

[2022-10-10 15:46] anwarmahmood1 opened #99724 "macOS?"
What do I do about macOS devices?

https://learn.microsoft.com/en-us/azure/active-directory/hybrid/migrate-from-federation-to-cloud-authentication?source=recommendations#pre-work-for-sso

Should be expanded for macOS devices (widespread in higher education, etc).

Should it use Seamless SSO?  I believe this section should link to https://learn.microsoft.com/en-us/azure/active-directory/hybrid/how-

[2022-10-10 16:16] tfitzmac commented on #99659
@mfthomps - are you looking for the names of regions that you can provide to Azure CLI commands (not necessarily related to availability zones)? You can always just provide the [full name of the region](https://azure.microsoft.com/en-us/explore/global-infrastructure/products-by-region/?products=all). Or, you can run az account list-locations --query [].name

[2022-10-10 16:17] AshokPeddakotla-MSFT commented on #99689
@AdamGuan13 Looks like you have not installed or updated Azure modules. Did you install the  Az module?

Whenever you get a cmdlet error, you need to check if the modules are installed, try installing Az module using the below command.

`Install-Module -Name Az -Scope CurrentUser -Repository PSGallery -Force`

Note that, PowerShell 7.0.6 LTS, PowerShell 7.1.3, or higher is the recommended version

[2022-10-10 16:17] Naveenommi-MSFT commented on #99708
@Ahopie
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-10 16:19] tfitzmac commented on #99660
This seems like a duplicate of #99659

@joemoney999 - I am wondering if your posts were intended for a different issue.

#please-close

[2022-10-10 16:19] ezYakaEagle442 opened #99725 "Managed Identity support not clear in the docs"
at [https://learn.microsoft.com/en-us/azure/container-apps/managed-identity-image-pull?tabs=azure-cli&pivots=azure-portal#create-a-container-app-revision](https://learn.microsoft.com/en-us/azure/container-apps/managed-identity-image-pull?tabs=azure-cli&pivots=azure-portal#create-a-container-app-revision) it is mentioned :
_The portal will automatically attempt to add the acrpull role to the user-a

[2022-10-10 16:19] #99660 closed

[2022-10-10 16:21] smood922 commented on #99647
This is not a helpful response. This is feedback on the page linked, requesting that the page be updated--not that the timeline be provided in Github. Microsoft regularly puts more information regarding timelines of feature changes directly into Learn pages. The resources you linked to do not contain the information requested.

My issue is that the "coming soon" language on the linked Learn page i

[2022-10-10 16:29] Ayanmullick commented on #93987
@kabharati, is there an update on the PowerShell documentation? @GeethaThatipatri-MSFT, could you reopen this to track progress?

[2022-10-10 16:30] Naveenommi-MSFT commented on #99709
@HariKrishna598
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

@laujan
Could you Please review this and update as appropriate.

[2022-10-10 16:37] Naveenommi-MSFT commented on #99711
@ade-owasp-sf
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-10 16:39] Naveenommi-MSFT commented on #99712
@bburgos928
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-10-10 16:39] Anand-Moghe opened #99726 "How to determine number of concurrent call supported per Logic App Standard plan Instance?"
Since Logic App Standard plan instance is running on App Service plan, how to determine the max concurrent call supported e.g. triggers/second ( number of calls per second)? If user need high concurrency that exceed max concurrent connections on Logic App Standard plan, how to setup Logic App to meet the required concurrency? Is there any guidance available in this regard?

---
#### Document Detai

[2022-10-10 16:41] mimckitt commented on #99441
@pasnopik @maulikshah23 Just FYI, if you reply to GitHub issues via email, you end up posting more information than you might want. For example, a phone number. I would suggest editing your previous messages and replying only from the GitHub UI.

[2022-10-10 16:50] Naveenommi-MSFT commented on #99714
@tsbala
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-10 16:53] Naveenommi-MSFT commented on #99717
@abandyop
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-10 16:55] hannahwalt commented on #99624
Thank you everyone involved in this update. Much appreciated! Is there an ETA I can expect?

[2022-10-10 16:56] Naveenommi-MSFT commented on #99718
@sc-jlyma
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a screenshots or link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-10-10 17:04] Naveenommi-MSFT commented on #99722
@PaulTzl
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-10 17:05] KrishnaG-MSFT commented on #99413
@pthomas848 Update from Product Group is, this is on the roadmap but we are still working with partner teams to close on the dates. So, at this point we don't have an ETA or date that can be mentioned. Will update the documentation when appropriate.

[2022-10-10 17:06] #99413 closed

[2022-10-10 17:09] Naveenommi-MSFT commented on #99724
@anwarmahmood1
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-10 17:11] Naveenommi-MSFT commented on #99723
@SeryioGonzalez
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-10 17:11] jnlycklama commented on #99038
@mbender-ms any updates?

[2022-10-10 17:14] Naveenommi-MSFT commented on #99725
@ezYakaEagle442
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-10 17:15] mumurug-MSFT commented on #99722
@PaulTzl In this example, when you [Create a function app project](https://learn.microsoft.com/en-us/azure/azure-functions/functions-create-your-first-function-visual-studio?tabs=in-process#create-a-function-app-project) the authorization level was set to `Anonymous` and hence "?code= parameter" was not required. We described a note about Function authorization which requires function key as shown

[2022-10-10 17:15] #99722 closed

[2022-10-10 17:21] Naveenommi-MSFT commented on #99719
@simonburbery
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-10 17:49] mfthomps commented on #99659
Thank you.  That was my frustration, not realizing that full name would work in the cli while looking a the lists of regions on your web page.  I read too much into the example given for the CLI:
az group create -l westus -n MyResourceGroup

[2022-10-10 17:50] MarekLani commented on #99617
Thank you for prompt update!

[2022-10-10 17:50] #99617 closed

[2022-10-10 17:54] laujan commented on #99709
#reassign:vkurpad

[2022-10-10 18:09] tom-murnane opened #99729 "Grammatical Error"
In the loadTextContent section, first line of Remarks has a grammatical error:

"Use this function when you have content that is **more** stored in a separate file."

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 18f57035-1294-47a4-5750-1bd513c2bf03
* Version Independent ID: 748218b2-a857-3bb9-9

[2022-10-10 18:42] KrishnaG-MSFT commented on #99729
@tom-murnane Thanks for your comment! We will review and provide an update as appropriate.

[2022-10-10 19:01] whhender commented on #99443
@isdataninja  - MCE stands for "Microsoft Classification Engine". I will work up updating the documentation this week to be clearer.

[2022-10-10 19:15] cebundy commented on #99064
@ezYakaEagle442 Thanks for raising this issue. We have corrected the command, and the changes should be published soon.
#please-close

[2022-10-10 19:15] #99064 closed

[2022-10-10 19:15] mathrb opened #99730 "Incorrect link in Azure Queue storage trigger and bindings for Azure Functions overview"
Hello

I think one particular documentation element can be improved.
In `host.json settings`, when we choose Python as programming language, the documentation on messageEncoding property is misleading. It looks like it the text is the same for C# and other languages, but for non C# languages, it should not mention:

`This setting is only available in extension version 5.0.0 and higher`

1. The lin

[2022-10-10 19:30] danimir commented on #99716
Done. This is now scheduled to be published in a few days.
#please-close

[2022-10-10 19:30] #99716 closed

[2022-10-10 19:32] mlicd opened #99732 "GuardDuty misspelled"
"GuardDuty" is misspelled "GuardDute" under the table **The following IAM permissions are needed to discover AWS resources:**

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f48f68b8-f15e-d900-8e61-6aadec8aeecd
* Version Independent ID: d4a1522c-2764-83aa-006c-0cdb00951e63
* Content: [Connect your AWS account to Micros

[2022-10-10 19:48] msangapu-msft commented on #47551
Hi @Ayanmullick - Unfortunately this isn't a popular scenario so we haven't documented it.  However, I think these PS steps below should work:

Connect-AzAccount

$location = "eastus" # Azure region. Use Get-AzLocation to get all locations.
$appserviceplan = "PV3ASP" #App Service Plan name
$tier = "PremiumV3" #SKU
$webappname = "myWebApp" #web app name
$resourcegroup = "myResourceGroup" #Name of R

[2022-10-10 19:49] msangapu-msft commented on #99426
@JasonFreeberg Do you have any thoughts here?

[2022-10-10 19:53] cynthn commented on #99693
@antgonz Thanks for the feedback! I'm not sure what you mean by "may also include TOR updates"?

[2022-10-10 20:02] cynthn commented on #99683
@VikasPullagura-MSFT is there a way to reroute this to be an issue on this template: https://github.com/Azure/azure-quickstart-templates/blob/master/quickstarts/microsoft.compute/vm-simple-windows/azuredeploy.json

Not sure if we can move issues across repos?

[2022-10-10 20:04] mumurug-MSFT commented on #99707
@pitinga Unfortunately, outbound traffic using private link is not possible at the moment. Based on a discussion with our product team, they are currently working on this feature and no ETA as of now yet. We would recommend you follow https://aka.ms/apimupdates for any latest updates.

Alternatively, consider [VNET integration](https://learn.microsoft.com/en-us/azure/api-management/virtual-network

[2022-10-10 20:04] #99707 closed

[2022-10-10 20:10] msangapu-msft commented on #94449
@gsethgit Should we add the applicationhost.xdt details to this doc?

[2022-10-10 20:10] msangapu-msft commented on #47551
#please-close

[2022-10-10 20:10] #47551 closed

[2022-10-10 20:13] msangapu-msft commented on #94057
@JasonFreeberg Let me know your thoughts on this feedback.

[2022-10-10 20:14] Ayanmullick commented on #47551
Thank you for the steps.

[2022-10-10 20:15] msangapu-msft commented on #92058
@gsethgit Any thoughts on this?

[2022-10-10 20:19] boylec opened #99734 "How does enabling/disabling a feature flag interact with using a feature filter in Azure App Configuration?"
I haven't been able to find this answer in documentation.

Please see the **true or false?** cell in the truth table below:

| "Enable feature flag" checked | "Use feature filter" checked | Feature filter passes | Final feature flag evaluation |
| ----- | ----- | ----- | ----- |
true | true | true | true |
true | true | false | false |
true | false | true | N/A |
true | false | false | true |
fals

[2022-10-10 20:22] ChaitanyaNaykodi-MSFT commented on #99532
Hello @lukemurraynz, Thank you for your feedback. I have made a PR to address this issue and it will go live soon.

We will now proceed to close this issue out. Please tag me in your response if you have any additional questions. Thank you!

[2022-10-10 20:22] #99532 closed

[2022-10-10 20:28] msangapu-msft commented on #87485
We've added this to our backlog. #please-close

[2022-10-10 20:28] #87485 closed

[2022-10-10 20:30] duanepfeiffer opened #99735 "Step 4.1 doesn't work with MFA"
In step 4.1 : sqlcmd -S tpud-appsvr.database.windows.net -d Equipment -G -U user@company.org -I

I get error:

Password:
Sqlcmd: Error: Microsoft ODBC Driver 17 for SQL Server : Login timeout expired.
Sqlcmd: Error: Microsoft ODBC Driver 17 for SQL Server : Failed to authenticate the user 'user@company.org' in Active Directory (Authentication option is 'ActiveDirectoryPassword').
Error code 0xA190

[2022-10-10 20:33] msangapu-msft commented on #86855
Hi @yeroc-sebrof Thanks for the feedback.
@btardif any thoughts here?

[2022-10-10 20:36] msangapu-msft commented on #86361
Please see the previous comment to get you unblocked. We've added this to our backlog to make further improvements to this doc.

#please-close

[2022-10-10 20:36] #86361 closed

[2022-10-10 20:37] msangapu-msft commented on #86147
#please-close

[2022-10-10 20:37] #86147 closed

[2022-10-10 20:41] SnehaGunda commented on #78591
@gfraiture After discussing with the team, we need more time to fix the tool. So we are pulling down the doc temporarily.

[2022-10-10 20:43] bburgos928 commented on #99712
Hi yes, of course (link below, Step 5):
https://learn.microsoft.com/en-us/azure/active-directory-b2c/configure-authentication-sample-web-app?tabs=visual-studio#step-5-run-the-sample-web-app

[2022-10-10 20:44] SnehaGunda commented on #78591
#please-close

[2022-10-10 20:44] #78591 closed

[2022-10-10 20:44] SnehaGunda commented on #86686
@mpoeckl After discussing with the team, we need more time to fix the tool, we added your feedback to the fixes to be made. So we are pulling down the doc temporarily and closing this issue.

#please-close

[2022-10-10 20:44] #86686 closed

[2022-10-10 20:44] mimckitt commented on #99151
@lukos Actually, that's one of the major changes we made to VMSS using flexible orchestration. You can mix and max VM Skus, configurations, etc. They no longer are required to be identical. So you get all the benefits of VMSS availability and scale but for workloads that require different configurations.

[2022-10-10 20:44] SnehaGunda commented on #88882
@ksclubb After discussing with the team, we need more time to fix the tool, we added your feedback to the fixes to be made. So we are pulling down the doc temporarily and closing this issue.

#please-close

[2022-10-10 20:44] #88882 closed

[2022-10-10 20:44] SnehaGunda commented on #95205
@skandupmanyu After discussing with the team, we need more time to fix the tool, we added your feedback to the fixes to be made. So we are pulling down the doc temporarily and closing this issue.

#please-close

[2022-10-10 20:44] #95205 closed

[2022-10-10 20:56] msangapu-msft commented on #86361
@RedlineTriad Good to hear on the new job! Gotta keep on movin' :)

[2022-10-10 21:01] specialforest commented on #24239
The above feedback link is gone. I still don't see metrics when using read scale-out. I guess the feature is still not there.

[2022-10-10 21:02] garetjax67 opened #99737 "AzFilesHybrid parameters changed."
SamAccountName is not a valid parameter on the 0.2.4.0 AzFilesHybrid.   This page need to updated to match the new parameters

Join-AzStorageAccount : A parameter cannot be found that matches parameter name 'SamAccountName'.
At line:4 char:9
+         -SamAccountName $SamAccountName `
+         ~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidArgument: (:) [Join-AzStorageAccount], ParameterBin

[2022-10-10 21:41] msangapu-msft commented on #82661
Thank you for the feedback. We've added this to our backlog to prioritize. #please-close

[2022-10-10 21:41] #82661 closed

[2022-10-10 21:53] parasparekh opened #99740 "Integrated PBI experience in Azure Cosmos DB portal for Synapse Link enabled accounts and containers"
Hello,
Based on my recent interaction with Program Managers Anitha Adusumilli and Rodrigo Souza, it will be worthwhile to include in the documentation that the integrated PBI experience in the Azure Cosmos DB portal cannot be used with Azure Synapse Link if the associated Synapse workspace is disabled for public network access. Updating the doc will reduce back-and-forth with customers and PG and

[2022-10-10 21:54] parasparekh opened #99741 "Integrated PBI experience in Azure Cosmos DB portal for Synapse Link enabled accounts and containers"
Hello,
Based on my recent interaction with Program Managers Anitha Adusumilli and Rodrigo Souza, it will be worthwhile to include in the documentation that the integrated PBI experience in the Azure Cosmos DB portal cannot be used with Azure Synapse Link if the associated Synapse workspace is disabled for public network access. Updating the doc will reduce back-and-forth with customers and PG and

[2022-10-10 22:08] Suchiman commented on #24239
@specialforest microsoft likes to break links all the time nowadays but i think this link now lives here https://feedback.azure.com/d365community/idea/58a26c28-3225-ec11-b6e6-000d3a4f0f84

[2022-10-10 22:08] Anand-Moghe commented on #99726
My confusion is because when I see Azure App Service plan [limits](https://learn.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#app-service-limits), there is no details on inbound TCP/IP connections/second limit. App Service limit page has WebSocket connection limit, but I am looking for HTTPS inbound connections limit.

[2022-10-10 22:14] tfitzmac commented on #99729
@tom-murnane - thanks for letting us know about this issue. I'll submit a fix for it.

[2022-10-11 00:25] carmines opened #99744 "wrong logo"
The logo used for Azure is different now. review the branding with VSCode if they are using the right one.
![image](https://user-images.githubusercontent.com/36190349/194971749-e3de224d-470e-4b1a-b320-88e7ac20ebed.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 59b3b161-b559-f90b-1566-f18776a5f7da
* Version Indepe

[2022-10-11 00:31] carmines opened #99745 "needs an additional note"
Should have a note here that for users that have different tenants, should change the signed in tenant first. This may be covered in other areas for azure/vscode signing in docs, but either need link or note. Preferably a note and linking to the other doc(if required)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 59b

[2022-10-11 00:43] daeho-ro commented on #36222
I am collecting the Azure resources by API. In such case with the capital resource group name, the API call failes because of it does not exist! Should I handle the resource group name manually? Why this 3-years old issue is still ongoing? That is so interesting.

[2022-10-11 00:44] Naveenommi-MSFT commented on #99663
@lifejoyforpy
we have shared additional link & screenshot information for your reference. Please ensure that condition must be satisfied with screenshot information while doing the above.

https://learn.microsoft.com/en-us/azure/application-gateway/rewrite-http-headers-url#using-url-rewrite-or-host-header-rewrite-with-web-application-firewall-waf_v2-sku

<img width="939" alt="image" src="https://u

[2022-10-11 00:52] Naveenommi-MSFT commented on #99628
@red-erik
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-11 00:53] SnehaGunda commented on #99431
@aaron-baron I submitted a fix above. The change will go live in a couple of days.

[2022-10-11 00:53] SnehaGunda commented on #99431
#please-close

[2022-10-11 00:53] #99431 closed

[2022-10-11 00:56] Naveenommi-MSFT commented on #99686
@mcasalaina
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

@aahill
Could you Please review, add your comments on this and update as appropriate.

[2022-10-11 01:02] Naveenommi-MSFT commented on #99708
@Ahopie
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

@cloga
Could you Please review this and update as appropriate.

[2022-10-11 01:29] Naveenommi-MSFT commented on #99730
@mathrb
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-11 01:38] Naveenommi-MSFT commented on #99732
@mlicd
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

@ElazarK
Could you Please review this and update as appropriate.

[2022-10-11 01:42] Naveenommi-MSFT commented on #99734
@boylec
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-11 01:47] Naveenommi-MSFT commented on #99735
@duanepfeiffer
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-11 01:48] Naveenommi-MSFT commented on #99737
@garetjax67
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-11 01:50] AdamGuan13 commented on #99689
Thanks for your effective suggestion, it really works.
Thanks again.
![image](https://user-images.githubusercontent.com/113486445/194979026-6e4023be-929f-4dc0-9a00-449c26aaf8bd.png)

[2022-10-11 01:52] Jeremyp87 opened #99746 "AzureAD Conditional access rules ignore exclude extension attribute filter"
When filtering for devices the ExtensionAttribute rule is ignored, both policies seem to always apply regardless of the extensionAttribute that's set.

You can reproduce this behavior in the whatif tool.

Policy #1
"deviceFilter": {
        "mode": "exclude",
        "rule": "device.extensionAttribute3 -**ne** \"MFA Allowed\""
      },

Policy #2
"deviceFilter": {
        "mode": "exclude",

[2022-10-11 01:54] Naveenommi-MSFT commented on #99740
@parasparekh
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-11 02:04] Naveenommi-MSFT commented on #99744
@carmines
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-11 02:08] Naveenommi-MSFT commented on #99745
@carmines
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-11 02:10] Naveenommi-MSFT commented on #99746
@Jeremyp87
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-10-11 02:27] AshokPeddakotla-MSFT commented on #99689
@AdamGuan13 Glad to hear it helped. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-10-11 02:27] #99689 closed

[2022-10-11 02:42] AshokPeddakotla-MSFT commented on #99674
@xfischer Thanks for the feedback! I have assigned the issue to the content author @stevemunk  to evaluate and update as appropriate.

[2022-10-11 03:00] lmsurpre opened #99747 "Confused about the FQDN option"
https://learn.microsoft.com/en-us/azure/aks/ingress-tls?tabs=azure-cli#configure-an-fqdn-for-the-ingress-controller seems to imply that AKS will assign me a subdomain under `<AZURE REGION NAME>.cloudapp.azure.com`.

In the provided example it uses `DNS_LABEL="demo-aks-ingress"`.
However, I'm super confused about how that could possibly work...I assume each IP would need its own unique label (i.e.

[2022-10-11 03:15] ManoharLakkoju-MSFT commented on #99540
@xuegao112
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation

[2022-10-11 03:15] #99540 closed

[2022-10-11 03:16] Jeremyp87 commented on #99746
@Naveenommi-MSFT I'm not following any documentation, it seems to be a bug in conditional access rules.

[2022-10-11 03:27] Naveenommi-MSFT commented on #99605
@dearandyxu
Could you Please review, add your comments on this and update as appropriate.

[2022-10-11 03:31] Naveenommi-MSFT commented on #99741
Duplicate of #99740

[2022-10-11 03:31] #99741 closed

[2022-10-11 03:40] Naveenommi-MSFT commented on #99746
@Jeremyp87
Please Note, GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilize Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2022-10-11 03:47] agowdamsft commented on #99687
looking at this bug, will update the documentation/sample soon.

[2022-10-11 03:49] Jeremyp87 commented on #99746
Thanks, will post there.

[2022-10-11 03:49] #99746 closed

[2022-10-11 04:03] #99546 closed

[2022-10-11 04:09] SwathiDhanwada-MSFT commented on #99659
@tfitzmac  Thanks for your inputs on this.

@mfthomps We will close the issue for now. If there are further questions, please revert and we will be glad to assist you.

[2022-10-11 04:09] #99659 closed

[2022-10-11 04:17] neeranelli opened #99748 ""Dynamics 365 Omnichannel" is incorrect; it's "Omnichannel for Customer Service"."
Hello,

Can you kindly correct the following references in Azure content repo?

- Dynamics 365 Omnichannel
- Dynamics Omnichannel voice

The voice channel is a feature in Dynamics 365 Customer Service.

An excerpt from the guidelines is as follows:

More information: [Customer Service](https://styleguides.azurewebsites.net/Styleguide/Read?id=2696&topicid=48176) and [Omnichannel for Customer Servic

[2022-10-11 04:33] SwathiDhanwada-MSFT commented on #99604
@michieldp Thanks for your feedback.

Assigning to content author  @maud-lv for review.

[2022-10-11 04:52] holms commented on #89424
@GennadNY  maybe you have any idea where this param go?

[2022-10-11 05:08] SnehaAgrawal-MSFT commented on #99748
@neeranelli Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-10-11 05:09] alhieng opened #99749 "Unable to execute storm ingest"
[Hello, I was unable to complete the example due to error in storage account access. Token may be expired.

.ingest into table StormEvents 'https://kustosamplefiles.blob.core.windows.net/samplefiles/StormEvents.csv?sv=2019-12-12&ss=b&srt=o&sp=r&se=2022-09-05T02:23:52Z&st=2020-09-04T18:23:52Z&spr=https&sig=VrOfQMT1gUrHltJ8uhjYcCequEcfhjyyMX%2FSc3xsCy4%3D' with (ignoreFirstRecord=true)

]

 There se

[2022-10-11 05:23] bsivar opened #99751 "Clarify what Customer Premises Equipment (CPE) is."
Clarify what Customer Premises Equipment  (CPE) is.

It is not clear what CPE refers to in the diagram or in the text.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2b27b9b3-fe7e-1ac3-d07a-3d55ce820e48
* Version Independent ID: 9607bff7-4b14-f3ef-6a4d-cf494eb84c07
* Content: [Azure ExpressRoute: Designing for high av

[2022-10-11 05:34] MughundhanRaveendran-MSFT commented on #99491
@YouNeedTea , The response would be an array of json objects. Since the output is dynamic, it becomes challenging for documentation.

Hope this helps!

[2022-10-11 06:10] MughundhanRaveendran-MSFT commented on #99646
@abhinabsarkar , The additional public ip address are mapped to load balancers. You can view them in the overview blade.

Hope this helps!

[2022-10-11 06:29] ricowang-msft opened #99752 "apt install cassandra by default installs Cassandra v4 which comes with cqlsh v6 that breaks DESCRIBE"
[Install on Unix/Linux/Mac:](https://learn.microsoft.com/en-us/azure/cosmos-db/cassandra/cassandra-support#:~:text=Install%20on%20Unix/Linux/Mac%3A)

Per documentation, if I were to `apt install cassandra`, apt will by default get me the latest version (4.0.5). Currently, there's have Cassandra 4.0.5 and 3.11.13 on apt.

[code]

The problem with this is, Cassandra 4.0.5 comes with cqlsh v6 which b

[2022-10-11 06:37] shtakeda opened #99753 "Please add quick start sample codes for use case 1 and 2"
I tried testing Teams PSTN calls referring a video calling sample (https://github.com/Azure-Samples/communication-services-javascript-quickstarts/tree/main/add-1-on-1-cte-video-calling), but it does not work properly, it does not focus on Teams PSTN calls. Please add sample codes to run outbound/Inbound Teams PSTN calls.

---
#### Document Details

⚠ *Do not edit this section. It is required for l

[2022-10-11 07:02] librucha commented on #98758
Hello.
Thank you for the Answer. I understand well what span and telemetry context is. My issue report was about inconsistent and incomplete documentation.

In this section<https://learn.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-sampling-overrides#how-it-works> is correctly described telemetryTypes but in Terminology<https://learn.microsoft.com/en-us/azure/azure-monitor/app/java-

[2022-10-11 07:02] phwill1204 commented on #95435
Doesn't this assume that you are using a market place image though?

What if the customer is using a custom Windows Server image to build the AVS host that doesn't have the RDS role installed and then wants to add it to the hostpool manually?

I think it would be better to make it clear what is required for a host that isn't created through the AVD service and one that is.

This comment:

"Remote

[2022-10-11 07:03] WillEastbury commented on #93396
The APIM API configuration is enabling the ability to acquire a JWT inside the APIM developer portal, if enabled. If you do not intend to use the developer portal (or are using the consumption tier, which doesn’t have a developer portal), then you do not really need to set this – so we do not describe it in the document. You can leave it as ‘none’ for the sample.

The validate-jwt policy in apim p

[2022-10-11 07:09] john-matlock-eng commented on #95825
That helps answer my follow-up question, but the table still makes no sense. How can a non-Intune-managed device be compliant?
________________________________
From: John Flores ***@***.***>
Sent: Monday, August 1, 2022 5:35:33 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: John Matlock ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] How can a non-Intune-managed device

[2022-10-11 07:09] ChristianBeier opened #99754 "Incomplete command and insufficient description"
Step number 3 in [device-update-ubuntu-agent#manually-prepare-a-device](https://learn.microsoft.com/en-us/azure/iot-hub-device-update/device-update-ubuntu-agent#manually-prepare-a-device) is incomplete, the command should be
`sudo nano /etc/adu/du-config.json`

Besides, the description is misleading as setting only the connection string is not sufficient. Instead, all custom values need to be fill

[2022-10-11 07:12] norregaard commented on #97861
Hi,

Yes, the API gateway endpoint is listed in the doc.
However - it is missing the *Subresource* information.
In the first column called "Private link resource type / Subresource" in
the doc you both have the name of the PaaS service but also the Subresource
name after the "/". I have marked some examples in the screenshot below.

[image: image.png]

If you look at the same forAPI Management, th

[2022-10-11 07:13] prajster commented on #92191
tried that but the extension is not available
az extensions list -> does NOT list this particular extension aks-preview either.

    On Tuesday, May 3, 2022, 01:32:03 AM CDT, kobulloc-MSFT ***@***.***> wrote:

@prajster You may need to add the AKS Preview extension (see Azure/AKS#904):

az extension add --name aks-preview

I can confirm that the command is working when I use the Azure Cloud Shell:

[2022-10-11 07:13] Klaas- commented on #80205
@pvrk this is still happening with the 2.1.0.0 update:
https://github.com/Klaas-/msawb-plugin-config-com-sap-hana.sh/commits/main
that means once 15 hours ago it was the 2.1.0.0 version, and last 14 curls were served 2.0.9.6 again

[2022-10-11 07:16] shaktisingh-msft commented on #99740
Hi @@Rodrigossz,

Could you please look into this document request. Thnaks in advance.

[2022-10-11 07:16] AmberYangY opened #99755 "The Key Vault part is incorrect"
We need to check the **"Access Configuration" rather than the "Access Policy"** for enabling access to Azure Virtual Machines for deployment

![image](https://user-images.githubusercontent.com/94522598/195020798-31679210-36f7-421c-91d9-397235c81e01.png)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

*

[2022-10-11 07:19] guywi-ms commented on #99478
#please-close

[2022-10-11 07:19] #99478 closed

[2022-10-11 07:19] shyambasnet1 commented on #97367
Thank you

On Tue, Aug 23, 2022 at 9:57 AM Vic ***@***.***> wrote:

[2022-10-11 07:23] antgonz commented on #99693
Hello cynthn, As per our documentation Maintenance Configuration only supports Host, OS image, and Guest, however our customer are receiving notifications for Top Of Rack Switches, so we should include also in our documentation.

[2022-10-11 07:26] Venkateshdodda-MSFT commented on #99744
@carmines I have tried to install the Azure tools V1.1.0 extension in my visual studio code and i am able to see the latest logo.

![image](https://user-images.githubusercontent.com/103091186/195022673-82636a56-0949-4e2a-bfe4-9dd4de717288.png)

 I would suggest you try installing the latest version of this extension and check.
And also, i see [Documentation](https://learn.microsoft.com/en-us/azure

[2022-10-11 07:26] #99744 closed

[2022-10-11 07:29] red-erik commented on #99628
Hello,
here the link
https://learn.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-nps-extension-errors
in section "Contact Microsoft Support".
Regards,

Red.

[2022-10-11 07:33] Shell-IanBennett opened #99756 "Documentation missing for Databricks Connector"
There is no documentation here for the Databricks Connector, only for the Databricks Delta Lake Connector.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ae2389f5-6e57-bd3e-2228-83479983ca0b
* Version Independent ID: af4d7832-5f25-59cc-e9fc-74f32ec8dbc0
* Content: [Connector overview - Azure Data Factory & Azure Synap

[2022-10-11 07:34] illuminous commented on #90026
https://www.rebeladmin.com/wp-content/uploads/2019/10/mem7.png

See this screenshot above from:
https://www.rebeladmin.com/2019/10/step-step-guide-bulk-import-remove-group-members-azure-active-directory-public-preview/

On Thu, Mar 17, 2022 at 2:57 PM James Tran-MSFT ***@***.***>
wrote:

[2022-10-11 07:34] alexchen2016 opened #99757 "Confirm whether this doc can be used in Azure China or not"
Hi Writer team,

Can you help to confirm whether this article can be used in Azure China or not? Thanks.

Regards
Alex

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 30af6e66-d38a-a461-9b84-33b4e2c562ca
* Version Independent ID: 259c3b11-817b-430d-7fc8-2cb8f7de5193
* Content: [Quickstart require Terms of Use at sign-i

[2022-10-11 07:40] site-speed commented on #92591
Thanks for these

  *   Yes I’d already seen the Static Web App specific “Get-AzStaticWebApp”
This does indeed find my static web apps

However,
Update-AzStaticwebApp doesn’t allow updating/changing the CustomDomain

  *   which is what I was trying to do.
  *   It allows updating/changing many of the other app configuration settings but not the one I was interested in (and I’m sure others will wa

[2022-10-11 07:43] santo2 commented on #96883
Hello, is there still no-one who had a look at this?

[2022-10-11 07:45] jjjohn538 commented on #98048
Maybe I cloned an older version of the tutorial. My source code had the trigger name as testblobs/{name}.

If the current instance of the tutorial code is correct, then no action is needed.
Thank you.

[2022-10-11 07:49] daisystevens100 commented on #65971
I've given up on this

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: jsanchez-dattics ***@***.***>
Sent: Friday, August 19, 2022 6:41:19 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Daisy Olivia Stevens ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Does Azure Automation support Connect-MsolService or Not? (#65971)

Hi, is th

[2022-10-11 07:53] timwarner-msft commented on #94491
Hi Masoud. I'll fix this tomorrow, but to implement the fix I need to coordinate with the guest config engineers who formally maintain the PowerShell module docs.

Happy to help,
Tim

________________________________
From: Masoud Samadi ***@***.***>
Sent: Tuesday, September 6, 2022 3:19 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Tim Warner ***@***.***>; Mention ***@***.***>
Subject: Re: [Mic

[2022-10-11 07:53] vasco-lopes opened #99758 "Code examples in this page are reading from S3 instead of ADLS"
Code examples in this page are reading from S3 instead of ADLS

---
#### Document details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 433f1b2e-9d7b-7812-324a-56c38f33b5a2
* Version Independent ID: 433f1b2e-9d7b-7812-324a-56c38f33b5a2
* Content: [Using Auto Loader with Unity Catalog - Azure Databricks](https://learn.microsoft.com/en-gb/azure/

[2022-10-11 07:55] illuminous commented on #90026
Yes.  I’ll take a look in a week or so. Headed out on spring break.

On Fri, Mar 18, 2022 at 8:34 PM James Tran-MSFT ***@***.***>
wrote:

[2022-10-11 07:58] brentblawat commented on #90911
By the way -- the actual program works perfectly -- and is amazing. It
saved me over a 36 hour transfer by threading the file transfer. Absolutely
amazing!

On Mon, Apr 4, 2022 at 3:40 PM DerekHerman-MSFT ***@***.***>
wrote:

[2022-10-11 07:58] russd2357 commented on #93738
Ok. Thanks

On Wed, Jun 8, 2022, 9:49 AM Dominic Betts ***@***.***> wrote:

[2022-10-11 08:05] sc-jlyma commented on #99718
Hi @Naveenommi-MSFT
I tried use the Query tab.
I used this Scopes for Zoho:
ZohoCRM.settings.all,
ZohoCRM.modules.ALL,
ZohoSearch.securesearch.READ,
ZohoAnalytics.data.create,
ZohoAnalytics.data.read,
ZohoAnalytics.data.update,
ZohoAnalytics.metadata.read,
ZohoCRM.coql.READ

![MicrosoftTeams-image (3)](https://user-images.githubusercontent.com/112694047/195033589-05433f98-6e4f-4ae5-8125-9fd6d2cdb0

[2022-10-11 08:11] dooleydo commented on #93103
I think the document should at least explain what "local HA" actually means
as it isn't a term used anywhere else in Azure. For example saying it is
similar to LRS and that the solution does not span availability zones.

On Wed, 25 May 2022, 16:33 Ken Downie, ***@***.***> wrote:

[2022-10-11 08:18] Ravnsgaard commented on #97364
Hi

The list of IP ranges has absolutely no relation to the request here.
What i was asking for was a geojson file with the network, edge and datacenter locations (meaning longitude/latitude and physical routes).

On 22/8/22, 13:04, "Gitarani Sharma" ***@***.***> wrote:

@Ravnsgaard<https://github.com/Ravnsgaard> , Azure publishes the below JSON file which contains the IP address ranges for Public

[2022-10-11 08:19] JulianSchallenmueller commented on #92958
Hello!
I would like to use this thread to get an update on the status of the issues mentioned here;
1. Is CMK encryption planned to be supported in Flexible Server?
2. Is there an ETA on Azure AAD integration?
3. Is the 9th of November 2023 still the planned date for retirement of Single Server?

[2022-10-11 08:26] gvanteylingen commented on #93103
The goal is to be more vocal on these aspects when AZ capabilities in ANF are released in public preview (now in private preview).
Until then ANF PG wants to stick with ‘local HA’ as the term – ANF is specialized solution which does not fully follow regular Azure techs and standards.

With kind regards/Met vriendelijke groet,

***@***.***
Geert van Teylingen
Azure NetApp Files Group Product Manage

[2022-10-11 08:26] shaktisingh-msft commented on #99752
Hi @ricowang-msft ,

Thanks for sharing your feedback. We will investigate and work as appropriate.

[2022-10-11 08:31] Rakeshgodumala commented on #89292
Hello Sir,
I have completed all Self-Learning modules in frt portal somewhere is
showing complete but in the Access pathway it is showing only 38%

It is not showing mark as completed

On Sat 12 Mar, 2022, 11:21 PM AjayKumar-MSFT, ***@***.***>
wrote:

[2022-10-11 08:32] martillodecampo commented on #91590
Hi James,

Thanks for your quick reply!
I’m a global admin in the tenant. I had just created a new user but the Edit button was disabled so I was not able to modify the user account that I had just created. I revisited it today and the Edit button for that particular user account is now enabled. Maybe there was some background process that needed to complete after the creation of the user before t

[2022-10-11 08:32] andrePKI opened #99760 "Language (local, not English)"
Why is azcmagent talking in the local language instead of English? How can I change that? Please add that information...

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c60c61b5-2eba-723c-27c1-4296763fcb28
* Version Independent ID: f642a961-06ed-beac-fb5b-c0d69bf5897c
* Content: [Troubleshoot Azure Arc-enabled servers

[2022-10-11 08:32] MughundhanRaveendran-MSFT commented on #99730
@mathrb , Yes, it would be clear if it says Extension bundle. However the extension bundles also have versions and they are applicable to non c# languages as well. I will modify the statement to say "This setting is only available in extension bundle version 5.0.0 and higher"

[2022-10-11 08:39] jjjjeee opened #99761 "Azure REST API documents for adding lock on resource is wrong | need to remove parentResourcePath to run API"
Hello Team,

for adding Lock on azure resources via API, Azure provides two links officially
https://learn.microsoft.com/en-us/rest/api/resources/management-locks/create-or-update-by-scope?tabs=HTTP#code-try-0
and
https://learn.microsoft.com/en-us/rest/api/resources/management-locks/create-or-update-at-resource-level?tabs=HTTP#code-try-0

however, if we run API via official documents directly with

[2022-10-11 08:40] Kunwilshire commented on #94184
Thank you! I will wait for your reply.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: ***@***.***>
Sent: Monday, June 13, 2022 2:21 AM
To: ***@***.***>
Cc: Kun ***@***.***>; ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Error on send: One or more errors occurred. (Issue #94184)

@Kunwilshire<https://nam04.safelinks.protection.outlook.com/?url=https%3A%2F%

[2022-10-11 08:44] Jessieliu111 opened #99762 "Please add register the feature : KubernetesConfiguration"
When creating k8s extension in AKS, it shows error as below. Cx and we CSS all see the same object id: 8cbxxxxx, and after checking, it's  ClusterConfigToAKS. Normally cx won't aware of adding this feature.
Registering below solves the issue. Please kindly modify our doc to remind cx to register the feature in perquisition.
https://learn.microsoft.com/en-us/azure/aks/dapr#register-the-kubernetesco

[2022-10-11 08:49] The-algar commented on #90586
Hello

forget about it
the Azure team solved it
best regards
________________________________
De : SadiqhAhmed-MSFT ***@***.***>
Envoyé : lundi 28 mars 2022 16:13
À : MicrosoftDocs/azure-docs ***@***.***>
Cc : Eric M. Clermontet ***@***.***>; Mention ***@***.***>
Objet : Re: [MicrosoftDocs/azure-docs] support link DO NOT WORK (Issue #90586)

@The-algar<https://github.com/The-algar> Can you share t

[2022-10-11 08:52] kkazala opened #99763 "error NU1100: Unable to resolve 'Microsoft.NET.Sdk.Functions (>= 4.1.1)' for 'net6.0'."
Newly created Function App throws `error NU1100: Unable to resolve 'Microsoft.NET.Sdk.Functions (>= 4.1.1)' for 'net6.0'.` error when building, even if all prerequisites are installed.
It turns out that the NuGet utility installed with .Net 6 SDK is not adding required configurations and it's necessary to invoke
`dotnet nuget add source https://api.nuget.org/v3/index.json -n nuget.org`

Would you

[2022-10-11 08:53] moravindMSFT commented on #94041
Thanks. Could you tell me who is the owner of this content?

Regards,
Mohan Ravindran | CISSP
Sr. Customer Engineer
+91 900 897 8962

From: Marilee Turscak - MSFT ***@***.***>
Sent: Wednesday, June 8, 2022 12:36 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Mohan Ravindran ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Onboarding Process Not clear for Lower Level OS'

[2022-10-11 08:55] AjayBathini-MSFT commented on #99677
@manzinge
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-11 08:59] andrePKI commented on #99069
Yes, that helps. Perhaps it can be made more clear in the document? Like
replace "Supported?" by "Client installer supported?" or something similar?

Op vr 30 sep. 2022 11:33 schreef Anurag Singh ***@***.***>:

[2022-10-11 08:59] AshokPeddakotla-MSFT commented on #99754
@ChristianBeier Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-10-11 09:02] AjayBathini-MSFT commented on #99723
@SeryioGonzalez
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-11 09:02] TaraWM commented on #98280
Hi,

Thank you for the reply but I'm afraid that wasn't the question. My
question was to do with the safety of re-using the ConsistencyGUID
attribute as source anchor in a multi-tenant sync scenario.

I have Domain A syncing user objects to Tenant A with Azure AD Connect A -
ConsistencyGUID is the source anchor. I now want to sync user objects from
Domain A to Tenant B with Azure AD Connect B, and

[2022-10-11 09:04] fangzj1991 opened #99764 "Please add register the feature : KubernetesConfiguration"
When creating k8s extension in AKS, it shows error as below. Cx and we CSS all see the same object id: 8cbxxxxx, and after checking, it's ClusterConfigToAKS. Normally cx won't aware of adding this feature.
Registering below solves the issue. Please kindly modify our doc to remind cx to register the feature in perquisition.
https://learn.microsoft.com/en-us/azure/aks/dapr#register-the-kubernetescon

[2022-10-11 09:04] The-algar commented on #90586
Hi,

I would rather you look into the ticket I opened about reactivatiing a subscription was accidentally canceled.

All our clients services are on that subscription and we need it restored asap

please advise
________________________________
De : SadiqhAhmed-MSFT ***@***.***>
Envoyé : lundi 28 mars 2022 11:57
À : MicrosoftDocs/azure-docs ***@***.***>
Cc : Eric M. Clermontet ***@***.***>; Mention

[2022-10-11 09:06] RaymonZh opened #99765 "The following content hasn't been updated to Japanese Version's document."
The following content hasn't been updated to Japanese Version's document.

---------------------------------------------------------------------------------------
 Important

If using managed identity, the installed version of the fence-agents package must be SLES 12 SP5: fence-agents 4.9.0+git.1624456340.8d746be9-3.35.2 or later
SLES 15 SP1 and higher: fence-agents 4.5.2+git.1592573838.1eee0863 o

[2022-10-11 09:07] FoliniC commented on #96810
Hi, sorry for the delay.
I'll try tomorrow.

Regards
Carlo

Il mar 9 ago 2022, 10:33 Kapil Ananth ***@***.***> ha scritto:

[2022-10-11 09:17] Naveenommi-MSFT commented on #99628
@Justinha
Could you Please review, add your comments on this and update as appropriate.

[2022-10-11 09:19] RamanathanChinnappan-MSFT commented on #99635
@bjornarmr

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-11 09:20] RamanathanChinnappan-MSFT commented on #99654
@captainnumerica

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-11 09:25] mathrb commented on #99730
humm, the misleading part is that version number, in the doc it only list : v1.x, v2.x and v3.x

[2022-10-11 09:27] catbutler commented on #94531
Thank you! Note that the long procedure also has a few changes. You can find the most current content in our User Guide: Connect to Databricks - User Guide (lightup.ai)<https://docs.lightup.ai/user-guide/manage-datasources/connect-to-databricks>

Cheers!
Steven Thomas
***@***.******@***.***>

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: Jennie ***@***.***>
Sent

[2022-10-11 09:28] chorting commented on #98460
I am currently implementing Azure Monitor, and during the POC phase we generated a single server onboarding script. As part of the onboarding, we elected to include several tags to define the region and location of the server. The onboarding was successful, but the device shows the same value for every flag. We have replicated this behaviour over 10 times, trying removing spaces from the tag and s

[2022-10-11 09:30] seaqueller commented on #99701
Thank you... appreciate it!

From: SudhirRaparla ***@***.***>
Sent: Monday, October 10, 2022 9:43 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Shirish Julapalli ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Word replacement suggestion (Issue #99701)

Change is made. Should be live after 10/12, due to ignite.

-
Reply to this email directly, view it on GitHub<https:

[2022-10-11 09:33] Naveenommi-MSFT commented on #99718
@sc-jlyma

The 400 (Bad Request) status code indicates that the server cannot or will not process the request because the received syntax is invalid, nonsensical, or exceeds some limitation on what the server is willing to process. It means that the request itself has somehow incorrect or corrupted and the server couldn't understand it. The server is refusing to service the request because the ent

[2022-10-11 09:33] kengaderdus commented on #99487
@LockTar

Thanks for your feedback and patience. Use the steps in [hide-the-change-email-button](https://learn.microsoft.com/en-us/azure/active-directory-b2c/add-password-reset-policy?pivots=b2c-custom-policy#hide-the-change-email-button). Let us know if you've further questions. I'll proceed to close this issue. #please-close.

[2022-10-11 09:33] #99487 closed

[2022-10-11 09:45] kengaderdus commented on #99507
@drazen-relias

Thank you for your feedback and patience. While the two terms are used interchangeably, I agree that we need to be consistent. We'll update the article. Note that the changes we make may take some time before they go live. I'll proceed to close this issue. #please-close.

[2022-10-11 09:45] #99507 closed

[2022-10-11 09:52] Gunnnn commented on #13515
Please reopen tis issue! It is still not working: i try to raise exception
python -c 'raise Exception("ERR")'
dbutils.notebook.exit("ERRR message")
pyspark.sql.functions.raise_error("errMsg11")
and none is signalling to ADF, that NB errored!

[2022-10-11 09:53] tomaschladek commented on #99753
Hi @shtakeda, thank you for your feedback. We currently have VoIP call samples, and we will work on extending the code samples with audio, video, and telephony dedicated samples. We will then link them into use cases for easier discovery.

[2022-10-11 09:56] SaibabaBalapur-MSFT commented on #99704
@Maurice-van-Beers
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-11 10:01] SaibabaBalapur-MSFT commented on #99737
@khdownie
Can you please check and add your comments on this doc update request as applicable.

[2022-10-11 10:08] avirgvd commented on #85901
@akashperfect @RyanHill-MSFT  this issue could be due to .NET runtime version issue. The .NET version used by Function App example is still supported by Azure? If not please update this example to right runtime version.

[2022-10-11 10:08] SaibabaBalapur-MSFT commented on #99652
@mamccrea
Can you please check and add your comments on this doc update request as applicable.

[2022-10-11 10:09] sc-jlyma commented on #99718
Hi @Naveenommi-MSFT this one https://learn.microsoft.com/en-us/azure/data-factory/connector-zoho?tabs=data-factory

[2022-10-11 10:19] ezYakaEagle442 commented on #95583
Please this [bug](https://github.com/Azure/acr-build/issues/10) and workaround in the FAQ

[2022-10-11 10:22] Osshaikh opened #99768 "AKS Node patching Conflicts in Docs"
As per current document it states security patches get automatically applied to nodes by default each evening, in similar document its mentioned that doesn't automatically patch them by default. Because AKS isn't a platform-as-a-service (PaaS), components like agent nodes have shared responsibility, and users must help maintain the AKS cluster.
Reference link :https://learn.microsoft.com/en-us/azu

[2022-10-11 10:27] ManoharLakkoju-MSFT commented on #99698
@techtalk722
Thank you for your suggestion. It would be helpful to provide your ideas in the below link so our product team will work on it.
https://feedback.azure.com/d365community

[2022-10-11 10:27] AjayKumar-MSFT commented on #99637
jonathh21, it is the vault name "myvault", from your example, kindly use the Valultname = ci-blahblah

[2022-10-11 10:29] abhinabsarkar commented on #99646
This is the MC_ resource group for the VNet internal Azure  Container Apps which I have spin up. I am able to view only one public IP address in the overview blade. The two additional IPs for the load balancers are not visible.  Also, what is the purpose of the two additional public IPs?
![aca](https://user-images.githubusercontent.com/21206713/195066330-031ed831-974f-452e-8500-1bbb70c7f77a.png)

[2022-10-11 10:41] kengaderdus commented on #98416
@PhilEmpyrean

Thank you for your feedback and patience. _Configuring optional claims_ procedure happens in Azure AD, so you must ensure that you're using the directory that contains your Azure AD (and not Azure AD B2C). We've updated our documentation for clarity. Note that our updates may take some time before they go live. Let us know if you've further questions. We'll proceed to close this iss

[2022-10-11 10:41] #98416 closed

[2022-10-11 10:54] shaktisingh-msft commented on #99752
Hi @iriaosara ,

Could you please look into this document update request. Thanks

[2022-10-11 11:11] GitaraniSharma-MSFT commented on #99751
@bsivar , thank you for your query. We'll review this and get back to you shortly!

[2022-10-11 11:11] boris-bazilevskiy commented on #99748
hi @neeranelli thanks for the feedback!
let me ask some questions:
- we need to use 'Omnichannel for Customer Service' without mentioning Dynamics, correct?
- all the customers I have talked to regarding Omnichannel, refer to 'Dynamics' or 'Dynamics Omnichannel', how can I articulate in the doc for my customers that if they use Dynamics - they are GA covered?
- can I use something like 'The voice

[2022-10-11 11:12] joeakim commented on #99567
Hi again.
I am sorry, but I think you are mistaken.
The policies the documentation is referring to clearly target Windows VMs only. No Linux VMs.
But the documentation is explicitly for Linux VMs:
<img width="851" alt="image" src="https://user-images.githubusercontent.com/46311972/195074345-f85033cc-5f4d-4528-b99a-458f079b46c6.png">

Here's a little snip out of the policy definitions, the rest loo

[2022-10-11 11:33] lightupdifire opened #99770 "operatingSystem"
Hello,

Would be good to have a link to an article that explains which "operatingSystem" can be selected in a filter.
Like can we simply type: ios? Or we should type ipad/ios? same for Linux, we simply type linux?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: fcc79933-58e1-66d1-81ae-f43802d41223
* Version Independent

[2022-10-11 11:34] Naveenommi-MSFT commented on #99747
@lmsurpre
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-11 11:41] AlexCesarini opened #99771 "Azure AD connect Health for AD FS is also supported on Windows Server 2019"
Azure AD connect Health for AD FS is also supported on Windows Server 2019
Please add that Azure AD connect Health for AD FS is also supported on Windows Server 2019 as per

https://learn.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-health-faq#what-version-of-identity-roles-are-supported-by-azure-ad-connect-health-

---
#### Document Details

⚠ *Do not edit this section. It

[2022-10-11 11:41] MughundhanRaveendran-MSFT commented on #99730
@mathrb , I understand, I will try to change the hyperlink directly to point to the extension version 5.0.0

[2022-10-11 11:48] RamanathanChinnappan-MSFT commented on #99673
@johnwu0604

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-11 11:50] adi-garg opened #99772 "Firewall Rule Processing Logic"
Hello Microsoft,
1.The **example** table in this section
https://learn.microsoft.com/en-us/azure/firewall/rule-processing#rule-processing-using-firewall-policy
is unclear on **inheritance** as well as **which Rules fall under which Rule Collection /which Rule Collections fall under which Rule Collection Groups.**
A diagram like here would simplify the scenario: https://learn.microsoft.com/en-us/az

[2022-10-11 11:51] madsd commented on #97034
#please-close

[2022-10-11 11:51] #97034 closed

[2022-10-11 11:55] Naveenommi-MSFT commented on #99749
@alhieng
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-11 12:01] madsd commented on #38922
Sorry for the late reply. Like the platform dependencies, you will need routes that point the IP range of your clients to Internet - this ensures that the incoming traffic is not routed to the firewall on its way out and thereby generating asymmetric routing.
I'll close the issue for now, but please reopen or create a new request if it is not clear. #please-close

[2022-10-11 12:02] #38922 closed

[2022-10-11 12:05] Naveenommi-MSFT commented on #99753
@tomaschladek
Thanks for your response.

[2022-10-11 12:11] tajwan69 opened #99773 "Problem with Azure SignalR service connection while using custom domain in ASP.NET (not Core)"
Hi,

I have a problem with communication with Azure SignalR service when I try to use created custom domain (step by step using this tutorial). In SignalR settings I use Default service mode and I have a Premium tier. When I created custom domain I verified it using health check API and it return 200 status code without any certificate error.

I tried on sample ChatRoom ASP.NET project downloaded

[2022-10-11 12:17] kengaderdus commented on #98943
@lnavarette

Thank you for your feedback and patience. We're unable to respond to your question because we don't enough details. Could you please describe your scenario further. We want to understand what you want to achieve so we can respond how Azure AD B2C supports your scenario.

[2022-10-11 12:18] Naveenommi-MSFT commented on #99756
@Shell-IanBennett
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-11 12:23] lmsurpre commented on #99747
In my opinion the idea of just specifying a `service.beta.kubernetes.io/azure-dns-label-name` annotation and that will become your subdomain is a bit too magical.

I liked the approach you (Azure) took the `HTTP Application Routing` stuff, where its integrated into the DNS Zone services.
Still user friendly, but namespaced by your cluster (so avoids the global uniqueness issue) and visible to the

[2022-10-11 12:27] SaibabaBalapur-MSFT commented on #99567
@joeakim
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@

[2022-10-11 12:30] SaibabaBalapur-MSFT commented on #99567
@msmbaldwin
Can you please check and add your comments on this doc update request as applicable.

[2022-10-11 12:32] GitaraniSharma-MSFT commented on #99772
@adi-garg , thank you for your feedback. We have assigned this to the content owner/author for review.

@vhorne , for your review.

[2022-10-11 12:38] Naveenommi-MSFT commented on #99757
@alexchen2016
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-11 12:39] Naveenommi-MSFT commented on #99758
@vasco-lopes
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-11 12:42] SWarnberg opened #99774 "Is it working with Docker on Linux?"
The documentation states that it supports the configurations:

- App Service on Windows - Publish as Docker
- App Service on Linux

However, it doesn't say anything about support for **App Service on Linux - Publish as Docker** (or Container). Please update so it's clear. I tried configuring with above but it didn't work until I added SDK in project.

---
#### Document Details

⚠ *Do not edit this

[2022-10-11 12:42] Naveenommi-MSFT commented on #99760
@andrePKI
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-11 12:47] Klaas- commented on #80205
Version 2.1.0.0 output (https://github.com/Klaas-/msawb-plugin-config-com-sap-hana.sh/commit/c84844c4de25188eb24dcc17bb3bcbe1764e59f3)
[code]

2.0.9.6 output (https://github.com/Klaas-/msawb-plugin-config-com-sap-hana.sh/commit/f76e3b6538e87622d146e8e2397fd1e4aa7ec6b6)

[code]

[2022-10-11 12:57] kengaderdus commented on #97781
@fei0x

Thanks for your feedback and patience. We want to make sure that we understand what your scenario is:

You can also give us more relevant information regarding your scenario.

Thanks.

[2022-10-11 12:57] cjam commented on #38401
I agree.  It would be great if the evaluation of auth keys respected the environment.  That way you _**could**_ disable the auth based on environment variables.  Which feels like it would be a very reasonable thing to expect (it's what I tried before finding this).

[code]

[2022-10-11 13:00] neeranelli commented on #99748
@tomaschladek,

Please see the guidance at [Referring to Dynamics 365 names](https://styleguides.azurewebsites.net/Styleguide/Read?id=2696&topicid=48262).

[2022-10-11 13:20] Naveenommi-MSFT commented on #99761
@jjjjeee
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-11 13:20] GitaraniSharma-MSFT commented on #99644
@mayurgurav , the redirect traffic section is listed below in the pane:

![image](https://user-images.githubusercontent.com/67630903/195101756-29fedb30-113e-4c49-9aa5-699f763e3785.png)

Refer : https://learn.microsoft.com/en-us/azure/application-gateway/redirect-http-to-https-portal

Could you please let us know if you are looking for something else?

[2022-10-11 13:23] Naveenommi-MSFT commented on #99762
@Jessieliu111
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-11 13:28] tfitzmac commented on #99729
I have fixed the text. I believe the update will get published tomorrow.
#please-close

[2022-10-11 13:28] #99729 closed

[2022-10-11 13:29] Naveenommi-MSFT commented on #99764
@fangzj1991
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-11 13:32] Naveenommi-MSFT commented on #99768
@Osshaikh
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-11 13:34] Naveenommi-MSFT commented on #99770
@lightupdifire
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-11 13:40] Naveenommi-MSFT commented on #99773
@tajwan69
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-11 13:44] Kofl opened #99775 "Dasv5 and Dadsv5 missing"
Hi,

the family Dasv5 and Dadsv5 is missing from the table. So on ACU available from them.

B

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ad3e8dba-4c99-47d6-ac9f-6d110ec5a43c
* Version Independent ID: 308f299a-5bb2-cf20-a97d-47dd9485d574
* Content: [Overview of the Azure Compute Unit - Azure Virtual Machines](https

[2022-10-11 13:47] Kofl commented on #99775
The issue was already mentioned a year ago here:
(https://github.com/MicrosoftDocs/azure-docs/issues/84034)
and never got fixed :-((

[2022-10-11 13:52] scowan commented on #99653
It's hard to figure out which Dockerfile you're testing from this tutorial,
https://learn.microsoft.com/en-us/azure/app-service/configure-custom-container?pivots=container-linux#enable-ssh

Can you point me to the relevant Dockerfile?

On Mon, Oct 10, 2022 at 7:19 AM Venkateshdodda-MSFT <
***@***.***> wrote:

[2022-10-11 13:52] fei0x commented on #97781
@kengaderdus

Yeah, I was looking at a scenario, where people would be redirected to the sign-up flow from some kind of invitation email, sent from a B2B type application.  I learned that there is an invite sample, that involves checking for a pre-existing user and/or calling an API to verify a secret, but I hadn't had anything like that in place. I was basically looking for some custom policy exa

[2022-10-11 13:56] parasparekh commented on #99741
I don't think this is duplicate since the same feedback should also be incorporated in different documentation (content listed above).

[2022-10-11 13:57] Naveenommi-MSFT commented on #99775
@Kofl
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-11 14:10] Naveenommi-MSFT commented on #99764
Duplicate of #99762

[2022-10-11 14:10] #99764 closed

[2022-10-11 14:15] Naveenommi-MSFT commented on #99718
@sc-jlyma

The 400 (Bad Request) status code indicates that the server cannot or will not process the request because the received syntax is invalid, nonsensical, or exceeds some limitation on what the server is willing to process. It means that the request itself has somehow incorrect or corrupted and the server couldn't understand it. The server is refusing to service the request because the ent

[2022-10-11 14:15] icgaff opened #99778 "Clarify which Azure AD role is needed for registration campaign"
Need unambiguous information about which Azure AD role provides access to registration campaign settings.

Authentication administrator and Authentication policy administrator does not appear to provide access.

{  "shellProps": {    "sessionId": "",    "extName": "Microsoft_AAD_IAM",    "contentName": "RegistrationCampaign.ReactView",    "code": 403  },  "error": {    "message": "Insufficient pri

[2022-10-11 14:39] adi-garg opened #99779 "Azure portal does NOT show system routes attached to subnet though internally they exist"
Hello Microsoft,
Referencing article here:
https://learn.microsoft.com/en-us/azure/virtual-network/virtual-networks-udr-overview#user-defined

Since they are combined,shouldn't the portal indicate System Route as well in addition to (max 1) User Defined Route:
<img width="915" alt="No RT shows up on subnets though it exists(default system route)" src="https://user-images.githubusercontent.com/7324

[2022-10-11 14:46] KapilAnanth-MSFT commented on #96810
@FoliniC ,

Sure. Please let me know if there are any developments/outcomes.

[2022-10-11 14:53] adi-garg opened #99780 "Inbound Vs Outbound Explanation in Context of Firewall"
Hello Microsoft,
I infer that the article here would benefit from clarifying INBOUND vs OUTBOUND in context of Firewall.
https://learn.microsoft.com/en-us/azure/firewall/policy-rule-sets#rules

![Inbound vs Outbound Filtering](https://user-images.githubusercontent.com/73249037/195124012-73002e85-b059-4789-a779-3425b23e0962.jpg)

To put it simply, an inbound firewall rule protects your network from

[2022-10-11 14:59] GitaraniSharma-MSFT commented on #98984
@nachoarnaz , thank you for the details, We have assigned this to the content owner/author for review.

@cherylmc , could you please confirm this behavior with the PG team and update the doc as appropriate?

[2022-10-11 15:02] adiiot-1316 commented on #99696
@AshokPeddakotla-MSFT  I was actually doing google on this issue and i came across same issue which is already raised.
**ISSUE**[(https://github.com/Azure/iotedge-eflow/issues/176)]

This is the same issue which i am facing at my end.

So is there a timeline by which we can expect the resolution in eflow file?

[2022-10-11 15:02] davegoebel opened #99781 "incorrect ScriptUri in example"
Under the "Tips for building Windows images" section the scriptUri under the For example is incorrect. It is currently pointing to:

https://raw.githubusercontent.com/azure/azvmimagebuilder/master/solutions/14_Building_Images_WVD/0_installConfFSLogix.ps1 - which results in a 404.

It should point to:
https://raw.githubusercontent.com/Azure/azvmimagebuilder/main/solutions/14_Building_Images_WVD/0_i

[2022-10-11 15:03] whhender commented on #99717
@abandyop - I can follow up on that. Thank you!

[2022-10-11 15:10] mamccrea commented on #99652
@cynthn , @roygara - can you please take a look?

[2022-10-11 15:11] maulikhdave9601672767 opened #99782 "Confusion in implementation?"
Using MSAL

confusion is #### Implementation 1
 services.AddAuthentication(JwtBearerDefaults.AuthenticationScheme).AddJwtBearer()

or
                     ###Implementation 2
 services.AddAuthentication(JwtBearerDefaults.AuthenticationScheme)
                .AddMicrosoftIdentityWebApi(Configuration.GetSection("AzureAd"))
                .EnableTokenAcquisitionToCallDownstreamApi()

[2022-10-11 15:20] khdownie commented on #99546
@Martin-Simonsen granting the share-level permission of Storage File Data SMB Share Reader should grant a user or group read access on files/directories in Azure file shares. This role is equivalent to a file share ACL of read on Windows file servers. However, after you assign share-level permissions, you must first connect to the Azure file share using the storage account key and then configure W

[2022-10-11 15:24] VikasPullagura-MSFT commented on #99781
@davegoebel
Thanks for the feedback! We will check and update the document as appropriate.

[2022-10-11 15:27] whhender commented on #99717
I'll add a bolder note to the creation page, but I'll also add some notes to these pages:
https://learn.microsoft.com/en-us/purview/concept-best-practices-scanning
https://learn.microsoft.com/en-us/azure/purview/troubleshoot-connections
https://learn.microsoft.com/en-us/azure/purview/how-to-monitor-scan-runs
https://learn.microsoft.com/en-us/azure/purview/create-microsoft-purview-portal-faq

[2022-10-11 15:33] kengaderdus commented on #97781
Thank you of the quick response. We'll work with the product team to fill this need. I'll proceed to close this issue and then track it internally. #please-close

[2022-10-11 15:33] #97781 closed

[2022-10-11 15:38] boylec commented on #99734
With my own testing I have determined that the behavior is that the **true or false?** cell above should be **false**.

[2022-10-11 15:41] whhender commented on #99717
Changes will go out tomorrow.

[2022-10-11 15:44] MChez opened #99783 "Unclear Statement and Possibly Wrong"
Please clarify what this means:

"For now, within a single copy activity you can only copy data from Microsoft 365 (Office 365) into [Azure Blob Storage](https://learn.microsoft.com/en-us/azure/data-factory/connector-azure-blob-storage), [Azure Data Lake Storage Gen1](https://learn.microsoft.com/en-us/azure/data-factory/connector-azure-data-lake-store), and [Azure Data Lake Storage Gen2](https://l

[2022-10-11 16:06] whhender commented on #99443
Updates to the document have been submitted and will go out later this week! Thank you for your feedback!

#please-close

[2022-10-11 16:06] #99443 closed

[2022-10-11 16:12] rpalves opened #99784 "Private endpoints took some digging to get working"
Having some frustration regarding the documentation, as I've’ve followed these 2 articles and ended up with a scenario that was not 100% functional.
https://learn.microsoft.com/en-us/azure/storage/files/storage-files-configure-p2s-vpn-windows
https://learn.microsoft.com/en-us/azure/storage/files/storage-files-networking-endpoints?tabs=azure-portal

Requesting changes to the previous documents to h

[2022-10-11 16:13] rpalves opened #99785 "Private endpoints took some digging to get working"
Having some frustration regarding the documentation, as I've’ve followed these 2 articles and ended up with a scenario that was not 100% functional.
https://learn.microsoft.com/en-us/azure/storage/files/storage-files-configure-p2s-vpn-windows
https://learn.microsoft.com/en-us/azure/storage/files/storage-files-networking-endpoints?tabs=azure-portal

Requesting changes to the previous documents to h

[2022-10-11 16:22] mariusx opened #99786 "import-from-a-registry-in-a-different-subscription code example is not clear"
The code example for
[import-from-a-registry-in-a-different-subscription](https://learn.microsoft.com/en-us/azure/container-registry/container-registry-import-images?tabs=azure-cli#import-from-a-registry-in-a-different-subscription) is not clear (or just wrong?),  as it looks like one needs to add source repository for the `--source` parameter.

I could only get this to work by removing the reposi

[2022-10-11 16:23] ljliu2k opened #99787 "more specifics about Subscription Level access"
This document stated that with the New experience, people with subscription level access will be able to view the Azure Health information for the subscription.  Could you specify what RBAC role is needed? Does it need subscription Admin, or is "Reader" level access sufficient?

Some customers are asking this type of questions.  thanks
---
#### Document Details

⚠ *Do not edit this section. It is

[2022-10-11 16:28] ggailey777 commented on #99360
+1 on what @MughundhanRaveendran-MSFT said. The templates usually generates a static method for functions, but this isn't a hard requirement. In fact, if you are going to do dependency injection, I believe the method can't be static. I'll update the article as such.

[2022-10-11 16:33] maud-lv commented on #99734
Hi @boylec, thank you for your message. You're right, anytime a feature flag is disabled ("Enable feature flag" checked = false), the final evaluation is false. I've shared your comments about the UI to the product team.

[2022-10-11 16:33] maud-lv commented on #99734
If this answers your question I will close this issue.

[2022-10-11 16:40] Naveenommi-MSFT commented on #99778
@icgaff
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-11 16:48] Naveenommi-MSFT commented on #99779
@adi-garg
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-11 16:50] blcpode opened #99788 "We are a partner to the customer utilizing these certificates and we are impacted by the certificate change. How do we get notified when certificate is due to change?"
We are a partner to the customer utilizing these certificates and we are impacted by the certificate change. How do we get notified when certificate is due to change?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b3c4368c-82a4-f82e-b1a7-41cfa694fa58
* Version Independent ID: 60a94729-02ad-0ef1-a642-63351d0171ea
* Con

[2022-10-11 16:51] shaktisingh-msft commented on #99524
Hi @rajeshsetlem,

Could you please look into this document request. Thanks

[2022-10-11 16:57] #99655 closed

[2022-10-11 17:01] KrishnaG-MSFT commented on #99711
Assigning to content owner @awysza for visibility, review and document enhancement consideration if appropriate.

[2022-10-11 17:12] Naveenommi-MSFT commented on #99780
@adi-garg
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-11 17:16] Naveenommi-MSFT commented on #99782
@maulikhdave9601672767

[2022-10-11 17:21] whhender commented on #99575
@HenriHeijltjes - Thanks very much! Quite right. I'll get that added. You can expect changes to go out later this week!

[2022-10-11 17:21] khdownie commented on #99737
@garetjax67 please download the latest release and try again:
https://github.com/Azure-Samples/azure-files-samples/releases/tag/v0.2.4

There was an old 0.2.4 package before the latest release due to some versioning issue. The old package doesn’t support the new parameter SamAccountName. Likely you got the old package. The latest link should have the support for SamAccountName.

[2022-10-11 17:22] Naveenommi-MSFT commented on #99784
@rpalves
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-11 17:24] Naveenommi-MSFT commented on #99785
Duplicate of #99784

[2022-10-11 17:25] pjbhakta-outlook commented on #86070
So it's 99.95%?

[2022-10-11 17:26] Naveenommi-MSFT commented on #99786
@mariusx
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-11 17:30] Naveenommi-MSFT commented on #99787
@ljliu2k
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-11 17:33] Naveenommi-MSFT commented on #99788
@blcpode
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-11 17:47] victorsferreira commented on #53168
are there any other solution right now?
we are trying to add identities to federated/social accounts and we are getting the _"Adding a non-federated user signInType is not permitted if the user only has social/federated identities or no identities"_ error

[2022-10-11 18:02] therosses5 opened #99789 "Azure Glossary of Terms Much Too Short"
I searched for a comprehensive list of Azure terms...a dictionary. The list in the learning Glossary of Terms is extremely short, making it virtually useless.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f9d5b3f1-0d66-0abc-3114-6fc51c707271
* Version Independent ID: ba3beb78-6546-8154-41b9-b7f

[2022-10-11 18:06] seligj95 commented on #86070
@pjbhakta-outlook - Yes, the SLA for the underlying VMs is unchanged with or without ZR enabled

[2022-10-11 18:07] PaulCheng commented on #99752
We could update this document: https://learn.microsoft.com/en-us/azure/cosmos-db/cassandra/cassandra-support
And, instruct how to obtain the supported cqlsh 5 version 5.0.1 with cql spec version 3.4.4.

Go to Apache Cassandra Download  |  DataStax Enterprise and from the Version dropdown box, choose 'DataStax Distribution of Apache Cassandra'. One should expect below in cqlsh shell:
(cosmosdb cass

[2022-10-11 18:15] TiloGit commented on #48501
duplicate: https://github.com/MicrosoftDocs/azure-docs/issues/55092

[2022-10-11 18:26] cchapin2020 opened #99790 "Additional endpoints"
We have been monitoring the traffic from some Azure Databricks environments and are finding additional URIs that are being called by Databricks as it is running. They are being called by packages that are running on the cluster. These are the URIs that were collected in a 60-minute period:

azure.archive.ubuntu.com
developer.download.nvidia.com
dl.delivery.mp.microsoft.com
motd.ubuntu.com
msedge.b

[2022-10-11 18:26] SnehaGunda commented on #99459
@irishun can you respond to Filip's comment?

[2022-10-11 18:45] #95308 closed

[2022-10-11 18:47] SnehaGunda commented on #91835
#please-close

[2022-10-11 18:47] #91835 closed

[2022-10-11 18:48] jds3d opened #99791 "page doesn't say where to find the hosts.json file."
I do not know what the hosts.json file is, but I need to edit/view these settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 27150c55-615f-fb44-d5e4-7b5815631c7d
* Version Independent ID: 271006dc-afce-99f3-0790-41fa2e35b22b
* Content: [host.json reference for Azure Functions 2.x](https://learn.microsoft.com/en-u

[2022-10-11 18:49] KranthiPakala-MSFT commented on #98361
@prerna-tesser Thanks for leveraging Azure docs feedback channel to raise this question.
 This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

As the issue is specific to your use case, as suggested by @SnehaGunda we request you to please reach out in f

[2022-10-11 18:50] whhender commented on #99575
The changes will be tracked there. Once you see that request is merged, you'll see the updates by the next business day.
Thank you again for your feedback!

#please-close

[2022-10-11 18:50] #99575 closed

[2022-10-11 18:50] whhender commented on #99717
Changes tracked in PR linked above! Will be merged tomorrow.

#please-close

[2022-10-11 18:50] #99717 closed

[2022-10-11 18:52] KranthiPakala-MSFT commented on #98120
@Subhashini2610  Thanks for leveraging Azure docs feedback channel to raise this question.
 This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

As the issue is specific to your use case, we request you to please reach out in forums like [Microsoft Q&A]

[2022-10-11 18:57] roygara commented on #99652
@mbiver Per RHEL docs, doesn't seem you can grow any partition other than the last one.

https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/storage_administration_guide/s2-disk-storage-parted-resize-part

Since this isn't an issue with our documentation, I'm closing this out. GitHub issues are strictly for Azure documentation issues.

#please-close

[2022-10-11 18:58] #99652 closed

[2022-10-11 18:59] cynthn commented on #99693
@antgonz Thanks, I kept reading TOR as the browser and was super confused :D I've sent a mail to the owner of maintenance configurations, but she is OOF for a few days. I'll post an update when I hear back from her. Thank you!

[2022-10-11 19:10] #85384 closed

[2022-10-11 19:25] jusolis opened #99792 "Enhanced backup policy and selective disk backup doesn't work together."
Enabling Selective Disk Backup in a standard backup policy works fine.
![image](https://user-images.githubusercontent.com/63656413/195180640-4b7b9d0b-cc28-4bc7-a6e5-5039fe55f3f4.png)

However, when you have a VM under Enhanced Policy and try to enable selective disk backup, it gives you a **misleading error message.**
![image](https://user-images.githubusercontent.com/63656413/195180858-815cde21-b

[2022-10-11 19:27] myu-fg commented on #10234
A alternative ways is that you can connect an Eventhub to the cosmosdb change feed, and eventhub uses 'consumer group' to support multiple consumers

[2022-10-11 19:30] eric-urban commented on #99352
#please-close

[2022-10-11 19:30] #99352 closed

[2022-10-11 19:33] SnehaGunda commented on #83064
@BenoityipMSFT Apologies for the long delay. I tested it out. It results in a syntax error and your suggestion looks right. I made the fix in the above PR.

#please-close

[2022-10-11 19:33] #83064 closed

[2022-10-11 19:45] Wibusts opened #99793 "User Phone Number Management Limitation over graph."
This article advise customer to use: https://learn.microsoft.com/en-us/graph/api/resources/phoneauthenticationmethod to update phone number for MFA... but does not alert customer about limitation provided on this other article: https://learn.microsoft.com/en-us/graph/api/resources/phoneauthenticationmethod which state that:

**_In the current beta version, this API works only if the phone number i

[2022-10-11 20:16] larryclaman opened #99794 "Use Azure AD workload identity with CSI Secrets Store driver example needs significant clarification"
The example for how to use Azure AD workload identity with CSI Secrets Store driver seems like it's missing steps; at a minimum it needs significant clarification.

Under step 5, it says:

_ok, I'm creating a body.json file, presumably for the next step._

Next it says:

**Concern 1:**  What happened to the body.json file that I created earlier in this step?  It's never referenced.  Do I need to c

[2022-10-11 20:19] MashaMSFT commented on #97330
Hi @SandroAq , thanks for contacting Microsoft! It seems Mirk was able to address your question, so we'll go ahead and close out this Git Issue. However, please feel free to comment should you need anything further.

Thanks again for contacting Microsoft and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2022-10-11 20:19] #97330 closed

[2022-10-11 20:33] Wibusts opened #99795 "Incorrect Redirection for Update and Get MFA phone number attribute"
The link provided on this article: https://learn.microsoft.com/en-us/azure/active-directory-b2c/user-profile-attributes#mfa-phone-number-attribute to redirect to operation to Update and Get MFA phone numbers looks wrong:

The Update link should be:  https://learn.microsoft.com/en-us/graph/api/phoneauthenticationmethod-update?view=graph-rest-1.0&tabs=http but instead take you to: https://learn.micr

[2022-10-11 20:35] cebundy commented on #99725
#assign:cebundy

[2022-10-11 20:38] BillysCoolJob opened #99796 "Partially incorrect eligibility criteria"
Article claims that a MCA agreement fulfills the eligibility criteria for being able to request a host quota for Azure VMware Solution. However, after running into errors setting up and contacting Microsoft support, we discovered that this is not the case. Only CSP and EA accounts are eligible to request host quotas for Azure VMware Solution.

---
#### Document Details

⚠ *Do not edit this section

[2022-10-11 20:47] pauljewellmsft commented on #99562
Thanks for your feedback! Azure Key Vault supports asymmetric keys, as well as [symmetric keys through Managed HSMs](https://learn.microsoft.com/en-us/azure/key-vault/keys/about-keys#hsm-protected-keys) (Hardware Support Module). You can see a [table of key types, algorithms, and operations](https://learn.microsoft.com/en-us/azure/key-vault/keys/about-keys-details) to learn more about supported ke

[2022-10-11 20:48] PatrickFarley commented on #97909
@RohitMungi-MSFT can you link your PR?

[2022-10-11 21:08] SnehaGunda commented on #99212
@clintgrove The Synapse Spark CDM connector is GA'ed as mentioned here: https://learn.microsoft.com/en-us/azure/synapse-analytics/whats-new-archive#apache-spark-for-synapse-2

[2022-10-11 21:08] SnehaGunda commented on #99212
#please-close

[2022-10-11 21:08] #99212 closed

[2022-10-11 21:10] justinmchase opened #99799 "The documentation does not have information on how to set the setting via Bicep or ARM"
How can you enable "full-text diagnostics" through Bicep (or ARM) instead of the portal UI?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e65b6971-ea56-5e85-b199-d357fbc97580
* Version Independent ID: 219058ac-5460-a33f-bec1-810f40cd2be7
* Content: [Monitor Azure Cosmos DB data by using Azure Diagnostic settings](htt

[2022-10-11 21:22] PatrickFarley commented on #99632
@scottlwalker I've updated the instructions to use the latest SDK version by default.

[2022-10-11 21:25] Oury-MSFT commented on #99799
@justinmchase Thank you for your question. We are looking into this and will get back shortly.

[2022-10-11 21:42] SnehaGunda commented on #80384
@jasonhorner Apologies for the long delay, I recently started cleaning up Synapse issues. This doc has evolved since this issue was opened. This context mentioned here seems no longer in the doc. As such we are closing this issue. If you have more questions feel free to open a new one.

#please-close.

[2022-10-11 21:42] #80384 closed

[2022-10-11 21:47] mumurug-MSFT commented on #99423
@MasterKuat If you use Durable functions with another connection instead of AzureWebJobsStorage, you can simply use Storage Blob Data Contributor role which is enough for the resource scope. But if you are stacking both together i.e., overloading AzureWebJobsStorage, then Storage Blob Data Owner will be needed.

Let's say, we have two storage connections representing two storage accounts: AzureWeb

[2022-10-11 21:47] #99423 closed

[2022-10-11 21:49] agowdamsft commented on #99687
@Naveenommi-MSFT please accept the suggest changes from @mythi . Can you please create a PR with recommended changes?

[2022-10-11 21:50] xixian73 commented on #99753
Thanks for the feedbacks, we added your inquiry to our backlog. Other than the sample request, are you able to successfully make inbound/outbound PSTN calls?

[2022-10-11 21:54] MBS-Pete opened #99800 "Signin Risk Policy Step 9 fails Validation"
Signin Risk Policy: Session - Every Time cannot be used with Require MFA. Can only be used with Require Password.

The "sign-in frequency every time" session control requires the "require password change" grant control for "user risk"

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 75919910-c2c4-b678-44c0-62ed63fe8a1a

[2022-10-11 21:58] carrossoni opened #99801 "Incorrect DBFS recommendation in Spanish version"
Hi team,

The documentation in english states correctly that DBFS is not recommended for production:

https://learn.microsoft.com/en-us/azure/databricks/dbfs/

"Azure Databricks workspaces deploy with a [DBFS root volume](https://learn.microsoft.com/en-us/azure/databricks/dbfs/#dbfs-root), accessible to all users by default. Databricks recommends **against** storing production data in this locatio

[2022-10-11 22:15] rnirek opened #99804 "Swap configuration setup depreciated"
I was reviewing the collab and I noticed that the steps recommended  **step3 [A] Configure SWAP file**  is no longer valid anymore.
The swap configuration is now configured using below article:
[Use cloud-init to configure a swap partition on a Linux VM]
 (https://learn.microsoft.com/bs-latn-ba/azure/virtual-machines/linux/cloudinit-configure-swapfile)

Could you please help update all the docs wi

[2022-10-11 22:16] SnehaGunda commented on #99431
#reassign:@SnehGunda

[2022-10-11 22:17] SnehaGunda commented on #99431
#assign:@SnehaGunda

[2022-10-11 22:17] SnehaGunda commented on #99431
#reassign:@SnehaGunda

[2022-10-11 22:18] SnehaGunda commented on #99212
#reassign:@SnehaGunda

[2022-10-11 22:19] SnehaGunda commented on #96597
#reassign:@SnehaGunda

[2022-10-11 22:36] MashaMSFT commented on #96629
Hi @giant-bean , thanks so much for your feedback! Would you mind submitting this directly to the product group so it can be triaged and tracked appropriately? You can do so here: [https://aka.ms/sqlfeedback](https://aka.ms/sqlfeedback). I'll pass along your feedback as well, but your suggestion carries more weight through the appropriate channel.

Thanks again for reaching out and I hope you have

[2022-10-11 22:36] #96629 closed

[2022-10-11 22:41] MashaMSFT commented on #97039
Hi @WrishavM , thanks for contacting Microsoft! Are you trying to export a bacpac from a SQL Managed Instance using PowerShell? Unfortunately, that is not currently supported:

Exporting a BACPAC of a database from [Azure SQL Managed Instance](https://learn.microsoft.com/en-us/azure/azure-sql/managed-instance/sql-managed-instance-paas-overview?view=azuresql) or from a database in the [Hyperscale s

[2022-10-11 22:41] #97039 closed

[2022-10-11 22:48] MashaMSFT commented on #99196
Hi @alex--thomas , thanks for contacting Microsoft! It's been some time since we've heard from you so we're going to assume your issue has been addressed and close out this Git Issue. However, please feel free to comment should you need anything further.

Thanks again for reaching out, and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2022-10-11 22:48] #99196 closed

[2022-10-11 23:12] rwestMSFT commented on #98564
#reassign:croblesm

[2022-10-11 23:13] croblesm commented on #98564
Thanks for the feedback @pgr-lopes. I will take a look

[2022-10-11 23:16] AminAvan opened #99806 "Error on api-version 2022-05-13 for Azure Confidential Ledger"
I want to query my Azure Confidential Ledger, while I encountered with the following error:

[code]
How should I change the api-version from "2022-05-13" to "2022-04-20-preview"?

Thanks,
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 756d7e9d-e984-8189-75e4-0e08b26c114a
* Version Independent ID: de71656d-4c71-cf7f-632

[2022-10-11 23:19] kobulloc-MSFT commented on #92191
@prajster I'm still seeing this as working as expected:

![image](https://user-images.githubusercontent.com/37556655/195215343-06bd0f46-8f28-4885-a396-ca0174e5847b.png)

Try running the following commands from the [quickstart](https://learn.microsoft.com/en-us/azure/aks/learn/quick-kubernetes-deploy-cli) and from the [start and stop documentation](https://learn.microsoft.com/en-us/azure/aks/start-

[2022-10-11 23:31] rwike77 commented on #96140
Yes, the ADAL library is being deprecated soon and we highly recommend that people migrate to MSAL.  We have made many content updates on docs.microsoft.com to reflect this, I'm sorry the SO post you were reading had older information.  This article that you referenced in the issue is about a specific OAuth 2 flow, so I don't think it's appropriate to mention the libraries here.  Our other content

[2022-10-11 23:31] #96140 closed

[2022-10-11 23:34] rwike77 commented on #98161
The article has been updated.  Thanks.  #please-close

[2022-10-11 23:34] #98161 closed

[2022-10-11 23:34] dwschulze opened #99807 "az vm create fails"
I've scripted these steps and I'm getting this errors from the following steps:

[code]
gives:

`Deployment failed. Correlation ID: 5bb0a03a-21e1-4b59-96a4-5930d165ceed. During the image build a failure has occurred. Please review the build log to identify which build/customization step failed. For more troubleshooting steps go to https://aka.ms/azvmimagebuilderts. Image build log location: https:

[2022-10-11 23:38] dwschulze opened #99808 "sed command incorrect"
This sed command

`sed -i -e "s/<imgBuilderId>/$imgBuilderId/g" helloImageTemplateWin.json`

needs to be replaces with something like this:

`sed -i -e "s:<imgBuilderId>:$imgBuilderId:g" helloImageTemplateWin.json`

The ImgBuilderId has slashes in it so using '/' as the delimiter in sed won't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ Gi

[2022-10-11 23:38] WilliamDAssafMSFT commented on #97592
Closing, need more detail. @jcbendernh please reach out with detail, see email.

#please-close

[2022-10-11 23:38] #97592 closed

[2022-10-11 23:40] PennyZhou-MSFT commented on #99626
@karthikingithub we have resolved the template issue. Please have a try again.
Let me know if you still have issues. Thanks

[2022-10-11 23:43] dwschulze opened #99810 "Need to insert sleep 60 after az role definition create in a script"
I've scripted these steps.  I've found that in between the

`az role definition create`

and

`az role assignment create`

commands I need to include a `sleep 60` command, but sometimes 60 seconds isn't long enough.  I've noticed the required sleep times to vary from 30 to over 60.

Is there a better way to assure that the `az role definition create` has completed before executing the next command

[2022-10-11 23:49] PennyZhou-MSFT commented on #99626
#please-close

[2022-10-11 23:49] #99626 closed

[2022-10-12 00:47] VikasPullagura-MSFT commented on #99794
@larryclaman
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-10-12 00:48] VikasPullagura-MSFT commented on #99794
@Nickomang
Can you please check and add your comments on this doc update request as applicable.

[2022-10-12 00:49] VikasPullagura-MSFT commented on #99796
@BillysCoolJob
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-10-12 00:49] VikasPullagura-MSFT commented on #99796
@jjaygbay1
Can you please check and add your comments on this doc update request as applicable.

[2022-10-12 00:53] VikasPullagura-MSFT commented on #99808
@dwschulze
Thanks for the feedback! We will check and update the document as appropriate.

[2022-10-12 01:33] avi95022 opened #99812 "array"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: dc075caf-933b-cda0-703b-6b700f1436f8
* Version Independent ID: 102753f5-d177-627e-c14c-e88df91c8000
* Content: [Resource Manager templates for Azure Cosmos DB API for MongoDB](https://learn.microsoft.com/en-us/azure/cosmos-db/mongodb/resource-manager

[2022-10-12 01:56] jyama4ta opened #99813 "What is 'co-owners group'?"
[code]
Could you please make sure what does it mean 'co-owners group'? There is no role in built-in roles. If it means classic admin group, it should be 'Co-Administrator'.
https://learn.microsoft.com/en-us/azure/role-based-access-control/rbac-and-directory-admin-roles

I found same issue. https://github.com/MicrosoftDocs/azure-docs/issues/43304

---
#### Document Details

⚠ *Do not edit this sect

[2022-10-12 01:58] jyama4ta commented on #99813
I found similar issue.
https://github.com/MicrosoftDocs/azure-docs/issues/43304

[2022-10-12 03:12] btardif commented on #97195
We can’t provide guidance on this and recommend consult https://copyleft.org/ and advice from legal counsel familiar with OSS licenses.

#please-close

[2022-10-12 03:12] #97195 closed

[2022-10-12 03:38] #99698 closed

[2022-10-12 04:02] VikasPullagura-MSFT commented on #99813
@jyama4ta
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-10-12 04:03] VikasPullagura-MSFT commented on #99813
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2022-10-12 04:03] Venkateshdodda-MSFT commented on #99653
@scowan I have followed [this tutorial](https://learn.microsoft.com/en-us/azure/app-service/quickstart-custom-container?tabs=dotnet&pivots=container-linux-azure-portal) and I have used the docker file of this tutorial.

[2022-10-12 04:07] YashikaTyagi-MSFT commented on #99583
@chucksnow
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-12 04:07] #99583 closed

[2022-10-12 04:47] Naveenommi-MSFT commented on #99663
@lifejoyforpy
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-12 04:47] #99663 closed

[2022-10-12 04:48] shaktisingh-msft commented on #99812
Hi @avi95022,

Thanks. Could you please add more details about the question for the document.

[2022-10-12 05:00] Naveenommi-MSFT commented on #99667
@mattweale
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-12 05:00] #99667 closed

[2022-10-12 05:05] Naveenommi-MSFT commented on #99789
@therosses5
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-12 05:07] Naveenommi-MSFT commented on #99790
@cchapin2020
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-12 05:13] Naveenommi-MSFT commented on #99791
@jds3d
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-12 05:20] Naveenommi-MSFT commented on #99792
@jusolis
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-12 05:23] Naveenommi-MSFT commented on #99793
@Wibusts
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-12 05:24] MayankBargali-MSFT commented on #99791
@jds3d Thanks for reaching out. The document states the host.json reference used for Azure Functions 2.x and later.
You need to refer to the [individual language's guideline](https://learn.microsoft.com/en-us/azure/azure-functions/supported-languages) that will have more details on the folder structure of the individual languages.

In case if you are looking for in process C# function please refer

[2022-10-12 05:26] Naveenommi-MSFT commented on #99795
@Wibusts
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-12 05:31] Naveenommi-MSFT commented on #99800
@MBS-Pete
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-12 05:33] Naveenommi-MSFT commented on #99801
@carrossoni
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-12 05:44] #99613 closed

[2022-10-12 05:44] Naveenommi-MSFT commented on #99804
@rnirek
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-12 05:45] #99677 closed

[2022-10-12 05:45] #99723 closed

[2022-10-12 05:48] Naveenommi-MSFT commented on #99806
@AminAvan
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@msmbaldwin
Could you Please review and add comments on this and update as appropriate.

[2022-10-12 05:50] Naveenommi-MSFT commented on #99807
@dwschulze
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-12 05:51] Lenny611 opened #99814 "I never changed my password and I never revokes my refresh tokens, but I using refreshToken to got token fail and error message AADSTS70000: The user could not be authenticated or user interaction is required. The user must sign in again and if needed grant the client application access to the requested scope."
I never changed my password and I never revokes my refresh tokens, but I using refreshToken to got token fail and error message AADSTS70000: The user could not be authenticated or user interaction is required. The user must sign in again and if needed grant the client application access to the requested scope

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microso

[2022-10-12 05:52] MughundhanRaveendran-MSFT commented on #99491
@YouNeedTea , I will close this issue, please feel free to reopen if required.

[2022-10-12 05:52] #99491 closed

[2022-10-12 05:54] Naveenommi-MSFT commented on #99810
@dwschulze
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-12 05:59] AjayBathini-MSFT commented on #99781
@kof-f
Can you please check and update the link on this doc as applicable.

<img width="722" alt="image" src="https://user-images.githubusercontent.com/111562794/195261670-5e2aaacb-cf07-4480-a7ed-dc72aaeb83b8.png">

[2022-10-12 06:10] RohitMungi-MSFT commented on #97909
#https://github.com/Azure-Samples/cognitive-services-quickstart-code/pull/317

[2022-10-12 06:22] amroczeK commented on #69502
Would also like an update on this and more information on what isn't allowed in the regex.

When I create a custom rule with the regex operator and the match values has a quote in it, the form validation accepts the regex and I am able to Update it.

But when I save the custom rule, I get the following error for the regex below:

- "operationName"
- \"operationName\"
- \\"operationName\\"

`Error:

[2022-10-12 06:23] tiago-msft opened #99815 "Azure API for FHIR limit change"
Azure API for FHIR limit is now **100,000 RUs** and not 10,000.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 36f49a06-90b1-cbe1-3853-2c38277b79f8
* Version Independent ID: 02ff6f6c-3ef6-b48f-060d-b290419e0aba
* Content: [Azure subscription limits and quotas - Azure Resource Manager](https://learn.microsoft.com/en-us

[2022-10-12 06:29] AjayBathini-MSFT commented on #99808
@dwschulze
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-12 06:35] AjayBathini-MSFT commented on #99804
@rnirek
Can you please check and add your comments on this doc update request as applicable as per below doc link.
(https://learn.microsoft.com/bs-latn-ba/azure/virtual-machines/linux/cloudinit-configure-swapfile)

[2022-10-12 06:35] cocorossello commented on #86245
Any news? Still no ACUs for V5

[2022-10-12 06:47] AjayBathini-MSFT commented on #99687
@mythi
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-12 06:50] AjayBathini-MSFT commented on #99784
@rpalves
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@khdownie
Can you please check and add your comments on this doc update request as applicable.

[2022-10-12 06:54] AdamGuan13 opened #99819 "Is start/stop VMs v2 available in China?"
Some of the available regions are mentioned on the [overview](https://learn.microsoft.com/en-us/azure/azure-functions/start-stop-vms/overview#prerequisites) page, including China.

![image](https://user-images.githubusercontent.com/113486445/195269061-827e82f8-8edb-4876-98c9-501e2e887e54.png)
![image](https://user-images.githubusercontent.com/113486445/195269167-301d29b8-f271-4c9e-8f13-2a9b926dbd3

[2022-10-12 06:59] ManoharLakkoju-MSFT commented on #99795
@Wibusts
Thanks for reporting this! We have already created PR for this issue and the changes should go live soon.

[2022-10-12 07:00] chshihMSFT opened #99820 "scan of 1 TB of data in analytical store ... results in a cost of $0.065."
_**"scan of 1 TB of data in analytical store typically results in 130,000 analytical read operations, and results in a cost of $0.065"**_

based on Synapse pricing page: https://azure.microsoft.com/en-us/pricing/details/synapse-analytics/
Assuming each analytical read operations (queries) incur a minimum charge of 10 MB, then 130,000 x 10 MB = 1.3 TB, and results in 1.3 TB * $5 per TB (in West US

[2022-10-12 07:09] ManoharLakkoju-MSFT commented on #99712
@bburgos928
kindly go through below steps
Go to Settings->Additional->Network
please select Monitor selected ports only
and click on "Select" next to it and unchecked "Monitor all network ports for applications that are vulnerable to network attacks

[2022-10-12 07:17] SaibabaBalapur-MSFT commented on #99704
#Closed

[2022-10-12 07:24] SaibabaBalapur-MSFT commented on #99775
@mimckitt
Can you please check and add your comments on this doc update request as applicable.

[2022-10-12 07:25] SwathiDhanwada-MSFT commented on #99760
@andrePKI Thanks for reaching out. Can you please elaborate on what do you mean by azcmagent talking in local language ? If possible, can you please snapshots for the same ?

[2022-10-12 07:33] KapilAnanth-MSFT commented on #99780
@adi-garg ,
With respect to Azure Firewall, we do not segregate the rules as Inbound and Outbound at platform level.

This could be mainly because Network Rules fall under both of these.
This is how the platform is designed.

The [InBound](https://learn.microsoft.com/en-us/azure/firewall/rule-processing#inbound-connectivity) and [Outbound](https://learn.microsoft.com/en-us/azure/firewall/rule-proc

[2022-10-12 07:42] ManoharLakkoju-MSFT commented on #99649
@rahulgaadhe-8451
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation

[2022-10-12 07:42] #99649 closed

[2022-10-12 07:43] Martin-Simonsen commented on #99546
Thank you
What I was experiencing was the Role “Reader and Data Access” was (also) required to access/read the fileshare when connecting with Storage explorer and signing in with an Azure account.

Best regards
Martin Simonsen
Cloud Operation Engineer | Denmark

Direkte: +45 81 40 03 80 | sentia.dk<http://www.sentia.dk/>

From: Ken Downie ***@***.***>
Sent: Tuesday, 11 October 2022 17.20
To: Micro

[2022-10-12 07:50] juhanilahtovaara opened #99821 "There is error in document or databricks."
[Enter feedback here]

There is error in document or databricks.

"Click Create Metastore." -does not exists. Please fix it.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e8a44621-ac8f-caa2-f0b5-e967aed05bdf
* Version Independent ID: e8a44621-ac8f-caa2-f0b5-e967aed05bdf
* Content: [Create a Unity Catalog metastore -

[2022-10-12 07:51] Mrkokoo opened #99822 "Subdomain filtering issue"
Hi,

We are trying to filter specific domains as per instrcutions in https://learn.microsoft.com/en-us/azure/sentinel/connect-dns-ama#dont-collect-events-with-specific-domains

When we try to add filtering to a domain that goes more than three levels deep, we get an error "Dns format is invalid".
Eg: Add domain events.data.microsoft.com => error "Dns format is invalid"
![image](https://user-images

[2022-10-12 07:51] shaktisingh-msft commented on #99820
Hi @chshihMSFT ,

Thanks for sharing feedback. We will look into this and update as appropriate.

[2022-10-12 07:52] SwathiDhanwada-MSFT commented on #99815
@tiago-msft Thanks for your comment. We will review the issue and get back to you shortly.

[2022-10-12 07:57] neozoen opened #99823 "" instead of '"
[Enter feedback here]
Hy, it works on my tenant only with " instead of '
Is that an typo or depend it on the tenant language?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a30c67d5-6cc0-16f3-db2a-8244d7344aa3
* Version Independent ID: ab230d40-68c6-3a1f-c4c3-12d4a76e42df
* Content: [Group membership for Azure AD dyna

[2022-10-12 07:58] Naveenommi-MSFT commented on #99663
@lifejoyforpy

Please Note, GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilize Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2022-10-12 08:14] arnaud-s opened #99824 "Missing enable-blob-driver option in latest Azure CLI release"
Hello,

In order to enable CSI driver for blob storage on AKS cluster, the documentation refers to the option --enable-blob-driver, but this option disappeared from the CLI and is no longer available.

Has it been replaced by another one? How should we proceed to enable the CSI blob support on a AKS cluster?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.

[2022-10-12 08:20] ArnoldLieberman-CoT opened #99825 "Where is SQL Server 2017?"
This page mentions 2016,2019 and 2022 but not 2017. Is that not supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 63667b74-1d73-883d-e5ce-b76b3da077ca
* Version Independent ID: 2e113478-a379-1aac-d504-06444a7fb768
* Content: [Link feature for Azure SQL Managed Instance (preview) - Azure SQL Managed Instance](h

[2022-10-12 08:31] YashikaTyagi-MSFT commented on #99771
@AlexCesarini
Thanks for pointing this out. Required changes have been made, once approve by author it will reflect in the document itself.

[2022-10-12 08:36] #99824 closed

[2022-10-12 08:47] red-erik commented on #99628
Wrong command:
logman create trace "NPSExtension" -ow -o c:\NPS\NPSExtension.etl -p {7237ED00-E119-430B-AB0F-C63360C8EE81} 0xffffffffffffffff 0xff -nb 16 16 -bs 1024 -mode Circular -f bincirc -max 4096 -ets
Working command (escaped):
logman create trace "NPSExtension" -ow -o c:\NPS\NPSExtension.etl -p `{7237ED00-E119-430B-AB0F-C63360C8EE81`} 0xffffffffffffffff 0xff -nb 16 16 -bs 1024 -mode Circula

[2022-10-12 09:18] danimir commented on #99825
No 2017 is not supported at this time. There is a note in product limitation stating this.
#please-close

[2022-10-12 09:18] #99825 closed

[2022-10-12 09:37] qianwens opened #99826 "The built-in role id is not correct https://learn.microsoft.com/en-us/azure/cosmos-db/how-to-setup-rbac#built-in-role-definitions"
<html>
<body>

ID | Name | Included actions
-- | -- | --
00000000-0000-0000-0000-000000000001 | Cosmos DB Built-in Data Reader | Microsoft.DocumentDB/databaseAccounts/readMetadataMicrosoft.DocumentDB/databaseAccounts/sqlDatabases/containers/items/readMicrosoft.DocumentDB/databaseAccounts/sqlDatabases/containers/executeQueryMicrosoft.DocumentDB/databaseAccounts/sqlDatabases/containers/readChangeFee

[2022-10-12 09:48] v-missam commented on #93829
#reassign:twimmers

[2022-10-12 09:49] v-missam commented on #85633
#reassign:twimmers

[2022-10-12 09:53] v-missam commented on #98343
#reassign:twimmers

[2022-10-12 09:56] v-missam commented on #96580
#reassign:twimmers

[2022-10-12 09:59] shaktisingh-msft commented on #99820
Hi @Rodrigossz,

Could you please look into this request and do as appropriate. Thanks

[2022-10-12 09:59] Naveenommi-MSFT commented on #99749
@shsagir
We are unable to open this link. Please update the correct link.

https://kustosamplefiles.blob.core.windows.net/samplefiles/StormEvents.csv?sv=2019-12-12&ss=b&srt=o&sp=r&se=2022-09-05T02:23:52Z&st=2020-09-04T18:23:52Z&spr=https&sig=VrOfQMT1gUrHltJ8uhjYcCequEcfhjyyMX%2FSc3xsCy4%3D%27

<img width="930" alt="image" src="https://user-images.githubusercontent.com/113576472/195312984-9ad9ab08-

[2022-10-12 10:03] Naveenommi-MSFT commented on #99801
@mssaperla
Could you Please review this and update as appropriate.

[2022-10-12 10:08] #99790 closed

[2022-10-12 10:15] ManoharLakkoju-MSFT commented on #99757
@MicrosoftGuyJFlo
Can you please check and add your comments on this doc update request as applicable.

[2022-10-12 10:16] senthilrepo20 opened #99827 "Article needs cleanup"
[Enter feedback here]
The content says to create parameter in the custom json file but execution of azure cli statement doesn't specify how to pass the parameter file to create dashboard.

The sample dashboard file doesn't have the parameters (https://raw.githubusercontent.com/Azure/azure-docs-powershell-samples/master/azure-portal/portal-dashboard-template-testvm.json) but rather the resource id'

[2022-10-12 10:18] Naveenommi-MSFT commented on #99762
@Jessieliu111

Please go through this below link for your reference.

https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/azure-arc/kubernetes/quickstart-connect-cluster.md

if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-12 10:25] ManoharLakkoju-MSFT commented on #99765
@RaymonZh
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-10-12 10:29] YashikaTyagi-MSFT commented on #99788
@blcpode
The best way to keep up to date with key changes within Azure would be through the [Azure Updates](https://azure.microsoft.com/en-us/updates/) page. You can also join our [Q&A community](https://docs.microsoft.com/en-us/answers/products/) where we posted a [sticky thread](https://docs.microsoft.com/en-us/answers/questions/117444/reminder-azure-tls-certificate-changes.html) to notify custo

[2022-10-12 10:29] #99788 closed

[2022-10-12 10:32] #99771 closed

[2022-10-12 10:36] Jessieliu111 commented on #99762
Hi team,

Clear enough. Thanks!

Best regards,
Jessie Liu
Support Engineer | Azure IoT&AI Support Team
Phone: (0510) 6665 8360
Mon-Fri 9:00-17:30/7:00-4:00 (UTC+8)
No.111, Linghu Road, Xin Wu District, Wuxi, Jiangsu, China
***@***.***
Delighting our customers is our #1 priority. We welcome your comments and suggestions about how we can improve the support we provide to you.

From: Naveenommi-MSFT

[2022-10-12 10:48] v-missam commented on #91060
#reassign:twimmers

[2022-10-12 10:49] Naveenommi-MSFT commented on #99756
@Shell-IanBennett
Please go through this below link for your reference.

https://learn.microsoft.com/en-us/azure/databricks/scenarios/databricks-connect-to-data-sources

if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-12 10:51] v-missam commented on #53450
#reassign:twimmers

[2022-10-12 10:52] v-missam commented on #56180
#reassign:twimmers

[2022-10-12 10:52] v-missam commented on #60431
#reassign:twimmers

[2022-10-12 10:53] v-missam commented on #60733
#reassign:twimmers

[2022-10-12 10:53] v-missam commented on #63825
#reassign:twimmers

[2022-10-12 10:53] v-missam commented on #64724
#reassign:twimmers

[2022-10-12 10:54] v-missam commented on #64846
#reassign:twimmers

[2022-10-12 10:54] v-missam commented on #67973
#reassign:twimmers

[2022-10-12 10:54] v-missam commented on #68059
#reassign:twimmers

[2022-10-12 10:54] v-missam commented on #72098
#reassign:twimmers

[2022-10-12 10:54] v-missam commented on #72293
#reassign:twimmers

[2022-10-12 10:55] v-missam commented on #72772
#reassign:twimmers

[2022-10-12 10:55] v-missam commented on #76444
#reassign:twimmers

[2022-10-12 10:55] v-missam commented on #79806
#reassign:twimmers

[2022-10-12 10:55] Muthurajj opened #99830 "Domain in azure portal and service endpoint configuration have any connects?"
In service endpoint configuration website has to create according to the domain we given in azure portal verified id the trust domain

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f84b158e-eebc-7d96-0992-8864316ddf5c
* Version Independent ID: 8909ba9b-bf26-fb5c-29f0-76244984e75a
* Content: [Tutorial - Configure your

[2022-10-12 10:56] SaibabaBalapur-MSFT commented on #99778
@icgaff
Please go through below link for reference.

https://azure.microsoft.com/en-in/updates/custom-roles-for-app-registration-management/#:~:text=IN%20PREVIEW-,Custom%20roles%20for%20app%20registration%20management,roles%2C%20so%20you%20can%20create%20and%20organise%20your%20own%20custom%20roles.,-Learn%20More

If there are any further questions regarding the documentation, please tag me in you

[2022-10-12 11:44] SaibabaBalapur-MSFT commented on #99807
@dwschulze
Could you please elaborate the query for better understanding. So, we can assist you further.
If possible, could you add screenshot of the error, please go through the below link for troubleshooting.

https://learn.microsoft.com/en-us/azure/virtual-machines/linux/image-builder-troubleshoot#troubleshoot-common-build-errors

[2022-10-12 11:56] TjommeVergauwen opened #99833 "overflow does not generate error"
When casting a numeric value out of range for an int, to an int, it does not generate an error. It returns the upper limit 2147483647
ex: select cast(7.415246799222789E19 as int) --> 2147483647

---
#### Document details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5b8dfa0c-5e74-5f57-4f1e-892ed0301bee
* Version Independent ID: 32015155-b194-a

[2022-10-12 12:23] chucksnow commented on #99583
Thank you for the explanation and additional information.

From: YashikaTyagi-MSFT ***@***.***>
Sent: Monday, October 10, 2022 4:27 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Chuck Snow ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] What is "Microsoft Managed" and why do I need to enable an Authentication method that is already working and in use? (Issue #99583)

[2022-10-12 12:29] claria opened #99834 "IotHub Message Enrichment seems to be unreliable"
Hello,

i set a device tag for all our devices in iothub

[code]

Then i set a routing via event subscription (to a storage queue) which filters on *not contains*

![image](https://user-images.githubusercontent.com/1030408/195340395-7faf91be-b1ca-4ca9-b268-67366fdb7c98.png)

This was a couple of hours ago. 99.9% of all messages are routed correctly. Actually, no messages should be routed into my q

[2022-10-12 12:34] henrymbuguakiarie commented on #93809
@scottwtang Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-10-12 12:34] #93809 closed

[2022-10-12 12:44] henrymbuguakiarie commented on #99344
#reassigned: @Dickson-Mwendia

[2022-10-12 12:54] bburgos928 commented on #99712
Hi @ManoharLakkoju-MSFT , can you advise where I will need to complete the steps provided; Edge ? Chrome ? PC ? ... I have note been able to find those settings unfortunately. Pls advise.

[2022-10-12 12:57] mumurug-MSFT commented on #99819
@AdamGuan13 Thanks for reaching out. We will review and update you.

[2022-10-12 13:04] henrymbuguakiarie commented on #92778
#reassign: @OwenRichards1

[2022-10-12 13:05] eric-PBI commented on #99315
@v-amallick Is this a short term freeze? Or long term? I'm needing to get this solved fairly soon, and am relying on this documentation to proceed.
Thanks,

[2022-10-12 13:08] henrymbuguakiarie commented on #92778
#reassign: @cilwerner

[2022-10-12 13:09] v-amallick commented on #99315
@eric-PBI - Yes, this is a short term freeze, will be lifted very soon. Thanks!

[2022-10-12 13:09] henrymbuguakiarie commented on #78005
#reassign: @henrymbuguakiarie

[2022-10-12 13:10] henrymbuguakiarie commented on #78003
#reassign: @henrymbuguakiarie

[2022-10-12 13:24] TShau opened #99835 "Microsoft.KeyVault"
The value of "Supports tags" under "Resource Type": "vaults/secrets"  should be "Yes".

Following doc shows that.
https://learn.microsoft.com/en-us/azure/key-vault/secrets/about-secrets#secret-tags

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 66769e1b-720b-f1b1-a5e3-ed5cb24cd233
* Version Independent ID: b6272e61-58

[2022-10-12 13:55] aoliveira96 opened #99836 "Azure Batch - Custom Image support is not properly clear"
As the title mentions, custom image support is not clear in this documentation.

I work on Microsoft Support and I have had many customers attempting to create a Batch Pool with a Custom Image. However, the nodes go to unusable state due to the wrong setup of the Custom Images.

The following documentation, is not very clear how to properly setup the custom images:

https://learn.microsoft.com/en-

[2022-10-12 13:55] lmsurpre commented on #99747
FWIW I disagree that this isn't a docs issue.
It may be more than *just* a docs issue, but at the very least the documentation should be more clear about what this DNS_LABEL thing is and what are the considerations for setting it.

[2022-10-12 14:05] TheDeuceYouSay opened #99837 "Spelling error"
[Enter feedback here]

the word corporate is misspelled below.

deviceOwnership | Equals, NotEquals | Supported values are "Personal" for bring your own devices and "Company" for corprate owned devices | (device.deviceOwnership -eq "Company")

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: fcc79933-58e1-66d1-81ae-f4380

[2022-10-12 14:15] shawnz88 opened #99838 "WAF OWASP 3.0 rule 920140 gives false positives on Multipart form-data"
When sending multipart form-data with RestSharp or Microsoft HttpClient, Azure application gateway WAF blocks the traffic due to rule 920140:
Warning. Match of \"eq 0\" against \"MULTIPART_STRICT_ERROR\" required.
Message   Multipart request body failed strict validation:    PE 0,    BQ 1,    BW 0,    DB 0,    DA 0,    HF 0,    LF 0,    SM ,    IQ 0,    IH 0,    FLE 0

Here is a sample request tha

[2022-10-12 14:18] AjayKumar-MSFT commented on #99637
jonathh21, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2022-10-12 14:18] #99637 closed

[2022-10-12 14:35] propagandayeti opened #99840 "Incorrect JSON, simple typo."
Hello!

There is a typo with the JSON body listed under [Example of how to enable number matching for all users](https://learn.microsoft.com/en-us/azure/active-directory/authentication/how-to-mfa-number-match#example-of-how-to-enable-number-matching-for-all-users).  On line 29, col 40 there is a comma, where there shouldn't be. The JSON should be
[code]

---
#### Document Details

⚠ *Do not edit t

[2022-10-12 14:53] Riazansary opened #99841 "Stages Rollout with PTA vs Previous Federated Authentication Session"
Hi guys, I have a question that Microsoft documentation on staged rollout does not comment on.

what happens to the previous authentication session of the user (which by default i believe it is 90 days) once the user is added to the staged rollout? do they still remain within the previous authentication session or adding them to staged rollout reset the session?

I want to know this in order to fi

[2022-10-12 14:53] manoharant commented on #79802
any update on this guys?

[2022-10-12 15:08] goosvorbook opened #99842 "Reference parse-kv in Parsing section"
parse-kv is a very useful operator, but it is not referenced in this documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e0e0dafb-5acb-068e-33a6-c185e344e791
* Version Independent ID: 5c32f068-a1a2-997f-dd3c-49721cd0e1bc
* Content: [Develop Microsoft Sentinel Advanced Security Information Model (ASIM) parsers

[2022-10-12 15:17] dwschulze opened #99843 "Does --is-full-object have to come before --properties ?"
I got this error:

`--is-full-object: command not found`

from this command:

[code]

This could be a problem with the bash shell treating --is-full-object as a separate command.  I solved it by moving `--is-full-object` before the `--properties` line.  The other examples and docs show `--is-full-object` preceeding the `--properties` argument.

---
#### Document Details

⚠ *Do not edit this sectio

[2022-10-12 15:22] cilwerner commented on #92778
@bachoang, I've just been assigned this issue. Does the blog post and logback.xml in your [MSAL4J_SpringBoot_Logging](https://github.com/bachoang/MSAL4J_SpringBoot_Logging) repo solve your query as mentioned by mmacy?

If so, let us know so we can make the appropriate changes.

[2022-10-12 15:27] twimmers commented on #79806
Thanks for the feedback, I'm made a doc change to address this
#please-close

[2022-10-12 15:29] soelchma commented on #96866
@MonikaReddy-MSFT  the documentation is still not updated.

[2022-10-12 15:31] msmimart commented on #75344
Hi @James-Hamil-MSFT, as this issue is a product question and not currently documentation related, please re-triage or reassign for follow-up.

[2022-10-12 15:47] GitaraniSharma-MSFT commented on #99644
@mayurgurav , I'm following up on my previous comment to check if you have any additional queries.

[2022-10-12 15:50] dafang982 opened #99846 ""Create AKS cluster" command doesn't work"
"Create AKS cluster" command doesn't work

I have run into this error when running "az aks create" command

[code]

After setting the `Owner` tag, the cluster runs correctly.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: efde8151-ca72-0ce1-271a-57a14a8c7ccd
* Version Independent ID: f37efaf0-6573-6813-a3e4-3065e44666

[2022-10-12 15:51] jonathh21 commented on #99637
Thank you

[2022-10-12 15:53] dwschulze commented on #99807
@SaibabaBalapur-MSFT

I've updated the bug description above with more details.

[2022-10-12 16:01] #99730 closed

[2022-10-12 16:40] hannahwalt commented on #99624
Hi! Yes, please! This would be ideal! We no longer use lesson.ly anywhere on our platform and most who work for Lessonly toady or use Lessonly were not around when it was lesson.ly. Removal of all lesson.ly would be the best route :) Thank you for asking!

[2022-10-12 16:44] jonwbstr opened #99848 "What is the security default for sign-in frequency?"
I'm trying to create a conditional access policy that imitates Security Defaults, and I am having difficulty finding the information needed to do this. Does security defaults set a sign-in frequency?

Should we be disabling "Remember MFA on trusted devices" when turning on security defaults?

This article describes how to configure sign-in frequency using Conditional Access (public preview),

http

[2022-10-12 16:47] jonwbstr commented on #99848
https://learn.microsoft.com/en-us/azure/active-directory/conditional-access/howto-conditional-access-session-lifetime#user-sign-in-frequency

says,

Is the Azure AD Default referring to Security defaults, or is this true when security defaults is off, and Per-User MFA "remember trusted devices" is also off?

[2022-10-12 16:52] KranthiPakala-MSFT commented on #99821
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-10-12 17:24] brianlehr commented on #96675
@etec-masterofsynapse Apologies for the delay.  We're working to have the document updated with correct instructions.

[2022-10-12 17:37] santhoshb-msft opened #99850 "clarification on the 90-day price change"
Is the 90-day applicable to existing customers only or new customers too?
Is there a way for publishers to make the price effective from today for all their new customers?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2ec14bb4-2e18-75a8-dffe-e96ad1ba3a7d
* Version Independent ID: b684c95a-290d-1e90-63c5-e3c04e9697ed

[2022-10-12 17:37] SaibabaBalapur-MSFT commented on #99814
@Lenny611
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-12 17:40] SaibabaBalapur-MSFT commented on #99822
@Mrkokoo
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-12 17:42] lucabovo commented on #99390
Hi @jianleishen  do you have any news?
Thanks a lot

[2022-10-12 17:44] SaibabaBalapur-MSFT commented on #99823
@neozoen
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-12 17:46] MGoedtel commented on #99846
@dafang982 - Thank you for submitting this GitHub issue. Based on the error message returned and the solution you provided to solve your issue, your organization has an Azure tag policy that prevents creating any Azure resources in the RG which don't include that Tag/value pair.

Because this isn't a documentation issue, I'm going to proceed with closing this issue. However, if you feel otherwise,

[2022-10-12 17:46] #99846 closed

[2022-10-12 17:47] SaibabaBalapur-MSFT commented on #99827
@senthilrepo20
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-12 17:47] sstrausbaugh-bardavon commented on #99165
I am going to have to agree on this. The documentation is not helpful on what to enter once prompted. Trying to get v2 Group Writeback working correctly has been all down to a lack of information. Many of us are not die-hard AAD Connect people and just want to get this up and running without a hassle.

Please provide more guidance on the script rule.

[2022-10-12 17:48] SaibabaBalapur-MSFT commented on #99830
@Muthurajj
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-12 17:49] SaibabaBalapur-MSFT commented on #99833
@TjommeVergauwen
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-12 17:51] SaibabaBalapur-MSFT commented on #99834
@claria
Thanks for your feedback! We will investigate and update as appropriate.
Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2022-10-12 17:53] SaibabaBalapur-MSFT commented on #99835
@TShau
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-12 17:55] SaibabaBalapur-MSFT commented on #99836
@aoliveira96
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-12 17:56] SaibabaBalapur-MSFT commented on #99837
@TheDeuceYouSay
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-12 17:57] SaibabaBalapur-MSFT commented on #99838
@shawnz88
Thanks for your feedback! We will investigate and update as appropriate.
Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team

[2022-10-12 17:59] SaibabaBalapur-MSFT commented on #99840
@propagandayeti
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-12 18:01] taruntomer commented on #29971
I choose Application Gateway with AGIC in instead of nginx in AKS as it is WAF enabled. Later I had put AFD in front of application gateway as Application gateway doesn't support rate limit feature where as AFD does support. Now I'm blocked because of AFD doesn't support socket.io/ websocket.

[2022-10-12 18:01] SaibabaBalapur-MSFT commented on #99841
@Riazansary
Thanks for your feedback! We will investigate and update as appropriate.
Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team

[2022-10-12 18:03] SaibabaBalapur-MSFT commented on #99842
@goosvorbook
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-12 18:04] SaibabaBalapur-MSFT commented on #99843
@dwschulze
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-12 18:04] Naveenommi-MSFT commented on #99848
@jonwbstr
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-12 18:07] Naveenommi-MSFT commented on #99850
@santhoshb-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-12 18:09] SaibabaBalapur-MSFT commented on #99826
@qianwens
 this thread as resolved by customer, and if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-12 18:10] SaibabaBalapur-MSFT commented on #99825
@ArnoldLieberman-CoT
This thread as resolved by customer, if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-12 18:12] SaibabaBalapur-MSFT commented on #99824
@arnaud-s
This thread as resolved by customer, if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-12 18:16] barclayn commented on #99830
@Muthurajj could you please elaborate, what is the change you are suggesting?

[2022-10-12 18:17] srinia commented on #98877
@lonevvolf. Documentation is correct. Without enabling "Allow Azure Services and resources to access this server" at the target servers, Job Agent will not be able to connect to target DBs. If this setting is enabled, Job Agent should be able to connect to the target Server/DBs, assuming rest of the permission model is correct. (https://learn.microsoft.com/en-us/azure/azure-sql/database/elastic-jo

[2022-10-12 18:32] austinmccollum commented on #87140
I apologize for the delay. There are 2 ways to verify the indicators are being ingested.

1. In the Threat Intelligence overview, sort the indicators by source. The name of the TAXII feed should be the source name. In the right frame, you can see the modified date which corresponds to the date the indicator was ingested.
2. From Log Analytics, you can query the ThreatIntelligenceIndicator table by

[2022-10-12 18:33] rwike77 commented on #98096
HI,  this article is about creating the SP through the portal so I don't think it's appropriate to the az cli steps here.  I did add some links to content on [creating the SP using az cli](https://learn.microsoft.com/en-us/cli/azure/create-an-azure-service-principal-azure-cli).

The az ad sp create-for-rbac command automatically creates the app registration for you.  If you want to create the app

[2022-10-12 18:33] #98096 closed

[2022-10-12 18:34] rwike77 commented on #98635
You're right, thanks for pointing this out.  I just pushed some updates.  #please-close

[2022-10-12 18:34] #98635 closed

[2022-10-12 18:34] rwike77 commented on #99172
Thanks, I just pushed some updates.  #please-close

[2022-10-12 18:34] #99172 closed

[2022-10-12 18:35] khdownie commented on #99737
#please-close

[2022-10-12 18:35] #99737 closed

[2022-10-12 18:38] bachoang opened #99854 "MSAL.js logging config does not work"
loggerCallback: (level: LogLevel, message: string, containsPii: boolean): void => {..

the above line is for typescript.  Running this in javascript caused the syntax error:

authConfig.js:22 Uncaught SyntaxError: Unexpected token ':' (at authConfig.js:22:35)
authPopup.js:3 Uncaught ReferenceError: msalConfig is not defined
    at authPopup.js:3:52

Per Jason Nutter.

(level: LogLevel, message: st

[2022-10-12 18:43] heuristik1 commented on #98635
you're welcome.  if only it were that easy convincing the wife when I'm right ;)

[2022-10-12 18:48] fnf-peter-lacomb opened #99855 "Suggested Typo Fix"
At the end of this section:

https://learn.microsoft.com/en-us/azure/application-gateway/overview-v2#feature-comparison-between-v1-sku-and-v2-sku

it lists "Proxy NTML authentication"

I believe that should be corrected to

Proxy NTLM authentication

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-10-12 18:49] jonwbstr commented on #99848
I'm confused. According to [this](https://learn.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-mfasettings#mark-a-device-as-trusted) the "Don't ask again" option is only available if we enable the "mark a device as trusted"

The phrase "Allow users to remember multi-factor authentication on devices they trust" found in the Per-User MFA portal suggests users are not allowed to

[2022-10-12 18:52] austinmccollum commented on #87140
#please-close

[2022-10-12 18:52] #87140 closed

[2022-10-12 19:02] walidwindev opened #99856 "OCR AZure"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: afd2df6e-4c2e-eaf8-1fe2-9bae807f5680
* Version Independent ID: d1fb5a5b-a555-4cd0-0330-855681654a38
* Content: [Quickstart: Optical character recognition (OCR) - Azure Cognitive Services](https://learn.microsoft.com/en-us/azure/cognitive-services/com

[2022-10-12 19:04] mbender-ms commented on #99038
@jnlycklama No update yet. Will ping PM again.

[2022-10-12 19:09] srinia commented on #98877
Yes, that is expected. Private endpoints are not supported currently, though it is on our roadmap

[2022-10-12 19:11] rwike77 commented on #93338
@aelij Sorry, I'm a little slow replying here...  Yes, I've got a workstream going which includes creating content for common tasks (like getting access tokens).  I haven't been able to get to your issue, here.  I hope to address it this fall or winter.  I've created a doc work item for this internally.  Please follow up with me internally if you have questions.  Thanks.  #please-close

[2022-10-12 19:12] #93338 closed

[2022-10-12 19:15] mumurug-MSFT commented on #99819
@AdamGuan13 Start/Stop VMs v2 feature is available in all regions listed in [Products available by region](https://azure.microsoft.com/global-infrastructure/services/?regions=all&products=functions) page but **Zone Redundant** plan is not yet available in China. As you mentioned, the available regions for this plan are listed in the [doc](https://learn.microsoft.com/en-us/azure/azure-functions/sta

[2022-10-12 19:15] #99819 closed

[2022-10-12 19:19] lonevvolf commented on #98877
That’s why I asking to update the documentation. It states that although private endpoints are not supported they should work if you enable that feature. As you confirmed, the guidance is incorrect and should be updated.

[2022-10-12 19:19] msandbu opened #99857 "Issue with command to enable DDoS protection"
When I'm trying to enable DDoS protection for single IP mode using the built-in example using PowerShell (I'm trying with Azure Cloud Shell)

and running the command New-AzPublicIpAddress -Name myStandardPublicIP -ResourceGroupName MyResourceGroup -Sku Standard -Location "East US" -AllocationMethod Static -DdosProtectionMode Enabled

I get this error message.

New-AzPublicIpAddress: A parameter ca

[2022-10-12 19:45] barclayn commented on #99607
@muthurajj thank you for reaching out.  ION relies on the bitcoin network and Web relies on your DNS record registration and your certificate registration. You can learn more about did:web https://learn.microsoft.com/en-us/azure/active-directory/verifiable-credentials/how-to-register-didwebsite. Unfortunately, the choice of which method works for you is something that you need to make.

[2022-10-12 19:57] WilliamDAssafMSFT commented on #98877
#assign:WilliamDAssafMSFT

[2022-10-12 20:11] Arunadadims opened #99859 "Error while running the "terraform plan" command with the current main.tf file content"
Thank you for the excellent guide, which will be very useful to Terraform beginners.
While following the document I received one error when I execute the "terraform plan"
**Error: Insufficient features blocks.**

Seems the main.tf should have at least one provider block.

My issue was resolved when I update the main.tf file with the below content.

**provider "azurerm" {
  features {}
}**
resource

[2022-10-12 20:30] btardif commented on #79332
I have updated the Functions WIki, these restrictions have been lifted.

https://github.com/Azure/Azure-Functions/wiki/Creating-Function-Apps-in-an-existing-Resource-Group

#please-close

[2022-10-12 20:40] msmimart commented on #93589
Hi @tictag, thanks so much for your feedback. We've updated the article and changes should publish shortly. This issue will close automatically once the changes are merged. Thanks again.

[2022-10-12 20:40] msmimart commented on #99556
Hi @busch, thanks so much for your feedback. We've updated the article and changes should publish shortly. This issue will close automatically once the changes are merged. Thanks again.

[2022-10-12 20:44] jesshaines opened #99860 "Add link to error code messaging"
Many customers seem to be confusing the difference between soft delete and purge protection. If under the User message for VaultAlreadyExists, the following link were included, we may see less instances where confusion is an issue: https://learn.microsoft.com/en-us/azure/key-vault/general/key-vault-recovery?tabs=azure-portal#what-are-soft-delete-and-purge-protection

Thank you
---
#### Document De

[2022-10-12 20:49] dazinator opened #99861 "Doesn't work with concierge service"
When using a concierge service (i.e doing a bicep module through learn.microsoft) the user doesn't have permission to use this command:

[code]

In this situation, if you want to get the objectid of the current user you are logged in with you can use this instead:

[code]

This will run successfully in more scenarios.

Not sure if you want to include this or not, but thought it might be helpful fo

[2022-10-12 20:52] thenhawke opened #99862 "Unclear Scope Requirements for Issuing Authentication Tokens"
The documentation says to issue an OAuth2 Bearer Token with the scope `6a8b4b39-c021-437c-b060-5a14a3fd65f3/full_access`:

However, if you try to create client_credentials with either the MSAL library or directly with CURL with the above scope, an error is returned: `AADSTS1002012: The provided value for scope 6a8b4b39-c021-437c-b060-5a14a3fd65f3/full_access is not valid. Client credential flows m

[2022-10-12 21:00] dazinator opened #99863 "Typo in command"
The command used to deploy has a typo:

[code]

`objectID=` should be `objectId=` as the parameter name in the bicep file is case sensitive and is `objectId` not `objectID`

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1c66dbe4-1959-fe57-d445-b8658e8f1b7e
* Version Independent ID: f5809176-8c97-a4a3-644a-01b7a5e556d5

[2022-10-12 21:01] hoyapark opened #99864 "AVD connection network flow"
I wanted to submit a request to summarize how AVD client connects to AVD host that can help highlight the efficiency built into the product. Many of my clients reach out to me because there isn't an official Microsoft doc that summarizes what takes place when a user connects to an AVD host. Especially clients that have VDI users overseas who are looking for more efficient VDI solutions with lower

[2022-10-12 21:01] hoyapark commented on #99864
Much Appreciate the attention.

[2022-10-12 21:03] btardif commented on #99697
I have a PR out to address this.

We don't have a purposed built solutiong for HTML since that would only include a webserver and no other runtimes.

However, if you configure your app to target PHP that includes a webserver that is suitable for this scenario.

So, a command like: `az webapp up --location westeurope --name <app_name> --runtime "PHP:8.1" --os-type linux` would handle this scenario

[2022-10-12 21:03] btardif commented on #99697
#please-close

[2022-10-12 21:03] #99697 closed

[2022-10-12 21:09] khdownie commented on #98966
#please-close

[2022-10-12 21:09] #98966 closed

[2022-10-12 21:17] btardif commented on #95280
@charris-msft can you take a look?

[2022-10-12 21:31] AbdullahBell commented on #99857
Hello, version 4.21.0 of Az.Network is required for these cmdlets. Thank you for your question.

[2022-10-12 21:31] MarcoLodini commented on #91175
@SnehaAgrawal-MSFT the PR did not get merged?

[2022-10-12 21:39] msmimart commented on #93769
Hi @DevJonBirkett, thank you so much for your suggestion. We've updated the article and changes should publish shortly. This issue will close automatically once the changes are merged. Thanks again!

[2022-10-12 21:40] #93589 closed

[2022-10-12 21:40] #99556 closed

[2022-10-12 22:05] WilliamDAssafMSFT commented on #98877
@lonevvolf It sounds like your issue with the documentation is around using private endpoints. This part of the doc doesn't imply that private endpoints work when this setting is enabled, the doc states that private endpoints are not supported and then recommends "Allow Azure Services and resources to access this server" as an alternative. It does not suggest you try to use private endpoints after

[2022-10-12 22:07] WilliamDAssafMSFT commented on #98877
@lonevvolf Might be easier for you to [create a Pull Request](https://docs.microsoft.com/sql/sql-server/sql-server-docs-contribute) and propose a change, instead of trying to describe the change. By opening a pull request, you're collaborating with the author to add changes directly to the documentation. If your PR is merged, GitHub will list you as an article contributor.

Either way, thanks for

[2022-10-12 22:08] WilliamDAssafMSFT commented on #98877
#please-close

[2022-10-12 22:08] #98877 closed

[2022-10-12 22:09] alhieng commented on #99749
Hello,

I tried to follow the instructions in this tutorial. Quickstart: Get started analyzing with Data Explorer pools (Preview) - Azure Synapse Analytics | Microsoft Learn<https://learn.microsoft.com/en-us/azure/synapse-analytics/get-started-analyze-data-explorer?source=docs>

The step 5 sample code provided in the tutorial did not work and I was unable to complete the tutorial.

/******** Code

[2022-10-12 22:33] iportilla opened #99866 "broken link to github notebook"
[Enter feedback here]
The link to github in this page:

https://learn.microsoft.com/en-us/azure/machine-learning/tutorial-first-experiment-automated-ml

it is broken

Should be
https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/automated-machine-learning/forecasting-energy-demand/auto-ml-forecasting-energy-demand.ipynb

---
#### Document Details

⚠ *Do not edit this s

[2022-10-12 22:53] whomanGHA opened #99867 "Document TXT record option"
Doc only has instructions for using a CNAME record to validate domain ownership, but static web apps also support using a TXT record with a generated code.  We should provide steps for this option in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c6e71abc-975e-3528-9df4-38347afaeaa6
* Version Independent ID:

[2022-10-12 23:15] VincentXu2021 opened #99868 "$Setting["EnableMIPLabels"] = "True" doesn't work"
$Setting["EnableMIPLabels"] = "True" get the following error:
Cannot index into a null array.
At line:1 char:1
+ $Setting["EnableMIPLabels"] = "True"
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidOperation: (:) [], RuntimeException
    + FullyQualifiedErrorId : NullArray

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟

[2022-10-12 23:28] Shell-IanBennett commented on #99756
Thanks, but I was looking for more information on the Databricks compute connector from ADF as per the link below, and you have provided me a link about connecting to data from Databricks.

https://learn.microsoft.com/en-us/azure/data-factory/transform-data-using-databricks-notebook

More specifically, I was looking for how I could set the data_security_mode and runtime_engine attributes when the

[2022-10-12 23:36] maheshau1 opened #99869 "Typo in Linux Server Access Commands"
In Dependency analysis requirements (agentless) section of the doc **correct command is `/bin/ps`** (not `/bin/ls`).

There are **two instances** of this typo on this page.

A root user account, or an account that has these permissions on `/bin/netstat` and **`/bin/ls`** files:
CAP_DAC_READ_SEARCH
CAP_SYS_PTRACE

Set these capabilities by using the following commands:
[code]

Please update the doc

[2022-10-12 23:51] barclayn commented on #93713
@DevJonBirkett thank you for your feedback. The fundamentals content is going through a series of updates. We may take this suggestion as part of that work. #please-close

[2022-10-12 23:51] #93713 closed

[2022-10-13 00:03] barclayn commented on #98461
@psined1 Thank you for your feedback. #please-close

[2022-10-13 00:03] #98461 closed

[2022-10-13 00:18] Karishma-Tiwari-MSFT commented on #99568
@nikhilpatel909 @ericd-mst-github I see a sign-off comment above. Is there a PR for this update and it is not merged yet? The document still shows 1.0.4 version.
Let me know. Thanks.

[2022-10-13 00:25] jahabibi commented on #99559
@sabbour

[2022-10-13 00:37] #93769 closed

[2022-10-13 00:50] msmimart commented on #94555
Hi @josuvil, thanks so much for your feedback. We've updated the article and changes should publish shortly. This issue will close automatically once the changes are merged. Thanks again!

[2022-10-13 00:57] spelluru commented on #99033
@randolphnz - I have discussed with our architect for the service. We could move the diagrams to the top and mention that all the scripts need to be run in one tenant vs. separation of scripts for tenants (in case of multi tenant scenarios). Thanks.

[2022-10-13 01:00] Karishma-Tiwari-MSFT commented on #85389
@CamiloTerevinto Were you able to get a resolution on this case?

[2022-10-13 01:09] #94555 closed

[2022-10-13 01:13] AdamGuan13 commented on #99819
Got it. Thank you.

[2022-10-13 01:21] g0pinath commented on #92854
@SumanthMarigowda @SaiKishor-MSFT - Please let me know if is on schedule for GA in 2022 or early 2023.

[2022-10-13 02:06] knssub opened #99870 "Define the Identity Lifecycle Clearly"
In the identity lifecycle documentation, the most surprising miss is the clear representation of the Identity Lifecycle itself.
I searched through few pages, but could not locate it. Defining the Identity lifecycle itself is key to the AAD Lifecycle mgmt product:

Provisioning -> AuthN->AuthZ->Permissions->Self Service->De-Provisioning. This will help the user to understand overall process and how

[2022-10-13 02:10] baf commented on #97289
@JamesTran-MSFT any updates?

[2022-10-13 02:15] Lupercio421 opened #99871 "Cosmos Client issues"
[Enter feedback here]

Hello, I have tried both debugging and running the python script but I am not getting any success. When debugging the code, I am returned a "Exception has occurred: AttributeError**, 'NoneType' object has no attribute 'ConsistencyPolicy'", around lines 87-89. When executing the python file, I am returned many errors. But the message that stands out is: azure.core.exceptions.

[2022-10-13 02:34] Naveenommi-MSFT commented on #99854
@bachoang
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-13 02:38] Naveenommi-MSFT commented on #99855
@fnf-peter-lacomb
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-13 02:42] Naveenommi-MSFT commented on #99856
@walidwindev
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if could you elaborate your query for better understanding? This would help us redirect the issue to the appropriate team. Thanks!

[2022-10-13 02:45] msmimart commented on #99636
Hi @BRRiley, thank you so much for pointing this out.  We've updated the article and changes should publish shortly. This issue will close automatically once the changes are merged. Thanks again!

[2022-10-13 03:23] acidrod opened #99873 "Very old content"
[Enter feedback here]
This document is not relevant for .NET 6, it is using the Startup.cs file which was deprecated.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c8d9b842-de22-59e7-e36a-662e2060ae7a
* Version Independent ID: bda934c5-a268-721f-1a3e-1f73fc25c15f
* Content: [ASP.NET Core MVC web app tutorial using Az

[2022-10-13 03:23] #99636 closed

[2022-10-13 03:31] ManoharLakkoju-MSFT commented on #99786
@mariusx
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-13 03:43] johnnyyuelee008 commented on #99050
@msmimart is there any update.

my customer keep on following this issue.

thanks

[2022-10-13 03:43] darkoa-msft opened #99875 "Unclear when role assignment limits apply"
In "Azure AD roles and permissions" section, this line is confusing:
`A maximum of 100 Azure AD built-in role assignments for a single principal at non-tenant scope (such as an administrative unit or Azure AD object). There is no limit to Azure AD built-in role assignments at tenant scope.`

What exactly is meant by 'tenant scope'?
I just made 190 built-in role assignments to a single principal, a

[2022-10-13 03:46] YashikaTyagi-MSFT commented on #99875
@darkoa-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-13 03:47] YashikaTyagi-MSFT commented on #99870
@knssub
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-13 03:48] YashikaTyagi-MSFT commented on #99868
@VincentXu2021
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-13 03:49] YashikaTyagi-MSFT commented on #99861
@dazinator
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-13 03:51] YashikaTyagi-MSFT commented on #99860
@jesshaines
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-13 03:53] VikasPullagura-MSFT commented on #99559
@sabbour
Can you please check and add your comments on this doc update request as applicable.

[2022-10-13 03:56] VikasPullagura-MSFT commented on #99864
@hoyapark
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-10-13 03:56] VikasPullagura-MSFT commented on #99864
@femila
Can you please check and add your comments on this doc update request as applicable.

[2022-10-13 03:56] Venkateshdodda-MSFT commented on #99867
@whomanGHA Thank you for your feedback! We will review and update as appropriate.

[2022-10-13 04:09] AjayBathini-MSFT commented on #99747
@lmsurpre
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@rayoef
Can you please check and add your comments on this doc update request as applicable.

[2022-10-13 04:11] Muthurajj commented on #99830
Hi @barclayn the domain name which we give here

![image](https://user-images.githubusercontent.com/112924141/195496728-9b6acd64-24f5-423a-afba-d50530b8c393.png)

and in the service endpoint configuration we have create a website

so my question is the domain which i gave while setup organization in azure portal and the website we create also should be same domain?

![image](https://user-images.gi

[2022-10-13 04:18] AjayBathini-MSFT commented on #99808
#signoff

[2022-10-13 04:18] #99808 closed

[2022-10-13 04:19] AshokPeddakotla-MSFT commented on #99691
@sekharkumar Below is the response from our team on this query. Hope this helps.

`In order to get the folder sharing working, a backporting to Win10 is currently in process. We expect that the November Windows 10 update will bring the necessary changes and support. `

Do let us know if you have any other queries.

[2022-10-13 04:19] AjayBathini-MSFT commented on #99687
#signoff

[2022-10-13 04:19] #99687 closed

[2022-10-13 04:28] AshokPeddakotla-MSFT commented on #99696
@adiiot-1316 Thanks for sharing the Git Issue. Were you able to resolve the issue as per suggestions mention on linked GitHub?

<img width="491" alt="image" src="https://user-images.githubusercontent.com/44426435/195501570-286cad2b-d4dd-4a62-a5b2-b9943d035fb3.png">

We will surely share this feedback with the respective team. We will not be able to provide ETA for the same.

Appreciate your time a

[2022-10-13 04:35] MayankBargali-MSFT commented on #99734
@boylec Hope the above conversion helps. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-10-13 04:35] #99734 closed

[2022-10-13 04:39] Naveenommi-MSFT commented on #99857
Hi @AbdullahBell
Thanks for your quick response.

[2022-10-13 04:43] #99762 closed

[2022-10-13 04:57] Naveenommi-MSFT commented on #99859
@Arunadadims
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

Thanks for your contribution. Please add your ideas in below link, so our production team can review it and update the same.
[Ideas · Community (azure.com)](https://feedback.azure.com/d365community)

[2022-10-13 05:11] YashikaTyagi-MSFT commented on #99800
@MBS-Pete
I have tried to do the repro in my environment as per documentation. I was able to select Require multifactor authentication under grant access and also under session I was able to select Sign-in frequency- every time. As per my understanding Sign in Risk Policy: Session - Every Time can be used with Require MFA. Please confirm if this is the issue you are facing.
<img width="212" alt="i

[2022-10-13 05:21] Naveenommi-MSFT commented on #99862
@thenhawke
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-13 05:23] Naveenommi-MSFT commented on #99863
@dazinator
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-10-13 05:25] Naveenommi-MSFT commented on #99862
@barclayn
Could you Please review and add your comments on this update as appropriate.

[2022-10-13 05:26] ManoharLakkoju-MSFT commented on #99712
Hi @bburgos928
Connection refused is often either a network issue I suggest you to clear the browser cache and cookies

The first step in any troubleshooting is to clear the browser cache/cookies.      (you need to clear ALL cookies)

For Internet Explorer browser & MSN Butterfly: Press CTRL+SHIFT+DEL simultaneously and click Delete

For Google Chrome: Press CTRL+SHIFT+DEL simultaneously and click

[2022-10-13 05:26] Naveenommi-MSFT commented on #99866
@iportilla
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-13 05:29] Naveenommi-MSFT commented on #99869
@maheshau1
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-13 05:29] shaktisingh-msft commented on #99871
Hi @Lupercio421 ,

Thanks for your feedback. We will check the documentation and update as appropriate.

[2022-10-13 05:30] shaktisingh-msft commented on #99873
Hi @acidrod ,

Thanks for sharing this feedback. We will look into this and update as appropriate.

[2022-10-13 05:34] AjayBathini-MSFT commented on #99840
@propagandayeti
Could you please provide the screenshot of exact line that changes have to be made. So, it will be helpful to us to make update the document.

[2022-10-13 05:34] Naveenommi-MSFT commented on #99846
@dafang982
It looks like your issue is resolved since you closed this thread.
If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-10-13 05:43] YashikaTyagi-MSFT commented on #99814
@Lenny611
Error message AADSTS70000- usually occur due to following reasons:
1.Token binding header is empty
2.Token binding hash does not match
Could you please check if anyone of the above reason for the failed token message.

[2022-10-13 05:46] #99795 closed

[2022-10-13 05:48] #99786 closed

[2022-10-13 05:50] YashikaTyagi-MSFT commented on #99837
@TheDeuceYouSay
Thanks for pointing this out and contributing towards enhancement of the document.
Required changes have been performed, it will reflect in the document itself once approve by the author.

[2022-10-13 05:50] #99837 closed

[2022-10-13 05:51] Venkateshdodda-MSFT commented on #99867
@whomanGHA If you are trying to add the `subdomain(www)` to static web app then you need to add `CNAME` record as mentioned [here](https://learn.microsoft.com/en-us/azure/static-web-apps/custom-domain-azure-dns#create-dns-records-in-azure-dns). If you are want to add the [apex domain to static webapp](https://learn.microsoft.com/en-us/azure/static-web-apps/apex-domain-external) then you need to ad

[2022-10-13 05:53] SaibabaBalapur-MSFT commented on #99823
@neozoen
Could you please elaborate the query for better understanding. please help with doc screenshot, So, we can assist you further.

[2022-10-13 06:29] AjayBathini-MSFT commented on #99861
@dazinator
Thanks for your contribution. Please add your ideas in below link, so our production team can review it and update the same.
[Ideas · Community (azure.com)](https://feedback.azure.com/d365community)

[2022-10-13 06:29] #99861 closed

[2022-10-13 06:32] AjayBathini-MSFT commented on #99836
@aoliveira96
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@harperche
Can you please check and add your comments on this doc update request as applicable.

[2022-10-13 06:35] YashikaTyagi-MSFT commented on #99842
@goosvorbook
Thanks for contributing towards enhancement of the document. Required changes have been made to the document, once approve by the author it will reflect in the document.

[2022-10-13 06:37] shaktisingh-msft commented on #99873
Hi @StefArroyo,

Could you please look into this request. Thanks

[2022-10-13 06:38] shaktisingh-msft commented on #99871
Hi @Rodrigossz,

Could you please look into this request. Thanks

[2022-10-13 06:43] ezYakaEagle442 opened #99879 "--password via the CLI is insecure"
the doc shows :
[code]

Whereas the CLI warns :
[code]

The snippet should be
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: df40e112-6cf4-f6ce-4d82-d36bbd561405
* Version Independent ID: a68e6e7b-dfa2-8640-0a43-cd15f24facdb
* Content: [Registry authentication options - Azure Container Registry](https://learn.m

[2022-10-13 06:46] YashikaTyagi-MSFT commented on #99860
@jesshaines
I reviewed your suggestion and I found that the link is already present in the document
When we click on "here" as mentioned in the snip below, it will redirect you to the same link that you have mentioned. On the link customer can find the difference between soft delete and purge protection. I hope this resolves your query.
<img width="455" alt="image" src="https://user-images.githubu

[2022-10-13 06:49] ezYakaEagle442 opened #99880 "add Azure Container Apps"
the doc shows refers to Portal deployment of image from registry to Azure App Service or Azure Container Instances, it is also the case for **Azure Container Apps**.

SP & MI should also refer to ACA

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: df40e112-6cf4-f6ce-4d82-d36bbd561405
* Version Independent ID: a68e6e7b-

[2022-10-13 07:08] svaenn opened #99881 "Publisher and subscriber in different environments?"
Hello,

does this statement:
  Reasons to deploy container apps to the same environment include situations when you need to:
  - Have applications communicate with each other using Dapr

Mean that for Publisher and Subscriber building block both have to be in the same environment?
Could you please clarify what commination requires a shared environment?

Thank you!
---
#### Document Details

⚠ *Do

[2022-10-13 07:13] assaf-grth opened #99882 "Upgrading Mysql single server v8 to a newer version"
Is there an ability to perform some sort of out of band upgrade for a mysql single server instance from 8.0.15 version to 8.0.16 or later?

We are aware of the need to move to flexible server service, issue is we are in need of support to Azure AD in order to proceed with that path

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linkin

[2022-10-13 07:16] #99842 closed

[2022-10-13 07:18] Naveenommi-MSFT commented on #99783
@MChez
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

@jianleishen
Could you please review and add your comments on this and update as appropriate.

[2022-10-13 07:23] YashikaTyagi-MSFT commented on #99854
@mmacy
Please review this issue

[2022-10-13 07:24] shaktisingh-msft commented on #99882
Hi @assaf-grth,

Thanks for your feedback. We are looking into this and will update as appropriate.

[2022-10-13 07:26] #98343 closed

[2022-10-13 07:38] ruaden94 opened #99883 "Update and clarification needed around the Get-AzureADKerberosServer command"
Within the "View and verify the Azure AD Kerberos Server" section, please provide additional clarification and requirements needed to run the command, such as:
1)    Text addressing the ESAE model, given that MS recommends Azure AD Connect servers reside there.  If I’m not mistaken, you will have to come out and tell the users of the ESAE model that they’ll have to log on interactively and locally

[2022-10-13 07:42] assaf-grth opened #99886 "Logic apps multi AZ pricing"
I would like to verify the pricing of using multi AZ deployment in logic apps
For standard tier the instance count is set with minimum of 3 instances, meaning the price starts from x3 of single instance
For consumption there is no relation to instance count, hence there isn't any additional pricing for using this service tier?

Can you confirm the above?
Maybe documenting it will be add value as w

[2022-10-13 07:43] shaktisingh-msft commented on #99882
Hi @@sr-msft,

Could you please look into this request. Thanks

[2022-10-13 07:48] claria commented on #99834
Hi,
actually, i am unsure if i pointed my issue to the correct repo. Since there were similar issues (#78596) i opened the issue here.

Relevant documentation is here:
https://learn.microsoft.com/en-us/azure/iot-hub/iot-hub-message-enrichments-overview

There it states:

However i am seeing missing enrichment values even hours later.

[2022-10-13 08:06] joeakim opened #99888 "New types of VMSS not reflected in this documenation"
Hi there,

as of today, Azure offers uniform and flexible VMSS, which behave differently, also in regards of managed identities.
This document does not make any differences between the different types and could probably need an update.

Regards,
Joachim.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 72647add-87f4-d5d

[2022-10-13 08:11] plessisa commented on #69477
I open a support ticket for "enable-udp-fragment-reordering".
So far support allowed me to "enable-udp-fragment-reordering" only on the VM Public IP inbound Traffic. When using an Azure Load Balancer or a VPN via a Virtual Network Gateway, the fragment are still dropping.

[2022-10-13 08:30] CamiloTerevinto commented on #85389
Hey @Karishma-Tiwari-MSFT, I have not heard anything so far from the ticket that was created for this

[2022-10-13 08:35] #96201 closed

[2022-10-13 08:51] SychevIgor opened #99889 "Command line is wrong"
as is in documentation
--devcenter-id
as is in an extension
"the following arguments are required: --dev-center-id"
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3673e146-e302-0af6-3a07-621af33092c7
* Version Independent ID: 46f091d5-36d3-48cd-647f-71ae6ab6c7cf
* Content: [Install the Microsoft Dev Box Preview Azure C

[2022-10-13 09:12] v-missam commented on #94344
Thanks @yaakov-simon  for the feedback. I have made a doc change to address this issue. The change should be live by 10/17.
#please-close

[2022-10-13 09:12] #94344 closed

[2022-10-13 09:20] stiglyt opened #99890 "Conflicting information about Auto-instrumentation support for .NET Core"
On this page, there is a note at the top that says:
_Auto-instrumentation is available for ASP.NET, ASP.NET Core IIS-hosted applications and Java. Use an SDK to instrument Node.js and Python applications hosted on an Azure virtual machines and virtual machine scale sets._

_While further down, there is another note that says:
.NET Core, Node.js, and Python applications are only supported on Azure

[2022-10-13 09:22] Johnnytechn opened #99891 "Does the 'Supported regions' section need to be updated to fit the current situation in Mooncake?"
Hi, team

  To my knowledge, Azure file shares backup is not available in **Mooncake**. In addition to this, Azure Backup has been available in a new Chinese region called '**China North 3**' for a period of time. But the '**Supported regions**' section within the article hasn't incorporated the information of the new region, so it could confuse the reader in a sense.
  In this case, there is one

[2022-10-13 09:24] michaelyaaa opened #99892 "Kensho web hook lacks info"
Kensho2 (Anomaly detector) send very different info in the web hook than stated in the page.

the body of the request is very narrow with almost no info and certainly no callBackUrl, example:

_"body": {
        "timestamp": "2022-10-02T00:00:00Z",
        "alertSettingGuid": "***********************"
    }_

Please help me getting the right body or fix this as this is needed for our product.

---

[2022-10-13 09:31] kengaderdus commented on #98943
@lnavarette

We'll proceed to close this issue, but you can still comment here if you've further questions. #please-close

[2022-10-13 09:31] #98943 closed

[2022-10-13 09:41] SadiqhAhmed-MSFT commented on #99891
@Johnnytechn Thank you for posting this question. We will review the content with the doc owner and update as appropriate.

[2022-10-13 09:41] axelgMS opened #99893 "ossku should be "CBLMariner" instead of "mariner""
From https://learn.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-create

--os-sku
The OS SKU of the agent node pool. Ubuntu or CBLMariner.

accepted values: CBLMariner, Ubuntu, Windows2019, Windows2022

But here, that page says:
_az aks create --name testMarinerCluster --resource-group MarinerTest --os-sku mariner_

that doesn't work:

az aks create --name aks340753741 --resource-

[2022-10-13 09:42] SadiqhAhmed-MSFT commented on #99869
@Vikram1988 FYI. Please comment on the original post and help with appropriate changes.

[2022-10-13 09:58] v-hgampala commented on #99624
We are updating the document.
#please-close

[2022-10-13 09:58] #99624 closed

[2022-10-13 10:01] v-missam commented on #87339
Thanks @brandonternes for the feedback. I have made a doc change to address this issue. The change should be live by 10/17.
#please-close

[2022-10-13 10:02] #87339 closed

[2022-10-13 10:02] JananiRamesh-MSFT commented on #99886
@assaf-grth Thanks for your feedback, we will review and update appropriately

[2022-10-13 10:08] v-hgampala commented on #99447
@HoppyCode, Can you please raise an update request in our [portal](https://microsoft.sharepoint.com/teams/apponboarding/Apps) to reflects the changes into app gallery as well, please brief the issue in the request. Thanks
<img width="731" alt="image" src="https://user-images.githubusercontent.com/102347245/195568737-95642c88-9f93-4482-b97c-78ecb8f678b4.png">

[2022-10-13 10:09] RamanathanChinnappan-MSFT commented on #98120
@Subhashini2610

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-13 10:09] #98120 closed

[2022-10-13 10:12] rangler2 commented on #99697
Thank you, glad to hear you agree with my approach of using php stack for static site.

Sent from my iPhone

[2022-10-13 10:16] Naveenommi-MSFT commented on #99756
@Shell-IanBennett

Could you please go through this below links for your reference.

[Configure clusters - Azure Databricks | Microsoft Learn](https://learn.microsoft.com/en-us/azure/databricks/clusters/configure)
[Clusters API 2.0 - Azure Databricks | Microsoft Learn](https://learn.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/clusters)

If there are any further questions regarding th

[2022-10-13 10:25] lucabovo commented on #99174
Hi @RamanathanChinnappan-MSFT  and @kromerm,
I add another consideration: I discovered that it's possibile to create a Private Endpoint to Azure Resource Manager (API management.azure.com)  https://learn.microsoft.com/en-us/azure/azure-resource-manager/management/create-private-link-access-portal  --> Could it be possible to configure also a Managed Private Endpoint in Synapse Managed VNet aswell?

[2022-10-13 10:26] amach4 opened #99894 "DRBD configuration is not correct"
I see two issues regarding the DRBD configuration as shown in step: "6. [A] Configure drbd"

**Issue #1:**

The script file names are wrong and testing a standby of a cluster node will only stop all cluster resource but
cluster resources would not be restarted on the other node.

<snip>

handlers {
          fence-peer "/usr/lib/drbd/crm-fence-peer.sh";
          after-resync-target "/usr/lib/drbd

[2022-10-13 10:27] ManoharLakkoju-MSFT commented on #99822
@Mrkokoo
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@limwainstein
Can you please check and add your comments on this doc update request as applicable.

[2022-10-13 10:27] Naveenommi-MSFT commented on #99758
@vasco-lopes
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-13 10:27] Naveenommi-MSFT commented on #99758
@mssaperla
Could you Please review this and update as appropriate.

[2022-10-13 10:42] AjayBathini-MSFT commented on #99810
@dwschulze
Thank you for your feedback!
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue the

[2022-10-13 10:42] #99810 closed

[2022-10-13 10:53] MughundhanRaveendran-MSFT commented on #99646
@abhinabsarkar ,

The docs need to be updated. We are provisioning 1 IP for ingress and 1 IP for egress.
We used to provision 3 IPs for egress but reduced it to 1 due to customer’s demand. If customers need more IPs for egress due to SNAT issues, they can open a support ticket and we will increase it.

[2022-10-13 11:40] Venkateshdodda-MSFT commented on #99653
@scowan We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-10-13 11:40] #99653 closed

[2022-10-13 11:45] assaf-grth opened #99895 "Getting started with monitoring of analysis service"
I use a managed analysis services server in my subscription and would like to get started with some monitoring,
What would be the most common and important metrics I should look at when defining alert rules?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 33d46c28-4183-1ce1-72fb-5304a7052863
* Version Independent ID: e

[2022-10-13 11:51] danmyhre opened #99896 "SAML Claims"
Add details on if these attributes will be supported for SAML claims in enterprise apps

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2896aa11-53c5-722b-aabf-e59dda55cf38
* Version Independent ID: 7291a3a0-24d6-0e88-9105-29001f7e3ed1
* Content: [What are custom security attributes in Azure AD? (Preview) - Azure Activ

[2022-10-13 11:53] abhinabsarkar commented on #99646
Thanks for clarifying.

[2022-10-13 12:08] SaibabaBalapur-MSFT commented on #99807
@dwschulze
Duplicate of #99845
Duplicate of #99843
Our team is working on similar cases which you have raised for Image building commands.
We are going to close this as duplicate cases but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.
https://github.com/MicrosoftDocs/azure-docs/issues/99845
https://git

[2022-10-13 12:08] #99807 closed

[2022-10-13 12:10] ManoharLakkoju-MSFT commented on #99868
@VincentXu2021
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@barclayn
Can you please check and add your comments on this doc update request as applicable.

[2022-10-13 12:13] bburgos928 commented on #99712
@ManoharLakkoju-MSFT , I cleared everything. Issue continues

[2022-10-13 12:18] Trooperai opened #99897 "Typo"
"Password as an authentication method cannot be disabled and the option to sign in using a password is displayed even with Azure AB CBA method available to the user."

Should read:

"Password as an authentication method cannot be disabled and the option to sign in using a password is displayed even with Azure AD CBA method available to the user."

---
#### Document Details

⚠ *Do not edit this sec

[2022-10-13 12:25] maud-lv commented on #96752
Hello, both pages have recently been updated and now have .NET 6:
- https://learn.microsoft.com/en-us/azure/azure-app-configuration/quickstart-aspnet-core-app?tabs=core6x
- https://learn.microsoft.com/en-us/azure/azure-app-configuration/enable-dynamic-configuration-aspnet-core?tabs=core6x

Thank you for letting us know about this.

#please-close

[2022-10-13 12:25] #96752 closed

[2022-10-13 12:27] maud-lv commented on #78679
Thank you for your feedback. This is correct and the document has recently been updated with .NET 6 instead of .NET 5.

#please-close.

[2022-10-13 12:28] #78679 closed

[2022-10-13 12:41] ntrogh commented on #99595
@elmckinn We have updated the [documentation](https://learn.microsoft.com/en-us/azure/load-testing/how-to-test-secured-endpoints). Thanks again for your valuable feedback!

#please-close

[2022-10-13 12:41] #99595 closed

[2022-10-13 12:43] #99705 closed

[2022-10-13 12:44] tom-ditlev opened #99899 "Misleading information regarding "authentication against computer accounts" not being supported"
This page has this bullet:

"- Doesn't support authentication against computer accounts created in AD DS."

Maybe I misunderstand, but as I understand this today is exactly the default and preferred method.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: fba964be-3f77-d80c-f1a5-35bb1430bb8f
* Version Independent ID: fe

[2022-10-13 12:52] shaktisingh-msft commented on #99812
Hi @avi95022,

Could you please add more details about the question for the document.

[2022-10-13 13:00] Riazansary commented on #99841
The Documented I am talking about is:
https://learn.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-staged-rollout

I would also love to know the answer to my questions

[2022-10-13 13:02] barclayn commented on #99862
#please-close

[2022-10-13 13:02] #99862 closed

[2022-10-13 13:09] ElectricLlama commented on #98884
Any feedback? Seems this would be simple to repro

[2022-10-13 13:10] barclayn commented on #89114
@ConcreteGannet thank you for your feedback. The article is updated.  #please-close

[2022-10-13 13:10] #89114 closed

[2022-10-13 13:11] barclayn commented on #99607
#please-close

[2022-10-13 13:11] #99607 closed

[2022-10-13 13:16] boylec commented on #99734
Thanks folks - looks good!

[2022-10-13 13:18] barclayn commented on #99830
@Muthurajj  yes, you would use the same names. The names you specify under organization name is just a name/identifier only displayed in the portal. The domain is actually shown to users in some cases, and it is used during verification of domain ownership.

[2022-10-13 13:19] #99830 closed

[2022-10-13 13:20] arindam0310018 opened #99900 "Private Endpoint for Azure Managed Grafana"
Hello Team,
I see in the properties page of Azure Managed Grafana "Private Endpoint Connections" But I do not have the options to set it.
It is also not listed under current limitations - https://learn.microsoft.com/en-us/azure/managed-grafana/known-limitations
It is available at the moment  ? If not, is there any timeline ?

Below follows the Reference Screenshot:-

**Private Endpoint of Azure Ma

[2022-10-13 13:24] VikasPullagura-MSFT commented on #99879
@ezYakaEagle442
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-10-13 13:24] VikasPullagura-MSFT commented on #99879
@tejaswikolli-web
Can you please check and add your comments on this doc update request as applicable.

[2022-10-13 13:25] VikasPullagura-MSFT commented on #99880
@ezYakaEagle442
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-10-13 13:25] VikasPullagura-MSFT commented on #99880
@tejaswikolli-web
Can you please check and add your comments on this doc update request as applicable.

[2022-10-13 13:27] VikasPullagura-MSFT commented on #99893
@axelgMS
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-10-13 13:27] VikasPullagura-MSFT commented on #99893
@MGoedtel
Can you please check and add your comments on this doc update request as applicable.

[2022-10-13 13:30] vojtahanzal opened #99901 "Broken WSDL import when using import method with value 'SoapPassThrough'"
I encountered a broken WSDL import function in Microsoft.Web/customApis@2016-06-01

I have written a Bicep script that works.

When I add a WSDL import to the Bicep script with the function Microsoft.Web/customApis@2016-06-01 then using the parameter importMethod: 'SoapPassThrough' it crashes with the error InternalServerError.
Documentation: https://learn.microsoft.com/en-us/azure/templates/micro

[2022-10-13 13:35] arindam0310018 opened #99902 "Update Private Endpoint limitation of Azure Managed Grafana"
Hello Team,
May I request you to please update the Private Endpoint Limitation of Azure Managed Grafana till the time it is available -
https://learn.microsoft.com/en-us/azure/managed-grafana/known-limitations

Many Thanks
Regards, Arindam Mitra

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c8c8cfd8-9194-a2df-0f05-ba

[2022-10-13 13:35] randywiemer opened #99903 "Inaccurate/wrong description of process"
The article makes this statement which is wrong

If the refresh token's 24-hour lifetime has expired, MSAL.js will open a hidden iframe to silently request a new authorization code

Where it mentions a refresh token with a 24 hour lifetime it should reference an access token with an uncertain lifetime.  A hidden iframe cannot acquire a new access token with an expired refresh token

---
#### Docum

[2022-10-13 13:46] JeroenRe opened #99905 "Where's the documentation for EF Core?"
The current documentation is outdated for EF 6. I'm searching for the correct documentation of using sharding for multi-tenant (hybrid) environments using EF Core.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6fbd2907-f8a1-4a90-55fb-8dcea8d71e74
* Version Independent ID: beb05823-454e-cc7d-ae6c-ec07825c57e9
* Conten

[2022-10-13 13:54] GeethaThatipatri-MSFT commented on #99905
@JeroenRe Thanks for reaching out, We will investigate and update you shortly.

[2022-10-13 14:01] MathematicaKen opened #99906 "Restrict Specific keys toggle not sufficiently explained"
Restrict Specific keys toggle not sufficiently explained:
The wording for this setting is not clear that this restriction is creating an AllowList or a Blocklist based on the entered AAGUID entered. Our initial reading of the docs made us think that setting block would prohibit everything except the AAGUID in the list.

---
#### Document Details

⚠ *Do not edit this section. It is required for lea

[2022-10-13 14:12] scoriani commented on #99905
Elastic Database Client library does not support .NET Core at the moment, and currently there are no plans to support that in the future. For EF Core and multi-tenancy i would suggest looking at this article: https://learn.microsoft.com/en-us/ef/core/miscellaneous/multitenancy

[2022-10-13 14:15] whomanGHA commented on #99867
Hello,

The portal allows you to chose TXT record validation for a subdomain as well.

***@***.***

This process is what I am not seeing in the doc.

Thanks,

Will Homan

Support Engineer - ***@***.******@***.***>
Configuration Support - Azure App Service
Customer Service & Support
+1 (425) 722-1691

[MSFT_logo]

My normal working hours are Wed-Sat 7am-6pm US-Pacific Time.

If you would prefer to