[2020-07-27 23:01] krish-gh commented on #59746
Hi Amit,

Regarding the ADFS point, it does not have to be ADFS but any IDP supporting Azure AD federation will do. The problem here in your case is Azure AD is throwing this error on the SAML assertion for the OBO flow when it's originated from itself (self trust relationship). As a prerequisite, AAD expects the SAML assertion from a different IDP (does not have to be ADFS) federated with AAD. At

[2020-07-27 23:06] MarileeTurscak-MSFT commented on #57170
I'm closing this out since I have not heard back and believe this needs to go to Docusign.

[2020-07-27 23:06] #57170 closed

[2020-07-27 23:08] chetansriv commented on #55702
@hosser @sbthackston The issue is fixed now, could you please check.

[2020-07-27 23:08] chetansriv commented on #55702
#please-close

[2020-07-27 23:08] #55702 closed

[2020-07-27 23:25] SaiKishor-MSFT commented on #59797
@schulmeisterrr Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-07-27 23:29] #59799 closed

[2020-07-27 23:56] SaiKishor-MSFT commented on #59812
@v-sashig Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-07-28 00:08] Tom331 commented on #38660
Hi @bandersmsft, is there a workaround or an ETA on the product bug? I am having a similar issue with the usageDetails endpoint, specifically i cannot filter on tags in the $filter parameter. [Stack overflow question with the problem I'm having](https://stackoverflow.com/questions/63125218/azure-usagedetails-rest-api-cannot-filter-on-tags)

[2020-07-28 00:19] angie4u opened #59816 "Is it possible to setup CI/CD in a YAML way?"
Hi team,
I'm looking a way to setup CI/CD pipeline for Stream Analytics service.
This tutorial only provides a Azure DevOps classic way to setup pipeline.
Is there any tutorial / reference to setup pipeline using YAML?

Thanks in advance!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33f0cd05-1526-e569-82ef-da3f262755

[2020-07-28 00:23] OliverColeman opened #59817 "The command to install dependencies is missing a `sudo`"
The command to install dependencies is missing a `sudo`
[code]
Should be
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06b6cadc-f93d-75de-7611-b1e3d80917e2
* Version Independent ID: bcf194d8-3442-b284-576f-407af9ca1067
* Content: [Azure Storage Explorer troubleshooting guide](https://docs.microsoft.com/en-us/az

[2020-07-28 00:37] craig-martin opened #59818 "Log Analytics HTTP Data Collector HTTP - reserved and special properties"
The section for 'Reserved Properties' should be expanded to include other properties such as Computer.
For example uploading this JSON results in a property named 'ComputerName_s':
`{ "foo":  "bar", "ComputerName":  "baz"}`

But uploading this JSON results in a property named 'Computer' (no suffix for the type):
`{ "foo":  "bar", "Computer":  "baz"}`

It would be nice if the document page for the

[2020-07-28 00:44] takeakitake commented on #59765
Do you mean that we can upgrade Win10 home to Win10 Pro by Intune license?
And "Operating Systems | All Windows 10 devices" means we can add device as of "Win10 Home".

[2020-07-28 01:02] BharathNimmala-MSFT commented on #59818
@craig-martin  Thank you for your feedback, we will review it and get back to you at the earliest.

[2020-07-28 01:24] MicrosoftGuyJFlo commented on #59582
@lujiangfeng666 Can you take a look at this issue and provide some feedback?

[2020-07-28 01:31] AshokPeddakotla-MSFT commented on #59662
@Bengkel Did you get a chance to see my response? Please share more details so that doc can be changed accordingly after peer review.

[2020-07-28 01:49] ichengchao commented on #59275
i hidden the KeyId for shorten the detail.
it still not work.and i have send a email on your suggestion. thx.

[2020-07-28 02:29] ChaitanyaNaykodi-MSFT commented on #59539
@jstafford5380 , sorry I misunderstood the question.
Since you are using a single consumer(receiver) for every subscription, I am assuming that it can consume that many messages. Based on this I will try and explain some drawbacks or design considerations.

Each subscription has a filter functionality which decides which message from the topic should be selected and sent out to the consumer(receiv

[2020-07-28 02:30] yinhew commented on #59716
@crevulus how will be the approximate traffic (usage amount) of your product?
Do you use the score returned by our API? or just use the phoneme name?

[2020-07-28 02:44] matt-erhart opened #59819 "install and import for bing entity search with python sdk"
[code]
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6ee7ae1-5e97-b392-cee7-09c92bc6cd9a
* Version Independent ID: 44e23320-2034-29bf-5e18-f6d6275a18f5
* Content: [Quickstart: Use the Bing Entity Search client library - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/bing-en

[2020-07-28 03:04] wanttoh opened #59820 "The operator is not supported.\nAdditional information: Logical operator (or) is not supported."
[Enter feedback here]
![image](https://user-images.githubusercontent.com/33505944/88614325-1bfcb300-d0c2-11ea-96bd-9ebc4c26d2ea.png)
 Please do me a favor ,thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ded61d3-337a-11e3-ebdf-8e7034ff3637
* Version Independent ID: cb524775-4489-937a-3d3e-4fc7c49b70d4
* Content:

[2020-07-28 03:22] ram-msft commented on #59796
@luisquintanilla Thanks for the feedback. We will update you shortly.

[2020-07-28 03:24] ram-msft commented on #59819
@matt-erhart Thanks for the question. We are investigating the issue and will update you shortly.

[2020-07-28 03:49] brjohnstmsft commented on #59820
@wanttoh That screenshot looks like an application for managing support cases. Does it use Azure Cognitive Search? Are you a developer of that application? I can't really help unless you provide more information.

[2020-07-28 04:13] wanttoh commented on #59820
I want to visit microsoft api,and before the request i have got the accessToken.
And if I dont use the logical operator 'or', the get request is ok and will return the correct data.
![image](https://user-images.githubusercontent.com/33505944/88618350-7f3f1300-d0cb-11ea-8d5d-e6ffffaf58d0.png)
![image](https://user-images.githubusercontent.com/33505944/88618441-c0cfbe00-d0cb-11ea-870b-394ce510b4ae.p

[2020-07-28 04:19] VikasPullagura-MSFT commented on #59734
@yahorsi
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-07-28 04:19] #59734 closed

[2020-07-28 04:19] VikasPullagura-MSFT commented on #59749
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-07-28 04:19] #59749 closed

[2020-07-28 04:21] HarithaMaddi-MSFT commented on #59809
@jasonhorner - Thanks for your feedback. I have shared it with content owner for review.

@nabhishek - Can you please review the above feedback and update the document if appropriate.

[2020-07-28 04:26] HarithaMaddi-MSFT commented on #59816
@angie4u - Thanks for the suggestion. I have shared it with content owner to review.

@su-jie - Can you please take a look?

[2020-07-28 04:44] HarithaMaddi-MSFT commented on #59805
@denystyshetskyy - Thanks for your feedback. I have shared it with content owner for review.

@saveenr - Can you please take a look?

[2020-07-28 04:45] dcurwin commented on #59661
@MadhanMani555 - This isn't a documentation issue, and requires further investigation. The best way to get help is to open a support ticket:

https://azure.microsoft.com/en-us/support/create-ticket/

#please-close

[2020-07-28 04:45] #59661 closed

[2020-07-28 05:03] SwathiDhanwada-MSFT commented on #59484
@ChristopheH-Ekonoo Can you please provide the resource group name and also make sure you are using latest version of the solution ? Also,  can you share at what step are you prompted with error ?

Here are few similar issues which can help you in fixing the issue.
1) https://github.com/MicrosoftDocs/azure-docs/issues/12579
2) https://github.com/MicrosoftDocs/azure-docs/issues/19360

Kindly throug

[2020-07-28 05:06] SubhashVasarapu-MSFT commented on #59810
@tcsougan , We have assigned this issue to the respective product owner for updating the doc accordingly.
@yushwang , Could you please provide your insights here?

[2020-07-28 05:19] BhargaviAnnadevara-MSFT commented on #59817
@OliverColeman Thank you very much for bringing this to our attention. We shall evaluate and update the doc as appropriate.

[2020-07-28 05:20] maheshksingh commented on #59697
Any updates on this please?

[2020-07-28 05:47] hnph12 commented on #59760
@HarshitaSingh-MSFT Thanks for the update. Looking forward to your further update.

[2020-07-28 06:02] RohitMungi-MSFT commented on #59739
@lokijota Thanks for letting us know. If there are no further issues, We will proceed to close this thread. Please tag us in your reply if you have any queries. Thanks!!

[2020-07-28 06:02] #59739 closed

[2020-07-28 06:06] James-MCT opened #59825 "RD Web Client Support"
This article states that you can use this method to publish RDS and use the RD Web Client to access RDS resources, however the article here: https://docs.microsoft.com/en-us/windows-server/remote/remote-desktop-services/rds-supported-config#using-remote-desktop-services-with-application-proxy-services states that you cannot use the web client when publishing with AD Application Proxy - please coul

[2020-07-28 06:10] cpatil7 opened #59826 "Migration Mongo DB to Cosmos DB(with Mongo API)"
As part of migration from MongoDB to Azure Cosmos DB(with Mongo API) version 3.6, application(hosted on AKS) does perform basic CRUD operations(Create, Edit, Get, FindAll).

Its Spring boot application, MongoRepository under "org.springframework.data.mongodb.repository" provide a built in method findAll, which support pagination & sorting

**Syntax** : findAll(PageRequest.of(PageNumber, PageSize,

[2020-07-28 06:10] BhargaviAnnadevara-MSFT commented on #59817
@OliverColeman Thank you for bringing this to our attention. I have submitted a PR to fix the issue that's in review.

[2020-07-28 06:17] KranthiPakala-MSFT commented on #59697
Hi @mssaperla Could you please assist on the above query? - Thank you.

[2020-07-28 06:18] souravmishra-msft commented on #59472
@takeakitake, Just wanted to check if the above response helped in answering your query. Do let me know if there are any more queries around this so that we can help you further. If not do let us know so that we can close this thread out.

[2020-07-28 06:27] djpmsft commented on #59597
Hey @ivoburger,

*Export ARM Template* is intended to export the current state of the data factory. If you wish to export the published version, you can go to *Data Factory* mode and export it there. If you already are using git integration and have an adf_publish branch already, I would recommend you just go to your git repo and download it there. The 'Manual' Section is intended for those that a

[2020-07-28 06:27] #59597 closed

[2020-07-28 06:32] SadiqhAhmed-MSFT commented on #59772
@robburton58 When you say ‚download‘? What exactly do you mean?

Did you check AzGovViz yet?
https://github.com/JulianHayward/Azure-MG-Sub-Governance-Reporting
https://github.com/microsoft/CloudAdoptionFramework/tree/master/govern/AzureGovernanceVisualizer
In the next iteration change tracking will be included (diff output based on summary json (last/current)). Would that be helpful?

[2020-07-28 06:32] djpmsft commented on #59427
As @MartinJaffer-MSFT mentioned, `@activity()` is used to access the output of previous activities. We don't document this behavior because it is not supported. This is not included in the above article, because it isn't a function per se but there should probably be some mention of it.

We generally document relevant activity output in the activity documentation. For example, how to use the Get M

[2020-07-28 06:32] #59427 closed

[2020-07-28 06:37] shashishailaj commented on #59825
@James-MCT Thank you for pointing that out . We will involve the content authors on this and update the thread.

[2020-07-28 06:37] femsulu commented on #59381
Hello @tanmayjog  - sorry for the delay here. AFAIK, there's currently no way to customize the email template for Azure alerts. As a workaround, you can [configure a webhook on Azure Alert](https://docs.microsoft.com/en-us/azure/azure-monitor/samples/powershell-samples#create-metric-alerts). This allows you to extend the alert signal with your custom code.

While researching your question, came ac

[2020-07-28 06:37] #59381 closed

[2020-07-28 06:38] shashishailaj commented on #59764
@stas-sultanov Please let us know if you were able to check the article and that suffices your needs ?

[2020-07-28 06:38] Krytical13 opened #59828 "Issue with RBAC documentation and referenced video, related to automatic removal of access when people leave."
Under the heading "Role Based Access Control" on this page: [Link](https://docs.microsoft.com/en-us/azure/security/fundamentals/management-monitoring-overview#role-based-access-control)
I am looking for the details/explanation for this information:

Issue #1
The first URL under that is this: [Link](https://cloudblogs.microsoft.com/enterprisemobility/?product=azure-active-directory)
However, that U

[2020-07-28 06:43] SadiqhAhmed-MSFT commented on #59779
@juanandmsft  For VMware migration with agentless replication it is up to a maximum 300 VMs from a single vCenter replicating at any point of time.
(The portal only lets you add 10 at a time so to get to 300 you’ll need to add them 10 by 10 – 30 times)

For VMware migration with agent-based replication you can scale out to have more VMs replicating at any point of time by adding more Process Serve

[2020-07-28 06:48] pnarsi commented on #56727
Hi Team,

I have done some testing on my own. I feel that the following statement in the documentation is misleading,

"Function apps running under the Apps Service plan may have multiple slots, while under the Consumption plan only one slot is allowed."

I took this to mean that the Consumption plan can only have one slot which is the production slot which is not the case. We can create one addit

[2020-07-28 06:53] shashishailaj commented on #59828
@Krytical13 Thank you for your feedback . We will investigate this and update further .

[2020-07-28 06:56] #59499 closed

[2020-07-28 06:57] VikasPullagura-MSFT commented on #59499
@akingscote The document is updated and changes will go live soon.

[2020-07-28 06:58] VQuery commented on #28317
@hpsin Changes published for this API? . Still unable to get the user claims for personal account
https://graph.microsoft.com/oidc/userinfo

[2020-07-28 07:14] kspoojary commented on #59666
Hi @BryanTrach-MSFT ,
The link you shared  [https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-virtual-networks?tabs=portal]( https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-virtual-networks?tabs=portal) is to set up virtual network for Azure Convective Services but I am using Azure Search service and we do not have option to set the vnet in s

[2020-07-28 07:18] AnuragSharma-MSFT commented on #59826
@cpatil7 Thanks for reaching out to us with your query. On GitHub, we mostly work on document related queries, and from the first look of this, it seems a technical query. If this is related to any specific document, request you to provide the link for the same.

Otherwise we’d be happy to answer this on the forums and walk you through whatever might be giving you trouble.
Doing this on the forums

[2020-07-28 07:23] Druffl3 opened #59829 "Get Navigable Lat and Long between two Units"
[Enter feedback here]
This is not an issue but a query-
Is there an API or methodology available to get navigable lat and longs between two units, that can be used to draw a navigation line between the two points?

Expectation:
For now, I have hardcoded the points to get the expected result:
<img width="659" alt="image001" src="https://user-images.githubusercontent.com/28187687/88632475-41dd8400-d

[2020-07-28 07:30] alexrusn opened #59830 "Please clarify what is UAT."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e22e4d6-366f-fbf8-e141-8905ca7ab7ae
* Version Independent ID: 5be2acf2-66e7-cadf-6666-5a85a65b9771
* Content: [Continuous integration and delivery in Azure Data Factory - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/continu

[2020-07-28 07:35] psmanhas commented on #59636
@danvalero Same Load Balancer can be used for both purposes with different Front ends. Also, note that if using WS 2019 then you won’t need any ILB setting for WSFC CAP as the CAP would be accessible by default.Do let me know in case of any further concerns.

Thanks

[2020-07-28 07:36] femsulu commented on #59549
Hello @brbel, here's what I found in public documentation on [pricing for managed applications](https://azure.microsoft.com/en-ca/pricing/details/managed-applications/).

![image](https://user-images.githubusercontent.com/34327711/88633790-5175b200-d06a-11ea-968c-06af450f45e2.png)

Adding @BrianLevenson for any SME insights or guidance on pricing.

Hope this helps.

[2020-07-28 07:47] AjayKumar-MSFT commented on #54949
Justin, Apologies for the delayed response on this. This is a good feedback, thanks for bringing this to our attention. Upon checking this further, we have assigned the issue to the content author to review further and update the document as appropriate.

[2020-07-28 07:48] su-jie commented on #59816
@angie4u you can follow the steps in this doc https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-tools-visual-studio-cicd-vsts and there is 'View YAML' for each task in the pipelines.
<img width="1385" alt="Screen Shot 2020-07-28 at 3 46 25 PM" src="https://user-images.githubusercontent.com/24801534/88635014-b6bcb800-d0e9-11ea-8d53-19967d31f97e.png">

[2020-07-28 07:55] MayankBargali-MSFT commented on #59783
@krishrocks1904 You can create the version using the command New-AzApiManagementApiVersionSet : https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/new-azapimanagementapiversionset?view=azps-4.4.0
You need to set the -Schema as "Segment" as the accepted value is Segment (Path named in portal), Query, Header.

Hope this helps. Let me know if you have any queries.

[2020-07-28 07:57] alwarmb commented on #59811
Oh. Excuse me for the confusion. There is no typo manifest.json file in the [sample drawing package](https://github.com/Azure-Samples/am-creator-indoor-data-examples/blob/master/Sample%20-%20Contoso%20Drawing%20Package.zip)

I was referring to the documentation in [https://docs.microsoft.com/en-us/azure/azure-maps/drawing-requirements](https://docs.microsoft.com/en-us/azure/azure-maps/drawing-requ

[2020-07-28 08:06] HarithaMaddi-MSFT commented on #59830
@alexrusn - Thanks for your feedback. We are investigating on it and will update you shortly.

[2020-07-28 08:08] jmprieur commented on #59693
@nschuessler can you please provide repro steps with MSAL.NET on how you get in such a situation? this is really news for me
cc: @hpsin

[2020-07-28 08:11] MayankBargali-MSFT commented on #59767
@Graham-Ellwood We have assigned this issue to you for further review.

[2020-07-28 08:19] robburton58 commented on #59772
HI SadiqhAhmed,

What I mean is the ability to export the Role assignments (the Blade says Download)

[cid:image001.png@01D664C0.3478F8D0]

Stay Safe and Well

Robert Burton, Cloud Security Architect, Bupa BG/UKMU – ITIL Expert , MBCS, CCSP
Bupa, 4 Pinetees Estate, Chertsey Lane, Staines, TW18 3DZ
S: 020 3743 7675 T +44 (0)1784 893296 M +44 (0) 7860 796206 E robert.burton@bupa.com<mailto:robert.bu

[2020-07-28 08:19] squasta opened #59831 "Register-AzResourceProvider -ProviderNamespace Microsoft.Storage command should be done after Step 2"
Register-AzResourceProvider -ProviderNamespace Microsoft.Storage command should be done AFTER step 2, when PremiumHns & AllowNFSV3 are in status Registered

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abfc0bd3-6245-82ad-e782-d2464a6ce8df
* Version Independent ID: aa79abce-6e1b-15b6-04c1-b7413c4b5f58
* Content: [Mount

[2020-07-28 08:38] xujxu commented on #57048
Issue was fixed with above PR.

[2020-07-28 08:49] MartijnElfers commented on #59504
I think I fully understand the answer. Just to be sure, with Azure Plan via a CSP provider, uploading of a management certificate is not supported?

[2020-07-28 08:51] JayaChatterjee-MSFT commented on #59504
@MartijnElfers Yes, you are correct.

[2020-07-28 08:52] MartijnElfers commented on #59504
Many thanks for the quick replies and answers. Cheers!

[2020-07-28 08:52] #59504 closed

[2020-07-28 08:55] SadiqhAhmed-MSFT commented on #59772
@@robburton58  The image is not downloadable/viewable. Could you please take a screenshot and share it here?

[2020-07-28 09:01] eerik47 opened #59833 "Error: 'varbinary(max)' which is not supported by 'PREDICT' function"
I tried this sample, but I received this error:  Input data column #1 is of type **'varbinary(max)' which is not supported by 'PREDICT' function**. Unsupported types are binary, varbinary, timestamp, datetime2, datetimeoffset, time, text, ntext, image, hierarchyid, xml, sql_variant and user-defined type.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-07-28 09:11] HarithaMaddi-MSFT commented on #59830
@alexrusn - Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/124012](https://github.com/MicrosoftDocs/azure-docs-pr/pull/124012)

The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2020-07-28 09:11] HarithaMaddi-MSFT commented on #59830
@djpmsft - Could you please look into the PR and approve?

[2020-07-28 09:17] robburton58 commented on #59772
here is the image
![roles download](https://user-images.githubusercontent.com/49398930/88645013-8d853300-d0bb-11ea-8fa7-1af4a38baa73.png)

[2020-07-28 09:17] Joe129 opened #59834 "Reporting capabilities?"
Can you update the documentation to provide information on how to report on password-less authentication usage? Such as registration activities, so that an IT Admin can report on users who haven't yet enabled password-less authentication?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee6ac70d-5853-6a3a-0964-23b46910b4

[2020-07-28 09:24] robburton58 commented on #59772
I have uploaded the image, and I think inadvertently close the item.

Stay Safe and Well

Robert Burton, Cloud Security Architect, Bupa BG/UKMU – ITIL Expert , MBCS, CCSP
Bupa, 4 Pinetees Estate, Chertsey Lane, Staines, TW18 3DZ
S: 020 3743 7675 T +44 (0)1784 893296 M +44 (0) 7860 796206 E robert.burton@bupa.com<mailto:robert.burton@bupa.com> W bupa.co.uk<http://www.bupa.co.uk/>
[cid:image001.png@

[2020-07-28 09:27] sven5 opened #59835 "Azure AD B2C terms of use date check question"
The doc says ".... extension_termsOfUseConsentDateTime, and compare the value to the claim of termsOfUseTextUpdateDateTime. If the acceptance is old, force a new acceptance by displaying a self-asserted screen."
It's not clear if the **termsOfUseTextUpdateDateTime** should be in the past or in the future to display the self-asserted screen.
Please describe in more detail the check of the Transform

[2020-07-28 09:29] SadiqhAhmed-MSFT commented on #59772
@robburton58 Does this help? - https://gallery.technet.microsoft.com/scriptcenter/Export-Azure-Resource-092b9c2a

[2020-07-28 09:37] ChristopheH-Ekonoo commented on #59484
Hello Swathi

It is exactly the same as #12579 and the last comment after the closure is from me

The solution was deployed just 2 days before the error

Here are the error on ScheduledStartStop_Parent

Logging into Azure subscription using Az cmdlets...

Environments
------------
{[AzureChinaCloud, AzureChinaCloud], [AzureCloud, AzureCloud], [AzureGermanCloud, AzureGermanCloud], [AzureUSGovernme.

[2020-07-28 09:41] robburton58 commented on #59772
Hi This only works @ the subscription level, what I am looking for is something that ALSO works from the management group level downwards

We use RBAC roles at management group level to not have to assign at individual subscription level as much as possible.

I can do for a management group or a subscription already, but would like to be able to extract for the entire tree from the top level MG ->

[2020-07-28 09:51] robburton58 commented on #59772
The export from the blade gives me exactly what I want(with the exception of the classic admins) when I tick Inherited & children but only for the selected subscription scope.

Also the script you mentioned use the AzureRM modules and not the new Az modules

Stay Safe and Well

Robert Burton, Cloud Security Architect, Bupa BG/UKMU – ITIL Expert , MBCS, CCSP
Bupa, 4 Pinetees Estate, Chertsey Lane,

[2020-07-28 09:56] danielbjork commented on #57584
@bandersmsft Thanks I am member of both AdminAgent and Global Admin  and now i found whats wrong.

This instruction is not clear enough i would say: "Select the relevant Microsoft Partner Agreement billing account"

It should say that you need to select the relevant "Billing Scope" in the billing Scope Blade.

But anyway it works if you do that.

[2020-07-28 10:13] jskop opened #59836 "Using a static OAuth2 bearer"
Hi,

The instruction for **Using a static OAuth2 bearer** seems to be incorrect or not explained enough at 8th step (what is that recorded secret? a client secret of API or a token?)

Best Regards,
jskop

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cbe5bd8-f4fa-cfac-b3f1-ac25ae741dae
* Version Independent ID: 7b7a29

[2020-07-28 10:29] vlad610 opened #59837 "API Management transformation policies only support gzip encoding"
The documentation for API Management transformation policies should mention the fact that only gzip encoding is supported when using transformation policies like find-and-replace. Other encodings (like br) are not supported. If the backend API allows for content negotiation, the following header would need to be included in the request (set-header policy may be used): Accept-Encoding: gzip.

---
#

[2020-07-28 10:40] amit17051980 commented on #59746
Thanks Chris.
Let me try and come back to you on this.

In short, if I use OKTA for SAML2 token and then send to Azure AD for OAuth2 Token, it should work?
I'll try this by adding the additional claim in OKTA and see if it works. The only issue would be that the OKTA and Azure they both are not using the common user source backend.

As you understand, our key requirement is as below, hence the POC

[2020-07-28 10:49] ShaneOsborne opened #59838 "SQL Tools are not installed in Container"
According to the documentation the sql tools are installed in the container

Unfortunately with mcr.microsoft.com/azure-sql-edge-developer:latest installed on 28/07/2020 their is no sqlcmd in the filesystem

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ee9ce09-24a8-468c-e18e-17fda57d5116
* Version Independent

[2020-07-28 11:03] sjoerdvannoort commented on #59789
@SwathiDhanwada-MSFT Indeed, installing 2.30 does the trick. It seems I was 11 days behind :). To be honest, I usually do not install individual AZ modules, I just try to keep up with the parent AZ module; but this feature has not made it to the full release just yet.

[2020-07-28 11:03] #59789 closed

[2020-07-28 11:06] jflieben opened #59839 "Description of role incorrect, too many privileges"
The security operator role is described here: https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles#security-operator

The description that the operator is mainly allowed to investigate/view alerts.

Scrolling down to https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles#security-operator-permission

[2020-07-28 11:10] #59779 closed

[2020-07-28 11:37] krish-gh commented on #59746
Yes, if you use OKTA as IDP and configure RPT to AAD, it should work. You would be able to use SAML assertion to the oauth2 token endpoint. But as you said, all your users may not be in OKTA.

[2020-07-28 11:38] SanaChopra commented on #59090
@sam-lippert After investigating further, it seems that it is not supported to return data from the functions represented in the config file as they are only to be used for state transitions along with modifying properties. So, it is not possible to get values directly using smart contract using functions(represented in config file) in workbench.
However, you can get the data related to a transact

[2020-07-28 12:06] JayaChatterjee-MSFT commented on #59524
@aschuhardt  Pagination has limits imposed by the server (in general is not controlled by client), but is also impacted by client parameters like $top - which specifies the maximum number the client wishes to receive.
You may refer to this part of the document :

![image](https://user-images.githubusercontent.com/51781464/88656469-fc7b7f80-d0ed-11ea-862c-339992565047.png)

The default is chosen by

[2020-07-28 12:21] MikkelMBXP opened #59841 "cant reach nginx by public ip"
I have just tried testing this on a aks service created today, and right after creating the nginx controller the document states:

"No ingress rules have been created yet, so the NGINX ingress controller's default 404 page is displayed if you browse to the public IP address. Ingress rules are configured in the following steps."

However I am unable to reach the nginx controller from the public IP.

[2020-07-28 12:26] HarshitaSingh-MSFT commented on #59711
Hello @over2under3, hope you are doing great!

- Did you get a chance to [verify network requirements](https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-windows#network-requirements)?
- Did you try creating VM using [Azure Cloud Shell experience](https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-windows#using-the-azure

[2020-07-28 12:32] JayaChatterjee-MSFT commented on #59647
@pnarsi Continuous Deployment (CD) traffic is generally inbound to the App. However in this case, if you are using Kudu to manage the Git repro via a Web hook then Kudu will need to be able to pull from the Github endpoints. So you need to setup firewall rules appropriately. Please let me know if this helps.

Upon further research, we can see that there is a scope to update the document with these

[2020-07-28 12:42] over2under3 commented on #59711
Hello,

Please see answers below:

  *   Did you get a chance to verify network requirements<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Factive-directory%2Fdevices%2Fhowto-vm-sign-in-azure-ad-windows%23network-requirements&data=02%7C01%7CDamon.Neal%40microsoft.com%7Cb70428a331fe4262934c08d832f186cd%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C

[2020-07-28 12:42] alainvtr1 commented on #59538
Hi !
It's right, nothing is seen in the ressource explorer.
Like Michael, i've used the ARM example, paste and copy in the editor of "custom deployment", made the minimum requirement and i dont understand what do you want we confirm ?
Here is my ARM :
"resources": [
      {
         "type": "Microsoft.Web/hostingEnvironments",
         "kind": "ASEV2",
         "name": "avnASEAZ2",
         "apiVe

[2020-07-28 12:45] Klaas- commented on #58632
Hi,
I can no longer produce this error, but there is no option to select a red hat plan as saving option in the pricing calculator. However the savings was working for SUSE plans before, this is also no longer select able :)

I am guessing there is some work being done on this issue.

Greetings
Klaas

[2020-07-28 12:49] nschuessler commented on #59693
I think there may be a misunderstanding here.
The `200 OK` with `text/html` is coming when I add `Authorization: Bearer <token>` to the `POST` to the api I created with ASP .Net core that I want to access.
I was using `HTTPClient` so it may be following some redirects with the default settings or coming from deep inside the asp.net core middleware.

So even after getting a token, it is sending bac

[2020-07-28 12:52] HarleyB123 opened #59842 "Require secure transfer from code property incorrect?"
Looking at the page [here](https://docs.microsoft.com/en-us/azure/storage/common/storage-require-secure-transfer#require-secure-transfer-from-code) I see it states that:

[code]
However, upon looking at the Python SDK for Azure, I instead see a property of *enable_https_traffic_only*, that I assume to be the correct property - see [here](https://docs.microsoft.com/en-us/python/api/azure-mgmt-stora

[2020-07-28 12:59] PerJohannes commented on #55930
It is still "cephalin-core" in <az sql db show-connection-string --client ado.net --server cephalin-core --name coreDB>

[2020-07-28 13:10] SumanthMarigowda-MSFT commented on #59831
@squasta Thanks for the question! We are investigating and will update you shortly.

[2020-07-28 13:31] jaffadog commented on #59529
Sharing some explicit sample queries. I search for some sample accounts with really old **last sign ins** in Log Analytics:

[code]

This returns accounts whose last sign in was in Jan/Feb (over 180 days ago). From these results, I search for one of these accounts using Graph:

[code]

But I get a result like this - with no signInActivity data:

[code]

But if I search for an account where the las

[2020-07-28 14:06] sam-lippert commented on #59090
Can you show me the modifications that I would need to make to my configuration to query the database directly?

[2020-07-28 14:23] squasta opened #59845 "Select Private endpoint during Storage account creation is not an option for testing nfsv3"
Connectivity Method to select when creating a Storage account :
"Public endpoint (selected networks) or Private endpoint"  ==> If you selected private networks, the options NFSv3 will be grayed and disabled in the Advanced tab. Only Public endpoint (selected network) enables the NFSv3 feature

--

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-07-28 14:28] amitabh-github opened #59846 "Custom endpoint in Azure IoT is restricted to 10 max"
We have a need to add more than 10 custom endpoint in message routing for IoT hub. Can anyone help me in getting to the right contact to get this done ? There is a linked issue as well for this : https://github.com/MicrosoftDocs/azure-docs/issues/32624 .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec6fc6a5-9bf6-889e

[2020-07-28 14:38] souravmishra-msft commented on #59023
Closing this thread for now.

[2020-07-28 14:42] danvalero commented on #59636
Thanks for the note on WS 2019. Is it documented somewhere? I could not find anything about it

[2020-07-28 14:53] mrbullwinkle commented on #59710
@burma-shave, ah that makes sense thank you so much for the detailed response. We definitely do not obfuscate the authenticated ID field in any way. I believe most the SDKs with the exception of the ASP.NET Framework SDK do not collect this value by default. I'll confirm with engineering and update the docs accordingly to make clear the behavior per SDK and call out that if you are overriding the

[2020-07-28 14:55] #59841 closed

[2020-07-28 14:59] zr-msft commented on #59841
Thank you for the feedback @MikkelMBXP.

I was able to run the commands in the article and reach the nginx controller using the IP. When running `helm install nginx-ingress ...`, did you replace values for `controller.service.loadBalancerIP` and `controller.service.annotations."service\.beta\.kubernetes\.io/azure-dns-label-name"` with your IP and unique label?

I updated the article to make this c

[2020-07-28 15:00] ImrePyhvel opened #59847 "Add required RBAC permissions for app service configuration tab in Portal"
It is a common need to provide read or write access to application configuration to certain team members without granting full contributor/owner permissions to entire app service.

Current documentation should include RBAC information:
* what are the minimal required RBAC permissions to read application settings? to write?
* what are the minimal required RBAC permissions to read connectionStrings?

[2020-07-28 15:06] #59618 closed

[2020-07-28 15:15] mrbullwinkle commented on #59706
@TimothyMothra & @rajkumar-rangaraj,  what is the preferred method of doing this?

I know DisableRunetimeInstrumentation = true, and EnableSqlCommandTextInstrumentation = false removes some of the more detailed SQL dependency collection, but is there an easy supported way to shutoff all SQL related dependency collection while still preserving automatic HTTP/s dependency collection?

[2020-07-28 15:17] NickDrouin opened #59848 "Gaps section should have a link to Azure-Samples/media-services-v2-dotnet-core-restsharp-sample"
The following sample includes how a Sprites job, a known gap, could be started in a modern NetCore Azure Function:
https://github.com/Azure-Samples/media-services-v2-dotnet-core-restsharp-sample

Consider adding it as a reference link to the Gaps section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7021e0cf-3f0c-1ae

[2020-07-28 15:32] djpmsft commented on #59830
Approved and signed off the PR and close the issue as its been fixed. @alexrusn, UAT is short for 'user acceptance testing' and is often the step before you deploy to production

[2020-07-28 15:32] djpmsft commented on #59830
#please-close

[2020-07-28 15:32] #59830 closed

[2020-07-28 15:32] zr-msft commented on #58550
Thank you @slawekww for the feedback.

This is related to the behavior of Azure Disk. We have add an item to our backlog to better explain the behavior of stateful situations with Availability Zones in our documentation. We will prioritize this task accordingly

cc @palma21

#please-close

[2020-07-28 15:32] #58550 closed

[2020-07-28 15:33] SaurabhSharma-MSFT commented on #59834
@Joe129 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-07-28 15:34] japere commented on #59825
We're working with the RDS team to get their help updating their docs.

[2020-07-28 15:34] SaurabhSharma-MSFT commented on #59839
@jflieben Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-07-28 15:35] Chai-NED opened #59849 "Webapp integration still in preview?"
Hi - Has this GA'ed? If so, do I need to still edit the host file to manage DNS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8fc5319-ac3d-db5d-a3d2-aa0e800a3c7e
* Version Independent ID: 4197cd82-b89e-ac93-d966-40c06e3e8588
* Content: [Connect privately to a Web App using Azure Private Endpoint](https://docs.micros

[2020-07-28 15:41] michaelburch commented on #59538
Thanks @AjayKumar-MSFT.

Here's a screenshot of the template that was deployed:

![image](https://user-images.githubusercontent.com/13478210/88688366-dc809780-d0be-11ea-8569-7793f5b4e6fe.png)

And here is the same resource in Resource Explorer, with no Zones property:

![image](https://user-images.githubusercontent.com/13478210/88688436-f1f5c180-d0be-11ea-920a-87f897ea714b.png)

[2020-07-28 15:42] MladjoA commented on #50456
@avinashkota Thanks again for the feedback.
The code sample has been fixed some time ago. Closing this issue now.

[2020-07-28 15:42] MladjoA commented on #50456
#please-close

[2020-07-28 15:42] #50456 closed

[2020-07-28 15:42] HarithaMaddi-MSFT commented on #59773
@Minewiskan - Can you please take a look and share your thoughts?

[2020-07-28 15:45] BrianLevenson commented on #59549
Managed Apps can be billed in any or all of these three ways: 1) Monthly flat fee 2) Metered billing based on consumption of ISV-defined events 3) Deploy a custom VM priced per hour per core

[2020-07-28 15:46] BrianLevenson commented on #59549
The billing period for Managed Apps is always monthly regardless of the billing model.

[2020-07-28 15:47] jay0604 commented on #57057
@VikasPullagura-MSFT

Any update or comment on my query ?

Thank you
Jayanth

[2020-07-28 15:49] VikasPullagura-MSFT commented on #57057
@rdeltcheva Can you please share your insights on this ask..

[2020-07-28 16:02] hpsin commented on #59693
@nschuessler - got it, thanks! That's super helpful.  So you created an API and sent it the token, and your ASP.NET code sent back the HTML? @jmprieur - sounds like this is not related to token issuance and is more of a "how to build and call an API" question.  Will let your expertise shine here :)

[2020-07-28 16:07] dimitri-furman commented on #56597
#please-close

[2020-07-28 16:07] #56597 closed

[2020-07-28 16:09] Mike-Ubezzi-MSFT commented on #59523
@saragluna Since we have not heard back from you we are going to move forward with closing this issue. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-28 16:09] #59523 closed

[2020-07-28 16:09] hpsin commented on #28317
@VQuery - are you requesting a token on v2 using scope=openid+profile+email? Without the latter two you will not get information about the user per spec.

[2020-07-28 16:17] NavtejSaini-MSFT commented on #59599
@dklwong We will be going ahead and closing this issue for now. If you still need help, please come back to us with documentation link and we will try to help.

[2020-07-28 16:17] #59599 closed

[2020-07-28 16:17] gs-repo commented on #58191
Thanks Pat, that was the order I was following. I took a look at the updated documentation and realized I might be making a mistake on the consortium connection part. What’s the process to connect to the orderer org client for #2 below?

[cid:image001.png@01D664BF.EC4A6D00]

Thanks,

Gurinder

From: Pat Altimore <notifications@github.com>
Sent: July 27, 2020 2:57 PM
To: MicrosoftDocs/azure-docs <a

[2020-07-28 16:19] RyanHill-MSFT commented on #59847
Thanks for the feedback @ImrePyhvel! We are currently investigating and will update you shortly.

[2020-07-28 16:20] RyanHill-MSFT commented on #59848
Thanks for the feedback @NickDrouin! We are currently investigating and will update you shortly.

[2020-07-28 16:20] himanshusinha-msft commented on #59421
@jeffmoltenberry  : When i look at the release notes here : https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/release-notes-10-0-10106-0#july-2020
I don't see anything mentioned about auto-statistics , but I will bank on content author @mlee3gsd  to update the document if its appropiate .

[2020-07-28 16:31] NavtejSaini-MSFT commented on #59544
@samrueby We contacted our doc author and some investigation is needed in this regard. So we are assigning this case to them.
@srdan-bozovic-msft Please check and help here.

[2020-07-28 16:33] NavtejSaini-MSFT commented on #59525
@anhlqn We check this with product owners and they conveyed these are valid, but not supported on Portal because customers should not set them, only delegate the subnet.
We are going ahead and closing these thread for now. If you have any further question or comment, please post here and we will look into the same.

[2020-07-28 16:39] GitaraniSharma-MSFT commented on #59748
@saurabhvartak1982 , thank you for the feedback. You are correct. I tried to add a new connection in an existing VPN gateway and there is no option to enable BGP while adding the new connection from the Virtual Network Gateway. Only after adding the connection, you can enable BGP on the "Configuration" tab.

While adding Connection in VPN gateway (No BGP option) -
![image](https://user-images.gith

[2020-07-28 16:39] VQuery commented on #28317
@hpsin yes I'm using all these scope in my call.

https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id=a535eb28-e87a-4565-946d-ebb298df75ac&scope=**openid**%20**profile**%20**email**&response_type=code&redirect_uri=https%3A%2F%2Flocalhost%3A44332%2Faccount%2Fsignin-microsoft&state=CfDJ8MNAoixKWeRFra-nk5VtvSaGesm26UAfk2JShOqoC4QJ0pmrBf1U6OLnNnZ16I26isYgzG1B4PBGpw5R1AAvjHAaf37vLR

[2020-07-28 16:43] MashaMSFT commented on #56953
Hi @lovevvolf, thanks for reaching out once more and I apologize for the delay, we are working through a greater than average number of Git Issues so our responses are slightly delayed. We're still investigating.

My apologies and thank you for your patience!
Masha from the SQL Docs team

[2020-07-28 17:00] JamesTran-MSFT commented on #59836
@jskop
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-28 17:01] YutongTie-MSFT commented on #59520
@MayMSFT Hi May, do you want to keep this issue opening or you have work item already for tracking? Are we good to close this? Thanks.

[2020-07-28 17:02] jgardner04 opened #59852 "AzCopy shortlink is difficult to follow using terminal commands"
Using the aka.ms shortlink without a direct link to the file makes using tools like `curl` or `wget` in a terminal only system difficult.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15911160-5ba2-fb0a-0b24-16b3857e20ce
* Version Independent ID: d925bc9f-f825-2f82-168c-6c30d716b9ce
* Content: [Copy or move data to Az

[2020-07-28 17:03] YutongTie-MSFT commented on #59512
@david-cornish
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion. Let me know if you have other question.

[2020-07-28 17:03] #59512 closed

[2020-07-28 17:05] brjohnstmsft commented on #59820
@wanttoh The issue you have opened is on [Azure Cognitive Search](https://azure.microsoft.com/services/search), but the API in your screenshot is something else (the host name is `api.support.microsoft.com`, which is not an Azure Cognitive Search service). Which Microsoft API are you trying to use exactly? Knowing this will help us direct your issue to the right team.

[2020-07-28 17:06] KranthiPakala-MSFT commented on #59671
@maheshksingh  We will now proceed to close this thread. If there are further questions, please feel free to comment and tag us in your reply. We will gladly continue the discussion.

[2020-07-28 17:06] #59671 closed

[2020-07-28 17:08] MartinJaffer-MSFT commented on #59684
@JasonBSteele thank you for the feedback.  Even as a native English speaker, I was unaware of the subtle difference of i.e. vs e.g. .

According to dictionary.com , i.e. is used when supplying definitions or elaborations.  e.g. is used when supplying examples.

I will make the change.

[2020-07-28 17:13] TerryLanfear commented on #59828
@Krytical13 - Thank you for the feedback. I will update this section to reword the sentence you reference to indicate that the customer needs to take action to remove access and provide a link to instructions on how to remove access. I will also remove the link to the team blog. Again, thank you.

[2020-07-28 17:13] TerryLanfear commented on #59828
@shashishailaj - Please assign this PR to me. Thank you.

[2020-07-28 17:14] Grace-MacJones-MSFT commented on #59429
Thanks for bringing this issue to our attention @lokijota, This issue is outside the scope of the doc. We try to keep issues scoped to doc feedback in this repro.

With that being said, this does require further investigation. In order to do that, can you please email me at azcommunity@microsoft.com with your subscription ID and the URL of this thread? So we can look deeper into the issue

Thank y

[2020-07-28 17:14] #59429 closed

[2020-07-28 17:18] Nickomang commented on #59034
Hi @m1nkeh, I'm advancing the issue internally within the SF team, and hopefully will have more information for you soon.

[2020-07-28 17:21] #59684 closed

[2020-07-28 17:23] amit17051980 commented on #59746
While using v1, I get the below issue:

"invalid_request","error_description":"AADSTS900144: The request body must contain the following parameter: 'resource'

[2020-07-28 17:26] himanshusinha-msft commented on #59833
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-07-28 17:28] roygara commented on #59780
#assign: jeffpatt24

[2020-07-28 17:30] rolyon commented on #56412
Hi @ariso353
I made some updates to the doc. Let us know if you have any additional feedback.
https://docs.microsoft.com/en-us/azure/role-based-access-control/change-history-report#azure-powershell
thanks

[2020-07-28 17:31] rolyon commented on #56412
#please-close

[2020-07-28 17:31] #56412 closed

[2020-07-28 17:31] acarlstein commented on #48897
Greetings @DCtheGeek, I was wondering... do you have some examples of what could be the possible causes for this issue that you could share, please? Thanks.

[2020-07-28 17:34] DCtheGeek commented on #48897
@acarlstein As far as I know, they are all paths that require a support ticket.  So if you are seeing this issue, please create a [support ticket](https://azure.microsoft.com/support/create-ticket/).

[2020-07-28 17:38] dave-007 commented on #59640
I will try to apply this example to my situation. I've noted other examples that pass the JSON content using a @filename.json as an intermediary step. Is there a supported way to pass JSON without saving it as a file first?

[2020-07-28 17:39] AjayKumar-MSFT commented on #59548
slmagus, We will close this thread for now. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion. Thanks again for your feedback.

[2020-07-28 17:39] #59548 closed

[2020-07-28 17:43] roygara commented on #59750
@smotwani Hello, thanks for reaching out. Would you clarify why you think this value is incorrect? We just checked with the product team, they say it's still 2048 GiB.

[2020-07-28 17:45] roygara commented on #59780
@the-grayest Thanks for reaching out, we appreciate it!

We think this information is best suited to the [file sync troubleshooting guide](https://docs.microsoft.com/en-us/azure/storage/files/storage-sync-files-troubleshoot?tabs=portal1%2Cazure-portal), so we will add it there and update this issue when that is complete.

[2020-07-28 17:49] anumjs commented on #59833
Varbinary(max) is currently not supported for input data types as mentioned in the document. Can you please share you sample you tried so we can have a look? This concept doc doesn't provide a sample.

[2020-07-28 17:51] Leonardo-Ferreira commented on #59706
I kinda managed to work around this with a Telemetry processor, but that is "prone-to-error" to say the least

[2020-07-28 17:52] ChaitanyaNaykodi-MSFT commented on #59837
@vlad610, Thank you for your feedback! We will review and update as appropriate.

[2020-07-28 17:55] twooley commented on #55940
@JasonCard Hi, Jason. The import/export topics with no TOC entries are on our radar to remove and redirect. We have a work item for this. Feel free to contact me directly in email if you have any follow-up/additional questions. Thanks.

Closing this issue as we have an associated work item.

#please-close

[2020-07-28 17:55] #55940 closed

[2020-07-28 17:57] Grace-MacJones-MSFT commented on #59422
Hi @jeepwran, we apologize for the confusion in the validation steps. The "asuid" is referring to the verification ID you got earlier after you added a custom domain to your app. You only need to add a TXT record to your DNS in order to verify your domain ownership. Please use  `asuid.{subdomain}` instead of `awverify.{subdomain}` to verify your domain ownership

As [doc](https://docs.microsoft.co

[2020-07-28 17:57] #59422 closed

[2020-07-28 17:59] lobrien commented on #59053
You can view API documentation at https://docs.microsoft.com/en-us/rest/api/azureml/. Note that the REST API is in Preview and is undergoing active development, so the documentation for particular services may not yet exist.

[2020-07-28 18:00] SatishBoddu-MSFT commented on #59829
Hello @Druffl3 Thanks for reaching out to us, we will update you soon on this.

[2020-07-28 18:01] DerekHerman-MSFT commented on #59842
@HarleyB123
Thanks for reporting this! It appears that enableHttpsTrafficOnly is the correct property, as demonstrated by the Powershell and CLI examples on the same page. Could you update your PR to remove the underscores?

[2020-07-28 18:03] MarileeTurscak-MSFT commented on #59835
@sven5
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-28 18:10] bandersmsft commented on #57584
@danielbjork Very good. I'll update based on your suggestion with https://github.com/MicrosoftDocs/azure-docs-pr/pull/124071.

[2020-07-28 18:11] becke-ch-s0-v1 commented on #59053
Hi, the link does not really help because it only contains REST API Calls targeting ARM: "https://management.azure.com/..." and none of them is targeting the API Server: "https://{regional-api-server}/...". Is this a bug?

[2020-07-28 18:11] twooley commented on #30287
Hello, @usavilaje. My sincere apologies for the delay in responding. There is a dedicated article for Gen2 best practices (which you've probably already discovered by now) here - https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-best-practices. Let us know if that content doesn't meet your needs.

#please-close

[2020-07-28 18:11] #30287 closed

[2020-07-28 18:15] DerekHerman-MSFT commented on #59845
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-28 18:17] twooley commented on #39409
Hello, @Alan-d. Closing this issue as the link was fixed in the doc quite some time ago. Thanks for reporting this issue.

#please-close

[2020-07-28 18:17] #39409 closed

[2020-07-28 18:21] Karishma-Tiwari-MSFT commented on #59841
Thanks @zr-msft

[2020-07-28 18:21] behzad-a commented on #59787
@femsulu Here's a screenshot from the portal. AuthLevel in the function is set to "anonymous", but App Service authentication is turned on to log in with Active Directory.
![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/7513849/88705396-78210080-d0dd-11ea-9d9b-3492fa11c7c6.png)

[2020-07-28 18:22] krish-gh commented on #59746
Yes, in case of V1, instead of scope, it should be resource in the request body (my bad, I should have mentioned above).
So, your code should post resource instead of scope like below:
[code]
And config:
[code]

[2020-07-28 18:25] dave-007 commented on #59640
I'm accomplishing my goal using the PowerShell cmdlets. I appreciate the help!

[2020-07-28 18:26] BharathNimmala-MSFT commented on #59508
Thank you @stephbaron for helping on this.

@itahirov Thanks again for your feedback, we have discussed this with our document author @stephbaron and the [document ](https://docs.microsoft.com/en-us/azure/service-health/resource-health-checks-resource-types#microsoftwebsites) will be updated as part of backlog item.

Hope the above information helps. At this point it appears that there's no furthe

[2020-07-28 18:26] #59508 closed

[2020-07-28 18:27] MayMSFT commented on #59520
good to close

[2020-07-28 18:36] anosov1960 commented on #55587
#reassign: @MashaMSFT

[2020-07-28 18:41] DerekHerman-MSFT commented on #59852
@jgardner04 In the documentation we show how to get the location, you can then use this location with wget. Was there something else that was causing issues here?

[code]

[2020-07-28 18:42] MartinJaffer-MSFT commented on #59664
Thank you for your feedback. This has been assigned to the content owner, @linda33wj , for further review.

Linda, can you please take a look at this feedback?

[2020-07-28 18:52] SaurabhSharma-MSFT commented on #59678
@NickDorak We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-07-28 18:52] #59678 closed

[2020-07-28 18:54] SaurabhSharma-MSFT commented on #59787
@behzad-a Did you check the application logs for any more detailed error ?

[2020-07-28 19:02] osaid202 opened #59858 "Cant access "Authentication methods" page even with Authentication admin role"
Error:
{ "shellProps": { "sessionId": "d30d78aa44a248ac9531fb884a6c429d", "extName": "Microsoft_AAD_IAM", "contentName": "AdminAuthMethodsBlade", "code": 403 }, "error": { "message": "You don't have access to this data.", "code": 403 }}

![image](https://user-images.githubusercontent.com/53295189/88709555-f6c86e80-d0da-11ea-87ac-69d4104d9fea.png)

---
#### Document Details

⚠ *Do not edit this sec

[2020-07-28 19:08] Chai-NED opened #59859 "When do I scale?"
Hi - It would be super useful to share a couple scenarios here.  For example, monitor Data IN metric, when it reaches X, it is time to scale to the next tier.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44c8de6c-a71b-7c7d-69f5-b1ec446f33ff
* Version Independent ID: 85f9c74a-7039-f466-f2da-bef5eaf106a1
* Content: [Sc

[2020-07-28 19:28] femsulu commented on #59838
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-07-28 19:38] behzad-a commented on #59787
I'm not sure where I need to look for application logs. Does ASA request access tokens for AD? I haven't configured API permissions for the ASA job to allow it to use the Function, and I don't see an option anywhere to do so.

[2020-07-28 19:38] vignatov opened #59868 "OpenId Connect Login Endpoint"
I set up OpenId connect as specified, however, I cannot find what endpoint I should use to perform login? The article does not say. For example Active Directory has `/.auth/login/aad`, while Google has `/.auth/login/google`.

Can you specify how to set it up?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffd28ed3-76d0

[2020-07-28 19:38] femsulu commented on #59846
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2020-07-28 19:43] femsulu commented on #59549
thanks for the input, Brian.

@brbel  - hope the above answers your specific questions.
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-07-28 19:43] #59549 closed

[2020-07-28 19:43] vignatov opened #59870 "/.auth/me in File-Based Configuration"
After enabling file-based configuration I cannot seem access `/.auth/me` endpoint anymore (returns 404). Am I missing any configuration?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffd28ed3-76d0-f9d0-dbff-f29db6fe8b3d
* Version Independent ID: b0ca2e70-d558-d562-2a66-0d07fef5ef6a
* Content: [Configure an OpenID Conn

[2020-07-28 19:55] SQLSourabh commented on #59838
Worked with Shane offline and have updated the docs to reflect the changes. Please close this PR.

[2020-07-28 20:04] akramwaseem opened #59871 "How to enable accelerated networking using ARM template on VMss"
Hi, Can we add more info on how to enable using ARM template for VMss ?
Right now I can see we can do this using Az. but with ARM template that would be great.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f89338c0-968d-c22f-5b0d-ed3870ebc2fa
* Version Independent ID: 6daae1cc-f758-1d37-9de3-80a2832c08ef
* Content: [C

[2020-07-28 20:08] dcormier opened #59872 "Error code consent_required not documented"
In [this section](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow#error-codes-for-authorization-endpoint-errors), the error code `consent_required` is not listed. I received this error code while testing what would occur if I clicked "cancel" during the OAuth flow when presented with the permissions the app is requesting.

---
#### Document Details

⚠ *Do n

[2020-07-28 20:14] RyanHill-MSFT commented on #59849
@Chai-NED, as of right now, Private Endpoint for a Web App is still under preview. I've reached out to the product group for any updates on a tentative schedule. I'll update this thread once I get those details. If you have any further questions, feel free to re-open and mention me in your reply.

[2020-07-28 20:14] #59849 closed

[2020-07-28 20:16] anosov1960 commented on #38695
#reassign: @Sait-MSFT

[2020-07-28 20:16] PRMerger9 commented on #38695
Sait-MSFT is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-07-28 20:17] anosov1960 commented on #38080
#reassign: @Sait-MSFT

[2020-07-28 20:17] PRMerger9 commented on #38080
Sait-MSFT is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-07-28 20:21] diberry commented on #59036
This fix will be published today. #please-close

[2020-07-28 20:21] #59036 closed

[2020-07-28 20:22] tobystic commented on #59643
Currently, user can click on "Assign" to find the Managed rule set option. Might not be intuitive but hope it helps someone out there

[2020-07-28 20:25] mindlessroman opened #59873 "Update Docs: Installation Link"
The installation link leads to the older documentation. `https://github.com/Azure/azure-cosmos-js#installation` does not exist anymore and there's the message `🚨This SDK is now maintained at https://github.com/Azure/azure-sdk-for-js 🚨`. Docs should be updated to reflect this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-07-28 20:27] JamesTran-MSFT commented on #59836
@jskop
I have assigned this issue to the author who will investigate and update as appropriate.

[2020-07-28 20:27] anosov1960 commented on #38080
#reassign: @MashaMSFT

[2020-07-28 20:29] anosov1960 commented on #33781
#reassign: @MashaMSFT
See my comment above

[2020-07-28 20:30] anastasia-ms commented on #59811
Thank you! I will fix this error in the document now.

[2020-07-28 20:31] anosov1960 commented on #28720
#reassign: @MashaMSFT
@Sait-MSFT pls provide your input

[2020-07-28 20:32] shawnhurt-msft opened #59874 "Link issue for display name"
The following link resolves to a portal page that has an issue with display name.

https://portal.azure.com/#blade/Microsoft_Azure_Policy/PolicyDetailBlade/definitionId/%2Fproviders%2FMicrosoft.Authorization%2FpolicyDefinitions%2F12794019-7a00-42cf-95c2-882eed337cc8

This opens up a Portal page to create an extension, but the default display name for it is 139 characters long. The field only allow

[2020-07-28 20:38] ChaitanyaNaykodi-MSFT commented on #59539
@jstafford5380, Just following up here. Hope my comment above was able to answer your question.

[2020-07-28 20:44] ibidani commented on #59617
Thanks

[2020-07-28 20:49] #59811 closed

[2020-07-28 20:49] anastasia-ms commented on #59829
Currently, there is no way to retrieve lat/lon values for a specific unit within a facility.  I have inquired as to whether or not this feature will be included or considered in the future. I will let you know when I hear from the project manager.

[2020-07-28 20:51] DCtheGeek commented on #59874
#assign:DCtheGeek

[2020-07-28 20:54] DCtheGeek commented on #59874
@shawnhurt-msft Thanks for the feedback. You are correct that the source of the issue is the long **displayName** field on that policy definition. The team is working to fix this.  Once fixed, the same link will work as expected.  As there is no change to docs on this, I'm going to go ahead and close this issue.  Thanks!

@MicrosoftDocs/azure-cxp-triage Please label "product-issue" and #please-clo

[2020-07-28 20:54] #59874 closed

[2020-07-28 20:55] Geoman42 opened #59875 "Set-AdfsProperties -AuditLevel Verbose is incorrect in 2012r2 it should be Set-AdfsProperties -LOGLevel Verbose"
Set-AdfsProperties -AuditLevel Verbose is incorrect in 2012r2  it should be Set-AdfsProperties -LOGLevel Verbose

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb5cf254-9d8e-de7a-30e8-487b68205bc2
* Version Independent ID: 28bc66e2-0de2-73e6-8cb8-243daab81628
* Content: [Azure AD Connect Health Agent installation](http

[2020-07-28 21:00] osaid202 opened #59876 "Can I continue using MFA enabled through M365 to deploy SSPR and password-less authentication?"
Or do I have to scrape it and enable MFA using conditional access?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80005683-d3e5-aab5-2642-677a2ef96203
* Version Independent ID: 6abac9a6-5472-62c3-5eae-fa39ecccd12e
* Content: [Enable Azure Multi-Factor Authentication](https://docs.microsoft.com/en-us/azure/active-direct

[2020-07-28 21:06] msmimart commented on #52009
@ctrcdanielyu - Looks like this is an issue from a while back, apologies for the delay. Based on subsequent feedback, it looks like the setup instructions have been working for others, but is this still an issue for you? I'll go ahead and close this for now, but feel free to reopen if necessary. #please-close

[2020-07-28 21:06] #52009 closed

[2020-07-28 21:08] AjayKumar-MSFT commented on #59655
@edulorenzo,  We have made the requested changes via a PR and is submitted for author's review. Once the PR is merged, the document would reflect the changes soon.  We will close this out, but if you feel you need more information please just let us know. Thanks again for taking time to share your feedback.

[2020-07-28 21:08] #59655 closed

[2020-07-28 21:14] akramwaseem commented on #59871
I found the documentation for the issue I described above.
https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-networking

[2020-07-28 21:14] #59871 closed

[2020-07-28 21:16] TravisCragg-MSFT commented on #59542
@solidcloudio We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-28 21:16] #59542 closed

[2020-07-28 21:27] SaurabhSharma-MSFT commented on #59529
@jaffadog Thank you for sharing the detailed information.  I am working on this and update you once I hear back from the product team.

[2020-07-28 21:33] ggailey777 commented on #52396
#assign:ggailey777

[2020-07-28 21:36] msmimart commented on #58482
@APIWT this is a great suggestion. I've added this request to our backlog and will link the update to this issue when the changes are published. Since I'm tracking this internally I'll go ahead and close this issue now. Thanks again for your feedback. #please-clos

[2020-07-28 21:36] #58482 closed

[2020-07-28 21:47] PatAltimore commented on #58191
@gs-repo Hi Gurinder,

Your image didn't embed correctly. I'm including the parameters I used to create a orderer node and a peer node, commands I copied and pasted, and the console log from Azure Cloud Shell.  I hope seeing my commands and output will help you. I'm having a problem instantiating chaincode. I'm looking into that. Hope this helps:

## Orderer node deployment using HLF template:

Ne

[2020-07-28 21:48] Grace-MacJones-MSFT commented on #59698
Hi @IUnknownPtr,  no it is not possible to scale Reserved Units with ARM template .  The API to control the Media Reserved Unit count and type is on the legacy RESTv2 data plane API.  It is not exposed via ARM.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the i

[2020-07-28 21:48] #59698 closed

[2020-07-28 21:56] cherylmc commented on #59748
Thanks! I'll add this as a doc bug and put it in the queue. #please-close

[2020-07-28 21:56] tfitzmac commented on #59719
@artisticcheese - are you still seeing this error?

[2020-07-28 21:56] #59748 closed

[2020-07-28 22:05] jgardner04 commented on #59852
No, that is what I needed I just didn't look far enough down.

[2020-07-28 22:08] #59852 closed

[2020-07-28 22:08] travis-c-lagrone commented on #57721
@mssaperla

[2020-07-28 22:08] travis-c-lagrone commented on #57720
@mssaperla

[2020-07-28 22:09] travis-c-lagrone commented on #59272
@mssaperla

[2020-07-28 22:09] artisticcheese commented on #59719
Yes. This seems to be related to specifically moving NICs and in turn seems to be relevant to big rate of creating/removing NICs on the same VNET by other compute resources. I'm wondering if there is a known issue that for move to happen entire VNET shall be idle for certain amount of time or there is some other requirement encompassing entire VNET (not specific subnet)

[2020-07-28 22:09] travis-c-lagrone commented on #59271
@mssaperla

[2020-07-28 22:19] TravisCragg-MSFT commented on #59871
@akramwaseem Thanks for following up!

[2020-07-28 22:35] rolyon commented on #53680
Hi @kilasuit
I added a section about listing role assignments for a resource. Let us know if you have any additional feedback.
https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-list-powershell#list-role-assignments-for-a-resource
thanks

[2020-07-28 22:35] rolyon commented on #53680
#please-close

[2020-07-28 22:35] #53680 closed

[2020-07-28 22:36] Mike-Ubezzi-MSFT commented on #59627
@tx5westmt In looking into this, can you recall the exact changes you made? The document states the following `For Ongoing Sync` in the [Database accounts with least required privileges](https://docs.microsoft.com/en-us/azure/azure-sql/database/sql-data-sync-best-practices#database-accounts-with-least-required-privileges) section:

_Select_/ _Insert_/ _Update_/_Delete_ on tables that are `selected

[2020-07-28 22:38] mmacy commented on #36432
@psignoret I'm going to take this one and have a go at integrating what you've spelled out in https://github.com/MicrosoftDocs/azure-docs/issues/36432#issuecomment-546324396. Will tag you in the PR for a review.

Cc: @SaeedAkhter-MSFT @CelesteDG @hpsin

#reassign:mmacy

[2020-07-28 22:38] anosov1960 commented on #38695
#reassign: @MashaMSFT
Needs input from Morgan

[2020-07-28 22:59] anosov1960 commented on #39974
#reassign: @MashaMSFT
I am not sure if it is incorrect but if so pls fix the grammar.

[2020-07-28 23:01] anosov1960 commented on #44134
#reassign: @MashaMSFT
pls get input from @Sait-MSFT. If this is no longer supported we need to correct the doc.

[2020-07-28 23:03] anosov1960 commented on #45014
#reassign: @MashaMSFT
pls work with @Sait-MSFT to suggest the trigger options.

[2020-07-28 23:05] anosov1960 commented on #47214
#reassign: @MashaMSFT
Pls get input from Borko

[2020-07-28 23:06] anosov1960 commented on #50133
#reassign: @MashaMSFT
Pls get input from @Sait-MSFT

[2020-07-28 23:08] anosov1960 commented on #50659
#reassign: @MashaMSFT
pls get input from @Sait-MSFT

[2020-07-28 23:11] twooley commented on #43061
Hi, Erin (@ekpgh). I updated the title to make it more in sync with the TOC entry as it has both a high availability and a disaster recovery slant. Thanks for the suggestion (and apologies for the delay).

#please-close

[2020-07-28 23:11] anosov1960 commented on #58974
#reassign: @MashaMSFT
I think there is enough feedback to document it. The original content is not  incorrect. Perhaps we just need to use a consistent language re RPO.

[2020-07-28 23:11] #43061 closed

[2020-07-28 23:11] ConnorMcMahon opened #59880 "Documentation needs more clarification about how to use Azure Storage with Regional VNETs"
Most Function apps use storage, and while this article mentions many features that can be used with Azure Functions and Regional VNETs, it does not really detail best practices for how to configure Storage Accounts with VNETS. Ones that come to  top of mind include:

1. If using WEBSITE_VNET_ROUTE_ALL, then your storage account MUST configure service endpoints for the VNET.
2. The storage account

[2020-07-28 23:18] NavtejSaini-MSFT commented on #59873
@mindlessroman We are checking this and will get back to you.

[2020-07-28 23:20] rwike77 commented on #59418
@kilasuit, thanks for pointing this out.  I've updated the graphic, updates will publish tomorrow morning.  #please-close

[2020-07-28 23:20] #59418 closed

[2020-07-28 23:21] BharathNimmala-MSFT commented on #59522
@AntZhelev Apologies for delayed response. Thanks again for sharing your feedback, we have forwarded this feedback to our document author @tfitzmac to evaluate and have a back log item for the same to update the document accordingly.

We will go ahead and close this issue for now, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continu

[2020-07-28 23:21] #59522 closed

[2020-07-28 23:33] ms-yuukih opened #59881 "UpgradeNotSupportedInvalidPersistedState needs to be removed"
According to https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-version-history#new-features-and-improvements-12, AADC's auto upgrade now supports installation with Express settings or a DirSync upgrade.
So, "UpgradeNotSupportedInvalidPersistedState " in this page should be removed from one of the unsupported scenarios.

---
#### Document Details

⚠ *Do not edit this

[2020-07-28 23:38] NavtejSaini-MSFT commented on #59873
@mindlessroman We have raised a request to correct this. Once author takes their decision to approve or make changes to the request, new document will be live.

[2020-07-28 23:39] #51341 closed

[2020-07-28 23:39] PatrickFarley commented on #59011
Reaching out to the dev team to get these samples updated

[2020-07-28 23:40] cgillum commented on #51341
I went ahead and submitted an update to this doc. For .NET, you should use [ListInstancesAsync](https://docs.microsoft.com/dotnet/api/microsoft.azure.webjobs.extensions.durabletask.idurableorchestrationclient.listinstancesasync?view=azure-dotnet#Microsoft_Azure_WebJobs_Extensions_DurableTask_IDurableOrchestrationClient_ListInstancesAsync_Microsoft_Azure_WebJobs_Extensions_DurableTask_Orchestration

[2020-07-28 23:41] MarileeTurscak-MSFT commented on #59872
@dcormier
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-28 23:43] PatrickFarley commented on #59398
@cglong Thank you for pointing out these liabilities. We're currently reevaluating our approach to REST samples. In the meantime, I encourage you to use the native JavaScript SDK instead - https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstarts/client-library?tabs=windows&pivots=programming-language-javascript
#please-close

[2020-07-28 23:43] #59398 closed

[2020-07-29 00:03] MarileeTurscak-MSFT commented on #59881
@ms-yuukih
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-29 00:07] MarileeTurscak-MSFT commented on #59881
Thanks! I made a pull request to remove this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/124166

[2020-07-29 00:07] #59881 closed

[2020-07-29 00:08] Mike-Ubezzi-MSFT commented on #59802
In reviewing this Quickstart, I have noticed the following issues:

- The included port property value in the `contactPoint` property when there is already a `port` property in the `config.py`.
- The `certpath` property is missing from the `config.py` or (as the document provides instruction for) is missing from the `auth_provider` list of _cfg.config_ variables as there is no `path\to\cert` to up

[2020-07-29 00:34] MarileeTurscak-MSFT commented on #59858
@osaid202
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-29 00:36] jwisener opened #59884 "Incorrect steps"
This is not correct if you had created your function in the portal, there is no bin folder. and there is no file called extensions.csproj

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3860299c-2743-1f72-2f64-e75df726502e
* Version Independent ID: f0ccb0f1-eaa3-088e-27f1-3cc28d3efa40
* Content: [Manually install or upd

[2020-07-29 00:48] ChaitanyaNaykodi-MSFT commented on #59539
@jstafford5380  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion

[2020-07-29 00:48] #59539 closed

[2020-07-29 00:48] ShadowXVII opened #59885 "Update instructions for unified experience and power apps admin portal"
I couldn't apply the Security Role customisation directly to the managed app, so I had to create a secondary app to customize them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb2ad729-6bcd-dc00-f472-ed39b10da509
* Version Independent ID: 61a120d7-2a43-76d6-01ee-a2f19ce07c6c
* Content: [Lead management for Dynamics

[2020-07-29 00:53] ohorvath opened #59886 "Coredns is not deployed as a daemonset in AKS"
This section states that coreDNS in AKS runs as a deamonset, however it runs as a deployment instead.

_**"Regarding DNS, with both kubenet and Azure CNI plugins DNS is offered by CoreDNS, a daemon set running in AKS."**_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9615c579-305d-2482-7eaf-2d120c75e8d5
* Version Inde

[2020-07-29 01:16] WhitWaldo opened #59888 "Supported Linux Versions"
The supported Linux versions list only Ubuntu 16.04 LTS. Even if no other versions but Ubuntu are supported, does Service Fabric also include support for Ubuntu 18.04 LTS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a09cfeaf-9c26-2722-0141-91e3bf0a5652
* Version Independent ID: d3f1a221-1756-7efb-8d53-a84368d9db12
*

[2020-07-29 01:36] Karishma-Tiwari-MSFT commented on #59675
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-29 01:41] sorabhm opened #59890 "Restrictions applied are not specified in the docs"
Any restrictions related to the region/subscription/resource group of the Azure Storage Account or Log Analytics workspace have not been given on the page. It will be good to understand/know if my database is in say East US, can I enable auditing to a storage account under a different resource group or location (say Europe).

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2020-07-29 01:42] lenssoliang opened #59891 "The screen-shot is for EventHub not ServiceBus."
The screen-shot is for EventHub not ServiceBus.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e147f10f-d686-829a-bc46-62de76b7ca01
* Version Independent ID: 7a0ad19d-d13e-4ee3-68fa-79a899ba0705
* Content: [Configure virtual network service endpoints for Azure Service Bus - Azure Service Bus](https://docs.microsoft.com

[2020-07-29 02:25] BhargaviAnnadevara-MSFT commented on #59884
@jwisener Thanks for the question! We're investigating this and will get back to you shortly.

[2020-07-29 02:41] MayankBargali-MSFT commented on #59891
@lenssoliang Thank you for your feedback! We have reviewed and assigned it to the author to update as appropriate.

[2020-07-29 02:50] wanttoh commented on #59820
@brjohnstmsft
Yes, thank you for your idea. I hava tried a lot and I find that this api may not support such logical operators although it is offered by microsoft to. I used to use these logical operators when visiting microsoft graph apis and its true that they have differences with each other.
Anyway, thank you for your suggestions, you are so kind.
(´▽`ʃ♡ƪ)

[2020-07-29 02:50] #59820 closed

[2020-07-29 03:00] MS-jeremy opened #59892 "935214 $facet should be already supported in Cosmos DB's API for MongoDB 3.6 version?"
[Enter feedback here]
$facet should be already supported in Cosmos DB's API for MongoDB 3.6 version?
But it's still listed as "not" suppoted in this page
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc2f5f65-888a-1e53-83f3-125bb4f6564b
* Version Independent ID: 68adb7d7-33bd-1267-cbb8-ffa29efdc0e3
* Content: [Azure Co

[2020-07-29 03:18] PramodValavala-MSFT commented on #59880
@ConnorMcMahon Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2020-07-29 03:43] #59873 closed

[2020-07-29 03:51] Ayanmullick opened #59893 "PowerShell steps for migration"
Is there PowerShell documentation on how to do an agentless migration from on-prem VMware to Azure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b83e320-c9a0-204c-dca5-b0ed60ce2470
* Version Independent ID: 8862ff67-2c6e-cb8f-3f8c-2c1f51a37f68
* Content: [Migrate VMware VMs agentless Azure Migrate Server Migration -

[2020-07-29 04:09] rick-hayek opened #59894 ""Forgot your password" link"
Sorry I'm not sure where I can ask this question. please forward it if not appropriate here.

We have following scenarios:
We provide end user (who is assumed as a customer admin) the ability to create local account (stored in b2c). After new account gets created, an email will be sent to customer user mailbox where a "Password reset link" is included.
We want to leverage the existing reset passwo

[2020-07-29 04:10] AnuragSharma-MSFT commented on #59892
@MS-jeremy Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-07-29 04:11] AnuragSharma-MSFT commented on #59890
@sorabhm Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-07-29 04:17] takeakitake commented on #59472
Thank you. I understood that Microsoft 365 Business plans is excluded in this page. But I wish the page should be added Microsoft 365 Business plans information. It may not be your area.. Please close this query.

[2020-07-29 04:18] #59472 closed

[2020-07-29 04:19] djivc opened #59895 "Command Not Exported"
We are having trouble getting the module being loaded not including the exported command referenced on line 66 of the document (in your source code for the page, that is).

This module exists and can be imported OK:
[code]

But when I try to run the following command nothing happens:
[code]

I ran an export on the imported commands and inspected the module itself. The module inspection yielded no

[2020-07-29 04:25] jwisener opened #59896 "Not working"
This currently does not work in azure. A change has been rolled out that has broken binding when dealing with cloudtable

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fb82e02-5c41-239b-4903-aab80ff15215
* Version Independent ID: 38f1c69b-f7af-5e13-1cdc-b6b7053d2f7b
* Content: [Register Azure Functions binding extensi

[2020-07-29 04:35] stas-sultanov commented on #59764
Greeetings,

unfortunately the article does not provide exact steps which user (Employee) must take to give consent and link to linkedin.

this article does not provide this information also
 https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/linkedin-user-consent

with help of google we have found that if only user wants to link data he should:
1. open Outlook web
2. open

[2020-07-29 04:38] SnehaAgrawal-MSFT commented on #59859
@Chai-NED Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-29 04:41] SnehaAgrawal-MSFT commented on #59868
@vignatov Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-29 04:42] SnehaAgrawal-MSFT commented on #59870
@vignatov Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-29 04:46] SanaChopra commented on #59090
Sorry if I wasn't clear.
So, if you want transaction info of a contract, then you can check the Workbench app service and that'll have the transaction info for that contract.  If you want all transaction info, immaterial of contracts/action, then directly from database is the option. You don't need to use the smart contract in this case for getting that info.

[2020-07-29 04:57] ryanmajidi commented on #57048
#assign:xujxu
#please-close

[2020-07-29 04:57] #57048 closed

[2020-07-29 05:09] Faiqg opened #59897 "Broken link to ExpressRoute doco"
Link to ExpressRoute doco is missing on this text under Limitations section

`On-premises via ExpressRoute
`
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2eb5097c-fc6e-f0a5-07a6-a84e05aa0bb6
* Version Independent ID: 1004e6b8-344f-6fdc-391a-35c540f4bf9d
* Content: [VNet endpoints and rules for databases in Azure SQL Datab

[2020-07-29 05:17] psmanhas commented on #59875
@Geoman42  Thank you for the feedback. We will work on it and will keep you updated on the thread

[2020-07-29 05:18] VikasPullagura-MSFT commented on #59886
@ohorvath Thanks for pointing this out.

Yes, this runs as deployment, we are updating the document to reflect this.

[2020-07-29 05:22] psmanhas commented on #59876
@osaid202 Thank you for the feedback. We will work on it and will keep you updated on the thread

[2020-07-29 05:32] AnuragSharma-MSFT commented on #59897
@Faiqg Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-07-29 05:38] psmanhas commented on #59888
@WhitWaldo Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2020-07-29 05:39] JayaChatterjee-MSFT commented on #59524
@aschuhardt Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-29 05:39] #59524 closed

[2020-07-29 05:39] Bafff opened #59898 "What is isReceivedFromClient"
I see in logs that isReceivedFromClient now appears in the FD logs.

Can you please update the documentation to reflect the current state of the FD log file and all properties' meanings?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62f7409d-5cbe-20d0-e37a-891981ecac97
* Version Independent ID: ad725093-ebd3-ecfc-84c8

[2020-07-29 05:50] #59023 closed

[2020-07-29 06:05] AnuragSharma-MSFT commented on #59785
@arthur1993 This is being assigned to the content author to evaluate and update as appropriate.

[2020-07-29 06:06] hund030 opened #59899 "Wrong description in "Using Azure CDN with SAS" document"
For option 1: Using SAS with pass-through to blob storage from Azure CDN, the document says:

In my understanding, the "CDN origin server" indicates the blob storage URL but this is counterintuitive. I have reproduced the situation by using an out of date SAS token to access the blob storage and CDN endpoint. The blob storage rejected my request while the CDN endpoint accepted it and showed me the

[2020-07-29 06:06] AnuragSharma-MSFT commented on #59826
@cpatil7 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-29 06:06] #59826 closed

[2020-07-29 06:07] SadiqhAhmed-MSFT commented on #59893
@Ayanmullick Thanks for the comment. We are looking into this and will get back to you shortly.

[2020-07-29 06:08] SadiqhAhmed-MSFT commented on #59885
@ShadowXVII Thanks for the comment. We are looking into this and will get back to you shortly.

[2020-07-29 06:08] AnuragSharma-MSFT commented on #59897
@Faiqg This is being assigned to the content author to evaluate and update as appropriate.

[2020-07-29 06:13] #59886 closed

[2020-07-29 06:35] SwathiDhanwada-MSFT commented on #59484
@ChristopheH-Ekonoo Kindly note that you cannot manage VM across subscriptions.If that is not the case, I recommend engaging our technical support team to investigate further. Please file a support case using [these steps](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). If you do not have a support plan, send mail to AzCommunity@microsoft.co

[2020-07-29 06:35] #59484 closed

[2020-07-29 06:41] GitaraniSharma-MSFT commented on #59898
@Bafff , We have assigned this issue to the respective product owner for updating the doc accordingly.
@sharad4u , Could you please provide your insights here?

[2020-07-29 06:43] PramodValavala-MSFT commented on #59896
@jwisener Thanks for the feedback!

I believe it's possible a newer version of the storage extension is being used. Using the `Microsoft.Azure.Cosmos.Table.*` namespaces instead of `Microsoft.WindowsAzure.Storage.Table.*` should resolve it based on the notes for the release. Could you confirm if that helps?

[2020-07-29 06:46] SnehaAgrawal-MSFT commented on #59741
@gregdegruy We typically try to keep the Azure-Docs channel scoped to feedback directly about the docs. Since your question goes beyond what is discussed in the doc, we kindly invite you to share your question in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-webapps.html)
Thank you for your understanding.

[2020-07-29 06:46] #59741 closed

[2020-07-29 06:49] TheMoroccanBoss opened #59900 "If you get a password validation error, try creating your resource group in another region. Then try creating the cluster with the new resource group."
If you get a password validation error, try creating your resource group in another region. Then try creating the cluster with the new resource group.

This statement is wrong: It is not about the Region\loc selection: It is about the PWD complexity. Come on gents!!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6de70

[2020-07-29 06:53] xdmushui opened #59901 "Is there an API to know all the meters associated with a Virtual Machine?"
After I create a new VM, is there an API to get all the meters(Contains the meter guid) for this VM?
* Not through Usage Details

For example, the following JSON content is my Virtual machine details, obtained through the API ([Virtual Machines - Get](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/get)).
From the vmSize field, you can know the specifications of my virtual machin

[2020-07-29 06:57] HarshitaSingh-MSFT commented on #59711
@over2under3, I wish to engage with you offline for a much closer look and provide a quick and specialized assistance, please send an email with subject line “Attn:Harshita” to AzCommunity[at]Microsoft[dot]com referencing this thread, Azure subscription ID, I will follow-up with you.

[2020-07-29 07:16] aghababyan-gohar opened #59902 "Parts of powershell script are for on premises SQL Server instead Azure SQL Database"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 856c3148-4309-2d97-d093-b29a4481cb8f
* Version Independent ID: 0d057151-804f-3c7e-fc1f-be792b7e59f2
* Content: [PowerShell: Sync between multiple databases in Azure SQL Database - Azure SQL Database](https://docs.microsoft.com/en-us/azure/azure-sql/da

[2020-07-29 07:18] Druffl3 commented on #59829
Thanks for responding @anastasia-ms . There's an API in Point number 4 here: https://docs.microsoft.com/en-us/azure/azure-maps/tutorial-creator-indoor-maps#query-datasets-with-wfs-api , that actually provides us with lat and longs for units in the 'coordinates' tag. And here's a sample of it:
[code]
Wouldn't this be the coordinates of UNIT26? Based on this information only I could pick out relevan

[2020-07-29 07:20] ifslearning opened #59903 "How can I apply the change password process to a user who is already logged in?"
If a user is already logged in I don't want them to have to effectively login again by providing their username and password. I would like them to only have to provide their existing password, then enter and confirm their new password, which is basically just steps 3 and 4 of the user journey. Simply removing steps 1 and 2 doesn't work though as it doesn't know who they are.

---
#### Document Det

[2020-07-29 07:21] anastasia-ms commented on #59829
I think this would work. I may have some sample code for you. Stay tuned.

On Jul 29, 2020, at 12:18 AM, Goutham R <notifications@github.com> wrote:

﻿

Thanks for responding @anastasia-ms<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fanastasia-ms&data=02%7C01%7Cv-stharr%40microsoft.com%7C4573727f90994949134d08d8338fa3a8%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7

[2020-07-29 07:25] estensen opened #59904 "OrchestrationClient has been renamed"
The `OrchestrationClient` binding was renamed to `DurableClient` in [v2.0.0-beta2](https://github.com/Azure/azure-functions-durable-extension/releases/tag/v2.0.0-beta2) and the example should reflect this. This version was released 31 Aug 2019. What is the process for updating docs and examples after releasing new versions?

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-07-29 07:27] HarshitaSingh-MSFT commented on #59711
We will now proceed to close this thread. Looking forward to engage with you offline.

[2020-07-29 07:27] #59711 closed

[2020-07-29 07:36] SnehaAgrawal-MSFT commented on #59859
@Chai-NED Thanks for the feedback! As it’s mentioned as “For a table of service limits, quotas, and constraints, and supported features in each tier, see [App Service limits.”](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#app-service-limits)

You may also refer to [Azure App Service plan](https://docs.microsoft.com/en-us/azure/app-servi

[2020-07-29 07:54] oomelenchuk commented on #58069
Hi.
It seems the issue still exists
Parse error at line: 2, column: 6: Incorrect syntax near 'OPENROWSET'.

[2020-07-29 08:05] vipulsparsh commented on #59903
@ifslearning  Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-07-29 08:06] vipulsparsh commented on #59894
@rick-hayek Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-07-29 08:09] SadiqhAhmed-MSFT commented on #59901
@xdmushui Thanks for the comment. Appreciate if you could elaborate your ask with more details.

[2020-07-29 08:12] memildin commented on #59409
@shashishailaj please close your PR. This has been included in a different PR which incorporates this update with some others.

@sakaldeepyadav thanks for taking the time to share this feedback and helping us to keep these docs correct and up-to-date.

The changes will go live within 24hrs.

[2020-07-29 08:13] vipulsparsh commented on #59895
@djivc Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-07-29 08:13] #59409 closed

[2020-07-29 08:15] SadiqhAhmed-MSFT commented on #59893
@Ayanmullick Currently PowerShell is not supported. This is planned for later this year. However, there is no definite publicly shareable ETA.

Closing this issue for now as no further discussion required. Feel free to reply if you have any additional question in this matter.

[2020-07-29 08:15] #59893 closed

[2020-07-29 08:18] DDFXulei opened #59906 "Python script issues"
When I begin a test according to the [Azure Tutorial article](https://docs.microsoft.com/en-us/azure/batch/tutorial-run-python-batch-azure-data-factory). I got the same issue with the guy at the [stakcoverflow](https://stackoverflow.com/questions/63067580/trying-to-move-data-from-one-azure-blob-storage-to-another-using-a-python-script). I tried several times but got the same result. It seems the P

[2020-07-29 08:20] kobulloc-MSFT commented on #59596
@sachinpanwar Thank you again for bringing this to our attention!  The document has been updated with current instructions and should be live shortly.

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-07-29 08:20] #59596 closed

[2020-07-29 08:22] HarleyB123 commented on #59842
Thanks! Updated PR

[2020-07-29 08:34] AnuragSharma-MSFT commented on #59902
@aghababyan-gohar Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-07-29 08:34] xdmushui commented on #59901
Updated.

[2020-07-29 08:46] SnehaAgrawal-MSFT commented on #57060
@pnarsi Apologize for late response on this. Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-07-29 08:51] SadiqhAhmed-MSFT commented on #59901
@xdmushui Please send mail to AzCommunity [at] microsoft dot com with subject: ATTN: Sadiqh Ahmed include a link to this GitHub thread (for context) and I will share with you MeterID list.

[2020-07-29 08:54] MikkelMBXP commented on #59841
@zr-msft thanks for your quick reply

Yes, I did replace the loadBalancerIP (the IP shows up correctly when running "kubectl get service -l app=nginx-ingress --namespace ingress-basic"

I also replaced the azure-dns-label-name with the name from the --name from creation of the IP address, but I suppose the DNS name can be anything as long as it can be resolved somewhere?

Is there any specific set

[2020-07-29 09:02] xdmushui commented on #59901
@SadiqhAhmed-MSFT Thank you. The mail was sent.

[2020-07-29 09:11] over2under3 commented on #59711
OK. Let me know the best way to engage. I’m here to help. Also who is the product manager for this?

~ Damon Neal

From: HarshitaSingh-MSFT <notifications@github.com>
Sent: Wednesday, July 29, 2020 3:28 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Damon Neal <Damon.Neal@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Directions do

[2020-07-29 09:12] malthe commented on #38401
How does the program get the function key when it's running on Azure? Through an environment variable or network call? One would think that it can be simulated in a non-Azure environment, i.e. running locally using Docker for example.

[2020-07-29 09:13] ricoprojer opened #59907 "ACU for NVv4"
Hi, we are missing the ACU for NVv4 (https://azure.microsoft.com/en-us/blog/introducing-nvv4-azure-virtual-machines-for-gpu-visualization-workloads/), can this be added please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 568a0854-5b9e-0d79-642f-2775271d0521
* Version Independent ID: 876df17a-3a80-8e2d-bb70-c6810df7f

[2020-07-29 09:16] stewart-echooff opened #59908 "Error in doc"
Hi,

This section should read a /28 provides 14 usable IP addresses, Not 16.

The wizard for creating a new subnet defaults to a /24 network mask, which provides for 251 available IP addresses. Using a /28 network mask, which provides for 16 usable IP addresses, is sufficient for the service.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-07-29 09:25] kspoojary opened #59909 "How to allow access to azure search service to storage account when both are in same region?"
How to allow access to azure search service to storage account when both are in same region?

As per the documentation,
`Services deployed in the same region as the storage account use private Azure IP addresses for communication. Thus, you cannot restrict access to specific Azure services based on their public outbound IP address range.`

So how can I allow access to the search service?

---
####

[2020-07-29 09:29] SibeeshVenu opened #59910 "Malformed line 1 in source list /etc/apt/sources.list.d/microsoft-prod.list (type)"
I am always getting this error "Malformed line 1 in source list /etc/apt/sources.list.d/microsoft-prod.list (type)" when I follow this tutorial. Please check the preceding image.

![image](https://user-images.githubusercontent.com/4262147/88783087-aca0c500-d18e-11ea-9131-44436576beb2.png)

Any help is really appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-07-29 09:40] krish-gh commented on #59895
@djivc Could you please let me know your agent [version](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-pta-version-history)?

[2020-07-29 09:52] unnieayilliath opened #59911 "Azure AD connect sync restart step missing"
[Enter feedback here]
I have followed the steps in this article for proxy settings. The proxy settings were added to machine.config, but this alone did not work and the change was only reflected in Azure AD connect behavior after restarting the Azure AD Connect Sync service. I guess, it should be added to the steps in the article.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-07-29 10:03] mohamed-shehata-m opened #59912 "Workspace ID & Primary Key locations have changed"
Under this section "[Sample requests](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-collector-api#sample-requests)", going to **advanced Settings** and then **Connected Sources** does not show "**Primary Key**"

![image](https://user-images.githubusercontent.com/25155380/88786567-f55a7d00-d192-11ea-9074-e7fef1b702fa.png)

The primary key can be accessed from **Agents managemen

[2020-07-29 10:07] nitinkhandelwal26 opened #59913 "Any Timeline on GA for this feature"
[Enter feedback here]
Any rough timeline on GA for this feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42afd8de-b697-100c-98c7-ae8e6a6f1b92
* Version Independent ID: 81674054-0ea2-210b-2e65-18a0f15617c1
* Content: [Manage RBAC in Kubernetes From Azure - Azure Kubernetes Service](https://docs.microsoft.com/en-i

[2020-07-29 10:11] SadiqhAhmed-MSFT commented on #59901
@xdmushui Thanks for describing in detail. Will check with the concerned team and get back to you soon.

[2020-07-29 10:13] GitaraniSharma-MSFT commented on #59899
@hund030 , Thank you for your feedback . We will investigate and update the thread further.

[2020-07-29 10:24] MayankBargali-MSFT commented on #59704
@dpihac Yes, your understanding is correct that when deploying to azure the local.settings.json and appsettings.{environment}.json file is not automatically copied on build or will not be pushed therefore the suggestion is not to read values from these files.

The note can be due to the sample above the note that mentions using local.settings.json and if you are using separate files then you might

[2020-07-29 10:29] cro27 opened #59914 "A number of steps listed to backup the Oracle database are dangerous"
Hi, as a former Oracle employee and Oracle Database expert I can tell you that this page on backing up an Oracle Database in Azure VM needs correction. As a Microsoft employee I feel I need to provide some critical feedback.

Firstly, the use of alter session set "_ORACLE_SCRIPT"=true ; is a big problem. Underscore parameters and commands are undocumented and unsupported for customer use by Oracle

[2020-07-29 10:32] dpihac commented on #59704
Thank you very much for the clarification. It would be nice to update that warning with a bit more detailed explanation. It's a bit confusing in the current form.

[2020-07-29 10:35] femsulu commented on #59381
Hello @tanmayjog  - found [this](https://www.systemcenterautomation.com/2019/09/logic-apps-examine-azure-monitor-alert-schema/) blog on using logic Apps to examine Azure Monitor Alert schema. Hope this helps.

[2020-07-29 10:35] maxal1917 commented on #51415
Sorry, I missed the question. The problem with documentation is your sample. @silviuo is clarified it with exactly same problem. In your sample you have the condition
[code]
But I couldn't get value of fromFinishedLaunching when getting this notifications while app was running, or ever, for that matter.

[2020-07-29 10:44] MayankBargali-MSFT commented on #59904
@estensen Thank you for your feedback! We will review and update as appropriate.
You can always contribute to the Microsoft docs. You can leverage this article: https://docs.microsoft.com/en-us/contribute/

[2020-07-29 10:47] SwathiDhanwada-MSFT commented on #59912
@mohamed-shehata-m Thanks for you feedback. I have made necessary changes in the document and the changes will be live soon.

We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-07-29 10:47] #59912 closed

[2020-07-29 10:49] SwathiDhanwada-MSFT commented on #59415
@git001 Apologies for late response. Kindly note that the Linux Agent uses [Microsoft mdsd plugin version](https://github.com/Azure/fluentd-plugin-mdsd).The plugin version is independent of fluentd version and has no impact on the Linux agent.

We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-07-29 10:49] #59415 closed

[2020-07-29 11:05] clement911 commented on #56597
I see this was closed.
I hope you make this a priority. We are extremely keen to test Hyperscale but can't because of this issue....

[2020-07-29 11:20] GossiTheDog opened #59915 "Application whitelisting phrasing"
Hey folks - could application whitelisting be reviewed as terminology through product and documentation?

We have a race-insensitive language effort.  Generally, we aim for allow lists (or allowing applications).  Many pages already display this:

Important

Bias-free communication
Microsoft supports a diverse and inclusionary environment. This article contains references to the word blacklist. Th

[2020-07-29 11:37] memildin commented on #59915
This is a work in progress. Most references have already been removed from the UI. The docs changes are due to be implemented shortly.
#please-close

[2020-07-29 11:37] #59915 closed

[2020-07-29 11:50] SnehaAgrawal-MSFT commented on #59909
@kspoojary Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-29 11:52] BhargaviAnnadevara-MSFT commented on #59910
@SibeeshVenu It looks like you're on Ubuntu 20.04. Please modify the URL in the command to:

`curl https://packages.microsoft.com/config/ubuntu/20.04/prod.list > ./microsoft-prod.list`

and then proceeed with the rest of the steps.

[2020-07-29 11:54] VikasPullagura-MSFT commented on #59900
@TheMoroccanBoss
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-07-29 11:54] VikasPullagura-MSFT commented on #59900
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2020-07-29 12:04] jwisener commented on #59896
The problem is the extension bundle provided by Microsoft is still using
the older version. So either it didn’t updated and seems to be complied
against the older version. I have confirmed and your proposed
change/solution does not work. It still fails with nothing more than a 500

On Wed, Jul 29, 2020 at 1:44 AM Pramod Valavala <notifications@github.com>
wrote:

[2020-07-29 12:16] dr-dolittle opened #59917 "Wrong master key displayed"
On the first picture here (https://docs.microsoft.com/en-us/azure/azure-functions/functions-manually-run-non-http#get-the-functions-master-key) it describes to get the key from the function level. Keys from there don't work on my side. I need to go to the app level to get the key from "App keys".

It would be great to adjust that.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It

[2020-07-29 12:30] BhargaviAnnadevara-MSFT commented on #59906
@DDFXulei Thank you very much for bringing this to our attention. We shall evaluate and update the doc as appropriate.

[2020-07-29 12:30] GossiTheDog opened #59920 "Race-sensitive language"
Hi - this should have the bias free comms disclaimer on it until the product is updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17f663ca-635a-10ab-d78a-f60424a5484c
* Version Independent ID: cd178cad-c4c4-16a0-ca02-ac336165cad7
* Content: [Configure the Azure MFA NPS extension - Azure Active Directory](https://

[2020-07-29 12:31] philip-reed opened #59921 "Azure Function to update table storage - example"
Are there any examples of how to use an Azure function bindings to update a record in Table Storage?

[This](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-table?tabs=csharp#output) section suggests that is isn't possible using output bindings.  But then there are [blog posts](https://anthonychu.ca/post/azure-functions-update-delete-table-storage/) that suggest i

[2020-07-29 12:36] Andrew-Coughlin-MSFT opened #59922 "Document update needed"
Step 3, Should be changed from "Create service Health Alert", to "add service health alert"
Step 4, Screenshot should be updated to reflect current options.
Step 6, Security advisory is missing from the event types on this step.
Step 8, Action groups are now before "Alert rule details"

Based on the above update, the "Alert with existing action group using Azure portal" section might need to be up

[2020-07-29 12:38] DavidTrigano commented on #59890
Hello @sorabhm

Thanks for the feedback.

Via the Azure portal, you can select Storage Account or Log Analytics workspace from a different resource group and subscription. In case the location is different, then it will be only achievable via PS/REST.

@AnuragSharma-MSFT you can go ahead and close this ticket.

[2020-07-29 12:40] JayaChatterjee-MSFT commented on #59791
@gatkinshentsu I tried to replicate the issue at my end following the example. I can successfully post a message to a table storage with a queue trigger. From the exception it looks like some configuration issue, either in the binding details or in the input parameters. Is it possible for you to share the python script code snippet along with the binding details ( i.e. _function.json_ file details

[2020-07-29 12:42] Joibel opened #59923 "Does not work with Storage Explorer today"
There is no option to generate a container level SAS from the vhd in storage explorer 1.14.2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9235f1ca-0b2c-ec13-b821-b4d9a7acabc0
* Version Independent ID: f846a403-d8ab-224d-365c-2e62497e4763
* Content: [Shared access signature URI for VM images - Azure Marketplace](https

[2020-07-29 12:42] philip-reed commented on #59921
Managed to get this working using the following, but took quite a while to figure out that this was possible.
Is this an acceptable approach to updating records in table storage (and Cosmos DB?)

[code]

[2020-07-29 12:44] Joibel commented on #59923
Duplicate of #59503

[2020-07-29 12:44] #59923 closed

[2020-07-29 12:46] GossiTheDog opened #59924 "Align whitelist with race-sensitive language and bias free comms"
Please change references of whitelist on this page to allow list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bf07caa-0d20-1738-7242-dfd92f03f26a
* Version Independent ID: dada2e27-8354-4e3b-324e-5ddcffda1f06
* Content: [Connect your Azure Databricks Workspace to your on-premises network - Azure Databricks](https:/

[2020-07-29 12:50] ManoKanmani opened #59925 "Conditional Access Policy - Report only: Success"
Hi Team,

I would like to know when I will get the status as "Report only: Success" in the Report Only mode of the CA policy.

https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/howto-conditional-access-policy-azure-management

I have an MFA policy and below are the Assignments and Grant Controls.
**1. Cloud Application - Microsoft Azure Management
2. Device Platforms - Win

[2020-07-29 12:51] juanandmsft opened #59926 "Windows permissions"
Article states:

Windows: You need to be a domain admin, or local admin on all the Windows servers you want to discover. The user account should be added to these groups: Remote Management Users, Performance Monitor Users, and Performance Log Users.

Does this mean that an adminstrator account (local/domain) is not really neeed, and could be a standard user account plus the three groups membership

[2020-07-29 12:58] NickDorak commented on #59678
@SaurabhSharma-MSFT Are you saying that this is currently not possible?
If it is not currently possible, I will add to UserVoice but I don't think I need to add this feedback if it can be done but just lacks in the documentation.

[2020-07-29 13:06] GossiTheDog opened #59927 "Align with bias free comms"
Hi - as part of the bias free comms and race-insensitive language work, this needs the bias free comms warning adding until the product language is changed (regarding whitelist for good and blacklist for bad).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 585fff5e-cadd-8967-8c09-63d8afcb53b3
* Version Independent ID:

[2020-07-29 13:22] avoidik commented on #41256
@kazshi add filter by `Name` or by `ContainerName`

[code]

[2020-07-29 13:27] SwathiDhanwada-MSFT commented on #59922
@Andrew-Coughlin-MSFT Thanks for your feedback

Assigning to content author @stephbaron for document enhancement

[2020-07-29 13:28] RyanHill-MSFT commented on #59847
Thanks for the feedback @ImrePyhvel, I have assigned you issue to the content author, @cephalin, to investigate further and update the document as appropriate.

[2020-07-29 13:40] gatkinshentsu commented on #59791
@JayaChatterjee-MSFT Sure, please see the below. As you can tell I've tried to keep as close to the example as possible to get it up and running, so this isn't my final approach.

__init__.py:

    def main(maillog: func.QueueMessage, message: func.Out[str]) -> func.HttpResponse:

        rowKey = str(uuid.uuid4())

        data = {
            "Name": "Output binding message",
            "Partit

[2020-07-29 13:42] saisworld opened #59928 "V12 for Getting and Setting Blob Properties"
Could you please specify how to set and get Blob properties using V12 SDK. At the moment, it page displays examples for V11 using CloudBlob.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6c6dc17-5057-abdd-506d-4d7b294925d9
* Version Independent ID: 64ad32f4-f946-61f7-d105-8cd9205505f3
* Content: [Manage properties an

[2020-07-29 13:49] tosmi opened #59929 "typo in Operating system configuration and preparation point 5"
there's a typo in the sysctl settings in point 5 of section Operating system configuration and preparation

ipv6.conf.all.disable_ipv6 = 1

should be

net.ipv6.conf.all.disable_ipv6 = 1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1fd0d34-e78f-594c-8027-2d0d30ccf427
* Version Independent ID: bc813f34-ccef-fd04-d639-

[2020-07-29 13:49] OffColour opened #59930 "Client and Microsoft Store"
Is the current client going to be added to the Store or is the Remote Desktop App in the Store going to be updated to support WVD?
As it is we have to keep updating the MSI in Intune manually.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 524e47b0-1295-7d07-0cbc-86e6daaa1358
* Version Independent ID: 1cb3a5d8-4f16-583

[2020-07-29 13:51] knunery opened #59931 "Code snippet is wrong for creating a versioned pipeline endpoint"
In the section "Create a versioned pipeline endpoint" there is a bad code snippet:

[code]

There are quotes around the workspace parameter ws. Also, name isn't currently supported in the sdk that I am using that I believe is the latest version. azureml.core.VERSION returns 1.10.0.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-07-29 13:57] serxansherif opened #59932 "Palo Alto Admin UI integration with Azure AD"
I configured Azure AD with Palo Alto firewall for accessing web UI but I encounter a problem.

**What I did?**
I did following link steps in my environment but I get an error when I log in to Firewall
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/saas-apps/paloaltoadmin-tutorial.md

**Error**
![image](https://user-images.githubusercontent.com/53265420/88808647-d

[2020-07-29 13:58] RyanHill-MSFT commented on #49731
Have a look at https://github.com/MicrosoftDocs/azure-docs/issues/58976#issuecomment-662147858. The OP had a similar issue albeit they inherited from [`MvxApplicationDelegate`](https://github.com/MvvmCross/MvvmCross/blob/develop/MvvmCross/Platforms/Ios/Core/MvxApplicationDelegate.cs). Try decorating your method with `[Export("application:didRegisterForRemoteNotificationsWithDeviceToken:")]`.

/ @r

[2020-07-29 14:02] knunery commented on #59931
Looks like the code should be similar to this:
[code]

[2020-07-29 14:04] foxrocci opened #59933 "Windows 2008 SP2 not supported for Log Analytics Agent"
Page last updated in February 2020, stated that Windows Server 2008 SP2 is supported- https://docs.microsoft.com/en-us/azure/azure-monitor/platform/log-analytics-agent#supported-windows-operating-systems

Page last updated in July 2020, not stating that Windows Server 2008 SP2 is supported - https://docs.microsoft.com/en-us/azure/azure-monitor/insights/vminsights-enable-overview#supported-operatin

[2020-07-29 14:13] SwathiDhanwada-MSFT commented on #59933
@foxrocci Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-07-29 14:21] mohamed-shehata-m commented on #14690
I'm also looking for a way to delete a custom log under log analytics (not only purging the logs inside it).

[2020-07-29 14:24] dimitri-furman commented on #56597
@clement911 Yes, we understand that this is a blocker for Hyperscale adoption for some customers, and we do treat this as a priority. (The issue was closed because there were no updates for over a month, please feel free to reopen at any time.)

[2020-07-29 14:31] suhas-shiv commented on #54297
@AjayKumar-MSFT @SamaraSoucy-MSFT @SwatiBhat-MSFT : This issue has been many forums but I do not see a concrete solution anywhere for this.

Hope you have found the solution for this, since you have closed the ticket. Please be kind to share the fix for this. We're using Azure cognitive search and the fuzzy doesn't seem work always.

Also, if you're closing the ticket without a fix, it is not help

[2020-07-29 14:41] AshokPeddakotla-MSFT commented on #59846
@ash2017 Could you please look into this issue?

[2020-07-29 14:42] shashishailaj commented on #59920
@GossiTheDog Thank you for your feedback . Could you please point to the section which needs to be improved and we can engage the content authors for the same ?

[2020-07-29 14:43] shashishailaj commented on #59911
@unnieayilliath Thank you for your feedback. We will have this verified and update the thread.

[2020-07-29 14:44] Mystorius opened #59936 "Azure ModelPackage class returns wrong location"
We got a bug that the  ModelPackage class does not return the correct location of a registered image.

From the Documentation one should do:

`from azureml.core import Model

package = Model.package(ws, [model], inference_config)
package.wait_for_creation(show_output=True)
"Display the package location/ACR path"
print(package.location)`

And the return should look like this:
`<acrinstance>.azurecr

[2020-07-29 14:45] desreela opened #59937 "Supported Windows Operating systems for WAD agent"
Can we have the supported Windows Operating Systems for WAD agent also listed here. We are seeing multiple issues with WAD on Windows Server 2008 SP2 server running in Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d1ee470-5d0c-4281-edac-d3b88287caab
* Version Independent ID: c3eb4829-1139-b5e8-7e18-960c2cbcc65

[2020-07-29 14:45] BeagleHound commented on #38914
+1 we have similar problem using AzDO to SQL server via Private link/endpoint.

[2020-07-29 14:46] patpicos opened #59938 "Remove references to Helm2/Tiller"
It is ill advised to use Helm 2 at this point. Please update documentation to use helm 3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3925c0f-2f3a-a53e-d558-c00cca37e961
* Version Independent ID: 1a49146e-07a4-bb12-0a5b-0d07590fbcad
* Content: [Create an ingress controller with an existing Application Gateway](https

[2020-07-29 14:47] #59817 closed

[2020-07-29 14:49] BhargaviAnnadevara-MSFT commented on #59817
@OliverColeman The change is merged internally and will go-live in the public docs shortly. Thanks again for the feedback.

[2020-07-29 14:50] SibeeshVenu commented on #59910
I was just wondering why it is not mentioned in the doc itself?

[2020-07-29 14:51] #59906 closed

[2020-07-29 14:55] BhargaviAnnadevara-MSFT commented on #59910
@SibeeshVenu Sure, we shall update the doc appropriately. Could you please confirm if you were able to complete the rest of the steps mentioned in the article?

[2020-07-29 14:58] SibeeshVenu commented on #59910
Yes, it worked. Thanks

[2020-07-29 14:59] Chai-NED opened #59939 "What is localaccount?"
Never mind. I found it. Please close.
-----------------
Hi - Could you clarify what local account mean in B2C context?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0576a50-8bfd-ac73-6cfc-5121de4c1ba1
* Version Independent ID: df6d7234-db4f-1a15-3010-26bd56d934e8
* Content: [Self-service password reset in Azure Activ

[2020-07-29 15:05] ash2017 commented on #59846
@nehsin please investigate.

[2020-07-29 15:11] BhargaviAnnadevara-MSFT commented on #59906
@DDFXulei Thank you for catching that error in the docs! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-07-29 15:15] KrishnaG-MSFT commented on #59926
@juanandmsft Thanks for your comment! We will review and provide an update as appropriate.

[2020-07-29 15:17] KrishnaG-MSFT commented on #59937
@desreela Thanks for the comment.
Assiging @bwren for visibility, review and document enhancement consideration as appropriate.

[2020-07-29 15:19] SibeeshVenu commented on #59910
Now getting a different issue.

[2020-07-29 15:20] RyanHill-MSFT commented on #26874
Key Vault is a hosted service and therefore can't be used in local development. It is recommended that development secrets be used.

[2020-07-29 15:31] RyanHill-MSFT commented on #59721
Key Vault is a hosted service; therefore, it can't be used in development. However, you can use development secrets as a workaround.

Regarding versioning, we did receive similar feedback in https://github.com/MicrosoftDocs/azure-docs/issues/41917. We did update the doc; however, reverted those changes due to information from the product group. Therefore, I've assigned this to @mattchenderson for

[2020-07-29 15:34] MrSimple263 opened #59940 "Custom translator - Data processing failed"
With language Pair: English - Portuguese.I'm trying build a model with simple data(you can see in attach file).
[ExtractedSentences.zip](https://github.com/MicrosoftDocs/azure-docs/files/4995746/ExtractedSentences.zip)
But i tried many times, it still show status 'Data processing failed'. I don't know why it's failed. Is my data valid?
Thanks!

---
#### Document Details

⚠ *Do not edit this sectio

[2020-07-29 15:36] SubhashVasarapu-MSFT commented on #59587
@mifurm, Appreciate your patience. We have assigned this issue to the respective content author for updating the doc accordingly.

[2020-07-29 15:39] YutongTie-MSFT commented on #59931
@knunery
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-29 15:42] mrbullwinkle commented on #59706
@Leonardo-Ferreira I spoke to the engineering team yesterday, they confirmed that your method of disabling the default module and creating your own telemetry processor is unfortunately currently the only available workaround.

They do agree that either providing a flag or decoupling the modules to fully support your scenario in the future would make sense. They asked if you could create a feature

[2020-07-29 15:46] #54597 closed

[2020-07-29 15:46] YutongTie-MSFT commented on #59927
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-29 15:46] zr-msft commented on #54597
Thank you @asears for the feedback!

@dlepow has updated the article and the changes should be available soon.

[2020-07-29 15:49] SubhashVasarapu-MSFT commented on #59112
@germanfidalgo, Appreciate your patience. This looks like there is a CRD conflict with the existing one. Assigning this to the respective product owner for better insights.

[2020-07-29 16:01] Chireven opened #59941 "Wrong - in sample powershell code"
Can you please update the sample code with the correct - in the code.  As an example, the following is incorrect:

    Set-AzKeyVaultAccessPolicy –VaultName <your-key-vault-name> -PermissionsToKeys create,decrypt,delete,encrypt,get,list,unwrapKey,wrapKey -PermissionsToSecrets get,list,set,delete -ObjectId <Id>

It took me a bit to figure out what was going on, but its this:  –VaultName

Here is si

[2020-07-29 16:15] #43283 closed

[2020-07-29 16:16] #59842 closed

[2020-07-29 16:16] zr-msft commented on #43283
Thank you @PPACI for the feedback!

I've updated the article to address your feedback and the changes should be available soon.

[2020-07-29 16:18] #43808 closed

[2020-07-29 16:18] #57844 closed

[2020-07-29 16:20] KrishnaG-MSFT commented on #38660
Unable to add @prkumarms-zz in assignees so tagging @prkumarms-zz for visibility, review and to help provide insights.

[2020-07-29 16:21] zr-msft commented on #57844
Thank you @akingscote for the feedback!

@dlepow has updated the article to address your feedback and the changes should be available soon.

[2020-07-29 16:22] zr-msft commented on #43808
Thank you @danielearwicker for the feedback!

@dlepow has updated the article to address your feedback and the changes should be available soon.

[2020-07-29 16:23] Karishma-Tiwari-MSFT commented on #59914
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-29 16:23] veyalla commented on #59910
@SibeeshVenu @BhargaviAnnadevara-MSFT It is not mentioned in the doc because it only list[ Tier 1](https://docs.microsoft.com/en-us/azure/iot-edge/support#tier-1) OSes for IoT Edge and Ubuntu 20.04 does is not currently Tier 1.

[2020-07-29 16:24] #54759 closed

[2020-07-29 16:25] zr-msft commented on #54759
Thank you @jakaruna-MSFT for the feedback.

I have updated the article to address your feedback and the changes should be available soon.

[2020-07-29 16:27] DerekHerman-MSFT commented on #59845
@squasta Our engineering team confirmed that this should be fixed within the next couple of weeks. Currently as a workaround you can enable the feature using Public Endpoint (Selected Network) option. Once the feature is enabled. you can go ahead and remove the Vnet from the firewall rules and enable private endpoint on the storage account. You should then be able to connect using private endpoint

[2020-07-29 16:28] JamesTran-MSFT commented on #59941
@Chireven
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-29 16:29] amit17051980 commented on #59746
Thanks Krish.

No luck with OKTA or OAuth2 v1.

Same issue with realm. In case of OKTA, it asks for different realm.

[2020-07-29 16:31] JamesTran-MSFT commented on #59939
@Chai-NED
Thanks for your update, I'm glad you were able to find the solution! I'll go ahead and close out this issue.

Thank you for your time and patience.

[2020-07-29 16:31] #59939 closed

[2020-07-29 16:33] Karishma-Tiwari-MSFT commented on #59929
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2020-07-29 16:33] #59929 closed

[2020-07-29 16:37] zr-msft commented on #59913
Thank you @nitinkhandelwal26 for your question. Please see the [AKS Roadmap](https://github.com/Azure/AKS/projects/1) for more details on timelines for features. Please direct any questions around timelines there.

#please-close

[2020-07-29 16:37] #59913 closed

[2020-07-29 16:38] oeicramirez commented on #53677
Is there any traction on this? We're also looking to upgrade to Confluence 7.6 (we don't mind moving to 7.4 if its only compatible with it) and we receive the following error when trying to use the current plugin on the Microsoft download site.

`Invalid response. Invalid certificate recieved in response. Please contact your Azure AD admin.`

[2020-07-29 16:45] oeicramirez commented on #56903
@JamesTran-MSFT @jeevansd any updates on this?

[2020-07-29 16:59] MashaMSFT commented on #33781
@MNF , thanks for your patience and our apologies for the delay. Has your question been addressed?

Thanks!
Masha from the SQL Docs team

[2020-07-29 17:00] iainfoulds commented on #59254
Thanks for the feedback, @DeanGross

Custom banned password list is an Azure AD Premium P1 feature - https://azure.microsoft.com/pricing/details/active-directory/

I'll update the doc to specify this.

#in-progress

[2020-07-29 17:00] #38080 closed

[2020-07-29 17:01] juanandmsft opened #59942 "VM connectivity requirements"
Article does not mention at https://docs.microsoft.com/en-us/azure/migrate/migrate-support-matrix-vmware#port-access-requirements the need to connect to VMs directly.

However, in https://docs.microsoft.com/en-us/azure/migrate/migrate-support-matrix-vmware#application-discovery-requirements:
"It uses machine guest credentials, and remotely accesses machines using WMI and SSH calls."

And later on:

[2020-07-29 17:04] b-juche commented on #59908
Thanks for bringing this to our attention!

I checked with our architect -- The value should be **11** usable, as 5 addresses out of the 16 are reserved.

So we'll be changing "16" to "11" in the current statement
"Using a /28 network mask, which provides for 16 usable IP addresses, is sufficient for the service."

cc: @ntap512

[2020-07-29 17:07] jgrams opened #59943 "Positive Feedback"
Great description, thank you!
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e30dbb35-6ca1-a629-939b-2a1d296cdc1c
* Version Independent ID: e84a0863-dd1f-1ea5-6b8d-6b6fd4a96e40
* Content: [Designing Azure Functions for identical input](https://docs.microsoft.com/en-us/azure/azure-functions/functio

[2020-07-29 17:08] JamesTran-MSFT commented on #59941
@Chireven
I see what you're referencing in your question. As you can see below, when I try to change it on the documentation it won't let me propose/change the dash, since the "-" is correct on the Content Source. However, when you actually copy it from the document itself, it's the longer version of the "-".

I've assigned this issue to the author to take a look into this issue.

![docUpdate](htt

[2020-07-29 17:09] yantang-msft opened #59944 "Incorrect document causing user failure"
In the sample config, the endpoint is set incorrectly to
```"storageAccountEndPoint": "https://mystorageaccount.blob.core.windows.net"```
Which should be
```"storageAccountEndPoint": "https://core.windows.net"```

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77600ea1-7a57-3969-bbf5-7cdbc4637725
* Version Independent I

[2020-07-29 17:10] jurschel commented on #59541
@zchia or @kobulloc-MSFT can I get some guidance here?  This is blocking an effort for us.

[2020-07-29 17:13] SatishBoddu-MSFT commented on #59829
Another customer is also looking into similar query on SO: Azure maps indoor module : [How to draw a path between two points in indoor navigation using azure maps?](https://stackoverflow.com/questions/63158669/azure-maps-indoor-module-how-to-draw-a-path-between-two-points-in-indoor-navig)

[2020-07-29 17:14] CarlRabeler commented on #39974
correct syntax should be: "The auto failover groups feature in SQL Database allows you to ...."

[2020-07-29 17:16] #59900 closed

[2020-07-29 17:17] zr-msft commented on #59900
Thank you @TheMoroccanBoss for the feedback.

I have updated the article to address your feedback, and the changes should be available soon.

[2020-07-29 17:18] b-juche commented on #59908
Fixed in PR 124245

#please-close

[2020-07-29 17:18] #59908 closed

[2020-07-29 17:20] yobyot commented on #39974
That edit would be both grammatically correct and syntactically tortured. The purpose in opening this issue so long ago was to suggest that doc writers make the product easier to grasp by writing correctly _and_ clearly.

[2020-07-29 17:21] anosov1960 commented on #39356
In this case TM will redirect traffic to the secondary region, which is read-only until the failover is triggered. Then it will be read-write.

[2020-07-29 17:21] DivyaVaniChinta commented on #59829
I have done same indoor map drawing path between 2 units(points of each unit hardcoded).
![image](https://user-images.githubusercontent.com/29367392/88831581-26679b80-d1ed-11ea-9f2e-944f82a3e256.png)

If you see the path(from 146 unit to 101 unit) shown as "straight line overlaps other units". Actually, line should not come like this(it should not overlap)

**It's overlapping because of hard coded

[2020-07-29 17:22] TrackDR opened #59945 "Distribution-provided pre-install script failed 18.04 nvidia"
I am running a Vanilla Ubuntu 18.04 on a nv24s_v3 instance.
I tried running the commands to install the NVIDIA GRID drivers here: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/n-series-driver-setup#install-grid-drivers-on-nv-or-nvv3-series-vms

Everything works until I try to install the GRID driver.
The error says:
"Distribution-provided pre-install script failed". Abort or Contin

[2020-07-29 17:22] anosov1960 commented on #39356
#please-close

[2020-07-29 17:22] #39356 closed

[2020-07-29 17:22] mchudinov opened #59946 "Get a telemetry client"
This is deprecated:
`           private TelemetryClient telemetry = new TelemetryClient();`
Read more here https://github.com/microsoft/ApplicationInsights-dotnet/issues/1152
The recommended way to create a client is

            var config = TelemetryConfiguration.CreateDefault();
            var telemetry = new TelemetryClient(config);

---
#### Document Details

⚠ *Do not edit this section. It

[2020-07-29 17:22] CarlRabeler commented on #39974
why is that syntax syntactically tortured?  auto failover groups is a single feature that uses a plural word in the name of the feature - a complexity that we, as writers, do not control.

[2020-07-29 17:27] DivyaVaniChinta commented on #59829
Hi @SatishBoddu-MSFT  its me only :-)

[2020-07-29 17:28] ram-msft commented on #59796
Thanks for the feedback. Here is the link to the quick start code. https://github.com/Azure-Samples/cognitive-services-quickstart-code/blob/master/dotnet/ComputerVision/ComputerVisionQuickstart.cs#L151
@PatrickFarley The following section of the document needs improvement in the quick start . Can you please check on this.
![image](https://user-images.githubusercontent.com/49180516/88832567-a2aeae8

[2020-07-29 17:29] anastasia-ms commented on #59829
I am looking into this. Will come back with my findings.

On Jul 29, 2020, at 10:28 AM, DivyaVaniChinta <notifications@github.com> wrote:

﻿

Another customer is also looking into similar query on SO: Azure maps indoor module : How to draw a path between two points in indoor navigation using azure maps?<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fstackoverflow.com%2Fquestions

[2020-07-29 17:29] #59254 closed

[2020-07-29 17:36] SaurabhSharma-MSFT commented on #59782
@priyankareddy20  Can you please provide the screenshots with the missing recommendation details.

[2020-07-29 17:39] iainfoulds commented on #59006
Thanks for the feedback, @c016smith

The engineering team is still looking at being able to determine a specific time interval this may create, but I've add a callout to the doc for now that there's a delay before users can correctly sign in.

#in-progress

[2020-07-29 17:39] PatAltimore commented on #58191
@gs-repo Hi Gurinder,

I missed some consortium management commands. That was causing my chaincode issues. I've updated my previous comment with the missing commands and output.

Hope this helps,
Pat

[2020-07-29 17:43] #59006 closed

[2020-07-29 17:44] c016smith commented on #59006
Awesome, thanks!

[2020-07-29 17:47] scottclarke1 opened #59949 "Changing Role Settings"
When executing;

$setting.UserMemberSetting.JustificationRule = '{"required":false}' I'm consistently receiving the following error;

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51dbe039-2ab8-b9a3-531d-71de3082cf2c
* Version Independent ID: 020b443d-d664-9bad-bbc9-74dbe35c8ae2
* Content: [PowerShell for Azure

[2020-07-29 17:48] KranthiPakala-MSFT commented on #59924
@GossiTheDog Thanks for the feedback and helping us to improve MS doc content. Could you please elaborate more on your feedback? A few specific details would help us to make the necessary updates.

Thank you.

[2020-07-29 17:50] Mexicoder opened #59950 "Add character limit info for "Description""
Update to reflect the character limit of "description"
Many users use this to add information to their action group emails.

Is there any future updates that will be implemented to better tailer this experience?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3eff5cd-b885-2e94-2ea6-3f60154123df
* Version Independent ID

[2020-07-29 17:52] juanandmsft opened #59951 "Supported OSes"
Article says for supported OSes for VMware agentless migration: "You can migrate Windows and Linux operating systems that are supported by Azure", and points to https://support.microsoft.com/help/2721672/microsoft-server-software-support-for-microsoft-azure-virtual-machines and https://docs.microsoft.com/en-us/azure/virtual-machines/linux/endorsed-distros

The Windows link does not mention Windows

[2020-07-29 17:57] MashaMSFT commented on #50133
Hi @taromielnaz , thanks for reaching out! Meter categories and subcategories aren't available for counters that you are not currently using. For example, if you do not have a managed instance deployed, you will not see any managed instance counters. Likewise, if you have not consumed backup storage, you may not see backup storage counters.

If you are missing counters for a category that you're c

[2020-07-29 17:57] #50133 closed

[2020-07-29 18:03] BrianLytle opened #59952 "can't find the user"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bac6db2d-bff9-cbcf-d522-966ed17ea27f
* Version Independent ID: 91e3eeb7-8602-9e26-21c3-1fa70d03a354
* Content: [Set up sign-in for an Azure AD organization - Azure AD B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-a

[2020-07-29 18:05] BrianLytle commented on #59952
I followed this tutorial, but when I try to log in via B2C with a user from my organizations Azure AD, I get the message that it can not find the user. Also, when configuring the OpenID Connect provider, the instructions say that I should use "the openid profile" for the Scope. What does that mean?

[2020-07-29 18:06] priyankareddy20 commented on #59782
I can only provide names,not the full details..is that okay??

On Wed, Jul 29, 2020, 19:36 SaurabhSharma-MSFT <notifications@github.com>
wrote:

[2020-07-29 18:07] BrianLytle opened #59953 "can't find the user"
I followed this tutorial, but when I try to log in via B2C with a user from my organizations Azure AD, I get the message that it can not find the user. Also, when configuring the OpenID Connect provider, the instructions say that I should use "the openid profile" for the Scope. What does that mean?

[2020-07-29 18:07] #59952 closed

[2020-07-29 18:08] BrianLytle commented on #59952
Sorry. I created this issue wrong.

[2020-07-29 18:08] MarileeTurscak-MSFT commented on #59949
@scottclarke1
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-29 18:11] MarileeTurscak-MSFT commented on #59932
@serxansherif
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-29 18:11] DerekHerman-MSFT commented on #59928
@saisworld

Thank you for the feedback. We are currently in the process of updating all Azure Storage documentation to v12 code snippets, including this article. We are prioritizing the updates based on the number of visitors to each topic with a code snippet.

In the mean time I have found the following pages which might be helpful to you. If you have further SDK questions I recommend creating a

[2020-07-29 18:11] #59928 closed

[2020-07-29 18:11] MashaMSFT commented on #47214
@nilopmsft , thanks for reaching out! Your interpretation is correct - meters that are not used are not going to be visible in the portal. For example, if you do not have a managed instance, you will not see counters for managed instances. Does this help?

Thanks!
Masha from the SQL Docs team

[2020-07-29 18:12] iainfoulds commented on #59834
Thanks for the feedback, @Joe129

The product team is working hard to bring this functionality. At this time, there's no such reporting available. You can also upvote and add your comments to https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/36760324-provide-reporting-around-passwordless-phone-sign-i to help prioritize the work.

When this functionality is available, we'l

[2020-07-29 18:12] #59834 closed

[2020-07-29 18:12] tobystic commented on #59604
I believe that makes sense

[2020-07-29 18:12] #59604 closed

[2020-07-29 18:13] krish-gh commented on #59746
Thanks for trying. So when you tried V1 endpoint, is it the same error?

[2020-07-29 18:16] nilopmsft commented on #47214
Yes thank you and at the time was not apparent. Given that there could be potentially hundreds of metrics that _could_ be displayed but are not unless a service is in place to hydrate those metrics, it makes sense to not be available in this context.

[2020-07-29 18:17] MarileeTurscak-MSFT commented on #59925
@ManoKanmani
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-29 18:18] MashaMSFT commented on #47214
Awesome! Glad to hear everything is working as it should :) I'll close out this Git Issue but please feel free to comment should you need anything further.

Thanks and hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2020-07-29 18:18] #47214 closed

[2020-07-29 18:30] amit17051980 commented on #59746
Yes. the error is the same.

[2020-07-29 18:32] lobrien commented on #59053
All code in the how-to-manage-rest doc is tested and worked the last time the article was updated. It's possible that https://github.com/Azure/azure-rest-api-specs contains the information you're looking for.

[2020-07-29 18:34] bandersmsft commented on #59901
#reassign:prkumarms-zz

[2020-07-29 18:34] PRMerger14 commented on #59901
prkumarms-zz is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-07-29 18:36] BhargaviAnnadevara-MSFT commented on #59910
@veyalla Thank you for the clarification!

@SibeeshVenu As @veyalla clarified, Ubuntu 20.04 would fall under the [Tier 2](https://docs.microsoft.com/en-us/azure/iot-edge/support#tier-2) Operating Systems. Hence, the Debian 9 packages from the [Azure IoT Edge releases repo](https://github.com/Azure/azure-iotedge/releases) should work out of the box with Ubuntu 20.04.

[2020-07-29 18:43] tx5westmt commented on #59627
@Mike-Ubezzi-MSFT  Below are the steps I performed to isloate the issue to my table selected for syncing. After more testing it looks like it only happens on 'upload' data inserts from member to hub:

- hub is azure sql; member is on premise sql 2014; bi-directional sync enabled
- Gave account db_owner on metadata table to remove that from equation
- GRANT SELECT, INSERT, UPDATE, DELETE ON SCHEMA:

[2020-07-29 18:46] RyanHill-MSFT commented on #59943
Thanks for the positive feedback @jgrams. Glad you found the doc helpful.

[2020-07-29 18:46] #59943 closed

[2020-07-29 18:49] Nickomang commented on #59888
@psmanhas, @WhitWaldo, I can confirm that we do support the creation of Ubuntu 18.04 clusters as of version 7.1. Please see [this blog post](https://techcommunity.microsoft.com/t5/azure-service-fabric/azure-service-fabric-7-1-release/ba-p/1311373) for more information on 7.1, and [this article](https://docs.microsoft.com/azure/service-fabric/service-fabric-tutorial-create-vnet-and-linux-cluster) f

[2020-07-29 19:07] SquirrelAssassin opened #59956 "what other module provides these features"
What other powershell module provides these features if this one is to be deprecated soon?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cb129d2-9594-bf0c-5946-982f0ed0d888
* Version Independent ID: 6522b038-6853-3552-55c8-f174cf56573d
* Content: [Enable per-user Multi-Factor Authentication - Az

[2020-07-29 19:23] BhargaviAnnadevara-MSFT commented on #59757
@pseudoelvis Thanks for the feedback!

I tried out the `az network dns zone import` command as given in the doc in question and was able to create a DNS zone using a DNS zone file successfully. Here is the complete Azure CLI command reference for the latest [az network dns](https://docs.microsoft.com/en-us/cli/azure/network/dns?view=azure-cli-latest) commands.

That said, I noticed that there is a

[2020-07-29 19:35] Leonardo-Ferreira commented on #59706
ok, tks!

[2020-07-29 19:35] #59757 closed

[2020-07-29 19:39] palma21 commented on #47869
@aanandr @tamilmani1989 could you check this ask ^

[2020-07-29 19:40] anastasia-ms commented on #59829
Just to be clear. The coordinates that @SatishBoddu-MSFT referred to are the coordinates of a polygon in accordance with [ GeoJSON format, which uses the standard for GPS system ](https://tools.ietf.org/html/rfc7946#section-3.1.8). So yes, they are lat/lon coordinates. I am just trying to chase down a sample that I know is around.

[2020-07-29 19:43] singhnishant40 opened #59957 "What is a "set" in AAD DS pricing"
[The Azure AD Domain Service pricing page (https://azure.microsoft.com/en-us/pricing/details/active-directory-ds/) displays pricing for Instances in /hour/set. It would be good if we can add a footnote for what this 'set' means/denotes.  ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13427ec1-d66f-1063-9c5d-273b2c745

[2020-07-29 19:47] kazaw1500 opened #59959 "Facebook"
Hello
Facebook Two Factor Authentication Code Error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80005683-d3e5-aab5-2642-677a2ef96203
* Version Independent ID: 6abac9a6-5472-62c3-5eae-fa39ecccd12e
* Content: [Enable Azure Multi-Factor Authentication](https://docs.microsoft.com/en-us/azure/active-directory/authenticat

[2020-07-29 19:57] sam-lippert commented on #59090
So I can't get the transactions from the blockchain?
I think we will be pursuing a non-Microsoft solution. Thank you for your time.

[2020-07-29 19:57] #59090 closed

[2020-07-29 19:57] sam-lippert commented on #59090
So I can't get the transactions from the blockchain?
I think we will be pursuing a non-Microsoft solution. Thank you for your time.

[2020-07-29 19:58] dannyevers commented on #59610
@brbel  The Azure Virtual Machine offer type supports the following:
- Free trial
- BYOL (bring your own license)
- Transact (Microsoft bills the customer monthly)
- You can also charge for usage: Per core, Per core size, Per market and core size

[2020-07-29 19:59] dannyevers commented on #59610
#please-close

[2020-07-29 20:01] BharathNimmala-MSFT commented on #59942
@juanandmsft Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-07-29 20:04] BharathNimmala-MSFT commented on #59944
@yantang-msft Thank you for bringing this to our notice, we will review and get back to you at the earliest.

[2020-07-29 20:04] Eikistein opened #59961 "The topic High availability with customer-managed TDE is misleading."
The topic High availability with customer-managed TDE is misleading.
The below is not accurate and have led me to a solution that does not work.
"Use the Backup-AzKeyVaultKey cmdlet to retrieve the key in encrypted format from the primary key vault and then use the Restore-AzKeyVaultKey cmdlet and specify a key vault in the second region to clone the key."

According to Restore-AzKeyVaultKey (http

[2020-07-29 20:05] cynthn commented on #59122
@dineshcode Thanks for the feedback! I've created a work item to add this to our backlog. We don't typically document this type of content, but I will see if we can get someone to take a closer look at what it would take to create and maintain this addition.

#please-close

[2020-07-29 20:05] #59122 closed

[2020-07-29 20:05] BharathNimmala-MSFT commented on #59946
@mchudinov Thank you for bringing this to our notice, we will review and update the document accordingly.

[2020-07-29 20:10] cynthn commented on #59039
@harkinj Thanks for the suggestion! I've created a work item to track this. It might take a while to get this done, as there are lots of services. But, I think it would make a good addition 👍

#please-close

[2020-07-29 20:10] #59039 closed

[2020-07-29 20:15] cynthn commented on #59031
@mimckitt

[2020-07-29 20:18] mimckitt commented on #59031
Currently the zones listed at the bottom of the page are in preview so if you wanted to try them out you can request that your subscription be whitelisted. However they are not officially GA yet hence they are not available to the general public. I don't have an ETA I am able to share with expected time frames for regions to move from Preview to GA. Every region is different and every Preview requ

[2020-07-29 20:18] PRMerger10 commented on #59031
mimickitt is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-07-29 20:19] BHoggs opened #59962 "Light on detail"
This article is a bit light on detail - can I request bit of a re-write to add some technical / under-the-hood knowledge?

i.e.
* What versions of Windows are supported?
* How does AAD Connect need to be configured? Article mentions domain filtering - what's required?
* How does this differ from Hybrid-Join?
* Is this a more modern/preferred solution to hybrid join/identity?
* How does the authent

[2020-07-29 20:24] mpchen opened #59964 "Can "ExistenceScope" and "DeploymentScope" be "management group" in "DeployifNotExists" policies?"
[Enter feedback here]

Since ARM supports "management group" deployment scope now (https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deploy-to-management-group), I am wondering whether we can use it in DeployIfnotExist policies.

In the current doc "DeploymentScope" can only be Subscription and Resource Group.

Thanks.

---
#### Document Details

⚠ *Do not edit this section.

[2020-07-29 20:25] DCtheGeek commented on #59964
#assign:DCtheGeek

[2020-07-29 20:26] DCtheGeek commented on #59964
@mpchen Thanks for the question.  Let me verify the answer and then get back to you.

@MicrosoftDocs/azure-cxp-triage Please label 'product-question' and #in-progress.

[2020-07-29 20:33] Minewiskan commented on #59507
@himanshusinha-msft  - The article is correct. This is a support issue.

[2020-07-29 20:33] BharathNimmala-MSFT commented on #59951
@juanandmsft Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-07-29 20:34] DCtheGeek commented on #59964
@mpchen I confirmed that **existenceScope** and **deploymentScope** still only allow _Resource Group_ or _Subscription_. If this is something you need, please create an Idea for it on the [Azure Policy UserVoice](https://feedback.azure.com/forums/915958-azure-governance?category_id=345055). The team does use this to help determine priority and focus for new features.  Thanks for the question!

@Mi

[2020-07-29 20:34] #59964 closed

[2020-07-29 20:42] zr-msft commented on #40754
Thank you @abhirockzz for the feedback.

We have add an item to our backlog to update out diagrams and will prioritize accordingly.

#please-close

[2020-07-29 20:42] #40754 closed

[2020-07-29 20:44] cynthn commented on #59013
#reassign @Karishma-Tiwari-MSFT

[2020-07-29 20:44] vhorne commented on #58407
The following link was added to the article:

https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic

#please-close

[2020-07-29 20:44] #58407 closed

[2020-07-29 20:45] JamesTran-MSFT commented on #59957
@singhnishant40
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

Related links:
https://docs.microsoft.com/en-us/answers/questions/53825/what-is-a-34set34-in-aad-ds-pricing.html?childToView=53856#answer-53856

https://stackoverflow.microsoft.com/questions/212441

[2020-07-29 20:46] zr-msft commented on #41317
Thank you @JohnGalt1717 for the feedback.

We have added an item to our backlog and will prioritize accordingly.

#please-close

[2020-07-29 20:46] #41317 closed

[2020-07-29 20:47] Minewiskan commented on #59773
@duanzy47 - Unfortunately an On-premises data gateway is required. This is because the the same PostgreSQL connector is used for either on-prem or Azure PostgreSQL. Azure AS sees Azure database for PostgreSQL the same as being on-prem, behind a firewall, or on a VNet. Sorry, I know it's not the answer you wanted.
#please-close

[2020-07-29 20:47] #59773 closed

[2020-07-29 20:51] Mike-Ubezzi-MSFT commented on #59627
@tx5westmt Greatly appreciate the detailed feedback. This is incredibly helpful information. I will have the documentation team review this article and make updates based upon your feedback and careful analysis of each directional sync scenario.

[2020-07-29 20:54] BharathNimmala-MSFT commented on #59950
@Mexicoder Thank you for your feedback, we will look into it and get back to you at the earliest.

[2020-07-29 21:02] Mike-Ubezzi-MSFT commented on #59627
@stevestein @CarlRabeler Would `on-going sync` permissions slightly differ in a bi-direction sync scenario where the _upload_ (Member -> Hub) sync permissions differ slightly than the _download_ (Hub -> Member) scenario? If so, is there a need to explicitly detail this?

[2020-07-29 21:04] JamesTran-MSFT commented on #59962
@BHoggs
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-07-29 21:05] dannyevers commented on #58838
@MustAl-Du Thanks for your feedback. You are totally correct all all three points. I'm currently working on revising the help article you referenced.

[2020-07-29 21:05] kevduong1 opened #59966 "Notifying a C# application whenever something in the database has been changed or added"
My co-workers and I have tried sqldependency() but in order to use that we need to enable service broker on the database. Which apparently is not allowed on azure

[2020-07-29 21:06] dannyevers commented on #58838
#please-close

[2020-07-29 21:06] #58838 closed

[2020-07-29 21:08] JamesTran-MSFT commented on #59956
@SquirrelAssassin
Are you referring to the MSOnlineV1 PowerShell module? If so, it's encouraged to use the newer Azure Active Directory V2 PowerShell module instead of this module. For more information about the V2 module please see [Azure Active Directory V2 PowerShell](https://docs.microsoft.com/en-us/powershell/azuread/v2/azureactivedirectory).

[2020-07-29 21:08] iainfoulds commented on #59957
Updates are due to go live on Monday that provide more information on sets.

For now, when you create an Azure AD DS managed domain, you define a unique namespace. This namespace is the domain name, such as *aaddscontoso.com*, and two domain controllers (DCs) are then deployed into your selected Azure region. This deployment of DCs is known as a set.

#please-close

[2020-07-29 21:08] #59957 closed

[2020-07-29 21:08] cherylmc commented on #43016
#reassign:yushwang

[2020-07-29 21:15] dannyevers commented on #58839
@MustAl-Du  I agree that BYOL is a billing option and I'm updating the help article you referenced.

[2020-07-29 21:15] dannyevers commented on #58839
#please-close

[2020-07-29 21:15] #58839 closed

[2020-07-29 21:21] JMurf opened #59967 "subscriptionKey and faceEndpoint vars should not have const keyword"
in code sample.

`private const string subscriptionKey = Environment.GetEnvironmentVariable("FACE_SUBSCRIPTION_KEY");`
won't work

should be static and readonly though?

`private static readonly string subscriptionKey = Environment.GetEnvironmentVariable("FACE_SUBSCRIPTION_KEY");`
will work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-07-29 21:23] mimckitt commented on #57798
Just to follow up, it seems the document is correct. However, if you deploy a VMSS instance via the portal, it inputs some characters in for you which is why we were seeing the inconsistencies. I am working to find the right contact in the Portal team to confirm on the reasoning and will update you and the doc when done. .

[2020-07-29 21:23] cherylmc commented on #43016
#assign:charwen

[2020-07-29 21:36] zr-msft commented on #55858
Thank you @Tbohunek for the feedback.

We have add an item to our backlog and will prioritize accordingly.

#please-close

[2020-07-29 21:36] #55858 closed

[2020-07-29 21:36] SquirrelAssassin commented on #59956
Ok how can I get any of the MFA values?   Strongauthenticationmethod or strongauthenticationdetails?

Regards,
Bill

Typed on a phone with tiny keys and big thumbs, please pardon the typos.
________________________________
From: James Tran - MSFT <notifications@github.com>
Sent: Wednesday, July 29, 2020 4:08:42 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: SquirrelAssassin <w

[2020-07-29 21:40] ChaitanyaNaykodi-MSFT commented on #59801
@aronchick, thank you for reaching out, I am sorry for the delay in my response.
The ‘connectionStringSetting’ is listed in the App setting when function app is running on the portal. The ‘connectionStringSetting’ is listed in the local.settings.json file when function app is running locally. The document referenced does mention it as shown in the screenshot below which is just above the [usage pa

[2020-07-29 21:40] femsulu commented on #59936
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2020-07-29 21:41] MarileeTurscak-MSFT commented on #59959
@kazaw1500
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-29 21:43] iainfoulds commented on #59956
There's a known lack of parity in command features between PowerShell v1 and PowerShell v2, specifically for things like _StrongAuthenticationUserDetails_. The [Microsoft Graph REST API (beta) for authentication methods](https://docs.microsoft.com/graph/api/resources/authenticationmethods-overview?view=graph-rest-beta) is the current engineering focus to provide modern interaction and is where dat

[2020-07-29 21:44] Vegas588 commented on #58407
Thanks. Looks much better!

[2020-07-29 21:46] ChaitanyaNaykodi-MSFT commented on #59917
@dr-dolittle, Thank you for your feedback! We will review and update as appropriate.

[2020-07-29 21:48] ChaitanyaNaykodi-MSFT commented on #59921
@philip-reed, Thank you for your feedback! We will review and update as appropriate.

[2020-07-29 21:48] cherylmc commented on #43016
#reassign:yushwang

[2020-07-29 21:49] cherylmc commented on #43016
This appears to be a VPN Gateway question and not ExpressRoute. Assigned to Yu-Shun.

[2020-07-29 21:49] femsulu commented on #59940
hello @MrSimple263 - Please share the Azure documentation related to your issue so we can review and investigate further.

[2020-07-29 21:50] nerddtvg opened #59968 "PowerShell profile.ps1 does not run when a function app starts"
That is not true. The profile.ps1 runs when a function execution is called. This can easily be tested by throwing an error in the profile.ps1. The host will start, the worker will start, but the moment you call a function it will fail.

This was tested with Azure Functions Core Tools v3.0.2630 locally.

This is important to consider since profile.ps1 doesn't run just once per function app. It will

[2020-07-29 21:54] femsulu commented on #59945
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2020-07-29 21:59] femsulu commented on #59953
Hello @BrianLytle, Please share a link to the  documentation you are following so we can help answer your question.

[2020-07-29 22:08] zr-msft commented on #41313
Thank you @porrascarlos802018 for the feedback.

I've verified the article works in its current state. Closing for now, but please follow up if you're continuing to see this issue.

#please-close

[2020-07-29 22:08] #41313 closed

[2020-07-29 22:12] kobulloc-MSFT commented on #59541
@jurschel I followed up on this and it looks like this is what you are looking for:

![image](https://user-images.githubusercontent.com/37556655/88859029-d4ebec00-d1ad-11ea-8ee8-75ae771b8310.png)

If you're unable to see that, would you mind telling me a bit more about your setup?

[2020-07-29 22:18] MarileeTurscak-MSFT commented on #59959
Hello, this issue does not give enough context into your problem for us to troubleshoot. Please post a new thread to Microsoft Q&A and include more details about the exact issue you are facing. https://docs.microsoft.com/en-us/answers/topics/azure-active-directory.html

[2020-07-29 22:18] #59959 closed

[2020-07-29 22:33] burma-shave commented on #59710
Thanks for the clarification, that's very helpful.

[2020-07-29 22:41] YutongTie-MSFT commented on #59676
@michalmar
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@likebupt Hi Blanca, could you please help check this issue and update the document? Thanks a lot.

[2020-07-29 22:52] alansfreitas opened #59971 "Error in DNS entry"
it is necessary to include dot in final bind entry:

Wrong:
www.contoso.com IN CNAME contoso.trafficmanager.net
Correct:
www.contoso.com IN CNAME contoso.trafficmanager.net.

Otherwise, the Cname appear contoso.traficmanager.net.contoso.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d971baae-e582-567b-8b02-c968245b

[2020-07-29 22:57] cloudmelon opened #59972 "ExpressRoute Direct Resources - The resource type could not be found in the namespace 'Microsoft.Network' for api version '2020-05-01'"
# Azure documentation issue guidance

While creating ExpressRoute Direct Resources - The resource type could not be found in the namespace 'Microsoft.Network' for api version '2020-05-01'

![image](https://user-images.githubusercontent.com/4621560/88862080-4ac87580-d1f7-11ea-8e29-e3c388dd97b5.png)

URL
https://docs.microsoft.com/en-us/azure/expressroute/expressroute-howto-expressroute-direct-cli

[2020-07-29 22:59] Snozzberries opened #59973 "Description of cmdlet differs from current experience"
When using the `Get-AzSubscription` cmdlet the subscriptions with delegations from a customer tenant are shown with the MSP's Azure AD Tenant ID and not the customer's.

Unsure if this description is incorrect or the cmdlet is returning an unexpected result.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6c2d942-cc8b-

[2020-07-29 23:00] aronchick commented on #59801
The problem is that none of this is visible in VSCode – it’s not even obvious why it failed when run. Worse, I didn’t think, based on the way this was phrased, that I was missing anything, so I kept copying strings over and none of it worked.

[cid:image001.png@01D665C1.61973000]

I think it’s a combination of doc and error messages. At a minimum, I’d rewrite the above to say SOMETHING like:

“The

[2020-07-29 23:00] kazshi commented on #41256
Thank you, @avoidik !

[2020-07-29 23:19] YutongTie-MSFT commented on #59726
@likebupt Hi Blanca, could you please help with some explanation here? We need to make the document clearer as well. Thanks.

[2020-07-29 23:21] Karishma-Tiwari-MSFT commented on #59907
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-29 23:24] SquirrelAssassin commented on #59956
Not acceptable.  If you want to deprecate a powershell module you darn well better have a new powershell path.  While I know how to do it, you can’t expect everyone to know apis.  And the fact that I have to make a spn for graph access and still use a user account is one of the most annoying and convoluted scenarios I have ever scene for any api.  Get it together Microsoft and stop soloing you’re

[2020-07-29 23:27] TravisCragg-MSFT commented on #59938
@patpicos Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-07-29 23:39] TravisCragg-MSFT commented on #59971
@alansfreitas Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-07-29 23:54] MarileeTurscak-MSFT commented on #59858
@osaid202 it seems that you need a global admin account to do this. I just tested on my own tenant to confirm and can access with my global admin account and not my Authentication admin account.

[2020-07-29 23:57] MarileeTurscak-MSFT commented on #59858
I made a pull request to add this and will leave it open for confirmation from @iainfoulds https://github.com/MicrosoftDocs/azure-docs-pr/pull/124370

[2020-07-29 23:57] #59858 closed

[2020-07-29 23:59] sayanghosh123 commented on #59031
Hi @mimckitt - Many thanks for this response. Can you please advise the whitelisting request process for this preview? We will certainly be keen to test this out in our test subscriptions as we have MANY customers who are (eagerly) waiting for this.

[2020-07-30 00:10] iainfoulds commented on #59956
I understand your frustration. This feedback has been relayed multiple times. Like I said, the engineering team know there's a lack of parity, and they're focusing on the Microsoft Graph API moving forward. Unfortunately the docs reflect the product truth. As the product story changes and improves, we'll make doc updates accordingly.

For now, #please-close

[2020-07-30 00:10] #59956 closed

[2020-07-30 00:11] kknight-valorem opened #59975 "URL at the top of page does not work (https://www.explore.ms/)"
HI Microsoft.
This URL isn't working.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 611ff5f6-f273-bf7c-d959-83cd4f07168e
* Version Independent ID: f1d1ea8e-b66b-0c73-5375-6e38ef8aca2b
* Content: [Azure EA agreements and amendments](https://docs.microsoft.com/en-us/azure/cost-management-billing/m

[2020-07-30 00:21] ojngo opened #59977 "[Using Azure shared disks with your VMs] missing step"
It appears the property "additionalCapabilities.ultraSSDEnabled" must be set in order to attach UltraSSD_LRS disk to a VM.

This section would need additional steps:
1. deallocate the running vm
2. set the property
3. start the vm

Then attach the UltraSSD_LRS disk the vm.

Here is the stack trace for the operation without doing the above steps.

PS /home/oj> $datadisk = Get-AzDisk -ResourceGroupN

[2020-07-30 00:43] femsulu commented on #59709
Hello @danvalero cluster-awareness is currently unsupported but on the feature owner's radar based on [community feedback](https://feedback.azure.com/forums/905242-update-management?query=cluster).  Please add your vote to the existing feedback to raise priority on the feature in our backlog.

Thanks for the feedback.

Cheers.

[2020-07-30 00:43] rvraman opened #59979 "Unable to Query Bastion Data"
I have susbcription which is hosted in SouthEast Asia region and enabled Bastion to allow access to VM. the users from countries like Singapore and India don't have an issue connecting to the VM's bastion.

However, one user connecting from Australia gets the error as "Unable to Query Bastion Data". (refer to the screenshot)

Any idea what could be potentially going wrong here?

![Untitled](https:

[2020-07-30 00:44] femsulu commented on #59709
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

#please-close

[2020-07-30 00:44] #59709 closed

[2020-07-30 00:55] mimckitt commented on #59031
No problem. From what I understand you can open a support request and they can get it sorted out. However that said, I am not 100% sure on that.... So let me see if I can find out for sure and get back to you on that.

[2020-07-30 01:05] larryclaman opened #59981 "Issue with tensorflow 1.14"
In section 'Import the TensorFlow model and add helper code' step 7, I'm getting the error
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f894a59-0503-d934-947b-723abc207186
* Version Independent ID: aa79b6b4-65e6-c89d-4e2f-e5ec73089a95
* Content: [Use Python and TensorFlow for machine learning in Azure](https:

[2020-07-30 01:18] anastasia-ms commented on #59829
I spoke with the product manager on this, and apparently the info and solution to what you are trying to do is not yet ready to be released at this stage.

[2020-07-30 01:34] sayanghosh123 commented on #59031
Thanks. While you do that, we will log a support case and see if we can get any luck with that, if so I will report back as well.

[2020-07-30 01:46] AshokPeddakotla-MSFT commented on #59662
@Bengkel We would like to listen more from what specific part of tutorial is out dated and what changes needs to be incorporated.
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-07-30 01:46] #59662 closed

[2020-07-30 01:49] MrSimple263 commented on #59940
Of course! Follow instructions:
https://docs.microsoft.com/en-us/azure/cognitive-services/translator/custom-translator/how-to-train-model
i have trained model with document type is "Phrase Dictionary". I have tried with many language pair, they are successful. But with English - Portuguese pair it process failed.

[2020-07-30 01:57] ram-msft commented on #59967
@JMurf Thanks for the feedback. We will update you shortly.

[2020-07-30 02:23] markroloff commented on #48004
Any update on this? Been looking for more info in this space and it'd be great to find this document.

[2020-07-30 02:40] DouglasHeriot opened #59982 "Not clear that tenant-wide admin consent is required after turning on "user assignment required""
As an Application Developer maintaining internal App Registrations, I wanted to restrict an app to a group, with "user assignment required" and assigning the app to a group.

However I started getting errors signing in about "Need admin approval" "App needs permission to access resources in your organisation that only an admin can grant. Please ask an admin to grant permission to this app before y

[2020-07-30 03:06] MinaPiao commented on #59403
we've checked the driver is updated in Microsoft document. Thanks for the follow up!

[2020-07-30 03:40] johnayoub opened #59984 "App Service: Standard Plan Private Endpoint Support"
Currently the docs state that only Premium Plans are supported in preview. Is the S1-S3 tiers going to be supported once this feature is GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2174e399-063b-129a-eef6-2c49a67fd4e2
* Version Independent ID: 6cb95aa6-fb50-b966-4c9a-01e0718d0bcb
* Content: [Connect privately to

[2020-07-30 03:52] VikasPullagura-MSFT commented on #59930
@OffColour
Thanks for your Question! I will check with internal team on this and will get back.

[2020-07-30 04:13] VikasPullagura-MSFT commented on #59977
@ojngo
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-07-30 04:13] VikasPullagura-MSFT commented on #59977
@roygara
Can you please check and add your comments on this doc update request as applicable.

[2020-07-30 04:15] Druffl3 commented on #59829
@anastasia-ms , if it is not ready, Would it mean that it is being worked on or at least on the roadmap right? It will be very helpful if you guys can direct us towards a pre-release or a beta version of it, if already available.

[2020-07-30 04:40] anastasia-ms commented on #59829
Yes. It is being worked on. I will update you as soon as I know anything.

On Jul 29, 2020, at 9:15 PM, Goutham R <notifications@github.com> wrote:

﻿

@anastasia-ms<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fanastasia-ms&data=02%7C01%7Cv-stharr%40microsoft.com%7C2cd8c2233ec449def29d08d8343f2f87%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637316793269409595&sda

[2020-07-30 04:46] kiennt23 commented on #59701
Hi, any update? I have same issue.

[2020-07-30 04:49] AnuragSharma-MSFT commented on #59890
Thanks @DavidTrigano

@sorabhm We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-30 04:50] #59890 closed

[2020-07-30 04:58] KranthiPakala-MSFT commented on #59924
@mssaperla Could you please have a look at this feedback? - Thank you.

[2020-07-30 05:28] VikasPullagura-MSFT commented on #59750
@smotwani As mentioned in the previous comment, there is no update on the document required now. Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-07-30 05:28] #59750 closed

[2020-07-30 05:49] marcindulak opened #59986 "[Module: K-Means Clustering] the number of centroids guarantee"
The page contains the following section:

[code]

Could you provide further references to the algorithm used for the presumable tuning of the number of centroids?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac84fdd0-89d2-27e8-da9a-97d612bf53fb
* Version Independent ID: 5d342d79-6200-13b2-f576-0c0efdecddb0
* Content:

[2020-07-30 05:58] Swapnil24051992 commented on #23779
Were you able to upgrade and did transaction replication worked on Azure Managed Instance after upgrade????

[2020-07-30 06:13] SadiqhAhmed-MSFT commented on #59975
@kknight-valorem Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2020-07-30 06:13] HarshitaSingh-MSFT commented on #59711
Hello @over2under3!
Just checking to see if you have had a chance to see below message -

[2020-07-30 06:13] SadiqhAhmed-MSFT commented on #59975
@bandersmsft FYI.

[2020-07-30 06:15] MikeNicholls commented on #36458
I have had some success with omitting `WEBSITE_CONTENTSHARE` for Premium when deploying settings directly in the `Microsoft.Web/sites` properties (siteConfig, appSettings), but not when specifying the settings as a separate resource using `Microsoft.Web/sites/config` with `"type": "config"`.

[2020-07-30 06:33] BhargaviAnnadevara-MSFT commented on #59966
Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-07-30 06:44] BhargaviAnnadevara-MSFT commented on #59961
@Eikistein Thanks for the question! We're investigating this and will get back to you shortly.

[2020-07-30 06:57] AjayKumar-MSFT commented on #59984
@johnayoub, Thanks for leveraging Azure docs feedback channel to raise this question. We are taking a look into this and will get back to you soon.

@Ericgre, Requesting your comments on this.

[2020-07-30 07:04] AjayKumar-MSFT commented on #59952
No worries, Brian. Thanks for leveraging Azure docs feedback channel to raise this question and much appreciate the follow-up.

[2020-07-30 07:06] MayankBargali-MSFT commented on #59917
@dr-dolittle I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-30 07:08] psmanhas commented on #59968
@nerddtvg Thank you for the feedback. We will work on it and will keep you updated on the thread

[2020-07-30 07:12] HarshitaSingh-MSFT commented on #59903
Hello @ifslearning , thanks for you question!
If you want to allow the users to reset the password after signing-in using the signup&signin user flow, you can provide a direct link that redirects to Password Reset user flow. You can refer to below code to redirect user to Password Reset flow -
[code]
You can find the above code as a part of [B2C Sign-up/Sign-in quickstart, Account Controller](http

[2020-07-30 07:18] psmanhas commented on #59972
@cloudmelon Thank you for the feedback. We will work on it and will keep you updated on the thread

[2020-07-30 07:19] autodomme commented on #56756
I'm the same. All I want to do is query my ADB2C tenant as the user logged in and query for the list of connected issuers that I have.

So far, this seems nearly impossible. This thread helped me realise that while it looks like AAD account, it smells like an AAD account, and it quacks like an AAD account, it isn't *actually* an AAD account.

Desperately need simple walkthroughs.

[2020-07-30 07:20] psmanhas commented on #59973
@Snozzberries Thank you for the feedback. We will work on it and will keep you updated on the thread

[2020-07-30 07:22] psmanhas commented on #59979
@rvraman Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2020-07-30 07:22] JayaChatterjee-MSFT commented on #59791
@gatkinshentsu Could you please remove ` -> func.HttpRespons` and `return func.HttpResponse(f"Message created with the rowKey: {rowKey}"` from the _init.py_. Also remove the `{
      "type": "http",
      "direction": "out",
      "name": "$return"
    }` from the _function.json_ file.

For logging purpose you may use _logging.Info_. `import logging` in the init.py and you may add
`result = json.d

[2020-07-30 07:24] psmanhas commented on #59981
@larryclaman Thank you for the feedback. We will work on it and will keep you updated on the thread

[2020-07-30 07:25] psmanhas commented on #59982
@DouglasHeriot Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2020-07-30 07:26] MayankBargali-MSFT commented on #59904
@estensen Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2020-07-30 07:28] #59904 closed

[2020-07-30 07:34] oliverscheer opened #59988 "Duplicated text."
The following text is duplicated/repeated "From inside of the Kubernetes cluster, Webhook Token Authentication is used to verify authentication tokens. Webhook token authentication is configured and managed as part of the AKS cluster."
Page: https://docs.microsoft.com/en-us/azure/aks/concepts-identity
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-07-30 07:44] kewalaka opened #59989 "In Kusto - how do you create a datatable for a group of machines"
Regarding the complex example on this page: "Summarize the outbound connections from a group of machines"

This includes a datatable to restrict the query to a subset of machines, but I've been unable to find out how to create this - i.e. how do I create the "m-***" string below?

[code]

Is it possible to modify this example to show either how to generate the datatable, or to remove this and show

[2020-07-30 07:47] MikkelMBXP commented on #59841
@zr-msft I started the process over today creating a new AKS cluster and following the points - this time it worked. Only difference I could see was the kubernetes version - today I tried with 1.16.

I tried deleting the namespace, upgrading to 1.17 and the installing it again, and that also worked.

[2020-07-30 07:51] kobulloc-MSFT commented on #59786
@adam-crain MAPI and EWS are interesting in that they can do both legacy and modern authentication.  So what do you do if you want to block legacy but not modern authentication?  There is a great Azure AD blog by Sue Bohn that covers this:

https://techcommunity.microsoft.com/t5/azure-active-directory-identity/azure-ad-mailbag-discovering-and-blocking-legacy-authentication/ba-p/369725

[2020-07-30 08:00] matt1405 opened #59990 "Extend Lighthouse to Indirect CSPs and simplify access for multi tenancy end users."
Do you have plans to extend Lighthouse and the Marketplace out to Indirect CSPs.
We work with a number of multi-tenant education trusts and Lighthouse would be perfect for dealing with the number of tenants.
Though we can set up off a template the option to give the option through the market place (even locked down) would make it alot easier.

---
#### Document Details

⚠ *Do not edit this section

[2020-07-30 08:04] Ericgre commented on #59984
Hello, no we will not land Private Endpoint for other SKU than PremiumV2, this feature is really an enterprise feature.

[2020-07-30 08:07] changeworld opened #59991 "The init command for helm is missing from v3"
[Enter feedback here]
Helm init command is missing from helm v3.
However, the documentation is written assuming helm v2.
So when I run helm init, following the documentation instructions, I get the following error:

----
Error: unknown command "init" for "helm"
Did you mean this?
lint
Run'helm --help' for usage.
----

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-07-30 08:07] chiners68 opened #59992 "remove CorporateWerServer* from Computer\HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\Windows Error Reporting"
if I run the following command in Command line or PowerShell I get an error.
`remove CorporateWerServer* from Computer\HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\Windows Error Reporting`

In Command line
'remove' is not recognized as an internal or external command,
operable program or batch file.

In powershell

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-07-30 08:08] duanzy47 commented on #59773
Thx for the answer, anyway.

[2020-07-30 08:09] HarshitaSingh-MSFT commented on #59894
Hello @rick-hayek, hope you are doing well and thanks for your question!

The session lifetime for password reset is **15 minutes**. **From the start of the password reset operation**, the user has 15 minutes to reset their password. The email and SMS one-time passcode are valid for **5 minutes** during the **password reset session**. You can refer to this [FAQ](https://docs.microsoft.com/en-us/az

[2020-07-30 08:18] SibeeshVenu commented on #59910
I installed `Raspberry OS` previously known as `Raspbian` on my `Raspberry Pi`, do you think that the command for the `stretch` will work fine, or are there any other restrictions?

`curl https://packages.microsoft.com/config/debian/stretch/multiarch/prod.list > ./microsoft-prod.list`

I still believe that it will be helpful if you can add all this information to the doc, including the change of `

[2020-07-30 08:18] tejinderrai opened #59993 "Incorrect Practice defined in this article"
The article states the following:

"Follow the principle of least user access to ensure that your app only requests permissions it actually needs. Avoid requesting permissions that require admin consent as this may prevent users from acquiring your app at all in some organizations."

This is somewhat incorrect. Users in organisations should not be consuming applications in governed enterprise envi

[2020-07-30 08:29] Johnnytechn commented on #59489
Hi, @BhargaviAnnadevara-MSFT and @mrbullwinkle . How is it going, can I know? Thanks.

[2020-07-30 08:33] jpromnam opened #59994 "Note"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b52a210-1be6-4e5f-d95c-8ea7b87919ca
* Version Independent ID: 02a43ebb-7471-d7ff-4f7e-84c9f7a66326
* Content: [Back up and recover accounts with the Microsoft Authenticator app - Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/user-

[2020-07-30 09:22] SB-o-matic opened #59996 "Where to Create DateTime Extension Attribute to be used in Custom Policy- Portal or Custom Policy or Both?"
Helo Everyone,

I need to use an extension attribute in custom policy of data type "DateTime". I defined the claim type as follows.

<ClaimType Id="extension_myAttribute">
        <DisplayName>myAttrbute</DisplayName>
        <DataType>dateTime</DataType>
        <UserHelpText>This is for X</UserHelpText>
      </ClaimType>
I want to be able to compare this attribute with the current time and cons

[2020-07-30 09:27] bradpicone opened #59997 "Key Vault Diagnostic Setting Template does not support deploying to Event Hubs in a different region"
The Key Vault diagnostic settings template does not support Event Hubs which are not in same region as the Key Vault resource. This behavior is available through the Azure Portal, Powershell and CLI so it would be nice to have feature parity. It would also be useful to have the current ARM template limitation documented as well.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-07-30 09:35] SadiqhAhmed-MSFT commented on #59990
@matt1405 Thanks for the comment. We are looking into this and will get back to you shortly.

[2020-07-30 09:39] VikasPullagura-MSFT commented on #59988
@oliverscheer Thanks for pointing this out.

I have updated the document and changes will go live soon.

[2020-07-30 09:40] dvherk opened #59998 "Priavte IP only - not on AAG v2"
In paragraph "Front-end IP", please add that Private only IP on front-end listener is not supported on AAG v2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 166e6517-9190-c9fc-5ad5-757ad64bb3fc
* Version Independent ID: 0e67beb9-827a-cafb-b0aa-6d38d32475f4
* Content: [Azure Application Gateway configuration overview](

[2020-07-30 10:07] lightupdifire opened #59999 "Passwordless or Windows Hello for Business"
Hello,

What about Passwordless (Windows Hello for Business/FIDO2/Authenticator), it is supported for WDV?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2978f80-ead7-9d5b-3723-6b6011ef6458
* Version Independent ID: a881ce9a-2900-7ca4-38a1-73244ecb78c0
* Content: [Windows Virtual Desktop security best practices - Azur

[2020-07-30 10:07] KrishnaG-MSFT commented on #59997
@bwren [This](https://feedback.azure.com/) UserVoice / feedback forum is the communication channel for new features and idea's related to Azure. Feature requests that are specific to ARM are shared in [this](https://feedback.azure.com/forums/281804-azure-resource-manager ) section. I recommend you to share the feature requests there and check other features that are of interest and upvote them. In

[2020-07-30 10:21] ram-msft commented on #59986
@marcindulak Thanks for the question. We are investigating the issue and will update you shortly.

[2020-07-30 10:31] AnuragSharma-MSFT commented on #59892
@MS-jeremy This is being assigned to the content author to evaluate and update as appropriate.

[2020-07-30 10:41] xaviarias opened #60000 "Incorrect arguments in instantiate chaincode azhlf command"
[Enter feedback here]

The instantiate command has two arguments that seem not to be required:
[code]
The arguments are:

* `-p $CC_PATH`
* `-l $CC_LANG`

It seems unnecessary to specify the language and path which are already specified when deploying the chaincode.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6027fb

[2020-07-30 10:42] Azrael1 opened #60001 "Getting output/ folder for ADLS Gen2"
Hi,

As given in the documents, I tried to save the output by using `Dataset.from_files()` function, but for the ADLS gen2 datastores, this does not work, giving me an error,

`UserError: User program failed with PermissionDeniedError: /tmp/tmp8kq34epx/train.tf_record; Read-only file system
`
Please reference this in docs, that it is not possible to write for ADLS gen2 datastores.

Also, in this c

[2020-07-30 10:45] psmanhas commented on #59888
@Nickomang Thank you for your comment and yes @WhitWaldo as per the confirmation from our internal team as well we do now have support  for Ubuntu 18.04 LTS on SF.

Do let me know in case of any further queries.

Thanks.

[2020-07-30 10:46] PriceChild commented on #58292
I've recently discovered https://docs.microsoft.com/en-us/azure/app-service/containers/configure-language-nodejs which explains how to set the version for Linux Function Apps through the az command line. It might be useful to link to this.

It looks like the format may be different when deploying arm templates, shown by advice at https://stackoverflow.com/a/58518078

[2020-07-30 10:54] MikkelMBXP opened #60002 "Unable to use IP address in a different resource group"
[Enter feedback here]
I have created an IP in a different resource group as stated in the "Note" section - however when I run the helm install with the other IP, the EXTERNAL-IP stays pending. It works just fine if I use the IP in the same resource group.

I have assigned the service principal to role "Network Contributor" on the other resource group.

In the logs from the nginx-ingress-controller

[2020-07-30 11:04] ErgoPr0xy opened #60003 "No built in roles for Dashboards"
This is a good tutorial but a prerequisite should be adding the relevant roles so you CAN create a dashboard.

There are currently no roles for dashboard access. This is needed to enable a user to create dashboards and  currently can only create custom roles with Premium AD - which not everyone has.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-07-30 11:11] alexott opened #60004 "Description of PushedFilters is not completely correct"
In the text & screenshot it's written about pushed filters, but it's not completely correct - execution plan always includes this field, and put there filters that _could be potentially used_, but actually pushed filters are marked with `*`.  And this is clearly seen in the execution plan, when there is an additional filtering happens in Spark.  If filter is pushed down, then filtering happens ins

[2020-07-30 11:26] MayankBargali-MSFT commented on #59981
@larryclaman Can you please verify if you are not running it on python 3.8?

![image](https://user-images.githubusercontent.com/67255909/88917022-b278d200-d284-11ea-8ad1-212ddf684cb8.png)

I have tested it at my end running it on python 3.7.8 and didn't observe any issue.

[2020-07-30 11:29] shashishailaj commented on #59994
@jpromnam Thank you for your post. Could you please provide more details about your query. You have not mentioned any detail here hence we are not sure how to help you on this issue. Please let us know and we will be happy to help you further.

[2020-07-30 11:36] larryclaman commented on #59981
I was trying to run this under Python 3.7.8; that could very well be the problem.  (I missed the part in the prereqs which noted 3.8 is not supported; guess I assumed any Python > 3.7 would be ok.)

[2020-07-30 11:39] shashishailaj commented on #59993
@tejinderrai Thank you for your feedback on this. We will investigate and update the thread.

[2020-07-30 11:44] shashishailaj commented on #59996
@SB-o-matic Thank you for your feedback . We will investigate and update the thread.

[2020-07-30 11:45] jpromnam commented on #59994
Thank you I don't have a problem. I don't know how to use Github.

[2020-07-30 11:48] hbuckle opened #60005 "Minimum VMs for Silver node types"
The documentation states

[code]

This does not appear to be correct - we have clusters with Silver node types with 3 VMs in the scale set, and we see no errors or ill effects. Can you confirm the statement of minimum 5 nodes for Silver durability is correct?
Note that our cluster is spread across availability zones, so we have multiple node types.

---
#### Document Details

⚠ *Do not edit this s

[2020-07-30 11:48] shashishailaj commented on #59994
@jpromnam Ok. You can go to https://lab.github.com/ which is a in browser lab based learning for github . It will help you understand a lot of things on how to use it . We at Microsoft manage all of our Azure Products related documentation on github so that its easier for our customers to open an issue whenever they need.  You might have created this issue in the Azure-docs repository using the be

[2020-07-30 11:50] #59994 closed

[2020-07-30 11:53] #59988 closed

[2020-07-30 11:56] KrishnaG-MSFT commented on #59989
@kewalaka Thanks for the comment.

"m-***" string is "AgentId with m- prepended" that's available for each of your [VMComputer](https://docs.microsoft.com/en-us/azure/azure-monitor/reference/tables/vmcomputer)

<img width="325" alt="ALA1" src="https://user-images.githubusercontent.com/45988031/88915964-d6d3af00-d282-11ea-86e7-fd3676973ff3.png">

In general, [datatable](https://docs.microsoft.com/e

[2020-07-30 11:58] GitaraniSharma-MSFT commented on #59972
@cloudmelon , thank you for reporting the issue. I reproduced it via both CLI and PowerShell and looks like the command to list all locations where ExpressRoute Direct is supported is not working and giving the same error.
**CLI:**
![image](https://user-images.githubusercontent.com/67630903/88919798-5f554e00-d289-11ea-8006-939b7f8f72ad.png)

**PowerShell:**
![image](https://user-images.githubuserc

[2020-07-30 12:07] cloudmelon commented on #59972
Thanks Gitarani, pls keep me posted.

On Thu, Jul 30, 2020 at 12:58 PM Gitarani Sharma <notifications@github.com>
wrote:

[2020-07-30 12:18] ShaXam-King opened #60006 "Duplicate verbiage"
Greetings,

This article has this verbiage duplicated...
"From inside of the Kubernetes cluster, Webhook Token Authentication is used to verify authentication tokens. Webhook token authentication is configured and managed as part of the AKS cluster."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92b18eba-07a5-dbbf-b69

[2020-07-30 12:25] VikasPullagura-MSFT commented on #60005
@hbuckle
Thanks for the feedback! I have assigned the issue to content author to check and add comments as appropriate.

[2020-07-30 12:26] VikasPullagura-MSFT commented on #60005
@athinanthny
Can you please check and add your comments on this doc update request as applicable.

[2020-07-30 12:26] shashishailaj commented on #59764
@stas-sultanov The article is more from a Azure AD administrator side and I agree with you that the end user experience must be provided in the article as well. I would engage the content team to enhance the document for this one. Thank you for your inputs on this.

[2020-07-30 12:28] VikasPullagura-MSFT commented on #60006
@ShaXam-King Thanks for pointing this out.
We have updated the document and changes will go live soon.

Please see the previous doc update done for fixing this [here](https://github.com/MicrosoftDocs/azure-docs/issues/59988).

[2020-07-30 12:28] #60006 closed

[2020-07-30 12:35] GitaraniSharma-MSFT commented on #59998
@dvherk , thank you for the feedback. We have assigned this issue to the content owner for updating the doc accordingly.
@vhorne , request you to please make the suggested changes as below:

In the "Frontend IP" section of this article : https://docs.microsoft.com/en-us/azure/application-gateway/configuration-overview#front-end-ip

Add the following note : Frontend IP for Application Gateway V2 cu

[2020-07-30 12:42] AnuragSharma-MSFT commented on #60004
@alexott Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2020-07-30 12:53] tfitzmac commented on #59719
@KumudD - do you happen to know if there is an issue with moving NICs to a new resource group/subscription when there are changes happening to NICs in the VNET?

[2020-07-30 12:57] ashwinp88 commented on #32126
@DixitArora-MSFT @SeanFeldman  Hello. Is MessageReceiver also available in Java Azure Functions? I have seen many examples online about injecting MessageReceiver, Message, BrokeredMessage etc.. but only in .NET. I am however able to use Message in Java but I am unsure how to get the message content (lacking documentation). Can you please point us in the right direction?