[2021-02-17 22:22] #70770 closed

[2021-02-17 22:22] JamesTran-MSFT commented on #70771
@Asymvivastos
Thank you for your post!

Since this is a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/70752, I'll go ahead and close this out.

[2021-02-17 22:22] #70771 closed

[2021-02-17 22:22] JamesTran-MSFT commented on #70757
@Asymvivastos
Thank you for your post!

Since this is a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/70752, I'll go ahead and close this out.

[2021-02-17 22:22] #70757 closed

[2021-02-17 22:32] Asymvivastos opened #70780 "Chrestospantelides95@gmail.com"

[2021-02-17 22:33] Asymvivastos commented on #70780
Thanks for your present..

[2021-02-17 22:33] bmoore-msft commented on #69628
There is an updated script here: https://gist.github.com/bmoore-msft/ae6b8226311014d6e7177c5127c7eba1

[2021-02-17 22:34] Asymvivastos opened #70781 "Chrestospantelides95@gmail.com"
Perfect.. Thanks

[2021-02-17 22:34] Asymvivastos opened #70782 "Chrestospantelides95@gmail.com"

[2021-02-17 22:35] ChaitanyaNaykodi-MSFT commented on #70468
Thank you for the confirmation. I will now proceed to close this issue out. Please tag me in your response if there are any additional concerns.

[2021-02-17 22:35] #70468 closed

[2021-02-17 22:35] Asymvivastos opened #70783 "Chrestospantelides95@gmail.com"

[2021-02-17 22:35] Asymvivastos opened #70784 "Chrestospantelides95@gmail.com"

[2021-02-17 22:35] YutongTie-MSFT commented on #70767
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@sdgilley Hello Sheri, could you please take look of this issue? Thanks.

[2021-02-17 22:38] msfcolombo commented on #67393
Awaiting merge of #70785 .

[2021-02-17 22:41] msfcolombo commented on #67393
Hi @timoklimmer. We are waiting for the following redaction to be published:

[code]

Let us know if that provides the details you need, so we can close this.

[2021-02-17 22:41] TravisCragg-MSFT commented on #70599
@arjen1981 @savroman @btdevops Can you try to run these commands with an updated CLI, even without the feature showing?

This feature was fully released recently, and should not need registering for functionality.

[2021-02-17 22:41] Asymvivastos opened #70786 "server"

[2021-02-17 22:41] Asymvivastos opened #70787 "Chrestospantelides95@gmail.com"

[2021-02-17 22:46] Asymvivastos opened #70788 "Chrestospantelides95@gmail.com"

[2021-02-17 22:53] jonwbstr opened #70789 "Clarification on reservations"
The document says,

This appears to be true, but it doesn't happen immediately or even a few days later leading to much confusion.

What happens is there is a 30-45 day grace period during which the reservation continues to apply to the resources. When we noticed the reservations still applying days after transferring a subscription and contacted Microsoft Support for clarification, the grace peri

[2021-02-17 22:56] jonwbstr commented on #64838
It is, there is a 30-45 day grace period where things continue to work normally. At the end of the grace period the by design behavior is experienced.

[2021-02-17 22:59] Asymvivastos opened #70790 "Chrestospantelides95@gmail.com"

[2021-02-17 23:01] Asymvivastos opened #70791 "Chrestospantelides95@gmail.com"

[2021-02-17 23:02] Asymvivastos opened #70792 "Chrestospantelides95@gmail.com"

[2021-02-17 23:02] Asymvivastos opened #70793 "Chrestospantelides95@gmail.com"

[2021-02-17 23:03] Asymvivastos opened #70794 "Chrestospantelides95@gmail.com"

[2021-02-17 23:04] Asymvivastos opened #70795 "Chrestospantelides95@gmail.com"

[2021-02-17 23:04] Asymvivastos opened #70796 "Chrestospantelides95@gmail.com"

[2021-02-17 23:04] Asymvivastos opened #70797 "Chrestospantelides95@gmail.com"

[2021-02-17 23:05] Asymvivastos opened #70798 "Chrestospantelides95@gmail.com"

[2021-02-17 23:06] Asymvivastos opened #70799 "Chrestospantelides95@gmail.com"

[2021-02-17 23:07] Asymvivastos opened #70800 "Chrestospantelides95@gmail.com"

[2021-02-17 23:09] Asymvivastos opened #70801 "Chrestospantelides95@gmail.com"

[2021-02-17 23:11] Asymvivastos opened #70802 "Chrestospantelides95@gmail.com"

[2021-02-17 23:12] Asymvivastos opened #70803 "Chrestospantelides95@gmail.com"

[2021-02-17 23:13] Asymvivastos opened #70804 "Chrestospantelides95@gmail.com"

[2021-02-17 23:15] sijucm commented on #70650
Thanks for the response. The page mentioned is correct, I just found the github page that is publishing this. What I searched for is : "Azure functions javascript blob storage input binding data". I cannot find any reference to what comes as the input data to the function. What Object and what are the attributes I can use. I see this page but this does not connect to any advanced reference on the

[2021-02-17 23:36] JamesTran-MSFT commented on #70804
@Asymvivastos
Thank you for your post!

Since this is a duplicate of #70752, I'll go ahead and close this out.

[2021-02-17 23:36] #70804 closed

[2021-02-17 23:36] JamesTran-MSFT commented on #70803
@Asymvivastos
Thank you for your post!

Since this is a duplicate of #70752, I'll go ahead and close this out.

[2021-02-17 23:36] #70803 closed

[2021-02-17 23:37] JamesTran-MSFT commented on #70802
@Asymvivastos
Thank you for your post!

Since this is a duplicate of #70752, I'll go ahead and close this out.

[2021-02-17 23:37] #70802 closed

[2021-02-17 23:37] JamesTran-MSFT commented on #70801
@Asymvivastos
Thank you for your post!

Since this is a duplicate of #70752, I'll go ahead and close this out.

[2021-02-17 23:37] #70801 closed

[2021-02-17 23:37] JamesTran-MSFT commented on #70784
@Asymvivastos
Thank you for your post!

Since this is a duplicate of #70752, I'll go ahead and close this out.

[2021-02-17 23:37] #70784 closed

[2021-02-17 23:38] JamesTran-MSFT commented on #70783
@Asymvivastos
Thank you for your post!

Since this is a duplicate of #70752, I'll go ahead and close this out.

[2021-02-17 23:38] #70783 closed

[2021-02-17 23:38] JamesTran-MSFT commented on #70782
@Asymvivastos
Thank you for your post!

Since this is a duplicate of #70752, I'll go ahead and close this out.

[2021-02-17 23:38] #70782 closed

[2021-02-17 23:38] JamesTran-MSFT commented on #70781
@Asymvivastos
Thank you for your post!

Since this is a duplicate of #70752, I'll go ahead and close this out.

[2021-02-17 23:38] #70781 closed

[2021-02-17 23:39] JamesTran-MSFT commented on #70780
@Asymvivastos
Thank you for your post!

Since this is a duplicate of #70752, I'll go ahead and close this out.

[2021-02-17 23:39] #70780 closed

[2021-02-17 23:40] JamesTran-MSFT commented on #70786
@Asymvivastos
Thank you for your post!

Would you be able to share additional info regarding your question/ask when it comes to our documentation or this product? Additionally, can you share what documentation you're referring to so I can better understand your issue and assist.

Thank you!

[2021-02-17 23:43] JamesTran-MSFT commented on #70787
@Asymvivastos
Thank you for your post!

Since this is a duplicate of #70752, I'll go ahead and close this out.

[2021-02-17 23:43] #70787 closed

[2021-02-17 23:44] JamesTran-MSFT commented on #70788
@Asymvivastos
Thank you for your post!

Since this is a duplicate of #70752, I'll go ahead and close this out.

[2021-02-17 23:44] #70788 closed

[2021-02-17 23:48] JamesTran-MSFT commented on #70790
@Asymvivastos
Thank you for your post!

Since this is a duplicate of #70752, I'll go ahead and close this out.

[2021-02-17 23:48] #70790 closed

[2021-02-17 23:48] JamesTran-MSFT commented on #70791
@Asymvivastos
Thank you for your post!

Since this is a duplicate of #70752, I'll go ahead and close this out.

[2021-02-17 23:48] #70791 closed

[2021-02-17 23:48] JamesTran-MSFT commented on #70792
@Asymvivastos
Thank you for your post!

Since this is a duplicate of #70752, I'll go ahead and close this out.

[2021-02-17 23:48] #70792 closed

[2021-02-17 23:49] JamesTran-MSFT commented on #70793
@Asymvivastos
Thank you for your post!

Since this is a duplicate of #70752, I'll go ahead and close this out.

[2021-02-17 23:49] #70793 closed

[2021-02-17 23:49] JamesTran-MSFT commented on #70794
@Asymvivastos
Thank you for your post!

Since this is a duplicate of #70752, I'll go ahead and close this out.

[2021-02-17 23:49] #70794 closed

[2021-02-17 23:49] JamesTran-MSFT commented on #70795
@Asymvivastos
Thank you for your post!

Since this is a duplicate of #70752, I'll go ahead and close this out.

[2021-02-17 23:49] #70795 closed

[2021-02-17 23:50] JamesTran-MSFT commented on #70796
@Asymvivastos
Thank you for your post!

Since this is a duplicate of #70752, I'll go ahead and close this out.

[2021-02-17 23:50] #70796 closed

[2021-02-17 23:50] JamesTran-MSFT commented on #70797
@Asymvivastos
Thank you for your post!

Since this is a duplicate of #70752, I'll go ahead and close this out.

[2021-02-17 23:50] #70797 closed

[2021-02-17 23:50] JamesTran-MSFT commented on #70798
@Asymvivastos
Thank you for your post!

Since this is a duplicate of #70752, I'll go ahead and close this out.

[2021-02-17 23:50] #70798 closed

[2021-02-17 23:51] JamesTran-MSFT commented on #70799
@Asymvivastos
Thank you for your post!

Since this is a duplicate of #70752, I'll go ahead and close this out.

[2021-02-17 23:51] #70799 closed

[2021-02-17 23:51] JamesTran-MSFT commented on #70800
@Asymvivastos
Thank you for your post!

Since this is a duplicate of #70752, I'll go ahead and close this out.

[2021-02-17 23:51] #70800 closed

[2021-02-17 23:53] JamesTran-MSFT commented on #70739
@msandbu
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-17 23:54] bandersmsft commented on #70789
@jonwbstr Thanks very much for your feedback. I'll investigate with the Reservations engineering team and update the article, as needed. I'll reply here when I have a clear course of action.

[2021-02-17 23:54] JamesTran-MSFT commented on #70742
@msandbu
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-17 23:57] #70755 closed

[2021-02-17 23:57] #70786 closed

[2021-02-17 23:57] #70751 closed

[2021-02-17 23:57] #70681 closed

[2021-02-17 23:57] #70752 closed

[2021-02-18 00:05] pochiraju commented on #70774
You should provide answer yes for now, because the questionnaire is not updated yet.

[2021-02-18 00:09] D3athByMonkey opened #70805 "Get a Red Hat pull secret (optional)"
TLDR
Update the page to indicate the red hat secret pull is important to ensure full cluster functionality.

Some clarification needs to be added to `Get a Red Hat pull secret (optional)`. If you **do not** do this, since its optional, you cannot user the OperatorHub. The community-operations and redhat-marketplace pods will not deploy due to ImagePullBackOffs. The reason this occurs is due to a l

[2021-02-18 00:16] D3athByMonkey opened #70806 "ARO Upgrade Failures"
Call out the most commonly seen upgrade failure scenarios. How do you detect it? How do you determine why it occurred? If the customer can solve it themselves how do they do that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac404c4d-8b08-7f67-ad94-b7f0d679ef5b
* Version Independent ID: 2584433e-dd54-0391-bcfa-6a5bcc

[2021-02-18 00:18] D3athByMonkey opened #70807 "Private Cluster ... why?"
Nothing ever point outs **why** one would want to use a private cluster. What are the pro/cons of a private cluster? What is gained and lost by going private? Not only that but like the other page the red hat secrets is marked as option and doesn't outline that not doing that will prevent full cluster usability.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2021-02-18 00:18] git14 opened #70808 "Offline authentication time window?"
It is stated that offline sign in is supported after the user has had an initial sign in to Windows while online.

What is the time period that the sign-in cache is good for? How long can a machine be offline and allow security key sign in before it has to be back online for sign in? This is assuming that it is the same user that initially signed in with a security key while online.

---
#### Docu

[2021-02-18 00:19] D3athByMonkey opened #70809 "DNS Common Issues"
What are some common issues one might see when doing DNS forwarding? Any troubleshooting steps that could be offered for the customer to resolve on their own?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abbb45b8-b458-1956-f834-e2a4c4944a96
* Version Independent ID: 29202aea-5d18-00be-1d44-633057c692a4
* Content: [Co

[2021-02-18 00:20] Krucial92 commented on #26312
@malballah instead of requesting the KeyVault secret from within the policy, you could pass the secret (which can come from KeyVault) as a "Named Value" and then forward this onto the function app endpoint. I'm sure using Named Values with KeyVault has caching enabled & some sort of fancy work going on behind the scenes to reduce latency.

[2021-02-18 00:21] D3athByMonkey opened #70810 "Troubleshooting"
What are the most common reasons a deployment of a cluster failed? What can the customer do about them?

What is the most common reason an upgrade would fail? How can the customer troubleshoot and or resolve on their own?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b5176e9-7e5d-5a6c-54a3-7b1635d1ff37
* Version Inde

[2021-02-18 00:55] brcarpio opened #70813 "Unclear conditions for following directions"
Regarding the following lines, it seems as though these two sentences conflict as to when you should use the procedure: with or without Azure Monitor for Containers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 071ae38a-d305-99a8-f837-39af4b051dfd
* Version Independent ID: daa9744a-262d-32b2-9f0e-db9c48944fba
* Conte

[2021-02-18 00:57] MisinformedDNA opened #70814 "Using Managed Identity to access a package on Azure Blobs"
I've been trying to access an external package in Azure Blobs using Managed Identity and Role Assignments. I couldn't get it to work and eventual ended up here.

I can try the SAS approach, but is Managed Identity also a viable solution?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4dc400d6-feaf-3239-094e-3c19aae4434

[2021-02-18 01:01] isc-mcozine commented on #68619
Hi @hpsin,

Thank you for the reply, though I think I may have caused a little confusion. Let me try to restate the behavior I'm seeing and why I think it's an issue.

What I'm seeing:
I request multiple scopes, including openid, from the authorization server. I get a response from the authorization server that includes all of the scopes I requested _except_ openid, as well as a valid access token

[2021-02-18 01:01] ChaitanyaNaykodi-MSFT commented on #70463
Hello @pomorsen, We will now proceed to close this issue out. Please tag me in your response if there are any additional concerns, I will gladly continue with our discussion. Thank you!

[2021-02-18 01:01] #70463 closed

[2021-02-18 01:09] dcstwh commented on #67993
Right now, you can do one of the following:

- Export the JSON, and import new data factory
- Use Source Control per the steps provided.

[2021-02-18 01:10] ankitscribbles opened #70815 "iothub-creation-time-utc and iothub-app-iothub-creation-time-utc are not documented"
There are two properties that are supported by IoT Hub to send event creation time -

- iothub-creation-time-utc - This allows the user to send event creation time when sending one message at a time.
- iothub-app-iothub-creation-time-utc - This allows the user to send event creation time when sending data in a batch.

However, these are not documented on this page.

Can you add documentation aroun

[2021-02-18 01:11] dcstwh commented on #67993
@ssabat  can you help look at this feedback? Thank you.

[2021-02-18 01:14] xuegao0112 commented on #61583
Hi @axayjo @amjads1 , if anyone could help answer it? Thanks!

[2021-02-18 01:15] ash2017 commented on #70815
@nehsin please confirm proposal and resolve per above.

[2021-02-18 01:15] dcstwh commented on #68097
Please see whether the docs helps - https://docs.microsoft.com/en-us/azure/data-factory/quickstart-create-data-factory-python and close this issue once it address what you need.

[2021-02-18 01:18] dcstwh commented on #67682
@minhe-msft can you help to update the doc for this and include the naming rules for parameters and pipelines? Thank you.

[2021-02-18 01:21] dcstwh commented on #69285
Thank you for the feedback.
Right now, the recommended approach to use data flow is using the UI.

We will add this to the doc backlog.

#please-close

[2021-02-18 01:21] #69285 closed

[2021-02-18 01:23] dcstwh commented on #69807
Thank you for the feedback @Marnixvdb .
Please work with support who is handling your case, and ask them to share the feedback on the details of the issue offline.

#please-close

[2021-02-18 01:23] #69807 closed

[2021-02-18 01:25] dcstwh commented on #69962
Thank you for the feedback.
Please add this feature requests to https://feedback.azure.com/forums/270578-data-factory

#please-close

[2021-02-18 01:25] #69962 closed

[2021-02-18 01:27] dcstwh commented on #69966
Thank you for the feedback, and we understand your concerns.
@minhe-msft  can you help to work with the team to update the screenshot to remove that line?
Thank you.

[2021-02-18 01:31] dcstwh commented on #70096
Thank you for the feedback, and suggestions to add instructions for YAML pipeline.
@nabhishek  can you help to look at this?

[2021-02-18 01:32] dcstwh commented on #70289
Thank you for the feedback,
@minhe-msft  do help to look at this. Thank you.

[2021-02-18 01:34] macolso commented on #70606
Thank you for the feedback! We will include this limitation in our documentation.

[2021-02-18 01:36] ecfan commented on #70714
@peta, thanks for raising this issue. I've added a work item to our doc backlog for prioritization. I'll close this item for now and report back when the work is done.

@PramodValavala-MSFT: #please-close

[2021-02-18 01:36] #70714 closed

[2021-02-18 01:39] dcstwh commented on #68762
Thank you for the feedback.
If there is a repro for the guest scenarios, do re-activate this issue.

For now, #please-close

[2021-02-18 01:39] #68762 closed

[2021-02-18 01:39] amjads1 commented on #61583
Let me look into this and update back soon.

[2021-02-18 01:43] hpsin commented on #68619
Thanks for expanding on your thinking here - I think you're correct, that we have different interpretations of the spec.  Any and all id_tokens provided by the AS are valid and authorized - otherwise they would not be provided, modulo as you say a security bug.  It's hard to identify why an SDK would go out of its way to ignore the ID token in the scenario where
1. One was requested
2. One was pro

[2021-02-18 01:51] bigkangji opened #70818 "different contents from azure updates."
Hi All,

From https://azure.microsoft.com/en-us/updates/azure-netapp-files-volume-hard-quota-change/

"Starting March 15th, 2021, volume sizes (quota) will manage bandwidth performance, as well as provisioned capacity, and underlying capacity pools will no longer grow automatically. "

From this page, https://docs.microsoft.com/en-us/azure/azure-netapp-files/volume-hard-quota-guidelines

"Starting

[2021-02-18 02:09] #70538 closed

[2021-02-18 02:11] djm2k commented on #39870
@hawkbox FYI
I opened a case with Microsoft who confirmed the issue, then fixed it overnight and replied back with: "Our backend team has rolled back the code change last night. Sorry for the inconvenience caused. "

After testing again; It was then working. YMMV.

[2021-02-18 02:34] b-juche commented on #70818
@bigkangji - Thanks for letting us know. I'm inquiring about the different dates.  We'll get back to you promptly.

[2021-02-18 03:35] Kapkan-Lesion opened #70822 "Changing the recommended build command from "dotnet build" to "dotnet publish""
Greetings,

I recently discovered that the build command in the sample YAML file for both Linux and Windows workflow uses "dotnet build", which seemingly breaks when copying artifacts to the expected location.

Later on I got the recommendation from Azure that **dotnet publish** is the recommended approach and that indeed cleared my roadblock.

However, if **dotnet publish** is the recommended app

[2021-02-18 03:52] amsuprith commented on #70562
Thanks I am so glad to hear this.

[2021-02-18 03:54] shashishailaj commented on #70808
@git14 Thank you for your feedback . We will investigate and update the thread.

[2021-02-18 04:01] SumanthMarigowda-MSFT commented on #70550
@mperezcarden Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused. Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.

[2021-02-18 04:06] SumanthMarigowda-MSFT commented on #70581
@Floriszz  Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused. Can you provide more context on your query?

[2021-02-18 04:10] SaiKishor-MSFT commented on #70602
@Alezis Just to confirm that you are referring to the below, right?

Azure Data Factory (Microsoft.DataFactory/factories) / portal | privatelink.azure.com | azure.com

This needs to be updated to privatelink.adf.azure.com and adf.azure.com. We are working on updating the document accordingly. If you have any other concerns, please let us know. Thank you!

[2021-02-18 04:12] MayankBargali-MSFT commented on #70569
Endpoint code needs to participate in a validation handshake with Event Grid to prevent a malicious user to publish events to your Azure function.

Reference: https://docs.microsoft.com/en-us/azure/event-grid/webhook-event-delivery

To secure your function you can refer to [this](https://docs.microsoft.com/en-us/azure/event-grid/webhook-event-delivery)

[2021-02-18 04:16] SwathiDhanwada-MSFT commented on #70813
@brcarpio Thanks for your comment. We will review the issue and get back to you shortly.

[2021-02-18 04:18] BhargaviAnnadevara-MSFT commented on #70689
@xtianus79 Any further update here?

[2021-02-18 04:34] kalyanmit commented on #70729
Thank u please reply asap.

--

Thanks & Regards,

Kalapala Sai Kalyan

Mobile: +91 8125625226

Email: kalyan.mitresource@gmail.com <kalyankalapala24@gmail.com>
[image: twitter] <https://twitter.com/kalyankalapala7>[image: linkedin]
<https://www.linkedin.com/in/kalapalasaikalyan/>[image: instagram]
<https://www.instagram.com/kalyan_kalapala/>
<https://www.designhill.com/email-signature-generator>

[2021-02-18 04:35] klawrawkz opened #70823 "The request was aborted: Could not create SSL/TLS secure channel."
Hi my name is klawrawkz. I am fine. How are you?

Something is wrong. Very very wrong. When I use a custom script extension for windows VM in Azure I get all kinds of errors trying to download a raw file from github.  Here's an example:

[code]
Meanwhile in your sample you make no mention of TLS, nor is it even a concern apparently.  What's the story? What is my pathetic VM in Azure not doing corr

[2021-02-18 04:36] samcloud2000 commented on #69159
@sarah026 - Did you ever find an answer for this?

[2021-02-18 05:20] JamesTran-MSFT commented on #70760
@daveberm
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-18 05:21] JamesTran-MSFT commented on #70761
@MarkFreemanBDO
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-18 05:52] #70572 closed

[2021-02-18 05:53] psmanhas commented on #70583
@linekrogh Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

Thanks

[2021-02-18 05:53] #70583 closed

[2021-02-18 06:00] yutaro113 opened #70825 "Improvement of the section "When domain expires""
In the section "When domain expires", the fact that domain became unavailable after 5 days from its expiration is not mentioned.

From below document, we can understand domain won't be unavailable within 30 days from its expiration.
https://docs.microsoft.com/en-us/azure/app-service/manage-custom-dns-buy-domain

But in the Godaddy page, it's mentioned that after 5 days, domain became unavailbe bec

[2021-02-18 06:04] AnuragSharma-MSFT commented on #70621
@tigerdeccan Awaiting your response on this.

[2021-02-18 06:04] AnuragSharma-MSFT commented on #70641
@nivaa7 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-02-18 06:04] #70641 closed

[2021-02-18 06:05] AnuragSharma-MSFT commented on #70706
@donchai Thanks. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-02-18 06:05] #70706 closed

[2021-02-18 06:07] psmanhas commented on #70541
@shashankkr Apologies for the delay in response and all the inconvenience caused because of this issue.

I had discussion with our internal team on this and below is their response:

Feature parity is on the roadmap for the PowerShell module. Not sure if Invoke-AzResourceAction handles the parameters field. Does the container group run long enough to SSH into it?

In the meantime, we recommend usi

[2021-02-18 06:34] ssivas commented on #70701
Hello @bobert13581 ,
The reply URL section has been updated in Doc. Once again thanks for bringing this to our notice. Thanks.

[2021-02-18 06:37] gautamksr commented on #70709
Hi,
Just i have checked the Azure AD login option doesn't appears while creating the Windows 2019 Datacenter VM. I have checked my visual studio subscription as well Pay As you Go subscription, in both subscriptions doesn't show the options. Please raise the support tickets? if you need more input, please ask.
![image](https://user-images.githubusercontent.com/15964136/108315718-db8d8f80-71e1-11eb

[2021-02-18 06:38] Apapora opened #70826 "Typo"
In this sentence of the first paragraph: "The setup is different depends on the domain service you choose." depends should be "depending".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 100a0bd2-817c-8c9e-68d6-cb00a5f405eb
* Version Independent ID: ee7081d3-a43f-47ea-db7f-ff6ba23d50b3
* Content: [Use Azure AD Domain Se

[2021-02-18 06:39] SamaraSoucy-MSFT commented on #70666
What does the rest of your pom.xml file look like? The listed dependencies are required to run in Azure Spring, but you can certainly include others in addition to the ones listed.

[2021-02-18 06:40] SamaraSoucy-MSFT commented on #70724
I have assigned the issue to the doc author to update appropriately.

[2021-02-18 07:18] mpchen commented on #65355
What does it mean by registering resource provider at management group level but not its subscriptions? Could you pls. elaborate? Thanks.

[2021-02-18 07:23] SwathiDhanwada-MSFT commented on #70823
@klawrawkz Thanks for your comment. We will review the issue and get back to you shortly.

[2021-02-18 07:24] Tom-Van-Asch commented on #70666
These are all the dependencies I've added to our project specific for the Azure Spring Cloud environment:

`<dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-actuator</artifactId>
        </dependency>
        <dependency>
            <groupId>org.springframework.cloud</groupId>
            <artifactId>spring-cloud-starter-netflix-eure

[2021-02-18 07:30] SumanthMarigowda-MSFT commented on #70826
@Apapora Thanks for your question. We are checking on this and will respond to you soon.

[2021-02-18 07:34] Palino1611 opened #70827 "Is it possible to use Azure Active Directory authentication on servers outside Azure ?"
I followed tutorial https://docs.microsoft.com/en-us/azure/virtual-machines/linux/login-using-aad#install-the-azure-ad-login-vm-extension and I was successfully able to login via Microsoft prompt in browser. But tutorial describes how to set it up on Azure VMs.

Please is it possible to use Azure Active Directory authentication on servers outside Azure ? So lets say AWS VMs or on premise servers ?

[2021-02-18 07:41] BharathNimmala-MSFT commented on #70458
@JamesDLD My sincere apologies for delayed response in getting back to this thread.

As stated in the script , $TimeStampField is an optional field where you can specify the timestamp from the data or if the time field is not specified, Azure Monitor assumes the time is the message ingestion time.

I did test the [script ](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/data-collector-ap

[2021-02-18 07:41] #70458 closed

[2021-02-18 07:49] arjen1981 commented on #70599
@TravisCragg-MSFT Thank you. That explains it. Just running `az aks stop` and `az aks start` works for me!

[2021-02-18 07:49] #70599 closed

[2021-02-18 07:55] SubhashVasarapu-MSFT commented on #70710
@piyush94, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-02-18 07:55] #70710 closed

[2021-02-18 08:11] BharathNimmala-MSFT commented on #70439
@nilsga My sincere apologies for delay in getting back to this thread.

Please review[ this GH thread](https://github.com/Azure/azure-rest-api-specs/issues/12003) , which calls out the possible reason for seeing the "AadWebhookResourceNotOwnedByCaller " error is because of the missing permission assignment.

From the information you shared earlier in the question, sorry its not clear on what exact

[2021-02-18 08:11] #70439 closed

[2021-02-18 08:13] utraghuv commented on #69061
Yes, Backup won't create entries if you are using custom DNS servers. The entries for the Backup service should indeed contain '.privatelink.' and the region code. The documentation was updated last week. Can you please recheck if you still seeing unexpected entries. Thanks!

[2021-02-18 08:48] odalet commented on #67166
@clairernovotny I reached similar conclusions one day before you posted your reply here! Glad this confirms my thoughts. I had said I'd come back here once our EV Signing Certificate would work, well it is not yet, but should be once we pass Digicert's background validations process.

If I may add, I struggled a bit to select the RSA-HSM key type. So for anyone wondering here is where it's hidden:

[2021-02-18 08:49] xps233 opened #70830 "SLES 15 system failed to install the default VM SAP extension"
Hi Team,

I've just set up a new Azure VM, with sles-15-sp2 image,
And it seems if I install the default extension, following the following document, it would get failed.
https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/deployment-guide#987cf279-d713-4b4c-8143-6b11589bb9d4

![0001](https://user-images.githubusercontent.com/74043506/108330449-916bd480-7208-11eb-9dbe-0b2a9d740ab

[2021-02-18 08:54] amanmcse commented on #70467
@idusortus Thank you for the confirmation.

[2021-02-18 09:00] amanmcse commented on #70808
@Justinha Could you please review and add all this information in the document.

[2021-02-18 09:10] benhurjoel opened #70831 "Naming Restrictions for Microsoft.Security products"
Team,

I do not see the set of naming restrictions (and regex patterns) for Security Products (Microsoft.Security) , such as Security Center automation. Could you check and add them, please?

Page Link : https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-resource-manager/management/resource-name-rules.md

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2021-02-18 09:12] RohitMungi-MSFT commented on #70351
@rquintino We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-02-18 09:12] #70351 closed

[2021-02-18 09:21] ecly commented on #70302
@GiftA-MSFT can we possibly re-open this?

[2021-02-18 09:26] timoklimmer commented on #67393
I have no time for a detailed test unfortunately but the commands look better now. I think the ticket can be closed.

[2021-02-18 09:26] #67393 closed

[2021-02-18 09:33] MayankBargali-MSFT commented on #70814
@MisinformedDNA Thank you for your feedback! We will review and update as appropriate.

[2021-02-18 09:34] MayankBargali-MSFT commented on #70822
@Kapkan-Lesion Thank you for your feedback! We will review and update as appropriate.

[2021-02-18 09:44] minhe-msft commented on #23801
#please-close

[2021-02-18 09:44] #23801 closed

[2021-02-18 09:44] #70544 closed

[2021-02-18 09:47] SadiqhAhmed-MSFT commented on #70507
@yashesvi To help answer the query.

[2021-02-18 09:47] mimergel opened #70833 "disks change performance without deallocation or disk detach"
Hi, will this soon be possible without deallocation or disk detach?
Thanks,
Michael

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13f66d04-1af1-db56-2ac7-2da5bc6af404
* Version Independent ID: 6eb28dba-131b-2762-2d1d-c916718143af
* Content: [Performance tiers for Azure managed disks - Azure Virtual Machines](https://d

[2021-02-18 09:48] lopeg commented on #70302
@GiftA-MSFT
Same here, this is the real showstopper for us to start using AML
Thanks

[2021-02-18 09:49] SnehaAgrawal-MSFT commented on #70544
@coosmiin Thanks again for the feedback! This is now updated will be visible soon in document.

[2021-02-18 09:49] SadiqhAhmed-MSFT commented on #70595
@KevinBurton We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-18 09:49] #70595 closed

[2021-02-18 09:52] SnehaAgrawal-MSFT commented on #70684
@vjkowalski Thanks again for the feedback! This is now updated will be visible soon in document.
We will now close this issue. If there are further questions regarding this matter, please let us know.

[2021-02-18 09:52] #70684 closed

[2021-02-18 10:04] wUEZRs opened #70835 "missing information"
There should be detailed info on what the pfx certificate needs. It doesn't automatically make sense to someone that TRIPLE-DES is a requirement in 2021.

We are trying and failing 5 times with the different IIS export settings to find which kind of pfx file App Gateway accepts. A detailed list of how to get the pfx correct would be good. (Export all? Enable certificate secrecy?)

---
#### Documen

[2021-02-18 10:26] yadvendar commented on #70626
@devanshu0987 Yes, the documentation is lacking details. I found the following details, hope this will help:
`ResourceTestResult` contains two properties:
1. `status` can be one of the following strings: `["TestNotAttempted", "TestSucceeded", "TestFailed"]`
2. `error` is of type `ErrorResponse` containing the following properties:

[2021-02-18 10:26] grzegorz-moto opened #70837 "servicebus with diagnosticSettings arm template is missing"
I could not find any documentation how to configure diagnosticSettings for Servicebus using arm template. Also - when manually configured in azure portal - the exported template.json is missing this configuration!

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07fc8414-3bff-03f8-fdca-f040eed71389
* Version Independent

[2021-02-18 10:31] YusukeTobo opened #70838 "Enable restricting storage accounts to a virtual network even though App Service Plan is in Standard"
If App Service Plan is eligible to Regional VNet Integration, it appears that we can restrict storage accounts to a VNet. But, the document says the restriction only work in Premium plans. I think it's more appropriate if the sentence covers Standard plans which support Regional VNet Integration.

  https://docs.microsoft.com/en-us/azure/azure-functions/functions-networking-options#restrict-your-s

[2021-02-18 10:37] psmanhas commented on #70833
@mimergel Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-02-18 10:45] SwathiDhanwada-MSFT commented on #70573
@assaf-grth S2RCM is the process used by ASR for sending replication traffic to ASR endpoints. You can create a NetQoSPolicy to restrict bandwidth for any process. Example :

New-NetQosPolicy -Name "ASR throttling" -AppPathNameMatchCondition "s2rcm.exe" -ThrottleRateActionBitsPerSecond 35MB

Relevant articles :
https://docs.microsoft.com/en-us/powershell/module/netqos/set-netqospolicy?view=win10-p

[2021-02-18 10:49] psmanhas commented on #70480
@samtkaplan Apologies for the delay in response and all the inconvenience caused because of the issue.

I tried to do repro on my side and I was able to follow documentation and it did not timed out for me.

[code]

Can you try to  just creat new key and cert using openssl command and check if it is working for you or not.

Thanks

[2021-02-18 11:09] assaf-grth commented on #70573
Thanks @SwathiDhanwada-MSFT for your answer
Is 35MB the recommended bandwidth rate for this service?
Will lower value cause any problems with the service?

[2021-02-18 11:09] assaf-grth commented on #70573
Thanks @SwathiDhanwada-MSFT for your answer
Is 35MB the recommended bandwidth rate for this service?
Will lower value cause any problems with the service?

[2021-02-18 11:18] aelij opened #70839 "Make data available as CSV"
It would be very helpful if this page's data was downloadable as a CSV file. It would allow loading it in a spreadsheet, apply filtering, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c005a93a-6fce-d270-9bb5-8e7213156b70
* Version Independent ID: 844d62d4-a06b-1578-488f-f6441242a07d
* Content: [Compute benchmark

[2021-02-18 11:20] AjayKumar-MSFT commented on #70825
@yutaro113, Thanks for the question! We are taking a look into this and will get back to you soon.

[2021-02-18 11:27] Asymvivastos commented on #70626
Chrestospantelides95@gmail.com

On Τρί, 16 Φεβ 2021, 04:39 Devanshu <notifications@github.com> wrote:

[2021-02-18 11:32] magooster opened #70840 "Clarifications around Ephemeral OS Disk and Encryption at Host"
Does that mean neither disk types are encrypted at rest without encryption at host?

Does ephemeral OS disk only support platform managed keys?

Does that mean neither caches are encrypted at rest without encryption at host?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ade067f1-3f3e-73de-0321-bb8d07147cd3
* Version I

[2021-02-18 11:52] parwejp opened #70841 "AcquireTokenByUsernamePassword : Access token validation failure. Invalid audience for scope https://graph.microsoft.com/.default"
I have two Questions.
Question #1:
My code:
[code]

I am using the token retrieved to delete SharePoint list items in loop using MS Graph. (Token is retrieved outside for loop...means same token is used to delete each item. No Batch api used on purpose) However it works intermittently. Some items get deleted correctly and some throws below exception. The ROPC user I am using is SCA. I expect it to

[2021-02-18 11:57] AjayKumar-MSFT commented on #70810
@D3athByMonkey, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-02-18 11:58] AjayKumar-MSFT commented on #70809
@D3athByMonkey, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-02-18 11:58] MrCNeale opened #70842 "Powershell agent instruction fails"
Powershell instruction fails

Run the documented code (with valid parameters) in cloud shell on sub registered with ama preview

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8201f331-0fa7-a801-9f4d-75d65cd77625
* Version Independent ID: 86a66791-11bb-4f20-f77d-42fe58f5dcf4
* Content: [Install the Azure Monitor

[2021-02-18 12:02] AjayKumar-MSFT commented on #70805
@D3athByMonkey, Thanks for taking time to share your valuable feedback for Azure doc improvements! We are taking a look into this and will get back to you soon.

[2021-02-18 12:03] AjayKumar-MSFT commented on #70806
@D3athByMonkey, Thanks for taking time to share your valuable feedback for Azure doc improvements! We are taking a look into this and will get back to you soon.

[2021-02-18 12:07] AjayKumar-MSFT commented on #70807
@D3athByMonkey,  Thanks for taking time to share your valuable feedback on Azure doc improvements!
Your feedback has been shared with the content owner (@sakthi-vetrivel) for further review on this.

[2021-02-18 12:11] shashishailaj commented on #70725
@nelsondani We are closing this issue now as we have not received any response from you .  Please review the instructions above and connect with us as needed on GitHub Azure-docs repo or Microsoft QnA channels and we will be happy to help further. thank you.

[2021-02-18 12:11] #70725 closed

[2021-02-18 12:12] shashishailaj commented on #70722
@Asymvivastos Hope the above information was helpful . Since we haven't received additional details from your end , we will be closing this issue now.  If you require additional support or would like to enhance our docs, please feel free to create a new GitHub issue. Thank you for your time and patience throughout this!

[2021-02-18 12:12] #70722 closed

[2021-02-18 12:13] shashishailaj commented on #70841
@parwejp Thank you for your feedback . We will investigate and update the thread.

[2021-02-18 12:15] shashishailaj commented on #70841
@jmprieur Could you please help on this issue ?

[2021-02-18 12:23] andrePKI opened #70843 "Require smartcard prevents SSPR from above lockscreen"
Missing from the prerequisites if you ask me: Require Smart card (scforceoption) must not be enabled. Otherwise one would see "You must use Windows Hello or a smartcard to sign in" when clicking **Reset password**.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2015c6c-60c7-bb74-469c-e9320301d08a
* Version Independent

[2021-02-18 12:39] Asymvivastos commented on #70722
Hello and thank you very much for your response and help. I do not know many things and I started to create without knowing how the process works .. I do not know how you create issues or anything else for it and the repetition and mistakes .. Sorry about that, when you mean you close it means I can not use it ; I want github to be activated and to be able to reach and open the official Microsoft

[2021-02-18 12:46] biologistbrian commented on #62877
Same issue going on 2 weeks.  No one in support has been able to help. Support tracking ID 121021526003850

[2021-02-18 12:53] shashishailaj commented on #70722
@Asymvivastos  If you are talking about customizing windows OS installation Media , I do not think you will be able to create it on Android phone as far as my knowledge goes. As for reaching Microsoft site , it is open to anyone . When you say you want github to be activated , I assume you are talking about your ability to open issues related to Microsoft documentation ? We do not remove anyone's

[2021-02-18 12:59] MonikaReddy-MSFT commented on #70839
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-02-18 13:00] MonikaReddy-MSFT commented on #70840
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-02-18 13:00] subodhpatil opened #70845 "Need to be updated for Workbooks"
As new log analytics workspaces do not provide designer view and import option but rather workbooks, the article needs an update. Also, the ARM template in the git repository expects a log analytics workspace version , there is no clear instruction on how to get the workspace version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2021-02-18 13:00] biologistbrian opened #70846 "Publisher verification - Unable to add publisher"
Hi, I'm trying to verify my app with an MPN ID, and whether I do it through the azure portal, or the https://graph.microsoft.com/v1.0/applications/{applicationId}/setVerifiedPublisher api I get the following response:

{
    "error": {
        "code": "UserUnableToAddPublisher",
        "message": "You are unable to add a verified publisher to this application. Please contact your administrator fo

[2021-02-18 13:02] Sanoobk commented on #68097
Thanks for the update.

[2021-02-18 13:02] #68097 closed

[2021-02-18 13:02] csf6gom opened #70847 "Typo under section Azure Monitor agent (preview)"
The sentence currently reads: "It can **to** send data to both Azure Monitor Logs and Azure Monitor Metrics..."
Expect: "It can <s>to</s> send data to both Azure Monitor Logs and Azure Monitor Metrics..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e57fdf8-ece5-2bf1-200e-f089691de53f
* Version Independent ID: cd84f

[2021-02-18 13:04] MonikaReddy-MSFT commented on #70379
@kristaps194 - Thanks again for bringing this to our attention. we'll take this as feedback for the docs and have created a backlog item in PG's list.  And they will work on it based on their priority. Looks like Azure had a separate site where this info can be shown, so we may look at publishing the info there.

We will now proceed to close this thread. If there are further questions regarding th

[2021-02-18 13:04] #70379 closed

[2021-02-18 13:10] MonikaReddy-MSFT commented on #70636
@Rinshad - I have received your email and will work with offline going further. At this moment, since there is no doc update required,  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

After, you receive a resolution for the issue offline, I will post th

[2021-02-18 13:10] #70636 closed

[2021-02-18 13:13] MonikaReddy-MSFT commented on #70694
@L00092054 - Thanks for reaching out.

It looks like the article hasn't updated in few years.  so the product team is planning to archive it.

This is probably a better resource for Python: [Azure VM Sample](https://docs.microsoft.com/en-us/samples/azure-samples/virtual-machines-python-manage/azure-virtual-machines-management-samples---python/)

Try this and let us know if it works. Thank you.

[2021-02-18 13:18] jmprieur commented on #70841
@parwejp
Do I understand correctly that this is not an authentication issue (that is when you get the token), but it's an issue when you call Microsoft Graph with the token?

For #1, this is a SharePoint issue. saying that the token is not for what returns this issue (SharePoint). @dkershaw10 : would you know what happens?

For #2, indeed the effective permissions depend on what the app can do and

[2021-02-18 13:25] Asymvivastos commented on #70722
Thank you very much for your advice. Yes I know it is not done easily with Android. My desktop after Windows upgrade in October 2020, suddenly did not boot, but I learned that this happens to many due to Microsoft problems. There is covid everywhere and I can not access another pc. All lock dawn. So I try, I have upgraded my phone and by registering on the github and Microsoft page, I think I can

[2021-02-18 13:27] shashishailaj commented on #70372
@minikolic This is described in the document https://docs.microsoft.com/en-us/azure/active-directory-b2c/b2clogin . Thank you for contributing to improve azure documentation . We have initiated a change request for this one and it will be updated once the content team approves the change.

[2021-02-18 13:38] parwejp commented on #70841
Yes...this is not authentication issue. Issue occurs intermittently when token is used to make a call for MS graph api.
For #1: Issue is related to MS Graph. I am using MS graph api to delete items from SharePoint. Using Sites.ReadWrite.All permission in AAD App. User is having Site Collection admin privilege. See the image clarifies that MS graph api call is failing intermittently. Code to genera

[2021-02-18 13:47] #70693 closed

[2021-02-18 13:48] shashishailaj commented on #70500
@NJArcher
I agree the screenshot is old but the content and the details are quite same. In the portal , now it is shown as Change Service Admin option. I have checked two different subscriptions and I did find the option for changing the service admin by going to properties of the subscription.

![image](https://user-images.githubusercontent.com/532022/108364483-1d3b2c00-721c-11eb-92c7-9ddca3778da

[2021-02-18 13:48] qqnarwhal commented on #70693
Thanks for checking. closing issue now.

[2021-02-18 13:54] biologistbrian opened #70851 "Publisher verification - Unable to add publisher"
Hi, I have a few hundred customers trying to link their outlook calendars and this publisher verification is blocking me - it's extremely critical I get this solved.   I'm trying to verify my app with an MPN ID, and whether I do it through the azure portal, or the https://graph.microsoft.com/v1.0/applications/{applicationId}/setVerifiedPublisher api I get the following response:

[code]

---
####

[2021-02-18 13:54] MSSedusch commented on #70830
@xps233 the default/old version of the extension is not supported on SLES 15 as described in the intro chapter https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/deployment-guide#d98edcd3-f2a1-49f7-b26a-07448ceb60ca
We are working on making the new extension the default version of the extension.

[2021-02-18 13:55] SnehaAgrawal-MSFT commented on #70695
@Anand-Moghe Thanks for reaching here. We typically try to keep the Azure-Docs channel scoped to doc feedback and suggesting content improvements, directly about the docs. Since your question goes beyond what is discussed in the doc, we kindly invite you to share your question on [Microsoft Q&A forum](https://docs.microsoft.com/en-us/answers/topics/azure-webapps.html) or [Stack Overflow](https://s

[2021-02-18 13:55] #70695 closed

[2021-02-18 13:56] MGoedtel commented on #63109
I'm reassigning this GitHub issue to #reassign:@chsamala, who is from the PG, to respond and provide additional background information related to the compatibility issues between the two agents.

[2021-02-18 13:56] PRMerger20 commented on #63109
chsamala, is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-02-18 13:56] shashishailaj commented on #70539
@googleirfan I am checking this internally and provide an update soon.

[2021-02-18 14:00] igorpag commented on #70172
Hi @mimckitt did you have a chance to look into this? Thanks.

[2021-02-18 14:14] Lou-tech-dotcom opened #70852 "Plugin for Microsoft Azure Active Directory single sign-on for Confluence"
Hello,
I am trying to install the plugin for Microsoft Azure Active Directory single sign-on for Confluence but after I enter the metadata for xml it populates the needed fields but does not allow me to save the configuration, the save button stays grey.

![azure](https://user-images.githubusercontent.com/79265475/108369539-af661480-71c9-11eb-9509-8423e68925e8.png)

---
#### Document Details

⚠ *D

[2021-02-18 14:14] jjeziorny opened #70853 "First HTTPS listener not sent when SNI not provided"
Documentation says when a request does not have SNI the SSL certificate from the first listener is presented to the client.
This is incorrect, we moved the requried listener to the top of the list and it still didn't work. After some troubleshooting with microsoft we moved RULE bound to this listener to the top of the list and that worked.
So.
Returns the certificate of the first HTTPS listener co

[2021-02-18 14:15] KrishnaG-MSFT commented on #70837
@grzegorz-moto Thanks for your comment! We will review and provide an update as appropriate.

[2021-02-18 14:15] KrishnaG-MSFT commented on #70842
@MrCNeale Thanks for your comment! We will review and provide an update as appropriate.

[2021-02-18 14:23] andrePKI opened #70854 "Please add required permissions on the subscription and resource group"
It just states "select the resource group the machine will be managed from". What role or what permissions are required? I believe one must be Contributor to the _subscription_. That one don't just gets by being a member of the Azure Connected Machine Onboarding role or the Azure Connected Machine Resource Administrator role.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-02-18 14:45] djcerdas opened #70855 "vulkan-filesystem is available in the RH 7 rhel-7-server-optional-rpms"
When running ( # yum install cuda ), it shows missing packages(example: vulkan-filesystem package), to fix or avoid this to happen, the customer needs to edit **/etc/yum.repos.d/rh-cloud** and look for **optional-rpms** and set enabled  to **1**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e03790a-1bf9-146d-704b-681

[2021-02-18 14:52] realrubberduckdev opened #70856 "Differences between service tags list obtained via REST/AzCli & download file"
Hi,
We have systems that automatically get service tags, but they seem to get an older set as compared to the one we download manually from [download links](https://docs.microsoft.com/en-us/azure/virtual-network/service-tags-overview#discover-service-tags-by-using-downloadable-json-files).

For example, running the az cli command
[code]
we get `  "changeNumber": "68" ` and this json output doesn't

[2021-02-18 15:05] HarshitaSingh-MSFT commented on #70838
Hello @YusukeTobo , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-02-18 15:06] gautamksr commented on #70709
@MicrosoftGuyJFlo  - any update on this preview feather issues, please raise  the support tickets?

[2021-02-18 15:24] shriazure commented on #70297
Hello Chaitanya! Thanks for taking a look at this. Apologies for the delay in my response as I was on vacation.

Adding a note about the delay would help. Because it certainly took more than 15 minutes for me before it started working. One workaround is to copy over the 'site' folder to the new secured storage account file share and restart the function app. Thank you!

[2021-02-18 15:26] ErikDeRoos opened #70857 "Restore-SFPartition requires Connect-SFCluster while the recommended approach is to use Connect-ServiceFabricCluster instead"
Restore-SFPartition requires Connect-SFCluster while the recommended approach is to use Connect-ServiceFabricCluster instead.
However, you can't use Restore-SFPartition from the powershell module that Connect-ServiceFabricCluster is part of.

Is using the API currently the only recommended option?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-02-18 15:43] LanderVe opened #70859 "Creates Github repo instead of Azure DevOps"
This Quickstart is not up to date. For .Net Core apps, the DevOps Starter automatically creates a GitHub repository, not an Azure DevOps one. Why is this not a choice in the wizard? Am I missing something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2817660c-2b71-3278-dcde-497b9bc6ad55
* Version Independent ID: edaa

[2021-02-18 15:51] #70847 closed

[2021-02-18 15:52] jasonrpeterson opened #70860 "Minor typo in overview section"
Repeats "for IoT" in the paragraph about the portal.

Defender **for IoT for IoT** portal: The Defender for IoT application can help you purchase solution appliances, install and update software, and update TI packages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abdd000e-a037-9acb-1613-98a9aff72f5d
* Version Indepe

[2021-02-18 15:57] Blackmist commented on #70649
An update has been submitted for the article. It will go live later today in the morning publish.

#please-close

[2021-02-18 15:57] #70649 closed

[2021-02-18 15:59] Norrch2 opened #70861 "Are OutputClaims that are generated on subjourneys returned to primary user journey?"
Hello,

I have a situation where the UserJourney calls a SubJourney to run signup logic. However, when the control is returned back to the primary UserJourney, the precondition for the next orchestration step will not trigger with an output claim from the subjourney.

[code]

The problem occurs on step 4 with the precondition for newUser. I am manually setting newUser to "true".

So the question I

[2021-02-18 15:59] SwathiDhanwada-MSFT commented on #70854
@andrePKI Thanks for your comment. We will review the issue and get back to you shortly.

[2021-02-18 15:59] roy-work opened #70862 "ACR permissions are not described"
The descriptions of these permissions:

![image](https://user-images.githubusercontent.com/53838718/108383802-1c80a680-71d8-11eb-9db3-4487e4b30077.png)

… add literally no information. If you don't know what these permissions control, the description definition isn't going to help you.

These also seem to appear in the "help" bubbles in the Portal. So, if you are like "what is this perm?" and hove

[2021-02-18 16:00] Blackmist commented on #70127
Forgot to update this issue; change is now live. Thanks again for helping improve the documentation @oolukoya

#please-close

[2021-02-18 16:00] #70127 closed

[2021-02-18 16:05] #70546 closed

[2021-02-18 16:15] louis-Kimura opened #70864 "Azure FHIR Proxy - cannot access through Postman"
I have created an instance of Azure API for FHIR with an Azure FHIR proxy following this tutorial:

https://github.com/microsoft/health-architectures/tree/master/FHIR/FHIRProxy##configuration

I am able to browse to the proxy URL through a browser after being prompted to log in to view the metadata as shown below:

[FHIR Meta data image][1]

However, when trying to access it through the Postman AP

[2021-02-18 16:16] hpsin commented on #66212
#please-close - docs were updated to clarify that public clients (and client apps in general) must not validate access tokens.  there's both no reason to do so and no expectation they can.

[2021-02-18 16:16] #66212 closed

[2021-02-18 16:17] louis-Kimura commented on #70864
@hansenms Do you have any feedback as to what is causing this issue?

[2021-02-18 16:19] louis-Kimura opened #70866 "Azure Auth Token - AADSTS500113: No reply address is registered for the application"
I am trying to obtain a token through postman using the following tutorial:

https://docs.microsoft.com/en-us/azure/healthcare-apis/access-fhir-postman-tutorial

I have successfully filled out the credentials then a pop up appears asking for my credentials. This then throws the following error:

[![Sorry but we're having trouble signing you in][1]][1]

Does anyone know why this error is occurring

[2021-02-18 16:20] louis-Kimura commented on #70866
@hansenms Another issue I have found from working through the main tutorial. I think it needs a lot more work for people to work through the FHIR API and proxy.

[2021-02-18 16:21] webash opened #70867 "Screenshots on this page require some updates"
Screenshots are from some very early versions of the Azure AD 'blades' portal. Might cause some confusion for new users who don't know how they've since changed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 651a4943-3624-3cb4-149d-8e6a0fcff73f
* Version Independent ID: 1acbd3b8-2808-88fb-2916-fac2e4ca25ce
* Content:

[2021-02-18 16:26] KalyanChanumolu-MSFT commented on #70761
@MarkFreemanBDO Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-02-18 16:40] MarileeTurscak-MSFT commented on #70845
@subodhpatil
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-18 16:41] BhargaviAnnadevara-MSFT commented on #70859
@LanderVe Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-02-18 16:42] hansenms commented on #70864
This is a cross-post of this stackoverflow post: https://stackoverflow.com/questions/66262836/azure-fhir-proxy-cannot-access-through-postman

I suggest we close this one and work through it in one place.

[2021-02-18 16:43] BhargaviAnnadevara-MSFT commented on #70860
@jasonrpeterson Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-02-18 16:45] hansenms commented on #70866
As the error message indicates, there is no reply address registered for the application (https://docs.microsoft.com/en-us/azure/healthcare-apis/register-confidential-azure-ad-client-app). The reply URL should be: https://www.getpostman.com/oauth2/callback for Postman.

[2021-02-18 16:48] louis-Kimura commented on #70866
Hi @hansenms I added that into postman and still get the same error:

![image](https://user-images.githubusercontent.com/79272201/108390937-10610d00-7209-11eb-9eca-42ac9c8fc85f.png)

[2021-02-18 16:49] hansenms commented on #70866
You need to add it to the application registration in Azure AD. It will not call back to a URL that has not been registered.

[2021-02-18 16:51] #70860 closed

[2021-02-18 16:51] louis-Kimura commented on #70866
I added it but still not joy :'(

![image](https://user-images.githubusercontent.com/79272201/108391318-7fd6fc80-7209-11eb-8e32-d30466e97d80.png)

[2021-02-18 16:54] hansenms commented on #70866
Not sure about this screenshot. Looks like a screenshot from the function proxy. Are you sure that reply URL is added for the application registration with the client ID you entered in the Postman dialog?

[2021-02-18 16:55] SnehaAgrawal-MSFT commented on #70673
@markwsmith-pharma Thanks for asking question! "Azure Functions Runtime is unreachable" error is observed mainly when there is some configuration changes either from code or portal which cause function runtime environment not to load correctly
looking into function app logs it can be figured out about the cause of function runtime unreachable.
[Azure Functions diagnostics ](https://docs.microsoft.

[2021-02-18 16:56] BhargaviAnnadevara-MSFT commented on #70860
@jasonrpeterson Thank you for catching that error in the docs. I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2021-02-18 16:58] tfitzmac commented on #65355
It's means you can use the resource provider for operations that are scoped to the management group. For example, you could deploy a resource to the management group. But, you wouldn't be able to deploy to the subscription.

[2021-02-18 16:58] andybouts opened #70869 "Add a wait for yum to complete"
Just prior to this section (https://docs.microsoft.com/en-us/azure/virtual-machines/linux/using-cloud-init#troubleshooting-cloud-init), I would strongly suggest you add a verification step.

I wasted hours and hours trying to troubleshoot my cloud-init, when instead I just needed to be patient and wait for the yum to complete. This is because my understanding of the cloud-init was that it would ru

[2021-02-18 17:00] louis-Kimura commented on #70866
Ok I created it from scratch got a little bit further it returned a token:

![image](https://user-images.githubusercontent.com/79272201/108392255-71d5ab80-720a-11eb-860e-807bf148f2e2.png)

How do I use this token to call my FHIR API? Do I use Authorization- Bearer {my token} ?

I tried this and it didn't work calling:

https://func-fhir-proxy-2.azurewebsites.net/api/fhirproxy/Patient

[2021-02-18 17:01] MichelZ opened #70870 "KeyVault - Certificate Version cannot be blank"
There is a section about leaving the certificate version blank when using a keyvault certificate:
Leaving the certificate version as blank would lead to:

	The latest version of the certificate getting selected.
	Automatic rotation of certificates to the latest version, when a newer version of the certificate is available in your Key Vault

this would allow for a new certificate to be used automat

[2021-02-18 17:01] SaiKishor-MSFT commented on #70853
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-18 17:04] markwsmith-pharma commented on #70673
Thank you for your response.  I had reviewed the Troubleshoot error: "Azure Functions Runtime is unreachable" page previously and that  is why I had set up the storage plan again.  The error goes away when I turn off the Active Directory authentication, which is why I think the disclaimer, "This feature is currently not available on Linux Consumption plan for Azure Functions" may need to be revise

[2021-02-18 17:05] SaiKishor-MSFT commented on #70835
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-18 17:08] mpchen commented on #65355
thanks @tfitzmac.

According to https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deploy-to-management-group, only a few resource types can be deployed to management groups. So the use cases of this API is very limited.

It'd be great if registering resource provider at MG level automatically registers them at all underlying subscriptions.

[2021-02-18 17:13] WillEastbury commented on #65284
Update is in progress and awaiting sign off. This document has quite a few issues based on the changes in the B2C portal so we will make them all together.

[2021-02-18 17:15] tfitzmac commented on #70563
@rcollina - I am not very familiar with the Kubernetes terms, but for resource groups, the metadata is general information that is not directly involved in the operations of the resources. For example, the deployment history lives in the location of the resource group. After the resource is deployed, the location of the resource group could even go down and it would not affect the operations of th

[2021-02-18 17:16] fdutron commented on #50772
Sorry, but any news on this subject ?

[2021-02-18 17:16] JamesTran-MSFT commented on #70867
@webash
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-18 17:19] WillEastbury commented on #68658
Hi, This article is not intended to describe microservices architecture from a perspective of multitenancy and service principals hosted across tenants.

It is designed to show how to configure Azure API management to protect a JS SPA hosted in azure.

There are a few other errors which will be corrected.

@PramodValavala-MSFT - Could we close this item and raise this as product feedback on the B2

[2021-02-18 17:22] WillEastbury commented on #63853
Hi Liam, thank you for your feedback!

I'm updating this article and I'm not convinced we should really have the 3rd registration at all for a JS SPA scenario.

In this update we will remove it and also update to the newer MSAL 2.0 libraries and the new B2C portal experience.

[2021-02-18 17:26] WillEastbury commented on #62017
@vaughanh1 that is correct, there have been some portal updates to the B2C portal that mean this tutorial how to is out of date.

In particular - you should use the well known endpoint that is displayed when you click the Run User Flow button for your Sign in and sign up flow under 'User Flows' in the new portal experience.

My test flow has the format :-
https://tailspintoysdddddd.b2clogin.com/ta

[2021-02-18 17:27] samtkaplan commented on #70480
Hello,

Thanks for trying.

I did some more digging, and my current understanding is that my AKS cluster is configured for an internal, private network.  Therefore, I need to use [https://docs.microsoft.com/en-us/azure/aks/ingress-internal-ip]().  I guess the point is that I was probably following the wrong tutorial, and this issue can be closed.  Sorry for my confusion.

Sam

[2021-02-18 17:28] WillEastbury commented on #56554
Updating in response to feedback - mapping to the new user experience in B2C.

[2021-02-18 17:29] hpsin commented on #69151
Thanks Kalyan, good callout.  #please-close

[2021-02-18 17:30] #69151 closed

[2021-02-18 17:31] GuyPaddock opened #70871 "Need to explain subtle differences between Get-AutomationConnection and Get-AzAutomationConnection cmdlets"
Either on [this page](https://docs.microsoft.com/en-us/azure/automation/automation-connections?tabs=azure-powershell), or in the documentation for [the `Get-AzAutomationConnection` cmdlet of Az.Autiomation](https://docs.microsoft.com/en-us/powershell/module/az.automation/get-azautomationconnection?view=azps-5.5.0), it would be great if there was a blurb about how the `Get-AutomationConnection` and

[2021-02-18 17:35] JamesTran-MSFT commented on #70862
@roy-work
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-18 17:36] JamesTran-MSFT commented on #70843
@andrePKI
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-18 17:48] JamesTran-MSFT commented on #70861
@Norrch2
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-18 17:50] JamesTran-MSFT commented on #70827
@Palino1611
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-18 17:53] baanders commented on #70671
Hi again!

We've added more explanation on the different return types from this call in PR [#147338](https://github.com/MicrosoftDocs/azure-docs-pr/pull/147338).

Since this adds the requested information, I'll have Git automatically close this issue when the PR is merged. Feel free to comment back in this thread with additional comments or questions and we can always reopen if necessary.

Thank y

[2021-02-18 17:54] b-juche commented on #70818
@bigkangji - We confirmed with the product manager that April 1 is the current plan, so this page https://docs.microsoft.com/en-us/azure/azure-netapp-files/volume-hard-quota-guidelines is correct.

Reportedly, the other page (https://azure.microsoft.com/en-us/updates/azure-netapp-files-volume-hard-quota-change/) could not be updated after its posting to reflect the new date (April 1).

[2021-02-18 17:55] JamesTran-MSFT commented on #70846
@biologistbrian
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-18 17:55] JamesTran-MSFT commented on #70851
@biologistbrian
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-18 17:55] b-juche commented on #70818
No change needed on the ANF doc article https://docs.microsoft.com/en-us/azure/azure-netapp-files/volume-hard-quota-guidelines

#please-close

[2021-02-18 17:55] #70818 closed

[2021-02-18 17:58] lucazav opened #70872 "RSS feed on release note pages"
It'd be really useful to have an RSS feed on release note pages, so that we wouldn't miss any news.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fd50048-3674-82f3-bf55-125eeb1fbe71
* Version Independent ID: dac6ca54-d417-dc55-eb2d-d9f3d673ed4a
* Content: [What's new in the release? - Azure Machine Learning](https://

[2021-02-18 18:00] asukumar22 opened #70873 "This page can include the new feature Routing Preference under Public LB settings and it's options mentioned with a link to the Routing Preference doc. ."
It would be nice-to-have "Routing Preference" and its feature-related link added amongst the settings to configure on the Load Balancer while creating a Public Load Balancer. (reference doc link: https://docs.microsoft.com/en-us/azure/load-balancer/quickstart-load-balancer-standard-public-portal?tabs=option-1-create-load-balancer-standard) I was trying a hands-on-lab on creating a Public Load Bala

[2021-02-18 18:03] #67044 closed

[2021-02-18 18:05] SaurabhSharma-MSFT commented on #69947
@mtowse sorry for the delay.  We are still tracking internally with the products team on this and get back to you as soon as I have a response.

[2021-02-18 18:06] JamesTran-MSFT commented on #70855
@djcerdas
Thank you for pointing this out and providing us with your workaround! The author of this doc will investigate and update as appropriate.

Thank you again!
@vikancha-MSFT

[2021-02-18 18:07] KranthiPakala-MSFT commented on #70704
@tsaru72
We will now proceed to close this thread as we have not heard back from you. Please do share the forum thread link here for reference, If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you

[2021-02-18 18:07] #70704 closed

[2021-02-18 18:08] JamesTran-MSFT commented on #70831
@benhurjoel
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-18 18:08] hansenms commented on #70866
Yes, you should set the Authorization: Bearer <token> header. However, that token in the screenshot does not look like a jwt token. Make sure the token you use can be read in a tool like https://jwt.ms and check that the claims make sense.

[2021-02-18 18:12] ssivas commented on #70709
@gautamksr ,

The **“Login with AAD credentials (Preview)”** option would be listed next to **Identity** section in management tab, could you please try to  scroll down little and take a screenshot for us?

![image](https://user-images.githubusercontent.com/57458999/108401742-b0875800-7242-11eb-9e47-cd621dfc29b3.png)

Another possible cause for this issue could be, as it's a preview feature it cou

[2021-02-18 18:14] biologistbrian commented on #70851
Awesome! Thanks @JamesTran-MSFT

[2021-02-18 18:18] bwren commented on #13560
#label:"TriagedFeb2021

[2021-02-18 18:18] PRMerger10 commented on #13560
Are you trying to add a custom label? The syntax for that is `#label:"your label"`.

[2021-02-18 18:18] PRMerger10 commented on #13560
Are you trying to add a custom label? The syntax for that is `#label:"your label"`.

[2021-02-18 18:18] #70671 closed

[2021-02-18 18:18] bwren commented on #13560
#label:"TriagedFeb2021"

[2021-02-18 18:19] SaiKishor-MSFT commented on #70856
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-18 18:20] bwren commented on #14580
#label:"TriagedFeb2021"

[2021-02-18 18:20] baanders commented on #70677
Hi @algattik,

I've added a tip specific to Map-type properties in PR [#147326](https://github.com/MicrosoftDocs/azure-docs-pr/pull/147326).

Since this adds the requested information, I'll have Git automatically close this issue when the PR is merged. Feel free to comment back in this thread with additional comments or questions and we can always reopen if necessary.

Thank you!

[2021-02-18 18:21] bwren commented on #15020
#label:"TriagedFeb2021"

[2021-02-18 18:21] #70677 closed

[2021-02-18 18:21] bwren commented on #21354
#label:"TriagedFeb2021"

[2021-02-18 18:24] bwren commented on #22715
Python 3 sample now documented. #please-close

[2021-02-18 18:24] #22715 closed

[2021-02-18 18:24] bwren commented on #30127
#label:"TriagedFeb2021"

[2021-02-18 18:26] bwren commented on #30838
#label:"TriagedFeb2021"

[2021-02-18 18:26] bwren commented on #35322
#label:"TriagedFeb2021"

[2021-02-18 18:26] bwren commented on #37269
#label:"TriagedFeb2021"

[2021-02-18 18:28] bwren commented on #48833
#label:"CreateAzMonWIFeb2021"

[2021-02-18 18:28] minhe-msft commented on #69966
Fixed.

#please-close

[2021-02-18 18:28] #69966 closed

[2021-02-18 18:29] bwren commented on #48771
#label:"CreateAzMonWIFeb2021"

[2021-02-18 18:30] bwren commented on #40953
#label:"CreateAzMonWIFeb2021"

[2021-02-18 18:31] bwren commented on #42200
#label:"TriagedFeb2021"

[2021-02-18 18:40] SaurabhSharma-MSFT commented on #69316
@RonyMSFT can you please help on this ?

[2021-02-18 18:41] ecfan commented on #70326
Hi @BeMor81, thanks for your feedback! I've asked the product team about this behavior and waiting on their advice for action.

[2021-02-18 18:42] bwren commented on #48378
#label:"CreateAzMonWIFeb2021"

[2021-02-18 18:43] bwren commented on #48244
#please-close

[2021-02-18 18:43] #48244 closed

[2021-02-18 18:44] bwren commented on #47819
#label:"CreateAzMonWIFeb2021"

[2021-02-18 18:45] bwren commented on #46963
#please-close

[2021-02-18 18:45] #46963 closed

[2021-02-18 18:47] bwren commented on #46691
Views are now being retired. #please-close

[2021-02-18 18:47] #46691 closed

[2021-02-18 18:49] bwren commented on #46550
This is now noted in the article. #please-close

[2021-02-18 18:49] #46550 closed

[2021-02-18 18:50] SaurabhSharma-MSFT commented on #70744
@haveyoumetcp I am able to see PARSE page (See screenshot below)
![image](https://user-images.githubusercontent.com/38112130/108406244-00c8d080-71d7-11eb-8c4a-e54211e18b7f.png)

[2021-02-18 18:50] bwren commented on #46549
#label:"CreateAzMonWIFeb2021"

[2021-02-18 18:52] bwren commented on #44445
#please-close

[2021-02-18 18:52] #44445 closed

[2021-02-18 18:53] bwren commented on #44022
Article retired. #please-close

[2021-02-18 18:53] #44022 closed

[2021-02-18 18:53] haveyoumetcp commented on #70744
Correct, I said I could see it on the left side of the page....

But, there is no link to it in the this page in which I submitted this feedback for.  There's a link to all the other transformation, just not Parse.

https://docs.microsoft.com/en-us/azure/data-factory/data-flow-transformation-overview

[2021-02-18 18:54] bwren commented on #42255
#label:"CreateAzMonWIFeb2021"

[2021-02-18 18:56] mike-urnun-msft commented on #70585
@jkelso662 Following up on my comment above, please let me know if you were able to get your Azure Functions runtime up and running, or need further assistance.

[2021-02-18 18:59] tomasr opened #70876 "Adjusting Collection Frequency?"
The docs say that "collection frequency is 60secs (by default)". While it mentions the *default* frequency, it doesn't seem to mention if there's a way to change it, or how.

Docs also say the Prometheus metrics scrapping frequency also default to 60secs but can be brought as low as 15secs.... but again, fails to mention how one would adjust it.

Is this possible, at all?

---
#### Document Detail

[2021-02-18 19:01] JamesTran-MSFT commented on #70516
@henriquebelotto
Thank you for your time and patience throughout this issue. I received a response from our engineering team and will post their update below.

**Update:**

- What you will notice is that they have been grouped into "generic" string ids with dynamic strings
- email_pattern is gone, should use a predicate
- So its all still possible, just with a reduced set of strings

If you have a

[2021-02-18 19:01] derekehyatt opened #70877 "Issue running dataprep step. Likely due to change from PipelineData to OutputFileDatasetConfig"
This line should have the parens around (destination=...) removed. Python v3.6.2 will complain about positional args being after keyword args:
`prepped_data_path = OutputFileDatasetConfig(name="titanic_train", (destination=(datastore, 'outputdataset')))`

Furthermore, this line in the dataprep stage causes the following errors:
`    arguments=[titanic_ds.as_named_input('titanic_ds').as_mount(), pr

[2021-02-18 19:02] JamesTran-MSFT commented on #70664
@MarkIannucci
Thank you for your time and patience throughout this issue. I received a response from our engineering team and will post their update below.

**Update:**
The autofill passwords in the app are decrypted with a key that can only be fetched with the user performing strong authentication in the app. Even if Microsoft has the original MSA password, that is not enough to get the passwords

[2021-02-18 19:11] JamesTran-MSFT commented on #70678
@mpchen
I just wanted to check in and see if you had a chance to review my previous comment or had any other questions?

[2021-02-18 19:15] JamesTran-MSFT commented on #70830
@xps233
Thank you for your time and patience throughout this issue!

Since the default/old version of the extension is not supported on SLES 15, and we are currently working on this internally, in order to make the new extension, the default version of the extension, I'll go ahead and close out this issue.

[2021-02-18 19:15] #70830 closed

[2021-02-18 19:17] bwren commented on #48923
#label:"CreateAzMonWIFeb2021"

[2021-02-18 19:18] bwren commented on #49575
#label:"CreateAzMonWIFeb2021"

[2021-02-18 19:19] bwren commented on #49908
#label:"CreateAzMonWIFeb2021"

[2021-02-18 19:21] JamesTran-MSFT commented on #70846
@biologistbrian
Closing this one so we can work on this using your other GitHub thread - https://github.com/MicrosoftDocs/azure-docs/issues/70851

[2021-02-18 19:21] #70846 closed

[2021-02-18 19:21] nunepalli opened #70879 "Azure SQL Data Sync for Azure Database for PostgreSQL"
Can someone please confirm whether Azure SQL Data Sync works for Azure Database for PostgreSQL?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa9bff59-c1f2-f93e-46ed-50eb2b6bc1e8
* Version Independent ID: 83943260-4a5c-cae6-0b77-621cf2f772bf
* Content: [What is SQL Data Sync for Azure? - Azure SQL Database](https://do

[2021-02-18 19:33] bwren commented on #49911
Both sample and API reference has been updated. #please-close

[2021-02-18 19:33] #49911 closed

[2021-02-18 19:33] ChaitanyaNaykodi-MSFT commented on #70138
Hello @samyaktelsang, Apologies for the delay. AFAIK you cannot use `WaitForCompletionOrCreateCheckStatusResponseAsync` for Non-Http Triggered function Apps as it requires a Http Request as one of its input parameters. You might have to use [GetStatusAsync](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.webjobs.durableorchestrationclientbase.getstatusasync?view=azure-dotnet-legacy#Mic

[2021-02-18 19:33] #70138 closed

[2021-02-18 19:33] #70372 closed

[2021-02-18 19:34] SaiKishor-MSFT commented on #70870
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-18 19:37] Blackmist commented on #70872
@lucazav
Great question! After asking around, it looks like a feed is available, just not easily discoverable. Try `https://docs.microsoft.com/api/search/rss?search=%22Azure+machinee+learning+release+notes%3F+-+Azure%22&locale=en-us`.

I'll update the article to add a link to that near in the intro.

[2021-02-18 19:37] lobrien commented on #70877
Thanks very much for this! This is very timely, as I'm trying to root out all doc issues relating to `PipelineData` -> `OutputFileDatasetConfig`!

[2021-02-18 19:38] JamesTran-MSFT commented on #70851
@biologistbrian
Thanks for your time and patience throughout this issue.

When it comes to the error message you received, were you able to look at our [Troubleshoot publisher verification](https://docs.microsoft.com/en-us/azure/active-directory/develop/troubleshoot-publisher-verification) documentation, specifically [UnableToAddPublisher](https://docs.microsoft.com/en-us/azure/active-directory/de

[2021-02-18 19:39] bwren commented on #49939
#label:"CreateAzMonWIFeb2021"

[2021-02-18 19:41] lobrien commented on #70877
@assign lobrien -- adding this to internal docs workitem 1810098.

[2021-02-18 19:44] bwren commented on #50702
#label:"CreateAzMonWIFeb2021"

[2021-02-18 19:46] bwren commented on #51360
This is now included in the agent overview https://docs.microsoft.com/azure/azure-monitor/agents/agents-overview.  #please-close

[2021-02-18 19:46] #51360 closed

[2021-02-18 19:50] bwren commented on #51820
#label:"CreateAzMonWIFeb2021"

[2021-02-18 19:50] dlepow commented on #70660
@mjaggard - Apologies for the confusion. "units" on that calculator page = "registries". We've put in a work item to update the calculator to make that clearer. Thanks for the feedback.

[2021-02-18 19:52] louis-Kimura commented on #70866
Ah yeah youre right, put in jwt and it didn't parse. Is there another setting to make sure it uses jwt?

[2021-02-18 19:53] JamesTran-MSFT commented on #70862
@roy-work
Thank you for pointing this out! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-18 19:54] JamesTran-MSFT commented on #70852
@Lou-tech-dotcom
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-18 19:59] bwren commented on #52892
#label:"CreateAzMonWIFeb2021"

[2021-02-18 20:00] bwren commented on #53064
#label:"CreateAzMonWIFeb2021"

[2021-02-18 20:02] louis-Kimura commented on #70866
I found out, just to use id token, here it is from JWT:

{
  "typ": "JWT",
  "alg": "RS256",
  "x5t": "nOo3ZDrODXEK1jKWhXslHR_KXEg",
  "kid": "nOo3ZDrODXEK1jKWhXslHR_KXEg"
}.{
  "aud": "9720e8e7-a767-42ef-b3b4-918265286323",
  "iss": "https://sts.windows.net/e34c8e67-182a-4085-9dc0-39a38dddea12/",
  "iat": 1613678109,
  "nbf": 1613678109,
  "exp": 1613682009,
  "aio": "AVQAq/8TAAAA9evFf+svWipZPwo8

[2021-02-18 20:03] nehsin commented on #70815
I am aligned with the proposal and will get this added to our documents.

[2021-02-18 20:03] JamesTran-MSFT commented on #70864
Since this issue isn't a doc enhancement, bug, or doc specific question, and requires more in-depth troubleshooting, and there's currently a Stack Overflow post open on this I'll go ahead and close out this thread.

https://stackoverflow.com/questions/66262836/azure-fhir-proxy-cannot-access-through-postman

[2021-02-18 20:06] louis-Kimura commented on #70864
@JamesTran-MSFT Both dont have an answer

[2021-02-18 20:10] JamesTran-MSFT commented on #70864
@louis-Kimura
Thank you for the quick follow up!

I've assigned this issue to one of our experts to assist, please allow some time for them to look into this and update as soon as possible.

[2021-02-18 20:13] lucazav commented on #70872
It works like a charm!
It'd be great if any release note Docs page will have such a link.

Thank you!

--
Luca Zavarella

________________________________
From: Larry Franks <notifications@github.com>
Sent: Thursday, February 18, 2021 8:37:18 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Luca Zavarella <lucazavarella@outlook.com>; Mention <mention@noreply.github.com>
Subject:

[2021-02-18 20:16] biologistbrian commented on #70851
Yep, I looked.  It wasn't helpful.  I have gone over and over the requirements and have absolutely no idea why I'm getting the error.

[2021-02-18 20:18] bwren commented on #53276
#label:"CreateAzMonWIFeb2021"

[2021-02-18 20:21] Marnixvdb commented on #69807
@dctswh Maybe my initial post was a little ambiguous about this, but I didn't end up filing a support request for this issue, as one of the suggested solutions listed before submitting a request helped me solve my problem. I filed this comment on the documentation, because some of the code examples on this page are in contradiction with the suggested solution, and because the recommendation from t

[2021-02-18 20:23] bwren commented on #53595
#label:"CreateAzMonWIFeb2021"

[2021-02-18 20:25] bwren commented on #53841
#please-close

[2021-02-18 20:25] #53841 closed

[2021-02-18 20:27] travisclagrone opened #70881 "BigQuery data source docs missing"
Documentation for the Google BigQuery data source is missing from docs.microsoft.com, even though it is present on docs.databricks.com: https://docs.databricks.com/data/data-sources/google/bigquery.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7ee4990-863a-6999-1b2f-f29cc264bb14
* Version Independent ID: 59f1c30

[2021-02-18 20:29] bwren commented on #54191
#label:"CreateAzMonWIFeb2021"

[2021-02-18 20:32] bwren commented on #54294
#label:"CreateAzMonWIFeb2021"

[2021-02-18 20:34] bwren commented on #54298
#label:"TriagedFeb2021"

[2021-02-18 20:34] bwren commented on #54431
#label:"CreateAzMonWIFeb2021"

[2021-02-18 20:35] bwren commented on #54827
#label:"CreateAzMonWIFeb2021"

[2021-02-18 20:35] bwren commented on #55257
#label:"CreateAzMonWIFeb2021"

[2021-02-18 20:35] bwren commented on #56058
#label:"CreateAzMonWIFeb2021"

[2021-02-18 20:36] bwren commented on #56059
#label:"CreateAzMonWIFeb2021"

[2021-02-18 20:39] bwren commented on #56211
#label:"CreateAzMonWIFeb2021"

[2021-02-18 20:39] bwren commented on #56377
#label:"CreateAzMonWIFeb2021"

[2021-02-18 20:41] bwren commented on #56707
Python 3 sample is now published. #please-close

[2021-02-18 20:41] #56707 closed

[2021-02-18 20:42] ErikMogensen opened #70882 "Why does an APIM instance not get soft-deleted?"
I have been creating and deleting several APIM instances lately. Usually they don't get soft-deleted, at least they don't show up as purged. I haven't been able to determine this happens. I have done all deletes through the Azure portal, which I assume use the same API version all the time.

It would be good to know this since then you know that you can reuse the instance name and don't have to pu

[2021-02-18 20:43] bwren commented on #57029
#label:"CreateAzMonWIFeb2021"

[2021-02-18 20:45] mpchen commented on #70678
Thanks @JamesTran-MSFT. My question is more on whether it is possible to create custom assessments of  "Microsoft.Security/assessments" (as per https://docs.microsoft.com/en-us/rest/api/securitycenter/assessments/createorupdate). The documentation above talks about general security assessments.

It'd be very helpful if there is an example on how to use https://docs.microsoft.com/en-us/rest/api/sec

[2021-02-18 20:46] bwren commented on #57044
#please-close

[2021-02-18 20:46] #57044 closed

[2021-02-18 20:46] bwren commented on #57323
#label:"CreateAzMonWIFeb2021"

[2021-02-18 20:47] bwren commented on #57669
#label:"CreateAzMonWIFeb2021"

[2021-02-18 20:47] bwren commented on #58490
#label:"CreateAzMonWIFeb2021"

[2021-02-18 20:48] bwren commented on #69201
#label:"CreateAzMonWIFeb2021"

[2021-02-18 20:48] bwren commented on #68852
#label:"CreateAzMonWIFeb2021"

[2021-02-18 20:49] bwren commented on #68242
#label:"CreateAzMonWIFeb2021"

[2021-02-18 20:49] bwren commented on #68198
#label:"CreateAzMonWIFeb2021"

[2021-02-18 21:01] Anand-Moghe commented on #70695
@SnehaAgrawal-MSFT Thanks. There is no documentation available that gives any hint whether ASE deployment slot can be created in separate N/W segment or not and what is the default or by design behavior. This is is not a auto-scale out.  Wish Microsoft docs had some hint somewhere in this regard. If you know about this feature, can you please share the link?

[2021-02-18 21:07] xps233 commented on #70830
Thanks for this quick response, please update the document then, hope this could be helpful and prevent mis-leading..

[2021-02-18 21:29] JamesTran-MSFT commented on #70830
@xps233
Thank you for the follow up!

@MSSedusch
Are you able to look into this and potential update the documentation as needed.

Thank you!

[2021-02-18 21:32] JamesTran-MSFT commented on #70678
@mpchen
Thank you for the quick follow up!

I've reached out to our Azure Security Center support team and will update as soon as possible.

[2021-02-18 21:33] IngridAtMicrosoft commented on #68338
This has been addressed.
#please-close

[2021-02-18 21:34] #68338 closed

[2021-02-18 21:36] IngridAtMicrosoft commented on #69260
This has been addressed.
#please-close

[2021-02-18 21:36] #69260 closed

[2021-02-18 21:40] emuench commented on #69606
#reassign:ShaiSandMSFT

[2021-02-18 21:40] PRMerger16 commented on #69606
ShaiSandMSFT is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-02-18 21:49] JamesTran-MSFT commented on #70851
@biologistbrian
Thank you for the quick response!

I've reached out to our PG team to see if they can provide any guidance, because it sounds like [this issue](https://github.com/MicrosoftDocs/azure-docs/issues/66693#issuecomment-769494754) should've been resolved.

[2021-02-18 21:50] jimkangosjarvi commented on #9062
Works if you add following
[code]

[See link, works fine](https://github.com/jimkangosjarvi/Chatter-WebAssembly)

[2021-02-18 22:00] ndanielsen opened #70883 "Incomplete instructions for Configuring a customer container with ssh"
[Enter feedback here]

The instructions for `sshd_config` setup are in complete.

In the referenced, repo for it working: https://github.com/Azure-App-Service/node/blob/master/10.14/startup/init_container.sh#L26

The key SSH_PORT is replaced with 2222.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d385179-7730-3b99-a

[2021-02-18 22:01] git14 opened #70884 "Add another troubleshooting resolution step"
Under the Troubleshooting section, another bullet needs to be added for If Temporary Access Pass sign in was blocked due to User Credential Policy appears during sign-in with TAP, check the following:
- The user is in scope for the TAP policy.

I was able to issue a TAP for a general user as a Global Admin that was not in scope for TAP. When the user tried to sign in they were prompted with the TA

[2021-02-18 22:08] mike-urnun-msft commented on #70882
@ErikMogensen Thank you for your feedback! We will review and update as appropriate.

[2021-02-18 22:08] JamesTran-MSFT commented on #70884
@git14
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-18 22:16] barabba72 commented on #45282
No news ?

[2021-02-18 22:26] RakeshRaghavmk opened #70885 "Create a virtual network peering - Resource Manager, different subscriptions and Azure Active Directory tenants"
Create peering - Azure portal

in Step number 6 is wrong, it is not under Vnet, have to create access control for the subscription so  go to subscriptions select add role assignments.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52fe18fe-efc5-3e63-8200-8e20e885b55e
* Version Independent ID: 86a4f465-d676-e0e4-7367-2e

[2021-02-18 22:34] bwren commented on #67455
Article was updated to show support for VMSS. #please-close

[2021-02-18 22:34] #67455 closed

[2021-02-18 22:35] Snozzberries opened #70888 "Desktop Optimization"
The document does not provide official guidance on image sysprep, although implied.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdad1b23-8c75-cd08-41cc-6313fc7016bd
* Version Independent ID: f7979a0f-a1be-100f-33b5-01627c45f783
* Content: [Prepare and customize a master VHD image - Azure](https://docs.microsoft.com/

[2021-02-18 22:36] Snozzberries opened #70889 "Desktop Optimization"
The document does not provide official guidance on use of the Virtual Desktop Optimization Tool. https://github.com/The-Virtual-Desktop-Team/Virtual-Desktop-Optimization-Tool

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdad1b23-8c75-cd08-41cc-6313fc7016bd
* Version Independent ID: f7979a0f-a1be-100f-33b5-01627c45f78

[2021-02-18 22:39] bwren commented on #67541
#label:"CreateAzMonWIFeb2021"

[2021-02-18 22:41] gamullen opened #70891 "Update with New Regions"
Update to include South Central US and any other regions that added availability zones recently.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d05795f9-5027-e37d-7862-29c72f5c4edb
* Version Independent ID: 7ccc48be-64dd-10ed-a0bf-e0c90db04bed
* Content: [Availability Zone support for App Service Environments - Azure A

[2021-02-18 22:43] bwren commented on #68094
I'm not sure if that will get added or not once we get to GA. I'll ask about getting it added though.

#please-close

[2021-02-18 22:43] #68094 closed

[2021-02-18 22:43] lucazav commented on #70872
Sorry Larry,

I opened the object of the link, but it seems the link inside is wrong:

<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
  <channel>
    <title>Microsoft Docs - ""Azure machinee learning release notes? - Azure""</title>
    <description>The latest updates from Microsoft Docs on ""Azure machinee learning release notes? - Azure""</description>
    <link>https://docs.microso

[2021-02-18 22:48] irenehua commented on #66876
#please-close

[2021-02-18 22:48] #66876 closed

[2021-02-18 22:52] blbryant opened #70892 "Error when creating LB Rule"
When following the step to create the LB Rule I get error saying that the HTTP rule and the HealthProbe rule, "use the same protocol Tcp and backend port 80, and must not be used with the same backend address pool"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f85b671d-f324-1bbb-9ae1-cfb4d14f642b
* Version Independent

[2021-02-18 22:53] aldelar commented on #70302
Can we re-open this issue?

I do not think AML supports running on remove VMs which are not in Azure @ecly, but it should support running jobs on custom VMs in Azure. Nevertheless, the steps that it takes to setup/prepare such a VM are not clearly documented (only at a high level as I described earlier).

I am a Data & AI CSA, and I can't figure this out with the doc, so imagine what our customers

[2021-02-18 22:54] bwren commented on #67371
Sorry, missed this one. I'll get that article updated.  #please-close

[2021-02-18 22:54] #67371 closed

[2021-02-18 22:54] erichrt commented on #66876
Hi @dennis-benzinger-hybris sorry for the delay in getting back to this. This was changed to scenario 4 but is accurate. It states " When the VM creates an outbound flow, Azure translates the source IP address to a dynamically allocated public source IP address. This public IP address isn't configurable and can't be reserved. This address doesn't count against the subscription's public IP resource

[2021-02-18 22:57] irenehua commented on #58795
This is not supported. #please-close

[2021-02-18 22:57] #58795 closed

[2021-02-18 22:58] anavinahar commented on #63540
Thanks for the feedback, we are redoing this doc. You will see an update shortly.

#please-close

[2021-02-18 22:58] #63540 closed

[2021-02-18 22:59] erichrt commented on #59071
Hi @artisticcheese if you have a Standard Load Balancer you are correct. The scenario it linked to is when you have a VM with no Public IP behind an ILB (which has no internet connectivity). I'm going to update the documentation now though to make it more explicitly say there will be no internet connectivity

[2021-02-18 23:07] irenehua commented on #62981
Hi @Tenseiga, the restriction applies regardless of availability zone or availability set. If you would like to onboard this gated feature, feel free to reach out to our support team.

[2021-02-18 23:07] irenehua commented on #62981
#please-close

[2021-02-18 23:07] #62981 closed

[2021-02-18 23:13] #70643 closed

[2021-02-18 23:13] #70639 closed

[2021-02-18 23:13] #70638 closed

[2021-02-18 23:14] #70637 closed

[2021-02-18 23:14] #70631 closed

[2021-02-18 23:14] #64884 closed

[2021-02-18 23:14] #70633 closed

[2021-02-18 23:22] CharlieDigital commented on #24709
Has this actually been updated?  I am running into the same wall: I train the model with a very unique phrase like "ABRACADABRA" and do not see it show up.

I suppose I will wait and see when it starts to appear, but it seems that this basic behavior should be documented so folks know what to expect.

[2021-02-18 23:27] ethanli83 opened #70893 "how Health Check Status is calculated?"
[Enter feedback here]

Hi,

I am trying the Health Check feature on Web app.

I can see the instance got rebooted, but I never see it got removed from the load balancer.

Also how Health Check Status metric is calculated? When 1 of my 3 instances is reporting 500 on the health check end point, I don't see the metric drops.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-02-18 23:31] KranthiPakala-MSFT commented on #70881
@travis-c-lagrone
Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-02-18 23:50] NelGson commented on #70633
@euangms Are you referring to the AML notebook here? Not sure I understand your comment. I can load that Notebook in an AML WS. And to install packages in AML, don't users  just do an in-line pip install...? So not sure what you meant with req.txt unless you tried to use this AML Notebook in Synapse. I might need to read up on using req.txt from AML.

[2021-02-18 23:57] bwren commented on #67216
#label:"CreateAzMonWIFeb2021"

[2021-02-18 23:59] bwren commented on #63571
#please-close

[2021-02-18 23:59] #63571 closed

[2021-02-19 00:00] shriazure opened #70895 "Reservation Purchaser Role"
https://docs.microsoft.com/en-us/azure/cost-management-billing/reservations/prepare-buy-reservation#who-can-buy-a-reservation

Hi there - can you help me identify the permissions required for this "Reservation Purchaser Role". I couldn't see this listed as a built-in role. We don't want to give Owner role at the subscription level for managing reservations to a set of users.

---
#### Document Det

[2021-02-19 00:01] bwren commented on #67011
I'll pass this feedback on to the product team.

#please-close

[2021-02-19 00:01] #67011 closed

[2021-02-19 00:04] bwren commented on #58617
#label:"CreateAzMonWIFeb2021"

[2021-02-19 00:04] bwren commented on #58700
#label:"CreateAzMonWIFeb2021"

[2021-02-19 00:06] bwren commented on #58897
#label:"CreateAzMonWIFeb2021"

[2021-02-19 00:07] bwren commented on #61169
#label:"CreateAzMonWIFeb2021"

[2021-02-19 00:08] bwren commented on #61061
#label:"TriagedFeb2021"

[2021-02-19 00:10] bwren commented on #61046
#label:"TriagedFeb2021"

[2021-02-19 00:11] bwren commented on #61046
#label:"CreateAzMonWIFeb2021"

[2021-02-19 00:11] robinsh commented on #67371
@bwren @jlian

Was this changed as you requested or does it need additional changes? I have no idea what you're talking about, but it looks ike the change wasn't fully made. Let me know if you want me to look at additional updates here.

[2021-02-19 00:12] bwren commented on #60849
#label:"CreateAzMonWIFeb2021"

[2021-02-19 00:13] bwren commented on #59997
#label:"TriagedFeb2021"

[2021-02-19 00:14] klawrawkz commented on #70823
@SwathiDhanwada-MSFT, Thanks for the quick response.

After running diagnostics and evaluating the logs, I became suspicious that it was not the fault of your sample code. As it turns out the TLS error is due to the Win DataCenter 2019 VM that is being built as a part of my IaC process. I need to do more research to understand the root cause. However it is clear that the TLS error is due to the VM

[2021-02-19 00:14] #70823 closed

[2021-02-19 00:16] bwren commented on #59933
I think we had already confirmed this, but 2008 SP2 is not on the support list. https://docs.microsoft.com/en-us/azure/azure-monitor/agents/agents-overview#supported-operating-systems

#please-close

[2021-02-19 00:16] #59933 closed

[2021-02-19 00:18] aldelar commented on #70302
In the meantime I was successful in attaching a VM built from the DSVM image template (for instance microsoft-dsvm:ubuntu-1804:1804-gen2:latest).

The missing doc is how to build a minimal VM that starts from a ubuntu image (like Canonical:UbuntuServer:18_04-lts-gen2:latest) + necessary installation instructions of the minimum set of packages to have this VM enabled as an 'attached compute' in AML

[2021-02-19 00:19] RayGHeld opened #70896 "Groups overage link points to deprecated api"
The groups overage claim link in the SAML tokens are pointing to AAD Graph, which is being deprecated and should instead be pointing to the Microsoft Graph api ( https://docs.microsoft.com/en-us/graph/api/user-getmemberobjects?view=graph-rest-1.0&tabs=http )  In conjunction to that, there is absolutely no guidance on this page on how to utilize that link to get the groups.  There should at least b

[2021-02-19 00:20] bwren commented on #58948
#label:"CreateAzMonWIFeb2021"

[2021-02-19 00:26] inaun commented on #12740
That link is broken (leads to "Browse code samples" now. Will you please provide current link to compliancy doc?

[2021-02-19 00:36] JamesTran-MSFT commented on #70896
@RayGHeld
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-19 00:37] JamesTran-MSFT commented on #70857
@ErikDeRoos
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-19 00:38] JamesTran-MSFT commented on #70869
@andybouts
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-19 00:39] JamesTran-MSFT commented on #70871
@GuyPaddock
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-19 00:43] JamesTran-MSFT commented on #70876
@tomasr
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-19 00:44] NavtejSaini-MSFT commented on #70879
@nunepalli We are checking this and we will get back to you.

[2021-02-19 00:49] jeevansd commented on #70852
@Lou-tech-dotcom We have already resolved this issue in the new plugin. Now we are in the process of publishing this plugin in the Atlassian Marketplace. If you need this early please reach out to us on this alias SaaSApplicationIntegrations@service.microsoft.com

[2021-02-19 00:49] NavtejSaini-MSFT commented on #70747
@hora7ce Please share the error screenshot to take this forward.

[2021-02-19 00:54] NavtejSaini-MSFT commented on #70720
@aodugga Can you please confirm where you have raised the feature request and exactly what is the request.

[2021-02-19 01:00] NavtejSaini-MSFT commented on #70879
@nunepalli Azure Data Sync is only for Azure SQL Single instance. For continued migration you may to want to use the Azure Data Factory. Some of the details are on this [StackOverflow ](https://stackoverflow.com/questions/64065870/azure-sql-data-sync)issue.

[2021-02-19 01:03] NavtejSaini-MSFT commented on #70596
@qwertynik We are glad you were able to make this work. Please let us know if you need any further help.

[2021-02-19 01:04] jyama4ta commented on #69845
@palma21 is there any update?

[2021-02-19 01:07] isc-mcozine commented on #68619
After reading the specs again in light of what you've said, I can definitely accept your point and the observed behavior. It seems that the OIDC spec is very vague about how to return OIDC scopes and I'm not sure we're going to get a definitive answer. To expand on my point with section 5.1, though, you're right that in the RFC it only refers to access tokens. However, in the RFC all scopes refer

[2021-02-19 01:09] hansenms commented on #70866
I think the access token is what you need and the `aud` claim needs to match the `resource_id` from the WWW-authenticate header.

[2021-02-19 01:10] NavtejSaini-MSFT commented on #70864
@louis-Kimura FHIR Product Team member @hansenms is taking the Stack overflow question forward. Please follow that for more info and your questions regarding this.

[2021-02-19 01:16] brianlehr commented on #64688
Still under review

[2021-02-19 01:38] jcbendernh opened #70898 "An error occurred in the ‘’ query. Expression.Error: The field 'IsAnomaly' of the record wasn't found."
When I follow the steps outlined and Invoke Query1, I receive the following error...

An error occurred in the ‘’ query. Expression.Error: The field 'IsAnomaly' of the record wasn't found.
Details:
    code=InvalidSeries
    message=The 'Timestamp' at index 1 is invalid in daily granularity with 1 gran as interval.

I am a Microsoft employee so happy to walk through the steps I have taken to this

[2021-02-19 01:48] lissff commented on #70425
@psmanhas  i don't believe "manual stop the instance" is the only exception.
AFAIK, when a node is Not Ready because of "Node not reporting status", we also do not take any action.
Can we make some explanation here?

[2021-02-19 01:59] jcbendernh opened #70899 "Ignore last submission... All set now"
When I follow the steps outlined and Invoke Query1, I receive the following error...

An error occurred in the ‘’ query. Expression.Error: The field 'IsAnomaly' of the record wasn't found.
Details:
    code=InvalidSeries
    message=The 'Timestamp' at index 1 is invalid in daily granularity with 1 gran as interval.

I am a Microsoft employee so happy to walk through the steps I have taken to this

[2021-02-19 02:34] benhurjoel commented on #70831
Thank you @JamesTran-MSFT and @KrishnaG-MSFT. Looking forward to it.

[2021-02-19 03:11] VikasPullagura-MSFT commented on #70660
@dlepow Thanks for your comments.

[2021-02-19 03:13] VikasPullagura-MSFT commented on #70685
@vikancha-MSFT Thanks for fixing the document.

[2021-02-19 03:13] #70685 closed

[2021-02-19 03:15] VikasPullagura-MSFT commented on #70760
@rdeltcheva
Can you please check and add your comments on this doc update request as applicable.

[2021-02-19 03:31] VikasPullagura-MSFT commented on #70888
@Snozzberries Thanks for the Feedback.
I have assigned issue #70889 to the document author to check and enhance the document.
As this is a duplicate thread, I will close this. For further updates, please check this issue #70889

[2021-02-19 03:31] #70888 closed

[2021-02-19 03:31] VikasPullagura-MSFT commented on #70889
@Snozzberries
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-02-19 03:31] VikasPullagura-MSFT commented on #70889
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2021-02-19 03:34] xuegao0112 opened #70900 "Does code-less agent status monitor v2 support for the profiler?"
Hi team,

I deployed AI Status Monitor V2 agent in my Windows Azure VM, which host on IIS.
But I met error in the bootstrap after deploy the configuration change.
May I know if the profiler only support AI SDK or both code-less agent SDK all fine?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36e5b161-ef9e-41

[2021-02-19 04:15] ram-msft commented on #70898
@jcbendernh Thanks for the question. We are investigating the issue and will update you shortly.

[2021-02-19 04:18] MikeSpark opened #70902 "Local Storage "How-to" is missing"
In this page, it mentioned that if the BACPAC file is larger than 200GB, need to use Local Storage. This creates 2 issues:

1. How to utilize "Local Storage" has no instruction, in Azure portal it only asks for Azure Storage account details therefore suspect it's not an valid option
2. Is 200GB limit still applies? Azure BLOB single file biggest size is upgraded from 200GB to 4.75TB throughout the

[2021-02-19 04:20] ram-msft commented on #70899
@jcbendernh Thanks for updating. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-19 04:20] #70899 closed

[2021-02-19 04:22] ram-msft commented on #70898
@jcbendernh Thanks for updating. As mentioned in the following [issue](https://github.com/MicrosoftDocs/azure-docs/issues/70899) this has been resolved.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-19 04:22] #70898 closed

[2021-02-19 04:28] AnuragSharma-MSFT commented on #70609
@tjprescott Thanks for reporting this issue, I was able to repro it as well. As per my understanding this should not be problem related to PostgreSQL service but should be related to article. I am assigning it to content author to evaluate and update as appropriate.

[2021-02-19 04:31] SnehaAgrawal-MSFT commented on #70883
@ndanielsen Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-19 04:37] zhejun97 opened #70904 "Please check Example1, "FORMAT_TYPE = 'JSON'" is wrong, JSON should be no quotes. Example3 is correct."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d57365ff-69c9-10ab-46d7-483b46925cb2
* Version Independent ID: 297a7ca4-4556-819b-a79c-90f6c448373f
* Content: [CREATE EXTERNAL STREAM (Transact-SQL) - Azure SQL Edge](https://docs.microsoft.com/en-us/azure/azure-sql-edge/create-external-stream-transa

[2021-02-19 04:42] lyrana commented on #64915
[Work item](https://msazure.visualstudio.com/One/_workitems/edit/8018920) tracked in backlog
#please-close

[2021-02-19 04:42] #64915 closed

[2021-02-19 04:46] SwathiDhanwada-MSFT commented on #70895
@shriazure Thanks for your comment. We will review the issue and get back to you shortly.

[2021-02-19 04:50] AnuragSharma-MSFT commented on #70774
@pochiraju Thanks for providing the necessary information.

@DrEnnui We hope you are able to proceed on the same.

[2021-02-19 04:52] AnuragSharma-MSFT commented on #70902
@MikeSpark Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-02-19 04:52] lyrana commented on #56351
This is now being tracked [here](https://github.com/Azure-Samples/Azure-Time-Series-Insights/issues/30). @shreyasharmamsft let's sync for next steps.
#please-close

[2021-02-19 04:52] #56351 closed

[2021-02-19 04:52] AnuragSharma-MSFT commented on #70904
@zhejun97 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-02-19 04:56] SnehaAgrawal-MSFT commented on #70891
@gamullen Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-19 04:56] gowrisankar22 commented on #39634
@msrini-MSFT  @SaiKishor-MSFT

For SubnetProperties I want to disable the value for`PrivateEndpointNetworkPolicies` and `PrivateLinkServiceNetworkPolicies` but the below sample code is not disabling that. Can you help ?

[code]

[2021-02-19 04:57] SnehaAgrawal-MSFT commented on #70893
@ethanli83 Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-19 04:58] tksh164 opened #70906 "Please add footnotes mark to AMD processor VM series"
Please add footnotes mark to the AMD processor VM series. The current vCPU:Core ratio of the AMD processer VM series are make misleading the overcommit of CPU Core.

The Intel processor VM series have footnotes:

But the AMD processor VM series Dav4, Dasv4, Eav4, Easv4, L8s_v2 - L80s_v2, NVv4 have not the AMD simultaneous multithreading technology footnotes.

I want to you to add the footnotes lik

[2021-02-19 05:05] hpsin commented on #68619
Thanks - good discussion and an interesting call out of some quirks - hopefully this can help someone in the future.

Our SDKs cache access tokens based on the scopes indicated in the response. So if you request 'openid' as a scope from the SDK, intending to get an access token from the cache for use against the userinfo endpoint, we want to make sure we give you an access token good for that endp

[2021-02-19 05:05] JamesTran-MSFT commented on #70885
@RakeshRaghavmk
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-19 05:09] vipulsparsh commented on #70551
@fbinotto It works perfectly fine for me. I have used the tenant name :

![image](https://user-images.githubusercontent.com/63580915/108460289-4f8d6d80-729e-11eb-8db3-475ac989aa3a.png)

![image](https://user-images.githubusercontent.com/63580915/108460414-a430e880-729e-11eb-9de6-216593655062.png)

What error/issue you were having ? Please share any screenshot.

[2021-02-19 05:13] BhargaviAnnadevara-MSFT commented on #70689
@xtianus79 We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-02-19 05:13] #70689 closed

[2021-02-19 05:19] fbinotto commented on #70551
This is what I was getting:

[cid:image001.png@01D706D1.8B0FF7D0]

In my app when I click to authenticate with a Microsoft account, it redirects to:

https://login.live.com/oauth20_authorize.srf?client_id=7f26b187-ba8c-4df2-8fac-129b9f5d9193&redirect_uri=https%3a%2f%2fhypostatizeb2c.b2clogin.com%2f0a943143-359f-46e2-b6ad-f4623ec0e312%2foauth2%2fauthresp&response_type...........

See that it is usi

[2021-02-19 05:30] vipulsparsh commented on #70551
@fbinotto What is the redirect URI you have configured in App registration page while adding the app ?
For my scenario, it actually shows the tenant name as I have configured the URL in this format :
https://<tenant-name>.b2clogin.com/<tenant-name>.onmicrosoft.com/oauth2/authresp

A quick browser trace shows that it indeed follows the tenant name in redirect URI :

![image](https://user-images.git

[2021-02-19 05:36] fbinotto commented on #70551
[cid:image001.png@01D706D4.B8D48D90]

If I have it configured like the above, it doesn’t work. But if I replace the hypostatizeb2c.onmicrosoft.com with the tenant ID than it works.

Check it for yourself.

Browse to https://hypostatize.powerappsportals.com/ and try to do a B2C sign-in with a Microsoft Account.

Thanks
Felipe

From: VipulSparshMSFT<mailto:notifications@github.com>
Sent: Friday, 19

[2021-02-19 05:46] tjprescott commented on #70609
Thanks @AnuragSharma-MSFT. The WebApp team concurred in their response: https://github.com/Azure/azure-cli/issues/16939#issuecomment-780475821

[2021-02-19 05:50] shashishailaj commented on #70906
@tksh164 Thank you for your inputs. We will have this reviewed with the content team and take it forward accordingly .

[2021-02-19 05:52] aspnet4you commented on #70569
@MayankBargali-MSFT ,
Thanks for reference documentation. I am currently testing Key Vault event with the sample  code [EventGridConsumer](https://github.com/Azure-Samples/event-grid-dotnet-publish-consume-events/tree/master/EventGridConsumer).

Will come back with more comments.

[2021-02-19 06:00] SamaraSoucy-MSFT commented on #70666
I was able to replicate your issue  by deploying a Spring 2.4 app without Application Insights, which is the output point for zipkin. Once I enabled App Insights and restarted the app the error went away. Can you confirm for me whether or not you have App Insights enabled on your Azure Spring instance?

![image](https://user-images.githubusercontent.com/47195189/108464235-c0586980-724d-11eb-905d-1

[2021-02-19 06:15] MohitGargMSFT commented on #70873
@asukumar22 Thanks for your feedback! We will investigate and update soon on it.

[2021-02-19 06:27] MayankBargali-MSFT commented on #70587
@hsirtl I don't see the same error as 302 Bad request as you have mentioned following the document.
If there is any issue with the request body or any other error with the request formation in that case you receive 400 Bad request.
400 error is expected if the parameter passed in the request body doesn't match with your function input.

I will go ahead and close this thread. Feel free to tag me in

[2021-02-19 06:27] #70587 closed

[2021-02-19 06:29] MayankBargali-MSFT commented on #70569
@aspnet4you Sure feel free to tag me on your replay. For now, I will go ahead and close this issue.

[2021-02-19 06:29] #70569 closed

[2021-02-19 06:29] ehsf973 opened #70907 "time to update the note sectin "We plan for this change to be implemented on January 15th, 2020.""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35b52f01-3dee-6d41-f9f6-7710e461ffeb
* Version Independent ID: c8ef08a8-d503-b52f-9de8-21b13cfa3d72
* Content: [Azure Active Directory Connect Health operations](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-health-oper

[2021-02-19 06:35] vermagit commented on #70712
@karthick3d Yes. There is no change to the announced retirement on 3/1.
If you have been a user of these VM sizes in the past, you will have received (multiple) notifications by now, one as recent as 2/16. Please let us know if there are any questions.

[2021-02-19 06:37] VladimirKhvostov opened #70908 "Information is not accurate for Gen-2 image."
From the doc:
applications should look in the **/dev/disk/azure/root-part1 or /dev/disk/azure-resource-part1** paths to discover these partitions.
This works on Gen-1 OS image, but not Gen2. Here is what we have on Ubuntu 18.04 Gen-2:

find  /dev/disk/azure/
/dev/disk/azure/
/dev/disk/azure/scsi1
/dev/disk/azure/scsi1/lun0
/dev/disk/azure/scsi0
/dev/disk/azure/scsi0/lun1-part1
/dev/disk/azure/scsi

[2021-02-19 06:54] vipulsparsh commented on #70551
@fbinotto The redirect URI seems to be set at : https://hypostatizeb2c.b2clogin.com/0a943143-359f-46e2-b6ad-f4623ec0e312/oauth2/authresp

![image](https://user-images.githubusercontent.com/63580915/108468858-5f607e00-72ad-11eb-9dde-395abbb11143.png)

Can you share the screenshot of the page from App under app registration where the redirect URI is mentioned > If the tenant name is used it should n

[2021-02-19 06:57] fbinotto commented on #70551
It is not.

This is a screenshot of the app registration.

[cid:image003.png@01D706E0.4348BB80]

Thanks
Felipe

From: VipulSparshMSFT<mailto:notifications@github.com>
Sent: Friday, 19 February 2021 4:55 PM
To: MicrosoftDocs/azure-docs<mailto:azure-docs@noreply.github.com>
Cc: fbinotto<mailto:felipe_binotto@hotmail.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-d

[2021-02-19 07:02] PramodValavala-MSFT commented on #70545
@boris-tarasov-maersk Hope my previous comment clears things up. Once azurite supports durable functions, the doc will be updated accordingly.

Since there is no update required now, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-19 07:02] #70545 closed

[2021-02-19 07:04] MayankBargali-MSFT commented on #70488
@amsuprith For unit tests, you just need to mock services while instantiating the class. The DI helps in testing your application and there are no hard dependencies.
Sharing one of the [GitHub sample](https://github.com/introtocomputerscience/AzureFunctionsDependencyInjectionExample) contributed by someone only for your reference and you need to modify, test it according to your need.

I will go a

[2021-02-19 07:04] #70488 closed

[2021-02-19 07:05] PramodValavala-MSFT commented on #70659
@edasgupta23 Just following up here... Hope my previous comment clears things up.

Do note that this repo is primarily for addressing doc related feedback. For queries like this, it would be best to post your query on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-functions.html) to engage the wider community.

[2021-02-19 07:05] EdmundLai opened #70909 "Typo correction on IP address space and subnet range"
In the section Virtual Network and parameters, the parts:

IPv4-address-space | 192.168.0.0\16
subnet-address-range | 192.168.0.0\24

should be changed to:

IPv4-address-space | 192.168.0.0/16
subnet-address-range | 192.168.0.0/24

Otherwise, the IPv4 address space field and subnet name field will complain about having "Malformed IP address".

---
#### Document Details

⚠ *Do not edit this section

[2021-02-19 07:10] vipulsparsh commented on #70551
For some reason I do not see any screenshot. Can you try again.
You can also reach out to us at
azcommunity[at]microsoft[dot]com  with subject - Atten "Vipul"

[2021-02-19 07:14] YamaguchiKei1 opened #70910 "Office 365 app launcher dead link"
Office 365 app launcher link becomes Not Found.
Please fix the link or modify the description.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2fca75d-f9f1-aa0f-63cb-edcdd7ac2efe
* Version Independent ID: cc5532f1-c39d-2a4f-7671-90af5b7c01bc
* Content: [Using Azure AD for applications not listed in the app gallery](htt

[2021-02-19 07:24] MSSedusch commented on #70830
@xps233 Thank you for your feedback. We are working on a complete rewrite of the extension part of the deployment guide. One thing we noticed is that the current structure of the document does not clearly indicate that there are two different version of the extension, which one customers should use. Since it is a complete rewrite (for the most part) it will take a little bit more time.

[2021-02-19 07:25] vipulsparsh commented on #70551
Discussed offline, the flow works fine if the direct signup_signin flow is used from custom policy.
Closing this for now.

[2021-02-19 07:30] SumanthMarigowda-MSFT commented on #70909
@EdmundLai Thanks for your question. We are checking on this and will respond to you soon.

[2021-02-19 07:30] xps233 commented on #70830
Hi @MSSedusch , thanks for the update on document part, good to see the rewrite would make the structure more easy understandable to the audience.

[2021-02-19 07:35] BharathNimmala-MSFT commented on #70563
Thank you @tfitzmac for helping on the thread.

@rcollina Please review the information shared by @tfitzmac and let us know if you have any further queries.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further feedback on the document please tag us in your reply and will be happy to re

[2021-02-19 07:35] #70563 closed

[2021-02-19 07:42] SaiKishor-MSFT commented on #70602
Since we have not heard back from you we will now proceed to close this thread. We are actively working on updating the document with the new change. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-02-19 07:42] #70602 closed

[2021-02-19 07:46] SaiKishor-MSFT commented on #70729
@kalyanmit
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A ](https:/

[2021-02-19 07:51] tomkuijsten opened #70912 "Location is missing from WITHIN results from larger polygon"
As specified in the docs, I created a collection, added the spatial index (geography) and tried some WITHIN queries. It all worked fine, I can see the index is being used etc. However, after some more testing I have found an issue which I cannot explain. I have the following document:

[code]

Now, when I use a WITHIN query like this:

[code]

I receive the location. Now this is used in a webapp w

[2021-02-19 08:06] harald-quist-stratsys opened #70913 "How are errors in PATCH handled?"
For example, if adding a member to a group fails, the response should still be 204 No Content? How then is the failure communicated back to Azure AD?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 271dc426-fb47-7441-d627-ec11f8c7a6ea
* Version Independent ID: 4cb8bfc8-4748-e501-425a-e4c2da0f5f5a
* Content: [Tutorial -

[2021-02-19 08:20] Tom-Van-Asch commented on #70666
This is how the application insights config screen is looking:
![image](https://user-images.githubusercontent.com/5707385/108476162-01726d00-7292-11eb-9e03-0c0645da4821.png)

As you can see in the application map of the last 24 hours all the spring boot apps are calling the default endpoint location of zipkin: localhost:9411
![image](https://user-images.githubusercontent.com/5707385/108476869-d3d9

[2021-02-19 08:21] levalencia opened #70914 "TypeError: type object argument after ** must be a mapping, not ForecastingParameters"
I am tryin the following, just as the document shows:
[code]

However I get this error:
[code]

What am I missing?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf6e8bb8-9f33-6315-dec3-915c82152f4f
* Version Independent ID: 0d184dff-a615-49e4-089a-8c41a8ff801c
* Content: [Auto-train a time-series forecast model - Azure

[2021-02-19 08:33] karthick3d commented on #70712
I havent received any notification. I just noticed we have Standard_A8v2 rather than Standard_A8. Are we saying that it may not affect A8V2 VMs?

[2021-02-19 08:35] j-mantu commented on #68550
This has been resolved and a PR raised

[2021-02-19 08:51] louis-Kimura commented on #70866
@hansenms The access token is not a JWT token:

PAQABAAAAAAD--DLA3VO7QrddgJg7Wevr0d8E4rwxeZLgSyiYYf7_7csp9uM9MYACxcMdUO0g3RICa06-Bp1doiWkx6-IB6t65QFiFf2rNujwlWfQYaYzpiDPlrAfGky-8N3Le00SoBYZkSl-QC17g3VHnAxV-BSM1CqUOAlRJ6f0ek54QX7kMJAIZiMUhfbKSArRzUGu0UdObN2QEbp4fhgBU_q6jDJ9ZYasH38B1tFb73eFjLhK9O6RIz0s09nb1NDU9-K0JfqquKTTokGsIQriNROzq1P3-cZXoVuOiRpeMHIieRyLWLmN0pb68g4PwQOuH4WwDSRofv1PdkLhNsW42wPf8y4

[2021-02-19 08:57] AnuragSharma-MSFT commented on #70912
@tomkuijsten Thank you for the feedback. We are actively investigating and will get back to you soon

[2021-02-19 09:04] hungltph03955 opened #70916 "Immersive Reader NodeJS not reading [Unauthorized]"
I'm having one problem about Unauthorized
I've been running the system for 1 year and generating the keys on azure's system is fine. but today when I create the key as usual and replace key in TENANT_ID, CLIENT_ID, CLIENT_SECRET, SUBDOMAIN the read function can't read anymore. I get the error message: **"Sorry ... We were unable to download the audio file required to read this text aloud. Status:

[2021-02-19 09:06] hungltph03955 commented on #70916
![Screenshot from 2021-02-19 16-05-33](https://user-images.githubusercontent.com/20923439/108482686-634fc880-72cc-11eb-980f-26ad10d96027.png)

[2021-02-19 09:20] TJulesVerne opened #70917 "Change the payload"
Hi,

Can i change the playload ?
I want add :
- text:"my text"

Regards,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d0ca1cb-5795-d384-897b-1d77d76752ba
* Version Independent ID: 8c451550-8daf-82ff-2925-e745f943d16a
* Content: [Use autoscale to send email and webhook alert notifications - Azure Monitor](https://doc

[2021-02-19 09:21] SwathiDhanwada-MSFT commented on #70895
@shriazure AFAIK, there are not any specific permissions to view "Reservation Purchaser" Role. If you are able to view other built-in roles, you should be able to view "Reservation Purchaser" Role. I would suggest you check again if role exists by executing PowerShell command as shown in below image.

![image](https://user-images.githubusercontent.com/48976275/108483949-52e62080-72c1-11eb-849a-d9d

[2021-02-19 09:23] tejinderrai opened #70918 "Additional Options"
Hello,

Would it be worth including options in this article such as:

Integration runtimes and Azure data factory to this article for specific scenarios to replicate from on-premises to Azure
Azure File Sync and control of throughput to replicate data from on-premises to Azure File storage
Azure Data Sync, to transfer between Azure Orgs / same org and data centers

Thank you

Tejinder

---
#### Do

[2021-02-19 09:42] edasgupta23 commented on #70659
@PramodValavala-MSFT sorry for the delay. I had to make sure that I do not post anything here that would breach  our company's security policy. So here is what I am doing (after removing the rest of the code related to our business logic )-
Also we are trying to  upgrade our Azure function SDK originally on 2.x runtime version to 3.x in order to leverage new features like GetContext() in startup.c

[2021-02-19 09:42] AnuragSharma-MSFT commented on #70705
@AdrianZielonka Sorry for the trouble you are facing. I tried to repro the issue and it worked fine from my side. Below are the steps I followed:

1. Microsoft.Azure.Cosmos.Emulator.exe /GenKeyFile=test
2. Microsoft.Azure.Cosmos.Emulator.exe /AllowNetworkAccess /KeyFile=test

These commands launched the azure Cosmos DB emulator.

Can you please confirm if you deleted the emulator's data directory

[2021-02-19 09:45] dominicbetts commented on #70266
Hi @Hitengit054 - you're correct about the environment variables for DPS using a symmetric key. We don't currently have a C language sample that uses DPS and X.509 certificates. I'll add such a sample to our our backlog.

[2021-02-19 10:04] #60172 closed

[2021-02-19 10:27] chenyukang opened #70919 "Follow the Go/Rust instructions, get 'workercofig for runtime: custom not found' error"
![image](https://user-images.githubusercontent.com/230646/108492399-14139300-72e0-11eb-943f-1a3c7553e168.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c524efc8-3aef-53b3-732b-6837d8f1c7a7
* Version Independent ID: a5d8005d-4431-a2b6-34bf-c463b76618c2
* Content: [Create a function in Go or Rust using Visual Studio

[2021-02-19 10:30] ram-msft commented on #70914
@levalencia Thanks for the question. We are investigating the issue and will update you shortly.

[2021-02-19 10:31] chenyukang commented on #70919
And I use WSL2, how to install  Azure Functions Core Tools ?

[2021-02-19 10:37] jmprieur commented on #70442
#assign-to @mmacy
Proposing to assign to @mmacy to make a decision on this, as this is some feedback I gave in the past and this was explained in some of the .NET quickstarts but got removed to simplify them

[2021-02-19 10:40] SumanthMarigowda-MSFT commented on #70892
@blbryant Thanks for your question. We are checking on this and will respond to you soon.

[2021-02-19 10:41] SumanthMarigowda-MSFT commented on #70918
@tejinderrai Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-02-19 10:42] SumanthMarigowda-MSFT commented on #70629
@joefrancisGA The PR has been initiated! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-19 10:42] #70629 closed

[2021-02-19 10:47] SumanthMarigowda-MSFT commented on #70892
@blbryant  I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-19 10:47] #70892 closed

[2021-02-19 10:48] SumanthMarigowda-MSFT commented on #70826
@Apapora The PR has be initiated ! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-19 10:48] #70826 closed

[2021-02-19 10:50] Bongani opened #70920 "Example on mounting file share fails"
I've tried the example several times, and the container instance fails because the container fails to mount on the failed storage.
This is from JSON view of the Container Instance
`        "instanceView": {
            "events": [
                {
                    "count": 7,
                    "firstTimestamp": "2021-02-19T10:33:55.825Z",
                    "lastTimestamp": "2021-02-19T10:4

[2021-02-19 11:06] aodugga commented on #70720
Hi,

The feature request was raised through the Azure CXP-ACE uVoc Programme to offer a better solution for managing SQL injection vulnerability alerts for customers using ATP on Azure SQL DB (or SQL on Azure IaaS) on Development Environments.

#8902511

Kind Regards,
Aoife Duggan
Azure Customer Engineer 
Advanced Cloud Engineering (ACE) 
[cid:image001.png@01D706AF.248E2DA0]
Azure. Invent with pur

[2021-02-19 11:15] AnuragSharma-MSFT commented on #70732
@takekazuomi Thanks for pointing out the issue. I am able to repro it with the same error message. I tried the same update through ARM template for Single server and interestingly it worked fine and the parameter got updated accordingly.

As flexible server is still in preview and some features could be in development as of now, this might be the reason.

However I have escalated it to the product

[2021-02-19 11:20] louis-Kimura commented on #70866
@hansenmsHere is some more information, I'm not getting anywhere with this. I just keep receiving the same errors:

[code]

**I am trying to call the following API's. I'm not sure which one is correct, the tutorial doesn't explain**
https://func-fhir-proxy-2.azurewebsites.net/api/fhirproxy/Patient
https://fhir-test-apis.azurehealthcareapis.com/Patient/

Here is my set up from postman when getting

[2021-02-19 11:31] SumanthMarigowda-MSFT commented on #70909
@EdmundLai The PR has been initiated! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-19 11:31] #70909 closed

[2021-02-19 12:23] FredrikDahlberg opened #70921 "Arm template improvements"
Please provide production ready ARM templates in the examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 635c056b-b778-b5f9-d166-8fbfa5339302
* Version Independent ID: 9162f15f-b75a-4e0a-a2b0-86ab9e70597e
* Content: [Create your first function using Azure Resource Manager templates](https://docs.microsoft.com/en-u

[2021-02-19 12:43] EmilioMeira opened #70922 "Wrong Documentation, I believe..."
Hi,

The documentation says:

"The lookup transformation only supports equality matches. To customize the lookup expression to include other operators such as greater than, it's recommended to use a cross join in the join transformation. A cross join will avoid any possible cartesian product errors on execution."

However, immediately after that there's a picture showing that the lookup operator D

[2021-02-19 12:49] psmanhas commented on #70908
@VladimirKhvostov
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-02-19 12:49] psmanhas commented on #70908
@genlin
Can you please check and add your comments on this doc update request as applicable

[2021-02-19 13:09] SnehaAgrawal-MSFT commented on #70673
@markwsmith-pharma Thanks for the clarification. Could you please send an email to AzCommunity[at]Microsoft[dot]com referencing this issue, we would like to work closer with you on this matter.

Since, working offline will close this issue here.

[2021-02-19 13:09] #70673 closed

[2021-02-19 13:15] shashishailaj commented on #70645
@ovidiubechesamplexor We have passed the feedback to the Powerapps team and opened a linked issue for them. We are closing this issue now. In case there are any further queries , please let us know and we will be happy to help .

#please-close

[2021-02-19 13:15] #70645 closed

[2021-02-19 13:17] Blackmist commented on #70872
Sorry about that @lucazav , I copied/adapted from another article and got some things incorrect. Can you try this one?

`https://docs.microsoft.com/api/search/rss?search=Azure+machine+learning+release+notes&locale=en-us`

Here's the top few lines it returns for me:

[code]

[2021-02-19 13:19] shashishailaj commented on #70913
@harald-quist-stratsys Thank you for your feedback . We will investigate and update the thread.

[2021-02-19 13:20] shashishailaj commented on #70910
@YamaguchiKei1 Thank you for your inputs. We will have this reviewed with the content team and let you know.

[2021-02-19 13:21] lightupdifire opened #70924 "MFA methods & Hardware token vs Security Key & Passwordless"
Hello,

1. Please explain more the MFA methods
Right now if we look in this section in Azure cloud MFA: Verification code from mobile app or hardware token
![image](https://user-images.githubusercontent.com/39700914/108500673-72c11880-72b0-11eb-8648-86f99a723c05.png)

Not really clear what kind of hardware token we can use, the one that shows code or hardware token as a security key?
Or does it me

[2021-02-19 13:22] shashishailaj commented on #70907
@ehsf973 Thank you for catching this.  We will investigate internally and update the thread.

[2021-02-19 13:27] amanmcse commented on #70900
@xuegao0112  Thank you for your feedback . We will investigate and update the thread further.

[2021-02-19 13:30] psmanhas commented on #70906
@mimckitt Can you please check and add your comments on this doc update request as applicable

[2021-02-19 13:32] psmanhas commented on #70480
@samtkaplan Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-02-19 13:32] #70480 closed

[2021-02-19 13:32] psmanhas commented on #70541
@shashankkr Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-02-19 13:32] #70541 closed

[2021-02-19 13:34] psmanhas commented on #70805
@D3athByMonkey Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-02-19 13:34] psmanhas commented on #70805
@sakthi-vetrivel Can you please check and add your comments on this doc update request as applicable

[2021-02-19 13:37] psmanhas commented on #70806
@sakthi-vetrivel Can you please check and add your comments on this doc update request as applicable

[2021-02-19 13:39] BasWassenaar opened #70925 "IPv6 in Diagnostics Logs"
Under "Event Hubs virtual network connection event schema" it says at the end that "Event Hubs doesn't support IPv6 ranges."
Well I discovered that it logs IPv6 adressess when they come from "internal" private endpoints.
In this case I created a private endpoint from a Stream Analytics Cluster to Event Hub. The connections from the Stream Analytics Jobs show up in the logging with their IPv6 addre

[2021-02-19 13:44] tomkerkhove opened #70926 "Upgrading clusters through ARM"
While this document nicely explains how to upgrade a cluster by using the Azure CLI, how does it work with ARM?

When updating [`kubernetesVersion`](https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/managedclusters#managedclusterproperties-object) in ARM, will it also use a buffer pool?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2021-02-19 13:49] MGoedtel commented on #70871
@GuyPaddock - These internal commands allows you to get a relative connection from the automation account without going through the resource manager APIs. This internal cmdlet is necessary to ensure you can get a Run As Connection to pass to the Connect-AzAccount cmdlet to authenticate to Azure and manage other resources. I came across a similar situation yesterday during an internal discussion an

[2021-02-19 13:49] #70871 closed

[2021-02-19 13:56] AshokPeddakotla-MSFT commented on #68401
@martgut Let us know if you had a chance to raise a support request?

[2021-02-19 13:58] souravmishra-msft opened #70927 "TechnicalProfileReferenceId value mentioned is incorrect"
TechnicalProfileReferenceId value mentioned is incorrect in the section: **Add the identity provider to a user journey**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7646910a-39c5-eebd-97f9-db6e7e55d1fa
* Version Independent ID: 34f989f5-05ea-19ad-7db9-40cc0a753b29
* Content: [Set up sign-up and sign-in with a Micros

[2021-02-19 13:58] #70551 closed

[2021-02-19 13:58] Blackmist commented on #70872
Hrm... that doesn't look correct either. @lucazav I'll research and post here once I have it working with an RSS client.

[2021-02-19 14:01] apavlidi opened #70928 "Typo: tile -> title"
[Enter feedback here]

On the note below the [View logic app runs status](https://docs.microsoft.com/en-us/azure/logic-apps/monitor-logic-apps-log-analytics#view-logic-app-runs-status) heading there is a typo on the word `tile`, it should probably be `title`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da061810-14df

[2021-02-19 14:02] mmacy commented on #70442
@jmprieur I've created a proposed work item with https://aka.ms/msidentity-docs-request - #please-close

ID | Title | Iteration Path | Area Path
-- | -- | -- | --
[1300235](https://identitydivision.visualstudio.com/Technical%20Content/_workitems/edit/1300235) | [PROPOSED][ISSUE] add path length warning to Windows quickstarts (70442) | Technical Content\Backlog | Technical Content\app-dev

[2021-02-19 14:02] #70442 closed

[2021-02-19 14:10] jmprieur commented on #70442
Thanks @mmacy

[2021-02-19 14:11] PramodValavala-MSFT commented on #68658
@WillEastbury Agreed.

@Damag3d I believe [this B2C doc](https://docs.microsoft.com/en-us/azure/active-directory-b2c/add-web-api-application?tabs=app-reg-ga#grant-permissions) would be the best place to share this feedback. Feel free to raise a new issue on this doc for more insights.

Since there is no doc update required here, we will now proceed to close this thread. If there are further questi

[2021-02-19 14:11] #68658 closed

[2021-02-19 14:17] mmacy commented on #69657
@jmprieur It looks like we need to delete this doc. Per [this MSAL.NET wiki article](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/msal-net-2-released#supported-platforms):

Can you confirm, please?

[2021-02-19 14:23] jmprieur commented on #69657
@mmacy. It's still useful for UAP.
@Rinki-MSFT : I don't understand what the problem is. Is it? UWP us not only Windows Phone? Is it? From my understanding it means Universal Windows Platform, and is used for XBox etc ...

[2021-02-19 14:32] tigormanmsft opened #70929 "Add PCS to Oracle reference architectures page"
We need to add information about Linux **Pacemaker/Corosync (PCS)** to the section on high-availability and about Linux **Pacemaker/Corosync with DRBD** (Distributed Replicated Block Device) to the section on disaster-recovery.

Please note that the additional text on PCS should be similar to the content on PCS within the SAP HANA reference architecture page (https://docs.microsoft.com/en-us/azure

[2021-02-19 14:33] Blackmist commented on #70872
@lucazav Can you try `https://docs.microsoft.com/api/search/rss?search=%22Azure+machine+learning+release+notes%22&locale=en-us`

That returns the following for me:
[code]

It does seem to have the right URL in the item entry. Unfortunately, I am not an expert with RSS. Validation tools and clients seem to accept the URL, but don't show any new items.

[2021-02-19 14:37] lucazav commented on #70872
Hi Larry,

I opened it with Feedly and it seems working fine.
Let’s see if updates are notified 🙂

Thank you!

--
Luca Zavarella

From: Larry Franks <notifications@github.com>
Sent: Friday, February 19, 2021 15:34
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Luca Zavarella <lucazavarella@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs]

[2021-02-19 14:38] j-beniwal commented on #57689
@iannovic have you found any solution for this am having the exact same issue.

**Container version: azure-blob-storage**:1.2-linux-arm64v8
**Operating System** : ubuntu:18.04
**Underlying Hardware**: jetson_xavier_nx (based on arm64 architecture)
**Python version**: Python3.7.9
**Azure sdk versions as below**:
  azure-common         1.1.26
  azure-core           1.11.0
  azure-iot-device     2.0.

[2021-02-19 14:42] mmacy commented on #69657
@jmprieur OK, should it then be updated to replace all instances of Windows 8.1 with Windows 10?

[2021-02-19 14:43] PramodValavala-MSFT commented on #70659
@edasgupta23 Sorry to hear that. Nothing comes to mind as to why there would be an issue when upgrading. Ensuring the right versions of all packages would be a good start. But can't know more without a deeper look.

As mentioned earlier, this repo is primarily for doc related feedback. It would be best to post your query on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-func

[2021-02-19 14:43] #70659 closed

[2021-02-19 14:50] bahadir-be commented on #19456
**This is still an issue.
Please re-open this!!!!!!!!**

[2021-02-19 14:51] jmprieur commented on #69657
Yes, @mmacy

[2021-02-19 14:58] KevinBurton opened #70930 "Disabled subscription"
I would like to re-enable my subscription by reducing or removing resources not by removing spending limit. Is that possible? If so how?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d5c4c89-1778-7b70-db0e-1425315d027b
* Version Independent ID: 7502f1f9-0ab9-5596-1254-1912b655b5e9
* Content: [Overview of Azure Cost M

[2021-02-19 15:04] jyeblog opened #70931 "Need clarification of target resource group and region"
In document: [Deploy a BYOL solution from the Azure portal](https://docs.microsoft.com/en-us/azure/security-center/deploy-vulnerability-assessment-byol-vm#deploy-a-byol-solution-from-the-azure-portal)

It's not clear in this document which region I should pick.

If I created a Resource Group, select this Resource Group and random region. I would be able to successfully deploy the BYOL solution.

H

[2021-02-19 15:11] Rinki-MSFT commented on #69657
Thanks @jmprieur and sorry for the confusion.

Thank you @mmacy.

[2021-02-19 15:14] nunepalli commented on #70879
@NavtejSaini-MSFT
Thanks for the response.

[2021-02-19 15:14] #70879 closed

[2021-02-19 15:17] louis-Kimura commented on #60331
This hasn't been updated

[2021-02-19 15:19] louis-Kimura commented on #60331
@hansenms @ryanfincham
I disagree here. The instructions are not fine they are missing a lot of details. I have spent all week trying to set things up and going round in circles due to the lack of documentation put in place in the tutorial.

[2021-02-19 15:27] RonyMSFT commented on #69316
investigating....

[2021-02-19 15:44] shriazure commented on #70895
Thank you for taking a look at this! I am able to see the built-in role. That should do for me.

[2021-02-19 15:44] #70895 closed

[2021-02-19 15:45] louis-Kimura commented on #70866
The access token and refresh are not jwt tokens. The only one that is a jwt is the id_token

[2021-02-19 15:59] lgmorand commented on #55472
Has the doc beeing updated ? AGIC is great but most of customers discover limitations whenever it's too late and get more mature with AKS. Could really be interesting to list the usecases where AGIC may not be relevant instead a pure AppGW + ingress controller

[2021-02-19 16:10] marvinbuss commented on #65868
I just checked the portal and the new private DNS zone names are:
1. **privatelink.adf.azure.com **- For the portal PE (groupId `portal`)
2. **privatelink.datafactory.azure.net** - For the datafactory PE (groupId `dataFactory`)

[2021-02-19 16:14] msmimart commented on #69058
@jitendraRai, @usdruscia thanks for bringing this up; the product team is working on updated messaging right now and once we have firm dates, we'll revise the documentation throughout. This update is being tracked internally so I will go ahead and close this issue, but please stay tuned for doc revisions. #please-close

[2021-02-19 16:14] #69058 closed

[2021-02-19 16:14] Karenzhang7717 opened #70932 "some resources do not support moving"
Hi, I checked [here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/move-support-resources) for supported resources but some of my resources are not supported, as they are in pre-view. are there any ways that I can move those resources? my resources include Azure Santa Cruz, Digital Twins, etc. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2021-02-19 16:17] DishaAgarwal commented on #24709
Hi @CharlieDigital

The behaviour hasn't been updated. If suggestions are not showing up- this is probably because the questions users are asking are not generating top N answers that have similar confidence scores.

We will be updating the documentation shortly.

[2021-02-19 16:20] asukumar22 commented on #70873
@MohitGargMSFT Thanks for looking into it, Mohit!

[2021-02-19 16:25] #70927 closed

[2021-02-19 16:28] ggailey777 commented on #70919
Are you saying you couldn't install Azure Functions Core Tools on WSL2? I know that there are issues running in the WSL Bash terminal in VS Code.

@anthonychu do you have any thoughts here?

[2021-02-19 16:37] spelluru commented on #37624
Reviewing the old issue. Discussed with our lead dev. I will add the following text to the article.
"offsets are provided by service and it is client’s responsibility to checkpoint as the events processed"

[2021-02-19 16:40] CharlieDigital commented on #24709
@DishaAgarwal Appreciate the update.

[2021-02-19 16:48] dorinmi opened #70934 "Confusion about supportability statement"
At the bottom of the article, there is a table with a supportability matrix for Hybrid Azure AD Join devices. Although there is a note that the UPNs refer to user UPNs, it is not clear that it applies to the HAADJ supportability table.

It would be useful to make a comment stating that that note applies to the table also.

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is r

[2021-02-19 17:05] timsander1 commented on #70912
Can you double check that you are defining the polygon correctly? Keep in mind that Cosmos DB follows the [GeoJSON format](https://tools.ietf.org/html/rfc7946). Keep in mind that this means:

1. Polygons are defined counter-clockwise (looks like your polygon is counterclockwise)
2.  Coordinates are defined as (longitude, latitude).  Is it possible that you've flipped these?

Keep in mind that with

[2021-02-19 17:05] vermagit commented on #70712
Correct. A_v2 series is not covered as part of this retirement.
If you were a user of A8 through A11, you would receive the retirement notification.

[2021-02-19 17:11] alessandrograno-4wardPRO opened #70935 "Error updating PasswordPolicies for a synced user: Unable to update the specified properties for on-premises mastered Directory Sync objects or objects currently undergoing migration"
Hi!

I am in a scenario where I have PHS as a login method and the EnforceCloudPasswordPolicyForPasswordSyncedUsers feature enabled. I need to disable password expiration for different synced users and I was able to do it with the following command, as stated in the official article:

Since recently I get presented with the following error when I try to do that:

I have found this article that sta

[2021-02-19 17:19] kannanzenith opened #70937 "Azure Active Directory (AD) single sign-on (SSO) integration with F5"
I need some clarity about this document: https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/advance-kerbf5-tutorial#:~:text=Follow%20these%20steps%20to%20enable,on%20method%20page%2C%20select%20SAML.&text=On%20the%20Set%20up%20F5,s)%20based%20on%20your%20requirement

At the beginning of the document, it is written that "you'll learn how to integrate F5 with Azure Active Directory (A

[2021-02-19 17:22] msereda opened #70938 "Default session timeout / max values don't seem to match"
Hi, I'm having trouble understanding one piece of the documentation.

This is stated:
Web app session lifetime (minutes) - The amount of time the Azure AD B2C session cookie is stored on the user's browser after successful authentication. You can set the session life time to a value from **15 to 720 minutes.**

But then in your example, this is shown:
<UserJourneyBehaviors>
   <SingleSignOn Scope=

[2021-02-19 17:27] danimir commented on #23767
@Anmolgan81 - We have now enabled customers to use log-shipping as a part of the external service LRS (Log Replay Service) for SQL Managed Instance. More information here: https://aka.ms/mi-logreplay-service. Hope this helps.

[2021-02-19 17:32] KranthiPakala-MSFT commented on #70922
@EmilioMeira
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-02-19 17:33] YutongTie-MSFT commented on #70642
@rastala Could you please take a look at this issue? Thanks.

@epa095
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-02-19 17:34] sordahl-ga commented on #70864
If you are using a service principal with client credentials flow you'll need to follow the steps documented here: https://github.com/microsoft/health-architectures/tree/master/FHIR/FHIRProxy#adding-application-service-principals-to-the-fhir-server-proxy

Please pay attention to the note at the bottom:
Note: You can authenticate using client_credentials flow to your new application using it's appl

[2021-02-19 17:34] spelluru commented on #56832
Sorry for the delay. I have been going through the old issues. I have discussed this issue with our lead dev and here's the response:

Kafka consumer group and EH consumer group are conceptually same things from Kafka consumer’s point of view. Please see this article for differences between Kafka consumer groups and Event Hubs consumer groups.

https://docs.microsoft.com/en-us/azure/event-hubs/apa

[2021-02-19 17:34] #56832 closed

[2021-02-19 17:37] spelluru commented on #70162
@JoshLove-msft - can you please review and answer the question? Thanks.

[2021-02-19 17:38] KranthiPakala-MSFT commented on #70925
@BasWassenaar
Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-02-19 17:38] my3sons opened #70939 "referring to Key Vault from function binding attributes"
Is there a way to refer to Key Vault secrets from a function input/output binding attribute. For example, if I currently have something like:
@EventHubOutput(name = "event", eventHubName = "mySchema", connection = "AzureEventHubConnection")

can we do something like:
@EventHubOutput(name = "event", eventHubName = "mySchema", connection = @Microsoft.KeyVault(VaultName=myvault;SecretName=mysecret))

[2021-02-19 17:43] sjt0325 opened #70940 "Specific changes made to document page."
[Would like to understand what changes were made to this page from the previous publication? Which line items were changed and which IPs were added and removed.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a62365-4312-8aad-d2f1-bb5c4184adf1
* Version Independent ID: 2ba5b809-8025-d7ee-c756-d6d1bab033fb
* Content:

[2021-02-19 17:44] mbialecka commented on #57689
@j-beniwal You need to use python blob storage SDK version that allows 2017-04-17 api-version. Maybe try 12.0.0 version?

[2021-02-19 17:45] spelluru commented on #70925
Hi @BasWassenaar - One question. Are you using the workaround mentioned in the article? Thanks.

"Enable IP filtering, and add the total addressable IPv4 range (1.0.0.0/1 - 255.0.0.0/1)."  As per my discussion with the dev, IP filtering supports only IPv4 ranges.

[2021-02-19 17:49] mike-urnun-msft commented on #70921
@FredrikDahlberg Thank you for your feedback! We will review and update as appropriate.

[2021-02-19 18:05] ChaitanyaNaykodi-MSFT commented on #70928
Hello @apavlidi,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-19 18:06] gabriel-kohen-by commented on #29302
@stefsch , I already have two Service Plans served by the the same subnet of the same VNET. I have WebApp A on Plan 1, WebApps 2, 3 on Plan B(I see these in the list of apps of a plan in the portal). Both use the same vnet\subnet.
The funny thing is that when navigating to each plan's networking and see which WebApps are on which subnet. I can't see WebApp 3 when navigating through it's Plan and w

[2021-02-19 18:11] JoshLove-msft commented on #70162
State is not supported in the Azure.Messaging.ServiceBus library either.
There is a feature request for this here - https://github.com/Azure/azure-sdk-for-net/issues/10241

[2021-02-19 18:18] isc-mcozine commented on #68619
Agreed - I wonder if any of these things are worth bringing to the attention of the OIDC people... Perhaps I'll look into that.

And if I'm understanding you correctly, what you're saying is that the userinfo endpoint checks incoming access tokens for the openid scope. If an access token has openid, will the endpoint return the basic OIDC claims in response to a request that contains that token? O

[2021-02-19 18:20] JamesTran-MSFT commented on #70916
@hungltph03955
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-19 18:21] JamesTran-MSFT commented on #70917
@TJulesVerne
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-19 18:24] SnehaAgrawal-MSFT commented on #70592
@abmis-mi Thanks for reply! As mentioned in [Functions dependency injection.](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection) If you want use DI inside your functions there is no easy way to do it with static class because it's can not have instance constructors with parameters.
As explained [here](https://stackoverflow.com/questions/59821026/can-i-cre

[2021-02-19 18:25] JamesTran-MSFT commented on #70924
@lightupdifire
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-19 18:26] JamesTran-MSFT commented on #70931
@jyeblog
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-19 18:27] JamesTran-MSFT commented on #70934
@dorinmi
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-19 18:27] maximivanov opened #70942 "quota policy: is renewal-period required or optional?"
From the same page:

I assume "lifetime" implies there's no renewal period. Yet in the *Attributes* section, `renewal-period` is marked as required. Is it? If it is, what should be the value for the lifetime call volume scenario?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 248a0753-0fa7-1cc0-d13a-d378ab182e

[2021-02-19 18:28] JamesTran-MSFT commented on #70935
@alessandrograno-4wardPRO
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-19 18:29] tfitzmac commented on #70932
@Karenzhang7717 - sorry, if the resource type does not support move, there is no direct way to move an existing instance. Your next best option is to redeploy the resource to the new resource group/subscription. You could [export the template](https://docs.microsoft.com/azure/azure-resource-manager/templates/export-template-portal) for a resource group and redeploy it in the new destination.

[2021-02-19 18:29] JamesTran-MSFT commented on #70937
@kannanzenith
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-19 18:33] eoinwhelan opened #70943 "EndpointCertificate does not support X509FindType="FindBySubjectName""
Hi,

In the EndpointCertificate of the ApplicationManifest file the attribute "X509FindType" is used.
[code]

However according to the schema this is not a valid attribute and the schema states that the findValue is "The thumbprint of the X509 certificate".

**Schema:**
https://github.com/microsoft/service-fabric/blame/master/src/prod/src/ServiceModel/xsd/ServiceFabricServiceModel.xsd#L274

---
##

[2021-02-19 18:41] MarileeTurscak-MSFT commented on #70938
@msereda
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-19 18:46] JamesTran-MSFT commented on #70516
@henriquebelotto
I just wanted to check in and see if you had any other questions, or if our engineering team's response in my previous comment helped resolve your issue?

[2021-02-19 18:46] JamesTran-MSFT commented on #70664
@MarkIannucci
I just wanted to check in and see if you had any other questions, or if our engineering team's response in my previous comment helped resolve your issue?

[2021-02-19 18:47] #70852 closed

[2021-02-19 18:48] mike-urnun-msft commented on #70585
@jkelso662 Since we haven't heard back, we'll proceed to close this issue for now. If you're continuing to encounter this issue, please make a new post on our new [Microsoft QnA platform](https://docs.microsoft.com/en-us/answers/index.html).

[2021-02-19 18:48] #70585 closed

[2021-02-19 18:56] mike-urnun-msft commented on #70822
Of course, @Kapkan-Lesion! However, we'd like to review the specifics on why. Could you provide additional context and elaborate on the recommendation from Azure?

[2021-02-19 19:02] zxue commented on #70866
My suggestion is that you test access the FHIR API in Postman without using the proxy if you haven't done so. Once you get that working, you can add the proxy and test. To keep it simple, you can disable security for the proxy to start with, and then enable security. Please feel free to find me in LinkedIn and send me a msg there. I can then schedule a meeting with you to troubleshoot the issue.

[2021-02-19 19:08] sakaldeepyadav opened #70944 "Import-Module AzureADPreview"
It should be **Import-Module AzureAD** instead of **Import-Module AzureADPreview** as it's not in preview anymore.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef84a3e0-879e-4312-a89d-7a3bb0cd9a51
* Version Independent ID: 43851f8a-b71f-0a0a-8b1f-629e3528972f
* Content: [Assign sensitivity label

[2021-02-19 19:08] zxue commented on #70864
I just posted a comment at https://github.com/MicrosoftDocs/azure-docs/issues/70866 My suggestion is that you separate the Azure API for FHIR from the proxy. First, make sure you can get a valid access token and access FHIR data in Postman or any other client tool. Then, you try to access the data through the proxy. Feel free to drop me an email.

[2021-02-19 19:15] AjayKumar-MSFT commented on #70557
ignaciofls, Based on your feedback, we have raised a PR and it's merged. The doc would reflect the changes made shortly. Thanks again for your feedback.

[2021-02-19 19:15] #70557 closed

[2021-02-19 19:19] mike-urnun-msft commented on #70882
Hi @ErikMogensen Soft-delete feature is in preview, and supported for `2020-01-01-preview` and later API version. For more, please review: [API Management soft-delete (preview)
](https://docs.microsoft.com/en-us/azure/api-management/soft-delete)

[2021-02-19 19:29] phil-dando commented on #30719
Accessing from All Services > Monitors > Logs and still no "Save As" enabled?

![image](https://user-images.githubusercontent.com/79333993/108552018-a7e95d00-72e8-11eb-9b06-62c09574f9ce.png)

[2021-02-19 19:29] shashankkr commented on #70541
hi @psmanhas sorry for replying late

**Does the container group run long enough to SSH into it?**
No it does not.

**we recommend using an alternative entry point such as SDK or AZ-CLI that supports the execute command.**
We use automation account to manage the lifecycle of the containers and automation account doesn't support sdk or cli.

Can I track that feature request somehow?

[2021-02-19 19:37] mike-urnun-msft commented on #70921
Hello @FredrikDahlberg - This doc is a quick start in nature. If you haven't already come across it yet, could you review our How-to guide on the matter and let us know if that covers the matter fully?

Here's the doc: [Automate resource deployment for your function app in Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-infrastructure-as-code)

[2021-02-19 20:20] Jejiang commented on #60609
Please download the latest version of the IntelliJ Toolkit. This issue has been addressed. Can you please confirm?

[2021-02-19 20:44] GoldenSnitch42 commented on #21216
I've also run into this problem.  I have all my columns in the FetchXML and I've set the column mapping for all the fields.  The Copy Data runs without error now but it's still throwing out the columns that are sparse in the results.  For example, if I pull down 1000 rows and a field in those 1000s rows is sparse I end up will all the 1000 rows are NULL for that field.  If I pull the same 1000 row

[2021-02-19 20:48] ecfan commented on #70326
#in-progress

[2021-02-19 20:55] Luciden opened #70947 "Code is basic errors"
keyVaultName not defined. No namespace reference to Azure.Core. Code wasn't tested.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1079f088-3443-65d7-dce9-8125b59fc431
* Version Independent ID: e0c9e431-8cfa-06be-79a4-642b8973da24
* Content: [Tutorial - Use Azure Key Vault with a virtual machine in .NET](https://docs.m

[2021-02-19 20:58] vhorne commented on #70700
This article has been updated as part of the Premium Firewall Preview release review.
#please-close

[2021-02-19 20:58] #70700 closed

[2021-02-19 21:01] v-demjoh commented on #70700
I tried using the **CognitiveServicesManagement** tag without success using these instructions. :(

[2021-02-19 21:22] SenthuranSivananthan opened #70950 "Need example for using egress load balancer"
We need an example of configuring an egress load balancer for No Public IP scenario.  There's no mention of LB in the ARM template reference either.  Therefore, how would one integrate an egress LB?

Reference:  https://docs.microsoft.com/en-us/azure/templates/microsoft.databricks/workspaces

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2021-02-19 21:26] SaiKishor-MSFT commented on #70520
Service Endpoint is a subnet level property. All traffic from subnet will take the optimum route. Compute instance could be any compute deployed in the subnet – VM, VMSS, AKS, Container Instances, Batch, App Service, Dedicated Host and many more. Hope this helps!

[2021-02-19 21:27] James-Hamil-MSFT commented on #70271
Thank you @limjianan-camelody , we will update this.

Best,
James

[2021-02-19 21:29] SaiKishor-MSFT commented on #70469
Service endpoints generates an optional system route once you configure it. You cant create a system route. It is listed as next hop type so that user has the visibility into routes.

[2021-02-19 21:29] jasonjalufka commented on #57689
@j-beniwal I also had issues using the azureblobstorage module on a Jetson NX! Fortunately I was able to figure out how to get it to work.

### Setup Information
**Container version:** **_azure-blob-storage:1.3-linux-arm32v7_**     ◀️ 👀  I think this is what resolved my issues
**Operating System:** ubuntu:18.04
**Underlying Hardware:** jetson_xavier_nx (based on arm64 architecture)
**Python Versio

[2021-02-19 21:35] MarileeTurscak-MSFT commented on #70944
@sakaldeepyadav
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-19 21:38] CharlesGroleau commented on #70625
I had multiple versions of the module installed, removed them all and installed only latest and everything runs as documented,

Thank you

[2021-02-19 21:39] #70625 closed

[2021-02-19 21:39] Lou-tech-dotcom commented on #70852
I sent an email to SaaSApplicationIntegrations@service.microsoft.com but have not heard back on the new plugin,
thanks everyone for the quick turn around!

[2021-02-19 21:46] MicrosoftGuyJFlo commented on #70934
Will see how I can clarify more when updates are made to the article in the future. The table refers to User UPNs. #please-close

[2021-02-19 21:46] #70934 closed

[2021-02-19 21:51] famoussd opened #70953 "Get-AzureADAuditSignInLogs This request is throttled. Please try again after the value specified in the Retry-After header"
We are in the process of switching to Modern Authentication.  I'm trying to get a report of users that are using Legacy Authentication.  My issue is that you are limited to 250K records using the portal.  I found this cmdlet online and now I'm running into a throttling issue.  Anyone know how I can get around this?  Looking at my output, it looks like it stopped at 15K records.

PS C:\Users\admin>

[2021-02-19 21:53] takekazuomi commented on #70732
Thank you. Flexible servers are an exciting new feature. I enjoy watching that growth.

[2021-02-19 22:02] SaiKishor-MSFT commented on #70856
@realrubberduckdev We recently refreshed the data for the API mentioned. The new data contains only tags that work with NSG’s and removes the extraneous regional tags. These will still be maintained in the JSON. This is a planned change. Please let usknow if you have any further questions. Thank you!

[2021-02-19 22:08] realrubberduckdev commented on #70856
Hi @SaiKishor-MSFT

Thank you, but unfortunately, I am not sure this answers the question above.

- Why is there a difference? Shouldn't the output of the Rest call and the Json we download be the same?
- Can we get the data in the downloaded file via Rest api / az cli? How to programmatically get the IPs filtered for a specific region like AzureEventGrid.NorthEurope in the example above?

[2021-02-19 22:12] James-Hamil-MSFT commented on #70610
Hi @qwiku I assigned the author to update this!

[2021-02-19 22:18] trinadhkotturu opened #70954 "Update the docs with latest storage python sdk"
[Enter feedback here]
We need to update the main.py with following changes:

blob_service_client = BlockBlobService(account_url=storageAccountURL,
                               credential=storageKey
                               )

to

blob_service_client = BlobServiceClient(account_url=storageAccountURL,
                               credential=storageKey
                               )

Also

[2021-02-19 22:20] pkshultz commented on #70954
Thank you @trinadhkotturu! I'm actually working on a PR to fix this issue right now (still have a few changes to make).

I'll respond back here when it's live.

[2021-02-19 22:22] JamesTran-MSFT commented on #70851
@biologistbrian
I just wanted to reach out and let you know that I'm still waiting for a response from our engineering team. However, if this is urgent and if you'd like to work with our support engineers on this issue, please let me know.

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2021-02-19 22:23] JamesTran-MSFT commented on #70947
@Luciden
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-19 22:25] JamesTran-MSFT commented on #70920
@Bongani
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-19 22:26] JamesTran-MSFT commented on #70926
@tomkerkhove
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-19 22:27] JamesTran-MSFT commented on #70929
@tigormanmsft
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-19 22:29] JamesTran-MSFT commented on #70930
@KevinBurton
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-19 22:29] dkamstra commented on #65005
#closed

https://github.com/MicrosoftDocs/azure-docs-pr/pull/147764

[2021-02-19 22:30] SaiKishor-MSFT commented on #70856
@realrubberduckdev The change was by design in order to remove the extra tags that don't work with NSGs and unfortunately the only way to get the IPs filtered for a specific region would be through the JSON only for now.

[2021-02-19 22:35] dkamstra commented on #65005
#please-close

[2021-02-19 22:35] #65005 closed

[2021-02-19 22:37] BharathNimmala-MSFT commented on #70738
@sammybridge  Sorry you are running into this issue. Post validation with the internal team, it was recommended that the best way to get help on this is to open a [support ticket](https://azure.microsoft.com/en-us/support/create-ticket/) to further troubleshoot the issue you are seeing.

In case your subscription or the current support plan doesn't allow you to create support ticket. Please send a

[2021-02-19 22:37] #70738 closed

[2021-02-19 22:45] elegault opened #70955 "Access Denied error"
I followed all the instructions in the article, and ran all the Azure CLI commands without error.  However, when I run the app locally I received the error below in the call to CreateHostBuilder(args).Build().Run() in Program.Main:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9950f5c0-3c21-0859-c217-4b08141de4d4
* Ve

[2021-02-19 22:51] iamalexmang commented on #68602
@James-Hamil-MSFT, closed with bo answer?

[2021-02-19 23:00] MarileeTurscak-MSFT commented on #70617
Users can be blocked from sign-in even if there is no risk detection. The [documentation ](https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/troubleshooting-identity-protection-faq)says,

- The IP can be blocked due to malicious activity from the IP address. The IP blocked message does not differentiate whether the credentials were correct or not. If the IP is blocked and

[2021-02-19 23:00] #70617 closed

[2021-02-19 23:03] ecfan commented on #70928
Hi @apavlidi & @ChaitanyaNaykodi-MSFT,

Thanks for your feedback! Actually, the word "tile" is correct and refers to the **Logic Apps Management** tile on the **Overview pane**:

![image](https://user-images.githubusercontent.com/13206671/108570716-698d7700-72c3-11eb-84f7-ceb5f1b82a87.png)

[2021-02-19 23:09] ChaitanyaNaykodi-MSFT commented on #70928
Thank you @ecfan, for the explanation.
@apavlidi we will now proceed to close this issue out, please tag me in response if there are additional concerns, Thank you!

[2021-02-19 23:09] #70928 closed

[2021-02-19 23:12] dkamstra commented on #61975
#please-close

[2021-02-19 23:12] #61975 closed

[2021-02-19 23:13] ChaitanyaNaykodi-MSFT commented on #70667
Hello @emielkool, apologies for the delay. We had a discussion on the same point mentioned by you, but it was decided that the link provide in the Next Steps is more for getting back to how-to-topic and rather than a sequential step.

[2021-02-19 23:14] James-Hamil-MSFT commented on #68602
@iamalexmang my apologies, I thought your question was answered. Is there anything I can clarify for you?

[2021-02-19 23:28] ChaitanyaNaykodi-MSFT commented on #70814
Hello @MisinformedDNA, you can [follow this tutorial](https://docs.microsoft.com/en-us/samples/azure-samples/functions-storage-managed-identity/using-managed-identity-between-azure-functions-and-azure-storage/) if you are using  Azure functions to access the blobs stored in the storage account using Managed Identity. Please let me know if there are any additional concerns. Thank you!

[2021-02-19 23:38] ChaitanyaNaykodi-MSFT commented on #70942
Hello @maximivanov,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-19 23:41] MarileeTurscak-MSFT commented on #70944
Thanks! I made a pull request to update this.  https://github.com/MicrosoftDocs/azure-docs-pr/pull/147775

https://docs.microsoft.com/en-us/powershell/azure/active-directory/find-module-version?view=azureadps-2.0

@curtand please review

[2021-02-19 23:41] #70944 closed

[2021-02-19 23:48] RyanHill-MSFT commented on #70939
I don't believe you can @my3sons.  You would use `@Microsoft.KeyVault(VaultName=myvault;SecretName=mysecret)` in your app settings. Meaning `AzureEventHubConnection` would be set to `@Microsoft.KeyVault(VaultName=myvault;SecretName=mysecret)` in the App Configuration blade. The value would be read by the platform itself which allows you to change key vault reference or the value without needing to

[2021-02-19 23:48] pgferrero opened #70960 "These instructions might be good if this part of the Azure portal actually worked. Unfortunately, the Add a Task functionality does not work, so you are misleading the reader of this article."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72c9451e-ea33-b66f-ffe7-958f9725fdcf
* Version Independent ID: 67b94bb9-c6a1-e6d9-0c2f-1eccc8f67dce
* Content: [Create automation tasks to manage and monitor Azure resources - Azure Logic Apps](https://docs.microsoft.com/en-us/azure/logic-apps/create-

[2021-02-19 23:54] craigb opened #70961 "Custom domain tutorial steps are out of order"
RE: https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-custom-domain#verify-dns-propagation

It should be called out explicitly that using a domain verification ID to bind the custom domain __prior__ to a CNAME switch will allow migration to a new service with no downtime. It is a little confusing because the documentation on the azure portal and the steps laid out in the

[2021-02-19 23:57] #70326 closed

[2021-02-19 23:58] craigb commented on #70961
Nevermind -- I just found the section for migrating an active domain. https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-custom-domain#migrate-an-active-domain

[2021-02-19 23:58] #70961 closed

[2021-02-20 00:04] AndrewShepherd opened #70962 "First paragraph incorrectly states that the walkthrough uses git deployment"
The introduction contains the following text:

This example does not use Git. It uploads the web application directly from the development machine using azure cli.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64e750b6-a84d-c665-9bb3-167241a33d10
* Version Independent ID: f22f673f-469c-e137-304b-aa92662e0790
* Content

[2021-02-20 00:07] alkohli commented on #69138
#in-pogress Confirming with Engg that the described behavior is correct. Thanks!

[2021-02-20 00:08] PurePandemonium commented on #65256
I had the opposite experience. @trigger().outputs.body.fileName worked for me, and @triggerBody().folderPath (as currently in the article) did NOT. Beginning to suspect this might be some difference in version of ADF, or maybe between Synapse pipelines and ADF pipelines.

[2021-02-20 00:11] tonypitkin opened #70963 "Encourage users to disable requested authentication context"
Front just added a new option to disable the `AuthnContext` rather than using the default `PasswordProtectedTransport`. This should be set to `Disabled` for Azure customers as part of the setup guide. See [here](https://www.dropbox.com/s/iczdo7by1yi4esv/Screen%20Shot%202021-02-19%20at%204.10.14%20PM.png?dl=0)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2021-02-20 00:53] JamesTran-MSFT commented on #70940
@sjt0325
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-20 00:54] JamesTran-MSFT commented on #70943
@eoinwhelan
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-20 00:55] rbaumet opened #70965 "Possible MFA issues with this solution?"
[Enter feedback here]
I tried executing this to copy an excel file from SharePoint online in Synapse and ADF with no success
ErrorCode=HttpFileFailedToRead,'Type=Microsoft.DataTransfer.Common.Shared.HybridDeliveryException,Message=Failed to read data from http server. Check the error from http server：The remote server returned an error: (404) Not Found.,Source=Microsoft.DataTransfer.ClientLibrary,

[2021-02-20 00:56] JamesTran-MSFT commented on #70950
@SenthuranSivananthan
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-20 00:57] BharathNimmala-MSFT commented on #70932
Thank you @tfitzmac for helping on the thread.

@Karenzhang7717 Please review the information shared by @tfitzmac and let us know if you have any further queries.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further feedback on the document please tag us in your reply and will be happy

[2021-02-20 00:57] #70932 closed

[2021-02-20 00:58] JamesTran-MSFT commented on #70953
@famoussd
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-20 00:59] JamesTran-MSFT commented on #70955
@elegault
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-20 00:59] itsxallwater commented on #63857
I just ran into this too. Sorry, I know, commenting on an old issue. The current prompt of

Is not extremely helpful other than by searching for it exactly I found my way here. Reading @plamber's note that it was fine after he re-tried was helpful--this is an issue if you accept the consent dialog too quickly and don't pay attention to granting specific organizational access in the bottom third of

[2021-02-20 00:59] JamesTran-MSFT commented on #70960
@pgferrero
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-20 01:00] RyanHill-MSFT commented on #70962
Thanks for the pointing that out @AndrewShepherd. I have a PR awaiting approval to address this.

[2021-02-20 01:00] JamesTran-MSFT commented on #70963
@tonypitkin
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-20 01:01] BeMor81 commented on #70326
Thank you for progressing this. Please advise why it's been closed?

[2021-02-20 01:01] JamesTran-MSFT commented on #70965
@rbaumet
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-20 01:14] TravisCragg-MSFT commented on #70926
@tomkerkhove what do you mean by 'ARM'? Azure CLI is an interface to make calls through ARM, which changes (almost) anything on your azure subscription. All changes and calls to Azure go through ARM (Azure Resource Manager), no matter if you are using the portal, Azure CLI, Azure PowerShell, or templates.

[2021-02-20 01:46] tiggyboo opened #70966 "Example code doesn't work"
When I register a new app, edit the index.js as directed,  and run the sample code, I get the following error:
{"errorCode":"request_cannot_be_made","errorMessage":"Token request cannot be made without authorization code or refresh token.","subError":"","name":"ClientAuthError"}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-02-20 01:47] stderr-to-devnull opened #70967 "Incomplete, inaccurate and misleading"
This document, along with others, is incomplete, inaccurate, misleading and generally wasting people's time.

UNDER LINUX, I am trying to upload a VHD to a generated SAS-URI following the instructions but it all falls apart when attempting to use `azcopy`: `fatal: from-to argument required, PipeBlob (upload) or BlobPipe (download) is acceptable`

So I go on and `cat` my 3 GB VHD image and pipe it

[2021-02-20 01:56] Pluc15 opened #70968 "Missing information on the configuration file format"
Missing information on the configuration file format

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e1bd2ea-0594-5d07-2dbe-b5d9b0339e98
* Version Independent ID: dcacbdc8-722a-9acd-e5b8-f2fa9464bb6e
* Content: [Push settings to App Configuration with Azure Pipelines](https://docs.microsoft.com/en-us/azure/azure-app-co

[2021-02-20 02:31] Wind010 commented on #36178
This is an issue that is causing pain for us as well.

[2021-02-20 03:06] apjanke commented on #36592
Hello! I am hitting a similar issue in my work's Azure setup. We have a Linux machine named "lx-azrdev02" running Ubuntu 18.04. I enabled "Login with AAD credentials (Preview)" when initially provisioning the machine.

A couple weeks ago, I got myself and two other of our users (call them alice.foo@example.com and bob.bar@example.com) logging in with Azure AD credentials okay. Then last week, I tr

[2021-02-20 03:15] pgferrero commented on #70960
Hi,  thanks for the reply.  I re-read the article and noticed that it does say "After you authenticate all the required connections", which I initially read as "I'm only required to authenticate the VM, because I'm just trying to add a task for a VM", but later tried both VM and Outlook and it worked.  I think this article is still a little unclear --- what are the required connections?   Are both

[2021-02-20 03:29] ToMakeSense commented on #30719
@JoseFMP  @phil-dando  I think the portal should change a lot(also the docs), you can find it in the portal in this way:
![image](https://user-images.githubusercontent.com/6244148/108582471-99458900-736e-11eb-8eaf-4a3bbfbed3e1.png)

[2021-02-20 03:35] ecfan commented on #70326
Hi @BeMor81, an update has been merged to fix the description, triggering closure for this issue. The update likely won't appear until sometime Monday though.

[2021-02-20 03:45] ecfan commented on #70960
@JamesTran-MSFT: Please change label to `doc-enhancement`, thanks!

#assign @ecfan

[2021-02-20 03:54] ecfan commented on #70960
Hi @pgferrero,

Thanks for the feedback, I have queued up a doc update to clarify the wording. When the PR is merged, this issue will close, but the update likely won't be live until sometime Monday.

#in-progress

[2021-02-20 03:55] meiokubo opened #70970 "Authenticator App Prompts User to Verify Code from Authenticator App when User Tried to Log in to Authenticator App"
[Enter feedback here]
Microsoft Authenticator App prompts users to verify code from authenticator app for a new log in and user unable to retrieve code and unable to log back in to authenticator app when Microsoft Authenticator App is only verification method of your MFA for onmicrosoft.com account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2021-02-20 03:55] tsaru72 commented on #70704
This was a doc feedback to elaborate the document  on that specific
section. Take a look at this issue
https://stackoverflow.com/questions/61329833/how-to-pass-a-data-flow-parameter-in-key-column-in-sink-tanformation-while-updat

Anyways, you can close it but I had to give my feedback.

On Thu, Feb 18, 2021 at 1:07 PM Kranthi Pakala <notifications@github.com>
wrote:

[2021-02-20 03:56] lgayhardt commented on #60930
Closing this issue for now since a [work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1764674) has already been created. Will update this thread when the work item is completed. Thank you for your patience.

#please-close

[2021-02-20 03:56] #60930 closed

[2021-02-20 03:59] lgayhardt commented on #48739
Closing this issue for now since a [work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1764457) has already been created. Will update this thread when the work item is completed. Thank you for your patience.

#please-close

[2021-02-20 03:59] #48739 closed

[2021-02-20 04:08] keatseongchan opened #70971 "Is it possible to use AAD access to mount file share?"
The document here required that we use storage key and safe it as a secret on AKS.  We are wondering if it is possible to setup MSI with AAD access to mount the storage so we don't have to manage the secret/keys.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d634c63a-6194-86a6-b522-3310812c81e8
* Version Independent I

[2021-02-20 04:10] lgayhardt commented on #55490
@rajkumar-rangaraj Thanks for your feedback, an internal [work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1736848) for this has been created.

To help close this work item please provided additional information on what we should advise our customers to do in the doc and answer Michael's question from earlier. Thank you! =)

#please-close

[2021-02-20 04:10] #55490 closed

[2021-02-20 04:15] lgayhardt commented on #56593
Thank you for helping us to improve the docs. We are tracking this internally. This [item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1736843) is currently on our backlog, but this thread will be updated when the work item is completed.

#please-close

[2021-02-20 04:15] #56593 closed

[2021-02-20 04:23] lgayhardt commented on #52871
Closing this issue for now since a [work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1709944) has already been created. Will update this thread when the work item is completed. Thank you for your patience.

[2021-02-20 04:23] #52871 closed

[2021-02-20 04:33] hophanms commented on #70313
Thank you. This is now fixed in this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/147794

#please-close

[2021-02-20 04:33] #70313 closed

[2021-02-20 04:38] lgayhardt commented on #19942
An internal [work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1709920) has been created. I will update this thread when the work item is completed. Thank you for your patience.

#please-close

[2021-02-20 04:38] #19942 closed

[2021-02-20 05:05] lgayhardt commented on #19859
@samsmithnz Thank you for your feedback and sorry for the delay. This doc request is a little out of scope since the App Insights team does not own Key Vault. I will close this issue for now but let me know if this is still a concern and we can work together on getting the proper teams involved to add an example and best practices to the docs.

#please-close

[2021-02-20 05:05] #19859 closed

[2021-02-20 05:07] amanmcse commented on #70966
@tiggyboo  Thank you for your feedback . We will investigate and update the thread further.

[2021-02-20 05:09] lgayhardt commented on #21573
Thank you for helping us to improve the docs. We are tracking this internally. This [item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1709918) is currently on our backlog, and we will update this thread when the work is completed.

#please-close

[2021-02-20 05:09] #21573 closed

[2021-02-20 05:09] amanmcse commented on #70970
@meiokubo  Thank you for your feedback . We will investigate and update the thread further.

[2021-02-20 05:11] amanmcse commented on #70967
@stderr-to-devnull  Thank you for your feedback . We will investigate and update the thread further.

[2021-02-20 05:13] amanmcse commented on #70971
@keatseongchan  Thank you for your feedback . We will investigate and update the thread further.

[2021-02-20 05:15] amanmcse commented on #70968
@Pluc15  Thank you for your feedback . We will investigate and update the thread further.

[2021-02-20 05:34] lgayhardt commented on #16002
Thank you for all the feedback. We are actually retiring this doc so I will close this issue.

#please-close

[2021-02-20 05:34] #16002 closed

[2021-02-20 05:34] lgayhardt commented on #38607
Thank you for all the feedback. We are actually retiring this doc so I will close this issue.

#please-close

[2021-02-20 05:34] #38607 closed

[2021-02-20 05:35] lgayhardt commented on #21590
Thank you for the feedback. We are actually retiring this doc so I will close this issue.

#please-close

[2021-02-20 05:35] #21590 closed

[2021-02-20 05:47] lgayhardt commented on #34166
Hi @cijothomas an internal [work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1709908) has been created for adding an alerting section.

Thank you =)

[2021-02-20 06:01] chenyukang commented on #70919
Yes, I couldn't install Azure Functions Core Tools on WSL2, the result is:
![image](https://user-images.githubusercontent.com/230646/108582146-47036880-736c-11eb-8b7e-cf59a09963f0.png)

Anyway, I think I only can not verify my handler on local without the Azure Functions Core Tools, it will not block publish handler to Azure, right？

![image](https://user-images.githubusercontent.com/230646/108585

[2021-02-20 06:02] chenyukang commented on #70919
I just tried to deploy the same code base, it's OK now.

[2021-02-20 06:08] chenyukang commented on #70919
I compared the created configurations of these two function apps.
The not-work one missed this part:
![image](https://user-images.githubusercontent.com/230646/108585720-e3d20000-7384-11eb-9790-e790e34dd485.png)

So, I guess there must be some error happened when uploading the package to the storage container.

[2021-02-20 06:16] iamalexmang commented on #68602
Well Beniamin did speculate an answer but also confirmed that this wasn’t an official one.
The properties.scope remains undocumented and the issue wasn’t yet addressed: if the example is fine, other examples are correct and vice-versa.

Alex

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: James Hamil <notifications@github.com>
Sent: Saturday, February 20, 2021 1:

[2021-02-20 06:24] tomkerkhove commented on #70926
I was referring to Azure resource manager indeed but since only Azure CLI was mentioned I was not sure.

OK if I send a PR that adds a note about that? We currently change the kubernetesVersion in our template and was not clear if the CLI was using that as well.

Just wanted to be safe than sorry by verifying here 😁

[2021-02-20 07:07] wanglei opened #70972 "replace 7.4 with 7.6"
Hi,

I believe the two 7.4 should be replaced by 7.6 in the following paragraph, please help take a look, thanks!
______
For example, you might see the following two RHEL 7.4 images available.
RedHat:RHEL:7-LVM:7.6.2019062414
RedHat:RHEL:7.6:7.6.2019102813
In this case, RedHat:RHEL:7.6:7.6.2019102813 is attached to EUS repositories by default. The SKU value is 7.4.

---
#### Document Details

⚠ *D

[2021-02-20 07:22] aspnet4you commented on #70569
@MayankBargali-MSFT,
I was able to configure custom webhook (HTTP Trigger Azure Function) and subscribe to two separate Azure Key Vaults. So, here I have two subscriptions from two separate Key Vault resources. Subscription validation (sync) worked fine.

Here is the problem that I see-
Azure Function can only be secured with an api key. I can't use RBAC to protect azure function since system topi

[2021-02-20 08:02] medecau commented on #70596
Seems solved. Close?

[2021-02-20 08:36] rcollina commented on #70563
Thank you, @tfitzmac.

I assume then that the resource data (metadata + properties) is not stored within the resource group but it is kept in their dedicated resource provider at their location.

From the original wording in the docs I assumed otherwise; all resource data belonging to a resource group is stored at the resource group's location - making the RG a single point of failure, as it were

[2021-02-20 08:48] draggeta commented on #65868
Yes, this seems to work for new Deployments indeed. May have to remove our old one. Thanks!

[2021-02-20 09:11] SQLSourabh commented on #70904
@zhejun97  yes that's correct. Thanks for pointing it out. Will fix this.