[2020-06-17 00:29] #56206 closed

[2020-06-17 00:29] GZidar opened #57206 "How does one get the token (.p8 file) to include in the config?"
There are screen shots for all the other items in the config but there don't seem to be any instructions on how to get the value of the token. It mentions that this is taken from the .p8 file generated from the apple developer portal but does not actually explain how to generate this file. I think it would useful to include this information here so that the reader does not have to go searching for

[2020-06-17 00:30] SnehaGunda commented on #53721
@StefanSchoof The information about refreshing the data is available in the following doc. You can refresh the data by using the REST API, automated runbook, or a logic app:

https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-async-refresh

[2020-06-17 00:31] RonnieQuan opened #57207 "Private Link and DNS Alias"
Azure requires user to access private link resource via original FQDN,
as described in https://docs.microsoft.com/en-us/azure/azure-sql/database/private-endpoint-overview#check-connectivity-using-psping
mysqldbsrvr.database.windows.net

Meanwhile it supports to create DNS alias,  and we use DNS alias to access private endpoint?
What about the certificate?

Here is the similar question from another

[2020-06-17 00:34] lucianoybanez commented on #50030
Yes. We created another one.

[2020-06-17 00:37] TravisCragg-MSFT commented on #57177
@timvanderweijde Thanks for the feedback! I have corrected the setting, and the doc will show this change within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-17 00:37] #57177 closed

[2020-06-17 00:42] Karishma-Tiwari-MSFT commented on #56382
Since this is a quickstart tutorial, it does not have details about each tab. The tutorial works as it is though, because it automatically creates a VNet for you.

If you click on the Networking Tab, you will see that everything is created automatically for you, if you do not do any changes to Networking tab, following the tutorial.

![image](https://user-images.githubusercontent.com/20851144/8484

[2020-06-17 00:42] #56382 closed

[2020-06-17 00:47] msilinda opened #57209 "This page needs updated to match SSPR page"
This page seems to be out of date with the more current SSPR support for AD Connect PTA found here:  https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-sspr-writeback

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12cbaf93-735d-e257-9203-0437bdf9d1ea
* Version Independ

[2020-06-17 00:52] BharathNimmala-MSFT commented on #57200
@dcbrown16  Thank you for your query, we will look into it and get back to you at the earliest.

[2020-06-17 01:26] SeaDude opened #57211 "Need another option besides "Pre-scan uploads" for Azure Storage malware prevention"
We have external vendors uploading files to Azure Storage. There is no way for us to enforce malware scanning on their end. It looks like we will need to stand up a rather complex automation infrastructure to handle this (seemingly wide spread) use case. This eats unnecessary network bandwidth and causes longterm maintenance issues.

We need a way to scan blobs/files/etc **AS THEY ARE UPLOADED** t

[2020-06-17 01:31] SeaDude commented on #56535
Thanks for the clarification.

[2020-06-17 01:36] Karishma-Tiwari-MSFT commented on #56897
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2020-06-17 01:36] #56897 closed

[2020-06-17 01:38] #56899 closed

[2020-06-17 01:42] Sarah-Aly commented on #56692
Thanks @DixitArora-MSFT - One more thing, what is the need for the verb GET here? I've tried the code without it & it worked finely

[2020-06-17 01:46] Karishma-Tiwari-MSFT commented on #56918
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2020-06-17 01:46] #56918 closed

[2020-06-17 01:47] naraharipatro opened #57212 "Adding SharePoint file URLs to QnA maker via REST API not working"
I am trying to create a Flow/Power Automate which will add document URLs from a SharePoint Online library to QnA maker Knowledge Base once a document is uploaded. Following actions are working -

- Through QnAMaker website, I'm able to add SharePoint file URLs successfully.
- I am able to call a REST API patch operation to add a public URL to QnA Maker knowledgebase.

However, when I try to add a

[2020-06-17 02:03] swieder opened #57213 "Script to upgrade basic to standard breaks load balanced functionality"
Ran this script on simple 3 node web site with 1 front end IP.  Script changed DSR configuration from off to on and the standard load balancer that was created with my servers migrated to it will no longer work.   Powershell script needs to maintain DSR configuration and also needs to maintain SNAT settings (that didn't affect but I noticed it changed them rather than copied them).
---
#### Docume

[2020-06-17 03:18] irenehua commented on #57213
Thanks for the feedback! We'll take it back and push a newer version to fix the issues.

[2020-06-17 03:51] SnehaAgrawal-MSFT commented on #57183
@VitalyMCT Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-17 03:59] SwathiDhanwada-MSFT commented on #56782
@techadmin1982 Just following up to check if you had chance to check my previous comment.

[2020-06-17 04:11] AjayKumar-MSFT commented on #56945
We will close this out, but if you feel you need more information please just let us know. Thanks again for your feedback.

[2020-06-17 04:11] #56945 closed

[2020-06-17 04:12] AjayKumar-MSFT commented on #56987
@mgreg90, We will close this out, but if you feel you need more information please just let us know.

[2020-06-17 04:12] #56987 closed

[2020-06-17 04:13] lonevvolf commented on #56953
@Karishma-Tiwari-MSFT I am referring to where to place the private IP when using a Public load balancer. Basically the question about instructions you asked to @MikeRayMSFT at the end. I do not believe it is possible to use (only) a Public Load Balancer for this scenario.

[2020-06-17 04:20] BryanTrach-MSFT commented on #57084
@ram-suresh Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-06-17 04:20] #57084 closed

[2020-06-17 04:20] SnehaGunda commented on #54194
@Mike-Ubezzi-MSFT and @ealsur I see the doc is updated with the code updates made in GitHub. Is there anything else to change in this doc? The project name is still "todo" right?

[2020-06-17 04:22] BryanTrach-MSFT commented on #57204
@nishshah1 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-17 04:24] BryanTrach-MSFT commented on #57212
@naraharipatro
Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

[2020-06-17 04:31] SatishBoddu-MSFT commented on #57184
@Munyasya

- Could you please pin point exactly at which step or stage on the document you have encountered these issues?
- We are trying to correlate and understand the flow you have covered so far ? in the quick start tutorial.
- Any screenshots of the error from your machine or full logs ? will be very helpful to understand the issue.

[2020-06-17 04:34] naraharipatro commented on #57212
Thank you Bryan for looking into my issue. The URL is
https://xxx.sharepoint.com/sites/OPBOT/QnA%20Maker/structured.docx  (xxx - company domain. Masked for privacy)
If I add this URL manually to QnAMaker.ai website, it works. But, if I try to add this via REST API patch operation, even though I get a success message (202) it doesn't add the file. I've tried this for other documents in a SharePoint

[2020-06-17 04:37] SatishBoddu-MSFT commented on #57149
Hello @Raregine I have assigned the issue to the content author @kgremban  for further review and update the doc as appropriate.

[2020-06-17 05:09] VikasPullagura-MSFT commented on #57189
@martinnormark
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-17 05:09] VikasPullagura-MSFT commented on #57189
@dlepow
Can you please check and add your comments on this.

[2020-06-17 05:10] SudheeshGH opened #57217 "Scale down of replica below the Master configuration not supported"
The statement is confusing ,

First we say this
A replica is created by using the same compute and storage settings as the master. After a replica is created, several settings can be changed independently from the master server: compute generation, vCores, storage, and backup retention period. The pricing tier can also be changed independently, except to or from the Basic tier.
And then
PostgreSQL

[2020-06-17 05:17] ams0 commented on #52554
I still see this in the preview portal and was also wondering how to create a key pair to use it in that field.

[2020-06-17 05:20] VikasPullagura-MSFT commented on #57120
@Bug-Reaper Thanks for responding back.

I have shared the feedback to the Doc team. They are looking into this.

I will now proceed to close this issue. However, your feedback will still remain on this document.

If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-06-17 05:20] #57120 closed

[2020-06-17 05:25] VikasPullagura-MSFT commented on #57025
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-06-17 05:25] #57025 closed

[2020-06-17 05:27] VikasPullagura-MSFT commented on #57159
@tomcooperca
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-17 05:28] VikasPullagura-MSFT commented on #57159
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-06-17 05:39] AnuragSharma-MSFT commented on #57207
@RonnieQuan Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2020-06-17 05:45] lightupdifire opened #57218 "Permissions"
Hello,

It would be good if in this or in the Prerequisites document add a note about permissions required to set this up.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e9f8cec-a17f-0207-944d-32a6be414426
* Version Independent ID: b3ad23d4-75e7-1a15-82a4-55a082730511
* Content: [Associate peer ASN to Azure subscriptio

[2020-06-17 05:51] parthipanr opened #57219 "API management- Quota by key renewal period"
I could not found the any details about renewal period timezone in the below documentation. Is it sliding window or fixed window?

https://docs.microsoft.com/en-us/azure/api-management/api-management-access-restriction-policies#SetUsageQuotaByKey

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 248a0753-0fa7-1cc0-d13a-d3

[2020-06-17 06:06] Druffl3 opened #57220 "resourceLocation URL is giving 401 Unauthorized response"
Trying to retrieve content meta data from the following API:
[https://atlas.microsoft.com/mapData/metadata/{udid}?api-version=1.0](url)

gives a 401 Unauthorized response in Postman along with this response body:
`{
  "error": {
    "code": "Unauthorized",
    "message": "Access denied, please inspect WWW-Authenticate header.",
    "target": null,
    "details": []
  }
}`

What is the WWW-Authenti

[2020-06-17 06:09] ValerianHts commented on #57140
Sorry, some fields deleted accidentially:
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50b27a01-622e-d980-83f2-1ed27060613b
* Version Independent ID: e6472e15-10d7-bd4a-da02-558f2774dbaf
* Content: [Passwordless security key sign-in to on-premises resources (preview) - Azure Active Directory](https://docs.microsoft.co

[2020-06-17 06:11] anastasia-ms commented on #57220
Subscription id needs to be appended to the url. The udid is the data identifier. so, the url should look like the following:

https://atlas.microsoft.com/mapData/metadata/{udid}?api-version=1.0<url>&subscription-key={key}

On Jun 16, 2020, at 11:07 PM, Goutham R <notifications@github.com> wrote:

﻿

Trying to retrieve content meta data from the following API:
https://atlas.microsoft.com/mapData/m

[2020-06-17 06:16] tksh164 opened #57221 "Misleading sentences"
The following sentences are leads misunderstanding, I think.

The replicated data in the secondary region is always can access through secondary endpoint even if the primary region is not unavailable when enabled read access (RA-GRS/RA-GZRS).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f618f40d-ae53-5c3b-d8bf-0e8061

[2020-06-17 06:16] LoganZhao commented on #56585
@mimckitt any updates here, this might cause customer's confusion if their guestOS storage layout contains storage pool or LVM (Linux)
thanks in advance.

[2020-06-17 06:22] MichalLechowski commented on #54070
@BryanTrach-MSFT  Frankly, no. I have no idea where the problem is, also nothing to be found on the Internet as far as I've tried. I can pass any suggestions to the guy responsible for deployment scripts in our team and he can test them but I'm out of ideas so if you have any, feel free to tell me what to do/try.

Greetings,
Mike

[2020-06-17 06:23] SadiqhAhmed-MSFT commented on #57111
@amjad-Alhusseini Let me know if you have any additional questions we can help? If not, we will go ahead and archive this thread.

[2020-06-17 06:25] SadiqhAhmed-MSFT commented on #57065
@pkvk14 Please share more details and the documentation link to help you connect with the right experts.

[2020-06-17 06:27] SnehaAgrawal-MSFT commented on #57188
@roberts2727 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-17 06:27] LingMST opened #57222 "The definition in parameters with the strongType is not right"
[Enter feedback here]
![image](https://user-images.githubusercontent.com/67042018/84862942-a5be6700-b0a6-11ea-9ceb-6822962e090d.png)
the value the strongType "type" is not supported

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57b7c703-0964-725f-6f3d-54199522c1a2
* Version Independent ID: 39e2276c-b965-148e-4ff8-2fdf

[2020-06-17 06:32] amanmcse commented on #57072
Closing the thread.

[2020-06-17 06:32] #57072 closed

[2020-06-17 06:40] jjindrich commented on #56160
@Karishma-Tiwari-MSFT this is not resolved, please reopen it. We have no solution yet.

[2020-06-17 06:46] Druffl3 commented on #57220
Okay, after passing the subscription key it worked. Why is this not mentioned in step 8 here:
[https://docs.microsoft.com/en-us/azure/azure-maps/tutorial-creator-indoor-maps#upload-a-drawing-package](url)

It just says:

[2020-06-17 06:48] AnuragSharma-MSFT commented on #57217
@SudheeshGH Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2020-06-17 07:06] AjayKumar-MSFT commented on #57206
@GZidar,  Thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-06-17 07:07] AjayKumar-MSFT commented on #57197
@Pluc15,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-06-17 07:10] SubhashVasarapu-MSFT commented on #57205
@nishshah1 , Thanks for reaching out. We will investigate and update this thread.

[2020-06-17 07:11] SubhashVasarapu-MSFT commented on #57213
@swieder , Thanks for reaching out. We will investigate and update this thread.

[2020-06-17 07:16] psmanhas commented on #57116
@fanioz Glad to hear that your issue is resolved.  We will now close this issue.

[2020-06-17 07:16] #57116 closed

[2020-06-17 07:17] ekzp opened #57223 "Outdated documentation"
identityRiskEvents no longer works, https://docs.microsoft.com/en-us/graph/api/resources/identityriskevent?view=graph-rest-beta states the deprecation date, yet documentation which uses this API still points to it.

Surprise-surprise, the sample code fails.

It would be appreciated to gave the documentation updated, along with a *working* sample code.

Thanls.

---
#### Document Details

⚠ *Do not

[2020-06-17 07:30] vipulsparsh commented on #57129
@MarkusVi Can you look into this ?

[2020-06-17 07:31] vipulsparsh commented on #56933
@greendx We will be closing this now, feel free to reply if you are still facing the issue.

[2020-06-17 07:31] #56933 closed

[2020-06-17 07:35] dohughes-msft commented on #52554
@ams0 when you create a VM you can select "Generate new key pair". Azure will create a .PEM file for you to download and will store the public key in the resource group as a resource of type "SSH key" that can be reused for future VMs.

So far it seem there is still no way to upload your own public key as a resource. One would hope this functionality is coming.

[2020-06-17 07:42] junpark12 opened #57224 "Link or tutorial about session hijacks."
[Enter feedback here]
Hi. where can i find some details about session hijacks?
Can you provide additional link?
THanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de82b14b-7574-ae63-d155-5ddedfab16fc
* Version Independent ID: 8e925358-7916-7573-353b-3f745c860865
* Content: [Tutorial: Create using portal - Web Appli

[2020-06-17 07:44] BakkerJan opened #57225 "Multiple grant controls"
What if you configure multiple access controls and you select " require **one** of the selected controls" Is there any precedence or specific order?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd934939-4dbb-3a92-f996-56b9557f49ac
* Version Independent ID: 3cda6b81-26e8-c9ac-e768-d912636a461b
* Content: [Grant control

[2020-06-17 07:48] TiTi commented on #56945
The scaling down to Standard SKU you mention doesn't work with VNET integration:
![image](https://user-images.githubusercontent.com/137691/84870457-a42d7880-b07f-11ea-9a5b-7e65b5f28916.png)

Thus the documentation should be clear that only Premium is working if you want VNET integration.

[2020-06-17 07:55] ams0 commented on #52554
this is part of the preview portal https://preview.portal.azure.com/ where it appears to be a selector for "SSH public key source" and an option for "Use existing key stored in Azure"

[2020-06-17 07:57] ifslearning opened #57226 "Expected date for when Sign In user flow will become recommended"
Is there an expected date that the Sign In user flows, V1 and V2, will become recommended?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aad1c40b-8340-81ed-2c25-b3029a54245a
* Version Independent ID: aa276f5a-89dc-5fbc-b38a-b52988491aa2
* Content: [User flow versions in Azure Active Directory B2C](https://docs.microso

[2020-06-17 08:00] giladsu opened #57227 "Cosmos DB global distribution tutorial should contain SetCurrentLocation"
Documentation only mentions setting PreferredLocations, where SetCurrentLocation would automatically fill PreferredLocations

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa29ee58-9c39-631d-47fa-212d43d2849a
* Version Independent ID: d6d0c9f3-60a1-5b18-f773-5b4bf042257d
* Content: [Tutorial: Azure Cosmos DB global dis

[2020-06-17 08:13] junpark12 opened #57228 "WAF session hijacking"
Hi I created azure application gateway with WAF.(prevention mode)
Based on the following document, WAF provide rules for SQL injection and session hijacks etc.
https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/application-gateway-web-application-firewall-portal

I've tested asp.net session hijacking using two machines, it looks like WAF does not prevent session hijacking. Here are

[2020-06-17 08:16] yanivlavi commented on #57192
Adding @harelbr to assist.

[2020-06-17 08:18] sistoimenov opened #57229 "Disabling nodes doesn't work as explained in the article"
I followed this guide step by step without making any modifications and I am at the step where I disable the nodes on the original scaleset. Currently it runs for more than 16 hours and there doesn't seem anything to happen. The nodes are marked as disabling and it just stays like that. When I check system services they are still running on _NTvm1_* nodes. Also the template seem kind of questionab

[2020-06-17 08:29] odufresne commented on #56192
Hi!

I've seen the modification but i think that there is some bug with the flow logs.

Sometimes, the flow tuples aren't correctly split, ending with a _split_type_failure and json_parse_failure.
With v1 or v2, i've this error on some flows.

Instead of splitting every flowtuples, i see in the message that i've multiple flows inside it and it doesn't split them.

Can we discuss of that ? Don't kn

[2020-06-17 08:34] jjindrich opened #57230 "Missing steps for WVD client authorization"
On this page is missing information about requirement to add Grant permission for Spring 2020 release:
https://docs.microsoft.com/en-us/azure/virtual-desktop/create-host-pools-azure-marketplace

Please add this steps form this page https://docs.microsoft.com/en-us/azure/virtual-desktop/virtual-desktop-fall-2019/tenant-setup-azure-active-directory#grant-permissions-to-windows-virtual-desktop

[2020-06-17 08:41] Munyasya commented on #57184
Hi Satish,

I cannot even get the below step to complete
6) In the cell that precedes Explore the results, copy the value from the run ID and paste it for the run ID in the cell that follows Reconstitute a run.

Copy the run ID between cells

![image](https://user-images.githubusercontent.com/10254995/84876063-b65ae700-b07e-11ea-8bf1-11e8cd8320c9.png)

[2020-06-17 08:43] shashishailaj commented on #57211
@SeaDude Thank you for your feedback . We will investigate and update the thread.

[2020-06-17 08:44] jjindrich opened #57231 "Feature request - Azure Firewall rule state Enabled/Disabled"
Please can you validate with product team if is planned to have status on Firewall rule - status Enabled/Disabled.

I will help in some troubleshooting scenarios, when you need quickly Enable/Disable rule instead of deleting and recreating it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6392b4a0-fa1e-fe5e-a31b-1eee4

[2020-06-17 08:44] shashishailaj commented on #57223
@ekzp Thank you for your feedback . We will investigate this with the content team and update the thread.

[2020-06-17 08:45] KausalyaArumugam commented on #57170
@BryanTrach-MSFT Yes, here is the document which which I'm referring too.
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/docusign-tutorial

[2020-06-17 08:47] SatishBoddu-MSFT commented on #57184
@Munyasya , Thanks for the info,  I have assigned the issue to the content author @kgremban for further review and update the doc as appropriate.

[2020-06-17 08:47] shashishailaj commented on #57225
@BakkerJan   Thank you for your feedback . We will investigate and update the thread.

[2020-06-17 09:07] shashishailaj commented on #57226
@ifslearning Thank you for your feedback . We will investigate and update the thread.

[2020-06-17 09:09] shashishailaj commented on #57209
@msilinda Thank you for your feedback . We will investigate and update the thread.

[2020-06-17 09:11] baljitaujlaVD commented on #56735
Thanks for the update Suvasara. Just to advise that I did try this with a Linux NVA and had the same problem. It appears that the hub routing is either not propagating or is not adhered to.

[2020-06-17 09:43] jkovzels opened #57233 "Ok, but that's next?"
It is all good, but I think that most people could do that without help article. Because there is a UI for that. But then you are left with "item" field in Add Row action and you have no clue that you should enter there. If you want people to use it, add examples. Please.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4

[2020-06-17 10:01] SanderBerkouwer opened #57234 "Set-ADSyncMsDsConsistencyGuidPermissions for Groups"
This page mentions that Set-ADSyncMsDsConsistencyGuidPermissions sets permissions on descendent user objects.

Version 1.5.18.0 and newer versions of Azure AD Connect also use the mS-DS-ConsistencyGUID as source anchor for groups, next to users.

Does Set-ADSyncMsDsConsistencyGuidPermissions set permissions on descendent groups, too?

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-06-17 10:06] VikasPullagura-MSFT commented on #57202
@Silvenga
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-17 10:06] VikasPullagura-MSFT commented on #57202
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2020-06-17 10:08] VikasPullagura-MSFT commented on #57230
@jjindrich
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-17 10:09] VikasPullagura-MSFT commented on #57230
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2020-06-17 10:11] emb3dded opened #57235 "wrong variable name in azure cli example"
In the example you give for "Encrypt existing managed disks" you declare diskEncryptionSetName but use $diskEncryptionSetId

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 143bdfce-bcca-f901-c996-e22642a37561
* Version Independent ID: 384e5861-97da-a89a-39b2-48e1f992ab61
* Content: [Server-side encryption of Azure Manag

[2020-06-17 10:12] VikasPullagura-MSFT commented on #57229
@sistoimenov
Thanks for bringing these issue to out attention and providing the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-17 10:12] VikasPullagura-MSFT commented on #57229
@athinanthny
Can you please check and add your comments on this doc update request as applicable.

[2020-06-17 10:19] VikasPullagura-MSFT commented on #57222
@LingMST
Thanks for your Question! We are currently investigating and will get back on this.

[2020-06-17 10:26] irs-sesc1 opened #57236 "Azure File Sync - Region Availability (Germany West Central)"
Hello,

when will **Germany West Central** be available as a region for **Azure File Sync**?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1aa8c1f7-dc55-7129-95be-687a0b11a636
* Version Independent ID: 4a09b58a-9fd2-69fc-0348-e6d4d0956a20
* Content: [Planning for an Azure File Sync deployment](https://docs.microsoft.c

[2020-06-17 10:28] mathiasbl opened #57237 "ADFS CDS Connector: Alternate key support for lookups."
I see lookup support for multiple targets has been added but what about resolving lookups through using an alternate key?
Would be nice to resolve a contact using an alternate key when import account, for example.

https://docs.microsoft.com/en-us/powerapps/developer/common-data-service/use-alternate-key-create-record#using-alternate-keys-to-create-an-entityreference

---
#### Document Details

⚠

[2020-06-17 10:38] ranandLandmark opened #57240 "app_artifact_location is wrong"
app_artifact_location is relative to app location. So for example if your app is inside folder 'app', app_artifact_location has to be 'dist/app' (for angular default path)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4cbd10e-57b8-de97-b84f-6e46f865c662
* Version Independent ID: 533b11b0-5ada-f9c6-65f1-5966df142fa8
*

[2020-06-17 10:42] VikasPullagura-MSFT commented on #57235
@emb3dded Thanks for pointing this out.
I have updated the document, changes will go live soon.

[2020-06-17 10:44] likebupt commented on #56977
Hi @alathrop, thanks for your feedback. Sorry that currently we did not support this feature. We are adding this to our backlog, and will prioritize it.

[2020-06-17 10:45] VikasPullagura-MSFT commented on #57128
@mlearned Thanks for providing the details and acknowledging the feedback on the doc referencing part.

@sp4rc Thanks for responding back. Hope the provided information is helpful.

[2020-06-17 10:45] sistoimenov commented on #57229
I am doing some more tests and experiments with this and I will keep you updated.

[2020-06-17 11:12] Phydeauxman opened #57241 "SQL DB name characters not allowed"
The Ambari DB name is not allowed to have hyphens or spaces. During the setup of an HDI cluster, when selecting a pre-created SQL DB, there is no check against the name for valid characters. The deployment will proceed and then fail if the DB name has invalid characters.

The document should have a bullet mentioning which characters are not allowed in the name.

---
#### Document Details

⚠ *Do no

[2020-06-17 11:17] harelbr commented on #57192
Thanks @andrewatfornax!
I fixed the article and this should be reflected soon.

[2020-06-17 11:17] damendo commented on #56192
@odufresne that sounds like a big. Can you file an issue via the support channel and share the ID here so we can followup?

[2020-06-17 11:36] toanduong-bbv opened #57242 "The claims exchange 'REST-GetProfile' specified in step '7' returned HTTP error response with Code 'NotFound' and Reason 'Not Found'."
[Enter feedback here]
Hi, I tried to configure custom policy but that has error in step 7, how do i fix it?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 781ff5da-dba7-1be3-b310-e74ddf3bbce0
* Version Independent ID: d904416e-c5ba-89dd-c6d6-b8e6375b9c63
* Content: [REST API claims exchanges - Azure Active Dire

[2020-06-17 11:48] anil-kapoor commented on #25534
this is working fine using private link configuration now

[2020-06-17 11:54] anil-kapoor opened #57243 "Black Blank Cassandra Shell while trying to run some CQL commands"
I have followed steps to enable workspace & notebook as per documentation.
Now I can see an Option **Open Cassandra Shell**
When I try to open this, it always shows a Black Blank Screen & no CQL prompt is there. I can't even type anything there. Please let me know what should I do?

![image](https://user-images.githubusercontent.com/6262561/84895032-65b7ae00-b0bf-11ea-895c-0192f14a4e19.png)

[2020-06-17 12:08] PramodValavala-MSFT commented on #57199
@Sarah-Aly Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2020-06-17 12:10] ChiragMishra-MSFT commented on #57237
@mathiasbl Thanks for the feedback. I would recommend you to provide feedback at the[ feedback forum](https://feedback.azure.com/forums/270578-data-factory). All the feedback you share, is closely monitored by the Data Factory Product team and implemented in future releases.

Also, Regarding service general availability, I would suggest to keep an eye on [Azure updates](https://azure.microsoft.com

[2020-06-17 12:10] ChiragMishra-MSFT commented on #57237
@mathiasbl I will now proceed to close this issue. Feel free to still comment if you have any queries on the same.

[2020-06-17 12:10] #57237 closed

[2020-06-17 12:29] HarrisburgUSysAdmin opened #57244 "Azure Dev Tools For Teaching"
We are unable to figure out why some of our students have more applications listed in Azure Dev Tools for Teaching vs others. There is no documentation to explain this.

[2020-06-17 12:31] SubhashVasarapu-MSFT commented on #57204
@nishshah1 , Appreciate your patience. If a specific hub goes down then other hubs in a WAN will continue to work.

VPN and ER gateways by default use availability zones if available in that particular region during the creation of these resources. But still if one of availability zone is down, then VPN or ER local hub connectivity may continue to work but there can be impact to cross hub scenario

[2020-06-17 12:35] SubhashVasarapu-MSFT commented on #57205
Closing this issue as it is duplicate of #57204 .

[2020-06-17 12:35] #57205 closed

[2020-06-17 12:35] cveld commented on #57138
@ChiragMishra-MSFT I believe it would have been better to raise the question with document https://docs.microsoft.com/en-us/azure/data-factory/copy-activity-overview

Perhaps a remark can be added over there that explains that a DatasetReference value is not parameterizable.

[2020-06-17 12:38] MatthijsvdVeer opened #57246 "Issue in documentation regarding retrieving Device Twin over HTTP from device."
This page lists the endpoints for devices, one of which is

Below that section, it states the following:

However, retrieving a device twin (from the device itself) is not supported on HTTP, it is supported on AMQP and MQTT.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46282564-724c-bc0d-7c74-bb30ee8653aa
* Version I

[2020-06-17 12:48] deivyd321 opened #57247 "Alert is fired twice: first time with "fired", other on "resolved" monitorCondition"
I have "Whenever the total http server errors is greater than or equal to 1 count" condition with aggregation and frequency of 5 minutes. However this alert calls action group twice, one time with "fired" monitorCondition, other one with "resolved". Can it trigger action group only once on "fired" event or is there any way to filter signal? Because the second action group call is redundant.

---
#

[2020-06-17 12:51] mathiasbl opened #57248 "ADF: CDM documentation"
I'm unable to set this up.

I set up the export to data lake in make.powerapps.com but I'm unable to configure it in ADF.
What should be defined in the root location confuses me.
Container = the container created for the export. It's tied to your environment.
Folder path = ?? what is this?

Could you provide some screenshots? Or more details?

---
#### Document Details

⚠ *Do not edit this section

[2020-06-17 13:08] tommyjcarpenter commented on #10382
hi, have there been any updates in the last two years here? I am using $sample in Cosmo in July 2020 and it still does not seem to work

[2020-06-17 13:23] mathiasbl opened #57249 "CDM for ADF: documentation"
Provide example script using model.json.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba002086-e5b7-023a-4f1c-d8912c67cecd
* Version Independent ID: 6bab0cb3-7eae-644d-36ab-8f8676e78932
* Content: [Common Data Model format - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/format-common-data-mo

[2020-06-17 13:26] Chris-May commented on #55888
Confirmed... it works. Thanks!

[2020-06-17 13:31] SwathiDhanwada-MSFT commented on #57247
@deivyd321 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-06-17 13:33] deivyd321 commented on #57247
Actually, this is the same https://feedback.azure.com/forums/267889-azure-monitor-log-analytics/suggestions/37167487-send-alerts-with-resolved-state-for-log-alert-rule

[2020-06-17 13:37] AnuragSharma-MSFT commented on #57227
@giladsu Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-06-17 13:48] mpanja opened #57250 "we have to add one more Namespace "using Azure.Core;""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62a379da-fb2c-03ae-aa9b-a1575b79ab80
* Version Independent ID: 7a484171-a742-bf00-4f31-369b8a31910a
* Content: [Tutorial - Use Azure Key Vault with an Azure webapp in .NET](https://docs.microsoft.com/en-us/azure/key-vault/general/tutorial-net-create-v

[2020-06-17 13:49] DeanGross opened #57251 "Old content"
[Enter feedback here]

This page contains links to datasheets from 2015 and 2013, Are those documents still accurate? I would expect that MS has changed their consulting service offerings during the past few years.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8971bf0-28a2-2440-fde2-f8f262fae7b4
* Version Independent

[2020-06-17 13:49] souravmishra-msft commented on #56856
Closing this thread for now. Do let us know if there are any more queries around this so that we can help in re-opening this thread again.

[2020-06-17 13:50] souravmishra-msft commented on #56855
Closing this thread for now.

[2020-06-17 13:50] souravmishra-msft commented on #56854
Closing the thread for now.

[2020-06-17 13:51] johnwildes opened #57252 "Sizing limitations vary by Region"
This document does not call out that you cannot create more than a /29 within the WESTUS2 region.  The max listed here is /28 but WESTUS2 region says no more than 10 IPs.  If there are other limitations they should be mentioned here.

Update: Seems it is related to dev/test EA subscription offer, which is also not called out, so might not be region specific. If there are limitations on this resour

[2020-06-17 13:57] johnwildes commented on #57252
Closing this issue.  Language in the documentation states you can create up to a /28 but the default azure limits per subscription is 10 IPs which is smaller than a /28.  So you have to open a ticket to be able to create a /28 in your sub.  I feel like this should be referenced without having to deep dive into multiple documents to find the limitation.

[2020-06-17 13:57] #57252 closed

[2020-06-17 14:00] SumanthMarigowda-MSFT commented on #57198
@boazsha Thanks for your question. We are checking on this and will respond to you soon.

[2020-06-17 14:00] SumanthMarigowda-MSFT commented on #57221
@tksh164 Thanks for your question. We are checking on this and will respond to you soon.

[2020-06-17 14:01] ydeenekamp opened #57253 "Wrong unit of throughput"
"Optimize throughput" mentions the unit of the throughput cap as "megabits (MB) per second".
"MB" is actually MegaBytes, so should be corrected to "Mb"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 911b355c-91b0-cfba-6960-f33d9391c0d9
* Version Independent ID: e1d4c6d0-f79a-8931-b5fc-279f6185c522
* Content: [Configure

[2020-06-17 14:01] SumanthMarigowda-MSFT commented on #57236
@irs-sesc1 Thanks for your question. We are checking on this and will respond to you soon.

[2020-06-17 14:12] SumanthMarigowda-MSFT commented on #56859
@wmpauli Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.

Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-17 14:17] jstawski opened #57254 "What are the permissions needed to be able to Test Send?"
Can you please elaborate on the permissions needed for a user to be able to use the Test Send feature of the portal? We currently have a user that has that option disabled. He currently is a member of the Reader role for that Resource Group

![image](https://user-images.githubusercontent.com/873800/84909471-ba3d3800-b083-11ea-96f7-d7b1bcb56588.png)

---
#### Document Details

⚠ *Do not edit this s

[2020-06-17 14:18] andrewbadera opened #57255 "Document is out of date, please update"
Documentation is out of date - old UI, unnecessary code steps. Please update to reflect current state of the Key Vault Connected Service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41d504b5-9f2f-eb73-ae04-9a322a5d1ed6
* Version Independent ID: d085a763-307a-3e26-60db-abaf63b904d4
* Content: [Add Key Vault support t

[2020-06-17 14:22] SumanthMarigowda-MSFT commented on #56927
@Leon99  Firstly, apologies for the delay in responding here!
This article should help in performing the delete operations: https://docs.microsoft.com/en-us/rest/api/storageservices/lease-blob . I would like work on this issue. If the issue still persist!
I'd recommend posting your question inhttps://azure.microsoft.com/en-in/support/community/  since it's not directly related to the documentation

[2020-06-17 14:22] #56927 closed

[2020-06-17 14:25] JamesTran-MSFT commented on #57255
@andrewbadera
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-17 14:26] JamesTran-MSFT commented on #57251
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-17 14:30] NavtejSaini-MSFT commented on #56955
@Marusyk Please raise a support request for your issue so you can get the help you need. Please let us know if you need any help regarding the same.

[2020-06-17 14:31] NavtejSaini-MSFT commented on #56534
@christiankuhtz Please let us know if you need any further help.

[2020-06-17 14:33] NavtejSaini-MSFT commented on #57110
@runforrestrun Please let us know if you need any further help regarding this issue

[2020-06-17 14:33] SnehaAgrawal-MSFT commented on #57218
@lightupdifire Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-17 14:38] SnehaAgrawal-MSFT commented on #57219
@parthipanr Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-17 14:41] SnehaAgrawal-MSFT commented on #57224
@junpark12 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-17 14:43] Druffl3 commented on #56691
@asergaz , I created an HTML page as directed [here](https://docs.microsoft.com/en-us/azure/azure-maps/how-to-use-indoor-module) and hosted it in my Azure static website portal. It works well on a [browser](https://azuremaptrial.z22.web.core.windows.net/)
But, once I consume the same URL in Xamarin.Forms webView, nothing loads and I get these error messages:

[chromium] [ERROR:context_group.cc(146

[2020-06-17 14:43] SnehaAgrawal-MSFT commented on #57228
@junpark12 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-17 14:45] SnehaAgrawal-MSFT commented on #57231
@jjindrich Could you please share the doc link you are referring to help you better on this.

[2020-06-17 14:47] jjindrich commented on #57231
https://docs.microsoft.com/en-us/azure/firewall/rule-processing

[2020-06-17 14:53] giggio commented on #56856
I've been informing you that the problem is not about information that *I need* but about the docs being incorrect or incomplete. If you did not fix the docs this issue should not have been closed.

[2020-06-17 14:53] DonKarlssonSan commented on #36458
We've recently started seeing the message "Storage is not configured, Function scaling will be limited. Click to learn more" in the Azure Portal for existing Azure Functions that were deployed four weeks ago.

[2020-06-17 14:54] DanniJuhl opened #57256 "prerequisites showing unclarified information"
The prerequisites section has the following statement:

This is not entirely true, as with the introduction of publicly listed IPs for the Azure IR's, it is possible to whitelist these IPs with the same result.
More specifically, it's only a requirement for a self hosted, is when your security guidelines states that a whitelisted IP must never be shared with others, in which case the shared IP of

[2020-06-17 14:56] giggio commented on #56855
Have the docs been updated to make them clearer?

[2020-06-17 14:57] giggio commented on #56854
Have the docs been updated?

[2020-06-17 14:57] NavtejSaini-MSFT commented on #10382
@SnehaGunda Please help regarding this issue.

[2020-06-17 15:05] llimos opened #57257 "Bad examples for formatNumber"
The custom format provided to formatNumber needs to be in the form provided to `value.ToString`, not `String.format`. I.e. it should be without the braces and the leading `0:`. The examples provided don't actually work in Power Automate.

`'0,0.00'` instead of `'{0:0,0.00}'` and so on.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-06-17 15:09] jeevansd commented on #56854
@v-nagta the issue is still not fixed. So can you please reopen this?

[2020-06-17 15:11] jeevansd commented on #56856
@giggio I agree with you. I dont know why the team closed this. But I will get this document fixed per your suggestion. Your feedback is correct the wording should just point to select the role as "User" here.

[2020-06-17 15:21] tamram commented on #56665
@roygara - FYI

[2020-06-17 15:22] DavidLangworthy opened #57258 "Provide Putty instructions for SSH"
The instructions here do not work for Putty.  This is the most common SSH tool that runs on Windows desktop.

Basically, you need to run PuttyGen and either generate a fresh keypair, or click Load and get the properly formatted public key.  Annoyingly, this is not what Putty stores on the .pub file :(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-06-17 15:40] loopfish opened #57259 "Limit of 100 columns in the recommendation?"
my databases have 1000's of columns but the classification recommendations seem to be limited to the first 100 columns. Am I missing something?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ca439af-510f-303c-e72c-424b78ac0ac7
* Version Independent ID: 616d8cf5-1631-1179-0c59-f8b4f6c1f7bb
* Content: [Data Discovery &

[2020-06-17 15:45] tamram commented on #57221
#reassign: @tamram

[2020-06-17 15:45] craigktreasure commented on #56912
Thanks for the feedback. I'd prefer not to give specific installation instructions here as they may not always be correct. I do realize that we've done this very thing for Git, but it has actually led to confusion since there are many ways to install Git. We've listed CocoaPods as a pre-requisite with a link, which I think is sufficient.

@AshokPeddakotla-MSFT Close?

[2020-06-17 15:47] craigktreasure commented on #56230
Thanks for the feedback. We're going to address this in our next update.

[2020-06-17 15:49] roygara commented on #56516
@jd8757417 Thanks for pointing this out. We've gone ahead and added a note to these articles making it clear to add this parameter to the relevant commands if readers are creating an OS disk. These changes will be live later today.

Accordingly, I'll close this out.

Thanks again for helping to improve our docs, we appreciate it! :)

#please-close

[2020-06-17 15:49] #56516 closed

[2020-06-17 15:49] DenisseValverde opened #57260 "Unable to change the NIC properties"
Private endpoint has a read only Network interface, for this reason the customers will be not able to change any properties on the Network interface. Please add this information on the public documentation.

Because of this, we can not configure an static IP address or change the IP address on the private endpoint.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-06-17 15:49] mimckitt commented on #56585
@LoganZhao if you happen to have some spare time and can submit a PR with the these changes I will be more than happy to sign off on it

[2020-06-17 15:49] craigktreasure commented on #55916
@chrisfromwork Hmmmm...I'm trying to understand where your confusion is coming from. The document is pretty clear about walking you through the process of using AAD for authentication.

[2020-06-17 15:49] tamram commented on #57221
@tksh164 - Thanks for your feedback. We do include this sentence that explains that the secondary is always available for reading:

The secondary region is always available for read access, so you can test your application to make sure that it will read from the secondary in the event of an outage.

#please-close

[2020-06-17 15:49] #57221 closed

[2020-06-17 15:55] craigktreasure commented on #54440
The definition of the "session" is made clear in the first sentence of the paragraph where we describe the "spatial anchor session". We'll consider this feedback in a future update.

You can also find examples of all of these concepts in our [samples](https://github.com/Azure/azure-spatial-anchors-samples).

@asergaz Close?

[2020-06-17 15:55] ceejoyce opened #57261 "Allowed locations"
In "2.3 Data at rest protection" locations have been hard coded to UK West and UK South but UK OFFICIAL controls state that data can be stored in EEA and so does guidance from NHS Digital.

This document appears to be saying data should not be stored outside the UK?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 866de1

[2020-06-17 15:57] SatishBoddu-MSFT commented on #57246
@MatthijsvdVeer , Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-17 15:58] BryanTrach-MSFT commented on #57170
@KausalyaArumugam Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-17 16:09] tamram commented on #56665
@Rikonimo - Thanks for your feedback. Azure Storage encryption and managed disk encryption are two different features, so we don't want to compare them in the table. But I did add links to the articles about managed disk encryption underneath the table.

I've also removed old mentions of SSE from the Azure Storage docs.

#please-close

[2020-06-17 16:09] #56665 closed

[2020-06-17 16:11] justinormont opened #57262 "Description of F1 score is incorrect"
Says, "For example, the F1 score is a weighted average of precision and recall. ", should say "For example, the F1 score is the harmonic mean of precision and recall. "

Change needed:
[code]
Also notable is F1 score is not a primary metric for optimization in AutoML. We may want to recommend a different metric for imbalanced data as the user can not directly optimize towards F1 score. List of ava

[2020-06-17 16:15] michaelstaszewski commented on #52181
Add another "me too" to the list. I'm looking for someway to automatically get the Azure Front Door IP ranges for restricting backend access. A static file link or promoting Get-AzNetworkServiceTag from preview to production would be superb.

Get-AzNetworkServiceTag is far too flakey to use now. Most of the examples I found online use eastus2 as the region for demo, but that region returns 0 value

[2020-06-17 16:21] mike-urnun-msft commented on #57233
@jkovzels Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-06-17 16:24] mike-urnun-msft commented on #57257
@llimos Thank you for your feedback! We will review and update as appropriate.

[2020-06-17 16:24] #56806 closed

[2020-06-17 16:26] cynthn commented on #57258
@DavidLangworthy Thanks for the feedback! Did you know SSH now works from PowerShell in Windows 10? There is also a separate article for using SSH from Windows: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/ssh-from-windows.

[2020-06-17 16:28] DCtheGeek commented on #57261
#assign:DCtheGeek

@parulbansal2009 to comment.

@MicrosoftDocs/azure-cxp-triage Please label 'product-question' and #in-progress.

[2020-06-17 16:29] JamesTran-MSFT commented on #57250
@mpanja
Thanks for your feedback! We will investigate and update as appropriate.

Can you also confirm your question/doc update request?
- We have to add one more Namespace "using Azure.Core;"

Are you saying we have to add the namspace "using Azure.Core;" to the C# "Update the code" portion of the document?
![image](https://user-images.githubusercontent.com/36619112/84924154-ff11a080-b07c-11ea-85

[2020-06-17 16:31] malopMSFT commented on #57260
Documented here:
https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-overview#private-endpoint-properties
########
When creating a private endpoint, a read-only network interface is also created for the lifecycle of the resource. The interface is assigned dynamically private IP addresses from the subnet that maps to the private link resource. the value of the private IP address re

[2020-06-17 16:32] #57260 closed

[2020-06-17 16:36] MarileeTurscak-MSFT commented on #57196
Thanks! I made a pull request to update this list. https://github.com/MicrosoftDocs/azure-docs-pr/pull/119242

[2020-06-17 16:36] #57196 closed

[2020-06-17 16:37] MrAzureAD opened #57264 "Case sensitivity"
Please add a note that at least some keys in the claims mapping policy are case sensitive (e.g. "Version"). As the only error message is "Property  has an invalid value", it can take a long time to find this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa04cf91-e1eb-5b59-f85f-1cb46a08f40b
* Version Independent ID: a

[2020-06-17 16:41] JamesTran-MSFT commented on #57264
@MrAzureAD
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-17 16:42] garybushey opened #57265 "Page needs updating"
This page seems to be missing some products like Microsoft Cloud App Security, Azure Sentinel, O365 ATP (debatable if that would show up here or not), Azure ATP, Azure AD Identity Protection, and Defender ATP  (again arguments can be made for some of them not to appear here since they have their own websites)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-06-17 16:45] tksh164 commented on #57221
I am not making an issue of whether it is mentioned or not. That sentence is in the different section from the paragraph that I pointed. So it is the cause of misleading, I think.

[2020-06-17 16:49] MarileeTurscak-MSFT commented on #57015
Hi @DeanGross , this is not customizable right now, but if you'd like to make a feature request you can add one in [User Voice](https://feedback.azure.com/).

I have also shared your feedback with the product team and will be tracking this internally.

[2020-06-17 16:49] #57015 closed

[2020-06-17 16:53] Marusyk commented on #56955
I cannot raise a support request from an organization account. Thanks for your time

[2020-06-17 16:53] #56955 closed

[2020-06-17 16:55] SnehaGunda commented on #54194
I have confirmed from Matias internally that there aren't further changes to this doc. We will now close this issue.

#please-close

[2020-06-17 16:55] #54194 closed

[2020-06-17 16:56] MashaMSFT commented on #56834
Hi @jusnitlive , thanks for contacting Microsoft! Is there a reason why you want to use an ARM template to deploy the extension, rather than register with the SQL VM resource provider? Registering with the provider installs the extension.

Please see the following comment from Yadi, from another Git Issue, and let us know if this is what you're looking for?

Yadi wrote:
Actually the resource provi

[2020-06-17 17:01] KranthiPakala-MSFT commented on #57241
@Phydeauxman
Thanks for the feedback! We have assigned the issue to the content author to evaluate this and update the document as appropriate.

[2020-06-17 17:02] spelluru commented on #53703
Updated the code to include the starting position.

#please-close

[2020-06-17 17:02] #53703 closed

[2020-06-17 17:04] SteveDMurphy opened #57266 "Container name length and casing possibly incorrect in docs"
Looking at the docs it appears a container name can be 1-64 characters and is case-insensitive. However after multiple failures found when trying to create the container manually the requirements are 1-63 and lower-case characters only

![image](https://user-images.githubusercontent.com/6758661/84927595-0e9fe200-b09b-11ea-91de-218b8acb9f91.png)

---
#### Document Details

⚠ *Do not edit this secti

[2020-06-17 17:06] spelluru commented on #57071
It's part of the prerequisite now. You get the connection string by following steps here:

https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-quickstart-topics-subscriptions-portal#get-the-connection-string

[2020-06-17 17:06] DavidLangworthy commented on #57258
Thanks.  Could you cross link these?  The portal page I landed on pointed me at the linux one.

[2020-06-17 17:06] spelluru commented on #57071
@mike-urnun-msft - please let me know if you want me to make the update or you can. Thanks.

[2020-06-17 17:12] TomGeske commented on #42004
Going ahead closing this one. Feel free to continue commenting.

#please-close

[2020-06-17 17:12] #42004 closed

[2020-06-17 17:13] mike-urnun-msft commented on #57071
Thanks, @spelluru! re-assigning to you, please make the update :)

[2020-06-17 17:18] SaurabhSharma-MSFT commented on #57265
@garybushey Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-06-17 17:20] nibaccam commented on #57262
@justinormont thank you for reporting this. I'm happy to update the document as suggested. Please provide your recommendation as to which primary metric would be best for helping users with managing imbalanced data.

[2020-06-17 17:20] annelo-msft opened #57267 "Suggested updates for TOC"
In the TOC for FR Quickstarts, there isn't anything to expand under **Using client library**.  If I didn't explore more, I might think that using the REST API is the only way to do the things listed under there.

Also: do we want Python samples under REST API?  It might lead to confusion around calling REST directly from Python vs. using the Track 2 SDK.

![image](https://user-images.githubusercon

[2020-06-17 17:21] MGoedtel commented on #57200
I see a few things besides what you point out that need to also be addressed with this article.  Bugging now and will prioritize for next month's sprint.  The solution isn't what a customer should be importing into their workspace, rather it should be following what is described in the Windows HRW install article - enable a feature that depends on the workspace (e.g. Update Management or Change Tr

[2020-06-17 17:21] #57200 closed

[2020-06-17 17:21] PatrickFarley commented on #55994
I've looked into it a bit more. The SDK used by the sample has been kept up to date. The SDK that's **included with** the sample is deprecated. The latest SDK can be found in this repo - https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/cognitiveservices/Vision.ComputerVision

[2020-06-17 17:21] PatrickFarley commented on #55994
#please-close

[2020-06-17 17:21] #55994 closed

[2020-06-17 17:24] annelo-msft opened #57268 "Getting Started in Overview/What is FR page references only REST API"
The "What is Form Recognizer?" page still references only samples for the REST API, including in Python -- this could create confusion about the Track 2 libraries.  It would be great if the Get Started section could describe the multiple ways to get started, and perhaps provide a table with links to samples for the described scenarios for each language + REST API?

![image](https://user-images.git

[2020-06-17 17:24] annelo-msft commented on #57268
@mayurid @maggiepint

[2020-06-17 17:24] Mike-Ubezzi-MSFT commented on #57259
@loopfish Thank you for your inquiry. I am investigating this but wanted to inquire where the 100 column limit is quoted, as it will help me evaluate the information and see about any documentation updates that might be needed.

[2020-06-17 17:25] annelo-msft commented on #57267
@Mayurid @maggiepint

[2020-06-17 17:25] anastasia-ms commented on #57220
I will update the document, to make this clear. Thank you for spotting this!

From: Goutham R <notifications@github.com>
Sent: Tuesday, June 16, 2020 11:47 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Anastasia Harris (Aquent) <v-stharr@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] resourceLocation URL is giving 401 Unauthorized

[2020-06-17 17:26] asubmani opened #57269 "Please call out impact to Managed Identities"
Would this re-create the "Managed Identities"? It would be great if the docs could call this part out as:
1) Node image upgrade will not re-create the managed identities of VM's of scalesets
2) Node Image upgrade will re-create the managed identities & you have to re-assign RBAC to these identities.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-06-17 17:26] PatrickFarley commented on #56104
@kristapratico Has this affected more than one user? I'd thought the "self" construct was common enough in Python

[2020-06-17 17:26] ishasahni1 commented on #55940
@SumanthMarigowda-MSFT this issue has been addressed by Content author.

I’ve fixed this for https://docs.microsoft.com/en-us/azure/storage/common/storage-samples

Here’s the merged PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/119179

[2020-06-17 17:28] cynthn commented on #57258
@DavidLangworthy Yes! And I will try and see if the folks who work on the portal can link to both the Windows and Linux specific topics :)

[2020-06-17 17:29] TerryLanfear commented on #57265
@garybushey - Thank you for your feedback. I am currently updating our mapping of security services and features. I'll leave this PR open and reply back when the updated mapping is published.

[2020-06-17 17:35] amanarneja commented on #56856
@jeevansd Thanks for the confirmation.
@giggio Apologies for the miscommunication and this issue getting closed without an update to the document. I have reopened it so that we can track the fix Jeevan is working on to closure. Again, thank you for advocacy in improving the overall documentation experience!

[2020-06-17 17:40] noshlag opened #57270 "Where to open a support ticket for large migrations?"
At the bottom of the page, it says the following:

But it doesn't provide a link or any additional directions on where nor how to open a support ticket.  I couldn't find the information through a Bing search, Google search, or searching our team's internal onenote.  Where do I go to file such a support ticket?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-06-17 17:41] #57270 closed

[2020-06-17 17:44] Commochief opened #57271 "Add USGov Cloud Endpoint URLS for PrivateLinks"
Please update the table of URLs to include the URLs for the applicable USGov Cloud endpoints. This makes the process of adding forwarders easier as we do not have to build an example private endpoint to get the correct privatelink dns spaces to forward.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a88af182-32aa-a8f3-

[2020-06-17 17:46] amanarneja commented on #56854
@jeevansd  Thanks for the confirmation.
@giggio Again, apologies for these inadvertent closures, the GitHub feedback process is to improve our documentation so the closure of these issues without the fix in documentation goes against that spirit. We will internally review our processes to make sure this can be avoided in the future

[2020-06-17 17:47] Ettores88 opened #57272 "Loss of traces in AI when AdaptiveSampling was disabled in ASP.NET Core"
In the document "_Sampling in Application Insights_" at the section "_Configuring adaptive sampling for ASP.NET Core applications_" this section of code is suggested:

[code]

This cause us the loss of traces in ApplicationInsights and we managed to fix the problem writing this instead:

[code]

I think that this is a safer option. Do you agree?

---
#### Document Details

⚠ *Do not edit this sect

[2020-06-17 17:47] mimckitt commented on #53840
We are working to add some examples to this document related to:

Add boot diagnostics
Add Health Extension
Update instance count
Update SKU
Update rolling upgrade mode

I don't have an exact ETA on when the work will be completed but this is what we are looking to accomplish.

[2020-06-17 17:54] amanarneja commented on #56855
Reopening to check if the appropriate updates have been made/are in progress

[2020-06-17 17:55] BhargaviAnnadevara-MSFT commented on #57139
@tp6hannah Thanks for the additional details. I am able to reproduce the said issue in **Japan East** region, but not in others like **West US 2**, like @mrbullwinkle mentioned. This does mean that exporting the ARM template for the **microsoft.insights/components** resource provider is not supported in this region **yet**.

You could do one of the following to get around this:
- Generate the ARM

[2020-06-17 17:56] anastasia-ms commented on #57220
I have created a PR that contains the updated document.  Please let me know if you think this is satisfactory. I believe I have clarified this step to avoid any future confusion.

Thanks!
[Clarifying Step 8](https://github.com/MicrosoftDocs/azure-docs-pr/pull/119263)

[2020-06-17 17:59] shashishailaj commented on #54814
You are correct and we thank you for catching this . This was checked and verified internally . I also tested this in my tenant . I have initiated a change request which will be reviewed by content team and once it is approved it will be updated on the article. We will now close this issue. The content author team will approve and publish the changes in a few days as per the release cycle.

Thank

[2020-06-17 17:59] #54814 closed

[2020-06-17 18:00] TomGeske commented on #51672
docs update bumping up azure cli version should go live soon.
I'm going to close this issue. Feel free to keep commenting.

#please-close

[2020-06-17 18:00] #51672 closed

[2020-06-17 18:02] SumanthMarigowda-MSFT commented on #57198
@boazsha Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-17 18:03] vhorne commented on #57038
fixed
#please-close

[2020-06-17 18:03] #57038 closed

[2020-06-17 18:03] SakethTubati opened #57273 "Screenshots and terminology like Directory ID needs to be updated"
[
![image](https://user-images.githubusercontent.com/22947798/84933041-1c993700-b08a-11ea-8ba3-c4917a01950f.png)
The screenshot with Directory ID should be updated to Tenant ID]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 186c0697-792a-a913-1baa-0af86f7ef6de
* Version Independent ID: 330e7927-57fd-75e2-26b1-05bd2e8f

[2020-06-17 18:04] SumanthMarigowda-MSFT commented on #57145
@Sidefix Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-17 18:04] MarileeTurscak-MSFT commented on #57234
@SanderBerkouwer
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-17 18:05] MarileeTurscak-MSFT commented on #57242
@toanduong-bbv
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-17 18:07] SumanthMarigowda-MSFT commented on #57040
@jcpayne We already document the use of --tenant-id in the get started guide. For some, plain azcopy.exe -login works. If you are a member of multiple org, you'd have to specify the tenant.

[2020-06-17 18:07] timvanderweijde commented on #57177
@TravisCragg-MSFT Is it possible the change is not visible yet?

[2020-06-17 18:08] shashishailaj commented on #57042
@loosus456 We have initiated a change request on this with the content team and t is awaiting review on the content author team end . Once it is approved the article will be updated automatically during their next release cycle. We will now close this issue. Should you have any further query, please feel free to tag me or the author of this article in your comments below.

Thank you.

[2020-06-17 18:15] shashishailaj commented on #57188
@roberts2727 We are engaging the content authors on this one and will soon update this.

[2020-06-17 18:18] yegu-ms commented on #47985
Doc has been updated to address this question.

#please-close

[2020-06-17 18:18] #47985 closed

[2020-06-17 18:20] yegu-ms commented on #48310
Doc has been updated to address this.

#please-close

[2020-06-17 18:20] #48310 closed

[2020-06-17 18:21] billmath commented on #57188
@roberts2727 The doc doesn't discuss this because using cloud provisioning to synchronize Exchange attributes is not supported.  Per the faq:

Q: What does it mean that Exchange hybrid is not supported?
The Exchange Hybrid Deployment feature allows for the co-existence of Exchange mailboxes both on-premises and in Office 365. Azure AD Connect is synchronizing a specific set of attributes from Azur

[2020-06-17 18:21] #57188 closed

[2020-06-17 18:31] yegu-ms commented on #49200
Code sample has been updated.

#please-close

[2020-06-17 18:31] #49200 closed

[2020-06-17 18:32] tgskiman opened #57276 "Missing steps in ""Group policy" option - Detailed steps?""
In Step 3: Roll out the feature it mentions two URLs that need to be added to the Intranet zone, however in the detailed steps that follow, only one is set (missing https://aadg.windows.net.nsatc.net). Can you please confirm whether the second URI is not needed or if the steps are just missing from the details?

Thanks!
Tim

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-06-17 18:36] jacksiergiej commented on #57031
@ansred I just got word from a contact at MS that this is bug and should now be resolved.  However, a new issue has arisen where you're MFA'd each time you access the new experience.   For instance, just logging into the portal, you'll be MFA'd twice (once for classic and then as it switches to the new experience, you'll be bounced out at MFA'd again.)    If you leave the new experience and return

[2020-06-17 18:37] Karishma-Tiwari-MSFT commented on #57269
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.
CC: @zr-msft

[2020-06-17 18:37] brandonh-msft opened #57277 "Event Hub trigger usage needs type specifiers"
Under Usage of the Event Hub Trigger for Azure Functions, we need to be more clear about what types are possible and their content. See [the docs for Blob Storage for an example](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob-trigger?tabs=csharp#usage) of what users expect here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-06-17 18:37] KranthiPakala-MSFT commented on #57256
@DanniJuhl Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2020-06-17 18:39] KranthiPakala-MSFT commented on #57249
@mathiasbl Thanks for the feedback. At this time we are reviewing the feedback and will provide an update as appropriate.

[2020-06-17 18:41] KranthiPakala-MSFT commented on #57248
@mathiasbl Thanks for the reaching out. At this time we are reviewing the ask and will provide an update as appropriate.

[2020-06-17 18:44] jmagosta opened #57278 "Adding address space for AzureBastionSubnet"
The quickstart documentation is incomplete so following the steps will not succeed in connecting to a VM.  I’ve gotten basic Bastion setup to work once it was clear that:

It is necessary to add additional address space to the v-net to accommodate the AzureBastionSubnet, since the "default" subnet cannot be removed, and there is no address space to create a new subnet in the vnet. This can done in

[2020-06-17 18:44] MonikaReddy-MSFT commented on #57272
@Ettores88 , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-06-17 18:47] BakkerJan opened #57279 "Authentication phone number"
When I use My Staff to set the user's phone, strong auth method is registered.
This statisfies the Indentity Protection en SSPR reset registration.
I configured to register 2 methods, but the users is never prompted.

1.Brand new user is created
2. User is added to Administrative unit
3. Manager sets phone number
4. Add user to the identity protection and sspr registration policy
5. User logs in,

[2020-06-17 18:56] VitalyMCT opened #57280 "Purpose of "Output stream name" setting"
Can you please describe the purpose of this setting in the context of the DF sink transformation?

It does not look like the name is used anywhere, because the sink is the final step of the corresponding data stream.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b52f7d74-8aac-9e9a-e13e-112eaf2e434b
* Version Independe

[2020-06-17 19:01] gewarren opened #57281 "The application proxy blog link is broken"
Related to https://github.com/MicrosoftDocs/feedback/issues/2844.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e139327a-53e0-d539-dc04-29bf07ad0333
* Version Independent ID: a862ebf9-161e-30ef-aa7c-5b3302ec1399
* Content: [Single sign-on with Application Proxy](https://docs.microsoft.com/en-us/azure/active-directory/

[2020-06-17 19:01] anbene commented on #56844
@mvfolino68 - Billing records are in UTC time zone.
We'll look into adding this info to our documentation. We really appreciate your feedback! Please let us know if you have additional questions.

#please-close

[2020-06-17 19:12] GeekTrainer opened #57283 "Need documentation for thumbnail generation using SDK"
While an example exists for generating a thumbnail with REST, one doesn't exist for the SDK. Because the reference documentation for the SDK is auto-generated it contains no samples, so determining how to access the image from the return value for generate_thumbnail is challenging at best.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-06-17 19:14] yegu-ms commented on #52432
@TheAsteroid thank you for the feedback! We've updated the doc, which should go live today or tomorrow.

#please-close

[2020-06-17 19:14] #52432 closed

[2020-06-17 19:18] kristapratico commented on #56104
I think the issue is that if a user just does copy/paste of the example, these properties aren't being defined in a class in the example so the user will need to delete the "self" from where the clients are being created. In this case, it adds inconvenience and also may confuse users like we saw so it seems worth it to remove. What do you think?

[2020-06-17 19:22] anastasia-ms commented on #56691
Have you tried loading the webview form on another device platform? It looks like WebGl1 is blacklisted on the device platform you are using.

From: Goutham R <notifications@github.com>
Sent: Wednesday, June 17, 2020 7:44 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Anastasia Harris (Aquent) <v-stharr@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microso

[2020-06-17 19:24] anastasia-ms commented on #56691
Try loading this page into your Xamarin webview. It will tell you if that device supporst WebGl1: [WebGL Support Test](https://get.webgl.org/)

[2020-06-17 19:27] shashishailaj commented on #57140
@ValerianHts No Problem and thanks for sharing the document details. We are looking into this and will keep you updated .

[2020-06-17 19:32] yegu-ms commented on #55081
@josh-endries thanks for raising the issue. We've extended the deadline due to COVID. Our doc has been updated to reflect that.

#please-close

[2020-06-17 19:32] #55081 closed

[2020-06-17 19:33] AlexCesarini opened #57284 "Sign-in frequency recomendation"
Is it correct to recommend to use sign-in frequency for this feature?
My understanding is that this was recommended just for these apps:

- Word, Excel, PowerPoint Online
- OneNote Online
- Office.com
- O365 Admin portal
- Exchange Online
- SharePoint and OneDrive
- Teams web client
- Dynamics CRM Online
- Azure portal

Ref:
https://docs.microsoft.com/en-us/azure/active-directory/conditional-acces

[2020-06-17 19:34] kkern13 commented on #57094
I have updated the documentation with the correct GUID. Changes should be viewable soon.

[2020-06-17 19:40] pfarina24 opened #57285 "LUIS errors by activity ID"
I have this error when i try to train, import, create, or anything:
**Training failed: Failure: One or more errors occurred. Corresponding activity ID: 558220f8-4413-4743-91f7-b5d392872101.**

Any help?

[2020-06-17 19:47] manorris6 opened #57286 "Not able to apply CA policy to app using Linked sign-on"
Cannot apply CA policies to applications utilizing linked sign-on. This should be noted so that customers understand this limitation and why.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9edfc165-8727-4f35-1be0-b570ee716673
* Version Independent ID: b41dd96e-4a97-6f83-0b31-9ce17d1de42c
* Content: [Single sign-on to a

[2020-06-17 19:47] manorris6 opened #57287 "Not able to apply CA policy to app using Linked sign-on"
Cannot apply CA policies to applications utilizing linked sign-on. This should be noted so that customers understand this limitation and why.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5b78894-32c2-6712-6699-f3c87d40b1d7
* Version Independent ID: dd791c15-d43b-b203-a93f-a8ec33c519b0
* Content: [Cloud apps or actio

[2020-06-17 19:49] ggailey777 commented on #57173
@jinkside thanks for the feedback. I actually can't reproduce this behavior in the article. Here's how it looks to me:
![image](https://user-images.githubusercontent.com/1388263/84943188-da2b2680-b098-11ea-9eeb-c54251bcc8ce.png)
What browser and resolution are you using? I wonder if there's something weird going on with the resolution.

[2020-06-17 19:50] anbene commented on #56838
@Jont-K - Billing records are in UTC time zone.
We'll look into adding this info to our documentation. We really appreciate your feedback! Please let us know if you have additional questions.

#please-close

[2020-06-17 19:50] #56838 closed

[2020-06-17 19:55] ggailey777 commented on #57036
@cedmallet the run time for functions in a Premium plan is technically "unbounded," however we only guarantee execution for up to 60min. I'll try to clarify the host.json article you cite.

[2020-06-17 19:55] VanMSFT commented on #57191
To clarify, there's no role that would allow you to ignore the firewall rules. There are certain Azure AD roles that would allow you to modify the firewall rules, and add your client IP, but in order to connect to Azure SQL Database, you will need a rule that would allow your client IP.

[2020-06-17 19:55] jinkside commented on #57173
I'm on Chrome 83.0.4103.97 and it shows up both at 2560x1440 and 1920x1080.
It looks like Edge makes some stuff transparent, but Chrome is rendering it as black.

[2020-06-17 20:00] ggailey777 commented on #55807
Thanks @pragnagopa we're already tracking [this work item internally](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1423389). #please-close

[2020-06-17 20:03] pawarbi commented on #51690
Sorry, I was referring to this page: https://docs.microsoft.com/en-us/azure/machine-learning/algorithm-module-reference/execute-python-script

Do I have to install the custom library each time when I start the new session? Can it be installed in the root directory? Can you please provide clarity on that in the documentation? Thanks

[2020-06-17 20:06] yegu-ms commented on #55267
@abhirockzz we updated the doc. It should be published today or tomorrow.

#please-close

[2020-06-17 20:06] #55267 closed

[2020-06-17 20:07] kenwith commented on #57281
The app proxy specific blog no longer exists. Removed the reference and link. This can be closed.

[2020-06-17 20:07] SpockDK opened #57289 "Can't connect, even when approving through MS Authenticator App"
Hi

I have followed your guide, but have problems to log on.

Guide: https://docs.microsoft.com/en-ca/azure/active-directory/authentication/howto-mfa-nps-extension-rdg

When trying to log on, I do get the Authorization request 4 times on my mobile, and I do approve every time, but still I just get a timeout at the end. Before I set up the NPS with the NPS extension for Azure MFA, I did try to log

[2020-06-17 20:07] lizhongingithub opened #57290 "In the table about Azure Cosmos Container types for different APIs. for SQL, is it supposed to be "Collection" instead of "Container"?"
In the table about Azure Cosmos Container types for different APIs. for SQL API , is it supposed to be "Collection" instead of "Container"? I am new learner for Cosmos, it just doesn't make sense if follow the text.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7941d92-a0ea-0f78-12af-7dc8ccb2b1ea
* Version Independen

[2020-06-17 20:11] gewarren commented on #57281
Could you fix the other 4 occurrences in the repo as well? Or should I open separate issues?

https://github.com/MicrosoftDocs/azure-docs-pr/search?q=applicationproxyblog&unscoped_q=applicationproxyblog

[2020-06-17 20:12] kenwith commented on #57281
Yep, I will get these too right now.

[2020-06-17 20:20] runforrestrun commented on #57110
Thanks for the clarification by distinguishing the data-centric and client-centric perspectives. I was not aware about that.

[2020-06-17 20:27] andresm53 opened #57292 "CosmosDB pricing"
How is the Azure Machine Learning pricing affected if you use a dedicated CosmosDB instance, vs. using the Microsoft one? There is no mention about CosmosDB here https://azure.microsoft.com/en-us/pricing/details/machine-learning/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5c3bce1-2494-6caf-728c-53127ae85329
* Vers

[2020-06-17 20:31] markjbrown commented on #57110
You bet. Happy to help clarify.

#please-close

[2020-06-17 20:31] #57110 closed

[2020-06-17 20:33] cesarswarowsky commented on #57191
@Mike-Ubezzi-MSFT what I was trying to say is that it could have a quote about what @VanMSFT just explained to me above (thanks, @VanMSFT for clarification 👍 ): "_There are certain Azure AD roles that would allow you to modify the firewall rules, and add your client IP, but in order to connect to Azure SQL Database, you will need a rule that would allow your client IP_ " It might help some IT Admi

[2020-06-17 20:45] VanMSFT commented on #57191
@cesarswarowsky - Thanks for the feedback! It's not an inconvenience. While going through the doc, I also noticed that we're missing what permissions allow users to add firewall rules to Azure SQL. I have updated the doc with a permission section. Thank you, and we appreciate your contribution to our docs!

[2020-06-17 20:47] SnehaGunda commented on #57290
@lizhongingithub the names in the table map to what's in the Azure portal, it's a container for SQL API

![image](https://user-images.githubusercontent.com/14284405/84948767-08146900-b0a1-11ea-9bae-0c5ae46eb4a2.png)

[2020-06-17 20:48] kenwith commented on #57281
These are updated. #please-close

[2020-06-17 20:48] #57281 closed

[2020-06-17 21:07] Mike-Ubezzi-MSFT commented on #57270
@noshlag Please let us know if you need further assistance with this. Please see: [How to create an Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request).

[2020-06-17 21:11] shashishailaj commented on #56930
@mikew1927 If you are enabling Conditional access and managing MFA though CA policies then it does not make sense to enforce the MFA because you would not want to hamper the user experience by making use go through MFA prompt at every sign-in attempt. If a user is within Office premises and have MFA enforced on them then they will be prompted for MFA every time they need to signin .

Yes , you can

[2020-06-17 21:15] #57194 closed

[2020-06-17 21:28] carlpoole opened #57293 "Android FCM Push Notification Hub sample contains String comparison bug"
Line 63 in the `RegistrationIntentService` class sample is comparing strings with a `!=` operator which compares objects in Java, not the value of the String. I adjusted it to use the `.equals` method paired with a not operator `!` so that the branch was entered under the correct conditions. For example:

[code]

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-06-17 21:28] RonnieQuan opened #57294 "<base /> in policy xml"
Hi,

What's the meaning or usage of `<base />` in policy xml?
Do you have a policy developer guide to explain all the schema, tag, so on and so forth?

From Azure portal, I see following comments,

    - Position the <base> element within a section element to inherit all policies from the corresponding section element in the enclosing scope.
    - Remove the <base> element to prevent inheriting po

[2020-06-17 21:30] mmacy commented on #57194
Thanks for the call-out, @bachoang! Fix for this will be live at or shortly after today's (2020-06-17) afternoon publish @ 15:00 PDT.

[2020-06-17 21:45] JohnCarmichael3000 opened #57295 "Azure Cosmos Emulator - Release notes web page should have dates for releases"
Azure Cosmos Emulator - Release notes web page should have dates for releases

How is the reader to know if this a frequently updated product or hasn't been touched in ages. Release notes currently just give the version number, eg: "2.11.1"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1300a10b-16f3-9185-af2a-67437bf4

[2020-06-17 21:53] yegu-ms commented on #55826
@mehran63 thanks for your feedback! We added clarification on what a maintenance window is. Hopefully that addresses your question. The update should go live today or tomorrow.

#please-close

[2020-06-17 21:53] #55826 closed

[2020-06-17 22:01] rwike77 commented on #56544
@JimDaly  I think you're right, so I've added this to the TOC.  Updates should publish this afternoon.  #please-close

[2020-06-17 22:01] #56544 closed

[2020-06-17 22:05] JamesTran-MSFT commented on #57286
@manorris6
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-17 22:09] Karishma-Tiwari-MSFT commented on #56160
The document needs to be updated for point 3 under Hub and spoke with custom DNS section:

In scenarios where the VNet containing your cluster has custom DNS settings (4), cluster deployment fails unless the private DNS zone is linked to the VNet that contains the custom DNS resolvers (5). **This link can be created manually after the private zone is created during cluster provisioning or via auto

[2020-06-17 22:12] Karishma-Tiwari-MSFT commented on #56646
The updates have been made. Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-06-17 22:13] Karishma-Tiwari-MSFT commented on #56646
PR has been merged. Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-06-17 22:13] #56646 closed

[2020-06-17 22:15] Karishma-Tiwari-MSFT commented on #56953
@MashaMSFT Would you be able to confirm whether public load balancer is supported for this scenario? The doc says so, but I am not seeing an option to do it from the Azure portal. Thanks :)

[2020-06-17 22:16] milismsft commented on #57295
@JohnCarmichael3000 yep, good suggestion, we will make sure that we will capture that as part of the next update. Please keep in mind though that unlike other product releases which might offer multiple versions, for Cosmos Emulator we only support the latest version and the release notes are useful to capture what changed between different versions rather than offer a timeline and multiple points

[2020-06-17 22:16] HeidiSteen commented on #54994
@jcarney4 Sorry about the delayed resolution. The link is now fixed, with additional edits for clarification and context.  The link to the sample skillset is in the first section, "Introducing skillsets".

I'm closing the issue now that the link is operational, but feel free to reopen or a file a new issue if you see more problems.

#please-close

[2020-06-17 22:16] #54994 closed

[2020-06-17 22:20] jtrich opened #57298 "breaking changes"
execution of the statements sais breaking changes in
WARNING: Breaking changes in the cmdlet 'New-AzVirtualNetworkSubnetConfig' :
WARNING:  - Update Property Name

WARNING: Cmdlet invocation changes :
        Old Way : -ResourceId
        New Way : -NatGatewayId
WARNING:  - Update Property Name

WARNING: Cmdlet invocation changes :
        Old Way : -InputObject
        New Way : -NatGateway
[Ente

[2020-06-17 22:20] Karishma-Tiwari-MSFT commented on #57266
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-17 22:26] PeterCLu commented on #57292
@andresm53 thanks for your issue.

CosmosDB is also a Microsoft Azure product. You can find pricing information for Cosmos DB on the [Cosmos DB Pricing page](https://azure.microsoft.com/en-us/pricing/details/cosmos-db/)

[2020-06-17 22:27] mikew1927 commented on #56930
@shashishailaj thank you - it does clarify (although the language in the note is technically not correct because user experience of having to perform MFA is surely subject to the effect of the "remember multi-factor authentication" setting if enabled?)

Can I suggest to the content authors, if this is possible,
* add an example - to achieve an equivalent to per-user MFA, use a Conditional Access P

[2020-06-17 22:29] PeterCLu commented on #57147
@ruimmpires I have confirmed with the product team that the Notebooks feature has been completely removed from Studio (classic). You can still use Azure Machine Learning for a managed notebook experience using [Azure Machine Learning compute instances](https://docs.microsoft.com/en-us/azure/machine-learning/concept-compute-instance).

If you have any further questions please let us know. Otherwise

[2020-06-17 22:44] mganeshphani opened #57301 "What about error processing and retries"
how does the error processing and retries work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 141a682b-afaa-a36c-f3cc-baab732b38a9
* Version Independent ID: 6202c305-b765-6237-fb49-18ad0fa7374c
* Content: [Load files from Azure Blob storage or Azure Data Lake Storage Gen2 using Auto Loader - Azure Databricks](https://

[2020-06-17 22:55] BryanTrach-MSFT commented on #57212
@naraharipatro Please note that this channel is related to questions and feedback regarding [Azure Docs](https://docs.microsoft.com/en-us/azure/?product=featured).

Since your question appears to be more around troubleshooting, we recommend you post your question to our new troubleshooting forum, [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/topics/single/25450.html), where we

[2020-06-17 22:55] #57212 closed

[2020-06-17 22:56] JamesTran-MSFT commented on #57287
@manorris6
Thanks for your feedback!

The doc does state that a Conditional Access Policy cannot be applied to a client (public/private) application.
![image](https://user-images.githubusercontent.com/36619112/84958778-f471fe00-b0b2-11ea-910e-36e23dd6f173.png)
[Link](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-cloud-apps#other-applications)

[2020-06-17 23:02] mike-urnun-msft commented on #56839
Hello @RonnieQuan - Same requirements discussed on this doc should apply. Please open post on our [new QnA platform](https://docs.microsoft.com/en-us/answers/index.html) for this question with more details about your scenario.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-17 23:02] #56839 closed

[2020-06-17 23:09] Raregine commented on #57149
Thanks @SatishBoddu-MSFT, @kgremban, maybe you can confirm - if I'm using vscode on a win10 machine, should it be possible to build and push arm32v7 edge solutions? or should this be done on a different machine? I have seen this comment pop up in other threads but can't seem to confirm.

[2020-06-17 23:27] SteveDMurphy commented on #57266
Thanks @Karishma-Tiwari-MSFT ! 👍

[2020-06-17 23:34] SnehaGunda commented on #53721
@StefanSchoof I updated the doc with links to refreshing data. We will close this issue now.

#please-close

[2020-06-17 23:34] #53721 closed

[2020-06-17 23:41] TomShinder commented on #57251
This content should be updated. Recommend contacting Terry Lanfear to see who is managing security content these days.

[2020-06-17 23:43] cipheroth opened #57303 "Not working for compass 1.21.2"
[Enter feedback here]

![image](https://user-images.githubusercontent.com/6556911/84961572-ed9eb780-b0c1-11ea-8edf-7367631ebe0d.png)

Sorry but not working at all, I have tried a lot of things

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ae63b0b-8c13-36da-c5c9-d126ffbc7077
* Version Independent ID: 17b87fc6-88ad-959

[2020-06-17 23:43] dcbrown16 opened #57304 "Lost from ToC"
This PowerShell page isn't showing in the ToC.

The CLI version does show in its ToC, but the structure is slightly different.
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/share-images-across-tenants

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4c09d03-24b1-f376-34fd-cbfd8d29d3d7
* Version Independe

[2020-06-17 23:46] TravisCragg-MSFT commented on #57273
@SakethTubati Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-17 23:51] BryanTrach-MSFT commented on #57240
@ranandLandmark Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-17 23:53] BryanTrach-MSFT commented on #57243
@anil-kapoor Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

[2020-06-17 23:54] SeaDude opened #57306 "Python logging examples needs asap"
Hello,

It would be of great benefit to include python logging examples as soon as possible.

Thank you very much

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13672b67-22ea-3dda-8b6b-3332c24e6030
* Version Independent ID: fdc60aeb-9971-1d9f-a6ba-b3ad818cf0d5
* Content: [Monitor Azure Functions](https://docs.microsoft

[2020-06-17 23:55] SnehaGunda commented on #51732
I sent an email to our team to confirm if the user's suggestion is valid.

[2020-06-17 23:57] TravisCragg-MSFT commented on #57278
@jmagosta This tutorial is designed to work with an existing Virtual Network. The [beginning of the doc gives sample values](https://docs.microsoft.com/en-us/azure/bastion/quickstart-host-portal#example-values), but it does not give a VNET address range here. If we added a VNET address range, do you think that would be enough, or should the address range be explicitly called out in the prerequisit

[2020-06-17 23:57] BryanTrach-MSFT commented on #57244
@HarrisburgUSysAdmin Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-17 23:58] Jont-K commented on #56838
Thank you

Jonathan Kingsepp
e: jont@tackle.io
m: 312.286.6102
https://tackle.io

[2020-06-17 23:58] BryanTrach-MSFT commented on #57254
@jstawski Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-17 23:58] SnehaGunda commented on #57303
@cipheroth which version of MongoDB account are you using. In case you haven't seen this note in the doc:

Currently, Azure Cosmos DB's API for MongoDB Server version 3.2 is supported with latest version of MongoDB Compass. MongoDB Compass isn't yet supported with the 3.6 server version.

[2020-06-17 23:58] helplessJ opened #57307 "Azure SQL Database + Private Link + Elastic Search, private link name resolution/firewall blocking"
We have an Azure SQL Server (example sqlserverexample.database.windows.net) configured with a Private Link connected to the Azure VNET and enabled the option to 'Deny public network access'.  We also have enabled the option to allow Azure services and resources to acess the server.
The Azure SQL server has 2 databases, lets call them Database1 and Database2.

Everything worked great from the VM's

[2020-06-18 00:00] BryanTrach-MSFT commented on #57285
@pfarina24 Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

[2020-06-18 00:02] jusnitlive commented on #56834
Thank you for the clarification. I asked because I was not able to set the automatic backup using the resource provider. I will give it another try.

[2020-06-18 00:02] TravisCragg-MSFT commented on #57298
@jtrich This warning is about a upcoming change in the [New-AzVirtualNetworkSubnetConfig](https://docs.microsoft.com/en-us/powershell/module/az.network/new-azvirtualnetworksubnetconfig?view=azps-4.2.0) cmdlet, and can be ignored for the purpose of this lab. It only applies if a NAT Gateway is applied to a subnet.

Previously, [NAT Gateways](https://docs.microsoft.com/en-us/azure/virtual-network/na

[2020-06-18 00:02] #57298 closed

[2020-06-18 00:06] SaurabhSharma-MSFT commented on #57167
@bachoang The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-06-18 00:06] #57167 closed

[2020-06-18 00:25] kprpg opened #57309 "Cannot copy specialized images from one Shared Image Gallery (SIG) to another SIG"
The PS command New-AzGalleryImageDefinition when used as below and as documented in this page does not work. It spits out the message as shown below.

$destinationImgDef  = New-AzGalleryImageDefinition `
   -GalleryName testImageGalleryWestUS `
   -ResourceGroupName rg-Image `
   -Location WestUS `
   -Name 'Server2019West' `
   -OsState specialized `
   -OsType Windows `
   -Publisher 'Test' `

[2020-06-18 00:26] kprpg opened #57310 "Cannot use New-AzGalleryImageDefinition as documented for custom images"
The PS command New-AzGalleryImageDefinition when used as below and as documented in this page does not work. It spits out the message as shown below.

$destinationImgDef  = New-AzGalleryImageDefinition `
   -GalleryName testImageGalleryWestUS `
   -ResourceGroupName rg-Image `
   -Location WestUS `
   -Name 'Server2019West' `
   -OsState specialized `
   -OsType Windows `
   -Publisher 'Test' `

[2020-06-18 00:36] megatc101 opened #57312 "Missing Settings"
[Enter feedback here]
Hi
You've listed the options for Workspace Key and Workspace ID and several items related to the proxy. However what are the key word to turn the proxy option on?

Thanking you in advance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00a00a3e-a0df-7ee5-4733-7231bd7a024f
* Version Independent ID:

[2020-06-18 00:47] thowilli opened #57313 "Support for Teams media optimization using the Remote Desktop client for iOS and Mac"
When will media optimization be available for iOS and Mac clients?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85b331f4-5939-688a-31e6-7f4c5e1c185d
* Version Independent ID: 42e1f341-92c0-0a9b-9c3b-efbb5238844f
* Content: [Microsoft Teams on Windows Virtual Desktop - Azure](https://docs.microsoft.com/en-us/azure/vir

[2020-06-18 00:52] cynthn commented on #57310
@kprpg Thanks for the feedback! What version of PowerShell and the Az module are you running?

[2020-06-18 00:55] rmanchala-apttus commented on #50180
Upgrading the az cli to latest (2.7.0) fixed the issue for me.

[2020-06-18 01:02] yubozhao commented on #26761
We should remove this setting in the generated Dockerfile.  It really confused users(like me) to think we can change the `ENV` to some other directory.

[2020-06-18 01:28] jacksiergiej commented on #57031
@ansred I heard back from the MyApps product team and the double MFA prompt issue is now bug#2.   According to the team "They put in a bug fix request for this and expect to have the double-prompt issue resolved by the end of next week."

[2020-06-18 02:10] zqyAmy opened #57316 "Change Public Network Access via PowerShell"
[Enter feedback here]

For the PowerShell command version of changing Public Network Access issue:
Set-AzSqlServer -ServerName sql-server-name -ResourceGroupName sql-server-group -SqlAdministratorPassword $SecureString -PublicNetworkAccess "Enabled"

Based on my test Az.Sql 2.5.0 and 2.7.0 is working, but 2.6 version doesn't work. Is it possible to list the version or give a friendly tips about wo

[2020-06-18 02:20] liutang opened #57317 "Specify storage account type for each replication region"
The imageTemplate schema for specifying replication regions doesn't seem to allow me to specify different storage account types for replication regions. I'd like to use ZRS where possible, but not all regions, such as West US, support ZRS. In those scenarios, we should be allowed to define the Standard or Premium LRS.

The SIG image version schema already supports this. The AIB image definition sc

[2020-06-18 02:21] Karishma-Tiwari-MSFT commented on #51690
@YutongTie-MSFT @GiftA-MSFT Can you please help with this machine learning issue. Thanks :)

[2020-06-18 02:34] liutang opened #57318 "Easy way to patch and update existing images"
This feedback is specifically for shared image gallery, but I think it can apply for standard images as well. The use case is when we create an initial baseline image and publish it to the SIG as v1.0.0. From there, all we would be doing from a maintenance perspective is to publish patch versions that contain only security patch updates. v1.0.1 would be the next month's security patch updates. v1.

[2020-06-18 02:37] spelluru commented on #57071
Done. Updated.

#please-close

[2020-06-18 02:37] #57071 closed

[2020-06-18 02:37] liutang commented on #57318
Actually. I think I commented in the wrong section. This is more related to Azure Image Builder and how it integrates with the Shared Image Gallery. It should be linked to this page.  https://docs.microsoft.com/en-us/azure/virtual-machines/linux/image-builder-gallery-update-image-version

[2020-06-18 02:59] kichiu opened #57320 "Enable report (.pbix) download, or give direct link to the pbix file."
Please enable report (.pbix) download.  This is currently disable (grey out as an option), you might have turn off download data.
The second paragraph said we can download the app and open in PowerBI Desktop.  I cannot do that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eddfa5b-1e69-a074-db05-a9138327170c
* Versio

[2020-06-18 03:16] MakurodaHotmail commented on #56583
@SumanthMarigowda-MSFT
Hi, thank you for checking. Explanation of Cloud Partner Portal is here.
https://docs.microsoft.com/en-us/azure/marketplace/cloud-partner-portal-orig/cloud-partner-portal-getting-started-with-the-cloud-partner-portal

Cloud Partner Portal URL is this: https://cloudpartner.azure.com/
This portal is to use for management Offer and Lead in Azure Marketplace.
I want to use Table

[2020-06-18 03:23] mike-urnun-msft commented on #57277
@brandonh-msft Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-06-18 03:24] Mike-Ubezzi-MSFT commented on #57295
@JohnCarmichael3000 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-18 03:24] #57295 closed

[2020-06-18 03:24] mike-urnun-msft commented on #57294
@RonnieQuan Thank you for your feedback! We will review and update as appropriate.

[2020-06-18 03:24] rachelxj-ms commented on #57025
@VikasPullagura-MSFT it seems VS 2019 Nodejs workload is not supported very well, after create a Cloud Service with Javascript, it couldn't run, it shows can't find setup_web.cmd, after I manually added this file, it shows "Debugging stopped because there are no web roles or worker roles with an instance count great than 0 to debug", but I do see the instance count is 1 in the configuration. Would

[2020-06-18 03:44] VikasPullagura-MSFT commented on #57304
@dcbrown16
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-18 03:44] VikasPullagura-MSFT commented on #57304
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2020-06-18 03:48] Xanen commented on #53855
Facebook originally sent me a notification about this ~4weeks ago.  Since then, I've been monitoring this issue hopefully for an update.  As of a few hours ago, Facebook sent an update saying my app has now been deactivated.  At the moment, authentication still is succeeding, but it seems quite possible that things will start failing within a few hours.  I expect others will soon be receiving a si

[2020-06-18 03:53] koheikawata opened #57322 "Event subscription of AML trigger by Azure CLI"
Hello,

I tried Azure CLI command below to create an event subscription from AML pipeline, but it does not work.
- Azure CLI 2.7.0
- EventGrid extension 0.4.9
[code]

The error I got is this
[code]

After that, I explored and found a post that instruct to follow `az eventgrid event-subscription create --help`. Finally it is working with the command below
[code]

I think the reason of this problem

[2020-06-18 03:58] SnehaAgrawal-MSFT commented on #57267
@annelo-msft Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-18 04:01] SnehaAgrawal-MSFT commented on #57271
@jstaley22 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-18 04:02] SnehaAgrawal-MSFT commented on #57276
@tgskiman Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-18 04:03] SnehaAgrawal-MSFT commented on #57279
@BakkerJan Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-18 04:04] SnehaAgrawal-MSFT commented on #57280
@VitalyMCT Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-18 04:06] SnehaAgrawal-MSFT commented on #57283
@GeekTrainer Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-18 04:07] Mike-Ubezzi-MSFT commented on #57307
@helplessJ Thank you for making us aware of your issue. It appears both the VM and Azure SQL (logical) Server are in the same VNET, is that correct? Does this database need to be accessible from outside the VNET? You could [deny public network access](https://docs.microsoft.com/en-us/azure/azure-sql/database/connectivity-settings#deny-public-network-access) as a means to force Azure to route reque

[2020-06-18 04:08] SnehaAgrawal-MSFT commented on #57284
@AlexCesarini Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-18 04:09] SnehaAgrawal-MSFT commented on #57293
@carlpoole Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-18 04:12] SnehaAgrawal-MSFT commented on #57289
@SpockDK Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-18 04:16] SwathiDhanwada-MSFT commented on #57312
@megatc101 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-06-18 04:17] SnehaAgrawal-MSFT commented on #57268
@annelo-msft Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-18 04:18] skeeler opened #57323 "Default syslog configuration file does not contain any facilities"
The default syslog configuration file does not contain any of the default settings mentioned in the documentation. Specifically, my /etc/rsyslog.d/95-omsagent.conf file is empty save for a single comment line (#) indicating the workspace it (the VM) is associated with. My environment is Ubuntu 18.04 LTS running in Azure VM.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-06-18 04:22] SwathiDhanwada-MSFT commented on #57323
@skeeler Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-06-18 04:22] Mike-Ubezzi-MSFT commented on #57316
@zqyAmy Thank you for making us aware of nuance. You can run the following command: `az --version` to identify your currently installed version and extensions. Please see: [Azure CLI Release Notes](https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?view=azure-cli-latest&tabs=azure-cli), please see: for version information, release date, and fixes.

[2020-06-18 04:27] SwathiDhanwada-MSFT commented on #57320
@kichiu Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-06-18 04:28] VikasPullagura-MSFT commented on #57310
@kprpg Can you please share the requested details.

[2020-06-18 04:29] ram-msft commented on #57322
@koheikawata Thanks for the question. We are investigating the issue and will update you shortly.

[2020-06-18 04:36] VikasPullagura-MSFT commented on #57309
@kprpg Thanks for the question. I see there is similar issue opened here [57310](https://github.com/MicrosoftDocs/azure-docs/issues/57310).

I will close this one and you can followup on the other issue for updates.

[2020-06-18 04:36] #57309 closed

[2020-06-18 04:44] mandiaya opened #57325 "New SSO for jira not compatible with jira version 8.5.4"
After I upgrade our jira from 8.5.1 to 8.5.4. Then re-install SSO add-on from the Download center. My jira other add-on doesn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d38cad90-6574-38c2-3262-059a9f975064
* Version Independent ID: dd08d5c5-65a4-c2cc-8b51-7a35268dde68
* Content: [Tutorial: Azure Active Dire

[2020-06-18 04:50] dcbrown16 opened #57326 "RAGRS selection"
This doc says "Choose RAGRS if you want to enable Cross-region-restore for your backups"
Aside from missing the period, I don't think you can explicitly enable RAGRS as such.
As documented on this other page, you can choose LRS or GRS.
https://docs.microsoft.com/en-us/azure/backup/backup-create-rs-vault#set-storage-redundancy

If you choose GRS, you have the additional option of configuring Cross-

[2020-06-18 05:13] SeaDude commented on #57211
Awesome! I look forward to your findings. This is a very challenging requirement to overcome.

[2020-06-18 05:16] knightpfhor opened #57327 "The link for .NET API Reference is broken"
The link for ".NET API reference for Key Vault." (https://docs.microsoft.com/en-us/dotnet/api/overview/azure/key-vault?view=azure-dotnet) is directing to a 404.  I haven't been able to find a suitable replacement link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcba3146-83d6-fea9-78ca-d75df31a7d8a
* Version Indepen

[2020-06-18 05:57] JelmerBarhorst opened #57332 "Moving reserved instances between subscription types (PAYG/CSP)"
It's unclear what billing context and scope are exactly. I'm trying to figure out if it is possible to move a reservation bought using creditcard on a PAYG to a subscription which is billed though CSP when both subscriptions are tied to the same tennant? Or if a reserveration is switched to shared, does it apply to all subscriptions or only subscriptions of the exact same type within the same tenn

[2020-06-18 05:59] mike-urnun-msft commented on #57306
@SeaDude Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-06-18 06:22] Snowclon3 opened #57333 "AAD p2 license requirement"
"at least an Azure AD Premium P2 trial license" listed in requirements, P1 is enough

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 115ae83a-95dd-5643-bc88-f5447ebb2b99
* Version Independent ID: 7462ce84-0a9f-4bfd-7eba-c00928d77865
* Content: [Enable Azure Active Directory password writeback](https://docs.microsoft.com

[2020-06-18 06:25] ishepherd opened #57334 "Domain verification by awverify, or by asuid?"
Re: [Create domain verification record](https://docs.microsoft.com/en-us/azure/app-service/manage-custom-dns-migrate-domain#create-domain-verification-record):

**Is `TXT awverify` still the best way to verify?**

[Could `TXT asuid` be used instead? (link)](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-custom-domain#create-the-cname-record)

I have sometimes found the

[2020-06-18 06:33] JohnMoor opened #57336 "Incomplete sentences and further explanation scenario1"
Thanks for supplying this document, it is very helpful. I have a few comments to make it a bit better.

1. The note sentence doesn't seem correct/understandable English:
`The or clause is used within the ... `

2. Also Scenario 1, Step 2, Bullet 7 has an uncompleted sentence:
`... and select Select.`
I assume it should read "and select Require all the selected controls"

3. It would help to struct

[2020-06-18 06:43] MarileeTurscak-MSFT commented on #55074
Currently, SSPR cannot update Windows Cached Credentials for Hybrid or On-premises Domain Joined devices, this is by design. This is already a requested feature. Hybrid Machines must have network connectivity line of sight to a domain controller to use the new password and update cached credentials.

In order to update the cached credentials, users can reset the password via SSPR and then connect

[2020-06-18 06:47] deyanp opened #57337 "How to migrate system node pool to another vm size without any downtime"
Hi,

What is the easiest way to change the system node pool vm size without any downtime?

I have a running cluster with a single system node pool of 3 nodes, vm size Standard_DS2_v2. I want to have instead a single system node pool of 2 nodes of vm size Standard_E2as_v4.

I see that I can create a new system node pool of the new vm size, and then delete the old system node pool, but how can I tel

[2020-06-18 06:57] Druffl3 commented on #56691
@anastasia-ms , the link you have shared helps fix the issue in UWP, which I hadn't tried at that time. The log I have shared is actually from an android pixel emulator. According to https://developer.chrome.com/multidevice/webview/overview , WebGL is supported from WebView v36 in chromium. Hence, updating chromium lets the WebView render WebGL. According to this answer: https://stackoverflow.com/

[2020-06-18 07:02] CHEEKATLAPRADEEP-MSFT commented on #57301
@mganeshphani  Thanks for the question! We are investigating and will update you shortly.

[2020-06-18 07:17] linkmanishgupta commented on #23029
I am also facing the same issue as per mentioned by @atobrandon
https://github.com/MicrosoftDocs/azure-docs/issues/23029#issuecomment-513828110

Currently in talk with Google representatives now.
Any help here would be greatly appreciated.

[2020-06-18 07:18] BhargaviAnnadevara-MSFT commented on #57244
@HarrisburgUSysAdmin Could you please elaborate on what you see listed, possibly including a screenshot?

[2020-06-18 07:23] mpanja commented on #57250
Hi James,

Yes, This is the portion. :)

Regards,
Manoj

On Wed, Jun 17, 2020 at 10:09 PM James Tran - MSFT <notifications@github.com>
wrote:

[2020-06-18 07:24] MartinJaffer-MSFT commented on #57248
@mathiasbl  The root folderpath, is the folder under which all of your cdm content (data and metadata) is held.  While this can be trivial if your container only holds cdm data, imagine the scenario contains both CDM data and non-CDM data.  Imagine the following:
`
mycontainer/CDMstuff/
mycontainer/temporary/
mycontainer/notCDMstuff/
mycontainer/CDMstuff/manifestFolder/manifestFile
mycontainer/CDM

[2020-06-18 07:25] mingshen-ms commented on #56829
Thank you for the doc link.

#please-close

[2020-06-18 07:25] #56829 closed

[2020-06-18 07:28] Soundman32 commented on #57134
Then the [Prerequisites](https://docs.microsoft.com/en-us/azure/cosmos-db/quick-create-template?tabs=CLI#prerequisites) section needs changing, as it says: **You can also use the Azure Cosmos DB Emulator with a URI of https://localhost:8081.**

[2020-06-18 07:29] mathiasbl commented on #57248
@MartinJaffer-MSFT thanks for your feedback.
I understand your feedback but the folder structure that is created when using 'Export to data lake' feature on the powerplatform is different.

![image](https://user-images.githubusercontent.com/16224711/84990833-05b81a80-b146-11ea-819b-2cfbb85e1b75.png)
Documented [here](https://docs.microsoft.com/en-us/powerapps/maker/common-data-service/export-to-da

[2020-06-18 07:34] mcalnd70 opened #57339 "API Management - Strip Response Headers - more efficient way"
The section here...
https://docs.microsoft.com/en-us/azure/api-management/transform-api#transform-an-api-to-strip-response-headers

The code statement...

`<find-and-replace from="://conferenceapi.azurewebsites.net" to="://apiphany.azure-api.net/conference"/>`

...is better served by this statement, which enables less versions of a policy that exactly match those of the API in question, especially

[2020-06-18 07:41] SatishBoddu-MSFT commented on #57246
@MatthijsvdVeer ,I have assigned the issue to the content author @robinsh for further review and update the doc as appropriate.

[2020-06-18 07:44] VikasPullagura-MSFT commented on #57317
@liutang
Thanks for your Question! We are currently investigating and will get back on this.

[2020-06-18 07:46] SwathiDhanwada-MSFT commented on #56782
@techadmin1982 As there are no documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-06-18 07:46] #56782 closed

[2020-06-18 07:49] DonKarlssonSan commented on #36458
We've recently started seeing the message "Storage is not configured, Function scaling will be limited. Click to learn more" in the Azure Portal for existing Azure Functions that were deployed four weeks ago. We have never used WEBSITE_CONTENTAZUREFILECONNECTIONSTRING nor WEBSITE_CONTENTSHARE.

[2020-06-18 07:49] jhueppauff opened #57340 "Azure Password restrictions seem to miss control characters"
When using ARM Template Deployments we are getting following issue:
##[error]InvalidParameter: The supplied password must be between 6-72 characters long and must satisfy at least 3 of password complexity requirements from the following:
1) Contains an uppercase character
2) Contains a lowercase character
3) Contains a numeric digit
4) Contains a special character
5) **Control characters are not a

[2020-06-18 07:58] aelgasser opened #57341 "Missing save step in Azure Portal section"
Now that I saw it, it's obvious, but the documentation didn't mention it and following the docs blindly drove me crazy for two days :-)

When creating application settings with the Azure portal for static web apps, after step 7 'Click **OK**' you should add another step 'Click **Save**' otherwise the settings aren't persisted.

*removed azure portal related issues and created them in the appropria

[2020-06-18 07:58] VikasPullagura-MSFT commented on #57340
@jhueppauff
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-18 07:58] VikasPullagura-MSFT commented on #57340
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2020-06-18 08:00] vineetgarhewal opened #57342 "Text changed in Azure portal"
New text is "User VPN configuration"
![image](https://user-images.githubusercontent.com/17924392/84994104-0aa5ab80-b0ff-11ea-9db9-3e2c8d6904bb.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59e72010-dab4-54d9-1409-c95b0ce60824
* Version Independent ID: 0da5450c-6181-1c27-93c0-b0c698d2d598
* Content: [Connect to a

[2020-06-18 08:00] VikasPullagura-MSFT commented on #57337
@deyanp
Thanks for your Question! We are currently investigating and will get back on this.

[2020-06-18 08:01] odufresne commented on #56192
Hi,

I've created the issue 120061825000559 via the Azure Portal.
Is it okay for you ?

Thanks. :)

[2020-06-18 08:24] loopfish commented on #57259
Hi @Mike-Ubezzi-MSFT - there isn't anything that mentions that limit - that's the problem. I think I've figured out what's going on - there isn't a limit as such, but the UI does not offer the option to view all columns at once, so you have to keep clicking the 'show more' link at the bottom, and the page only loads 100 columns at a time. My particular database has over 10,000 columns, so this is

[2020-06-18 08:24] markbeij commented on #57068
I see that @kashimiz has replied to this question in Stack Overflow at Oct 22 '18
see: https://stackoverflow.com/a/52939241/1802740
Is it still current?

[2020-06-18 08:34] val1984 commented on #41755
Hello,
Has this feature been delivered?
Thanks in advance 👍

[2020-06-18 08:57] ansred commented on #57031
@jacksiergiej that makes sense now,  two bugs in one hit.
That is correct, user is configured with MFA.
Can you share the jira/bug #s for reference please.

Thanks

[2020-06-18 09:10] knuthalvor opened #57343 "Wrong or badly explained section on metrics"
Reading the section "View container metrics in metrics explorer" (https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-analyze#view-container-metrics-in-metrics-explorer) it gives the impression that you should be able to access these metrics on the Metrics page for the Kubernetes Service. However, I'm not able to see or get this kind of data from the Metrics explorer.

[2020-06-18 09:22] gjdonkers commented on #41755
As far as I know nothing has been delivered, as well as the details about the roadmap. @sffamily Can you clarify this for us?

[2020-06-18 09:25] irgnosis opened #57344 "Scale for Database"
Where is the option to change database throughput to Autoscale? Scale & Settings are at container level

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ab1e9e0-c5b1-b219-ee39-4252926aff6f
* Version Independent ID: a8f6ada3-9310-d2f9-401b-72b69bf4d76a
* Content: [Provision autoscale throughput in Azure Cosmos DB](https:

[2020-06-18 09:29] PramodValavala-MSFT commented on #57294
@RonnieQuan The `base` policy essentially brings in policies from higher scopes as mentioned [here](https://docs.microsoft.com/en-us/azure/api-management/set-edit-policies#configure-scope).

For other policies, check out the [policy reference doc](https://docs.microsoft.com/en-us/azure/api-management/api-management-policies).

[2020-06-18 09:30] jensmora opened #57345 "Clarify ExpressRoute limits concerning private peering"
Please clarify ExpressRoute limits concerning private peering:

This would make clear that scaling of a hub and spoke vnet topology is possible by connecting more ER gateways to the same ER circuit beyond the 200 route limit to 2000 - 20000 vnets overall.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cdb32c0-628d-0be

[2020-06-18 09:39] Miteshc1 opened #57346 "type in one of the headings"
[Enter feedback here]
Hi a typo in one of the titles

Identity high memory-consuming statements

Should be "Identify" I believe, like all the others. thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d159ae2-da25-63a1-2f90-124c158ffd7e
* Version Independent ID: 6226c3b2-0a5b-c762-540b-f1c9eaea1b41
* Content: [Moni

[2020-06-18 09:44] shashishailaj commented on #57336
@amanmcse Thank you for your feedback. We will have this reviewed with the content team and update this thread .

[2020-06-18 09:48] shashishailaj commented on #57327
@knightpfhor Thank you for your feedback . We will investigate and update the thread later.

[2020-06-18 09:55] PramodValavala-MSFT commented on #57339
@mcalnd70 Thanks for the feedback! We will review and update accordingly.

[2020-06-18 09:56] shashishailaj commented on #57325
@mandiaya Thank you for your query. We use github for documentation Improvement primarily. I would suggest you to post this either in [QnA forum](https://docs.microsoft.com/answers) or to contact Microsoft support on this. Alternatively if you are getting a unique error , you can post it here and I will try to find out more on the same. But if I am not able to find any further details , we would l

[2020-06-18 09:57] shashishailaj commented on #57333
@Snowclon3 We will have this reviewed and update accordingly.

[2020-06-18 10:03] SnehaAgrawal-MSFT commented on #57068
@markbeij Thanks again for the feedback! I have assigned the issue to the content author for further review on your ask and update the document as appropriate.

[2020-06-18 10:04] fschmied opened #57347 "Entity Framework 6 and batching"
The docs on batching say that "Entity Framework 6 now supports batching."

Could you please elaborate on this? I was under the assumption that EF 6 does _not_ support batching (of the INSERT/UPDATE/DELETE statements generated by the framework) and couldn't find anything to the contrary.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-06-18 10:15] Rutikhal opened #57348 "remote build using consumption plan with Python worker"
Hi.
Could you please clarify for me. Is it correct that during publishing of Azure Function every time remote host installs from the scratch all modules based on requirement file? There are no kind of already installed during last publishing packages from requirements.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d95

[2020-06-18 10:19] Tiagojaduarte opened #57349 "The link "Microsoft Identity Manager" is broken and goes to a 404"
The link Microsoft Identity Manager in the documentation is broken and arrives at a 404 page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a68d2671-8e5e-63b2-b5d2-5f58c5b9aa2f
* Version Independent ID: 7dd0b7fd-042a-c68f-8979-d5828f1ce2e8
* Content: [Identity Governance - Azure Active Directory](https://docs.microsof

[2020-06-18 10:21] SubhashVasarapu-MSFT commented on #57342
@vineetgarhewal , Thanks for reaching out. We will investigate and update this thread.

[2020-06-18 10:24] SubhashVasarapu-MSFT commented on #57204
@nishshah1 , For Point-to-site, traffic management is built in so the remote user connects to the next available hub.
For ExpressRoute and Site-to-site, you can always create another connection to a different hub.
Within a hub services are all deployed in active-active mode so resiliency within the hub is built in. If the region were AZ, then the deployments would be in AZ.
We are closing this iss

[2020-06-18 10:24] #57204 closed

[2020-06-18 10:26] SubhashVasarapu-MSFT commented on #57070
@hisasima , Appreciate your patience. It is currently in private preview. You can email us at appgwpreview@microsoft.com to try it out.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-06-18 10:26] #57070 closed

[2020-06-18 10:31] SubhashVasarapu-MSFT commented on #57213
@irenehua , Thanks for acting on this so quickly.
@swieder , Appreciate your patience. The doc is being edited by the respective engineer. Is there anything else that is acting as a blocker at this point or we are good to close this issue?

[2020-06-18 10:37] RohitMungi-MSFT commented on #57267
@annelo-msft For the client library the implementation for different languages is listed in the tab format instead of a separate page.

@PatrickFarley Can we change the TOC heading to **Using the SDK** ?

[2020-06-18 10:49] turnma commented on #57175
Re-reading the page on configurable token lifetimes I see that access tokens will still be able to be configured through this route.  So really, what's needed here is that the example should be updated to show configuring an access token, since configuring a refresh token will no longer be possible.  Thanks.

[2020-06-18 10:55] AjayKumar-MSFT commented on #57334
@ishepherd,  Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-06-18 11:06] VikasPullagura-MSFT commented on #57318
@liutang Thanks for sharing the Feedback on patch and update of existing images.
As this channel is for driving improvements towards MS Docs, and your Feedback on product improvement can be posted on feedback.azure.com.

From the bottom of the page if you click on Product then it will redirect to feedback portal where you can provide Product Feedback.

![image](https://user-images.githubuserconten

[2020-06-18 11:13] mohamed-shehata-m opened #57351 "Alerts data source does not exist any more"
I'm trying to configure a workbook for alerts, but it does not exist anymore.

In this [section ](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/workbooks-data-sources#alerts-preview), Alerts preview was removed from the list & there is OOB workbook for alerts.
Another thing is, there is no option to add alert condition (resolved, fired) parameter to the new alerts workbook.

---
##

[2020-06-18 11:29] hisasima commented on #57070
Could you add private preview into public document ? I couldn't find.

--- notifications@github.com wrote:

[2020-06-18 11:32] not-jack opened #57352 "Service Fabric Supported Version Table has incorrect SDK Version"
Under the table "[Supported versions](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-versions#supported-versions)" on the rows where "Service Fabric runtime in the cluster" is "7.1.409.*" & "7.1.417.*" it states that the "Compatible SDK or NuGet package version" is "Less than or equal to version 4.0"

But looking at the release notes for both [7.1 RTO](https://github.com/micr

[2020-06-18 11:38] Shambhu-MSFT commented on #57253
@ydeenekamp -Thanks for your feedback. @SumanthMarigowda-MSFT - Please share latest update on this

[2020-06-18 11:40] AjayKumar-MSFT commented on #57341
@aelgasser,  Thanks for taking time to share your valuable feedback and contribution on PR.
The author have been notified to review your proposed change.

Kindly feel free to add your suggestions and feedback to the product here: https://github.com/azure/static-web-apps/issues

[2020-06-18 11:54] VikasPullagura-MSFT commented on #57155
@bathizte Sorry to hear that you are getting errors while issues trying to reset Existing Service Principal Credentials as per this document.
I tried reproducing the issue, but I don't see any issues. I have tried this from Cloud Shell with Az version 2.7 twice and it is working as expected.

Requesting you to try once on the Cloud Shell and check if you are still running into issues.

![image](ht

[2020-06-18 12:07] aelgasser commented on #57341
Thank you @AjayKumar-MSFT. I just created the issues with the portal in the appropriate project.

[2020-06-18 12:09] VikasPullagura-MSFT commented on #56990
@StingyJack
As you mentioned that it is available for your prod subscription can you share details on the difference between these subscriptions.
Please share more details on the Subscription type, users and the regions where you are not able to see the Integration Tab.

[2020-06-18 12:12] VikasPullagura-MSFT commented on #57313
@thowilli
Thanks for your Question! We are currently investigating and will get back on this.

[2020-06-18 12:20] nishshah1 opened #57354 "Azure Virtual WAN Regional Redundancy"
This issue is follow up to another issue I opened (#57204 / 57205)

from reply it looks like Azure Virtual WAN (VWAN) provide AZ based Redundancy but not regional redundancy

It means All VNETS/S2S/ER connection needs to be replicated to another region if an Enterprise wants Regional redundancy !

Example
If VWAN Hub is created in EAST US and 10 diff connections are made to it (S2S/ER/SDWAN)
If EA

[2020-06-18 12:24] VikasPullagura-MSFT commented on #57352
@not-jack
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-18 12:24] VikasPullagura-MSFT commented on #57352
@athinanthny
Can you please check and add your comments on this doc update request as applicable.

[2020-06-18 12:25] claudio-ss commented on #33638
@billmath @MarileeTurscak-MSFT
Any news?

[2020-06-18 12:50] SwiftDavid opened #57356 "VAT Number"
HM Government issues VAT numbers, so a form that says "not recognised" is as much use as a chocolate fireguard, sort it MS!

---
Your marketplace form

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c0ce426-a720-24d2-35e6-6c63f68e47a8
* Version Independent ID: e993bc40-5837-3b76-ea5a-fe07002d3c2c
* Content: [Create a new SaaS offer for the Micro

[2020-06-18 12:53] NavtejSaini-MSFT commented on #57346
@Miteshc1 We are checking this and will get back to you.

[2020-06-18 13:02] DeanGross opened #57358 "Old link"
[Enter feedback here]
The link on the left side navigation for the Security and Compliance  blog points to obsolete information

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adc789ad-f5b0-3ac9-a302-c95e8092e7a7
* Version Independent ID: 13f1a0d4-249f-fb78-fcd7-000c13fb6b91
* Content: [Baseline and custom checks - Azur

[2020-06-18 13:11] AnuragSharma-MSFT commented on #57347
@fschmied Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-06-18 13:12] DeanGross opened #57359 "Broken Link"
[Enter feedback here]

Under Recent updates, May 2020 Updates link is broken
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 829b0d23-80b6-10ac-a919-9e155357b42b
* Version Independent ID: 5fd62458-72a8-d223-ab21-20ed85b7b882
* Content: [What is Azure IoT Central](https://docs.microsoft.com/en-us/azure/iot-central/core/ov

[2020-06-18 13:13] liitimellison commented on #55074
Thanks for the update. If the user must logon to the device to launch VPN?

From: Marilee Turscak - MSFT <notifications@github.com>
Sent: Thursday, June 18, 2020 1:44 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ellison, Tim <tim.ellison@LennoxIntl.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Elaborate or diagram this statement. The stat

[2020-06-18 13:15] rchatman9 opened #57362 "Update Documentation regarding NVMe Disks backup/recovery"
Cx request update of documentation after encountering data loss, after resizing VM.

Per the documentation, the NVMe disks are ephemeral and lost on VM power off.
Just like the temp disks, these do not get backed up.

Cx would like documentation updated so that future users are aware.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-06-18 13:16] pfarina24 commented on #57285
Hi!
* Content: [Train app - LUIS - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-how-to-train)
* Content Source: [articles/cognitive-services/LUIS/luis-how-to-train.md](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cognitive-services/LUIS/luis-how-to-train.md)
* Service: **cognitive-services**
* Sub-service: **language-understandin

[2020-06-18 13:16] #57285 closed

[2020-06-18 13:19] RohitMungi-MSFT commented on #57268
@PatrickFarley could we add documentation related to the SDK on this page?

[2020-06-18 13:23] bathizte commented on #57155
Hello,
Thanks for having been testing this.
In facts I received no errors from the CLI.
Is you cluster in a safe state ?
In my case, each node was disconnected from the ApiMaster resulting in a massive pod rescheduling

[2020-06-18 13:29] vipulsparsh commented on #57056
@msmbaldwin Can you please look into this ?

[2020-06-18 13:36] nonoxp opened #57363 "Azure Relay - Hybrid connection throughput"
Hi,
Do you have any guidance around the throughput we can expect on a simple case of hybrid connection relay? I'm not looking for an end-to-end throughput because it relies on many intermediate connectivity parts, just the throughput of the Azure Relay component itself.

Scenario 1: Portbridge scenario with one client agent and one service agent connecting to one hybrid connection.

Scenario 2: Yo

[2020-06-18 13:38] abhaydiwan opened #57365 "sc object not defined"
sc object is not define in this page. Can you fix it or add below statement
 import spark.implicits._
spark.sparkContext.parallelize(newContact).toDF
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c95be163-e576-6e54-5811-424221d56d39
* Version Independent ID: f4217104-b75a-03bc-025b-7dff1a60b5e0
*

[2020-06-18 13:39] NavtejSaini-MSFT commented on #57344
@irgnosis We are checking this and will get back to you.

[2020-06-18 13:40] mumian commented on #57114
@NillsF - thanks for the comment.  The article has been updated.

#please-close

[2020-06-18 13:40] #57114 closed

[2020-06-18 13:41] mumian commented on #55852
#please-close

[2020-06-18 13:41] #55852 closed

[2020-06-18 13:41] zerolagtime opened #57366 "Non AzureCloud Connectivity"
Since Microsoft is funding the ThousandEyes latency tracking, can it be arranged for locations in clouds outside of the AzureCloud ("commercial") locations to be included?  Example clouds include "AzureUSGovernment" or "AzureChinaCloud."   If they cannot be included for regulatory reasons, please include a section that explains the gap in coverage.

---
#### Document Details

⚠ *Do not edit this s

[2020-06-18 13:42] RohitMungi-MSFT commented on #57283
@GeekTrainer A sample is available for this call on the SDK page of github [here](https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/cognitiveservices/azure-cognitiveservices-vision-computervision#generate-thumbnail).

[code]

@PatrickFarley can we include this sample in the documentation for future updates of this page?

[2020-06-18 13:43] vipulsparsh commented on #57333
@Snowclon3 We have reached out to the  doc enhancement team to investigate further and update.
@iainfoulds  I have raised a PR, can you please look into this.

[2020-06-18 13:50] pryanga-wk commented on #14761
I have followed the stated approach to download by .pem files, however, when I want to convert it to proper format using openssl, it is asking for Import Password? Where do I find this import password.

Background:
I have purchased an SSL certificate at Apps Service Certificates at Azure. This certificate is to be downloaded and uploaded to my VM machine to configure https connection using nginx

[2020-06-18 13:56] VikasPullagura-MSFT commented on #57362
@rchatman9
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-18 13:56] VikasPullagura-MSFT commented on #57362
@sasha-melamed
Can you please check and add your comments on this doc update request as applicable.

[2020-06-18 14:06] mohitkumarsharmaflux7 commented on #37716
Hey ,did we get the solution ? @qianw211  @femsulu

[2020-06-18 14:12] JamesTran-MSFT commented on #57349
@Tiagojaduarte
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-18 14:13] HeinzLm opened #57368 "Culture resolvers not working as documented"
{Culture:LanguageName} gives us correctly for example en or de.
{Culture:LCID} gave us a mix, once a 9, for de-DE "de".
{Culture:RegionName} and {Culture:RFC5646} gave us the same as LanguageName, for en-US "en" for instance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fc94d79-52c2-d03a-9821-32c048ffa020
* Version

[2020-06-18 14:15] skalpin opened #57369 "adf_publish branch"
[Enter feedback here]

I don't like how datafactory want's to use the repository. I fully support storing the JSON, branching and making pull requests to make changes to master. The part I don't like is the publish. It creates a **new** branch that doesn't look anything like the files in the master. It's never going to merge back in. It's only there for storage, and there's no merging or collabora

[2020-06-18 14:17] swapnilbjadhav commented on #57137
Thanks, @hansenms my issue is resolved

[2020-06-18 14:30] devszr opened #57371 "Default regex for Linux SSH password"
[Enter feedback here]
What's the default regex, if any, used for Linux passwords for this UI element?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1da251ff-5225-557e-b56b-5029326ae96b
* Version Independent ID: f8133f2d-ec47-2c28-35d8-dad81c264599
* Content: [CredentialsCombo UI element - Azure Managed Applications](h

[2020-06-18 14:31] cipheroth commented on #57303
@SnehaGunda Thank you very much for your quick answer, yo:u are totally right the version of the server that we are using is 3.6. I was unaware of that note :D

Have a nice Day!

[2020-06-18 14:31] #57303 closed

[2020-06-18 14:34] TomGeske commented on #53977
@rhummelmose: Thanks for sharing your script! We are working on improving private DNS zone for private clusters.

I just created a tracking issue for our roadmap here and referenced your repo:
[Private Cluster with BYO VNet + DNS setup](https://github.com/Azure/AKS/issues/1686)

#please-close

[2020-06-18 14:34] #53977 closed

[2020-06-18 14:42] shashishailaj commented on #57325
@mandiaya  Alternatively if you do not have a support plan you can also send us an email to us on azcommunity[at]microsoft[dot]com and we will help you with alternative support options.

[2020-06-18 14:44] ajinkya599 commented on #47395
Hitting the same issue 😟. Any updates on this?

[2020-06-18 14:44] MikhailTymchukFT opened #57372 "No info about Synapse SQL pool (data warehouse) with serverless resource model"
[This page](https://docs.microsoft.com/en-us/azure/synapse-analytics/overview-what-is) advertises serverless resource model, and I find it consistent with [pricing page](https://azure.microsoft.com/en-us/pricing/details/synapse-analytics/)
<img width="1319" alt="Screenshot 2020-06-18 at 17 36 10" src="https://user-images.githubusercontent.com/62020066/85033978-391c9880-b18a-11ea-9f84-46e1b342fa23.

[2020-06-18 14:46] robinho81 opened #57373 "Multiple domain names"
How do I configure the Cluster Issuer to work with two ingresses each with their own domain names? For example, I have one ingress that uses:

name.my-domain.com

and a second ingress that uses:

anothername.my-doman.com

Each point to different applications running on the same cluster.

Following this documentation I successfully get a certificate for the first ingress, but when I try to connect

[2020-06-18 14:47] KrishnaG-MSFT commented on #57371
@devszr Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-18 14:48] KrishnaG-MSFT commented on #57356
@SwiftDavid Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-18 14:48] KrishnaG-MSFT commented on #57351
@mohamed-shehata-m Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-18 14:49] TomGeske commented on #52973
The LB and public IP created during cluster creation is used for egress traffic. If you want to control it use outboundtype as mentioned by @e-saiz

I'm going ahead closing this one. Feel free to keep commenting.

#please-close

[2020-06-18 14:49] #52973 closed

[2020-06-18 14:49] KrishnaG-MSFT commented on #57343
@knuthalvor Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-18 14:50] VikasPullagura-MSFT commented on #57337
@MicrosoftDocs/aks-pm Can you please check and add your comments.

[2020-06-18 14:52] SatishBoddu-MSFT commented on #57359
@DeanGross Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-18 14:52] KrishnaG-MSFT commented on #57326
@dcbrown16 Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-18 14:52] ajinkya599 commented on #47395
So there are two objects that get created in the `default` namespace:
`ClusterRole: nginx-ingress`
`ClusterRoleBinding: nginx-ingress`

Ran the following two commands to delete them:
`kubectl delete clusterrole nginx-ingress`
`kubectl delete clusterrolebinding nginx-ingress`

After this I was able to install the helm chart again.

[2020-06-18 14:54] KrishnaG-MSFT commented on #57332
@JelmerBarhorst Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-18 14:54] NavtejSaini-MSFT commented on #57346
@Miteshc1 Thanks for the feedback and your help to make the documentation better. We have raised the request https://github.com/MicrosoftDocs/azure-docs-pr/pull/119392 to correct this.
Once approved you will see the changes in a day.

[2020-06-18 14:58] roygara commented on #54905
#please-close

[2020-06-18 14:58] #54905 closed

[2020-06-18 15:00] D-Moonesinghe opened #57374 "SAS Token explanation leaves more new questions in the readers mind"
As somebody unfamiliar with SAS and when read the following paragraph:

"The SAS token is a string that you generate on the client side, for example by using one of the Azure Storage client libraries. The SAS token is not tracked by Azure Storage in any way. You can create an unlimited number of SAS tokens on the client side. After you create a SAS, you can distribute it to client applications tha

[2020-06-18 15:00] roygara commented on #44775
#please-close

[2020-06-18 15:00] #44775 closed

[2020-06-18 15:02] loopfish commented on #57259
Also, when you first view the recommendations for a database, the page must be doing a select top 100 and then using '100' to create the following message, because when you click into it, you see a lot more than 100 recommendations:
![image](https://user-images.githubusercontent.com/39245344/85037148-e12b6500-b17c-11ea-97d9-4d6a28414567.png)

I think that is where the source of my original issue c

[2020-06-18 15:02] hansenms commented on #57137
Sure thing. #please-close

[2020-06-18 15:03] #57137 closed

[2020-06-18 15:06] djpmsft commented on #57369
Hey @skalpin ,

The publish branch is intentionally different than your collaboration and feature branches. Instead of the resource JSONs being stored in individual folders, it stores the data factory in an ARM template with a generated parameters file. This is generated everytime the factory is published.

The reason its stored as an ARM template is because template deployment is the backbone of

[2020-06-18 15:08] GeekTrainer commented on #57283
Unfortunately the samples site isn't easily discoverable. I spent a good two hours searching through the docs, Bing and Google, before finally finding a Stack Overflow page which gave me a hint as to how to work with it.

[code]

[2020-06-18 15:08] akhi3563 opened #57375 "Vulnerable Ciphers"
[In the example SHA-1 and 3DES are used as integrity and encryption algorithm, which are vulnerable & not secure. Using SHA-1 and 2DES defies the purpose of IPsec (used for confidentiality & Integrity of payload. Any idea how we can use use AES 128, 256 and SHA-2 ciphers in windows servers/host ?)]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-06-18 15:09] djpmsft commented on #57249
We can add a model.json script to our backlog but as it is the older version of CDM we likely will not be investing much resources to it. To unblock yourself, you can go to the ADF data flow UX and click 'Script' to see what the underlying script looks like.

[2020-06-18 15:10] NavtejSaini-MSFT commented on #57344
@irgnosis The "Scale"Button is what you will use to change the auto scale setting for Database.
Following image shows the same.
![Capture](https://user-images.githubusercontent.com/52257742/85038043-1cfe0480-b154-11ea-8b65-64a887fc6c42.JPG)

Please let us know if you need any further help regarding this.

[2020-06-18 15:20] SubhashVasarapu-MSFT commented on #57228
@junpark12 , Appreciate your patience. The Azure WAF is based on the Open Web Application Security Project (OWASP) core rule set. A pre-configured rule set is enabled by default. This rule set protects your web application from common threats defined in the top-ten OWASP categories. The default rule set is managed by the Azure WAF service. Rules are updated as needed for new attack signatures.

Yo

[2020-06-18 15:20] trevorreeves opened #57376 "Bastion NSG GatewayManager rule requires port 4443 allowed inbound"
The details of 'Unable to create an NSG on AzureBastionSubnet' need to be updated, as they are not sufficient to satisfy the NSG validation that happens.

After consulting the quickstart example, I got it working: https://github.com/Azure/azure-quickstart-templates/blob/master/101-azure-bastion-nsg/azuredeploy.json

I believe it requires port 4443 for the GatewayManager inbound rule as well as 443

[2020-06-18 15:21] ishepherd opened #57377 "Data retention for customMetrics"
I am tracking metrics using App Insights .NET SDK `Metric.TrackValue`. I want to retain these `customMetrics` records as long as possible.

The doc seems to say they are thrown away after 90 days )even if I select a retention of 730 days. Is this correct? Is there any way to fix?

---------

Quoting [How long is the data kept?](https://docs.microsoft.com/en-us/azure/azure-monitor/app/data-retentio

[2020-06-18 15:23] SubhashVasarapu-MSFT commented on #57224
closing this as this is duplicate of #57228 issue.

[2020-06-18 15:23] #57224 closed

[2020-06-18 15:23] ishepherd opened #57378 "Can I increase retention of customMetrics?"
I am tracking metrics using App Insights .NET SDK `Metric.TrackValue`. I want to retain these `customMetrics` records as long as possible.

The doc seems to say they are thrown away after 90 days, _even if_ I request 730 days retention.

Is that correct? Any workaround?

---------

Quoting [How long is the data kept?](https://docs.microsoft.com/en-us/azure/azure-monitor/app/data-retention-privacy#

[2020-06-18 15:31] shashishailaj commented on #56930
@mikew1927  Absolutely we can suggest it to the content authors.

@iainfoulds Could you please review this and see if the suggestions can be incorporated to restructure the wording of the lines as suggested ?

[2020-06-18 15:32] SubhashVasarapu-MSFT commented on #57376
@trevorreeves , Thanks for reaching out. We will investigate and update this thread.

[2020-06-18 15:36] SubhashVasarapu-MSFT commented on #57366
@zerolagtime , Thanks for reaching out. We will investigate and update this thread.

[2020-06-18 15:37] annelo-msft commented on #57267
Thanks @RohitMungi-MSFT!  I'm wondering if it would be possible to change the format of the TOC under the REST API section as well then?  For folks starting at the TOC it looks like scenarios are possible with the REST API that aren't possible with the SDK, given the lack of additional pages under the SDK section.

[2020-06-18 15:39] skalpin commented on #57369
@djpmsft ,
I disagree with creating a separate branch for the content. With a web api the folder structure in my repository would look something like:

- src
  - Contoso.WebApi
    - ... the web api files
- deploy
  - arm
    - ... arm template
  - powershell
    - ... powershell scripts

There's not a separate *branch* for the deployment files, it's included as part of the change.

What I think i

[2020-06-18 15:41] MikeRayMSFT commented on #46969
@giovannifl - there are updates to this scenario in development. Thank you for the feedback.

[2020-06-18 15:42] MikeRayMSFT commented on #46969
#please-close

[2020-06-18 15:42] #46969 closed

[2020-06-18 15:44] timothy-salazar commented on #52463
Do we know if there's any updates to this?

[2020-06-18 15:46] briandunnington commented on #36458
@paulbatum Seems like this issue is getting more activity over the last few days since the 'Storage is not configured, Function scaling will be limited' message started showing up in the portal. Any new guidance on the correct way to configure all of this?

[2020-06-18 15:51] sedwardstx opened #57381 "Missing links to download current firmware"
Where can one find the latest firmware?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36b7b2d0-f11a-4b73-3a9d-3032da7fd36f
* Version Independent ID: dd269642-3af1-ab93-de7a-f7171b17ee7b
* Content: [Update Azure Kinect DK firmware](https://docs.microsoft.com/en-us/azure/kinect-dk/update-device-firmware)
* Content Sourc

[2020-06-18 15:53] JamesTran-MSFT commented on #57250
@mpanja,
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-06-18 15:53] #57250 closed

[2020-06-18 15:55] DerekHerman-MSFT commented on #57374
@D-Moonesinghe Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-18 15:59] azurejoe opened #57382 "Remove direct user assignment"
Could we add commands to documentation for removal of a direct user assignment on a session host?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4aca2613-94aa-ea90-099f-625879914c4e
* Version Independent ID: 6b4fcb8e-5d64-826f-04fd-207530dda12f
* Content: [Windows Virtual Desktop personal desktop assignment type - Azur

[2020-06-18 16:02] MonikaReddy-MSFT commented on #57377
@ishepherd , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-06-18 16:04] JFolberth opened #57383 "Incorrect ARM template linked to quick start page"
This page is for deploying a single Database, yet the ARM example is for deploying a SQL Server not a Database.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20d39130-4f6b-deec-315c-d82fcdd22979
* Version Independent ID: 28dde232-b9fa-5a7f-2db3-aac64d3f65ed
* Content: [Azure Resource Manager: Create a single database

[2020-06-18 16:07] iainfoulds commented on #56930
Thanks for the feedback, @mikew1927

We can look at this for future updates, sure. As @shashishailaj notes, per-user and Conditional Access policies fundamentally operate differently. Many users, specifically O365 / Microsoft 365 customers only have the option of per-user, which is why this content remains as available. Adding additional details around Conditional Access policies or how to migrate

[2020-06-18 16:08] JamesTran-MSFT commented on #57251
Thanks Tom,

I'll reach out to Terry and see who is managing these docs.

[2020-06-18 16:10] Navlesh commented on #54790
@SadiqhAhmed-MSFT , Please refer overview of the FD Designer
<img width="506" alt="Untitled" src="https://user-images.githubusercontent.com/7993472/85045223-f8734e00-b18e-11ea-8dc6-31175e81e330.png">

[2020-06-18 16:14] KranthiPakala-MSFT commented on #57153
@pihalve Could you please share the build error you are experiencing?

Thanks

[2020-06-18 16:19] #56719 closed

[2020-06-18 16:26] #57377 closed

[2020-06-18 16:26] ishepherd commented on #57377
Dupe of #57378

[2020-06-18 16:29] kennethgp opened #57384 "Add and note specifying current behavior of AKS is to overwrite the IP DNS label if annotation is not used"
According to https://github.com/Azure/AKS/issues/1376 current AKS behavior is to overwrite the DNS label with a blank value if annotation is not used in YAML. This creates confusion when IP 'looses' its DNS label because this setting can be manually edited in the IP object and there is no warning in this documentation page saying that annotation in YAML is required to persist this configuration.

[2020-06-18 16:31] txh57 commented on #20737
That helped

[2020-06-18 16:34] djpmsft commented on #57369
You can change your publish branch to point at the same branch as your collaboration brnach if you want. The steps are documented  here: https://docs.microsoft.com/en-us/azure/data-factory/source-control#version-control

Thanks,
Daniel

[2020-06-18 16:41] felickz opened #57385 "Add-AzureADServicePrincipalPolicy samples - AADB2C90289: We encountered an error connecting to the identity provider. Please try again later."
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-claims-mapping#claims-mapping-policy-assignment

Attempted to use AzureADServicePrincipalPolicy as per documentation - all samples fail during login with generic error when federating login ([via b2c to aad OIDC SSO](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-single-tenant-c

[2020-06-18 16:44] pawarbi opened #57386 "Library request"
Can you please add Statsmodels python library to the pre-installed libraries? Statsmodels is widely used for statistics and time series analysis/forecasting and it will help greatly to have it pre-installed? Currently we have to install statsmodels each time I have to create a new model. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-06-18 16:49] #57078 closed

[2020-06-18 16:54] helplessJ commented on #57307
Thank you Mike, yes Azure SQL Server and the VM are on the same VNET.  The VM, DNS does indeed resolve the private link ip address and test-connection returns success along with the private ip from nslookup. It is definitely something with the elastic query going from DB1 to DB2.  Perhaps the query needs to be written differently.  I'll get with support and post back findings here.

[2020-06-18 17:01] MikhailTymchukFT commented on #57372
Thank you @Mike-Ubezzi-MSFT! How it gets clearer for me.

[2020-06-18 17:01] #57372 closed

[2020-06-18 17:02] D-Moonesinghe commented on #57374
Thanks Derek for the answer.  That makes it clear.  I do hope you do
incorporate that explanation into your documentation to make it more
clear.  That way other thousand readers who don't ask the question like I
did,  will still get the benefit of your knowledge.

On Thu, Jun 18, 2020 at 12:49 PM DerekHerman-MSFT <notifications@github.com>
wrote:

--
Deepal Moonesinghe
(408) 568 1669
deepal.moones

[2020-06-18 17:03] priyaananthasankar opened #57388 "Move information from Python wiki into docs"
There is comprehensive information that a dev using Azure Functions for Python actually might deeply care about.

- e2e testing guide
- unit testing guide
- pre-installed libraries (including the 6 non standard python libs etc)

Can the information from the Azure Functions Python Worker repo be moved into the official docs for much better visibility?

https://github.com/Azure/azure-functions-pytho

[2020-06-18 17:09] amanmcse commented on #57276
@tgskiman Thank you for pointing this out. Before March 2018, both the URLs were required to be added to local intranet zone. Now only https://autologon.microsoftazuread-sso.com URL is required. I will update the document.

Additional info: https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/whats-new-archive#need-to-add-only-one-azure-ad-url-instead-of-two-urls-previously-to-user

[2020-06-18 17:10] hrasheed-msft commented on #56040
@Chreschtf Thanks for reaching out. Due to the inability to provide a working end-to-end scenario because of the missing pieces, these articles are being removed.

[2020-06-18 17:12] hrasheed-msft commented on #56040
#please-close

[2020-06-18 17:17] dcurwin commented on #57326
#assign:tjvishnu

[2020-06-18 17:21] Chreschtf commented on #56040
So no more HDInsight tools for local dev using the Hortonworks Sandbox, even in the future ?

[2020-06-18 17:24] JohnnyGuy opened #57389 "typo about "containers"?"
Part of this page explains the following:
"For SQL API, a container maps to a Container."

Is this a typo? Is it attempting to tell me that a container maps to a collection?

I am pretty certain a container maps to a collection, thanks to this blog post:
https://gauravmantri.com/2019/06/13/cosmos-db-and-node-sdk-working-with-containers/

"Depending upon the API your Cosmos DB account is targeting,

[2020-06-18 17:25] manorris6 commented on #57287
@JamesTran-MSFT
Ideally a quick mention of Linked sign-on specifically would help. If someone is setting up Linked sign-on for the first time and simply following the available documentation to configure it, they very likely will not know that public/private client is referring to their scenario.

In the current case that prompted this request, MFA is required for all users signing into the applic

[2020-06-18 17:27] #57333 closed

[2020-06-18 17:28] himanshusinha-msft commented on #57365
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-06-18 17:29] curtand commented on #57201
Hi @swhillance-mphn
The first line of the documentation article is a note saying "Your administrator may not allow you to use app passwords. If you don't see App passwords as an option, they're not available in your organization." This is almost certainly the case for you. I think the message is: if you don't see App Passwords, don't worry. Thanks for your contribution!

@JamesTran-MSFT
I'll wait

[2020-06-18 17:33] YutongTie-MSFT commented on #57386
@pawarbi Hi Sandeep, thanks a lot for your feedback. I will forward your feedback to product team and let them review. ^^

[2020-06-18 17:39] JamesTran-MSFT commented on #57287
@manorris6
Thank you for the clarification!

I'll assign this issue to the author so they can decide where to place your doc-update request.

[2020-06-18 17:40] EGlennn commented on #23277
Hi Im trying to pull a simple ASP on a public repo to populate an AppService using ARM. There are no errors in this code, everything is created except the ASP. If I go to the repo and click on deploy it works fine (in a separate AppService). I want it to update the two created below:

(Repo)
        "RepoURL": {
            "type": "string",
            "defaultvalue": "https://github.com/davidebb

[2020-06-18 17:42] framled commented on #20758
HI I have the same issue that @36roentgen

What I did was:
Go to the connection security setting of my psql server on azure portal.

I added a 0.0.0.0 - 255.255.255.255 just clicking in the suggestion that ui does. here a screenshot.
<img width="224" alt="Screen Shot 2020-06-18 at 13 39 15" src="https://user-images.githubusercontent.com/6482001/85053844-1cbc3400-b169-11ea-8f3e-2778dceb244a.png">

[2020-06-18 17:42] replogle opened #57390 "Update example code for current Javascript best practice?"
It would be helpful to call out the version(s) of Node required for the example code.

Related to the Node version, the example code uses 'var' instead of the now-good-practice 'const' and 'let'. ES6 has been supported in Node since about v6, if I recall correctly. So all current uses should employ the "new" syntax.

Depending on the Node version, bluebird may also be unnecessary and the built-in

[2020-06-18 17:43] YutongTie-MSFT commented on #56977
@alathrop
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

@PeterCLu @likebupt Thanks for the update.

[2020-06-18 17:43] #56977 closed

[2020-06-18 17:48] EGlennn opened #57391 "Fail to Deploy repo"
Hi. Having a problem getting this ARM template to work:
        "RepoURL": {
            "type": "string",
            "defaultvalue": "https://github.com/davidebbo-test/Mvc52Application.git"
        },
        "branch": {
            "type": "string",
            "defaultvalue": "master"
        }
From the repo its fine if I run his deploy link. But I want to update the (2) sites I created below.

[2020-06-18 17:48] YutongTie-MSFT commented on #57147
@ruimmpires
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-06-18 17:48] #57147 closed

[2020-06-18 17:54] HeidiSteen commented on #55917
@soniaang  Hi Sonia, I resolved this issue and the changes are live on docs.microsoft.com.  The fix is in the introduction. I explain clearly that incremental enrichment is strictly related to skillsets and AI, and I provide a workflow that indicates when the indexer commands should be run.

Thanks for filing this issue. I think it identified an important gap.  I'm going to mark this issue as clos

[2020-06-18 17:54] #55917 closed

[2020-06-18 17:55] YutongTie-MSFT commented on #57292
@andresm53 Hi, if you choose to use CosmosDB for more services, please refer to the document: https://azure.microsoft.com/en-us/pricing/details/cosmos-db/

For more pricing of Azure Machine Learning, please refer to https://azure.microsoft.com/en-us/pricing/details/machine-learning/

Thanks.

[2020-06-18 17:56] HeidiSteen commented on #56776
@maskati Thanks you for the detailed and actionable feedback. Your suggestions are now implemented in the docs. 1) Data import overview now contains a NOTE stating that AI enrichment requires an indexer.  2) Intro to AI enrichment clearly states that skillsets are an extension of indexers. You can find this clarification in the first several paragraphs.

I'll go ahead and mark this issue as closed

[2020-06-18 17:56] #56776 closed

[2020-06-18 17:58] HeidiSteen commented on #56845
@rahg-bmake  I completed the changes you requested and the docs now cover the "refresh" scenario in a new section that contrasts refresh vs rebuild, with guidance/links to add-remove-edit docs.  Thanks again for the feedback.

#please-close

[2020-06-18 17:58] #56845 closed

[2020-06-18 18:04] SaurabhSharma-MSFT commented on #57385
@felickz Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-18 18:04] SaurabhSharma-MSFT commented on #57368
@HeinzLm Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-18 18:16] PeterCLu commented on #57386
@pawarbi, You can also submit product feedback and requests directly using the [feedback post](https://feedback.azure.com/forums/34192--general-feedback)!

[2020-06-18 18:17] Mike-Ubezzi-MSFT commented on #57383
@JFolberth Thank you for bringing this to our attention. In reviewing the document, the sample is not including `Microsoft.Sql/servers/databases`, as the Azure Quickstart Template is the 100 series for [creating a logical server](https://github.com/Azure/azure-quickstart-templates/tree/master/101-sql-logical-server) and I do not see a good example in the available samples. I am going to forward th

[2020-06-18 18:21] PeterCLu commented on #57386
#please-close

[2020-06-18 18:21] #57386 closed

[2020-06-18 18:22] Mike-Ubezzi-MSFT commented on #57383
@mumian The ARM template this document refers creates a single logical sql server without a database. Is there an example where a database is included in the provisioning configuration?

[2020-06-18 18:28] tgskiman commented on #57276
Thanks for the confirmation and for updating the docs!

[2020-06-18 18:42] Mike-Ubezzi-MSFT commented on #57389
@JohnnyGuy When working with the Azure CosmosDB SQL API the reference is `Container` and, with Azure CosmosDB for MongoDB API the reference is `Collection`, when speaking to the specific API in regards to Azure Cosmos container. Please see: [Azure Cosmos containers](https://docs.microsoft.com/en-us/azure/cosmos-db/databases-containers-items#azure-cosmos-containers) for more detailed information.

[2020-06-18 18:47] j-martens commented on #54398
@PeterCLu - what's the status on this one?

[2020-06-18 18:51] j-martens commented on #55898
#assign:@peterclu

[2020-06-18 18:56] paulanguiano commented on #56534
customDnsConfigs does not appear to always be populated.  We have private endpoints that look the same from the portal, but where one has entries in customDnsConfigs, and the other does not--even if they're both connected to the same type of resource.  Both have entries for the NIC, which is attached to a network and has a valid IP, but climbing the tree to find these cumbersome.

[2020-06-18 18:57] j-martens commented on #57292
Thanks for your question, we will now proceed to close the thread. #please-close

[2020-06-18 18:57] #57292 closed

[2020-06-18 18:58] SubhashVasarapu-MSFT commented on #57231
@jjindrich , Appreciate your feedback. There is no ETA shared as of now. This feature is yet to be planned. For further official updates please stay tuned to our [Azure updates corner](https://azure.microsoft.com/en-us/updates/).

[2020-06-18 18:59] JFolberth commented on #57383
If not I can try and contribute one later this week.

[2020-06-18 19:04] ssemyan opened #57394 "Should add more examples for output binding"
It would be good to have more examples for output binding, for example using TextWriter or CloudBlockBlob (which allows access to the name created if you use the {rand-guid} attribute.

[code]
and
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 910d4732-bb08-d16a-a932-19c6bd1628c2
* Version Independent ID: af4358c

[2020-06-18 19:05] nibaccam commented on #57262
This fix is being addressed internally offline. We will now proceed to close this thread.
#please-close

[2020-06-18 19:05] #57262 closed

[2020-06-18 19:11] pihalve commented on #57153
Yes, and additionally I can say that I'm using Visual Studio 2019 (16.6.2)

1>C:\Sandbox\azure-service-bus\samples\DotNet\Microsoft.ServiceBus.Messaging\RoleBasedAccessControl\Program.cs(29,21,29,29): error CS0234: The type or namespace name 'Identity' does not exist in the namespace 'Microsoft' (are you missing an assembly reference?)
1>C:\Sandbox\azure-service-bus\samples\DotNet\Microsoft.Servic

[2020-06-18 19:12] erichenson opened #57396 "Missing configuration"
User Attributes: Unique User Identifier: needs to be switched to mail

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8b2d8b1-eb26-a2d1-0fe3-8f615a77121d
* Version Independent ID: c7d06d1d-7550-7eb5-9a85-a8e6fb98b40e
* Content: [Tutorial: Azure Active Directory integration with GoToMeeting](https://docs.microsoft.com/e

[2020-06-18 19:14] MarileeTurscak-MSFT commented on #56556
Thanks @bgavrilMS! Closing this out.

[2020-06-18 19:16] BhargaviAnnadevara-MSFT commented on #57139
@tp6hannah Are there any further questions here?

[2020-06-18 19:17] TomGeske commented on #52091
currently being fixed.

#please-close

[2020-06-18 19:17] #52091 closed

[2020-06-18 19:23] Blackmist commented on #56252
@mkrdip the latest status on the monitoring SDK is that it is *not* being retired.

The note about retirement has been removed from almost all the docs as of today. There's one SDK page that still has it, and we're working through getting that removed now.

#please-close

[2020-06-18 19:23] #56252 closed

[2020-06-18 19:23] SubhashVasarapu-MSFT commented on #57271
@jstaley22 , Thanks for your feedback. We have assigned this issue to the respective content author for updating the doc accordingly.

[2020-06-18 19:24] robinsh commented on #57246
#reassign: @JimacoMS3

[2020-06-18 19:26] #29407 closed

[2020-06-18 19:29] JamesTran-MSFT commented on #57396
@erichenson
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-18 19:30] aleguillen opened #57399 "Create Service Principal steps are not correct"
Create Azure Credentials section has wrong code (https://docs.microsoft.com/en-us/azure/virtual-machines/windows/build-image-with-packer#create-azure-credentials). Current code to create Service Principal does not retrieve the correct password:
[code]

According to this other documentation (https://docs.microsoft.com/en-us/powershell/azure/create-azure-service-principal-azureps?view=azps-4.2.0#cre

[2020-06-18 19:34] BhargaviAnnadevara-MSFT commented on #57244
@HarrisburgUSysAdmin This is strange indeed. I've tried with two of my accounts, but see the 139 items listed for both. Could you please confirm if this is happening consistently at your end (across different sessions and browsers post cache refreshes)?

[2020-06-18 19:34] danmyhre opened #57400 "Missing details on permissions required"
This section (https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-accounts-permissions#create-the-ad-ds-connector-account) needs details on the permissions required in AD for group writeback.  Needs to have

- Create group objects
- Read/write on all group properties
- Delete on group objects

Delegated at the OU level where the group writeback is set to.

---
#### Doc

[2020-06-18 19:34] gavinbarron opened #57401 "Please reconsider the pre-requisites for this page."
Having the pre-requisites for this page cover BOTH username/password AND Facebook auth creates a lot of mental gymnastics and unnecessary work if all you want to support is MSA + AAD Multitenant.

I appreciate that there's a balancing act between budgets, reuse and clarity of documentation. I feel that re-using the current set of setup as pre-requisites makes it somewhat unclear as to how to confi

[2020-06-18 19:42] AjayKumar-MSFT commented on #57051
@robidas,  Under the section "Configure App Service to return a usable access token" in the [document ](https://docs.microsoft.com/azure/app-service/app-service-web-tutorial-auth-aad#configure-app-service-to-return-a-usable-access-token) - the document now mentions that,
"Navigate to [Azure Resource Explorer](https://resources.azure.com/) and using the resource tree, locate your front-end web app.

[2020-06-18 19:43] erikadoyle commented on #13804
NTLM is not supported as an authentication type; Windows authentication uses Kerberos. At one point, reverse proxy was indeed incompatible with Windows auth but support has since been added (let me know if you need to find the exact release version). Whenever possible, X.509 auth is the recommended auth type. I've updated the docs with this info too. Thank you! #please-close

[2020-06-18 19:43] #13804 closed

[2020-06-18 20:09] AjayKumar-MSFT commented on #57125
I have assigned the issue to the content author to review further and update the document as appropriate. Thanks for bringing this to our attention.

[2020-06-18 20:10] VipinAgarwal commented on #43686
I am getting error with both standard and waf versions of application gateway-

1 main.go:193] App Gateway SKU Tier Standard is not supported by AGIC version 1.2.0-rc3/32ea3149/2020-06-05-07:50T+0000; (v0.10.0 supports App Gwy v1)

[2020-06-18 20:13] #56807 closed

[2020-06-18 20:17] erikadoyle commented on #56807
Ugh, frustrating! Sorry about that. "Reliable Actors security configuration" is supposed to mean [FabricTransport settings for Reliable Actors](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-actors-fabrictransportsettings), which you only need if you're using reliable actors and require secure inter-service communication. I've updated the doc (should publish within t

[2020-06-18 20:19] skeeler commented on #57323
@SwathiDhanwada-MSFT , I did some more exploring on this issue and found that once I enabled the Diagnostics on this Linux VM (which appears to have installed the "LinuxDiagnostic" and "DependencyAgentLinux" extensions), the default syslog facilities appeared in the Log Analytics advanced default settings. I'd propose/recommend this page/doc be updated to note that the Linux Diagnostics extension(

[2020-06-18 20:19] EdwardP-VEN opened #57402 "Python Runbook support"
The Product Group says that Python Runbooks are not supported as Pre/Post scripts at this time. Please make a reference to that on this page. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 443146ec-fc40-657f-69fc-55c3b8ce3c8f
* Version Independent ID: 8c340541-5b88-b8a3-c547-791189d32c6b
* Content: [Manage p

[2020-06-18 20:20] MGoedtel commented on #55058
This behavior can be caused if you don't have Contributor rights to the Automation account.  Please check the RBAC permissions you have been granted, as the documentation is factually correct about deleting modules from an Automation account via portal or PowerShell cmdlet(s).  See the following [article](https://docs.microsoft.com/azure/automation/automation-role-based-access-control) about RBAC

[2020-06-18 20:20] #55058 closed

[2020-06-18 20:26] Oppedijk opened #57403 "Wrong webappname"
[Enter feedback here]
Under the "Test the custom policy" there is a reference to "webapp1"  however in the complete document that is not mentioned,

ProxyIdentityExperienceFramework (or IdentityExperienceFramework) should probably be the best.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bee63035-00ee-f7fd-97a1-69dae5

[2020-06-18 20:32] porrascarlos802018 opened #57404 "Concurrent operations"
This link states for premium, Concurrent operations but doesnt clarify how many concurrent operations can be done or which limits could apply for example load balancer or storage account?

https://docs.microsoft.com/en-us/azure/container-registry/container-registry-skus

please clarify.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-06-18 20:41] dreijer opened #57405 "UWP sample is out of date and references RecognizeSpeechAsync()"
The UWP portion of how to use the Speech SDK tells the reader to insert code in the RecognizeSpeechAsync() method, which isn't present in any of the provided UWP source code. It appears to exist in the C# sample code only.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4b55e56-55a1-d635-6bea-271dc361d676
* Version Ind

[2020-06-18 20:52] mike-urnun-msft commented on #57348
@Rutikhal Thank you for your feedback! We will review and update as appropriate.

[2020-06-18 20:54] mike-urnun-msft commented on #57388
@priyaananthasankar Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-06-18 20:57] mike-urnun-msft commented on #57394
@ssemyan Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-06-18 21:10] SaurabhSharma-MSFT commented on #57358
@DeanGross Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-06-18 21:23] mike-urnun-msft commented on #57363
@nonoxp Thank you for your feedback! We will review and update as appropriate.

[2020-06-18 21:43] mhopkins-msft commented on #57198
Hi @boazsha,

Thank you for reporting this. Unfortunately, when I enter -1 in the portal, I receive and error message that says the value must be between 1 second and 7 days. This looks like a bug in the portal.

@SumanthMarigowda-MSFT will you please report this as a product bug?

Once the portal bug is resolved, you can assign this back to me and I will update the documentation.

Thanks,
 ~ *Mar

[2020-06-18 21:47] hrasheed-msft commented on #56040
@Chreschtf Supporting Hortonworks Sandbox is not currently prioritized on the HDInsight roadmap. As you may have read, Microsoft recently announced development of [a Hadoop distribution 100% built and supported by Microsoft](https://azure.microsoft.com/en-us/blog/azure-hdinsight-and-azure-database-for-postgresql-news/), so the focus on  building features for that. If you'd like to provide feedback

[2020-06-18 21:47] MarileeTurscak-MSFT commented on #57403
@Oppedijk
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-18 21:48] MarileeTurscak-MSFT commented on #57401
@gavinbarron
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-18 21:51] jialinding opened #57406 "Suggested command is not supported"
In the "Table size queries" subsection, it is suggested to run the query "DBCC PDW_SHOWSPACEUSED" to measure distribution sizes. However, it seems that this command is not actually supported for Synapse.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 473726a0-19e3-a144-56ca-a66058f9ff67
* Version Independent ID: 820466

[2020-06-18 21:52] #57406 closed

[2020-06-18 21:53] jialinding commented on #57406
Sorry, I was using the command incorrectly. There is no issue :)

[2020-06-18 21:55] the-m4a opened #57407 "Learn More about MMA link on Azure Portal is broken"
I got to this feedback document using the feedback link from the likely intended target page, as I did not see a place on that page to file such feedback.

The "Learn More about MMA" link as seen here:
![image](https://user-images.githubusercontent.com/8787640/85075340-dd92e080-b172-11ea-9b51-ce879dfb4f4b.png)

Does not redirect properly to the _Log Analytics virtual machine extension for Windows_

[2020-06-18 22:10] MarileeTurscak-MSFT commented on #57031
Hi @jacksiergiej , can you please share the bug? I've been trying to track down the right team for this.

[2020-06-18 22:13] MarileeTurscak-MSFT commented on #57031
I have reported this to my contacts as well! Will follow-up when I have a response.

[2020-06-18 22:17] MarileeTurscak-MSFT commented on #57403
Thanks! Just made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/119471

[2020-06-18 22:17] #57403 closed

[2020-06-18 22:22] normesta commented on #57253
Hi @ydeenekamp - thanks for raising this to our attention. The article has been updated with the correct short version of megabits (Mb). Thanks again!

[2020-06-18 22:23] DerekHerman-MSFT commented on #57374
@D-Moonesinghe Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-18 22:23] MarileeTurscak-MSFT commented on #57401
I agree that it's a bit confusing. I made a pull request to exclude the Facebook part.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/119473

I will leave this open for review by @msmimart

[2020-06-18 22:23] #57401 closed

[2020-06-18 22:23] santhoshbomma9 opened #57408 "API reference authorization header(Get a token based on the Azure AD app.)"
This link in the API reference doesn't point to the right information or the information in the link should be updated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe8750da-cb47-7396-8d1b-0abff019a0be
* Version Independent ID: b19143ed-64c0-1554-5ac9-610513382609
* Content: [SaaS fulfillment APIs v2 in Microsoft comm

[2020-06-18 22:30] MarileeTurscak-MSFT commented on #57400
@danmyhre
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-18 22:30] gardnerjr commented on #57351
You should query alerts via the ARG provider instead.  the github version of these docs has been updated for a while, but it has not flowed to this page:

https://github.com/microsoft/Application-Insights-Workbooks/blob/master/Documentation/DataSources/DataSources.md#alerts-preview

[2020-06-18 22:33] MarileeTurscak-MSFT commented on #57400
I think this is a good callout and made a pull request to update the document. https://github.com/MicrosoftDocs/azure-docs-pr/pull/119476

[2020-06-18 22:33] #57400 closed

[2020-06-18 22:35] cackler opened #57409 "New-AzVM will result in error if original VM is connected to a load balancer"
This is a very useful script, thank you! But it can be improved by checking if the original VM is connected to a load balancer before removing the VM.

Otherwise, you can get this error when it reaches the step New-AzVM (and the original VM is already deleted):
ErrorMessage: Virtual Machine xxxx is using different Availability Set than other Virtual Machines connected to the Load Balancer(s) xxxx.

[2020-06-18 22:37] santhoshbomma9 commented on #56865
Thank you @dsindona and @SadiqhAhmed-MSFT !

[2020-06-18 23:01] MikhailTymchukFT opened #57410 "Is Synapse SQL pool (data warehouse) and SQL on-demand (pay per TB processed) (preview) are the same?"
I have read this section:

Azure Synapse has four components:

* Synapse SQL: Complete T-SQL based analytics – Generally Available
  * SQL pool (pay per DWU provisioned)
  * SQL on-demand (pay per TB processed) (preview)

and made a conclusion that I can easily create the same data warehouse using Azure portal if I switch to  Azure Synapse (workspaces preview).

Upon creation I saw a message which

[2020-06-18 23:04] #57235 closed

[2020-06-18 23:09] kbtran commented on #53855
Encountered the same error today as well trying to setup.
<img width="223" alt="FBError" src="https://user-images.githubusercontent.com/8130843/85080427-22c90980-b197-11ea-95c4-0eb73fda38fe.png">

[2020-06-18 23:11] rboucher commented on #53453
@natanimu Does this specifically have to do with Microsoft.Web/sites? https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported#microsoftwebsites-excluding-functions? Making sure as the text "IORead" appears in other places in the doc.

[2020-06-18 23:21] mike-urnun-msft commented on #56935
Hello @YujunXieODA Upon reviewing your feedback, we didn't determine any changes to this particular documentation. As such, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-18 23:21] #56935 closed

[2020-06-18 23:22] roberts2727 commented on #57188
So am I to take it that this means you cant use this sync connector if you
use exchange online for your users account mail? I am sorry but your answer
is not sufficient and your documentation is lacking clarity.

On Wed, Jun 17, 2020 at 12:21 PM PRMerger10 <notifications@github.com>
wrote:

--
Robert Woods
roberts2727@gmail.com
(303)502-4039

[2020-06-18 23:26] mairaw opened #57414 "Update the article to use V12"
I'm migrating the dot.net website to V12 (https://docs.microsoft.com/en-us/dotnet/api/overview/azure/storage?view=azure-dotnet#version-12x) and I've noticed this article still only shows code for V11. It would be good if it could be updated to show the newer SDK APIs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eff

[2020-06-18 23:35] ajeetk-github opened #57415 "This page has conflicting information"
At one page https://docs.microsoft.com/en-us/azure/search/query-lucene-syntax it is clearly said that for wildcard and prefix queries, the query text will not be analyzed so Lexical analysis step will not happen.  On the other side, in this page, in the end, you have suggested t use a different index and search query analyzer in the field settings. Since heading of this page is "partial term match

[2020-06-18 23:39] jeevansd commented on #55678
@dougmolineux It means that UPN is the value which is used as login name in the authentication flow. You can also pass the user's username as query string parameter as " username_hint" and with that Azure AD will auto populate that value. But if you are consuming this UPN value of a user in the token then we dont suggest to use this as unique identifier value in your app.

[2020-06-18 23:46] brjohnstmsft commented on #57415
@ajeetk-github Did you mean [this article](https://docs.microsoft.com/azure/search/search-query-partial-matching)?

[2020-06-18 23:58] BharathNimmala-MSFT commented on #56993
@anilrv Apologies for delay on this, i am checking with our document authoring team on this one. Will update the thread as soon i have some information.

[2020-06-19 00:20] dcbrown16 commented on #43408
@julieMSFT I think the point of this issue was that this script just makes an S0 server, gets the metric value, and then scales to S1 without caring what metric value was obtained. The crucial step of determining a threshold at which to scale doesn't seem to be present. Is that something you might consider adding?

[2020-06-19 00:30] g0pinath-metricon opened #57416 "Switch for service principal"
Can you please add a switch and also examples on how to use SPN creds.

I updated line 237 as below in order to put clientid and secret in the Get-credential pop-up window.

$Account = Add-AzureRmAccount @paramsplat -ServicePrincipal

Without -ServicePrincipal switch I get the below error when passing client id and secret for credential

The running command stopped because the preference variable

[2020-06-19 00:40] Mike-Ubezzi-MSFT commented on #57390
@replogle Thank you for taking the time to provide this feedback. I am going to have the content team evaluate this information and make any update to the document as appropriate.

[2020-06-19 00:53] ajeetk-github commented on #57415
yes!!

a) https://docs.microsoft.com/en-us/azure/search/search-query-partial-matching#use-different-analyzers-for-indexing-and-query-processing

b) Look at the above section and compare it with the info in the NOTE:  in
https://docs.microsoft.com/en-us/azure/search/query-lucene-syntax#bkmk_wildcard

why usage of different analyzer  is recommended if it is a partial match scenario (as per b) analys

[2020-06-19 00:54] KrishnaG-MSFT commented on #57402
@EdwardP-VEN Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-19 00:56] KrishnaG-MSFT commented on #57408
@santhoshbomma9 Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-19 00:56] Mike-Ubezzi-MSFT commented on #57410
@MikhailTymchukFT Is it possible the feature your are seeking is in preview and requires a request to have access to? Some of these Synapse Analytics features are in a private preview state but, to answer your question...SQL on-demand is likely [Azure SQL Serverless](https://docs.microsoft.com/en-us/azure/azure-sql/database/serverless-tier-overview) and yes, it is a different offering. I hope this

[2020-06-19 00:58] TravisCragg-MSFT commented on #57345
@jensmora Let me get some clarity on this limit and get back to you.

[2020-06-19 00:59] Karishma-Tiwari-MSFT commented on #57373
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-19 01:03] Karishma-Tiwari-MSFT commented on #57384
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-19 01:05] Karishma-Tiwari-MSFT commented on #57404
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-19 01:08] Karishma-Tiwari-MSFT commented on #57407
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-19 01:11] Karishma-Tiwari-MSFT commented on #57399
Thanks for the question. We are currently investigating and will update you shortly.

[2020-06-19 01:12] Karishma-Tiwari-MSFT commented on #57409
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-19 01:14] alexbuckgit commented on #56981
The only file I know it directly relates to is .markdownlint.json. Because I don't know the scope or root cause of the issue in markdownlint-cli, it could conceivably apply to any document for which someone runs `markdownlint --fix`.

I'll keep an eye on the open issue in the markdowlint-cli repo. The only remediation option I see at this point would be to remove the MD044 values from .markdownlin

[2020-06-19 01:30] linda33wj commented on #56093
Thanks for your feedback. Unfortunately Kerberos authentication is not supported now for Hive connector. Added a note in authentication description here: https://docs.microsoft.com/en-us/azure/data-factory/connector-hive#linked-service-properties
#please-close

[2020-06-19 01:30] #56093 closed

[2020-06-19 01:39] Grace-MacJones-MSFT commented on #53661
@andresbarcenas VNET integration for Linux  is now GA https://azure.github.io/AppService/2020/06/17/General-Availability-of-VNet-Integration-with-Linux-Web-Apps.html

[2020-06-19 01:49] #57339 closed

[2020-06-19 01:50] PramodValavala-MSFT commented on #57339
@mcalnd70 We have worked up an update for this doc. This should reflect in a couple of hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-19 01:54] TravisCragg-MSFT commented on #57375
@akhi3563 The Ciphers are configurable, and this is shown in [step 8 of the Define the IP Filter Action section](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-howto-ipsec-transport-private-windows#filteraction). Find the algorithm from the drop down list that meets your security requirements, and that both ends of the encryption can successfully use.

Note - The algorithms, Grou

[2020-06-19 01:54] #57375 closed

[2020-06-19 02:23] ram-msft commented on #57097
We could see copy and paste of the Endpoint "as is" from the Azure portal ("with the bing/v7.0 in it) gave the following error(Operation returned an invalid status code 'Resource Not Found') as shown below.
raise models.ErrorResponseException(self._deserialize, response)
azure.cognitiveservices.search.websearch.models._models_py3.ErrorResponseException: Operation returned an invalid status code 'R

[2020-06-19 02:30] Silvenga commented on #57202
I am sorry, I made this comment on the wrong page - it should be on https://docs.microsoft.com/en-us/azure/aks/ingress-static-ip. I was also completely wrong and misread the walk though - or in some way mixed it up.

Closing, a missing coffee moment.

[2020-06-19 02:30] #57202 closed

[2020-06-19 02:31] brjohnstmsft commented on #57415
@ajeetk-github Thanks for confirming. I'm working on tracking down the right people to answer your question.

[2020-06-19 02:44] DerekHerman-MSFT commented on #57414
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-19 02:47] ram-msft commented on #57405
@dreijer Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-06-19 03:09] JFolberth commented on #57383
[PR#7706](https://github.com/Azure/azure-quickstart-templates/pull/7706) for this submitted

[2020-06-19 03:27] SnehaAgrawal-MSFT commented on #57354
@nishshah1 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-19 03:29] SnehaAgrawal-MSFT commented on #57381
@sedwardstx Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-19 03:30] SnehaAgrawal-MSFT commented on #57382
@azurejoe Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-19 03:32] SnehaAgrawal-MSFT commented on #57391
@EGlennn Could you Please share the document link you are referring to help you better on this.

[2020-06-19 03:34] SnehaAgrawal-MSFT commented on #57416
@g0pinath-metricon Could you Please share the document link you are referring to help you better on this.

[2020-06-19 03:56] MikeChristensen opened #57420 "Running Powershell startup MySetup.bat doesn't work"
When I follow the directions as written and add the following to MySetup.bat:

[code]
 I get:

operable program or batch file.

My SetupEntryPoint looks like this:

[code]

I've also tried fully qualifying the path of Powershell.exe.

Is there something more that you need to do to run Powershell on setup?  Maybe not all accounts have access to it or something.  Anyway, I think the docs should be m

[2020-06-19 04:08] MikeChristensen commented on #57420
Ok, it seems the error occurs if you have a BOM in the MySetup.bat file, which every editor on the planet is going to add.  This is a ridiculous limitation.  Either way, it should be called out in the docs.

[2020-06-19 04:12] SnehaAgrawal-MSFT commented on #56981
@alexbuckgit As mentioned by @AshokPeddakotla-MSFT Could you please share the Azure document link you are referring to help you better on this.

[2020-06-19 05:43] o-l-a-v commented on #55058
@MGoedtel

Have you tried this yourself? I'm owner on the automation accounts (yes, multiple, same problem/ behavior) in question. Neither GUI or PowerShell works for removing AzureRM modules. At least not last time i tried some weeks ago.

[2020-06-19 05:56] rockboyfor opened #57422 "URI link error during the free tier cosmos db account deployment."
When we select the `Deploy to Azure` button to deploy free tier cosmos db account with following link,
https://docs.microsoft.com/en-us/azure/cosmos-db/manage-sql-with-resource-manager#free-tier-azure-cosmos-db-account

There is following error description during the deployment.
![image](https://user-images.githubusercontent.com/4704301/85100998-fe6f3a80-b233-11ea-8a45-862cffe85812.png)

Best Rega