[2022-05-21 05:45] DerekHerman-MSFT commented on #93234
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-21 05:47] DerekHerman-MSFT commented on #93242
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-21 06:26] rboucher commented on #92927
Hi @xuegao112 , Thanks for this information.  Researching.

[2022-05-21 14:44] lucasljsb commented on #57579
Any update for this?
Unfortunately after two years the documentation remains outdated.

I applied the approaches mentioned above and I'm awaiting several hours, but rules remains not working.

[2022-05-21 16:08] xenea opened #93243 "Error: Deployment Failed with Error: LinuxFxVersion or WindowsFxVersion should not be null"
**Flow:**

- push event to trigger GitHub Workflow
- build docker image and push to acr
- publish/update latest docker image to existing webapp (container based)

**Error:**
Deploying image ***/testing_site:$(git rev-parse --short HEAD) to App Service testing-site
Error: Failed to deploy image to Web app Container.
Error: Deployment Failed with Error: LinuxFxVersion or WindowsFxVersion should not

[2022-05-21 16:34] juliouribeMinTic opened #93245 "There is no Dicom Client library."
[Enter feedback here]
Please share the  Dicom Client library

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c22dfb9-f10e-812d-c9cd-58e9896d500e
* Version Independent ID: a2a3068d-7c0f-8397-ad7a-6c9ee0a31f94
* Content: [Using DICOMweb™Standard APIs with C# - Azure Health Data Services](https://docs.microsoft.com/en-us/

[2022-05-21 23:13] GeethaThatipatri-MSFT commented on #93245
Hi, @juliouribeMinTic Thank you for reaching out. We will look into it and update as appropriate.

[2022-05-21 23:26] hagiwaratakayuki opened #93246 "no endpoint url for cosmosdb emulater gremlin api"
Endpoint URL for Azure Cosmos DB Emulator Gremlin API does not exist in this document. If node.js, it looks ws://localhost.
 See
 https://github.com/Azure-Samples/azure-cosmos-db-graph-nodejs-getting-started/blob/main/app.js
https://github.com/Azure-Samples/azure-cosmos-db-graph-nodejs-getting-started/blob/main/config.js

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2022-05-21 23:52] mariomeyrelles opened #93247 "Clarify the options to return the access_token"
I had a bad time trying to return access_token from Azure B2C because it was not so clear that I should pass the client_id in the list of scopes to return the access_token. This is particularly painful in Postman's OAuth2 authentication because it only supports access_tokens today (may/2022).

Please clarify this issue with more emphasis. Also, it would be ideal to add and example of how to perfor

[2022-05-22 03:06] DerekHerman-MSFT commented on #93243
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-22 05:16] E-RELevant commented on #92278
@RyanHill-MSFT Whenever I do that, this is the result I get:
[code]

[2022-05-22 06:08] SaiKishor-MSFT opened #93249 "Link for HTTP status code does not seem valid"
"A healthy HTTP response has a [status code](https://msdn.microsoft.com/library/aa287675.aspx) between 200 and 399."

This page leads to https://www.microsoft.com/en-us/download/details.aspx?id=55979 page which does not have data regarding HTTP status codes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05a592c5-5d16-

[2022-05-22 06:11] SaiKishor-MSFT commented on #93249
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2022-05-22 06:38] assaf-grth commented on #93148
@MughundhanRaveendran-MSFT Hi,

Thank you for the details,

So in case the function app is deployed manually from VS or through a CI\CD pipeline, the code will not be accessible for read or write?

[2022-05-22 08:37] SadiqhAhmed-MSFT commented on #93247
@mariomeyrelles Thank you for your feedback. We will review and update as appropriate.

[2022-05-22 08:39] SadiqhAhmed-MSFT commented on #93246
@hagiwaratakayuki Thank you for your feedback. We will review this request with the content owner and update as appropriate.

[2022-05-22 09:49] miyohide opened #93250 "Incorrect value of `management.endpoints.web.exposure.include` in push refresh of App Configuration"
I'm trying the tutorial on this page.

The tutorial says to write `management.endpoints.web.exposure.include =" appconfiguration-refresh "` in` bootstrap.properties`. However, in the case of Spring Boot 2.6.7, the following error message is output and the boot fails.

[code]

In my environment, I successfully booted by writing `management.endpoints.web.exposure.include = appconfiguration-refresh,

[2022-05-22 10:03] guywi-ms commented on #93212
@jainrohitk Thanks for your feedback. We've submitted a documentation change based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.

[2022-05-22 10:04] guywi-ms commented on #93212
#please-close

[2022-05-22 10:04] #93212 closed

[2022-05-22 12:58] ElazarK commented on #92723
@fswgm Thank you for the feedback, I'm very happy to hear this article is so helpful. I will discuss this recommendation with the team to see if it is something they would like to implement.

[2022-05-22 13:01] ElazarK commented on #92723
#please-close

[2022-05-22 13:01] #92723 closed

[2022-05-22 13:38] GitaraniSharma-MSFT commented on #93249
@SaiKishor-MSFT , thank you for your feedback.

@greg-lindsay , for your review.

[2022-05-22 13:54] pseabury opened #93252 "Incorrect prerequisites in Container Apps Deployment Tutorial"
The tutorial at https://docs.microsoft.com/en-us/azure/container-apps/deploy-visual-studio is incorrect in stating that as a prerequisite "Visual Studio 2022 Preview 3 or higher" is required.  The publish targets for Container apps aren't available until the 05/10/2022 [release of Visual Studio 2022 17.2](https://devblogs.microsoft.com/visualstudio/visual-studio-2022-17-2-is-now-available/#azure-d

[2022-05-22 14:34] SreejaBhattacharya-MSFT commented on #93071
@suzizuber I'm unable to update the document. Could you please update it?

[2022-05-22 17:23] iwafula025 opened #93255 "Command to execute is placed below relevant step"
Under "Generate sample data"
Step. 4 in the document refers to the command being above yet its below. Shold read run the "above command"
PowerShell

Copy
.\LogGenerator.ps1 -Log "sample_access.log" -Type "file" -Output "data_sample.json"
Run the script using the following command to read this data and create a JSON file called data_sample.json that you can send to the custom logs API.

---
#### Do

[2022-05-22 18:57] jfdoyon commented on #91787
Seconded. Additionally, my firewall keeps blocking traffic destined to OneDsCollector related IPs that are not documented elsewhere. So not only is the existence of the tag not documented, it's uses and interdependencies should also be documented, as it seems it's kind of needed to let some types of traffic through. Thanks!

[2022-05-22 19:54] samaea opened #93256 "More guidance around migrating from SignalR (.NET Framework) to Azure SignalR"
Hi all,

Those migrating over from SignalR Asp.net (.NET Framework) will typically have configured a custom SignalR endpoint path (instead of the default /signalr path). As such, it would be useful to include an example of doing this to make their clients compatible without further code changes.

An example below shows this:-

[code]

[2022-05-22 19:57] JustinGrote opened #93257 "Should link to article or code where all the dependency types are and what icons they produce"
Under the dependency types header, it should list or link to an article that lists all the available dependency type strings and their matching icons. If the code where this is defined is available it should link there too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62521082-c9fb-646f-6db0-2cdabe486dab
* Version In

[2022-05-22 21:57] bjorhn commented on #91850
Is there an update regarding this issue? It seems impossible to get Modin working properly using either pip or conda. I somehow managed to get it installed in a compute instance last week, which I am unable to reproduce, but even that instance produces an error when performing certain dataframe operations that I can find no references to online.

[2022-05-22 22:25] DerekHerman-MSFT commented on #93250
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-22 23:51] DerekHerman-MSFT commented on #93252
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-22 23:59] sr-msft commented on #92797
Thanks @naokitakeda14 for pointing that out. I will fix it in the next update.

[2022-05-23 01:47] aaronswebs opened #93258 "ADF correction for AZs vs GRS?"
In the data redundancy page for Azure Data Factory, there is no mention of AZ resilience, yet a statement for Geo Pairing. "In all regions (except Brazil South and Southeast Asia), Azure Data Factory data is stored and replicated in the [paired region](https://docs.microsoft.com/en-us/azure/availability-zones/cross-region-replication-azure#azure-cross-region-replication-pairings-for-all-geographie

[2022-05-23 01:49] aaronswebs opened #93259 "Update for ZR capability?"
The table in [Azure services that support availability zones](https://docs.microsoft.com/en-us/azure/availability-zones/az-region) shows ADF as being resilient with ZR capability. This page however only refers to geo pairing for resilience. Is an amendment required in this doc for consistency as this is confusing for customers implementing a single region resilience plan.

---
#### Document Detail

[2022-05-23 02:39] AjayKumar-MSFT commented on #93256
@samaea,  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-05-23 02:54] yutaro113 opened #93260 "Question about SQL Server Service Account setup procedure."
Hi Team,

I am trying to follow up the instruction mentioned in this doc and have 1 question.

In the below step, it's mentioned "Right-click the SQL Server service, and then select Properties" but  actually we cannot find "Properties" even if we click there, but we can find it when we click "SQL Server service > SQL Server (MSSQLServer)".
Is the doc description correct?
Thanks for the confirmatio

[2022-05-23 03:07] KranthiPakala-MSFT commented on #93234
@abhaybhangale Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](http

[2022-05-23 03:37] PriyankaRudramaina commented on #93260
@yutaro113
Thank you for your feedback. We will investigate and update the thread further.

[2022-05-23 03:44] KrishnaG-MSFT commented on #93255
@iwafula025 Thanks for your comment! We will review and provide an update as appropriate.

[2022-05-23 04:20] MughundhanRaveendran-MSFT commented on #93148
@assaf-grth , Yes. The code will not be visible in the "code+test" page in portal. However in the Kudu site, you can see the files and folders but you cannot edit/write

[2022-05-23 04:23] ericwj commented on #14254
Its a massive download though at 5x Express Core and 25x LocalDB, it takes literally half an hour to start no joke and uses as much memory as the whole system including docker had in use before starting that container.

Even after moving the whole system to an SSD, I have as of yet been unable to open a table designer in Visual Studio.

I don't know what it is doing, but it is too much. Massively

[2022-05-23 05:01] ShaikMaheer-MSFT commented on #93259
@aaronswebs Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-05-23 05:04] ShaikMaheer-MSFT commented on #92942
@whhender Thank you. I assigned issue to author and on you name. Hope that is fine. Thank you.

[2022-05-23 05:09] #92953 closed

[2022-05-23 05:30] Bozhong68 commented on #93114
@sunnyhay you can make http GET call to the scoring URI without "/score", for example, using your scoring URI above, it will be  http://[IP address]:80/api/v1/service/modelscoring36

Hope this helps!
Bozhong

[2022-05-23 05:50] SwathiDhanwada-MSFT commented on #93257
@JustinGrote Thanks for your comment. We will review the issue and get back to you shortly.

[2022-05-23 06:00] SreejaBhattacharya-MSFT commented on #92952
@Ajayan1008 could you please take a look at this.

[2022-05-23 06:02] SadiqhAhmed-MSFT commented on #93145
@ctahok Could you please share the support request # for reference?

[2022-05-23 06:11] mountain65 commented on #88161
I have not tried it and I  don't find it a very elegant solution, but if @martinkuchar says it works then I  accept it.
Do you want me to close the issue or will you do that when changes to the documentation have been made?

[2022-05-23 06:28] PolarbearChimney opened #93261 "Not consistent with reality in Azure"
In the video the workbook is shown from the Monitor Blade, but inside the monitor blade the workbooks dosent exists.
It alsy says that you can pin whatever you want to a dashboard to tailor whats most important to me, but thats not possible. You can only pin a shortcut to the entire workbook.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2022-05-23 06:32] Vikram1988 commented on #92717
@bhpat I have requested for the change as suggested in the docs to make it more explicit- "at the subscription level"

[2022-05-23 06:37] pnarsi opened #93262 "Block PostgreSQl password authentication"
The document mentioned that an Azure AD admin (PostgreSQL) is allowed to create users based on either PostgreSQL password authentication (i.e. local credentials) or Azure AD users and groups.

This there are a way to block creation of users using PostgreSQL password authentication similar to what is available in Azure SQL? https://docs.microsoft.com/en-us/azure/azure-sql/database/authentication-az

[2022-05-23 06:40] gbms311 opened #93263 "IGA -Catalog CUSTOM EXTENSIONS - missing sub step when selecting"
Small omission, which makes it unnecessarily confusing. The instructions to access the 'Customs Extensions' mention

**_3. In the left menu, select Catalogs.

4. In the left menu, select Custom Extensions (Preview)._**

Would be more accurate to state

**_3. In the left menu, select Catalogs, then Select your Catalog name displayed on the right to open the properties

4. In the left menu, select C

[2022-05-23 06:41] AnuragSharma-MSFT commented on #93083
@rodrigogq Thanks for your patience. As per the same article, "**_Compound indexes are only used in queries that sort results. For queries that have multiple filters that don't need to sort, create multiple single field indexes._**"

That means if we are sorting the documents in the collections by using multiple fields then we need to create compound index, and for that matter we need to create co

[2022-05-23 06:49] guywi-ms commented on #93255
@iwafula025 Thanks for your feedback! We've submitted a documentation change based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.

[2022-05-23 06:50] guywi-ms commented on #93255
#please-close

[2022-05-23 06:50] #93255 closed

[2022-05-23 07:06] AnuragSharma-MSFT commented on #93210
@simon-says-test Thanks for your patience. This is being assigned to the content author to evaluate and update as appropriate.

[2022-05-23 07:08] rtebrake opened #93265 "Workspace URL incorrect"
The workspace URL listed for Azure Virtual Desktop is incorrect, it now lists the webclient URL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17be4454-e9d7-a43c-4a07-45d7d4760ce0
* Version Independent ID: 421a7982-47d5-348c-8a3a-d8308a74242d
* Content: [Connect to Azure Virtual Desktop with the Microsoft Store client

[2022-05-23 07:18] kobulloc-MSFT commented on #92952
@fswgm I checked this in both Safari and Chrome on a Mac and in Chrome on a PC and it appears that they render the same.  The spacing in particular is pretty tight (especially compared to some other articles, like https://docs.microsoft.com/en-us/azure/azure-vmware/plan-private-cloud-deployment) but this looks like it is by design.  I'll pass this feedback along to the documentation team.

Mac (Sa

[2022-05-23 07:37] kobulloc-MSFT commented on #92952
@fswgm I've got a PR out for this that will take a couple days to go live.  Thank you again for bringing this to our attention and helping to improve the Microsoft docs!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-05-23 07:37] #92952 closed

[2022-05-23 07:55] phatcher commented on #92775
@MughundhanRaveendran-MSFT There is the wider issue of working out *why* it needs such wide permissions and working on reducing that surface

[2022-05-23 08:31] KrishnaG-MSFT commented on #93132
@rmagalla I dont see any difference in "is" part to "should be" part. Can you please clarify?

[2022-05-23 08:47] adityabalaji-msft commented on #93261
Hi @PolarbearChimney - thanks for reaching out. Yes, there have been some changes in the portal wherein the title of the blade is now backup explorer instead of generic Azure Monitor. We will add a note in the article to reflect the same.

On the 'pin to dashboard' question, you can select individual grids in explorer and pin those to the dashboard (examples in screenshot below). Let us know if yo

[2022-05-23 09:09] SreejaBhattacharya-MSFT commented on #93265
Hello @rtebrake , thanks for pointing it out. I'm looking into this.

[2022-05-23 09:29] rachelxj-ms opened #93270 "Linux dependencies are still required in ASEv3, please state it in ASEv3 networking architecture"
In this document, we only suggest customer add 80/443 inbound rules, but the document doesn't state 80/443 outbound rules.
But for linux app deployed in ASE, Linux dependencies are only a concern if you are deploying Linux apps into your ASE. This is stated in ASEv2 (https://docs.microsoft.com/en-gb/azure/app-service/environment/firewall-integration#configuring-third-party-firewall-with-your-ase).

[2022-05-23 09:43] shwetamathur7 commented on #93263
@gbms311 Thank you for your feedback. We will investigate and update the thread.

[2022-05-23 09:52] iwafula025 opened #93271 "Transformation query under step 6 does not produce expected results"
Seems to be parsing issue here. However, the two queries that follow do work as expected

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff27c536-d522-1480-f886-3d4d3d96b302
* Version Independent ID: 332e8683-7525-edc9-52ad-3e858ac513c3
* Content: [Tutorial - Send custom logs to Azure Monitor Logs (preview) - Azure Moni

[2022-05-23 09:53] AnuragSingh-MSFT commented on #92691
@Meertman, thank you for clarifying the question. I have reached out to our team and will update you as soon as I have more information.

[2022-05-23 09:55] KostovBG commented on #51708
I have the same issue. This "cache" persists even through multiple app restarts and code redeployments.
Using a `SecretVersion` is not a solution but a workaround and it means I have to write even more automation to handle this.

[2022-05-23 09:57] vunvulear opened #93272 "Broken link"
The link to 'https://servicetrust.microsoft.com/ViewPage/BlueprintOverview' is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 913eb9d9-46f5-0d3f-c9c8-3627d907b3bc
* Version Independent ID: da492deb-891c-cee7-e5f4-febd96e9a5ba
* Content: [Secure development best practices on Microsoft Azure](https://docs.microso

[2022-05-23 10:02] #93265 closed

[2022-05-23 10:36] PriyankaRudramaina commented on #93260
Hello @yutaro113,

The document has right steps. What it meant was about the SQL Server Service only just like it is in Services.msc

Set the SQL Server service accounts
On each SQL Server VM, set the SQL Server service account. Use the accounts that you created when you configured the domain accounts.
https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/availability-group-man

[2022-05-23 10:36] #93260 closed

[2022-05-23 10:40] yoelhor commented on #87652
The default error message configures a generic error message for unexpected errors. There are two errors that are related to the invalid username or password. One error for the username as [blindfish3](https://github.com/blindfish3) mentioned above. The other one is for the password.

[code]

With regard to the other languages. We provide the [TrustFrameworkLocalization.xml](https://github.com/Azu

[2022-05-23 10:41] AnuragSharma-MSFT commented on #93262
@pnarsi Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-05-23 10:49] SreejaBhattacharya-MSFT commented on #93070
@xenea
I have raised a PR for this that will take a couple of days to go live. Thank you for helping us improve Microsoft Docs. We will resolve this issue now, meanwhile if you have any queries, feel free to tag me in your comments and we will continue the conversation from here.

[2022-05-23 10:49] #93070 closed

[2022-05-23 11:05] shwetamathur7 commented on #93193
@tomatsue I have tried password with trailing whitespace to get the access token using ROPC flow through postman and its returning the response successfully.  Could you please share the code snippet where you are configuring the ROPC flow and getting the error.

[2022-05-23 11:08] ShaikMaheer-MSFT commented on #92973
@mehdiaz Below document shows how to import a [Hive table](https://spark.apache.org/docs/latest/sql-data-sources-hive-tables.html) from cloud storage into Azure Databricks using an external table.

In process of explaining same in step1, it shows using HIVE commnand line to just to see the **CREATE table script** of Hive table and then copy that script to databricks to change it accordingly to cre

[2022-05-23 11:25] bj-tukker opened #93274 "Incomplete procedure for updating certificate in Keyvault"
Hi,

I'm missing the Azure Powershell or Azure CLI commands to do the update in the keyvault on this page.
Also, what is the best way? Adding a new certificate to the Keyvault, or update the current certificate that needs to be upgraded? And need the older certificates be disabled? And how can the 4-hour polling be shortened or the application gateway be forced to use the new certificate?

---
###

[2022-05-23 11:44] batamig commented on #93130
Hi @iovex, thanks for writing into docs! I'm glad you told us that this wasn't 100% clear, and we're going to fix that in a coming publish.
I'm going to close this for now to prevent double-tracking, but feel free to continue commenting here as needed.
We appreciate your contribution to docs!

#please-close

[2022-05-23 11:44] #93130 closed

[2022-05-23 11:47] TarekNabeel commented on #92741
Hello ,

Any updates here ?

[2022-05-23 11:50] AnuragSharma-MSFT commented on #93206
@MichaelBrooks-Informatyx Thanks for your patience. I was able to reproduce the issue. I have created the Pull Request and waiting for it to be merged. It could take few days, below is the screenshot of change:

<img width="1200" alt="image" src="https://user-images.githubusercontent.com/66360845/169812991-c2a0f37d-3f2b-4b20-ad2c-3301520a8493.png">

Please let us know if you have any further quest

[2022-05-23 11:53] TarekNabeel commented on #92742
Hello,

Any updates here ?
Maybe to make short and clear ,

"When using GRS replication on Storage account this will ensure high availabilty for Azure Files Share backup"

Correct me if this statement is not right .

[2022-05-23 12:05] maweeras-msft opened #93276 "AAD Connect requirement for FIDO2 and hybrid AAD joined devices"
The requirements table lists a need for AAD Connect 1.4.32.0 or later. Is this correct or should this be updated to reference AzureADHybridAuthenticationManagement module (https://www.powershellgallery.com/packages/AzureADHybridAuthenticationManagement/) instead?

The current requirements will discourage/confuse AAD Cloud Sync (https://docs.microsoft.com/en-us/azure/active-directory/cloud-sync/) c

[2022-05-23 12:13] tomatsue commented on #93193
@shwetamathur7 Could you try the following repro steps?

**Repro steps**

1. [Create a test user ](https://docs.microsoft.com/en-us/powershell/module/microsoft.graph.users/new-mguser?view=graph-powershell-beta#example-1-create-a-new-user) with a password with a trailing whitespace.
[code]
2. Confirm the password works on normal interactive sign-in pages.
3. Try to get a access token in [the ROPC f

[2022-05-23 12:29] MonikaReddy-MSFT commented on #93271
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-05-23 12:39] GeethaThatipatri-MSFT commented on #93004
Hi, @giesedb Changes have been updated and you will see the changes in the next 24hrs thanks again for your feedback on improving our documents.

[2022-05-23 12:39] #93004 closed

[2022-05-23 12:41] GitaraniSharma-MSFT commented on #93274
@bj-tukker , thank you for your feedback. We'll review this and get back to you shortly!

[2022-05-23 12:50] peterboba opened #93277 "Misleading storage related paragraph"
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-manage-quotas#storage

I believe this paragraph does not apply anymore since the quota was bumped from 200->250 storage accounts. https://github.com/MicrosoftDocs/azure-docs/issues/40084

[code]

[2022-05-23 13:07] #92456 closed

[2022-05-23 13:07] yoelhor commented on #93079
1. Please see the reply to the [#87652](https://github.com/MicrosoftDocs/azure-docs/issues/87652) issue
2. The password `PatternHelpText` is a property of the `newPassword` and `reenterPassword ` claims and should be configure through the [ClaimType](https://docs.microsoft.com/en-us/azure/active-directory-b2c/localization#claimtype). The claim types don't appear in the the [localization IDs docume

[2022-05-23 13:15] yoelhor commented on #88261
If you set the `accessTokenAcceptedVersion` attribute to 2 and still get an error message, please check the supported account types of your application. You can find it in the app's manifest. It should be

[code]

If it's not `AzureADMyOrg` please recreate your application. In the [Register your SAML application in Azure AD B2C](https://docs.microsoft.com/azure/active-directory-b2c/saml-service-pr

[2022-05-23 13:33] DeanGross opened #93278 "Clarification of wording"
The manual dismiss user risk section states that  "will cause the user to no longer be at risk". I don't think that this is accurate, dismissing the risk does nothing to ensure that an attacker has not obtained the current password. It seems to me that the risk to the organization still exists until the password is changed, it just is not getting displayed on the report.
If my understanding is cor

[2022-05-23 13:35] pjfreitas opened #93279 "Change 'Run As account' to 'Run As credential'"
- In this article: https://docs.microsoft.com/en-us/azure/automation/automation-hrw-run-runbooks#use-runbook-authentication-with-run-as-account
- The following terminology should be clarified.
**Observed**: Use runbook authentication with Run As account
**Expected**: Use runbook authentication with Run As credential

**Justification**: To avoid confusion with the ‘other’ Automation Account: [Manag

[2022-05-23 13:48] alexwolfmsft commented on #93252
Thank you for mentioning this - it will be addressed shortly in an upcoming PR.

#please-close

[2022-05-23 13:48] #93252 closed

[2022-05-23 14:09] TheRealSvc opened #93280 "tutorial-nested-iot-edge.md with X.509 simulatedTemperatureSensor Module with error"
I followed the above tutorial with two raspberry-pi's as top-layer and lower-level devices.
I didn't connect using symmetric key but X.509
This is my iotedge_config.yaml:

[code]

I created the two zip-bundles and copied the certificates over to the devices.
After deploying both deploymentTopLayer.json and deploymentLowerLayer.json, the top-layer device seems fine.
Also the lower-layer devices fet

[2022-05-23 14:36] scaravacap opened #93282 "Script Doesn't Work in PowerShell 7"
Hi team,

Maybe we should mention somewhere in this page that the script doesn't work in PowerShell 7, it throws and error related to "AllowReversiblePasswordEncryption" I didn't know what was wrong until I found this GitHub issue: https://github.com/Azure-Samples/azure-files-samples/issues/58 .

I ran it on PowerShell ISE (which I think was using version 5) and everything works fine. You can try

[2022-05-23 14:37] shwetamathur7 commented on #93280
@TheRealSvc Thanks for your feedback. We will investigate and update the thread.

[2022-05-23 14:37] whhender commented on #92942
@ShaikMaheer-MSFT - That's just fine! I'm working on this this week. Thanks!

[2022-05-23 14:39] shashishailaj commented on #93276
@maweeras-msft Thank you for your inputs. We will get this reviewed internally and update the thread.

[2022-05-23 14:39] InformTechPro opened #93284 "Missing information on version 1.4.1"
Please update information on the bug fixes in the latest version 1.4.1. At this moment the document says that the latest version is 1.3.

## Tech support and product feedback
If you would like to contact Microsoft about other things, such as product feedback or tech support, please review these guidelines:

- If you need technical support using Azure, the paid and free support options are describe

[2022-05-23 15:08] #88617 closed

[2022-05-23 15:23] sreekanthnaga opened #93286 "Command to view partition ownership"
Could you help with the command to view the partition ownership as shown in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27b148ea-a4e1-f9c1-0345-2b090be9db1b
* Version Independent ID: c149af73-514a-39b8-3fdf-9a59bb9def2f
* Content: [Balance partition load across multiple instances - Azure Event Hub

[2022-05-23 15:24] spelluru commented on #93192
@junpark12 - Thank you for the feedback. We are working with the product team to include this missing information. Thanks.

[2022-05-23 15:54] Oury-MSFT commented on #93180
@traderhut Could you please provide some clarification. Thanks

[2022-05-23 15:54] TBSJordanNash opened #93288 "PowerShell: Returns "Microsoft.Graph.PowerShell.Models.MicrosoftGraphSignInActivity" instead of value"
If you execute this script:
`
Import-Module Microsoft.Graph.Users
select-mgprofile -name "beta"
Connect-MgGraph -Scopes "AuditLog.Read.All","Directory.Read.All"

Get-MgUser -Property "displayName,userPrincipalName,signInActivity" -all | Export-csv "$((Get-Date -format FileDateTimeUniversal).toString())_user_signins.csv"
`

![Screenshot 2022-05-23 105341](https://user-images.githubusercontent.com/1

[2022-05-23 15:58] bandersmsft commented on #93228
@diwhitman-msft Let's discuss this offline. Github comments are publicly viewable.

#please-close

[2022-05-23 15:58] #93228 closed

[2022-05-23 15:58] YutongTie-MSFT commented on #92988
@aldelar Thanks again for the feedback, I have updated the document and you will see it be alive soon.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-05-23 15:58] #92988 closed

[2022-05-23 16:01] bandersmsft commented on #93228
@diwhitman-msft Please email me at banders@microsoft.com.

[2022-05-23 16:01] MughundhanRaveendran-MSFT commented on #93097
@norvegec , I hope the information provided helps. I will close this issue for now. Feel free to reopen if you have any questions

[2022-05-23 16:01] #93097 closed

[2022-05-23 16:09] andrewbrownmsft commented on #82917
#reassign:esha0611

[2022-05-23 16:12] iFelinto opened #93289 "Incomplete Video Index Custom Person Model Documentation"
This page is really incomplete. It lacks the information on how to Create new Person, How to Check if a Person already exists in order to avoid duplicates, there is no information regarding the management of the Faces used to build the model for each person. It is really frustrating. One has to chase the info across multiple places in order to achieve the full implementation of the feature.

Pleas

[2022-05-23 16:13] sunnyhay commented on #93114
@Bozhong68 Yes, this works! Thanks a lot!

[2022-05-23 16:13] #93114 closed

[2022-05-23 16:16] MughundhanRaveendran-MSFT commented on #93055
@FObersteiner , I have made the changes to the python code snippet and it will be published soon. I will close this issue for now, feel free to reopen this issue if needed

[2022-05-23 16:16] #93055 closed

[2022-05-23 16:18] MughundhanRaveendran-MSFT commented on #93148
@assaf-grth , I hope the above information helps. I will close this issue for now. Feel free to reopen this issue if needed

[2022-05-23 16:18] #93148 closed

[2022-05-23 16:36] YutongTie-MSFT commented on #93002
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-23 16:41] leonandroid opened #93293 "Page explains how to use connection strings, but not using the "connection string" section in Azure"
Hello.

So I got to this page, useful but not quite, I did all steps provided in the description, my application is working now fetching the right connection string, so I was wondering what kind of setting was created after these steps.

I went to my portal, and noticed a new connection string key was added under the APPLICATION SETTINGS section, I was expecting it to be under the CONNECTION STRIN

[2022-05-23 16:42] kengaderdus commented on #93079
@blindfish3

Let us know if @[yoelhor](https://github.com/yoelhor)'s response helps.

[2022-05-23 16:46] kengaderdus commented on #87652
@stephanieguyot

Let us know if @[yoelhor](https://github.com/yoelhor)'s response helps.

[2022-05-23 16:49] kengaderdus commented on #90010
#please-close

[2022-05-23 16:49] #90010 closed

[2022-05-23 16:50] tasha-rooney-ul commented on #83928
Hi [JamesTran-MSFT](https://github.com/JamesTran-MSFT). It seems like this issue in the docs hasn't been fixed yet, as I have just come across the same problem and was about to raise the same GitHub issue. Is there any update regarding this incorrect documentation?

[2022-05-23 16:57] TBSJordanNash commented on #93288
Upon closer review of the generated CSV, I've noticed that the sign-in dates are inaccurate, probably due to us being hybrid with some accounts doing on-prem login only. The next step will be to retrieve a similar listing for on-prem AD and then integrating the two together in Power BI Desktop (which doesn't support direct MS Graph API queries :-( ).

[2022-05-23 16:59] JamesTran-MSFT commented on #83928
@tasha-rooney-ul
Thank you for following up on this!

Can you share where you're still seeing the issue? From the [CompareClaims](https://docs.microsoft.com/en-us/azure/active-directory-b2c/string-transformations#compareclaims) and [CompareClaimToValue](https://docs.microsoft.com/en-us/azure/active-directory-b2c/string-transformations#compareclaimtovalue) sections, the `ignoreCase` Data Type looks

[2022-05-23 17:01] aaronnavratil commented on #59437
Hi all - I'm not sure why MS has been silent on this, but in all my cases the last 32 bits of the ipv6 is a mapping to the ipv4 address subnet/scope configured on the vnet. So in CA policy if you create a conditional access policy with the ipv6 address with the first 96 bits + the mask bits for your ipv4 network (i.e /24).

So if you had 192.0.2.0/24 for the vnet ipv4 subnet - the resulting ipv6 a

[2022-05-23 17:29] JamesTran-MSFT commented on #93217
@johnnyqian
Thank you for your time and patience throughout this! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-23 17:33] KranthiPakala-MSFT commented on #93286
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-05-23 17:36] himanshusinha-msft commented on #93231
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2022-05-23 17:47] brmarti116 opened #93298 "Narrow Policy-Based traffic selectors not supported in conjunction with NAT configuration."
Hello, we need the following added to this document, policy-based TS are not supported with NAT configuration:

..."Policy-Based (narrow) traffic selectors and/or <INSERT: IKEv1 IPsec connections> are not supported in conjunction with NAT configuration"

We have seen several customers using Route-based IKEv1 connections and running into the same issue that have opened CSS support cases to address

[2022-05-23 18:11] quentinb-spindance opened #93302 "Preview Status for Retry Policies?"
Is the "Retry Policies" section still in preview? I notice that it references pulling a now-outdated version of the WebJobs library, and the sections that describe this as a preview have not updated for about two years.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da28e92f-8a1e-9937-4547-180e26ede62e
* Version Indepe

[2022-05-23 18:16] KrishnaG-MSFT commented on #93279
@pjfreitas Thanks for your comment! We will review and provide an update as appropriate.

[2022-05-23 18:18] RooneyMcNibNug opened #93303 "404 page not found for hyperlink on Documentation Page"
Under the **Configuring user provisioning to GitHub** section of the page, there is a hyperlink for "[provisioned to a GitHub organization via SCIM](https://docs.github.com/en/free-pro-team@latest/rest/reference/scim#provision-and-invite-a-scim-user)" that leads to https://docs.github.com/en/free-pro-team@latest/rest/reference/scim#provision-and-invite-a-scim-user , which no longer exists, apparen

[2022-05-23 18:20] JamesTran-MSFT commented on #93303
@RooneyMcNibNug
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-23 18:20] JamesTran-MSFT commented on #93278
@DeanGross

[2022-05-23 18:21] #93278 closed

[2022-05-23 18:23] brmarti116 opened #93304 "Need a better definition on what is preferred for ExpressRoute/VPN when HUB routing is concerned."
From this section:

"How does the virtual hub in a virtual WAN select the best path for a route from multiple hubs?
If a virtual hub learns the same route from multiple remote hubs, the order in which it decides is as follows:

1) Longest prefix match.
2) Local routes over interhub.
3) Static routes over BGP: This is in context to the decision being made by the virtual hub router. However, if the

[2022-05-23 18:23] JamesTran-MSFT commented on #93303
@RooneyMcNibNug
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

Old URL - https://docs.github.com/en/free-pro-team@latest/rest/reference/scim#provision-and-invite-a-scim-user
New URL - https://docs.github.com/en/rest/scim#provision-and-invite-a-scim-user

I will now close out this issue. Please allow

[2022-05-23 18:23] #93303 closed

[2022-05-23 18:25] AjayKumar-MSFT commented on #89860
@JohanKlijn, as discussed on the [Q&A thread](https://docs.microsoft.com/answers/questions/843740/index.html)- **SummarizedInsights** is a shorter version of the insights. We highly recommend using Insights and not using SummarizedInsights. We also recommend passing _&includeSummarizeInsights=false_ in GetVideoIndex api to save time and reduce response length. We didn’t remove the SummarizeInsight

[2022-05-23 18:26] sandervandevelde opened #93305 "Is Raspberry PI Bullseye also supported by Defender for IoT agent installation?"
Hello,

As Azure IoT Edge is [supporting Debian 11 (Bullseye)](https://azure.microsoft.com/en-us/updates/azure-iot-edge-supports-debian-bullseye-arm32v7/) on a Raspberry PI, I was hoping to install the Defender for IoT agent on this device.

But when I follow the Debian installation steps, I get an exception:

        sudo apt-get install defender-iot-micro-agent

        Reading package lists...

[2022-05-23 18:39] brucenelson6655 opened #93307 "Video is out of place -"
Video is for Amazon .. not Azure ..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f7878b3-af02-f3e2-9985-34b6a1449d4c
* Version Independent ID: 3a00fb4f-c363-9341-89a9-c37efb1cf80c
* Content: [Access the admin console - Azure Databricks](https://docs.microsoft.com/en-us/azure/databricks/administration-guide/admin-con

[2022-05-23 18:43] MartinJaffer-MSFT commented on #93213
I haven't heard back from you @PingPongSet .  Are you still facing the issue?

[2022-05-23 18:49] Foozinator opened #93309 "apiVersion information is out of date"
The enumeration in the field list shows an old 2018 date, while the example shows 2021-07-01.  Please provide a listing of valid apiVersion values.

Also, 2021-07-01 doesn't appear to work ( and neither does '2021-07-01' nor "2021-07-01" )
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d76dd9b1-b82f-0f68-0f82-dac7275885

[2022-05-23 19:16] mloskot opened #93310 "Undocumented location of URL of the inventory report CSV file"
The page says

but it does not point or explain where to obtain the URL from.

Is this the `manifestBlobUrl` displayed on this page? https://docs.microsoft.com/en-us/azure/storage/blobs/blob-inventory

Well, the mixture of naming conventions does not help in linking the right dots...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2022-05-23 19:23] MartinJaffer-MSFT commented on #93232
@lon-tierney  is this in regards to the yellow "important" note saying:

[2022-05-23 19:34] lon-tierney commented on #93232
Agreed. This is a recommendation on the documentation to be updated to be more clear.

[2022-05-23 19:37] csabagal commented on #50235
Hi,

Thank you for your notification.

Csaba Gál
IT Operations Manager

Mobile: +36 70 637 17 15

*BIMobject Hungary Kft.*
Váci út 47 E
1139 Budapest
Hungary

***@***.***
http://bimobject.com

On Wed, 20 Apr 2022 at 19:06, Mike Crowley ***@***.***> wrote:

[2022-05-23 19:46] mbender-ms commented on #93172
A doc bug for the Azure Latency chart issues regarding out-of-date information has been created.  Since there are multiple issues related to this page, I am currently investigating this issue with the Product team and will be closing all the open issues.

When a resolution is published, I'll report back here.

#please-close

[2022-05-23 19:46] #93172 closed

[2022-05-23 19:49] bjameshunter opened #93311 "Conflicting Documentation"
Hi.

Earlier in the documentation I am explicitly told that among OSM's capabilities and features are integration with Azure Kubernetes Ingress Controller. https://docs.microsoft.com/en-us/azure/aks/open-service-mesh-about#capabilities-and-features

This page tells me it is not compatible nor recommended.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2022-05-23 19:51] MartinJaffer-MSFT commented on #93169
I did send an email to @joshuha-msft and @ssabat on Friday, @nateinindy .  I haven't received any word back.  I expect they are occupied with Microsoft Build event.  It is often hard to get attention during just before and during Build and Ignite.  Updates to documentation are also halted during this time.

I am adding them onto this case, as this is not just a doc question, but a doc improvement.

[2022-05-23 19:54] squassina commented on #93017
Thanks! I did that and it worked great!

I'm just puzzled about the difference between the inputs and outputs formats from one sample to the other. I'm still not sure what's the endpoint in the [cognitive-search-skill-pii-detection.md](https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/search/cognitive-search-skill-pii-detection.md) as the samples from [Quickstart: Detect Personally Id

[2022-05-23 20:09] AbdullahBell commented on #86467
#reassign: @AbdullahBell

[2022-05-23 20:11] RooneyMcNibNug commented on #93303
thanks, @JamesTran-MSFT !

[2022-05-23 20:18] JnHs commented on #93173
Hi @RDukes425 - thanks for your feedback! After discussion with the product team, we are adding graph.microsoftazure.us to the U.S. Government Cloud section as a recommended endpoint to allow. When that happens, this GitHub Issue will automatically be closed, though it may take a bit more time to see the update on the page. Thank you again for taking the time to share this feedback and help us imp

[2022-05-23 20:24] cebundy commented on #91768
@olavt  I was able to run the template with the CPU and memory values as specified in the tutorial without any errors.  Is this still an issue for you?

[2022-05-23 20:35] Careyjmac commented on #93017
@squassina , the two documents you linked are for the Azure Cognitive Services API, not the Azure Cognitive Search skill API. The Cognitive Search skill does call the Cognitive Services API under the hood to retrieve the results, but[ as I mentioned in the PR you sent to attempt to fix this](https://github.com/MicrosoftDocs/azure-docs/pull/93018#discussion_r876146270), the naming of the output fie

[2022-05-23 20:44] AbdullahBell commented on #66264
#reassign: @AbdullahBell

[2022-05-23 20:47] cebundy commented on #85498
@TimoWilhelm Thank you for your question.  Unfortunately, UDP ingress is not currently supported by Container Apps, therefore we do not include such information in our articles.   You can file a feature request here: https://github.com/microsoft/azure-container-apps
#please-close

[2022-05-23 20:47] #85498 closed

[2022-05-23 20:53] AbdullahBell commented on #71618
#reassign: @AbdullahBell

[2022-05-23 20:55] cebundy commented on #88546
@shizn Thank you for your input. We have fixed this by using only Azure CLI commands.
#please-close

[2022-05-23 20:55] #88546 closed

[2022-05-23 21:00] AbdullahBell commented on #71618
Hello @aidarko! Can you confirm if you are still facing this issue? Thanks!

[2022-05-23 21:02] iFelinto opened #93313 "Broken link"
Hi, the link to [Standard Encoder formats and codecs](https://docs.microsoft.com/en-us/azure/azure/media-services/latest/encode-media-encoder-standard-formats-reference) is broken.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0217f580-4696-c67a-b3cb-6df8040236d1
* Version Independent ID: 269cc4d1-fe05-e3bd-f0dd-b4850

[2022-05-23 21:02] Omojeje opened #93314 "Update of MainOne Information on the Additional Connectivity Service Providers Table for Azure/Express Route"
[Enter feedback here]
Kindly update MainOne location for Azure Stack/Express Route to include London LD5 and LD8 in addition to Amsterdam on the additional connectivity service providers table in this article. Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0acd798-2e5a-2a7e-bb14-7424576a8e38
* Version Indepe

[2022-05-23 21:05] AbdullahBell commented on #87850
#reassign: @AbdullahBell

[2022-05-23 21:06] AbdullahBell commented on #89547
#reassign: @AbdullahBell

[2022-05-23 21:07] ChaitanyaNaykodi-MSFT commented on #93118
Hello @MarcosMMartinez, Thank you for your feedback. I have made a PR to address this issue, the suggested change will be reflected when Microsoft Build is over. We will now proceed to close this issue out. Please let me know if you have any questions. Thank you!

[2022-05-23 21:07] #93118 closed

[2022-05-23 21:13] RDukes425 commented on #93173
Thank you so much for the support.

[2022-05-23 21:46] carmencrincoli opened #93316 "Custom Location enable steps with SPN do not work"
When running the suggested command to get the Azure Arc application, it returns a permissions error. That makes progress impossible. Seems to be a chicken/egg problem.

PS C:\Users\Administrator> az ad sp show --id 'bc313c14-388c-4e7d-a58e-70017303ee3b'
Insufficient privileges to complete the operation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2022-05-23 21:46] erik-ha-msft commented on #90658
Thank you for the feedback.

At this time, we're not planning on updating the article with this information.

#please-close

[2022-05-23 21:46] #90658 closed

[2022-05-23 21:52] brucesherwin opened #93317 "Easv4-series says "Nested Virtualization: Supported" but this is incorrect."
Easv4-series says "Nested Virtualization: Supported" but this is incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fdfbee1-bb47-fdfa-44f9-603b1313359e
* Version Independent ID: 1404915e-3bca-00bf-a15c-b0545af47319
* Content: [Eav4-series and Easv4-series - Azure Virtual Machines](https://docs.microsoft.com/en-

[2022-05-23 22:05] cebundy commented on #90505
@aconsolati  Thank you for your suggestions.  We've tried to keep this article as registry agnostic as possible.  I have added an optional ACR login step when using a private ACR repository.  Once you've logged in, you do not need to provide the ACR credentials when creating the container.  I hope this helps navigate this article.
#please-close

[2022-05-23 22:05] #90505 closed

[2022-05-23 22:22] haiqing0065 opened #93319 "How to specify cluster namespace when attaching an AKS cluster?"
We are using ARM template to attach an existing AKS cluster. but there is no where i can input to the specific cluster namespace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9132512-d322-6455-b458-f629337e15f6
* Version Independent ID: 2d9e6319-8c7e-113d-a241-2d093b73897f
* Content: [Create and attach Azure Kuberne

[2022-05-23 22:33] KranthiPakala-MSFT commented on #93286
@sreekanthnaga - As per discussion with product team, ownership information can be found as metadata on the Blobs with the naming convention "/{namespace}/{eventhub}/{consumergroup}/ownership/{partition}" in the Storage container passed when creating your event processor.

Generally, ownership is intended as internal state for the processors, and Product team very strongly recommend not modifying

[2022-05-23 22:34] kobulloc-MSFT commented on #93317
@brucesherwin Thank you for the feedback!  We are reviewing the documentation and will get back to you shortly.

[2022-05-23 22:37] KranthiPakala-MSFT commented on #93307
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-05-23 22:38] b-hchen commented on #92746
Changes have been made via PR 199002.
#please-close

[2022-05-23 22:38] #92746 closed

[2022-05-23 22:45] carmencrincoli opened #93320 "PowerShell to retrieve token from Base64 string"
Listen, not everyone has a bash shell handing to pipe strings through base64 and sed. Throw our users a bone and put some PS up there.

$secretName=(kubectl get serviceaccount admin-user -o jsonpath='{$.secrets[0].name}')
$secret = (kubectl get secret $secret -o jsonpath='{$.data.token}')
$token = [System.Text.Encoding]::ASCII.GetString([System.Convert]::FromBase64String($secret))

---
#### Docume

[2022-05-23 23:00] MartinJaffer-MSFT commented on #93232
Technically, I need to inquire whether it is only 3.0, or 3.0 and more.
Although will everything paused for Microsoft Build, neither an update nor an answer will come for a few days.

Still, I think you are likely right, 3.0 and beyond.  It wouldn't make much sense to me for 3.0 and 3.0 only.

I can put a commit in the pipeline for now and assign to author.

[2022-05-23 23:02] juliouribeMinTic commented on #93245
Good day Geetha.
The ink is still broken today, this delay our test.
Do you know when you repair it, or if there is another option to get the
library?

[image: image.png]

El sáb, 21 may 2022 a las 18:13, GeethaThatipatri-MSFT (<
***@***.***>) escribió:

[2022-05-23 23:08] YutongTie-MSFT commented on #93119
@likebupt Hello Blanca, could you please share any insight about the information? There is no where has mentioned this info. Thanks a lot.

[2022-05-23 23:09] GeethaThatipatri-MSFT commented on #93245
@juliouribeMinTic Sure let me check on this

[2022-05-23 23:10] GeethaThatipatri-MSFT commented on #93245
Hi @SteveWohl Can you please provide your inputs

[2022-05-23 23:13] bansalrachita opened #93322 "Ambiguous documentation"
The documentation should categorically mention that Teams inter-op is not available for this feature and is currently only supported for ACS to ACS calling scenarios.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fce2c0b-d8c7-73be-90c9-38f3be7fcfb1
* Version Independent ID: 0ddf267c-3da0-6010-c9c1-b28129c5d9a1
* Cont

[2022-05-23 23:41] jeffmend opened #93323 "reward wait time graphic needs to be updated"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cda7cc2f-2750-7b3c-22cc-57e402b181de
* Version Independent ID: a1bde2c7-dccd-bc99-d1fb-e75d70a8f52d
* Content: [Configure Personalizer - Azure Cognitive Services](https://review.docs.microsoft.com/en-us/azure/cognitive-services/personalizer/how-to-set

[2022-05-23 23:42] jeffmend commented on #93323
#assign jcodella

[2022-05-23 23:54] sreekanthnaga commented on #93286
Agreed that ownership details are internal state. My usecase is to not modify the state, rather to **view/log** the partition ownership details to know how the event processors are distributed among various instances of my application that use a common consumer-group.

[2022-05-23 23:56] ChaitanyaNaykodi-MSFT commented on #93298
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-23 23:56] ChaitanyaNaykodi-MSFT commented on #93304
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-23 23:57] ChaitanyaNaykodi-MSFT commented on #93314
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-24 00:17] aokour opened #93326 "Language is reset back to English after signing up using Social account"
Hi,
We have a sign-in/sign-up page built using Azure b2c custom policies and it allows sign-ups with a social account, when the user lands on the sign-in page with a language other than English (language parameter passed in URL), then click on the social account sign up (eg Linkedin sign up), sign in through social account, then redirected back to complete the sign up form then the language is set

[2022-05-24 00:24] traderhut commented on #93180
I created a database in a SQL Server, apparently, someone else setup the Server... Apparently, I have the permission to create the database... and that is it.  I can't connect to the server/database, and I can't do anything with the database.  It turns out, I can delete it though.

Interesting default permissions, although Azure Permissions are a nightmare in the first place.. (Anyone ever used th

[2022-05-24 00:25] pnarsi opened #93327 "Preview Tag"
Do the preview tags on this page need to be removed now? AFD standard/premium is now GA I believe

https://azure.microsoft.com/en-au/updates/generally-available-the-new-azure-front-door-a-modern-cloud-cdn-service/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 982cf7d2-424b-782f-487e-aab8b79c3d48
* Version Independent

[2022-05-24 00:25] HeidiSteen commented on #93017
@squassina, if there are no more questions for this thread, I'll go ahead and close the issue.  Feel free to reopen or just repost if anything more comes up.

#please-close

[2022-05-24 00:25] #93017 closed

[2022-05-24 00:31] anishi1222 opened #93328 "API version for PodDisruptionBudget"
[Enter feedback here]
As of May 24, 2022 (JST), API Version policy/v1beta1 is used to describe PodDisruptionBudget. However, this API version is deprecated in v1.21+ and unavailable in v1.25+. Would you please amend the description with policy/v1 instead of policy/v1beta1?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-05-24 01:04] YutongTie-MSFT commented on #93323
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-24 01:05] Karishma-Tiwari-MSFT commented on #93309
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-24 01:07] Adamgneh opened #93330 "Can‘t find the folder"
I followed the prompts to open the website corresponding to [IoT C# Samples](https://docs.microsoft.com/samples/azure-samples/azure-iot-samples-csharp/azure-iot-samples-for-csharp-net/)：
![image](https://user-images.githubusercontent.com/102143373/169762705-8e8804d8-7078-4305-b405-0b8d5588aa8e.png)
Then I went to [github](https://github.com/Azure/azure-iot-sdk-csharp) and downloaded all files:
![i

[2022-05-24 01:55] pnarsi opened #93332 "Support for private git servers"
Does the statement around Azure Databricks not supporting private git servers still apply if the Databricks environment is VNET injected and if there was a VPN/Express Route back to on premise to where the private git server is located?

![image](https://user-images.githubusercontent.com/7891408/169932814-2cb42463-f9e4-4a57-a657-06f7ad8b98f7.png)

---
#### Document Details

⚠ *Do not edit this sec

[2022-05-24 02:18] FabianGonzalez-MSFT opened #93333 "Step #7 in the workflow should be amended"
In the step #7 of the customer lockbox workflow it can be read:

"At the customer organization, the user who has the [Owner role](https://docs.microsoft.com/en-us/azure/role-based-access-control/rbac-and-directory-admin-roles#azure-roles) for the Azure subscription receives an email from Microsoft, to notify them about the pending access request. For Customer Lockbox requests, this person is the d

[2022-05-24 02:31] ecfan commented on #92914
@sanket-borhade: Thanks for your feedback! We'll get this doc updated.

[2022-05-24 02:44] ju-shim commented on #81993
#please-close

[2022-05-24 02:44] #81993 closed

[2022-05-24 02:54] ram-msft commented on #93319
@haiqing0065 Thanks for the question. We are investigating the issue and will update you shortly.

[2022-05-24 02:59] ju-shim commented on #80270
#please-close

[2022-05-24 02:59] #80270 closed

[2022-05-24 03:06] SnehaAgrawal-MSFT commented on #93322
@bansalrachita
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-24 03:16] shwetamathur7 commented on #93282
@scaravacap Thanks for your feedback. We will investigate and update the thread.

[2022-05-24 03:18] AshokPeddakotla-MSFT commented on #93330
@Adamgneh Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-24 03:30] kobulloc-MSFT commented on #83377
Adding @amjads1.

[2022-05-24 03:37] mike-urnun-msft commented on #93293
Hello @leonandroid - Thank you for your feedback. For a SqlConnection, our guidance is to use **Application Settings** section, as documented [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-develop-local#local-settings-file) regarding the ConnectionStrings collection defined in the configuration file:

[2022-05-24 03:48] mike-urnun-msft commented on #93302
Thank you for your feedback! We will review and update as appropriate.

[2022-05-24 04:25] GitaraniSharma-MSFT commented on #93327
@pnarsi , thank you for the feedback. We'll review this and get back to you shortly!

[2022-05-24 04:31] PriyankaRudramaina commented on #93311
@bjameshunter,

Thank you for your feedback. We will investigate and update the thread further.

[2022-05-24 04:32] PriyankaRudramaina commented on #93328
@anishi1222,

Thank you for your feedback. We will investigate and update the thread further.

[2022-05-24 04:33] cijothomas opened #93334 "Incorrect connectionstring example"
[Enter feedback here]
For https://docs.microsoft.com/en-us/azure/azure-monitor/app/worker-service#net-corenet-framework-console-application, the code snippet is incorrectly showing that connection string can be passed to AddApplicationInsightsTelemetryWorkerService method. This method only takes instrumentation key.

[code]

To pass connectionstring, aiserviceoptions must be created, set connectio

[2022-05-24 04:39] amanmcse commented on #93333
@shwetamathur7 Thank you for your feedback. We will investigate and update the thread further.

[2022-05-24 04:42] amanmcse commented on #93326
@aokour Thank you for your feedback. We will investigate and update the thread further.

[2022-05-24 04:54] SubhashVasarapu-MSFT commented on #93014
@Cainhune, Appreciate your feedback. We have assigned this issue to the respective content owner to update the document accordingly.

[2022-05-24 05:23] AnuragSharma-MSFT commented on #93206
@MichaelBrooks-Informatyx We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-05-24 05:23] #93206 closed

[2022-05-24 05:24] AnuragSharma-MSFT commented on #93083
@rodrigogq Just wanted to check if you need any further details on this.

[2022-05-24 06:17] kunj-thakor opened #93336 "How to Send the APNS notification to the specific device please provide solution for that"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-05-24 06:20] nkumars commented on #92641
@yoelhor, thanks for the response. Isn't that possible to use standard user flows from B2C rather defining custom user flows?

[2022-05-24 06:32] lokeshkumargit opened #93337 "Require update on service and it's dependencies with latest info"
[Enter feedback here]
Hi Team,
I really like this article to be updated to support organizations designing policies. With growing popularity of various Microsoft services, certain products itself becoming an downstream service with it's own service dependency

For example, M365 Security and Compliance Center has dependency with MS Teams. These information should be updated in this article or it ne

[2022-05-24 06:35] shwetamathur7 commented on #93289
@iFelinto Thanks for your feedback. We will investigate and update the thread.

[2022-05-24 06:38] shwetamathur7 commented on #93305
@sandervandevelde Thanks for your feedback. We will investigate and update the thread.

[2022-05-24 06:41] henrymbuguakiarie commented on #92930
Hello @hsamysaab91,

Thank you for reaching out about the problem with the redirect URL.

I'd like to answer the first part of your query, **"Can you please tell me the logic behind redirect URI"**:

- A redirect URI, or reply URL, is the location where the authorization server sends the user once the app has been successfully authorized and granted an authorization code or access token. The autho

[2022-05-24 06:42] shwetamathur7 commented on #93284
@InformTechPro Thanks for your feedback. We will investigate and update the thread.

[2022-05-24 06:48] aelij opened #93338 "Means to get a token"
I couldn't find a page that lists all the different ways to get an AAD token. Here are the ones off the top of my head:
* MSAL
* `Azure.Identity` (would be helpful to compare with the above as there's some overlap)
* `Microsoft.Identity.Web` (on behalf of flow)
* Azure PowerShell: `Get-AzAccessToken`
* Azure CLI: `az account get-access-token`
* REST API

We've recently had to provide guidance to c

[2022-05-24 07:12] shwetamathur7 commented on #93338
@aelij Thanks for your feedback. We will investigate and update the thread.

[2022-05-24 07:20] SumanthMarigowda commented on #93310
@mloskot
Thanks for your question. We are checking on this and will respond to you soon.

[2022-05-24 07:27] RohitMungi-MSFT commented on #93313
@Juliako Could you please help fix the broken link in the documentation?

[2022-05-24 07:47] SumanthMarigowda commented on #92896
@PaoloCastAway Firstly, Apologies for the delay response!
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-24 07:56] SumanthMarigowda commented on #93103
@dooleydo Firstly, Apologies for the delay response!
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-24 07:57] SumanthMarigowda commented on #92920
@relcodedev The PR has been initiated. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-05-24 07:57] #92920 closed

[2022-05-24 07:59] SumanthMarigowda commented on #93198
@tigormanmsft Firstly, Apologies for the delay response! Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-24 08:30] leonieroos opened #93344 "How to output DataBricksStep in AML in the recommended OutputFileDatasetConfig?"
I need to write data to a specified location and register data from multiple steps in a specified pipeline with Databrickssteps. How would you suggest me to proceed as you at the moment only allow PipelineData? Will this be adjusted any time soon?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76780996-4443-4aff-18c0-6

[2022-05-24 08:43] akirajay opened #93345 "Need grant MSI to the workspace itself from ACL section"
[Enter feedback here]

Step 5 for https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/how-to-pause-resume-pipelines#step-3-create-list-of-dedicated-sql-pools

If we don't grant the proper permission to MSI, No output get back as well as no errors show up.

Better add one step for this grant operation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2022-05-24 08:49] solwr-ssk opened #93346 "Linked service properties does not appear for Azure key vault when creating postgresql linked service"
Linked service properties does not appear for Azure key vault when creating postgresql linked service. `ls_kv` is a parametrized linked service.

![github](https://user-images.githubusercontent.com/106146756/169990724-d2eb101b-0864-48ef-9fbb-b4d675120f90.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bf75315-da09

[2022-05-24 08:50] tasha-rooney-ul commented on #83928
Hi @JamesTran-MSFT. I see this in the CompareClaims section, where the datatype is identified as boolean and the code sample includes datatype "boolean" for ignoreCase. In practice, this code sample gives the error "Unable to cast object of type 'System.Boolean' to type 'System.String'." unless I change datatype to string as the OP also did.

![image](https://user-images.githubusercontent.com/5869

[2022-05-24 08:53] FoxSpirit77 opened #93347 "Azure Workbook text parameters documentation is missing the criteria link"
Concerned document:
https://docs.microsoft.com/en-us/azure/azure-monitor/visualize/workbooks-text

It's missing a link to "Text Parameter Criteria", you can only find it through Application Insights Workbook documentation by googling.
https://github.com/microsoft/Application-Insights-Workbooks/blob/master/Documentation/Parameters/Criteria.md

I haven't been able to find it any other way.

Best reg

[2022-05-24 09:03] #93346 closed

[2022-05-24 09:03] Candelit opened #93348 "Great article, but...jq?"
Hi.
The segment named 'If you prefer to run cli locally' does not mention that jq used in this article has to be intsalled, I'm running VS code and Azure cli plus Gitbash and there are no jq available.
Maybe just a note on wwhere to get it and how to install it?

Thanks
Thomas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-05-24 09:08] Ankit10100 opened #93349 "Connector limits mentioned in page"
Connector limits mentioned are: "Log queries cannot return more than 64,000,000 bytes." but in connector documentation (https://docs.microsoft.com/en-us/azure/azure-monitor/logs/logicapp-flow-connector) its mentioned
"Max query response size: ~16.7 MB (16 MiB). The connector infrastructure dictates that size limit is set lower than query API limit"

Which one is correct?

---
#### Document Details

[2022-05-24 09:22] Candelit opened #93350 "managedResourceGroupName missing from cli"
The name for the managedResourceGroupName can be set in the portal/gui but not using cli.
Would be real nice to be able to follow the naming standard all over...
The name I get now is like this: synapseworkspace-managedrg-4f36d618-8a79-4315-bf00-7f1a7d8974b4

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc1de0e7-d4fd-

[2022-05-24 09:25] shwetamathur7 commented on #93336
@kunj-thakor Thanks for your feedback. Unfortunately, this forum is only for documentation issues and not for functionality issues. But such functionality issues are investigated at [Microsoft Graph Q&A](https://docs.microsoft.com/en-us/answers/index.html). If your issue is related to document, Kindly provide the document link which you are referring to.

[2022-05-24 09:30] kunj-thakor commented on #93336
so i can ask directly in the Q&A right

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: shwetamathur7 ***@***.***>
Sent: Tuesday, May 24, 2022 2:55:15 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Kunj Thakor ***@***.***>; Mention ***@***.***>
Subject: [External] Re: [MicrosoftDocs/azure-docs] How to Send the APNS notification to the specific device please prov

[2022-05-24 09:42] #93209 closed

[2022-05-24 09:55] shashishailaj commented on #93272
@vunvulear We have made the changes required and it should reflect once the content team have approved the same. The blueprints have been moved to Azure governance portal and you can get the sample from https://docs.microsoft.com/en-us/azure/governance/blueprints/samples/azure-security-benchmark-foundation/ .

Thank you .

[2022-05-24 10:13] SumanthMarigowda commented on #93310
@mloskot The PR has been initiated, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-05-24 10:13] #93310 closed

[2022-05-24 10:13] batamig commented on #93305
Hi @sandervandevelde, thanks for writing into docs.
Unfortunately, this isn't a question that our docs team can answer. Can you please repost your question on our TechCommunity forum here? https://techcommunity.microsoft.com/t5/microsoft-defender-for-iot/bd-p/MicrosoftDefenderIoT

We have experts there available for questions like this, and if there are resulting changes that are needed in the doc

[2022-05-24 10:13] #93305 closed

[2022-05-24 10:14] emorell96 opened #93351 "No verification email code sent to private emails provided by Apple in Apple Sign In (Azure AD B2C)"
I have setup Apple Sign In with Azure B2C and it works fine all the way until the user is redirected to the domain.b2clogin.com.

In there the email and name fields are filled but when the user tries to verify his email by sending him a code no code is sent to the private relay emails with domain name `@privaterelay.appleid.com`.

I have had one user report this to me. And I have tested it myself

[2022-05-24 10:15] yossi-y commented on #93349
Hello,

These are two different limits; the first is in the query API and second in Azure Monitor Logs connector.
Although the API limit is indeed 64MB, the connector infrastructure includes additional constraints that limit the result set can be returned. I hope this clarifies.

Thanks,

[2022-05-24 10:25] SwathiDhanwada-MSFT commented on #93334
@cijothomas Thanks for your feedback.

Assigning to content author @AaronMaxwell  for review.

[2022-05-24 10:37] onnov72 commented on #92820
Besides downgrading the app insights package as DOMZE suggests, I also had to downgrade Microsoft.Azure.WebJobs to 3.0.32 to remove the warning.
Another solution is to upgrade Microsoft.Azure.WebJobs.Host.Storage to 5.0.0-beta.1. As a bonus this will remove a dependency on the deprecated Microsoft.Azure.Storage.Blob pacakage, but the downside is using a prerelease version.

[2022-05-24 11:15] guyrleech opened #93353 ""Deprecated" is spelt incorrectly"
It has been spelt "depricated"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a86c4b02-434c-d452-b3e5-527656234319
* Version Independent ID: 10efb9a1-21d9-584b-f007-843ec736c654
* Content: [Azure AD Connect: Troubleshoot Azure AD connectivity issues](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/tshoot

[2022-05-24 11:23] SauravB-MS commented on #90794
@AnuragSharma-MSFT , any update? Support is seeing more tickets being created due to this missing information. Can you let me know the status?

[2022-05-24 11:27] sandervandevelde commented on #93305
@batamig Thanks for pointing me to the right channel.

[2022-05-24 12:06] tasha-rooney-ul commented on #83928
Looking back at the original issue here, I think my issue is slightly different to the OP's issue. The docs do demonstrate ignoreCase as being boolean as you'd expect, but in practice the claims transformation does not accept a datatype boolean for this input parameter. Should I raise this as an issue with B2C rather than the docs?

[2022-05-24 12:07] shwetamathur7 commented on #93316
@carmencrincoli Thanks for your feedback. We will investigate and update the thread.

[2022-05-24 12:09] shwetamathur7 commented on #93320
@carmencrincoli Thanks for your feedback. We will investigate and update the thread.

[2022-05-24 12:23] smedin4 opened #93358 "Command sudo cyberx-management-network-reconfigure is no longer available"
For a sensor installed with version 22.1.x, the command "sudo cyberx-management-network-reconfigure" doesn't exist anymore.
Moreover, the entire list of cyberx-* command should be documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02235a4d-2df4-9a39-6d37-9dd6f3b68acf
* Version Independent ID: be6053d0-6fe5-504d

[2022-05-24 12:42] GitaraniSharma-MSFT commented on #92512
@jayeshdesai1 , as per the backend team, it will go GA by mid of June 2022.

[2022-05-24 12:53] jeffjfield opened #93361 "Clarify ADFS client-side Implications in Note"
Under "Configure AD FS Settings" there is a note which says:

"If you failed to configure client-side SCP on your AD FS servers, the source for device identities would be considered as on-premises. ADFS will then start deleting device objects from on-premises directory after the stipulated period defined in the ADFS Device Registration's attribute "MaximumInactiveDays". "

Does that mean that devi

[2022-05-24 13:50] AurimasNav opened #93365 "Can't remove publishers"
I had permissions + global vs location MPN ID problem while trying to mark my app as publisher verified, but until I figured it out I tried all sorts of things like creating publishers, now I have unused publishers. Is there any way to delete them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4281c9e4-aa62-da54-4681-

[2022-05-24 14:04] hsbsandrecv opened #93366 "Security Defaults x Sign-in Logs"
When Security Defaults is enabled all Legacy Authentication protocols are disabled for the tenant.
how long it takes for all protocols to be disabled?
What will be the impact in Sign-in logs? There will be only failures in the Sign-in logs or even the sign-in logs for Legacy Protocols will be removed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-05-24 14:08] shwetamathur7 commented on #93332
@pnarsi Thanks for your feedback. We will investigate and update the thread.

[2022-05-24 14:11] petrkubes opened #93367 "Azure container instances does not support static IP eposure via App GW"
[Enter feedback here]
When trying to create an App GW regarding scenario described in the document there is an issue with subnet delegation for containerGroups - the App GW

got error like: subnet xx referenced by appGW cannot be used because it contains external resources. The external resources in this subnet are (Microsoft.ContainerInstance/containerGroups, ). You need to delete these external

[2022-05-24 14:14] dominic1904 commented on #87731
@jeevansd and @JamesTran-MSFT, do you have any road maps or timelines for the detailed steps? A rough timeline will do. Thank you very much.

[2022-05-24 14:17] shwetamathur7 commented on #93074
@bmulholland Apologies for delay in response.
 I have updated the endpoint link documentation as below:
 The {issuer} value in the path of the request can be used to control who can sign into the application.
The allowed values are **common** for both Microsoft accounts and work or school accounts, **organizations** for work or school accounts only, **consumers** for Microsoft accounts only, and *

[2022-05-24 14:18] jayeshdesai1 commented on #92512
Thanks for getting back to me. That is great news!

[2022-05-24 14:21] #93173 closed

[2022-05-24 14:22] imsherlock01 opened #93368 "Azure Service Bus Explorer Issue | Send Messages button is not working properly when trying to send json data in the message"
I observed, content type property is not added in the Service bus message

[2022-05-24 14:25] #92876 closed

[2022-05-24 14:31] AnuragSingh-MSFT commented on #93365
@AurimasNav, thank you for reaching out to us. I have assigned this issue to our content team for further review and update.

@varsha-sarah, can you please review this and share your thoughts. Thanks.

[2022-05-24 14:33] shwetamathur7 commented on #93193
@tomatsue Thanks for the above snippet and apologies for the last answer as well. I was not able to repro the issue correctly through the postman

There is a known issue where password with leading or trailing whitespaces are not allowed and got trimmed in ROPC flow. I have updated the document. Changes will be reflected after author's approval.
Thanks again for your contribution to enhance the do

[2022-05-24 14:46] mrfabbers opened #93369 "MSDocs links to docs.azuredatabricks.net presents a certificate expiry error"
Following links from the Azure Databricks documentation and Azure Pricing FAQ for instance
https://azure.microsoft.com/en-gb/pricing/details/databricks/#faq links to https://docs.azuredatabricks.net/administration-guide/account-settings/account.html#upgrade-or-downgrade-an-azure-databricks-workspace

The Digicert certificate expired on the 11th April 2022.

Another example. https://docs.azuredatab

[2022-05-24 14:48] mepand commented on #92742
@TarekNabeel Yes, the below statement is correct.
"When using GRS replication on Storage account this will ensure high availabilty for Azure Files Share backup"

[2022-05-24 14:50] FlorentATo opened #93370 "Missing "Networking" tab"
Hello, the document doesn't include details on the "Networking" tab:

<img width="732" alt="Screen Shot 2022-05-24 at 10 49 39" src="https://user-images.githubusercontent.com/1591516/170065395-e791d6c3-33c5-4e9a-94b5-658eea018e96.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87f330cc-8989-9721-7d02-965dce0e988d

[2022-05-24 15:03] sysopmatt opened #93371 "Semi-colon should not be in step 3"
In step 3 on the first line of the code block, the semicolon should be removed:

`dbutils.fs.put("/databricks/<init-script-folder>/dns-masq-az.sh";,"""`

should be:

`dbutils.fs.put("/databricks/<init-script-folder>/dns-masq-az.sh","""`

Matt

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff77b7b

[2022-05-24 15:03] MarileeTurscak-MSFT commented on #93358
@smedin4
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-24 15:10] #91002 closed

[2022-05-24 15:13] zaalion opened #93372 "Using an existing Log Analytics workspace"
[Enter feedback here]

Hi,

Can we use an existing Log Analytics Workspace to capture B2C logs? This document only explains the scenario for new workspaces, which is hardly the case for existing systems.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24e34c89-9a70-b5b2-3b38-bc81660f83c1
* Version Independent ID

[2022-05-24 15:18] JamesTran-MSFT commented on #93337
@lokeshkumargit
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-24 15:19] #92911 closed

[2022-05-24 15:19] kyyung commented on #64083
Just in case someone still having this issue, you can try update azure cli to 2.37 which can solve the problem.

[2022-05-24 15:23] #92830 closed

[2022-05-24 15:36] #93246 closed

[2022-05-24 15:38] #92694 closed

[2022-05-24 15:51] ShaikMaheer-MSFT commented on #93345
@akirajay Thanks for sharing feedback. We are actively validating it. We will share updates soon.

[2022-05-24 15:52] SatishBoddu-MSFT commented on #92520
Hello all, sorry for the delayed action on this issue, we are routing this to the SME for further action!

[2022-05-24 15:53] ShaikMaheer-MSFT commented on #93348
@Candelit Thanks for sharing feedback. We are actively validating it. We will share updates soon.

[2022-05-24 15:54] ShaikMaheer-MSFT commented on #93350
@Candelit Thanks for sharing feedback. We are actively validating it. We will share updates soon.

[2022-05-24 16:07] ezYakaEagle442 opened #93373 "Add AKS doc for Azure BLOB storage"
AKS doc for Azure BLOB storage should be added based on [https://github.com/kubernetes-sigs/blob-csi-driver](https://github.com/kubernetes-sigs/blob-csi-driver)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7013047f-1846-c266-6759-6897b6694eb9
* Version Independent ID: e98f3106-93e3-f425-ffdd-0260c8a494cf
* Content: [

[2022-05-24 16:08] shashishailaj commented on #93353
@guyrleech Thank you for reporting . We have updated the article. The changes should reflect in the next 24-48 hours as per the next release cycle.

Thank you .

[2022-05-24 16:30] SteveWohl commented on #93245
@alexandersoy @GeethaThatipatri-MSFT

Hi Alexander.  I confirmed that the issue with accessing the DICOM Client NuGet package is happening in Azure DevOps and not in the article [Using DICOMweb™ Standard APIs with C#](https://docs.microsoft.com/en-us/azure/healthcare-apis/dicom/dicomweb-standard-apis-c-sharp). Please let me know if this issue can be resolved on your end.  Thanks

[2022-05-24 16:49] imercerwillow opened #93376 "TelemetryConfiguration.Active is marked Obsolete in Assembly Microsoft.ApplicationInsights, Version=2.18.0.315"
TelemetryConfiguration.Active is marked Obsolete in Assembly Microsoft.ApplicationInsights, Version=2.18.0.315

You may wish to update the example that uses it.

See https://github.com/microsoft/ApplicationInsights-dotnet/issues/1152

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f4c906d-7abe-eab7-331a-120230344583
*

[2022-05-24 16:49] AbhishekTripathi opened #93377 "How to use Policy Fragment in APIM. Document links are invalid in Azure portal."
How should the policy fragment be used? There is no documentation for it. The link from the portal resolves to the APIM landing page. Link is [https://aka.ms/apim/policy-fragments](https://aka.ms/apim/policy-fragments)

Adding the fragment to the outbound policy of the API is not being effective. A working example would be greatly helpful.

I have set up my policy fragment as follows with the name

[2022-05-24 16:52] suzizuber commented on #93071
Update was made and this issue has been resolved.

[2022-05-24 16:52] KranthiPakala-MSFT commented on #93371
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-05-24 16:54] suzizuber commented on #92845
@SreejaBhattacharya-MSFT updates have been made, this issue is resolved.

[2022-05-24 17:01] mrm9084 commented on #93250
This:
`management.endpoints.web.exposure.include= "appconfiguration-refresh"`
should actually be
`management.endpoints.web.exposure.include= appconfiguration-refresh`

I will create a PR to update.

[2022-05-24 17:05] pgr-lopes opened #93379 "Lookup activity for Azure Data Factory"
Hello,

In the page for the lookup activity in ADF, the doccumentation claims that this component supports REST as a source. If we create a dataset which leverages a REST connector as a source, the dataset WILL NOT show up in the options for the source datasets in the lookup activity.

Since the dataset works if the connector used is an HTTP one instead, I assume this could be a mistake with the d

[2022-05-24 17:16] #93353 closed

[2022-05-24 17:31] KranthiPakala-MSFT commented on #93234
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Once your issue is posted in forum, please do share the forum thread link here for tracking.

Thank you

[2022-05-24 17:31] #93234 closed

[2022-05-24 17:31] Muasho opened #93380 "Please add steps on how to connect from SSMS to read-only replica"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2145337-0aea-6a0b-ea62-e10a7f902d76
* Version Independent ID: 4e4f5616-032c-ebab-df35-5e73dec9ef94
* Content: [Read queries on replicas - Azure SQL Database](https://docs.microsoft.com/en-us/azure/azure-sql/database/read-scale-out?view=azuresql)
* Co

[2022-05-24 17:33] himanshusinha-msft commented on #93144
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2022-05-24 17:33] KranthiPakala-MSFT commented on #93286
Thanks for the details @sreekanthnaga . Hope my previous response answers your query.

We will now proceed to close this thread.

Thank you

[2022-05-24 17:33] richardlm57 opened #93381 "This documentation talks about some preconfigured "Monitoring charts" and "Usage charts", which don't exist anymore in Azure Cache for Redis"
This documentation has the following information

![image](https://user-images.githubusercontent.com/10284438/170097123-883f0086-3da5-43de-a16d-c909d2877c13.png)

However, in Azure Cache for Redis this doesn't exist anymore. Instead, I think they are consolidated in the "Insights" section

![image](https://user-images.githubusercontent.com/10284438/170097329-479f29c2-d872-43d9-b66d-83b8d67786d2.pn

[2022-05-24 17:34] #93286 closed

[2022-05-24 17:35] #93054 closed

[2022-05-24 17:35] ecfan commented on #92694
@timjansenortec: Doc is updated, thanks!

[2022-05-24 17:36] himanshusinha-msft commented on #93144
As it appears  we have to engage few other teams to get this resolved .
Can you please email us at azcommunity@microsoft.com?
Please provide us with your subscription ID and the URL for this thread.

[2022-05-24 17:40] vmhenard commented on #92876
Thank you @ecfan !

[2022-05-24 17:51] MayankBargali-MSFT commented on #92999
@xmseraph Unfortunately as of now the service bus output binding doesn't support sending message to the specific session.
As the workaround you need to leverage the Azure service bus SDK (different language) to send the message to the specific session.

I will go ahead and close this issue. Feel free to tag me in if you have any queries or concerns.

[2022-05-24 17:51] #92999 closed

[2022-05-24 17:57] #93193 closed

[2022-05-24 17:59] TarekNabeel commented on #92742
@mepand  Many thanks for the confirmation .
@SadiqhAhmed-MSFT Many thanks for the collaboration and support.

[2022-05-24 18:10] TimothyMothra commented on #93376
`.Active` is referenced in the "ASP.NET applications" section. This is still applicable here.

The .Active singleton is only obsolete for "ASP.NET Core applications".

[2022-05-24 18:36] leduftw opened #93388 "Typo in the doc"
Change "Only use this value only when Azure-AsyncOperation isn't returned." to "Use this value only when Azure-AsyncOperation isn't returned.", since in the current variant we have two times word only.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b0985f3-9f69-f25a-715c-c67ab16b2274
* Version Independent ID: 84c72697

[2022-05-24 18:38] Mortana89 opened #93389 "Cosmos DB Burstable throughput questions"
Hello,

I can't seem to find the information in the document of this new feature, but:
- is Burstable capacity free?
- does it work with Autoscale?
- if it does, what is the RU taken into account when talking about the 3000 RU? Min or Max RU?
- are there any metrics that can be used to see built-up RU, similar like CPU credits for Burstable VMs?

Thanks!

---
#### Document Details

⚠ *Do not edit

[2022-05-24 18:50] jgossett opened #93392 "Overview IoT Central API Tour has broken links"
https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/iot-central/core/overview-iot-central-api-tour.md contains not found links. See [Control plane overview](https://github.com/MicrosoftDocs/azure-docs/blob/main/rest/api/iotcentral/2021-06-01controlplane/apps).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6

[2022-05-24 18:50] bdegs opened #93393 "Clicking 'Go To Gallery' from 'Insights' page does not load all Workbooks listed in next screenshot."
Link: https://docs.microsoft.com/en-us/azure/azure-monitor/vm/vminsights-workbooks#creating-a-new-workbook

Under the section above the directions to see all of the Workbooks, mainly the networking Workbooks is incorrect as clicking on 'Go To Gallery' from that page doesn't load them as shown in the last screenshot. Need to update directions with either new screenshot or update directions to inste

[2022-05-24 18:50] Mortana89 opened #93394 "Cosmos DB - Serverless - RU"
Hello,

Serverless got its max storage updated. 👍
Few questions;
- https://docs.microsoft.com/en-us/azure/cosmos-db/concepts-limits#per-account-limits lists 50GB, perhaps we can add a note that 1TB is in preview
- RU max is capped at 5k per container, shouldn't this be per physical partition (since one container can hold multiple physical partitions)
- is the RU max not updated to 20K? Thought I r

[2022-05-24 18:51] #93388 closed

[2022-05-24 18:55] MonikaReddy-MSFT commented on #93376
@TimothyMothra  - Thank you for providing your insights.
@imercerwillow - I hope @TimothyMothra has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-05-24 18:55] enterpriseSoftware opened #93396 "API Settings."
Heading: Configure and secure the function API
 In this section, the security for the Function App is set to require Authentication.

If you click on Settings for the APIM API configuration under Security.
The options are none, OAuth2 or OpenId

I don't understand the difference between the security described and this setting    APIs>Settings>Security.
Should this setting have followed what we did

[2022-05-24 18:56] KrishnaG-MSFT commented on #92412
@lanicolas We have verified and updated the document as required. Thanks again!

[2022-05-24 18:56] #92412 closed

[2022-05-24 18:57] KrishnaG-MSFT commented on #93087
@AlexcFrench We have verified and updated the document as required. Thanks again!

[2022-05-24 18:57] #93087 closed

[2022-05-24 18:58] KrishnaG-MSFT commented on #93117
@adelagar We have verified and updated the document as required. Thanks again!

[2022-05-24 18:58] #93117 closed

[2022-05-24 19:00] csj opened #93397 "Typo: "tenent""
"Generated VNETs are inaccessible to you as they're created in Microsoft's tenent" ==>
"Generated VNETs are inaccessible to you as they're created in Microsoft's **tenant**"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1f36e76-357b-28f7-2b59-3e30ca1b2418
* Version Independent ID: e724e5f5-0e9b-e99d-3252-42932507984c

[2022-05-24 19:05] MonikaReddy-MSFT commented on #93370
@FlorentATo  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-05-24 19:14] csj commented on #93397
"but you want to issue and update to your app" ==>
"but you want to issue **an** update to your app"

[2022-05-24 19:19] LijuV-MSFT commented on #88632
Same issue here, have you found a solution or workaround to this error?

Unable to find type [AdalHelper].
At C:\Users\<user>\Documents\WindowsPowerShell\Modules\MSCloudIdUtils\MSCloudIdUtils.psm1:486 char:17
+     $AadToken = [AdalHelper]::ObtainAadAccessTokenWithCert("https://l ...
+                 ~~~~~~~~~~~~
    + CategoryInfo          : InvalidOperation: (AdalHelper:TypeName) [], RuntimeExc

[2022-05-24 19:26] seesharprun commented on #93394
#assign:deborahc

#label:"doc-enhancement"

Hey @Mortana89! Thanks for your questions. We will get them answered for you as quickly as possible.

@deborahc, can you help answer some of these questions?

[2022-05-24 19:26] seesharprun commented on #93389
#assign:deborahc

#assign:seesharprun

#label:"doc-enhancement"

Hey @Mortana89! Thanks for your questions. We will get them answered for you as quickly as possible.

@deborahc, can you help answer some of these questions?

[2022-05-24 19:27] seesharprun commented on #93389
#assign:seesharprun

[2022-05-24 19:30] davidsmatlak commented on #85238
@vanessabruwer I submitted a pull request to update the Logz.io [troubleshooting](https://docs.microsoft.com/azure/partner-solutions/logzio/troubleshoot) article with information from a previous [comment ](https://github.com/MicrosoftDocs/azure-docs/issues/85238#issuecomment-996873585) in this issue. When the pull request merges, this issue will close. I'll follow up with the product team for more

[2022-05-24 19:49] kobulloc-MSFT commented on #93317
@brucesherwin Thank you for bringing this to our attention!  Nested virtualization is only supported on Intel.  I'll get a PR out to address this.

[2022-05-24 19:49] ChaitanyaNaykodi-MSFT opened #93399 "App Service Plan do not support NSG flow Logs"
This limitation is [documented here](https://docs.microsoft.com/en-us/azure/app-service/overview-vnet-integration#how-regional-virtual-network-integration-works)

Reference: https://docs.microsoft.com/en-us/answers/questions/860894/index.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd699dac-d6e5-5a39-624f-2d3f77

[2022-05-24 19:49] ChaitanyaNaykodi-MSFT commented on #93399
Working on a PR to address this issue.

[2022-05-24 19:52] rodrigogq commented on #93083
Hi @AnuragSharma-MSFT, thank you! I have read the posts you indicated before, but I couldn't be 100% sure if filtering and sorting after filtering would actually really use the index.

Unfortunately I still did not have time to make some real tests on a database with enough data. But I will definitely do that in a few days.

[2022-05-24 19:58] rolyon commented on #93217
@johnnyqian
Thanks for your feedback. We've let the team know about this update.
thanks

[2022-05-24 19:58] rolyon commented on #93217
#please-close

[2022-05-24 19:58] #93217 closed

[2022-05-24 20:00] James-Hamil-MSFT commented on #93366
Hi @hsbsandrecv , if I understand your question correctly Security Default settings should be applied almost immediately, but propagation times can vary. If you see that they're not updating after a few hours or so please let me know. The sign-in logs will switch to whichever authentication method you're using when the settings take effect. So if you enable security defaults you'll see legacy sign

[2022-05-24 20:01] JamesTran-MSFT commented on #93344
@leonieroos
Thank you for your GitHub issue! In order to better understand your issue, can you share the documentation that you're referring to?

[2022-05-24 20:03] kevincathcart-cas opened #93400 "Misleading message about MultiSubnetFailover=true"
This page contains a misleading message:

While technically correct, there is a major caveat in that this only applies to .NET Framework, and not to .NET Core or .NET 5 or newer.

The feature that makes it unneeded in .NET Framework is TransparentNetworkIPResolution, which was never ported to .NET Core or .NET 5+. Updating this to clarify is likely worthwhile.

See also dotnet/SqlClient#1097 (a bu

[2022-05-24 20:05] dcc1165 opened #93401 "Why are Azure APIs incomplete??"
Why doesn't the "machine sizes" API response payload include the number of supported NICS???

Does someone need to go back to API-dev school or did they just forget to include that information in the response payload???   Obviously the system knows if I can or cannot add a NIC to a VM because the UI prevents it.  BUT, I cannot programmatically determine the maximum number of NICs per VM without go

[2022-05-24 20:23] mbender-ms commented on #78139
Article was previously updated and these issues are resolved.

#please-close

[2022-05-24 20:23] #78139 closed

[2022-05-24 20:25] mbender-ms commented on #79357
#please-close

[2022-05-24 20:25] #79357 closed

[2022-05-24 20:27] EliasTouil opened #93403 "Quick start node js update to match vsCode extension"
Hello, I'm trying to deploy node on Azure for the first time and I encountered a small problem in the docs.

https://docs.microsoft.com/en-us/azure/app-service/quickstart-nodejs?tabs=linux&pivots=development-environment-vscode

The section "Configure the App Service app and deploy code" and its screenshot do not correspond to the current version of the extension (Azure tools `v0.3.0`).

In order t

[2022-05-24 20:33] csj opened #93404 "Typos: Observability"
These features help you monitor and diagnosis the state of your app ==>
 These features help you monitor and **diagnose** the state of your app

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb17b42f-a010-e010-ca3e-715667d0f80a
* Version Independent ID: 59b7e25e-ec8e-7051-79cf-b3d619e269dd
* Content: [Observability in

[2022-05-24 20:35] MartinJaffer-MSFT commented on #93232
https://github.com/MicrosoftDocs/azure-docs-pr/pull/199183

[2022-05-24 20:35] #93232 closed

[2022-05-24 20:39] MartinJaffer-MSFT commented on #93213
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-05-24 20:39] #93213 closed

[2022-05-24 20:47] #93083 closed

[2022-05-24 20:49] #85238 closed

[2022-05-24 21:01] mike-urnun-msft commented on #93368
Hello @imsherlock01 - Thank you for your feedback. Since this channel is for driving improvements towards MS Docs, could you instead make a post on [MS Q&A](https://docs.microsoft.com/en-us/answers/index.html) channel for this question?

[2022-05-24 21:07] mike-urnun-msft commented on #93377
Hello @AbhishekTripathi - Thank you for your feedback. Have reviewed the following doc yet?

- [Reuse policy configurations in your API Management policy definitions](https://docs.microsoft.com/en-us/azure/api-management/policy-fragments)

+ adding @mikebudzynski regarding the linking issue from Portal. Not sure if the link should be updated to point to doc above?

[2022-05-24 21:13] Oury-MSFT commented on #93380
@Muasho Thank you for providing your feedback. We are reviewing this with the content author and will get back shortly.

[2022-05-24 21:14] Oury-MSFT commented on #93381
@richardlm57 Thank you for providing your feedback. We are reviewing this with content author and will get back to you.

[2022-05-24 21:35] SteveWohl commented on #91041
@ranvijaykumar @mikaelweave @mike-urnun-msft

Hi Ranvijay and Mikael. Do you know if I should add a note and include a link to the HL7 [Considerations for PKCE Support](http://www.hl7.org/fhir/smart-app-launch/app-launch.html#considerations-for-pkce-support) in the Azure Docs article [Tutorial: Azure Active Directory SMART on FHIR proxy](https://docs.microsoft.com/en-us/azure/healthcare-apis/azure

[2022-05-24 21:42] BRGLLCIT opened #93405 "Incomplete tutorial"
Steps to "Establish a private link connection to an existing key vault" only cover first tab of operation and the section abruptly cuts off leaving the reader at a loss/guessing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 191d0067-67ee-212d-77f6-ffb1db64582f
* Version Independent ID: 71d5a250-17e6-8500-b6a3-3c46401

[2022-05-24 21:59] SteveWohl commented on #90314
@rboissy @mike-urnun-msft

Hi Robert or Mike.  Please close out this issue.  It is resolved.  [Get started with the DICOM service](https://docs.microsoft.com/en-us/azure/healthcare-apis/dicom/get-started-with-dicom)

[2022-05-24 22:11] JamesTran-MSFT commented on #93405
@BRGLLCIT
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-24 22:13] tejaswikolli-web commented on #90011
@toddysm

[2022-05-24 22:13] tejaswikolli-web commented on #92739
@toddysm

[2022-05-24 22:15] mike-urnun-msft commented on #90314
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-05-24 22:15] #90314 closed

[2022-05-24 22:32] khdownie commented on #93103
It wouldn't survive a zone failure on LRS. It would have to be on ZRS/GRS/GZRS.  Regarding "Built-in local HA" - @netapp-juliec does this mean that the NetApp filers are in HA pairs, or is it just referring to LRS in Azure (stored 3x within the data center)?

[2022-05-24 22:37] b-hchen commented on #93103
@[khdownie](https://github.com/khdownie) - Let me loop in ANF product manager @gvanteylingen to answer this question.

cc: @b-ahibbard

[2022-05-24 22:40] rolyon commented on #93161
Hi @usmanatron
Thanks for your feedback. This role has been added to the docs:
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#storage-account-backup-contributor
thanks

[2022-05-24 22:41] mike-urnun-msft commented on #93396
Thank you for your feedback! We will review and update as appropriate.

[2022-05-24 22:46] khdownie commented on #93103
Thanks @b-hchen - it looks like ANF doesn't use the same redundancy options as Azure Files, so the first part of my comment above is likely off base.

[2022-05-24 22:54] gtacchini opened #93408 "Link at the end is broken"
The links in the last question are broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f1afa50-4e98-473c-8f97-48a6c2e76319
* Version Independent ID: e4ed5993-8008-91a3-2aa9-2f75086db709
* Content: [FAQ - Azure Synapse Link for SQL - Azure Synapse Analytics](https://docs.microsoft.com/en-us/azure/synapse-analytics/s

[2022-05-24 23:34] pnarsi opened #93410 "Private Endpoint for *.frontend.clouddatahub.net or *.servicebus.windows.net"
Is there an option for the SHIR VM to access  *.frontend.clouddatahub.net or *.servicebus.windows.net via private endpoints? I assume that because the specific resource id is not available that this is not technically possible.

![image](https://user-images.githubusercontent.com/7891408/170148567-c25d4bb5-d403-49b4-88a1-7ef86bbc78a3.png)

---
#### Document Details

⚠ *Do not edit this section. It

[2022-05-24 23:39] pnarsi commented on #91146
Thanks! That is helpful.

[2022-05-24 23:58] KranthiPakala-MSFT commented on #93408
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2022-05-25 00:00] KranthiPakala-MSFT commented on #93379
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-05-25 00:03] Karishma-Tiwari-MSFT commented on #93404
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2022-05-25 00:03] Karishma-Tiwari-MSFT commented on #93397
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2022-05-25 00:04] Karishma-Tiwari-MSFT commented on #93367
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-25 00:05] Karishma-Tiwari-MSFT commented on #93401
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-25 00:22] gauravIoTEdge opened #93412 "Update restart policies docs"
These restart policies are not supported by the product: "on-failure" | "on-unhealthy"

We should call this out or we will keep getting issues like these: https://github.com/Azure/iotedge/issues/6358

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a79690c6-2784-a53e-7b34-6b428b01f9bf
* Version Independent ID: b97c6e5f-3

[2022-05-25 00:24] WilliamDAssafMSFT commented on #93073
#assign:WilliamDAssafMSFT

[2022-05-25 00:32] junpark12 commented on #93192
@spelluru
Thanks for the update. I'll be waiting. :)

[2022-05-25 01:07] dshimogawa opened #93413 "Could you tell me more detail about privacy on Azure AD B2B direct connect?"
[Enter feedback here]

HI, team.  Could you tell me more detail about privacy on Azure AD B2B direct connect?

 I want to know detail about "limited contact data".  Which attribute on Azure AD does this limited contact data map?

best regards,
Daishi
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a16a239-3c26-c839-6b40

[2022-05-25 01:16] WilliamDAssafMSFT commented on #93073
Thanks @jasonhorner, we will work internally to address this. A doc update is in flight. #please-close

[2022-05-25 01:39] MarileeTurscak-MSFT commented on #93351
@emorell96
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-25 01:50] MarileeTurscak-MSFT commented on #93413
@dshimogawa
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-25 01:57] rockboyfor opened #93414 "GCM cipher suites on 10.X version of Databricks."
Hi guys,

per confirmation with Databrick support, The following statement has aligned with specific databrick version:

 “currently, in 10.x versions of the dbr we have enabled the GCM cipher suites” and ” this change has happened in the last month during the latest release of the dbr. and even if the customer re-starts the existing 10.x dbr cluster the GCM cipher should be enabled.”

Could you p

[2022-05-25 02:06] Karishma-Tiwari-MSFT commented on #93404
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-05-25 02:10] Karishma-Tiwari-MSFT commented on #93397
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-05-25 02:10] #93397 closed

[2022-05-25 02:10] #93404 closed

[2022-05-25 02:11] rockboyfor commented on #93414
@PRMerger15,
The first sentence describe that *Azure Databricks clusters do not have GCM (Galois/Counter Mode) cipher suites enabled by default* in document.

Maybe the users feel that it is not align with actual status when deploying databricks 10.X .

Best Regards,
Edward Chen

[2022-05-25 02:49] VikasPullagura-MSFT commented on #93400
@kevincathcart-cas
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-05-25 02:49] VikasPullagura-MSFT commented on #93400
@rajeshsetlem
Can you please check and add your comments on this doc update request as applicable.

[2022-05-25 02:52] VikasPullagura-MSFT commented on #93373
@ezYakaEagle442
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-05-25 02:52] VikasPullagura-MSFT commented on #93373
@palma21
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2022-05-25 02:56] shashankbarsin commented on #93316
@carmencrincoli - updated the doc to clarify that `az ad sp show ...` command needs to be run after logging into Azure CLI using the user account (service principal doesn't have permissions for that command).

[2022-05-25 03:03] trs80 opened #93415 "Add example for ExtractPrefix transformation claim"
There's no documentation on what a ExtractPrefix transformation looks like. After much trial and error I came up with this:

 New-AzureADPolicy -Definition @('{"ClaimsMappingPolicy":{"Version":1,"IncludeBasicClaimSet":"true","ClaimsSchema":[{"Source":"user","ID":"userprincipalname"},{"Source":"transformation","ID":"ExtractPrefix","TransformationId":"ExtractThePrefix","JwtClaimType":"username_prefi

[2022-05-25 03:07] AshokPeddakotla-MSFT commented on #93412
@gauravIoTEdge Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-25 03:21] griffinbird opened #93416 "Link to Probabilistically Bounded Staleness (PBS) metric needs updating"
The link (https://pbs.cs.berkeley.edu/) in the Monitor Probabilistically Bounded Staleness (PBS) metric section needs to be updated as it now redirects to https://adept.eecs.berkeley.edu/ which is incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30408ba6-333d-6fe5-0df2-e545f6422ba4
* Version Independent ID: 7f

[2022-05-25 03:41] KrishnaG-MSFT commented on #93132
@rmagalla I have raised a pull request [here](https://github.com/microsoft/Docker-Provider/pull/768) for the same and have received the response as

_The name contract we have is "omsagent" https://docs.microsoft.com/en-us/azure/azure-monitor/containers/container-insights-enable-existing-clusters#create-and-execute-a-template
but if customer has different case in their templates then we can ask th

[2022-05-25 03:53] imsherlock01 commented on #93368
Issue is resolved

[2022-05-25 03:53] #93368 closed

[2022-05-25 04:18] shwetamathur7 commented on #93392
@Jgossett Thanks for your feedback. We will investigate and update the thread.

[2022-05-25 04:19] sreekzz commented on #92563
@aysark @KranthiPakala-MSFT
Updated this doc with screenshots.

[2022-05-25 04:37] shwetamathur7 commented on #93415
@trs80 Thanks for your feedback. We will investigate and update the thread.

[2022-05-25 04:37] GitaraniSharma-MSFT commented on #93399
@ChaitanyaNaykodi-MSFT , thank you for submitting the PR.

[2022-05-25 04:50] AnuragSharma-MSFT commented on #93416
@griffinbird Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-05-25 05:46] #92973 closed

[2022-05-25 05:47] #93141 closed

[2022-05-25 05:55] ShaikMaheer-MSFT commented on #93147
Created PR for this request: https://github.com/MicrosoftDocs/azure-docs-pr/pull/199263

[2022-05-25 05:59] ShaikMaheer-MSFT commented on #93190
@nabhishek Could you please validate customer feedback and enhance document as appropriate? Thank you.

[2022-05-25 06:04] ShaikMaheer-MSFT commented on #93147
PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/199263 merged successfully. Soon changes will reflect in doc as well after next build release. Thank you.

[2022-05-25 06:04] #93147 closed

[2022-05-25 06:09] pnarsi opened #93419 "What ports do we need to open?"
What ports do we need to open on the client side/corporate firewall to enable a client to access Azure Database PostgreSQL. Just port 5432 TCP? There is no mention of port requirements in this firewall page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1821775-9ddd-55fc-bfd6-f03b21d5fc78
* Version Independent ID: 63

[2022-05-25 06:12] ToruMakabe opened #93420 "How can I use AKS release tracker"
This document does not specify how AKS release tracker can be used. Is it published as this website?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 462a5558-5d08-ceb3-80f0-d0df9a4683f9
* Version Independent ID: 3e01d427-e45b-6cf9-5616-cb8f46be71ed
* Content: [AKS release tracker - Azure Kubernetes Service](https://docs

[2022-05-25 06:16] SadiqhAhmed-MSFT commented on #93145
@ctahok We haven't heard back from you. Appreciate if you could share the support request # with us.

[2022-05-25 06:23] SnehaAgrawal-MSFT commented on #93403
@EliasTouil Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-25 06:24] #93022 closed

[2022-05-25 06:44] wenduof opened #93421 "There is no libk4abt provided in the Microsoft's Package Repository [Ubuntu 20.04]"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afef83cf-fabc-7ac5-49e0-0b3293483b8e
* Version Independent ID: 9b4f5587-a003-e184-d80d-c1abc5dbc33e
* Content: [Azure Kinect Body Tracking SDK download](https://docs.microsoft.com/en-us/azure/kinect-dk/body-sdk-download)
* Content Source: [articles/ki

[2022-05-25 06:46] akhudairymicrosoft commented on #91180
hi @HeidiSteen .. I got confused on this one. Was this updated or still in progress? if it was updated could you please point me out to the update.
I was reached out again on this one, so really appreciate your help.

[2022-05-25 06:49] moravindMSFT opened #93422 "Plan screenshot is incorrect"
[Enter feedback here]Enable  plan screenshot is incorrect. Please update accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9fbe6ca-1f70-657b-fc1a-c488335bdef6
* Version Independent ID: 4962534a-ec5a-bc9a-f0ec-2074cf446807
* Content: [The regulatory compliance dashboard in Microsoft Defender for Cloud](https:

[2022-05-25 06:51] ShaikMaheer-MSFT commented on #93410
@pnarsi Thanks for the question. GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilise Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2022-05-25 07:01] ShaikMaheer-MSFT commented on #93414
@rockboyfor Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-05-25 07:14] shwetamathur7 commented on #93422
@moravindMSFT Thanks for your feedback. We will investigate and update the thread.

[2022-05-25 07:21] rumatavz opened #93423 "Ingress interanl example not working because of health check issues"
This example is not working on 1.22.6 but used to work before.

The reason why it's not working is health checks. In 1.22.6 default health check protocol is HTTP and is located on  /healthz on 80.

But we have
 path: /(.*)
        pathType: Prefix
        backend:
          service:
            name: aks-helloworld

that breaks /healthz since we have aks-helloworld  on /

I think other examples ma

[2022-05-25 07:39] robveenman opened #93424 "Screenshots and info is misleading"
The page is about SAP Cloud for Customer (C4C).

However, in the second part of this page you describe activities to be done in SAP Identity Authentication Service (IAS).
This is i.m.o. incorrect.
The activities must be done in C4C application and insert C4C screenshots.

[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2022-05-25 07:41] PriyankaRudramaina commented on #93420
@zr-msft,

Can you review this doc please, we don't have the link to the AKS tracker updated in the doc.? How to use section is there but how to navigate there is not there

[2022-05-25 07:44] byteknacker commented on #33674
I can see that there are several similar errors on the Azure platform side which makes the creation of Bastion Host flaky and unreliable. I created this related issue a while ago and it seems that at least in West Europe this has not been fixed: https://github.com/Azure/azure-cli/issues/21678

Do you fellas get other similar issues which prevents the reliable and repeatable creation of Bastion Hos

[2022-05-25 07:51] SnehaAgrawal-MSFT commented on #93142
@am8448 Thanks for reaching here! I was able to follow the steps as mentioned in the tutorial, Please try it again, ensure the prerequisite is take care. If facing error, please send an email with subject line “Attn:Sneha |thread title” to [AzCommunity@microsoft.com](mailto:AzCommunity@microsoft.com) referencing this thread with your Azure subscription ID, and Web app Name details I will follow-up

[2022-05-25 07:59] Mina69 opened #93425 "no matches for kind "AdmissionConfiguration" in version "apiserver.config.k8s.io/v1""
Trying to enforce Pod Security Standards by Configuring the Built-in Admission Controller on AKS which has kubernetes version 1.23 by following this setups which is explained here: https://kubernetes.io/docs/tasks/configure-pod-container/enforce-standards-admission-controller/

However when I apply the yaml file, I get this error:
`$ k create -f podsecurity.yaml
error: unable to recognize "podsecu

[2022-05-25 08:04] andrePKI commented on #91557
@johnmarco  Thank you for your explanation. I can see this from a documentation standpoint, but for customers the simple action of putting a tick in the box for integrating MDC with MDE can cause these warnings/errors in the logs. And we start to look for any missing permissions, which can hardly be found in the documentation if one starts to dig from the wrong end (in this case: oboarding into Ar

[2022-05-25 08:07] leonieroos commented on #93344
Thank you for replying @JamesTran-MSFT!

What I was reading was here at the top part:
"PipelineData use [DataReference] underlying which is no longer the recommended approach for data access and delivery, please use [OutputFileDatasetConfig] instead, you can find sample here: [Pipeline using OutputFileDatasetConfig]."
https://docs.microsoft.com/en-us/python/api/azureml-pipeline-core/azureml.pipeli

[2022-05-25 08:14] carmencrincoli commented on #93316
Ok...does that mean the GUID will never change? i.e. I can get that GUID, and then use it in my automation and have confidence that it will work?
________________________________
From: Shashank Barsin ***@***.***>
Sent: Tuesday, May 24, 2022 7:56 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Carmen Crincoli (HE/HIM) ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Cust

[2022-05-25 08:18] amanmcse commented on #93247
@mariomeyrelles The scope doesn't necessarily has be the application ID. Ideally you should expose the app as api, set the App ID URI and then add the scope, as highlighted below. You should then pass the app-id-uri/scope in the authentication request.

![image](https://user-images.githubusercontent.com/33834131/170215527-187b0411-05d1-4782-a1bf-31241c8d72cb.png)

[2022-05-25 08:29] gvanteylingen commented on #93103
ANF is built on external, baremetal technology and as such has a fundamentally different architecture than other Azure storage services. Currently ANF is a regional service without zonal redundancy or awareness. The platform provides "LRS-like" availability today, when this changes documents will get updated accordingly.

[2022-05-25 08:29] amanmcse commented on #92517
@WilliamMHerring I checked on this with the product team. Unfortunately, this is not possible as of now.
I would suggest you post it at the [User Voice portal](https://feedback.azure.com) that is monitored by the product group for product/feature enhancements.

[2022-05-25 08:29] #92517 closed

[2022-05-25 08:37] dknappettmsft commented on #56818
Closing as this issue was fixed in the client.

#please-close

[2022-05-25 08:37] #56818 closed

[2022-05-25 08:52] AjayKumar-MSFT commented on #63934
Abhijit, was able to resolve the issue after testing it again (on a different subscription), and it worked - was able to subscribe to some messages to queue from communication services.

[2022-05-25 08:56] amanmcse commented on #93351
@emorell96 Azure AD B2C will get only that piece of information that is returned by the IDP. If the email is marked as private and the IDP is not returning that information during claims exchange, there is no way for B2C to read that information.

Can you confirm if private relay emails with the domain name `@privaterelay.appleid.com` are being returned by Apple IDP to Azure AD B2C?

[2022-05-25 09:18] Denisjc opened #93429 "Standard Gateway?"
Your article refers to a standard gateway, but does not explain on how to setup such a gateway.

Please can you provide some details of what a standard gateway is and how to set it up.

Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59e1b5be-dfdc-4362-04f4-9c9aee551e41
* Version Independent ID: 9a19e661-78c1-ee01

[2022-05-25 09:21] shwetamathur7 commented on #93393
@bdegs Thanks for your feedback. We will investigate and update the thread.

[2022-05-25 09:35] v-amallick commented on #93145
@ctahok - Thanks for your feedback. We will update the document soon.

[2022-05-25 09:43] #93336 closed

[2022-05-25 09:44] #93263 closed

[2022-05-25 09:53] shwetamathur7 commented on #93423
@rumatavz Thanks for your feedback. We will investigate and update the thread.

[2022-05-25 09:56] helgedv opened #93430 "Broken link in "use custome image" section"
https://docs.microsoft.com/en-us/azure/lab-services/how-to-use-shared-image-gallery#use-a-custom-image-from-the-compute-gallery
Link to "replication in Azure Compute Gallery" leads to a 404 error.

URL is: https://docs.microsoft.com/en-us/azure/virtual-machines/shared-image-galleries.md
URL should be: https://docs.microsoft.com/en-us/azure/virtual-machines/shared-image-galleries

---
#### Document

[2022-05-25 10:31] ThinkElevenDave opened #93431 "Incorrect/missing details"
UK West is not usable by MPN subscriptions for the purpose of Azure SQL Server creation.
Also, more details are required on how to "_please open a Region access request_" (e.g. link/step-by-step guide)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba2205b5-60f9-2c83-fa87-40f3f379908b
* Version Independent ID: dd5d05c9

[2022-05-25 10:35] AnuragSharma-MSFT commented on #93429
@Denisjc Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-05-25 10:46] matt-gribben opened #93432 "v1-oauth2-on-behalf-of-flow how to validate the bearer token"
Within the context of the oauth2 OBO flow example, web api 1 requests a token for web api 2 and then submits a request to web api using that Bearer token. But how does web api 2 verify that token is genuine and who it is for?

[2022-05-25 11:09] AnuragSharma-MSFT commented on #93431
@ThinkElevenDave Thank you for the feedback. Please refer to below document for Region Specific Access on how to create support request.

[Azure region access request process](https://docs.microsoft.com/en-us/troubleshoot/azure/general/region-access-request-process)

**While creating the support request, firstly you can select the 'SQL Database in Quota Type:**

![image](https://user-images.github

[2022-05-25 11:12] VikasPullagura-MSFT commented on #93430
@helgedv Thanks for pointing this out. Updated the document and changes will go live soon.

[2022-05-25 11:15] paulinembabu commented on #92477
@shashishailaj Thank You. That works as expected

[2022-05-25 11:28] kengaderdus commented on #87652
#please-close

[2022-05-25 11:28] #87652 closed

[2022-05-25 11:28] kengaderdus commented on #88261
#please-close

[2022-05-25 11:28] #88261 closed

[2022-05-25 11:29] kengaderdus commented on #89933
#please-close due to inactivity

[2022-05-25 11:29] #89933 closed

[2022-05-25 11:32] VikasPullagura-MSFT commented on #93425
@Mina69
Thanks for your Question! We are currently investigating and will get back on this.

[2022-05-25 11:43] kengaderdus commented on #90481
@GiscardGirard

We'll reassess the article again.

[2022-05-25 11:47] TiMeJuMp opened #93434 "Is there a minium length of characters for the text to get a well trained "custom text classification" model"
Is there a minium length of characters for the text to get a well trained "custom text classification" model?
In my current tests the F1 Score is at 0. I have just short words (approx. 3 words) which I want to classyfy. Is the Custom Text Classification made for such use-cases, or just for longer texts, like in the example with the movie database?

Thanks
Christian

---
#### Document details

⚠ *D

[2022-05-25 12:07] #93430 closed

[2022-05-25 12:11] amanmcse commented on #93351
@emorell96 Thank you for sharing the details. I am assigning this issue to the author of this document to review and make the necessary changes.

[2022-05-25 12:13] javiersoriano opened #93435 "Add documentation about enabling management groups diagnostics settings"
This article talks about auditing management groups using the activity log, but it doesn't show how to enable diagnostics settings to send those logs to storage, event hub or log analytics workspace. Customers and the field would assume that there's no option to export those logs if just looking at this article.

This is however possible via API (see here: https://docs.microsoft.com/en-us/rest/api

[2022-05-25 12:13] kengaderdus commented on #93079
#please-close

[2022-05-25 12:14] #93079 closed

[2022-05-25 12:41] SadiqhAhmed-MSFT commented on #93145
@ctahok - Publishing the document with changes might take some time. Closing this issue for now. We shall update this thread once the changes go live.

[2022-05-25 12:41] #93145 closed

[2022-05-25 12:45] mattb-db opened #93436 "Global Admin not required"
Requirements state "You must be a global administrator for the Azure Active Directory account.". This is not correct. You can create the Enterprise Application with the Cloud Application Administrator role. It would be really helpful to specify exactly what rights are required rather than state that "You must be a global administrator"

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-05-25 12:48] jbpaux commented on #93420
I had the same question so yes please share the URL

[2022-05-25 12:56] GitaraniSharma-MSFT commented on #93274
@bj-tukker , please find the answers to your queries below:

Q. I'm missing the Azure Powershell or Azure CLI commands to do the update in the keyvault on this page.
A. The Azure PowerShell & Azure CLI commands for renewing a key vault certificate for Application gateway is available in this doc : https://docs.microsoft.com/en-us/azure/application-gateway/renew-certificates#azure-powershell
Please

[2022-05-25 12:57] amanmcse commented on #93326
@aokour I tested it out and it appears to be an issue with the default localization/translation. I will report it to the product team but I won't be able to provide you with an ETA.

Meanwhile, you can add localization strings to your Localization XML file. In the below example, I have added `api.socialccountsignup.hi` for Hindi language, similarly, you can add `api.socialccountsignup.fr` to add l

[2022-05-25 12:57] MaxMelcher opened #93437 "New regions"
This page is amazing!!! Could you please update it with the latest numbers and also add the newer regions?

Thanks,
Max

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 311b6efb-2d93-6130-96a9-867fad56bd52
* Version Independent ID: a17faabf-04c6-c3da-9a37-a86b0d00cbfd
* Content: [Azure network round-trip latency statisti

[2022-05-25 13:00] GitaraniSharma-MSFT commented on #93437
@MaxMelcher , thank you for your feedback. We'll review this and get back to you shortly!

[2022-05-25 13:05] anthfuller opened #93439 "SAP Documentation for IAAS Link maybe dated or moved"
[You may want to find where this page moved or remove the link entirely. I've tried finding an appropriate link but nothing comes up, but configurations for SAP VMs. Here is the MS Doc for SAP with the broken link not found: https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/hana-vm-operations]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2022-05-25 13:16] bj-tukker commented on #93274
Hi Gitarani,

Thanks for your answer. We did see those az cli commands, but that is NOT for when you use a certificate from the KeyVault.

Because the documentation was not very clear on how to exactly update a certificate in a Key Vault for an Application Gateway, we (a customer of my team) might have followed a procedure that resulted in a failed state of the Application Gateway: they ‘updated’

[2022-05-25 13:16] VitalyMCT opened #93440 "Code vs. description"
Regarding

Based on the following code segment I think the description should say

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b26a5383-934c-85db-9aed-c3e172408f38
* Version Independent ID: eb1b1f8f-e3ae-04dd-ab9a-3fdfef7224ac
* Content: [Query folders and multiple files using serverless SQL pool - Azure Synapse Anal

[2022-05-25 13:35] juliouribeMinTic commented on #93245
Good day Alexander and Geetha.

Today the link is still broken.
We would appreciate your collaboration in restoring it.

El mar, 24 may 2022 a las 11:30, Steve Wohl ***@***.***>)
escribió:

[2022-05-25 13:43] spottedmahn opened #93441 "docker login how to?"
under: [Log in to a registry](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-get-started-docker-cli?tabs=azure-cli#log-in-to-a-registry)

which implies to me this is optional but then all the subsequent steps use `docker` so it seems required, no?

How to improve docs
---
Assuming that is the case, how do I make `docker login` work?  Seems like this guide might help:

[2022-05-25 13:47] spottedmahn opened #93442 "add PowerShell version"
it would be helpful to have PowerShell versions of the scripts

![image](https://user-images.githubusercontent.com/14079228/170277380-31b553ee-995f-4c9a-b9ca-48bd343388a7.png)

Example
---
[like this guide](https://docs.microsoft.com/en-us/azure/container-apps/get-started-existing-container-image?tabs=powershell&pivots=container-apps-private-registry)

![image](https://user-images.githubuserconten

[2022-05-25 13:56] GitaraniSharma-MSFT commented on #93437
@MaxMelcher , A central work item doc bug for the Azure Latency chart issues regarding out-of-date information has been created and each issue is being tracked there. Since there are multiple issues related to this page, @mbender-ms is currently investigating this issue with the Product team and will be reporting an update.
Refer : https://github.com/MicrosoftDocs/azure-docs/issues/92963
https://g

[2022-05-25 13:59] xmseraph opened #93443 "can C# azure function referencing a windows lib file"
here we only provide example in two languages python and java, I wonder if we can let C# azure function reference a windows static library file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c6c4d77-741e-5531-f930-1df1c3963172
* Version Independent ID: 14ff41c8-8f44-b103-5598-4bb73215bbc1
* Content: [Bring dependenci

[2022-05-25 14:00] RaviMSHybd opened #93444 "Code needs to be updated in the troubleshooting section"
The variable name in the first section of code in [troubleshooting ](https://docs.microsoft.com/en-us/azure/route-server/quickstart-configure-route-server-powershell#troubleshooting) and the one in the [Get-AzRouteServerPeerAdvertisedRoute](https://docs.microsoft.com/en-us/powershell/module/az.network/get-azrouteserverpeeradvertisedroute) do not match, which is causing the code to fail

---
#### D

[2022-05-25 14:15] GitaraniSharma-MSFT commented on #93327
@pnarsi , I have submitted a PR to remove the word Preview from this doc and it will be updated soon.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-05-25 14:15] #93327 closed

[2022-05-25 14:15] zaalion opened #93445 "Migrating from Classic to the new Front Door"
[Enter feedback here]

Hello there,

Is there a recommended method (or a tool) which can help us migrate from the Classic tier to the New Front Door? If not, any recommendation on how to do manually do it?

Thanks,
Rez

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac400994-c165-34e4-7050-04ab6ed90b1e
* Version Indepen

[2022-05-25 14:24] GitaraniSharma-MSFT commented on #93274
@bj-tukker , thank you for the update and sharing the details.

As mentioned in this doc:
![image](https://user-images.githubusercontent.com/67630903/170284868-c14a97af-bdaa-46fb-a834-6479e7158d2d.png)

We have assigned this to the content owner/author for review and add about disabling the Key vault certificates.

@greg-lindsay , could we improve the doc with the below information?

- How to impo

[2022-05-25 14:25] L-u-k-e-GIT opened #93446 "Terraform and "Vm Applications""
## Creating an issue
I would like to deploy vm application with Terraform. As it is a preview (even it is long time it is in preview) I do not find any documentation with provider azuremr. Any chance to use AzApi?
Unfortunately I not able to export a manually created resource, to update my code.

[2022-05-25 14:26] L-u-k-e-GIT opened #93447 "Terraform and Vm Applications"
## Creating an issue
I would like to deploy vm application with Terraform. As it is a preview (even it is long time it is in preview) I do not find any documentation with provider azuremr. Any chance to use AzApi?
Unfortunately I not able to export a manually created resource, to update my code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-05-25 14:31] MonikaReddy-MSFT commented on #93447
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-05-25 14:32] MonikaReddy-MSFT commented on #93446
I see that you have already opened a similar issue here - https://github.com/MicrosoftDocs/azure-docs/issues/93447. Please respond to my question in that issue and I am closing this one here.

Thank you.

[2022-05-25 14:32] #93446 closed

[2022-05-25 14:33] MonikaReddy-MSFT commented on #93432
@matt-gribben - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-05-25 14:34] L-u-k-e-GIT commented on #93447
Hi , here the link
https://docs.microsoft.com/en-us/azure/virtual-machines/vm-applications

In this document it is indicated some way to use the product. I wonder If you could add also terraform as a way to implement,

[2022-05-25 14:37] AlexcFrench opened #93448 "Kusto Queries (i.e. heartbeat) do not work as _ResourceId is not passed through the pipeline"
[Enter feedback here]
Hi,

Trying to get the Kusto queries to work but (for example) the heartbeat query fails with:

**'summarize' operator: Failed to resolve scalar expression named '_ResourceId'
If issue persists, please open a support ticket. Request id: 06af0d05-468c-4b6b-8d12-1e07b5814144**

However, Changing the query to:

Heartbeat
| summarize TimeGenerated=max(TimeGenerated) by Computer,

[2022-05-25 14:39] jlichwa commented on #91599
@zachhumphrey27g we have updated document to provide both options for .NET 5.0 and 6.0 with minimal hosting model.  #please-close

[2022-05-25 14:42] LeoYMCMB commented on #88028
Hi All,

Any update about posting the documentation update?

Regards,
LM

[2022-05-25 14:45] ktvargo-ms opened #93449 "Documentation for existing cluster"
The document outlines how to create virtual node for a new cluster, but doesn't provide information on how to enable virtual node for an existing cluster.

Verified steps in personal lab:

**For existing Cluster**
1. Add sp to virtual network (already documented)
2.  Create new subnet in virtual network   (not documented)
     `  az network vnet subnet create --address-prefixes "10.120.0.0/16"  --

[2022-05-25 14:45] KrishnaG-MSFT commented on #93448
@AlexcFrench Thanks for your comment! We will review and provide an update as appropriate.

[2022-05-25 14:47] dcc1165 commented on #93401
This isn't an issue with the document, it's an issue with the API itself.  The docs page is just fine.  The problem I have is the information I need cannot be obtained programmatically through the API; it ONLY exists on the docs site.
 
Please send my comments to the DEVELOPERS.
 
-----Original Message-----
From: MicrosoftDocs/azure-docs
Sent: May 24, 2022 8:05 PM
To: MicrosoftDocs/azure-docs
Cc:

[2022-05-25 14:48] #93316 closed

[2022-05-25 14:54] SnehaAgrawal-MSFT commented on #93142
@am8448 Since we will be working offline, will close this thread here, Looking forward for your mail and help you on this.

[2022-05-25 14:54] #93142 closed

[2022-05-25 14:59] larryclaman opened #93450 "Guidance to 'use aks-engine for more features' should be updated or removed"
The FAQ question [**What if I need a feature that's not supported?**](https://docs.microsoft.com/en-us/azure/aks/windows-faq#what-if-i-need-a-feature-thats-not-supported) has the answer _If you encounter feature gaps, the open-source [aks-engine](https://github.com/azure/aks-engine) project provides an easy and fully customizable way of running Kubernetes in Azure, including Windows support_

But,

[2022-05-25 15:04] JamesTran-MSFT commented on #93424
@robveenman
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-25 15:05] c0g1t8 commented on #93022
@SnehaAgrawal-MSFT - Please reopen this issue. It is not resolved.

I understand the limitations of what is allowed in the portal for Application setting names. What I was attempting to point out was that when doing local development of an Azure Functionn in C#, you are allowed to used colons in the Value section of the _local.settings.json_ file.  This is guidance for [Working with options and se

[2022-05-25 15:11] Copennin opened #93451 "Broken link in docs - under "Supported file formats""
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/azure-video-indexer/upload-index-videos?tabs=With-classic-account#supported-file-formats
There is a broken link on this page:
![image](https://user-images.githubusercontent.com/49850812/170296115-f5148885-beab-4c1e-bde6-b1bed8b2d1a5.png)

Broken link URL: https://docs.microsoft.com/en-us/azure/azure/media-services/latest/encode-media-enc

[2022-05-25 15:13] sfc-gh-hharkema opened #93452 "Invalid value for SAML2_PROVIDER"
Hi,

SAML2_PROVIDER = 'AzureAD' is no longer valid

It should be 'CUSTOM' , source : https://community.snowflake.com/s/article/HOW-TO-Setup-SSO-with-Azure-AD-and-the-Snowflake-New-URL-Format-or-Privatelink

Thanks

Harke - Snowflake

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5733ec0-25ee-bd16-58d4-6a921f6ab1fd
* V

[2022-05-25 15:15] VikasPullagura-MSFT commented on #93441
@spottedmahn
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-05-25 15:15] VikasPullagura-MSFT commented on #93441
@tejaswikolli-web
Can you please check and add your comments on this doc update request as applicable.

[2022-05-25 15:16] VikasPullagura-MSFT commented on #93442
@spottedmahn
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-05-25 15:16] VikasPullagura-MSFT commented on #93442
@tejaswikolli-web
Can you please check and add your comments on this doc update request as applicable.

[2022-05-25 15:17] VikasPullagura-MSFT commented on #93449
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2022-05-25 15:18] VikasPullagura-MSFT commented on #93450
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2022-05-25 15:22] AbbyMSFT commented on #51542
An update for this issue:
Please note that it is possible for the alertTargetIDs field to contain multiple values within the array and this is now documented in the corresponding chart. Thank you for bringint this to our attention.

[2022-05-25 15:27] timwarner-msft commented on #93435
#please-close

[2022-05-25 15:32] khdownie commented on #93103
@dooleydo see replies above. Sounds like "local HA" is correct for this. @SumanthMarigowda - I think this issue can be closed.

[2022-05-25 15:33] #91973 closed

[2022-05-25 15:38] BzSpi opened #93456 "Add a mention to the newly Private Link Service Integration"
Hello,

Azure has released in private preview the Private LInk Service integration.
It would be fine to have it mentioned in this documentation (even just a link).

Here's the k8s documentation
https://kubernetes-sigs.github.io/cloud-provider-azure/development/design-docs/pls-integration/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-05-25 15:41] dominicbetts commented on #93392
@jgossett - I just checked the links on the https://docs.microsoft.com/en-us/azure/iot-central/core/overview-iot-central-api-tour page and they all seem to be working - maybe it was a transient issue?

[2022-05-25 15:46] JamesTran-MSFT commented on #93452
@sfc-gh-hharkema
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-25 15:53] asergaz commented on #93280
Hello @TheRealSvc , in the tutorial step:

Can you share what you selected for hostname and parent_hostname ?

Thanks!

[2022-05-25 15:55] tamram commented on #85757
@albertoRamon - Thanks for your feedback. The matrix has been updated.

#please-close

[2022-05-25 15:56] tamram commented on #92896
@PaoloCastAway - Thanks for your feedback. I've updated the article to incorporate your feedback.

#please-close

[2022-05-25 15:56] #92896 closed

[2022-05-25 16:03] mikaelweave commented on #91041
@SteveWohl - we don't support SMART 2.0 (link to PKCE is in the 2.0 IG) so we shouldn't add it to the docs.

[2022-05-25 16:05] sunil-github-walgreens opened #93457 "synonyms example seems to wrong"
fix problems | troubleshoot, trouble-shoot

and the JSON sample also has **trouble-shoot** with a hyphen '-' and '-' is a special character.

{
    "synonyms": [
        {
            "alterations": [
                "fix problems",
                "troubleshoot",
                **"trouble-shoot",**
                ]

}

Refer to **Important** section:

Synonyms are case insensitive. Synonyms als

[2022-05-25 16:14] Oury-MSFT commented on #93419
@pnarsi Thank you for your feedback. We are checking on this and will get back shortly.

[2022-05-25 16:19] HeidiSteen commented on #91180
@akhudairymicrosoft  I did a doc update, but I was hoping @schaffererin  would see this thread and create a work item that adds the new GA features to the templates.  Private endpoint is GA for Cognitive Search.

Currently, the bicep and arm deployment articles say this:

"Only those properties included in the template are used in the deployment. If more customization is required, such as [setting

[2022-05-25 16:24] JLL-LSprangers opened #93458 "It doesn't show how to actually access 'pd' in following steps"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eaf0090-95ef-4735-b1fc-fea77d3d308d
* Version Independent ID: f4d67081-e778-5394-56be-f441dfa06f90
* Content: [Moving data in ML pipelines - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-move-data-in-out-of-pi

[2022-05-25 16:32] #92737 closed

[2022-05-25 16:33] normesta commented on #87522
Thanks for reporting this issue. Because this data was hosted on a third-party site, the link breaks from time to time. The data is now hosted here - https://github.com/Azure-Samples/AzureStorageSnippets/blob/master/blobs/tutorials/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2016_1.zip. I've updated the article to point to that new location. The article change will appear live later

[2022-05-25 16:33] #87522 closed

[2022-05-25 17:00] sumtnk opened #93460 "operatingSystemVersion usage"
Hello,

In the section "Supported operators and device properties for filters", the example provided for operatingSystemVersion is shown as the following: "(device.operatingSystemVersion -in ["10.0.18363", "10.0.19041", "10.0.19042", "10.0.22000"])". However as this is using the "-in" operator, it does not seem to doing a full match on the operatingSystemVersion and therefore the example does not

[2022-05-25 17:02] Juliako commented on #93313
@RohitMungi-MSFT , working on it

[2022-05-25 17:04] johnmarco commented on #91557
Hello again @andrePKI . At this point I suggest opening a support request to have some address your issue directly. You can do so from the Azure portal.

[2022-05-25 17:11] TheRealSvc commented on #93280
Hi,
sure, on the lower-layer device i chose:

hostname: lower-layer
parent_hostname: top-layer

I can `ping top-layer` without problem from the lower-layer host device.

[2022-05-25 17:16] TheRealSvc commented on #93280
also, when i do `sudo iotedge check,` i get this
[code]
One thing is interesting: I added a custom python module to the lower-layer device and that works. So telemetry is send to the Iothub. Mhhh.

[2022-05-25 17:20] lunar87 opened #93462 "Incorrect statement about postgresql support"
Fix: https://docs.microsoft.com/en-us/azure/postgresql/single-server/overview-single-server#overview
" The architecture is optimized to provide 99.99% availability on single availability zone. It supports community version of PostgreSQL 9.6, 10, and 11."
To at least
"The architecture is optimized to provide 99.99% availability on single availability zone. It supports community version of PostgreSQ

[2022-05-25 17:33] spottedmahn opened #93463 "add link(s) to using VS Code for faster..."
regarding this section of the page:

[source](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-get-started-docker-cli?tabs=azure-cli#:~:text=you%20might%20want%20to%20use%20visual%20studio%20code%20with%20docker%20extension%20for%20a%20faster%20and%20more%20convenient%20login.)

Ok, I'll bite but how do I learn more 🤔?  I assume there already some doc page(s) on this to

[2022-05-25 17:56] Varnauld commented on #54436
Hello - can you please reassign this to Pamistel? thank you!

[2022-05-25 18:11] v-mosubr opened #93465 "[SQL Vulnerability Assessment] - change the schedule/delivery of Periodic recurring scans"
Hi All,

We have multiple SQL servers and set up periodic SQL vulnerability scan. All these scan results are getting delievered from Monday to Sunday for each servers randomly. Is there a way to control the delivery of the scan results to group or deliver them on a particular week day for easy remediation in single go and will be helpful for reporting purposes. Thanks!

[2022-05-25 18:12] kobulloc-MSFT commented on #93463
@spottedmahn Here are some great resources for learning more.  I'm including the announcement blog for Visual Studio Code Docker extension, the install location for the Docker extension, and some Docker/container articles from Visual Studio Code:

- [MS Blog: Visual Studio Code Docker extension (March, 2020)](https://devblogs.microsoft.com/visualstudio/visual-studio-code-docker-extension-1-0-bette

[2022-05-25 18:14] guesslin commented on #85871
@shashishailaj This looks like a common problem and exists there for a long time. What's the update here? And what's the suggestion for getting the `objectId` from AAD-B2C API Connector correctly in the given point (`before creating the user`)?

[2022-05-25 18:16] PriyankaRudramaina commented on #93456
@BzSpi,

Thank you for your feedback. We will review and update the thread further.

[2022-05-25 18:22] dlepow commented on #91401
Documentation has been updated to show default timeout of 5 minutes (300 seconds). Thanks!
#please-close

[2022-05-25 18:22] #91401 closed

[2022-05-25 18:27] PriyankaRudramaina commented on #93456
@BzSpi,

I have reviewed the main document link of AKS and there is mention of [Azure Private Link service](https://docs.microsoft.com/en-us/azure/private-link/private-link-service-overview#limitations) in a few places under concepts->create a private cluster.
https://docs.microsoft.com/en-us/azure/aks/private-clusters

Let me know If you are specifically looking to get it added to the load balanc

[2022-05-25 18:49] KranthiPakala-MSFT commented on #93346
HI @solwr-ssk - Noticed that you have closed this issue and assuming that you have resolved your issue. In case if you need further assistance, would recommend reaching out in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/products/) forum as it is better suited forum for such queries.

Thanks

[2022-05-25 18:50] RyanHill-MSFT opened #93469 "Need service pricing"
Currently, [Video Indexer pricing](https://azure.microsoft.com/en-us/pricing/details/media-services/) has a [dead link](https://aka.ms/AVI-accounts). There isn't any clear documentation with regards to tier price offerings for this service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ada6c49-3ef6-24cb-5c5f-a047a4f0

[2022-05-25 18:52] RyanHill-MSFT commented on #93469
@Juliako can add pricing information to either the FAQ or Overview page? Also links on ACOM are broken as well.

[2022-05-25 19:18] greg-lindsay commented on #93014
I'm in the process of changing the name to storage.blob.core.window.net. It should be fixed within a day or two. Unfortunately this is part of a graphic so it's not a simple text edit.

[2022-05-25 19:27] khdownie commented on #91256
@jgross1031 sorry for the delay in responding. NFS Azure File shares are not supported for Windows clients, and there are no plans to add support at this time. You can only use NFS Azure File shares with Linux or MacOS. I will add a note about this to this page: https://docs.microsoft.com/en-us/azure/storage/files/files-nfs-protocol

LMK if you see anywhere else in the docs that implies this is a

[2022-05-25 19:40] YutongTie-MSFT commented on #93458
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-25 19:40] YutongTie-MSFT commented on #93457
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-25 19:41] YutongTie-MSFT commented on #93434
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-25 19:46] #93450 closed

[2022-05-25 19:46] zr-msft commented on #93450
Thank you for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

[2022-05-25 19:59] Anand-Moghe opened #93470 "Fix the language on this Azure doc for App Service general guideline for networking"
If I am reading the following sentence, it is completely difficult to comprehend if you are new to Azure:

Can this be simplified and provided more details links etc to reduce the number of calls to support/sales/marketing resources?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae743313-9367-b465-e31a-5beae33018d1
*

[2022-05-25 20:07] Anand-Moghe commented on #93470
Closing.

[2022-05-25 20:07] #93470 closed

[2022-05-25 20:17] ChaitanyaNaykodi-MSFT commented on #93399
Working with author on the PR

[2022-05-25 20:17] #93399 closed

[2022-05-25 20:37] paulaustin-automutatio opened #93473 "Azure Static Web App behind proxy"
[Enter feedback here]
Can you provide more detailed documentation on how to setup a reverse proxy for a static web app. Focusing on what headers are required.

I have the following in nginx and it proxies the request correctly. But it gets into an infinite loop between the /login and /aad pages.

The cookies in the browser seem to be returned and set back to the server.

nginx.conf
[code]
---
####

[2022-05-25 20:46] khdownie commented on #47734
@kiranpradeep although sudo might not be required if the user running the ipsec command has sufficient permissions, we prefer to leave sudo in the doc in case a user with restricted permissions tries to run the command. @RenaShahMSFT let me know if this isn't correct.

[2022-05-25 20:50] SteveWohl commented on #91041
@mike-urnun-msft @mikaelweave

Hi Mike. I received confirmation from a SME on my team that we don't support SMART 2.0 (link to PKCE is in the 2.0 IG) and that we shouldn't add this information to the Azure API for FHIR Azure Docs.

[2022-05-25 20:50] Juliako commented on #93313
The link is fixed, #please-close

[2022-05-25 20:51] #93313 closed

[2022-05-25 20:51] JamesTran-MSFT commented on #93344
@leonieroos
Thank you for following up on this! I've assigned this issue to our Machine Learning team who will investigate and update as appropriate.

Thank you for your time and patience!

[2022-05-25 20:55] Juliako commented on #93289
@RohitMungi-MSFT , talking to a PM that is looking into the docs.

[2022-05-25 20:56] JamesTran-MSFT commented on #93460
@sumtnk
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-25 21:08] Oury-MSFT commented on #93462
@lunar87 We are reviewing your feedback and will get back soon.

[2022-05-25 21:14] JamesTran-MSFT commented on #93372
@zaalion
Thank you for pointing this out!

If you have an existing Log Analytics workspace you can use it when setting up Azure AD B2C with Azure Monitor.

Since I already had existing resources, I skipped steps 1 thru 3.3 (for testing, I didn't need to create custom auth and delegation in Azure Lighthouse), and started at [step 4 - Select your subscription](https://docs.microsoft.com/en-us/azure/

[2022-05-25 21:14] #93372 closed

[2022-05-25 21:18] JamesTran-MSFT commented on #93452
@sfc-gh-hharkema
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.
![image](https://user-images.githubusercontent.com/36619112/170368960-30495bc2-0aa5-493d-ba90-f5683f7e2687.png)

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for yo

[2022-05-25 21:18] #93452 closed

[2022-05-25 21:25] mifung opened #93475 "Incorrect syntax on Switch Expression"
The syntax on the document will return error code 'properties doesn't exist'.
**_Under: Step 5b: Evaluate the state of the dedicated SQL pools
Step 4. On the Activities tab, copy the code below into the Expression._**
'@concat(activity('CheckState').output.properties.status,'-',pipeline().parameters.PauseOrResume)'

Correct syntax should be:
@concat(activity('CheckState').output.value[0].propertie

[2022-05-25 21:26] spencer-microsoft opened #93476 "Link for personal accounts won't allow login from personal accounts"
The link below tells me I need to use a work or school account to sign in, despite the text saying to use it for a personal account.

If you're using a personal account, go to https://myapps.microsoft.com/ and sign in, and then select your account icon in the upper right and select View account. Or, use a My Account URL that includes your tenant information to go directly to your My Account page (

[2022-05-25 21:33] spencer-microsoft commented on #93476
This is what I get when I sign in with a personal account:
![Screen Shot 2022-05-25 at 2 32 05 PM](https://user-images.githubusercontent.com/17574361/170371005-b59a7469-e61a-467f-89ed-5c7029b42d53.png)

[2022-05-25 21:37] dlepow commented on #93377
We have now targeted the link properly from the portal UI. Sorry for the inconvenience.

[2022-05-25 21:41] Skatterbrainz opened #93477 "Graph SQL examples seem incorrect"
The examples which use az graph query -q 'statement here' only work when I reverse the single and double quotes.  For example, the example under "List Azure SQL databases with Azure AD authentication", shows:

az sql server ad-admin list --ids $(az graph query -q 'resources | where type == "microsoft.sql/servers" | project id' -o tsv | cut -f1)

but this throws a "parser error" but if I change the

[2022-05-25 21:49] ChaitanyaNaykodi-MSFT opened #93478 "Typo "a.cer""
Documentation has a typo in this section https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-point-to-site-rm-ps#upload

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa7be494-b0c4-1e92-829e-119b05aadcb5
* Version Independent ID: e2032468-6c27-a6a6-6194-591ca21a3c55
* Content: [Connect to a VNet from a

[2022-05-25 22:01] #93478 closed

[2022-05-25 22:01] ChaitanyaNaykodi-MSFT commented on #93478
PR made was merged

[2022-05-25 22:07] meenasaravanan02 commented on #48336
Hi @pizzabits,
We have updated the document in the PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/199367
#please-close this issue.

[2022-05-25 22:07] #48336 closed

[2022-05-25 22:23] dlepow commented on #82999
Since we've not received more information about this issue, I'll proceed to close it now. If you have more information or want to continue the discussion, please feel free to open it again. Thanks for your feedback.
#please-close

[2022-05-25 22:23] #82999 closed

[2022-05-25 22:30] khdownie commented on #78959
@ctahok apologies for the late reply. You can find workarounds here:
https://docs.microsoft.com/en-us/azure/storage/files/storage-troubleshoot-windows-file-connection-problems?tabs=azure-portal#error-53-error-67-or-error-87-when-you-mount-or-unmount-an-azure-file-share

[2022-05-25 22:42] JamesTran-MSFT commented on #93476
@spencer-microsoft
Thank you for pointing this out!
If you're using your personal account you can also try `https://myapps.microsoft.com?tenantId=<TenantID>`. I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your

[2022-05-25 22:42] #93476 closed

[2022-05-25 22:43] markingmyname commented on #88507
#please-close

[2022-05-25 22:43] #88507 closed

[2022-05-25 22:44] JamesTran-MSFT commented on #93477
@Skatterbrainz
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-25 22:44] markingmyname commented on #84860
#please-close

[2022-05-25 22:44] #84860 closed

[2022-05-25 22:47] ChaitanyaNaykodi-MSFT commented on #93445
Hello @zaalion,

For now, in order to switch between tiers, you will need to recreate the Azure Front Door profile.

This information is documented on [this page](https://docs.microsoft.com/en-us/azure/frontdoor/standard-premium/tier-comparison) in the Note section.
![image](https://user-images.githubusercontent.com/67453298/170381389-a530d849-edd6-4462-be57-518b92767462.png)

A feature for zero d

[2022-05-25 22:47] #93445 closed

[2022-05-25 22:50] #93440 closed

[2022-05-25 22:50] KranthiPakala-MSFT commented on #93440
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

Thank you

[2022-05-25 22:52] #93408 closed

[2022-05-25 23:11] Grace-MacJones-MSFT commented on #93005
thanks for the additional context! upon further review we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary, or to create a new doc if they align with the feedback.

[2022-05-25 23:27] kobulloc-MSFT commented on #93463
@spottedmahn Thank you for your question!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-05-25 23:27] #93463 closed

[2022-05-25 23:31] bwren commented on #91871
It is not. Removing it. Thanks for pointing that out!

#please-close

[2022-05-25 23:31] #91871 closed

[2022-05-25 23:33] pnarsi commented on #93410
@ShaikMaheer-MSFT - okay, if I was to rephrase this as a doc related issue. Is there are purview doc that lists what traffic from the SHIR VM to various endpoints is supported or not supported via private endpoint? There is a doc [here](https://docs.microsoft.com/en-us/azure/data-factory/data-factory-private-link#secure-communication-between-customer-networks-and-data-factory) that provides this i

[2022-05-25 23:45] #81302 closed

[2022-05-26 00:04] bwren commented on #89656
Thanks, we're working on bicep samples. Already have some in our samples, just haven't gotten to these yet. They are on the list though.

#please-close

[2022-05-26 00:04] #89656 closed

[2022-05-26 00:20] KranthiPakala-MSFT commented on #93475
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2022-05-26 01:51] HiroakiMachida opened #93480 "api-management-howto-integrate-internal-vnet-appgateway: how to set password for pfx files?"
[Enter feedback here]

I appreciate it if you could clarify a little how to specify the passwords.

The pfx file does not have a password when downloaded from Key Vault.
https://docs.microsoft.com/en-us/azure/key-vault/certificates/quick-create-portal#export-certificate-from-key-vault

I tried to set passwords by the following steps.
https://mcilis.medium.com/how-to-change-the-password-of-a-pfx-fi

[2022-05-26 01:58] spottedmahn commented on #93463
Hi kobulloc-MSFT 👋

But it's not IMHO 😉.  Please see my issue title.  I can google `VS Code Docker` 😊... I'm looking for curated content, does that make sense?

[2022-05-26 02:15] AshokPeddakotla-MSFT commented on #93421
@wenduof Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-05-26 02:20] kano4 opened #93481 "Display of accurate information"
We can see the following in this page.

I run the following and it only showed PHP7.4.
[code]
I understand it is an example, but it looks like we can use PHP8.0 on windows. Could you please change the example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3209bb1-99cd-9e32-ae48-2605831aee02
* Version Independent ID:

[2022-05-26 02:45] matt-gribben commented on #93432
Hi Monika,

The document is https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/active-directory/azuread-dev/v1-oauth2-on-behalf-of-flow.md

It specifies that web api A can get a token from Azure AD for access to web api B, but doesn't  specify how web api B verifies that token?

[2022-05-26 02:45] scottwtang opened #93482 "Focus navigation setting"
Add info for this setting which isn't documented anywhere. This setting controls the "hierarchy view" when browsing through nested items, and allows you to move between them with a horizontal scroll bar.

![image](https://user-images.githubusercontent.com/48874569/170404824-12814390-776c-419a-a6a9-987ff7a65da8.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2022-05-26 02:48] abdiazizf opened #93483 "Expired Certificate"
[Enter feedback here]
![image](https://user-images.githubusercontent.com/30483552/170405342-fb42b411-d2a3-40d7-a9ce-d185cf69d7d3.png)

Not sure if its the correct place but theres an expired certificate. I've attached a picture for your reference.
---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7966773b-079d-045a-560a-7e

[2022-05-26 02:49] #93432 closed

[2022-05-26 02:51] abdiazizf commented on #93483
I've just tried reproducing the error. Will reopen if it occurs again.

[2022-05-26 02:51] #93483 closed

[2022-05-26 03:41] shwetamathur7 commented on #93465
@v-mosubr Thank you for raising this issue. Unfortunately, this forum is only for documentation issues and not functionality issues. But such functionality issues are investigated at [Microsoft Graph Q&A](https://docs.microsoft.com/en-us/answers/index.html). If you have any questions related to document, please share the link of page you are referring to help you further.

[2022-05-26 03:50] kobulloc-MSFT commented on #93463
@tejaswikolli-web How do we feel about adding a link to the installer like the following?  I can get a PR out if we want to go in this direction:

You might want to use [Visual Studio Code with Docker extension](https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-docker) for a faster and more convenient login.

[2022-05-26 03:51] mrochon opened #93484 "Scripts are failing"
The first two scripts provided in this tutorial are no working for me. The first one, creating a VM completes OK but then the VM does not boot since its Gen 2 and to use iso media it needs to be Gen 1 apparently. The short of it is it does not want to attach the iso. I created a VM using the Hyper-V console and installed Windows Server 2022 on it. The 2nd script (Install AD prerequisites) fails on

[2022-05-26 03:52] aserfass-msft opened #93485 "Please update CUDA driver links to https"
Hello, this is a great page! I initially hit an error that the cuda driver 451.82 "can't be downloaded securely" (an Edge downloads msg). I changed the url to https and it worked. It seems this is a good change to make and might help others. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c5bc749-3f68-e230-37ff

[2022-05-26 03:53] #92921 closed

[2022-05-26 03:55] #93224 closed

[2022-05-26 03:58] #93317 closed

[2022-05-26 04:16] VikasPullagura-MSFT commented on #93485
@aserfass-msft Thanks for the Feedback. We will check and update the document accordingly.

[2022-05-26 05:25] SnehaAgrawal-MSFT commented on #93473
@paulaustin-automutatio  Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-26 05:26] SnehaAgrawal-MSFT commented on #93481
@kano4 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-26 05:44] orgads commented on #58439
Why was this issue closed? It is not fixed.

[2022-05-26 05:49] xuegao112 commented on #92927
Hi @rboucher , any updates?

[2022-05-26 05:55] incPanKok opened #93490 "Backup OS Disk only option not available"
According to the page: "Currently, the ability to configure selective disks backup through the Azure portal is limited to the Backup OS Disk only option."

But **Backup OS Disk only** option is not available on Azure portal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c377efd1-001c-0c4f-cadb-0c60decc0c6d
* Version In

[2022-05-26 06:30] AnuragSharma-MSFT commented on #93431
@ThinkElevenDave Just wanted to check if this helped or in case you need more details on it.

[2022-05-26 06:32] mikequ-taggysoft opened #93494 "Clarification on the inbound endpoint IP and actual subnet/IPs to query against would have helped a lot"
When I set up the private resolver for the first time, I didn't realize the entire inbound subnet, minus the first 4 reserved IPs and the "endpoint IP address" itself are to be used for DNS requests.

Instead, I saw under the resolver's Settings -> Inbound endpoints, the IP address of the endpoint itself, and assumed that was the one to use for query. In my case I had subnet 10.5.1.0/24 assigned a

[2022-05-26 06:34] mikequ-taggysoft commented on #93494
Ooops accidentally lost the underlying doc tags and posted in the wrong section

[2022-05-26 06:34] #93494 closed

[2022-05-26 06:36] mikequ-taggysoft opened #93495 "Clarification on the inbound endpoint IP and actual subnet/IPs to query against would have helped a lot"
When I set up the private resolver for the first time, I saw under the resolver's Settings -> Inbound endpoints, the IP address of the endpoint itself, and assumed that was the one to use for query. In my case I had subnet 10.5.1.0/24 assigned as inbound endpoint subnet, and Azure assigned 10.5.1.4 as the endpoint IP, so I kept trying to use 10.5.1.4 without luck.

Then I figured out that I'm not

[2022-05-26 06:41] AnuragSharma-MSFT commented on #93262
@pnarsi Thanks for patience. I don't think there is way to block user creation for admin. Server Admin has all the necessary roles to create users based on AD credentials or normal password based users.

[2022-05-26 06:48] pnarsi commented on #93262
Thanks @AnuragSharma-MSFT , I suspected that was the case. I guess we will have to rely on manual processes to ensure that local users are not created by admins.

[2022-05-26 06:48] #93262 closed

[2022-05-26 06:50] bozo-david-allwin commented on #83306
I miss these information too. When we can expect to see it?

[2022-05-26 06:56] RohitRanjanMS commented on #92820
Thanks for reporting this issue, can someone share a sample function app to repro the issue?

[2022-05-26 06:57] ctahok commented on #93145
TrackingID#2204270030001758

[2022-05-26 07:00] AnuragSharma-MSFT commented on #93416
@griffinbird Thanks for reporting this issue. We have made the changes through a PR which could take few days to go live.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-05-26 07:10] banterCZ opened #93497 "Explain Differencies Between Two Reinstate Events"
I see two examples for **Reinstate** _event_ and it is not clear to me, what is the difference.

[code]

[code]

What is `operationType` and why is mentioned only for `Reinstate`? May it really happen that I get a payload without `action`? What is the difference between these two examples?

Is there any json schema available for the webhook payload?

---
#### Document Details

⚠ *Do not edit this

[2022-05-26 07:13] Johnnytechn opened #93498 "Should we use use a SpeechTranslationConfig instead of a SpeechConfig?"
Recently, a customer in Mooncake has given us one feedback that it always have issues after the method "FromEndpoint" of the class "SpeechConfig" is called. I reviewed all the samples code within this article, and found only the last sample section references it but the others don't. So, should we reference the same method "FromSubscription" of the class "SpeechTranslationConfig" for multilingual

[2022-05-26 07:21] banterCZ opened #93499 "Missing Description of Payload Attributes"
Please describe attributes of the webhook payload.

Especially it is not clear to me what do `id` and `activityId` attributes mean. Is there any relation to `operationId`? I am curious because publishers are supposed to call `Patch https://marketplaceapi.microsoft.com/api/saas/subscriptions/<subscriptionId>/operations/<operationId>?api-version=<ApiVersion>` as described at https://docs.microsoft.c

[2022-05-26 07:56] #92914 closed

[2022-05-26 08:13] dknappettmsft commented on #82946
Thanks for raising this.  I have made changes to the article, which includes a correction to the JSON.

#please-close

[2022-05-26 08:13] #82946 closed

[2022-05-26 08:36] SadiqhAhmed-MSFT commented on #93490
@incPanKok Thank you for your post. We will look into it and get back to you shortly.

[2022-05-26 08:39] dem108 commented on #93002
@davystrong , currently we expose only one output for whole batch, although we're internally creating output for each process and merge later. For the time being, using [Pipeline](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-component-pipelines-cli) should work.

[2022-05-26 09:43] batamig commented on #93358
Hi @smedin4, thanks for writing into docs!
We're currently working on updates to the installation procedures for the latest versions, and they'll be updated in a coming publish.
Since this is already in our backlog and we don't want to double-track the issues, I'm closing this item for now.
Please feel free to continue commenting here if you have additional feedback on this issue.

We appreciate y

[2022-05-26 09:43] #93358 closed

[2022-05-26 09:47] YutongTie-MSFT commented on #93238
@mtyeager This code is best for Jupyter environment, if you want to draw the bouding box with SDK, it should work, but you need to install matplotlib.

I will let the content team know the feedback to add more guidance for this topic in SDK and studio environment. Thanks for your feedback again.

We will now proceed to close this thread. If there are further questions regarding this matter, please

[2022-05-26 09:47] #93238 closed

[2022-05-26 10:11] mtyeager commented on #93238
I just thought it would be worth adding a note specifying the environment where this code will work, and where it won't work, to prevent other developers from going down this rabbit hole.

Thanks.

Michael Yeager
Autonomous Systems Architect
RoBOPPics LLC
***@***.***
________________________________
From: YutongTie-MSFT ***@***.***>
Sent: Thursday, May 26, 2022 5:47:55 AM
To: MicrosoftDocs/azure-d

[2022-05-26 10:16] GitaraniSharma-MSFT commented on #93495
@mikequ-taggysoft , thank you for the feedback. We have assigned this to the content owner/author for review.

@greg-lindsay , for your review.

[2022-05-26 10:50] ganniaiuei opened #93506 "Wrong SHA256 hash for Ova for it-IT"
I would suggest to check the hash signature for the OVA that can be downloaded using the link in the documentation page when browsing as it-IT (this is the page I'm talking https://docs.microsoft.com/it-it/azure/migrate/tutorial-discover-vmware#verify-security). When you click to the link "[Versione più recente](https://go.microsoft.com/fwlink/?linkid=2140333)" the link point to : https://go.micro

[2022-05-26 10:51] AshokPeddakotla-MSFT commented on #93330
@Adamgneh I just downloaded the files from Github and able to see the arm-read-write.csproj file in the folder.

<img width="437" alt="image" src="https://user-images.githubusercontent.com/44426435/170473826-b3caea86-0dde-4cd7-9701-10116768cfb6.png">

Extract all files to any location.

<img width="521" alt="image" src="https://user-images.githubusercontent.com/44426435/170473696-3d15dbe6-c669-458

[2022-05-26 11:03] AshokPeddakotla-MSFT commented on #93392
@dominicbetts @jgossett  is referring to this page https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/iot-central/core/overview-iot-central-api-tour.md

where the Control plane overview is redirecting to 404 error.

<img width="213" alt="image" src="https://user-images.githubusercontent.com/44426435/170475691-b5701fe1-5737-45e6-b0be-7d2cc053dda9.png">

This doc is not having issues htt

[2022-05-26 11:12] asergaz commented on #93280
Most probably the error is here. Your container (simulatedTemperatureSensor Module) does not recognize parent_hostname FQDN. You can check [Docker container create options](https://docs.docker.com/engine/api/v1.32/#operation/ContainerCreate) and my hint is that you will need to configure the DNS to be able to find that FQDN inside your container. See also: [How to configure container create option

[2022-05-26 11:24] AriCohen8 opened #93507 "Question: When is Classification Expected for Oracle Sources?"
The page says that classification is not currently supported for Oracle sources. It would be useful to know when this is expected to be available. If there is a roadmap board on Github the could help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fa7b86e-6afa-4cbe-0996-f021aa6172c8
* Version Independent ID: 5e930d8a-

[2022-05-26 11:54] SnehaAgrawal-MSFT commented on #93507
@AriCohen8 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-26 12:03] Adamgneh commented on #93330
I understand now! I downloaded azure-iot-sdk-csharp before.zip, no wonder I didn't find it. Thanks a lot.

[2022-05-26 12:04] #93330 closed

[2022-05-26 12:04] TheRealSvc commented on #93280
I tried to use the IP as the parent_hostname. No success.
Most of the simulatedTemperatureSensor logs i've provided above. Sorry if that wasn't clear.
Today i'am a bit limited. Tomorrow i'll try to modify the DNS settings. But since my own module runs,  i probably won't spend too much time to get the simulatedTemperatureSensor module running.

[2022-05-26 12:13] SQLtattoo opened #93508 "The link does not work as expected"
Hello,
 the link [Microsoft Cloud Red Teaming](https://gallery.technet.microsoft.com/Cloud-Red-Teaming-b837392e) does not work as expected, it takes you to gallery sample code with a redirected URL: https://docs.microsoft.com/en-us/samples/browse/?redirectedfrom=TechNet-Gallery

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-05-26 12:25] MayankBargali-MSFT commented on #93480
@HiroakiMachida Thank you for your feedback! We will review and update as appropriate.

[2022-05-26 12:34] StevenTCramer opened #93509 "Error calling semverCompare: Invalid Semantic Version"
[Enter feedback here]
based on this issue https://www.higithub.com/MicrosoftDocs/issue/azure-docs/85135
Shouldn't the docs be updated to remove the "v"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12009c1f-282d-2632-fac0-64b09c432833
* Version Independent ID: 6052d3d4-d295-9340-b16d-4c200e34cd73
* Content: [Use ingre

[2022-05-26 12:48] SadiqhAhmed-MSFT commented on #93490
@incPanKok Please see the note below.

![image](https://user-images.githubusercontent.com/44458118/170490614-36d9a2bd-f20d-48b0-b76b-eac5d3492b13.png)

Hope that answers your question!

[2022-05-26 12:57] neilkoch commented on #88622
Hello, can I please have an update on this request? Thank you kindly, Neil

[2022-05-26 13:02] guywi-ms commented on #92689
#assign-reviewer: @DaleKoetke

[2022-05-26 13:02] PRMerger7 commented on #92689
The following reviewer(s) could not be added because they aren't a valid GitHub ID, aren't a valid collaborator on this repo, or are the author of the PR: dalekoetke

[2022-05-26 13:12] asergaz commented on #93280
@TheRealSvc thank you! I will try this on my side as well. Will let the case open for 1-2 more days so we can validate if this is an issue in the doc or in the product. @PatAltimore fyi.

[2022-05-26 13:17] YevheniiRudenko opened #93510 "Wrong value in apiVersion"
Hi!
Looks like `apiVersion: extensions/v1beta1` should be changed to `apiVersion: networking.k8s.io/v1`.
Btw on this resource apiVersion field has right value https://azure.github.io/application-gateway-kubernetes-ingress/tutorials/tutorial.general/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df590818-cbf1-3473-b408

[2022-05-26 13:18] rosacek opened #93511 "Access policies vs Access configuration"
The property in bold can be enabled in "Access configuration" menu, not "Access policies".

---

Select Access polices

Image shows selecting access policies from the key vault blade.

Ensure the access policies include the following property:

Enable access to **Azure Virtual Machines for deployment**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-05-26 13:26] shwetamathur7 commented on #93484
@mrochon Thanks for your feedback. We will investigate and update the thread.

[2022-05-26 13:28] shwetamathur7 commented on #93482
@scottwtang thanks for your feedback. We will investigate and update the thread.

[2022-05-26 13:29] crookse opened #93513 "Missing documentation on Total Requests Short Term policy?"
Hi, I'm currently working on an App Configuration integration and noticed the following exception message in my app:

[code]

I tried looking for the `Total Requests Short Term` policy to find out more information about it, but all I can find is the `Total Requests` policy. I'm wondering if this is the same policy or something completely different (e.g., too many requests sent in a given time peri

[2022-05-26 13:31] shwetamathur7 commented on #93444
@RaviMSHybd Thanks for your feedback. We will investigate and update the thread.

[2022-05-26 13:39] ram-msft commented on #93498
@Johnnytechn Thanks for the question. We are investigating the issue and will update you shortly.

[2022-05-26 13:40] csj opened #93515 "Missing pre-requisite"
In order for me to be able to create a new Container App in my subscription, I needed to have somebody in my organization's orbit register the Resource Provider "Microsoft.App". Otherwise I could go through the motions of creating the resource, but it ultimately failed citing that I couldn't perform the action "Microsoft.App/register/action" over scope "/subscriptions/[my-subscription-guid]". Perh

[2022-05-26 13:45] rohitiscancerian opened #93516 "What granular read permission is required to be able to see the Monitor logs in Azure function on the azure portal"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74d4c770-e59d-63bc-3710-7ed2c8867a75
* Version Independent ID: a770673c-f4bc-ad56-8154-04dfb5f52ad4
* Content: [Stream execution logs in Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/streaming-logs)
* Content Source: [article

[2022-05-26 13:47] rohitiscancerian commented on #93516
![image](https://user-images.githubusercontent.com/13632788/170500562-018a8bdc-5b19-4ab0-8a7e-43a9e386b438.png)

[2022-05-26 14:14] MayankBargali-MSFT commented on #93516
@rohitiscancerian Thank you for your feedback! We will review and update as appropriate.

[2022-05-26 14:15] yangchengs opened #93517 "Cx has one question regarding policy Audit VMs that do not use managed disks"
[Enter feedback here]
Cx has one question.

Why the policy "Audit VMs that do not use managed disks" is in the group  Access control Access to networks and network services
of ISO 27001.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0457a7a1-90a2-7b58-de73-6b49950bbdfc
* Version Independent ID: 26a9677d-af95-c913-86ad

[2022-05-26 14:23] geordiekorper opened #93518 "Links on left side of page do not point to correct anchors"
The links on left side of page do not point to correct anchors in the FAQ section. Instead they all point to the main FAQ section.

Example:
This link for backups goes to faq
`<a aria-setsize="12" aria-level="3" aria-posinset="6" role="treeitem" tabindex="0" class="tree-item is-leaf has-external-link-indicator" data-bi-name="tree-leaf" href="https://docs.microsoft.com/en-us/azure/azure-vmware/faq"

[2022-05-26 14:26] bawilless opened #93519 "Data Export Section is not complete"
Please review this section (https://docs.microsoft.com/en-us/azure/iot-central/retail/tutorial-in-store-analytics-export-data-visualize-insights#configure-data-export) for completeness.  There is detail missing when using the current Azure Portal deployment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f693815-9f5a-

[2022-05-26 14:28] geordiekorper opened #93520 "Third party backup solutions only lists a subset of backup vendors from the link that it contains"
It would probably be best to not duplicate the list from the link because doing so creates and on-going update requirement with no triggers to do so.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfdd20d6-7b1d-73f1-f580-d9207e10c5fb
* Version Independent ID: 610d9d1a-dbea-0289-01ca-c84f2b30d1ef
* Content: [Microsoft A

[2022-05-26 14:39] trchosen1 opened #93521 "Does not work with RD Gateway or with VMware Horizon View."
Does not work with RD Gateway or with VMware Horizon View. (VDI)  RD Gateway is a MS production along with NPS and NPS Extension for AzureMFA, so this is a supprise that it doesn't work and that MS doesn't spend time resolving this.  VDI already supports RADIUIS/NPS with OTP so not sure why it doesn't work in this scenario either.  Big fail!

---
#### Document Details

⚠ *Do not edit this section.

[2022-05-26 14:41] Givary commented on #93508
@SQLtattoo Thank you for pointing this, let me investigate and revert back.

[2022-05-26 14:50] AnuragSingh-MSFT commented on #93499
@banterCZ, thank you for bringing it to our attention. I am assigning it to our content team for review.

@arifgani, can you please review this issue and share your thoughts. Thanks.

[2022-05-26 14:56] alucard835 opened #93522 "Firebase Cloud Messaging no longer has a server key implementation"
The API Key section in this tutorial is no longer applicable to Firebase Cloud Messaging. Google has changed how their Cloud Messaging services is consumed, and it's no longer a single server API key. It's unclear where an API Key should be generated in Firebase in order to link to Notifications Hubs now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2022-05-26 14:58] JamesTran-MSFT commented on #93521
@trchosen1
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-26 14:59] alucard835 opened #93523 "Firebase Cloud Messaging set up needs to be updated"
Firebase Cloud Messaging no longer has a singular Service API key, so these instructions don't work any longer with specifying an API Key in the Azure Portal for Notification Hubs. It's unclear where or how to generate these keys in Firebase in order to have Notification Hubs consume it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2022-05-26 15:03] LijuV-MSFT opened #93524 "Incorrect statement about mS-DS-ConsistencyGuid feature for group objects"
Release notes for v1.5.18.0 state that:

Looking at the Synchronization Rules Editor, both the In from AD - Group Join and In from AD - Group Common inbound sync rules have these transformations:
- sourceAnchorBinary = IIF(IsPresent([mS-DS-ConsistencyGuid]),[mS-DS-ConsistencyGuid],[objectGUID])
- sourceAnchor = IIF(IsPresent([mS-DS-ConsistencyGuid]),ConvertToBase64([mS-DS-ConsistencyGuid]),Convert

[2022-05-26 15:09] ChaiSwaddipong opened #93527 "List for North America is outdated?"
I just provisioned a new virtual hub in West US3, but the region is not on the supported list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d60e984-8f53-bdfa-baa7-a03ea0d5a2d2
* Version Independent ID: 0db8b738-ddaf-419a-8e9b-cd63fb8dbbbb
* Content: [Azure Virtual WAN partners, regions, and available locations](http

[2022-05-26 15:10] ChaiSwaddipong commented on #93527
![WESTUS3](https://user-images.githubusercontent.com/81920890/170517442-5a939549-e1bc-428b-ba95-89e931f071ab.png)

[2022-05-26 15:22] x509cert opened #93529 "Code needs updating to address compile errors eg PermissionProperties vs Permission"
PermissionProperties permissionProperties = await user.GetPermission("permissionUser1Orders")

this fails to compile because user.GetPermission returns Permission not PermissionProperties

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6278ead7-854a-a291-89f3-299432737ffb
* Version Independent ID: b2b292bb-1beb-aaef-157

[2022-05-26 15:22] khdownie commented on #78959
#please-close

[2022-05-26 15:22] #78959 closed

[2022-05-26 15:27] ecfan commented on #92914
@sanket-borhade: The doc update should go live today.

[2022-05-26 15:38] Oury-MSFT commented on #93380
@rajeshsetlem Please see customer feedback above. Can we add steps on how to connect from SSMS to read-only replica in the doc?

[2022-05-26 16:01] mmacy commented on #90439
#reassign:Dickson-Mwendia

[2022-05-26 16:07] kobulloc-MSFT commented on #83377
@conradj3 This is likely going to be out of scope for the documentation.  It may be worthwhile trying to troubleshoot this on Microsoft Q&A:
https://docs.microsoft.com/en-us/answers/topics/azure-virtual-machines.html

[2022-05-26 16:23] JustinGrote opened #93530 "Process is marked as "legacy" but there is no hero banner pointing to the "new" procedure"
This article is marked "legacy" but there's no link to what the appropriate new procedure is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 564fcf4e-69b9-a8b0-a362-c4effeca4a8b
* Version Independent ID: 7ae1feea-e9ca-bc0a-c984-81b19f4339b8
* Content: [Grant access to create Azure Enterprise subscriptions](https://docs

[2022-05-26 16:28] Oury-MSFT commented on #93381
@@flang-msft Please see customer feedback on the recent changes in the Azure Portal. I don't have the required permissions to change images in documentation.

[2022-05-26 16:36] cebundy commented on #83902
@ToruMakabe Thank you for your input.  I have added the cooldownPeriod and pollingInterval values to the article.  I hope that this helps.  You should see the changes soon.
#please-close

[2022-05-26 16:36] #83902 closed

[2022-05-26 16:39] cynthn commented on #93447
#reassign @ericd-mst-github Can you work with engineering to see if we might be able to add Terraform how-to information to the docs?

[2022-05-26 16:42] DanielA2119 opened #93531 "Out of date."
The options and view of the SQL Networking page in this document have changed in the portal and the document is now out of date and should be revised. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84000417-13a0-36ae-9c06-dd6b481822cc
* Version Independent ID: 7c1ff678-591b-3807-4fe6-0339885716d4
* Content: [Co

[2022-05-26 16:43] dhgokul opened #93532 "Encountered an internal AutoML error - PipelineRunException: No group keys passed"
I have created pipeline using python sdk AutoML for data preparation,AutoML training and deploy as endpoint url with scheduler option. It was working as expected for past day. Today i tried to create new pipline at the AutoML model creation I got error as "PipelineRunException: No group keys passed!\" , Tried with different conda environment and also with new compute instance. Still that issue per

[2022-05-26 16:46] Grace-MacJones-MSFT commented on #93522
thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2022-05-26 16:47] andrewbrownmsft commented on #88258
#reassign:esha0611

[2022-05-26 16:47] Grace-MacJones-MSFT commented on #93523
Hi @alucard835, Thanks for the feedback! I have assigned the issue to the content author to evaluate and update this doc as appropriate.

[2022-05-26 16:49] Oury-MSFT commented on #93419
@pnarsi As mentioned in the doc To access your server from another computer/client or application, you need to specify one or more server-level firewall rules to enable access to your server. Use the firewall rules to specify allowed public IP address ranges.
@sunilagarwal could you please confirm that.?

[2022-05-26 16:51] andyrivMSFT commented on #81290
#please-close

[2022-05-26 16:54] #83459 closed

[2022-05-26 16:54] ChaitanyaNaykodi-MSFT commented on #93527
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-26 16:55] ChaitanyaNaykodi-MSFT commented on #93510
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-26 16:57] kobulloc-MSFT commented on #93520
@geordiekorper Referencing the section below:
https://docs.microsoft.com/en-us/azure/azure-vmware/faq#what-independent-software-vendors--isvs--backup-solutions-work-with-azure-vmware-solution

I believe we can generalize the language in this section to create a single source for the ISV backup solutions list.

[2022-05-26 17:01] JamesTran-MSFT commented on #93476
@spencer-microsoft
Thank you for following up on this!

**[Find tenant ID through the Azure portal:](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-how-to-find-tenant#find-tenant-id-through-the-azure-portal)**
1. Sign in to the [Azure portal](https://portal.azure.com/).
2. Select Azure Active Directory.

You can also select the Directory + Subscriptions optio

[2022-05-26 17:02] dlepow commented on #83459
@WillParry - I added a note to the IP filter policy documentation to note the scenario of multiple scopes and policy evaluation order, and this will publish within a day or so. Thanks for raising the issue.

[2022-05-26 17:02] GeethaThatipatri-MSFT commented on #93531
Hi @DanielA2119 Thanks for your findings,We will investigate and update as appropriate

[2022-05-26 17:03] JamesTran-MSFT commented on #93477
@Skatterbrainz
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.
![image](https://user-images.githubusercontent.com/36619112/170538306-0e0da697-282a-489d-a85d-d16effa6b26b.png)

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your

[2022-05-26 17:03] #93477 closed

[2022-05-26 17:04] JamesTran-MSFT commented on #93524
@LijuV-MSFT
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-26 17:07] Givary commented on #93508
@SQLtattoo Worked with the content author and fixed the hyperlink issue related to [Microsoft Cloud Red Teaming]. Thank you once again for pointing this out.

[2022-05-26 17:07] #93508 closed

[2022-05-26 17:12] #93485 closed

[2022-05-26 17:19] bawilless commented on #93519
The Logic Apps Designer section does not apply to the current Azure Portal interface.
This section also does not document the current Logic Apps Designer interface.   https://docs.microsoft.com/en-us/azure/iot-central/retail/tutorial-in-store-analytics-export-data-visualize-insights#create-a-logic-app

[2022-05-26 17:28] Cardiohater1 opened #93533 "Had ` on the code git clone https://github.com/Azure-Samples/communication-services-web-calling-hero.git`"
There is a ` on the git clone command on the
git clone https://github.com/Azure-Samples/communication-services-web-calling-hero.git`

![image](https://user-images.githubusercontent.com/104942948/170542597-1f6e86fc-b580-422d-85e7-50de1770c419.png)

https://docs.microsoft.com/en-us/azure/communication-services/samples/calling-hero-sample?pivots=platform-web

---
#### Document Details

⚠ *Do not edit