[2018-06-04 22:30] justinyoo commented on #9644
@BryanTrach-MSFT Thanks for the response.

To be more specific,

Through portal or Azure CLI with command,  `az webapp create ...`, the web app instance created has the `kind` value of `app,linux,container` (for single container) or `app,linux` (for compose and k8s).

However, through ARM template using PowerShell or Azure CLI with command, `az group deployment create ...`, the web app instance cr

[2018-06-04 22:32] SaurabhSharma-MSFT commented on #9546
@scheng924 I recommend you to please open a new MSDN forum post and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required as I do think this as documentation issue or documentation enhancements.  Please provide the MSDN thr

[2018-06-04 22:36] rmaziarka opened #9691 "Linking to Functions 2.0 package."
In Packages section you are relating to [Functions trigger binding](https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings) document. Unfortunately, it advises installing `Microsoft.Azure.WebJobs.Extensions.CosmosDB` package, not `Microsoft.Azure.WebJobs.Extensions.DocumentDB`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2018-06-04 22:42] YutongTie-MSFT commented on #9681
@Powerhelmsman Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@noellelacharite Hi, this is a product question/document-enhancement issue, can you please check it to see if you can help and update the document as necessary? Thanks a lot!

[2018-06-04 22:47] mattbriggs commented on #9387
@jecarlsen Thanks for your suggestions. I will update shortly. Cheers! Matt #in-progress

[2018-06-04 22:47] YutongTie-MSFT commented on #9396
Hi, I have contacted the product group for further information. But this is internal IP and we can not elaborate beyond the original blog post below.  Also, this can change in the future. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

https://blogs.technet.microsoft.com/machinelearning/20

[2018-06-04 22:47] #9396 closed

[2018-06-04 22:48] mtwelve commented on #6050
@PeterKlapwijk in testing we got it to work by circumnavigating the proxy however our customer wouldn't of left it like that and so I can assume they got it to work through theirs.

Best bet would be to start by white listing the URLs mentioned in this article - https://docs.microsoft.com/en-us/intune/compliance-policy-create-windows#windows-10-and-later-policy-settings

[2018-06-04 22:57] Mike-Ubezzi-MSFT commented on #9658
@KeirSweeney Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-04 22:58] vasivara-MSFT commented on #9686
@srrengar Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-04 23:00] ravikiran-srini commented on #9303
@tfitzmac Im talking about these 2 lines

endpoint=$(az eventgrid topic show --name <topic_name> -g myResourceGroup --query "endpoint" --output tsv)
key=$(az eventgrid topic key list --name <topic_name> -g myResourceGroup --query "key1" --output tsv)

Here, endpoint and key are variables. So they need to be $key and $endpoint.

[2018-06-04 23:00] #9303 closed

[2018-06-04 23:06] vasivara-MSFT commented on #9688
Yes, As mentioned in this [document](https://azure.microsoft.com/en-us/support/legal/sla/log-analytics/v1_1/). We guarantee that at least 99.9% of the time, log data will be indexed within six hours of the data being queued for indexing by the Operations Management Suite Log Analytics Service.

[2018-06-04 23:07] Mike-Ubezzi-MSFT commented on #9658
@KeirSweeney There are .NET, Java, and JMS client libraries and then there are the Service Bus Queues, which support the following technologies: .NET, Java, Node.js, PHP, Python, Ruby, and REST.

![screenshot 32](https://user-images.githubusercontent.com/37126106/40946177-0b462198-6811-11e8-9fa7-bfb877ddaf05.png)

[2018-06-04 23:08] saimsh commented on #8462
same issue encountered:
Set-AzureRmResource : Exception getting "Values": "The method or operation is not implemented."
At line:160 char:5
+     Set-AzureRmResource -resourceid $resource.ResourceId -Properties  ...
+     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : CloseError: (:) [Set-AzureRmResource], GetValueInvocationException
    + FullyQuali

[2018-06-04 23:08] jason-j-MSFT commented on #9683
@AndrewHiggins closing this issue as there is no actionable information, feel free to open another issue against the document you are trying to feedback.

[2018-06-04 23:08] #9683 closed

[2018-06-04 23:09] jason-j-MSFT commented on #9673
@burstingninja closing this issue as there is no actionable information, feel free to open another issue against the document you are trying to feedback.

[2018-06-04 23:09] #9673 closed

[2018-06-04 23:11] Mike-Ubezzi-MSFT commented on #9682
@cenkersoy Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-04 23:13] SaurabhSharma-MSFT commented on #9597
@colemickens Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-04 23:16] Mike-Ubezzi-MSFT commented on #9281
@oavioz We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-04 23:16] #9281 closed

[2018-06-04 23:22] carmonmills commented on #9686
@niniikhena would you please take a look at the article and fix this information: The first 'Deploy to Azure' link does not work.

Thanks
Carmon

[2018-06-04 23:27] MicahMcKittrick-MSFT commented on #9678
@gwlperl can you provide the full set of code you are trying to run?

[2018-06-04 23:29] carmonmills commented on #9293
@niniikhena here's another issue with broken links.  Would you take a look and resolve?

Thanks,

Carmon

[2018-06-04 23:45] jeevansd commented on #9200
@logicfox I am confirming this with the Slack team.

[2018-06-04 23:50] JustinGalbraith commented on #9626
Hello!
Yes, I think that further bit of clarification would help to explain the differences between the sizes. I was looking at this page as a reference for the exam and had a hard time understanding how a size could fall into two functional categories.

[2018-06-04 23:53] Flashjunky opened #9692 "COM port issue"
I'm sure I've missed something, as I've had this working before, but when I try and run the device-upload task, no matter what settings I apply I'm always getting an access denied error on COM4 followed by "config_connect_string: Config IoT Hub device connection string failed: Opening COM4: Access denied"  Any/all assistance gladly received!

---
#### Document Details

⚠ *Do not edit this section.

[2018-06-05 00:02] tfitzmac commented on #9501
@kyle-thomas-TT - thanks for this question. You have a couple of options. You can use property iteration in the resource to correctly resolve the if statement. Or, you can move the if statement directly into the place where the suffixName variable is used.

I am trying to verify exactly which functions won't work in this situation of using copy in a variable.

[2018-06-05 00:18] msangapu commented on #9685
Hello - great question! This is currently in preview and ACR support is in the works. I will update the article and this thread once it's available. Let me know if this answers your question!

[2018-06-05 00:27] ajiteshg opened #9693 "Edge Device Examples"
Apart from CLI, it will help for the community to get real edge device example such as Arduino or Rasberri

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0c550f7-328c-7d5d-0594-e0bb7ac9cb7a
* Version Independent ID: ce2d86b7-e3ca-a7c9-9fef-43631f6f7fdb
* Content: [Control a device from Azure IoT Hub quickstart (Node.j

[2018-06-05 00:38] curtand commented on #9269
Hi @scarson
It's up. https://docs.microsoft.com/azure/active-directory/active-directory-assign-admin-roles-azure-portal
#please-close

[2018-06-05 00:51] rboucher commented on #7511
In internal pull request. https://github.com/MicrosoftDocs/azure-docs-pr/pull/42966

[2018-06-05 00:52] HK-Zhang commented on #9523
It is good to know that. I suggest to add above explanation into section "How does partitioning work" to avoid confusing.

[2018-06-05 00:56] SnehaGunda commented on #9602
@mike-urnun-msft assign this issue to me.

[2018-06-05 01:23] dcbrown16 opened #9694 "Monitoring link"
The link in the sentence below doesn't go anywhere.
"For a how-to, see Monitor, manage, and size an elastic pool."
I think it is trying to go here:
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-elastic-pool#monitor-an-elastic-pool-and-its-databases
But please let us know if there is a more in-depth document on this subject.

---
#### Document Details

⚠ *Do not edit this section

[2018-06-05 01:30] linda33wj commented on #9587
@Anmolgan81 Each copy activity supports copying blobs to a single table. For your scenario, to ease config, you can use ForEach + Copy, aka to create a copy activity taking in parameters of source path and sink table and more as needed, then ForEach to iterate each pair and invoke copy. Refer to the pipeline 2 in tutorial https://docs.microsoft.com/en-us/azure/data-factory/tutorial-bulk-copy-porta

[2018-06-05 01:37] linda33wj commented on #9533
@Anmolgan81 What's your source and sink pair? Regarding nothing being logged in storage, did you use PolyBase to load into SQL DW? Note the supported incompatible conditions are listed at https://docs.microsoft.com/en-us/azure/data-factory/copy-activity-fault-tolerance#supported-scenarios - not sure if related to your case, currently ADF doesn't support log PolyBase rejected rows into storage, it'

[2018-06-05 01:43] linda33wj commented on #9440
@TheYabadabadou thanks for the feedback. In general, you don't need to config the Advanced tab unless any property is not yet supported on the UI (very rare), nor the schema tab in dataset. For Jira and Hubspot specifically as you mentioned, on dataset, just choose the linked service should be sufficient, then go back to Copy Activity --> Source tab to specify the query and you can preview data re

[2018-06-05 02:41] raviveer2 commented on #9525
Video links are still broken, pointing to https://mix.office.com/watch/xxxxxxxxxxxxx

[2018-06-05 02:42] bbqchickenrobot opened #9695 "F# Support"
Will there be support for F# functions down the road?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1eacf09-cf2b-6fdf-f77d-f45b0a8f2cb0
* Version Independent ID: ea2606e3-5b90-a186-8fc3-02fbddc4f597
* Content: [Durable Functions Overview - Azure](https://docs.microsoft.com/en-us/azure/azure-functions/durable-function

[2018-06-05 02:52] dcbrown16 opened #9696 "Outdated link"
Both of the (2) links on this page referring to the OSes "supported by Azure" point to an obsolete link. Is there a more up-to-date source for this information?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c721f5ae-ece4-58ab-d00d-65856907c364
* Version Independent ID: 7912f48e-25be-6efb-e770-c30404d84c58
* Content: [

[2018-06-05 02:54] SaurabhSharma-MSFT commented on #9638
@rccnw The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2018-06-05 02:54] #9638 closed

[2018-06-05 02:58] mbedford78 opened #9697 "Syslog format as target"
My external security monitoring service needs to receive logs in syslog format, which of the 3 target examples IBM QRadar, Splunk or SumoLogic is most closely aligned to this as the target so I can explore down the path for integration?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2258670a-245c-ede4-5805-a07e589d5f13

[2018-06-05 03:05] SaurabhSharma-MSFT commented on #9651
@erwinmanuel The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2018-06-05 03:05] #9651 closed

[2018-06-05 03:07] andrew-best-diaxion commented on #9304
Hi @jeevansd, any updates on this? We're tracking a blocker against this issue.

[2018-06-05 03:39] FredFaust commented on #9688
Is there any plans for lowering the 6 hours? Sorry if the information is already out there. Can't find it.
Thanks

[2018-06-05 04:43] Anmolgan81 commented on #9533
Hi

So you are saying incompatible rows related to polybase are not supported for logging in storage account?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Linda Wang <notifications@github.com>
Sent: Tuesday, June 5, 2018 7:07:29 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] How to log all incompaitable rows in

[2018-06-05 04:47] femsulu commented on #9672
@burstingninja We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-05 04:47] #9672 closed

[2018-06-05 04:50] smflorentino opened #9698 "No example ARM for client certificate using common name"
Can you add an example using ARM for configuring a client certificate using common name + issuer?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30fab368-8a51-14d6-1775-defa5f0ff04f
* Version Independent ID: a8fbbe3d-063a-d6c9-b61d-1ebcfcaa1422
* Content: [Manage certificates in an Azure Service Fabric cluster](https:/

[2018-06-05 04:52] femsulu commented on #9697
@mbedford78 Thanks for the comment. Your question has been shared with the content owner for further review.

[2018-06-05 05:07] dcbrown16 opened #9700 "Link intended?"
I'm not sure what "Verify [supported operating systems](#replicated machines)." is supposed to mean - is it intended to link up to the Windows/Linux OS info here?
https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-azure-support-matrix#replicated-machines

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-06-05 05:26] ajiteshg opened #9701 "UI appears to be old"
For example, Enterprise Integration is changed to jus Integration. Endpoint drop down appears before Query string in my Azure UI but it comes after Query string in the above screenshot. Queue can be created using Azure UI instead of writing code as referenced int he link above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-06-05 05:55] SaurabhSharma-MSFT commented on #9545
@WillLennon It could be some permissions issue.  However for the actual issue I suggest you to please open a new MSDN forum post with details so that community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required as I do not think t

[2018-06-05 06:00] genlin commented on #9415
@YanniG1  We will process to close this issue. Please let us know if there is something else that we can help you with.

#please-close

[2018-06-05 06:01] GavinPG opened #9702 "Inconsistency between mention of 'kid' in text and headers shown"
In the document it states that 'Your app can use the kid claim in the JWT header', but the JWT headers shown don't have a 'kid' property, only 'x5t'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2906fe9e-319d-3625-441d-d28c9251b450
* Version Independent ID: 168fde63-9b86-41a9-f1cc-7b5a0e2e5d7a
* Content: [Learn about

[2018-06-05 06:10] nitinme commented on #9525
@jloughlinMSFT - Thanks for the feedback. I have made the change in the doc sources and you should see the updated article live by 06/05.

[2018-06-05 06:44] linda33wj commented on #9533
@Anmolgan81 correct. Now using PolyBase you can skip the incompatible rows, while cannot log them in the mean time yet. It will come later.

[2018-06-05 06:46] Anmolgan81 commented on #9533
Any ETA on this??

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Linda Wang <notifications@github.com>
Sent: Tuesday, June 5, 2018 12:15:00 PM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] How to log all incompaitable rows in storage account using ADF V2 copy data tools? (#9533)

@Anmolgan81<https://github.com/Anmo

[2018-06-05 06:48] Jabbar2018 opened #9703 "Data sync time"
Thank you. So what's default time for data sync from primary to secondary. Which database is pushing or pulling data. If I increase load on secondary database (from my applicaiton I'm using select queries over secondary DB), will it impact sync performance?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6427bafa-22e3-6

[2018-06-05 07:04] SnehaGunda commented on #9523
@HK-Zhang Sure will do thanks for the feedback!

[2018-06-05 07:07] flyrev commented on #9655
Thanks. I'd say testing the entire flow with an empty web app and verifying that it works would be a good thing to do.

[2018-06-05 07:07] smic1909 commented on #9685
This was/is exactly my question on stackoverflow (https://stackoverflow.com/questions/50693443/azure-webapp-docker-compose-private-repository)
Great to see that you are working on this feature.

[2018-06-05 07:12] smic1909 commented on #8423
This topic is exactly what I was/am searching for days. In the end I put a question on stackoverflow (https://stackoverflow.com/questions/50681821/deploy-azure-webapp-with-custom-container-environment-variables) in order to get an answer to my question.
My workaround was also using a docker-compose file but with docker-compose it is not (yet) possible to use ACR images.

[2018-06-05 07:12] smic1909 commented on #8423
This topic is exactly what I was/am searching for days. In the end I put a question on stackoverflow (https://stackoverflow.com/questions/50681821/deploy-azure-webapp-with-custom-container-environment-variables) in order to get an answer to my question.
My workaround was also using a docker-compose file but with docker-compose it is not (yet) possible to use ACR images.

[2018-06-05 07:12] smic1909 commented on #8423
This topic is exactly what I was/am searching for days. In the end I put a question on stackoverflow (https://stackoverflow.com/questions/50681821/deploy-azure-webapp-with-custom-container-environment-variables) in order to get an answer to my question.
My workaround was also using a docker-compose file but with docker-compose it is not (yet) possible to use ACR images.

[2018-06-05 07:13] MrNigel opened #9705 "Integration into Microsoft Flow"
I am a non-techie, could anyone provide guidance on how I can call speech to text from a Flow so that I can analyse recorded calls?  There is no Azure connector that I can apply to a Flow action

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 029104c8-ebde-d9d4-c5c9-5f80644b8776
* Version Independent ID: c5e10d5d-4e04-5

[2018-06-05 07:19] Bigblock commented on #9661
Pretty easy. I've always used Bing Webmaster Tools to get good Bing search results. Now i'm no longer able. I can log in but then i can not use the Dashboard, because the button to open it doesn't work. What a bs design.

[2018-06-05 07:26] tysonflint opened #9706 "Typo in script name OM2012_DeleteConnector.ps1 and OM2012_DeleteConnectors.ps1"
The second reference to the OM2012_DeleteConnector.ps1 script has an "s" at the end of the filename just prior to the .ps1 extension.  At first I thought that there were two scripts that I needed to run, and could not find the code to use for the second script.  I finally realized that it was just a typo in the second script's file name.

---
#### Document Details

⚠ *Do not edit this section. It

[2018-06-05 07:35] loopfish commented on #7698
I want to add SQL Managed Instance to our existing Azure infrastructure. Any reason why I can't simply deploy a MI into an existing vNet (which already has appropriate Network Security Group controls)?

[2018-06-05 07:52] DhanrajPervaram opened #9707 "Create Azure Data factory in new Azure Enviornment."
Recently my client has created new Azure environment called STAGING. We need to create new ADF V1 service in this with same configurations of QA Environment ADF service. Can anyone please suggest me how to do and what are all the parameters to be considered? We need to migrate existing user login details, pipelines, linked services etc..

---
#### Document Details

⚠ *Do not edit this section. It

[2018-06-05 07:52] #9587 closed

[2018-06-05 07:53] Anmolgan81 commented on #9587
Thanks for the response, I found the answer by exploring and trying different things.
Your suggestion was helpful

[2018-06-05 07:59] angrymrt opened #9708 "Invoke-ServiceFabricEncryptSecret / text"
In the newest SDK the powershell command is called Invoke-ServiceFabricEncryptSecret instead of Invoke-ServiceFabricEncryptText

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15436b0f-9b50-269f-7cab-36740b1f862c
* Version Independent ID: 050deec3-d788-1d80-b826-f8ad644ed112
* Content: [Manage Azure Service Fabric appli

[2018-06-05 08:06] angrymrt commented on #9708
Nevermind, I just noticed the ..Secret is obsolete.

[2018-06-05 08:06] #9708 closed

[2018-06-05 08:10] GeertDepickere opened #9709 "Remote Monitoring also uses Stream Analytics"
The most recent version of Remote Monitoring does use Stream Analytics. This should be indicated in the table at https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-what-are-solution-accelerators#azure-services

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a765ccd-6b6b-103c-cbc4-04db7feda71a
* Ve

[2018-06-05 08:15] waheedhussain opened #9711 "Viewing the multi step web test results"
Hi,

It says in the below section that the test results can be downloaded, but doesn't tell us how. Please advise where can we download these results from?

https://docs.microsoft.com/en-us/azure/application-insights/app-insights-monitor-web-app-availability#3-see-the-results

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-06-05 08:30] YeeSuan95 opened #9712 "Detect landmarks before capturing the frame"
Hi,

Is there a way to detect landmarks during live video stream?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 183e5251-798f-9f67-b0d7-20d68230b31d
* Version Independent ID: 775c2385-f03a-fc5c-a5dd-1fd64e678bc3
* Content: [Real-time video analysis with the Face API - Microsoft Cognitive Services](https://doc

[2018-06-05 08:30] Expecho opened #9713 "Reuse of IReliableDictionary - Best Practices"
Can we reuse the result of IReliableStateManager.GetOrAddAsync Method? Can we create a field in the stateful service like myDict =  ReliableStateManager.GetOrAddAsync&lt;IReliableDictionary&gt;("myDict"); and use it everywhere or do we need to make call GetOrAddAsync() prior to working the the reliable collection?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2018-06-05 08:38] SychevIgor opened #9714 "Please update screenshots from classic portal with extension installing"
https://docs.microsoft.com/en-us/azure/security/media/azure-security-antimalware/sec-azantimal-fig4.png
https://docs.microsoft.com/en-us/azure/security/media/azure-security-antimalware/sec-azantimal-fig3.png
this portal is no longer available

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39836c50-a16b-55c4-e088-566f83

[2018-06-05 08:59] StevenZhang81 opened #9715 "start spark shell failed"
Dear all,

I'm reading the article Use Spark to read and write HBase data (https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-using-spark-query-hbase), I follow the step one by one but when I go to the step "Run Spark Shell referencing the Spark HBase Connector", I got below error message:

    sshuser@hn0-sparkt:~$ spark-shell --packages com.hortonworks:shc-core:1.1.0-2.1-s_2.11 --reposit

[2018-06-05 09:19] DavidJFowler opened #9716 "Example gives Unique index constraint violation when adding new documents"
With a unique constraint on /address/zipCode I am unable to add more than one document with the same pk, regardless of zipCode. Attempting to add the second document throws Unique index constraint violation.

e.g. First document, adds OK

{
    "id": "1",
    "pk": "1234",
    "firstName": "Gaby",
    "lastName": "Duperre",
    "email": "gaby@contoso.com",
    "address": [
        {
            "l

[2018-06-05 09:36] jtuliani commented on #9323
Super, thank you!

[2018-06-05 09:49] superminiek opened #9718 "Paired regions for recovery"
It would be a good point to mentioned that target region should be a paired region for current.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94df3619-b79b-0ec3-ec94-5928c1458d94
* Version Independent ID: 18fdcc5a-f2d1-93ce-9053-458e1cf1dd36
* Content: [Replicate an Azure VM to another Azure region](https://docs.micro

[2018-06-05 10:03] Orangetronic commented on #8702
+1 I am also running into this issue — I can get the email address if I pass it across *as* the nameid, but I cannot seem to get email address passed on a named attribute.

[2018-06-05 10:14] superminiek opened #9719 "Storage replication type switch it not available"
After creating a vault using "wizard" on VM settings I cannot switch storage replication type, for a new vault created as a new item in Recovery Services section everything is fine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d3447ce-fb16-f2ec-126e-91168af07bd1
* Version Independent ID: 65048fd2-f450-2046-115d-3846

[2018-06-05 10:58] DOliana opened #9720 "Sample code link is not working"
The link to sample code in the next steps is not working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ce1dae0-2d3e-f7ec-3d61-e14f1e7b2c1c
* Version Independent ID: 4f9bebe1-f62b-fa50-02c8-759660fcf4a9
* Content: [Actors diagnostics and monitoring](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric

[2018-06-05 11:04] sergaz-msft commented on #9692
Hello @Flashjunky I hit the same error as you when the Serial Monitor is already opened. Please make sure that the Serial Monitor is disconnected when running `task device-upload`. Make sure the symbol is as shown below, if you see a cross it means that the serial port is already opened (click it to disconnect).

![image](https://user-images.githubusercontent.com/22173500/40972406-8a54ef3a-68b8-11

[2018-06-05 11:54] benjguin opened #9722 "link with wrong label"
The last button at the bottom of the page reads `Create a custom acoustic model` while it links to `Create a custom language model`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a351e5b4-68b6-9ffe-ffee-1e490af9ce27
* Version Independent ID: 267ff492-3e66-c2d6-cc1d-9d6497c16299
* Content: [Tutorial to create an acoust

[2018-06-05 12:00] benjguin opened #9723 "wrong TOC"
At the beginning of the page, one reads:

- Prepare the data
- Import the acoustic data set
- Create the custom acoustic model

instead of what is actually in the page:

- Prepare the data
- Import the language data set
- Create a custom language model

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fba62a0f-cdad-4821-a

[2018-06-05 12:15] superminiek opened #9724 "Existing machines"
If it is as an alternative to availability sets, is there an option to re-configure existing VM for using AZ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cca70845-100f-2cfd-aba3-34b7fa4a5264
* Version Independent ID: 475b26e5-9e23-f769-3bd5-cbc4a678dbf0
* Content: [What are Azure Availability Zones?](https://docs.mi

[2018-06-05 12:20] jandrews82 opened #9725 "Downloads don't work"
Downloads don't work. Please provide working links or alternative download locations

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1141c265-4aea-c6be-4d61-3566fe8474b8
* Version Independent ID: 3cb0f2ba-cf8b-7fdd-414b-b8d95dca004c
* Content: [Copy or move data to Azure Storage with AzCopy on Windows](https://docs.micr

[2018-06-05 12:22] kkaczmarzyk opened #9726 "Could not authenticate with google provider"
After finishing this tutorial and configuring the app on Android when I run the app I'm getting this error:
"Error: Could not authenticate with google provider.
Could not read redirect uri scheme from manifest. Did you have this line '&lt;meta-data android:name=".azure_mobileapps_redirect_uri_scheme" android:value="YOUR_URI_SCHEME"/&gt;' appeared and configured in your AndroidManifest.xml?"
I don'

[2018-06-05 12:28] sergaz-msft commented on #9693
Hello @ajiteshg and thank you for taking the time to provide feedback :)! Please let us know if the documentation here - [Azure IoT Hub get started with physical devices tutorials](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-get-started-physical) - is what you were searching for? If you have other ideas for samples let us also know and we will make sure that the right people look into i

[2018-06-05 12:32] sanjaysahu1984 commented on #9389
As of my understanding, i didn't miss any above mentioned steps. i created a new workspace directory in my server for another application and had same access issue for jenkins.  But if you need i will again follow above steps from scratch and let you know.

[2018-06-05 12:37] superminiek opened #9727 "Confusing procedure for creating activity alert"
Procedure is fine for classic, that critical information can be found on related pages but I think that it should be mentioned here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5a910b9-694a-e900-eeda-9430aa259b1b
* Version Independent ID: ee38c152-8096-cecc-e0e3-7327bed88478
* Content: [Handling maintenance notific

[2018-06-05 12:42] superminiek commented on #9727
I would like to add something - for now there is no option to create an alert (preview) based on planned maintenance, this option is available only in classic.

[2018-06-05 12:43] sergaz-msft commented on #9701
@ajiteshg Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-05 12:46] sergaz-msft commented on #9709
@GeertDepickere Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-05 13:03] dominicbetts commented on #9701
Hi @ajiteshg - thanks for getting in touch and pointing this out. This article is in fact due to be retired as it has been replaced by a more up-to-date and more in-depth version here: https://docs.microsoft.com/azure/iot-hub/tutorial-routing

I hope you find this new tutorial useful!

Thanks again,
Dominic

[2018-06-05 13:03] sergaz-msft commented on #8682
Hello @luyaok can you let us know the version of Microsoft.Azure.Devices.Client nuget package being used? Also can you please try changing that line of code to:

`deviceClient.SendEventAsync(eventMessage).ConfigureAwait(false);`

and let us know the result?

Thank you!

[2018-06-05 13:06] MGoedtel commented on #9706
@tysonflint - Thanks for bringing that to my attention.  I'll get this fixed right now.  @in-progress.

[2018-06-05 13:33] htoma commented on #9540
imagine that the function is exposed externally as part of the API and I don't have access to client logs

[2018-06-05 13:39] burstingninja opened #9728 "Step #4 for powershell is wrong"
this is the correct command Install-Module -Name Azure.Storage -AllowPrerelease  –AllowClobber

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18dcb813-6d62-ea30-4a33-1e350c9380cd
* Version Independent ID: 9a7e40de-b31d-96e7-c272-99d51b822af8
* Content: [Run Azure CLI or PowerShell commands under an Azure AD identity to

[2018-06-05 13:41] tjrobinson opened #9729 "Assigning Azure Key Vault access policies to Azure Active Directory security groups containing Managed Service Identities doesn't work"
I ran into the 16 entry limit so followed the instructions on this page to create a new security group, and added my applications to the security group. I have a mixture of manually created service principals (using `New-AzureRmADApplication` and `New-AzureRmADServicePrincipal` and some created by [enabling *Managed Service Identity* in Azure Web Apps](https://azure.microsoft.com/en-gb/resources/s

[2018-06-05 13:42] dominicbetts commented on #9709
@GeertDepickere - thanks for pointing this out - I'll update the article to reflect the updates in the latest version of the Remote Monitoring solution accelerator. Thanks!

[2018-06-05 14:00] gadongji commented on #7730
Hi @xmark, we tried to repro the issue but failed. Could you please tell use more details about how you used the connector and capture the response from the fiddler or any other tool and verify with the output?

Here is our results:
![contacts_addresses](https://user-images.githubusercontent.com/31462827/40980698-ac5a3c04-690b-11e8-9828-5902067d8d01.png)
![contacts_phones](https://user-images.gith

[2018-06-05 14:05] ConnorKirk opened #9730 "Confusing when using Azure Key Vault"
The "Automate continuous integration with VSTS release" section is slightly misleading.
It's possible to connect Azure Key Vault directly within your data factory, and reference the Azure Key Vault secrets in the Linked Services. If your data factory does this, then the release task to get the Azure Key Vault secrets and overwrite the parameters with the variables from the keyvault is not neccessa

[2018-06-05 14:06] mbgreen commented on #9685
Thanks @msangapu, I'm happy to see that it's in the works!

[2018-06-05 14:08] MGoedtel commented on #9706
Fixed the issue and the updated article was merged.  Should be available at the AM publish release.  #close-issue

[2018-06-05 14:27] CyanMass45 opened #9731 "Can't programatically add multiple subdomains in powershell"
Having issues adding multiple custom domains to webapps via code. We are using powershell to automate adding customers to a multitenant platform so need to be able to add mutliple custom domains.

When I run
Set-AzureRmWebApp -Name $azwebapp -ResourceGroupName $RGName -HostNames @("custom1.domain.com","custom2.domain.com")
it works.

However, as the process will be automated I need to be able to i

[2018-06-05 14:31] CyanMass45 commented on #9731
btw, domain names above is sanitised for obvious reasons, and CNAMEs exist for domains I am trying to add as well.

[2018-06-05 14:41] dominicbetts commented on #9709
Hi @GeertDepickere - I've updated the article and the changes should be live later today. I'm going to close this issue, but if you think any additional changes are needed, feel free to reopen it. Thanks again.

[2018-06-05 14:41] dominicbetts commented on #9709
#please-close

[2018-06-05 14:43] #9709 closed

[2018-06-05 14:48] dominicbetts commented on #9701
Hi @ajiteshg - I'm going to close this issue, but if you think it needs to be reopened, please go ahead. Thanks!

[2018-06-05 14:48] dominicbetts commented on #9701
#please-close

[2018-06-05 14:49] Lroca88 opened #9732 "Regex error"
Hi there,
Your regex used to catch the source in Option 2 and Option 3 is not correct.
`(/test/.*)` is not a well formed expression check this [link](https://regex101.com/r/CDhWsE/1/).

![image](https://user-images.githubusercontent.com/5395468/40983919-a9ee73ca-68ae-11e8-8339-5224c17c605f.png)

---
Solution:
You can remove the slashes like this: `(test.*)`    [It worked for me as a charm]
or you

[2018-06-05 14:54] #9701 closed

[2018-06-05 14:56] HdeJong0 opened #9733 "Update makes things more difficult to find"
By removing the box around the Username and Password fields, you've made it less obvious they are fillable fields. I know it's fashionable to hide user interface elements as much as possible, but this is a user-hostile move. Make it easy to find things! Make it obvious which part of the screen is a fillable field!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2018-06-05 14:58] HdeJong0 opened #9734 "Don't use two pages when one is sufficient"
Why is the login process spread across two pages? This wastes everybody's time as you have to wait for the second page to load, and it's a deviation from the standard everybody else uses. Username and password belong in a single dialog.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d23565fb-ccc9-42fc-6bde-f999d92fc762

[2018-06-05 14:59] douglaslMS commented on #9730
#in-progress

[2018-06-05 15:00] douglaslMS commented on #9730
@ConnorKirk The author of this page is out of the office for several more days. As soon as he returns, I'll discuss your comments with him to see how we can make the page more accurate, clear, and complete.

[2018-06-05 15:08] nunix opened #9735 "Get-Module AzureAD only worked after the Import-Module AzureAD"
After installing AzureAD with the Install-Module command, I ran the command Get-Module AzureAD, however it didn't displayed the details.

I had to run first the Import-Module command and then run again the Get-Module command which displayed correctly the details.

Small detail, can be disregarded of course.

Best regards,
Nuno

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-06-05 15:15] Mike-Ubezzi-MSFT commented on #9694
@dcbrown16 Thanks for the feedback. We are actively investigating and it appears the content owner has already made a fix, as I see the link is working. Can you take a quick look to verify? Thank you,
Mike

[2018-06-05 15:17] Mike-Ubezzi-MSFT commented on #9703
@Jabbar2018 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-05 15:19] Mike-Ubezzi-MSFT commented on #9716
@DavidJFowler Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-05 15:24] slandsaw opened #9736 "Activity logs for service principals"
One little gotcha or at least something to keep in mind... if you need to monitor the activity of a service principal, you'll need to use the caller guid instead of the friendly SPN name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ada336b-a759-5a30-919c-9473ce0840e3
* Version Independent ID: 5551959e-b7dc-2f45-4bb

[2018-06-05 15:30] demichalk opened #9737 "Webhook and CI/CD configuration for Azure Web App Containers is out of date"
There no longer is a webhook URL in the UI.  Not sure if the feature is even working as it no longer creates webhooks for Azure ACR....not really sure what you are supposed to do to get this working...documentation is of zero help

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a053a774-e0e7-e7c7-8a08-7244cb0f058d
* Ver

[2018-06-05 15:31] jbshaver opened #9738 "Is update deployment fully functional on Linux?"
Has anyone got update deployments to actually work?  I have multiple hosts reporting compliance just fine, but after scheduling a deployment, nothing ever happens.  Client doesn't even seem to try.  Maybe this feature isn't fully functional on CentOS?  The results say something succeeded (not sure what exactly "succeeded"), but then also shows that no updates were installed.  yum history command s

[2018-06-05 15:35] jagaar opened #9739 "Issue with CreateSpeechRecognizerWithFileInput"
Hi,
I'm getting the following error when execute the CreateSpeechRecognizerWithFileInput method:
"Exception with an error code: 0x8\n[CALL STACK]\n\n    &gt; CreateModuleObject\n\n    - CreateModuleObject\n\n    - CreateModuleObject\n\n    - CreateModuleObject\n\n    - CreateModuleObject\n\n    - SpeechFactory_CreateSpeechRecognizer_With_FileInput\n\n    - CSharp_MicrosoftfCognitiveServicesfSpeech

[2018-06-05 15:44] Powerhelmsman commented on #9681
@dapsjj for awareness.

[2018-06-05 15:46] danielsollondon commented on #9563
can you try this with the 2.0 extension, Microsoft.Compute.Extensions. customScript, you are using the v1, Microsoft.OSTCExtensions.CustomScriptForLinux-1.5.2.2.

[2018-06-05 15:51] JasonWHowell commented on #5507
Seems like the installation instructions on the the docs page would help. https://msdn.microsoft.com/en-us/azure/data-lake-analytics/u-sql/cognitive-capabilities-in-u-sql#registeringExtensions

@zartcosgrove please let us know if this didn't resolve your issue.

#please-close

[2018-06-05 15:53] wruter commented on #9563
Hey Daniel,
i'm using the version 2 from my ARM template
"properties": {
                "publisher": "Microsoft.Azure.Extensions",
                "type": "CustomScript",
                **"typeHandlerVersion": "2.0",**
                "autoUpgradeMinorVersion": true,
                "settings": {
                    "fileUris": [

[2018-06-05 15:53] JasonWHowell commented on #6504
Hope it was just a transient problem.
The Python SDK reference page appears to work now. https://docs.microsoft.com/en-us/python/api/overview/azure/data-lake-analytics?view=azure-python

Let us know if not. Thanks, Jason
#please-close

[2018-06-05 15:55] JasonWHowell commented on #7474
@larsts I hope the feedback from @yanancai helped. We will now close out the issue, but let us know if this didn't resolved it, and we'll help. Thanks, Jason
#please-close

[2018-06-05 15:56] SaurabhSharma-MSFT commented on #9702
@GavinPG Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-05 15:56] JasonWHowell commented on #8431
Hi @akshataP , I think Saveen's response satisfies the request. We will now close out the issue.
Thanks, Jason
#please-close

[2018-06-05 15:59] SaurabhSharma-MSFT commented on #9714
@SychevIgor Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-05 15:59] SaurabhSharma-MSFT commented on #9729
@tjrobinson Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-05 16:04] wruter commented on #9563
I did run the extension script from the portal to see if it takes it, i have provided the following command to force the command "expect <my .ext script>", my surprise it that by specifying "expect" before the script it recognizes the spawn command but doesn't pass the send argument.
Just in case of, a simple expect script for auto provides password run like:
************************************
s

[2018-06-05 16:07] zartcosgrove commented on #5507
I agree, it seems like the installation instructions on the docs page would
help - why isn't this link included on the Getting Started page? How can
someone get started without first installing the extensions? The first step
for any "getting started" page, since it's assuming that people are just
getting started, should be to quickly link to prerequisites like
installation.

I got to this page by

[2018-06-05 16:07] sethmanheim commented on #6513
Closing for now, please let us know if you have any more questions. #please-close

[2018-06-05 16:08] sethmanheim commented on #9191
#please-close

[2018-06-05 16:08] MicahMcKittrick-MSFT commented on #9708
Thanks for the update! Glad you were able to resolve :)

[2018-06-05 16:08] zartcosgrove commented on #5507
Plus - I first issued this comment March 8th. It's three months later, and
no one has updated the documentation? That's not very agile.

On Tue, Jun 5, 2018 at 9:07 AM, Zart Cosgrove <zart.cosgrove@gmail.com>
wrote:

--

*I must not fear.*
Fear is the mind-killer.
Fear is the little-death that brings total obliteration.
I will face my fear.
I will permit it to pass over me and through me.
And when

[2018-06-05 16:09] MicahMcKittrick-MSFT commented on #9698
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-05 16:10] MicahMcKittrick-MSFT commented on #9713
Thanks for the question! We are investigating and will update you shortly.

[2018-06-05 16:13] MicahMcKittrick-MSFT commented on #9727
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

In addition, for product enhancements you can leave that feedback on
[UserVoice](https://feedback.azure.com/forums/34192--general-feedback)

[2018-06-05 16:15] MicahMcKittrick-MSFT commented on #9679
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-05 16:16] Mike-Ubezzi-MSFT commented on #9479
@wortho We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-05 16:16] #9479 closed

[2018-06-05 16:16] JasonWHowell commented on #5507
@zartcosgrove Sorry for the frustration. I plan on fixing it today. Your feedback is appreciated. Thanks, Jason

[2018-06-05 16:17] Mike-Ubezzi-MSFT commented on #9485
@vxjen We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-05 16:17] #9485 closed

[2018-06-05 16:17] zartcosgrove commented on #5507
Thanks Jason!

On Tue, Jun 5, 2018 at 9:16 AM, Jason H <notifications@github.com> wrote:

--

*I must not fear.*
Fear is the mind-killer.
Fear is the little-death that brings total obliteration.
I will face my fear.
I will permit it to pass over me and through me.
And when it has gone past I will turn the inner eye to see its path.
Where the fear has gone there will be nothing.
Only I will remain.

[2018-06-05 16:18] SaurabhSharma-MSFT commented on #9733
@HdeJong0 Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-05 16:19] SaurabhSharma-MSFT commented on #9734
@HdeJong0 Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-05 16:20] jimdial commented on #9679
Which list are they missing from?  They're both in the bulleted list at the top of the page. They're not listed in all examples, but the services mentioned as examples aren't intended to a be a full list of supported services.

[2018-06-05 16:20] SaurabhSharma-MSFT commented on #9735
@nunix Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-05 16:22] MicahMcKittrick-MSFT commented on #9282
@fajanssen thanks for clarifying that. Seems that using ARM templates is your preferred choice which I completely understand as it does make automation simpler. In the case of this doc it seems if you want to continue to use ARM templates you will have to pass the text from cloud-init into your template. You might also be able to automate that further by creating a variable and passing it into you

[2018-06-05 16:22] #9282 closed

[2018-06-05 16:23] MicahMcKittrick-MSFT commented on #9358
@mostafae I will close this out for now. If you have an update for us please come back and we can reopen and continue.

[2018-06-05 16:23] #9358 closed

[2018-06-05 16:24] mattbriggs commented on #7710
@bingosummer  Thanks for pinging me again. I will follow up shortly.

[2018-06-05 16:27] MicahMcKittrick-MSFT commented on #9409
@montanamott I am working with @novino offline to figure this out. Will provide you with an update shortly.

[2018-06-05 16:27] #9270 closed

[2018-06-05 16:30] Mike-Ubezzi-MSFT commented on #9649
@swilliamson-axioma Yes, database level throughput provisioning is now in review. You can learn more about this announcement here: [Azure Cosmos DB | Provision throughput at database level
](https://azure.microsoft.com/en-us/roadmap/azure-cosmos-db-provision-throughput-at-the-database-level-in-preview/)

Please communicate any addional questions that you might have. Regards, Mike

[2018-06-05 16:31] MicahMcKittrick-MSFT commented on #9540
If that is the case then you would likely have to work with someone who has access to the client logs. Without the function actually being hit then we would need to look directly at whatever it is that is attempting to trigger the function. Depending on what that is will tell us what logs exactly are available.

[2018-06-05 16:32] MicahMcKittrick-MSFT commented on #9552
@dkkapur or @srrengar either of you might also be able to chime in on this

[2018-06-05 16:34] SaurabhSharma-MSFT commented on #9545
@WillLennon We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-05 16:34] #9545 closed

[2018-06-05 16:34] SaurabhSharma-MSFT commented on #9546
@scheng924 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-05 16:34] #9546 closed

[2018-06-05 16:35] krptodr opened #9742 "Link 404 for "Compliance Documentation" Section"
The "Azure Security and Compliance Blueprint - GDPR IaaS Web Application Implementation Matrix" link points to an invalid URL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6770b894-efc9-1e27-1565-968b8b466c0e
* Version Independent ID: 620ee20d-52bc-cc0e-aa36-f0a2d83829f0
* Content: [Azure Security and Compliance Blue

[2018-06-05 16:35] WillLennon commented on #9545
Hi Saurabh,
So far you haven't done anything to help me.  Why are you closing this?
Will

[2018-06-05 16:41] MicahMcKittrick-MSFT commented on #9563
@wruter do you have the ability to open a support request? You might benefit from working with a support engineer who can work 1:1 with you over the phone and screenshare to get this resolved.

[2018-06-05 16:44] MicahMcKittrick-MSFT commented on #9516
@ishepherd In the consumption plan the scaling is per-app. Contrary to the dedicated ASP the consumption ASP is just a grouping concept and it does not affect the scaling or isolation of the function apps within it. So that being said, having multiple functions within the same consumption plan should not put the functions on the same host node.

There is always a very small chance that things coul

[2018-06-05 16:47] SaurabhSharma-MSFT commented on #9545
Hi Will,

This issue is not related to GitHub documentation actually and seems specific to you. Thus I am closing it here. However, you can create your issue on MSDN forum and provide the link on this thread so that I can help getting it answered at the earliest.

[2018-06-05 16:49] jomolesk commented on #9742
Hi @krptodr -- thanks for catching this. The short URL has been updated to point to the correct URL.

[2018-06-05 16:57] SenthuranSivananthan commented on #9679
@jimdial it's missing from https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/virtual-network/virtual-network-for-azure-services.md which I understand is a non-exhaustive list.  So we may want to make it clear with the link to the full list.

[2018-06-05 16:57] Mike-Ubezzi-MSFT commented on #9703
@Jabbar2018 Here is some additional reading with regard to Failover Groups and Geo-Replication. In regard to your question, data sync is active in the background while your application is running against the primary, and takes about 20 seconds to switchover to the secondary. Please review the linked information below and let me know if you have additional questions.

[Overview: Failover groups and

[2018-06-05 17:03] jimdial commented on #9679
Ah, yes, good catch. My apologies, I thought you were saying that the services were missing from the service endpoints article. I've left the reference to the service endpoint article in the integration article, but removed mention of specific services, so that they're only listed in the [service endpoints](https://docs.microsoft.com/azure/virtual-network/virtual-network-service-endpoints-overview

[2018-06-05 17:05] MicahMcKittrick-MSFT commented on #9056
@SamirFarhat the general consensus that we have come up with offline is that you should not be mixing multiple forms of backups for your SQL instances. You of course could use more than one however we would suggest you do that at your own risk and it could make restoring from backup more difficult.

Ideally I would suggest you just impliment Azure Backup. This allows you to also configure SQL Data

[2018-06-05 17:07] #9679 closed

[2018-06-05 17:09] tfitzmac commented on #8848
@cloudvae - I see that functions were added to the schema.

[https://github.com/Azure/azure-resource-manager-schemas/commit/19da1c8261649f9b0d6dfd09eeb4f353a2eaa030#diff-0a8d1ff8d74b0c44e1c75f6b2a66db2c](https://github.com/Azure/azure-resource-manager-schemas/commit/19da1c8261649f9b0d6dfd09eeb4f353a2eaa030#diff-0a8d1ff8d74b0c44e1c75f6b2a66db2c))

[2018-06-05 17:10] MicahMcKittrick-MSFT commented on #9579
@smoms seems to me there is likely something going on with your local environment. You might try reinstalling all the tools including making sure azure CLI is updated. Generally we see these issues come up with some of the tools are out of date.

[2018-06-05 17:10] MicahMcKittrick-MSFT commented on #9622
@sujith3g any additional questions here?

[2018-06-05 17:12] MicahMcKittrick-MSFT commented on #9713
@mcoskun, @dkkapur, @srrengar could either of you clarify on this ask?

[2018-06-05 17:20] tfitzmac commented on #8037
@Anmolgan81 - are you still looking for a solution to this issue? If so, I think the best option is to work with support.

[2018-06-05 17:26] #9191 closed

[2018-06-05 17:27] #5507 closed

[2018-06-05 17:27] tfitzmac commented on #7563
If support for moving managed disks is added, we will update this article. Until then, there is nothing related to this issue that we can add to the documentation.

[2018-06-05 17:27] tfitzmac commented on #7563
#please-close

[2018-06-05 17:28] kobulloc-MSFT commented on #9711
@waheedhussain Thank you for the question!  We are investigating this and will get back to you with an answer shortly.

[2018-06-05 17:29] Adam-Smith-MSFT commented on #9725
@jandrews82 Thanks for the feedback, were you referring to the "Download and Install Azcopy on Windows" ? I was able to download both versions from the same links. Could you try using a different browser to download them ?

[2018-06-05 17:29] DarinShapiroMS opened #9743 "Add explanatory comments of a more likely architectural approach for production."
I understand that this document provides a simplified sample to teach the concepts of using the Video Indexer API.  The section that starts right after submitting a video and starts polling could include a comment about using a webhook notification to invoke an Azure Function, rather than polling which wouldn't be the best approach at scale.  The comments could include a link to Azure Functions do

[2018-06-05 17:30] vasivara-MSFT commented on #9706
@tysonflint We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-05 17:30] #9706 closed

[2018-06-05 17:35] tysonflint opened #9744 "Removal of *Advisor* MPs leads one to think they will delete the two built-in Advisor MPs that are supposed to remain behind."
This command would appear to delete all MPs with the name *Advisor* in them.
Get-SCOMManagementPack -name "*Advisor*" | Remove-SCOMManagementPack -ErrorAction SilentlyContinue

However there appears to be something built-in in order to protect the built-in Advisor MPs.
This can be seen if I don't use the SilentlyContinue switch, and use Continue instead.

I was really worried about the blue warnin

[2018-06-05 17:39] mattbriggs commented on #9387
@jecarlsen I've updatd the flags to match the 1.3.0 release (-Location) for region, and also added a note based on your suggestion in case anyone is confsued that Location and Region are the same for these cmdlets. Cheers! #please-close

[2018-06-05 17:44] zartcosgrove commented on #5507
Why was this closed? The documentation has not been updated.

On Tue, Jun 5, 2018 at 10:27 AM, Shilpa Sharma <notifications@github.com>
wrote:

--

*I must not fear.*
Fear is the mind-killer.
Fear is the little-death that brings total obliteration.
I will face my fear.
I will permit it to pass over me and through me.
And when it has gone past I will turn the inner eye to see its path.
Where the fe

[2018-06-05 17:45] Adam-Smith-MSFT commented on #9718
@superminiek Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-05 17:47] marthalc commented on #9406
Hi @wernerstinckens we have discovered the root cause of the issue. Will get back to you as soon as the fix is ready. Thanks so much for your patience.
-Martha.

[2018-06-05 17:47] YutongTie-MSFT commented on #9705
@MrNigel Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-05 17:48] YutongTie-MSFT commented on #9712
@YeeSuan95 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-05 17:49] YutongTie-MSFT commented on #9722
@benjguin Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-05 17:49] JasonWHowell commented on #5507
@zartcosgrove It was updated in the backend, but takes a few hours to publish.

[2018-06-05 17:50] YutongTie-MSFT commented on #9723
@benjguin Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-05 17:52] YutongTie-MSFT commented on #9739
@jagaar Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-05 17:54] Adam-Smith-MSFT commented on #9700
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-05 17:55] manigandham commented on #9639
We're using both products, which offer the same "Table API" interface to clients.

The issue is that there are 2 different clients, the older [`WindowsAzure.Storage`](https://www.nuget.org/packages/WindowsAzure.Storage/) which supports .NET Core and the _newer_ [`Microsoft.Azure.CosmosDB.Table`](https://www.nuget.org/packages/Microsoft.Azure.CosmosDB.Table/) which does not support .NET Core. They

[2018-06-05 17:55] MisinformedDNA opened #9745 "Does Azure Functions know how to throttle itself?"
Does Azure Functions know how to throttle itself so it doesn't overload the output destination?

Assumptions: Azure Queues is our AF trigger. We are using an Azure SQL DB S0 instance for the output destination. Azure Queue gets a huge burst of events. Messages would take 20 hours to process with an AF limited to 1 instance and the DB would be fine. But we want the entire queue processed ASAP, so w

[2018-06-05 17:57] BryanTrach-MSFT commented on #9726
@kkaczmarzyk Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-05 17:57] Adam-Smith-MSFT commented on #9696
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-05 17:58] BryanTrach-MSFT commented on #9731
@CyanMass45 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-05 18:02] vasivara-MSFT commented on #9707
@DhanrajPervaram Thank you for posting your question. We are using this platform to address document issues but I think your question is more suited for our [forum](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=AzureDataFactory). Please try posting it in our forums to get your queries answered from our community experts..

[2018-06-05 18:03] vasivara-MSFT commented on #9707
@DhanrajPervaram We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-05 18:03] #9707 closed

[2018-06-05 18:06] smoms commented on #9579
@MicahMcKittrick-MSFT i has Azure Functions Tools V2. I removed and worked with V1 and things are working. Aren't V2 somehow buggy?

[2018-06-05 18:07] wobba opened #9746 "PowerShell .Net Standard 2.0 support"
I understand traditional PowerShell not making it out of experimental for v1 of Azure Functions. Can you share any loose thoughts about supporting PowerShell .Net Standard 2.0 in the future, as this probably would fit the Azure Functions v2 platform a lot better, and possibly scale a lot better.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-06-05 18:07] vasivara-MSFT commented on #7474
@larsts We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-05 18:07] #7474 closed

[2018-06-05 18:08] vasivara-MSFT commented on #8431
@akshataP We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-05 18:08] #8431 closed

[2018-06-05 18:10] Adam-Smith-MSFT commented on #9719
@superminiek I'm thinking you are experiencing the same issue as in this blog post? https://thetechl33t.com/2017/05/06/changing-azure-recovery-services-vault-to-lrs-storage/
Registering the VMs to the vault first prevents the change of redundancy type. Let me know if this helps.

[2018-06-05 18:16] vasivara-MSFT commented on #9688
@bwren Can you please answer the above question?

[2018-06-05 18:17] Mike-Ubezzi-MSFT commented on #9716
@DavidJFowler I am able to reproduce your error. The unique keys example for this tutorial does not work out.

`C:\Users\miubezzi\Downloads\dt-1.8.1>dt.exe /s:JsonFile /s.Files:C:\Users\miubezzi\projects\JsonImport\record1.json /t:DocumentDBBulk /t.ConnectionString:"AccountEndpoint=https://miubezzi-sqlapi.documents.azure.com:443/;AccountKey=Qx9Rot7cuxobmFQO4DuEdxU5WUE30dWIAIihlj2HmrSMmpBMRkpji9tmX

[2018-06-05 18:19] mike-urnun-msft commented on #9329
hey @kunalaphadnis99 - Just checking in to see if you're still unblocked with the **Operation Timeout Expired** error. Pls let us know if we can help. Thanks!

[2018-06-05 18:19] Mike-Ubezzi-MSFT commented on #9716
I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-05 18:21] cloudvae commented on #8848
@tfitzmac Thanks. I saw that too. But the input is still missing in the resourceCopy. Any ideas when it will be added?

[2018-06-05 18:22] Mike-Ubezzi-MSFT commented on #9639
@manigandham Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-05 18:24] MicahMcKittrick-MSFT commented on #9579
Version 2 is still in preview so it is possible there are some things that are not supported or not 100% functioning. Glad you were able to get it to work with V1 :)

You might also consider posting this on the Azure Functions GitHub repro directly so they can take a look at the V2 tooling to see if what you experienced can help improve it.

https://github.com/Azure/Azure-Functions/issues

I will

[2018-06-05 18:24] #9579 closed

[2018-06-05 18:24] MGoedtel commented on #6632
@jason-j-MSFT and @MNF - Thanks for this. This article has recently been updated since alerting is moving out from under Log Analytics to Azure Monitor. #please-close

[2018-06-05 18:27] MicahMcKittrick-MSFT commented on #9745
Thanks for the question! We are investigating and will update you shortly.

[2018-06-05 18:28] SyntaxC4 commented on #9685
@MicrosoftDocs/azure-cxp-triage Can we close this issue as it's beyond the current scope of the product/service and we have a plan to document it when it's ready?

[2018-06-05 18:29] MGoedtel commented on #8589
@vasivara-MSFT - I have an open work item for this and also have some changes coming to this content. I'm going to go ahead and close this issue since we're tracking this separately. Thanks for identifying it. #please-close.

[2018-06-05 18:30] vasivara-MSFT commented on #9715
@StevenZhang81 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-05 18:32] TravisCragg-MSFT commented on #9732
@Lroca88 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-05 18:35] SyntaxC4 commented on #9584
@cephalin Can you take a look and get in touch with @EricSten-MSFT?

[2018-06-05 18:36] femsulu commented on #9736
@slandsaw Thanks for bringing this to our attention. Your comment has been shared with the content owner for further review.

[2018-06-05 18:37] femsulu commented on #9738
@jbshaver Your question has been shared with the content author for further review.

[2018-06-05 18:41] mike-urnun-msft commented on #9459
Hey @junpark12  - Sorry for delay in response here, I will be looking into this today and share my findings. Stay tuned!

[2018-06-05 18:43] Flashjunky commented on #9692
OMG! Worked first time - thank you!!!

[2018-06-05 18:44] ggailey777 commented on #9579
If this is an Azure Functions Core Tools issue, please report it here: https://github.com/Azure/Azure-Functions-core-tools/issues

[2018-06-05 18:45] superminiek commented on #9719
Thank you, this helped me but I think that documentation is still confusing a little bit - basically adding backup from resource point of view will not provide an option to choose storage replication, it is worth to mention about it.

[2018-06-05 18:47] #6632 closed

[2018-06-05 18:49] polarapfel opened #9748 "Running commands in Linux with a specific (non-elevated) user"
Maybe it's worth pointing out that by using the sudo command on Linux, any command can be run in a VM with a specific (non-elevated) user id (using the "-u" and/or "-g" option of sudo). Hence, it's really not that much of a restriction.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 792f4871-0d07-624f-7daf-02de97121e13

[2018-06-05 18:50] jason-j-MSFT commented on #9685
@smic1909, @mbgreen, we are closing this issue for now, this feature is in the works so stay tuned.

[2018-06-05 18:50] #9685 closed

[2018-06-05 18:56] vasivara-MSFT commented on #8589
@akramwaseem We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-05 18:56] #8589 closed

[2018-06-05 19:00] MicahMcKittrick-MSFT commented on #9579
ah right thanks @ggailey777 !

@smoms please use the link Glenn shared.

[2018-06-05 19:12] mattbriggs commented on #9682
@cenkersoy Thanks for your note. This is the TenantID that you used when registering Azure Stack. That is the Active Directory ID that contains the environment for Azure Stack and public Azure. I added a note and removed the PowerShell variable and replaced with a manual string <TenantID>. Thanks! #please-close

[2018-06-05 19:17] butchmarshall commented on #8702
Same issue.

[2018-06-05 19:21] SaurabhSharma-MSFT commented on #9661
@mmonfet Please post this as a feedback @ https://feedback.azure.com/forums/169401-azure-active-directory. This will allow the community to upvote and for the product team to include into their plans.
We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-06-05 19:22] SaurabhSharma-MSFT commented on #9734
@HdeJong0 Please post this as a feedback @ https://feedback.azure.com/forums/169401-azure-active-directory. This will allow the community to upvote and for the product team to include into their plans.
We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-06-05 19:23] YutongTie-MSFT commented on #9723
@benjguin Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@PanosPeriorellis Hi, this is a doc-bug issue, can you please check the document and update the document as necessary to make it less confused. Thanks a lot!

[2018-06-05 19:27] georgewallace commented on #9435
@Gemakk, the updates are now live.  Thank you for the feedback. The examples were updated to make the test pane work but while perserving the formatting that truly comes from a webhook.  #please-close

[2018-06-05 19:27] YutongTie-MSFT commented on #9722
@benjguin Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@PanosPeriorellis Hi, this is a doc-bug, can you please check it and update the document as necessary to make it less confused? Thanks a lot!

[2018-06-05 19:28] georgewallace commented on #9660
@MMAgeek There is no limit to the number of groups. 250 would not be a problem. #please-close

[2018-06-05 19:28] jeffgilb commented on #6570
Updates merged for publishing. #please-close

[2018-06-05 19:29] YutongTie-MSFT commented on #9431
@femsulu @gokhanuluderya-msft Thanks very much! We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-05 19:29] #9431 closed

[2018-06-05 19:30] wruter commented on #9563
I will open a support ticket to check if i can receive some additional help from the team.
Thanks guys

Williams

[2018-06-05 19:32] smoms commented on #9579
thanks all.

[2018-06-05 19:36] MicahMcKittrick-MSFT commented on #9418
We have addressed the issue and the problem should now be resolved.

Prior to the fix if you upgrade the aadlogin package to the latest version it should work
The bug that was identified was within the aaduseradd utility and it not updating the aadpasswd file

Please retry the AAD login process by following the doc and let me know if there are additional issues.

I will keep this open a few more d

[2018-06-05 19:37] MicahMcKittrick-MSFT commented on #9563
Thanks @wruter. once created please share the number with us so I can track and if a doc update is needed get it figured out.

I will close this for now.

[2018-06-05 19:37] #9563 closed

[2018-06-05 19:39] deepakar opened #9750 "Please update the documentation & example"
IChangeFeedObserverFactory for example, is obselete as per "https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.documents.changefeedprocessor.ichangefeedobserverfactory?view=azure-dotnet"

Why are these documents and sample code (even on github) still pointing to the old structures?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-06-05 19:49] sergaz-msft commented on #9692
You are very welcome @Flashjunky :)! I am now closing this issue. Thank you for posting your questions.

[2018-06-05 19:49] #9692 closed

[2018-06-05 19:51] Garima2k1 opened #9751 "More Info on the preview feature"
I am looking to find more information about the custom authentication features listed in this link - https://azure.microsoft.com/en-us/roadmap/azure-active-directory-b2c-new-configuration-option-for-fully-customizable-authentication-journeys/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 245ef8a4-a811-19b7-676c-aa9b82

[2018-06-05 19:54] millh0use commented on #9663
@jeevansd I am using the gallery app.  Without the Reply URL configured I only see an error from Azure AD saying something like "Ooops, the configured URL is not valid".  After configuring a reply url the error is gone.

[2018-06-05 19:59] YutongTie-MSFT commented on #9670
@mihiraniljoshi Hi, I am sorry for all inconveniences, but this is not a doc-relative issue, so please post the issue to [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home) so that we can help well. Thanks a lot! We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-05 19:59] #9670 closed

[2018-06-05 20:03] jeevansd commented on #9663
@millh0use Can you provide me the exact error message? I don't think the error message is about the ReplyUrl. It can happen about the Identifier value in Azure AD. You need to configure the Identifier value as "KnowBr4" and then only the integration will work. In this week now we have started auto populating this Identifier value for you so that you don't have to configure it.

[2018-06-05 20:03] Mike-Ubezzi-MSFT commented on #9682
@cenkersoy We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-05 20:03] #9682 closed

[2018-06-05 20:04] butchmarshall commented on #9549
FYI signin works fine if initiated from my SP @ https://butch-dev-admin.polldev.com/api/v1/signin-saml2?tenant=sts.windows.net

[2018-06-05 20:05] femsulu commented on #9748
@polarapfel Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-05 20:09] NonSecwitter commented on #7029
@TravisCragg-MSFT  @saurabhsensharma I am doing another installation today. I follow the directions exactly as outlined until the step for `Start-OBRegistration` , which I replace with `Start-DPMCloudRegistration` and get this error:

[code]

I then tried to download the vault credentials again, without specifying `-Backup` when downloading vault credentials file, because this seems to be a differ

[2018-06-05 20:11] MicahMcKittrick-MSFT commented on #9720
@abhishekram do you know what this link should be pointing to? I am happy to correct it but I am not seeing any signs of what it should be. Else we can just remove the link.

[2018-06-05 20:17] douglaslMS commented on #5618
@dcbrown16 I only discovered today that I didn't close the loop with you on this. I had a long email thread separately with Localization, and they expedited the translation and publishing of the Japanese version of this page. It went live on 3/13. I apologize for neglecting to let you know.

[2018-06-05 20:17] YutongTie-MSFT commented on #9743
@DarinShapiroMS Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@Juliako Hi, this is a doc-enhancement issue, can you please check it and update the document as necessary? Thanks a lot!

[2018-06-05 20:18] kevinfitzpatrick opened #9752 "Grammar Error"
The sentence:
Long ago before this feature was enhanced, you were required you to turn VNet service endpoints On before you could implement a live VNet rule in the Firewall.
Should be:
Long ago, before this feature was enhanced, you were required to turn VNet service endpoints On before you could implement a live VNet rule in the Firewall.

---
#### Document Details

⚠ *Do not edit this section. I

[2018-06-05 20:19] manigandham commented on #9733
Agree with this, material design just causes more problems for many who don't realize that the clearly outlined text input has been reduced to a simple line...

[2018-06-05 20:20] dlepow commented on #9339
@grandparoach - I created a work item to incorporate this script in this article in our next doc sprint. Accordingly, I'm closing this issue. Thanks again for pointing it out.
#please-close

[2018-06-05 20:23] Juliako commented on #8709
I updated the documentation with getting the Account ID info: https://docs.microsoft.com/en-us/azure/cognitive-services/video-indexer/video-indexer-use-apis#account-id

[2018-06-05 20:23] Juliako commented on #8709
#please-close

[2018-06-05 20:29] MicahMcKittrick-MSFT commented on #9745
@MisinformedDNA When it comes to scaling in functions on a consumption plan Azure is smart enough to scale up and scale down as needed. However, in this case handling the output load and handling the input load are two different things. Your function will scale in order to handle whatever is asked of it however if you are writing to a low tier database that has limits then there could be some issu

[2018-06-05 20:30] #9339 closed

[2018-06-05 20:32] johndeu commented on #6221
We are currently in the process of deprecating the Hyperlapse processor.

It was not widely utilized, and the state of the industry for video stabilization has moved on quite a bit. Due to the lack of overall customer interest in this processor, we will be announcing deprecation soon.

[2018-06-05 20:36] vhorne commented on #8794
@frfriel

Updated the call to Set-AzureRmVmssStorageProfile, adding "-OsDiskCreateOption FromImage", which allows New-AzureRmVmss to successfully complete.

Fix is now live. Thanks for reporting this issue!

#please-close

[2018-06-05 20:38] YutongTie-MSFT commented on #9705
@MrNigel Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@zhouwangzw Hi, can you please check and help? Thanks a lot!

[2018-06-05 20:40] TravisCragg-MSFT commented on #8794
@frfriel We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-05 20:40] #8794 closed

[2018-06-05 20:42] SaurabhSharma-MSFT commented on #9702
@GavinPG The "kid" (key ID) header parameter is an optional header parameter and it indicates which specific key owned by the signer should be used to validate the signature.  It has not been mentioned in the example as it is an optional header parameter and performing signature validation is outside the scope of this document as per the author.  You can find more information at this [link](http:/

[2018-06-05 20:43] YutongTie-MSFT commented on #9712
@YeeSuan95 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@SteveMSFT Hi, this is a product question, can you please check it and update the document as necessry? Thanks a lot!

[2018-06-05 20:47] sethmanheim commented on #9198
@locohost Thanks for trying out the tutorial! I just walked through the steps and it builds/runs fine as-is. If you're experiencing specific errors please let us know. That said, we're in the process of updating this tutorial to use the new .NET Core library.

[2018-06-05 20:48] jeevansd commented on #9200
@logicfox We have verified this with Slack and they confirmed that nothing has changed on their side. So we are not expecting any customer to make the changes in the SAML certificate signing options as you did. For further investigation we need your account details. So please feel free to submit the support request and then we can look into your tenant about the configuration.

For now I am closin

[2018-06-05 20:48] Juliako commented on #6221
#please-close

[2018-06-05 20:48] sethmanheim commented on #9202
Hi @locohost -- I've just walked through the steps in the tutorial, and everything works fine as written. Please try again and if you're experiencing specific errors please let us know.

[2018-06-05 20:49] Juliako commented on #6221
John, thank you for replying 😊

From: John Deutscher <notifications@github.com>
Sent: Tuesday, June 5, 2018 13:33
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Julia Kornich <juliako@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Update with examples (#6221)

We are currently in the process of deprecating the Hyperlapse processor.

It

[2018-06-05 20:51] YutongTie-MSFT commented on #9739
@jagaar Hi, sorry for all inconveniences, but this is not a doc-relative issue, so for more help, can you please post the issue in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home)? Thanks a lot!

[2018-06-05 20:51] YutongTie-MSFT commented on #9739
@jagaar We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-05 20:51] #9739 closed

[2018-06-05 20:51] jeevansd commented on #9264
@andrew-best-diaxion We are doing an estimation of this work and will get done soon. After our testing we will also update the doc for the supported versions. For now we will close this ticket as we have created the task internally for us.

#please-close

[2018-06-05 20:52] jason-j-MSFT commented on #9373
@hr00 What message does the job fail with?

[2018-06-05 20:52] jeevansd commented on #9304
@andrew-best-diaxion  We are doing an estimation of this work and will get done soon. After our testing we will also update the doc for the supported versions. For now we will close this ticket as we have created the task internally for us.
#please-close

[2018-06-05 20:53] jeevansd commented on #9263
@chetansriv and @v-nagta Can you please look into this issue?

[2018-06-05 21:00] henryallsworth commented on #9418
Thanks Micah.  I have updated my systems and can confirm that it is working as expected now.  I appreciate the rapid response to this considering it's a preview feature.  My customer really like this feature and never wants to go back to old way.

Thanks

[2018-06-05 21:02] gosali opened #9753 "Help Me"
@wayne-kim commented on [Mon Jun 04 2018](https://github.com/MicrosoftDocs/azure-docs.ko-kr/issues/86)

I can not understand this document. There is too much missing content. In the end, it is impossible to understand, so I am looking at the API DOCS. I do not want anyone to spend a lot of time like I do.

---
#### 문서 세부 정보

⚠ *이 섹션을 편집하지 마세요. docs.microsoft.com ➟ GitHub 문제 연결에 필요합니다.*

* ID: fdcc

[2018-06-05 21:03] jeevansd commented on #9263
@andrew-best-diaxion I think you are referring to Quick Start page in the Azure Management portal. If that is correct then we are in the process of revamping that page. Soon it will be updated. For now please follow the documentation steps as given.

#Please-Close

[2018-06-05 21:05] atobrandon opened #9754 "ASP.NET Core 2.0 Configuration"
It would be nice if the documentation explicitly shows whether the lines to configure the snapshot collector should be placed before or after the call to services.AddApplicationInsightsTelemetry();.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af126ce9-b961-fd20-e4f2-0c17e43e8423
* Version Independent ID: 7b5d06b9-67

[2018-06-05 21:05] gosali opened #9755 "Link "Azure Data Lake Store Python (Account management) Reference" existiert nicht mehr"
@sauercrowd commented on [Tue Jun 05 2018](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/81)

Der Link Azure Data Lake Store Python (Account management) Reference (http://azure-sdk-for-python.readthedocs.io/en/latest/sample_azure-mgmt-datalake-store.html) ist nicht mehr erreichbar

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.mi

[2018-06-05 21:12] jason-j-MSFT commented on #9521
@douglaslMS I do not see any references to script actions when creating a HDI linked service.  We have a request to add that limitation to the documentation.

[2018-06-05 21:15] magdysalem2 opened #9756 "Missing prerequisite"
I believe  we are missing prerequisite for docker  and to be exact docker running windows container. My docker in my local machine was running linux container. however SF local Cluster expect "C:\WINDOWS\system32\config\systemprofile\AppData\Roaming\Docker\service-daemon.json" which exists with "docker running windows container". Once I switch docker to windows container mode, the SF cluster start

[2018-06-05 21:19] jason-j-MSFT commented on #9684
@Erikre I was not able to assign this issue to @thinkingserious, could you let me know if you need this reassigned to someone else?

We have a request directly from the SendGrid docs team to collaborate on this document.

[2018-06-05 21:20] iainfoulds commented on #9531
Sorry for the confusion, @bluephoton.

The simplified `New-AzureRmVmss` cmdlet removes the need for individual configuration objects to be created. Previously, configuration objects for storage, OS, network / IP, etc. were required. You can still create these objects if needed for additional configuration control. A complete script example that shows these additional cmdlets and configurations can

[2018-06-05 21:27] iainfoulds commented on #9652
@dusek @MicahMcKittrick-MSFT For each login request, a new code is required. Some local configuration persists on the VM, such as user home directory, but each SSH session will require prompt for code authentication. One of the major security aspects of the integrated AAD login is that within the AAD tenant, once a user account would be disabled or removed from role assignment to log in, that user

[2018-06-05 21:30] iainfoulds commented on #9542
@MicahMcKittrick-MSFT I think this needs to be reassigned to @ggailey777 for him to track moving forward, please

[2018-06-05 21:32] #9531 closed

[2018-06-05 21:36] aalokitoaami opened #9758 "The name of the parameter is missing"
What will be the name of the parameter? Will it be same as SAMLRequest in the query string? Also no clean indication whether it will be a GET or POST request or both. Also in the metadata there are 3 fields (for us it is same values though) with element name as "SingleLogoutService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect"", "SingleSignOnService Binding="urn:oasis:names:tc:SAML:

[2018-06-05 21:42] SaurabhSharma-MSFT commented on #9665
@dougmolineux Thanks for the feedback ! I am able to reproduce this and I have assigned this issue to content author to investigate and update the document as appropriate.
@curtand Can you please help providing the details on the permissions of a guest user.  I could also see similar user feedback at [Guest Users limited permission setting description is wrong or don't work as expected in AAD Admi

[2018-06-05 21:42] MicahMcKittrick-MSFT commented on #9652
thanks @iainfoulds!

@dusek I will close this for now but if you have additional questions just let us know :)

[2018-06-05 21:42] #9652 closed

[2018-06-05 21:45] MightyPen commented on #9752
@kevinfitzpatrick Thanks very much for pointing this error out to us. The fix is now merged, so it will go live within 1 business day.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/43059

[2018-06-05 21:45] MightyPen commented on #9752
#please-close

[2018-06-05 21:49] codepossible opened #9759 "Seperate Search Client by function"
It would be helpful to have independent samples of index creation and search. The primary uses case is likely to be searching existing store.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62162979-3bcf-4557-a11a-b74d7b121581
* Version Independent ID: d6560736-a54c-c3e2-9333-83936c066360
* Content: [How to use Azure Se

[2018-06-05 21:58] SaurabhSharma-MSFT commented on #9735
@nunix Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.
@curtand Can you please look into this and update the document as appropriate.

[2018-06-05 22:05] ksigler7 commented on #9684
I've actually taken over docs from @thinkingserious - he also works at SendGrid

[2018-06-05 22:08] abhishekram commented on #9720
This is the link: https://github.com/Azure-Samples/service-fabric-dotnet-getting-started. Thanks so much for offering to fix it - much appreciated!

[2018-06-05 22:11] jason-j-MSFT commented on #9373
@hr00 I see references to the Livy batches API and python files here:
https://docs.hortonworks.com/HDPDocuments/HDP2/HDP-2.6.4/bk_spark-component-guide/content/livy-api-batch.html

@nitinme could you consider this a request to add an example of how to make a Livy API call to execute a python file?

[2018-06-05 22:13] MicahMcKittrick-MSFT commented on #9720
Thanks @abhishekram! I fixed the link.

@DOliana once the changes merge this issue will automatically close and the changes will go live in a few hours. Thanks for pointing out the broken link :)

[2018-06-05 22:15] Mike-Ubezzi-MSFT commented on #9750
@deepakar Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-05 22:16] kobulloc-MSFT commented on #9754
@atobrandon Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-06-05 22:18] Mike-Ubezzi-MSFT commented on #9752
@kevinfitzpatrick We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-05 22:18] #9752 closed

[2018-06-05 22:21] Mike-Ubezzi-MSFT commented on #9753
@gosali Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-05 22:30] Gemakk commented on #9435
Thanks!

[2018-06-05 22:30] #9435 closed

[2018-06-05 22:33] #9720 closed

[2018-06-05 22:41] MicahMcKittrick-MSFT commented on #9746
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-05 22:41] jkwon2013 commented on #8513
@cdaniel96 sorry for the late response! I've asked someone to look into this issue. we may reach out with more questions soon

[2018-06-05 22:43] MicahMcKittrick-MSFT commented on #9756
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-05 22:44] MicahMcKittrick-MSFT commented on #9724
Thanks for the question! We are investigating and will update you shortly.

[2018-06-05 22:44] Adam-Smith-MSFT commented on #9719
@superminiek  thanks for the input, I'll assign it to the author for doc-enhancement :)

[2018-06-05 22:54] PatAltimore commented on #9575
@nmarathe  I verified there was not a change. Perhaps try again?  After you verify your client settings, try deploying the marketplace template again.

[2018-06-05 22:54] JanVanMeirvenne opened #9760 "Which GIT providers are supported?"
Is it only Github Public currently, or also private? BitBucket, VSTS, ...? Thanks for the clarification!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f246d4b-b6bc-3058-ebf8-f7964bdf28b9
* Version Independent ID: 6a0db8fa-aa31-258b-7fbe-21482c7f81c6
* Content: [Tutorial - Automate container image builds with Azure Co

[2018-06-05 23:00] MicahMcKittrick-MSFT commented on #9746
@tdykstra , @ggailey777 an insights into this one? Or would this roadmap question be better suited directly on the functions github page?

https://github.com/Azure/Azure-Functions/issues

[2018-06-05 23:02] tdykstra commented on #9746
Yes, we can't address roadmap issues in docs.

[2018-06-05 23:03] mmacy commented on #9760
Hi @JanVanMeirvenne, currently both GitHub and VSTS repositories are supported.

[2018-06-05 23:03] MicahMcKittrick-MSFT commented on #9746
Great thanks Tom.

@wobba can you please ask this directly on the functions GitHub I linked above? The product team is active there and should be able to provide you some guidance. Feel free to come back and link the issue here so we can track and follow up as well.

[2018-06-05 23:03] #9746 closed

[2018-06-05 23:06] SaurabhSharma-MSFT commented on #9751
@Garima2k1 Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-05 23:07] vasivara-MSFT commented on #9755
@gosali @sauercrowd Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@nitinme I am transalating the above question for your convenience:
"The link Azure Data Lake Store Python (Account Management) Reference (http://azure-sdk-for-python.readthedocs.io/en/latest/sample_azure-mgmt-datalake-store.html) is no longer available"

[2018-06-05 23:09] daveba commented on #9597
@colemickens This info is only used by the service and has no use-case for the end user.

[2018-06-05 23:14] SaurabhSharma-MSFT commented on #9758
@aalokitoaami Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-05 23:15] dcbrown16 commented on #5618
@douglaslMS thanks for the follow-up, no problem!

[2018-06-05 23:17] georgewallace commented on #9738
@jbshaver CentOs is on the list of supported Operating Systems.  If you are having issues with this I would recommend you contact support to troubleshoot your issue.

[2018-06-05 23:17] dcbrown16 commented on #9694
@Mike-Ubezzi-MSFT sorry, it's not that the link is broken, it just doesn't do anything useful. It takes you to the top of the page you are on, not to any specific documentation on the topic listed.

[2018-06-05 23:19] vasivara-MSFT commented on #9744
@tysonflint Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-05 23:24] doghousesoftware opened #9761 "Azure event hub missing"
the very first image shows Event Ingestion can take place with an Azure Event Hub.  There is nothing anywhere in this document that discusses how this can be accomplished.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23d54769-c90f-e289-563e-5f877d629a28
* Version Independent ID: 86d52c37-4e7c-b4bf-89b4-1c3de4409473
*

[2018-06-05 23:29] Hallmanac commented on #5561
@SimonLuckenuik  The Singleton works only when running the function on an App Service Plan. Unfortunately not the Consumption plan. The blog post to which you pointed specified that they were running in an S1 App Service Plan.

I agree with you that there needs to be some resolution to the Singleton topic. It has tripped my colleagues and I up where I work.

[2018-06-05 23:48] SaurabhSharma-MSFT commented on #9548
@reza2502 You can refer to [angular-2-authentication-tutorial](https://github.com/auth0-blog/angular-2-authentication-tutorial)
and [Sample application](https://github.com/Azure-Samples/active-directory-angularjs-singlepageapp) for creating a SAML based Single Page application.

[2018-06-06 00:11] #8709 closed

[2018-06-06 00:12] irshad365 commented on #8709
Thanks

[2018-06-06 00:28] andretms commented on #9551
@rvs99 - The v2 endpoint introduces this concept of *Dynamic Consent* - which allow you request scopes as you go in your app - i.e. you can request permissions today to **user.read** but later decide you want to host add **Sites.Read.All**, and user will be prompted only for that scope that he/she hasn't consented before.

The fact is that if you want to access a resource i.e. Microsoft Graph, you

[2018-06-06 00:29] colemickens commented on #9597
Interesting... Thanks for confirming!

[2018-06-06 00:29] #9597 closed

[2018-06-06 00:36] MrRoyce commented on #8879
@Mike-Ubezzi-MSFT The support team helped me to get past this issue.  Here is his reply:

Upon further investigation , I believe that the connection string you have used is the device connection string , which is understandable as I’ve made the same assumption while reading the guide here :

https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-live-data-visualization-in-web-appz

What I’ve used

[2018-06-06 00:42] curtand commented on #9665
@dougmolineux I'll get an answer here. The UI might be out of date. I think the doc does not preclude being able to see users and groups. It does not say it specifically for either members or guests.

@SaurabhSharma-MSFT

[2018-06-06 00:44] hr00 commented on #9373
@jason-j-MSFT We have used that API to create the requests and have successfully done so for session requests and statements. But when running batch jobs we see exceptions in the application log like the following:

Application application_1526496305873_0051 failed 5 times due to AM Container for appattempt_1526496305873_0051_000005 exited with exitCode: -1000
For more detailed output, check the a

[2018-06-06 01:43] JimmyLS opened #9764 "Port 443 (Synchronization with Azure AD) IP address range"
I know that it is supported to restrict inbound access to port 443 to Azure IP address range addresses as following:
"•You can restrict inbound access to this port to IP addresses belonging to the Azure IP address range. Note that the Azure IP address range is a different range than the PowerShell range shown in the rule below."
However, could you please provide the specific IP range/IP addresses

[2018-06-06 02:04] sirtwist commented on #6815
I, too, was just bit by this … I assumed that when the certificate was renewed it would automatically update the binding. This process really should be updated to that effect … if that's not possible, the documentation needs to clearly state that a manual re-binding of the certificate is necessary.

[2018-06-06 02:47] xmark commented on #7730
I just used the ADF v2 connector and pipped the response to blob storage. I used the same queries you used and got different results, could someone have fixed this since I reported it?

[2018-06-06 02:52] gadongji commented on #7730
Not yet, we are unable to repro the issue. Is it possible that you can share your response with us? No need to share the actual data, only the json schema is needed. Thanks.

[2018-06-06 02:59] jennyf19 commented on #8227
@sundhar19 Did @jmprieur's solution above solve the issue for you?

[2018-06-06 03:33] CelesteDG commented on #8912
@femsulu @MohitGargMSFT @SaurabhSharma-MSFT No follow up questions from customer and no changes made to the doc. #please-close

[2018-06-06 03:46] dcbrown16 opened #9767 "Applicability to Data Disks"
Is this information applicable as is to data disks as well (other than the notes about maximum OS disk size)?
If not, why isn't there documentation about how to resize data disks?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccc58c74-7913-f1f6-8681-1823bbd8f050
* Version Independent ID: c11bab28-a82a-29a1-84bf-fb3dfb

[2018-06-06 04:13] dem108 opened #9768 "Maze Found: Python Reference"
Not particularly at this page, but if you click "Python" under "Reference" from left pane, you are redirected to 404 (or "Maze Found" as this readthedocs.io says). The url I bump into is:
    - https://azure-storage.readthedocs.io/en/latest/index.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a056685-6734-380e-56

[2018-06-06 04:26] CelesteDG commented on #8702
@Orangetronic and @butchmarshall - Thank you for your feedback. We are still actively looking into this and I'll update this thread once I've got more info.

[2018-06-06 04:29] adamgourd opened #9769 "Clarification on NSG rules for health probes"
The article states: "If there is a network security group (NSG) on an Application Gateway subnet, open port ranges 65503-65534 on the Application Gateway subnet for inbound traffic. These ports are required for the back-end health API to work." Inbound from where? The internet? Other subnets on the vnet? Somewhere else?

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2018-06-06 04:48] rmcmurray commented on #7754
@doneuros - the updated article is published at https://docs.microsoft.com/java/azure/java-sdk-add-certificate-ca-store

[2018-06-06 04:54] dcbrown16 commented on #9767
Sorry, I found the reference to data disks in the "Next Steps". It would be nice if that was more easily discoverable as a header of its own (under "In this article").

[2018-06-06 05:00] fowl2 opened #9771 "App ID Registration Tenant"
Would be nice if there was some discussion:
 * of when you'd want to register an app within a particular AAD tenant, vs a Microsoft account
 * if it's possible to move or share an app registration with somebody else
 * whether there's an overview of every app for a tenant available anywhere
 * that app registration can be disabled by tenant admins (and where that setting is)

---
#### Document Det

[2018-06-06 05:24] andrewatfornax opened #9772 "Inconsistency in Docs"
Near the top, is the comment: "Accelerated networking can only be enabled for a new NIC. It cannot be enabled for an existing NIC."

However, further down the page are the commands required to enable it for an existing NIC.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f89338c0-968d-c22f-5b0d-ed3870ebc2fa
* Version In

[2018-06-06 05:37] jack2684 opened #9773 "What happen if I define two action at the same time?"
Very nice feature BTW 👍.
Wonder if I define two actions at the same time, will it be executed sequentially?
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a558a9e-10d0-ea34-8780-d9084f87f952
* Version Independent ID: 60dda4e0-7630-f358-aa3a-6a992eae61e2
* Content: [Managing the Azure Storage Lifecycle](https://

[2018-06-06 06:04] amanarneja commented on #9737
@demichalk Sorry about the frustrating experience. We are looking into this and will get back to you soon.

[2018-06-06 06:07] dcbrown16 opened #9774 "Link error"
In the note at the top of the page "See the last section of this article for a description of this enhanced experience and the process to enabled it." has a link in it that is broken. It currently points here:
https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-overview-unified-alerts#enhanced-unified-alerts-experience-public-preview

But the correct link is this (minus "e

[2018-06-06 06:13] CelesteDG commented on #5159
Hello @KirillSelyukov - I was reviewing previously opened Github issues and saw your feedback from March. We published this article on May 23rd: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-app-terms-service-privacy-statement

If there's no URL specified, the user will just see an alert. Thank you.

[2018-06-06 06:18] CelesteDG commented on #9771
Thank you for the feedback, @fowl2 - I've opened a work item in VSTS to track your request as the feature team and I work towards improving the Azure AD app dev docs. If you have other suggestions on what info you'd like to see, please continue to let us know. #doc-enhancement

[2018-06-06 06:19] SaurabhSharma-MSFT commented on #9549
@butchmarshall Can you please verify if you have everything configured as it is mentioned in the document [Configuring multi-tenant applications
](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-integrating-applications#configuring-multi-tenant-applications).  Also, I do not see any configuration steps mentioned in the document which you are referring to.  Are you

[2018-06-06 06:31] vinaybandakka opened #9776 "Impact of existing pods and services during the upgrade process"
There is no information on what happens to pods and services during the upgrade process. When I upgrade cluster from 1.7.x to 1.8.x pods are restarted. Is there a way I can upgrade without service disruption ?

[2018-06-06 06:36] SnehaGunda commented on #9523
#please-close

[2018-06-06 06:43] SaurabhSharma-MSFT commented on #9764
@JimmyLS Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-06 06:50] SnehaGunda commented on #9602
#please-close

[2018-06-06 06:52] lhahne opened #9777 "no snapshots for files?"
Tables "comparison: files and disks" says that files don't support snapshots. However there is a whole separate page about snapshots for azure files here https://docs.microsoft.com/en-us/azure/storage/files/storage-snapshots-files

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bf8f358-861a-b3e5-86c3-ad871a12b03e
* Ver

[2018-06-06 07:03] SnehaGunda commented on #9632
@Mike-Ubezzi-MSFT please assign this issue to me

[2018-06-06 07:03] Ahmad-Saleem-264 opened #9778 "SalesForce Integration with Mobile Apps"
The article mentions that we can receive data through salesforce but there is no guide on that. Moreover can we also achieve offline sync in our integration with salesforce.
https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-value-prop

---
* ID: d727f6e3-8382-bb38-dc82-02e013e44434
* Version Independent ID: cd02afc8-bcb9-ecca-8f3a-43b7256421c9
* Content: [About Mobile Ap

[2018-06-06 07:08] SnehaGunda commented on #9632
#please-close

[2018-06-06 07:12] SnehaGunda commented on #9753
@gosali can you please elaborate, what was difficult to understand in the doc? did you run into any issues?

[2018-06-06 07:28] paulandrewkent commented on #9312
Thanks for the response, however, due to GDPR being live already, do you have any idea when this cmdlet will be available as l would like to set all my database backup retention policies to 28 days.

As a suggestion to be passed on the to the Azure SQL team, would it also be possible to be able to set a default (days) backup policy at the server level so all new databases get this policy applied (

[2018-06-06 07:37] SnehaGunda commented on #9577
@mike-urnun-msft assign this issue to me.

[2018-06-06 07:37] SnehaGunda commented on #9577
@jkonecki There is already a note that its npt yet supported for Table, Graph, and Cassandra API's, I added it to the differences section as well.

[2018-06-06 07:37] SnehaGunda commented on #9577
#please-close

[2018-06-06 07:39] jkonecki commented on #9577
Hello

The note is for Data Explorer and not Emulator itself.

Jakub

On Wed, 6 Jun 2018, 08:37 Sneha Gunda, <notifications@github.com> wrote:

[2018-06-06 07:47] xmark commented on #7730
Unfortunately we stopped using the connector. The issues we were having with it were a little too "beta" for us and couldn't get any answers out of anyone regarding GA release. So I cant provide you with any of that.

You can close this issue if you cannot reproduce it and are confident that the address and phone data are being correctly returned using Data Factory v2.

[2018-06-06 08:16] Orangetronic commented on #8702
Thanks for looking into it :)

-- 
David Miller
Orangetronic.com
😀

On 6 June 2018 at 05:26:41, Celeste de Guzman (notifications@github.com) wrote:

@Orangetronic and @butchmarshall - Thank you for your feedback. We are still actively looking into this and I'll update this thread once I've got more info.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on

[2018-06-06 08:43] Jeff-Pironneau commented on #9734
From my understanding, the 2 pages login experience comes from a technical constraint related to federated authentication.
You can use different type of accounts: enterprise/school account or personal account.
Entering first your username/email, allows the system to redirect you to the proper authentication mechanism, hence explaining the 2 steps.

[2018-06-06 08:44] walleSenpai opened #9779 "Error conecting raspberry to Azure IoT"
I'm trying to connect azure to IoT hub , i have done all the steps here in this tutorial but when I put my Azure IoT hub device connection string i have the same error everytime and i do not know why, i have made all the steps and i put the iothubowner primary key  in the last step : python app.py '&lt;your Azure IoT hub device connection string&gt;' , and the error is always the same : Device con

[2018-06-06 08:47] zhongyi-zhang opened #9780 "What if the primary database and the secondary database are in different sizes?"
When we create the failover group, the size of the secondary database is set to the same as the primary database. But the primary database can be scaled. And the secondary database would not be scaled automatically. When the storage usage reaches the max size of the secondary database, what would happen?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-06-06 09:03] DhanrajPervaram commented on #9707
Ok.. Thank you

On Tue, Jun 5, 2018 at 11:33 PM, VairavanS-MSFT <notifications@github.com>
wrote:

[2018-06-06 09:19] femsulu commented on #9124
@richardcox13
Here is how to assign co-administrator role to an existing owner of the subscription via the Portal
https://docs.microsoft.com/en-us/azure/billing/billing-add-change-azure-subscription-administrator#add-or-change-co-administrator

![image](https://user-images.githubusercontent.com/34327711/41029153-d0b9b218-692f-11e8-8f07-b4a97ad99e51.png)

Here is how to view which Owner(s) have bee

[2018-06-06 09:22] femsulu commented on #9124
@anirudhcavale , Regarding question 1, I can consistently repro the email validation error while trying to add emails addresses (as shown). Any ideas?

https://user-images.githubusercontent.com/34327711/40692036-4531f140-6364-11e8-8bb7-61ac8ddccd3c.png

[2018-06-06 10:45] HdeJong0 commented on #9734
I've added this as feedback, thanks.

https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/34465306-login-should-be-a-single-page-instead-of-two

H. de Jong

________________________________
From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Tuesday, June 5, 2018 9:22:56 PM
To: MicrosoftDocs/azure-docs
Cc: Harro de Jong; Mention
Subject: Re: [MicrosoftDocs/azure-docs]

[2018-06-06 11:43] WillFulmer opened #9783 "Additional notes"
This error will appear - SAML authentication request's RequestedAuthenticationContext's Comparison value must be "exact".

Unless the following steps are added - per https://www.pagerduty.com/docs/guides/azure-active-directory-sso-guide/

Make sure the Require EXACT authentication context comparison option is checked.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2018-06-06 11:47] SychevIgor opened #9784 "UX is different now"
https://docs.microsoft.com/en-us/azure/backup/media/backup-azure-delete-vault/open-settings-and-backup-items.png this UX is different now. There is no drop down list of "Azure VMs/ Folders"
Please, update the screenshot to make my customers a bit less frustrated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 728cc3f4-

[2018-06-06 11:47] SychevIgor commented on #9784
It's how it's looks now
![image](https://user-images.githubusercontent.com/578954/41036389-8d9efeca-6998-11e8-960b-afb8b734972e.png)

[2018-06-06 11:48] locohost commented on #9202
I mentioned specific missing info in my OP. Where in the tutorial are there any instructions for adding code to the OnlineOrder model?

[2018-06-06 12:27] zhouwangzw commented on #9670
Could you please try with the new speech SDK https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/, and use StartContinuousRecognition(). In this way, you will get all results. Please check [here](https://github.com/Azure-Samples/cognitive-services-speech-sdk) for samples.

[2018-06-06 12:33] sergaz-msft commented on #9779
Hello @walleSenpai and thank you for your post! You will need to use the device connection string and not the iothubowner primary key. See the images below on how to get it from the Portal:

1)
![image](https://user-images.githubusercontent.com/22173500/41038419-f774c02e-698d-11e8-8573-fd68f70fd22f.png)

2)
![image](https://user-images.githubusercontent.com/22173500/41038363-c73fa07c-698d-11e8-968

[2018-06-06 12:35] SaurabhSharma-MSFT commented on #9734
@HdeJong0 Thanks, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-06 12:35] #9734 closed

[2018-06-06 12:38] cephalin commented on #9584
https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1276888

[2018-06-06 12:39] nigel-dewar commented on #6349
WOW! this is pretty poor this is not fixed!!!!

[2018-06-06 12:41] nigel-dewar opened #9785 "This doco is incorrect"
The command to create the the ACS is wrong and causes an error using azure-cli version 2.0.34

I get

Deployment failed. Correlation ID: 6f0e65b9-e897-46ad-b644-e5862a8461b8. {
  "error": {
    "code": "BadRequest",
    "target": "containerService.properties.orchestratorProfile.orchestratorType",
    "message": "Error converting value \"DockerCE\" to type 'System.Nullable`1[Microsoft.WindowsAzure.

[2018-06-06 12:47] IronCore864 commented on #9391
Same error.

See here:

https://github.com/MicrosoftDocs/azure-docs/issues/8348

I solved it like this, although I don't understand why on earth it has to be the same group as k8s. For log analytics I didn't use the same group and it works too.

[2018-06-06 12:53] MikeSpark opened #9786 "It does not work when more than 2m rows"
It always timeout when there're more than 2m rows (just a roughly estimation)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59e5d5db-588f-05e8-2d5d-ad5ea5eec4af
* Version Independent ID: 61b2a229-8f69-d28e-1861-dd276ddda7d0
* Content: [Copy data from Netezza using Azure Data Factory (Beta)](https://docs.microsoft.com/

[2018-06-06 13:12] SaurabhSharma-MSFT commented on #9783
@WillFulmer Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-06 13:18] jakubjenis commented on #6399
@duongthaiha no progress yet, unfortunatelly

[2018-06-06 13:19] goforgold opened #9787 "Existing Data when Switching to BYOK"
What happens to the existing data if I switch to BYOK for any particular storage account?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dc2f1a2-3f5a-baf3-94e7-37bf4539530b
* Version Independent ID: 13dd580d-f249-62eb-13e2-da76f2f7f7dc
* Content: [Azure Storage Service Encryption using customer-managed keys in Azure K

[2018-06-06 13:30] mrdfuse opened #9788 "Missing number in Note"
"Basic offers up three replicas for high availability but has only partition"
I think this should be: has only 1 partition

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18f26025-af57-17c6-0b51-b64d46b450fe
* Version Independent ID: d60c32f2-f86e-7773-db4b-8f59dbcabf5d
* Content: [Choose a pricing tier or SKU for Azure

[2018-06-06 13:35] mrbullwinkle commented on #6399
@kobulloc-MSFT where would be the best Microsoft forum to redirect this question? I have added an item to my backlog to add more info to the docs on this topic, but I don't want to leave @jakubjenis hanging and I suspect he may get a faster response or at least additional troubleshooting steps via the forums.

[2018-06-06 13:43] Niladri24dutta commented on #9684
@ksigler7 @jason-j-MSFT @Erikre I have added the code sample for .NET Core with sendgrid C# SDK few months back. I have worked on the Sendgrid SDK as a contributor . If anything else needs to be added to the document then I can assist.

[2018-06-06 13:44] MGoedtel commented on #9744
@tysonflint - Thanks for bringing this to my attention.  I bugged this last week after going through these steps in my lab with OpsMgr version 1801 to clean it up, and noticed the behavior is different than what I experienced when testing it against 2012 R2 and 2016 previously.  Regardless, you point about calling out the caution of deleting the two core Advisor MPs does need to be addressed, but

[2018-06-06 13:49] RajneeshVerma commented on #9146
@nitinme
It seems there is a typo in the key you have provided, it should be "spark.yarn.maxAppAttempt**s**"
Ref link [https://spark.apache.org/docs/latest/running-on-yarn.html](https://spark.apache.org/docs/latest/running-on-yarn.html)

[2018-06-06 13:49] jloughlinMSFT commented on #9525
Thank you.

[2018-06-06 13:49] #9525 closed

[2018-06-06 13:50] ConnorKirk opened #9789 "The sample script to disable triggers in incorrect"
The sample script given to disable triggers has three errors in it
1. The first variable $armTemplate is not used elsewhere in the script
2. The second variable $templateJSON is not used elsewhere in the script
3. The ForEach-Object Loop has the parameter and argument -Name $\\_.name. The backslash preceding this underscore should not be present, as the underscore does not need escaping.
It looks

[2018-06-06 13:55] cephalin commented on #9584
@EricSten-MSFT Hi Eric I've added a link to an official template sample, which should be published in the next few hours. Thanks. #please-close

[2018-06-06 13:57] jimeilong opened #9791 "The program can't run even if all the configuration is correct"
Hi Team,
I am try to run the code which is list in document.but the code through a error. please help to check the log.

<details>
  <summary>error log</summary>
  “dotnet.exe”(CoreCLR: DefaultDomain): 已加载“C:\Program Files\dotnet\shared\Microsoft.NETCore.App\2.0.7\System.Private.CoreLib.dll”。已跳过加载符号。模块进行了优化，并且调试器选项“仅我的代码”已启用。
“dotnet.exe”(CoreCLR: clrhost): 已加载“E:\Github\device-simulation-dotnet\W

[2018-06-06 14:26] infoberg opened #9792 "incorrect information"
The following instructions are incorrect and/or incomplete:

Delete all the folders that start with "Azure" from the C:\Program Files\WindowsPowerShell\Modules and C:\Users\AzureStackAdmin\Documents\WindowsPowerShell\Modules folders.

I think also all modules starting with "Azs" should be removed ast those will be installed by "Install-Module -Name AzureStack -RequiredVersion 1.3.0".  And my user

[2018-06-06 14:31] rothja commented on #9350
@georgewallace @jefffanjoy Thank you both for working together on this offline. I'm going to close out this git issue unless there is any other work you want to track here. @femsulu Can you close this issue? Thank you! #please-close

[2018-06-06 14:45] fschmied commented on #7281
@BryanTrach-MSFT You write "Moving App Service Plans really works best if you are moving your app to a new App Service Plan (ASP)." How would this work? Since I can't control the webspace, the new ASP would likely again be in a different webspace?

I just tried creating a new app service plan in the same resource group and location as an existing one, then move my app service from the existing one

[2018-06-06 14:46] georgewallace commented on #9350
@rothja No, I am tracking outside of the issue thanks! Safe to close.

[2018-06-06 14:48] jozf95 opened #9793 "Set Smart Lockout : missing values / error 400"
there are some missing values to set Smart Lockout values.
good query looks like :

{
  "templateId": "5cf42378-d67d-4f36-ba46-e8b86229381d",
  "values": [
    {
      "name": "LockoutDurationInSeconds",
      "value": "300"
    },
    {
      "name": "LockoutThreshold",
      "value": "5"
    },
    {
      "name" : "BannedPasswordList",
      "value": ""
    },
    {
      "name" : "EnableBanned

[2018-06-06 14:58] AzureArchitecture opened #9794 "Need to ad an "a""
Conditional access policies

A conditional access policy is "a" definition of an access scenario using the following pattern:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffdaa549-8f3b-75e0-9d27-a1a10417d86b
* Version Independent ID: aff533db-3ac6-5f9a-0134-812f7d488670
* Content: [Azure Active Directory conditional

[2018-06-06 14:58] Mike-Ubezzi-MSFT commented on #9632
@EronWright We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-06 14:58] #9632 closed

[2018-06-06 15:00] Mike-Ubezzi-MSFT commented on #8879
@MrRoyce Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-06 15:01] zchef2k opened #9795 "Custom log record properties - File name/path"
Custom logs should have a property that indicates the path/filename from which the raw data came. Similar to 'SourceSystem,' this could be called 'SourceFile' or 'SourcePath.'  This field should be searchable, too. The existing field 'Type' does not suffice for this purpose- it doesn't scale well when defining logs with a wildcard. One 'Type' can have many individual logs. Without a searchable 'So

[2018-06-06 15:03] Mike-Ubezzi-MSFT commented on #8879
Corrected Link: [Visualize real-time sensor data from your Azure IoT hub by using the Web Apps feature of Azure App Service](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-live-data-visualization-in-web-apps)

[2018-06-06 15:08] Windows7ge opened #9796 "Multi-pathIO not working in Windows 10 Pro"
I myself, someone helping me, and many others on forums have all said that Multi-path on Windows 10 no longer works. Apparently it use to work,  then a few Windows updates later it would work until you restarted your computer, then a few more updates it now doesn't work at all. the multi-path tick box is there but it does absolutely nothing and I have this verified by about 7 different people. I c

[2018-06-06 15:14] ConnorKirk commented on #9789
Aside from that, the rest of the doc is very helpful!

[2018-06-06 15:19] Mike-Ubezzi-MSFT commented on #8879
The prerequisite steps for this tutorial (Real-time data visualization of sensor data from your Azure IoT hub - Web Apps) needs to be corrected to show in the instructions the correct connection string, which is the shared access keys for that specific IoT Hub. The content that needs to be update is in this section: [Configure the web app to read data from your IoT hub](https://docs.microsoft.com/

[2018-06-06 15:19] ksigler7 commented on #9684
@Niladri24dutta - thanks so much for your offer! Would for sure love to work with you on this.

@jason-j-MSFT - I guess I am just confused here - why can't I make the updates I am suggesting? I was planning on submitting a PR. I filed this issue because that what your contributing guidelines suggest - file an issue on bigger requests so that you can get assigned to work with someone in house on la

[2018-06-06 15:22] Anmolgan81 commented on #8457
So are you trying to say I can move MySQL Database, but cant move the Azure Database for MYSQL, Whats the difference between these two??
How can I check if my MySQL Databases belongs to Azure Database for MYSQL Server??

[2018-06-06 15:22] MouthOfMadness opened #9797 "New-AzureRmADApplication - sample code"
For my devops project; I'd like to see some sample code that registers my application on apps.dev.microsoft.com as a Converged application rather than just the Azure AD only application.  In the interim, can you point me to an example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af593b9c-8d39-96b4-2812-10c52a79ea2e

[2018-06-06 15:23] Mike-Ubezzi-MSFT commented on #9780
@zhongyi-zhang Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-06 15:28] vishnu6266 opened #9798 "Trace functionality in Developer Console"
Trace functionality in Developer Console is missing in the page. It will be helpful if you could mention users with which role  can access  Trace functionality in Developer Console. Currently trace functionality if only available in Developer Console when i login as administrator

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-06-06 15:32] dankellett opened #9799 "Private docker hub image example"
It would be great to see an example showing how to configure a container instance to pull from a private docker hub image.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 196dd3fc-8ba7-5e5c-2bba-ca9f20b18e73
* Version Independent ID: 87e1da3d-f013-a3d0-ffc7-fae698b68a90
* Content: [Quickstart - Create your first Azure C

[2018-06-06 15:45] cephalin commented on #9487
Yes go ahead and assign it to me.

[2018-06-06 15:46] amrx101 opened #9800 "Python Azure Service Bus using AMQP protocol."
Please provide a working example which uses AMQP protocol to publish to the service BUS. There are instances when the consumer is a .NET application(using the native AMQP  protocol) whereas the producer is a Python app (HTTP protocol). This mismatch of protocols between clients causes error. It will be extremely helpful if the documentation included a working example of communication using AMQP pr

[2018-06-06 15:48] jeevansd commented on #9783
@WillFulmer This is a valid feedback. We will explicitly mention this in the configuration.
@chetansriv and @v-nagta Can you please make sure that we call out this step in the documentation?

[2018-06-06 15:48] sethmanheim commented on #9202
@locohost Thank you for the feedback, we will take that under consideration. At this point, the tutorial focuses on the use of Azure Service Bus, so we wanted to keep it less complicated and more focused.

[2018-06-06 15:48] sethmanheim commented on #9198
#please-close

[2018-06-06 15:49] HeidiSteen commented on #9788
Yes, you're right -- thanks!  I'll fix this today.

[2018-06-06 16:01] tonyistark opened #9802 "Broker not available"
I followed the intstructions, but I seem to be getting a 'broker not available' error when I run the function.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3f1d452-26a9-1d20-453f-35dd33998f3a
* Version Independent ID: 776f5d38-bb0d-0d21-2352-c2207332d5e5
* Content: [Use Azure Functions to send data to Kafka on HDIns

[2018-06-06 16:03] tfitzmac commented on #8457
The resource provider namespace for Azure Database for MySQL is "Microsoft.DBforMySQL".

[2018-06-06 16:04] SteveLasker commented on #9760
Hi @JanVanMeirvenne,
As @mmacy noted, both Github and VSTS are supported. Since we use Personal Access Tokens, private and normal VSTS repos are also supported.  The PATs are used to create a webhook for git commit notifications to trigger builds, not just a secured `git pull`.
Since we do setup the webhooks for notifications, there is service specific configurations we need to enable.
Were there

[2018-06-06 16:04] HeidiSteen commented on #9054
Hi @tromika, did you see this drilldown article on business understanding?  https://docs.microsoft.com/en-us/azure/machine-learning/team-data-science-process/lifecycle-business-understanding

[2018-06-06 16:06] betterthanjimbo opened #9803 "Typo in URL"
IS: https://github.com/Azure-Samples/SpeechToTeext-REST

SHOULD BE (too many "e")
https://github.com/Azure-Samples/SpeechToText-REST

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25e5cb13-9015-701f-29c6-ce1c3fe8fa15
* Version Independent ID: d7ef10f8-777f-be53-cf7e-8fa87c53c447
* Content: [Use Speech to Text - Microso

[2018-06-06 16:06] devwheel opened #9804 "Create the ProxyIdentityExperienceFramework application Problem"
docs say to add https:/login.microsoftonline..... the UX says no http or https in the Redirect URI for a native app

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bee63035-00ee-f7fd-97a1-69dae5f808ef
* Version Independent ID: a3447928-73cc-0290-6d46-b89234757e3b
* Content: [Get started with custom policies in Azure Act

[2018-06-06 16:12] PatAltimore commented on #9575
@nmarathe I'm going to request the issue to be closed.  If you find there is still a problem, please reopen the issue.

#please-close

[2018-06-06 16:12] mtillman commented on #9451
@MicrosoftDocs/azure-cxp-triage please assign this issue to @priyamohanram for resolution. Thanks.

[2018-06-06 16:13] ahmedelnably commented on #9737
Assigning this to @msangapu

[2018-06-06 16:15] msangapu commented on #9737
Please assign to me.

[2018-06-06 16:17] femsulu commented on #9759
@codepossible Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-06 16:18] billmath commented on #9275
@jeromeecho  thanks for catching this.  I have submitted a fix and it should be live later today.  Thanks!

#please-close

[2018-06-06 16:19] femsulu commented on #9761
@doghousesoftware Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-06 16:20] bhamilton opened #9805 "Set default Azure storage account environment variables"
This documentation section assumes you know how to retrieve the `AZURE_STORAGE_ACCESS_KEY` value. Although it would introduce redundancy, there doesn't appear to be a way to insert a cross section of the documentation here: https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-cli#specify-storage-account-credentials which appears to using an include itself of https://github

[2018-06-06 16:21] remeezp commented on #8142
We are experiencing the same issue, any update on this?

[2018-06-06 16:28] nitlsu commented on #8564
Should you be clarifying in this article that setting the OneDrive/SharePoint Online external sharing setting to "Only allow sharing with external users already in the directory" will also break the ad-hoc file sharing capability (where the invitee gets a URL and then a 6-digit PIN w/o needing to create a guest account).

[2018-06-06 16:30] billmath commented on #8997
@SychevIgor good catch!  I have updated this screen shot and submitted a change.  It should be live later today.  Thanks!

#please-close

[2018-06-06 16:37] nschonni commented on #9602
Sorry, it looks like I gave it a bad title here. The bad link is actually in the `[GitHub](https://github.com/stalker314314/sql-apiCpp)` which is the link before the "Get the complete solution". That anchor link and subsection is good.

[2018-06-06 16:38] billmath commented on #8940
@wcneumann  thank you for submitting this.  I have created a work item for this, as this is going to require me to get some verification from the engineering team.  At this point I am going to close the issue and I will re-open this once I have an updated.  Thanks again!

#please-close

[2018-06-06 16:38] PatAltimore commented on #8622
@jeffryvu Thanks for finding the issue. The script owner made the fix and it's published in https://github.com/Azure-Samples/blockchain/tree/master/blockchain-workbench/scripts/troubleshooting repo.

Requesting to close the issue. #please-close

Pat

[2018-06-06 16:39] billmath commented on #8939
@johnneycao  thank you for submitting this.  I have created a work item for this, as this is going to require me to get some verification from the engineering team.  At this point I am going to close the issue and I will re-open this once I have an updated.  Thanks again!

#please-close

[2018-06-06 16:41] vasivara-MSFT commented on #9789
@ConnorKirk Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-06 16:42] billmath commented on #8876
@PurpleFuton good catch.  I am verifying this with engineering.  thanks!

[2018-06-06 16:43] Adam-Smith-MSFT commented on #9773
@jack2684 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-06 16:44] danieldobalian commented on #8167
@jmprieur, @xerners fyi. @Rachitgupta1994 the answer on your SO came directly from our Xamarin Identity team and is accurate, unfortunately. There is a limitation today with Xamarin forms in the case of non-brokered SSO. In order to get SSO between Android apps the only options are to enable the use of the token broker (Microsoft Authenticator or Intune Company Portal) or use native Android rather

[2018-06-06 16:44] vasivara-MSFT commented on #9795
@zchef2k Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-06 16:45] vasivara-MSFT commented on #9786
@MikeSpark Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-06 16:45] douglaslMS commented on #9521
#in-progress

[2018-06-06 16:46] rothja commented on #9487
@cephalin Thanks! @femsulu Can you reassign this to Cephas? Thank you!

[2018-06-06 16:47] allanwith opened #9806 "Exactly when does a user get added to AAD?"
Consider this:
A user, who is not an owner, shares a folder with "specific people" from a SharePoint site to a Microsoft Account that is not already in the directory. This external should get added to the directory, according to the information on this page, it doesn't. Instead the user receives an email with a code every time the received link is accessed.

Perhaps I am missing something, but doe

[2018-06-06 16:47] Adam-Smith-MSFT commented on #9787
@goforgold Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-06 16:48] HeidiSteen commented on #8930
Thanks for reporting this, I fixed the link.

[2018-06-06 16:49] thekwilson opened #9807 "Missing requirements.txt file in the GitHub sample"
Step 4 of cloning the Sample GitHub application fails because the requirements.txt file does not exist in the repo.  It needs to be added to the repo OR steps added to instruct how to use something like pipreqs to generate the file based on the app.py source.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e178cd44-55d5

[2018-06-06 16:50] douglaslMS commented on #9789
@ConnorKirk  As I mentioned in the other issue, the author of this page is out of the office for several more days. As soon as he returns, I'll double-check the script corrections with him and fix the article. Thank you.

[2018-06-06 16:50] douglaslMS commented on #9789
#in-progress

[2018-06-06 16:52] KloudEzy commented on #9418
Thank you @MicahMcKittrick-MSFT, it's working now! Will do more test and let you know if any issues.

[2018-06-06 16:54] novino commented on #9409
@montanamott For monthly frequency, the permissible values for day field are 1 - 28 as well as "last"
So if you want to update on last day of every month, you'd have to set eg: "Monthly, last, 12:34:56"

Realized this special case isn't covered in our documentation, will update the same shortly.

[2018-06-06 17:02] msivers opened #9808 "'NotificationHubs app' source link in the overview does not reflect the current document."
In the overview it states... "'The finished code is available in the NotificationHubs app sample.." but the link is to an old sample and does not reflect the contents of this document. It is the old GCM approach and not the newer FCM approach described in this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a

[2018-06-06 17:04] rboucher commented on #8139
@chrisahardie I do think the expired trial is problem causing the issue.  Can you try signing up to Pluralsite with a fresh email address and then viewing the content?  Alternatively, do you have another computer to try from where you didn't log into Pluralsite in the past? Might be a cookie on your machine.  If either of these works, at least that gets you in and I can report the problem it to Pl

[2018-06-06 17:05] MicahMcKittrick-MSFT commented on #9767
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-06 17:06] MicahMcKittrick-MSFT commented on #9785
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-06 17:07] Adam-Smith-MSFT commented on #9796
Thank you for the valuable feedback,we are investigating the issue.

[2018-06-06 17:07] MicahMcKittrick-MSFT commented on #9799
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-06 17:08] MicahMcKittrick-MSFT commented on #9776
Can you provide the link to the document you are referring to?

[2018-06-06 17:11] MicahMcKittrick-MSFT commented on #9418
Great! I will close this for now but if anyone has issues with this and are getting the same error please let me know and I can reopen. Else, if you see any other issues please open a new issue and we will investigate :)

[2018-06-06 17:11] #9418 closed

[2018-06-06 17:12] MicahMcKittrick-MSFT commented on #9409
Thanks @Novino! I will assign this to you for now while you work on that update.

@montanamott let us know if you have additional questions.

[2018-06-06 17:18] tfitzmac commented on #9501
@kyle-thomas-TT - the product team is researching why this is happening. I'll let you know if there is an update on this issue.

[2018-06-06 17:20] jason-j-MSFT commented on #9684
@ksigler7 @Niladri24dutta  you can definitely start the processes on your end right now, I'm looking for a content author who I assume will sign off on your PR.  I'll keep digging on this, but you guys please procceed, and thanks!

[2018-06-06 17:21] Anmolgan81 commented on #8457
This will be registered in registered resources list as the customer already has the mysql db in his enviroment. How should now that azure my sql server is related to these mysql databases? How should I find this??

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Tom FitzMacken <notifications@github.com>
Sent: Wednesday, June 6, 2018 9:33:07 PM
To: MicrosoftDocs/a

[2018-06-06 17:22] SnehaGunda commented on #7900
@Mike-Ubezzi-MSFT please assign this issue to me.

[2018-06-06 17:23] SnehaGunda commented on #7900
@hhubik and @EronWright Thanks for suggesting the fix.

#please-close

[2018-06-06 17:27] MicahMcKittrick-MSFT commented on #6349
I am not seeing an issue with this anymore. @classaction, @locohost, @nigel-dewar can you try the doc using Azure Cloud Shell?

Here is my output:

[code]
[code]

[2018-06-06 17:27] MicahMcKittrick-MSFT commented on #9056
@SamirFarhat I will close this out for now. If you feel more information is needed let us know and we can reopen.

[2018-06-06 17:27] #9056 closed

[2018-06-06 17:28] MicahMcKittrick-MSFT commented on #9389
@sanjaysahu1984 any luck?

[2018-06-06 17:30] MicahMcKittrick-MSFT commented on #9516
Thanks for adding that extra information to the doc @ggailey777!

@ishepherd I will close this for now. We added additional information to the doc to make it more clear.

[2018-06-06 17:30] #9516 closed

[2018-06-06 17:31] vinaybandakka commented on #9776
https://docs.microsoft.com/en-us/azure/aks/upgrade-cluster

[2018-06-06 17:31] MicahMcKittrick-MSFT commented on #9622
@sujith3g I will close this for now. If you have additional questions let me know and we can reopen and continue.

[2018-06-06 17:31] #9622 closed

[2018-06-06 17:31] bwren commented on #9795
This doesn't seem to be a documentation issue, but I will pass the feedback on to the engineering team.

[2018-06-06 17:31] bwren commented on #9795
#please-close

[2018-06-06 17:37] vasivara-MSFT commented on #9795
@zchef2k We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-06 17:37] #9795 closed

[2018-06-06 17:39] ggailey777 commented on #9691
@rmaziarka thanks for your question. We default to the v1 version of the Azure Cosmos DB binding article, since v2 is still in preview. The topic you want for the v2 binding is [this one](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2).  #please-close
cc. @tdykstra

[2018-06-06 17:41] amanarneja commented on #9291
@MeitziQ / @JoMiPeCa Thanks for the feedback folks, @Sara-Nicolini will look into this and update ass appropriate.
@mtillman - Thanks for pointing out the Misroute, apologies for the delay in fixing the assignment.

[2018-06-06 17:44] rwwinn1 opened #9810 "Intersection of Nvidia GRID, NV-series Virtual Machines, and Citrix XenServer"
The existence of the NV-series VM is great, but to take advantage of the Nvidia GRID technology, you have to utilize other technologies like Citrix XenServer and XenDesktop. Does anyone have an architecture that shows how to deploy these three technologies on Azure to actually take advantage of the GRID hardware for high performance remote graphics?

---
#### Document Details

⚠ *Do not edit this

[2018-06-06 17:52] jeeshnair commented on #6500
Hi,

I am wondering if there is any follow up to this issue because I am also trying to solve the same problem.

[2018-06-06 17:52] ggailey777 commented on #9542
I would assume that not running locally may be related to it not deploying successfully. Have you tried to run it locally without `AccessRights.Manage` in the **ServiceBusTrigger** attribute?

[2018-06-06 17:59] kobulloc-MSFT commented on #9798
@vishnu6266 Thank you for bringing this to our attention!  We are investigating this and will get back to you shortly.

[2018-06-06 17:59] kobulloc-MSFT commented on #9711
@waheedhussain After clicking on "+ Add test", selecting "Multi-step test", and completing the "Create test" window, you should see "Download web test" as shown in the screenshot below.  My understanding is that multi-step tests are not available with all subscriptions.  If that option is grayed out, please let me know.

![image](https://user-images.githubusercontent.com/37556655/41012326-e4844dba

[2018-06-06 18:02] SaurabhSharma-MSFT commented on #9793
@jozf95 Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-06 18:06] #9691 closed

[2018-06-06 18:06] YutongTie-MSFT commented on #9803
@betterthanjimbo Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-06 18:07] SaurabhSharma-MSFT commented on #9794
@AzureArchitecture Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-06 18:08] SaurabhSharma-MSFT commented on #9804
@devwheel Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-06 18:08] MicahMcKittrick-MSFT commented on #9678
@gwlperl I will close this for now. When ready please see my last comment and we can reopen the issue and continue.

[2018-06-06 18:08] #9678 closed

[2018-06-06 18:08] SaurabhSharma-MSFT commented on #9806
@allanwith Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-06 18:08] Adam-Smith-MSFT commented on #9784
@SychevIgor Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-06 18:09] SaurabhSharma-MSFT commented on #9548
@reza2502 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-06 18:09] #9548 closed

[2018-06-06 18:09] Adam-Smith-MSFT commented on #9805
@bhamilton Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-06 18:09] SaurabhSharma-MSFT commented on #9549
@butchmarshall We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-06 18:09] #9549 closed

[2018-06-06 18:12] vasivara-MSFT commented on #9802
@tonyistark Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-06 18:12] butchmarshall commented on #9549
Sure - doesn't really answer why the app isn't working given my settings, so I'll post over in the developer network... thanks.

[2018-06-06 18:13] Niladri24dutta commented on #9684
@ksigler7 Do you have any list of changes that needs to be incorporated?

[2018-06-06 18:14] MicahMcKittrick-MSFT commented on #9767
@dcbrown16 I have changed the header from "Next Steps" to "For resizing Data Disks" to make the doc more clear. Once the merge is complete this issue will automatically close and the changes will go live in a few hours.

[2018-06-06 18:15] SaurabhSharma-MSFT commented on #9549
sure, please provide forum link over here so that I can try help getting you answered at the earliest.

[2018-06-06 18:15] alphadever commented on #9052
I Didn't face this problem! I was able to use the 1024 bit cert (exactly as stated in the documentation) and successfully run the code on NET 4.6

[2018-06-06 18:17] brjohnstmsft commented on #9759
@codepossible There are a variety of samples available [on GitHub](https://github.com/Azure-Samples/search-dotnet-getting-started), including [a sample that demonstrates how to index data from existing data stores](https://github.com/Azure-Samples/search-dotnet-getting-started/tree/master/DotNetHowToIndexers). Can you please elaborate on what we could add or perhaps make more discoverable?

[2018-06-06 18:17] MicahMcKittrick-MSFT commented on #9724
@superminiek in order to change a VMs availability set or availability zone you need to delete the VM and recreate it using the existing OS disk and putting it in the new AV or AZ set of your choice. There is not an option to just reconfigure without deletion and recreation.

If you think that should be a feature you can leave that feedback on
[UserVoice](https://feedback.azure.com/forums/34192--g

[2018-06-06 18:18] SaurabhSharma-MSFT commented on #9052
@alphadever Thanks for validating it.  I also faced the same issue. Are we missing anything here specific to our environment which we need to look into ?

[2018-06-06 18:20] MicahMcKittrick-MSFT commented on #9776
Thanks for that. Upgrading the cluster will cause the nodes to restart to apply the update. You cannot update the cluster without a reboot. Hence, if you are not able to handle a service interruption you should only update during non business hours or schedule a time window when a reboot will not impact your business.

[2018-06-06 18:21] MicahMcKittrick-MSFT commented on #6349
@nigel-dewar please see my above comment. This issue is the same issue as the one you opened (#9785)

[2018-06-06 18:22] MicahMcKittrick-MSFT commented on #9785
@nigel-dewar please see issue #6349 as it is the same problem. I have mentioned you in that issue and we can work on that one instead.

[2018-06-06 18:22] #9785 closed

[2018-06-06 18:28] MicahMcKittrick-MSFT commented on #9810
@rwwinn1 we do not have any MSFT branded documentation on merging the three together. However, once you setup the N series and its drivers the process should be no different than implementing the solution on premises. If you are looking for help in building this solution I would suggest reaching out to [Stack Overflow](https://stackoverflow.com/) or [MSDN](https://social.msdn.microsoft.com/Forums/

[2018-06-06 18:28] #9810 closed

[2018-06-06 18:28] butchmarshall commented on #9549
https://social.msdn.microsoft.com/Forums/azure/en-US/2de5fd27-1b93-4a48-89f6-cc20b1321242/multitenant-apps-developer-tenant-users-signs-in-service-principal-object-users-do-not?forum=opensourcedevwithazure

[2018-06-06 18:31] vtjc2002 opened #9812 "ngrok endpoint url pattern"
When creating a EventGridTrigger function in VS2017 the default url is as below

// Default URL for triggering event grid function in the local environment.
// http://localhost:7071/runtime/webhooks/EventGridExtensionConfig?functionName={functionname}

How to configure local env to match?https://{subdomain}.ngrok.io/admin/extensions/EventGridExtensionConfig?functionName={functionname}

I ended up

[2018-06-06 18:36] TravisCragg-MSFT commented on #9772
@andrewatfornax Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-06 18:42] kgremban commented on #9618
@prkhandelwal Can you provide more information? What are you seeing, and what are you expecting to see?

@dsk-2015 for visibility

[2018-06-06 18:44] mmacy commented on #9257
@MicahMcKittrick-MSFT Ping on the issue close for this one, Micah. Thanks!

[2018-06-06 18:47] kgremban commented on #9507
@shizn Can you help address this issue? Is there something that we should add to the documentation to clarify how this template works, or do you think that the package issues will be resolved with the changes we're making this week?

[2018-06-06 18:55] msangapu commented on #9737
Hi @demichalk. Sorry for the issue. I'm planning on modifying the article to link to ACR documentation here (https://docs.microsoft.com/en-us/azure/container-registry/container-registry-webhook). Please let me know if that is of help to you.

In the future, we plan to add an end-to-end CLI sample with a web app.

[2018-06-06 18:57] ksigler7 commented on #9684
@Niladri24dutta - so I am hoping to submit a PR with my changes in the next week or so. Would you be willing to let me tag you to code review the code examples? I am not a C# expert so I would really appreciate you double checking them.

[2018-06-06 19:01] Blackmist commented on #9802
Thanks for reporting this @tonyistark I've reproduced the problem, but not sure why it's occurring. I've asked the HDInsight engineering team to investigate, and they can reproduce also. Waiting to hear back from engineering on possible fixes.

[2018-06-06 19:02] cephalin commented on #6815
@sirtwist @lordstyx I've added an [update to the doc](https://docs.microsoft.com/en-us/azure/app-service/web-sites-purchase-ssl-web-site#renew-the-certificate) that clarifies the need to manually bind. Thanks for your feedback! #please-close

[2018-06-06 19:05] tfitzmac commented on #8457
Run a command like - Get-AzureRmResource -ResourceName <resource-name> -ResourceGroupName <rg-name>
to see the resource type.

[2018-06-06 19:05] SnehaGunda commented on #9649
#please-close

[2018-06-06 19:09] #9257 closed

[2018-06-06 19:10] #6815 closed

[2018-06-06 19:10] tfitzmac commented on #9550
@jimmyeao - I see this issue has been [raised](https://feedback.azure.com/forums/281804-azure-resource-manager/suggestions/34318861-automatically-generated-template-and-circular-dep).

Since there is nothing that can be added to documentation right now, we will close this issue.

[2018-06-06 19:10] tfitzmac commented on #9550
#please-close

[2018-06-06 19:11] tysonn commented on #9684
@SyntaxC4 - Cory, could you follow up?

[2018-06-06 19:11] MicahMcKittrick-MSFT commented on #9812
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-06 19:12] jeffwmiles opened #9813 "Clarification on Page blobs in GPv2 Access Tiers"
While this doc is clear that page blobs cannot be added to a blob storage account, it is not defined what happens if you put a page blob into a General Purpose V2 account with access tiers. In the examples given in this doc, only the word "blob" is used which is ambiguous.

By experience I can confirm that it is possible (the page blob will be stored, with an access tier of "cool -inferred") but I

[2018-06-06 19:14] superminiek commented on #9724
Ok, thank you - what about re-deploy option? Is there any supported way to have an SLA for existing VM?

[2018-06-06 19:19] billmath commented on #8963
@nhogarth86  thank you for submitting this.  I have updated the document and it should be live later today!  Good catch!

#please-close

[2018-06-06 19:19] MicahMcKittrick-MSFT commented on #9724
Not sure what you mean by the redeploy option. We have an option to redeploy via the portal which moves the VM to a new host node but does not give you any option to add or remove an AV or AZ set.

We do have SLAs for indivual as well as VMs in AV and AZ sets.

https://azure.microsoft.com/en-us/support/legal/sla/virtual-machines/v1_0/

[2018-06-06 19:20] SnehaGunda commented on #9008
@jpmorris thanks for the feedback, I have shared it with our dev and PM teams, we are investigating further on the design of the driver and the linked server. I will update the docs when we have a fix.

We will close this issue for now, I will revisit this thread when the doc is updated.

[2018-06-06 19:20] SnehaGunda commented on #9008
#please-close

[2018-06-06 19:20] mike-urnun-msft commented on #9329
Hey @kunalaphadnis99 - Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please reopen this issue and tag @sergaz-msft and I in your reply. We will gladly continue the discussion.

[2018-06-06 19:20] #9329 closed

[2018-06-06 19:28] Anmolgan81 opened #9814 "Cant see SQL Automated backup in azure portal"
I have an sql server which I had deleted then recreated using the managed disk, the option of automated backup was showing inside the portal, but now I cant see the automated backup when I recreated the virtual machine using the managed disk. How can this be enabled, I tried installing the SQL IaaS extension but I was still not able to see the backups. How can this be possible?
Is there anything t

[2018-06-06 19:28] waheedhussain commented on #9711
I can see this option 'download web test' but it doesn't download the results.......only the original webtest file that was uploaded.

Thanks,
Waheed

________________________________
From: kobulloc-MSFT <notifications@github.com>
Sent: Wednesday, June 6, 2018 6:59:24 PM
To: MicrosoftDocs/azure-docs
Cc: waheedhussain; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Viewing the multi step web test

[2018-06-06 19:29] jason-j-MSFT commented on #9791
@jimeilong
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-06 19:31] tfitzmac commented on #8905
@Tiano2017 - thanks, I see that functions were added to the schema. Is input within copy still in the works?

[2018-06-06 19:32] rafats commented on #9716
Looking into it.

[2018-06-06 19:36] YutongTie-MSFT commented on #9769
@adamgourd Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-06 19:36] MicahMcKittrick-MSFT commented on #6500
Thanks for reaching out @jeeshnair I am working offline to get some traction on this issue. Will update you shortly.

[2018-06-06 19:37] YutongTie-MSFT commented on #9797
@MouthOfMadness Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-06 19:39] YutongTie-MSFT commented on #9808
@msivers Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-06 19:44] Juliako commented on #9743
Webhooks are currently not supported by VI.
There are 2 options at the moment in VI – either polling the state or callback upon indexing completion to a callback URL.

[2018-06-06 19:44] Juliako commented on #9743
#please-close

[2018-06-06 19:47] CeciAc opened #9815 "Problem with running telcodatagen.exe due to format error"
@NilsFlaschel commented on [Wed Jun 06 2018](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/82)

The command 'telcodatagen.exe 1000 .2 2' doesn't work for me. Instead 'telcodatagen.exe 1000 0.2 1' does work!

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: a08f205e-f19b-50e4-657

[2018-06-06 19:50] #9656 closed

[2018-06-06 19:50] MouthOfMadness commented on #9797
I have a couple of accounts, and not all of them show the Converged application, so here’s a screen shot from apps.dev.microsoft.com

[cid:image001.png@01D3FDA5.ACB858B0]

From: YutongTie-MSFT <notifications@github.com>
Sent: Wednesday, June 6, 2018 2:38 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: James Mattern <James.Mattern@aiworldwide.com>; Mention <mention@noreply.githu

[2018-06-06 19:51] rmaziarka commented on #9691
@ggailey777 it's not that. In packages section, you mention that **To add support in Functions 1.x** [Install Package](https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings#local-csharp)

Then you redirect to the website which states that **Visual Studio Code:** You can install packages from the command prompt using the dotnet add package command in the .NET CLI, as fo

[2018-06-06 19:55] Anmolgan81 commented on #8457
It gave me this output

Name              : fmcorpdb_old
ResourceId        : /subscriptions/17a05d45-b90b-4241-a727-bd3020900811/resourceGroups/FMCorpSite/providers/SuccessBricks.ClearDB/databases/fmcorpd
                    b_old
ResourceName      : fmcorpdb_old
ResourceType      : SuccessBricks.ClearDB/databases
ResourceGroupName : FMCorpSite
Location          : westus
SubscriptionId    : 17a05d

[2018-06-06 19:56] rafats commented on #9750
Thanks for the feedback. Today we have both the samples for change feed in GitHub https://github.com/Azure/azure-documentdb-dotnet/tree/master/samples/code-samples

The [article ](https://docs.microsoft.com/en-us/azure/cosmos-db/change-feed) is pointing to V1 version, because new V2 is not GA yet.  This is happening in next couple of days.

[2018-06-06 19:57] #7674 closed

[2018-06-06 20:01] Adam-Smith-MSFT commented on #9813
@jeffwmiles Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-06 20:03] Chuxel commented on #9813
@Adam-Smith-MSFT I suspect you assigned this to the wrong person. I did not write this one.

[2018-06-06 20:06] tfitzmac commented on #9656
@nakonczy - thanks for this question. I updated 3 articles to clarify how the list functions work with dependencies. Currently, the behavior is a bit complicated but it might get simplified in the future.

The update should be published this afternoon.

[2018-06-06 20:16] Tiano2017 commented on #8905
right. I'm following up on that. will try to get fix shortly.

[2018-06-06 20:27] MicahMcKittrick-MSFT commented on #6500
@jeeshnair the general consensus is if MSI works on Windows Containers than it should work in Service Fabric. As far as installing MSI on a windows container I don't believe it is any different than the normal install. Accessing the container and installing the package.

[2018-06-06 20:30] Juliako commented on #9743
@DarinShapiroMS , thank you.

[2018-06-06 20:31] heatherbshapiro commented on #9807
The requirements.txt file has been added. Thanks for the feedback!

[2018-06-06 20:39] SaurabhSharma-MSFT commented on #9625
@belaie As per my understanding If you use ROPC over other flows, then there is no Single Sign On. The resource owner is never actually authenticating with the authorization server, you’re just using the token endpoint.

[2018-06-06 20:41] subsarma commented on #9570
@mimizone  - can you try rebooting your client VM (the one where you tried issuing the query) and see if it works ? Also try rebooting the VM running the bind server. If neither attempts resolve the issue please let me know your subscription ID, VNET ID, VM names and timestamp of when you attempted the resolutions so we can look into it.

[2018-06-06 20:42] dave-hillier opened #9818 "Dependencies, terminology"
This tutorial if followed in step-by-step would make some sense. Unfortunately, I found myself approaching this from the real-world and found it lacking. I needed a reference and when you attempt to follow the parts independently it becomes misleading. The documentation comes from the point of view of someone who made the product, not someone who wants to use it.

My specific scenario: I have a lo

[2018-06-06 20:44] paragwaghmare opened #9819 "Does not work in the government cloud"
Error while running commands. "Extension with publisher 'Microsoft.CPlat.Core', type 'RunCommandWindows', and type handler version '1.0' could not be found in the extension repository. "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3ff94e6-3c1f-b9e1-1a46-b75fe2ffca1b
* Version Independent ID: 8f3ca735-ddd4-f4a9-4ee0

[2018-06-06 20:44] JasonWHowell commented on #9815
@NilsFlaschel I have fixed the 0.2 in the command line, and the docs will publish later today. I tried it out and agree with your assessment. Thanks for the feedback.
Regards, Jason

[2018-06-06 20:45] MicahMcKittrick-MSFT commented on #9814
Thanks for reaching out @Anmolgan81. Unfortunately this is a type of issue that should rather be handled either via Support Request or in the forums as it does not directly relate to an issue with the document.

Few things I would suggest:
1) Try stopping and starting the VM to see if it helps
2) Ensure the Extension installed properly
3) Open a [support ](http://aka.ms/azsupt)request to the SQL t

[2018-06-06 20:48] MGoedtel commented on #9500
@aydeisen - Your comment is valid and I don't disagree with your logic, at face value there appears to be no reason why the details should not be consistent between both.  This is a byproduct of the Windows agent/Linux agent being owned by two different teams, and originally documented separately until I consolidated this earlier in the year, so I'm tracking this down to determine if these details

[2018-06-06 20:49] JoNevi opened #9820 "Other languages?"
Is is possible to develop in Visual Studio in other languages? e.g. PowerShell?   Are there any examples for how to do this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e88ea08-81ef-2b5a-b9d6-539e85592672
* Version Independent ID: f2d8b7b4-906a-d1f5-5201-fc22a7890955
* Content: [Create your first function in Azure

[2018-06-06 20:51] adamgourd commented on #9769
Thanks. The answer appears to be “Inbound from Internet” (or Inbound from Any).

From: YutongTie-MSFT <notifications@github.com>
Sent: Wednesday, June 6, 2018 12:36 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Adam Gordon <Adam.Gordon@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Clarification on NSG rules for health probes (#97

[2018-06-06 20:53] tfitzmac commented on #8457
Azure Database for MySQL is a service provided by Microsoft that is based on the MySQL engine. Your database does not use this service. You would have to test on your own whether your database can be moved.

[2018-06-06 20:59] #9815 closed

[2018-06-06 21:08] mmacy commented on #9799
Hi @dankellett, thanks for the feedback. Were you interested in seeing how to do so in the portal specifically, or pulling an image from a private repository in general?

[2018-06-06 21:44] sabrinasmai opened #9821 "Unable to obtain API key"
I am unable to obtain the API key to try this tutorial. I tried to subscribe to the service, however, it wouldn't let me. The message I am getting is "//TODO".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3bd3540-b5b2-0e2a-c78b-064439267d3b
* Version Independent ID: a488307f-8557-8f93-df46-07075cb081f3
* Content: [H

[2018-06-06 21:48] Powerhelmsman opened #9822 "traffic Manager overview have some issues"
This issue is created by @hylinux from https://github.com/MicrosoftDocs/feedback/issues/418
here's the document link:
https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-overview
there's a example for Corp Contoso , the example want to explain how to use traffic manager route request to url: https://partners.contoso.com/login.aspx. but all picture is saying how to route www.cont

[2018-06-06 21:55] MicahMcKittrick-MSFT commented on #9812
@tdykstra can you take a look at this one? I am not overly familiar with EventGrid triggers

[2018-06-06 22:11] femsulu commented on #9819
@paragwaghmare Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-06 22:11] mostafae opened #9823 "How can we get Connection String from iotedge configuration"
Hi,
I want to be able to read iotedge connection string in python so i can use it in my app. Is there any sample or lines of code i can use to pull the configuration string from the iotedge runtime.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c424cd61-2f44-8a10-bce8-5a18fb1279f3
* Version Independent ID: 62

[2018-06-06 22:13] femsulu commented on #9792
@infoberg Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-06 22:14] tdykstra commented on #9812
@vtjc2002 Thanks for reporting that -- the different URL is required for Functions 2.x; I'll update the doc.

[2018-06-06 22:17] tfitzmac commented on #7753
@brushwood24 - are you still having this problem? If so, send an email to [AzCommunity@microsoft.com](mailto:AzCommunity@microsoft.com). Include your subscription ID and a link to this GitHub issue for reference.

[2018-06-06 22:20] YutongTie-MSFT commented on #9803
@betterthanjimbo Thank you very much, I have fixed it. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-06 22:20] #9803 closed

[2018-06-06 22:27] dkkapur commented on #9756
So this is directly related to the local cluster experience - https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-containers seems to state the following:

@rwike77 it would be good to add this snippet to the "setup your dev environment" article as well (https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started). Thoughts?

[2018-06-06 22:33] BryanTrach-MSFT commented on #9818
@dave-hillier Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-06 22:36] TravisCragg-MSFT commented on #9769
@adamgourd I have verified this on my end as well.

allowing "VirtualNetwork" & "AzureLoadBalancer" will not allow the Status to appear as Healthy.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-06 22:36] #9769 closed

[2018-06-06 22:41] mattbriggs commented on #9792
@infoberg Thanks for your feedback. I will make it clear that the AzureStackUser is a placeholder. However, I have followed the instructions on deleting the folders and things worked for me. Can you let me know more about your concern about that instruction? Thanks! Matt #in-progress

[2018-06-06 22:45] timmyreilly opened #9825 "Something more robust for SaaS offerings in the Marketplace?"
SaaS Seller Integration Guide from AWS offers a rich look at metering and expense breakdown:
https://s3.amazonaws.com/awsmp-loadforms/SaaS+Seller+Integration+Guide.pdf
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fd16cf1-63d4-4bbd-a13c-bfb8ab051e18
* Version Independent ID: f6b27e10-2190-82e2-4999-eb782171c4eb
* Cont

[2018-06-06 22:49] rabsie commented on #6349
@MicahMcKittrick-MSFT I've experienced this issue today as well.

Local Windows:
``λ az acs create --name mySwarmCluster --orchestrator-type dockerce --resource-group testACS --generate-ssh-keys
Deployment failed. Correlation ID: 76b6f376-7f74-4e0b-8b81-762af2567cd2. {
  "error": {
    "code": "BadRequest",
    "target": "containerService.properties.orchestratorProfile.orchestratorType",
    "mess

[2018-06-06 23:00] bluephoton commented on #9531
Thanks @iainfoulds for explaining! Now I got what the text was trying to say, good call removing the part!

[2018-06-06 23:01] femsulu commented on #9800
@amrx101 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-06 23:01] TravisCragg-MSFT commented on #9822
@Powerhelmsman Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-06 23:04] jeeshnair commented on #6500
@MicahMcKittrick-MSFT , Thanks for swift response. Few of my team members have noted that VM extensions or IMDS end points are not accessible from containers. They have implemented a MSIAccess proxy to workaround. What you are saying is that MSI should be accessible from containers normally and nothing special is required. Correct?

[2018-06-06 23:06] rabsie commented on #6349
Creating from the UI the following is generated in the ARM template:

``        "orchestratorType": {
            "type": "string",
            "defaultValue": "Kubernetes",
            "allowedValues": [
                "Kubernetes",
                "DCOS",
                "Swarm",
                "SwarmMode"
            ],
            "metadata": {
                "description": "The type of orc

[2018-06-06 23:06] jeeshnair commented on #6500
Just to be clear MSI = Managed Service Identity

[2018-06-06 23:15] ggailey777 commented on #9691
@rmaziarka OK, I see now what the issue is. Turns out that the Azure Cosmos DB binding is a terrible example since it actually has the most differences between v1 and v2. I will choose another binding to use in the examples. Thanks for following up with us.

[2018-06-06 23:17] Mike-Ubezzi-MSFT commented on #9823
@mostafae Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-06 23:28] ishepherd commented on #9516
This was a help, thanks guys!

[2018-06-06 23:48] Phydeauxman opened #9826 "Documentation out of date"
In Azure Commercial and Government, the blade in the portal is called Alerts (Classic) instead of Alert rules.  In Commercial, Alerts (classic) is being replaced with Alerts under Azure Monitor.  In Government, under Monitor all you have is Alerts (classic).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c790b13c-3cac-

[2018-06-06 23:48] SaurabhSharma-MSFT commented on #9793
@jozf95 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-06 23:54] roygara commented on #9805
@bhamilton Thanks for taking the time to provide feedback! Just to be clear: Your suggestion is that we add a section using the `az storage account keys list` command to the CLI 2.0 article?

[2018-06-07 00:46] barbkess commented on #9512
@TommySharpNZ : Thanks for your comments. I have submitted a pull request that adds a note saying Premium P1 or Premium P2 is required.

[2018-06-07 01:12] rathishrms commented on #9377
i still dont see this change made

[2018-06-07 02:04] MicahMcKittrick-MSFT commented on #9820
Yes visual studio supports other languages :
https://code.visualstudio.com/docs/languages/overview
https://marketplace.visualstudio.com/items?itemName=ms-vscode.PowerShell

[2018-06-07 02:14] dcbrown16 opened #9827 "List supported Windows OS?"
Would it be possible to maintain a list of supported Windows OSes for Azure here?
I'm aware of this document but it doesn't address 32/64 bit versions.
https://support.microsoft.com/en-us/help/2721672/microsoft-server-software-support-for-microsoft-azure-virtual-machines

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f

[2018-06-07 02:44] #9523 closed

[2018-06-07 03:53] msghaleb opened #9828 "Typo"
elect (Default workspace configuration) is missing the letter S.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8267e218-3748-2820-3eee-80479705eec2
* Version Independent ID: 8c6d5fce-6383-a0f8-7df3-f5e0a77bbad6
* Content: [Data Collection in Azure Security Center](https://docs.microsoft.com/en-us/azure/security-center

[2018-06-07 03:59] CHDAFNI-MSFT opened #9829 "Managed disks aren't reflected / disk sizing incorrect"
I understand the 'overview' of backup might reflect managed disks. But the purpose of this article is for planning the vm backup infrastructure. The article should reflect that 1. Managed disks do not have the storage limitation concerns, i.e. IOPS 2. The storage account references are not necessary for managed disks... and 3. The max disk size (managed / unmanaged) is 4TB per the Service Limits p

[2018-06-07 04:05] #9575 closed

[2018-06-07 04:06] #9584 closed

[2018-06-07 04:06] #6221 closed

[2018-06-07 04:07] #9304 closed

[2018-06-07 04:07] #6168 closed

[2018-06-07 04:08] #7184 closed

[2018-06-07 04:08] #6504 closed

[2018-06-07 04:09] #9500 closed

[2018-06-07 04:09] #7900 closed

[2018-06-07 04:09] #9008 closed

[2018-06-07 04:09] #9165 closed

[2018-06-07 04:17] mike-urnun-msft commented on #9459
Hey @junpark12 - I went through the steps and reproduced same error: 503 from nginx. I was able to overcome this error and other issues by deleting the problematic service from the Kubernetes Dashboard and re-running the deployment.

Here are the steps i took:
1. Installed `kubectl` to my `azure cli` This can be found from Azure Portal -> Kubernetes Services -> `Your Existing AKS` -> Overview tab

[2018-06-07 04:17] #9459 closed

[2018-06-07 04:18] amanarneja commented on #6721
@spottedmahn - Checking internally on this. Its just been on a lower priority amongst a host of other things.

[2018-06-07 04:28] ElectricLlama opened #9830 "msiexec"
If you need to install an msi, make sure the .msi file is in the root of the container, not a subfolder.

This works:
`msiexec /i MultipleHashInstallerx64.msi /qn /lv %CUSTOM_SETUP_SCRIPT_LOG_DIR%\MultipleHashInstall.LOG
`
This example using a Subfolder (yes the MSI exists in the subfolder) doesn't - it gets various errors in the MSI log

`msiexec /i ".\MHI\MultipleHashInstallerx64.msi" /qn /lv %C

[2018-06-07 04:30] CHDAFNI-MSFT opened #9831 "Storage Service Encryption limitation - still applicable?"
Since Storage Service Encryption SSE is enabled by default now, does this Azure Backup limitation still apply? Also Microsoft / Azure is managed the storage accounts for managed disks so not sure how the below statement even applies unless it actually means the storage account used for the diagnostics.
"If you restore VMs with managed disks, make sure that the storage account selected isn't enable

[2018-06-07 04:57] MisinformedDNA commented on #9745
All destinations will have a limit, regardless of tier.

[2018-06-07 05:07] Shloeb opened #9832 "A parameter cannot be found that matches parameter name 'VirtualNetworkName'."
Hello,

I tried to execute the command

New-AzureRmVm `
  -ResourceGroupName "myResourceGroup" `
  -VirtualNetworkName "myVirtualNetwork" `
  -SubnetName "default" `
  -Name "myVm2"

But I keep on getting this error. Looks like the parameter set doesn't exist.

New-AzureRmVM : A parameter cannot be found that matches parameter name 'VirtualNetworkName'.
At line:4 char:5
+     -VirtualNetworkName "

[2018-06-07 05:30] Shloeb commented on #9832
Nvm. I got it fixed. My AzureRM module was out of date. You can close this. Ty

[2018-06-07 05:40] mike-urnun-msft commented on #9655
Hi @flyrev - Thank you for reporting this! I have gone through the entire flow and made the necessary  changes to align with the current user experience on Google. The changes will reflect after our next merge and this issue will auto-close. Again, thanks for your contribution!

[2018-06-07 05:42] flyrev commented on #9655
Thanks!

Quick question on this: after setting it up (although it might be different when the steps are fixed, I'll try it again after it's updated), I got a server error. Do you have any tips on how to "diagnose" this, and if you do, maybe it should be added to the documtentation?

[2018-06-07 05:58] jurjenoskam commented on #9418
It is solved on my end as well. Indeed the /etc/aadpasswd file is no longer empty, and users are added as they successfully log in. Thanks!

[2018-06-07 06:06] mike-urnun-msft commented on #9655
@flyrev I'm not aware of any specific tools but i'd imagine there are general oauth testing tools online. For this particular flow, I recommend you revisiting steps and verifying:
1. On Google, correct URIs for **Authorized JavaScript origins** and **Authorized redirect URIs**
2. On Azure AD, correct values for **client id** and **client secret**

We will be sure to pass on your feedback as to add

[2018-06-07 06:10] flyrev commented on #9655
Those values are correct per the documentation.

* App service URL, similar to `https://contoso.azurewebsites.net/` in JavaScript Origins (this could maybe be more explicitly stated).
* Authorized redirect URL similar to `https://contoso.azurewebsites.net/.auth/login/google/callback` (this has a nice box next to it)
* Client ID and secret are copy-pasted directly

Do you happen to have an example

[2018-06-07 06:23] jurjenoskam opened #9835 "Doesn't this extension require lower case account names in all cases?"
In the third bullet under "Continued sign in prompts", it is stated to: "make sure that you specify the UPN with the correct case-sensitivity at the SSH prompt." If I'm not mistaken, my personal account name in AAD is a mixed case account name. However, it seems that the extension will convert all account names to lowercase, and therefore only accepts all-lowercase usernames:

[root@vmtst-two ~]#

[2018-06-07 06:31] pallaviMN opened #9836 "Unable to upload adoption model"
Hi Team,
I am trying to upload adoption model with wav files having a sample rate of 16000 hz but still its failing, when i click on details its not showing error details at all

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11b0f5d1-1736-7f1c-5626-026704e22bd4
* Version Independent ID: 7a389eed-9fa5-b929-24a7-964f6bb9

[2018-06-07 06:36] nrjohnstone opened #9837 "Service principal display name error"
It looks like you can't have spaces in the display name.  I had to use "AzurePacker" to get the command to work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bb18731-b0b4-f92b-7ece-031a84c76d7b
* Version Independent ID: 27047a2a-a07b-cadb-fab5-ecc928b46717
* Content: [How to create Windows Azure VM Images with Packer

[2018-06-07 06:45] linda33wj commented on #9786
@MikeSpark thanks for reporting the issue. Could you let know before timeout how long have the copy activity ran and how many rows got copied, and share the copy activity run id and Self-hosted IR log ID? (Go to Self-hosted IR -> Diagnostics tab -> Send logs)

[2018-06-07 06:51] dapsjj commented on #9681
@sonfiree Sir,can you give me a whole code?
[code]
But the error is :

[2018-06-07 06:55] GavinPG commented on #9702
Hi, thanks for taking a look! I was raising the issue just from a readability point of view; I know that kid and x5t are optional, but when reading the document seeing an example header with an x5t value and no kid value, and then in a subsequent paragraph being told to use kid, is a bit jarring. I'd suggest using x5t as the example in the text since it's in the headers shown.

[2018-06-07 06:59] msvijayn commented on #8760
API spec and docs have been updated via PR 3112.

#please-close

[2018-06-07 07:06] ggailey777 commented on #7494
Thanks @asalomon-cpsc. We had tried to call out this known C# behavior but we must have missed it in this topic. We are now tracking this work internally with [this work item](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1277513).

#please-close per feedback guidelines.

[2018-06-07 07:33] JohanSellberg opened #9840 "Is there a way to configure what port the API choose?"
You write that the port is selected dynamically. We have a problem where it allways selects the port that we are running an application on. And changing the port for the application does not seem like a good solution. What port does it override next time? How can we configure this? From documentation above : "The REST endpoint for the Coordinator Service has a dynamic port"

---
#### Document Deta

[2018-06-07 07:41] Niladri24dutta commented on #9684
@ksigler7 ok I will do it.

[2018-06-07 07:42] TWolverson opened #9841 "What is the purpose of the integration runtime? Why do I need it? What do I do if I want to copy data from a different machine?"
Most types of data sources are designed to be connected to; there is no explanation here of what this special utility is and why it's required. I am unlikely to be allowed to install this mysterious extra utility on, for example, a production SQL server; and I definitely won't be allowed if I can't justify what it's for.

Furthermore I'm probably not going to be importing data from the machine tha

[2018-06-07 07:53] JanVanMeirvenne commented on #9760
Thanks a lot for the feedback! Most important question was support or Github personal AND private. Supporting VSTS is a nice extra! Seeing that this is a preview feature, I don't see the need for additional providers, although I hope that there is a roadmap ;) Thanks again!

[2018-06-07 08:01] reaperlord opened #9842 "Scheduling uses system time per default instead of UTC?"
From the following paragraph:
"Select a Schedule. This is a recurring date and time for starting and stopping the VMs in the target resource groups. By default, the schedule is configured to the UTC time zone. Selecting a different region is not available. To configure the schedule to your specific time zone after configuring the solution, see Modifying the startup and shutdown schedule."

I under

[2018-06-07 08:02] sanjaysahu1984 commented on #9389
I have check it again. its working fine. Thanks for your help :)

[2018-06-07 08:17] Kantimaya-Badajena opened #9843 "Unable to connect to hive in external cluster using out of the box hive connector"
I am trying to use the hive connector to connect to a hive that exist in a separate cluster. The connection is not getting established even after providing all necessary details. Is there any link/example which points to a working connector would help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9be0da70-bd75-8950-8

[2018-06-07 08:24] pjtrombe opened #9844 "Bug in ftk.tsutils.last_n_periods_split?"
If the parameter grain_colnames is not defined in the function ftk.dataframe_ts.TimeSeriesDataFrame (e.g. if there is only one store and one brand in the example above), then the function ftk.tsutils.last_n_periods_split hangs without throwing an error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89b6d6d6-ad15-e669-2

[2018-06-07 08:31] romankiss opened #9845 "DeliverySchema = CloudEventV01Schema"
Recently has been introduced a new delivery schema such as CloudEventV01Schema. This schema supports only a single event (JObject), therefore all samples in this document will failed for deserializing of the request content with media type = application/cloudevents+json, see the implementation line:

var messages = await req.Content.ReadAsAsync&lt;JArray&gt;();

Thanks
Roman

---
#### Document Det

[2018-06-07 08:31] MikeSpark commented on #9786
Hi Linda,

- How long it runs / how many rows got copied : No I cannot create the Linked Service at all for big tables
- Run ID : I think I would not have it
- IR Log ID: I didn't find any specific events in my log

![image](https://user-images.githubusercontent.com/8683422/41087768-6c3a9602-6a35-11e8-956d-6b32d248d26e.png)

But if you don't mind I will reproduce it step by step. and let you know.

[2018-06-07 08:38] sherlonus opened #9846 "Not able to install Microsoft.Azure.WebJobs.ServiceBus"
Getting these errors:
Severity	Code	Description	Project	File	Line	Suppression State
Error		Version conflict detected for Microsoft.Azure.WebJobs. Reference the package directly from the project to resolve this issue.
 Microsoft.NET.Sdk.Functions 1.0.13 -&gt; Microsoft.Azure.WebJobs (&gt;= 3.0.0-beta5 && &lt; 3.1.0)
Microsoft.Azure.WebJobs.ServiceBus 2.2.0 -&gt; Microsoft.Azure.WebJobs (= 2.2.0).

[2018-06-07 08:40] wploevyaya2018 opened #9847 "AppService Deploy Failed"
Deploy AppService Faild,the vm cn0-vm deploy faild with "Failed to provision VM extensions for VM 'SharedWorkerTierScaleSet_0”。Other，view the appservice_sourcegroup deployment,one depolyment "Microsoft.template" faild when proceessing extension 'OnStart'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ccfbf48-4154-4819

[2018-06-07 08:48] middlewaysas opened #9848 "Supported liquid filters"
Hi, Is it possible to have in the doc the list of all supported liquid filters?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e02fc497-8e32-b0e1-6ae3-cf1039cc1c7b
* Version Independent ID: 2ce45d89-18b7-8465-8ab7-bef9b544a474
* Content: [Convert JSON data with Liquid transforms - Azure Logic Apps](https://docs.microso

[2018-06-07 09:07] Anmolgan81 opened #9849 "How can I execute my sql script which is inside a blob in storage account directly to ADW?"
I want to create a stored procedure inside the ADW which will contain the execution of .sql script, and I want to run that procedure on daily basics. Can something like this be done?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 437b3c1e-b43f-360d-fb6f-27bb66b29a55
* Version Independent ID: 96509a9c-d258-8956-a219-02d

[2018-06-07 09:13] TWolverson commented on #9841
I see there is an explanation in general terms - https://docs.microsoft.com/en-us/azure/data-factory/concepts-integration-runtime

A link to this would probably suffice. However I still don't see the point of it in the case of SQL Server, which is designed to be connected to. Why can't Data Factory just query it normally?

[2018-06-07 09:20] Minewiskan commented on #9662
Resolved. Thanks for letting me know.
#please-close

[2018-06-07 09:43] mcollier opened #9850 "'Using LAD' link results n 404"
The 'Using LAD' link in the Next steps section results in a 404 error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91c4fa45-add8-4fa9-1bdc-2c88b614ed84
* Version Independent ID: ab788066-0f3c-8f20-28e4-0d3b2fdd553f
* Content: [Azure Service Fabric Event Aggregation with Linux Azure Diagnostics](https://docs.microsof

[2018-06-07 09:50] greyghostbrewery opened #9851 "Scaling out with thousands of devices"
How does this approach scale out when using thousands of devices, each with unique threshold requirements?  I don't think retrieving a json file consisting of thousands of threshold settings from blob storage for each analytics query would be very efficient.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e5c46b1-3679-

[2018-06-07 10:07] smharishbabu opened #9852 "Unable to see the D2C messages in Visual Studio Code"
With the help of command "docker logs -f tempSensor", I am able to see the list of messages (logs) which is sending the data to the cloud but visual studio code "Azure IoT Hub: Start Monitoring D2C Message" doesn't show any messages in the Visual Studio Code Terminal. When I tried to send using Visual Studio Explorer by selecting IoT Edge Device and "Send D2C Message to IOT Hub", I am able to see

[2018-06-07 10:19] jobairkhan opened #9853 "Getting error"
When i tried to use this script I fall in to two issues.
First it get error on `az acr create command` it throw following error
--&gt; the following arguments are required: --sku
So i add --sku Basic

And docker login command is failing on the error below
Warning: failed to get default registry endpoint from daemon (Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker

[2018-06-07 10:28] mariakisiel opened #9854 "Expected Entity docs"
"Create two actions", point 5 - Entity is automatically added as Required, not as Disqualifying.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d21f646-6c2d-f8d9-7e21-e2b9c6cbba37
* Version Independent ID: 9160bd07-13c8-701b-0aed-4f3d4c0cbb1c
* Content: [How to use the ](https://docs.microsoft.com/en-us/azure/cognitiv

[2018-06-07 10:46] bhamilton commented on #9805
Hi,

You have it exactly.

During my first read through of this article, I was unsure what the key
value for AZURE_STORAGE_ACCESS_KEY was.

On Wed, Jun 6, 2018 at 7:54 PM rogara <notifications@github.com> wrote:

--
Regards,

Branden Hamilton

[2018-06-07 11:04] algattik opened #9855 "Bad links"
Two links are badly formatted (/azure/architecture/reference-architectures/hybrid-networking/hub-spoke?toc=%2fazure%2fvirtual-network%2ftoc.json#virtual network-peering).)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc20a64a-096f-7e72-1fb5-436e3366fbd5
* Version Independent ID: d1ba1c1b-5d36-71eb-5442-cf17de18a13b
*

[2018-06-07 11:09] vinaybandakka commented on #9776
Thanks @MicahMcKittrick-MSFT. It helps and will do during the non business hours.

[2018-06-07 11:09] #9776 closed

[2018-06-07 11:37] sergaz-msft commented on #9693
Hi @ajiteshg just checking if we can help you further on this issue\suggestion? Thank you!

[2018-06-07 11:39] sergaz-msft commented on #8682
Hello @luyaok , let us know if you are still blocked or if the suggestion above helped resolving your issue? Thank you.

[2018-06-07 11:43] JohanSellberg commented on #9840
I changed the ServiceManifest in the CoordinatorServicePkg and added Port to the RESTEndpoint. Seemed to have done the trick.

[2018-06-07 11:45] mariakisiel opened #9856 "$LUIS-datetimeV2"
Currently the app suggestion is $builtin-datetimev2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77196f5d-16ac-1883-edd2-97688fa53579
* Version Independent ID: ed17e3b5-4cd7-e9c2-f480-841a4ec4a51d
* Content: [How to add pre-built entities to a Conversation Learner application - Microsoft Cognitive Services - Azure](h

[2018-06-07 11:50] sergaz-msft commented on #9791
Hello @jimeilong  can you provide a little more detail? Is the error occurring when you [Test the Lightbulb device type locally](https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-remote-monitoring-test#test-the-lightbulb-device-type-locally) or after you [Deploy the updated simulator to the cloud](https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-remot

[2018-06-07 11:54] smharishbabu opened #9857 "Link between Streaming Analytics with Storage Account Missing"
To link ASA Job with the Storage container we need to goto "IOT Edge Settings" and select the proper storage account. This step is missing in this article.
![storage container](https://user-images.githubusercontent.com/5582342/41097990-94074d00-6a77-11e8-84e0-09578ab85043.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-06-07 12:03] tromika commented on #9054
Hi @HeidiSteen -- Indeed, ohh I haven't seen the drop down next to the article, I just scrolled down and there was no link to jump to there. Thanks!

[2018-06-07 12:03] #9054 closed

[2018-06-07 12:06] sergaz-msft commented on #9852
Helllo @smharishbabu and thank you for your feedback! I need some more information in order to help you right - I can't find a document on [iot-edge](https://docs.microsoft.com/en-us/azure/iot-edge) which asks me to check  "Azure IoT Hub: Start Monitoring D2C Message" on Visual Studio code, can you point me to that?

If the issue is not specific to the documentation on docs.microsoft.com we may ne

[2018-06-07 12:10] cephalin commented on #9230
@vlele I clarified it by changing the term to "Azure services".  It should be published in a few hours. Thanks!

#please-close

[2018-06-07 12:12] mariakisiel opened #9859 "Different behavior from described"
b. Enter 'forecast for austin'.
Note that the full phrase is highlighted. Click on the phrase, then red x. Then select austin, and click on city.

NOTE: it des not highlight the whole phrase, rather gives additional information in red that entity is required

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bea5096-5efa-

[2018-06-07 12:21] mariakisiel opened #9860 "There should be no "New Action" in below quoted part"
Add another example dialog:

Click New Action, then New Train Dialog.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c314580-e2d6-5b60-bada-370cfd674296
* Version Independent ID: c53dfd7c-1c1f-f9ca-a343-c76aec35ef4f
* Content: [How to log dialogs in a Conversation Learner application - Microsoft Cognitive Services - A

[2018-06-07 12:22] mariakisiel opened #9861 "New Log Dialog instead of New Chat Session"
Click on Log Dialogs.
Click New Chat Session.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c314580-e2d6-5b60-bada-370cfd674296
* Version Independent ID: c53dfd7c-1c1f-f9ca-a343-c76aec35ef4f
* Content: [How to log dialogs in a Conversation Learner application - Microsoft Cognitive Services - Azure](https://docs.micro

[2018-06-07 12:31] jimeilong commented on #9791
Hello,

thanks for your input.
this error occur when Test the Lightbulb device type locally
the error details information as below

“dotnet.exe”(CoreCLR: DefaultDomain): 已加载“C:\Program Files\dotnet\shared\Microsoft.NETCore.App\2.0.7\System.Private.CoreLib.dll”。已跳过加载符号。模块进行了优化，并且调试器选项“仅我的代码”已启用。
“dotnet.exe”(CoreCLR: clrhost): 已加载“E:\Github\device-simulation-dotnet\WebService\bin\Debug\netcoreapp2.

[2018-06-07 12:51] jimdial commented on #9832
@Shloeb.  Glad that resolved your issue. #please-close

[2018-06-07 13:01] zolebeg opened #9862 "Standard service tier"
Should it not be 2 weeks period for Standard service tier default retention period?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9492cedc-cea0-af9d-29a0-52cbca8c5e21
* Version Independent ID: 969a8654-8f95-d5de-351d-73c8e02e5d3a
* Content: [Azure SQL Database automatic, geo-redundant backups](https://docs.microsoft.c

[2018-06-07 13:08] #9832 closed

[2018-06-07 13:13] kvroeden opened #9863 "Screenshots out of date"
The screenshots seem out of date. Under 'Exceptions' :
-Accept connections from within public Azure datacenters ( instead of 'Allow Access to Azure Services')
-Allow access from Azure Portal (instead of 'Allow access to Azure Portal')

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d6fa068-69da-7a32-6479-1145f14f2ed2
*

[2018-06-07 13:14] jtuliani opened #9864 "Which SQL Server versions are supported as the migration source?"
Please can you add a FAQ entry to clarify which SQL Server versions are supported, as a migration source? It's a pretty fundamental question, it needs to be covered explicitly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f233fef5-5db2-8444-22ab-92045e36b119
* Version Independent ID: c243f2b3-febe-22aa-03de-0fa068fb7

[2018-06-07 13:15] prkhandelwal commented on #9618
The links are supposed to connect me to CDN for respective JS and CSS files, which I am unable to access.

When I tried to ping the above APIs, I get error "Unknown Host"

Same goes for all Azure Maps APIs mentioned in the docs!

[2018-06-07 13:32] SaurabhSharma-MSFT commented on #9702
@GavinPG Thanks for your feedback, I am assigning this issue to content author for documentation enhancement.

[2018-06-07 13:33] SaurabhSharma-MSFT commented on #9625
@belaie We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-07 13:33] #9625 closed

[2018-06-07 13:33] macslui commented on #8702
I'm also having issues with claim type http://schemas.microsoft.com/ws/2008/06/identity/claims/role
This is available in federationmetadata.xml but I'm not able to use it in claim mapping when defining SPTrustedIdentityTokenIssuer.
What I'm trying to do is return to SP user's membership (AAD Groups), not application role.

[2018-06-07 13:37] macslui commented on #8702
Another point on removing Policy from Service Principal. The PS script should be:
Remove-PolicyFromServicePrincipal -policyId $saml2policyid.objectId -servicePrincipalId $objectid

and not

Remove-PolicyFromServicePrincipal -policyId $saml2policyid -servicePrincipalId $objectid

[2018-06-07 13:44] lrpark opened #9865 "Solution is missing from Marketplace"
Has it been pulled? It doesn't come up when I follow the steps to add the Solution. I searched the entire Marketplace for "Alert Management".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3740e331-92e4-a9ca-73a0-02b278b92b6b
* Version Independent ID: ec51c4c9-e7ec-5ad3-f1a4-4b68a4859179
* Content: [Alert Management so

[2018-06-07 13:44] AndyHerb opened #9866 "Missing source code link"
At the bottom of the solution components section, it appears that there should be a link to the blueprint code repository which is missing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a534e6-e60c-7cbd-5d74-1d9b5c08857b
* Version Independent ID: 7dc4846b-cbfe-4a73-ee9d-806068117648
* Content: [Azure Security and Com