[2021-05-10 08:09] yoelhor commented on #75013
Dear @MNF, thanks for the feedback. I'm updating the article with the relevant information. A new version will publish later today, and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need further information, please open new GitHub issue.

[2021-05-10 08:31] jan-tosovsky-cz opened #75041 "Sentence count does not match when using TMX"
[Enter feedback here]
In FAQ section **How do I skip alignment and sentence breaking if my data is already sentence aligned?** there is written: _The Custom Translator skips sentence alignment and sentence breaking for TMX files and for text files with the .align extension_

However, when uploading TMX for training custom translator, EN version contains 80,811 sentences, while French 80,831 (delta

[2021-05-10 08:57] kemurayama commented on #74748
Hi @psmanhas,
I tried the same command with `aks-preview` extension then I succeeded to make AKS cluster with Open Service Mesh.
Thank you for your kindness.

[2021-05-10 08:59] GitaraniSharma-MSFT commented on #74862
@afield1235 , I'm following up on the above comment. Could you please provide an update on same?

[2021-05-10 09:18] SumanthMarigowda commented on #75024
@HenryFreiburg  Thanks for the question! We are investigating and will update you shortly.

[2021-05-10 09:19] SumanthMarigowda commented on #75027
@HenryFreiburg Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-05-10 09:21] psmanhas commented on #74748
Thank you @kemurayama for responding back. Glad to see that your issue was resolved.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

Thanks

[2021-05-10 09:21] #74748 closed

[2021-05-10 09:28] yoelhor commented on #75010
Dear @MNF, thanks for the feedback. I'm updating the article with the relevant information. A new version will publish later today, and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need further information, please open new GitHub issue.

[2021-05-10 09:33] marcelkmfst opened #75044 "Upgarde to Ultra SKU"
My customer told me that the upgrade to the Ultra Gateway Sku no longer requires to recreate the gateway, they did this last weekend. So below statement is maybe wrong:

However, to upgrade to the UltraPerformance SKU, you will need to recreate the gateway. Recreating a gateway incurs downtime.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-05-10 09:41] yoelhor commented on #75012
There is probably a technical issue with the page structure related to the user flows and custom policy switch button (at the top of the page).  I'll let the corresponding team know about this issue.

[2021-05-10 09:43] #75010 closed

[2021-05-10 10:32] juanandmsft opened #75047 "Mobility Service platform switch"
According to https://docs.microsoft.com/en-us/azure/migrate/tutorial-migrate-aws-virtual-machines, "You migrate AWS VMs to Azure by treating them as physical servers."
However, both for AWS ans GCP, the installation of Mobility Service does not include the "/Platform "VmWare" for Windows or "-v VmWare" for Linux.

The [note ](https://docs.microsoft.com/en-us/azure/migrate/tutorial-migrate-physical

[2021-05-10 10:32] tiwaryarchana opened #75048 "Typo"
Typo: The following scenarios DO NOT **supported** nested groups:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42a0b4cb-1981-1cbc-ce2c-dbfd8af1527c
* Version Independent ID: d49c873c-9843-8428-a6d1-a1995067d13b
* Content: [Service limits and restrictions - Azure Active Directory](https://docs.microsoft.com/en-us/azur

[2021-05-10 11:33] MariusFlorea99 opened #75049 "Role has to be added before creating Disk Encryption Set"
Hello, the contributor role has to be added to the key vault before disk encryption set is created, otherwise you will face a Forbidden error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed4de54e-f544-0e42-5b0e-afe148b38667
* Version Independent ID: 4220c38a-28ee-87bb-c270-b7fd3e97043b
* Content: [Enable end-to-end

[2021-05-10 11:49] vitorboga opened #75050 "Host Caching change question."
Hello Team,

Changing the host cache setting on a OS disk or Data Disk can impact the VM ? Does it requires down time ?

Tested on my lab and on the OS Disk changing the cache setting did not restart my VM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d508e8ae-bbba-703d-e94e-c42520a4cad8
* Version Independent ID: 2a3

[2021-05-10 11:50] maksim-at-cedrus commented on #74970
[https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/getting-started-improving-your-classifier#negative-images-classifiers-only](url)

[2021-05-10 12:04] VikasPullagura-MSFT commented on #75049
@roygara
Can you please check and add your comments on this doc update request as applicable.

[2021-05-10 12:33] crisansou commented on #74875
Hi @ram-msft ,

Can you please explain better what you meant?

I followed the documentation and it says the following: "The target dataset needs the timeseries trait set on it by specifying the timestamp column either from a column in the data **or** a virtual column derived from the path pattern of the files." I used a virtual column and the code used to generate the dataset is in the print above

[2021-05-10 12:37] gomateus opened #75053 "Please add a disclaimer that it does not work with session enabled queues"
[Enter feedback here]

I think it should be added in this article a note stating that the event handlers cannot work if the entity is session enabled. This is still the case correct? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 261bba89-1910-13a4-145c-4c16e2659409
* Version Independent ID: 8cd0799c-6656-22f7-5

[2021-05-10 12:39] WorldBosss1 commented on #74875
You need to run a dump test until it’s ready: I can do t for 300$ hour

Sent from Yahoo Mail for iPhone

On Monday, May 10, 2021, 8:33 AM, crisansou ***@***.***> wrote:

Hi @ram-msft ,

Can you please explain better what you meant?

I followed the documentation and it says the following: "The target dataset needs the timeseries trait set on it by specifying the timestamp column either from a colum

[2021-05-10 12:41] VikasPullagura-MSFT commented on #74971
@anyname2

The auto_upgrade_channel can have only one value in the Managed Cluster Profile. It could be rapid, stable, patch or none, none means disable autoupgrade.

Currently patch, stable and rapid options will automatically provision the latest node image when it triggers a orchestrator version upgrade but will not provision node image upgrades unless there is a orchestrator version upgrade th

[2021-05-10 12:42] WorldBosss1 commented on #74875
That’s gotta he run and tested too u til successfull 

Sent from Yahoo Mail for iPhone

On Monday, May 10, 2021, 8:40 AM, WorldBosss1 ***@***.***> wrote:

You need to run a dump test until it’s ready: I can do t for 300$ hour

Sent from Yahoo Mail for iPhone

On Monday, May 10, 2021, 8:33 AM, crisansou ***@***.***> wrote:

Hi @ram-msft ,

Can you please explain better what you meant?

I followed t

[2021-05-10 12:49] darrenroback opened #75054 "Would it be possible to get a complete breakdown of the DNS records used by AAD DS? SRV, A, CNAME, etc., records?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f23ba67e-5544-77f8-b6e0-1c7b653f68d9
* Version Independent ID: 2639d2fc-fefd-f3ad-621d-cc27ebe78576
* Content: [Manage DNS for Azure AD Domain Services](https://docs.microsoft.com/en-us/azure/active-directory-domain-services/manage-dns)
* Content Sour

[2021-05-10 12:51] TiberiuGarbea opened #75055 "Update examples for Search-AzGraph -Query $query output with Data property"
Available examples should be updated according to latest changes in azure-powershell project for Search-AzGraph cmdlet:

https://github.com/Azure/azure-powershell/pull/14789

Changed an output of Search-AzGraph cmdlet to a custom class PSResourceGraphResponse.
Previous cmdlet output is now under Data property.
An extra property SkipToken is added so that users can leverage it for getting paginated

[2021-05-10 12:57] azaricstefan commented on #74358
I wrote an update to the article where I stated that user should use case insensitive collation in order to complete the data analyst tutorial.

Thank you @ylashin for providing feedback for docs it's really valuable!

[2021-05-10 13:01] SumanthMarigowda commented on #75050
@vitorboga  Thanks for the question! We are investigating and will update you shortly.

[2021-05-10 13:04] PramodValavala-MSFT commented on #74936
@flyingUnderTheRadar Just hoping the comment linked in the previous comment helps

[2021-05-10 13:05] GSingha opened #75056 "Set up AES-128 encryption section not up-to-date."
[Enter feedback here]

In the [Set up AES-128 encryption](https://docs.microsoft.com/en-us/azure/media-services/latest/player-how-to-video-js-player#set-up-aes-128-encryption) section, the [issue ](https://github.com/videojs/video.js/issues/6717)with encryption and HLS/DASH CMAF content, which are not playable  has been closed as it has not had recent activity. Thus this page needs to an update ac

[2021-05-10 13:22] Bhodges94 opened #75057 "Configuring automatic tuning options through the ARM (Azure Resource Manager) template is not supported at this time."
Hi,

I've seen mixed information online about being able to configure an ARM template to enable automatic tuning for SQL servers. It looked to be possible according to these two sites a couple years ago but now the MS docs site is saying it can't be done currently?

https://stackoverflow.com/questions/46497300/enabling-azure-sql-database-automatic-tuning-via-arm

https://medium.com/@itanex/azure-p

[2021-05-10 13:23] vipulsparsh commented on #75048
@tiwaryarchana Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-05-10 13:28] kristyler commented on #74586
That answer does not tell me how to use it in a pipeline, or anywhere else.

Kris Tyler
Data Analyst
2321 N Loop Dr, Ste 220, Ames, IA, 50010
O: (515) 817-2143
LandusCooperative.com  |  ***@***.***
This email is intended for the use of the person to whom it is addressed and may contain information that is privileged and confidential, the disclosure of which is governed by applicable law. Dissemina

[2021-05-10 13:29] kristyler commented on #74586
Why did you close this? You didn't answer my questions.

[2021-05-10 13:36] ram-msft commented on #75041
@jan-tosovsky-cz Thanks for the feedback! We will review and update accordingly.

[2021-05-10 14:04] JackCaster opened #75059 "OutputFileDatasetConfig as_upload() vs as_mount()"
[Here](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-move-data-in-out-of-pipelines#use-outputfiledatasetconfig-for-intermediate-data) it says that

but I do not think this is correct. In fact, output data will be persisted also with [`as_mount()`](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.data.outputfiledatasetconfig?view=azure-ml-py#as-mount--), which is th

[2021-05-10 14:10] ashinzekene opened #75060 "Cannot find command"
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/run-command#available-commands

![image](https://user-images.githubusercontent.com/20991583/117672523-d6692c80-b1a1-11eb-9eed-162dfbbce702.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3ff94e6-3c1f-b9e1-1a46-b75fe2ffca1b
* Version Independent ID: 8f

[2021-05-10 14:15] TomoKorosec commented on #75011
JayaChatterjee-MSFT commented yesterday
@TomoKorosec Thank you for reaching out. Could you please provide little more description of the issue? Please share the section details which you are referring to.
Basicly, i dont really know where the problem is, but when i start searching for problem, it was like to many things to read, i know, if you want more help with problem that you have you need rea

[2021-05-10 14:23] SumanthMarigowda commented on #75044
@marcelkmfst Thanks for the question! We are investigating and will update you shortly.

[2021-05-10 14:24] SumanthMarigowda commented on #75047
@juanandmsft Thanks for the question! We are investigating and will update you shortly.

[2021-05-10 14:34] fedeesku1 commented on #74868
@BharathNimmala-MSFT of course!

[2021-05-10 14:41] melvincanafranca commented on #74982
You're welcome! Happy to help.

[2021-05-10 15:10] #74861 closed

[2021-05-10 15:10] trailmax opened #75061 "Documentation for Az Functions with .Net 5 is lacking"
Azure Functions with .Net 5 has a new API and a lot of docs pages are not applicable. For example this page tells me to go explore Durable Functions (see the links on the bottom), but as far as I know Durables are not supported with .Net 5. Same goes for Using Dependecy Injection recommendation, but again, it is not applicable in Az Func .Net 5.

General lack of documentation (apart from this page

[2021-05-10 15:16] eckartbindewald commented on #73578
OK, last month I was charged a rather large amount despite my complaint.
I then made sure shut down those two virtual machines that were running due to that regrettable tutorial I worked on.
Today I obtain ANOTHER charge even though I thought I shut down everything.
If this cannot be resolved I will involve the Better Business Bureau
Please have someone contact me to help me shut down everything!

[2021-05-10 15:17] spelluru commented on #74014
@yehudamakarov - Thanks for the feedback. Really appreciate it. I will track this internally and work with the author to have the article updated. #please-close

[2021-05-10 15:17] #74014 closed

[2021-05-10 15:17] Oury-MSFT commented on #75057
@Bhodges94 Thank you for reaching out. We are looking into this and will get back shortly. Thanks

[2021-05-10 15:26] pedropimenta opened #75062 "Unable to run user jorney created by Setting up SignUpOrSignIn with a REST API using custom policies in Azure Active Directory B2C"
I've followed all steps mentioned in https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory-b2c/api-connectors-overview.md

When I'm trying to run the user flow, I got the following error message "Correlation ID: 7f3c4762-7059-4154-82c8-9cf4ce79868b
Timestamp: 2021-05-10 15:15:37Z
AADB2C90031: Policy 'B2C_1A_TrustFrameworkExtensions' does not specify a default user journ

[2021-05-10 15:33] SumanthMarigowda commented on #74934
@mighty-dev  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-05-10 15:36] SumanthMarigowda commented on #74941
@CosminGuliman-MSFT Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-05-10 15:39] SumanthMarigowda commented on #75011
@TomoKorosec  We will now proceed to close this thread.

[2021-05-10 15:39] #75011 closed

[2021-05-10 15:41] ChaitanyaNaykodi-MSFT commented on #75061
Hello @trailmax,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-05-10 15:42] saachigopal commented on #74839
Adding @vizhur

[2021-05-10 15:56] #74982 closed

[2021-05-10 16:04] philkloose commented on #64410
@psmanhas This is still an issue 7 months later.  It's a pretty big security concern so the dev team should either modify the Azure WVD Portal to let admins know that it isn't working or remove the option entirely until it functions properly.  I just spent a fair amount of time second-guessing all of my attempts to enable it during my testing until I found this GH issue.  If I hadn't tested, I'd n

[2021-05-10 16:28] jonwbstr opened #75063 "Add Command line for adding registry key"
The non-persistant WVD instructions for Microsoft Defender handle registry keys nicely. Consider adopting the same style.
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/configure-endpoints-vdi?view=o365-worldwide

I'm a big fan of powershell over commandline, but to keep things consistent, command line works too.

**Current:**
Create the following value for the Teams key

[2021-05-10 16:30] hodgkinsonp opened #75064 "Restrictions on query length"
Is there a limit to the length of the query that can be supplied to the QueryAccelerator?

Following the instructions here

https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-query-acceleration-how-to?tabs=dotnet%2Cpowershell

I used the following to retrieve the BlobDownloadInfo object:

	await BlockBlobClientSource.QueryAsync(query, options);

where the "query" I supplied has

[2021-05-10 16:44] SnehaAgrawal-MSFT commented on #75056
@GSingha Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-10 16:46] JamesTran-MSFT commented on #74696
@yoelhor
Thank you for the help on this issue!

@blacksheep--
Please let me know if you require additional assistance on this issue. Otherwise, since our documentation has been updated and Yoel posted a solution to your query, I'll go ahead and close out this thread.

If you have any other questions or would like to continue working on this issue, please feel free to tag myself or Yoel and we'd be

[2021-05-10 16:46] #74696 closed

[2021-05-10 16:52] JamesTran-MSFT commented on #75055
@TiberiuGarbea
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-10 17:02] RyanHill-MSFT commented on #74698
@OliCSADoerr you are correct in stating Azure Cloud Shell is aligned to your storage account. Although this is true, I believe the statement you're pointing out is 20 people can have an active Cloud Shell session open at the same time within the same region. This quota is based on the session itself and not related to the storage account a users session is mounted to. Do let use know if that makes

[2021-05-10 17:06] KranthiPakala-MSFT commented on #74951
Thanks for the update @Nikill. Could you please share the SR# related to this issue?

[2021-05-10 17:08] SatishBoddu-MSFT commented on #74828
Hello @dhingradeepanshu just checking, please let us know if you are still blocked on this issue.

[2021-05-10 17:12] YutongTie-MSFT commented on #75059
Thanks for the feedback! We are currently investigating and will update you shortly.

@lobrien Hello Larry, could you please also check on this? Thanks.

[2021-05-10 17:14] afield1235 commented on #74862
@amanmcse
Hello,
1. User is not cloud only, I am synced to Azure AD Domain Services and I have changed my password and captured the hash. I can sign in Azure Windows Virtual Desktop without any issue with the domain credentials.
2. Is this done in the VM itself or in the Azure Portal? I don't see anywhere in the portal do the assignment for a regular Virtual Machine. Or in Active Directory?

[2021-05-10 17:20] NavtejSaini-MSFT commented on #74858
@dombat Were you able to check these details. Get back to us for any further questions.

[2021-05-10 17:21] jdwilsonjr commented on #64410
greetings @psmanhas @tsrob50 @philkloose

tsrob50 on Oct 16, 2020 "I was able to add it from PowerShell as a workaround"

psmanhas on Oct 16, 2020 "Glad to hear that you found a workaround / Hope the provided information is helpful / We will now close this issue"

philkloose on May 10, 2021 "This is still an issue 7 months later" ( amen brother )

Item 1 : WHAT is the workaround in PowerShell ? ma

[2021-05-10 17:23] JamesTran-MSFT commented on #74987
@danmyhre
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-10 17:30] #74828 closed

[2021-05-10 17:39] amanmcse commented on #74862
Hi @afield1235
1. This confirms that the issue was due to missing credential hashes in the managed domain.
2. This has to be done in the VM itself. Members of local administrators group on the VM are by default allowed for RDP connection to the VM. Standard users are required to be explicitly added to the Remote desktop users group via local users and groups console (lusrmgr.msc).

[2021-05-10 17:40] SaurabhSharma-MSFT commented on #74662
@MalvinOsborne We will now proceed to close this thread as we haven't heard back. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-05-10 17:40] #74662 closed

[2021-05-10 17:45] #74994 closed

[2021-05-10 17:46] JamesTran-MSFT commented on #75000
@andrew-twigg
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-10 17:52] #73909 closed

[2021-05-10 18:02] RyanHill-MSFT commented on #74922
There are no egress charges. It is only the rate per minute per participant based on VoIP or PTSN.

[2021-05-10 18:07] roygara commented on #75049
Hello @MariusFlorea99 , thanks for reaching out. This is covered in the documentation, it's step 9 of the [set up your disk encryption set section](https://docs.microsoft.com/en-us/azure/virtual-machines/disks-enable-host-based-encryption-portal#set-up-your-disk-encryption-set).

Did this not work for you? Was an alert not present?

[2021-05-10 18:10] b-juche commented on #75024
Hi @HenryFreiburg - Thanks for the input.  I'll connect through email about these suggestions and run them by other stakeholders.

[2021-05-10 18:15] rwike77 commented on #73020
@craibuc hopefully the samples will be helpful.  I'm closing this now, feel free to re-open if you need.  #please-close

[2021-05-10 18:15] #73020 closed

[2021-05-10 18:24] afield1235 commented on #74862
@amanmcse

1. This was already done months ago and was not part of the issue. I was just stated this was already done.
2. Ok I'll take a look and let you know if it works.

[2021-05-10 18:30] zeinab-mk commented on #74165
please-close pr:157884

[2021-05-10 18:36] AjayKumar-MSFT commented on #75002
@diberry, Thanks for taking time to share your feedback.
As I understand, you landed on this  Azure doc page from "Learn more" section (screenshot)
![image](https://user-images.githubusercontent.com/44606227/117707291-06d5b880-b1ec-11eb-9fd5-3548350fc7bf.png)

Just to clarify, the sub-section that you're referring to "Built-in images" is hyperlinked/TOC anchor link within the doc and this URL will

[2021-05-10 18:38] RyanHill-MSFT commented on #74418
@andylholloway just wanted to check to see if you sent your email. Please let me know.

[2021-05-10 18:39] robinsh commented on #75025
#sign-off
changed CLI to use hub-name instead of just --name.

[2021-05-10 18:43] msangapu-msft commented on #75002
Hi @diberry. This FAQ page is actually not supposed to exist in our repo. The previous App Service PM was working on moving the FAQ here: https://techcommunity.microsoft.com/t5/apps-on-azure/things-you-should-know-web-apps-and-linux/ba-p/392472

That may be the reason there's no TOC item.

[2021-05-10 18:56] pvasek opened #75068 "Documentation contains deprecated property environment.docker.enabled"
The Azure ML `Environment.docker.enabled property` is deprecated but it's included in the documentation.

It would be great if documentation includes the correct way how to "set it".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af5a2184-2f06-5c07-477c-86b2591fb2aa
* Version Independent ID: 0cbf10e2-1cc1-7eff-57a9-6bc

[2021-05-10 19:05] anujb-msft commented on #74922
Okay, great — thank you. If it makes sense, let us reopen the issue (or create a new one) tagged with "feature request" for this guidance to be added as a feature request for the documentation.

[2021-05-10 19:06] 1RedOne opened #75069 "Doublecheck the grammar on this page..."
A few errors here, specifically a duplicated sentence.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3dab642-7af7-8416-5d43-444472d426fb
* Version Independent ID: d4762b50-e364-5dbb-b5fc-905eba3816f0
* Content: [Azure security baseline for Windows Virtual Desktop](https://docs.microsoft.com/en-us/security/benchmark/a

[2021-05-10 19:08] MonikaReddy-MSFT commented on #74492
@splowman-FormFast -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-10 19:12] tsrob50 commented on #64410
It looks like the bug with RDP settings in the portal has not been addressed.  Disk redirection can be disabled with PowerShell.  Here is an example of the command:

$properties = “redirectclipboard:i:0;redirectprinters:i:0;drivestoredirect:s:”
Update-AzWvdHostPool -ResourceGroupName <WVD_ResourceGroup> -Name <WVD_HostPool> -CustomRdpProperty $properties

The update command will overwrite existing

[2021-05-10 19:12] MonikaReddy-MSFT commented on #75069
@1RedOne - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-05-10 19:12] fraserbooth opened #75070 "Azure Deployment Link"
This page is linked to from Azure Deployment for GitHub with "If you can’t find an organization or repository, you may need to enable additional permissions on GitHub. Learn more", but this page doesn't provide any information about that circumstance.

It would be good if this was fixed, from either side of the equation, feedback being provided both ways :)

Fraser

---
#### Document details

⚠ *D

[2021-05-10 19:18] buckh opened #75071 "The data sets referenced in this tutorial are incorrect"
The data set URLs in this tutorial don't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fd3e66e-a012-dd40-34f3-1e84865605bc
* Version Independent ID: d0fc26d6-2a86-dbed-2f48-c798b551f3f0
* Content: [Tutorial: Get started analyze data with a serverless SQL pool - Azure Synapse Analytics](https://docs.microsoft.co

[2021-05-10 19:20] MonikaReddy-MSFT commented on #75060
@ashinzekene - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-05-10 19:28] TravisCragg-MSFT commented on #74668
@worldspawn Thanks for the update! I have assigned this issue to the doc author to evaluate and update as appropriate.

[2021-05-10 19:30] natlims18 opened #75072 "Audit-logs in Security & Complience Search"
Why in documentation the audit-logs do not accessed in Compliance & Security search?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 378b87c1-ae6d-6b16-57b9-5f312583b8bd
* Version Independent ID: bdf6b43b-ac28-f1ac-e53b-d99f22d0754c
* Content: [Audit logs in Azure Active Directory](https://docs.microsoft.com/en-us/azure

[2021-05-10 19:33] jdwilsonjr commented on #64410
@tsrob50 thanks for timely response. will tell u what i did and i 'think' it produces the same end result.

ok, once i accepted radio button settings were useless, i found [this link](https://docs.microsoft.com/en-us/azure/virtual-desktop/configure-device-redirections#local-drive-redirection
):

i took the values on that page and put them into the Host Pool > RDP Properties > Advanced (textarea) a

[2021-05-10 19:34] sameer-kumar opened #75073 "SSH for non-root user in custom docker container"
I'm trying to follow the articles but couldn't ssh into my custom docker image which is running as non-root user. This image is hosted on Azure Web App for Linux.
Do you have any docs specific to my use case like you have a generic one [here](https://docs.microsoft.com/en-us/azure/app-service/configure-linux-open-ssh-session)?

The article which I followed is https://docs.microsoft.com/en-us/azure

[2021-05-10 19:47] RyanHill-MSFT commented on #74922
I'll assign to the doc author for their review @anujb-msft

[2021-05-10 19:49] tsrob50 commented on #64410
The client has to exit and reopen, or refresh for the new settings to take affect.

[2021-05-10 19:59] MarileeTurscak-MSFT commented on #75072
@natlims18
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-10 20:04] DerekHerman-MSFT commented on #75064
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-10 20:08] anyname2 commented on #74971
Usin GitHub actions to upgrade node-image feels like a work around, but ok, it will work. Are there any plans to support this scenario using Azure built-in mechanism?

[2021-05-10 20:24] YutongTie-MSFT commented on #73578
@eckartbindewald Hello, sorry for the experience. This forum is for documentation issues so our help is limited here. But I can help you to check on your case to see what happened if you can share the **ticket number**. Thanks for your understanding.

[2021-05-10 20:45] YutongTie-MSFT commented on #73578
@eckartbindewald Could you please share the ticket number since you mentioned you have created one already? Thanks.

[2021-05-10 20:46] billtr commented on #65803
Hi Peter, following the link you shared above, I didn't see the FPGA tab and the expected PB-Series pricing info.  Has this been changed recently?

[2021-05-10 21:07] YutongTie-MSFT commented on #75068
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-10 21:12] JasonSmithRivco opened #75077 "Incorrect URL"
[Enter feedback here]

The callout to the URL "https://team.microsoft.com/?tenantId=<TenantId>" appears to be missing the "s" after team(s).
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81002e29-e756-60db-55b3-fe645fa59240
* Version Independent ID: 3be93733-6f54-b684-ad0a-91ba3a90388a
* Content: [Invite internal users

[2021-05-10 21:20] NavtejSaini-MSFT commented on #74860
@benCoomes We are assigning this feedback to our author @SnehaGunda for providing further help here.

[2021-05-10 22:01] zxm5010 commented on #74991
Hi @NavtejSaini-MSFT thanks for the info.

More context: I'm migrating SDK from v2 to v4, but getting some issue on server-side triggers in migration. So wondering if there's a working example for the migration that I can take a reference. I found examples (https://docs.microsoft.com/en-us/azure/cosmos-db/migrate-java-v4-sdk?tabs=java-v4-async) for stored procedures along with other features, but

[2021-05-10 22:13] MarileeTurscak-MSFT commented on #75072
Hi @natlims18, it's mentioned that there are multiple places for accessing the audit logs. The most common place would be under Monitoring > Audit logs in Azure AD. You can also access them by going directly to [this link](https://portal.azure.com/#blade/Microsoft_AAD_IAM/ActiveDirectoryMenuBlade/ProvisioningEvents). The compliance data will be included in the audit logs.

Hope this helps!

[2021-05-10 22:13] #75072 closed

[2021-05-10 22:36] NavtejSaini-MSFT commented on #75006
@guettli The document itself as below and this link https://docs.microsoft.com/en-us/cli/azure/postgres/flexible-server?view=azure-cli-latest#az_postgres_flexible_server_create provides details on how to use the CLI command for creating flexible servers. This document gives you details of what all inputs public access parameters can take.
![image](https://user-images.githubusercontent.com/52257742

[2021-05-10 22:41] JamesTran-MSFT commented on #75063
@jonwbstr
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-10 23:43] rmmcgr opened #75084 "Update to include details for App Service Slots"
This article would be improved if it could note how to do this for app service slots when:

(a) setting up the identity on the app service (the additional parameter required for specifying the slot which was --slot <slot name>

(b) When creating the SQL user, the username when using a slot needs to be specified as:
[appservicename/slots/slotname]

---
#### Document Details

⚠ *Do not edit this sec

[2021-05-10 23:44] benCoomes commented on #74860
Thank you, I appreciate it!

On Mon, May 10, 2021 at 5:21 PM NavtejSaini-MSFT ***@***.***>
wrote:

[2021-05-10 23:55] #74156 closed

[2021-05-10 23:57] cynthn commented on #73960
I'm going to leave the count at 8, because I can't confirm the change to 1001 and I'd rather be safe. If someone can confirm the 1001 for Windows Server SKUs, I'll change it. Thanks you!

#please-close

[2021-05-10 23:58] #73960 closed

[2021-05-11 00:07] cynthn commented on #61665
Sorry it has taken so long to respond. This article was rewritten awhile back and now lives here: https://docs.microsoft.com/en-us/azure/virtual-machines/tag-portal

I verified that the screenshots have also been updated.

#please-close

[2021-05-11 00:07] #61665 closed

[2021-05-11 00:21] GiftA-MSFT commented on #74970
Hi @maksim-at-cedrus for object detection, for object detection, we recommend at least 30 images per tag in the initial training set. Object detectors handle negative samples automatically, because any image areas outside of the drawn bounding boxes are considered negative.

[2021-05-11 00:34] azsec commented on #63555
Static-based risk calculation in the world of security is no longer valid. You couldn't just say the risk level of **login from unfamiliar location** is lower than **leaked credential** to be honest even we know credential leakage sounds very dangerous. Well just imagine an administrator (global admin) is found logged in from an unfamiliar location versus a normal user (with less privilege/read-on

[2021-05-11 00:36] msfcolombo opened #75085 "Document does not specify all requirements for object replication"
I think this document is missing some requirement or step required to enable the replication. When I attempt to add a replication rule between two accounts, I'm getting the error "Premium object replication is not supported for the account."

Both accounts are Premium and both use BlockBlobStorage. One account is on EastUS2 and is using ZRS. The other account is on SouthCentralUS and is using LRS.

[2021-05-11 00:53] shonohs commented on #73051
Custom Vision's model doesn't have a custom operator, which means it uses only the standard operator set of each frameworks (TensorFlow, ONNX, CoreML, ...). There is no requirement on the CPU architecture. The model can run on any CPU as long as it's supported by the framework.

As far as I know, TensorFlow and ONNX supports all major processor architectures. As for this particular Atom issue, in

[2021-05-11 01:21] pacodelacruz opened #75086 "Please update with instructions of using the SAP connector with Logic Apps Preview"
Please update this page with instructions on how to use the the SAP connector with Logic Apps Preview and the on-premises data gateway.
Also, document if there are any limitations we need to be aware of when using the connector with Logic Apps Preview.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2a1c207-4aba-94f9-5

[2021-05-11 01:42] A30005579 opened #75087 "Role descriptions are reversed"
The descriptions of the **Event Grid Subscription Reader** and **Event Grid Subscription Contributor** roles in the [Built-in roles](https://docs.microsoft.com/en-us/azure/event-grid/security-authorization#built-in-roles) section appear to be reversed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1dbe461e-bf0e-765b-9

[2021-05-11 01:43] chiehpower opened #75088 "Azure Container Instance with GPU"
Hi all,

I was attempting to enable GPU in Azure container and I followed this [instruction](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-gpu). I have tried two methods that the first method is to add a container with GPU via Azure UI. I tried some time but I always got the status of `succeeded` after it created the container. I expect it can show the `running` st

[2021-05-11 01:45] spelluru commented on #75087
I though they were fixed last week.

[2021-05-11 01:47] lesscodingmorehappiness opened #75089 "Content out of date"
Hi,

I'm following this doc to setup Oracle ASM, but I found the "Download and prepare Oracle Grid Infrastructure" section is inaccurate/out-of-date. The download link for Oracle ASM no longer points to 12c, and seems it's not easy to download 12c (what I found seems Oracle stop supporting public download of 12c). Steps for new version (e.g. 19c) have some difference and one will be blocked if jus

[2021-05-11 01:52] spelluru commented on #75087
@A30005579 - Thank you for reporting the issue. I have fixed the article and the updates will go live tomorrow morning. Thanks again.

[2021-05-11 01:54] spelluru commented on #75087
Closing it as we have another one open on the same issue:
https://github.com/MicrosoftDocs/azure-docs/issues/74968

#please-close

[2021-05-11 01:54] #75087 closed

[2021-05-11 01:57] spelluru commented on #74687
@vishalaj1 - Please see the comment from @serkantkaraca. Thanks.

[2021-05-11 02:35] pnarsi opened #75090 "Amazon Kinesis missing on this page"
The equivalent doc.databricks.com page for structured steaming lists Amazon Kinesis as a supported structured steaming data source and sink however it is missing from this Microsoft docs page. I am wondering if this was intentional. Is the omission because Amazon Kinesis not a supported streaming source/sink in the Azure offering of Databricks or is this a mistake in the Microsoft docs?

https://d

[2021-05-11 02:54] CHEEKATLAPRADEEP-MSFT commented on #75071
@buckh Could you please provide more details on your feedback?

The data set referred in this tutorial is available in the previous article: https://docs.microsoft.com/en-us/azure/synapse-analytics/get-started-create-workspace#place-sample-data-into-the-primary-storage-account

Hope this helps.

[2021-05-11 03:10] CHEEKATLAPRADEEP-MSFT commented on #75090
@pnarsi For your information https://docs.microsoft.com/ more focus on what are the streaming source/sinks available in Azure Databricks.

You can checkout the supported data sources for different clouds (AWS, Azure, GCP) by going to  https://docs.databricks.com/ and select the cloud from drop down as shown below:

![image](https://user-images.githubusercontent.com/79183421/117752228-0c56f100-b234

[2021-05-11 03:32] georgeOsdDev opened #75093 "Add note about read-only mode when using slot"
When we enabled slot, application code will be read-only mode.
This behavior should be described as limitation or something.

![image](https://user-images.githubusercontent.com/1381907/117754109-a4fd6900-b254-11eb-990c-58d048c2af42.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57567eca-a79e-5e41-3ab7-dc836ca08182

[2021-05-11 03:32] pnarsi commented on #75090
Ah okay. So to confirm if it is not listed in the Microsoft Azure docs page then I can assume that it is not supported in the Microsoft Databricks context?

[2021-05-11 04:05] AjayKumar-MSFT commented on #75070
@fraserbooth, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-05-11 04:06] AjayKumar-MSFT commented on #75073
@sameer-kumar, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-05-11 04:07] SumanthMarigowda commented on #75085
@msfcolombo Thanks for the question! We are investigating and will update you shortly.

[2021-05-11 04:15] CHEEKATLAPRADEEP-MSFT commented on #75025
@IterateMe  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-11 04:15] #75025 closed

[2021-05-11 04:18] CHEEKATLAPRADEEP-MSFT commented on #75071
@buckh Thanks for the feedback. I will update the document with the important note to avoid this confusion for other users.

[2021-05-11 04:44] SnehaAgrawal-MSFT commented on #75084
@rmmcgr Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-11 05:03] CHEEKATLAPRADEEP-MSFT commented on #75071
@buckh Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/158057](https://github.com/MicrosoftDocs/azure-docs-pr/pull/158057)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2021-05-11 05:04] v-hagamp commented on #73388
Issue resolved as suggested above.
#please-close

[2021-05-11 05:04] #73388 closed

[2021-05-11 05:12] HarshitaSingh-MSFT commented on #75031
@NickDrouin , thank you for making this suggestion. We have made changes to the doc and they shall reflect soon. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-11 05:12] #75031 closed

[2021-05-11 05:22] MonikaReddy-MSFT commented on #75089
@lesscodingmorehappiness -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-05-11 05:56] KalyanChanumolu-MSFT commented on #74858
@dombat It's been a while we heard from you. We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-05-11 06:10] SnehaAgrawal-MSFT commented on #74905
@albertomusetti Thanks again for the feedback! The Product group is working on adding pm2 back to the Node 14LTS image and should be available soon. Alternatively you may refer to this similar discussion on SO here: [pm2 not found on Azure App service with Node 14 runtime.](https://stackoverflow.com/questions/66871045/pm2-not-found-on-azure-app-service-with-node-14-runtime)

We will now proceed to

[2021-05-11 06:10] #74905 closed

[2021-05-11 06:21] GitaraniSharma-MSFT commented on #74793
@james88nguyen , I followed the tutorial and created the app gateway in my lab via Bash environment in Azure Cloud Shell within Azure portal and it works. I was able to create the application gateway with HTTPS listener and it works fine. Here is the application gateway with the cert which was created via Bash:

![image](https://user-images.githubusercontent.com/67630903/117767503-a2981080-b24e-11

[2021-05-11 06:41] madsd commented on #63610
@btardif  @JasonFreeberg. I created an environment to test this, and it works as expected **without** custom domain. It is important to verify that the agent can resolve the private IP correctly (vNet is linked to Private DNS Zone or DNS for private link is setup in another compliant way). Verify this by running nslookup on the agent. This should give you the private ip associated with the private

[2021-05-11 06:58] SwathiDhanwada-MSFT commented on #74759
@jjbfour Can you please provide your insights on this issue?

[2021-05-11 06:58] srikanth-paladugula opened #75095 "Prerequisite same subscription between Logic app and Service Bus is misleading."
It's not mandatory to have logic app and service bus in same subscription, I tried connecting them by having them in different subscriptions, they are working fine without any issue.

Please update the pre-requisite.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2aeacc5-5b74-c4be-335e-c7e768854e4a
* Version Independe

[2021-05-11 07:12] nimoskovE commented on #74428
Hi, is there an update or someone I can talk to and ask some questions about the topic?

[2021-05-11 07:44] tuckwelladev opened #75097 "Resource Manager Template GitHub links broken"
The github links for both "Create a Shared Image Gallery" and "Create an Image Definition in a Shared Image Gallery" are ot working a receive a 404 not found. Please can the links be updated to link to the correct quickstart folder. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd1b99f3-5bc1-c287-3a2a-f79610be0

[2021-05-11 08:00] a30008030 opened #75099 "Show an example of the python script step code"
Show an example of the python script step code. You have examples of setting up the pipeline and declaring a PythonScriptStep object. But there no examples of the .py file that the PythonScriptStep references.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c99cbeb4-d519-dfcf-c3fc-d3828d4c6f4d
* Version Independent ID:

[2021-05-11 08:24] HorvathDavid commented on #19456
I would be interested in some straightforward solution too. Can we help somehow push this process forward?

[2021-05-11 08:29] HarshitaSingh-MSFT commented on #74958
@fearofweapons, we have added those steps in the documentation and you can expect them to merge soon. For your reference, adding them below:

-   Copy the provider setup file and registration key file to each Hyper-V host (or cluster node) running VMs you want to replicate.
- 	Click the file icon in the taskbar to open the folder where the installer file and registration key are downloaded.
- 	Sel

[2021-05-11 08:38] AnshuSoni-sys commented on #74485
@jeevansd the SSO configuration and testing steps are exactly the same as per tutorial and we have double checked the same also. Regarding the authentication policies, it is an added security measure on top of SSO configuration like whether we want to enforce SSO login, two factor authentication, password requirements etc. which can vary from customer to customer. So, my suggestion would to mentio

[2021-05-11 08:57] TakeshiKovacs opened #75100 "Documentation slightly incorrect"
Hi Team

Under the configuration section of this page, in the options we have this:

cloudFiles.queueName | String | None | The URL of the Azure queue. If provided, the cloud files source directly consumes events from this queue instead of setting up its own Azure Event Grid and Queue Storage services.

This is incorrect, it is actually just the name of the queue, no URL, if you provide the URL yo

[2021-05-11 09:25] agrinku commented on #74911
Any updates?

[2021-05-11 09:55] CHEEKATLAPRADEEP-MSFT commented on #75100
@TakeshiKovacs Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/databricks-pr/pull/623](https://github.com/MicrosoftDocs/databricks-pr/pull/623).

@mssaperla & @leifbro Could you please review and approve the pull request?

[2021-05-11 11:03] jcruiz commented on #74331
Sorry about the delay @anotherrohit. Can you tried again, I just tested the flow from scratch on my end with the most recent version of authenticator and everything is working on my end

[2021-05-11 11:07] v-hagamp commented on #69652
Issue resolved, please confirm the changes in the document.
#please-close

[2021-05-11 11:07] #69652 closed

[2021-05-11 11:10] v-hagamp commented on #72767
Issue resolved as suggested, closing this issue.
#please-close

[2021-05-11 11:15] LadtoHelp opened #75103 "Missing SKU"
Missing SKU..
M365 Frontline Security

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service plan identifiers for licensing - Azure AD](https://docs.microsoft.com/en-us/azure/active-director

[2021-05-11 11:16] vishalaj1 opened #75104 "Data Masking - Serverless Pool"
Do we have support for Dynamic Data Masking in Serverless pool?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7bba9da-4559-5bf8-1c57-6ec91d3693d0
* Version Independent ID: 36809e5a-8508-445b-fd20-fd2763449aa2
* Content: [Serverless SQL pool - Azure Synapse Analytics](https://docs.microsoft.com/en-us/azure/synapse-ana

[2021-05-11 11:16] HarshitaSingh-MSFT commented on #75095
Hello @srikanth-paladugula , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-05-11 11:32] DonKoning opened #75105 "Add information about ASC Policy assignments"
[Enter feedback here]
Would like to see information added to this documentation that provides insight into the default behavior of Azure Security Center. Meaning which built-in Polkicy Initiatives are assigned at which scope (subscription/Management Group). Are there different scenarios to consider? What is the reasoning for assignment at MG scope versus subscription scope or both?

---
#### Docum

[2021-05-11 11:38] danimir commented on #75057
@Oury-MSFT - No change - not supported.

[2021-05-11 11:40] CHEEKATLAPRADEEP-MSFT commented on #75104
@vishalaj1 Azure Synapse Analytics support dynamic data masking only for dedicated SQL pools.

You set up a dynamic data masking policy in the Azure portal by selecting the Dynamic Data Masking blade under Security in your SQL Database configuration pane.

![image](https://user-images.githubusercontent.com/79183421/117809340-b443dd00-b27b-11eb-899a-de15d8b121fb.png)

For more details, refer [Dynam

[2021-05-11 11:53] danimir commented on #74838
@Oury-MSFT  - please work with Masha Thomas (SQL) and Steve Stein in fixing the broken link for existing content. Thanks.

[2021-05-11 11:55] boris-tarasov-maersk commented on #67755
@MonikaReddy-MSFT
Sorry to bother you. Do you know if there are any updates on this issue?

[2021-05-11 12:11] danimir commented on #71742
This has been fixed. #please-close

[2021-05-11 12:11] #71742 closed

[2021-05-11 12:11] danimir commented on #71742
#please-close

[2021-05-11 12:13] danimir commented on #59159
I cannot answer that question as it is not related to SQL Insights. Please ask this question at https://docs.microsoft.com/en-us/azure/azure-sql/database/monitor-tune-overview. Thanks.
#please-close

[2021-05-11 12:13] #59159 closed

[2021-05-11 12:14] danimir commented on #43450
#please-close

[2021-05-11 12:18] danimir commented on #40014
#please-close

[2021-05-11 12:18] #40014 closed

[2021-05-11 12:25] vishalaj1 commented on #75104
Thanks for quick response. We are trying to understand the difference in performance for dedicated and Serverless Pool like maximum number of concurrent queries etc. on serverless pool compared to dedicated. there are no performance benchmarks in the documentation. Do we have anything similar document?

[2021-05-11 12:28] nick5454 commented on #9254
@conceptdev any plans for .net 5?

[2021-05-11 12:33] alfogo opened #75107 "Broken links"
Links for "Quorum template from Azure Marketplace" and "Besu template from Azure Marketplace" are broken
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c8613e4-6c3d-bf68-d715-5974753385ff
* Version Independent ID: 6e184865-305a-0f25-7042-daca8043f405
* Content: [Azure Blockchain Service retiremen

[2021-05-11 12:41] vipulsparsh commented on #75103
@LadtoHelp Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-05-11 12:54] #74530 closed

[2021-05-11 13:01] VikasPullagura-MSFT commented on #74971
@anyname2

On InfiniBand (IB) enabled VMs, the appropriate drivers are required to enable RDMA.
- The [CentOS-HPC VM images](https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/hpc/configure#centos-hpc-vm-images) in the Marketplace come pre-configured with the appropriate IB drivers.
- The [Ubuntu-HPC VM images](https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/hpc/co

[2021-05-11 13:04] #75093 closed

[2021-05-11 13:33] spelluru commented on #74968
Resolved now. #please-close

[2021-05-11 13:34] vishalaj1 opened #75108 "Spark Streaming - Support - synapse integrate"
Hi,

We have created a spark streaming notebook. However, when we call notebook from synapse integrate it just stops the spark streaming job after few minutes. The pipeline does succeed, however the spark application is stopped.

Is this supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a77b33c-0cd2-c0c6-ea09-

[2021-05-11 13:46] jhyot opened #75110 "Duplicate permissions in documentation"
It seems that the documented permissions have an erroneous duplicate entry in them. See screenshot.

![image](https://user-images.githubusercontent.com/8843969/117825824-ec452300-b26f-11eb-8cd4-3ac32751c8e6.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92b18eba-07a5-dbbf-b697-0264e326f4d4
* Version Independent ID

[2021-05-11 14:12] areasonablestart opened #75111 "Agiloft screen shots are out of date"
The screen shots of the Agiloft interface in this article are out of date

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be1b3e40-924c-1ca2-a781-c4d5397eb285
* Version Independent ID: d58e2ea8-4378-8f9b-003e-52830fc3a151
* Content: [Tutorial: Azure Active Directory integration with Agiloft](https://docs.microsoft.com/e

[2021-05-11 14:24] sandervandevelde opened #75112 "Enriched IoT Edge module messages can not access Device Twin values"
I tested message enrichment with messages coming from Azure IoT Edge modules.

The enrichment only works for Module Twin values. Device Twin values (not 'overruled' in the module twin) are not mapped.

I expected the enrichment to works with the Device Twin as 'fall-back'.

Now I have to copy and update common device-level values in each module twin which is error prone.

Is this the right observa

[2021-05-11 14:28] mamccormick65 opened #75113 "Incorrect word usage"
in the sentence "This pool will then honor the parameters past in the config file.", the correct word is "passed", not "past" (which infers a period of time.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cd443b5-c0b0-0506-09ea-e8776b924819
* Version Independent ID: 466a89e7-0271-35df-1407-653484659643
* Content: [FA

[2021-05-11 14:33] francesco1119 opened #75114 "Azure VM not in the option between "Are your servers virtualized?""
I'm a huge fun Azure Migrate but the very first sentence of the first step is misleading.

As many companies we have done "Lift & Shift" so all our physical servers are now stored in Azure VMs.
This very common scenario is not listed between your options:

![image](https://user-images.githubusercontent.com/3397477/117832777-1568b200-b276-11eb-8bbb-5da8d4937cab.png)

You should add "Azure" in the l

[2021-05-11 14:42] VikasPullagura-MSFT commented on #75088
@chiehpower This is like a Job container and this is expected behavior. In the same document you there is another code using  `mcr.microsoft.com/azuredocs/samples-tf-mnist-demo:gpu` image you can check with that.

For your end goal to create a GPU container and use nvidia-smi to check it, Nvidia SMI should be in the image.

You can check [this](https://www.e2enetworks.com/how-to-use-nvidia-gpu-wit

[2021-05-11 15:01] saachigopal commented on #74839
AzureML-Pytorch1.7-Cuda11-OpenMpi4.1.0-py36 is among our new set of curated environments, we encourage using this pytorch environment as opposed to the previous one.

[2021-05-11 15:08] markwhite00 opened #75115 "This is misleading => “It is strongly recommended that you use an Event Grid Trigger when triggering an Azure Function with Event Grid""
The recommendation to use an Event Grid Trigger is misleading. Currently, the Event Grid Trigger provides no way to return errors to then retry the processing of an event. Using an HTTP Trigger should be the current recommendation as it provides a way to return HTTP Status Codes that trigger retries.

There is an open issue [here](https://github.com/Azure/azure-functions-eventgrid-extension/issues

[2021-05-11 15:09] Oury-MSFT commented on #75057
@danimir thanks for clarifying this.

[2021-05-11 15:27] SamaraSoucy-MSFT commented on #75108
Thanks for the question! We will review and get back to you shortly.

[2021-05-11 15:27] SamaraSoucy-MSFT commented on #75113
Thanks for the feedback! We will review and get back to you shortly.

[2021-05-11 15:32] myersr opened #75117 "Tools/Packages referenced are deprecated as well as its replacements"
It should probably be noted on this page that the tools/packages suggested are out of date and their replacements are now being deprecated. The developers suggestion is to either switch to python or use native http requests.

[reference](https://github.com/Azure/azure-sdk-for-ruby/issues/2815#issuecomment-742948266) to azure gem being out of date
Developers suggestions on alternatives [here](https

[2021-05-11 15:32] SatishBoddu-MSFT commented on #75112
Hello @sandervandevelde Thanks for the feedback, we are investigating this issue and will get back to you soon.

[2021-05-11 15:51] pakbaz opened #75118 "Messages either fail to deliver via EventGrid subscription or won't get processed by Azure Function"
This demo tutorial doesn't work as messages won't get delivered or few that gets delivered won't get processed by the function and won't make it into Dedicated SQL pool

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb824b2f-f7ba-5d90-8322-c4cfaf680cc6
* Version Independent ID: 05f29876-d9b1-e219-d84f-5223bd4ef04f
* Co

[2021-05-11 15:52] francesco1119 opened #75119 "Add credentials :: each Source Type is listed twice"
Is pretty evident that there is a bug:

![image](https://user-images.githubusercontent.com/3397477/117846252-8c577800-b281-11eb-9dfb-abf9bb890217.png)

Looking in some of your old video guide from 2019 it looks like the first set of logins was for normal logins while the second set was for domains login.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-05-11 15:54] swinster opened #75120 "Is it possible to have events triggered (web hook) when changes occur to instances in a VMSS?"
Hi,

In the documentation, you make reference to being able to query Azure to get the public IP address of instances within a VMSS (https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-networking#querying-the-public-ip-addresses-of-the-virtual-machines-in-a-scale-set). As public IP addresses cannot be specified within a predefined range or set ahead of time,

[2021-05-11 15:59] GiftA-MSFT commented on #74970
Hi, can you please clarify? Why are you including images that don't need tagging for training object detection model in the first place?

[2021-05-11 16:00] YutongTie-MSFT commented on #75099
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-11 16:05] MashaMSFT commented on #74838
Hi @IsaacRoitman , thanks so much for bringing this to our attention! I believe these links have been fixed - when I click them now, they're opening for me. Our apologies for the inconvenience, and thank you for your patience.

Thank you so much for helping improve our docs! I'll close out this Git Issue for now, but please feel free to comment should you need anything further.

Thanks again and I

[2021-05-11 16:05] #74838 closed

[2021-05-11 16:08] maksim-at-cedrus commented on #74970
Because, as I described, when I run these images that don't have the object through prediction API the system comes back with a false-positive. It gives it a high probability >60% that these images have the object. In this case I would expect that the system would allow adding these images as completely negative - no objects on these images - so it can learn that the areas it thought contain the o

[2021-05-11 16:12] conceptdev commented on #9254
@nick5454 you should create a new issue for the current product team. Old/closed issues get routed to folks like me who no longer work on the product.

[2021-05-11 16:14] #61370 closed

[2021-05-11 16:19] GiftA-MSFT commented on #74970
Thanks for clarifying a little bit more. So from what I understand, when testing the model, you're getting false-positive and you're wondering how to label those images as negative since the service isn't accurately tagging the negative objects. If so, I'm reaching out to the product group to inquire further on this and will get back to you shortly.

[2021-05-11 16:20] sambyng-msft opened #75121 "Will the Azure Portal IPs ever change?"
I'm using Terraform/ ARM to provision my Cosmos DB account. I want it accessible from Private IPs and from Azure portal.

Thus i've added the list of Azure Portal IPs as hard coded values:

104.42.195.92,40.76.54.131,52.176.6.30,52.169.50.45,52.187.184.26

Will these ever change? Is it possible to pull the values from an API somewhere? So that if they change I can use that value.

This would be us

[2021-05-11 16:25] aminsaied opened #75122 "Broken page"
This page is missing content. Specifically, it says

"Open train.py and replace it with this code:"

and there is no code snippet following it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2767a9e-eac1-8460-761f-a86154bd9685
* Version Independent ID: 4a40093e-1cdb-d9a8-2ca4-aff77a862845
* Content: [Tutorial: Use you

[2021-05-11 16:35] DCtheGeek commented on #75055
@TiberiuGarbea Thanks for pointing this out.  I see this did change with `0.10.0`. I'll get this updated asap.  Once the update merges, this issue will automatically be closed.  The update will publish sometime later during our standard publishing cycle.  Thanks!

#label:"in-progress"

[2021-05-11 16:45] JamesTran-MSFT commented on #74928
@dave22000
Thank you for your time and patience throughout this issue. I just wanted to reach out and let you know that we're still looking into this, and will update as soon as possible.

Thank you!

[2021-05-11 16:50] JamesTran-MSFT commented on #74843
@RSEEGATZ
I received a response from our engineering team and this product is currently in private preview. I received a workaround for this in the meantime, which I'll share below.

**Workaround:**
The workaround involves activating the SharePoint admin role and then deleting all the cookies in the current browser session (alternatively open InPrivate or a new browser profile) and sign into Share

[2021-05-11 16:50] #74843 closed

[2021-05-11 16:51] JamesTran-MSFT commented on #75077
@JasonSmithRivco
I've created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2021-05-11 16:51] #75055 closed

[2021-05-11 16:53] cynthn commented on #75097
@tuckwelladev and @VikasPullagura-MSFT I think this was a transient issue while they were moving some files around. All of the template links work for me now. Can you recheck?

[2021-05-11 17:07] Grace-MacJones-MSFT commented on #74726
We will now proceed to close this thread.

[2021-05-11 17:07] #74726 closed

[2021-05-11 17:09] anayyar82 commented on #67863
Any update on this , seems to high priority

[2021-05-11 17:21] vboyev-MSFT opened #75123 "Reference to KB 947226 - link is 404/dead"
https://docs.microsoft.com/en-us/azure/governance/policy/samples/guest-configuration-baseline-windows#system-audit-policies---account-logon

All of these audit recommendations refer to https://support.microsoft.com/kb/947226 which is 404.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56b31d2d-f2e

[2021-05-11 17:24] vineetvikram commented on #75114
Hi Francesco

With Azure Migrate tool, we help customers move their on-prem servers and servers hosted on other cloud service provider to Azure.
Azure Migrate should not be used to migrate a server already hosted in Azure to Azure again. This is not a supported scenario.

That is the reason we do have Azure added as an option in the dropdown.
Hope I am able to clarify your query.

Thank you.

Rega

[2021-05-11 17:41] minhdn90 commented on #58619
@azaricstefan Hi Stefan, thanks for your answer. OPENROWSET WITH does help. However, sometimes it is inconvenient having to list all the columns, do we have any alternative that doesn't require all columns listed, like specifying the file from which it should infer the schema (or something similar)?

[2021-05-11 17:45] Datatech-AK opened #75124 "The logout URL stated in the setup guide may be incorrect"
The setup guide (https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/google-apps-tutorial) says to use the login URL for both the login and logout settings that are specified in the Google Admin side of the SSO provider setup.

See step (https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/google-apps-tutorial#configure-google-cloud-g-suite-connector-sso) step 4c - "In t

[2021-05-11 18:00] rodarw opened #75126 "Typo in the FAQ"
[Hi team,
The page has a typo in FAQ.
 It says You score and it should be "Your Score".
Thank you]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bad25d2-e9b4-0341-826c-f273da0e48d9
* Version Independent ID: c86178a6-17a1-7ab7-eb28-81f92c92b606
* Content: [Optimize Azure workloads by using Advisor Score - Azure Adviso

[2021-05-11 18:02] dadouginc opened #75127 "Statement about using the OR clause does not work..."
The article says "_Microsoft Teams, Microsoft Kaizala, Microsoft Skype for Business and Microsoft Visio do not support the Require app protection policy grant. If you require these apps to work, please use the Require approved apps grant exclusively. The use of the or clause between the two grants will not work for these three applications._"

2 Things:
1) This is more than three (3) applications

[2021-05-11 18:04] jonburchel commented on #66189
Thanks @timoklimmer for catching this and helping improve the docs!  I updated the document now to remove the erroneous old reference to Credential Manager. I'm checking with the team to confirm how we will incorporate the multiple-IR node question too and we will follow up on that in the future.  For now I will close this issue out but if you have questions you can continue the discussion here ev

[2021-05-11 18:05] cjgronlund commented on #75122
@sdgilley: Please check into this. High-pri.

[2021-05-11 18:07] porrascarlos802018 opened #75128 "instructions to grant access to other users can be improved."
The instructions provided on the website https://docs.microsoft.com/en-us/azure/azure-monitor/containers/container-insights-livedata-setup#configure-kubernetes-rbac-authorization for users that wants other users to access the feature doesnt seems to work as expected on clusters with RBAC enabled.

users consulted this link and allowed them to grant access without problems:
https://stackoverflow.co

[2021-05-11 18:08] DCtheGeek commented on #75123
The upstream has been fixed, so I'm regenerating the page with the corrected links now.  Once it finished, I'll merge it and this issue will automatically close.  Publishing of the updated links will happen later during our regular publishing cycle.  Thanks!

[2021-05-11 18:11] jonburchel commented on #71058
Thank you @joe-plumb for pointing this out and helping improve the docs!  Indeed, that wording was a little confusing.  I discussed with the team and updated it now to clarify.  I will close this issue out now but if you have other questions you can continue the discussion here even after it is closed.  #please-close

[2021-05-11 18:11] #71058 closed

[2021-05-11 18:13] sanitybit commented on #17210
@7cfourie I was wondering if you had any insights from your migration attempt that you could share? I'm in a similar scenario and looking at options for moving a published app from one tenant to a tenant in a way that minimizes impact to existing app users.

[2021-05-11 18:16] #75126 closed

[2021-05-11 18:35] sanitybit commented on #17210
@7cfourie Thanks so much for the information.

It sounds like I'm out of luck on the impact issue, but I will use this as an opportunity to add to the discussion/express interest in this functionality when we meet with our MS reps.

[2021-05-11 18:48] jaydestro commented on #74845
This appears to be working.  Validated via creating VM with cloud-init options:

[code]

[code]

[2021-05-11 18:52] MashaMSFT commented on #28720
Hi @Fabian-Schmidt,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
#assign:MashaMSFT

[2021-05-11 18:54] ssarwa opened #75131 "Resource Group and Instance missing"
In the doc: https://docs.microsoft.com/en-us/azure/spring-cloud/quickstart-deploy-apps?tabs=Azure-CLI&pivots=programming-language-java, under the section: Create and deploy apps on Azure Spring Cloud, the resource Group and instance names are missing which are required parameters for the command az spring-cloud app create

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-05-11 18:56] MashaMSFT commented on #37559
Hi @artisticcheese ,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
#assign:MashaMSFT

[2021-05-11 19:00] MashaMSFT commented on #39763
Hi @trolleyboy ,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
#assign:MashaMSFT

[2021-05-11 19:03] JamesTran-MSFT commented on #75124
@Datatech-AK
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-11 19:05] MikeDodaro commented on #75131
@ssarwa  This form works because the default repository was set in the previous topic about configuration server:

az spring-cloud config-server git set -n <service instance name> --uri https://github.com/azure-samples/spring-petclinic-microservices-config

[2021-05-11 19:09] #75122 closed

[2021-05-11 19:11] MashaMSFT commented on #40216
Hi @robert4os ,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

In reviewing the article, I see that we're explaining a gateway ring here:
To eliminate a single point of failure, the control ring is also duplicated across multiple zones as three gateway rings (GW). The routing

[2021-05-11 19:17] tuckwelladev commented on #75097
Hi, I just tried again and still the same issue:

Sent from my iPhone

[2021-05-11 19:27] retroray81 commented on #74160
Well, @HansOlavS, that is discouraging.  Maybe @AnuragSharma-MSFT could direct us to someone else?

[2021-05-11 19:30] MashaMSFT commented on #42457
Hi @langstonj ,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
#reassign:DavidTrigano
#assign:MashaMSFT

[2021-05-11 19:31] MashaMSFT commented on #42457
#reassign:DavidTrigano

[2021-05-11 19:31] MashaMSFT commented on #42457
#assign:MashaMSFT

[2021-05-11 19:50] SoucianceEqdamRashti commented on #27135
Along with this, why isn't MSI enabled yet on Azure table storage. I get you want users to go to CosmosDB but not everyone needs a CosmosDB. Especially for simple lookup type scenarios. Having MSI on blob and storage queues and not on Table is just weird.

[2021-05-11 19:52] eltonsaunders opened #75133 "Delete TXT record?"
I believe the TXT record is only needed for verification and can be deleted once verification is complete.  If that is accurate, it should be added to the article.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 224b73dd-c59d-a833-0d4d-a778af6086a9
* Version Independent ID: c6b167c9-9589-45d0-ee6a-7a47a4aec41e

[2021-05-11 19:55] jdwilsonjr commented on #64410
@tsrob50 @philkloose success !!!

once the new settings in the RDP Properties text area above took effect, ALL issues were COMPLETELY resolved with ZERO ingress or egress vectors. what a relief and thanks for all the help.

[2021-05-11 20:01] MashaMSFT commented on #46081
Hi @dvansteenburg ,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-11 20:05] MashaMSFT commented on #46018
Hi @andrewatfornax ,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-11 20:08] MashaMSFT commented on #50224
Hi @marktab,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-11 20:10] MashaMSFT commented on #50659
Hi @Timovzl ,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-11 20:12] MashaMSFT commented on #54599
Hi @dandenton ,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-11 20:12] miqm opened #75134 "Private Link service limitation - IP based load balancer"
When trying to create a backend pool based on the IP, not the NIC, I’m getting error that LB with private link does not support IP-based backends.

This is a major limitation of private link but the documentation says nothing about it.

This functionality can be handy if we’d like to expose through private link some service that we have in e.g. on-premise network and we can only connect to an IP t

[2021-05-11 20:17] MashaMSFT commented on #57668
Hi @cg6 , thanks so much for contacting Microsoft! Our apologies for the delay, we're working through a backlog of Git Issues. It seems your support case is resolved and it is not a docs issue so I'm going to close out this Git Issue. Please feel free to comment should you need anything further!

Thanks again for contacting Microsoft, and I hope you have a wonderful rest of your day!
Masha from th

[2021-05-11 20:20] MashaMSFT commented on #61834
Hi @haravis,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-11 20:22] MashaMSFT commented on #64133
Hi @CamyDee ,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-11 20:25] MashaMSFT commented on #65467
Hi @fbuser1 ,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-11 20:32] retroray81 opened #75135 "Unable to Configure App Service to return a usable access token using Resource Explorer"
Attempts to add additionalLoginParams via Resource Explorer as described [here](https://docs.microsoft.com/en-us/azure/app-service/tutorial-auth-aad?pivots=platform-windows#configure-app-service-to-return-a-usable-access-token) causes an error:

Cannot execute the request for site ***********  because the site is running on auth version v2.

---
#### Document Details

⚠ *Do not edit this section.

[2021-05-11 20:39] bitsofinfo opened #75136 "Create a Key Vault does not cover scenario w/ IAM roles"
The section "Create a Key Vault" does not cover what to do when your pre-existing key vault does not use access policies but instead has IAM enabled. When using IAM under key vault I don't see "microsoft batch" as something I can grant roles to. Also what about key vaults w/ networking restrictions?. Microsoft.Batch is registered as a resource provider in my subscription.

---
#### Document Detail

[2021-05-11 20:40] bitsofinfo commented on #75136
Also the doc says

[code]

This option does not show up, all i see is this warning:

[code]

[2021-05-11 20:48] tamram commented on #75085
@msfcolombo - Thanks for your feedback! Block blob storage accounts are not currently supported for object replication.

We do state the following in [this section](https://docs.microsoft.com/azure/storage/blobs/object-replication-overview?tabs=powershell#prerequisites-for-object-replication):

Object replication is supported only for general-purpose v2 storage accounts. Both the source and destin

[2021-05-11 20:48] tamram commented on #75085
#please-close

[2021-05-11 20:48] #75085 closed

[2021-05-11 20:52] jonwbstr commented on #57626
Hi Vikas, I don't follow. the Registry key for "IsWVDEnvironment" is for media optimization, and shouldn't prevent installing teams. On a side note, I created #75063 the other day, suggesting providing a command line option for creating the key you might find useful in the future.

[2021-05-11 20:55] bitsofinfo opened #75137 "Role assignment for Azure Batch instructions are not valid"
The documentation states the following, yet no identity or user can be found with this id or name. Microsoft.Batch is property registered as resource provider in the subscription

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2146b9a6-94f1-b2a8-972e-63602992d092
* Version Independent ID: ec164b99-5fc9-f5a1-6eb7

[2021-05-11 20:59] nelroosevelt opened #75138 "Access to the root store on multitenant App Service is not possible"
Could the document state that "access to the root store on multitenant App Service is not possible" or "it is not possible to add Root certificates to an App Service"
https://docs.microsoft.com/en-us/answers/questions/107132/adding-trust-to-root-certificate-store-on-an-app-s.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-05-11 21:23] nelroosevelt opened #75140 "Wording is misleading for Web deployment"
"If you have an ILB ASE with the domain suffix <ASE name>.appserviceenvironment.net, and an app named mytest, use mytest.<ASE name>.appserviceenvironment.net for FTP and mytest.scm.contoso.net for web deployment."

The statement implies that the customer must use a custom domain to use web deployment which behind the scene its msdeploy.

In the same article, it states that "The custom domain name

[2021-05-11 21:37] julieMSFT commented on #73004
Hi @RitikaDSI, thank you for contacting Microsoft and contributing to improving the documentation. As was noted earlier this feature is only available to dedicated SQL pool (formerly SQL DW). I have added a link in the document to clarify what dedicated SQL pool (formerly SQL DW) is. You should see the update in the next day or so. I will go ahead with closing this issue. The @notification mechani

[2021-05-11 21:37] julieMSFT commented on #73004
#please-close

[2021-05-11 21:38] tamram commented on #74289
@robbbbbb - Thanks for your feedback. We do have an example that shows how to restore a previous version to a blob in the soft delete docs. It's fairly straightforward using LINQ:

https://docs.microsoft.com/azure/storage/blobs/soft-delete-blob-manage?tabs=dotnet#restore-soft-deleted-blobs-when-versioning-is-enabled-1

I will add a similar example to the versioning article. Please let me know if y

[2021-05-11 21:38] #74289 closed

[2021-05-11 21:46] julieMSFT commented on #74176
@Adi-Nugraha-T Thank you for contacting Microsoft and contributing to the improvement of Microsoft Docs. I have corrected the naming of the sections. You should see the updated document soon. I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2021-05-11 21:49] #74176 closed

[2021-05-11 21:57] MashaMSFT commented on #74116
Hi @tomaszkuciaba , thanks for contacting Microsoft! If a computer object is not being created when you create the access point, this is likely an indication that the account you're using to connect to the SQL Server VM does not have proper permissions in Active Directory to create computer objects.

Following the steps in the tutorial should create the computer objects [if the user account has pe

[2021-05-11 21:58] MikeRayMSFT commented on #63736
This was updated in this commit: https://github.com/MicrosoftDocs/azure-docs/commit/67a1ac1c617b7a456edc430c02340b27bdf974d6

#please-close

[2021-05-11 22:04] MashaMSFT commented on #71968
Hi @tomnolan , thanks for contacting Microsoft! The license type is determined by the license type of the VM. If you have a pay-as-you-go VM image, then your license type will convert to 'PAYG' otherwise, it will be 'AHUB'.

I have processed a change to update the documentation that will be live later this week. I'll close out this Git Issue for the time being but please feel free to comment shoul

[2021-05-11 22:09] JamesTran-MSFT commented on #75110
@jhyot
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-11 22:11] JamesTran-MSFT commented on #75117
@myersr
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-11 22:13] BradLeeHines-ST opened #75143 "incorrect column listed in partition"
I got a bit confused on the partition by piece in Python here.

In the original data frame (events), we read in two columns: action and time. Time appears to be a UNIX timestamp. When attempting to partition the data by date it fails because there is no date column.
Perhaps adding code to add a date to the data frame, THEN partitioning by date would make more sense?

---
#### Document Details

⚠ *

[2021-05-11 22:15] MashaMSFT commented on #72518
Hi @kiwibayer , thanks so much for your feedback! The content in this article has been superseded by the [migration guides](https://docs.microsoft.com/azure/azure-sql/migration-guides/virtual-machines/sql-server-to-sql-on-azure-vm-migration-overview), and is in the process of being deprecated. My apologies for any inconvenience.

I hope that helps and please let us know if we can help further! I'l

[2021-05-11 22:15] #72518 closed

[2021-05-11 22:19] BradLeeHines-ST opened #75144 "incorrect python code in streaming example"
In the streaming example. the code reads:
[code]

The above code suggests the Unix timestamp is a TimeStampType. I couldn't get this code to work. I had to change it to a **LongType()** for the code to fire and complete.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3255e30-ec44-7855-2c58-fc3f20ddbaf6
* Version Indep

[2021-05-11 22:23] MashaMSFT commented on #68678
Hi @ibarrien ,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-11 22:25] MashaMSFT commented on #69135
Hi @13daysaweek ,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-11 22:26] #75057 closed

[2021-05-11 22:26] #69704 closed

[2021-05-11 22:28] MashaMSFT commented on #69872
Hi @leonpeeters , thanks for contacting Microsoft! My apologies for the delay in response, please bear with us as we're going through a large backlog of Git Issues.

@julieMSFT would you be able to assist with this Git Issue?

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-11 22:30] MashaMSFT commented on #70761
Hi @MarkFreemanBDO ,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-11 22:31] MashaMSFT commented on #71190
Hi @JasonHershey , thanks for contacting Microsoft! My apologies, please bear with us as we work through a large backlog of Git Issues.

@julieMSFT  would you be able to assist on this Git Issue?

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-11 22:34] MashaMSFT commented on #71343
Hi @markmassad ,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-11 22:36] MashaMSFT commented on #71741
Hi @rarandiv ,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-11 22:37] MashaMSFT commented on #72531
Hi @vhe1 , thanks for contacting Microsoft! It's been some time since we've heard from you - does this mean your issue is resolved? We're going to assume as such and close out this Git Issue but please feel free to comment should you need anything further.

Thanks again for reaching out and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2021-05-11 22:39] MashaMSFT commented on #72809
Hi @hrferdowsi ,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-11 22:44] MashaMSFT commented on #73709
Hi @rajaprad , thanks for contacting Microsoft! It's been some time since we've heard from you - has your issue been addressed? Is there anything more we can do for you?

I'm going to close out this Git Issue for the time being but please feel free to comment should you need anything further.

Thanks again for reaching out and I hope you have a wonderful rest of your day!
Masha from the SQL Docs t

[2021-05-11 22:44] #73709 closed

[2021-05-11 22:45] MashaMSFT commented on #73732
Hi @aasis21 ,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-11 22:48] MashaMSFT commented on #74064
#reassign:rohitnayakmsft

[2021-05-11 22:48] MashaMSFT commented on #74064
Hi @fvarga01 ,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-11 22:54] XiaoyuMSFT commented on #72312
@sasever  Thanks for the feedback.  Regarding the distribution database design, the goal is not to have the # of distribution databases to closely match or match exactly the # of unique values generated by HASH function.   When there are too many distribution databases (for example >60), query performance could degrade, as there’s cost in managing distribution databases and running queries across

[2021-05-11 22:57] femsulu commented on #75128
@porrascarlos802018  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-05-11 23:06] femsulu commented on #24641
Assigned to @AlainDormehlMSFT per update above.

[2021-05-11 23:14] MashaMSFT commented on #61496
Hi @mobaioum ,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-11 23:19] MashaMSFT commented on #66681
Hi @BillGatesIII ,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-11 23:25] MashaMSFT commented on #73366
Hi @venkat1017 ,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-11 23:30] Oury-MSFT commented on #75121
@sambyng-msft You can enable requests to access the Azure portal by selecting the Allow access from Azure portal option, as shown in the following screenshot:
![image](https://user-images.githubusercontent.com/78940872/117896748-1ac5fc80-b276-11eb-90ff-7a40e88ecb7e.png)

[2021-05-11 23:30] cynthn commented on #75097
Ooooh, the links in the doc are fine, but the links from the template gallery to GitHub are broken! I see now.

There was another issue about this as well and I think @axayjo or @olayemio was working on getting the links from the template gallery fixed. Maybe they have any update?

[2021-05-11 23:38] MashaMSFT commented on #74777
Hi @angellmethod , thanks for contacting Microsoft! I've reviewed the article, and as far as I can tell, the primary focus is around T-SQL differences in syntax between the SQL Server database engine, and SQL Managed Instance. I see very little mention of Azure SQL Database here, except for a few places where it's relevant as a comparison.

As such, my apologies, but I believe this title does a go

[2021-05-11 23:43] olayemio commented on #75097
I've reached out to the relevant team and there is a workitem tracking this issue. [#153420](https://dev.azure.com/azurecom/ACOM/_workitems/edit/153420/)

[2021-05-11 23:47] JamesTran-MSFT commented on #75120
@swinster
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-11 23:59] MashaMSFT commented on #59961
Hi @Eikistein ,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-12 00:01] MashaMSFT commented on #60088
Hi @jabbera ,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-12 00:03] MashaMSFT commented on #61023
Hi @hnst-grl123 ,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-12 00:04] MashaMSFT commented on #61188
Hi @stbof ,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-12 00:05] MashaMSFT commented on #62071
Hi @sarah026 ,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-12 00:09] MashaMSFT commented on #63451
Hi @cybersai29 , thanks for contacting Microsoft! Although this is great feedback, unfortunately we try to avoid providing video instructions as things change so often, they frequently become a point of confusion.

I will pass your feedback along to the content owners to see if we have some opportunity to enhance this documentation with video content but cannot commit to anything at this time. I'l

[2021-05-12 00:09] #63451 closed

[2021-05-12 00:10] MashaMSFT commented on #64250
Hi @PrometheusRising1 ,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-12 00:29] burakkarakus commented on #43248
In my case this error was thrown in the following scenario:

I have two Linux Azure Functions with App Service Plan. I tried to create another Linux Azure Function with **Consumption Plan(Serverless)**, and I got the error above. I guess the error is the same as the OP's but the source of the problem is different. Anyone faced an issue liked this?

[2021-05-12 01:07] danx1000 opened #75148 "The ICSA Certification shouldn't be on this page"
Azure Premium Firewall has not been certified by the ICSA - the logo should be taken off this page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bef38298-89c0-6c77-fb9d-7bf6bd5dc030
* Version Independent ID: 335d7b03-3e6f-61b6-fe19-19441c1b6b36
* Content: [Azure Firewall Premium Preview features](https://docs.microsof

[2021-05-12 01:54] D-Moonesinghe commented on #63555
Thank you very much for that information.  That is enlightening.

On Mon, May 10, 2021 at 8:34 PM AzSec ***@***.***> wrote:

--
Deepal Moonesinghe
(408) 568 1669
***@***.***

[2021-05-12 02:17] SnehaAgrawal-MSFT commented on #75133
@eltonsaunders Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-12 02:18] SnehaAgrawal-MSFT commented on #75140
@nelroosevelt Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-12 02:29] SnehaAgrawal-MSFT commented on #75138
@nelroosevelt Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-12 02:54] afield1235 commented on #72772
@JamesTran-MSFT
Any Update?

[2021-05-12 02:59] CHEEKATLAPRADEEP-MSFT commented on #75100
Resolved in Databricks doc source. Will be published with next doc deploy. #please-close

[2021-05-12 02:59] #75100 closed

[2021-05-12 03:03] NavtejSaini-MSFT commented on #74991
@anfeldma-ms Please help us with this feedback from customer.

[2021-05-12 03:03] NavtejSaini-MSFT commented on #75006
@guettli Please let us know if you need any help.

[2021-05-12 03:07] wirdatrd commented on #15069
you may be able to resolve that using the remote_exec provisioner to call the setup script if it has an unattended installation option(s):  https://www.terraform.io/docs/language/resources/provisioners/remote-exec.html

[2021-05-12 03:10] CHEEKATLAPRADEEP-MSFT commented on #75143
@BradLeeHines-ST  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-05-12 03:11] CHEEKATLAPRADEEP-MSFT commented on #75144
@BradLeeHines-ST  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-05-12 03:29] RyanHill-MSFT commented on #75135
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-12 03:53] SumanthMarigowda commented on #75148
@danx1000 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-05-12 03:54] chiehpower commented on #75088
Hi @VikasPullagura-MSFT ,

Thanks for your information!!

Before I tested that [example](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-gpu#yaml-example) above, I also tested the [Nvidia Cuda image](https://hub.docker.com/r/nvidia/cuda/tags?page=1&ordering=last_updated)  on Azure Container Instance that it didn't do anything specific action after we created it. Henc

[2021-05-12 04:12] ATR99 opened #75154 "Drive redirection not working"
[Enter feedback here]

Drive redirection not working, even after enabling redirection at Hostpool level
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48e79b6a-81c7-aca8-bffe-9e819f13686c
* Version Independent ID: 436db3f5-1563-df8b-7ad4-f5297d0bd529
* Content: [Configure device redirections - Azure](https://docs.micros

[2021-05-12 04:27] mhornbacher commented on #50613
Strange, I am getting this error with it on for only one connection...

[2021-05-12 04:28] hhubik opened #75155 "Why is Standard Tier Blockchain member required when using Blockchain Data Manager."
Please clarify why is Standard (as opposed Basic) tier Blockchain member required when using Blockchain Data Manager.
I am building a proof-of-concept prototype and would prefer to use the Basic tier.  Will that not work with Blockchain Data Manager?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8bf60c30-290a-3bb0-abd

[2021-05-12 04:31] CHEEKATLAPRADEEP-MSFT commented on #74985
@vivekdde  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-12 04:31] #74985 closed

[2021-05-12 04:32] v-hagamp commented on #74491
Issue resolved with the right URL.
#please-close

[2021-05-12 04:32] #74491 closed

[2021-05-12 04:33] #75071 closed

[2021-05-12 04:37] SnehaAgrawal-MSFT commented on #74957
@yutaro113 Thanks for the feedback! I have assigned the issue to the content author for further review on this.

[2021-05-12 04:51] MayankBargali-MSFT commented on #75021
@fberasategui Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-05-12 04:51] #75021 closed

[2021-05-12 05:07] HarshitaSingh-MSFT commented on #75095
@srikanth-paladugula , thank you for reporting this. We have corrected our documentation and you shall expect that changes soon.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-12 05:07] #75095 closed

[2021-05-12 05:35] AjayKumar-MSFT commented on #74880
Your feedback has been shared with the content owner for further review. Thanks for bringing this to our attention.

[2021-05-12 05:42] psmanhas commented on #75136
@bitsofinfo Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-05-12 05:44] psmanhas commented on #75137
@bitsofinfo Thank you for the feedback. We will work on it and will keep you updated on the thread

[2021-05-12 06:15] olafloogman opened #75159 "List of incompatible services seems incomplete"
The list of incompatible services seems incomplete. It appears that NSG flow logs don't work with App Service / Function Apps that route outbound traffic via a VNET. NSG rules do apply and work correctly for associated App Service, but logs of evaluation of any traffic rules do not appear in the NSG Flow logs.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is re

[2021-05-12 06:50] Pladdinmaddin opened #75161 "WIN_DEF_ATP"
regarding "WIN_DEF_ATP"

"Microsoft Defender Advanced Threat Protection" was renamed to "Microsoft Defender For Endpoint" wasn't it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service pl

[2021-05-12 07:08] VikasPullagura-MSFT commented on #75088
@chiehpower The images in the example are doing a job and getting exited once the job is completed.

To achieve your end goal, you can try an image which has a long running process so that it stays alive.
Ex: The template for GPU enabled container with nginx image instead of "k8s-gcrio.azureedge.net/cuda-vector-add:v0.1" image as this has a long running process.

Just tried reproducing this and sh

[2021-05-12 07:10] VikasPullagura-MSFT commented on #75088
@macols Can you pleas add your comment on the CUDA 9.0. support.

[2021-05-12 07:28] Ben-Duf commented on #49834
@ma499 @benbelow I totally agree, I have the same issues.
I fount the [doc about disabling functions](https://docs.microsoft.com/en-us/azure/azure-functions/disable-function?tabs=portal#functions-in-a-slot).
I think we should disable those functions in the slot instead of setting them with a weird param.
Actually I don't find a value to disable all the functions from the slot.

[2021-05-12 07:56] robert-vanderboon opened #75162 "Content Title does not match document title"
The Title of the page (as shown in the Browser titlebar, and when bookmarking) should be
`Quickstart: Sign in users and call Microsoft Graph in a Windows desktop app`
instead of
`Quickstart: Sign in users and call Microsoft Graph in a Universal Windows Platform desktop app`

![image](https://user-images.githubusercontent.com/69911798/117939287-31b52f00-b308-11eb-8874-3f3481901216.png)

---
#### Do

[2021-05-12 07:57] qzqsmile opened #75163 "Can't open the url event-grid template"
[Enter feedback here]

When i follow the Azure CLI command :

sitename=<your-site-name>

az deployment group create \
  --resource-group <resource_group_name> \
  --template-uri "https://raw.githubusercontent.com/Azure-Samples/azure-event-grid-viewer/master/azuredeploy.json" \
  --parameters siteName=$sitename hostingPlanName=viewerhost

I got the error tip:<urlopen error [Errno 61] Connection ref

[2021-05-12 07:59] #75163 closed

[2021-05-12 08:03] rplati opened #75164 "Allow programmatic creation of secret scope"
I’m trying to automate the provisioning of a DataBricks environment via Azure pipelines. I would also like to create a key vault backed secret scope – this will be used to retrieve a service principal’s secret to access a storage account from DataBricks.

It feels like the secret scope is part of the environment and it should be possible to create one with the pipeline. But as far as I understand,

[2021-05-12 08:10] jerkohren commented on #68477
Hi, the 'sas' variable is not declared...
`await deviceClient.GetFileUploadSasUriAsync(new FileUploadSasUriRequest() { BlobName = fileName });`
should be at least
`**var sas =** await deviceClient.GetFileUploadSasUriAsync(new FileUploadSasUriRequest() { BlobName = fileName });`

[2021-05-12 08:10] chengyu-liu-cs opened #75166 "How to deploy scheduled jobs to a Databricks from Azure DevOps CICD assuming there is an exported json configuration from Databricks -> Jobs -> scheduled job json"
[Enter feedback here]

Hi,
In Azure DevOps, there is a way to deploy notebook to Databricks workpsace. Similarly, is there a way to deploy Databricks scheduled jobs from Azure DevOps using CICD. In this case configuration json file which can be exported from Databricks workspace (see example below).

{
    "existing_cluster_id": "existing_cluster_id_123456",
    "notebook_task": {
        "noteboo

[2021-05-12 08:25] Herman5006 commented on #75015
@JayaChatterjee-MSFT  any updates?

[2021-05-12 08:31] sasever commented on #72312
@XiaoyuMSFT , I think I couldn't clearly describe the point of my reported issue. I am not mentioning to change the number of distribution databases. the info shared in the document

"_To balance the parallel processing, select a distribution column that:

**Has many unique values.** The column can have some duplicate values. However, all rows with the same value are assigned to the same distribut

[2021-05-12 08:32] GitaraniSharma-MSFT commented on #74862
@afield1235 , I'm following up to check if there are any updates from your end.

[2021-05-12 08:46] chiehpower commented on #75088
Hi @VikasPullagura-MSFT ,

I appreciate your demonstrations.
I tested your yaml file that it can work well.

As the instruction mentioned two images, so I also tried both images.
![image](https://user-images.githubusercontent.com/32332200/117943979-495bda00-b33f-11eb-8bed-ab346860f6a6.png)

The `nvidia/cuda:9.0-base-ubuntu16.04` cannot work as normal as running on local.
Here is what I use this im

[2021-05-12 09:11] francesco1119 commented on #75119
I tested today and I can confirm you that you have the same bug for both drop down menu in:

- Add credentials
- Add discovery source

I tested and the second one works with domain credentials while the first fails

[2021-05-12 09:21] AjayKumar-MSFT commented on #75002
@diberry, We will close this out for now, but if you feel you need more information please just let us know. Thanks for bringing this to our attention. Thanks for the comment msangapu-msft.

[2021-05-12 09:21] #75002 closed

[2021-05-12 09:22] psmanhas commented on #75110
@jhyot Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-05-12 09:22] psmanhas commented on #75110
@palma21 Can you please check and add your comments on this doc update request as applicable

[2021-05-12 09:32] Trundlore opened #75168 "License requirement?"
What is the license requirement for the email notification feature? is this Azure AD P1 or P2?
This and other specific capabilities seem very unclear as to whether they are P1 or P2 features now

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5d52308-2421-2397-6773-6e786e685aa9
* Version Independent ID: 447c42d5-9627-2

[2021-05-12 09:44] cristimitulescu opened #75169 "Blog link not working"
"This blog post discusses how to create multi-VM environments from your Azure Resource Manager templates." The link to the blog points to a page saying that the blog has been retired.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f9e7a3d-7e06-e7d0-dcee-14d670a12325
* Version Independent ID: 36de6a8d-c0f7-777b-ad95-3a

[2021-05-12 10:09] JackCaster commented on #74839
Thanks.

[2021-05-12 10:09] #74839 closed

[2021-05-12 10:14] Mahesh-MSFT opened #75170 "VMSS and Shared Managed Disks"
Current documentation covers creating [Azure files (SMB shared drives)](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-faq#are-data-disks-supported-within-scale-sets-) with VMSS.

However, it is not clear if [Shared Managed Disks](https://docs.microsoft.com/en-us/azure/virtual-machines/disks-shared-enable?tabs=azure-cli) (The SKU) can be used with VMSS

[2021-05-12 10:15] VikasPullagura-MSFT commented on #75120
@mimckitt Can you please check on this and add your comments.

[2021-05-12 10:17] VikasPullagura-MSFT commented on #75088
@chiehpower As I mentioned earlier, I will have the product team to comment on the support, document and versioning part.

[2021-05-12 10:27] andrehjz16 opened #75171 "Error: Use TLS/SSL certificates to secure a web server"
![error](https://user-images.githubusercontent.com/23310927/117959859-fdb12c80-b34e-11eb-9b58-d7576c841497.jpg)
I have followed exactly the steps in the tutorial up until I encounter this error when creating vm. I'd like to know how to solve it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 996eb4d1-198e-a69a-b9c5-d24

[2021-05-12 10:37] BhargaviAnnadevara-MSFT commented on #75169
@cristimitulescu Thanks for bringing this to our attention. As the linked document calls out, we're currently working on migrating existing blog posts (excluding outage updates) to our DevTest Labs documentation itself. From now on, we'll be posting feature updates and informative blog posts on the [DevTest Labs Azure blog](https://azure.microsoft.com/blog/tag/azure-devtest-labs/) and [DevTest Lab

[2021-05-12 10:42] padmashri15 commented on #15515
Hi We are also looking for a similar solution where within the OCR we should be able to read the Barcode scanning. Pl. let us know if there is a road map in the near feature.

[2021-05-12 10:43] ruifrvaz opened #75172 "configure sampling in azure functions"
ApplicationInsights.config does not exist in azure function bin folder. The document does not explain how to configure sampling for azure functions, especially telemetry client events, which are being sampled by default. Would be nice to have some documentation regarding this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-05-12 10:47] CHEEKATLAPRADEEP-MSFT commented on #75166
@chengyu-liu-cs  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2021-05-12 10:51] ruifrvaz commented on #5297
@davidobrien1985  it was renamed by us to a more suitable name. you can change the header name somewhere.

[2021-05-12 10:53] CHEEKATLAPRADEEP-MSFT commented on #75164
@rplati Unfortunately, you cannot create  a secret scope with a pipeline. You need to manually create the secret scope manually as the steps defined in this document.

Hope this helps.

[2021-05-12 10:55] VikasPullagura-MSFT commented on #75088
@chiehpower When you run docker run -it --rm --gpus all nvidia/cuda:9.0-base-ubuntu16.04 bash , "bash" is a shell (long running process which will not terminate until exit call is made to it) which is being started as an interactive terminal.

In Azure Container Instance the container is not created with flags like (-it, interactive terminal), so the image will do its job and exit.

[2021-05-12 11:04] ruifrvaz commented on #75172
documentation available here. sorry for oversight:
https://docs.microsoft.com/en-us/azure/azure-functions/configure-monitoring?tabs=v2#configure-sampling

[2021-05-12 11:04] #75172 closed

[2021-05-12 11:06] VikasPullagura-MSFT commented on #75170
@Mahesh-MSFT
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-05-12 11:06] VikasPullagura-MSFT commented on #75170
@mimckitt
Can you please check and add your comments on this doc update request as applicable.

[2021-05-12 11:21] pquinton opened #75173 "Template in section: Install guest health extension and associate with data collection rule, does not successfully deploy due to lack of "properties" section"
Template in section: Install guest health extension and associate with data collection rule,  does not successfully deploy due to lack of "properties" section

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b0ecacc-0792-42eb-f396-551988b74b8b
* Version Independent ID: a9799067-aa80-3f4b-cbcb-2d4ccefe2baf
* Cont

[2021-05-12 11:50] SwathiDhanwada-MSFT commented on #75173
@pquinton Thanks for your comment. We will review the issue and get back to you shortly.

[2021-05-12 12:00] thec0dewriter opened #75174 "Intergrated windows authentication support"
Hello,
Currently the page under the section "Integrated Windows Authentication" mentions that:
"IWA is for apps written for .NET Framework, .NET Core, and Universal Windows Platform (UWP) platforms."

However there is a code sample for Java which might eventually work but it's confusing that it  is contradictory with the previous description.

Is it supposed to work or not?
Thanks!

---
#### Docum

[2021-05-12 12:01] psmanhas commented on #75136
@bitsofinfo Access to a key vault is controlled through two interfaces: the management plane and the data plane. The management plane is where you manage Key Vault itself. Operations in this plane include creating and deleting key vaults, retrieving Key Vault properties, and updating access policies for which you need RBAC. The data plane is where you work with the data stored in a key vault. You

[2021-05-12 12:10] psmanhas commented on #75154
@ATR99 Thank you for your query!!!

Not all clients support drive redirection so can you please confirm if your client does as mentioned [here](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fwindows-server%2Fremote%2Fremote-desktop-services%2Fclients%2Fremote-desktop-app-compare&data=04%7C01%7CPreeti.Manhas%40microsoft.com%7C3a276035ed38410e315208d88

[2021-05-12 12:13] JN-TGB opened #75175 "Please provide an example that uses an ARM template"
Please could the provisioning of a Managed VNet in Synapse have an example that uses an ARM template alongside the example that uses the Portal.

I have followed through the example above and can get it to work via the Portal.  However when I extract the ARM template and attempt to create my own (i.e. for different environments: dev, test, uat, prod) setting the managedVirtualNetwork property to d

[2021-05-12 12:18] vipulsparsh commented on #75161
@Pladdinmaddin Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-05-12 12:19] vipulsparsh commented on #75162
@robert-vanderboon Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-05-12 12:20] psmanhas commented on #75137
@bitsofinfo I checked the same in my subscription and was able to find Batch as below:

![image](https://user-images.githubusercontent.com/35990743/117973884-8b3e4d80-b34a-11eb-9a18-b4e198b1f99e.png)

Can you check what permission you currently have over subscription or if you can copy the name from article and paste in search bar as sometime it won't show up without proper spaces

Thanks

[2021-05-12 12:22] vipulsparsh commented on #75168
@Trundlore Thanks for reaching out and we understand the confusion on the page. We will update the team to mention or link license requirement on this page as well if possible.

Coming to your question, the notification feature needs AAD P2 license. [You can read more here.](https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/overview-identity-protection#license-requirement

[2021-05-12 12:24] vipulsparsh commented on #75174
@thec0dewriter Thanks for the feedback. We will engage the content development team for further investigation, they will verify and update accordingly.

[2021-05-12 12:26] ConfigConfused opened #75176 "Permission denied"
Following directions on this page results in "Permission denied (publickey)."

Unable to access VM via SSH.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2ede563-b873-0bc3-959f-69e555f0efcc
* Version Independent ID: 8471d9e4-6c79-0cf1-c5ed-50c58e1b92aa
* Content: [Sign in to Linux virtual machine in Azure using Azure

[2021-05-12 12:49] GitaraniSharma-MSFT commented on #75159
@olafloogman , thank you for your feedback. We'll review this and get back to you shortly!

[2021-05-12 12:52] #75164 closed

[2021-05-12 12:54] kilasuit opened #75179 "Preview in Azure Sentinel links"
The links for Azure Sentinel on this page https://docs.microsoft.com/en-us/azure/security/ still show preview in them.

[2021-05-12 12:58] alcsoft commented on #32068
This should solve it.
`{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "sqlServerName": {
            "type": "string",
            "defaultValue": "[concat('sql-', uniqueString(resourceGroup().id))]",
            "metadata": {
                "description": "Name of the SQL server"

[2021-05-12 13:05] NavtejSaini-MSFT commented on #75007
@mksuni Can you please check and confirm we can make the change below from - 'ENGINE':'django.db.backends.postgresql_psycopg2' to 'django.db.backends.postgresql'
![image](https://user-images.githubusercontent.com/52257742/117979550-067b1180-b301-11eb-82e5-bc15304a38ad.png)

[2021-05-12 13:06] NavtejSaini-MSFT commented on #75008
@mksuni Please confirm if we can make this change and we will raise the PR for the same.

[2021-05-12 13:43] D-Moonesinghe commented on #63555
Here is one suggestion MS Docs team wants to consider.

When you change knowledge documents like that; instead of making old
knowledge completely disappear off the docs site, what if you left the old
knowledge there with a big red warning saying this knowledge is no longer
the current expert opinion.
It would be  helpful to us (users of your docs site) to know this was the
old thinking and what it

[2021-05-12 14:00] MonikaReddy-MSFT commented on #75171
@andrehjz16 -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-05-12 14:09] MonikaReddy-MSFT commented on #75089
@lesscodingmorehappiness -Thanks again for bringing this to our attention. We have added this in our backlog to get the doc updated as 19c has significant changes as it will be an entire rewrite. It will be live once the content is approved and is merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly con

[2021-05-12 14:10] #75089 closed

[2021-05-12 14:29] bitsofinfo opened #75180 "Confusing wording: batch network security groups: optional or auto created by batch?"
Are the inbound/outbound rules listed within this section optional by default or auto-created by the batch pool provisioning process as stated above? This is confusingly worded, an azure support engineer said this might actually be required, despite the section stating "Network security groups: Batch default: Batch adds NSGs at the network interfaces (NICs) level attached to compute nodes."

[code

[2021-05-12 14:29] osobeso commented on #74065
I'm having this same problem.
Is there any known workaround for this? Or any other way to drop the NET_RAW capabilities in the pods, even if it has to be set manually?
Thanks!

[2021-05-12 14:44] SumanthMarigowda commented on #75155
@hhubikThanks for the question! We are investigating and will update you shortly.

[2021-05-12 14:46] antimajain opened #75181 "spring data connector v2 issue"
I am working on java and using id as a partition key In my container. I have a total of almost 50k data out of which I am trying to retrieve only 82 based on some filter but  it is returning only 42 data with an empty token like this-

 "{\"token\":null,\"range\":{\"min\":\"xxxxxxxxxx\",\"max\":\"xxxxxxxxxx\"}}"

I am using these in headers-
       headers.add("Authorization", authString);

[2021-05-12 14:51] SamaraSoucy-MSFT commented on #75175
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-05-12 15:13] kof-f commented on #74534
Hey, @AzureAzim this is not supported in the task. If you'd like to do this you must use a template, see the example here:
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/image-builder-virtual-desktop

[2021-05-12 15:19] MonikaReddy-MSFT commented on #74534
@kof-f - Thank you for providing your insights.
@AzureAzim  - I hope @kof-f has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue..

[2021-05-12 15:19] #74534 closed

[2021-05-12 15:20] chengyu-liu-cs commented on #75166
@CHEEKATLAPRADEEP-MSFT I am not sure why this is not directly related. Both Azure Databricks and Azure DevOps are Microsoft services and we are paying for the services. But I did not find documentation for connecting these two services. I dont understand why I should ask in Stack Overflow.

Should I rename title, such as "Missing doc for connecting azure devops and databricks scheduled jobs"?

[2021-05-12 15:21] mlindner-gk opened #75182 "Issues with CONFLUENCE SAML SSO add-on redirect"
Hello,

We installed this add-on on our confluence instance. A majority of the time we don't have any issues, however one of our users has been getting weird behavior with it.

The basics of it is once the user clicks on the Login with Azure AD button, they're redirected to the following url (Note the https at the end) : https://confluence.companyname.nethttps

This is the same issue, but for conf

[2021-05-12 15:24] JamesTran-MSFT commented on #75176
@ConfigConfused
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-12 15:31] danSpotter opened #75183 "settings.configuration.module.name error"
Can you provide a working example of using this configuration in ARM?

"settings": {
                    "wmfVersion": "latest",
                    "configuration": {

                        "Module":{
                            "Name": "xInstallGRB",
                            "Version":"0.0"
                        },
                        "Function": "xInstallGRB"

                    },

[2021-05-12 15:37] TiTi opened #75184 "Premium block blobs operational backup with Azure Backup"
Hello, could you clarify if operational backup with Azure Backup is supported for premium block blobs in LRS ?
The page currently says:

It says "premium blobs" **won't be restored** (but which type of blob are we talking about? block, page?).
But the feature seems available nonetheless:
![image](https://user-images.githubusercontent.com/137691/118003180-a27c3b80-b348-11eb-81b1-4617d051209c.png)
!

[2021-05-12 15:44] mmacy commented on #72118
@allenh100 Thanks for your patience. It looks like @hamiltonha has merged PR #157219 intended to fix this and it looks like it matches your diff. Unsure whether you have time to verify, but I'll leave this open for a couple days before closing (or you can close it) in case you have additional comments.

[2021-05-12 15:47] dirkrenick opened #75186 "not enough good examples"
no example provided for setting defaults for a widget value.  and would be nice if you put the standard design pattern of widgets set , get, removeAll()
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15a4bd95-16b0-3c90-c90b-53d098d7beb1
* Version Independent ID: 9eee94e5-fbc8-3242-4440-91bdb456f25

[2021-05-12 15:49] sjflanagan opened #75187 "Wrong info on Nested OU scope"
The image in the doc shows that Nested OUs will not be included with Sync on scoping. However, our testing shows that Nested OUs do in fact sync their objects.

This is the second image in:

Scope provisioning to specific users and groups

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1efe4486-2449-4ec7-671b-63d398eec6

[2021-05-12 15:52] MashaMSFT commented on #64521
Hi @ahujtarun ,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-12 15:52] jpaulo-kumulus opened #75188 "]"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37c1f253-44c2-bd07-4c74-9d4c77c45e6e
* Version Independent ID: 281ce98c-115b-3c39-52b7-3df95dfd8b52
* Content: [How to use API Management in Virtual Network with Application Gateway - Azure API Management](https://docs.microsoft.com/en-us/azure/api-ma

[2021-05-12 15:53] MashaMSFT commented on #64981
Hi @RonnieQuan ,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-12 15:54] MashaMSFT commented on #66638
Hi @alpkayaMSFT ,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-12 15:54] HARAVIS commented on #61834
@MashaMSFT thank you, please keep me posted.

[2021-05-12 16:00] JamesTran-MSFT commented on #75182
@mlindner-gk
Thanks for your feedback! Can you share the documentation that you're referring to so I can take a closer look into your issue?

[2021-05-12 16:03] MashaMSFT commented on #67548
Hi @sgreci ,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-12 16:04] mlindner-gk commented on #75182
Hi JamesTran,

the documentation can be found here:
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/confluencemicrosoft-tutorial

The plugin I'm referring to is:
https://www.microsoft.com/en-us/download/details.aspx?id=56503

[2021-05-12 16:04] MashaMSFT commented on #67702
Hi @fillip1983 ,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-12 16:14] jsmartt opened #75189 "Please add documentation for NVIDIA GRID Driver License Type"
After lots of frustration and debugging why I couldn't get 2 GPU-powered displays on my Linux NV12s_v3 VM, we finally found that the Azure-provided extension is configuring the license type (aka feature type) to `1` (GRID vGPU), not `2` (GRID Virtual Workstation). The virtual workstation license type is required for multiple monitors.

My request for these docs is to make this configuration option

[2021-05-12 16:16] Oury-MSFT commented on #75181
@antimajain We are looking into this and will get back shortly. Thanks

[2021-05-12 16:21] dasabate opened #75191 "D365 online limit of two concurrent batch calls"
The line "_For Dynamics 365 online, there's a limit of **two concurrent batch calls** per organization._" is outdated since this is no longer true. This limit has been overseeded by the new API Limits (throttling).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 304d4c46-c0ac-05c9-15eb-d8b677ec5e90
* Version Independent

[2021-05-12 16:25] ilyas-it83 commented on #24857
just set export MSYS_NO_PATHCONV=1

[2021-05-12 16:40] MashaMSFT commented on #68517
Hi @vasanth-janakiraman , thanks for contacting Microsoft, and my apologies for the delay! I am hoping that your issue has already been addressed - when I click the links under SQL Database, it's taking me to SQL Database content.

However, your feedback about the shared content is valuable that I'll pass along to the content owners. I'll close out this Git Issue for the time being but please feel

[2021-05-12 16:40] #68517 closed

[2021-05-12 16:43] SumanthMarigowda commented on #74842
@AstonPrograms  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-12 16:43] #74842 closed

[2021-05-12 16:44] himanshusinha-msft commented on #75186
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-05-12 16:44] MashaMSFT commented on #68584
Hi @VitalyMCT , thanks for contacting Microsoft and sharing your feedback! My apologies, I'm not sure I understand - this paragraph is explaining the minimum version of the tool that supports the feature. Would you mind providing an example of how we should modify this to make it more clear?

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-12 16:44] SumanthMarigowda commented on #74943
@littlerufe Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused. Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-05-12 16:45] himanshusinha-msft commented on #75191
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-05-12 16:52] VanMSFT commented on #67870
#reassign:shohamMSFT

Hey @shohamMSFT - Can you please confirm this statement in the doc and if we need to update it? Thanks!

![image](https://user-images.githubusercontent.com/40007119/118014072-a9cf2500-b307-11eb-9056-d6cd837bad17.png)

[2021-05-12 16:52] JamesTran-MSFT commented on #75179
@kilasuit
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-12 16:55] #74927 closed

[2021-05-12 16:55] ryanthedev commented on #66298
@sredman omg....I was in a real battle with this error using terraform.  This issue saved my sanity.

[2021-05-12 16:55] VitalyMCT commented on #68584
@MashaMSFT There are a few very confusing aspects there, including:

1. The paragraph does not say "minimum version" or words to that effect. It sounds like the user must use those specific versions. And that perhaps the capabilities were discontinued/deprecated later, which I do not think is the case.

1. The paragraph is in general a few years out of date with the realities of the related produc

[2021-05-12 16:56] zr-msft commented on #64549
thank you @scubakiz and @turbodog for the feedback!

You can reset the administrator password on windows node pools:
https://docs.microsoft.com/azure/aks/windows-faq#how-do-i-change-the-administrator-password-for-windows-server-nodes-on-my-cluster

#please-close

[2021-05-12 16:56] #64549 closed

[2021-05-12 16:57] jonwbstr opened #75193 "More info on how to verify media optimizations"
I followed all the steps on a vm used to create master image, and then tried to verify on my master image that teams had media optimizations loaded. I got the normal teams version banner, nothing indicating media optimization was present.

Next, I converted the machine to a master image and deployed a WVD host using the image. When connected to a machine created from that image through WVD I get "

[2021-05-12 16:57] bandersmsft commented on #74997
@andyballgit Hi there. As you discovered, any reservation discounts that your organization might have negotiated are not shown in the EA portal price sheet. Previously, the discounted rates were available in the EA portal, but that functionality was removed some time ago. If you’ve negotiated reduced reservation prices, *currently* the only way to get a list of them is to raise an Azure support re

[2021-05-12 16:57] #74997 closed

[2021-05-12 16:57] jonwbstr commented on #75193
Oh yeah, I'm getting a firewall prompt now so part of deploying teams on WVD seems to include a firewall step that wasn't mentioned in this article ;)

[2021-05-12 16:59] sumeetmittal commented on #75134
LB with IP based backends is recent addition to LB feature set. PLS is not supported in that configuration. It is indeed a limitation. I will update the limitations section to include this. Thanks

[2021-05-12 17:09] JamesTran-MSFT commented on #75124
@Datatech-AK
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-12 17:13] MashaMSFT commented on #68753
Hi @swbhartims , thanks for this feedback! You're right, the region is called [West India](https://azure.microsoft.com/global-infrastructure/geographies/), however we've chosen to append the region to the end in this particular view to allow us to organize the regions in alphabetical order, which we believe is more useful for customers in this particular context.

I hope that helps and please let

[2021-05-12 17:13] #68753 closed

[2021-05-12 17:13] jose-l-carvalho opened #75195 "update domain 5"
Hi.

on the Fault domain picture, under fault domain 0, the last update domain shouldn't be 4 instead of 5?

![image](https://user-images.githubusercontent.com/46929442/118016766-b1192180-b34d-11eb-8ca0-620b04cd0969.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7342d51a-4565-df38-ec28-03c140464e73
* Version Indep

[2021-05-12 17:16] shadowkiller3 commented on #35432
@jimmymcpeter Do you know if I can map firstinitial lastname to the user principal name on Azure. The Sage Intacct user ids were created using first initial last name format which does not match our mail prefix format (firstname.lastname) and I cant change the user id on intacct once created.

Thanks

[2021-05-12 17:16] mimckitt commented on #75195
#assign: @mimckitt

I believe you are correct! I will work to update the image this week.

[2021-05-12 17:19] shadowkiller3 commented on #11525
@Bcedeno Were you able to map firstname initial full lastname to the upn? Im in the same situation and wondering of it's doable.

[2021-05-12 17:22] drewwilliams1982 opened #75196 "Upgrade Azure CLI"
I had this exception: `unauthorized: Application not registered with AAD`

The simple fix not listed here was to update my Azure CLI. I think the payload of the secret must have changed following an upgrade to my AKS cluster.

I think this should be listed as the first troubleshooting step.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2021-05-12 17:23] mimckitt commented on #75195
Pushing an update. Will be live around 4PM PST today.

#please-close

[2021-05-12 17:23] #75195 closed

[2021-05-12 17:26] Pariyat opened #75197 "incorrect syntax"
[Enter feedback here]

Syntax of
`CREATE LOGIN Mary@domainname.net FROM EXTERNAL PROVIDER;`
for serverless sql pool seems in currect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9832f753-4b65-b3cb-a2f0-a79eb34f6207
* Version Independent ID: f7772d99-2910-221a-9f65-4894fade156c
* Content: [SQL Authentication - Azure

[2021-05-12 17:28] MonikaReddy-MSFT commented on #75196
@drewwilliams1982 -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-05-12 17:29] MonikaReddy-MSFT commented on #75193
@jonwbstr -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-05-12 17:31] MashaMSFT commented on #69790
Hi @rarandiv , thanks so much for your feedback! We processed a change to update the doc and add this note :)

I'll close out this Git Issue for the time being but please feel free to comment should you need anything further.

Thanks again for reaching out and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2021-05-12 17:31] #69790 closed

[2021-05-12 17:34] MashaMSFT commented on #70062
Hi @SquirrelAssassin ,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-12 17:39] daemel opened #75198 "Page is out of date and misleading"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aaf84229-3c5c-64f8-07fb-3ffe8847b96e
* Version Independent ID: 800f7491-7bfd-94b9-719a-4fef923ba77f
* Content: [Configure export settings in Azure API for FHIR](https://docs.microsoft.com/en-us/azure/healthcare-apis/fhir/configure-export-data)
* Conte

[2021-05-12 17:40] John-Garland opened #75199 "Should Cosmos DB be included in the page under services that support Azure AD Authentication"
Should Cosmos DB be included in the page under services that support Azure AD Authentication? https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-rbac
(Yes, it is in preview, but perhaps can be noted as such in the status column.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726adac9-1848-01a6-9586-842c81f8

[2021-05-12 17:41] MonikaReddy-MSFT commented on #75189
@jsmartt - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-05-12 17:41] John-Garland opened #75200 "Should Media Services be included in the list of services that support Managed Identities?"
Should Media Services be included in the list of services that support Managed Identities for Azure resources?
https://docs.microsoft.com/en-us/azure/media-services/latest/concept-managed-identities

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726adac9-1848-01a6-9586-842c81f820f7
* Version Independent ID: 249db438-8c

[2021-05-12 17:42] jonwbstr commented on #75193
Sorry for putting two items in one issue. I'm done with the teams firewall tangent

Firewall rule could be added via Local GPO, Domain GPO or locally. I'm not sure best practice but here's one approach

[code]

[2021-05-12 17:42] JamesTran-MSFT commented on #75182
@mlindner-gk
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-12 17:43] azaricstefan commented on #58619
At the moment no.
In the future you could expect to have an option to specify the file with the schema to be used. (There is no exact timeline when this will be available)

[2021-05-12 17:45] MonikaReddy-MSFT commented on #75196
@drewwilliams1982 - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-12 17:45] #75196 closed

[2021-05-12 17:47] MonikaReddy-MSFT commented on #75171
@andrehjz16 -
The article has this:

[code]

Which creates an ssh key to use with the VM. Adding a line specifying a different ssh key value will cause issues and isn't in the article.

Basically, you need to choose one or the other - using an existing key with --ssh-key-values or having the CLI create one for you using --generate-ssh-keys. One, but not both. Hope this helps.

At this moment, Sinc

[2021-05-12 17:47] #75171 closed

[2021-05-12 17:47] miqm commented on #75134
@sumeetmittal thank you. xo you have plans to support it?

[2021-05-12 17:50] MonikaReddy-MSFT commented on #75060
@ashinzekene - Can you please provide more information such as the command you're running that's not found?
​

[2021-05-12 17:52] MonikaReddy-MSFT commented on #75183
@danSpotter -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-05-12 17:53] JamesTran-MSFT commented on #75179
@kilasuit
Since you created a PR to update the documentation and it's currently waiting for the author to review, I'll go ahead and close out this thread.

Adding @TerryLanfear for visibility on this.

[2021-05-12 17:53] #75179 closed

[2021-05-12 17:55] sumeetmittal commented on #75134
Yes, this is a roadmap item.

[2021-05-12 18:01] zmarty opened #75202 "Can FrontDoor inform our servers of the location and/or timezone of users through headers"
Can FrontDoor inform our servers of the location and/or timezone of users through headers?

On each page request that goes User -> FrontDoor -> Backend server, can we get the user location and/or timezone based on their IP address?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbadca96-7341-36d0-8a38-1c6a5c96b22d
* Ve

[2021-05-12 18:06] jonwbstr opened #75203 "Missing a step"
Had to read this several times to figure out what was missing

Consider

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85b331f4-5939-688a-31e6-7f4c5e1c185d
* Version Independent ID: 42e1f341-92c0-0a9b-9c3b-efbb5238844f
* Content: [Microsoft Teams on Windows Virtual Desktop - Azure](https://docs.microsoft.com/en-us/azur

[2021-05-12 18:07] ashinzekene commented on #75060
Sorry, I didn't read the text well, I thought there was supposed to be a command there that was missing. Closing this

[2021-05-12 18:07] #75060 closed

[2021-05-12 18:08] mtittle52 opened #75204 "More detail provided around the OU recommendation"
Would like see more detail provided on the OU recommendation for storing AzureADSSOAcc.  The recommendation states to store the computer object in an OU "where only Domain Admins have access".  Explicit instructions for recommended OU permissions to accomplish this would be helpful. Domain Admins with Full Control, I'm assuming, but what else is required?  Any other read or write permissions requi

[2021-05-12 18:11] JamesTran-MSFT commented on #75176
@ConfigConfused
Thank you for your time and patience!

Can you try following the [Troubleshoot sign-in issues](https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-linux#troubleshoot-sign-in-issues) section of this doc. Additionally, since this feature is in preview, it's recommended to [share your feedback](https://docs.microsoft.com/en-us/azure/active-directo

[2021-05-12 18:11] #75176 closed

[2021-05-12 18:12] JamesTran-MSFT commented on #75199
@John-Garland
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-12 18:12] JamesTran-MSFT commented on #75200
@John-Garland
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-12 18:13] ColeMSFT commented on #74792
I noticed the CLI example here doesn't have the $ next to the variables yet. I know you wrote the changes would go live shortly, but I'm curious if the changes should've been live now?

[2021-05-12 18:13] JamesTran-MSFT commented on #75204
@mtittle52
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-12 18:15] HARAVIS commented on #61834
Hello Masha,

Thank you, Please keep me posted as we have an internal work item also opened to track the changes suggested by customer to be added into the public doc.

[Description: Description: Description: Microsoft Logo]<https://nam06.safelinks.protection.outlook.com/?url=http%3A%2F%2Fwww.microsoft.com%2Fen-us%2Fnews%2FImageDetail.aspx%3Fid%3D4DABA54CBB4D25A9E9905BC59E4A6D44E33694EA&data=02%7C

[2021-05-12 18:15] PRMerger17 commented on #61834
Only Microsoft employees can manage issues via commenting in this repo.

[2021-05-12 18:16] HeidiSteen commented on #75003
Hi @brunobeltran, this issue is now fixed in the documentation by the author. He took your suggestion of "orgs".  Thanks!!

#please-close

[2021-05-12 18:16] #75003 closed

[2021-05-12 18:17] HeidiSteen commented on #74547
Hi @Jacintopc, I'll close this issue since I believe it's been addressed, but if you have further questions, please feel free to reopen.

#please-close

[2021-05-12 18:17] #74547 closed

[2021-05-12 18:20] ConfigConfused commented on #75176
Troublehooting steps mentioned do not address but more importantly steps provided in documentation do not achieve outcome.

Will leave feedback.

[2021-05-12 18:40] AjayKumar-MSFT commented on #75070
@cephalin, Specific to the verbatim on the Azure Portal that Fraser pointed out, I believe '[Managing access to your organization's repositories](https://docs.github.com/organizations/managing-access-to-your-organizations-repositories)' linking this GitHub page in this doc, maybe helpful. Requesting your review and comments on this.
![image](https://user-images.githubusercontent.com/44606227/11802

[2021-05-12 18:42] kobulloc-MSFT commented on #75203
@jonwbstr Thank you very much for your feedback.  We are reviewing this and will get back to you shortly.

[2021-05-12 18:44] roopasd opened #75206 "How to know the maximum capacity of Databricks pool when it is set to optional."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61b00a93-56bc-2f11-efb3-4b821ac40955
* Version Independent ID: 90c231d0-76b0-4108-5e76-82c40b9deef6
* Content: [Configure pools - Azure Databricks - Workspace](https://docs.microsoft.com/en-us/azure/databricks/clusters/instance-pools/configure)
* Cont

[2021-05-12 18:51] jonwbstr commented on #75193
Back to Media Optimization.

I was testing in the Remote Desktop Web App, and get "WVD Media Not Connected"
I connected using the Remote Desktop App (not the web app) and got "WVD Media Optimized"

To recap, looks like you must connect to the machine through the desktop WVD Remote Desktop app to verify Media Optimization is working.

[2021-05-12 18:51] ChaitanyaNaykodi-MSFT commented on #75188
Hello @jpaulo-kumulus, Thank you for reaching out. Could you please elaborate more on the issue faced and also let us know the exact step where the information is missing? That will be very helpful.

[2021-05-12 18:52] miqm commented on #75134
that's great news. can you provide some eta, eg. q3 2021?

[2021-05-12 19:04] DeanGross opened #75208 "Where is Section 2.1"
2. 1 Logging and Monitoring is missing from the web page, it is in the excel file. Please add the missing text
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9df4415d-d6fb-cc88-1c73-e871aff7d026
* Version Independent ID: f855eab6-9e64-fa7d-eccb-d6dc8283fbc2
* Content: [Azure security baseline for API Management](https:/

[2021-05-12 19:05] crisansou opened #75209 "SQL Database - The dataset doesn't register a new version of the data when parameter "create_new_version" is set to true"
Hi,

I created a dataset pointing to a table in the SQL Database. When adding a new column in the table I tried to generate a new version of the dataset, however the data was modified and the version continued as 1.

Does anyone know how to solve this problem using the SDK? Through the web interface it was possible to register the new version, but when I switch to version 1, the change from versio

[2021-05-12 19:08] msmbaldwin commented on #75208
Hi, @DeanGross. As it says in the introduction, "Controls not applicable to API Management, or for which the responsibility is Microsoft's, have been excluded.".

In the case of API Management, section 2.1. "Use approved time synchronization sources" is listed as "Not Applicable".

Thanks! #please-close

[2021-05-12 19:08] #75208 closed

[2021-05-12 19:18] silverl commented on #40132
@SaiKishor-MSFT Is there any update? Thank you.

[2021-05-12 19:27] tamram commented on #74943
@littlerufe - Thanks for your feedback. This appears to have been updated.

#please-close

[2021-05-12 19:27] #74943 closed

[2021-05-12 19:39] jpaulo-kumulus commented on #75188
Sorry for my mistake @ChaitanyaNaykodi-MSFT
I was gathering information and constructing the text and inadvertently created the blank issue.
I updated the text, please let me now if is cleary.

[2021-05-12 19:42] roninstar commented on #62959
Hi Lisa, I see that we need to save the voiceprofile id's.  But I don't see any examples online how to retrieve the enrolled voiceprofiles from the server for later Speaker Recognition yet?  Is this in the lastest CognitiveServices nuget package yet and can you point me to an example so I can use this functionality properly?  thanks for your help!

[2021-05-12 19:48] MSEvanhi commented on #73584
@SHxKM we do not support schema validation today for Custom Providers. This is to be handled by the endpoint the Custom Provider calls.

[2021-05-12 19:49] kobulloc-MSFT commented on #75203
@jonwbstr That took me a couple passes as well.  I'll update that make sure it's easier to understand.

![image](https://user-images.githubusercontent.com/37556655/118035680-646b2180-b320-11eb-9c32-dad99c2a9ff9.png)

[2021-05-12 19:56] agoodwin opened #75211 "Best practice and clarity for static vs dynamic permissions"
Hi,

Regarding the listing of permissions that an app requires (in the app registration portal), there is something that has been confusing me and after a lot of reading through the docs I'm still not sure I understand things properly. So I'm thinking there might be some opportunity to clarify things here.

The page has this paragraph (emphasis mine):

What is confusing me, is that I can't find an

[2021-05-12 20:11] andrew-twigg opened #75212 "Private endpoint no longer preview?"
Hi, Image in section https://docs.microsoft.com/en-us/azure/key-vault/general/private-link-service?tabs=portal#create-a-new-key-vault-and-establish-a-private-link-connection displays private endpoint in preview. No longer in preview?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 191d0067-67ee-212d-77f6-ffb1db64582f
*

[2021-05-12 20:13] lisaweixu commented on #62959
yeah, check RetrieveEnrollmentResultAsync. Some fragment of C++ sample:

auto config = YouSpeechConfig...
auto client = VoiceProfileClient::FromConfig(config);
//profile1 is your saved voice profile.
auto result = client->RetrieveEnrollmentResultAsync(profile1->GetId(), profile1->GetType()).get();

[2021-05-12 20:25] agoodwin opened #75213 ""Other permissions granted" section not accurate?"
Hi,

In the case where a client application dynamically requests a token for certain scopes, I'm not sure if [this section](https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-configure-app-access-web-apis#other-permissions-granted) of the page is accurate?

Quote:

Related to #75211, I have been testing this scenario by having no statically configured permissions for an app

[2021-05-12 20:26] imhdev opened #75214 "ErrorMessage: VM has reported a failure when processing extension 'KeyVaultForWindows'. Error message: "Failed to parse the configuration settings with: 'not a string''""
Error message: Failed to parse the configuration settings with: 'not a string'

I'm trying to add extension KeyVaultForWindows to my VMSS. I'm getting above error when tried using arm deployment and using cli as well.

Below is the snippet. Not sure what is wrong.
`# Build settings
    $settings = '{"secretsManagementSettings":
    { "pollingIntervalInS": "' + "3600" +
    '", "certificateStoreNam

[2021-05-12 20:40] roninstar commented on #62959
excellent! thanks so much for your help!

[2021-05-12 20:49] dave22000 opened #75215 "[Documentation Request] Best Practices for supporting multiple B2C environments with CI/CD"
Could documentation be added to this page surrounding best practices for automating multiple environments?

Basically, something similar to the VS Code Extension tool for updating tokenized settings: https://github.com/azure-ad-b2c/vscode-extension#policy-settings but as part of a CI/CD pipeline rather than run locally.

Or is the recommended approach to keep the various environments in Source Con

[2021-05-12 20:50] JamesTran-MSFT commented on #75211
@agoodwin
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-12 20:51] JamesTran-MSFT commented on #75213
@agoodwin
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-12 20:52] JamesTran-MSFT commented on #75212
@andrew-twigg
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-12 20:52] jlichwa commented on #74361
RBAC is available on data plane also. Documentation updated https://docs.microsoft.com/en-us/azure/key-vault/general/authentication #please-close

[2021-05-12 20:52] #74361 closed

[2021-05-12 20:53] JamesTran-MSFT commented on #75215
@dave22000
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-12 21:12] pyasuda opened #75216 "Special characters allowed in passwords"
The password requirement for including a special character says it must be a regex match for `[\W_]`. Wouldn't that mean the only special character allowed is an underscore, since \W is alphanumerics plus underscore?

Thanks
Peter Yasuda

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e14cfdc3-89e0-a2cf-39e6-b733e59b478

[2021-05-12 21:14] JamesTran-MSFT commented on #75180
@bitsofinfo
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-12 21:15] JamesTran-MSFT commented on #75184
@TiTi
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-12 21:45] GraemeMalcolm opened #75217 "'enabled' is deprecated warning"
in SDK 1.27, when creating the **ParallelRunStep** based on the **ParallelRunConfig**, the warning _"'enabled' is deprecated. Please use the azureml.core.runconfig.DockerConfiguration object with the 'use_docker' param instead."_ is displayed.

If using a ScriptRunConfig, I'd set its **docker_runtime_config** attribute to a **DockerConfiguration(use_docker=True)** object (or just omit it and use t

[2021-05-12 21:49] roninstar commented on #62959
That call returns a VoiceProfileEnrollmentType but for SpeakerRecognition it requires I pass in the VoiceProfile or an list of IEnumerable<VoiceProfile> so that when I run SpeakerRecognition it can identify the speakers recognition rate.

So in the below example I would like to Verify the speaker by retrieving that user's VoiceProfile.

public async Task SpeakerVerify(VoiceProfile profile, Diction

[2021-05-12 21:50] jonwbstr commented on #52799
Someone opened an issue against the script itself too
https://github.com/Azure/RDS-Templates/issues/617

[2021-05-12 21:57] lisaweixu commented on #62959
You can create a voice profile if you know the id and its type as below:
 auto secondProfile = VoiceProfile::FromId(profile->GetId(), VoiceProfileType::TextIndependentVerification);

[2021-05-12 21:58] TravisCragg-MSFT commented on #75214
@imhdev This error is typically due to an issue in the $settings variable where it gets unexpected input in the resulting string.

Try removing the extra quotes around your variables, you are already adding the quotes as you build the string. For example,

`{ "pollingIntervalInS": "' + 3600 +
'", "certificateStoreName": "' + My +`

I have also seen situations where the newline character will throw

[2021-05-12 22:07] TravisCragg-MSFT commented on #75216
@pyasuda in REGEX, /w is all alphanumeric characters plus underscore, /W is everything but alphanumeric characters plus underscore. In passwords, we do not consider underscore to be an alphanumeric character, so the proper notation is /W + underscore.

Please let me know if you have any additional questions.

[2021-05-12 22:10] roninstar commented on #62959
thanks so much for your prompt help with this issue!

[2021-05-12 22:38] Oury-MSFT commented on #75181
@antimajain can you please share the query you have used?

[2021-05-12 22:49] SaiKishor-MSFT commented on #75020
@asudbring Could you please look into this?

[2021-05-12 22:57] garyericson opened #75219 "Import Data may not be able to connect to SQL inside an Azure VM"
I believe a security change from a few years ago made the Import/Export Data module no longer be able to connect to a SQL Server inside an Azure VM using the Azure SQL Database connector. The section [Connecting to Azure Machine Learning](https://docs.microsoft.com/azure/machine-learning/team-data-science-process/sql-server-virtual-machine#sql-aml) should be tested to see if it works.

---
#### Do

[2021-05-12 22:58] SaiKishor-MSFT commented on #75202
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-12 22:59] erikadoyle commented on #42109
@peirens-bart You can find the latest Service Fabric / .NET runtime support here: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-versions

@PooSham yes, that is correct--the *Fabric.MSBuild* is able to [package SF applications](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-package-apps#configure) for deployment.

#please-close

[2021-05-12 22:59] #42109 closed

[2021-05-12 23:00] garyericson opened #75220 "Import Data may not be able to connect to SQL inside an Azure VM"
I believe a security change from a few years ago made the Import/Export Data module no longer be able to connect to a SQL Server inside an Azure VM using the Azure SQL Database connector. The section [Connecting to Azure Machine Learning](https://docs.microsoft.com/azure/machine-learning/team-data-science-process/create-features-sql-server#sql-aml) should be tested to see if it works.

---
#### Do

[2021-05-12 23:00] jonwbstr commented on #75193
There is a note at the top of the article saying media optimization is only supported through the WVD Desktop client. So, it's sort of covered for people that read those notes :). I skipped to the instructions which gloss over those finer details. MS Support also missed it initially but they also noticed the note that I didn't so kudos there.

[2021-05-12 23:07] madan01 opened #75221 "It will be good to have Night View or Dark View"
The documentation can have a dark view toggle

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75e17529-8b8a-1d67-f0e1-840d1d3ca990
* Version Independent ID: 265645df-ef21-4631-1744-7014b3ee681a
* Content: [Authentication and authorization - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/overview-a

[2021-05-12 23:13] KranthiPakala-MSFT commented on #75197
@Pariyat -
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-05-12 23:17] KranthiPakala-MSFT commented on #75206
Hi @roopasd,
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-05-12 23:23] #33142 closed

[2021-05-12 23:41] YutongTie-MSFT commented on #75217
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-12 23:42] msft-edluo opened #75222 "Guide "Assign a managed identity access to a resource by using the Azure portal" is misleading"
I was using this document to figure out how to get a system-assigned managed identity to connect from an app service to an Azure data cluster. However, I found out that I was not supposed to use the "role assignment" to get access. Instead, I was supposed to use the "Permissions" section in the Azure Data Explorer Cluster resource and add the role there. This is misleading and I think it should be

[2021-05-12 23:43] YutongTie-MSFT commented on #75219
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@marktab Could you please check on this issue? Thanks.

[2021-05-12 23:44] YutongTie-MSFT commented on #75220
@garyericson Hello Gary, this is a duplicate issue of https://github.com/MicrosoftDocs/azure-docs/issues/75219. So I will close this, let's track on https://github.com/MicrosoftDocs/azure-docs/issues/75219
Thank you.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-05-12 23:44] #75220 closed

[2021-05-12 23:46] dominicdejacomo commented on #59108
Can we get an update as to what permissions are required to support RBAC-based Key Vault?

[2021-05-12 23:53] JamesTran-MSFT commented on #75222
@msft-edluo
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-12 23:54] JamesTran-MSFT commented on #75198
@daemel
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-13 00:34] leriksen opened #75223 "az functionapp does not support the "auth" subcommands"
There is an error in step 1

`az functionapp auth show -g "group" -n "name"`

This results in an error

`'auth' is misspelled or not recognized by the system.`

You have to use the `webapp` command set for auth, for both web apps and function apps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4518495-4e07-ce2e-4045-

[2021-05-13 00:52] buckh commented on #75071
You only address one of the pages. There are multiple. Please update all of them.

[2021-05-13 01:16] MicrosoftGuyJFlo commented on #75168
@Trundlore We cant repeat licensing requirements on every article that is why we have standardized on licensing in the overview article for Azure AD feature areas. If a specific article has different requirements we call them out as different.

[2021-05-13 02:12] Rick-Anderson opened #75225 "copy your password value from the portal and make it the value of the password in your Dal.cs file."
PW in source code violates MS security guidelines. Can we update his to ASP.NET Core and use a secure secrets repository?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 898d5139-909f-dcd9-8f25-4d8b2aafd708
* Version Independent ID: 50e12e3d-de5d-0ad2-be8f-4c28a3f4ae2e
* Content: [Build a web app using Azure Cosmos DB's

[2021-05-13 02:53] NavtejSaini-MSFT commented on #75006
@guettli We are going ahead and closing this feedback. Please get back to us if you need any further information.

[2021-05-13 02:53] #75006 closed

[2021-05-13 03:05] BharathNimmala-MSFT commented on #74907
@chrisdoofer My sincere apologies for delay in getting back to this thread, post review with our PG we will have a backlog item to enhance the document as per your feedback.

Will make sure to tag this thread once the PR is raised to enhance the document. For now, we will go ahead and close this issue , however if you have any further feedback on the document please tag us in your reply and will b

[2021-05-13 03:05] #74907 closed

[2021-05-13 03:08] Bikash2860 commented on #73653
Hi Support,

A bit more information below:

So when we visit verifiable credentials settings and click verify this domain we get the content to be saved as json file and host it on the server path provided as here.
***@***.******@***.******@***.******@***.******@***.******@***.******@***.***D747E7.D60FDBE0]
Here when I download the file the content is different to that shown inside the box and it

[2021-05-13 03:20] BharathNimmala-MSFT commented on #74422
@juanandmsft We really appreciate your patience on this , we did hear back from our product team. It seems that the scenario you called out  should not be happening at all. Installing AMA will not install LA agent or DA today.

However to better understand your issue, the recommendation was to create a support ticket on this and they can help you to further troubleshoot the issue. We will certainl

[2021-05-13 03:20] #74422 closed

[2021-05-13 03:25] legendgod opened #75227 "Any document about "Attendance Management Services"?"
[Enter feedback here]
I never realize MS have "Attendance Management Services". On the Internet I cannot find any detail about MS's Attendance Management Services (I can only find other 3rd party products). Could you provide more reference or link me to related pages?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5091

[2021-05-13 03:31] ddixon1 opened #75228 "Add SendGrid support guidance to the documentation to set customer expectation for Microsoft support"
[Enter feedback here]
Hi, I am on the Azure Media Services Support team, and note that we periodically are assigned SendGrid issues where the customers expectation is that we can provide support for Send Grid's use.  I would be helpful if the document that describes its use could also indicate how customers can acquire support , hopefully in the documentation can clarify what support  the customer

[2021-05-13 03:40] SnehaAgrawal-MSFT commented on #75223
@leriksen Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-13 03:49] TonySh127-ms opened #75229 "The customer confusion on Step 3 and Step 4"
Hi Team,

We have client report the page in step 3 and step 4 confusion from their end. In step 3, they may still need to tick the attribute even in the new version Azure AD connect. This step actually need to base on local attribute selected in the local AD side. And, the preferredDataLocation also need to check in the new version Azure AD connect.

![image](https://user-images.githubusercontent.

[2021-05-13 03:51] benjamincburns opened #75230 "Why are there no template examples in the Azure Files docs?"
Why are there no template examples here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad2c9646-a4bc-aa28-de27-5fce4d4b4e44
* Version Independent ID: 1288f4c1-e871-8bc7-9693-2e62d5074a09
* Content: [Create an Azure file share - Azure Files](https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-create-fil

[2021-05-13 03:55] benjamincburns opened #75231 "Error codes/messages aren't documented"
When I try to create a Files share in my template, I get back the following error details:

[code]

If I search the MS docs for "FeatureNotSupportedForAccount" there are no results. If I search Google for "File is not supported for the account." (with quotes) the phrase returns no results.

Why am I getting undocumented error messages? How am I supposed to understand what I did wrong and fix it if

[2021-05-13 04:23] JamesTran-MSFT commented on #75227
@legendgod
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-13 04:25] Jacintopc commented on #74547
Hi Heidi,
Yes you answered my question and you can close it.

Thank you.
Jacinto

Obtener Outlook para Android<https://aka.ms/ghei36>

________________________________
From: PRMerger14 ***@***.***>
Sent: Wednesday, May 12, 2021 8:17:51 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Jacinto Perez Calavera ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Allow trusted Mic

[2021-05-13 04:25] JamesTran-MSFT commented on #75209
@crisansou
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-13 04:50] antimajain commented on #75181
Select * from c where c.tenantId='Testing' and c.configurationType='DEVICE-SPECIFIC'

while partition key is id, so am not passing partitionkey in query

[2021-05-13 04:50] AjayKumar-MSFT commented on #75029
[GitHub Community Forum Code of Conduct](https://docs.github.com/en/github/site-policy/github-community-forum-code-of-conduct)

[2021-05-13 05:01] pl4nty opened #75233 "Invalid data ingestion cost control example"
Example 4 under [Controlling ingestion to reduce cost](https://docs.microsoft.com/en-us/azure/azure-monitor/containers/container-insights-cost#controlling-ingestion-to-reduce-cost) describes

but the provided example (below) is a Job, not a ConfigMap.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a5fcced-8ed8-

[2021-05-13 05:03] SwathiDhanwada-MSFT commented on #75233
@pl4nty Thanks for your comment. We will review the issue and get back to you shortly.

[2021-05-13 05:07] DiPal2 opened #75234 "Scala code snippets are marked as SQL"
All code snippets after "Define the input source" text are marked incorrectly with SQL instead of Scala.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87e5c1c3-b46b-a63c-f1af-3b50a17bbe11
* Version Independent ID: 04faa480-450a-2905-27cb-95692f4d1599
* Content: [Spark Structured Streaming in Azure HDInsight](https://d

[2021-05-13 05:10] #75169 closed

[2021-05-13 05:57] pnarsi opened #75236 "Downsides of Double Encryption"
Are there any downsides/limitation of enabling double encryption?

For instance there is a note in the [Azure Database for PostgreSQL documentation](https://docs.microsoft.com/en-us/azure/postgresql/concepts-infrastructure-double-encryption) which says:

"Using Infrastructure double encryption will have performance impact on the Azure Database for PostgreSQL server due to the additional encryption

[2021-05-13 06:00] anotherrohit commented on #74331
After the credentials are registered I noticed the credentials also need to
be registers with azure b2c tenant. Is this a prerequisite? I do not have
an privileges and a directory role for b2c tenant. Is this the cause for
verification to fail with the error mentioned above?

On Tue, May 11, 2021 at 4:03 AM Juan Camilo ruiz ***@***.***>
wrote:

[2021-05-13 06:11] KalyanChanumolu-MSFT commented on #75225
@Rick-Anderson Thank you for the feedback.
We are investigation and will do the needful soon.

[2021-05-13 06:13] VikasPullagura-MSFT commented on #75180
@bitsofinfo
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-05-13 06:13] VikasPullagura-MSFT commented on #75180
@JnHs
Can you please check and add your comments on this doc update request as applicable.

[2021-05-13 06:14] VikasPullagura-MSFT commented on #75097
@olayemio Thanks for the update.

[2021-05-13 06:20] SumanthMarigowda commented on #75230
@benjamincburns  Thanks for the question! Can you please elaborate what exactly are looking for in Azure Files?
[Azure-Samples/azure-files-samples](https://github.com/Azure-Samples/azure-files-samples)

[2021-05-13 06:22] SumanthMarigowda commented on #75231
@benjamincburns Thanks for the question! We are investigating and will update you shortly.

[2021-05-13 06:22] SumanthMarigowda commented on #75236
@pnarsi Thanks for the question! We are investigating and will update you shortly.

[2021-05-13 06:24] SatishBoddu-MSFT commented on #75001
Hello @sudhir-kumar-au3 Sorry for the delay in response, as the issue is related to the MS learn page, we have a dedicated team to help with fixing the content.
Go to the bottom of the MS learn page and click the '**[Reporting an issue](https://docs.microsoft.com/en-us/learn/support/troubleshooting?uid=learn.reactors.blockchain-solidity-ethereum-smart-contracts.3-blockchain-dev.kit&documentId=e64e

[2021-05-13 06:26] SatishBoddu-MSFT commented on #75155
Hello @hhubik
Our SME will review your feedback soon.

[2021-05-13 06:31] stgeorgi commented on #52799
We are not going to take that ask. There is a new feature coming that renders any design changes to our existing solution to be deferred.

[2021-05-13 06:58] #74886 closed

[2021-05-13 07:10] v-amallick commented on #73458
@laurentcardon

We have update the document.

[2021-05-13 07:10] v-amallick commented on #73458
#please-close

[2021-05-13 07:10] #73458 closed

[2021-05-13 07:11] AjayKumar-MSFT commented on #75221
@madan01, Dark theme is available. On the Doc page, look for "Theme" option at the bottom left-corner.

 ![image](https://user-images.githubusercontent.com/44606227/118091310-436e0380-b3e8-11eb-9e6c-e3669540b581.png)
Hope this helps! Thanks for leveraging Azure docs feedback channel to raise this question.

[2021-05-13 07:39] madan01 commented on #75221
Got it thanks a lot

On Thu, 13 May, 2021, 12:42 pm AjayKumar-MSFT, ***@***.***>
wrote:

[2021-05-13 07:45] yaniv833 opened #75238 "Wrong details in this tutorial"
Hi,
there are some details in this tutorial that are wrong.
in the Identifier (Entity ID) field, you need to add add the url provided in Azure AD Identifier.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84c23aed-9974-3d3a-97ea-5e038b9de75f
* Version Independent ID: ad6e67ad-5488-acad-5604-2492a08c6b8c
* Content: [Tut

[2021-05-13 08:11] Amritjagyasi commented on #72910
Hello @MashaMSFT , Thank you for reaching out and assisting on this!
You can refer below TSG:
https://supportability.visualstudio.com/AzureSQLDB/_wiki/wikis/AzureSQLDB.wiki/375894/DSS020-500-tables-limit

I am not sure if you have access to it. I wanted to send this over an email but I am unable to find your alias in Teams. If you can just ping/email me at amritj@microsoft.com, I would be able to

[2021-05-13 08:27] PrabhavSF opened #75239 "Looks great!"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1cce701-aeb0-07af-6961-4f3e5cf2ed44
* Version Independent ID: 9c3e5bd6-7367-bfd8-f296-2f91f058a0fe
* Content: [Get started guide for developers on Azure](https://docs.microsoft.com/en-in/azure/guides/developer/azure-developer-guide)
* Content Source:

[2021-05-13 08:28] #75239 closed

[2021-05-13 08:29] msaranga opened #75240 "Please fix links which got broken"
Some VNET Injected template got broken

Please update  Existing Link in Document   :
**https://azure.microsoft.com/en-us/resources/templates/101-databricks-workspace-with-vnet-injection/**
with
 **https://azure.microsoft.com/en-us/resources/templates/databricks-workspace-with-vnet-injection/**

Existing Link in Document :
**https://azure.microsoft.com/en-us/resources/templates/101-databricks-vnet-

[2021-05-13 08:41] CHEEKATLAPRADEEP-MSFT commented on #75234
@DiPal2  Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/158558](https://github.com/MicrosoftDocs/azure-docs-pr/pull/158558)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2021-05-13 08:46] CHEEKATLAPRADEEP-MSFT commented on #75240
@msaranga  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-05-13 08:53] MariusFlorea99 commented on #75049
Hello Team,

Thanks for looking into this. Basically, I was not able to deploy a disk
encryption set, so couldn't reach to point 9. I bypassed the forbidden
error message at deployment by making myself contributor on the keyvault
from Access control management.

The error I was getting was:
[image: image.png]

Hope this helps,

Kind regards,

Marius

On Mon, May 10, 2021 at 9:07 PM rogara ***@***.

[2021-05-13 08:59] v-amallick commented on #74423
@zahraasaleh

We have updated the prerequisites in the article.

[2021-05-13 09:01] kellylu2sym opened #75242 "connection string in doc is not right"
[Enter feedback here]

I think the coonection string is not right , we need define the connection string like :

String connectionString = "DefaultEndpointsProtocol=https;AccountName={name};AccountKey={key};"
     + "EndpointSuffix={core.windows.net}";

otherwise I will get the exception message like :
invalid connect string
---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2021-05-13 09:04] v-amallick commented on #74423
#pleaase-close

[2021-05-13 09:04] #74423 closed

[2021-05-13 09:08] v-anvari opened #75243 "Events in Storage Account"
Events under the storage account mentioned in the docs is not available under the storage account. If this is related to the Account kind, can a note be added to the documentation - https://docs.microsoft.com/en-us/azure/azure-functions/functions-debug-event-grid-trigger-local#add-a-storage-event

![image](https://user-images.githubusercontent.com/66122429/118104472-ceef9080-b3f8-11eb-8faf-34a8ac4

[2021-05-13 09:27] ram-msft commented on #75209
@crisansou  Thanks for the feedback. We have forwarded to the product team, you can also raise an [issue ](https://github.com/Azure/MachineLearningNotebooks/issues) in azure machine learning notebooks.

Dataset is a reference to the files to your data in storage. We are not able to detect the change in content at the moment. Here is an article that explains how dataset versioning works: https://do

[2021-05-13 09:28] Rinki-MSFT opened #75244 "Need clarity on whether all permissions need to be consented to by an AAD administrator when “user assignment required” is used"
Stressing on this line in the Doc -

What I understand is that, if user assignment is done before an user or admin has consented to the app, then the solution is to have an AAD admin grant consent to the permissions for the whole directory.
In other words, when “user assignment required” is used, an AAD administrator needs to consent to all the permissions requested by the application, no matter w

[2021-05-13 09:29] MayankBargali-MSFT commented on #75243
@v-anvari Thank you for your feedback! We will review and update as appropriate.

[2021-05-13 09:40] hristokrastev opened #75245 "It's not clear how and where to add the SSL mode using different tools"
I'm using Azure CLI and this is what worked for me:

#### PGSSLMODE=require pg_dump -Fc -v --host=<host> --username=<name> --dbname=<database name> -f <database>.dump

The information in StackOverflow and across the web is also pointing some solutions but they are not applicable for the Azure CLI;

You can add that if you think it's valuable;

---
#### Document Details

⚠ *Do not edit this section

[2021-05-13 09:52] svrooij opened #75246 "App Configuration Use labels should follow sample code"
In the [quickstart guide](https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-aspnet-core-app) they take the `AppConfig` from the settings that are build. That means you can load them from any configured config source.

In this page **Use labels for per-environment configuration** the `AppConfig` is loaded from the environment variable, which is more restrictive. Suggested ch

[2021-05-13 10:04] shah-manish opened #75247 "Amount of cache missing for Mdsv2-series"
[Enter feedback here]
the table doesn't show the amount of cache available on Mdsv2-series VMs, please can you include? thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7457bf0-dc21-6f49-d4e5-4de493219ef1
* Version Independent ID: f5969121-2e88-8bf3-77f0-428ae4cc59ad
* Content: [Msv2/Mdsv2 Medium Memory Series -

[2021-05-13 10:06] DonKoning commented on #75105
In the meantime, I found [this](https://github.com/Azure/Azure-Security-Center/blob/master/Onboarding/Modules/3-Policy-Management.md) information, which is basically what I found missing in this document.

[2021-05-13 10:32] RolandASc opened #75248 "Azure Databricks "Repos" feature: git config undocumented"
The Limitations / FAQ section mentions explicitly that

It appears to me that it might also not support user-level (global) `.gitconfig` in order to have the user and email information for the author and committer of changes. I couldn't find anywhere whether this is true or not, but would like to know before raising a feature request.

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-05-13 10:36] psmanhas commented on #75247
@shah-manish Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-05-13 10:36] psmanhas commented on #75247
@ayshakeen Can you please check and add your comments on this doc update request as applicable

[2021-05-13 10:55] GitaraniSharma-MSFT commented on #75242
@kellylu2sym , thank you for your feedback. We'll review this and get back to you shortly!

[2021-05-13 10:56] PramodValavala-MSFT commented on #74936
@flyingUnderTheRadar I've tried building a container using the code you've shared and can confirm it works locally.

[code]

But as @ggailey777 mentioned, while this might work on App Service, I'm sure if it's supported on the Premium Plan.

We have assigned this issue to the content author for further review and update accordingly.

[2021-05-13 11:11] KalyanChanumolu-MSFT commented on #75008
@guettli Thank you for taking the time to report this issue.

You are right, the cluster names are not consistent.
I have submitted a pull request to update them.

The changes should be live EOD or tomorrow.
We will close this issue now.

[2021-05-13 11:11] #75008 closed

[2021-05-13 11:13] jeevannagvekar commented on #74903
Hello team, I could make progress with the help of your instructions. I could start the deployment.  However, the deployment status shows "Failed" at Azure Portal. However at Raspberry PI device side, update is installed.

**Here is import.json:**
[importManifest.json.txt](https://github.com/MicrosoftDocs/azure-docs/files/6471977/importManifest.json.txt)

**Here is device twin after update:**
[Dev

[2021-05-13 11:22] KalyanChanumolu-MSFT commented on #75198
@daemel Could you please provide few details about the inconsistencies you are referring to?

[2021-05-13 11:22] ameyanator commented on #74541
Hi @alirezazamani, could you please tell me the Eclipse version and the JDK that you are using?

I've have repro'd the issue with the latest eclipse and JDK11. I've also verified that the issue does not come up with Eclipse 2020-06 and JDK 8. While we are working towards investigating this further, could you use the previously mentioned configuration(Eclipse 2020-06 + JDK8) if it works for you?

[2021-05-13 11:27] CHEEKATLAPRADEEP-MSFT commented on #75248
@RolandASc  Thanks for the feedback! I have assigned the issue to the content author to evaluate and add it part of limitations.

[2021-05-13 11:28] CHEEKATLAPRADEEP-MSFT commented on #75090
@pnarsi  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-13 11:28] #75090 closed

[2021-05-13 11:53] SwathiDhanwada-MSFT commented on #75228
@ddixon1 Thanks for your feedback.

Assigning to content author @georgewallace for review.

[2021-05-13 12:09] ram-msft commented on #75041
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-13 12:09] #75041 closed

[2021-05-13 12:17] GitaraniSharma-MSFT commented on #74975
@krispenner , thank you for your feedback. It looks like the description documented for "Origin path" is incorrect. We have assigned this to the content owner/author for updating the doc.

@duongau , I have looped you in the internal email with the PG team. Please review this and update the doc as required.

[2021-05-13 12:18] GitaraniSharma-MSFT commented on #75038
@Hakuroda , I'm following up on my above comment. Could you please provide more details to proceed further?

[2021-05-13 12:20] GitaraniSharma-MSFT commented on #75134
@miqm , we have assigned issue to the respective product owner for updating the doc accordingly.

@sumeetmittal , I have assigned the issue to you for the doc update.

[2021-05-13 12:30] GitaraniSharma-MSFT commented on #75044
@marcelkmfst , may I know which exact SKU your customer upgraded from to Ultra Performance?
I checked with the ExpressRoute PG team and below is their response:

Did the customer upgrade from one of the ERGwAz skus? If so, this is supported. Currently we do not support upgrading from Standard/High Perf to Ultra Perf as there are some issues. We are rolling out a fix for this soon.

[2021-05-13 12:39] John-Garland opened #75252 "Possible typo - "Custom Domain" is indicated when context and link refer to "Conditional Access.""
Possible typo. Under conditional access, the sentence reads: Lean how to configure Azure AD B2C **custom domain**. But the link (correctly) points to Conditional Access.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8810f9a5-2db2-278e-a9f6-dd1b2aea8c7f
* Version Independent ID: 7b978156-16b0-d469-5778-fe2983ae1f0e
* C

[2021-05-13 12:55] John-Garland opened #75253 "Discoverability problem - include reference to billing model when referencing P2 features"
There is a discoverability problem in this document related to the P2 requirement associated with the feature. The reference to the P2 requirement (To use Conditional Access, Azure AD B2C Premium P2 is required.) should include a link to answer the question "OK - how do I actually enable Premium P2". The P2 enabling instructions are located in the "Billing model" documentation in the Reference sec

[2021-05-13 13:03] langstonj opened #75254 "Link to document no longer being updated"
https://docs.microsoft.com/en-us/archive/blogs/sqlcat/migrating-from-sql-server-to-azure-sql-database-using-bacpac-files

Heading of the document at this link is : We're no longer updating this content regularly. Check the Microsoft Product Lifecycle for information about how this product, service, technology, or API is supported.

Not seeing the value of this.

---
#### Document Details

⚠ *Do no

[2021-05-13 13:10] GitaraniSharma-MSFT commented on #74862
@afield1235 , do you have any updates on this issue from your end?

[2021-05-13 13:13] vipulsparsh commented on #75229
@TonySh127-ms Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-05-13 13:14] vipulsparsh commented on #75238
@yaniv833 Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-05-13 13:15] Tovli opened #75255 "broken link to sql sample"
[Enter feedback here]
The link https://github.com/Azure/azure-quickstart-templates/tree/master/101-logic-app-sql-proc is showing github's 404 page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39848b5b-77c2-7fbb-930e-0550d48c564b
* Version Independent ID: a3f4d15c-6f1d-f77d-793c-454a5537e897
* Content: [Azure Resourc

[2021-05-13 13:16] #75209 closed

[2021-05-13 13:19] shanerisk opened #75256 "DW600 doesn't exist"
Under the max connections listing the SLO DWU600c level is reverenced, which does not exist.

" DWU600c and above support a maximum of 1024 open sessions."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99dbdf95-1c64-48c5-cc47-8d06d0975151
* Version Independent ID: 0763ac70-8c4b-a8bc-c72c-e87bc45f46ba
* Content: [Capac

[2021-05-13 13:22] GitaraniSharma-MSFT commented on #75242
@kellylu2sym , could you please point out the section of the doc where you are facing this issue with? I was unable to find any command with "connectionString" in the doc.

[2021-05-13 13:25] FintanGuihen opened #75257 "is not indicative of a real world scenario"
The example, deleting where a movieyear = a specicif value is not indicative of a delete operation performed by an ETL tool.
A much more useful example would be explaining how to delete in the sink  if a row that was previously in the source has since been deleted.
This is a very common scenario for ETL tools and would be extremely useful.

Kind Regards,

---
#### Document Details

⚠ *Do not edit

[2021-05-13 13:30] #75221 closed

[2021-05-13 13:33] vipulsparsh commented on #75244
@Rinki-MSFT Thanks for the feedback. We will engage the content development team for further investigation, they will verify and update with necessary actions.

[2021-05-13 13:35] vipulsparsh commented on #75252
@John-Garland Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-05-13 13:37] vipulsparsh commented on #75253
@John-Garland Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-05-13 13:44] mimcco commented on #74962
@kgalic - the documentation has been updated to include a message that the user should proceed to the next steps while the "Waiting for the Device to appear..." message is displayed.

https://docs.microsoft.com/en-gb/azure/azure-percept/how-to-update-via-usb

[2021-05-13 13:45] #75168 closed

[2021-05-13 13:45] jimmymcpeter commented on #35432
You will likely need to store the Intacct User ID as an attribute on the user in Active Directory since I don't see a substring claim transformation available.  You could try putting the Intacct User ID in an unused field, or may need to go down the route of [making it an extension in the Microsoft Graph](https://docs.microsoft.com/en-us/graph/extensibility-overview).  I haven't been able to test

[2021-05-13 13:46] mimcco commented on #74789
@gitTinker - the article has been updated. Thanks again for catching this.

https://docs.microsoft.com/en-us/azure/azure-percept/vision-solution-troubleshooting#view-device-rtsp-video-stream

[2021-05-13 13:46] PatAltimore commented on #75155
Hi @hhubik,

Blockchain Data Manager requires the standard tier to process data reliably. Basic is underpowered for some workloads and can cause issues.

Please note that Azure Blockchain Service will be retired in September. For more details, see https://docs.microsoft.com/en-us/azure/blockchain/service/migration-guide.

I'm requesting the issue to be closed. Reopen if I haven't answered your que

[2021-05-13 13:46] #75155 closed

[2021-05-13 14:15] pisees opened #75258 "Does mounting with NSF require space on local drive for caching"
My understanding is that mounting with blobfuse requires that the local drive has space to cache (all?) the files in Azure Storage that are being mounted? What about with NSF?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abfc0bd3-6245-82ad-e782-d2464a6ce8df
* Version Independent ID: aa79abce-6e1b-15b6-04c1-b7413c4b5f

[2021-05-13 14:18] xiongyu0523 opened #75259 "Duplicated 'prepare your sensors' section in 'How to guides'"
Duplicated 'prepare your sensors' section in 'How to guides'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37b93662-132d-867f-3094-c3a5be7d08e6
* Version Independent ID: 27fe6e96-4d15-2d60-f5ab-04131c2e3c29
* Content: [Manage sensors in the Defender for IoT portal - Azure Defender for IoT](https://docs.microsoft.com/e

[2021-05-13 14:21] AjayKumar-MSFT commented on #74657
tv505, Glad to know that you were able to resolve this issue. Thanks for sharing the solution with the community. In regards to documentation note, we have shared your feedback( [similar](https://github.com/MicrosoftDocs/azure-docs/issues/75070) request) with the doc author for further review. So, we will close this issue for now. Thanks again for your value feedback!

[2021-05-13 14:21] #74657 closed

[2021-05-13 14:27] KrishnaG-MSFT commented on #75239
@PrabhavSF Thanks for the feedback!

[2021-05-13 14:29] lostInTheWeeds commented on #67863
+2
We are trying to move from DBR 6.4 to 8.2 and seeing the same bulkCopyToSqlDB issue.

[2021-05-13 14:45] MayankBargali-MSFT commented on #75243
@v-anvari Thanks for reporting this item! I have updated the doc and it will be published once it is approved. We appreciate the feedback!

[2021-05-13 14:45] kobulloc-MSFT commented on #75246
@svrooij Thank you for the feedback.  I've assigned this to the document author for review.

[2021-05-13 14:52] wcneumann219 commented on #74973
Hi. It's been nearly a week. Any idea when a response might be forthcoming?

[2021-05-13 15:19] DrEight opened #75260 "The agent name is wrong and the agent address is really 'foo'"
[Enter feedback here]
In the documentation is specified the agent name as 'Edge Health Probes'. This is wrong the agent name is 'Edge Health Probe' without the S.
I also would say that the agent address is 'foo.mydomain.com' where foo is not a random name, but is really 'foo'.
This drove me crazy, because I thought it was in my code somewhere 'foo'. I wasted literally days.
It is a very bad idea t

[2021-05-13 15:20] Kasisrinivasan opened #75261 "Custom smart lockout defaults doesn't match current defaults in AAD"
Documentation for smart lock out default value is listed as 10. In the Azure directory portal (Azure US government portal), the lockout threshold is populated with 3.  Documentation needs review and edit.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c7b90ca-a2b1-9cd8-9769-cd48c27f10ea
* Version Independent ID: b8c29

[2021-05-13 15:33] BharathNimmala-MSFT commented on #74969
@ChaiSwaddipong Apologies for delay on this, we are checking with our internal product team on these queries and I get any latest information will make sure to share it here. Thanks

[2021-05-13 15:38] JamesTran-MSFT commented on #75261
@Kasisrinivasan
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-13 15:41] zr-msft commented on #65510
Thank you for the feedback @nicoterreyre!

The following step in the doc should attach your ACR to the cluster during cluster creation:
https://docs.microsoft.com/azure/aks/quickstart-helm#create-an-aks-cluster

#please-close

[2021-05-13 15:41] #65510 closed

[2021-05-13 15:43] vhorne commented on #73489
#please-close

[2021-05-13 15:43] #73489 closed

[2021-05-13 15:58] JamesTran-MSFT commented on #75199
@John-Garland
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-13 15:59] JamesTran-MSFT commented on #75200
@John-Garland
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-13 16:02] abharath27 opened #75263 "API endpoint in the code example does not match the one mentioned in a previous section"
Endpoint mentioned in this section: https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-cognitiveservices#variations-2 is `https://<your-custom-domain>.cognitiveservices.azure.us/translator/text/v3.0`

The "path" variable in code example is set to `/translate?api-version=3.0` instead of `text/v3.0`

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-05-13 16:05] JamesTran-MSFT commented on #75261
@Kasisrinivasan
Thank you for pointing this out!

Within my AzureAD tenant (not US gov), I wasn't able to see the default value of 3 for the account lockout threshold. Can you share a screenshot, so I can gain a better understanding of what you're seeing.

![image](https://user-images.githubusercontent.com/36619112/118152749-e7948200-b3c9-11eb-836d-dc8641b24d3f.png)

If you have any other question