[2019-08-20 05:11] KetanChawda-MSFT commented on #37121
@rizwaans Thanks for the confirmation. For the another issue I would recommend you to open a new issue as it will help us for tracking purpose.

[2019-08-20 05:17] thi-baut opened #37398 "Confidential code flow"
Hi - the confidential code flow link is the "Endpoints" section is pointing to the OIDC page. There is no mention of the confidential code flow on this page, what are we referring to?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b05bb7df-98fc-1342-640d-02063f6d8a11
* Version Independent ID: f6ac357f-f846-83c5-f19f-91

[2019-08-20 05:20] angoyal-msft commented on #37394
@tophallen
Thanks for your feedback. We are investigating this issue actively and will get back to you soon.

[2019-08-20 05:21] ChiragMishra-MSFT commented on #37379
@adlangx Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-08-20 05:22] ChiragMishra-MSFT commented on #37392
@v-kerwan Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-08-20 05:22] rizwaans commented on #37121
Ok, Sure

[2019-08-20 05:22] #37121 closed

[2019-08-20 05:23] ChiragMishra-MSFT commented on #37393
@dcbrown16 Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-08-20 05:23] neeleshray-msft commented on #37386
@peledins Thank you for the feedback! We are assigning the Author to make the required changes.

[2019-08-20 05:24] neeleshray-msft commented on #37391
@peledins Thank you for the feedback! We are assigning the Author to make the required changes.

[2019-08-20 05:26] neeleshray-msft commented on #37398
@thi-baut Thank you for your query. We will check it with the engineering internally and let you know accordingly.

[2019-08-20 05:27] slavizh opened #37399 "Document retention perdiod for alert instances"
Hi,
Can you document the retention period for alert instances? How long the data is retained in the API?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82f0079b-f306-92f2-0388-92a02b602b32
* Version Independent ID: b580a44a-a182-d1c6-7fcf-c88784cf7208
* Content: [Manage alert instances](https://docs.microsoft.com/en-us

[2019-08-20 05:28] BhargaviAnnadevara-MSFT commented on #37396
@binoyjt Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2019-08-20 05:29] dcbrown16 commented on #37262
@bultaf14 I don't think you got the answer you need. Read this:
https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security?toc=%2fazure%2fvirtual-network%2ftoc.json#change-the-default-network-access-rule

I believe you're just asking if turning on service endpoints to storage will start denying all other traffic, and the answer is YES.
Travis is sort of "technically correct" in

[2019-08-20 05:31] rajeshkhanikar opened #37400 "Text boxes aren't currently synchronised even when there is only a single rule"
The new UI showing text boxes for rules did show list of rules from an earlier set of rules. However, after one of the rule was modified it no longer sync with the rules. It says "The rule builder and rule syntax text box aren't currently synchronized. This could be caused by syntax errors in connectors, property names or operators, or special rules that are not yet supported by the rule builder."

[2019-08-20 05:40] jkerak opened #37401 "host.json changes"
For anyone using v2.0.0-beta1, the schema of the host.json section for the durable functions extension is changing. It appears to be part of an overall refactoring effort to enable alternative storage providers like Redis instead of just azure storage for the storage queues and history/instance tables.

The current config object definition is [here](https://github.com/Azure/azure-functions-durable

[2019-08-20 05:49] v-kerwan commented on #37392
Hi,

Good Day, it already confirmed by PG, here is Email thread for review.

Best Regards,
kerry

From: ChiragMishra-MSFT <notifications@github.com>
Sent: 2019年8月20日 13:23
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Kerry Wang (Wicresoft North America Ltd) <v-kerwan@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Allow access from P

[2019-08-20 05:51] ChiragMishra-MSFT commented on #37392
@v-kerwan Thanks for the update. I will now proceed to close this issue. Feel free to reopen the issue if you feel the need.

[2019-08-20 05:51] #37392 closed

[2019-08-20 05:55] KrishnaG-MSFT commented on #37399
@slavizh Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-20 05:55] shashishailaj commented on #37400
@rajeshkhanikar Thank you for your query. We will investigate and update the thread further .

[2019-08-20 05:57] shashishailaj commented on #37384
@DeanGross Thank you for your query. We will investigate and update the thread further.

[2019-08-20 05:57] jakaruna-MSFT commented on #37206
Azure/azure-linux-extensions#871

[2019-08-20 06:00] angoyal-msft commented on #36281
@rafa-pizzi Thanks for the confirmation.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-08-20 06:00] #36281 closed

[2019-08-20 06:02] CastleArg commented on #37130
Hi @pramodvalavala-msft  .
Thanks that works as a workaround; I didn't know about the fixed creds for storage emulator.
It's still not a great experience though as it requires code changes and rework of env variables on every environment.

[2019-08-20 06:03] KrishnaG-MSFT commented on #37387
@mundayn Glad that the issue is resolved for you. Thanks for reaching out to us, but at this time I observe that the issue is self closed and it did not look like you were referring to a Azure document initially when you opened this issue. In future, if you have any feedback on Azure document then we request you to please route to bottom of that Azure document where you would have Feedback section

[2019-08-20 06:08] angoyal-msft commented on #37394
@tophallen Could you please confirm the error you are facing. As mentioned in the doc if there is port error you can follow this method to over come the same. Please refer below screenshot from the doc.

![image](https://user-images.githubusercontent.com/43370663/63321640-f78b4900-c33e-11e9-9184-22f9e426d11a.png)

If there is some other please share the details of error. So that it would be easier

[2019-08-20 06:14] PramodValavala-MSFT commented on #37130
@CastleArg Yes. The inconsistency should be resolved once the issue linked in my previous comment is fixed. Also, I believe this is the case only for the newer [v10 SDK](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/storage) and the [older library](https://github.com/azure/azure-storage-node) did support this.

Since there is no doc update required here at the moment, we will now proce

[2019-08-20 06:14] #37130 closed

[2019-08-20 06:15] rphoon opened #37403 "Python 3 as a Runbook type?"
Any plans to support Python 3 as a Runbook type?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8081200f-2bf4-db58-c957-c8ab7af5f90b
* Version Independent ID: b135cf1a-c391-03e5-41e7-e13571351e91
* Content: [Azure Automation Runbook Types](https://docs.microsoft.com/en-us/azure/automation/automation-runbook-types#feedb

[2019-08-20 06:18] PramodValavala-MSFT commented on #37401
@jkerak Due to the preview nature of Durable Functions v2, all changes that come with it are [documented separately](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-preview).

All other docs still target Durable Functions v1 in the time being and changes required for v2 would be made at the time of GA.

[2019-08-20 06:20] lightupdifire commented on #31078
@JoelHazelton

Sharing my experience when we run Hybrid AD Join for ADFS solution:

1. Verify SCP does not exist in on-prem AD (it doesn't, I already checked). -> it doesn't exist, until you run AD Connect wizard to do configuration for Hybrid Azure AD Join.

2. SCP - as far understood, this step can be skipped during wizard of AD Connect, but to be honest,
 didn't saw that option... so what we di

[2019-08-20 06:23] Ayanmullick commented on #35364
@MicrosoftGuyJFlo , Could one use the fingerprint for a Facebook or Hotmail authentication request on the Android version of the authenticator app?

[2019-08-20 06:24] PramodValavala-MSFT commented on #37290
@DanieleDeSano Looks like this would take some looking into for further troubleshooting. If you have a support plan, could you please open a ticket for this?

If not, please send an email to `azcommunity[at]microsoft.com` with your Subscription Id and the link to this issue, we can provide a free one-time support ticket for you.

Since there is no doc update required here at the moment, we will no

[2019-08-20 06:24] #37290 closed

[2019-08-20 06:24] KalyanChanumolu-MSFT commented on #37397
@ftiernan The braces are not required.
Please provide as mongodb://bart.documents.azure.com:10255/homer

Do let us know if you have further questions.

[2019-08-20 06:32] mike-urnun-msft commented on #37100
Hi @jasondown - I don't believe that that's a bug and the documentation does state below:
_"...Settings in local.settings.json are not uploaded automatically when you publish the project. To make sure that these settings also exist in your function app in Azure, you must upload them after you publish your project... "_ It also links to the dedicated section at [Function app setting](https://docs.m

[2019-08-20 06:32] jkerak commented on #37401
ahh I see, thanks.

[2019-08-20 06:32] #37401 closed

[2019-08-20 06:34] mike-urnun-msft commented on #37246
@debashish-github Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please open a thread on [MSDN forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=servbus) and we will gladly continue the discussion.

[2019-08-20 06:34] #37246 closed

[2019-08-20 06:38] ChiragMishra-MSFT commented on #37393
@ShubhaVijayasarathy Can you please take a look at this?

[2019-08-20 06:40] ChiragMishra-MSFT commented on #37379
@djpmsft Can you please have a look at this one ?

[2019-08-20 06:51] orsharon7 commented on #23090
Hello,

 any updates on this thread?
I have just tried to work with VMSS + Standatd LB:
- Attaching existing Std-LB with VMSS is not possible.
- Only creating the Std-LB via the VMSS creation is possible.

[2019-08-20 06:52] dcbrown16 commented on #37393
I found a little bit more info here, but it points to a sample without any explanation of where we should look within the sample. A backlog item is ok, but I'd like to request that a clear example of the procedure for revoking/blacklisting a publisher be added to these docs.
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-programming-guide#publisher-revocation

[2019-08-20 06:53] mike-urnun-msft commented on #37079
Hi @sbi-rviot - It's likely your expression in the `File` field isn't evaluating as `string` value as per its [reference doc](https://docs.microsoft.com/en-us/connectors/excelonlinebusiness/#add-a-key-column-to-a-table) - did you review your [Run History](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-monitor-your-logic-apps#view-runs-and-trigger-history-for-your-logic-app) to see if

[2019-08-20 06:53] #37079 closed

[2019-08-20 07:08] ManojReddy-MSFT commented on #37395
@Trustyboard I am assuming your queries were addressed. Let us know if you have any questions.

[2019-08-20 07:10] mike-urnun-msft commented on #37298
Thanks for providing this workaround and sharing your feedback, @nhwilly!

Per @craigshoemaker's comment in MicrosoftDocs/azure-docs#19122, there is already an existing work item internally in progress for updating the samples. As such, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion

[2019-08-20 07:10] #37298 closed

[2019-08-20 07:11] slavizh opened #37404 "Schema for ServiceHealth is not correct"
The schema for Service Health is not correct. The following values should be changed:
- channels - it is integer not string
- eventSource - it is integer not string
- level - it is integer not string

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e4d20cc-b693-ee2d-2694-832b455376a6
* Version Independent ID: 7b929793-d

[2019-08-20 07:16] ivangotti commented on #37145
Hello,

Thank you! That is exactly what I needed to know.
You can close the ticket.

Regards,
Ivan

On Tue, 20 Aug 2019 at 01:21, Frank Hu <notifications@github.com> wrote:

--
*Ivan Gotti*
www.linkedin.com/in/ivangotti

[2019-08-20 07:18] Rohit-Stackroute commented on #37329
No it is still not happening. I guess the project that is being cloned from the repository might have old packages and not updated yet. And in MEAN.com everything is up to date that is why it is running successfully. I might be wrong. but tell me the changes that I need to make through the documentation steps.

[2019-08-20 07:22] yossaa commented on #33657
I just asked if it will work, because VMSS uses a different concept than pure VMs. Pure VMs are managed by Microsoft and when MS does an OS upgrade, a file /var/run/reboot-required is created.
VMSS has a model and all VMs inside it share the same image. I didn't know how OS upgrades are deployed in such case and if we will get the reboot-required flag. Actually I have checked my VMSS based cluster

[2019-08-20 07:40] test123114 opened #37405 "Cannot create actiongroup"
[Enter feedback here]
I want to use Azure ARM template to create a Azure action group, but when I use New-AzResourceGroupDeployment to deploy the template, I get an error:

[code]
But I refer to the [document](https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/2019-06-01/actiongroups), I think I do not need to provide the value.
My template :
[code]

---
#### Document Details

⚠ *

[2019-08-20 07:41] Ashjoker24 opened #37406 "How can i create and manage netapp file through azure cli??"
Hi i am writing azure infra as a code and i need to create netapp file and add that netapp file volume into Azure Virtual machines. How can i do that through azure cli??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ecb551a-3b78-df78-cefd-cd07614e043f
* Version Independent ID: 9bbe39e4-8813-7e06-1c1d-9e07d3704435
* C

[2019-08-20 07:46] Luksys5 commented on #36806
Hey, sorry for late response.
I've seen more issues than Delaware state.

Same goes for Florida is find in Uruguay,
Jersey found in USA but should be country in Europe,
Georgia is a separate country(this one I think it's good but strange),
Montana found as city in Bulgaria,
Kentucky is found as city in AUSTRALIA. These states(except Jersey) when searched are found as countries or cities.

It shoul

[2019-08-20 07:52] dirkallaert opened #37407 "Additional constraint for enqueue server 1"
There is a difference in the constaints for Enqueue Version 1 vs Version 2. The documentation contains and extra constraint for Enqueue Version 1:
sudo pcs constraint location rsc_sap_QAS_ASCS00 rule score=2000 runs_ers_QAS eq 1

It is not clear what the purpose of this additional constraint is and how it works. The 2 other constraints make perfect sense, but this line is not clear to us. Is it a

[2019-08-20 07:59] SadiqhAhmed-MSFT commented on #37404
@slavizh Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

[2019-08-20 08:03] SadiqhAhmed-MSFT commented on #37405
@test123114 Thanks for the question. We are investigating this issue and will get back to you shortly.

@tfitzmac Could you please review the template and provide further assistance on this?

[2019-08-20 08:04] rockboyfor opened #37408 "Storage Pool configuration"
For this section of https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-sql-server-storage-configuration#storage-configuration.   After we deployed the SQL virtual machine image(Free License: SQL Server 2016 SP2 Developer on Windows Server 2016) in Azure China Portal(https://portal.azure.cn),  the storage pool named dataDisks have been generated with follow

[2019-08-20 08:26] HQJaTu opened #37409 "Information not accurate for Az-library"
Comment at the top of the page states "This article has been updated to use the new Azure PowerShell Az module."

All the information in this page is not valid for Az-library. It is not valid for its predessor AzureRM-library. All the information is valid only for deprecated Azure-library.

Please revise the information on this page to reflect current situation.

---
#### Document Details

⚠ *Do n

[2019-08-20 08:27] SamirFarhat commented on #37228
Yes. The portal should this Step as Required, bit IMO, it's not, it's optional. The article should mention that this step is only required if we want to use the managed domain dns service as our primary dns resolution service, in order for example to solve the managed domain name.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Marilee Turscak - MSFT <notifi

[2019-08-20 08:35] msimecek opened #37410 "Acitve property - delete webhook and set to false?"
I don't understand the role of the active property and this paragraph in particular:

You should **delete** webhook **and switch** Active property to false? On the webhook you just deleted? Or somewhere else? Could you please clarify how the active property is supposed to work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-08-20 08:35] random-filip opened #37411 "Open in PowerBI button"
I don't seem to find the button to open a connection to the DW in PBI. HAs it been removed? In that case, please update the tutorial. If not, where is it found?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 790b479d-d480-ff4f-c5cb-f047f51fc0c1
* Version Independent ID: f5a6c6d3-ee91-578d-e158-e5b90b073faf
* Content: [

[2019-08-20 08:41] KrishnaG-MSFT commented on #37403
@rphoon Thanks for the comment. We are actively investigating on your ask and will get back to you shortly with an update.

[2019-08-20 08:42] snyggapa opened #37413 "Document how ports and ICMP are related - or not"
Documentation is unclear as to whether source and destination ports are used in ICMP rules as ICMP does not have a "port" by definition.

Should they always be any / any , or for ICMP are these types instead of ports - so type 8 being echo request and 0 being reply - can we filter to this granularity?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-08-20 08:47] RohitMungi-MSFT commented on #37410
@msimecek Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-08-20 08:48] Jaiphadnis-20 commented on #37343
@Alberto-Vega-MSFT Here is the document link I am following for the same: https://docs.microsoft.com/en-us/azure/data-factory/connector-xero

[2019-08-20 09:05] mahesh-raghunandanan opened #37414 "Documentation for this feature for Java Springboot application"
Is there a similar support for Java based application for Sensitive information to be passed as Spring boot environment variables?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba5deb43-08e3-09fe-1696-29f49764580b
* Version Independent ID: 0c910667-1d39-47dd-c70b-ab40999ea160
* Content: [Securely saving secret applica

[2019-08-20 09:09] danglund opened #37415 "Microsoft Authenticator page link is broken"
Points to https://www.microsoft.com/account/authenticator and says "We are sorry, the page you requested cannot be found.
The URL may be misspelled or the page you're looking for is no longer available."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 640b9158-3bba-2f76-b9f1-c2660e530062
* Version Independent ID: d6d298

[2019-08-20 09:14] AlexanderTodorovic opened #37416 "config.json missing?"
Dear All,
it seems the file config.json is missing.
Also when running the code
from azureml.core import Workspace
ws = Workspace.from_config()
and entering the code another screen appears where I have to enter my e-mail address. Then the message "Taking you to your organization's sign-in page" is shown but run endless.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-08-20 09:18] monhaber commented on #36890
@theheatDK    -  The word "fusion" in this case, was not referring to a product/service name.  However,  since you pointed out that this can be confusing, we are replacing fusion with Cloud smart alert correlation with a link to
https://docs.microsoft.com/en-us/azure/security-center/security-center-alerts-cloud-smart

Does this make more sense?

[2019-08-20 09:20] SamirFarhat opened #37417 "Outbound Network requirements are not detailed"
Hi,
Why outbound network requirements are not detailed here. The default created NSG shows allowed traffic to all Internet. Is this required ? Can we narrow this range if it's required. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7013d117-4c2e-1b3e-0b67-d3eec67dc490
* Version Independent ID: c948be62-abef-57b

[2019-08-20 09:24] tiesmaster opened #37418 ""Advanced Threat Protection" panel in the Portal has been rename to "Advanced security""
It seems that the settings entry for "Advanced Threat Protection" has been renamed to "Advanced security" by Azure. The docs should be updated accordingly:

![image](https://user-images.githubusercontent.com/460904/63335209-391af480-c33d-11e9-81af-f7aa5fed956a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b92c19

[2019-08-20 09:33] slavizh commented on #35489
@omerzubair workspace id comes from time when Log Analytics was called OMS and not part of Azure. ResourceID is the standard way of unique IDs for Azure resources. Certainly something can be done in code but it will only slow the cmdlet as you probably will have to call Azure API to get all workspaces for tenant and than filter on the ID. At then end once you have the workspace resource you will s

[2019-08-20 09:34] angoyal-msft commented on #37411
@random-filip
Thanks for your feedback. We are investigating this issue actively and will get back to you soon.

[2019-08-20 09:36] brandonh-msft opened #37419 "Port specifications need clarity"
The "Ports" doesn't tell me if it's Source or Destination; when creating NSG rules, both boxes are available for filling in, so we need to be more specific here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5677742-ce89-fe42-6b8e-d9b27a42ec95
* Version Independent ID: 7225cb78-956a-ba35-dc04-e84356d96932
* Content:

[2019-08-20 09:42] ram-msft commented on #37291
@Adjrobinson We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-20 09:42] #37291 closed

[2019-08-20 09:46] msrini-MSFT commented on #37413
@snyggapa , Thank you for posting here.

ICMP is a layer 3 protocol and it doesn't have a port. So when you create a rule for ICMP, use any/any in the ports field.

Let me know if you have any further questions.

[2019-08-20 09:51] snyggapa commented on #37413
Thanks. Would be nice if the documentation made that clear (or disabled the ports fields when ICMP is selected).

Even better would be the ability to filter by ICMP Type as above but that's not a critical requirement, just a nice to have

[2019-08-20 09:52] ram-msft commented on #37416
@AlexanderTodorovic Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-08-20 10:03] odin88 opened #37420 "Warning when using Get-AzMetric"
I try to run : (Get-AzMetric @MonitorParameters -DetailedOutput).MetricValues
Output :

WARNING: 9:59:49 AM - *** The namespace for all the model classes will change from Microsoft.Azure.Management.Monitor.Management.Models to Microsoft.Azure.Management.Monitor.Models in future releases.
WARNING: 9:59:49 AM - *** The namespace for output classes will be uniform for all classes in future releases t

[2019-08-20 10:03] msrini-MSFT commented on #37413
@snyggapa , thank you. I will pass on your feedback.

[2019-08-20 10:03] #37413 closed

[2019-08-20 10:10] BhargaviAnnadevara-MSFT commented on #37406
@Ashjoker24 Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2019-08-20 10:13] angoyal-msft commented on #37411
@random-filip Thanks a lot for the valuable feedback. Could you please go to the SQL Data warehouse and then try to go to Build Dashboards  + reports as shown in the screenshot below.

![image](https://user-images.githubusercontent.com/43370663/63338713-f9660400-c360-11e9-8b90-f0a80811a8c7.png)

@mlee3gsd Could you please check the tutorial, I believe the tutorial needs some udpations.

Hope this

[2019-08-20 10:19] omerzubair commented on #35489
Thanks @slavizh
Jusy fyi Get/Set-AzDiagnosticSetting
Is not working ATM.
I have raised another issue seprate to track it.
https://github.com/Azure/azure-powershell/issues/9863

[2019-08-20 10:21] SwathiDhanwada-MSFT commented on #37177
@AdamMirza When the suppress alerts is checked, it allows you to set an amount of time to wait before alerting again. AFAIK, it will suppress the alerts till the mentioned time.

Please make sure to specify an suppress alert value greater than frequency of alert to ensure notifications are stopped without overlap.

@msvijayn can you please share your thoughts on the same?

[2019-08-20 10:24] Ashjoker24 commented on #37406
Hi Bhargavi, this is the link which i followed
Link : https://docs.microsoft.com/en-in/azure/azure-netapp-files/azure-netapp-files-quickstart-set-up-account-create-volumes

[2019-08-20 10:29] joecarlyle opened #37421 "IKE requirements listed are incorrect."
https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-faq#am-i-required-to-use-a-preferred-partner-device At the link, it details any device can be used as long as support exists for IKEv1/IKEv2 - Virtual WAN deploys route based VPN gateways which do not support IKEv1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-08-20 10:34] AlexanderTodorovic commented on #37416
I've resolved this issue one my own. 1) Created a DSVM compute environment 2) Run the above two lines of codes there #) login was fine with DSVM
Finally going again used the Notebooks VM. This time the login works fine.
Thanks.

[2019-08-20 10:38] ram-msft commented on #37416
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-20 10:38] #37416 closed

[2019-08-20 10:45] VikasPullagura-MSFT commented on #37408
@rockboyfor Thanks for the feedback we are looking into this and will get back shortly.

[2019-08-20 10:49] ahelal opened #37422 "MariaDB version"
Not sure if the documentation is wrong or I am misunderstanding.
I assume the automatic upgrade is done on patch not minor ?
or it is correct minor version i.e. 10.2.x -&gt; 10.3.x  will be handled automatically ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f5e4798-d1ea-e82b-0459-2e268387152d
* Version Independent

[2019-08-20 10:50] PramodValavala-MSFT commented on #37419
@brandonh-msft Thanks for the feedback! All the ports mentioned in the doc are meant to be destination ports. @ecfan Could you confirm?

Source ports are generally ephemeral unless a client program uses a specific port, so the property is usually set to `*` in most cases.

[2019-08-20 10:58] lukepuplett opened #37423 "Bad sample JSON for creating Consumption Plan"
JSON sample under this title link does not work, sadly.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-infrastructure-as-code#create-a-consumption-plan

[code]
My ARM JSON
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1ba8817-3e01-7e84-6c71-b98b131f2927
* Version Independent ID: a7703386-9e8

[2019-08-20 10:59] msvijayn commented on #37177
Alert suppression option will fire the first alert and subsequently suppress the further fires for the time specified. As stated by @SwathiDhanwada-MSFT  in the earlier comment.

For maintenance mode or complete closure of notifications, suggest using [action rules](https://docs.microsoft.com/azure/azure-monitor/platform/alerts-action-rules).

[2019-08-20 11:01] abhirockzz opened #37424 "Clarify the term "BYOK""
The [Inclusive and exclusive access to features section](https://docs.microsoft.com/en-in/azure/event-hubs/event-hubs-dedicated-overview#inclusive-and-exclusive-access-to-features) mentions the term "BYOK". What does this mean? "Bring Your Own Kafka"? Would be nice to clarify this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-08-20 11:18] random-filip commented on #37411
Hi,

Clicking on the Build dashboards link gets me here:

[cid:image001.png@01D55759.C5333130]

Clicking on the Power BI link gets me here:

https://app.powerbi.com/groups/me/groupWelcome

[cid:image002.jpg@01D55759.C5333130]

So no direct connection with the Azure DW I started from ☹

BR,
Filip

From: angoyal-msft <notifications@github.com>
Sent: den 20 augusti 2019 12:14
To: MicrosoftDocs/azure-

[2019-08-20 11:18] valentinadeshko commented on #23045
As per Azure docs - Free Trial subscriptions aren't eligible for limit or quota increases. If you have a Free Trial subscription, you can upgrade to a Pay-As-You-Go subscription.

[2019-08-20 11:26] monhaber commented on #37063
Looking into this. I will get back to you within a few days.

[2019-08-20 11:28] monhaber commented on #36997
Looking into this - will can back to you within a few days.

[2019-08-20 11:28] PramodValavala-MSFT commented on #37423
@lukepuplett Thanks for catching that! The [`Microsoft.Web/serverfarms`](https://docs.microsoft.com/en-us/azure/templates/microsoft.web/2018-02-01/serverfarms) template has indeed changed.

There is now a Dynamic Y1 Plan instead when exporting the consumption app service plan like below

We are assigning this issue to the content author for further review.

[2019-08-20 11:29] alexmpmenezes commented on #36905
Hi @tburns10. Thanks for the clarification. Would be possible to have this statement (data retention time) in our official Docs so all customers can refer to?
Currently the Computer Vision [Data Privacy statement ](https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/home#data-privacy-and-security) is quite generic.
And If the data is only temporarily stored it is understandab

[2019-08-20 11:32] rameshnaga commented on #26862
Hi Any update on this issue ? I'm facing the same issue
activity_runs_paged = list(adf_client.activity_runs.query_by_pipeline_run(
        rg_name, df_name, pipeline_run.run_id, datetime.now() - timedelta(1), end_time = datetime.now() + timedelta(1)))
print_activity_run_details(activity_runs_paged[0])

SerializationError: Unable to build a model: Unable to deserialize to object: type, TypeError: '

[2019-08-20 11:38] PramodValavala-MSFT commented on #37424
@abhirockzz Thanks for catching that! BYOK stands for "Bring Your Own Key", which was mentioned in a [recent announcement](https://azure.microsoft.com/en-in/blog/announcing-self-serve-experience-for-azure-event-hubs-clusters/).

More details of the feature would be made public in a similar announcement.

[2019-08-20 11:49] PixelPartner opened #37425 "The described hierarchy differs from sample screenshots"
I seems the bones drawn for eyes and ears in the sample app use a different hierarchy.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: bfd96838-87c8-c27e-f8ee-a2db651ba463
* Version Independent ID: ab4d754c-e83f-7d20-cd8c-690033684406
* Content: [Azure Kinect body tracking joints](https:

[2019-08-20 11:58] msrini-MSFT commented on #37421
@joecarlyle , Thank you for your feedback. I will investigate and get back to you soon.

[2019-08-20 12:10] MSIH opened #37426 "Why do you need to Update-AzVmss when creating NSG?"
Why is this needed for the example to create NSG?
# Get information about the scale set
$vmss = Get-AzVmss `
            -ResourceGroupName "myResourceGroup" `
            -VMScaleSetName "myScaleSet"

# Update the scale set and apply the Custom Script Extension to the VM instances
Update-AzVmss `
    -ResourceGroupName "myResourceGroup" `
    -Name "myScaleSet" `
    -VirtualMachineScaleSet $vmss

[2019-08-20 12:12] #32123 closed

[2019-08-20 12:25] MSIH opened #37427 "What is a regional scale set?"
The term regional scale set is never defined on this page or linked.

Is a regional scale set, just a scale set with Availablity Zone set to none?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5880e85-75e2-21b0-0f7e-b7541bdc04ae
* Version Independent ID: 762f79cf-563d-1bb7-ddae-8c53131abaf6
* Content: [Create an Azur

[2019-08-20 12:30] AshokPeddakotla-MSFT commented on #34985
@Satya519364 Have you had a chance to see the above response? Let us know if you are still blocked and need further help.

[2019-08-20 12:34] AshokPeddakotla-MSFT commented on #36883
@nberdy Please have a look at this issue and update the doc.

[2019-08-20 12:37] Sas002 commented on #37206
Is it a bug for reading files from Linux using Linux diagnostics agent . Can we have ETA for this issue . I am also working with Azure monitoring CSS team for the same but seems this is a product bug.

[2019-08-20 12:39] jakaruna-MSFT commented on #37206
@Sas002 I am still checking.  Tracking changes in files are not working for me as well.
I will reach out to the internal teams and let you know

[2019-08-20 12:43] jakaruna-MSFT commented on #37426
@MSIH Thanks for reporting it.
I went through that script. Updating the vmss is not needed.
I will update the doc as needed.

[2019-08-20 12:44] AshokPeddakotla-MSFT commented on #36615
@QiMata Thanks for reporting this. [PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/85930) has been created to update the doc and changes will go live by EOD. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-20 12:44] #36615 closed

[2019-08-20 12:52] MaximTkachenko opened #37428 "SetupUser.ps1 - need clarification"
Why do I need to create two new users in Azure AD? I suppose more regular case when I need to give access to existing users. And probably later after cluster creation it will be needed to give access to another users. Could you explain this scenarios?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51489a2b-fef9-86d8-11

[2019-08-20 12:57] sbi-rviot commented on #37079
ok!
I found the solution. but thank you!

[2019-08-20 13:03] kastromatos commented on #37404
Missed "ResourceType" property in samples for ServiceHealth.

[2019-08-20 13:07] joecarlyle commented on #37421
Actually, you can cancel that. It does support ike1 &v2 it just doesn't support policy based routing.

[2019-08-20 13:14] msrini-MSFT commented on #37421
Sure, will go ahead and close this issue.

[2019-08-20 13:14] #37421 closed

[2019-08-20 13:16] guitarfreak58 commented on #37400
Yes this is completely broken with the new GUID. We can't even use the original AutoPilot device query that gather all ZTDId marked devices (it basically leaves out and has an issue with "-any _" being in the dynamic query). This is a huge problem and needs to be fixed asap.

[2019-08-20 13:22] dschenzer commented on #36905
I think so too, that it would be very valuable for our clients that they dont need to worry about the data persistance, because there are policies on place ensuring data is deleted at the latest of 48h.

If we could get that statement into our docs thats would be highly appricated.

[2019-08-20 13:23] SamaraSoucy-MSFT commented on #37409
@HQJaTu Thank you for the feedback. I will assign this to the doc author to make the updates.

[2019-08-20 13:24] m8r1us commented on #37249
@SaurabhSharma-MSFT Thank you. The question was: Why can an user with the Azure RBAC Reader role see the Primary and Secondary Key of automation accounts.
![image](https://user-images.githubusercontent.com/20727068/63350546-ec93e100-c35d-11e9-85ec-aea0b0ba40cb.png)
![image](https://user-images.githubusercontent.com/20727068/63350586-fc132a00-c35d-11e9-8c67-584c832727e8.png)

So far that I know the

[2019-08-20 14:00] timoklimmer opened #37429 "Supported metrics documentation"
I am missing some details or least some link(s) that give us the explanations and the formulae for the metrics in the Primary Metric section. Without it it hard's to decide for the right metric.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 585fff5e-cadd-8967-8c09-63d8afcb53b3
* Version Independent ID: 95274303-b152-2

[2019-08-20 14:01] NavtejSaini-MSFT commented on #37324
@omiday Hopefully the information must have answered your questions. We will go ahead and close this case if you don't have any more questions.

[2019-08-20 14:02] neeleshray-msft commented on #37415
@danglund Thank you for your feedback. We will check it with the engineering internally and let you know accordingly.

[2019-08-20 14:05] neeleshray-msft commented on #37415
@eross-msft Could this be rectified ?
The broken link is in the Notes section of [this part](https://docs.microsoft.com/en-us/azure/active-directory/user-help/user-help-auth-app-download-install#download-and-install-the-app) of the document.

[2019-08-20 14:06] neeleshray-msft commented on #37417
@SamirFarhat Thank you for your feedback. We will check it with the engineering internally and let you know accordingly.

[2019-08-20 14:07] porrascarlos802018 opened #37430 "Missing guidelines to use private images and failed to say which registries are supported"
Missing guidelines to use private images and failed to say which registries are supported
please update ASAP.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea9129e2-9a79-6877-8566-ab6ff480c9bf
* Version Independent ID: 65e2e873-996f-068b-0aaf-2e5622196b16
* Content: [Tutorial - Prepare container image for Azure Contai

[2019-08-20 14:07] xtianus79 commented on #23045
Hi can you please refund my account it's an emergency
________________________________
From: valentinadeshko <notifications@github.com>
Sent: Tuesday, August 20, 2019 7:18 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Unable to create a Spark cluster in Databricks using Trial Free Subscription

[2019-08-20 14:08] neeleshray-msft commented on #37414
@mahesh-raghunandanan Thank you for your query. We will check it with the engineering internally and let you know accordingly.

[2019-08-20 14:09] rudischmitz71 opened #37431 "Server Update timings?"
Been using Azure AD Domain Services for over two years. My AADDS is on a classic network. Infrequently at random times my global catalog server is unavailable and I can't use my Azure Windows Server running NPS to login my users. So I have about 15 minute outages on user logins. We should be able to block out times for not running the Windows updates on these servers, like only at 2am on weekend?

[2019-08-20 14:17] rudischmitz71 commented on #37431
More investigation: The outage of the GCs appear to be the same time within the minute that your backup is taken.  When I look under Monitors on the portal for this AADDS> _Last backed up on_

[2019-08-20 14:21] ram-msft commented on #37429
@timoklimmer Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-08-20 14:21] hhubers opened #37432 "Inconsistency between `cp` and `copy`"
Throughout the document there is inconsistent use of `cp` and `copy`. Most notably in section **Upload files**.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b646ce05-8744-6bd6-89d2-d830d27955e2
* Version Independent ID: 1c2226e5-be43-2d8e-a791-78570378b988
* Content: [Transfer data to or from Azure Blob storage by us

[2019-08-20 14:21] Kressilac opened #37433 "Issue with certs created according to the P2S VPN documentation."
This morning or within the past week, all of my VPN certs that were previously working using the applet downloaded from the VPN blade in Azure, stopped working.  They started reporting "A certificate could not be found that can be used with this Extensible Authentication Protocol. (Error 798)"

I think the solution is to regenerate the child cert with Server Authentication as well as Client Authen

[2019-08-20 14:27] mochr opened #37434 "Microsoft identity platform endpoint requires new admin approval"
When adding the option:
`options.Authority = options.Authority + "/v2.0/";`
I get an error message from the sign-in dialogue: "Need admin approval", "&lt;Name of app&gt; needs permission to access resources in your organization that only an admin can grant. Please ask an admin to grant permission to this app before you can use it.

I don't get this message when I'm not using the v2.0 option. In th

[2019-08-20 14:30] hhubers opened #37435 "Page redundancy"
This page has less information than the other AzCopy document page: https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-blobs
Additionally, this page has consistency issues (`cp` vs `copy`) and outdated information in comparison.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd2ee3a6-a4ae-068a-1a7

[2019-08-20 14:30] jonwbstr opened #37436 "Create How to article for managing email addresses (ProxyAddresses)"
Most organizations, when configuring ADConnect, manage the proxyaddresses field using ADUC Attribute Editor. If Microsoft recommends another method that would be good to know.

For the manual ADUC method, it would be extremely helpful to have an official microsoft article that looks something like this: https://support.knowbe4.com/hc/en-us/articles/360001676307-How-Do-I-View-Mail-and-Proxy-Address

[2019-08-20 14:33] AkshayTharval commented on #37266
@YutongTie-MSFT there hasnt been any response for 4 days, is there a way to expedite it?

[2019-08-20 14:34] hhubers opened #37437 "Download and Upload commands are out of date."
When attempting to use `copy` or `cp`, users are greeted with `[ERROR] The syntax of the command is incorrect. Unrecognized command or argument 'copy'`.

The appropriate upload command is:
[code]
The appropriate download command is:
[code]

This should be reflected in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-08-20 14:37] YutongTie-MSFT commented on #37266
@AkshayTharval Hi Akshay, sorry for the delay. It's difficult to reproduce it so I think live trouble shooting would be better. We could help you open a support ticket for this case. Could you please send us an email at Azcommunity@microsoft.com with your Azure subscription ID and URL of this thread? Thank you.

[2019-08-20 14:39] YutongTie-MSFT commented on #37354
@nacharya1 Hi, seems all the pages related to SupportedAlgorithms Class has gone. Could you please help to check? Thank you.

[2019-08-20 14:50] heetvachhani opened #37438 "Frontend app throws 400 error after updating the additionalLoginParams in resource explorer"
I am following the exact same steps for our front-end and back-end apps but after updating the additionalLoginParams with backend client id front end app starts throwing 400 errors. Let me know if there is any new steps that needs to be added for it to work correctly. Using linux app service.
Please see below logs.

019-08-20T14:42:57.603134952Z [40m[32minfo[39m[22m[49m: Microsoft.AspNetCore.

[2019-08-20 14:52] kitkatneko opened #37439 "default vnet"
is there a restriction or concept I am not grasping for setting up this appliance on its own vnet?

we have various vnets and environments and it would be nicer to be able to pick a target vnet for this template.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fdde01c-b8fc-373c-99d0-dd71554fc6f2
* Version Independent I

[2019-08-20 14:55] kai-wang- commented on #13371
I tried the doc (Tutorial: Add an HTTPS endpoint to an ASP.NET Core Web API front-end service using Kestrel) to enable Kestrel/HTTPS in Service Fabric environment. However, the instructions are too complicated. Relatively appsettings.json provides easier way to enable https which is widely used.

[2019-08-20 14:56] GeorgePlotnikov opened #37440 "Custom metrics for the Azure Managed Applications view"
Hi, is it possible to build a metric view based on custom metrics?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5041f6a-3d5b-5a3e-76ca-294c728a135f
* Version Independent ID: ec5c7a75-1fcb-7922-b7a0-2152b769290d
* Content: [Overview of view definition in Azure Managed Applications](https://docs.microsoft.com/en-us/az

[2019-08-20 14:58] dominicbetts commented on #36683
Hi @shulagrawal - thanks for reporting this. I've fixed the link and the changes should be live later today. For reference, the link is now https://github.com/Azure/azure-iot-sdk-c/blob/master/provisioning_client/devdoc/using_provisioning_client.md

[2019-08-20 14:58] dominicbetts commented on #36683
#please-close

[2019-08-20 14:58] #36683 closed

[2019-08-20 14:59] kai-wang- commented on #13371
Furthermore, I found another way to load SSL certificate from Azure Key Vault, the app is running in Docker container. This avoid the dependency to Service Fabric.

My point is: Enabling https with SSL certificate is very common requirement for production environment.  Service Fabric, as a host, should provide easier way to achieve this goal.

[2019-08-20 15:09] mawtex opened #37442 "Cosmos DB Emulator significantly slower when launced via Task Scheduler, occational timeouts"
We are using the Cosmos DB Emulator as part of our automated testing. We are experiencing a huge performance difference from the emulator, depending on how we launch it.

* Lunching the emulator directly and then executing a mass import of 100K documents take around 1 minute and works with 100% success.
* When the emulator is launched via task scheduler, the same job takes around 14 minutes, and t

[2019-08-20 15:09] jaswanthpadigala commented on #36885
The SSO button showed up on login page after enabling safe mode. The culprit was a 3rd party add-on - we worked with the vendor to fix it. Thanks again for your time and attention to this ticket.

[2019-08-20 15:09] #36885 closed

[2019-08-20 15:10] lancezhoward commented on #27184
Thank you Travis.

Thank You
Lance Howard
Systems Administrator
FASTER Asset Solutions
ph: 757.623-1700 ext. 2021
web: www.fasterasset.com<http://www.fasterasset.com/>
email: lance.h@fasterasset.com<mailto:lance.h@fasterasset.com>

From: TravisCragg-MSFT <notifications@github.com>
Sent: Wednesday, August 14, 2019 5:52 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Lance Howard

[2019-08-20 15:16] RohitMungi-MSFT commented on #37229
@nfnpmc We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-20 15:16] #37229 closed

[2019-08-20 15:21] sdgilley commented on #37134
I see.  You have additional packages required for your training script.  What you've done is install that package on the Notebook VM.

However, when you submit your training script to a remote compute target, that machine also needs to know about your additional packages  To do this, you create a run configuration, and when you submit your experiment, specify that run configuration.  See https://d

[2019-08-20 15:27] hidwatanabe opened #37443 "explanation of spark.hadoop.hive.llap.daemon.service.hosts parameter"
&gt; Set spark.hadoop.hive.llap.daemon.service.hosts to the same value as the property LLAP app name under Advanced hive-interactive-env. For example, llap0

It didn't work well. It worked by copying value from Advanced hive-interactive-site &gt; hive.llap.daemon.service.hosts instead of above setting. For example, @llap0

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-08-20 15:30] Weatwagon opened #37445 "participants.properties Example Value Needed"
I'm able to generate voice signatures using the provided link to the Transcribe conversations (SDK) https://docs.microsoft.com/en-us/azure/cognitive-services/Speech-Service/how-to-use-conversation-transcription-service

In the participants.properties file I've added PARTICIPANTSLIST={ "Version": &lt;Numeric value&gt;, "Tag": "string", "Data": "string" } on line 1.

When I run the project I get an

[2019-08-20 15:33] DougCoombs commented on #35302
The sentence RE: the license key should be removed as it is no longer necessary.  Also, it may make the docs more sustainable to point to: https://docs.microsoft.com/en-us/fslogix/configure-profile-container-tutorial and/or https://docs.microsoft.com/en-us/fslogix/install-ht.

[2019-08-20 15:35] JasonWHowell commented on #37310
@matgessel I hope the answer given by Rodrigo was helpful. We'll close out the thread for now, but feel free to discuss further if your questions were not answered. #please-close

[2019-08-20 15:35] #37310 closed

[2019-08-20 15:42] NavtejSaini-MSFT commented on #37420
@odin88 We are looking into this as will get back to you regarding this.

[2019-08-20 15:43] derekrprice commented on #37345
You are correct, sorry.  I had accidentally installed Studio3T from the link instead of Robo3T.  Apparently only Studio3T has the problem.

Incidentally, one of your screenshots is out of date.  There are "Direct Connection" and "Replica Set" Type options now before the Name, Address, and Port fields.  When I copied the connection URL straight from the Azure Portal's Cosmos Connection Strings blad

[2019-08-20 15:43] NavtejSaini-MSFT commented on #37422
@ahelal We are checking this and will get back to you regarding this.

[2019-08-20 15:44] jasondown commented on #37100
Fair enough. It just seems that the publish settings window in visual studio should not require a local settings file to be able to even see the remote settings (without having to either go to the portal or fetch them manually via the command line etc.). As a workaround, our team is creating a local.settings.json file in our repository that holds only a few stubs, committing that file and then add

[2019-08-20 15:45] trevorbye commented on #37366
@dotties if you are new to Jupyter notebooks, they work on the concept of "cells". In a normal python script you execute all the code at once (which you can do in Jupyter as well), but in Jupyter notebooks you can also execute each code cell one by one, pausing as long as you want before running the next one, as all cell outputs remain in memory.

So, to answer your question of where do you import

[2019-08-20 15:46] heetvachhani commented on #37438
So we figured out the issue, in Frontend application configuration setting there is below property that needs to be set to true.
`WEBSITE_AUTH_DISABLE_IDENTITY_FLOW: true`

[2019-08-20 15:47] CeciAc opened #37446 "Request for modifying/adding the impact to resources/service"
@hiromingithub commented on [Tue Aug 20 2019](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2761)

Kindly modify the below context as it sometimes impacts on the Powershell/context info..

Current)
https://docs.microsoft.com/en-us/azure/billing/billing-subscription-transfer#does-a-subscription-transfer-result-in-any-service-downtime
If you transfer a subscription to a user in the same A

[2019-08-20 15:47] RicksterCDN commented on #25138
document being updated by cloud-init team today.
#please-close

[2019-08-20 15:47] #25138 closed

[2019-08-20 15:48] CeciAc commented on #37446
Hi team,
I'm moving this here because the user is making a suggestion on the original text
best

[2019-08-20 15:48] pettys opened #37447 "Family.ToString() - why implemented"
Totally new to cosmosdb and want to get an idea of how to use it. I was thrown off by Family.ToString() being implemented, but, as far as I can tell, not used. (EDIT: I just noticed it's used in the console output). Is implementing a JSON-serializing ToString() needed or useful for cosmosdb? If not, I suggest removing it, or adding a comment such as // For demo purposes; not needed for CosmosDB.

[2019-08-20 15:49] heetvachhani commented on #37438
Please update the documentation with the above property so people know how to configure this as there is some kind of issue with the linux app easyAuth flow.

[2019-08-20 15:49] RicksterCDN commented on #30297
#please-close

[2019-08-20 15:49] #30297 closed

[2019-08-20 15:51] okieselbach commented on #22886
Hi @all,
I don't think that systemLabels can be added as the message from Microsoft is very clear here. Look at my first attempt, the exception (error message) clearly states:

Message: Property 'systemLabels' is **read-only and cannot be set.**

It is something they probably use for their Managed Desktop offering but not intended for usage by all of us. That's what the message tells us.

[2019-08-20 15:54] AdamMirza commented on #37177
Thank you for the clarification! This helps me understand the role of suppression on alerts. Much appreciated.

[2019-08-20 15:54] #37177 closed

[2019-08-20 15:58] Weatwagon commented on #37445
I believe I figured out the format PARTICIPANTSLIST=<User@{ "Version": <Numeric value>, "Tag": "string", "Data": "string" } >

You may close the issue. Would be nice to have in the documentation though.

[2019-08-20 16:10] MicahMcKittrick-MSFT commented on #37430
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-20 16:10] MicahMcKittrick-MSFT commented on #37428
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-20 16:11] MicahMcKittrick-MSFT commented on #37407
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-20 16:11] YutongTie-MSFT commented on #37445
@Weatwagon
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-08-20 16:11] #37445 closed

[2019-08-20 16:11] MicahMcKittrick-MSFT commented on #37427
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-20 16:11] trevorbye commented on #37369
@dotties the first paragraph in the connect workspace section answers your question about the config.json file:

***This looks for the JSON file in the current directory by default, but you can also specify a path parameter to point to the file using from_config(path="your/file/path"). If you are running this notebook in a cloud notebook server in your workspace, the file is automatically in the r

[2019-08-20 16:17] CarlRabeler commented on #37257
@Mike-Ubezzi-MSFT please assign to @MashaMSFT

[2019-08-20 16:21] bremnes opened #37448 "Location described as not required, Logic App throws error if not provided"
In the section [Upload content in chunks, step 2](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-handle-large-messages#upload-content-in-chunks), `Location` is currently set to `Required`: `No`.

If `location` is not provided in the response from my api the following error is shown in the failed logic app run:

After adding the `location` header in the response, everything works as e

[2019-08-20 16:27] RicksterCDN commented on #18408
#close

[2019-08-20 16:29] RicksterCDN commented on #30421
#please-close

[2019-08-20 16:29] #30421 closed

[2019-08-20 16:29] RicksterCDN commented on #18408
#please-close

[2019-08-20 16:29] #18408 closed

[2019-08-20 16:30] RicksterCDN commented on #31031
#please-close

[2019-08-20 16:30] #31031 closed

[2019-08-20 16:34] joeywalla opened #37449 "Bypass Authenticator App not Displayed"
The screenshots in steps 1-12 show the option at the bottom of menu "I want to set up a different method"; this is not shown in our current testing.  We have some users that do not want to install the Microsoft Authenticator application and, not allowing them to skip this step to use the phone/text only options will make adoption difficult.  Will this option return and/or is it something that coul

[2019-08-20 16:35] shashishailaj commented on #37384
@DeanGross We have requested more information on this from the product group . As for the general roadmap , anything that is publicly shared is always available on the [Azure updates website]( https://azure.microsoft.com/en-us/updates/?product=azure-sentinel&updatetype=security) . I will update this thread once I have any new infromation on this.

[2019-08-20 16:36] MashaMSFT commented on #37257
Hi @hpatel01, thanks for contacting Microsoft! Can you please review this and let us know if this satisfies your question?
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-transact-sql-information#replication

Thanks!
Masha from the SQL Docs team

[2019-08-20 16:43] mawtex commented on #37442
Issue resolved.

Forcing the scheduled task to run with the same CPU, memory and IO priority as an interactive process resolve the issue. Scheduled tasks will, by default, run with lower priority for those three resources.

This priority on scheduled tasks cannot be set via UI, but can be done in other ways:

**Fix 1: Editing scheduled task via export/edit xml/re-import:**
Export the task, find th

[2019-08-20 16:43] #37442 closed

[2019-08-20 16:47] MicahMcKittrick-MSFT commented on #37430
@porrascarlos802018 we do have a doc on working with private registries

https://docs.microsoft.com/en-us/azure/container-registry/container-registry-get-started-docker-cli

Is that what you were looking for?

[2019-08-20 16:51] MicahMcKittrick-MSFT commented on #37428
@MaximTkachenko have you checked the link we provided in this document that explains what the preconfigured scripts do?

https://github.com/Azure-Samples/service-fabric-aad-helpers#getting-started

[2019-08-20 16:51] ckittel opened #37450 "Any New Networking Requirements?"
When using this process (via SFRP) to inform your cluster about new application and service types, does SFRP need to have any sort of network line of sight/access to the cluster?  For example, does it need access to port 190[8|0]0?  Or does the cluster periodically reach out to SFRP to see if there is application registration/deployment to do?  Basically, from a networking perspective, for this fe

[2019-08-20 16:58] Adam-Smith-MSFT commented on #37437
@hhubers  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-20 16:59] Adam-Smith-MSFT commented on #37435
@hhubers Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-20 17:06] KranthiPakala-MSFT commented on #37443
@hidwatanabe Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-08-20 17:06] lukepuplett opened #37451 "Error from using resourceId seems to contradict documentation"
If its my typo I'm sorry but I am pretty sure my "code" is as per this documentation and yet the error says it wants one argument.

&gt; Unable to evaluate template language function 'resourceId': function requires exactly one multi-segmented argument which must be resource type including resource provider namespace.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-08-20 17:07] palma21 commented on #33657
@yossaa /var/run is a symbolic link to /run so the file should appear in both. Could you check if you haven't lost your symlink there?

Here's an example from a VMSS based AKS cluster, kured then proceeded to normally reboot the VMs.
![image](https://user-images.githubusercontent.com/7065724/63368130-20f1a800-c332-11e9-9ae6-42f1c4d54b82.png)

 Both VMSS and VMs are managed by MS, and the VMSS base

[2019-08-20 17:07] andriysavin opened #37452 "Web App for (windows) Containers support"
This article nicely describes how to connect a docker network to an azure VNet when you have needed plug-in either already installed or can install it yourself to a host VM. But what about Web App for (windows) Containers? This doesn't have Network Integration feature supported, and there is no information on how to make this possible. For  something like AKS cluster it's probably natural that con

[2019-08-20 17:07] Adam-Smith-MSFT commented on #37432
@hhubers Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-20 17:08] eross-msft commented on #37415
@danglund  Thank you for catching this. I was going through links the other day, removing the locale references for localization, and I stripped the en-us out of this one...which broke it. The correct link is https://www.microsoft.com/en-us/account/authenticator. I am fixing this on the page now, but the fix won't be live until after 3pm this afternoon. Thanks again!

[2019-08-20 17:08] #37415 closed

[2019-08-20 17:15] PramodValavala-MSFT commented on #37361
@droessmj Thanks for the question! RBAC Support in Azure Service Bus is currently in preview and I believe there isn't a public road map as such. All details pertaining to RBAC should be updated by the time the feature hits GA.

You may also follow the [Azure Updates](https://azure.microsoft.com/en-in/updates/?product=service-bus) page for announcements of new features.

We are assigning this issu

[2019-08-20 17:16] BryanTrach-MSFT commented on #37438
@heetvachhani
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-20 17:16] DCtheGeek commented on #36887
@AakashMasand Sorry for the delay, I've been out-of-office.  That page has a lot of PowerShell examples.  Which one specifically are you running that gave you that error message?

@MicrosoftDocs/azure-cxp-triage #in-progress

[2019-08-20 17:19] mack0196 opened #37454 "Adding views fails"
Creating the controller from the copy-paste code breaks the build which breaks adding a view in my VS2017 experience. The build is fixed in Step 5. It may be a good idea to reorder some steps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8d9b842-de22-59e7-e36a-662e2060ae7a
* Version Independent ID: bda934c5-a268-721

[2019-08-20 17:19] Alberto-Vega-MSFT commented on #37433
Hi @Kressilac Thank you for your feedback. Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2019-08-20 17:21] normesta commented on #37437
@hhubers - Thank you for your feedback. I believe you're using AzCopy v8 commands. The examples in this article use AzCopy V10 syntax. If you want to continue using AzCopy v8, then this section of the article can route you to the AzCopy v8 docs - https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-v10?toc=%2fazure%2fstorage%2fblobs%2ftoc.json#previous-version. Thanks again!

[2019-08-20 17:22] YutongTie-MSFT commented on #37134
@brigiyu
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-08-20 17:22] #37134 closed

[2019-08-20 17:25] ecfan commented on #37419
@PramodValavala-MSFT, I think having separate columns for source and destination ports makes the table more legible, similar to columns for the source and destination service columns.

+ @kevinlam1 for technical review

[2019-08-20 17:25] Alberto-Vega-MSFT commented on #37425
Hi @PixelPartner Thanks for reaching out. Would you please provide a little more detail so I can pass your feedback to the content author?

[2019-08-20 17:25] YutongTie-MSFT commented on #24114
@Karishma-Tiwari-MSFT Hi Karishma, could you please help with this issue? There is no response from the author.

[2019-08-20 17:27] j-martens commented on #37366
Thanks for your question @dotties. This tutorial does expect working knowledge of [Python](https://www.python.org/about/gettingstarted/) and [Jupyter notebooks](https://jupyter.org/jupyter-book/guide/01_overview.html). We hope the answer above helps provide clarity. We will proceed to close this issue. #please-close

[2019-08-20 17:27] #37366 closed

[2019-08-20 17:27] j-martens commented on #37369
Thanks for your question @dotties. This tutorial does expect working knowledge of [Python](https://www.python.org/about/gettingstarted/) and [Jupyter notebooks](https://jupyter.org/jupyter-book/guide/01_overview.html). We hope the answer above helps provide clarity. We will proceed to close this issue. #please-close

[2019-08-20 17:27] #37369 closed

[2019-08-20 17:31] FrankHu-MSFT commented on #37449
@joeywalla Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-20 17:31] FrankHu-MSFT commented on #37434
@mochr Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-20 17:31] FrankHu-MSFT commented on #37436
@jonwbstr Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-20 17:31] MicrosoftGuyJFlo commented on #23520
@AlexFilipin You have some good points. Right now the info that we have from the Product Group focuses on the article below. Having been an IT Pro before this is something I do get and will keep looking into.

https://docs.microsoft.com/azure/active-directory/reports-monitoring/plan-monitoring-and-reporting

[2019-08-20 17:31] MicrosoftGuyJFlo commented on #23520
#please-close

[2019-08-20 17:31] #23520 closed

[2019-08-20 17:32] larryms commented on #37270
You probably want to edit the script to do something like this:
[code]

[2019-08-20 17:32] FrankHu-MSFT commented on #37431
@rudischmitz71 Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-20 17:33] Adam-Smith-MSFT commented on #37418
@tiesmaster Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-20 17:33] MicahMcKittrick-MSFT commented on #37407
@rdeltcheva could you assist on this ask?

[2019-08-20 17:35] MicahMcKittrick-MSFT commented on #37450
Thanks for the question! We are investigating and will update you shortly.

[2019-08-20 17:37] lukepuplett commented on #37451
It seems this is a frustrating and unresolved issue from May 2016, great job guys.

https://github.com/Azure/azure-quickstart-templates/issues/1965

[2019-08-20 17:37] ggailey777 commented on #37100
Hey @jasondown I think that you have just highlighted a fantastic gap in tooling, and I think also a bug. I agree that your scenario will be a common one, namely downloading a project from source control and opening it in VS. In this case, there is no local.settings.json file. However, since there is a publish profile, you can get to the Application Settings screen, which is blank because it can't

[2019-08-20 17:39] porrascarlos802018 opened #37456 "Nothing referencing if inbound can be controlled by load balancer or not"
Nothing referencing if inbound can be controlled by load balancer or not

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a38439d0-0125-3445-1c0a-a03b940e315d
* Version Independent ID: c6436a35-94b9-6396-3b13-9291f0a17b21
* Content: [Restrict egress traffic in Azure Kubernetes Service (AKS)](https://docs.microsoft.com/en

[2019-08-20 17:41] davidhamsft opened #37457 "Fixed size"
Picture in documentation includes fixed size option which is no longer available

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 490a08fe-c26e-6cae-5495-0b4f4e71e35d
* Version Independent ID: 79432f02-5059-2627-11e3-eccaf1109665
* Content: [Create a function triggered by Azure Cosmos DB](https://docs.microsoft.com/en-us

[2019-08-20 17:42] normesta commented on #37435
Thank you for reporting the issue. I’ve updated the command strings to use a consistent command across all examples. That should appear on the live site shortly. As far as accuracy, this article focuses on AzCopy V10 with file shares. I believe that you are seeking AzCopy v8 examples for Linux. AzCopy V8 content for Linux has been archived to this location - https://docs.microsoft.com/en-us/previo

[2019-08-20 17:42] normesta commented on #37432
Thank you for reporting the issue. I’ve updated the command strings to use a consistent command across all examples. That change should appear live shortly.

[2019-08-20 17:44] normesta commented on #37437
#please-close

[2019-08-20 17:44] #37437 closed

[2019-08-20 17:45] normesta commented on #37435
#please-close

[2019-08-20 17:45] #37435 closed

[2019-08-20 17:45] normesta commented on #37432
#please-close

[2019-08-20 17:45] #37432 closed

[2019-08-20 17:45] JasonWHowell commented on #37397
I think the doc has a typo on the connection string. It shouldn't be the user's login name (bart), it should be the Cosmos DB account name, eg. the host name, such as simpsoncompany.documents.azure.com

mongodb://{host-name}.documents.azure.com:10255/{dbname}

The details on the connection string format are described here:
https://docs.microsoft.com/en-us/azure/cosmos-db/connect-mongodb-account#co

[2019-08-20 17:47] YutongTie-MSFT commented on #37141
Assigned this issue to Patrick and reopen.

[2019-08-20 17:49] Blackbaud-CameronBlack opened #37458 "Is the custom role “SQL Analytics Monitoring Operator” too permissive?"
The doc suggests creating a custom role called “SQL Analytics Monitoring Operator”

The code supplied then lists specific permissions to enable for **Microsoft.SQL/servers/databases** but then adds a wildcard blanket permission at the end.  Is that intentional?  Doesn't that defeat the purpose of limiting permissions to only those needed?  If it was intentional, it seems far too permissive, and un

[2019-08-20 17:53] MicahMcKittrick-MSFT commented on #37456
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-20 17:58] dlepow commented on #16481
Assigning to Deep for follow-up. Thanks!
#assign:@dkkapur

[2019-08-20 18:00] JonShelley opened #37459 "Missing some information about setting up keyvault manually"
If you prefer to grant access to the key vault manually, go to the Access policies section of the key vault and select "add access policy". Then click "select principle" and search for "Microsoft Azure Batch". Once selected, you will need to configure the Secret permissions using the drop down menu. Azure Batch must be given a minimum of Get, List, Set, and Delete permissions.

I have edited the a

[2019-08-20 18:08] ggailey777 commented on #37100
Thanks @mike-urnun-msft! I'm chatting with folks on the Visual Studio team about this one, and I'll add a link here to the tracking issue, if I can.

[2019-08-20 18:08] Nicholas-I opened #37460 "Connecting Digital Twin to Postman...cannot get response, incomplete instructions?"
Hello

I have been following the tutorial [here](https://docs.microsoft.com/en-us/azure/digital-twins/how-to-configure-postman#make-a-multipart-post-request) and have successfully completed every step up to "Make a multipart POST request". However, when I try to get a simple GET request, I cannot get a response from the server. The instruction imply I can simply make a request and not have to do a

[2019-08-20 18:11] Minewiskan commented on #37187
@payamab - This GitIssue was assigned to documentation, which isn't really the best place for it. Please submit your suggestion to https://feedback.azure.com/forums/556165-azure-analysis-services. These are reviewed by the product team.
#please-close

[2019-08-20 18:11] #37187 closed

[2019-08-20 18:11] vlad-kozlov opened #37461 "script name outdated"
please replace partitionweblogs.hql with hivescript.hql

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc24ebe8-5309-3143-ae92-41b6a5150cf6
* Version Independent ID: d0e667a5-9160-73ce-2d29-156915b60a83
* Content: [Tutorial: Create on-demand Apache Hadoop clusters in Azure HDInsight using Data Factory ](https://docs.mi

[2019-08-20 18:15] Karishma-Tiwari-MSFT commented on #37459
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-20 18:16] ggailey777 commented on #37100
#reassign:ggailey777

[2019-08-20 18:19] JasonWHowell commented on #37397
Hi @SnehaGunda

Could you please review this.

I notice the docs are a little inconsistent on the connection strings.
A. Do we want to use < > or { } for placeholders. Maybe some of the code samples cannot use < >

B. I see several places we are inconsistent on the placeholder names. Is it endpoint, account name, hostname, username, etc. Seems like it's got the wrong placeholder in a few of the ex

[2019-08-20 18:21] tfitzmac commented on #37451
@lukepuplett - sorry about the lack of documentation for this scenario. I am adding an example that will get published this afternoon. Here is how you get the resource ID for a resource type with multiple segments.

"variables": {
    "queueSenderListenerRoleResourceId": "[resourceId('Microsoft.ServiceBus/namespaces/queues/authorizationRules', 'my-ns', 'my-queue', 'my-auth')]"
},

[2019-08-20 18:22] ggailey777 commented on #37311
@binduchinnasamy agree that there are other ways to work with app settings, but Functions typically only shows portal and CLI. I've tweaked the article to clarify this.

[2019-08-20 18:24] Karishma-Tiwari-MSFT commented on #24114
@YutongTie-MSFT  I think Site recovery is part of monitoring and management.
@femsulu Can you please help with getting this issue assigned to the right person. Thanks :)

[2019-08-20 18:26] kartheekakkur commented on #37188
@FrankHu-MSFT any update?

[2019-08-20 18:26] tfitzmac commented on #37451
I see that your feedback issue mentions dependsOn. In most cases, you only have to provide the resource name to set a dependency. The resource ID is only needed when resources in the template have the same name. See [dependsOn](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-define-dependencies#dependson)

[2019-08-20 18:29] Karishma-Tiwari-MSFT commented on #35302
@Heidilohr Could you please make the required changes to the doc or point me to someone who can help with this. Thanks :)

[2019-08-20 18:29] ggailey777 commented on #36860
#please-close as this is being worked internally.

[2019-08-20 18:29] #36860 closed

[2019-08-20 18:30] ggailey777 commented on #37311
This has been addressed with a PR in the private repo. #please-close

[2019-08-20 18:30] #37311 closed

[2019-08-20 18:31] dc911x commented on #22886
@okieselbach Maybe, maybe not. The error message may say "Property 'systemLabels' is read-only and cannot be set." but the documentation to date (20/08) still says:

systemLabels | any string matching the Intune device property for tagging Modern Workplace devices | (device.systemLabels -contains "M365Managed")
-- | -- | --

It would be nice to have some clarification about this from Microsoft.

I

[2019-08-20 18:34] okieselbach commented on #22886
@dc911x totally agree and you're right in the end it is just an error message. Personally my gut feeling tells me it is read-only and not intended for public usage, but anyway clarification from MS would be nice! 👍

[2019-08-20 18:36] hpatel01 commented on #37257
Hi @Masha, as I understand based on above doc, publisher and distributor in  failover group on managed instance will have to be reconfigured on secondary MI but my question is about subscribed database and seems there is no guidance on subscribed database in failover group on managed instance. Since failover group creates a DNS CNAME record I am hoping same can be used to avoid re-configure replic

[2019-08-20 18:37] jgudmundson-RETSD commented on #22886
I'm in the exact same situation.  Even corpIDs would work, but they cant be queried via dynamic groups.  So far dynamic groups haven't been useful.

[2019-08-20 18:39] MaximTkachenko commented on #37428
@MicahMcKittrick-MSFT Yes, but I don't understand why I need to create new users in Azure AD. For instance, I have a team with 4 members, all of them already have accounts in AAD and I want to give them access to cluster. I mean I don't understand use case when I need to create new users. I want to use existing users.

[2019-08-20 18:42] MicrosoftGuyJFlo commented on #25256
From the MFA product team...

Not aware of any issues with the HTML 5 client.

There is a known issue with the Mac RDS client.  It will send multiple requests and fail due to auth already in progress. There are some older BETA versions that they **(RDS Team)** corrected and then on newer versions it broke again. We **(MFA Team)** have had a few cases and have pushed them to the RDS team to get the

[2019-08-20 18:43] MicrosoftGuyJFlo commented on #25256
#please-close

[2019-08-20 18:43] #25256 closed

[2019-08-20 18:43] b-juche commented on #37406
Looping in @lichunli-ms and @ntap512 for input about the question.

[2019-08-20 18:45] MicahMcKittrick-MSFT commented on #37428
I believe this step is still needed to ensure the users are properly passed to the cluster. That being said, I will have @athinanthny confirm/ elaborate :)

CC @dkkapur

[2019-08-20 18:51] Mike-Ubezzi-MSFT commented on #37447
@pettys Thank you very much for bringing this to our attention and for subsequently adding additional detail. I will have the content owner review and update as appropriate.

[2019-08-20 18:51] Alberto-Vega-MSFT commented on #37101
@toddgauntgs We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-20 18:51] #37101 closed

[2019-08-20 18:52] nodeselector opened #37462 "Users cannot create more than one cluster in a Subnet"
Hi,

Please add some warnings that multiple AKS clusters running in the same subnet will have problems with route tables not being associated with subnets as only one route table can be associated with a subnet at any given time. This presents itself as sporadic connectivity issues without an actionable error.

To reproduce:

1. Create a vnet/subnet.
2. Create an cluster using kubenet within that

[2019-08-20 18:52] Alberto-Vega-MSFT commented on #37299
@singhrajgithub Thanks for the feedback! I have assigned the issue to the content author @PatAltimore  to evaluate and update as appropriate.

[2019-08-20 18:54] oniled opened #37463 "How to install Agent with multiple workspaces?"
Hello,

We are using Azure Update Management and Windows Defender Security Center.  These instructions work for one or the other; is there a way to specify 2 workspaces?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00a00a3e-a0df-7ee5-4733-7231bd7a024f
* Version Independent ID: 94361683-e1e7-7e55-6993-86d3c2486a14
* C

[2019-08-20 18:54] Mike-Ubezzi-MSFT commented on #37454
@mack0196 Thank you very much for bringing this to our attention. We are going through this tutorial and will update the document as appropriate based upon your feedback.

[2019-08-20 18:58] MaximTkachenko commented on #37428
@MicahMcKittrick-MSFT So in case of existing users I should just pass their usernames and passwords as script parameters, right?

[2019-08-20 18:58] loomlike opened #37464 "Scala Jupyter Notebook link is broken"
Not sure if this page is still being updated, but I found "Scala Jupyter Notebook" link is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c358852-85f7-e080-2571-eff3c469c0b9
* Version Independent ID: 11e6fb85-abf0-2149-72d0-d7630ba96048
* Content: [Data Science using Scala and Spark on Azure - Team Data Science

[2019-08-20 18:58] theheatDK commented on #36890
Thanks @monhaber,
That sounds great.
Regards Peter

[2019-08-20 18:58] #36890 closed

[2019-08-20 18:58] Karishma-Tiwari-MSFT commented on #37462
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-20 19:03] NavtejSaini-MSFT commented on #37442
@mawtex we are glad that you were able to resolve this by yourself. Please raised a new thread for any other issue.

[2019-08-20 19:07] AjayKumar-MSFT commented on #37306
@jorgecarleitao, Thanks for the great feedback! The tutorial aims to provide key concepts and instructions for containerization of Linux apps in App Service, but still allow customers to learn things beyond a specific Linux distribution (Alpine). For example, here you learn how to ‘Use persistent shared storage’, ‘Enable SSH’, ‘Access diagnostic logs’ , ‘Configure multi-container apps’, ‘Configure

[2019-08-20 19:16] dkershaw10 opened #37466 "Oath or OAuth2?"
Under "Create your tenant" it says:  2a. For OIDC or Oath applications
Should that be OAuth2?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9313d71b-cc4f-0a1c-fc48-2398b6c27ace
* Version Independent ID: 3888395d-1fa1-8f09-cf98-73b1c8f67904
* Content: [Create an Azure tenant for a multi-tenant application](https://docs

[2019-08-20 19:20] MashaMSFT commented on #37257
Hi @hpatel01, ah! I see what you mean :) Let me do a little bit of digging and get back to you.

Thank you!
Masha from the SQL Docs team

[2019-08-20 19:22] RJK23 opened #37467 "Sample app link is not working"
fabric:/WordCount application is having URL of word count app is not working and I am unable to find issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 128db716-892a-adf2-022a-01d8b77185c4
* Version Independent ID: 4875fcd1-70c1-da6f-08d5-90a1411d051b
* Content: [Health monitoring in Service Fabric](https://docs.mic

[2019-08-20 19:23] femsulu commented on #37439
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-08-20 19:26] taromielnaz commented on #36937
As the document says "CPU usage: A graph that shows the overall percent CPU usage per instance over the last 24 hours." Problems: 1- Just 24hours 2- you can not recognize your web app CPU usage in last month or in last 3 month 3- It even doesn't give you an average or max and min number or percentage. 4- you can not set an alert based on CPU metric for an individual web app.

[2019-08-20 19:27] BarbaraSelden commented on #37466
Yup changed. Thanks.

Barbara Selden
Identity Knowledge Management
206-601-4223
Internal Stack overflow for Identity Questions<https://stackoverflow.microsoft.com/>

From: Dan Kershaw [MSFT] <notifications@github.com>
Sent: Tuesday, August 20, 2019 12:17 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Barbara Selden <Barbara.Selden@microsoft.com>; Mention <mention@noreply.githu

[2019-08-20 19:27] JasonWHowell commented on #37397
@ftiernan One update - I now realize the <endpoint> and <username> values are one and the same value in most scenarios. Sorry for my own confusion. I do want to make the doc clearer for the benefit of others, so working on that in the background. If you are good, we will close out the issue if you got what you needed.

#please-close

[2019-08-20 19:27] #37397 closed

[2019-08-20 19:28] MicahMcKittrick-MSFT commented on #37467
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-20 19:29] lukepuplett commented on #37451
Thanks very much for a prompt response, Tom.

[2019-08-20 19:29] qianw211 commented on #33724
#please-close

[2019-08-20 19:29] #33724 closed

[2019-08-20 19:30] femsulu commented on #37446
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-08-20 19:31] qianw211 commented on #36155
#please-close

[2019-08-20 19:31] #36155 closed

[2019-08-20 19:32] qianw211 commented on #36829
#please-close the docs are being updated right now. Thanks!

[2019-08-20 19:32] #36829 closed

[2019-08-20 19:33] femsulu commented on #37458
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-08-20 19:34] femsulu commented on #37463
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-08-20 19:34] taromielnaz opened #37469 "Password reset requirement"
I have been told that I can not reset the password if I don't have Azure Active directory license P1 or P2. Is that correct? If yes please add it to this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9922a978-39e8-80c1-07b0-58d3cef4e127
* Version Independent ID: fcbddc27-fdb0-4c1e-bb0c-168b24152c69
* Content

[2019-08-20 19:35] KranthiPakala-MSFT commented on #37461
@vlad-kozlov Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2019-08-20 19:37] SaurabhSharma-MSFT commented on #37197
@theheatDK Here is what I received from the products team -
While most settings in this page are supported programmatically by PowerShell (See: Set-AzSecurityWorkspaceSetting, Set-AzSecurityAutoProvisioningSetting), The event collection tier has no built-in PowerShell snippet at the moment but will be available in future release.

In the meantime, it is available to use via REST API, and you can w

[2019-08-20 19:37] andrewjohnporter commented on #29753
I too an interested in this area. Some areas of the document aren'tclear to me. I've tested some things and there are different results to what document says I should expect. For example. I deployed an update from Update management when the SCCM client was on a Server but that update was not part of any active deployment from SCCM (is was part of a disabled SCCM update deployment that had the 'dow

[2019-08-20 19:46] NavtejSaini-MSFT commented on #37422
@ahelal I am not sure I fully understand the question but here is information on what I understood. Currently patching will update only the minor versions inside a major version. Major versions being 10.2 and 10.3.
So the patching will only change 10.2.x to 10.2.y or 10.3.x to 10.3.y. The update from 10.2.x to 10.3.y is not supported.

Here is the document that explains the limitations for Azure D

[2019-08-20 19:47] MicahMcKittrick-MSFT commented on #37450
@ckittel I don't believe there are any new networking requirements. However the SF product group would be the best people to ask this. I see you are an FTE so I will ping you offline.

[2019-08-20 19:47] #37450 closed

[2019-08-20 19:48] TomicaKaniski commented on #26097
I would go with more "restrictive" key vault policy - we are using keys only, so we can set it like this:
$permkeys = @("create", "list", "get", "update", "delete")
Set-AzKeyVaultAccessPolicy -VaultName $keyVaultName -UserPrincipalName "tomica@xxx.onmicrosoft.com" -PermissionsToKeys $permkeys -PassThru
Add-AzKeyVaultKey -VaultName $keyVaultName -Name $keyName -Destination "Software"

[2019-08-20 19:48] andrewjohnporter opened #37470 "Maintenance Windows"
I would like to know more about how Azure Update Management and SCCM maintenance windows work together. On point 2 it says that the SCCM maintenance window is honored if it has been set on the collection you are pointing the Azure Update Deployment to. Does this mean that all other maintenance windows on collections those Servers are also a member of will be ignored? I would be grateful for a rewr

[2019-08-20 19:52] MicahMcKittrick-MSFT commented on #37456
@porrascarlos802018 can you elaborate more on your ask as to what you want changed in this doc? Also since you are an FTE feel free to ping me offline if that is easier.

[2019-08-20 19:53] theheatDK commented on #37197
Thanks @SaurabhSharma-MSFT

[2019-08-20 19:53] #37197 closed

[2019-08-20 19:55] MicahMcKittrick-MSFT commented on #37467
@RJK23 not sure how this directly relates to this specific document. Can you elaborate on the issue and any other docs you are following?

[2019-08-20 20:05] bryandam commented on #29753
@andrewjohnporter, I got the Azure UM team in contact with the ConfigMgr docs team at MMS 2019.  Unfortunately, we haven't seen any fruit from that yet.

I recently pinged @aczechowski  about it and since this is the AzureUM team's issue he's waiting for them to engage his resources.

[2019-08-20 20:06] #37451 closed

[2019-08-20 20:15] JuliaHazelwood opened #37472 "Image text unreadable in dark mode"
When using dark mode on this page, the text in the BFD_Need.png image is not readable. Specifically the key and title 'Failure deduction time with BFD....'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a20215a3-6258-6b9f-357b-e806aa7afccd
* Version Independent ID: 8ac2ced9-13c1-de41-3aaa-3822d6debee4
* Content: [Confi

[2019-08-20 20:17] bandersmsft commented on #37446
#in-process
Reviewing proposed change with the Billing enginnering team.

[2019-08-20 20:18] TravisCragg-MSFT commented on #37262
@dcbrown16 Thanks for the additional clarification. It is important to note that Service Endpoints and Storage Firewalls are different things, but typically are used together to only allow traffic from a specific VNET to a storage account.

@bultaf14 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue

[2019-08-20 20:18] #37262 closed

[2019-08-20 20:18] mmacy commented on #36516
@felickz @MarileeTurscak-MSFT Apologies for the delay, I'm working on getting a definitive answer on this one. I'll update here when that's been obtained.

Cc: @rojasja

[2019-08-20 20:18] TravisCragg-MSFT commented on #37239
@stuholden We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-20 20:18] #37239 closed

[2019-08-20 20:19] RJK23 commented on #37467
I guess it's pointing to 5 node service fabric cluster app https://github.com/Azure-Samples/service-fabric-cluster-templates/tree/master/5-VM-Windows-1-NodeTypes-Secure

[2019-08-20 20:20] tfitzmac commented on #37405
@test123114 - I tested your scenario and I see the same problem when the name property is not provided. I have [created an issue](https://github.com/Azure/azure-rest-api-specs/issues/7004) in the repo for REST API specifications. The fix would need to happen there, and then we can regenerate the docs.

[2019-08-20 20:21] tfitzmac commented on #37405
To avoid duplication, I will close this issue.

[2019-08-20 20:21] tfitzmac commented on #37405
#please-close

[2019-08-20 20:22] #37405 closed

[2019-08-20 20:27] SaurabhSharma-MSFT commented on #37188
@kartheekakkur Can you please check if you have entered correct objectid while executing `az role assignment create` .  As mentioned in the document for Azure public cloud Azure Key Vault Application Id is **cfa8b339-82a2-471a-a3c9-0fc0be7a4093**. You can use this id to find the respective object id in Enterprise applications under Azure Active Directory blade to use with this cmdlet.  Refer to sc

[2019-08-20 20:29] MicahMcKittrick-MSFT commented on #37467
So you are deploying that example?

[2019-08-20 20:38] gregory-fonkatz opened #37475 "AAD UI has changed and this tutorial didn't"
The AAD UI you're describing here will be deprecated in October, please update the tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34eef662-c35f-230b-de28-0dcee463d8bc
* Version Independent ID: 07206d86-8410-7a58-227a-6e630df50c16
* Content: [Implement disaster recovery using backup and restore in Azure API Ma

[2019-08-20 20:41] julieMSFT commented on #35969
@brunofeldman  The Release Notes April 2018 article has been deprecated and removed from the doc set. The article [Alter Table](https://docs.microsoft.com/en-us/sql/t-sql/statements/alter-table-transact-sql?view=azure-sqldw-latest) has the correct syntax.  I will close this issue. The @ notification mechanism continues to work even after an item is closed, in case further communication is needed.

[2019-08-20 20:41] julieMSFT commented on #35969
#please-close

[2019-08-20 20:41] #35969 closed

[2019-08-20 20:42] Alberto-Vega-MSFT commented on #37034
@Decker-Russell Sorry for the delay. I have been reaching out internally to find this information. I'm also assigning to author to help provide an answer.

[2019-08-20 20:43] MarekLani commented on #27313
@Alberto-Vega-MSFT thanks I already did in March, when I first visited this topic. @smoms  thank you for the repository. It is quite big project, so before I dig into it and will find piece of code responsible for identity translation, can you please confirm, that it is really happening on the edge side? That means if Leaf Device has identity LD created in IoT Hub, and Edge Device has identity ED,

[2019-08-20 20:49] SaurabhSharma-MSFT commented on #37352
@oniled You can refer to [Azure Security Center extends advanced threat protection to hybrid cloud workloads](https://azure.microsoft.com/en-us/blog/azure-security-center-extends-advanced-threat-protection-to-hybrid-cloud-workloads/) blog for additional details.

[2019-08-20 20:49] kartheekakkur commented on #37188
@saurabhsensharma thank you, was able to get the objectID and assign the permissions.

[2019-08-20 21:07] Alberto-Vega-MSFT commented on #37460
Hi @Nicholas-I Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-20 21:08] gregory-fonkatz opened #37477 "Provide non C# ways to obtain a token"
This tutorial is very problematic for non-windows developers. Please make it platform-agnositc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34eef662-c35f-230b-de28-0dcee463d8bc
* Version Independent ID: 07206d86-8410-7a58-227a-6e630df50c16
* Content: [Implement disaster recovery using backup and restore in Azure API

[2019-08-20 21:16] TomArcherMsft commented on #25683
@azooinmyluggage Was this resolved?

[2019-08-20 21:17] NavtejSaini-MSFT commented on #36110
@sivethe Do you need any information regarding this issue or any help regarding editing of the same.

[2019-08-20 21:19] NavtejSaini-MSFT commented on #36564
@rohitnayakmsft Please let us know if you need any further information regarding this or from the user.

[2019-08-20 21:24] NavtejSaini-MSFT commented on #36726
@bonova Please let us know if you require any further information regarding this issue.

[2019-08-20 21:25] NavtejSaini-MSFT commented on #29867
@julieMSFT Please let us know if you require any further information regarding this issue.

[2019-08-20 21:25] ggailey777 commented on #37273
Thanks @vanderby for the heads-up.

@brettsam if can you confirm these defaults, I will get them into @jeffhollan's version article.

[2019-08-20 21:27] julieMSFT commented on #29867
@NavtejSaini-MSFT Hi, I have contacted the engineering team responsible and they are researching.

[2019-08-20 21:29] NavtejSaini-MSFT commented on #37319
@kummanish Please review the changes for following PR and take appropriate decision:
https://github.com/MicrosoftDocs/azure-docs-pr/pull/85779

[2019-08-20 21:29] iainfoulds commented on #10258
Sorry for the delay here, all.

There's an updated version of this doc that should publish in the next week. It removes the reference to a specific version, instead stating that you need a minimum of 1.1.614.0 or later. The guidance is still that you should update your Azure AD Connect to the latest version. There's no error in what's currently published, it shouldn't affect the sync process.

The

[2019-08-20 21:29] #10258 closed

[2019-08-20 21:31] JonShelley opened #37479 "I am unable to follow this documentation and successfully request an increase in the number of Standard_HB60rs core for a given batch account"
I have reviewed this documentation and I tried to follow it to request an increase in Standard_HB60rs cores for my batch account in south central US. When I follow the documentation I get to where I put in my batch account and then  click on the * VM Series drop down, instead of seeing VMs to request quota for I see Pools/Active jobs and two options that are not related to VM Series. I'm guessing

[2019-08-20 21:32] #28251 closed

[2019-08-20 21:32] NavtejSaini-MSFT commented on #35212
@KavithaJonnakuti Please let us know if you need any further information regarding this issue.

[2019-08-20 21:34] ggailey777 commented on #36569
@jfayatkim it does seem like there is a different rule for C# compiled versus other languages in the portal. We've recently unified to support the app setting for both v1 and v2, so maybe this gets better soon. Let me see if we can make the docs more helpful here.

[2019-08-20 21:34] NavtejSaini-MSFT commented on #36295
@jovanpop-msft Please let us know if you need any further information regarding this issue.

[2019-08-20 21:34] #37145 closed

[2019-08-20 21:34] iainfoulds commented on #37228
As the guidance from the portal is that it should be configured, that's how the doc is currently written. You can instead use conditional forwarders in the existing DNS environment to point to the Azure AD DS VMs, but the portal will still show it as being a required configuration. If that guidance changes, the doc will be updated accordingly.

You could also take the default option to configure D

[2019-08-20 21:34] #37228 closed

[2019-08-20 21:36] tophallen commented on #37394
the error is that it doesn't know what to do with that `--rm` at the end of the command. It should probably match the commands that work on docker [microsoft/azure-cosmosdb-emulator](https://hub.docker.com/r/microsoft/azure-cosmosdb-emulator/) or have it link to that for instructions. Looks like it just might be out of date.

[2019-08-20 21:37] ggailey777 commented on #35805
@imeya cold-start occurs on a per-function app basis. All triggers types can have the cold start time when the function app isn't already running.

[2019-08-20 21:39] barclayn commented on #27190
#please-close I will reassign the bug to track this request to the new key vault writer

[2019-08-20 21:39] #27190 closed

[2019-08-20 21:40] NavtejSaini-MSFT commented on #37345
@derekrprice Thanks for confirming that the answer worked for you. I agree that the screenshot is outdated. We will assign this to author for getting it updated.

@sivethe Sharing the screenshots which needs to be changed. Please let us know if we can help in any way to correct this.
![ConnectionStrings](https://user-images.githubusercontent.com/52257742/63386633-87e28180-c371-11e9-9480-8ec7b4864c

[2019-08-20 21:40] #37157 closed

[2019-08-20 21:41] islandsins commented on #37296
Ok so for seamless SSO you don't need 'https://device.login.microsoftonline.com/' at all?

[2019-08-20 21:42] mjcarrabine commented on #37127
Thank you @MashaMSFT , @jakaruna-MSFT and @MicahMcKittrick-MSFT, I was able to install the SqlIaasAgent on Windows Server 2019 with SQL Server 2017 using PowerShell at the links provided by @MashaMSFT. I was also able to install it by going directly to Full mode.

Is it possible to install the latest SqlIaasExtension using an ARM Template like other extensions?
- If not, can the documentation be u

[2019-08-20 21:44] amang2205 commented on #37157
Closed?!

[2019-08-20 21:48] SaurabhSharma-MSFT commented on #37188
@kartheekakkur Great to hear that you are unblocked.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-20 21:48] #37188 closed

[2019-08-20 21:48] MicrosoftGuyJFlo commented on #37388
Forwarding feedback to the product team. Thank you!

[2019-08-20 21:49] MicrosoftGuyJFlo commented on #37388
#please-close

[2019-08-20 21:49] chaoqian commented on #37354
Hi, we updated the class name and now we are using
https://docs.microsoft.com/en-us/python/api/azureml-train-automl/azureml.train.automl.constants.supportedmodels.classification?view=azure-ml-py for classification model names

https://docs.microsoft.com/en-us/python/api/azureml-train-automl/azureml.train.automl.constants.supportedmodels.forecasting?view=azure-ml-py for forecasting model names

htt

[2019-08-20 21:49] #37388 closed

[2019-08-20 21:53] bgs113 opened #37480 "PowerShell comments formatting"
I'd recommend updating the formatting of the comments in your PowerShell code snippets on this page. You're using `//` instead of `#`, which is not valid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24255026-2d1c-0607-77e6-f9dd10fbe8dd
* Version Independent ID: 832ee4c2-a497-6db6-573d-5c9abe694b00
* Content: [Automa

[2019-08-20 21:55] macux opened #37481 "Clarify Cost Implications of Polling Algorithm"
The "Trigger - polling algorithm" section states: "The queue trigger implements a random exponential back-off algorithm to reduce the effect of idle-queue polling on storage transaction costs".

Are these potential costs associated with only the storage transactions or does this polling also count towards the number of invocations & GBs of a consumption plan function? In other words is the polling

[2019-08-20 22:01] Karishma-Tiwari-MSFT commented on #37317
@rafamarrara Are you suggesting to add serial console as one of the pre-requisite for updating Azure linux agent?

[2019-08-20 22:02] MicrosoftGuyJFlo commented on #35364
Using a Microsoft Account is supported see the following for information how...
https://docs.microsoft.com/azure/active-directory/user-help/user-help-auth-app-add-personal-ms-account

Non-Microsoft Accounts in the Authenticator app are limited to TOTP codes. Info about adding some popular ones is in the following doc...
https://docs.microsoft.com/azure/active-directory/user-help/user-help-auth-app

[2019-08-20 22:06] Karishma-Tiwari-MSFT commented on #37479
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-20 22:07] MicahMcKittrick-MSFT commented on #37480
@bgs113 thanks for the find! I have corrected the doc. Once the PR merges the changes will go live after a few hours.

[2019-08-20 22:07] #37480 closed

[2019-08-20 22:11] KingdomOfEnds commented on #37460
@Nicholas-I - I've gone ahead and made a couple improvements to the document (which you should see shortly):

1. The images for setting up the implicit grant flow used the previous layout of the panel but the instructions should be the same within the new AAD blade. I've updated those to reflect the JSON configuration settings presently available.
1. The `MY_MANAGEMENT_API_URL` should be `https://

[2019-08-20 22:13] hrasheed-msft commented on #37120
Hello @dcbrown16. Currently the HDInsight clusters that have managed disks are the Kafka cluster type and the HBase cluster type when the 'Accelerated Writes' feature is enabled at cluster creation. HDInsight supports the P30 and S30 managed disk sizes. You can see more information about the disk sizes [here](https://azure.microsoft.com/en-us/pricing/details/managed-disks/). You can also see infor

[2019-08-20 22:19] KumudD commented on #36348
@stevenwhitej @teresayao Thanks for bringing this to our attention. The article has been updated to address this issue.
#please-close

[2019-08-20 22:19] #36348 closed

[2019-08-20 22:20] Eldar1205 opened #37482 "Routing to backend containers"
Can you please add examples for how to route requests to backend containers and explain how balancing works? E.g. let's say I have two container services, one for videos and one for images, each with X instances running somewhere in the cluster - does APIM auto-discover the instances? How does APIM balance requests between them?

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-08-20 22:22] mike-urnun-msft commented on #37481
Hi @macux - Thank you for your feedback! We will review and update as appropriate.

[2019-08-20 22:23] mike-urnun-msft commented on #37477
Hi @gregory-fonkatz - Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-08-20 22:25] mike-urnun-msft commented on #37475
Hi @gregory-fonkatz - Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-08-20 22:26] kummanish commented on #37319
I have seen the change. Looks good to me.

[2019-08-20 22:28] mikebudzynski commented on #37477
@gregory-fonkatz Could you please clarify which parts of the documentation are Windows-specific?

.Net Core is cross-platform and works on Windows, Linux, and macOs.

[2019-08-20 22:29] mike-urnun-msft commented on #37457
Hi @IslayJunkie - Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-08-20 22:37] Grace-MacJones-MSFT commented on #37161
@ggailey777 can you please verify this info on the emulator? Thanks

[2019-08-20 22:37] eazykiel opened #37483 "Limitations for table with non-clustered index"
I think it should be mentioned in the limitation that the structure of the table must have a clustered index to be part of the SQL data sync ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 791801be-835a-7b8d-106a-53f5e9f8eb66
* Version Independent ID: 740ebf2f-8f09-1869-6d78-2b7242aab4ec
* Content: [Azure SQL Data Syn

[2019-08-20 22:43] YutongTie-MSFT commented on #37464
@loomlike
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-20 22:55] FrankHu-MSFT commented on #37414
Hey @mahesh-raghunandanan

We do have some documentation on Azure Keyvault and Java Spring, but the documentation is not as up to date. If there are any issues with it I suggest filing an issue against the respective github issue here :

https://docs.microsoft.com/en-us/java/azure/spring-framework/configure-spring-boot-starter-java-app-with-azure-key-vault?view=azure-java-stable
https://docs.micro

[2019-08-20 22:56] FrankHu-MSFT commented on #37431
Hey @rudischmitz71  are you still having this issue?

[2019-08-20 22:58] FrankHu-MSFT commented on #37339
@ncheymol I'm following up on this issue, can you please respond in regards to the previous replies on this thread? Thanks

[2019-08-20 22:59] FrankHu-MSFT commented on #37434
Hello @mochr both endpoints require consent, but most likely someone has already granted consent on behalf of the v1.0 AAD App registration.

Are you sure that your enterprise hasn't disabled user consent per the enterprise applications > user settings blade?
![image](https://user-images.githubusercontent.com/6366013/63390295-75614b80-c363-11e9-9465-221efd30ae84.png)

[2019-08-20 23:00] FrankHu-MSFT commented on #37434
Hey @mochr  please see the following docs for more information on how the permissions and consent works for the v2 endpoint.

https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent

[2019-08-20 23:00] FrankHu-MSFT commented on #37337
@chainhead I'm following up on this issue, can you please respond in regards to the previous replies on this thread? Thanks

[2019-08-20 23:00] FrankHu-MSFT commented on #37199
@activeNathan I'm following up on this issue, can you please respond in regards to the previous replies on this thread? Thanks

[2019-08-20 23:01] ftiernan commented on #37397
I will just add that the reference the .env file in step 5 was misleading
(at least for me), as I ended up having to put these in the "Application
Settings" section of the app in order to get it to work properly.

On Tue, Aug 20, 2019 at 12:28 PM PRMerger13 <notifications@github.com>
wrote:

[2019-08-20 23:01] Heidilohr commented on #35302
@Karishma-Tiwari-MSFT The doc has been updated and the changes will go live tomorrow. #please-close

[2019-08-20 23:01] #35302 closed

[2019-08-20 23:05] Alberto-Vega-MSFT commented on #37483
Hi @eazykiel Thank you for your feedback. Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2019-08-20 23:07] NavtejSaini-MSFT commented on #37319
@kummanish You must have received a request to approve the change. Please check and approve the request.
![image](https://user-images.githubusercontent.com/52257742/63390568-933baa00-c37d-11e9-9cf6-d95b7bfb6695.png)

Link of the PR
https://github.com/MicrosoftDocs/azure-docs-pr/pull/85779

[2019-08-20 23:08] TravisCragg-MSFT commented on #37452
@andriysavin Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-08-20 23:11] djpmsft commented on #14953
Pipeline trigger time is always in UTC. as @rdt000 mentioned, the Z at the end implies UTC

#please-close

[2019-08-20 23:11] #14953 closed

[2019-08-20 23:11] KranthiPakala-MSFT commented on #37363
@Ameb Thanks for the feedback! We have assigned the issue to the content author. They will evaluate and update the document as appropriate.

@swinarko Could you please have a look at the suggestion from @Ameb.

[2019-08-20 23:16] barclayn commented on #27215
@kinseymd Thanks for this. I have made a minor modification to the table so you should be able of linking to it after the change is live. (in a day or so)

[2019-08-20 23:17] barclayn commented on #27215
#please-close

[2019-08-20 23:17] #27215 closed

[2019-08-20 23:20] femsulu commented on #24114
@mayurigupta13 , @Rajani-Janaki-Ram  - this is been open since early Feb with no response. any update please?

[2019-08-20 23:21] dcallagh opened #37484 "NVA based security and UDR"
UDR are used to enforce NVA based tiering in Azure reference designs. One standard pattern for this has all traffic  passing through the NVA for inspection, then to the WAF (ALG) and the WAF is also forced to transit traffic back through the NVA.
Is there a way to do this and still enable the monitoring noted in the below para? Extra routes ?

Using UDRs on the Application Gateway subnet causes th

[2019-08-20 23:22] mike-urnun-msft commented on #30073
@xiaoyang-connyun Apologies for the long delay in response. `client secret` appears to be a required item if/when this is done in Portal. As far as being able to specify the full URL of your authorization server as Named Values and referencing it in `validate-jwt` policy goes, I'm still a bit unclear. Do you have an OAuth server running in your VNET that provides authorization service over `http`?

[2019-08-20 23:27] liyiming-serif commented on #37264
@sdgilley I still can't download the files to my local machine, but I can through Notebook VM. Plus, I can just manually download the files through a browser, so there are workarounds. I'll go ahead and close this ticket; thank you so much for your help.

[2019-08-20 23:27] #37264 closed

[2019-08-20 23:29] rohitnayakmsft commented on #36564
This section has been deleted after latest round of edits

[2019-08-20 23:31] djpmsft commented on #15629
This information is displayed in the example:

**substring('somevalue-foo-somevalue',10,3)**

returns:

**foo**

Foo is the 11th character and thus is index 10. All indexing in this article is done this way

#please-close

[2019-08-20 23:31] #15629 closed

[2019-08-20 23:32] dcallagh opened #37485 "DNS import of TXT records failed with error 400."
Raised an issue with support however they simply say 'there must be something wrong with TXT record'  and have asked to archive the issue (#119080823000854).
Was able to successfully use the az network dns record-set txt add-record  function to add the same TXT value.
Updated az shell under ubuntu and still fails.
error is 400 Client Error: Bad Request for url: https://management.azure.com/subscri

[2019-08-20 23:35] mlongoria commented on #15629
So I told you something wasn't immediately clear and asked you to call it out explicity, and you decided it was clear to you and just closed it. That's not very helpful.

[2019-08-20 23:37] KranthiPakala-MSFT commented on #37461
@vlad-kozlov Could you please elaborate more on the issue with script file name?
When I downloaded the script file from https://hditutorialdata.blob.core.windows.net/adfhiveactivity/script/partitionweblogs.hql , i see 'partitionweblogs.hql' as file name and that is what mentioned in the document.

[2019-08-20 23:40] dcbrown16 commented on #37120
Thanks @hrasheed-msft! I would still request that a quick note be added to this page if possible to clarify the information you provided about which nodes use which kind of disks. In fact, to confirm, do you mean that Kafka and HBase use managed data disks in addition to OS disks? That's the original question here, which nodes use data disks in addition to OS disks, and what size/type all of the d

[2019-08-20 23:45] TravisCragg-MSFT commented on #37472
@JuliaHazelwood Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-21 00:05] jayanthurs-au opened #37487 "prepopulate the email address for password reset"
Is there way to prepopulate email address or sign-In name for password reset just like in the sign-in flow below.

https://docs.microsoft.com/en-us/azure/active-directory-b2c/direct-signin

I have tried to download the user flow and adding the claimprovider mentioned in the above link. It didnt work as I can't inherit base policy. are there any other ways of achieving this?

---
#### Document Deta

[2019-08-21 00:05] mjsmith1568 commented on #8840
After providing a Custom Role with Virtual Machine Contributor Access in addition to the following permissions:
Microsoft.Security/locations/jitNetworkAccessPolicies/read
Microsoft.Security/locations/jitNetworkAccessPolicies/initiate/action
Microsoft.Compute/virtualMachines/read

Azure is asking me to Enable Security Center standard tier on your subscriptions in order to use JIT security with my c

[2019-08-21 00:09] RyanHill-MSFT commented on #37129
Hi @ghclo when I attempt to repo your issue, I do get an error message on my end. Therefore, I'm curious to know if you receive the same error if you were to attempt to [deploy](https://code.visualstudio.com/docs/java/java-webapp#_create-a-new-web-app) your .war file from vs code?

[2019-08-21 00:10] NavtejSaini-MSFT commented on #36564
@rohitnayakmsft Thanks for the confirmation and the change in document.
@allyreilly As confirmed we have made the necessary changes to document. We will go ahead and close this thread. If you have any other issue please get back to us or start a new thread.

[2019-08-21 00:13] Lowell-Syncrety opened #37488 "Simple process to manage our CSP customers?"
This product looks like what we want, to manage centrally AD Azure items across all our CSP customers. We already can manage these separately, tenant-by-tenant in the MS Partner page. This entire process seems extremely complex and doesn't give clear instructions on what we as an MSP, with CSP customers, need to do to manage all of the customers centrally. There isn't one "subscription" as custome

[2019-08-21 00:15] djpmsft commented on #15629
I just updated the documentation to include the indexing information. It should be there tomorrow. I initially didn't update because the information was there, but on second glance i understand the explicit statement could be helpful

[2019-08-21 00:16] hiromingithub commented on #37446
Hi femslu and bandersmsft, thank you for reviewing the request. Noted the status.  Thanks.

[2019-08-21 00:17] CelesteDG commented on #25470
The app reg experience is no longer Preview, but there are several items that need follow up here.
#reassign:@rwike77
Opened ADO work item 795555 to track this issue. Will loop back here once that work item has been resolved.

#please-close

[2019-08-21 00:17] #25470 closed

[2019-08-21 00:22] CelesteDG commented on #25660
#reassign:@rwike77
Opened ADO work item 795558 to track this issue. Will loop back here once that work item has been resolved.

#please-close

[2019-08-21 00:22] #25660 closed

[2019-08-21 00:23] CelesteDG commented on #25660
#pri2

[2019-08-21 00:25] dcbrown16 commented on #12183
@TravisCragg-MSFT the gap between the terms used here and the UI in the portal continues to cause confusion through support. Can we reopen and revisit this request with higher priority?

[2019-08-21 00:26] FrankHu-MSFT commented on #37142
Hey @garrylean after making the get call :
https://management.azure.com/providers/Microsoft.Authorization/providerOperations?api-version=2015-07-01&%24expand=resourceTypes

Neither of these services appear. Also, using the command you provided I do not get that output either.

Are you using a beta version of the tool? Currently the docs are correct.

@garrylean Please let us know if there are anym

[2019-08-21 00:32] TravisCragg-MSFT commented on #12183
@dcbrown16 Reopening.

@KumudD can you give an update on this issue?

[2019-08-21 00:33] dpolivy commented on #35868
@normesta Yes, the `{ blobHTTPHeaders: { blobContentType: "image/jpeg" } }` line should do the trick to set the MIME type properly. Note, there's another code sample for the Azure function to generate thumbnails that could also benefit from the same fix. I added that to my test code and the browser was able to render the image directly instead of forcing it to download, so that means it's using th

[2019-08-21 00:35] CelesteDG commented on #26224
#reassign:@TylerMSFT
Opened ADO work item 795560 to track this issue. Requires feature team input. Will loop back here once that work item has been resolved.

#please-close

[2019-08-21 00:35] #26224 closed

[2019-08-21 00:36] CelesteDG commented on #26276
#reassign:@TylerMSFT
Opened ADO work item 795560 to track this issue. Requires feature team input. Will loop back here once that work item has been resolved.

#please-close

[2019-08-21 00:36] #26276 closed

[2019-08-21 00:37] rachel-msft commented on #37326
chkpass is not supported on Postgres 11: https://www.postgresql.org/docs/10/chkpass.html

[2019-08-21 00:38] rachel-msft commented on #37326
#please-close

[2019-08-21 00:38] #37326 closed

[2019-08-21 00:38] CelesteDG commented on #26889
#reassign:@TylerMSFT - Tyler recently updated the Android tutorial. Can you take a look at the quickstart too please? Thank you.

[2019-08-21 00:44] Sas002 commented on #37206
Could you please confirm if fileLog is designed for read Linux /var/log/message like file format or it requires the custom log file has to be in a specific format. I do not see any specific information in Azure document .

[2019-08-21 00:46] CelesteDG commented on #27208
@nkwolf - Apologies for the late review of this GitHub issue. I changed roles so have not been able to keep up with the GitHub issues. Since you originally filed the GH issue, we've added a lot of new documentation including this topic, https://docs.microsoft.com/en-us/azure/active-directory/develop/authentication-flows-app-scenarios, and everything that you under the "Application scenarios" node

[2019-08-21 00:46] #27208 closed

[2019-08-21 00:47] rudischmitz71 commented on #37431
Yes. It happened this morning for about 15 minutes. Then the global catalog
servers are back and my NPS server can do radius after that. It only
happens intermittently, so i haven't had a change to track it down. After
seeing the azure "backup time" coinciding with the outage I see it might be
that.

On Tue, Aug 20, 2019, 5:57 PM Frank Hu <notifications@github.com> wrote:

[2019-08-21 01:00] sivethe commented on #37345
@roaror : Can you please take a look.

@NavtejSaini-MSFT :  Do we need specific permissions to reassign the issue to a different owner.  Looks like I can only unassign the issue but not reassign it

[2019-08-21 01:01] Alberto-Vega-MSFT commented on #37356
Hi @asagage If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2019-08-21 01:02] dcbrown16 opened #37490 "Please add required permissions"
What RBAC permissions are required to do this? For example, if I were building a custom role and wanted that role to be able to reset the RDP password, what are the minimum required permissions?
Based on this feedback, I assumed Microsoft.Compute/virtualMachines/extensions/write was necessary, but that alone is insufficient.
https://feedback.azure.com/forums/169401-azure-active-directory/suggestio

[2019-08-21 01:05] larryclaman opened #37491 "Redundant documentation with Static IP address doc page"
IMHO, this page on Egress Traffic (https://docs.microsoft.com/en-us/azure/aks/egress) is 80% redundant with the page on static IP addresses (https://docs.microsoft.com/en-us/azure/aks/static-ip).  Could these pages be reconciled and combined in to one page for simplicity?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-08-21 01:05] CelesteDG commented on #28766
#reassign:@rwike77
We have an ADO work item, #795565, to track this GitHub issue. We're working with our PMs to get the docs updated for the claims list. Will update this thread when that work item has been delivered.

#please-close for now

[2019-08-21 01:05] #28766 closed

[2019-08-21 01:06] hpsin commented on #28766
Please look at the claims documentation for access and ID tokens.

[2019-08-21 01:06] #28469 closed

[2019-08-21 01:09] Alberto-Vega-MSFT commented on #36677
@terrymandin Since we haven't heard back from you we will be closing this issue for now. Thanks again for your help.

[2019-08-21 01:09] #36677 closed

[2019-08-21 01:09] CelesteDG commented on #29270
Flagging @hpsin to review the question and response and evaluate if we need to get our content updated.

[2019-08-21 01:09] CelesteDG commented on #29270
#pri2

[2019-08-21 01:11] hpsin commented on #29270
Valid typo callout. The private key is used to sign, the public key is used to validate.

[2019-08-21 01:12] ADNewsom09 commented on #28469
Hey this was closed but AADSTS7000112 is still not listed in the document.

[2019-08-21 01:19] CelesteDG commented on #28469
Hi @ADNewsom09 - Yes, the issue got automatically closed because the PR I made was already merged to master (the system we have in place automatically detects the linked GH issue and closes it if the docs PR has been merged to master). However, the changes in our docs master repo only go out to Live 3x a day. At the earliest, it'll be live tomorrow ~3am Pacific. To be safe, check back ~10:30am Pac

[2019-08-21 01:30] garrylean commented on #37142
@FrankHu-MSFT, here https://docs.microsoft.com/en-us/azure/governance/policy/concepts/effects you describe Azure Policy effects. You say "Audit is used to create a warning event in the activity log when evaluating a non-compliant resource, but it doesn't stop the request... Azure Policy adds a Microsoft.Authorization/policies/audit/action operation to the activity log and marks the resource as non

[2019-08-21 01:38] FrankHu-MSFT commented on #37142
Hey @garrylean I see... It looks like there's a discrepancy here with the docs, and the governance product adding new action operations....

I'm currently engaging some more people on this issue to determine next steps. Thanks for your feedback and letting us know about this issue!

[2019-08-21 01:39] FrankHu-MSFT commented on #37431
@rudischmitz71 I see...

So it looks like it might be a backup issue that's causing users not to be able to login in regards to this.

How would you like to proceed in regards to the scope of this doc github issue?

[2019-08-21 01:39] FrankHu-MSFT commented on #37434
@mochr Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day tomorrow. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-21 01:40] FrankHu-MSFT commented on #37414
@mahesh-raghunandanan Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day tomorrow. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-21 01:43] FrankHu-MSFT commented on #37337
@chainhead Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day tomorrow. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-21 01:44] FrankHu-MSFT commented on #37339
@ncheymol Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day tomorrow. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-21 02:03] danielmayorga opened #37493 "Update Application Gateway Websocket document to specify version support"
Application Gateways v1 will fail to handle server initiated closures.

After talking to Azure support, I was told that v2 properly handles the closing handshake so I migrated from v1 to v2.
This appears to solve my issue. I'd like to request that this documentation specify the application gateway version explicitly in case future developers stumble across the same issue.

Aside, we were originall

[2019-08-21 02:22] Alberto-Vega-MSFT commented on #37034
@Decker-Russell I have an update from product group. I'm afraid that they can not share a specific date yet but it is coming soon. Please stay tuned for the announcement.

[2019-08-21 02:22] #37034 closed

[2019-08-21 02:26] Alberto-Vega-MSFT commented on #36796
@loup73 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-21 02:26] #36796 closed

[2019-08-21 02:45] tysonn commented on #28833
Filed a ticket with MSCOM localization.

[2019-08-21 02:59] KalyanChanumolu-MSFT commented on #37329
@Rohit-Stackroute I cloned it from the repo from scratch and it works fine.
It is difficult to trouble shoot the issue without a screenshot of the error and knowledge of your environment.
Support on GitHub is limited to documentation. Could you please post the details on [MSDN forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azurecosmosdb) or [Stackoverflow](https://stackoverflow.

[2019-08-21 03:04] kumarallamraju opened #37494 "Suggestion to clarify when to use JavaSE vs Tomcat/Wildfly"
[Enter feedback here]

https://azure.microsoft.com/en-us/blog/general-availability-of-tomcat-and-java-se-on-app-service-on-linux/

Somewhere on this page we should clarify when to use Java SE vs Tomcat/Wildfly .
If you look at the above blog page it says Java SE option should be used to deploy Java web frameworks like Spring, Play, Micronaut etc.. I think the heading should be re-worded or clarifi

[2019-08-21 03:05] xiaoharper commented on #35719
sorry for late reply @KeiroKamioka0000, looks your problem is about AML service, which are tracked here:  https://github.com/Azure/MachineLearningNotebooks/issues/196

It's possible to delete experiment in AML Studio.  I don't think we should update about this in Studio doc.

[2019-08-21 03:09] binoyjt commented on #37396
@BharathNimmala-MSFT I was referring this document that is located at https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-sql-register-with-resource-provider?tabs=powershell. And I was trying to do it for SQL 2012SP4 on windows 2012 R2.

[2019-08-21 03:11] PramodValavala-MSFT commented on #37448
@bremnes Thanks for catching that! We will review and update the doc accordingly.

[2019-08-21 03:29] linyli001 commented on #37050
@AjayKumar-MSFT Is there new tutorial for the latest AAD portal? I can't find out all the settings in this article and also don't know how to guide in new AAD portal.

[2019-08-21 03:33] shashishailaj commented on #37466
@dkershaw10 Thank you for pointing it out . As the changes are already done in the backend, I would wait for the change to be published and then close this thread.

@BarbaraSelden Thank you for swift update.

[2019-08-21 03:34] shashishailaj commented on #37469
@taromielnaz Thank you for your query. We will investigate and update further.

[2019-08-21 03:40] nezoic opened #37496 "More advanced examples?"
I would like to see how you suggest mocking more complex requests, say with required parameters? I can do this by modifying conditions in the Inbound processing but is the the recommended way?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4df5cb3a-5bb7-c6c0-dbef-9cf9b51ea264
* Version Independent ID: 68e97872-e73c-83a

[2019-08-21 03:41] shashishailaj commented on #37487
@jayanthurs-au Thank you for your query . We will investigate and update the thread further.

[2019-08-21 03:53] Ayanmullick commented on #35364
Thanks for confirming. The second link clarifies. Even Hotmail is considered non-Microsoft then.  So the question is it in the roadmap to add fingerprint support to non-Microsoft accounts' authentication  in addition to TOTP codes?

[2019-08-21 04:06] KetanChawda-MSFT commented on #37496
@nezoic Thank you for your feedback! We will review and provide an update as appropriate.

[2019-08-21 04:11] SychevIgor commented on #25138
it take just 6 months.

[2019-08-21 04:13] Raptor87 opened #37498 "Control upload throughput section"
Control upload throughput section seems to be copied from "Hyper-V migration Architecture" and not fully relevant

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b41c6ac-c678-55ac-eda3-ddbbc68339a3
* Version Independent ID: 25255e0f-d97b-0268-68c1-f34c10446c9f
* Content: [Agent-based migration architecture in Azure Mig

[2019-08-21 04:13] patrickgalbraith opened #37499 "OAuth 2.0 Authentication"
According to Quickbooks it isn't possible to use OAuth 1.0 for new accounts. See https://developer.intuit.com/app/developer/qbo/docs/develop/authentication-and-authorization/oauth-1.0a

It states that "new or existing developers with no previous apps must implement OAuth 2.0 and OpenID Connect." And OAuth 1.0 will no longer work after December 17, 2019.

Because of this there is no way for me to g

[2019-08-21 04:30] BhargaviAnnadevara-MSFT commented on #37470
@andrewjohnporter Thanks for the question! We're investigating this and will get back to you shortly.

[2019-08-21 04:30] mike-urnun-msft commented on #36939
Hi @opticyclic - I've just gone through the steps and was able to validate the same issues. As the next step, we'll now assign this issue to the content author to review further and take the right course of action.

[2019-08-21 04:31] msrini-MSFT commented on #37484
@dcallagh , If you are using V2 SKU, then UDR is not supported at all.

In case if you are using V1 SKU, then the data path will not be affected but when you check for the Backend health, it will show as unknown. The reason being, an API is called to check the status by the Application Gateway, and if you add a default route to forward all the packets to Firewall, those API's fails and hence you a

[2019-08-21 04:35] BhargaviAnnadevara-MSFT commented on #37440
@GeorgePlotnikov Thanks for the question! We're investigating this and will get back to you shortly.

[2019-08-21 04:39] BhargaviAnnadevara-MSFT commented on #37396
@binoyjt Thank you for the response! I've routed this to the appropriate Team to investigate and update.

[2019-08-21 04:40] SwathiDhanwada-MSFT commented on #37498
@Raptor87 Thanks for the question! We're investigating this and will get back to you shortly.

[2019-08-21 04:45] lukenny commented on #36949
Yeah, it'd be extremely helpful to enable access control mode either via terraform provider or az cli.

[2019-08-21 04:46] DashleenBhandari-MSFT commented on #37385
@eevans-seattle , Just wanted to followup if you need any other assistance regarding the issue. Please let us know if you have any queries.

[2019-08-21 04:47] guitarfreak58 commented on #37400
Well the documentation was updated - looks like you need an extra set of parentheses now with -any and the underscore. I wonder why this was changed.

[2019-08-21 04:47] pvrk commented on #35103
Added an example to the document (https://docs.microsoft.com/azure/backup/backup-client-automation#registering-using-the-ps-az-module) about the certificate.

[2019-08-21 04:47] pvrk commented on #35103
#please-close

[2019-08-21 04:47] #35103 closed

[2019-08-21 04:51] pvrk commented on #35103
Updated the document with the [example](https://docs.microsoft.com/azure/backup/backup-client-automation#registering-using-the-ps-az-module) for providing certificate.

[2019-08-21 04:52] pvrk commented on #35831
Updated the document with the [relevant](https://docs.microsoft.com/azure/backup/backup-azure-afs-automation#using-on-demand-backups-to-extend-retention) section

[2019-08-21 04:53] pvrk commented on #35831
#please-close

[2019-08-21 04:53] #35831 closed

[2019-08-21 05:09] pvrk commented on #35890
Updated the document with note about 30 mins and an example. Couldn't find a reference to RemoveAll but you are right, better use .clear(). The New-ProtectionPolicy command requires vaultID parameter only if you haven't set the vault context earlier. Clarified that in the document.

Thanks for your feedback.

[2019-08-21 05:09] pvrk commented on #35890
#please-close

[2019-08-21 05:09] #35890 closed

[2019-08-21 05:10] msrini-MSFT commented on #37493
@danielmayorga , thank you for your feedback.

@vhorne , Can you add a note in this document regarding the web socket closing handshake handling of V1 and V2 ?

[2019-08-21 05:13] pvrk commented on #33223
@dcurwin: As I mentioned above, this is request for a command change. Not a documentation change. If the command change is approved, then I would update the document. So, request you to treat this as a command change reques, not a documentation update request.

[2019-08-21 05:16] SubhashVasarapu-MSFT commented on #37485
@dcallagh, We are looking into this query and will update you as soon as possible.

[2019-08-21 05:24] CHEEKATLAPRADEEP-MSFT commented on #37443
@nakhanha Could you please review further and update the document as appropriate.

[2019-08-21 05:25] SumanthMarigowda-MSFT commented on #36273
Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
 You could use shared access signatures (SAS) to give permissions to your Azure File Share.

A shared access signature (SAS) provides you with a way to grant limited access to objects in your storage account to other clients, without exposing your account key. More information about SAS please ref

[2019-08-21 05:30] dcbrown16 opened #37500 "VPN Gateways"
What is the difference between "virtualnetworkgateways" and "vpngateways"?
Also, the network-specific guidance immediately states "For VPN Gateways, you must move IP addresses, virtual network gateways, and all associated connection resources."
https://docs.microsoft.com/en-us/azure/azure-resource-manager/move-limitations/networking-move-limitations
That info makes this page's assertion that "vpng

[2019-08-21 05:31] VikasPullagura-MSFT commented on #37408
@rockboyfor I reproduced the issue and yes the Storage pool is always created even if the Storage size is less than 2 TB.
The statement ("If you have selected fewer than two TBs of storage for your VM, Azure does not create a storage pool.") in the document is not correct. We are working on updating the document.

[2019-08-21 05:35] DashleenBhandari-MSFT commented on #37494
@kumarallamraju , Thanks for raising the issue. We will check the document.

[2019-08-21 05:35] DashleenBhandari-MSFT commented on #37494
@bmitchell287 , Can you please take a look at the document and update accordingly.

[2019-08-21 05:35] satonaoki opened #37501 "US East or US East 2"
Which is correct (US East or US East 2)?

&gt; GZRS and RA-GZRS are currently available for preview in the following regions:
&gt; - US East

&gt; GZRS and RA-GZRS are currently in preview in the US East 2 region only.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41cee0e0-e579-83f7-db1a-c3af6d7d08dc
* Version Indepen

[2019-08-21 05:37] SumanthMarigowda-MSFT commented on #37333
@juyama Can you elaborate more on your query?

[2019-08-21 05:46] SumanthMarigowda-MSFT commented on #37377
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-08-21 05:50] SumanthMarigowda-MSFT commented on #37390
@daniellittledev  I'd recommend posting your question in [Azure community](https://azure.microsoft.com/en-in/support/community/) since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-21 05:50] #37390 closed

[2019-08-21 05:54] angoyal-msft commented on #37411
@random-filip Thanks for more insights for the issue. I have assigned this issue to the content author to update the document appropriately.

@mlee3gsd Could you please look at this issue and update the document appropriately. Also it seems that SQL DWH [creation ](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/create-data-warehouse-portal)page is also not in sync with the portal.

[2019-08-21 06:05] pvrk commented on #35376
@dcbrown16 : Thanks for the feedback. Updated the documentation examples.

[2019-08-21 06:05] pvrk commented on #35376
#please-close

[2019-08-21 06:05] #35376 closed

[2019-08-21 06:09] mike-urnun-msft commented on #36324
@awarberg Thanks for following up and sharing your solution. Since this channel is for driving improvements towards MS Docs, we will now proceed to close this thread. If there are further questions regarding this matter, please open an issue on [Function Host repo](https://github.com/Azure/azure-functions-host/issues).

[2019-08-21 06:09] #36324 closed

[2019-08-21 06:10] dcbrown16 commented on #35376
Thanks @pvrk :)

[2019-08-21 06:13] CHEEKATLAPRADEEP-MSFT commented on #23045
@valentinadeshko @xtianus79 You may refer the important note mentioned in the document.

This tutorial cannot be carried out using Azure Free Trial Subscription. If you have a free account, go to your profile and change your subscription to pay-as-you-go.  Then, [remove the spending limit](https://docs.microsoft.com/en-in/azure/billing/billing-spending-limit#remove-the-spending-limit-in-account-ce

[2019-08-21 06:17] RohitMungi-MSFT commented on #37410
@msimecek If the callback needs to be done only once the active property can be set to false during the webhook creation. In this context it looks like the author recommends to delete and recreate the webhook if the callback is required only once.

@PanosPeriorellis Could you please confirm the same? Could we update the document to make it more clearer for the users?

[2019-08-21 06:20] mike-urnun-msft commented on #36316
Hi @ognyandim - Thanks again for sharing your feedback and pointing this out to us! I've created a PR that'll update the sentence to read as follows:

We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-21 06:20] #36316 closed

[2019-08-21 06:27] Rajani-Janaki-Ram commented on #36874
@edwinsummers - can you send the script you are using to rajanaki@microsoft.com. My engineering crew will review that and help you with the right usage.

[2019-08-21 06:28] angoyal-msft commented on #37394
@tophallen Thanks for the insight to the issue. --rm should not be the last argument, it can be used in between run and image if you want to clean up after execution. But if you don't want to cleanup you can remove --rm as well.
Anyhow i am assigning this issue to the content author to update the document appropriately.

@markjbrown Could you please update the document appropriately.

[2019-08-21 06:34] nicklooo opened #37505 "Typo in portal-dependencies section"
There is a typo in portal-dependencies section.
Redundant n in contoso.appserviceenvironnment.net

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89142752-64bc-31c2-9189-aa2c2dcf2997
* Version Independent ID: 4ef63a3f-beca-e562-5e69-3cc931bd1022
* Content: [Networking considerations with App Service Environment - Azure]

[2019-08-21 06:41] mike-urnun-msft commented on #36799
Hey @hf-kklein - Thanks again for sharing this feedback! In case others come across this issue about the same Exception, it looks like @cgillum has provided an answer here as well:
- [Azure Durable function - InvalidOperationException when CallActivityAsync](https://stackoverflow.com/questions/49477619/azure-durable-function-invalidoperationexception-when-callactivityasync)

I've created a PR that

[2019-08-21 06:41] #36799 closed

[2019-08-21 06:45] ChiragMishra-MSFT commented on #37499
@patrickgalbraith Thanks for the question. We are currently investigating into it and will update you shortly.

[2019-08-21 06:47] rossdempster opened #37506 "How to correctly manage horizontal scaling events in the observed container?"
Good docs, thanks! One piece of information I could really do with is:

**If the container being observed undergoes a scaling event, i.e. the number of physical partitions increases or decreases, how do I manage this correctly?**

I'm using the SQL API to read the feed manually. Presumably the partition key ranges that I am using to query the change feed will be moved around. Some ranges might be

[2019-08-21 06:49] djpmsft commented on #37380
Have any changes to the publish branch been made outside of publishing from Git mode in the UX?

[2019-08-21 06:56] jakaruna-MSFT commented on #37305
@knbz Is there any update

[2019-08-21 06:57] DixitArora-MSFT commented on #37347
@jmulcahy-fiscaltec  Yes CRON experssion give us the option to run every couple of seconds . For ex. To execute a timer triggered function every 30 seconds using the chron expression */30 * * * * *.
But this is not the mandatory part. You can choose the frequency as per your needs. Also adding one more resource which is beneficial in understanding CRON in more user friendly way.
https://cronexpres

[2019-08-21 07:21] BhargaviAnnadevara-MSFT commented on #37488
@Lowell-Syncrety Thanks for the question! We're investigating this and will get back to you shortly.

[2019-08-21 07:23] idbates opened #37509 "No template for 3.x web job in visual studio 2017"
When I create a webjob why there is still no template for 3.x webjob sdk in Visual Studio 2017 15.9.14? Does Visual Studio 2019 offer this feature. It seems very retrograde to be using 2.x webjobs now and I struggle to find a really good up to date example for configuration - I'm trying to use webjob sdk 3.0.11

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-08-21 07:24] nnamedieh opened #37510 "Watcher Tasks PowerShell support"
Hi all, unfortunately I cannot find a powershell command / module to administer/control watcher tasks. Is there any powershell support in latest Powershell Az module?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff71649c-9431-4a1b-22e7-eac4315f9c5b
* Version Independent ID: a38685e3-5dbf-8d25-1134-c56376a420

[2019-08-21 07:44] mike-urnun-msft commented on #36261
@ashishsinghbhu Thanks again for your feedback! `Microsoft.Azure.ServiceBus` version `4.0.0` is now available on [Nuget](https://www.nuget.org/packages/Microsoft.Azure.ServiceBus/) and it certainly carries improvements for MSI per its [changelog](https://github.com/Azure/azure-sdk-for-net/blob/36c2ea0536c147d404782c7e41fc6921fed80d5b/sdk/servicebus/Microsoft.Azure.ServiceBus/changelog.md).

We wil

[2019-08-21 07:44] #36261 closed

[2019-08-21 07:56] mike-urnun-msft commented on #36293
Hi @IanKemp - Thanks again for your feedback. I've created a PR that adds following reference that links to the Functions wiki page:

We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-21 07:56] #36293 closed

[2019-08-21 07:57] mike-urnun-msft commented on #36156
Since we haven't heard back, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-21 07:57] #36156 closed

[2019-08-21 07:59] raghunaik2009 opened #37511 "Azure Kubernetes token based authentication to ML webservice"
Hi Guys,
I'm able to deploy ML model into Azure Kubernetes Services using AML services. I have enabled token authentication while deploying model into AKS.
As mentioned in the document "https://docs.microsoft.com/en-us/azure/machine-learning/service/concept-enterprise-security" 2 ways authentication(Key and token) is possible to consume ML model webservice, deployed  in Azure Kubernetes services.

[2019-08-21 08:00] mike-urnun-msft commented on #36028
Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please open a thread on [MSDN forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureFunctions) and we will gladly continue the discussion.

[2019-08-21 08:00] #36028 closed

[2019-08-21 08:04] mike-urnun-msft commented on #32984
@craigshoemaker Is the sample above a something we can include to this documentation? I'd be happy to test & submit a PR.

[2019-08-21 08:09] mike-urnun-msft commented on #32984
@aws-scripting-guy On second thought, since Powershell support is still in preview, it may be best to hold off for now.

[2019-08-21 08:10] asgang commented on #18004
Hi Dean, ASR is application-agnostic.
Though we randomly select the application to do the validation the list is not exhaustive. I don't see any issue with ASR working for  Sharepoint farm with min role

[2019-08-21 08:11] asgang commented on #18004
#please-close it doesn't need any documentation change

[2019-08-21 08:11] #18004 closed

[2019-08-21 08:12] asgang commented on #18400
Reprotect steps are already updated on the documentation

[2019-08-21 08:12] asgang commented on #18400
#please-close

[2019-08-21 08:12] #18400 closed

[2019-08-21 08:13] asgang commented on #29042
updated the document

[2019-08-21 08:13] asgang commented on #29042
#please-close

[2019-08-21 08:13] #29042 closed

[2019-08-21 08:16] KrishnaG-MSFT commented on #37510
@nnamedieh Thanks for the comment. We are actively investigating and will get back to you shortly with an update.

[2019-08-21 08:24] asgang commented on #35393
good catch

[2019-08-21 08:24] ztorage opened #37512 "Clarification required on "Billing and metering""
In "Billing in metering" under "SaaS Subscription", it's stated:

"[...] If using the flat rate model, you can optionally include additional dimensions used to charge customers for usage not included in the flat rate."

This is unclear. What are these additional dimensions, how can they be reported for billing?

[2019-08-21 08:31] shunlir opened #37513 "Does GRID 9.0 support Ubuntu 18.04 LTS now?"
I see on Nvidia's official online document, GRID 9 support Ubuntu 18.04 guest (https://docs.nvidia.com/grid/latest/grid-vgpu-release-notes-microsoft-windows-server/index.html#linux-support)
Is it supported by Azure NV6?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e03790a-1bf9-146d-704b-6816d475064b
* Version Indepe

[2019-08-21 08:32] AjayKumar-MSFT commented on #37505
@nicklooo, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-08-21 08:33] AjayKumar-MSFT commented on #37509
@idbates, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-08-21 08:39] RJK23 commented on #37467
Yes @MicahMcKittrick-MSFT it relates automatically.

[2019-08-21 08:43] seanbetts commented on #31280
Hi @MartinJaffer-MSFT - quick question: If I wanted to add a third validation what is the best way to construct the OR statement? Should I nest the OR statement i.e.@ or(Validate A, or(Validate B, Validate C)). As the OR operator only takes two items I'm not sure of the best way of doing it? Thank you!

[2019-08-21 08:43] SumanthMarigowda-MSFT commented on #37501
@satonaoki  Thanks for your question. We are checking on this and will respond to you soon.

[2019-08-21 08:44] gw111zz commented on #36983
The definition of ENUM_TO_STRING is also missing.

[2019-08-21 08:50] ggailey777 commented on #35805
@imeya it was totally confusing to have this note in this article. The delay on blob trigger has to do with the time it takes to scan potentially large containers for changes, and nothing to do with cold start or the plan you are on. Sorry for the confusion.

[2019-08-21 08:52] ncheymol commented on #37339
It is in the Azure Portal. https://portal.azure.com/#blade/Microsoft_AAD_IAM/ActiveDirectoryMenuBlade/RolesAndAdministrators

**Name**: Directory readers
**Description:** Users in this role can read basic directory information. This role should be used for: 1) Granting a specific set of guest users read access instead of granting it to all guest users. 2) Granting a specific set of non-admin users

[2019-08-21 08:54] asgang commented on #34141
I am not able to understand the question. The document is refreshed. Please check

[2019-08-21 08:55] asgang commented on #34141
#please-close

[2019-08-21 08:55] #34141 closed

[2019-08-21 08:56] asgang commented on #35393
fixed . check https://github.com/MicrosoftDocs/azure-docs-pr/pull/86062

[2019-08-21 08:56] asgang commented on #35393
#please-close

[2019-08-21 08:56] #35393 closed

[2019-08-21 08:56] BhargaviAnnadevara-MSFT commented on #37482
@Eldar1205 Thanks for the question! We're investigating this and will get back to you shortly.

[2019-08-21 08:57] #35805 closed

[2019-08-21 08:59] nujiel opened #37514 "Script variables not defined properly"
Hello, i don't get how you managed to get the script working as you have not set the correct variable names in the line:
Remove-AzStorageBlob -Container $container_name -Context $storage_account.Context -Blob $Blob.Name
it should be:
Remove-AzStorageBlob -Container $ContainerName -Context $StorageAccount.Context -Blob $Blob.Name

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-08-21 09:02] CallMeByMyName opened #37515 "Licensing requirements"
Hello,
There is a difference in licensing requirements. In the French version it is Azure AD Basic. In the English version it is azure AD P1.
Who says true?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d215ddd2-d71f-8b91-c5f7-314c6287cafc
* Version Independent ID: ef317dea-e56a-e6db-3344-67aa028a0ca7
* Content: [What

[2019-08-21 09:03] temabu opened #37516 "Alerts option doesnt appear in Azure Resources."
On our tenant, the alerts option does not appear on Azure Resources.  It does appear on AD roles.  Is this a known problem?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99581afb-7950-6daa-7227-055d04446b7e
* Version Independent ID: f1a5bf89-9e54-aede-3a9a-70788a95927b
* Content: [Built-in roles for Azure resources](h

[2019-08-21 09:07] SjoerdV opened #37517 "Rules are not synchronised"
explicit operator binding constructions like:
((user.department-eq "xxx") -or (user.department -eq "YYY")) -and (user.jobTitle -notmatch "ZZZ") are not being handled in the new builder as well.

This message is being shown:
"The rule builder and rule syntax text box aren't currently synchronized. This could be caused by syntax errors in connectors, property names or operators, or special rules tha

[2019-08-21 09:08] temitopefunmi opened #37518 "Cannot train model with audio+transcription"
On the 'Select training data' tab, i get "this locale supports related text data only" and on the next tab, i really my audio+transcription data is not shown.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50d8bb98-fbcd-7562-99ed-54211fd9afd3
* Version Independent ID: bd23e619-aee5-2b6e-b2d7-03ab5f7302af
* Content: [Tr

[2019-08-21 09:08] BhargaviAnnadevara-MSFT commented on #37512
@ztorage Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2019-08-21 09:14] dodgy99 commented on #37403
I would also like to know this...

[2019-08-21 09:24] rochakmittal commented on #26567
This issue was resolved. We should close this

[2019-08-21 09:26] rochakmittal commented on #18795
The product has evolved to use Managed disk hence the earlier issues doesn't remain relevant. We should close the request.

[2019-08-21 09:28] msrini-MSFT commented on #37514
@nujiel , Thank you for your feedback.

Created PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/86067

Changes will be updated shortly.

[2019-08-21 09:32] jakaruna-MSFT commented on #37491
@larryms Thanks for the feedback. I see that in the Egress document focuses on controlling the egress ip from the AKS cluster. If we have a load balancer with multiple ips, Then it uses the first ip for sending the egress traffic. So adding a static ip to the load balancer solves this problem.

Adding static ip is discussed in both the docs.

I will assign this issue to the author to investigate f

[2019-08-21 09:33] rochakmittal commented on #24114
For #1 it is typing mistake and we will update the doc

On issue 2 -  you can make the changes in your on premises routing table to route traffic to the secondary express route circuit

[2019-08-21 09:33] DeanGross opened #37519 "Support for SP 2019"
How come SP 2019 is not included in the Supported section at https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-sharepoint#sharepoint-versions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8bd27104-dcd7-6c3f-5f45-1e73cd26ddec
* Version Independent ID: a10f5b1d-5615-df5b-9044-def5b3486ef1
* Content: [S

[2019-08-21 09:35] rochakmittal commented on #31156
@SadiqhAhmed-MSFT the doc is updated please close the thread

[2019-08-21 09:37] #37514 closed

[2019-08-21 09:40] #37426 closed

[2019-08-21 09:40] rochakmittal commented on #23982
@jtuliani  the extension comment is only for the Market place images. ASR migrated VMs will boot.
This is a tested scenario.

[2019-08-21 09:44] VikasPullagura-MSFT commented on #37482
@Eldar1205 I am assigning the issue to the author for adding his comments on the issue.

[2019-08-21 09:44] KrishnaG-MSFT commented on #37399
I think we can update [this](https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#azure-monitor-limits) document with changes / additions / more detailed information and then provide reference of it in [this](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-managing-alert-instances?view=azure-dotnet) document as per the customer's feedback.

Assigning @anant

[2019-08-21 09:45] VikasPullagura-MSFT commented on #37482
@vturecek Can you please look into this request on adding examples to the document and add your comments accordingly.

[2019-08-21 09:46] msrini-MSFT commented on #37500
@dcbrown16 ,

Virtual network Gateway is the actual gateway which you create in the Gateway Subnet.
VPN gateway is the gateway which is created as the part of VWAN. So it cannot be moved and the documentation is correct mentioned.

I think this should clarify your question.

[2019-08-21 09:47] smoms commented on #27313
@MarekLani yes, you can check how the device Primary Connection String is passed to the Edge. From the class go backwards: https://github.com/Azure/iotedge-lorawan-starterkit/blob/master/LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/LoRaDeviceClient.cs#L30  to https://github.com/Azure/iotedge-lorawan-starterkit/blob/7f73bc84145ccc6543a295a6a513d1a5df458a7a/LoRaEngine/modules/LoR

[2019-08-21 09:51] KrishnaG-MSFT commented on #37399
Not able to add @anantr under assignees.
Assigning @ananthradhakrishnan for visibility and document enhancement considerations.

[2019-08-21 09:55] olandese commented on #32741
This should be absolutely be documented. We are getting 401 from a webapp which is trying to get secrets with Managed Identity and the Keyvault was configured to allow Microsoft Trusted Services. So we thought that it should work smoothly.
But that's not the case, this is supposed to work only for certificates from a webapp!

[2019-08-21 09:57] baqar110 commented on #36282
How to enable automatic record creation for reference field like department if it doesn't exist in ServiceNow.

[2019-08-21 10:00] jakaruna-MSFT commented on #37490
@dcbrown16
Thanks for the question! We are investigating and will update you shortly.

[2019-08-21 10:09] KrishnaG-MSFT commented on #37403
As per [this](https://feedback.azure.com/forums/246290-automation/suggestions/34074268-python-3) feedback from feedback forum, the Azure Automation product team has triaged and noted the feedback and will consider it if resourcing allows.

@bobbytreed Do you have any latest update(s) with regards to this ?

[2019-08-21 10:13] asgang commented on #37209
We don't want to copy everything from networking article into the architecture section. Hence I have added a link into the document to make it more explicit.

[2019-08-21 10:13] asgang commented on #37209
https://github.com/MicrosoftDocs/azure-docs-pr/pull/86065

[2019-08-21 10:13] asgang commented on #37209
#please-close

[2019-08-21 10:13] #37209 closed

[2019-08-21 10:23] kachihro commented on #34331
"you can just sign-in to the organisation to leave the organisation"...

But - that doesn't work if the account is locked, or deleted - I have 3-4 organisations that I haven't worked at for a year or more - and - I can't remove them...

[2019-08-21 10:24] ChiragMishra-MSFT commented on #37499
@linda33wj Can you please take a look ?

[2019-08-21 10:26] rochakmittal commented on #24114
#please-close

[2019-08-21 10:26] #24114 closed

[2019-08-21 10:27] rochakmittal commented on #18795
#please-close

[2019-08-21 10:27] #18795 closed

[2019-08-21 10:27] rochakmittal commented on #26567
#please-close

[2019-08-21 10:27] #26567 closed

[2019-08-21 10:28] choco-oppah opened #37520 "Example for assigning permission to namespace isn't clear enough"
Please update the below for additional clarity since both roles are valid. This is especially important until the RBAC roles come out of Preview.

"...add the Azure AD user account to the Owner role..." to "...add the Azure AD user account to the Owner or Contributor role..."

Thanks,
Nate

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-08-21 10:28] rochakmittal commented on #23982
#please-close

[2019-08-21 10:28] #23982 closed

[2019-08-21 10:28] rajashekargowda commented on #28457
Can anyone please help me to query Custom metrics(For azure VM)?

[2019-08-21 10:31] angoyal-msft commented on #37506
@rossdempster Thanks for the valuable feedback. I'll assign this issue to the content author for updating the document appropriately.

@rimman Could you please look at this issue. User needs more information on Continuation token in case horizontal scaling.

[2019-08-21 10:38] dcurwin commented on #36571
#assign:sogup

[2019-08-21 10:39] dcurwin commented on #36571
We have heard from the engineering team and this is their response:

tune2fs command works for all EFI partitions of the type Linux Ext3/4, ReiserFS, JFS, XFS. So the documentation is good as is.
Moreover, "tune2fs -l /dev/sda15 | grep "Filesystem state" is not required to be run for any other type of EFI partitions in case of fsfreeze

[2019-08-21 10:39] dcurwin commented on #36571
#please-close

[2019-08-21 10:39] #36571 closed

[2019-08-21 10:48] #31156 closed

[2019-08-21 10:49] ManojReddy-MSFT commented on #37282
@tbebekis

Case 1: My assumption is the scope you passed is not being recognized by Azure AD. Are you passing a custom scope? is this scope present in the App manifest?

Case2: Can you parse the token in https://jwt.ms and see that the scope you sent is coming in the token. It is possible that the operation requires a higher privilege or some other scope to perform that action.

Case 3: is the API

[2019-08-21 10:57] ManojReddy-MSFT commented on #37487
@jayanthurs-au I am afraid this will not work in password reset policy. This is supported only in combined signup or signin policy

[2019-08-21 11:01] iamanuradha commented on #36641
Below are the responses inline

   1.

   Which region were you originally running this notebook, where your
   cluster creation failed due to the capacity issue? * I dint explicitly
   select any region. Its was Canada Central. When was advised to give a try
   by changing the region, I recreated the workspace with a different region
   like Australia East, but still, the outcome is the same.*

[2019-08-21 11:02] vionemc opened #37521 "I get 400 Bad Request when Using Scrapy FormRequest with Microsoft Form Recognizer"
I am trying to implement the code from this quick start to Scrapy

https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstarts/python-receipts#feedback

[code]

Every time I try I always get a bad request error. The sample in the quick start seems to be only compatible with Python 3.x while I use Python 2.x.

Can you give me an idea why is it a bad request when I only cha

[2019-08-21 11:03] vionemc commented on #37521
Maybe the content type shouldn't be json?

[2019-08-21 11:09] vionemc commented on #37521
Sorry, it was the fault on my side. I should have used Request with method POST instead of FormRequest in Scrapy. I hope this code will help any Scrapy who mostly do POST using FormRequest

[code]

[2019-08-21 11:09] #37521 closed

[2019-08-21 11:10] ram-msft commented on #37518
@temitopefunmi Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-08-21 11:15] ram-msft commented on #37511
@raghunaik2009 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-08-21 11:16] KrishnaG-MSFT commented on #37440
As stated [here](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-custom-overview) if custom metrics are successfully published to Azure Monitor then in general we can browse, query, and alert on custom metrics for your Azure resources and applications side by side with the standard metrics emitted by Azure. So AFAIK it would be possible in this case as well to build a metric

[2019-08-21 11:23] tiesmaster commented on #37418
@Adam-Smith-MSFT @tamram Cool. I'll see if I can put in a PR tonight with the appropriate change, if you're interested.

[2019-08-21 11:28] SwathiDhanwada-MSFT commented on #37323
@rayne-wiselman Can you please provide your insights on this?

[2019-08-21 11:33] pietervanw commented on #36723
Thanks @KrishnaG-MSFT for picking up and dispatching. @bobbytreed: Please let me know what to do - I can also raise trouble tickets through Azure itself if that's needed - the docs page just redirected to Github so I thought that'd also work. When could I expect a response?

[2019-08-21 11:39] SwathiDhanwada-MSFT commented on #37498
Assigning @rayne-wiselman for doc enhancement

[2019-08-21 11:42] vionemc opened #37522 "Microsoft Form Recognizer returns XML instead of JSON"
I try the quick start from this page using Scrapy

https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstarts/python-receipts#feedback

The result I got using the headers should be json, but I am receiving XML

[code]

It is hard to parse in this XML format. Why don't I get it in JSON?

[2019-08-21 11:53] ManojReddy-MSFT commented on #37223
@SamirFarhat I have synchronized customized attributes in my lab and they are visible in AAD DS as well. So, it should work in your scenario as well.

[2019-08-21 11:56] KrishnaG-MSFT commented on #37510
@nnamedieh No. Currently this feature is not supported. [This](https://feedback.azure.com/forums/246290-automation/suggestions/35366107-powershell-cmdlets-for-watcher-tasks) is the related feedback from feedback forum that is shared with the Azure feature / product team who would triage and consider the feedback based on various parameters like feasibility, priority, votes a feedback receives, res

[2019-08-21 12:02] bikram1001 commented on #16543
@SaurabhSharma-MSFT I am trying to upload a cert file in .pfx format with private key but i am getting error that - "Elliptic Curve Cryptography Public Key Algorithm of the x509 certificate in the certificate chain is not supported".
Any idea about this ?

[2019-08-21 12:05] rwaal opened #37523 "Powershell script fails"
The Powershell script to configure automatic updates of the mobility agent fails to run. I am using Powershell 6.2.2 with the Az module version 2.5.0.

First problem is that the command Get-AutomationConnection does not exist in the in Az module version 2.5.0. When I change the script to use the command Get-AzAutomationConnection  and run the script, the script fails with the following error:

Mes

[2019-08-21 12:07] jakaruna-MSFT commented on #37490
@dcbrown16 i hope `Microsoft.Compute/virtualMachines/extensions/write` permission is to install and manage the extensions and not to restrict what actions we can do with those extensions.

I will check with the team and let you know about it.

[2019-08-21 12:09] jakaruna-MSFT commented on #37513
@shunlir
Thanks for the question! We are investigating and will update you shortly.

[2019-08-21 12:10] jakaruna-MSFT commented on #37513
@cynthn Please add your comments

[2019-08-21 12:11] eazykiel commented on #37483
Yes sorry about that. My question was in relation to this link : https://docs.microsoft.com/en-us/azure/sql-database/sql-database-sync-data

[2019-08-21 12:22] rgherta commented on #12292
Hi Sneha, according to this documentation link below you have a different behaviour in Mongo Native Server:

 https://docs.mongodb.com/manual/sharding/#advantages-of-sharding

So this is how native mongo is behaving and this is why people that migrate to CosmosDB Mongo API are resentful, because they need to rewrite their source code which is a hell of a selling challenge even inside their own org

[2019-08-21 12:35] PabloBotas opened #37525 "Reasons for a container instance with restart policy OnFailure to stop and not restart"
I have seen this behaviour on 2 container instances communicating with a Bus Service.

Both stop and do not restart, even though one of them is not being executed at all. What reasons may explain this behaviour?

[2019-08-21 12:35] PabloBotas opened #37526 "Reasons for a container instance with restart policy OnFailure to stop and not restart"
I have seen this behaviour on 2 container instances communicating with a Bus Service.

Both stop and do not restart, even though one of them is not being executed at all. What reasons may explain this behaviour?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfacc7cf-4224-9bd8-6211-29244cf60a83
* Version Independent ID

[2019-08-21 12:36] #37525 closed

[2019-08-21 12:36] PabloBotas commented on #37525
Sorry, it was meant to be posted at the feedback section in the container instance documentation website

[2019-08-21 12:36] jakaruna-MSFT commented on #37206
@Sas002 I have escalated this issue to the product teams. I will update you once i have some information.
Ideally file logs should support any files irrespective of the format.

[2019-08-21 12:41] jakaruna-MSFT commented on #37396
@MashaMSFT Please add your comments

[2019-08-21 12:47] hansmbakker opened #37527 "Is it possible to read the endpointkeys using an ARM template?"
I would like to store the QnA Maker Endpointkeys in an Azure KeyVault and I would like to automate that using an ARM template.

I found that there is a [REST API to fetch the endpointkeys](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/qnamaker/endpointkeys/getkeys), but I do not see how to call that from an ARM template (like using [listKeys](https://docs.microsoft.com/nl-nl/azure/az

[2019-08-21 12:57] julioas09 opened #37528 "No Powershell guidance"
There is no guide on how to delete a Recovery Services Vault with dependencies from powershell using the Az modules.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 728cc3f4-d5da-a270-a3c0-53f179147cc0
* Version Independent ID: 32d276c0-0980-ff36-933b-5012a39f75c5
* Content: [Delete a Recovery Services vault in Azure](h

[2019-08-21 13:18] PramodValavala-MSFT commented on #37526
@PabloBotas Thanks for the question! I believe this is a question best asked on the Azure Container Instances [MSDN Forum](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=AzureContainerServices&filter=alltypes&sort=lastpostdesc) or StackOverflo with the [azure-container-instances](https://stackoverflow.com/questions/tagged/azure-container-instances) tag.

AFAIK the restart policy s

[2019-08-21 13:20] diberry commented on #37056
@zxyanliu Hi Yan, I'm adding a question in troubleshooting. It should go live tomorrow. Please let me know if this is what you are looking for.

Here is the text:

### How do I use a different knowledge base with an existing Azure bot service?

You need to have the following information about your knowledge base:

* Knowledge base ID.
* Knowledge base's published endpoint host name - found on **Se

[2019-08-21 13:20] ztorage commented on #37512
https://docs.microsoft.com/en-us/azure/marketplace/marketplace-saas-applications-technical-publishing-guide

[2019-08-21 13:28] dcurwin commented on #37528
@ThalathBhagya - Can you help here?

[2019-08-21 13:31] PabloBotas commented on #37526
Thanks! I will do so

[2019-08-21 13:31] #37526 closed

[2019-08-21 13:33] MGoedtel commented on #36949
@visokoo + @femsulu - This needs to be forwarded to the PG to review and respond.  Looping in @MeirMen.

[2019-08-21 13:37] Sas002 commented on #37206
Thanks. Could you please escalate it as we have go live in few days and fileLogs is one of the major requirement for us.

[2019-08-21 13:45] monhaber commented on #33672
@ValinKastel  Hi - to answer your question about anti-malware, this is the answer I received from the PM:

ASC can only install an A/M solution in an Azure environment, and only SCEP for Old Windows server versions. Other than that, ASC can discover when some other 3rd party solutions are installed, avoid recommending a solution when one of those is detected, and surface up their health issues.

P

[2019-08-21 13:45] GeorgePlotnikov commented on #37440
@KrishnaG-MSFT thanks for the reply. I will try to use it and return to reply if it works. Probably it makes sense to add an example, let see.

[2019-08-21 13:47] monhaber commented on #33672
@ValinKastel AS for the old images, this topic is in the "Archive" section, and very shortly going to be deleted.  We are in the process of rewriting and reoganizing the entire Recommendations section.  Hopefully it will go live in the next couple of months.

Thanks for your feedback.

[2019-08-21 13:49] VOVELEE opened #37530 "Audit trail - Azure Monitor Logging starting preview"
In Audit trail you have stated that Azure Monitor Logging starting preview.

Could you provide link with more information how this can be configured?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2b90296-96c0-5b86-83ab-140eeb50a69e
* Version Independent ID: ee772010-931f-9f50-f72c-a9f5d200acb6
* Content: [Security at

[2019-08-21 14:01] nickstaggs opened #37532 "Service Bus payload format recommendations"
What is the reasoning behind recommending the use of JSON and Apache Avro as payload formats for structured data? Both use dynamic typing and are generally slower in marshalling/unmarshalling compared to statically typed payload formats such as Thrift or protobuf

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cea1af7-

[2019-08-21 14:04] gregory-fonkatz commented on #37477
All C# are Windows oriented. You must be completely misunderstanding your Linux and OSX customers if you think we will be installing .net platform only to obtain a token from Azure AAD. There're other, simpler ways to do it. Please show them.

[2019-08-21 14:04] ChrisAllisonMalta commented on #9869
Can you update the examples above to include the QueueMessageFormat, I've spent a few hours trying to fix this when its already part of the API?

[2019-08-21 14:23] degrover-cn opened #37533 "Time to update your screen shots"
FTP settings are now under Settings-&gt;Configuration-&gt;General Settings, Deployment Center no longer looks like that, and Quickstart no longer has an FTP panel.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6924846-3993-db7f-92c2-96a069bda515
* Version Independent ID: b0ec25d1-8ea8-c0e4-304d-ab03692fa8e7
* Content

[2019-08-21 14:24] anirudhcavale commented on #28457
@rajashekargowda can you describe what you have configured so far on the VM? For example:
1. Is this a Windows VM?
2. Have you configured the diagnostics extension?
3. Did you declare the "Azure monitor" data sink or are the metrics only being sent to a storage account?
4. How are you calling the REST API to retrieve the metrics?

[2019-08-21 14:43] ugurgokdere opened #37534 "Create VM Script fails"
Hello,

Create VM template fails during template validation. I couldn't find a log with the tracking ID. Could you please take a look at this?

Thanks,

Error: Code=InvalidTemplateDeployment; Message=The template deployment 'IotEdgeVm-PLVQw' is not valid according to the validation procedure. The tracking id is 'd666479e-8792-443f-a4fc-31f9e86f9e88'. See inner errors for details. Please see https:

[2019-08-21 14:44] rajashekargowda commented on #28457
@anirudhcavale, Thanks for the comment.
 1. Is this a Windows VM?
       I am looking for both windows and Linux VM’s
 2. Have you configured the diagnostics extension?
     Yes, I have configured the diagnostic extensions on both Linux and Windows VM. Now I need a way to pull the Memory metric.
 3. Did you declare the "Azure monitor" data sink or are the metrics only being sent to a
storage accou

[2019-08-21 14:46] eamonoreilly commented on #37510
You can call the Watcher Automation REST API from PowerShell (https://docs.microsoft.com/en-us/rest/api/automation/watcher) An example of calling a REST API from the service using the RunAs account is documented on https://github.com/azureautomation/runbooks/blob/master/Utility/ARM/InvokeAzureREST.ps1

You can also get the token if you have logged in to Azure using
`
$LoginSession = Get-AzureRMCon

[2019-08-21 14:46] pjcarr3 opened #37535 "Populating Authentication Contact Info"
I was testing the following statement:

"Once a user verifies their mobile phone number, the Phone field under Authentication contact info in Azure AD will also be populated with that number."

I pre-filled the mobile number and initiated sspr. The correct number showed up and I was able to verify the code. However, when I checked under "Authentication contact info", the number is not present unde

[2019-08-21 14:47] #36564 closed

[2019-08-21 14:47] #37324 closed

[2019-08-21 14:49] NavtejSaini-MSFT commented on #37422
@ahelal Please let us know if you have any other issue in this regard or we will go ahead and close the thread for now.

[2019-08-21 14:49] NavtejSaini-MSFT commented on #29867
@julieMSFT Thanks for the update. Please do keep us posted.

[2019-08-21 14:52] pjcarr3 commented on #37535
Screenshots

![image](https://user-images.githubusercontent.com/6126907/63442748-a1330e80-c401-11e9-8e90-ad7cb4a08ee9.png)

![image](https://user-images.githubusercontent.com/6126907/63442759-a55f2c00-c401-11e9-9a0d-00a9ae30ca83.png)

[2019-08-21 14:55] NavtejSaini-MSFT commented on #37345
@sivethe I am not sure regarding the permissions issue but i have assigned this case to @roaror
I think you have to use the command - (#reassign:userid) for reassigning.

[2019-08-21 14:55] PRMerger19 commented on #37345
userid) is not a valid GitHub ID, or is not a collaborator on this repo.

[2019-08-21 14:56] bigdatamoore commented on #37383
+1 on this

[2019-08-21 14:57] citykidz opened #37537 "Incorrect QR code in rollout materials"
In the link https://www.microsoft.com/download/details.aspx?id=56768 there is a Powerpoint document for Tent Cards that contains a QR code, which should point to aka.ms/sspr, but it doesn't.  I had to make my own QR code at qrstuff.com.  No big deal, but I thought someone should know.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-08-21 14:58] ConDar15 commented on #19578
@BryanTrach-MSFT Has there been any update on this? We are running into the same issue that our SignalR hub deployed to a linux container is not able to connect using websockets.

[2019-08-21 15:08] smoms opened #37538 "Clarification on use of module keys"
Hi, just to be sure I understand when Module keys are required. If I look at patterns with Edge as gateway https://docs.microsoft.com/en-us/azure/iot-edge/iot-edge-as-gateway then I can see that modules communicate to IoT Hub through Edge runtime. Now, in these cases I assume for Edge there is no need to use modules keys to forward messages to IoT hub, right? However if a modules wants to directly

[2019-08-21 15:10] PramodValavala-MSFT commented on #37280
@flyingUnderTheRadar I believe the problem here is that the full scope has to be provided which includes the client id as well. You can get it from the API Permission blade like below

![image](https://user-images.githubusercontent.com/43602528/63444244-dd8f5a80-c453-11e9-98d7-09389fd4f62c.png)

[2019-08-21 15:16] cynthn commented on #37513
@vikancha Can you help clarify GRID 9.0 support on NV6?

[2019-08-21 15:22] singhrajgithub commented on #37299
@Alberto-Vega-MSFT Thanks I have shared my feedback.

[2019-08-21 15:31] YutongTie-MSFT commented on #37266
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-08-21 15:31] #37266 closed

[2019-08-21 15:36] kgalic opened #37540 "Wrong Syntax"
const client = new CosmosClient({ endpoint, key } });
An extra } at the end.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40462fee-eb9e-5874-35b8-26d4605e390f
* Version Independent ID: bccb7915-dca2-7f10-9ccc-33fdf26baf65
* Content: [Node.js tutorial for the SQL API for Azure Cosmos DB](https://docs.microsoft.com/en-

[2019-08-21 15:43] kastromatos commented on #35819
@slavizh As I understand, all "Activity Log" alerts (policy, security etc.) has a similar schema. The difference only in alertContext.properties property, which fields can vary from case to case even for one type. But yeah, this property also not mentioned in samples.

[2019-08-21 15:47] MikeChristensen opened #37541 "If SFX is behind a firewall, what ports need to be open?"
Obviously 19000, but anything else?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d1345db-45da-3db7-4c3e-0db94c2ac675
* Version Independent ID: e7f1d8ce-c7ca-95d8-833b-aa10f43d0aa7
* Content: [Connect securely to an Azure Service Fabric cluster](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-con

[2019-08-21 15:49] craigktreasure commented on #36632
Hey @darax, would you mind taking a look at this one?

[2019-08-21 15:50] jwargo commented on #37208
fixed: https://github.com/MicrosoftDocs/azure-docs-pr/pull/86092

[2019-08-21 15:50] craigktreasure commented on #36639
Hey @Alberto-Vega-MSFT, can we close this as we are now tracking this issue in the samples repository?

[2019-08-21 15:52] craigktreasure commented on #32529
@BryanTrach-MSFT or @Alberto-Vega-MSFT, can we get this issue closed?

[2019-08-21 15:54] MicahMcKittrick-MSFT commented on #37467
@RJK23 I have gone through the document but am not able to repro any of the issues you are seeing.

If you like, I can get you in touch with Technical Support to troubleshoot this further. You can email me at AzCommunity@microsoft.com and provide me with your Azure SubscriptionID and link to this issue. I can then enable your subscription for that technical support request.

I will close this and

[2019-08-21 15:54] #37467 closed

[2019-08-21 16:01] tomingoglia commented on #18497
@iainfoulds you should consider @jakaruna-MSFT suggestion again. It would be a simple change and would provide clarity for new users. Problems like this cause hours of frustration and headaches for your team to triage. I think you made the wrong call on this.

[2019-08-21 16:04] DCtheGeek commented on #35939
@whaakman Apologies for the long delay on this.  The list of supported resource types for Azure Resource Graph is the "Complete Mode Deletion" page, as referenced [here](https://docs.microsoft.com/en-us/azure/governance/resource-graph/overview#how-does-resource-graph-complement-azure-resource-manager).  While SQL Server has many supported resource types within the Resource Provider (list [here](ht

[2019-08-21 16:04] #35939 closed

[2019-08-21 16:05] deanbot opened #37543 "Advanced Creation Steps invalid"
There appears to be no such "Advanced Creation" setting in Azure Functions 0.18.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0ac735e-3c90-8ba4-2d19-55099d03a1e4
* Version Independent ID: c3b1b510-641b-2cfb-e414-8d8b068de9e6
* Content: [Develop Azure Functions by using Visual Studio Code](https://docs.microsoft.com

[2019-08-21 16:06] smoms opened #37544 "Clarification on default installation"
so far I have always installed Edge without HSM and without provisioning any X.509 certificate. So how do the above security processes e.g. authenticate to workload API can work in such default configuration? Are certificates generates automatically under the hood?
thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-08-21 16:09] mjcarrabine commented on #36343
@SaurabhSharma-MSFT The most recent commit to this page does not seem to have addressed my issue.

Separately, I updated my suggestion on 1 August because it does not solve the problem either.

**So, my original question still stands: What PowerShell will result in setting the JIT policies for both VMs?**

[2019-08-21 16:11] BryanTrach-MSFT commented on #32529
@MikeChemi We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-21 16:11] #32529 closed

[2019-08-21 16:13] philburns-72 commented on #28746
Hi, can I re-open this?
I'm having a similar issue - thanks @grahamjtr for the DETAILEDERRORS tip. I used that and it's now telling me

Win32Exception: The system cannot find the file specified
Unknown location
SqlException: A network-related or instance-specific error occurred while establishing a connection to SQL Server. The server was not found or was not accessible. Verify that the instance n

[2019-08-21 16:15] iainfoulds commented on #18497
Sorry you ran into problems, @tomingoglia. The docs were changed months to ago to name the secret `tls-secret-staging` and add clean-up steps. Sorry you've missed those steps.

The comment I'd made was that issues with using Let's Encrypt fall under best-effort support if you reach out for additional assistance. You're welcome to reach out to Azure support, and they'll do their best to provide ass

[2019-08-21 16:20] Nicholas-I commented on #37460
Hi @KingdomOfEnds I just made a request and still "could not get any response", even after getting a new token (which ended up being the same as the previous token). And I know my url is correct: https://testdocdt.eastus.azuresmartspaces.net/management/api/v1.0/spaces

[2019-08-21 16:21] tomingoglia commented on #18497
@iainfoulds I haven't gotten to this step yet...so I'm not having this issue. There are other inconsistencies that I am seeing in the docs vs. my results and that caused me to begin reading through these items. After reading your response, it indicated that you would not be making changes. Thanks for the quick reply! This may help clear things up for people reading through these issues.

[2019-08-21 16:23] vikancha commented on #37513
18.094 is supported. I will update the docs page.

[2019-08-21 16:23] ahelal commented on #37422
@NavtejSaini-MSFT that is my question. if that is [semantic version](https://semver.org) MAJOR.MINOR.PATCH
the wording would be "we only support upgrades on PATCH" not minor versions.
like the [Azure MYSQL doc](https://docs.microsoft.com/en-us/azure/mysql/concepts-supported-versions#managing-updates-and-upgrades)

Or am I confusing something fundamental ?

Cheers.

[2019-08-21 16:23] laxmihub opened #37545 "Creating vm from restore is failing for VMs with managed disk"
faced issue when i deploy vm from restore( a VM with managed disk).  first i had to create manged disk from restore then only deployment template will work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e50dfe50-c177-f976-753b-9fa689d20f92
* Version Independent ID: 7f787259-8ce5-9ba6-8df7-58ab0b89dd5c
* Content: [Back

[2019-08-21 16:24] #37545 closed

[2019-08-21 16:25] laxmihub commented on #37545
i havent read document properly.

[2019-08-21 16:26] cynthn commented on #14329
#please-close The original question was answered and I haven't heard any more about the quota issue.

[2019-08-21 16:26] #14329 closed

[2019-08-21 16:31] ggailey777 commented on #37543
@deanbot thanks for the heads up! It seems like 0.18.0 has moved this to the main create flow. I'll get the article updated ASAP.
cc. @fiveisprime
#assign:ggailey777

[2019-08-21 16:33] lichunli-ms commented on #37406
Hi Ashjoker24,

We're still working on an Azure CLI (and PowerShell) sample for ANF and the corresponding documentation. In the meantime, you can find the supported Azure CLI commands for ANF at link below:

https://docs.microsoft.com/en-us/cli/azure/netappfiles?view=azure-cli-latest

Thanks,
Lichun

[2019-08-21 16:36] FrankHu-MSFT commented on #37515
@CallMeByMyName Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-21 16:37] FrankHu-MSFT commented on #37516
@temabu Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-21 16:37] FrankHu-MSFT commented on #37517
@SjoerdV Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-21 16:37] FrankHu-MSFT commented on #37535
@pjcarr3 Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-21 16:37] FrankHu-MSFT commented on #37537
@citykidz Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-21 16:37] jkewley opened #37546 "IoT Edge agent communicates directly to IoT Hub?"
The IoT Edge agent section says it 'report[s] the status of the modules back to IoT Hub', but the previous section says the IoT Edge Hub is the proxy for all IoT Hub communication. Can you clarify if the IoT Edge agent communicates directly to the cloud? If not, that section should use the term 'IoT Edge Hub' based on the term used in the previous section to indicate that it's talking to the local

[2019-08-21 16:38] syedcit01 commented on #7457
The feature is still not available. Unable to assign dynamic Activity name in foreach Activity.
For example: if foreach activity include the copy activity named as "Copy Table 1" then the activity name can not be set using dynamic expression therefore all the foreach activities in monitoring would appear as "Copy Table 1" which would make it difficult the activities, in case of errors or failure.

[2019-08-21 16:40] ajlam commented on #37422
@ahelal - you are correct. The wording in the MariaDB doc is incorrect and should match the wording in the MySQL doc. I will submit a doc fix shortly.

[2019-08-21 16:42] eross-msft commented on #37449
@joeywalla  Thank you for taking the time to write. I spoke with the product group about this and it turns out that the bypass link only appears when you're using the app code option. If you're using notifications, you can only register the Microsoft Authenticator app. Please let me know if this fixes your problem.

[2019-08-21 16:43] cynthn commented on #20090
@chepeftw Thank you for your feedback! The article was recently updated. Feel free to open another issue if you have additional feedback. Thanks again :)

#please-close

[2019-08-21 16:43] #20090 closed

[2019-08-21 16:45] cynthn commented on #20571
@NoeHoyos Have you had a chance to test this? Is your issue resolved?

[2019-08-21 16:54] cynthn commented on #7460
@etherdragon98926 I'm going through old issues, checking on the status. Did you find a way to deploy the extension to VMSS using a template?

[2019-08-21 16:55] Alberto-Vega-MSFT commented on #37522
@vionemc in the document you are linking to the author mentions to specify the JSON format on the header.
headers = {
    # Request headers
    'Content-Type': 'application/json',
    'Ocp-Apim-Subscription-Key': '<subscription key>',
}

[2019-08-21 16:56] FrankHu-MSFT commented on #37339
Hello @ncheymol  thank you for letting us know about this. Currently we're looking into this and will change the doc accordingly.

Typically the portal is correct when it comes to these sorts of issues. However we will get back to you as soon as possible in regards to this.

Thanks again for the feedback!

[2019-08-21 16:59] FrankHu-MSFT commented on #37535
Hey @pjcarr3  sometimes it takes some time to populate the data.

Have you tried refreshing the page now?

[2019-08-21 17:01] FrankHu-MSFT commented on #37516
Hey @temabu  can you please provide a screenshot of what you're currently describing? I'm not sure what you mean in regards to the "Alerts Option".

[2019-08-21 17:01] FrankHu-MSFT commented on #37431
@rudischmitz71 I'm following up on this issue, can you please respond in regards to the previous replies on this thread? Thanks

[2019-08-21 17:02] FrankHu-MSFT commented on #37199
@activeNathan Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-21 17:02] agruning commented on #36569
@jfayatkim thanks for reporting. Are you still seeing this issue in portal? We've deployed a fix for functions list. Additionally we are working on rolling out a fix for the manage section of each function.

[2019-08-21 17:02] fiveisprime commented on #37543
Ack! Sorry, this just shipped on Monday and I haven't hit all of the docs.

[2019-08-21 17:05] Alberto-Vega-MSFT commented on #37521
Hi @vionemc Thanks for reaching out and I'm glad to hear that you resolved your issue.

[2019-08-21 17:05] BryanTrach-MSFT commented on #37533
@degrover-cn Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-08-21 17:07] msaburnley commented on #37515
Hey @CallMeByMyName, Thanks for your feedback. Azure AD Basic is being deprecated and the content is being updated. Check out the new pricing model to see the current offers: https://azure.microsoft.com/en-us/pricing/details/active-directory/. Thanks!

[2019-08-21 17:07] jlichwa commented on #29145
Thank you we will add it to our backlog and prioritize. +@msmbaldwin

[2019-08-21 17:08] ggailey777 commented on #37543
@fiveisprime I'm on it! 💨

[2019-08-21 17:09] Alberto-Vega-MSFT commented on #37525
Hi @PabloBotas Thanks for reaching out and no worries.

[2019-08-21 17:10] BryanTrach-MSFT commented on #28746
@philburns-72 Can you please open this as a new issue? For tracking purposes and support issues, we request similar issues to be open as their own issue. Thank you for your understanding.

[2019-08-21 17:11] pjcarr3 commented on #37535
I tried yesterday afternoon and checked back this morning and the field was still empty. I've since made some changes and would have to restart the process to test this. I would guess though that I had checked back after ~16 hours. Could it take longer than this?

[2019-08-21 17:11] KranthiPakala-MSFT commented on #37520
@choco-oppah Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2019-08-21 17:12] YutongTie-MSFT commented on #37354
@chaoqian Hi Chao, have you contacted content team to update the document? Thank you.

@nacharya1 FYI

[2019-08-21 17:13] beastmondncm commented on #23413
@neeleshray - This will only work to create application registrations at the "Azure Active Directory - App Registrations" or "Azure Active Directory - Enterprise applications" blades - in other words only for applications that a B2C flow might use to connect to other providers like single-tenant AAD. It doesn't solve for how to create the application registration within the "Azure AD B2C - Applica

[2019-08-21 17:13] Alberto-Vega-MSFT commented on #36632
Thanks @craigktreasure  and @darax for addressing the feedback.
@TiNovTec We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-21 17:13] #36632 closed

[2019-08-21 17:15] YutongTie-MSFT commented on #37367
@PanosPeriorellis Hi Panos, please check this feedback and update the document if necessary. Thank you a lot.

[2019-08-21 17:15] cynthn commented on #37513
@shunlir Thank you for the feedback! The doc has been updated and the changes should be live by tomorrow. Thanks again :)

#please-close PR: 86097

[2019-08-21 17:15] #37513 closed

[2019-08-21 17:21] kkagill commented on #37274
@Adam-Smith-MSFT Hi Adam, Please refer to this [link](https://docs.microsoft.com/en-us/azure/app-service/deploy-staging-slots)

[2019-08-21 17:23] NavtejSaini-MSFT commented on #37420
@odin88 We are checking this with the author of the doc. Although please ignore the warning as the real issue is that currently the said query is not giving any data.

@julieMSFT While using the below PS code we are getting the warning as given in the screenshot. We understand that the command may be getting replaced. But as of now it should give some result.
(Get-AzMetric @MonitorParameters -Deta

[2019-08-21 17:27] BryanTrach-MSFT commented on #37208
@vitaly-livshits We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-21 17:27] #37208 closed

[2019-08-21 17:33] mikebudzynski commented on #37477
@gregory-fonkatz Thanks for your suggestion.

The code in the documentation is only an example and we're not able to provide examples in everyone's preferred language. If you're having troubles implementing this step in the language of your choice, please open a support ticket or post your question [on Stack Overflow](http://aka.ms/apimso).

#please-close