[2020-11-21 15:13] SumanthMarigowda-MSFT commented on #66455
@DebashishSarkar Thanks for your question. We are checking on this and will respond to you soon.

[2020-11-21 15:14] SumanthMarigowda-MSFT commented on #66456
@DebashishSarkar Thanks for your question. We are checking on this and will respond to you soon.

[2020-11-21 15:25] taylorchasewhite commented on #39665
I have the same issue...this is a bug, no ifs and or buts about it. This is ridiculous the amount of time app developers have to spend debugging, searching the internet and attempting to modify core accepted standards to comply with this ridiculous constraint. The qualification doesn't even make sense.

Echoing a comment I saw elsewhere, surely the only checks required are:

1. Does the json file

[2020-11-21 15:34] taylorchasewhite opened #66458 "The expected 'Content-Type' header that should be returned is application/json."
This is a problem. For any application that is deployed use static web files on a deployment service, the developer is unable to modify the response headers. As a result developers cannot verify their publisher domain without _changing their deployment strategy_.

This issue is loosely related to [39665](https://github.com/MicrosoftDocs/azure-docs/issues/39665).

Please fix this issue, for the fol

[2020-11-21 15:35] taylorchasewhite commented on #39665
Given that this issue is closed _and_ the original issue is unrelated to the comments the rest of us are having, I've created a new issue [here](https://github.com/MicrosoftDocs/azure-docs/issues/66458).

[2020-11-21 15:58] Snuff-Daddy commented on #66458
Couldn't agree more.

[2020-11-21 16:56] SnehaAgrawal-MSFT commented on #66197
We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2020-11-21 16:56] #66197 closed

[2020-11-21 17:11] SnehaAgrawal-MSFT commented on #66269
@jonashaefele Thanks again for the feedback.  Requesting you to share more details to help you better on this.

[2020-11-21 17:22] mslot commented on #36458
I really hope this gets fixed soon. It renders use of slots useless in my workflow. It needs to be fully automtatic. This solution is a hack workaround in my eyes and it doesn't make sense to introduce when it is working for webapps because it diverges to much on something that should just work the same introducing "black magic" for others coming in to a project.

I really hope this gets fixed so

[2020-11-21 17:23] SnehaAgrawal-MSFT commented on #66213
@jimmyjamesbaldwin Thanks again for sharing this.  Your feedback has been shared with the content owner for further review.

[2020-11-21 17:46] jonweigelaz opened #66470 "Index Title is incorrect for content"
https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-compare-azure-ad-to-ad

Index shows Compare Azure AD to ADDS
Content is Compare Azure AD to on pre AD, not Directory Services.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cecf7a5d-141d-77a6-8cfe-9ff5d6482670
* Version Independent I

[2020-11-21 18:10] martin77s opened #66471 "Fixes in the groupMembershipClaim values table"
The **DirectoryRole** and the **ApplicationGroup** selections in the table under the **Configure the Azure AD Application Registration for group attributes** section, are missing the closing quotation marks.
Also, the **"none"** value should be added to the table, as it is a valid value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-11-21 18:56] horackij opened #66472 "This is out of date. Screenshots are different and option choices have changed."
These instructions need to be updated.  For example in these instructions it states:

5. Under Settings > High availability, select one of the numbered zones from the Availability zone dropdown, keep the remaining defaults, and click OK.
There is no settings, nor any option to select High availability.  The screenshot provided is in no way similar to current method of creating a VM.

Also some of

[2020-11-21 19:04] SaurabhSharma-MSFT commented on #66454
@MoeJw Thanks for your feedback.  Have you tried looking into any other documentation.

[2020-11-21 19:09] SaurabhSharma-MSFT commented on #66458
@taylorchasewhite Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-21 19:30] SaurabhSharma-MSFT commented on #66470
@jonweigelaz Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-21 19:31] SaurabhSharma-MSFT commented on #66471
@martin77s Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-21 19:32] SaurabhSharma-MSFT commented on #66472
@horackij Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-21 19:52] AjayKumar-MSFT commented on #66314
@Mraelstone,  As mentioned above, hope these cmdlets helped.

Kindly use the below commands to enable application logging for filesystem and azureblobstorage as below:

az webapp log config --name yourwebppname --resource-group yourRGname --application-logging filesystem --level information

az webapp log config --name yourwebappname --resource-group yourRGname --application-logging azureblobstora

[2020-11-21 19:52] #66314 closed

[2020-11-21 19:57] bjpohl opened #66473 "Missing step: Add permissions to User Managed Identity?"
I believe there needs to be documentation added to assign RBAC role (Owner?) to the managed identity created over the scope necessary. Otherwise, it can not be used to manage the resources.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce02917c-0a8d-6b17-63e5-9b4ba0f671d7
* Version Independent ID: 63115261-407b-8620-9

[2020-11-21 19:58] MoeJw commented on #66454
@SaurabhSharma-MSFT  Yes I did, there is nothing said about it. I tried to search azure docs and google it and still nothing ):

[2020-11-21 20:09] AjayKumar-MSFT commented on #66180
@MichaelSL, Thanks for the update.
At runtime, connection strings are available as environment variables, prefixed with the following connection types:

SQLServer: SQLCONNSTR_
MySQL: MYSQLCONNSTR_
SQLAzure: SQLAZURECONNSTR_
**Custom: CUSTOMCONNSTR_**
PostgreSQL: POSTGRESQLCONNSTR_

It looks like you have added it as  'liteDb', kindly review the [Connection String ](https://docs.microsoft.com/azure

[2020-11-21 20:14] V4A001 commented on #66416
I have it running. The documentation is not clear at this point.

[2020-11-21 21:02] SpaceWVD opened #66474 "Exemple template didn't work for me"
[Enter feedback here]

In Collect Windows performance counters exemple.
This value must be unique -> "name": "WindowsPerfMemoryAvailableBytes"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12af2ace-5cc0-27c4-15f1-10bbb19b5d4f
* Version Independent ID: 45d71d62-2b29-e358-1cc2-223a51f9d1d5
* Content: [Resource Manager t

[2020-11-21 21:11] jyeblog opened #66475 "Azure Function App and Storage Account with firewall"
Would it be possible to have Microsoft create Managed Storage Account, that will automatically been consumed by Function App? Just as VM Boot Diagnostics can now use Managed Storage Account:

https://docs.microsoft.com/en-us/azure/virtual-machines/boot-diagnostics#enable-managed-boot-diagnostics

Per CIS benchmark 3.7: Ensure default network access rule for Storage Accounts is set to deny

For us

[2020-11-21 22:26] xyh1 commented on #66336
Yes, this is correct for both cool and archive blobs. Any blobs created or moved in those tiers are subject to early deletion periods.

[2020-11-22 01:58] Kim-2020 opened #66479 "Hi"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9421cd51-7a71-75a0-94d4-c93156fb8970
* Version Independent ID: 4d5d4f9d-75bf-f968-230c-aeb0849ae506
* Content: [Export a Jupyter Notebook project from the Azure Notebooks Preview](https://docs.microsoft.com/en-us/azure/notebooks/quickstart-export-jupy

[2020-11-22 01:59] #66479 closed

[2020-11-22 02:41] KrishnaG-MSFT commented on #66474
@SpaceWVD Thanks for your comment! We will review and provide an update as appropriate.

[2020-11-22 02:44] KrishnaG-MSFT commented on #66473
@bjpohl Thanks for the comment.
Assigning @DCtheGeek for visibility, review and document enhancement consideration if appropriate.

[2020-11-22 03:31] MonikaReddy-MSFT commented on #66378
@centerquebec -
Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2020-11-22 03:31] #66378 closed

[2020-11-22 04:04] shashishailaj commented on #66470
@jonweigelaz We checked this and it seems that the title is appropriate. Because on-prem AD is called Active Directory Domain Services. It might sometimes appear confusing with similar names because we have another service called [Azure Active directory domain services](https://azure.microsoft.com/en-us/services/active-directory-ds/) , which is a different service altogether. But we believe that t

[2020-11-22 04:14] alzafacon opened #66480 "Github Actions Container Deploy example shows deprecated action"
The action used to deploy in the example is azure/webapp-container-deploy@v1 but it has been deprecated in favor of azure/webapps-deploy@v2

Best practices page should not be recommending use of a deprecated action.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eaaa2dff-e57f-370e-fbf7-3ed37de2bb2a
* Version Independen

[2020-11-22 04:52] shashishailaj commented on #66471
@martin77s  Thank you for pointing this out. The value None is applicable and can be set directly in the Application manifest . The group claims are now available to be set using [Token configuration](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims) blade of the registered application.  We have verified this and updated the document . The change wou

[2020-11-22 04:54] #65511 closed

[2020-11-22 05:05] #66471 closed

[2020-11-22 05:11] shashishailaj commented on #66420
@runemy Thank you for pointing this our . We have updated the document accordingly. We will now close this issue. the document update should be live in the next 24-48 hours as per next release cycle. Should you have any further query , please feel free to tag me to your reply . In case I am unavailable , please open a new issue referencing this one and our team will be happy to help .

Thank you.

[2020-11-22 05:11] #66420 closed

[2020-11-22 05:41] SubhashVasarapu-MSFT commented on #66443
@PSPally, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-11-22 05:41] #66443 closed

[2020-11-22 06:30] mobyjames commented on #49245
Had to upgrade to Linux B2 for it to work.

[2020-11-22 06:54] Deepti886 commented on #66155
Hi Team, Thanks for your info.
Please find the below, some of the various json samples for builtin.dateTimeV2 entities JSON where i'm facing issue with deserializing them and extracting all the values from entities (like "type", "values", "timex", "resolution data( 'start',  'end', 'value')", ):-

Json1:

"entities":{"datetimeV2":[{"type":"date","values":[{"timex":"2020-11-23","resolution":[{"valu

[2020-11-22 08:15] dcurwin commented on #65982
Thank you for your important suggestion. We're working on updating the documentation, and hope to have the pages updated in the days to come.

[2020-11-22 09:27] KrishnaG-MSFT commented on #66275
@flarsmar Good catch! 👍 I was also able to reproduce the issue.

![image](https://user-images.githubusercontent.com/45988031/99899717-70f7b100-2cd1-11eb-88d7-ed1ad5bf56db.png)

![image](https://user-images.githubusercontent.com/45988031/99899726-8a006200-2cd1-11eb-9884-d51f9a02cbe5.png)

I will check with our internal team to understand if there is a current limitation on this feature and if requi

[2020-11-22 09:39] KrishnaG-MSFT commented on #66318
@arjunbalgovind I was validating the referred Azure document to plan on updating the document as required but it looks like the exact changes that you have mentioned were already updated in the current version of the document. :)

![image](https://user-images.githubusercontent.com/45988031/99900207-5115bc80-2cd4-11eb-8c6f-f59181a0258c.png)

[2020-11-22 10:32] KrishnaG-MSFT commented on #66474
@SpaceWVD Can you provide the error that you have received while deploying the template?

One common use case in which [this](https://docs.microsoft.com/en-us/azure/azure-monitor/samples/resource-manager-workspace#template-file-3) template would fail is, if you have already added "Available MBytes" windows performance counter with object "Memory" in your Log Analytics workspace and then tried to r

[2020-11-22 11:07] SumanthMarigowda-MSFT commented on #66475
@jyeblog  Thanks for your question. We are checking on this and will respond to you soon.

[2020-11-22 11:27] YashYash commented on #66458
Thank you @taylorchasewhite . We have been waiting on this for a while now. Was just about to create an issue, till I came across yours. Not sure why it was considered ok to close the other issues, when users have been dealing with this for almost a year.

[2020-11-22 12:30] Shruti1729 opened #66481 "Remote I/O error and unable to send data using another sensor other than BME sensor"
[Enter feedback here]

I am unable to run the sample program. I am getting a remote I/O error on running sample node index.js. Moreover, I am unable to figure out how to send data using soil moisture sensor. Give some resource or steps to follow to fix the issue. The screenshot is also pasted for reference.
![c6error1](https://user-images.githubusercontent.com/32010759/99903811-d016ef00-2cec-11eb-

[2020-11-22 13:06] MhAllan opened #66482 "This page doesn't tell why would I use Premium Plan Vs App Service Plan"
Looking at the price of Premium plan, it looks more expensive that App Service Plan. Question is, why would I hold a function under Premium plan when the App Service Plan can scale automatically and cheaper?? (ignoring the VNET feature, talking about scaling and price comparison only)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-11-22 13:17] markvogt opened #66483 "THIS "QUICKSTART" CODE THROWS "ModuleNotFound: Azure" EXCEPTION WHEN running first few lines !!!"
SUCCESSFULLY COPIED/PASTED/EXECUTED the following cell in a JupyterNotebook page in a VSCode project:
pip install azure-cognitiveservices-vision-customvision

AFTER THAT I IMMEDIATELY GOT EXCEPTIONS WHEN COPYING/PASTING/EXECUTING the next line of code:
from azure.cognitiveservices.vision.customvision.training import CustomVisionTrainingClient

ERROR DISPLAYED IN VSCODE:
---------------------------

[2020-11-22 13:57] yanivlavi commented on #53810
This should be resolved. We reworked all of the docs to fix the above issues.
@VikasPullagura-MSFT

[2020-11-22 13:57] yanivlavi commented on #52213
This should be resolved. We reworked all of the docs to fix the above issues.
@KrishnaG-MSFT

[2020-11-22 13:58] yanivlavi commented on #47370
We fixed this issue. This can be resolved.
@KrishnaG-MSFT

[2020-11-22 14:56] javierlarota opened #66485 "Issues Connection PowerBI Output to Stream Analytics -- Again"
I am getting this error "The token provided for 'XXXXX' has either expired or is invalid. Please re-authorize or update the token and try again." My Azure IoT application was working perfectly yesterday, and nothing has been changed. Today my Stream Analytics job PowerBI output is broken. No matter what I do I always get the same error. I have done everything to try to fix it, this is what I have

[2020-11-22 15:23] dgpoulet opened #66486 "az create functionapp command as shown doesn't work"
I'm following the docs to create a first Python function. After running locally, and creating RG and storage acct in Azure this command is shown:

**az functionapp create --resource-group AzureFunctionsQuickstart-rg --consumption-plan-location westeurope --runtime python --runtime-version 3.8 --functions-version 3 --name <APP_NAME> --storage-account <STORAGE_NAME>**

But running it on Ubuntu, with

[2020-11-22 15:32] yanivlavi commented on #53810
#please-close

[2020-11-22 15:32] #53810 closed

[2020-11-22 15:33] yanivlavi commented on #52213
#please-close

[2020-11-22 15:33] #52213 closed

[2020-11-22 15:33] yanivlavi commented on #47370
#please-close

[2020-11-22 15:33] #47370 closed

[2020-11-22 15:46] psmanhas commented on #66450
@mimckitt Can you please check and add your comments on this doc update request as applicable

[2020-11-22 15:59] jeffangama opened #66487 "How to leave an org using personal outlook.com account ? I dont have this screens showing"
How to leave an org using personal outlook.com account ? I dont have this screens showing

![Image 426](https://user-images.githubusercontent.com/6776269/99908663-1f0c5680-2ce4-11eb-9601-102f2dee2481.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b448cfd0-b673-7d04-047b-71aa62bebc27
* Version Independent ID: 75118

[2020-11-22 16:11] SumanthMarigowda-MSFT commented on #66480
@fidelcoria-aa Thanks for your question. We are checking on this and will respond to you soon.

[2020-11-22 16:50] vishalgoyal16444 opened #66488 "Merging files with different schema (columns) into single SQL Database from same container"
We have 500 CSV files uploaded to an Azure storage container. These files use 4 different schemas, meaning that they have few different columns and some columns are common across all files.

We are using ADF and schema drift to map columns in sink and source and be able to wrote the files.

But this is not working and it only uses schema for the 1st file it processes for every file and this is cau

[2020-11-22 17:18] jonweigelaz opened #66489 "Azure AD free tier MFA information not correct?"
https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-mfa-licensing

Doc states:
 _The mobile authentication app is the only method that can be used for Azure AD Multi-Factor Authentication when using Azure AD Free security defaults._

When i tested this, creating a Billing Role only user, that user could use text message as one factor and email as the other. They were not

[2020-11-22 17:59] jikuja opened #66490 "Keyvault references with function apps"
This documentation does not warn that some of the function app configurations will not work as keyvault references.

Examples:
* https://github.com/microsoft/vscode-azurefunctions/issues/1934
* https://github.com/Azure/Azure-Functions/issues/1291
* setting APPINSIGHTS_INSTRUMENTATIONKEY as keyvault reference gives following warning in portal:
  * `We have detected that your Application Insights in

[2020-11-22 18:08] SaurabhSharma-MSFT commented on #66481
@Shruti1729 Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-22 18:09] SaurabhSharma-MSFT commented on #66482
@MhAllan Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-22 18:10] SaurabhSharma-MSFT commented on #66483
@markvogt Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-22 18:11] SaurabhSharma-MSFT commented on #66485
@javierlarota Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-22 18:14] SaurabhSharma-MSFT commented on #66486
@dgpoulet Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-22 18:15] SaurabhSharma-MSFT commented on #66487
@jeffangama Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-22 18:16] SaurabhSharma-MSFT commented on #66488
@vishalgoyal16444 Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-22 18:17] SaurabhSharma-MSFT commented on #66489
@jonweigelaz Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-22 18:19] SaurabhSharma-MSFT commented on #66490
@jikuja Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-22 19:40] RVerma93 commented on #66442
@BhargaviAnnadevara-MSFT here is the link : https://docs.microsoft.com/en-us/python/api/overview/azure/keyvault-certificates-readme?view=azure-python

*In particular, this code is what i am trying to use to pass the .get_certificate to authenticate an API*

`from azure.identity import DefaultAzureCredential
from azure.keyvault.certificates import CertificateClient

credential = DefaultAzureCredent

[2020-11-22 19:49] amrikinsky opened #66493 "Billing Info"
[I entered all my visa card details right , made sure it was correct , the only respond was "I may have entered wrong information ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d5c4c89-1778-7b70-db0e-1425315d027b
* Version Independent ID: 7502f1f9-0ab9-5596-1254-1912b655b5e9
* Content: [Overview of Azure Cost Manage

[2020-11-22 20:42] DeanGodfree opened #66494 "Issue adding new kernel (stata_kernel)"
Hi there, I have followed the documentation for adding a new kernel but not able to get stata_kernel working with the notebook/compute on Azure Machine Learning. Please can you provide an update to the doc with an example? Is it even possible?
Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25d37573-7e5e-f808-2dce

[2020-11-22 20:49] amrikinsky opened #66496 "Problem solved 😁"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d5c4c89-1778-7b70-db0e-1425315d027b
* Version Independent ID: 7502f1f9-0ab9-5596-1254-1912b655b5e9
* Content: [Overview of Azure Cost Management + Billing](https://docs.microsoft.com/en-us/azure/cost-management-billing/cost-management-billing-overvie

[2020-11-22 21:00] arjunbalgovind commented on #66318
@KrishnaG-MSFT the highlighted parts in the screenshot seem to be the incorrect versions. [This doc](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/key-vault-windows) also has the correct JSON schema for reference.

[2020-11-22 21:20] srazasyed opened #66497 "Is this a typo in: Azure Backup doc?"
In the last bullet of [Why use Azure Backup?](https://docs.microsoft.com/en-us/azure/backup/backup-overview#why-use-azure-backup) section, the doc states: `Azure Backup offers two types of replication to keep your storage/data highly available.` But it gives three types in the sub-list as follows. Is this a typo (three types instead of two)?

1. Locally redundant storage (LRS)

2. Geo-redundant st

[2020-11-22 21:46] Peng-Xia opened #66498 "You don't have access to this Your sign-in was successful but you don't have permission to access this resource."
"You don't have access to this
Your sign-in was successful but you don't have permission to access this resource."

Portal said I don't have access to the portal as a guest user, how can I leave the organization without logging in？

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b448cfd0-b673-7d04-047b-71aa62bebc27
* Ve

[2020-11-22 23:01] pnarsi commented on #66112
Hi @JayaChatterjee-MSFT

I assuming you mean that I can use Functions [access restrictions ](https://docs.microsoft.com/en-us/azure/app-service/app-service-ip-restrictions) to whitelist the IP address range used by the Event Grid Service Tag? This would technically would work but this involves using the Functions public endpoint which does not meet my companies security needs.

My question was mor

[2020-11-23 00:31] MonikaReddy-MSFT commented on #66497
@srazasyed -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-23 00:34] MonikaReddy-MSFT commented on #66497
@srazasyed -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-23 00:34] #66497 closed

[2020-11-23 00:36] MonikaReddy-MSFT commented on #66496
@amrikinsky -
Thank you for your question.
 Can you please share with us more information on the issue you are facing regarding this doc ?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-11-23 00:40] MonikaReddy-MSFT commented on #66493
@amrikinsky -  Thanks for brining this to our attention. Looks like your issue is resolved as per https://github.com/MicrosoftDocs/azure-docs/issues/66496.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the i

[2020-11-23 00:40] #66493 closed

[2020-11-23 00:40] MonikaReddy-MSFT commented on #66496
@amrikinsky -  Looks like your issue is resolved as per https://github.com/MicrosoftDocs/azure-docs/issues/66493

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-23 00:40] #66496 closed

[2020-11-23 01:23] ranabanerjee15 opened #66501 "Wrong Path to the PowerShell Script for Installing MMA agent."
Under the Install MMA section, where it mentions
"The MMA agent can also be installed using this script."

The link for the script navigates to Technet gallery (link below) which does not have any actual script
https://gallery.technet.microsoft.com/scriptcenter/Install-OMS-Agent-with-2c9c99ab

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2020-11-23 01:42] shubDhond commented on #36458
@mslot I totally understand your pain with this and I'm sorry we weren't able to identify this issue sooner. I will speak to the devs who initially implemented this behaviour in the coming week and see if we can find a safe fix for this issue which could avoid the possibility of customers inadvertently moving to using an empty azure files share for their content. Once we have a proposed solution I

[2020-11-23 01:45] VikasPullagura-MSFT commented on #66309
@zhangkeqiang Any update on the issue?

[2020-11-23 02:08] MayankBargali-MSFT commented on #66494
@DeanGodfree Thank you for your feedback! We will review and update as appropriate.

[2020-11-23 02:09] MayankBargali-MSFT commented on #66498
@Peng-Xia Thank you for your feedback! We will review and update as appropriate.

[2020-11-23 02:47] voonxx opened #66502 "Standard SKU- No Zones option is missing"
The Standard SKU- No Zones option is missing from the portal GUI. Is there a recent update that removed the option?

Availability Zone | Select No Zone 

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be300b0c-96b6-d8de-b755-dca049ab0f9a
* Version Independent ID: 180df42e-76f3-9ff8-9e18-d96b0d42908a
* Content: [Create a

[2020-11-23 02:54] srazasyed opened #66503 "Incorrect syntax in sample runbook for starting a VM"
Following runbook in [step 6 of the official tutorial](https://docs.microsoft.com/en-us/azure/automation/learn/automation-tutorial-runbook-textual#step-6---add-code-to-start-a-virtual-machine) from MS Azure team has an incorrect syntax. The  line `$AzureContext = Get-AzSubscription -SubscriptionId $Conn.SubscriptionID` should use `Set-AzContext` to set the subscription `instead` of using `Get-AzSu

[2020-11-23 03:08] jonweigelaz commented on #66470
Completely confusing.
Active Directory, before Azure, was just Active Directory, which included domain services like DNS, LDAP etc.
I have never called it Active Directory Domain Services in my life.
No big deal I guess.

[2020-11-23 03:14] MayankBargali-MSFT commented on #66502
@voonxx Thank you for your feedback! We will review and update as appropriate.

[2020-11-23 03:19] NavtejSaini-MSFT commented on #66056
@johnstairs We have made the required changes and we will go ahead and close this issue for now. Please get back to us if you need any further help.
Thanks @CaitlinV39 for all the help.

[2020-11-23 03:19] #66056 closed

[2020-11-23 03:31] MayankBargali-MSFT commented on #66503
@srazasyed Thank you for your feedback! We will review and update as appropriate.

[2020-11-23 03:52] AnuragSharma-MSFT commented on #66328
@evertonmc We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-11-23 03:52] #66328 closed

[2020-11-23 03:54] sinnypan commented on #27537
If if helps anyone, I found the introduction of azure portal dashboard structure in below link (its focus on portal dashboard but I think the structure will be very similar with monitor dashboard), but always can be better that if this can be more richer for more detail or various example here.
https://docs.microsoft.com/en-us/azure/azure-portal/azure-portal-dashboards-structure

[2020-11-23 04:06] BhargaviAnnadevara-MSFT commented on #66442
@RVerma93 Thank you for the response. I've routed this to the appropriate Team to investigate and update.

[2020-11-23 04:25] CHEEKATLAPRADEEP-MSFT commented on #66299
@GregDSmith  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-11-23 04:25] #66299 closed

[2020-11-23 04:33] billtr opened #66505 "Where is New York Taxicab dataset?"
where can I find the "New York Taxicab" dataset in order to follow through this article?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e253528-7277-9f78-06e7-fff9f91e7a79
* Version Independent ID: 36ade0d7-ae89-da1e-2c74-65a4defefa84
* Content: [Tutorial: Load New York Taxicab data - Azure Synapse Analytics](https://

[2020-11-23 04:36] PramodValavala-MSFT commented on #66179
@hitsy Since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-23 04:36] #66179 closed

[2020-11-23 04:37] CHEEKATLAPRADEEP-MSFT commented on #66433
@nathan-alexander-mck  Thanks for the feedback! Your feedback has been shared with the content owner for further review.

[2020-11-23 04:41] ram-msft commented on #66396
@markvogt Thanks, To upload and Tag images please follow the below document.
https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/quickstarts/image-classification?tabs=visual-studio&pivots=programming-language-csharp

![image](https://user-images.githubusercontent.com/49180516/99929651-fb90ec80-2d73-11eb-91bc-22ef85d073d8.png)

[2020-11-23 04:42] CHEEKATLAPRADEEP-MSFT commented on #66440
@waynestevensinsight  Thanks for the feedback! Your feedback has been shared with the content owner for further review.

@spelluru Could you please look into this feedback?

[2020-11-23 04:46] CHEEKATLAPRADEEP-MSFT commented on #66370
@julieMSFT @ruixinxu Could you please review the document and update it as appropriate?

[2020-11-23 05:28] cannehag commented on #36458
@shubDhond I don't really understand the Azure Files "part" of this. I deploy my Azure Function project using Azure DevOps by first creating a deploymentslot, deploy to this and then swap. I'm using "RunFromPackage" deployment method and this does not seem to work when using a classic StorageAccount. I'm NOT using Azure Files and I seem to have the same problem related to the WEBSITES_CONTENTSHARE

[2020-11-23 05:52] reddyeswar161 opened #66508 "Is The connected factory solution is talking to real OPC UA server?"
We have a requirement to implement the application for industrial IOT using OPC UA server. I am completely new to Industrial IOT opc.

I would like to know high-level architecture of connected factory quick start application and either it is talking to real OPC UA severs..Please help me on this.

Thanks in advance

[2020-11-23 05:58] SadiqhAhmed-MSFT commented on #66501
@rayne-wiselman To review and update as required.

[2020-11-23 06:01] pnarsi opened #66511 "Location of System Topics created for Subscriptions and Resource Groups."
This article mentions that "For global Azure event sources such as Azure subscriptions, resource groups, or Azure Maps, Event Grid creates the system topic in **global** location".

Can I get clarity on what is meant by "global location"? Does this mean that the System Topic will be randomly located in any one of the Microsoft Azure regions or is a 'global location' a specific location?

---
####

[2020-11-23 06:05] woutervanranst opened #66512 "Typo semicolin"
The page makes multiple references to "semicolin" - the correct spelling is semicolon (https://www.google.com/search?q=semicolin&nfpr=1&sa=X&ved=2ahUKEwjykeDS_5ftAhXOzaQKHTEKB9sQvgUoAXoECBIQMA&cshid=1606111537047538&biw=3440&bih=1297)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b646ce05-8744-6bd6-89d2-d830d27955e2
*

[2020-11-23 06:22] CHEEKATLAPRADEEP-MSFT commented on #66485
@javierlarota, Thanks for bringing this to our attention. Currently, I’m working with the product team and get back to you when I have more information.

Stay tuned!

[2020-11-23 06:31] VikasPullagura-MSFT commented on #66257
@wanglijun378617 @miguelstratoss This bug fix is rolled out and the issue is fixed now.

[2020-11-23 06:41] YutongTie-MSFT commented on #66176
@aahill Hi, it seems the endpoint is not working for client. Could you please check if we need to update the document?

I will work with PG to check on this as well.

[2020-11-23 06:43] CHEEKATLAPRADEEP-MSFT commented on #66505
@billtr You can find the "New York Taxicab" dataset at **Load the data into your data warehouse** section in the document.

https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/load-data-from-azure-blob-storage-using-copy#load-the-data-into-your-data-warehouse

You need to Run the following statements to load the data from Azure Storage to Azure Synapse Analytics:

[code]

H

[2020-11-23 06:52] MayankBargali-MSFT commented on #66508
@reddyeswar1 Can you please provide more details if you have followed any of the Microsoft documents?

MicrosoftDocs Github issue is mainly related to the document issue. If this is not the case I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)

Once you post your issue on fo

[2020-11-23 06:52] CHEEKATLAPRADEEP-MSFT commented on #66512
@woutervanranst Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/138749 ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/138749 )

The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contribu

[2020-11-23 07:03] nerajput1607 commented on #66407
Thanks for reporting this. We will update the page.

[2020-11-23 07:09] MayankBargali-MSFT commented on #66511
@pnarsi Topic types of 'Azure Subscriptions', 'Resource Groups' etc are global since they represent events emitted by ARM and ARM is global i.e. same data is replicated across all regions.

[2020-11-23 07:16] VikasPullagura-MSFT commented on #66257
We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-11-23 07:16] #66257 closed

[2020-11-23 07:19] VikasPullagura-MSFT commented on #66223
@pjdamato The feedback is shared with the team. This will be renamed to Detach from Delete to avoid the confusion. Also, the document is updated to match the new portal experience now.

[2020-11-23 07:19] #66223 closed

[2020-11-23 07:35] pnarsi commented on #66511
Ahh right. So they only show events related to the Resource Manager (deploy/modify/delete resource) and not the any events related to services within that resource group?

For example if I have system topic for a resource group and I deploy a storage account, that resource group topic will show a event for the deployment of the storage account. However storage account specific event such as Blob C

[2020-11-23 07:37] nidiculageorge commented on #66087
@VikasPullagura-MSFT

Just did an upgrade to Managed Identity enabled cluster

Steps Done

1. Updated the azure cli version to 1.15.1
2. Updated the aks-preview

Commands typed
=============

1. az feature register --name MigrateToMSIClusterPreview --namespace Microsoft.ContainerService

2. az aks update --resource-group rg-poc-aks --name aks-poc --enable-managed-identity

Once the upgrade is comp

[2020-11-23 07:43] Molx32 opened #66513 "[PREREQUISITE] Missing Azure AD P1"
I needed to check whether Azure AD Premium (P1 or P2) was necessary for the dynamic group membership feature, and indeeded Azure AD P1 or P2 is required. I found the answer on [this](https://github.com/MicrosoftDocs/azure-docs/issues/52920) thread, but I think this should be mentioned in this article, as a prerequisite.

Thanks :)

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-11-23 07:56] zxpek opened #66514 "Importing Library"
There was a previous feedback that was closed around the library reference.

It was brought up that the correct library to import should be azure.ai.anomalydetector instead of azure.cognitiveservices.anomalydetector.

The issue was closed but this error is still present on the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-11-23 07:57] MayankBargali-MSFT commented on #66511
@pnarsi Yes, your above understanding is correct. The Resource Manager topic will only emit events related to any operation performed on the [resource group](https://docs.microsoft.com/en-us/azure/event-grid/event-schema-resource-groups). You can view the resource group available events [here](https://docs.microsoft.com/en-us/azure/event-grid/event-schema-resource-groups#available-event-types).

F

[2020-11-23 07:57] BhargaviAnnadevara-MSFT commented on #66439
@rafsalas19 Any further update here?

[2020-11-23 08:28] sarah026 opened #66516 "Deny assignment documentation"
This page is really unclear, I can't get my deny assignment to work.
Can you please include a fully working example and not snipits of random bits isolated?

**Show me from the time i connect to the azure portal blueprint how to create a deny assignment, where all service principals are denied access except two principal (1) one user, and (2) one service principal, and then exclude few actions for

[2020-11-23 08:31] bertrandpons commented on #66262
@JamesTran-MSFT Thank you for your test and your explanation!

[2020-11-23 08:31] #66262 closed

[2020-11-23 08:41] AjayKumar-MSFT commented on #66180
MichaelSL, We will close this out, but if you feel you need more information please just let us know.

[2020-11-23 08:41] #66180 closed

[2020-11-23 08:41] JohnStaveleyGB commented on #54283
What exactly was the solution here? We have a problem where manual export sometimes works and powershell export fails with the following error message:

 BadRequest: The ImportExport operation with Request Id  failed due to 'One or more unsupported elements were found in the schema used as part of a data package. Error SQL71501: Error validating element XXXX: Procedure: YYYYY has an unresolved ref

[2020-11-23 08:45] KrishnaG-MSFT commented on #66315
Assigning content owner @mumian for visibility, review and document enhancement consideration as appropriate.

[2020-11-23 08:53] KrishnaG-MSFT commented on #66340
Assigning content owner @mumian for visibility, review and document enhancement consideration as appropriate.

[2020-11-23 09:08] jimmywj commented on #66485
i have the same issue The token provided for 'myalias' has either expired or is invalid. Please re-authorize or update the token and try again.

[2020-11-23 09:12] AnuragSharma-MSFT commented on #66298
@sredman Yes you rightly pointed out that value is unsupported and gives error when trying to run the command.

Also as mentioned by you these changes are rolled out to multiple regions already, you might want to connect with the author of document for more changes if applicable to the document. I am assigning this to content author to evaluate and update as appropriate.

@stevestein

[2020-11-23 09:14] MichaelBarScia opened #66518 "Missing explanation about testing Azure Functions with DI and appsettings configuration"
This explains how to test with static Azure Functions in .NET/C#.

But what if you want to test non-static Azure Functions with DI and asp.net core alike configuration (see https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5719

[2020-11-23 09:33] leizhang1984 opened #66519 "Why not register All azure resource providers by default?"
Hi,

I get confused why should customers register Azure Resource Provider by manual.
Why not register all Azure resource providers by default?

I have experience after I created several azure subscription for end user, they will facing error that some azure resource provider is not registered by default.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-11-23 09:39] SwathiDhanwada-MSFT commented on #66503
@srazsasyed Thanks for your feedback. I have reproduced the sample PowerShell code in my environment and it seems to be working well.  As you mentioned, Set-AzContext is used to specify the context for current session. The example uses Get-AzSubscription and sets the context within command using -AzContext property which works in the sample.

[2020-11-23 09:42] SwathiDhanwada-MSFT commented on #64994
Thanks for your inputs @MSEvanhi . Can this sample code be included in the documents so that customers can have better experience when they are looking for similar information?

[2020-11-23 09:48] yichungyu commented on #66138
@femsulu please go ahead and close the issue, thanks!

[2020-11-23 09:48] pvrk commented on #65450
@Klaas- : We updated the doc with the right content and links for how to handle patches. The Azure update is scheduled and hence they usually come after few days of pre-reg script update. We will try to be regular in our updates to the script.

[2020-11-23 10:00] pvrk commented on #58365
@Klaas- Usually, there will be few delay since Azure update are scheduled as per demand. We will try to be as close as possible to the script update date.

[2020-11-23 10:01] o-l-a-v commented on #66089
@tfitzmac

I've found what I think is the Azure marketplace offer for the one critical VM that has to be moved. How would you go about "In the destination subscription, accept the marketplace terms for your plan so you can use it for new deployments"? Add a dummy VM from the Marketplace offer, delete it, all good?

[2020-11-23 10:01] pvrk commented on #65450
Also commented on the [internal role removal link](https://github.com/MicrosoftDocs/azure-docs/issues/58365).
Please re-open if this doesn't meet your requirements.
Thanks for your feedback.

#please-close

[2020-11-23 10:01] #65450 closed

[2020-11-23 10:07] jochenvw commented on #58566
+1 - thanks.

[2020-11-23 10:15] AnuragSharma-MSFT commented on #66329
@evertonmc This is being assigned to the content author to evaluate and update as appropriate.

[2020-11-23 10:24] shashishailaj commented on #66513
@Molx32 Thank you for your feedback . We will investigate this and have the document updated after review.

[2020-11-23 10:27] mauro-dasilva commented on #47611
@RyanHill-MSFT Thanks for all the support you have been providing to the community. I was wondering if there was any update on the short lived session tokens? With your help, we have the integration working with Apple, but the token only lasts a day so it makes it impractical to use as our end user needs to sign in every day to use the application. If you have any update on this would be greatly a

[2020-11-23 10:34] bencorley opened #66520 "Not useful at all"
Hi, can you please at least show us the end result of the magical bulk file you want us to format ?

I followed every instruction and it does not work ! Still asking for the userprincipalname even thou it is there !

Can you please add a REAL EXAMPLE of how the file should look ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-11-23 10:38] MayankBargali-MSFT commented on #66514
@zxpek Thank you for your feedback! We will review and update as appropriate.

[2020-11-23 10:38] bencorley commented on #55920
Dude I'm in the same situation wth, this is a really bad article ! Update please and put a clear and understandable solution !!!

[2020-11-23 10:39] MayankBargali-MSFT commented on #66516
@sarah026 Thank you for your feedback! We will review and update as appropriate.

[2020-11-23 10:40] pvrk commented on #65450
The original content is [here](https://docs.microsoft.com/azure/backup/backup-azure-sap-hana-database-troubleshoot#sdc-version-upgrade-or-mdc-version-upgrade-on-the-same-vm). I have updated this doc with the relevant question and link.

[2020-11-23 10:41] MayankBargali-MSFT commented on #66518
@MichaelBarScia Thank you for your feedback! We will review and update as appropriate.

[2020-11-23 10:43] MayankBargali-MSFT commented on #66519
@leizhang1984 Thank you for your feedback! We will review and update as appropriate.

[2020-11-23 10:43] Klaas- commented on #65450
Ah, okay I would have thought it goes into this file: https://docs.microsoft.com/en-us/azure/backup/sap-hana-db-manage -- content looks okay. Thank you.

[2020-11-23 10:46] pvrk commented on #65450
@Klaas- Yes, thanks. I plan to also add links to all 3 (SDC to MDC and patching scenarios) to the manage article too. Thanks for the feedback.

[2020-11-23 10:46] Klaas- commented on #65450
Okay, so then it's not new content, it was already there, I just did not find it the first time around :) https://github.com/MicrosoftDocs/azure-docs/commit/8662ecefe93c7613d4040fe9953ec0c74b754569

[2020-11-23 10:49] mcurko commented on #65367
Any idea on when will these errors be solved?

[2020-11-23 11:29] dhirschfeld commented on #61944
Apparently not all VMs which support premium storage also support ephemeral OS disk:
[code]

I think it would be useful for the documentation for VMs say whether or not they support ephemeral OS disk and any pertinent information such as the cache size.

This information can be pulled out from the cli, but apparently not very easily?
[code]

[2020-11-23 11:30] SwathiDhanwada-MSFT commented on #66344
@marcstern Thanks for your comment. For your scenario, you can take advantage of azure service tags ([learn more](https://docs.microsoft.com/en-us/azure/virtual-network/service-tags-overview#service-tags-on-premises) ) which encompasses  group of IP address prefixes from a given Azure service. In your case, you can use "ApplicationInsightsAvailability" service Tag.

Also , here is a tip on how to

[2020-11-23 11:39] eliasvakkuri opened #66521 "Add examples of event trigger attributes after publishing"
[Enter feedback here]
Please add examples of event trigger attributes after publishing, and whether you can track these in Data Factory.

For example, on the page it says that you can use "@triggerBody().folderPath" to access the target folder of the triggering blob. However, "folderPath" is not an attribute of the Event Grid message that does the triggering, so it would be helpful to know what co

[2020-11-23 11:39] marcstern commented on #66344
Thanks for this very useful info.
On top of the azure service tags, we'll like to receive easily notifications. This feed seems the best way for us, nothing to install, just to register the feed.
Furthermore, we are inetresting in all locations because we mainatin some data for mutliple customers. Azure service tags are linked to our own subscription.

[2020-11-23 11:52] asergaz commented on #65786
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-23 11:52] #65786 closed

[2020-11-23 11:53] SarveshPandey opened #66522 "Azure SQL MI PITR got failed"
We were trying to restore a database on the same SQL MI with older date and different name but it got failed and we did get any information from the error message.

Later we came to know the SQL MI has TDE enable onit (Service Managed), is this causing an issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa600097-8

[2020-11-23 11:54] rayne-wiselman commented on #63974
Thanks for your feedback on this!. It's now fixed.

#please-close

[2020-11-23 11:54] #63974 closed

[2020-11-23 12:00] RohitMungi-MSFT commented on #66514
@zxpek I think you are referring to the python code snippet and the recent change refers to .net code snippet. It looks like the sample works fine with azure-cognitiveservices-anomalydetector package but the install command refers to `pip install --upgrade azure-ai-anomalydetector`

@mrbullwinkle Could you please confirm which package needs to be installed? If azure-ai-anomalydetector package need

[2020-11-23 12:05] SadiqhAhmed-MSFT commented on #66519
@tfitzmac Any thoughts on the query?

[2020-11-23 12:05] SarveshPandey opened #66523 "AWS (MSK + EMR) to Azure"
Can you provide us a document or reference architecture which will be helpful to migrate AWS (MSK +EMR) to Azure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0edc8be-5f9c-4146-17a3-08f88d3bcd48
* Version Independent ID: 3d390731-26cf-3a8e-a11c-e73a3efccf4e
* Content: [An introduction to Apache Kafka on HDInsight -

[2020-11-23 12:14] leizhang1984 opened #66524 "This document seems out of date"
Hi,

I'm facing the same scenario that deploy Azure SQL IaaS VM in multiple region.

It's seems this document is out of date:
-Can we configure Azure global peering instead of Site-to-Site VPN?
-Can we provide the overall diagram of all Azure resource including region, resource type, resource sku, configuration etc.
-Can we provide the overall vnet ip range and location
-Can we provide the interna

[2020-11-23 12:26] MarcelT-NL commented on #59114
Has this issue been resolved?

I use AGIC to create listeners for AKS, AGIC creates multiple listeners that use the same port, just for different domains.
When I look up a listener in the Azure Portal, I get the following error:

<img width="633" alt="Schermafbeelding 2020-11-23 om 13 22 53" src="https://user-images.githubusercontent.com/57507326/99961744-3ce2c580-2d8f-11eb-9db7-7d9c56348170.png">

[2020-11-23 12:31] MarcelT-NL opened #66525 "Application Gateway gives an error "The basic HTTP listener cannot use the same frontend port as an existing listener""
I use AGIC to create listeners for AKS. It successfully creates multiple (basic?) listeners that use the same port in the App Gw, but each for a different domain. This works fine.

However, when I look up a listener in the Azure Portal, I get the following error:

<img width="633" alt="Schermafbeelding 2020-11-23 om 13 22 53" src="https://user-images.githubusercontent.com/57507326/99961744-3ce2c58

[2020-11-23 12:33] CHEEKATLAPRADEEP-MSFT commented on #66523
Duplicate of #66267

[2020-11-23 12:33] #66523 closed

[2020-11-23 12:40] MonikaReddy-MSFT commented on #66525
@MarcelT-NL -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-11-23 12:40] AnuragSharma-MSFT commented on #66522
@SarveshPandey Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-11-23 12:42] shashishailaj commented on #66520
@bencorley Thank you for your query. We will have this reviewed and update the thread.

[2020-11-23 12:52] PramodValavala-MSFT commented on #66518
@MichaelBarScia Most of the code would be the same except that you would have to instantiate the object before calling the function and just pass in mocks for dependencies. So, for a class like this

[code]

You would have to do something like this

[code]

If you have a set of tests, you can [share context in XUnit](https://xunit.net/docs/shared-context) for common dependencies to inject.

We are

[2020-11-23 12:57] asergaz commented on #66148
Hello @jgoretzky , we have a quickstart targeting IoT Hub Service SDK in Android, did you came across it?:

- [Quickstart: Control a device connected to an IoT hub (Android)](https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-control-device-android)

You can import any class from the service sdk to your Android App like it is done [here.](https://github.com/Azure-Samples/azure-iot-samples-j

[2020-11-23 12:57] #66148 closed

[2020-11-23 13:09] MarcelT-NL commented on #66525
Hi, I am sorry - this is a product issue. I will copy this one to Microsoft QnA

[2020-11-23 13:09] #66525 closed

[2020-11-23 13:32] olitomlinson opened #66526 "seriesCountLimit is not explained"
The below statement does not make sense and fails to convey what the `seriesCountLimit` configuration option represents.

- `seriesCountLimit` is the max number of data time series a metric can contain. Once this limit is reached, calls to TrackValue().

Please provide an explicit example on how `seriesCountLimit` can be exceeded. In a similar manner to the example of how `valuesPerDimensionLimit`

[2020-11-23 14:20] gregoryagu opened #66527 "Sample Code doesn't work for 2.2."
This sample code doesn't work for AspNetCore 2.2:

[code]
But this does:

[code]
Would recommend

[code]
so that the sample works in 2.2 as well versions.  I was trying to use this in older code, and it took me a while to figure out what the issue was.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31b0d33c-f88e-d50c-2

[2020-11-23 14:28] SumanthMarigowda-MSFT commented on #66201
@matuhinal  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ If it's not directly related to the documentation. We'll follow up there.

[2020-11-23 14:28] #66201 closed

[2020-11-23 14:29] SumanthMarigowda-MSFT commented on #66255
@reddyeswar161Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

 I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ If it's not directly related to the documentation. We'll follow up t

[2020-11-23 14:29] #66255 closed

[2020-11-23 14:30] SumanthMarigowda-MSFT commented on #66305
@javester The PR has been merged. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-23 14:30] #66305 closed

[2020-11-23 14:37] SumanthMarigowda-MSFT commented on #66336
@rualthan We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-23 14:37] #66336 closed

[2020-11-23 14:51] wbplomp opened #66528 "Root Certificate Updates on Windows Server 2019"
We have noticed that Azure VM's with Windows Server 2019 (from the Azure Marketplace) do not update their certificate store (e.g. root certificates). Is that expected or might there be a problem? We have verified this issue occurs to multiple environments.   These servers are are not disconnected from internet. Can you add some information (links) how Windows Server update the trusted root certifi

[2020-11-23 15:02] VikasPullagura-MSFT commented on #66236
@deetoo The feedback is shared with the internal team.
only after 1.16 is tcp reset set to true for all, so the annotation will be removed from the doc after 1.16 goes out of support.

[2020-11-23 15:02] VikasPullagura-MSFT commented on #66236
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-11-23 15:02] #66236 closed

[2020-11-23 15:05] GitaraniSharma-MSFT commented on #65945
@zerweck , following up on my previous comment. Could you please provide some updates on this issue for further investigation?

[2020-11-23 15:29] hittensa commented on #60490
Hi, I agree with Shajith. You mention the pre-requisite variables before running the script which makes sense but the specific issue I can see relates to:

$datadisk = Get-AzDisk -DiskName $datadiskName -ResourceGroupName $datadiskResourceGroup

These are the issues
$datadiskname
$datadiskResourceGroup

Neither of these two variables (at least from what I can see) are defined in any of the pre-req

[2020-11-23 15:30] VikasPullagura-MSFT commented on #66294
@mimckitt Thanks for sharing the details.

@j1mmyfever
We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-11-23 15:30] #66294 closed

[2020-11-23 15:30] hittensa opened #66529 "Documentation unclear or incorrect"
Hi, I agree with Shajith (a separate issues raised on this documentation). You mention the pre-requisite variables before running the script which makes sense but the specific issue I can see relates to:

$datadisk = Get-AzDisk -DiskName $datadiskName -ResourceGroupName $datadiskResourceGroup

These are the issues
$datadiskname
$datadiskResourceGroup

Neither of these two variables (at least from

[2020-11-23 15:30] VikasPullagura-MSFT commented on #66309
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-11-23 15:30] #66309 closed

[2020-11-23 15:32] VikasPullagura-MSFT commented on #66472
@horackij
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-11-23 15:32] VikasPullagura-MSFT commented on #66472
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2020-11-23 15:33] hittensa commented on #66529
Apologies I've not posted on here before, but this relates to article: https://docs.microsoft.com/en-us/azure/site-recovery/how-to-enable-replication-proximity-placement-groups

[2020-11-23 15:52] mrbullwinkle commented on #66514
It looks like the change to the pip install instructions for azure-ai-anomalydetector was made on September 4th https://github.com/MicrosoftDocs/azure-docs/commit/21e9738e0b74bbaaf73747e1ca82d22664754e49#diff-7454699fdc7fa50ceb4f73eafc0448e6fa8e5a4299085129baf1f17a664137faR52 but as @RohitMungi-MSFT correctly points out the rest of the code samples are still relying on the old import statements as

[2020-11-23 15:56] GitaraniSharma-MSFT commented on #66338
@EllisG93 , thank you for providing the support ticket number. I have engaged the Azure Firewall Product team to approve the document update. Hence, we are assigning this to the content owner/author to make changes accordingly post PG approval.

@vhorne , I have added you to the internal email with Azure Firewall PG team with all the necessary information for the doc update approval. Please review

[2020-11-23 15:59] MonikaReddy-MSFT commented on #66529
@hittensa -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-23 16:02] Gyzzo opened #66532 "Account creation is disabled"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9421cd51-7a71-75a0-94d4-c93156fb8970
* Version Independent ID: 4d5d4f9d-75bf-f968-230c-aeb0849ae506
* Content: [Export a Jupyter Notebook project from the Azure Notebooks Preview](https://docs.microsoft.com/en-us/azure/notebooks/quickstart-export-jupy

[2020-11-23 16:15] TingluoHuang opened #66535 "2 different Azure AD authentication endpoints for China National Cloud"
I found 2 different AAD endpoints in the doc

https://docs.microsoft.com/en-us/azure/china/resources-developer-guide#check-endpoints-in-azure
shows:
[code]

https://docs.microsoft.com/en-us/azure/active-directory/develop/authentication-national-cloud#azure-ad-authentication-endpoints
shows:
[code]

It looks like `https://login.chinacloudapi.cn` redirects to `https://login.partner.microsoftonline.c

[2020-11-23 16:19] Sharmistha-Rai commented on #66529
@hittensa - the $OSDiskVhdURI and $DataDisk1VhdURI commands were retuning null values for a lot of users. So we changed the command to get $datadisk using the Get-AzDisk command.
Now, the variables $datadiskName and $datadiskResourceGroup should be strings and not variables. I can change those for better understanding.

[2020-11-23 16:19] Sharmistha-Rai commented on #60490
@hittensa - the $OSDiskVhdURI and $DataDisk1VhdURI commands were retuning null values for a lot of users. So we changed the command to get $datadisk using the Get-AzDisk command.
Now, the variables $datadiskName and $datadiskResourceGroup should be strings and not variables. I can change those for better understanding.

[2020-11-23 16:21] y2kdread opened #66536 "Missing Pre-req in AGIC Greenfield Deployment Doc"
In the AGIC Greenfield deployment doc there is a missing pre-req for the aks-preview extension. The document references that it is needed in the middle:

Make sure that you added or updated the aks-preview extension at the beginning of this tutorial.

But this is the only reference to the extension. I've had a couple of cases where this confused the CX.

Please reach out if you need anything from

[2020-11-23 16:22] dm10169 commented on #62396
I have tried everything in my power to suppress these warnings to include
set-item Env:\SuppressAzurePowerShellBreakingChangeWarnings "true"
in PS7 7.0.3 and in ISE.  These warnings persist, can we please suppress them once and for all.
I'd rather not see a paragraph of warnings, each time I'm vaulting, thx.

[2020-11-23 16:23] dm10169 opened #66537 "Unable to suppress Warnings with: set-item Env:\SuppressAzurePowerShellBreakingChangeWarnings "true""
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-11-23 16:31] MichaelSL commented on #66180
@AjayKumar-MSFT , maybe it makes sense to add a note to the documentation that connection strings shouldn't be added as a hierarchical parameters?

[2020-11-23 16:58] MonikaReddy-MSFT commented on #66537
@dm10169 -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-11-23 17:08] cchapin-ms opened #66538 "Need additional documentation"
[Enter feedback here]
This page discusses the history of this feature and what it now allows, but does not have any documentation on how to use it. It needs to have documentation on how to do this using the Azure Portal and PowerShell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db30a5c4-452c-02ae-b610-018e2bb042fb

[2020-11-23 17:19] leinad87 commented on #56098
With this update, it's not possible to work with spot node pools and basic SKU. This should give a warning, not an error, just in case load balancer is not needed for the cluster

[2020-11-23 17:28] mcastorina08 opened #66540 "Out of date page"
Is there a more up to date page that shows which linux distros are supported by the Linux Azure Diagnostic extension? This page is almost 2 years old and I don't see any other information on it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13249027-1524-dd0c-9d83-15a9733a3d19
* Version Independent ID: bf8a2d1a-8d9b-2

[2020-11-23 17:28] RyanHill-MSFT commented on #66274
I see @emilpeder. Azure CLI snippets are based on bash. That's why you don't see `$` there. If you were using Powershell, then you would need to use `$azureaduser`.

[2020-11-23 17:28] #66274 closed

[2020-11-23 17:39] vhorne commented on #66253
Link added to ApplicationGatewayWebApplicationFirewallPolicies
#please-close

[2020-11-23 17:39] #66253 closed

[2020-11-23 17:39] mkulisic opened #66541 "Azure Data Factory CI/CD Tumbling Trigger Issues"
Hello,
I've been working on implementing the CI/CD solution noted here (https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment) for the Azure Data Factory. I'm worried about the behavior of tumbling triggers when using this method. Correct me if I'm wrong, but if I have a tumbling trigger A (which doesn't exist in production) in my development Data Factory with it's

[2020-11-23 17:46] stowen-msft opened #66542 "Are there pricing implications when I use my own Workspace with ASC?"
In the section talking about using your own Workspace or using the Default Created Workspace for ASC, it doesn't go into depth as to the implications for using my own Workspace.

For instance, if I use my own Workspace, are there any Log Analytics Solutions enabled?  If so, are there pricing implications for the VMs currently connected to this workspace?

If so, are those scoped in any way to a su

[2020-11-23 17:47] souravmishra-msft commented on #66111
Closing the thread for now, since received no more updates.

@Caoxuyang , please do let us know in case there are any more queries around this so that we can help you further. But for now, we are closing this thread and help you re-open this if any further help is required on this.

[2020-11-23 17:47] #66111 closed

[2020-11-23 17:57] NavtejSaini-MSFT commented on #66258
@kny78 Please let us know if you need any further information regarding this. Or we will be going to close this case by EOD.

[2020-11-23 17:58] NavtejSaini-MSFT commented on #66273
@bilak We are going ahead and closing this issue for now. Please let us know if you need any further help regarding this.

[2020-11-23 17:58] #66273 closed

[2020-11-23 17:59] NavtejSaini-MSFT commented on #66345
@oslake Please convey if there is an programmatic way to find this.

[2020-11-23 18:00] MicrosoftGuyJFlo commented on #66489
Email is only available to self-service password reset. It sounds like you are configuring SSPR for a user not multi-factor authentication.

[2020-11-23 18:02] bwren commented on #66383
@rjewell-lower Thanks for the comments. You're right, we removed saving from that. We actually have some significant changes coming to the content for saving queries, so for the moment I'll just remove that word so we're not being confusing.

#please-close

[2020-11-23 18:02] #66383 closed

[2020-11-23 18:04] hgrandy94 opened #66543 "Explanation of Backfill Required"
Please add a few sentences to describe what the backfill is for. While it may seem obvious, particularly to those who frequently work with Azure ML, it is confusing for many customers and there is no explanation in our documentation to point them to. It should not be assumed that someone immediately understands what backfill means.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-11-23 18:04] Karishma-Tiwari-MSFT commented on #66203
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-11-23 18:04] #66203 closed

[2020-11-23 18:04] NavtejSaini-MSFT commented on #66437
@mksuni Please review this and let us know if we can make this change and where you want the change and we will submit the PR accordingly.

[2020-11-23 18:05] ernetas opened #66544 "Limits shouldn't be under pricing"
Might I suggest moving some of the contents under a different section?

It doesn't make sense to have architectural limitations like UTF-8 character support, supported JDBC driver versions under pricing tiers section, if they are in no way related to pricing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61a86489-2b1d

[2020-11-23 18:05] NavtejSaini-MSFT commented on #66445
@cjoakim Please help us with these question so we can move forward with this.
@kanshiG Can you please check and weigh in regarding this issue.

[2020-11-23 18:19] SaiKishor-MSFT commented on #66536
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-23 18:26] SaiKishor-MSFT commented on #66086
@aoweis Please let us know if you have any further questions. Thank you!

[2020-11-23 18:26] pawarbi opened #66545 "Please add statsmodels"
Hi please add statsmodels library as one of the defaults. It's used widely for statistical analysis and especially for time series foresting using classical methods which none of the other default libraries offer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4f708b2-6003-e6c2-aa1f-893ea1f6394d
* Version Independent

[2020-11-23 18:27] WinstonHoward-MSFT commented on #66540
Thanks for the feedback, I've asked @axayjo to take a look.

[2020-11-23 18:27] JamesTran-MSFT commented on #66535
@TingluoHuang
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-23 18:27] hrasheed-msft commented on #65725
@mikeblakeuk Updated as requested.

CC: @HarithaMaddi-MSFT

#please-close

[2020-11-23 18:28] #65725 closed

[2020-11-23 18:28] Karishma-Tiwari-MSFT commented on #64753
We do not information on this yet, you can use this link to stay informed of new features: https://azure.microsoft.com/en-us/updates/

Will update this thread if there is an update on the same.

[2020-11-23 18:28] #64753 closed

[2020-11-23 18:28] JamesTran-MSFT commented on #66538
@cchapin-ms
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-23 18:29] cjoakim commented on #66445
Please disregard; the page does have a github repo with the code.  I was
able to work through this.  Thank you.

On Mon, Nov 23, 2020 at 1:06 PM NavtejSaini-MSFT <notifications@github.com>
wrote:

[2020-11-23 18:30] Karishma-Tiwari-MSFT commented on #65887
Can you please share the Technet article link. Thanks.

[2020-11-23 18:31] Karishma-Tiwari-MSFT commented on #66039
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@TomShinder Can you please help confirm on customer's question:

[2020-11-23 18:40] bwren commented on #65437
Thanks. This article has accidentally gotten orphaned and either needs to be retired or put into the TOC. I'll verify this comment with engineering team though and either update or remove.

#please-close

[2020-11-23 18:40] #65437 closed

[2020-11-23 18:41] shashishailaj commented on #66513
@Molx32 Thank you for pointing this out. The details about licensing is present in the not in the article https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/groups-dynamic-membership .

![image](https://user-images.githubusercontent.com/532022/99997251-eacb8f80-2de2-11eb-9ef7-d5ababcfdd2b.png)

However, I have added a line in the current article and raised a change. It will b

[2020-11-23 18:44] Karishma-Tiwari-MSFT commented on #66041
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-23 18:48] MartinJaffer-MSFT commented on #66235
@ryanbrownnetworking777  how or what are you trying to parameterize in these linked services?  I am attempting to reproduce your issue.

[2020-11-23 18:52] #66513 closed

[2020-11-23 18:56] billtr007 commented on #66505
My apologies for the overlooked. I was expecting the URI pointing to a storage account location and hence the question.

[2020-11-23 18:58] lfittl-msft commented on #66544
@ernetas Thats good feedback - you are correct that this is confusing. We'll review whether we can adjust this.

[2020-11-23 18:58] NavtejSaini-MSFT commented on #66445
@cjoakim Thank you for confirming. We will be going ahead and closing this issue.

[2020-11-23 18:58] #66445 closed

[2020-11-23 19:01] ChrisNelson-CyberReef opened #66546 "Not clear how many distinct passwords are required"
At https://docs.microsoft.com/en-us/azure/azure-sql/database/elastic-jobs-tsql-create-manage#create-a-credential-for-job-execution there are three instances of "EnterStrongPasswordHere."  It is not clear if that is one, two, or three different passwords.  Adding 1, 2, and 3 to the end as appropriate to make them clear would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-11-23 19:07] jeffqu17 opened #66547 "Documentation outdated and doesn't match the portal"
Trying to update my service administrator in the portal and the documentation steps no longer match what is available in the portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25dd53de-a48b-5cc3-4af3-2bc27d26efe4
* Version Independent ID: 41c7fe08-42bb-8b32-c7d7-845d6bb39209
* Content: [Azure classic subscription a

[2020-11-23 19:08] shashishailaj commented on #66470
@jonweigelaz  I agree that some people may never have used the term AD Domain services and always called it active directory . But The name changes were needed to keep in line the branding and in essence of the functionality the product(_azure AD in this case_) provided like being a "user store" and "an authn/authz service " which essentially was very similar in its capabilities Active directory p

[2020-11-23 19:08] #66470 closed

[2020-11-23 19:22] shashishailaj commented on #66393
@curtand Could you please review this request and see if the changes can be made to the current article ?

[2020-11-23 19:36] aahill commented on #65653
Hi @jhancock4d thanks for reaching out. You probably don't see that button because you've likely migrated your account. Once you migrate your account, the option isn't available, and you have to add contributors using the Azure portal. This process should enable them to see the app when they log in, provided they have also [migrated their account](https://docs.microsoft.com/azure/cognitive-service

[2020-11-23 19:37] peterjoinobits commented on #66265
Any updates?

Peter Johnson | Senior Cloud Infrastructure Consultant | peterjo@inobits.com | +27 83 306 0019 | http://www.inobits.com

1.This email disclaimer applies to the original email, all attachments and any subsequent emails sent by Netsurit (Pty) Ltd (“the Company”). 2. This e-mail is intended only for the named person or entity to which it is addressed and contains valuable business infor

[2020-11-23 19:37] JamesTran-MSFT commented on #66547
@jeffqu17
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-23 19:47] SadiqhAhmed-MSFT commented on #61767
@jitendra-25 The steps documented are correct. I verified them by doing a repro.
Created a vault, configured backup for two VMs and then performed delete operation through Azure portal and it works as expected.

[2020-11-23 19:58] YutongTie-MSFT commented on #66543
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-23 19:59] YutongTie-MSFT commented on #66545
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-23 20:02] cshalda opened #66548 "Instructions and screenshots for old My Apps portal"
All the instructions and screenshots on this page refer to the old My Apps portal and do not apply at all to the new My Apps portal, to the point that there is not an option that I can find to leave an organization when using the new My Apps portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b448cfd0-b673-7d04-047b

[2020-11-23 20:19] miwithro commented on #66087
@VikasPullagura-MSFT thanks for the note.   @bcho comment?

[2020-11-23 20:22] jhancock4d commented on #65653
There's no way to add them per the instructions in Azure. And all of the roles that I can find in Azure don't seem to give them access. No matter how you cut it the documentation isn't sufficient for success.

[2020-11-23 20:31] BryanTrach-MSFT commented on #66269
@jonashaefele Thank you for raising this up. We checked and as far as we are aware there is no limitation to run the newer version of Next.js.

As a result, we have gone ahead and assigned your feedback to the doc author, @christiannwamba, to review further and see if there are any changes required to bring the documentation in line with the newer APIs.

[2020-11-23 20:36] shashishailaj commented on #66487
@jeffangama In general the easiest way to leave an organization using a personal account like outlook.com account is to contact the global admin of the tenant you would like to leave or contact the individual/application owner who would have invited you to the tenant however you can try to do this manually using the long process below.  I checked this and found that you can use the following steps

[2020-11-23 21:05] pnarsi commented on #66511
Thanks for the quick response. I am happy to close this ticket.

[2020-11-23 21:05] #66511 closed

[2020-11-23 21:06] bwren commented on #64765
Sorry for late reply. Catching up on issues.

The column descriptions are now available in our log reference at https://docs.microsoft.com/en-us/azure/azure-monitor/reference/tables/containerlog. I'll at least get a link to the reference in the article and potentially add some columns to that table.

#please-close

[2020-11-23 21:06] #64765 closed

[2020-11-23 21:06] RyanHill-MSFT commented on #47611
stay tuned til after the holiday 😉...

[2020-11-23 21:07] JamesTran-MSFT commented on #66423
@r-milne
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-23 21:09] JamesTran-MSFT commented on #66538
@cchapin-ms
Thank you for your time and patience, I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-23 21:10] stevehose opened #66550 "Misnamed Cmdlets in examples"
It looks like there may be some mistakes on cmdlet names:

Get-AzRecoveryServicesItem should be Get-AzRecoveryServicesBackupItem
Backup-AzRecoveryServicesItem should be Backup-AzRecoveryServicesBackupItem

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 391160e7-d81e-699f-693e-4cca9e50cbea
* Version Independent ID: c3346

[2020-11-23 21:15] MonikaReddy-MSFT commented on #66521
@eliasvakkuri -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-23 21:16] MonikaReddy-MSFT commented on #66524
@leizhang1984 -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-23 21:18] JamesTran-MSFT commented on #66547
@jeffqu17
Following the documentation, I wasn't able to find any discrepancies with what is documented and what is seen in the Azure Portal. Are you able to provide some more details to what in the documentation doesn't match the Portal?

![image](https://user-images.githubusercontent.com/36619112/100015941-8c27f680-2d8d-11eb-9117-aa549f03b3c9.png)
![image](https://user-images.githubusercontent.co

[2020-11-23 21:30] kgremban commented on #66403
@kumarallamraju It looks like you have not updated the azure-iot extension. Please check your versions. When I run the same command, I see connection-string as a subgroup of device-identity, and the show-connection-string command is marked as deprecated.

[code]

[2020-11-23 21:38] kgremban commented on #65820
@pranavsanghadia Every IoT Edge device uses certificates to connect securely with modules and downstream devices. The "Manage device certificates" article shows users where those certificates get installed for the runtime and how to customize them. This article doesn't specify how or where you get your certificates, it just tells you how to use them on your device.

The second article that you men

[2020-11-23 21:39] MonikaReddy-MSFT commented on #66526
@olitomlinson -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-23 21:43] BryanTrach-MSFT commented on #66527
@gregoryagu Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-23 21:43] mamccrea commented on #64191
@tedvanderveen The fix for this issue is in progress. I am going to close this issue for now, and I'll report here when the fix is deployed.

#please-close

[2020-11-23 21:43] #64191 closed

[2020-11-23 21:44] strykerin opened #66551 "CosmosDB view Unique Key for container once it's created"
In order to see the Unique Key for a container I've created, I can export the ARM template for the database or I can get it using the cosmosdb sdk as we can see in this stackoverflow post and in this closed issue:

https://github.com/MicrosoftDocs/azure-docs/issues/32204
https://stackoverflow.com/questions/53490454/how-to-show-unique-keys-on-cosmos-db-container/53491509#53491509

I was wondering i

[2020-11-23 21:49] ryanhofdotgov opened #66552 "CommandNotFoundError: 'resource' is misspelled or not recognized by the system."
In the `Azure CLI` section, running the `az eventgrid resource event-subscription create...` command results in:
[code]
I'm on macOS 10.14.6:
[code]
Haven't tried it yet, but I'm guessing it is documenting an older version of the CLI and we're supposed to use a combination of `az eventgrid system-topic create` and `az eventgrid event-subscription create` instead.

---
#### Document Details

⚠ *Do

[2020-11-23 21:49] fcatacut opened #66553 "CDN Profile: "Monitoring" section is no longer available in the blade"
Step 2 under the "Configuration - Azure portal" section indicates that there is a "Monitoring" section in the blade. Based on this [image](https://docs.microsoft.com/en-us/azure/cdn/media/cdn-raw-logs/raw-logs-01.png), it should be between the "Settings" and "Automation" section.  However, this no longer appears to be the case.

![image](https://user-images.githubusercontent.com/20847572/100019174

[2020-11-23 21:50] zsy056 opened #66554 "mask in https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-access-control"
[code]

I suppose the mask mentioned in the first paragraph is referring to the mask ACE, which should be an 8 bit value, but the mask mentioned in the second and third paragraph seems to be something else?
Also I cannot find a parameter matching the "mask" described in the third paragraph that can be specified on a per-call basis in the REST API.

---
#### Document Details

⚠ *Do not edit this se

[2020-11-23 21:58] shubDhond commented on #36458
Hi @cannehag could you please open a new issue for this? There may be some strange behavior happening with the RunFromPackage app setting being marked as sticky causing similar symptoms to what is described here. I would suggest a new issue so we don't add confusion here as the issues are likely unrelated.

[2020-11-23 22:09] bwren commented on #62251
Sorry for late replay. We'll get these updated. Thanks.

#please-close

[2020-11-23 22:09] #62251 closed

[2020-11-23 22:29] sachdevaswati commented on #65398
@hypdeb - we are planning something similar to what you are suggesting. Might I request some 30 minutes of your time, say this week to discuss more on this? We would like to have an easier permission setting-up model by GA.

[2020-11-23 22:31] JamesTran-MSFT commented on #66548
@cshalda
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-23 22:45] JamesTran-MSFT commented on #66528
@wbplomp
Thanks for your question!

If your certificate store is not updating correctly on your VMs with Windows Server 2019, I'd recommend reaching out to our [Compute](https://docs.microsoft.com/en-us/answers/products/azure?product=compute) or [Windows](https://docs.microsoft.com/en-us/answers/products/windows) experts within MS Q&A. If you have TLS questions related to this article, you can pos

[2020-11-23 23:14] sandervandevelde opened #66557 "Do we still have to change the edgeHub module versuin"
The text refers to mcr.microsoft.com/azureiotedge-hub:1.0.8.3 while version 1.0.9 and 1.0.10 are released already.

Is referencing this 'old' version still needed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0532c8f5-18d5-809a-b52d-718287a8573b
* Version Independent ID: 63e26490-437e-f013-13ec-418985b709d6
* Content

[2020-11-23 23:15] MarileeTurscak-MSFT commented on #66418
@yvesrosius are you referring to where it says "This functionality protects all applications registered with Azure AD"?

This means that any application registered in the Azure portal can be protected with Azure MFA. You can also use conditional access to apply MFA to certain actions or access by users. https://docs.microsoft.com/en-us/azure/active-directory/authentication/tutorial-enable-azure-mf

[2020-11-23 23:16] mikemowgli commented on #66485
Same issue here. I'm using MFA, and the same account for both PowerBI and Azure. Though I have several subscriptions attached to the account. Refreshing or even deleting and recreating the job does not fix the issue.

[2020-11-23 23:16] MarileeTurscak-MSFT commented on #66418
I'm closing this out because I believe it describes the services in the article, but feel free to tag me in the comments or open a new issue if I misunderstood!

[2020-11-23 23:16] #66418 closed

[2020-11-23 23:33] sandervandevelde opened #66558 "Is baselineCustomChecksEnabled related to an interval?"
According to the text, baselineCustomChecksEnabled is related to

[code]

baselineCustomChecksEnabled is actually a boolean so it's NOT an interval.

What is it then?

Next to that, why are these settings not mentioned in https://docs.microsoft.com/en-us/azure/defender-for-iot/how-to-agent-configuration ? These seem related to the same topic...

---
#### Document Details

⚠ *Do not edit this secti

[2020-11-23 23:35] bwren commented on #61974
Sorry for late replay. Catching up on issues. Updating that image to show the menu and edited the text to specify where the option is coming from.

#please-close

[2020-11-23 23:35] #61974 closed

[2020-11-23 23:51] mmacy commented on #66206
@dkreeft I have PR open that that, once merged and published, switches the localhost URIs back over to `localhost` as well as adds clarification on the manifest editing requirement of the loopback-based URI.

![image](https://user-images.githubusercontent.com/13394541/100028326-8806d380-2da3-11eb-9322-84c127df8cd5.png)

![image](https://user-images.githubusercontent.com/13394541/100028335-8d641e00

[2020-11-23 23:55] sandervandevelde opened #66559 "Which debug levels can be selected?"
Which kinds of debug levels are available?

[code]

Please provide an example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0532c8f5-18d5-809a-b52d-718287a8573b
* Version Independent ID: 63e26490-437e-f013-13ec-418985b709d6
* Content: [Deploy IoT Edge security module](https://docs.microsoft.com/en-us/azure/defender-f

[2020-11-24 00:01] kmkelly2015 opened #66560 "Azure VPN Split DNS"
Hi

Is it possible to split DNS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9ef898a-0b72-e018-8a3d-6f14f62e1119
* Version Independent ID: b62b5b8f-bc88-0868-a2f6-1020a5097460
* Content: [VPN Gateway: VPN client for P2S OpenVPN protocol connections: Azure AD authentication](https://docs.microsoft.com/en-us/azure/vp

[2020-11-24 00:07] ElectricLlama opened #66561 "How does keyvault authorisation work"
It's not clear to me how KeyVault auth works through databricks.  If I select "Manage Principal" = Creator during keyvault setup, For example, if I call a notebook through ADF and that notebook accesses KeyVault, what security context does it run under? Is the executing notebook using ADF managed identity to authorise to keyvault? Does this setting have any bearing in this case?

---
#### Document

[2020-11-24 00:07] femsulu commented on #66542
@stowen-msft, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2020-11-24 00:10] ChaitanyaNaykodi-MSFT commented on #66552
Hello @ryanhofdotgov, Thank you for your feedback! We will review and update as appropriate.

[2020-11-24 00:12] femsulu commented on #66544
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-11-24 00:16] MonikaReddy-MSFT commented on #66551
@strykerin -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-24 00:27] himanshusinha-msft commented on #66229
Hello @MoulshreeSD  ,
You cannot use view . Three option which we have are table , query or stored proc . You can always write a  query and create a proc .
We will go ahead and close this thread now . if you wish youc an always reopen this , if you think thats appropiate .

[2020-11-24 00:27] #66229 closed

[2020-11-24 00:29] bwren commented on #62950
Sorry for the delay, I'm catching up on open issues. Thanks for finding this. You're correct, it should be Audit. I think we kept a placeholder value in the text. Fixing it now.

#please-close

[2020-11-24 00:29] #62950 closed

[2020-11-24 00:31] ElectricLlama opened #66562 "Is secret accessed every time or just when the file system is mounted?"
For the case of mounting  using service principal + secret, is this secret checked / referenced every time the storage is accessed or only when it is first mounted? If it is checked every time, what authorisation is used to get the secret from keyvault? Is it the currently executing user?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-11-24 00:37] rbschneider commented on #66552
Ryan, I think you are on to something here. The correct command is 'az eventgrid event-subscription create'; perhaps it is an old code holdover, or syntax from another section. You are passing the correct key the key in the endpoint def: I would assumne the system would generate a different error had you not . . .  I was just testing the verbatim command on Azure. Same error duplicated. I will inv

[2020-11-24 00:38] bwren commented on #61832
Sorry for late replay. Catching up on issues.  This is a misleading title in the portal. The diagnostic settings menu for VMs actually installs the diagnostic extension. You need PowerShell or CLI to create the diagnostic setting as described in the section that you identified. The diagnostic extension is required to collect guest metrics. The diagnostic setting collects host information.

I know

[2020-11-24 00:38] #61832 closed

[2020-11-24 00:48] #66206 closed

[2020-11-24 00:57] mwanchap commented on #16579
The Source property is still not available in either Azure Powershell or Azure CLI, but for anyone else that needs it, using the API the portal itself uses is the only method I could get working (big thanks to @softwarecraft for the idea!).

In the Azure AD user details page (the one containing the "Source" property), open the developer tools' networking tab, search for "/api/Users/", and find the

[2020-11-24 00:59] rbschneider commented on #66547
@jeffqu17 Have a look here.  I think I see what you are referring to and we will investigate and update the documentation accordingly. Perhaps one of these might help in the context of what you are trying to accomplish:

1) https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/role-based-access-control/classic-administrators.md#limitations-for-changing-the-service-administrator

2) http

[2020-11-24 01:00] ryanhofdotgov commented on #66552
I'm a newbie with these tools, but after a few hours of running into errors and reading other docs, I think the correct command in this case might actually be:
` az eventgrid system-topic event-subscription create...`
not:
`az eventgrid event-subscription create...`
as the example is sending events on blob creation.

I'm doing something like the snippet below. It seems to work and has symmetry in

[2020-11-24 01:01] BharathNimmala-MSFT commented on #66550
@stevehose Thanks for bringing this to our notice , we will review and update the document accordingly.

[2020-11-24 01:02] rbschneider commented on #66552
That is what I was thinking while running through them. Glad it worked - we will get that one updated. Thanks again.

[2020-11-24 01:12] TonySh127-ms opened #66563 "Request the Full password sync potential issue FAQ | Revoke token behavior"
Hi Team,

After run the full password sync, the end user's token will be revoked. We may need to remind the end user to refresh the current status. As it is tenant level configuration, if you can provide this reminder FAQ in this document will be better in case the end user surprised logout in the old session

And, the audit log showed the password update may also give the admin side confusion.
![

[2020-11-24 01:19] VikasPullagura-MSFT commented on #66347
@felixtsem5 Team has identified the issue and is working on fixing the cli url links which will automatically fix the redirections from the page.

[2020-11-24 01:24] jdelforno commented on #66173
Hi Guys,

Apologies for the late response.

The point of contention is that the page states to call a REST endpoint to apply an ARM Template.

Surely we should be able to simply run an ARM Deployment via PowerShell, as per: https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deploy-to-tenant?tabs=azure-cli

Cheers,
John

[2020-11-24 01:36] jlichwa commented on #66442
@RVerma93  for specific use cases questions not directly related to doc/tutorial Stack Overflow would be better place to get solution. To download entire certificate you should use secret api (certificate portion only contains public information) - https://docs.microsoft.com/en-us/azure/key-vault/certificates/how-to-export-certificate?tabs=azure-cli#export-stored-certificates.

[2020-11-24 01:51] SamaraSoucy-MSFT commented on #51000
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-11-24 01:51] #51000 closed

[2020-11-24 01:55] pawarbi opened #66565 "Typo"
Minor typo [here](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-machine-learning-interpretability-aml?view=azure-ml-py#interpretability-at-inference-time) in **Interpretability at inference time** section.
or __new_ any new datapoint_ should be _any new datapoint_

Great job with this page, good explanation.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2020-11-24 02:10] rajgang commented on #65887
i have already shared the ariticle. Sharing it again
https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/failover-cluster-instance-prepare-vm

[2020-11-24 02:13] BharathNimmala-MSFT commented on #66216
Thanks a lot @cpinotossi for bringing this to notice. I have raised a PR to update the document , once reviewed and approved it will merge with the live document.

At this point it appears that there's no further edits or updates needed to the documentation, other than what is already listed above. We will go ahead and close this issue for now, however if you have any further feedback please tag u

[2020-11-24 02:13] #66216 closed

[2020-11-24 03:33] kraneitc commented on #47170
Hi @jeffhollan, is there a roadmap document or Azure Feedback forum link (or similar) that you can provide so we can track this capability as it arrives?

[2020-11-24 03:36] MonikaReddy-MSFT commented on #66532
@Gyzzo -
Thank you for your question.
 Can you please share with us more information on the issue with the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-11-24 03:50] ram-msft commented on #66565
@pawarbi Thanks for the feedback! We will review and update accordingly.

[2020-11-24 04:16] AnuragSharma-MSFT commented on #66546
@ChrisNelson-CyberReef Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-11-24 04:25] AnuragSharma-MSFT commented on #66369
@Nordes Sorry for the trouble you are facing. Would it be possible to confirm below things:

1. Are you using Azure Database for PostgreSQL - Single Server?
2. Can you share the screenshot if possible?

Meanwhile, I tried creating the new resource and was able to see the VNet options:

![image](https://user-images.githubusercontent.com/66360845/100048576-2134f900-2e3b-11eb-9e08-b84f80d305b8.png)

[2020-11-24 04:29] JSeb225 commented on #66485
Hi, thanks for reporting this, we are investigating on this issue.

[2020-11-24 04:32] SubhashVasarapu-MSFT commented on #66560
@kmkelly2015, Thanks for reaching out. We will investigate and update this thread.

[2020-11-24 04:35] nguyenkien1402 commented on #29970
I have the same issue when running kafka connect integrating with event hub on Ubuntu.
Does any one has successfully solved this issue.

Update: it seems like using Window does not produce TimeoutException but Ubuntu does

[2020-11-24 04:36] SubhashVasarapu-MSFT commented on #66553
@fcatacut, This RAW log feature is available for only Microsoft-CDN (Standard Microsoft).

![image](https://user-images.githubusercontent.com/44890829/100049108-876e4b80-2e3c-11eb-8014-7dc10bd52b37.png)

**SS:**
![image](https://user-images.githubusercontent.com/44890829/100049173-b1c00900-2e3c-11eb-9495-a65b8b528713.png)

[2020-11-24 04:41] SubhashVasarapu-MSFT commented on #66264
@Lerty, Appreciate your patience. This issue has been assigned to the respective SME for providing more insights.

[2020-11-24 04:58] HarithaMaddi-MSFT commented on #66541
@mkulisic - Thanks for posting the question. I am looking into it, will get back to you shortly.

[2020-11-24 05:00] HarithaMaddi-MSFT commented on #66561
@ElectricLlama - Thanks for posting the question. I am looking into it, will get back to you shortly.

[2020-11-24 05:00] HarithaMaddi-MSFT commented on #66562
@ElectricLlama - Thanks for posting the question. I am looking into it, will get back to you shortly.

[2020-11-24 05:20] DavidJeyapaul opened #66568 "Not able to import the blob service client using from azure. storage.blob import BlobServiceClient"
# Not able to import the blob service client using from azure. storage.blob import BlobServiceClient

I have followed the following document,
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-python.

the module was installed successfully using the command **_pip install azure-storage-blob_**
**Installing collected packages: azure-storage-blob
Successfully installed azu

[2020-11-24 05:28] SubhashVasarapu-MSFT commented on #66502
@voonxx, we are investigating on this change. Meanwhile, please use this PS script to deploy a standard PIP with no zone,
[code]
Ref: https://docs.microsoft.com/en-us/azure/virtual-network/create-public-ip-powershell?tabs=option-create-public-ip-standard

[2020-11-24 05:30] #66527 closed

[2020-11-24 05:31] BryanTrach-MSFT commented on #66527
@gregoryagu We appreciate you bringing this to our attention. Since the doc is supposed to cover 2.2, we agree that an update to the doc is necessary. We submitted a change request and it should be public within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will r

[2020-11-24 05:37] SatishBoddu-MSFT commented on #66254
Hello @reddyeswar161
Since we didn't receive any response, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsof

[2020-11-24 05:37] #66254 closed

[2020-11-24 05:52] #66324 closed

[2020-11-24 05:54] shashishailaj commented on #66487
@jeffangama  Let us know if the above helps.

[2020-11-24 05:56] shashishailaj commented on #66563
@TonySh127-ms Thank you for the feedback . We will investigate and update this thread.

[2020-11-24 06:02] souravmishra-msft commented on #66442
Hello @RVerma93, thank you for reaching out. Just wanted to see if there are any more queries around this. Do let us know if are so that we can help you further.

[2020-11-24 06:03] akak1977 opened #66570 "Notes about tune sampling for ASP.NET Core applications"
Hi, everyone!

The advice to instantiate ApplicationInsightsServiceOptions in order to disable the adaptive sampling looks bad. Because you will lose the standard way to [tune ApplicationInsightsServiceOptions for ApplicationInsights.AspNetCore SDK 2.15.0 & above](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core#configuration-recommendation-for-microsoftapplicationinsightsaspn

[2020-11-24 06:15] SubhashVasarapu-MSFT commented on #66330
@mw8er, Appreciate your patience. We are working on editing the document accordingly. It would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-11-24 06:15] #66330 closed

[2020-11-24 06:34] Deepti886 commented on #66155
Hi Team, Is there any update as how to extract values from latest V3 prediction endpoint dateTimeV2 entity using C# .Net

[2020-11-24 06:42] cjjohansen opened #66571 "Some scenarios are still unclear. Authorization code flow combined with approle of type user using msal."
I'm troubleshooting a scenario using
1)javascript spa using msal 2
2) azure function behind api management
3) using authorization code flow with pkce
4) App registration made in azure ad for spa client
5) App registration made in Azure ad for function app
6) approle of type user added to azure function appregistration using manifest.
7) approle assigned to security group using powershell.
8) cors

[2020-11-24 06:46] cjjohansen commented on #60821
This should be explained amore clearly in the documentation

[2020-11-24 06:49] gorillapower commented on #66526
I found these tutorials and samples on similar travels which helped with my understanding
https://github.com/microsoft/ApplicationInsights-dotnet/issues/774

[2020-11-24 06:56] fcatacut commented on #66553
@SubhashVasarapu-MSFT, thank you for the the clarification.  I was reviewing a colleague's Terraform code and glossed over the "Important" bubble that you pointed out and skipped directly to the "Configuration - Azure Portal" section.  Apologies for wasting your time.

[2020-11-24 06:56] #66553 closed

[2020-11-24 07:20] SwathiDhanwada-MSFT commented on #66570
@akak1977 Thanks for your comment. We will review the issue and get back to you shortly.

[2020-11-24 07:22] vc-zhu opened #66572 "Event Grid don't get the event of create blobs (When doing blob object replication)"
# Reference

Below is the reference in the offcial doc:

![image](https://user-images.githubusercontent.com/25324884/100059279-c1a01300-2e65-11eb-8c39-c2d4815fe388.png)

And this is the link:

https://docs.microsoft.com/en-us/azure/event-grid/event-schema-blob-storage#list-of-events-for-blob-rest-apis

## Reproduce this problem

I created two storage, one named bowmanstorage1 and another named bow

[2020-11-24 07:41] PaulVrugt opened #66573 "Replica count vs availability zones"
It's not clear to me what the link between the `availability zones` and `replica count` is. When I enable "Availability zones" when creating a cache, I get the following message:

![image](https://user-images.githubusercontent.com/7567114/100062787-77e90580-2e30-11eb-9e1e-245f1f2f9245.png)

But there is no error when I select 2 availability zones:

![image](https://user-images.githubusercontent.co

[2020-11-24 07:42] dcurwin commented on #66550
#reassign:pvrk

[2020-11-24 07:48] AjayKumar-MSFT commented on #66180
Thanks for the follow-up and your feedback @MichaelSL. Your feedback has been shared with the content owner (@cephalin) for further review and make appropriate changes.

[2020-11-24 07:48] ezYakaEagle442 opened #66574 "Add a How-To Upgrade ARO section"
Hi the FAQ has think [link ](https://docs.microsoft.com/en-us/azure/openshift/openshift-faq#how-do-i-handle-cluster-upgrades) but could you please add a page in the How-To section - not in the FAQ- that would refer to [ARO4 docs](https://docs.openshift.com/aro/4/architecture/control-plane.html#update-service-overview_control-plane) which has to be updated. Indeed a  full detailed description is pr

[2020-11-24 08:04] AnuragSharma-MSFT commented on #66573
@PaulVrugt Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-11-24 08:48] pelikhan opened #66575 "DTDL multi component JSON samples are wrong."
Components should be wrapped into a JSON array.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65de9bcf-9b4b-2bd7-0858-fe356eefa095
* Version Independent ID: 0ece97e5-cddc-968e-75e2-cda7e3f352fb
* Content: [IoT Plug and Play conventions](https://docs.microsoft.com/en-us/azure/iot-pnp/concepts-convention)
* Content Sour

[2020-11-24 08:48] V4A001 opened #66576 "How to install a Helm chart with templates?"
It is unclear how to install a Helm chart consisting out of multiple yaml files like if you use helm create 'chartname'. This directory structure I would like to pass in visual studio code through az cli to kubernetes.

Same on how to use azure devops github to deploy a folder with a helm chart to aks without the use of a container registery or clone the charts locally with git clone command into

[2020-11-24 08:49] ArgonQQ commented on #36222
It would really interest myself why this is happening and why this is closed if there hasn't been a "solution" posted here 🧐 ⁉

[2020-11-24 08:56] JayaChatterjee-MSFT commented on #66112
@pnarsi The function app, in this case, is used as an event handler , so you may check : https://docs.microsoft.com/en-us/azure/event-grid/network-security#private-endpoints

[2020-11-24 09:01] MayankBargali-MSFT commented on #66554
@zsy056 Thank you for your feedback! We will review and update as appropriate.

[2020-11-24 09:05] puneetg1983 commented on #34658
https://github.com/Azure/DaaS/wiki

[2020-11-24 09:07] MatthijsvdVeer opened #66577 "Raspbian Buster/Stretch still mentioned in docs"
The list of supported operating systems still lists Raspbian Buster and Raspbian Stretch, but these were renamed to Raspberry OS in May. Do we want to use the new name in the docs, so that users don't go searching for old versions of the OS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf820bbb-9fc6-2037-6d72-c631927

[2020-11-24 09:11] yarong-metabolist opened #66578 "error in index.cshtml"
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-create-dotnet-app#update-the-indexcshtml-file

when accessing items from the votes list should use c# property naming - ie. use "vote.Key" and not "vote.key", same for "vote.Value"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0d03b4f-4157-

[2020-11-24 09:12] hannesne opened #66579 "Documentation for authoring custom bindings"
Hi there, I'm loking for an official doc on authoring custom bindings. Doing a web search results in a number of samples and tutorials, but no official docs wit ha simple single sample showing a custom binding. Also, most of the samples out there are for v2 functions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d57

[2020-11-24 09:15] rayne-wiselman commented on #65165
@jtuliani  Hi, I'm going to close this since I don't have enough information to make doc changes.  If you want to reopen please let us know. Thanks!
#please-close

[2020-11-24 09:16] #65165 closed

[2020-11-24 09:17] rayne-wiselman commented on #50822
Please assign to @vineetvikram to address. Thanks!

[2020-11-24 09:46] amanmcse commented on #66498
@Peng-Xia  Unfortunately you can't leave organization without logging in. The only option is to reach out to the administrator of the guest tenant for deletion of your account from their tenant.

[2020-11-24 09:46] #66498 closed

[2020-11-24 09:52] karataliu opened #66582 "This page should add preview note"
The page 'https://docs.microsoft.com/en-us/azure/aks/cluster-configuration' uses preview extensions but didn't add a preview note.
Please consider adding a preview banner like 'https://docs.microsoft.com/en-us/azure/aks/start-stop-cluster' to call out this is preview feature.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-11-24 09:53] HarithaMaddi-MSFT commented on #66444
@johnayoub - The blank line shown in the screenshot is just a visual representation design when viewing the data in Azure Portal. Please check by reading the file from a source in dataflow or by downloading it from blob. I was able to view the data appropriately when I tried reading the data from the output file.

I will proceed with closing the issue, Please feel free to post for further queries

[2020-11-24 09:53] #66444 closed

[2020-11-24 09:58] RohitMungi-MSFT commented on #66313
@wshope99 We will go ahead and close this issue and request our SDK team to review the V3 version for the SDK. You can also go ahead and create an issue on the SDK repo for any other issues. Please tag @RohitMungi-MSFT in your reply if you have any questions.

[2020-11-24 09:58] #66313 closed

[2020-11-24 10:30] lwlwalker commented on #64813
Hi @yegu-ms ., @NavtejSaini-MSFT
I'm checking now the page (https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-how-to-premium-vnet?source=docs#additional-vnet-network-connectivity-requirements) and it has now the URLs, and some others (ex. cacerts.digicert.com) that was not there before. But the date for the page is somewhen back in September!
So, I have two questions:
- Is this po

[2020-11-24 10:42] SumanthMarigowda-MSFT commented on #66568
@DavidJeyapaul Thanks for your question. We are checking on this and will respond to you soon.

[2020-11-24 10:44] JayaChatterjee-MSFT commented on #66579
@hannesne Thank you for your feedback! We will review and update as appropriate.

[2020-11-24 10:46] JayaChatterjee-MSFT commented on #66579
@hannesne You may refer to :  https://github.com/Azure/azure-webjobs-sdk/wiki/Creating-custom-input-and-output-bindings
A sample binding which writes to a Slack channel be found here: https://github.com/lindydonna/SlackOutputBinding
Does this help?

[2020-11-24 10:47] amanmcse commented on #66457
@fume Thank you for pointing this out. I have updated the document. The changes might take 24 hrs to reflect.

[2020-11-24 10:47] #66457 closed

[2020-11-24 10:51] BhargaviAnnadevara-MSFT commented on #66439
@rafsalas19 We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-11-24 10:51] #66439 closed

[2020-11-24 10:52] #66417 closed

[2020-11-24 11:00] AtesSolutions opened #66588 "Close a support request"
At https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-manage-azure-support-request you expecto find out how to close a support request.

Can someone tell me how to close a support request??

Thanks...
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d765ab6f-aa80-3df6-c8a0-5e1675bc2519
* Version Ind

[2020-11-24 11:03] RaghuramP opened #66589 "Roles"
Please correct typo for roles needed, it is Groups Administrator.
Even with Groups Administrator role assigned, cmdlet gives the following error.
Add-AzureADMSLifecyclePolicyGroup : Error occurred while executing AddLifecyclePolicyGroup
Code: Unauthorized
Message: User is not in required role.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-11-24 11:16] HarithaMaddi-MSFT commented on #66488
@vishalgoyal16444 - Can you please elaborate more on the design used and sink details that would help us to reproduce the issue and work to resolve it.

[2020-11-24 11:24] MayankBargali-MSFT commented on #66557
@sandervandevelde Thank you for your feedback! We will review and update as appropriate.

[2020-11-24 11:25] mikeblakeuk commented on #65725
@hrasheed-msft
The Hadoop version is still wrong. It's 3.1.2.
Also, where is the source code for the build of this version of pig?

[2020-11-24 11:26] MayankBargali-MSFT commented on #66558
@sandervandevelde Thank you for your feedback! We will review and update as appropriate.

[2020-11-24 11:31] MayankBargali-MSFT commented on #66559
@sandervandevelde Thank you for your feedback! We will review and update as appropriate.

[2020-11-24 11:32] simionda opened #66590 ""APIs to find and delete personal data" is vague"
In the section "Delete or export user data", mentions are made that there exist APIs to find and delete personal data, but no references or examples are given.  I am reviewing this documentation as an architect, not a developer, and am not implementing any code, so I am not familiar with the APIs in use.

From the non-developer perspective, I'm finding it difficult to interpret the statement and c

[2020-11-24 11:34] MayankBargali-MSFT commented on #66572
@vc-zhu Thank you for your feedback! We will review and update as appropriate.

[2020-11-24 11:34] krish-gh commented on #66571
@cjjohansen Since this is github repo for Microsoft Docs, can you provide the documentation link please you are referring to?

[2020-11-24 11:36] KalyanChanumolu-MSFT commented on #66258
@kny78 We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-11-24 11:36] #66258 closed

[2020-11-24 11:47] frankkilcommins commented on #56907
For me the issue still persists even after the SMS format changes. The problem that I see is that the injected HTML by the B2C technical profile has the `autocomplete` attribute set to **off**

`<input type="text" role="textbox" id="verificationCode" maxlength="6" autocomplete="off" pattern="\d{6}" aria-hidden="false" style="display: block;">`

This should be set to `autocomplete="one-time-code"`

[2020-11-24 11:50] SandraAhlgrimm opened #66592 "Getting the CosmosDB connection string is not working"
Executing

'COSMOS_DB_CONNECTION_STRING=$( \
    az cosmosdb keys list \
        --resource-group $RESOURCE_GROUP \
        --name $COSMOS_DB_ACCOUNT \
        --type connection-strings \
        --query connectionStrings[0].connectionString \
        --output tsv)
echo $COSMOS_DB_CONNECTION_STRING'

is giving me

'zsh: no matches found: connectionStrings[0].connectionString'

it should be replace

[2020-11-24 11:54] CHEEKATLAPRADEEP-MSFT commented on #66512
@normesta Could you please review and approve the PR?

[2020-11-24 11:55] CHEEKATLAPRADEEP-MSFT commented on #66505
@billtr007   We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-11-24 11:55] #66505 closed

[2020-11-24 11:56] JasSuri commented on #56907
The change I had to make on my HTML to enable this was to add this JS to my HTML page to add this CSS item as recommend by apple.

`document.getElementById("verificationCode").autocomplete = "one-time-code";`

https://developer.apple.com/documentation/security/password_autofill/enabling_password_autofill_on_an_html_input_element

[2020-11-24 12:01] flarsmar commented on #49481
Having the same issue here, i am using the public endpoint. The share can be mounted if am running the command without specified user, but not with one. This issue seems to be only on my Windows 10 on premise machine. If i do it from an Azure VM it works with a different user.

[2020-11-24 12:08] azadehgnia opened #66593 "Wrong redirect from another page"
[Enter feedback here]
Hi,

I am looking for Azure Data Warehouse Migration utility. In below page:
https://www.sqlservercentral.com/articles/azure-dwh-part-11-data-warehouse-migration-utility
 when I click on the relevant link it brings me to this page which does not mention the tool at all:

Thanks,
Azadeh

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-11-24 12:15] AnuragSharma-MSFT commented on #66590
@simionda Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-11-24 12:22] aleti-pavan opened #66594 "This page appears to have an issue while performing role assignment"
az role assignment create \
    --assignee <SP Client ID> \
    --role "Network Contributor" \
    --scope /subscriptions/<subscription id>/resourceGroups/<resource group name>

should be corrected to

az role assignment create \
    --assignee <SP Client ID> \
    --role "Network Contributor" \
    --resource-group <resource group name>

---
#### Document Details

⚠ *Do not edit this section. It

[2020-11-24 12:36] MayankBargali-MSFT commented on #66482
@MhAllan Based on your requirement you can choose any of the plan offerings. Sharing some of the features that these plan support:

**Premium Plan:**

- Azure Functions Premium plan provides customers the same features and scaling mechanism used on the Consumption plan (based on the number of events) with enhanced performance and VNET access. Azure Functions Premium Functions plan is billed on a p

[2020-11-24 12:39] psmanhas commented on #66582
@karataliu Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-11-24 12:39] psmanhas commented on #66582
@palma21 Can you please check and add your comments on this doc update request as applicable

[2020-11-24 12:41] psmanhas commented on #66594
@aleti-pavan Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2020-11-24 12:43] psmanhas commented on #66574
@ezYakaEagle442 Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2020-11-24 12:47] psmanhas commented on #66578
@yarong-metabolist Thank you for the feedback.We will work on it and will keep you updated on the thread

[2020-11-24 12:47] FabianHertwig commented on #66339
Below is basically what I was looking for. In the docs are a lot of methods explained on how you can run and configure different part of a training job. But I think it is lacking one complete example that really shows how jobs should be run. I had to scrape that together from the docs and also some of your examples on GitHub. I think it would be much easier for users if they had some complete exam

[2020-11-24 12:49] MonikaReddy-MSFT commented on #66537
@dm10169 -
Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-11-24 13:01] psmanhas commented on #66578
@yarong-metabolist The document is updated and changes will go live soon.

[2020-11-24 13:14] eliasvakkuri opened #66597 "Examples for using the sink pre-copy script"
[Enter feedback here]
Please add some examples how one would use the sink pre-copy script to e.g. perform data cleaning. Can you somehow modify the source dataset before writing? If yes, how would you refer to the source dataset?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c860a04a-2e4f-310c-72ef-7724e942dc5a
* Vers

[2020-11-24 13:23] gb2793 opened #66598 "Prompt and login_hint query parameters in v2 adminconsent endpoint are not working as expected"
**Describe the bug**

I am using the below url for obtaining admin consent for my app. I am already logged in the browser session with the user hint being provided below.

https://login.microsoftonline.com/organizations/v2.0/adminconsent?
client_id=<>
&state=<>
&redirect_uri=<>
scope=https%3A%2F%2Fgraph.microsoft.com%2F.default%20
&prompt=none
&login_hint=<>@<>.onmicrosoft.com

**To Reproduce**
Ru

[2020-11-24 13:26] FabianHertwig opened #66599 "Is it possible to pass the dataset to a run without passing it as an argument?"
Hey,

in the docs you show how to pass a dataset as a mount or download by adding it to the arguments, which get passed to the training script, see below. Is it possible to pass it to a job in another way, so it does not appear in the arguments? Reason is, that I am using hydra.cc to configure my training script, and it can not parse the argument and throws an error. It expects arguments like that

[2020-11-24 13:30] paul-cheung opened #66600 "A new column that indicates Registered by default"
Can we add a new column that named  Registered by default instead of using the superscript, as it was far away from the list and it was hard to understand until i scroll the page to the end.

Or, we can add links for the superscripts, i think it will be nice. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16b4b

[2020-11-24 13:31] GitaraniSharma-MSFT commented on #66502
@voonxx , I checked with the Public IP backend team and below is the update provided by them:

This option was never available in portal. We are working to enable it via Portal. Until then customers can use other clients.

Azure PowerShell : https://docs.microsoft.com/en-us/azure/virtual-network/create-public-ip-powershell?tabs=option-create-public-ip-standard
Azure CLI : https://docs.microsoft.co

[2020-11-24 13:31] #66502 closed

[2020-11-24 13:34] bcho commented on #66087
cc @norshtein for MSI related feature

[2020-11-24 13:37] dhananjaya-senanayake commented on #66032
Encounter the same problem
[code]

[2020-11-24 13:43] axelgMS commented on #64549
If you didn't specify the RDP user/password at deployment time, you won't know it.
Best is to reset them with the VMAccess extension: https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/reset-rdp

I'm adding a note to the page to that link.

[2020-11-24 13:46] GitaraniSharma-MSFT commented on #66353
@mavilleg , I am still waiting for a response from the backend team to see if there is any other FQDN filtering in pipeline and get back to you with an update. In the meantime, we have assigned this issue to the content owner/author to fix the typo error in the figure of scenario 1.

@jocortems , could you please fix the typo in IP range of Azure Firewall Vnet in the figure of Scenario 1 in this a

[2020-11-24 13:47] dhananjaya-senanayake commented on #66032
@SubhashVasarapu-MSFT , the issue is persisting in cloud shell also

[2020-11-24 13:54] 1spgardiner opened #66601 "Typo IP"
[Enter feedback here]

Target network isn't the failover VNet | - Target IP address will be static with the same IP address.- If the same IP address is already assigned, then the IP address is the next one available at the end of the subnet range.For example: If the source static IP address is 10.0.0.19 and failover is on an network that isn't the failover network, with the range 10.0.0.0/24, then

[2020-11-24 13:57] norshtein commented on #66087
@nidiculageorge sorry for the inconvenience. To pull from ACR, you need to run command `az aks update --attach-acr <ACR_Resource_ID>`. The identity will not inherit "ACRPull" permission from previous service principal when updating from SPN cluster to MSI cluster.

Additioncally, When updating to MSI cluster, you can use command `az aks update --enable-managed-identity --attach-acr <ACR_Resource_I

[2020-11-24 14:00] HarithaMaddi-MSFT commented on #66541
@djpmsft - Can you please take a look and share your thoughts on the ask

[2020-11-24 14:00] frankkilcommins commented on #56907
@JasSuri Yep just tried that but still no joy, clicking on the input and selecting the Code FromMessages (e.g. AutoComplete) still does not trigger the validation logic.

Did you change any other attributes of the 'VerificationCode' element?

Current element structure after setting the autocomplete attribute via Javascript:
`<input type="text" role="textbox" id="verificationCode" maxlength="6" aut

[2020-11-24 14:07] SwathiDhanwada-MSFT commented on #66588
@AtesSolutions Thanks for your comment. The feature to allow the user to close support request is under review. For now, kindly send a message to support team in the support ticket to close the issue on behalf of you.

I also would recommend you to navigate [here](https://feedback.azure.com/forums/266794-support-feedback/suggestions/16518979-ability-to-cancel-support-requests) and share your feedb

[2020-11-24 14:10] SadiqhAhmed-MSFT commented on #66601
@1spgardiner Thanks for bringing this to our attention. I have raised a pull request - https://github.com/MicrosoftDocs/azure-docs-pr/pull/138922 post review and merge by the content owner the changes would go live.

Thanks once again!

[2020-11-24 14:10] SwathiDhanwada-MSFT commented on #66600
Thanks for your feedback @paul-cheung.

Assigning to content author @tfitzmac for reviewing the issue and updating the doc if necessary.

[2020-11-24 14:13] git001 commented on #44048
looks like that this is fixed with this commit https://github.com/microsoft/azure-docs/commit/c23fa6a38f4169bfe9ce072e5cb89de2fdd51b34#diff-2d1155bccd9fe499d624f132c6d6a5ae6e1138b3bce8857ef9b1f70c2e58a59f but it's looks still wrong in the official documentation.

[2020-11-24 14:13] jbm00n opened #66602 "Renew an integrated CA certificate section and links does not explain how to renew"
Documentation in this section and in the link about "integrate a trusted CA with Key Vault" does not explain how to renew the certificate.

We are in a case where the renewal with DigiCert failed and I don't see any documentation how to re-attempt the renewal. I found this page which is marked outdated and doesn't explain either how to trigger the re-attempt (or if it's automatically done after X

[2020-11-24 14:18] Jacobbrixus commented on #30464
I was able to do a workaround with [Customize claims emitted in tokens](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/develop/active-directory-claims-mapping.md).
This will disable User Attributes & Claims so you need to add each needed claim.

`##Connect-AzureAD

$App_ObjectId = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
$DisplayName_policy = "Test Claims Policy"

[2020-11-24 14:19] Jacobbrixus commented on #52690
I was not able to use "optional claims to emit the UPN restricted claim. (https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims)".

I was able to do a workaround with [Customize claims emitted in tokens](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/develop/active-directory-claims-mapping.md).
This will disable User Att

[2020-11-24 14:23] JasSuri commented on #56907
Are you using the latest page contract version?
https://docs.microsoft.com/en-us/azure/active-directory-b2c/page-layout#mfa-page-multifactor

[2020-11-24 14:25] shashishailaj commented on #66487
@jeffangama Hope the above helps you . As we have not received any response from your side ,we will close this issue now. In case you still have any issues , please tag me to your reply and I will be happy to look into this further. In case you are busy and look at this issue after a few days , please try the steps and let us know your experience in the interest of the community. Please tag me to

[2020-11-24 14:25] #66487 closed

[2020-11-24 14:40] dooleydo commented on #64898
Completely agree with above comments - I need tenant restrictions to prevent exfiltration but now managing that header is complex due to the number of cases where Teams guest access is required. The fact that it also requires what is typically an on-prem proxy to implement also spoils the user experience.

Would love to see Tenant Restrictions delivered by another means which isn't dependant on pr

[2020-11-24 14:40] ram-msft commented on #66396
@markvogt We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-24 14:40] #66396 closed

[2020-11-24 14:59] jadams74 opened #66603 "More broken documentation"
This following the steps in this page verbatim results in errors.  I'm finding these kinds of problems often in the azure docs. Learning is fun when you have no valid source of truth.

https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deployment-tutorial-local-template?tabs=azure-cli

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-11-24 14:59] VVisnjic opened #66604 "How to send APN notifications to every app associated with my Apple dev account using Token-based authentication?"
After reading Apple documentation about Token-based authentication and the characteristic that the one certificate is valid for sending push notification requests for every app associated with my account (https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/APNSOverview.html#//apple_ref/doc/uid/TP40008194-CH8-SW1), I wanted to configure my A

[2020-11-24 15:08] fazdamoa commented on #36222
I had this problem in the Azure CLI when trying to grab disk IDs for a move command on multiple VMs.

The way I got around this in a bash script was this:

[code]

This gives the full Disk ID with the lower-case RG name.

[2020-11-24 15:11] SaurabhSharma-MSFT commented on #66454
@lgayhardt can you please help here.

[2020-11-24 15:14] softwarecraft commented on #56037
The middle pane with the horizontal scrollbar is horrible UX, it is not easy to work with. Please find an alternative, perhaps a means to focus the entire page on only the middle pane with no left and right panes so at least the content will expand to fill the available browser / screen width and be all visible at once without having to scroll.

Common use case: I want to easily compare the servic

[2020-11-24 15:16] humbertocg opened #66605 "not clear the steps or need more info"
The steps for Update an existing role in Microsoft Graph Explorer doesn't clear. I logged in, give my consent and then copy the link query https://graph.microsoft.com/beta/servicePrincipals. But, on screenshots, seems to be added a json in request body before to run the query.

where can I get that json?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-11-24 15:18] psmanhas commented on #66578
@yarong-metabolist changes are live now.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-11-24 15:18] #66578 closed

[2020-11-24 15:29] GitaraniSharma-MSFT commented on #65945
@zerweck , we've not heard from you regarding this issue and would like to get an update on same. Could you please email as requested above for further investigation on this issue?

[2020-11-24 15:31] frankkilcommins commented on #56907
Yep.

`<DataUri>urn:com:microsoft:aad:b2c:elements:contract:multifactor:1.2.0</DataUri>`

The policy is using the 2 step InputOrVerify technical profile (_Provider = Web.TPEngine.Providers.PhoneFactorProtocolProvider_) which references the ContentDefinition for multifactor and that uses the contract version as outlined above

[2020-11-24 15:31] rido-min commented on #66575
@pelikhan can you elaborate? which sample? it will help if you can point to the exact line number where you expected the JSON array.

[2020-11-24 15:41] JayaChatterjee-MSFT commented on #66475
@jyeblog I am afraid that the storage cannot be managed from the provider side for now. However you can put it behind the firewall and can give access to the function app: https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security?toc=/azure/storage/blobs/toc.json#grant-access-from-an-internet-ip-range but in case of consumption plan you'll need to whitelist ip of the datacente

[2020-11-24 15:43] #66347 closed

[2020-11-24 16:02] pelikhan commented on #66575
![image](https://user-images.githubusercontent.com/4175913/100119180-6fda9700-2e2b-11eb-8dd9-125f54b3dd17.png)

[2020-11-24 16:03] shadowano commented on #64093
any update on this, @GitaraniSharma-MSFT ?:)

[2020-11-24 16:12] SQLHorizons commented on #45796
we should be offered a solution to the problem, not work around as AKS may not be an option but using azure storage is an option wherever k8s cluster is hosted.

[2020-11-24 16:13] SwathiDhanwada-MSFT commented on #66603
@jadams74 Thanks for your comment. We will review the issue and get back to you shortly.

[2020-11-24 16:15] KamleshKhollam commented on #66268
Hi there,

I have raised one more issue on Reference Input. This time I select the SQL DB as Reference Input but getting error.

https://docs.microsoft.com/en-us/answers/questions/173744/azure-stream-analytics-job-reference-input-sql-db.html

We are implementing all the steps as per Azure docs but Reference Input is not working for Stream Analytics job.

[2020-11-24 16:21] rido-min commented on #66575
The DTDL spec does specify any format to include multiple interfaces in a single file.

The sample shows two JSON document in the same snippet.
@dominicbetts should we create one snippet per JSON file?

PS: We are using the JSON array in the [_expanded_ format](https://github.com/Azure/iot-plugandplay-models-tools/wiki/Resolution-Convention#expanded-dependencies) for import/export from the Device

[2020-11-24 16:22] KamleshKhollam commented on #66268
Hi @CHEEKATLAPRADEEP-MSFT,

Just wanted to check on the Stream Analytics Reference Input docs. Is there any Reference Input configuration missing from Azure docs?

We are implementing Stream Analytics job reference input flow as per the azure docs but its not working as expected.

Posed Reference Input Blob Issue:

https://docs.microsoft.com/en-us/answers/questions/167090/azure-stream-analytics-jo

[2020-11-24 16:31] Bence98007 opened #66606 "Azure VPN Error 798 only AFTER REBOOT"
Hi there!

I've installed a lot of Azure P2S VPNs, but on a PC I couldn't because:
When I install the Certificate and the VPN, it works fine. Off, I've installed it in Current User / Personal Certs.
After I reboot the PC, it cannot connect to the VPN, throwing ERROR 798 Certificate couldn't be found. The certificate is still there in its correct location after reboot, but the VPN cannot find it so

[2020-11-24 16:32] MayankBargali-MSFT commented on #66486
@dgpoulet Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2020-11-24 16:32] #66486 closed

[2020-11-24 16:34] DCtheGeek commented on #66473
@bjpohl Thanks for the feedback and agreed.  I'll add a step now to cover assigning the new managed identity any needed permissions to support assigning the blueprint assignment at scope.  When the update merges, this issue will automatically be closed.  The publish to live will happen later.  Thanks again!

@MicrosoftDocs/azure-cxp-triage #in-progress

[2020-11-24 16:36] DCtheGeek commented on #66516
#reassign:DCtheGeek

[2020-11-24 16:42] #66473 closed

[2020-11-24 16:43] sujamiya commented on #66371
Hi @colin-small , I checked with the engineering team and this is a known issue being tracked. The projected timeline for the fix will be after the Thanksgiving holidays (starting 12/1). Thank you.

[2020-11-24 16:49] roehlsioson opened #66607 "Typo? Text says "Application" but portal says "Directory""
The last sentence in the section for [Windows apps (uncontainerized)](https://docs.microsoft.com/en-us/azure/app-service/configure-common#windows-apps-uncontainerized) says "...select the Application checkbox..." but the portal UI doesn't say "Application"; it says "Directory" instead.
![PathMapping](https://user-images.githubusercontent.com/23129617/100125560-e76bee80-2e4a-11eb-86bb-f56886838df7.

[2020-11-24 16:51] DCtheGeek commented on #66516
@sarah026 Thanks for the feedback.  You ask for an example of creating a denyAssignment through the portal, and this already exists as a [Tutorial](https://docs.microsoft.com/azure/governance/blueprints/tutorials/protect-new-resources).  As you are looking for creating exclusions (either a principal or action) to the denyAssignment, that must be done through REST API and the documentation has a co

[2020-11-24 16:51] #66516 closed

[2020-11-24 16:59] MarileeTurscak-MSFT commented on #66589
@RaghuramP
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-24 17:10] chlumper commented on #47899
We reached out to the MS support and go the following response:

[2020-11-24 17:10] SatishBoddu-MSFT commented on #66558
Hello @sandervandevelde
I have assigned the issue to the content author for further review.

[2020-11-24 17:18] colin-small commented on #66371
Thank you. I just got done working with Azure Firewall support and posting to the feedback forum about my frustration at the lack of such a simple and core piece of functionality outside of the Portal. Basically, as it stands today, if the Portal has a problem like it does right now, you cannot make simple and basic firewall rule source and destination modifications as there is no alternative outs

[2020-11-24 17:21] MarileeTurscak-MSFT commented on #66589
Thanks @RaghuramP ! According to[ this article](https://docs.microsoft.com/en-us/microsoft-365/solutions/microsoft-365-groups-expiration-policy?view=o365-worldwide) it needs to be either a global admin or a user admin, so I made a pull request to update those permissions: https://github.com/MicrosoftDocs/azure-docs-pr/pull/138943

@curtand please confirm

[2020-11-24 17:21] #66589 closed

[2020-11-24 17:24] NavtejSaini-MSFT commented on #66345
@oslake Please check and help with this further.

[2020-11-24 17:27] NavtejSaini-MSFT commented on #66437
@mksuni Please check this further and let us know if we need to take any action on the same.

[2020-11-24 17:40] himanshusinha-msft commented on #66593
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-11-24 17:42] himanshusinha-msft commented on #66597
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-11-24 17:44] SHANE0MAC opened #66610 "Enable automatic data collection needs to be updated with Auto provisioning"
[Enable automatic data collection need to be replaced with the new steps for Auto provisioning agents and extensions from Azure Security Center https://docs.microsoft.com/en-us/azure/security-center/security-center-enable-data-collection   the data collection blade is replaced with Auto provisioning]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-11-24 17:45] ChaitanyaNaykodi-MSFT commented on #66290
Hello @udg-tobias-kleinmann, Thank you for pointing out the issue to us. I have made a PR to address the issue and is currently pending Doc Author's review. I will no proceed to close this issue out, please tag me in your reply if there are any additional concerns. Thank you!

[2020-11-24 17:45] #66290 closed

[2020-11-24 17:47] djpmsft commented on #66541
Hey @mkulisic ,

Your concern here is very valid. A potential option is to create a custom parameter for tumbling window trigger start time. This will allow you to pass in the start time at deploy time. For existing triggers, this shouldn't have any effect but should handle new ones. More info: https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#use-custom-paramet

[2020-11-24 17:50] KarlErickson commented on #66592
Update merged. #please-close

[2020-11-24 17:50] #66592 closed

[2020-11-24 17:55] djpmsft commented on #66186
Hey @dansydner ,

I am a bit confused on your question, so I am looking to clarify a bit. ADF CI/CD deployment uses Azure DevOps release pipelines and runs the generic PowerShell and ARM template deployment tasks for each stage. Each task is YAML script under the hood and can be written as such. For example, here is what the PowerShell script looks like in YAML.

![image](https://user-images.githu

[2020-11-24 17:56] DerekHerman-MSFT commented on #65607
@dckfnuance The fix has been deployed and should now be resolved. If you continue to have issues please tag me and feel free to reopen this issue.

[2020-11-24 17:56] #65607 closed

[2020-11-24 17:58] JSeb225 commented on #66485
Update on this: the team is still working on this. It seems to affect only new datasets. In the meantime, can you use Managed Identity as a workaround? This way, the token doesn't need to be updated every 90 days.

[2020-11-24 18:01] tfitzmac commented on #66519
@leizhang1984 - thanks for the feedback. I am looking into this question.

[2020-11-24 18:01] rbschneider commented on #66548
@cshalda I have updated the screen images to reflect the current version, and it is currently in review.

https://github.com/MicrosoftDocs/azure-docs/pull/66611

Thank you for brining this to our attention!

Robert

[2020-11-24 18:17] JamesTran-MSFT commented on #66602
@jbm00n
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-24 18:17] JamesTran-MSFT commented on #66605
@humbertocg
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-24 18:18] JamesTran-MSFT commented on #66610
@SHANE0MAC
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-24 18:18] WinstonHoward-MSFT commented on #66576
Thanks for the question, I'll take a look.

[2020-11-24 18:19] YutongTie-MSFT commented on #66599
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-24 18:21] JamesTran-MSFT commented on #66547
@jeffqu17
I just wanted to check in and see if you had any other questions or if you were able to resolve this issue?

[2020-11-24 18:25] JamesTran-MSFT commented on #66598
@gb2793
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-24 18:31] ChaitanyaNaykodi-MSFT commented on #66350
Hello @GFParker, I am sorry for the delay in my response. After you create a new Function App in Azure in step-5. In step-7 when you click on Finish and then on Publish, you function code will get deployed in the new function app depending on your network bandwidth and additionally you can also see the publish status in the Build output as shown below. I was able follow the steps and was successfu

[2020-11-24 18:31] #66350 closed

[2020-11-24 18:32] YutongTie-MSFT commented on #66277
@Mcclellange Thanks for the feedback. We will fix it and you will see the change soon.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-11-24 18:32] #66277 closed

[2020-11-24 18:48] MonikaReddy-MSFT commented on #66577
@MatthijsvdVeer -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-24 18:50] MonikaReddy-MSFT commented on #66606
@Bence98007 -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-11-24 18:53] derekrprice opened #66615 "Deploy with Existing Subnet or via CLI?"
I'm trying to deploy to an existing subnet, which won't come up in the portal when following these instructions.  Searching the interwebs, I found references to only being able to deploy ASE v2 to an existing subnet using the CLI or ARM, but the existing `az appservice ase create` command gives me errors about invalid SKUs when trying to deploy SKU `I1v2`.  Some information on either or both of th

[2020-11-24 18:54] MonikaReddy-MSFT commented on #66529
@Sharmistha-Rai  - Thank you for providing your insights and for raising a PR.
@hittensa  - I hope @Sharmistha-Rai  has answered your question.
The [doc ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/138931)has been updated and it will be live once its merged, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will

[2020-11-24 18:54] #66529 closed

[2020-11-24 18:55] MicrosoftGuyJFlo commented on #66359
Sounds like a temporary UI bug I am able to see it in all of my tenants. Will ping the PG and let them know but there are no docs changes to be made.

[2020-11-24 18:55] MicrosoftGuyJFlo commented on #66359
#please-close

[2020-11-24 18:55] #66359 closed

[2020-11-24 18:56] MonikaReddy-MSFT commented on #66001
@aressler38 -
I'm going to assign this to the document author so they can update the document accordingly.

[2020-11-24 18:57] MonikaReddy-MSFT commented on #66532
@Gyzzo -
Thank you for your question.
Can you please share with us more information on the issue with the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-11-24 18:58] e-saiz opened #66616 "two sentences with opposite meaning?"
I guess this doc is not accurate, or maybe I don't understand it correctly, but this seems to me the opposite:

Limitations
AKS clusters with managed identities can be enabled only during creation of the cluster.

Update an existing service principal based AKS cluster to managed identities

You can now update an AKS cluster with managed identities by using the following CLI commands.
First, update

[2020-11-24 18:59] MGoedtel commented on #66318
@arjunbalgovind - I am going to bug the doc now and correct the syntax of the PowerShell logic. Thanks for bringing this to our attention. An updated article should go out later today or tomorrow the latest.

[2020-11-24 19:06] kazigk commented on #55473
I have a similar problem. I need to route public IP through VPN, sadly I had no luck with it.

It really should be supported. I hope they introduce it in near future.

[2020-11-24 19:07] MayMSFT commented on #66599
Hi @FabianHertwig
Here is how you can input data without using arguments:
[code]

In your script, you can get the mounted path via environment variable, which is the value you specified in `as_named_input`. For the sample code above, the environment variable will be `input_data`.

[2020-11-24 19:25] mumian commented on #66603
@jadams74 - do you mind sharing the error message.  It is likely something wrong the storage account name. For this tutorial, the storage account name is the project name with "store" appended.  Storage account name must be between 3 and 24 characters in length and use numbers and lower-case letters only. So the project name needs to meet this requirement as well.  And the storage account name mus

[2020-11-24 19:40] #59436 closed

[2020-11-24 19:47] tfitzmac commented on #66266
#please-close

[2020-11-24 19:47] #66266 closed

[2020-11-24 19:48] AjayKumar-MSFT commented on #66438
@mloskot, This is a good feedback. Thanks for the suggestion.
You may checkout this document -[Deploy to Azure App Service using the Azure CLI](https://docs.microsoft.com/azure/developer/javascript/tutorial-vscode-azure-cli-node-01) - in this tutorial, you will learn how to deploy a Node.js application to Azure App Service using the Azure (CLI).
I'll work with the team internally to update the [ge

[2020-11-24 19:48] #66438 closed

[2020-11-24 19:56] mpiugl83 commented on #55473
Hello

Did anyone try Azure Application Gateway? I have been suggested so but I did not test it yet.

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Gaweł Kazimierczuk <notifications@github.com>
Sent: Tuesday, November 24, 2020 7:06:17 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: mpiugl83 <m.piu@outlook.com>; Comment <comment@noreply.gi

[2020-11-24 20:00] tfitzmac commented on #66315
@Jiihaa - thanks for this feedback. I am adding more info about data types to the docs. Number is not one of the allowed data types for an ARM template. Do you have a link to that data type?

[2020-11-24 20:23] RyanHill-MSFT commented on #66604
Thanks for your feedback. We will investigate and get back with you.

[2020-11-24 20:25] sig9 opened #66618 "Page links to itself"
http://aka.ms/allocation-guidance

![image](https://user-images.githubusercontent.com/2271605/100147352-1afd4780-2e50-11eb-9e2f-c811358fe238.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1b587f6-8bf4-fb64-5515-be223a17f783
* Version Independent ID: a756c758-417c-974d-1787-ad5e61edbd0b
* Content: [Troubleshooting

[2020-11-24 20:30] tfitzmac commented on #66315
I have added the list of data types and examples. This particular article will link to the list. The update should get published later today.
#please-close

[2020-11-24 20:30] #66315 closed

[2020-11-24 20:34] tfitzmac commented on #65539
@sean-keane25 - I forgot that we actually indicate which resource providers are registered by default in the article - [Resource providers for Azure services](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-services-resource-providers). I am checking to see if it is up-to-date. I am also going to change the format to make it easier to see.

[2020-11-24 20:35] matt-huber opened #66619 "Missing Reply URL"
This configuration guide is missing one key piece of information for anyone trying to set up SAML SSO ; please update the documentation to reflect that both a Sign on and Reply URL are required to complete setup.
ex. https://sonar.companyspecificurl.io/oauth2/callback/saml

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-11-24 20:36] tfitzmac commented on #66600
@paul-cheung - thanks for this feedback. I am reviewing this article to make sure it is up-to-date and accurate, but I agree the superscript format does not work well. I'll look at changing that.

[2020-11-24 20:38] SubhashVasarapu-MSFT commented on #66371
@sujamiya, Thanks for the quick update. @colin-small, we apologize for the inconvenience caused. Being said that, the changes will get reflected immediate after the mentioned timeline. Meanwhile appreciate your patience.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-11-24 20:38] #66371 closed

[2020-11-24 20:39] AjayKumar-MSFT commented on #66480
@fidelcoria-aa , Thanks for flagging this. Yes, the latest version of the [article ](https://docs.microsoft.com/azure/app-service/deploy-container-github-action?tabs=publish-profile) uses webapp-deploy v2.
Also, your feedback has been shared with the content owner (@JasonFreeberg)  for further review to update this document,

[2020-11-24 20:40] SatishBoddu-MSFT commented on #66577
Hello @MatthijsvdVeer
I have assigned the issue to the content author for further review.

[2020-11-24 21:08] bkarlen commented on #65228
So we are still having this issue across multiple clusters with multiple deployments. Any updates?

[2020-11-24 21:08] andresm53 commented on #59436
Hi, why this was closed? I don't see that the content has been fixed. @MicrosoftGuyJFlo @SaurabhSharma-MSFT @MarileeTurscak-MSFT

[2020-11-24 21:19] softwarecraft commented on #66335
@amanmcse Please consider re-opening this issue, @lesterw1 has a valid point.

In doc page under section [Troubleshoot sign-in issues](https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-windows#troubleshoot-sign-in-issues) it says "Use the following information to correct these issues."

However none of the following sections explain how AzureAdPrt : NO versu

[2020-11-24 21:32] mpchen opened #66622 "Deploy policy at management group level for managed tenants"
Does Lighthouse support delegated management at management group level?

My use case is that I want to deploy Azure policies at management group level on managed tenant, instead of deploying it on lots of subscriptions on the managed tenant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aed10d58-d781-f51e-16e7-2e62211

[2020-11-24 21:34] jeubank12 opened #66623 "Personal Account Tenant ID"
The section on [admin consent](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#request-the-permissions-from-a-directory-admin) describes using a tenant id with the personal account. The tid (as described by [payload claims](https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens#payload-claims)) however does not include the tenant id

[2020-11-24 21:39] softwarecraft opened #66624 "Other troubleshooting steps for "Unauthorized Client" error?"
Are there any other possible troubleshooting steps for the [Unauthorized client](https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-windows#unauthorized-client) error?

I successfully followed the implementation steps from this doc page but am hitting this issue.

I'm able to use a local account to log in and run the diagnostics. `dsregcmd /status` gives the

[2020-11-24 21:43] softwarecraft opened #66625 "What is excepted outcome for "Ensure the required endpoints are accessible"?"
In section [Troubleshoot deployment issues](https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-windows#troubleshoot-deployment-issues), step 3 Ensure the required endpoints are accessible from the VM using the command line, are HTTP response code 302 and 404 considered a successful outcome for these cmds?

On my VM the command `curl https://login.microsoftonl

[2020-11-24 21:55] JnHs commented on #66622
Hi @mpchen - thanks for your question. This is not currently supported, although we do offer a sample policy to confirm that all subscriptions within a management group have been delegated to a managing tenant, and if not, create the assignment: https://github.com/Azure/Azure-Lighthouse-samples/tree/master/templates/policy-delegate-management-groups (though that still wouldn't address your scenari

[2020-11-24 22:05] rbschneider commented on #66615
@derekrprice

1) SUBNET
perhaps run:

az network vnet [subnet] create

2) Invalid SKU:
Sometimes that can be a subscription issue, or a size issue.

Alternately, I would recommend setting up and delegating in the GUI:

Try setting up in the GUI and see what happens. You can check the SKU info there too:
    https://ms.portal.azure.com/#home

PS I will look into this a little further in the meantim

[2020-11-24 22:06] BryanTrach-MSFT commented on #66607
@roehlsioson Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-24 22:16] dckfnuance opened #66626 "ServerName for Managed Identity"
For Managed Identity, when registering sql server using Set-AzSqlServer, what should the server name be? E.g. my synapse workspace is "synapsePOC" and my dedicated SQL pool is "dedicatedSqlPoc". I tried both and getting an error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0454ecfe-0540-c6ec-3392-77b1fdca0241
* Vers

[2020-11-24 22:21] BryanTrach-MSFT commented on #66615
@derekrprice Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-24 22:21] asmart-dc commented on #41402
This still hasn't been documented. I'm receiving the OverconstrainedZonalAllocationRequest error code for a SPOT VM deployment but there's no documentation from Azure to troubleshoot.

[2020-11-24 22:22] hitsy commented on #66179
@PramodValavala-MSFT - apologies... for not responding earlier

Manual connection to SSFTP using SSH works fine - I get prompted for passphrase and then for the password - but definitely via the SFTP connector - this does not work

We have for now opted with passpharse only - i.e. single authentication via SSH and removed password authentication of the SFTP folder and this works

[2020-11-24 22:32] mloskot commented on #66438
@AjayKumar-MSFT It makes sense. Thanks for the feedback.

[2020-11-24 22:38] AElharouny opened #66627 "Traffic Manager IP addresses from which the health checks originate fixed or subject to change?"
Hello,

Regarding the FAQ item:
What are the IP addresses from which the health checks originate?

Is the published list of IPs subject to change or fixed indefinitely? And assuming its subject to change, how will Microsoft communicate the change to us?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9522edc-ac04-6c89-

[2020-11-24 22:58] bootleg224 opened #66628 "Documentation Fix for All Networks"
Documentation needs to be updated to cover this All Networks case
![image](https://user-images.githubusercontent.com/7950956/100160988-9970de00-2e7e-11eb-9083-77ea9e2bad5f.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d7a26cc-5853-7241-c918-4d758814baaf
* Version Independent ID: 96790e64-f053-5194-cccb-2a66019a8

[2020-11-24 23:10] adamstoffel opened #66630 "Confusing explanation of PKCE refresh token limitations for Azure AD B2C should be reworded"
The wording in this note isn't clear about the expected behavior for apps that aren't SPAs:

I would recommend rephrasing for clarity to something like:
_Single-page applications using the authorization code flow with PKCE always have a refresh token lifetime of 24 hours.
Mobile apps, desktop apps, and web apps do not experience this limitation. Learn more about the security implications of refres

[2020-11-24 23:25] hbuckle opened #66632 "URI must contain a hostname"
Getting the following error from the extension log

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a52b0724-6b3b-0daf-7749-d18104d6a40b
* Version Independent ID: 56e5c7c4-f456-fc2e-99da-2771eb162947
* Content: [Azure Key Vault VM Extension for Windows - Azure Virtual Machines](https://docs.microsoft.com/en-us/azu

[2020-11-24 23:38] JnHs commented on #64476
I see the auto-close didn't work, but this has been updated at https://docs.microsoft.com/en-us/azure/batch/nodes-and-pools#autopools. Thanks again!
#please-close

[2020-11-24 23:38] #64476 closed

[2020-11-24 23:46] JSeb225 commented on #66485
We identified the issue and fixed it earlier today. If you still see this issue, you may need to delete the output and recreate it so the token is refreshed. Thanks for your patience.

[2020-11-24 23:59] rbschneider commented on #66607
This change is complete in PR:

https://github.com/MicrosoftDocs/azure-docs/pull/66633

[2020-11-25 00:11] rolyon commented on #66547
Hi @jeffqu17
Thanks for the feedback. The steps to change the Service Administrator have been updated. Let me know if you have any additional changes.
https://docs.microsoft.com/en-us/azure/role-based-access-control/classic-administrators
thanks

[2020-11-25 00:12] rolyon commented on #66547
#please-close

[2020-11-25 00:12] #66547 closed

[2020-11-25 00:15] rbschneider commented on #66618
@Sig9 This is one of the Azure system error messages. While you are correct that the page links to itself, this page is referencing a system error message containing the hyperlink - which will open the browser to this page in the event user is experiencing issues. We repurpose so much information internally for the massive azure-docs repo that this system error message may be cross-referenced else

[2020-11-25 00:29] XiaoyuMSFT commented on #66593
@azadehgnia Can you clarify which link in this article is wrong?  https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/sql-data-warehouse-overview-develop

[2020-11-25 00:31] JamesTran-MSFT commented on #66619
@matt-huber
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-25 00:34] JamesTran-MSFT commented on #66623
@jeubank12
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-25 00:37] JamesTran-MSFT commented on #66630
@adamstoffel
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-25 01:16] MGoedtel commented on #66318
#please-close - I've submitted PR to correct the POSH code block.

[2020-11-25 01:16] #66318 closed

[2020-11-25 01:20] danmyhre opened #66636 "Priv Access Group -> Assigned Roles"
Can you please add details for why the UI shows eligible AND active assignments for Azure AD Role on a privilege access group?

I understand that you assign users or groups as eligible to become a member/owner of PAG so that they get elevated to have directory roles, but why would you make the directory role eligible on the group itself?  I am referring to the "Assigned Roles (preview)" node on th

[2020-11-25 01:24] MGoedtel commented on #66275
@flarsmar - The HybridRegistration script requires POSH WSF 5.1 and the article was wrong to suggest later versions of PowerShell were supported. From what I understand, the System.Web assembly is not supported in PowerShell core. I've updated the article accordingly to reflect this. My apologies for the confusion this has caused. I'm going to close this PR as I believe the issue has been properly

[2020-11-25 01:24] #66275 closed

[2020-11-25 01:38] YutongTie-MSFT commented on #66296
@engineersamuel Hi, thanks for your feedback again. We will forward this to the author and make the change. ^^
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-11-25 01:38] #66296 closed

[2020-11-25 01:55] KrishnaG-MSFT commented on #66622
@JnHs Thanks for the super quick response. :+1:

[2020-11-25 01:59] danmyhre opened #66637 "Member vs owner"
Add details on why you would make a user eligible to be a member of a PAG vs an owner of the PAG.  What is the use case for owner?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4da66b2-36f2-753f-4170-bcbf51824033
* Version Independent ID: c9e72e4f-effc-37f0-f418-c92af00f0523
* Content: [Assign eligible owners and mem

[2020-11-25 02:01] javierlarota commented on #66485
It is working now. I was able to start my stream analytics jobs successfully. Thank you for your support on this.

[2020-11-25 02:06] alpkayaMSFT opened #66638 "MSFT Documentation Seems to be contradicting one another"
This MSFT documentation: https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/point-in-time-restore?tabs=azure-portal states the following:

Point-in-time restore to SQL Managed Instance has the following limitations: When you're restoring from one instance of SQL Managed Instance to another, both instances must be in the same subscription and region. Cross-region and cross-subscripti

[2020-11-25 02:27] vairakkumar-vairaperumal opened #66640 "Expired helm chart repo reference"
This is not valid anymore.
[code]

This is valid and traefik helm chart is available here:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a9f14f4-6ab3-c3a3-c88f-4268d26cb300
* Version Independent ID: 0bbfab2d-02b3-3913-5bf5-8149af628edd
* Content: [Use a custom traefik ingress controller and configure HTTPS - A

[2020-11-25 02:49] icatchx22i opened #66641 "All the documentation for Static Websites seems to push Azure Functions as API, Please add documentations for those who have a backend already"
[Enter feedback here]
None of the documents shows how to set up a proxy for a new static website with an existing back-end / API. For someone who has an existing Node/Express app, moving the logic to Functions is out of the question. Can we still use Static Website with proxy on certain routes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-11-25 03:36] dcbrown16 opened #66642 ""Private link resource" vs "Private Link service""
This page in particular uses "Private Link resource", which is apparently referring to whatever service you have configured to point your Private Endpoint at, such as SQL DB or Storage.
There is another feature within the Private Link docs referred to as "Private Link service", which allows you to expose your own applications with a Private Endpoint.
Can we please change the "Private Link resource

[2020-11-25 03:38] MonikaReddy-MSFT commented on #66640
@vairakkumar-vairaperumal -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-25 03:41] MonikaReddy-MSFT commented on #66616
@e-saiz -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-25 03:49] GitaraniSharma-MSFT commented on #66627
@AElharouny , thank you for your question, We'll review this and get back to you shortly.

[2020-11-25 03:50] karataliu opened #66643 "Is VMSS update instance need after assign user msi?"
I followed this doc to run `az vmss identity assign`

But got following hint:
`
With manual upgrade mode, you will need to run 'az vmss update-instances' to propagate the change
`

My VMSS is manual upgrade mode, but I indeed see ‘Latest model is still yes’ every time I assign an user msi.

The question is 'is update-instances still needed'?

---
#### Document Details

⚠ *Do not edit this section.

[2020-11-25 03:53] CHEEKATLAPRADEEP-MSFT commented on #66626
@dckfnuance  Thanks for the question! We are investigating and will update you shortly.

[2020-11-25 03:54] CHEEKATLAPRADEEP-MSFT commented on #66485
@javierlarota  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-11-25 03:54] #66485 closed

[2020-11-25 04:03] nikhilboreddy commented on #65863
@nabhishek, @HarithaMaddi-MSFT any update on this? Been over 2 weeks now

[2020-11-25 04:11] junpark12 commented on #54295
Hi. Do you have any updates or roadmap on this feature like custom maintenance window or notification etc.
Thanks.

[2020-11-25 04:14] SnehaAgrawal-MSFT commented on #66641
@icatchx22i Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-11-25 04:19] fume commented on #63288
up

[2020-11-25 04:31] AnuragSharma-MSFT commented on #66369
@Nordes Could you please provide above asked information for more analysis?

[2020-11-25 04:33] AnuragSharma-MSFT commented on #66628
@bootleg224 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-11-25 04:34] AnuragSharma-MSFT commented on #66638
@alpkayaMSFT Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-11-25 04:37] sanalkumarp opened #66644 "Can the Secret version in URI used in Azure key vault reference be optional?"
I wanted to use the Azure key vault reference in my azure app service app setting so that I can store my storage account connection string in key vault and refer that through key vault reference.
Looks like currently the secret version is required in the secret Uri, which will introduce a need to update each and every app service configuration in case of storage account key regeneration.

Is it po

[2020-11-25 04:55] VikasPullagura-MSFT commented on #66618
@rbschneider Thanks for sharing the details.

[2020-11-25 04:55] VikasPullagura-MSFT commented on #66618
@sig9
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-11-25 04:56] #66618 closed

[2020-11-25 05:09] CHEEKATLAPRADEEP-MSFT commented on #66235
@ryanbrownnetworking777  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-11-25 05:09] #66235 closed

[2020-11-25 05:14] vishalgoyal16444 commented on #66488
@HarithaMaddi-MSFT - We ran the pipeline for three scenarios but the issue is not resolved. Same issue as mentioned below occurring in all three cases:

1.Incorrect Mapping  i.e. the Description and PayClass from A type get mapped to WBSname and Activity Name
2. If one less column in one of file (missing column) that also disturbs the mapping i.e. one files does not have resource type that maps Gr

[2020-11-25 05:27] MarileeTurscak-MSFT commented on #66624
@softwarecraft
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-25 05:28] MarileeTurscak-MSFT commented on #66625
@softwarecraft
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-25 05:32] agr opened #66645 "NODE_RESOURCE_GROUP variable is not covered"
`NODE_RESOURCE_GROUP` variable is used in samples, but never explained what is expected to be set there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eee999c1-32dd-d014-40df-8027adee1258
* Version Independent ID: 19a29c09-79f8-580a-841f-873e2801da56
* Content: [Integrate Azure Key Vault with Kubernetes](https://docs.

[2020-11-25 05:40] agr opened #66646 "Inconsistent subscription ID references in samples"
In some places subscription ID is referenced using the `SUBID` variable, in other as GUID placeholder: `XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX`.

Please, pick one approach and stick to it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eee999c1-32dd-d014-40df-8027adee1258
* Version Independent ID: 19a29c09-79f8-580a-841f

[2020-11-25 05:41] SubhashVasarapu-MSFT commented on #66642
@dcbrown16, Thanks for reaching out. We will investigate and update this thread.

[2020-11-25 05:44] SnehaAgrawal-MSFT commented on #66376
@phwecker Thanks for bringing this to our attention. Your feedback has been shared with the content owner for update.

[2020-11-25 05:45] YutongTie-MSFT commented on #66288
@seanytak Hi Sean, thanks for your feedback again. I will combine the two threads( this one and the one you opened in Compute document) and the author will update the document for ore clarification and details. Thanks.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-11-25 05:45] #66288 closed

[2020-11-25 05:48] AnuragSharma-MSFT commented on #66522
@SarveshPandey As per the [article](https://docs.microsoft.com/en-us/azure/azure-sql/database/transparent-data-encryption-tde-overview?tabs=azure-portal#move-a-transparent-data-encryption-protected-database), the restore should work fine.

![image](https://user-images.githubusercontent.com/66360845/100188158-a12c9300-2f0f-11eb-87d9-4444cde7e02d.png)

Only glitch is when restoring it from manual CO

[2020-11-25 05:50] MarileeTurscak-MSFT commented on #66646
@agr
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-25 05:57] #66310 closed

[2020-11-25 05:57] #66385 closed

[2020-11-25 06:11] AnuragSharma-MSFT commented on #66628
@bootleg224 Could you please provide more details on what change are you suggesting? Is it related to capitalize the first letter of all the words?

[2020-11-25 06:46] souravmishra-msft commented on #66178
@x3n3tix, thank you for reaching out. The warnings hold true for all the applications registered in AAD and then given admin grant to the permissions using either the App-Registration or Enterprise Application portal, would be revoked.
If a user has consented to his/her user consents or even if an Admin has provided his/her admin consent on behalf of the entire organization by accessing the applic

[2020-11-25 06:56] SadiqhAhmed-MSFT commented on #66601
@1spgardiner The [doc](https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-network-mapping#ip-address-assignment-during-test-failover) has been updated.

Much appreciate your contribution!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-25 06:56] #66601 closed

[2020-11-25 07:09] BharathNimmala-MSFT commented on #66286
@ronhowe Thanks again for bringing this to our attention and helping us improve our Azure documentation, you are right the screen shot needs to be updated. I have raised an internal PR , which once reviewed and approved will be merged with the live document. Thank you

At this point it appears that there's no further edits or updates needed to the documentation, other than what is listed above. We

[2020-11-25 07:09] #66286 closed

[2020-11-25 07:17] athinanthny commented on #66081
@mcurko  Logs for Service fabric clusters in Azure is captured in the storage account.  If you need to set up alerts in Azure monitor, analyze , query logs or use insights provided by Azure Monitor, [then you need to have Log Analytics agent](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/agents-overview#log-analytics-agent).  Here are references to docs that talk about [when to use

[2020-11-25 07:30] Deepti886 commented on #66155
Hi Team, Is there any update on the above request? Please update asap as we require to do it in our project.

[2020-11-25 07:51] Radiergummi commented on #62877
Same for me, unable to add our app.

[2020-11-25 08:27] zerweck commented on #65945
Thank you for your responses.
AN seemed to have rolled out on some of our VM's at sometime in the past without confirmation on our side.
See the following sentence in the issued documentation:

This is exactly what happened to our VM's.
However, after deactivating AN on the NIC via azure-cli, it seems to stay off even after upsizing to an eligible size, like you stated.
So in essence, my problem o

[2020-11-25 08:27] #65945 closed

[2020-11-25 08:35] lissff opened #66649 "what is the minimal actions required for azure CNI with custom subnet"
[Enter feedback here]
what is the minimum actions required for azure CNI with custom subnet
and why exactly do we need the below actions?

•	Microsoft.Network/virtualNetworks/subnets/write
•	Microsoft.Network/publicIPAddresses/join/action
•	Microsoft.Network/publicIPAddresses/write

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-11-25 08:45] maxiptah opened #66650 "Job Throttling not clear"
It is written that Jobs for Twin updates are throttled at 10 per second. What does this mean? E.g. I create a Job to update Twins of 1000 devices and run it. How will it behave:
a) it will update twins at 10 per second speed and thus will be ready after 100 seconds
b) it will update 10 devices and, given that it happened in under 1 second, it will throw a throttling exception at 11th, apply some r

[2020-11-25 08:53] hbuckle commented on #66632
Seems like the `msiEndpoint` setting is not optional like it says in the documentation. After setting this to `http://169.254.169.254/metadata/identity/oauth2/token` then the certificate is installed

[2020-11-25 09:01] CHEEKATLAPRADEEP-MSFT commented on #66626
@dckfnuance The Set-AzSqlServer cmdlet modifies properties of an **Azure SQL Database server.**

![image](https://user-images.githubusercontent.com/44426401/100205193-cf6b9c00-2f2a-11eb-873d-6e97d3e026df.png)

Hope this helps.

[2020-11-25 09:34] MonikaReddy-MSFT commented on #66644
@sanalkumarp -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-11-25 09:35] MonikaReddy-MSFT commented on #66532
@Gyzzo -
Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2020-11-25 09:35] #66532 closed

[2020-11-25 09:36] MonikaReddy-MSFT commented on #66537
@dm10169 -
Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2020-11-25 09:36] #66537 closed

[2020-11-25 09:36] MonikaReddy-MSFT commented on #66606
@Bence98007 -
Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-11-25 09:37] cosmicshuai opened #66651 "Default format in ConvertFromUtc should be "yyyy-MM-ddTHH:mm:ss.fffffffK""
In this page: https://docs.microsoft.com/en-us/azure/logic-apps/workflow-definition-language-functions-reference#convertFromUtc
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03aa9e88-7fa0-56ab-f794-58f0c37b6d7a
* Version Independent ID: 25c5ef5c-6ba4-f5ff-f94b-8f2818ec2feb
* Content: [Reference g

[2020-11-25 09:38] rlaurika-kaiku commented on #66032
Running this before the other commands might help: `az extension add --name aks-preview`

It doesn't explicitly say in the beginning of the documentation that you need to do this first. There's a mention of enabling extensions at the beginning of the document:

However, it doesn't say which extension(s) need to be installed in this case.

Later on, there's a reminder about installing the aks-previ

[2020-11-25 09:43] mcurko opened #66653 "Distinction between Service Fabric runtime and SDK"
Please clarify the distinction between Service Fabric runtime and SDK. On my developement machine I have both (along with tools, as part of VS installation). But, when I install VS on a test server (which has a standalone Windows cluster installed) and wish to deploy the application to it, and in the same time prevent an accidental creation od a development cluster, which software do I need to ins

[2020-11-25 09:48] jurjenoskam opened #66656 "Azure SQL also supports Managed Identities"
While Azure SQL _is_ mentioned under `Azure services that support Azure AD authentication`, it is _not_ mentioned under `Azure services that support managed identities for Azure resources`.

According to the documentation of Azure SQL however, you can enable a System assigned managed identity to an Azure SQL Server resource, see for example [Assign an identity to the Azure SQL logical server](http

[2020-11-25 09:54] sanalkumarp commented on #66644
Hi @MonikaReddy-MSFT, Thanks for your response.

[Use Key Vault references for App Service and Azure Functions](https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references
)
This is the document I am referring to. In the doc, it is mentioned as below:

_Versions are currently required. When rotating secrets, you will need to update the version in your application configurat

[2020-11-25 10:09] fratschi opened #66658 "getting this error while trying this with an Ubuntu 18.x"
[Enter feedback here]

Securing the MySQL server deployment.

Enter password for user root:
Error: Access denied for user 'root'@'localhost'
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b607b791-5718-05b9-cfad-ee699f4d5970
* Version Independent ID: 863966b5-b80c-e363-2925-4e66c1782e69
* Content: [Install MySQL on an O

[2020-11-25 10:15] fratschi opened #66659 "openSUSE-Leap not availabe"
[Enter feedback here]

Azure Error: InvalidTemplateDeployment
Message: The template deployment 'vm_deploy_0mQivWWpIBFfzmDFXgGDhfvgyfltwIXr' is not valid according to the validation procedure. The tracking id is '7045cb22-7b39-42b7-852a-f1920636edec'. See inner errors for details.
Exception Details:
        Error Code: InvalidParameter
        Message: The following list of images referenced from t

[2020-11-25 10:27] fratschi opened #66660 "mysql cannot work this way"
[Enter feedback here]

mysql -u root -p

it has to be "sudo mysql -u root -p"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b607b791-5718-05b9-cfad-ee699f4d5970
* Version Independent ID: 863966b5-b80c-e363-2925-4e66c1782e69
* Content: [Install MySQL on an OpenSUSE VM in Azure - Azure Virtual Machines](https://docs.mic

[2020-11-25 10:38] VikasPullagura-MSFT commented on #66632
@hbuckle Thanks for confirming the issue is resolved now.

However, in the document it is called out that 'authenticationSettings' property is required only for VMs with user assigned identities. It specifies identity to use for authentication to Key Vault.

[2020-11-25 10:38] #66632 closed

[2020-11-25 10:45] Vansir opened #66661 "Can i Un-publish QnA Maker knowledge base?"
This article: https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/limits explains that you can have only two published knowledge bases in Free tier.

If I have 3 KBs, is there way to un-publish one of them so I can publish other one?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1875f6a8-0237-2dbb-6b9b-

[2020-11-25 10:51] MayankBargali-MSFT commented on #66508
@reddyeswar161 Following up to see if you have looked into my previous comment.

[2020-11-25 11:03] psmanhas commented on #66660
@fratschi Thank you for the feedback. The document is updated and changes will go live soon.

[2020-11-25 11:20] asergaz commented on #66557
Thanks for the feedback @sandervandevelde ! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-11-25 11:22] asergaz commented on #66559
Thanks for the feedback @sandervandevelde ! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-11-25 11:23] hbuckle commented on #66632
@VikasPullagura-MSFT I am using a user assigned identity, so I was setting `msiClientId` but not `msiEndpoint`, because the document says it is optional

[2020-11-25 11:39] aschabus opened #66662 "Missing Regions in the "Regions that support Availability Zones in Azure" documentation"
In the page there are some missing regions, e.g. all Africa regions as well as some Asia Pacific ones.
So, it's unclear if they are just missing from the documentation or if there are no AZ in these regions?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ef6739c-50e6-e80b-cfc1-4d7d5b5d35e8
* Version Independent ID: 72c

[2020-11-25 11:48] AnuragSharma-MSFT commented on #66546
@ChrisNelson-CyberReef The reason of using the '**_EnterStrongPasswordHere_**' there is because we can use the same password at all the three places and it would not matter. Please let me know if that helps.

[2020-11-25 11:49] dcurwin commented on #65398
@hypdeb - Since this isn't a documentation request per se, we're going to close the issue. Feel free to follow up with @sachdevaswati  either in this thread or by email to further discuss your concerns.

#please-close

[2020-11-25 11:49] #65398 closed

[2020-11-25 11:50] bootleg224 commented on #66628
The setting doesn’t work or it’s unclear what it does from the
documentation.

For example I clicked all networks but was still unable to access the
database until adding my ip explicitly.

Perhaps there is a time delay needed.  Regardless the documentation is
outdated and does not cover the case
--
Kunal Johar, Chief Technology Officer
 +1 (202) 681-4703 Direct

[2020-11-25 12:05] wernerstinckens commented on #61640
Can confirm this is a working solution.  Make sure to use the WHOLE file content (including -----BEGIN and -----END parts)

[2020-11-25 12:22] ram-msft commented on #66339
@FabianHertwig Thanks for the feedback. The examples are provided in the Azure machine learning notebooks.

Please follow the below for training.
https://github.com/Azure/MachineLearningNotebooks/tree/master/how-to-use-azureml/training/train-on-amlcompute

[2020-11-25 12:22] ChrisNelson-CyberReef commented on #66546
Thank you for the clarification.  The description before the first password says something about "your" password which I read to mean my password, the password of the account creating the new credentials.  Perhaps change "your" to "a new" or something there.
________________________________
From: AnuragSharma-MSFT <notifications@github.com>
Sent: Wednesday, November 25, 2020 6:48 AM
To: MicrosoftD

[2020-11-25 12:29] FabianHertwig commented on #66339
Hey, thanks for posting the link.

Though my issue is, that the how-to-guide "Configure and submit training runs" does not completely show how to configure and submit training runs. And I think it really should. It really improves the user experience if they do not have to collect the information at multiple places.

If you agree, you should adapt the how-to-guide.

Thanks, Fabian.

[2020-11-25 12:40] AnuragSharma-MSFT commented on #66628
@bootleg224 This could be because of some latency at the region level. I observed similar issue yesterday but today when I tried same and within seconds of updating the access to 'All network', I was able to query. I tried on Google Chrome.

Can you please try it again today and let me know? Also if still face the same issue, just open a new browser after changing the setting and try.

[2020-11-25 12:42] bootleg224 commented on #66628
I don't think most people query DBs from browsers, we certainly don't.  Anyways my only request was for updated documentation.  I can work via normal support channels;  main goal was to alert you docs are out of date.  This is low priority.

Thank you

[2020-11-25 12:42] FabianHertwig commented on #66599
Awesome, that worked. Thank you!

[2020-11-25 12:42] #66599 closed

[2020-11-25 12:44] rwiankowski opened #66668 "AseV3 is not allowed"
Hi!

I understand that both ASEv3 and the doc are super new, but a bit more detail would greatly help with getting started.

I've tried deploying ASEv3 in two different tenants, but in both cases, it ended with "AseV3 is not allowed".

Is there something more that I must do? Register the preview feature on the subscription? Choose a different region? The documentation only states that it's availab

[2020-11-25 12:47] ram-msft commented on #66339
Thanks, @sdgilley Could you please help to enhance the following how-to guide "[Configure and submit training runs](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-set-up-training-targets)" for better user experience.

[2020-11-25 12:48] yoshioterada opened #66669 "Need an explanation for IPv6 address in firewall rule"
[Enter feedback here]

## It was not possible to add the IPv6 address for Firewall Rule

Today I tried to configure the Firewall Rule for Azure Database for MySQL by using IPv6 address.
At that time, I faced following issue.

In fact, If I used the IPv6 address ,the command showed following error.
If I changed the IP address from IPv6 to IPv4, it worked fine.

[code]

If the environment has an IPv

[2020-11-25 12:51] AnuragSharma-MSFT commented on #66628
@bootleg224 Apologies for the trouble you are facing and I echo your point here and really appreciate you raising these issues that help us to take care of any problems in the azure services. Testing from browser was just one way to check if we are still facing the similar issue(which I also observed yesterday).

My request is if possible for you to try checking the same with the way you checked i

[2020-11-25 12:54] CT-code-lab opened #66670 "Update of SignOn URL and entity ID"
Issue related to Google chrome: the URL listed in the documentation for sign on URL and entity ID works on first access but after 10 minutes of inactivity, the session is expired. Relogin does not work, complete closure of browser is necessary.
Updating the sign on URL and entity ID to 'https://<company>.csod.com/samldefault.aspx?ouid=2'  solves the problem in google chrome.

---
#### Document Det

[2020-11-25 13:07] derekrprice commented on #66615
It would still be nice to see CLI instructions for installing ASE v3, but the missing vnet may have to do with the vnet I had created not being in a region where the ASE v3 preview is available.

[2020-11-25 13:09] dkershaw10 opened #66671 "Reference links go to Microsoft Graph beta pages - for an API that is GA"
Please update the reference links to the audit and sign-ins APIs to point to the Microsoft Graph v1.0 documentation.  We should always point developers to use GA APIs if they are available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b651a95f-7c34-a979-f97e-e4feedb47487
* Version Independent ID: ff679d7a-0bc5-692f-8

[2020-11-25 13:10] shashishailaj commented on #66636
@danmyhre Thank you for your feedback. We will investigate and update the thread .

[2020-11-25 13:11] shashishailaj commented on #66637
@danmyhre Thank you for your feedback. We will investigate and update the thread .

[2020-11-25 13:11] psmanhas commented on #66653
@mcurko Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2020-11-25 13:12] shashishailaj commented on #66643
@karataliu  Thank you for your feedback. We will investigate and update the thread .

[2020-11-25 13:13] shashishailaj commented on #66645
@agr Thank you for pointing this out . We will investigate and update the thread.

[2020-11-25 13:15] shashishailaj commented on #66671
@dkershaw10 Thank you for pointing this out . We will investigate and update the thread.

[2020-11-25 13:15] psmanhas commented on #66649
@lissff Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2020-11-25 13:16] shashishailaj commented on #66656
@jurjenoskam Thank you for your feedback . We will investigate and update the thread.

[2020-11-25 13:17] jangelfdez opened #66672 "Include note about opening port in default NSG"
Using the default databricks NSG configuration in a cluster deployed inside a Vnet, the web terminal doesn't work. An error 403 is show.

An inbound rule is required to allow the proxy connection to the driver.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 802f720e-6a3d-c4f9-b646-789f53f80f11
* Version Independent ID:

[2020-11-25 13:17] souravmishra-msft commented on #66442
closing the thred for now as received no more followup queries.

[2020-11-25 13:17] #66442 closed

[2020-11-25 13:17] JayaChatterjee-MSFT commented on #66651
@cosmicshuai Thank you for the question. We will review and get back to you.

[2020-11-25 13:17] psmanhas commented on #66659
@fratschi Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-11-25 13:18] psmanhas commented on #66659
@cynthn Can you please check and add your comments on this doc update request as applicable

[2020-11-25 13:18] JayaChatterjee-MSFT commented on #66579
@hannesne Following up to understand whether my previous comment helps and works out for the mentioned problem statement.

[2020-11-25 13:18] JayaChatterjee-MSFT commented on #66475
@jyeblog Following up to understand whether my previous comment helps and works out for the mentioned problem statement.

[2020-11-25 13:23] lonevvolf opened #66673 "Clarify AzureDevOps Service Tag"
Clarify the AzureDevOps service tag description - what does this include?  Are Microsoft-hosted agents included in this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08217244-82bb-13b5-46f7-454801d8f865
* Version Independent ID: 4a8b0a32-bf57-7544-c60d-6b7f250c4477
* Content: [Azure service tags overview](https://doc

[2020-11-25 13:37] GitaraniSharma-MSFT commented on #66627
@AElharouny , the JSON file containing the IP addresses from which the Traffic Manager health checks originates are updated from the below file:
https://www.microsoft.com/en-us/download/details.aspx?id=56519

And this file is updated on a weekly basis as mentioned in the details:
_This file is updated weekly. New ranges appearing in the file will not be used in Azure for at least one week. Please

[2020-11-25 13:39] jikuja opened #66674 "Please, explain what word instance means in context of documentation"
The connection limits section is using a word instance. What does the word instance mean in the context of the section?

* single function app in one host instance?
* single function app across all host instances?
* something else?

### background story

I'm currently trying to find out why cron-triggered function app randomly creates new host instance after successful runs. Newly created instance

[2020-11-25 13:43] GitaraniSharma-MSFT commented on #66353
@mavilleg , below is the update from the backend team regarding other FQDN filtering in pipeline/roadmap:

There is no such plan for the near future, however customers may raise a new product request that will be added to our backlog and we will deliver based on our product priorities.

If you wish you may leave your feedback/requirement [here ](https://feedback.azure.com/forums/217313-networking?

[2020-11-25 13:46] dckfnuance commented on #66626
Are you saying that the Set-AzSqlServer cmdlet will not work for Synapse SQL? That's what the document says to use to create Managed Identity. If Set-AzSqlServer does not support Synapse SQL, then what should we use?