[2022-08-29 16:05] cchapin2020 opened #97709 "Possibly missing port for AMQP"
[Enter feedback here]
This document lists port 5671 as the port for the AMQP protocol. The Event Hub troubleshooting document lists ports 5671 and 5672. Should this document include 5672?

The Event Hub document is at https://docs.microsoft.com/en-us/azure/event-hubs/troubleshooting-guide#what-ports-do-i-need-to-open-on-the-firewall

---
#### Document Details

⚠ *Do not edit this section. It is re

[2022-08-29 16:11] msftmarysisko opened #97710 "Suggesting change to the SQL AOA section of this page"
Article doesn't really mention necessary permissions for an AOA SQL DB. Would be good to include a recommendation for full sysadmin permissions.

Just closed a case in which Azure AD Connect needed full sysadmin permissions to complete successful install.

Customer observed through the logs on the SQL server that AADC takes DB out of AOA mode and sets it to basic at some point. Once  synchronizati

[2022-08-29 16:23] MsGabsta commented on #97705
@ericd-mst-github, I will take a look at this.

[2022-08-29 16:24] brianotte opened #97711 "Incorrect (misleading) information is provided in this chart"
[Enter feedback here]
In the Scalability and performance section

Minimum Share / Volume Size

Standard
   No minumum.

Only SMB is available in Standard.  NFS is only available in Premium. So the information is correct for SMB Azure file -- but not true for NFS Azure File.

The minimum share / volume size is

Standard
   No minimum (SMB).  Not available (NFS).

---
#### Document Details

⚠ *Do no

[2022-08-29 16:28] fei0x opened #97712 "What is the list of accepted symbols?"
[Enter feedback here]
What is the list of accepted symbols for B2C Passwords? Perhaps it the same as AD, listed here:

https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-sspr-policy#password-policies-that-only-apply-to-cloud-user-accounts

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a2f1c

[2022-08-29 16:36] maxtheaviator commented on #92407
Hello,

are there any news when this limitation will be solved or do we still need to perform manual re-attachments in case of a zonal failure?

[2022-08-29 16:37] SatishBoddu-MSFT commented on #97709
@cchapin2020
I have assigned the issue to the content author for further review.

[2022-08-29 16:37] SatishBoddu-MSFT commented on #97710
@msftmarysisko
I have assigned the issue to the content author for further review.

[2022-08-29 16:38] SatishBoddu-MSFT commented on #97711
@brianotte
I have assigned the issue to the content author for further review.

[2022-08-29 16:39] SatishBoddu-MSFT commented on #97712
@fei0x
I have assigned the issue to the content author for further review.

[2022-08-29 16:53] tg73 opened #97714 "bicep: 'location' parameter name as suggested by linter conflicts with common PowerShell parameter name."
The bicep [linting guide](https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/linter-rule-no-loc-expr-outside-params) says:

The bicep `param` [naming guide](https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/parameter-files#parameter-name-conflicts) notes, with regards to parameter naming and using Az PowerShell commands:

But `-Location` is a common parameter for

[2022-08-29 16:59] rolyon commented on #96630
Hi @quix303
This is great feedback. We passed it along to the team.
The team has also considered breaking up the article into multiple articles. Do you prefer one long article or multiple smaller articles?
thanks

[2022-08-29 16:59] rolyon commented on #96630
#please-close

[2022-08-29 16:59] #96630 closed

[2022-08-29 17:14] charleswm commented on #97467
@YutongTie-MSFT neither of those examples shows how to read data into a notebook using v2.

The first docs page shows how to use v2 in a job for both CLI and SDK, but not how one could use that data in an interactive notebook during the inner loop/experimentation phase before the user is ready to submit their code as jobs.

The second page is using v1 sdk.

Job-to-be-done.

I don't see this docume

[2022-08-29 17:15] kenwith commented on #96018
#reassign: @jenniferf-skc

[2022-08-29 17:18] YutongTie-MSFT commented on #97467
@charleswm Thanks for pointing this out. I have assigned the issue to the content author to investigate further and update the document as appropriate.

@samuel100 Could you please check on this case and update the document as needed? I have seen some customers are struggling to jump through V2 document, can we have a clear guidance for v2 especially? Thank you so much.

[2022-08-29 17:18] Kellybnd opened #97715 "Per-app scaling rebalancing does not occur when instances are added or removed"
I am using per-app scaling for high density hosting and have found that rebalancing does not occur when instances are added or removed.  I have opened a ticket with Microsoft support regarding this (TrackingID#2207020040000430), and they have said that rebalancing only occurs when per-app scaling is enabled.

The documentation on this page states that "Applications are rebalanced only when instanc

[2022-08-29 17:18] kenwith commented on #95782
#reassign: @jenniferf-skc

[2022-08-29 17:20] kenwith commented on #94232
#reassign: @jenniferf-skc

[2022-08-29 17:20] kenwith commented on #94806
#reassign: @jenniferf-skc

[2022-08-29 17:20] kenwith commented on #95189
#reassign: @jenniferf-skc

[2022-08-29 17:21] kenwith commented on #95203
#reassign: @jenniferf-skc

[2022-08-29 17:21] kenwith commented on #95204
#reassign: @jenniferf-skc

[2022-08-29 17:21] kenwith commented on #95220
#reassign: @jenniferf-skc

[2022-08-29 17:21] kobulloc-MSFT commented on #97043
@mweibel I wanted to follow up and confirm that we are updating `maxPrice` to be listed as an integer.  Thank you again for bringing this to our attention and for helping to improve the documentation!

[2022-08-29 17:21] kenwith commented on #95668
#reassign: @jenniferf-skc

[2022-08-29 17:21] anavinahar commented on #92407
Hi there, no current updates. We will keep you posted. We are working to improve this in future.

[2022-08-29 17:22] kenwith commented on #95671
#reassign: @jenniferf-skc

[2022-08-29 17:22] kenwith commented on #95726
#reassign: @jenniferf-skc

[2022-08-29 17:22] kenwith commented on #95727
#reassign: @jenniferf-skc

[2022-08-29 17:35] hyNic917 opened #97716 "Add note about disabled app insights auto-instrumentation"
This page should include a note that if you are currently using auto-instrumentation you need to turn that off.
I suggest you use the purple note similar to the one at the top of the page and place it near the part that reads "Add the Application Insights SDK to your project:"

It should explain that you can either disable it via the UI on the App Insights tab of the App Service page or that you c

[2022-08-29 17:49] dlepow commented on #97524
Hello @mrochon @martinhenrysson - I believe the requirement for the user's Object Id is already documented in the article. However, it's not shown in the screenshot, which is truncated because of its length.
![image](https://user-images.githubusercontent.com/2762013/187265400-b71a0d25-32cd-4f18-902e-e5f4ced2253d.png)

[2022-08-29 18:29] BradAF opened #97720 "Azure Web App for Multi-Containers does not support default variables, but is not listed as a limitation"
Through testing, it appears default values specified in docker-compose files for multi-container web apps are not supported. When used, regardless of an environmental variable exists, the expression (Ex. `${ENV:-default}`) is passed as a string to the application, instead of the default value or the environmental variable referenced.

For example, an image may be configured for `registry.azurecr.i

[2022-08-29 18:37] rolyon commented on #92935
Hi @AlexCordSo
Thanks for taking the time to provide your feedback. We did our best to research this. As best as we could determine, it is one per Azure account.
Let us know if you have any additional feedback.
thanks

[2022-08-29 18:37] rolyon commented on #92935
#please-close

[2022-08-29 18:37] #92935 closed

[2022-08-29 18:40] schaffererin commented on #95564
I was able to test and recreate the issue. I experienced the same issue as the customer -- I updated the command in the doc. #please-close

[2022-08-29 18:40] #95564 closed

[2022-08-29 18:44] SaiKishor-MSFT commented on #97387
@kudlatiger Here is a Microsoft doc that explains issues with TLS1.0 version- https://docs.microsoft.com/en-us/security/engineering/solving-tls1-problem

Hope this helps. Please let us know if you have any further questions. Thank you!

[2022-08-29 18:58] brianmooremsft opened #97721 "Update text description for Azure Security Benchmark initiative to say it aligns with ASB v3"
[Enter feedback here]
Current text description says the Azure Security Benchmark policy initiative is aligned to ASB v2.  However it appears to already aligned ASB v3 (for example, it contains policies related to DevOps Security which was added in ASB v3).

Update the text to indicate alignment to ASB v3.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2022-08-29 19:03] rolyon commented on #96729
Hi @NageswariVaradarajan
Thanks for your feedback. Try looking at the JSON for when a Create role assignment operation is Started. In the Azure portal, it is a child of the Create role assignment operation and the Status is listed as Started. In properties : requestbody of the JSON, you should see a PrincipalId that lists who the role is being assigned to. This requestbody also lists the RoleDefin

[2022-08-29 19:04] rolyon commented on #96729
#please-close

[2022-08-29 19:04] #96729 closed

[2022-08-29 19:05] kobulloc-MSFT commented on #97043
@mweibel Decimal values are allowed for `maxPrice` and as such, it should not be considered an integer.  Looking at the [ARM data types documentation](https://docs.microsoft.com/en-US/azure/azure-resource-manager/templates/data-types) that you linked however, it's unclear exactly what the correct update should be to properly reflect decimal values being accepted.  This is being further reviewed.

[2022-08-29 19:13] brcolow opened #97722 "x5t query parameter description misleading"
I believe there is an extra "thumbprint" in the following statement that describes the x5t query parameter:

"Base64-encoded SHA-1 thumbprint of the X.509 certificate thumbprint".

It is more clear as:

"Base64-encoded SHA-1 thumbprint of the X.509 certificate."

As making a thumbprint of a thumbprint is not what it is happening.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2022-08-29 19:37] timwarner-msft commented on #97721
Thanks, @brianmooremsft. I'll include you on the PR I'm opening now. -Tim

[2022-08-29 19:37] #97721 closed

[2022-08-29 20:04] justinmchase commented on #42737
Can we get a Bicep or ARM template example instead of screnshots?

[2022-08-29 20:20] JamesTran-MSFT commented on #97722
@brcolow
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-29 20:32] rolyon commented on #94988
Hi @Oppedijk
Thanks for the detailed steps. Here is the behavior we see. Can you try in your environment?

Start with user1 with the following permanent roles:
- User Admin
- Exchange Admin

Create a new administrative unit
- Add user1 to administrative unit
- Add user1 as eligible Teams Admin with administrative unit scope

Observe that user1 still has the following permanent roles:
- User Admin

[2022-08-29 20:41] willvelida commented on #97129
@KSchlobohm thanks for raising this issue :)

@mumian I've raised a PR in the Bicep samples to fix the template :)

[2022-08-29 20:44] mumian commented on #97129
@willvelida  Your PR has been merged.  Thank you for addressing the issue.

[2022-08-29 20:46] willvelida commented on #97129
Thanks @mumian! Do you know when the latest changes to the template will be reflected in the documentation?

[2022-08-29 21:04] haider392 opened #97724 "Need additional steps to fully restore if using MSIs (Managed Service Identities)"
- If customers use MSIs (Managed Service Identities), then simply recovering the Storage Account as explained in this documentation won't be sufficient.
- This is a known issue with MSIs.
- Customers have to do additional steps of recreating/re-associating the MSIs to the recovered Storage account.
- Reference IcM: https://portal.microsofticm.com/imp/v3/incidents/details/331282292/home
- Please up

[2022-08-29 21:38] mike-urnun-msft commented on #97417
cc: @rohithah could you share your guidance and help with the feedback above?

[2022-08-29 21:40] nickludwig commented on #97616
Hey @SachithKasthuriarachchi - thank you for the feedback! This article is only meant to serve as reference for how the OAuth2.0 Client Credentials grant works (i.e., what the various request/response formats look like). There are an infinite number of permutations of requests involving different scopes, so we opted to provide only the most general examples involving MS Graph scopes to illustrate

[2022-08-29 21:42] nickludwig commented on #97616
#please-close

[2022-08-29 21:42] #97616 closed

[2022-08-29 21:59] bandersmsft commented on #97548
PR by tfitzmac: https://github.com/MicrosoftDocs/azure-docs-pr/pull/209395

[2022-08-29 22:03] bandersmsft commented on #97548
@adeliab tfitzmac updated the source article so it looks like we made the needed update. Hopefully you'll get a reply about https://github.com/Azure/bicep/issues/8123 soon.

#please-close

[2022-08-29 22:03] #97548 closed

[2022-08-29 22:10] spelluru commented on #97709
Added 5672. Thanks.

#please-close

[2022-08-29 22:11] #97709 closed

[2022-08-29 22:11] spelluru commented on #97516
Fixed. Thank you!

#please-close

[2022-08-29 22:11] #97516 closed

[2022-08-29 22:16] bandersmsft commented on #97210
https://github.com/MicrosoftDocs/azure-docs-pr/pull/209566

@jhic I've updated the article to address your issue to say:

*Renewal notifications are not sent to any Microsoft Customer Agreement (Azure Plan) users.*

The billing engineering team is looking at enabling notifications for MCA/Azure plan (any flavor) customers, but it isn't support yet.

#please-close

[2022-08-29 22:16] #97210 closed

[2022-08-29 23:20] willvelida commented on #97129
Document has been updated with latest Bicep template.

@KSchlobohm please let me know if this resolves the issue.

[2022-08-29 23:21] minman32 opened #97727 "incorrect code sample"
I tried the walk thru and could not get it to work.

I found that in the code sample for the call button, communicationUserId should be id.  It then worked.

callButton.addEventListener("click", () => {
    // start a call
    const userToCall = calleeInput.value;

    // To call an Azure Communication Services communication user, use {communicationUserId: 'ACS_USER_ID'}.
    // To call echo bot,

[2022-08-29 23:32] mabster opened #97728 "Searching for users in Administrative Unit does not work as documented"
Under the "Search" heading, this paragraph seems to be wrong:

While you can indeed use the search bar at the top of the user list to search for users, it searches your entire directory, not just the list of users in the administrative unit.

This is a problem for us, because we only want the person using MyStaff to be able to search for users in the administrative units they have admin roles in.

[2022-08-29 23:38] vincentg commented on #97727
@ddematheu2:  I Confirmed the quickstart calling doc is incorrect, but the sample js app is correct (and have it as id: )
[client.js](https://github.com/Azure-Samples/communication-services-javascript-quickstarts/blob/main/add-1-on-1-voice-calling/client.js)
`  call = callAgent.startCall(
      [{ id: userToCall }],`

[2022-08-29 23:40] minman32 commented on #97727
Thank you Vincent.

From: Vincent Gerard ***@***.***>
Sent: Monday, August 29, 2022 4:39 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: minman32 ***@***.***>; Author ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] incorrect code sample (Issue #97727)

@ddematheu2 <https://github.com/ddematheu2> : I Confirmed the quickstart calling doc is incorrect, but the sample js app is correct (and have

[2022-08-30 00:09] Heidilohr commented on #97521
I've addressed this issue in a change that will go live tomorrow. #please-close

[2022-08-30 00:09] #97521 closed

[2022-08-30 00:09] Heidilohr commented on #97490
I've addressed this issue in a change that will go live tomorrow. #please-close

[2022-08-30 00:09] #97490 closed

[2022-08-30 01:07] J227668 commented on #97577
No, thank you for your help @SadiqhAhmed-MSFT

[2022-08-30 01:07] Nustinian opened #97731 "SUSE 12 service pack support unclear"
support for SUSE 12 service packs is not clear. We regularly get customer support tickets checking about support for specific service packs such as SUSE 12 SP5

SUSE 15 clearly shows support for the base distro, SP1 and SP2.
On the other hand our page just says "SUSE 12" without saying anything about service packs.
We have checked with the PG and they say all service packs should be supported.
Cou

[2022-08-30 01:31] benjamincburns commented on #73499
Thanks for the acknowledgement @davidsmatlak. I'm no longer affiliated with the project that caused me to open this issue, but @jamesstanleystewart is, and he will likely want to track progress on this issue.

[2022-08-30 01:50] ylnhari commented on #90567
yeah updating resolves issue.

[2022-08-30 02:18] AaronCreighton commented on #97672
Hi @AbbyMSFT,
thank you for responding. I look forward to seeing updates to both documents.

[2022-08-30 02:25] ToruMakabe opened #97733 "[Request] addtional paratemer for Kustomization"
This request is not for documentation issue but based on the ["Let us know if a parameter you need is missing from the Azure implementation"](https://docs.microsoft.com/en-us/azure/azure-arc/kubernetes/tutorial-use-gitops-flux2#work-with-parameters) comment in the documentation.

**Parameter I need for Kustomization**

[spec.postBuild.substituteFrom](https://fluxcd.io/docs/components/kustomize/kus

[2022-08-30 02:30] TomArcherMsft commented on #97365
@grayzu Could you please address the question from @garylirocks about the AzAPI article/provider?

[2022-08-30 03:30] mag-chang opened #97737 "Swappable/non-swappable settings are lack of explanation (Azure App Services)"
Hi team,

I checked this document regarding Swapping settings on Azure App Services.
https://docs.microsoft.com/en-us/azure/app-service/deploy-staging-slots#which-settings-are-swapped

However, it seems to be lack of listing about swappable/non-swappable settings.
For example, I confirmed these facts on my environment of App Services.

- Swappable
  - Extensions and their settings
- ***NOT*** swap

[2022-08-30 03:36] AjayBathini-MSFT commented on #97534
@barclayn
Could you please look into the customer query and do needful.

[2022-08-30 03:38] Venkateshdodda-MSFT commented on #97737
@mag-chang Thank you for your feedback! We will review and update as appropriate.

[2022-08-30 03:54] Kiwi-dave opened #97738 "New Logs Category"
There is a new logs category for Microsoft.Network/azureFirewalls called Azure Firewall Fat Flow Log. Can the details for this please be added to the Microsoft.Network/azureFirewalls section of this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 847615aa-75d5-01d1-c64b-8ce385c14397
* Version Independent ID: fad24

[2022-08-30 03:57] jianlongsu opened #97739 "How to select nodes in a specific nodePool"
Hi, we are using AKS in C# developing.

I want to know if there is a recommended way to select(i.e. get ) all node(s) information of one node pool by the name of node pool ?

I have read the public doc and some k8s API doc. I found that maybe 2 optional methods below:

a. Use K8S API (listNode) to list all node in a cluster. Then use agentPool(nodePool)'s name to do string mapping to find those no

[2022-08-30 03:59] AjayKumar-MSFT commented on #97715
@Kellybnd,  Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-30 04:00] AjayKumar-MSFT commented on #97720
@BradAF,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-08-30 04:19] SwathiDhanwada-MSFT commented on #97714
@tg73 Thanks for your comment. We will review the issue and get back to you shortly.

[2022-08-30 04:20] SwathiDhanwada-MSFT commented on #97716
@hyNic917 Thanks for your feedback.

Assigning to content author @AaronMaxwell  for review.

[2022-08-30 04:21] SwathiDhanwada-MSFT commented on #97731
@Nustinian Thanks for your feedback.

Assigning to content author @guywi-ms  for review.

[2022-08-30 04:23] SwathiDhanwada-MSFT commented on #97724
@haider392 Thanks for your feedback.

Assigning to content author @jimmart-dev for review.

[2022-08-30 04:24] SwathiDhanwada-MSFT commented on #97738
@Kiwi-dave Thanks for your comment. We will review the issue and get back to you shortly.

[2022-08-30 04:51] mweibel commented on #97043
how about documenting a `float`? :)

[2022-08-30 04:52] Venkateshdodda-MSFT commented on #97737
@mag-chang I have assigned this to content author @cephalin to share his valuable feedback and to update document accordingly.

[2022-08-30 04:54] YashikaTyagi-MSFT commented on #97728
@mabster
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-30 04:54] konrad-jamrozik opened #97740 "Azure Monitor Service limits doc should explain if AI throttling is applicable to Log Analytics workspace-based AI."
The page should explain if the application insights throttling limit of 32'000 events / minute is in effect if the application insights instance is Log Analytics workspace-based.

Detailed context:

In my team within Microsoft we have two different application insights instances. The much smaller one is "classic". It is used for PPE environment so it is much smaller than the other, bigger applicat

[2022-08-30 05:07] AjayBathini-MSFT commented on #97739
@jianlongsu
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-30 05:08] tonydg76 commented on #97195
Would you please provide further information? Thank you.

[2022-08-30 05:16] Venkateshdodda-MSFT commented on #97727
@minman32 Thanks for your Feedback. Document is updated and the changes will go live soon.

[2022-08-30 05:16] #97727 closed

[2022-08-30 05:21] SnehaAgrawal-MSFT commented on #97543
@mpriem Thanks for reaching here! Currently we can cannot share any timeline for this, suggest you follow below blog link for latest announcement:
https://azure.github.io/AppService/posts/

[2022-08-30 05:21] #97543 closed

[2022-08-30 05:28] SnehaAgrawal-MSFT commented on #97554
@bh3605 Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-08-30 05:34] SadiqhAhmed-MSFT commented on #97577
You're welcome! :)

Closing this issue for now.

[2022-08-30 05:34] #97577 closed

[2022-08-30 06:30] YashikaTyagi-MSFT commented on #97647
@Mankarse
Key Vault VM extension currently does not support Windows Server 2022.
You can post your ideas on the link mentioned below and product team will be working on supporting Windows Server 2022 in a future release.
https://feedback.azure.com/d365community

[2022-08-30 06:34] AjayBathini-MSFT commented on #97636
@gasinh
I have gone through the doc related to "updating the federatedIdpMfaBehavior setting has no information on how to determine the internalDomainFederationId". I did not find any value but i found how we can determine the internalDomainFederationId  and federatedIdpMfaBehavior in below screenshot.

<img width="398" alt="image" src="https://user-images.githubusercontent.com/111562794/187365640

[2022-08-30 06:39] SwathiDhanwada-MSFT commented on #97733
@ToruMakabe Thanks for your comment. We will review the issue and get back to you shortly.

[2022-08-30 07:01] lmicverm opened #97741 "Mistake in documentation"
In the list with the cluster access modes, it says that the access mode "No Isolation Shared" only supports Python and SQL. However, in databricks itself, this mode says it supports all languages:

![image](https://user-images.githubusercontent.com/18261706/187371053-75a582d9-92d6-4f55-be23-19d2b55b1033.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2022-08-30 07:13] kobulloc-MSFT commented on #97043
@mweibel I believe that's the idea however we would need to confirm that there isn't language specific nuance that would make this inaccurate (as `float` describes a degree of precision in some cases).

[2022-08-30 07:39] gbeaud opened #97742 "Clearly state if Microsoft or the customer has to manage the VM's failover with LRS/ZRS disks"
It's not clear who needs to manage the failover in case of compute cluster or zone failure for the different disk options (LRS/ZRS). My understanding is the following:

Compute cluster failure:
    - LRS disk: failover managed by Microsoft (i.e. create a new VM in a new cluster and attach a disk). This is transparent to the customer
    - ZRS disk: failover also managed transparently by Microsoft

[2022-08-30 07:47] axcap commented on #96491
Hi @MartinJaffer-MSFT, i have tried with Thunder Client and it works just as expected.

Here is my demo setup:
* A simple minimal API in .Net:
![image](https://user-images.githubusercontent.com/1700426/187379257-a5fa1ae3-5ff1-49b1-933d-9fa3f02c4552.png)

* A source configured as follow:
![image](https://user-images.githubusercontent.com/1700426/187379507-86708a9a-80c8-4884-ae75-c4bb5c8ba283.png)

[2022-08-30 07:50] GlenGengMicrosoft opened #97743 "Detailed steps of how to enable for VMSS"
[Enter feedback here]
Hi team,

This is Glen from Azure VM CSS team. I have received a case from customer today that he would like to use the shared disk for his VMSS but there are no detailed steps in this official document. Can we update how to use the shared disk for VMSS accordingly?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2022-08-30 07:53] jan-hudec commented on #26237
And the app registration should be usable as user-assigned managed identity, shouldn't it?

[2022-08-30 08:19] laurent-brisbois opened #97745 "Virtual Network Integration for multi-container apps (docker-compose)"
Has Microsoft some plans about getting the VNet integration available for multi-container (docker-compose) applications ?
It would be so convenient to benefit from it, especially to ease the integration with other services like Storage Accounts,...

Thanks in advance for your time !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2022-08-30 08:19] gbeaud opened #97746 "Outdated doc?"
Can I create locally redundant storage, geo-redundant storage, and zone-redundant storage managed disks?
Azure Managed Disks currently supports only locally redundant storage managed disks.

==> is this still true?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f329597-345e-2f0c-2db3-26b1277ef428
* Version Independent

[2022-08-30 08:48] howlieT opened #97747 "Page does not include alternate way of using feature"
Discovered during testing that the Native Blob Soft Delete feature can now be enabled on data sources from the data source page via a tick box, this is not mentioned on the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3410f510-f665-31ae-f31d-1a47acf359e3
* Version Independent ID: 1e2a48bb-9305-d69c-ad12-08853a9

[2022-08-30 08:48] takeakitake opened #97748 "3 initiatives"
There are 3 initiatives in this section. 1. Azure Policy initiative, 2. Azure initiatives. 3. security initiative.
Are these 3 different things? Or same thing?
If these 3 are different things, please explain differences more. If these 3 are same thing, please use only 1 for preventing confusing.

---------------
What is a security initiative?

An Azure Policy initiative is a collection of Azure Po

[2022-08-30 08:52] mkb13 opened #97749 "Instructions for setting up branch preview environments links to incorrect "configuration file" documentation."
On this page is the following text: "To enable stable URL environments, make the following changes to your [configuration file](https://docs.microsoft.com/en-us/azure/static-web-apps/configuration)".  However, the link to "configuration file" points to documentation for staticwebapp.config.json, when actually it should be the configuration for the github workflow (e.g. the .yml file).

---
#### Do

[2022-08-30 08:55] madsd commented on #97745
@laurent-brisbois App Service multi-container is still in preview and we are evaluating the implementation. We unfortunately currently do not have any ETA for GA or for adding virtual network integration.

[2022-08-30 08:58] shaktisingh-msft commented on #97741
Hi @lmicverm,

Thanks for highlighting this observation. We will update you about the remedial action.

Thanks!

[2022-08-30 09:16] Venkateshdodda-MSFT commented on #97745
@madsd Thanks for sharing the details

[2022-08-30 09:16] Venkateshdodda-MSFT commented on #97745
@laurent-brisbois Hope the info provided by @madsd is helpful. Closing this for now.

[2022-08-30 09:16] #97745 closed

[2022-08-30 09:17] laurent-brisbois commented on #97745
@madsd
How long does it take in general to evaluate an implementation ?
Does it mean it still can be removed from the Azure services ?

I'm asking because I'm planning to use it long term to deploy my software several times for potential coming customer and I don't want to have to switch in short terms

[2022-08-30 09:26] v-pgaddala commented on #54983
The doc has undergone many changes.

[2022-08-30 09:26] bmansheim commented on #97483
@the-sentinental-guy MDC users who do not enable any Defender plans will not have access to 'Security Policy & Regulatory Compliance'.

[2022-08-30 09:26] v-pgaddala commented on #54983
#please-close

[2022-08-30 09:26] #54983 closed

[2022-08-30 09:28] YashikaTyagi-MSFT commented on #97748
@takeakitake
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-30 09:29] bmansheim commented on #97692
@jschwager Thank you for opening this issue. This is part of another work item and is planned.
#please-close

[2022-08-30 09:29] #97692 closed

[2022-08-30 09:30] shaktisingh-msft commented on #97741
Hi @saperla ,

Could you please see this document bug at link : [https://docs.microsoft.com/en-us/azure/databricks/data-governance/unity-catalog/compute](url) and help in rectification of the same where we have language discrepancy:
![image](https://user-images.githubusercontent.com/110027638/187401720-ffef5cfd-3b7b-423a-8a89-596b6690ce96.png)

![image](https://user-images.githubusercontent.com/11

[2022-08-30 09:46] v-pgaddala commented on #63702
Doc has undergone many changes over the period of time.

[2022-08-30 09:47] v-pgaddala commented on #63702
#please-close

[2022-08-30 09:47] #63702 closed

[2022-08-30 09:55] Zhang-Xinrui opened #97751 "Question about Microsoft Doc templates"
Hi Microsoft Docs team:

I am developing a documentation website using DocFx and I want to show some info on the doc page, like the owner of the doc page and the last modified time of that page.

I saw that Microsoft docs places the contributor info and update time under the title of each documentation page. But in the source markdown file I found the doc title and the doc page are placed together

[2022-08-30 09:59] JakobDeHertogh opened #97752 "GDPR for social security numbers"
Hi,

I'm thinking about how to integrate ItsMe with Azure AD B2C, and I was wondering how it handles the identification and the sensitive information that is the social security number (rijksregisternummer in Belgium) as an identifier. From my knowledge ItsMe provides you the proof that a certain SSN is authenticated, but it's then up to Azure AD B2C to find the corresponding account, and therefor

[2022-08-30 10:02] v-pgaddala commented on #57981
As suggested by @Sharmistha-Rai, closing the git issue

[2022-08-30 10:03] #57981 closed

[2022-08-30 10:05] v-pgaddala commented on #53231
We are working on releasing a new deployment planner.

[2022-08-30 10:06] v-pgaddala commented on #53231
As suggested by @Sharmistha-Rai, closing the git issue

[2022-08-30 10:06] v-pgaddala commented on #53231
#please-close

[2022-08-30 10:06] #53231 closed

[2022-08-30 10:12] PriyankaRudramaina commented on #93207
@gsxmax,

This lacks clarity in the feedback. If this has already been discussed with the feature owner and addressed, please confirm. If not, please provide more details.

[2022-08-30 10:12] #93207 closed

[2022-08-30 10:16] Basssiiie opened #97753 "Unclear purpose of tracking pixel in Azure B2C Sendgrid template"
Hello,

On the page for implementing Sendgrid emails for Azure B2C, there's an unmentioned pixel in the template in the section '[Create Sendgrid template](https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-email-sendgrid?pivots=b2c-custom-policy#create-sendgrid-template)'.

This one:
[code]
([Github source link](https://github.com/MicrosoftDocs/azure-docs/blob/80ae32d67fe368008776

[2022-08-30 10:22] hiroakimurata opened #97755 "Mislead for the customer to understand Defender for Servers Plan2 is required for AWS, GCP and on-premis."
I found in the doc the explanation of the features of Defender for servers at the point of view from the difference between plan1 and plan2.
The customer asked me if plan2 is required for the server machines on on-premis, AWS and GCP.
The answer is NO but I am sure that the customer mis-undersood because the doc mislead so.

Coud you please update the document for the customer to understand Plan1

[2022-08-30 10:54] madsd commented on #97745
It depends on the feature, and it can still be removed as long as it is in preview. For multi-container scenarios that are to go live short term you should probably look at other alternatives like Azure Container Apps.

[2022-08-30 10:55] bmansheim commented on #97456
You are correct. MDC can't use MDE plan 1 licenses.

[2022-08-30 10:55] bmansheim commented on #97456
#please-close

[2022-08-30 10:55] #97456 closed

[2022-08-30 10:58] #97691 closed

[2022-08-30 11:14] bmansheim commented on #97755
@hiroakimurata Thank you for the comment. I'll remove the reference to platforms from the Plan 2 description so that there is no reference to platforms in either Plan 1 or Plan 2. The platforms are listed at the beginning of the article.

We appreciate your feedback!

[2022-08-30 11:14] bmansheim commented on #97755
#please-close

[2022-08-30 11:30] jurjenoskam opened #97756 "Does the information on this page also apply to Arc VMs?"
Does the information on this page also apply to Azure Arc VMs? In other words, when the Log Analytics agent is installed on an Arc VM as an Azure extension logging to an existing workspace, will Defender use that existing workspace and configure the "Security" or " SecurityCenterFree" solution on that workspace?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2022-08-30 11:33] Klaas- commented on #96112
https://github.com/MicrosoftDocs/azure-docs/commit/b6737115677d0bcba130347ea9ead5e3363b74d9 suggests it's now out of preview and GA, but I have not seen a new announcement.

[2022-08-30 11:33] Klaas- commented on #96112
@roygara so is it finally really GA? :)

[2022-08-30 11:37] AjayBathini-MSFT commented on #97743
@GlenGengMicrosoft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-30 11:38] Klaas- commented on #83328
@roygara you should also revisit some of my suggestions here since online resize is now GA, especially the growpart usage will make this process much easier.

[2022-08-30 11:42] AjayBathini-MSFT commented on #97743
@roygara
Please review this case.

[2022-08-30 12:16] YashikaTyagi-MSFT commented on #97752
@JakobDeHertogh
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-30 12:17] jbostoen opened #97760 "Windows SmartCard logon using Azure Active Directory certificate-based authentication: clarification"
This sentence is missing something or is not clear: to either what?

"Only Windows machines that are joined to either or a hybrid environment can test SmartCard logon."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: add7ba93-5dec-f033-c42a-ce94a7a461f3
* Version Independent ID: a5cfa4c8-ee72-0bf7-8523-f2e75f92e5ef
* Co

[2022-08-30 12:18] YashikaTyagi-MSFT commented on #97753
@Basssiiie
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-30 12:33] sindkor opened #97761 ""Applies to"-section missing Windows VMs"
The linked docpage seems to be equally valid for both Windows- and Linux-VMs. However, it's put under the Linux-section, and it's not marked as applicable to Windows VMs in the beginning.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71fcae74-a9df-b47b-7775-846cc2bca19c
* Version Independent ID: 93ee4090-3b95-8886-437

[2022-08-30 12:43] Venkateshdodda-MSFT commented on #97720
@BradAF Environment variable substitutions are only allowed for Env Variables itself in the compose. It is not possible to override the tag for the image with an environment variable.
If you are looking to pull the latest version of a particular image you can specify using <imagename>: latest.
Kindly let us know what exactly you are trying to accomplish/your requirement.

[2022-08-30 12:45] meggarlandmsft opened #97762 "Time it takes to inherit approved role on privileged access group"
Hello,

What is the expected wait time to inherit a role after the role has been approved for a privileged access group? It would be great to include this information on the docs so we know if the wait time we're seeing is expected, or if it's taking too long and we need to log a support ticket.

Thanks,
Meg

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2022-08-30 12:47] kengaderdus commented on #97441
@samgladstone

Thank you for your feedback. We've updated the document. Please note that this issue may be closed automatically before the update goes live.

[2022-08-30 12:47] Venkateshdodda-MSFT commented on #97530
@kohei-miyoshi I have assigned this to content author @cephalin to share his valuable feedback and to update the document accordingly.

[2022-08-30 13:07] RawishCRM opened #97763 "Getting error while running the experiment"
![image](https://user-images.githubusercontent.com/46815733/187444288-49311cda-c91d-4509-9989-7b0f55b0aba4.png)

I have provide the cosmos db operator role to my experiment and even owner for that matter however I keep getting error as The

resources='/subscriptions/9747c5ed-210d-4efe-b300-41774a61016d/resourceGroups/chaosstudiotest/providers/microsoft.documentdb/databaseaccounts/avengerscomos' re

[2022-08-30 13:17] mattlunzer opened #97764 "Max surge value"
Under the heading, "Customize node surge upgrade", located [here](https://docs.microsoft.com/en-us/azure/aks/upgrade-cluster?tabs=azure-cli#customize-node-surge-upgrade) I do not understand the last sentence of the 3rd paragraph.

- If the max surge value is *lower* than the current node count at the time of upgrade, the current node count is used for the max surge value.

Based on my interpretati

[2022-08-30 13:26] BradAF commented on #97720
Hi @Venkateshdodda-MSFT, it's the inline variable default substitution as described in [Docker: Substitute Environment Variables in Compose Files](https://docs.docker.com/compose/environment-variables/#substitute-environment-variables-in-compose-files) that is not working. I've tried in both the image element and the environment element, and both work locally, but when starting up in Azure Web App

[2022-08-30 13:29] jurjenoskam opened #97765 "Azure Virtual Desktop limits: per tenant or per parent container?"
The table for Azure Virtual Desktop Service limits has a column for Azure Virtual Desktop object, Parent Container object and Service Limit. Does the Service Limit for a particular Azure Virtual Desktop object apply per its Parent Container? As a hypothetical example, is it within the Service Limits to have 4 Workspaces in one tenant, with each of those workspace having 200 Host Pools so that the

[2022-08-30 13:44] justinmchase opened #97766 "Cannot connect bastion to CosmosDB and the docs aren't totally clear to me if tunneling to non-vm's is possible"
I need to connect a tunnel to Azure CosmosDB, not a VM.

I see the documentation keeps saying "target vm" everywhere but the tunnel command documentation makes it seems you can maybe tunnel to something other than rdp/ssh. The command `az network bastion tunnel --target-resource-id $COSMOS_ID ...` will succeed in opening a local port but then crashes with an "Internal Server Error" exception if yo

[2022-08-30 13:49] dknappettmsft commented on #97428
Yes it is correct - I've updated the page title to more accurately reflect what it is.  The change should be visible later today.

#please-close

[2022-08-30 13:55] dknappettmsft commented on #97626
Hi @DrDallas - I think you may have raised this issue against the wrong article as that PowerShell cmdlet doesn't appear in this article.

#please-close

[2022-08-30 13:55] #97626 closed

[2022-08-30 13:57] gmndrg commented on #97747
Hello @howlieT thank you for reporting this. When we are working on improvements, usually we will wait until deployed in all of the supported clouds and also in all the respective places in the portal before adding it to the documentation. We will make sure to add this in the documentation and close y the issue when completed.

[2022-08-30 14:07] jhic commented on #97210
Thanks Bill!

[2022-08-30 14:08] dknappettmsft commented on #60019
Examples have been added.

#please-close

[2022-08-30 14:08] #60019 closed

[2022-08-30 14:10] dknappettmsft commented on #61645
Closing as it's a support issue, rather than an issue with the article itself.

#please-close

[2022-08-30 14:10] #61645 closed

[2022-08-30 14:13] dknappettmsft commented on #57626
Closing the loop on this - a note to create this key if it doesn't exist was added back on November 11th 2020.

#please-close

[2022-08-30 14:13] #57626 closed

[2022-08-30 14:17] KSchlobohm commented on #97129
Thanks team!

[2022-08-30 14:17] #97129 closed

[2022-08-30 14:23] impos73r commented on #96640
Hi @JamesTran-MSFT I just took a look and the relevant portion of the docs were not updated, line 113 still shows **Microsoft Sentinel**. This [proposed change](https://github.com/MicrosoftDocs/azure-docs/compare/main...impos73r:azure-docs:patch-1) shows the proper fix

[2022-08-30 14:24] tgillitzer opened #97768 "Cross Tenant move is no longer permitted?"
Trying to move a key vault to another subscription.  That subscription is in another tenant currently.   The way I read this document, that should be permitted as long as I have the appropriate permissions.   The "Move Resources" dialog never shows my target subscription though.

When looking at the generic [Move Resources](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/m

[2022-08-30 14:27] #53514 closed

[2022-08-30 14:28] dknappettmsft commented on #54500
Closing the loop on this - PowerShell Core is what is supported, even though something else may appear to work.

#please-close

[2022-08-30 14:28] #54500 closed

[2022-08-30 14:30] dknappettmsft commented on #57382
Closing the loop on this - this content was added on January 20th 2022.

#please-close

[2022-08-30 14:30] #57382 closed

[2022-08-30 14:32] dknappettmsft commented on #51835
Closing this as it's not an issue with the article, but more about the feature itself.

#please-close

[2022-08-30 14:32] #51835 closed

[2022-08-30 14:35] mumurug-MSFT commented on #97764
@mattlunzer Thanks for the feedback. We will review and update as appropriate.

[2022-08-30 14:36] dknappettmsft commented on #51652
Closing due to this being a support a support issue, rather than the article itself.

#please-close

[2022-08-30 14:36] #51652 closed

[2022-08-30 14:37] dknappettmsft commented on #51049
Closing as it was a support issue, rather than an issue with the article itself.

#please-close

[2022-08-30 14:37] #51049 closed

[2022-08-30 14:38] dknappettmsft commented on #50915
Closing as this is a support issue, rather than the article itself.

#please-close

[2022-08-30 14:38] #50915 closed

[2022-08-30 14:39] dknappettmsft commented on #52106
Closing as this is a support issue, rather than the article itself.

#please-close

[2022-08-30 14:39] #52106 closed

[2022-08-30 14:43] aaron-baron commented on #88509
Same problem on East US 2. Have Owner permissions at Resource Group level.
![image](https://user-images.githubusercontent.com/112496454/187467215-bd9387b6-5c0b-4fd8-8f26-df24efab939c.png)

[2022-08-30 14:44] dknappettmsft commented on #47540
Closing the loop on this - Fair Share does work with Azure Virtual Desktop and the article that is shared with Remote Desktop Services has been updated to include references to Azure Virtual Desktop: https://docs.microsoft.com/en-us/troubleshoot/windows-server/remote/fair-share-enabled-by-default-in-rds?toc=%2Fazure%2Fvirtual-desktop%2Ftoc.json&bc=%2Fazure%2Fvirtual-desktop%2Fbreadcrumb%2Ftoc.json

[2022-08-30 14:44] #47540 closed

[2022-08-30 14:48] dknappettmsft commented on #56260
Closing the loop on this - this parameter no longer exists and is not in the article.

#please-close

[2022-08-30 14:48] #56260 closed

[2022-08-30 14:48] SaiKishor-MSFT commented on #97746
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-30 14:49] SaiKishor-MSFT commented on #97742
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-30 14:50] verifiera commented on #18965
Then a better solution could be to have Startup Script with the following command just to replace document root directly in the config:
sed -i 's/\/home\/site\/wwwroot/\/home\/site\/wwwroot\/public/g' /etc/nginx/sites-available/default && service nginx reload

[2022-08-30 14:53] Grace-MacJones-MSFT commented on #97749
Thanks for your feedback! We will review and update this doc accordingly.

[2022-08-30 15:00] dknappettmsft commented on #61110
Thanks for the feedback. I've removed this sentence.

#please-close

[2022-08-30 15:00] #61110 closed

[2022-08-30 15:08] dknappettmsft commented on #50471
Closing the loop on this - this article has been expanded to include this information since this issue was raised. And the word 'like' is no longer there.

#please-close

[2022-08-30 15:08] #50471 closed

[2022-08-30 15:13] ChaitanyaNaykodi-MSFT commented on #97766
Hello @justinmchase,

Thank you for reaching out. Azure Bastion cannot be used to connect to any non-VM resources. This is currently [documented here](https://docs.microsoft.com/en-us/azure/bastion/bastion-overview).

If I may, you can try another approach in this case, like enabling a [private link on your Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-configure-private-endpoi

[2022-08-30 15:13] #97766 closed

[2022-08-30 15:25] JamesTran-MSFT commented on #97760
@jbostoen
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-08-30 15:26] SatishBoddu-MSFT commented on #97740
@konrad-jamrozik
I have assigned the issue to the content author for further review.

[2022-08-30 15:26] SatishBoddu-MSFT commented on #97747
@howlieT
I have assigned the issue to the content author for further review.

[2022-08-30 15:27] JamesTran-MSFT commented on #97762
@meggarlandmsft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-30 15:33] SatishBoddu-MSFT commented on #97751
@Zhang-Xinrui
I guess your question is not related to any specific GitHub document which needs attention, so I would request you to make use of [Microsoft Q&A forum ](https://docs.microsoft.com/en-us/answers/index.html)

For Reference on your query please see: [Github Reference](https://docs.github.com/en/rest/repos/repos#list-repository-contributors:~:text=GitHub%20identifies%20contributors,GitHu

[2022-08-30 15:34] JamesTran-MSFT commented on #96640
@impos73r
Thank you for following up on this!

I took a look at the PR I made, and it looks like it never merged. However, I was able to work with @yelevin on the updates and have merged the PR. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

![image](https://user-images.githubusercontent.com/36619112/187479438-c8f459dd-254d-4a6b-b38

[2022-08-30 15:37] jahedkarim opened #97771 "What happened if we get an error when trying to get adminconsent. The doc doesn't say how to fix the error"
So I copied the url as stated in the doc and replaced the clientID but it then directs me to a sign in page and when I hin the sign in it gives me this error:
AADSTS650054: The application 'api://***' asked for permissions to access a resource that has been removed or is no longer available. Contact the app vendor.

api://***: *** is my app specific infos

Any idea how to fix this error?

Thanks

[2022-08-30 15:41] SatishBoddu-MSFT commented on #97756
@jurjenoskam
I have assigned the issue to the content author for further review.

[2022-08-30 15:42] SatishBoddu-MSFT commented on #97761
@sindkor
I have assigned the issue to the content author for further review.

[2022-08-30 15:52] jan-hudec commented on #26237
But then the app registration client secret has to still be managed manually, doesn't it? Or is there a way to manage it automatically similarly to a managed identity?

[2022-08-30 16:11] kengaderdus commented on #97712
@fei0x

Thank you for your feedback.

By default, and for user flows, yes. For custom policies, you can specify what you expect, but the restrictions must be within those provided in Azure AD.

I hope this helps.

[2022-08-30 16:13] dknappettmsft commented on #53749
Closing this thread as the article is correct for the original issue regarding line breaks. Everything else is a support issue.

#please-close

[2022-08-30 16:13] #53749 closed

[2022-08-30 16:18] bandersmsft commented on #97666
@tunazorlu Thanks for reporting this issue. I've seen a couple of other mistranslations related to the use of negative contractions like don't, aren't, won't, etc. I've updated the article's source to replace **aren't** with **are not**. That should fix the problem but it will take some time for translation to get picked up for the localized version. I do not know the localization schedule but the

[2022-08-30 16:18] #97666 closed

[2022-08-30 16:20] vhorne commented on #94110
and that PR has now been merged.
#please-close

[2022-08-30 16:20] #94110 closed

[2022-08-30 16:53] nkumars commented on #97687
@kengaderdus, we update the **User** object's `PasswordProfile.ForceChangePasswordNextLogin` property to `true`, this way the password gets expired and shows up the change password page when user attempts to login the very next time.

We use Microsoft.Azure.ActiveDirectory.GraphClient nuget package version 2.1.1
https://www.nuget.org/packages/Microsoft.Azure.ActiveDirectory.GraphClient/2.1.1

[2022-08-30 16:59] roygara commented on #97746
@gbeaud No, that's outdated, ZRS is supported as well. We'll update the article later today. Thanks for making us aware. :)

#please-close

[2022-08-30 16:59] #97746 closed

[2022-08-30 17:08] #97441 closed

[2022-08-30 17:24] GeethaThatipatri-MSFT commented on #97555
I'm assigning this to the author for the feedback review

[2022-08-30 17:29] cjohnston-hill opened #97773 "Get-AzureADKerberosServer example for Modern Authentication"
The section  View and verify the Azure AD Kerberos Server has an example that shows variables that are tied to $cloudCred. However the Modern Authentication example does not utilize the $cloudCred or potentially $domainCred variables. Could we get an example of how to check the Azure AD Kerberos server has been created that doesn't have those variables?

It looks like
Get-AzureADKerberosServer -Do

[2022-08-30 17:32] camaier opened #97774 "Need to add info regarding not putting SQL workload on the OS"
[Enter feedback here]
Need to add info regarding not putting SQL workload on the OS due to possble IO Contention and performance issues issues. right now because the SQL comes installed on the OS most customers leave it there. This can be a big performance issue not just for SQL, but also for the OS iteself. Having the workload on the OS can cause IO contention with the VM even if it's not going o

[2022-08-30 17:39] JamesTran-MSFT commented on #97773
@cjohnston-hill
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-08-30 17:40] dlepow commented on #97524
I'll see if I can make the requirements a little clearer in the article. It seems like they are easy to overlook. Thanks for raising the issue.

[2022-08-30 17:43] vigneshmsft opened #97775 "Can we remove _dnsauth TXT record post validation in Azure Frontdoor?"
There is no documentation mentioning if it is safe to remove the `_dnsauth` TXT record post domain validation.
Is is safe to remove this record post domain ownership validation?
Will AFD managed certificate renewals happen automatically even if this record is removed after initial validation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2022-08-30 17:45] lauradolan commented on #93439
Thanks @anthfuller for your feedback! We're updating the broken link now to point to https://www.sap.com/dmc/exp/2014-09-02-hana-hardware/enEN/#/solutions?filters=v:deCertified;iaas;ve:24

#please-close

[2022-08-30 17:45] #93439 closed

[2022-08-30 17:52] belcher-rok opened #97776 "Incorrect example on INDEX_OF page"
Example is incorrect. It states that `INDEX_OF("abc", "c")` returns `-1` (not found) when it actually returns `2`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a63bc4d-4ebf-2760-959e-7c62b1831634
* Version Independent ID: dba1eb33-f484-631b-bcc9-2f322c6cc55b
* Content: [INDEX_OF in Azure Cosmos DB query language](ht

[2022-08-30 17:54] davystrong commented on #97000
Hi @Grace-MacJones-MSFT, @msdpalam any update on this?

[2022-08-30 17:54] Trymzet opened #97777 "Information schema (Databricks SQL) docs missing key information"
The docs suggest there is a `information_schema` schema in Databricks SQL. However, they don't explain how to use it.

1. It is mentioned that the schema is not available under the default `hive_metastore` catalog -- the docs should explain why it's not available by default, how to create a new catalog, and what are the consequences.
2. I have a built-in catalog different than `hive_metastore`, na

[2022-08-30 18:11] ardilluca opened #97778 "Link to REST API in Form Recognizer SDK page is broken:"
[Enter feedback here]

When click on link described here:

![image](https://user-images.githubusercontent.com/20630711/187511759-47c44e14-042e-48b2-94c8-d37fe661c830.png)

I get the following error:

![image](https://user-images.githubusercontent.com/20630711/187511622-2263196a-1cf0-4889-982c-78e2b5d10ce0.png)

Link is broken, please update
---
#### Document Details

⚠ *Do not edit this section. I

[2022-08-30 18:19] icanfathom opened #97779 "Continuation tokens not supported in Node when using ORDER BY clause"
2 notes.

1. The Node SDK doesn't seem to support continuation tokens if you use an ORDER BY clause. I tried a query with and without the ORDER BY clause, and in both cases `hasMoreResults = true`, but when ORDER BY is included then `continuationToken = undefined`.
2. [This](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-query-pagination#continuation-tokens) claims that continuation toke

[2022-08-30 18:24] mennolaan opened #97780 "Connectionstring results in unwanted error"
Hello,

My current stack consist of .Net framework 4.8, Azure.Identity 1.6.0 and Entity Framwork 6.4.4

The current code for .Net doesnt work and results in an error

"This operation requires a connection to the 'master' database. Unable to create a connection to the 'master' database because the original database connection has been opened and credentials have been removed from the connection str

[2022-08-30 18:42] fei0x opened #97781 "Just Sign-Up flow?"
This document describes how to convert the sample signinsignup custom policy and turn it into a sign-in only policy. Is there a similar example for converting it into two user journeys one that is exclusively sign in and another exclusively sign up. In my case signing up should only be available to those who have been prompted by an email. I imagine many people who are looking for this example may

[2022-08-30 18:45] GeethaThatipatri-MSFT commented on #97776
Hi @belcher-rok Thanks for your findings,We will investigate and update as appropriate

[2022-08-30 18:47] GeethaThatipatri-MSFT commented on #97779
Hi @icanfathom Thank you for reaching out. We will look into it and update you as appropriate.

[2022-08-30 18:53] seesharprun commented on #97779
#reassign:gahl-levy

@gahl-levy, can you assist with this question?

[2022-08-30 18:58] JamesTran-MSFT commented on #97781
@fei0x
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-30 18:59] seesharprun commented on #97776
Hello @belcher-rok!

I have an update of this sample page in the works. When that page goes into our publishing pipeline, it will automatically close this GitHub issue. The page should be live shortly after.

Thanks for your contribution and thanks for helping us keep our docs current and fresh!

[2022-08-30 19:25] rolyon commented on #96760
Hi @SetTrend
Thanks for taking the time to provide your feedback. Yes, the syntax in the docs is correct. The syntax is different because the condition is in the context of a role assignment. If you target an action (instead of NOT action), then the other actions in the role would not be allowed. We tried to describe how a role assignment condition is evaluated in the following section:
https://do

[2022-08-30 19:31] tgillitzer commented on #97768
@JamesTran-MSFT Also, can it be clarified if the Azure Key Vault Managed HSM can be moved between subscriptions?

[2022-08-30 19:33] rolyon commented on #97040
Hi @fardarter
Thanks for taking the time to provide your feedback. We've created a work item in our backlog to review this in the docs.
Let us know if you have any additional feedback about the docs.
thanks

[2022-08-30 19:33] rolyon commented on #97040
#please-close

[2022-08-30 19:33] #97040 closed

[2022-08-30 19:35] scott1138 opened #97782 "Azure DataBricks Auth Workspace VNet Integration question"
Can someone provide more information on why VNet integration is required for the central workspace with the authentication private endpoint.  That doesn't make sense if we are only concerned about routing the authentication traffic, unless the DataBricks backend it going to make that auth request using that VNet integration.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2022-08-30 19:46] #97776 closed

[2022-08-30 19:53] kobulloc-MSFT commented on #97043
@mweibel Digging into this further, it appears that floats are a bit more complicated in the context of an ARM template.  Since `int` is supported but `float` is not, there is a workaround that allows a `string` to be accepted as a `float` and a similar technique appears to be used here.  This is not terribly intuitive, however, and may distract from the goal of describing what value to use for `m

[2022-08-30 20:05] kinetiq opened #97783 "ExtractSummaryActions does not existg in the latest beta (5.2.0-beta.4)"
This document specifically indicates 5.2.0-beta.1 should be used, however the latest beta is 5.2.0-beta.4 ... That isn't a huge problem.

However, in the latest beta (5.2.0-beta.4), ExtractSummaryAction, which is critical to this document, does not exist. It did exist up to 5.2.0-beta.3

The release notes for beta.4 do say: _Removed Extractive Text Summarization and related models. To access this

[2022-08-30 20:30] laurent-brisbois commented on #97745
@madsd
Last question:
If Microsoft decides to drop the multi-container option, I guess that they warn users quite in advance so that we have the time to switch to something else ?

Thanks in advance for your time.

[2022-08-30 20:33] leekennett opened #97785 "Can't find ability to create ADF credentials vis API/SDK/ or Powershell contrary to the documentation."
After lengthy searching I can't find any way to create credentials using the Rest API, Bicep, .net SDK or Python SDK contrary the note at the bottom of this document.

Can this be updated to point to an example?

![image](https://user-images.githubusercontent.com/75047249/187537507-408a7b97-d318-4cd9-bd76-b2afd503e391.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-08-30 20:38] santhoshb-msft opened #97786 "Can we create clarity around that we are testing against a test VM created of the VM Image"
Can we create clarity around that we are testing against a test VM created of the VM Image

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76aff51a-dfee-9126-9788-4fee1652814b
* Version Independent ID: 0d8f1128-3588-4d12-1501-4071059eb675
* Content: [Test an Azure virtual machine image for Azure Marketplace](https://doc

[2022-08-30 20:54] lablais opened #97788 "Please update instructions on how to schedule notebooks to run"
[Enter feedback here]
This is OLD; please update

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa2888fa-523e-675c-d50f-ec175602d442
* Version Independent ID: 8b8d0e53-f362-ecff-3793-8eee24131366
* Content: [Schedule a query - Azure Databricks - Databricks SQL](https://docs.microsoft.com/en-us/azure/databricks/sql/user

[2022-08-30 21:20] SaiKishor-MSFT commented on #97387
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-08-30 21:20] #97387 closed

[2022-08-30 21:36] justinmchase commented on #97766
@ChaitanyaNaykodi-MSFT

Yeah it seems like creating a VM and then using something to tunnel from there to mongo will probably work. I've filed issues and feature requests in other places that ask for support for directly tunneling to azure resources other than VM's.

[2022-08-30 21:39] JamesTran-MSFT commented on #97722
@brcolow
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.
![image](https://user-images.githubusercontent.com/36619112/187548444-bfc4e9bd-5287-4bd5-9429-3c53856f70d4.png)

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time

[2022-08-30 21:39] #97722 closed

[2022-08-30 21:44] mbender-ms commented on #94684
@ChaitanyaNaykodi-MSFT please remove the label virtual-network/svc. I removed virtual-network as a service on the doc so hopefully PRMerger doesn't add it back.

[2022-08-30 21:46] JamesTran-MSFT commented on #97762
@meggarlandmsft
Thank you for pointing this out! Since our [Activate my privileged access group roles in Privileged Identity Management ](https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/groups-activate-roles)documentation has a section detailing the [time it takes for permissions to propagate](https://docs.microsoft.com/en-us/azure/active-directory/privileged

[2022-08-30 21:46] #97762 closed

[2022-08-30 21:47] SaiKishor-MSFT commented on #97664
@zaalion Do you mean SID (security identifier) for storage? The SID is related to the identity created for the storage account i.e., the computer/service account SID. You can get it using Get-ADComputer command- https://docs.microsoft.com/en-us/powershell/module/activedirectory/get-adcomputer?view=windowsserver2022-ps

Does that help? Thanks!

[2022-08-30 22:16] GithubMirek commented on #93236
The Synapse Analytics team temporarily removed the support for Synapse Analytics for this feature from the documentation.
#please-close

[2022-08-30 22:16] #93236 closed

[2022-08-30 22:23] Tlamatini commented on #96976
still not working
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-quickstart-powershell#code-try-1

[2022-08-30 22:56] hiroakimurata commented on #97755
Thank you for your help.

[2022-08-30 22:57] tfitzmac commented on #97765
@TomHickling or @dknappettmsft  - are you able to clarify the limits for Azure Virtual Desktop? I interpret the limits in the table as "per parent containing object" rather than "per tenant".

[2022-08-30 23:03] tfitzmac commented on #97499
@SetTrend - I am going to work with some of the identity writers to see if we can clarify the options. It will take us some time to get everyone together. In the meantime, here are a couple of links that may be helpful:

- [Application and service principal objects in Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/develop/app-objects-and-service-principals)
- [Glos

[2022-08-30 23:39] tfitzmac commented on #97714
@tg73 - thanks for this feedback. I added some content to the article about the linter rule to clarify using "location" for a parameter name. The update should get published tomorrow.
#please-close

[2022-08-30 23:39] #97714 closed

[2022-08-30 23:53] debaxtermsft opened #97793 "Apps created with apps.dev.microsoft.com break when changing to b2clogin"
If the application registration for MSA was created a long time ago using the https://apps.dev.microsoft.com/#/appList portal
and the customer updates to the new b2clogin this will result in

We're unable to complete your request
invalid_request: The provided value for the input parameter 'redirect_uri' is not valid. The expected value is a URI which matches a redirect URI registered for this clie

[2022-08-30 23:59] YutongTie-MSFT commented on #97783
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-08-31 00:14] msaustral commented on #97743
Hi, we are the customer, the scenario is this:

- Have a previos data LRS SSD premium disk share with max of 5 (without zone)
- A scale set with auto scaling min 2 max 5 (on same region as the disk)
- An app load balance

The idea is to have a share disk that is the same on every instance that the replica set creates and have min 2 instance ( one on different zones) to have HA.

The idea is that w

[2022-08-31 02:30] erichenson opened #97794 "Lack of detail in Registry setting"
Set the following Key Value Pair: Key: OVERRIDE_NUMBER_MATCHING_WITH_OTP Value = TRUE

This doesn't specify what type of registry key is needed. I think it's "String" because the other values in that key are set to "string", but documentation should always specify.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d46abb

[2022-08-31 02:46] ChaitanyaNaykodi-MSFT commented on #94684
@mbender-ms, looks like the issues-automation added it back.

[2022-08-31 02:49] SatishBoddu-MSFT commented on #97763
@RawishCRM
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-31 02:50] SatishBoddu-MSFT commented on #97771
@jahedkarim
Could you please let us know the exact MS Document link to which you have referred? I need to add the metadata so that we triage this issue as soon as possible. Thanks for your understanding.

[2022-08-31 02:51] SatishBoddu-MSFT commented on #97774
@camaier
I have assigned the issue to the content author for further review.

[2022-08-31 02:52] SatishBoddu-MSFT commented on #97775
@vigneshmsft
I have assigned the issue to the content author for further review.

[2022-08-31 02:53] SatishBoddu-MSFT commented on #97777
@Trymzet
I have assigned the issue to the content author for further review.

[2022-08-31 03:39] Zhang-Xinrui commented on #97751
Thanks for your reply, I will go to Q&A forum to find answer

[2022-08-31 03:39] #97751 closed

[2022-08-31 03:53] richardcaoshihua opened #97795 "HTTP Probe Behavior is not documented."
Hi, Team,

The HTTP Probe behavior on Azure Load Balancer needs improvement. We need the following to be documented publicly facing the customer.

What HTTP Header is used in HTTP/HTTPS Probe Traffic from Azure Load Balancer to Backend VM?
What SNI Field is used in HTTPS Probe Traffic from Azure Load Balancer to Backend VM?
What Certificate is accepted on the Backend VM？Is self-signed Certificate

[2022-08-31 03:57] Siddharth-Microsoft opened #97796 "Feature option not visible in Azure Portal"
[Enter feedback here]
Does it require a preview flag or a resource provider registration?
We cannot find this option available in the portal

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c29f6f9-6541-ea9d-f9a2-5ee42b90b8bd
* Version Independent ID: 2b83e348-f55d-3712-fda0-4db335eafd42
* Content: [Enable SQL A

[2022-08-31 04:01] beifeng2744 opened #97797 "Identity Configuration in Container is incorrect"
I follow this guide page today.
1. when I run
"# Get resource ID of the user-assigned identity
resourceID=$(az identity show \
  --resource-group myResourceGroup \
  --name myACIId \
  --query id --output none)"

the resourceID has no value.

2. when I run
az container create \
  --resource-group myResourceGroup \
  --name mycontainer \
  --image mcr.microsoft.com/azure-cli \
  --assign-identity $

[2022-08-31 04:07] jrecasens commented on #93817
Any instructions on how to use the output path when invoking a batch endpoint with python SDK v2 ?
What if it is a private blob storage?

[2022-08-31 04:46] ShingoHanai opened #97798 "There are some taraslate bug in ja-jp. "Stateful" is translated to "statelss" in Japanese."
I found stateful is translated to stateless in Japanese.

**https://docs.microsoft.com/ja-jp/azure/logic-apps/single-tenant-overview-compare#stateful-and-stateless-workflows**

"ステートレス" is stateless in Japanese. So it looks there are 2 stateless section.
"ステートフル" is stateful and correct.
I think 1st "ステートレス / stateless" is correctly "ステートフル / stateful".

![image](https://user-images.githubusercont

[2022-08-31 05:16] KranthiPakala-MSFT commented on #97785
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-08-31 05:19] KranthiPakala-MSFT commented on #97788
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-08-31 05:20] KranthiPakala-MSFT commented on #97782
Thanks for the feedback! We have assigned the issue to the content author to further review this and provide an update as appropriate.

[2022-08-31 06:49] nakamacchi opened #97800 "Parameter value seems wrong."
[Enter feedback here]
windowsParameters - classificationsToInclude
Critical, Security, UpdateRollUp, FeaturePack, ServicePack, Definition, Tools, Update
-> "Update" does not exists.

linuxParameters - classificationsToInclude
Critical, Security, Others
-> "Others" is wrong, "Other" is correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2022-08-31 07:00] MihoTsukamoto opened #97801 "There is no information about the service packs about SUSE 12"
[Enter feedback here]
I see on our page that we support SUSE 12, but there is no information about the service packs.
On the other hand, we clearly define our support for SUSE 15, SUSE 15 SP1 and SUSE 15 SP2 on this page.
I would like to order explicitly define support for SUSE 12 all SPs

![image](https://user-images.githubusercontent.com/112463143/187613265-03ef815d-3186-46e2-81b7-c2de5a3a71ef.p

[2022-08-31 07:32] dknappettmsft commented on #49588
Closing the loop on this - from the screenshot above, running Get-RdsTenant does show output that contains the TenantName value.

#please-close

[2022-08-31 07:32] #49588 closed

[2022-08-31 07:39] nakamacchi commented on #97800
Sorry, it seems that "Update" is wrong, and "Updates" is correct for windowsParameters/classificationsToInclude.

[2022-08-31 07:55] dknappettmsft commented on #54215
Closing the loop on this - this seems like a local issue, so closing.

#please-close

[2022-08-31 07:55] #54215 closed

[2022-08-31 08:01] KrishnaG-MSFT commented on #97801
@MihoTsukamoto Thanks for sharing the feedback. Recently in https://github.com/MicrosoftDocs/azure-docs/issues/97731 issue, same feedback is shared and we have assigned to case to content owner to update the document as appropriate. Please follow https://github.com/MicrosoftDocs/azure-docs/issues/97731 for further updates on the same.

[2022-08-31 08:01] #97801 closed

[2022-08-31 08:02] KrishnaG-MSFT commented on #97800
@nakamacchi Thanks for your comment! We will review and provide an update as appropriate.

[2022-08-31 08:09] dknappettmsft commented on #45359
Closing the loop on this - $KeyPath doesn't appear in the article itself, and I can't find it in the .ps1 files either, so I'm assuming this has been sorted already.  If this is still an issue and is with the .ps1 files, please open an issue in this repo: https://github.com/Azure/RDS-Templates.

#please-close

[2022-08-31 08:09] #45359 closed

[2022-08-31 08:12] dknappettmsft commented on #53252
Closing this as the supported versions of Microsoft Endpoint Configuration Manager support multi-session (2103 is the oldest version currently supported).

#please-close

[2022-08-31 08:12] #53252 closed

[2022-08-31 08:48] petoor opened #97802 "not able to find deviceupdate-agent in packages.microsoft.com"
As mentioned on the page.

"Install the deviceupdate-agent on the IoT device. Download the latest Device Update Debian file from packages.microsoft.com:"

However I am unable to find the deviceupdate-agent.deb package.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fba65fb-7e52-5f21-80ed-0744003598b7
* Version Independ

[2022-08-31 08:51] YashikaTyagi-MSFT commented on #97793
@debaxtermsft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-31 08:55] YashikaTyagi-MSFT commented on #97794
@erichenson
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-31 08:56] #97647 closed

[2022-08-31 09:08] #68788 closed

[2022-08-31 09:17] samuel-weber opened #97803 "Logic Apps: Microsoft Dataverse (Legacy), migrate to the current Microsoft Dataverse connector"
Hi

This page mentions, that the current Dataverse connector (non legacy) should be available since August 30, 2022. I'm still missing the new connector (region switzerland north). Just the icon changed to green, but the connector is still the legacy version.

Also this page https://docs.microsoft.com/en-us/connectors/commondataserviceforapps/ does not mention the compatibility to Logic Apps

Stil

[2022-08-31 09:18] SwathiDhanwada-MSFT commented on #97778
@ardilluca Thanks for your comment. We will review the issue and get back to you shortly.

[2022-08-31 09:20] dknappettmsft commented on #68512
It's not for an Azure Virtual Desktop to say whether this scenario is allowed outside of Azure Virtual Desktop. The articles for Azure Virtual Desktop have that focus only.  It would be better to reach out to your licensing representative.

#please-close

[2022-08-31 09:20] #68512 closed

[2022-08-31 09:20] SwathiDhanwada-MSFT commented on #97780
@mennolaan Thanks for your comment. We will review the issue and get back to you shortly.

[2022-08-31 09:21] SwathiDhanwada-MSFT commented on #97786
@santhoshb-msft Thanks for your feedback.

Assigning to content author @mathapli   for review.

[2022-08-31 09:22] dknappettmsft commented on #72282
Thanks for the feedback. GitHub issues in this repo are for issues with the article - as this is a product feature question, a better place for it is Azure Virtual Desktop feedback: https://techcommunity.microsoft.com/t5/azure-virtual-desktop-feedback/idb-p/AzureVirtualDesktop

#please-close

[2022-08-31 09:22] #72282 closed

[2022-08-31 09:24] SwathiDhanwada-MSFT commented on #97796
@Siddharth-Microsoft Thanks for your comment. We will review the issue and get back to you shortly.

[2022-08-31 09:24] dknappettmsft commented on #69220
Thanks for the feedback. We do have this sentence: "The DNS servers of the virtual network you selected should be configured to use the IP of the domain controller" and in the Prerequisites article (https://docs.microsoft.com/en-us/azure/virtual-desktop/prerequisites) "Make sure this virtual network can connect to your domain controllers and relevant DNS servers if you're using AD DS or Azure AD D

[2022-08-31 09:24] #69220 closed

[2022-08-31 09:24] TomHickling commented on #97765
It is the item in question per the parent object - such that the max imum number of host pools is 400 per workspace

[2022-08-31 09:26] SwathiDhanwada-MSFT commented on #97798
@ShingoHanai Thanks for your comment. We will review the issue and get back to you shortly.

[2022-08-31 09:27] SwathiDhanwada-MSFT commented on #97802
@petoor Thanks for your comment. We will review the issue and get back to you shortly.

[2022-08-31 09:28] dknappettmsft commented on #62476
Closing the loop on this - the sentence "Download and install the Teams desktop app on the host using per-machine installation. Media optimization for Microsoft Teams requires Teams desktop app version 1.3.00.4461 or later" has been removed from the article to avoid confusion.

#please-close

[2022-08-31 09:28] #62476 closed

[2022-08-31 09:28] SwathiDhanwada-MSFT commented on #97803
@samuel-weber Thanks for your comment. We will review the issue and get back to you shortly.

[2022-08-31 09:33] dknappettmsft commented on #65649
Closing the loop on this - the article has had several updates since and now lists the types of metadata, along with explanations.

#please-close

[2022-08-31 09:33] #65649 closed

[2022-08-31 09:38] dknappettmsft commented on #83995
Thanks for the feedback. This information is now in the prerequisites section.

#please-close

[2022-08-31 09:38] #83995 closed

[2022-08-31 10:23] ViktorDronov opened #97807 "PowerShell sample is not really a PowerShell sample"
Block in the documentation contain "PowerShell" sample which is not a PowerShell at all:
1 `az cli` - is not a PowerShell
2  `jq` - is not a PowerShell
so for running PowerShell sample we need 2 non PowerShell tool`s

Would be great to have some helpful links for **az** and **jq** if someone mention that we need them
In PowerShell we have many helpful commandlets like:
-  [get-azaccesstoken](https

[2022-08-31 10:25] ViktorDronov commented on #97807
If MS have PowerShell and everything could be done by PowerShell why this page have Bash\Python samples but not PowerShell samples?

[2022-08-31 10:27] AlexcFrench commented on #94852
Perfect update, thank you very much

[2022-08-31 11:11] helderpinto opened #97808 "Document required ARM permissions/roles"
Customers need to understand which Azure RM permissions are required to invoke the Cost Details API report generation. Being a POST request, it is unclear whether Reader permissions over the report scope is sufficient or if more permissions are required. This document should make it clear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-08-31 11:16] kengaderdus commented on #97687
@nkumars

Thank you for this update. We've reproduced your scenario and looks like this is a product issue and not a documentation issue. We'll proceed to inform the product team and we'll track the issue internally. For now, we'll close this issue and will comment back when we've an update from the product team. #please-close

[2022-08-31 11:16] #97687 closed

[2022-08-31 11:47] GitaraniSharma-MSFT commented on #97538
@jiankefu , We have assigned this to the content owner/author for review.

@cherylmc , is there a way for the users to download the network topologies from our documents?

[2022-08-31 11:48] StrawberryAnemone opened #97809 "It would be helpful if this article gave information on the enter-manually option."
[Enter feedback here]

It would be helpful if this article gave information on the enter-manually option.
It would be great if this article explained how to work with the enter-manually option. Or explained reasons why a event grid system topic would not show up in the topics drop-down.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2022-08-31 11:50] StrawberryAnemone commented on #97809
It would be great if this article explained how to work with the enter-manually option.  Or explained reasons why a event grid system topic would not show up in the topics drop-down.

[2022-08-31 11:51] GitaraniSharma-MSFT commented on #97654
@rednax72 , as mentioned in our [FAQ](https://docs.microsoft.com/en-us/azure/dns/dns-faq#do-i-have-to-delegate-my-domain-to-all-four-azure-dns-name-servers-),

Q. Do I have to delegate my domain to all four Azure DNS name servers?
A. Yes. Azure DNS assigns four name servers to each DNS zone. This arrangement is for fault isolation and increased resilience. To qualify for the Azure DNS SLA, delegat

[2022-08-31 11:51] #97654 closed

[2022-08-31 13:25] Ravian18 opened #97814 "Issues with Privileged Identity Management on Management Group level"
Hi there,

We want to define and manage our eligible assignments for all subscriptions under a management group. That way we only have to manage these assignments in one place and prevents us from having to setup the same assignments for new subscriptions under that management group. An example is the role Azure Kubernetes Service Cluster Admin Role. When looking at the eligible assignments for an

[2022-08-31 14:13] SumanthMarigowda commented on #97346
@ckuhtz Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there

[2022-08-31 14:14] SumanthMarigowda commented on #97522
@stanleyu Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-08-31 14:15] SumanthMarigowda commented on #97664
@zaalion  I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply.

[2022-08-31 14:15] #97664 closed

[2022-08-31 14:56] helderpinto opened #97819 "Incomplete information for the EA field mapping"
The table comparing the old EA Consumption API fields with the new Exports/Cost Details CSV fields ([Enterprise Agreement field mapping](https://docs.microsoft.com/en-us/azure/cost-management-billing/automate/migrate-consumption-usage-details-api#enterprise-agreement-field-mapping)) has missing information, namely:

- `accountOwnerId` is provided by the old Consumption API
- `publisherType` is pro

[2022-08-31 15:40] jgeck09 opened #97820 "Azure VMs using VM Applications do not support a move operation"
[Enter feedback here]
Azure VMs using VM Applications do not support a move operation. This should be added to the limitations section on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cf464b1-4b64-5432-2428-1170118a1ace
* Version Independent ID: ab7863b6-2b76-09bd-84b2-0f7d57f1178b
* Content: [Overview of

[2022-08-31 15:45] tfitzmac commented on #97765
Thanks @TomHickling and I see you updated the table header.
#please-close

[2022-08-31 15:45] #97765 closed

[2022-08-31 15:48] jahedkarim commented on #97771
Hello @SatishBoddu-MSFT here is the doc I was referring to: https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-client-creds-grant-flow

[2022-08-31 15:55] vimeht commented on #85130
Hey Christian, GA is expected to go live soon, in late-summer/early fall.

[2022-08-31 15:55] vimeht commented on #88554
Fixed in new GA docs

[2022-08-31 15:55] darwin-xu opened #97821 "Speech CLI doesn't support apple silicon so well."
I am using an apple silicon laptop.

I installed the .NET 6 successfully. And I installed the speech CLI successfully too:
[code]

But it seems the speech CLI doesn't support apple silicon so well:
[code]

I don't know if it is a doc issue or a production issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91e2ab62-8

[2022-08-31 15:59] debaxtermsft commented on #97793
Please note: one of the issues is that the customer is unable to locate the apps client id in their main tenant that was used in the trustframeworkextensions file.  The secret has to be updated or recreated and also updated in the crypto location (either in base or extensions file)

[2022-08-31 16:02] SatishBoddu-MSFT commented on #97808
@helderpinto
I have assigned the issue to the content author for further review.

[2022-08-31 16:05] MarileeTurscak-MSFT commented on #97819
@helderpinto
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-31 16:06] SatishBoddu-MSFT commented on #97814
@Ravian18
I have assigned the issue to the content author for further review.

[2022-08-31 16:08] SatishBoddu-MSFT commented on #97820
@jgeck09
I have assigned the issue to the content author for further review.

[2022-08-31 16:08] SatishBoddu-MSFT commented on #97821
@darwin-xu
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-31 16:10] jonesprabu commented on #42508
Is any solution available for this issue?

[2022-08-31 16:14] JnHs commented on #96192
Hello again @jan-delaet - since we haven't heard back from you, I'm going to hope that means the issue has been resolved, and will close this now. However, if you are still unable to install the extension, or have any other questions, please let me know!
#please-close

[2022-08-31 16:14] #96192 closed

[2022-08-31 16:22] kevelife opened #97822 "Disabled findings still appear in SQL scan email"
[Enter feedback here]
I would like to highlight that my customer's receive the weekly SQL VA findings report and it appears to highlight multiple failed findings. However, the findings are disabled as per MDC disabled rules. It would be beneficial to our customers, as my customer suggests highlighting this behavior in public documentation.

---
#### Document Details

⚠ *Do not edit this section. I

[2022-08-31 16:27] JnHs commented on #97423
Hi @justinbarias - thank you for taking the time to provide this feedback. I've passed your feedback along to the team and we'll try to address this in future updates and add more coverage of alternate approaches. I've created a work item to track this and this work will be reviewed against other priorities so I don't have a time frame for these updates. I'll close this GitHub Issue now, but truly

[2022-08-31 16:27] #97423 closed

[2022-08-31 16:31] matt-jackson-samsara opened #97823 "Documentation Change Needed"
There is incorrect information in this section:

Create Samsara test user
In this section, a user called B.Simon is created in Samsara. Samsara supports just-in-time user provisioning, which is enabled by default. There is no action item for you in this section. If a user doesn't already exist in Samsara, a new one is created after authentication with a default role of **Standard Admin (No Dash Ca

[2022-08-31 16:33] GeethaThatipatri-MSFT commented on #97822
@kevelife Thanks for your feedback! We will look into it and update you as appropriate.

[2022-08-31 16:40] nikhilpatel909 commented on #97820
@jgeck09 could you please provide more details on what are you trying to achieve

[2022-08-31 16:52] jgeck09 commented on #97820
I attempted to move a Virtual Machine to another resource group. This failed and I received an error message saying "Moving resources that are using VM Applications is not supported..."

I didn't find any documentation explicitly calling out this limitation and I think it should be made more clear as this could be a deal breaker for some. The closest thing I could find was that VMs with extensions

[2022-08-31 16:59] SadiqhAhmed-MSFT commented on #97819
@bandersmsft FYI

[2022-08-31 17:27] YutongTie-MSFT commented on #97650
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-08-31 17:27] #97650 closed

[2022-08-31 17:32] roygara commented on #97743
Hello, @GlenGengMicrosoft and @msaustral .

Shared disks don't support autodeployment. They can be manually created and attached to individual scale sets instances but, that's all.

We're working on updating the article to clarify this.

[2022-08-31 17:33] dilv0055 opened #97827 "Here is a solution to automate "Azure Policy - Export compliance report to CSV"
Here is a solution to automate "Azure Policy - Export compliance report to CSV" [https://dileepveldi.medium.com/export-azure-policy-compliance-report-20608de4c049](https://dileepveldi.medium.com/export-azure-policy-compliance-report-20608de4c049?source=responses-----b62710e9ad69---------------------respond_sidebar-----------)

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-08-31 17:34] ju-shim commented on #83225
@ppaschedag - The template is being published shortly. You will find it under the following section as "ARM Template" once it's live sometime today: https://docs.microsoft.com/en-us/azure/virtual-machines/virtual-machine-scale-sets-maintenance-control

Thank you for your patience.
Julia (VM/VMSS writer)

[2022-08-31 17:35] ju-shim commented on #83225
#please-close

[2022-08-31 17:35] #83225 closed

[2022-08-31 17:46] Edcorcor opened #97828 "There is no 6.0 version of S4/HANA."
[Enter feedback here]

There is no 6.0 version of S4/HANA. What is the minimum version?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1758b57-47bb-f1b0-c92d-7952b2bef0d7
* Version Independent ID: afc07b78-1012-500c-fbfc-041e49d22397
* Content: [Connect to and manage an SAP S/4HANA source - Microsoft Purview](https://d

[2022-08-31 17:53] khdownie commented on #97711
@brianotte @SatishBoddu-MSFT I have added a note to the table to clarify:

https://docs.microsoft.com/en-us/azure/storage/files/storage-files-netapp-comparison

No minimum (SMB only - NFS requires Premium shares).

This issue can now be closed.

[2022-08-31 17:56] rwike77 commented on #97525
Doc updates are live, hope that helps.  Closing the issue now.  #please-close

[2022-08-31 17:56] #97525 closed

[2022-08-31 17:57] isdataninja opened #97829 "Please fix and confirm SAP4/Hannah supported versions"
Please fix and confirm SAP4/Hannah supported versions

Existing doc states [!NOTE] The supported version of **SAP S4/HANA is 6.0.**

However, please see https://en.wikipedia.org/wiki/SAP_S/4HANA and the below examples of SAP4/Hannah versions

**SAP S/4HANA On-Premise releases:**
- SAP S/4HANA Finance 1503: March 2015
- SAP S/4HANA 1511: November 2015
- SAP S/4HANA Finance 1605: May 2016
- SAP S/4H

[2022-08-31 18:07] mahipdeora commented on #97060
#please-close

[2022-08-31 18:07] #97060 closed

[2022-08-31 18:11] cburuzie commented on #97410
#reassign @brianlehr

[2022-08-31 18:12] brianotte commented on #97711
Perfect.  Thank you good sir.

[2022-08-31 18:12] #97711 closed

[2022-08-31 18:12] asudbring commented on #93727
Article is slated for full update in September.  Will update this during that time.

#please-close

[2022-08-31 18:12] #93727 closed

[2022-08-31 18:21] tfitzmac commented on #97571
@lmhutch - thanks for this suggestion. I have added links to quickstart for deploying a logic app with Bicep or ARM templates. The update should get published later today.
#please-close

[2022-08-31 18:21] #97571 closed

[2022-08-31 18:22] ju-shim commented on #95901
Hello, we are working to refine the documents and have made lots of changes. I will add a clarifying note to the scale in document you reported on. In the meantime, our vm scale sets overview has a table with listed features that show whether or not something is supported for Flex. You can find that here: https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-

[2022-08-31 18:22] #95901 closed

[2022-08-31 18:30] ROSMITHJ-MSFT opened #97832 "Remove lines referring to "Identity security protection""
Hi Team,

I hope you're doing well! Some of the screenshots would benefit from updating, but the reason I'm writing is that there is no longer an "Identity security protection" section to see sign-ins. It is seen under the AAD Overview blade in the Monitoring tab. Many thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-08-31 18:51] jhirono commented on #97590
@LucianFrango

For access to your compute instance/cluster from batch/azureml services, we use load balancers with public IPs. We call this inbound. UDR config is for skipping firewall to accept the inbound, or allow outbound to the public IPs of compute instance/cluster. Any recommendations on how to update our documentation?

@Blackmist FYI

[2022-08-31 18:59] MarileeTurscak-MSFT commented on #97832
@ROSMITHJ-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-31 19:17] JustinGrote opened #97835 "Schema location of Policy Definition?"
The document gives the schema location of a policy rule definition but not of the policy definition itself, so there is no specified way to validate the document example is actually a valid policy definition, provide the link to the policy definiiton schema as well and include the schema in the example so users who are using for instance VSCode will get intellsense and property validation when wri

[2022-08-31 19:23] isdataninja commented on #97829
@Jak-MS , fyi

[2022-08-31 19:24] MathiasMSFT opened #97837 "Workbook Conditional Access - Unprotected application - False positive"
This workbook can show us which application was used without the CA policy. In my example, the workbook shows me that a user (who uses Teams Web) signed in through an unprotected app.
This user has switched organization (Azure portal, Web Teams, ...) and this successful login log are generated

![image](https://user-images.githubusercontent.com/94542446/187763713-46df0648-6d39-462e-9981-206cf0fb7b

[2022-08-31 19:40] spelluru commented on #97642
@tifischer - It's the limit on number of event subscriptions for a topic or a domain at any point of time. Thanks.

[2022-08-31 19:40] DrDallas commented on #97626
Correct...it is not in the referenced article. I know I saw it somewhere but cannot find it now. I'll open a new issue if I run up against it again.

[2022-08-31 19:46] mumurug-MSFT commented on #96940
@peter-equinor Thanks for reporting this issue. Based on the investigation, this is a bug, and our product team is working on the fix, and the changes will be deployed after that.

This channel is more for driving improvements towards MS Docs, and since the issue is not related to azure-docs, we will proceed to close the thread. If there are further questions, please reopen it and we will gladly c

[2022-08-31 19:47] #96940 closed

[2022-08-31 19:51] spelluru commented on #97255
This issue is with using the PowerShell command.

@aromanrod - were you able to open an issue in the PowerShell repo? Thanks

[2022-08-31 19:59] marqwrylee opened #97838 "The MFA registration report not helpfull"
The MFA registration report referenced on this page does not help with migrating from the MFA server as all the users setup in MFA Server show up as registered in this report.

I'm having lots of issues with the migration steps in total, but this is a glaring error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1aed49e

[2022-08-31 20:10] da-kil opened #97840 "App environment settings are missing"
WEBSITES_CONTAINER_STOP_TIME_LIMIT in Linux containers and CTRL_SHUTDOWN_EVENT in Windows are officially supported settings which indicates the desired shutdown time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f081389e-21ca-4d1a-80e1-d96c13ec1ffb
* Version Independent ID: 9d1246c8-bfbf-78af-e87f-4d0dd287da90
* Cont

[2022-08-31 20:12] dlepow commented on #78279
@RandyRobb - Apologies for long delay responding to this issue. I believe the issue you are describing is not specific to the documentation article/procedure where you encountered it, but is related to any gateway updates in certain service configurations at the time you reported it. According to information I've reviewed, this issue has been resolved, but if you encounter it again I suggest conta

[2022-08-31 20:12] #78279 closed

[2022-08-31 20:39] MarileeTurscak-MSFT commented on #97823
@matt-jackson-samsara
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-31 20:40] MarileeTurscak-MSFT commented on #97838
@marqwrylee
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-31 20:42] jhirono commented on #97351
Done./ @RohitMungi-MSFT  please close this issue.

[2022-08-31 20:55] onionhammer commented on #28378
Getting this after following this guide closely:
https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-multi-tenant?pivots=b2c-custom-policy

[2022-08-31 20:57] ronalson commented on #91158
Any update on this issue?

I would like to understand how to pass props as `app_build_command` within the `gitlab-ci.yml` file.

My workaround for now is to run a bash script from the `npm run build:azure` command that the image runs by default.

[2022-08-31 21:36] #97524 closed

[2022-08-31 21:56] lgayhardt commented on #94834
I'm going to close this issue for now due to no response but let us know if you are still having a problem and we can answer your question and/or reopen the issue.

Thanks!
#please-close

[2022-08-31 21:57] #94834 closed

[2022-08-31 22:03] MarileeTurscak-MSFT commented on #97837
Hi @MathiasMSFT , were you hoping to leave feedback about a particular document that should be modified, or were you hoping to relay feedback to the product team?

[2022-08-31 22:06] MarileeTurscak-MSFT commented on #97823
Thanks for your contribution! I made a pull request to update the default role. https://github.com/MicrosoftDocs/azure-docs-pr/pull/209845

[2022-08-31 22:06] #97823 closed

[2022-08-31 22:07] nathanre opened #97843 "Outdated / conflicting info on preferred_username in v1.0 tokens"
Detail on preferred_username in payload claims (states only available in v2.0 tokens) is possibly outdated and conflicts with guidance in v1.0 tokens as presented in https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims#v10-specific-optional-claims-set :

preferred_username
Provides the preferred username claim within v1 tokens. This claim makes it easier

[2022-08-31 22:27] JustinGrote commented on #97835
I cannot find an example of this anywhere so I made my own:
https://tinyurl.com/AzPolicyDefinition

[2022-08-31 22:45] v-pradda opened #97844 "Quickstart: Rooms JavaScript Code Snippet (Object names) are not matching with Actual Code in gitHub."
[Enter feedback here]
1) Open [Quickstart - Create and manage a room resource - An Azure Communication Services quickstart | Microsoft Docs](https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/rooms/get-started-rooms?pivots=programming-language-javascript)
2)Navigate to "Create a room ,Update the lifetime of a room , Add new participants and  Remove participants "sections in

[2022-08-31 23:03] flang-msft commented on #97425
Hi @yichungyu . I forwarded your inquiry to our PM team who will reach out to you with some information. I will close this issue here. If you feel the need this is unsatisfactory, please do reopen the issue.
#please-close

[2022-08-31 23:03] #97425 closed

[2022-08-31 23:06] RyanHill-MSFT commented on #97827
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-08-31 23:24] RyanHill-MSFT commented on #97835
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-08-31 23:27] RyanHill-MSFT commented on #97840
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-31 23:32] xuegao112 opened #97845 "For"
Hi team,

In this document:
https://docs.microsoft.com/en-us/azure/azure-monitor/logs/logs-data-export?tabs=portal#:~:text=InsightsMetrics

It mentioned for insightsmetrics table:
InsightsMetrics	Partial support – some of the data is ingested through internal services that aren't supported in export. This portion is missing in export currently.

However per my test there is no field lost after exp

[2022-08-31 23:32] rolyon commented on #94988
Hi @Oppedijk
Let us know if you see different behavior.
thanks

[2022-08-31 23:32] rolyon commented on #94988
#please-close

[2022-08-31 23:32] #94988 closed

[2022-08-31 23:35] rolyon commented on #96760
Hi @SetTrend
Let us know if you have any additional feedback about the docs.
thanks

[2022-08-31 23:35] rolyon commented on #96760
#please-close

[2022-08-31 23:35] #96760 closed

[2022-08-31 23:48] xelizondo commented on #68512
This took 1+ year to turn around. By now W10/11 multi-session is supported outside of Azure particularly or specifically to run on Azure Stack HCI for AVD.
Can this be updated in this page?

Can I run Windows 10 Enterprise multi-session on-premises?
Windows 10 Enterprise multi-session can't run in on-premises production environments because it's optimized for the Azure Virtual Desktop service for

[2022-09-01 00:17] sckwong opened #97847 "Need to know how to configure user provisioning and write back using OAuth Token"
SF is rolling out OAuth token to replace ID/Pwd for API authentication and the tutorial don't give any details on how that setup can be done.  Pls update the tutorial to give that details.

thank you very much

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86afa989-3f13-743e-23c5-19cc203b2aa8
* Version Independent ID:

[2022-09-01 01:34] #97843 closed

[2022-09-01 01:50] SatishBoddu-MSFT commented on #97828
@Edcorcor
I have assigned the issue to the content author for further review.

[2022-09-01 01:56] 3ummerW1nd opened #97852 "Zero Downtime Deployment with ARM Template"
I'm trying to achieve zero-downtime deployment for a durable function app using status check with slot. And I use ARM template to deploy. I use 2 taskhubs in 1 storage account and set different taskhub names in app settings in both prod slot and staging slot in ARM template. For example, in the ARM template, I have "MyTaskHub": "alpha" in the app settings of prod slot and "MyTaskHub": "beta" in th

[2022-09-01 02:48] VoltronPB commented on #93745
Yeah we are having the same issue as well would be great to be able to see this resolved

[2022-09-01 02:49] lalkirankumar opened #97854 "SQL is incorrect"
[Enter feedback here]
SQLs mentioned for the ones starting with 'Table Space' (Ex: Table space summary) due to below reasons:
1.Source View doesn't have columns that end with '_GB'
2.Though these columns are suffixed with 'GB' data actually shown is not in GBs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 473726a0-19e

[2022-09-01 02:57] YashikaTyagi-MSFT commented on #97662
@zaalion
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-01 02:58] #97662 closed

[2022-09-01 03:50] ssmiller60 opened #97855 "Warning incorrect"
The warning on this page is incorrect:
https://docs.microsoft.com/en-us/azure/expressroute/expressroute-howto-routing-portal-resource-manager#deleteprivate

**virtual networks** do not get associated with express route circuits, **connections** get associated with express route circuits

It states:
You must ensure that all virtual networks and ExpressRoute Global Reach connections are removed befo

[2022-09-01 03:55] rbWies opened #97856 "Initialize MSAL section of doc has typo in codeblock"
Initialize MSAL snippet has an equal sign where a colon should be

Existing Code
`const msal = require('@azure/msal-node');

const pca = new msal.PublicClientApplication({
        auth: {
            clientId = "YOUR_CLIENT_ID"
        }
    });`

Should Be
`const msal = require('@azure/msal-node');

const pca = new msal.PublicClientApplication({
        auth: {
            clientId: "YOUR_CLIENT_

[2022-09-01 04:01] YashikaTyagi-MSFT commented on #97847
@sckwong
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-01 04:03] YashikaTyagi-MSFT commented on #97856
@rbWies
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-01 04:09] SwathiDhanwada-MSFT commented on #97829
@isdataninja Thanks for your feedback.

Assigning to content author @linda33wj   for review.

[2022-09-01 04:19] BillClarkEarthPoint opened #97857 "Please clarify documentation about reason for adding custom health probe"
[Enter feedback here]

from the web page [https://docs.microsoft.com/en-us/azure/application-gateway/configure-web-app?tabs=customdomain%2Cazure-portal](https://docs.microsoft.com/en-us/azure/application-gateway/configure-web-app?tabs=customdomain%2Cazure-portal)

I have no idea what "for this reason" is talking about or why it is important.

The HTTP Setting will by default use the [default healt

[2022-09-01 04:24] CHEEKATLAPRADEEP-MSFT commented on #97854
@lalkirankumar  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-09-01 04:30] Venkateshdodda-MSFT commented on #97844
@v-pradda Thank you for your feedback! We will review and update as appropriate.

[2022-09-01 04:36] CHEEKATLAPRADEEP-MSFT commented on #97575
@giancarlos29 - If you encounter problems with a Microsoft service or with Partner Center itself, we're here to help. You can report the issue to Microsoft and track it until it's resolved: [Support from Microsoft](https://docs.microsoft.com/en-us/partner-center/support-from-microsoft)

[2022-09-01 04:36] #97575 closed

[2022-09-01 04:36] CHEEKATLAPRADEEP-MSFT commented on #97615
@danger2520  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-09-01 04:36] #97615 closed

[2022-09-01 04:39] CHEEKATLAPRADEEP-MSFT commented on #97637
@joshuha-msft Did you get a chance to check and approve the PR?

[2022-09-01 04:42] CHEEKATLAPRADEEP-MSFT commented on #97661
@y-dima This issue are specific to azure docs. I'm not sure which team to contact to share your feedback.

[2022-09-01 04:42] #97661 closed

[2022-09-01 04:48] SnehaAgrawal-MSFT commented on #97622
@ag0059985 Thanks for feedback! We will close this out but if you feel you need more information please just let us know.

[2022-09-01 04:48] #97622 closed

[2022-09-01 04:55] #86688 closed

[2022-09-01 05:01] CHEEKATLAPRADEEP-MSFT commented on #97581
@mikeleuer - As per the repro from our end. We are able to succesfully able to run the global init script as the status shown as below:

![image](https://user-images.githubusercontent.com/79183421/187834967-f54decba-3253-48c8-b36a-ecbf6408753f.png)

In case, if you are exepreincing error message, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en

[2022-09-01 05:01] #97581 closed

[2022-09-01 05:02] RohitMungi-MSFT commented on #97778
@ardilluca The link should be working now. We will now proceed to close this thread.

[2022-09-01 05:02] #97778 closed

[2022-09-01 05:08] RohitMungi-MSFT commented on #97351
Thanks @jhirono.

[2022-09-01 05:08] #97351 closed

[2022-09-01 05:12] mikeleuer commented on #97581
Did you check if the config was set

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: CHEEKATLAPRADEEP-MSFT ***@***.***>
Sent: Wednesday, August 31, 2022 10:01:52 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Mike Leuer ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [MicrosoftDocs/azure-docs] Databricks documentation did not work (Issue #97581)

[2022-09-01 05:16] YashikaTyagi-MSFT commented on #97680
@savvush
Thanks for contributing towards enhancement of the Documents. Following changes have been made in the document by the author and changes are reflected in the document itself.
https://docs.microsoft.com/en-us/azure/defender-for-cloud/integration-defender-for-endpoint?tabs=windows

[2022-09-01 05:16] #97680 closed

[2022-09-01 05:20] #74447 closed

[2022-09-01 05:39] mike-urnun-msft commented on #97550
Hello @CraigGemmill  - You can read the values of app setting (as Environment variable in Java Functions) as shown here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-java?tabs=bash%2Cconsumption#environment-variables

Since we didn’t determine any changes to this documentation upon reviewing this feedback, we will now proceed to close this thread. If there are further

[2022-09-01 05:39] #97550 closed

[2022-09-01 05:43] CHEEKATLAPRADEEP-MSFT commented on #97581
@mikeleuer Yes, the configuration was set - please check the details:

![image](https://user-images.githubusercontent.com/79183421/187840161-d28fb064-3cb4-49b3-94f6-b6a64f3f620d.png)

[2022-09-01 05:51] SwathiDhanwada-MSFT commented on #97733
@ToruMakabe Thanks for your dedication to our documentation! We've created an internal work item to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as necessary.

[2022-09-01 05:51] #97733 closed

[2022-09-01 05:54] haohighview opened #97858 "Is there a limit to the number of chat threads? What is the maximum number of chat threads that can be created?"
Is there a limit to the number of chat threads?
What is the maximum number of chat threads that can be created?
Will the chat thread automatically destroy the code if it is not used for a long time?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9083c4c3-dd89-b628-84e3-77faf5765bac
* Version Independent ID: b4e04b2d-7b

[2022-09-01 05:54] ToruMakabe commented on #97733
@SwathiDhanwada-MSFT Thanks!

[2022-09-01 06:01] SwathiDhanwada-MSFT commented on #97798
@ShingoHanai Thanks for your dedication to our documentation! We've created an internal work item to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as necessary.

[2022-09-01 06:01] #97798 closed

[2022-09-01 06:31] virkoth opened #97859 "Parameter in Azure ADF Data Flow SQL Query"
Dear Experts,

Hope someone can throw some light on leveraging Parameter in Azure Data Flow Query.

I want to use Parameter (Date) in SQL Query of a Data Flow in ADF via Pipeline, where the value is coming from a pipeline Variable.
I could pass the parameter but the execution is giving me a following error.

`The store configuration is not defined. This error is potentially caused by invalid param

[2022-09-01 06:33] yyordanov opened #97860 ""Deploy with Azure DevOps" point 3 is out-dated"
The content for section "Deploy with Azure DevOps" point 3 is out-dated. The task display name has been renamed to "ARM Template deployment"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10846a19-893f-4d39-326d-66a7e4e1983c
* Version Independent ID: d9888016-e329-ba76-ab3d-12e0c84863e4
* Content: [Deploy logic app tem

[2022-09-01 06:38] norregaard opened #97861 "Azure API Management is missing subResource information"
Azure API Management is missing **subResource** information which is: **Gateway**
This information is important as it is used as a parameter for Azure Policies for automatically creating A records in private DNS zones for private endpoints.

Br. Jakob

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a88af182-32aa-a8f3-35

[2022-09-01 06:41] Psychotechnopath opened #97862 "Question about IntelliJ plugin"
Will this functionality be available for PyCharm?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c98433a-f94d-f2d1-1953-bbe5ea26d052
* Version Independent ID: 475cf5a5-822b-566c-f1c8-34a60408a51d
* Content: [Tutorial - Azure Toolkit for IntelliJ (Spark application) - Azure Synapse Analytics](https://docs.microsoft.com

[2022-09-01 06:42] Psychotechnopath commented on #67976
I Second this question

[2022-09-01 06:46] xujiongda commented on #73981
Hi @sreekzz ,
It looks like the issue has already been fixed.

You can see the encoding error in old version.
https://github.com/MicrosoftDocs/azure-docs/blob/4e0f78fc35b0066077e99b4a9bcd990f6148bd4c/articles/hdinsight/hdinsight-hadoop-provision-linux-clusters.md

![image](https://user-images.githubusercontent.com/39774267/187849496-ec6f84eb-8446-477f-baf6-5f55f9f917bc.png)

Current:
![image](http

[2022-09-01 06:51] #73981 closed

[2022-09-01 07:08] TalllPaul commented on #85718
I can confirm it still isn't working, just trying out this tutorial. I get the same exception as above using the Cloud Shell PowerShell.

[2022-09-01 07:25] bmansheim commented on #97748
@takeakitake Good point. They are all the same. We'll rewrite the section.

[2022-09-01 08:09] MayankBargali-MSFT commented on #97852
@3ummerW1nd Thank you for your feedback! We will review and update as appropriate.

[2022-09-01 08:11] MayankBargali-MSFT commented on #97860
@yyordanov Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-09-01 08:29] yinoa opened #97863 "How does traffic manager probe if one application gateway backend pool down?"
[Enter feedback here]
 In this guide, there are two backend pools of application gateway: images and default.

If we configure path "/" in traffic manager endpoint monitor settings,  it will only monitor the default backend pool.

If images backend pool down,  traffic manager cannot detect it. The requests to image will be failed.

How can we avoid this issue?

---
#### Document Details

⚠ *Do not

[2022-09-01 08:39] SwathiDhanwada-MSFT commented on #97845
@xuegao112 Thanks for your feedback.

Assigning to content author @yossi-y  for review.

[2022-09-01 08:44] SwathiDhanwada-MSFT commented on #97738
@EdB-MSFT Can you please review this issue and add the requested logs ?

[2022-09-01 09:16] muhammadsalmanafzal commented on #59665
any updates on this feature?

[2022-09-01 09:19] kengaderdus commented on #97712
#please-close

[2022-09-01 09:19] #97712 closed

[2022-09-01 09:23] AjayBathini-MSFT commented on #97752
@kengaderdus
Please review it.

[2022-09-01 09:25] YashikaTyagi-MSFT commented on #97686
@weyCC81
I found this Microsoft document. This might help you out in checking the MAU Limit/Statistics.
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-authentication-methods-activity

[2022-09-01 09:28] bmansheim commented on #97748
#reassign: @bmansheim

[2022-09-01 09:28] SaibabaBalapur-MSFT commented on #97781
@fei0x
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@kengaderdus

Please review it .

[2022-09-01 09:35] sergiosolorzano opened #97865 "IOT_DPS_ID_SCOPE empty"
Hi, I can connect to wifi when I flash mxchip but I get this error at connection.

ERROR: azure_iot_nx_client_dps_entry incorrect parameters as shown in Termite:

`Initializing WiFi
	MAC address: XX:XX:XX:XX:XX:XX
SUCCESS: WiFi initialized

Connecting WiFi
	Connecting to SSID 'MYSSID'
	Attempt 1...
SUCCESS: WiFi connected

Initializing DHCP
	IP address: XXX.XX.XX.X
	Mask: 255.255.255.XXX
	Gateway:

[2022-09-01 09:41] RachidAZ commented on #65655
anybody knows the name of the created service principal behind the scene ? it doesn't look like it's  AzureDatabricks enterprise app.
Thanks.

[2022-09-01 10:46] premjha9625 commented on #65782
can u please share your template file.

[2022-09-01 11:01] the-sentinental-guy commented on #97614
It's been 6 days and no response on the issue. Does Microsoft or the author doesn't have an answer for this?

[2022-09-01 11:03] RamanathanChinnappan-MSFT commented on #97684
@mike-urnun-msft ,

Please looking to the issue

[2022-09-01 11:31] dgpoulet opened #97867 "Add More Detail on the Conflict Feed"
Could we add some more detail on the "conflict feed"?

There are two pages on conflicts in Cosmos DB - the "Conflict types and resolution policies when using multiple write regions" page doesn't mention the feed at all, and this page which mentions the conflict feed but doesn't explain what it is. So it says things like "Conflicts resolved with this policy do not show up in the conflict feed", and

[2022-09-01 11:41] weyCC81 commented on #97686
That is the documentation for the Link i have added, but how do i calculate the MAU from
that? (Was not able to find MAU on this page)

[2022-09-01 11:46] andresfaria-ms opened #97869 "keep-alive for MSIE6 User-Agent"
[Enter feedback here]

Hi, the Application Gateway by design responds with HTTP header "Connection: close" to User-Agent containing MSIE6, could you please include this statement in the documentation for customers to be aware of it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88466307-81b8-1e5b-7f2c-191d8e818071
* V

[2022-09-01 11:46] ManoharLakkoju-MSFT commented on #97674
@wardkeller
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.
@Gargi-Sinha
Please review this.

[2022-09-01 11:59] dgpoulet opened #97870 "Contradiction in Custom Policy / Conflict Feed text?"
Could we clarify what happens with Custom Conflict Resolution policies - there seems to be a contradiction in this page as to when items go onto the Conflict Feed when using a Custom Conflict Resolution policy:

1. In the section titled "**Create a custom conflict resolution policy using a stored procedure**" it says "These conflicts don't show up in the conflict feed unless there's an error in yo

[2022-09-01 12:04] ManoharLakkoju-MSFT commented on #97753
@kengaderdus
Please look into this and do needful.

[2022-09-01 12:14] MathiasMSFT commented on #97837
Hi @MarileeTurscak-MSFT , yes my comment is to this article: https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/active-directory/reports-monitoring/workbook-conditional-access-gap-analyzer.md

[2022-09-01 12:17] nbachm commented on #95675
Same issue here. Solved by downgrading to 2.37.0.

[2022-09-01 12:48] sergiosolorzano commented on #97865
Found the culprit, in case anyone runs in this issue, I found enabling diagnostics and waiting a bit after trying to connect logged there was an authentication problem. I created the SAS key y'day and it probably expired , renewing the primary key of the iot hub - in iothub ->shared access policies->iothubowner. Updated the flashed script and connected fine.

[2022-09-01 12:48] dgrospelier opened #97871 "Error in a link for Consumption IP Addresses"
Hi,
In the following paragraph
(
https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-ip-addresses#:~:text=for%20traffic%20restriction%20purposes%2C%20you%20can%20use%20the%20range%20of%20ip%20addresses%20of%20azure%20data%20centers.%20refer%20to%20the%20azure%20functions%20documentation%20article%20for%20precise%20steps.
)

there is a link on another topic but it looks like

[2022-09-01 12:55] bmansheim commented on #97748
#please-close

[2022-09-01 12:55] #97748 closed

[2022-09-01 13:01] iphydro commented on #96371
Hello, we noticed the documentation has been updated. Following the updated guide we have been successful in setting up HCX over internet connectivity. Thank you very much for the added details and screenshots!

[2022-09-01 13:01] #96371 closed

[2022-09-01 13:08] howlieT opened #97872 "Syntax errors in sample code"
Many of the code samples on this page contain either errors or are hard to parse.

The samples relating to connection string credentials do not make it clear that the [ ]  should not form part of the credential string

The code sections relating to creating an Indexer are different in both instances, both are missing a closing bracket from the final array, and if the second sample is used with nul

[2022-09-01 13:11] mumurug-MSFT commented on #97861
@norregaard Thanks for your feedback. We will review and update as appropriate.

[2022-09-01 13:14] mumurug-MSFT commented on #97871
@dgrospelier Thanks for your feedback. We will review and update as appropriate.

[2022-09-01 13:24] chjone opened #97873 "typo in the "What happens if I don't upgrade?" section"
[Enter feedback here]
Azure AD Connect Health will stop working after **December 20222**. We will auto upgrade all Health agents to a new version before the end of 2022, but we cannot auto upgrade if you are running AADConnect V1 due to compatibility issues with V versions.

Should read "December 2022"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-09-01 13:24] GeethaThatipatri-MSFT commented on #97870
@dgpoulet Thank you for reaching out, I'm assigning this to the author to provide more information.

[2022-09-01 13:26] chjone opened #97875 "Typo in the "Retiring Azure AD Connect 1.x versions" section"
[Enter feedback here]
"AADConnect V1.x will stop working on December 31, 2022, due to the decommisioning of the ADAL library service on that date."

decommissioning is misspelled and should have 2 - S's

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57f5478b-3132-21d0-a420-a1140db235de
* Version Independent ID: 266bbd1

[2022-09-01 13:30] SwathiDhanwada-MSFT commented on #97685
@Jiannko The document you are referring to is related to SharePoint. However, if you like to capture video insights using azure service, I suggest you check out Azure Video Indexer service which enables you to extract the insights from your videos. For more information, refer [this documentation](https://docs.microsoft.com/en-gb/azure/azure-video-indexer/video-indexer-overview).

As there are no f

[2022-09-01 13:30] #97685 closed

[2022-09-01 14:01] mumurug-MSFT commented on #97861
@norregaard I have reviewed the docs and the section already has listed API gateway endpoint (azure-api.net) as well as developer portal endpoint (developer.azure-api.net). See below:

![image](https://user-images.githubusercontent.com/95652148/187932012-3d498cb8-e8e0-44e0-8856-07ede512e5a2.png)

[Endpoints configured by default](https://docs.microsoft.com/en-us/azure/api-management/api-management

[2022-09-01 14:06] FMERI001 opened #97877 "Instructions for adding performance counters no longer match portal views"
The instructions ask you to go into Setup then the Advanced section. That section no longer exists. The activities must now be performed in the, legacy agent management section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff08de1c-1661-5523-0f1a-eca1fd34c3e9
* Version Independent ID: 64502dfc-db1c-ad5e-fa61-02e0163f

[2022-09-01 14:19] USRSRBrymer opened #97878 "This page has a self-referencing link! You click the the link that says See Enable VM insights on unmonitored machine and it opens the same page in a diffent browser tab."
[Enter feedback here]

This page has a self-referencing link! You click the the link that says See Enable VM insights on unmonitored machine and it opens the same page in a diffent browser tab
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4deb647-c4fd-194d-c2aa-38b40017ee52
* Version Independent ID: ec12b0f4-74d9-e4d7

[2022-09-01 14:26] anceng opened #97880 ""Password - Azure Key Vault" and "Private key - Azure Key Vault" steps are identical"
The steps under "Password - Azure Key Vault" and "Private key - Azure Key Vault" are identical, they both discuss using an SSH Private Key stored as an Azure Key Vault Secret as the login method. The steps under "Password - Azure Key Vault" should describe how to use a password stored as an Azure Key Vault Secret instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-09-01 14:28] Klaas- commented on #90293
Hi,
so  this is still wrong nearly half a year later.
@Karishma-Tiwari-MSFT / @rdeltcheva  / @dennispadia can we get this documentation changed so it actually works? :)

[2022-09-01 14:29] anceng commented on #97880
This is also the case with the documentation for connecting to a Windows VM using SSH:
https://docs.microsoft.com/en-us/azure/bastion/bastion-connect-vm-ssh-windows

[2022-09-01 14:53] ericd-mst-github commented on #97820
Hi @jgeck09

Thank you for your feedback. I have confirmed with engineering that moving VMs with VM Apps to different resource groups are indeed not supported. I apologize for the inconvenience and have updated out documentation.

#please-close

[2022-09-01 14:53] #97820 closed

[2022-09-01 14:54] gmndrg commented on #97872
Hello @howlieT thank you for reporting this and sharing an updated version. We will review and update as needed.

[2022-09-01 15:22] JamesTran-MSFT commented on #97873
@chjone
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.
![image](https://user-images.githubusercontent.com/36619112/187951555-a467a515-d67a-44a4-8c27-c325fdbaf7ba.png)

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time a

[2022-09-01 15:22] #97873 closed

[2022-09-01 15:22] PrometheusRising1 opened #97881 "Clarify with Examples"
For Azure AD Features and Limitations section for Azure SQL DB and SQL Managed Instance, could you please provide clarifications via example (or linked article to more examples) of when these limitations would typically apply?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd442195-16c7-05d6-6dba-41cb73deeab4
* Version

[2022-09-01 15:22] chjone commented on #97873
Thanks!

_________________________________________
Chris Jones | Director of Technical Strategy
Microsoft SLG | 757-968-6121

Typing with thumbs—please excuse typos and brevity.
________________________________
From: James Tran-MSFT ***@***.***>
Sent: Thursday, September 1, 2022 11:22:15 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Chris Jones ***@***.***>; Mention ***@***.***>
Subject: Re: [M

[2022-09-01 15:25] JamesTran-MSFT commented on #97875
@chjone
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.
![image](https://user-images.githubusercontent.com/36619112/187952307-42b6cad3-d09c-4ab8-a99a-73d1d1cfa820.png)

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time a

[2022-09-01 15:41] ChaitanyaNaykodi-MSFT commented on #97855
Thank you for your feedback! We will review and update as appropriate.

[2022-09-01 16:11] SatishBoddu-MSFT commented on #97859
Hello @virkoth
Could you please let us know the exact MS Document link to which you have referred? I need to add the metadata so that we triage this issue as soon as possible. Thanks for your understanding.

[2022-09-01 16:16] SatishBoddu-MSFT commented on #97857
@BillClarkEarthPoint
I have assigned the issue to the content SME for further review.

[2022-09-01 16:18] WilliamDAssafMSFT commented on #97854
Hi @lalkirankumar! Thanks for taking the time to provide this feedback.
1. The provided view `vTableSizes` does have columns that end in `_KB`, `_MB`, `_GB`, and `_TB`. Can you be more specific?
2. Can you be more specific as to why you think the data is not displaying accurately in GBs?

[2022-09-01 16:23] crystalgeek opened #97882 "How are role-assignable groups protected? should state Owner of Group"
How are role-assignable groups protected? section reads

This section should state that either RoleManagement permission or group Owner can manage the group membership.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1414bc2-4151-b667-65f5-b44f2bf582a1
* Version Independent ID: b93aee66-1769-8d98-fea5-ebca3a12d5fc
* Con

[2022-09-01 16:24] SatishBoddu-MSFT commented on #97862
@Psychotechnopath
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-09-01 16:29] SatishBoddu-MSFT commented on #97863
@yinoa
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-09-01 16:29] GeethaThatipatri-MSFT commented on #97881
Hi, @PrometheusRising1 Thank you for reaching out. We will look into it and update you as appropriate.

[2022-09-01 16:34] ChaitanyaNaykodi-MSFT commented on #97869
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-09-01 16:38] ChaitanyaNaykodi-MSFT commented on #97880
Thank you for your feedback! We will review and update as appropriate.

[2022-09-01 16:42] yossi-y commented on #97845
Hello,
Data export is supported in the Azure Monitor pipeline, while there are flows that are yet through the old pipeline. InsightsMetrics has two flows and it might be that your data is exported in full. I believe that the other flow to InsightsMetrics is related to ServiceMap, and if you aren’t using it, your data is complete.

thanks,

[2022-09-01 16:42] YashikaTyagi-MSFT commented on #97877
@FMERI001
I have assigned issue to the content SME for Further review.

[2022-09-01 16:51] SatishBoddu-MSFT commented on #97878
@USRSRBrymer
I have assigned the issue to the content SME for further review.

[2022-09-01 16:52] SatishBoddu-MSFT commented on #97882
@crystalgeek
I have assigned the issue to the content SME for further review.

[2022-09-01 16:59] nssidhu opened #97883 "image quality are very poor and unreadable"
[[Enter feedback here]](https://docs.microsoft.com/en-us/azure/azure-sql/database/private-endpoint-overview?view=azuresql#approval-process)

Image is not readable, please put high definition picture. the current one is of not much use

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c7151f8-cebf-0019-b028-b414faa1ac24
*

[2022-09-01 17:02] rvandenbedem commented on #96711
@suzizuber - Can you close this Issue plz?

[2022-09-01 17:31] GeethaThatipatri-MSFT commented on #97883
Hi, @nssidhu Thanks for your feedback! We will look into it and update you as appropriate.

[2022-09-01 17:43] daj102 opened #97884 "Tumbling Window frequency values should also include Month"
The listed values for frequency of the Tumbling Window trigger are minutes and hours ... the UI also shows Months.  Should that be added to the list of allowed values?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 301444c9-ee60-645b-a5d9-9c8897704b54
* Version Independent ID: b0c9414a-ee16-1cf5-8d04-89f64d001e94
* Con

[2022-09-01 17:44] matthchr commented on #96027
If the pattern is that we don't document First Party optional claims, then feel free to close this.

[2022-09-01 18:13] bandersmsft commented on #97808
@helderpinto I'm looking into this will the Cost Management engineering team.

[2022-09-01 18:13] bandersmsft commented on #97819
@helderpinto I'm looking into this with the Cost Management engineering team.

[2022-09-01 18:15] pagariyaalok commented on #89178
We are rolling out updates to windows containers on App Service starting Sept 2022 and will gradually rollout globally. This will enable various scenarios including bring pull from VNET connecting ACR with user name password , MSI scenarios and also Azure AKV reference in App Settings.

[2022-09-01 18:18] josvnguyen opened #97885 "How does the Repair work against multiple Agent machines?"
Repair-AADCloudSyncToolsAccount

How does the repair work against multiple machines?  If we are required to change the password, how do we accomplish this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b231c00-1094-b822-0870-032d28fe0c05
* Version Independent ID: 1b95f0e4-fdbe-1128-2e15-184f8aeb496b
* Content: [Azure

[2022-09-01 18:39] suzizuber commented on #96711
#please-close

[2022-09-01 18:39] #96711 closed

[2022-09-01 18:56] mike-urnun-msft commented on #96665
@happyadam73 Thanks again for sharing this feedback and reporting the issue. I've created a PR that fixes the step where `docker push ..` is used.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-09-01 18:56] #96665 closed

[2022-09-01 19:06] xdhunt opened #97888 "password complexity policy for Azure Database for PostgreSQL Server 11"
Hello Guys,

Is there any way to configure a password policy Azure Database for PostgreSQL Server 11 ?

Like password length, minimum lower characters, special characters, password validity, etc.

[2022-09-01 19:46] MartinJaffer-MSFT commented on #96491
Alright.   You have convinced me @axcap .  Since it doesn't happen when I do it, but you clearly can reliably reproduce the bug, I'd like to give you a support ticket so our engineers can dig into the backend and find out what's causing this.

If you do not have a support plan, email us at azCommunity@microsoft.com .
For subject: attn MartinJaffer-MSFT
In body please include your subscription id,

[2022-09-01 20:22] gvanteylingen opened #97890 "Incorrect statement"
The following sentence:
Mounting NFSv4.1 volumes on Windows clients is supported.

Should read:
Mounting NFSv4.1 volumes on Windows clients is NOT supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1c4691a-bc1e-3a5e-4849-a4ab11eb3f17
* Version Independent ID: 6ca9ad64-3a8e-69f7-0eca-471d3e0e3706
* Content: [Mou

[2022-09-01 20:26] suzizuber commented on #92928
#reassign: @rvandenbedem

[2022-09-01 20:26] PabloG-MSsupport opened #97891 "Documentation is not accurate"
Hello
Thank you for reading,

On the "Access on-premises resources" section it says that I need to update manually the on-prem address prefixes,  which is fine but it also says in the last sentence "You can't have BGP configured with a site-to-site VPN connection." This is not accurate and should be remove since it can cause misunderstandings.

Also it would be great if you add a section referenci

[2022-09-01 20:42] FMERI001 commented on #97877
This is minor but related. It might help people to perform step 8 if you let them know that when they add the performance counters, they might not appear in the drop-down list but that doesn't mean it won't work. It took me and several of my colleagues in the wrong direction because we were expecting them to appear in the dropdown list, but that is not required you can still add them and it will w

[2022-09-01 20:55] mccoyer001 opened #97892 "BGP support for S2S is supported but wording says otherwise"
Under **Access on-premises resources**
The statement seems incorrect. **"You can't have BGP configured with a site-to-site VPN connection."**
Is this in error or is this statement out of data since BGP for S2S is definitely supported.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077513b8-750f-13f3-b973-36a7b53b8562
*

[2022-09-01 21:39] MarileeTurscak-MSFT commented on #97686
Hi @weyCC81,

There is a workbook here that you can use to estimate the monthly active users. https://github.com/JeffBley/Guest-MAU-Workbook

I don't think you can filter for Guest users from the Sign-ins by authentication requirement graph. However, you should be able to see the same thing from the sign-in logs if you filter by Single-Factor and Multi-Factor Auth.

<img width="1089" alt="image" s

[2022-09-01 21:48] MarileeTurscak-MSFT commented on #97837
Thanks! Could you clarify if you would like something updated in the document itself?

[2022-09-01 21:49] huslayer opened #97895 "Can't find Azure Map"
On Version July 2022 and there's no such Azure Maps !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2fc3c20-55a1-7535-b6d9-9b0c018f6338
* Version Independent ID: ddf86049-d4fa-05c4-9e96-1388a26dc4b1
* Content: [Add a heat map layer to an Azure Maps Power BI visual - Microsoft Azure Maps](https://docs.microsoft.com/en

[2022-09-01 21:53] PatAltimore commented on #97362
Hi @ddobric ,

We'll be working on an update to this article soon. We'll incorporate the feedback in the update. I'll leave this issue open until we complete the update.

Thanks,
Pat

[2022-09-01 21:58] huslayer commented on #97895
found it! it's a preview feature

[2022-09-01 22:05] mikeleuer commented on #97581
What setting do you have for your cluster? Are you using the legacy global int. I am curious maybe it something I have set wrong.

![image](https://user-images.githubusercontent.com/97471415/188021007-248f0b85-def5-4a80-9a94-a38b3b1db64e.png)

![image](https://user-images.githubusercontent.com/97471415/188020846-b5285169-0c75-4957-845f-c47a47d4b71a.png)

[2022-09-01 22:07] MarileeTurscak-MSFT commented on #97506
@ishchatul can you please provide more details about this and an example, as well as more details about what were you hoping to see covered in the documentation?

[2022-09-01 22:39] PatAltimore commented on #97247
Thanks, @micahl ,

I've clarified the descriptions. The change will be published soon.

Thanks,
Pat

#please-close

[2022-09-01 22:39] #97247 closed

[2022-09-01 22:44] MarkBratton opened #97896 "Information Barriers missing from M365 A3 products"
Hello - It was brought to my attention that the M365 A3 offers on this page are not reflecting that Information Barriers service plan is included:  c4801e8a-cb58-4c35-aca6-f2dcc106f287	INFORMATION_BARRIERS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16de

[2022-09-01 22:49] roygara commented on #97743
Thanks for reaching out @msaustral . I recommend you reach out to AskContainerStorage@microsoft.com, hopefully they'll be able to assist.

I've updated the docs to reflect the current state so, I'm going to close this issue, since GitHub issues are strictly for documentation issues.

#please-close

[2022-09-01 22:50] #97743 closed

[2022-09-01 22:57] YutongTie-MSFT commented on #97821
Hello @darwin-xu  Could you please share more details of your system, what's your versison? Thanks.

[2022-09-01 23:50] MathiasMSFT commented on #97837
Hi @MarileeTurscak-MSFT. I changed the description, it's better ?

[2022-09-02 00:03] PatAltimore commented on #96736
Hi @codeminic ,

We recently updated the article for 1.4. Version 1.1 and 1.3 content is the same. I clarified the example is for 1.1 and you need to update the image version if using 1.3. I hope that helps. The change should be published soon.

Thanks for the feedback. I'm going to request this issue be closed. #please-close

Thanks,
Pat

[2022-09-02 00:03] #96736 closed

[2022-09-02 00:36] J227668 opened #97899 "GCCH/Azure Gov"
Hi - Does this work for GCCH / Azure Gov?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51ada37b-33e9-6eaf-7676-53e4f1904d82
* Version Independent ID: dd720ef1-5c71-e843-1546-1c68c9411ee6
* Content: [Tutorial: Configure Workday inbound provisioning in Azure Active Directory - Microsoft Entra](https://docs.microsoft.co

[2022-09-02 01:02] m-yuka746 opened #97900 "A validity time period is not correct at "Update a webhook""
It is "1 year" not "10 years" at section "Update a webhook". Could you fix it?

_When a webhook is created, it has a validity time period of 10 years, after which it automatically expires_
https://docs.microsoft.com/en-us/azure/automation/automation-webhooks?tabs=portal#update-a-webhook

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2022-09-02 01:30] darwin-xu commented on #97821
Sure no problem.

macOS version: 12.5.1

dotnet version: 6.0.400

microsoft.cognitiveservices.speech.cli version: version '1.23.0'

The spx.dll is in PE32+ format, I don't know if it supports apple silicon or not.
[code]

I have another macOS with intel chip, which works totally fine for speech CLI.

[2022-09-02 02:06] Netyyyy opened #97901 "[BUG] Wrong Azure Cli Command in doc"
**Describe the bug**
When Building a sample Spring Boot app with Spring Boot starter, [step 4](https://docs.microsoft.com/en-us/azure/spring-apps/tutorial-managed-identities-mysql#build-a-sample-spring-boot-app-with-spring-boot-starter) has an error.

***Exception or Stack Trace***
Azure CLI can't recognize the parameter `--group`

**Expected behavior**
Replace `--group` to `--resource-group`/`-g`

[2022-09-02 02:34] msangapu-msft commented on #76368
@yeahsicy Thank you for your feedback. We've considered it and don't plan to make any changes at the moment, but will keep it in mind.

#please-close

[2022-09-02 02:34] #76368 closed

[2022-09-02 02:36] msangapu-msft commented on #95649
#please-close

[2022-09-02 02:36] #95649 closed

[2022-09-02 02:57] RyanHill-MSFT commented on #97891
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-09-02 03:36] YashikaTyagi-MSFT commented on #97899
@J227668
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-02 03:37] YashikaTyagi-MSFT commented on #97896
@MarkBratton
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-02 03:45] chris-han opened #97903 "Device Pairing need to be checked at Prerequisites session"
[Enter feedback here]
If the device is never paired with the dev machine, the debuging won't bring up the pairing GUI. User need to 'deploy' the solution first in order to kick off the pairing process.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91eeee3e-7a79-9ed6-5e33-cef6d23cc4b3
* Version Independent ID: 098ead41

[2022-09-02 04:11] AjayKumar-MSFT commented on #97865
sergiosolorzano, Thanks for sharing the solution that worked for you with the community. Much appreciated the update.

[2022-09-02 04:13] AjayKumar-MSFT commented on #97892
@mccoyer001,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-09-02 04:35] AnuragSharma-MSFT commented on #97888
@xdhunt Could you please provide the Microsoft doc link you are referring to?

[2022-09-02 05:17] SwathiDhanwada-MSFT commented on #97884
@daj102 Thanks for your comment. We will review the issue and get back to you shortly.

[2022-09-02 05:20] SwathiDhanwada-MSFT commented on #97885
@josvnguyen Thanks for your reaching out.

Assigning to content author @billmath  for review.

[2022-09-02 05:21] SwathiDhanwada-MSFT commented on #97890
@gvanteylingen Thanks for your comment. We will review the issue and get back to you shortly.

[2022-09-02 06:40] kudlatiger opened #97906 "TLS version can be set only from resource manager json? Is it not supported in Azure portal?"
How do we set TLS version to existing device provisioning service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f3da4a1-0935-5dbe-5f28-fd3d3d8ccbf8
* Version Independent ID: 160c45e8-3728-f18e-4bd9-d90a26966a6a
* Content: [Azure IoT Device Provisioning Service (DPS) TLS support](https://docs.microsoft.com/en-us/azur

[2022-09-02 07:16] alevincenzi opened #97908 "Cleanup list of testing tools"
The cleanup of the testing tools `iotdegec` and `toolboc` from the documentation is incomplete.

I refer to these two past commits: https://github.com/MicrosoftDocs/azure-docs/commit/c74fbb28477968f1f4cc169ef0552ac775765378 https://github.com/MicrosoftDocs/azure-docs/commit/f6cf94d13bf882b0f4525adcc62c9a14a6505666

You removed the line in the table but not the paragraph and vice-versa.

You should

[2022-09-02 07:28] raymar opened #97909 "Bug in the Call Image Analysis Demo (Python)"
I think there is a bug in the code for [Call Image Analysis](https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/how-to/call-analyze-image?tabs=python). Instead of

[code]

it should be

[code]
I would say
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46e0ccf9-a032-6201-f0c3-e2424404aa35
* Version

[2022-09-02 08:06] jeesang7 opened #97910 "Check LUIS prediction endpoint URL"
Depending on the cloud and container, the prediction endpoint is different.

[Cloud](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-get-started-get-intent-from-browser?tabs=V3-1-1%2CV3-2-1%2CV3-3-1#use-the-browser-to-see-predictions)
`/luis/prediction/v3.0/apps/{appId}/slots/{slotName}/predict?`

[Container](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-c

[2022-09-02 08:14] kaito-ms opened #97911 "Need updated screenshots of the creation of network connections."
The screenshot of the creation of the network connection is different from the screenshot at the moment and misses the operation.

Documentation Screenshots:
![image](https://user-images.githubusercontent.com/93104616/188091905-6ec138e8-a571-4791-be95-14c5aedead9a.png)

Current screenshot:
![image](https://user-images.githubusercontent.com/93104616/188095592-04592411-2c93-4956-bfa1-d0789e9dd998.pn

[2022-09-02 08:39] jbennink opened #97912 "The first common issues and solution only works for Microsoft Accounts *not* Organisational accounts"
The section **You see the message “We cannot proceed with sign-up due to an issue with your account. Please contact billing support”** in setup 1 suggests to signin to the account center but the url only works for Microsoft Accounts. We have an Azure subscription that uses Organisational accountss so this step will not work.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2022-09-02 08:41] jackcaplin opened #97913 "What is the missing word"
Hello,

What is the missing word in the document?

either [*******] or a hybrid environment

"Only Windows machines that are joined to either or a hybrid environment can test SmartCard logon."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: add7ba93-5dec-f033-c42a-ce94a7a461f3
* Version Independent ID: a5cfa4c8-ee72-0bf

[2022-09-02 08:49] jeesang7 commented on #97910
Additionally, in swagger, I see that there are two endpoints. There doesn't seem to be any difference between these two, but I'm curious what is the difference.

<img width="1489" alt="스크린샷 2022-09-02 오후 5 40 49" src="https://user-images.githubusercontent.com/30719956/188101974-b9157ec2-45b2-495a-ac9e-e88bd8567574.png">

[2022-09-02 08:59] yikeren1022 opened #97914 "You must add 0.0.0.0 to the list of allowed IPs from your Azure Cosmos DB firewall."
[Enter feedback here]
there is a statement that
You must add 0.0.0.0 to the list of allowed IPs from your Azure Cosmos DB firewall.
however, we noticed if we allow access from azure service without adding 0.0.0.0, it can work
can you kindly confirm if we need to revise this statement
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2022-09-02 09:11] xboxeer opened #97915 "This deployment never works if I follow your instructions to deploy an ASP.NET CORE 6 website"
[Enter feedback here]

---
#### Document Details
I created a sample ASP.NET Core 6 project, use dotnet publish command to build it, and package the publish folder into a zip file, then I run the command suggested by this page
`az webapp deploy --resource-group {resourceGroupName} --name {appServiceName} --src-path "zip file path" --debug`

Turns out it do uploads my zip file to wwwroot, and unpack

[2022-09-02 09:17] YashikaTyagi-MSFT commented on #97913
@jackcaplin
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-02 09:24] daveak01 opened #97916 "Misleading screenshot under "Pre-work for seamless SSO""
The screenshot under "Pre-work for seamless SSO" is incorrect and misleading, the screenshot has the wrong command, and it has a domain populated, which would not be true for an environment that does not have SSO configured.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f2a7330-82fa-9c0d-0f34-b2a99ef13c64
* Version I

[2022-09-02 09:26] YashikaTyagi-MSFT commented on #97913
@vimrang
As per my understanding, the missing word is Azure AD.
The sentence should be "Only Windows machines that are joined to either  Azure AD or a hybrid environment can test SmartCard logon."
Could you confirm the same ?

[2022-09-02 09:32] jackcaplin commented on #97913
Anecdotally, this appears to be correct, as per https://techcommunity.microsoft.com/t5/microsoft-entra-azure-ad-blog/check-out-new-azure-ad-certificate-based-authentication-cba/ba-p/2365682

" On Azure AD join devices and Hybrid Azure AD join devices, once the user logs into Windows with a certificate,"

GA Release of Windows 11 22H2, on the 20th

Best,
Jack

________________________________
From:

[2022-09-02 09:41] urbantz-technical-support opened #97918 "Ephemeral storage and Dasv5 and Dadsv5-series VM's"
We are looking to move away from using `Standard_D4as_v4` in our AKS clusters but the usage of [Ephemeral storage](https://docs.microsoft.com/en-us/azure/aks/cluster-configuration#ephemeral-os) is mandatory for us.

The documentation says we need to pay attention to
[code]

But that doesn't exist for any variant of the v5 version. I find it hard to believe that a newer generation process/machine w

[2022-09-02 09:56] YashikaTyagi-MSFT commented on #97916
@daveak01
We have assigned the issue to author for further investigation.

[2022-09-02 10:03] SetTrend commented on #97499
Thanks, @tfitzmac, for all you efforts!

A page classifying all these terms, providing concise explanations and relations, would be very helpful.

Currently, the missing information is blocking me from taking an educated architectural decision.

[2022-09-02 10:08] #97913 closed

[2022-09-02 10:23] SetTrend commented on #96760
Thanks for taking the time, @rolyon.

After reading the page a second time, I finally understand the idea behind the concept.

Actually, what the misunderstanding was, and I'm missing in the page, is that fact that …

1. Condition filters only apply to actions having existing `ActionMatches` operators assigned.
1. all other actions will run (are whitelisted) without condition

Perhaps you may want

[2022-09-02 10:23] SwathiDhanwada-MSFT commented on #97895
@huslayer Thanks for reaching out. Glad to see that you have found the solution for your issue. As there are no further documentation changes, we will close the issue for now. If there are further questions, please revert and we will be glad to assist you.

[2022-09-02 10:23] #97895 closed

[2022-09-02 10:24] SwathiDhanwada-MSFT commented on #97901
@Netyyyy Thanks for your feedback.

Assigning to content author  @KarlErickson for review.

[2022-09-02 10:26] SwathiDhanwada-MSFT commented on #97903
@chris-han Thanks for your feedback.

Assigning to content author @jakrams   for review.

[2022-09-02 10:26] SaibabaBalapur-MSFT commented on #97918
@urbantz-technical-support
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-02 10:27] SwathiDhanwada-MSFT commented on #97911
@kaito-ms Thanks for your feedback.

Assigning to content author @RoseHJM  for review.

[2022-09-02 10:28] SaibabaBalapur-MSFT commented on #97918
@mamccrea
Please review it .

[2022-09-02 10:44] nicneate opened #97919 "Missing instructions for allowing external customers to access AMG"
This page says that:

However, when I follow the instructions, I'm only able to assign the Grafana roles to users in my AAD tenant. Please can the text be updated to also explain how an external customer (not in my AAD tenant) can be given permission to access my Grafana dashboard?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2022-09-02 10:54] sarahecraddock opened #97920 "Additional Documentation Request: Azure Pod Security Policies"
Some additional documentation around Azure Pod Security Policies would be really useful.

Currently there are a number of Pod Security Policies available in Azure Policy. However, for some of these policies there isn't any Microsoft documentation around these restrictions. For each Azure Pod Security Policy it would be good to have documentation covering:
1. What this policy does
2. How it secures

[2022-09-02 11:36] xdhunt commented on #97888
There is something similar to this : [https://docs.microsoft.com/en-us/sql/relational-databases/security/password-policy?view=sql-server-ver15#password-complexity](url) in Azure Database for PostregreSQL Server 11 Documentation ?

[2022-09-02 11:39] teggno opened #97921 "Inconsistencies regarding ports in page "Run the emulator on Docker for Linux""
There are several inconsistencies regarding the port range 10250-10255 on this page:

These are the copied fragments of the page involving these port ranges:
- `--publish 10251-10254:10251-10254`
- "Currently, only ports 8081 and 10251-10255 are needed by the emulator endpoint."
- "Verify that no other applications are using emulator ports: 8081 and 10250-10255."

---
#### Document Details

⚠ *Do

[2022-09-02 11:45] almudenaftourne opened #97922 "Encoding parameter is necessary for Spanish and other languages"
While testing the docs code with Spanish I noticed encoding is necessary for voices to pronounce certain letters correctly (like 'ñ', which is very common in the Spanish language). If not, it misspells the word completely.

There is a note on the "[Use SSML to customize speech characteristics](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-speech-synthesis?tabs=bro

[2022-09-02 12:19] timwarner-msft commented on #97920
Hi @sarahecraddock! I think I need a bit more clarification. As noted in this article ([Preview - Secure your cluster using pod security policies in Azure Kubernetes Service (AKS)](https://docs.microsoft.com/en-us/azure/aks/use-pod-security-policies)), pod security policies are on a deprecation path.

Were you speaking of something else that's specific to Azure Policy? Thanks, Tim

[2022-09-02 12:35] RohitMungi-MSFT commented on #97909
@raymar Thanks for spotting this. I have added a PR to the source repo that is referenced in this document to fix the issue.
Once the PR is reviewed and merged this document should be automatically updated with the correct reference.

@PatrickFarley FYI..

[2022-09-02 12:35] snowch opened #97923 "Page needed for managing storage"
It would be good to understand how disks are managed on Azure Databricks, for example is SSD always attached to a cluster?

AWS Databricks docs have a section on managing disks: https://docs.databricks.com/administration-guide/clusters/manage-ssd.html.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb997102-aeb3-9848-9

[2022-09-02 12:45] ranjnagemini opened #97924 "Kubernetes walkthrough official documentation requires editing"
[Enter feedback here]
The steps mentioned in the above document for Microsoft.OperationalInsights providers registration are not enough to continue , as creating the AKS cluster is failing.
Please find more details here:
![image](https://user-images.githubusercontent.com/68504325/188147831-d15fe12f-a735-492e-a003-a7e36562298c.png)

Here is the solution and the steps taken after which it got succee

[2022-09-02 12:53] RohitMungi-MSFT commented on #97910
@jeesang7 Thanks for spotting this. I believe this is to ensure the endpoints are similar to the cloud hosted endpoint except the local container host or localhost is used. I am checking internally to confirm the same. Thanks!!

[2022-09-02 13:01] BenSnape opened #97925 "STUN Access"
Now GA has been announced when will the STUN server addressses be confirmed?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 485a0823-340a-3eeb-1ab9-f4eb96a28005
* Version Independent ID: 651d5e74-4308-3f2a-e541-d741750f1d29
* Content: [Azure Virtual Desktop RDP Shortpath for public networks (preview) - Azure](https://d

[2022-09-02 13:05] harleyrjacome opened #97926 "Enforcing RBAC as the only authentication method does not work for MongoDB"
## Enforcing RBAC as the only authentication method does not work for MongoDB

After trying to follow the section for disabling localAuth, I get this error:

Status Message: DisableLocalAuth is only allowed to be configured for SQL API account. ActivityId: 622fb39b-456d-4679-b446-d3f2df1026cd, Microsoft.Azure.Documents.Common/2.14.0 (Code:BadRequest)  CorrelationId: 0c4e5847-1d3c-4621-b10d-5e01c9b

[2022-09-02 13:15] samyi001 opened #97927 "Documentation for Automation Tasks Stop VM and Deallocate"
Can you provide documentation on the Stop VM and Deallocate Tasks? Were there changes to the behavior of Stop VM? Or is there a way to add logic to check VM State and if in Deallocated State, do not set it to Stopped state? Or maybe a warning that a deallocated VM can go into Stopped state and accrue charges.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2022-09-02 13:29] Ottstar opened #97928 "Azure IoT Hub Support for TLS1.3"
As of right now there is only TLS1.2 supported as far as I can see. Are there plans to support TLS1.3 in the future?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5418de7-407d-1340-d213-b7048a58c571
* Version Independent ID: fc987b2a-f390-1d9b-c634-6eb7688f6ac7
* Content: [Azure IoT Hub TLS support](https://docs.micro

[2022-09-02 13:34] GeethaThatipatri-MSFT commented on #97921
@teggno Thank you for reaching out. We will look into it and update you as appropriate.

[2022-09-02 13:35] ian-andriot opened #97929 "NameError in python example for sql output binding"
[code]

RequestTimeStamp and ItemCount should be wrapped in quotes as a key in a python dictionary or have their values declared previously. Current example results in a NameError as RequestTimeStamp and ItemCount aren't variables that have been declared.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49935ec3-dc89-bae

[2022-09-02 13:39] tsbala opened #97930 "Confusing instructions in the `Verify Firewall Permissions to Key Vault` section"
In the `Verify Firewall Permissions to Key Vault` section, the first paragraph seems to contradict the information in the further paragraphs.

My understanding, reading the first paragraph, is that as the Key Vault recognizes Application Gateway as a trusted resource, and there is no need to add the VNET of the Application Gateway to the Networking firewall rules of the Key Vault. Just enabling `A

[2022-09-02 13:50] IgorMikhalev opened #97931 "Power Shell Script Example - Possible Bug in Parameters"
In the provided PowerShell script example TrimStart() is used to strip off the "-param_" part from each parameter name. According to [official documentation of TrimStart](https://docs.microsoft.com/en-us/dotnet/api/system.string.trimstart?view=net-6.0) an array of characters is used as parameters, not a substring.

As the result, "-param_agentName" will become "gentName" as the first "a" of the re

[2022-09-02 13:59] Nicholak-MS commented on #97896
Hi @MarkBratton I have updated the online table version as well as the downloadable CSV with the latest service plan information for all 4 of the A3 SKUs. The changes will publish later today. Thanks for bringing this change to our attention.

Regards,
Nick

#Please-close

[2022-09-02 13:59] #97896 closed

[2022-09-02 14:05] ciufudean opened #97933 "Shared dashboard without an id"
I have a shared dashboard and it has no id in its JSON.
Is this a documentation or a product bug?
As a consequence, I cannot see its subscription and resource group.
Nor I can see it in the Azure portal among all the other resources.
Can you explain?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f609290-f427-4b0e-3e36

[2022-09-02 14:15] Jamal8548 opened #97934 "How to provide authorization in Azure AD B2C."
Dear All, I am using Azure AD B2C in our project **React-Nodejs(GraphQL)** and it is working fine but i also need authorization in that project becuase i want to save my api endpoints from users. I want to have some users from may be Azure AD to sign in with full access to all endpoints. I am stuck badly.  Please suggest me ways that how can i achieve this goal? I am student and i need your suppor

[2022-09-02 14:17] mumurug-MSFT commented on #97684
@snerting Sorry if this was not clear. The article explains the following steps:
1. Define a new API by importing GraphQL schema in an APIM instance.
2. As an example we considered imported GraphQL schema as follows
[code]
3. Next, configure resolver using `set-graphql-resolver` policy to map each field in the above schema (refer [set-graphql-resolver](https://docs.microsoft.com/en-us/azure/api-ma

[2022-09-02 14:26] xstof commented on #97857
"for this reason" is refering to the previous sentence that points out that the default probe will use the hostname from the backend pool, which is something.azurewebsites.net.  In the case of using a custom domain (which the section in the docs this refers to), your backend might not be configured to listen to the default azurewebsites.net.  In any case it's healthy for the probe to resemble your

[2022-09-02 14:37] noumanmanan-msft commented on #96697
Thank you all for your help on this.

[2022-09-02 15:02] ChaitanyaNaykodi-MSFT commented on #97900
Thank you for your feedback! We will review and update as appropriate.

[2022-09-02 15:13] tshaiman opened #97936 "2 Cores Per container ?"
[Enter feedback here]
looking at the quota page it seems the maximum cores a container can get is 2 Cores ?
Is it true to say that if today we ran containers on AKS with 8-64 cores per Pod , this solution is not suitable for us ?
we try to understand if container apps is only an alternative for hosting web/lightweight containers , but less fit for a robust
AI / Backend services.

---
#### Document

[2022-09-02 15:13] bandersmsft commented on #97912
Hi @jbennink. Sorry you ran into problems. I’ll revise that section of the article (in bold text here) to state “**If you see the message and you have a Microsoft account, follow these steps:**”

Were you able to resolve your sign in problem? If so, what was the problem and how was it resolved?

Thanks.

[2022-09-02 15:28] yvy777 opened #97937 "Last activity time is not in sync with device twin information displayed in portal when using query language to perform a get all operation."
When trying to fetch all device twin entities using the recommended:
`RegistryManger.CreateQuery()` from the SDK.
Every retrieved fields seems to be in sync with the device twin information displayed in the azure portal device twin page except for the ["Last Activity Time"] which can be off by a couple of minutes.
**Note**: sometimes the values do match but gets offset later on.

However using the

[2022-09-02 15:29] ckarawani opened #97938 "Wrong Casing on Product Display Names in .csv"
There is a .csv available for download here:

https://download.microsoft.com/download/e/3/e/e3e9faf2-f28b-490a-9ada-c6089a1fc5b0/Product%20names%20and%20service%20plan%20identifiers%20for%20licensing.csv

<img width="873" alt="image" src="https://user-images.githubusercontent.com/2483804/188183004-c51664ad-5a39-417b-8d7b-f3bcb8aab6ff.png">

This document is not versioned in Github so I was unable

[2022-09-02 15:40] #97871 closed

[2022-09-02 15:53] mumurug-MSFT commented on #97871
@dgrospelier We have updated docs and it will be live once its merged. We have now closed this thread. Thanks again for bringing this to our attention.

[2022-09-02 16:04] KranthiPakala-MSFT commented on #97862
@Psychotechnopath As per the conversation with internal team, there is no plan to support in PyCharm. If you have any additional feedback, feel free to share it in IDEAS forum here: https://feedback.azure.com/d365community/forum/9b9ba8e4-0825-ec11-b6e6-000d3a4f07b8 and do share the link once it is posted.

Thank you

[2022-09-02 16:04] #97862 closed

[2022-09-02 16:16] JamesTran-MSFT commented on #97934
@Jamal8548
Thank you for posting your GitHub issue!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our [Q&A forum](https://doc

[2022-09-02 16:16] #97934 closed

[2022-09-02 16:32] jrowe88 opened #97940 "Explanation of how to use "labels" would be helpful"
Labels are a common way to use the App Configuration to specify an environment, for example.  Besides a small note saying "leave label blank", it would be nice to know: 1) if labels are supported, and 2) if so, how do you use them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67bda25f-abd6-9ed3-5e5c-ebe53196dac2
* Ve

[2022-09-02 16:55] shohamMSFT commented on #97605
@lopeg - The ability to configure auto-rotation through the Portal will be available by the second week of September.
We have also mentioned in our blog announcement for this feature (link - https://techcommunity.microsoft.com/t5/azure-sql-blog/automated-key-rotation-for-tde-byok-now-available-in-preview-for/ba-p/3607932) that the Portal option will be available in the coming weeks. Thanks!

[2022-09-02 16:55] shohamMSFT commented on #97605
#please-close

[2022-09-02 16:55] #97605 closed

[2022-09-02 17:24] KranthiPakala-MSFT commented on #97914
Thanks for the feedback! We have assigned the issue to the content author to further review this and provide an update as appropriate.

@enkrumah Could you please review above feedback from customer help confirm the same? Thank you

[2022-09-02 17:28] KranthiPakala-MSFT commented on #97923
Thanks for the feedback! We have assigned the issue to the content author to further review this and provide an update as appropriate.

[2022-09-02 17:38] alexislefebvre opened #97941 "“Enable a TLS endpoint in a sidecar container” can be shorter and easier to understand"
The [page](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-container-group-ssl#create-a-self-signed-certificate) shows too many information whilst it's pretty easy to configure TLS with Caddy, see https://stackoverflow.com/questions/60958057/how-to-add-ssl-to-azure-container-instance-app/73586200#73586200

It requires less steps and it doesn't require a self-signed c

[2022-09-02 17:48] GeethaThatipatri-MSFT commented on #97883
@nssidhu Can you please share the specific image you are referring to?

[2022-09-02 17:51] MarileeTurscak-MSFT commented on #97837
Thanks for clarifying. Closing this out to move this to the intake form or PR as discussed.

[2022-09-02 17:51] #97837 closed

[2022-09-02 18:01] mbender-ms commented on #96973
Thanks for the feedback and suggestion, @jeremiahhoward.  Updating article in PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/210053

#please-close

[2022-09-02 18:01] #96973 closed

[2022-09-02 18:22] FrankMcGovern opened #97944 "Replace AI with ML"
The first sentence says "Azure Cognitive Services are cloud-based artificial intelligence (AI) services that help you build cognitive intelligence into your applications."

As of this writing, AI doesn't exist and there is no evidence of proof that we are even close. Please adjust the statement to say "machine learning (ML)" instead.

[Here is Microsoft's own writing on the differences between AI

[2022-09-02 18:30] KyferEz opened #97945 "Undocumented 30min time limit for Script activity"
Per Xing Wei, the Script activity has an unchangeable 30min timeout and the Activity timeout has no effect on this. This needs to be documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0e64407-55e5-d56f-25e7-c9e080501372
* Version Independent ID: 1a1240c7-8bce-8150-b106-4dc57f861453
* Content: [Transform data b

[2022-09-02 18:33] YutongTie-MSFT commented on #97821
Hello @darwin-xu

Yes, it works for my old MBP as well, I have bring this issue to product team for investigation and fixing. Thanks for reporting this.  I will update here once I get any news.

[2022-09-02 18:35] KarlReimer opened #97946 "Minor typo"
Minor typo/style issue in opening sentence:

"This article describes application registration, application objects, and service principals in Azure Active Directory (Azure AD): what **they're**, how they're used, and how they're related to each other."

they're > they are. The first contraction is confusing/incorrect in this case. The other contractions are fine.

---
#### Document Details

⚠ *Do

[2022-09-02 18:47] marqwrylee opened #97947 "Claim rules don't work as advertised"
I implemented the claims rules a specified in this document (although I'm using duo on the server side since I can't put MFA Server in my lab) and the rules do not do what this page says they will.
No matter my group membership associated with these claim rules, I am prompted to select my MFA provider, not directed to them as this document indicates.

---
#### Document Details

⚠ *Do not edit this

[2022-09-02 18:50] SatishBoddu-MSFT commented on #97906
@kudlatiger We already have this addressed on the Microsoft Q&A  forum, hope you have received the alert.

[2022-09-02 18:51] SatishBoddu-MSFT commented on #97908
@alevincenzi
I have assigned the issue to the content SME for further review.

[2022-09-02 18:56] KranthiPakala-MSFT commented on #97945
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-09-02 19:01] SatishBoddu-MSFT commented on #97915
@xboxeer
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-09-02 19:06] YutongTie-MSFT commented on #97922
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-09-02 19:08] SatishBoddu-MSFT commented on #97919
@nicneate
I have assigned the issue to the content SME for further review.

[2022-09-02 19:14] VitalyMCT opened #97948 "Diagram update?"
Regarding

Although the text includes on-prem data sources, the diagram exclusively references Azure data sources. Can the diagram please be aligned with the description?

We are looking for a diagram that covers the simplest integration pattern for Purview and on-prem data sources, via the SHIR.

Here's the current diagram:

![image](https://user-images.githubusercontent.com/1765732/188222321-805

[2022-09-02 19:33] mike-urnun-msft commented on #97927
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-09-02 19:34] mike-urnun-msft commented on #97929
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-09-02 19:41] mike-urnun-msft commented on #97936
@tshaiman Thank you for your feedback. Since this repo is more for driving fixes & improvements towards MS Docs, could you post this question on the [MS Q&A channel](https://docs.microsoft.com/en-us/answers/index.html) instead?

[2022-09-02 19:42] mike-urnun-msft commented on #97940
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-09-02 19:44] mike-urnun-msft commented on #97611
related: https://github.com/MicrosoftDocs/azure-docs/issues/64139

[2022-09-02 19:45] ChaitanyaNaykodi-MSFT commented on #97930
Thank you for your feedback! We will review and update as appropriate.

[2022-09-02 19:47] MarileeTurscak-MSFT commented on #97946
@KarlReimer
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-02 19:49] MarileeTurscak-MSFT commented on #97946
Thanks! Just made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/210069

[2022-09-02 19:49] #97946 closed

[2022-09-02 19:57] nssidhu commented on #97883
it is under Azure Private Link - Azure SQL Database and Azure Synapse Analytics

|
|
|
|  |  |

 |

 |
|
|  |
Azure Private Link - Azure SQL Database and Azure Synapse Analytics

Overview of Private endpoint feature.
 |

 |

 |

I have seen this kind of poor quality all across the Microsoft docs.
It is general problem.

    On Friday, September 2, 2022 at 12:48:16 PM CDT, GeethaThatipatri-MSFT ***

[2022-09-02 20:09] miqm opened #97950 "List of supported Azure services would be nice"
Hello,

As far as I know there's only limited set of services that although have private endpoints on their frontend side, they can be used with Front Door premium.
For example Azure Static Apps has PE, but we can't use it with FD via private endpoint.

Could you extend this document with list of currently supported services? There are 3 tutorials - if they indicate the complete list of which serv

[2022-09-02 20:16] #97686 closed

[2022-09-02 20:21] ChaitanyaNaykodi-MSFT commented on #97950
Hello @miqm, thank you for reaching out.

Yes, in Azure Front Door premium Origin support for direct private end point connectivity is limited to Storage (Azure Blobs), App Services and internal load balancers

This information is present in the [limitations section](https://docs.microsoft.com/en-us/azure/frontdoor/private-link#limitations) of this tutorial.

![image](https://user-images.githubuse

[2022-09-02 20:31] docrinehart commented on #37381
Bumping the thread. Would really like to have a clear answer if Azure DevOps Services is FedRAMP authorized given that it's build on Azure, which could mean by-proxy, that it is for at least US-based instances.

[2022-09-02 20:44] miqm commented on #97950
Yes, this was what I was looking for.
Perhaps making it a bullet list would be better? Plus endpoint is spelled together :)
Also, please clarify if app services is web apps or functions or both. Also - static web apps are also app services but they are not supported. Can you clarify?

[2022-09-02 21:55] JamesTran-MSFT commented on #97947
@marqwrylee
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-02 22:02] ebwinters opened #97951 "Logic Apps Limitations: Managed Identity Limit Unclear"
On the [Azure Logic App Limitations Documentation](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-limits-and-config?tabs=azure-portal#managed-identity-limits), it is unclear in the Managed Identity section if
`Number of logic apps that have a managed identity in an Azure subscription per region=1000` is for system managed identities (i.e. 1000 logic apps, each with their own system m

[2022-09-02 22:54] YutongTie-MSFT commented on #97944
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-09-02 22:55] JimacoMS4 commented on #97906
@SatishBoddu-MSFT Is there an update to the documentation needed here?

[2022-09-02 23:16] SatishBoddu-MSFT commented on #97906
We are checking with the team on this.

[2022-09-02 23:18] ecfan commented on #97860
@yyordanov, thank you, we've added a work item to the backlog.

[2022-09-02 23:24] SatishBoddu-MSFT commented on #97924
@ranjnagemini
I have assigned the issue to the content SME for further review.

[2022-09-02 23:25] SatishBoddu-MSFT commented on #97925
@BenSnape
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-09-02 23:28] SatishBoddu-MSFT commented on #97926
@harleyrjacome
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-09-02 23:37] SatishBoddu-MSFT commented on #97928
Hello @Ottstar Yes we do have plans to release support for TLS 1.3 in future. please stay tuned for the new updates. I can't give any concrete date for the release of this feature. You are always welcome to submit product feature request with your requirement on Azure IDEAS portal. [Azure IoT (Hub, DPS, SDKs)](https://feedback.azure.com/d365community/forum/fcb810f7-f824-ec11-b6e6-000d3a4f0da0)

[2022-09-02 23:42] ecfan commented on #97860
@yyordanov, an update will get published early next week.

@MayankBargali-MSFT: #please-close

[2022-09-02 23:42] #97860 closed

[2022-09-02 23:48] SatishBoddu-MSFT commented on #97931
@IgorMikhalev
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-09-02 23:51] SatishBoddu-MSFT commented on #97933
Hello @ciufudean Did you try exporting any other Azure Dashboard and you see the same issue?
Could you please check with the person who shared the dashboard export with you?

Our SME will respond to your query further.

[2022-09-02 23:53] weyCC81 commented on #97686
Okay, I expected there is a simple solution which can be added in the documentation.

I see this is not directly available, but adding a simple filter for guest in "https://aad.portal.azure.com/#view/Microsoft_AAD_IAM/AuthenticationMethodsMenuBlade/~/AuthMethodsActivity" would be simple solution.

[2022-09-02 23:56] SatishBoddu-MSFT commented on #97937
Hello @yvy777

Please send an email to [azcommunity@microsoft.com](mailto:azcommunity@microsoft.com) with the below details, so that we can work closely on this matter.

**Thread URL:** Link to this thread.
**Your Azure Subscription ID**:
**Email Subject** : Attn Satish Boddu
Please let me know once you have done the same

[2022-09-02 23:59] SatishBoddu-MSFT commented on #97938
@ckarawani
I have assigned the issue to the content SME for further review.

[2022-09-03 00:00] SatishBoddu-MSFT commented on #97941
@alexislefebvre Thanks for the feedback on this document.
Our SME will review your feedback!

[2022-09-03 00:07] ecfan commented on #96275
@TomChapple: We've added this request to our work backlog. Thank you!

@MayankBargali-MSFT: #please-close

[2022-09-03 00:07] #96275 closed

[2022-09-03 00:23] SatishBoddu-MSFT commented on #97948
@VitalyMCT
I have assigned the issue to the content SME for further review.

[2022-09-03 00:28] SatishBoddu-MSFT commented on #97951
@ebwinters
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-09-03 01:20] #97193 closed

[2022-09-03 01:23] ecfan commented on #97193
@timjansenortec; If your project is extension bundle-based (Node.js), "FUNCTIONS_WORKER_RUNTIME" is set to "node".

If your project is NuGet package-based (.NET), "FUNCTIONS_WORKER_RUNTIME" is set to "dotnet".

However, to use Inline Code Operations, you must have "FUNCTIONS_WORKER_RUNTIME" set to "node".

A doc update will go out early next week.

[2022-09-03 02:04] ecfan commented on #97927
Hi @samyi001,

You can view the underlying workflow and steps for a task: [Edit the task's underlying workflow](https://docs.microsoft.com/en-us/azure/logic-apps/create-automation-tasks-azure-resources#edit-the-tasks-underlying-workflow).

For technical questions about the task's underlying behavior, please post your question in the Azure Logic Apps Q&A forum: [https://docs.microsoft.com/en-us/ans

[2022-09-03 02:08] ecfan commented on #97927
@samyi001: I've added your request to our work backlog.

@mike-urnun-msft: #please-close

[2022-09-03 02:08] #97927 closed

[2022-09-03 02:13] zaalion opened #97954 "List of all version IDs for a single blob object"
[Enter feedback here]
Hi, How can I get a list of all version IDs for a single blob object? The blob show command only returns the latest version id.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b7631ff-af60-5ab4-ac8b-d44f615308b3
* Version Independent ID: a661d456-bf6a-5061-391e-fe7b54b9a01f
* Content: [Quickstart:

[2022-09-03 02:35] webczat commented on #96612
ping, i need the answer for my customer asap

[2022-09-03 02:35] Karishma-Tiwari-MSFT commented on #97625
@msmbaldwin Can you please help confirm on the same. Thanks.

[2022-09-03 02:45] ecfan commented on #96194
@HariKrishnaRajoli-MT: A doc update will go out early next week.

[2022-09-03 02:45] #96194 closed

[2022-09-03 03:39] JananiRamesh-MSFT commented on #97652
Hi @punitkshah Thanks for bringing that to our attention. The new DL email is the following:

[ask-graph-and-grid@microsoft.com](mailto:ask-graph-and-grid@microsoft.com)

That accepts emails from outside users. We will update the new email address in the document shortly.

[2022-09-03 03:39] #97652 closed

[2022-09-03 04:38] SwathiDhanwada-MSFT commented on #97954
@zaalion Thanks for your comment. We will review the issue and get back to you shortly.

[2022-09-03 06:39] abatishchev opened #97955 "Article about ARM template parameters doesn't mention built-in limits"
There is no information what's the maximum number of parameters can be passed to a template and what's the maximum length of each parameter's property, such as description and most importantly - its length.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fc492d5-0ea7-dea9-5a16-0f4f9f16891c
* Version Independent ID: f97

[2022-09-03 06:44] abatishchev opened #97956 "Section for Parameter doesn't mentions limits"
The [section for Parameters](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/syntax#parameters] includes a table that lists all possible attributes. Alas, it doesn't include the max length of each of them.

Neither does the article for ARM template parameters, see #97955.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-09-03 06:53] 962720900 opened #97957 "mstsc /v:myvmpublic doesn't work, myvmpulic cannot be connected in myvmprivate via rdp"
The reference document: https://docs.microsoft.com/en-us/azure/virtual-network/tutorial-create-route-table-portal

Issue Description:
myvmpublic cannot be connected from myprivate vm via RDP, the error is : Remote desktop can't connect to the remote computer ....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cc61595-

[2022-09-03 07:20] SDFVasantHorapeti opened #97958 "Azure Storage Account is not PaaS, it's IaaS"
This document says Azure Storage Account is PaaS, which is wrong. It's actually IaaS. Please correct the same.

Please refer the following page : https://azure.microsoft.com/en-us/resources/cloud-computing-dictionary/what-is-azure/azure-iaas/#overview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbfc7ccc-7fd0-9bb7-7d

[2022-09-03 09:46] Jamal8548 commented on #97557
@kengaderdus would you please give me your valuable feedback in this regard. I am student.

USE CASE: My project is based on React(Front end) -NodeJs(API). I want authentication and authorization (both) in my project. Currently, I tried it with Azure AD B2C but how can I get authorization in it. I mean some users are admin users and only they have access to some endpoints. I researched about it an

[2022-09-03 09:46] Jamal8548 commented on #97584
@JamesTran-MSFT would you please give me your valuable feedback in this regard. I am student.

USE CASE: My project is based on React(Front end) -NodeJs(API). I want authentication and authorization (both) in my project. Currently, I tried it with Azure AD B2C but how can I get authorization in it. I mean some users are admin users and only they have access to some endpoints. I researched about it

[2022-09-03 11:03] SuperGraham opened #97959 "Issue with active-directory-verifiable-credentials-dotnet\1-asp-net-core-api-idtokenhint"
Hello, I am following these instructions - https://docs.microsoft.com/en-us/azure/active-directory/verifiable-credentials/verifiable-credentials-configure-issuer

I have got to the point where I am running the DotNet app and then going to http://localhost:5000/issuer.  All good so far.

The first error is this:
fail: AspNetCoreVerifiableCredentials.IssuerController[0]
      Unsuccesfully called Re

[2022-09-03 11:22] SuperGraham commented on #97959
This all started working once I created a verified employee credential, but the instructions don't say to do that.

[2022-09-03 11:33] SuperGraham commented on #97959
In Entra I created verified employee credential and then a QR code is displayed.  However, when I scan the QR code with the Microsoft Authenticator app on my phone I get an error that says 'Oh no, Something went wrong!'

[2022-09-03 14:45] Karr opened #97960 "Provide more information on "unexpire Password""
Extended rights for "Unexpire Password" on the root object of each domain in that forest, if not already set.

This article provides no information on how to set or check the "Unexpire Password" options.
Please provide some informations.  This may be a FOREST ROOT ONLY option as it is not found at OU levels.

This is also set by default for "Authenticated Users" at the Forest Root level and should

[2022-09-03 15:01] Karr opened #97961 "Unexpire Password - More information requested."
Extended rights for "Unexpire Password" on the root object of each domain in that forest, if not already set.

This article provides no information on how to set or check the "Unexpire Password" options.
Please provide some informations.  This may be a FOREST ROOT ONLY option as it is not found at OU levels.

This is also set by default for "Authenticated Users" at the Forest Root level and should

[2022-09-03 15:12] Karr opened #97962 "Custom Account permission issues and how to use this account from the Wizard."
This article explains how to create an account and how to assign the minimal permissions.

It does not explain how to assign this new account with Azure AD Connect Wizard.
Also, in connecting the directory, there is an options to Create an account or use an existing account.
The account created is the MSOL... account that is used for sync and password write back / reset.
It would be good to notate

[2022-09-03 15:32] SwathiDhanwada-MSFT commented on #97956
@abatishchev Thanks for your feedback.

Assigning to content author @mumian   for review.

[2022-09-03 15:33] SwathiDhanwada-MSFT commented on #97955
@abatishchev Thanks for your feedback.

Assigning to content author @mumian  for review.

[2022-09-03 15:37] SwathiDhanwada-MSFT commented on #97957
@962720900 Thanks for reaching out. Kindly note this channel is mainly for documentation changes, for technical support, do raise your issue in [Microsoft Q & A Community Forum](https://docs.microsoft.com/en-us/answers/products/).

We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2022-09-03 15:37] #97957 closed

[2022-09-03 15:40] SwathiDhanwada-MSFT commented on #97958
@SDFVasantHorapeti Thanks for your comment. We will review the issue and get back to you shortly.

[2022-09-03 15:43] SwathiDhanwada-MSFT commented on #97959
@SuperGraham Thanks for your comment. We will review the issue and get back to you shortly.

[2022-09-03 15:44] SwathiDhanwada-MSFT commented on #97960
@Karr Thanks for your feedback.

Assigning to content author @Justinha   for review.

[2022-09-03 15:46] SwathiDhanwada-MSFT commented on #97961
@Karr Thanks for your feedback. As this issue is duplicate of #97960 , we will be closing this issue and all the further updates will be provided in aforementioned issue.

[2022-09-03 15:46] #97961 closed

[2022-09-03 15:48] SwathiDhanwada-MSFT commented on #97962
@Karr Thanks for your comment. We will review the issue and get back to you shortly.

[2022-09-03 16:47] jsquire opened #97964 "Stale documentation for In-Process Functions Service Bus message dispositioning"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#30921](https://github.com/Azure/azure-sdk-for-net/issues/30921).

### Please be aware that @SeanFeldman is the author of the original issue and include them for any questions or replies.

## Details

### Library name and version

Microsoft.Azure.WebJobs.Extensions.ServiceBus

### Describe the bug

[`Service

[2022-09-03 16:47] jsquire commented on #97964
//fyi: @spelluru

[2022-09-03 17:30] SatishBoddu-MSFT commented on #97964
@jsquire
I have assigned the issue to the content SME for further review.

[2022-09-03 17:31] shwetamathur7 commented on #97728
Hi @mabster Are you trying to search user within administrative unit using Azure portal/powershell or Graph API?
I tried to search the user within administrative unit and able to search only those users which are member of particular administrative unit. Those users which are in tenant and not in this particular administrative unit cannot be searched using search bar here:

![image](https://user-i

[2022-09-03 17:39] snerting commented on #97684
Thanks a lot for great answer!

From: ***@***.***>
Sent: fredag 2. september 2022 16:18
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Test case not reflect the example (Issue #97684)

@snerting<https://nam12.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fsnerting&data=05%7C01%7C%7C207b236321324d13374708da8cedf1a7%7C84df9e7fe9f640afb435aaa

[2022-09-03 17:42] SeanFeldman commented on #97964
While this specific issue is being addressed, worth reviewing Azure Functions documentation in general.

[2022-09-03 17:46] seesharprun commented on #97926
@gahl-levy, can you assist with this question?

[2022-09-03 17:46] seesharprun commented on #97926
#assign:gahl-levy

[2022-09-03 18:14] wilsonzlin opened #97965 "Diagram is incorrectly labelled"
Example 5 says "Non-Azure origin" but the diagram still says "Origin in Azure".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29004270-d090-5360-7fa7-5b5115f2adf2
* Version Independent ID: 2ff4a8d5-64d0-17ec-596f-0b7c1dd9febf
* Content: [Understand Azure Front Door billing](https://docs.microsoft.com/en-us/azure/front

[2022-09-03 19:58] ChaitanyaNaykodi-MSFT commented on #97965
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-09-03 20:35] cwidhelm opened #97966 "Incorrect section title: Install the agent for Azure AD DS"
[Enter feedback here]
The section located at https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-health-agent-install?source=recommendations#install-the-agent-for-azure-ad-ds has an incorrect title.

Currently the title is:

Install the agent for Azure AD DS

But instead, it should be:

Install the agent for AD DS

---
#### Document Details

⚠ *Do not edit this section. I

[2022-09-03 22:44] mabster commented on #97728
No, we are searching using the search bar at the top of the page at mystaff.microsoft.com, which is what this documentation is for.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: shwetamathur7 ***@***.***>
Sent: Sunday, September 4, 2022 3:31:21 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Matt Hamilton ***@***.***>; Mention ***@***.***>
Subject: Re: [M

[2022-09-04 02:19] SatishBoddu-MSFT commented on #97966
@cwidhelm
I have assigned the issue to the content SME for further review.

[2022-09-04 03:55] markantares commented on #61040
As per clagger, I can test the Linked Service with managed Vnet, and it works fine but when I debug the Data Flow or run it as an activity in ADF, it fails with an IP issue for the region. This suggests that the managed VNet works for everything BUT the Data Flow.
Does this mean that Data Flows need the public access firewall rules set to allow the IP range, surely negating the security benefits o

[2022-09-04 06:27] darwin-xu commented on #97821
@YutongTie-MSFT have you reproduced the issue on the apple silicon macOS?

[2022-09-04 07:56] #95256 closed

[2022-09-04 10:33] ohadschn commented on #96027
Following our offline chat, just wanted to point out that I was able to get this token for a vanilla (non First Party app) by specifying it as an optional claim in the AAD app's manifest (via the portal):

[code]

[2022-09-04 10:44] AbbyMSFT commented on #97672
Hi @AaronCreighton ,
You should see the fix live now at: https://docs.microsoft.com/en-us/azure/azure-monitor/alerts/alerts-processing-rules?tabs=portal

Let me know if this is what you were looking for.
I am going to close this issue. Please feel free to contact us again with any issues you notice in our docs. Thank you for your dedication to the quality of our documentation!

Abby

#please-close

[2022-09-04 10:44] #97672 closed

[2022-09-04 13:07] wilsonzlin opened #97970 "Documentation mentions allowVolumeExpansion is false by default but cluster shows true"
I created a new Kubernetes cluster and noticed that `allowVolumeExpansion` is `true` for all storage classes initially:

[code]

However, the documentation states:

Also, I'm not sure what the difference is between `managed-premium` and `managed-csi-premium`, mentioned in the paragraph directly before.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-09-04 13:54] mirroj commented on #95675
You can also try to run the command `az network bastion rdp` with flag `--disable-gateway`. It helped for me.

[2022-09-04 15:50] jikuja opened #97973 "Document Databricks keyvault-based secret scope requirements and internal process of hardening tenant-wide key vault access policy addition"
This documentation should include following information:
* required key vault permissions when adding key vault -backed secret scope
* the internal process of adding extra key vault policy for AzureDatabricks enterprise application(c836dda9-16de-4b63-95ad-42da15a6055a)
  * organizations might require documentation for this when auditing key vault access policies
    * why is tenant-wide enterprise

[2022-09-04 16:06] MughundhanRaveendran-MSFT commented on #97803
@samuel-weber , As the page mentions, dataverse (non-legacy)connector is not yet available for logic apps. It is only available for power apps and power automate in certain regions for preium tier. For logic apps, you will have to leverage the legacy dataverse connector

[2022-09-04 16:37] SatishBoddu-MSFT commented on #97970
@wilsonzlin
I have assigned the issue to the content SME for further review.

[2022-09-04 16:38] SatishBoddu-MSFT commented on #97973
@jikuja
I have assigned the issue to the content SME for further review.

[2022-09-04 17:19] walaniam commented on #33312
The error message should say that something is incorrectly used. Maybe you could update the error message with information that mongo cannot be used with bindings?

[2022-09-04 18:32] ecfan commented on #95256
Hi @mrsmitty, the following documentation has been updated:

[Secure traffic between Standard logic apps and Azure virtual networks using private endpoints](https://docs.microsoft.com/azure/logic-apps/secure-single-tenant-workflow-virtual-network-private-endpoint)
[Deploy single-tenant Standard logic apps to private storage accounts using private endpoints](https://docs.microsoft.com/azure/logic-a

[2022-09-04 18:55] AjayKumar-MSFT commented on #97780
Thanks for brining this to our attention. just to clarify, this code uses `Azure.Identity.DefaultAzureCredential` to get a useable token for SQL Database from Azure Active Directory and then adds it to the database connection.

Just to clarify, for ASP.NET and ASP.NET Core, setting connection strings in App Service are like setting them in <connectionStrings> in Web.config, but the values you set