[2019-10-25 17:19] YutongTie-MSFT commented on #41473
@marktab Hi, do you have any idea about this ? Thanks.

[2019-10-25 17:23] #41456 closed

[2019-10-25 17:30] mmacy commented on #41456
@patrickjlee I've added an orange **Warning** banner at the top of that section. We also have an update in the pipeline to remove the error from the code sample altogether, at which time I'll update the article accordingly. This will appear in the published article in a few hours:

![image](https://user-images.githubusercontent.com/13394541/67591280-f0533380-f711-11e9-88ee-5b313a04921f.png)

You c

[2019-10-25 17:35] JimBlizzard commented on #41479
@FrankHu-MSFT Yes. **How to** utilize azure devops policies **to restrict creating new azure devops orgs to a set of users / groups**.

[2019-10-25 17:38] himanshusinha-msft commented on #41399
@videlalvaro  : We are assigning this to the content author for review .@ShubhaVijayasarathy

[2019-10-25 17:39] vermagit commented on #41482
Just wanted to point out that though strictly speaking, GiB is what the units actually are (i.e. base 2) as opposed to GB (not base 10), manufacturer specifications elsewhere (AMD, Intel, Mellanox, etc.) may still use conflate the two notations, using GB uniformly. This also applies to the memory bandwidth calculations which are to base 2, not 10, but are still represented typically as GB/s . I'll

[2019-10-25 17:40] himanshusinha-msft commented on #41397
@videlalvaro  : We are assigning this to the content author for review .@ShubhaVijayasarathy

[2019-10-25 17:40] himanshusinha-msft commented on #41398
@videlalvaro  : We are assigning this to the content author for review .@ShubhaVijayasarathy

[2019-10-25 17:46] aaronrogers opened #41488 "Typo"
`https://graph.microsot.com/directory.read` should be `https://graph.microsoft.com/directory.read`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d2b34fa-cda9-b2cb-e162-fc3264f120b7
* Version Independent ID: 309b767d-7d50-166d-da8e-7b7796100e73
* Content: [Migrate apps to MSAL.ObjectiveC - Microsoft identity platform

[2019-10-25 17:47] KrishnaG-MSFT commented on #41484
@normesta Thanks for the quick response. :+1:

[2019-10-25 17:48] CeciAc opened #41489 "ipSecurityRestriction.ipAddress set to null?"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/644

@OLoup commented 4 hours ago — with docs.microsoft.com
I added a virtual network subnet to the access restricted and since then I cannot deploy anymore using command lines (mvn azure-webapp:deploy). Is always says "ipSecurityRestrictions.ipAddress is required and cannot be null". I understand here that i

[2019-10-25 17:51] brandonh-msft commented on #40744
that change helped with v2.x functions and how to set unbounded execution, but not for v1.x functions... i.e. How do we do unbounded in a v1.x function?

https://github.com/MicrosoftDocs/azure-docs-pr/blob/18fc7b88f4471f6c247fae7fa46c6bdac94a013a/articles/azure-functions/functions-host-json-v1.md#functiontimeout

[2019-10-25 18:03] TylerMSFT commented on #41488
Thanks for catching that. Fixed and will go live by Monday.
#please-close

[2019-10-25 18:03] #41488 closed

[2019-10-25 18:04] MicahMcKittrick-MSFT commented on #41168
@geordietech doesn't appear we have any upload requirements specifically. The requirements listed on this page are just the bandwidth your local network will need to have a smooth experience connecting to virtual desktop. Obviously if you have a higher upload speed on your network it might make moving things locally to the virtual desktop faster. But in most cases we find users use WVD as a standa

[2019-10-25 18:04] #41168 closed

[2019-10-25 18:11] rboucher commented on #38957
We just updated this article.  It should be accurate now. Let us know if it hasn't.

[2019-10-25 18:12] xtrc opened #41491 "AKS ingress using control plane FQDN?"
Regarding the documentation on: https://docs.microsoft.com/en-us/azure/aks/ingress-tls

Can I use the IP where the controlplaneFQDN points to? (example-20582d.hcp.westeurope.azmk8s.io) Is it static?
This snippet:

[code]
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* Version Independen

[2019-10-25 18:13] rboucher commented on #24222
The table has been updated. We are working to keep it up to date with the REST API. Note that items listed in the REST API aren't necessarily released if not listed somewhere in the documentation or a blog as being released.

[2019-10-25 18:13] rboucher commented on #24222
#please-close

[2019-10-25 18:13] #24222 closed

[2019-10-25 18:14] vijayalaya commented on #41429
AM getting the below exception .Increased the timeout too, but didnt work. Will this be an firewall issue that restricts the code to get connected to event hub.

System.Net.Sockets.SocketException: 'A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond'

[2019-10-25 18:15] Monual opened #41492 "Another possible cause for 'Backend certificate is invalid'"
I just discovered that there's another possible reason to get the message "Backend certificate is invalid. Current date is not within the "Valid from" and "Valid to" date range on the certificate."

I had a self-signed cert with a valid date range, but the backend health check still failed with the above message.  It turns out that the cert was created with a cipher suite that was not in our SSL P

[2019-10-25 18:16] MicahMcKittrick-MSFT commented on #41491
Thanks for the question! We are investigating and will update you shortly.

[2019-10-25 18:16] blouwagie opened #41493 "Please explain which was to connect powershell to Azure for this to work"
Hi
Please do not assume we know which method to use to connect to Azure for these powershell commands to work. Tell us what command to use to connect. Microsoft has so many different flavors that you really HAVE to explain this for each PowerShell or other situation where you ask us to connect.
Bart

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-10-25 18:17] rboucher commented on #38957
#please-close

[2019-10-25 18:17] #38957 closed

[2019-10-25 18:19] rboucher commented on #41219
@ciufudean   I'm checking into this location with the development team to understand what has changed.  Clearly if you are seeing it in a different place, something is going on.

[2019-10-25 18:19] alieus opened #41494 "Typo: "deselect" instead of "select""
In the instructions to enable data collection through the portal, instruction number 4 should be:

In Advanced Settings, select Enable Model data collection.
instead of:
In Advanced Settings, deselect Enable Model data collection.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ec57fee-a0d0-c9a7-eeb2-90b9223b932c
* Ver

[2019-10-25 18:21] MarileeTurscak-MSFT commented on #41493
@blouwagie
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-25 18:22] rboucher commented on #40998
Hi @desmondgc.  I'm checking with people to make sure this is expected behavior and if so, we'll update the documentation.

[2019-10-25 18:22] tsrob50 opened #41495 "CreateLogAnalyticsWorkspaceforDiagnostics.ps1 missing code"
I tried to run the CreateLogAnalyticsWorkspaceforDiagnostics.ps1 script as an Owner and got the message "Authenticated user should have the Owner/Contributor permissions".  In reviewing the script, I noticed that the $roleAssignment variable is not set before the second if statement.  I was able to get the script to work by adding the line below before the If statement.
$RoleAssignment = (get-azro

[2019-10-25 18:27] MicahMcKittrick-MSFT commented on #41231
@LeonardoFelippine I synced with some members of the Virtual Desktop team and the table provided in the requirements section is correct

OS | Required license
-- | --
Windows 10 Enterprise multi-session or Windows 10 Enterprise | Microsoft 365 E3, E5, A3, A5, F1, BusinessWindows E3, E5, A3, A5
Windows 7 Enterprise | Microsoft 365 E3, E5, A3, A5, F1, BusinessWindows E3, E5, A3, A5
Windows Server 20

[2019-10-25 18:31] MicahMcKittrick-MSFT commented on #41495
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-25 18:43] SaurabhSharma-MSFT commented on #41385
@jaffadog Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-10-25 18:44] TravisCragg-MSFT commented on #41394
@geekGK It is possible in most situations. [This doc outlines Standard Load Balancer outbound connections and rules](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-rules-overview).

[2019-10-25 19:01] VedAustin opened #41498 "Machine Learning service workspace - resource no longer exists"
Doc is out of date with the current resources available. What is the equivalent now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e6d62cb-c3fc-40b9-ba2e-edab34bb319f
* Version Independent ID: 8ff5349a-0f46-10e9-a9b0-d0e75bdffacc
* Content: [Create Azure ML workspaces in the portal - Azure Machine Learning](https://d

[2019-10-25 19:05] WilliamBerryiii opened #41499 "Missing UpdateState(State) call in main function."
In the following function ... I believe that `updateState(state);` must be called before the state object is returned.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce0da6a2-d5f1-3815-53b7-83a9cacb8806
* Version Independent ID: 8773faa9-a0bd-331c-3ff5-952b946ef763
* Content: [Create an advanced simulated device

[2019-10-25 19:07] VedAustin commented on #41498
When I search for: "Machine Learning service workspaces" - it just returns "Machine Learning". Has this been renamed to just Machine Learning? When I click on 'All Services', I see it listed as "Machine Learning service workspaces". Confusing.

[2019-10-25 19:07] FrankHu-MSFT commented on #41459
Hey @soorajpayyoor the b2c endpoints don't follow the exact authentication processes as the v2.0 endpoint. Have you tried utilizing a regular AAD tenant, do you receive the same issue?

In addition to that, could you provide the exact requests that you're saying are working that shoudln't be working and what you're expecting?

[2019-10-25 19:16] TylerMSFT commented on #41452
@aldesan, sorry for the issue. We need to update that tutorial to target the latest version of MSAL that has been released. That is in progress, and when done, will resolve this issue.
#please-close

[2019-10-25 19:16] #41452 closed

[2019-10-25 19:18] eanyanwu commented on #41482
Did you mean to say "as opposed to GB (base 10)" ?

Thanks for the quick response and for the explanation. This came up for us because there was some confusion over the units to use for memory-related performance counters, so I was looking to the docs for clarification when I noticed the discrepancy.
Just wanted to make sure the memory units were indeed in GiB.

[2019-10-25 19:20] #41408 closed

[2019-10-25 19:21] TomArcherMsft commented on #27037
CC: @MicahMcKittrick-MSFT
@tomaszkosturekswissre @Sudharma

Thank you for your feedback. The article has been updated.

#please-close

[2019-10-25 19:21] #27037 closed

[2019-10-25 19:26] WilliamBerryiii opened #41501 "Create Links to Custom Endpoint Configurations"
It would be helpful to link this document to the various Azure Services that can be used as custom endpoints.  These docs should include details about configuration of the endpoint.  E.G. the storage container endpoint requires all parts of path name (month, day, year, hour, second); but that is not detailed anywhere in documentation.

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-10-25 19:27] tu-trankilo opened #41502 "blokeciru"
infrasctructure

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1ca5543-36a0-d9bf-1fd7-e034aae95174
* Version Independent ID: 669fb854-7a93-f8ab-1822-2125461ce41b
* Content: [Supported browsers for Azure IoT Central](https://docs.microsoft.com/en-us/azure/iot-central/iot-central-supported-browsers#feedback)
* Content S

[2019-10-25 19:35] walsehgal commented on #41285
@SeaDude, thanks for your question. The `deviceId` is a unique ID that you provide for your device in the GET request, when querying for its location. When you make a asynchronous request to the **search geofence - GET API**, the device ID helps in publishing [geofence events](https://docs.microsoft.com/azure/event-grid/event-schema-azure-maps) relative to that device, against the specified geofen

[2019-10-25 19:36] troyhopwood commented on #41499
Thanks Bill,

The correct syntax is just updateState(State). ReturnState is no longer used.

I have submitted a PR to fix this.

T

From: Bill Berry <notifications@github.com>
Sent: Friday, October 25, 2019 12:06 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Troy Hopwood <troyhop@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] Missing

[2019-10-25 19:55] MicahMcKittrick-MSFT commented on #41495
@tsrob50 thanks for pointing this out. Can you actually open an issue on that repo instead?

https://github.com/Azure/RDS-Templates/issues

That way the team that manages the templates can review.

You can also edit the file and submit a pull request to the engineering team can sign off

https://github.com/Azure/RDS-Templates/edit/master/wvd-templates/diagnostics-sample/deploy/scripts/CreateLogAna

[2019-10-25 19:55] #41495 closed

[2019-10-25 20:00] MarileeTurscak-MSFT commented on #40493
As of today the options are limited, but you can try to scope it by user other parameters than "-All".

You can leave feature requests in office365.uservoice.com: https://office365.uservoice.com/forums/264636-general/suggestions/32706778-get-msoluser-returns-data-for-all-users

Or in the AAD feedback page: https://feedback.azure.com/forums/169401-azure-active-directory

[2019-10-25 20:01] MarileeTurscak-MSFT commented on #40493
I am closing this out for now but will update the thread upon new releases.

[2019-10-25 20:01] #40493 closed

[2019-10-25 20:07] jeevansd commented on #41480
@NBnfork Now when you add the application from the gallery, you will get these claims automatically added on your app. This way you don't have to add them explicitly. But I will get the custom claim information added so that customers can verify the claims configured for the app.

[2019-10-25 20:08] jeevansd commented on #41480
@v-nagta and @v-viinde Can you please add the claims section here?
CC: @chetansriv

[2019-10-25 20:09] MicahMcKittrick-MSFT commented on #41491
@xtrc we have two different samples. One that is with a dynamic IP and another which is a Static IP. So if you want a static IP you should follow the other doc

![image](https://user-images.githubusercontent.com/32313503/67601206-a7f34000-f728-11e9-8a3c-ab97f606ef9c.png)

https://docs.microsoft.com/en-us/azure/aks/ingress-static-ip

I will close this but if you have further questions let me know a

[2019-10-25 20:09] #41491 closed

[2019-10-25 20:14] curtand commented on #41221
@VinceSmith
Have you seen this, Vince? Please advise.

[2019-10-25 20:19] curtand commented on #20572
@scottstout
@SamirFarhat
@TravisCragg-MSFT
@Karishma-Tiwari-MSFT
I was filling in for Jim Dial in January but this area is now owned by Kumud Dwivedi. Please assign to her. Thanks!

[2019-10-25 20:34] Gamecock commented on #12992
@chriswue  Thanks this @veyalla script gets the daemon up and running.  I needed to use hostname vs ip for both connect and listen.

edgeAgent is in a loop.  If there is something obvious here let me know or i can dig through the code that generated the exception.

Thanks again - Mike

`019-10-25 20:28:52 +00:00 Starting Edge Agent
2019-10-25 20:28:53.175 +00:00 Edge Agent Main()
<6> 2019-10-25 20

[2019-10-25 20:44] SnehaGunda commented on #40538
@prashanthmadi the above PR from Naveen adds the latest release notes information.

We will close this issue if there aren't further questions.

#please-close

[2019-10-25 20:44] #40538 closed

[2019-10-25 20:52] PishPoshery opened #41506 "New-AzStorageContent"
The command New-AzStorageContext appears to be incorrectly referenced as New-AzStorageContent in the line "Then use the storage access key to authenticate with the New-AzStorageContent cmdlet..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4679b2b7-8381-d7ba-22d3-0948ee5873ac
* Version Independent ID: 84cd272f-a0a9-

[2019-10-25 20:57] veyalla commented on #12992
**Disclaimer: this not a solution that is supported in production.**
I think the special hostname to ip resolution happens only on Docker Desktop for Windows and Mac. So Linux might not work.

You can try [k3d](https://github.com/rancher/k3d) and leverage our Kubernetes support. See https://github.com/veyalla/el1#part-2-deploy-code-to-kubernetes (should work on Pi as well).

[2019-10-25 21:02] TravisCragg-MSFT commented on #20572
@curtand Assignment changed. Please let me know if there are any others.

[2019-10-25 21:09] jgwinner commented on #41277
I'm more wondering what GhostedRecall is, who has that right, and why it's there.

[2019-10-25 21:10] jgwinner commented on #41277
My client is an ISO company, and we need to know who has access to what.

[2019-10-25 21:14] NavtejSaini-MSFT commented on #41477
@John-Blair  Please elaborate your ask here as we are not sure which PS console you are referring to.

The Cloud shell does provide option for running the PS code.
![PS](https://user-images.githubusercontent.com/52257742/67604822-a63a7400-f74a-11e9-91c6-7d75b728d7a4.JPG)

Or you are referring to Powershell runbooks as mentioned in [this ](https://docs.microsoft.com/en-us/azure/automation/automatio

[2019-10-25 21:21] pejuborg opened #41508 "Update needed"
A few thing should be updated.
1. The screenshot shows an old version of Azure DSC
2. The query for viewing historical DSC data is ancient :) See the Kusto version below.

AzureDiagnostics
| where ResourceProvider == "MICROSOFT.AUTOMATION"
| where Category == "DscNodeStatus"
| where ResourceType != "started"
| summarize count() by bin(TimeGenerated, 1h)
| render timechart

---
#### Document Detail

[2019-10-25 21:26] MarileeTurscak-MSFT commented on #41493
@blouwagie thanks for the feedback!  I made a pull request to add instructions. https://github.com/MicrosoftDocs/azure-docs-pr/pull/93609

CC: @iainfoulds

[2019-10-25 21:26] #41493 closed

[2019-10-25 21:27] walsehgal commented on #41279
@SeaDude, you got to the right resource. And yes, it is allowed to add custom properties to the GeoJSON.

[2019-10-25 21:32] BassFaceIV opened #41511 "Incorrect Azure CLI command parameters"
Under https://docs.microsoft.com/en-us/azure/key-vault/key-vault-group-permissions-for-apps#give-the-principal-access-to-your-key-vault the "az keyvault set-policy ..." command should use the "--object-id" flag instead of the "--spn" flag to pass the objectId.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44a20a94-cfd

[2019-10-25 21:46] TravisCragg-MSFT commented on #41486
@SidShetye HTTP/2 is [End to End](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-overview#protocol-support---ipv6-and-http2-traffic), and is supported by default in all Azure Front Door configurations.

If your backend servers support HTTP/2, this should work with no additional configuration.

[2019-10-25 21:48] TravisCragg-MSFT commented on #41492
@Monual Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-25 21:51] ajlam commented on #41272
The docs have been updated with new screenshots: https://docs.microsoft.com/en-us/azure/mysql/howto-manage-firewall-using-portal#create-a-server-level-firewall-rule-in-the-azure-portal

#please-close

[2019-10-25 21:51] #41272 closed

[2019-10-25 21:54] vicenteherrera opened #41512 "Can't install Azure Functions Core Tools on Debian 10"
Following current instructions to install on Debian 10, when I try to use `sudo apt-get update` I get error for packages configured multiple times:
[code]
If I remove either `dotnetdev.list` or `microsoft-prod.list` and after updating, try to install, it can't locate the package:
[code]
The content of those files are:

dotnetdev.list:
[code]

microsoft-prod.list:
[code]

I did already install the

[2019-10-25 22:06] TomArcherMsft commented on #36335
@bijopunnoose I spoke with a dev on the engineering team and they are working on this.

[2019-10-25 22:07] iainfoulds commented on #41493
Just to follow up, there's no Azure connection needed here from PowerShell. The cmdlet is to generate an SSL cert. That's not something that requires Azure PowerShell, Active Directory Domain Services PowerShell, etc.

[New-SelfSignedCertificate ](https://docs.microsoft.com/en-us/powershell/module/pkiclient/new-selfsignedcertificate) should be part of the core PowerShell on Windows machines. You t

[2019-10-25 22:15] roygara commented on #41277
@jgwinner I understood that part but, you're saying ghostedRecall, is coming up as part of your access policy. I don't understand what you mean by access policy, that text isn't in the article. Would you please clarify what you mean by that so we can look into this?

@Adam-Smith-MSFT FYI

[2019-10-25 22:19] jgwinner commented on #41281
Let's forget the 24 hour part, it's sidetracking us.

Again, the idea, which I thought was supported from this: https://azure.microsoft.com/en-us/blog/better-security-with-enhanced-access-control-experience-in-azure-files/  was to allow people at home to access file shares in the cloud, and synchronize those files access from home with an on-prem file server.

It doesn't mention the Azure File Syn

[2019-10-25 22:19] roygara commented on #41277
@jgwinner Is this what you mean by access policy? https://docs.microsoft.com/en-us/windows-server/networking/technologies/ipam/create-an-access-policy

[2019-10-25 22:19] femsulu commented on #41478
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-25 22:19] Chai-NED opened #41514 "Server AAD app and client ADD app"
Can you address the secret operations for these two apps? If they expire, I guess role binding stops working and no one could log in to AKS. If the secret for server app leak, would it allow anyone with it to read the entire directory?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc86c3af-f6c7-4c48-e157-54abbc5958ff

[2019-10-25 22:24] petercmho opened #41515 "Does Asp.Net Core 3.0 app run in App Services"
I have a Asp.Net Core 3.0 app, but it doesn't run on App Services.  Does App Services support .net core 3.0 yet?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d445808-e61d-ccc2-3696-ef3ea109a662
* Version Independent ID: 8a9e706a-c350-1271-dcb8-883e166423b4
* Content: [Create C# ASP.NET Core web app - Azure App Servi

[2019-10-25 22:27] femsulu commented on #41508
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-25 22:27] szimmerMicrosoft commented on #41434
@ThunderHorse
I tried to find an example of what you are reporting.
I see some usage where scheduled events are enabled, and then disabled in the VM Scale Set API, and looking at the current state of the system I see that after enable - disable - enable the terminate notifications appear to be enabled.

I think to investigate this issue in more detail I need the resource details where you were tes

[2019-10-25 22:34] gabrielsribe commented on #22723
@sourton2013 , you must make sure that the query ("SELECT TABLE_SCHEMA, TABLE_NAME FROM information_schema.TABLES WHERE TABLE_TYPE = 'BASE TABLE' and TABLE_SCHEMA = 'SalesLT' and TABLE_NAME <> 'ProductModel'") returns your database tables. Note that 'TABLE_SCHEMA = 'SalesLT' must be your schema name, and you can remove the 'where' condictions to make an test.

[2019-10-25 22:35] rolucchi commented on #41278
Data Service API provides CRUD API and currently the data uploaded is accessible only via the Data Download, Update and Delete API. Several request parameters in the Spatial Service API can be passed via referencing data uploaded using Data Service, for example geofences in [GET GeoFence API](https://docs.microsoft.com/en-us/rest/api/maps/spatial/getgeofence).

[2019-10-25 22:37] mike-urnun-msft commented on #41483
@danielsollondon Thank you for your feedback! We will review and update as appropriate.

[2019-10-25 22:38] mike-urnun-msft commented on #41512
@vicenteherrera Thank you for your feedback! We will review and update as appropriate.

[2019-10-25 22:38] TomArcherMsft commented on #39080
@tomturnerdesign Thank you for your feedback. I've reached out to the engineering team to get their input on this. I (or they) will update when we have more information.

[2019-10-25 22:40] MicahMcKittrick-MSFT commented on #41514
Thanks for the question! We are investigating and will update you shortly.

[2019-10-25 22:46] MarileeTurscak-MSFT commented on #41133
@Canis-Lupis can you send your support ticket number to me at AzCommunity@microsoft.com?

[2019-10-25 22:58] ajlam commented on #40491
@athempel - I've updated the firewall doc with more information about VNets. They should be published by Monday morning.

#please-close

[2019-10-25 22:58] #40491 closed

[2019-10-25 22:58] MarileeTurscak-MSFT commented on #41336
@kjulson I was able to reproduce this issue and the Manager field also did not populate for me, after adding a manager in the portal. In the user profile in the portal it shows but not in the exported CSV. I am reporting this as a bug.

![image](https://user-images.githubusercontent.com/13383753/67609148-3b843b00-f740-11e9-9076-1f64e3142507.png)

[2019-10-25 23:58] MicahMcKittrick-MSFT commented on #41434
thanks @szimmerMicrosoft !

@ThunderHorse please send the email with the requested details. You can also include me mimckitt [at] microsoft.com

I will close this and we can continue offline. We we end up needing to add any notes to the doc I will reopen and do so.

[2019-10-25 23:58] #41434 closed

[2019-10-26 00:00] MicahMcKittrick-MSFT commented on #41231
@LeonardoFelippine I will close this but if you have further questions let me know and we can always reopen and continue the discussion.

Also, we have a large community of WVD users in tech communities who could help guide you through additional setup and particular scenario explanation

https://techcommunity.microsoft.com/t5/Windows-Virtual-Desktop/bd-p/WindowsVirtualDesktop

[2019-10-26 00:00] #41231 closed

[2019-10-26 00:03] MicahMcKittrick-MSFT commented on #41107
@LouisDK Both Jagadeesh and myself attempted to reproduce this but we found the keyvault was accessible regardless of the restart policy. So I am assuming there is something specific with your deployment or yaml file.

I would suggest you simply create the container with the restart policy you want the first time and avoid having to delete, redeploy then reconfigure your containers.

If you still

[2019-10-26 00:03] #41107 closed

[2019-10-26 00:04] MarileeTurscak-MSFT commented on #41506
@PishPoshery
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-26 00:04] walsehgal commented on #41279
@SeaDude, you got to the right resource. And yes, it is allowed to add custom properties to the GeoJSON.

[2019-10-26 00:05] MarileeTurscak-MSFT commented on #41511
@BassFaceIV
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-26 00:06] MicahMcKittrick-MSFT commented on #41454
@ckbargavi I am going to close this as there is no doc update needed. But if you are still having issues after the weekend and this is blocking you in some way let me know and we can reopen and continue the discussion.

[2019-10-26 00:08] MicahMcKittrick-MSFT commented on #41514
@Chai-NED I would suggest you review the documentation we have on this. It is technically an AAD question so the resources are located in the AAD documentation

https://docs.microsoft.com/en-us/azure/active-directory/develop/app-objects-and-service-principals

Take a look and let me know if you want me to further clarify anything.

[2019-10-26 00:10] MarileeTurscak-MSFT commented on #41506
Since this is the new Az module you are correct. I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/93651

[2019-10-26 00:10] #41506 closed

[2019-10-26 00:11] AlanMuller opened #41523 "Production and deployment slots seem to use same host.json file."
I tried the strategy recommended above by deploying to a deployment slot with host.json file containing a unique durable function hub name. After swapping to production slot, I see that both slots now use the exact same host.json file. Both slots are now pointed to the same task hub and interfering with each other.

I confirmed this by editing, in the azure portal, the host.json file associated wi

[2019-10-26 00:52] RobotChipmunk commented on #41189
@RohitMungi-MSFT I got this same error when trying to run the autoML sample which is part of the default Azure notebook samples.  I was running the notebook on a notebook VM created in Azure.  The sample file i am using is called 'regression-automated-ml'

[2019-10-26 01:09] ameetkonnur commented on #41470
Hi Micah

I have a vmss backed AKS cluster. I want to attach a ASG to this VMSS to control a set of ports to be opened.
So was trying to attach a ASG using CLI to the ipConfigurations property of VMSS where I am getting this error.

So not sure if this is supported.
Please advise.

Regards
—
Ameet

@ameetk | 9833554273
________________________________
From: Micah <notifications@github.com>
Sent: F

[2019-10-26 01:23] JustinGrote opened #41524 "You can splat the connection to connect-azaccount"
The hashtable that get-automationconnection provides lines up with the parameter names in Connect-AzAccount, so you can just splat it to connect-az account to save some redundancy.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81c284ea-3656-836f-7eab-388773e0e382
* Version Independent ID: 71329bef-2d4f-4ff6-5a0

[2019-10-26 01:42] JustinGrote opened #41525 "Must add IAM roles as well!"
It is not enough to just add the policy to keyvault. The application also needs at least one IAM role assigned to the keyvault or above in order to see it, or else it will not be able to login and fail with insufficient rights to access the subscription.

I banged my head against this "gotcha" for an hour...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-10-26 01:50] GiftA-MSFT commented on #41369
@SteveMSFT can you please look into this issue and advise? Thanks.

[2019-10-26 01:52] #40539 closed

[2019-10-26 01:59] winnieshen96 opened #41526 "Accessing the Consul UI"
When I try to go to http://&lt;my VM's public IP&gt;:8080/ui, it tells me it refuses to connect. How can I access the consul?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ff5a1dc-535c-4326-97a4-e2766940c78e
* Version Independent ID: fd8e9132-f2c7-4f5d-a00f-1cf9282b0fd8
* Content: [Install Consul in Azure Kubernetes

[2019-10-26 02:09] ridomin commented on #41424
I see the option now. Looks like the docs have been updated before the app.

[2019-10-26 02:09] #41424 closed

[2019-10-26 02:13] apostrophe opened #41527 "Are these commands for the latest Powershell Version? Any plans to update?"
New-AzResourceGroupDeployment seems to go up to Powershell 2.8?
New-AzureRmResourceGroupDeployment replaces above?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8483fb8d-1fa7-bc0a-192b-dc309b9e147c
* Version Independent ID: ffed4015-ff78-1826-1c27-1977cceb48f3
* Content: [Tutorial - Export Azure Resource Manager templ

[2019-10-26 02:26] femsulu commented on #41103
Hi @anas24aj  - Really good questions. when you say "Management server" in this context, I assume you are referring to the Configuration & Process servers. Please correct if my assumption is wrong.

That said, I recommend starting with [this useful content](https://docs.microsoft.com/en-in/azure/site-recovery/site-recovery-plan-capacity-vmware) on capacity planning and scaling ASR infrastructure.

[2019-10-26 02:26] #41103 closed

[2019-10-26 02:27] blouwagie commented on #41493
Will it did not work without connection to Azure. So that is wrong, at
already in my case.

bart

bart@louwagie.com

On Fri, Oct 25, 2019, 18:08 Iain Foulds <notifications@github.com> wrote:

[2019-10-26 03:41] KrishnaG-MSFT commented on #41488
@TylerMSFT Thanks for the quick response. :+1:

[2019-10-26 03:46] jgwinner commented on #41277
No, that's under IPAM; what I mean is the Access Policy under the File properties under the File Share.

Go to portal.azure.com

Pull up the storage account

(Breadcrumbs are Home > Storage account > File shares (pick a share) > (Share name)

Click on a file, go to "Access Policy" on the left panel.

![image](https://user-images.githubusercontent.com/10425170/67613922-62eefe00-f768-11e9-9939-b779c

[2019-10-26 03:53] KrishnaG-MSFT commented on #41527
@apostrophe Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-10-26 04:14] VikasPullagura-MSFT commented on #41489
@CeciAc Thanks for the feedback! We are currently investigating and will get back on this.

[2019-10-26 04:15] VikasPullagura-MSFT commented on #41494
@alieus Thanks for pointing this out. I have assigned the issue to the doc author for updating the document accordingly.

[2019-10-26 04:16] VikasPullagura-MSFT commented on #41494
@marthalc Can you please look into this and update the document as applicable.

[2019-10-26 04:17] VikasPullagura-MSFT commented on #41498
@VedAustin Thanks for pointing this out. I have assigned the issue to the doc author for updating the document accordingly.

[2019-10-26 04:18] VikasPullagura-MSFT commented on #41498
@shivp950 Can you please look into this and update the document as applicable.

[2019-10-26 04:20] VikasPullagura-MSFT commented on #41499
@WilliamBerryiii Thanks for pointing this out. Doc author has raised a PR for updating the document, the changes will go live once it is approved.

[2019-10-26 04:23] VikasPullagura-MSFT commented on #41515
@petercmho Thank you for sharing the query. We are looking into this and would get back to you soon on this thread.

[2019-10-26 04:25] VikasPullagura-MSFT commented on #41501
@WilliamBerryiii Thanks for the feedback. I have assigned the issue to the doc author for sharing inputs and updating the document accordingly.

[2019-10-26 04:25] VikasPullagura-MSFT commented on #41501
@robinsh Can you please look into this feedback and update the document as applicable.

[2019-10-26 04:50] himanshusinha-msft commented on #41429
@vijayalaya : We did checked the document which you had referred and it is working as expected . I was able to send the message to EH .Since your are getting the timeout we  are confident that this is related to some firewall issue . Please do review this doc as to which port you need to open .
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-faq#what-ports-do-i-need-to-open-on-the-fir

[2019-10-26 04:50] #41429 closed

[2019-10-26 04:52] himanshusinha-msft commented on #41311
@giancarlos29 : We are closing this issue as we have not heard back from you , you can always re-open the issue if you think that's appropriate .

[2019-10-26 04:52] #41311 closed

[2019-10-26 04:53] himanshusinha-msft commented on #41312
@giancarlos29 :We are closing this issue as we have not heard back from you , you can always re-open the issue if you think that's appropriate .

[2019-10-26 04:53] #41312 closed

[2019-10-26 05:19] kumarallamraju opened #41528 "Linux machine steps refers to an .exe file"
[Enter feedback here]

Why do we have steps 11 to 15 in "Install on Linux machine" section.
It refers to an .exe file..

Can you pls double check?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8860a2d-9dcc-481e-a650-441b9609454f
* Version Independent ID: 2f160eea-82f2-1731-a59c-9ade1ca409a4
* Content: [Prepare source

[2019-10-26 07:01] DixitArora-MSFT commented on #41179
@svangeti For now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-26 07:01] #41179 closed

[2019-10-26 07:02] DixitArora-MSFT commented on #41181
@Kav7 I have assigned this to content author for further review and update as appropriate.

[2019-10-26 07:27] CentricStraaten opened #41529 "Azure Python Function Container not working on RasPi"
I Create a Python Queue Trigger with the Azure Functions Core Tools using the Dockerfile option.
When I run the function on my local machine it works.

I made the container image suitable for my Raspberry Pi by changing

```FROM mcr.microsoft.com/azure-functions/python:2.0```

into

```FROM mcr.microsoft.com/azure-functions/python:2.0-arm32v7```

I also included ApplicationInsights support.

Below

[2019-10-26 07:46] akx commented on #39774
This bit of the manifest documentation says `optionalClaims` should be a string:

![Screenshot 2019-10-26 at 10 45 55](https://user-images.githubusercontent.com/58669/67616141-d8e17c80-f7dd-11e9-9767-881013cbb5d3.png)

Trying to replace

[code]

with

[code]

in the manifest results in a

error.

[2019-10-26 07:56] gkgaurav31 commented on #41248
I found a way to save these sessions in blob storage, as explained here: https://blogs.msdn.microsoft.com/jpsanders/2017/08/10/azure-app-service-authentication-using-a-blob-storage-for-token-cache/

Where are the tokens stored by default in a Linux WebApp?

[2019-10-26 09:05] rajanbhayana opened #41530 "Repeated step?"
Create and handle a news search request . is 3 and 4 same?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 438427d5-210e-7cb7-352f-2fdf66fc4670
* Version Independent ID: f8285d8c-65e8-7d38-4fdc-e6406fa0a57c
* Content: [Quickstart: Perform a news search with C# - Bing News Search REST API - Azure Cognitive Services](http

[2019-10-26 09:34] VikasPullagura-MSFT commented on #41502
@tu-trankilo Thanks for posting query. Can you please elaborate more on the issue.

[2019-10-26 09:40] VikasPullagura-MSFT commented on #41523
@AlanMuller Thanks for the feedback! We are currently investigating and will get back on this.

[2019-10-26 09:46] VikasPullagura-MSFT commented on #41525
@JustinGrote Thanks for the feedback! We are currently investigating and will get back on this.

[2019-10-26 09:48] LouisDK commented on #41107
Hi,
I found the problem - there seems to be a time delay from when the
container starts, and when the Managed Service Identity endpoint becomes
available.

My container failed to connect to the Managed Service Identity endpoint
when it tried to _immediately_ connect to it when starting up. When I
introduced a 1 second delay, I had intermittent success (1/5), with
occasional failures. When I increa

[2019-10-26 09:51] VikasPullagura-MSFT commented on #41526
@winnieshen96 Thank you for sharing the query. We are looking into this and would get back to you soon on this thread.

[2019-10-26 09:55] VikasPullagura-MSFT commented on #41524
@JustinGrote Thanks for your feedback. I have assigned the issue to the doc author for updating the document accordingly.

[2019-10-26 09:55] VikasPullagura-MSFT commented on #41524
@bobbytreed Can you please look into this and update the document as applicable.

[2019-10-26 10:02] SadiqhAhmed-MSFT commented on #41200
@bizinbarefeet Closing this issue for now. You may reopen the issue by providing more details and tag me in your response.

[2019-10-26 10:02] #41200 closed

[2019-10-26 10:19] VikasPullagura-MSFT commented on #41528
@kumarallamraju Thanks for pointing this out. I have assigned the issue to the doc author for updating the document accordingly.

[2019-10-26 10:19] VikasPullagura-MSFT commented on #41528
@Rajeswari-Mamilla Can you please look into this and update the document as applicable.

[2019-10-26 10:36] VikasPullagura-MSFT commented on #41530
@rajanbhayana Thanks for pointing this out. I have assigned the issue to the doc author for updating the document accordingly.

[2019-10-26 10:36] VikasPullagura-MSFT commented on #41530
@aahill Can you please look into this and update the document as applicable.

[2019-10-26 10:37] SidShetye commented on #41486
At https://docs.microsoft.com/th-th/azure/frontdoor/front-door-faq it says

[2019-10-26 10:40] VikasPullagura-MSFT commented on #41529
@CentricStraaten Thank you for sharing the query. We are looking into this and would get back to you soon on this thread.

[2019-10-26 10:52] NvRom opened #41531 "failed to download files"
Hi Team

I'm trying to download files from VSTS Azure storage blob. when I type below command, I'm blocked on the below error. Could you help take a look?
Command: azcopy cp "https://yaxtcmprodwus2230.vstmrblob.vsassets.io/19422243-19b9-4d85-9ca6-bc961861d287-179-runid-90174506/GeneralAttachment/TestResults?sv=2017-04-17&sr=c&si=logstore-read-list-policy&sig=2yhzZlLBX2URfUZ7zQZlsq0U8oZsjxp%2FLp65Y

[2019-10-26 11:21] anoopasokan commented on #41428
I am still experiencing the same issue. I have installed version '1.0.69' and I ran the following code snippet.

import mlflow
from azureml.core import Workspace
ws = Workspace.from_config()
mlflow.set_tracking_uri(ws.get_mlflow_tracking_uri())

[2019-10-26 11:50] VikasPullagura-MSFT commented on #41531
@NvRom Thanks for the feedback! We are currently investigating and will get back on this.

[2019-10-26 12:33] akx commented on #27597
Can you explain what "will mess up guest scenarios" means, exactly? It's a bit of a vague phrase to be in official documentation 😅

[2019-10-26 12:48] vijayalaya commented on #41429
Thank you Himanshu for the clarification and the article reference.  I will try out this

[2019-10-26 12:51] bbaassssiiee opened #41532 "What is an average amount of time that Sysprep takes?"
It seems that Sysprep takes a lot of time. What is an appropriate timeout?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bb18731-b0b4-f92b-7ece-031a84c76d7b
* Version Independent ID: 27047a2a-a07b-cadb-fab5-ecc928b46717
* Content: [How to create Windows VM Images with Packer in Azure](https://docs.microsoft.com/en-us

[2019-10-26 13:05] geekGK commented on #41394
I did read that link document prior to raising query. However it doesn't say how mapping can be done, apart from disabling field disableOutboundSNAT. Can you provide sample JSON config to map private IP to public IP in above situation? (Say 10.8.12.1 private IP to public IP 54.124.85.44)

[2019-10-26 13:15] msrini-MSFT commented on #41270
@swhite24 , I will go ahead and close this issue. Please tag me if you have any further questions.

[2019-10-26 13:15] #41270 closed

[2019-10-26 15:02] eduararley opened #41533 "How to do it with templates?"
How can I grant access to a Resource Group from a Resource Manager Template?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc735029-aa18-3d0e-5247-287f1dc970af
* Version Independent ID: c0dc1791-f98f-30c2-9922-c5d2c4f49855
* Content: [Use a Linux VM system-assigned managed identity to access Azure Resource Manager](ht

[2019-10-26 15:53] vikramdadwal commented on #30433
Is it postponed?

[2019-10-26 16:34] MicahMcKittrick-MSFT commented on #41532
There is not an average time I am aware of. Really depends on how big the OS image is, what settings are being applied etc. So could take 10 mins. Could take an hour plus.

[2019-10-26 18:13] flyboarder commented on #5806
@artomh Thanks for the clarification, could you explain how we are able to acquire user profile details via any MS API once a B2C user has been authenticated?

Or are we required to use yet another AzureAD Application (non-B2C) that has been assigned MS Graph API access?

[2019-10-26 18:34] jjindrich opened #41535 "Use AAD guest accounts"
Please is it planned to support AAD guest accounts in future ? There is customer requirement - they need to allow access their B2B partner to access WVD published applications. This users are invited to customer AAD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2eeca14-80ef-c0b4-2719-80ceb286ba3d
* Version Independe

[2019-10-26 19:36] silverl opened #41536 "Cannot get DHE ciphers to work."
I've tried the predefined `AppGwSslPolicy20150501` policy and I've also tried a custom policy. I've tested the endpoints using `nmap --script ssl-enum-ciphers -p 443 hostname`

When testing the back-end nodes, which are running IIS with a custom cipher policy, nmap successfully reports the expected TLS_DHE_* ciphers are present.

When testing the App Gateway in front of the node, the TLS_DHE_* cip

[2019-10-26 20:31] shashishailaj commented on #41081
@MGamil-MSFT We have tested the same in temporary lab and updated the documentation .

Thank you for your contribution.

[2019-10-26 20:31] #41081 closed

[2019-10-26 20:46] askprasanth opened #41537 "ASE Internal - Isolated service plan is not connecting to app gateway for public internet"
I have container app deployed in isolated ASE-internal subnet.. when i try to connect to my application gateway the communicate to public internet is not working...

if any documentation for isolated ase to app gateway will be helpfull

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e30dfd76-2a83-bd21-2153-85e32894014e

[2019-10-26 21:38] Tylersuard opened #41538 "Realtime Object Detection using Tensorflow model downloaded from Custom Vision"
Hello!  I really love how easy it is to train and download a model using Azure Custom Vision.  However, the sample code only allows me to test the model on one image at a time.  How can I adapt this to a real-time object detection system, with a screen that displays the results and a bounding box?

Thank you!

[2019-10-26 21:56] douglasism opened #41539 "VMs don't show in toolbar"
I am working through the tutorial, on "Select a VM to run the notebook". I did not have any VMs, so I had to create one as described in step #4. Toolbar never updated. Waited 15 minutes. I added another VM. Still "No VMs found" in the toolbar. I logged out and logged back in to Machine Learning. I navigated again to the tutorial. Still "No VMs found". The VMs show up in my Azure dashboard.

---
##

[2019-10-26 22:21] TravisCragg-MSFT commented on #41537
@askprasanth Does [This Doc](https://docs.microsoft.com/en-us/azure/app-service/environment/integrate-with-application-gateway) give the examples you are looking for? If not, could you elaborate a bit more on what you are looking for?

[2019-10-26 22:23] TravisCragg-MSFT commented on #41538
@Tylersuard can you post a link to the doc you are referring to?

[2019-10-26 22:32] TravisCragg-MSFT commented on #41533
@eduararley Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-10-26 22:32] TravisCragg-MSFT commented on #41535
@jjindrich Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-10-26 22:33] TravisCragg-MSFT commented on #41539
@douglasism Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-10-26 22:41] TravisCragg-MSFT commented on #41536
@silverl as is discussed in the note at the bottom of this page, SSL cipher suites used for the connection are also based on the type of the certificate being used. In client to application gateway connections, the cipher suites used are based on the type of server certificates on the application gateway listener.

Check your app gateway listener certificate and make sure it is appropriate for DHE

[2019-10-26 23:57] Tylersuard commented on #41538
@TravisCragg-MSFT  yes, thank you: https://github.com/Tylersuard/Azure-Custom-Vision-Real-Time-Object-Detection

This is an unzipped copy of what is downloaded when I ask Custom Vision to export my model.  I can run inference using the model by running python/predict.py .  However, this only works for one input image and I would love to use this for real-time object detection.  Can you help me?

[2019-10-26 23:58] kumarallamraju opened #41541 "Recovery point (Latest - lowest RPO) is not discussed"
[Enter feedback here]

I see 4 recovery points in the Azure Portal only 3 are discussed here

<img width="476" alt="Screen Shot 2019-10-26 at 4 56 47 PM" src="https://user-images.githubusercontent.com/15897803/67627453-c41edc00-f811-11e9-978c-cb491a2db1c5.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc1e6c87-72

[2019-10-27 01:10] douglasism opened #41542 "broken link: deploy python apps..."
If you prefer to deploy apps through an IDE, see Deploy Python apps to App Service from Visual Studio Code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0077a811-b0b7-93b1-80b0-a4d45615ef4b
* Version Independent ID: cc95198d-5560-2bf1-09ae-b8d210e45f2d
* Content: [Quickstart: Create Python app on Linux - Azure App Se

[2019-10-27 02:20] madhuperera commented on #31321
Hi,
I still cannot get this working. I have got Security Events working fine on all windows machines. Now I would like to get Windows Firewall and Windows DNS working as well. I have installed the solutions and I have also enabled the Firewall logs on each machine. Do I need to do anything else?

Do I need to download the Windows Monitoring Agent and install again when I have already done it for S

[2019-10-27 02:44] VikasPullagura-MSFT commented on #41542
@douglasism Thanks for pointing this out. I have assigned the issue to the doc author for updating the document accordingly.

[2019-10-27 02:44] VikasPullagura-MSFT commented on #41542
@douglasism Can you please look into this and update the broken link as applicable

[2019-10-27 02:48] VikasPullagura-MSFT commented on #41541
@kumarallamraju Thanks for the feedback! I have assigned the issue to the doc author for updating the document accordingly.

[2019-10-27 02:49] VikasPullagura-MSFT commented on #41541
@rayne-wiselman Can you please look into this and update the document as applicable.

[2019-10-27 03:52] azizcoder opened #41544 "type object 'Dataset' has no attribute 'File'"
When trying to create a dataset using:
`web_paths = [
            'http://yann.lecun.com/exdb/mnist/train-images-idx3-ubyte.gz',
            'http://yann.lecun.com/exdb/mnist/train-labels-idx1-ubyte.gz',
            'http://yann.lecun.com/exdb/mnist/t10k-images-idx3-ubyte.gz',
            'http://yann.lecun.com/exdb/mnist/t10k-labels-idx1-ubyte.gz'
            ]
dataset = Dataset.File.from_files(p

[2019-10-27 04:58] femsulu commented on #41256
Hi @ramdsec
For AKS Pod, use a log search query: (in addition to what's documented):

For CPU Utilizaton: If Pod doesn't report for 10 minutes, then an alert should trigger.
Perf
| where CounterName contains "cpu" and InstanceName has 'mypod' and CounterName contains "cpuUsageNanoCores"
KubePodInventory
| where PodStatus != 'Running' and TimeGenerated < now(10m)

For Memory Utilization: If Pod doe

[2019-10-27 05:01] femsulu commented on #41256
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-10-27 05:01] #41256 closed

[2019-10-27 09:12] kostrse opened #41546 "sub claim unique across tenants?"
is the "sub" claim unique across different tenants (tid)?
Can I use "sub" as a unique identifier of a user in a multi-tenant application or it should be "tid"+"sub"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2471c08b-befe-8e1a-df08-f13e116c231e
* Version Independent ID: 0d827d33-2906-6352-9398-13863def9354
* Conte

[2019-10-27 09:14] sashikab85 commented on #8702
Issue is still available with azure b2c tenant and GitHub connect. email not displaying if User attributes/ Application claims (Email Address ) alredy configured.Only Display name is showing.Given Name and Sur Name not displaying as well.Not sure these claims providing by GitHub as well to Azure B2C side . Is there any way to debug this from azure portal side or any solution for this ?

[2019-10-27 10:21] MaxMueller0815 opened #41548 "Sample Code throws: StatusCodeError: 404 - undefined"
Hi,
I used the sample code linked here for node.js. The issue is it throws the message:
[onTurnError] StatusCodeError: 404 - undefined
each time i write something in chat.

I use the same credentials in .env file for other sample code and it connects without any error and I get the info from my QnA base.

So, I don't have any idea what is causing this error here.
.env file:
MicrosoftAppId=578e9aad

[2019-10-27 11:30] mypapa123 opened #41550 "Azure b2c tenant and GitHub connect. Given Name and Surname not displaying"
Azure b2c tenant and GitHub connect. Given Name and Surname not displaying for SignIn user flow,Is there any way to debug this from azure portal side or any solution for this ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddbbe788-2f8d-e5c0-5133-ee24f69c6056
* Version Independent ID: 45c2d2b8-536f-e204-d3a5-ae57e7598

[2019-10-27 11:37] mypapa123 opened #41551 "Azure b2c tenant and GitHub connect. Given Name and Surname not displaying"
Azure b2c tenant and GitHub connect. Given Name and Surname not displaying for SignIn user flow,Is there any way to debug this from azure portal side or any solution for this ? User attribute and Application claims already configured.

[2019-10-27 12:12] John-Blair commented on #41477
I don't see this Powershell on my home page  - why don't you include clear instructions of how to run powershell from https://portal.azure.com - I can hardly make my question any easier for you - maybe you should pass it onto someone else?

Microsoft Azure<https://portal.azure.com/>
Microsoft is radically simplifying cloud dev and ops in first-of-its-kind Azure Preview portal at portal.azure.com
p

[2019-10-27 13:25] VikasPullagura-MSFT commented on #41546
@kostrse Thanks for the feedback! We are currently investigating and will get back on this.

[2019-10-27 13:38] VikasPullagura-MSFT commented on #41548
@MaxMueller0815 Thanks for the feedback! We are currently investigating and will get back on this.

[2019-10-27 14:21] VikasPullagura-MSFT commented on #41544
@azizcoder Can you please share the document that you are following.

[2019-10-27 15:43] mkiernan opened #41552 "nonadmin should be non_admin"
There is an error in the python example. The elevation level should be non_admin instead of nonadmin: https://docs.microsoft.com/en-us/python/api/azure-batch/azure.batch.models.elevationlevel?view=azure-python

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7cb180a-6147-7108-c866-c2f3ca552f52
* Version Independent ID:

[2019-10-27 15:59] silverl commented on #41536
The note at the bottom of the page is vague and not helpful. What does it actually mean? What aspects of the certificate matter? Can you be more specific?

In this specific case, we have the exact same certificate installed on the IIS servers and in Application Gateway. It's a commercial third party certificate from a reputable CA.

[2019-10-27 16:36] christophermohammed opened #41553 "Deployment to azure"
Issue for https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-develop-mongodb-react
Cloned from https://github.com/burkeholland/express-react-starter

@burkeholland I'm trying to deploy this project to Azure by following this https://docs.microsoft.com/en-us/azure/javascript/tutorial-vscode-azure-app-service-node-01 documentation and I'm having a hard time. I've tried deploying just the `ser

[2019-10-27 16:39] HowardEdidin commented on #39542
@SnehaGunda I should have it updated by Thursday.

[2019-10-27 16:41] MicahMcKittrick-MSFT commented on #41552
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-27 16:42] MicahMcKittrick-MSFT commented on #41551
closing as duplicate of #41550

[2019-10-27 16:42] #41551 closed

[2019-10-27 17:39] SatyaKomatineni opened #41554 "Is there a general debug activity that I can use in a pipeline to see what is being passed in?"
1. As a novice, I am tempted to do "print("something")" to see what the previous activity has generated

2. In case of copy from source activities, is there a way to "limit" the number of files read during the test/debug mode

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5abe92e0-af6a-4def-ca04-cec316529945
*

[2019-10-27 18:53] ShavaliP opened #41555 "Webhook-Source IP address ranges"
i have allowed the Source IP address ranges in my firewall, still i'm not receiving the mails from azure-noreply@microsoft.com. please share the updated document IP details to update in firewall.

Link : https://docs.microsoft.com/en-us/azure/azure-monitor/platform/action-groups

Thank you :-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-10-27 19:31] AjayKumar-MSFT commented on #41248
@gkgaurav31, Thanks for raising this question! firstly, to fetch more details on the blank output, you can always review the Application Logs > Failed request tracing and/or capture a network trace (F12).

By default, fetch doesn't automatically send cookies.  You can add the "credentials" property with either "same-origin" or "include" provided. App Service supplies this token to your server code

[2019-10-27 19:31] #41248 closed

[2019-10-27 19:42] #41553 closed

[2019-10-27 19:48] ecfan commented on #41181
Hi @Kav7 & @DixitArora-MSFT,

I created a work item and have created a PR to address. Fix should go live Mon 10/28/2019 after 11 AM. Thanks!

[2019-10-27 19:49] ecfan commented on #41181
#please-close

[2019-10-27 19:50] #41181 closed

[2019-10-27 20:11] akn9050 opened #41556 "Azure Management conditional access impact access to Visual Studio subscriptions administrator portal"
We created conditional access policy to block sign-in to Azure management portal, and we are getting reports from users that are accessing [Visual Studio subscriptions administrator portal](https://manage.visualstudio.com/Subscribers) that they are getting the error "Your sign-in was successful but you don't have permission to access this resource."? How can block sign in to https://portal.azure.c

[2019-10-27 22:04] djpmsft commented on #41554
Hi @SatyaKomatineni,

You can see the output of an activity by clicking on the output icon under actions. See below for an example with copy.

![image](https://user-images.githubusercontent.com/31044028/67642626-c85b0000-f8ca-11e9-9aee-e7fc58bcc9d1.png)

To limit the number of files read you can either alter your dataset path to point at a specific file(s) or use wildcarding to specify which file(

[2019-10-27 22:09] Abdelkrim opened #41557 "gunicorn: error: unrecognized arguments: --timeout:600"
to whom it may concern,

the heading container startup process [1] indicates that a timeout of 600 should be set.

the Azure log stream indicates that "gunicorn: error: unrecognized arguments: --timeout:600"

What should I do?

Thanks in advance

[1] https://docs.microsoft.com/en-us/azure/app-service/containers/how-to-configure-python#container-startup-process

---
#### Document Details

⚠ *Do not

[2019-10-27 22:17] Abdelkrim commented on #41557
I have found the issue, a semi-colon is mistaken

[2019-10-27 22:31] rubeneric opened #41558 ".NET core is updated"
Current instructions cause an error after the 'dotnet run' command, since the Win10 VM has 3.0.0 running while the application requires 2.1.0.
Fixed by manually installing 2.1.0 here: https://dotnet.microsoft.com/download/dotnet-core/2.1
Please consider updating the application

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-10-27 22:45] adielben opened #41559 "Can't create new Core Web Application project"
Hello, I see the option of Core 3.0 and click "create" , but it doesn't create any project , even though it doesn't show up any error message

---
#### פרטי מסמך

⚠ *אין לערוך מקטע זה. פעולה זו נדרשת עבור קישור לנושאים ב- docs.microsoft.com ← GitHub.*

* ID: 3d445808-e61d-ccc2-3696-ef3ea109a662
* Version Independent ID: 8a9e706a-c350-1271-dcb8-883e166423b4
* Content: [Create C# ASP.NET Core web ap

[2019-10-27 22:57] TravisCragg-MSFT commented on #41550
@mypapa123 can you post a link to the doc you are referring to?

[2019-10-28 00:37] dcbrown16 opened #41562 "WAF custom rules comparison"
My understanding is that custom rules are only supported in WAF for v2. Perhaps that particularly feature could be added to the comparison to clarify that not every WAF function is available in v1?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faa5b8a2-11a1-6a2d-07cb-ffcf39643ed4
* Version Independent ID: 298a134e-fb2

[2019-10-28 01:09] dcbrown16 opened #41564 "Add required permissions"
Can we please add required RBAC permissions, as specifically as possible, for setting diagnostic settings? I assume they vary between where you are sending them (Monitor/storage/EH). Please also include info for sending across subscriptions (i.e. requirement for guest access to other tenants).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-10-28 01:12] tkumark opened #41565 "can you please elaborate more on the standalone subscription"
Can you please elaborate more on the standalone subscription and how to configure subscription as a standalone?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 896691fb-064a-eaf8-f71f-53200149b48a
* Version Independent ID: ff3e18ed-6d13-6fac-7b6c-f78f47b0f754
* Content: [Subscriptions in Azure API Management](https://do

[2019-10-28 01:13] JDeanThomas opened #41566 "Current Node.js Active LTS is v12"
v10 will fall out of Active LTS on 10/30/19

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b47363e3-c36f-0755-819c-26946013d673
* Version Independent ID: 197c63a1-9f72-1049-f27e-8c9c672ec472
* Content: [JavaScript developer reference for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-

[2019-10-28 01:14] dcbrown16 commented on #41564
I see we have a good resource for RBAC here.
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/roles-permissions-security
I'll just close but you can consider adding a note/link to that page, thanks.

[2019-10-28 01:14] #41564 closed

[2019-10-28 01:16] juyamagu opened #41567 "Sample.py contains unnecessary indent."
An indent error occurs as below, because of unnecessary indents in `Sample.py`.
[code]

To resolve the error, some commands to remove the unnecessary spaces, like `sed -i 's/^[[:space:]]*//' Sample.py`, are needed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f1bc2bb-fedd-35c3-b507-3c4c957fa503
* Version Independent

[2019-10-28 01:59] swiftPeter opened #41568 "Hardware OAuth token is supported in PAP"
Document: https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-nps-extension

The article shows "PAP supports all the authentication methods of Azure MFA in the cloud: phone call, one-way text message, mobile app notification, and mobile app verification code"

so PAP also supports hardware OAuth token, please add it in the document

---
#### Document Details

⚠ *Do not

[2019-10-28 02:08] KrishnaG-MSFT commented on #41553
@christophermohammed Hope you have self resolved the issue and hence closed the issue. Thanks for the update.

[2019-10-28 02:32] KrishnaG-MSFT commented on #41564
@dcbrown16 Thanks for the feedback.
@bwren FYI.

[2019-10-28 02:40] dcbrown16 opened #41569 "AzureActivity_CL"
Isn't the "AzureActivity_CL" table it asks you to make in Step 5.3 referring to the value you set in step 3."Add Log Analytics Send Data action".4, where the value is listed as "AzureActivity"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b70bc73-e0ce-a558-bf66-c02577859f3e
* Version Independent ID: 1d80eb59-7698-8f

[2019-10-28 02:42] KrishnaG-MSFT commented on #41555
@ShavaliP Thanks for your comment. We are actively investigating and will get back to you shortly with an update.

[2019-10-28 02:47] KrishnaG-MSFT commented on #41556
@akn9050 Thanks for sharing the feedback under azure-docs repository. To better assist you, could you please share the Azure document link / URL for which this feedback is applicable to.

[2019-10-28 03:02] KrishnaG-MSFT commented on #41569
@dcbrown16 Yes, it is. Ideally, you would have to type the custom log name you choose and append `_CL` as mentioned in step 5.3.

[2019-10-28 03:21] dcbrown16 commented on #41569
Sorry, I see that it says that on a reread. Which system is appending _CL? Is this due to Log Analytics specification in some way? I don't see anything mentioning this in the custom logs docs.

[2019-10-28 03:24] KrishnaG-MSFT commented on #41569
@dcbrown16 No problem. :) It's mentioned in step 5.3 in the document you were referring and it's mentioned [here](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-sources-custom-logs#step-4-provide-a-name-and-description-for-the-log) in the Azure Log Analytics Custom Logs document. Hope this helps!

[2019-10-28 03:27] dcbrown16 commented on #41569
Ah, under the OS settings, not "collect custom data". Thanks for your quick response! Closing

[2019-10-28 03:27] #41569 closed

[2019-10-28 03:41] VikasPullagura-MSFT commented on #41554
@SatyaKomatineni Please check the response from the doc author.

[2019-10-28 03:56] VikasPullagura-MSFT commented on #41557
@Abdelkrim Thanks for pointing this out. We are looking into this and would get back to you soon on this thread.

[2019-10-28 03:57] CCWJohnHumphreys commented on #39533
Also waiting on an update to this plugin. Had to upgrade to Confluence 7.0.2. to fix security issues now can't use your plugin.
And it is a great plugin thanks for the hardwork on it and can't wait to get back to using it!

[2019-10-28 03:58] VikasPullagura-MSFT commented on #41559
@adielben Thank you for sharing the query. We are looking into this and would get back to you soon on this thread.

[2019-10-28 04:12] VikasPullagura-MSFT commented on #41558
@rubeneric Thanks for the feedback! We are currently investigating and will get back on this.

[2019-10-28 04:57] akn9050 commented on #41556
@KrishnaG-MSFT Please find the document link: https://docs.microsoft.com/en-us/azure/role-based-access-control/conditional-access-azure-management

[2019-10-28 05:01] juyamagu opened #41570 "Lack of documentation for "Partnered CA Providers""
There are two partnered CA providers specified in the doc, however, no configuration setup for the providers is given.
I just surveyed some materials provided by the CA providers officially as follows:

- Digicert: https://www.digicert.com/azure-key-vault/connect-to-certcentral-quick-start-guide.htm
- Globalsigh: https://www.globalsign.com/en/repository/globalsign-integration-guide-azure-key-vault

[2019-10-28 05:07] ChiragMishra-MSFT commented on #41562
@dcbrown16 Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-10-28 05:10] ChiragMishra-MSFT commented on #41568
@swiftPeter Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-10-28 05:11] ChiragMishra-MSFT commented on #41565
@tkumark Thanks for the question. I am assigning this issue to the experts in api-management to clarify.

[2019-10-28 05:12] ChiragMishra-MSFT commented on #41566
@JDeanThomas Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-10-28 05:13] ChiragMishra-MSFT commented on #41567
@juyamagu Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-10-28 05:14] ChiragMishra-MSFT commented on #41570
@juyamagu Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-10-28 05:22] mypapa123 commented on #41550
https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-setup-github-app
https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-user-flows

[2019-10-28 05:22] ChiragMishra-MSFT commented on #41211
@mamccrea Can you please take a look at this ?

[2019-10-28 05:23] ChiragMishra-MSFT commented on #41466
@linda33wj Can you please take a look at this one ?

[2019-10-28 05:27] LachlanJB opened #41571 "Clarification on Configurable Token Lifetime policies"
Hi
Just a couple questions and observations to point out since I last posted (I posted this in the previous thread but that is closed).

I noticed that the cutoff date mentioned at the top of this article has been moved to May 1, 2020.
Yet this document still says 1 November 2019 "Microsoft plans to retire the configurable token lifetime feature on November 1 and replace it with the Conditional Ac

[2019-10-28 05:39] forester123 opened #41572 "URLs and IPs"
Could you provide some background introduction about below URLs and IPs? What are these URLs/IPs and what are they used for?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c04356b4-e2a0-c095-5f47-b7fc1d2b574f
* Version Independent ID: 72900c81-5858-bb03-06fb-4af272317f20
* Content: [Back up Windows machines with the Az

[2019-10-28 06:09] NvRom commented on #41531
@VikasPullagura-MSFT any progress of the investigation?

[2019-10-28 06:34] mypapa123 commented on #41550
Description :  Only email and display name populating on the azure logging form but Given Name and Surname not populating. looks like those claims not receving from GitHub side to Azure AD tenant. But in the GitHub account Name attribute already available.

[2019-10-28 07:18] ggailey777 commented on #41512
@ahmelsayed do you know about Debian 10 support for Core Tools?

[2019-10-28 07:22] amanmcse commented on #41053
@wallace, Thanks for sharing the details.
This is by design. If a standard user cancels the consent by clicking on "**Return to the application without granting consent**", Azure AD returns "**error=access_denied&error_subcode=cancel**". However, when the Global Administrator clicks on **Cancel** button at the consent prompt, Azure AD returns "**error=access_denied&error_description=AADSTS65004%3a

[2019-10-28 07:43] #41446 closed

[2019-10-28 07:44] KranthiPakala-MSFT commented on #41446
@dgregoraz Thanks for reporting this issue and bringing it to our attention.
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2019-10-28 07:54] mrik23 commented on #39870
I'm getting this issue on Windows 2012 R2 with AAD Connect 1.4.18.0.

[2019-10-28 08:27] cephalin commented on #41542
@kraigb Can you take a look at the broken link?

[2019-10-28 08:33] mrik23 opened #41574 "Get-AzureADSSOStatus : One or more errors occurred"
It seems like these commands are not working again. Tried on Windows Server 2012 R2 and Windows 10 1903.

Getting the error: "Get-AzureADSSOStatus : One or more errors occurred"

Similar to the previously submitted issue: https://github.com/MicrosoftDocs/azure-docs/issues/39870 which is now closed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-10-28 08:47] rayne-wiselman commented on #41389
@OffColour I'm closing this since think the required permissions are documented in this article - https://docs.microsoft.com/en-us/azure/migrate/tutorial-prepare-vmware#prepare-azure. If there's something you can't find please reopen and let us know.
Thx
#please-close

[2019-10-28 08:47] #41389 closed

[2019-10-28 08:53] RescueWhale opened #41575 "What If Details and screenshots should be updated to reflect changes to the UI"
There are a lot more options in the what-if screen now, this should really be updated on here so users aren't confused.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 199e51c2-d6f6-ed8f-39a2-4f395155cb50
* Version Independent ID: 66ae328e-38b8-fe84-5ee9-976adbb99135
* Content: [Quickstart - Block access when a session

[2019-10-28 09:00] assaf-grth opened #41576 "Azure Metadata Service low priority vm preempt scheduled event"
Hi,
My question is regarding the Azure Metadata Service low priority vm preempt scheduled event.
The current notice interval is 30 seconds.
Is there a plan to increase the notification time to amount higher than 30 secs?

Thanks,
Assaf

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ff57b63-a05d-2339-069d-de4c9749e2ae

[2019-10-28 09:30] artsheiko commented on #41194
@ChiragMishra-MSFT, I found it strange that Copy Activity allows to get tens of thousands of rows for some tables (for example, Hubspot.Contacts, Hubspot.Contacts_Identity_Profiles etc.), but a request to Hubspot.Companies returns no more than 10,000 rows. Is there any limitation by table ?

[2019-10-28 09:35] rayne-wiselman commented on #41300
In progress. Thanks!

[2019-10-28 09:37] rayne-wiselman commented on #41178
Thanks! Updating in progress

[2019-10-28 09:39] rayne-wiselman commented on #40630
Thanks for your feedback. @femsulu Please route to product feedback since this is an in-product typo and not in documentation.

[2019-10-28 09:56] Franklin89 commented on #41024
If using the Feature Management and we would like to refresh the feature flags we set the CacheExpirationTime to 5 seconds, but nothing gets refreshed. The sample calls the method ConfigureRefresh, but isn't that only for the Configuration Key Values?

[code]

[2019-10-28 10:02] ionut-matei opened #41577 "Wrong Datetime and date JSON format"
The date and datetime format it's different than what's in documentation.
datetime: yyyy-MM-dd HH:mm:ss
date: yyyy-MM-dd
In the documentation it's ":"(two dots) , but in the response it's "-"(hyphen).
"A datetime object in the Format yyyy:MM:dd (date), HH:mm:ss (time) yyyy:MM:dd HH:mm:ss (datetime). If type is duration, the value is the number of seconds (duration)"

---
#### Document Details

⚠ *

[2019-10-28 10:09] temitopefunmi opened #41579 "Cannot delete data"
[Enter feedback here]
Hi,
I uploaded an audio data on my account and for weeks, it is still processing, and i can't delete it. Find attached a snapshot of the account.
Thank you.
Regards,
Temitope.
![Screen Shot 2019-10-26 at 8 13 52  PM](https://user-images.githubusercontent.com/53179810/67670089-6c988180-f973-11e9-9c5a-4e1fa461d37f.png)

---
#### Document Details

⚠ *Do not edit this section. It

[2019-10-28 10:32] cconcordet commented on #40857
Hello, any update or timeline ?

[2019-10-28 10:39] nmaarse commented on #41350
Hi,

i have a sql serverless ARM template that deploys the sql server as serverless. The SKU is supported GP_S_Gen5_1 in westeurope:
{
            "apiVersion": "2018-06-01-preview",
            "dependsOn": [],
            "location": "[resourceGroup().location]",
            "name": "[variables('myDatabaseServer')]",
            "properties": {
                "administratorLogin": "[parameters(

[2019-10-28 10:49] russcam commented on #37958
@SwathiDhanwada-MSFT @tfitzmac I wondered if there was any update to this. Did investigations highlight where the root cause might be?

[2019-10-28 11:00] bowen5 opened #41580 "Can we change the service principal id/secret on agent nodes at runtime?"
Hi, let's say I specified a service principal "A" when creating my AKS cluster, and as described above the service principal info will be stored in file "/etc/kubernetes/azure.json" on agent node VMs. Due to some security concern, can I change the "azure.json" file to set another service principal "B" on agent node VMs only without changing the whole service principal used by AKS (which means not

[2019-10-28 11:19] github2alfred opened #41581 "Networking aad ds joined domain"
At other site : Your VM must connect to an Azure virtual network subnet that can communicate with the subnet your Azure AD DS managed domain is deployed into.

Please fix the networking part where it said that : Requires machines to be on the same virtual network as the managed domain

It is conflicting, I believe

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-10-28 11:26] kraigb commented on #41542
@douglasism Thanks for the issue. The correct link is https://docs.microsoft.com/en-us/azure/python/tutorial-deploy-app-service-on-linux-01 and I'm updating accordingly.

[2019-10-28 11:40] ChiragMishra-MSFT commented on #41571
@LachlanJB Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-10-28 11:41] ChiragMishra-MSFT commented on #41572
@forester123 Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-10-28 11:41] olivtree commented on #39457
@YutongSun , I'm getting the same error...

[2019-10-28 11:42] ChiragMishra-MSFT commented on #41574
@mrik23 Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-10-28 11:43] ChiragMishra-MSFT commented on #41575
@RescueWhale Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-10-28 11:44] ChiragMishra-MSFT commented on #41576
@assaf-grth Thank you for reaching out to us. Can you please provide a link to the document which you are following so that I can engage the correct team to help you.

[2019-10-28 11:44] ChiragMishra-MSFT commented on #41577
@ionut-matei Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-10-28 11:45] ChiragMishra-MSFT commented on #41579
@temitopefunmi Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-10-28 11:46] ChiragMishra-MSFT commented on #41580
@iRainbow5 Thanks for reaching out. We are currently investigating into the issue and will update you shortly.

[2019-10-28 11:47] ChiragMishra-MSFT commented on #41581
@github2alfred Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-10-28 11:51] olivtree commented on #39457
I changed x_test for x_train after read the comments of class ExplanationDashboard and it works.

[2019-10-28 11:51] #41542 closed

[2019-10-28 12:09] GrottoKing commented on #39870
Interesting - for additional data, my script ran fine this part Sunday (I made no changes to it since this occurrence last month). The script ran on a server running Windows Server 2016.

[2019-10-28 12:14] ianalderman opened #41582 "Missing link to Docs for Azure Virtual Machines"
Hi Team, apologies this is from the main azure.microsoft.com site not sure where else to post?  There have been some navigation changes such that the "Documentation" button now goes to content on the product page.  For Azure SQL there is a clear link to the main docs site, for Cosmos the last listed link is the entry point to the Cosmos DB one.  For Virtual Machines for example there is no link to

[2019-10-28 12:16] PramodValavala-MSFT commented on #41191
@ashishmundrajll Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-28 12:16] #41191 closed

[2019-10-28 12:17] #41361 closed

[2019-10-28 12:18] PramodValavala-MSFT commented on #41361
@perkops We have worked up a PR to address this and which should reflect in a couple of hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-28 12:20] kria commented on #40603
Very much +1 on this! Check out the the wording on [dynamic membership](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/groups-dynamic-membership) for comparison.

[2019-10-28 12:30] cstainie opened #41583 "AD Integration - Detailed Description"
Can you provide more details on which features are not supported when referring to Azure AD Integration? Are we talking about the sign-in (authentication/authorization)? Or will the app be unable to talk to Azure AD completely?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a98803-1438-b1b5-f543-7dd88bc4294e
* Versio

[2019-10-28 12:44] stuarthallows opened #41584 "Use the required AI key in settings"
Here's something that ought to be documented a little more clearly, it caught me out for a while.
Somewhere in MS docs it mentions that you can use an app settings key of either `ApplicationInsights:InstrumentationKey` or `APPINSIGHTS_INSTRUMENTATIONKEY` and it says that in the Azure environment it tends to be the latter. In fact that's not the case. You _must_ use `APPINSIGHTS_INSTRUMENTATIONKEY`

[2019-10-28 12:58] memildin opened #41585 "Broken link"
The config guide link in the next steps is broken. Evidently the guide has moved.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdb257b2-dce3-fe06-c84d-4784fc701f5b
* Version Independent ID: 9553d0d3-ebd6-1d99-e483-6ec937c274bf
* Content: [Integrate logs with ArcSight using Azure Monitor](https://docs.microsoft.com/en

[2019-10-28 13:04] OscarGarciaPeinado commented on #16473
@micahtan Any update on this? Exists any other solution to run a docker from DataFactory?
Sounds useless the fact that cannot launch a docker from the orquestation module...

[2019-10-28 13:09] MonikaReddy-MSFT commented on #41584
@stuarthallows , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-10-28 13:12] MonikaReddy-MSFT commented on #41557
@Abdelkrim , I hope that the issue is resolved for you.  So closing this thread for now, If there are any further questions regarding this matter, please tag me in your reply and I will be glad to continue the discussion with you.

[2019-10-28 13:12] #41557 closed

[2019-10-28 13:19] mlushpenko commented on #32900
Can we reopen this? I don't understand why Azure people are closing issues when there was no resolution while it could be solved, seen this multiple times already.

[2019-10-28 13:20] kagkarlsson opened #41588 ""PostgreSQL10 workaround" fails with error "ERROR: role name "pg_user" is reserved""
This workaround does not seem to be working. Running the script on postgres 10.10 yields:

[code]

Version: PostgreSQL 10.10 (Debian 10.10-1.pgdg90+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 6.3.0-18+deb9u1) 6.3.0 20170516, 64-bit

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69a7b6f6-6b86-78a0-9d6e-8adea232ba

[2019-10-28 13:21] rhires opened #41589 "Alternative ways to enable this"
I have VS 2019 Professional, but don't have the Application Insights menu item in the project menu. So what I had to do instead was right click on the project -&gt; Add -&gt; Application Insights Telemetry, and click on it there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0fe1dde-e648-523a-88f5-94811293729d
* Vers

[2019-10-28 13:32] dabasejumper commented on #41227
Thanks @MicahMcKittrick-MSFT  & @TomArcherMsft. Please let me know any way we can be of assistance.

[2019-10-28 13:38] Jerx88 opened #41591 "Workplace Join version not correct"
When you download the WorkplaceJoin.msi it's version 2.1 instead of version 2.5.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9c51404-0a1b-c22e-e220-ce4126ff88d0
* Version Independent ID: bd3aab43-4202-bb69-bd1a-580e0464f357
* Content: [Configure hybrid Azure Active Directory join for federated domains](https://docs

[2019-10-28 13:46] apopadk opened #41592 "2 Words User Fields"
Are there any issues with synchronising 2 words user fields - for example: "Information Technology" for Claim name - user_field_department (in ZD) -&gt; value: user.department (Az) ? It seems that spaces are treated like breaks for the import. The field does not get populated. Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-10-28 13:48] femsulu commented on #41321
assigning to @Benjiiim & @yashesvi

[2019-10-28 13:49] RyanHill-MSFT commented on #41515
@petercmho .NET Core 3.0 rollout has completed. You can find the announcement at Azure/app-service-announcements#204. Should you run into any issues, there is a discussion thread at Azure/app-service-announcements-discussions#118

[2019-10-28 13:49] #41515 closed

[2019-10-28 13:49] mrbullwinkle commented on #41584
@stuarthallows I think you are probably referring to this part of the ASP.NET Core doc: [https://docs.microsoft.com/azure/azure-monitor/app/asp-net-core#enable-application-insights-server-side-telemetry-no-visual-studio](https://docs.microsoft.com/azure/azure-monitor/app/asp-net-core#enable-application-insights-server-side-telemetry-no-visual-studio).

specifically this section:

_Typically, APPIN

[2019-10-28 13:50] Kamil-Zakiev commented on #17336
Hello @miaojiang!
I have the same need regarding setting body with a byte array.

#### Scenario
The backend endpoint can consume only _binary type_, but a client can only provide _base64 encoded_ content string.
So I want to convert that base64 string to byte array and put it to the request body.

Is that possible?

[2019-10-28 13:58] ThunderHorse commented on #41434
@szimmerMicrosoft , this should be reproducible on any scale set. I will email you details but you shouldn't need them.  @MicahMcKittrick-MSFT please open this issue back up it is not yet resolved.

[2019-10-28 14:09] weirdaze commented on #41330
hello. Please provide a python example. I'm deploying a Django app and I need this to work for an external db that has a ca-certificate.crt requirement

[2019-10-28 14:16] BharathNimmala-MSFT commented on #41589
@rhires Thank you for your query, we will look into this and get back to you shortly.

[2019-10-28 14:28] femsulu commented on #41338
Sorry for the issues you are experiencing with authoring a runbook. Happy to help you resolve this.
The error you are getting typically caused if the [latest version of the AzureRM](https://docs.microsoft.com/en-us/powershell/azure/azurerm/install-azurerm-ps?view=azurermps-6.13.0#update-the-azure-powershell-module) module isn't installed. I noticed the error output refers to Connect-AzureRmAccount

[2019-10-28 14:29] VikasPullagura-MSFT commented on #41359
@Sandeepkumarv399 I am closing the issue for now. If you have further queries on this feel free to mention my name in the comment for reopening and continuing the discussion.
Thanks.

[2019-10-28 14:29] #41359 closed

[2019-10-28 14:32] VikasPullagura-MSFT commented on #41482
@eanyanwu Hope the response from doc author has clarified the confusion on this. I am proceeding to close the issue for now.

[2019-10-28 14:32] #41482 closed

[2019-10-28 14:35] femsulu commented on #41338
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-10-28 14:35] #41338 closed

[2019-10-28 14:35] lrxtom2 commented on #36335
@bijopunnoose Hi there, I come from the Terraform engineering team. Sorry for the long wait. The sample code in this article does not work with version 0.12 (and greater). I tried to build an environment below Terraform 0.12 and could run the UT test pass that couldn't repro the issue. May I know your repro steps or your running environment? I will help you solve the issue.

Thanks,
Chang

[2019-10-28 14:35] danpetitt commented on #41338
I was using the documentation on that page which was redirected from other MS Docs; if those modules are deprecated then can I suggest the page is updated/corrected to point to the right commands ... this was where my problems began.

I have now used the official Runbooks in Azure to do it for me so all good now, ty.

[2019-10-28 14:42] FisherOps commented on #41431
Correct, I don't see any metrics available for  Azure Recovery in either the insights API or the Azure Monitor docs. Is there any available?

[2019-10-28 14:42] RyanHill-MSFT commented on #41583
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-28 14:54] femsulu commented on #41338
Great feedback. The AzureRM modules isn't deprecated yet. However, we recommend moving to the latest Az Module for [richer experience](https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az?view=azps-2.8.0#why-a-new-module). also, AzureRM is no longer taking new features and support for it will end in roughly a year - details [here](https://docs.microsoft.com/en-us/powershell/azur

[2019-10-28 15:00] dedimitrov opened #41594 "Typographical mistakes."
"manage or performs ny DR-related operations via the Azure Sire Recovery"

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67d4a458-6594-5501-e3f4-803afbd872aa
* Version Independent ID: e2c6a08b-13fd-6974-0e74-3a1f68c8f94a
* Content: [Upcoming deprecation of DR between customer owned sites using Hyper-V and between sites

[2019-10-28 15:01] dedimitrov commented on #41594
"or performs ny DR-related" in the last paragraph as well.

[2019-10-28 15:02] dedimitrov commented on #41594
"Below are the alternate options the customer" Should be >  "Below are the alternative options. The customer"

[2019-10-28 15:08] mahoekst opened #41595 "ROPC now should return an ID token"
According to this issue B2C should now return an ID token: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1141

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d9d3e88-6f7d-904b-3e9d-fbe7c26ea649
* Version Independent ID: 5d93c939-37c6-8cff-6002-0c569998c6d8
* Content: [Azure AD B2C (Micro

[2019-10-28 15:18] RyanHill-MSFT commented on #41537
@askprasanth I would have a look at the **gateway required VNET integration** section under this [doc](https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet#debugging-access-to-vnet-hosted-resources) for some troubleshooting tips. I would also check your firewall rules as well.

Let us know what you find so we can assist you further.

[2019-10-28 15:24] mumian commented on #41527
@apostrophe, it is actually the other way, New-AzResourceGroupDeployment is replacing New-AzureRmResourceGroupDeployment. See https://docs.microsoft.com/en-us/powershell/azure/migrate-from-azurerm-to-az?view=azps-2.8.0.

#please-close

[2019-10-28 15:24] #41527 closed

[2019-10-28 15:46] scottclarke1 opened #41596 "Directionality"
Hi Guys
Does this document assume that for firewall ports, communication is bidirectional and therefore rules require opening for both source and destination endpoints? The document would help if this was more obvious.
Thanks :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41c38d39-e36b-dd70-9c8c-1fc28a1dba5e
* Versi

[2019-10-28 15:46] OLoup commented on #41489
If needed, here is screens of the POM:

![2019-10-28 11_38_44-FMSQ pom](https://user-images.githubusercontent.com/29864103/67693580-4d502300-f978-11e9-9b0a-b9035909ac29.png)

![2019-10-28 11_39_27-FMSQ - pom - Spring Tool Suite 4](https://user-images.githubusercontent.com/29864103/67693561-46291500-f978-11e9-892b-a652d0130565.png)

Plus, the Application Gateway is a WAF standard. If you need more

[2019-10-28 15:48] azizcoder commented on #41544
@VikasPullagura-MSFT, here it is:
https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-train-tensorflow?WT.mc_id=docs-article-lazzeri#create-a-file-dataset

[2019-10-28 15:51] spottedmahn commented on #19942
How do we opt-out of this?  Is there a way to opt-out on a case by case basis?

[2019-10-28 15:59] hpsin commented on #27597
Sorry :) "Mess up" as in, if your app stores data based on something that might be shared by a user between tenants (their email address, for instance) you run the risk of exposing data in the wrong tenant context, leading to data leakage.

Example:
User a (alice@contoso.com) signs into a 3rd party app within the Contoso tenant, and the app stores their data under "alice_contoso_com".  They mark t

[2019-10-28 16:09] MicahMcKittrick-MSFT commented on #41434
@ThunderHorse we tested this but were not able to reproduce the issue you are seeing. Hence, we can continue it offline. And this issue will still be visible on the doc regardless of if it is open or closed.

[2019-10-28 16:10] NavtejSaini-MSFT commented on #41447
@CeciAc The document does mention the product the feature is available for.
![image](https://user-images.githubusercontent.com/52257742/67695641-c8670880-f97b-11e9-836e-6911b0ba80e8.png)

The Azure SQL does not have editions or versions as was available in on-premise versions.
Hope this helps. We will close this by EOD if no further questions.

[2019-10-28 16:12] asinn826 commented on #40747
Hey @jakaruna-MSFT, @dcbrown16 - we actually have this documented here: https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/serial-console-errors. Would that suffice?

[2019-10-28 16:13] Alberto-Vega-MSFT commented on #41093
@orionJag Did the previous suggestion work?

[2019-10-28 16:17] ScottAzure opened #41598 ""Remove a user-assigned managed identity from a VM" is not in the "in this article section""
Small item

"Remove a user-assigned managed identity from a VM" is not in the "in this article section"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8beab7d8-fc48-1501-d7a9-56f776d07323
* Version Independent ID: dc6c4e97-4c4a-6481-ec1b-e00afb49314b
* Content: [How to configure managed Identities for Azure resources o

[2019-10-28 16:18] MicahMcKittrick-MSFT commented on #41582
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-28 16:23] zhenlan commented on #30433
@vikramdadwal we just posted our GA and pricing plan. Please check it out.
https://github.com/Azure/AppConfiguration-Announcements/issues/2

[2019-10-28 16:28] MicahMcKittrick-MSFT commented on #41470
@ameetkonnur thanks for clarifying. I am honestly not sure if Application Security Groups are supported on AKS clusters running on VMSS.

@MicrosoftDocs/aks-pm can anyone confirm or deny?

[2019-10-28 16:29] MicahMcKittrick-MSFT commented on #41514
@Chai-NED I will close this but if you have further questions let me know and we can always reopen and continue the discussion.

[2019-10-28 16:29] #41514 closed

[2019-10-28 16:31] NavtejSaini-MSFT commented on #41468
@wahyuen There is currently no roadmap for getting this done. But you can definitely upvote the already created link for this issue on [UserVoice](https://feedback.azure.com/forums/217321-sql-database/suggestions/38631850-enable-serverless-feature-via-arm-template)

The PG team refers to user voice on regular basis and try to incorporate the features in high demand. They provide the feedback as we

[2019-10-28 16:32] MicahMcKittrick-MSFT commented on #41526
@winnieshen96 this section shows you how to connect

https://docs.microsoft.com/en-us/azure/aks/servicemesh-consul-install?pivots=client-operating-system-linux#accessing-the-consul-ui

It states in that section, "he UI for Consul is not exposed publicly via an external ip address. To access the Consul user interface, use the kubectl port-forward command. "

So you cannot connect using the public I

[2019-10-28 16:33] MicahMcKittrick-MSFT commented on #41535
@jjindrich this is a bit outside the scope of what we would know from a doc perspective. That being said, I see you are an FTE, if you want ping me offline I can provide you with some resources you can check with related to road map for WVD.

[2019-10-28 16:33] #41535 closed

[2019-10-28 16:35] AdamSzendrei commented on #40601
do you have any update on this issue?

[2019-10-28 16:37] SwathiDhanwada-MSFT commented on #41198
We will close the issue for now.If you have further questions or require information please respond, we will gladly continue the discussion.

[2019-10-28 16:37] #41198 closed

[2019-10-28 16:38] MicahMcKittrick-MSFT commented on #41552
@mkiernan I will assign this to the content author to review as I am not overly familiar with Python.

@laurenhughes can you confirm? I can always update the doc if needed.

[2019-10-28 16:39] MicahMcKittrick-MSFT commented on #41532
I will close this but if you have further questions let me know and we can always reopen and continue the discussion.

[2019-10-28 16:39] #41532 closed

[2019-10-28 16:39] SumanthMarigowda-MSFT commented on #41286
@roygara Can you please add your comments here

[2019-10-28 16:39] AjayKumar-MSFT commented on #41363
@Anaig, [TagsParameter](https://docs.microsoft.com/dotnet/api/microsoft.azure.search.models.tagscoringparameters.tagsparameter?view=azure-dotnet#Microsoft_Azure_Search_Models_TagScoringParameters_TagsParameter) - Gets or sets the name of the parameter passed in search queries to specify the list of tags to compare against the target field. For example – **‘Brands**’

"scoringProfiles": [
  {
    "

[2019-10-28 16:42] wallace commented on #41053
Hi @amanmcse ,

My ideal would be to include the `tenant` in the response for a standard user so I can provide that user with a more informative error message that suggests next steps. Is there a possibility that the `tenant` would be included in the response for a regular user who clicks cancel?

I can work with the `error_subcode` value.

Thank you for your response.

[2019-10-28 16:43] spottedmahn commented on #41159
I happen to be doing some more work around this today and I re-tested.

`appInsights.trackEvent({ name: 'mike d event name test' });` produces:

![image](https://user-images.githubusercontent.com/14079228/67698243-6230b480-f980-11e9-9755-daa76bda14a6.png)

[2019-10-28 16:43] spottedmahn commented on #41159
https://github.com/microsoft/ApplicationInsights-JS/issues/1097

[2019-10-28 16:45] batanun commented on #33601
Am I understanding the pricing correctly, in that the v2 standard sku fixed price is about 10 times more expensive than the price for a v1 small standard sku? That's crazy!

We are currently setting up our test and stage environment, and the plan was to use an application gateway in front of each of our four VM scale sets (each scale set is a completely different service, so we can't join them). T

[2019-10-28 16:46] batanun opened #41600 "10 times more expensive??!"
Am I understanding the pricing correctly, in that the v2 standard sku fixed price is about 10 times more expensive than the price for a v1 small standard sku? That's crazy!

We are currently setting up our test and stage environment, and the plan was to use an application gateway in front of each of our four VM scale sets (each scale set is a completely different service, so we can't join them). T

[2019-10-28 16:47] jakelumetta opened #41601 "ButterCMS SaaS Tutorial with Azure"
Hi - we'd like to contribute an entire article about using Azure with ButterCMS (a headless CMS).  We're opening this issue to get your thoughts + approval before we proceed with a full draft tutorial.

This tutorial would explore creating and managing content for an example online store using ButterCMS, a fully managed headless content management system (CMS). You learn how to deploy your store a

[2019-10-28 16:50] erhopf commented on #40601
#reassign: @ArcherAZ

[2019-10-28 16:55] levi106 opened #41602 "Difference between longdependencyduration and degradationindependencyduration"
The difference between "Long dependency duration" and "Degradation in dependency duration" is not clear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b22256b-6d3e-f8df-9309-477e181f6a8f
* Version Independent ID: b54c4e18-60e2-470b-5e12-ff25a4ecf143
* Content: [Configure Azure Application Insights smart detection rul

[2019-10-28 17:05] levi106 opened #41603 "How to open the downloaded trace."
"For further analysis, you can click Download Trace to download the trace in to Visual Studio."
Is it really possible to open the downloaded etl file with Visual Studio? I could open in PerfView but I could not open in Visual Studio.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90bab7a8-40fe-0736-c86c-a34ac821c006
*

[2019-10-28 17:07] ThunderHorse commented on #41434
@MicahMcKittrick-MSFT, Ok, I sent the email over earlier today. I look forward to your response.

@szimmerMicrosoft

[2019-10-28 17:10] Mike-Ubezzi-MSFT commented on #41576
@assaf-grth Can you confirm that this is the document you are working with: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/scheduled-events
Myself and @ChiragMishra-MSFT are looking to get this routed to the correct team. Thank you!

[2019-10-28 17:11] BernardoMB opened #41604 "SAS or OAuth2"
This guide says to use the SAS Url to upload the file to blob storage, but the Storage REST API do not recommend this aproach. Instead, ir recommends getting a AD token for service principal authentication.

What would be the best way to call the Storage REST API to upload a file into an asset container that requires authentication?

---
#### Document Details

⚠ *Do not edit this section. It is re

[2019-10-28 17:13] raaMarcus opened #41605 "Data Migration/Import into Serverless?"
I am not having any luck getting data from a .bak into a serverless database. SSMS doesn't support restores on this SQL version and RESTORE is not a valid operation. Can someone please help or point me in the right direction?  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46602618-c925-75b6-bf3e-1039f168f141
*

[2019-10-28 17:26] MarileeTurscak-MSFT commented on #41585
@memildin
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-28 17:31] jluk commented on #41283
That is correct, SLB is the default option for Azure portal now. The next official build of Azure CLI (releasing on 11/4) will have new AKS creates defaulted with SLB as well.

For anything regarding the AKS github repo, please open issues on that direct repo. Thanks!

[2019-10-28 17:36] HJToland3 commented on #41588
@kagkarlsson - I'm looking into this issue and will get back to you as soon as possible.

[2019-10-28 17:36] NavtejSaini-MSFT commented on #41605
@raaMarcus We are checking this and will get back to you

[2019-10-28 17:40] #41093 closed

[2019-10-28 17:41] SaurabhSharma-MSFT commented on #41410
@KehindeOwens No, it is not possible to upload csv for invitation with any additional columns.

[2019-10-28 17:43] SaurabhSharma-MSFT commented on #41592
@apopadk Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-10-28 17:46] jgwinner commented on #41286
I think I got a partial answer from another thread. The basic problem is this line:

but later on it says:

So would Robocopy work? Otherwise, how do you get the blasted files into Azure securely (with permissions intact)?

I get you guys are in an uncomfortable situation. The product is only partially functional, especially if you're stuck with one leg in the cloud, and one leg outside the cloud.

[2019-10-28 17:47] jluk commented on #41440
This is a doc we need to fix for the latest with SLB. @zr-msft let's sync on this item.

[2019-10-28 17:47] SaurabhSharma-MSFT commented on #41598
@ScottAzure Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-10-28 17:51] jay98014 commented on #40326
#please-close

[2019-10-28 17:51] #40326 closed

[2019-10-28 17:51] NavtejSaini-MSFT commented on #41605
@raaMarcus The Serverless Compute is type of Azure SQL DB single and pooled DB. So the methods for migrating data from your SQL server to Azure SQL DB single and pooled DB will work. The .bak file restore doesn't work for the Azure SQL DB single DB, you need to use .bacpac file type for the same. Here is the details for the same:
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-imp

[2019-10-28 18:02] MicahMcKittrick-MSFT commented on #41582
@ianalderman I can see where that can be confusing. However all the info in the link you provided

https://docs.microsoft.com/en-us/azure/virtual-machines/

is actually covered between the two links on the azure home page. The one for Linux and the other for Windows. Many of the docs are actually the same thing we just have different ways of getting there.

That being said, we are working on upgra

[2019-10-28 18:02] #41582 closed

[2019-10-28 18:03] SamaraSoucy-MSFT commented on #41603
Hi @levi106

Thank you for your question. I will take a look and get back to you shortly.

[2019-10-28 18:04] SamaraSoucy-MSFT commented on #41602
Hi @levi106
Thanks for your feedback. Let me take a look at the docs and I will get back to you.

[2019-10-28 18:07] MarkusVi commented on #41598
Hi @ScottAzure, thanks for your feedback.
**In this article** only lists "H2s"
*Remove a user-assigned managed identity from a VM* is a H3.
This is the same as *Remove system-assigned managed identity from a VM*.
Both are not supposed to show up in the toc.

#please-close

[2019-10-28 18:07] #41598 closed

[2019-10-28 18:10] timwoelfle opened #41608 "Academic Search API: POST documentation sites are missing Request body"
The documentation sites for [Interpret POST](https://msr-apis.portal.azure-api.net/docs/services/academic-search-api/operations/5951f6260ecf2621902c89e4?), [Evaluate POST](https://msr-apis.portal.azure-api.net/docs/services/academic-search-api/operations/5951f78363b4fb31286b8ef4?) and [CalcHistogram POST](https://msr-apis.portal.azure-api.net/docs/services/academic-search-api/operations/5951f894d2

[2019-10-28 18:12] slandsaw commented on #25052
@ishepherd your previous comment was exactly what I needed to get my ARM template working. Thank you!

[2019-10-28 18:16] nibaccam commented on #39799
@swanderz does the alternate solution provided by @rastala help with your ask? If so, I will work with the product team to update the existing content to make this solution more apparent. Otherwise, it sounds like this is more of a product enhancement than a documentation issue and engineering will need to file a backlog item to address it.

[2019-10-28 18:22] HJToland3 commented on #41588
@kagkarlsson - In this case, "PG_user" represents the username being used to connect to the migration source. Please let me know if you have additional questions on this point.

[2019-10-28 18:24] jeevansd commented on #39533
We are completing our testing now and will release this soon.

[2019-10-28 18:25] SnehaGunda commented on #39986
@NullQubit Apologies for the confusion. I reached out to our dev team to confirm the functionality, and they mentioned that the VS2019 isn't yet a supported agent pool given the incompatibility between the Docker image we base our emulator container of and the 2019 host os. We have a work item to fix the issue in the upcoming releases.

I submitted a PR to update the doc to remove VS2019.

[2019-10-28 18:25] SnehaGunda commented on #39986
We will now close this issue if there aren't further questions.

#please-close

[2019-10-28 18:25] #39986 closed

[2019-10-28 18:31] artisticcheese commented on #39197
OMG, guys you are incredible. You fix one thing and break another. Now `resourceType` is misspelled
`"equals": "Microsoft.Compute/virtualMachines"`
Actual event is below

[code]

[2019-10-28 18:35] assaf-grth commented on #41576
Hi @Mike-Ubezzi-MSFT
Yes, this is the document
Another document with similar issue is https://docs.microsoft.com/en-us/azure/virtual-machines/linux/scheduled-events for linux machines.

[2019-10-28 18:36] stephbaron commented on #39197
Can you elaborate what you mean by resourceType is misspelled?

[2019-10-28 18:37] artisticcheese commented on #39197
Documentation specifies that resourceType for Virtual Machine shall be `Microsoft.Compute/virtualMachines` while actual event have it spelled with all capital letters like below
[code]

[2019-10-28 18:37] qianw211 commented on #40742
#please-close
We've updated the documentation for this feedback.  Thanks!

[2019-10-28 18:37] #40742 closed

[2019-10-28 18:40] NavtejSaini-MSFT commented on #41477
@John-Blair We apologize for the inconvenience but for getting it to someone else as well, we need to clarify what is the ask here.As you mentioned you don’t see the PS console that I have provided the picture for in my last reply.
Here are the steps for the same:
Open portal.azure.com and on top bar click on the cloud shell link as shown below:
![1](https://user-images.githubusercontent.com/52257

[2019-10-28 18:45] joslat opened #41609 "the Environment variable code will not work..."
This needs to be in place:
            string clientId = Environment.GetEnvironmentVariable("akvClientId", EnvironmentVariableTarget.User);
            string clientSecret = Environment.GetEnvironmentVariable("akvClientSecret", EnvironmentVariableTarget.User);

Otherwise the code does not know which type of env. variable has to get.

---
#### Document details

⚠ *Do not edit this section. It is re

[2019-10-28 19:07] craigktreasure commented on #41144
Sorry about the confusion. We're in the process of updating our Unity docs this month to make things more clear. The quickstart helps you configure the basic demo, which is the only scene expected to work without additional configuration. The basic demo will walk you through the process of creating an anchor and then locating that same anchor. It's not exactly a flash demo, but the code demonstrat

[2019-10-28 19:10] Grace-MacJones-MSFT commented on #41425
Hi @dagrooms52 , we appreciate you bringing this to our attention. After reviewing your feedback, we feel the best place to leave this feedback is on the Azure portal for the Azure Portal UI team to act on it. They monitor all UI feedback on the Azure portal platform. Please see the photo below to see how you can leave your feedback on the portal.

You can click on the smiley face on the top right

[2019-10-28 19:10] #41425 closed

[2019-10-28 19:11] Adam-Smith-MSFT commented on #41304
Hi Karthick4d, AADS(Domain services), is different from AAD, more infor can be found here: https://docs.microsoft.com/en-us/azure/active-directory-domain-services/overview , You submit a ticket if it helps as well.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-10-28 19:11] #41304 closed

[2019-10-28 19:16] Adam-Smith-MSFT commented on #41531
@NvRom Could you please post this question in the forums for Storage? It would have a higher visibility on forums since this is not an issue with the documentation itself. Forum link is: https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=windowsazuredata , please specify the version of Azcopy used, and the type of authentication, and if the Storage account is firewall protected.

We w

[2019-10-28 19:16] #41531 closed

[2019-10-28 19:21] rfaircloth-splunk opened #41610 "CEF is not a standard"
This page refers to CEF as a standard its not a standard in any sense of the word. A one time market leader attempted to dictate the structure of logs to the industry but this never made much progress. Some devices do have a CEF mode which is a subset of all events produced for legacy systems

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-10-28 19:22] MarileeTurscak-MSFT commented on #41445
@Breaker119 I tested and noticed that the text changes depending on the directory, your role in it, and whether it is managed by an organization. Does the organization say "Managed by" or "Sign in to leave organization" next to it?

[2019-10-28 19:24] szimmerMicrosoft commented on #41434
@ThunderHorse I was able to repro the issue, thanks for providing the details, and thank you for reporting this issue.

I identified the bug. We execute the update on the server side, but if that is the only change we are making we forget to persist it :^ (.

The fix should be rolled out globally in the next month, if you need to work around this in the meantime if you update an unrelated property

[2019-10-28 19:27] KehindeOwens commented on #41410
Thank you for the response @SaurabhSharma-MSFT. Perhaps it will be implemented in the future

[2019-10-28 19:27] #41410 closed

[2019-10-28 19:29] MarileeTurscak-MSFT commented on #41445
I've asked for clarification from the product team about why these are different, but it seems to be based on the tenant organization.

[2019-10-28 19:36] MarileeTurscak-MSFT commented on #41392
Hi @sanketpandia ,

Since I have not heard back to you I will proceed to close this thread. If you would like to continue the discussion please send me an email at AzCommunity@microsoft.com, or open a new issue and I will gladly continue the conversation.

[2019-10-28 19:36] #41392 closed

[2019-10-28 19:37] MicahMcKittrick-MSFT commented on #41434
@szimmerMicrosoft would it make sense to add a note to the doc about the work around? Or leave it as is and users can reference this issue if they encounter an issue?

[2019-10-28 19:40] anoopasokan commented on #41428
Issue has been fixed. I had to install azureml-mlflow.

[2019-10-28 19:41] szimmerMicrosoft commented on #41434
I think this thread is good enough for now.
This feature does not have high usage, and this is a niche issue I think.

[2019-10-28 19:44] ThunderHorse commented on #41434
@szimmerMicrosoft , @MicahMcKittrick-MSFT,   Thank you both for looking into this issue!

[2019-10-28 19:46] akn9050 commented on #41556
Hi @shashishailaj

Any update?

Thanks,
Amit

[2019-10-28 19:52] ajopjo opened #41613 "Azure B2C external identity provider: Configuring redirect urls"
Hi all:

As per the external OpenId provider registration flow, AzureB2C MUST be configured as a client and Redirect URL Registration is mandatory. How I can get the redirect url for AzureB2C.

Thanks,

[2019-10-28 19:56] ajopjo commented on #41613
I fond the document. I would suggest to add this as part of configuring the external Idp.
https://docs.microsoft.com/en-us/azure/active-directory-b2c/b2clogin

[2019-10-28 19:57] #41613 closed

[2019-10-28 20:03] TravisCragg-MSFT commented on #41600
@batanun App Gateway V2 has a significant change in pricing, but there are some ways that you can reduce the cost for a test / low traffic environment. See #41600 for more info

1) Set the instance count to 1 - you will lose any redundancy if your 1 instance fails, but on a dev envionrment that will likely be acceptable

2) Set the App Gateway to AutoScale with a minimum instance count of 0 - This

[2019-10-28 20:05] TravisCragg-MSFT commented on #41562
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-28 20:13] MarileeTurscak-MSFT commented on #39433
Yes, it starts at the very first login and ends as soon as the system determines it has enough of a login pattern to make unusual determinations. It does not expire after 30 days but it will make locations unfamiliar after a much longer time of inactivity (many months).

[2019-10-28 20:17] GiftA-MSFT commented on #41428
@anoopasokan glad the issue has been resolved, thanks for the update. I'll proceed to close this thread.

[2019-10-28 20:18] #41428 closed

[2019-10-28 20:19] MarileeTurscak-MSFT commented on #41585
@memildin good catch! I made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/93802

[2019-10-28 20:19] #41585 closed

[2019-10-28 20:25] TravisCragg-MSFT commented on #41536
@silverl some certificates do not work with some cipher suites. If you are using the same certificate on your backend and you are able to use the encryption, then this is not likely the issue.

To proceed with this issue, your best bet is to open a support request. If you do not have a support plan, please let me know!

[2019-10-28 20:25] MarileeTurscak-MSFT commented on #41511
@BassFaceIV since object-id is by GUID and upn is by name, I think you're correct.

I made a pull request for approval by @msmbaldwin https://github.com/MicrosoftDocs/azure-docs-pr/pull/93804

[2019-10-28 20:25] #41511 closed

[2019-10-28 20:33] BharathNimmala-MSFT commented on #41589
@rhires Assuming you have already created a Web project and then clicking on the Project Menu. If you are not seeing any "Application Insights" menu item in the project menu. Can you please click on "Add Connected Service" and look for Application Insights . Then come back to project menu and confirm if you can see the "Application Insights" menu item in the project menu.

![MenuItem](https://user

[2019-10-28 20:34] ArcherAZ commented on #40601
@Brenda<mailto:bmeng@microsoft.com> is the owner for Pronunciation feature.

With kind regards,
Archer

From: erhopf <notifications@github.com>
Sent: Monday, October 28, 2019 9:51 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Archer Zhao <Archer.Zhao@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Pronunciation data has limited exa

[2019-10-28 20:34] PRMerger14 commented on #40601
ArcherAZ<https is not a valid GitHub ID, or is not a collaborator on this repo.

[2019-10-28 20:35] mahoekst opened #41615 "We need instructions how to do a Custom signing key"
There are no instructions linked how to do a custom signing key so we can test the claims transformations. The issue was closed over a year ago and needs to be revisited.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 195c79a3-ccc5-8c6a-233e-95e344a9b4df
* Version Independent ID: 401c7557-5817-bbd3-5bd8-8c97ef5a28cc
*

[2019-10-28 20:39] ArvindHarinder1 commented on #40093
Please create a support case for this. A support engineer will be able to help investigate.

[2019-10-28 20:40] chriswue commented on #12992
@Gamecock In the Linuxkit environment we're running this we've also bound `/etc/resolv.conf:/etc/resolv.conf`

[2019-10-28 20:40] #41336 closed

[2019-10-28 20:48] sahammer opened #41616 "Diagram spelling error"
The `aad-integration.png` diagram mentions `kubecti`, whereas it should be `kubectl`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92b18eba-07a5-dbbf-b697-0264e326f4d4
* Version Independent ID: 8c025ef6-38a6-eca5-7729-8f040fbbbe10
* Content: [Concepts - Access and identity in Azure Kubernetes Services (AKS)](https://

[2019-10-28 20:51] rynothopter commented on #41571
After deprecating this functionality in May 2020, I'd also like to ask if non Azure AD Premium P1/P2 customers will have the ability to modify session lifetimes and sign-in frequency using the Conditional Access Policy as outlined in https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/howto-conditional-access-session-lifetime

Thanks!

[2019-10-28 20:59] aahill commented on #41530
Thanks for raising this issue. I've removed the duplicate section, and the change should be visible soon! #please-close

[2019-10-28 20:59] #41530 closed

[2019-10-28 21:02] FrankHu-MSFT commented on #41459
@soorajpayyoor I'm following up on this issue, can you please respond in regards to the previous replies on this thread? Thanks

[2019-10-28 21:03] mindlessroman opened #41617 "Update the documentation"
The session configuration needs to be updated to have concatenation:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d863ab39-0b6a-eb81-9dde-5eb25b46cc33
* Version Independent ID: 655abadf-5f9e-a65b-0109-c5166f956c4d
* Content: [Tutorial: Perform ETL operations using Azure Databricks](https://docs.microsoft.com/e

[2019-10-28 21:05] Alberto-Vega-MSFT commented on #41144
You might want to check this video so you can get more context. It explains the code to
1) Initialize session
2) Create anchor
3) Locate anchors

![image](https://user-images.githubusercontent.com/10910841/67717726-80e87880-f98b-11e9-8720-009b38d6cdf3.png)  https://youtu.be/CVmfP8TaqNU

[2019-10-28 21:06] FrankHu-MSFT commented on #41591
@Jerx88 Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-28 21:06] FrankHu-MSFT commented on #41595
@mahoekst Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-28 21:06] FrankHu-MSFT commented on #41596
@scottclarke1 Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-28 21:06] FrankHu-MSFT commented on #41609
@joslat Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-28 21:06] FrankHu-MSFT commented on #41615
@mahoekst

[2019-10-28 21:07] Gamecock commented on #12992
@chriswue please upvote suggestion [here](https://feedback.azure.com/forums/293901-service-fabric/suggestions/38910211-iotedge-in-a-docker-container).

[2019-10-28 21:09] FrankHu-MSFT commented on #41591
Hey @Jerx88 can you clarify by what you mean in regards to workplacejoin.msi is version 2.1, not version 2.5?

Are you referring to the link in the document? It seems to be going to v2.5 for me : https://www.microsoft.com/en-us/download/details.aspx?id=53554

[2019-10-28 21:12] Alberto-Vega-MSFT commented on #41502
@tu-trankilo Closing this issue since we haven't heard back from you and you have not provided any information on your issue.

[2019-10-28 21:12] #41502 closed

[2019-10-28 21:14] nayrangnu commented on #40514
Sorry for not getting back sooner. I made a [PR with a couple of edits](https://github.com/MicrosoftDocs/azure-docs/pull/41618) (#41618), which ended up just being a couple of missing _a_'s. There might be a couple of other things (I seem to remember a sentence somewhere missing a couple words) but I do not recall where it was.

[2019-10-28 21:16] maxluk commented on #40857
At Ignite (Nov 4th) we will release updated version of Notebook VM called Compute Instance which will support sharing of the VM between users of workspace.

[2019-10-28 21:21] silverl commented on #41536
I have support, ticket `119102524005182`. I provided full repro instructions to the engineer who responded. Haven't heard back in a couple days.

[2019-10-28 21:23] MicahMcKittrick-MSFT commented on #41616
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-28 21:23] Jerx88 commented on #41591
Correct, but once you download the .msi you will get the 2.1 version instead of 2.5. Ive installed on a computer and it also appeared as  2.1 in the apps list.

[2019-10-28 21:24] MicahMcKittrick-MSFT commented on #40601
#reassign: @brenda

[2019-10-28 21:24] PRMerger12 commented on #40601
brenda is not a valid GitHub ID, or is not a collaborator on this repo.

[2019-10-28 21:27] Jcardif opened #41620 "More Quickstarts"
Is it possible to have more Quick-starts for sending telemetry to Azure Iot from other devices through LPWAN platforms e.g. SigFox and LoRA WAN? If this possible I'd gladly like to contribute on the same

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d2f68c0-eec7-42c4-705c-e773f0151fb3
* Version Independent ID: 488c11

[2019-10-28 21:29] jennyf19 commented on #41595
@mahoekst I'm not following the issue here. B2C has always returned the IdToken. Can you please elaborate on the issue? thank you.

[2019-10-28 21:38] loganville opened #41621 "Post url not documented clearly"
I recommend updating the documentation to point to [https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-http-api#start-orchestration](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-http-api#start-orchestration) or updating the Note:

to say the default is prefix is `/runtime/webhooks/durabletask/orchestrators/`

---
#### Document Detai

[2019-10-28 21:38] ccortezaguilera commented on #40742
When will this change take effect? @qianw211

[2019-10-28 21:42] jennyf19 commented on #41595
@mahoekst @FrankHu-MSFT I just tested this and we are returning the idToken, so i'm not sure where the issues lies...any insight? would like to get this resolved asap.
![image](https://user-images.githubusercontent.com/19942418/67720388-fc98f400-f990-11e9-94c9-8d3921c5e587.png)
and from the idToken:
![image](https://user-images.githubusercontent.com/19942418/67720419-10dcf100-f991-11e9-9dd3-421fa1

[2019-10-28 21:44] AvatarRolon commented on #41320
# Try 2
No, i tried from Preview portal, and it's the same, can you tell me if is my azure region, i'm using South central us, is this feature available for all regions?

![image](https://user-images.githubusercontent.com/35464194/67720458-94024500-f999-11e9-8701-591b4046a117.png)

[2019-10-28 21:46] alexsab1 opened #41622 "Is Web Deploy supported?"
Hi, this page says that Web Deploy is supported for Web App Linux however the other article does not list Web Deploy as a deployment option for Web App Linux: https://docs.microsoft.com/en-us/azure/app-service/containers/app-service-linux-intro

Can you clarify which one is right?

Thank you,
Alex

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-10-28 21:58] mahoekst commented on #41595
I am sorry, but I was referring to the limitations on the pagehttps://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/develop/msal-net-aad-b2c-considerations.md#limitations-of-the-ropc-flow which states no ID token is returned. That issue has been fixed so we should update the documentation.

Matthijs

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Win

[2019-10-28 22:00] FrankHu-MSFT commented on #41459
@soorajpayyoor Please let us know if there are anymore questions within the scope of this git issue. As you are referring to the b2c tenant please refer to the b2c authentication docs :
https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-apps
https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-protocols
https://docs.microsoft.com/

[2019-10-28 22:02] AlanMuller commented on #41523
I think I discovered the issue in my particular case. We use ARM templates to stand up the app instance, including the deployment slot. In the ARM template we set the following application setting to the same value for both slots:
WEBSITE_CONTENTSHARE

This means that both slots would use the same site content, including the host.json file and all binaries!

To fix this, we modified the ARM templa

[2019-10-28 22:04] gorillapower opened #41624 "WEBSITE_MAX_DYNAMIC_APPLICATION_SCALE_OUT on Consumption Plan not working?"
Does the setting `WEBSITE_MAX_DYNAMIC_APPLICATION_SCALE_OUT` work on the consumption plan? I have the appSetting set to 2 but our azure function scales out to beyond 2 instances.

Runtime version: 2.0.12808.0 (~2)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18aa54fd-3aa1-37c5-925c-51a0195b1030
* Version Independent

[2019-10-28 22:07] Mike-Ubezzi-MSFT commented on #41601
@jakelumetta Thank you very much for offering to contribute to the MicrosoftDocs repository with a product suggestion. There is definitely a well defined process to contribute content as outline in the [Microsoft Docs contributor guide overview](https://docs.microsoft.com/en-us/contribute/). What isn't super clear is where this content would go as there appears to be no existing ButterCMS document

[2019-10-28 22:10] orionJag commented on #41093
Alberto / Renlong

	As recommended, I removed DotNet core SDK 3.0 and I still get the following msg.  Also I have attached file with error details and Dotnet Core SDK installs in my PC

	I definitely need your help to get through this exercise, since my company plan on launching edge devices.

From: Renlong Tu
Sent: Thursday, October 24, 2019 10:00 PM
To: MicrosoftDocs/azure-docs
Cc: orionJag; Men

[2019-10-28 22:18] mpeder opened #41625 "Inconsistency in binds details"
"/app/metadataDb" is used in code sample but important note says "/app/metadata"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11062c09-86f7-b7a3-0538-8719de067f82
* Version Independent ID: dcd396a7-6984-5708-c8bd-580adb36fb23
* Content: [Persist state in Linux - Azure Event Grid IoT Edge](https://docs.microsoft.com/e

[2019-10-28 22:23] MicahMcKittrick-MSFT commented on #41616
@sahammer good find!

@mlearned it appears we do have a small spelling error:

![image](https://user-images.githubusercontent.com/32313503/67722633-e1c97e00-f996-11e9-9be9-82adb0a85106.png)

Not sure if you have the screenshot handy for an easy fix?

[2019-10-28 22:26] Alberto-Vega-MSFT commented on #41620
Hi @Jcardif Please create post on the User Voice so customers can upvote and the team can measure demand for these https://feedback.azure.com/forums/321918-azure-iot there you can have a conversation with the team.

[2019-10-28 22:27] Grace-MacJones-MSFT commented on #41622
Hi @alexsab1, thanks for bringing this to our attention. We are currently investigating and will update you shortly.

[2019-10-28 22:28] Grace-MacJones-MSFT commented on #41604
Hi @BernardoMBm,  thanks for bringing this to our attention. We are currently investigating and will update you shortly.

[2019-10-28 22:29] TravisCragg-MSFT commented on #41320
@AvatarRolon I was able to get this working in the South Central US region. As a workaround, you can [apply the policy using PowerShell](https://docs.microsoft.com/en-us/azure/application-gateway/configure-waf-custom-rules). If you would like to look further into why the portal cannot associate a WAF Policy, your best bet is to open a support request. If you do not have a support plan, please let

[2019-10-28 22:37] jennyf19 commented on #41595
@mahoekst @FrankHu-MSFT Thanks for clarifying. This is a docs sync issue. The [wiki has been updated](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/AAD-B2C-specifics#limitations-of-the-ropc-flow), but not ms.docs. I will do so later today. This was originally a bug on the B2C side, so we had to wait for them to fix this on their end.
cc: @jmprieur

[2019-10-28 22:37] jennyf19 commented on #41595
@FrankHu-MSFT  can you assign this to me? thx.

[2019-10-28 22:38] Mike-Ubezzi-MSFT commented on #41608
@timwoelfle Thank you very much for bringing this to our attention. These APIs appear to be hosted outside the MicrosoftDocs GitHub repository. I am reaching out to the team that supports these services but wanted to see if you engaged the support option at the bottom of the page: [Contact Microsoft](https://support.microsoft.com/en-us/contactus)?

[2019-10-28 22:38] iainfoulds commented on #41581
Thanks for the feedback, @github2alfred. This doc update is being made now and will publish tomorrow morning.

#in-progress

[2019-10-28 22:41] qianw211 commented on #40742
@ccortezaguilera the changes are now live:
https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/pc-saas-fulfillment-api-v2

[2019-10-28 22:43] #41581 closed

[2019-10-28 22:46] Mike-Ubezzi-MSFT commented on #41613
@ajopjo Thank you for the inquiry. If you still need assistance with this issue, please do not hesitate to reopen and we can continue the discussion. Thank you!

[2019-10-28 22:57] MartinJaffer-MSFT commented on #41373
Hello @shimst3r , I have a question, are you authoring by editing ARM templates?

[2019-10-28 22:58] dcbrown16 commented on #40747
I did run across that later, thank you for following up @asinn826. I also saw that the team is still working on resolving this, so I suppose the info works where it is for now. Closing.

[2019-10-28 22:58] #40747 closed

[2019-10-28 23:02] Mike-Ubezzi-MSFT commented on #41447
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-10-28 23:03] TravisCragg-MSFT commented on #41394
@geekGK Let me clarify how the standard load balancers will give outbound IP addresses:

Scenario 1: using outbound SNAT (default setting):
The backend pools will use the public IPs on the load balancing rule. If there is only 1 load balancing rule & public IP address per VM, they will each have a unique IP. The issue with this is that it defeats the load balancing purpose of a load balancer (havi

[2019-10-28 23:08] TravisCragg-MSFT commented on #41486
@SidShetye that source is quite wrong, and that info should be in this document!

I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-28 23:09] mahoekst opened #41626 "tokenEncryptionKeyId is missing in the doc"
When I edit the manifest the last tag is tokenEncryptionKeyId I cannot find that tag on this page. When I google for the tag this page is returned though? Did we remove it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f7ced07-0b71-715f-749b-180567591c72
* Version Independent ID: 8c533d7b-a058-3f1a-c296-9c0305f85f13

[2019-10-28 23:11] TravisCragg-MSFT commented on #40135
@tsls your best bet will be to follow up with support in this case. I am doing what I can to get some additional clartiy and follow up on your case.

[2019-10-28 23:26] soorajpayyoor commented on #41459
As I mentioned in the initial post it is for the B2C v2.0 flow. I am able to send the Authorisation request (Auth Code flow) by only including code_challenge_method parameter and not the code_challenge. Instead of throwing error for missing code_challenge parameter, B2C continue the flow as non PKCE flow which is awkward as the request contains code_challenge_method parameter.

[2019-10-28 23:34] timwoelfle commented on #41608
@Mike-Ubezzi-MSFT Thank you for your reply and for reaching out to the right team! I assumed this to be the right place because I have seen other Microsoft Academic Search API related questions being answered here (e.g. [this one](https://github.com/MicrosoftDocs/azure-docs/issues/36813)). I have not yet tried the Contact Microsoft site you've linked.

[2019-10-28 23:40] FrankHu-MSFT commented on #41459
@soorajpayyoor as said in the previous post the b2c tenant does not follow the same protocols as the aad tenant, and there are docs for those protocols per the above links.

[2019-10-28 23:43] cijothomas commented on #19942
https://docs.microsoft.com/en-us/azure/azure-monitor/app/ilogger#control-logging-level

[2019-10-28 23:47] cijothomas commented on #41584
I don't see any doc stating ApplicationInsights:InstrumentationKey will work for Azure webapps - it won't work. It only works if using ApplicationInsights SDK for Asp.Net Core (https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core)

[2019-10-28 23:51] KranthiPakala-MSFT commented on #41617
@mindlessroman Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-10-28 23:53] femsulu commented on #41594
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-10-28 23:58] #41523 closed

[2019-10-28 23:58] mike-urnun-msft commented on #41621
@loganville Thank you for your feedback! We will review and update as appropriate.

[2019-10-28 23:59] mike-urnun-msft commented on #41624
@gorillapower Thank you for your feedback! We will review and update as appropriate.

[2019-10-29 00:06] mike-urnun-msft commented on #41625
@mpeder Thank you for your feedback! We will review and update as appropriate.

[2019-10-29 00:10] christinamorillo opened #41629 "Add a new "Resiliency" section that references our Azure AD resiliency guidance at aka.ms/resilientaad"
Would be helpful to include a new section where we reference our clear guidance on creating a resiliency plan, before a disruption. This is an important step and should be included as part of our cloud-based MFA deployment guidance.
Perhaps a few points and link to our recommendations found here https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-resilient-controls#micro

[2019-10-29 00:19] theWillpowerEngine opened #41630 "npm install is failing during deploy: EACCES to node_modules"
I have an existing express app which is failing to deploy, and I came to this tutorial to try and get a "clean slate", but I'm still having the same issue.

Whenever I deploy my express app I get the following error:

Error: EACCES: permission denied, mkdir '/home/site/wwwroot/node_modules/.bin'

The container then starts, but the first time I try to require any npm module I get:

Cannot find modu

[2019-10-29 00:30] robinsh commented on #40514
@nayrangnu Thanks for updating the docs. Every little bit counts.
@asergaz This update has been merged. Feel free to close this issue.

[2019-10-29 00:35] soorajpayyoor commented on #41459
Thanks, but the Authorisation Code flow with PKCE works with B2C. My issue is related to the documentation or the validation only.

[2019-10-29 00:36] orionJag commented on #41093
Additional info

I have

But, I’m unable to run upgrade of iotedgehubdev. The following are my  msgs

C:\Users\Jag>python --version
Python 3.7.3

C:\Users\username>python get-pip.py
Collecting pip
  Using cached https://files.pythonhosted.org/packages/00/b6/9cfa56b4081ad13874b0c6f96af8ce16cfbc1cb06bedf8e9164ce5551ec1/pip-19.3.1-py2.py3-none-any.whl
Installing collected packages: pip
  Found existi

[2019-10-29 01:46] FrankHu-MSFT commented on #41596
Hey @scottclarke1 thanks for the feedback. Per the image :
![image](https://user-images.githubusercontent.com/6366013/67730750-34b12e80-f9b3-11e9-98a9-a5c7eff0fee5.png)

It does show the directional/bi-directional needs. However it could be a little bit clearer. I'm going to go in and the clarity per your description.

Thanks again for letting us know about this!

Please let us know if there are a

[2019-10-29 02:18] FrankHu-MSFT commented on #41459
I am getting the error :
![image](https://user-images.githubusercontent.com/6366013/67732144-a8553a80-f9b7-11e9-883d-eb91abc92ad0.png)

As said before the b2c protocols do not follow the same exact steps that the oauth2 aad protocols follow as it's an extension. That being said I will be closing this issue out by end of day tomorrow. Please let me know if you have anymore questions @soorajpayyoor

[2019-10-29 03:11] soccerjoshj07 opened #41634 "Update the screenshot / SKU nomenclature"
In the **Verify the deployment** section: It is called "Replication" in the Properties of the storage account now, not "SKU".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fa260de-4d34-678d-71cb-a33005bc9e99
* Version Independent ID: 26b43abc-0b22-3e70-e965-40dc1f21cb02
* Content: [Continuous integration with Azure P

[2019-10-29 03:41] Mike-Ubezzi-MSFT commented on #41608
@timwoelfle You are in good hands with @YutongTie-MSFT, who works with these services.

[2019-10-29 03:57] jjfrost opened #41636 "Please update section "Known issues and limitations""
The term "SYSDB" should be "SYSDBA" on the line: "Customers must use SYSDB to connect to Oracle."  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46008228-381b-b877-0704-b6af8f831108
* Version Independent ID: 00f15044-b7f5-c799-97c1-90407c262216
* Content: [Article about known issues/migration limitations with

[2019-10-29 04:05] MasayukiOzawa opened #41637 "Do you need the Az.SqlVirtualMachine module in addition to the latest Az PowerShell?"
Currently, the latest Az PowerShell module (v2.8.0) does not include the Az.SqlVirtualMachine module as a dependency.
Do you need to install Az.SqlVirtualMachine (Install-Module -Name Az.SqlVirtualMachine) ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00840f7b-1187-828e-ad12-4a88b0ea2795
* Version Independent ID: 3d

[2019-10-29 04:11] stevestein commented on #36515
@psongms - thanks for the response.  Looks like it's called out in this section: https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-use-files-windows#prerequisites

@thecherrytree - thanks for the feedback. As Mike indicated, Azure SQL Uservoice is the best place to make feature requests.

#please-close

[2019-10-29 04:11] #36515 closed

[2019-10-29 04:14] Sandeepkumarv399 commented on #41359
Thanks Vikas. So there is no direct way to convert a disk from Non Availability zone to Availability zone. I need to rely on creating an image first and then deploy with AZ option checked.

[2019-10-29 04:15] souravmishra-msft commented on #40762
@DimaGershman, I apologize for my delay in replies. What you see under the User Name section on the portal, that is actually the email address. The UPN for B2C is something that gets generated by the B2C tenant when the user signup happens.
signInNames attribute is the one that you should be using as you are doing now.

[2019-10-29 04:16] souravmishra-msft commented on #40975
@patrickjlee, We are closing this thread for now. Please feel free to re-open this if any further help is needed on this.

[2019-10-29 04:16] #40975 closed

[2019-10-29 04:18] souravmishra-msft commented on #41070
@mohitmeshram, We are closing this thread for now. In case any further help is needed on this please feel free to reopen this thread.

[2019-10-29 04:18] #41070 closed

[2019-10-29 04:21] souravmishra-msft commented on #41626
@mahoekst, Thank you for updating us on this. We are looking into this and will update you soon on this thread.

[2019-10-29 04:21] SnehaAgrawal-MSFT commented on #41630
@theWillpowerEngine Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-29 04:21] AshokPeddakotla-MSFT commented on #41285
@SeaDude We hope your query is addressed.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-29 04:21] #41285 closed

[2019-10-29 04:22] AshokPeddakotla-MSFT commented on #41279
@SeaDude We hope your query is addressed.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-29 04:22] #41279 closed

[2019-10-29 04:24] stevestein commented on #41238
@kar400 - thanks for pointing this out. It was a format error and the double asterisks should not have been there. The article has been updated.

Thanks!

#please-close

[2019-10-29 04:24] #41238 closed

[2019-10-29 04:29] Max1us commented on #7505
Why direct people to something equally out of date?
https://github.com/Azure/azure-sdk-for-php
Seriously, get your act together... if people to even attempt try Azure, this is the kind of thing which forces them straight to AWS.

[2019-10-29 04:33] stevestein commented on #40602
@davidmi - Here's some additional info that might help:

You would need to first obtain an access token, and then pass it to tedious to connect to SQL Server. As far as how to obtain an access token using nodejs when MFA is required, I don’t know. We haven't had any luck finding out if the MSAL node library supports it yet.

You might want to try posting to the forums: https://docs.microsoft.com/e

[2019-10-29 04:33] stevestein commented on #40602
#please-close

[2019-10-29 04:34] #40602 closed

[2019-10-29 04:35] SwathiDhanwada-MSFT commented on #41634
@soccerjoshj07 Thanks for comment.We are actively investigating on the issue and will get back to you shortly with an update.

[2019-10-29 04:42] stevestein commented on #40654
@jameslee-la - thanks again for the feedback.  In line with the intent of this article we're going to hold off on mentioning SSIS at this time. We're hoping users interested in SSIS find the info they need in the SSIS docs.  Appreciate the suggestion though.  Thanks!

#please-close

[2019-10-29 04:42] #40654 closed

[2019-10-29 04:45] SwathiDhanwada-MSFT commented on #41634
@mumian Can you please review the document and update it accordingly?

[2019-10-29 04:54] SnehaAgrawal-MSFT commented on #41426
@dagrooms52 Thanks again for the feedback! Your feedback has been shared with the content owner for further review.

[2019-10-29 04:59] cloudwiz commented on #38999
Hey guys, its been a couple months with this open has there been any progress with determining the sup portability?

[2019-10-29 05:19] MarileeTurscak-MSFT commented on #41062
Hi @amason304 ,

Looks like there was an issue opened to add this to the XSD, but it never got merged. https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/issues/23

CC: @mmacy and @JasSuri

[2019-10-29 05:30] MarileeTurscak-MSFT commented on #41415
@devan10 yes. Administrators can set up SSPR so that users can only register from a trusted location.

This is explained more here: https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-registration-mfa-sspr-combined

And here: https://docs.microsoft.com/en-us/azure/active-directory/authentication/tutorial-risk-based-sspr-mfa

[2019-10-29 05:31] MarileeTurscak-MSFT commented on #41415
Hope this helps! I'm closing this out but if you have further questions feel free to tag me in the comments and I will gladly continue the discussion.

[2019-10-29 05:31] #41415 closed

[2019-10-29 05:37] femsulu commented on #38999
@utraghuv , @dcurwin  - any update please?

[2019-10-29 05:45] shashishailaj commented on #41610
@rfaircloth-splunk Thank you for your feedback. We will have this checked internally and update the thread.

[2019-10-29 06:02] KalyanChanumolu-MSFT commented on #41468
@wahyuen We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-10-29 06:02] #41468 closed

[2019-10-29 06:04] RohitMungi-MSFT commented on #41473
@ukerzel The TOU covers all content from microsoft docs repository. @marktab could you please guide us if content in the document can be used as per the TOU policy?

[2019-10-29 06:04] SLdragon commented on #41093
Hi, @orionJag, I think your package source config is not correct, you can refer this document to reset your nuget source. Make sure to contain offical nuget source:  https://api.nuget.org/v3/index.json
![image](https://user-images.githubusercontent.com/5545529/67741716-0c7a0c00-fa55-11e9-8572-552d9cf89d18.png)

[2019-10-29 06:11] AshokPeddakotla-MSFT commented on #41278
@SeaDude We hope your query is addressed. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-29 06:11] #41278 closed

[2019-10-29 06:15] AshokPeddakotla-MSFT commented on #41187
@inzi25
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-29 06:15] #41187 closed

[2019-10-29 06:18] SLdragon commented on #41093
For iotedgehubdev issue, there are some version mismatch of python in your system:
![image](https://user-images.githubusercontent.com/5545529/67742287-99719500-fa56-11e9-8f6b-e0748d5f9908.png)

You can try to reinstall your python and try again

[2019-10-29 06:31] Ozzian opened #41639 "Add a note about the administrator username."
There was an error with our incremental resource group deployment:

The conflict-error with this message:

I just accidentally found a reason why the deployment failed with our existing SQL server. There is a documentation in
https://docs.microsoft.com/en-us/azure/templates/microsoft.sql/2015-05-01-preview/servers saying

I think there should be a note in this site stating that as well, as the err

[2019-10-29 06:44] amanmcse commented on #41053
@wallace,

Currently there is no provisioning in Azure AD for customizing this error message to include specific  information. You can post your idea at [Azure Feedback portal](https://feedback.azure.com) and our product team will be notified.

Hope you have answer to your question. Please let me know if you need any further information.

[2019-10-29 06:51] surajmb commented on #41492
Hey @monual, thanks for the catch. We'll evaluate this and update the doc.

[2019-10-29 06:58] jakaruna-MSFT commented on #41637
@MasayukiOzawa Thanks for posting here.

We need to install the module Az.SqlVirtualMachine apart from Az.

@MashaMSFT  Do we have a way to install all the dependent modules for Az at a time?

If not, we can add the module Az.SqlVirtualMachine as a [prerequisite ](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-sql-bulk-register-with-resource-provider#p

[2019-10-29 07:04] souravmishra-msft commented on #41358
@pmeuser, There are no guides available as Best Practices for F5 with AAD. But instead, you can use the Azure AD Application-Proxy feature, which is also used to publish the on-prem apps and protect them with AAD.

You can refer to the following documentation for more info on AAD Application-Proxy: [https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy](url)

[https

[2019-10-29 07:08] pmeuser commented on #41358
Isn‘t the partnership between MS and F5 about providing joint solutions than just recommending a MS-only solution at the end? Of course, I know about AAD app proxy.

[2019-10-29 07:16] PramodValavala-MSFT commented on #41235
@basilwong Sorry for the long silence. I'm not aware of any official samples but a web search does give some repos worth looking at.

If you are using C#, you could use the [`SSH.NET`](https://github.com/sshnet/SSH.NET) library, the same used by the Logic App [SFTP-SSH Connector](https://docs.microsoft.com/en-us/azure/connectors/connectors-sftp-ssh#compare-sftp-ssh-versus-sftp).

Couple of things

[2019-10-29 07:16] #41235 closed

[2019-10-29 07:20] SadiqhAhmed-MSFT commented on #41572
@dcurwin Could you please share your insights on the question above?

[2019-10-29 07:23] formulahendry commented on #40520
Hi @alaendle , thanks a lot for your detailed explanation to help us understand!
It seems that it would be great that `IoTHubMessage_GetByteArray` could be guaranteed to contain a null terminated string. So that developers do not need to write extra code to check and transform it to a a null terminated string. Not only this tutorial could benefit from this.
What's your idea about this?

[2019-10-29 07:33] rimvel opened #41640 "Error"
This step "Filter Query" does not work. Is the format correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 067dc36a-c98a-73fc-cee0-59a311619401
* Version Independent ID: 362a1a3f-b536-123c-2dd1-421051f0fec4
* Content: [Azure Table storage](https://docs.microsoft.com/en-us/azure/marketplace/cloud-partner-portal-orig/

[2019-10-29 07:39] DimaGershman commented on #40762
I see. I was just hoping that **signInNames** values could be part of the portal's bulk Download Users operation output (exported csv file).
This would save me the time to write ad-hoc graph API code AND without **signInNames** this "Download Users" operation is not very useful to me.
`<EndOfFeedback/>`

[2019-10-29 07:43] dcurwin commented on #41572
#reassign:saurabhsensharma

[2019-10-29 07:44] kagkarlsson commented on #41588
Thank you for the quick feedback! It is much appreciated!

Ok, slightly embarrassing that I did not catch that, to use my own source-user name. However, may I suggest that the query in the docs is updated to make it clearer that you are supposed to change the username?

Trying it out now.

[2019-10-29 07:49] subashsivaji commented on #40876
I would like mapping data flow examples in following sections,
1. Sample parameterization template
2. Default parameterization template
3. Pre/Post deployment script - to remove resources. Im aware that mapping data flow doesn't yet support Azure PowerShell. Could we have Azure REST API example.

[2019-10-29 07:57] forester123 opened #41641 "Inconsistant information"
Is Maintenance schedules still in preview? The page title indicate it's in preview

![image](https://user-images.githubusercontent.com/13616574/67747963-da70a600-fa64-11e9-89c2-e0166f9be5d0.png)

same issue in below two pages:
https://docs.microsoft.com/en-us/azure/sql-data-warehouse/maintenance-scheduling
https://docs.microsoft.com/en-us/azure/sql-data-warehouse/maintenance-scheduling

---
#### D

[2019-10-29 07:58] RohitMungi-MSFT commented on #41579
@temitopefunmi It looks like your file is stuck in processing if the status is the same for weeks. If you are unable to delete the request after selecting the same we would request you to send an email with details of your resource to our speech services support team at the following address.
speechsupport[at]microsoft[dot]com

[2019-10-29 07:59] alaendle commented on #40520
Hi @formulahendry ; in my personal believe the name of the method itself implies that a byte array is returned (which possibly only contains nulls); also a change like this would be a breaking change for any application that transfers byte arrays containing nulls. So please don't change the behaviour of the existing method. Also - while it would be possible to add a new method that wraps `IoTHubMe

[2019-10-29 08:01] rayne-wiselman commented on #41431
@FisherOps The article about monitoring Site Recovery using Azure Monitor is here - https://docs.microsoft.com/en-us/azure/site-recovery/monitor-log-analytics, available for Azure VMs and VMware VMs.
#please-close

[2019-10-29 08:01] #41431 closed

[2019-10-29 08:31] ram-msft commented on #41465
@anrothMSFT Can you please help with the samples for custom vision export tensorFlow platform model's(i.e.,tensorFlow, tensorFlow Lite) used in android object detection example.

[2019-10-29 08:37] SwathiDhanwada-MSFT commented on #41640
@rimvel Thanks for your comment. We are actively investigating and will get back to you shortly with an update.

[2019-10-29 08:39] jakaruna-MSFT commented on #41580
@iRainbow5 I will check with my team to know about changing service principal breaks the SLO or not.

If you change the service principal manually it wont be preserved during node updates and while adding new nodes. I dont think there are other disadvantages.

If you looking to assign that identity to a pod you can have a look at https://docs.microsoft.com/en-us/azure/aks/operator-best-practices-i

[2019-10-29 08:39] Shawngbk opened #41642 "Misleading explanation about throughput distribution."
There is a sentence at tag "Set throughput on a container".
"Throughput provisioned on an Azure Cosmos container is uniformly distributed across all the logical partitions of the container."
However, the throughput is uniformly distributed across all the physical partitions rather than the logical partitions.
It can also be find in this doc
https://docs.microsoft.com/bs-cyrl-ba/azure/cosmos-db/par

[2019-10-29 08:57] ChiragMishra-MSFT commented on #41629
@christinamorillo Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-10-29 08:59] KalyanChanumolu-MSFT commented on #41636
@jjfrost Thank you for pointing out the issue. I have raised a pull request to fix the issue.
The changes should be live by EOD.
In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. We love taking contributions from the community.

@HJToland3 PR [Link](https://github.com/MicrosoftDocs/azure-docs-pr/pull/93899)

[2019-10-29 08:59] #41636 closed

[2019-10-29 09:09] ayooki opened #41644 "Register NPS server in Active Directory"
I deployed a VM and joined it to the domain giving it NPS server role. Can I register a Network Policy Server in Active Directory with this option? If so, how?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13427ec1-d66f-1063-9c5d-273b2c745a9f
* Version Independent ID: f1c2ddb0-d3c8-776e-d4ee-b1b4557c662b
* Content: [O

[2019-10-29 09:11] jackiejaiau opened #41645 "When is VNet integration preview become GA?"
https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet

When is VNet integration preview become GA?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a98803-1438-b1b5-f543-7dd88bc4294e
* Version Independent ID: 37ff1d0f-ed8e-5e4d-1f4c-1b9f6cffb938
* Content: [Integrate app with Azure Vir

[2019-10-29 09:12] cconcordet commented on #40856
Any update @mike-urnun-msft ?

[2019-10-29 09:17] SubhashVasarapu-MSFT commented on #41645
@jackiejaiau , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-10-29 09:19] cocowalla commented on #32572
The issue seems simple enough to understand - how to create an app service without declaring a runtime? If you are deploying a static, client-side app, it doesn't need a runtime - it's just serving HTML, CSS, images etc.

[2019-10-29 09:20] SubhashVasarapu-MSFT commented on #41351
@qibozhu , Appreciate your patience. We are assigning this issue to content author for updating the document accordingly. @KumudD , Could you please update the hyperlink mentioned above?

[2019-10-29 09:20] bchris999 opened #41646 "Free data sources - better highlighting of these"
The pricing page has the following footnote: "What data can be ingested at no cost with Azure Sentinel?
Azure Activity Logs, Office 365 Audit Logs and alerts from Microsoft Threat Protection are available for ingestion at no additional cost."
However there is not much detail around exactly what come under this. It would be good to get some documentation or more details around this.
Can you detail

[2019-10-29 09:25] ChiragMishra-MSFT commented on #41646
@bchris999 Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-10-29 09:25] dohughes-msft opened #41647 "One should specify "-T" in the iscsiadm command setting node.startup = automatic"
In the section where you connect the iSCSI target devices, you should specify the target (-T &lt;target&gt;) when setting the node.startup = automatic. If there are multiple targets (e.g. NFS, DB, ASCS) then they will *all* be set to automatic and then the start of the iscsi service will fail because this node only has access to its own target, in this case NFS.

In other words I recommend updatin

[2019-10-29 09:54] stuarthallows commented on #41584
@cjthompson I know that _ApplicationInsights:InstrumentationKey_ won't work, but as the doc uses the word _Typically, APPINSIGHTS_INSTRUMENTATIONKEY_ that implies that you may be able to use either, but that one is preferable to use one over another. My suggestion is that the documentation could explicitly state the value required in Azure.

[2019-10-29 10:00] rayne-wiselman commented on #40915
Thanks! We'll update the docs on this.

[2019-10-29 10:12] iMicknl commented on #41393
Thanks for the quick fix, @HeidiSteen & team!

[2019-10-29 10:16] souravmishra-msft commented on #40731
reassign:hpsin

[2019-10-29 10:28] souravmishra-msft commented on #40762
@DimaGershman, I totally understand and its little extra on your end that you have to perform to get the exact answer. Unfortunately, it doesnt work that way, since UPN is something that gets created during the sign-up process and hence it doesnt match with the email.

We are closing this thread for now.

[2019-10-29 10:28] #40762 closed

[2019-10-29 10:29] rayne-wiselman commented on #39814
I'm closing this issue. If there are any further questions or comments please feel free to reopen.

#please-close

[2019-10-29 10:29] #39814 closed

[2019-10-29 10:40] rayne-wiselman commented on #39693
Thanks for your feedback. As the doc states, you can use the growth factor as works for you. You can generate multiple reports with different growth factors with the same profiled data. For example, you could assume 10% over a quarter and 30% over a year, in accordance with your specific app usage and growth projections.

#please-close

[2019-10-29 10:40] #39693 closed

[2019-10-29 10:41] #39229 closed

[2019-10-29 10:45] swaggering opened #41649 "Are there any Java/spring code samples which uses pass through authentication? I am specifically looking for using this authentication method with a web application"
Are there any Java/spring code samples which uses pass through authentication? I am specifically looking for using this authentication method with a web application

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7189550d-69e4-134f-fdd2-5c53b4372fdd
* Version Independent ID: 8837536c-fac0-7dc2-6b77-de731a4e9430
* Conten

[2019-10-29 11:05] AndreiDita opened #41650 "ADE support for S2D"
In the previous version of ADE overview it was stated that S2D is not supported. Old link https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-overview
Has this changed? If this isn't supported can this statement be added?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c350c7c-529c-15ac-ec7f-

[2019-10-29 11:07] KetanChawda-MSFT commented on #41624
@gorillapower Can you share you function App Name directly or [indirectly](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately)?

[2019-10-29 11:09] rayne-wiselman commented on #41541
Added a note to the documentation. Should appear later today
#please-close

[2019-10-29 11:09] #41541 closed

[2019-10-29 11:09] rayne-wiselman commented on #41316
Fixed. Fix should show up later today
#sign-off

[2019-10-29 11:09] scottclarke1 commented on #41596
Hey Frank,
I think the diagram is fine but the tables could do with an additional column or a statement to say that communication is bi-directional. It would then remove the potential for disagreement as the article could be referenced too when refering network engineers to the technical documentation that then states "communication is bi-directional" etc.
Thanks,

[2019-10-29 11:10] rayne-wiselman commented on #41099
Fixed. Should show up later today
#please-close

[2019-10-29 11:10] #41099 closed

[2019-10-29 11:18] Rutikhal opened #41651 "how to send file as attachment"
Hi.
This works for me, I could send emails from automation runbook using sendgrid API, but how could I send attachment with email?
based on sendgrid API docs (https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html) I added additional section to JSON file but having error.
attachments = @(
    @{
        content = $base64String
        filename = $filename
    }
)

Error like this
Invok

[2019-10-29 11:20] rayne-wiselman commented on #28532
We're not currently taking updates for this article. Thx
#please-close

[2019-10-29 11:20] #28532 closed

[2019-10-29 11:21] rayne-wiselman commented on #31921
#assign=sujayt

[2019-10-29 11:25] John-Blair commented on #41477
Thank you very much - that was perfectly clear.

[2019-10-29 11:25] #41477 closed

[2019-10-29 11:26] KrishnaG-MSFT commented on #41455
@CeciAc Thanks for your comment. The feedback has been shared with the content owner @qianw211 for further review. Thanks for your patience.

[2019-10-29 11:27] rayne-wiselman commented on #40047
Thanks for your feedback. I added a note to clarify that you can only choose an existing automation account when enabling replication.
#please-close

[2019-10-29 11:27] #40047 closed

[2019-10-29 11:27] wapoywapa opened #41652 "Missing content"
Hi,

This method has been cutoff at the end ....

"public static async Task DetectFaceExtract(IFaceClient client, string url, string recognitionModel)"

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1ed5f85-d750-c7a9-c976-6bce2e439346
* Version Independent ID: d0176b47-447e-c04f-f4fe-8ca6e1b5eee8
* Content: [Quickstar

[2019-10-29 11:27] #41316 closed

[2019-10-29 11:28] gorillapower commented on #41624
Hi @KetanChawda-MSFT , please see below.

**timestamp:** 2019-10-28T20:32:02.533
**Id:** (Succeeded, Id=ae01e95f-1195-494d-bc97-fc33a766d5a2)
**Region:** West Europe

[2019-10-29 11:35] AjayKumar-MSFT commented on #41363
@Anaig, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2019-10-29 11:35] #41363 closed

[2019-10-29 11:47] KalyanChanumolu-MSFT commented on #41641
@forester123 Thank you for reaching out.
Yes, Maintenance schedules is still in preview.

[2019-10-29 11:48] KalyanChanumolu-MSFT commented on #41639
@Ozzian Thank you for the feedback.
We are checking this issue and will get back to you soon.

[2019-10-29 11:49] rayne-wiselman commented on #41457
Thanks for your feedback. The article you're pointing (https://docs.microsoft.com/en-usAzure/site-recovery/azure-to-azure-enable-replication-added-disk) to refers to disks on Azure VMs replicating to another Azure region. However, this article refers to VMware VMs replicating to Azure.

I'm closing since I don't think there's a work item here. Please reopen if you have additional questions. thx! #

[2019-10-29 11:49] #41457 closed

[2019-10-29 11:49] KalyanChanumolu-MSFT commented on #41642
@Shawngbk Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-10-29 11:51] tdihp commented on #36291
The SLB feature is GA now, I think this doc is not reflecting the SLB scenario yet?

[2019-10-29 11:52] jakaruna-MSFT commented on #41647
@dohughes-msft
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-10-29 12:03] rayne-wiselman commented on #41528
Thanks for your feedback. The steps explain that you have to add the Linux username in the CSPSconfigtool on the configuration server.

[2019-10-29 12:14] smoms opened #41654 "Clarification on Subscription's tenant belonging"
What does it mean "All subscriptions within a single management group must trust the same Azure Active Directory tenant."? That all Subscription must be part of the same AAD tenant? thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1527b80e-5270-b5f0-9034-747c6f92ae4e
* Version Independent ID: 50b9882c-dcb0-ecc1-24

[2019-10-29 12:22] APIWT commented on #12846
@BryanTrach-MSFT Is this still the case? We have had some luck using auto-swap with ARM, however there has been some really strange behavior. For example, configuration options that are not slot specific never end up in the target slot on the first deployment.

[2019-10-29 12:22] geekGK commented on #41394
Thanks @TravisCragg for detailed insight, answers my query to satisfaction.

[2019-10-29 12:25] mathewhtaylor opened #41655 "Better to name choices based on Lead Destination vs. implemetation method"
HTTPS Endpoint is a method, not a lead destination. It would be clearer to split this choice into two, the first being "Email Notification via Microsoft Flow", and "3rd Party CRM System via Microsoft Flow".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c74b69b-db25-6a0f-d917-ea7282fce9ba
* Version Independent ID: 425

[2019-10-29 12:25] jakaruna-MSFT commented on #41576
@assaf-grth i think there are no plans now to increase that time. I will check with my team and let you know.

@ericrad please provide your inputs

[2019-10-29 12:32] ManojReddy-MSFT commented on #41644
@ayooki  Registering NPS server with Azure AD DS is not supported.

[2019-10-29 12:51] APIWT opened #41656 "Clarify auto-swap instructions"
Hello!

Would you please clarify what this means when using DevOps Pipelines?
"When auto swap is enabled from a slot into production, every time you push your code changes to that slot, App Service automatically swaps the app into production after it's warmed up in the source slot."

Does this mean that every time you use the App Service Deploy task? Does this mean every time you use the App Servi

[2019-10-29 13:02] nb-ofs opened #41657 "(device.deviceOwnership -eq "Company")"
i have options of corporate, personal or unknown but not company - which is right?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1be8-5f1f-0092-68fb6b9e2305
* Version Independent ID: cd34312f-b507-affe-555e-1e0c63e7d494
* Content: [Dynamic automatic group membership rules - Azure Active Directory](https://doc

[2019-10-29 13:05] gamullen commented on #28157
I still can't get this working, even after following the instructions above for AADDS. Does anyone have up-to-date instructions? Just trying to get a simple WVD going in a brand-new subscription and tenant.

[2019-10-29 13:08] ManojReddy-MSFT commented on #41570
@juyamagu I agree. Having this information in this doc will be helpful. I have assigned this to the author to update the doc.

[2019-10-29 13:10] dhananjaypatkar opened #41658 "App Service Environments & Isolated Pricing tier"
I followed this article, to deploy my spring boot application on existing web app created in Isolated plan.

It fails with "Invalid pricing tier", does this plugin supports Isolated plans / Plans hosted in App service environments?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c13f5f59-c119-40e6-1396-d6e65b737693
* Ve

[2019-10-29 13:14] ManojReddy-MSFT commented on #41556
@akn9050 It is not possible through conditional access to block just Azure Portal. It will be applied to all the management endpoints as described in this article.

If you want this feature implemented I would recommend adding a feature request [here](https://feedback.azure.com/forums/169401-azure-active-directory?category_id=167259).

[2019-10-29 13:24] wojciechkopciewicz opened #41659 "Using Azure Container Registry instead of DockerHub"
Is there a way to authorize ACR any other way than providing username and password in DOCKER_REGISTRY_SERVER_USERNAME and DOCKER_REGISTRY_SERVER_PASSWORD?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d505ab9-d351-6650-6d0c-bb65d2daa229
* Version Independent ID: 2a1d3487-a93d-2206-7ef9-a91aa275ec4e
* Content: [Create

[2019-10-29 13:31] lesterw1 opened #41660 "Instructions are Obsolete"
The steps listed from step 3 through 6 are no longer valid. Under Cost Management + Billing, there is no longer a "Subscriptions" option.  All efforts to find where to "Transfer Billing Ownership" were fruitless. These instructions need to be updated to reflect how to do this (I could not figure out where this option has moved to).

---
#### Document Details

⚠ *Do not edit this section. It is req

[2019-10-29 13:31] jeevansd commented on #41358
@pmeuser Yes, we do have a partnership with F5. Based on the type of Auth method your app is using we recommend to use Azure AD App Proxy or Azure AD DS or both. If you cannot use any of it then use F5 for your app integration. I am not sure what you need in terms of best practices. But soon we will provide this scenario diagrams on Azure AD Marketing web site. So watch out for it by next week.

[2019-10-29 13:32] jeevansd commented on #41358
#please-close

[2019-10-29 13:32] #41358 closed

[2019-10-29 13:38] wallace commented on #41053
@amanmcse ,

Thank you, you've been very helpful. I've added the suggestion as you recommended. One may find it here: https://feedback.azure.com/forums/34192--general-feedback/suggestions/38914249-include-tenant-query-parameter-in-the-admin-consen.

Thank you again for all your help.

[2019-10-29 13:38] #41053 closed

[2019-10-29 13:40] NomadRex opened #41661 "typoes with multi-factor authentication"
multi=factor authentication --&gt; multi-factor authentication

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ded8bd52-4c34-6f89-4931-4d84987080bf
* Version Independent ID: 655f513c-d172-3c5b-884d-a610544573b2
* Content: [Multi-factor authentication (MFA) and Privileged Identity Management - Azure Active Directory](htt

[2019-10-29 14:02] OLoup commented on #41489
Hello @VikasPullagura-MSFT, you can find more details in the topic I opened in the Azure forum, https://social.msdn.microsoft.com/Forums/en-US/5c5bdf71-8562-4b3a-8f18-64be669a68c3/cannot-deploy-to-app-service-since-waf-added?forum=windowsazurewebsitespreview, I hope this can help you

[2019-10-29 14:06] bobbytreed commented on #41478
Hello @wojciehm On the first note, you should not mix Az and AzureRM Modules because that can cause a lot of errors.  Second, it still doesn't appear like AzureRM.Profile is listed in your modules.

Unless you need AzureRM.Resources, I would switch completely over to Az modules (Az.Profile) etc,

Does that help?

[2019-10-29 14:09] bobbytreed commented on #41508
@pejuborg I do not see a version in the screenshot other than "> 2.70", is that what you mean?

I will update the kusto query in the mean time.

[2019-10-29 14:09] IEvangelist opened #41662 "Include WindowsAzure.Storage folder examples"
I spent about 30 minutes debugging an issue with a customer at a recent developer conference. Later we discovered it was simply user error. We were debugging the usage of the [WindowsAzure.Storage SDK](https://www.nuget.org/packages/WindowsAzure.Storage/).

While the issue was user error, there is still an opportunity to improve the docs - such that they include examples of folder usage when persi

[2019-10-29 14:09] MonikaReddy-MSFT commented on #41658
@dhananjaypatkar , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-10-29 14:10] bobbytreed commented on #41478
@wojciehm I will try to update the script with a Az version as well.  For the most part you can simply remove the "ureRM" and the cmdlets take the same parameters, etc.

[2019-10-29 14:11] IEvangelist commented on #41662
#assign IEvangelist

[2019-10-29 14:15] ManojReddy-MSFT commented on #41464
@watahani I am following up to get an update regarding this.

[2019-10-29 14:16] SwathiDhanwada-MSFT commented on #41651
@Rutikhal  Thanks for your comment. We are actively investigating and will get back to you shortly with an update.

[2019-10-29 14:17] ignaciofls opened #41663 "Small typo in the "Variation on output field mappings (nested properties)" section"
I believe you are missing a " after the :   "sourceFieldName": /document/normalized_images/*/categories/details/landmarks/*",

I noticed while copy & pasting to my indexer :)

Regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 041bd8fd-b0ef-be36-5022-78214d1d9ba4
* Version Independent ID: f95cc248-f2cb-08ba-cca3-94

[2019-10-29 14:18] RudyEvers opened #41664 "Data Factory: Web Activity Basic authentication dissapeared?!?"
## Web Activity Authentication issue

Since today 2019-10-29, the authentication type Basic suddenly dissapeared from the control flow component Web Activity. As a result our ADF pipeline does not work anymore and we can not change the authentication of the API itself.

Is this a mistake or will this type of authentication dissapear forever? I haven't seen any updates about this and also the docum

[2019-10-29 14:32] simonhutson opened #41665 "Missing Subscriptions States"
In the Azure Portal, I can see additional states "Expired" and "Other", but these don't seem to be documented here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 489bc2af-1095-0bfb-0f44-713c7c528388
* Version Independent ID: 493e514b-4b39-091f-f25a-0cc9f87ed1bb
* Content: [Azure subscription states](https://docs.micro

[2019-10-29 14:35] temitopefunmi commented on #41579
okay thanks

[2019-10-29 14:35] mumian commented on #41639
@Ozzian - thank you for your comment.  I have updated the article. See https://github.com/MicrosoftDocs/azure-docs-pr/pull/93922.

#please-close

[2019-10-29 14:36] #41639 closed

[2019-10-29 14:41] NavtejSaini-MSFT commented on #41605
@raaMarcus Please get back to us if any questions in this regard or we will go ahead and close the thread by EOD

[2019-10-29 14:42] imlight opened #41666 "How to pass node_resource_group via ansible azure_rm_aks module"
Hello Team,

I couldn't find a way to pass node_resource_group  argument with azure_rm_aks module in ansible
https://docs.ansible.com/ansible/latest/modules/azure_rm_aks_module.html, which will make sure  separate resource group .

This argument is available in az command line .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-10-29 14:43] gprl commented on #41237
@FrankHu-MSFT I have also been testing the logout process with a single user and noticed there is another instance where we are not getting a LogoutResponse from Azure.

When we create an enterprise application and setup single sign-on, in the **Set up Single Sign-On with SAML**, under **Set up \<Application Name\>** you have a logout url: https://login.microsoftonline.com/common/wsfederation?wa=w

[2019-10-29 14:50] owingruters commented on #16691
What is the status here?

[2019-10-29 14:51] mmacy commented on #41062
Thanks @amason304 and @MarileeTurscak-MSFT, checking on this internally. Will update here when I know more.

#reassign:mmacy

[2019-10-29 15:04] dzoech opened #41667 "Reliable Collections within Docker container"
Is it possible to use Reliable Collections within a Docker container hosted by Service Fabric (Windows or Linux)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b741800f-ac4d-5a3a-bf47-586618ce60d3
* Version Independent ID: 55e5bfd3-37d8-0baa-b18c-b6b3f2980529
* Content: [Introduction to Reliable Collections in Azure S

[2019-10-29 15:07] alexdlevin commented on #28157
Hey Gary,

Sorry to hear you are having some frustrations.  I’ve been working with the WVD since public preview 1qtr this year.  I haven’t had any trouble yet with docs posted.  Is there a particular part that isn’t working for you and if so which area?  I could also potentially help out over the phone later today.   My personal email is alexdlevin at gmail dot com.  If you ping me there I can sen

[2019-10-29 15:07] djpmsft commented on #40876
All very valid asks, will create a work items and get them done soon

By the way, Mapping data flow is supported in the newest version of the data flow powershell sdk

[2019-10-29 15:15] mabotova opened #41668 "Policy assignments removed after tenant change."
We got confirmation from the product team that, when a subscription is moved between tenants, all Policy assignments are removed from it. Could you please add this information in the "Important" section of this article?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da261ee4-3348-b520-a27c-98f9d9ef40cc
* Version Indepe

[2019-10-29 15:22] alainvanhoof opened #41669 "AllowPrerelease Option not recognized"
PS C:\WINDOWS\system32&gt; Install-Module -Name Az.PrivateDns -AllowPrerelease
Install-Module : A parameter cannot be found that matches parameter name 'AllowPrerelease'.
At line:1 char:36
+ Install-Module -Name Az.PrivateDns -AllowPrerelease
+                                    ~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidArgument: (:) [Install-Module], ParameterBindingException
    + Fu

[2019-10-29 15:27] ivanignatiev opened #41670 "Clarify which Tag contain Service Endpoints"
Hello,

In the **VirtualNetwork** service tag description there is a mention "address prefixes used on user defined routes" but it is not explicitly clear if it contains also address prefixes of routes added with Service Endpoints

Thank you !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e905802-0b08-4b3b-25ec-0f88c

[2019-10-29 15:35] galgolan opened #41671 "Matching the button to our own app style"
Hello,

Can you please provide guidelines for matching the button to our own app style?
Specifically in our app the Microsoft's button border and padding between text and logo makes our app's design look awkward and not uniform.
For example, Google branding guidelines provide rules for matching to your own app's style: https://developers.google.com/identity/branding-guidelines

---
#### Document D

[2019-10-29 15:39] OLoup opened #41672 "Deploy from local"
Can I deploy to a staging slot of my App Service if this App Service is in a VNet? Using the local windows command line.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e754567e-9482-5693-5ef8-6cc811ea7f57
* Version Independent ID: 7c87e9ce-cf7f-120d-e6a3-9b605e231ef3
* Content: [Use App Service environment - Azure](htt

[2019-10-29 15:40] aaronwjha opened #41673 "Limitations of clusters created after this Preview is enabled in a subscription"
Related to the following note in the doc:

We are looking at using this feature in a development (not production) environment. Some of our clusters will have Windows node pools and some will not. We understand that enabling the preview feature limits support options. What other limitations do we need to consider? Will all AKS clusters be affected even if Windows node pools are not created?

---
##

[2019-10-29 15:41] #41634 closed

[2019-10-29 15:45] oising commented on #35797
Came here to say the same thing: The ROPC flow, as a public client, should not be passing client_secret. The username/password is the "secret." Also, the postman example for ROPC doesn't work at all. I get:

[code]

[2019-10-29 15:45] ilya-spv opened #41674 "Contradiction in the method of selecting a public IP from a multiple frontend pool"
This documentation says the following:

`This service configures a new frontend IP on the Azure Load Balancer. If you do not have any other IPs configured, then all egress traffic should now use this address. When multiple addresses are configured on the Azure Load Balancer, egress uses the first IP on that load balancer.`

While documentation here (https://docs.microsoft.com/en-us/azure/load-bala

[2019-10-29 15:51] hpsin commented on #40731
#please-close
The fix for this went in last week

[2019-10-29 15:51] #40731 closed

[2019-10-29 15:54] realolap opened #41676 "Cosmos item ID no longer autogenerated if left blank?"
Under properties of an item: User-defined unique name in a logical partition. If the user doesn’t specify the ID, the system automatically generates one.
This behavior seems to have changed in .net and js - https://github.com/Azure/azure-cosmos-js/issues/241 and the call will throw an error if no id is given.

---
#### Dokumentinformasjon

⚠ *Ikke rediger denne delen. Den kreves for koblingen docs

[2019-10-29 15:55] HJToland3 commented on #41588
@kagkarlsson - I updated the docs yesterday, adding a note that "PG_User" refers to the username being used to connect to the migration source. Thanks again!

[2019-10-29 15:55] MicahMcKittrick-MSFT commented on #41667
Thanks for the question! We are investigating and will update you shortly.

[2019-10-29 16:01] MicahMcKittrick-MSFT commented on #41673
Thanks for the question! We are investigating and will update you shortly.

[2019-10-29 16:14] pemj opened #41677 "No CLI documentation"
[Enter feedback here]
I can't find any documentation regarding how one might accomplish this task with az cli commands. I'm trying to carry out this operation in a way that's reproducible across multiple environments and regions, and the portal doesn't enable that very well. Any advice on how to complete the below fragment in such a way as to create an alias record?

---
#### Document Details

⚠ *

[2019-10-29 16:21] JohnDelisle commented on #16691
@owingruters

Of what, specifically?  The status of the documentation that doesn't inform the user of the incompatibility, or the status of the Traffic Manager incompatibility with Azure App Services employing Client Cert Auth?

[2019-10-29 16:22] loic-sharma opened #41679 "Some suggestions"
Hi, some suggestions for the C# guide:

1. I would consider following the [Azure SDKs' .NET Guidelines](https://azure.github.io/azure-sdk/dotnet_introduction.html) and converting the samples to use synchronous APIs. This will simplify the quickstart by removing the C# 7.1 requirement and removing the need for `ConfigureAwait(false)`
1. In the [Put it all together section](https://docs.microsoft.co

[2019-10-29 16:22] kartben opened #41680 "This page needs to be updated re: enrollment groups that can use symmetric key and Edge support"
Screenshots and instructions on this page are a bit outdated - see title

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67bbed40-83cd-0728-8e5d-59ab1ac1db5a
* Version Independent ID: 6fb0ad61-da58-7eec-f517-cc0d58bfd4d4
* Content: [Manage device enrollments with Azure portal](https://docs.microsoft.com/en-us/azure/iot-

[2019-10-29 16:27] #41661 closed

[2019-10-29 16:30] ivanignatiev commented on #41670
@msrini-MSFT My question is Do I need to allow the corresponding service tag additionaly to VirtualNetwork service tag or to allow VirtualNetwork service tag is enough because Azure adds the route of Service Endpoint to Virtual Network ?

Thank you !

[2019-10-29 16:35] hpsin commented on #40971
#please-close

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: souravmishra-msft <notifications@github.com>
Sent: Tuesday, October 29, 2019 9:34:16 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Hirsch Singhal <hirsin@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] The V2 token sample is wrong (#

[2019-10-29 16:35] #40971 closed

[2019-10-29 16:38] souravmishra-msft commented on #41352
@brandikun, you can refer to the following URL [https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-protocols-oidc](url).

This URL speaks about the Open ID Connect and protocol and its Sign-In request. It also speaks about the steps on the ID-Token validation

[2019-10-29 16:40] erhopf commented on #41679
#reassign: @swmachan

[2019-10-29 16:47] NenoLoje opened #41681 "Clarify support for Azure DevOps Server/TFS support"
As TFS has been renamed to Azure DevOps Server,

(1) Please clarify the intent of the first question. Do you intend to say it's not supported on-prem on TFS/Azure DevOps **Server**, but it's available on Azure DevOps **Services**? (as "Azure DevOps" is ambiguous)

(2) If possible, please clarify if there are any plans to bring it to on-prem in future.

Thanks!
--Neno

---
#### Document Details

⚠

[2019-10-29 16:48] jtuliani opened #41683 "Unclear re cost vs consumption"
Doc states: "In the Azure portal, budgets are defined by cost. Using the Azure Consumption API, budgets are defined by cost or by consumption usage."

This needs further explanation. What is cost vs consumption? Need to give examples of what would count as cost but not consumption, and vice-versa. And what would count as both.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-10-29 16:49] MGoedtel commented on #41306
@gorzilla - Which query are you pointing out is not working?  I'll take a look at it after you respond. Thanks.

[2019-10-29 16:50] MGoedtel commented on #40953
I'll bug this and we will triage it in our next sprint, starting in Nov.

[2019-10-29 17:04] amanmcse commented on #41188
Hello @demesg,

The documentation point towards **< CryptographicKeys >** section of the technical profile configured for SAML IDP in Azure AD B2C Custom Policy. Below is the snip from sample technical profile that includes ADFS as SAML IDP, where I have highlighted **< CryptographicKeys >** section in RED and other changes required to be done under the technical profile in GREEN.

![tp](https://u

[2019-10-29 17:04] Brancart675 opened #41684 "Update to allow for monthly RI Availability"
Some components of this document may need to be updated due to the availability of paying monthly for Reserved Instances.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9be8cdc6-1a0e-25d6-8131-a56c5c0029a5
* Version Independent ID: d27499e5-c8d4-2de0-273d-09f64aec3121
* Content: [Manage Azure Reservations](https://docs

[2019-10-29 17:12] marckassay opened #41685 "Use 'DisplayName' instead of 'UserPrincipalName'?"
Data returned from `Get-AzADUser` (as-is), shows my email address that I use for log-in, assigned to `DisplayName` field. Perhaps the following in the Prerequisite section should be changed from:
[code]
...to:
[code]
Otherwise, attempting to obtain my AD Id as instructed fails.

If this change request is accepted, make sure to also update the Azure CLI code option in this section too.

---
#### Do

[2019-10-29 17:13] PatrickFarley commented on #41652
Please assign this issue to me

[2019-10-29 17:17] bychkov opened #41686 "APNS priority sample"
What is the namespace for ApnsNotification class in the "APNS priority" code sample?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fa4b158-79fb-e664-3604-0c8a2ef925d1
* Version Independent ID: 33d2079e-1cd9-7933-b9fd-f57aeb0794fc
* Content: [Azure Notification Hubs iOS 13 updates](https://docs.microsoft.com/en-us/azu

[2019-10-29 17:18] MarileeTurscak-MSFT commented on #41390
Thanks. I made a pull request to change it to "Under **Additional Tasks > Manage Federation**, scroll to **Active Directory Federation Services (AD FS)**."

Feel free to make your own PR or tag me in the comments if you believe this should be updated further.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/93963

[2019-10-29 17:18] #41390 closed

[2019-10-29 17:19] KranthiPakala-MSFT commented on #41664
@RudyEvers Thank you for reaching out and bringing this to our notice. This looks strange, I was able to see all the options in authentication section including Basic.

![image](https://user-images.githubusercontent.com/50185738/67791869-71be0500-fa35-11e9-8891-902954e38d87.png)

Could you please try refreshing your browser (or clearing your browser cache) and let us know if you still notice the i

[2019-10-29 17:20] gorzilla commented on #41306
I don't think kusto has a function called `dedup`

[2019-10-29 17:23] jtuliani opened #41687 "Which subscriptions/scope support action group alerts?"
From using the Azure portal, I see that sometimes I can set an Action Group alert on a budget, and sometimes I can't (I can only set the email notification). It seems to be related to the scope (EA scope vs mgmt. group vs subscription) but I've not been able to figure it out. Please can you clarify in this doc when Action Groups are supported in Budget Alerts, and when they are not?

---
#### Docu

[2019-10-29 17:38] PatrickFarley commented on #38647
I'm updating the doc to be more clear. @rajurajvijay619 , you need to select the gear icon from the main homepage (when you first sign in) on the Custom Vision website, not your project page. There, you'll be able to find your prediction key and resource ID
#please-close

[2019-10-29 17:38] #38647 closed

[2019-10-29 17:40] rhires commented on #41589
Thanks!

[2019-10-29 17:40] #41589 closed

[2019-10-29 17:42] msrini-MSFT commented on #41670
@ivanignatiev , By default, when you create a Service endpoint to a service, you don't need to explicitly create any NSG rule to connect to the service. It is covered as part of Virtual Network tag.

[2019-10-29 17:43] PatrickFarley commented on #38959
@scottcher , thanks for catching that, I'm fixing this issue now in all of the docs where it appears
#please-close

[2019-10-29 17:43] #38959 closed

[2019-10-29 17:46] MicahMcKittrick-MSFT commented on #41526
I will close this but if you have further questions let me know and we can always reopen and continue the discussion.

[2019-10-29 17:46] #41526 closed

[2019-10-29 17:47] MicahMcKittrick-MSFT commented on #41317
@JohnGalt1717 I am assigning this to the content author to drive further.

[2019-10-29 17:48] MicahMcKittrick-MSFT commented on #41476
@Herr-Sepp assigning this to the content author to look into further.

[2019-10-29 17:49] jakelumetta commented on #41601
@Mike-Ubezzi-MSFT Yeah open to your thoughts on best place for this. Butter is an API-based CMS so it can be integrated into any modern tech stack. Developers query our Content JSON API to pull content into their application. So the angle for this tutorial would be showing a sample application, likely a CMS powered marketing site or ecommerce use case, built on .NET, Node, etc running on Azure. I

[2019-10-29 17:50] FrankHu-MSFT commented on #41650
@AndreiDita Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-29 17:50] FrankHu-MSFT commented on #41657
@nb-ofs Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-29 17:50] FrankHu-MSFT commented on #41681
@NenoLoje Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-29 17:50] FrankHu-MSFT commented on #41685
@marckassay Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-29 17:55] mumian commented on #41685
@marckassay - thank you for your comment.  You can use either -UserPrincipalName or -DisplayName.  Depending on the parameter, you provide different values.  The prompt message is "Enter your email address used to sign in to Azure", thus -UserPrincipalName is used. The goal is to get the user ID.  See example 3 in  https://docs.microsoft.com/powershell/module/az.resources/get-azaduser?view=azps-2.

[2019-10-29 17:59] NavtejSaini-MSFT commented on #41676
@realolap We are checking this with our doc author and will get back to you.
@markjbrown Please check the user feedback and make changes to document if needed,

[2019-10-29 18:00] mgfink commented on #16691
Not speaking for @owingruters, I would personally like an update on either.  At a minimum I'd like to get confirmation that TM + client cert auth in an App Service remain an unsupportable combination for the time being.  Assuming that's the case, is there another thread we could monitor for progress?

Thanks for your help!

[2019-10-29 18:08] msrini-MSFT commented on #41669
@alainvanhoof , I tried this command in Azure CloudShell and works fine.

If it is not working for you, try to run the below command and restart the shell:

Install-Module -Name PackageManagement -Repository PSGallery -Force
Install-Module -Name PowerShellGet -Repository PSGallery -Force

[2019-10-29 18:10] cacizi41 opened #41690 "Azure Data Factory diagnostic log doesn't pick up custom parameters or annotations that are visible through ADF UI"
For monitoring purpose, I'm trying to group pipeline and activity runs together by setting up annotations and creating CorrelationId parameters. I can see the custom value I passed in through the ADF UI, but in Azure Monitor log queries, these two fields have either empty or default value.

In current state, is it supported to pass in custom or override existing value in diagnostic log?

---
####