[2018-08-15 00:41] sergioeliot2039 commented on #6327
Ok Dillon, thank you, I opened a separate feedback.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Dillon Brown <notifications@github.com>
Sent: Tuesday, August 14, 2018 6:17:09 PM
To: MicrosoftDocs/azure-docs
Cc: sergioeliot2039; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Japanese translation error (#6327)

@sergioeliot2

[2018-08-15 00:48] ylashin opened #13418 "ggplot2 is not preinstalled by default"
As of 2018-08-15, ggplot2 is not pre-installed on CentOS VM image. It has to be installed first using `install.packages("ggplot2")` and then could be used. It's a tiny thing but just to mention it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b50cbe1-2295-0b76-2b09-15395b969151
* Version Independent ID: 2ba93dae-de6

[2018-08-15 00:51] MohitGargMSFT commented on #13350
@Captainlonate Thanks for reporting. I was getting the same error using the document steps. I made below modifications in my local solution -
1. Added `redirectUrl: config.creds.returnURL,` in `new OIDCStrategy`
2. Added `allowHttpForRedirectUrl: true,` in `new OIDCStrategy`
3. Modified Step1.8 , to add reply URL in Azure Portal to http://localhost:3000/

Once, I did above change the solution in m

[2018-08-15 00:54] MohitGargMSFT commented on #13237
@xocolatl-aficionado I made below modifications in my local solution -

Added redirectUrl: config.creds.returnURL, in new OIDCStrategy
Added allowHttpForRedirectUrl: true, in new OIDCStrategy
Modified Step1.8 , to add reply URL in Azure Portal to http://localhost:3000/

Once, I did above change the solution in my local. I am able to run solution and login but it gives me Cannot Post/

![s1](https:

[2018-08-15 00:58] JasonWHowell commented on #12864
@sqlshep Thanks for the feedback. Looks like the Database and Schema drop downs are gone in the 2.3.4000.3 build. I've updated a couple of the screenshots to reflect that, and included the two **Use** statements in the sample script. I expect the update may publish on 8/15/2018.
Thanks, Jason

[2018-08-15 01:00] MohitGargMSFT commented on #13361
@Yvand Please open a new MSDN forum post and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required

Once you open MSDN forum post please post the thread URL here and I will make sure you are been helped on your scenario thr

[2018-08-15 01:01] vsathiamoo opened #13419 "Wildcard support"
Hi, the article mentions that "For Restrict-Access-To-Tenants, a value of <permitted tenant list>, which is a comma-separated list of tenants you want to allow users to access.". It does not say if we can use wildcards. For example, to allow access to all tenants ending with *.company domain name, can I specify *.company in "Restrict-Access-To-Tenants"?

---
#### Document Details

⚠ *Do not edit t

[2018-08-15 01:03] MohitGargMSFT commented on #13370
@gtimread Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-08-15 01:12] MohitGargMSFT commented on #13375
@bozford Please help with more clarification on your feedback. Are you referring to this - [Install Azure AD Connect using SQL delegated administrator permissions](https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-sql-delegation)?

[2018-08-15 01:30] Alberto-Vega-MSFT commented on #13242
@LisandroSu We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-15 01:30] #13242 closed

[2018-08-15 01:53] alexjs opened #13420 "Typo on https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-os-patching"
&gt; For specific steps on using the script action, see the following sections in the Customize Linuz-based HDInsight clusters using script action:

Should be

&gt; For specific steps on using the script action, see the following sections in the Customize Linux-based HDInsight clusters using script action:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2018-08-15 01:56] alexjs commented on #13420
Corrected in https://github.com/MicrosoftDocs/azure-docs/pull/13421

[2018-08-15 02:02] tabeth commented on #10959
Any idea on how to get the zone name from the web interface?

[2018-08-15 02:03] BryanTrach-MSFT commented on #13405
@twoqubits Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-15 02:05] BryanTrach-MSFT commented on #13411
@Ayanmullick Thank you for the feedback. Windows Containers just launced in public preview last week. This means we are still working on developing the documentation for the product so that when the product becomes Globally Available (GA), there is supporting documentation.

We have assigned your doc idea to the doc author to have them furhter determine if action is required.

[2018-08-15 02:14] Vincent0818 opened #13422 "Cert replacement cause down time on appgw?"
Hey.
i was referring to below link to understand if the exact behavior while replacing cert for all 3 listeners. as all of them are sharing same Cert. the doc just mentioned how to replace cert not involving any consequence. duration...etc. is there anyway to publish more information on official to help customer to foresee these bad consequence?
https://strangeadventures.in/azure-replacing-ssl-cer

[2018-08-15 02:55] tsullyman commented on #12816
Hi @femsulu @JimmyLS and @MarkusVi it's not stated in the article if you can do the Azure AD Join however without using ADFS or any federation. Can this be done the same without federation, simply using Azure AD Connect Pass Through Authentication?

[2018-08-15 03:28] cnmaro commented on #11034
Can't we go go step by step? Download the whole sample code then what? Why not starting from ASP.NET Core Web App (Razor/MVC) template hosted by localhost? If you particularly zipped and uploaded the project, you should mention the difference from the project template. Most ASP.NET newbies would create a local project, run it on their local machines, and then upload it to Azure.

[2018-08-15 03:43] lydia-gu opened #13423 "Some V2 samples are wrong"
In the "Getting insights in V2:" part, the url is wrong.
[code]
The correct URL should be:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 951e8687-a4b7-1a2a-c600-2f0a0a14713e
* Version Independent ID: a957a25a-4686-8354-5473-5cd8eab02beb
* Content: [Migrate from Azure Video Indexer API v1 to v2](https://docs.mi

[2018-08-15 03:52] ashishmundrajll commented on #10261
We want to set blobName with path so that it lands up in a hierarchy fashion. E.g. blobName should be /project/japan/project_id/filename.jpg

But when we set file parameter as /project/japan/project_id/filename.jpg in Javascript library, it gives 404.

Please advise.

[2018-08-15 04:02] altwohill opened #13424 "The link to enabling Modern Authentication on the tenant is broken"
https://aka.ms/modernauthga doesn't go anywhere

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d9cfb97-d0f3-3cc1-a460-ff4e05530b92
* Version Independent ID: 3db82b30-1d14-1613-e473-13310e855ab2
* Content: [Azure AD Connect: Seamless Single Sign-On - quick start](https://docs.microsoft.com/en-nz/azure/active-directory/

[2018-08-15 05:03] msvijayn commented on #13239
As stated in ref #[5695 ](https://github.com/MicrosoftDocs/azure-docs/issues/5695)and in docs, the Customize Action is available only for Log Alerts. And it works as described; I can confirm the same.

![image](https://user-images.githubusercontent.com/33087919/44132330-8d099dd4-a076-11e8-8410-e03d559d2946.png)

[2018-08-15 05:12] TravisCragg-MSFT commented on #13393
@theangellmethod Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-15 05:12] TravisCragg-MSFT commented on #13397
@theangellmethod Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-15 05:14] TravisCragg-MSFT commented on #13400
@johndo88 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-15 05:32] SaurabhSharma-MSFT commented on #13424
@altwohill Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-15 06:00] genlin commented on #13380
@mike-urnun-msft This issue is related to zh-cn version. I cannot change the zh-cn version.

[2018-08-15 06:08] cnmaro opened #13425 "Why the download?"
Can't we go go step by step? Download the whole sample code then what? Why not starting from ASP.NET Core Web App (Razor/MVC) template hosted by localhost? If you particularly zipped and uploaded the project, you should mention the difference from the project template. Most ASP.NET newbies would create a local project, run it on their local machines, and then upload it to Azure.

---
#### Document

[2018-08-15 06:09] lafe commented on #13317
@SnehaGunda Unfortunately that does not work, because the examples shown use synchronous commands (e.g. `Execute`) whereas the `Microsoft.WindowsAzure.Storage.Table` based APIs only offer asynchronous commands (e.g. `ExecuteAsync`).
If you are familiar with C# development, it is feasible to adapt the examples based on the APIs available, but that is a difficult task for beginners and annoying for

[2018-08-15 06:11] MotoManCan opened #13426 "Allowed in Gov Cloud?"
After getting the popup stating the encryption would take 10-15 minutes I received the following error. I'm curious if this is not enabled in the Gov Cloud yet?

Set-AzureRmVMDiskEncryptionExtension : Extension with publisher 'Microsoft.Azure.Security', type 'AzureDiskEncryption', and type handler version '2.2' could not be found in the extension repository.
ErrorCode: ArtifactNotFound
ErrorMessag

[2018-08-15 06:59] lalitprasad opened #13427 "Routing preference info"
Is the priority of route types is User-Defined route, BGP route & System route as mentioned in the doc? But I see in #5404 closed issue it was mentioned the priority order should be updated as User-Defined route, VNet Peering, BGP route & System route. Does VNet peering be considered as one of the priorities?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2018-08-15 07:08] linda33wj commented on #13073
@djpirra currently for all the columns configured on sink dataset, you need to map all of them in copy activity column mapping.  So if you only want to map partial, delete such column from the sink dataset. And, if you use Copy Data Tool wizard for authoring, ADF will handle this automatically for you, to remove the un-mapped columns from the generated config.

[2018-08-15 07:17] borys86 opened #13428 "refresh data for published report"
Hi there.
How to refresh data of a published report?
An example: I made a report, published it. Cosmos Db is constantly updated.
In a while new data is added to Cosmos db. How automatically update the report so anyone can access latest data?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db43c478-6301-7b69-131a-c428979

[2018-08-15 07:34] lukasvan3l opened #13429 "Linking custom domain restarts the app service"
When I link a custom domain to my running application, it seems like it's rebooted. This is worth noting in the documentation. I would have liked to know up front :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 224b73dd-c59d-a833-0d4d-a778af6086a9
* Version Independent ID: c6b167c9-9589-45d0-ee6a-7a47a4aec41e
* Conte

[2018-08-15 07:39] Alienroid opened #13430 "This sample needs paid service?"
only paid service has SSL support. Since identity is sensitive, probably should mention somewhere as best practices.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32cea1c1-63e6-f332-419a-03ebdfb61bad
* Version Independent ID: 27404347-a7e3-08a3-5845-ed54f66b0483
* Content: [Tutorial for authenticating Azure SignalR Se

[2018-08-15 07:48] dabdirb opened #13431 "There's no any "Generate API Key" button at this page"
There's no any "Generate API Key" button at this page :(
I create the subscription by  "connect existing subscription" to connect a azure cognitive service

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73fb7e76-fb80-c420-2efe-e3ca3a27b749
* Version Independent ID: 07a42557-deb3-e4b3-3f14-f26a27be49c2
* Content: [Azure

[2018-08-15 07:50] YutongTie-MSFT commented on #13418
@ylashin
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-15 07:52] YutongTie-MSFT commented on #13423
@lydia-gu
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-15 07:54] YutongTie-MSFT commented on #13205
@v-jerkin Hi, do you have any idea about that? Thanks.

[2018-08-15 08:11] mchudinov opened #13432 "Redirect URI is wrong documented under Create the ProxyIdentityExperienceFramework application"
Redirect URI is wrong documented under Create the ProxyIdentityExperienceFramework application section.

Select App registrations.
Select New application registration.
For Name, use ProxyIdentityExperienceFramework.
For Application type, use **Native**.
For Redirect URI, use **https**://login.microsoftonline.com/yourtenant.onmicrosoft.com, where yourtenant is your Azure AD B2C tenant.

Redirect UR

[2018-08-15 08:45] aklefdal opened #13433 "Is every 30 seconds possible"
It is not clear from the documentation whether a cron expression like `*/30 * * * * *` (execute every 30 seconds) is something that is supported in the product or not. Could you please elaborate on this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5527c3b-a5da-c73d-66c2-20d96003ff7c
* Version Independent ID: 42154c

[2018-08-15 09:21] ericbl opened #13434 "Typo + how to disable Soft Delete?"
We just tested the soft delete feature in our Enterprise Subscription in WestEurope
Both scenarios are working fine : we could recover a test vault and secrets after deleting them on the portal. This is exactly what we want to protect against: a team member doing mistake on the portal :)

2 remarks:
Get-AzureRmKeyVault -InRemovedStateVault
does not work, it should be simply
Get-AzureRmKeyVault -In

[2018-08-15 09:45] rayne-wiselman commented on #13033
@ryanrclark From this article - https://docs.microsoft.com/en-us/azure/site-recovery/hyper-v-azure-troubleshoot#critical-replication-state-issues

If a VM on a Hyper-V host configured in Site Recovery migrates to a different Hyper-V host in the same cluster, or to a standalone machine, replication for the VM isn't impacted. Just check that the new Hyper-V host meets all prerequisites, and is confi

[2018-08-15 09:55] nnamedieh opened #13435 "Executing policy template failed"
Hi all,
just for testing, I wanted to execute the following policy definition described in this doc -&gt;

{
   "policyRule": {
       "if": {
           "allOf": [{
                   "field": "type",
                   "equals": "Microsoft.Compute/virtualMachines"
               },
               {
                   "field": "Microsoft.Compute/virtualMachines/sku.name",
                   "like

[2018-08-15 10:01] nils-a commented on #11744
@mike-urnun-msft Sorry - I don't get it.
The documentation is about "configuring [...] Microsoft Account login".
When you look at the (modified) screenshot below:

![image](https://user-images.githubusercontent.com/349188/44142953-2e701530-a082-11e8-8f00-d943a051b613.png)

while everything in red is explaind (or at least "used") in the article, the green part is missing completely from the documen

[2018-08-15 10:20] git001 opened #13436 "oadm depricated"
The command `oadm ...` will be deprecated in future versions of openshift.
The supported command is now `oc adm ...`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6287c41-d51f-e744-4bb2-5a2f8dd818e7
* Version Independent ID: 5df00963-19bd-e6f3-0f0e-74a483d207a5
* Content: [OpenShift on Azure post-deployment tasks](ht

[2018-08-15 10:21] smoms opened #13437 "Network types availability"
Am i correct that IoT Edge is only available to IP-based networks?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef994221-bfeb-9aa0-4ee1-5a264b4d921f
* Version Independent ID: 51f776a0-4460-90d8-80de-5c444ca0adff
* Content: [What is Azure IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/about-iot-edge)
* Cont

[2018-08-15 10:29] MSSedusch commented on #13347
I found a bug in the Azure PowerShell SDK. I am working on a fix as we speak

[2018-08-15 10:34] anwather commented on #13435
This is example is for use in the Azure Portal - the JSON is invalid when using this as input for PowerShell. Check out the example at https://docs.microsoft.com/en-au/azure/azure-policy/policy-insights for valid JSON

[2018-08-15 10:36] nnamedieh commented on #13435
Ah, didn't know! Thank you :)

[2018-08-15 10:39] RattleSnakeSkin commented on #13265
Excellent, Thank you,  Bruce B.

On Tue, Aug 14, 2018 at 8:15 AM Anandlal <notifications@github.com> wrote:

[2018-08-15 11:34] agordeev opened #13438 "refresh_token is not provided"
I'm doing this token request:
URL: https://login.microsoftonline.com/common/oauth2/v2.0/token
HTTPBody: code=M74fae8dc-7c8d-6d2d-8a36-085739a310f3&code_verifier=EvvnJGRZ-TtssDJfECbh6DkFN98Xem6vtz6k3KciJ-U&redirect_uri=dawn://oauth2/callback&client_id=4282106e-a882-4e82-8d98-2f2c3f308a2d&grant_type=authorization_code

However all I got is:

"access_token" = "token goes here...";
    "expires_in" =

[2018-08-15 11:38] fikusir opened #13439 "Hybrid Azure Active Directory joined devices has no owners"
Hello,

I just implemented Hybrid Azure Active Directory + Device writeback. I see device to which I applied GPO for registration in Azure AD.

The problem is that this Compure in Azure AD has no owner (I need it to use our Windows E3 subscribtion activation).

Users logon name is their email address which is the same as for login into tenant.

Can you help me what I missed?

Thank you, Michal

[2018-08-15 11:45] girishgouda opened #13440 "Vm extension says "Connected to another account""
https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/dsc-template

The VM is not getting onboarded to DSC automation account with the following configuration.Rin the below configuration along with VM creation script

The DSC extension specified is
 {
        "type": "Microsoft.Compute/virtualMachines/extensions",
        "name": "[concat(variables('vmName'),'/Microsoft.Powershell.DSC

[2018-08-15 11:46] agordeev commented on #13438
I want to use Outlook API btw as described here: https://docs.microsoft.com/en-us/outlook/rest/get-started
That documentation doesn't even mention `refresh_token`. How to refresh the token then?

[2018-08-15 11:50] winterTTr commented on #11893
@hukun01 do you resolve your problem? In fact I see the same issue, which everything seems to be correct, but the  arm still report the certificate is not found. Any suggestion?

[2018-08-15 11:51] agordeev commented on #13438
For a very weird reason I only get `refresh_token` when I specify `offline_access` scope. Is this documented somewhere?

[2018-08-15 12:03] infracast-operations commented on #9835
any update on the case sensitivity issue?

[2018-08-15 12:08] codeevaluator opened #13441 "Please don't update information without updating the date"
Hi,

I've seen this happening several times on MS documentation.
Someone at MS edits the documentation but the date stays the same.
This has happened again.
New information regarding VPN settings has been added for 1807 but the documentation date is still "06/12/2018" at the top.
As a customer I should not have to read every word to try to find updates.
A quick look at the date should be enough to

[2018-08-15 12:12] ryanrclark commented on #13033
Rayne,
Thanks for clarifying all of this. I tested this and it works correctly as you stated.

Ryan Clark, MCP
Network Engineer

[cid:ComTec_20YrLogo_90f5aaf6-7cc3-466f-8780-7e52fc353e4c.jpg]<http://www.comtecsolutions.com>

Tel: 585.621.9303 Ext. 206
Fax: 585.621.6214
Cell: 585.683.7554
rclark@comtecsolutions.com
www.comtecsolutions.com<http://www.comtecsolutions.com>
[cid:Facebook_2119b04c-e0fb-

[2018-08-15 12:29] MedAnd commented on #12977
@MicahMcKittrick-MSFT - cannot really share the complete code here but maybe I can clarify somewhat my original question.

Within ITransaction (A) MoveNextAsync is called, and the enumerator.Current.Value object (O), is passed in async manner to another method in the same process (potentially on a different or same thread via TPL) which creates a NEW instance of ITransaction (B).

As per your docs

[2018-08-15 12:38] andyce1010 commented on #13287
Ok thanks, I'll do that.

Just to clarify, are you saying that a firewall rule should be required, even when the "enabled access from azure services" option is enabled?

If that's the case, then is the information note I quoted above wrong?

[2018-08-15 12:41] Drony77 opened #13442 "Switch to another storage account"
Could you please advise how can I switch Linux Diagnostic extension to another storage account with PS ?
Supplying account name and credentials to Public and Private configs and then Set-AzureRmVMExtension with them seems not to be working - account remains the same. Though configuration obtained with Get-AzureRmVMExtension after change contains new storage account values.

---
#### Document Detai

[2018-08-15 12:54] dgorocho-quest opened #13443 "Triggered log alert reports to PagerDuty without title"
I have alert defined to use action group which has webhook to PagerDuty.

When alert triggered I get incident in PagerDuty with title "No message included". **Same alert reporting to email contains title**. I tried to use custom Json payload for webhook but still get no title.

![image](https://user-images.githubusercontent.com/39267894/44148992-237c56f4-a0a3-11e8-823d-273c7e61cdfc.png)

[2018-08-15 12:59] jurjenoskam opened #13444 "Kubernetes service address range"
In the paragraph "Plan IP addressing for your cluster", there's a table with a row called "Kubernetes service address range". It states there that: "Service address CIDR must be smaller than /12." Does this mean that the amount of *network bits* should be smaller than /12 (so it must be, say, a /11 or /10), or does this mean the amount of available IP addresses must be smaller than /12 (so a /16 o

[2018-08-15 13:03] dgorocho-quest opened #13445 "Triggered log alert reports to PagerDuty without title"
I have log alert defined to use action group which has webhook to PagerDuty.

When alert triggered I get incident in PagerDuty with title "No message included". Same alert reporting to email contains title. I tried to use custom Json payload for webhook but still get no title.

![image](https://user-images.githubusercontent.com/39267894/44149463-da8cbcc0-a0a4-11e8-8069-4ca956d3448d.png)

---
####

[2018-08-15 13:06] #13443 closed

[2018-08-15 13:07] dgorocho-quest commented on #13443
duplicate
https://github.com/MicrosoftDocs/azure-docs/issues/13445

[2018-08-15 13:11] #12516 closed

[2018-08-15 13:15] bozford commented on #13375
I’m happy to.  Hopefully this helps for the next person:

I’m referring specifically to the Acive Directory Delegations, though the same may apply for SQL as well (I haven’t looked).  It also appears that the document doesn’t have a full accounting of all the delegations that are created during an express install.  See here for what someone else put together after they ran through the process:  ht

[2018-08-15 13:28] MSSedusch commented on #13347
Fix is submitted
https://github.com/Azure/azure-powershell/pull/6939

[2018-08-15 13:30] MSSedusch commented on #13347
We are also aware of another issue. The extension is currently not available in Azure China. We are working  on a fix for that issue as well

[2018-08-15 13:33] Drony77 commented on #13442
Also, if you try to change storage account in Diagnostics Settings on Azure portal, this error appears:
Failed to update diagnostics settings for <VMName>. Changing property 'publisher' is not allowed.

[2018-08-15 13:48] Lysemose commented on #12472
I don't see the option to use phone sign-in from www.office.com with Azure AD but I do have it for my personal Microsoft account. Isn't the option fully GA yet?

[2018-08-15 13:49] letmaik opened #13446 "Add example on how to install NVIDIA Tesla drivers in a Windows pool"
Currently there is only an example for Linux. The equivalent for Windows would be useful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29f11c3e-b675-e959-2fef-c6518aff768b
* Version Independent ID: ba5a4c7f-2341-d096-3212-9451c4a43a42
* Content: [Use compute-intensive Azure VMs with Batch](https://docs.microsoft.com/

[2018-08-15 13:51] amel00 commented on #13370
Is there a way to assign administrative roles, such as GA or User admins to a synced security group

[2018-08-15 14:06] benc-uk opened #13447 "Could do with an update...."
Should Cloud Services even still be on here? I wouldn't want customers to think it's still a viable choice in 2018. Also there's no mention of containers, where is AKS and ACI?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02a4abb1-48c0-178e-a37e-290034b4dcae
* Version Independent ID: 61da6a8b-fa37-a499-ba79-0dd6b5346

[2018-08-15 14:14] johnsivertsen opened #13448 "tran keyword"
The following create user statement is not the best example to give:
```CREATE USER Tran WITH PASSWORD = '<strong_password>';```
This due to "tran" being a reserved keyword in SQL Server.
Executing the statement against Azure SQL Server gives the following error:
```Incorrect syntax near the keyword 'tran'.```

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2018-08-15 14:25] misterspeedy opened #13449 "Missing step?"
I think there is a step missing for classic cloud services:
- Unload the cloud service project
- Edit the cloud service project (.ccproj) file
- Change the TargetFrameworkVersion, e.g.
    &lt;TargetFrameworkVersion&gt;v4.7.1&lt;/TargetFrameworkVersion&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f082a39c-4081-f5

[2018-08-15 14:28] misterspeedy opened #13450 "Failed deployment"
After following these steps, we got a 'failed deployment' as far as Visual Studio was concerned:

14:58:20 - Instance 0 of role OurService is busy
	Details: Recovering role... Application startup task "E:\approot\install.cmd"  failed with exit code 3010. [2018-08-15T13:57:51Z] Last exit time: [2018/08/15, 13:57:51.996]. Last exit code: -2147467259. Last startup task error: name - "E:\approot\insta

[2018-08-15 14:30] GuyHarwood opened #13451 "local.settings.json to override input binding"
is it possible to override input bindings declared in function.json with values from local.settings.json?

as i would like to override the queue input binding via local.settings.json for local development, without modifying function.json and accidentally checking in changes to that file.

i have tried this locally without success, it just looks for a queue with the key of the item in local.setting

[2018-08-15 14:30] dionjr opened #13452 "Invalid IP Address in Step 3 - 10.0.0.0.254"
It's likely that the intent of Step 3 (below) was to have two sets of zeros (0.0.) instead of 3 (0.0.0).

--
3.	Azure added this route when a user-defined route for the 10.0.0.0/24 address prefix was associated to the Subnet1 subnet. Traffic destined for addresses between 10.0.0.1 and 10.0.0.0.254 remains within the subnet

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-08-15 14:37] Brenduns commented on #13441
@codeevaluator    Your correct.  When technical details change, the date is expected to be advanced.  However, we do not expect the date to be revised when minor typos are corrected, or there is a change that does not impact the technical accuracy or details being provided.

It appears that two days ago, a revision to the Perfect Forward Secrecy (PFS) details in the **IKE Phase 2 (Quick Mode) para

[2018-08-15 14:37] sergaz-msft commented on #13188
Helo @lemmalogic your question falls out of the topic and [document ](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-mqtt-support#using-the-mqtt-protocol-directly )of this initial issue. Please open a new issue so that we can look at your question related with Remote Monitoring. Some Hints:

To customize Remote Monitoring UI please read this doc: https://docs.microsoft.com/en-us/azure/iot-

[2018-08-15 14:39] sergaz-msft commented on #13265
@RattleSnakeSkin I believe your issue was solved with the suggestion from @anandlalvb .

For that reason, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-15 14:39] #13265 closed

[2018-08-15 14:41] sergaz-msft commented on #13272
Hello @darenm coming back to check if you had the opportunity to check my question above? Thanks.

Thank you!

[2018-08-15 14:41] YutongTie-MSFT commented on #13431
@dabdirb
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-15 14:44] Brenduns commented on #13441
#in-progress

[2018-08-15 14:44] Brenduns commented on #13441
#please-close
The Fix for this articles date has been submitted and should be reflected later today on published content.

[2018-08-15 14:45] sergaz-msft commented on #13377
@MaWa19 can you please [follow the instructions from here](https://github.com/Azure/azure-iot-sdk-c/blob/master/tools/CACertificates/CACertificateOverview.md) and let us know if you were successfull? Thank you.

[2018-08-15 14:55] alenat10 commented on #10322
why not add an "Allow" rule with higher priority and "Block 0.0.0.0/0" with lower priority? Won't it work?

[2018-08-15 14:57] Strozak opened #13453 "Client ID in token request"
In this article it makes a request to get a token from the MSI endpoint and does specify a client id, which is a key point that is not really called out.  In another article it talks about the client id parameter being required if multiple user assigned identities are assigned to a VM, but doesn't note that the request doesn't work even if there is only one user assigned identity, unless the clien

[2018-08-15 15:01] dasch88 commented on #13239
Thanks for the clarification. I have to admit I was quite confused. I
thought it was for the new alerts but not the classic (both of which I
thought could create alerts based on log entries). I'm having trouble
following how to create a simple "Log Alert" rather than and "Activity
Alert" and how to even make a "Log Alert" when it seems like Alerts can run
against logs anyway. I'm ok with closing i

[2018-08-15 15:04] ljmack00 opened #13454 "Clarity on Use Case of Managed Instance"
Hi All

I am wanting some clarity on when to use managed instances and when to use elastic pools. It seems very unclear.
For example if I am designing a new system which connects to multiple other systems, I want to have multiple databases on PaaS. Why would I not use managed Instance instead of elastic pools. It seems like more features are within the managed instance route. Some one has mentione

[2018-08-15 15:05] zhattingh commented on #13094
Hi there, do you know if this has been sorted out? As we are having the exact same issue. Devices are not Azure Joined but only states Hybrid Azure AD joined. So as Furena mentioned, this doesnt help with conditional access....

[2018-08-15 15:13] zhusulai opened #13455 "Typo"
It should be persistent instead of persistant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed330edc-c3ab-d053-faad-4dc5da373b48
* Version Independent ID: 625ab8a7-8379-0a1c-c633-fa7bf80f161e
* Content: [Introduction to Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/intro-kubernetes#flexible-dep

[2018-08-15 15:13] sergaz-msft commented on #13437
@smoms thank you for your feedback. In order to connect to Azure IoT Hub, IotEdge needs an IP-based network. IoT Edge can interact with other devices using different protocols (ZWave, OPC, Modbus, BLE, etc...) with custom modules that can be developed in any language (C#, Python, C, Node, Java).

Please go through the following documentation for more clarity and let us know if you have further que

[2018-08-15 15:16] #13441 closed

[2018-08-15 15:25] albertodepena commented on #6500
@MicahMcKittrick-MSFT

I was trying something similar to this.... I was able to poc doing some CRUD operations from python app that requests files from azure storage using MSI (works great!). I need to prove out the same but having that python app within docker container. I tried @RajeetN approach for the ip routing but no luck. I always get the error about trying to connect to 169.254.169.254. We

[2018-08-15 15:26] MladjoA commented on #10694
Document updated, will be published later today. Thanks @mikerodionov for the feedback.

[2018-08-15 15:36] Mike-Ubezzi-MSFT commented on #13448
@johnsivertsen Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-15 15:37] CarlRabeler commented on #13448
fixed - thanks

[2018-08-15 15:46] CarlRabeler commented on #13287
@andyce1010 To the best of my knowledge, the information note is correct and a firewall rule is not required from an Azure resource to another Azure resource

[2018-08-15 15:50] kjakah08 opened #13456 "Incorrect documentation"
You need to update this document. To auto-scale the nodes, the correct can be located: https://docs.microsoft.com/en-us/azure/data-factory/transform-data-using-dotnet-custom-activity#auto-scaling-of-azure-batch

noting $TargetDedicated while this document incorrectly states TargetDedicatedNodes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-08-15 15:54] adpick commented on #13170
Hi Linda,

This isn't a sample JSON response of a REST API call, but rather an example of the contents of a file downloaded through UX. Accordingly there is no equivalent PowerShell command.

-Adam

[2018-08-15 16:06] hukun01 commented on #11893
@winterTTr No, we had the same issue.
@MicahMcKittrick-MSFT Could you consider reopening this issue as we didn't get a response from internal?

[2018-08-15 16:06] conceptdev commented on #10096
We have no plans to add Xamarin.Forms docs for Notification Center. Because Xamarin exposes the native platform APIs, any examples available for iOS or Android would be applicable to Xamarin, just modified to C#. In this case, perhaps the `UpdateRegistrationAsync` method in [Windows Step 15](https://docs.microsoft.com/azure/notification-hubs/notification-hubs-aspnet-backend-windows-dotnet-wns-noti

[2018-08-15 16:28] Alberto-Vega-MSFT commented on #13419
@vsathiamoo  Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-15 16:30] msilinda commented on #13170
@adpick Thank you for the clarification. Then I might suggest when there is no PowerShell equivalent that Microsoft state that at the bottom of the article so we know. Thank you for responding, it's appreciated!

[2018-08-15 16:41] adpick commented on #13170
No problem! Thanks again for engaging!

[2018-08-15 16:45] elongman commented on #12093
As of 11:43am (CDT) 8/15/2018, there is still no option on the drop-down in Microsoft Authenticator to "Enable phone log-in." The only options displayed are "Copy Code" and "Hide Code".  This is in v5.9.12 of Microsoft Authenticator on iOS; no updates are available in the App Store.

[2018-08-15 16:45] alkohli commented on #12849
#in-progress

[2018-08-15 16:46] mike-urnun-msft commented on #13352
@lyrana Just following up here again - do you have a link to the documentation this feedback should belong to?

[2018-08-15 16:47] francischeung opened #13457 "Incomplete support for retry"
This article identifies just storage queue and blob storage bindings as supporting retry. My team has confirmed that Service Bus triggers also support retry. It would be helpful to have a complete list of which bindings support retry and which don't.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da28e92f-8a1e-9937-454

[2018-08-15 16:48] lyrana commented on #13352
Sorry for the delay, this is the link
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-import

On Wed, Aug 15, 2018 at 9:46 AM, Mike Urnun <notifications@github.com>
wrote:

[2018-08-15 16:48] #12517 closed

[2018-08-15 16:49] MicahMcKittrick-MSFT commented on #13433
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-15 16:50] #13316 closed

[2018-08-15 16:51] MicahMcKittrick-MSFT commented on #13436
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-15 16:51] MaWa19 commented on #13377
@sergaz-msft Thanks for your quick reply. Unfortunately the linked instructions didn't solve the problem. In fact, I did the proof of ownership already while trying to solve this issue. Are there any debug files I could inspect to see where the error is coming from?

[2018-08-15 16:51] eross-msft commented on #12093
@elongman  Just for clarity, are you adding/editing the account as personal or work/school? The option to enable phone sign-in is only available for work or school accounts. You can also use the Authenticator app for personal accounts, but it's not through that link.

[2018-08-15 16:52] MicahMcKittrick-MSFT commented on #13442
Thanks for the question! We are investigating and will update you shortly.

[2018-08-15 16:52] MicahMcKittrick-MSFT commented on #13444
Thanks for the question! We are investigating and will update you shortly.

[2018-08-15 16:53] MicahMcKittrick-MSFT commented on #13446
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-15 16:54] MicahMcKittrick-MSFT commented on #13449
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-15 16:54] MicahMcKittrick-MSFT commented on #13450
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-15 16:55] MicahMcKittrick-MSFT commented on #13451
Thanks for the question! We are investigating and will update you shortly.

[2018-08-15 16:55] MicahMcKittrick-MSFT commented on #13455
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-15 16:56] Karishma-Tiwari-MSFT commented on #13456
@kjakah08 Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-15 16:57] MicahMcKittrick-MSFT commented on #13456
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-15 16:58] MicahMcKittrick-MSFT commented on #13457
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-15 16:58] elongman commented on #12093
So, I wound up here because this thread is listed at the bottom of this page: https://docs.microsoft.com/en-us/azure/active-directory/user-help/microsoft-authenticator-app-phone-signin-faq

There, it has a separate section with instructions to "**Turn on phone sign-in for your personal account**," which is what I'm trying to do. Those instructions indicate that there should be an option to turn "*

[2018-08-15 17:02] elongman commented on #12093
Looking deeper, though, I'm wondering if Bing sent me to a page that's not directly related to what I'm trying to do. Windows suggested that I should install the Microsoft Authenticator app to simplify the login process. So I did, but with no guidance on how to turn that on, I began searching to find more info and landed on the page referenced above. Studying the URL, I'm wondering if that's speci

[2018-08-15 17:09] eross-msft commented on #12093
Let me do a bit of research on this. I don't think the personal Microsoft account has anything to do with Azure when using the Authenticator app, but I want to make sure I'm not saying the wrong thing. I think it was a copy/paste error in the text, but again...let me double-check. As far as whether it's what you wanted to do...well, that's totally your call :)

[2018-08-15 17:25] TravisCragg-MSFT commented on #13413
@Ayanmullick you will always need to access your storage account through its public DNS name, or a custom name you assign. If you have a storage account firewall enabled, you can allow your on-premise public IP address to the storage firewall to allow access.

It is not possible to give your storage account a VNET level private IP address, and you will still need to use the usual endpoint for your

[2018-08-15 17:26] rolyon commented on #13120
@dcbrown16
We have a work item to investigate scrolling for long heading lists. I'll let you know when I learn more.
thanks

[2018-08-15 17:27] femsulu commented on #13239
@dasch88 thanks for the feedback. this will be incorporated into future articles. Thanks again.

[2018-08-15 17:27] #13239 closed

[2018-08-15 17:27] BryanTrach-MSFT commented on #13447
@benc-uk Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-15 17:29] BryanTrach-MSFT commented on #13430
@Alienroid Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-15 17:33] tamram commented on #13413
@Ayanmullick - Thanks for your feedback! And @TravisCragg-MSFT , thanks for your response.

#please-close

[2018-08-15 17:36] MicahMcKittrick-MSFT commented on #13443
Thanks for the update on this one @dgorocho-quest

[2018-08-15 17:37] BryanTrach-MSFT commented on #13429
@lukasvan3l We verified internally that your web app should not reboot when adding a custom domain. If this did occur, it would be unexpected. What makes you believe your web app was rebooted?

[2018-08-15 17:41] BryanTrach-MSFT commented on #13425
@cnmaro Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-15 17:42] MicahMcKittrick-MSFT commented on #13440
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-15 17:43] TravisCragg-MSFT commented on #13413
@Ayanmullick We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-15 17:43] #13413 closed

[2018-08-15 17:44] Alberto-Vega-MSFT commented on #13428
@borys86
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-15 17:44] bolzmj commented on #13305
@kfile @samisq @mappindrones This was a bug unfortunately and it has been fixed. Apologies.

[2018-08-15 17:44] MarileeTurscak-MSFT commented on #13426
Thanks for the question! We are looking into this and will get back to you shortly.

[2018-08-15 17:44] MicahMcKittrick-MSFT commented on #13396
@MikeChristensen thanks for that.

I will assign to the content author to review and see if we can make this more clear.

[2018-08-15 17:47] MarileeTurscak-MSFT commented on #13434
Thanks for the question! We are looking into this and will get back to you shortly.

[2018-08-15 17:50] cap273 opened #13459 "Next Hop Type "Virtual Network Gateway" is Confusing"
Under the section "Border Gateway Protocol", there is a sentence that reads " Connectivity with VPN connections is achieved using custom routes with a next hop type of VPN." However, in documentation regarding User-Defined Route tables, there is no mention of a next hop type "VPN", but rather, only next hop type "Virtual Network Gateway".

It's configuring that the next hop type is always listed a

[2018-08-15 17:51] MarileeTurscak-MSFT commented on #13453
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-08-15 17:52] YutongTie-MSFT commented on #13228
@wolfma61 Thanks for your response.

@tpmeredith We are closing the issue now, if you have further challenge, we are happy to reopen it.

[2018-08-15 17:52] #13228 closed

[2018-08-15 17:53] MarileeTurscak-MSFT commented on #13438
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-15 17:55] borys86 commented on #13428
I found this suggestion, to use Spark to push updates from Cosmos DB to the report via Spart but this is insane.
https://github.com/Azure/azure-cosmosdb-spark/wiki/Configuring-Power-BI-Direct-Query-to-Azure-Cosmos-DB-via-Apache-Spark-(HDI)

What I want is probably something like DirectQuery mode for SQL Server.

[2018-08-15 17:56] femsulu commented on #13170
sounds good @adpick. in the future please include #please-close as we have automation to detect this and take action.

[2018-08-15 17:56] #13170 closed

[2018-08-15 17:58] Alberto-Vega-MSFT commented on #13454
@ljmack00 Thanks for your your comment. Would you please provide me with a link to the document that this comment is referring to? Is there a specific doc that you read and needs more clarity. We use this information to evaluate and improve our docs.

[2018-08-15 18:00] kashimiz commented on #12943
@karthikeyanVK If you mean code review as in pull request, please do!

[2018-08-15 18:00] mike-urnun-msft commented on #13439
Hi @fikusir Thank you for your feedback! In order to ensure that your feedback is addressed by right team, could you link us the URL of the documentation this feedback is applicable to?

[2018-08-15 18:04] SnehaGunda commented on #13428
@borys86 report refresh is not yet supported by PowerBI.com when using Cosmos DB data source. The support should be enabled from the Power BI team it can't be added from Cosmos DB. I have seen couple of other users request for this functionality over the past months. Can you please vote or log a feature request in the Power BI user voice: https://ideas.powerbi.com/forums/265200-power-bi-ideas

[2018-08-15 18:04] mike-urnun-msft commented on #12289
@markmassad We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-15 18:04] #12289 closed

[2018-08-15 18:05] mike-urnun-msft commented on #11195
@bakerm00 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-15 18:05] #11195 closed

[2018-08-15 18:05] mike-urnun-msft commented on #10643
@mlwhite4 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-15 18:05] #10643 closed

[2018-08-15 18:05] mike-urnun-msft commented on #9663
@millh0use We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-15 18:05] #9663 closed

[2018-08-15 18:07] Ayanmullick commented on #13413
@TravisCragg-MSFT , If I'm mounting an Azure Storage account file share on an on-prem VM and have privately-peered Express route, is there any Azure-side configuration [BGP endpoints or UDR etc] that can send the traffic over the privately-peered Express route and not the internet.

[2018-08-15 18:10] jovanpop-msft commented on #13404
Thanks for the feedback @keithpatton I have added a note with a link to Point-to-site configuration.

[2018-08-15 18:10] alohaninja opened #13460 "Unable to search for Network Watcher in Azure Portal"
Very strange, but should be documented somewhere. This service can only be created in the portal by navigating to All Services &gt; Networking &gt; Network Watcher. You cannot find it by going to "Create a resource" and searching for "Network Watcher" - cost me 20 minutes of identifying the problem.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2018-08-15 18:10] femsulu commented on #13417
@sergioeliot2039 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-15 18:16] francischeung opened #13461 "Exceptions in Azure Function will still cause checkpoint"
This article states:
"If all function executions succeed without errors, checkpoints are added to the associated storage account."

If a function were to fail due to exception, a checkpoint is still added. The only time a checkpoint is not added is when the function does not complete execution.

Please see Jeff Hollan's post on the subject:
https://hackernoon.com/reliable-event-processing-in-azure

[2018-08-15 18:17] zuhairp commented on #12977
Would you be able to share simplified/pseudo-code so we can better understand what you're trying to do?
Our transactions are "Read Your Write," so within a transaction, you will read uncommitted changes made to the reliable collection within the same transaction. Again, changing an object that's already been saved to the reliable collection can lead to undefined behavior.

[2018-08-15 18:17] francischeung commented on #13457
Based on Jeff Hollan's [post](https://hackernoon.com/reliable-event-processing-in-azure-functions-37054dc2d0fc), Azure Functions with EventHubTrigger do not automatically retry.

[2018-08-15 18:18] Karishma-Tiwari-MSFT commented on #13433
@aklefdal Yes, It is supported in Azure functions to execute a timer triggered function every 30 seconds using the chron expression `*/30 * * * * *`

Thank you for the feedback. The document contains few sample examples. More examples can be added to make sure you get the best doc experience as a customer.
I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-15 18:26] v-jerkin commented on #13205
@rajawilliams You can use the _count=n_ parameter in the query, which sets the maximum number of results to _n_. Note that fewer results than requested might be returned (for example, if you request 50, but there are only 10 images matching the query, you'll only get 10 results).

More API details are available in the reference here: https://dev.cognitive.microsoft.com/docs/services/8336afba49a844

[2018-08-15 18:27] femsulu commented on #13435
Thanks for the response @anwather.
@nnamedieh we will now close this issue, please don't hesitate to ping if you have any followup questions.

[2018-08-15 18:29] #13435 closed

[2018-08-15 18:29] anubhav1984 opened #13462 "Zendesk for use on Microsoft Tenant"
How can I enable SSO for Zendesk on Microsoft tenant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16ae6014-a5f6-03f3-4ad4-4425cfe5b6ca
* Version Independent ID: 1d3d0543-89f7-180a-e52a-b5668a314e6a
* Content: [Tutorial: Azure Active Directory integration with Zendesk](https://docs.microsoft.com/en-us/azure/active-di

[2018-08-15 18:30] vhorne commented on #13422
Hi @Vincent0818

Our article on replacing certs does not call for a "rip and replace" for the listeners:

https://docs.microsoft.com/en-us/azure/application-gateway/renew-certificates

So I'm not sure what bad consequences you are referring to. Can you please elaborate?

[2018-08-15 18:32] alohaninja opened #13463 "Network Watcher only works for Virtual Machines, not App Services"
Should clarify that only Network Watcher is restricted to Azure VMs only - you can't install the extension on App Services yet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f66aa627-50af-2e6f-2151-b24105e4032b
* Version Independent ID: e7318342-f307-28c7-39cd-759a9d8e7368
* Content: [Create an Azure Network Watcher i

[2018-08-15 18:34] SnehaGunda commented on #13355
#sign-off

[2018-08-15 18:36] TravisCragg-MSFT commented on #13413
@Ayanmullick It is my understanding that there is not, you must access the storage account via it's public endpoint. @Adam-Smith-MSFT will be following up to verify.

[2018-08-15 18:38] kgremban commented on #13397
@theangellmethod I can see your point, but I don't think this is a high priority for the user experience in docs at the moment. I can add this to my backlog for updates to the documentation. Did you know that you also have the ability to edit any article on docs.microsoft.com? The **Edit** button on each page takes you to the GitHub web UI for quick edits. Any pull requests made from public contri

[2018-08-15 18:40] PengJLi opened #13464 "Does not work!"
-UseConnectedAccount does not exit in any azure.storage modules

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18dcb813-6d62-ea30-4a33-1e350c9380cd
* Version Independent ID: 9a7e40de-b31d-96e7-c272-99d51b822af8
* Content: [Run Azure CLI or PowerShell commands under an Azure AD identity to access Azure Storage (Preview)

[2018-08-15 18:41] kgremban commented on #13323
@theangellmethod I went through yesterday and added some images to the four custom code tutorials to aid VS Code navigation. These are live now. Take a look and close this issue if you think it's resolved, or let me know if there's something you think I didn't address.

[2018-08-15 18:41] femsulu commented on #13445
@dgorocho-quest Thanks for the feedback. We are actively investigating and will get back to you soon.
@msvijayn  , FYI.

[2018-08-15 18:42] kgremban commented on #13314
@theangellmethod I reworded the tip, and also moved it to be in the installation section instead of next to the first `iotedge` command that is performed after installation. Take a look and close this issue if you think it's resolved, or let me know if you think there's more to be addressed.

[2018-08-15 18:43] YutongTie-MSFT commented on #13423
@lydia-gu Hi, we have fixed it and you will see the change shortly. Thanks for your feedback!
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-15 18:43] #13423 closed

[2018-08-15 18:47] YutongTie-MSFT commented on #13418
@ylashin Thanks for your feedback, it's really a good tip.

@gopitk Hi, can you please check this feedback and update the document as necessary? Thanks a lot!

[2018-08-15 18:47] vasivara-MSFT commented on #13355
@dcbrown16 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-15 18:47] #13355 closed

[2018-08-15 18:48] avidiyal opened #13465 "error on subscribing to topic"
Hi,

  I tried running the command as is by create a storage queue and I got this error

The Microsoft.EventGrid resource provider is not registered in subscription . To resolve this, register the provider in the subscription and retry the operation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 282ef2a3-efcd-7e70-6ba

[2018-08-15 18:53] SnehaGunda commented on #13369
@bastyuchenko Data is encrypted at rest and on wire during transit. When you do a select query, you see the data in it's original format. If you are copying the data and storing it in another collection, then new collection will again have the encrypted data, so if the movement is between collections or cosmos db accounts, the data is encrypted. But if you copy the data to some CSV file on your di

[2018-08-15 18:59] TravisCragg-MSFT commented on #13459
@cap273 This scenario is [talked about in the User Defined Routing Overview Document](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-udr-overview):

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-15 18:59] #13459 closed

[2018-08-15 18:59] SnehaGunda commented on #13369
#please-close

[2018-08-15 19:08] osminm commented on #13149
This was closed but I don't see an answer to my original question..did I miss something?

[2018-08-15 19:12] tfitzmac commented on #13149
Sorry, I thought I had added a note. There is now a paragraph in the introduction that explains the user must have write access.

[2018-08-15 19:13] jimdial commented on #13459
#cap273 I did change _VPN_ in the article to _virtual network gateway_ (though, the name for this is slightly different depending on the tool you're using (see the table above the section you quoted). The change will publish later today. That is the hop type, but as Travis referenced in his comment, the gateway can only be a gateway of type _VPN_, not _ExpressRoute_.

[2018-08-15 19:16] ecfan commented on #13363
@mike-urnun-msft Mike, can you please to assign to @divyaswarnkar? She owns this area now. Thanks!

[2018-08-15 19:30] TravisCragg-MSFT commented on #13427
@lalitprasad This is made clear in a note below the routes:

[2018-08-15 19:35] Alberto-Vega-MSFT commented on #12638
@stevejmorgan @jrowlandjones
It seems like it is not being maintained anymore.  It is a simple tool that does some PCP commands and _it works, so it is still being used by customers_. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-15 19:35] #12638 closed

[2018-08-15 19:37] jimdial commented on #13452
@dionjr You are correct, thanks for catching. I've fixed the article. It will publish later today. #please-close

[2018-08-15 19:39] Alberto-Vega-MSFT commented on #13369
@bastyuchenko We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-15 19:39] #13369 closed

[2018-08-15 19:40] neligajb opened #13467 "Currency"
Would be nice to see some currency functions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03aa9e88-7fa0-56ab-f794-58f0c37b6d7a
* Version Independent ID: 25c5ef5c-6ba4-f5ff-f94b-8f2818ec2feb
* Content: [Functions reference for Workflow Definition Language - Azure Logic Apps](https://docs.microsoft.com/en-us/azure/log

[2018-08-15 19:44] Alberto-Vega-MSFT commented on #13404
@keithpatton We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-15 19:44] #13404 closed

[2018-08-15 19:45] jl-g opened #13468 "Azure CosmosDB Table Library for .NET docs should mention .NET Core is not supported yet"
When following this documentation, I ran into the same issue raised here:

https://github.com/Azure/azure-cosmosdb-dotnet/issues/533

According to that thread, it seems like the CosmosDB Table Library is not available for .NET Core, but I didn't see this mentioned in the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-08-15 19:58] DeanGross opened #13470 "Divide page into multiple pages"
This page is very long and it is hard to keep track of the content. It would be more readable if it was broken up into several pages. As a minimum, the Detataild Azure AD Permissions section belongs on another page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independen

[2018-08-15 20:00] alvipeo opened #13471 "I didn't get how to connect with Azure AD Group - is this even possible?"
I created Azure AD security group and added this group to Azure SQL Db. Then I created an Azure AD User and made it a member of that group. And If I connect to SQL Azure Db I get an error. This is not clear at all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d4a33b0-87d0-f60c-1b52-aeafa889e657
* Version Independent

[2018-08-15 20:01] TomArcher commented on #10150
@javiersoriano I contacted the engineers and they confirmed that the article's YAML is valid and works in their tests. Could you provide a list of step-by-step instructions (including copied and pasted commands) for the product group to test? Let me know if you want to continue trouble-shooting or if we should close the issue.

[2018-08-15 20:02] kamellemann opened #13472 "Use Azure Disk encryption for Windows Failover Cluster"
Hi,
we plan to implement a Windows Failover Cluster (FCI) 2016 on azure using CSV and Storage Space.
Our plan is to encrypt the VM with the parameter "-VolumeType OS" to prevent the data disk to be encrypted by azure. This will be done for both VMs in the cluster.
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-portal-sql-create-failover-cluster
For all

[2018-08-15 20:07] ajhstn opened #13473 "Does the Security Reader role permit read permission into some of the overlapping data source and services, such as OMS, Log Analytics?"
I need granular permissions to allow a “first responder” to see the alerts, filter them and escalate the legitimate threats.

I need a role that permits, also view permissions of the unified audit log.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c61e7b5-619a-fbd4-c7de-a1d04a33e61f
* Version Independent ID: c35c73d4

[2018-08-15 20:09] jimdial commented on #13463
@alohaninja This article is about creating a Network Watcher, which isn't installed in a VM. Installing the extension is covered in separate articles for [Windows](https://docs.microsoft.com/azure/virtual-machines/extensions/network-watcher-windows) or [Linux](https://docs.microsoft.com/azure/virtual-machines/extensions/network-watcher-linux) and Linux.  I added a note to both of those articles th

[2018-08-15 20:13] skeeler opened #13474 "Error in sample script"
In the last line of this script, the value "TestRG" is specified for the resource group name, meanwhile everywhere else in the script refers to "TestRG1". This causes the last line of the sample script to fail.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03adf4b8-7d51-e92f-a2db-6de96c335262
* Version Independent ID:

[2018-08-15 20:14] jeevansd commented on #13462
Please send the email to SaaSApplicationIntegrations@service.microsoft.com and then I will tell you the internal process for it.

#please-close

[2018-08-15 20:24] Johns-305 opened #13475 "Instructions to add a loop are out of date."
Add a loop no longer appears on the design surface.  Loops, switches and conditions now appear under the Control grouping in Add an Action.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0c62935-f980-a27c-883b-bd826c5b327f
* Version Independent ID: 5fc1bf17-8cd9-8cdb-72df-1c6a544a677a
* Content: [Add loops that repeat

[2018-08-15 20:25] TravisCragg-MSFT commented on #13460
@alohaninja Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-15 20:35] jlaw2018 commented on #13388
this should just work... has anybody else been able to get this to work? Something must be wrong with the script example/.

[2018-08-15 20:35] Mike-Ubezzi-MSFT commented on #13465
@avidiyal Thanks for the feedback. We are actively investigating and will get back to you soon but, I wanted to clarify if you completed the following step: [Create a custom topic](https://docs.microsoft.com/en-us/azure/event-grid/custom-event-to-queue-storage#create-a-custom-topic), followed by [Create Queue storage](https://docs.microsoft.com/en-us/azure/event-grid/custom-event-to-queue-storage#

[2018-08-15 20:40] tfitzmac commented on #13465
@avidiyal - there is a section titled "Enable Event Grid resource provider". Did you run that step in the Azure subscription you are using for events?

[2018-08-15 20:41] MicahMcKittrick-MSFT commented on #12956
Can you tell me the output if you lookup the Public IP address after you delete the deployment?

So run through steps 1-3 as you mentioned. Run step 4 then run the following

az network public-ip list --resource-group MC_myResourceGroup_myAKSCluster_eastus --query [0].ipAddress --output tsv

That way we can see if the public IP is still present.

[2018-08-15 20:41] YutongTie-MSFT commented on #13384
@JanelChumley Thanks for your feedback here. We have fixed it and you will see the change shortly.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-15 20:41] #13384 closed

[2018-08-15 20:43] MicahMcKittrick-MSFT commented on #13258
@jasonwangnanjing I will close this for now. When ready let us know and we can reopen and continue.

[2018-08-15 20:43] #13258 closed

[2018-08-15 20:45] fleasharp commented on #12697
This bug is *still happening*.   The CA starts fine; but if your reboot the VM; the CA fails to come back up.

[2018-08-15 20:45] MicahMcKittrick-MSFT commented on #13354
@techiearun any update on this?

[2018-08-15 20:47] MohitGargMSFT commented on #13361
@Yvand As stated above please mention the MSDN thread URL you created here so that I could make sure you are been helped on it.

[2018-08-15 20:47] YutongTie-MSFT commented on #13205
@v-jerkin Thanks a lot!

@rajawilliams
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-15 20:47] #13205 closed

[2018-08-15 20:48] MicahMcKittrick-MSFT commented on #13440
@girishgouda are you getting any specific errors back? Also, are you running this on a stand alone VM or a VM Scale Set?

[2018-08-15 20:49] MicahMcKittrick-MSFT commented on #13444
@jurjenoskam this means that the available IP range must be smaller than a /12. It is not referring to the amount of network bits.

[2018-08-15 20:49] MichaelHauss commented on #10959
Sorry, but not sure exactly what your are looking for. The zone name is part of the web endpoint. Does this answer your question?

________________________________
From: Tabeth Nkangoh <notifications@github.com>
Sent: Tuesday, August 14, 2018 7:02:59 PM
To: MicrosoftDocs/azure-docs
Cc: Michael Hauss; Assign
Subject: Re: [MicrosoftDocs/azure-docs] How to find the zone name? (#10959)

Any idea on ho

[2018-08-15 20:49] YutongTie-MSFT commented on #12503
@XianghanWang Hi, can you please describe the issue clearer so that we can help you well?

[2018-08-15 20:50] sandormakai opened #13476 "P15 information missing from paragraph"
The information about P15 was added into the table in paragraph "Premium Storage disk limits" however, the paragraph itself does not mention that size in the text.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ea00c3f-e389-9258-45a5-395247555f75
* Version Independent ID: f01af29d-f543-077a-3d71-6b6b437758cd
* Content

[2018-08-15 20:51] MicahMcKittrick-MSFT commented on #13455
@zhusulai thanks for this find! I have corrected the doc. Once the PR merges this issue will close and the changes will go live in a few hours.

[2018-08-15 20:51] MohitGargMSFT commented on #13375
@bozford Thanks for providing detailed information. I will assign the issue to the content author to check on the above information and update the document accordingly.

[2018-08-15 20:52] sandormakai opened #13477 "P15 information is missing"
Hi,
The information about P15 disk size is missing from paragraph "Premium Storage Disk Sizes"
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 978b668c-13f9-a75a-b7ca-17bb59e398a6
* Version Independent ID: 8ab14f42-c192-3cde-7f94-7b481276f3d4
* Content: [Azure Premium Storage: Design for performance on Windows VM

[2018-08-15 20:54] YutongTie-MSFT commented on #8903
@ggantija Sorry for the delay, we have a customer solved the issue by Switching to Linux containers. To do that, you need to click the docker icon and switch in tray right.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-15 20:58] tbebekis opened #13478 "Many incosistencies and an error"
There are many inconsistencies in this tutorial.

**1.** **Section**: Configure Azure AD single sign-on. **Step 3**: SharePoint on-premises Domain and URLs
The existing image shows (and the text below it suggests)
**Sign On URL**: https://<YourSharePointServerURL>/_trust/default.aspx
**Identifier (Entity Id)**: urn:sharepoint:federation
where the actual reality is totally different. Please see the

[2018-08-15 21:00] mbatista opened #13479 "Access denied after following steps"
Access denied due to missing subscription key. Make sure to include subscription key when making requests to an API.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 823eb96f-e5f1-0832-b175-0b31009be92f
* Version Independent ID: 330085ae-dcf6-e930-86a8-0e4a60ab1314
* Content: [Protect an API by using OAuth 2.0 with Azure

[2018-08-15 21:00] SaurabhSharma-MSFT commented on #13424
@altwohill The link works fine for me and it connects to [Updated Office 365 modern authentication](https://microsoft.com/en-us/microsoft-365/blog/2015/11/19/updated-office-365-modern-authentication-public-preview/).

[2018-08-15 21:00] Mike-Ubezzi-MSFT commented on #13468
@jl-g Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-15 21:01] RattleSnakeSkin commented on #13265
Yes it was.  Thanks a bunch!

On Wed, Aug 15, 2018, 9:40 AM António Sérgio Azevedo <
notifications@github.com> wrote:

[2018-08-15 21:01] divyaswarnkar commented on #13363
Hi,  Public certificates are purchased from a public internet certificate authority (CA) while you can create your own private certificates. This is the first distinction.
Public certificates do not require a key while private certificates do require a key. This is the second distinction between them.
Thanks.

[2018-08-15 21:02] ajhstn opened #13480 "Security Center vs Monitoring Alerts?"
How do these alerts differ to the alerts in the Monitoring blade? https://portal.azure.com/#blade/Microsoft_Azure_Monitoring/AzureMonitoringBrowseBlade/alertsV2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba090fb1-b441-f39a-f9d7-beedbd5f6bf4
* Version Independent ID: 4c9953c7-15d8-b337-2c1e-7c191724ed64
* Content: [

[2018-08-15 21:02] YutongTie-MSFT commented on #8946
@ramkumarkrishnan  Hi, want to check if you have any update for this issue? Thanks!

[2018-08-15 21:04] Mike-Ubezzi-MSFT commented on #13471
@alvipeo Thanks for the feedback. We are actively investigating and will get back to you soon but, can you please clarify how are you attempting to connect: Web App, SSMS, other? Thank you!

[2018-08-15 21:07] tbebekis opened #13481 "There is no "DOWNLOAD Certificate (Base64) On the SAML Signing Certificate section"
There is no "**DOWNLOAD Certificate (Base64)**" on the **SAML Signing Certificate** section

Should I use the **Download Azure AD Signing Certifcate** from the **Quick Reference** section of the  **Configure SharePoint on-premises** section in the PowerShell script for the trusted provider?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-08-15 21:11] #13455 closed

[2018-08-15 21:11] telalwar opened #13483 "Can we vertically scale 'Azure Container Group'?"
Can we vertically scale 'Azure Container Group'?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff247151-29f6-4a55-61b2-e5eae2d48927
* Version Independent ID: 159517fe-202c-967d-f572-49c4f6988c46
* Content: [Azure Container Instances container groups](https://docs.microsoft.com/en-us/azure/container-instances/container

[2018-08-15 21:14] iainfoulds commented on #12940
Sorry you ran into issues with this, @lastcoolnameleft. I can't replicate this behavior, the secret is successfully created for me:

[code]

Can you e-mail AzCommunity@microsoft.com with this GitHub issue for additional support to troubleshoot this, please. If needed, we can then circle back with a doc update.

#please-close

[2018-08-15 21:19] seguler commented on #11035
This is now addressed in AzCopy. #please-close

[2018-08-15 21:19] tabeth commented on #10959
No, it didn't My question was more pertaining to finding the zone name, if you didn't have the web endpoint (since as you said if you have the endpoint you already have the zone name) to build the URL per the documentation. There did seem to just be a bug where I couldn't see the storage account that was resolved by recreating the GPv2 storage account.

TLDR: You can disregard my earlier message.

[2018-08-15 21:28] XianghanWang commented on #12503
I followed the steps in https://docs.microsoft.com/en-us/azure/machine-learning/desktop-workbench/scenario-document-collection-analysis. At "Data source" step, it says "A pre-compiled TSV file CongressionalDataAll_Jun_2017.tsv containing records of those legislative actions is provided in this scenario. The TSV file can be downloaded automatically either by the notebooks 1_Preprocess_Text.ipynb un

[2018-08-15 21:29] jleach commented on #13254
I agree. We're grinding through how to do this. It shouldn't be this tough.

[2018-08-15 21:33] sakthivetrivel commented on #12176
#close

[2018-08-15 21:33] Mike-Ubezzi-MSFT commented on #13121
Hi Kazshi,

In looking through the PowerShell library, there are a couple cmdlets that might be useful here:

[Get-AzureRmSqlSyncGroup](https://docs.microsoft.com/en-us/powershell/module/azurerm.sql/get-azurermsqlsyncgroup?view=azurermps-6.7.0)
[Get-AzureRmSqlSyncAgentLinkedDatabase](https://docs.microsoft.com/en-us/powershell/module/azurerm.sql/get-azurermsqlsyncagentlinkeddatabase?view=azurermps

[2018-08-15 21:34] sakthivetrivel commented on #12176
close #12176

[2018-08-15 21:36] Alberto-Vega-MSFT commented on #13398
@Ayanmullick This thread should help [Does SQL Azure support Activity Monitor Feature?](https://social.msdn.microsoft.com/Forums/azure/en-US/39118524-5806-4545-a1e3-8e73d0fcb73e/does-sql-azure-support-activity-monitor-feature?forum=ssdsgetstarted)
Also please read these:

- [sp_who and sp_who2](http://morrisbahrami.blogspot.com/2011/06/spwho-and-spwho2.html)
- [@@SPID](https://docs.microsoft.com/e

[2018-08-15 21:41] tfitzmac commented on #13254
@aluong and @jleach - thanks for your feedback. I'll add an article that shows how to create an Event Grid subscription for an Azure subscription through the portal.

[2018-08-15 21:41] jetstreamin opened #13484 "Smooth Sailing Thus Far"
Spinning it up right now.  Step by step and easy to follow.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b43c1f83-067b-e79d-fe7b-572beb92f135
* Version Independent ID: 07a83ff0-b3e2-402a-1184-755cfe34e27e
* Content: [Deploy Azure Blockchain Workbench](https://docs.microsoft.com/en-us/azure/blockchain-workbench/blockc

[2018-08-15 21:43] iainfoulds commented on #13233
Hi, @cwiederspan. These updates have merged and should go live within the next hour.

#please-close

[2018-08-15 21:44] MichaelHauss commented on #10959
Sounds good.

Michael

________________________________
From: Tabeth Nkangoh <notifications@github.com>
Sent: Wednesday, August 15, 2018 2:19:56 PM
To: MicrosoftDocs/azure-docs
Cc: Michael Hauss; Assign
Subject: Re: [MicrosoftDocs/azure-docs] How to find the zone name? (#10959)

No, it didn't My question was more pertaining to finding the zone name, if you didn't have the web endpoint (since as yo

[2018-08-15 21:45] #13233 closed

[2018-08-15 21:52] Ayanmullick commented on #13398
So is there a way to have the 'sp_who2' view auto-refresh at a specific interval and be visible on the Portal? 'Metrics' doesn't allow to run a query neither does performance insight.

[2018-08-15 21:53] tmauro-nginx opened #13485 "inconsistent capitalization is confusing"
The various capitalization patterns used in this article -- "public load balancer" vs. "public Load Balancer", and "internal load balancer" vs. "Internal Load Balancer" vs. "internal Load Balancer" -- are confusing. I believe that they are generic concepts and not product names, in which case the all-lowercase form is most appropriate.

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-08-15 21:57] Mike-Ubezzi-MSFT commented on #13255
@anosov1960 Doc feedback that warrants a small edit. We can make the edit but wanted to present you with this change. Including @CarlRabeler on this.

[2018-08-15 22:03] tfitzmac commented on #13149
If they just need to view tags, then the Reader role should be adequate. Are you seeing something different? Does the billing report provide enough information to them about which tags are applied to which resources?

[2018-08-15 22:12] Alberto-Vega-MSFT commented on #13408
@microsoft-rin Thanks again for the feedback, I just merged a PR including the change. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-15 22:12] #13408 closed

[2018-08-15 22:14] KeiroKamioka0000 opened #13486 "How to promote"
Hello, which document should I refer, If I would like to know how to promote the BLOB, which mentioned in &lt;Copy snapshots
&gt; Section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56e156ed-3f4c-ce74-1791-c2a8ebfe4a99
* Version Independent ID: da4df3e4-2124-009f-64d5-558c427190b1
* Content: [Create a read-only sna

[2018-08-15 22:15] Grace-MacJones-MSFT commented on #13366
Hi @deasonuk, you can add IP restrictions for any tier. As stated in the documentation "IP Restrictions capability works with all App Service hosted work loads, which include; web apps, api apps, linux apps, linux container apps, and Functions."

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the

[2018-08-15 22:15] #13366 closed

[2018-08-15 22:29] SaurabhSharma-MSFT commented on #13424
@altwohill ok, got it,  I see the same error.
@Sara-Nicolini  Can you help us on this issue.

[2018-08-15 22:30] sergaz-msft commented on #13122
@SarithaMaran can you share the content of the "dockerfile.arm32v7" from the issuing module with us? Also can you please clarify if you are using Windows or Linux to build the solution? And if using Windows are you using Linux or Windows Docker Containers?

Thank you!

[2018-08-15 22:30] mganeshphani opened #13487 "The latest columns doesnt match the video published"
what will be the total price per a day or date range would be from detailed usage report?
((Consumed Quantity) * (ResourceRate)) + (ExtendedCost)

or
just (ExtendedCost)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96771ba5-ef91-ed15-33a3-ff5e5b9e753f
* Version Independent ID: de9baa15-55e1-4cb8-32d0-6583a8b5d689
* C

[2018-08-15 22:32] #13199 closed

[2018-08-15 22:33] cephalin commented on #13386
@berndverst Actually I found out that this is a comment on a private revision because the currently publish doc has no such issue. Please don't use GitHub issues to log issues with yet unpublished updates, but instead add a comment directly in the PR. Thanks you! #please-close

[2018-08-15 22:38] MicahMcKittrick-MSFT commented on #13461
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-15 22:39] MicahMcKittrick-MSFT commented on #13476
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-15 22:40] MicahMcKittrick-MSFT commented on #13477
Duplicate of #13476

[2018-08-15 22:40] #13477 closed

[2018-08-15 22:41] MicahMcKittrick-MSFT commented on #13483
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-15 22:42] cephalin commented on #13425
@cnmaro Thank you for your feedback. However, note that this is a tutorial for Azure App Service, not for ASP.NET Core. Unfortunately the tutorial is already long enough, and we purposely limit its scope to App Service, which is why we have customers download a pre-written app. For your particular needs, please see ASP.NET Core docs.

[2018-08-15 22:42] cephalin commented on #13425
#please-close

[2018-08-15 22:43] #13296 closed

[2018-08-15 22:43] seguler commented on #10280
#please-close - the document was updated to address this issue a while ago

[2018-08-15 22:44] seguler commented on #11919
#please-close - the issue has been addressed.

[2018-08-15 22:44] Karishma-Tiwari-MSFT commented on #12940
@iainfoulds Thanks for looking into it. I am assigning it to myself and investigate further.

[2018-08-15 22:47] SheridanLGrant commented on #11352
@gopitk I was using Ubuntu--my bad!

[2018-08-15 22:52] cephalin commented on #13411
@Ayanmullick Thank you for this feedback. Due to limited resources, we are not able to create and maintain tool-specific docs for App Service like the one you request (there are many different tools you can use to deploy to App Service). Please consult tool-specific documentation like https://code.visualstudio.com/tutorials/app-service-extension/getting-started and submit your documentation feedba

[2018-08-15 22:52] cephalin commented on #13411
#please-close

[2018-08-15 22:53] TravisCragg-MSFT commented on #13474
@skeeler Thanks for the feedback! I have fixed the RG name, and the update should reflect on the doc within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-15 22:53] #13474 closed

[2018-08-15 22:55] jeevansd commented on #13481
Yes, please use that for now. we will be pushing an update so that now you can see the binary cert directly in the SSO page and you can download that directly

[2018-08-15 22:55] mike-urnun-msft commented on #13475
Thanks @Johns-305! I have seen reports of this change on the forums today as well and confirmed it as such with the respective product group. We have now assigned this issue to the content author of this documentation to investigate further and take the right course of action.

[2018-08-15 23:00] cephalin commented on #11034
@cnmaro Thank you for this feedback. However as I responded to you in a different GitHub issue, this tutorial is not for ASP.NET newbies, but App Service newbies (it's part of the App Service documentation).

[2018-08-15 23:07] BryanTrach-MSFT commented on #13467
@neligajb Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-15 23:14] jeevansd commented on #13481
@tbebekis We have now deployed the change and soon you should able to see the certificate on the SSO page.

[2018-08-15 23:14] jeevansd commented on #13481
#please-close

[2018-08-15 23:18] iainfoulds commented on #12944
Sorry you ran into issues, @lastcoolnameleft . This doesn't seem specific to Kubernetes v1.10.x clusters. I'm confirming with engineering that the following bindings are required and will update the doc accordingly, as this does seem to be the workaround even on a default v1.9.9 cluster:

[code]

#in-progress

[2018-08-15 23:25] maruthigadde opened #13488 "VM Credit Question"
[Enter feedback here]
"If the VM is stopped/started, but remains on the same node, the VM retains the accumulated credit. Whenever the VM starts fresh on a node, it gets an initial credit, for Standard_B8ms it is 240 mins."
In the above sentence, when I stop and start a VM, do I have control on whether it remains on the same Node or creates on a different node.  My assumption, we don't have contro

[2018-08-15 23:27] TravisCragg-MSFT commented on #13485
@tmauro-nginx Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-15 23:28] Alberto-Vega-MSFT commented on #13468
@jl-g Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-15 23:32] miaojiang opened #13490 "Untrusted root cert"
I followed the steps in the tutorial. After that when I try to access the cluster through the ingress controller via HTTPS, my browser complains the site cannot be trusted because the root cert is not trusted. Not sure what went wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d

[2018-08-15 23:34] alvipeo commented on #13471
I wanted to give read only access for Azure AD some users to Azure SQL Db with SSMS. So I thought I'd create an Azure AD group and add this group to db_datareader role. I was able to do this for Azure AD user but I didn't get how to do this for AD group.

[2018-08-15 23:37] Alberto-Vega-MSFT commented on #13448
@johnsivertsen We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-15 23:37] #13448 closed

[2018-08-15 23:47] jeevansd commented on #13462
#please-close

[2018-08-15 23:48] gsouza-modulo opened #13491 "Azure Firewall resource and AzureFirewallSubnet in different resource groups"
Hi,

Judging by the following error message, the firewall resource must be in the same resource group as it's subnet. Is this a preview limitation, bug or should we expect this behavior even after GA? The documentation does not have any indication about this scenario.

Template deployment returned the following errors:
Resource Microsoft.Network/azureFirewalls '[***masked-fwName***]' failed with m

[2018-08-15 23:48] SaurabhSharma-MSFT commented on #13462
@anubhav1984 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-15 23:48] #13462 closed

[2018-08-15 23:50] SaurabhSharma-MSFT commented on #13470
@DeanGross Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-08-15 23:51] KeiroKamioka0000 opened #13492 "Please fix dead link"
We have published guidelines for Deploying Windows Server Active Directory on Azure Virtual Machines to help make DIY installations easier.

The URL &lt;https://msdn.microsoft.com/library/azure/jj156090.aspx&gt; is not working.
Please fix.
It will redirect in to &lt;https://docs.microsoft.com/en-us/previous-versions/orphan-topics/azure.100/jj156090(v=azure.100)&gt; which is also dead link

---
###

[2018-08-15 23:51] SaurabhSharma-MSFT commented on #13472
@kamellemann Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-15 23:58] Karishma-Tiwari-MSFT commented on #13490
Thanks for the question. We are currently investigating and will update you shortly.

[2018-08-15 23:59] SaurabhSharma-MSFT commented on #13473
@ajhstn Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-15 23:59] Mike-Ubezzi-MSFT commented on #13471
@alvipeo I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-16 00:00] kobulloc-MSFT commented on #13479
@mbatista Which step did you encounter the access denied issue?

[2018-08-16 00:03] jleach commented on #13254
Do you have a link for it? I'm here with a bunch of MS guys who have come on-site and we've been grinding through this for hours. Cant seem to get it from the CLI or Portal.

[2018-08-16 00:04] MikeWasson opened #13493 "key != connection string"
The code comment says "Assign the connection string" but the list-keys command returns a key, not a connection string.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a32c9068-2d39-0915-733c-881c3fb66d9a
* Version Independent ID: 882a3598-4355-a4ca-e5ba-d80b24cd0a52
* Content: [Azure CLI Script Sample - Connect a web ap

[2018-08-16 00:11] tfitzmac commented on #13254
If you are trying to create an event subscription for an Azure Subscription and send to WebHook - see [Subscribe to events for an Azure subscription with Azure CLI](https://docs.microsoft.com/en-us/azure/event-grid/scripts/event-grid-cli-azure-subscription)

[2018-08-16 00:13] Karishma-Tiwari-MSFT commented on #13308
@vindiki Please make sure that you do not include a passphrase with the private key. Can you please verify that?
I would also recommend going through the instructions [here](https://github.com/Microsoft/openshift-container-platform/blob/master/README.md)
I am also reproducing the doc steps on my end and will share my updates/learnings with you shortly.

[2018-08-16 00:14] tfitzmac commented on #13254
If you are sending to a different endpoint, the parameters are a little different. Set endpoint-type to the type you are using and set endpoint to the id of the resource

[2018-08-16 00:37] MarileeTurscak-MSFT commented on #13426
I'm trying to find a definitive answer. Judging from this document it seems that it's supported: https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-services

[2018-08-16 00:39] frankmatull opened #13496 ".htaccess problems for loading assets"
The .htaccess provided in the root directory for tasks example has the following rewrite rule:

    RewriteRule ^.*$ /public/$1 [NC,L,QSA]

But when I try to access my css file (located in the public directory  it doesn't find the file:

public
--/css
----/app.css

(1) https://myapp.azurewebsites.net/css/app.css  (not found)

(2) https://myapp.azurewebsites.net/public/css/app.css (works)

Is there

[2018-08-16 00:41] roygara commented on #12344
Hello @Johns-305 , I'll add a bit to the FAQ which makes this more clear. Thanks for bringing this to our attention, we really appreciate it!

[2018-08-16 00:50] MarileeTurscak-MSFT commented on #13453
@daveba are you able to look into this?

[2018-08-16 00:53] mamccrea commented on #13420
Good catch, @alexjs - thank you!

#please-close

[2018-08-16 01:28] dcbrown16 opened #13497 "Clarity on zone and region sets"
Can you clarify three things about zonal vs regional sets?
1) A scale set becomes zonal if created in a region with availability zones with one or more of those zones specified. All other scale sets are regional.
Correct?

2) This doc states "Currently, only static five fault domain spreading is supported for regional scale sets."
When creating a regional scale set, I assume this means that if pla

[2018-08-16 01:28] gfilicetti opened #13498 "Carefully followed instruction and get 404 on anything but root"
Hi there, I've been trying to set up an ingress controller with many paths that go to individual services and all the paths were giving me 404 errors and I found it was because the path element was passed into the nginx service and obviously it couldn't find its files.

So I wanted to start from scratch on a fresh AKS cluster created with all the defaults and following your instructions exactly.

[2018-08-16 01:28] MicahMcKittrick-MSFT commented on #13476
@sandormakai I see the P15 listed here

![image](https://user-images.githubusercontent.com/32313503/44181847-fdf63d80-a0b8-11e8-9a5d-6e929efea56d.png)

If that is not what you mean, can you clarify?

[2018-08-16 01:29] mrbullwinkle commented on #13279
@poychang Thank you for bringing this to our attention. You are absolutely right the code would need a little modification to be able to work:

[code]
An update to the doc has been merged internally it will go-live in for the en-us docs at 10 AM (UTC-7) tomorrow.

[2018-08-16 01:30] mrbullwinkle commented on #13279
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-08-16 01:30] cynthn commented on #13260
@smoms thanks for the feedback! I did a little work on the wording that should go live Thursday. Here is what it says now:
----------
Finally, for scale sets deployed across multiple zones, you also have the option of choosing "best effort zone balance" or "strict zone balance". A scale set is considered "balanced" if each zone the same number of VMs or +\- 1 VM in all other zones for the scale se

[2018-08-16 01:33] MicahMcKittrick-MSFT commented on #13488
@maruthigadde Whenever you stop your machine from the portal it will deallocate the VM on the backend and take it off of whatever node you are on. Once you start it up again you are allocated to a new node that has capacity. In this case you would lose the credits you have built up. The only case where you would stay on the same node is if you stopped your VM from within the OS itself. This stops

[2018-08-16 01:33] #13488 closed

[2018-08-16 01:34] #13279 closed

[2018-08-16 01:37] MicahMcKittrick-MSFT commented on #13483
@telalwar no you cannot

https://docs.microsoft.com/en-us/azure/container-instances/container-instances-update#properties-that-require-container-delete

![image](https://user-images.githubusercontent.com/32313503/44182095-406c4a00-a0ba-11e8-82f6-6459fa48b64c.png)

I will close this for now but if you have follow up questions just let me know.

[2018-08-16 01:37] #13483 closed

[2018-08-16 01:38] akshaybabloo commented on #13412
Thanks @SaurabhSharma-MSFT it'll be nice if this is in the list

[2018-08-16 01:40] MicahMcKittrick-MSFT commented on #13490
@miaojiang as the instructions point out this is expected behavior

https://docs.microsoft.com/en-us/azure/aks/ingress#test-the-ingress-configuration

![image](https://user-images.githubusercontent.com/32313503/44182188-ace74900-a0ba-11e8-9dca-c6d811237a3d.png)

[2018-08-16 01:44] Adam-Smith-MSFT commented on #13486
You could use Storage explorer to promote snapshots. I'd recommend checking this video, starting from 1:21 :https://www.youtube.com/watch?v=R6gonK3cYAc
It shows a step by step guide on how to promote a snapshot. Does the video answers your question?

@tamram Should we add a little section to show how to promote snapshots?

[2018-08-16 01:45] MicahMcKittrick-MSFT commented on #13451
@GuyHarwood no you cannot. The function will use local.settings.json when developing on prem by design

You can use the `--publish-local-settings` switch described in this doc to have your function pull the info from local.settings.json though

![image](https://user-images.githubusercontent.com/32313503/44182295-3d258e00-a0bb-11e8-8ac3-76725db5413d.png)

[2018-08-16 01:51] Adam-Smith-MSFT commented on #13464
-UseConnectedAccount

Have you installed the latest Azure Powershell using this command? If you follow 1 through 4, you may have to exit your current PS window, then open another one, then retry the command, can you tell me if it works after that?

[2018-08-16 02:04] MicahMcKittrick-MSFT commented on #10150
Thanks @TomArcher

I will test this tomorrow and get back to you on it :)

[2018-08-16 02:04] cbellee opened #13499 "Please add information about how to test latency (RTT) when Accelerated Networking is enabled"
Using ping.exe to test latency is not valid in the case of Azure Accelerated Networking as it offloads TCP/UDP traffic to the FPGA chip, but not ICMP traffic. Instead, a tool such as qperf (that uses TCP for latency tests) should be used. qperf reports ~0.035 ms latency between Azure VMs with accelerated networking enabled, rather than 1-2ms when using ping.exe.
It would be good to include a secti

[2018-08-16 02:16] EmmaZhu commented on #12554
@elangelo, Could you share the platform info where you met this error? I'd like to repro it first and try with latest .Net Core SDK to see whether this issue is fixed.

[2018-08-16 02:25] brianwan commented on #13048
Any update so far?

[2018-08-16 02:43] KeiroKamioka0000 commented on #13486
Thanks!!!
It really helped me.

However, is there any requirements to enable/active the promotion of the blob?
I got informed that my client couldn't promote the blob, due to the promotion link isn't working.

[2018-08-16 02:50] kazshi commented on #13121
Thanks a lot for the info, Mike.

[2018-08-16 02:50] #13121 closed

[2018-08-16 02:59] MrRhino70 opened #13500 "return results"
is there a way to insure that certain item attributes are returns such as in stock or price?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c22a1768-c9c1-f9d0-6f8d-2474e79fed9b
* Version Independent ID: 5c18f462-c194-6bbd-a102-7d87cc3b7996
* Content: [Call and response - PHP Quickstart for Azure Cognitive Services, Bin

[2018-08-16 03:02] girishgouda commented on #13440
I am not getting error. The status shows as "connected to another account". I am running a standalone VM. Why can't you give a complete sample and not just the DSC configuration

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Micah <notifications@github.com>
Sent: Thursday, August 16, 2018 2:18:26 AM
To: MicrosoftDocs/azure-docs
Cc: girishgouda; Mention
Subj

[2018-08-16 03:29] jdobrzen commented on #13167
@cjgronlund  @jason-j-MSFT  That the REST API call to delete the models is not deleting the TAR file from the associated blob container.

[2018-08-16 04:14] miaojiang commented on #13490
Thanks @MicahMcKittrick-MSFT, I missed that part. I am new to LetsEncrpt and AKS. How many places do I need to change from letsencrypt-staging to prod?

[2018-08-16 04:14] tymtam2 opened #13501 "How is the Contoso app built?"
Hi,

The central part to the accelerators articles is the app that runs on the device, unless I understand it wrong?

Where can we find information about how the Contoso app is built and deployed?

Am I correct to read
"A chiller device sends temperature, humidity, and pressure telemetry to the Remote Monitoring solution accelerator."
as 'devices used in this example *run a Windows IoT Core app* t

[2018-08-16 04:48] jeewannc opened #13502 "Error connecting to Xero"
Hi,

I am struggling to create a connection with Xero. Using the UI, test connection is successful but while trying to create connection it shows following error:

Failed to encrypt sub-resource payload {
 "Id": "/subscriptions/2bxxxxxxxxx2-7xxxxxxxxxxxx/resourceGroups/XXXX/providers/Microsoft.DataFactory/factories/xxxx/linkedservices/Xero1",
 "Name": "Xero1",
 "Properties": {
 "annotations": [],

[2018-08-16 05:03] elangelo commented on #12554
I think you should be able to repro as long as you make sure your version of ncurses is 6.1. I'm using this on ArchLinux but that really shouldn't matter.

[2018-08-16 05:10] cap273 opened #13503 "In this context, what is a "directory""
This document makes several references to a "directory". For example:
"All subscriptions and management groups fold up to the one root management group within the directory."
"10,000 management groups can be supported in a single directory."

In this context, what is a "directory". Is it an Azure Active Directory (AAD) tenant?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-08-16 05:27] SaurabhSharma-MSFT commented on #13481
@tbebekis We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-16 05:27] #13481 closed

[2018-08-16 05:30] SaurabhSharma-MSFT commented on #13492
@KeiroKamioka0000 Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-16 05:31] SaurabhSharma-MSFT commented on #13492
@KeiroKamioka0000  I am able to access the link -
![image](https://user-images.githubusercontent.com/38112130/44190299-efb91900-a0da-11e8-8611-90cc36cd6815.png)

[2018-08-16 05:33] KeiroKamioka0000 commented on #13492
![image](https://user-images.githubusercontent.com/37641695/44190337-20994e00-a0db-11e8-8167-00f49deef576.png)

It will redirect to this page somehow

[2018-08-16 05:34] KeiroKamioka0000 commented on #13492
For some reason
I cannot connect to the link <https://msdn.microsoft.com/library/azure/jj156090.aspx>
When I access it, it will redirect tot he 404 - Page not found of above.

[2018-08-16 05:37] KeiroKamioka0000 commented on #13492
Sorry for Lazy Research.

This unknown redirect will happen to following browser
Microsoft Edge
Opera

However, It does not happen in following
Chrome
Firefox

So I should rephrase as
"When I attempt to get in to the link <https://msdn.microsoft.com/library/azure/jj156090.aspx> with Edge or Opera Browser, it redirect to 404 Error Link.

[2018-08-16 05:44] KeiroKamioka0000 commented on #13492
Repro-Step
![image](https://user-images.githubusercontent.com/37641695/44190658-9225cc00-a0dc-11e8-8137-1bd87136cfa2.png)
Change the Microsoft's Website language to Japanese 日本語（日本）

Connect to <https://msdn.microsoft.com/library/azure/jj156090.aspx> (It will redirect)

After this, even language is set back to English, the redirect will occurs.

So it seems like website's bug?

[2018-08-16 05:50] SaurabhSharma-MSFT commented on #13434
@ericbl Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-08-16 06:00] anandjain1984 opened #13504 "Azure functions not working"
On running the command, mvn azure-functions:run, I get the below info on console
[INFO] Azure Functions Core Tools found.
[INFO] Starting running Azure Functions...
your worker runtime is not set. As of 2.0.1-beta.26 a worker runtime setting is required.
Please run `func settings add FUNCTIONS_WORKER_RUNTIME &lt;option&gt;` or add FUNCTIONS_WORKER_RUNTIME to your local.settings.json
Available opti

[2018-08-16 06:37] topekTopperson commented on #12213
Thank you, still waiting ;)

[2018-08-16 06:39] bingosummer opened #13505 "Does `Retry count = 5` means 5 attempts or 6 attempts?"
Is the first request to get the MSI token equal to the first retry? If yes, there are 5 attempts. Actually, attempt 1 is not a retry. If no, there are 6 attempts.

If there are 5 attempts totally, does it mean `Attempt 1 => delay 2 sec => Attempt 2 => delay 6 sec => Attempt 3 => delay 14 sec => Attempt 4 => delay 30 sec => Attempt 5 => Success or Failure`? If so, it's not possible to exceed the ma

[2018-08-16 06:46] smoms commented on #13260
@cynthn sure, now it is clear. thanks.

[2018-08-16 06:58] lukasvan3l commented on #13429
Ah, good to know.

Yesterday I added two custom domains (with a few hours in between) to my
app and directly after it was terribly slow, response times of 40 seconds.
I didn't check the logs but this is exactly the behaviour of a restart.

Op wo 15 aug. 2018 19:37 schreef Bryan Trach <notifications@github.com>:

--

Lukas van Driel
[ Q42.com | 06 14141544 | Waldorpstraat 17F, Den Haag | Oostelijke

[2018-08-16 07:02] alokexe opened #13506 "Tutorial Review"
An easy and perfect module to understand how ML works.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdd7dec4-a353-0ad5-2de3-1300ade6ad87
* Version Independent ID: 3f024fa1-7c94-a0a1-f72b-df98b33540a5
* Content: [A simple experiment in Machine Learning Studio](https://docs.microsoft.com/en-au/azure/machine-learning/st

[2018-08-16 07:25] TravisCragg-MSFT commented on #13493
@MikeWasson Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-16 07:36] andyce1010 commented on #13287
Ah ok, thanks. In that case it's the flow diagram that's incorrect, as that shows Azure connections being subject to the database and server firewall rules.

[2018-08-16 07:37] dabdirb commented on #13431
so where can i got the API key to evaluate it ?
in azure console the api key can not got token from cris.ai

[2018-08-16 07:38] Yvand commented on #13361
@MohitGargMSFT, sure, I just posted my question in the MSDN forum post, [here is the link](https://social.msdn.microsoft.com/Forums/azure/en-US/1f32a149-53fe-4114-85ba-7ba8ad9fd12f/howto-set-the-user-identifier-claim-depending-on-the-usertype-guest-member-in-enterprise?forum=WindowsAzureAD)

[2018-08-16 07:59] rayne-wiselman commented on #12780
Thanks! This is now fixed.
#please-close

[2018-08-16 08:07] femsulu commented on #13503
@cap273 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-16 08:47] dominicbetts commented on #13408
@Alberto-Vega-MSFT and @microsoft-rin - the command is correct as it stands. Step one in this section asks you to run:
`az extension add --name azure-cli-iot-ext`

One of the effects of this command is to modify the command in question:
`az iot hub show-connection-string --hub-name {YourIoTHubName} --output table`

**--hub-name** is correct after installing the extension.

[2018-08-16 08:53] shizn commented on #13122
Could you also share your Docker CE version on your devbox?

[2018-08-16 09:02] jquinn99002 commented on #13201
There used to be information on here about Log Analytics, it would seem they have removed it?

[2018-08-16 09:16] fikusir commented on #13439
Hello,

thank you for your reply, but I just figured out with that issue.

So I am closing this topic.

Have a nice day, Michal

[2018-08-16 09:16] #13439 closed

[2018-08-16 09:16] SarithaMaran commented on #13122
@sergaz-msft I am using Linux machine. And raspberry pi with raspian stretch for building ARM architecture image.
And regarding the dockerfile I will check and update you on that.

@shizn I am using `Docker version 18.06.0-ce`

[2018-08-16 09:22] herrbpl opened #13507 "Example how to handle twin patches using C#"
Can you please add examples how to handle twin patches using C#? It is not immediatly understandable from looking at JS code.

Thanks,

Siim

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 014fa2f5-e835-6ee6-896a-2e5eb5b201db
* Version Independent ID: 250e7610-ddb1-e4bf-0308-f29ad9fb9848
* Content: [Synchronize device s

[2018-08-16 09:32] GuyHarwood commented on #13451
@MicahMcKittrick-MSFT This is only for local development.  let me explain our situation a little more, to see if it helps...

- there are 4 developers on our team
- we have one storage account in azure for our development team (limitation imposed by client)
- we have 4 queues in our application, each developer has their own set, prefixed with their name (so my `prepare-check` queue is called `guy-

[2018-08-16 10:10] IeuanWalker commented on #10096
@conceptdev is there any guide on how to java to C#.
Also, the android guides are still using GMS rather than FMC

[2018-08-16 10:20] mnp3 opened #13508 "'Auto' will need to be 'Automatic' for a Windows 7 VM."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b9c0d7a-bbf5-eccc-f2ca-a825bf42c82f
* Version Independent ID: 58aa93af-4030-1541-a14c-c66c683ccf7c
* Content: [Prepare a Windows VHD to upload to Azure](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/prepare-for-upload-vhd-image)
* C

[2018-08-16 10:36] gopalvithal opened #13509 "upgrade the docker version"
does not mention how to upgrade the docker engine version on every node.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7010bd58-42b1-5c90-3253-05deed855be8
* Version Independent ID: c890efb2-cdaf-a3eb-d54f-0e7ccbd4314d
* Content: [Upgrade an Azure Kubernetes Service (AKS) cluster](https://docs.microsoft.com/en-us/azur

[2018-08-16 10:39] sergaz-msft commented on #13501
@tymtam2 thank you for your feedback! IoT Solution Accelerators helps you start fast and test a ready to production scenario in minutes. When you want to customize it then you need to go deeper and understand the code behind it. All is open sourced and for Remote Monitoring you have the solution built on [C#](https://github.com/Azure/azure-iot-pcs-remote-monitoring-dotnet/) or [Java](https://githu

[2018-08-16 10:42] sergaz-msft commented on #13507
@herrbpl thank you for your feedback!
Let us know if this article can help in your scenario?

[Get started with device twins (.NET/.NET)](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-csharp-csharp-twin-getstarted)

Thanks.

[2018-08-16 10:47] OwainWin commented on #13442
I also get the "Failed to update diagnostics settings for . Changing property 'publisher' is not allowed" when trying to change the storage account or set "Basic metrics" in the portal.  Looking at the VM configuration via the Azure CLI az vm command show's that the diagnostic extension is configured to collect various metric's but  "Basic metrics" is not checked in the portal.

[2018-08-16 11:06] itorian commented on #12891
Simple answer to this question is either you perform 'clone app' or 'change app service plan' you must need premium app service.

* When you click "change app service plan", this will show you only premium app service plans
* When you click on "clone app", this will show you only premium app service plans

[2018-08-16 11:14] tbebekis commented on #13478
Let's recap.

**1. Section**: Configure Azure AD single sign-on. **Step 3**: SharePoint on-premises Domain and URLs
**a**. For **Sign on URL**: I type "https://MyServer.MyCompany.com/_trust/default.aspx"
**b**. For **Identifier (Entity Id)**: I type "urn:sharepoint:federation"

**2. Section**: Configure Azure AD single sign-on. **Step 6**: Configure SharePoint on-premises
**a**. I click the **Down

[2018-08-16 11:39] sameerahmednous opened #13510 "Cross Database queries - external data source throws error..."
I have scenario wherein I have 2 Azure SQL databases housed on 2 different Azure SQL Server instances in the same region and resource group. Now I wanna be able to access customer table in DB2 in DB1, by creating a external data source in DB1 pointing to customer table in DB2.. I have followed below steps...

GRANT EXECUTE ON [sys].sp_adduser TO companysuer;
CREATE MASTER KEY ENCRYPTION BY PASSWOR

[2018-08-16 11:46] rifaterdemsahin opened #13511 "Custom DNS zones need to be able to added to a existing domain and force restart"
I am getting this error. In this DevOps world the requirements change and our systems should keep up with the demand.

PS Azure:\> New-AzureRmDnsZone -Name "myproject.internal" -ResourceGroupName trnvnetrg -ZoneType Private -RegistrationVirtualNetworkId "/subscriptions/xxx/resourceGroups/xxxvnetrg/providers/Microsoft.Network/virtualNetworks/xxxopsvnet"
WARNING: The output object type of this cmdle

[2018-08-16 12:03] SalmaTofaily opened #13512 "Presets for adaptive audio on demand"
After trying to make a preset to encode different layers of audio-only content,I got no files. Cannot we encode mp3 into different mp4 files, each is audio encoded with different audio bitrate?
non working example:   "{ \"Version\": 1.0,\"Codecs\": [  { \"Profile\": \"AACLC\", \"Channels\": 2,  \"SamplingRate\": 48000,  \"Bitrate\": 64, \"Type\": \"AACAudio\"  }, { \"Profile\": \"AACLC\", \"Channe

[2018-08-16 12:16] MladjoA commented on #13510
It seems names of schema and table in remote database DB2 are not specified in CREATE EXTERNAL TABLE statement, using SCHEMA_NAME and OBJECT_NAME options. If omitted, schema and table name of external table itself will be used in remote query. Please let us know if this helped.

[2018-08-16 12:35] piizei opened #13514 "Example does not work currently"
Followed instructions carefully with latest stable versions of the helm packages (different than what can be seen in the printouts on the page).  Seems that cert-manager fails to resolve the DNS name cloudapp.azure.com.
There is discussion of this in AKS issue https://github.com/Azure/AKS/issues/547

Please confirm if it's true that let's encrypt does not work for the azure.com domain

---
#### Do

[2018-08-16 12:35] Stech01 commented on #13401
Hi, the Azure Stack Integrated Systems has a server called HLH that is the only access to management tasks. This HLH doesn´t resolve the name either so I added the entry in the hosts file. In other words I don´t have any external server or PC that can resolve the VMAZS-ERCS01 name. Maybe I need to open a case to Support and open a remote session using support token?

[2018-08-16 12:47] sameerahmednous commented on #13510
Hi Mladen,

That really helped! Thanks a Ton!

Regards,
Sameer

From: Mladen Andzic (Msft) <notifications@github.com>
Sent: Thursday, August 16, 2018 5:47 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sameer Ahmed (BLR GSS) <sameerahmed@nousinfo.com>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Cross Database queries - external data source throw

[2018-08-16 12:56] hiteshtulsani opened #13515 "Catching exceptions raised in Python Notebooks in Datafactory?"
Is there a way to catch exceptions raised in Python Notebooks from output of Notebook Activity? Scenario: ADF pipeline contains a Databricks Notebook activity which is coded in Python. This notebook raises an exception and the ADF activity fails, but there is not error / exception details in the output of Notebook Activity - just the notebook run URL and "failureType": "UserError".

---
#### Docum

[2018-08-16 12:57] mrbullwinkle commented on #13189
@eugen-nw Sorry for the delay getting back to you. After conferring with engineering the answer is that that solution has been deprecated. It will still work for some customers, but due to the exclusion criteria in the where statements of the hardcoded queries, if you run that query and don't get any results the solution will not work for you. The adapter was essentially a temporary solution, that

[2018-08-16 12:58] mrbullwinkle commented on #13189
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-08-16 13:02] payalgaikwad42 opened #13516 "ML module deployment on iot edge"
i have followed the steps from here : https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-deploy-machine-learning
when i make changes in my config.yaml file as mentioned in above tutorial and then after restarting iotedge when i type command iotedge list it shows nothing in my terminal. when i do docker ps it shows containers are up.
![image](https://user-images.githubusercontent.com/42204123

[2018-08-16 13:08] praveendhac opened #13517 ""/managedClusters/listClusterAdminCredential/action" is not working as expected"
Following https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations

listClusterAdminCredential is not working as expected.

Created below custom role
[code]

Applied the role to user from Portal. Logged in as the user using az login and executed below commands.

[code]

Expectation:
az aks get-credentials command should work without "--admin" parameter and bloc

[2018-08-16 13:08] eugen-nw commented on #13189
Then will someone please delete the "Power BI adapter" section from this page?  If it is known that it is not working, it is pointless for anyone to read it and try to use it.  The same goes for the Application Insight application, it needs to go away.

[2018-08-16 13:16] mrbullwinkle commented on #13189
The problem is it still works depending on how your data is collected so for a  small subset of customers it is still useful. I have apps that I can light up that adapter integration with data and it take less then 5 min to get setup. But to your point, it is extremely confusing to have that section remain at the top of the doc. If we were to relegate the info to the bottom of the doc so the first

[2018-08-16 13:29] ljmack00 commented on #13454
Hi

It is in a couple places: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-paas-vs-sql-server-iaas and in https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance

There is nothing clear about when to use what. So also I posted as a general query. Do I propose elastic or managed instances to clients.

[2018-08-16 13:41] mrbullwinkle commented on #11493
@Sviatik This is an awesome idea! Thank you for suggesting this, I had not seen that Traffic Manager was using that technique until you mentioned it.

I have brought this to the attention of the Product Group and the PM who owns this functionality. I added [an item to the App Insights Feedback](https://feedback.azure.com/forums/34192--general-feedback/suggestions/35131765-ability-to-query-ip-addre

[2018-08-16 13:42] mrbullwinkle commented on #11493
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-08-16 13:42] schroedh opened #13518 "Changes due do Availability zones"
Hi, will this documentation get updated in order to reflect changes due to the availability of AZs? E.g. how will the discribution of managed disks's replicas be changed if VMs are deployed to AZs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99b6d7ad-ee3e-98d1-ac85-97909f3c25fd
* Version Independent ID: c0ac7804-b05

[2018-08-16 13:43] stintel commented on #8249
@bladeski @TravisCragg-MSFT This does seem like a weird limitation. The Private and Public zones in a split DNS setup are very closely related to each other, and I would very much prefer to have both in the same resource group.

[2018-08-16 13:48] spottedmahn commented on #13296
Nice, thanks @cynthn!

[2018-08-16 13:50] praveendhac commented on #10754
What is the fix? Closed #12409 and #10754 without stating exact fix, assuming the fix is updating below document.
https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations

I was working on same issue, blocking "--admin" using "/managedClusters/listClusterAdminCredential/action" which does not work as expected, created #13517

[2018-08-16 14:06] mrbullwinkle commented on #9472
@JPadster I wanted to circle back on this to see if you were still having problems? The day you opened the issue we looped in engineering, and I know they looked into it closely, but I wanted to confirm that this wasn't reoccurring?

[2018-08-16 14:09] Jiping-hi commented on #6788
same issue here. page( https://localhost:8081/_explorer/index.html) shows the following:
------------------
This site can’t be reached
The connection was reset.
Try:

Checking the connection
Checking the proxy and the firewall
Running Windows Network Diagnostics
ERR_CONNECTION_RESET

[2018-08-16 14:12] trevor-schmidt commented on #13391
@femsulu any update?

[2018-08-16 14:14] SalmaTofaily opened #13519 "I am getting an error: Bitrate 64 is not supported when Profile/Channels/SamplingRate is AACLC/2/48000!"
Encoding restrictions/recommendation would be helpful for custom presets.

I am getting an error: Bitrate 64 is not supported when Profile/Channels/SamplingRate is AACLC/2/48000!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cff495a-1954-5e78-6d6d-71e9948f7f84
* Version Independent ID: 98720b10-0e55-5b1f-1510-be13572

[2018-08-16 14:25] arcotek-ltd commented on #10758
@kevindweb,

Did you ever find a solution? I can't work out how to do this either.

Thanks

[2018-08-16 14:28] johndo88 commented on #12780
Thanks.  :)

[2018-08-16 14:28] #12780 closed

[2018-08-16 14:46] sergaz-msft commented on #13377
@MaWa19  you are welcome.

What is the error that you see now? When you perform "openssl s_client -connect localhost:8883 -CAfile /home/pi/work/certs/azure-iot-test-only.root.ca.cert.pem -showcerts" you should see "Verify return code: 0 (ok)"

What is the ‘hostname’ in config.yaml ? It should be "localhost" in order for it to work.

[2018-08-16 14:48] SergeyKanzhelev opened #13520 "There should be an article about query-based alerting"
There should be an article or cross reference to the query-based alerts like https://docs.microsoft.com/azure/log-analytics/log-analytics-tutorial-response

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d8048b3-aa66-eaac-7374-c01089bcb96e
* Version Independent ID: eafc35e8-740c-527a-ea11-e44a9e6991ee
* Content: [Set A

[2018-08-16 14:52] R0chen commented on #10957
thx Dave. Appreciate it. We are looking to the function so we at least have a Plan B :-) But I really hope this is not needed.

[2018-08-16 14:56] lastcoolnameleft commented on #12940
Please disregard this issue, PEBKAC.

In short, the issue was that when I replaced the azurestorageaccountkey, I did not include that "azurestorageaccountkey=" in my secret string.

Cheers,
-Tommy.

[2018-08-16 14:56] #12940 closed

[2018-08-16 14:58] mamccrea commented on #13415
Updated sample code has been merged.

#please-close

[2018-08-16 15:01] kevindweb commented on #10758
Ya sorry, thanks for looking into it.

[2018-08-16 15:02] SergeyKanzhelev commented on #13520
I've been told it's coming =) Closing for now

[2018-08-16 15:02] #13520 closed

[2018-08-16 15:07] matthewacme opened #13521 "Article is missing example of setting minioThreads in Application_start"
https://docs.microsoft.com/en-us/azure/redis-cache/cache-faq#recommendation

This section , in "How to configure this setting" states
&gt;If you are running inside of Azure WebSites, this setting is not exposed through the configuration options. However, you should still be able to configure this setting programmatically *(see below)* from your Application_Start method in global.asax.cs.

There is

[2018-08-16 15:09] leakymutant opened #13522 "(Help) ComputerVisionAPI Class not being found?"
I added the  Microsoft.Azure.CognitiveServices.Vision.ComputerVision client library to the script provide but the ComputerVisionAPI class cannot be found in the name space? The assembly is being referenced in my project file so I don't know what else to do.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc1afe24-ffb4-7

[2018-08-16 15:14] vabed opened #13523 "Is there other functions? AddMonths, AddYears exc."

[2018-08-16 15:26] amitmawkin opened #13524 "Command is incomplete"
az aks create --resource-group myAKSCluster --name myAKSCluster --node-count 1 --enable-addons monitoring --generate-ssh-keys

running above command gives an error  "--enable-addons monitoring" requires "--workspace-resource-id".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6115d555-45a1-6539-4af6-fbc20a99f008
* Vers

[2018-08-16 15:35] dlepow commented on #13456
@kjakah08 - KJ, thanks for pointing out this difference in the documents. Let me confirm with the engineering team the correct (or preferred) variable name in the autoscaling formula: $TargetDedicated vs. $TargetDedicatedNodes. Cheers.

[2018-08-16 15:37] chetanku commented on #9557
How do we renew the idToken after it expires. acquiretokensilent() is getting a new token but is not setting anything in the browser so as a result my user is getting logged out forcing him to login everytime the idtoken expires.
https://stackoverflow.com/questions/51864662/how-do-we-renew-idtoken-using-msal
if anyone can answer this, it will be of great help.

[2018-08-16 15:40] bearrito commented on #10835
Is there an update on this for the Basic and Standard SKU?
How does one enable logging for the Standard LB?

[2018-08-16 15:41] bearrito commented on #8654
I need this as well. Does it help if I file a support ticket in relation to this?

[2018-08-16 15:42] shehackspurple opened #13525 "Are extra costs associated with custom roles?"
Hi,

A person on Reddit (https://www.reddit.com/r/AZURE/comments/957pp5/manage_access_using_rbac_and_the_azure_portal/) asked me if there is an extra cost associated with adding custom roles.  I don't see anything here about it, but I wanted to make sure that there was not an extra cost, because it does not say there will be one.  No one wants a 'surprise' on their bill.  ;) . Could you let me kno

[2018-08-16 15:44] #11493 closed

[2018-08-16 15:46] telalwar commented on #13483
@MicahMcKittrick-MSFT ok, thank you for the explanation 👍

[2018-08-16 15:53] IoTSolutionsArchitect opened #13526 "VS Code Fails to Recognize AZ-3166 IoT Devkit Module When Connected to PC"
I am following the instructions on the web at: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-arduino-iot-devkit-az3166-get-started

Everything works fine up to the point where VS Code is supposed to recognize that the module has been attached to the computer and automatically open to the intoruction page. But even though the PC (running Windows 10) recognizes the module, and even though I

[2018-08-16 15:55] iainfoulds commented on #13524
Hi, @amitmawkin. Please make sure that you're using one of the latest Azure CLI releases. Version 2.0.43 added the ability to automatically generate a workspace if one is not provided. With an older version of the CLI, this workspace ID must be created ahead of time and provided during the cluster create operation.

[2018-08-16 15:55] Adam-Smith-MSFT commented on #13486
That's interesting, are they using the latest version of storage explorer ? There is one in preview via portal, but there is also one that is a software that can be downloaded via here: https://azure.microsoft.com/en-us/features/storage-explorer/
They also must ensure that the original blob is there, not sure if they are trying to promote a snapshot to another snapshot. more details would be helpf

[2018-08-16 16:05] lucasmike opened #13527 "Full documentation of EasyAuth endpoints"
Where can we find a full documentation for all EasyAuth endpoints, for example - what is the sign out end point?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13176d24-57e1-33bb-1948-a086df502dca
* Version Independent ID: 1c15986a-adf6-6f99-72b4-e2a351d0c15e
* Content: [Authentication and authorization in Azure App Se

[2018-08-16 16:10] iainfoulds commented on #13001
Hi, @lrodriguez2002cu. I followed up with the engineering team, and they noted that this issue shouldn't occur anymore, but there were a few instances with older versions of the CLI that would require this provider registration process. As this doesn't appear to currently be a wider issue, I'm going to close this issue, but we can re-open it if others report the same behavior.

#please-close

[2018-08-16 16:12] dlepow commented on #13446
@letmaik - This is a great suggestion, thanks. I logged a backlog doc work item to add this information, so will close this issue. Note that we recently released the [NVIDIA GPU Driver Extension](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/hpccompute-gpu-windows), which installs appropriate NVIDIA CUDA or GRID drivers on an N-series VM (available for both Linux and Windows).

[2018-08-16 16:14] JanelChumley commented on #13384
Great, thank you!

[2018-08-16 16:19] #13420 closed

[2018-08-16 16:19] JPadster commented on #9472
Hi Michael,

I can confirm that this issue is resolved and I have not experienced the
same error since it was originally raised.
Thanks

On Thu, 16 Aug 2018, 15:06 Michael Bullwinkle, <notifications@github.com>
wrote:

[2018-08-16 16:24] shehackspurple opened #13528 "Can I use this for a security or DevSecOps workshop?"
Hello,

I want to run a workshop showing people how to use Security Center (which means having access to security center, manipulating the settings, patching, etc), and I also want to run a DevSecOps workshop (meaning they would have a copy of my pipeline, with all of my tests and tools I have plugged into it, and they could make changes and install).

Questions:
1) does this tool only allow acces

[2018-08-16 16:28] christiankuhtz commented on #8654
Please open a support request for immediate assistance.

[2018-08-16 16:29] jleach commented on #13254
Thanks I appreciate the tip. I’m trying to get them into an Event Hub; I’ll see if I can adapt what you have.

[2018-08-16 16:30] ecfan commented on #13467
@neligajb Hi Boone, thanks for your feedback! Could you confirm whether this a feature request?

If yes, please visit the Logic Apps feedback site instead where the team reviews feature requests: https://feedback.azure.com/forums/287593-logic-apps

[2018-08-16 16:33] tfitzmac commented on #13254
This is what worked for me (but obviously you would need to change the names) -
hubid=$(az eventhubs eventhub show --name demohub --namespace-name tfhub0815 --resource-group hubgroup --query id --output tsv)
az eventgrid event-subscription create   --name mysubtohub   --endpoint-type eventhub   --endpoint $hubid

[2018-08-16 16:36] ecfan commented on #9848
@divyaswarnkar Hi Divya, has this issue been resolved?

[2018-08-16 16:38] ecfan commented on #13475
@Johns-305 Thanks for your feedback! We have a work item on our backlog to update this content.

#please-close

[2018-08-16 16:41] YutongTie-MSFT commented on #13506
@alokexe
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate

@heatherbshapiro Hi, can you please check this document enhancement idea and update the document as necessary? Thanks a lot!.

[2018-08-16 16:43] YutongTie-MSFT commented on #13522
@leakymutant Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@noellelacharite Hi, this is a document bug here, can you please check this issue and update the document as necessary? Thanks a lot!

[2018-08-16 16:47] YassineSOUABNI opened #13529 "Claims Transformation - Add case sensitivity operations"
[Dear, is it expected to see claims transformation related to claims case operations like toUpper or toLower ? or is it by design and should not be set ?
Thanks.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 195c79a3-ccc5-8c6a-233e-95e344a9b4df
* Version Independent ID: 401c7557-5817-bbd3-5bd8-8c97ef5a28cc
* Content:

[2018-08-16 16:49] MicahMcKittrick-MSFT commented on #13498
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-16 16:49] neligajb commented on #13467
Hi, sorry yes this is a feature request. I will add it to that area. Thanks

[2018-08-16 16:49] MicahMcKittrick-MSFT commented on #13497
Thanks for the question! We are investigating and will update you shortly.

[2018-08-16 16:51] MicahMcKittrick-MSFT commented on #13504
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-16 16:52] MicahMcKittrick-MSFT commented on #13508
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-16 16:53] MicahMcKittrick-MSFT commented on #13509
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-16 16:53] sergaz-msft commented on #13516
@payalgaikwad42  Thanks for the feedback! Did you try using "sudo iotedge list" ?

![image](https://user-images.githubusercontent.com/22173500/44222684-3fe8b780-a17d-11e8-9ed1-0438e9f28803.png)

Thank you.

[2018-08-16 16:54] MicahMcKittrick-MSFT commented on #13514
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-16 16:55] MicahMcKittrick-MSFT commented on #13518
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-16 16:56] #13001 closed

[2018-08-16 16:56] #13446 closed

[2018-08-16 16:57] MicahMcKittrick-MSFT commented on #13523
@vabed please provide us with the link to the doc you are referring to

[2018-08-16 16:58] easyj2j commented on #13522
See https://github.com/MicrosoftDocs/azure-docs/issues/13049

[2018-08-16 17:00] sergaz-msft commented on #13526
@IoTSolutionsArchitect thank you for your feedback! What is the step in the document that you are blocked with the described issue? Did you [check your firmware version ](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-arduino-iot-devkit-az3166-get-started#start-using-the-devkit) and [upgraded to the latest version](https://microsoft.github.io/azure-iot-developer-kit/docs/firmware-upgrading

[2018-08-16 17:01] Karishma-Tiwari-MSFT commented on #13260
@cynthn That's perfect. Thank you. :)
@smoms Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-16 17:01] #13260 closed

[2018-08-16 17:01] ecfan commented on #13467
@neligajb Thanks for the prompt response, Boone! :)

@BryanTrach-MSFT #please-close Thanks!

[2018-08-16 17:02] sergaz-msft commented on #13526
Also can you check what is the status of Visual Studio code on the bottom right?

It should be like this:

![image](https://user-images.githubusercontent.com/22173500/44223073-770b9880-a17e-11e8-9720-ffc7750ba42c.png)

Thank you!

[2018-08-16 17:03] mike-urnun-msft commented on #13502
@jeewannc Thank you for your feedback! Were you following a particular documentation? If so, could you link us the URL so that we can make sure your feedback is seen & addressed by right team?

[2018-08-16 17:07] mike-urnun-msft commented on #13352
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65a16702-87ad-4801-5171-f5e629661cb4
* Version Independent ID: bdd076dd-9b65-4054-b7f8-16e12e6a6f99
* Content: [Import a BACPAC file to create an Azure SQL database](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-import)
* Content Source: [articles/sql-dat

[2018-08-16 17:07] daveba commented on #13453
@MarileeTurscak-MSFT @Strozak  Thanks for the feedback.  I will create a backlog item to look into this and update this issue with my results.

[2018-08-16 17:08] YutongTie-MSFT commented on #13500
@MrRhino70
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-16 17:13] IoTSolutionsArchitect commented on #13526
Blocked at the section titled "Open the Project Folder". I did check the firmware version and upgraded to the latest (1.4.1). I do not see the "MXCHIP AZ3166" or COM port as I never get to the page displayed. That's the point... it never comes up when the 3166 is connected. The PC signals by audio when the AZ3166 is connected and shows the AZ3166 as a memory device. And if I separately open the Ar

[2018-08-16 17:14] mike-urnun-msft commented on #13496
@frankmatull Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2018-08-16 17:14] kevbry opened #13530 ""Scaled out event processing" link is broken"
In the "Note" section just before Next Steps, it appears that there is supposed to be a link to "Scaled out event processing" sample, but the link is not being rendered.
"...as shown in the [Scaled out event processing][Scaled out event processing] sample."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffc27b98-907f-c

[2018-08-16 17:15] rangv commented on #13526
@IoTSolutionsArchitect  If MXChip is not selected in the Picture above shown by Antonio and you see <Select Board Type>. Click on it and search for MXChip and select it like shown below

![mxchip1](https://user-images.githubusercontent.com/17085664/44223584-dba60380-a13c-11e8-831f-c6c3ae3c41b9.png)

Then type Control+P and type in >Arduino:Examples as shown below

![mxchip3](https://user-images.gi

[2018-08-16 17:17] IoTSolutionsArchitect commented on #13526
Let me correct that... I just hooked up the AZ3166 and it DOES show "MXCHIP AZ3166" and "COM4" in the lower right corner. But the intro page does not display.

[2018-08-16 17:17] mike-urnun-msft commented on #13512
@SalmaTofaily Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2018-08-16 17:18] #13321 closed

[2018-08-16 17:19] mike-urnun-msft commented on #13519
@SalmaTofaily Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2018-08-16 17:19] IoTSolutionsArchitect commented on #13526
It also shows <Select Programmer> to the left of "MXCHIP AZ3166" in the lower right corner of the screen.

[2018-08-16 17:25] rangv commented on #13526
Can you now type ControlP and enter >Arduino:Examples and press enter. You should see Examples for MXChip folder

[2018-08-16 17:25] heatherbshapiro commented on #13506
@YutongTie-MSFT There are no action items here.

[2018-08-16 17:30] kobulloc-MSFT commented on #13528
@shehackspurple Thank you for the feedback!  We are investigating this and will get back to your shortly.

[2018-08-16 17:32] johnmay1 opened #13531 "IOT Edge not sending data to IOT Hub"
Hello,

I have followed the getting started guide line by line and successfully installed and deployed iot edge device and temSensor simulator module. But not sending any data to IOT Hub. Please find below the respective queries and it's response.

PS C:\WINDOWS\system32&gt; iotedge list
NAME             STATUS           DESCRIPTION      CONFIG
tempSensor1      running          Up 29 seconds    mc

[2018-08-16 17:33] MicahMcKittrick-MSFT commented on #10150
@TomArcher I still can't seem to get it to run.

First when running this command I get the following:

[code]
Then when running the .yml file I get

[code]

If you follow the doc as written does it work for you? Maybe it is just something on my system. I am just using the Azure Cloud Shell

[2018-08-16 17:33] SaurabhSharma-MSFT commented on #13412
@akshaybabloo Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-08-16 17:33] MicahMcKittrick-MSFT commented on #12901
@haydenhancock I will close this for now. When ready feel free to come back and we can reopen and continue.

[2018-08-16 17:33] #12901 closed

[2018-08-16 17:36] MicahMcKittrick-MSFT commented on #13276
@lcanastreiro I will close this for now while we work offline. If needed we can reopen and modify the doc as needed.

[2018-08-16 17:36] #13276 closed

[2018-08-16 17:36] MicahMcKittrick-MSFT commented on #13354
@techiearun I will close this for now. If you need more information please let us know and we can repopen and continue.

[2018-08-16 17:36] #13354 closed

[2018-08-16 17:37] IoTSolutionsArchitect commented on #13526
Yes, I am able to see Arduino:Examples. But I get an error that "Cannot find Arduino IDE. Specify arduino.path in user settings. But the arduino.path is already set in user settings to "C:\\Program Files (x86)\\Arduino" and that is the correct arduino base directory. I have also tried opening and closing the Arduino IDE several times as suggested in the text, but that doesn't help.

[2018-08-16 17:38] ecfan commented on #9848
@divyaswarnkar Thanks, Divya! Although I don't think this is a doc issue anymore, so we should close this issue, but we could move the link for the filters higher in the topic, which I can do.

@middlewaysas If you want to reopen this issue, please post on the [Logic Apps MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azurelogicapps). Thanks!

@mike-urnun-msft Mike, #please-

[2018-08-16 17:40] MicahMcKittrick-MSFT commented on #13440
@girishgouda it sounds like the VM you are trying to apply DSC on is already tied to an automation account.

![image](https://user-images.githubusercontent.com/32313503/44224833-8835b480-a140-11e8-8b41-f95206b72622.png)

If you go to the portal and search for Automation accounts you can select an automation account and then select DSC

![image](https://user-images.githubusercontent.com/32313503/44

[2018-08-16 17:40] SnehaGunda commented on #13428
#please-close

[2018-08-16 17:40] MicahMcKittrick-MSFT commented on #13444
@jurjenoskam I will close this for now. If you need more information just let us know and we can reopen and continue.

[2018-08-16 17:40] #13444 closed

[2018-08-16 17:42] MicahMcKittrick-MSFT commented on #13451
@ggailey777 do you have any thoughts on this one?

[2018-08-16 17:43] IoTSolutionsArchitect commented on #13526
I have also tried several variants of the arduino.path specification with left and right slashes and double slashes, always with the same resulting error.

[2018-08-16 17:44] MicahMcKittrick-MSFT commented on #13490
@miaojiang if you go back to this doc and do a Control + F on this page you can search for "Staging". Everywhere you see that word in the code is where you should replace it with "Prod".

Looks like 3-4 places total.

[2018-08-16 17:45] mike-urnun-msft commented on #9848
@middlewaysas \We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-16 17:45] #9848 closed

[2018-08-16 17:48] TomArcher commented on #10150
@MicahMcKittrick-MSFT Thanks for the test. Let me try a few things and get back to you and @javiersoriano with my findings.

[2018-08-16 17:49] mike-urnun-msft commented on #13511
Hi @rifaterdemsahin Thank you for your feedback. Could you link us the URL of the documentation that this is applicable to? That way, we can make sure your feedback is addressed by right team.

[2018-08-16 17:51] rangv commented on #13526
Does it look like this? with \\

"arduino.path": "C:\\Program Files (x86)\\Arduino",

[2018-08-16 17:51] jfuller28495 opened #13532 "Linux events?"
Maybe I've missed something somewhere, but auto provisioning for the Microsoft Monitoring Agent seems to be mostly a Windows thing - What Linux OS versions are supported? What information is collected about Linux machines? Is it comparable to the Windows Event IDs that are tracked above?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2018-08-16 17:52] IoTSolutionsArchitect commented on #13526
Ah!!! Alas, it works! After setting the arduino.path variable to "C:/Program Files (x86)/Arduino" and restarting VS Code from scratch, it somehow works now. Not sure why it didn't work before, but apparently the changes that I was making to the User Settings for arduino.path weren't taking hold until I saved User Settings and completely restarted VS Code.

[2018-08-16 17:52] KumudD commented on #8654
@bearrito Please file a support ticket for immediate assistance. Thanks!

#please-close

[2018-08-16 17:53] mike-urnun-msft commented on #13517
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33219707-3b9f-cc6b-541e-a806dc82622a
* Version Independent ID: b4e96391-bcf9-1f30-cb44-ed339469da4f
* Content: [Azure Resource Manager resource provider operations](https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations)
* Content Sour

[2018-08-16 17:53] Brenduns commented on #13243
#in-progress
@aricbernard    I apologize for the lag in response, as I have been out of the office for several days. I am investigating this with our engineering team and hope to have an update soon.

[2018-08-16 17:54] IoTSolutionsArchitect commented on #13526
I still don't get the introduction page, but at least I can now get to the examples and hopefully proceed forward.

[2018-08-16 17:55] mrbullwinkle commented on #9472
Awesome, thank you! Sorry for the extreme delay checking back in on this one.

[2018-08-16 17:56] iainfoulds commented on #13159
@dc995 This extra screenshot on the successful notification has been added to make it clear as to what success looks like. This change should merge and publish later on today.

[2018-08-16 17:56] SerinaKaye commented on #13048
Actualllly….. I am not the expert here. Can you re-assign to @raymondlaghaeian ?

[2018-08-16 17:56] mrbullwinkle commented on #9472
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-08-16 17:56] mike-urnun-msft commented on #13517
@praveendhac Thank you for reporting this issue! We will review and share any relevant info.

[2018-08-16 17:58] #9472 closed

[2018-08-16 17:59] iainfoulds commented on #12825
@olistik Sorry for the broken link. This link has been corrected to point to https://docs.microsoft.com/en-us/azure/devops-project/overview, and the doc update should merge and publish later on on today.

[2018-08-16 18:01] #13159 closed

[2018-08-16 18:02] IoTSolutionsArchitect commented on #13526
And yes, in reply to your earlier message, originally that was the structure of the arduino.path setting. The final setting that seems to get me to the examples was to use:

"arduino.path": "C:/Program Files (x86)/Arduino"

Still no introduction page, but by hitting Ctrl-Shift-P, I can get to "Arduino Examples" and the "Examples for MXCHIP AZ3166" now shows up.

[2018-08-16 18:03] TravisCragg-MSFT commented on #13499
@cbellee Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-16 18:03] MicahMcKittrick-MSFT commented on #13497
1. Correct
2. platformFaultDomainCount will default to 1 for single-zone and cross-zone scale sets. Otherwise it will default to 5.
3. The number of fault domains in the link you provided is for VMs in Availability Sets. When using a scale set you are using placement groups rather than AV sets and the number of fault domains is 5 instead. https://docs.microsoft.com/en-us/azure/virtual-machine-scal

[2018-08-16 18:03] douglaslMS commented on #13383
@saulcruz For the properties of a SQL Server linked service, see [Copy data to and from SQL Server using Azure Data Factory | Linked service properties](https://docs.microsoft.com/en-us/azure/data-factory/connector-sql-server#linked-service-properties). Connection strings for other linked services are documented in separate pages for each service.

The easiest way to verify the correct connection

[2018-08-16 18:03] beaubgosse opened #13533 "Automated deployments of Data Gateway"
Is there any support for automated deployments of the data gateway? We would like to integrate this into our deployment pipeline so that the gateway can be rebuilt and re-deployed at the touch of a button. We would also like the configuration to be saved in source control and not need someone to know how to install this everytime we want to re-install it or patch it or move it. Thanks

---
#### Do

[2018-08-16 18:03] shawntabrizi commented on #13391
Hi @trevor-schmidt . Your question isn't that clear to me. Alert creation should be available to anyone with read/write access to the subscription. There are no special class of permissions which would allow one set of users to create activity log alerts and another group not to, assuming they both have write access to create objects in their subscription. Sharing visuals of the stuck loading scre

[2018-08-16 18:09] jeevansd commented on #13478
@tbebekis Step 3.a. should be the value of urn:federation:sharepoint everything else is correct.
Apologies for my previous wrong answer for 3.a.

[2018-08-16 18:09] rangv commented on #13526
Have you tried using Azure IoT Workbench extension in VSCode. You should try it if you have not yet. You get an introduction page and can select different samples from the introduction page

[2018-08-16 18:10] girishgouda commented on #13440
I have only one automation and one VM. Is it do with the registration key because I was giving that with the plain string? I will change it to secure string and give a try. Can you also try to replicate that from your end

On 16-Aug-2018 11:10 PM, Micah <notifications@github.com> wrote:

@girishgouda<https://github.com/girishgouda> it sounds like the VM you are trying to apply DSC on is already ti

[2018-08-16 18:11] #12825 closed

[2018-08-16 18:13] TravisCragg-MSFT commented on #8249
@stintel you can have 2 DNS zones in the same resource group, they just cannot also share the same name.

[2018-08-16 18:13] trevor-schmidt commented on #13391
![creating rule alert](https://user-images.githubusercontent.com/39771488/44226531-02246880-a156-11e8-8d88-2953301a8845.png)

The above is the issue we are having with users who are trying to create a service health alert for vms. Like stated earlier the user has monitoring contributer access, contributor access, and contributor supplement access which is our customer role which contains "Actions"

[2018-08-16 18:13] trevor-schmidt commented on #13391
The alert just spins and never gets created.

[2018-08-16 18:16] spelluru commented on #13528
@jkwon2013 - please look into it when you get a chance. Thanks.

[2018-08-16 18:18] rwike77 commented on #12313
The encryption articles were removed.  I've removed the text and links from this article.  #please-close

[2018-08-16 18:19] oozzzii commented on #13149
Billing Role works great for read only. We need something similar so this team can add/edit resources without mandatory resource tags.

[2018-08-16 18:20] codyrat opened #13534 "Load Balancer refers to public documentation"
The Load Balancer section refers to the public load balancer documentation, however, the Standard SKU is not currently supported in US Government. Can the documentation be updated to reflect this? In more general terms, when feature parity is not available in US Government is there an opportunity to reflect the specifics that may not be available in US Government?

---
#### Document Details

⚠ *Do

[2018-08-16 18:25] TravisCragg-MSFT commented on #10835
@bearrito There should not be an update needed for this. Logging on Standard LBs should be enabled by default. Here is a document explaining [Standard Load Balancer Logs and Metrics](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-standard-diagnostics).

[2018-08-16 18:25] #12313 closed

[2018-08-16 18:25] #12176 closed

[2018-08-16 18:25] CelesteDG commented on #13412
Hello @akshaybabloo - Thank you for the feedback. With regards to the Python sample, we can't list the it in the "Compatible client libraries" in the topic https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-v2-libraries because the topic is specific to the Azure AD v2.0 endpoint while the Phython sample only applies to the Azure AD v1.0 endpoint. We referenced the Python lib

[2018-08-16 18:26] CelesteDG commented on #13412
@SaurabhSharma-MSFT - Info is provided. #please-close

[2018-08-16 18:26] TravisCragg-MSFT commented on #8654
@obaidx We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-16 18:26] #8654 closed

[2018-08-16 18:29] vladvino commented on #12877
The name of the parameter identifying scope is identity server specific. This example is written for Azure AD.

[2018-08-16 18:32] jason-j-MSFT commented on #13414
@bwren I do not see a mention of the Logs (preview) blade, could you evaluate this?
![capture33](https://user-images.githubusercontent.com/37126381/44227640-fa5dc780-a147-11e8-9b0c-ff5d75f415fb.PNG)

[2018-08-16 18:35] jason-j-MSFT commented on #13416
@ranarah Have you looked here:
https://docs.microsoft.com/en-US/azure/data-factory/create-self-hosted-integration-runtime

If you don't see what you are looking for in that document, could you clarify what you are trying to reconfigure?  Thanks!

[2018-08-16 18:38] nikmd23 commented on #5633
We've published [the aforementioned document](https://github.com/MicrosoftDocs/azure-docs/issues/5633#issuecomment-373903239)! It's live at https://docs.microsoft.com/azure/application-insights/auto-collect-dependencies

[2018-08-16 18:39] Alberto-Vega-MSFT commented on #13428
@borys86 There are a couple alternatives for you to explore:

- Easiest one is the **scheduled refresh** for Power BI, you could schedule a daily refresh or as often as your need to. Just please be mindful that it will be querying your Cosmos DB, so as you do refresh more often it might incur in more Request Unit (RU) charges. You can learn more [Power BI Scheduled Refresh documentation](https://d

[2018-08-16 18:39] #13428 closed

[2018-08-16 18:39] IoTSolutionsArchitect commented on #13526
I tried using Azure IoT Workbench. Thought it would have been automatically installed as part of the installation script run earlier, but apparently not. Introduction screen is now working. (But now I'm chasing a new set of problems when the module couldn't program correctly under "Getting Started". Will have to keep plowing ahead. May have more questions later, but I think you can consider this p

[2018-08-16 18:44] nikmd23 commented on #5633
@joeyeng, I'll let @VaclavK correct me if they use the terms differently, but in general the word "telemetry" is more general than "logging". Telemetry is all manner of signals that you might expose from your application, and includes logs, metrics, traces, usage information and the like.

Logging is a specific type of telemetry.

You don't need to use `TelemetryClient` instead of `ILogger` - you

[2018-08-16 18:51] sergaz-msft commented on #13526
Thank you for reporting all the steps @IoTSolutionsArchitect it will help others for sure :).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-16 18:51] #13526 closed

[2018-08-16 18:56] frankmatull opened #13536 "Adding a Note about web.config File in Public Directory"
Thanks for the detailed instructions.  In the note about the added files: deployment, deploy.sh, composer.phar it would be helpful to also note the web.config file added to the Laravel public directory.  When I deployed my own app my routes weren't working.  I then saw I was missing that added web.config.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2018-08-16 18:58] joeyeng commented on #5633
@nikmd23 Okay, but I'm specifically interested in correlation. It appears TelemetryClient allows you to set correlation (OperationId), but ILogger doesn't. I'd prefer to use ILogger, but if correlation isn't supported then I can't.

[2018-08-16 19:02] MaWa19 commented on #13377
@sergaz-msft the error was the same as before..

@stevebus I guess the error was in fact related to the hostname. Currently I don't have a real DNS server since this is just an exemplary implementation for now. Today I got a little bit further and was able to establish a connection between the leaf device and the gateway using the owner certificate in /var/lib/iotedge/hsm/certs. However, I was sti

[2018-08-16 19:03] MohitGargMSFT commented on #13361
@Yvand Great! I see that your query has been responded in MSDN. We continue to work with you through above MSDN Thread.

We will now proceed to close this GitHub issue. Thanks.

[2018-08-16 19:03] #13361 closed

[2018-08-16 19:04] GrantMeStrength opened #13537 "App does not work as expected"
When the app is relaunched after some data has been added, the first thing it does is delete every item. I suspect this is a mistake. (This happens with the Swift version on the emulator running iOS 11.4, in  Xcode  9.4.1).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 312c8a1a-d55e-26da-699b-6ae9bb4f6ca7
* Version In

[2018-08-16 19:09] GrantMeStrength commented on #13537
(also the image of the iPhone is about 8 years old?)

[2018-08-16 19:13] AjkayAlan opened #13538 "AMQP .NET: Broken Anchor Link"
Priority: Minor
Type: Broken Link

Looks like https://github.com/MicrosoftDocs/azure-docs/commit/ed466dcd1b4f3a690d08f04288cb48f98ac37003 is what changed the header, so change line 28 from:

[code]

to

[code]

Potentially reword as well since the heading no longer has "unsupported features" in it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2018-08-16 19:28] douglaslMS commented on #13383
@saulcruz Thanks for the info. This is not something that I've experimented with personally. Are you saying that if you create the linked service in the UI and generate an ARM template for it, that the connection string doesn't work? Or simply that the format isn't identical?

[2018-08-16 19:29] Mart-Bogdan commented on #12749
@kazshi it's seems fixed now, by @CarlRabeler

Now documentation is clear, from my perspective.

[2018-08-16 19:33] kvaes opened #13541 "Link between minimum storage & performance"
"Min storage size 	32 GB
...
Expected storage IOPS 	500-7500 IOPS per data file (depends on data file). See Premium Storage"

The premium disk of 32GB "only" has 120 IOPS. How does this relate to the starting point of 500 IOPS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28ca1f7f-5a34-0f23-10ce-3ff24c76db97
* Versio

[2018-08-16 19:35] saulcruz commented on #13383
The format isn't identical, it looks like this:

[code]

[2018-08-16 19:39] douglaslMS commented on #13383
@saulcruz Uh ... I see. Let me ask for clarification about the advice that was passed on to me.

[2018-08-16 19:41] sethmanheim commented on #13538
@AjkayAlan Thank you so much for catching this! I have just filed a pull request with the fixed link. It should go live this afternoon or tomorrow morning latest. Thank you again for the contribution. #please-close

[2018-08-16 19:44] AjkayAlan commented on #13538
Thanks!

[2018-08-16 19:44] #13538 closed

[2018-08-16 19:45] mapoitras opened #13542 "How to Specify custom port using Logic Apps with SQL Connector and on-prem data gateway"
How do we specify custom port when using Logic App SQL Server connection and on-prem data gateway?  We have tried specifying SQL Server name as “server, port” and "server:port" but we are still getting errors.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e190390-dc83-246e-3e69-189f33d67ed7
* Version Independent ID:

[2018-08-16 19:46] Ayanmullick opened #13543 "Marketplace product managed disk re-usability requires Azure Plan information"
This gives the below error
`New-AzureRmVM -VM $VirtualMachine -ResourceGroupName $resourceGroupName -Location $snapshot.Location
New-AzureRmVM : Object reference not set to an instance of an object.`

I had faced the above issue earlier as well and successfully resolved it adding the `-StorageAccountType` parameter. Refer below link

https://github.com/Azure/azure-powershell/issues/6847

But now I

[2018-08-16 19:46] mekkimuyeeb opened #13544 "LDAP Integration"
Our Cisco ASA uses ldap as the authentication method. Does the cloud based MFA support that instead of radius?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a61a7e9a-44bf-7bdc-f810-87e2fd6792e1
* Version Independent ID: 71d11105-b83e-952e-d107-1ff9a7c8d107
* Content: [Use existing NPS servers to provide Azure MFA capa

[2018-08-16 19:47] d3r3kk commented on #6988
I'd say that if you haven't gotten any extra votes (the thumbs-up thing, or +1, or otherwise) on the issue it's not a high priority, at least at the moment.

I'd say close it out and if it comes up again deal with it then.

[2018-08-16 19:49] mrbullwinkle commented on #6988
@d3r3kk Sounds good, thanks again!

[2018-08-16 19:50] Adam-Smith-MSFT commented on #13033
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-16 19:50] #13033 closed

[2018-08-16 19:50] mrbullwinkle commented on #6988
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-08-16 19:53] stevebus commented on #13377
This is an implementation detail that is always subject to change, but regarding how the certs are related....   the certificate that you create with the certGen create_edge_device_cert command actually created an intermediate certificate.   That intermediate certificate, which really you can think of as being a 'machine level' cert is used, by the iotedge runtime (specifically, the iotedge daemon

[2018-08-16 20:01] #6988 closed

[2018-08-16 20:11] iainfoulds commented on #11265
@JackQuincy Is there additional engineering work on-going here, or any doc updates required. If not, we can close this out.

[2018-08-16 20:12] curtand commented on #13470
Hi @DeanGross
@SaurabhSharma-MSFT

I'm in the process of doing this now. I'm off work all next week and will finish as soon as I can after that.

[2018-08-16 20:14] miaojiang commented on #13490
Thanks @MicahMcKittrick-MSFT, I tried it but it didnt work. A few more detailed questions:

1. Do I need to install another cert-manager using helm, with issuer-name = letsencrypt-prod?
2. In the cluster-issuer.yaml, what's the server URL for prod letsencrypt?

[2018-08-16 20:14] tbebekis commented on #13478
@jeevansd

It was not a wrong answer, I believe.

Searching this URN issue a little bit more Ι found that

1. The syntax of a URN is urn:NID:NSS
see: https://en.wikipedia.org/wiki/Uniform_Resource_Name
There are two more, optional, components in URN, right after NSS, not needed in our case.

2. NID (Namespace IDentifier) may include letters, digits, and -

3. NSS (Namespace Specific String) may in

[2018-08-16 20:16] curtand commented on #13370
Hi @gtimread
@MohitGargMSFT

I'm working on this information now. I will be out of the office next week (8/20-24) and will publish an update after that.

[2018-08-16 20:28] theangellmethod opened #13545 "C module container registry instructions differ from others"
Functions, C#, Node.js and Python tutorials tell how to set up the container in the portal.  C tutorial gives CLI instructions.  Should these align?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbadb895-ea0b-0415-de1d-f40252981a5b
* Version Independent ID: f1180113-16a7-8be2-f8ca-d318160d38ce
* Content: [Azure IoT Ed

[2018-08-16 20:34] rocifier commented on #12617
Hi, just wondering if anyone had time to look at this yet? I have started my implementation but am still confused about the exact flow of method invocations when using reentrancy. I am also confused why you would want to disable reentrancy resulting in an exception instead, when you would presumably be calling back into the same actor for a reason.

[2018-08-16 20:34] GrantMeStrength commented on #13537
Maybe if you photoshop'd some color on it ;-)

OK. I then definitely might be expecting too much from such a simple sample (and it's really cool how it is constructed for me on the fly using my database details - impressive), but it seems weird that the first thing it does on launch is nuke the existing database, thus making it appear that it's not actually saving anything at all to a remote servi

[2018-08-16 20:36] #11265 closed

[2018-08-16 20:38] theangellmethod opened #13546 "properties.desired for deployment.template.json missing?"
The other tutorials give an instruction for updating the module twin with:

        "properties.desired":{
            "TemperatureThreshold":25
        }

This tutorial is missing that step.  Should it be there or should it not be in the others?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7852968-3c54-5584-df91-b0

[2018-08-16 20:38] j-martens commented on #12503
@XianghanWang

Did you perhaps click on that url expecting that the processed dataset would be downloaded automatically, but instead got some error message like below. This link is just the blob storage container and will not give us the dataset. We need to run the notebook or Python script to get the dataset.
![image](https://user-images.githubusercontent.com/8481597/44233685-31dd6b80-a16a-11e8-9

[2018-08-16 20:40] femsulu commented on #13525
@shehackspurple There are no extra costs associated to Custom roles. Hope this answers your question. Please ping if you have any follow-up questions. We will now close this thread.

@rolyon  - FYI

[2018-08-16 20:40] #13525 closed

[2018-08-16 20:41] evshieh-msft commented on #13415
Thank you!

[2018-08-16 20:43] conceptdev commented on #13537
I'll need to refresh my memory on the details, been a while since I looked at it. I will post an update here when I've fact-checked.

That link is definitely weird - I might have to get another team to fix that, but thanks for the heads-up!

[2018-08-16 20:46] theangellmethod commented on #13323
@kgremban  - I'm sorry, I double checked and missed some differences the first time by not comparing with the Functions tutorial enough:
1) Azure Functions tutorial has a screenshot of the overall architecture at the top that the others are missing.
2) Azure Functions tutorial for 'Create a Container Registry' section includes a screenshot and instructions in a different (table) format in step 2.

[2018-08-16 20:46] jleach opened #13547 "Wrong log name?"
Hey, I think in the section "Set up and Event Hubs namespace" bullet point 6 the log name is actually `insights-operational-logs` not `insights-logs-operationallogs.`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2258670a-245c-ede4-5805-a07e589d5f13
* Version Independent ID: 136e5653-2eae-8fa5-ded2-116254acf792
* Con

[2018-08-16 20:47] femsulu commented on #12679
@vsnboda We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-08-16 20:47] #12679 closed

[2018-08-16 20:50] MicahMcKittrick-MSFT commented on #13498
@gfilicetti I followed the doc and was able to get it working without any errors

![image](https://user-images.githubusercontent.com/32313503/44234276-1028b800-a15b-11e8-8a68-e6e8395a6e98.png)

![image](https://user-images.githubusercontent.com/32313503/44234254-030bc900-a15b-11e8-95eb-5914230a4a69.png)

If I had to guess you might have not created the hello-world-ingress.yaml correctly

https://d

[2018-08-16 20:51] GrantMeStrength commented on #13537
Thanks!

[2018-08-16 20:52] femsulu commented on #13534
@codyrat Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

assigning to @gsacavdm for now as I am unable to resolve+assign to @jawalte in GitHub.

[2018-08-16 20:57] Ayanmullick commented on #13543
I noticed that the original disk was `Standard_LRS` I created the snapshot in the Premium tier.  I switched everything over to `-StorageAccountType Standard_LRS` and now I get the below error.

`ErrorCode: VMMarketplaceInvalidInput
ErrorMessage: Creating a virtual machine from Marketplace image requires Plan information in the request. VM: '/subscriptions/<>/resourceGroups/NLGSUSDVMoveItRG1/provid

[2018-08-16 20:57] MicahMcKittrick-MSFT commented on #13490
1. Yes
2.
![image](https://user-images.githubusercontent.com/32313503/44234790-4ca8e380-a15c-11e8-9cc7-43a63020272a.png)

[2018-08-16 21:00] XianghanWang commented on #12503
Thanks for your reply, Josée.

I ran the script inside Azure machine learning workbench. Also tried to change the shared_path to ‘./’. No luck.
[cid:image001.png@01D43569.2EE14360]

Running: ['python', 'azureml-setup/run_script.py', 'python', 'azureml-setup/history_injector.py', 'Code/documentAnalysis/preprocessText.py']
<urlopen error [WinError 10060] A connection attempt failed because the conne

[2018-08-16 21:02] theangellmethod commented on #13397
I do but I'm not sure when to use the quick edit if I have an opinion (as opposed to fixing a typo) and in the event I make the edit across multiple docs for this kind of thing (because there are different language tutorials) and they all get rejected or some accepted/some rejected then it adds complexity to go back and resolve each one individually.

[2018-08-16 21:06] #13314 closed

[2018-08-16 21:07] roygara commented on #12344
Hello @Johns-305 , we've merged a change addressing this. It should be live later today. Thanks again for bringing this up!

#please-close

[2018-08-16 21:10] priyamohanram commented on #13010
@Nilis312 : Thank you for your patience, I just received word from our product team. Currently, we don’t support Azure AD activity log integration with QRadar. Our partners at IBM/QRadar are working to enable the integration, and you can reach out to them directly to get an ETA. In the meantime you can access the logs using the [Event Hubs API](https://docs.microsoft.com/en-us/azure/event-hubs/eve

[2018-08-16 21:13] nmallick1 opened #13548 "Incorrect information in the document"
1. The Note above says customers need to update the bindings manually whether the certificate is issued manually or renewed automatically. This is incorrect. For certificates that have AutoRenew set, the bindings update on their own without the need of additional action.

2. The date in statement "Because of a change in GoDaddy policy, all App Service certificates issued prior to March 1, 2018 " i

[2018-08-16 21:17] Karishma-Tiwari-MSFT commented on #12617
@vturecek @dkkapur Can either of you please chime in on this one and share your insights.

[2018-08-16 21:18] cynthn commented on #7715
@mganeshphani thanks for the feedback! I added in a sentence in the introduction of the article  that explicitly says that  you can have multiple NICs attached to multiple subnets, but they must all be in the same vNet.

#please-close

[2018-08-16 21:26] #12344 closed

[2018-08-16 21:26] #7715 closed

[2018-08-16 21:26] TylerMSFT commented on #13222
The dev team took look at this and there are two issues:
- The choice of the ServiceName environment variable is problematic if you deploy to Azure because it gets overwritten. I've updated both the sample and the tutorial to use a different environment variable name.
- There is currently an issue: if the Host IP address changes, the background service can't be reached. I've documented the workaro

[2018-08-16 21:27] TylerMSFT commented on #12261
The dev team took look at this and there are two issues:
- The choice of the ServiceName environment variable is problematic if you deploy to Azure because it gets overwritten. I've updated both the sample and the tutorial to use a different environment variable name.
- There is currently an issue: if the Host IP address changes, the background service can't be reached. I've documented the workaro

[2018-08-16 21:28] priyamohanram commented on #11920
@brownken : Thank you for the update! I am glad to hear you were able to get the filter to work. I assume that resolves this issue, feel free to open a new issue if you have any further questions.

#please-close

[2018-08-16 21:29] MicahMcKittrick-MSFT commented on #13504
Can you rerun the run command and enable debugging

`mvn azure-functions:run -X`

That way we can see if we can get some more details on the issue.

[2018-08-16 21:31] TylerMSFT commented on #12074
The dev team took look at this and there are two issues:
- The choice of the ServiceName environment variable is problematic if you deploy to Azure because it gets overwritten. I've updated both the sample and the tutorial to use a different environment variable name.
- There is currently an issue: if the Host IP address changes, the background service can't be reached. I've documented the workaro

[2018-08-16 21:31] MicahMcKittrick-MSFT commented on #13508
@mnp3 thanks for pointing this out.

As the article states this doc is not specifically written for Windows 7

![image](https://user-images.githubusercontent.com/32313503/44236209-0b670280-a161-11e8-87d4-789f713b171a.png)

I will close this as there is no action on the doc. I appreciate you bringing this up however.

[2018-08-16 21:31] #13508 closed

[2018-08-16 21:34] MicahMcKittrick-MSFT commented on #13509
Thanks @gopalvithal

I have assigned this to the content author to review and see if it makes sense to add this information to the doc.

[2018-08-16 21:36] MicahMcKittrick-MSFT commented on #13514
@piizei I ran through this doc today on another issue #13514 but did not see any problems.

Are you getting any specific errors?

[2018-08-16 21:40] datarelish opened #13549 "Azure Cosmos DB data is inaccessible and the full master key isn't accessible unless you reduce browser size down"
[Enter feedback here]
The advertised URL for the sample Azure Cosmos DB leads to the site https://analytics.documents.azure.com/ which is currently down.

The Read Only Key is extremely lengthy and it’s only possible to copy the full thing IF you reduce the zoom on your browser to 75% or less.
So, even if the demo Azure CosmosDB instance is working, people attempting the tutorial will get stuck if

[2018-08-16 21:41] vasivara-MSFT commented on #13515
@hiteshtulsani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-16 21:44] nikmd23 commented on #5633
Ah, correct. ILogger does not allow for correlation. You could write a wrapper that calls both.

[2018-08-16 21:46] tbebekis opened #13550 "Variable $map4 is not included in -ClaimsMappings param of the New-SPTrustedIdentityTokenIssuer call"
In the PowerShell script, the one that configures the trusted identity provider for SharePoint, there is a variable named $map4. Obviously the intention is to map the "emailaddress" incoming claim to the same-named local one.

For some reason that $map4 variable is not included in -ClaimsMappings parameter of the New-SPTrustedIdentityTokenIssuer call, in the next line. Could you please add it?

Al

[2018-08-16 21:48] saulcruz commented on #13383
Correct, I understand why this is parameterized as much as possible, thanks a lot though for taking the time to look this up, your link really solved my problem @douglaslMS

[2018-08-16 21:50] cynthn commented on #13194
@Karishma-Tiwari-MSFT is your response intended for a different issue? It seems like it isn't answering the original question.

The docs already cover the fact that you can't add a VM to an AV set after it is created... but I don't think that is what this issue is about? It sounds like it is more about update domains.

[2018-08-16 21:51] cynthn commented on #12843
@SteveL-CXP Did you file a PR? I might have missed the notification....

[2018-08-16 21:56] priyamohanram commented on #12071
@bmilbauer : Thank you for the feedback! I am checking with the product team about this, and I will update this issue with more information shortly.

#in-progress

[2018-08-16 21:59] ShubhaVijayasarathy commented on #12297
@bearrito yes you are right. As more instances get added and more leases are grabbed, EPH eventually balances the load among all consumers.

[2018-08-16 22:05] mike-urnun-msft commented on #13432
@mchudinov Just checking back in here again. Please let us know of the URL of the particular documentation you were providing this feedback to so we can ensure your feedback is addressed by the right team.

[2018-08-16 22:06] cynthn commented on #11826
@BartoszPorebski thanks again for the feedback! I've added the following warning to the doc:
---------
WARNING

If you use the VMAccess Extension to reset the password of your VM after installing the AAD Login Extension for Linux, you will need to rerun the AAD Login Extension for Linux to re-enable AAD Login for your VM.
-----------

#please-close

[2018-08-16 22:07] jonwbstr commented on #13203
Hmm, it appears my two separate issues may have been merged together by
mistake.

First issue, NTP not working in AAD:DS. this is a product question
Second issue, instructions unclear. this is document improvement feedback

Where do we stand with the NTP instructions and AAD:DS?
I contacted Azure support who created an ICM regarding this topic and was
told that the NTP extension does not support A

[2018-08-16 22:15] eqmwright opened #13554 "One-Time Code and Authenticator"
We have our AAD accounts tied to Microsoft Authenticator and are wondering if it will be possible for the SSH login to tie to that more natively without requiring the login at https://microsoft.com/devicelogin.

Additionally, we're curious to know the release status of this feature. As-is we're very interested in integrating it with our production environment. This is fantastic so far! Thanks!

--

[2018-08-16 22:16] johnpapa commented on #13373
When i look in the portal and use `az webapp up` it creates node 8.9 these days. @ahmedelnably  might be able to clear this up tho.

[2018-08-16 22:16] miaojiang commented on #13490
Thanks @MicahMcKittrick-MSFT. I deleted the cert-manager and reinstalled it using helm, also replaced everything with prod. I am still facing the same issue. any thoughts?

[2018-08-16 22:18] heatherita711 opened #13555 "Unable to use localRun.DoRun"
After adding LocalRunHelper.exe as a reference to my project if I try to call DoRun I get an error about not able to find RuntimePath.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af6846ac-9f45-b43f-97e8-a56fb533615f
* Version Independent ID: adea2af1-2c76-daac-bab0-dc049f67bf10
* Content: [Run and test U-SQL jobs lo

[2018-08-16 22:30] ahmedelnably commented on #13373
@cephalin the windows version returning 8.1, is actually a backend bug that is being fixed now (the highest node version in windows is 8.11 (you can check it through kudu)

@johnpapa `az webapp up`  defaults to node 8.9 if package.json doesn't have a node version (I think we should change it to 8.11 which is the current LTS)

[2018-08-16 22:31] suhuruli commented on #13070
Hi,

if you are purely using Docker Compose, this cannot be achieved today as we do not support adding retention policy tags through compose!

Sorry :(

[2018-08-16 22:37] heatherita711 commented on #13555
Of course after submitting this I got it to work but my next question: Is there a way to get the contents of the runtime folder to automatically copy to the working directory? I have not found a way to get the whole directory there.

[2018-08-16 22:41] shawntabrizi commented on #13391
@trevor-schmidt but it works for a user will full subscription contributor access?

[2018-08-16 22:42] #11826 closed

[2018-08-16 22:43] MohitGargMSFT commented on #13505
@bingosummer @bingosummer You are correct in your understanding that the retry logic will kick in if first attempt fails. Then if max retry is set to 5 and exponentialbackoff strategy is used, then last attempt will be at a delay of ~30 sec.

The maxBackoff setting, to my understanding, is an option to set to specify max delay value be in place irrespective of max retry count. So in case, max back

[2018-08-16 22:53] Jann-Skotdal commented on #12974
@taksd The page is now updated to clarify how you can use customization with V3. Thank you very much for your product feedback as well!

[2018-08-16 22:55] MicahMcKittrick-MSFT commented on #13543
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-16 22:56] MicahMcKittrick-MSFT commented on #13554
Thanks for the question! We are investigating and will update you shortly.

[2018-08-16 23:01] johnpapa commented on #13373
agreed that we should move to 8.11

the key is a sweep of all docs, either way, IMO

[2018-08-16 23:06] MohitGargMSFT commented on #13529
@YassineSOUABNI Please note that possible transformation method are listed in this [table](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-claims-mapping#table-4-transformation-methods-and-expected-inputs-and-outputs). Any other other method including toUpper or toLower is not possible.

[2018-08-16 23:10] femsulu commented on #13379
@jdogg89 Just checking if the above helped or if you need further assistance. Please don't hesitate to  ping if you have any followup questions.

[2018-08-16 23:11] mikeper12 opened #13556 "Azure Marketplace and AppSource publishing guide"
I see the detail in this article regarding Marketplace but nothing regarding the requirements and benefits of Microsoft AppSource. Can you provide more detail?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7733e992-48c0-0f31-d9c4-8303064d63cc
* Version Independent ID: 609d9b6e-03d6-a8d8-3b86-6ca7021dba44
* Content: [A

[2018-08-16 23:13] YutongTie-MSFT commented on #12974
@taksd We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-16 23:13] #12974 closed

[2018-08-16 23:13] SaurabhSharma-MSFT commented on #13438
@agordeev  To receive a refresh token in a token response your application must request the "offline_access" scope.  Refer to [Scopes, permissions, and consent in the Azure Active Directory v2.0 endpoint](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#offlineaccess).  Also, the same has been mentioned under the success response section of [Refresh the ac

[2018-08-16 23:14] YutongTie-MSFT commented on #13048
@SerinaKaye Sure.

@raymondlaghaeian Hi, can you please help with this? Thanks a lot!

[2018-08-16 23:14] MohitGargMSFT commented on #13532
@jfuller28495 Please refer to manual agent installation documentation - [Learn how to install the Microsoft Monitoring Agent extension](https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-quick-collect-azurevm#enable-the-log-analytics-vm-extension). In this document refer to this section - [Data collection from Linux VM](https://docs.microsoft.com/en-us/azure/log-analytics/log-analy

[2018-08-16 23:14] #13158 closed

[2018-08-16 23:15] YutongTie-MSFT commented on #13197
@sodafatty We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-16 23:17] MohitGargMSFT commented on #13550
@tbebekis Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-16 23:18] YutongTie-MSFT commented on #13506
@heatherbshapiro Sorry for wrong label, it's a kudos!

[2018-08-16 23:18] #13506 closed

[2018-08-16 23:25] dcbrown16 commented on #13194
@cynthn @Karishma-Tiwari-MSFT
Thanks, yes I'm not 100% sure if the fact that VMs can only go into AVs at creation also determines the update domains. How can we increase the number of update domains after creation?
And what happens if there is a conflict in the number specified from the AV (apparently up to 20) and the scale set (fixed at 5)?
Thanks!

[2018-08-16 23:25] YutongTie-MSFT commented on #11058
@Omink
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-16 23:25] #11058 closed

[2018-08-16 23:27] YutongTie-MSFT commented on #11033
@anarchitect
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-16 23:27] #11033 closed

[2018-08-16 23:27] Ayanmullick commented on #13543
Could you try deploying the 'Moveit Transfer' VM from the marketplace and using its managed disk's snapshot to create another VM.

[2018-08-16 23:35] KeiroKamioka0000 commented on #13486
I think..... this could be bug of the portal
I've tested with my environment.

When the language is in English it seems like I can promote it
![image](https://user-images.githubusercontent.com/37641695/44240214-f181eb80-a171-11e8-8b03-21f31f62536a.png)

However, when the language is in Japanese..... I can't promote it.
![image](https://user-images.githubusercontent.com/37641695/44240305-53daec00-a

[2018-08-16 23:36] rezangit commented on #9084
I have the same problem so after I deployed the example java code to Azure, and trying to run it, It shows this message.<h2>500 - The request timed out.</h2></font>  The web server failed to respond within the specified time.</body></html>. any news here

[2018-08-16 23:36] YutongTie-MSFT commented on #12213
@topekTopperson Sorry for the delay, I will contact the author again.

[2018-08-16 23:37] YutongTie-MSFT commented on #12546
@thisiszw
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-16 23:37] #12546 closed

[2018-08-16 23:38] YutongTie-MSFT commented on #12469
@thisiszw
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-16 23:38] #12469 closed

[2018-08-16 23:38] YutongTie-MSFT commented on #12464
@sanjeev3
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-16 23:38] #12464 closed

[2018-08-16 23:40] femsulu commented on #13547
@jleach Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-16 23:41] StarkCaptain opened #13557 "Assigning RBAC Roles via Powershell or azure cli"
Is it possible to assign RBAC roles to management groups via powershell or the azure cli? I don't see this clearly defined anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1527b80e-5270-b5f0-9034-747c6f92ae4e
* Version Independent ID: 50b9882c-dcb0-ecc1-241b-1361ad2fff1e
* Content: [Organize your resources with

[2018-08-16 23:44] MirzaSikander opened #13558 "Azure CLI command does not work anymore."
[code]

This command does not work anymore seems like. I am getting
`Failed to find the latest version for the extension "Microsoft.Powershell.DSC"`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2e15d16-5405-f4e9-e899-d4c74e418cad
* Version Independent ID: 00474e00-329e-772d-da02-c82c2c7a455a
* Content: [Azure Desire

[2018-08-16 23:45] jason-j-MSFT commented on #13530
@kevbry
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-16 23:46] jason-j-MSFT commented on #13555
@heatherita711
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-16 23:47] DanielJBrown opened #13559 "Powershell"
I got errors when trying to use those parameters for the New-SelfSignedCertificate commnad.
I had to use
New-SelfSignedCertificate -DnsName *.contoso100.com -CertStoreLocation "cert:\LocalMachine\My"
because the other parameters gave errors about not being valid parameters.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2018-08-16 23:52] MarileeTurscak-MSFT commented on #13544
Yes, the MFA server can act as an LDAP proxy to perform authentications.  Have you visited this document? https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfaserver-dir-ldap

Let me know if this helps.

[2018-08-16 23:53] TravisCragg-MSFT commented on #13521
@GeekActual Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-16 23:54] SaurabhSharma-MSFT commented on #13473
@ajhstn For audit logs and other Azure AD sign-in reports you can use Security Reader role. For OMS and Log analytics you can assign "Log Analytics Reader" access to the user.

[2018-08-16 23:54] TravisCragg-MSFT commented on #13531
@johnmay1 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-16 23:56] rondelzer opened #13560 "C# sample uses the wrong encoding for the signature"
The documentation states that the UTF8 encoding of the signature message should be used when computing the signature, the C# sample uses System.Text.ASCIIEncoding.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1295e1b3-5aed-3aee-4331-8b81e7a7e544
* Version Independent ID: 3c00a5ee-7093-1e8b-9004-8fed3f82960e
* Content

[2018-08-17 00:02] Grace-MacJones-MSFT commented on #13536
@frankmatull Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-08-17 00:04] TravisCragg-MSFT commented on #13533
@beaubgosse Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-17 00:05] SaurabhSharma-MSFT commented on #13480
@ajhstn  Monitoring blade is part of Azure Monitor feature of Azure and it generate alerts associated with health and performance of the resource whereas security center alerts are security threats to your resources. like RDP brute force attacks, sql injection attacks etc.

[2018-08-17 00:06] TravisCragg-MSFT commented on #13541
@kvaes Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-17 00:07] TravisCragg-MSFT commented on #13542
@mapoitras can you please share a link to the document you are referring to?

[2018-08-17 00:13] dcbrown16 commented on #13497
@MicahMcKittrick-MSFT , thanks as always.
I thought the function of fault domains within a placement group was essentially the same as their function in an AV set, so I'm not entirely clear as to why different numbers are available, but it sounds like more of a business decision than a technical limitation, so I'm satisfied for now. Closing :)

[2018-08-17 00:13] #13497 closed

[2018-08-17 00:13] Grace-MacJones-MSFT commented on #13548
@nmallick1 Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-08-17 00:30] Alberto-Vega-MSFT commented on #13454
A couple of extracts from the docs that should help:

"*[Azure SQL Database Managed Instance](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance) is designed for customers looking to migrate a large number of apps from on-premises or IaaS, self-built, or ISV provided environment to fully managed PaaS cloud environment, with as low migration effort as possible.*"

"*[

[2018-08-17 00:34] kazshi commented on #12749
@CarlRabeler @Mart-Bogdan I can see the change for Storage (I wasn't aware of it) but I don't see any changes for "Memory" ('5.5 GB per core' is correct?)

[2018-08-17 00:44] KeiroKamioka0000 opened #13561 "Please fix dead link"
https://docs.microsoft.com/en-us/azure/log-analytics/query-language/search-queries#next-steps
The following URL &lt;http://http//docs.loganalytics.io&gt; is not working, please fix to &lt;https://docs.loganalytics.io/index&gt; or appropriate URL please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: deb37cee-0e7c-06ad-

[2018-08-17 00:55] cynthn commented on #12010
@mganeshphani thanks again for the feedback! I'm sorry it has taken me so long to respond. I'm going to have this Issue closed out for now. I'm probably not going to be able to work on the VMSS article for a while. The information you have given me should make it fairly simple, once I have the time to tackle it :)

#please-close

[2018-08-17 00:58] dcbrown16 commented on #13194
Can the change only be made with REST API calls? I don't see any options in the portal or PowerShell as mentioned, but I found this.
https://docs.microsoft.com/en-us/rest/api/compute/availabilitysets/createorupdate

[2018-08-17 01:18] MirzaSikander opened #13563 "Instructions need updating"
Some instructions need updating. Like under `Import the configuration` heading. There is no option any more called `DSC configurations`. It is called `State Configuration (DSC)`. Also `Add a Configuration` is changed to `Compose configuration`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 014371fb-2cac-c9af-804d-8444

[2018-08-17 01:20] WhitWaldo opened #13564 "Sample script has an inaccurate line within the "Configure Log Analytics..." section"
The powershell script in the "Configure Log Analytics to collect and view Service Fabric logs" has an incorrect line. Within the Select-StorageAccount function, there exists the following line:

   $storageAccountsToCheck = $allResources.Where({($_.ResourceType -eq "Microsoft.Storage/storageAccounts") -and ($_.ResourceName -in $storageAccountList)})

This is incorrect, as it will not yield any res

[2018-08-17 01:35] Alberto-Vega-MSFT commented on #13521
@wesmc7777 Are you referencing the line inside the **Note**?  `<processModel minIoThreads="50"/>`

[2018-08-17 01:37] winterTTr commented on #11893
@hukun01  just got some information from key vault team.

So that seems like we have to manually put the versioned certificate url into the template or using some other way to workaround this.

[2018-08-17 01:38] dcbrown16 opened #13565 "Requirement for 2+ fault domains?"
This is a separate set of questions and customer from my other question so I'm opening another thread.
I understand that 1 fault domain would not satisfy the conditions for SLA, but a customer wanted to know if it was possible to place several servers in the same fault domain anyway (hoping for latency improvements, that are probably better addressed by high-speed networking).
When I attempted to

[2018-08-17 01:39] rajeevac opened #13566 "Dark theme does not show the query plan images correctly"
Selecting the dark them makes the query plan images above render with a black background, which makes the diagram illegible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8861a34a-7684-3032-b4be-46c470f4b862
* Version Independent ID: 04581fa9-6af6-f6b9-5946-16223a387b42
* Content: [Azure SQL Database performance tunin

[2018-08-17 01:51] gmoed opened #13567 "Primary NIC not set properly"
When script runs on a VM with multiple NICs the primary nic is not set to true and it fails creating the machine, this can be fixed modifying the for loop with

foreach ($nic in $originalVM.NetworkProfile.NetworkInterfaces) {
        if ($nic.Primary) {
            Add-AzureRmVMNetworkInterface -VM $newVM -Id $nic.Id -Primary
        }
        else{
            Add-AzureRmVMNetworkInterface -VM $n

[2018-08-17 02:01] pythianchaves opened #13568 "Custom roles link is broken"
The link for "custom roles" is broken: https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles.md

This might be because the feature has not been implemented during the preview yet or the link is wrong. If there is just no material yet, I suggest removing the link and clarifying that custom roles are not available yet.

---
#### Document Details

⚠ *Do not edit this section.

[2018-08-17 02:10] sodafatty commented on #13197
![image](https://user-images.githubusercontent.com/25497029/44244203-58041980-a205-11e8-8637-db51be9a643f.png)
I can't find the sentiment analysis in this Luis App which language is zh_CN

[2018-08-17 02:11] MirzaSikander opened #13569 "Credential assets instructions are incorrect."
This instructions for the (Credential Assets)[https://docs.microsoft.com/en-us/azure/automation/automation-dsc-compile#credential-assets] paragraph do not work as is.

I get the following error:
'''
The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: The term 'Get-AutomationRmAutomationCredential' is not recognized as the name of

[2018-08-17 02:13] MirzaSikander commented on #13569
Also superfluous **then use**

You can **then use then use** that object for the parameter requiring the PSCredential object. Behind the scenes, the Azure Automation credential asset with that name is retrieved and passed to the configuration.

[2018-08-17 02:15] MirzaSikander commented on #13569
Also when I use `Get-AzureRmAutomationCredential`, I get a different error:

[code]

[2018-08-17 02:17] boomalator opened #13570 "Account type FAQ should be in intro."
The fact that is is only available on some types of storage accounts (FAQ #1), should really be in the lead paragraph. It's kind of important.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcd3f99a-f522-6edb-6d39-eac1bb917956
* Version Independent ID: 69e9c1e5-8deb-8092-46f4-6646d076fbe4
* Content: [Static website hos