[2018-04-30 08:29] hsuh commented on #6890
I can't seem to add function keys on azure portal. There's no Add new function key button. Is it now deprecated?

[2018-04-30 09:02] waheedhussain opened #7880 "Metrics stored for 30days or 90 days"
Hi,

the above document says metrics are stored for 30 days but the azure monitor pricing page says 90 days, link below

https://azure.microsoft.com/en-gb/pricing/details/monitor/

please can you advise.

Thanks,
Waheed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 144afccf-4ab9-bb34-957d-e86d3732d688
* Version Indepe

[2018-04-30 09:16] jmowinski opened #7881 "blobContinuationToken set twice"
blobContinuationToken = results.ContinuationToken;
is called twice for no reason https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-dotnet?tabs=windows#list-the-blobs-in-a-container

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60e56e69-1c44-2056-ad5f-319535e4b525
* Version Independent ID: 4

[2018-04-30 09:44] VickyAvinash opened #7882 "Incorrect Information"
Hi,

In the point#4 of the example above, the 0.5 hour of Instance 1 and 0.5 hour of Instance 2 should be charged against the RI instead of 1 hour of Instance 2 and 0.5 hour of Instance 1 as mentioned in the above article. Please correct this. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43852e1b-711e-98e6-7f

[2018-04-30 10:15] waqar-anwar1990 commented on #7679
@douglaslMS I really appreciate this kind of reply coming from a senior guy, actually I solved my issue by creating a new SQL Server explicitly, previously I was creating the new server on the go while making the Database. Not sure why this happened but now I can sync more end points on my other server which is I wanted to do. Perhaps adding in the limits that 30 sync end points is the limit on se

[2018-04-30 10:16] hemantkr14 opened #7883 "Function taking too long to respond: 502-Bad Gateway- The specified CGI application encountered an error and the server terminated the process.."
I have recently deployed a Java Azure Function based on the above documentation. It was working fine day before yesterday (28-Apr-2018) but today it is taking forever to run. Every time I try to run it it is giving back error 502- Bad Gateway.

Could you please help me on this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-04-30 11:21] DanielOrneling opened #7885 "The image offer SQL2016-WS2016 doesn´t work"
The image offer SQL2016-WS2016 doesn´t work. I tried SQL2016SP1-WS2016 instead and worked like a charm. This needs to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7097406-c1fa-4426-82fc-5325d1ae8440
* Version Independent ID: 31844be0-b20d-a145-7794-27c706770735
* Content: [Select Windows VM images in Azu

[2018-04-30 11:24] glmios opened #7887 "Need to specify the platform and version"
Cannot find Azure Machine Learning Plug-in on Excel for mac 2016

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7164d8-9388-4a96-aeb9-7a6ae813277f
* Version Independent ID: 3286af9d-821a-6202-638d-2a5e8d426b46
* Content: [Excel add-in for Machine Learning Web services](https://docs.microsoft.com/en-us/azure/machine-l

[2018-04-30 12:05] masterarun commented on #6951
@msvijayn Currently we are manually creation App Insights alerts in all environments.  Is there any release date finalized to make this GA?
It will help us planning the our environment provisioning.

[2018-04-30 12:38] daneeboy opened #7888 "Missing Error Codes: 50129, 53000, 50127"
Missing Error Codes: 50129, 53000, 50127

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f83a9e6-2363-2c73-5ed2-f40bd48899b8
* Version Independent ID: f47dc642-f083-b173-9b6e-ce61e31685a9
* Content: [Sign-in activity report error codes in the Azure Active Directory portal](https://docs.microsoft.com/en-us/azure/active-

[2018-04-30 12:48] CraigB7708 commented on #7847
I have to agree with the above as well. I simply need to know what I need to have for ALL users to have MFA when logging in. I see Limited in one document under Free/Basic and trying to find a answer is unnecessarily confusing.  And this is your way of describing it on this page "Multi-Factor Authentication for Office 365" how would I know this means Free/Basic in Azure??

[2018-04-30 13:36] bwren commented on #7619
@slavizh I got this response from the PM, so I'm going to update the article to 1 minutes.

_Although we use data from Azure Monitor, the setup is such that data is being streamed every 1 min to Azure SQL Analytics_

[2018-04-30 13:36] bwren commented on #7619
#please-close

[2018-04-30 13:40] whytoe commented on #7633
This workaround is by no means a solution, the cmdlet is broken, please raise this issue with the Powershell Team.

[2018-04-30 15:18] msvijayn commented on #6951
@masterarun the GA is planned for May 2018; we are are currently undergoing the rigorous validation process for APIs and Resource Templates. We are on-track to release in May 2018; probably in the first half of the month.

[2018-04-30 15:21] andremelim opened #7890 "Define policy for an specific app"
Using the Add-AzureAdApplicationPolicy, I'm able to assign a false "IsOrganizationDefault" policy to a specific App. But it seems to never take effect. This documentation in a different language, says that some of these features are available only for Active Directory Premium.
Can you confirm if the defining of per Application policies is enabled only for Premium? If so, is it basic, P1 or P2?
Tha

[2018-04-30 15:25] Mike-Ubezzi-MSFT commented on #7852
@SnehaGunda The two sections:

[Extending TTL on an existing document](https://docs.microsoft.com/en-us/azure/cosmos-db/time-to-live#extending-ttl-on-an-existing-document)
[Removing TTL from a document
](https://docs.microsoft.com/en-us/azure/cosmos-db/time-to-live#removing-ttl-from-a-document)

Both reference 'salesOrder' but as @Jacob-McKay has pointed out, the variable should be 'readDocument'.

[2018-04-30 15:29] Mike-Ubezzi-MSFT commented on #6788
@Frankwayne I want to check in to see if you have resolved this or if you still have issues with the emulator.
Thanks,
Mike

[2018-04-30 15:31] MicahMcKittrick-MSFT commented on #7883
@hemantkr14 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-30 15:32] Mike-Ubezzi-MSFT commented on #7798
@jrtabuloc No worries, and happy to make things clear. I am going to close this issue but if you still would like to discuss this further please feel free to reopen, and we can continue.
Regards,
Mike

[2018-04-30 15:32] #7798 closed

[2018-04-30 15:32] MicahMcKittrick-MSFT commented on #7885
@DanielOrneling Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-30 15:35] MicahMcKittrick-MSFT commented on #6890
@hsuh if you have another question specifically related to this document then I suggest opening a new issue so we can investigate properly.

[2018-04-30 15:38] Mike-Ubezzi-MSFT commented on #7851
@sudeephazra In the last step ([Use Microsoft Azure Storage Explorer to view the weather forecast](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-weather-forecast-machine-learning#use-microsoft-azure-storage-explorer-to-view-the-weather-forecast))

It has you download a .csv file from Azure Storage Explorer. In this file, do you consistently see a value of 0.489944100379944? It might be th

[2018-04-30 15:39] MicahMcKittrick-MSFT commented on #7613
@SilicusShraddha assistance writing a custom function is a bit outside the scope of this issue. If you need assistance following the specifics of this doc or verifying if there is an issue with this doc I am more than able to assist. However, if you are looking for general guidance on writing a custom function I would suggest reaching out to our community on [MSDN ](https://social.msdn.microsoft.c

[2018-04-30 15:46] v-geberr commented on #7665
@ylulloa The documentation will be updated and released on May 7th. [This is the doc](https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/luis-concept-collaborator) that will be updated.

[2018-04-30 15:53] Mike-Ubezzi-MSFT commented on #7796
@euangms Can you do the following:
Navigate to your SQL Database instance in the Azure Portal, and find the **Diagnostics Settings** menu option:

![screenshot 158](https://user-images.githubusercontent.com/37126106/39436658-7aa1c8f0-4c53-11e8-87e5-c5efedf5255e.png)

Click on the menu to open the Diagnostics Settings blade to expose the configuration:

![screenshot 159](https://user-images.githubu

[2018-04-30 15:59] jkodroff commented on #7692
Awesome! Thank you!

On Fri, Apr 27, 2018 at 6:13 PM, Mario Lopez <notifications@github.com>
wrote:

[2018-04-30 16:06] LeoStack opened #7891 "Programatic Install"
What does an install look like from say command line? Are there other methods to deploy this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a304f1aa-ac44-7831-2f2c-f827238fc50e
* Version Independent ID: 6610a9cc-2a03-5305-3378-392c4a1227ac
* Content: [Azure Functions Runtime Installation](https://docs.microsoft.com/en

[2018-04-30 16:07] sethmanheim commented on #7828
@doghousesoftware We are in the middle of developing such a tutorial for stream analytics, so this is already in the plan. You should see the updates within the next month or so. Thank you for the feedback! #please-close

[2018-04-30 16:08] euangordon commented on #7796
Hi Mike,

This is what I have setup. As mentioned, there is no way to select where in your Storage Account the logs are stored and there seems to be no information to tell me where to look.

![image](https://user-images.githubusercontent.com/32622054/39437528-05cc5d9c-4c99-11e8-8f6a-854e506cdbe9.png)

[2018-04-30 16:08] vasivara-MSFT commented on #7874
@algattik Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-30 16:14] MicahMcKittrick-MSFT commented on #7739
@timrxtx I will close this for now. Please reopen and we can continue when you are ready.

[2018-04-30 16:14] #7739 closed

[2018-04-30 16:17] MicahMcKittrick-MSFT commented on #7749
@xela30 I will close this for now. Please reopen when ready and we can continue.

[2018-04-30 16:17] #7749 closed

[2018-04-30 16:27] kristopherjturner opened #7892 "Missing IdentitySystem parameter."
When I try to run step 5 I am being asked for a parameter called IdentitySystem.  The values available are AAD or ADFS.  Without adding this parameter I can't run the script.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b5d2a91-d8f6-2594-dab8-38fe25b303c7
* Version Independent ID: 0beba5f9-90fc-9e9f-63b6-474e5a0e373

[2018-04-30 16:31] MicahMcKittrick-MSFT commented on #7803
@shannonlowder I tested this and it appears to be working on my machine:

<img width="677" alt="image" src="https://user-images.githubusercontent.com/32313503/39438438-00618da4-4c59-11e8-980f-237d2e1a7a5c.png">

<img width="730" alt="image" src="https://user-images.githubusercontent.com/32313503/39438452-09b5fe08-4c59-11e8-995a-54e65a687d31.png">

Seems like it is an issue with your local environm

[2018-04-30 16:35] douglaslMS commented on #7679
@waqar-anwar1990 Thank you for the update. I'm pleased to hear that your implementation is now working as expected. I will review these limitations again with the SQL Data Sync program managers to see how we can make the limitations more clear and easy to understand.

[2018-04-30 16:35] douglaslMS commented on #7679
#please-close

[2018-04-30 16:39] Mike-Ubezzi-MSFT commented on #7796
@euangordon Do you have [Azure Storage Explorer](https://azure.microsoft.com/en-us/features/storage-explorer/) installed? Have you navigated to your account as defiened in your configuration to see what data has been written?

![screenshot 162](https://user-images.githubusercontent.com/37126106/39438498-3c4a2bdc-4c59-11e8-8414-ab32f68fe05e.png)

I didn't have diagnostics enabled for SQL but in jus

[2018-04-30 16:42] #7679 closed

[2018-04-30 16:47] euangms commented on #7796
I think there are some wires crossed here I have the github Id euangMS but I am Euan Garden.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Mike Ubezzi <notifications@github.com>
Sent: Monday, April 30, 2018 9:39:23 AM
To: MicrosoftDocs/azure-docs
Cc: Euan Garden; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Where do Azure SQL diagnostics get stored in Azure

[2018-04-30 16:52] MohitGargMSFT commented on #7868
@AntRemo Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-30 16:53] MohitGargMSFT commented on #7869
@parilla Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-30 16:54] MohitGargMSFT commented on #7879
@roscop88 Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-30 16:55] MohitGargMSFT commented on #7890
@andremelim Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-30 17:00] MohitGargMSFT commented on #7876
@JeffKingRey Please help with document on which above feedback is provided so that we can help you appropriately. I see another similar feedback from your end which was closed by you.

[2018-04-30 17:03] MohitGargMSFT commented on #7870
@bibble235 Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

@timlt I have assigned this issue to you as unable to assign it to juanjperez. Please take a look at it. Thanks.

[2018-04-30 17:05] MohitGargMSFT commented on #7892
@kristopherjturner Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-30 17:06] MohitGargMSFT commented on #7793
@slavizh We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-04-30 17:07] MohitGargMSFT commented on #7839
@jochenschroeer Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-30 17:10] YutongTie-MSFT commented on #7887
@glmios Hi, thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@YasinMSFT Hi, this is a issue about mac excel add-in, can you please update the document as necessary? Thanks a lot!

[2018-04-30 17:14] kobulloc-MSFT commented on #7864
@jthake Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-04-30 17:16] vasivara-MSFT commented on #7694
@Toouny Thanks for pointing the issue. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-30 17:16] MohitGargMSFT commented on #7840
Thanks for the feedback! I will pass on the feedback to our service team so that they could add the same in there backlog.

However, please post this as a feedback @ https://feedback.azure.com/forums/169401-azure-active-directory. This will allow the community to upvote and for the product team to include into their plans.
We also have the "Give Product Feedback" button in our documents now to tak

[2018-04-30 17:18] vasivara-MSFT commented on #7849
@lokijota Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-30 17:28] MicahMcKittrick-MSFT commented on #7856
@craigshoemaker I seem to be having similar issues when following the doc. Can you take a look?

[2018-04-30 17:30] YutongTie-MSFT commented on #7712
@guybartal Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@rastala Hi, this is a issue about product scale, can you please help and update the document as necessary? Thanks a lot!

[2018-04-30 17:30] mike-urnun-msft commented on #7790
@dcbrown16 We have assigned this issue to the author to investigate further and take the right course of action.

[2018-04-30 17:31] BryanTrach-MSFT commented on #7872
@dcbrown16 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-30 17:32] BryanTrach-MSFT commented on #7873
@Maryom Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-30 17:33] vasivara-MSFT commented on #7828
@doghousesoftware We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-30 17:33] #7828 closed

[2018-04-30 17:34] BryanTrach-MSFT commented on #7875
@cplemm Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-30 17:35] MicahMcKittrick-MSFT commented on #7883
@rloutlaw can you advise on this? I am also seeing some issues running my function now and I know this doc worked the other day when I tried.

[2018-04-30 17:35] Adam-Smith-MSFT commented on #7881
@jmowinski Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-30 17:35] mike-urnun-msft commented on #7872
@dcbrown16 Thanks reporting this! We have validated this issue and assigned it to the author to investigate further and take the right course of action.

[2018-04-30 17:36] hajjat commented on #7815
Hi Vairavan, any updates about this?

[2018-04-30 17:36] conterio commented on #7643
Thanks for closing the problem was on my end, not yours.

[2018-04-30 17:36] jason-j-MSFT commented on #7042
@douglaslMS We have a request to add a python custom activity example to this document.

[2018-04-30 17:37] Adam-Smith-MSFT commented on #7741
@Noambi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-30 17:43] renil-abdulkader opened #7894 ""Service Bus for Windows Server" link is not working"
"Service Bus for Windows Server" in the article is taking to a 404 page. It would be great to update the latest link to that article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afed582b-fb3f-30b3-b119-6c4a9218bf34
* Version Independent ID: d4cf3473-21c1-2409-e7ac-9ad93fbc5895
* Content: [Azure Storage queues and Se

[2018-04-30 17:48] rolyon commented on #7795
Hi @slavizh,
Thanks for the feedback. I removed the Get operations from the list of operations that are logged.
https://docs.microsoft.com/en-us/azure/role-based-access-control/change-history-report

#please-close

[2018-04-30 17:55] YutongTie-MSFT commented on #7703
@archevel Hi, this is not a document problem. Please post it in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home) or [Stackoverflow ](https://stackoverflow.com/)so that we can help well. Thanks a lot!

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-30 17:55] #7703 closed

[2018-04-30 17:56] MohitGargMSFT commented on #7846
@madsenfx Please refer to this document which helps with details steps to [Configure Device Registration for Hybrid Windows Hello for Business](https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/hello-hybrid-cert-trust-devreg)

[2018-04-30 17:57] Brenduns commented on #7478
@bingosummer   While we do not have a list available today, if created a work item in our content backlog so we can track this need.

To assist at this time, my development partners suggest using Cloud Capabilities (from our Azure Stack tools github repository). Cloud Capabilities will create a JSON file that has information that should help.
We also have  TemplateValidator available, though this

[2018-04-30 17:57] Brenduns commented on #7478
#please-close

[2018-04-30 17:58] georgewallace commented on #7756
@kylecweeks Thanks for bringing this to our attention. I have on my backlog the work to get Linux Hybrid worker docs on parity with the Windows hybrid worker docs.  I plan on adding this to the removal doc though in the time being as that is a quick fix.. I will post the updated doc link when it is live.

[2018-04-30 18:00] #7736 closed

[2018-04-30 18:03] bingosummer commented on #7478
Thanks @Brenduns for your help. I will try the tools if needed.
I prefer to keep this issue open until it's fixed. After fixed, please close this issue, so that we and the community can be notified.

[2018-04-30 18:07] mrbullwinkle commented on #7864
@kobulloc-MSFT you can assign this one to me I have PR to address this.

[2018-04-30 18:08] mrbullwinkle commented on #7625
@kobulloc-MSFT can you assign this one to me?

[2018-04-30 18:09] Toouny commented on #7694
Great!

[2018-04-30 18:16] MohitGargMSFT commented on #7868
@AntRemo Please note that as mentioned in the document, if you decide that Azure AD B2C is the best migration path for your applications and services, begin with the following resources:
[Azure AD B2C documentation](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-overview)
[Azure AD B2C custom policies](https://docs.microsoft.com/en-us/azure/active-directory-b2c/ac

[2018-04-30 18:36] jason-j-MSFT commented on #7389
@douglaslMS the documented procedure to create a scheduled stop operation for Azure SSIS IR may not be working.  I noticed the versions of the 'AzureRM.Profile' and 'AzureRM.profile' modules in Automation are more advanced if you import/update them today, rather than the version at the time document was created:

![capture12](https://user-images.githubusercontent.com/37126381/39443743-623e5a78-4c6

[2018-04-30 18:38] jason-j-MSFT commented on #7389
Oops I said stop is having an issue, but it is the start operation.

[2018-04-30 18:39] jason-j-MSFT commented on #7389
The full Powershell line causing the exception is:

Start-AzureRmDataFactoryV2IntegrationRuntime -ResourceGroupName $ResourceGroupName -DataFactoryName $DataFactoryName -Name $AzureSSISName -Force

[2018-04-30 18:40] rboucher commented on #7880
It's 90 days.  It used to be 30.  I'll correct the article.  Thanks for reporting this Waheed.

[2018-04-30 18:40] jason-j-MSFT commented on #7390
@akking we are closing this issue for now as it seems to be working in my tests, but feel free to add comments as needed.

[2018-04-30 18:40] #7390 closed

[2018-04-30 18:49] MohitGargMSFT commented on #7869
@parilla As far as I know there is no specific license requirement for password hash sync. However, you are correct if password write back is required then Premium license is an requirement.

@mahesh-unnikrishnan - Please confim if my understanding is correct here.

[2018-04-30 18:50] dlepow commented on #7745
Closing, since this issue does not appear to relate to use of Azure services.
#please-close

[2018-04-30 19:00] joymon opened #7897 "Clarification needed on choosing head node size"
Does the below warning means I need total of 8 cores and 14GB RAM combining 2 head nodes (D12_V2) or individual head node needs 8 cores and 14 GB (D13_V2)? Please clarify.
"If you need more than 32 worker nodes in a cluster, you must select a head node size with at least 8 cores and 14 GB of RAM."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2018-04-30 19:04] rboucher commented on #7880
@waheedhussain  Merged changes private PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/39568. Changes should appear at 3pm Pacific time today.

[2018-04-30 19:10] MohitGargMSFT commented on #7890
@andremelim Please try to use Graph API to achive the same. Refer to this article - [Entity and complex type reference | Graph API reference](https://msdn.microsoft.com/en-us/library/azure/ad/graph/api/entity-and-complex-type-reference) and Policy Entity section.

However, I am assigning it to document author to confirm if the same can be done using Add-AzureAdApplicationPolicy or not. As per docu

[2018-04-30 19:27] JasonWHowell commented on #7654
Thanks @mganeshphani for the feedback. Let us know if you need anything more.
#please-close

[2018-04-30 19:30] JasonWHowell commented on #6337
@rachel-msft Let me know if you need help on this one. Thx, Jason

[2018-04-30 19:39] femsulu commented on #7865
@zhangdingsong Thanks for bringing this to our attention. We are reviewing this request and will make necessary changes.

[2018-04-30 19:39] maddyloo opened #7898 "Segment Length"
Inconsistent segment length instructions.  According to this page the 'name' of the extension has 1 segment and the 'type' has 3.  Other documentation (https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-invalid-template-errors#solution-2---incorrect-segment-lengths) states that the 'name' should always have one fewer segments than 'type'.  The example on this page resul

[2018-04-30 19:39] msc1504 opened #7899 "Documentation (deep dive) on best practice for Indexes and how they work best with Clustered Columnstores, Distributions and Partitions"
This would be EXTREMELY helpful for my current setup and is is based on my msdn social post at:  https://social.msdn.microsoft.com/Forums/azure/en-US/b2d06372-6404-47ce-89f3-37832ead273f/index-guidance-on-distributed-and-partitioned-data-sets-for-big-data?forum=AzureSQLDataWarehouse#b2d06372-6404-47ce-89f3-37832ead273f

~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_

I'm working on a solution to

[2018-04-30 19:40] femsulu commented on #7871
@roldengarm Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-30 19:42] DCtheGeek commented on #7871
@roldengarm Thank you for the feedback.  You are correct and the doc needs to be updated.  In Azure PowerShell, the default of Mode is `All` and in Azure CLI the default of Mode is `null` (which equates to `Indexed`).  I'll update the docs immediately.  Thank you!  #in-progress

[2018-04-30 19:42] femsulu commented on #7880
@waheedhussain We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-30 19:42] #7880 closed

[2018-04-30 19:43] dlepow commented on #7747
@MicahMcKittrick-MSFT - I found the instruction as written worked on an NV6 VM with CentOS 7.4. I'm not an expert on modprobe.d config files, but I believe any *.conf filename there is processed on reboot.
@queglay - Thanks for your feedback, but I will close since your comment does not appear to involve Azure services.
#please-close

[2018-04-30 19:45] femsulu commented on #7882
@VickyAvinash Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-30 19:53] neilpeterson commented on #7859
#please-close

[2018-04-30 19:54] MicrosoftGuyJFlo commented on #7847
#in-process

[2018-04-30 19:54] neilpeterson commented on #7857
#please-close

[2018-04-30 20:09] pejuan commented on #7389
I checked @jason-j-MSFT
![image](https://user-images.githubusercontent.com/8431861/39447642-b2d4c2f0-4c7f-11e8-9026-79ae1143daf8.png)

My versions are the same you mention may have errors.

[2018-04-30 20:10] hhubik opened #7900 "Initialize Gremlin console"
After connecting to a `Cosmos DB`, it is necessary to initialize the `Gremlin console` using the following commands in order to be able to traverse a graph using commands such as `g.V()`:

1. `gremlin> graph = TinkerFactory.createModern()`
1. `gremlin> g = graph.traversal()`

See [Getting Started with Apache TinkerPop](http://tinkerpop.apache.org/docs/current/tutorials/getting-started/) for more i

[2018-04-30 20:14] Toouny commented on #7694
Please also correct the misspell in the script from Faiure to Failure :)

[2018-04-30 20:16] douglaslMS commented on #7389
@jason-j-MSFT @Garandorf @pejuan This is a known issue, and the team is working on a fix. In the meantime, at present, you can only use AzureRM.DataFactoryV2 0.5.2 and AzureRM.Profile 4.5.0 modules. I have updated the document and I'm waiting for the updated page to be published. (I was going to update this issue later this afternoon after the updated page goes live.)

[2018-04-30 20:40] MohitGargMSFT commented on #7888
@daneeboy Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-30 20:41] vasivara-MSFT commented on #7694
@Toouny Thank you for your feedback. I have already fixed it when you created this issue. If you take a look at the script right now, you should find it fixed.

[2018-04-30 20:43] MohitGargMSFT commented on #7894
@renil-abdulkader Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-30 20:44] #7795 closed

[2018-04-30 20:45] #7745 closed

[2018-04-30 20:45] #7654 closed

[2018-04-30 20:45] #7859 closed

[2018-04-30 20:45] #7857 closed

[2018-04-30 20:46] #7747 closed

[2018-04-30 20:46] #7619 closed

[2018-04-30 20:48] DCtheGeek commented on #7871
@roldengarm The document has been updated and should be made live later this afternoon.  Thank you again for the feedback!  #please-close

[2018-04-30 20:53] #7894 closed

[2018-04-30 20:54] #7885 closed

[2018-04-30 20:57] CelesteDG commented on #7211
Hello @MohitGargMSFT - The fix for this issue is now live (topic updated) so we can close this issue. Thank you. #please-close

[2018-04-30 21:00] CelesteDG commented on #7053
Hello @MohitGargMSFT - Please assign this issue to me instead of Mike. I've been tracking the issue and will have a fix soon. Thank you. #in-progress

[2018-04-30 21:13] iainfoulds commented on #7854
Hi, @rahulambhore3 . The focus on our docs is on Managed Disks, which abstracts the underlying storage accounts. There is still a Premium and Standard tier, however you don't need to create the storage account as such first, just specify if you want a `Premium` or `Standard` disk. More information on Managed Disks can be found here - https://docs.microsoft.com/en-us/azure/virtual-machines/windows/

[2018-04-30 21:15] #7211 closed

[2018-04-30 21:24] Mike-Ubezzi-MSFT commented on #7899
@msc1504 Thanks for posting this GitHub issue. I have assigned this to the content owner and hopefully we can solicit a conversation around best practices.

Regards,
Mike

[2018-04-30 21:27] DCtheGeek commented on #7536
@thuansoldier I've updated the document and it should get published this afternoon.  Thank you again for the feedback!  #please-close

[2018-04-30 21:28] iainfoulds commented on #7775
Sorry you ran into issues, @hobpet . I've validated and created a PR to update this. The correct command should be:

`vm_secret=$(az vm secret format --secrets "$secret")`

[2018-04-30 21:28] wpitallo commented on #6596
Hi, @David-Noble-at-work thanks would like to participate, intend on using cosmos db a lot so far its great but there are few things that would help a lot.

You hit the nail on the head, with those features they will greatly help. Especially the console logging. Currently the the console log is only logging to one line and does not log objects well, example: "%5Bobject%20Object%5D"

And even if it

[2018-04-30 21:36] wpitallo commented on #6596
Another thing that would also be quite cool would be to be able to connect to the same collection with different 'connectors'. What I mean by that is that if I want to connect to a graph db through the explorer I need to specify that it is a graph db when creating the collection. It would be great if I created a SQL collection if I could still connect to it via a graph explorer without having to c

[2018-04-30 21:36] jason-j-MSFT commented on #7389
@douglaslMS thanks for the update!
 @Garandorf @pejuan we are closing this issue for now, but feel free to add comments as needed.

[2018-04-30 21:36] #7389 closed

[2018-04-30 21:38] tamram commented on #7881
@jmowinski - Thanks for your feedback. I've fixed the issue, and the update should go live later today.

#please-close

[2018-04-30 21:43] Mike-Ubezzi-MSFT commented on #7900
@hhubik If using Gremlin as detailed in this tutorial, then yes. There is a .NET option: [Azure Cosmos DB: Build a .NET Framework or Core application using the Graph API
](https://docs.microsoft.com/en-us/azure/cosmos-db/create-graph-dotnet)

Here is additional information regarding the Graph API for Cosmos DB: [Introduction to Azure Cosmos DB: Graph API](https://docs.microsoft.com/en-us/azure/cos

[2018-04-30 21:45] iainfoulds commented on #7552
The PR for the script update has merged and should publish in the next hour or so. Is there any further update on this? The error appears to be on enabling the VM for encryption, not in the documented configuration commands. So long as a supported Linux image is used (https://docs.microsoft.com/azure/security/azure-security-disk-encryption-faq#what-linux-distributions-does-azure-disk-encryption-su

[2018-04-30 21:46] bganapa commented on #7734
@jah29m The hack mentioned in this issue should not be done. You could simply revert to using Login-AzureRmAccount instead of the Connect-AzureRmAccount.

Could you please explain the issue further, if you are still running in to?

[2018-04-30 21:50] hhubik commented on #7900
@Mike-Ubezzi-MSFT I am all set.  I was able to follow the Gremlin tutorial once I got past the initialization problem using the two steps above. I opened this issue in the hope that you would fix the Gremlin tutorial documentation so that other people don't have to deal with the same problem.

[2018-04-30 21:52] hhubik commented on #7900
Just for completeness, the error I get without the above two steps is:
[code]

[2018-04-30 21:53] vasivara-MSFT commented on #7734
@jah29m @aluty  Can you please explain your issue in detail?

[2018-04-30 21:54] #7775 closed

[2018-04-30 21:57] MicahMcKittrick-MSFT commented on #7844
@rwike77 can you help on this? I followed the doc and was able to deploy a cluster and connect to the cluster manager:

<img width="891" alt="image" src="https://user-images.githubusercontent.com/32313503/39452076-c93d0952-4c85-11e8-8068-881b0022819c.png">

<img width="1019" alt="image" src="https://user-images.githubusercontent.com/32313503/39452091-d6a8a20e-4c85-11e8-8507-42d9b312cc60.png">

How

[2018-04-30 21:58] Mike-Ubezzi-MSFT commented on #7900
@hhubik I will forward on to the content owner to have the tutorial addressed. Thanks!

[2018-04-30 21:59] MicahMcKittrick-MSFT commented on #7891
@LeoStack Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-30 22:00] Mike-Ubezzi-MSFT commented on #7900
@LuisBosquez The tutorial needs to be updated. Thanks!

[2018-04-30 22:02] 8Bitech commented on #7692
What is the order rules are applied, NIC rules over Subnet rules or the other way?

[2018-04-30 22:02] apwestgarth commented on #7891
Hi,
   there is no command line installation option supported for the Azure Functions Runtime preview at present. Should we make this possible in a future release we will be sure to include it in our documentation.

Thanks

Andrew

[2018-04-30 22:02] MicahMcKittrick-MSFT commented on #7854
Thanks for that clarification @iainfoulds! :)

[2018-04-30 22:02] #7854 closed

[2018-04-30 22:02] #7536 closed

[2018-04-30 22:05] MicahMcKittrick-MSFT commented on #7552
@iainfoulds thanks for confirming on this. Not sure what the error I was hitting was but I am sure it was something I was doing if you could get it to work just fine.

@hprashar please take a further look at the updated document and if you are still having issues please post it here: https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureKeyVault

[2018-04-30 22:05] #7552 closed

[2018-04-30 22:06] MicahMcKittrick-MSFT commented on #7891
Thanks for the quick reply @apwestgarth!

@LeoStack you can leave this feedback here if you are interested:

https://feedback.azure.com/forums/355860-azure-functions

[2018-04-30 22:06] #7891 closed

[2018-04-30 22:12] iainfoulds commented on #7404
Reached out to PM owners and will update the docs as necessary.

#in-progress

[2018-04-30 22:12] iainfoulds commented on #7549
Reached out to PM owners and will update the docs as necessary.

#in-progress

[2018-04-30 22:29] rboucher commented on #7511
Hi @tony-gutierrez . Thanks for the report. Sorry for the late reply.  You are correct.  This an old article that needs to be deleted and redirected. I'll take care of that and report back here.

[2018-04-30 22:51] rwike77 commented on #7482
Content changes are live now:  https://docs.microsoft.com/azure/service-fabric/service-fabric-tutorial-create-dotnet-app#connect-the-services
#please-close

[2018-04-30 22:53] #7482 closed

[2018-04-30 22:57] Adam-Smith-MSFT commented on #7159
Since we haven't received any info, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-30 22:57] #7159 closed

[2018-04-30 22:59] vasivara-MSFT commented on #7897
@joymon Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-30 23:10] WizPip opened #7911 "Pinning URLs"
This article mentions pinning URLs but it does not say that only pinned URLs which have been indexed will actually work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f78b0802-5c41-f1c9-d23c-99cf707308a8
* Version Independent ID: 4fe899bc-c79b-f7a7-7797-8089104e0d6f
* Content: [Bing Custom Search: Create a custom sear

[2018-04-30 23:33] rboucher commented on #7365
@lrpark I think the docs you want are here. https://docs.microsoft.com/en-us/azure/virtual-machines/linux/diagnostic-extension.  Can you verify before I add to our docs?

[2018-04-30 23:58] jah29m commented on #7734
Vasivara, it looks like you already took care of the AzureAD online registration, however. I do not see the process for azurestack ADFS disconnected registration.
https://docs.microsoft.com/en-us/azure/azure-stack/asdk/asdk-register

[2018-05-01 00:03] YutongTie-MSFT commented on #7911
@WizPip Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@brapel Hi, this is a issue about pinned URL, can you please check it and update the document as necessary? Thanks a lot!

[2018-05-01 00:05] MicahMcKittrick-MSFT commented on #7898
@danielsollondon can you take a look into this one?

[2018-05-01 01:03] justrhysism opened #7913 "Require MFA for sensitive portions documentation/examples"
This is a scenario I need to implement, however this document doesn't provide, or provide links to, any documentation as to how this may be implemented :(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8c394d1-e3b1-b88c-416c-3f8e0ab3ae3d
* Version Independent ID: 8aafb9d8-72cb-c9b4-5a01-9e5633764f39
* Content: [Azure

[2018-05-01 01:12] ylulloa commented on #7665
Thanks for keeping me in the loop!

On Mon, Apr 30, 2018 at 11:46 AM, Dina Berry <notifications@github.com>
wrote:

--

*Yanluis Ulloa*
<http://csnmedia.com/>

[2018-05-01 02:41] adriantorrie opened #7914 "Include usage of SAS with cURL"
Include usage of SAS with cURL

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d631dd04-382f-ea9d-9cf4-8c1ff8730b19
* Version Independent ID: cf307ea9-0c9a-09a4-bc97-66d4d91d0353
* Content: [Using shared access signatures (SAS) in Azure Storage](https://docs.microsoft.com/en-us/azure/storage/common/storage-dotnet-shared

[2018-05-01 02:57] Rick-Anderson opened #7915 "Improvements for next version: Standard theme, code snippets - not images, etc"
Recommend you update this using the MS style guide which includes these changes:

* Use the standard theme.
* Use *italic* for file names, not **bold**.
* Show code snippets, not code in images.

Most customers don't have the enterprise SKU. I recommend using what most customers use, the free SKUs.

I like the  *Add to Git* trick to show changes. I frequently use that myself, but not in docs.

---

[2018-05-01 04:01] DCtheGeek commented on #7871
@roldengarm The changes are live!  Thanks again for the feedback!

[2018-05-01 04:16] MarkusVi commented on #7686
Hi @gridpatrik, thanks for the information. I have created a backlog item to track this.
#please-close

[2018-05-01 04:17] MarkusVi commented on #7879
Hi @roscop88, thanks for the information. I have created a backlog item to track this.
#please-close

[2018-05-01 04:25] #7871 closed

[2018-05-01 04:50] hemantkr14 commented on #7883
@MicahMcKittrick-MSFT any updates on this issue. Can you please share your understanding of this issue

[2018-05-01 05:11] nedlowe opened #7916 "Java support in 1.x"
The doc is confusing here - it _appears_ that Java is not supported in 1.x, but I'm pretty sure it is from the main documentation page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40e84dea-0cdb-2aa7-6aa0-a4c697ef19ac
* Version Independent ID: 2fe0dbd3-7e5b-04b1-46e5-fecd89c4a780
* Content: [Supported languages in Az

[2018-05-01 07:02] waheedhussain commented on #7880
thanks

[2018-05-01 07:57] waheedhussain opened #7917 "classic alerts retirement"
Hi,

Is there a plan to retire the classic alerts?

Application Insights alerts are classic – and not charged for. I want to adopt the new unified alerts experience but as they are charged for, I might get resistance in adoption of new alerts experience because the classic ones are free.

Thanks,
Waheed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-05-01 08:02] bottkars commented on #7478
@bingosummer have you tested the cloudfoundry template from Azure Quickastart ? it works seamless on Azurestack. just Change the Ubuntu Version to 16.04-LTS.
I agree, having a table of API Versions of all Providers BEFORE updating would be helpful ...
To get a list of supported API Versions, check https://docs.microsoft.com/en-us/azure/azure-stack/user/azure-stack-considerations
'Get-AzureRmResour

[2018-05-01 09:38] waheedhussain opened #7918 "Monitor Alerts limit"
Does the below limit also apply or going to apply to the new alert experience? If not will there be an upper limit like this
for it?

Metric Alerts	100 active alert rules per subscription

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Version Independent ID: 27aecc7b-f107-96d4-b04

[2018-05-01 09:43] waheedhussain opened #7919 "deprecation?"
If this is being deprecated......Does the application insights connector becomes the replacement?

Thanks,
Waheed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46606b56-e70b-aef3-d91b-5a92897fd3cb
* Version Independent ID: 38fb50f8-8980-aad5-62d4-cb0af49444fa
* Content: [View Azure Web Apps analytic data](https://docs

[2018-05-01 09:46] euangordon commented on #7796
@Mike-Ubezzi-MSFT Okay found it now. It is not so easy to find a container when you have a couple of hundred of them and you don't know which one you are looking for. Any chance of updating the documentation to make this obvious, also might be worth putting information on the UI to let the user know which container the logs are dumped in.

[2018-05-01 09:48] obfu5c8 opened #7920 "Missing 90094"
Missing 90094

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f83a9e6-2363-2c73-5ed2-f40bd48899b8
* Version Independent ID: f47dc642-f083-b173-9b6e-ce61e31685a9
* Content: [Sign-in activity report error codes in the Azure Active Directory portal](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-

[2018-05-01 10:01] waheedhussain opened #7921 "data ingestion charge"
Hi, in the new pricing model for monitoring tools, the data ingestion charge is applied for Application Insights and Log Analytics. If I am paying for data ingestion into Application insights and I configure this connector to pull my data into log analytics, would i have to pay the data ingestion charge again for data coming into Log Analytics?

Thanks,
Waheed

---
#### Document Details

⚠ *Do not

[2018-05-01 10:08] wpitallo commented on #6596
A black theme would also be great extra touch.

[2018-05-01 10:47] slavizh commented on #7619
Than shouldn't the information be changed from 10 minutes to 1 minute?

[2018-05-01 10:51] cts4 commented on #7844
Cluster explorer is working fine, but the website is not opening as mentioned in step#6. giving error "Site can't be reached".

[2018-05-01 11:36] shuurajou commented on #7135
We're in a similar situation. It's not clear to us if we should use this service, or are eligible to use this service, as a customer with an EA. EA does offer departmental alerts but that is different to subscription derived alerts.

[2018-05-01 11:41] joymon opened #7923 "Subnet name is not shown in HDI properties"
I could see the vNet name but not able to see the Subnet name in the HDI Cluster properties. Had to use PowerShell. It would be really great if it can be corrected. Or let me know if I am missing something.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c1c2788-a209-6916-c7bf-fe8c6e0b6b8c
* Version Independent ID: 832

[2018-05-01 12:40] raviman8 opened #7925 "AD FS 2016"
Hi, is there any updated documentation for AD FS 4.0 (2016). I believe MFA has a built in module, and some of the AD FS console pieces, ie. Trust and Authentication Policy nodes are not present in the main console...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a214f19-bb7c-2edc-29d5-8466eb9c5ee3
* Version Independe

[2018-05-01 12:47] jimdial commented on #7692
@8Bitech Inbound traffic is subnet, then NIC, outbound traffic is NIC, then subnet.

[2018-05-01 12:47] jimdial commented on #7692
#please-close

[2018-05-01 12:50] craigshoemaker commented on #7914
Thanks, for the feedback @adriantorrie! I have added this content request to my backlog.

#please-close

[2018-05-01 13:08] gutjahr opened #7926 "Required rights to see Bitlocker Keys"
The documentation is very vague about what exact rights are required to be able to view or copy BitLocker keys.
Do you need the 'Global Administrator' directory role, the 'Intune Administrator' directory role or the 'Admin' role from the Microsoft Store for Business?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8119

[2018-05-01 13:34] SqlDavid commented on #6841
But the original question about being able to monitor the DTU on these read only replicas was not answered. I am still curious to know the answer to that question.

[2018-05-01 13:40] cephalin commented on #6274
#please-close since this is a confirmed product bug and is tracked elsewhere already.

[2018-05-01 13:48] andremelim commented on #7890
@MohitGargMSFT First, thanks for the fast reply.
I tried removing and reassigning the policy to the App, using the graph API and all went well, but still the policy didn't take effect.
Right now I have a single policy defined as:
@('{"TokenLifetimePolicy":{"Version":1,"AccessTokenLifetime":"00:35:00","MaxAgeSessionSingleFactor":"00:35:00", "MaxInactiveTime":"00:35:00","MaxAgeMultiFactor":"00:35:00

[2018-05-01 13:53] rothja commented on #7328
@chrismwendt I just noticed that my last request was sent to the wrong user. I apologize. I've checked internally and the initial response I've gotten is that we do not think the defaults have changed. Obviously that's not what you're seeing. Is there any way that you could get a screenshot of what you saw? I'm still asking around internally though. Thanks for your patience and sorry again about t

[2018-05-01 13:56] danmyhre opened #7927 "match and notMatch conditions"
Please provide more details on what is supported with match and notMatch conditions.  The example linked to "Approved VM Images" does not even use match.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d956852a-d98e-c022-d6f2-c2910afe6e93
* Version Independent ID: 8107b348-d2b4-214e-2b18-bf813f1fe1e8
* Content: [Azure P

[2018-05-01 14:02] wpitallo commented on #6596
Currently when a exception is thrown there is also no log, would be nice to see the logs even if there is an exception.

[2018-05-01 14:05] mschultz-bcbsne opened #7928 "Need more troubleshooting steps"
As a "troubleshooting" document, this is pretty light on actual troubleshooting content.  At least some links to other articles would be helpful.  For example, I have a few machines out of several hundred that aren't properly completing the hybrid join to Azure AD.  This page offered no help other than to confirm that, yes, the hybrid join isn't working.

Are there other resources to help troubles

[2018-05-01 14:13] shannonlowder commented on #7803
I found Azure Data Lake and Stream Analytics tools needed an update. After an update and VS restart, same error. The only package referenced in the base template is Microsoft.NET.Sdk.Functions 1.0.13 and Microsoft.NETCore.Platforms 1.1.0. So I removed it and re-added it. I even tried updating .NETCore to 2.0.2.  Still get the error.  Uninstalled and reinstalled VS 2017. Still no luck.

I'm not sur

[2018-05-01 14:21] simoncreasey opened #7929 "Ports mismatch"
Hi team, I notice the port requirement here for Collector > vCentre Server is 9443, but is shown as 443 here https://docs.microsoft.com/en-us/azure/migrate/concepts-collector#collector-communication-diagram.
Would you please clarify which is correct and update? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 805

[2018-05-01 14:34] guidovbrakel commented on #6643
Is it possible to schedule the collection with for an example scheduled task weekly? How?

[2018-05-01 14:35] guidovbrakel opened #7931 "Schedule collection"
Is it possible with an scheduled task for example to do the discovery weekly and not manually all the time? How

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2369d635-5ccf-92f1-b534-e2dce47113a1
* Version Independent ID: e3567682-a600-4e20-6d72-f03e025c1e4f
* Content: [Discover and assess on-premises VMware VMs for mi

[2018-05-01 15:00] DCtheGeek commented on #7829
@danmyhre I've updated the document and it should merge and publish later this morning.  Thank you again for the feedback and helping us improve use of Azure Policy!  #please-close

[2018-05-01 15:02] DCtheGeek commented on #7731
@roldengarm Following up on this.  Did you have a chance to try @niniikhena 's suggestion?

[2018-05-01 15:26] SqlDavid commented on #6841
@Mike-Ubezzi-MSFT Got it. I did not realize that. Thanks for the clarification and I will definitely go over to the User Voice site!

[2018-05-01 15:32] whytoe opened #7932 "This example doesnt work"
[code]

[2018-05-01 15:33] whytoe commented on #7932
Resolving this issue, there was something happening with Powershell, works now

[2018-05-01 15:33] #7932 closed

[2018-05-01 15:57] leftler opened #7933 "Documentation still uses the publisher portal."
This documentation needs updating. All the steps to do this process are available in the Azure portal.

Also the link in

leads to a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9db9c9e-e856-8035-70f1-8c0b5608d55f
* Version Independent ID: 3b800621-f33e-36b6-5ce9-a809dd227e52
* Content: [Secure back-end service

[2018-05-01 16:34] kobulloc-MSFT commented on #7915
@Rick-Anderson Thank you for the feedback!  We will assign this to the author so they can make appropriate changes to the document.

[2018-05-01 16:40] MicahMcKittrick-MSFT commented on #7883
@hemantkr14 I am not seeing the exact issue you are however I am having issues actually following the doc as it is written right now. That being said, I did follow it the other week without issue.

@rloutlaw any insights?

[2018-05-01 16:43] MicahMcKittrick-MSFT commented on #7803
@shannonlowder thanks for trying all of that. @ggailey777 any thoughts of what else we can try?

[2018-05-01 16:44] #7914 closed

[2018-05-01 16:48] MicahMcKittrick-MSFT commented on #7916
@nedlowe Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-01 16:52] bingosummer commented on #7478
Thanks @bottkars . The template is owned by me. In fact, this issue is not only about the API versions of the providers. The more important is the feature of the template itself.
For example, I want to [conditionally deploy a resource](https://docs.microsoft.com/en-us/azure/architecture/building-blocks/extending-templates/conditional-deploy), but I don't know whether it's supported in Azure Stack.

[2018-05-01 16:52] barclayn commented on #7683
@fkaleck this was already fixed last Friday. Thank you.

[2018-05-01 16:55] tdykstra commented on #7916
@nedlowe Which documentation page indicates Java is supported in 1.x?

[2018-05-01 16:58] kobulloc-MSFT commented on #7933
@leftler Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-05-01 17:02] c42-arun commented on #7844
Think might have figured this out - I don't have access to the code right now but I did recall the endpoint to be set in ServiceManifest.xml  under VotingWeb/PackageRoot folder. One needs to map this port to the LB's rules i.e map incoming 80 to the specified back end port.

I'll check this again when I get a chance.

[2018-05-01 17:05] #6274 closed

[2018-05-01 17:06] TravisCragg-MSFT commented on #7692
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-01 17:06] #7692 closed

[2018-05-01 17:07] danmyhre commented on #7829
Actually, it looks like that schema only covers the part of the schema inside the "policyRule" section and not the entire definition.  Can this get updated to add the missing sections?  (name, properties, type)

[2018-05-01 17:15] mumian commented on #7066
#please-close.  I will work with Victor offline.

[2018-05-01 17:17] nitinme commented on #7855
@seeapoorva Thanks again for your inputs. I am working on this today and plan to go through the steps in the article to repro the error. Will circle back here soon.

[2018-05-01 17:25] Paul-Dempsey opened #7935 "Inconsistency between API parameter description and actual usage in samples."
The API for `from` and `to` languages says that this code must be one of those returned by the Languages API. This is contradicted by the sample under _Translate with transliteration_  where it passes `zh-Latn` in the `to` parameter, which is not in the list returned by the `Languages` API. Assuming that the sample is correct, it raises the question of what that real list of accepted language code

[2018-05-01 17:28] hpsin commented on #6485
#please-close this is complete.

[2018-05-01 17:28] hpsin commented on #6993
#please-close

[2018-05-01 17:30] mattbriggs commented on #7892
@kristopherjturner Thanks for your note. I'll have to find out what is going on there and how you can provide the right value. Cheers, Matt #in-progress

[2018-05-01 17:30] Paul-Dempsey opened #7936 "Description of 'category' parameter missings full usage of the parameter"
It says only that it is used with Translator Hub, when in fact, it also can specify SMT, NMT, translation domains (tech, general) in addition to the MT Hub customizations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1648784c-c385-4120-a2a6-3414a0d752e1
* Version Independent ID: 1f90c698-a146-3345-40dd-eb5dabe56cf3
*

[2018-05-01 17:31] vasivara-MSFT commented on #7923
@joymon Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-01 17:31] #6485 closed

[2018-05-01 17:32] #6993 closed

[2018-05-01 17:33] #7167 closed

[2018-05-01 17:37] SaurabhSharma-MSFT commented on #7925
@raviman8 Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-01 17:38] vasivara-MSFT commented on #7921
@waheedhussain Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-01 17:41] #7066 closed

[2018-05-01 17:41] vasivara-MSFT commented on #7919
@waheedhussain Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-01 17:41] MarkusVi commented on #7888
I have included the error codes and staged the updated article.

[2018-05-01 17:42] SaurabhSharma-MSFT commented on #7920
@obfu5c8 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-05-01 17:46] BryanTrach-MSFT commented on #7565
@MSIH Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-05-01 17:46] #7565 closed

[2018-05-01 17:47] SaurabhSharma-MSFT commented on #7928
@mschultz-bcbsne Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-01 17:48] vasivara-MSFT commented on #7921
@waheedhussain Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-01 17:48] hpsin commented on #7890
To get the powershell cmdlet, you'll need the [preview version of the AzureAD cmdlets](https://www.powershellgallery.com/packages/AzureADPreview/2.0.1.2).

Please ensure that the RefreshTokenMaxInactiveTime is less than the RefreshTokenMaxAge values and greater than the AccessTokenLifetime.  Setting them to the same value creates race conditions that will break the natural flow of refreshing your

[2018-05-01 17:49] SaurabhSharma-MSFT commented on #7926
@gutjahr Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-01 17:52] barry-schneider commented on #7565
what is the purpose of `--%` in the az command?

[2018-05-01 17:56] MGoedtel commented on #7354
@msghaleb - I'm reviewing this and evaluating your proposed changes suggested for this article.  Thanks for making the time to make them.  Can you elaborate regarding the point about not able to specify proxy during agent update?  I'd like to understand this scenario better.

[2018-05-01 17:59] YutongTie-MSFT commented on #7936
@Paul-Dempsey Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@Jann-Skotdal Hi, this is a issue about 'category' parameters, can you please check it and update the document as necessary? Thanks a lot!

[2018-05-01 18:05] bwren commented on #7619
Yes, I said I'm going to make that change.

[2018-05-01 18:05] YutongTie-MSFT commented on #7935
@Paul-Dempsey Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@Jann-Skotdal Hi, this is a document enhancement issue, can you please check it and update the document as necessary? Thanks a lot!

[2018-05-01 18:14] vasivara-MSFT commented on #7897
You need to choose a head node of any instance with 8 cores and 14 GB of RAM. Please take a look at this [page](https://azure.microsoft.com/en-us/pricing/details/hdinsight/)

[2018-05-01 18:15] vasivara-MSFT commented on #7897
@joymon We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-01 18:15] #7897 closed

[2018-05-01 18:18] Paul-Dempsey opened #7938 "Edit button on API Reference pages are 404"
The Edit button for all the API entry points results in a 404 from GitHub. I know that these are built from source, but you need to provide a way for people to provide updates - either enable edit that goes to a repo cache of the generated content, or disable the Edit button, or turn it into a popup that provides guidance for an alternative mechanism to update API pages.

---
#### Document Details

[2018-05-01 18:24] mike-urnun-msft commented on #7862
Hey @Bartolomeus-649

UI label in the Azure Portal for the said dialog used to read "Input payload object," however, it has since been renamed to read "Request Body," screenshot below:

![image](https://user-images.githubusercontent.com/36717703/39485978-6eb0ba6a-4d2f-11e8-90c9-7605a85ac7d6.png)

The dialog will show, within your LA designer View -> Function app Action, right after you go through

[2018-05-01 18:27] stevestein commented on #7226
@pekkaar - Hi Peter, You can call remote UDFs using [sp_execute_remote](https://docs.microsoft.com/sql/relational-databases/system-stored-procedures/sp-execute-remote-azure-sql-database):
   `execute sp_execute_remote @data_source_name = N'external_source_name', @stmt = N'select dbo.function_on_db2()' `

The [Elastic query documentation](https://docs.microsoft.com/azure/sql-database/sql-database-e

[2018-05-01 18:27] TravisCragg-MSFT commented on #7815
@hajjat  I am able to see that azure will SNAT your connections on a Public Load Balancer, but not a Internal Load Balancer - (go over scenario 2)https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-connections#scenarios

There is a chance you could accomplish something similar using Custom Routes - https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-udr-

[2018-05-01 18:28] daveba commented on #7839
@jochenschroeer Thanks for opening this issue.  I've opened an item in our backlog to update this document.  I'll respond to this issue once the table is updated.

[2018-05-01 18:30] nitinme commented on #7855
@seeapoorva I just finished running through the steps in the article and was not able to repro the error. The syntax works as documented. Which version of HDInsight Spark cluster are you using?

[2018-05-01 18:32] TravisCragg-MSFT commented on #7817
@luis-sanchez-globant Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-01 18:34] seeapoorva commented on #7855
Hi Nitin,

I am using spark 2.2 on Linux (HDI 3.6)

On Wed, 2 May 2018 at 12:00 AM, Nitin Mehrotra <notifications@github.com>
wrote:

--
Warm Regards
Apoorva Mahajan
9900933480

[2018-05-01 18:38] MicrosoftGuyJFlo commented on #7925
@raviman8 the AD FS 2016 content lives in the location below. https://docs.microsoft.com/windows-server/identity/ad-fs/operations/configure-ad-fs-and-azure-mfa

[2018-05-01 18:38] MicrosoftGuyJFlo commented on #7925
#in-process

[2018-05-01 18:42] jayp00001 opened #7941 "replication traffic"
The docs say to choose a nic for replication traffic.  Is that traffic replication to Azure or is that traffic replication from the VM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ade7041d-9bfd-2f20-c6fc-b9f50eb9d307
* Version Independent ID: bd581d20-6ab3-a7d0-3fd5-6049fbad3283
* Content: [Set up disaster recovery

[2018-05-01 18:43] raviman8 commented on #7925
Hello, it is to my understanding, the URL you provided, that is for Azure
MFA cloud, not on-prem. Please correct me if I am wrong...

On Tue, May 1, 2018 at 2:38 PM John Flores <notifications@github.com> wrote:

--
Thanks,
Ravi Yadav

<https://mvp.microsoft.com/en-us/PublicProfile/5002189?fullName=Anonymous>

[2018-05-01 18:44] #7478 closed

[2018-05-01 18:48] MicrosoftGuyJFlo commented on #7925
Yes that specific doc is but all of the AD FS documentation for 2016 lives in that TOC. If you look to the left in the doc you will see all of the other AD FS docs.

[2018-05-01 18:54] raviman8 commented on #7925
Hi John,

Since Azure MFA is built into Server 2016, does that mean Azure MFA
(on-prem) is not required for AD FS?

I am a bit confused here, as there are several pieces of documentation...

In short, the customer wants Azure MFA on prem, to be integrated with AD FS
2016. They want to user to be prompted for MFA when they sign into their
O365 account.

Azure MFA has been deployed and configured wi

[2018-05-01 19:01] MicrosoftGuyJFlo commented on #7925
Azure MFA is not built-in that's just the adapter that you used to have to manually install (https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfaserver-adfs-2012#install-azure-multi-factor-authentication-server-locally-on-the-ad-fs-server ).

You will still need MFA Server (on-premises) or Azure MFA (cloud-based) to perform the MFA function.

[2018-05-01 19:03] raviman8 commented on #7925
Hi John,

Do you have maybe 10 minutes, where I can show you the current
configuration?

On Tue, May 1, 2018 at 3:01 PM John Flores <notifications@github.com> wrote:

--
Thanks,
Ravi Yadav

<https://mvp.microsoft.com/en-us/PublicProfile/5002189?fullName=Anonymous>

[2018-05-01 19:16] CelesteDG commented on #7053
New PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/39791 addresses feedback from @jmagosta and @xMTinkerer  and also incorporates input from @ManuelRin. Also includes some other small tweaks. Waiting for build and for this get merged to master then live.

[2018-05-01 19:27] Bartolomeus-649 commented on #7862
Creating a new function wasn't the problem. In the documentation, the "old" dialog seem to have been displayed before the actual function was created, and when next was pressed and the function was created, it, according to the documentation,  should have variables reflecting the object you choose as th input objects to the function in the dialog.

Since the create function action dialog now just

[2018-05-01 19:30] Architekt909 commented on #6333
This link is still out of date a month later, would be good to update it

[2018-05-01 19:31] #7856 closed

[2018-05-01 19:31] MGoedtel commented on #7919
@waheedhussain - I don't believe that would be the right approach.  You can leverage the native features of App Insights to monitor an Azure web app and collect those metrics to view/query with the Log Analytics query language in App Insights.  I need to discuss with our resident App Insights SME and then I will revise that note because whoever made it wasn't explicit/detailed enough.  Does that h

[2018-05-01 19:32] MGoedtel commented on #7919
#in-progress.  Will review with our App Insights SME to determine what the right steps are for this issue.

[2018-05-01 19:45] douglaslMS commented on #7389
@Garandorf @pejuan We have revised the "Import modules" section under here: [Create and test an Azure Automation runbook](https://docs.microsoft.com/en-us/azure/data-factory/how-to-schedule-azure-ssis-integration-runtime#create-and-test-an-azure-automation-runbook).

[2018-05-01 19:53] #7793 closed

[2018-05-01 19:53] #7840 closed

[2018-05-01 19:54] MohitGargMSFT commented on #7846
@madsenfx We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-05-01 19:54] #7846 closed

[2018-05-01 19:58] giemch commented on #6029
Are retries implemented on output bindings as well or just input bindings?

[2018-05-01 20:04] vasivara-MSFT commented on #7676
@rahulunlimited Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-01 20:06] YutongTie-MSFT commented on #7938
@Paul-Dempsey Hi, sorry for all inconveniences. But I have tried the edit button and there is nothing wrong whether I logged in or not. Can you please try it again? Thanks a lot!

[2018-05-01 20:11] femsulu commented on #7917
@waheedhussain Good question. I have passed this on to the content owner to review and provide an answer. Please stay tuned.

[2018-05-01 20:15] Bartolomeus-649 opened #7944 "Does not work in Visual Studio"
In the step 1.d. there is nothing to select, the dialog does not display the Receiver logic app, even though it is defined in the same file as the sender logic app.

Please document how you get this sample to work in Visual Studio.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c0b3664-4181-90d2-c1db-d17724c16a3e
* Ve

[2018-05-01 20:15] MohitGargMSFT commented on #7868
@AntRemo I am not sure whether we can get it. I would advice you to open a Azure Support ticket through [http://aka.ms/azsupt](http://aka.ms/azsupt) so that Identity Support Engineer could help you on it. Please let me know if you have support plan limitations in opening support ticket.

[2018-05-01 20:16] femsulu commented on #7918
@waheedhussain Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-01 20:22] Paul-Dempsey opened #7945 "Missing information on which features (alignment, do-not-translate, dictionary markup, etc.) are available in Nerual vs SMT categories"
This page should get specific on the availability of the various features when using SMT versus the Neural models.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1648784c-c385-4120-a2a6-3414a0d752e1
* Version Independent ID: 1f90c698-a146-3345-40dd-eb5dabe56cf3
* Content: [Microsoft Translator Text API Translate Method

[2018-05-01 20:24] femsulu commented on #7929
@simoncreasey Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-01 20:27] femsulu commented on #7931
@guidovbrakel Good question. I have passed this on to the content owner to review and provide an answer. Please stay tuned.

[2018-05-01 20:30] MohitGargMSFT commented on #7868
@AntRemo Please send me details of your Azure subscription ID @AzCommunity@microsoft.com. Please refer this GitHub issue in your email. I will work offline with you regarding it. Thanks.

[2018-05-01 20:31] rothja commented on #7918
@waheedhussain Thanks for the question! I'm going to pull in a few other people on this to see if I can get an answer. @anirudhcavale @johnkemnetz @rboucher Do you know whether the old limits apply to the new alert experience? Do we have updates to make on this page? Thanks!!

[2018-05-01 20:37] MarkusVi commented on #7920
Hi @obfu5c8. This means  "Admin consent is needed". I have staged an update.

#please-close

[2018-05-01 20:42] Bartolomeus-649 opened #7946 "Referenced schema does not exisist"
https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa5d67cf-2fd8-ab96-8b65-f41a9d7565b8
* Version Independent ID: 8f74dc66-8c2c-2ec4-cb4d-cea94ca9acb0
* Content: [Create, edit, or extend JSON for logic app definitions -

[2018-05-01 20:50] RaoulI opened #7947 "Azure SQL Database Managed Instance configured for Hybrid workloads"
The port 443 is listed two times in the same text box under NSG configuration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfd8f9f0-9035-2deb-5114-de919d98be28
* Version Independent ID: 9b9208e0-f3b9-e169-2790-cfbdc6ab6b17
* Content: [Network topologies for Azure SQL DB Managed Instance migrations using the Azure Da

[2018-05-01 20:59] Paul-Dempsey commented on #7938
I just tried again and now it’s working. Odd, because I had just opened a PR on another page in the same docset.

Thanks,
:- Paul

From: YutongTie-MSFT <notifications@github.com>
Sent: Tuesday, May 1, 2018 1:06 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Paul Dempsey (Adaquest Inc.) <v-pademp@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/a

[2018-05-01 21:02] YutongTie-MSFT commented on #7938
@Paul-Dempsey We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-01 21:02] #7938 closed

[2018-05-01 21:07] kobulloc-MSFT commented on #7933
@leftler The link should be updated shortly and I will assign this to the document author to update the steps using the Azure portal.

[2018-05-01 21:10] YutongTie-MSFT commented on #7945
@Paul-Dempsey Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@Jann-Skotdal Hi, there is a document suggestion, can you please check it and update the document as necessary? Thanks a lot!

[2018-05-01 21:11] pipern opened #7949 "Wrong char in example: # sudo dracut –f -v"
In the command "# sudo dracut –f -v" note that the f is not proceeded with a hyphen, so copying this command exactly will not work.

When performing this action, a hyphen is required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f6b075e-e72b-aa46-4c91-3b722707347d
* Version Independent ID: 6751d66c-9bdc-ab03-f989-14

[2018-05-01 21:29] Mike-Ubezzi-MSFT commented on #7698
@ToddChitt Given that the Azure SQL Managed Instance is in public preview and, because of the approval process to request permission to deploy an Azure SQL Managed Instance, I am unable to complete all the steps to see if I can get this to work.

If you have SSMS installed on multiple hosts, an Azure SQL Database will allow you to connect from any host where you have SSMS installed, after making a

[2018-05-01 21:34] DCtheGeek commented on #7927
@danmyhre Thanks for the feedback and you are correct, the linked sample doesn't provide an appropriate example of match or notMatch.  The article it should be linking to is: https://docs.microsoft.com/azure/azure-policy/scripts/allow-multiple-name-patterns.  Does that solve the question you had about an example?  #in-progress

[2018-05-01 21:41] SaurabhSharma-MSFT commented on #7926
@MarkusVi  -Is it possible to mention the exact role name which has the privileges to view the Bitlocker keys under section [View or copy BitLocker keys
](https://docs.microsoft.com/en-us/azure/active-directory/device-management-azure-portal#view-or-copy-bitlocker-keys)

[2018-05-01 21:52] Mike-Ubezzi-MSFT commented on #7698
To get On-Prem SSMS access to the Azure SQL Managed Instance, you need to set-up a VPN Gateway to the Managed Instance VNet ([Apply the route table to the Managed Instance subnet](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-create-tutorial-portal#apply-the-route-table-to-the-managed-instance-subnet)).

[2018-05-01 21:55] Mike-Ubezzi-MSFT commented on #7698
@bonova Are there plan to detail the steps necessary to connect on-premise SSMS/Apps to connect with an Azure hosted Managed Instance?

[2018-05-01 21:57] MGoedtel commented on #7919
@waheedhussain - Sanity checked that my understanding was correct, you don't need a connector since App Insights and Log Analytics are supporting the same new query language and from your LA workspace you can perform a query against your app using the "app" identifier, which I had documented here a few months back - https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-cross-workspace

[2018-05-01 21:58] HJToland3 commented on #7947
@RaoulI - Thank you! The fix is in progress now.

[2018-05-01 22:04] stevestein commented on #7251
#please-close

[2018-05-01 22:28] vasivara-MSFT commented on #7750
@binzywu

[2018-05-01 22:38] Adam-Smith-MSFT commented on #7941
@jayp00001 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-01 22:42] johnkemnetz commented on #7717
The schema and info for templates on new alerts should go live in the next week. #please-close

[2018-05-01 22:42] johnkemnetz commented on #7151
App Services are not yet onboarded to Azure Monitor. Their diagnostic logs are not integrated into Azure Monitor yet, but that is planned.

[2018-05-01 22:43] kpantos commented on #5447
Facing the same issue.
Any progress on this problem?

[2018-05-01 22:43] johnkemnetz commented on #6128
We plan to update these examples to use the CLI 2.0 (az monitor) soon. adding @rboucher

[2018-05-01 22:47] euangms commented on #7796
Not sure why I am getting these notifications.

From: Mike Ubezzi <notifications@github.com>
Sent: Tuesday, May 1, 2018 3:22 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Euan Garden <Euan.Garden@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Where do Azure SQL diagnostics get stored in Azure Storage (which container)? (#7796)

@e

[2018-05-01 22:48] #7053 closed

[2018-05-01 22:57] BryanTrach-MSFT commented on #7640
@vancourse Thank you for the question. I believe this [doc](https://docs.microsoft.com/en-us/azure/key-vault/key-vault-use-from-web-application) should answer your question on how link your connection string to a secret in key vault.

Additional reading: https://www.hanselman.com/blog/BestPracticesForPrivateConfigDataAndConnectionStringsInConfigurationInASPNETAndAzure.aspx

We will now proceed to

[2018-05-01 22:57] #7640 closed

[2018-05-01 22:57] rboucher commented on #7365
@lrpark I've added the link above into the main Azure diagnostics doc. Fix is in private PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/39840

[2018-05-01 22:58] BryanTrach-MSFT commented on #7944
@Bartolomeus-649 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-01 23:00] nitinme commented on #7849
@lokijota Thanks for the interest in this article and for your suggestions. In a quickstart/get started tutorial, we typically try to keep one single "happy path" approach instead of guiding users into multiple paths. That's why we talk only of Scala in this article. However, I'll take this feedback to look at adding tabbed code snippets for Scala/Python, or add a new article for Python.

For this

[2018-05-01 23:01] BryanTrach-MSFT commented on #7946
@Bartolomeus-649 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@ecfan We tried looking for a replacement schema but we were unable to. Can you please review the feedback and update the doc as necessary?

[2018-05-01 23:01] vasivara-MSFT commented on #7849
@lokijota We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-01 23:01] #7849 closed

[2018-05-01 23:02] jason-j-MSFT commented on #7457
@sharonlo101 we have a request to enhance the documentation with a way to identify the output of an individual element in a foreach activity, if it exists.  I don't see a way to correlate an activity ID to an individual foreach activity in a series or parallel batch.

@vinayrlimbare and @naveenkrsh you can also leave this feedback for Data Factory here:
https://feedback.azure.com/forums/270578-dat

[2018-05-01 23:11] MicahMcKittrick-MSFT commented on #7949
@pipern thanks for the feedback!

@szarkos can you confirm for me? I am not familiar with these steps. If there is an error I am happy to make the change.

[2018-05-01 23:12] tfitzmac commented on #7674
@gbrueckl - sorry for the delay in getting back to you. If you know how many times you are calling the nested template and you give each one a unique name, you could hardcode a reference to each deployment in your main template. That solution is not too common because usually the number of loops is dynamic.

Are you trying to return a value that must be generated in the nested template? If not, yo

[2018-05-01 23:32] HJToland3 commented on #7947
#please-close

[2018-05-01 23:42] anzaman commented on #7817
@luis-sanchez-globant I was able to remove the cert and then add it again successfully - I did not however wait for 4 weeks. From your comment I cannot tell if you are facing this issue when changing the certificate immediately or when you try to add the cert back after 4 weeks.

Also, is there a particular reason you are using a classic gateway?

Thanks,
Ali

[2018-05-01 23:54] nedlowe commented on #7916
Perhaps "indicates Java is supported" is too strong... As per the picture, it's more like that Java is more prominently listed than the others, and so I (incorrectly) assumed that the blank box for 1.x was a mistake.

<img width="884" alt="azure" src="https://user-images.githubusercontent.com/20235132/39498976-e8732b7c-4ddd-11e8-858f-fc2faf971b95.png">

[2018-05-02 01:25] Paul-Dempsey opened #7955 "Items under the **V3 API text translations methods* header should be links"
the entries under the **V3 API text translations methods* header should be links, but are just text.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef9aa16f-9c7a-089a-8249-24a3902906e6
* Version Independent ID: 886ef069-4001-3544-31ba-e4ef13fb62af
* Content: [Microsoft Translator Text API - Migrate to V3](https://docs.

[2018-05-02 01:26] Paul-Dempsey commented on #7955
by which I mean links _to the corresponding API documentation_

[2018-05-02 01:31] rahulunlimited opened #7956 "Change Data Factory for Self Hosted Integration Runtime"
Is it possible to change the Data Factory on the Self Hosted Integration Runtime. Currently I do not see any option. The workaround that I apply, is to uninstall and install with a new Data Factory registry.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1a34b3c-a9b8-29ce-1eca-86f7f42981a1
* Version Independent ID: 61

[2018-05-02 01:42] hisasima opened #7957 "Wrong sentence in Japanese page"
There are (*) both below 9.8 and 9.8 + in Japanese page.

9.8 より前の ASA 用 ASA (*) RouteBased (IKEv2- No BGP)
9.8 以降の ASA 用 ASA (*) RouteBased (IKEv2- No BGP)

I predict "9.8 +" is wrong, so could you revise this document for Japanse ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 779fbece-f67b-28ef-143e-f58ecfa29b1d
*

[2018-05-02 01:56] yuharucan opened #7958 "Is it correct about the table of Dynamic resource classes on Gen1?"
Is it correct about the table of Dynamic resource classes on Gen1?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20e5a898-2249-1347-89f7-b16ca9318eba
* Version Independent ID: 89e45bb2-b973-ef78-e230-f08e90d6482b
* Content: [Memory and concurrency limits - Azure SQL Data Warehouse](https://docs.microsoft.com/en-us/azu

[2018-05-02 02:15] tastyeggs commented on #7799
@preethasubbarayalu thanks that helps.

I had also posted a stack overflow question, with some overlap with this issue: https://stackoverflow.com/questions/50076865/reliable-dictionary-performance-semantics

Would you (or someone else from your team) mind answering this? Thank you

[2018-05-02 02:30] bingosummer commented on #7478
Got it. I respect your way of maintaining github issues. :) Will contact you directly if needed.

[2018-05-02 02:35] andrewatfornax opened #7960 "Does not cover TCP-based probes, TrafficManager IP addresses."
Probes do not need to be HTTP/HTTPS-based, as TCP-based probes are supported. This troubleshooting guide does not provide help for when TCP-based probes are not working.

Mentioning the NSG requirements, and linking to the IP addresses that TrafficManagers probe from would be helpful in this article as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2018-05-02 02:56] genlin commented on #7850
@superkid200， please try to access the Account center from Azure portal:

1. Log in to [Azure portal](https://portal.azure.com/) by using account administrator.
2. Select Subscription> the subscription you want to reactive.
3. In overview, click Manage. Then you will be redirect to Azure account center.

**Not sure who the Account Administrator is?**

Follow these steps:
Visit Subscriptions in Azu

[2018-05-02 02:57] navyasric commented on #7278
@Mike-Ubezzi-MSFT @jingdabao Sorry for delay in response. The Azure AD v2.0 app model allows for applications to be registered with multiple components as described [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-compare#one-app-id-for-all-platforms). As a result, the client and middle-tier can be registered under a single App ID and the scopes which need

[2018-05-02 03:11] rockboyfor opened #7961 "(example: psping 10.0.0.4:3389) in the section of Additional network captures."
there is one issue about the followig statement in the 2nd list of Additional network captures.
Use TCPing from one of the backend VMs within the VNet to test the probe port response (example: psping 10.0.0.4:3389) and record results.    where is should be (example: tcping 10.0.0.4:3389) or not?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-05-02 03:13] amrx101 opened #7962 "Issue with .NET Core console application to receive messages from the subscription on MacOS."
When trying to compile the C# example that reads messages from topics an error occurs.

Error:
![screen shot 2018-05-02 at 8 38 55 am](https://user-images.githubusercontent.com/9162509/39503576-4d61bb92-4de4-11e8-82dd-cb5e16bb243d.png)

`The type or namespace Azure doesnot exists.`

.NET installed info

![screen shot 2018-05-02 at 8 40 14 am](https://user-images.githubusercontent.com/9162509/39503

[2018-05-02 04:45] TravisCragg-MSFT commented on #7957
@hisasima Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-02 04:46] archevel commented on #7703
From: https://docs.microsoft.com/en-us/azure/machine-learning/desktop-workbench/tutorial-classifying-iris-part-3#prerequisites

and under step 3 under https://docs.microsoft.com/en-us/azure/machine-learning/desktop-workbench/tutorial-classifying-iris-part-3#prepare-to-operationalize-locally-for-development-and-testing-your-service

The emphasis above are mine. To summarize, the docs says I can use

[2018-05-02 04:49] archevel commented on #7703
From: https://docs.microsoft.com/en-us/azure/machine-learning/desktop-workbench/tutorial-classifying-iris-part-3#prerequisites

and under step 3 under https://docs.microsoft.com/en-us/azure/machine-learning/desktop-workbench/tutorial-classifying-iris-part-3#prepare-to-operationalize-locally-for-development-and-testing-your-service

The emphasis above are mine. To summarize, the docs says I can use

[2018-05-02 04:51] TravisCragg-MSFT commented on #7960
@andrewatfornax Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-02 04:55] dcbrown16 opened #7963 "Getting the agent to offline computers - missing documentation?"
There is a reference to a "Configuring the agent for use with a proxy server or OMS Gateway" section of this page in the second paragraph of the Overview section, but it doesn't go anywhere.
Can this link be fixed if it is supposed to go to another page, or if not, can we add information about how to provision the agent through a proxy or OMS Gateway?

Is this basically referring to step 1 under "

[2018-05-02 05:10] TravisCragg-MSFT commented on #7961
@rockboyfor the 10.0.0.4 address is an example address of a VM that is in the backend pool. You would want to use the Direct IP for one of your backend VMs in place of the 10.0.0.4.

Please let me know if this answers your question.

[2018-05-02 05:31] amrx101 commented on #7962
Misdirection. Doc seems complete.

[2018-05-02 05:31] #7962 closed

[2018-05-02 06:02] nonokangwei opened #7964 "ACR build CLI extension install failed in Cloud CLI"
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/runpy.py", line 183, in _run_module_as_main
    mod_name, mod_spec, code = _get_module_details(mod_name, _Error)
  File "/opt/az/lib/python3.6/runpy.py", line 142, in _get_module_details
    return _get_module_details(pkg_main_name, error)
  File "/opt/az/lib/python3.6/runpy.py", line 109, in _get_module_details
    __import__(pkg_na

[2018-05-02 06:19] narendrasolanke21 opened #7965 "Azure batch service"
Not able to find AZ_BATCH_APP_PACKAGE environment variable.I am trying to run application package which consist of jar and trying to run through task command.
I am using ubuntu node.Below is my task command:
.withCommandLine("/bin/bash -c '$AZ_BATCH_APP_PACKAGE_achfilewriter_1.1$ && java -jar ACHFileWriter.jar CSVfile.csv'");

[2018-05-02 06:44] parsoFish opened #7966 "pg_dump from an azure postgres server"
Is it possible to remotely run a pg_dump on an azure hosted postgresql server. This document is specifically targeted towards creating a backup of a local db and then restoring to azure. When I initially attempted to run the script like so:

pg_dump -Fc -v --host=test.postgress.database.azure.com --port=5432 --username=test@test --dbname=test > testdmp.sql
The following error was returned:

pg_dum

[2018-05-02 07:06] rbalakrishnan1994 opened #7967 "Azure sync job running mode"
we have an azure sync job setup which will run for every 6 min. but the task starting time is not unique. if the first job starts at 10.05 then the next should start at 10.11.  the job usually run for 1 min.  so are you adding that time also to start the next task starting time? please explain how it's working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2018-05-02 07:28] Anmolgan81 opened #7969 "Does Integration Account Enable Move?"
Can anyone tell me if Integration Account can be moved across subscriptions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to new subscription or resource group](https://docs.microsoft.c

[2018-05-02 07:36] ChrisSommers opened #7970 "Key Vaults impacted by doing this"
The article should mention that any Key Vaults will also be affected by such a move. See here: https://docs.microsoft.com/en-us/azure/key-vault/key-vault-subscription-move-fix

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ce7d1e8-e4b9-6152-4fbe-5d3f3d9f0583
* Version Independent ID: 7676911e-6a80-06f1-b429-a3ce399c38

[2018-05-02 07:52] gbrueckl commented on #7674
@tfitzmac yes, the value is generated in the nested template - and as you said, none of the proposed solutions is really viable.
Using the deployment history is possible, but introduces another step during the deployment which makes it unnecessarily complex

I would like to understand why it is not possible to use "Copy" for the outputs

[2018-05-02 08:23] JohannesEH opened #7971 "No System.Globalization support?"
I need to be able to parse a date within a policy expression, but I can't use DateTimeOffset.TryParse(String, IFormatProvider, DateTimeStyles, DateTimeOffset) because both IFormatProvider (System.Globalization.CultureInfo.InvariantCulture and System.Globalization.DateTimeStyles) are not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2018-05-02 08:30] johnkostyrka opened #7972 "Linked storage using SAS URI ?"
Tutorial works great using a standard storage account. I tried to use linked storage using the SAS URI of a shared container, but that seems to be problematic. Any tips on this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49e300a6-e85a-3cc9-5d2f-3a77eb61c306
* Version Independent ID: c5c39658-82f0-352e-4322-833962c6

[2018-05-02 08:35] JamesDLD opened #7973 "Managed disks & Best practices"
1. Does this documentation fits for managed disks?

2. Does the following best practice is still accurate “Do not schedule more than 40 VMs to back up at the same time“, and if so is it applicable for managed disks?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bdbfa0f-4305-1b2f-2dd9-a8c23e789a78
* Version In

[2018-05-02 08:51] jotheman03 opened #7974 "Adding Powershell steps"
A good and useful document, but adding the steps (or a reference) to the steps to do the same via Powershell would be a great enhancement in my opinion

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: 84b26750-880c-8f14-1628-436293de915e
* Version Independent ID: 518b727f-79e8-b5c2-bcb3-ff4de3444c6f
* Con

[2018-05-02 09:42] lalitkale opened #7975 "How to build images when code repo is private"
Hi Team,
This is great tutorial with all detailed instructions. Thank you! However, my scenario is, I am using private bitbucket stash server onprem. so, in this case, my guess is (need to try it out by replacing github.com), git clone step will fail. So, I would appreciate any guidance around this scenario.
Thanks once again!

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-05-02 09:48] Anmolgan81 opened #7976 "What about Route Tables?"
Do Route Tables supports move across subscriptions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to new subscription or resource group](https://docs.microsoft.com/en-us/azure/azure-reso

[2018-05-02 10:15] pregress opened #7977 "Azure Key Vault Secrets (upload option certificate) are being deprecated"
When importing certificates into Azure Key Vault Secrets, we get the message "This feature has been deprecated. Click here to go to your list of certificates and import a new certificate."
Service fabric used this option in the past. Is it possible to use the (new) key vault certificates with service fabric?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2018-05-02 10:50] achekh opened #7979 "View 3.0 Documentation link is broken"
The link leads to 404 page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef9aa16f-9c7a-089a-8249-24a3902906e6
* Version Independent ID: 886ef069-4001-3544-31ba-e4ef13fb62af
* Content: [Microsoft Translator Text API - Migrate to V3](https://docs.microsoft.com/en-us/azure/cognitive-services/translator/migrate-to-v3)
* C

[2018-05-02 11:11] Liero commented on #7693
Request for AAD auth in .NET Core is opened here for more than two years already: https://github.com/dotnet/corefx/issues/13660
They said it does not have enough upvotes, so please, vote!

[2018-05-02 11:43] wpitallo commented on #6596
@David-Noble-at-work It might also be nice if we could increase the size of the stored procedure body window and reduce output window size. So a pane re-sizer between the two.

[2018-05-02 11:50] wpitallo commented on #6596
Its also quite frustrating that some java script commands are not supported.
eval() for example and even more frustrating, setTimeout.  I am trying to put together some concurrency tests and using setTimeout that is standard in JavaScript is not available (sigh). Any reason why these are not supported?

[2018-05-02 11:55] abhijeetgaiha commented on #7709
@MicahMcKittrick-MSFT What's the process for updating the metadata so that Jason isn't identified as the owner for LAD docs going forward?

[2018-05-02 12:04] prebenh commented on #7977
Using a certificate instead of a secret seems to be working. (only tested for secondary certificates)

[2018-05-02 12:15] wpitallo commented on #6596
@David-Noble-at-work another nice feature would be to be able to set the stored procedures timeout duration somewhere. I am banging my head now trying to come up with some tests bu now the stored procedure is timing out. Would be cool to be able to set / adjust tthis.

[2018-05-02 12:55] raviman8 commented on #7925
Hi John,

Who from the MFA team can I reach out to, to ask some questions around
conditional access and trusted devices?

Thanks,
Ravi

On Tue, May 1, 2018 at 3:21 PM John Flores <notifications@github.com> wrote:

--
Thanks,
Ravi Yadav

<https://mvp.microsoft.com/en-us/PublicProfile/5002189?fullName=Anonymous>

[2018-05-02 13:08] Syamala2604 opened #7980 "Warning on the top of the screen"
hello team,

I am looking for an update on Azure Kubernate Services and happened to come across this article. Going through, I see there is warning on the top of the page stating - "you are viewing the document for the old version of the Azure Container Service. " However, the document is dated as February, 2018 (which is recent). Upon clicking on the links in the warning tip box - it is redirecti

[2018-05-02 13:18] Syamala2604 commented on #7980
Also, I don't see any General Availability document for AKS. It will be helpful if you can comment on the GA of the Azure Kubernate services?

[2018-05-02 13:25] mzbowe opened #7981 "Suggested FAQ"
I thought this existed somewhere, but a "How is Azure AD different than Active Directory" comparison, I think would be useful to have here. mgrimes - internal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcc38e35-6791-3c22-229f-da29677f631b
* Version Independent ID: a054ebd1-f4b2-0bb5-88b2-1996d06cc314
* Content: [Az

[2018-05-02 13:30] ltaylor95 opened #7982 "Using other inputs"
I'm trying to use my Raspberry Pi to send bar code scanner readings to the IoT Hub. What would I change from the above documentation to do so? I am able to get the simulated data transmitting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad635328-7347-7681-18cf-c78ab4dd060d
* Version Independent ID: 5b9c4676-7202-759

[2018-05-02 14:14] luis-sanchez-globant commented on #7817
@anzaman That's exactly the problem. If you create it, before 4 weeks have passed you can add, remove and play with the root certificates without a single issue. But as soon as the 5th week starts, it doesn't matter if you add or replace root certificates, the new generated clients (based on those new root certs) won't authenticate at all. It's like configuration gets frozen and you can no longer

[2018-05-02 14:18] albertinomatias opened #7983 "on-premises synchronization agent PowerShell cmdlet fails with error "The trust relationship between the primary domain and the trusted domain failed.""
Remarks about "Part 3: Configure the on-premises synchronization agent"

Note, The powersell cmdlets related to "on-premises synchronization agent" may fail with the error message "The relationship between the primary domain and the trusted domain failed". This is mainly  true in a Active Directory forest/domain environment where Active Directory trusts are used and when one of them is failing.
He

[2018-05-02 14:19] derekschauland opened #7984 "Verification at the APIM level of Access via an AAD group"
When I visit the users list inside the APIM area in the Azure portal, it shows the users and any local groups they are a member of (local groups being developers and other groups created only on the AMS instance). Would it be possible to also show, or at least call out the method for visibility and verification that members of an AAD group also have appropriate access as users in the APIM - listin

[2018-05-02 14:20] simonnuss opened #7985 "DAX Formula"
Nice article guys!  I'd like to see more star schema prep articles in the future.

Also, FYI, the [AverageTicketsSold] DAX measure doesn't make much sense.  You can't divide by DISTINCT() because it returns a table - perhaps you meant DISTINCTCOUNT() ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b85a32a-639a-ff6d-3

[2018-05-02 14:33] wpitallo commented on #6596
@David-Noble-at-work, collapse/expand methods inside stored procedures

[2018-05-02 14:45] ltaylor95 commented on #7392
When I run the sudo nano index.js with my IoT Hub Connection String it only opens the index.js file, it does not start showing sensor data as the instructions say. Any thoughts as to why?

[2018-05-02 14:46] lucazav opened #7987 "Data file link missing"
Hi, the link to download the "data.csv" file is missing.
In this way it's impossible to test this feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6210b41f-15f2-45cd-774a-4cab95bce57c
* Version Independent ID: 0305886f-77d4-86f0-5a1d-75de82b0d342
* Content: [Develop U-SQL scripts by using Data Lake Tools for Vis

[2018-05-02 14:49] venkateshgowda opened #7988 "JAXBException"
Hey I am not able to figure this out. I have tried so many things but its not working.

Here is the stack trace

Caused by: java.lang.NoClassDefFoundError: javax/xml/bind/JAXBException
        at com.microsoft.applicationinsights.internal.config.TelemetryConfigurationFactory.<init>(TelemetryConfigurationFactory.java:64)
        at com.microsoft.applicationinsights.internal.config.TelemetryConfigur

[2018-05-02 15:08] spottedmahn commented on #7035
And just to clarify, Easy Auth == Easy OAuth, right?

Reference: [SO Comment](https://stackoverflow.com/questions/49858120/scopes-when-securing-api-using-azure-web-app-easy-auth?noredirect=1#comment87273556_49858120)

cc: @jpalo

[2018-05-02 15:13] neodym3k opened #7989 "Get-AzureADPolicyAppliedObject: Not working + wrong parameters"
The documentation of Get-AzureADPolicyApplied cmdlet is wrong: The parameter ObjectId does not exist, there only is a parameter Id.
Btw. the cmdlet fails with "Directory_ObjectNotFound" / "Unable to read the company information from the directory."

This applies to AzureADPreview version 2.0.1.2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-05-02 15:13] NonSecwitter commented on #7029
I ran into a problem with the same step, although slightly different: It seems that the MARS Agent 2.0.9118.0 is not installing the Modules to "C:\Program Files\Microsoft Azure Recovery Services Agent\bin\Modules", or anywhere for that matter. **Specifically: The MSOnlineBackup module is no longer installed, making this step impossible.**

I can't find any information about changes to the MARS age

[2018-05-02 15:14] aljo-microsoft commented on #7977
Hello, appears you have solved your issue, and things are working?

If so is this issue resolved?

[2018-05-02 15:15] prebenh commented on #7977
This issue is solved.

[2018-05-02 15:31] mmacy commented on #7964
Thanks, @nonokangwei, we are investigating this now.

#in-process

[2018-05-02 15:41] sharushetty opened #7990 "How to get CosmosDB Emulator to automatically start upon machine startup / reboot"
We are trying to use Azure Storage Emulator and Azure CosmosDB Emulator for our local development as well as unit testing as part of CI / CD builds. Here is the main link with details on these emulators: https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator

As part of this effort, we need some way to start and stop both the emulators. We have tried running on Docker, but it has its own

[2018-05-02 15:43] DaveEx1 commented on #7750
Posted to Azure Service Bus issues.

[2018-05-02 15:53] vasivara-MSFT commented on #7750
@DaveEx1 Since this issue is being tracked in azure-service-bus forum. I will proceed forward to close this issue.

[2018-05-02 15:53] #7750 closed

[2018-05-02 15:53] Mike-Ubezzi-MSFT commented on #7958
@yuharucan Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-02 15:55] KevinXTian opened #7991 "Event Grid Support in NCUS?"
Do you have a timeline for supporting Event Grid in NCUS region?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3427291a-bf0e-81c6-0e9f-72bdf440b871
* Version Independent ID: 3d833d91-98c1-548b-06c5-681b0c41326b
* Content: [Azure Event Grid overview](https://docs.microsoft.com/en-us/azure/event-grid/overview)
* Content

[2018-05-02 15:55] Mike-Ubezzi-MSFT commented on #7966
@parsoFish Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-02 15:57] Mike-Ubezzi-MSFT commented on #7967
@rbalakrishnan1994 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-02 15:59] Mike-Ubezzi-MSFT commented on #7985
@simonnuss Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-02 16:00] neilpeterson commented on #7980
@Syamala2604 - thanks for submitting this issue. The dates on these docs do not necessarily indicate that once is more valid then the other, just the last time that the doc has been modified.

At this time ACS is the supported platform for pre-packaged Kubernetes on Azure. That said, as you can tell, we are moving towards AKS. At this time we do not have a date for GA. Keep you eye on the AKS FAQ

[2018-05-02 16:04] kf-onurtopal opened #7992 "appInsights JS SDK seems to have problems"
I tried to implement below document but it seems like it s not working.

First of all it is appInsights.trackEvent not appInsights.TrackEvent and appInsights.flush method is not reachable by the object.

I could not see any click event in the Azure AI reports. Also could not see any requests to AI from client side.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2018-05-02 16:04] Mike-Ubezzi-MSFT commented on #7985
@stevestein The example 'measure' code sample needs to be updated:

`AverageTicketsSold = DIVIDE(DIVIDE(COUNTROWS(fact_Tickets),DISTINCT(dim_Venues[VenueCapacity]))*100, COUNTROWS(dim_Events))`

[2018-05-02 16:10] vincepower opened #7993 "OpenLogic to CentOS"
Could you rename the references to OpenLogic to CentOS? CentOS is the actual distribution in question, and OpenLogic isn't even the current name of the company that packages it for the Azure Marketplace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7b1b215-0434-145b-cd11-95d0f32bc015
* Version Independent ID: d328a8

[2018-05-02 16:19] etherdragon98926 opened #7995 "Error debugging the solution"
I'm trying to run the solution using local service fabric and I receive the following error:

4>Register-ServiceFabricApplicationType : One or more errors occurred. --> AggregateException: One or more errors
4>occurred. --> FileLoadException: The process cannot access the file because it is being used by another process.
4>(Exception from HRESULT: 0x80070020)
4>At C:\Program Files\Microsoft SDKs\S

[2018-05-02 16:25] samiam236 opened #7996 "Minor correction"
The sentence "Application Insights has a rich out of the box with Service Fabric." should probably read something like "Application Insights comes with a rich out of the box experience when using Service Fabric."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd08fcdd-5dd5-41b5-c433-049510ccf027
* Version Independent I

[2018-05-02 16:43] AdamRink commented on #7956
There is a script in the program files directory you can run... C:\Program Files\Microsoft Integration Runtime\3.0\PowerShellScript\RegisterIntegrationRuntime.ps1

[2018-05-02 16:45] tfitzmac commented on #7976
@Anmolgan81 - yes, Route Tables can be moved across subscriptions. If a service is listed as supporting move, you can safely assume its resource types support move. If there are special considerations for a service, the limitations are described.

So, in this case, Virtual Networks support move and there are no caveats list for Route Tables. The other way you can check is to look at the portal. Se

[2018-05-02 16:47] tfitzmac commented on #7969
@Anmolgan81 - yes, integration accounts can be moved across subscriptions. Logic Apps support move.

#please-close

[2018-05-02 16:48] barkills opened #7998 "Considerations not covered"
-3rd party MFA providers can affect your hybrid authN architecture.
-Protocols can also affect your hybrid authN architecture. If your existing federation provider only uses the SAML protocol, then you can not do hybrid domain join. If hybrid domain join is important, then you can not choose that option.

Both are complicating factors not covered by this analysis document and poorly represented in

[2018-05-02 16:50] pilor commented on #7829
Yes, right now it is just the policyRule schema.  I'll ensure that we get full schemas published for the 3 policy resource types (policyDefinitions, policyAssignments, and policySetDefinitions).  However, I can't guarantee when those will be available

[2018-05-02 17:02] Mike-Ubezzi-MSFT commented on #7251
@Ayanmullick We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-02 17:02] #7251 closed

[2018-05-02 17:04] Mike-Ubezzi-MSFT commented on #7683
@fkaleck We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-02 17:04] #7683 closed

[2018-05-02 17:05] Mike-Ubezzi-MSFT commented on #7829
@danmyhre We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-02 17:05] #7829 closed

[2018-05-02 17:06] Mike-Ubezzi-MSFT commented on #7920
@obfu5c8 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-02 17:06] #7920 closed

[2018-05-02 17:06] Mike-Ubezzi-MSFT commented on #7947
@RaoulI We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-02 17:07] #7947 closed

[2018-05-02 17:07] YutongTie-MSFT commented on #7979
@achekh Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@Jann-Skotdal Hi, this is a issue about doc-bug, can you please check the View 3.0 Documentation link on the bottom? Thanks a lot!

[2018-05-02 17:08] MicahMcKittrick-MSFT commented on #7975
@lalitkale Thanks for the question! We are investigating and will update you shortly.

[2018-05-02 17:09] MicahMcKittrick-MSFT commented on #7977
@prebenh Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-02 17:10] MicahMcKittrick-MSFT commented on #7988
@venkateshgowda Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-02 17:11] MicahMcKittrick-MSFT commented on #7995
@etherdragon98926 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-02 17:12] aljo-microsoft commented on #7977
@prebenh

What needs to be updated? Shouldn't this be closed?

[2018-05-02 17:12] MicahMcKittrick-MSFT commented on #7996
@samiam236 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-02 17:13] Mike-Ubezzi-MSFT commented on #7965
@narendrasolanke21 Can you provide a link to the documentation you are referencing or the tutorial you are trying to follow?

[2018-05-02 17:13] MicahMcKittrick-MSFT commented on #7977
@prebenh if you are following the doc and getting a message that something is deprecated we should look into it to see if we can update the doc to avoid that message and provide you with the correct steps. Am I incorrect in this? If so we can close.

[2018-05-02 17:14] Mike-Ubezzi-MSFT commented on #7990
@sharushetty Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-02 17:16] vasivara-MSFT commented on #7963
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-02 17:25] SaurabhSharma-MSFT commented on #7970
@ChrisSommers Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-02 17:34] vasivara-MSFT commented on #7987
@lucazav Thanks for the feedback. In this [example](https://docs.microsoft.com/en-us/azure/data-lake-analytics/data-lake-analytics-data-lake-tools-get-started#write-your-first-u-sql-script), it seems to be an example of creating a small dataset in USQL script and writting it into a csv file named data.csv. If you execute that script, you will end up with an output file called data.csv.  If this is

[2018-05-02 17:41] SaurabhSharma-MSFT commented on #7974
@jotheman03 Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-02 17:43] vasivara-MSFT commented on #7956
@rahulunlimited Please let me know if that helped or are you still facing this issue?

[2018-05-02 17:43] danmyhre commented on #7535
On the initiative overview page, you also see different "non-compliant resources" counts in the policies table vs the summary count in the middle of the page.  For example, I deployed some changes to the policies in the initiative, which caused the table below to update to show 15 non-compliant resources.  The summary above still shows 62.

[2018-05-02 17:43] SaurabhSharma-MSFT commented on #7981
@mzbowe Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-02 17:44] aljo-microsoft commented on #7977
@MicahMcKittrick-MSFT,

I don't think there was a documentation issue.

From what I gathered, deviating from documentation to attempt a historically allowed workflow, resulted in an error. Following the documentation for certificate installation, everything works as intended, which is what I understand the user performed.

@prebenh Please confirm if my understanding is correct, and that this issue

[2018-05-02 17:44] SaurabhSharma-MSFT commented on #7983
@albertinomatias Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-02 17:47] SaurabhSharma-MSFT commented on #7989
@neodym3k Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-02 17:47] lucazav commented on #7987
Whoops, sorry Vairavan. My mistake!

--
Luca Zavarella │ Mentor & Technical Director | Data Science MPP | SolidQ<http://www.solidq.com/> │ +39 02.86337532 phone | +39 366.9215162 mobile | +39 02.87085210 fax

From: VairavanS-MSFT <notifications@github.com>
Sent: Wednesday, May 2, 2018 7:35 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Luca Zavarella <LZavarella@SolidQ.com>; M

[2018-05-02 17:48] SaurabhSharma-MSFT commented on #7998
@barkills Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-02 17:49] vasivara-MSFT commented on #7987
@lucazav Not a problem. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-02 17:49] #7987 closed

[2018-05-02 17:49] MicahMcKittrick-MSFT commented on #7977
Got it :) We can close it out but if @prebenh feels there needs to be an update then we can take a look.

Thanks all!

[2018-05-02 17:53] MicahMcKittrick-MSFT commented on #7975
@lalitkale I believe you would need to fork the repro to a non private repro in order to follow the steps in this specific document.

Else, I found this article on pulling from a private repo which might help:

https://stackoverflow.com/questions/20485891/git-how-to-log-in-and-pull-a-private-repo

[2018-05-02 18:00] YutongTie-MSFT commented on #7955
@Paul-Dempsey Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@Jann-Skotdal Hi, can you please check if it is just text or it should be link? And please update the document as necessary. Thanks a lot!

[2018-05-02 18:28] #7996 closed

[2018-05-02 18:32] tfitzmac commented on #7822
@romankiss - thanks catching this bug. I am submitting a fix.

[2018-05-02 18:33] MGoedtel commented on #7921
@waheedhussain - Are you referring to the App Insights Connector solution - https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-app-insights-connector)?  If you can explain your requirements, I can give you a better answer.

[2018-05-02 18:34] kobulloc-MSFT commented on #7984
@derekschauland Thank you for taking the time to provide feedback!  We want to make sure that this is seen by the product team, and we've created a channel for that very purpose:

https://feedback.azure.com

We'd be happy to submit this feature request on your behalf, but we'd like to give you the chance to submit directly in case you want to receive notifications, vote, or monitor progress more c

[2018-05-02 18:38] prebenh commented on #7977
[This](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-faq#certificates) still talks about ServiceFabricRPHelpers. Which adds a certificate as secret to key vault. Maybe this should also be changed to use key vault certificates instead of secrets.

[2018-05-02 18:45] tfitzmac commented on #6878
@michaeldaw - I considered adding the pricing clarification to the event schema page, but ultimately decided it is best to keep pricing details on product pricing page. Thanks for your question.

#please-close

[2018-05-02 18:48] #7822 closed

[2018-05-02 18:49] michaeldaw commented on #6878
Makes sense. Thanks.

[2018-05-02 18:56] MicrosoftGuyJFlo commented on #7974
@jotheman03 What parts would you like to see the ability to use PowerShell for?

[2018-05-02 18:58] MicrosoftGuyJFlo commented on #7925
#please-close @raviman8 has engaged the product team directly via email.

[2018-05-02 18:59] CindyBai opened #8002 "How to restore previous work in AML workbench?"
I completed the previous two tutorails(Prepare data and Build models) successfully. After I performed a Windows update and restart the AML workbench, surprisingly I can't open my project anymore. The error says "This project is not accessible because it has not been connected to a cloud repository and the project folder location(C:\Users\...\Documetns\AzureML\Iris) is not present on this machine).

[2018-05-02 19:01] dotnetooo opened #8004 "Engineer"
Very helpful , thanks !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8a0ac96-e410-b481-9fdb-90d827a98935
* Version Independent ID: 6a133cdf-a66a-9807-d431-2e0ae43b253b
* Content: [Azure Functions Overview](https://docs.microsoft.com/en-us/azure/azure-functions/functions-overview)
* Content Source: [articles/azure-fu

[2018-05-02 19:02] JasonWHowell commented on #7789
#please-close

[2018-05-02 19:03] David-Noble-at-work commented on #7990
Hello @sharushetty,

Please allow me to introduce myself. I'm dev owner of the Cosmos DB Emulator. Thanks for writing.

To start the Emulator via the task scheduler, try using this command line options: /noui. Please also ensure that the task runs with highest privileges under an account that belongs to the Administrators group.

I defined such a task just now that runs when I log in to my Windows

[2018-05-02 19:08] petertiedemann opened #8007 "Service model XML schema very hard to read"
It is pretty hard to read an XSD as a flat list! The raw XSD is almost easier to read.

Also, the dual scroll bars, does not exactly make it any easier.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a68e7f8c-2c20-caf9-b376-474f9723c224
* Version Independent ID: adf00550-0ff7-2d86-767c-84ae5621c1c4
* Content: [Azure Se

[2018-05-02 19:12] eluchsinger opened #8008 "Connection String"
How can I get a connection string configured on Azure?
If I try `System.Configuration.ConfigurationManager.ConnectionStrings["MyConn"].ConnectionString;`, it doesn't find the `ConfigurationManager`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a4532b8-8c27-ca15-edc6-85fc38cab341
* Version Independent ID: e06de78b-92

[2018-05-02 19:17] Mike-Ubezzi-MSFT commented on #7796
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-02 19:17] #7796 closed

[2018-05-02 19:25] Mike-Ubezzi-MSFT commented on #7958
@ronortloff Can you confirm the Dynamic Resource Classes table of figures?
It currently reads:

![screenshot 175](https://user-images.githubusercontent.com/37126106/39544736-dbd56c56-4e03-11e8-8de9-f126a118ea8d.png)

Just looking for a confirmation.
Thank you,
Mike

[2018-05-02 19:26] MohitGargMSFT commented on #7970
@ChrisSommers I get what you are saying. Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-05-02 19:28] gardnerjr opened #8009 "More best practices?"
This sample code could be even better, and enable more application insights features, if it used more examples of custom properties and custom metrics.  For example, the number of words found could be either another TrackMetric call itself, or could be sent in the customMetric parameter for the TrackEvent call.    I see that the TrackMetric call passes this.CommonProperties as the properties for t

[2018-05-02 19:33] TravisCragg-MSFT commented on #7993
@vincepower Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-02 19:35] MohitGargMSFT commented on #7981
@mzbowe This is a good feedback. Appreciate it! I am assigning the issue to the document author to check on it.

[2018-05-02 19:40] rothja commented on #6863
@Ayanmullick I'm going to summarize some of the monitoring suggestions in the topic. At that point, I'm not sure if I have any more monitoring suggestions to propose to you. Do you have some ideas here that you can work with for monitoring? If so, I'll make the article updates and close this issue. Thank you!

[2018-05-02 19:41] MohitGargMSFT commented on #7983
@albertinomatias Thanks for the details of the issue and the work around solution. Really appreciate your feedback.

I am assigning this issue to document author to investigate and probably include it in relevant section of the document.

[2018-05-02 19:47] mike-urnun-msft commented on #7862
@Bartolomeus-649 Thanks for your valuable feedback & clarification. Content author has been notified and will review and take the right course of action when it comes to the new UX flow within Azure Functions Connector today VS one described in this doc.

To elaborate a bit more to your second point, aside from asking the name of the function, create function action dialog also shows the function

[2018-05-02 19:56] Bartolomeus-649 commented on #7862
Well, the whole point of creating the function from within the Logic App must be that the Logic App knows things like what parameters we are sending to it, so it can generate the correct code for dealing with those parameters and whatever datatype they might be of.
If that's not the case, then what's the point of having his feature in the Logic App at all?

[2018-05-02 20:00] jeffhollan commented on #7862
The screenshot above is what you get when select a pre-existing function. We changed the name to better reflect what you are providing (the request body). That said I'm not aware of any changes to the "create new function" experience where you first provide the context you want to invoke, and it scaffolds out some basic javascript code based on the object you crafted previously. I believe that sti

[2018-05-02 20:00] aljo-microsoft commented on #7977
Ack. The following SF documentation is the latest on certificates, which requires CA issued certificates to function: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-create-cluster-using-cert-cn

Portal experience documentation for classic self signed certificates: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-creation-via-portal

I will send a m

[2018-05-02 20:06] MicahMcKittrick-MSFT commented on #7977
Thanks @aljo-microsoft. Would you like me to reopen this and assign to you for now or leave it as closed?

[2018-05-02 20:10] Bartolomeus-649 commented on #7946
Make sure to notify those responsible for the schemas of this new schema, so all old references are updated.
Especially those that are responsible for the ARM template integration in visual studio, which today generate this json when a new Logic App is added to a template:
[code]

[2018-05-02 20:10] MicahMcKittrick-MSFT commented on #8004
@dotnetooo thanks for the feedback!

@mattchenderson great work on the doc!

[2018-05-02 20:10] #8004 closed

[2018-05-02 20:11] MicahMcKittrick-MSFT commented on #8007
@petertiedemann Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-02 20:12] MicahMcKittrick-MSFT commented on #8008
@eluchsinger Thanks for the question! We are investigating and will update you shortly.

[2018-05-02 20:12] MicahMcKittrick-MSFT commented on #8009
@gardnerjr Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-02 20:14] MohitGargMSFT commented on #7989
@neodym3k Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-05-02 20:17] MohitGargMSFT commented on #7998
@barkills Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-05-02 20:26] Mike-Ubezzi-MSFT commented on #7982
@ltaylor95 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-02 20:33] devops75 commented on #7354
@jason-j-MSFT
Hi,

Are the below  URL's used in documentation updated with the latest version of Agents, so that when users click on these URL's they get the latest version of Agents. We have utilised these URL's in our internal docs. Want to make sure they are referring to the latest version of the agents. Appreciate your response.

Windows
=======
https://go.microsoft.com/fwlink/?LinkId=828603
h

[2018-05-02 20:34] MGoedtel commented on #7963
@dcbrown16 - Thanks for bringing this to my attention.  I've bugged the issue and should have this resolved shortly.  In the meantime, it is not meant to link to the Linux computer article and if you can't configure the agent to communicate through a proxy/firewall, then setting up the OMS Gateway first would be necessary and have it as the egress point for agents to the LA service.

[2018-05-02 20:34] MGoedtel commented on #7963
#in-progress.  Updated article and submitting PR now.

[2018-05-02 20:44] derekschauland commented on #7984
I have it posted to the feedback site, however, if the docs team could assist in getting this seen and help it move up the backlog that would be awesome 😉

________________________________
From: kobulloc-MSFT <notifications@github.com>
Sent: Wednesday, May 2, 2018 1:34:09 PM
To: MicrosoftDocs/azure-docs
Cc: Derek Schauland; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Verification at the APIM l

[2018-05-02 20:48] maddyloo commented on #7898
For the record, I used:
`"type": "Microsoft.Compute/virtualMachines/extensions",
 "name": "[concat(parameters('virtualMachineName'), '/', 'app-name')]"`

Which worked just fine!  Might just be a matter of making sure those directions are consistent across pages.

[2018-05-02 21:34] femsulu commented on #7850
@superkid200, Hope the steps provided by @genlin helped. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-02 21:34] #7850 closed

[2018-05-02 21:39] aljo-microsoft commented on #7977
Please re-open to continue tracking resolution.

[2018-05-02 21:45] rkyttle commented on #7266
Hi Robert,

Thanks for the update on the article.  I have a question though on the recommendation to use the Administrative category for viewing events using the Azure portal.

The issue I see with this is this filter shows additional events beyond just the role definition and role assignment operations.  In my case, I am seeing events for things including activity with my storage accounts, or vir

[2018-05-02 21:51] davidmu1 commented on #6866
Not identifying an article change.

#please-close

[2018-05-02 21:52] tony-gutierrez opened #8013 "agentkeepalive"
The max sockets setting for agentkeepalive is PER HOST, so the example doesn't make much sense. Also there is not explanation as to where the recommended 160 sockets per VM number comes from.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99e6469b-0c90-c4ba-cf41-354ea4919ea2
* Version Independent ID: 80944b77-6b15-5f0b

[2018-05-02 21:58] waheedhussain commented on #7921
Hi, yes that is the solution i am referring to. our application is built on PaaS. we are using application insights as APM and custom logging. We use log analytics to ship diagnostic logs from service bus, logic apps, azure sql database etc.

we want to use this connector solution to bring app insights data to log analytics to use it as single pane of glass where data from all components is availa

[2018-05-02 22:01] kobulloc-MSFT commented on #7984
@derekschauland Thank you for posting feedback!  I've voted for it and if anyone else wants to vote they can find the thread here:

https://feedback.azure.com/forums/34192--general-feedback/suggestions/34136242-verification-at-the-apim-level-of-access-via-an-aa

This is the best way to send feedback to the product team :)  Additionally, I've made a note of this and if there's anyway that we can up

[2018-05-02 22:01] #7984 closed

[2018-05-02 22:10] MGoedtel commented on #7354
@devops75 - Yes, those FWLinks are configured to reference the latest version of the agent(s).

[2018-05-02 22:13] YutongTie-MSFT commented on #8002
@CindyBai Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-02 22:18] YutongTie-MSFT commented on #8002
@CindyBai Can you please try to delete the older version in your workbench and do "Add Existing Folder As Project" again? Please see if it works. Thanks.

[2018-05-02 22:29] parsoFish commented on #7966
Fixed this on my end. Needed to add my IP to the connection security settings. I hadnt initially done this because when I first tried it seemed the IP was already stored in there but the rule name seems to be significant to that as well

[2018-05-02 22:29] #7966 closed

[2018-05-02 22:34] chaitualladi opened #8015 "KeyVault - Manged Storage Account keys"
Hello,
I am trying to implement KeyVault Managed Storage account keys for key rotation following the documentation using a service principal. After setup of RBAC permissions, as in the working example of documentation, i am stuck with "$userPrincipalId" part. As i am working using a Service Principal, what should i consider as "my account" and look for which AD User? I did try using "$servicePrinc

[2018-05-02 22:36] Mike-Ubezzi-MSFT commented on #7991
Current North American available regions for Azure Event Grid.

![screenshot 176](https://user-images.githubusercontent.com/37126106/39552550-89d6a03a-4e1e-11e8-9101-69e008f9be06.png)

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-02 22:36] #7991 closed

[2018-05-02 22:37] spottedmahn opened #8016 "How to enable / disable for SDK | Local Development"
When I'm running Service Fabric locally, for development, how do I enable/disable this service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d273a891-b7f9-81db-bfc5-044e6755541f
* Version Independent ID: dc9f17bb-64af-d4b5-186f-7647c0a0c511
* Content: [Azure Service Fabric DNS service](https://docs.microsoft.com/en-u

[2018-05-02 22:40] spottedmahn commented on #8016
Looks like [this](https://github.com/Azure/service-fabric-issues/issues/588#issuecomment-340828000)

[2018-05-02 22:44] spottedmahn opened #8017 "Does the Service Fabric DNS Service Overwrite My DNS Settings?"
When developing on my local machine using the Service Fabric SDK, I tried changing my obtain DNS server address to auto but it keeps going back: `network settings -> adapter settings`.

One of my co-workers said that was Service Fabric doing that.  I couldn't find anything about this.  Is that documented, somewhere?

![image](https://user-images.githubusercontent.com/14079228/39552797-cee9b2ce-4e3

[2018-05-02 22:45] #7873 closed

[2018-05-02 22:45] BryanTrach-MSFT commented on #7873
@Maryom This should now be resolved. The changes should appear publicly within the next 24 hours. Thank you for your feedback!

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-05-02 22:49] martincoetzer commented on #7998
@barkills, thanks I added a note to address this. I agree we do need more complete guidance for Hybrid AD join requirements in other docs.

[2018-05-02 22:54] YasinMSFT commented on #7887
@glmios Thank you very much for your question. At the moment, Office for Mac is not supported.

[2018-05-02 22:57] mmacy commented on #7964
Hi @nonokangwei,

The cause of this issue has been identified, and should now be resolved in most regions (fix still rolling out to a few remaining regions). I've just verified that a Cloud Shell launched in West US once again supports installation of the acrbuildext CLI extension.

Thanks for your patience, and for notifying us of the issue! I'll request closure on this issue tomorrow if all else

[2018-05-02 22:59] SaurabhSharma-MSFT commented on #7925
@raviman8 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-02 22:59] #7925 closed

[2018-05-02 23:02] tdykstra commented on #7916
@nedlowe I can see that the empty table cells can be misinterpreted, so I'm putting N/A in them.  Thanks for reporting this!

[2018-05-02 23:13] YasinMSFT commented on #7887
#please-close

[2018-05-02 23:14] YutongTie-MSFT commented on #7887
@glmios We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

@YasinMSFT  Thank you for your response~

[2018-05-02 23:14] #7887 closed

[2018-05-02 23:17] martincoetzer commented on #7998
#please-close

[2018-05-02 23:25] SaurabhSharma-MSFT commented on #7928
@mschultz-bcbsne
Can you please open a MSDN thread with your specific error you are getting and provide the MSDN thread ID here.

[2018-05-02 23:26] peternield opened #8020 "Renew/Replace certificate."
Hi, It would be helpful to have a process for replacing/renewing the certificate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a61a7e9a-44bf-7bdc-f810-87e2fd6792e1
* Version Independent ID: 71d11105-b83e-952e-d107-1ff9a7c8d107
* Content: [Use existing NPS servers to provide Azure MFA capabilities](https://docs.micros

[2018-05-02 23:27] SaurabhSharma-MSFT commented on #7928
@MarkusVi Can you please check if any additional troubleshooting links can be added to current documentation.

[2018-05-02 23:33] MohitGargMSFT commented on #8015
@chaitualladi Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-02 23:34] #7998 closed

[2018-05-02 23:40] xingwu1 opened #8021 "The containerConfiguration is required in order to create container pool"
In "Pool without prefetched container images" section, customer has a little confused: he doesn't need provide the containerConfiguration instance  since he doesn't provide any image name. So we need to point out: In order to run container task, you have to have container pool. In order to create container pool, no matter with/without prefect image, you have to provide containerConfiguration insta

[2018-05-03 00:31] Juliako commented on #7933
@MicrosoftDocs/azure-cxp-triage Can you please reassign this issue to @vladvino?

[2018-05-03 00:32] Juliako commented on #7289
@MicrosoftDocs/azure-cxp-triage Can you please reassign this issue to @vladvino?

[2018-05-03 00:47] davrous opened #8024 "Sample doesn't work"
It contains a bunch of errors, either in this page or from the GitHub repo in some JSON objects (missing some comas).

When executing app.js, got the following error:

C:\Users\davrous\Downloads\AppModelv2-WebApp-OpenIDConnect-nodejs-complete\node_modules\passport-azure-ad\lib\validator.js:51
      throw new TypeError(`Invalid value for ${item}.${checker.error}`);
      ^

TypeError: Invalid value

[2018-05-03 00:51] davrous opened #8025 "Sample doesn't even compile in VS2017"
Error raised:
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0234	The type or namespace name 'TokenValidationParameters' does not exist in the namespace 'System.IdentityModel.Tokens' (are you missing an assembly reference?)	AppModelv2-WebApp-OpenIDConnect-DotNet	C:\Users\davrous\Downloads\AppModelv2-WebApp-OpenIDConnect-DotNet-master\AppModelv2-WebApp-OpenIDConnect-DotNet\St

[2018-05-03 01:01] kwilkins opened #8026 "Error when deploying ApiMgmtDeployment template and parameter files"
After deploying the first template/parameter files I am unable to deploy the second due to the subnet being in use? Is the first deployment putting the subnet in a state so it can't be changed for the second?

I get the following error message:
"Subnet Subnet-0 is in use by /subscriptions/[subscription]/resourceGroups/[resourceGroup]/providers/Micros
oft.Network/networkInterfaces/|providers|Micros

[2018-05-03 01:04] msghaleb commented on #7354
@MGoedtel Hi Matt, thanks for your reply, on a windows box you will need to run the following commands for the proxy settings to work, just adding the proxy settings "e.g. proxyhostname:port" in the proxy screen is not enough.

netsh
winhttp
import proxy source=ie

Best if you test it yourself.

I'm not sure if for Linux any extra settings is needed. Also I would recommend adding a screenshot for

[2018-05-03 01:18] scott2b opened #8027 "not helpful if I can't find my key"
maybe a pointer to where I can get my key?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f510475-89f7-1c27-740d-59f50f294357
* Version Independent ID: 96193052-bccc-8261-3fae-7ea6751b4744
* Content: [Call and response - Python Quickstart for Azure Cognitive Services, Bing Web Search API](https://docs.microsoft.com/en

[2018-05-03 01:29] gegenki opened #8028 "Insufficient permissions to join the domain"
I have a user who is a member of AAD DC Administrators ( guide should explain how to add the user to AAD DC Administrators but does not )
Followed the instructions but when I finally run
sudo realm join --verbose CONTOSO100.COM -U 'bob@CONTOSO100.COM' --install=/

I enter my password and it gives me

 * Calculated computer account: CN=CONTOSO-UBUNTU,OU=AADDC Computers,DC= contoso100,DC=com
 ! Insu

[2018-05-03 01:40] tastyeggs opened #8029 "Links to Reliable Dictionary and Reliable Queue do not work"
Leads to a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b741800f-ac4d-5a3a-bf47-586618ce60d3
* Version Independent ID: 55e5bfd3-37d8-0baa-b18c-b6b3f2980529
* Content: [Introduction to Reliable Collections in Azure Service Fabric stateful services](https://docs.microsoft.com/en-us/azure/service-fabric/service-fab

[2018-05-03 01:45] tastyeggs commented on #8029
As it stands right now, there is 0 documentation on the ReliableDictionary interface (except examples).

[2018-05-03 02:10] Vaccano opened #8030 "On Premise Support Clarity Needed"
The main docs page for Application Insights says your app does not need to be in Azure.

This page seems to hint that it does need to be in Azure.

A clear statement on this would be a nice addition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c30bf4fa-902a-c12d-179f-1829c0b967be
* Version Independent ID: 6b3c7ae8-f

[2018-05-03 02:37] gowrishgates opened #8031 "Azure Automation"
How to run multiple VM in the same time. I tried to assign Variable and Array but no luck.  Can someone help me on this.

# Initialize the compute management client with the RunAs credential and specify the subscription to work against.
compute_client = ComputeManagementClient(
azure_credential,
  str(runas_connection["SubscriptionId"])
)
RG = "Example"
VM = "VM"

print('\nStart VM')
async_vm_star

[2018-05-03 03:49] ecfan commented on #7946
@Bartolomeus-649 The schema references in these topics are now updated:

- https://docs.microsoft.com/azure/logic-apps/logic-apps-create-deploy-azure-resource-manager-templates
- https://docs.microsoft.com/azure/logic-apps/logic-apps-author-definitions
- https://docs.microsoft.com/azure/logic-apps/logic-apps-securing-a-logic-app
- https://docs.microsoft.com/azure/monitoring-and-diagnostics/monitor

[2018-05-03 04:32] venkateshgowda commented on #7988
When am doing mvn clean package

[2018-05-03 04:34] venkateshgowda commented on #7988
And my gradle file
`<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <groupId>io.omoto.app</groupId>
    <artifactId>Omoto-app</artifactId>

[2018-05-03 04:58] narendrasolanke21 commented on #7965
below is the link.
https://docs.microsoft.com/en-us/azure/batch/batch-api-basics

[2018-05-03 05:22] JimmyLS opened #8032 "Support for Server 2016"
May I know if it is supported to secure Terminal Services in Windows Server 2016?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61f2cd83-775b-1321-c8f3-ca97845a0de9
* Version Independent ID: c9d56ccd-aa4d-918d-e2b1-9010a1b811f6
* Content: [Windows authentication and Azure MFA Server](https://docs.microsoft.com/en-us/a

[2018-05-03 05:31] Bartolomeus-649 commented on #7946
Just out of curiosity, what's your process for updating the documentation when a new schema version is released?

[2018-05-03 05:39] petertiedemann commented on #8007
@MicahMcKittrick-MSFT One thing to consider would be hyperlinking between the types, or showing an expandable tree structure.

Take a look at some of these:

http://azimi.me/json-schema-view-js/demo/ (note the ability to expand subitems)
http://www.filigris.com/docflex-xml/xsddoc/examples/html/XMLSchema/index.html

[2018-05-03 06:24] hemantkr14 opened #8033 "Function taking too long to respond: 502-Bad Gateway- The specified CGI application encountered an error and the server terminated the process."
I have recently deployed a Java Azure Function based on the documentation provided on [](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-java-maven) . It was working fine day before yesterday (28-Apr-2018) but today it is taking forever to run. Every time I try to run it it is giving back error 502- Bad Gateway.

Could you please help me on this.

[2018-05-03 06:58] nonokangwei commented on #7964
Hi @mmacy it works fine from the cloud shell on my site now. future question it is same error messge when to install the extension on my own ubuntu 16.04 machine. if there any specific method to work arround this problem.

[2018-05-03 07:08] saifuddin123 commented on #7844
Were you able to resolve the issue? i am also facing the same.

[2018-05-03 07:35] Anmolgan81 commented on #7976
I can see move operation on Managed Disks as well?
Should I assume that it can be moved, as this document tells that Managed Disks cannot be moved??

[2018-05-03 07:35] #7969 closed

[2018-05-03 07:43] bhavikpatel91 commented on #6976
Hi
I'm getting problem when creating "ML Batch Execution Activity" on Azure Data Factory V2.
I tried the steps given above but when I try to select Linked Service in Custom Activity, the Azure ML Linked serivce is not present in the drop down menu.
Please help me with the steps to create a "ML Batch Execution Activity".

[2018-05-03 07:48] zelosng opened #8034 "SSL Certificate for Sub Domain"
Does App Service Certificate support sub domain? Cause our domain already protected by web hosting service and now we need sub domain certificate for our Azure Virtual Machine that needed by ERP system.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa7e21c2-d024-dda5-a468-b140422b9fae
* Version Independent ID: 5475c8e

[2018-05-03 07:59] BMichaelJ opened #8035 "Explanation on sentance in : Application security groups have the following constraints:"
This sentence needs a comma or re-phrasal:
"The virtual network the first network interface assigned to the application security group is in defines the virtual network all subsequently assigned network interfaces must exist in."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e905802-0b08-4b3b-25ec-0f88c023bc32
* Vers

[2018-05-03 08:59] JYOTHIRMAISURI commented on #6515
@snehithm - as discussed, added the required line, the update is live here
https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-itsmc-service-manager-script

[2018-05-03 09:02] JYOTHIRMAISURI commented on #7694
@vasivara-MSFT

Hi, discussed with SME (Snehithm), and added the required line in the script, The update is live now. Please see https://github.com/MicrosoftDocs/azure-docs/issues/6515#issuecomment-385450825 for related details. Thanks.

[2018-05-03 09:31] Anmolgan81 opened #8037 "How can we recreate application gateway?"
If application gateway cannot be moved then how are we suppose to recreate an application gateway that contains 50+ http listner, 100+ Rules, and 20+ backend pools, 20 SSL Certificates??
Is there any way to copy the template of an existing application gateway and recreate it into another subscription??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-05-03 09:46] iamlothian commented on #7625
As of Spring Boot 1.4 it was moved.

[2018-05-03 10:38] nabhishek commented on #6770
The self-hosted integration runtime can be installed on Azure VM.
Here is a quick-start template which can be used to quickly set this up- https://github.com/Azure/azure-quickstart-templates/tree/master/101-vms-with-selfhost-integration-runtime. You can setup up to 4 nodes for scalability and higher availability in one go using this template, which could save a lot of manual work.

[2018-05-03 11:09] wpitallo commented on #6596
@David-Noble-at-work  @Mike-Ubezzi-MSFT,  so I have some use cases for cosmos db around bulk transaction processing that I would like to hopefully chat to someone about if possible. I have looked online but the documentation around this is very limited. Any idea you could point  me to the best person or place to discuss this?

[2018-05-03 11:27] HemantChandurkar opened #8039 "How to run scala script"
I see you have provided py (Python) file example. I want to run my scala script. Can you guide?
Also - the above folder structure can not be created without any files on blob.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d8c8b1a-3b61-1dde-c11c-69043a56dfef
* Version Independent ID: 9ad9804b-27c1-f1ea-2dd3-c20a4d9857

[2018-05-03 11:43] HemantChandurkar opened #8040 "Issue in connecting to Kernel"
I am getting error:
A connection to the notebook server could not be established. The notebook will continue trying to reconnect. Check your network connection or notebook server configuration.

Tried for python as well as scala. Even tried by recreating more clusters.
I also see Bad Request error for below URL:
wss://elcpoc.azurehdinsight.net/jupyter/api/kernels/f1eb303c-d221-4283-b8f9-fa1af4f3e4

[2018-05-03 11:48] lalitkale commented on #7975
@MicahMcKittrick-MSFT Thank you for the hint. let me try this and get back to you.

[2018-05-03 11:59] Callan05 opened #8041 "Is the P4 and P6 sizing here correct?"
If you follow the link, the pricing page has P4 as 32GiB and P6 as 64GiB
https://azure.microsoft.com/en-us/pricing/details/managed-disks/

This document has P4 is 512GB and P4 is 128GB.
Maybe this doc is out of date?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 836301e3-28ef-e12f-f0fc-78e0a3448eed
* Version Independe

[2018-05-03 12:25] avik-so opened #8042 "Ruby 2.4 or Ruby 2.3?"
It lists Ruby 2.4 as a Prerequisite, but the `az webapp list-runtimes --linux.` command only lists Ruby 2.3 as an option... which one is it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 872e5aa0-cda4-295d-08f8-4db6e488e32f
* Version Independent ID: 2b6b32d6-e501-6cb4-bb3b-c3c46851d24e
* Content: [Create a Ruby App an

[2018-05-03 12:26] Clorraine opened #8043 "How to block an ip address"
I'm the trying to do the opposite. Is there a way to blacklist ip addresses versus whitelisting them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d90bbf62-44f9-30a6-d6ea-bbf776f6efc5
* Version Independent ID: b3961eac-6c70-b345-f48c-e4c0ec67059c
* Content: [Azure App Service IP Restrictions](https://docs.microsoft.c

[2018-05-03 12:54] sharushetty commented on #7990
Perfect, that did the magic!! Appreciate your quick response with this. Thanks a lot @David-Noble-at-work.

[2018-05-03 12:58] doneuros opened #8044 "device-identity not working"
[Enter feedback here]
I wanted to run: az iot hub device-identity create --help
I get an error: az iot hub: error: argument _subcommand: invalid choice: device-identity
az --version: azure-cli (2.0.31)
Other commands also not working.
(az iot hub apply-configuration --device-id XXX --hub-name XXX --content XXX.txt:
az iot hub: error: argument _subcommand: invalid choice: device-identity)

---
####

[2018-05-03 13:02] doneuros commented on #8044
Solved I missed to install the extension.

[2018-05-03 13:02] #8044 closed

[2018-05-03 13:13] HemantChandurkar opened #8045 "Error"
I followed this article. I am getting error:

{
    "errorCode": "2312",
    "message": "Spark job failed, batch id:5",
    "failureType": "UserError",
    "target": "Spark1-python"
}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49e300a6-e85a-3cc9-5d2f-3a77eb61c306
* Version Independent ID: c5c39658-82f0-352e-4322-83

[2018-05-03 13:21] ianalderman opened #8046 "Change in ARM template behavior"
Hi the warning on this page says that if you don't apply a valid Tier through ARM it will continue but apply the new tier.  As of today this does not appear to work any longer and instead fails with an error of "Pricing tier doesn't match the subscription's billing model."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-05-03 13:23] Anmolgan81 opened #8047 "How to set static private IP address using powershell in azure 2 azure??"
How can I manually add my private static IP Address using a powershell command in this scenerio, I have over 300 vm's that are having a static IP address and I want to set all of there static IP address using a powershell command that will take all of the vm's one by one and make all the ips static, is there any command for it, I have tried several recovery services command but they all failed in

[2018-05-03 13:31] Jeroen-Priester opened #8048 "Please clarify routing of Public IP addresses over Expressroute and Public Internet"
Hi,
Is it possible to clarify how Microsoft/Azure routes traffic with regards to the issues mentioned in:

Let's say I have a Public ASN with the network 198.51.100.0**/24** that is advertised to the internet.
And I advertise route 198.51.100.0**/29** Azure Expressroute's Microsoft peering.
Will Azure always route 198.51.100.0/29 to the Expressroute since it's the more specific route?

I think thi

[2018-05-03 13:35] albertliang commented on #6603
I've been playing with the data collector and found it can take 10-20 minutes for a log statement to show up in queries (also have alerts turned on).  Also noticed a few logs I posted never showed up. Are there plans to improve times and reliability in the near future?

[2018-05-03 13:40] HemantChandurkar commented on #8045
Please cancel this ticket. I did not mention root container with @. Now resolved.

[2018-05-03 13:43] mayanknayar commented on #8047
If the network interface on the source VM has static IP configuration and the target subnet has the same IP available, it is assigned to the failover VM. If the target subnet does not have the same IP available, one of the available IPs in the subnet is reserved for this VM. You can specify a fixed IP of your choice in 'Replicated item > Settings > Compute and Network > Network interfaces'. You ca

[2018-05-03 13:46] Anmolgan81 commented on #8047
but how can I change the ip using the powershell command, we are talking about 300+ vm's here.

[2018-05-03 13:48] sharushetty commented on #7990
Hello @David-Noble-at-work,

While the main problem with not being able to start the cosmosdb emulator via Windows Task Scheduler got resolved, I do see one issue which may or may not be related to the emulator, but I just wanted to run it through you once to make sure I'm not missing something. When I start the task in Task Manager, the task "Status" stays at "Running" forever and doesn't return

[2018-05-03 13:58] spottedmahn opened #8049 "Add Reference to marcelodiiorio/My-Azure-AD-B2C-use-cases"
There is a ton of useful knowledge here:
[marcelodiiorio/My-Azure-AD-B2C-use-cases](https://github.com/marcelodiiorio/My-Azure-AD-B2C-use-cases).  This repo should be linked to in the B2C documentation!

@marcelodiiorio

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 245ef8a4-a811-19b7-676c-aa9b82e2126f
* Version Indepe

[2018-05-03 14:02] codeevaluator opened #8050 "Error when setting a policy"
Hi, I get the following error when I try to set a retention policy:
"Set-AzureRmSqlDatabaseBackupLongTermRetentionPolicy : 0: Configure long term retention policy with azure recovery service vault and policy is no longer supported. Please submit request with the new flexible retention policy"

The command I'm trying to run is:
    Set-AzureRmSqlDatabaseBackupLongTermRetentionPolicy -ServerName $DB

[2018-05-03 14:14] codeevaluator commented on #8050
![setpolicyerror](https://user-images.githubusercontent.com/15980326/39581921-f9d79fbe-4eec-11e8-892a-191a647224d2.jpg)

[2018-05-03 14:15] Anmolgan81 commented on #7563
any updates in here??

[2018-05-03 14:15] marcelodiiorio commented on #8049
Thank you, @spottedmahn! I really appreciate your feedback!

[2018-05-03 14:18] Steven-N opened #8051 "Is it possible to connect multiple worksapces to security center?"
I don't see anything in the documentation describing if more than one workspace can be connected via the Security Policy -> Data Collection section of the security center settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8267e218-3748-2820-3eee-80479705eec2
* Version Independent ID: 8c6d5fce-6383-a0f8-7df3-f5e0a

[2018-05-03 14:27] danmyhre opened #8052 "Portal Doesn't Support the "properties" Property"
Documents should be updated to note that all functionality is not available if you use the portal.  Not being able to use the "properties" property means that you can't set the mode to "Indexed", which is a big deal for governance related policies.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08dc9679-501f-ac62-5fd5-

[2018-05-03 14:51] kitdotnet opened #8053 "Html.Raw example malformed"
This is missing a div or has an extra </div> (and inconsistent indentation):
<div class="form-group">
            @Html.Raw(Model.AccountConfirmText)
        </div>
        <div class="form-group">
            @Html.Raw(Model.PaymentConfirmText)
        </div>
</div>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e0cf

[2018-05-03 15:07] mmacy commented on #7964
@nonokangwei I had this on my Ubuntu 16.04 machine, as well. Check this file:

`/etc/apt/sources.list.d/azure-cli.list`

If, in that file, it says "wheezy" instead of "xenial", edit the file and switch it over to "xenial".

`deb https://apt-mo.trafficmanager.net/repos/azure-cli/ xenial main`

Then, run an `apt update`, and try the extension installation again.

[2018-05-03 15:09] guillemsola opened #8055 "Standard Load Balancer some internet connectivity"
I hace noticed that whit the Standard Load Balancer outbound internet traffic is prohibited by default. Still there is access to some internet URL like the azure storage ones and bing.com.

Why are those connections still opened? If this is a security feature, why bing.com connectivity? Are there more URL opened?

I miss some point in the documentation stating this as otherwise it creates a false

[2018-05-03 15:21] kitdotnet opened #8056 "Type-safe parameters example needs fix"
Missing double-quote (") before "LoginStoredProcedure":
  SqlDataAdapter myCommand = new SqlDataAdapter(LoginStoredProcedure", connection);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e0cf62c-d3c0-152e-5367-b81c1e7aae05
* Version Independent ID: f379469d-7ab1-5520-b398-e69e4183921b
* Content: [Input Validation - Mi

[2018-05-03 15:27] MGoedtel commented on #7921
@vasivara-MSFT - this isn't a documentation issue and I'm recommending we close this issue.  #close.

[2018-05-03 15:29] MGoedtel commented on #7963
@vasivara-MSFT - I've revised the OMS Gateway article based on the questions raised and clarified a few other items to avoid similar ones in the future.  It was released yesterday so I'm suggesting we #close this issue as I believe it has been properly addressed.

[2018-05-03 15:35] msghaleb commented on #7354
Hi Matt, after installing the agent, we spent few days getting the windows update to work, and after a Microsoft call we were pointed to this solution. Would you be willing to add at least a link to save other customers time looking around? We assume that once the agent is installed and configured everything else should also work. Keep in mind that windows update works manually without this comman

[2018-05-03 15:36] drcampbell opened #8057 "How do we enable using <YourTenantName>.b2clogin.com?"
How do we enable using <YourTenantName>.b2clogin.com? Does it now exist or do we need to sign up for it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89933f39-e8c4-32fd-736a-9f258cbcdaba
* Version Independent ID: 9560563b-23d1-c0f7-a6c0-d7526f97d93e
* Content: [Using b2clogin.com](https://docs.microsoft.com/en-us/azu

[2018-05-03 15:46] kitdotnet opened #8058 "Wording issue in model-binding discussion"
The following doesn't make sense:
"The term binding model refers to a model class used in an action is parameter list ".
Did you mean "... an action's parameter list"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e0cf62c-d3c0-152e-5367-b81c1e7aae05
* Version Independent ID: f379469d-7ab1-5520-b398-e69e4183921b
* Con

[2018-05-03 15:48] akshaykadidal opened #8059 "azure cli 1 is depreciated?"
How do I delete a cluster using azure cli2.  hdinsights does not seem to be an option

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0731829-360a-296f-6678-5aa1550738af
* Version Independent ID: 26de8593-b1e7-2f63-4b6d-33ef47385e51
* Content: [How to delete an HDInsight cluster - Azure](https://docs.microsoft.com/en-u

[2018-05-03 15:48] rdendtler commented on #7845
I'm in the process of updating the Azure Scaffold to V2 and I believe it will both supersede both documents and incorporate the details from https://docs.microsoft.com/en-us/azure/security/governance-in-azure.   While the later document is more detailed and prescriptive the Scaffold document provides a more approachable model and in v2 will expand this.  I will coordinate with authors of the Gover

[2018-05-03 15:50] Mike-Ubezzi-MSFT commented on #6596
@wpitallo If there is a specific document that does not provide adequate details about a topic or needs some enhancements, it is best to use the 'Provide document feedback' link at the bottom of that specific content. This ensures the feedback goes to the content owner(s).
If there is a set of features or functionality that is desired then selecting the 'Provide product feedback' will take you to

[2018-05-03 15:55] keatseongchan opened #8060 "How to change ApplicationParameters after the application is deployed"
I understand the default for PatchOrchestrationApplication is weekly on Wednesday at 7am.  I want to change it to daily to trouble our scenarios so I tried an upgrade to the same version.   However, it seems to have stuck for more than 12 hours and I am not sure where else can I get feedback on what is blocking.

$myparam = @{}
$myparam.Add("WUFrequency","Daily,4:00:00")
Start-ServiceFabricApplica

[2018-05-03 15:57] navyasric commented on #6651
This issue can be closed as the PR for updating the article is merged.

[2018-05-03 16:37] kobulloc-MSFT commented on #8030
@Vaccano Thank you for the feedback!  We are doing a bit of research and will get back to you shortly.

[2018-05-03 16:40] eluchsinger commented on #8008
That has nothing to do with my question. I am asking how I can access that Connection String inside my code.

[2018-05-03 16:41] rothja commented on #6863
@Ayanmullick I'm checking in my monitoring suggestions now and will publish them soon. In doing so, I did think of one thing I should point out. It appears you are on SQL Server 2014? If so, then the schema for Managed Backup functions and procedures is always smart_admin rather than managed_backup. In fact on 2016/2017, the smart_admin versions still work but simply call the managed_backup implem

[2018-05-03 16:54] Mike-Ubezzi-MSFT commented on #7965
@narendrasolanke21 Thanks for the document link. I am assuming you have the batch application deployed: [Deploy applications to compute nodes with Batch application packages
](https://docs.microsoft.com/en-us/azure/batch/batch-application-packages)

Further along in this document it walks you through the execution syntax based upon the O/S environment you are using: [Execute the installed applicat

[2018-05-03 16:57] novino commented on #8060
Your upgrade Mode is UnmonitoredManual, so its waiting for you manual approval via Resume-[ServiceFabricApplicationUpgrade](https://docs.microsoft.com/powershell/module/servicefabric/resume-servicefabricapplicationupgrade).

Looking at the expected behaviour i think you wanted to use UnmonitoredAuto :)

[2018-05-03 17:01] MGoedtel commented on #7354
@msghaleb  - Can you forward me the case number you opened with CSS so I can review and discuss with the engineer who handed the case?  This is the first instance of hearing of this type of issue and after double-checking with our support team(s), I've confirmed there haven't been similar cases opened related to what you describe.  If it were a general issue, I would be more than happy to revise t

[2018-05-03 17:03] larryms commented on #5594
can this be closed? @amanarneja documentation has been updated

[2018-05-03 17:05] MicahMcKittrick-MSFT commented on #8021
@xingwu1 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-03 17:05] MicahMcKittrick-MSFT commented on #8026
@kwilkins Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-03 17:07] MicahMcKittrick-MSFT commented on #8041
@Callan05 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-03 17:10] vasivara-MSFT commented on #8039
@HemantChandurkar Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-03 17:10] #6651 closed

[2018-05-03 17:13] rolyon commented on #7266
Hi @rkyttle,
Thanks for the feedback. I've created an item in our backlog to add activity log filtering options for RBAC to the article.

[2018-05-03 17:16] vasivara-MSFT commented on #8040
@HemantChandurkar Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-03 17:17] btardif commented on #8043
We are working on adding more functionality to this feature include allow/deny lists. Can't comment on timeline but it's work in progress.

[2018-05-03 17:24] vasivara-MSFT commented on #8059
@akshaykadidal it seems like cluster deletion is not supported using azure cli2. You can delete either using [powershell ](https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-delete-cluster#azure-powershell) or [azure portal](https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-delete-cluster#azure-portal)

[2018-05-03 17:26] MicahMcKittrick-MSFT commented on #7949
@pipern I am not sure I 100% understand. Can you paste exactly what you used to get the code to work? I can then make the change. Thanks in advance!

[2018-05-03 17:27] vasivara-MSFT commented on #8059
@Blackmist is my above statement true or does the document needs update?

[2018-05-03 17:29] kgremban commented on #6861
@femsulu Without more information from alonf, I don't know how to improve the article. Can you #please-close this and we can reopen it if he still thinks there's an issue?

[2018-05-03 17:29] MicahMcKittrick-MSFT commented on #7975
You should be able to simply use your private repos rather than having to fork them to public. This is how we work with the Azure Docs as well. However of course they just have it setup right so it works for me :)

Try following the SO link above or also this one:
https://stackoverflow.com/questions/12237790/github-fork-a-private-repo

And let me know if you hit issues.

[2018-05-03 17:30] Blackmist commented on #8059
@vasivara-MSFT @akshaykadidal True; Azure CLI 2.0 does not include any support for creating, managing, or deleting HDInsight. The only thing you can do to clean up HDInsight resources from Azure CLI 2.0 is to delete the resource group that contains HDInsight, which will also delete any other resources in that resource group.

[2018-05-03 17:31] vasivara-MSFT commented on #8059
@Blackmist Thank you for your quick response.

@akshaykadidal  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-03 17:31] #8059 closed

[2018-05-03 17:32] rwike77 commented on #7169
Added some more info to help others find the IP address:  https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-containers#run-the-application-locally

[2018-05-03 17:45] BryanTrach-MSFT commented on #8042
@avik-so Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-03 17:49] BryanTrach-MSFT commented on #8034
@zelosng Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-03 17:51] spottedmahn commented on #8016
Yep, gtg, thanks!  Would be nice to have it in the official docs 🤩

[2018-05-03 17:51] #8016 closed

[2018-05-03 17:52] Paul-Dempsey opened #8065 "Examples use a different API uri than the documeted API Uri"
The Uri documented at the top of the page says: `https://api.cognitive.microsofttranslator.com`, but the curl example show `https://dev.microsofttranslator.com`. What is the correct endpoint to use?

I haven't checked the other APIs, but I think they all have the same issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2018-05-03 17:53] SaurabhSharma-MSFT commented on #8020
@peternield Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-03 17:54] mike-urnun-msft commented on #8042
Hey @avik-so - Thanks for pointing this out! Please choose the 2.3 version of Ruby listed as available by the CLI command. We have updated the doc to reflect the same information in the Prerequisite section.

[2018-05-03 17:54] vasivara-MSFT commented on #7694
@Toouny We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-03 17:54] #7694 closed

[2018-05-03 17:56] Ayanmullick commented on #6863
The below query creates Smqrt admin SQL backup failure alerts thru Log Analytics

`Event |where Source contains "Microsoft SQL Server Automated Backup" and EventLevelName != "Information"`

We tested, it works on an Azure VM with SQL 2016 and not on 2014

[2018-05-03 17:59] rothja commented on #6863
@Ayanmullick Thanks for the info on how to do it with Log Analytics. Does SQL Server 2014 not generate the same event log messages on failure?

[2018-05-03 18:03] SaurabhSharma-MSFT commented on #8024
@davrous Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-03 18:04] SaurabhSharma-MSFT commented on #8025
@davrous Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-03 18:05] SaurabhSharma-MSFT commented on #8028
@gegenki Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-03 18:06] Ayanmullick commented on #6863
Correct. SQL 2014 isn't creating any non-informational events for `Source: Microsoft SQL Server Automated Backup` upon Smart admin backup failure.

[2018-05-03 18:07] SaurabhSharma-MSFT commented on #8032
@JimmyLS Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-03 18:09] rothja commented on #6863
@Ayanmullick Sorry about that. It must have been a 2016 improvement to do so. The only solution I could see would be to have some type of background service that generates and event you could capture based on queries to the stored procedures / functions I provided earlier. Sorry there is not a better solution for 2014.

[2018-05-03 18:09] femsulu commented on #6861
@alonf We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-03 18:09] #6861 closed

[2018-05-03 18:11] SaurabhSharma-MSFT commented on #8049
@spottedmahn Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-05-03 18:12] MicrosoftGuyJFlo commented on #8032
@JimmyLS yes there are docs for this already using Network Policy Server
https://docs.microsoft.com/azure/active-directory/authentication/howto-mfa-nps-extension-rdg

[2018-05-03 18:13] MicrosoftGuyJFlo commented on #8032
#in-process

[2018-05-03 18:15] vasivara-MSFT commented on #8040
@HemantChandurkar Can you please let me know where did you find the link that you mentioned?

[2018-05-03 18:25] rodsan commented on #7332
@antonsavin the new owner is @jegeib

[2018-05-03 18:25] SaurabhSharma-MSFT commented on #8057
@drcampbell Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-03 18:26] rodsan commented on #8058
new documentation owner is @jegeib. Docs have been changed, please remove me as the asignee and assign him instead. Thank you!

[2018-05-03 18:27] rodsan commented on #8056
new documentation owner is @jegeib. Docs have been changed, please remove me as the asignee and assign him instead. Thank you!

[2018-05-03 18:27] rodsan commented on #8053
new documentation owner is @jegeib. Docs have been changed, please remove me as the asignee and assign him instead. Thank you!

[2018-05-03 18:27] femsulu commented on #8031
@gowrishgates Happy to help. We are actively investigating and will get back to you soon.

[2018-05-03 18:28] SaurabhSharma-MSFT commented on #8058
@kitdotnet Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-03 18:29] femsulu commented on #8037
@Anmolgan81 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-03 18:30] SaurabhSharma-MSFT commented on #8051
@Steven-N Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-03 18:31] femsulu commented on #8046
@ianalderman  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-03 18:33] femsulu commented on #8052
@danmyhre, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-03 18:41] samiam236 opened #8067 "Could use more info on how to incorporate the server cert thumbprint"
At the end of the document, there's a sentence which reads "You also need the thumbprint of the server certificate so that the client can authenticate the cluster." However, I don't see anywhere that explains what to do with the server cert thumbprint. Expounding on this a little more would help me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2018-05-03 18:42] samiam236 opened #8068 "Minor typo"
There's a minor typo in the sentence that reads "point it to tehe certificate".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d1345db-45da-3db7-4c3e-0db94c2ac675
* Version Independent ID: e7f1d8ce-c7ca-95d8-833b-aa10f43d0aa7
* Content: [Connect securely to an Azure Service Fabric cluster](https://docs.microsoft.com/e

[2018-05-03 18:43] vasivara-MSFT commented on #7972
@johnkostyrka Since we haven't received any response, We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-03 18:43] #7972 closed

[2018-05-03 19:01] boredom2 commented on #7404
Hi there. Is there a way to specify evictionPolicy also on Azure CLI? I couldnt find that Parameter here: https://docs.microsoft.com/en-us/cli/azure/vmss?view=azure-cli-latest#az-vmss-create.
Or is it at least possible to update the VMSS via Azure CLI afterwards to set virtualMachineProfile.evitionPolicy via az vmss update?

[2018-05-03 19:02] MicahMcKittrick-MSFT commented on #8021
@xingwu1 I have assigned this to the author to review and update the content as appropriate.

@dlepow can you take a look?

[2018-05-03 19:03] MicahMcKittrick-MSFT commented on #8017
@spottedmahn DNS settings are handled by Azure. Therefore you should not be manually inputting any network settings from inside the VM itself. Rather you should be using the network properties provided to you in the portal. If you make changes inside the VM itself it will often cause you to lose the ability to connect.

[2018-05-03 19:06] keatseongchan commented on #8060
Perhaps, we can print a bit more descriptive help message so the user know what to do next.  One thing I like about the git client is tend to help you with get the right commands.

[2018-05-03 19:08] keatseongchan commented on #8060
I have an off topic question. How do we get all patches applied.  The default did not update windows defender definition.

[2018-05-03 19:09] MicahMcKittrick-MSFT commented on #8029
@mcoskun can you take a look? I am not sure where the page is that we need to link to.

[2018-05-03 19:14] MicahMcKittrick-MSFT commented on #8041
@Callan05 thanks for the find! I have submitted the fix. Once the changes merge this issue will automatically close.

[2018-05-03 19:15] BryanTrach-MSFT commented on #8013
@tony-gutierrez Each individual VM hosting the applition is limited to 160 SNAT sockets, which is where this number comes from. This is an intentional platform design and I am not aware of any upcoming changes to this quota. In regards to the sample provided, I have requested the doc author to investigate this and provide an update an necessary.

@rramachand21 Can you please review the feedback ab

[2018-05-03 19:18] AntRemo commented on #7868
Hi @MohitGargMSFT

Just following up to ensure you received my email.

I sent it on Tuesday about 2 hrs after your comment.

Thanks

[2018-05-03 19:27] dhaval24 commented on #7625
https://docs.spring.io/spring-boot/docs/current/api/org/springframework/boot/web/servlet/FilterRegistrationBean.html

Sounds good. @grlima we can approve this. It has been moved to this package since SpringBoot 1.4

[2018-05-03 19:33] grlima commented on #7625
@HDYA or @mrbullwinkle  - are you able to update and create a PR for this? I can approve after that.

[2018-05-03 19:35] Anmolgan81 commented on #8037
We need a solution for this as soon as possible, one of our customer has a 6 Application Gateway and he cant afford a downtime of 1 Hour, what is the best way to recreate the application gateway with the same rules and certificate as fast as possible?

Or if Moving the application gateway is going to be enabled in few days??

[2018-05-03 19:44] markgalioto commented on #7973
@JamesDLD , Thank you for your questions. Yes, the information in this article does apply to VMs with managed disks. For a little more explanation, the Azure Backup overview article [discusses backing up VMs with managed disks](https://docs.microsoft.com/en-us/azure/backup/backup-introduction-to-azure-backup.md#using-managed-disk-vms-with-azure-backup). Also, the recommendation to limit simultaneo

[2018-05-03 19:44] markgalioto commented on #7973
#please-close

[2018-05-03 19:44] mrbullwinkle commented on #7625
@grlima I will generate a PR and @mention you for approval. (Due to Build we are under a content freeze so we might not be able to get it merged until Tuesday when normal publishing resumes.)

[2018-05-03 19:48] bwren commented on #6603
@albertliang I haven't heard of any planed improvements to performance, and I haven't heard of any reliability issues.  I'll pass on that information to the PMs though.

[2018-05-03 19:50] ecfan commented on #7574
@bc3tech I opened a work item to help clarify this timeout description - does this help?

_"Some connectors make asynchronous calls or listen for webhook requests, so the timeout for these connectors might be longer. For more information, see the technical details for the specific connector. For your own custom APIs or connectors, you can work around this limit by using an [asynchronous pattern](h

[2018-05-03 19:51] tfitzmac commented on #8037
@Anmolgan81 - you can export a template for a resource group. You can get either the actual templates used for the deployments or a snapshot of the current state. However, the exported template usually requires some customizing before it can be redeployed to a new resource group. And, not all resources can be exported to template. Exporting is available through PowerShell, Azure CLI or the portal.

[2018-05-03 19:56] Anmolgan81 commented on #8037
Are you talking about automation script of the resource group??
Am afraid that cannot be possible as currently the customer has 200 plus resources inside 1 resource groups hence I cannot get the automation script for that resource group.
How can I get the snapshot of the current state.

Can you give me some examples as how can edit a template for Application Gateway?
Or do you have some links that

[2018-05-03 19:57] tfitzmac commented on #7976
Sorry about that, I see that a recent change to the portal has changed the expected behavior for managed disks.

@ramankumarlive - can you provide some information about the recent portal change which makes it look like moving managed disks will work? They still fail validation, but previously the portal stated they could not be moved before trying.

[2018-05-03 19:58] Anmolgan81 commented on #7976
@tfitzmac I can also see the move operation on Application Gateway as well.

[2018-05-03 19:58] jaginterfor commented on #7329
Is there a list of supported hard drives you support?  If so, could you please add that to this document.  Thanks!

[2018-05-03 20:03] bc3tech commented on #7574
Yes, much more comprehensive. thanks!

[2018-05-03 20:03] zfrenchee opened #8070 "How to close kubectl connection to old AKS instance after az group delete"
I followed this tutorial then did an `az group delete --name myResourceGroup --yes --no-wait`. But `kubectl get nodes`  gives `Unable to connect to the server: dial tcp: lookup myk8sclust-myresourcegroup-836c63-ccde7c6b.hcp.eastus.azmk8s.io on 192.168.86.1:53: no such host` which is preventing me from being able to use kubectl. What do I do?

---
#### Document Details

⚠ *Do not edit this section.

[2018-05-03 20:10] spottedmahn commented on #8017
Sorry, I left out the critical part.  I've updated my question.

[2018-05-03 20:11] bwren commented on #6603
@rymk I spoke to a PM who said that we haven't seen any attempts at log types of this size which is probably why we didn't identify a limit.  We're going to add 100 character limit to the documentation.  It may be able to take alphanumeric characters, but we're going to go ahead and keep the alpha statement to be safe.

[2018-05-03 20:11] bwren commented on #6603
#please-close

[2018-05-03 20:13] neilpeterson commented on #8070
@zfrenchee If I understand correctly, you have deleted a cluster (az group delete) and would now like to use kubectl against a different cluster?

If I have this correct, when you run `az aks get-credentials` a config file is placed a `~/.kube` which includes the pieces necessary to connect to the cluster. If you want to connect to a second AKS cluster you have two options.

- Delete the ~/.kube/c

[2018-05-03 20:15] gatneil commented on #7563
This is not yet supported.

[2018-05-03 20:28] jason-j-MSFT commented on #7031
@msvijayn we are closing this issue for now, please feel free to add comments as needed.

[2018-05-03 20:28] #7031 closed

[2018-05-03 20:28] tfitzmac commented on #7563
@Anmolgan81 - does it help to [copy the managed disks to a new subscription](https://docs.microsoft.com/en-us/azure/virtual-machines/scripts/virtual-machines-windows-powershell-sample-copy-managed-disks-to-same-or-different-subscription)? And then, [create VMs from the copied managed disks](https://docs.microsoft.com/en-us/azure/virtual-machines/scripts/virtual-machines-windows-powershell-sample-c

[2018-05-03 20:31] neilpeterson commented on #8070
What is the output of `kubectl config current-context`

You can also see if the minikube context is configured:

[code]

And the set the mini-kube context:

[code]

If you have Docker for Mac or Windows installed, you can also use it to view and switch between K8S clusters.

![docker-context](https://user-images.githubusercontent.com/7844635/39601254-3825a778-4ed6-11e8-9d86-3c62d47202c1.png)

[2018-05-03 20:32] dalemorson opened #8072 "TRUE specified twice in the section "Supported operations in the classic deployment model""
Is this line meant to say FALSE and not TRUE:

"You cannot perform the following classic operations when allowClassicOperations is set to TRUE:"

As you've already got the following for TRUE:

"The following classic operations are supported on an ExpressRoute circuit when allowClassicOperations is set to TRUE:"

---
#### Document details

⚠ *Do not edit this section. It is required for docs.micros

[2018-05-03 20:33] mrbullwinkle commented on #7864
@jthake Thank you for the feedback. The doc has been updated to reflect that monitoring new apps with hockey app is no longer possible and that the preferred solution for mobile app monitoring going forward is now [Visual Studio App Center.](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-mobile-center-quickstart)

[2018-05-03 20:41] mrbullwinkle commented on #7625
@grlima & @dhaval24  actually I forgot James had [put in a PR](https://github.com/MicrosoftDocs/azure-docs/commit/50106d4a8f3da21e01679de7e4e8b129e4ce7941#diff-3920c6ee98aec597dfd137278dddbbd8) for this a few days ago which I had approved so I think we should be all set.

[2018-05-03 20:45] Anmolgan81 commented on #7563
@tfitzmac yeah I have been doing all the managed disks migration using the same method that you have described.
Its strange that 2TB of disks gets copied over in a matter of seconds

[2018-05-03 20:50] zfrenchee commented on #8070
[code]

Any my docker > Kubernetes isn't a dropdown just a button which doesn't seem to do anything.

I guess I really messed something up.

[2018-05-03 20:51] danmyhre commented on #7927
Yes, that looks better.  I think we need to add some clarification that this is not a regex match like you would expect.  Looks like is only supports 2 placeholders: ? and #.  Hopefully this gets built out in the future to support actual regex.  That would be much more useful for naming standards and tagging policies.

[2018-05-03 20:54] zfrenchee commented on #8070
[code]

Unfortunately it seems like there's still some sort of state left behind here by `az aks`

[2018-05-03 20:56] DCtheGeek commented on #7927
@danmyhre Great!  Glad that helped you out.  I've updated the article with the link to the reference I provided you.  You are correct, ? and # are the only currently supported conditions.  If you'd like to see more, please provide that request via UserVoice (https://feedback.azure.com/forums/34192--general-feedback).  Thanks again!  #please-close

[2018-05-03 20:58] DCtheGeek commented on #8052
@danmyhre Hello and thank you for the feedback!  A GUI and its SDK are often capable of different things (with the SDK having additional options and functions) and this is such an example.  Configuring the Mode can only be done via Azure PowerShell, Azure CLI, or REST API.  Currently, if you need to configure Mode for 'indexed', this is the only way to do so.  Please leverage UserVoice (https://fe

[2018-05-03 20:59] Mike-Ubezzi-MSFT commented on #7982
@ltaylor95 Do you have a barcode scanner? I currently do not see any IoT projects or tutorials that demonstrate this integration. I am going to assign to the content author to evaluate and provide direction on.

[2018-05-03 21:01] neilpeterson commented on #8070
Maybe try `minikube update-context` to reset the context?

[2018-05-03 21:01] hpsin commented on #7890
The access token being requested in your request is for MS Graph, not the application.  The AT provided matches the token lifetime policies applied to the resource (MS Graph), not the client.  Refresh Token lifetimes, however, do apply to the client rather than the resource (since an RT can be used to get tokens to multiple resources).

With the policy you've created and set on the application, an

[2018-05-03 21:05] ltaylor95 commented on #7982
@Mike-Ubezzi-MSFT Yes, I have a USB LS2208 Zebra Scanner. I am trying to simulate data collection on a manufacturing line by having a barcode scanner scan an item, then send that barcode with a timestamp to an Azure database, probably through their IoT Hub.

[2018-05-03 21:08] dlepow commented on #8021
@xingwu1 - Xing, thanks for the doc suggestion. Let me follow up with you in email to make sure the code examples and accompanying explanation are accurate. Thanks!
#in-progress

[2018-05-03 21:10] danmyhre commented on #8052
Will do, you guys might want to create category in the feedback site for Azure Policy.  I have been prefixing all of mine with "Azure Policy - " since there isn't one currently.  Thanks for the quick responses!  I really like the quick feedback loop on the new docs site.  The team over there is doing a really great job.

[2018-05-03 21:11] danmyhre commented on #8052
For voting purposes: https://feedback.azure.com/forums/34192--general-feedback/suggestions/34143916-azure-policy-portal-does-not-support-the-proper

[2018-05-03 21:13] aliceku opened #8075 "Service name errors"
I noticed a couple of errors in this doc:

SQL Azure: the correct name of the service is Azure SQL Database
HDInsights: the correct name is HDInsight

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd0472f9-1ed9-0154-3bfd-b25e5da64cd1
* Version Independent ID: 846187d4-c24c-279f-e216-80b6507228b3
* Content: [Microsoft A

[2018-05-03 21:14] MicahMcKittrick-MSFT commented on #8067
@samiam236 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-03 21:16] MicahMcKittrick-MSFT commented on #8068
@samiam236 thanks for the find! I made the changes to the doc. Once they merge this issue will automatically close.

[2018-05-03 21:18] danmyhre commented on #7927
Posted: https://feedback.azure.com/forums/34192--general-feedback/suggestions/34148341-azure-policy-support-for-regex-in-match-conditio

[2018-05-03 21:24] georgewallace commented on #7664
@dbaechtel As mentioned before the cmdlet confusion has been resolved.  If you have any further issues please open a new issue #please-close

[2018-05-03 21:25] BryanTrach-MSFT commented on #7574
@bc3tech We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-05-03 21:25] #7574 closed

[2018-05-03 21:34] barclayn commented on #8075
@aliceku Thank you Alice. I will make sure to follow up on this.

[2018-05-03 21:49] gewarren opened #8076 "Project template screenshot is incorrect"
I think the new-project.png screenshot is incorrect. It should show the ASP.NET web app template as selected, not the ASP.NET Core web app template.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1055184-0535-4318-2ae9-79e37bea0f28
* Version Independent ID: b5dfedf8-c884-138b-0b3d-eea41e64c62b
* Content: [Create an AS

[2018-05-03 21:57] MicahMcKittrick-MSFT commented on #8026
@rwike77 can you take a look at this one?

[2018-05-03 21:57] #7625 closed

[2018-05-03 21:58] iainfoulds commented on #7404
During preview, the eviction policy can currently be set with the portal or templates. @mmccrory has some updates scheduled to publish on Monday, however the ability to adjust the eviction policy with the Azure CLI 2.0 is not present. For GA, all tooling should support the eviction policy being set.

[2018-05-03 22:01] Mike-Ubezzi-MSFT commented on #7851
@sudeephazra We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

Regards,
Mike

[2018-05-03 22:08] MicahMcKittrick-MSFT commented on #7988
@jdneo do you know if there were any changes to the archetype again?

Such as in #7458

I am also seeing a JAXBExecption when running mvn clean package

[2018-05-03 22:09] myusrn commented on #7130
Hi @YutongTie-MSFT & @jpconnock

Any updates on this issue?  I just retried today and still repro'ng the same issue.

I'm looking to use this to move training and predictive experiments from a azure ml studio workspace I want to delete over to one I'm looking to keep.

I noticed that the "experiments" view in the one workspace I want to move these items to now has a "copy to workspace" option on a

[2018-05-03 22:32] TravisCragg-MSFT commented on #8048
@Jeroen-Priester In the event that you will need to have IP Addresses advertised via Internet & an ExpressRoute, you will need to explicitly define which route the traffic will need to take, and it should use the more specific route.

[2018-05-03 22:52] kobulloc-MSFT commented on #8030
@Vaccano While there are features that require the Azure Portal, you can use the Application Insights SDK without an Azure account.  An example of this can be found in the following document that talks about viewing Application Insights telemetry in Visual Studio while debugging (pay attention to the note in blue):

https://docs.microsoft.com/en-us/azure/application-insights/app-insights-asp-net

[2018-05-03 22:59] BryanTrach-MSFT commented on #8076
@gewarren Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-03 23:08] YutongTie-MSFT commented on #8065
@Paul-Dempsey Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@Jann-Skotdal Hi, there are some common issues in this document that the top API link is [https://api.cognitive.microsofttranslator.com](https://api.cognitive.microsofttranslator.com), but some of the cUrl links are [https://dev.microsofttranslator.

[2018-05-03 23:13] BryanTrach-MSFT commented on #8034
@zelosng Yes, you can create a standard SSL cert that has a CN, which contains a subdomain. You can also create a wildcard certificate, which supports multiple subdomains with a single cert.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-05-03 23:13] #8034 closed

[2018-05-03 23:15] jason-j-MSFT commented on #7462
@dagrkatyal I would advise you double check permissions on the AD user you are running the script with.  You can take the full username or object ID you see in the error and run the 'Get-AzureRmRoleAssignment' Powershell cmdlet to verify role assignments:

https://docs.microsoft.com/en-us/powershell/module/azurerm.resources/get-azurermroleassignment?view=azurermps-5.7.0

You could then run 'Get-Az

[2018-05-03 23:15] #7462 closed

[2018-05-03 23:17] MicahMcKittrick-MSFT commented on #8044
@doneuros thanks for updating us and happy you were able to resolve :)

[2018-05-03 23:27] TravisCragg-MSFT commented on #8055
@guillemsola I am able to reproduce this behavior, let me research this further and I will get back to you with more information.

[2018-05-03 23:44] SenthuranSivananthan opened #8079 "Add CosmosDB and Key Vault to Service Tags"
2 new services that's recently got added.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e905802-0b08-4b3b-25ec-0f88c023bc32
* Version Independent ID: f31325e5-49ea-b28c-336e-10f2a3fc12b4
* Content: [Azure network security overview](https://docs.microsoft.com/en-us/azure/virtual-network/security-overview#service-tags)

[2018-05-03 23:45] MohitGargMSFT commented on #7868
@AntRemo Strangely I didn't received your email yet. Please send to AzCommunity@microsoft.com and include my alias as well mohgar@microsoft.com. Thanks.

[2018-05-03 23:53] AntRemo commented on #7868
@MohitGargMSFT no worries!

Just resent. Thanks again for your assistance :)

[2018-05-03 23:54] MohitGargMSFT commented on #8020
@peternield Thanks for the feedback! I have assigned the issue to the author to investigate and update as appropriate.

[2018-05-03 23:56] MohitGargMSFT commented on #8024
@davrous Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-05-03 23:58] MGoedtel commented on #7761
@vasivara-MSFT - I've updated the article to reflect the suggested URIs called out in the KB article after careful review/consideration and it should go live this weekend.  #close as I have addressed the feedback provided.

[2018-05-04 00:00] rboucher commented on #7365
Fix in process.  Waiting for signoff. Expected ETA would be Monday at 10am.

[2018-05-04 00:10] rymk commented on #6603
@bwren Thanks for the info 🙂. As you have likely assumed, we are now intelligently truncating our log name to fit the character limit in special cases where the logger is being initialized from some nested type such as MyObject<ObjectOne<ObjectTwo>>.