[2021-07-09 01:55] #78093 closed

[2021-07-09 01:59] artificial-jamesirei opened #78104 "400 error on asset conversion"
I'm throwing a 400 error when trying to convert a gltf file for object anchors.
Status: 400
Message: Bad Request
ErrorCode: Null
I'm not sure what I'm doing wrong here

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b15d03ff-800a-3b2b-c9d9-1109ff7db58d
* Version Independent ID: a091b9ca-3537-8180-5af8-f9e01c76d7a5
* Con

[2021-07-09 02:03] benjamincburns commented on #64994
@MSEvanhi I'm not sure I understand. If I have a managed app in the marketplace that exposes one or more Custom RPs that are configured to use proxy routing to a centrally-hosted API, is there any way for me to identify the actual user (or service principal) with whom the request originated? It sounds like you're saying that I can only see their subscription ID, but I can't see any roles assigned

[2021-07-09 02:07] benjamincburns commented on #64994
Are there any production-grade reference implementations of Custom RPs, especially in the context of managed apps? The examples that I've seen don't appear to be proper reference implementations, as they don't appear to do anything to authenticate the requests.

[2021-07-09 02:43] BharathNimmala-MSFT commented on #78102
@TamirAl We really appreciate you taking time and bringing this to our notice , helping us improve our Azure documentation. I have raised a PR to fix the grammatical error . Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and close th

[2021-07-09 02:43] #78102 closed

[2021-07-09 02:45] BharathNimmala-MSFT commented on #78089
@loza0269 Thank you for bringing this to our notice, our team will further review it and update the document accordingly.

[2021-07-09 03:17] savjani commented on #78070
Hi @arcpan - if you take mysqldump, you will be able to import it to MySQL Flexible Server. I would recommend you give it a try but to address your concern, but we wont be having 10.4 in next 3 months at least.

[2021-07-09 03:18] hyoshioka0128 opened #78109 "Typo "Azure Resource Management templates"→"Azure Resource Manager templates""
en-us:"https://docs.microsoft.com/en-us/security/benchmark/azure/baselines/databricks-security-baseline"
![databricks-security-baseline_e](https://user-images.githubusercontent.com/40815708/125018283-c1305180-e0af-11eb-9949-b36dc1180fc9.png)

#PingMSFTDocs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af0c8b10-a4be-e4

[2021-07-09 03:26] hyoshioka0128 opened #78110 "Typo "Azure Resource Management templates"→"Azure Resource Manager templates""
en-us:"https://docs.microsoft.com/en-us/security/benchmark/azure/baselines/sql-database-security-baseline"
![sql-database-security-baseline_e](https://user-images.githubusercontent.com/40815708/125018814-cd68de80-e0b0-11eb-9862-8b8122959c52.png)

#PingMSFTDocs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2561cc3d-996

[2021-07-09 03:31] oaas opened #78112 "Unable to add the tags to IP Groups via Azure Portal"
The update operation for tag of IP Group goes though HTTP Patch method, Patch method is not allowed for IP Group via Azure Portal at this moment. This will cause the failure when adding tag into IP group.

Please evaluate and fix it. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55b4c3f6-7ea3-9b94-cd8c-cbe37dc

[2021-07-09 03:34] CelesteDG commented on #74244
Per customer feedback, disregarding the issue. Thank you for confirming.

#please-close

[2021-07-09 03:34] #74244 closed

[2021-07-09 03:36] CelesteDG commented on #73336
Flagging @kenwith and @japere

[2021-07-09 03:37] CelesteDG commented on #71156
Flagging @kenwith and @japere

[2021-07-09 03:51] pnarsi opened #78114 "Using Service Tag in Access rule instead of IP address based rules"
Rather than manually downloading the IP address list of the Cognitive Management Service Tag or using the script to configure IP based on the App Service as per the existing documention it is probably better to use the new Service Tag based filtering capability instead.

i.e. Instead of this:

![image](https://user-images.githubusercontent.com/7891408/125020158-ae237e80-e0bb-11eb-82df-db2c880e436b

[2021-07-09 04:10] AjayKumar-MSFT commented on #78077
@seraosnuno, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-07-09 04:12] AjayKumar-MSFT commented on #78085
@chtourou-youssef, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-07-09 04:20] SnehaAgrawal-MSFT commented on #78084
@MW-b0t Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-07-09 04:25] AshokPeddakotla-MSFT commented on #78081
@vlado101 Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-09 04:26] AshokPeddakotla-MSFT commented on #78082
@vlado101 Closing this issue as duplicate and our team will review the feedback on https://github.com/MicrosoftDocs/azure-docs/issues/78081 and help you accordingly.

[2021-07-09 04:26] #78082 closed

[2021-07-09 04:29] AshokPeddakotla-MSFT commented on #78087
@tacharyagithub Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-09 04:30] AjayKumar-MSFT commented on #78080
vlado101, Thanks for leveraging Azure docs feedback channel to raise this question and for the update on the duplicate. Much appreciate the follow-up.

[2021-07-09 04:30] AjayKumar-MSFT commented on #78079
vlado101, Thanks for leveraging Azure docs feedback channel to raise this question and for the update on the duplicate. Much appreciate the follow-up.

[2021-07-09 04:37] secpapa opened #78115 "Mobile attribute cannot be set via AzureAD PowerShell if syncing from on-prem AD"
Under the section "Set and read the authentication data through PowerShell" please also note that the Mobile phone attribute cannot be set when syncing from on-prem AD.
Currently, the documentation only indicates that Office phone cannot be set if syncing from on-prem.

I attempted to set the Mobile attribute via PowerShell (with the Global Admin role enabled on my account) and got the following e

[2021-07-09 04:44] guangying94 opened #78116 "Conflict kubeEnvironmentName"
In the step of "Install the App Service extension", we need to create "kubeEnvironmentName", which is fine, but if I'm in the same session and try to setup app service kubernetes environment, the following command throw conflict error:

[code]

We need to create a new name again to avoid conflict. What is the difference between this two "kubeEnvironmentName"?

---
#### Document Details

⚠ *Do not

[2021-07-09 04:58] AnuragSharma-MSFT commented on #78101
@MichaelEbert Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-07-09 04:58] ShaikMaheer-MSFT commented on #78097
@nunepalli Thank you for feedback. We are actively investigating it. We will get back to you soon.

[2021-07-09 05:00] ShaikMaheer-MSFT commented on #78098
@wienleung Thank you for feedback. We are actively investigating it. We will get back to you soon.

[2021-07-09 05:00] AnuragSharma-MSFT commented on #78110
@hyoshioka0128 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-07-09 05:02] ShaikMaheer-MSFT commented on #78109
@hyoshioka0128 Thank you for providing feedback. We are actively investigating. We will get back to you soon.

[2021-07-09 05:30] GitaraniSharma-MSFT commented on #78090
@tomcam , thank you for your query. We'll review this and get back to you shortly!

[2021-07-09 05:55] HarshitaSingh-MSFT commented on #77920
@jdelforno, I have closed this as your feedback has been captured and we understand that you are trying to make your own UI that calls Graph APIs and want **all the validations documented** so that there is no input as such from UI that will fail at the backend.

This is a good feedback and let me work with @tfitzmac on this as this is going to be a big change and if we have any further questions,

[2021-07-09 05:59] BhargaviAnnadevara-MSFT commented on #78116
@guangying94 Thanks for the question. We're investigating this and will get back to you shortly.

[2021-07-09 06:10] hellojxg opened #78118 "Conflict description for default index kind"
In this document it's mentioned that default index kind is hash:
_By default, the indexing policy uses Hash indexing for strings,_
https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-query-metrics#indexing-policy

While in below document it's mentioned that default kind is range:
 _The default indexing policy for newly created containers enforces range indexes for any string or number._
https

[2021-07-09 06:28] rajdpandey commented on #77999
@AshokPeddakotla-MSFT Thanks, waiting for the response. Please provide a response as soon as possible.

[2021-07-09 06:33] shashishailaj commented on #78103
@darrenlynn74 Thank you for your feedback . We will have this reviewed with the content team and update you .

[2021-07-09 06:37] shashishailaj commented on #78115
@secpapa We will investigate this and provide an update on the same . If changes are required we will engage the content team on the same.

Thank you .

[2021-07-09 06:39] HarshitaSingh-MSFT commented on #77865
@dcbrown16, I have created a PR internally, I am working with Doc Owner on this.

[2021-07-09 06:43] HarshitaSingh-MSFT commented on #77989
@gzmrst-sr, thank you for contributing. Since the changes are published to Docs now, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-09 06:43] #77989 closed

[2021-07-09 06:45] gkgab-ptr opened #78120 "Shared image gallery creation missing"
The walkthrough fails at step "Create the image".

In the template "helloImageTemplateMsi.json":

- "location" is not replaced and remains at "<region1>", as well as the "replicationRegions"
- "galleryImageId": "/subscriptions/{subscriptionid)/resourceGroups/aibmdimsi/providers/Microsoft.Compute/galleries/<sharedImageGalName>/images/<imageDefName>" fails, because shared image gallery and image def

[2021-07-09 06:50] psmanhas commented on #78120
@gkgab-ptr Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-07-09 06:50] psmanhas commented on #78120
@cynthn Can you please check and add your comments on this doc update request as applicable

[2021-07-09 07:17] simonfrindberg commented on #78066
![Screenshot 2021-07-09 at 09 12 08](https://user-images.githubusercontent.com/87134185/125038958-47d83500-e096-11eb-957c-07b56e126417.png)

[2021-07-09 07:17] jmprieur commented on #78074
@iching2 that's a good question. I think that the session cookie is needed by AAD. What do you mean by third party cookies being removed from browsers. Do you have a link on this?
Adding @hpsin for info and more advise

[2021-07-09 07:33] rajdpandey commented on #78000
We have gone through the Azure IoT protocol gateway documentation on GitHub. But this developer guide doesn't answer questions like how to implement it, making TCP socket custom module in it, How will the device connect to this? Is there a need for some certificate or authentication from the device side so it can communicate to the Azure IoT Protocol gateway? And can it communicate two ways (Devic

[2021-07-09 07:36] SatishBoddu-MSFT commented on #78000
Related: Q&A: https://docs.microsoft.com/en-us/answers/questions/469346/index.html

[2021-07-09 07:44] rajdpandey commented on #78000
Yes, This is my question. I have asked this on the forum.

[2021-07-09 07:57] Swapnil-Gandhi opened #78125 "Typo "microctronoller" → "microcontroller""
Typo on line 1 https://docs.microsoft.com/en-us/azure/virtual-machines/linux/compute-benchmark-scores#about-coremark

"functionality of a microctronoller" → "functionality of a microcontroller"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c005a93a-6fce-d270-9bb5-8e7213156b70
* Version Independent ID: 844d62d4-a06b-15

[2021-07-09 08:07] KrishnaG-MSFT commented on #77729
@priyankareddy20 Any update on this?

[2021-07-09 08:08] juniinacio opened #78126 "Update example about KeyVautl event type"
Dear MS,

Recently I have noticed that there were some changes made to the Azure KeyVault events, but the documentation was not updated, also I have not seen any blog, or notification about this (it could be that I have missed it). But in either case the example should be updated.

Also these kind of changes can have impact for users that have built integrations as me with Azure Functions. Azure f

[2021-07-09 08:11] jotavar opened #78127 "wrong wording"
The paragraph "DevOps starter the following supports two CI/CD providers, to automate your deployments" should read "DevOps starter supports the following two CI/CD providers, to automate your deployments:"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc6674ea-108a-b05b-f55d-3476977d83f8
* Version Independent ID: 729

[2021-07-09 08:24] rwiankowski opened #78128 "Please clarify the pricing for zone-redundant ASEv3"
Hi!

This document mentions that when deploying a zone-redundant ASEv3, we will incur the cost of 9 (nine) Windows I1v2 App Service Plans. The "Create ASE v3" document, however, contains a portal screenshot that shows that the minimal instance count for a zone-redundant ASEv3 will be 3 (three).

Could you please clarify? Do we need at least three but pay for nine?

Also, according to this doc, Azu

[2021-07-09 09:18] jp94 commented on #77019
Hey @olaplassen, please try `indoorManager.setOptions({ geography: 'eu' });`.

[2021-07-09 09:27] mateinavidad opened #78133 "Incorrect documentation on Hybrid flow"
The page states:

This is false, for using Hybrid Flow (getting id_token from the /authorization endpoint) we need to check only oauth2AllowImplicitFlow, and oauth2AllowIdTokenImplicitFlow can be set to false. Tested and Confirmed.

There is also a feedback.azure issue created here that confirms this behaviour: https://feedback.azure.com/forums/34192--general-feedback/suggestions/42321538-don-t-re

[2021-07-09 09:33] anton-simola-finnos commented on #6788
Had this problem and this worked for me, however I changed it to `netsh http add iplisten ipaddress=127.0.0.1`, should be safer.

[2021-07-09 09:38] AshokPeddakotla-MSFT commented on #78104
@artificial-jamesirei Thanks for the feedback! Our SME will review your issue and provide an update.

[2021-07-09 09:43] HarshitaSingh-MSFT commented on #78133
Hello @mateinavidad , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-07-09 11:08] ccvaillant1992 commented on #55581
@MSEvanhi what is the status of this issue "No Appliance Resource Provider principal".
I was trying to create and publish a managed application definition following this [tutorial](https://docs.microsoft.com/en-us/azure/azure-resource-manager/managed-applications/publish-service-catalog-app?tabs=azure-cli) and can't figure out how to set the role assignment for "Appliance Resource Provider" in my

[2021-07-09 11:16] verboompj opened #78134 "Issue with PowerShell command in example"
https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-ad-ds-assign-permissions?tabs=azure-powershell#share-level-permissions-for-all-authenticated-identities

enable share level auth for all identities using AD authenticated users is what I believe is described.
However line 2 of the Powershell example lists AzureAd enablement if i read correctly:

'$account = Set-AzStorageAc

[2021-07-09 11:18] simonfrindberg commented on #78066
![image](https://user-images.githubusercontent.com/87134185/125055497-89bda700-e0a7-11eb-8422-d39743c3b804.png)
![image](https://user-images.githubusercontent.com/87134185/125070295-0f495300-e0b8-11eb-99c3-e82f8c1f2601.png)

[2021-07-09 11:23] ccvaillant1992 commented on #23274
@tfitzmac @femsulu I can't find the Appliance Resource Provider role and select it.
![image](https://user-images.githubusercontent.com/56896573/125070652-8c74c800-e0b8-11eb-8499-1536d2c1e515.png)

I'm following this [tutorial](https://docs.microsoft.com/en-us/azure/azure-resource-manager/managed-applications/publish-service-catalog-app?tabs=azure-cli)
During the deployment of the managed applicati

[2021-07-09 11:48] AnuragSharma-MSFT commented on #78118
@hellojxg Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-07-09 12:02] nikhilnaregal commented on #77596
Where exactly can I check if I am publishing on the portal?
Also please can you tell which is the right repo to post my problem

[2021-07-09 12:08] BuckWoody opened #78135 "Title Heading - "do be" should be "to be""
How do be notified when other versions are available?
Come back and read this article.

Should probably be:

How can I be notified when other versions are available?
Come back and read this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a11cc550-7199-8806-c9f6-005ab5173c24
* Version Independent ID: bd083008-b2

[2021-07-09 12:41] BuckWoody opened #78136 "From not Form"
I think on this head:

Form connection strings:

You mean:

From connection strings:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3a452a9-9af6-31ee-b6e4-d3db0d78098e
* Version Independent ID: b9704721-8e0b-4802-8937-d0b82da5167f
* Content: [Get connection endpoints and form connection strings for your Arc enabled Po

[2021-07-09 12:46] AshokPeddakotla-MSFT commented on #78112
@oaas Thanks for the feedback! Our SME will review the feedback and update you shortly.

[2021-07-09 12:59] MonikaReddy-MSFT commented on #78127
@jotavar  -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-09 13:01] MonikaReddy-MSFT commented on #78127
@jotavar -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-09 13:02] #78127 closed

[2021-07-09 13:04] vlado101 commented on #78081
Thank you for looking into this.

[2021-07-09 13:06] bmedlin opened #78137 "ARM template example"
Can you please provide an ARM template for this solution? I'm unclear on how to do this properly (given: https://github.com/Azure/Azure-Functions/issues/1361) and don't have a spare day to spend testing. Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa989bf6-c8f7-71fc-e823-f2726dfc8935
* Version Independent

[2021-07-09 13:09] matt-palermo-optum opened #78138 "Wrong Availability??"
This page says that you need to be running az-cli version `2.0.76` or later to have `purge` available...

[code]

[code]

I think the left hand doesn't know what the right hand is doing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40e52f8e-a63e-3e85-6c84-f881db5d3b6c
* Version Independent ID: 1290c892-ea9d-d12c-be84

[2021-07-09 13:11] mhmoore12 commented on #78062
@MonikaReddy-MSFT Hi Monika - thanks for the reply.  I was referring to physical distance (e.g., miles). My client requires at least 25 miles between data centers.

[2021-07-09 13:11] fesoua opened #78139 "Restrict access to PaaS resources - tutorial"
Hi Team!,

I have attempted to follow the tutorial and noticed two things that could be changed:
1) When creating the second VM the tutorial advises to mirror the settings in a screenshot which restrict access to the VM:
"The NIC network security group and Public inbound ports settings should mirror the image shown below, including the blue confirmation window stating: "all public internet traffic

[2021-07-09 13:51] jyeblog opened #78142 "Need clarification"
[Enter feedback here]
Need clarification on following section, please see inline:

2. Grant SharePoint Online site permission to your registered application:

    1. Open SharePoint Online site link e.g. `https://[your_site_url]/_layouts/15/appinv.aspx` (replace the site URL).
    2. Search the application ID you registered, fill the empty fields, and click "Create".

        - App Domain: `localh

[2021-07-09 13:57] leeframpton opened #78143 "Link to download DocumentDB data migration tool is broken"
The link to pre-compiled binary is broken on this page:
https://docs.microsoft.com/en-us/azure/cosmos-db/import-data#Install

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9edf1df2-588e-01ff-6d1c-234b8e51d550
* Version Independent ID: 27873c08-b6cc-a52f-f277-ff9818a5e4d2
* Content: [Tutorial: Database migration tool fo

[2021-07-09 14:13] DeanGross opened #78144 "Incorrect documentatin"
When I look at the Enterprise Applications/All Applications page, the application types shown on the dropdown are: Enterprise Applications, Microsoft Applications, Managed Identities and All Applications, which is different than what is described on this page. Please update the documentation to be consistent with the page in AAD.
![image](https://user-images.githubusercontent.com/4058555/125091252

[2021-07-09 14:15] TaekeK opened #78145 "Redirect URL - b2clogin.com/..../oauth2/authresp unavailable"
When configuring the OIDC IdP with the specified redirect URI (as in https://docs.microsoft.com/en-us/azure/active-directory-b2c/openid-connect-technical-profile#redirect-uri), the error message "The resource you are looking for has been removed, had its name changed, or is temporarily unavailable." is shown. It appears that this URL is not configured. When adding ?p=<policyname>, a valid response

[2021-07-09 14:20] HarshitaSingh-MSFT commented on #78144
Hello @DeanGross , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-07-09 14:31] jmsteinbrunner opened #78146 "Multiple Selects Do Not Work"
In the following code snippet from the document, it suggests doing multiple selects to retrieve the configuration with a **null** label filter and then again to retrieve any additional keys with the specified filter.  The second select does not pull any additional keys nor override any existing keys with the label-specific value.

[code]

---
#### Document Details

⚠ *Do not edit this section. It

[2021-07-09 14:52] hpsin commented on #78133
oauth2AllowImplicitFlow is a legacy field which turns on both access token and ID token implicit flow. We don't recommend using it since it turns on more than is needed.

[2021-07-09 14:53] hpsin commented on #78133
The linked error/feedback is a b2c issue, not an AAD issue - @nickgmicrosoft could you check that that's no longer the case?

[2021-07-09 14:55] psmanhas commented on #78058
@ddexter26 Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

Thanks

[2021-07-09 14:55] #78058 closed

[2021-07-09 14:59] hpsin commented on #78074
The hybrid flow uses an interactive implicit /grant/ to get the ID token, by requesting one on the first navigation to the login page in a full frame context. The implicit grant is just the flag you set that indicates it's OK for the /authorize endpoint to return an ID token directly.

There's also the full implicit /flow/, or protocol, where an app silently opens an iframe to the login page to ge

[2021-07-09 15:14] joeljanke opened #78147 "Ridiculous Level Of Security Required To Dismiss Advisor Recommendation"
While I do find the documentation on permissions required to dismiss an Advisor Recommendation to be accurate, I find the level of security required to be ridiculous.   We have Compliance folks that monitor these kinds of things that have no business being a full contributor.   Our only choice is to involve a subscription owner/contributor (very few highly technical people in high demand) to click

[2021-07-09 15:16] iching2 commented on #78074
Thanks @hpsin ! The example isn't using iframe, so it will still work. Thanks everyone for helping me.

[2021-07-09 15:16] #78074 closed

[2021-07-09 15:19] ajhanson opened #78148 "Pre-Compiled Installation Link Broken"
The installation link to the pre-compiled binary file is broken:
https://aka.ms/csdmtool -> https://cosmosdbtools.blob.core.windows.net/datamigrationtool/2019.09.23-1.8.3/dt1.8.3.zip

The remote name could not be resolved: 'cosmosdbtools.blob.core.windows.net'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9edf1df2-588

[2021-07-09 15:23] RyanHill-MSFT commented on #78128
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;he

[2021-07-09 15:30] curtand commented on #78053
Hi @pwmusic ,
Thanks for your contribution! i’m contacting the PM and asking him to address your comments and product enhancement suggestion.

[2021-07-09 15:44] juniinacio commented on #78126
Dear,

MS after having a troubleshooting session with the Azure Support team, we have concluded that the issue was auto resolved and that documentation about the payload is still correct. As this was an intermittent issue I will close this issue as it is not the case.

[2021-07-09 15:44] #78126 closed

[2021-07-09 15:44] MonikaReddy-MSFT commented on #78114
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-09 15:45] BharathNimmala-MSFT commented on #78135
@BuckWoody Thanks a lot for bringing this to our notice and helping us improve our Azure documentation. I have raised a PR to fix the document. Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and close this issue for now, however if y

[2021-07-09 15:45] #78135 closed

[2021-07-09 15:46] MonikaReddy-MSFT commented on #78138
@matt-palermo-optum -  Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-09 15:47] MonikaReddy-MSFT commented on #78139
@fesoua -  Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-09 15:53] lpmac commented on #49085
I raised a feature request on on behalf of the OP on this issue as I have encountered the exact same issue and my only option is an Odata connector so unfortunately I can't do a similar workaround.

https://feedback.azure.com/forums/270578-data-factory/suggestions/43772736-odata-connector-to-adf-query-string-format

[2021-07-09 15:54] JnHs commented on #77936
Thanks for raising the issue @amitdixit - we're reviewing and will provide further updates soon.

[2021-07-09 15:56] JimacoMS4 commented on #61431
Hi @Xyroid -- thanks very much for taking the time to review our documentation! We've updated the device identity properties to reflect the current API. Please have a look: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-identity-registry#device-identity-properties . Please let me know (@comment me in this issue) if you see anything missing. I'll leave this open for a few days and

[2021-07-09 15:58] nickgmicrosoft commented on #78133
This is a limitation for Azure AD B2C. You must select "oauth2AllowImplicitFlow" as true which in Azure AD B2C configures both whether implicit flow is allowed for ID or access tokens.

[2021-07-09 15:59] nickgmicrosoft commented on #78133
We'll work to update this documentation to note the exception for Azure AD B2C in this doc.

[2021-07-09 16:12] #78125 closed

[2021-07-09 16:12] ram-msft commented on #77922
Thanks, @PatrickFarley Can you please help on this.

[2021-07-09 16:13] mmacy commented on #74283
Thanks, @idg-sam! Fixes https://github.com/MicrosoftDocs/azure-docs-pr/pull/163030

#please-close

[2021-07-09 16:14] #74283 closed

[2021-07-09 16:28] luisquintanilla commented on #77968
@jhirono thoughts?

#assign:@Blackmist

[2021-07-09 16:37] artro03 opened #78150 "The link to deploy the automation script is invalid. Please verify and update"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5cca70b-b459-be95-3167-bf92b59c0321
* Version Independent ID: 20fc147c-7580-9bef-e217-49cd8979b1b7
* Content: [Add Azure Automation runbooks to Site Recovery recovery plans - Azure Site Recovery](https://docs.microsoft.com/en-us/azure/site-recovery/s

[2021-07-09 16:42] ChaitanyaNaykodi-MSFT commented on #78137
Hello @bmedlin, Thank you for reaching out.
You can refer to [this ARM template](https://azure.microsoft.com/en-us/resources/templates/function-premium-vnet-integration/) to deploy an Azure Function Premium plan with vnet integration. Please let me know if there are any concerns. Thank you!

[2021-07-09 17:08] Blackmist commented on #77968
Hi @artisticcheese , we're waiting on the Azure Machine Learning engineering team to verify which approach should be used. Once we have that information, we'll update the doc.

[2021-07-09 17:11] Oury-MSFT commented on #78143
@leeframpton Thank you for your feedback. We are reviewing this and will get back shortly.

[2021-07-09 17:13] MicrosoftGuyJFlo commented on #55920
#reassign:@MicrosoftGuyJFlo

[2021-07-09 17:16] v-amallick commented on #76686
Hi @ianc911 opened, we have updated the article with the steps to restore an individual file from a Hyper-V VM. Please find the link below:

https://docs.microsoft.com/en-us/azure/backup/back-up-hyper-v-virtual-machines-mabs#restore-an-individual-file-from-a-hyper-v-vm

Thank you.

[2021-07-09 17:17] v-amallick commented on #76686
#please-close

[2021-07-09 17:17] #76686 closed

[2021-07-09 17:17] spelluru commented on #77994
@tiantun - Thank you. Added it as a note in the article.

#please-close

[2021-07-09 17:17] #77994 closed

[2021-07-09 17:21] BharathNimmala-MSFT commented on #78136
@BuckWoody Thanks for reaching out to us. Apologies if the heading or title caused some confusion , it is "form connection strings" only , the article explains about getting connection endpoints and forming the connection strings for your Arc enabled PostgreSQL Hyperscale server group.

I have raised a PR to tweak the doc little bit to make it more clear.  Once the PR is reviewed and approved , ch

[2021-07-09 17:21] #78136 closed

[2021-07-09 17:36] emilylagoand opened #78153 "Scope of Document is not clear; Causing Customer confusion"
Hello,

I have been working with a customer on a VMSS case (Main case: 2107010040004818, Collab case: 2107010040004818001)  where this document caused confusion because it does not clearly identify that this info is scoped to standalone VMs and Azure Dedicated Host. Please rename this document or include a scoping section to clearly call out what resources apply to this content. Possibly add a ref

[2021-07-09 17:37] cynthn commented on #78120
@kof-f Can you take a look at this?

[2021-07-09 17:39] #55920 closed

[2021-07-09 17:43] JamesTran-MSFT commented on #78145
@TaekeK
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-09 17:44] himanshusinha-msft commented on #78142
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-07-09 17:50] JamesTran-MSFT commented on #78033
@poyadav2001
Thank you for the follow up on this!

I've re-tagged this issue as a doc-bug and will add the author @barclayn for any further updates.

Thank you again for your time and patience throughout this issue.

[2021-07-09 17:50] kgremban commented on #77999
Hello @rajdpandey, as the document that you linked to says, the IoT Edge runtime does not include protocol or identity translation capabilities. These patterns requires custom or third-party modules that are often specific to the hardware and protocol used.

Several third-party options for protocol translation exist. Kepware is probably the best known, as well as Copa-Data, Martrikon, Litmus, and

[2021-07-09 17:50] #77999 closed

[2021-07-09 17:54] matt-palermo-optum commented on #78138
@MonikaReddy-MSFT Cool.  Thank you.

I'm finding some examples around the internet of people using `purge`.  It's the `--keep` option on `purge` that we are in desperate need of.  We absolutely cannot have ACR images removed by time.  We only want "Keep X latest images" which can only be done with `az acr purge --keep X`

[2021-07-09 17:54] JamesTran-MSFT commented on #78063
@beowulf79
Thank you for your time and patience throughout this issue. I've reached out to our engineering team and will update as soon as possible.

[2021-07-09 18:01] beowulf79 commented on #78063
Thanks for the update.

Christian.

On Fri, 9 Jul 2021, 19:54 James Tran-MSFT, ***@***.***> wrote:

[2021-07-09 18:01] cynthn commented on #78153
Both the title and the description in metadata (that appear in search results) both scope this to VMs. I did add a link to the VMSS version of the doc at the top of the article.

Thank you!

[2021-07-09 18:07] SaurabhSharma-MSFT commented on #78148
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-07-09 18:09] himanshusinha-msft commented on #77851
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-07-09 18:11] #78153 closed

[2021-07-09 18:13] KranthiPakala-MSFT commented on #77874
@leifbro - Could you please have a look at this feedback and update the doc as needed. Thank you

[2021-07-09 18:28] ejsealms opened #78154 "Unclear about creating storageSync"
Hi, will the templates provided here create the storageSync Storage Account resource automatically, or do I need to do that separately?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07fc8414-3bff-03f8-fdca-f040eed71389
* Version Independent ID: 8196bd5d-b265-fd62-59c4-2a97b34ebf69
* Content: [Resource Manager template

[2021-07-09 18:31] MonikaReddy-MSFT commented on #78134
@verboompj  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-07-09 18:32] #77644 closed

[2021-07-09 18:32] markvsql opened #78155 "How do I properly read the Azure region latency chart?"
I am trying to answer a question from a customer regarding latency between two Azure regions. I am not understanding how to properly read the chart here. Is it possible to display this information in a different way? I am not able to make sense of it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 311b6efb-2d93-6130-96

[2021-07-09 18:37] ajburnle commented on #74598
#reassign:@amsliu

[2021-07-09 18:51] Corendiel opened #78157 "hard-coded values in the code is not a viable long term solution"
The [code example](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-mutual-certificates-for-clients#checking-the-issuer-and-subject) contains simple hard-coded values.
How would you handle a list of certificate issuers and subjects? That list would be subject to changes when new clients are added.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-07-09 19:04] kobulloc-MSFT commented on #78146
@jmsteinbrunner Thank you for bringing this to our attention!  We've assigned this issue to the document author for review.

[2021-07-09 19:07] AlexandraKemperMS commented on #78146
Hi @jmsteinbrunner, could you explain your use case in more detail? For example, what keys/labels are you using? To use the environment name, is  the ASPNETCORE_ENVIRONMENT (or equivalent variable you are using) variable in launchSettings.json set to the value you are filtering for?

[2021-07-09 19:17] kargaily opened #78158 "Missing storage URL's for azurefiles StorageClass"
Hello,
we have limited egress connectivity for AKS clusters and during operations we figured out that this document missing URL for azure storage services, if PVC requested by cluster:
[code]

I think it's worth to add wildcard `*.file.core.windows.net` to the list of required if there is default StorageClass `azurefile` in place.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2021-07-09 19:25] JCoreMS opened #78159 "For Azure Virtual Desktop, this is NOW Not Applicable"
This page eludes to the staging and other scripts that are no longer needed for AVD with the addition of MSIX app attach.  Please consider removing these sections.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62521d12-9efc-d132-176b-ca6a4ea83f16
* Version Independent ID: 21322b77-a2e0-41a2-b128-7681d2d62577
* Content

[2021-07-09 19:27] aggVishal opened #78160 "Is there any API to get all available SKUs for a particular stack and location to deploy App Service Plan? Please help."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2943267d-0c8a-ad06-5a6c-f5c27b1fc16f
* Version Independent ID: 48721b9e-5b4c-9cdc-fa38-6bd1edbbbc69
* Content: [Create an App Service app using an Azure Resource Manager template - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/

[2021-07-09 19:32] ssivas commented on #76386
@sneakernuts ,

Apologize for delayed response.

I checked with product team and understand that "You do not choose the Azure AD Connect server for installing agent while preparing for staged rollout since authentication agent would be installed by default when you select PTA as User Sign-in method". Therefore, for the sake of staged rollout just install a new PTA agent on any member server which

[2021-07-09 19:35] VitalyMCT opened #78161 "Mixing up Spark and SQL pools"
I think the details link is pointing to an incorrect page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0f4f337-c2cf-9c67-2de4-051cd8b4f3d9
* Version Independent ID: 1831d292-2a2d-f121-9bdf-9604fd7637b6
* Content: [Tutorial: Train a model by using automated machine learning - Azure Synapse Analytics](https://docs.mi

[2021-07-09 19:36] dave22000 opened #78163 "Permanently Delete Users is not functioning properly"
I deleted a user from the B2C portal over 30 days ago. It is sitting in the "Deleted Users" tab and has the Permanent Deletion Date of 7/3/21 (it is now 7/9/21).

![image](https://user-images.githubusercontent.com/38772694/125128033-06aa4a00-e0c3-11eb-90d4-e907d5e616c8.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2021-07-09 19:37] #76386 closed

[2021-07-09 19:39] kgremban commented on #78004
Hi @lohithgn, thank you for bringing this to our attention. I took a look and you're right that the solution names no longer use the operating system and architecture as a suffix. I'll remove references to that.

The SimulatedTemperatureSensor module has always been in the Microsoft container registry, and just referenced in the deployment rather than included in the solution. So I think this is j

[2021-07-09 19:59] KranthiPakala-MSFT commented on #78015
@AksanaKuzmitskaya
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](

[2021-07-09 20:06] ssivas commented on #77876
@hung-doan , This feature is in preview so I would recommend you to test with non-production environment and check all functionality before trying on Production.

[2021-07-09 20:11] mike-urnun-msft commented on #78157
Hello @Corendiel - Thank you for your feedback! We will review and update as appropriate.

[2021-07-09 20:25] JoeMoyle opened #78165 "What is the value for Your_Collection and where does it come from?"
When configuring the remote-secure.yaml file it is unclear what the value should be to replace your_collection in the line username: /dbs/your_database_account/colls/your_collection.  What exactly is that referring too and where do we get it in the Azure Portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc248d85-e

[2021-07-09 20:25] JasonWHowell commented on #78015
Maybe https://stackoverflow.com/questions/48135624/how-can-i-change-the-python-version-in-visual-studio-code

[2021-07-09 20:32] iqshahmicrosoft commented on #76041
@KrishnaG-MSFT Doc updated, will be live today.

[2021-07-09 20:44] kpantiga opened #78166 "Code sample should be in C# instead of C# script"
[Enter feedback here]
Issues following the Tutorial: Run Azure Functions from Azure Stream Analytics jobs

https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-with-azure-functions

In the section https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-with-azure-functions#create-a-function-in-azure-functions-that-can-write-data-to-azure-cache-for-redis
Step 1

[2021-07-09 20:49] Mwiedmeyer opened #78167 "Enable browser connect in DevTestLab creation via ARM template?"
I have not found a way to enable Browser Connect in an ARM template when creating a DevTestLab.

Any pointers are welcome.

[2021-07-09 20:59] qpetraroia commented on #77873
Thanks @jyama4ta, we will look into this.

[2021-07-09 21:47] JamesTran-MSFT commented on #78163
@dave22000
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-09 22:07] sethmanheim commented on #78077
@seraosnuno Thank you for reaching out. I am currently working with the development team, to see if the code on GitHub is actually outdated. I'll reply here ASAP.

[2021-07-09 22:17] gabesmsft opened #78169 "Need to clarify the correct auth endpoints when using azureActiveDirectory"
The endpoints for Login, Purge user details, and Authentication callbacks need to be clarified in the case where the user is using azureActiveDirectory as the provider. The doc lists the endpoints as the following, which is correct for all providers except azureActiveDirectory.

/.auth/login/<PROVIDER_NAME_IN_CONFIG>
/.auth/purge/<PROVIDER_NAME_IN_CONFIG>

https://<YOUR_SITE>/.auth/login/<PROVIDER

[2021-07-09 22:35] Mwiedmeyer commented on #78167
I found my answer.

In resources/properties for the DevTestLab:
"browserConnect": "Enabled",

[2021-07-09 22:35] #78167 closed

[2021-07-09 22:42] askiefer commented on #36927
^ I think I'm having the same issue as above, commented here:
https://github.com/microsoft/Oryx/issues/1049#issuecomment-877492288

@spechtx Were you getting the GDALException error, could not find GDAL library?

[2021-07-09 22:47] KranthiPakala-MSFT commented on #77998
Hi @abij - Thanks again for bringing this to our notice.

I have submitted a PR to fix this. Here is the PR - https://github.com/MicrosoftDocs/databricks-pr/pull/690

@leifbro Could you please review the PR and merge the changes accordingly. Thank you

[2021-07-09 23:40] lobrien commented on #75768
We are developing new documents for specifying pipelines with YAML, these are planned for release around 8/15. I don't see an ADLA component in the current suite of associated examples. Is there something specific about ADLA that is needed? In the meantime, we have this existing notebook that uses ADLAStep, although it uses the SDK for pipeline definition. https://github.com/Azure/MachineLearningN

[2021-07-09 23:45] femsulu commented on #78089
Hi @bwren - pls review this doc-enhancement request when time permits.

[2021-07-09 23:54] lobrien commented on #77100
Created a documentation workitem to rework code snippets and steps in how-to-manage-workspace-cli and how-to-setup-authentication:  https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1858217

[2021-07-09 23:54] lobrien commented on #77100
#please-close

[2021-07-09 23:54] #77100 closed

[2021-07-10 00:11] lobrien commented on #76159
Created a doc workitem to describe the behavior. https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1858218

[2021-07-10 00:49] lohithgn commented on #78004
@SatishBoddu-MSFT thanks for taking care of the ticket.
@kgremban you are spot on. I think "unclear" is the right word. And also the fact that Visual Studio project to deployment manifest - there is a difference. And if somebody starts new - the docs are not making it clear as to what needs to be looked into and what needs understanding from the structure perspective. Appreciate the explanation.

[2021-07-10 01:01] stevesmoot opened #78170 "deletion not covered properly"
[Enter feedback here]
IDK why, but I'm being told we're at our 20 IP limit, when I click on Public IPs, it listed 8...I deleted 2, and it still says we're at the limit of 20.  so there must be a step after the deletion instructions given here to make them truly free.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19d6d

[2021-07-10 01:04] fernandoferrini opened #78171 "Number of RoleAssignments are more than the maximum (100) allowed"
Dear,

After start running New-AzureADMSRoleAssignment cmdlet in a script to bulk assign Azure AD Roles to different users, I receive the following error:

**New-AzureADMSRoleAssignment : Error occurred while executing NewAzureADMSRoleAssignment
Code: Request_BadRequest
Message: Number of RoleAssignments are more than the maximum (100) allowed. paramName: , paramValue: , objectType:
Microsoft.Onli

[2021-07-10 01:05] Karishma-Tiwari-MSFT commented on #78159
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-10 01:12] Karishma-Tiwari-MSFT commented on #78158
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-10 01:13] Karishma-Tiwari-MSFT commented on #78026
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-07-10 01:13] #78026 closed

[2021-07-10 01:14] Karishma-Tiwari-MSFT commented on #78083
Let me know if you have further questions.

[2021-07-10 02:23] KrishnaG-MSFT commented on #77729
At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now.
If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2021-07-10 02:23] #77729 closed

[2021-07-10 02:36] terrymandin opened #78172 ""Hostname mismatch, certificate is not valid" with Python client"
I went through the procedures to create an IoT Edge gateway on Ubuntu 18.04 with the 30 day temporary certificates.
[code]
Running the test from the Ubuntu 18.04 child device works:
[code]
Results:
[code]
I installed Python 3.7.11 and ran through the steps to send IoT Hub D2C messages as per this url: [Quickstart: Send telemetry from a device to Azure IoT Hub](https://docs.microsoft.com/en-us/azur

[2021-07-10 02:42] truekonrads opened #78173 "P2S OpenVPN VPN Configuration download does not contain .ovpn files"
The P2S VPN is set to OpenVPN (SSL). When I click on the Download VPN client, it does not contain OpenVPN configuration files:

![image](https://user-images.githubusercontent.com/1421150/125149428-7ffd7780-e16b-11eb-8025-9ee70a857b59.png)

The contents of the zip file are:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-07-10 02:55] KrishnaG-MSFT commented on #78150
@artro03 Good catch and thanks for the feedback!
Assigning to document author or owner @Rajeswari-Mamilla for visibility, review and document enhancement consideration as appropriate.

[2021-07-10 03:01] truekonrads commented on #78173
To add - this download doesn't contain the Azure VPN client either.

[2021-07-10 04:27] manipuraco opened #78174 "unrecognized arguments: --custom-location"
getting error while running -- az appservice kube create. Custom location is set but looks like cli is not accepting --custom-location as an argument.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95bceeac-dc48-471b-2d60-b7442b60ee06
* Version Independent ID: a0381e86-0a67-19a3-eb35-f758ce1c2f2c
* Content: [Se

[2021-07-10 04:30] BharathNimmala-MSFT commented on #78147
@joeljanke Thank you for reaching out to us with your query, assigned this issue to our PM to further review.

[2021-07-10 04:34] BharathNimmala-MSFT commented on #78154
@ejsealms Thank you for reaching out with your query, assigned this issue to our document author to further review your query.

[2021-07-10 04:49] v-amallick commented on #75574
Hi @prosprice

Please find the REST API articles to:

- [Create blob policy](https://docs.microsoft.com/en-us/azure/backup/backup-azure-dataprotection-use-rest-api-create-update-blob-policy)
- [Back up blobs](https://docs.microsoft.com/en-us/azure/backup/backup-azure-dataprotection-use-rest-api-backup-blobs)
- [Restore blobs}(https://docs.microsoft.com/en-us/azure/backup/backup-azure-dataprotectio

[2021-07-10 04:53] v-amallick commented on #75574
#please-close

[2021-07-10 04:53] #75574 closed

[2021-07-10 05:50] hung-doan commented on #77876
thank you @ssivas for the feedback, is there any estimation/plan about when this feature is ready for the production use ?.

[2021-07-10 09:55] MonikaReddy-MSFT commented on #78155
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-10 09:56] MonikaReddy-MSFT commented on #78165
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-10 09:58] MonikaReddy-MSFT commented on #78161
@VitalyMCT -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-10 09:59] MonikaReddy-MSFT commented on #78160
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-10 10:01] MonikaReddy-MSFT commented on #78166
@kpantiga - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-07-10 10:02] MonikaReddy-MSFT commented on #78169
@gabesmsft  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-07-10 10:03] MonikaReddy-MSFT commented on #78170
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-10 10:04] MonikaReddy-MSFT commented on #78171
@fernandoferrini -  Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-10 10:09] MonikaReddy-MSFT commented on #78172
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-10 10:10] MonikaReddy-MSFT commented on #78173
@truekonrads - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can review and update accordingly.

[2021-07-10 10:13] MonikaReddy-MSFT commented on #78174
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-10 11:58] qhaitoNNV opened #78178 "Azure Bastion Tiers"
Hi Team,

Currently, there doesn't seem to be any mention of the tiers on Azure Bastion in any of your documents. Your "[How-to guides](https://docs.microsoft.com/en-us/azure/bastion/tutorial-create-host-portal#createhost)", doesn't seem to mention this feature.

There is no mention anywhere that this feature is in preview, and so I doubt that it is.

I can only see a mention of this on the Azure

[2021-07-10 13:57] MhAllan opened #78180 "SignalR Service Limit Check"
According to docs here : https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#azure-signalr-service-limits

We read:
Connections per unit **per day** for Standard tier | 1,000 | 1,000

Is this right? I can't understand this. because if I have 1000 clients connected for 5 minutes only, does that mean I can't receive any more connections througho

[2021-07-10 15:25] mateinavidad commented on #78133
Thank you for confirming the Azure B2C limitation, and my apologies for responding to an Azure AD documentation link,

[2021-07-10 15:39] NelGson commented on #78161
Article updated to point to the correct link. Change in PR 165139 @MonikaReddy-MSFT

[2021-07-10 15:39] AArnott opened #78182 "Broken link in documentation"
This button near the bottom of the documentation leads to a 404:

![image](https://user-images.githubusercontent.com/3548/125168420-c3071d00-e162-11eb-8028-22c09fff1ccd.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcba3146-83d6-fea9-78ca-d75df31a7d8a
* Version Independent ID: 34472edb-c5bf-d751-e5f0-70f7ab2a6c02

[2021-07-10 16:08] aggVishal commented on #78160
Hi Guys, Is there any update on this thread?

[2021-07-10 18:30] SubhashVasarapu-MSFT commented on #78178
@qhaitoNNV , Thanks for reaching out. We will investigate and update this thread.

[2021-07-10 21:50] kumarsumitrudeboy opened #78184 "The first segment contains response mode of form_post but the immediate examples show response mode of fragment"
[Enter feedback here]
The first segment contains response mode of form_post but the immediate examples show response mode of fragment which is confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c54adceb-9510-aeb5-0c61-c0d052459cda
* Version Independent ID: 0ff6b6b2-2802-9534-8963-796b9c4a2a76
* Content: [Web sig

[2021-07-10 22:52] anirbanbm opened #78185 "Link to code is broken"
For the document at: https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-dotnet-get-started
There is a line like: Download and unzip the completed solution.
The link: https://code.msdn.microsoft.com/Simple-Azure-Cloud-Service-e01df2e4 is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cc8f1b2-f

[2021-07-11 00:11] Shaked commented on #78083
Hey @Karishma-Tiwari-MSFT

Thank you for the links and reply.

However, I’m still curious to understand:

1. Why would it be a problem to use DIND? Regradless the known issues which existed before k8s 1.19
2. While using docker buildx, how should I maintain the local docker cache? This feature is required in our build process and therefore we must have a way to keep it.
3. Following the previous s

[2021-07-11 00:37] aakashrami opened #78186 "Microsoft Azure VM Backup - File Recovery OsName not recognized if your os"
Background, we had a power user take a linux vm and generalize it, turn it into an image. A process that is irreversible. Then he deleted that image.

So now I'm doing a file recovery from the VM as we had daily Azure Backups running. Every backup since that time has been Crash-Consistent.

So I decided to do a File Recovery starting with the latest File-Consistent backup. The first time I downloa

[2021-07-11 02:04] MonikaReddy-MSFT commented on #78180
@MhAllan  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-07-11 02:06] MonikaReddy-MSFT commented on #78182
@AArnott - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-07-11 02:07] MonikaReddy-MSFT commented on #78184
@kumarsumitrudeboy- Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-07-11 02:08] MonikaReddy-MSFT commented on #78185
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-11 02:09] MonikaReddy-MSFT commented on #78186
@aakashrami -  Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-07-11 04:19] aollivierre commented on #30680
We got the fix for you!! Seems “Azure Multi-Factor Auth Connector” was disabled on our accounts. This will allow you to get the push notifications for the number matching challenge without the need to manually poll by refreshing the pulling the app.

1. Open PowerShell and use “Connect-MsolService”
2. Login with Global Administrator Account
3. Run “Get-MsolServicePrincipal -AppPrincipalId 1f5530b3

[2021-07-11 04:47] manipuraco commented on #78174
I looked somemore into it. See the below 2 images. I can see extension enabled on my remote k8 cluster. And then custom location also visible and looks ok. However in the left menu, I see no option to add new services on this custom location.
![02](https://user-images.githubusercontent.com/83994607/125183095-f7f49c00-e256-11eb-9abb-0a51a3dd5105.png)
![01](https://user-images.githubusercontent.com/

[2021-07-11 05:37] anurag4516 opened #78187 "In-occur additional charges if you move from free-tier to Pay as you Go"
[Enter feedback here]
As per documentation :
Azure subscriptions with credit such as Free Trial and Visual Studio Enterprise have spending limits on them. You can only use services up to the included credit. When your usage reaches the spending limit, ****Azure disables your subscription** for the rest of that billing period** . Azure subscriptions with credit such as Free Trial and Visual Studio

[2021-07-11 06:33] connelhooley commented on #44428
Any updates @DixitArora-MSFT?

[2021-07-11 07:55] AnuragSharma-MSFT commented on #78002
@sukhdeepsingh1 Thanks for pointing this out. I observed same. This is being assigned to the content author to evaluate and update as appropriate.

[2021-07-11 12:13] RotateAt60MPH opened #78188 "No 'C/C++' info launching in debug mode."
There is no information on how to launch debugging of a C/C++ module.  C/C++ is mentioned as one of the languages supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a3f2f86-40bf-19f2-4f56-9dc71ed47fa2
* Version Independent ID: 20e8912c-4a10-68b9-c46a-e945a62421d6
* Content: [Develop and debug modules for Azure

[2021-07-11 12:28] MonikaReddy-MSFT commented on #78187
@anurag4516  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-07-11 12:30] MonikaReddy-MSFT commented on #77873
@qpetraroia - Thanks for adding this in the backlog.

@jyama4ta - Thanks again for bringing this to our attention. We have added this in our backlog and will update the doc accordingly.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-11 12:30] #77873 closed

[2021-07-11 12:31] JamesHeathcote opened #78189 "Myapps.microsoft.com no longer reflects screenshots in this KB."
I am trying to find where users can review their Terms of Use when using conditional access policies. The articles says to goto my apps and then click your name in the top right hand corner but profile no longer exists and the Terms of Use link is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 618ca851-56c8-5b

[2021-07-11 12:34] MonikaReddy-MSFT commented on #78034
Thank you for providing the document details. It looks like you have an issue with the product itself and this feedback is not related to the docs improvement. In this forum, we focus on improving the docs and feedback related to docs only.

Do you mind posting your question on [Microsoft QnA](https://docs.microsoft.com/en-us/answers/index.html) as our engineers and community are actively working

[2021-07-11 12:34] #78034 closed

[2021-07-11 12:38] MonikaReddy-MSFT commented on #78056
@wladinho31 - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-11 12:38] #78056 closed

[2021-07-11 13:15] manipuraco commented on #78174
this may be related. I can see custom location setup with webapp extension, but when i try to setup webapp, I cant see custom location.
<img width="598" alt="04" src="https://user-images.githubusercontent.com/83994607/125196597-d66ad300-e29d-11eb-86cb-4bcfc532c7da.png">
<img width="1085" alt="03" src="https://user-images.githubusercontent.com/83994607/125196598-d79c0000-e29d-11eb-9584-769bc661ea52

[2021-07-11 13:42] rpanand24 opened #78191 "No force reconnect on Microsoft.Extensions.Caching.StackExchangeRedis"
Is there a reason Microsoft.Extensions.Caching.StackExchangeRedis is not implemented this force reconnect logic ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e83695b-8934-80ef-2f82-9fb42b5dd2f2
* Version Independent ID: f14f110b-b01b-10d2-e8d6-075a591c8d24
* Content: [Quickstart: Use Azure Cache for Redis in .NET F

[2021-07-11 13:46] orloffm commented on #57429
GUI method doesn't work for Free Trial subscriptions. I'm learning Azure and can't figure it out.

Premium plan page lists them, but Dedicated plan doesn't. Also `appservice plan create` docs list them: https://docs.microsoft.com/en-us/cli/azure/appservice/plan?view=azure-cli-latest, but that list doesn't contain `EP1`, for example.   That's all very confusing.

[2021-07-11 15:20] dejanstamenov opened #78193 "Azure Text-to-Speech JavaScript docs sample is missing sdk reference thus not working properly"
Hello,

I've been playing with the `JavaScript` samples for Azure Text-to-Speech and noticed a gap in it.

The following sample as part of the **Synthesize speech to a file** section is missing `sdk` reference when trying to invoke `AudioConfig` and `SpeechSynthesizer`.

[code]
When running this code through Vue.JS, I get the following errors:

![image](https://user-images.githubusercontent.com/24

[2021-07-11 15:30] danmyhre opened #78194 "All users should be changed to all "member" users"
This doesn't apply to guest accounts in the directory

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfac0ecf-e5a9-c5ff-f8c2-ce27789708f5
* Version Independent ID: 0f5e0cc9-a54f-a5c8-192d-d60a6a4db3ff
* Content: [Azure Active Directory security defaults](https://docs.microsoft.com/en-us/azure/active-directory/fundament

[2021-07-11 15:36] BhargaviAnnadevara-MSFT commented on #78116
@guangying94 `kubeEnvironmentName` is just an environment variable to hold the name of the **App Service Kubernetes environment** resource. In the [install the App Service extension](https://docs.microsoft.com/en-US/Azure/app-service/manage-create-arc-environment#install-the-app-service-extension) section, you only **set** this variable. The App Service Kubernetes environment is not actually creat

[2021-07-11 16:39] mirsky72 opened #78195 "Dynamic?"
When will we be able to dynamically call pipelines within this activity?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed77a05e-c9fd-ead1-d767-8b41be183634
* Version Independent ID: 0f61d8b7-2736-056c-b17e-ed7ad06a413e
* Content: [Execute Pipeline Activity in Azure Data Factory - Azure Data Factory](https://docs.micro

[2021-07-11 17:24] SatishBoddu-MSFT commented on #78188
Hello @RotateAt60MPH Thanks for the feedback.

Our SME will review your feedback.

[Debug a module without a container (C#, Node.js, Java)](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-vs-code-develop-module?view=iotedge-2020-11#debug-a-module-without-a-container-c-nodejs-java)

[2021-07-11 20:52] rurounijones commented on #76951
@aahil Could these instructions be restored to a new tab in the new documentation? I am having to link people to the github page which is causing confusion.

I would rather not copy/paste the instructions on to my own site since that is another thing that would have to be maintained and kept up to date.

[2021-07-11 22:30] danzel opened #78196 "PersonDirectory Scenario 3 code isn't correct"
https://docs.microsoft.com/en-us/azure/cognitive-services/face/face-api-how-to-topics/use-persondirectory#scenario-3-identify-against-the-entire-persondirectory

Based on the documentation, the line
`body.Add("personIds", new List<string>{"{guid1}", "{guid2}", …});`
should be
`body.Add("personIds", "*");`
instead I think?
(Or maybe a list with a single item "*" ?)

Thanks.

---
#### Document Detai

[2021-07-11 23:54] aaronpowell commented on #78169
The section you're referring to is related to custom OIDC providers, not the pre-configured providers (such as AAD). AAD is covered more in https://docs.microsoft.com/azure/static-web-apps/authentication-custom?tabs=aad&WT.mc_id=javascript-0000-aapowell#login-logout-and-purging-user-details and I'm proposed some tweaks to make it clearer.

[2021-07-12 00:24] MonikaReddy-MSFT commented on #78189
@JamesHeathcote  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-07-12 00:25] MonikaReddy-MSFT commented on #78191
@rpanand24 -  Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-12 00:27] MonikaReddy-MSFT commented on #78193
@dejanstamenov - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-12 00:28] MonikaReddy-MSFT commented on #78194
@danmyhre  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-07-12 00:31] MonikaReddy-MSFT commented on #78195
@mirsky72 - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-12 00:33] jamesarogersiii opened #78197 "The url mentioned on the page does not seem to work"
I am unable to access https://api.cognitive.microsoft.com/bing/v7.0/news/search with my account. I was able to access the following but the api does not seem to work the same and only receive 12 results back.

https://api.bing.microsoft.com/v7.0/news

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-07-12 00:34] MonikaReddy-MSFT commented on #78196
@danzel - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-12 00:51] WhippsP opened #78198 "MFA Throttling Detais"
Can we add some detail on throttling limits for MFA. We currently have a "Bursty traffic" rule that will prevent users from sending too many Code requests in a period of time. This should be documented.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdc36e54-cd9b-e581-34e4-952eff4936ec
* Version Independent ID: 8634c91

[2021-07-12 01:41] Naotaka-Kawakami-MSFT opened #78199 "Teams on AVD to support Proxies ?"
Does the AVD desktop client still not support explicit Proxy? Looks to me to work properly.

Docs : Use Microsoft Teams on Azure Virtual desktop
https://docs.microsoft.com/en-us/azure/virtual-desktop/teams-on-avd#known-issues-and-limitations
//Snip
Use of explicit HTTP proxies defined on the client endpoint device is not supported.
//Snip

---
#### Document Details

⚠ *Do not edit this section. It

[2021-07-12 01:43] mikesierra2 opened #78200 "Overlap with Intune/Defender?"
I have some Azure VMs. The recommendation in Azure portal popped up and recommended I install "Microsoft Antimalware Extension for Windows". I can do this easily with the ARM template. My question is, do I need to enable this if I am already pushing out via Intune:
1) "Defender for Endpoint Policy"
2) "Defender for Endpoint Sensor"

We have configured all of the recommended configuration items as

[2021-07-12 03:00] chshihMSFT opened #78201 "DMT pre-compiled binary download link is invalid now"
link of "download a pre-compiled binary" is invalid now, which points to the links below:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9edf1df2-588e-01ff-6d1c-234b8e51d550
* Version Independent ID: 27873c08-b6cc-a52f-f277-ff9818a5e4d2
* Content: [Tutorial: Database migration tool for Azure Cosmos DB](https://docs.mic

[2021-07-12 03:01] mmacy commented on #76237
@bosh-ms @bgavrilMS I've started a draft PR (https://github.com/MicrosoftDocs/azure-docs-pr/pull/165169), but this fix will be a bit more involved than I'd anticipated. Moving this over to Azure DevOps for tracking and to get it scheduled for next sprint.

Internal tracking:

ID | Title | Iteration Path
-- | -- | --
[1466651](https://identitydivision.visualstudio.com/Technical%20Content/_workitems

[2021-07-12 03:01] #76237 closed

[2021-07-12 03:15] ShaikMaheer-MSFT commented on #78036
@XiaoyuMSFT Could you please validate feedback and update document as appropriate? Thank you

[2021-07-12 03:16] ShaikMaheer-MSFT commented on #78081
@vlado101 Thanks for the question. Github forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilise Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2021-07-12 03:18] ShaikMaheer-MSFT commented on #78087
@tacharyagithub Thanks for the question. Github forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilize Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2021-07-12 03:20] ShaikMaheer-MSFT commented on #78097
@ruixinxu Could you please validate feedback and update document as appropriate. Thank you.

[2021-07-12 03:23] ShaikMaheer-MSFT commented on #78098
@spelluru Could you please validate feedback and update as appropriate? Thank you.

[2021-07-12 04:00] ram-msft commented on #78197
@jamesarogersiii Thanks for the question. We are investigating the issue and will update you shortly.

[2021-07-12 04:04] sundium opened #78202 "Request to include Power Platform and Dynamics 365"
Can we please include Dynamics 365 and Power Platform in this KB as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c9d1ff4-9e32-39fc-2d8d-46d3c07bca4d
* Version Independent ID: 72b20547-e78b-f6d2-6e69-31c846965ad0
* Content: [Isolation in the Azure Public Cloud](https://docs.microsoft.com/en-us/azure/security/fu

[2021-07-12 04:35] AjayKumar-MSFT commented on #78167
Mwiedmeyer, Thanks for leveraging Azure docs feedback channel to raise this question. Much appreciate the follow-up and sharing the solution that worked for you with the community.

-As a side note, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. For such question, next time, request you to also share the Azure doc for which this fe

[2021-07-12 04:40] AjayKumar-MSFT commented on #78009
Apologies for the delayed response. Glad you got it working. Thanks for leveraging Azure docs feedback channel to raise this question. Much appreciate the follow-up and sharing the solution/(prerequisite requirement) that works with the community.

-As a side note, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. For such question, n

[2021-07-12 04:42] XiaoyuMSFT commented on #78036
@ShaikMaheer-MSFT - Hi, Thank you for the follow-up.  fyi. I am not the author of this article (seems like some internal tool automatically put my name as the author).  I have forwarded this to another PM @mstehrani and cc'ed our Dev contact who may be able to comment on this feedback.

[2021-07-12 04:44] AnuragSharma-MSFT commented on #78201
@chshihMSFT Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-07-12 04:52] rboucher commented on #67073
So far the information I have:

DNS domains required for azure monitor privatelink are:

privatelink.monitor.azure.com
privatelink.ods.opinsights.azure.com
privatelink.oms.opinsights.azure.com
privatelink.agentsvc.azure-automation.net
privatelink.blob.core.windows.net

[2021-07-12 04:55] arminghasemazar commented on #44894
Any update on this from MS? @AshokPeddakotla-MSFT @arduppal

[2021-07-12 05:00] psmanhas commented on #78199
@Naotaka-Kawakami-MSFT Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-07-12 05:00] psmanhas commented on #78199
@Heidilohr Can you please check and add your comments on this doc update request as applicable

[2021-07-12 05:13] shenjialin-svg opened #78204 "When would be the official release date of Filters for Devices condition available in Conditional Access?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcc79933-58e1-66d1-81ae-f43802d41223
* Version Independent ID: 5be1fefc-356e-d1eb-ab97-8cbe5654ff43
* Content: [Filters for devices as a condition in Conditional Access policy - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-dir

[2021-07-12 05:17] AjayKumar-MSFT commented on #77931
@IgnacioAlvarezArenas,  Your feedback has been shared with the content owner for further review on this, and make appropriate update as required.

[2021-07-12 05:24] CHEEKATLAPRADEEP-MSFT commented on #77863
@HarryUlysses I'm able to create without any issue:

![image](https://user-images.githubusercontent.com/79183421/125234974-58d7af00-e2ff-11eb-89b0-2306efac093b.png)

And the document has the above mentioned CLI cmdlet:

![image](https://user-images.githubusercontent.com/79183421/125235058-79a00480-e2ff-11eb-849d-897d30cbf7ac.png)

We will now proceed to close this thread. If there are further ques

[2021-07-12 05:24] #77863 closed

[2021-07-12 05:28] VikasPullagura-MSFT commented on #78155
@markvsql
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-07-12 05:29] VikasPullagura-MSFT commented on #78155
@nayak-mahesh
Can you please check and add your comments on this doc update request as applicable.

[2021-07-12 05:33] PramodValavala-MSFT commented on #77475
@Christian-e-S It would be best for the concerning team to take a deeper look at this through a support ticket. If you have an existing support plan, could you please open a support ticket with your observations? If you do not have a support plan, feel free to send me an email to `azcommunity[at]microsoft[dot]com` with the following details and we can give you a one-time free support ticket.

[cod

[2021-07-12 05:35] ArtiomLK opened #78205 "SQL Managed Instance Subnet delegation flag"
I believe that:

`az network vnet subnet create --name $subnet --resource-group $resource --vnet-name $vnet --address-prefixes 10.0.0.0/24`

is missing the sqlmi --delegation flag, thus it should be:

`az network vnet subnet create --name $subnet --resource-group $resource --vnet-name $vnet --address-prefixes 10.0.0.0/24 --delegations Microsoft.Sql/managedInstances`

---

#### Document Details

⚠

[2021-07-12 05:42] VikasPullagura-MSFT commented on #77733
@saptarshibasu

Thanks for reaching out over email. I have shared instructions over email.

Also, once you get the issue fixed, request you to reply back here on the thread with the resolution steps for the benefit of the community.

[2021-07-12 05:42] #77733 closed

[2021-07-12 06:18] cjrada commented on #32922
To clarify, as I'm hitting this error.
I have an app service plan, with 4 apps.  Each app must connect to a different VNet.  The first two are:

App Service Plan 1
Function App 1
VNet 1
Subnet 1

App Service Plan 1
Function App 2
VNet 2
Subnet 2

Is the only solution to create a separate app service plan?  This is a poor solution, as this scales (I require 4, and this will grow), since I am paying

[2021-07-12 06:33] AnuragSharma-MSFT commented on #78049
@Shivani2596 Thanks for your patience, currently gremlin api does not support the case insensitive searches in azure Cosmos DB, however product team has started working on this feature. You can track the progress in below user voice and also up-vote the feature:

[Gremlin API regex and case insensitive match](https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/41097427-gremlin-api

[2021-07-12 06:36] AnuragSharma-MSFT commented on #78045
@langstonj Thanks for your patience, I think this feature is available as part of database creation only as I was trying to search for the same and could not find details related to adding it post creation. However I have reached out to internal team and checking with them on the same.

[2021-07-12 06:46] AnuragSharma-MSFT commented on #78101
@dimitri-furman Thanks a lot for fixing this.

@MichaelEbert Thanks for your feedback, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-07-12 06:51] PramodValavala-MSFT commented on #78073
@xuwenjian1995 Both these tabs are required for managing certificates for client certificate authentication (users connecting to APIM) and mutual authentication (APIM connecting to backends).

- `Certificates` Tab to manage client certificates
    - to be used by APIM [while connecting to backends](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-mutual-certificates#confi

[2021-07-12 06:54] rockboyfor opened #78206 "Is it supported for Recovery Site Vault to be moved to different subscription on Azure China Cloud?"
Hi colleague,

Could you please help to confirm whether the Recovery Service vault can be moved to different subscription on Azure China Cloud?

We can find that it is supported for Recovery Site Vault to be moved to different subscription according to the following link:
https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/move-support-resources#microsoftrecoveryservices

**Im

[2021-07-12 06:56] shashishailaj commented on #76538
@GeoJim1218 We discussed this and internally and found that one error code belongs to only one error description as of now. We will now close this issue.

[2021-07-12 06:56] #76538 closed

[2021-07-12 07:01] shashishailaj commented on #78198
@WhippsP Thank you for your inputs. We will engage the content team to work on your recommendations.

[2021-07-12 07:01] AnuragSharma-MSFT commented on #78110
@hyoshioka0128  Thanks for reporting this. I have created a PR. This PR could take few days to get approved and will then be live in this document.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-07-12 07:05] shashishailaj commented on #78200
@mikesierra2 Thank you for your feedback . We will investigate and update the thread.

[2021-07-12 07:05] PramodValavala-MSFT commented on #78157
@Corendiel You can leverage [`Named Values`](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-properties?tabs=azure-portal#use-a-named-value) here along with policy expressions. For example, you could maintain a comma separated list of values to accept and then use a condition like this

[code]

[2021-07-12 07:06] shashishailaj commented on #78204
@shenjialin-svg Thank you for your query . We will check this internally and will update .

[2021-07-12 07:11] SwathiDhanwada-MSFT commented on #78206
@rockboyfor Thanks for your comment. We will review the issue and get back to you shortly.

[2021-07-12 07:16] shashishailaj commented on #78202
@sundium  Thank you for your feedback . We will investigate and update the thread.

[2021-07-12 07:41] SnehaAgrawal-MSFT commented on #77932
@beckerrobin Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-07-12 07:48] inknochen opened #78207 "Why are you calling the automation from logic apps instead of using the Runbook scheduler?"
It doesn't seem to be necessary to use the scheduler from logic apps.
Can you explain please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24a6c4e2-702f-2b17-3e2d-c86f33b13beb
* Version Independent ID: 1e7811d8-668a-db98-34ca-eaf4d7ee8c1f
* Content: [Scale session hosts Azure Automation - Azure](https://docs.microsof

[2021-07-12 07:59] AnuragSharma-MSFT commented on #78205
@ArtiomLK Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-07-12 08:05] alexchen2016 opened #78209 "confirm "the first HTTPS listener configured (in the order)""
[Enter feedback here]
In segment "Frontend TLS connection (client to application gateway)", in the 2nd scenario，our customer found that if the client doesn't specify a SNI header and if all the multi-site headers are enabled with "Require SNI",  using v2 sku,  AppGW didn't return the first HTTPS listener configured in the order but returned the first HTTPS listener by the order of the rule configu

[2021-07-12 08:09] runemy opened #78210 "ACR with private endpoint - Web Apps"
Hi,

On this page: https://docs.microsoft.com/en-us/azure/container-registry/container-registry-private-link
It's in the Important section written: "Instances of certain Azure services including Azure DevOps Services, Web Apps, and Azure Container Instances are currently unable to access the container registry."

This looks for me that is not in line with what the Azure App Service Team have blog'

[2021-07-12 08:12] SnehaAgrawal-MSFT commented on #78030
@jsandersrocks Thanks if I have understood right you are looking for how to load certificate in linux using java, If so you can refer to this document link might helps: https://docs.microsoft.com/en-us/azure/app-service/configure-language-java?pivots=platform-linux  Let us know if issue remains.

[2021-07-12 08:28] RohitMungi-MSFT commented on #77971
@ericjay1 The PR is now merged and the document should be updated in 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-07-12 08:28] #77971 closed

[2021-07-12 08:30] spechtx commented on #36927
@askiefer yes, this was the error I got:
[code]

Thank you for commenting on the feature request I posted. Seems like they are working on a solution for the missing libraries.

[2021-07-12 08:31] GitaraniSharma-MSFT commented on #78090
@tomcam , yes the link you provided in your query is the correct link for Resource Manager deployment model and it describes the difference between Azure Resource Manager and classic deployment models.
https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/deployment-models

We are closing this issue for now. If there are further questions regarding this matter, please reply and

[2021-07-12 08:33] YutongTie-MSFT commented on #77937
@vykhand The content is under review and you should see the change soon. Thanks for the feedback again.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-07-12 08:38] hyoshioka0128 commented on #78110
@AnuragSharma-MSFT - I'm Poor English.
Since it says to "created a PR", it seems that the intention was conveyed. Thanks!

[2021-07-12 08:51] GitaraniSharma-MSFT commented on #78042
@boriskudr , both the statements in the articles are correct.

When you want to setup Highly Available cross-premises connectivity to Azure with multiple on-prem devices and would like automatic failover of your on-prem device, you should use BGP to advertise the same prefixes of the same on-premises network prefixes to your Azure VPN gateway, and the traffic will be forwarded through these tunnel

[2021-07-12 08:51] #78042 closed

[2021-07-12 08:59] LockTar commented on #78069
@JamesTran-MSFT I just checked the same data as last week (4 days ago). See [comment above](https://github.com/MicrosoftDocs/azure-docs/issues/78069#issuecomment-876513688). The custom attribute `ShoeSize` with value '45' is still there after 4 days as stated in step 7 in the comment.

What do you think? Is it save to delete the custom attribute and recreate it immediately with the correct capital

[2021-07-12 09:05] wangmiaowei opened #78211 "The meaning of values in the depth image extracted from .mkv"
When I try to extract depth image from .mkv file, I found the maximum value is greater than 10000. Since the maximum depth range of Azure Kinect is about 2~4 meter. I do not what meaning of that unit value refers to ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a4c02b2-e5d8-7d29-fbe2-2066a1e0692c
* Version Independ

[2021-07-12 09:15] harithamaddi-ops opened #78212 "Rename file operation using AzCopy command"
Hi Team,

Can you please suggest if it is possible to rename files when copying using AzCopy command. If yes, please share the feature and necessary documentation.

If this is a known limitation, it would be good to be documented. Also, rename operation on files is currently unavailable, please suggest any workaround for the same.

Thanks,
Haritha

---
#### Document Details

⚠ *Do not edit this se

[2021-07-12 09:17] UsmanMohammad opened #78213 "Azure Devops Pipelines Documentation"
Why is there only documentation for deploying to ACI through Github Actions, but not for Azure Pipelines?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c5d2898-9714-9b98-f065-66a59889f909
* Version Independent ID: 6a7e0145-9e57-b2e6-04f6-9aeda314bad7
* Content: [Deploy container instance by GitHub action - Azure Cont

[2021-07-12 09:22] #77937 closed

[2021-07-12 09:28] Matusa69 opened #78215 "Synapse Wrong Link to Database Users and Roles: the link point to Analysis Services page instead of SQL Database/Synapse"
[Enter feedback here]
The link for Database Users and Roles is pointing to wrong page related to Analysis Services:
**Database roles and users**
https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-database-users

instead of following or a better page:
**Database Level Roles**
https://docs.microsoft.com/en-us/sql/relational-databases/security/authentication-access/database-le

[2021-07-12 09:32] YutongTie-MSFT commented on #77944
@andreasjl Hello Andrea, I saw you created the PR on Feb 21st, could you please double confirm the content here? Thanks.

[2021-07-12 10:03] VaclavK opened #78216 "properties.cause referred to as properties.clause"
Check "Therefore, using the clause above may result in an alert not being triggered, because the properties.clause property value will be set to null."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73f3e9c6-8cf1-6c8d-2de7-54f6d3740fc1
* Version Independent ID: 42af845a-aed7-a035-33ee-66077d7efc57
* Content: [Template

[2021-07-12 10:03] AdamRiddick commented on #48902
I hit this issue testing an ARM template deployment against my personal subscription. After deleting the resource group I was left only with the VNet, Subnet and AppServiceLinks, which I couldn't see - They really should be exposed better.

Following @ybutkevych 's approach worked, but this needed doing per connected resource, which is pretty droll.

As I'd already deleted the resource group, none

[2021-07-12 10:46] mikesierra2 commented on #78200
Thank you, appreciate it @shashishailaj

[2021-07-12 11:01] blueelvis opened #78217 "Clarify which resource group needs to be entered when approving the connection for the Shared Private Link"
In this section - https://docs.microsoft.com/en-us/azure/search/search-manage-powershell#create-a-shared-private-link-resource

It should be clarified as to which resource group is being specified in each command. There are scenarios where network resources are deployed in separate resource groups and application resources are deployed in separate resource groups.

---
#### Document Details

⚠ *Do

[2021-07-12 11:22] psmanhas commented on #78210
@runemy Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-07-12 11:22] psmanhas commented on #78210
@dlepow Can you please check and add your comments on this doc update request as applicable

[2021-07-12 11:24] SwathiDhanwada-MSFT commented on #78216
@VaclavK Thanks for bringing this to our notice. I have made changes to the document and once the changes are approved , it will reflect in the document soon.

We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-07-12 11:24] #78216 closed

[2021-07-12 11:26] psmanhas commented on #78207
@inknochen Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-07-12 11:52] andylholloway opened #78218 "LTR backup no longer available after Managed Instance has been deleted"
Hi

I have setup LTR for a dummy database to try and understand how to restore a database from LTR after the Managed Instance has been deleted.

Steps
1. Created Managed Instance via the Azure Portal with geo-redundancy configured for PITR and LTR.
2. Created a database (named MyDb).
3. Configured LTR policy for the database (1 Week).
4. Waited until LTR was available (this seems to take a few hou

[2021-07-12 11:57] GitaraniSharma-MSFT commented on #78209
@alexchen2016 , thank you for your query. We'll review this and get back to you shortly!

[2021-07-12 11:58] MonikaReddy-MSFT commented on #78211
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-07-12 11:59] MonikaReddy-MSFT commented on #78213
@UsmanMohammad  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-07-12 12:06] CHEEKATLAPRADEEP-MSFT commented on #78215
@Matusa69 Thanks for pointing out the issue, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/165185](https://github.com/MicrosoftDocs/azure-docs-pr/pull/165185)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contribution

[2021-07-12 12:06] #78215 closed

[2021-07-12 12:23] laurensvp opened #78219 "What does the ApplicationGatewayAccess operation exactly mean"
What does "access of Application Gateway" exactly mean? Is it just the simple fact that some client set up a connection through the (Web) Application Gateway? Or is some client actually trying to get into the (Web) Application Gateway?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 556b77b2-8aaa-5047-70f5-57924cb96e32

[2021-07-12 12:33] psmanhas commented on #76888
@skyline9002 Firstly, apologies for the delay in responding on this and any inconvenience this issue may have caused. As this issues need more investigation and live troubleshooting for quicker resolution I would recommend you to contact azure support. If you have a support plan, requesting you to file a support ticket, else please do let us know, we will try and help you get a one-time free techn

[2021-07-12 13:09] nidhalzili commented on #52663
@Karishma-Tiwari-MSFT  Was this issue resolved? I am getting the same issue as well

[2021-07-12 13:13] vipulsparsh commented on #78200
@mikesierra2 Thanks for reaching out.  They are basically the same agents. Created to target 2 different scenarios.

1) Microsoft Antimalware extension is a Azure cloud based security solution which was created for protecting Azure resources including VMs. For users who are using virtual machines or servers from azure can get this for free.

2) Defender was created for users who might be on some o

[2021-07-12 13:17] vipulsparsh commented on #78202
@sundium Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-07-12 13:32] mmacy commented on #73737
#reassign:rwike77

[2021-07-12 13:57] AnuragSharma-MSFT commented on #78110
@hyoshioka0128 Thanks for replying back. Your message was perfectly conveyed and the changes suggested by you should be available in few days. I will close this issue now. If you have any more questions related to same topic, please comment.

[2021-07-12 13:57] #78110 closed

[2021-07-12 14:02] SatishBoddu-MSFT commented on #78212
Hello @harithamaddi-ops
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-07-12 14:03] SatishBoddu-MSFT commented on #78217
Hello @blueelvis
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-07-12 14:04] SatishBoddu-MSFT commented on #78218
@andylholloway
I have assigned the issue to the content author for further review.

[2021-07-12 14:05] SatishBoddu-MSFT commented on #78219
@laurensvp
I have assigned the issue to the content author for further review.

[2021-07-12 14:13] SatishBoddu-MSFT commented on #44894
@arminghasemazar Could you please let us know what is the error you were facing when using Azure Storage Explorer to create the container manually?

[2021-07-12 14:24] andreasjl commented on #77944
@sugi-a @YutongTie-MSFT It is correct that customization with audio is not supported for Japanese. We had enabled it for a short period of time earlier this year on the latest models. However, Japanese has many intricacies and customers frequently ran into problems with failed trainings. Therefore, the only option we had was to disable this feature for Japanese. That means only the transcriptions

[2021-07-12 14:28] memildin commented on #76302
Hi @vboyev-MSFT, thanks for the feedback and for taking the time to help us improve the docs & product.

Regarding the first part of your feedback, the access is **legitimate** when it originates from the legitimate owner of the account. It should be verified by contacting the account owner.

Please can you clarify your second question.

[2021-07-12 14:40] memildin commented on #77927
Hi @tuxnam, thanks for the feedback and for taking the time to help us improve the docs.

The public preview of the integration of **Defender for Endpoints for Linux** with Azure Defender will begin shortly. When it does, this doc will be updated.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2021-07-12 14:40] #77927 closed

[2021-07-12 14:45] memildin commented on #76844
#please-close

[2021-07-12 14:45] #76844 closed

[2021-07-12 14:47] memildin commented on #75105
Hi @DonKoning, thanks for the feedback and for taking the time to help us improve the docs.

Yes, the info you found and linked to in May will be incorporated into the main docs in the coming weeks.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2021-07-12 14:47] #75105 closed

[2021-07-12 15:04] FrancescoSaverioZuppichini commented on #35374
Hi guys. Is the format written by @ram-msft still the correct one? So origin is bottom left?

[2021-07-12 15:05] #78000 closed

[2021-07-12 15:08] tfitzmac commented on #78180
I have added a link to an [article that describes how connections are counted](https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-concept-messages-and-connections). That update will get published later today.

There is also a [forum post](https://social.msdn.microsoft.com/Forums/en-US/11b38aab-65f6-4b60-99a6-87cae88c29a6/azure-signalr-service-limitations) that discusses a similar questio

[2021-07-12 15:08] #78180 closed

[2021-07-12 15:11] Vikram1988 commented on #77958
@iromanovsky the documentation is correct, there was a product bug which is why the bypass proxy box wasn't visible in the appliance. we have now taken up the fix which will be released by end of this week, so we can close this request.

[2021-07-12 15:37] tfitzmac commented on #78206
@rockboyfor - there are many caveats for moving Recovery Services vaults, including limitations on the regions in Azure China. See [Move a Recovery Services vault across Azure Subscriptions and Resource Groups](https://docs.microsoft.com/en-us/azure/backup/backup-azure-move-recovery-services-vault?toc=/azure/azure-resource-manager/toc.json) for details.

#please-close

[2021-07-12 15:37] #78206 closed

[2021-07-12 15:40] joeljanke opened #78223 "New Search Roles Not Mentioned"
In the Azure Portal I see the following 3 additional roles that are never mentioned on this page...

Search Index Data Contributor
Search Index Data Reader
Search Service Contributor

It seems these roles should be described in greater detail on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2293a04c-2b13-40

[2021-07-12 15:59] mmacy commented on #72698
@SaschaSeipp Thanks for reporting these issues and apologies for the delay in response. The mentions of **preview** in your first item have been removed from the article.

For your second request, I haven't yet been able to get a response from @madansr7. It seems, however, that this is a product issue you've identified rather than a doc issue. Can you confirm whether this item is a product questio

[2021-07-12 16:04] liconkle opened #78224 "Needs updated to reflect current information"
Client types section content in this document shows: By default Conditional Access policies apply to browser apps, mobile apps, and desktop clients that support modern authentication.

This assignment condition allows Conditional Access policies to target specific client applications not using modern authentication. These applications include Exchange ActiveSync clients, older Office applications

[2021-07-12 16:06] Oury-MSFT commented on #78143
@deborahc Link to the doc is broken. Should we raise a PR to fix it? Thanks
![image](https://user-images.githubusercontent.com/78940872/125320301-6cc7e480-e2f0-11eb-94dc-b97c8442f00c.png)

[2021-07-12 16:08] JamesTran-MSFT commented on #78224
@liconkle
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-12 16:22] MonikaReddy-MSFT commented on #77888
@deangross - Thanks for providing us with document details. Can you please elaborate your request ?

[2021-07-12 16:23] MonikaReddy-MSFT commented on #78186
@aakashrami - Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-07-12 16:27] SatishBoddu-MSFT commented on #77891
Thank you @kanshiG ,

Hello @StefArroyo Could you please help in this matter!

[2021-07-12 16:32] askiefer commented on #36927
Thanks for confirming @spechtx. I am surprised that there is not already support for GDAL. Fingers crossed it is resolved soon!

[2021-07-12 16:40] bmedlin opened #78225 "Is this still accurate after GA?"
Hi - I'm trying to follow these steps now that ASE V3 has GA'd. Are these steps still valid? I am not being presented with the ASE as an option in the Region dropdown when creating a web app. Thanks,

Brian

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 293322ac-a680-5d35-0a4f-ab92f0a696aa
* Version Independent ID: 51c

[2021-07-12 16:41] MHenley opened #78226 "Spelling typos"
`For implemeting this fail over scenerio both endpoints needs to be in different profiles, and the different profiles should be by different CDN provider to avoid domain name conflicts.`

implementing, scenario, - spelling typos

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2004e554-882e-932e-d55b-7b60b53bcc5b
* Versi

[2021-07-12 16:54] dlepow commented on #78138
@matt-palermo-optum - Thanks for the question. The `acr purge` command isn't part of the standard Azure CLI release, instead it's a container-based command you can run in a `cmd` statement of an [ACR Task](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-reference-yaml). More info in this [GitHub repo](https://github.com/Azure/acr-cli). The ACR Task support for us

[2021-07-12 16:54] StefArroyo commented on #77891
Hi! This is a per-second metric, that is aggregated at various time grains. Have updated the docs to reflect this!

#please-close

[2021-07-12 16:54] #77891 closed

[2021-07-12 16:54] KranthiPakala-MSFT commented on #78015
@AksanaKuzmitskaya
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-07-12 16:54] #78015 closed

[2021-07-12 17:01] kenwith commented on #71156
@afairthorne - thank you for the feedback. I know it takes time to share feedback when going through the content and I appreciate it. We have the port requirements and other details in the tutorial here: https://docs.microsoft.com/azure/active-directory/app-proxy/application-proxy-add-on-premises-application

I added a cross link in this article so it is clear where to find the information. It sho

[2021-07-12 17:01] kenwith commented on #71156
#please-close

[2021-07-12 17:01] BhargaviAnnadevara-MSFT commented on #78116
@guangying94 Hope the above inputs help. Are there any further questions here?

[2021-07-12 17:01] #71156 closed

[2021-07-12 17:02] bmedlin commented on #78137
Thanks... however, the template you provided doesn't apply network restrictions to the storage account. That's my need.

[2021-07-12 17:09] poyadav2001 commented on #78033
Any updates on this issue.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: James ***@***.***>
Sent: Friday, July 9, 2021 10:50 AM
To: ***@***.***>
Cc: Pooja ***@***.***>; ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Missing ARM template support for assigning multiple user assigned managed identities (#78033)

@poyadav2001<https://nam06.safelinks.protec

[2021-07-12 17:11] hb66772-home opened #78229 "Validate custom domain name using/during Bicep deployment"
This document only provides method for validating custom domain ('pending') status manually.  How do we accomplish any of these tasks/steps from a Bicep (or even ARM) deployment?

I'm trying to deploy CDN with custom domain (origin groups/origin/routes, e.t.c) but i'm not finding any info on how to get the custom domain out of pending state during deployment of front door (premium) to validated.

[2021-07-12 17:14] madansr7 commented on #72698
@SaschaSeipp thanks for bringing it to our attention. Regarding #2, the UI experience just builds on the existing manifest and does not change how the default app role is created when an app is provisioned from gallery. However, I see how it might cause confusion while using the UI. I have noted your feedback and work with our engineering team to improve this experience.

[2021-07-12 17:19] #72698 closed

[2021-07-12 17:24] jmsteinbrunner commented on #78146
In my particular case, I was simply hard coding the label string as shown below.
[code]
In the azure configuration, I had several test keys with various labels created to try out this capability.  Some had no label, some had just the "Development" label, and some had both.  When running with the above select statements, I would only receive keys with no label.  Keys that had both (no label) and "D

[2021-07-12 17:27] abij commented on #77998
Thanks. I cannot see the pr, please check if the same is true for user -> users. I don't know for sure

Outlook voor iOS<https://aka.ms/o0ukef> downloaden
________________________________
Van: Kranthi Pakala ***@***.***>
Verzonden: Saturday, July 10, 2021 12:47:22 AM
Aan: MicrosoftDocs/azure-docs ***@***.***>
CC: Alexander Bij ***@***.***>; Mention ***@***.***>
Onderwerp: Re: [MicrosoftDocs/azure-

[2021-07-12 17:42] sugi-a commented on #77944
Understood. Thank you for your answer.

[2021-07-12 17:42] #77944 closed

[2021-07-12 17:53] HeidiSteen commented on #78223
@joeljanke  Thank you for the filing the issue. Those roles are very new and in preview, and docs are a little behind.  We will have a preliminary update to the roles-based article within the week, but full coverage of this feature and it's implications might take a little longer.  I'll keep this issue open so that I can post updates about doc status.

[2021-07-12 17:54] leifbro commented on #71054
@SamirFarhat There is no reason why you can't use the portal for Databricks workspace management.

#please-close

[2021-07-12 17:54] #71054 closed

[2021-07-12 17:54] rolyon commented on #76063
Hi @weyCC81
Let us know when you can provide a screenshot. We are going to close this issue for now.
thanks

[2021-07-12 17:54] rolyon commented on #76063
#please-close

[2021-07-12 17:55] anastasia-ms commented on #77844
@manhquang144
Perhaps you can create a new layer and add a symbol that way?

https://docs.microsoft.com/en-us/azure/azure-maps/map-add-pin

[2021-07-12 17:57] bmedlin commented on #76088
thanks!

[2021-07-12 17:59] leifbro commented on #70881
This is awaiting Azure PM approval for inclusion in the Azure Databricks docs, and I expect it to be added soon.
(For internal use:  https://databricks.atlassian.net/browse/DOC-2828)

[2021-07-12 18:09] davidmrdavid commented on #77186
Hi @waltervos,

Thank you for reaching out! Your first error, the one that reads:

Is simply due to a type mismatch and is raised by the Python runtime itself, so it's unrelated to Durable Functions. It seems you've also noted the fix: either using formatted strings or, alternatively, casting the `id_` variable into a string.

The second error you report, the one that reads:

Does seem to be a fra

[2021-07-12 18:24] ChaitanyaNaykodi-MSFT commented on #78137
Hello @bmedlin, apologies about that. You can refer to [this ARM template](https://github.com/mcollier/azure-functions-private-storage) instead. In this sample Azure Functions in integrated with a storage account using  private endpoints.
We will now proceed to close this issue out. Please tag me in your response if there are any additional concerns. Thank you!

[2021-07-12 18:24] #78137 closed

[2021-07-12 18:28] mmacy commented on #78055
@hanslai The good news is that we're aware of this gap and we have plans to close it. I'm passing this over to @rwike77 who can speak more to plans for this area, and I expect he'd love to hear your real-world scenario that you'd like to see documented.

#reassign:rwike77

Cc: @aricrowe57

[2021-07-12 18:29] brooke-poweredbyliquid commented on #37016
Hello @FrankHu-MSFT ,

I have a microsoft account specifically for work. I DO NOT want to associate a personal email address w/my work account. If I leave my company, I specifically DO NOT want to maintain access of this work microsoft account.

This seems like a totally normal use case. Why is ms forcing me to enter a personal email address? How do I turn this off?

Thanks!
~b

[2021-07-12 18:38] richard457 commented on #61446
Having the same issue here  AADSTS7000218: The request body must contain the following parameter: 'client_assertion' or 'client_secret'.

[2021-07-12 18:38] richard457 commented on #61446
using the ms-identity-javascript-react-spa example from documentation

[2021-07-12 18:44] garrint opened #78230 "EXO "Info" attribute is now consumed by Groups, so the comment needs to be removed"
The "Info" attribute is now consumed by Groups, the comment on the attribute "Info" needs to be removed.  See bug: https://o365exchange.visualstudio.com/O365%20Core/_workitems/edit/1646071.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7abde7c-df25-bd14-574c-92858daed39d
* Version Independent ID: 6652a5bc-4985-d45e-3

[2021-07-12 18:54] SaiKishor-MSFT commented on #78229
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-07-12 18:56] MSEvanhi commented on #55581
Hey @ccvaillant1992, did you register the Microsoft.Solutions resource provider like Ilshat described in an earlier comment? If not, please do so by following directions here: https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-providers-and-types. This should create the principal in your subscription.

[2021-07-12 19:01] SaiKishor-MSFT commented on #78226
@MHenley Thank you fo much for pointing this out. We have updated the document accoridngly and this should reflect soon.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-12 19:01] #78226 closed

[2021-07-12 19:03] SaiKishor-MSFT commented on #77758
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-12 19:03] #77758 closed

[2021-07-12 19:13] MSEvanhi commented on #64994
`is there any way for me to identify the actual user (or service principal) with whom the request originated?`
No, not today. You can only view the Custom Resource Provider resource that is making the call and its full resource path.

`Furthermore I can't enable self-service authorization configuration for my customers by creating custom roles?`
You can give RBAC to a CuRP resource, including usin

[2021-07-12 19:20] mmacy commented on #74892
@sarah026 Apologies for the delay in response, I'll see if we can get you an answer on this.

@JamesTran-MSFT this looks like it is in fact a product question (that might lead to a doc enhancement). Can you re-label it with `product-question`?

@davidmu1 I chatted with @kenwith on this and it seems like a good one to pass over to you for investigation. If not, let me know and I'll see what I can d

[2021-07-12 19:28] SatishBoddu-MSFT commented on #78230
Hello @garrint
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-07-12 19:29] garrint commented on #78230
Thank you kindly!

Thank you,

Garrin Thompson
Senior Customer Engineer
SfMC Global Hybrid Email Support
SfMC NA Exchange Lead | SfMC Tools COE
Support for Mission Critical (SfMC) Team
[logo]

*<tel:+14697754426>: (469) 775-4426 | *<mailto:*>: GarrinT@Microsoft.com<mailto:GarrinT@Microsoft.com>

From: SatishBoddu ***@***.***>
Sent: Monday, July 12, 2021 2:28 PM
To: MicrosoftDocs/azure-docs ***@***

[2021-07-12 19:33] ashkickindevelopment commented on #77293
Hi any update on this?

[2021-07-12 19:35] himanshusinha-msft commented on #78225
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2021-07-12 19:37] CHDAFNI-MSFT opened #78232 "Clarify if 'Recommended Configurations' can be completed PRIOR to sysprep & upload"
The recommended configuration section does not clearly state if each recommended item can be performed PRIOR to sysprep/generalization, during VM provisioning, or if it must be done AFTER provisioning.

For example ['ProvisionVMAgent' as a property of the VM deployment](https://docs.microsoft.com/en-us/azure/templates/microsoft.compute/virtualmachines?tabs=json#windowsconfiguration-object) is dete

[2021-07-12 19:47] joeljanke commented on #78223
Thank Heidi.  I look forward to the documentation updates...preview or otherwise.

From: Heidi Steen ***@***.***>
Sent: Monday, July 12, 2021 12:54
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Janke, Joel <JJanke@WBMI.com>; Mention ***@***.***>
Subject: [External]Re: [MicrosoftDocs/azure-docs] New Search Roles Not Mentioned (#78223)

@joeljanke<https://nam02.safelinks.protection.outlook.com/?url=

[2021-07-12 19:52] kenwith commented on #76076
@jwojan - thanks again for pointing this out! It is resolved now and points to the API tutorial.

#please-close

[2021-07-12 19:52] #76076 closed

[2021-07-12 20:15] hxing752 opened #78233 "Share Images across tenants using Portal"
[Enter feedback here]
I have an image in the shared image gallery in subscription A, now I want to share it with another user who has a different subscription B and tenant B, I followed the instructions in the page, but to create a VM from the shared image when I logged in as tenant B, I can only do it from CLI, is there a way to create the VM from the portal.

---
#### Document Details

⚠ *Do not

[2021-07-12 20:19] JamesTran-MSFT commented on #78145
@TaekeK
Thank you for your time and patience throughout this issue!

I replicated the error message that you're seeing on my end, and also tried the Redirect URLs from our [Set redirect URLs to b2clogin.com for Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/b2clogin) documentation, and ran into the same issue. I was also not able to add a query string Redir

[2021-07-12 20:36] OWinfreyATL commented on #67748
@gb5757870  Thanks for your feedback. Document has been updated with current image and steps!

[2021-07-12 20:36] JohnHKoh opened #78234 "Managed application tutorial fails during deployment step"
I am following the below tutorial, which fails at step 5 of "Managed application instance" with the following error:

[code]

I have been able to deploy other managed applications, but following the provided tutorial seems to fail because it cannot find the HttpTrigger1 function from the `zipFileBlobUri` at https://github.com/Azure/azure-quickstart-templates/tree/master/quickstarts/microsoft.custo

[2021-07-12 20:36] OWinfreyATL commented on #67748
#please-close

[2021-07-12 20:36] #67748 closed

[2021-07-12 20:36] nikhil-vartak opened #78235 "Need more information on parameters"
This document talks about defining parameters through a JSON file. Is there no way to define parameters in Logic App (Standard) when working with a designer on the portal? In Consumption Logic App we can define parameters (configurable inputs) through the designer. There is a separate tab called "@parameters" available.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2021-07-12 20:38] JamesTran-MSFT commented on #78163
@dave22000
Thank you for your time and patience throughout this issue! I've passed this info along to our engineering team, and will close this out and update as needed.

If you're still having issues or seeing this potential bug, please feel free to tag me and I'd be more then happy to enable your subscription for a one-time free technical support request so our support team can take a closer loo

[2021-07-12 20:38] #78163 closed

[2021-07-12 20:50] TaekeK commented on #78145
Hi Jamea,

I added ?p=B2C_1A_SIGNIN to the URL, which gave a proper response in the browser. I'm still waiting for the IdP to add this as a redirect URL, so I have not tested this end-to-end.

There is a setting in the B2C policy that configures the redirect behavior,  but that did not work as expected.

<Item Key="UsePolicyInRedirectUri">false</Item> indicates that a policy is not needed in the U

[2021-07-12 20:59] JamesTran-MSFT commented on #78224
@liconkle
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-07-12 20:59] #78224 closed

[2021-07-12 21:10] JamesTran-MSFT commented on #78145
@TaekeK
Thank you for the quick follow up on this!

When testing out your app, have to tried using the `https://jwt.ms` reply URL, to see if that lets you complete the sign-in?
![image](https://user-images.githubusercontent.com/36619112/125356281-d957d900-e31a-11eb-9a12-86bbf0cdf2f5.png)
![image](https://user-images.githubusercontent.com/36619112/125356178-b5949300-e31a-11eb-899d-4057ba7e1b00.png)

[2021-07-12 21:14] scott1138 opened #78238 "Retrieving of secrets\certificates is not accurate"
The information on accessing certificates via the Key Vault API is not entirely accurate, or some other Azure systems do not work with it as intended.  For instance, when configuring an API Management custom domain and selecting the certificate from a Key Vault, the URI uses the /secrets path.  I discovered this when using Terraform to build the resources and when I constructed the URI using /cert

[2021-07-12 21:30] #78189 closed

[2021-07-12 21:32] JamesTran-MSFT commented on #78238
@scott1138
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-12 21:32] tamram commented on #77293
@ashkickindevelopment - As far as I can tell, this is an issue with the pricing calculator and not with the doc page. This forum is for doc issues only, so I'm going to close this one out, but I have reached out to the engineering team to let them know that there may be an issue with the pricing page. I'll report back here if I learn anything.

In the meantime, I recommend reporting this using Mic

[2021-07-12 21:32] #77293 closed

[2021-07-12 21:48] aahill commented on #76951
Hi @rurounijones thanks for pinging me on this! I was out-of-office and forgot to loop back on this.

I appreciate the information, I can rename the tab this is in, so that it's clearer and not labeled as "Azure CLI". This would enable you to link directly to the docs.microsoft.com page, using something akin to the following URL format:

https://docs.microsoft.com/azure/cognitive-services/luis/lui

[2021-07-12 21:59] ecfan commented on #78235
#assign @Bec-Lyons: Could you please help answer?

[2021-07-12 22:24] aldelar opened #78241 "Code error / missing 'read()' in detect_image() code"
This code below has an error, instead of:

It should be:

THIS IS THE CODE SNIPPET THAT CONTAINS THE ERROR:

# Now there is a trained endpoint that can be used to make a prediction

# Open the sample image and get back the prediction results.
with open(os.path.join (base_image_location, "test", "test_image.jpg"), mode="rb") as test_data:
    results = predictor.detect_image(project.id, publish_ite

[2021-07-12 22:25] sebansal commented on #75212
The documentation was drafted at the time when the feature was in preview. The feature has been generally available for over a year now.

Thanks
Team Key Vault

[2021-07-12 22:42] Bec-Lyons commented on #78235
Hi Nikhil! This is coming very soon - the Portal UI is currently being rolled out and should be available by the end of the month to use, much in the same way you would use consumption parameters.

[2021-07-12 22:43] nastassiar opened #78242 "The Deploying private offers is out of date"
The Deploying private offers section describes a Private Badge that will appear when there are search results in the general marketplace that are private neither the screen shot nor the current version of the portal shows this. The documentation needs to be updated to better explain what the experience will be like with private offers in the Marketplace.

---
#### Document Details

⚠ *Do not edit

[2021-07-12 22:44] YutongTie-MSFT commented on #78114
@nerajput1607  Hello Neha, could you please check on this suggestion? This is a good feedback. ^^

@pnarsi Thanks for the feedback again, I have assigned this to the content author for improvement.

[2021-07-12 22:53] GiftA-MSFT commented on #78241
@aldelar we'll review your feedback and get back to you shortly. Thanks.

[2021-07-12 23:13] bandersmsft commented on #78187
@anurag4516 Thanks for letting us know about this issue. I'm investigating it with the Billing enginnering team. I'll reply here when I have more info.

[2021-07-12 23:22] sebansal commented on #77392
Addressed by team. #please-close

[2021-07-12 23:22] #77392 closed

[2021-07-12 23:22] sebansal commented on #77393
Addressed by team. #please-close

[2021-07-12 23:22] #77393 closed

[2021-07-12 23:51] ChaitanyaNaykodi-MSFT commented on #78235
Thank you @Bec-Lyons,

@nikhil-vartak, we will now proceed to close this issues. Please tag us in your response if there are any additional concerns. Thank you!

[2021-07-12 23:51] #78235 closed

[2021-07-13 00:02] SatishBoddu-MSFT commented on #78232
Hello @CHDAFNI-MSFT
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-07-13 00:05] SatishBoddu-MSFT commented on #78233
Hello @hxing752
Our SME will soon review your feedback.

[2021-07-13 00:11] SatishBoddu-MSFT commented on #78234
Hello @JohnHKoh
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-13 00:13] SatishBoddu-MSFT commented on #78242
Hello @nastassiar
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-07-13 00:19] daemel opened #78244 "Add RBAC role to FHIR Service missing"
One thought is that you may want to add as a next step the addition of the RBAC role for the new service client to the FHIR Service.  If users fail to add the RBAC role they will continue to get a 403 forbidden

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4edd558-abd8-fbbe-9255-067ca0d2d039
* Version Independent ID:

[2021-07-13 00:31] Karishma-Tiwari-MSFT commented on #78083
@palma21 Can you please help with the customer's questions:
"Thank you for the links and reply.
However, I’m still curious to understand:

1.Why would it be a problem to use DIND? Regradless the known issues which existed before k8s 1.19
2.While using docker buildx, how should I maintain the local docker cache? This feature is required in our build process and therefore we must have a way to keep

[2021-07-13 00:31] jzhouw opened #78245 "appsettings.json or local.settings.json"
in the sample code in this page, appsettings.json is used for configuration - every .net core developer is familiar with this. while the function dev tool still requires a local.setting.json instead of appsettings.Development.json as per this thread https://github.com/Azure/azure-functions-core-tools/issues/2504

can this be improved?

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-07-13 01:22] rarandiv commented on #77891
@StefArroyo , @SatishBoddu-MSFT , Thanks for acknowledging the feedback and updated the doc. Appreciate!

[2021-07-13 01:45] AshokPeddakotla-MSFT commented on #78172
I have assigned the issue to the content author @kgremban  to evaluate and update as appropriate.

[2021-07-13 02:44] Corendiel commented on #78157
@PramodValavala-MSFT , I found this other page
https://docs.microsoft.com/en-us/azure/api-management/api-management-access-restriction-policies#validate-client-certificate
It's a much nicer way of doing it. That How to article should probably feature only that solution or at least mention it.

[2021-07-13 03:19] mrhannah88 commented on #77715
@MicrosoftGuyJFlo Any thoughts?

[2021-07-13 04:05] hyoshioka0128 opened #78247 "[LOC]Not Translated (ja-jp)"
ja-jp:"https://docs.microsoft.com/ja-jp/azure/cosmos-db/tutorial-sql-api-dotnet-bulk-import"
![tutorial-sql-api-dotnet-bulk-import_j](https://user-images.githubusercontent.com/40815708/125388702-f358f080-e3da-11eb-84b1-92a6ffaecbdc.png)

en-us:"https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-sql-api-dotnet-bulk-import"
![tutorial-sql-api-dotnet-bulk-import_e](https://user-images.githubus

[2021-07-13 04:19] GitaraniSharma-MSFT commented on #77980
@xuegao112 , Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-07-13 04:19] #77980 closed

[2021-07-13 04:21] AnuragSharma-MSFT commented on #78244
@daemel Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-07-13 04:51] AnuragSharma-MSFT commented on #78049
@Shivani2596 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-07-13 04:51] #78049 closed

[2021-07-13 04:51] AnuragSharma-MSFT commented on #78101
@MichaelEbert We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-07-13 04:51] #78101 closed

[2021-07-13 05:36] AnuragSharma-MSFT commented on #78118
@hellojxg I was going through multiple articles and you have rightly pointed out that there is a conflict in these docs. By default it should be range index on strings. However, it is being assigned to the content author to evaluate and update as appropriate.

[2021-07-13 05:41] MayankBargali-MSFT commented on #78245
@jzhouw Thank you for your feedback! We will review and update as appropriate.

[2021-07-13 05:47] oshezaf opened #78248 "Change "Data Connector Reference" to "Data Collection Reference""
https://github.com/MicrosoftDocs/azure-docs/blob/7c0a5dedbffd2572df20f6a772c59d3aa1abcf86/articles/sentinel/TOC.yml#L388

I think that "Data Connector Reference" is misleading and nobody will look for the schema information underneath it given this title. It will be taken as reference to the connector themselves. Borrowing from the title under concepts, I would do a minor change to "Data Collectio

[2021-07-13 05:50] #78081 closed

[2021-07-13 05:51] #78087 closed

[2021-07-13 05:59] PramodValavala-MSFT commented on #78245
@jzhouw The code here is required for `appsettings.json` files to be picked up but the default `local.settings.json` is still required.

[This issue](https://github.com/Azure/azure-functions-host/issues/3189) tracks the change to use ASP.NET Config Patterns. Some of the changes required are mentioned in [this comment](https://github.com/Azure/azure-functions-host/issues/4761#issuecomment-641390204

[2021-07-13 05:59] #78245 closed

[2021-07-13 05:59] ShaikMaheer-MSFT commented on #78109
@hyoshioka0128 Thanks for pointing out the issue, I've addressed this issue in PR:https://github.com/MicrosoftDocs/security-benchmark-docs-pr/pull/93
 The changes should be live soon. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2021-07-13 06:07] RohitMungi-MSFT commented on #78193
@dejanstamenov The doc is now updated with the correct reference. Thanks for spotting this. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-07-13 06:07] #78193 closed

[2021-07-13 06:07] KranthiPakala-MSFT commented on #77998
Hi @abij - Here is the PR for the fix - https://github.com/MicrosoftDocs/databricks-pr/pull/690

The changes will merged within 24hours.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thanks again for bringing this to our notice.

[2021-07-13 06:07] #77998 closed

[2021-07-13 06:07] AnuragSharma-MSFT commented on #78165
@JoeMoyle your_collection refers to the graph Id which we just created with the name 'sample_graph' as mentioned in the article. Please check below screenshots below for more details:

![image](https://user-images.githubusercontent.com/66360845/125399711-9bb48800-e3ce-11eb-9a85-fddc36a574fa.png)

![image](https://user-images.githubusercontent.com/66360845/125399743-a5d68680-e3ce-11eb-8f18-1890e977

[2021-07-13 06:11] GitaraniSharma-MSFT commented on #77930
@AndrevdG , We have assigned this to the content owner/author for review.

@duongau , for your review.

[2021-07-13 06:13] #76888 closed

[2021-07-13 06:16] dvasdekis commented on #29172
In my case I had to grant the DevOps agent 'Contributor' access to the Resource Group that the datalake resource was in (not the one where the Data Factory job was running), as creating this trigger involves creating a 'Microsoft.EventGrid/EventSubscriptions' resource.

[2021-07-13 06:17] TaekeK commented on #78145
For this setup we make use of an external IdP that offers OIDC integration, for which we followed the documentation provided to integrate with Azure AD B2C. It's not an app in a tenant we control, so I cannot add a redirect to jwt.ms.

Sent from Nine<http://www.9folders.com/>

________________________________
From: James Tran-MSFT ***@***.***>
Sent: Monday, 12 July 2021 23:11
To: MicrosoftDocs/azu

[2021-07-13 06:17] GitaraniSharma-MSFT commented on #77975
@gmndrg , I checked the service tags in the inbound and outbound rules for NSG but couldn't find Redis cache tag in them:

![image](https://user-images.githubusercontent.com/67630903/125400685-d23ed280-e3cf-11eb-9e27-97f49b77bf1d.png)

![image](https://user-images.githubusercontent.com/67630903/125400735-e256b200-e3cf-11eb-8d58-02cf24fc4062.png)

I also checked the JSON file for service tags and R

[2021-07-13 06:17] #77975 closed

[2021-07-13 06:47] hoksource commented on #62409
@NavtejSaini-MSFT can i as another question on this? So each remote elastic query creates remote connection right? assuming 2 databases are in the same region. How does cross database query bandwidth overhead differ from single database join? would single database join be significantly faster? also how does remote elastic queries differs in bandwidth performance as compared to multiple database qu

[2021-07-13 06:54] hoksource commented on #62409
looks like i found my answer.

it seems like
`select * from Table join RemoteTable on Table.RemoteTableId=RemoteTable.Id
`
will perform like below relative to the 2nd database.
`
select * from RemoteTable where Id in (x1,x2,...,xn)`

[2021-07-13 07:08] Ramblurr opened #78249 "Important details for using the webhook wth custom CI/CD missing"
This page tells us where we can get the Webhook URL to integrate with our own CI/CD system.

However it doesn't tell us how to format the HTTP request to this URL.

* is it a GET or a POST
* what is the payload (if any)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddc210db-9bbc-1787-8842-0dd29ca2919e
* Version Indep

[2021-07-13 07:23] arminghasemazar commented on #44894
@SatishBoddu-MSFT  Already wrote here.

[2021-07-13 07:38] GitaraniSharma-MSFT commented on #78209
@alexchen2016 , I have confirmed with the PG team regarding this and they mentioned that the returned cert would be from the order specified by the request routing rules and not the listeners. We have assigned this to the content owner/author for updating the doc accordingly..

@azhar2005 , request you to update the doc.

[2021-07-13 07:45] xuwenjian1995 commented on #78073
Hi @PramodValavala-MSFT,

Thanks for your response, suppose we have a godady certificate, and which certificate type i should upload on the portal?

[2021-07-13 08:01] scottbutton opened #78252 "This page should be pulled from your doco as no auto update versions have been released for a LONG! time."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e192eab2-771f-4572-cd55-a166eac1e0e7
* Version Independent ID: 528dec55-c74d-3769-3a34-5e29e4a9852f
* Content: [Azure AD Connect: Automatic upgrade](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-automatic-upgrad

[2021-07-13 08:04] shashishailaj commented on #78248
@oshezaf Thank you for sharing the same. We will engage the content team to review the same and update further. FYI  @yelevin

[2021-07-13 08:07] gitstua commented on #78128
There is some pricing information in the General Availability announcement which may help? https://techcommunity.microsoft.com/t5/apps-on-azure/announcing-app-service-environment-v3-ga/ba-p/2517990

[2021-07-13 08:10] bbmmcodegirl opened #78253 "Screenshots not current, documentation out of date"
The screenshots don't reflect the current web UI for Application Insights any more.
When creating a new Application Insight Resource now (7/2021), it is currently not possible to select the application type . It would be helpful if the documentation actually explained how to do that (and select a different application type than web).

---
#### Document Details

⚠ *Do not edit this section. It is r

[2021-07-13 08:24] KalyanChanumolu-MSFT commented on #78191
@rpanand24 There is an [ongoing repository consolidation](https://github.com/dotnet/announcements/issues/119) effort in .NET 5 and the extensions are being moved to dotnet/runtime and dotnet/aspnetcore

Since this package has a third party dependency on StackExchangeRedis, I would request you to submit this issue as a feature request [here](https://github.com/dotnet/extensions/issues) and it will

[2021-07-13 08:25] KalyanChanumolu-MSFT commented on #78191
@rpanand24 We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-07-13 08:25] #78191 closed

[2021-07-13 08:38] Shak97 opened #78254 "Unable to get Word Level Timestamps in speech to text response data when using speech to text container with web sockets"
the response data received doesn't contain any word level timestamps as stated in this api guide https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-speech-to-text

is there something like a request header that needs to be set in order to get word level timestamps besides Pronunciation-Assesment header

connect is established on docker container locally (ws://localhost:50

[2021-07-13 09:08] benjamincburns commented on #64994
Thanks for that @MSEvanhi!

One more question for you regarding authorization...

Is it possible for my CuRP to define actions that can be included in custom roles?

For example, if I wanted to create a custom role that allowed for CRUD operations over a custom resource type, is the following possible? If so, how does my CuRP define these actions? Via an Operations endpoint?

[code]

[2021-07-13 09:21] kogesaka opened #78255 "Is Migration Tools degraded in preview?"
In 2021/07/07, Classic-to-Extended Support Migration Tools  was a GA announcement on the Azure Update site , but it has now been removed (2021/07/13).

This document is not shown "preview", but is but is the GA withdrawn and degraded to the preview state?

- General availability: Transition to Cloud Services (extended support) with new migration tool | Azure updates | Microsoft Azure
https://azure

[2021-07-13 09:24] harithamaddi-ops opened #78256 "Unable to use --include-after flag with azcopy command"
Hi Team,

Facing the below error while running --include-after with azcopy command. As per document, this is available. Kindly suggest if I am doing anything incorrectly.

_unknown flag: --include-after_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1bdc29f-175d-09b9-771d-cd84dbffbb49
* Version Independent ID: f5fe11

[2021-07-13 09:36] slavizh opened #78257 "Data Collection rules API not documented"
Hi,
The data collection rule API is not documented. If someone wants to maintain these rules in CI/CD (IaC) will be very hard to do. For example, most of the data sources are documented but the actual streams are not. It is not clear which stream to which exact table goes into Log Analytics. Which stream is for Azure Monitor Logs and which is for Azure Monitor Metrics. Windows Events have two stre

[2021-07-13 09:41] pietheinstrengholt opened #78258 "ADLS Gen2: improve documentation other ACL entry"
The documentation for the "Other" ACL entry can be improved. If users have no rights assigned, they will inherit the rights from the "Other ACL entry". The permissions propagate down any subsequently added child folders until the depth/folder where the intended access group should have Read and Execute permissions (in the lowest part of the chain as depicted in the second image), which will grant

[2021-07-13 09:51] SnehaAgrawal-MSFT commented on #78249
@Ramblurr Thank you for your feedback! We will review and update as appropriate.

[2021-07-13 09:52] RohitMungi-MSFT commented on #78254
@Shak97 The docker container of Azure speech service enables to use the same service settings as the REST API. In your case i am not sure if the wordleveltimestamp is enabled. Please refer to this SDK [reference ](https://docs.microsoft.com/en-us/dotnet/api/microsoft.cognitiveservices.speech.speechconfig.requestwordleveltimestamps?view=azure-dotnet#microsoft-cognitiveservices-speech-speechconfig-r

[2021-07-13 10:18] AnuragSharma-MSFT commented on #78247
@hyoshioka0128 Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-07-13 10:35] florianbader opened #78261 "Azure Service Bus trigger for Azure Functions PeekLock maxAutoRenewDuration maximum value"
According to the current documentation the maximum value for maxAutoRenewDuration is 5 minutes but can be increased to 10 minutes. This seems to be wrong because the **default** value is 5 minutes but in can be increased indefinitely and also should be increased if the function timeout is higher than the maxAutoRenewDuration. This should be also stated in the documentation e.g. something like this

[2021-07-13 10:47] gastonmuijtjens opened #78262 "Azure AD OAuth authentication for single-tenant Logic Apps (Standard)"
Please provide documentation on how to setup Azure AD OAuth (Azure Active Directory Open Authentication) for _single-tenant_ Logic Apps **(Standard)**. Currently it is only documented for multi-tenant Logic Apps (Consumption), but I would like to achieve the same goal for _single-tenant_ Logic Apps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2021-07-13 10:59] axelgMS commented on #78232
Not sure I get the questions - but yes you can install the VM Agent before the sysprep/generalize, or after the new VM is provisioned from that image.
And if you're using the WindowsConfiguration / ProvisionVMAgent = true, then the VMAgent will be installed automatically by Azure during VM Provisioning.

[2021-07-13 11:02] anwarmahmood1 opened #78263 "Why not add the Powershell for setting TLS 1.2 as well? Also mention it during the HTTP2 bit so only one reboot"
Why not add the Powershell for setting TLS 1.2 t

New-Item -Path "HKLM:\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL\Protocols\TLS 1.2"
New-Item -Path "HKLM:\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL\Protocols\TLS 1.2\Client"
New-ItemProperty -Path "HKLM:\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL\Protocols\TLS 1.2\Client" -Type "DWORD" -Name "Disa

[2021-07-13 11:03] lesterw1 commented on #41082
Seems the PAYG pricesheet is still not readily available.
This API works though: https://docs.microsoft.com/en-us/rest/api/cost-management/retail-prices/azure-retail-prices

[2021-07-13 11:05] mcurko commented on #77012
I tried to apply the above configuration but I ended up with this startup error:

`Event code: 3008
Event message: A configuration error has occurred.
Event time: 13.7.2021. 12:46:07
Event time (UTC): 13.7.2021. 10:46:07
Event ID: fde07f598f904005a8c04f3b5cbbca08
Event sequence: 1
Event occurrence: 1
Event detail code: 0

Application information:
    Application domain: /LM/W3SVC/12/ROOT-9-1327064

[2021-07-13 11:16] rahulrai-in opened #78264 "The default storage classes allow expansion by default"
The following statement in the docs doesn't seem to be correct:

"If you use one of the default storage classes, you can't update the volume size after the storage class is created."

Using the `kubectl describe` command, I can see that the property `AllowVolumeExpansion` is set to true by default. I wanted to check whether this document requires an update?

---
#### Document Details

⚠ *Do not ed

[2021-07-13 11:18] mikemowgli opened #78265 "outdated list of actions?"
When listing actions for the Microsoft.DocumentDB provider, I get a different list than exposed on this page. In particular:
- there seem to be no Data Action for this provider
- the "Microsoft.DocumentDB/databaseAccounts/readMetadata" is not found
- the "Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers/executeQuery" is not found
- "Microsoft.DocumentDB/databaseAccounts/sqlDatabases/c

[2021-07-13 11:22] QuiteNewbieButImproving opened #78266 "Wrong or incomplete information about --parameters inline format"
Hello,

As stated in a github issue:
https://github.com/Azure/azure-xplat-cli/issues/2070

Using Azure CLI with PowerShell, --parameters inline format should be (only one working):
'{\\"ParameterName\\":{\\"value\\":\\"ParameterValue\\"}}'
Each inner double-quote being preceded by a back-slash (may not be displayed above).

Documentation should be updated accordingly.

[Enter feedback here]

---
#

[2021-07-13 11:26] ivo-yosifov opened #78267 "FIX YOUR DOCUMENTATION"
Dear Microsoft. Your documentation is beyond useless. If you had paper copy of it, I'd use it as toilet paper
or kindling wood. I've spent 30 minutes to search how to enable the selection for teams meeting in google calendar to come across the solution in a third party website. Neither the steps that you provided in this (and many other articles) are relevant, nor the articles have links to the ad

[2021-07-13 11:26] #78256 closed

[2021-07-13 12:04] SrijitBose-MSFT commented on #78264
@rahulrai-in , Thank you for your feedback. We have assigned this as an action item to the author.

[2021-07-13 12:08] mikemowgli commented on #78265
After further investigation, I understand that the permission model for CosmosDB is similar to the Azure RBAC one, but does not rely on the Azure provider permissions. Is that correct?

[2021-07-13 12:13] #78265 closed

[2021-07-13 12:16] SwathiDhanwada-MSFT commented on #78253
@bbmmcodegirl Thanks for your feedback.

Assigning to content author @lgayhardt  for review.

[2021-07-13 12:17] SwathiDhanwada-MSFT commented on #78257
@slavizh Thanks for your feedback.

Assigning to content author @bwren for review.

[2021-07-13 12:17] rwiankowski commented on #78128
The GA announcement has the same info as the docs. My concern is that it is inconsistent with the GUI / portal experience, which indicates that:

_"The minimum App Service plan instance count will be three."_

Three is logical (three av zones), and nine is a bit... over the top? Ultimately, from a cost perspective, we'd be better off using ASEv2 to get a zone-redundant deployment.

[2021-07-13 12:18] SwathiDhanwada-MSFT commented on #78266
@QuiteNewbieButImproving Thanks for your comment. We will review the issue and get back to you shortly.

[2021-07-13 12:34] MhAllan commented on #78180
@tfitzmac  none of these links answer my question

[2021-07-13 13:02] ajoga opened #78269 "Step 8 duplicates 11 (or vice versa)"
Hello,

If I read the instruction from top to bottom, the step 8 has a vibe like "[and draw the rest of the owl](https://www.reddit.com/r/restofthefuckingowl/)", especially considering that the step 11 gives a lot of details on how to fill the very same web form.

I believe that deleting the step 8 would make the document easier to read without removing any important information.

I'd recommend th

[2021-07-13 13:03] nromyn opened #78270 "Wrong Links in doc"
There are two links that go to the same page in the document here https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/plan-conditional-access#respond-to-potentially-compromised-accounts

Require a password change for users that are high-risk <- this should link to [https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/howto-conditional-access-policy-risk

[2021-07-13 13:08] Robin-Wardle opened #78271 "Incorrect argument in "Rename or move a directory" example"
Positional argument 'rename_destination' should be 'new_name':

```directory_client.rename_directory(rename_destination=directory_client.file_system_name + '/' + new_dir_name)```

should be

```directory_client.rename_directory(new_name=directory_client.file_system_name + '/' + new_dir_name)```

[link](https://docs.microsoft.com/en-us/python/api/azure-storage-file-datalake/azure.storage.filedatala

[2021-07-13 13:12] AshokPeddakotla-MSFT commented on #78252
@scottbutton Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-07-13 13:18] AshokPeddakotla-MSFT commented on #78255
@kogesaka Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-07-13 13:26] SAURABH-MS opened #78272 "NoClassDefFoundError"
Code is throwing error when trying to execute.

Error : NoClassDefFoundError: org/apache/spark/internal/Logging$class

It seems to be a problem with spark version but not sure.

Stack trace:
at org.apache.spark.eventhubs.EventHubsConf$.<init>(EventHubsConf.scala:460)
	at org.apache.spark.eventhubs.EventHubsConf$.<clinit>(EventHubsConf.scala)
	at $linefe37f28de1f64ebbafdc9615e7a7d35e25.$read$$iw$$i

[2021-07-13 13:34] aralvar opened #78273 "Update information about the usage of different tenants"
When creating private endpoint for a resource in different tenant, it's important to note that both subscriptions need to have the corresponding Resource Provider Registered.
For example:
 sub A/tenant A ---> Private Endpoint
sub B/tenant B ---> SQL

sub A needs to have SQL RP registered and sub B needs to have Network RP registered
Other wise, the approval of the PE connection fails

---
#### Doc

[2021-07-13 13:38] JustinGrote opened #78274 "Provide Bicep example for subscription creation next to ARM template as tab to be consistent with other ARM examples"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d73f3e0-d3d3-eca9-483f-4a787fa77bb2
* Version Independent ID: d4046a56-c05e-e278-382d-2cb26dd5c20f
* Content: [Programmatically create Azure Enterprise Agreement subscriptions with the latest APIs](https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/progr

[2021-07-13 13:46] tfitzmac commented on #78180
@sffamily - do you have additional clarification about the SignalR connection limits per day?

[2021-07-13 13:51] myahl-uncomn opened #78275 "Is it possible to create a secret in bicep?"
I know it is possible to create a vault and keys in bicep, but what about secrets? The documentation only shows CLI and PowerShell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3491e673-72db-4a64-5eea-c22a0123dd9a
* Version Independent ID: 542aa4e6-a971-5cea-a7c1-04bdf5a1ade8
* Content: [Key Vault secret with Bicep -

[2021-07-13 13:51] JoeMoyle commented on #78165
Thank you AnagSharma-MSFT,

That provided the clue I was looking for.  I was immediately able to
connect.

Joe

On Tue, Jul 13, 2021 at 1:07 AM AnuragSharma-MSFT ***@***.***>
wrote:

--
Joe Moyle
JoeMoyle1@GMail.com
713-325-3597
www.MyDatabaseAdministrators.com

[2021-07-13 13:56] mikemowgli opened #78277 "Authentication with service principal app_id and secret_id"
From the doc, the apparent only authentication method is to use the key. Could you clarify how one could authenticate with the Java client using the app_id and secret_id of a service principal that was granted permissions using this doc: https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-rbac ?
Should a token be created using the management API, then use that token as the cosmosDB key?

[2021-07-13 13:58] AnuragSharma-MSFT commented on #78165
@JoeMoyle Glad it worked out for you. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-07-13 13:58] #78165 closed

[2021-07-13 13:59] jeremypope-valpak opened #78278 "JMESPath Queries failing with "az network vnet-gateway vpn-client show-health""
Hi,
I'm using the following versions of azure-cli:

 az version
{
  "azure-cli": "2.26.0",
  "azure-cli-core": "2.26.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "application-insights": "0.1.13",
    "automation": "0.1.0",
    "datafactory": "0.2.1",
    "log-analytics-solution": "0.1.1"
  }
}

And trying to parse the output from the preview show-health option on az network vnet-gat

[2021-07-13 14:03] AshokPeddakotla-MSFT commented on #78258
@pietheinstrengholt Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-13 14:09] PramodValavala-MSFT commented on #77475
@Christian-e-S Just following up here to see if you were able to create a support ticket for your issue.

[2021-07-13 14:14] RandyRobb opened #78279 "The value of deployment parameter 'vmssUniqueId' is null"
When I try to change a Gateway property [Adding the Negotiate Client Certificate] as indicated on this page I get the above error (The value of deployment parameter 'vmssUniqueId' is null). I have also discovered that even using PowerShell and trying to update a parameter on the Gateway (like the contact email) I get the same error. I was able to get by this issue by creating and configuring a VNE

[2021-07-13 14:15] #77952 closed

[2021-07-13 14:17] SwathiDhanwada-MSFT commented on #78275
@myahl-uncomn Thanks for your comment. We will review the issue and get back to you shortly.

[2021-07-13 14:19] mhmoore12 commented on #78062
@MonikaReddy-MSFT

Hello,

Any additional update / reconsideration for opening again per my clarification?

Thanks.

[2021-07-13 14:21] PramodValavala-MSFT commented on #78157
@Corendiel Yes. The newer policy is nicer. It would still require updating the policy document unlike the named value which is separate. Either way is a valid approach.

You right about this doc including a sample with the new policy.  Thanks for bringing this up! We have assigned this issue to the content author to review and update accordingly.

[2021-07-13 14:22] jonstelly opened #78280 "Different Credit Card for Subscription Not Possible, Documentation Incorrect"
[Azure Feedback](https://feedback.azure.com/forums/170030-signup-and-billing/suggestions/15399039-using-different-credit-cards-for-different-subscri) linked to the below documentation page about Azure Billing.  The feedback issue is marked as complete that it's possible and documented on the page, but the documentation is wrong.  Setting the active payment method on a subscription changes the acti

[2021-07-13 14:27] jamesbmorris92 opened #78281 "Problem starting listener for oracle database 12.2.0.1 SE"
I'm trying to follow this guide but using the oracle 12.2.0.1.0 Standard Edition.

I'm currently having problems starting the listener where it seems to be complaining about a timeout:
'
[oracle@oracle-vm ~]$ lsnrctl start

LSNRCTL for Linux: Version 12.2.0.1.0 - Production on 13-JUL-2021 14:20:20

Copyright (c) 1991, 2016, Oracle.  All rights reserved.

Starting /u01/app/oracle/product/12.2.0/dbh

[2021-07-13 14:30] paynemaks opened #78282 "Turn off multicast name resolution (AZ-WIN-00145) Wrong "Expected value""
### Administrative Templates - Network -> Turn off multicast name resolution (AZ-WIN-00145)
Problem description says: "**The recommended state for this setting is: Enabled.**" Its true for GP, but in that case we have actual registry value = **0**. As we want to disable multicast name resolution, we should change GP to Enabled, or set "_SOFTWARE\Policies\Microsoft\Windows NT\DNSClient\EnableMultic

[2021-07-13 14:33] DCtheGeek commented on #78282
@paynemaks Thanks for the feedback.  I'm looping in the owning PM, @mgreenegit, for review.

#assign:mgreenegit
#label:"assigned-to-author"
#label:"product-question"
#label:"in-progress"

[2021-07-13 14:43] andylholloway commented on #78218
Hi @SatishBoddu-MSFT

The command I was running was configured correctly, the issue was because the PowerShell context was looking at the wrong subscription. Once the context was updated to use the right subscription, with Set-AzContext command, we were able to list all backups for a deleted SMI.

You can close this issue.

Thanks
Andy

[2021-07-13 14:44] QuiteNewbieButImproving opened #78283 "Module conditionaly deployed"
Hello,

Could be interesting in this page to specify that - just as resources - modules can be conditionaly deployed by preceding the open { by an if(condition)...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1c1cbec-c325-f4b2-af56-6806330ad796
* Version Independent ID: 1b424365-2a0d-3d89-a989-53f20eb17c24
* Content

[2021-07-13 14:47] HarshitaSingh-MSFT commented on #78280
Hello @jonstelly , thanks for the question! We are taking a look into this and will get back to you soon.

[2021-07-13 14:47] mgreenegit commented on #78282
@gugovind this is specific to content so passing it on to you. thank you!
#reassign:gugovind

[2021-07-13 14:52] HarshitaSingh-MSFT commented on #78283
Hello @QuiteNewbieButImproving , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-07-13 14:56] Swenzzon opened #78284 "Copy-Keys.PS1 permission error RBAC"
We are using Azure Role-based access control as an access Policy for our key vault.
The account who runs the Copy-keys.ps1 is Key vault administrator on both the vault I shall copy the keys from and the vault where the keys shall be moved to
However, I get the following error.
User with user id:  XXX does not have access to the key vault XXX. Permitted object ids include - XXX

Does anyone else ha

[2021-07-13 15:06] SaiKishor-MSFT commented on #78273
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-07-13 15:13] ThomasWeiss commented on #78265
@mikemowgli The Cosmos DB data plane RBAC described on this page is different and independent from Azure RBAC, so for now you won't find these actions in Azure RBAC. Role management has to be done against your Cosmos DB account directly.

[2021-07-13 15:15] mvisosky opened #78285 "Performing node image upgrade against spot node pool"
The section on limitations says:

- You can't upgrade a spot node pool since spot node pools can't guarantee cordon and drain. You must replace your existing spot node pool with a new one to do operations **such as upgrading the Kubernetes version**. To replace a spot node pool, create a new spot node pool with a different version of Kubernetes, wait until its status is Ready, then remove the old

[2021-07-13 15:20] visingh-BRONGA opened #78286 "Lot of commands of this page is NOT working"
It seems this is obsolete and not updated for long time. Many of our customers are facing the problem.

These commands are not working

az aks upgrade \
    --resource-group myResourceGroup \
    --name myAKSCluster \
    --node-image-only

az aks nodepool get-upgrades \
    --nodepool-name mynodepool \
    --cluster-name myAKSCluster \
    --resource-group myResourceGroup

---
#### Document Detai

[2021-07-13 15:21] SnehaAgrawal-MSFT commented on #78030
@jsandersrocks Since we did not here from you. We will close this out, if you feel you need more information please just let us know.

[2021-07-13 15:21] #78030 closed

[2021-07-13 15:29] SatishBoddu-MSFT commented on #78218
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2021-07-13 15:29] #78218 closed

[2021-07-13 15:37] cephalin commented on #62579
Sorry for the delay. I've discovered that MEAN.js has become out of support at some point. I've rewritten the tutorial based on a new sample.

[2021-07-13 15:37] CHDAFNI-MSFT opened #78287 "SQL IaaS Extension compatibility with Azure Stack - Conflicting information"
Azure docs page states under '[Limitations](https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/sql-server-iaas-agent-extension-automate-management?tabs=azure-powershell#limitations)' "_SQL Server VMs deployed to the public or Azure Government cloud. Deployments to other private or government clouds are not supported._" ... assuming that Azure Stack is considered an "other pr

[2021-07-13 15:41] msftradford commented on #77113
@AdCCooN that is great to hear! Please feel free to close the issue or let us know if you additional help. Thanks!

[2021-07-13 15:42] leescottt opened #78288 "Bad link identified in page"
Hi team,
This document has a bad link, specifically under the installation section. "You can download and compile the solution locally, or download a pre-compiled binary, then run either:".

The "download a pre-compiled binary" link points to "https://aka.ms/csdmtool" which is dead.

Please update. thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2021-07-13 15:44] pumasight opened #78289 "Source is needed!"
Why did you remove Source, it is critical for our use, is there a way to see it somewhere else?
Thankyou

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2f60c2f-6bbe-69a3-04f9-7d20cf9dd159
* Version Independent ID: a230c850-a417-ce93-37f9-f7f5899a3709
* Content: [User management enhancements (preview) - Azure Active Di

[2021-07-13 15:50] dave22000 commented on #78163
@JamesTran-MSFT can you please clarify what the requirements for closing an issue are? I've had both this and #75344 closed without resolution.

[2021-07-13 15:50] SrijitBose-MSFT commented on #78286
@visingh-BRONGA , Thank you for bringing this to our attention. Can you please share the errors that you are facing with these commands?

[2021-07-13 15:51] whhender commented on #78064
@subommu - Thank you for bringing this to our attention. I am adding a note in the documentation to alert users to this potential issue.

[2021-07-13 15:52] SamaraSoucy-MSFT commented on #78261
Thanks for the feedback! We will review and get back to you shortly.

[2021-07-13 15:54] SamaraSoucy-MSFT commented on #78262
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-07-13 16:02] jwaltireland opened #78290 "Most of the MS managed controls are the same policy def"
[Enter feedback here]

the rules are all the same (1000-1015 and on)

"policyRule": {
      "if": {
        "allOf": [
          {
            "field": "type",
            "in": [
              "Microsoft.Resources/subscriptions",
              "Microsoft.Resources/subscriptions/resourceGroups"
            ]
          },
          {
            "value": "false",
            "equals": "true"

[2021-07-13 16:07] #62579 closed

[2021-07-13 16:07] SatishBoddu-MSFT commented on #78263
Hello @anwarmahmood1
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-13 16:08] kennethgp opened #78291 "Add instructions to pull files from the node using kubectl cp"
It would be useful to add this command showing how user can copy node files in case they are needed from troubleshooting. First get the pod name, then run:

 `kubectl cp node-debugger-aks-agentpool-15065227-vmss000000-f5qp8:host/opt/azure/components.json ~/myfile.txt`

Also to mention this debug pod (unlike node-shell) mounts the host filesystem in **/host** instead of **/**  so you need to look f

[2021-07-13 16:08] whhender commented on #78064
We are working on a more permanent solution for getting started with Purview in future.

[2021-07-13 16:10] DCtheGeek commented on #78290
@jwaltireland Thanks for the question.  The "Microsoft Managed Control #" group of definitions are `static` controls. The explanation of a `static` control is [here](https://docs.microsoft.com/azure/governance/policy/concepts/definition-structure#type):

[code]

These can't be customized by the organization and are representations of the third-party audits. Let me know if that didn't answer your q

[2021-07-13 16:10] #78290 closed

[2021-07-13 16:14] JamesTran-MSFT commented on #78269
@ajoga
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-13 16:16] islamtg opened #78293 "Trying the below with MAG and GCC"
Hey team we are trying to follow this article but we seem to be getting an authentication error on the source after we get the bearer token. Seems this works fine from MAC + GCC but not the same from MAG + GCC. any adivse?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d9fd1db-042c-5f44-ee84-f1a9386fb3e3
* Version Ind

[2021-07-13 16:17] visingh-BRONGA commented on #78286
Thanks, it was like
vinod@DESKTOP-6EI65BV:~$ az aks nodepool show --resource-group contosoResourceGroup --cluster-name 0710testcluster  --name agentpool --query nodeImageVersion
no result

[2021-07-13 16:17] visingh-BRONGA commented on #78286
But it went away with latest az  so thank you !

[2021-07-13 16:17] #78286 closed

[2021-07-13 16:19] SatishBoddu-MSFT commented on #78267
#Forum

[2021-07-13 16:21] DCtheGeek commented on #78290
Meant to add a link to the source where it shows it's `static`:

https://github.com/Azure/azure-policy/blob/master/built-in-policies/policyDefinitions/Regulatory%20Compliance/MicrosoftManagedControl1000.json#L4

[2021-07-13 16:23] anwarmahmood1 commented on #78263
a better label than "product-feedback" is doc-enhancement

[2021-07-13 16:23] MarileeTurscak-MSFT commented on #78289
@pumasight
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-13 16:24] SaiKishor-MSFT commented on #78059
@anzaman Can you please look into this? Thank you!

[2021-07-13 16:24] MarileeTurscak-MSFT commented on #78270
@nromyn
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-13 16:33] ajoga opened #78294 "Screenshot in step 14 shows a field filled but we are not instructed to"
Hello,

In step 14, we can see on the top screenshot that the "sign on URL" seems to have been filled with something, however nowhere we were instructed to do so. Also, the bottom screenshot shows the same field empty.

![Screenshot_20210713_150718](https://user-images.githubusercontent.com/37543966/125490506-48277622-1d9d-4e50-b7fa-c3829131364d.png)

---
#### Document Details

⚠ *Do not edit this

[2021-07-13 16:33] AnuragSharma-MSFT commented on #78045
@langstonj Thanks for your patience. We have received the response from the team. As per then, , an existing database can have tables created in them that are ledger-enabled (Database ledger does not need to be enabled).  To do this, the LEDGER = ON argument needs to be specified in the CREATE TABLE TSQL.

For more details, please refer to below articles:

[Create and use updatable ledger tables -

[2021-07-13 16:35] #78267 closed

[2021-07-13 16:43] jwaltireland commented on #78290
Ok.  Do they do anything if they were to be assigned?  I've worked w/policy defs/initiatives in the past, and i'm just a little confused by the rules.

[2021-07-13 16:44] psmanhas commented on #78207
@inknochen Thank you for your patience over the matter!!!

I had discussion internally and below are the findings:

With the scheduler in the automation account you can set a few things, but not the granularity that Logic apps offers.
IE:
In the scheduler you can set to run every week, but only select the days, so it will run once every day

![image](https://user-images.githubusercontent.com/35990

[2021-07-13 16:44] SatishBoddu-MSFT commented on #78066
hello @simonfrindberg
Just an update, we are looking into this issue.

[2021-07-13 16:46] DCtheGeek commented on #78290
They are part of the Regulatory Compliance initiatives to give a complete picture of compliance as it relates to that standard. If you assigned one yourself outside those initiatives, it'd still show the result of the third-party audits.  But it's not something you can change, it's just informative in understand the compliance state.

[2021-07-13 16:48] VikasPullagura-MSFT commented on #78291
@kennethgp

Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-07-13 16:48] VikasPullagura-MSFT commented on #78291
@mlearned @zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2021-07-13 16:51] VikasPullagura-MSFT commented on #78287
@CHDAFNI-MSFT
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-07-13 16:51] VikasPullagura-MSFT commented on #78287
@MashaMSFT
Can you please check and add your comments on this doc update request as applicable.

[2021-07-13 16:56] JamesTran-MSFT commented on #78294
@ajoga
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-13 16:56] inknochen commented on #78207
It does! And I believe you should include that explanation to the doc. It's
confusing otherwise
Thanks!

Ilan

On Tue, Jul 13, 2021 at 9:44 AM PreetiManhas-MSFT ***@***.***>
wrote:

--
--
Ilan N. Knochen
MCSE

[2021-07-13 17:00] david-tap opened #78295 "Enabling the App Insights Extension causes the application to fail"
I followed this article to enable Application Insights for several VMs. The monitoring worked, but the application broke. Once the extension was added, I could no longer login to the app. When attempting to login I got the error: "Type System.Runtime.Remoting.ObjRef and the types derived from it (such as System.Runtime.Remoting.ObjRef) are not permitted to be deserialized at this security level."

[2021-07-13 17:00] GitaraniSharma-MSFT commented on #78170
@stevesmoot , there is no particular step post deletion of Public IP on Azure portal that would do a cleanup. The only requirement is that the public IP object shouldn't be associated to any IP configuration or virtual machine network interface.
But sometimes, it may happen that the IP resource is still being referenced by another resource in the backend due to any internal error and this would ca

[2021-07-13 17:00] #78170 closed

[2021-07-13 17:00] JimmyArchitect opened #78296 "Is it worth mentioning with an asterix that for Azure Integrated Runtime you cannot use a fixed IP when utilizing Azure Managed Virtual Network?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75e9f1c2-d0ad-e1f5-bc41-f9a77ed0c1f1
* Version Independent ID: 9a9c68e2-67bb-3279-1ec3-44557780a889
* Content: [Data access strategies - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/data-access-strategies)
* Content Source:

[2021-07-13 17:05] robertfletcher-cds opened #78297 "PATCH appRoles failing with BadRequest!"
I am trying to add an App role to my app. I already some app roles associated to this resource which I added via the app registration on the portal. Below is a sample of my request body, yet I keep getting a bad request error  "One or more properties on the service principal does not match the application object."

is this the correct json structure for this request? and if so why would I get this

[2021-07-13 17:08] jwaltireland commented on #78290
ah.  so the NIST policy initative contains these MS managed policies.

Got it. thanks

[2021-07-13 17:11] PatrickFarley commented on #77922
Hi @mirsaeedi , would you mind telling me how you found this help page for Python? I want to know its context so I can duplicate it in other languages

[2021-07-13 17:23] JamesTran-MSFT commented on #78163
@dave22000
Thank you for the follow up on this! Since I created an internal work item for this potential bug, for our engineering team, I went ahead and closed out this issue. I'll continue to monitor this thread and will provide any updates from their end as needed.

However, if you're still seeing the deleted user not permanently deleted, and they're past their Permanent deletion date, I'd recom

[2021-07-13 17:23] ChrisAtMAF opened #78298 "Microsoft-AadApplicationProxy-Connector Event ID 13019 / 12027 'No credentials are available in the security package (0x8009030e)'"
I experienced a problem with the Azure AD Application Proxy where I was getting Event ID 13019 / 12027 with Microsoft-AadApplicationProxy-Connector and the error message 'Error: No credentials are available in the security package (0x8009030e)' as shown in the screenshots under 'Delegation service'

It turned out that our Kerberos Key Distribution Center Service Account 'krbtgt' user had the setti

[2021-07-13 17:24] whhender commented on #77838
Thank you for the feedback @tifischer ! I am updating this information and you should see it reflected in the public documentation soon.

[2021-07-13 17:28] saadatahmed opened #78299 "Network connectivity"
[Enter feedback here]

Network connectivity for configuration server only documents Ports 443 and 9443. It would be very helpful if direction is also documented. This is mandatory information when configuring on-prem firewalls to allow ASR traffic internally (between  servers replicated and configuration server,  and externally to ASR).

Example:

Between Source machines being replicated and Confi

[2021-07-13 17:28] KranthiPakala-MSFT commented on #78272
Hi @saurabh-teck
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-07-13 17:30] KranthiPakala-MSFT commented on #78293
@islamtg
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-07-13 17:31] KranthiPakala-MSFT commented on #78296
@JimmyArchitect
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-07-13 17:33] mirsaeedi commented on #77922
Hi @PatrickFarley, I found the page on Bing while searching for it. The keywords were something along these lines: "azure computer vision sdk retry".

[2021-07-13 17:34] psmanhas commented on #78207
@inknochen Sure I will share the same with Content Author as well so that they can include it in documentation.
We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

Thanks

[2021-07-13 17:34] #78207 closed

[2021-07-13 17:35] MSEvanhi commented on #64994
Correct, what you're asking for is not possible.

[2021-07-13 17:56] JamesTran-MSFT commented on #78298
@ChrisAtMAF
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-13 18:06] JamesTran-MSFT commented on #78145
@TaekeK
Thank you for the quick follow up on this! I've reached out to our engineering team for additional inputs, and will update as soon as possible.

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2021-07-13 18:07] JamesTran-MSFT commented on #78238
@scott1138
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-13 18:09] JamesTran-MSFT commented on #78263
@anwarmahmood1
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-13 18:13] HarshitaSingh-MSFT commented on #78283
@QuiteNewbieButImproving, can you explain a bit more about the ask please?

[2021-07-13 18:17] ReedRobison opened #78300 "Document needs to include TLS config options via the Portal"
Documentation covering options to configure minimum TLS version info needs to be updated to show the options in the portal.  Docs cover Powershell and CLI but don't mention the options in the portal (e.g. - under Firewall settings).  The Azure Connectivity settings article is out of date and doesn't show these settings at all.

https://docs.microsoft.com/en-us/azure/azure-sql/database/connectivity

[2021-07-13 18:34] bmedlin commented on #78137
@ChaitanyaNaykodi-MSFT - I tested this and it doesn't quite work. With this configuration KUDO does not work.

[2021-07-13 18:38] davidmrdavid commented on #77186
This bug is being fixed in this PR: https://github.com/Azure/azure-functions-durable-python/pull/307

Shortly after this bug is **merged**, I'll release a new version of the SDK so the docs won't need to be patched

[2021-07-13 18:39] KranthiPakala-MSFT commented on #78272
Hi @saurabh-teck  - Could you please confirm if you are following the exact steps mentioned in the tutorial and facing this issue? or is this an issue with your own/custom application/code?

[2021-07-13 18:46] v-alvt opened #78301 "Buyer's Guide link dead"
Link to buyer's guide [https://aka.ms/MarketplaceBuyerGuide] is dead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90b68496-8317-4fa5-ac64-2c332fe2aa8b
* Version Independent ID: 08853ce1-8448-f09c-4236-5dfc3e2ff3bb
* Content: [Microsoft commercial marketplace publisher FAQ](https://docs.microsoft.com/en-us/azure/mark

[2021-07-13 19:00] MarileeTurscak-MSFT commented on #78270
Thank you! I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/165392

[2021-07-13 19:00] #78270 closed

[2021-07-13 19:11] Justinha commented on #73091
#please-close

[2021-07-13 19:11] #73091 closed

[2021-07-13 19:16] rboucher commented on #77924
@harelbr Can you please answer the question?

[2021-07-13 19:31] langstonj commented on #78045
Thank you for the update.

The documentation for CREATE TABLE seems to be in the same place as CREATE DATABASE.

Looking at the ALTER TABLE documentation, SYSTEM_VERSIONING = ON is present but no LEDGER = ON option is available.  Might be a case of finding how to "bend" the new offering to meet our needs.

I realize that this only available in the West Central US at this time (I would be deploying

[2021-07-13 19:34] ChaitanyaNaykodi-MSFT commented on #78068
Hello @Restry, apologies for the delayed response here. The scenarios mentioned in the documentation describe about connectivity disruption to Azure and I think you will still require a working internet connection for the self hosted gateway to work.  After a quick glance at the issue faced looks like the container was unable to resolve the [custom domain name](https://docs.microsoft.com/en-us/azu

[2021-07-13 19:34] #78068 closed

[2021-07-13 19:41] BhargaviAnnadevara-MSFT commented on #78116
@guangying94 We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-07-13 19:41] #78116 closed

[2021-07-13 19:45] AjayKumar-MSFT commented on #77973
@epomatti, Apologies for the delay!  I wish to engage with you offline for a much closer look and provide a quick and specialized assistance, please send an email with subject line “Attn:Ajay” to AzCommunity[at]Microsoft[dot]com referencing this thread and your Azure subscription ID, I will follow-up with you.  We will now close this issue in GitHub as we will be discussing offline.
Note: Please d

[2021-07-13 19:45] #77973 closed

[2021-07-13 19:48] Oury-MSFT commented on #78288
@leescottt  Thanks for your feedback. We are reviewing the feedback and will update the documents appropriate.

[2021-07-13 19:59] KranthiPakala-MSFT commented on #78271
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-07-13 20:00] KranthiPakala-MSFT commented on #78274
@JustinGrote
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-07-13 20:00] KranthiPakala-MSFT commented on #78277
@mikemowgli
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-07-13 20:04] KranthiPakala-MSFT commented on #78278
@jeremypope-valpak Thanks for the feedback. To better assist your query, could you please share the document link which you are currently following so that we can involve the appropriate team? If your feedback is generic and not specific to a document, I would recommend you to please post your query in [Microsoft Q&A](https://docs.microsoft.com/answers/products/azure?product=all) forum, where we h

[2021-07-13 20:05] KranthiPakala-MSFT commented on #78279
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-07-13 20:06] KranthiPakala-MSFT commented on #78281
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-07-13 20:07] KranthiPakala-MSFT commented on #78284
@Swenzzon -
Thanks for reaching out. To better assist your query, could you please share the document link which you are currently following so that we can involve the appropriate team? If your question is generic and not specific to a document, I would recommend you to please post your query in [Microsoft Q&A](https://docs.microsoft.com/answers/products/azure?product=all) forum, where we have our

[2021-07-13 20:09] KranthiPakala-MSFT commented on #78285
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-07-13 20:10] KranthiPakala-MSFT commented on #78295
@david-tap -
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-07-13 20:11] KranthiPakala-MSFT commented on #78297
@robertfletcher-cds
Thanks for reaching out. To better assist your query, could you please share the document link which you are currently following so that we can involve the appropriate team? If your question is generic and not specific to a document, I would recommend you to please post your query in [Microsoft Q&A](https://docs.microsoft.com/answers/products/azure?product=all) forum, where we

[2021-07-13 20:12] KranthiPakala-MSFT commented on #78299
@saadatahmed
Thank you for feedback. At this time we are reviewing the ask and will provide an update as appropriate

[2021-07-13 20:13] KranthiPakala-MSFT commented on #78300
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-07-13 20:13] carolinetempleton commented on #78053
Hi @pwmusic - I'm sorry that you are experiencing such drastic activation delays.  We are aware that this is a huge frustration and we are working to improve these delays with specific services.  Could you share while roles and portals you are experiencing these delays?

[2021-07-13 20:13] KranthiPakala-MSFT commented on #78301
@v-alvt
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-07-13 20:21] MartinJaffer-MSFT commented on #78296
Thank you for your feedback. This has been assigned to the content owner, @lrtoyou1223 , and will be updated as appropriate.

[2021-07-13 20:44] nibaccam commented on #76604
@lindacmsheard thank you for your suggestion. The product team has confirmed the docs should be updated to recommend this scenario. I've created a work item internally to get this updated. Thanks again for the suggestion.

We will now proceed to close this thread.  If you have further questions regarding this, please feel free to re-open this issue.

#please-close

[2021-07-13 20:44] #76604 closed

[2021-07-13 20:48] ealsur commented on #78247
@AnuragSharma-MSFT What is this request exactly? Doc authoring is not related to localization, author has nothing to do here.

[2021-07-13 20:48] ealsur commented on #78247
@SnehaGunda Do you know who takes care of localization of docs?

[2021-07-13 20:54] SnehaGunda commented on #78247
@AnuragSharma-MSFT I don't understand what the problem is, will this be translated?

[2021-07-13 21:05] msrsrinivasan commented on #77641
Acknowledging the issue. Working on a fix.
Here is the work item to track : https://msdata.visualstudio.com/Time%20Series%20Insights/_workitems/edit/1269186

[2021-07-13 21:09] RobertDBourne opened #78302 "Maximum records we can download from the portal?"
This page tells me that I can only download 5000 records from the activity logs.
"You can download up to 5000 records from the Azure portal. The records are sorted by most recent and by default, you get the most recent 5000 records."

Another MSFT document tells me I can download 250,000 records.
"When you download activity logs in the Azure portal, we limit the scale to 250000 records, sorted by

[2021-07-13 21:15] MarileeTurscak-MSFT commented on #78302
@RobertDBourne
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-13 21:19] MarileeTurscak-MSFT commented on #78302
Every other guide says 250,000 records, and I remember this as being the standard for a long time so it looks like the FAQ needs an update. I made a pull request to revise this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/165428

@MarkusVi please confirm if anything has changed. I'll await your response before merging the PR.

Other guides that cite the 250000 limit:

https://docs.microsof

[2021-07-13 21:19] #78302 closed

[2021-07-13 21:19] AndrewBlumhardt opened #78303 "Might consider documenting how to use the results"
Customers and support folks might easily assume that these rules generate alerts. They are presented as analytic rules among other rule types with a primary purpose of generating alerts. Also the whole flighting\production tuning topic suggests alert monitoring. That seems like unnecessary overhead for log data...who tunes log data?  I recommend updating the documentation to clearly state there ar

[2021-07-13 21:20] cynthn commented on #78120
#reassign @kof-f

[2021-07-13 21:22] #77425 closed

[2021-07-13 21:23] ecfan commented on #77425
@lunar87, @laveeshb: This update should go live after 4 PM Pacific Time, thanks!

[2021-07-13 21:29] cynthn commented on #78233
@hxing752 As of now, the portal will only let you choose from a list of images. The portal creates the list from the available marketplace images as well as any galleries in the subscription. Unfortunately, there is currrently no way to list all of the images that are shared with you across tenants.

You can create a VM across tenants with CLI or [PowerShell](https://docs.microsoft.com/en-us/azure

[2021-07-13 21:32] kelsosharp opened #78304 "Not enough information for configuring the downstream"
In this document, there is no mention of what the "BetaGraph" is, or what actually contains, and the service name "myApi" does little to explain if this name actually matters or if its just an arbitrary name or what it is used for? Please provide an example or information on what these sections are actually suppose to contain, and where to find the information to put in them.

Thanks!

---
#### Do

[2021-07-13 21:33] VWACBrick opened #78305 "Is the APIM backup encrypted?"
Is the data being backed up from APIM encrypted the same way other Azure Backups are indicated in this Azure document?

[Encryption in Azure Backup](https://docs.microsoft.com/en-us/azure/backup/backup-encryption)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34eef662-c35f-230b-de28-0dcee463d8bc
* Version Independent

[2021-07-13 21:35] jeremypope-valpak commented on #78278
HI, I am following https://docs.microsoft.com/en-us/cli/azure/network/vnet-gateway/vpn-client?view=azure-cli-latest#az_network_vnet_gateway_vpn_client_show_health and from the Global Parameters section, the --query option and the documentation at http://jmespath.org/

[2021-07-13 21:37] kelsosharp commented on #78304
Also, it would be helpful to know how these values relate to the app registration in Azure AD

[2021-07-13 21:48] DreadfullyDespized opened #78306 "DCOM Error Server Manager with WS2016 SQL2017 FCI."
When looking to create a FCI on Azure with Windows Server 2016 and SQL Server 2017.  You are unable to use Distributed Network Name (DNN), instead you are able to use (Virtual Network Name) VNN which causes issues resolving the Cluster Named Object and the Virtual Name Object with how Azure Networking works.

The issue that is experienced is that the Passive Node will be unable to resolve the CNO

[2021-07-13 21:50] DreadfullyDespized commented on #78306
If this could be also applied to the documentation on this link that would be appreciated.  If not I could submit an issue related to it as well if needed.

https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/hadr-windows-server-failover-cluster-overview

[2021-07-13 21:50] GiftA-MSFT commented on #78241
@aldelar thanks for your feedback but I had no issues with the code.

[2021-07-13 21:55] #77898 closed

[2021-07-13 21:58] Karishma-Tiwari-MSFT commented on #78014
Apologies for the delay.
upstream in coredns configuration is deprecated and generates error in 1.18.7 coredns versions in AKS.

There is another [issue](https://github.com/MicrosoftDocs/azure-docs/issues/76861) reporting the same and the doc author is working on the related task to update the document.
CC: @zr-msft

Thanks for bringing this to our attention. We will now close this issue. If there

[2021-07-13 21:58] #78014 closed

[2021-07-13 21:59] JamesTran-MSFT commented on #78303
@AndrewBlumhardt
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-13 21:59] aldelar commented on #78241
Interesting, it may be related to an SDK version then maybe, my customer is telling me it doesn't work with a file handle, the data needs to be read. I'll have to double check.

[2021-07-13 22:03] JamesTran-MSFT commented on #78304
@kelsosharp
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-13 22:10] bandersmsft commented on #78274
@JustinGrote Thanks for your suggestion. We'll update the article to add Bicep example information as you requested, tho I'm not sure when it will get completed.

#please-close

[2021-07-13 22:10] #78274 closed

[2021-07-13 22:13] Karishma-Tiwari-MSFT commented on #78139
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-13 22:16] KranthiPakala-MSFT commented on #78278
@GitaraniSharma-MSFT - Could you please review the above feedback and do the needful. Thank you

[2021-07-13 22:17] MicrosoftGuyJFlo commented on #78194
Following up with the Product Group. The information I have that the doc was based on says "Security Defaults should be applied for all users and all apps."

[2021-07-13 22:27] MicrosoftGuyJFlo commented on #78194
Pending response from developer who wrote the code but is on vacation till next week.

[2021-07-13 22:29] bandersmsft commented on #78280
@jonstelly Hi Jon, I'm looking into this issue with the Billing team program managers. I'll reply back here when I have details to share.

[2021-07-13 22:39] Karishma-Tiwari-MSFT commented on #78306
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-13 22:45] ravisyamala opened #78308 "Secure Transfer Disable Not Possible"
Cannot disable secure transfer as shown here due to built-in policy blocking it. What's recommended the workaround?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ae2dd9b-a650-4399-4278-75787a6984d7
* Version Independent ID: 7aea5118-7d89-9c5c-b35c-2a7d296f4791
* Content: [Mount an Azure NFS file share (preview) - Azu

[2021-07-13 22:47] msfcolombo opened #78309 "Index tags: order of returned blob items"
It is not clear what is the order of returned items. Either this document, or the [Find Blobs by Tags](https://docs.microsoft.com/en-us/rest/api/storageservices/find-blobs-by-tags) document should be more explicit about the order of returned items.

Suppose we make tests and notice that **Find Blobs by Tags** returns items in tag order, or by blob name order. Without any documentation, should we t

[2021-07-13 22:47] tomcam commented on #78090
Well... why not include that link in the article? Are you going to make every noob like me figure this out when it could be served right up to them using that ol' web standby, the "hyperlink", that all the kids are talking about these days?

[2021-07-13 23:00] RyanHill-MSFT commented on #72957
I understand @zhenyar and really apologize for the delayed response. If you do happen to recall the error or any specifics, please do add.

[2021-07-13 23:17] KranthiPakala-MSFT commented on #78305
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-07-13 23:19] tamram commented on #75391
@thiruma0203 - I've checked with the storage engineering team on this. Although some regions may support moving from ZRS to GZRS/RA-GZRS in the portal, not all regions do currently. Therefore, our recommendation for the time being is that customers need to reach out to support to perform the live migration. Support may then recommend that they try the live migration themselves.

#please-close

[2021-07-13 23:19] #75391 closed

[2021-07-13 23:20] KranthiPakala-MSFT commented on #78308
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-07-13 23:21] KranthiPakala-MSFT commented on #78309
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-07-13 23:33] gugovind commented on #78282
Thanks all, we have made changes to the 'Turn off multicast name resolution' is set to 'Enabled' with the registry value set to '0'. The changes will appear as soon as the merge gets completed.

[2021-07-13 23:42] bbunderson opened #78311 "Diagrams and Tables Incorrectly Show Public Addresses"
The Diagram 1 and the NAT rules table under Part2 show addresses of 100.0.x.0/24 when they should only show 10.0.x.0/24. The rest of the document is correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1130e194-0e0f-d7e9-1f5f-2101a173f9ff
* Version Independent ID: 1f8e045c-4c83-f414-08aa-d68352e6abec
* Content: [Con

[2021-07-13 23:49] bnookala opened #78312 "AKS Kubelet Custom Configuration is missing configurable parameters"
[This document](https://docs.microsoft.com/en-us/azure/aks/custom-node-configuration#kubelet-custom-configuration) describes how to configure a Kubelet with custom configuration, but there are some missing configurations as described by the [ARM template configuration](https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/managedclusters?tabs=json#template-format).

Specifica

[2021-07-14 00:15] SnehaGunda commented on #78288
@leescottt The binary was removed for some reason. We are figuring out the options to republish a new pre-compiled binary to a new location. In the meantime, you can locally compile it. I removed the doc link until we have a new location.

[2021-07-14 00:16] SnehaGunda commented on #78201
@chshihMSFT The binary was removed for some reason. We are figuring out the options to republish a new pre-compiled binary to a new location. In the meantime, you can locally compile it. I removed the doc link until we have a new location.

[2021-07-14 00:16] SnehaGunda commented on #78148
@ajhanson The binary was removed for some reason. We are figuring out the options to republish a new pre-compiled binary to a new location. In the meantime, you can locally compile it. I removed the doc link until we have a new location.

[2021-07-14 00:23] Oury-MSFT commented on #78300
@rohitnayakmsft Please see customer feedback. Do we need to raise a PR to update the doc.? Thanks

[2021-07-14 00:26] SatishBoddu-MSFT commented on #78311
Hello @bbunderson
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-07-14 00:27] SatishBoddu-MSFT commented on #78312
Hello @bnookala
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-07-14 01:00] bmedlin opened #78314 "IP whitelist for queries?"
Hi - I would like to restrict the ability to query log data to a limited set of public IP addresses. Is this possible? The documentation suggests that either queries are open to the entire internet or restricted only to my VNET. Thanks,

Brian

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 867ebb3d-7036-104c-a2e0-3c8fd

[2021-07-14 01:04] SumanthMarigowda commented on #78017
@ javester Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your

[2021-07-14 01:04] #78017 closed

[2021-07-14 01:06] SumanthMarigowda commented on #78271
@Robin-Wardle
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-14 01:08] SumanthMarigowda commented on #78308
@ravisyamala I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

While creating the thre

[2021-07-14 01:08] #78308 closed

[2021-07-14 01:20] KrishnaG-MSFT commented on #78314
@bmedlin Thanks for your comment! We will review and provide an update as appropriate.

[2021-07-14 01:34] SnehaGunda commented on #78148
#please-close

[2021-07-14 01:34] #78148 closed

[2021-07-14 01:35] SnehaGunda commented on #78201
#please-close

[2021-07-14 01:35] #78201 closed

[2021-07-14 01:35] SnehaGunda commented on #78288
#please-close