[2020-01-27 02:54] MohitVerma-MSFT commented on #46837
Hello @dotnetgator ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-27 02:55] MohitVerma-MSFT commented on #46839
Hello @bhatir ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-27 02:56] MohitVerma-MSFT commented on #46768
Hello @lovingld ,

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-01-27 02:57] MohitVerma-MSFT commented on #46702
Hello @KevinBollengier ,

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-01-27 02:57] #46702 closed

[2020-01-27 02:57] #46768 closed

[2020-01-27 02:58] MohitVerma-MSFT commented on #46841
Hello @SamKilkens ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-27 03:02] dotnetgator opened #46849 "IssuanceClaimPattern attribute is incorrectly listed as "required""
It is easy enough to check - uploading a policy with a JWT token issuer that omits this value works fine. In fact, it is not included in any of the "Starter Pack" policy files at https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack. AuthorityAndTenantGuid appears to be the default value, and should be called out as such in the documentation.

---
#### Document Details

⚠

[2020-01-27 03:06] dotnetgator opened #46850 "Starter Pack policy files include a ClientId Metadata value that is not documented here"
Hard to be sure if the Starter Pack policies are wrong, or if there is an omission in the doc (although at first glance, omitting the client ID value seems to work.) See the TrustFrameworkBase files for each of the policy types that users are instructed to download from https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack. Note that in the JwtIssuer Technical Profile for

[2020-01-27 03:10] Ayanmullick opened #46851 "PowerShell documentation request"
Is there Microsoft documentation on PowerShell cmdlets to create Azure Service Health alerts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4361b185-8181-891f-bf59-7365aa84427c
* Version Independent ID: 083d5ddb-5d02-34bc-246a-ac23c6a8e4f6
* Content: [Receive activity log alerts on Azure service notifications - Azure

[2020-01-27 03:31] MarileeTurscak-MSFT commented on #46622
@peterwake thank you for this feedback! I created a backlog feedback item for the product team to address, but if you would like more immediate feedback, the best channel to post this in is in User Voice. If you create a request and share the link with me I'll be sure to elevate it.

[2020-01-27 03:31] #46622 closed

[2020-01-27 03:39] doragui opened #46852 "Configure Azure Load Balancer To configure Azure Load Balancer, we recommend that you use the Azure Standard Load Balancer SKU and then"
When you are directing traffic from cluster nodes to virtual host name of LB, got a connection time out error.  the same works if you reach the backend VMs directly(bypassing the LB) or if they disable Floating IP on the LB rules

Since the setup was using Standadrd internal LB, which by design doesn’t have a internet connectivity.
The corosync was using udp protocol for communication.

Resolution

[2020-01-27 03:41] GiftA-MSFT commented on #46695
@ECocca this information is not available at this time. I suggest you submit a feature request (language support) on the [feedback forum](https://cognitive.uservoice.com/forums/551524-language-understanding-luis?category_id=179836) so you and others can vote (as well as to track updates on the feature request). Also, please check out [Azure Updates](https://azure.microsoft.com/en-us/updates/?categ

[2020-01-27 03:41] #46695 closed

[2020-01-27 03:42] KalyanChanumolu-MSFT commented on #46690
@vinothrao Its been a while we heard from you.
We will proceed to close this issue now.
Please post this issue on [StackOverflow](https://stackoverflow.com/questions/tagged/azure-sql-database?tab=Newest) or [MSDN](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=ssdsgetstarted) for better visibility

[2020-01-27 03:42] #46690 closed

[2020-01-27 03:49] donniekerr commented on #11101
Any update on this?

[2020-01-27 03:56] neeleshray-msft commented on #46848
@tmmueller Thanks for reaching out. We will review and update as appropriate.

[2020-01-27 03:57] neeleshray-msft commented on #46844
@9songs Thanks for reaching out. We will review and update as appropriate.

[2020-01-27 03:58] neeleshray-msft commented on #46851
@Ayanmullick Thanks for reaching out. We will review and update as appropriate.

[2020-01-27 04:00] neeleshray-msft commented on #46842
@EddyHaigh Thanks for reaching out. We will review and update as appropriate.

[2020-01-27 04:01] shashishailaj commented on #46843
@dotnetgator Thank you for your feedback . We will investigate and update this thread further.

[2020-01-27 04:01] neeleshray-msft commented on #46504
@boachim  We would be closing this thread now.
Let us know if you need any further assistance by re-opening the issue

[2020-01-27 04:01] #46504 closed

[2020-01-27 04:02] neeleshray-msft commented on #46773
@Dokoh We would be closing this thread now.
Let us know if you need any further assistance by re-opening the issue

[2020-01-27 04:03] #46773 closed

[2020-01-27 04:20] ram-msft commented on #46679
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-27 04:20] #46679 closed

[2020-01-27 04:24] shashishailaj commented on #46850
@dotnetgator Thank you for your feedback. We will have this reviewed and update you on this thread.

[2020-01-27 04:34] shashishailaj commented on #46849
@dotnetgator Thank you for your feedback . We will investigate and update this thread further.

[2020-01-27 04:36] CHEEKATLAPRADEEP-MSFT commented on #46725
@Russellmd  I’m working with the product team and get back to you when I have more information.
Meanwhile, you can click on "Provide azure function settings manually" and again click on "Select azure function from your subscriptions" to enable Save button.

![image](https://user-images.githubusercontent.com/44426401/73150486-938a5f00-40ec-11ea-8e12-402fabcfa56a.png)

Hope this helps.

[2020-01-27 04:36] ketan-chawda-msft commented on #46521
@jithudevineni Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-27 04:36] #46521 closed

[2020-01-27 04:37] SwathiDhanwada-MSFT commented on #46448
We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-01-27 04:37] #46448 closed

[2020-01-27 04:37] shashishailaj commented on #46846
@dotnetgator Thank you for your feedback . We will investigate and update the thread further.

[2020-01-27 04:37] SwathiDhanwada-MSFT commented on #46027
We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-01-27 04:37] #46027 closed

[2020-01-27 04:38] souravmishra-msft commented on #46442
Closing the thread

[2020-01-27 04:38] #46442 closed

[2020-01-27 04:38] PramodValavala-MSFT commented on #46449
@nafisIslam I've checked with the team and turns out this is expected. The `ScheduleStatus` object here is used to monitor (by the function host) the last occurrence and computing the next occurrence.

When the function is invoked, the [current schedule](https://github.com/Azure/azure-webjobs-sdk-extensions/blob/c709d7aa6df36e07e56100f63dc4d16471558cd6/src/WebJobs.Extensions/Extensions/Timers/List

[2020-01-27 04:40] souravmishra-msft commented on #46587
@martincoetzer  can you share some more insights on this please.

[2020-01-27 04:44] shashishailaj commented on #46592
@truekonrads Hope you are doing great. I just wanted to check if you have any update on this from your side as we have not received any response from your side or any email . Have you ben able to resolve this ? Please let us know  In case you still have this issue , please do email and I will surely help you get this resolved.

Thank you.

[2020-01-27 04:50] shashishailaj commented on #46608
@memildin Could you please review this issue and see if the Severity details of the alerts can be added to the current list of alerts in the document just like we see in the following screenshot ?

![image](https://user-images.githubusercontent.com/532022/73150881-a00fb700-40ee-11ea-9c59-c1c734aa4ba5.png)

[2020-01-27 04:54] souravmishra-msft commented on #46827
@manknewl, Ideally it should be [https://contoso-vault2.vault.azure.net/secrets/ExamplePassword](url) as https://contoso-vault2.vault.azure.net is the DNS name for that respective vault.
Thank you for point this out, I am working on correcting the document.

[2020-01-27 04:55] AshokPeddakotla-MSFT commented on #43477
@KingdomOfEnds Thanks for an update.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-27 04:55] #43477 closed

[2020-01-27 05:09] msrini-MSFT commented on #46672
@jorgemrsantos , Please tag me if you have any further questions.

[2020-01-27 05:09] #46672 closed

[2020-01-27 05:09] msrini-MSFT commented on #46731
@taromielnaz , Please tag me if you have any further questions.

[2020-01-27 05:09] #46731 closed

[2020-01-27 05:12] msrini-MSFT commented on #46752
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/102354

[2020-01-27 05:15] RohitMungi-MSFT commented on #46833
@Shelabd Here are couple of points to check before you add the endpoint details.
1. Are you using version 2.0 resource of form recognizer?
2. Ensure to copy the URL from your Azure portal page of the resource.
3. Complete the connection setting for the storage account before creating the project.

Following the steps in the document created a project successfully when I tried to replicate the scen

[2020-01-27 05:16] martincoetzer commented on #46587
We are discussing a generic way for developers to use inbound provisioning, but don't have any details to share at this stage.

[2020-01-27 05:17] martincoetzer commented on #46587
You should formally submit your requirement in Uservoice: https://feedback.azure.com/forums/169401-azure-active-directory

[2020-01-27 05:21] msrini-MSFT commented on #46796
@deeksha-microsoft , The existing flow will still be forwarded to the backend and there will be no downtime.

[2020-01-27 05:21] #46796 closed

[2020-01-27 05:22] #46752 closed

[2020-01-27 05:29] msrini-MSFT commented on #46832
@aelij , we have it in our roadmap and no ETA on this ask yet.

[2020-01-27 05:29] #46832 closed

[2020-01-27 05:30] neeleshray-msft commented on #46790
@dombat  As of today, Azure Active Directory Risk Detection does not cover Azure B2C, also since Azure B2C is meant for Non-Corporate Users.
The closest you can get to is the **[Azure Active Directory sign-in activity report](https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/reference-sign-ins-error-codes)**.

You could submit your ideas, feedback or requirements on the **

[2020-01-27 05:30] #46790 closed

[2020-01-27 05:30] msrini-MSFT commented on #46784
@YvonneArnoldus , Thank you for providing the resolution to the issue that you experienced.

[2020-01-27 05:30] #46784 closed

[2020-01-27 05:40] neeleshray-msft commented on #46844
@9songs
The same Powershell cmdlet has already been mentioned in the same **[section](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-syncservice-features#synchronize-userprincipalname-updates)** of the document you are referring to.

![Update UPN](https://user-images.githubusercontent.com/52521788/73152234-23340b80-40f5-11ea-8ff4-6883d902d8ce.JPG)

Let us know if you

[2020-01-27 05:56] souravmishra-msft commented on #46582
@majorwitteman, I apologize for the delay in my response. The **Authenticator app** is the one that is needed when a user enrolls for the first time to **Azure MFA** after **Security Default** is enabled. The **Azure MFA registration** once **Security default** is enabled can happen only through the **Authenticator app** and no other options would work. But once the user is enrolled into **Azure M

[2020-01-27 05:57] #46827 closed

[2020-01-27 06:00] ram-msft commented on #46606
Raised a PR #https://github.com/MicrosoftDocs/azure-docs-pr/pull/102355 for the changes.

[2020-01-27 06:01] liudr commented on #43454
I'm using an IoT device so there isn't a visual studio for it. I've got it to work. It's rather complicated. I wish the port on my IoT device has convenient functions to do this but there isn't. Not everything is ported.

[2020-01-27 06:01] #43454 closed

[2020-01-27 06:07] souravmishra-msft commented on #46487
@msmbaldwin, It would be great if you can take a look at this and update the doc accordingly.

[2020-01-27 06:19] jakaruna-MSFT commented on #46771
@juanjojulian Thanks for the feedback.
Api version is wrong in that document. I will change it.

This [document ](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service#service-availability) list all the available versions for the metadata service

[2020-01-27 06:33] KrishnaG-MSFT commented on #46604
@bwren @yanivlavi @ofirmanor Looks like there is no such in-detail documentation steps about this preview feature of multi-resource compatible scope. Any insights or updates on this ?

[2020-01-27 06:34] amanmcse commented on #46837
This parameter is used when you want to use application insight for log collection. Use Developer or Debugging mode when you are in development phase and want to perform extensive log collection. In production, we do not recommend the use of this property. Here is another solution that you should use in production: https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-cu

[2020-01-27 07:03] neeleshray-msft commented on #46842
@EddyHaigh Suggest you have a look at this documentation for **[Get started with ASP.NET Core Blazor](https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.1&tabs=visual-studio)**.
This should help you build the application with the ASP.NET Core for Azure.

Let us know if this helps.

[2020-01-27 07:16] MohitVerma-MSFT commented on #46798
Hi @rajrao ,

I have assigned the issue to Content-Author for further review.

[2020-01-27 07:21] neeleshray-msft commented on #46848
@tmmueller
Yes, the migration is supported completely in the Preview.
However, there are some of the things you should prepare for, like the Downtime to your resources which usually take about 1 to 3 hours during which the users, services, applications would not be able to authenticate and the Resource Manager Network being in the same Subscription, Region as the Classic network. You can find more

[2020-01-27 07:30] techiebuddhas opened #46855 "Restore as files option is not available in the powershell"
Can you please guide me, whether the restore as files option is available in POSH. Not able to find such option from the document.?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e507c4f5-e3f7-a7f8-780f-a1f359b59980
* Version Independent ID: d5b5b269-16f7-08be-3d4d-c480cff47751
* Content: [SQL DB in Azure VM backup & r

[2020-01-27 07:50] neeleshray-msft commented on #46851
@Ayanmullick
You may refer the following article to setup **[Azure Service Health Alerts programmatically](https://docs.microsoft.com/en-us/azure/service-health/resource-health-alert-arm-template-guide)** using PowerShell. Also, I would suggest you to check the following template **[here](https://azure.microsoft.com/en-in/resources/templates/monitor-servicehealth-alert/)**, which allows you to dep

[2020-01-27 07:54] msrini-MSFT commented on #46825
@Ayanmullick , Can you try using the below command to enable boot diagnostics?

https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/set-azurermvmbootdiagnostics?view=azurermps-6.13.0

For boot diagnostics you don't need to use sample diag config.

[2020-01-27 07:57] msrini-MSFT commented on #46755
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/102362

[2020-01-27 08:04] Russellmd commented on #46725
@CHEEKATLAPRADEEP-MSFT thanks, I know about this, but in this moment , after submit the form, I receive the errorsŞ

"The required property 'apiKey' is missing from the request."

"The JSON provided in the request body is invalid. Please provide the full output source in the request body or verify that the output source exists."

[2020-01-27 08:09] neeleshray-msft commented on #46740
@rialtus Thank you for pointing that out. We have updated the document and the change would reflect soon.
We would close this thread for now. If you need further help, do let us know.

[2020-01-27 08:09] #46755 closed

[2020-01-27 08:10] msrini-MSFT commented on #46786
@YvonneArnoldus , Thank you for posting the resolution here.

[2020-01-27 08:10] #46786 closed

[2020-01-27 08:11] SwathiDhanwada-MSFT commented on #46503
@grahambunce I would suggest you to check out [this](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/autoscale-understanding-settings#autoscale-evaluation) document which will help you understand how the auto scale evaluation works.

Hope this helps!

[2020-01-27 08:12] jakaruna-MSFT opened #46856 "remove old api versions (2017-03-01)"
The table under the section "Version and Region Availability" has old api versions in it.
Please update the table to have the new versions or remove the table and provide this  link https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service#metadata-apis

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-01-27 08:12] jakaruna-MSFT commented on #46856
#46771 related issue

[2020-01-27 08:13] jakaruna-MSFT commented on #46856
@ericrad please update the table as needed

[2020-01-27 08:15] jakaruna-MSFT commented on #46810
Generally contributor role is enough.

What role that service principal had when it failed to create the internal load balancer

[2020-01-27 08:35] flodan opened #46857 "False link to "Install production certificates on an IoT Edge device""
# Description

In the documentation on preparing an IoT Edge Solution for production, there seems to be a false link to a reference documentation. In the first part about *Device configuration - Install production certificates* (https://docs.microsoft.com/en-us/azure/iot-edge/production-checklist#install-production-certificates) the link for **Install production certificates on an IoT Edge device*

[2020-01-27 08:37] #46771 closed

[2020-01-27 08:37] tdefise commented on #46608
@shashishailaj @memildin that's exactly the kind of information we are looking for.

[2020-01-27 08:48] DixitArora-MSFT commented on #46675
@se7vanj Thanks for the feedback. As Self-hosted gateway feature is in preview and ask would be more of feature request. You can raise this in [User voice](https://feedback.azure.com/forums/248703-api-management) of API management and do upvote it to get more traction. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply.

[2020-01-27 08:48] #46675 closed

[2020-01-27 08:51] tdefise commented on #46614
@SaurabhSharma-MSFT Okay.
From what I understand, this Azure Network Layer "ATP" is enabled automatically, when the Standard Tier is enabled, thanks for clarifying on that.

I still have the following questions:
- For instance "Network traffic analysis", is it via the network extension to gather the WireData, is it trough the NSG Flow logs? Network Watcher's "Traffic Analytics" feature? or Microso

[2020-01-27 08:55] SumanthMarigowda-MSFT commented on #45633
@vavison Apologies for the delay in responding here
I would recommend for  more specialized assistance on this kindly contact Azure Billing/subscription  support, it's **free**, and it's the best choice for your scenario.
https://azure.microsoft.com/en-us/support/options/
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We

[2020-01-27 08:55] SumanthMarigowda-MSFT commented on #46541
@rawin1015 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-27 08:55] #46541 closed

[2020-01-27 09:06] SumanthMarigowda-MSFT commented on #46607
@tdefise  You may refer to Azure Monitor article which help you in your scenario and configure the alerts "Customize the alert option " https://docs.microsoft.com/en-us/azure/storage/common/storage-monitoring-diagnosing-troubleshooting I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the docum

[2020-01-27 09:06] #46607 closed

[2020-01-27 09:06] kankomi commented on #37624
@KranthiPakala-MSFT @ShubhaVijayasarathy Any update on this?

[2020-01-27 09:11] ketan-chawda-msft commented on #46719
@ashuthinks Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-27 09:11] #46719 closed

[2020-01-27 09:16] ketan-chawda-msft commented on #46830
@rajrao Take a look at [this comment.](https://github.com/Azure/azure-service-bus-dotnet/issues/556)

I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-27 09:20] ketan-chawda-msft commented on #46826
@ecfan Can you please share your thoughts here?

[2020-01-27 09:21] ketan-chawda-msft commented on #46429
@frehnejc Since there is no doc update required at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-27 09:21] #46429 closed

[2020-01-27 09:27] ketan-chawda-msft commented on #46776
@luthv [Here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue?tabs=csharp#host-json) is the documentation for the same.

The example host.json file below contains only the version 2.x+ settings for queue binding

[code]
Since there is no doc update required at the moment, we will now proceed to close this thread. If there are further questions regarding this

[2020-01-27 09:27] #46776 closed

[2020-01-27 09:41] mikaelsand opened #46858 "Is this really redundant?"
Looking at the architecture of how we setup events this description above is not really correct, or rather I think I would benefit from some clarification.
If you setup an eventgrid subscription, that subscription will automatically be failed over to the paired region, so far so good. _But_ what about the resource that produces the events? If I listen for new files in a storage, if that storage is

[2020-01-27 09:48] tdefise commented on #46607
@SumanthMarigowda-MSFT,
I'm not speaking about the custom alerts via Azure Monitor.
Within our customer, we deploy the Standard Tier for their Storage Accounts. We would like to know which emails they could receive from the Advanced Threat Protection.

For example, the screen below is not from a custom Azure Monitor alert rule
![image](https://user-images.githubusercontent.com/36169753/73163388-31

[2020-01-27 09:53] spmanjunath opened #46859 "Policy definition in 'Initiatives' is duplicated."
In 'https://docs.microsoft.com/en-us/azure/governance/policy/concepts/definition-structure#initiatives', the 'costCenter' and 'productName' is included twice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9762f1b7-0e3a-d58f-fd99-a27ad948907b
* Version Independent ID: 89e28332-184e-ba84-df1f-e7698c5e0f7c
* Content: [De

[2020-01-27 10:08] antonbsvard commented on #46512
Hi, I have the same issue. And I also got the error message from Storage Explorer:

Is there any update on this issue?

[2020-01-27 10:09] TechWatching opened #46861 "EventHubTrigger expected json format to directly trigger with an POST request"
What is the json format of an event hub trigger ?
AF documentation states  that we can directly call a non HTTP-based AF by doing a POST request on `http://localhost:{port}/admin/functions/{function_name}` with a message body
[code]
where

What is the expected format for an EventData ?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-01-27 10:10] mkyrath opened #46862 "Outdated code samples, do not work anymore."
Code samples on this page as well as master branch in https://github.com/Azure-Samples/azure-cosmos-db-python-getting-started do not match the azure-cosmos api anymore. CosmosClient constructor definition seems to have changed. The sample app on Github already has branches with working code but master is outdated. This documentation should be updated to reflect changes.

---
#### Document Details

[2020-01-27 10:33] NavaneethaDev opened #46863 "How to use "And" operator in filter condition - Azure Maps"
Could you explain on how to use "And" operator in filter conditions?
Example- I have "Any" operator which get status either "Aborted" or "Delayed", Now i need to include this should match only with location "London" field which requires and operator. The below condition does not work. looks i am doing in wrong. Thanks
['any', ['==', ['get', 'status'], 'Aborted'], ['==', ['get','status'], 'Delayed'

[2020-01-27 10:48] CHEEKATLAPRADEEP-MSFT commented on #46725
@Russellmd  We actively working with the product team to fix this issue. We will let you know once the issue is fixed.

[2020-01-27 10:48] ChiragMishra-MSFT commented on #46836
@irgnosis Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - [MSDN](https://social.msdn.microsoft.com/Forums/vstudio/en-US/home?forum=hdinsight) or [stack overflow](https://stackoverflow.com/questions/tagged/hdinsight+azure).

Once you post your issue on forums, it will have visibility across the community which is a better suited au

[2020-01-27 10:48] #46836 closed

[2020-01-27 11:14] mbanck opened #46864 "If known, mention when support for a particular major version ends, and what that means for users"
Postgres has a pretty consistent release-cycle, and the upstream support window for each major version is known (one point release after 5 years have passed since the major release).

However, from the Azure page, it is not immediately obvious when e.g. 9.5 support will cease (at the same time when upstream support ends, i.e. February 2021?). There is a paragraph about n-2 versions being supported

[2020-01-27 11:27] WoutVergauwen opened #46865 "Supported Authentication methods"
I'm missing information about which authentication methods can be used on the Win10 login screen. I might have missed it, but it would be interesting if that's mentioned in this doc?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2015c6c-60c7-bb74-469c-e9320301d08a
* Version Independent ID: 0ff19de6-c892-10ff-5fe8-f6a

[2020-01-27 11:32] AshokPeddakotla-MSFT commented on #37653
@JimacoMS3  Sure, thanks for an update.

[2020-01-27 11:38] Tinus-schwalyk opened #46866 "Azure ad b2c as external identity provider for salesforce community: After implementing the steps mentioned in the document still we are facing the issues. can any one help on this from microsoft side?"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 821b1380-1072-7ab4-b8d7-0fcb993d68be
* Version Independent ID: 93c75bbd-e3e3-67c2-3554-e88fde4e83b3
* Content: [Set up sign-in with a Salesforce SAML provider by using custom policies - Azure AD B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directo

[2020-01-27 11:39] Tinus-schwalyk commented on #46866
The user is present in the azure ad b2c and salesforce community profiles. But still its throwing an error as mentioned below.
![image](https://user-images.githubusercontent.com/60178612/73171897-b2432280-40f9-11ea-9544-4338792bdb2c.png)

[2020-01-27 11:40] AshokPeddakotla-MSFT commented on #40863
@JimacoMS3 Is there any update on the below issue? Can this issue be closed?

[2020-01-27 11:43] Tinus-schwalyk commented on #46866
Is this supported scenario or not? If its supported can anyone from microsoft update the documnet with the saleforce example?  You have given the documnetation for the facebook.

So many customers from salesforce are facing the same issue and they stopped using the Azure ad b2c which is drawback from microsoft  documentation which is not clearly given. Please tell honestly if it not supported and

[2020-01-27 11:45] AshokPeddakotla-MSFT commented on #43540
Thanks for an update, Jimaco.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-27 11:45] #43540 closed

[2020-01-27 11:51] AshokPeddakotla-MSFT commented on #44535
Thanks for the heads up, Jimaco,
@boreys I would recommend you to create a thread on the forum - [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-eventgrid) for further help on this issue.
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues. Please create a Forum thread and post it's link here

[2020-01-27 11:51] #44535 closed

[2020-01-27 12:06] fbuser1 commented on #42727
@MicahMcKittrick-MSFT Problem still exists! 👎

[2020-01-27 12:07] fbuser1 commented on #32213
@peterpogorski Problem still exists! 👎

[2020-01-27 12:17] algattik opened #46867 "Clarify sourceDirectory"
Please clarify the meaning of the sourceDirectory inference config variable. Can I e.g. add python utility source files to be deployed alongside score.py? How do I import them in score.py?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38e267fb-efa2-dab5-aa83-4a4addc39ee8
* Version Independent ID: e1d506d0-c6bf-47ed-a1

[2020-01-27 12:20] SubhashVasarapu-MSFT commented on #46514
@ShiviSoni , Appreciate your patience. As of now Azure CDN was designed to support only HTTP(80) and HTTPS(443) protocols. You will not be able to add a SMB protocol service behind Azure CDN even through a Rest API.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-01-27 12:20] #46514 closed

[2020-01-27 12:25] SnehaAgrawal-MSFT commented on #46669
@TheKlingon Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-01-27 12:26] manu4rhyme opened #46868 "Isn't there an option to setup SQL DB as a data source, using AAD/MSI?"
As part of our security review items, we are removing almost all connection strings (database, blob etc.) and access is governed solely via the AAD/MSI identity.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3653fb10-b136-c1b3-7726-34fa8504f132
* Version Independent ID: 121d86ff-93d2-ef73-ce18-96f6502a415c
* Content:

[2020-01-27 12:27] KrishnaG-MSFT commented on #46707
@yanivlavi Can you please provide your insights on this ?

[2020-01-27 12:32] jakaruna-MSFT commented on #46595
@ondrejhlavacek We can change the node pool node count. Thats equivalent to scaling the nodepool.

We need to check if we can delete or rename the node pool. I think thats not possible

[2020-01-27 12:33] AshokPeddakotla-MSFT commented on #44819
@JimacoMS3 , Thanks for updating.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-27 12:33] #44819 closed

[2020-01-27 12:34] msrini-MSFT commented on #46822
@andyjballgit , It does log for the detection as well.

{ "time": "2020-01-27T11:42:16.4169494Z", "resourceId": "/SUBSCRIPTIONS/XXXXX/RESOURCEGROUPS/XXXXX/PROVIDERS/MICROSOFT.NETWORK/FRONTDOORS/TRAVTESTHOST", "category": "FrontdoorWebApplicationFirewallLog", "operationName": "Microsoft.Network/FrontDoor/WebApplicationFirewallLog/Write", "properties": {"clientIP":"2404:f801:8028:1:d7c9:97b1:fce3:29

[2020-01-27 12:34] SubhashVasarapu-MSFT commented on #46492
@dcbrown16 , Appreciate your patience. The doc has been edited accordingly and it will take some time for the changes to get reflected over the document.

[2020-01-27 12:42] scarecrow97 commented on #41370
Hi, any update? This will be disabled tomorrow and there has been a note saying we will be updated on the transition before then?

[2020-01-27 12:43] dotnetgator commented on #46837
Please re-open and correct the issue. Is there any difference between selecting Development or Debugging mode? If not, please say so. If there is, please specify the difference. The original article and the related article it links only speaks about Development and Production; it does not mention the behavior of Debugging (again, if Debugging is identical to or interchangeable with Development, th

[2020-01-27 12:43] krishnasriSomepalli opened #46869 "Issue with 'databricks jobs reset...'"
The command 'databricks jobs reset --json-file PATH' is raising an error (Missing option "--job-id".) Instead submitting 'databricks jobs reset --job-id JOB_ID --json-file PATH' works with PATH referring to a JSON file with just the JobSettings

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6b8f678-e0e7-c6b2-4f8d-9c80

[2020-01-27 12:44] Tinus-schwalyk commented on #46866
Any help on this?

[2020-01-27 12:45] joachimloe commented on #41370
It will be disabled on 28th of February, not tomorrow..
But yes, we need updated info NOW :)

_The Azure AD third party application in Workplace by Facebook has been approved. Customers will not have an interruption of service on December 16th. You will see a note in the Workplace by Facebook Admin console indicating a deadline of **28-February-2020** by when you will need to transition to the new

[2020-01-27 12:46] ersameed opened #46870 "Latest Agent Version is missing"
We have observed in our environment that this agent 9.32.5487.1 has been released, can you add the details regarding it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5cd9ff6-a28b-8e40-83b5-7ef4fd24db48
* Version Independent ID: bb50c22c-c945-0ec9-17bf-6921e87c41a4
* Content: [What's new in Azure Site Recovery - Azur

[2020-01-27 12:47] joachimloe commented on #41370
Few weeks? Please update

[2020-01-27 12:48] Jonny2026 opened #46871 "Nested Virtualization with Windows Server 2019 Datacenter"
I set my Azure VM with Windows Server 2019 Datacenter. I followed this instruction to set the VM up for nested virtualization.
Unfortunately I'm facing Troubles with intrenet Connection at the guest vm (Hyper-V on Windows Server).

Can anyone help out?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ffa9c12-4fdc-118a-4

[2020-01-27 12:51] Jonny2026 commented on #46871
Virtual switch:
![image](https://user-images.githubusercontent.com/55488852/73176044-cb54cf00-410b-11ea-81e6-519c6aca23e5.png)

NAT:
![image](https://user-images.githubusercontent.com/55488852/73176114-f3dcc900-410b-11ea-9500-1a1b573a35eb.png)

ip-Config at guest:
![image](https://user-images.githubusercontent.com/55488852/73176194-21c20d80-410c-11ea-90d0-cb94aced8583.png)

[2020-01-27 13:01] yashwanth-yenugu opened #46872 "No Doc Provided for integrating Azure AD as a SAML Provider using B2C custom policies"
I'm trying to integrate Azure AD as a SAML based IDP in Azure B2C, but i don't find any documentation for the same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5330b0b2-0c1c-ebe8-cf24-2a6430e44c28
* Version Independent ID: 1a3cddf5-3184-c745-1280-c8208f33966c
* Content: [Define a SAML technical profile in a custom p

[2020-01-27 13:03] AshokPeddakotla-MSFT commented on #46863
@NavaneethaDev Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-27 13:21] PCSshell opened #46873 "Link for Manual Installation broken"
The "Learn more" link in the manual installation section below goes to a 404 page.

Manual installation: Install the Mobility service manually on each machine. Learn more about push and manual installation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c08001ec-4173-259d-36a6-2534945d2a85
* Version Independent ID: 834

[2020-01-27 13:30] jeethub5 opened #46874 "Design the Azure Automation Runbook"
In the mentioned section at step number 4 "Browse for the Refresh-Model.ps1 file, provide a Name and description, and then click Create", from where do we get "Refresh-Model.ps1" file.

Please suggest.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83c04a51-5c8e-73b3-cb07-0c72691a5cdb
* Version Independent ID: baf30ca3

[2020-01-27 13:33] aros1697 commented on #46512
I solved it by changing the local account key.

[2020-01-27 13:40] BDO-Cyb3rFl3x opened #46875 "Redirected User Profils not working with kubectl and AKS"
# Case
If the user profil in a windows domain is in an extra network drive (example "P:\") the `az aks get-credentials` command create in somecases the config file into the `C:\Users\<user>\.kube\config` and not into the `P:\.kube\config`. But Kubectl only checks the `P:\.kube\config` path.

# Not documented Solution
1. use the `--kubeconfig` parameter and enter your configfile path
2. copy config

[2020-01-27 13:44] diecknet opened #46876 "Is "-AvailableToOtherTenants $true" really correct?"
Is the parameter "-AvailableToOtherTenants $true" really correct for the Service Principal? I don't see a reason why it should be available to other tenants.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 156a552a-fe64-e5dc-b86a-b7d8ccbeee1d
* Version Independent ID: d83f235e-3ae2-ad71-30c6-0bd7f95fb894
* Content: [Win

[2020-01-27 13:50] fgheysels commented on #46457
Hi @philmea @MohitVerma-MSFT , is there already any news on this ?
Thx.

[2020-01-27 13:54] CarlRabeler commented on #46319
Does this article help: https://stackoverflow.com/questions/24915593/translate-sql-azure-dtu-to-iops?

[2020-01-27 14:00] rwiankowski opened #46877 "Documented inbound NSG rules don't work"
The rule which allows traffic for "destination subnet as Any and source as GatewayManager" and the specified port range does not seem to work. Only when I used from Any and to Any did the deployment go through.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 166e6517-9190-c9fc-5ad5-757ad64bb3fc
* Version Independent ID:

[2020-01-27 14:10] ArgTang commented on #46609
@jakaruna-MSFT I have tested some more. Might be a bug in az cli: when i remove the `--tags` parameter it works. Made an az cli issue here: https://github.com/Azure/azure-cli/issues/11954

[2020-01-27 14:22] twomm opened #46879 "partial backup and wildcards"
Does _backup.filter support wildcards?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4754bcfc-204a-d398-6b86-e452cd0d44a1
* Version Independent ID: 157885c4-2579-8f98-1e85-c3063a861207
* Content: [Back up an app - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/manage-backup#feedback)
* Content S

[2020-01-27 14:27] martincigorraga commented on #40900
Hi @femsulu thanks for sharing the address of the feedback portal.

We are building a solution for which we want to fully automate the installation, using PowerShell as much as possible (but we could also consider using Azure CLI).

Being able to programmatically import the modules we need into the Account Automation for use with our runbooks is a must for us, buy sadly this is still not possible.

[2020-01-27 14:28] Trapulo commented on #43961
I confirm that today it works.
thanks

[2020-01-27 14:30] ryanwadebg opened #46880 "Not able to validate template"
I am not able to produce a valid ARM template using the information in this article. When I open the template I get the following error for the resource Microsoft.Sql/servers/databases:

	Value must be one of the following values: "2014-04-01", "2017-03-01-preview"

When I change the apiVersion to 2017-03-01-preview which was listed as a valid value I get this new error:

     Microsoft.Sql/server

[2020-01-27 14:31] yevgenche commented on #46724
any update?

[2020-01-27 14:51] NavtejSaini-MSFT commented on #45973
@CarlosOnline We are for now going ahead and closing this thread. If you have any further issue, please create a new thread or comment on this thread and we will continue the discussion.

[2020-01-27 14:51] #45973 closed

[2020-01-27 14:53] NavtejSaini-MSFT commented on #46864
@mbanck We are checking this and we will get back to you.

[2020-01-27 14:53] NavtejSaini-MSFT commented on #46862
@mkyrath We are checking this and we will get back to you.

[2020-01-27 14:54] wmekal-pgs opened #46881 "Outdated documentation? There is Azure Identity library mentioned on Azure Blob Storage documentation page"
https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-msi#authenticate-with-the-azure-identity-library
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f57d3177-ce9e-ebfa-03a7-45beb8ca3212
* Version Independent ID: a59df23d-f3ac-9809-61d3-5741e31f020a
* Content: [Managed identities - Azure App Service](ht

[2020-01-27 15:03] chandruchiku opened #46882 "What is the need for sending intents with the request?"
Why does the client app needs to send all the intents to be recognized. Most of the times client apps are not aware of all the Intents created at the LUIS side. Because of this, one needs to call LUIS api to get a list of all Intents, then send it along with this request.

It should plain and simple, send the audio with AppId to be classified as Intent or is there a reason why it done so?

---
###

[2020-01-27 15:06] andrereislive opened #46883 "Tenant Group for CSP"
Hi,
Could you clarify and provide best pactices on how to implement the cenario, where I'm a CSP and I need only to manage the host pools and i want to leave the authentication to be managed by my customer. (Consider that my customer has his azure subscription)

[2020-01-27 15:06] #46883 closed

[2020-01-27 15:07] rbrundritt commented on #46863
Replace 'any' with 'all'

[2020-01-27 15:08] ArgTang commented on #46609
missunderstanding between `--tags` and `--ip-tags`

[2020-01-27 15:08] #46609 closed

[2020-01-27 15:16] mumian commented on #46838
@martingbrown I am investigating the issue.

[2020-01-27 15:17] msrini-MSFT commented on #46877
@rwiankowski , which SKU are you using ?

[2020-01-27 15:17] Ayanmullick commented on #46851
@neeleshray-msft , Thank you for your response. However, those are programmatic deployment thru
**Java** notations. Isn't there a pure-PowerShell way with PowerShell cmdlets? Like one can create Action Groups with `New-AzActionGroup`...

[2020-01-27 15:19] NavaneethaDev commented on #46863
I have tested with "**all**" but didn't work.
I am looking for something like below.
filter : ['any', ['==', ['get', 'status'], 'Aborted'], ['==', ['get','status'], 'Delayed']] **and** ['==', ['get', 'location'], 'London']]
Either anyone of the above status with the specific location and so on.

[2020-01-27 15:22] emma-c-dev commented on #36056
@RohitMungi-MSFT What's the process for programmatically generating the URI on a per file basis using Python? I am unable to find any documentation of this. Thank you in advance!

[2020-01-27 15:25] mumian commented on #46838
@martingbrown Thank you for your comment. I have submitted a PR.  The issue will be fixed last today.

#please-close

[2020-01-27 15:25] #46838 closed

[2020-01-27 15:29] rbrundritt commented on #46863
Ah, didn't see where you wanted the AND when looking on my phone. Try this:

['all', ['any', ['==', ['get', 'status'], 'Aborted'], ['==', ['get','status'], 'Delayed']], ['==', ['get', 'location'], 'London']]]

[2020-01-27 15:39] DixitArora-MSFT commented on #46861
Hi @TechWatching Thanks for reaching out. We will review and update as appropriate.

[2020-01-27 15:40] DixitArora-MSFT commented on #46858
Hi @mikaelsand Thanks for your feedback. We will review and update as appropriate.

[2020-01-27 15:43] Mangosniper commented on #20737
Some problem as @NoNameProvided. I am not on a paid plan and therefore not able to delete this resource on my own. Would be glad if someone points me in a direction where I can get help, I dont want to write an email to a random support-channel of microsoft.

[2020-01-27 15:44] NavaneethaDev commented on #46863
@rbrundritt . Thanks it worked.

[2020-01-27 15:44] #46863 closed

[2020-01-27 16:00] GiftA-MSFT commented on #46882
@chandruchiku thanks for your feedback. We will review this issue and get back to you shortly.

[2020-01-27 16:01] leela-uppuluri opened #46885 "View data arriving at your IoT hub"
I was trying to view device to cloud messages or data using visual studio code tool but I couldn't able to display any messages instead it throws an error `[IoTHubMonitor] ConnectionForcedError: connect ECONNREFUSED 13.89.231.149:5671`. I have connected the IoT Hub and it's devices using IoT Hub connection string in a correct way as per the documentation in `Tutorial: Deploy Azure Machine Learning

[2020-01-27 16:02] GiftA-MSFT commented on #46867
@algattik thanks for your feedback. We will review this issue and get back to you shortly.

[2020-01-27 16:02] michaelschmit opened #46886 "Verification Steps"
It would be nice if there were verification steps, so you can see that the configuration worked within azure portal.  If there is no place where this setting/information is exposed, then I would recommend exposing that as an enhancement request.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 660320d4-fad5-3307-e29f-5f4

[2020-01-27 16:05] theweiweiway commented on #31771
@ezenwankwogabriel can you share your SSL settings? I'm having the same problem, Linux container with node 12 and websockets is enabled. I have a custom domain set up and my DNS is on cloudflare. However I can't connect from my client and I keep getting 503 error.

[2020-01-27 16:06] AshokPeddakotla-MSFT commented on #46457
@fgheysels Sincere apologies for the delay in response. We are still checking on this issue internally.

[2020-01-27 16:09] QiMata opened #46887 "Double use of File.OpenRead(imageFile)"
var imageFile = Path.Combine("Images", "test", "test_image.jpg");
using (var stream = File.OpenRead(imageFile))
{
    var result = endpoint.DetectImage(project.Id, publishedModelName, File.OpenRead(imageFile));

The above code seems to try to open and read the file twice. Not sure if intended

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2020-01-27 16:10] Simon-HL commented on #46365
That worked

[2020-01-27 16:10] #46365 closed

[2020-01-27 16:12] AshokPeddakotla-MSFT commented on #46713
@ginomessmer Does that answers your question? Do let us know if you have any other queries.

[2020-01-27 16:13] techsaau opened #46888 "AKS Network Policy per IP instead of cidr"
I have k8s cluster 1.14.8 with Azure CNI. I'm trying to restrict network traffic with Network Policy.
To my knowledge, we have an option of CIDR and expect option which accepts range of IP address. I want to restrict ingress and egress to specific IPs only (e.g. 111.11.11.11 and 55.55.55.55 only).

Please let me know how to implement the same.

---
#### Document Details

⚠ *Do not edit this sectio

[2020-01-27 16:14] tfitzmac commented on #44839
@lukepuplett - I just realized I should have also mentioned the new [what-if feature](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-deploy-what-if). It is in preview right now. It notifies you of the changes before deploying a template, and you can find changes you didn't expect.

[2020-01-27 16:14] RicoSuter opened #46889 "Option to use operation ID instead of description when importing an OpenAPI spec"
Is it possible to use the operation ID instead of the operation description as APIM operation "Display name" when importing an OpenAPI spec for example via CLI? ...and use the description in the APIM description field?

![image](https://user-images.githubusercontent.com/2603405/73191881-85f2ca80-4128-11ea-8f3e-1b52062010f7.png)

We want to avoid having to transform the specification before uploadi

[2020-01-27 16:18] ehsf973 commented on #45361
ok thanks !

[2020-01-27 16:18] #45361 closed

[2020-01-27 16:19] shanrath opened #46890 "Pre-2017 Exchange online tenants have Modern authentication disabled by default."
As per the title, it may be worth noting that those specific exchange online settings leave users in a login loop when trying to access Outlook on desktop, even for the current up to date office365 outlook client.
This is resolved by enabling modern authentication as described here:
https://docs.microsoft.com/en-us/exchange/clients-and-mobile-in-exchange-online/enable-or-disable-modern-authenticat

[2020-01-27 16:23] davidsmatlak commented on #46873
#assign:davidsmatlak

[2020-01-27 16:24] mumian commented on #46880
@ryanwadebg - The VSCode ARM extension can't always detect the latest API versions.  To see the latest version for SQL databases, browse to https://docs.microsoft.com/azure/templates/microsoft.sql/allversions, and find "servers/databases".  The latest version is "2017-10-01-preview".  So you can ignore the warning from VSCode.

For your second question, a template parameter file is optional.  To s

[2020-01-27 16:24] #46880 closed

[2020-01-27 16:25] vhorne commented on #44808
Source IP address info added to article.
#please-close

[2020-01-27 16:25] #44808 closed

[2020-01-27 16:28] KrishnaG-MSFT commented on #46880
@mumian Thanks for the super quick response. 👍

[2020-01-27 16:31] KrishnaG-MSFT commented on #46873
@davidsmatlak Thanks for the super quick initial response and acknowledgement. 👍 Please review and consider enhancing the document as appropriate.

[2020-01-27 16:34] KrishnaG-MSFT commented on #46870
@ersameed Thanks for the feedback!
Assigning content owner @rayne-wiselman for visibility, review and document enhancement consideration if appropriate.

[2020-01-27 16:40] davidsmatlak commented on #46873
Thanks for reporting the broken link. I'll update the document with the correct link.

[2020-01-27 16:43] erhopf commented on #40610
#please-close
We now have backlog items to address Katie's concerns.

[2020-01-27 16:43] #40610 closed

[2020-01-27 16:59] DixitArora-MSFT commented on #46889
Hi @RicoSuter Thanks for reaching out. We will review and update as appropriate.

@vladvino Any inputs in this?

[2020-01-27 17:00] erhopf commented on #40612
#please-close

This work item is in our backlog.

[2020-01-27 17:00] #40612 closed

[2020-01-27 17:05] ryanwadebg commented on #46880
Thanks @mumian,

I copied the json and created a template that I called "test.json". I ran the code below to see if it was valid:

     az group deployment validate --resource-group rgTestGroup --template-file .\test.json

I got the following error:

     Failed to parse .\test.json with exception:
         Expecting ',' delimiter: line 49 column 6 (char 1517)

Here is a screen shot of the violati

[2020-01-27 17:09] hrasheed-msft commented on #45296
#please-close

[2020-01-27 17:09] #45296 closed

[2020-01-27 17:10] hrasheed-msft commented on #45830
#please-close

[2020-01-27 17:10] #45830 closed

[2020-01-27 17:11] hrasheed-msft commented on #45830
@michaelburch The fixes have been merged and are live in the doc now. Thanks for your feedback which help improved the doc.

[2020-01-27 17:11] hrasheed-msft commented on #45296
@DwijadasDey The fixes have been merged and are live in the doc now. Thanks for your feedback which help improved the doc.

[2020-01-27 17:16] hrasheed-msft commented on #46310
Both image and text have been updated. Thanks.

[2020-01-27 17:16] hrasheed-msft commented on #46310
#please-close

[2020-01-27 17:16] #46310 closed

[2020-01-27 17:17] rwalsh3711 opened #46893 "Error when attempting to enable k8s dashboard"
I receive an error when attempting to enable the k8s dashboard using the instructions provided at https://docs.microsoft.com/en-us/azure/aks/kubernetes-dashboard

The error I receive is:

[code]

Please advise

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ba1dad2-9792-2a7b-cdb6-68da0524cff3
* Version Independent ID:

[2020-01-27 17:17] RicoSuter commented on #46889
Side note: It seems that currently the swagger response description is used as operation description and the operation description is used as name (seems like a wrong mapping to me).

[2020-01-27 17:32] vlado101 opened #46895 "Showing an example of "Using partitionedBy property" in ADF GUI"
Hello,

Would it be possible to show the examples in "Using partitionedBy property" section using Azure Data Factory GUI instead of JSON code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2028ea9c-a7eb-8208-636e-e363cfce0f26
* Version Independent ID: b298de72-5871-a0c3-c7e5-1bf33c7cd1b4
* Content: [Copy data to/from

[2020-01-27 17:33] ryanwadebg commented on #46880
Hello @mumian,

I will look at the code and try to figure it out. I think I need to hard code some additional values.

FYI, not using a parameter file actually made this harder to follow. Being new to ARM templates it made it more confusing because all other examples I have seen used parameter files.

[2020-01-27 17:38] rhurey commented on #46882
On the InteneRecognizer object there is a method called "addAllIntents" that will add all the intents.

Here's a link to the Java variant of it's documentation.
https://docs.microsoft.com/en-us/java/api/com.microsoft.cognitiveservices.speech.intent.intentrecognizer.addallintents?view=azure-java-stable#com_microsoft_cognitiveservices_speech_intent_IntentRecognizer_addAllIntents_LanguageUnderstandin

[2020-01-27 17:39] FrankHu-MSFT commented on #46775
@ms-yuukih thanks for letting us know about this currently we're looking into this and will make the changes appropriately.

That being said I iwll be closing this github issue by end of day today as we are addressing this. please let us know if you have anymore concerns in regards to this issue.

[2020-01-27 17:40] FrankHu-MSFT commented on #46761
@Norrch2 I'm following up on this issue can you please respond in regards to hte last github comment?

[2020-01-27 17:41] FrankHu-MSFT commented on #46734
hey @patternpaul i'm going to be closing this issue by end of day today and pushing out the change. Please let us know if you have anymore concerns, and thanks for letting us know again.

[2020-01-27 17:41] #46545 closed

[2020-01-27 17:43] patternpaul commented on #46734
@FrankHu-MSFT Sorry about the delay! Yes it looks good to me!

[2020-01-27 17:46] GiftA-MSFT commented on #46887
@QiMata we will review your feedback and get back to you shortly. Thanks.

[2020-01-27 17:54] #46747 closed

[2020-01-27 17:54] kummanish commented on #46548
Fixed the patch in this git commit : https://github.com/MicrosoftDocs/azure-docs-pr/pull/102407

[2020-01-27 17:56] gbarr42 opened #46897 "Where to find the current Default Parameterization template"
Hello, this document has the default parameterization template, but I am wondering if that has changed since this topic was published? and if so, is there a location where the current default parameterization template be found? https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#default-parameterization-template

---
#### Document Details

⚠ *Do not edit this sect

[2020-01-27 17:56] GiftA-MSFT commented on #46747
@ticianaciminari thanks again for pointing this out. We have updated the document and changes will be applied soon.

[2020-01-27 18:01] KranthiPakala-MSFT commented on #37624
@kankomi Thanks for bumping this up and sincere apologies for delay in response.

I have reached out to internal team and actively working to update the doc with more clarification. I will update you once I hear back from the team.

[2020-01-27 18:02] glzbcrt commented on #13395
Hello,

Is there any page on Microsoft Docs where we can find this information?

[2020-01-27 18:06] davidsmatlak commented on #31199
I submitted the fix for this issue and when it merges, this issue will automatically close.

[2020-01-27 18:09] MartinJaffer-MSFT commented on #46895
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-01-27 18:11] MartinJaffer-MSFT commented on #46897
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-01-27 18:12] KranthiPakala-MSFT commented on #46869
@krishnasriSomepalli Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2020-01-27 18:13] Superdabdab opened #46898 "You can't enroll a Windows device in Intune with a non-administrator account"
Hello,

I was wondering why my client couldn't see the "Join this device to Azure Active Directory" line when trying to join Intune with an already configured Windows 10.
It appears that my client's account doesn't have local administrator privileges so he has the following error:
https://support.microsoft.com/en-us/help/4463724/can-t-enroll-a-windows-device-in-intune-as-non-administrator

In the

[2020-01-27 18:13] AjayKumar-MSFT commented on #46615
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2020-01-27 18:13] #46615 closed

[2020-01-27 18:17] FrankHu-MSFT commented on #43489
@maya-cnx in the document it actually says :

So this is currently by design

[2020-01-27 18:17] DCtheGeek commented on #46859
#assign:DCtheGeek

[2020-01-27 18:18] FrankHu-MSFT commented on #43489
@maya-cnx please let us know if you have anymore questions in regards to this, the document I'm referring to is here : https://docs.microsoft.com/en-us/azure/role-based-access-control/role-definitions#data-operations-example

If there are no more questions/concerns I will be closing out this git issue by end of day today.

[2020-01-27 18:19] DCtheGeek commented on #46859
@spmanjunath Thanks for the question! This is from a very old example in the repo (https://github.com/Azure/azure-policy/blob/master/samples/PolicyInitiatives/multiple-billing-tags/azurepolicyset.definitions.json). I've emailed the engineer to check if it's still valid and if it's the pattern we want shown.

@MicrosoftDocs/azure-cxp-triage Please label 'product-question' and #in-progress.

[2020-01-27 18:24] andyjballgit commented on #46822
excellent , thx for confirming . Might be worth mentioning this in the documentation ? unless it is really obvious to everyone except me :-)

[2020-01-27 18:30] rolyon commented on #46528
Thanks for the feedback. I'll check into this.
thanks

[2020-01-27 18:31] KranthiPakala-MSFT commented on #46809
@lexykassan Please do share the thread link here once the question is posted in MSDN/Stackoverflow.

We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-01-27 18:31] #46809 closed

[2020-01-27 18:32] DCtheGeek commented on #46859
@spmanjunath I just confirmed that this example is still valid. While _costCenter_ and _productName_ are used twice, they each pass a different initiative parameter to the policy definition.  It's valid to include the same policy definition in a policy initiative multiple times with different parameters. This is a great use case for re-using a very dynamic policy definition.

@MicrosoftDocs/azure-

[2020-01-27 18:32] #46859 closed

[2020-01-27 18:35] NavtejSaini-MSFT commented on #46548
@jkewley the new document will be published as the commit has been done and available with new changes in next 24 hours depending on publishing queues.
We are closing this thread now.

[2020-01-27 18:35] #46548 closed

[2020-01-27 18:38] AjayKumar-MSFT commented on #46005
Apologies for the delay! I have been discussing on this internally.

The tutorial aims to provide key concepts and instructions for containerization of Linux apps in App Service, but still allow customers to learn things beyond a specific Linux distribution (Alpine) and to answer your question, the startup scripts are supported and executed only in built-in images. Custom containers would need to

[2020-01-27 18:38] #46005 closed

[2020-01-27 18:41] BryanTrach-MSFT commented on #46879
@twomm Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-27 18:43] mumian commented on #46880
@ryanwadebg - we have a tutorial series for beginners - https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-tutorial-create-first-template?tabs=azure-powershell. One article is specifically about using parameter file - https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-tutorial-use-parameter-file?tabs=azure-powershell.

Regarding the error

[2020-01-27 18:44] BryanTrach-MSFT commented on #46881
@wmekal-pgs Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-27 18:47] tnewton1 opened #46900 ""Can't connect to the internet" section has wrong links"
The links in the "Can't connect to the internet" section of this article link to "URLs for X assessment/migration" and these links point to articles that do not include URLs. These should probably point to this article: https://docs.microsoft.com/en-gb/azure/migrate/migrate-appliance#url-access

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-01-27 18:55] RyanHill-MSFT commented on #46788
Hi @wonderplayer, does @jcbrooks92's response provide clarity? The 32 instances addresses is stated to allow the ability to to scale up to 30 instances in non-ASE Premium V2 regions.

Let us know if you have any further questions.

[2020-01-27 18:57] MartinJaffer-MSFT commented on #46895
Hello @vlado101  .  Are you using Data Factory version 1 or version 2?  This article is for version 1.  The in-portal visual editor for version 1 has been removed.  If you are using version 1, we *strongly* recommend migrating to version 2.

[2020-01-27 19:09] rishabpoh commented on #44632
Hey @kogesaka, I'm afraid I don't understand the issue as I couldn't reproduce it. I created a GPv2, GPv1, and blob storage account then went into the "Data Protection" tab in the Account Management blade but saw that I could modify soft delete as expected. Could you walk me through your issue?

[2020-01-27 19:10] NavtejSaini-MSFT commented on #46862
@SnehaGunda Please check the code samples and provide feedback.

[2020-01-27 19:10] MarileeTurscak-MSFT commented on #46890
@shanrath
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-27 19:11] DarikaShasai commented on #43503
i had to download the version 1.10, because the version 1.12 and version 1.11 doesn't work at all, i try everything you suggest.

[2020-01-27 19:11] Karishma-Tiwari-MSFT commented on #46745
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-27 19:11] #46745 closed

[2020-01-27 19:13] Karishma-Tiwari-MSFT commented on #46852
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-27 19:13] rezasherafat commented on #38102
@kiranpradeep, there are multiple reasons. Let me start by clarifying that from IoT hub's perspective, device streams constitutes a fully data-plane communication channel. The original device to Hub connection however has some control-plane nature as well, for example that initial connection is used to perform device stream handshakes. We did want to avoid any possibility that high device streams

[2020-01-27 19:13] Karishma-Tiwari-MSFT commented on #46769
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-27 19:13] #46769 closed

[2020-01-27 19:14] gauravga opened #46901 "Azure data factory V2 Custom Activity does not produce CustomOutput from outputs.json"
My Azure Data factory v2 custom activity is writing to outputs.json, but the output is not reflected in customoutputs section of output json. The file is not even copied into adfjobs folder. The only files i see being copied over are stderr and stdout.
I have also tried writing the outputs.json file in root directory as well as current directory (which is wd) but, i still dont see customoutputs be

[2020-01-27 19:14] Karishma-Tiwari-MSFT commented on #46743
We will now close this issue. Please let us know if there is an update. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-27 19:14] #46743 closed

[2020-01-27 19:16] NavtejSaini-MSFT commented on #46823
@LowerKees We have raised https://github.com/MicrosoftDocs/azure-docs-pr/pull/102419 for adding the article "an".

[2020-01-27 19:16] Karishma-Tiwari-MSFT commented on #46699
Is there an update? Please let us know.

[2020-01-27 19:17] pauloster commented on #45473
Hi Mike, can you look further into this issue?

[2020-01-27 19:17] Mike-Ubezzi-MSFT commented on #46883
@andrereislive Please let us know if you have any additional questions. I made an assumption with regard to the Azure Lighthouse documentation you likely were seeking, or would be helpful here.

[2020-01-27 19:20] mjonespro opened #46902 "Modern equivalent for assigning user app roles."
The article located at https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/assign-user-or-group-access-portal has instructions for creating user app assignments for older versions of powershell. The article does not contain or link to any guidance on newer AZ powershell or graph API.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-01-27 19:20] yanivlavi commented on #46604
@harelbr Can you reply on the plans on this?

[2020-01-27 19:20] Mike-Ubezzi-MSFT commented on #46835
We will now proceed to close this thread. If there is a specific issue or recommendation with an article found in the Microsoft Docs repository, please click on the feedback link at the bottom of the page and your detailed feedback will be properly routed. Thank you, ~Mike

[2020-01-27 19:20] #46835 closed

[2020-01-27 19:22] tchristiani commented on #46053
Issue solved.
#please-close

[2020-01-27 19:22] #46053 closed

[2020-01-27 19:23] GiftA-MSFT commented on #46867
@algattik sourceDirectory is optional, and used to specify the Path to folders that contain all files to create the image.

[2020-01-27 19:24] SubhashVasarapu-MSFT commented on #46492
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-01-27 19:24] #46492 closed

[2020-01-27 19:24] algattik commented on #46867
Yes this is what's in the doc, but it's very unclear what that concretely means

[2020-01-27 19:25] jmelosegui commented on #44134
@NavtejSaini-MSFT , @anosov1960. Ping

[2020-01-27 19:25] richrundmsft commented on #42968
@rlevchenko - an update on this -- we've deployed an updated experience reduces the chance for confusion.

We've removed the Save button from the Application Gateway Listeners page.

When you Add a listener the save is done at the point you do the Add.

Likewise, when you modify the SSL policy, the modifications is saved when you make the change.

[2020-01-27 19:26] tchristiani commented on #43461
Issue added to backlog
#please-close

[2020-01-27 19:26] #43461 closed

[2020-01-27 19:27] Mike-Ubezzi-MSFT commented on #46857
@flodan Than you very much for the feedback. I am going to present this to the content owner for review where an update will be made as appropriate.

[2020-01-27 19:27] rolyon commented on #46156
Hi @jeanchavez
I've learned a little more about this. If you use web.powerapps.com as the URI format for the application, I think the Conditional Access rule for Microsoft Azure Management will be applied. However, if you instead use the apps.powerapps.com format, I don't think the Conditional Access rule will be applied. Here is some additional info about these formats:
https://docs.microsoft.com

[2020-01-27 19:27] tchristiani commented on #44290
Unable to reproduce
#please-close

[2020-01-27 19:27] #44290 closed

[2020-01-27 19:28] SubhashVasarapu-MSFT commented on #46391
@pradm , We have assigned this issue to the content author to update the doc accordingly.

[2020-01-27 19:29] tchristiani commented on #45044
Full code available at the bottom of page in Next Steps
#please-close

[2020-01-27 19:29] #45044 closed

[2020-01-27 19:30] JimacoMS3 commented on #37653
The updated note is now live: https://docs.microsoft.com/en-gb/azure/iot-hub/iot-hub-devguide-query-language#limitations

[2020-01-27 19:31] SaurabhSharma-MSFT commented on #46554
@aleazofeifam I have got the confirmation from the product team that it is a soft delete and not hard delete.  The documentation will be updated to reflect the same. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-27 19:31] #46554 closed

[2020-01-27 19:31] JimacoMS3 commented on #37653
I'm going to close this issue. If you think the note needs editing, please @comment me. Thanks again for your help!

[2020-01-27 19:31] SaurabhSharma-MSFT commented on #46569
@trevor-schmidt We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-27 19:31] #46569 closed

[2020-01-27 19:31] JimacoMS3 commented on #37653
#please-close

[2020-01-27 19:31] #37653 closed

[2020-01-27 19:31] sanchetanparmar opened #46903 "AKS with Azure CNI failed - CreateVMSSAgentPoolFailed Error message: \\\"Enable failed: failed to execute command: command terminated with exit status=50\\n[stdout]\"
As per docs - https://docs.microsoft.com/bs-latn-ba/azure/aks/configure-azure-cni
here is my issue
https://github.com/terraform-providers/terraform-provider-azurerm/issues/5537

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37ba0343-7e43-6e2e-e564-5d3a0f523a75
* Version Independent ID: 0ba581a1-3e4a-27b4-c667-4a9b969a3

[2020-01-27 19:32] SaurabhSharma-MSFT commented on #46556
@connerza We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-27 19:32] #46556 closed

[2020-01-27 19:33] macolso commented on #20737
Hey - PM for ACI here. This is a known issue caused by a VNet outage ACI has last week. We're currently working on a fix to unblock VNet deletion. Unfortunately there is no way for you to delete the VNet manually on your own at this point.

If you don't have a paid plan - you can reach out to the product team via aciteam@microsoft.com.

[2020-01-27 19:34] SubhashVasarapu-MSFT commented on #46686
@prajeeshprathap , We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-01-27 19:34] #46686 closed

[2020-01-27 19:34] Mike-Ubezzi-MSFT commented on #46866
@Tinus-schwalyk Thank you for bringing this to our attention. Can you please reference the documentation within the MicrosoftDocs repository that discusses this integration?

[2020-01-27 19:35] boreys commented on #44535
After one month, the response is go to Stackoverflow.
The goal is clear and written in the question and nobody understand it.

[2020-01-27 19:38] Mike-Ubezzi-MSFT commented on #46868
@manu4rhyme Thank you very much for your inquiry. We are investigating and will update this issue when we have information to share.

[2020-01-27 19:39] GiftA-MSFT commented on #46867
It enables you to upload an entire folder from your local machine as dependencies for the Webservice (your entry_script and conda_file paths are relative paths to the source_directory path), making it easy to access any files within this folder or subfolder. Hope this helps.

[2020-01-27 19:39] rlevchenko commented on #42968
@richrundmsft cool. thanks for the update.

[2020-01-27 19:40] Karishma-Tiwari-MSFT commented on #46875
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-27 19:41] TravisCragg-MSFT commented on #46847
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-27 19:41] SaurabhSharma-MSFT commented on #46620
@msmimart can you please help here.

[2020-01-27 19:41] ticianaciminari opened #46904 "Forbidden (403) when copying files with '[' and '(' characteres (S3-compatible storage provider)"
@andremarques023 commented on [Fri Jan 24 2020](https://github.com/MicrosoftDocs/azure-docs.pt-br/issues/573)

I'm getting the following exception whenever I try to copy files under buckets with '[', ']', '(' or ')' characters in the name:

{
    "errorCode": "2200",
    "message": "Failure happened on 'Sink' side. ErrorCode=UserErrorFailedS3FileReadOperation,'Type=Microsoft.DataTransfer.Common.Sh

[2020-01-27 19:43] ticianaciminari commented on #46904
Hi Team, could you please check the issue mentioned by user?

Kind regards,

Microsoft DOCS Global Experience Team

[2020-01-27 19:46] macolso commented on #20737
Hey - PM for ACI here. This is a known issue caused by a VNet outage ACI has last week. We're currently working on a fix to unblock VNet deletion. Unfortunately there is no way for you to delete the VNet manually on your own at this point.

We will be sending out Azure Health notifications shortly to impacted subscriptions. These updates will continue to be sent out until the issue has been resolv

[2020-01-27 19:49] ryanwadebg commented on #46880
@mumian thanks for responding but the answers you gave were of no help to me. I already know how to use parameter files because I have created many templates in the past 2 weeks that uses them. As you pointed out this example does not use a parameter file because you chose not to. I copied the JSON directly from the example using the copy utility in the document so if I am missing a comma than a c

[2020-01-27 19:50] algattik commented on #46867
Exactly the kind of info that would improve the doc :) Thanks a lot

[2020-01-27 19:51] ticianaciminari opened #46905 "Sql connector with onpremises gateway in Visual studio #421"
@DanieleG90 commented 4 hours ago — with docs.microsoft.com
Where I can find the parameters for the on premises gateway in the LogicApp.json and LogicApp.parameters.json files in Visual Studio?
I saw server, database, username, password and sqlConnectionString, is the last one for the on premises gateway? How?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-01-27 19:52] ticianaciminari commented on #46905
Hi Team, could you please check user's question above?

Kind regards,

Microsoft DOCS Global Experience Team

[2020-01-27 19:56] JimacoMS3 commented on #46365
@Simon-HL Thanks again for your help on this! FYI a fix to the topic has been merged into our private repo and will go live this afternoon. @Mike-Ubezzi-MSFT FYI.

[2020-01-27 19:58] ticianaciminari opened #46906 "Outdated code samples, do not work anymore."
@mkyrath commented on [Mon Jan 27 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/615)

Code samples on this page as well as master branch in https://github.com/Azure-Samples/azure-cosmos-db-python-getting-started do not match the azure-cosmos api anymore. The sample app on Github already has branches with working code but master is outdated. This documentation should be updated to

[2020-01-27 19:59] ticianaciminari commented on #46906
Hi Team, could you please check user's issue above?

Kind regards,

Microsoft DOCS Global Experience Team

[2020-01-27 20:00] vlado101 commented on #46895
Hello @MartinJaffer-MSFT I am currently using v2.

[2020-01-27 20:00] femsulu commented on #46855
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2020-01-27 20:02] ticianaciminari opened #46907 "Correction to error in Receive Controller Helm Chart Install section # 1072"
@zer0big commented on [Sun Jan 26 2020](https://github.com/MicrosoftDocs/azure-docs.ko-kr/issues/1072)

The 502 code is triggered in the lab result, so I would like to ask you to review the error and review it.

Among the key notes in the section Installing Receive Controller Helm Charts, the identification methods for "identityResourceID value" and "identityClientID value" are not reversed.
A 502

[2020-01-27 20:04] ticianaciminari commented on #46907
Hi Team, could you please check user's request above?

Kind regards,

Microsoft DOCS Global Experience Team

[2020-01-27 20:08] isaacgonzalez77 opened #46908 "unable to create vm from shared image"
I get this error....any idea why?

The client has permission to perform action 'Microsoft.Compute/galleries/images/versions/read' on scope '
/subscriptions/&lt;tenant 2 subscription id&gt;/resourceGroups/myresourcegroup/providers/Microsoft.Compute/virtualMach
ines/ssrs2019-test', however the current tenant 'tenant2subscriptionid' is not authorized to access
linked subscription 'SubscriptionIDofTen

[2020-01-27 20:14] taromielnaz opened #46909 "Create a resource"
I have 15 Azure web apps. To enable ap insight should I create one resource for each web app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 098ffe3a-2cbd-1038-30f2-dd2f528984a3
* Version Independent ID: 65da3e70-2ac2-8f6e-51a5-e759bcc8253f
* Content: [Monitor Azure app services performance - Azure Monitor](https://doc

[2020-01-27 20:15] ticianaciminari opened #46910 "Directory creation name error (terraform-aks-k8s-> terraform-aks-appgw-ingress) # 1070"
@zer0big commented on [Sat Jan 25 2020](https://github.com/MicrosoftDocs/azure-docs.ko-kr/issues/1070)

There is an error in the body of the section "Creating a Directory Structure" and needs to be corrected as follows:

Before change
Create a directory named terraform-aks-k8s.
after change
Create a directory named terraform-aks-appgw-ingress.

---
#### 문서 세부 정보

⚠ *이 섹션을 편집하지 마세요. docs.microsoft.

[2020-01-27 20:17] harelbr commented on #46604
This doc is about the metric charts experience in Azure Monitor, so maybe @KevinBlasko can comment on this.

From the metric alerts perspective, I know that there are a couple of resource providers that are looking into enabling multi-resource metric alert rules for their resource types, but this work is driven from their end so I cannot comment on their plans.

[2020-01-27 20:18] ticianaciminari commented on #46910
Hi Team, user has suggested to change a part from the code:
"4. Create a directory named terraform-aks-k8s." to "4. Create a directory named terraform-aks-appgw-ingress."

![image](https://user-images.githubusercontent.com/43826292/73210435-0e716b00-4129-11ea-8593-b327c05871b8.png)

Kind regards,

Microsoft DOCS Global Experience Team

[2020-01-27 20:20] foofella opened #46911 "Private Endpoint for ADLS Subresource"
On this page the Azure Data Lake Storage Gen2 currently states that the subresource is "Blob (blob, blob_secondary)".  Looks like there are now "dfs" and "dfs_secondary" options for the subresource.  I have been able to connect successfully using the "dfs" subresource but not with the "blob" subresource to an ADLS Gen 2 resource.

Does the documentation need to be updated to reflect dfs as the sub

[2020-01-27 20:37] ryanwadebg commented on #46880
I found out what was causing the problem. After using an online JSON parson to test the JSON I found out that there were some hidden characters that were copied over from the site that caused the error.

[2020-01-27 20:43] wolfma61 commented on #45221
The quickstart page and the documentation page have been reworked to give more detail about the V2 version of the batch API. The V2 version is the official supported version of the API.

We are in the process of fine tuning the V3 api that will officially support webhooks for batch transcriptions. The goal is to make it available in the March/April timeframe.

Wolfgang

[2020-01-27 20:48] mike-urnun-msft commented on #46905
Thanks, @ticianaciminari!

@DanieleG90 Thank you for your feedback. We'll review and share our findings with you here.

[2020-01-27 20:48] JimacoMS3 commented on #43405
@lokijota Thanks for your feedback! @Marusyk thanks for adding the PR to the repo. I added the following code in step 5 here https://docs.microsoft.com/en-gb/azure/iot-hub/iot-hub-python-python-c2d#receive-messages-in-the-simulated-device-app:

[code]
I'm going to move to close this issue. Also, @Marusyk, I'm going to close the PR you added. Thanks for taking the time to address this.

[2020-01-27 20:50] ecfan commented on #46826
@kevinlam1, this customer is looking the version of the Azure Service Bus library that's used by Azure Logic Apps. Do you know who would know or where the customer can find this information?

They mention that there are [documented wire compatibility issues](https://github.com/Azure/azure-service-bus-dotnet/issues/239) between the new version (Microsoft.Azure) and old version (Windows.Azure), and

[2020-01-27 20:52] mike-urnun-msft commented on #46643
@gtrennert Since we haven't heard back and there isn't any change required for this documentation (this repo is for driving improvements towards MS Docs), we will now proceed to close this thread. If there are further questions regarding this matter, please send us an email per my reply above and we will gladly provide further assistance with a support engineer assigned to work with you in 1:1 set

[2020-01-27 20:52] #46643 closed

[2020-01-27 20:57] JimacoMS3 commented on #43405
#please-close

[2020-01-27 20:57] #43405 closed

[2020-01-27 21:01] BrendaMeng commented on #40601
@Andreas Lachenmann <Andreas.Lachenmann@microsoft.com> is the owner of Pronunciation feature.  @ArcherAZ can you provide the sample file for creating pronunciations?

[2020-01-27 21:02] NavtejSaini-MSFT commented on #46906
@ticianaciminari The user has already opened issue - https://github.com/MicrosoftDocs/azure-docs/issues/46862 for this. We will close this issue as a duplicate.

[2020-01-27 21:08] JimacoMS3 commented on #36499
One more thing, @LaiHoangLe . In the time since you reported this issue the topic has been updated to use the azure IoT Python v2 device client (we haven't updated the service client yet). Here's a link: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-python-python-c2d#receive-messages-in-the-simulated-device-app. The method no longer exists and a connection with IoT Hub is established  her

[2020-01-27 21:10] JimacoMS3 commented on #36499
#please-close

[2020-01-27 21:10] #36499 closed

[2020-01-27 21:11] dyateseci opened #46912 "Initial Replication Failure"
As of recently VMs were failing to go past the initial replication stage. I worked with a Azure engineer today and we discovered the cache account needs to be in the Recovery RG and not the primary RG. When placed in the Primary RG is throws the following error: The requested operation failed with reason: 'Requested operation failed with error: HvrStorageAccountNotFound'. Could the "Create cache s

[2020-01-27 21:13] MarileeTurscak-MSFT commented on #46865
@WoutVergauwen
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-27 21:18] gtrennert commented on #46643
Absence too in Application Insights - I just sent you the email

[2020-01-27 21:18] JimacoMS3 commented on #38102
Thanks for your response @rezasherafat. @kiranpradeep, if you have specific scenarios in mind that haven't been addressed by Reza's response, can you please let us know in the next week or so? Thanks!

[2020-01-27 21:20] #46867 closed

[2020-01-27 21:27] bwren commented on #46722
@OffColour I'm working on that single article right now. You should see that an a lot of other rewrite/restructure of the agent content in the next couple of weeks.

The simple reason for the current confusion is from multiple services getting merged into Azure Monitor. The engineering team is absolutely working on getting everything consolidated and more consistent. In the meantime, we're working

[2020-01-27 21:27] bwren commented on #46722
#please-close

[2020-01-27 21:27] #46722 closed

[2020-01-27 21:29] MarileeTurscak-MSFT commented on #46552
@curtand thanks for the info! Could we tag Kristina in this? Not sure if she's seen this.

[2020-01-27 21:35] femsulu commented on #46409
Apologies for the delayed response on this issue.  Assigning to @PeterCLu to provide additional guidance on how to submit managed runs.

[2020-01-27 21:36] bwren commented on #46549
Checking with engineering team.  #46589

[2020-01-27 21:36] erhopf commented on #45221
#please-close

@markti thanks for asking this question. While we don't have a date, this is in our backlog.

[2020-01-27 21:36] #45221 closed

[2020-01-27 21:41] GiftA-MSFT commented on #46867
@algattik We have taken your feedback into consideration and updated the document accordingly. Updates should be applied soon. Thanks again for helping us improve the document.

[2020-01-27 21:48] MashaMSFT commented on #45656
Hi @ytugarev , thank you for reaching out! I have added some language to clarify that the user account that is used to persist the drive should also be used to start the SQL Server service. This change should be live later today.

As for MS DTC, yes, the limitation in this article is correct. MS DTC is not supported with Azure Premium Shares.

I hope that helps and please let us know if there is a

[2020-01-27 21:48] #45656 closed

[2020-01-27 21:49] MashaMSFT commented on #41065
Hi @richardspitz , thanks again for helping improve our documentation! I am reaching out to let you know that a change has been processed to add steps for adding the IP address to the cluster as well. This change should be live later today :)

Please feel free to comment should you need anything further.

Thanks again for reaching out and hope you have a wonderful rest of your day!
Masha from the

[2020-01-27 21:50] MashaMSFT commented on #42101
Hi @kiki-kekat , thanks again for helping improve our documentation! I am reaching out to let you know that a change has been processed to clarify between a cloud share witness and a file share witness. This change should be live later today.

Please feel free to comment should you need anything further.

Thanks again for reaching out and hope you have a wonderful rest of your day!
Masha from the

[2020-01-27 21:52] #31199 closed

[2020-01-27 22:10] PeterCLu commented on #46606
@CortalUX Thank you for the report. The changes have been made to the article via the PR that @ram-msft created above.

You should see the changes on our live site in a few hours. #please-close

[2020-01-27 22:10] #46606 closed

[2020-01-27 22:22] Karishma-Tiwari-MSFT commented on #46708
Please refer to these docs on Assign multiple IP addresses to virtual machines & scale sets:

https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-multiple-ip-addresses-portal

https://github.com/Azure/vm-scale-sets/blob/master/preview/network/readme.md#multiple-nics-per-vm

[2020-01-27 22:22] femsulu commented on #46550
@n2N8Z  - AFAIK, this is by design and I am not aware of how to avoid this. adding @bwren to provide his input or pull in a SME that can authoritatively answer your question.
In addition, would be great to understand how the current GUID format is impacting your solution so we can try to provide a workaround if possible.

Cheers.

[2020-01-27 22:24] PeterCLu commented on #46321
@alathrop Thanks for your report, your feedback on the designer is extremely helpful. Since it appears that our product team has heard you, I will go ahead and #please-close this issue.

If you feel that your issue has not been resolved, please reopen the documentation issue and provide additional context. For product issues, contact technical support.

[2020-01-27 22:24] #46321 closed

[2020-01-27 22:26] JimacoMS3 commented on #40863
@AshokPeddakotla-MSFT Let's leave this open for the next couple of weeks. It will be a good reminder to me to update the screenshots, etc. when I review the topic.

[2020-01-27 22:29] MartinJaffer-MSFT commented on #46799
@vlado101 is this what you are looking for?:
![image](https://user-images.githubusercontent.com/46612670/73219598-656b4600-4111-11ea-8c26-7315bd9e3fbb.png)

[2020-01-27 22:37] PeterCLu commented on #46611
@CortalUX Thank you for your report. The technical notes are missing for this article. They detail how the "Noted" values are calculated for different data types. It also explains for non-numeric or boolean columns, these values return null.

The notes have been added to the article. You should see them live in the next few hours.
#please-close

[2020-01-27 22:37] #46611 closed

[2020-01-27 22:39] Mike-Ubezzi-MSFT commented on #46562
@JonathanWilbur This is correct. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-01-27 22:39] #46562 closed

[2020-01-27 22:48] rachel-msft commented on #46864
Hi @mbanck. Thanks for reaching out. What you described is something we are working on defining and documenting. Once we have that clearly defined, the document will be updated to reflect it.

[2020-01-27 22:51] NavtejSaini-MSFT commented on #46864
@rachel-msft Should we close the thread for now or assign it to you.

[2020-01-27 22:51] rachel-msft commented on #46864
Please close

[2020-01-27 22:51] #46864 closed

[2020-01-27 22:56] Robot1que opened #46913 "Uploaded HTML files have incorrect Content-Type"
Looks like tutorial is missing `-Properties @{ ContentType = "text/html; charset=utf-8"; }` parameter when uploading HTML file using `Set-AzStorageblobcontent` cmdlet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d693507-4b62-07d9-a708-d26d62d990ac
* Version Independent ID: 6c7f4c32-69da-3929-dbf2-1591d667f979
* Con

[2020-01-27 22:58] Therealkrug opened #46914 "How many domain can I configure against a CDN, could i add 1000 if needed?"
How many domain can I configure against a CDN, could i add 1000 if needed?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b32fbbf3-178d-a0ef-7c3a-87df74a8eb16
* Version Independent ID: 2475b34a-88e8-5b45-723d-ee0a62230b8a
* Content: [Tutorial - Add a custom domain to your Azure CDN endpoint](https

[2020-01-27 23:01] marc-gmail-towersap opened #46915 "accidently uninstalled/reinstalled, now prompting for log file"
we are migrating from one VM to another, where we thought the VMs were cloned and the IR was pointing to the old server.  We thought we could safely delete the IR on the new server and then re-configure it, And to test it out (we assumed the existing IR in the datafactory is pointing to the 'old VM', so we created a quick new IR and installed the IR on the new machine with the new authentication k

[2020-01-27 23:04] #46906 closed

[2020-01-27 23:05] JimacoMS3 commented on #45415
@cuadue Thanks very much for pointing this out. I agree, that is an omission. I'll update the topic in the next couple of weeks, but just FYI, there are a few ways of doing this. Most of the device SDK's contain methods on the device client to upload blobs. Here are some links:

* C : https://docs.microsoft.com/en-us/azure/iot-hub/iot-c-sdk-ref/iothub-device-client-h/iothubdeviceclient-uploadtoblo

[2020-01-27 23:21] ThomasWeiss commented on #46296
@subashsivaji thanks for your feedback, the doc has been updated accordingly.
#please-close

[2020-01-27 23:21] #46296 closed

[2020-01-27 23:25] dotnetgator opened #46916 "DisplayName is incorrectly listed as optional"
In the ClaimsProvider description, DisplayName is listed as the following:
     DisplayName	0:1 A string that contains the name of the claims provider that can be displayed to users.
However, uploading a ClaimsProvider that does not include a DisplayName results in the following:
     Validation failed: 1 validation error(s) found in policy "B2C_1A_EXAMPLE" of tenant "custompolicies.onmicrosoft.co

[2020-01-27 23:25] robinsh commented on #44535
If the goal is clear and nobody understands it, maybe it is not as clear as you think it is. I found the question particularly confusing, as noted above in my response, which received no answers or clarification. We would love to be able to provide an answer, but don't have enough information. I think @JimacoMS3 was right, and whatever it is you're asking for doesn't exist or can't be done, and th

[2020-01-27 23:26] jimkienlen commented on #45511
Also looking for this information, how to create an rbac role for app service access restrictions.

[2020-01-27 23:33] Mike-Ubezzi-MSFT commented on #46872
@yashwanth-yenugu Thank you for your interest in Azure. Can you please take a look at the following document and comment on whether this assists you. Thank you.

[Define a SAML technical profile in an Azure Active Directory B2C custom policy](https://docs.microsoft.com/en-us/azure/active-directory-b2c/saml-technical-profile)

[2020-01-27 23:37] pvanroos commented on #44956
What's the status of including V3 here?

[2020-01-27 23:40] FrankHu-MSFT commented on #46761
hey @Norrch2 if there's no response by end of day tomorrow i'll be closing out this git issue. Thanks for bringing this to our attention, but without more details we aren't going to be able to answer this issue. If you're interested in getting what you're requesting added as a feature I suggest submitting it as feedback against the uservoice section here : https://feedback.azure.com/forums/169401-

[2020-01-27 23:44] Norrch2 commented on #46761
Sorry frank. I replied to the email but it didn’t post. Here is my previous message

Sorry for the delay Frank.

Here is the permalink to the login-NonInteractive example provided by the sample policies.

https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/blob/d20bb35939124503f10661963c5e3129603eea95/LocalAccounts/TrustFrameworkBase.xml#L409

[2020-01-27 23:45] Mike-Ubezzi-MSFT commented on #46885
@leela-uppuluri Thank you for your interest in Azure. I wanted to see if you are attempting to deploy this from home or in a corporate environment where there is a firewall, where port 5671 might be blocked?

[2020-01-27 23:46] FrankHu-MSFT commented on #43312
hey @bartvermeersch sorry for the very late reply, however after some further research it looks like the issue was related to some flagging inconsistencies, the flag should have been : ForcePasswordChangeOnLogOn

Not ForcePasswordResetOnLogonFeature we are updating the docs to remove the ForcePasswordResetOnLogonFeature accordingly. Thanks again for your feedback!

[2020-01-27 23:46] FrankHu-MSFT commented on #43312
As this issue is being addressed I'll be closing this out by end of day tomorrow please let us know if you have anymore issues in regards to this,

[2020-01-27 23:46] #43489 closed

[2020-01-27 23:46] #46734 closed

[2020-01-27 23:47] FrankHu-MSFT commented on #46734
Sounds good, since we've addressed this issue, I'll be closing out this github issue now, please let us know if you have anymore concerns through a new github issue. Thanks!

[2020-01-27 23:48] Adam-Smith-MSFT commented on #46913
@Robot1que Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-27 23:49] timowille commented on #46655
Hi @MohitVerma-MSFT and @baatch,
i'm seeing the same issue. The behavior is as described in the documentation:
"Each exported message in Event Hubs and Service Bus contains the full message the device sent in the "body" property in JSON format."
The problem is that there is no way to connect the telemetry data to device data, since the device id is missing in the telemetry data. It would be good t

[2020-01-27 23:51] Mike-Ubezzi-MSFT commented on #46888
@techsaau Thank you for your interest in Azure. I want to suggest the following document as a starting point but we are investigating and will update you with additional information.

[Control egress traffic for cluster nodes in Azure Kubernetes Service (AKS)
](https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic)

[2020-01-27 23:54] kevinlam1 commented on #46826
Do you have a client that is using the older service bus client and are experiencing issues when using logic apps with the service bus connector?

[2020-01-27 23:57] maya-cnx commented on #43489
So user just needs to toggle back and forth between Azure AD User account and Access Key, in console, to view data?

[2020-01-28 00:04] Mike-Ubezzi-MSFT commented on #46901
@gauravga Thank you for bringing this to our attention. We are investigating and will update you when we have additional information to share.

[2020-01-28 00:07] marc-gmail-towersap commented on #46915
ah sorry, don't know how to edit the title, but the title should be '... now prompting for backup file'

[2020-01-28 00:08] Mike-Ubezzi-MSFT commented on #46902
@mjonespro Thank you for bringing this to our attention. We are investigating and will update you when we have additional information to share.

[2020-01-28 00:23] FrankHu-MSFT commented on #43489
@maya-cnx I would suggest engaging via a support ticket for more information. If you're interested in a feature request please submit it against the feedback uservoice forums here : https://feedback.azure.com/forums/169401-azure-active-directory

[2020-01-28 00:23] #46775 closed

[2020-01-28 00:31] femsulu commented on #46900
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-28 00:34] femsulu commented on #46912
Thanks for your feedback. This is super useful. The feedback has been shared with the content owner for further review. Thanks for your patience. @rayne-wiselman - fyi

[2020-01-28 00:42] MarileeTurscak-MSFT commented on #46898
@Superdabdab
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-28 00:44] MarileeTurscak-MSFT commented on #46916
@dotnetgator I believe this is correct and made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/102469

CC @mmacy

[2020-01-28 01:00] ms-yuukih commented on #46775
@FrankHu-MSFT I sent a separate email to Rob and he agreed to update the doc. It would be great if you guys could sync up if you haven't. Thanks!

[2020-01-28 01:14] ejstan commented on #46769
@Karishma-Tiwari-MSFT how to do this in AKS? The generation of csr uses cfssl.

[2020-01-28 01:15] Karishma-Tiwari-MSFT commented on #46717
We could logically create multiple WVD tenants all connected to the same AAD tenant and then delegate control to each of the WVD tenants to the relevant team as needed.

@ChristianMontoya Can you please help confirm on this customer query.
Do we have any detailed documentation on the same. Please let us know. Thanks :)

[2020-01-28 01:16] memoryz opened #46918 "Missing document about "idempotency_token" attribute in "RunsSubmit" API"
Based on document here: https://docs.microsoft.com/en-us/azure/databricks/kb/jobs/jobs-idempotency, the "RunsSubmit" API supports an attribute "idempotency_token", but it's not reflected in the API documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94757e87-8be2-3279-4a7e-51fbbaf7d678
* Version Independent I

[2020-01-28 01:18] Karishma-Tiwari-MSFT commented on #46749
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.
@v-miegge Can you please take a look. Thanks :)

[2020-01-28 01:18] Mike-Ubezzi-MSFT commented on #46871
@Jonny2026 Thank you for you interest in Azure. We are investigating and will update you when we have additional information.

[2020-01-28 01:21] Karishma-Tiwari-MSFT commented on #46886
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-28 01:21] Mike-Ubezzi-MSFT commented on #46876
@diecknet Thank you for bringing this to our attention. We are investigating and will update you when we have additional information.

[2020-01-28 01:23] Mike-Ubezzi-MSFT commented on #46893
@rwalsh3711 Thank you for bringing this to our attention. We are investigating and will update you when we have additional information.

[2020-01-28 01:25] Mike-Ubezzi-MSFT commented on #46908
@isaacgonzalez77 Thank you for bringing this to our attention. We are investigating and will update this issue when we have additional information to share.

[2020-01-28 01:26] Karishma-Tiwari-MSFT commented on #46852
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-28 01:27] wiazur opened #46919 "Missing slash in url path"
The sample shown in the Computer Vision quickstart for REST in Python is missing a slash. I was getting errors without it. I then added it in, and it worked great.

https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/quickstarts/python-analyze

Here is where I added it in: `analyze_url = endpoint + "/vision/v2.1/analyze"`

It was the forward slash before the word `vision`. Th

[2020-01-28 01:31] Mike-Ubezzi-MSFT commented on #46909
@taromielnaz Thank you for your interest in Azure. We are investigating and will update this issue when we have additional information to share.

[2020-01-28 01:33] kuzhao commented on #35795
Thanks MS team! That TDE BYOK article is clear and helpful about key options.

[2020-01-28 01:38] ChristianMontoya commented on #46717
@gerrynicol : Confirming @Karishma-Tiwari-MSFT 's comment! When you create a WVD tenant, you associate it with an Azure AD tenant and an Azure Subscription ID, but there's no specific limit at the moment.

As we get closer to limits, we will likely publish these like other Azure services.

[2020-01-28 01:41] BhargaviAnnadevara-MSFT commented on #44499
@ghogen Can you please take a look?

[2020-01-28 01:56] bwren commented on #44445
@MSNina123456 I think we're dealing with a support issue now as opposed to a doc issue.  From what I'm being told, we should be able to collect from a mapped drive, and I don't know whether diskpart would be an appropriate test for that. Think we need to bring in the support people to figure this one out.

[2020-01-28 02:05] swigerb opened #46920 "Microsoft Flow is now called Power Automate"
Just a reminder to update this article and any mention of Microsoft Flow as it is now know as Power Automate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82ee9751-961d-7109-63d6-813b1862c632
* Version Independent ID: 583d1b2f-9c1a-3580-9d14-37bb551eaf44
* Content: [Integration and automation platform options in Azur

[2020-01-28 02:11] santhoshbomma9 opened #46921 "Delete an Offer after it has gone live"
How can one delete an offer, after its gone live?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1cf32c6-d75a-b5d2-c6af-41647f7b868c
* Version Independent ID: 22e77ed0-db1b-50c3-03fa-5ee6f9b194c9
* Content: [Update an existing Commercial Marketplace offer](https://docs.microsoft.com/en-us/azure/marketplace/partner-cen

[2020-01-28 02:14] himanshusinha-msft commented on #46874
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-28 02:15] mathieu-benoit commented on #45770
@jakaruna-MSFT this feedback could be closed, cert-manager 0.12.0 is here now.

[2020-01-28 02:24] Kenneth-Abrams opened #46922 "AML Pipeline Snapshots"
We are encountering a scenario where we've changed a file name in current local directory but the pipeline run is ignoring that change. It is running based on the snapshot with legacy file and continues to ignore the new file.

How can we resolve this issue and is there a way to reset these snapshots? @nicolemhfarley and @jadhosn may be able to elaborate on this current issue.

---
#### Document D

[2020-01-28 02:36] FrankHu-MSFT commented on #46535
hey @fume so the resolvejsonpathsinjsontokens is used to help tell b2c to resolve json paths as a claim value.

I'm going to engage some more members of the team to review this and figure out the best way to integrate this into the docs.
cc : @mmacy

[2020-01-28 02:41] digimaun opened #46923 "Why jump to portal for IoT Hub creation?"
Why jump between tools (portal) in the documentation? You can also create an IoT Hub and delete resources via CLI. It would be nice to see SDK + CLI tooling documentation where you don't need to get on the portal to tell a story.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9565ceb-e636-e815-f7cf-ff9523fabc2f
* Vers

[2020-01-28 02:41] omartin2010 opened #46924 "typo?"
"on this information by providing specifics oo using Azure Monitor...". specifics oo?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fa6fe48-0115-9c3e-14a1-813822bbb734
* Version Independent ID: 1c6794ab-5c99-cac9-9c71-314b20116743
* Content: [Monitoring Azure Machine Learning](https://docs.microsoft.com/en-us/azure/m

[2020-01-28 02:45] macolso opened #46925 "Error deleting a network profile"
Azure Container Instances (ACI) is experiencing a issue where VNets with container group deployments from the past 4 weeks
may fail to delete with errors such as:
[code]
Product team is currently working to mitigate this issue. Unfortunately if there is no way to remove this on your own. We're targeting resolution by end of week. If there any questions, don't hesitate to ask.

[2020-01-28 02:48] LucianFrango opened #46926 "Can Azure Firewall FAQ page be updated with this limitation please?"
Hi, can the following article [https://docs.microsoft.com/en-us/azure/firewall/firewall-faq](https://docs.microsoft.com/en-us/azure/firewall/firewall-faq) please have another question and answer added as this detail appears to be missing in all documentation.
Example Q = "How many Azure Firewalls can be provisioned in a VNet?"
Example A = "Azure Firewall currently only supports deployment of a sin

[2020-01-28 03:02] macolso opened #46927 "Error deleting a network profile"
Azure Container Instances (ACI) is experiencing a issue where VNets with container group deployments from the past 4 weeks
may fail to delete with errors such as:
[code]
Product team is currently working to mitigate this issue. Unfortunately if there is no way to remove this on your own. We're targeting resolution by end of week. If there any questions, don't hesitate to ask.
---
#### Document Det

[2020-01-28 03:02] #46925 closed

[2020-01-28 03:02] VikasPullagura-MSFT commented on #46910
@ticianaciminari Thanks for the Feedback. The doc is fixed now. The changes will go live once the PR is approved.

[2020-01-28 03:03] CHEEKATLAPRADEEP-MSFT commented on #46918
@memoryz  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-01-28 03:04] macolso opened #46928 "Error deleting a network profile"
Azure Container Instances (ACI; ie the service that deployments your virtual node pods) is experiencing a issue where VNets with container group deployments from the past 4 weeks
may fail to delete with errors such as:
[code]
Product team is currently working to mitigate this issue. Unfortunately if there is no way to remove this on your own. We're targeting resolution by end of week. If there any

[2020-01-28 03:05] DixitArora-MSFT commented on #46920
Hi @swigerb Thanks for your feedback. We will review and update as appropriate.

[2020-01-28 03:08] macolso opened #46929 "Error deleting a network profile"
Azure Container Instances (ACI) is experiencing a issue where VNets with container group deployments from the past 4 weeks
may fail to delete with errors such as:
[code]
Product team is currently working to mitigate this issue. Unfortunately if there is no way to remove this on your own. We're targeting resolution by end of week. If there any questions, don't hesitate to ask.
---
#### Document Det

[2020-01-28 03:13] #46910 closed

[2020-01-28 03:15] VikasPullagura-MSFT commented on #46907
@ticianaciminari Thanks for the Feedback. The doc is fixed now. The changes will go live once the PR is approved.

[2020-01-28 03:18] FrankHu-MSFT commented on #46728
hey @fume I'm not sure if this is accurate.. we'll need to do some further research into this to figure out what's going on. However for future reference, you should be able to utilize the asserttheclaimisequaltovalue claim for both read/write see : https://stackoverflow.com/questions/55584262/azure-ad-b2c-raising-an-error-on-aad-userreadusingemailaddress-using-a-compare

In addition to that, I'm

[2020-01-28 03:19] #46907 closed

[2020-01-28 03:24] MartinJaffer-MSFT commented on #46895
The "partitionedBy" does not exist in [V2](https://docs.microsoft.com/en-us/azure/data-factory/connector-azure-blob-storage).  You cannot mix-and-match V1 and V2.

Depending upon what you are trying to do, there are multiple ways to accomplish it.  For example, in the copy activity (delimited text in this example):
![image](https://user-images.githubusercontent.com/46612670/73230907-965c7280-4133-

[2020-01-28 03:27] SubhashVasarapu-MSFT commented on #46926
@LucianFrango , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-01-28 03:28] SubhashVasarapu-MSFT commented on #46914
@Therealkrug ,  We are looking into this query and will update you as soon as possible.

[2020-01-28 03:50] Justin-Nash opened #46930 "Can you clarify if this is will work with Legacy authentication turned off?"
This page implies that passwords generated this way will always work. But from what i can tell so far in my research that this will not work if the company has a Baseline policy: Block legacy authentication turned on. Or if a power shell command "LegacyAuthProtocolsEnabled" is set to false.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-01-28 03:50] CHEEKATLAPRADEEP-MSFT commented on #46725
@Russellmd We just realized this seems to be occurring only to certain functions. While we investigate, can you please try manually configuring the functions output by pasting the key (remember to select “provide azure functions settings manually”)? This will unblock you.

[2020-01-28 03:52] FrankHu-MSFT commented on #46754
@RMacfarlane I see. thanks for letting us know about this. This is a specific scenario that probably needs more looking into, I'm engaging some more team members to look into this as soon as possible.

cc: @rwike77

[2020-01-28 03:55] memoryz opened #46931 "Please update TerminationCode list"
The TerminationCode list is not complete. We have noticed these new entries at least:
SPARK_ERROR, AZURE_RESOURCE_PROVIDER_THROTTLING
Are there more?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e5705b9-3ec2-f680-3238-acc4ab646b52
* Version Independent ID: 5d6b6e4c-efa9-bc3d-e76e-8f104f3e887c
* Content: [Clusters AP

[2020-01-28 03:58] dem108 opened #46932 "nextOffset link is broken in Bing Image Search Python SDK documentation"
Issue on Python SDK documentation for Cognitive Services Bing Image Search. Under method `search`, the parameter `offset`, there are two issues:
1. There is a new line after the word `totalEstimatedMatches`. This can be easily fixed.
1. The link named `nextOffset` is broken. I can't suggest the fix because I don't know the right link. The link is actually what I need to know to solve my problem.

[2020-01-28 04:01] dem108 commented on #46932
The current `nextOffset` link is set to: https://docs.microsoft.com/en-us/python/api/azure-cognitiveservices-search-imagesearch/%5Bhttps://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference?view=azure-python#nextoffset%5D(https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-referencenextoffset), which leads to 404.

[2020-01-28 04:04] joshheitzman-redcley-v-joheit-msft opened #46934 "Is it required for an Azure Active Directory tenant admin to be involved get this working properly"
I keep getting the following error when trying to get a token when using client id and secret I created following these instructions:
&lt;app registration display&gt; needs permission to access resources in your organization that only an admin can grant. Please ask an admin to grant permission to this app before you can use it.

While I'm an admin for the subscription, I'm not one for the tenant a

[2020-01-28 04:08] dcbrown16 opened #46935 "Classic standalone VM"
The link provided for "Virtual Machines: Classic" is a very old blog that uses ASM portal steps.
https://docs.microsoft.com/en-us/archive/blogs/kaevans/autoscaling-azurevirtual-machines
Am I correct in understanding that these steps are not possible since the closure of the ASM portal?

The latest doc talking about Cloud Services scaling mentions the scaling option for standalone VMs and says you

[2020-01-28 04:09] RohitMungi-MSFT commented on #46919
@wiazur Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-01-28 04:19] SwathiDhanwada-MSFT commented on #46503
We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-01-28 04:19] #46503 closed

[2020-01-28 04:29] femsulu commented on #46564
@rsryanstephen , I am able obtain the Workspace ID per instructions in the document. (Also referenced in the screenshot). Don't hesitate to share a screenshot if you are still unable to find the Advanced setting tab. Would also recommend checking your access level to see if you have the appropriate Admin rights to the subscription.

![image](https://user-images.githubusercontent.com/34327711/73235

[2020-01-28 04:31] femsulu commented on #46564
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-01-28 04:31] #46564 closed

[2020-01-28 04:39] souravmishra-msft commented on #46582
Closing this thread for now

[2020-01-28 04:39] #46582 closed

[2020-01-28 04:41] RohitMungi-MSFT commented on #46922
@Kenneth-Abrams Based on the description of the issue, it looks like caching and reuse is enabled for your pipeline step that may be using the older file. Could you please try to update the pipeline step with `allow_reuse=False` and check if it works. More details about this is available [here](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-your-first-pipeline#caching--reuse

[2020-01-28 04:43] neeleshray-msft commented on #46930
@Justin-Nash Thanks for reaching out. We will review and update as appropriate.

[2020-01-28 04:43] #46740 closed

[2020-01-28 04:45] SwathiDhanwada-MSFT commented on #46935
@dcbrown16 Thanks for your comment. We are actively looking into it and will get back to you shortly.

[2020-01-28 04:46] CHEEKATLAPRADEEP-MSFT commented on #46931
@memoryz  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-01-28 04:47] RohitMungi-MSFT commented on #46924
@omartin2010 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-01-28 04:49] ketan-chawda-msft commented on #46826
@kevinlam1 Thank for your response. AFAIK, OP is looking for general technical details of the Service Bus connector like what version of ServiceBus library is being used/deployed to Azure LogicApps right now. I am not sure if we have such details available in public documentation.

@ecfan can you share your thoughts.

[2020-01-28 04:53] ezenwankwogabriel commented on #31771
@theweiweiway after setting up custom domain
<img width="1270" alt="Screenshot 2020-01-28 at 5 41 48 AM" src="https://user-images.githubusercontent.com/32826083/73236276-04378700-4192-11ea-9326-f70a2778a0a6.png">
On the TSL/SSL tab, Private Key Certificate (.pfx), i generate a private key for my domain name created previously by clicking on the Create App Serviced Managed Certificate
<img width="1

[2020-01-28 05:05] hansenms commented on #46934
You need to put in a ticket at aka.ms/identityhelp or use a tenant where you are allowed as a user to grant consent.

[2020-01-28 05:05] kogesaka commented on #44632
@rishabpoh,

What I want to check is whether the default behavior when selecting "Data Protection" for a classic storage account.

The documentation does not mention classic storage accounts.

[2020-01-28 05:06] msrini-MSFT commented on #46825
@Ayanmullick , Do you have any update on this issue?

[2020-01-28 05:07] msrini-MSFT commented on #46822
@andyjballgit , It is already documented.

"FrontdoorAccessLog logs all requests that are forwarded to customer back-ends. FrontdoorWebApplicationFirewallLog logs any request that matches a WAF rule."

[2020-01-28 05:07] #46822 closed

[2020-01-28 05:08] ketan-chawda-msft commented on #46782
@booyaa Thank you for contributing to the doc by creating PR. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-28 05:09] VikasPullagura-MSFT commented on #46804
@kknight-valorem I am assigning the issue to content author for checking this and updating the document as appropriate.

[2020-01-28 05:09] msrini-MSFT commented on #46772
Azure firewall has 2 instances by default. Hence, the number of SNAT ports for 5 PIPs is – (1024*2)*5 = 10240.

Please note instance count is determined based on CPU utilization. You can also increase instance count manually in the backend. So yes, if you are hitting SNAT port exhaustion (Status is marked degraded at 95% usage), the manual workaround can be applied.

[2020-01-28 05:10] VikasPullagura-MSFT commented on #46804
@cynthn Can you please look into this doc enhancement request and update as applicable.

[2020-01-28 05:24] AshokPeddakotla-MSFT commented on #46923
@digimaun Thanks for the feedback. As you mentioned, there are steps available to create IoT Hub using CLI: https://docs.microsoft.com/en-us/cli/azure/iot/hub?view=azure-cli-latest#az-iot-hub-create
The information provided on the doc could be for better understanding and for the better customer experience.

Adding author @wesmc7777  for further comments and update the doc with a note as appropria

[2020-01-28 05:28] chandruchiku commented on #46882
Makes sense now. Thank you.

[2020-01-28 05:28] #46882 closed

[2020-01-28 05:52] CHEEKATLAPRADEEP-MSFT commented on #46904
@ticianaciminari Thanks for the question! We are investigating and will update you shortly.

[2020-01-28 05:55] amanmcse commented on #46631
@shankurmahajan I am checking with our Product Team on this. I will update you once I have the details on this.

[2020-01-28 06:00] CHEEKATLAPRADEEP-MSFT commented on #46915
@marc-gmail-towersap  Thanks for the question! We are investigating and will update you shortly.

[2020-01-28 06:01] AshokPeddakotla-MSFT commented on #45812
@lyrana Just checking in to see if there is any update on this issue so that it can be closed.

[2020-01-28 06:02] CHEEKATLAPRADEEP-MSFT commented on #46903
@sanchetanparmar  Thanks for the question! We are investigating and will update you shortly.

[2020-01-28 06:03] thomshib opened #46936 "Would elastic query be supported in secondary read-only replica shards?"
Is there any restriction on running elastic query(select statements) with external tables on secondary read-only replica?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36c7839a-d1c6-d5a8-fffd-0c3d81c2bc67
* Version Independent ID: c26ce8c9-1b8f-fbcf-70d8-b64c20ff9ca8
* Content: [Reporting across scaled-out cloud datab

[2020-01-28 06:03] CHEEKATLAPRADEEP-MSFT commented on #46911
@foofella  Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-28 06:06] BryanTrach-MSFT commented on #46513
@maghanetways This falls outside the scope of the documentation. As a result, we try to keep discussions limited to documentation improvements. We'd kindly suggest you post your question to [Microsoft Q&A](https://docs.microsoft.com/answers/questions/index.html), where there are Microsoft engineers who can assist you further. I would suggest tagging your question with Azure Active Directory to ens

[2020-01-28 06:06] #46513 closed

[2020-01-28 06:07] ChiragMishra-MSFT commented on #46915
@marc-gmail-towersap Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - [MSDN ](https://docs.microsoft.com/en-us/azure/data-factory/) or [stack overflow](https://stackoverflow.com/questions/tagged/azure-data-factory).

Once you post your issue on forums, it will have visibility across the community which is a better suited audience f

[2020-01-28 06:07] #46915 closed

[2020-01-28 06:12] ChiragMishra-MSFT commented on #46904
@andremarques023, @ticianaciminari  Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - MSDN or stack overflow.

Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

Please create a Forum thread and post it's link here and tag me so that we can tr

[2020-01-28 06:12] #46904 closed

[2020-01-28 06:14] AshokPeddakotla-MSFT commented on #46512
@aros1697 Thanks for confirming that you got it working after changing the account key.
@antonbsvard Can you try once changing the key and see if it helps to resolve the issue?

[2020-01-28 06:15] jakaruna-MSFT commented on #46929
@macolso I will close this duplicate  issue and track this with #46927

[2020-01-28 06:15] #46929 closed

[2020-01-28 06:16] jakaruna-MSFT commented on #46928
@macolso I will close this duplicate  issue and track this with #46927

[2020-01-28 06:16] #46928 closed

[2020-01-28 06:18] jakaruna-MSFT commented on #46927
@macolso i hope all the container instances on that subnet are deleted already and then you tried to delete the network profile

[2020-01-28 06:20] MoimHossain opened #46937 "Function app limits/quotas are not clear from documentation"
Hello there, We are trying to understand what is the max/hard limit of number of Consumption plans in a subscription per-region. The following document [Azure function limits doc](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#functions-limits) has this:

We are in Enterprise Agreement, have management groups and multiple subscriptions. I

[2020-01-28 06:31] lucidqdreams opened #46938 "URL Path issue"
trying to create a URL ingress path seems to fail to reach the service at the URL plus path /other/*

I am using the guestbook and aspnetapp applications.  I publish them both and they work just fine.  I would like to access one service at the root url and one service at a path off the root url.

I don't change anything else except the backend part of the rule.

apiVersion: extensions/v1beta1
kind

[2020-01-28 06:40] amanmcse commented on #46843
@dotnetgator I have assigned this to the author of the document to review suggested changes.

[2020-01-28 06:42] DixitArora-MSFT commented on #46937
Hi @MoimHossain Thanks for your feedback. We will review and update as appropriate.

[2020-01-28 06:49] Chandan-SS opened #46939 "Scale set fails to execute shutdown scripts"
Hi --

Content: Azure virtual machine scale sets overview
Content Source: articles/virtual-machine-scale-sets/overview
Service: virtual-machine-scale-sets

I have created a systemd unit file to execute python script whenever VM scales down.

When I do a shutdown on VMSS instance (shutdown command), python script executes fine, however when I manually scale down from the portal (5 -- 1) shutdown sc

[2020-01-28 07:23] pumppi commented on #40871
Please fix this issue in specs, we also used hours to generate x5t value. End up to use hex2base64 converter. Your specs says: "Should be the X.509 Certificate SHA-1 thumbprint"  but don't hint about converting from HEX to BASE64.

[2020-01-28 07:26] anuthereaper commented on #41969
So I was facing the same problem but resolved it by just adding the --recursive keyword at the end.
The if you get an authorization error: **Description=This request is not authorized to perform this operation using this permission, this means your blob has been set to Access key authentication and you need to use a SAS key along with your request.

So a simple file download command will look some

[2020-01-28 07:28] AjayKumar-MSFT commented on #45848
Thanks @JanNepras for the follow-up.
@sethmanheim, Requesting your comments on this ask.

[2020-01-28 07:29] tburns10 commented on #41465
I'm seeing three potential issues called out here.

1.	Issues using TensorFlow Lite model from tensorflow/examples GitHub repo in our sample app for running inference with the TensorFlow model exported from CVS.
[Our app sample currently only supports TensorFlow model thus, grabbing a different example model will cause errors. It seems like a different model is being tried.]

2.	Hitting errors whe

[2020-01-28 07:31] AjayKumar-MSFT commented on #42147
Thanks @sarah026 for posting the solution that worked for you. It would benefit the users experiencing a similar issue.

[2020-01-28 07:34] SadiqhAhmed-MSFT commented on #46921
@santhoshbomma9 Thanks for the question. Refer to  - "[Delete a published SKU from the Azure Marketplace](https://docs.microsoft.com/en-us/azure/marketplace/cloud-partner-portal/manage-offers/cpp-delete-offer#delete-a-published-sku-from-the-azure-marketplace)" to delete an offer.

Feel free to reach out to us if you've additional questions in this regard.

[2020-01-28 07:45] SubhashVasarapu-MSFT commented on #46938
@lucidqdreams , We are looking into this query and will update you as soon as possible.

[2020-01-28 07:52] tdefise opened #46940 "Information Regarding Email Notification"
Would it be possible to know who will the following alerts "You receive an email notification upon detection of anomalous database activities. The email provides information on the suspicious security event including the nature of the anomalous activities"?
In my opinion, it isn't clear about which email address those emails will be sent
Also, starting from which severity those mails will be sent?

[2020-01-28 07:57] sanchetanparmar commented on #46903
Sorry, it was my bad. i was using custom DNS. With default azure DNS its working fine.

[2020-01-28 07:57] #46903 closed

[2020-01-28 08:00] neeleshray-msft commented on #46844
@9songs We will be closing this thread now. Let us know if you need further help.

[2020-01-28 08:00] #46844 closed

[2020-01-28 08:03] tdefise commented on #46940
Information is available there https://docs.microsoft.com/en-us/azure/security-center/security-center-iaas-advanced-data

[2020-01-28 08:03] #46940 closed

[2020-01-28 08:08] CedricZhu commented on #46027
Hi Baron and SwathiDhanwada,
Thanks for your help.

Our customer did the following
===============
When calling https://status.azure.com/, apparently no matter what value is specified for the service option in the query string (or even not providing a query string at all), the response will be the same.

For example, all the following requests return the same response:

https://status.azure.com/en

[2020-01-28 08:12] rwiankowski commented on #46877
I'm working with my defaults:

"applicationGatewaySku": {
 "defaultValue": {
"name": "Standard_v2",
"tier": "Standard_v2"
},
"type": "object"
},

In the NSG I am now using:

              {
                "name": "Allow_Azure_Application_Gateway_Defaults",
                "properties": {
                  "protocol": "*",
                  "sourcePortRange": "*",
                  "destinationPor

[2020-01-28 08:13] amanmcse commented on #46837
@dotnetgator Sure, I will check and update this thread.

[2020-01-28 08:16] DaveZimmermann opened #46941 "SMTP-Relay support Request"
The Support-Request about the SMTP-Port is not anymore available during the creation of a support-request.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 027fa865-2329-23de-3740-cfbe35359302
* Version Independent ID: 99f0a52f-8df4-f8d4-3d4e-778fea2a389f
* Content: [Troubleshoot outbound SMTP connectivity in Azure](http

[2020-01-28 08:18] ganesh-gawande opened #46942 "How to make changes for route in iotedgehubdev"
I have modified the default program and changed input message handler name to something else.
await ioTHubModuleClient.SetInputMessageHandlerAsync("procInput", PipeMessage, ioTHubModuleClient);

When I run the program from visual studio it takes default handler name as input1.  How can i change it to point to procInput?
How can I change command line arguments for the iotedgehubdev module before ru

[2020-01-28 08:20] kogesaka opened #46943 "NSG ("DenyInternet") setting in Deployment steps is incorrect."
Hi,

In Step 4 of the Deployment steps, I see "c. Add a rule to Deny all outbound Access to Internet.", but the results  ([https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/media/high-availability-guide-standard-load-balancer/high-availability-guide-standard-load-balancer-network-security-groups.png](https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/media/hi

[2020-01-28 08:22] Klaas- commented on #46036
For public visibility: the latency was an issue with the MSeries in west-europe. This was fixed in the azure infrastructure and is working now, the throughput is still an open issue.

[2020-01-28 08:23] santhoshbomma9 commented on #46921
Hi @SadiqhAhmed-MSFT, sorry should have been more specific. How would you do it for SaaS offers please?

[2020-01-28 08:29] kiranpradeep commented on #38102
Thanks all for the responses. No, there are no specific scenarios in mind currently. I will update if we face one.

[2020-01-28 08:29] #38102 closed

[2020-01-28 08:32] tb2johm commented on #46699
Hi, sorry to say I gave up and chose another solution. It might have been that I had two subscriptions and had to provide which on of them it was, but I'm not sure.

[2020-01-28 08:43] amanmcse commented on #46846
@dotnetgator I am checking with our product team to get this information. I will update this thread.

[2020-01-28 08:46] cananac opened #46944 "Enforcing limiting expiry time"
Hi,

While using user delegation SAS, where stored access policies are not supported yet, is there a way to force SAS expiry time for less than one hour ahead as suggested? In a use case where SAS tokens will be generated by API calls from client, how can we prevent them from setting a long expiry time?

Thanks,
Canan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-01-28 08:46] PaulSells opened #46945 "Unable to install Qualys vulnerability solution on Security Center standard plan"
Hi,

As reported previously by akiller via Unable to install Qualys vulnerability solution on standard plan #45822

I am having a similar issue, I have Security Center Standard deployed but do not see an "Enable the built-in vulnerability assessment solution (powered by Qualys)" recommendation

I do see the recommendation "Vulnerability assessment solution should be installed on your virtual machi

[2020-01-28 09:00] amanmcse commented on #46850
@dotnetgator I am checking for this information and will post update on this thread.

[2020-01-28 09:02] VikasPullagura-MSFT commented on #46797
@dlepow Can you please check this and add your comments.

[2020-01-28 09:11] VikasPullagura-MSFT commented on #46277
@BenjaminHerbert Any update on this?

[2020-01-28 09:11] n2N8Z commented on #46550
The impact is that the reformated value now can't be directly compared with other MD5 hashes that have not been reformated. Hence anything that wants to use this data needs to now be aware that MD5 hashes could be in this reformated format.

[2020-01-28 09:11] JamesWhitfield opened #46946 "Inconsistent language"
`The &lt;app-id&gt;, and &lt;password&gt; are from the app that you registered with active directory as part of creating a service principal`

The password is refereed to as an app secret else where in the docs. Might be useful to state that on this page. Less experienced users may waste time looking for a value by a different name.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-01-28 09:18] VikasPullagura-MSFT commented on #46943
@kogesaka Thanks for pointing this out. I have assigned the issue to content author for updating the screenshot as appropriate.

[2020-01-28 09:19] VikasPullagura-MSFT commented on #46943
@rdeltcheva Can you please look into this feedback and update the document as applicable.

[2020-01-28 09:28] SwathiDhanwada-MSFT commented on #46687
@boethius [Here](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-how-subscriptions-associated-directory) is the document which provides step by step instructions for moving subscription from one tenant to another tenant.

Please note that once you move the subscription from one tenant to another  tenant, all the users will lose the access to resources in the s

[2020-01-28 09:28] #46687 closed

[2020-01-28 09:32] CHEEKATLAPRADEEP-MSFT commented on #46946
@JamesWhitfield  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-01-28 09:35] SwathiDhanwada-MSFT commented on #46727
@taromielnaz While scheduling the update deployment , you can check the option "Never reboot" in Reboot option so that there will be no downtime during the update and reboot the servers when there is low impact  by creating another deployment schedule.

Hope this helps!

As there are no documentation changes, we will close the issue for now. Please revert if you have further questions.

[2020-01-28 09:35] #46727 closed

[2020-01-28 09:39] msrini-MSFT commented on #46877
@rwiankowski , Can you please make sure that the "Traffic from the AzureLoadBalancer tag must be allowed" ?

Then try to add Gateway Manager tag in source?

[2020-01-28 09:44] SamirFarhat opened #46947 "State if the assignment definition can be exported through the portal"
Hi,
The Policy definition can be exported via the portal (and shown too). It's not the case for the Policy Assignment definition. Can you state please that this is not possible as many customers are asking me this question.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e746c38-18e2-56fd-becf-a4d0d05127f6
* Ver

[2020-01-28 09:45] ashvaldr opened #46948 "Bot service does not updated when commit to github"
When I commit new changes to github, my bot does not get updated and still using the first version when I deploy it using the Azure CLI.

---
#### Detail Dokumen

⚠ *Jangan edit bagian ini. Diperlukan untuk masalah penautan docs.microsoft.com ➟ GitHub.*

* ID: 81dce42d-71bc-9ac0-b016-4add247bb48a
* Version Independent ID: 72e95a87-a302-d06c-5a0f-e2f5caf201d1
* Content: [Configure continuous deploy

[2020-01-28 09:45] SwathiDhanwada-MSFT commented on #46820
@niklarin Thanks for bringing this to our attention. I have assigned this to the author to update the doc accordingly.

[2020-01-28 09:48] BhargaviAnnadevara-MSFT commented on #46909
@taromielnaz Typically, [this](https://docs.microsoft.com/en-us/azure/azure-monitor/app/app-insights-overview#get-started) is how you can get started with enabling Application Insights on your application.

If the question is whether to use single or multiple Application Insights resources, one can choose to use separate resources or a single shared resource in different scenarios:

- If those are

[2020-01-28 09:49] pjmartorell commented on #46005
Thanks for your response. But the example in the documentation provides an example specifying Alpine Linux docker image which is not working, you can try it yourself. At least you should remove the reference to Alpine Linux, otherwise you are providing an example with a specific distro which is not reproducible.

[2020-01-28 09:51] vinu11 opened #46949 "What is the latest .NET Framework supported?"
I want to upgrade my web job to .NET framework 4.8, but getting following error:
Job failed due to exit code -2146232576

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1055184-0535-4318-2ae9-79e37bea0f28
* Version Independent ID: b5dfedf8-c884-138b-0b3d-eea41e64c62b
* Content: [QuickStart: Create a C# ASP.NET app - Az

[2020-01-28 09:51] jakaruna-MSFT commented on #46871
@Jonny2026 i hope you went through this guide https://docs.microsoft.com/en-in/virtualization/hyper-v-on-windows/user-guide/nested-virtualization-azure-virtual-network which is specified in that document

[2020-01-28 09:58] luthv commented on #46776
sorry for commenting on closed thread, just one more question, my understanding is that section of document is for storage queue bindings, while I'm asking about service bus queue bindings. Is the settings for storage queue also applies to storage bus queue?

[2020-01-28 09:59] BashkaMen commented on #19578
I used Azure SignalR service for solve this proplem, and i find new problem.
Free SignalR servise has limitation 20 connection, this limit always at the peak and close my connection (single connection)

[2020-01-28 10:00] SwathiDhanwada-MSFT commented on #46947
Thanks for bringing it to our attention. We will review and update it accordingly.

[2020-01-28 10:01] SubhashVasarapu-MSFT commented on #46570
@lucidqdreams , Appreciate your patience. I had reproduced this lab and found that there were multiple hurdles in reproducing this lab. Here are those few,

**Command1:** helm init --tiller-namespace kube-system --service-account tiller-sa
**Error1:** unknown flag: --tiller-namespace
**Reason:** helm init has been removed in version 3

**Command2:** helm install -f helm-config.yaml application-gat

[2020-01-28 10:01] #46570 closed

[2020-01-28 10:01] AshokPeddakotla-MSFT commented on #46942
@ganesh-gawande Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-28 10:04] SubhashVasarapu-MSFT commented on #46941
@DaveZimmermann ,  We are looking into this query and will update you as soon as possible.

[2020-01-28 10:13] AshokPeddakotla-MSFT commented on #46857
@flodan [PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/102494) has been created to address this and update the doc. Changes will go live once it has been peer reviewed and merged.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-28 10:13] #46857 closed

[2020-01-28 10:17] ThijsLecomte opened #46950 "Soft-Delete Key Vault"
How to enable Soft-Delete in Key Vault links to an article about Azure Storage Accounts.
I think the correct link should be: https://docs.microsoft.com/en-us/azure/key-vault/key-vault-ovw-soft-delete

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1205a437-5095-8c6e-cf71-ae59c76cadd9
* Version Independent ID: 0d67bcbc-3

[2020-01-28 10:29] SubhashVasarapu-MSFT commented on #46941
@DaveZimmermann , You should be able to find it here,
![image](https://user-images.githubusercontent.com/44890829/73255955-18f23a00-41e7-11ea-87db-5171ce7aef81.png)

[2020-01-28 10:30] OffColour commented on #46722
Hi @bwren

Thanks for this. Probably the piece of documentation I'm most looking forward to!

Here's the article about Azure Monitor VM Extension https://docs.microsoft.com/en-gb/azure/virtual-machines/extensions/oms-windows.

Some good detail on deploying the agent would be great.
There seems to be multiple options for deploying the agent and the following seem the most automated, but they seem t

[2020-01-28 10:30] AshokPeddakotla-MSFT commented on #46655
@baatch @timowille We are checking on this issue internally and update you as earliest. Appreciate your time and patience.

[2020-01-28 10:40] Jonny2026 commented on #46871
@jakaruna-MSFT By now ionly went throuh the current artticle. But I will try and set up a VM using the article you just mentioned.

But nevertheless it should work with the instructions provided by this article, shouldn't it?

[2020-01-28 10:47] neeleshray-msft commented on #46950
@ThijsLecomte Thanks for reaching out. We will review and update as appropriate.

[2020-01-28 10:48] solita-kattelus commented on #41374
What is status of this currently?

[2020-01-28 11:06] diecknet opened #46951 "Please provide more precise recommendation for which Services one should configure Service Alerts"
Please clarify for **which services** one should configure Service Alerts.
As a start I think these should be useful:

- Azure Active Directory Domain Services
- Virtual Machines
- Virtual Network
- Windows Virtual Desktop
- Network Infrastructure
- Load Balancer

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd65d7a9-

[2020-01-28 11:15] girishgouda opened #46952 "Unable to set new key in storage account"
when i create a new key and try to set the ne kwy in the storage account using the command Set-AzStorageAccount with the key details. I get the error "Set-AzStorageAccount : Failure in AAD Client Credentials Grant Flow"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcfe0041-61ea-9e50-3228-c3f061713a79
* Version Indepe

[2020-01-28 11:21] ketan-chawda-msft commented on #46776
@luthv The settings you referred (batchSize and newBatchThreshold) in your OP was related to [Storage queue](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json-v1#queues).

**Note**: Storage queue settings will not be applicable for service bus.

[Here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json-v1#servicebus) is the V1 Host Setting reference

[2020-01-28 11:32] SnehaAgrawal-MSFT commented on #46949
@vinu11 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-28 11:33] beowulf79 opened #46953 "What can we use in replacement of amr claim ?"
V1.0 tokens have the 'amr' claim which one can use to authorize requests based on the strength of the authentication; this claim has been removed in V2.0; Anyone here came across similar issue ? How would you perform this using V2.0 tokens ?

Cheers,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0cace34-34bf-32f7-c85

[2020-01-28 11:38] SwathiDhanwada-MSFT commented on #46673
@vrat87 Whenever we enable monitoring for your VM in Azure Monitor, MicrosoftMonitoringAgent and Dependency Agent will be installed at resource group level. As the log analytics contributor, monitor contributor and vm contributor does not have necessary permissions, you were prompted with the mentioned error.

I would suggest you  either of below workarounds

1) Add permissions contributor on the

[2020-01-28 11:40] AshokPeddakotla-MSFT commented on #46457
@fgheysels As mentioned in the Best Practices, The IP address prefixes of IoT hub are subject to change. These changes are published periodically via service tags before taking effect. It is therefore important that you develop processes to regularly retrieve and use the latest service tags. This process can be automated via the [service tags discovery API](https://docs.microsoft.com/en-us/azure/v

[2020-01-28 11:46] onkarthg opened #46954 "Configure dynamic inventories of your Azure resources using Ansible"
Hello team,

i found one issue regarding  Configure dynamic inventories of your Azure resources using Ansible

when plugin this following code found some errors and warning

**plugin: azure_rm
    include_vm_resource_groups:
    - ansible-inventory-test-rg
    auth_source: auto**

    **keyed_groups:
    - prefix: tag
      key: tags**

this is code and also attached error details
![ansible bug](h

[2020-01-28 11:48] amanmcse commented on #46953
@beowulf79  Thank you for your feedback . We will investigate and update the thread further.

[2020-01-28 11:51] amanmcse commented on #46952
@girishgouda  Thank you for your feedback . We will investigate and update the thread further.

[2020-01-28 11:54] amanmcse commented on #46944
@cananac  Thank you for your feedback . We will investigate and update the thread further.

[2020-01-28 11:57] amanmcse commented on #46939
@Chandan-SS Thank you for your feedback . We will investigate and update the thread further.

[2020-01-28 11:59] jakaruna-MSFT commented on #46951
@diecknet
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-28 12:06] hagaic opened #46955 "Getting the status of the last historical refresh operation for a model"
Can we also do this?
GET /refreshes?$top=1
(without refreshId)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f706b7d-0a82-4535-f7ec-3851bd204bf2
* Version Independent ID: fefdb693-fb98-25a0-684c-d828bb709114
* Content: [Asynchronous refresh for Azure Analysis Services models](https://docs.microsoft.com/en-us/azure/an

[2020-01-28 12:11] amanmcse commented on #46934
@joshheitzman-redcley-v-joheit-msft  as suggested by @hansenms, you need to open an internal ticket using aka.ms/identityhelp. We will now proceed with closure of this thread.

[2020-01-28 12:11] #46934 closed

[2020-01-28 12:11] jakaruna-MSFT commented on #46595
@ondrejhlavacek let me know the api version which you have used with the arm template.

Versions before 2018-03-31(including this) has only managed clusters in api.

Versions after 2018-03-31 has managed clusters and managedclusters/agentpools

So its better to manage nodepools with managedclusters/agentpools.

[2020-01-28 12:13] jakaruna-MSFT commented on #46810
@kjanss can you add your comment

[2020-01-28 12:14] sujayvsarma commented on #46787
Still waiting. This is important to fix.

[2020-01-28 12:14] sujayvsarma commented on #46431
Still waiting for a response.

[2020-01-28 12:15] jakaruna-MSFT commented on #46893
@rwalsh3711 Can you let us know the version of kubectl and azure cli which you used.

Common reason for the dashboard issues will be the old version of kubectl.

[2020-01-28 12:19] StefanIvemo opened #46956 "Role definition id GUID clarification"
Can you please clarify how the id property of an App Role is being used? Is it safe to just generate a random GUID for the id property? Does it have to be unique per application manifest or unique for all app roles in Azure Active Directory?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9939fc33-8762-3104-eae0-08250c5

[2020-01-28 12:19] AjayKumar-MSFT commented on #46948
@ashvaldr, Thanks for posting the question!
When deploying your app to Windows, you should set WEBSITE_RUN_FROM_PACKAGE to 1 and publish with zip deployment. Choose only one deployment method from ZIP deployment and GitHub.
Also, ensure that you're committing to the correct branch.  By default, only pushes to the master branch get deployed. But you can change this by calling a REST API on the Kudu

[2020-01-28 12:27] AshokPeddakotla-MSFT commented on #46655
@baatch @timowille
To access these values you need to use the GetMetadataProperty. please see here for more details. https://docs.microsoft.com/en-us/stream-analytics-query/getmetadatapropertyvalue

[2020-01-28 12:43] Pitusiray opened #46957 "01-turbofan_regression | Experiment failed"
Hi,
I'm facing an error while running the experiment's step on 01-turbofan_regression.ipynb
It raised the Following :

Source tutorial : https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-machine-learning-edge-04-train-model

Thanks for your help
In attachment you'll find the driver log
[70_driver_log.txt](https://github.com/MicrosoftDocs/azure-docs/files/4122579/70_driver_log.txt)

---
####

[2020-01-28 12:48] velsietis commented on #44571
Is there a reason `$DevPortalHost` is not available in all of the e-mail templates?
For example, "Developer welcome letter" uses `$DevPortalUrl`, but the `$DevPortalHost` parameter is not available

[2020-01-28 12:55] kankomi opened #46958 "How to enable diagnostics settings (classic) via SDK/CLI"
I'm having trouble understanding how to enable the classic diagnostic settings via sdk or az client. When executing the following command with the az client

[code]

I get this error:
[code]

How can I enable the diagnostic settings for a storage account with the sdk and/or az client?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-01-28 12:59] Dilergore commented on #31188
Hello,

Use this:

[code]

With that image version WinRM connects. This is from 8th of October.

[2020-01-28 13:00] AWSullivan opened #46959 "Incorrect "strongType" in first JSON example"
Wrong:
                    "strongType": "ExistingResourceGroups"
Correct:
                    "strongType": "existingResourceGroups"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6fe74c8-a338-efff-ac1f-a4f848fb28f2
* Version Independent ID: 7e91ba22-1008-40ec-0365-28c1fc6686f7
* Content: [Sample - Allow custom VM im

[2020-01-28 13:03] fgheysels commented on #46457
So to summarize:

- The `Get-AzNetworkServiceTag -Location NorthEurope` command will only return the IoT Hub Ip addresses once the discovery API is GA ?
- For now, we'll have to manually download the JSON file instead of being able to use the Get-AzNetworkServiceTag command

Any idea when the service tags discovery API is GA ?

[2020-01-28 13:07] ondrejhlavacek commented on #46595
@jakaruna-MSFT I use `2019-08-01`.

This is what I understand from the documentation, but it is not possible to create a new AKS cluster without a Node Pool, so managing Node Pools using exclusively `managedclusters/agentpools` is not possible.

These are my ARM templats - https://gist.github.com/ondrejhlavacek/457e97f4c1c43b389f6ed9ae17f98b19. `aks.json` has to have a `default` Node Pool and `aks

[2020-01-28 13:12] cat-mucius opened #46960 "Can't find the "Gateway required" VNet integration option"
As I understand from [this screenshot](https://docs.microsoft.com/en-us/azure/app-service/media/web-sites-integrate-with-vnet/vnetint-addvnet.png) - the "`Add VNet`" button configured "Gateway required" type of integration, while "`Add VNet (Preview)`" allows to configure "Regional" integration.

For some reason, I can see only "`Add VNet (preview)`" option for my webapps, even for Windows-based o

[2020-01-28 13:21] PashaPash opened #46961 "Request Telemetry Filtering and AutocollectedMetricsExtractor"
Please note that standard metrics collection (avg server response time, etc.) is done by built-in AutocollectedMetricsExtractor telemetry processor. Custom telemetry processors that filters our request telemetry should be registered before standard processors to exclude requests from both telemetry and metrics. E.g. they should be registered at the beginning of &lt;TelemetryInitializers&gt; list (

[2020-01-28 13:27] Chai-NED opened #46962 "Lockbox for IaaS?"
Does it include support for Dedicated Host?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 985eab9b-60f7-480a-c649-1fd7c6105646
* Version Independent ID: 4d5bbc09-fa5a-c67e-b4b8-75a5229506c0
* Content: [Customer Lockbox for Microsoft Azure](https://docs.microsoft.com/en-us/azure/security/fundamentals/customer-lockbox-o

[2020-01-28 13:29] x10an14 commented on #23789
Spamming this issue as well - seeing as that's what my employer's support staff over @ Microsoft told me to do.

Would very much like a solution which does _not_ involve turning **off** SSL.

[2020-01-28 13:31] PashaPash commented on #46961
There probably should be a note on telemetry processors registration order effect on standard metrics. Applying the snippet the following snipped from the article filters out requests from telemetry, but not from preagreggated metrics:

    public void ConfigureServices(IServiceCollection services)
    {
        // ...
        services.AddApplicationInsightsTelemetry();
        services.AddApplica

[2020-01-28 13:48] nisreen95 opened #46963 "Confusing wording on 30 day purge"
Hello.
The following wording: "After the soft-delete period, the workspace resource and its data are non-recoverable – its data is queued for permanent deletion and completely purged within 30 days. The workspace name is 'released' and you can use it to create a new workspace." is a little confusing. It implies that the workspace name is the a part of that data that can take up to 30 days, when it

[2020-01-28 13:49] timowille commented on #46655
Hi @AshokPeddakotla-MSFT,
thanks for your support. I was able to retrieve the missing information by using your recommendation. I guess it would be helpful for other users to update the documentation for IoT Central accordingly.
Best regards
Timo

[2020-01-28 13:57] VOVELEE opened #46964 "Support for Automate threat responses in 'Microsoft Incident creation rule'"
Currently Azure Sentinel allows Automate threat responses only to Scheduled query rules.
When can we expect support for Microsoft Incident creation rules'?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9962c711-a464-85d7-07dc-29140ff9a715
* Version Independent ID: bc9eaa33-6bb4-6c91-724e-589f022c2159
* Content: [Tutor

[2020-01-28 14:02] SumanthMarigowda-MSFT commented on #46701
@igomat [Release notes for the Azure File Sync agent
](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-release-notes)
![image](https://user-images.githubusercontent.com/44606021/73270470-bc057c80-4204-11ea-9813-91b6df084cf8.png)
I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related

[2020-01-28 14:02] #46701 closed

[2020-01-28 14:06] SumanthMarigowda-MSFT commented on #46709
@alexshipp-er ! Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-28 14:22] #46823 closed

[2020-01-28 14:22] DCtheGeek commented on #46959
#assign:DCtheGeek

[2020-01-28 14:28] DCtheGeek commented on #46959
@AWSullivan Thanks for the comment. I don't believe the value is case sensitive, but I'm validating with engineering. If it does need correcting, I'll approve the PR that @Potapy4 has already submitted to the samples repo, which is where this doc pulls the source from.

@MicrosoftDocs/azure-cxp-triage Please label 'doc-enhancement' and #in-progress.

[2020-01-28 14:34] SnehaAgrawal-MSFT commented on #46960
@cat-mucius Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-28 14:35] rich872 commented on #46620
Any update to this?  We are testing out cloud MFA for external users accessing shared OneDrive docs from our organization and we are experiencing exact scenario that BakkerJan outlines.

[2020-01-28 14:47] DCtheGeek commented on #46947
#reassign:DCtheGeek

[2020-01-28 14:48] DCtheGeek commented on #46947
@SamirFarhat Thanks for the question. As you've noted, the JSON for policy assignment is only accessible today via SDK (Azure CLI, Azure PowerShell, etc.). If you'd like to see this in the portal, please post it on the [Azure Policy UserVoice](https://feedback.azure.com/forums/915958-azure-governance?category_id=345055). We only document what's supported, so there's no doc change to be made at thi

[2020-01-28 14:48] #46947 closed

[2020-01-28 14:49] Dilergore commented on #31188
I cannot reproduce the issue anymore, so I closed the issue in the hashicorp queue along with the MS case.

I tested today multiple times and with all of the images since November and even with the latest one it is working for me. Don't know what changed.

[2020-01-28 14:52] jadhosn commented on #46922
@RohitMungi-MSFT We are actually seeing this issue **with** the reuse flag turned off. `allow_reuse=false` is checked for this step. In fact, we are still seeing an old filename in the run's snapshot on the portal, where that file has been renamed and modified locally.

[2020-01-28 14:53] leela-uppuluri commented on #46885
@Mike-Ubezzi-MSFT I was trying to run this using corporate network

[2020-01-28 14:53] nicolemhfarley commented on #46922
This issue arose with allow_reuse already set to False and yet it persists in trying to access this nonexistent file and completely ignores the renamed file that is present in the step folder.  The specific error that I saw was: User program failed with FileNotFoundError: [Errno 2] No such file or directory <new_filename.py>

[2020-01-28 14:59] anderbr-au commented on #46577
Any updates? Thank you.

[2020-01-28 15:02] AWSullivan commented on #46959
Understood. The portal reported it as incorrect (squiggly lines). Possibly that needs addressing. I didn't check to see if it would save. Possible it would.

[2020-01-28 15:04] vlado101 commented on #46799
Hello @MartionJaffer-MSFT,

That would be partially what I was looking for. I must have misunderstood the documentation, but I thought that we would be able to format the columns being mapped to a database by using "Dynamic content".

The use case that I am working through has a column called "Date" but it is of string type and is written in the following format: '20200101'. When I try to insert t

[2020-01-28 15:07] wonderplayer commented on #46788
Hi. Yes, thank you for the answer.
Just still don't understand why in Azure Portal it requires 200 IP addresses.

[2020-01-28 15:08] andyjballgit commented on #23130
For viewing PIM "Directory Roles Audit History" for Azure AD as per this article, Security Reader will also work won't  it ?

[2020-01-28 15:18] ticianaciminari commented on #46910
@zer0big FYI

[2020-01-28 15:18] ticianaciminari commented on #46907
@zer0big FYI

[2020-01-28 15:19] RohitMungi-MSFT commented on #46922
@Kenneth-Abrams @nicolemhfarley Could you please submit an Azure support ticket for the ML workspace that you are facing issue with from the Azure support Help + Feedback blade? It looks like you would need one of our product service engineers to lookup your setup to advise further. This forum is primarily used to support issues in our documentation where access resources is limited.

[2020-01-28 15:27] paulnuk opened #46967 "Deploy times out"
I followed the instructions to create a test deployment. When you deploy the resource it times out after 2.5 hours.

Type : Sendgrid.Email/accounts
Status: RequestTimeout
Operation details:

{
    "error": {
        "code": "ResourceDeploymentFailure",
        "message": "The resource provision operation did not complete within the allowed timeout period."
    }
}

---
#### Document Details

⚠ *Do

[2020-01-28 15:28] giovannifl opened #46968 "SQL Server 2019 is missing"
This article should be updated to include SQL Server 2019

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0e26853-8b25-7b94-ce79-c47853ca18aa
* Version Independent ID: 39636d49-dc5e-62c6-6bcb-70616cff369e
* Content: [Backup and Restore for SQL Server in Azure VMs - Azure SQL Server VM](https://docs.microsoft.com/en-us/

[2020-01-28 15:29] giovannifl opened #46969 "SQL Server Failover Cluster Backup options are missing"
1. In Azure it is possible to deploy a SQL Server Failover Cluster using S2D or Azure Premium File Share to store SQL data. This document should be updated to include backup options for these deployment options

2. SQL Server 2019 is missing. This article should be updated to include SQL Server 2019
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-01-28 15:30] theweiweiway commented on #31771
Thanks @ezenwankwogabriel, but it didn't work for me :(

[2020-01-28 15:31] chewcw commented on #34451
@AjayKumar-MSFT I'm running a Node Express app with super simple setup just for testing, in the application I already set ```app.listen(process.env.PORT)```. But this is what I see __with__ setting PORT and WEBSITES_PORT to ```8000```: ```docker run -d -p 7211:8000```. Then the app stucks at ```Initiating warmup request to container``` and eventually failed. Same case if I do not set PORT and WEBS

[2020-01-28 15:32] 9songs commented on #46844
Hi,

what I was hoping for was to have a link pointing to the website I shared to the docs-page. Otherwise, this information is easy to miss, as you'd need to search for this one thing very explicitly. Could you please update the website with this?

Thanks
Julia

On Tue, Jan 28, 2020 at 9:00 AM neeleshray-msft <notifications@github.com<mailto:notifications@github.com>> wrote:

Closed #46844<https:

[2020-01-28 15:35] giovannifl opened #46970 "SQL Server Failover Cluster Instance Backup options"
As mentioned, in Azure it is possible to deploy a SQL Server Failover Cluster using S2D or Azure Premium File Share to store SQL data. Should not this document be updated to include backup options for these deployment options ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66022e29-3f7d-633d-fa34-2fd3afc2bc7a
* Versio

[2020-01-28 15:38] rwalsh3711 commented on #46893
Thank you for your assistance!  Here is the output of kubectl version and az version:

[code]

[2020-01-28 15:45] lucidqdreams commented on #46938
my mistake I showed you service, not endpoints... in the screenshots.  This will match up to IPs listed in the back end pools
![image](https://user-images.githubusercontent.com/6086602/73279515-20432480-41a2-11ea-9e99-9bdea0ba88a0.png)

[2020-01-28 15:49] marcelriegr commented on #16481
@MicahMcKittrick-MSFT Hey Micah, any update on this?

[2020-01-28 15:49] girishnadiger-gep opened #46971 "Not Updated"
The modules in this page is not updated to reflect the latest changes in the package.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd17e2ba-a56a-e57c-f8c9-64a351d4e232
* Version Independent ID: fc1625ff-7f38-2494-6874-b908c78890ee
* Content: [Quickstart: Call your Bing Custom Search endpoint using the Python SDK - Az

[2020-01-28 15:50] rwalsh3711 commented on #46893
I just performed an update of the kubernetes cli to version 1.17.2 and continue to receive the error:

[code]

[2020-01-28 15:56] Tiger333 opened #46972 "How do you find the username?"
This article is very outdated? How do we find the sendgrid username now (the key icon no longer shows)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73d91616-a93f-84af-7900-5aa34b361ffd
* Version Independent ID: f202a678-4853-d024-55c5-19f89558415c
* Content: [How to use the SendGrid email service (.NET)](https://doc

[2020-01-28 16:04] msrini-MSFT commented on #46911
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/102519

[2020-01-28 16:05] #46772 closed

[2020-01-28 16:05] msrini-MSFT commented on #46825
Please tag me if you have any further questions.

[2020-01-28 16:05] #46825 closed

[2020-01-28 16:09] mmacy commented on #46916
@dotnetgator Regarding your question here:

I'll get clarification and will update as appropriate.

@MarileeTurscak-MSFT can you reopen this one for us, please?

[2020-01-28 16:11] tomdan-MSFT opened #46973 "Azure AD user provisioning for Tableau not properly setting Authentication flag to SAML on synced user accounts"
I'm working to get Azure AD provisioning working with Tableau. We configured some test users to sync and they properly showed up in the Tableau user list. The problem is all the synced users are configured with using "Tableau Authentication" instead of using SAML with AAD. We have to manually change the authentication type on all these synced accounts on the Tableau side. The AAD sync process is n

[2020-01-28 16:12] stephbaron commented on #46027
If there are no active events, then the response would be blank (as is the case at the moment). While we have plans to expose an API which contains these values, I don't have an ETA for that. More importantly, however, is what is trying to be accomplished here? The best way to stay informed of service incidents which impact a customer is to use [Azure Service Health](https://docs.microsoft.com//az

[2020-01-28 16:14] danadrianparaschiv opened #46974 "Deploy a multi-container group via az cli?"
Is it possible to deploy a multi-container group via az cli? I am interested in "pure" az cli, not with an ARM template.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62ea62be-5823-191a-17b1-910272d94746
* Version Independent ID: c069a0e1-4025-187e-36b4-257e933681dc
* Content: [Quickstart - Deploy Docker container to

[2020-01-28 16:14] mmacy commented on #46837
@dotnetgator Great call-outs here and in your other recent issues. Just a heads-up that we're tracking these internally and will update the docs as necessary. Keep 'em coming, we very much appreciate these detailed issues.

[2020-01-28 16:16] #46911 closed

[2020-01-28 16:17] ChiragMishra-MSFT commented on #46936
@thomshib Thank you for reaching out to us. Can you please provide a link to the document which you are following so that I can engage the correct team to help you.

[2020-01-28 16:17] ChiragMishra-MSFT commented on #46932
@dem108 Thank you for reaching out to us. Can you please provide a link to the document which you are following so that I can engage the correct team to help you.

[2020-01-28 16:21] dem108 commented on #46932
@ChiragMishra-MSFT the link to documentation is already included in the first comment.

[2020-01-28 16:23] bwren commented on #46722
@OffColour Thanks for that reference.  That article is referring to the extension that installs the Log Analytics agent.  Definitely part of the rewrites that I'm working on.  May come out in parts, so don't be too surprised if some of these updates aren't there right away - a lot of legacy content to get to. We will be summarizing the different installation options and their subtle differences as

[2020-01-28 16:23] joshheitzman-redcley-v-joheit-msft commented on #46934
So then the answer is yes, the involvement of an AAD tenant admin is required and this document's quality would be improved by explicitly calling that out.

[2020-01-28 16:26] hansenms commented on #46934
It does not generally require the involvement of a tenant admin. It does for you because you are using the internal Microsoft tenant. It is a restriction placed on the tenant. There could be many other restrictions placed on a tenant, e.g. remove user ability to create app registrations at all, etc. We do not enumerate all the ways that an admin can lock down a tenant.

[2020-01-28 16:30] joshheitzman-redcley-v-joheit-msft commented on #46934
In that case, what is missing, is the steps an engineer can utilize to test if completing this scenario is possible or not given however the tenant is configured.

[2020-01-28 16:31] GiftA-MSFT commented on #46868
@manu4rhyme thanks for your feedback. However, Azure Cognitive Search supports SQL Server authentication only. If you require support for Azure Active Directory Password authentication, please vote for this [UserVoice suggestion](https://feedback.azure.com/forums/263029-azure-search/suggestions/33595465-support-azure-active-directory-password-authentica). Thanks.

[2020-01-28 16:31] #46868 closed

[2020-01-28 16:34] cananac opened #46975 "Configuring Syslog through API"
Hi,

Is there an API for configuring syslog or can it be configured only through portal/agent? I've checked the docs but could not find an API for that.

Thanks,
Canan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 335e48e2-7265-ac6e-f931-3a5d406f3d23
* Version Independent ID: 224b7842-f066-59da-07b3-9d70f856d8d0
* Con

[2020-01-28 16:34] erhopf commented on #35553
#please-close

[2020-01-28 16:34] #35553 closed

[2020-01-28 16:35] erhopf commented on #36496
#please-close

[2020-01-28 16:35] #36496 closed

[2020-01-28 16:35] erhopf commented on #37410
#please-close

[2020-01-28 16:35] #37410 closed

[2020-01-28 16:35] erhopf commented on #37367
#please-close

[2020-01-28 16:35] #37367 closed

[2020-01-28 16:36] erhopf commented on #28937
#please-close

[2020-01-28 16:36] #28937 closed

[2020-01-28 16:41] nezoic commented on #43808
Has anyone looked at this yet? It's still very unclear what this should look like, how each value is separated, etc.

[2020-01-28 16:46] nibaccam commented on #45700
@michalmlaka thank you for your report. Unfortunately, this feature is not currently supported for Mlflow. Our engineering development team has a feature request open for this.

I'll now proceed to close this doc issue, as any update is waiting on research from the engineering team.

#please-close

[2020-01-28 16:46] #45700 closed

[2020-01-28 16:50] mmacy commented on #46843
@dotnetgator You're unfortunately experiencing the side effect of a doc that's morphed in purpose (and contributors) over time. As mentioned in my response to another of your recent issues, you're raising some solid points and we appreciate the flag raising.

Tracking this one internally:

ID | Title
-- | -- |
908362 | B2C: [issue] TrustFrameworkPolicy doc refresh (GH#46843)

[2020-01-28 16:51] PeterCLu commented on #46924
@omartin2010 Thanks for the eagle-eyed catch! That is definitely a typo. The article has been updated - you should see the changes live in a few hours. #please-close

[2020-01-28 16:52] #46924 closed

[2020-01-28 16:59] ticianaciminari opened #46976 "File Path Information Error Correction # 1073"
@zer0big commented on [Tue Jan 28 2020](https://github.com/MicrosoftDocs/azure-docs.ko-kr/issues/1073)

The following 2 file path information errors were found and we would like to review them.

Application Access section of the Internet
charts / example-java / values.yaml-> charts / java / values.yaml

Application iteration section
Src / main / java / helloworld / Hello-> src / main / java / hell

[2020-01-28 17:01] mmacy commented on #46849
#reassign:mmacy

[2020-01-28 17:04] jethrovaneetvelde commented on #46908
Happen to have the same issue with a script on resources which worked in the past.

[2020-01-28 17:05] ChristopherGLewis opened #46977 "Seriously out of date"
Seriously out of date

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2422f8ec-802e-7f92-c499-9181f3fe8d8b
* Version Independent ID: eb2b0e2c-8fb5-573c-ef0d-50073d053c3d
* Content: [Virtual network for Azure services](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-for-azure-services#feedback)
* C

[2020-01-28 17:06] Sudlon opened #46979 "Missing step in SSO through Authentication broker"
There is a step missing for configuring "SSO through Authentication broker" on this page. In addition to the above steps, you also need to add a keychain-group for SSO to work via the Authentication Broker. This step is described in the MSAL library GitHub in step 3, see: https://github.com/AzureAD/microsoft-authentication-library-for-objc#adding-msal-to-your-project.

---
#### Document Details

⚠

[2020-01-28 17:09] FrankHu-MSFT commented on #46979
@Sudlon Thanks for your feedback, we'll investigate and update accordingly.

[2020-01-28 17:09] FrankHu-MSFT commented on #46973
@tomdan-MSFT Thanks for your feedback, we'll investigate and update accordingly.

[2020-01-28 17:09] FrankHu-MSFT commented on #46962
@Chai-NED Thanks for your feedback, we'll investigate and update accordingly.

[2020-01-28 17:10] FrankHu-MSFT commented on #46962
@Chai-NED  Thanks for your feedback, we'll investigate and update accordingly.

[2020-01-28 17:10] FrankHu-MSFT commented on #46956
@StefanIvemo Thanks for your feedback, we'll investigate and update accordingly.

[2020-01-28 17:11] JasonWHowell commented on #46671
@mamccrea FYI - Databricks portal issue in the cost-management-billing space.

[2020-01-28 17:12] Adam-Smith-MSFT commented on #46958
@kankomi Thanks for the feedback, I'd recommend posting this question in forums, either in StackOverflow or MSDN.
There is another documentation demonstrating on how to use Rest APIs to enable Storage Log analytics: https://docs.microsoft.com/en-us/rest/api/storageservices/enabling-and-configuring-storage-analytics

We will now proceed to close this thread. If there are further questions regarding

[2020-01-28 17:12] #46958 closed

[2020-01-28 17:14] FrankHu-MSFT commented on #46962
@Chai-NED can you clarify by what you mean in regards to dedicated host? You mean a different host provider from Azure?

[2020-01-28 17:24] taromielnaz commented on #46909
Thanks for the explanation. I think the problem is with the meaning and usage of app insight resources. For traditional monitoring tools, we just enabled the monitoring, but here we need to create a resource that I don't know why a resource is needed and what is it going to be used.

[2020-01-28 17:25] AshokPeddakotla-MSFT commented on #46457
Yes, your understanding is correct. We would like to inform you that currently we don't have an exact ETA. Further details regarding ETA and more information will be updated in the doc once it is GA.

Let us know if you have further questions.

[2020-01-28 17:27] James-Pretorius opened #46981 "Additional detail on publish_config.json"
Is it possible to specify a folder path in publish_config.json such that the ARM templates are deployed to a custom folder within the publishBranch? Please provide a list of all supported properties in publish_config.json.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7309c102-934f-e073-823d-684804e38ff9
* Version Ind

[2020-01-28 17:36] dlepow commented on #44720
Doc update published to mention these options. Thanks again.
#please-close

[2020-01-28 17:36] #44720 closed

[2020-01-28 17:37] #46849 closed

[2020-01-28 17:41] tdyocum commented on #45838
This document says to install the Microsoft.Azure.Cosmos package, but the sample is using the Microsoft.Azure.DocumentDB.Core package.

[2020-01-28 17:46] PeterCLu commented on #46409
#re-assign:@lobrien

[2020-01-28 17:49] AshokPeddakotla-MSFT commented on #46655
@timowille Glad to hear that you are able to retrieve the details. We will get this information added to the doc for more clarity.
@baatch Please do check the suggested approach and let us know if that solves your issue.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will re

[2020-01-28 17:49] #46655 closed

[2020-01-28 17:49] FrankHu-MSFT commented on #46956
@StefanIvemo the GUID should be unique within your Application Registration as the hierarchy of roles should be :

App Registration -> Scope

So you wouldn't need to have a unique GUID amongst all of the tenant, just within the App Registration that owns the scope. As when asking for a permission it should be app_registration/scope.

I'll go ahead and make a change in the docs accordingly, please

[2020-01-28 17:50] AshokPeddakotla-MSFT commented on #46655
@viv-liu Please check this issue and update the doc as appropriate with a note.

[2020-01-28 17:54] david-peden-q2 commented on #41645
@AjayKumar-MSFT Will there be an update to the docs showing how to connect/disconnect web apps to virtual networks using PowerShell Az? I have not had much luck in trying to adapt @ccompy 's code posted at https://gallery.technet.microsoft.com/scriptcenter/Connect-an-app-in-Azure-ab7527e3.

[2020-01-28 17:54] cephalin commented on #43824
@patricklee Thank you for your feedback. As it stands now the article's gone through many revisions, many of which are based on other customers' feedback. Briefly:

- Due to resource limitations we need to use Cloud Shell with Azure CLI to minimize support cost on this doc. Portal changes all the time and local PowerShell steps are not described. The steps are meant to be done in the bash Cloud Sh

[2020-01-28 17:54] #43824 closed

[2020-01-28 17:55] ghogen commented on #44499
If that doesn't always work, this should be investigated as a product issue - please enter at Dev Community.
https://developercommunity.visualstudio.com/spaces/8/index.html

[2020-01-28 17:57] kjanss commented on #46810
the issue encountered was not whether contributor or owner role would be required. When setting up an aks cluster in an existing subnet AND deploying an ingress through helm with a private IP, then it does not work when following the docs because the sp used to create the cluster is out of the box not granted rights to create the load balancer (apparently).
it was necessary for me to add the sp ma

[2020-01-28 17:59] SaurabhSharma-MSFT commented on #46614
@tdefise I am checking with the internally and will let you know on the details.

[2020-01-28 18:06] yossi-y commented on #46963
I see how the wording can be confusing, let me clarify.

After 14 days of the soft period, the workspace and its data are non-recoverable.
At this time, the data is tagged to be purged - it cannot be read or retrieved and wait for the purge execution operation. The timing of the actual purge can be days but up to 30 days in some cases.

[2020-01-28 18:06] Ayanmullick commented on #46825
@msrini-MSFT, Thanks for following up.  The PowerShell cmdlet runs without error.

![image](https://user-images.githubusercontent.com/17693249/73291571-061b3d80-41c6-11ea-8e3d-b7188e3ff40c.png)

However, no boot diagnostics is set for the VM.

![image](https://user-images.githubusercontent.com/17693249/73291525-ef74e680-41c5-11ea-85fe-c47132be8ecb.png)

The Sample config should have a line to turn

[2020-01-28 18:09] SaurabhSharma-MSFT commented on #46777
@ChrisSommers I am checking internally and let you know about you scenario.

[2020-01-28 18:10] oscholz commented on #40601
#please-close

[2020-01-28 18:10] #40601 closed

[2020-01-28 18:23] ticianaciminari opened #46982 "unable to find parameter 'LeafBase'"
@ynguyenluat commented on [Tue Jan 28 2020](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/679)

When executing the az module code: Deploy-AzTemplate.ps1 -ArtifactStagingDirectory . -Location centralus -TemplateFile WebSite.json -TemplateParametersFile WebSite.parameters.json, I got the error: unable to find parameter 'LeafBase' with powershell version 5.1.18362

---
#### Détails du docu

[2020-01-28 18:24] ticianaciminari commented on #46982
Hi Team, could you please check this issue from user?

Kind regards,

Microsoft DOCS Global Experience Team

[2020-01-28 18:24] freeknortier opened #46983 "AMQP Transport"
Getting the following message =&gt; "Could not connect: AMQP Transport: Could not connect"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1cc9b16-921f-65a3-4eaf-8df9c2d28888
* Version Independent ID: 81ceb74a-9151-5090-6dc6-49007b8e8db7
* Content: [Cloud-to-device messages with Azure IoT Hub (Node)](https://docs.micro

[2020-01-28 18:29] Karishma-Tiwari-MSFT commented on #46699
Thanks for the update.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-28 18:29] #46699 closed

[2020-01-28 18:30] yashesvi commented on #46671
On the reservations details for Databricks we show the unused percentage. See below:
![image](https://user-images.githubusercontent.com/19310189/73293661-255f9e00-41b9-11ea-83d5-dcda791a455d.png)

[2020-01-28 18:30] KranthiPakala-MSFT commented on #46955
@hagaic Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-01-28 18:31] tfitzmac commented on #46758
@torfulle - thanks for this feedback. I have added to the article that subscriptions are unlimited per AAD tenant.

[2020-01-28 18:31] tfitzmac commented on #46758
#please-close

[2020-01-28 18:31] #46758 closed

[2020-01-28 18:34] tfitzmac commented on #46829
The update has been published.
#please-close

[2020-01-28 18:34] #46829 closed

[2020-01-28 18:35] tmurfet commented on #40629
I think the importance of this topic should have resulted in a correction by now. Looks like Microsoft has more than person driving the bus. This material is also used to study for certification so I have personally experienced a significant loss of confidence in the reliability of the information contained in this document. Please remove the confusion surrounding the VMware references ASAP!

[2020-01-28 18:38] KranthiPakala-MSFT commented on #46981
@James-Pretorius Thank you for reaching out and bringing this to our notice. At this time we are reviewing the ask and will provide an update as appropriate

[2020-01-28 18:47] ticianaciminari opened #46984 "「Set-ADSyncAADCompanyFeature」のコマンドライン オプションが誤っています。"
@ShintakuNobuhiro commented on [Tue Jan 28 2020](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/3028)

https://docs.microsoft.com/ja-jp/azure/active-directory/hybrid/how-to-connect-password-hash-synchronization#public-preview-of-synchronizing-temporary-passwords-and-force-password-on-next-logon

The option part of the command line described in "Synchronize the temporary password and" App

[2020-01-28 18:49] ticianaciminari commented on #46984
Hi Team, could you please check suggestion from user to change code?
From: Set-ADSyncAADCompanyFeature  -ForcePasswordResetOnLogonFeature $true to Set-ADSyncAADCompanyFeature -ForcePasswordChangeOnLogOn $true
![image](https://user-images.githubusercontent.com/43826292/73295076-c9f7d500-41e5-11ea-8cf0-f2981ec04f11.png)

Kind regards,

Microsoft DOCS Global Experience Team

[2020-01-28 18:50] adeal commented on #38080
@Jinssi

This doc has been updated to include this information in the first paragraph.

[2020-01-28 18:54] DCtheGeek commented on #46959
@AWSullivan I've confirmed with engineering it is **not** case sensitive. I've relayed the information about the squiggly lines in the portal validation control, so they are going to look at that.  They plan to accept the PR so that it's nicely cased in the sample, but that shouldn't block it from working as is.  I'm going to close this as it's not a docs issue, but do appreciate your raising the

[2020-01-28 18:54] #46959 closed

[2020-01-28 18:54] cynthn commented on #46804
@VikasPullagura-MSFT The article is about specialized disks, not images.

@kknight-valorem The article you referenced is about using a non-generalized disk to create a VM (so, not an image). Are you trying to create a VM from an image or an existing disk?

[2020-01-28 18:58] tdyocum commented on #45838
The sample I am referring to, is the .net core sample that you can download in the Azure Portal after creating a Cosmos instance, not the sample in GitHub

[2020-01-28 19:00] jeevansd commented on #46766
@chetansriv and @v-pugoe Please retest this app

[2020-01-28 19:04] BharathNimmala-MSFT commented on #46961
@PashaPash Thank you for reaching out to us and sharing your feedback. Will further evaluate this request and get back to you at the earliest. Thanks

[2020-01-28 19:09] Karishma-Tiwari-MSFT commented on #45770
Thanks for the update. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-28 19:09] #45770 closed

[2020-01-28 19:13] AliAllomani commented on #31188
I still can reproduce the issue,

used image
[code]

From initial troubleshooting it looks to me a certificate issue, trying to run `winrm quickconfig` on the machine during `azure-arm: Waiting for WinRM to become available...` resulting

[code]

And when trying to connect using openssl to retrieve the certificate i'm getting `errno=54`

[code]

Trying to re-generate self-signed certificate and re

[2020-01-28 19:13] jtuliani opened #46986 "Public IP diagnostic logs - Standard tier DDoS only?"
Hi,

I see that the diagnostic logs for a Public IP address provide an option in the portal to capture the DDoS logs even when I'm not using DDoS Standard. It would be great if this doc could clarify how these logs work if using DDoS Basic...are they just empty in this case, or do they work?

Thanks, Jonathan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-01-28 19:15] katie199 opened #46987 "stringCollection serialization b2c"
I have the following setup for my B2C custom policy:
`
 <TechnicalProfile Id="SM-AAD">
       <DisplayName>Session Mananagement Provider</DisplayName>
      <Protocol Name="Proprietary" Handler="Web.TPEngine.SSO.DefaultSSOSessionProvider,Web.TPEngine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
       <PersistedClaims>
         <PersistedClaim ClaimTypeReferenceId="objectId" />

[2020-01-28 19:16] curtand commented on #46552
I’m still confirming. Will let you know soon.

  *   Kristina

From: Curtis Love <Curtis.Love@microsoft.com>
Sent: Friday, January 24, 2020 1:53 PM
To: MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>; Kristina Smith <krbain@microsoft.com>
Cc: Mention <mention@noreply.github.com>
Subject: RE: [MicrosoftDocs/azure-docs] Is there a limit on

[2020-01-28 19:21] Grace-MacJones-MSFT commented on #46613
Hi @tdefise,  I believe it is possible to export alerts from App Service link to Azure Security Center  by sending it to other monitoring tools in your environment.

[This article ](https://docs.microsoft.com/en-us/azure/security-center/continuous-export)describes the set of (preview) tools that allow you to export alerts and recommendations either manually or in an ongoing, continuous fashion.

T

[2020-01-28 19:21] #46613 closed

[2020-01-28 19:21] MarileeTurscak-MSFT commented on #46984
Thanks! Checking on this.

[2020-01-28 19:30] StefanIvemo commented on #46956
@FrankHu-MSFT Thank you for clarifying that!

[2020-01-28 19:30] Karishma-Tiwari-MSFT commented on #46717
Hope that helped answer your question. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-28 19:30] #46717 closed

[2020-01-28 19:31] Karishma-Tiwari-MSFT commented on #46708
Hope that helped answer your question.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-28 19:31] #46708 closed

[2020-01-28 19:37] Anupamvi commented on #46986
The logs won't work unless DDoS protection standard is enabled on the VNET of those public IPs.

[2020-01-28 19:39] Dilergore commented on #31188
@AliAllomani reopened the other issue, let's continue there.

[2020-01-28 19:40] SaurabhSharma-MSFT commented on #46711
@BakkerJan The FIDO2 logon requires the user has the USB device locally (usually enforced through a touch/fingerprint sensor on the token itself) and provide a PIN to access the account on the token. If MFA is required through a CA policy, it's met by the logon token generated by the FIDO2 token. It's something the user has (token) and something they know (the PIN).

[2020-01-28 19:43] HeidiSteen commented on #46135
@a9fagu  Hi, sorry for the delay in getting back to you.  It sounds like you were expecting queries to fail during a re-index, but instead the queries succeeded.  I have two questions.
1) Are you using an indexer?
2) What commands are you using to re-index (just curious if it is [Add-Remove-Update Documents](https://docs.microsoft.com/en-us/rest/api/searchservice/addupdate-or-delete-documents))

[2020-01-28 19:46] arduppal commented on #44894
@tanieee28- Thanks for the feedback, will look at it in our next update.

[2020-01-28 19:48] ajlam commented on #34657
@ccompy - can you help take a look at this?

[2020-01-28 19:53] arduppal commented on #46512
@aros1697:- Glad you were able to resolve the issue, were you not using 64-byte base64 key before when the issue occured?
@antonbsvard:- can you make sure the local account name is all small caps?

[2020-01-28 19:57] RyanHill-MSFT commented on #46788
@wonderplayer mind sharing a screen shot so we can better know what you're referring to?

[2020-01-28 20:01] mike-urnun-msft commented on #46800
Thanks, @scottwojan! It's meant to say _"This article discusses policy expressions syntax **in** C# 7."_ I've created a PR that corrects the typo and the change should be live shortly within the next few hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-28 20:01] #46800 closed

[2020-01-28 20:18] JonCole commented on #46334
I agree with the feedback and we do plan to move it eventually.  Yes, we have an internal item tracking this work.

I also updated the gist to make it more clear that some of the content is still valid.  Hope that helps in the meantime.

[2020-01-28 20:34] rwike77 commented on #46696
@hpsin, could you take a look at this one?  Thanks.

[2020-01-28 20:36] hpsin commented on #46696
Can you copy in the url you sent the request to? Filtering out the creds in the body of course.

[2020-01-28 20:37] naiduv opened #46988 "Missing claim type "alternativeSecurityId""
After following the instructions in the documentation, I get the following error when I try to upload SignUpOrSigninSaml.xml

[code]

----
This is for the following document: https://docs.microsoft.com/en-us/azure/active-directory-b2c/connect-with-saml-service-providers#feedback

Version Independent ID: 45d314dd-c9fa-50a5-cb39-d34db80c7874

---
#### Document Details

⚠ *Do not edit this section. I

[2020-01-28 20:40] Mike-Ubezzi-MSFT commented on #46885
@leela-uppuluri Can you ensure that the services are running: [View the IoT Edge runtime status](https://docs.microsoft.com/en-us/azure/iot-edge/quickstart-linux#view-the-iot-edge-runtime-status) and that the [module has been deployed](https://docs.microsoft.com/en-us/azure/iot-edge/quickstart-linux#deploy-a-module), for data generation.
I am stepping through this tutorial and this is likely a com

[2020-01-28 20:44] MashaMSFT commented on #42901
Hi @TomaszOledzki , thanks again for your suggestion! We've added a change to the documentation to help clarify this scenario and it should be live later today.

I hope that helps and thanks again for helping improve our documentation :)
Masha from the SQL Docs team

[2020-01-28 20:47] stephenjust commented on #24239
I've escalated to the team which owns the Azure SQL - Azure Portal integration.

[2020-01-28 20:52] trrwilson commented on #43218
@darglico we're tracking this internally with Skyman 2297018 and we'll update this closed item once the changes are live.

#please-close

[2020-01-28 20:52] #43218 closed

[2020-01-28 20:52] leela-uppuluri commented on #46885
@Mike-Ubezzi-MSFT When I checked from IoT Hub portal it shows all the services that were deployed were running and FYI, I have attached the snapshot of that.

![img](https://user-images.githubusercontent.com/43678538/73304409-d24c1200-41dd-11ea-96ec-d317d5c305f7.PNG)

[2020-01-28 20:57] MartinJaffer-MSFT commented on #46799
Thank you for asking me to look into this again.  What you want _is_ possible.  The feature I was looking for moved.  When the column data type is set to DateTime, you can specify a format.  The button to do so in the UI is kind of hidden.  See the below picture.  The double-down-arrow does not appear until you hover over it.  Clicking the double-down-arrow give you a place to enter the format.
![

[2020-01-28 20:59] asears opened #46989 "Need binding expression examples for Powershell"
There does not appear to be binding examples for Powershell function apps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77fbaa31-cfcc-4b8c-abe0-4efeaee3e4f0
* Version Independent ID: db65fc3d-d8b3-1f19-91a0-4f3696fbca69
* Content: [Azure Functions bindings expressions and patterns](https://docs.microsoft.com/en-us/az

[2020-01-28 21:05] MartinJaffer-MSFT commented on #46799
@vlado101  Correction:  On the right it should be yyyy/MM/dd .
See [link](https://docs.microsoft.com/en-us/dotnet/standard/base-types/standard-date-and-time-format-strings) for more info about datetime specification.

I will assign to author for doc changes.  This bit of the UI was not visible and obvious, so it should be documented.

[2020-01-28 21:07] MartinJaffer-MSFT commented on #46799
![image](https://user-images.githubusercontent.com/46612670/73305501-1388f580-41cf-11ea-93b1-573411b4773a.png)
![image](https://user-images.githubusercontent.com/46612670/73305536-24396b80-41cf-11ea-872a-ec2c17284690.png)

[2020-01-28 21:10] MartinJaffer-MSFT commented on #46799
@linda33wj Please add visuals for how to access the date  format properties in Copy Activity mapping via  UI.  The button is not visible by default.

[2020-01-28 21:18] KranthiPakala-MSFT commented on #46778
@AhmadBaaraGE Apologies for the delay in reponse.

1.  -ObjectId $factory.Identity.PrincipalId - This is the Managed Identity Object ID of your Linked Data factory (with which SHIR should be shared). Select your data factory from Azure portal -> Under General go to "Properties" section -> Look for "Managed Identity Object ID"

![image](https://user-images.githubusercontent.com/50185738/73304638-7f

[2020-01-28 21:18] #46778 closed

[2020-01-28 21:18] Gamecock opened #46990 "Device Provisioning Service connection string"
static readonly string ServiceConnectionString = "{Device Provisioning Service connection string}";

I am trying to do the tutorial for X509 groups.  This variable is required, but I cannot see in the tutorial where to get it.  It would be helpful to provide instructions or link to the correct page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-01-28 21:20] Mike-Ubezzi-MSFT commented on #46945
@PaulSells Thank you very much for bringing this to our attention. We are currently investigating and will update you when we have additional information to share.

[2020-01-28 21:25] Karishma-Tiwari-MSFT commented on #46968
Since this feedback is on the same document as https://github.com/MicrosoftDocs/azure-docs/issues/46969, I have combined the two issues into one.
We will close this issue now.

[2020-01-28 21:25] #46968 closed

[2020-01-28 21:26] Karishma-Tiwari-MSFT commented on #46969
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.