[2018-11-13 08:31] mattallenuk commented on #16500
@dextermiranda20 best to log an issue on the tinkerpop project. I'll take a look as well and come back with my results.

[2018-11-13 08:42] chrispadgettlivecom opened #18774 "Incorrect AzureApplicationInsightsProvider reference"
The first paragraph in the How It Works section should be refer to `Handler="Web.TPEngine.Providers.AzureApplicationInsightsProvider, Web.TPEngine, Version=1.0.0.0` rather than `Handler="Web.TPEngine.Providers.UserJourneyContextProvider, Web.TPEngine, Version=1.0.0.0`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b32

[2018-11-13 08:44] chrispadgettlivecom opened #18775 "Incorrect DefaultValue reference"
In the following example, the DefaultValue value should be `{Context:CorrelationId}`, rather than `{context:corelationId}`:

&lt;InputClaim ClaimTypeReferenceId="correlationId" DefaultValue="{context:corelationId}" /&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fc94d79-52c2-d03a-9821-32c048ffa020
* Version Indep

[2018-11-13 08:51] dextermiranda20 commented on #16500
@mattallenuk, thank you
seems I can't use anonymous traversal with the latest version. Please help me with your results.

[2018-11-13 08:55] dcbrown16 opened #18776 "TOC?"
Is this doc supposed to show in the TOC somewhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39bd6875-8c82-02ff-5b74-86bc9ce5b902
* Version Independent ID: d9d36752-ac83-89b1-e22d-32ba6a41d7e5
* Content: [Azure Active Directory activity logs in Azure Monitor (preview)](https://docs.microsoft.com/en-us/azure/active

[2018-11-13 08:55] imeya opened #18777 "Is it possible to log the messages from application insights to azure function console?"
If I use the methods from application insights, like trackTrace etc. , is there a way to log these messages to azure function console?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13672b67-22ea-3dda-8b6b-3332c24e6030
* Version Independent ID: fdc60aeb-9971-1d9f-a6ba-b3ad818cf0d5
* Content: [Monitor Azure Functions](h

[2018-11-13 08:56] SychevIgor opened #18778 "Update screenshot"
New portal UX is different from what is on a screenshot
https://docs.microsoft.com/en-gb/azure/hdinsight/media/hdinsight-hadoop-create-linux-cluster-portal/hdinsight-create-cluster.png
Please, update it
![screenshot from 2018-11-13 11-56-14](https://user-images.githubusercontent.com/578954/48401873-37335d80-e73b-11e8-92ab-f4a5914c8cb3.png)

---
#### Document details

⚠ *Do not edit this section. I

[2018-11-13 08:59] dcbrown16 commented on #18776
Supposed to be in Concepts > Monitoring > Azure AD logs in Azure Monitor from what I can see, but it doesn't show up that way.

[2018-11-13 09:05] PramodValavala-MSFT commented on #18326
@williamdlupo Thanks for reporting this! This seems to be a problem when dealing with numbers specifically.

I have created an issue - Azure/azure-webjobs-sdk-extensions#533 to further investigate.

Also, there is an open issue for accessing query parameters in the `sqlQuery` string - Azure/azure-webjobs-sdk#1726

[2018-11-13 09:05] PramodValavala-MSFT commented on #18330
@itsknob Thanks for reporting this! This seems to be a problem when dealing with numbers specifically.

I have created an issue - Azure/azure-webjobs-sdk-extensions#533 to further investigate.

[2018-11-13 09:06] SychevIgor opened #18779 "There is no more Data+Analytics section"
"Click Create a resource &gt; Data + Analytics &gt; HDInsight." (C)
Just "Analytics"
Please, update the text
![screenshot from 2018-11-13 14-47-11](https://user-images.githubusercontent.com/578954/48411618-16770200-e753-11e8-8fe9-b6d8930c8296.png)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 204ef3c6-f3a8-654f-0fd1-b

[2018-11-13 09:08] SychevIgor opened #18780 "Replace "Data + Analytics" with "Analytics""
![screenshot from 2018-11-13 12-08-24](https://user-images.githubusercontent.com/578954/48402539-ec1a4a00-e73c-11e8-99c0-d28452a6ff58.png)
Section was renamed

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3313ed8-c681-90ad-0c9c-1cb60e1bbc49
* Version Independent ID: 332d37d9-675a-05a9-08c1-8ee2100768ea
* Content: [Cl

[2018-11-13 09:10] bertrandpons commented on #18382
HI @dcbrown16 thanks for the links. It works great for application settings but not really for connection strings (hashtable issue...).

[2018-11-13 09:14] naveez-alagarsamy opened #18781 "create vm"
nice document to create VM -simplified

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e58109c-c8d3-6693-8e1d-03a89ca26168
* Version Independent ID: f20a7fc4-328a-e90d-29db-92a91aa1b2bd
* Content: [Quickstart - Create a Windows VM in the Azure portal](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/quic

[2018-11-13 09:14] dcbrown16 commented on #18382
az webapp config set in the Azure CLI is actually a more straightforward approach, I learned.
I know very little about PowerShell but Set-AzureRmWebApp does have a -ConnectionStrings parameter that takes a hash table for the strings. There must be some way to make hash tables as a secure object if that's the issue.

[2018-11-13 09:23] dcbrown16 opened #18784 "Mechanism behind snapshots"
Azure Backup docs say that the Azure Backup service uses Volume Shadow Copy Service (VSS) to perform its snapshots. I have a customer asking what technology or approach is used for disk snapshots.
Is there any information we can provide other than "it's not VSS"?
I assume it's basically equivalent to the Crash Consistency description on this page.
https://docs.microsoft.com/en-us/azure/backup/back

[2018-11-13 09:33] SychevIgor opened #18786 "Add AZ CLI 2.0 version of the script"
As I see, we can create do the same with AZ CLI 2.0 (without powershell)
https://docs.microsoft.com/en-us/cli/azure/hdinsight?view=azure-cli-latest#az-hdinsight-create using key --cluster-configurations
Could you provide a sample with fully linux based experience? (Yes, powershell was ported as powershell core to Linux, but it's still not native)

---
#### Document details

⚠ *Do not edit this sec

[2018-11-13 09:48] MikaVirkkunen opened #18787 "Typo in topics"
(Cloudyn / Resources /) "Clouydn Regional Availability" should be "Cloudyn Regional Availability"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2ccf81c-f627-3733-21a6-470647d8b00f
* Version Independent ID: 5f79db74-f8f4-616f-ca77-ccc58c806ab9
* Content: [Frequently asked questions for Cloudyn in Azure](https://docs.m

[2018-11-13 09:51] SychevIgor opened #18788 "Update screenshot"
![screenshot from 2018-11-13 12-50-06](https://user-images.githubusercontent.com/578954/48405160-d3ad2e00-e742-11e8-8a23-24feae5f07c0.png)
Portal UX is different from what is in this article. Please, update it
https://docs.microsoft.com/en-gb/azure/hdinsight/media/hdinsight-hadoop-install-presto/hdinsight-presto-launch-airpal.png

---
#### Document details

⚠ *Do not edit this section. It is requi

[2018-11-13 09:52] smoms commented on #17737
@michaeljqzq thanks. But i am not sure how to proceed now. My target platform as i mentioned is a RaspberryPi (Raspbian). So what option should i choose for the Agent Pool? Is Hosted Ubuntu 1604 fine?

[2018-11-13 09:53] SychevIgor opened #18789 "Update screenshot"
Portal UX is different from what is in this article. Please, update it
https://docs.microsoft.com/en-gb/azure/hdinsight/media/hdinsight-hadoop-customize-cluster-linux/scriptactionstile.png

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90d2d7ab-bebd-c102-a3d1-1db3c3f2a62e
* Version Independent ID: 7422c19c-b4e4-7086-40

[2018-11-13 09:57] ricohomewood opened #18790 "Unable to delete source control in Azure Automation - VsoGit Source Control"
There seems to be some bugs still with this in that for some reason i cannot delete an existing VsoGit source control.

When selecting the and hitting delete. An error is returned and all this is said is 'An error has occurred'. So cannot determine what that error is? full error in the portal is:

Delete source control failed.
9:52 AM
An error occurred while deleting the source control named 'Azur

[2018-11-13 10:00] dominicbetts commented on #18639
Hi @JetstreamRoySprowl - thanks for pointing this out. We should have removed that link as the learning paths are being retired. Please checkout our new learning content: https://docs.microsoft.com/learn/

Thanks, Dominic
#please-close

[2018-11-13 10:04] giovannifl opened #18791 "Security Best Practices for Kubernetes Deployment link is not work"
https://kubernetes.io/2016/08/security-best-practices-kubernetes-deployment.html is not working anymore

Working URL is:
https://kubernetes.io/blog/2016/08/security-best-practices-kubernetes-deployment/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0682b8a-eda3-edd9-d0b2-007f2a7c963a
* Version Independent ID: 47c3f78

[2018-11-13 10:40] gwassenaar opened #18793 "Questions about the configuration settings for Qlik Sense Enterprise"
Why is port 4443 specified in the Sign on URL instead of port 443?
Why does the Sign on URL contain only the hostname and not the fully qualified domain name?
Why is port 4443 specified in the Reply URL instead of port 443?
Why does the Reply URL contain only the hostname instead of the fully qualified domain name?
Why does the Reply URL not contain the prefix of the Qlik Sense Virtual Proxy?
Why

[2018-11-13 11:28] jusefb commented on #13282
Hi, it has been almost a month. Any update on the progress of this issue?

[2018-11-13 11:42] mifurm opened #18795 "Why the calculator shows the cost of GB per month for LRS as 5$?"
Team, I have used the quite extensively recently and after unhiding sheets in Excel I have discovered that you assume the GB cost per month in LRS replication costs 5$. Why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39afb641-fa83-3f39-d35b-c12382d03a42
* Version Independent ID: 73280edf-c418-52d0-bb68-b647f2bdfb1e

[2018-11-13 11:42] SychevIgor opened #18796 "Update 2 screenshots"
https://docs.microsoft.com/en-us/azure/hdinsight/hadoop/media/apache-hadoop-linux-tutorial-get-started/hdinsight-linux-get-started-open-cluster-dashboard.png
https://docs.microsoft.com/en-us/azure/hdinsight/hadoop/media/apache-hadoop-linux-tutorial-get-started/hdinsight-delete-cluster.png

Current UX looks different from what we see in an article. Please update it.

---
#### Document Details

⚠ *D

[2018-11-13 11:46] SychevIgor opened #18797 "Update screenshot and text"
![screenshot from 2018-11-13 14-47-11](https://user-images.githubusercontent.com/578954/48411599-09f2a980-e753-11e8-8859-5b7b97a0a0ec.png)
https://docs.microsoft.com/en-us/azure/hdinsight/spark/media/apache-spark-jupyter-spark-sql-use-portal/azure-portal-create-hdinsight-spark-cluster.png
Current UX looks different from what we see in an article. Please update it.
Also, there is no more "Data + An

[2018-11-13 11:52] SychevIgor opened #18798 "AZ CLI 2.0 in Quickstarts"
Please, add either a separate article under Quickstarts section or update this article do include create cluster experience from cross platform tool- AZ CLI 2.0
https://docs.microsoft.com/en-us/cli/azure/hdinsight?view=azure-cli-latest#az-hdinsight-create

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdc61ed2-8434-e4b

[2018-11-13 11:56] SychevIgor opened #18799 "Update screenshot"
![screenshot from 2018-11-13 14-55-51](https://user-images.githubusercontent.com/578954/48411969-4ffc3d00-e754-11e8-9f70-a0db185786ee.png)
https://docs.microsoft.com/en-us/azure/hdinsight/spark/media/apache-spark-eventhub-streaming/hdinsight-create-event-hub-for-spark-streaming.png
Current UX looks different from what we see in an article. Please update it.

---
#### Document Details

⚠ *Do not ed

[2018-11-13 12:07] SychevIgor opened #18800 "Update an article to AZ 2.0 CLI"
"The current release of the Azure CLI does not have support for the features outlined in this article, so the classic CLI is required.", AZ CLI 2.0 for a long enough time support all mentioned operations. Please update this article to utilize latest/up to date version of azure cli 2.0

https://docs.microsoft.com/en-us/cli/azure/storage/blob?view=azure-cli-latest#az-storage-blob-list
https://docs.m

[2018-11-13 12:13] SychevIgor opened #18801 "RTM version of nuget packages"
In an example, used pre-released version of packages
 Install-Package Microsoft.Azure.Common.Authentication -Pre
 Install-Package Microsoft.Azure.Management.HDInsight -Pre
 Install-Package Microsoft.Azure.Management.Resources -Pre

2 our of 3 packages not maintained for 2-3 years https://www.nuget.org/packages/Microsoft.Azure.Common.Authentication/1.7.0-preview and https://www.nuget.org/packages/M

[2018-11-13 12:19] jschumann commented on #16500
@dextermiranda20

I've been adding a .getBytecode() step to all my queries from node:
[code]

(I'm working in TypeScript, but you get the idea.)

As for __.out(), try:
[code]
Found that in some docs somewhere (sorry, don't have link handy), but haven't used it yet. YMMV.

[2018-11-13 12:29] SychevIgor opened #18803 "Screenshots update"
https://docs.microsoft.com/en-us/azure/hdinsight/media/connect-on-premises-network/vm-basics.png
https://docs.microsoft.com/en-us/azure/hdinsight/media/connect-on-premises-network/virtual-network-settings.png

Current UX looks different from what we see in an article. Please update it.

![screenshot from 2018-11-13 15-28-16](https://user-images.githubusercontent.com/578954/48413466-e3d00800-e758-1

[2018-11-13 12:41] warmchang opened #18804 "Wrong CPU resource unit"
In chapter [Resource reservations](https://github.com/MicrosoftDocs/azure-docs/blob/03c3aff7d3786f7fd0294269d267ff02d2ebd1a8/articles/aks/concepts-clusters-workloads.md#resource-reservations), an example of CPU resource reservation is described, but the unit is incorrect.

Should be core or millicore.

Ref: https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#meani

[2018-11-13 12:46] warmchang opened #18805 "Wrong CPU resource unit"
In chapter [Resource reservations](https://github.com/MicrosoftDocs/azure-docs/blob/03c3aff7d3786f7fd0294269d267ff02d2ebd1a8/articles/aks/concepts-clusters-workloads.md#resource-reservations), an example of CPU resource reservation is described, but the unit is incorrect.

Should be core or millicore.

Ref: https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#meani

[2018-11-13 12:49] warmchang commented on #18804
Resubmit the bug by Feedback tool.
/close

[2018-11-13 12:49] #18804 closed

[2018-11-13 12:54] strohne commented on #17188
great it works, thank you!

[2018-11-13 13:00] SychevIgor opened #18807 "AZ CLI 2.0"
AZ CLI for a long time support hdinsight.
Could you in a section
https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-hadoop-development-using-azure-resource-manager#migrating-azure-classic-cli-to-azure-resource-manager
somehow highlight that instead of Classic CLI, in the end of 2018, Microsoft suggest to use AZ CLI 2.0?
Almost all commands are supported except of http endpoints.
https://do

[2018-11-13 13:03] SychevIgor opened #18808 "AZ CLI 2.0"
Again, classic cli should be replaced with cli 2.0
https://docs.microsoft.com/en-us/cli/azure/hdinsight?view=azure-cli-latest

Instead:
 azure hdinsight cluster list
    azure hdinsight cluster show &lt;ClusterName&gt;
Could be used
https://docs.microsoft.com/en-us/cli/azure/hdinsight?view=azure-cli-latest#az-hdinsight-show
https://docs.microsoft.com/en-us/cli/azure/hdinsight?view=azure-cli-latest

[2018-11-13 13:06] andyjballgit commented on #5480
Hi,

Just researching this and hit same question. Use Case : It is becoming increasingly common for CISO / Security / Audit teams to asks "How are the logs stored / is it in plain text / can it be manipulated" .. Pushing App Service logs to Log Analytics / Event Hub / Splunk helps with answering this question.

cheers,
Andy.

[2018-11-13 13:08] SychevIgor opened #18809 "Update screenshots"
Current UX looks different from what we see in an article. Please update it.

https://docs.microsoft.com/en-us/azure/hdinsight/spark/media/apache-spark-connect-to-sql-database/hdinsight-jupyter-notebook-on-spark.png
https://docs.microsoft.com/en-us/azure/hdinsight/spark/media/apache-spark-connect-to-sql-database/hdinsight-cluster-dashboard-on-spark.png

![screenshot from 2018-11-13 16-07-31](https

[2018-11-13 13:17] gregorybleiker commented on #8748
in the line
[code]
shouldn't it be
[code]

[2018-11-13 13:26] OOPMichael opened #18810 "links to PS or rest functionality"
[Enter feedback here]

can you link to the equivalent REST api or Powershell cmd for creating App Registrations, as well as generating secrets/keys? I cannot find it anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11aaa091-1108-52f6-0066-0f4e939aeef4
* Version Independent ID: dbc7e37e-87a7-c124-3e4c-47aa060e6c

[2018-11-13 13:43] LeeGrant8 commented on #18732
Hi Mike,
Thank you for the quick reply. I am using Azure Table Storage, not Cosmos DB. They seem to share the same .NET library now. As I said, a few years ago I was able to query based on a DateTime field without issues. I don't want to have to use Cosmos DB as Table storage is considerably less expensive. I can supply sample code upon request. Thanks.

[2018-11-13 14:04] SychevIgor opened #18811 "Update screenshots"
Current UX looks different from what we see in an article. Please update it.

https://docs.microsoft.com/en-us/azure/hdinsight/r-server/media/r-server-get-started/dashboard-quick-links.png
https://docs.microsoft.com/en-us/azure/hdinsight/r-server/media/r-server-get-started/r-studio-server-dashboard.png

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-11-13 14:08] ansant commented on #12657
Hello Adam. Any news on this? Thanks in advance.

[2018-11-13 14:11] SychevIgor opened #18812 "AZ CLI 2.0"
Again, classic cli should be replaced with cli 2.0
https://docs.microsoft.com/en-us/cli/azure/hdinsight?view=azure-cli-latest

Instead:
azure hdinsight cluster list
azure hdinsight cluster show &lt;ClusterName&gt;
Could be used
https://docs.microsoft.com/en-us/cli/azure/hdinsight?view=azure-cli-latest#az-hdinsight-show
https://docs.microsoft.com/en-us/cli/azure/hdinsight?view=azure-cli-latest#az-h

[2018-11-13 14:32] rothja commented on #18719
@tksh164 Thanks! The problem is that this topic is shared into many TOCs but it does not have a default TOC (and I'm not sure we can give it one). I'll investigate further. Thank you!

[2018-11-13 14:37] CKeene78 commented on #17853
Apparently this binding is *not* for retrieving authentication codes/tokens. What is the point of this binding if I have to get the token some other way first? I understand that there are several ways to retrieve a token but, as of now, I'm unable to do so without a redirect which does *not* help with serverless as there is potentially no UI for it to go through. Most of the SDKs are difficutlt to

[2018-11-13 14:46] TShau opened #18813 "Content deprecated"
It looks like the "settings" button does not exist anymore, and is replaced by several options on the blade.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c7a2fbc-8bc9-728f-c59c-2b9daffdaaed
* Version Independent ID: 0639ee1c-a0f4-6d3a-e5aa-6fa18ae7b078
* Content: [How to configure a cloud service (portal)](https://d

[2018-11-13 14:47] YoannGUILLO commented on #12839
Same issue, this RG seems to be created when we add a vm to backup...
What is the goal of this RG ? It didn't appear on my previous Recovery Services Vault created few months ago.

[2018-11-13 14:55] simonua opened #18814 "Purge via PowerShell / DevOps CD"
Could you please provide details on how a purge can be performed programmatically / as part of a build process? Especially with the new Static Websites feature in Blob Storage, it's important to be able to purge the CDN after build deployment to Blob Storage has occurred.

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-11-13 15:03] CelesteDG commented on #18810
Thank you for the feedback, @OOPMichael. This is indeed a gap in our docs and we’re working to get this addressed.

[2018-11-13 15:05] Lroca88 commented on #18245
Thank you @mikebudzynski!

It might be my interpretation, but when I first read the article it wasn't clear to me that the API management would reroute requests in case of a region going offline when implementing regional backend services.

I have the picture pretty clear now when reading your last comment:

[2018-11-13 15:10] GuyHarwood opened #18815 "Documentation needed on how to run functions that use bindings extensions in a docker container"
The simplest of functions (http and timer) do not require the .net core dlls installing.  if you use queue, blob storage triggers, you have to run `func extensions install` before you run the function to install the necessary bindings.  How to do this with docker is not covered in your tutorials.  Please advise

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2018-11-13 15:16] jhealy opened #18816 "service endpoint limits"
Not one of those links has service limits in it for endpoints.  Be nice to have an aggregation of endpoint limits for services in this.  Or at least some links that don't send me down the R&D route to hades.

&gt;&gt; For an Azure service resource (such as, an Azure Storage account), services may enforce limits on the number of subnets used for securing the resource. Refer to the documentation for

[2018-11-13 15:30] UIrving opened #18817 "How to access ConnectionString in VBScript?"
Hi, how can I access the ConnectionString variable in VBScript?

My app is developed with Classic ASP and hosted on Azure App Services.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91979290-94f6-b300-e200-f071129a92b2
* Version Independent ID: 77b80ec5-3559-74e6-e0fa-6384b20052e5
* Content: [Configure web apps in Azu

[2018-11-13 15:35] Yvand opened #18818 "What are the exact permissions required for the personal access token in GitHub?"
In GitHub, the page to generate a personal access token changed and there is no more options checked by default (https://github.com/settings/tokens/new).
I generated a token by selecting all permissions in scope "repo" and my ARM template was successfully added to the list, but it would be nice to know the exact permissions required, and update this article accordingly

---
#### Document Details

[2018-11-13 15:36] cephalin commented on #18734
@gcobr Thank you. I've updated the article based on your feedback here and it will be published in a few hours. I'll work on your other feedback separately. #please-close

[2018-11-13 15:48] guybartal opened #18819 "enabling http application routing addon to an existing aks cluster failed"
I've tried to enable HTTP application routing addon to an existing aks cluster by running this command:
az aks enable-addons -a http_application_routing -g Kubernetes-Test-RG -n Kubernetes-Test

And i get this error:
'logAnalyticsWorkspaceResourceID'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 197, in invoke
    cmd_result = self.invocation.ex

[2018-11-13 15:55] jeevansd commented on #13282
@jusefb We are already trying this solution with a customer. If you want to also give a try please send us the email on SaaSApplicationIntegrations@service.microsoft.com Then we can work with you.

[2018-11-13 15:57] cephalin commented on #18382
@bertrandpons Take a look here: https://docs.microsoft.com/en-us/azure/app-service/scripts/app-service-powershell-connect-to-sql

More powershell examples can be found here: https://docs.microsoft.com/en-us/azure/app-service/app-service-powershell-samples. CLI examples: https://docs.microsoft.com/en-us/azure/app-service/app-service-cli-samples

[2018-11-13 15:59] SteveLasker commented on #18288
Just a quick ask, as I run into a meeting. Have you applied `az acr helm repo add`? This is how the auth is set for the helm repo.

[2018-11-13 16:01] ichkoj commented on #18607
Thanks Mohit!
Just FYI - I can confirm 100% that if you apply Conditional policy MFA enabled account on IOS native mail app setup with ActiveSync and App Password it will block your access unless you're in MFA trust location.

[2018-11-13 16:03] spelluru commented on #18818
@jkwon2013 - Please review and respond when you get a chance. Thanks.

[2018-11-13 16:03] nicojdejong commented on #18284
@diberry - Apart from ranking on the side of QnAMaker I also found a distinction in the Azure Search analyzer for English as it uses lemmatization (https://docs.microsoft.com/en-us/rest/api/searchservice/language-support) - this could lead to what I labelled as 'correcting spelling mistakes' - it does not doe this .. it just matches on lemma and then find a very similar lemma in QnAMaker.

[2018-11-13 16:07] diberry commented on #18284
@nicojdejong @tulasim88

Hi Nico, thank you for your patience and persistence working through this issue. I'm going to see if there is someone more knowledgable than me to answer your questions.

[2018-11-13 16:09] badalk commented on #18288
Yes I did, within the script

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Steve Lasker <notifications@github.com>
Sent: Tuesday, November 13, 2018 10:59 AM
To: MicrosoftDocs/azure-docs
Cc: Badal Kotecha; Comment
Subject: Re: [MicrosoftDocs/azure-docs] ACR Helm logs out frequently (#18288)

* This e-mail originated outside of Mindtree. Exercise caution before

[2018-11-13 16:15] sergaz-msft commented on #18680
Can you confirm if this is the request you opened? https://feedback.azure.com/forums/907045-azure-iot-edge/suggestions/35999155-azure-iot-edge-tier-1-support-for-ubuntu-running-o

Thank you!

[2018-11-13 16:16] iainfoulds commented on #18805
When you assign your own resource requests and limits, yes, it should be defined in core or millicore. The sample YAML manifests correctly show this further down in the article.

The resource reservations discussed in this section aren't pod requests or limits, rather how much CPU time and memory the Azure node is reserving for its own management operations. These reservations aren't anything you

[2018-11-13 16:16] tulasim88 commented on #18284
Hi Nico,
thanks for the detailed questions and comments !
I am answering them at a high level here, but if you have more detailed questions and need any firther help, please do send email to "QnAMakerSupport@microsoft.com" - so we can get into the details with you.

You are right, that the spelling and other corrections are due to the language analyzers that use lemmatization. To ensure that you a

[2018-11-13 16:24] joelvasco opened #18820 "NotConnectedError: mqtt.js returned client disconnecting error"
Hi,
Always, after aprox 1200 messages sent to Azure I get the following error:
/home/pi/iot-hub-node-raspberrypi-client-app/node_modules/az-iot-bi/node_modules/applicationinsights/AutoCollection/Exceptions.js:27
                        throw error;
                        ^
NotConnectedError: mqtt.js returned client disconnecting error
    at translateError (/home/pi/iot-hub-node-raspberrypi-clien

[2018-11-13 16:35] mattbriggs commented on #18754
@ebibibi Thanks for your feedback. I'll review and hope to update today. Thanks! #in-progress

[2018-11-13 16:40] #18639 closed

[2018-11-13 16:47] Alberto-Vega-MSFT commented on #18676
@davidmu1 Would you please review this PR? Thanks

[2018-11-13 16:48] laultman opened #18821 "Documentation Update Needed - Step 1, numbers 6 & 7"
Number 6: Portal instructions do not match this page. Clarifications are needed to limit confusion.
Number 7: "Save" is not an option in the portal, now it is "Register".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cceddcd-1431-ab61-df75-7ccf74a84fba
* Version Independent ID: d5833a30-c43e-8048-63b3-d94d26410a3b
*

[2018-11-13 16:48] DeanGross commented on #18405
Have you been able to find any information?

[2018-11-13 16:51] #18805 closed

[2018-11-13 16:51] MicahMcKittrick-MSFT commented on #18761
Thanks for the question! We are investigating and will update you shortly.

[2018-11-13 16:52] MicahMcKittrick-MSFT commented on #18769
@garyfuhr thanks for the update! Glad to hear you were able to resolve :)

[2018-11-13 16:53] MicahMcKittrick-MSFT commented on #18813
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-13 16:54] MicahMcKittrick-MSFT commented on #18819
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-13 16:54] MicahMcKittrick-MSFT commented on #18781
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-13 16:55] MicahMcKittrick-MSFT commented on #18784
Thanks for the question! We are investigating and will update you shortly.

[2018-11-13 17:02] MicahMcKittrick-MSFT commented on #18804
Duplicate of #18805

[2018-11-13 17:09] eross-msft commented on #17719
@v-videba Since this is related to customer issues, I'll put this into my task backlog to add to our content set for the next release. @MarileeTurscak-MSFT #please-close

[2018-11-13 17:09] phillipgibson opened #18822 "Error on Script. "You must specify an object for the Get-Member cmdlet.""
If I run the Access all VMs of the VMMap in a loop script as a post action I receive the following error.

Microsoft.PowerShell.Utility\Get-Member : You must specify an object for the Get-Member cmdlet.

At TestASR-Workflow:3 char:3

+

    + CategoryInfo          : CloseError: (:) [Get-Member], InvalidOperationException

    + FullyQualifiedErrorId : NoObjectInGetMember,Microsoft.PowerShell.Comma

[2018-11-13 17:12] Karishma-Tiwari-MSFT commented on #18781
@naveez-alagarsamy Glad to know the doc was helpful to you. :)
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-13 17:12] #18781 closed

[2018-11-13 17:13] hukun01 opened #18823 "Does Event Grid have dead-lettering mechanism?"
Hi,

I'm wondering how Event Grid guarantees 'at lease once delivery' with a bounded retry. In Service Bus, it's clearly mentioned that the service supports dead-lettering, but for Event Grid it's not clear whether the service doesn't support or this document just missed that part.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-11-13 17:14] Karishma-Tiwari-MSFT commented on #18345
@rizwaans Can you please take a look at the suggestion above and see if that helps you. Thanks.

[2018-11-13 17:15] msalvadores commented on #18411
Thanks @tilnl I will look at it and will let you know.

[2018-11-13 17:17] thommck commented on #15255
A lot of our SAML implementations don't rely on the certificate, just the meta data. From what we've seen it hasn't had any negative effect on the sso since the cert expired

Thanks,
Thom McKiernan

Sent from 07468 473239

________________________________
From: Luis Leon <notifications@github.com>
Sent: Tuesday, November 13, 2018 12:40:30 AM
To: MicrosoftDocs/azure-docs
Cc: thommck; Mention
Subjec

[2018-11-13 17:17] Karishma-Tiwari-MSFT commented on #18380
@richardharrison2 Currently we do not have support for SLES. I would recommend providing your feedback [here](https://feedback.azure.com/forums/169401-azure-active-directory).
I am trying to get the information internally on roadmap for SLES. I will update it here once I have the info.
I will close this issue for now. If there are further questions regarding this matter, please reopen it and we wi

[2018-11-13 17:17] #18380 closed

[2018-11-13 17:18] Karishma-Tiwari-MSFT commented on #18442
@andrae Did that doc shared above help?

[2018-11-13 17:18] theangellmethod commented on #13313
@sergaz-msft @kgremban  The reason I would propose changing from burstable VM to something in the D-series (D1, D2) is that if developers are using the tutorial to begin building out a proof of concept rather than simply to do the tutorial they will need to change the VM size later.  If they aren't familiar with VMs and their limitations, this gives the impression that the B1ms will be sufficient

[2018-11-13 17:23] iainfoulds commented on #12924
@jordanbettisnielsen Upstream in Kubernetes 1.12 we released support for virtual machine scale sets - https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/overview. This is currently in the process of becoming available downstream in AKS, and we should have a public preview available in the next few weeks.

[2018-11-13 17:30] yuwaMSFT2 commented on #18288
@badalk can you try assign Contributor role or Owner role to this service principal? The role ACRImagePusher will not work for now yet (we are enabling the role very soon).

[2018-11-13 17:31] Ayanmullick commented on #17707
What's the syntax to use a saved function in another query?

[2018-11-13 17:34] Adam-Smith-MSFT commented on #18677
@Zanyangwang only the Data Box online options allow the transfer of data from/to Azure, both options are in preview, you should sign up if you are interested : https://azure.microsoft.com/en-us/services/storage/databox/edge/ This will also share more information about your use case since it's not yet out of preview.cl_

[2018-11-13 17:34] #18677 closed

[2018-11-13 17:35] 7100SW opened #18824 "Validating the JWT in Web API obtained by ROPC"
Is there a difference on validating the token obtained thru ROPC compared to other grant flows?  I think there is something that is different and that should be highlighted in this section.  Perhaps a link to a page that shows how to setup Web Api with JWT validation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c546

[2018-11-13 17:36] bwren commented on #17707
You use the alias name.  So if you create a function with alias MyFunction, then you use MyFunction in another query to use it.

[2018-11-13 17:37] Adam-Smith-MSFT commented on #18760
@SharePointOz Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-13 17:38] 7100SW commented on #13614
I think I just ran into the same issue today.  I was able to get a token thru ROPC but my Web Api JWT validation is failing.

[2018-11-13 17:38] bwren commented on #17972
It's next to the Run button.  Looks different, but it's still there.  We know that we're behind on updating screenshots, but this is on our list.

[2018-11-13 17:38] Adam-Smith-MSFT commented on #18822
@phillipgibson Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-13 17:39] #18770 closed

[2018-11-13 17:39] Adam-Smith-MSFT commented on #18770
@zarchigl we currently don't have an ETA for the feature, but I would recommend posting here: https://feedback.azure.com/forums/217321-sql-database
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-13 17:40] SteveLasker commented on #18288
Hi @badalk, sorry, I missed the role assignment part. We are in the process of testing some additional roles, as outlined here: https://github.com/Azure/acr/blob/master/docs/roles-and-permissions.md
_However, these aren't yet implemented._ Please use **contributor** (push/pull) and **reader** (pull only) for now.

[2018-11-13 17:41] ggailey777 commented on #17213
@drwebmonkey there was a bug in the Visual Studio tooling where the Authorization level in the UI was not being set correctly in the generated **HttpTrigger** attribute. This has now been fixed.
If you aren't seeing the Run from zip option, you might be using an older version of the tools.

Can you please make sure that you are running the latest version of Visual Studio 2017 and the Functions too

[2018-11-13 17:43] Adam-Smith-MSFT commented on #18795
@mifurm Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-13 17:44] ravitejapinnaka commented on #18504
@Alberto-Vega-MSFT Please note that there's an existing issue similar to this
https://github.com/MicrosoftDocs/azure-docs/issues/17899
I hope this can help.

[2018-11-13 17:45] ggailey777 commented on #17536
@timmyreilly there is an example of a non-ID query in [this recipe article](https://docs.microsoft.com/en-us/sandbox/functions-recipes/cosmos-db?tabs=csharp#retrieve-a-list-of-documents). We are still working on how to best get these examples into the binding articles.

cc. @craigshoemaker

[2018-11-13 17:46] ggailey777 commented on #17536
@YutongTie-MSFT please assign this issue to @craigshoemaker.

[2018-11-13 17:49] Guillaume-MSFT opened #18826 "Multi-Geo minimum requirements"
Minimum of 2500 licenses requirements mentioned in this document is incorrect.
Please refer to Microsoft Product Terms for current minimum, being 5000 licenses.
Would be good to have page updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b285f539-0487-0de5-24ef-89f773a1081d
* Version Independent ID: b4f26f73-6b46

[2018-11-13 17:49] jason-j-MSFT commented on #18745
@KeiroKamioka0000 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-13 17:50] jason-j-MSFT commented on #18740
@nickbeagley Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-13 17:54] MicahMcKittrick-MSFT commented on #18791
@giovannifl thanks for the find! I have corrected the doc. Once the PR merges this issue will close and the changes will go live in a few hours.

[2018-11-13 17:54] #18676 closed

[2018-11-13 17:57] Alberto-Vega-MSFT commented on #18797
@SychevIgor Thanks for the detailed feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-13 17:59] MicahMcKittrick-MSFT commented on #18410
@DMoonesinghe thanks for all this! This is great feedback :)

From here I would like to do the following:

1) Please email me at AzCommunity@microsoft and provide me with the link to this issue. This way I have your email address to contact you offline
2) I will close this out and forward all this feedback directly to the monitoring and OMS team
3) Once I hear back from them, I will update you via

[2018-11-13 17:59] #18410 closed

[2018-11-13 18:00] cynthn commented on #14662
@MicahMcKittrick-MSFT I can add something about being a Global AAD Tenant Admin to the doc today. I don't think we should add the scripts to the existing doc, but we might want to add them to the scripts repo and link to them from the scripts section in the TOC. We can talk about more details offline :)

[2018-11-13 18:01] sergaz-msft commented on #18467
Thanks @veyalla ! This is the bug for reference: https://github.com/Azure/iotedge/issues/530

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-13 18:01] #18467 closed

[2018-11-13 18:04] sergaz-msft commented on #18468
Thanks @veyalla . @kgremban can we add a note on the doc that Edge runtime can be operate offline indefinitely? Thanks!

[2018-11-13 18:06] jason-j-MSFT commented on #18772
@SychevIgor
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-13 18:07] andretms commented on #18821
The instructions are correct. Steps 6 and 7 are to be executed after the initial registration. You have to select the Authentication page after registering and selecting the checkbox with urn:ietf:wg:oauth:2.0:oob and then click **Save**

[2018-11-13 18:07] sergaz-msft commented on #18547
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-13 18:07] #18547 closed

[2018-11-13 18:08] jason-j-MSFT commented on #18778
@SychevIgor
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-13 18:08] jason-j-MSFT commented on #18779
@SychevIgor
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-13 18:09] jason-j-MSFT commented on #18780
@SychevIgor
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-13 18:10] kgremban commented on #12861
@bhall7718 and @Mike-Ubezzi-MSFT Following up to see if this issue, and its related issue #12863, have been resolved or if more work needs to be done?

[2018-11-13 18:13] Grace-MacJones-MSFT commented on #18734
We will now proceed to close this thread.

[2018-11-13 18:13] #18734 closed

[2018-11-13 18:17] kgremban commented on #13978
Hi @andrepodnozov I'd like to get more information about this issue that you reported. First, we recently did a large change to the gateway documentation to be more clear so the specific section that you mention has been changed.

So you had a device that had been used as an IoT Edge device previously and you were following the instructions to configure it as a gateway device? Did you get the erro

[2018-11-13 18:19] mike-urnun-msft commented on #18777
Hi @imeya Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-11-13 18:19] kobulloc-MSFT commented on #18818
@Yvand Thank you for the feedback!  The document author will get back to you shortly.

[2018-11-13 18:21] mike-urnun-msft commented on #18815
Hi @GuyHarwood Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-11-13 18:23] mike-urnun-msft commented on #18823
Hi @hukun01 Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-11-13 18:29] kgremban commented on #18468
@sergaz-msft @simardst We do currently mention that the IoT Edge hub can function offline indefinitely:

<img width="481" alt="image" src="https://user-images.githubusercontent.com/13578436/48434555-e0c02200-e72e-11e8-8302-4ead94371776.png">

Was this section not clear? What would have made this information easier to find? Thanks.

[2018-11-13 18:30] #18791 closed

[2018-11-13 18:32] MicahMcKittrick-MSFT commented on #18813
@TShau thanks for pointing this out.

@jpconnock I can confirm the Cloud Services Management page has changed quite a bit. We should get the screenshots and what not updated to reflect the changes.

[2018-11-13 18:33] Ayanmullick commented on #17707
I created a function but just putting 'MyFunction' in the query isn't producing any results.

[2018-11-13 18:33] MicahMcKittrick-MSFT commented on #14662
@cynthn sounds good :)

[2018-11-13 18:34] LarrySmith-1437 commented on #16872
Thanks guys!

[2018-11-13 18:37] simardst commented on #18468
If an IoT Edge device restarts while offline (no network connectivity), do the modules and the child devices will be able to reconnect to the Edge device and restart to send events to the IoT Edge Hub?  Is there some limitations?

[2018-11-13 18:43] bandersmsft commented on #18742
@v-micada Great idea. Will do.

[2018-11-13 18:45] bandersmsft commented on #18787
@mikavirkkunen Thanks for catching that error. I'll update.

[2018-11-13 18:49] MarileeTurscak-MSFT commented on #18774
@chrispadgettlivecom
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-13 18:49] srikwit commented on #18447
Hi Team, is there an update?

[2018-11-13 18:50] bandersmsft commented on #18787
#in-process

[2018-11-13 18:51] bandersmsft commented on #18742
#in-process

[2018-11-13 18:51] MarileeTurscak-MSFT commented on #18750
@mabicca
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-13 18:54] MarileeTurscak-MSFT commented on #18793
@gwassenaar
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-13 18:55] MarileeTurscak-MSFT commented on #18752
@ctxldy
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-13 18:57] MarileeTurscak-MSFT commented on #18824
@7100SW
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-13 18:58] MarileeTurscak-MSFT commented on #18776
@dcbrown16
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-13 18:59] MarileeTurscak-MSFT commented on #18826
@Guillaume-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-13 19:00] MarileeTurscak-MSFT commented on #18775
@chrispadgettlivecom
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-13 19:00] andretms commented on #18821
#please-close

[2018-11-13 19:01] jegeib commented on #18750
Replying privately via email.

[2018-11-13 19:02] Alberto-Vega-MSFT commented on #18799
@SychevIgor Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-13 19:02] priyamohanram commented on #18776
Thanks for reporting the issue. The problem occurred because the article was recently renamed and the TOC links to the old path (which now redirects to the new path). I've fixed it and the documentation should be updated shortly. Please feel free to open a new issue if you have any further questions.

#please-close

[2018-11-13 19:03] Alberto-Vega-MSFT commented on #18788
@SychevIgor Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-13 19:03] peterschen commented on #18076
@Karishma-Tiwari-MSFT: Any update?

[2018-11-13 19:05] TravisCragg-MSFT commented on #18765
@MichelZ Thanks for the feedback! i have confirmed that the PolicyBased link for PaloAlto is no longer correct.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-13 19:12] Alberto-Vega-MSFT commented on #18798
@SychevIgor Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-13 19:16] Alberto-Vega-MSFT commented on #18812
@SychevIgor Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate. @ashishthaps

[2018-11-13 19:19] TravisCragg-MSFT commented on #18757
@marknettle Thanks for the sample, hopefully others will find it useful.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-13 19:19] #18757 closed

[2018-11-13 19:23] Alberto-Vega-MSFT commented on #18808
@SychevIgor Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate. @ashishthaps

[2018-11-13 19:27] LisandroSu opened #18833 "Update Support OS"
@hermesian commented on [Tue Nov 13 2018](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/896)

The document should cover new OS distribution (e.g. RHEL 7.5).
RHEL 7.5 等、 新規の OS のディストリビューションでサポートされているか、ドキュメントに記載いただけたらと思います。

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: f89338c0-968d-c22f-5b0d-ed3870ebc2fa
* Version Independent ID: 6daae1cc-

[2018-11-13 19:27] LisandroSu commented on #18833
Hi team,
Please check the feedback provided by the user

Thanks!

[2018-11-13 19:33] Alberto-Vega-MSFT commented on #18803
@SychevIgor Thanks again for the feedback, I assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-13 19:33] jason-j-MSFT commented on #18786
@SychevIgor
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-13 19:34] craigshoemaker commented on #16651
@shapeh and @pdbeckwith the sample was updated on Oct 26th to feature a v2 function (which no longer uses `TraceWriter`, etc.). Have you tried this tutorial again since 10/26?

cc: @ggailey777 & @mike-urnun-msft

[2018-11-13 19:34] jason-j-MSFT commented on #18789
@SychevIgor
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-13 19:35] jason-j-MSFT commented on #18796
@SychevIgor
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-13 19:36] jason-j-MSFT commented on #18798
@SychevIgor
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-13 19:37] jason-j-MSFT commented on #18800
@SychevIgor
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-13 19:37] jason-j-MSFT commented on #18801
@SychevIgor
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-13 19:39] jason-j-MSFT commented on #18811
@SychevIgor
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-13 19:40] jason-j-MSFT commented on #18807
@SychevIgor
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-13 19:40] JamesLee-MSFT commented on #18763
@mrinalinihanagodu Can you share the document you are referencing for this issue?

[2018-11-13 19:41] LisandroSu opened #18835 "The cluster configuration for config-upgrade"
@krvladislav commented on [Tue Nov 13 2018](https://github.com/MicrosoftDocs/azure-docs.ru-ru/issues/74)

What is a valid format of the config string to be passed via --cluster-config argument?

I get "(E_INVALIDARG) Invalid argument" when I try for example to pass content of a file mentioned in https://github.com/Microsoft/service-fabric-cli/blob/34dba32e2dbaaebd2f412319a802cf60adb312f9/customSDK

[2018-11-13 19:41] JamesLee-MSFT commented on #18764
@tombow989 Can you share the document you are referencing?

[2018-11-13 19:41] sethmanheim commented on #14274
Fixed, #please-close

[2018-11-13 19:42] LisandroSu commented on #18835
Hi team,

Please check the issue reported by the user.

Thanks!

[2018-11-13 19:42] sethmanheim commented on #15243
Sounds good we will definitely do that for the next release! #please-close

[2018-11-13 19:44] sethmanheim commented on #15513
Please let me know specifically what the documentation issue is here, in the meantime we will close this issue. #please-close

[2018-11-13 19:47] JamesLee-MSFT commented on #18767
@saifuddin123 Thank you for the document link.  We are investigating the issue.

[2018-11-13 19:48] JamesLee-MSFT commented on #18768
@nssidhu Can you share the document you are referencing?

[2018-11-13 19:49] JamesLee-MSFT commented on #18768
@nssidhu Can you share the document you are referencing?

[2018-11-13 19:51] JamesLee-MSFT commented on #18703
@bechynsky Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-11-13 19:51] #18703 closed

[2018-11-13 19:53] mike-urnun-msft commented on #18456
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-13 19:53] #18456 closed

[2018-11-13 19:55] JamesLee-MSFT commented on #18511
@melezhik We are requesting you to contact us via e-mail with your subscriptionid so we can have support work with you directly online.

[2018-11-13 19:58] #15423 closed

[2018-11-13 19:59] #17719 closed

[2018-11-13 20:04] JeffPetersPRA opened #18837 "Replace Regex examples"
I'm with davegreen on this one. We want to use the replace function to strip out the username to identify the number being added to the end so that it can also be added to UPN/Email to avoid duplicates.

Replace([UserID], , "(\\D)", , "", , ) Should just leave either nothing or any digits that exist in [UserID] but its failing for syntax. Is there any better documentation of integrating regex into

[2018-11-13 20:05] #18776 closed

[2018-11-13 20:06] #18821 closed

[2018-11-13 20:10] CHDAFNI-MSFT opened #18838 "Change 'Directory Administrator' to GA."
Several references to a directory administrator' in the article, the link referenced for how to elevate to the root tenant points to a 'global administrator' performing this action. Therefore all references to Directory Administrator should be renamed to Global Administrator

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2018-11-13 20:17] axisc commented on #15705
@mack0196  sorry for the delay. A pump is not the same as a message broker.

The 'pump' is a worker thread that sends the message to different partitions as specified. Single pump implies that it reads the incoming messages one at a time and sends them to the appropriate partition.

multiple pumps(workers) may end read from the same ingress message source and then push them to different partitions

[2018-11-13 20:27] codeputer opened #18839 "WcfCommunicationClient is confusing / too close to WcfCommunicationClientFactory"
In reviewing of this code, I assumed that WcfCommunicationClient was a .Net Framework class that was provided and fulfilled using generics, which literally took me days to correct that assumption.

To ensure clarity that the class is part of the solution/implementation of WCF client communication, my suggestion would be to call it what it's for: CalculatorWCFClient, or WCFCalculatorClient…  that o

[2018-11-13 20:42] spelluru commented on #5522
I have added the following notes to the DevTest Labs tutorials:

- Creation: When adding a Linux VM to a lab, you can enable SSH and RDP access to the VM. If you don't enable the access while creating the VM, you can manually add rules in the network security group associated with the VM to open ports for SSH and RDP.

- Access: To connect to a Linux VM, SSH and/or RDP access must be enabled for t

[2018-11-13 20:42] spelluru commented on #5522
#please-close

[2018-11-13 20:46] BryanTrach-MSFT commented on #18762
@vetrivelmp Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-13 20:46] mchudinov opened #18840 "Node.js version 10.10 is supported"
The Node.js version 10.10 is recently became available on Azure portal.
The list of supported version should be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef9002ed-c817-c615-fe32-05ad4cc78b61
* Version Independent ID: 72295255-8d90-a2c6-0995-0e1208fcdcab
* Content: [Introduction to App Service on Linux](ht

[2018-11-13 20:46] spelluru commented on #16138
#please-close

[2018-11-13 20:47] CelesteDG commented on #17865
@ashleywb - Please let us know if you have more questions. If not, we'll go ahead and close the issue. Thank you.

[2018-11-13 20:55] CelesteDG commented on #10642
#please-close

We fixed this issue back in July with PR 47562

[2018-11-13 21:00] jason-j-MSFT commented on #18447
@sethmanheim could you take a look?

[2018-11-13 21:06] nssidhu commented on #18768
[(https://docs.microsoft.com/en-us/azure/data-factory/parameterize-linked-services)]

[2018-11-13 21:06] gcobr opened #18841 "Are messages buffered before being flushed to Azure Blob Storage?"
This document doesn't explain if log entries will be immediately flushed to Azure Blob Storage, line by line, when blob storage as a destination, or if they will be buffered for a while.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46653d6e-d057-e698-ef94-32d48e12d39f
* Version Independent ID: 74beaf3c-60f9-006d-110a

[2018-11-13 21:08] codyborn commented on #18277
Hi @oaks-view,

It sounds like the transaction is improperly formatted.  Can you try deploying a contract using Remix on the POA network as a sanity test?  You can find a guide here on how to programmatically submit transactions on the POA network:
https://docs.microsoft.com/en-us/azure/blockchain/templates/ethereum-poa-deployment#tutorials

As @PatAltimore mentioned, the best way to get help is t

[2018-11-13 21:13] sethmanheim commented on #18447
@jason-j-MSFT I don't work on Event Hubs anymore, so can you please assign to @spelluru?

[2018-11-13 21:14] sethmanheim commented on #18447
@jason-j-MSFT Also I am no longer listed as author on this article. Please reassign.

[2018-11-13 21:29] ashleywb commented on #17865
@CelesteDG  This issue is resolved. Thank you for sending me the link to documentation.

I do have one other issue regarding logging out and the redirect. If I login with a Office 365 account and logout I get redirected to the correct location inside my application.

If I login with a Microsoft Account tenant id 9188040d-6c67-4c5b-b112-36a304b66dad and then logout it logs me out but does not redir

[2018-11-13 21:30] spelluru commented on #18727
@ayyagari - Thanks for the feedback. I have fixed it and the updated article will go live around 3:30 PM PST today.

For future reference:
You can also make changes in the article if you like and submit a pull request:
1.	Click **Edit** in the upper-right corner of the article.
2.	On GitHub, click the pencil icon in the upper right.
3.	Make your changes using Markdown on the **Edit file** tab. Pre

[2018-11-13 21:32] isobit commented on #17920
Thanks for updating the docs. I am still a little unclear on some of the details here, particularly file/dir locking. I'm not sure if I should pursue this question here or [on this page](https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-use-files-linux#feedback), but I'm posting here first since I'm not entirely sure ACI is using `cifs-utils` anyway:

Is there a way that I can lo

[2018-11-13 21:32] joelvasco commented on #18820
Hi,
At "config.json" I have changed "interval" from 2000 to 5000.
After 1500 sent values, I get exact the same above error.

Thanks in advance for any help!

[2018-11-13 21:33] kgremban commented on #18398
@simardst and @hochas The product team has this on their to-do list. There's already an request for it in the IoT Edge feedback forum: https://feedback.azure.com/forums/907045-azure-iot-edge/suggestions/32497981-code-sample-for-identity-translation-pattern. You can help to prioritize this content by adding your votes.

[2018-11-13 21:41] oaks-view commented on #18277
@codyborn i am unable to connect to the network using remix, i get the following feedback from remix `Not possible to connect to the Web3 provider. Make sure the provider is running and a connection is open (via IPC or RPC)`

[2018-11-13 21:43] Karishma-Tiwari-MSFT commented on #18587
@mayanknayar Can you please share your insights on this one?
This doc has link to an old blog : [PFX certificates in Azure Key Vault](https://www.rahulpnath.com/blog/pfx-certificate-in-azure-key-vault/).  Not sure if this blog is updated.

[2018-11-13 21:43] w0lverine opened #18842 "What Facilities are supported by syslog with the Linux Agent?"
It would be nice to have a list of supported facilities. It looks like the following are not support and custom logs needs to be created for them.
secure
boot
failog
httpd
yum
mysqld

The ones I did find are the following:
auth
mail

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8de16fd2-54aa-1f46-0a42-d1540d937d03
* V

[2018-11-13 21:43] rezasherafat commented on #16960
@larsonmpdx, please use rezas _AT_ microsoft email. Thanks

[2018-11-13 21:46] Jann-Skotdal commented on #15724
This item has been assigned to the service’s engineering backlog and will be addressed. #please-close

[2018-11-13 21:46] Jann-Skotdal commented on #12213
This item has been assigned to the service’s engineering backlog and will be addressed. #please-close

[2018-11-13 21:48] keithcharlie opened #18844 "please add in the container metadata section"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e957c4f5-111d-9918-61b3-938208977801
* Version Independent ID: b737bc90-ca6b-1739-a295-5afe092087c3
* Content: [Create an Azure Containers offer](https://docs.microsoft.com/en-us/azure/marketplace/cloud-partner-portal/containers/cpp-create-offer)
* Content Source: [articles

[2018-11-13 21:48] Mike-Ubezzi-MSFT commented on #18146
@rafats Are there any plans to update this document?

[2018-11-13 21:48] MohitGargMSFT commented on #18600
@arcotek-ltd As mentioned above, please mention your MSDN thread URL here and I will make sure your that your issue is address in MSDN forum.

[2018-11-13 21:49] MohitGargMSFT commented on #18605
@7100SW We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-11-13 21:49] #18605 closed

[2018-11-13 21:51] MarileeTurscak-MSFT commented on #18826
@Guillaume-MSFT @billmath
I made a pull request to revise this.

@billmath please review PR #57888 for your approval.

[2018-11-13 21:51] #18826 closed

[2018-11-13 21:52] kgremban commented on #14620
@pisees Thanks for the great question. From what I know, Azure IoT Protocol Gateway is an older IoT Hub feature that helped to inspire the creation of IoT Edge. The main difference is that protocol gateway is a cloud feature so whichever protocol your device uses, it needs to at least be able to send its messages to the cloud for protocol translation. IoT Edge, however, runs locally and can commun

[2018-11-13 21:53] MohitGargMSFT commented on #18607
@ichkoj Thanks for an update. We will now proceed to close this thread. If you want to further discuss regarding this matter, please open a new MSDN forum post and community will get engaged on it. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required

[2018-11-13 21:53] #18607 closed

[2018-11-13 21:54] jason-j-MSFT commented on #18447
@spelluru could you take a look?

[2018-11-13 21:55] JozoSlejko opened #18845 "Managed identity - location"
Can we get more information on Location parameter of the Managed identity?
What does it mean? Does it influence ability to remediate resources that are outside of the managed identity's location if the policy is scoped for example to an entire subscription?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99d433a1-4e81-e

[2018-11-13 21:57] MarileeTurscak-MSFT commented on #18837
@JeffPetersPRA
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-13 21:59] #16138 closed

[2018-11-13 22:01] ruprizal commented on #16061
Hello @snehithm, any updates on this. I am getting the same bad request error when I try to deploy Metricalert for my Streaming Analytics job.
Please provide feedback..

[2018-11-13 22:06] jaszperez commented on #14307
Issue 1) The external endpoint in the diagram is where the user is with the PC/mobile device. This happens in step 1 when the user accesses the application.

Issue 2) The user does not have to access it from the my apps portal so it doesn't need to be shown in the diagram (this is an option). The reference to my apps will be included.

[2018-11-13 22:06] silverl opened #18846 "Modifying existing VM Extension configuration fails"
I attempted to use the PowerShell provided to modify the VM extension configuration of an existing VM. Here's the error:
Set-AzureRmVMDiagnosticsExtension : Multiple VMExtensions per handler not supported for OS type 'Windows'. VMExtension 'Microsoft.Insights.VMDiagnosticsSettings' with handler 'Microsoft.Azure.Diagnostics.IaaSDiagnostics' already
added or specified in input.
ErrorCode: BadRequest

[2018-11-13 22:07] MicahMcKittrick-MSFT commented on #18839
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-13 22:08] MicahMcKittrick-MSFT commented on #18835
Thanks for the question! We are investigating and will update you shortly.

[2018-11-13 22:11] MohitGargMSFT commented on #18750
@mabicca Please post this as a feedback @ https://feedback.azure.com/forums/347535-azure-security-center. This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page. Also as stated in the tool download page, please provide the tool feedback t

[2018-11-13 22:12] ruprizal commented on #16061
@johndowns - did you figure out a way to fix this deployment issue? I am facing the same issue now.

[2018-11-13 22:12] kgremban commented on #11293
@CIPop To clarify, is the sentence that you're confused about the following one about the env file?

<img width="620" alt="image" src="https://user-images.githubusercontent.com/13578436/48446301-bcc00900-e74d-11e8-8b33-90e63276563f.png">

Yes, one way to get a username and password for Azure Container Registry is to enable the admin user. You can also create a[ service principal](https://docs.micr

[2018-11-13 22:15] MohitGargMSFT commented on #18752
@ctxldy To discuss your specific implementation scenario, please open a new MSDN forum post and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required

[2018-11-13 22:16] kgremban commented on #11295
@v-stadam This step of the VS Code solution creation, naming the image repository, leads to confusion for a lot of our readers. As you're revising the develop and debug articles, can you take this feedback into consideration.

[2018-11-13 22:16] iainfoulds commented on #18412
Pods that are scheduled to run using VK should still be able to communicate with pods scheduled on regular AKS nodes.

[2018-11-13 22:17] johndowns commented on #16061
@ruprizal I've been in email contact with @snehithm and colleagues, and they've acknowledged this isn't the behaviour we might expect. I haven't heard of any plans for a fix yet but I followed up earlier this week.

[2018-11-13 22:18] MohitGargMSFT commented on #18762
@vetrivelmp To discuss your specific implementation scenario, please open a new MSDN forum post and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required

[2018-11-13 22:20] daveford commented on #13614
Try setting the ClientId on the Web API to the same ClientId that the Mobile App is using.

[2018-11-13 22:29] mattallenuk commented on #16500
@dextermiranda20, @jschumann is correct, you need to use the gremlin.process.statics object in order to get the static traversal methods. I'm not sure that your current query will work however. You may still want to post on the tinkerpop users group ([Gremlin Users Group](https://groups.google.com/forum/#!forum/gremlin-users)) list to get some help re the actual query you are trying to run. I'm no

[2018-11-13 22:31] DaveVoyles opened #18849 "Error when: az batchai job create"
Output:

When I get to this stage, I receive the output below, which I can't make heads or tails of.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb33bcc8-340f-698e-cd60-a762113975d6
* Version Independent ID: ffc3a55c-ee6c-b05a-4496-3fa6e203d14b
* Content: [Azure Quickstart - Deep learning training - Azure CL

[2018-11-13 22:37] kgremban commented on #11884
Hi @Cherisle. You definitely need to use ModuleClient, not DeviceClient, in both modules to set up the sending output in one module and the receiving output in the other module.

If you use the IoT Edge extension for visual studio code, you get a sample module in whatever language you choose. These samples receive messages from TempSensor and pipe them to $upstream, so they have examples of both i

[2018-11-13 22:38] kgremban commented on #12641
@Mike-Ubezzi-MSFT could you #please-close this issue as tommy-mor approved the fixes?

[2018-11-13 22:39] thinkingserious commented on #16774
@bizinbarefeet,

I would add that you could also open an issue [here](https://github.com/sendgrid/sendgrid-csharp). Thanks!

[2018-11-13 22:44] kuhussai commented on #13665
Early deletion is charged at the same rate as the data storage charge for that tier. However, the time period over which it is charged depends on when the data is deleted or moved out of that tier. For example, Cool Storage price in Central US is $0.01/GB-month with an early deletion period of 30 days. If a user deletes a 1 GB object in Cool after 20 days, they storage cost will be $0.01 * (20/30)

[2018-11-13 22:55] #5522 closed

[2018-11-13 22:56] #10642 closed

[2018-11-13 23:02] #12213 closed

[2018-11-13 23:06] #14274 closed

[2018-11-13 23:07] #15243 closed

[2018-11-13 23:08] arcotek-ltd commented on #18600
Hi @MohitGargMSFT,

As per normal, it's me!
It appears that one cannot modify their own permissions:
![image](https://user-images.githubusercontent.com/26305145/48448799-0e8d8100-e798-11e8-82ce-df7f8473de63.png)

Logged in as John (2), although he is a Global administrator (3), he can't modify his own roles (4), but he can modify other users. If he logs in as another account with Global Admin, he

[2018-11-13 23:08] #18600 closed

[2018-11-13 23:09] MarileeTurscak-MSFT commented on #18775
@chrispadgettlivecom I created a pull request ##18850 to fix this.

CC: @davidmu1

[2018-11-13 23:09] #18775 closed

[2018-11-13 23:14] MarileeTurscak-MSFT commented on #18774
Thanks, @chrispadgettlivecom

I created a pull request to fix this. #57909

CC: @davidmu1

[2018-11-13 23:14] #18774 closed

[2018-11-13 23:14] robynt34 opened #18851 "Caching behavior/rules with ARM or Powershell"
Are there options to set caching behavior with ARM templates? I see only queryStringCachingBehavior is supported

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c83339e-38d0-e504-4410-9112b3325bdf
* Version Independent ID: a6544c01-4cb2-22d8-7e1e-81e4ce6a4ee4
* Content: [Control Azure CDN caching behavior with caching

[2018-11-13 23:14] andres-carrilloAdapt2 commented on #18412
[image: image.png]
From my elastic Search cluster, (linux) querying graylog service
internally, get back proper response.
[image: image.png]
from my windows container, calling the FQDN external endpoint
[image: image.png]
attempting to invoke internal service from windows container

Is there a workaround?

Andres Carrillo

On Tue, Nov 13, 2018 at 4:16 PM Iain Foulds <notifications@github.com>
wrot

[2018-11-13 23:17] ajaypamarthy commented on #12672
@SaurabhSharma-MSFT :we are trying to pull this events into log analytics. can you please provide how we can monitor these logs.

[2018-11-13 23:29] douglaslMS commented on #17261
@saulcruz Given that there is no error to fix in the docs, I'm going to request that our team close this PR. I've hope that you achieved a satisfactory resolution with your support case.

[2018-11-13 23:29] douglaslMS commented on #17261
#please-close

[2018-11-13 23:30] MicahMcKittrick-MSFT commented on #18223
@rasmus-s We will close this for now. If you have any other suggestions or want to continue the conversation let us know and we can always reopen and continue.

[2018-11-13 23:30] #18223 closed

[2018-11-13 23:32] MicahMcKittrick-MSFT commented on #18722
@dlepow could you comment further on this?

[2018-11-13 23:33] sergaz-msft commented on #18820
Thanks for your feedback @joelvasco . What SKU are you using on your IoTHub? Please note that Free Tier has a limit of 8000 messages\day but messages are calculated in chunks of 0.5kb each. See FAQ from here: https://azure.microsoft.com/en-us/pricing/details/iot-hub/

Thanks!

[2018-11-13 23:34] douglaslMS commented on #17892
Sent question to PM.

[2018-11-13 23:34] douglaslMS commented on #18481
Referred question to PM.

[2018-11-13 23:50] rbrayb opened #18852 "SHA-256 is fixed"
In the XML:

&lt;Item Key=" XmlSignatureAlgorithm"&gt;Sha256&lt;/Item&gt;

But in the ADFS configuration, step 12:

"select the Advanced tab and change the Secure hash algorithm to SHA-1 or SHA-256, and click Ok."

It should say "Use SHA-256". SHA-1 won't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e14a5d4c-51

[2018-11-13 23:52] kgremban commented on #13313
@theangellmethod Thanks for the additional details; that rationale makes sense. I'll find time this week to test the quickstart with a D1 or D2 SKU then update the doc.

[2018-11-13 23:54] KumudD commented on #18502
@robertspears The doc has been updated by Stithi in a separate PR that adds clarification that you can also use an alternate path or the default value "/".  Thanks!

#please-close

[2018-11-13 23:58] kgremban commented on #18468
@simardst Yes, modules and child devices can stop and restart and authenticate to the IoT Edge hub while offline. The IoT Edge device can also restart while offline. The IoT Edge device only needs to connect to IoT Hub if it has messages to send or updates to receive (like a new module deployment, or additional child devices).

[2018-11-13 23:58] douglaslMS commented on #17892
@MarkAtAgilliance Mark, it's simply not possible at the present time to use IRs of different types in the CI/CD scenario. You may not have noticed the Note that we added fairly recently to this page:

There is no workaround at this time.

[2018-11-13 23:58] douglaslMS commented on #17892
#please-close

[2018-11-14 00:02] hrasheed-msft commented on #18492
fixed in referenced pull request.
#please-close

[2018-11-14 00:05] TravisCragg-MSFT commented on #18502
@robertspears We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-14 00:05] #18502 closed

[2018-11-14 00:09] 7100SW commented on #18824
This situation came about because I have multiple policy to support different grant flows.   I have a policy use by a native application that needs ROPC flow.  I have another client application that is using authorization code flow.  Both apps uses my Web Api that is validating the token.

If I specify jwtOptions.Authority with the policy that expects a token from ROPC but it is called from the ot

[2018-11-14 00:16] kgremban commented on #14719
@gauravagarwal28 I've given your feedback more thought, and instead of adding pseudocode for each supported language, I provided links to the ModuleClient class in each SDK for those who want to learn more. This article is about understanding the concept of the runtime, so I don't want to bog it down with too much code.
Take a look at the new version, and let me know what you think.

[2018-11-14 00:16] bernardo5304 commented on #16997
Hi,
I have the same issue. I am executing
db.getCollection('collectionName').aggregate([ { $limit : 1 }])

But  Cosmos DB is returning "Query exceeded the maximum allowed memory usage of 40 MB", but i am filtering already (Well, i want to get only the first element)

[2018-11-14 00:18] sergaz-msft commented on #18178
@shizn can we add that step to the doc? Thanks.

[2018-11-14 00:20] BryanTrach-MSFT commented on #12641
@tommy-mor We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-14 00:20] #12641 closed

[2018-11-14 00:20] BryanTrach-MSFT commented on #15513
@SychevIgor
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-14 00:21] BryanTrach-MSFT commented on #15724
@ziad-akiki We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-14 00:21] #15724 closed

[2018-11-14 00:32] sergaz-msft commented on #17489
Please follow the progress of the issue here: https://github.com/Azure/azure-iot-sdk-java/issues/353

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Thank you!

[2018-11-14 00:32] #17489 closed

[2018-11-14 00:32] TravisCragg-MSFT commented on #18816
@jhealy some of the limits are listed, but it can be difficult to find them. you can find[ the storage limit Here](https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security?toc=%2fazure%2fvirtual-network%2ftoc.json#grant-access-from-a-virtual-network).

Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-14 00:32] Alberto-Vega-MSFT commented on #18849
@DaveVoyles Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-14 00:33] TravisCragg-MSFT commented on #18833
@LisandroSu Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-14 00:34] rizwaans commented on #18345
@Karishma-Tiwari-MSFT , @csand-msft  I'm little confused here, are Set-AzureRMVMExtension and Set-AzureRmVMCustomScriptExtension same?

[2018-11-14 00:35] TravisCragg-MSFT commented on #18851
@robynt34  When working with templates, it is always best to use the portal or Powershell / CLI to make the change, and then use[ Resources.Azure.Com](resources.azure.com) to see what happens with the JSON. You can compare the difference to see how templates would like to receive the new data.

[2018-11-14 00:36] sergaz-msft commented on #16384
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-14 00:36] #16384 closed

[2018-11-14 00:36] #17892 closed

[2018-11-14 00:36] BryanTrach-MSFT commented on #18841
@gcobr Thank you for your question. From my experience, these logs are nearly instantly updated when using file system, line by line. I verified this myself.

In terms of using blob storage, these files are cached and then updated on a schedule with the cached information. Using file system for log storage is great if you need immediate access to troubleshoot an issue. Blob storage is better for m

[2018-11-14 00:36] #18841 closed

[2018-11-14 00:37] #18492 closed

[2018-11-14 00:38] BryanTrach-MSFT commented on #18840
@mchudinov Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-14 00:39] DaveVoyles commented on #18849
You know what -- I realized that I left the storage account name as:
```mystorageaccount```

Where everywhere else I had it listed as:

```mydvstorageaccount```

Let me try this again tomorrow and update this thread. That **may** be the issue.

[2018-11-14 00:40] MicahMcKittrick-MSFT commented on #18839
@codeputer thanks for the feedback. You have some good points.

I would suggest leaving this feedback here:

https://github.com/Microsoft/service-fabric-services-and-actors-dotnet/issues

This will get it in front of the team who works on developing reliable services and can take your suggestion and drive it further. Feel free to link the issue here when created so I can track it as well.

[2018-11-14 00:40] #18839 closed

[2018-11-14 00:42] robynt34 commented on #18851
I've used portal to make the change and found no CLI instructions. The JSON at resources.azure.com does not change after this. Can you confirm "Caching behavior" is only editable through portal?

"Query string caching behavior" is not applicable for this situation

[2018-11-14 00:45] MicahMcKittrick-MSFT commented on #18835
@krvladislav @LisandroSu you can find examples of how the cluster config is formatting here:

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-standalone-package-contents

Simply download the package contents and you will see multiple clusterConfig files. These are JSON formatted files.

Take a look and if you have additional questions just let me know.

[2018-11-14 00:46] utadamai opened #18857 "ERROR when trying to create a container: Failed to establish a new connection: [Errno -2] Name or service not known'"
I installed the entire azure python SDK and am able to import blob service by doing "from azure.storage.blob import BlockBlobService", I got the block_blob_service object created with account name and account key, then did this:
block_blob_service.create_container('testcon')

it shows me below error:
azure.common.AzureException: HTTPSConnectionPool(host='livelylakesa.blob.core.windows.net', port=4

[2018-11-14 00:48] robynt34 commented on #18851
With "Caching behavior"="Bypass cache" and "Query string caching behavior"="Ignore query strings" my json is:

{
  "name": "*****",
  "id": "/subscriptions/*****/resourcegroups/*****/providers/Microsoft.Cdn/profiles/*****/endpoints/*****",
  "type": "Microsoft.Cdn/profiles/endpoints",
  "tags": {},
  "location": "WestUs",
  "properties": {
    "hostName": "*****.azureedge.net",
    "originHostHead

[2018-11-14 00:48] sergaz-msft commented on #16372
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-14 00:48] #16372 closed

[2018-11-14 00:52] sergaz-msft commented on #18478
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-14 00:52] #18478 closed

[2018-11-14 00:53] sergaz-msft commented on #15045
Thanks for providing the workaround @ddentrec .
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-14 00:53] #15045 closed

[2018-11-14 00:55] v-jaswel commented on #9861
#please-close

It looks like the doc author originally wrote:

1. Click on Log Dialogs.
2. Click on New Chat Session.

when they meant:

1. Click on Log Dialogs.
2. Click New Log Dialog.

This has since been corrected.

[2018-11-14 00:55] MicahMcKittrick-MSFT commented on #18819
@guybartal I am not seeing the command you are running to enable HTTP Application Routing listed in the doc.

I just ran through the doc using the given command

`az aks enable-addons --resource-group myResourceGroup --name myAKSCluster --addons http_application_routing`

As you can see it does work as expected

[code]

[2018-11-14 01:05] Mike-Ubezzi-MSFT commented on #12861
@bhall7718 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-14 01:05] #12861 closed

[2018-11-14 01:05] Mike-Ubezzi-MSFT commented on #12863
@bhall7718 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-14 01:05] #12863 closed

[2018-11-14 01:10] woodwardmatt opened #18858 "Error Message Context - Unauthorised vs. Image Build Tag"
I have recently been following this guide to configure the SP and granting AKS access to my ACR. When trying to run the deployment script on AKS I was receiving a “unauthorized: authentication required” error message which sent me on a bit of a wild goose chase (thinking the service principal wasn't configured correctly, or the permissions set didn't work). The actual issue turned out to be that t

[2018-11-14 01:13] MicahMcKittrick-MSFT commented on #18713
@wasabii to confirm, it is only the step with deploying the app you are having issues with?

If you go to the Service Fabric Explorer you see `fabric:/System/RepairManagerService` correct?

[2018-11-14 01:21] MicrosoftGuyJFlo commented on #12672
@pekaynz I added the log location to the article in the intro. It will publish tomorrow. https://github.com/MicrosoftDocs/azure-docs-pr/pull/57935

[2018-11-14 01:33] Mike-Ubezzi-MSFT commented on #18732
@LeeGrant8 Gotcha. You can query Azure Table Storage entities via RESTful services using the OData query syntax: [Querying Tables and Entities](https://docs.microsoft.com/en-us/rest/api/storageservices/querying-tables-and-entities)
You can also do the same via .NET code, which the document you created this GitHub issue from explains.
Are any DateTime values null in your table data? What are you us

[2018-11-14 01:40] MicrosoftGuyJFlo commented on #18751
Pending feedback from the product group. #in-progress

[2018-11-14 01:49] timmmay opened #18859 "Migrate steps for ASM"
Is there a version of this article that is relevant to ASM (Azure Classic), rather than Resource Manager?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0665b390-9b97-e799-0837-d03b86544afc
* Version Independent ID: 5bb16d0e-d274-6df9-db4f-ebd414f9bba1
* Content: [Create a managed Azure VM from a generalized on-premise

[2018-11-14 02:10] spelluru commented on #18447
@ShubhaVijayasarathy - Could you please take a look at the issue? Thanks.

[2018-11-14 02:17] Mike-Ubezzi-MSFT commented on #18595
@mcurko Yes, the Get-AzureRmSqlDatabaseGeoBackup cmdlet will work for single instance as well as geo-redundant instances. I was able to successfully run both cmdlets in the Azure Cloud Shell and a local instance of PowerShell.

Can you run the following 2 commands in your PowerShell environment:

get-host
get-package AzureRM.Sql

From an environment where the cmdlets run successfully:

Name

[2018-11-14 02:33] kvsrkrishnan opened #18863 "Unable to modify the web app due to build error and reference error"
Hello,
I have two issues again -
1. At Line 32 (that is: ).UseStartup&lt;Startup&gt;()) I get an error, and is sorted by including "using WebApplication2;"
2. Secondly, at the end of step 6, I get the below error during Build (and even when i start without debugging):
1&gt;------ Build started: Project: WebApplication2, Configuration: Debug Any CPU ------
1&gt;obj\Debug\netcoreapp2.1\Razor\Pages\A

[2018-11-14 02:57] forester123 opened #18864 "NVIDIA Tesla V100 broken link"
The link NVIDIA Tesla V100 in NCv-3 section is a broken link, click it and download a PDF, which cannot be opened. Please check

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 472ed16f-83af-9c24-4a47-596e72a59ca7
* Version Independent ID: dc63914d-d1ce-8161-0d6c-b0c62f82b22d
* Content: [Azure Windows VM sizes - GPU](htt

[2018-11-14 02:59] Aobi-Wan commented on #8879
I'm also having the same issue... I turned on the application logging and got the following.

Wed Nov 14 2018 02:58:37 GMT+0000 (Coordinated Universal Time): Application has thrown an uncaught exception and is terminated:
D:\home\site\wwwroot\node_modules\azure-event-hubs\dist\lib\rhea-promise\connection.js:183
    async createSender(options) {
          ^^^^^^^^^^^^
SyntaxError: Unexpected identi

[2018-11-14 03:17] CalvinFengDatacom opened #18866 "Does QnA API V4 support replacing the KB with multiple questions against one answer?"
# Update/replace the QnA kb

I would like to create my own portal for updating the QnA kb. What I really want to do is to have a document which contains all the questions and answers, which is in the format of one answer contains multiple questions.

Then I serialised the question and answer into the json format like below, where you can see there are three questions against one answer:

[code]

I

[2018-11-14 03:17] CHDAFNI-MSFT opened #18867 "Inconsistent release notes – 4.0.1.0"
The release notes on this document do not call out Server 2019 being supported despite the download link & blog explicitly stating it is. Please review the release notes of this page and blog for overall consistency in the message being delivered.
https://docs.microsoft.com/en-us/azure/storage/files/storage-files-release-notes
https://support.microsoft.com/en-us/help/4459986/azure-file-sync-agent-

[2018-11-14 03:20] phil-lgr opened #18868 "How to use the docker-compose.yml from the build?"
In my Azure Pipeline, I build my docker images with a docker-compose.yml (below)

how can I reuse it to configure the Web App? I see only a place to upload/copy paste it

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2472d79-baad-f202-75dc-c0d7c08e5c49
* Version Independent ID: 7816cf1e-2264-e365-4d5c-b1fc9f7d

[2018-11-14 03:29] RaghuramP opened #18869 "Manage Office 365 Groups"
What are the difference(s) if any, to manage O365 Groups using Azure V2 Group cmdlets when compared to EXO cmdlets *-unifiedgroup. Please clarify and add notes if O365 groups should be managed via PowerShell using only EXO cmdlets.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b994ee0-d0b5-715f-bc48-44d8256499d7
* Ve

[2018-11-14 03:35] v-jaswel commented on #9859
#please-close

I've clarified the text in question as follows:

4. Click to select 'denver' in the left pane:
a. In Add alternative input, enter 'for denver'.
b. Enter 'forecast for austin'.
- An error message appears: 'Text Variations must contain the same detected Entities as the original input text.'
- Click the word 'austin'.
- A pop-up appears that lets you select the entity for 'austin'. Cli

[2018-11-14 03:42] femsulu commented on #18838
@CHDAFNI-MSFT Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2018-11-14 03:43] femsulu commented on #18844
@keithcharlie Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2018-11-14 03:50] femsulu commented on #18845
@JozoSlejko Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2018-11-14 03:51] Mike-Ubezzi-MSFT commented on #8879
What is that the application property value: `WEBSITE_NODE_DEFAULT_VERSION`?
This needs to be changed from `6.9.1` to x. Let find out what x is...

[2018-11-14 05:31] spetrukhin opened #18870 "Does "Immutable storage for Azure Storage Blobs" supported"
Hi, can I use "Immutable storage for Azure Storage Blobs" (https://azure.microsoft.com/en-us/blog/immutable-storage-for-azure-storage-blobs-now-generally-available/) to archive Azure AD logs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96b35262-d52a-00f0-e8f8-225322f9c156
* Version Independent ID: dd46aa98-a9b7-954e

[2018-11-14 05:33] spetrukhin opened #18871 "Use "Immutable storage for Azure Storage Blobs" to archive Azure AD logs"
Hi, can I use "Immutable storage for Azure Storage Blobs" (https://azure.microsoft.com/en-us/blog/immutable-storage-for-azure-storage-blobs-now-generally-available/) to archive Azure AD logs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39bd6875-8c82-02ff-5b74-86bc9ce5b902
* Version Independent ID: d9d36752-ac83-89b1

[2018-11-14 05:36] phil-lgr opened #18872 "Document which docker-compose feature are supported"
I got:

##[warning]The names of some imported commands from the module 'ServiceFabricHelpers' include unapproved verbs that might make them less discoverable. To find the commands with unapproved verbs, run the Import-Module command again with the Verbose parameter. For a list of approved verbs, type Get-Verb.

my docker-compose.yml:

[code]

---
#### Document Details

⚠ *Do not edit this section.

[2018-11-14 05:36] phil-lgr commented on #18872
and after:

[code]

[2018-11-14 05:39] phil-lgr commented on #18872
Full log:

[code]

[2018-11-14 05:54] phil-lgr opened #18876 "This page is out of date (looking Nov 2018) the UIs have changed"
as title

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95e331af-2350-c9cc-1205-f17ae4d17eb0
* Version Independent ID: a69e5b1f-1195-b191-58a4-0caf73cceccc
* Content: [Deploy a Service Fabric app with continuous integration (Azure DevOps Services) in Azure](https://docs.microsoft.com/en-us/azure/service-fabric/service-

[2018-11-14 06:47] dcbrown16 opened #18877 "More examples/clarity on "Transform the data""
What are the recommended methods for transforming data within SQL DW itself? In the video on this page it looks like you can just connect with SSMS or something. Is that the general practice?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 437b3c1e-b43f-360d-fb6f-27bb66b29a55
* Version Independent ID: 96509a9c-d258-8956

[2018-11-14 07:31] SychevIgor opened #18879 "Azure HDInsight Spark not in Beta"
Please, update screenshot https://docs.microsoft.com/en-us/azure/hdinsight/spark/media/apache-spark-use-bi-tools/apache-spark-bi-import-data-power-bi.png
and text "Enter Spark in the search box, select Azure HDInsight Spark (Beta), and then click Connect."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1016af4-7bf5-71

[2018-11-14 07:33] MarkAtAgilliance commented on #17892
@douglaslMS understand and thanks for the update.  In the statement  "_Similarly, if you're sharing integration runtimes across multiple stages, you have to configure the IRs as Linked Self-Hosted in all environments, such as development, test, and production._", it is important to note that at least one environment (presumably outside of the CI chain) must be a data factory with the shared IR (ot

[2018-11-14 07:37] mcurko commented on #18595
This is what I see (I have a newer version of the module, maybe that's the problem):

PS C:\Users\mcurko> get-host

Name             : ConsoleHost
Version          : 5.1.16299.492
InstanceId       : b573d789-9c82-43b7-81f4-d46adba808ea
UI               : System.Management.Automation.Internal.Host.InternalHostUserInterface
CurrentCulture   : hr-HR
CurrentUICulture : en-US
PrivateData      : Microso

[2018-11-14 07:39] femsulu commented on #18466
@tomkuijsten are you still experiencing this issue? If I understand your scenario correctly, you wish to alert if more than one "search request" is logged within a 10 minute period. Have you tried expanding the time period to see if you get an alert? Please let me know what the current status is and we can investigate further.

[2018-11-14 07:53] femsulu commented on #18583
@rolyon any thoughts on this?

[2018-11-14 08:03] ManojReddy-MSFT commented on #18871
@spetrukhin Thanks for reaching out to us. You can use immutable storage account for archiving Azure AD logs. I have tested this with a blob storage account and it works.

[2018-11-14 08:04] ManojReddy-MSFT commented on #18870
@spetrukhin Thanks for reaching out to us. You can use immutable storage account for archiving Azure AD logs. I have tested this with a blob storage account and it works.

[2018-11-14 08:07] neeleshray commented on #18852
@PRMerger18 Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-14 08:09] femsulu commented on #18746
@KeiroKamioka0000 Are you requesting an update to the document to include the minimum permission set required to archive Activity logs?

[2018-11-14 08:11] jakaruna-MSFT commented on #18864
@forester123 Thanks for reporting.
@jonbeck7 Please take a look at the link "NVIDIA Tesla V100 "  under [NCv3-series
](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes-gpu#ncv3-series)  which is giving 404.

[2018-11-14 08:15] johnneycao opened #18880 "missing "management group configuration" page"
The steps in the "Install the agent using setup wizard" is not align with latest agent setup screen, missing "management group configuration" page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00a00a3e-a0df-7ee5-4733-7231bd7a024f
* Version Independent ID: 94361683-e1e7-7e55-6993-86d3c2486a14
* Content: [Connect Windo

[2018-11-14 08:29] neeleshray commented on #18863
@kvsrkrishnan Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-14 08:30] jakaruna-MSFT commented on #18859
@timmmay  I think we need to follow the same procedure for Classic VM also. In the last step ([create the VM](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/upload-generalized-managed#create-the-vm)), You need to use [New-AzureVM](https://docs.microsoft.com/en-us/powershell/module/servicemanagement/azure/new-azurevm?view=azuresmps-4.0.0) instead of New-AzureRmVm.
CC: @MicahMcKittr

[2018-11-14 08:31] femsulu commented on #18746
@johnkemnetz would it be possible to update this part of the doc to include the minimum permission set required to archive the logs. Now assigning this to you as a doc-enhancement request.

https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-archive-activity-log
![image](https://user-images.githubusercontent.com/34327711/48469775-8a8dc600-e7a4-11e8-8fe3-bc2cae243f47.png)

[2018-11-14 08:36] kazshi commented on #15972
@KetanChawda-MSFT Thank you for the answer. I'm not sure if my customer set  createLeaseCollectionIfNotExists to true - I'll pass the information to the customer.

[2018-11-14 08:36] #15972 closed

[2018-11-14 08:40] femsulu opened #18881 "Omission under "Prerequisite" section"
missing word in the "Notes" section @ https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-archive-activity-log#prerequisites

"You cannot currently archive data to a storage account that behind a secured virtual network."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e8fdd4b-8695-765c-29d8-95

[2018-11-14 08:44] femsulu commented on #18790
@georgewallace  - can you take a peek at this please?

[2018-11-14 08:53] amandadebler opened #18882 "IP ranges for AKS Master service"
"The virtual network for the AKS cluster must allow outbound internet connectivity."

Our network security team will not allow open access to the Internet for AKS nodes, or anything else. Do you have a list of the IP ranges the nodes in a given region (currently for us: West Europe) need to be able to reach?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2018-11-14 08:59] ManojReddy-MSFT commented on #18869
You can use [New-AzureADMSGroup](https://docs.microsoft.com/en-us/powershell/module/azuread/new-azureadmsgroup?view=azureadps-2.0) to create office 365 groups using Azure AD V2 commands. This command uses Graph API's to create the office 365 group in Azure AD and then synchronizes  that to EXO which delays the mail box creation. This will create a problem if you are running this in a script which

[2018-11-14 09:37] timmmay commented on #18859
Thanks for the reply @jakaruna-MSFT.  All of the powershell commands in this document reference Rm.  I'd need confirmation that if I remove Rm from the commands that it will still work as intended but for ASM?

[2018-11-14 09:40] femsulu commented on #18845
Location, in this context, is an [optional parameter ](https://docs.microsoft.com/en-us/powershell/module/azurerm.resources/new-azurermpolicyassignment?view=azurermps-6.12.0#optional-parameters) used to determined location of the policy assignment at creation.

@DCtheGeek Can you confirm the location para has no influence or constraint on remediating a resource outside the subscription scope?

[2018-11-14 09:41] Juliako commented on #18168
#please-close

[2018-11-14 09:46] ggailey777 commented on #16681
@timmyreilly would [this article](https://docs.microsoft.com/en-us/sandbox/functions-recipes/cosmos-db?tabs=csharp#using-documentclient) have been helpful to you?

[2018-11-14 09:47] ggailey777 commented on #16681
@Mike-Ubezzi-MSFT please assign this issue to @craigshoemaker as the new article owner.

[2018-11-14 10:09] RaghuramP commented on #18869
Thanks Manoj, this explains the create part. Can add-azureadgroupmember or remove-azureadgroupmember cmdlet used to manage the members of the group or should this be done using EXO? We did have issues in removing a user using remove-azureadgroupmember (this user was added to O365 Group via Outlook / OWA interfaces), and we could remove the user which was added by using add-azureadgroupmember, henc

[2018-11-14 10:44] JozoSlejko commented on #18845
@femsulu It says **Location** parameter is a required parameter when using managed identity. What does it mean by location of the policy assignment? Policy assignments have a scope.
This parameter must be used when assigning deployIfNotExist effect policy along with -AssignIdentity parameter. I'm guessing the Location is somehow tied to the managed identity, this needs to be further explained. Tha

[2018-11-14 11:37] laultman commented on #18821
There is no selector for the urn, it only exist in the instructions. There is no instruction to register. Save does not exist.

Sent from my Windows 10 device

________________________________
From: Andre Teixeira <notifications@github.com>
Sent: Tuesday, November 13, 2018 1:07:18 PM
To: MicrosoftDocs/azure-docs
Cc: Larry Aultman; Author
Subject: Re: [MicrosoftDocs/azure-docs] Documentation Update

[2018-11-14 11:59] daniel-rocha opened #18885 "404 when deployed to Tomcat 9 on Linux"
This results in a 404 error when deployed to Tomcat 9 runtime on Linux App Service.

Logs below:

https://dr3springbootappwar4.azurewebsites.net/helloworld/

PS C:\Users\&lt;usermame&gt;\Projects\helloworld&gt; mvn azure-webapp:deploy
[INFO] Scanning for projects...
[INFO]
[INFO] ----------------------&lt; example.demo:helloworld &gt;-----------------------
[INFO] Building helloworld Maven Webapp

[2018-11-14 12:00] PramodValavala-MSFT commented on #18471
@numeratus Since there is no update needed for this doc, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-14 12:00] #18471 closed

[2018-11-14 12:04] PramodValavala-MSFT commented on #18697
@Hariharnath-Paduchuru The way of dealing with packages has indeed changed in **v2** from listing them in `project.json` to having them as project level dependencies in `extensions.csproj`.

We have assigned this issue to the content author to update as appropriate.

[2018-11-14 12:08] PramodValavala-MSFT commented on #18330
@itsknob With respect to this document and the issue at hand, there is no doc update required at the moment.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-14 12:08] #18330 closed

[2018-11-14 12:09] PramodValavala-MSFT commented on #18326
@williamdlupo With respect to this document and the issue at hand, there is no doc update required at the moment.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-14 12:09] #18326 closed

[2018-11-14 12:40] florianrusch opened #18886 "Use existing Services"
Hi, is it possible to use an existing Services (e.g. an existing PostgreSQL) with the Open Serivce Broker in K8s?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77905ec1-fd7e-d037-cac5-62a5b8075c1b
* Version Independent ID: 239518e8-cb47-3fd3-9cc2-2238ef57cbc6
* Content: [Integrate with Azure-managed services using Ope

[2018-11-14 12:41] Minewiskan commented on #18003
#please-close

[2018-11-14 12:47] jakubkirylo opened #18887 "Useless"
Things mentioned in this article don't exist in Azure...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 509bc5b8-98b4-001c-0111-bc9f2e4645a5
* Version Independent ID: 3f44c969-e9a0-fc09-17e0-df9ecb842712
* Content: [Create views to analyze data in Azure Log Analytics](https://docs.microsoft.com/en-us/azure/log-analytic

[2018-11-14 13:01] JozoSlejko opened #18888 "New-AzureRmPolicyDefinition - category"
How to set policy Category for policy definition using New-AzureRmPolicyDefinition cmdlet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 131095f2-56ff-d771-621a-c33973be0684
* Version Independent ID: c62f2864-f6a3-515f-0f63-bfde76491842
* Content: [Programmatically create policies and view compliance data with Azure P

[2018-11-14 13:05] jontejj opened #18889 "Storage Java Client Library Samples"
link does not work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6783e136-eeb6-054d-c257-ee3e7135caae
* Version Independent ID: 86cb3b76-050d-c9a3-0402-c2af496e7364
* Content: [Azure Storage samples using Java](https://docs.microsoft.com/en-us/azure/storage/common/storage-samples-java#java-sample-code-repositories)
*

[2018-11-14 13:12] warmchang commented on #18805
@iainfoulds Thank your for reply.

Maybe my hyperlink before will lead to ambiguity, I just want to show the representation of CPU resources in kubernetes. I know the Resource reservations is Reserved for kubernetes & system, and it's not pod requests or limits.
Here is the [Reserved](https://kubernetes.io/docs/tasks/administer-cluster/reserve-compute-resources/#system-reserved) example, the CPU r

[2018-11-14 13:18] schottky81 opened #18890 "Section link not working"
Please update the link for "Connect to the internet via a proxy"
#connect-to-the-internet-via-a-proxy instead of #connect-via-a-proxy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 089d527e-1632-9d34-1c40-756e30eb2ac6
* Version Independent ID: ee2d12cd-e7ee-a50b-9ce1-496a6053e243
* Content: [About the Collector applian

[2018-11-14 13:23] mcurko opened #18891 "Error"
CREATE EXTERNAL TABLE [ext].[Date] results in "Msg 110813, Level 16, State 1, Line 1
Object reference not set to an instance of an object."

Tried twice from the beginning, using latest SSMS (v17.9).

How can I check weather EXTERNAL DATA SOURCE location is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e2535

[2018-11-14 13:24] SharmainePopov opened #18892 "Documentation Out of Date"
The documentation is out of date. Esp within the backup blade. I cannot find yet how to now configure Azure Backup Server (rather than Azure Backup service)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76dad6d5-9991-e15e-0283-1d8d49c35df4
* Version Independent ID: baa58543-1be8-aa7c-15b9-db35f071f4fb
* Content: [Use

[2018-11-14 13:26] cloudmelon opened #18893 "Example format error while passing environment variable"
Hello,
I attended a workshop and I had a understanding example on provisioning container instances via Azure CLI by passing environment variable, it seems that the following command is not working ( should use " instead of ' ). I asked another DevOps engineer who is used to working with containers. He never saw this way. Here is the command :

az container create \
    --resource-group myResourceG

[2018-11-14 13:32] daniel-rocha opened #18894 "No pom.xml file in project root"
"Under the Build section, select Add build step and choose Invoke top-level Maven targets. Enter package in the Goals field."

This causes Jenkins to call mvn package on the root folder of the project, which doesn't have a pom.xml file, so the build fails.

Logs:

Building in workspace /var/lib/jenkins/workspace/MyJavaApp
 &gt; git rev-parse --is-inside-work-tree # timeout=10
Fetching changes from

[2018-11-14 13:41] daniel-rocha commented on #18894
The answer here is to go to Advanced then point the step to the complete/pom.xml file.

[2018-11-14 13:48] jarroniz opened #18895 "Unable to dissociate NSG from NIC with az cli"
Associate a NSG to a NIC or subnet is easy with the az cli, but there is no option to Dissociate a NSG associated to a NIC using the az cli.

I tried without succeed:
* az network nic update -g RG --name NIC_NAME --network-security-group null
* az network nic update -g RG --name NIC_NAME --network-security-group none
* az network nic update -g RG --name NIC_NAME

I can see in your website a link c

[2018-11-14 14:03] yehoshuadimarsky commented on #18003
Sorry for the delay... the reason I would want this is I am looking to share an Excel workbook that connects to Azure Analysis Services with many people and I don't want to inconvenience each of them to enter their credentials to refresh the data, I thought I could just embed a service account and have it refresh automatically without users needing to enter their credentials.

[2018-11-14 14:03] joelvasco commented on #18820
Hi,
All of the errors I´m getting is at the same day (NOV 13 2018). At "config.json" I have changed "interval" from 2000 to 1000.
After 2200 sent values, I get exact the same above error.

The SKU is:
Pricing and scale tier
S1 - Standard

For today (NOV 14 2018) the IoT Hub Usage is:

 Messages:
0 / 400000 Daily
IoT Devices:
1

Thanks!

[2018-11-14 14:05] AbdalAlsaedi opened #18898 "URL issues"
Can you check the to last two URLs that you mentioned in Prerequisites section? they link me to same page " Quickstart: Create a spark cluster in HDInsight using template " that I cannot find any thing about the prerequisites.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d93415c-76eb-35fc-e554-7572a9ab17d1
* Version

[2018-11-14 14:11] silverl commented on #18846
I tried removing the existing extension with `Remove-AzureRmVMDiagnosticsExtension` and then running the `Set-AzureRmVMDiagnosticsExtension` command. I'm guessing this upgraded the extension. The Set command then worked.

I don't have profiler working yet in my VM, but at least I cleared this hurdle.

[2018-11-14 14:19] kkho commented on #18225
It seems that it works following the tutorial, however. It takes really long time when deploying a container instance through the terminal (response took to long to respond).

When I run it in my ARM Template, its up with msi and added it to the access policy. BUT, calling the keyvault to extract a secret fails (through code and not the tutorial):

`AzureServiceTokenProviderException: Parameters:

[2018-11-14 14:19] dcnoren opened #18899 "Incorrect URL?"
https://account.activedirectory.windowsazure.com/securityinfo#/authenticationMethods is showing the following error, both before and after enabling the public preview feature pane.

![image](https://user-images.githubusercontent.com/3228595/48488237-48897200-e7ee-11e8-9e0d-bbdf30d43e18.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-11-14 14:20] Klaas- opened #18900 "Dead link"
Link "Use Ansible to manage your Azure dynamic inventories" to https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/ansible/ansible-manage-azure-dynamic-inventories is dead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4907f484-c7d8-8fac-7779-a21deb8c0ceb
* Version Independent ID: 33548d97-b345-5aa4-0255-b

[2018-11-14 14:31] geostation360 commented on #18891
can repro. I too get "Object reference not set to an instance of an object.":

[2018-11-14 14:35] jakaruna-MSFT commented on #18886
Thanks for the question! We are investigating and will update you shortly.

[2018-11-14 14:37] jakaruna-MSFT commented on #18882
Thanks for the question! We are investigating and will update you shortly.

[2018-11-14 14:38] jakaruna-MSFT commented on #18876
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-14 14:40] jakaruna-MSFT commented on #18872
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-14 14:46] dcnoren commented on #18510
Glad to see the documentation will be updated, but in reality, I think the issue here is that the conditional access policy does not apply to PowerShell **and** there is now "Azure AD PowerShell" app in Azure AD to apply Conditional Access to. Is that going to be addressed as well?

Ultimately, the setting below is not very effective as it still lets attackers connect via PowerShell with stolen us

[2018-11-14 15:00] cephalin commented on #18685
@gcobr Looks like the special provider deposits additional log files with a different format. I've added a caveat for that and it should be published sometime today. Thanks. #please-close

[2018-11-14 15:09] salperwy opened #18901 "Provide steps to create an AKS from Azure Portal/PS Scripts"
I tried to create an AKS from Azure Portal or PS Scripts but I don't manage to use it from AML worskpace:
- portal, when attaching the workspace: "Retries exceeded in deploy scoring FE"
- PS script (az aks create --name aksps2 --resource-group aksps2 --generate-ssh-keys --kubernetes-version 1.11.2) "Operation returned an invalid status code 'Forbidden'"

---
#### Document Details

⚠ *Do not edit t

[2018-11-14 15:11] joelvasco commented on #18820
Hi,

Today the same error:

[cid:image004.jpg@01D47C02.5E361B10]

[cid:image005.jpg@01D47C02.5E361B10]

[cid:image006.jpg@01D47C02.5E361B10]

Thanks in advance for any help!

De: António Sérgio Azevedo <notifications@github.com>
Enviado el: Tuesday, November 13, 2018 18:34
Para: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
CC: Joel Vasco <joel.vasco@akroscorp.com>; Mention <mention@nor

[2018-11-14 15:13] EM1L opened #18902 "Azure Repos Git repository example for --gitrepo-url"
Is url encoding of azurerepousername required when the user name contains a space character for example ?

I guess this could be potential enhancement to the documentation - I will have to test which one works...

Thanks,
Emil

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bde2eab-46e1-c7da-9efb-5c0cdd52603a
* Version

[2018-11-14 15:32] DCtheGeek commented on #18845
@femsulu @JozoSlejko I'm validating my understanding with engineering.  Will respond asap and clarify in the doc.  Thanks for the feedback!  #in-progress

[2018-11-14 15:35] rcarmo opened #18904 "Typo: Vodafone Idea -> Vodafone India"
"Idea" seems to be a typo...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0acd798-2e5a-2a7e-bb14-7424576a8e38
* Version Independent ID: 841f2ce1-b101-0fbf-e33d-4e56a6244ed9
* Content: [Locations and connectivity providers: Azure ExpressRoute](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-locations

[2018-11-14 15:37] sergaz-msft commented on #16613
I'm reopening the issue. I believe we have a similar issue also on MSDN - https://social.msdn.microsoft.com/Forums/en-US/acde3b16-e14f-4ec3-9092-2164e1ce9a7c/routing-to-a-service-bus-queue?forum=azureiothub

@robinsh were you able to reproduce the issue?
Thanks!

[2018-11-14 15:40] gcormier opened #18905 "Maximum Public IP's per NIC"
"There is a limit to how many private IP addresses can be assigned to a NIC. There is also a limit to how many public IP addresses that can be used in an Azure subscription. See the Azure limits article for details."

I cannot find details for the limit on Public IP's per NIC. Azure Limits does not have the information.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2018-11-14 15:47] LisandroSu opened #18906 "Procedure doesn't work for us"
@sonfrau commented on [Wed Nov 14 2018](https://github.com/MicrosoftDocs/azure-docs.es-es/issues/147)

We followed this procedure, step by step but it didn't work for us.

We had to add this line:

ad_gpo_access_control = permissive

to our sssd.conf and as of then we were able to gain access to our linux servers using AAD credentials.

---
#### Detalles del documento

⚠ *No edite esta sección. Se

[2018-11-14 15:48] LisandroSu commented on #18906
Hi team,

Please check the issue reported by the user.

Thanks!

[2018-11-14 16:02] cephalin commented on #18840
@mchudinov Thanks for the catch. I've updated the table with the latest information. It will be published sometime today. #please-close

[2018-11-14 16:12] vhorne commented on #18218
@BUD93
Screenshots and procedures updated to latest portal UI.

[2018-11-14 16:13] vhorne commented on #18218
#please-close

[2018-11-14 16:18] ChiragMishra-MSFT commented on #18332
@linda33wj I followed the tutorial and observed that the output folder is created after performing all steps, but the file(s) are not visible when viewed using the portal or using Azure Storage Explorer.

On creating a pipeline to copy data in ADF V2 and using this ADLS Gen2 as an input, the file(s) copied are visible and contain the data as expected.

Please investigate and take necessary actions

[2018-11-14 16:33] sergaz-msft commented on #18549
Hi @ml810326 please note that there are three different ways to try and reach Azure Blob Storage on IoT Edge:

For modules which are deployed on different edge device, than the edge device where "Azure Blob Storage on IoT Edge" is running, then depending upon your setup the blob endpoint is: `http://<device IP >:11002/<account name>` or `http://<IoT Edge device hostname>:11002/<account name>` or `

[2018-11-14 16:38] jpmckane opened #18908 "Clean up resources Section Error"
The location should be Properties &gt; Password Reset

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90088440-454a-8698-8696-f84141ee6539
* Version Independent ID: 621d6a1d-0799-4474-7c45-b6c7d60f3f6d
* Content: [Quickstart Azure AD self-service password reset](https://docs.microsoft.com/en-us/azure/active-directory/au

[2018-11-14 16:38] sethmanheim commented on #15513
@SychevIgor Sorry, I misunderstood. OK, I have fixed these instances so they point to the master branch. It should go live after 10 AM PT today, or after 3 PM. #please-close

[2018-11-14 16:47] jusefb commented on #13282
I have sent you an email, let me know the next steps.

[2018-11-14 16:47] cephalin commented on #18841
@gcobr @BryanTrach-MSFT I've updated the doc with the information. Thanks

[2018-11-14 16:49] cynthn commented on #18859
@timmmay You would also skip the "create a managed disk" step :)

[2018-11-14 16:58] #18569 closed

[2018-11-14 16:59] cephalin commented on #18255
Please assign it to @ccompy

[2018-11-14 17:08] cynthn commented on #18612
@krishnasankarv thank you for the feedback! I have submitted a PR to update the content :)

Thanks!

#please-close

[2018-11-14 17:11] erhopf commented on #16910
Providing an update to everyone that commented on this issue. We have started patching the docs based on your input and you'll see the first updates to auth information later today. Again, special thanks go out to @AlexanderTodorovic, @overslacked, and @niels9001.

[2018-11-14 17:15] eternovsky commented on #18015
Hi @ine8181 - PM on the Log Analytics team here :).

Log Analytics is based on an append-only data platform, meaning that data can **never** be modified. As far as deletion, we do support a [deletion](https://docs.microsoft.com/azure/log-analytics/log-analytics-personal-data-mgmt) mechanism - something we must do to ensure our customers are able to meet various data privacy regulations around the

[2018-11-14 17:17] orangecstsne04 commented on #18015
Thanks.

Sent from Yahoo Mail on Android

  On Wed, Nov 14, 2018 at 11:15 AM, Evgeny Ternovsky<notifications@github.com> wrote:
Hi @ine8181 - PM on the Log Analytics team here :).

Log Analytics is based on an append-only data platform, meaning that data can never be modified. As far as deletion, we do support a deletion mechanism - something we must do to ensure our customers are able to meet var

[2018-11-14 17:20] rwike77 commented on #18876
@jakaruna-MSFT  Thanks for pointing this out, I'll try to get it updated soon.

[2018-11-14 17:28] Jann-Skotdal commented on #12213
@topekTopperson - This issue has now been fixed. You should now be able to transliterate Kanji characters in Japanese. If you have any further issues, please post them to Translator's user support forum at [aka.ms/TranslatorForum](http://aka.ms/TranslatorForum)

[2018-11-14 17:30] #18612 closed

[2018-11-14 17:32] MicahMcKittrick-MSFT commented on #18902
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-14 17:33] aljo-microsoft commented on #18469
@wuffers
Yes this is possible to deploy an Application at Cluster Creation time; I do it everyday.

https://github.com/aljo-microsoft/demo/blob/master/deploy/servicefabric_bestpractices.py

You shouldn't be using POA in Azure though, as VMSS Auto Patching feature is the recommended best practice in Azure.

https://azure.microsoft.com/en-us/updates/vmss-auto-os-upgrades/

@MicahMcKittrick-MSFT
Plea

[2018-11-14 17:34] cephalin commented on #17872
@cloudmelon Thanks for the feedback. I've tweaked the description a bit. It should be published sometime today. #please-close

[2018-11-14 17:34] #18469 closed

[2018-11-14 17:36] Adam-Smith-MSFT commented on #18867
@CHDAFNI-MSFT Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-14 17:38] cloudmelon commented on #17872
Ok. Thank you :)

Melony QIN

[2018-11-14 17:39] JamesLee-MSFT commented on #18866
@CalvinFengDatacom Please share the document you are referring to.

Thanks!
James

[2018-11-14 17:39] Adam-Smith-MSFT commented on #18889
@jontejj Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-14 17:39] cloudmelon commented on #17872
Could you please provide me the doc link so that I can send it to my customers? Thank you :)

Melony QIN

[2018-11-14 17:39] ggailey777 commented on #18697
@Hariharnath-Paduchuru we are very sorry for your inconvenience. We are currently in the process of updating this article to support the new way you must add NuGet package references to a C# script in .NET Core 2.x.

@mike-urnun-msft please assign to @craigshoemaker so that he can resolve this issue when the update is published.

[2018-11-14 17:40] Alberto-Vega-MSFT commented on #18898
@AbdalAlsaedi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-14 17:41] Grace-MacJones-MSFT commented on #18685
We will now proceed to close this thread.

[2018-11-14 17:41] #18685 closed

[2018-11-14 17:41] cephalin commented on #17872
It's the same doc you referenced. Also I've forwarded your feedback to the product team. Thank you.

[2018-11-14 17:41] mganeshphani opened #18919 "Using Keyvault with existing uploaded certificates"
Is there a way to use keyvault and point app service to use certificate and secret from the keyvault.. when I have wildcard cert, which is being used for n number of subsites.. maintenance becomes a nightmare to have to manually upload the certificate to all those n number of webapps, whenever I get that renewed.. Note: I am not using ASC(App service certificates).

---
#### Document Details

⚠ *D

[2018-11-14 17:45] CHDAFNI-MSFT opened #18920 "Last update date: 09/19/2017"
This article has a last update date of 09/19/2017. Please evaluate if this article is still relevant or otherwise needs content refreshed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83657a6c-2076-3ad8-068a-dd0e3467b512
* Version Independent ID: 3e705de2-a0cc-295d-d6d6-d8ed6d8e62c8
* Content: [Detection capabilities

[2018-11-14 17:46] jason-j-MSFT commented on #18842
@MGoedtel could you take a look?

[2018-11-14 17:49] Adam-Smith-MSFT commented on #18892
@SharmainePopov Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-14 17:51] Grace-MacJones-MSFT commented on #18840
We will now proceed to close this thread.

[2018-11-14 17:51] #18840 closed

[2018-11-14 17:51] CHDAFNI-MSFT opened #18921 "ASC SIEM integration - believe no longer Preview"
I *believe* it is no longer in Preview to integrate SIEM with Azure Security Center via an Event Hub. I can't quote a source except to say there is no 'preview' message when viewing the SIEM integration instructions via the Ibiza portal -&gt; ASC -&gt; Security Solutions -&gt; SIEM

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-11-14 17:52] douglaslMS commented on #17892
@MarkAtAgilliance I will pass your feedback along to the Data Factory team. Note that when you have feedback about how the product works, and not about doc issues, you want to pick the OTHER feedback button at the bottom of a doc page. All the best.

[2018-11-14 17:52] Mike-Ubezzi-MSFT commented on #18891
@mcurko Thank you for the detailed feedback. This was the state of this tutorial a few months back. Let me look into this and I will update you shortly.

[2018-11-14 17:55] yevster opened #18922 "Template values for resource group, etc don't work"
It may be necessary to clarify step 5 in project creation:

&gt; Click OK and enter details for current project, and eventually Finish.

"Enter details for current project" has to involve replacing all the template values from archetype metadata that will show up in the box.

![image](https://user-images.githubusercontent.com/7320197/48502059-ac229800-e80c-11e8-84d8-8e9e90a3b7eb.png)

For instance

[2018-11-14 17:55] Grace-MacJones-MSFT commented on #18885
Hi @daniel-rocha, thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-14 17:56] Grace-MacJones-MSFT commented on #18868
Hi @phil-lgr, thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-14 17:59] phil-lgr commented on #18868
What I end up doing:

Creating a docker-compose-ci.yml in my build sequence and adding it as artifact, maybe you can mention that

Also the "Auto deploy" feature should be explained here

[2018-11-14 17:59] lwajswaj opened #18924 "Storage Account Ingress/Egress/capacity/IOPS limit/quota is outdated"
Storage limit section (https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#storage-limits) seems to be outdated for Ingress/Egress limits as well as max size and TPS/IOPS according to this announcement made almost a year ago: https://azure.microsoft.com/en-us/blog/announcing-larger-higher-scale-storage-accounts/.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2018-11-14 18:00] #9859 closed

[2018-11-14 18:01] phil-lgr commented on #18868
I'm puzzled by this Auto deploy feature vs using Azure release pipeline... There are no templates on the Release side for deploying to a Web App service (docker-compose), there is only one for Service Fabric (which is WAY harder to set up)

[2018-11-14 18:01] #9861 closed

[2018-11-14 18:02] phil-lgr commented on #18868
I think the Auto Deploy feature should be removed in favor of a good template on the Azure Pipelines side, thoughts?

[2018-11-14 18:02] hrasheed-msft commented on #18809
Thanks @SychevIgor. There have been a number of portal changes that will require widespread document edits. We have a few user stories in our backlog to update all of the affected docs, but it will take some time to redo all of the screenshots.

[2018-11-14 18:02] hrasheed-msft commented on #18809
#please-close

[2018-11-14 18:03] Mike-Ubezzi-MSFT commented on #18877
@dcbrown16 Thank you very much for your interest in Azure products and services. With regard to your question, you can transform data in what SQL Data Warehouse calls an `external` table (ex, ext.Date). In this section: [Loading Data to a Staging Table](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/design-elt-data-loading#load-to-a-staging-table), you load data from external sources in

[2018-11-14 18:03] hrasheed-msft commented on #18811
Thanks @SychevIgor. There have been a number of portal changes that will require widespread document edits. We have a few user stories in our backlog to update all of the affected docs, but it will take some time to redo all of the screenshots.

[2018-11-14 18:03] hrasheed-msft commented on #18811
#please-close

[2018-11-14 18:04] #15513 closed

[2018-11-14 18:04] hrasheed-msft commented on #18803
Thanks @SychevIgor. There have been a number of portal changes that will require widespread document edits. We have a few user stories in our backlog to update all of the affected docs, but it will take some time to redo all of the screenshots.

[2018-11-14 18:04] cephalin commented on #18120
@reutann Thanks for the feedback. It took me a while to test all the providers and get the content reviewed by the technical experts. But the update should be published sometime today. #please-close

[2018-11-14 18:04] hrasheed-msft commented on #18803
#please-close

[2018-11-14 18:04] hrasheed-msft commented on #18797
Thanks @SychevIgor. There have been a number of portal changes that will require widespread document edits. We have a few user stories in our backlog to update all of the affected docs, but it will take some time to redo all of the screenshots.

[2018-11-14 18:05] hrasheed-msft commented on #18797
#please-close

[2018-11-14 18:05] hrasheed-msft commented on #18796
Thanks @SychevIgor. There have been a number of portal changes that will require widespread document edits. We have a few user stories in our backlog to update all of the affected docs, but it will take some time to redo all of the screenshots.

[2018-11-14 18:05] hrasheed-msft commented on #18796
#please-close

[2018-11-14 18:05] hrasheed-msft commented on #18789
Thanks @SychevIgor. There have been a number of portal changes that will require widespread document edits. We have a few user stories in our backlog to update all of the affected docs, but it will take some time to redo all of the screenshots.

[2018-11-14 18:06] hrasheed-msft commented on #18789
#please-close

[2018-11-14 18:06] phil-lgr commented on #18872
Ok I think it's ok, during the deploy phase, of course we don't need the `build` keys

My deploy was failing because of the certificate..

[code]

It's really hard to set up.. I could not make it work

[2018-11-14 18:07] hrasheed-msft commented on #18780
Thanks @SychevIgor. There have been a number of portal changes that will require widespread document edits. We have a few user stories in our backlog to update all of the affected docs, but it will take some time to redo all of the screenshots.

[2018-11-14 18:07] hrasheed-msft commented on #18780
#please-close

[2018-11-14 18:07] hrasheed-msft commented on #18778
Thanks @SychevIgor. There have been a number of portal changes that will require widespread document edits. We have a few user stories in our backlog to update all of the affected docs, but it will take some time to redo all of the screenshots.

[2018-11-14 18:07] Adam-Smith-MSFT commented on #18857
@utadamai I was able to follow the same steps and was able to create the container in the samples. Since your issue is not related to the documentation, I'd recommend posting in MSDN: https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata
and we'll help you troubleshoot the issue. Also, please indicate what environment you are running: Windows vs Linux, and SDK version us

[2018-11-14 18:07] #18857 closed

[2018-11-14 18:07] hrasheed-msft commented on #18778
#please-close

[2018-11-14 18:07] #18003 closed

[2018-11-14 18:08] hrasheed-msft commented on #18779
Thanks @SychevIgor. There have been a number of portal changes that will require widespread document edits. We have a few user stories in our backlog to update all of the affected docs, but it will take some time to redo all of the screenshots.

[2018-11-14 18:08] hrasheed-msft commented on #18779
#please-close

[2018-11-14 18:09] orangecstsne04 commented on #18778
Closed

[2018-11-14 18:09] #18168 closed

[2018-11-14 18:10] cloudmelon commented on #17872
Awesome!  Thanks :)

Melony

[2018-11-14 18:11] #18218 closed

[2018-11-14 18:15] Alberto-Vega-MSFT commented on #18901
@salperwy Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate. In this forum we take care of documentation improvements  to get you unblock you might want to post a question in the forums like StackOverflow or MSDN.

[2018-11-14 18:16] cephalin commented on #18120
@reutann BTW the title of the article was misleading. This is not supposed to be one-stop shop for all auth, just for customizing the auth feature in App Service. I've tweaked the title to reflect that.

[2018-11-14 18:17] dan-wesley commented on #18844
@keithcharlie I just wanted to clarify your feedback. Do you want the section in **SKUs tab>Container metadata** (cpp-skus-tab.md) revised as per your note? Thanks

[2018-11-14 18:21] MarileeTurscak-MSFT commented on #18908
@jpmckane
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-14 18:22] CeciAc opened #18926 "Missing .gitattributes and .gitignore"
@nschonni commented on [Mon Nov 12 2018](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/193)

Noticed this because of the encoding issue  ran into from a PR. These should probably be copied from the source repo and normalize the line endings after.
/cc @ktoliver

---

@CeciAc commented on [Tue Nov 13 2018](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/193#issuecomment-43841889

[2018-11-14 18:23] keithcharlie commented on #18844
Yes please Dan. I think the right presentation could be as a “note”, but defer to you on that. The content has been reviewed with engineering and should be good to go.

Keith Vidal | w: 805.450.3580<nxphone:805.450.3580>

From: Dan Wesley <notifications@github.com>
Sent: Wednesday, November 14, 2018 10:18 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Keith Vidal <Keith.Vidal@

[2018-11-14 18:29] jeevansd commented on #13282
@jusefb Done already. Please check the email.

[2018-11-14 18:31] #17872 closed

[2018-11-14 18:33] gunnarcms opened #18927 "WAF Monitoring - already integrated with ASC"
Hi, I saw one more line where the integration between ASC & WAF is already available https://docs.microsoft.com/en-us/azure/application-gateway/waf-overview#application-gateway-waf-reports , should eliminate the portion  "(coming soon)"  from the sentence "... integration with Azure Monitor, Azure Security Center (coming soon), and Log Analytics.". Thanks!

---
#### Document Details

⚠ *Do not edi

[2018-11-14 18:44] MicahMcKittrick-MSFT commented on #18893
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-14 18:44] hrasheed-msft commented on #18812
Thanks @SychevIgor. We have some scheduled work to re-evaluate all of our command line customer scenarios and will be sure that we include az cli 2.0 where appropriate. Given the scope of the update it may take some time, but we are away of the issue. Thanks!

[2018-11-14 18:44] kgremban commented on #13596
@Mike-Ubezzi-MSFT I haven't heard from @creationsoft in a while. Can we close this issue until he has a chance to restest?

[2018-11-14 18:45] hrasheed-msft commented on #18812
#please-close

[2018-11-14 18:45] #18797 closed

[2018-11-14 18:47] #18803 closed

[2018-11-14 18:48] #18809 closed

[2018-11-14 18:48] gcormier opened #18933 "Resource ID"
Either the directions or not clear, or no longer applicable. I cannot find resource ID for my VNet under IAM, nor under properties of the VNET.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52fe18fe-efc5-3e63-8200-8e20e885b55e
* Version Independent ID: 86a4f465-d676-e0e4-7367-2ed9f906340a
* Content: [Create an Azure v

[2018-11-14 18:48] hrasheed-msft commented on #18808
Thanks @SychevIgor. We have some scheduled work to re-evaluate all of our command line customer scenarios and will be sure that we include az cli 2.0 where appropriate. Given the scope of the update it may take some time, but we are away of the issue. Thanks!

[2018-11-14 18:49] hrasheed-msft commented on #18807
Thanks @SychevIgor. We have some scheduled work to re-evaluate all of our command line customer scenarios and will be sure that we include az cli 2.0 where appropriate. Given the scope of the update it may take some time, but we are away of the issue. Thanks!

[2018-11-14 18:49] hrasheed-msft commented on #18807
#please-close

[2018-11-14 18:49] SergeyKanzhelev commented on #11721
It is fixed now. Please follow the instructions above

[2018-11-14 18:50] hrasheed-msft commented on #18800
Thanks @SychevIgor. We have some scheduled work to re-evaluate all of our command line customer scenarios and will be sure that we include az cli 2.0 where appropriate. Given the scope of the update it may take some time, but we are away of the issue. Thanks!

[2018-11-14 18:50] hrasheed-msft commented on #18800
#please-close

[2018-11-14 18:50] hrasheed-msft commented on #18798
Thanks @SychevIgor. We have some scheduled work to re-evaluate all of our command line customer scenarios and will be sure that we include az cli 2.0 where appropriate. Given the scope of the update it may take some time, but we are away of the issue. Thanks!

[2018-11-14 18:50] hrasheed-msft commented on #18798
#please-close

[2018-11-14 18:50] hrasheed-msft commented on #18786
Thanks @SychevIgor. We have some scheduled work to re-evaluate all of our command line customer scenarios and will be sure that we include az cli 2.0 where appropriate. Given the scope of the update it may take some time, but we are away of the issue. Thanks!

[2018-11-14 18:51] hrasheed-msft commented on #18786
#please-close

[2018-11-14 18:58] cephalin commented on #18570
@ghills Thanks for the feedback. I brought it up with the product team. They agree that it shouldn't be swapped and also mentioned that a fixed is being rolled out in a few weeks.

I'll add hybrid connections to the list in the doc.

[2018-11-14 19:00] cynthn commented on #18436
@alexeyshishkin01 thank you for the feedback! We have another doc that covers resizing and I'm going to use that as the primary version going forward. I'm also creating a work item to make sure that covers OS disk resizing, but it will take a little while for me work on updating that topic to include information on how to update the OS to recognize the OS disk resize. Thanks again!

#please-close

[2018-11-14 19:03] cephalin commented on #16881
@marksman315 I'm not sure if I understand. The doc says you can use applicationInitialization IF you need custom warm up during swap. If you don't need custom warm up during swap then you don't need to use it.

[2018-11-14 19:03] rolyon commented on #18583
Hi @femsulu
I currently only see preview docs related to this role for Linux. I did not find for Windows.
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/login-using-aad
I did find this forum discussion:
https://social.msdn.microsoft.com/Forums/en-US/8558bc2a-987b-4898-b5b5-059d64842001/virtual-machine-administrator-login?forum=WAVirtualMachinesforWindows

[2018-11-14 19:07] CeciAc commented on #18926
closing this issue since the user confirmed the files are missing just in the localized version

[2018-11-14 19:07] #18926 closed

[2018-11-14 19:15] badalk commented on #18288
@SteveLasker  - confirming that if I grant contributor role on ACR for the service principal, its working and I dont have to re-login again inside the script. Any timelines for the specific role permissions to be available?

[2018-11-14 19:19] dan-wesley commented on #18844
From: Keith Vidal <notifications@github.com>
Sent: Wednesday, November 14, 2018 10:24 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Dan Wesley (Experis) <v-wesda@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] please add in the container metadata section (#18844)

Yes please Dan. I think the right presentation could be as a “note”, b

[2018-11-14 19:20] DCtheGeek commented on #18845
@JozoSlejko I've confirmed with engineering.  **Location** is only required when you use **AssignIdentity** switch.  It is not the location of the policy, but the location of the managed identity that is created when using **AssignIdentity**.  The description of **Location** will be updated to:

The location of the managed identity. This is only required when the -AssignIdentity switch is used.

T

[2018-11-14 19:21] dan-wesley commented on #18844
Hi Keith,
Updated the content and it’s posted to the review site (https://review.docs.microsoft.com/en-us/azure/marketplace/cloud-partner-portal/containers/cpp-skus-tab?branch=pr-en-us-57989)
Didn’t use the “note” format because I wanted to maintain consistency with the heading format used for the SKU metadata section.
Thanks
dan

From: Keith Vidal <notifications@github.com>
Sent: Wednesday, Novem

[2018-11-14 19:24] simonua opened #18936 "FAQ regarding ARM Template"
Could you explain whether ARM template support for static websites is available, please? We don't yet see it in the automation scripts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcd3f99a-f522-6edb-6d39-eac1bb917956
* Version Independent ID: 69e9c1e5-8deb-8092-46f4-6646d076fbe4
* Content: [Static website hosting in

[2018-11-14 19:30] BryanTrach-MSFT commented on #18780
@SychevIgor We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-14 19:30] #18780 closed

[2018-11-14 19:30] BryanTrach-MSFT commented on #18779
@SychevIgor We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-14 19:30] #18779 closed

[2018-11-14 19:31] BryanTrach-MSFT commented on #18778
@SychevIgor We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-14 19:31] #18778 closed

[2018-11-14 19:31] simonua commented on #18814
This [task](https://github.com/FabienLavocat/vsts-tasks/tree/master/PurgeAzureCDNEndpoint) provides some details on how to do this. It may be worth linking as an example and specifically calling out `Unpublish-AzureRmCdnEndpointContent`.

https://marketplace.visualstudio.com/items?itemName=fabienlavocat.FabienLavocat-PurgeAzureCDNEndpoint#review-details

[2018-11-14 19:31] BryanTrach-MSFT commented on #18436
@alexeyshishkin01 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-14 19:31] #18436 closed

[2018-11-14 19:32] BryanTrach-MSFT commented on #18120
@reutann We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-14 19:32] #18120 closed

[2018-11-14 19:32] MarileeTurscak-MSFT commented on #18899
@dcnoren
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-14 19:33] MarileeTurscak-MSFT commented on #18920
@CHDAFNI-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-14 19:33] MarileeTurscak-MSFT commented on #18921
@CHDAFNI-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-14 19:38] joelvasco commented on #18820
Hi,
I have no support plan for technical issues.

Subscription ID is:
ed861af8-0e47-4436-af1a-4f57bfc3528e

Link to issue:
https://github.com/MicrosoftDocs/azure-docs/issues/18820#issuecomment-438701834

Thanks!

De: António Sérgio Azevedo <notifications@github.com>
Enviado el: Wednesday, November 14, 2018 10:27
Para: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
CC: Joel Vasco <joel.va

[2018-11-14 19:40] #16784 closed

[2018-11-14 19:47] andres-carrilloAdapt2 commented on #18412
I can also curl the service for the windows pod from the linux container, but i cant do so from the windows container
![image](https://user-images.githubusercontent.com/42624581/48508283-c57b1280-e813-11e8-93cd-cb71fe43c458.png)

[2018-11-14 19:50] nheinbaugh opened #18938 "Should App Insights be per Service Fabric or per Service/Actor"
This article shows how to create AI insights on the Voting app, but if I have multiple Services in my Service Fabric should I be creating individual AppInsights for all of them? Or should I just have a single one that pulls all information for the whole fabric?

Clarity around this issue (on this doc or a related doc) would be quite helpful.

Cheers.

---
#### Document Details

⚠ *Do not edit this

[2018-11-14 19:55] TravisCragg-MSFT commented on #18905
@gcormier From the [Azure Network Limits](https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits?toc=%2fazure%2fvirtual-network%2ftoc.json#azure-resource-manager-virtual-networking-limits), The limit of Private IP Addresses per NIC is 256.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly c

[2018-11-14 19:55] #18905 closed

[2018-11-14 19:56] DCtheGeek commented on #18888
@JozoSlejko Got confirmation, **Category** can be used with **Metadata**.  Metadata takes a string, but that string is JSON that contains the property key/value pairs.  So, something like this:

`-Metadata '{"Category":"Virtual Machine"}'`

We'll get the ref content updated with an example to cover using **Metadata** like this that includes **Category**.  Thanks again for the feedback!

@Microsoft

[2018-11-14 19:59] Adam-Smith-MSFT commented on #18936
@simonua Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-14 20:03] simonua commented on #18936
Thank you. We are very interested in using Static Websites paired with a CDN but are a bit hung up on the ARM process to create the Static Websites.

[2018-11-14 20:11] rolyon commented on #18510
Hi @dcnoren
According to the conditional access docs, conditional access policies do not yet support PowerShell.
https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/location-condition#api-support-and-powershell

I will update the "Manage access to Azure management with conditional access" article to reflect this. Thanks for pointing this out.

If interested, you can vote for

[2018-11-14 20:15] nzaetta commented on #18583
@rolyon @femsulu
"Log in to a virtual machine with Windows administrator or Linux root user privileges"
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#virtual-machine-administrator-login

[2018-11-14 20:31] CalvinFengDatacom commented on #18866
Hi @JamesLee-MSFT, this is the document I'm referring to: https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/quickstarts/csharp#replace-knowledge-base
I'm currently using this method to replace/update my QnA KB.

[2018-11-14 20:35] vmunagala0117 opened #18939 "Gremlin Console - Error during 'connect' - Cannot create property=hosts"
I have followed the instructions as provided in this link --> https://docs.microsoft.com/en-us/azure/cosmos-db/create-graph-gremlin-console

![image](https://user-images.githubusercontent.com/9359828/48510497-0aa64100-e822-11e8-865e-2f1a076a814f.png)

Below is the remote-secure.yaml configuration file (masked the primary key for security reasons).

![image](https://user-images.githubusercontent.co

[2018-11-14 20:37] karenbarias opened #18941 "The project does not run"
When i run the program for the first time the only thing i get is an error:
System.IO.DirectoryNotFoundException: Could not find a part of the path 'C:\Users\User\Desktop\dotnet-sqldb-tutorial-master\DotNetAppSqlDb\bin\roslyn\csc.exe'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72d855c6-51fd-a1da-5c44-8b44658c0211

[2018-11-14 20:38] #18888 closed

[2018-11-14 20:39] phillipgibson commented on #18822
I figured out what was happening. On the script examples you omit the param needed to get the input of the RecoveryContext. The below should be part of all script examples.

param (
          [parameter(Mandatory=$false)]
          [Object]$RecoveryPlanContext
    )

[2018-11-14 20:39] #18822 closed

[2018-11-14 20:39] gfk76 opened #18942 "Azure4 Stack"
Maybe I'm wrong be "Azure4 Stack" sound wrong...?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4f0f99b-031b-b8a5-a24f-4e110cae39da
* Version Independent ID: 0ea013c4-504a-735f-2c54-c9af7a320806
* Content: [About Azure Site Recovery](https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-overview)
* Conte

[2018-11-14 20:41] DCtheGeek commented on #18888
Azure/azure-powershell#7829 Here's the link to the PR to update the example in the ref content.

[2018-11-14 20:42] bandersmsft commented on #18742
Fixed.
#please-close

[2018-11-14 20:42] bandersmsft commented on #18787
Fixed.
#please-close

[2018-11-14 20:43] g0pinath opened #18943 "BUG - Fileurils in BLOB with subfolders dont work."
"fileUris": "https://sadeploytrg01lab01.blob.core.windows.net/templates/ICL_TRG/Scripts/PostDeploymentScript.ps1"
"commandToExecute": "powershell -ExecutionPolicy Unrestricted -File PostDeploymentScript.ps1"
If I set the file URI as the above, the script returns error saying that the file cant be found.
From the logs of the extensions I can see that its downloading the script to
C:\Packages\Plugin

[2018-11-14 20:45] bclubbMSFT opened #18944 "Link to Install and Configure Azure CLI returns a 404 error"
In the blue "Important" box under "Use Azure CLI", there is a link to "Install and configure Azure CLI" in the second paragraph.  Clicking this link gives a 404 error.  The link is to https://review.docs.microsoft.com/en-us/azure/cli-install-nodejs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4de61bef-5b51-6bf8-dbbb-

[2018-11-14 20:48] Mike-Ubezzi-MSFT commented on #13596
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-14 20:48] #13596 closed

[2018-11-14 20:50] jbender-Tallan opened #18945 "App Service Certificate limitations verbiage is not clear."
"Uploaded certificates" wording does not match the portal's verbiage in a Web App "Private Certificates". I would suggest saying something along the lines of, attempting to move an ASC across subscriptions without removing the SSL bindings and private certificates from dependent web apps is not allowed. SSL bindings and private certificates must first be removed from dependent Web Apps.

Had to fi

[2018-11-14 20:53] TravisCragg-MSFT commented on #18851
@robynt34 I do not believe there is a way at this time to do this with templates. If you would like to add this functionality in the future, please [leave your feedback Here](https://feedback.azure.com/forums/169397-cdn).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will r

[2018-11-14 20:53] #18851 closed

[2018-11-14 20:58] LMtx opened #18946 "install_nginx.sh error - apt-get update is missing"
The `apt-get update` is missing at the beginning of `install_nginx.sh` pointed by:
[code]

The `install_nginx.sh` script should look as follows:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b5633c7-a4d2-3a1b-a2d6-825316bde689
* Version Independent ID: f3d47ae6-e026-11ab-195c-5eb915747d28
* Content: [Create a

[2018-11-14 20:58] Mike-Ubezzi-MSFT commented on #18595
@mcurko Please use the following [documentation](https://docs.microsoft.com/en-us/powershell/azure/active-directory/install-previous-version?view=azureadps-2.0) to roll-back to a previous version of AzureRM.Sql.

You can run something like the following:

Copyright (C) Microsoft Corporation. All rights reserved.

Which will generate a nice list of available modules to install but here are the Azur

[2018-11-14 20:59] gcobr commented on #18685
They are not "additional" files. They are the only files transferred to blob storage apart from the IIS logs.

And why do you call it a "special provider"? Isn't using the package `Microsoft.Extensions.Logging.AzureAppServices` the only way to make it work?

Under what circumstances would the logs be in the CSV format?

[2018-11-14 20:59] pricoppd commented on #7759
I'm having issues assigning a policy from terraform to a management group. I keep getting Code="AuthorizationFailed" Message="The client '' with object id '' does not have authorization to perform action 'Microsoft.Authorization/policyAssignments/write' over scope '/providers/Microsoft.Management/ManagementGroups/

I have assign Owner, Management Group Contributor and Global administrator and i st

[2018-11-14 21:01] MicahMcKittrick-MSFT commented on #14662
Just an update for all, We will work to add the information that you have to be the Global AAD tenant to run this script.

As per the work around docs, we are discussing offline how to handle this situation. I am closing this issue for now but we will continue to work on the doc and update it as needed :)

[2018-11-14 21:01] #14662 closed

[2018-11-14 21:07] Karishma-Tiwari-MSFT commented on #18938
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-14 21:07] MicahMcKittrick-MSFT commented on #18819
@guybartal I will close this for now as I have validated the doc works as expected.

Please see my comment above on what command to use and see if it works.

If you still have issues just let me know and we can always reopen and continue.

[2018-11-14 21:09] hrasheed-msft commented on #18799
Thanks @SychevIgor. There have been a number of portal changes that will require widespread document edits. We have a few user stories in our backlog to update all of the affected docs, but it will take some time to redo all of the screenshots.

[2018-11-14 21:09] hrasheed-msft commented on #18799
#please-close

[2018-11-14 21:10] hrasheed-msft commented on #18788
Thanks @SychevIgor. There have been a number of portal changes that will require widespread document edits. We have a few user stories in our backlog to update all of the affected docs, but it will take some time to redo all of the screenshots.

[2018-11-14 21:10] hrasheed-msft commented on #18788
#please-close

[2018-11-14 21:10] MicahMcKittrick-MSFT commented on #18835
@LisandroSu can you give me the full set of commands you are running?

[2018-11-14 21:12] MarkAtAgilliance commented on #17892
Thanks for the guidance.  I have been doing that too (though harder to know how successful that is) and to keep the above focused more on guidance vs feature.  Hope this has helped.  :-)
Regards, Mark.

[2018-11-14 21:12] hrasheed-msft commented on #18523
@arnabganguly we have engaged the engineering team on the product to look at the error messages and provide a fix. We will update you as soon as we know more. Thanks.

[2018-11-14 21:15] MicahMcKittrick-MSFT commented on #18859
@timmmay as @cynthn mentioned you would skip the managed disk part.

We do not offer managed disks to Classic VMs.

The commands needed are quite similar to the steps with AzureRM. Some might be slightly different though. You could also use PowerShell ISE to confirm any older commands.

Is there a reason you are looking to perform the steps for classic instead of ARM? We are no longer adding any n

[2018-11-14 21:17] MicahMcKittrick-MSFT commented on #18872
@phil-lgr can you clarify on your ask? Are you having issues following this doc or would like to have more information added?

[2018-11-14 21:21] MicahMcKittrick-MSFT commented on #18882
@amandadebler there is a current limitation in AKS that does require the cluster to allow outbound connectivity.

@iainfoulds do you know if we have any information we can share on what does need to be allowed?

[2018-11-14 21:25] IdiotLeon opened #18949 "Recommended way to receive topic messages in batch"
What is the recommended way to process a certain amount of messages in batch, especially when not in parallel?
Is processing messages one by one (in parallel) the only way?
How to process messages in batch?

One example:
Service Bus topic --(binding)--&gt; Azure Function --(HTTP Patch Request)--&gt; Azure Devops Batch Update API
(One topic message corresponds to one work item, containing all opera

[2018-11-14 21:29] MohitGargMSFT commented on #18762
@vetrivelmp We will now proceed to close this thread. Please paste your MSDN thread URL here and we will make sure your query in addressed in forums.

[2018-11-14 21:29] ctxldy commented on #18752
Thanks Mohit.

https://social.msdn.microsoft.com/Forums/en-US/28b94ff1-78b2-49f4-8a29-3993d353af74/azure-ad-send-password-as-base64-encoded-in-saml-response?forum=WindowsAzureAD#28b94ff1-78b2-49f4-8a29-3993d353af74

[Description: Description: Description: Description: Description: Description: entisys360_logo_2clr]Lauren Dunnevant
Enterprise Architect |
Mobile: (703) 509-1019

[cid:image003.jpg@01

[2018-11-14 21:33] MicahMcKittrick-MSFT commented on #18902
@EM1L as far as I know yes. Not sure you would run into a case where there are spaces in a username though. Is this something you see often?

@dlepow to comment as well

[2018-11-14 21:33] kylepope commented on #15490
Thanks @mchudinov. That's exactly what I ended up doing. BTW, if anyone is on a mac, this is how I generated a new self-signed certificate.
[code]

[2018-11-14 21:34] billnbell opened #18950 "For @ use %40 is using URL"
If using the full URL for PG, use %40 for the username @.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aba1d5eb-0c48-1c7e-7bbf-144ea69a7965
* Version Independent ID: 8b083319-2994-0ef2-e5e5-033f2afd9fbd
* Content: [Connect to Azure Database for PostgreSQL using Ruby](https://docs.microsoft.com/en-us/azure/postgresql/

[2018-11-14 21:35] phil-lgr commented on #18872
Ok closing this on as the warning are normal, I think the docs are fine regarding that.

[2018-11-14 21:35] #18872 closed

[2018-11-14 21:37] MicahMcKittrick-MSFT commented on #18412
@andres-carrilloAdapt2 thanks for the extra details. Not sure why you are seeing the error. I would like to get this looked into from Support. Do you have the ability to open a technical Support ticket?

If not, you can email me at AzCommunity@microsoft.com and provide me with your SubscriptionID and link to this issue. I can enable one for you.

I will close this for now and be on the lookout for

[2018-11-14 21:37] #18412 closed

[2018-11-14 21:43] MohitGargMSFT commented on #18920
@CHDAFNI-MSFT Thanks for the feedback. Please note that this is the landing document and content on it is still relevant. Please let us know if find any information missing in the document. Any of the detailed documents have been modified with the updated information.

[2018-11-14 21:49] v-jaswel commented on #9856
#please-close

I have updated the text and screenshots to indicate the entity type is datetimev2 (not datetime) and the default name is builtin-datetime (not luis-datetime). The product team signed off on the change and the pull request was just merged. Should go live today or tomorrow. Thank you!

[2018-11-14 21:50] Grace-MacJones-MSFT commented on #18039
@SrivatsaMarichi thanks for your patience. We need to do deeper analysis for this issue. Do you have the ability to open a support request? If not, you can email me at AzCommunity@microsoft.com and provide me with your SubscriptionID, time of operation in UTC and link to this thread. I can enable your subscription to be able to create one. In the meantime, you can use the workaround @jcbrooks92 pr

[2018-11-14 21:54] TomArcher commented on #18900
@Klaas- Thanks. I'll correct this in the article. The URL should be: http://docs.microsoft.com/azure/ansible/ansible-manage-azure-dynamic-inventories

[2018-11-14 21:56] SteveLasker commented on #18288
@badalk that's great to hear. Again, sorry for the confusion. We're working on a round of updates to the docs.
We don't have a specific date for the roles as we need to update a number of points to round it out.
Just to confirm the expectations, can you help us understand why you want the other role?

[2018-11-14 21:59] MicahMcKittrick-MSFT commented on #18938
@nheinbaugh for each service you want to work with application insights you will need to configure it inside the service as shown in this doc you commented on.

That being said, you are able to use the same Application Insights resource in the portal to monitor multiple applications and services.

https://docs.microsoft.com/en-us/azure/application-insights/app-insights-monitor-multi-role-apps

Doe

[2018-11-14 22:05] spencekile opened #18953 "Querying temp table returns invalid object name in same session"
When connecting to Azure SQL DW with SSMS 17.9 using Active Directory - Universal with MFA support, querying a temp table created in the same session returns an "Invalid object name" error. This is contrary to the documentation above. Testing the same process with Active Directory - Integrated or Active Directory - Password successfully returns the data from the temp table created in the same sess

[2018-11-14 22:07] MohitGargMSFT commented on #18921
@CHDAFNI-MSFT I have assigned the issue to the content author to provide more information around it.

[2018-11-14 22:09] niheinba commented on #18938
Okay, I now found the sentence saying that you have to do it for both services. Thanks!

[2018-11-14 22:16] MarileeTurscak-MSFT commented on #18908
Thanks @jpmckane . I created a pull request for review by @MicrosoftGuyJFlo
#58019

[2018-11-14 22:16] #18908 closed

[2018-11-14 22:17] badalk commented on #18288
@SteveLasker Contributor role sounds like it is capable of doing lot of things (at least in other services) but going with principal of least permissions would expect more granular permissions / role to be able to do only what is needed. In case of ACR I dont know how much significant this is but our customer does not grant contributor role easily and we need to justify that often

[2018-11-14 22:29] Christina-Kang commented on #18835
@krvladislav can you provide the following information please?
- Sfctl version (you can run pip show sfctl)
- Which OS you are running
- The service fabric run time version you are targeting.
- Which version of Python you are using

Thank you!

[2018-11-14 22:30] SteveLasker commented on #18288
Hmmm, I didn't account for a role to delete images...
We do have Tag Locking (https://feedback.azure.com/forums/903958-azure-container-registry/suggestions/35014600-tag-locking) with feedback welcome here: https://github.com/AzureCR/specs/issues/2
We can consider a separate delete role, which would be more consistent with standard RBAC type roles. But, I wonder if it's better to use tag locking, a

[2018-11-14 22:33] JasonWHowell commented on #18097
@kamigash Thanks for the feedback. I have updated the article and it should go out tomorrow morning (Redmond time) at the latest.  The Stream Analytics docs are separated at this point, and its hard to change the More Info links, so I did what I could do to make it clearer.

The Stream Analytics docs are over here:
[https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-tools-for

[2018-11-14 22:33] roygara commented on #18369
@Marinagt thanks for letting us know, we appreciate it! I will create a backlog item to update the document to inform users to check their filesystem health.

#please-close

[2018-11-14 22:33] SnehaGunda commented on #18741
@kimlisa thanks for your feedback, I have fixed the typo, changed it to GoLand. WRT to the mgo driver that is used in this doc, we are in the process of revamping most of Cosmos DB docs. We are currenlty working on concepts and how-to guides and will get to Quickstarts and tutorials soon. We will update this doc with the new compatible drivers.

If future, if you see any minor typos, feel free to

[2018-11-14 22:37] Mike-Ubezzi-MSFT commented on #18950
@billnbell Thank you very much for the detailed feedback. Just to clarify, the following code sample should be updated to reflect the following `user`  variable when `@` is passed in the variable

 `require 'pg'

begin
    # Initialize connection variables.
    host = String('mydemoserver.postgres.database.azure.com')
    database = String('postgres')
    user = String('mylogin@mydemoserver')

[2018-11-14 22:37] CarlRabeler commented on #18440
#please-close

[2018-11-14 22:38] darshankumarys commented on #18544
Hi @JamesLee-MSFT apologies for delayed response, i saw your response today.

PFA the error screenshot.
![seerror](https://user-images.githubusercontent.com/31399421/48517366-fc761600-e85d-11e8-834f-caa9d6979153.PNG)

[2018-11-14 22:39] CarlRabeler commented on #16255
@MikiMakhlevich can you please respond to this follow-up question? Thanks.

[2018-11-14 22:40] Marinagt commented on #18369
thanks

[2018-11-14 22:40] #18369 closed

[2018-11-14 22:42] SnehaGunda commented on #18741
#please-close

[2018-11-14 22:44] timmmay commented on #18859
@MicahMcKittrick-MSFT the tenant I'm working with has all their existing infrastructure in Classic.  There's one on prem VM to migrate to Azure and they're not quite ready to move everything to ARM.  So I'm in a position where I'm trying to scope the migration properly but having trouble finding the correct steps.

[2018-11-14 22:45] SnehaGunda commented on #18732
@LeeGrant8 Yes as you said, Azure Cosmos DB and Azure Storage use same .Net Table SDK. For your specific question, we will have to look at the query in detailed, can you please send an email to askcosmosdb@microsoft.com so that broader audience can look at the issue and help you resolve.

[2018-11-14 22:51] cccuscott opened #18956 "No longer current."
They aren't called policies any more you call them user flows and the UI is different.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8b5f81a-f216-b345-d434-c0ebbf70ff00
* Version Independent ID: e77fb894-d7a0-ae0c-7f4c-1030df97f073
* Content: [Built-in policies in Azure Active Directory B2C](https://docs.microsoft.co

[2018-11-14 22:52] sudhirap commented on #18549
@ml810326 Can you please run the JS sample from within the IoT device using http://locahost:11002? That way we could understand if the issue is external to the device or not.

[2018-11-14 22:58] Mike-Ubezzi-MSFT commented on #18953
@spencekile Thank you very much for your detailed feedback. We are investigating and will get back with you shortly.

[2018-11-14 23:06] SnehaGunda commented on #18640
@bgulrich yes the query would only hit the partitions you specify in the query. You can confirm this from the per-query metrics file generated after you run the query. This file shows the partition key ranges used for querying and the portal should also show the total number of partitions created for the throughput your provision.

![image](https://user-images.githubusercontent.com/14284405/485184

[2018-11-14 23:06] yilanz opened #18957 "Authentication code"
Hey code provided in the article (F3W4VWZDM) shouldn't be mentioned, since it's dynamic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2c3dff8-3fd4-d685-d0e7-5c9c3ed34311
* Version Independent ID: a50ed7be-1d32-2abe-7d64-4bc4a5595d21
* Content: [Quickstart: Query data using the Azure Data Explorer Python library](htt

[2018-11-14 23:07] dastaffo commented on #13849
Adding @cillroy on this one.

[2018-11-14 23:10] Adam-Smith-MSFT commented on #18944
@bclubbMSFT Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-14 23:11] Adam-Smith-MSFT commented on #18942
@gfk76 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-14 23:13] MicahMcKittrick-MSFT commented on #18859
@timmmay got it. We don't have any existing documentation that I find since we are all in on ARM instead.

Steps I would take:
1) Create a Classic Storage Account via the Portal
2) Once created, select Blob and create a new container
3) Open the container and select Upload
4) Upload the vhd to the storage account
5) In the portal search for VM Images (Classic)
6) Select Add
7) Create a Classic VM

[2018-11-14 23:17] #18097 closed

[2018-11-14 23:17] DMoonesinghe commented on #14307
Sorry, I wasn't paying attention to this till now.   3 People from
Microsoft had written and I hadn't notice till now. I apologize.  I humbly
disagree with all of you.  What I pointed out to you is an inadequate
explanation and a poor illustration.

Here is what this document says about step 1.
"1. The user accesses the application through the Application Proxy service
and is directed to the Azure

[2018-11-14 23:18] Dusted1969 opened #18958 "Time Granularity"
Can you add explanation as to how Time Range and Time Granularity can be used to show usage over a period of days.
Also expressly state that you only currently sample at 1 minute intervals and can only show 3 days information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 056122a2-2a53-a9c8-0f7a-26816b33ea7d
* Version

[2018-11-14 23:20] robinsh commented on #16613
I have run through this tutorial a bunch of times, and have never seen this problem. I think the next question for those having problems is have you edited the script used to create the resources? Are you creating a hub with an S1 sku, or are you using a free hub? You can't use a free hub, it only allows 1 endpoint, and to do this tutorial, you need more than one. So what sku are you using for you

[2018-11-14 23:20] SnehaGunda commented on #18269
@jialic and @CHEEKATLAPRADEEP-MSFT I dropped an email to our PM team who recently added that example. Understand that that is some confusion with this statement "session consistency is guaranteed to honor consistent prefix" and the example. I will respond when I hear back more details.

[2018-11-14 23:22] femsulu commented on #18890
@schottky81 Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2018-11-14 23:30] femsulu commented on #18894
@daniel-rocha Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2018-11-14 23:34] fsimonazzi opened #18959 "Incorrect concepts about SSL"
Document states "This file format allows you to export the private key that is required by the application gateway to perform the encryption and decryption of traffic." and "The gateway certificate is used to encrypt and decrypt the traffic sent to it through SSL. ". A symmetric key resulting from the key exchange process is used for traffic encryption. In fact some keys used with certificates (e.

[2018-11-14 23:35] cephalin commented on #18685
i'm saying that it's a special case for ASP.NET Core where that extension outputs its own file and its own formatting.

[2018-11-14 23:36] femsulu commented on #18881
We are actively investigating and will get back to you soon.

[2018-11-14 23:36] TravisCragg-MSFT commented on #18608
@vrat87 You will need to route traffic over that new circuit, so you will most likely need to create a new ER Circuit and configure your VNET to use that new circuit.

[2018-11-14 23:43] ShahRukhK opened #18960 "error 9603"
[{"code":9603,"message":"ERROR [IM002] [Microsoft][ODBC Driver Manager] Data source name not found and no default driver specified"}]

I am receiving this error. Is there a generic driver that Azure uses seeing as the driver that my server uses is SQL Anywhere 16 and when i go to copy to azure i get this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2018-11-14 23:44] femsulu commented on #18945
@jbender-Tallan Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-11-14 23:48] femsulu commented on #18924
@lwajswaj Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-11-14 23:48] dcbrown16 commented on #18440
Thanks @Mike-Ubezzi-MSFT!

[2018-11-14 23:49] rafats commented on #18146
@nhwilly  to execute a stored procedure you need "All" permission on resource token. Currently there is no way to execute the stored procedure without granting "All" permission.

We will update the document.

Resource token can have granular permission at collection level and partition key level. By that I mean, if you create a resource token for Collection A, then that resource token cannot be us

[2018-11-14 23:52] JamesLee-MSFT commented on #18946
@LMtx Can you share the document you are referencing?

Thanks.
James

[2018-11-14 23:52] SnehaGunda commented on #18146
@nhwilly as Rafat mentioned, we have plans to update this doc in the next few weeks. It should clear any confusion.

[2018-11-14 23:53] MarileeTurscak-MSFT commented on #18956
@cccuscott
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-14 23:54] JamesLee-MSFT commented on #18939
@vmunagala0117 We are investigating the issue.

Thanks.
James

[2018-11-14 23:56] LMtx commented on #18946
@JamesLee-MSFT https://docs.microsoft.com/en-us/azure/application-gateway/tutorial-create-vmss-cli

Greetings,
LM

[2018-11-14 23:56] JamesLee-MSFT commented on #18764
@tombow989 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-11-14 23:58] #18764 closed

[2018-11-14 23:58] JamesLee-MSFT commented on #18763
@mrinalinihanagodu Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-11-14 23:58] #18763 closed

[2018-11-14 23:59] JamesLee-MSFT commented on #17536
@craigshoemaker This issue was assigned to you.

[2018-11-15 00:03] #9856 closed

[2018-11-15 00:05] #18440 closed

[2018-11-15 00:07] wmengmsft commented on #18265
@IdiotLeon ,
1. Yes, batch is thread safe. Actually, all operations in a batch is executed together as a single transaction on the server side.
2. Batch will be more efficient, since it is a single request to the server acting as 1 atomic transaction.

[2018-11-15 00:19] mbialecka commented on #17351
@sandervandevelde Thanks for the dump, it was helpful in pinpointing the issue. I believe it should be fixed with this image: ` mcr.microsoft.com/azure-blob-storage:1.0.2-linux-amd64`. Please try it out (e.g. like [here](https://github.com/MicrosoftDocs/azure-docs/issues/17351#issuecomment-435482063)) and let me know if it works.

[2018-11-15 00:20] #18741 closed

[2018-11-15 00:32] fastrnu80 opened #18962 "Image created as Standard HDD?"
I created a SSD-based VM (DS_v2 sku) and ran through the steps to sysprep it.  I then created an image via powershell command:

New-AzureRmImage -Image $image -ImageName $vmImageName -ResourceGroupName $rgName

I then see the new image. When I click on it in the portal I view under 'OS Disk' it says 'Account Type' = 'Standard HDD'. Why is this? Does this mean any new VM's created from this image w

[2018-11-15 00:39] SnehaGunda commented on #18640
@bgulrich we will close this issue, if you have further questions, feel free to reopen :-)

#please-close

[2018-11-15 00:41] SnehaGunda commented on #18732
#please-close

[2018-11-15 00:41] TravisCragg-MSFT commented on #15710
@dcbrown16 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-15 00:41] #15710 closed

[2018-11-15 00:42] TravisCragg-MSFT commented on #14394
@jhan40 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-15 00:42] #14394 closed

[2018-11-15 00:44] atrauzzi opened #18963 "Need non-git instructions"
This needs to be updated with instructions for people who aren't using git for deployment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef971d21-e72b-7771-d34a-b6da42d602bb
* Version Independent ID: f60dc748-8cf9-a8eb-9b96-e30cd13acc56
* Content: [Create a PHP web app and deploy to App Service on Linux](https://docs.

[2018-11-15 01:02] gervaisfokam opened #18964 "the Script to create a new Virtual machine fails because the Resource Group creation is commented."
# Create a resource group
 #New-AzureRmResourceGroup -Name $resourceGroup -Location $location

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad37c582-22e6-6c1a-522a-0683aa3cef2c
* Version Independent ID: 0ffd6528-6f5c-107a-2a04-b19d0c807d15
* Content: [Quickstart - Encrypt a Windows IaaS VM with Azure PowerShell](https

[2018-11-15 01:07] TravisCragg-MSFT commented on #18959
@fsimonazzi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-15 01:07] TravisCragg-MSFT commented on #18958
@Dusted1969 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-15 01:17] jason-j-MSFT commented on #18879
@SychevIgor
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-15 01:17] TravisCragg-MSFT commented on #18933
@gcormier Thanks for the feedback! If you are stuck, you can get the Resource ID from Powershell by using Get-AzureRMVirtualNetwork and looking for a .ID property, or from [resources.azure.com](resources.azure.com) under an ID property.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-15 01:18] TravisCragg-MSFT commented on #18927
@gunnarcms Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-15 01:18] jason-j-MSFT commented on #18960
@
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-15 01:20] jason-j-MSFT commented on #18880
@johnneycao
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-15 01:21] gcormier commented on #18905
Thanks - should have been clear, the documentation didn't provide that information. A link to the Azure Network Limits in the quoted section would be useful to find that information.

[2018-11-15 01:22] jason-j-MSFT commented on #18887
@jakubkirylo could you be more specific?  Let us know what issues you are seeing and we will take a closer look.

[2018-11-15 01:29] Karishma-Tiwari-MSFT commented on #18590
test

[2018-11-15 01:30] Karishma-Tiwari-MSFT commented on #18345
test

[2018-11-15 01:31] Karishma-Tiwari-MSFT commented on #18345
test

[2018-11-15 01:32] Karishma-Tiwari-MSFT commented on #18345
test1

[2018-11-15 01:33] Karishma-Tiwari-MSFT commented on #18345
test3

[2018-11-15 01:37] brlewi commented on #18399
Test

[2018-11-15 01:41] atrauzzi opened #18965 "Rewriting to /public is absolutely not the right way to change the document root"
After doing some reading, I'm seeing Azure actually suggesting to people running Laravel (and any others that don't host out of the root project structure) applications to use mod_rewrite to rewrite requests to point to "/public".

This is an absolutely ridiculous suggestion and is effectively some of the worst advice you could give.  Forcing people to have "/public" in their URL structure because

[2018-11-15 01:48] TravisCragg-MSFT commented on #17070
@mcurko We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-15 01:48] #17070 closed

[2018-11-15 01:49] TravisCragg-MSFT commented on #17579
@Sharono123 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-15 01:49] #17579 closed

[2018-11-15 01:49] TravisCragg-MSFT commented on #17497
@martinjosephogorman We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-15 01:49] #17497 closed

[2018-11-15 01:50] TravisCragg-MSFT commented on #17796
@MattCotterellNZ We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-15 01:50] #17796 closed

[2018-11-15 01:51] TravisCragg-MSFT commented on #17971
@NisreenJ We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-15 01:51] #17971 closed

[2018-11-15 01:51] TravisCragg-MSFT commented on #17998
@mcurko We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-15 01:51] #17998 closed

[2018-11-15 01:52] TravisCragg-MSFT commented on #18202
@jurjenoskam We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-15 01:52] #18202 closed

[2018-11-15 01:52] TravisCragg-MSFT commented on #18641
@vrat87 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-15 01:52] #18641 closed

[2018-11-15 01:53] TravisCragg-MSFT commented on #18652
@cmeyertons We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-15 01:53] #18652 closed

[2018-11-15 01:53] TravisCragg-MSFT commented on #17394
@yssky We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-15 01:53] #17394 closed

[2018-11-15 01:53] TravisCragg-MSFT commented on #17392
@yssky We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-15 01:53] #17392 closed

[2018-11-15 01:53] TravisCragg-MSFT commented on #17062
@jabbera We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-15 01:53] #17062 closed

[2018-11-15 01:54] hassanbabaie commented on #18561
@sumeetmittal thank you!

[2018-11-15 01:55] TravisCragg-MSFT commented on #14473
@dmc-tech We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-15 01:55] #14473 closed

[2018-11-15 01:58] MicahMcKittrick-MSFT commented on #18962
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-15 02:04] nhwilly commented on #18146
Thanks for following up.  I am simply trying to execute a stored procedure on a partition using a resource token with read only access to the partition.

Basically, I'm trying to have a direct connection from my end user mobile device to cosmos db to execute a stored procedure against their own partition to which they have read only access.

Trying to get safe and fast and direct, all at once.

[2018-11-15 02:11] jpreese commented on #18570
@cephalin to add onto this, we had a very similar experience with CORS today at work. We spent a large portion of the day troubleshooting an issue that ultimately came down to our CORS setting being swapped from staging to production, back and forth.

I would think CORS should not be swapped as well (or at least made as a slot setting)

[2018-11-15 02:34] the-ranga opened #18966 "wrong target URL for supported metrics"
update the URL target for the link in this paragraph "You can also use newer metric alerts on popular Log Analytics logs extracted as metrics. For more information, view Metric Alerts for Logs." as it points to the older style 'Supported Metrics', not the 'Supported metrics for newer alerts' - this is confusing to customers trying to implement unified alerts.

---
#### Document Details

⚠ *Do not

[2018-11-15 02:34] baharw commented on #18680
yes

[2018-11-15 02:37] BryanTrach-MSFT commented on #18941
@molten-icecream It appears that someone else ran into similar issues in the below issue. Can you please see if this resolution works for you as well?

https://github.com/MicrosoftDocs/azure-docs/issues/15673#issuecomment-427577385

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and

[2018-11-15 02:37] #18941 closed

[2018-11-15 02:40] BryanTrach-MSFT commented on #18919
@mganeshphani I believe the below blog discusses what you are wanting to attempt. Please review it and let me know if you have further questions.

https://blogs.msdn.microsoft.com/appserviceteam/2016/05/24/deploying-azure-web-app-certificate-through-key-vault/

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladl

[2018-11-15 02:40] #18919 closed

[2018-11-15 02:51] the-ranga commented on #18966
disregard - my mistake - selected wrong hyperlink

[2018-11-15 02:58] michaeljqzq commented on #17737
@smoms , you would like to run the Edge runtime on an ARM device. That means the docker images needs to be ARM platform. So you have to build the docker image on ARM-based machine(Ubuntu 1604 is x86-based, which won't work). But I just wrote a [blog post](https://blogs.msdn.microsoft.com/iotdev/2018/11/13/setup-azure-iot-edge-ci-cd-pipeline-with-arm-agent/) here, it tells how to setup CI/CD pipeli

[2018-11-15 02:59] krvladislav commented on #18835
@Christina-Kang thank you, I will provide more info in the ticket you've opened.

Shortly if I remove from REST request (sfctl sniffered via Charles) all fields of type string(duration) or just all fields except ClusterConfig - then it works.

[2018-11-15 03:05] brlewi commented on #18399
Test

[2018-11-15 03:07] Christina-Kang commented on #18835
@krvladislav, you are correct. The problem sfctl has specifically is that when it serializes duration data, it serializes it to the wrong format. The duration should be the format seen in the example above, but sfctl sends "P0D" over the wire instead, and the service fabric endpoint rejects the request.

[2018-11-15 03:38] maria-mcdorman opened #18967 "Missing menu items. DeviceID?"
I have followed these instructions TO THE LETTER FOUR TIMES. There is no " Config Device Settings &gt; Select IoT Hub Device Connection String" available!! And I have no device ID to enter the connection string manually. So frustrated. I'm about to give up.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cf9b53c-0438-f

[2018-11-15 03:39] nibblesnbits opened #18968 "Provided bash script does not work on Git Bash on Windows"
I feel the provided bash script [here](https://docs.microsoft.com/en-us/azure/aks/ingress-static-ip#configure-a-dns-name) should have an alternative that works easily on Windows.  I'm sure this works great on Mac/Linux, but Git Bash has a really hard time parsing this into a valid set of commands.  I'm still working on a work-around.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2018-11-15 03:41] maria-mcdorman commented on #18967
The connection string I get back from provisioning: "iotHubConnectionString": "HostName=XXXXXXHub.azure-devices.net;SharedAccessKeyName=XXXXX;SharedAccessKey=XXXXXXXXXXXXXXXXXXXXX="

[2018-11-15 03:46] #18640 closed

[2018-11-15 03:51] dcbrown16 commented on #18761
Ok it looks like for classic VMs in a cloud service, all of the communication comes in on a single IP address and the endpoints define different ports on that address.
"Users access the application through a single public IP address..."
https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-choose-me
"You can create endpoints in a cloud service to associate different ports in the VIP

[2018-11-15 03:55] nibblesnbits commented on #18968
For what it's worth, pasting this code directly into the Cloud Shell does work.

[2018-11-15 04:07] elenanakhmanson opened #18969 "How can the device be linked to the organization when using Microsoft Account?"
This article is about registering personal device on one's organization Azure AD. At what point is it actually registered in the org AD? Step 3 says: "type in your email address for your personal Microsoft account", so how is the connection made between this device and the org AD when personal account is used? The screenshots show that there's an organization account already registered, is this a

[2018-11-15 04:41] boomalator opened #18971 "No such "trusted ips""
There is no such section for Trusted Ips in my portal.

If this requires P2, that fact should be mentioned.

https://account.activedirectory.windowsazure.com/UserManagement/MfaSettings.aspx?tenantId=beb85d52-de79-43dc-ba07-5323fa26db65&culture=en-us&requestInitiatedContext=users

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-11-15 04:42] ManojReddy-MSFT commented on #18964
@gervaisfokam Resource Group is created in the [prerequisites script]( https://docs.microsoft.com/en-us/azure/security/quick-encrypt-vm-powershell#bkmk_PrereqScript) along with a Key Vault and couple of other things. Have you executed this script before creating the VM directly ?

[2018-11-15 05:02] brlewi commented on #18185
![image](https://user-images.githubusercontent.com/31175390/48531299-91721280-e850-11e8-8ca0-c6bbd0cdcff1.png)

[2018-11-15 05:05] brlewi commented on #18905
![image](https://user-images.githubusercontent.com/31175390/48531401-e57cf700-e850-11e8-98b6-84f5538d05ba.png)

[2018-11-15 05:08] olorunda commented on #13556
You claim it rakes 2 to 3 business days to get back to us when we submit detail of app to be publiahed . But you never get back to us after weeks of filling the app publish request form , this is rather unprofessional

[2018-11-15 05:10] brlewi commented on #18905
![image](https://user-images.githubusercontent.com/31175390/48531565-94213780-e851-11e8-857b-514911f7ca5f.png)

[2018-11-15 05:14] BryanTrach-MSFT commented on #18732
@LeeGrant8 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-15 05:14] #18732 closed

[2018-11-15 05:14] BryanTrach-MSFT commented on #18788
@SychevIgor We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-15 05:14] #18788 closed

[2018-11-15 05:14] BryanTrach-MSFT commented on #18799
@SychevIgor We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-15 05:14] #18799 closed

[2018-11-15 05:15] BryanTrach-MSFT commented on #18845
@JozoSlejko We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-15 05:15] #18845 closed

[2018-11-15 05:16] Grace-MacJones-MSFT commented on #18039
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-15 05:16] #18039 closed

[2018-11-15 05:56] AshokPeddakotla-MSFT commented on #18879
@hrasheed-msft I am able to reproduce this. Please update the "Note" as well along with the image.

[2018-11-15 06:06] SadiqhAhmed-MSFT commented on #18966
@the-ranga, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-15 06:12] RogerFraserZa commented on #16613
Hi Robin

My IOT hub is a F1 free hub .I don’t get any error message when creating the endpoint to the affect that there is only one endpoint allowed it actually returns successfully created message .

Roger Fraser

From: Robin Shahan <notifications@github.com>
Sent: 15 November 2018 01:21 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: RogerFraserZa <roger@livemonitoring.co.za

[2018-11-15 06:16] mcurko commented on #18595
Shouldn't the tutorial be updated to support newest versions of modules, rather than suggesting to roll them back?

Regards,
Marko Čurko

Marko Čurko
Senior Developer │ Perpetuum Mobile d.o.o.
Damira Tomljanovića Gavrana 13, 10000 Zagreb
m +385 91 2305 123 │ t +385 1 6390 834
marko.curko@perpetuum.eu<mailto:marko.curko@perpetuum.eu> │ www.perpetuum.hr<http://www.perpetuum.hr/>

[cid:image002.png@0

[2018-11-15 06:36] jurjenoskam commented on #18202
@TravisCragg-MSFT it still does not work, and as of now, my record serves stale data, pointing to whoever or whatever happens to pick up the public IP address next. In other words, exactly one of the scenarios alias DNS records were designed to prevent. I understand that the documentation repo is not the place where this should be solved, but it is surprising that customers are offered a feature t

[2018-11-15 06:38] jakubkirylo commented on #18887
Hi Jason,
Sure. Content is outdated, print screens refer to design that it's not longer available.
Overview screen - there is no such screen in current Azure (I guess now it's called Dashboard)
View designer - missing in the menu, I guess it's "EDIT" option now.

[2018-11-15 06:52] ManojReddy-MSFT commented on #18969
@elenanakhmanson Thanks for the feedback. I have assigned this to the author to update the doc accordingly.

@eross-msft I believe the steps mentioned in the article do not actually register the device to the organization. So accessing organizational resources will not be possible with just this steps, can you help in validating them ?