[2021-04-12 16:07] djpierson commented on #73461
This has randomly started working again now so closing

[2021-04-12 16:07] #73461 closed

[2021-04-12 16:12] pavelrozenberg opened #73617 "The table column name "Temp storage (SSD) GiB" is incorrect for the D series"
The table column name "Temp storage (SSD) GiB" is incorrect for the D series.
It should refer to regular HDD. That is why the size is bigger than the DS series.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b681fb36-d142-204e-85a7-0ab5f86edc75
* Version Independent ID: f71468a6-899e-5c3d-044f-606fca3d4c88
* Content: [

[2021-04-12 16:12] KrishnaG-MSFT commented on #73609
Related - #73608

Adding @acearun

[2021-04-12 16:20] bandersmsft commented on #73564
@SjoerdWesterhof Hi there. Yes, you're right. The article should have been more clear with the words used in processing order. I've updated the article for clarity with:

1. Reservations with a single resource group scope
2. Reservations with a single subscription scope
3. Reservations with a shared scope (multiple subscriptions), described previously

#please-close

https://github.com/MicrosoftDo

[2021-04-12 16:20] #73564 closed

[2021-04-12 16:23] tfitzmac commented on #73265
I have added content about making sure the Build Action is set to Content. The update should get published later today. I'll close the issue for now, but if you think more clarification is needed, we can reopen.
#please-close

[2021-04-12 16:23] #73265 closed

[2021-04-12 16:26] JeremyTBradshaw commented on #70398
bump...

[2021-04-12 16:44] mike-urnun-msft commented on #73613
Hello @sijucm - Thank you for your feedback! We will review and update as appropriate.

[2021-04-12 16:53] vishalprajapati1984 opened #73619 "Error in last Spark code"
In the below code "TripDistance" column not present in the source file, the actual column name is "TripDistanceMiles". Kindly do the needful.

%%pyspark
df = spark.sql("""
   SELECT PassengerCount,
       SUM(TripDistance) as SumTripDistance,
       AVG(TripDistance) as AvgTripDistance
   FROM nyctaxi.trip
   WHERE TripDistance > 0 AND PassengerCount > 0
   GROUP BY PassengerCount
   ORDER BY Pass

[2021-04-12 17:05] SamaraSoucy-MSFT commented on #73619
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-04-12 17:06] JamesTran-MSFT commented on #73547
@DavidPowMSFT
I've created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2021-04-12 17:06] #73547 closed

[2021-04-12 17:07] tfitzmac commented on #73192
@samsmithnz - I asked around but wasn't able to find any known issues with register/unregister not completing. I tried registering and unregistering ContainerInstance in my subscription (just in case that resource provider took an unusually long time) but it completed quickly. I suspect this was an intermittent issue. For that reason, I'll close the issue because there is not anything to add to th

[2021-04-12 17:07] #73192 closed

[2021-04-12 17:14] theikell commented on #73265
Thanks for the help @tfitzmac , changing the Build Action to Content solved the issue for me.

[2021-04-12 17:21] duongau commented on #13106
Closing this GitHub issue for now since there are no further asks.

#please-close

[2021-04-12 17:21] #13106 closed

[2021-04-12 17:24] duongau commented on #59753
Closing this GitHub issue since it has been 9 months since any activity.

#please-close

[2021-04-12 17:24] #59753 closed

[2021-04-12 17:25] sammydeprez opened #73620 "Error in Bicep code for Microsoft.Web/sites/config Template"
https://docs.microsoft.com/en-us/azure/templates/microsoft.web/2020-09-01/sites/config-appsettings?tabs=bicep

Little code bug in bicep code

'Microsoft.Web/sites/config@**appsettings**'
should be
'Microsoft.Web/sites/config@**{version}**'
'Microsoft.Web/sites/config@**2020-09-01**'

[2021-04-12 17:27] JamesTran-MSFT commented on #73552
@mmannion
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-04-12 17:27] #73552 closed

[2021-04-12 17:35] Karishma-Tiwari-MSFT commented on #73607
Thanks for sharing the update.

[2021-04-12 17:36] SnehaAgrawal-MSFT commented on #73288
@pnarsi Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-04-12 17:38] Karishma-Tiwari-MSFT commented on #73601
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-12 17:38] Oury-MSFT commented on #73462
@felixtsem5 We raised a pull request to fix the document. Once the PR is approved the changes will be live in 24 to 48 hours.
@sivethe I have raised a pull request to change the doc. Can you please approve it.

[2021-04-12 17:40] levpreece commented on #73212
I see the clip Amin sent in 70, but this is deep into the log. The point of this ask is the avoid the confusion in this tutorial esp. given this sub-section is titled: "Inspect the log file". Users of this will look at ALL the words starting at the top of the except from the log. This excerpt Amin shares as proof "70" is the right log is found starting on line number 27 in the tutorial (and btw, i

[2021-04-12 17:47] BharathNimmala-MSFT commented on #73605
@NicolasFloquet Thank you for reaching out to us with your query, our team will review it and get back to you at the earliest.

[2021-04-12 17:47] mumian commented on #73390
@Snozzberries - thank you for the comment.  I will update the article today.

#please-close

[2021-04-12 17:47] #73390 closed

[2021-04-12 17:56] JamesTran-MSFT commented on #73516
@priyankareddy20
Thank you for pointing this out! I was able to see the same behavior within my environment.

![image](https://user-images.githubusercontent.com/36619112/114438771-0a3e3b80-9b7d-11eb-92c3-130965206996.png)

Based off our [Security Defaults - Conditional Access](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/concept-fundamentals-security-defaults#conditional-ac

[2021-04-12 18:04] priyankareddy20 commented on #73516
Hello Team,

Thanks for getting back to me.

I would like to understand the line "Identity protection policies should
overrride the security defaults" is this applicable for MFA registration
policy alone. Is my understanding correct? As we have RISK policies and MFA
REGISTRATION policies in Identity Protection and the security defaults can
conflict only with MFA registration policy.Risk policies s

[2021-04-12 18:07] Karishma-Tiwari-MSFT commented on #73615
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-12 18:10] JamesTran-MSFT commented on #73516
@priyankareddy20
Thank you for the quick update!

I've reached out to our engineering team regarding this and will update as soon as possible.

[2021-04-12 18:11] priyankareddy20 commented on #73516
Great, thanks for the update!

I will wait to hear from you.

Regards
Priyanka

On Mon, Apr 12, 2021, 8:10 PM James Tran-MSFT ***@***.***>
wrote:

[2021-04-12 18:19] #73462 closed

[2021-04-12 18:22] tqa236 opened #73624 "Grammar error"
To to configure => To configure

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 955b2d92-2d6a-787e-6612-d226e09b9a9a
* Version Independent ID: 734d767b-f22d-2ba6-aabf-98b07bf5abfc
* Content: [Set up Python development environment - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-co

[2021-04-12 18:38] marktab commented on #73505
Edits at https://github.com/MicrosoftDocs/azure-docs-pr/pull/154151

[2021-04-12 18:44] cveld commented on #66270
Can you provide a script that takes an available ip from the pool dynamically?

[2021-04-12 18:54] marktab commented on #73505
My edits will be merged with public repo upon next update

[2021-04-12 19:02] SadiqhAhmed-MSFT commented on #73143
@AjKundnani As this issue has been taken offline, we will close this for now. You may update this thread once the email conversation is closed.

[2021-04-12 19:02] #73143 closed

[2021-04-12 19:04] David-Engel commented on #73313
@sheeeng @Oury-MSFT
Go has definitely changed. I believe the `go install` command is no longer necessary. Can you try continuing on with the sample, skipping the `go install github.com/denisenkom/go-mssqldb` command and confirm that it still works for you?

[2021-04-12 19:14] lmf-mx opened #73627 "Add regex engine/rules information"
Regex engine and limitations are not specified on the page or linked to. It would be helpful to know what engine is used and any exceptions to the normal rules for that engine. Without this information, one has to devise tests to determine what is supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a77e752-0785-

[2021-04-12 19:20] JamesTran-MSFT commented on #73627
@lmf-mx
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-04-12 19:20] sethmanheim commented on #73583
@codebeaulieu Thank you for the feedback! Isn't it Microsoft.Azure.NotificationHubs?

[2021-04-12 19:28] XanthViper commented on #13106
Yes, I believe it did. My apologies for the late reply on this.

On Wed, Apr 7, 2021 at 1:16 PM Duong Au ***@***.***> wrote:

[2021-04-12 19:44] Oury-MSFT commented on #73313
@David-Engel I have tried the code without the go install but I got this error message highlighted in yellow.
![image](https://user-images.githubusercontent.com/78940872/114451947-b9364380-9b8c-11eb-84dc-e999bb4ea229.png)

[2021-04-12 19:49] codebeaulieu commented on #73583
Not sure, I wound up going another direction (followed a different doc that used other packages).

But, for more context, when I was following the tutorial I didn't know which package to download for `Azure.Messaging.NotificationHubs` so I simply searched Nuget for that namespace and the top result was `WindowsAzure.Messaging.Managed` from back in the olden days of 2014.

[2021-04-12 19:52] YutongTie-MSFT commented on #73624
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-12 19:56] WinsorAK opened #73628 "Documentation doesn't appear accurate"
I'm not able to find any of the "Alert Blades" this is referring to. When on the Portal for the Global Administrator, it loads the tiles for me to interact with but none of them offer an alert function that allows me to customize notifications. I can't tell if this documentation has not been updated since 2017 or if I actually can't follow the document correctly.

---
#### Document Details

⚠ *Do

[2021-04-12 20:05] SaiKishor-MSFT commented on #72926
https://github.com/microsoft/Common-Design-Principles-for-a-Hub-and-Spoke-VNET-Archiecture/blob/master/README.md

[2021-04-12 20:05] SaiKishor-MSFT commented on #72926
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-12 20:05] #72926 closed

[2021-04-12 20:24] JamesTran-MSFT commented on #73628
@WinsorAK
Thank you for pointing this out!

It does look like our docs are outdated, I'll make a PR so our doc author can review/sign-off. In the meantime, can you try these steps:

1. Azure Portal
2. In the search bar at the top search - Azure AD Connect Health
3. Select Sync errors
4. Select Notification settings

![image](https://user-images.githubusercontent.com/36619112/114456793-21d3ef00-9b9

[2021-04-12 20:25] #73624 closed

[2021-04-12 20:29] YutongTie-MSFT commented on #73624
The issue has been fixed and you should see the change soon. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-04-12 20:35] tomten opened #73629 "*.html sometimes expressed in a way that includes backslash in final readable text"
Toward the end of the article, \`\\\*.html\` and \\*.html are used inconsistently, and the former includes the backslash in the final readable text, which likely isn't the intention.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84aabaf3-e7da-3519-995c-72d36c537843
* Version Independent ID: b35afa8d-a02c-a77a-6831-2b3

[2021-04-12 20:38] wt-bryan opened #73630 "Broken link - red cloud teaming"
Link to red cloud teaming appears to be broken. It opens a new tab with generic TechNet samples

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9f16087-481c-e59b-07c5-75bb30a93721
* Version Independent ID: ea972112-d236-6579-67b3-775dbb3bb9b3
* Content: [Azure security baseline for Azure Web Application Firewall](https

[2021-04-12 20:42] hora7ce commented on #57611
@spelluru you can try autoscale on an app service plan using as a reference the Service Bus Queue as Metric source; once selected the queue, only 2 options are presented:

- Messages processed
- Active messages processed

Hence I guess the issue raise by @epomatti, as it is not clear what it means for autoscale process.  Processed as verb would mean that those messages were handled, hence no need

[2021-04-12 20:48] JamesTran-MSFT commented on #73629
@tomten
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-04-12 20:50] paulfinol opened #73631 "There is no option to remove credentials in Azure migrate appliance"
How to remove credentials in the appliance

server type is grayed out

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e280f0d6-a71b-6b97-5d3d-ef6974607581
* Version Independent ID: 65621352-e710-b77b-0ca4-ec169566d7e6
* Content: [Set up an Azure Migrate appliance for physical servers - Azure Migrate](https://docs.micros

[2021-04-12 20:53] spelluru commented on #57611
Add @axisc (PM for Service Bus) to the thread.

@axisc - Could you please review the above comment and add your input? Thanks!!

[2021-04-12 20:58] cshalda opened #73633 "Missing category for "FPGA""
Someone should add category for "FPGA" with a link to the sub-page and list the NP-series VM size.

Link for reference - https://docs.microsoft.com/en-us/azure/virtual-machines/sizes-field-programmable-gate-arrays

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf1062f1-616d-acc2-abeb-b04e4cad28ad
* Version Independent

[2021-04-12 21:02] lbarnette opened #73634 "Can no longer close a work or school account in an unmanaged Azure AD organization"
Last year this worked fine. However, something has changed. I can no longer see "My data requests" within the Azure portal, and am unable to close a work or school account in an unmanaged Azure AD organization per the documentation at

https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/users-close-account

Hopefully, I am missing something. Otherwise, it's a huge oversight fo

[2021-04-12 21:04] RickFoster opened #73635 "The parameters and object is incorrect"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ee59fc3-8f8f-cecc-47c3-3e1c12248942
* Version Independent ID: 45f956e0-d4ea-42cd-6e1c-0fd8dab34834
* Content: [Assign and list roles with administrative unit scope - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/role

[2021-04-12 21:05] RickFoster commented on #73635
There is a host of things wrong with the Add-AzureADMSScopedRoleMemberShip above, if the script below has the corrections.

$adminUser = Get-AzureADUser -ObjectId "UPN of user to get access"
$role = Get-AzureADDirectoryRole | Where-Object -Property DisplayName -EQ -Value "User Administrator"  # note it is not User Account Adminitrator
$adminUnitObj = Get-AzureADMSAdministrativeUnit -Filter "displa

[2021-04-12 21:21] sijucm commented on #14133
This is not added to the Javascript/NodeJS side and this caused me to waste 3 days of work and frustration. It was not even clearly mentioned which protocol is used when. #Microsoftiness

[2021-04-12 21:22] JamesTran-MSFT commented on #73635
@RickFoster
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-12 21:48] Karishma-Tiwari-MSFT commented on #73617
Are you suggesting using HDD instead of SSD in braces in the column name? Can you please clarify on the requested change in the doc. Thanks.

[2021-04-12 21:51] joelpelley commented on #73617
When on the original hardware, the D-series was on HDDs.  That hardware has been retired, but we maintain the disk volume as it was then, now on SSDs.

[2021-04-12 21:55] cherylmc commented on #73289
#reassign:wellee

[2021-04-12 21:55] PRMerger19 commented on #73289
wellee is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-04-12 21:58] cherylmc commented on #73289
#reassign:wtnlee

[2021-04-12 22:02] mumian commented on #73381
@atvoid - it is a known issue. The fix will roll out this week. BTW, you can specify the identity property as shown in the sample in https://docs.microsoft.com/azure/azure-resource-manager/templates/deployment-script-template#work-with-outputs-from-cli-script. When you do that, Connect-AzAccount -identity is called by the DS service.

#please-close

[2021-04-12 22:03] #73381 closed

[2021-04-12 22:09] JamesTran-MSFT commented on #73634
@lbarnette
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-12 22:31] bandersmsft commented on #67787
For public visibility: Permissions should copy over during reservation renewal. However, if a reservation is renewed into a new EA agreement, it might cause problems. For more information, see https://docs.microsoft.com/azure/cost-management-billing/reservations/reservation-renew#potential-renewal-problems.

#please-close

[2021-04-12 22:31] #67787 closed

[2021-04-12 22:40] acearun commented on #73608
@OsvaldoRosado, can you look into this please?

[2021-04-12 22:50] rwike77 commented on #72721
The update has merged.  I'm closing this issue for now, feel free to re-open if necessary.  Thanks.  #please-close

[2021-04-12 22:50] #72721 closed

[2021-04-12 22:56] msjuergent commented on #73053
We replaced the complete backup documentation that got developed by my team with the official backup documentation of Azure Backup Service. This solves this issue. So, we can close this issue

[2021-04-12 22:58] David-Engel commented on #73313
@Oury-MSFT Your screenshot shows you are not running the right commands from the article. From the SqlServerSample folder (after the `cd SqlServerSample` command), you should only have to run:

[code]

Note: It won't produce any output.
After that, you create your sample.go file and then simply run:

[code]

[2021-04-12 23:02] BryanTrach-MSFT commented on #73610
@trailmax Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-12 23:07] TravisCragg-MSFT commented on #73633
@cshalda Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-12 23:28] Karishma-Tiwari-MSFT commented on #73617
Thanks @joelpelley for the clarification.

@pavelrozenberg
Hope that helps. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-04-12 23:28] #73617 closed

[2021-04-12 23:28] kobulloc-MSFT commented on #73421
@tohewi Thank you for catching this!  You are correct, apiVersion uses dashes and ["2018-10-15-preview" would be correct](https://docs.microsoft.com/en-us/azure/devtest-labs/configure-shared-image-gallery#attach-a-shared-image-gallery-to-your-lab).  I'm creating a PR to correct this.

[2021-04-12 23:31] gzuber commented on #73417
Hi @shashishailaj -- I'm no longer with the Service Fabric team. They should be able to direct you to someone that could take care of this. If you need any help finding someone, let me know! 😃

[2021-04-12 23:49] WinsorAK commented on #73628
These instructions worked perfectly. Thanks a lot! I've never used GitHub, let me know if I should "Close with comment" while you create your PR.

[2021-04-12 23:52] femsulu commented on #73631
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-04-12 23:56] jakereifer opened #73641 "Clarifying Built-in Endpoint and Fallback Route enabling"
The following excerpt states

Terraform, however does not enable fallback route by default for IoT hub. It may be better to clarify in that section that **even if no routes are created, fallback route must be enabled in order to route messages to the built-in endpoint**. This doc seems to be under the assumption that it is always enabled by default (which is only the case through iot hub creation

[2021-04-12 23:56] kgremban commented on #51230
Closing this issue for lack of activity after Steve's post about the improvements that were made to the Microsoft and Azure container registries last year.

#please-close

[2021-04-12 23:56] #51230 closed

[2021-04-13 00:11] kgremban commented on #51800
Closing this issue since the related bug that Magdalena opened in the SDK has been resolved

#please-close

[2021-04-13 00:11] #51800 closed

[2021-04-13 00:24] kgremban commented on #55173
Closing this issue for lack of activity after docs were updated.

#please-close

[2021-04-13 00:24] #55173 closed

[2021-04-13 00:29] kgremban commented on #55166
Closing for lack of activity after doc updates.

#please-close

[2021-04-13 00:29] #55166 closed

[2021-04-13 00:32] tymtam2 opened #73642 "IoT Hub Query Language: Example query and its description don't match"
I believe that the description doesn't match the query in the following paragraph:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c58bc573-ec3e-ed94-900d-1163a5700750
* Version Independent ID: d83c0073-4a03-f46b-1855-4101b040d92c
* Content: [Understand the Azure IoT Hub query language](https://docs.microsoft.com/en-us/

[2021-04-13 00:37] kgremban commented on #55156
Closing for lack of activity after doc updates

#please-close

[2021-04-13 00:37] #55156 closed

[2021-04-13 00:38] kgremban commented on #55109
Closing issue for lack of activity after doc updates

#please-close

[2021-04-13 00:38] #55109 closed

[2021-04-13 00:45] Karishma-Tiwari-MSFT commented on #72972
Currently the feature is in preview and has following limitations:

-Currently you can't use a managed identity in a container group deployed to a virtual network.
-**You can't use a managed identity to pull an image from Azure Container Registry when creating a container group. The identity is only available within a running container.**

[2021-04-13 01:02] jakenuts opened #73645 "Negative Matches"
The page describes how to match a route with a wildcard, but presumably one might want to direct a single route (say /blog) to a one backend and the rest to another. Lacking some "negative match" it appears that the only way to accomplish this is to list out all the possible routes that aren't /blog in one rule and /blog in another.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2021-04-13 01:02] NavtejSaini-MSFT commented on #73569
@gkathire Thank you for the feedback. We have added few examples and raised request for the same. Once approved the changes will be available in 24 hours.

[2021-04-13 01:13] Karishma-Tiwari-MSFT commented on #73464
Apologies on the delay. I have assigned it to the right team who will be helping you with your query. Thanks.

[2021-04-13 01:16] BharathNimmala-MSFT commented on #73620
@sammydeprez Thanks a lot for bringing this to our notice, assigned this issue to our document author @tfitzmac to further review the feedback and update the document as needed.

[2021-04-13 01:19] duanqn opened #73646 "Cognitive Services - READ API doc not up-to-date"
The first sentence "This guide shows how to upgrade your existing container or cloud API code from Read v2.x to Read v3.0 and v3.1 preview." should be changed to "This guide shows how to upgrade your existing container or cloud API code from Read v2.x to Read v3.x."

Also, the "Determine your API path" section lacks information about READ 3.2 GA APIs.

---
#### Document Details

⚠ *Do not edit thi

[2021-04-13 01:24] Karishma-Tiwari-MSFT commented on #73479
@bonJoeV Can you please share the exact place in the doc where you are seeing this 404 link? Sorry, I couldn't find one in this doc.
Let me know.

[2021-04-13 01:29] Karishma-Tiwari-MSFT commented on #73565
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-13 01:30] BharathNimmala-MSFT commented on #73614
@jwoll Thank you for reaching out to us. Please note that [this ](https://github.com/MicrosoftDocs/azure-docs/issues) channel (the Azure Docs repository) is only for driving improvements related to the Azure documentation. It would be great if you can share the documentation link you are referring, so that we can assist you accordingly.

[2021-04-13 01:36] SatishBoddu-MSFT commented on #73641
Hello @jakereifer
I have assigned the issue to the content author for further review.

[2021-04-13 01:36] ash2017 commented on #73641
@nehsin

[2021-04-13 01:39] SatishBoddu-MSFT commented on #73642
Hello @tymtam2 Thanks for the Feedback!

Our Content Author\SME will review your feedback soon!

[2021-04-13 01:46] NavtejSaini-MSFT commented on #73537
@jrbirdmanFA As mentioned by @TheovanKraay and other documents, we will keep this as "Ted". Please get back to us for any questions.

[2021-04-13 01:52] #73646 closed

[2021-04-13 01:56] eugen-nw commented on #72972
Then there also seems to be the problem that a Managed Identity cannot push stuff to ACI because the M.I. cannot be assigned Contributor rights to ACI.

[2021-04-13 01:58] YutongTie-MSFT commented on #73646
Thanks for the feedback, I have created a PR for it and you should see the change soon.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-04-13 02:07] Karishma-Tiwari-MSFT commented on #73359
Apologies for the delay on this. This is a known issue and has been fixed with this PR: https://github.com/Azure/azure-cli/pull/17486

This fix will be released for GA on April 13th. Any timeline updates would happen on the [milestone for S185.](https://github.com/Azure/azure-cli/milestone/103)

Please try this again tomorrow and let me know if you still see this issue.
Thanks for bringing this to

[2021-04-13 02:07] #73359 closed

[2021-04-13 02:16] robgale-FJ opened #73648 "YAML sample for Azure Static Web Apps pipeline is not valid"
The YAML sample on the page doesn't verify as is.  I had to leave an empty line before the env: entry.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63230b97-2269-3fed-7fca-882bb380c5f6
* Version Independent ID: feb2708e-5cea-4ad8-eaaa-f3061e18c11a
* Content: [Tutorial: Publish Azure Static Web Apps with Azure DevOps]

[2021-04-13 02:17] #73569 closed

[2021-04-13 02:22] Karishma-Tiwari-MSFT commented on #73310
The error reported by you was a known with Helm with Jetstack Cert-Manager, where the new version of Helm is having issues in installation of the charts when the chart was previously installed.

The error could occur when the previous version was not removed properly:

https://github.com/jetstack/cert-manager/issues/3015
https://github.com/helm/helm/issues/7418

As per some of the discussions, the

[2021-04-13 02:39] rockboyfor opened #73650 "Help to confirm whether the `p2svpngateways` can be moved to different resource-group/subscription."
Hi Colleague,

We have found that the `p2svpngateways` resource type can be moved to different subscription on Azure China 21Vianet, and it can be dialed successfully.

Could you please help to confirm whether `p2svpngateways`  can be moved to different Resource group/subscription ?

**Global document link**:
https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/move-support-res

[2021-04-13 02:49] Karishma-Tiwari-MSFT commented on #73281
@yuriwoof Apologies for the delay. It is not recommended to install VMSS extensions on AKS, as mentioned in the FAQ.

We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-04-13 02:49] #73281 closed

[2021-04-13 02:50] Karishma-Tiwari-MSFT commented on #72462
Apologies for the delay on this. I couldn't find the resolution to this and thus would need to connect to the product team.

Please let me know if you are still seeing this issue. Thanks.

[2021-04-13 03:02] Karishma-Tiwari-MSFT commented on #73278
Here is some more information about the Dependency agent:

The Dependency agent collects discovered data about processes running on the machine and external process dependencies. It relies on the Log Analytics agent to deliver its data to Azure Monitor. Deployment methods for the Dependency agent on Azure resources use the VM extension for Windows and Linux.

Use the Dependency agent if you need t

[2021-04-13 03:02] #73278 closed

[2021-04-13 03:03] hdsz25 opened #73651 "In the new version of Python azure.storage.blob package no BlockBlobService exists"
Hi Microsoft,

in the new version of Python azure.storage.blob package no BlockBlobService exists!!!

from azure.storage.blob import BlockBlobService

returns en error:
ImportError: cannot import name 'BlockBlobService' from 'azure.storage.blob' (C:\ProgramDat.....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f45a6b

[2021-04-13 03:17] TerryLanfear commented on #72454
@knssub - please see diagram in here: https://docs.microsoft.com/en-us/azure/security/fundamentals/end-to-end.

[2021-04-13 03:26] yiliuTo commented on #73440
Thanks @SnehaAgrawal-MSFT for the feedback, I want to know what are the default envs provided by App Service in containers, like WEBSITE_SITE_NAME. I will try the method you suggested that check by Kudo console.

[2021-04-13 03:44] knssub commented on #72454
Thanks a ton for considering this feedback and really love the diagrams. Fantastic work :-).It definitely makes it easier for one to understand the exact mapping across security domains.
If not asking for more, if possible, could you please provide the visio there, so that partners like us could edit to build our own mapping of Microsoft solutions as well.

[2021-04-13 03:52] BharathNimmala-MSFT commented on #73630
@wt-bryan Thanks a lot for bringing this to our notice, our team will review it and fix the link in the document accordingly.

[2021-04-13 03:52] renymjohn opened #73652 "Double byte character support for Japanese"
Double byte characters are common in Japanese language (as well as in some others). A hint on whether this is supported will be helpfule. Currently its not readily understandable.

Q: If user enters a Japanese phrase with double byte characters - will LUIS process the phrase?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-04-13 04:26] Bikash2860 opened #73653 "The JWT token is different to the one show in the file to that downloaded, the domain could not be verified and the test is not complete because of this feature not working as said in the doc."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c3fee62-d380-c103-c965-c07aa1366f7b
* Version Independent ID: 7f7eb40e-cc87-4f1b-457b-1b5fc23c5849
* Content: [Link your Domain to your Decentralized Identifier (DID) (preview) - Azure Active Directory Verifiable Credentials](https://docs.microsoft.c

[2021-04-13 04:39] Diyakachhadiya opened #73654 "Malformed line 1 in source list /etc/apt/sources.list (type)"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-04-13 04:40] marktab commented on #73651
@hdsz25 in review

[2021-04-13 04:50] damochiz opened #73655 "The dev-test cannot be selected when attaching an existing AKS cluster"
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-attach-kubernetes?tabs=python

The dev-test cannot be selected when attaching an existing AKS cluster. Please correct it because the customer may misunderstand.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9132512-d322-6455-b

[2021-04-13 05:33] BharathNimmala-MSFT commented on #73648
@robgale-FJ Thank you for bringing this to our attention, our team will review it and get back to you at the earliest.

[2021-04-13 05:37] lowndesc opened #73656 "Advanced device model upload broken"
The final step on this page is broken in the current React app for interacting with the Device Simulation accelerator

The blue 'Browse' button for selecting files to upload hangs the application, and the dev consoles in Chrome and Edge both show a 'React Invariant violation' error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2021-04-13 05:45] BharathNimmala-MSFT commented on #73645
@jakenuts Thank you for reaching out to us with your query, our team will review it and get back to you at the earliest.

[2021-04-13 05:47] BharathNimmala-MSFT commented on #73652
@renymjohn Thank you for your query, our team will review it and get back to you at the earliest.

[2021-04-13 05:49] BharathNimmala-MSFT commented on #73653
@Bikash2860   Thank you for your query, our team will review it and get back to you at the earliest.

[2021-04-13 05:50] BharathNimmala-MSFT commented on #73650
@rockboyfor  Thank you for your query, our team will review it and get back to you at the earliest.

[2021-04-13 05:52] BharathNimmala-MSFT commented on #73654
@Diyakachhadiya  Thank you for reaching out to us. Please note that [this ](https://github.com/MicrosoftDocs/azure-docs/issues) channel (the Azure Docs repository) is only for driving improvements related to the Azure documentation. It would be great if you can share the documentation link you are referring, so that we can assist you accordingly.

[2021-04-13 05:54] BharathNimmala-MSFT commented on #73655
@damochiz Thanks a lot for bringing this to our notice, our team will review it and get back to you at the earliest.

[2021-04-13 05:55] BharathNimmala-MSFT commented on #73656
@lowndesc Thanks a lot for bringing this to our notice, our team will review it and fix the document accordingly.

[2021-04-13 06:02] damochiz commented on #73655
I'm sorry, I was able to select Dev-Test after using the SDK. Dev-test doesn't seem to be available from the Azure Machine Learning Studio UI, so check it out as a feature improvement request.

[2021-04-13 06:03] BharathNimmala-MSFT commented on #73534
@pragathidhanapal  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion. Thank you.

[2021-04-13 06:03] #73534 closed

[2021-04-13 06:37] simeyla opened #73658 "Azure Kusto query does find Application Insight log entries when RequestTelemetry.success == false (unless status code is set)"
The sample code on the referenced page has a couple places where you set

     requestTelemetry.Success = false;

The created telemetry request unfortunately does not show up in Azure Application Insights **unless** a Status code was also set.

[code]

A default status code is not explicitly set by `RequestTelemetry` [(source)](https://github.com/microsoft/ApplicationInsights-dotnet/blob/3822ab1c5

[2021-04-13 06:39] jesweare opened #73659 "Description of allowed operations on device templates (and contents) are not consistent"
The **Versioning rules** section of the document in question describes limitations regarding allowed operations against device templates and the contents within:

However, description within the sections that follow seem to describe otherwise, and the reader cannot be sure of the limitations.

The specific example is the limitation described in **Versioning rules** section:

While the excerpt abov

[2021-04-13 07:27] nathanlindorff opened #73660 "Publishing Test Results in pipeline"
What is the process for publishing the test results to the "Tests and Coverage" section in the pipeline?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16170ca3-bfd4-7eb2-a80c-46ec404cee80
* Version Independent ID: 56e5c295-d155-462e-c7e2-303f7c8d8876
* Content: [Use Azure DevOps to create a CI/CD pipeline for a Stream

[2021-04-13 07:30] andreasmarx opened #73661 "Prerequistites wrong"
According to this https://docs.microsoft.com/en-us/azure/active-directory/cloud-sync/how-to-prerequisites Windows 2016 is required. Please update this site to reflect that.
Thanks
Andreas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4799808f-5315-db72-9f0e-d83ed12141f8
* Version Independent ID: d612c880-bb2e-158d-0b3

[2021-04-13 07:54] pavelrozenberg opened #73663 "Do you have a typo?"
Hello,

In the following section "https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-azuread-join-manual#configure-a-service-connection-point" looks like you have a typo:

The Initialize-ADSyncDomainJoinedComputerSync cmdlet:
"Uses the Active Directory PowerShell module and **_Azure Active Directory Domain Services (Azure AD DS) tools_**. These tools rely on Active Directory We

[2021-04-13 08:02] pavelrozenberg commented on #73617
Thank you all for the clarification :)

[2021-04-13 08:03] TePeBoxer opened #73665 "Managed Identities not listed"
Azure Data Share is not on this list but as far as I know it should support Managed Identities as well https://docs.microsoft.com/en-us/azure/data-share/security

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726adac9-1848-01a6-9586-842c81f820f7
* Version Independent ID: 249db438-8c95-8e69-f69e-8e48fcd0b359
* Content:

[2021-04-13 08:32] SwathiDhanwada-MSFT commented on #73658
@simeyla Thanks for your comment. We will review the issue and get back to you shortly.

[2021-04-13 08:34] Risto-Matti-Dev commented on #73359
Hi. Thanks for the notification I’ll try to re-run the commands later today and report the results, if any issues occur.

-RMR

From: Karishma Tiwari - MSFT ***@***.***>
Sent: Tuesday, 13 April 2021 5.08
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Risto-Matti Ratilainen ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] az container create with VNet settings fails into er

[2021-04-13 08:34] SwathiDhanwada-MSFT commented on #73659
@jesweare Thanks for your feedback. We will review the issue and get back to you shortly.

[2021-04-13 08:35] SwathiDhanwada-MSFT commented on #73660
@nathanlindorff Thanks for your comment. We will review the issue and get back to you shortly.

[2021-04-13 08:36] SwathiDhanwada-MSFT commented on #73661
@andreasmarx Thanks for your feedback. We will review the issue and get back to you shortly.

[2021-04-13 08:38] SwathiDhanwada-MSFT commented on #73663
@pavelrozenberg Thanks for your feedback. We will review the issue and get back to you shortly.

[2021-04-13 08:39] SwathiDhanwada-MSFT commented on #73665
@TePeBoxer Thanks for your feedback. We will review the issue and get back to you shortly.

[2021-04-13 08:56] lothbrok2020 commented on #73223
Hi @amanmcse Thanks for your reply. My understanding is that you can search the api from another tenant as long as admin consent is given

e.g

https://login.microsoft.com/<ExternalClientTenantID/adminconsent?client_id=<APIClientID>

This would make the api searchable in the other tenant. Again if this is possible, is it an advised approach for external consumers who have an AAD? Does it provide a

[2021-04-13 09:10] pattisd01 opened #73666 "CORS policy isn't saved correctly when terminate-unmatched-request is set to false"
When I apply the CORS policy below and then save and then edit the same policy, I no longer see the terminate-unmatched-request element in the policy

[code]

Having saved the above and re-edited the policy I now see the following in the editor ...

[code]

If I save the policy with terminate-unmatched-request="true" present, it saves and I can see element this when re-editing the policy.

In all

[2021-04-13 09:15] pattisd01 commented on #73666
Apologies for the formatting above.

I hope this makes the policies clearer.

This is the policy I want to apply ...
[code]

This is the policy once saved ...
[code]

[2021-04-13 09:27] stefanwiele opened #73667 "Text mentions the demo tenant when we are using our own tenant"
We have now issued a verifiable credential using our tenant to generate our vc while still using our B2C tenant for authentication. -> I guess this is a copy/paste error as we are now using our OWN tenant and not the demo B2C tenant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ace782b7-663f-c6b1-9fef-38b1a4bc13f3
*

[2021-04-13 09:28] thommck opened #73668 "Zone redundancy"
I noticed that when using the Azure Pricing calculator it says that Reserved Instances for SQL can't be used if you select the Redundancy option to Multi-availability zone.
If this is correct then you should add this information to the limitations section as I can't find any thing elsewhere to confirm it

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-04-13 09:50] asergaz commented on #62635
@rubanchandar03 this doc was changed several times after this issue was created. Can you open a new issue under this doc (if you are following all the steps as is) so we troubleshoot it? Please reference this issue as well.

If you are not following this doc step by step please leverage [Microsoft Q&A - azure-digital-twins](https://docs.microsoft.com/en-us/answers/topics/azure-digital-twins.html)

[2021-04-13 09:51] nitmatgeo commented on #73268
@PramodValavala-MSFT I am still confused; the Event Grid Subscription uses an Event Grid schema; and my Azure Function uses HTTP trigger. When I try creating a webhook endpoint to Az Function, I get error like
`Deployment has failed with the following error: {"code":"Url validation","message":"Webhook validation handshake failed for https://<functionApp>.azurewebsites.net/`

Not sure, if anything

[2021-04-13 09:58] asergaz commented on #24635
@veyalla can you confirm if we have fixed this issue or shall we request more details from @talalgit environment? Let me know if I should reopen this thread or we can create a new issue here: https://github.com/Azure/iotedge/issues

Thanks!

[2021-04-13 09:59] pmillart commented on #73356
Hello @TFR258
Just to let you know that it works now.
I don't know if i have to close this issue, but thank you for all :)

Patrick

[2021-04-13 10:13] ChristianBeier opened #73669 "Please highlight stopped support"
Whilst on the German documentation the information for deprecated support of Windows container is highlighted in a box, the English version is not highlighting this important information.
<img width="592" alt="Screenshot 2021-04-13 121211" src="https://user-images.githubusercontent.com/20863200/114536581-83a75e00-9c51-11eb-8d91-5c36e1d46d18.png">
vs
https://docs.microsoft.com/en-us/azure/iot-edge/

[2021-04-13 10:43] ashish2rathi opened #73670 "How to register ApplicationInsightsMiddleware in dot net core"
Incomplete information regarding the ApplicationInsightsMiddleware, here no where specified about how to register in startup.cs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62521082-c9fb-646f-6db0-2cdabe486dab
* Version Independent ID: ebf938ec-1d97-1cfd-ad28-5e616990d658
* Content: [Track custom operations with Azur

[2021-04-13 11:05] helltone commented on #48376
Good that I found this issue and solution from @Chai-NED, because official docs https://docs.microsoft.com/en-us/azure/aks/use-managed-identity doesn't have this step

[2021-04-13 11:21] mwucbs commented on #68891
I could conclude that you need to be on the same network as the domain controller / have a windows pc, in order to request a kerberos ticket from the KDC / domain controller.

But then Azure ad auth is excess.

[2021-04-13 11:34] drmanhatin opened #73671 "This part of documentation is wrong/incomplete"
![image](https://user-images.githubusercontent.com/25794862/114545912-d3d7ed80-9c5c-11eb-93dc-5b333a68b081.png)

A built model can be exported to a few other formats than the one listed here. TensorflowJS also works on mobile devices as it runs in the browser.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 916de6f5-ef4

[2021-04-13 11:52] pauldj54 commented on #73058
Hi @xiopeter3345 ,
I tried both, the code snippet for pyspark in the documentation and your proposed code but both failed:
**From the docs:**
[code]
**After your comment:**
[code]
Both returns:
[code]
I know the linked service is working and the manage identity properly configured, because I can access the same data from a data flow.

Have you collected additional experience on this topics since y

[2021-04-13 12:06] Andytrop opened #73672 "Azure Container Tutorial"
[Enter feedback here]
The tutorial is good, but following the command ...
"az container logs --resource-group myResourceGroup --name aci-tutorial-app"
how come I am getting the error "standard_init_linux.go:178: exec user process caused "exec format error"?

Also, the website is failing to open.

Regards,
Andrew

---
#### Document details

⚠ *Do not edit this section. It is required for docs.micro

[2021-04-13 12:06] Alexander-Bartosh opened #73673 "timeTaken in Standard and WAF SKU (v1) VS Application Gateway and WAF v2 SKU"
[Enter feedback here]
Standard and WAF SKU (v1)
Length of time (in **milliseconds**)  that it takes

 Application Gateway and WAF v2 SKU
Length of time (in **seconds**) that it takes

it is documentation problem or is it indeed different ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5f080ad-843f-d7be-eba6-2837993d0

[2021-04-13 12:07] akumar912 opened #73674 "Moved a Logic app to another subscription"
Hi

I have a logic app associated to one subscription and RG. I moved it to another Subscription and RG.
Now, i could not find it. Neither in old and nor in new. Even though Activity Logs says Move was a success. Any idea why is it so.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5dd89e81-571e-d4d2-19da-1a5ed5145852

[2021-04-13 12:09] pauldj54 commented on #73058
Just new feedback, I had to restart the spark session and now is working in both, scala and pyspark using the configuration suggested by @xiopeter3345

[2021-04-13 12:17] alsmyr opened #73675 "Unable to set up Forced password reset user flow following the guide in the article linked"
Hi,

I am trying to follow the force password reset user flow guide but I keep getting the message "The password has expired" instead of prompting me to fill out a new one.

![image](https://user-images.githubusercontent.com/3719489/114550188-367fb800-9c62-11eb-98aa-dd179704add0.png)

I have the **Forced password reset (Preview)** flag set on the user flow and I reset the password in B2C using the

[2021-04-13 12:34] alexbuckgit opened #73676 "template-visualize-button.png image is missing"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 714c8b22-d7ab-11e5-8d84-27ef2262c270
* Version Independent ID: 7b5c986f-7725-179c-c77f-26e255c482a7
* Content: [Quickstart: Create an Azure Synapse workspace Azure Resource Manager template - Azure Synapse Analytics](https://docs.microsoft.com/en-us/a

[2021-04-13 12:38] SwathiDhanwada-MSFT commented on #73666
@pattisd01 Thanks for your comment. We are reviewing your issue and will get back to you shortly.

[2021-04-13 12:58] magnus-longva-bouvet opened #73677 "Outbound connectivity to port 25 is not possible"
Under the headline "Unsupported networking scenarios", it should be mentioned that ACI can't connect to external port 25, under any circumstances. I got this confirmed after a support ticket.

There could very well be other, more appropriate sections of the documentation to put this info.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-04-13 13:09] Shuwi75 opened #73678 "Some small bugs in the PowerShell script"
Hi,
there are some small issues with the New-StoragePool command like spaces and name changes. A working sample could be:

New-StoragePool -FriendlyName "DataFiles" -StorageSubsystemFriendlyName "Windows*" -PhysicalDisks $PhysicalDisks | New-VirtualDisk -FriendlyName "DataFiles" -Interleave 65536 -NumberOfColumns $PhysicalDisks.Count -ResiliencySettingName simple  -UseMaximumSize |Initialize-Disk

[2021-04-13 13:11] ravick4u opened #73679 "automatic lock-renewal feature"
Hello,
I would like to know from where can I get the details around "automatic lock-renewal feature"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9b369e0-e366-4f99-2f94-b045437d7ce9
* Version Independent ID: 5a703706-b745-2486-aa2b-3e4bb9051803
* Content: [Azure Service Bus message transfers, locks, and settlement

[2021-04-13 13:27] pacorreia opened #73680 "Innacurate description of timerObject returned in python"
Hi,

The section that describes the timer object returned (python language) is innacurate.

Section [link](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer?tabs=python#usage)

See following image from a local debug session:

![image](https://user-images.githubusercontent.com/54323159/114560041-38e31180-9c64-11eb-94eb-8556096535ef.png)

As you can see only the past_du

[2021-04-13 13:34] atrauzzi opened #73682 "Private containers?"
The docker compose docs don't seem to include any information about how to use private containers.

What's necessary to make that happen?

Please note, [this is not what I'm talking about](https://docs.microsoft.com/en-us/azure/app-service/configure-custom-container?pivots=container-linux).

My question specifically pertains to how to configure a private container for a docker-compose based applic

[2021-04-13 13:42] Ostars-eye opened #73683 "Azure"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa2d4e9f-2cfa-1fde-fb97-159c444d5f88
* Version Independent ID: e194d6bf-df79-4210-7b58-2389a484a37f
* Content: [Overview of Azure platform logs - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/platform-logs-overview)
*

[2021-04-13 13:49] SwathiDhanwada-MSFT commented on #73683
@Ostars-eye Thanks for reaching out. Can you please elaborate on your issue ?

[2021-04-13 13:50] SwathiDhanwada-MSFT commented on #73682
@atrauzzi Thanks for your comment. We will review the issue and get back to you shortly.

[2021-04-13 13:51] SwathiDhanwada-MSFT commented on #73680
@pacorreia Thanks for your comment. We will review the issue and get back to you shortly.

[2021-04-13 13:55] SwathiDhanwada-MSFT commented on #73679
@ravick4u Thanks for your comment. We will review the issue and get back to you shortly

[2021-04-13 13:56] andybouts opened #73684 "Please provide the cloud-init command to install the Az CLI on the target VM"
Please provide the cloud-init command to install the Az CLI on the new / destination VM.  I have been Googling for this answer, but have not seemed to find the answer.  And there does not seem to be a standard package for the installation of the Az CLI, either there are packages and a python script piped to bash or pulling GPG keys with downloading a package.  I need a nice, tidy, cloud-init way t

[2021-04-13 14:00] yelevin commented on #73464
This looks like a product support question and not a documentation question. I suggest searching for or posing this question on the [Azure Sentinel forum on Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-sentinel.html) or on the [Azure Sentinel tag on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-sentinel).

[2021-04-13 14:02] yelevin commented on #73464
#please-close

[2021-04-13 14:02] #73464 closed

[2021-04-13 14:02] wpitallo opened #73686 "create serverless cosmos db using azure cli"
Hi, is there a way to create serverless cosmos db using azure cli?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ed7fa52-5643-67c8-c5fe-f1c5c3e3d3da
* Version Independent ID: e7df2c7d-4e41-3fe7-0a97-7acaa69ed0dc
* Content: [Consumption-based serverless offer in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/

[2021-04-13 14:04] afelthe opened #73687 "Rerun from failed activity in ForEach activity"
Hello,
For each loops are very commonly used in Azure Data Factory migration projects to loop through an entire server and copy tables in parallel to Azure.  Today, if a few tables fail to copy in a ForEach loop, there does not appear to be a way to re-run only those failed items without rerunning the entire loop. This makes use of the ForEach loop impractical for copying large data to Azure even

[2021-04-13 14:06] v-tcassi commented on #71342
Hi @terrymandin , sorry for the very long delay. We have been working on redesigning the entire tutorial experience. We included your feedback in the new version. The new version went live alongside the general audience release of IoT Edge version 1.2.

1. The new flow greatly simplifies the certificate setup, so customers will not need to touch the config.
2. The tutorial now clarifies that the p

[2021-04-13 14:10] SwathiDhanwada-MSFT commented on #73670
@ashish2rathi Thanks for your feedback.

Assigning to content author @lgayhardt for review.

[2021-04-13 14:11] SwathiDhanwada-MSFT commented on #73674
@akumar912 Thanks for your comment. We will review the issue and get back to you shortly.

[2021-04-13 14:11] kalyankrishna1 commented on #72698
#reassign:madansr7

[2021-04-13 14:12] SwathiDhanwada-MSFT commented on #73675
@alsmyr Thanks for your comment. We will review the issue and get back to you shortly.

[2021-04-13 14:14] SwathiDhanwada-MSFT commented on #73671
@drmanhatin Thanks for your comment. We will review the issue and get back to you shortly.

[2021-04-13 14:15] SwathiDhanwada-MSFT commented on #73673
@Alexander-Bartosh Thanks for your comment. We will review the issue and get back to you shortly.

[2021-04-13 14:16] SwathiDhanwada-MSFT commented on #73669
@ChristianBeier Thanks for your comment. We will review the issue and get back to you shortly.

[2021-04-13 14:18] SwathiDhanwada-MSFT commented on #73672
@Andytrop Thanks for your comment. We will review the issue and get back to you shortly.

[2021-04-13 14:19] SwathiDhanwada-MSFT commented on #73668
@thommck Thanks for your feedback. We will review the issue and get back to you shortly.

[2021-04-13 14:21] oliverchristen opened #73688 "MQTT Broker with TPM"
Question:

[Here](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-publish-subscribe?view=iotedge-2020-11#authentication) its described how you connect to the MQTT broker either if you use symmetric keys or certificates. Does it also work if you use a TPM? And if so, how?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-04-13 14:21] rafaelyMSFT opened #73689 "Azure Services Table List - Windows Virtual Desktop"
Azure Service Windows Virtual Desktop has Diagnostic Logs available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a592ccdb-4c92-7da9-aeb3-e93cf8cb3512
* Version Independent ID: 5ac6b940-88e9-fd5b-98fa-f46eb2cc9758
* Content: [What is monitored by Azure Monitor - Azure Monitor](https://docs.microsoft.com/en-us/azure/a

[2021-04-13 14:24] SwathiDhanwada-MSFT commented on #73667
@stefanwiele Thanks for your comment. We will review the issue and get back to you shortly.

[2021-04-13 14:25] SwathiDhanwada-MSFT commented on #73676
@alexbuckgit Thanks for your comment. We will review the issue and get back to you shortly.

[2021-04-13 14:27] SwathiDhanwada-MSFT commented on #73678
@Shuwi75 Thanks for your comment. We will review the issue and get back to you shortly.

[2021-04-13 14:29] YutongTie-MSFT commented on #73356
Thanks for the confirmation. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-04-13 14:29] #73356 closed

[2021-04-13 14:31] SwathiDhanwada-MSFT commented on #73677
@magnus-longva-bouvet Thanks for your feedback. We will review the issue and get back to you shortly.

[2021-04-13 14:39] DeanGross opened #73690 "Tenants with Security Defaults enabled"
Please add some information about what do in a tenant that has Security Defaults enabled.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad5f26dc-2f8f-ef76-3d20-a0a42d2bbada
* Version Independent ID: a0e971d1-05f2-2c21-06d4-60c087d45c0a
* Content: [Block legacy authentication - Azure Active Directory](https://docs.micro

[2021-04-13 14:57] tmathew1000 opened #73691 "Need more Partner Center screen shots in documentations"
Good to see screenshots of Partner Center. More screenshots the better as it relates to Partner Center.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b557f045-c1ae-ff1b-9fdd-bb02b74cfd76
* Version Independent ID: 4997d5d1-fb83-1c7d-c3db-ebc3c80fbc01
* Content: [Create a Dynamics 365 for Operations offer in Microsoft A

[2021-04-13 14:59] BSiefferman opened #73692 ""What If" tool isn't working"
It appears the "What If" tool for Conditional Access doesn't let you select anything outside of "Any Cloud App" right now. Is this by design or is something broken? I know this worked a couple weeks ago so not sure what is going on, but I've tested in my demo tenant and in a prod environment and same issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-04-13 15:11] #72995 closed

[2021-04-13 15:18] D-Moonesinghe commented on #73278
Thanks Karishma!  Appreciate the info.

On Mon, Apr 12, 2021 at 11:02 PM Karishma Tiwari - MSFT <
***@***.***> wrote:

--
Deepal Moonesinghe
(408) 568 1669
***@***.***

[2021-04-13 15:20] tfitzmac commented on #73620
@sammydeprez - thanks for making me aware of this error. It looks like our conversion tool did not properly handle these variations of config. I'll fix the Bicep code.

[2021-04-13 15:25] caroysMSFT opened #73694 "ClientRTT is shown incorrectly in the diagram"
Through working with support and PG, I learned that the correct diagram should resemble:

![image](https://user-images.githubusercontent.com/80799592/114578478-851d5a00-9c42-11eb-99da-d8c8d2079d80.png)

I tested this by using a client-side packet drop tool ("clumsy") and was able to get ClientRTT to exceed AppGW Total Time.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2021-04-13 15:36] toddhammer opened #73695 "Page content is wrong"
Hey,

Step 2a says:  "If the disk is already mounted, unmount it:"

The page is under the section "Expand OS Disk".   You cannot unmount the OS drive. This would be fine if it were a data drive.

In fact, the whole page seems to be about resizing a data drive. Step 5 says "Mount the partition to the desired location, such as /datadrive"

So either change the section to remove the "Expand OS" refer

[2021-04-13 15:39] JamesTran-MSFT commented on #73690
@DeanGross
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-04-13 15:40] JamesTran-MSFT commented on #73692
@BSiefferman
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-13 15:43] JamesTran-MSFT commented on #73692
@BSiefferman
Thank you for pointing this out! I see the same thing within my environment and have reached out to our engineering team so they can take a look into this.

![image](https://user-images.githubusercontent.com/36619112/114581079-45e80c80-9c34-11eb-8a30-10d6e028f99e.png)

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2021-04-13 15:44] jamiee4lynne opened #73696 "Missing link and repeated misspelling throughout"
[Enter feedback here]
Almost every instance of the word "organization" is spelled as "Organisation" with an S. Also, under the first section of the article you're missing a link to Azure Built-In roles under "Role Definitions"- it just says (link). Hope this helps.
<img width="605" alt="Needs link- Screenshot" src="https://user-images.githubusercontent.com/70410593/114581104-0e359080-9c45-11eb-84d

[2021-04-13 15:48] Oury-MSFT commented on #73686
@wpitallo The only supported way to create a new serverless account is by using the [Azure portal.](https://docs.microsoft.com/en-us/azure/cosmos-db/create-cosmosdb-resources-portal).
@ThomasWeiss Can you please confirm if the Azure Portal is the only way of creating Serverless cosmos db.

[2021-04-13 15:54] ascott18 commented on #73195
@BharathNimmala-MSFT Thanks so much for your help on fixing up this issue, and the other ones that I logged. I sincerely appreciate the work that you've done here - it is very refreshing in the face of some of the other less-than-stellar interactions @GrantErickson and I have had with other product teams at Microsoft lately.

[2021-04-13 15:57] ThomasWeiss commented on #73686
This is correct. Programmatic ways to create serverless accounts will be made available when serverless goes GA.

[2021-04-13 16:02] wpitallo commented on #73686
Thanks so much :) is there an estimated eta fpr the GA release?

[2021-04-13 16:13] NavtejSaini-MSFT commented on #73570
@holc-tkomp Please let us know if you need any further help regarding this.

[2021-04-13 16:17] SaiKishor-MSFT commented on #73694
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-04-13 16:19] ThomasWeiss commented on #73686
We are working hard to make that happen in the next couple of months!

[2021-04-13 16:21] NavtejSaini-MSFT commented on #73586
@modi-pawan You can use this [info](https://docs.microsoft.com/en-us/azure/postgresql/concepts-ssl-connection-security#configure-enforcement-of-tls) to update the resources that you create.

[2021-04-13 16:21] SatishBoddu-MSFT commented on #73669
Hi @kgremban Could you please help with this markdown issue in the document.

[2021-04-13 16:33] nitmatgeo commented on #73268
The link here shares examples in using HTTP trigger or Event Hub Trigger. What I look for is Write-Host $eventGridEvent for an EventGrid triggered PS function.

[2021-04-13 16:33] veyalla commented on #24635
From the screenshot, I see `sudo apt-get update` was not run after adding the MS repo info as noted in the doc. If issues persist after that, please open an issue in https://github.com/azure/iotedge/issues

[2021-04-13 16:39] SatishBoddu-MSFT commented on #73567
Hello @SeryioGonzalez Thanks for the feedback, could you please elaborate on your challenge related to .env file? so that we better understand the issue/

Like any additional points to be added to the section? or any improvements?

![image](https://user-images.githubusercontent.com/62923178/114588935-0f15f480-9c3c-11eb-92df-70f56d60d394.png)

[2021-04-13 16:41] SatishBoddu-MSFT commented on #73659
@jesweare Thanks for the detailed feedback! Our SME will review and get back on this feedback!

[2021-04-13 16:41] JamesTran-MSFT commented on #73628
@WinsorAK
Thank you for the quick follow up! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-04-13 16:41] #73628 closed

[2021-04-13 16:44] SatishBoddu-MSFT commented on #73656
Hello @lowndesc
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-04-13 16:48] edfreeman opened #73699 "Outdated information?"
A couple of things that don't seem right on the table on this page:

- As far as I can tell, Synapse **doesn't** support the Power Query activity, so I think the "tick" is incorrect. Reference: the "Applies to" tags at the top of the [Prepare data with data wrangling](https://docs.microsoft.com/en-us/azure/data-factory/wrangling-tutorial) page shows that the activity doesn't apply to Synapse.
- Sy

[2021-04-13 16:51] kobulloc-MSFT commented on #73684
@andybouts Thank you for your feedback.  We are reviewing this and will get back to you shortly.

[2021-04-13 16:52] JamesTran-MSFT commented on #73635
@RickFoster
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-04-13 16:55] Karishma-Tiwari-MSFT commented on #73695
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-13 17:00] OSCRIV commented on #13515
Has anyone already solved this issue when calling exit?

[2021-04-13 17:12] holc-tkomp commented on #73570
I think I'm good, but maybe for other people looking for this it would be worth mentioning "the default values" for properties required in order to acquire token to be used with SqlConnection, or maybe even creating a separate page.

Like, if you need to manage access tokens outside the SqlClient/SqlConnection, you can do something like this:
[code]

[2021-04-13 17:19] spelluru commented on #73679
In the same article:
" automatic lock-renewal feature **where you can specify the time duration for which you want to keep getting the lock renewed.**"

For example, you can specify MaxAutoRenewDuration of MessageHandlerOptions in .NET SDK using: https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.servicebus.messagehandleroptions?view=azure-dotnet,

[2021-04-13 17:19] SamaraSoucy-MSFT commented on #73699
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-04-13 17:23] holc-tkomp commented on #73570
#### Quick story behind why I needed this

Our app is a tool for SQL developers and so, the connection string can almost be considered a user input and client can potentially be connected to multiple databases. We're using Microsoft.Data.SqlClient to retrieve informations from those databases and unfortunately the SqlConnection have issues caching the tokens for connections created from those stri

[2021-04-13 17:23] Karishma-Tiwari-MSFT commented on #73123
I got a response from the Product team that -
SQL Hybrid Benefit is different from Azure Hybrid Benefit, you can install SQL using your own entitlements on BYOS images with no problem. SQL is just another package, another software subscription, not related to RHEL per se nor Azure Hybrid Benefit.

Hope that helps.
We will now close this issue. If there are further questions regarding this matter,

[2021-04-13 17:23] #73123 closed

[2021-04-13 17:26] #73308 closed

[2021-04-13 17:29] MarkAtAgilliance opened #73701 "Azurite with Visual Studio Enterprise."
[Enter feedback here]
Feels like Visual Studio 2019 does not have coverage in this article.

Currently I use Visual Studio Enterprise and when I hit F5 debug on a WebApp that uses storage emulator, it automatically starts the old storage emulator or warns me that it is not started.

Would be good to have a section on how to migrate debug workflow to Azurite.

i.e.

- which is the best (simplest) i

[2021-04-13 17:37] spelluru commented on #73474
Fixing the links

[2021-04-13 17:38] HarshitaSingh-MSFT commented on #73504
Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2021-04-13 17:46] kobulloc-MSFT commented on #73421
@tohewi A PR has been created and merged.  The changes should go live shortly.  Thank you again for helping us improve the documentation!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-04-13 17:46] #73421 closed

[2021-04-13 17:49] kobulloc-MSFT commented on #73548
@RiditaNizam A PR has been created and merged.  The changes should go live shortly.  Thank you again for improving our documentation!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-04-13 17:49] #73548 closed

[2021-04-13 17:52] RyanHill-MSFT commented on #73529
Hi @aressler38, regional vnets are supported in Azure Function Premium plans. Can you elaborate on how you setup it up? What error message(s) did you receive from in the function app? Did you do something similar to https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-vnet tutorial?

[2021-04-13 17:57] aressler38 commented on #73529
@RyanHill-MSFT I used a combination of ARM template deployments and AZ-CLI scripts. My ARM templates setup the vnet, app service plan, and function app. The AZ-CLI commands handled securing the function app's storage account: https://docs.microsoft.com/en-us/azure/azure-functions/configure-networking-how-to

Everything deploys successfully, but the function app says "cannot connect to function hos

[2021-04-13 17:58] RyanHill-MSFT commented on #73529
What region are you deploying to?

[2021-04-13 17:59] aressler38 commented on #73529
I have only tried eastus2.

[2021-04-13 18:06] RyanHill-MSFT commented on #73529
Okay, can you send me an email to AzCommunity[at]microsoft[dot]com _ATTN: Ryan_ so I can work more closely with you. The fact you can deploy to EP2 and scale down, it works leads me to believe there's something amiss during deploy. Please include your subscription id in your email.

[2021-04-13 18:11] BharathNimmala-MSFT commented on #73689
@rafaelyMSFT Thanks a lot for bringing this to our notice, we will review the feedback and update the document accordingly.

[2021-04-13 18:18] bgklein opened #73704 "Invalid Sample in document"
Section https://docs.microsoft.com/en-us/azure/virtual-machines/image-version-another-gallery-cli#create-the-image-definition has invalid arguments    --hyper-v-generation and  --os-state. Confirmed with `az sig image-definition create --help`

error message : `az: error: unrecognized arguments: --hyper-v-generation V2 --os-state Generalized`

---
#### Document Details

⚠ *Do not edit this section

[2021-04-13 18:21] RyanHill-MSFT commented on #73529
Taken offline.

[2021-04-13 18:21] #73529 closed

[2021-04-13 18:38] BharathNimmala-MSFT commented on #73544
@Azeaz86  Since we have not heard back from you we will now proceed to close this thread. Requesting you to share the documentation link so that we direct you accordingly. In case you have further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-04-13 18:38] #73544 closed

[2021-04-13 18:43] crystalgeek opened #73705 "Powershell Sample Broken"
Hi,

The powershell sample for "Create managed virtual network via Azure PowerShell"
Errors on the below lines
# Create managed Virtual Network resource
New-AzResource -ApiVersion "${apiVersion}" -ResourceId "${vnetResourceId}"

New-AzResource : InvalidResourceRequest : Invalid resource request. Resource type: 'ManagedVirtualNetwork', Resource name: 'default' 'Error: Invalid payload'.

---
#### Do

[2021-04-13 19:02] SaurabhSharma-MSFT commented on #73705
@crystalgeek Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-13 19:12] ChaitanyaNaykodi-MSFT commented on #73470
Hello @Sidewinder53, for schedule delivery with Azure storage queue you can use the[ `addMessage` method](https://docs.microsoft.com/en-us/java/api/com.microsoft.azure.storage.queue.cloudqueue.addmessage?view=azure-java-legacy#com_microsoft_azure_storage_queue_CloudQueue_addMessage_final_CloudQueueMessage_final_int_final_int_QueueRequestOptions_OperationContext_) and use the parameter `initialVisi

[2021-04-13 19:12] #73470 closed

[2021-04-13 19:24] cchapin-ms opened #73706 "update to use vNet integration"
I think that this doc could be updated to use vNet Integration instead of public endpoints for SQL Managed Instances. I am not a Data and AI guy, and I don't know all of the in's and out's of these services to make the changes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4785005-a130-a392-7b4a-c8c6d36bad37
* Versio

[2021-04-13 19:28] BSiefferman commented on #73692
Thank you for the quick help James! Please let me know once you receive any updates :)

[2021-04-13 19:29] BharathNimmala-MSFT commented on #73195
@ascott18 Thanks a lot for taking time to share your feedback, glad to help in any way possible to improve our community and document experience.

[2021-04-13 19:33] curtand commented on #73535
Hi @Smalls1652 ,
I hear you and I feel your pain. I'm updating these docs screenshots and all over the next few weeks as part of a larger project. I appreciate your feedback.

[2021-04-13 19:42] BharathNimmala-MSFT commented on #73210
@ascott18 Sorry again for your experience ,  post validation with our product team it has been called out that they have started reviewing the questions on weekly basis regarding the Stack Over [azure-custom-providers](https://stackoverflow.com/questions/tagged/azure-custom-providers) tag . Our team will continue to review the new questions coming in, please let us know if you have any queries or

[2021-04-13 19:42] #73210 closed

[2021-04-13 19:46] BharathNimmala-MSFT commented on #73687
@afelthe Thank you for reaching out to us. Please note that [this ](https://github.com/MicrosoftDocs/azure-docs/issues) channel (the Azure Docs repository) is only for driving improvements related to the Azure documentation. It would be great if you can share the documentation link you are referring, so that we can assist you accordingly.

[2021-04-13 20:06] 1RedOne opened #73707 "Needs some more information on configuring Update Management when using Azure Private Link AMPLS"
With regard to this quote here..

How does one do this?  We have a customer inquiring about this very thing and were not able to figure it out ourselves.

st o wen @microsoft.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29645401-45f3-a1d9-2dd0-e561d49b0eb3
* Version Independent ID: 27677330-fa36-53df-e83d-44f3e5e

[2021-04-13 20:08] BradLeeHines-ST opened #73708 "missing link"
At the URL https://docs.microsoft.com/en-us/azure/databricks/scenarios/what-is-azure-databricks-sqla

exists a link  ""uickstart: Enable users and create a SQL endpoint"

This link when clicked reports a 404 error - not found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1095c135-0915-f6c8-8032-4d04354fd40a
* Version

[2021-04-13 20:12] PatrickFarley commented on #72828
I've confirmed with the team that it's possible to do this. The online portal is just built on top of the API. In Python, the export_iteration and get_exports methods are key. I'll add to my backlog a task to create a how-to guide around this.
#please-close

[2021-04-13 20:12] #72828 closed

[2021-04-13 20:13] julieMSFT commented on #73619
#reassign:julieMSFT

[2021-04-13 20:15] rajaprad opened #73709 "Example of Cost for LTR"
[Enter feedback here]
An example of cost for longtime retention would be very helpful.

Thanks,
Pradebban Raja

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b388152-5d9d-bfb9-1dd3-168b4877ac5a
* Version Independent ID: 901abe21-41fd-c208-6301-9cc45acf0e4f
* Content: [Long-term backup retention - Azure SQL Database &

[2021-04-13 20:19] julieMSFT commented on #73619
@vishalprajapati1984 thank you for bringing this to our attention. I have updated the article with the correct column name. Thank you for contributing to Microsoft Docs. I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2021-04-13 20:19] julieMSFT commented on #73619
#please-close

[2021-04-13 20:19] #73619 closed

[2021-04-13 20:22] SatishBoddu-MSFT commented on #73688
Cc: @kgremban Do you have any related documents with this query? MQTT Broker with TPM

[2021-04-13 20:22] RMITBLOG opened #73710 "CIMFS Clarification"
[Enter feedback here]

HI Microsoft team. There have been some queries in regards to the support for CIMFS on both Build Windows 10 2004 and 20H2.

It would be great if you can confirm that CIMFS is supported on "Windows 10, version 2004 (10.0; Build 19041)" onwards.

I also noted that you should clarify the point around when creating CIM images on build 2004 you can only use 2004 build for use of

[2021-04-13 20:27] julieMSFT commented on #73004
#assign:julie MSFT

[2021-04-13 20:27] PRMerger13 commented on #73004
julie is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-04-13 20:28] MarileeTurscak-MSFT commented on #73696
@jamiee4lynne
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-13 20:31] alsmyr commented on #73675
Thank you!

Are there any known issues with this preview that I need to consider? Or constraints on my B2C tenant that might not be met?

[2021-04-13 20:33] julieMSFT commented on #73699
#assign:jonburchel

[2021-04-13 20:36] Oury-MSFT commented on #73709
@shkale could you please provide an example for log-term retention in the doc. Thanks

[2021-04-13 20:39] Weychris opened #73711 "Licensing Confusion (as usual)"
The below does not seem accurate-please confirm:

A working Azure AD tenant with at least an Azure AD free or trial license enabled. In the Free tier, SSPR only works for cloud users in Azure AD.
For later tutorials in this series, you'll need an Azure AD Premium P1 or trial license for on-premises password writeback.
If needed, create an Azure account for free.

---
#### Document Details

⚠ *Do n

[2021-04-13 20:39] brcarpio opened #73712 "Incorrect hyperlink for `az network vnet-gateway create` on `create-routebased-vpn-gateway-cli.md`"
Line 73 on the document is the following:

I would expect to be linked to a section like [this](https://docs.microsoft.com/en-us/cli/azure/network/vnet-gateway?view=azure-cli-latest#az_network_vnet_gateway_create) instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b0f53cd-ceeb-d044-4fbe-745f4b3f8340
* Version Ind

[2021-04-13 20:47] TokenRing opened #73713 "Azure-Migrate Tutorial does not mention all the permissions needed to carry out VMware migration"
For your tutorial's "prerequisites" it tells us to complete step one, at this page - https://docs.microsoft.com/en-us/azure/migrate/tutorial-discover-vmware#prepare-vmware - to setup a VMware account with very limited permissions, described as follows: _"In Global Permissions, select the user account, and assign the Read-only role to the account. Then click OK. If you also want to perform discover

[2021-04-13 20:53] SnehaGunda commented on #73537
Yes "Ted Codd" is right per this wiki article: https://en.wikipedia.org/wiki/Edgar_F._Codd. We will leave it as is.

#please-close

[2021-04-13 20:53] #73537 closed

[2021-04-13 20:56] SnehaGunda commented on #73686
@wpitallo Link Thomas mentioned we will update the docs when CLI support is available. We will now close this issue.

#please-close

[2021-04-13 20:56] #73686 closed

[2021-04-13 20:56] cvaughan3 opened #73714 "MFA Report Descriptions are Incorrect"
Under "Additional MFA Reports", it describes two reports where you can find MFA history, but neither of them actual display historical information.  The "Blocked User" report at Azure AD > Security > MFA > Block/unblock users only shows users that are currently blocked.  The Bypassed User report at Azure AD > Security > MFA > One-time bypass only shows users that are currently set to bypass the MF

[2021-04-13 21:15] porrascarlos802018 opened #73715 "clarification needed"
please add statement for HPA, and dashboard.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36ecef62-68f2-9e81-f4b6-da2b49d1a653
* Version Independent ID: a6c2c35a-8a12-a9de-0a4e-669cf8506892
* Content: [Support policies for Azure Kubernetes Service (AKS) - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azu

[2021-04-13 21:23] MarileeTurscak-MSFT commented on #73696
Hi @jamiee4lynne ,

Thanks for the feedback. I made a pull request to update the link with the missing URL. https://github.com/MicrosoftDocs/azure-docs-pr/pull/154332

I believe the spelling is intended this way since this is an azure-australia article and that is the correct Australian spelling. @emilyre please confirm though.

[2021-04-13 21:23] #73696 closed

[2021-04-13 21:23] MarileeTurscak-MSFT commented on #73714
@cvaughan3
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-13 21:24] MarileeTurscak-MSFT commented on #73711
@Weychris
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-13 21:32] Leonardo-Ferreira opened #73716 "Expansion of Key Vault Roles section"
Can you expand [this section](https://docs.microsoft.com/en-us/azure/key-vault/general/basic-concepts#key-vault-roles) taking into account the developer statement: "I don't want to handle decryption. I will ask the vault for a public key, give it to a external partner, which will encrypt the information with the given key and pass that cypher text back to me. Then I will pass it to the vault, indi

[2021-04-13 21:37] JamesTran-MSFT commented on #73716
@Leonardo-Ferreira
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-04-13 21:39] SnehaGunda commented on #73344
Hi @omerzubair, we're happy to help with this. This is not an issue with the documentation. This could be a product limitation or bug. For technical troubleshooting could you please either:

* Post the question here: [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-cosmos-db.html)
* File a support ticket

If it results in a doc update, we will make the changes.

@soeom FYI.

T

[2021-04-13 21:39] jamiee4lynne commented on #73696
What a great experience. First time I made a suggestion, and you were all on it so fast and efficiently! Appreciate the explanation since I was incorrect, and I hope it helped to call out the missing link!

Appreciate everything you all do 😊

Thank you! Have a good one.

Jamie L. Cohen-Gronberg
Technical Specialist
Modern Work Cloud Acquisition
***@***.******@***.***>
[Microsoft]

From: Marilee Tu

[2021-04-13 21:48] TravisCragg-MSFT commented on #73704
@bgklein I am not able to reproduce this, and my help commands are showing correctly. [Update your Azure CLI](https://docs.microsoft.com/en-us/cli/azure/update-azure-cli) and try this again.

[2021-04-13 21:50] MarileeTurscak-MSFT commented on #73614
@jwoll, if you have feedback on a particular Microsoft document, please post a new issue linking that document, or post a question to Microsoft Q&A and we will gladly assist you. https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered

Make sure the device supports and has an installed app that has the Microsoft Enterprise SSO plug-in for Apple devices:

iOS 13.0 an

[2021-04-13 21:50] #73614 closed

[2021-04-13 21:50] Hecmay opened #73717 "Is NP-series FPGA VMs available on Azure?"
I was trying to create an FPGA VM using Azure portal. However, I cannot find the NP-series FPGA options in the list... So is the NP-series FPGA VMs already available to public?

VM: U250 deployment CentOS 7.8
Region: us-east

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0aa8f9d5-3f82-b719-60a3-c17a74cfeab6
* Version I

[2021-04-13 21:51] BradLeeHines-ST opened #73718 "Code does not compile"
I get an error on my code run that says this:
command-4046971013260396:19: error: value createFromConnectionString is not a member of object com.microsoft.azure.eventhubs.EventHubClient
val eventHubClient = EventHubClient.createFromConnectionString(connStr.toString(), pool)

Here is the code I tried:
import scala.collection.JavaConverters._
import com.microsoft.azure.eventhubs._
import java.util.c

[2021-04-13 21:52] waynestevensinsight opened #73719 "Log into Facebook = Unsupported Browser message"
When I downloaded and ran the sample quickstart application, and chose Facebook as my log in option, I get a message about using an Unsupported Browser. See attached screenshot.
![quickstart-Facebook](https://user-images.githubusercontent.com/74793004/114625899-f24fe000-9c80-11eb-9f09-c8d265d5baf3.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-04-13 21:56] vikancha-MSFT commented on #73717
@Hecmay NP-series is generally available but you need to request quota to be able to deploy. Please email me at vikancha@microsoft.com with your subscription id  and the region(if you need more than US East) and the #cores needed. Alternatively you can submit a quota request through the portal using request type 'other'. NP-series is not visible in the quota request blade yet.

[2021-04-13 22:05] roygara commented on #73695
@toddhammer Thanks for reaching out and making us aware, we appreciate it! I've gone ahead and made corrections to the TOC, the changes should be live sometime tomorrow.

Again, thanks for helping us improve our documentation, we always appreciate it. :)

#please-close

[2021-04-13 22:05] #73695 closed

[2021-04-13 22:06] asinn826 commented on #65359
We have updated our docs to address this. Thanks for the feedback!

[2021-04-13 22:07] JamesTran-MSFT commented on #73719
@waynestevensinsight
Thank you for pointing this out!

Based off your screenshot, it looks like Facebook specifically doesn't support the browser you're using, but the app is working as expected. Can you share what browser you're using that was unsupported?

[2021-04-13 22:09] Hecmay commented on #73717
@vikancha-MSFT Thanks for your immediate reply. I really appreciate it. Sure I will send you the subscription id and region.

[2021-04-13 22:15] msftradford commented on #72242
Thanks for reaching out @skynard. You are free to configure the signing in XCode with your own developer account. Would you mind [filing an issue](https://github.com/Azure/azure-spatial-anchors-samples/issues) and filling out the bug report template?

[2021-04-13 22:19] waynestevensinsight commented on #73719
Whoa that was a fast reply! I'm not actually launching any browser myself - this sample is a WPF application that I've downloaded from the page, built and run. I click on the Sign in button, then the Facebook button. I think this is using the built-in WebBrowser control in .NET (4.7.2), I think (but I'm not sure) that this control uses Internet Explorer, and that would probably explain why we're g

[2021-04-13 22:24] KranthiPakala-MSFT commented on #73708
@BradLeeHines-ST
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-04-13 22:24] KranthiPakala-MSFT commented on #73708
@mssaperla , @leifbro - FYI...

[2021-04-13 22:29] holc-tkomp commented on #73570
... while most of our projects are .NET Framework 4.7.2, some of the libraries are targeting .NET Standard 2.0 (including the one I wanted to add this in). This means, that **.NET Standard 1.3 version of Microsoft.IdentityModel.Clients.ActiveDirectory will be picked, which does not support/have the UserPasswordCredential type** and doesn't seem to allow acquiring token by username+password by othe

[2021-04-13 22:33] KranthiPakala-MSFT commented on #73708
Hi @leifbro , @mssaperla - Looks like below links are missing in source.

![image](https://user-images.githubusercontent.com/50185738/114629337-45b83300-9c6d-11eb-8a9a-76889487e24c.png)

I don't see `admin-quickstart` in this folder:
![image](https://user-images.githubusercontent.com/50185738/114629404-5cf72080-9c6d-11eb-8503-6ba0d06b1849.png)

I don't see `user-quickstart` in this folder:
![image

[2021-04-13 22:38] stevestein commented on #72910
@MaraSteiu - can you take a look at this one?

#assign:MaraSteiu

[2021-04-13 22:39] JamesTran-MSFT commented on #73719
@waynestevensinsight
Thank you for the quick response and additional details!

I wasn't able to reproduce what you were seeing. However, I'll assign this issue to the author who will investigate and update the docs as appropriate.
![active-directory-b2c-dotnet-desktop-app](https://user-images.githubusercontent.com/36619112/114629849-28d02f80-9c6e-11eb-855c-6240d6494b0a.gif)

If you have any other

[2021-04-13 22:43] waynestevensinsight commented on #73719
I see that you're selecting Microsoft rather than Facebook - the Microsoft option looks fine; it is only Facebook that gives the Unsupported Browser message.

[2021-04-13 22:49] sebansal commented on #71886
By default, if you don't specify anything special for the cert, it'll be usable as a client auth cert

[2021-04-13 22:51] kgremban commented on #73343
@petertuton Thank you for pointing this out. I've made a pull request to update the reference to Azure SQL Edge and to point to their documentation. Since this was a straightforward change to the article, I'll have GitHub automatically close this issue when my pull request is merged.

[2021-04-13 22:52] stevestein commented on #52532
@VanMSFT - can you take a look at this one?

[2021-04-13 22:55] MashaMSFT commented on #64681
Hello! @RhysC  and @serjdag , our apologies for the delay. The article has been updated with a few things, including most notably, a section about [port consideration](https://docs.microsoft.com/azure/azure-sql/virtual-machines/windows/availability-group-distributed-network-name-dnn-listener-configure#port-considerations).

We believe this addresses your concerns. Thank you so much for helping imp

[2021-04-13 22:55] #64681 closed

[2021-04-13 22:55] JamesTran-MSFT commented on #73719
@waynestevensinsight
Thank you for pointing that out!

I didn't even realize that I selected the Microsoft option. After selecting Facebook, I was able to reproduce what you're seeing.
![image](https://user-images.githubusercontent.com/36619112/114631022-adbc4880-9c70-11eb-8dcd-9a24cdb09434.png)

[2021-04-13 23:12] #73343 closed

[2021-04-13 23:21] stevestein commented on #69704
@MaraSteiu - can you take a look at this one?

#assign:MaraSteiu

[2021-04-13 23:22] paulfinol opened #73720 "add servers to the appliance"
What about if i need to add more servers to the appliance after the discovery finished?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e280f0d6-a71b-6b97-5d3d-ef6974607581
* Version Independent ID: 65621352-e710-b77b-0ca4-ec169566d7e6
* Content: [Set up an Azure Migrate appliance for physical serv

[2021-04-13 23:33] SaurabhSharma-MSFT commented on #73718
@BradLeeHines-ST Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-13 23:43] curtand commented on #71442
hi @antrix1989
Thanks for the feedback! I got the article updated and you can see it live.

#please-close

[2021-04-13 23:43] #71442 closed

[2021-04-13 23:45] BharathNimmala-MSFT commented on #73691
@tmathew1000 Thanks a lot for taking time to share your feedback, we will pass on this to our document authoring team and internal product teams so that they can take this feedback into consideration to improve the existing documentation and also for any upcoming documentation.

[2021-04-13 23:51] mmacy commented on #72552
@tnorling Seconding what @svdHero says - HUGE thanks for all this info! As we reimagine our tutorials, this is the sort of stuff that should go into them.

Totally agreed, @svdHero. Our tutorials are on deck for a complete overhaul, most likely moving to a sequential format where adding sign in support is one tutorial, another is accessing Microsoft Graph, yet another is accessing a custom web API

[2021-04-13 23:53] kgremban commented on #59471
Closing this issue as manual provisioning with X.509 certificates was introduced as part of IoT Edge version 1.0.10

#please-close

[2021-04-13 23:53] #59471 closed

[2021-04-13 23:56] sebansal commented on #71886
#please-close

[2021-04-13 23:56] #71886 closed

[2021-04-13 23:56] kgremban commented on #60514
Closing this issue for lack of activity.

#please-close

[2021-04-13 23:56] #60514 closed

[2021-04-13 23:57] BharathNimmala-MSFT commented on #73707
@1RedOne Thank you for reaching out with your query, we will look into it and get back to you at the earliest.

[2021-04-13 23:59] rwike77 commented on #70737
@SannaWilson, hope that answers your question.  I'm closing the issue, feel free to re-open if you need more info.  #please-close

[2021-04-13 23:59] #70737 closed

[2021-04-14 00:04] ChaitanyaNaykodi-MSFT commented on #73706
Hello @cchapin-ms,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-04-14 00:06] kgremban commented on #71990
Hi @lucarv, IoT Edge version 1.2.0 was released as GA on April 9. If you want to see the steps for installing IoT Edge version 1.1, you can use the version selector at the top of the TOC, or the link in the header of the page.

![image](https://user-images.githubusercontent.com/13578436/114635871-8ec2b400-9c7a-11eb-8ea4-b39e4333b0a6.png)

[2021-04-14 00:08] kgremban commented on #71852
@lucarv Are you still experiencing this issue with configuring your IoT Edge device?

[2021-04-14 00:15] kgremban commented on #70491
Hello @skywalkerisnull, unfortunately this issue is present regardless if IP or domain name is used. Certain azcopy methods (I’m aware of delete only) expect the URL to include “.blob”. Currently, Storage Explorer uses azcopy underneath. So far our recommendation has been to downgrade to older Storage Explorer that doesn’t use azcopy if you need to delete blobs through Storage Explorer.

[2021-04-14 00:18] qm13 commented on #48278
@bleeb296 please see STP file [here](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/assets)

[2021-04-14 00:23] spelluru commented on #73474
@carsonruebel - Thank you for reporting the issue to use. Appreciate it. The links are fixed now.

#please-close

[2021-04-14 00:23] #73474 closed

[2021-04-14 01:34] Karishma-Tiwari-MSFT commented on #73715
Can you please elaborate on your ask to help the author better understand the updates requested for the document? Thanks.

[2021-04-14 01:44] Karishma-Tiwari-MSFT commented on #65359
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-04-14 01:44] #65359 closed

[2021-04-14 02:02] danmyhre opened #73722 "Microsoft.PowerPlatform"
Missing details on microsoft.powerplatform subnet delegation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2422f8ec-802e-7f92-c499-9181f3fe8d8b
* Version Independent ID: eb2b0e2c-8fb5-573c-ef0d-50073d053c3d
* Content: [Virtual network for Azure services](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-n

[2021-04-14 02:07] RyanHill-MSFT commented on #73583
@sethmanheim @codebeaulieu I believe it's `Xamarin.Azure.NotificationHubs.Android` that you should be using.

[2021-04-14 02:14] RyanHill-MSFT commented on #73397
Have a look at https://docs.microsoft.com/en-us/azure/app-service/quickstart-php?pivots=platform-linux @emayljames. It uses a Hello World vanilla PHP app that you deploy through the CLI. If you have issues with that, let us know what issues you're running into.

[2021-04-14 02:42] devikamv commented on #73123
@Karishma-Tiwari-MSFT , thanks for your response. So I understand-we can install SQL with our own product keys on any image- RHEL PAYG/BYOS.
It will help if you could update the documentation for the sake of clarity.

[2021-04-14 03:15] jimoneil opened #73723 "Reference to non-existent TPM simulator window"
Clean up Resources section includes the following, which is out of context for this particular sample:

Close the TPM simulator window on your machine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11fcf912-9db1-d739-dac4-b213786c0447
* Version Independent ID: 6d887e1b-68de-7697-bea1-3c223cc99a6c
* Content: [Quickstar

[2021-04-14 03:32] Venkatesulu-Basimi opened #73724 "The Wordpress Template Is Showing an Error Please Fix it ASAP"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4778d37-3650-215e-04ce-ad8a25f953b4
* Version Independent ID: 1b8a9702-ba83-bedc-42ab-48d36862a852
* Content: [Azure Resource Manager template samples - Azure Container Instances](https://docs.microsoft.com/en-us/azure/container-instances/container-i

[2021-04-14 03:42] BharathNimmala-MSFT commented on #73701
@MarkAtAgilliance Thanks a lot for taking time to share this feedback, our team will review it and enhance the document accordingly.

[2021-04-14 04:01] v-amallick commented on #72520
@Debpriya1994 please look into this issue.

[2021-04-14 04:02] v-amallick commented on #72520
#reassign:Debpriya1994

[2021-04-14 04:10] v-amallick commented on #73458
@utraghuv please look into this issue.

[2021-04-14 04:10] v-amallick commented on #73458
#reassign:utraghuv

[2021-04-14 04:12] SwathiDhanwada-MSFT commented on #73710
@RMITBLOG Thanks for your comment. We will review the issue and get back to you shortly.

[2021-04-14 04:16] SwathiDhanwada-MSFT commented on #73712
@brcarpio Thanks for your feedback. We will review the issue and get back to you shortly.

[2021-04-14 04:18] SwathiDhanwada-MSFT commented on #73713
@TokenRing Thanks for your feedback.

Assigning to content author @anvar-ms for review.

[2021-04-14 04:21] subsarma commented on #73694
@Jay ***@***.***> please look into this and fix if needed.

From: SaiKishor-MSFT ***@***.***>
Sent: Tuesday, April 13, 2021 9:48 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Subra Sarma ***@***.***>; Assign ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] ClientRTT is shown incorrectly in the diagram (#73694)

Thanks for the feedback! I have assigned the issue to the content author to inve

[2021-04-14 04:30] SaiKishor-MSFT commented on #73722
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-04-14 04:37] AnuragSharma-MSFT commented on #73344
@omerzubair Thanks for your patience. Please let us know if you need help in posting the query the Microsoft Q&A forum. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-04-14 04:37] #73344 closed

[2021-04-14 05:02] jochen-ott-by opened #73727 "acr tasks volumeMounts property requires clarification"
The documentation on the azure container registry task.yaml format concerning the `volumeMounts` task step property is  inconsistent both within the documentation page and with actual behavior:

 1. The tables "Properties: build" and "Properties: cmd" define the `volumeMount` (singular!) with Type  `object`.
 2. The table "Task step properties" does not mention this property at all, although it wo

[2021-04-14 05:02] nitmatgeo commented on #73268
Update: When I try below I could see the response from Event Grid (Key Vault Events)-
`
    $Request = $eventGridTrigger | ConvertTo-Json | Write-Host
    Write-Host $Request
`
But the same has no output when I use the default as below-
`
    $eventGridTrigger | Out-String | Write-Host
`

Hence I was having the trouble! No where there is an example to interface Event Grid Trigger in powershell

[2021-04-14 05:07] SnehaAgrawal-MSFT commented on #73408
@samtsejerome Since We didn't here from you. We will now proceed to close this thread. If there are further questions regarding this matter.  Please let us know

[2021-04-14 05:07] #73408 closed

[2021-04-14 05:18] TLaborde opened #73728 "missing references for az ml client"
[Enter feedback here]
the link to "full reference docs for the azure-cli-ml extension of Azure CLI." is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6013f381-38ac-acff-3d9e-b45c5e8420cc
* Version Independent ID: 52a0e03a-fbf0-b679-79b4-06374ea96466
* Content: [Install & use Azure Machine Learning CLI](https:/

[2021-04-14 05:18] v-amallick commented on #70663
@jamesmkwong,

We have updated the article and the changes are live now. Thank you.

CC @dcurwin

[2021-04-14 05:19] v-amallick commented on #70663
#please-close

[2021-04-14 05:19] #70663 closed

[2021-04-14 05:57] ecfan commented on #73502
Hi @prothseda,

Here's a more current doc that lists the time zone IDs. Will this doc work for you instead? The list shows `AUS Eastern Standard Time` in the format that you need:

https://docs.microsoft.com/windows-hardware/manufacture/desktop/default-time-zones

[2021-04-14 06:10] psmanhas commented on #73727
@jochen-ott-by Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-04-14 06:10] psmanhas commented on #73727
@dlepow Can you please check and add your comments on this doc update request as applicable

[2021-04-14 06:12] psmanhas commented on #73724
@Venky1141 Can you please help me understand what error you are getting so I can help you out better?

Thanks

[2021-04-14 06:15] kiranpradeep opened #73729 "Requesting clarification on the term: compute VM"
In section [Enable Computer Network](https://docs.microsoft.com/en-us/azure/databox-online/azure-stack-edge-gpu-deploy-configure-network-compute-web-proxy#enable-compute-network) step 3, it is noted as below quoted line.  The below questions are not exact and intended more to get an idea about what is the compute VM and stackedge setup.

1. Is this term compute VM same as the VM mentioned in docum

[2021-04-14 06:16] codsoul opened #73730 "No Rewrites in the left pane."
No Rewrites in the left pane.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fbac689-8196-0c77-2602-f1338ae5ed72
* Version Independent ID: 5550df82-07b6-8baa-af88-51e362308bb0
* Content: [Rewrite URL and query string with Azure Application Gateway - Azure portal](https://docs.microsoft.com/en-us/azure/application-gate

[2021-04-14 06:18] SaiKishor-MSFT commented on #73730
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-14 06:19] #73502 closed

[2021-04-14 06:27] RohitMungi-MSFT commented on #73671
@drmanhatin The available export platforms are listed at the top of the [page](https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/export-your-model). OpenVino is the format that is currently not documented in this list.

Are you requesting to document all the supported types under each of these platforms?

[2021-04-14 06:29] SannaWilson commented on #70737
Thanks, Ryan! I am sure that sample works well for most users if they find
it. I found it, but as I am new to this and I must confess that I found
that particular sample quite complex and difficult to follow, Here
<https://stackoverflow.com/questions/66628153/unable-to-limit-authentication-issuers-in-a-multi-tenant-application-blazor-ser?noredirect=1#comment117789425_66628153>
is
how I solved it e

[2021-04-14 06:29] PramodValavala-MSFT commented on #73268
@nitmatgeo Instead of the HTTP Trigger, its simpler to use the EventGrid Trigger as shown in [this example](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-grid-trigger?tabs=powershell%2Cbash#example). And I can confirm the default code does print to the log as expected.

![image](https://user-images.githubusercontent.com/43602528/114664109-def05380-9d18-11eb-8c3c-e

[2021-04-14 06:32] psmanhas commented on #71352
@brwilkinson Just following up to check if you are still facing the same issue or if it has been resolved?

Thanks

[2021-04-14 06:38] lucarv commented on #71852
I have moved on from this and can no longer verify, so you might as well just close this if you can't reproduce it.

[2021-04-14 06:40] lucarv commented on #71990
please close this as now in GA.

[2021-04-14 06:42] dfendit commented on #35298
Doesn't work.

[2021-04-14 06:59] peter-bertok opened #73731 "A dangerous script is published on this page"
This script on this page is dangerous and should be removed. It irreversibly deletes or resets many settings without warning.

It is impossible to copy all VM settings because of internal resource manager limitations. This includes "secrets" associated with VM extensions and the ObjectId of the System Assigned Identity.

The team responsible for Availability Sets should fix these issues, because c

[2021-04-14 07:10] psmanhas commented on #73731
@peter-bertok
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-04-14 07:11] psmanhas commented on #73731
@cynthn
Can you please check and add your comments on this doc update request as applicable

[2021-04-14 07:34] AnuragSharma-MSFT commented on #73668
@thommck Thanks for the inputs you provided. Would it be possible for you to share the screenshot of Azure Pricing Calculator with the message?

[2021-04-14 07:53] CHEEKATLAPRADEEP-MSFT commented on #73560
@simonzhaoms  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2021-04-14 07:54] pzbyszynski commented on #30986
@breyed @cijothomas  Any news on the Polly scenario? I have lot's of false positives when handling exceptions and retrying using Polly

I have submitted an issue but with no reaction: https://github.com/Azure/azure-webjobs-sdk/issues/2612

[2021-04-14 08:12] aasis21 opened #73732 "Alert to monitor active geo replication"
Is there any way we can monitor that the primary db is correctly getting synchronized to secondary db, and Is there any alert if there is some problem in syncing?
![image](https://user-images.githubusercontent.com/25389384/114676742-75435b80-9cbe-11eb-8cd6-ba131ca2e548.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2021-04-14 08:20] jochen-ott-by opened #73733 "az acr tasks: clarify available "docker build" arguments"
The [description of the "build" step](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-reference-yaml#build) says:

(emphasis mine).

However, which options to "docker build" are actually available depends on the docker version, and without knowing this version, it's hard to impossible to infer from this documentation what is *really* supported. The documentation

[2021-04-14 08:20] SwathiDhanwada-MSFT commented on #73720
@paulfinol Thanks for reaching out. We will review the issue and get back to you shortly.

[2021-04-14 08:28] pemsft opened #73734 "Azure Availability Zone support"
Thank for the excellent documentation: https://docs.microsoft.com/en-us/azure/api-management/api-management-features

Would you be able to add documentation about Azure Availability Zones support?

Based on this it's possible to deploy APIM to an Azure Availability Zone:
https://azure.microsoft.com/en-us/resources/templates/101-api-management-simple-zones/

---
#### Document Details

⚠ *Do not edi

[2021-04-14 08:30] KrishnaG-MSFT commented on #73591
@appelboom Verified and updated the document as required. Thanks.

[2021-04-14 08:30] #73591 closed

[2021-04-14 08:36] vikaskumawat80 opened #73735 "Support for Availability Zones"
Does Azure APIM support AZs? If yes, How to deploy APIM into AZs? Also, Is there any low tier with VNET support or, Private Endpoint support for APIM? Premium can be very expensive for most customers if they need VNET integration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7232dd1a-d250-1304-14ec-db25f04cff48
* Ver

[2021-04-14 08:55] lgayhardt commented on #73670
Hi @ashish2rathi ApplicationInsightsMiddleware is an OwinMiddleware class and it can be added like other OwinMiddleware. You can learn more about Owin and OwinMiddleware, including how to add it in the startup.cs, in their documentation:

https://docs.microsoft.com/aspnet/aspnet/overview/owin-and-katana/an-overview-of-project-katana#middlewareframework

#please-close

[2021-04-14 08:55] #73670 closed

[2021-04-14 09:10] AnuragSharma-MSFT commented on #73732
@aasis21 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-04-14 09:11] Venky1141 commented on #73724
I am Attaching Some Screen Shots to the Issue
In Azure Resource Manager templates for Azure Container Instances
In Sample Templates - Wordpress is not Working as the Repo is Throwing Some Erorrs Please Fix It !
![Screenshot (71)](https://user-images.githubusercontent.com/44563316/114685115-339ec900-9d2f-11eb-965b-c745db40c538.png)
![Screenshot (69)](https://user-images.githubusercontent.com/445633

[2021-04-14 09:22] psmanhas commented on #73733
@jochen-ott-by Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-04-14 09:22] psmanhas commented on #73733
@dlepow Can you please check and add your comments on this doc update request as applicable

[2021-04-14 09:37] SwathiDhanwada-MSFT commented on #73525
@ROSMITHJ-MSFT  Same information is documented in [this article](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/customer-managed-keys?tabs=azure-cli#customer-managed-key-for-saved-queries). I have added a note to this article as well. Once the changes are approved, it will be live soon.

![image](https://user-images.githubusercontent.com/48976275/114684826-ee7a9700-9d2e-11eb-978b-7dcf34

[2021-04-14 09:38] #73525 closed

[2021-04-14 09:51] marwalsch opened #73737 "MPN registration was not required for third party consent with same domain."
Consider this hint from the AAD:

"Starting November 9th, 2020 end users will no longer be able to grant consent to newly registered multitenant apps without verified publishers."

I wanted to test the behaviour of a multi-tenant app integrated into Teams when launched through a different organisation than the registration one. To to so, I did the following:

1. Registered the app through a person

[2021-04-14 10:07] drmanhatin commented on #73671
If I were to read this page without any experience with CustomVision, I would think that Tensorflow is only applicable for Android. But that's simply not correct, you can use it on iOS too if you use TensorFlowJS.

So TensorFlowJS is a good option if you build an app which will be used **both** on iOS and on Android and exists in **one** codebase.

Maybe add an option: TensorflowJS for hybrid apps

[2021-04-14 10:17] SwathiDhanwada-MSFT commented on #73438
Assigning to content author @rboucher  for review and doc-enhancement.

[2021-04-14 10:20] gomateus opened #73739 "Link to GitHub sample not working"
[Enter feedback here]

Hi team,

The link to a sample code on GitHub here: https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-geo-dr#next-steps is broken, can you please fix it?

I think this is the correct link now: https://github.com/Azure-Samples/eventhub-java-manage-event-hub-geo-disaster-recovery

Thanks!
---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2021-04-14 10:41] PramodValavala-MSFT commented on #73680
@pacorreia Looks like the [definition of the object](https://github.com/Azure/azure-functions-python-library/blob/dev/azure/functions/timer.py) has only this one property. It would be best to raise an issue on that repo for this to be extended.

[2021-04-14 10:47] shashishailaj commented on #73737
@ssivas Thank you for your query . We will investigate and update the thread.

[2021-04-14 10:54] MayankBargali-MSFT commented on #73494
Sure @Marusyk. I will work with the team to see how best we can update the document with different samples. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-04-14 10:54] #73494 closed

[2021-04-14 11:05] CHEEKATLAPRADEEP-MSFT commented on #73739
@gomateus Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-14 11:08] Smurgl opened #73740 "Key Vault Further Explanation"
This document explains things well, but I feel that enabling the key vault for remote desktop certificates is a real "black hole" in terms of information. It's not clear how to select the credentials that the cloud service will use to access the key vault.

I always receive these errors:

Creating secrets for remote desktop configurations in key vault 'https://{vaultname}.vault.azure.net/'...
Acce

[2021-04-14 11:10] SwathiDhanwada-MSFT commented on #73375
@SenthuranSivananthan Appreciate for your feedback. I have made necessary changes to the document and the changes will be live soon.

Also, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-04-14 11:10] #73375 closed

[2021-04-14 11:13] SwathiDhanwada-MSFT commented on #73723
@jimoneil Thanks for your feedback. We will review the issue and get back to you shortly.

[2021-04-14 11:20] MayankBargali-MSFT commented on #73490
@iamsoorya I couldn't reproduce the issue and this looks specific to your environment. As the GitHub issue is mainly for the document issue I will suggest you to either post your issue on [Microsoft QnA ](https://docs.microsoft.com/en-us/answers/questions/ask.html) or create a [support request](https://azure.microsoft.com/en-in/support/create-ticket/) with us.

We will now proceed to close this th

[2021-04-14 11:20] #73490 closed

[2021-04-14 11:35] MayankBargali-MSFT commented on #73734
@pemsft Thank you for your feedback! We will review and update as appropriate.

[2021-04-14 11:36] PramodValavala-MSFT commented on #73380
@PaloSP I was able to run the commands in the doc as is and could confirm the diagnostic setting from the portal as well. Could you try updating the latest version if not already?

As for the ARM Template, you could skip creating the application insights but still leverage the other sub-resources with the right details for your existing application insights instance.

[2021-04-14 12:03] take-4c opened #73741 "How to clone app with Azure Portal and what each option means."
This page doesn't include the explanation on how to clone app with Azure Portal and what each option means.
I think it should be in this page because I was actually asked it of from my customer.
Especially, I couldn't know what was cloned when "Deployment Source" is ''yes" for cloning settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-04-14 12:06] MayankBargali-MSFT commented on #73735
@vikaskumawat80 Thank you for your feedback! We will review and update as appropriate.

[2021-04-14 12:08] MarcoL-4wardPRO opened #73743 "April 1st 2024???"
[Enter feedback here]
"Starting on April 1st, 2024, we will retire versions of Azure AD Connect that were released before May 1st, 2018 - version 1.1.751.0 and older."

Are these information right?
You are starting advertising your customers that 3 years ahead you will not support anymore a 6 years old version of AAD Connect?

Because i remember there was a 18-24 month support policy in this page,

[2021-04-14 12:18] RohitMungi-MSFT commented on #73728
@TLaborde The correct link to the Azure ML CLI extension should be [this](https://docs.microsoft.com/en-us/cli/azure/ml?view=azure-cli-latest). I will go ahead and create a PR to get this updated. Thanks for spotting this.

[2021-04-14 12:19] nicklasjepsen opened #73746 "Missing section of enabling SQL text collection in Azure Functions"
There is a note in this doc:
"Azure Functions requires separate settings to enable SQL text collection, see configure monitoring for Azure Functions to learn more."
But in the link there is no word about how to enable SQL text collection.
Maybe the feed back is for this page https://docs.microsoft.com/EN-US/azure/azure-functions/configure-monitoring?tabs=v2 but nevertheless there is no information

[2021-04-14 12:31] RohitMungi-MSFT commented on #73671
@PatrickFarley Could you please review the feedback and check if we could update the document with more details for tensorflow for both android and iOS?

[2021-04-14 12:32] SnehaAgrawal-MSFT commented on #73741
@take-4c Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-14 12:39] SnehaAgrawal-MSFT commented on #73573
@tnobile Just checking in to see if you have chance to see/ try above response of @manekinekko Please let us know if issue remains.

[2021-04-14 12:42] SnehaAgrawal-MSFT commented on #73558
@ankitvijay Thanks again for the feedback and raising PR. I have assigned the issue to the content author @cephalin for further  to review on this.

[2021-04-14 12:48] SwathiDhanwada-MSFT commented on #73746
@nicklasjepsen Thanks for your feedback.

Assigning to content author @lgayhardt for review.

[2021-04-14 12:49] SwathiDhanwada-MSFT commented on #73740
@Smurgl Thanks for reaching out. Can you please share the document you are referring to  so that I can route it to appropriate team ?

[2021-04-14 12:52] Smurgl commented on #73740
Ah, sorry. It asked me to login and I think it lost the context.

The page was this: https://docs.microsoft.com/en-us/azure/cloud-services-extended-support/deploy-visual-studio

The link took my through to a page with this as the filter: "be11d171-f141-e84f-3746-83d41b751a44"

Thanks for looking into it.

[2021-04-14 12:54] nholling opened #73747 "Typo in static-webapps/configuration.md"
Warning reads "The **staticwebapp.config.json** file is ignored if a staticwebapp.config.json exists."  Is very confusing.  I think there is an error in the link text of the first staticwebapp.config.json part (bolded).

I'm assuming the first staticwebapp.config.json should instead read "routes.json".

Expected text:
"The routes.json file is ignored if a staticwebapp.config.json exists."

---
###

[2021-04-14 12:55] jyama4ta opened #73748 "Which page is correct for LA supportability?"
We're confused because following page are inconsistent for LA supportability. Could you please clarify which statement is correct?

https://docs.microsoft.com/en-us/azure/aks/faq#can-i-use-custom-vm-extensions
_The Log Analytics agent is supported because it's an extension managed by Microsoft._

https://docs.microsoft.com/en-us/azure/security-center/container-security#run-time-protection-for-kube

[2021-04-14 13:18] SwathiDhanwada-MSFT commented on #73740
@Smurgl Thanks for sharing the link.

Assigning to content author @ghogen for review.

[2021-04-14 13:20] mlemarec opened #73749 "Wrong URL in docs page"
Hi,

On following page : https://docs.microsoft.com/en-us/azure/storage/blobs/storage-custom-domain-name?tabs=azure-portal, the link indicated under "Pricing and billing when using Blob Storage with Azure CDN." (bottom of page) is wrong as it's actually the link for "HTTP-to-HTTPS redirection with Azure CDN"
Thanks for the update and have a great day!

![image](https://user-images.githubuserconten

[2021-04-14 13:20] SnehaAgrawal-MSFT commented on #73418
@TomMurphyDev Thanks again for the valuable feedback! The Content team is working on this should be visible soon in the doc.
We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2021-04-14 13:20] #73418 closed

[2021-04-14 13:34] kamfaima opened #73751 "Allowed characters missing from disks for Microsoft.Compute"
disks for Microsoft.Compute also allow hyphens and periods. This is not mentioned in the valid characters. See the screenshot for creating managed disks. (I had to deliberately use an illegal character for the message to appear.)

![image](https://user-images.githubusercontent.com/23546392/114718955-df6d0680-9d79-11eb-819d-be75b17aed29.png)

---
#### Document Details

⚠ *Do not edit this section.

[2021-04-14 13:44] jaymelbe opened #73752 "Many errors while trying to use the scripts"
[Enter feedback here]

Create a Key Vault does not work on powershell in an AzureVM. Seems like it is mandatory to use Azure Powershell.

There is an error while trying to create the self-signed certificate:
PS /home/jeremie_melchior> $thumbprint = (New-SelfSignedCertificate -DnsName $certificateName -CertStoreLocation Cert:\CurrentUser\My -KeySpec KeyExchange).Thumbprint
New-SelfSignedCertificate

[2021-04-14 13:49] SQLAdventurer opened #73754 "The inferred data type example code here no longer works"
The copy and execute sample on this page for inferred data types does not work
Msg 13807, Level 16, State 1, Line 4
Content of directory on path 'https://sqlondemandstorage.blob.core.windows.net/parquet/taxi/*/*/*' cannot be listed.
Msg 11501, Level 16, State 1, Line 4
The batch could not be analyzed because of compile errors.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-04-14 13:50] simonvane opened #73756 "Are functions app deployment slots supported with logic apps?"
Is this statement true?
"Integration between Logic Apps and Azure Functions currently doesn't work with Slots enabled."

We have been using logic apps with functions using deployment slots successfully for some time but have run into a case where we occasionally get a 401 Unauthorized after a deployment when the logic app calls a function.

---
#### Document Details

⚠ *Do not edit this section. I

[2021-04-14 13:52] DongDanBam opened #73757 "Incomplete instruction on this page"
This page is incomplete in its instruction.

Its first instruction sates the following;

**Start using Media Services APIs with .NET SDK**
To start using Media Services APIs with .NET, create an AzureMediaServicesClient object. To create the object, you need to supply credentials needed for the client to connect

This page fails to explain how to supply credentials and where to place said credenti

[2021-04-14 13:53] simonvane commented on #31096
Does anyone know if logic apps support using functions with deployment slots now that deployment slots are out of preview?

[2021-04-14 14:00] spelluru commented on #73739
@gomateus - Thank you. Fixed the issue. The sample is moved to: https://github.com/Azure/azure-event-hubs/tree/master/samples/Management/DotNet/GeoDRClient

I also added a link to the Java sample.

The updates will go live around in 3 hours or so.

#please-close

[2021-04-14 14:02] tfitzmac commented on #73751
@kamfaima - thanks for this notification. There is a [pull request](https://github.com/MicrosoftDocs/azure-docs/pull/73515) that makes this change, which should get merged soon.
#please-close

[2021-04-14 14:02] #73751 closed

[2021-04-14 14:05] ram-msft commented on #73655
@damochiz Thanks for the feedback. It's on roadmap to support in the near future.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-14 14:05] #73655 closed

[2021-04-14 14:07] thommck commented on #73668
Here you go
![image](https://user-images.githubusercontent.com/29751878/114724097-2257bb80-9d33-11eb-9851-65038046bf53.png)

[2021-04-14 14:08] spelluru commented on #73187
@sijucm - Thanks for the feedback. Is this feedback on the Samples article: https://docs.microsoft.com/en-gb/azure/service-bus-messaging/service-bus-filter-examples? Thanks.

[2021-04-14 14:08] agentmorris opened #73759 "Units"
It's a little confusing that standard egress is written in "Gbp/sec" and premium egress is written in "MiB/sec", particularly given that the latter is in the thousands of MiB/sec.

There are multiple issues here:

* Minor typo; it should either be "Gbps" or "Gb/sec"; "Gbp/sec" doesn't make sense (the "p" and the "/" are both read as "per", so this is read as "gigabits per per second".  This issue

[2021-04-14 14:08] jaesoni commented on #73694
Checking

[2021-04-14 14:13] filippopovic commented on #73754
Thank you @SQLAdventurer, docs PR is sent

[2021-04-14 14:25] lennartki opened #73760 "Confused about the broker app"
This doc states that leveraging the _Require app protection policy_  and _Require approved client app_ grant controls, both require that the device be registered in Azure Active Directory which requires the use of a broker app. For both grants the broker apps are different on Android. Either solely the Microsoft Company portal for "Require app protection policy", or either the Microsoft Authentica

[2021-04-14 14:38] lennartki opened #73762 "Working of the "Require one of the selected controls" option needs to be clarified."
There is a note on this page saying that the "Require one of the selected controls" under grant controls is like an OR clause.
The note also states that the Require app protection policy is enforced when the app supports that grant control.

Both statements conflict. If the grant control "Require app protection policy" always is enforced on apps that support this control, whilst other controls are

[2021-04-14 14:39] dfendit commented on #35298
I have the same error.

[2021-04-14 14:40] dfendit commented on #35298
Please reopen this ticket

[2021-04-14 14:56] DerekHerman-MSFT commented on #73749
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-14 14:58] DerekHerman-MSFT commented on #73759
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-14 14:59] leonardschneider opened #73763 "BYOK of an octet key"
Hi,

Is it possible to import an octet key by passing "kty": "oct" in the JSON request on step 4?

BR,

Leo
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1477e35b-7aba-4968-ce0d-53e1c2f27dec
* Version Independent ID: a0590d26-8fd9-df75-1641-6e3738d06cfa
* Content: [Bring your own key specification - Azure Key Vault](ht

[2021-04-14 15:10] JamesTran-MSFT commented on #73743
@MarcoL-4wardPRO
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-14 15:12] JamesTran-MSFT commented on #73760
@lennartki
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-04-14 15:13] amitbapat commented on #73763
Yes. If your are able to produce a .byok package with a symmetric key wrapped with the KEK.

[2021-04-14 15:23] DerekHerman-MSFT opened #73765 "Troubleshoot Azure Files problems in Linux (SMB) returns 404"
The Linux URL for SMB is currently returning a 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e267d760-1762-ab0d-c146-3596ea6f9c31
* Version Independent ID: 18890a3b-e256-35cc-5f11-bc7e92633a13
* Content: [Troubleshoot Azure NFS file share problems - Azure Files](https://docs.microsoft.com/en-us/azure/storage/files

[2021-04-14 15:26] DerekHerman-MSFT commented on #73765
Document seems to be there. Unsure why I am getting a 404.
https://github.com/MicrosoftDocs/azure-docs-pr/blob/master/articles/storage/files/storage-troubleshoot-linux-file-connection-problems.md
https://docs.microsoft.com/en-us/azure/storage/files/storage-troubleshoot-linux-file-connection-problems

[2021-04-14 15:30] santhoshbomma9 opened #73766 "SaaS subscription activation date"
does any filed cover SaaS subscription activation date?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: deb2fe8a-fe5f-c4f5-0466-d3cc5e16636e
* Version Independent ID: 31b94060-4ea9-c706-a6c5-0f0cb31578c7
* Content: [Partner Center Orders dashboard in Commercial Marketplace analytics](https://docs.microsoft.com/en-us/azu

[2021-04-14 15:47] roygara commented on #73765
@DerekHerman-MSFT I can get to the article just fine, you mean this one right?

https://docs.microsoft.com/en-us/azure/storage/files/storage-troubleshoot-linux-file-connection-problems

[2021-04-14 15:52] DerekHerman-MSFT commented on #73352
@hund030 Apologies for the delayed follow-up here. Yes, this feature is available for storage accounts without hierarchical namespace. Previously it was not available for storage accounts with hierarchical namespace, which is why we point this out in the doc. I am assigning this to the author to see if maybe we should remove the statement to avoid confusion.

[2021-04-14 16:00] swinarko commented on #73563
If you want to attach a new SSIS IR to your existing SSISDB, see https://docs.microsoft.com/azure/data-factory/configure-bcdr-azure-ssis-integration-runtime#attach-a-new-azure-ssis-ir-to-existing-ssisdb-hosted-by-azure-sql-databasemanaged-instance.

If you want to create a new SSIS IR without SSISDB using PowerShell, see https://docs.microsoft.com/azure/data-factory/create-azure-ssis-integration-r

[2021-04-14 16:00] #73563 closed

[2021-04-14 16:03] mark-strasser-nnl opened #73769 "Add required key permissions for CMK with auto rotation"
Please list the required key permissions for storage accounts with CMK autorotation.

When granting key vault access to the storage account's managed identity, there many key permissions allowed.  With customer managed keys - and especially with auto rotation - its not obvious all of the required permissions.  According to the docs, it can take up to a day for it to check for a new key.  So unless

[2021-04-14 16:08] jaesoni commented on #73694
yes @caroysMSFT thanks for highlighting the error. However, the ClientRTT part must begin at the start of SYN/ACK response and end as you have depicted.

Further, to eliminate the overlapping lines in the current diagram, we will use this new representation.

![application-gateway-metrics](https://user-images.githubusercontent.com/80025770/114742730-a4fb6d80-9d69-11eb-8e8c-efae3d8a1443.jpg)

[2021-04-14 16:09] joergrenn opened #73770 "Dynamic Group based on costCenter"
Hello,
on a user object there seems to be an employeeorgdata property that contains "costCenter" for a user.
https://docs.microsoft.com/en-us/graph/api/resources/employeeorgdata?view=graph-rest-1.0
How can I use the costCenter propery for a dynamic group membership?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a40

[2021-04-14 16:12] cijothomas commented on #30986
@pzbyszynski If the exception is logged using ILogger, you can use Filters so that it wont be shown in ApplicationInsights.

[2021-04-14 16:24] SamaraSoucy-MSFT commented on #73754
Thanks for the feedback! I have assigned the issue to the doc author.

[2021-04-14 16:24] #73754 closed

[2021-04-14 16:26] aydeisen opened #73771 "Minimum vCPU for Accelerated Networking"
Based on the Accelerated [Networking documentation](https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-powershell), shouldn't the D/S_v2 series show a minimum requirement of 2 vCPUs for accelerated networking, since it doesn't use hyperthreading?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-04-14 16:28] DoychinDoychev opened #73772 "APIM: It is very hard/impossible to setup custom domain"
[Enter feedback here]
There are A LOT of steps missing in the guide. Further, the Prerequisites says
[code]
but then the user journey with a key vault path is creating a certificate for you. Additionally, the documentation states that I should create a CNAME for the "Default" gateway DNS, but as soon as i create my custom domain name the gateway switches to that name. By that definition the CNAME

[2021-04-14 16:46] lg4tech opened #73773 "Error when attempting to deploy VirtualService and Gateway"
Hello,

I've experienced an issue with this documentation. The following errors and solutions allowed me to continue.

`PS /home/lou/aks-voting-app/scenarios/intelligent-routing-with-istio> kubectl apply -f istio/step-1-create-voting-app-gateway.yaml --namespace voting`

`unable to recognize "istio/step-1-create-voting-app-gateway.yaml": no matches for kind "VirtualService" in version "networking.

[2021-04-14 16:47] pzbyszynski commented on #30986
@cijothomas It is not logged using `ILogger`. Here is an example

[code]

`DoSomenthing` throws DB exception that is logged like so:

<img width="785" alt="Screenshot 2021-04-14 at 18 40 04" src="https://user-images.githubusercontent.com/1263004/114747656-5c37ba80-9d51-11eb-8096-727d81f798e8.png">

[2021-04-14 16:48] VanMSFT commented on #52532
@stevestein @rboucher - I couldn't find any references to `SQLSecurityAuditEvents` in the articles mentioned, but `SQLSecurityAuditEvents` is still available according to our documentation.

https://docs.microsoft.com/azure/azure-sql/database/audit-log-format#log-analytics

There's also been topics on how to find this: https://github.com/MicrosoftDocs/azure-docs/issues/21245

[2021-04-14 16:51] cijothomas commented on #30986
What is the value of sdkVersion in the collected ExceptionTelemetry?

[2021-04-14 16:54] SwathiDhanwada-MSFT commented on #73729
@kiranpradeep Thanks for reaching out !!

Assigning to content author @alkohli for review

[2021-04-14 17:03] pzbyszynski commented on #30986
@cijothomas  `azurefunctions: 3.0.15417.0`

[2021-04-14 17:09] cijothomas commented on #30986
ok. Need help from Functions to see who is reporting the exception then.
It doesn't look like its reported by ApplicationInsights SDK.
If you can share a repro (outside Functions), please open an issue here: https://github.com/microsoft/ApplicationInsights-dotnet/issues

[2021-04-14 17:14] tfitzmac commented on #73620
Update was published.
#please-close

[2021-04-14 17:14] #73620 closed

[2021-04-14 17:18] johnsonjohnpat opened #73774 "Cannot find view designer in log analytics"
Cannot find view designer in log analytics.  Have the views been replaced by workbooks?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fcfaf5b-78ea-ac05-bebe-806430114ca9
* Version Independent ID: a6264958-2d6d-2059-d78a-0fba7a7fda7d
* Content: [How to install and use the log analytics views](https://docs.microsoft.co

[2021-04-14 17:32] filippopovic commented on #73754
@SamaraSoucy-MSFT, why is this assigned to me? PR is already sent 3 hours ago.

[2021-04-14 17:37] MarileeTurscak-MSFT commented on #73762
@lennartki
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-14 17:42] KrishnaG-MSFT commented on #73751
@tfitzmac Thanks for the quick response. :+1:

[2021-04-14 17:50] scottcun opened #73775 "Found a few errors in this Tutorial"
Finished going through the Create and connect Client tutorial (Python selected) to test with Raspberry Pi, and found a few errors and anomalies:
- In the 'Run the sample', I needed to use `python3` instead of `python` to execute:
  - `python3 temp_controller_with_thermostats.py`
- When landing on the device page (Devices > Temperature Controllers > sample-device-01), the UX would highlight the 'ab

[2021-04-14 17:52] tchmiel opened #73776 "Build a Custom Base Image has outdated AzureML and Conda versions?"
The "Build a custom base image" session is out of date, as it is still using AzureML 1.13 as well as Conda 4.7
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-custom-docker-image#build-a-custom-base-image

What is the max version that is currently supported?
--Tom

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2021-04-14 18:18] BharathNimmala-MSFT commented on #73766
@santhoshbomma9 Thank you for your query, we will look into it and get back to you at the earliest.

[2021-04-14 18:21] HarshitaSingh-MSFT commented on #73504
Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2021-04-14 18:34] v-nalabr opened #73779 "How to migrate Bing Search API from CS to Bing Search Services?"
The link provided on this page says that any existing Bing Search API instances created under Cognitive Services will need to be migrated to Bing Search Services. However, the page it links to doesn't provide any instructions for how to migrate existing instances - just how to create new ones.

Are there any pages yet that provide instructions on how to do that? If there is no way to migrate exist

[2021-04-14 18:41] RyanHill-MSFT commented on #73747
Thanks @nholling, will get it corrected.

[2021-04-14 18:42] DerekHerman-MSFT commented on #73765
Working fine now, must have been a temporary issue.

[2021-04-14 18:42] #73765 closed

[2021-04-14 18:44] #73747 closed

[2021-04-14 18:53] JasonWHowell commented on #73372
@medha-bhatt Great feedback!

Purview is still in preview, and over time, more features will have parity with existing Azure Data Catalog capabilities.
I don't want to remove the link to Purview documents since all pages have that same templated text on all docs pages.

If you would like to vote up this specific capability, please search, vote, or add it on our user voice feedback forum here: http

[2021-04-14 18:53] #73372 closed

[2021-04-14 19:03] SatishBoddu-MSFT commented on #73775
Hello @scottcun Thanks for the detailed feedback!
I have assigned the issue to the content author for further review.

[2021-04-14 19:14] DerekHerman-MSFT commented on #73769
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-14 19:30] SaurabhSharma-MSFT commented on #73718
@BradLeeHines-ST  I have tried the tutorial and it worked fine.  What version of Spark Event Hubs connector you are using ?
 I have tried both **com.microsoft.azure:azure-eventhubs-spark_2.11:2.3.12** and  **com.microsoft.azure:azure-eventhubs-spark_2.12:2.3.17** and it worked fine for me.

[2021-04-14 19:43] IanMercer opened #73780 "Would help helpful to know which of these are also in the portal"
Rather than AZ commands using the portal may be simpler, but are there options offered by AZ commands that are not in the portal? Hard to tell.

Suggest indicating which of these can also be accomplished in the portal and which are only available using AZ.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68001092-143c-0d

[2021-04-14 19:43] BradLeeHines-ST commented on #73718
I used the version I was instructed to in the documentation for learning
Azure ELT using Databricks.

I had success using com.microsoft.azure:azure-eventhubs-spark_2.11:2.3.12.
I had to remove both maven libraries and re-install them. Version
com.microsoft.azure:azure-eventhubs-spark_2.11:2.3.17
shows as skipped for me.

On Wed, Apr 14, 2021 at 12:30 PM SaurabhSharma-MSFT <
***@***.***> wrote:

--

[2021-04-14 19:48] LaurensBot opened #73781 "Spelling mistake, "v-Center" instead of "vCenter"."
In the 2nd last FAQ it says "v-Center" instead of "vCenter".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a699efb-c78c-2dc6-2d0d-6ffc0a2918ce
* Version Independent ID: 36a048d5-71b5-ce1d-75d7-bd5182f4386b
* Content: [Deploy the configuration server in Azure Site Recovery - Azure Site Recovery](https://docs.microsoft

[2021-04-14 19:52] Amarender-KR opened #73782 "Tried this feature but mail content is coming as not expected."
[Enter feedback here]
I have followed the step exact steps mentioned in the MS page but I'm getting mail with the below content instead of my results from app insights.

**Expected**
I'm using the "traces" option to query my "app insights" and trying to fetch my logs and share those logs results in mail using the Logic apps service.

**Observed**
I have followed the steps provide in the MS page to

[2021-04-14 20:05] ChaitanyaNaykodi-MSFT commented on #73427
Hello @dcorns, Thank you for the feedback I have made a PR to make the suggested change. I will now proceed to close this issue out, please tag me in your response if there are any additional concerns. Thank you!

[2021-04-14 20:05] #73427 closed

[2021-04-14 20:17] SaiKishor-MSFT commented on #73730
@codsoul rewrite are missing for v1, this documents talks about v2. Could you confirm your version?

[2021-04-14 20:24] mds858 commented on #57608
@jasvinder-bhomra-by how did you fix it?

[2021-04-14 20:29] Karishma-Tiwari-MSFT commented on #73748
Thanks for the question. We are currently investigating and will update you shortly.

[2021-04-14 20:32] TravisCragg-MSFT commented on #73710
@RMITBLOG Unfortunately we cannot advise on CIMFS support, that is supported primarily by the Win32 API. Your best bet to clarify the supportability of that service is to create a support request, or [ask your question Here on Win32 API's forum](https://docs.microsoft.com/en-us/answers/topics/winapi-general.html).

We will now proceed to close this thread. If there are further questions regarding

[2021-04-14 20:49] MaraSteiu commented on #69704
Submitted a PR to include this guidance in FAQ section: https://github.com/MicrosoftDocs/azure-docs/pull/73785

[2021-04-14 20:55] sheeeng commented on #73313
It works with `go get` and `go run` by skipping `go install`.
Should we update the documentation before closing this issue?

[2021-04-14 20:56] MaraSteiu commented on #69704
Sorry, should have made the changes to docs-pr. Here is the correct PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/154465

[2021-04-14 21:00] RMITBLOG commented on #73710
Hi Travis, I have been in communication with MS PM's over this. CIMFS is supported on the builds stated on the API. Notwithstanding this, the article does mention CIMFS and is not very clear causing confusion in the Tech communities.

The current content states _"To guarantee compatibility, make sure the CIMs storing your MSIX images are generated on the OS version you're running in your Windows V

[2021-04-14 21:01] marekchmel opened #73786 "Link to GitHub with extension recommendation does not work"
[Enter feedback here]
link on the site "Extend your subnet to Azure using vendor solutions." does not work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c221d52e-1959-7c59-fbb4-2e7690d5ed03
* Version Independent ID: ee419d0c-0243-d5b2-44fd-96857015b793
* Content: [Subnet extension in Azure](https://docs.microsoft.com/

[2021-04-14 21:01] RMITBLOG commented on #73710
@ TravisCragg-MSFT
Hi Travis, I have been in communication with MS PM's over this. CIMFS is supported on the builds stated on the API. Notwithstanding this, the article does mention CIMFS and is not very clear causing confusion in the Tech communities.

The current content states "To guarantee compatibility, make sure the CIMs storing your MSIX images are generated on the OS version you're running

[2021-04-14 21:02] RMITBLOG commented on #73710
Hi @TravisCragg-MSFT , I have been in communication with MS PM's over this. CIMFS is supported on the builds stated on the API. Notwithstanding this, the article does mention CIMFS and is not very clear causing confusion in the Tech communities.

The current content states "To guarantee compatibility, make sure the CIMs storing your MSIX images are generated on the OS version you're running in you

[2021-04-14 21:08] TravisCragg-MSFT commented on #73465
@jrudley Contributor and owner will allow the managed identity to access and make changes, but Contributor is your best bet for a role assignment.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-14 21:08] #73465 closed

[2021-04-14 21:11] TravisCragg-MSFT commented on #73710
@RMITBLOG Thanks for the clarification! I have assigned the issue to the doc author to evaluate and update as appropriate.

[2021-04-14 21:19] aarsan commented on #60886
Private endpoint appears to be working now for slots. Has the limitation been lifted?

[2021-04-14 21:23] carsonruebel opened #73787 "verify/update 1 link"
Can you please double check the link for listauthorizationrules for Service Bus? Link appears to be to Relay's listauthorizationrules API. I believe link should be [this](https://docs.microsoft.com/en-us/rest/api/servicebus/stable/namespaces%20-%20authorization%20rules/listauthorizationrules).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2021-04-14 21:26] MaraSteiu commented on #72910
Thanks! Looking into it.

[2021-04-14 21:36] Oury-MSFT commented on #73313
@David-Engel It works for me as well.

[2021-04-14 21:40] JamesTran-MSFT commented on #73770
@joergrenn
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-14 21:41] GiftA-MSFT commented on #73776
@tchmiel we'll review your feedback and get back to you shortly. Thanks.

[2021-04-14 21:46] stewartadam opened #73789 ""Device Explorer" does not exist anymore (appear to be renamed to Azure IoT Hub under Explorer tab)"
This reference is inaccurate, after some trial an error I found Azure IoT Hub at the bottom of the Explorer tab, and right-clicking a specific device showed "Setup IoT Edge Simulator".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a3f2f86-40bf-19f2-4f56-9dc71ed47fa2
* Version Independent ID: 20e8912c-4a10-68b9-c46a-e

[2021-04-14 21:49] TravisCragg-MSFT commented on #73780
@macolso Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-14 21:50] spelluru commented on #73368
@sjoubert - Sincerely apologize for the trouble. I discussed with our dev and updated the article now, which will go live in 15 minutes. Thanks for reporting the issue.

#please-close

[2021-04-14 21:50] #73368 closed

[2021-04-14 21:53] Karishma-Tiwari-MSFT commented on #73748
I saw that there is an internal thread about this with the product team.

Sharing the PG's response here for others to refer:

Can the customer install a random and custom extension? No.
Can the customer use the Azure Defender and Log analytics agent? Yes.
Can the customer then install other scanning and anti-malware tools that are not provided by Microsoft? Yes, but only via k8s native ways like

[2021-04-14 21:53] #73748 closed

[2021-04-14 21:54] Bec-Lyons commented on #73582
Hi @bdarcuity. We are currently working on tooling to allow users to scale up from multi to single tenant logic apps. This is currently not available and documentation will be released when this feature is ready. If you have an immediate need for migration I'm happy to get in touch to understand your requirements.

[2021-04-14 21:56] Karishma-Tiwari-MSFT commented on #73773
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-14 21:57] Karishma-Tiwari-MSFT commented on #73479
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-04-14 21:57] #73479 closed

[2021-04-14 21:58] Karishma-Tiwari-MSFT commented on #73752
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-14 22:00] Karishma-Tiwari-MSFT commented on #73310
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-04-14 22:00] #73310 closed

[2021-04-14 22:01] spelluru commented on #72865
Will be publishing the updated article in a day or two.

#please-close

[2021-04-14 22:01] #72865 closed

[2021-04-14 22:02] spelluru commented on #73787
#assign:spelluru

[2021-04-14 22:03] spelluru commented on #73787
@carsonruebel - Thank you for reporting the issue to us. Appreciate it. I have fixed the issue and the article will go live tomorrow morning. Thanks again.

[2021-04-14 22:04] bdarcuity commented on #73582
Hi Bec,

Yes!  Would love to talk to you about migration.  We have built a system that processes tens of thousands of pdfs per day made up of about 40 logic apps.  Functionality is done, we are ready to go to Production, and V2 should make operations so much easier.  So this would be a no-code change migration, which might be a good test for your tools.

Send me an invite for any time that works f

[2021-04-14 22:06] rboucher commented on #48461
Fixing via internal PR. https://github.com/MicrosoftDocs/azure-docs-pr/pull/153183/

[2021-04-14 22:07] rboucher commented on #48461
Should be updated by end of week.  #please-close

[2021-04-14 22:07] #48461 closed

[2021-04-14 22:22] TravisCragg-MSFT commented on #73771
@aydeisen Thanks for the feedback! You are correct, it only requires 2 VCPUs for the D_V2 and Ds_V2 sizes to enable accelerated networking. I have updated the doc to properly reflect this, and the doc should reflect the update within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the di

[2021-04-14 22:22] #73771 closed

[2021-04-14 22:23] markmassad opened #73791 "A section to address token timeout would be beneficial. I believe Az Context for Powershell is ~1hr. but not confirmed. How to set it would help as well. Thanks!"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf4da869-3f32-d2bb-d804-62679c1c3cbd
* Version Independent ID: 49ec3073-a31e-a0ab-882d-17d3a7a420b0
* Content: [Runbook execution in Azure Automation](https://docs.microsoft.com/en-us/azure/automation/automation-runbook-execution)
* Content Source: [a

[2021-04-14 22:29] maple10001 opened #73792 "Content out-of-date"
[Enter feedback here]
General availability: Azure Functions supports .NET 5 in production, but the doc still shown as preview.
https://azure.microsoft.com/en-us/updates/general-availability-azure-functions-supports-net-5-in-production/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40e84dea-0cdb-2aa7-6aa0-a4c697ef19ac

[2021-04-14 22:31] BharathNimmala-MSFT commented on #73781
@LaurensBot  Thanks again for bringing this to our notice and helping us improve our Azure documentation. I have raised a PR and once its reviewed and approved the changes will go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and close this issue for now, however if you have any further

[2021-04-14 22:31] #73781 closed

[2021-04-14 22:36] KumudD commented on #7993
#please-close

[2021-04-14 22:36] #7993 closed

[2021-04-14 22:41] BharathNimmala-MSFT commented on #73654
@Diyakachhadiya Since we have not heard back from you we will now proceed to close this thread. If you could share the documentation link that would help us to redirect the request accordingly. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-04-14 22:41] #73654 closed

[2021-04-14 22:42] KumudD commented on #17142
The article has been updated. Thanks!
#please-close

[2021-04-14 22:42] #17142 closed

[2021-04-14 22:42] ecfan commented on #73582
Hi @bdarcuity,

As the team acknowledges that migration tooling is on the backlog, I created a content work item to track the corresponding doc work. For now, I'll close this issue.

To submit product-related ideas, please open those items at the [Logic Apps customer feedback site](https://feedback.azure.com/forums/287593-logic-apps) so others can vote too. For product issues, you can open them in

[2021-04-14 22:42] #73582 closed

[2021-04-14 22:44] rolyon commented on #73635
Hi @RickFoster
Thanks for taking the time to provide detailed feedback. We've updated this article with your changes.
https://docs.microsoft.com/en-us/azure/active-directory/roles/admin-units-assign-roles
Let us know if you have any additional feedback.
thanks!

[2021-04-14 22:45] rolyon commented on #73635
#please-close

[2021-04-14 22:45] #73635 closed

[2021-04-14 22:45] KumudD commented on #19779
Closing this issue, since this is being tracked in a new item. Thanks!
#please-close.

[2021-04-14 22:45] #19779 closed

[2021-04-14 22:51] KumudD commented on #25072
Closing this issue since the article **Azure DMZ Example – Build a Simple DMZ with NSGs** no longer exists. Thanks!
#please-close.

[2021-04-14 22:51] #25072 closed

[2021-04-14 22:52] JamesTran-MSFT commented on #73774
@johnsonjohnpat
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-14 22:52] KumudD commented on #25071
Closing this issue since the article Azure DMZ Example – Build a Simple DMZ with NSGs no longer exists. Thanks!
#please-close.

[2021-04-14 22:52] #25071 closed

[2021-04-14 22:53] ChaitanyaNaykodi-MSFT commented on #73756
Hello @simonvane,
Thank you for your feedback! We will review and update as appropriate.

[2021-04-14 22:54] femsulu commented on #73631
@paulfino, assuming you are deploying on VMware, confirm the [required permissions](https://docs.microsoft.com/en-us/azure/migrate/add-server-credentials#required-permissions)s have been provisioned on the appliance. You should be able to [add/remove credentials workflow](https://docs.microsoft.com/en-us/azure/migrate/add-server-credentials#add-credentials-for-servers-running-in-vmware-environment

[2021-04-14 22:55] ChaitanyaNaykodi-MSFT commented on #73772
Hello @DoychinDoychev,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-04-14 22:57] femsulu commented on #73631
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-04-14 22:57] #73631 closed

[2021-04-14 23:00] ChaitanyaNaykodi-MSFT commented on #73792
Hello @maple10001
Thank you for your feedback! We will review and update as appropriate.

[2021-04-14 23:02] femsulu commented on #73791
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-04-14 23:05] femsulu commented on #73782
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-04-14 23:17] rwike77 commented on #69050
@jeevanbalanmanoj   Thanks, I think this is worthwhile pointing out.  I've updated the initial scopes section to mention both OIDC scopes as well as resource based permissions (resource ID + permission).  #please-close

[2021-04-14 23:17] #69050 closed

[2021-04-14 23:20] RyanHill-MSFT commented on #73315
Hi @RonnyA, apologies for the delayed response. Step 4 on https://docs.microsoft.com/en-us/azure/static-web-apps/deploy-blazor instructs you to use _Blazor_ as the build preset which sets output location to *wwwroot*.

![image](https://user-images.githubusercontent.com/47189704/114792126-c18daa80-9d55-11eb-910b-72211482928b.png)

Is a generic statement to set `output_location` to whatever folder y

[2021-04-14 23:20] #73315 closed

[2021-04-14 23:30] samadara-msft opened #73795 "Possibility of Increasing update domains in Availability Set"
This document section https://docs.microsoft.com/en-us/azure/virtual-machines/availability-set-overview#how-do-availability-sets-work says "For a given availability set, five non-user-configurable update domains are assigned by default (Resource Manager deployments can then be increased to provide up to 20 update domains". It does not look like it is possible to increase update domains once Availa

[2021-04-14 23:43] David-Engel commented on #73313
I'll submit a PR and close this issue once it's merged.

[2021-04-14 23:50] RyanHill-MSFT commented on #73757
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-15 00:03] jyama4ta opened #73796 "Please remove wrong warming"
As we discussed https://github.com/MicrosoftDocs/azure-docs/issues/73748, AKS cluster supports the Azure Defender and Log analytics agent.

Could you please remove wrong important warning as below? It cause confusion. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad7c05f1-f69c-c033-0409-39f5c8f03674
* Versi

[2021-04-15 00:10] David-Engel commented on #73313
Doc updated. It should be reflected after the next scheduled publish.

#please-close

[2021-04-15 00:10] #73313 closed

[2021-04-15 00:13] msmbaldwin commented on #56779
This article no longer exists. The URL now redirects to https://docs.microsoft.com/en-us/azure/app-service/security-baseline. Thank you! #please-close

[2021-04-15 00:13] #56779 closed

[2021-04-15 00:14] msmbaldwin commented on #56327
This article no longer exists. The URL redirects to https://docs.microsoft.com/en-us/azure/service-fabric/security-baseline. Thank you! #please-close

[2021-04-15 00:14] #56327 closed

[2021-04-15 00:27] komayama opened #73797 "Need to add more detail NSG explain for use Regional VNet Integration"
I request you to add more detail information about NSG for use Regional VNet Integration. This page introduce how to use NSG that App Service outbound traffic setting. Some users this NSG setting with integrated subnet deny to communication the Internet and set `WEBSITE_VNET_ROUTE_ALL=1` in app settings. when cut off outbound traffic to the internet and AppService all traffic route to integrated s

[2021-04-15 00:51] jesussalasp opened #73798 "Customize Audience on SAML2.0 Token"
We have a SAP-HANA system which supports only 1 SpID identifier, this configured SpID must match the Audience in the SAML 2.0 Token to support SSO , AAD automatically populate this xml node (AudienceRestrictions->Audience) with spn:[Guid] which is different for each AAD registration, we have multiple applications registered in AAD and we are interested for all users to SSO to Hana using their resp

[2021-04-15 00:56] jesussalasp opened #73799 "Customize Audience on SAML2.0 Token"
We have a SAP-HANA system which supports only 1 SpID identifier, this configured SpID must match the Audience in the SAML 2.0 Token to support SSO , AAD automatically populate this xml node (AudienceRestrictions->Audience) with spn:[Guid] which is different for each AAD registration, we have multiple applications registered in AAD and we are interested for all users to SSO to Hana using their resp

[2021-04-15 00:57] #73798 closed

[2021-04-15 01:07] BharathNimmala-MSFT commented on #73691
@tmathew1000 Thanks again for sharing your feedback, I have passed on your feedback to our internal product team and they have taken note of the request of having more screenshots as they work through updating the docs. We really appreciate you taking time and sharing your feedback to improve our documentation.

We will go ahead and close this issue for now, however if you have any further feedbac

[2021-04-15 01:07] #73691 closed

[2021-04-15 01:22] xps233 opened #73800 "Server 2008 R2 couldn't get accessed to Azure File Share, with the given PowerShell script in Portal"
Hi Team,

We‘ve encountered issues in getting getting Azure FileShare mounted in Windows Server 2008 R2 system, screenshot as belows:
![ppp62](https://user-images.githubusercontent.com/74043506/114800144-b5dccb00-9dcb-11eb-815b-bc5f3e3d1286.PNG)

As for the document suggested, it's supported for this system to mount.
![image](https://user-images.githubusercontent.com/74043506/114800187-cdb44f00-9d

[2021-04-15 01:26] BharathNimmala-MSFT commented on #73689
@rafaelyMSFT We really appreciate you taking time to bring this to our notice and helping us improve our Azure documentation. I have raised a PR to correct the diagnostic logs for Windows Virtual Desktop. Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above

[2021-04-15 01:26] #73689 closed

[2021-04-15 01:35] rafamerlin opened #73801 "Example can be misleading if you have multiple partitions."
Just wanted to give a heads up that this:
[code]

In a scenario where you have 2 partitions in your Eventhub will lead to your consumer only reading all the messages from one of the partitions as the LB takes 10 seconds to trigger.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4c6d63e-95f5-de2c-972b-4da5fe71a6a6
* Ve

[2021-04-15 01:57] hund030 commented on #73352
@DerekHerman-MSFT Thanks for your clarification!

[2021-04-15 02:00] Karishma-Tiwari-MSFT commented on #73605
We do have another GitHub issue open with the same request. It is assigned to author for review.
https://github.com/MicrosoftDocs/azure-docs/issues/73032

I will close this one and escalate it to the doc author on the older existing thread.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I wi

[2021-04-15 02:00] #73605 closed

[2021-04-15 02:00] Karishma-Tiwari-MSFT commented on #73032
@zr-msft Can you please help with this update. We have another GitHub issue come up for the same issue:
https://github.com/MicrosoftDocs/azure-docs/issues/73605

[2021-04-15 02:58] asukumar22 opened #73802 "Azure CLI Command to deploy the Bicep file is given wrongly"
![image](https://user-images.githubusercontent.com/70966383/114807308-0ec04b00-9d5b-11eb-94af-3ab9d21f0fb8.png)
It should be $bicepFile but it is given as bicepFile. Also, it is correctly given in the PowerShell method. Also, I have tested running the deployment with bicep file, was not able to have it working, it asks for the file to be a valid JSON File and hence after I converted the bicep file

[2021-04-15 04:10] RohitMungi-MSFT commented on #73779
@v-nalabr Based on my experience users need to create [new instance from the marketplace](https://blogs.bing.com/search-quality-insights/october-2020/Bing-Search-APIS-are-Transitioning). Instances provisioned under cognitive services will be supported for next 3 years or until the end of EA. We will review the banner on the page and correct as required because migrating from cognitive services to

[2021-04-15 04:14] badalk opened #73803 "Confusion between AKS Service permissions and Cluster Identity"
AKS Team, what do you mean by cluster identity here? is it a service principal / Managed identity we use while creating a cluster?
I am trying to make sense of this document and still everytime i read I get confused.

What is the difference between AKS Service permissions and Cluster Identity. Although you say it is different, but which one is used when? From the literature of this page looks like

[2021-04-15 04:21] CHEEKATLAPRADEEP-MSFT commented on #73789
@stewartadam  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-15 04:22] CHEEKATLAPRADEEP-MSFT commented on #73801
@rafamerlin  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-15 04:27] eyoh5 opened #73804 "mark for Java version is confusing"
[Enter feedback here]

It seems that the java v12, 11 written in this doc means the version of Azure SDK for java.
Some people misunderstood this version as a java language version.

Please make sure it is not representing the java language version and is representing the version of Azure SDK for java.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-04-15 04:35] KalyanChanumolu-MSFT commented on #62347
@JeremyCaney Thank you for reaching out and sharing your feedback.

I'd be happy to re-open the issue.
We have highlighted this on the documentation page already. Are you suggesting we make it more prominent?
The page is there is make existing customers aware that they need to move to the standalone Azure Cosmos DB Explorer

![image](https://user-images.githubusercontent.com/8835012/114813643-2d14

[2021-04-15 04:48] SwathiDhanwada-MSFT commented on #73683
@Ostars-eye As requested, can you please elaborate your issue so that we can assist you accordingly?

[2021-04-15 04:52] #73560 closed

[2021-04-15 04:59] BharathNimmala-MSFT commented on #73786
@marekchmel Thanks a lot for bringing this to our notice, we will review it and fix the document accordingly.

[2021-04-15 05:02] SnehaAgrawal-MSFT commented on #73797
@komayama Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-15 05:08] BharathNimmala-MSFT commented on #73802
@asukumar22 Thank you for bringing this to our notice, our team will review it and get back to you at the earliest.

[2021-04-15 05:15] psmanhas commented on #73795
@samadara-msft Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-04-15 05:15] psmanhas commented on #73795
@mimckitt Can you please check and add your comments on this doc update request as applicable

[2021-04-15 05:17] HarshitaSingh-MSFT commented on #73504
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-15 05:17] #73504 closed

[2021-04-15 05:25] KalyanChanumolu-MSFT commented on #73570
@holc-tkomp  Microsoft.IdentityModel.Clients.ActiveDirectory itself is being deprecated in favor of Microsoft.Identity.Client to move all authentication libraries to MSAL.
The MsalUiRequiredException exception usually suggests that you need to acquire the token again interactively when silent acquistion fails. Please check this [document](https://docs.microsoft.com/en-us/azure/active-directory/dev

[2021-04-15 05:42] kelvin-ko commented on #73504
I got the info that i am lookinf for, please close this ticket. Thanks @HarshitaSingh-MSFT

[2021-04-15 06:06] AnuragSharma-MSFT commented on #73668
@thommck Thanks for providing more details. I could not locate the information as well. I am assigning this to content author to review and update as appropriate.

[2021-04-15 06:42] pzbyszynski commented on #30986
@cijothomas Not sure if this exists outside functions, I use Polly only in functions. Also, FYI I created an issue here: https://github.com/Azure/azure-webjobs-sdk/issues/2612 but with no response

P.S. As always, thx for your help @cijothomas, please let me know if you learn something :)

[2021-04-15 06:44] psmanhas commented on #73803
@badalk
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-04-15 06:44] psmanhas commented on #73803
@badalk Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-04-15 06:55] SnehaAgrawal-MSFT commented on #73440
@yiliuTo Thanks for reply! Sure. In order to see your environment variables, you can use the Environment page in Advanced Tools/Kudo console or can use code to retrieve the environment variables.

[2021-04-15 07:00] anirbansaha96 opened #73806 "Python Client Libraries are not present."
`from azure.ai.anomalydetector.models import DetectionRequest, ModelInfo`

Throws an error:
[code]
`AttributeError: module 'azure.ai.anomalydetector.models' has no attribute 'DetectionRequest'`
`AttributeError: module 'azure.ai.anomalydetector.models' has no attribute 'ModelInfo'`

`from azure.ai.anomalydetector.models import DetectRequest` goes through fine.

ModelInfo class is used in the docume

[2021-04-15 07:22] MayankBargali-MSFT commented on #73666
@pattisd01 Thanks for reporting the issue. I was able to repro the issue at my end. The policy is getting saved correctly at the backend while defining the value as "false" to the attribute [terminate-unmatched-request](https://docs.microsoft.com/en-us/azure/api-management/api-management-cross-domain-policies#attributes). I have engaged my team to fix the issue as it is not reflecting correctly on

[2021-04-15 07:22] shkumesh opened #73807 "customize SAML token claims : Extract : Space"
I have a requirement to extract before/after matching space character (" "). I tried using " ", but no luck.

`Extract() - After matching | Returns the substring after it matches the specified value. For example, if the input's value is "Finance_BSimon", the matching value is "Finance_", then the claim's output is "BSimon".`

[AAD SAML claim Customization](https://github.com/MicrosoftDocs/azure-do

[2021-04-15 07:24] jbm00n opened #73808 "Missing availability zones documentation"
This announcement (https://azure.microsoft.com/en-us/updates/azure-api-management-support-for-availability-zones-now-generally-available/) points to this page to "learn more" about the new availability zone support, but I see no documentation about zones in this page.

Or should the announcement points to some other page?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is re

[2021-04-15 07:28] dfatkulbayanova opened #73809 "Metrics names incorrect"
[Enter feedback here]

The metrics names are incorrect, I am testing with Azure Log analytics and I am getting different names rather than in this document
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62f7409d-5cbe-20d0-e37a-891981ecac97
* Version Independent ID: ad725093-ebd3-ecfc-84c8-e7c19a715979
* Content: [Monito

[2021-04-15 07:45] sjoubert commented on #73368
@spelluru  Thanks for the update. There are still a few things I find odd:
* The `Notes` column of the token type table still specifies `Not yet available` for the `jwt` type. Shouldn't that be removed?
* It appears a lot of the communication/transfer examples in other tables have been "code-quoted", however the formatting is now broken, they contain `<br/>` HTML tags which now appear in the middl

[2021-04-15 07:51] chengyu-liu-cs opened #73810 "Azure ML workspacefilestore (default)"
[Enter feedback here]

`When you create a workspace, an Azure blob container and an Azure file share are automatically registered as datastores to the workspace. They're named workspaceblobstore and workspacefilestore, respectively. The workspaceblobstore is used to store workspace artifacts and your machine learning experiment logs. It's also set as the default datastore and can't be deleted from

[2021-04-15 08:18] SwathiDhanwada-MSFT commented on #73448
@Fazaarycode As we haven't heard from you, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-04-15 08:18] #73448 closed

[2021-04-15 08:31] SwathiDhanwada-MSFT commented on #73441
Assigning to content author @noakup  for review.

[2021-04-15 08:37] OliverRC opened #73811 "Search Page seems to no longer exist"
Search Page seems to no longer exist

![image](https://user-images.githubusercontent.com/1888486/114839826-83849b00-9dd6-11eb-8175-4aec10efa98e.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e8d2de3-73e5-857c-f87e-38ad9ed1358d
* Version Independent ID: 86ad9550-7a64-948e-440a-4b97bf5c812d
* Content: [Using Search

[2021-04-15 08:50] boris-tarasov-maersk opened #73812 "Can we create feature flags programmatically?"
[Enter feedback here]

Can we create feature flags programmatically? I see we can easily read them. Can we also create them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e89c8e11-d8bf-7c62-1bd2-bfaf145d20ae
* Version Independent ID: cac9d257-3328-0ed7-fa73-22be44bf84c5
* Content: [Understand feature management using

[2021-04-15 08:58] boris-tarasov-maersk opened #73813 "FF scoping other that users and user groups, labels?"
[Enter feedback here]

What would your suggestion when FF are scoped to entitles different than users or groups of users?
Main entity in our app is a "product" and there are number of users who are managing different products.

An example

in our app we have 200+ products what are commercial entities. For each product our app helps users to manager their infrastructure. For each product we might w

[2021-04-15 09:06] boris-tarasov-maersk commented on #73813
a sub question here could be, how many labels I can use? Are there limits? if it was planned for a environment differentiation then you could have some hard limits like 50 or so. The number of products we might have are 400+

[2021-04-15 09:14] SwathiDhanwada-MSFT commented on #73811
@OliverRC Thanks for your feedback.

Assigning to content author @lgayhardt for review and document enhancement.

[2021-04-15 09:29] terrencehatchet commented on #47169
I suspect this issue may have been addressed yesterday...
https://azure.microsoft.com/en-gb/updates/azure-api-management-support-for-availability-zones-now-generally-available/

I'm not 100% clear from following the links how to implement availability zone redundancy unless simply deploying >1 unit will deploy them into separate zones? I'd really like this confirming however.

[2021-04-15 09:30] DoychinDoychev commented on #73772
Thank you so much.
I want to apologise if my language was rude, I really didn't mean to be.
I was frustrated as i spent 5 hours yesterday trying over and over again to get this working without any luck.
And the only documentation  this subject is [Configure a custom domain name for your Azure API Management instance](https://docs.microsoft.com/en-gb/azure/api-management/configure-custom-domain?WT.

[2021-04-15 09:44] hnph12 opened #73814 "The solution has been outdated."
Hi All, when I deployed the alert management solution, I found that there will be no data in the summary dashboard even if I have couple of alerts triggered. After checked the backend query for the chart, I found it filter with **AlertSeverity in ("Error", "Critical")**. However, the AlertSeverity parameter is actually tagged with number **0, 1, 2, 3**… instead of **critical, warning, information*

[2021-04-15 09:59] krisztianpinter commented on #11854
this behavior is confusing as hell. so now i can't buy a reservation until the trial expires, even if i'm not in the trial anymore. but to figure that out, i had to scavenge the internet and faqs for like half an hour. why would you limit customer choice this way?

[2021-04-15 10:01] MayankBargali-MSFT commented on #73808
@jbm00n Thank you for your feedback! We will review and update as appropriate.

[2021-04-15 10:04] thepaulmacca commented on #68066
Can I get this issue reopened please as unless I'm missing something, I don't see what's mentioned above in my portal:

![image](https://user-images.githubusercontent.com/41340540/114851827-2559b700-9dda-11eb-81a9-6bb57d0ed348.png)

I'm having a really hard time finding out how to remove a VM from Update Management

Thanks

[2021-04-15 10:13] steverash opened #73815 "Kube-advisor is not working or maintained now."
The kube-advisor GitHub repo linked to here is not maintained.   The install errors - the GitHub issue reporting it has been open since 2019 and the PR submitted to address it in 2019 is not merged.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75f24d19-2f92-65db-2228-fcd518182205
* Version Independent ID: 6784e3d8-c8

[2021-04-15 10:13] thepaulmacca opened #73816 "No Saved Groups"
This is following on from #68066 - I'm not sure why it's closed, as it still seems to be an issue?

Unless I'm missing something, I don't see any default Saved Groups in my portal, so I can't run the query to remove a VM

![image](https://user-images.githubusercontent.com/41340540/114852816-0b6ca400-9ddb-11eb-8760-e2cc95e023e6.png)

---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-04-15 10:17] benbelow commented on #49834
@ma499 I'm also interested in the effect on Timer Triggers - I've previously been told by MS support that timer triggers are set up to only run once across all horizontal instances *and slots*, and that setting up 100% traffic to a production slot would ensure that a timer was only run on the production slot - but having read this thread I'm suspicious of that answer - it seems very unlikely that

[2021-04-15 10:32] benbelow opened #73819 "Add clarification for how various trigger types are run on non-production slots"
I'm really struggling to find any definitive documentation on the interaction of non-production slots, and event-based function triggers.

In my case I'm specifically talking about an instance with two slots: production and staging, with 100% traffic to production, and auto-swap set up from staging to production.

This line `If a function is running during a swap, execution continues and the next

[2021-04-15 10:34] the-grayest opened #73820 "Code example for azcopy"
Team,

In the code snippet this line:
.\azcopy copy $sourceSASURI $targetSASURI --blob-type PageBlob

xxx@Azure:~$ .\azcopy copy $sourceSASURI $targetSASURI --blob-type PageBlob
bash: .azcopy: command not found

azcopy copy $sourceSASURI $targetSASURI --blob-type PageBlob

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-04-15 10:43] jbfm commented on #49147
@BryanTrach-MSFT The updated documentation isn't correct. It's the base64 encoded data that Azure stores that can't be over 4000 characters. The base64 is often larger than the actual compose file, so it's very hard to know when/if you hit the limit.

[2021-04-15 10:56] taukhan-ace opened #73821 "Need detailed step by step instruction for the setup as the current documentation lacks the detaisl ."
[Enter feedback here]
The documentation does not contains detailed step by step guide to follow and ARR support had the same experience where they had to refer multiple documents for individual components . I has attached the step by step guide ARR created to help UBS setup their SHIR with private end point.

Ask: To Update the documentation with granular details which will help customer be self s

[2021-04-15 11:04] #73514 closed

[2021-04-15 11:06] SwathiDhanwada-MSFT commented on #73514
@gavhooper I have made necessary changes to the document and the changes will be live soon.

[2021-04-15 11:15] cahann commented on #73652
can you provide an example of the issue ? Did you try using double byte character and got an error ?

[2021-04-15 11:21] TimoNordstrom opened #73822 "Minimum required .NET Framework version is 4.8"
Minimum requirement for .NET Framework version seems to be nowadays 4.8 instead of 4.7.2. At least for Azure Windows Server 2016.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0deaa8b2-66a2-b45c-3ecd-7ea2d08503ed
* Version Independent ID: 364890ed-d3ba-9e01-c40a-ce78600319f1
* Content: [Install on-premises data gatewa

[2021-04-15 11:24] abij opened #73823 "Link 'Keep data secure with secrets' to page results in 404"
Incorrect links at the botton of the page:

Learn more
Here are some resources to help you build a comprehensive data governance solution that meets your organization’s needs:

Access control on Databricks
Databases and tables
Keep data secure with secrets

incorrect:
https://docs.microsoft.com/en-us/security/secrets/index.html

Should be:
 https://docs.microsoft.com/en-us/azure/**databricks**/sec

[2021-04-15 11:37] balintbako-d4t4 opened #73824 "Is it in synch with Security Compliance Toolkit?"
Hi,

I was wondering if Azure Security Baseline is in sync with the Security Compliance Toolkit GPOs?
https://docs.microsoft.com/en-us/windows/security/threat-protection/security-compliance-toolkit-10

We have applied the GPOs from the Security Compliance Toolkit 1.0 to a Windows Server 2019 Azure VM and the "[Preview]: Windows machines should meet requirements of the Azure Security Center baselin

[2021-04-15 11:38] shashishailaj commented on #73796
@jyama4ta Thank you for pointing this out. We will investigate and update the thread.

[2021-04-15 11:43] shashishailaj commented on #73799
@jesussalasp Thank you for your feedback . We will investigate and update the thread.

[2021-04-15 11:51] psmanhas commented on #73815
@steverash
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-04-15 11:51] psmanhas commented on #73815
@zr-msft
Can you please check and add your comments on this doc update request as applicable

[2021-04-15 11:53] psmanhas commented on #73820
@the-grayest Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-04-15 11:58] RohitMungi-MSFT commented on #73810
@chengyu-liu-cs  Thanks for the feedback. We are investigating the issue and will update you shortly.

[2021-04-15 12:10] shashishailaj commented on #73799
@jesussalasp I would like to request you to check the [SAP Hana SSO integration Tutorial](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/saphana-tutorial) . I will find out about the other query if we can include multiple audiences in the token and let you know.

[2021-04-15 12:11] shashishailaj commented on #73804
@eyoh5 Thank you for your feedback . We will review this and update the thread.

[2021-04-15 12:12] jcruiz commented on #73667
Thank you for your feedback. I have made slight changes to the wording in the article

[2021-04-15 12:13] shashishailaj commented on #73800
@xps233 Thank you for your feedback . We will investigate and update the thread.

[2021-04-15 12:16] shashishailaj commented on #73807
@shkumesh Thank you for your query. We will investigate and update the thread.

[2021-04-15 12:19] DCtheGeek commented on #73824
Thanks for the question @balintbako-d4t4. I've pinged the PM on this.

#assign:DCtheGeek
#label:"product-question"
#label:"assigned-to-author"
#label:"triaged"
#label:"in-progress"

[2021-04-15 12:20] renymjohn commented on #73652
Hi, no. This was not mentioned in the help docs. Therefore,was suggesting
to have this updated in the documentation.
Regards
Reny

On Thu, Apr 15, 2021, 4:45 PM Carol Hanna ***@***.***> wrote:

[2021-04-15 12:20] michaelelleby commented on #37163
@sopelt It seems that it is indeed supported in ARM templates, however it is supported as a separate resource, i.e. not nested under the Front Door resource:
[code]
It is not documented, but this is the ARM that is generated, when you configure HTTPS through the portal and then afterwards export the Front Door instance as a template.

[2021-04-15 12:22] MayankBargali-MSFT commented on #73734
@pemsft On 14th April there was [announcement](https://azure.microsoft.com/en-us/updates/azure-api-management-support-for-availability-zones-now-generally-available/) API Management support for Availability Zones now generally available. I am working with the team if there will be any new document published for this feature. We will add this need feature on [API Management feature](https://docs.mi

[2021-04-15 12:22] jcruiz commented on #73653
Can you provide more details? If I understand this correctly, when you download the `id-configuration.json`  are you saying that the domain from your JWT and the DID do not match?

[2021-04-15 12:26] RohitMungi-MSFT commented on #73810
@chengyu-liu-cs I tested this scenario and noticed the same behavior as documented. The workspacefilestore is available and is created too. Is it possible that the filestore may have been deleted from your storage account?
Could you please check your storage account or try to create a new workspace and check if the same behavior is seen?

[2021-04-15 12:32] MayankBargali-MSFT commented on #73822
@TimoNordstrom This is the minimum requirement where you want to install the OPDG and still holds true. As per the On-premises data gateway Version: 3000.77.7: https://www.microsoft.com/en-us/download/details.aspx?id=53127

Supported Operating System:
Windows 10, Windows Server 2012 R2, Windows Server 2012, Windows 8, Windows Server 2016, Windows Server 2019
**.Net Framework 4.7.2 or greater**

Le

[2021-04-15 12:37] GitaraniSharma-MSFT commented on #73809
@dfatkulbayanova , thank you for your feedback. We'll review this and get back to you shortly!

[2021-04-15 12:43] MayankBargali-MSFT commented on #73819
@benbelow Thank you for your feedback! We will review and update as appropriate.

[2021-04-15 12:45] Luteoos opened #73827 "Android Things Support"
Hi,

I wonder how and if Google sunsetting Android Things will impact Azure IoT SDK for Java and apps using it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e147f54-3c7e-6b13-b5aa-18f7339aa550
* Version Independent ID: e86bb909-96b2-dd7f-e2bd-fb53bd1eea84
* Content: [Develop for Android Things platform using Azure I

[2021-04-15 12:46] RohitMungi-MSFT commented on #73806
@anirbansaha96 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2021-04-15 12:48] Smurgl opened #73828 "Outdated Service Definition"
In this document, there is a section for the service definition and an example is shown. Examples are always welcome, but in this case it goes against the previous step of "Prerequisites for deployment", which included notes about removing the <imports> sections and remote desktop settings. This made it a little confusing and I ended up trying both approaches to see what worked.

https://docs.micr

[2021-04-15 13:01] spelluru commented on #73368
@sjoubert - Sorry. I will fix them now. Thank you!

[2021-04-15 13:26] PKPublicCode opened #73829 "Recommendations for Microsoft.Azure.Cosmos.Container lifecycle"
This article recommends use CosmosClient as singleton.
Is there any recommendations about Microsoft.Azure.Cosmos.Container?
Does it support concurrency? Can application use it as a singleton? Use pool of instances?

Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df5fa7ab-4ed8-174d-5173-b995d1610604
* Version Inde

[2021-04-15 13:38] KranthiPakala-MSFT commented on #73823
@abij
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-04-15 13:39] jesussalasp commented on #73799
Hello @shashishailaj we tried that option and did not work, the database disallow the user authentication because the audience do not match with the configuration on the DB.

[2021-04-15 13:52] dohughes-msft opened #73830 ""Domain" instead of "Zone" in Azure"
Hi folks, there seems to be a copy-paste error in the diagram at the top where Azure is showing "Availability Domain 3" instead of Zone.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ade0791-c3df-26a0-3cc5-447c1c3a4430
* Version Independent ID: dc92c106-d262-7a94-a35f-31e4cd78b343
* Content: [Connect Azure ExpressRou

[2021-04-15 13:54] carrenomc opened #73831 "Using Filter Activity into a ForEach Loop Activity"
Hi, I see that you can not reference to the current variable @item() of the ForEach Activity into the Filter Activity because it use same variable to refer to its value in the condition. So we can not loop an array and filter another with each value.

[2021-04-15 13:57] nitmatgeo commented on #73268
@PramodValavala-MSFT I was looking for Powershell version of end point handshake; am still not having an idea. Thank you for the other link, I mistakenly used '$eventGridTrigger' instead of updating the same in function.json.

1. Any sample for Powershell version of end point handshake
2. Can I bind HTTP response as output when using GridTrigger schema? Else, how do I return a custom response?
![i

[2021-04-15 14:03] don007git opened #73832 ""Connect to Computer Instances" option not available"
[Enter feedback here]
I can see all my compute instances as shown in the first diagram in the page, but when I hover my mouse on the instance, I only see 4 options, without the "Connect to Computer Instances" option.

My VS version is 1.55
My Azure ML extension is 0.6.22

Please advise what I missed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2021-04-15 14:09] duaneguthrie opened #73833 "OpenLogic CentOS 7_9-gen2 does not have cloud-init enabled by default"
i have a product that works in aws.  now trying to make it work in Azure.  (so customer that have azure can use it).
Getting cloud-init to run in auzre with a ARM provisioned collection has been 10 times more complicated than aws.

i finally figured out that OpenLogic CentOS 7_9-gen2 should have it working by default by finding this page.  the package is installed 19.x.  but it is disabled:
 grep

[2021-04-15 14:09] jovanpop-msft commented on #70011
The most important thing is to use ANY collation that ends with _UTF8. This ensures that utf8 characters are properly interpreted as varchar columns.

For CSV you can use any _UTF8 collation. In this article is proposed CI_AI just as one example, but you can use any other collation.

Parquet is slightly different. With parquet you can also use ANY _UTF8 collation. However; if you use _BIN2 collati

[2021-04-15 14:13] KranthiPakala-MSFT commented on #73823
Hi @leifbro , @mssaperla - Looks like below highlighted links are broken. Could you please help to fix them.

![image](https://user-images.githubusercontent.com/50185738/114883708-051a0000-9dba-11eb-83f5-c4fd3c7b3364.png)

Thank you

[2021-04-15 14:18] SnehaAgrawal-MSFT commented on #73440
@yiliuTo We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2021-04-15 14:18] #73440 closed

[2021-04-15 14:19] SnehaAgrawal-MSFT commented on #73573
@tnobile Since we didn't hear from you. We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2021-04-15 14:19] #73573 closed

[2021-04-15 14:24] afscrome opened #73834 "Bicep tutorial links to "User Defined Functions", even though they're not supported by bicep"
The first paragraph of this page says:

However bicep doesn't support user defined - https://github.com/Azure/bicep/issues/2189#issuecomment-815962675 .  This link should be removed, with perhaps a mention that user defined functions are not supported in bicep.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b22fedb-34

[2021-04-15 14:24] robmaynardjr opened #73835 "Add note to enable aks-preview"
Please add a note to run the below command in the "Set auto-upgrade channel" section until the feature is out of preview.

`az extension add --name aks-preview`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7010bd58-42b1-5c90-3253-05deed855be8
* Version Independent ID: c890efb2-cdaf-a3eb-d54f-0e7ccbd4314d
* Content: [

[2021-04-15 14:29] KrishnaG-MSFT commented on #73592
@benjamincburns Here is a the list that you can set. None of these are reserved.

AZ_SCRIPTS_PATH_INPUT_DIRECTORY - /mnt/azscripts/azscriptinput
AZ_SCRIPTS_PATH_OUTPUT_DIRECTORY - /mnt/azscripts/azscriptoutput
AZ_SCRIPTS_PATH_USER_SCRIPT_FILE_NAME - userscript.ps1
AZ_SCRIPTS_PATH_PRIMARY_SCRIPT_URI_FILE_NAME - primaryscripturi.config
AZ_SCRIPTS_PATH_SUPPORTING_SCRIPT_URI_FILE_NAME - supportingscri

[2021-04-15 14:30] #73592 closed

[2021-04-15 14:31] SnehaAgrawal-MSFT commented on #73682
@atrauzzi Thanks for the feedback! If you are looking for Access type Private in docker hub options while creating Docker container web app? Could you please elaborate on Private container or screenshot to help you better on this?

[2021-04-15 14:33] tfitzmac commented on #73802
@asukumar22 - the CLI examples are written for a Bash environment. For Bash, the correct syntax for setting the variable is without $.

It sounds like you might need to update your version of CLI. Can you run "az --version" and make sure you have 2.20 or later?

[2021-04-15 14:34] BharathNimmala-MSFT commented on #73834
@afscrome Thanks a lot for bringing this to our notice, we will work on it and update the document accordingly.

[2021-04-15 14:38] atrauzzi commented on #73682
@SnehaAgrawal-MSFT - I'm talking about _any_ kind of private docker registry.  Standard, using their autnetication as per their documentation.

[2021-04-15 14:45] asukumar22 commented on #73802
Thanks, Tom for the reply! I ran the Azure CLI command az --version and looks my AZ CLI version is 2.10. Trying to upgrade it to 2.20 or more and try again.

***@***.***D731CB.4C9E16B0]

Thanks for letting me know!

Thanks and regards,

Aarthi Sukumar
Customer Engineer | Advanced Cloud Engineering (ACE) | Azure CXP Support
Office: +1 (732) 844-3066
***@***.******@***.***>
Working Hours: Mon-Fri, 7

[2021-04-15 14:48] DaveZimmermann opened #73836 "Difference between Azure Pricing Calc and Excel"
Hi

Could you please explain the big difference between Azure Pricing Calculator and the Backup Detailed Estimate? If I use 1 Storage Account (azure Files) with 4 TB Data, 30 days, 12 weeks, 6 months and 1 year and low data churn I'm getting a difference of 347 USD (pricing calc) and 107.05 USD (in a nutshell) in the excel.

BR

Dave

---
#### Document details

⚠ *Do not edit this section. It is r

[2021-04-15 14:52] SamaraSoucy-MSFT commented on #73813
Thanks for the question! We will review and get back to you shortly.

[2021-04-15 14:53] SamaraSoucy-MSFT commented on #73812
Thanks for the question! We will review and get back to you shortly.

[2021-04-15 15:14] SinAHal opened #73838 "Is there any ARM template to enable a customer-managed Transparent Data Encryption for managed instance databases?"
Looking through the documentation for enabling Transparent Data Encryption I found these pages which have nothing on how to set a customer-managed key using an ARM template:
https://docs.microsoft.com/en-us/azure/azure-sql/database/transparent-data-encryption-tde-overview?view=sql-server-ver15&tabs=azure-portal
https://docs.microsoft.com/en-us/azure/azure-sql/database/transparent-data-encryption-b