[2019-11-04 15:56] psallis opened #42044 "Latest version of pen test"
I see the latest version of Azure Pen test is 2016. Do you have a more up to date link?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19cb71ec-6372-f406-8542-8058f59c7ec1
* Version Independent ID: a3c05dfb-8f20-b364-526b-143f87582a18
* Content: [Pen Testing](https://docs.microsoft.com/en-us/azure/security/fundamentals

[2019-11-04 16:02] eliasblueshift commented on #42020
Same issue here.

I've tried in other regions and accounts. Same error.
Started yesterday.
Renewing the authorization doesn't work.

[2019-11-04 16:06] ValmirCosta opened #42045 "Brazil timezone - no summertime 2019"
Hello all,
this year, Brazil will not have summer time.
I'm using mysql.az_load_timezone() procedure to load timezone tables in mysql database, but since yesterday I'm facing problems converting dates between UTC and "America/Sao_Paulo" (using convert_tz() function). The resulting time is one hour ahead of the real time in Brazil.
My understanding is that this procedure is considering that brazil

[2019-11-04 16:13] jrowe88 commented on #42020
Same issue here.  Using US West 2 region.  Have tried two different Azure accounts and tenets.

[2019-11-04 16:24] bastienmenis opened #42046 "host.json syntax for Event Hub trigger?"
The syntax for host.json for a trigger seem to be outdated. After testing I found that to change the `maxBatchSize`, the correct syntax is the one described in the "host.json settings" section, rather than the one described in the "Trigger - host.json properties" section on this page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-11-04 16:26] DaehyunLee commented on #36905
Found this thread really useful, but seems to be closed and can't find any update on the documents.
Would be great if someone can post if there had been any updates.
Thank you!

[2019-11-04 16:30] ram-msft commented on #42035
@rohancragg Thanks for the question. We are investigating the issue and will update you shortly.

[2019-11-04 16:30] bastienmenis commented on #41341
Can you also document what is the maximum value for these two settings? I tried to set them both to 10,000 but it appears to limit batches to 5,000 events.

[2019-11-04 16:32] ChristoferLee opened #42047 "Outdated List?"
Seems like a number of these service providers are no longer available such as BizTalkServices and aadiam.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2565a28-4d72-8694-885a-dbe5feb9c138
* Version Independent ID: 2e879b11-92e9-5fb4-1164-265c0a8ebc3b
* Content: [Azure Resource Manager resource providers by Azure ser

[2019-11-04 16:41] BrandoDedman opened #42048 "Restrict Cloud shell storage account creation"
Hi Team,

The docs were a bit light on how to do this via policy.  I threw this together and it works:

Create a new policy definition and apply it at whatever scope you want, I set this at the sub level:

{
    "if": {
        "allOf": [{
                "field": "type",
                "equals": "Microsoft.Storage/storageAccounts"
            },
            {
                "field": "tags.ms-re

[2019-11-04 16:43] brucedkyle opened #42049 "Is there a change in Monitor"
When I create the application using the Quickstarts on https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-windows-store-dotnet-get-started, I use WebApp. But when I go check the Quota in the app itself as described on this page, I only see the File System Storage. When I create the application using Mobile Apps, I get the quota page as shown here. What am I missing? Shoul

[2019-11-04 16:44] dariuszbz commented on #41762
Hi all, does it work as described (under consumption plan): one call = one instance. It means no problem with concurrency. If there are 5 calls it'd create 5 instances.  I have some PS functions and never found any problems. it just works. Now I'm a bit freak out what is the problem here?

[2019-11-04 16:44] asergaz commented on #41891
Hi @Sujina-Saddival ,
Azure IoT Edge provides two ways to configure the modules to run on IoT Edge devices: one for development and fast iterations on a single device, and one for managing large fleets of IoT Edge devices. Both of these approaches are available in the Azure portal and programmatically.

Please check the following document: [Understand IoT Edge automatic deployments for single devi

[2019-11-04 16:50] brucedkyle opened #42050 "Should I use Mobile App or Web App as the beginning service?"
I noticed that Mobile App is still available for step 3 in Create a new Azure Mobile App backend
. When I follow the instructions for creating a Web App, the section on Monitor no longer provides the information I am expecting. There may be features coming or perhaps it is a mismatch in how it is done on Mobile vs Web Apps. Perhaps a comment may help with my confusion. Suggestions for how to advis

[2019-11-04 16:51] asergaz commented on #40855
Hi @keshava-hm any luck after following the suggestion to change the routes and have only the custom module (the one filtering messages) sending data to $upstream?

[code]

Thanks!

[2019-11-04 16:51] mpeters615 commented on #42020
@CHEEKATLAPRADEEP-MSFT @hussnainahmed @Mike-Ubezzi-MSFT Both my power bi user and my subscription user are the same. I have tried several times, and to no-avail I am still not able to get the power bi output to give a positive result when testing the connection. Based on the comments above, it seems that this is also happening regardless of the region.

[2019-11-04 16:58] CHEEKATLAPRADEEP-MSFT commented on #42020
@JSeb225  Could you please look into this issue? Looks like there is an issue with the configuration of PowerBI output.

[2019-11-04 16:59] keshava-hm commented on #40855
No, it doesn't work with amqp.

Regards,
Keshava

[2019-11-04 17:03] josiahlaivins commented on #39607
azure-storage? We changed from `azure-storage-blob==12.0.0b3` to  `azure-storage-blob==2.1.0`. The pre release is still buggy it seems at the moment.

[2019-11-04 17:08] Adam-Smith-MSFT commented on #41858
Closing this issue since it's duplicate of the above issue.

[2019-11-04 17:08] #41858 closed

[2019-11-04 17:10] Adam-Smith-MSFT commented on #41957
Thanks @DianeHadley for the feedback, I'll assign the case to the author for doc enhancement :)

[2019-11-04 17:12] YutongTie-MSFT commented on #42045
@ValmirCosta Hi, thanks for reaching out to us. Could you please send us the document if you are referring to something for the product? Thanks.

[2019-11-04 17:12] Adam-Smith-MSFT commented on #41969
@marc-gmail-towersap  any chance you tried the above recommendation ?

Thanks,
Adam

[2019-11-04 17:15] CraigCloudITPro opened #42052 "Databricks Error PrepareNetworkPoliciesRequestIsMissingNetworkIntentPolicies"
Hello, I'm trying to deploy Databricks into an existing Vnet, within an existing Subnet (which have NSG's attached) I'm running into the below and cannot find anything that resembles this error.

[code]

[2019-11-04 17:17] CHEEKATLAPRADEEP-MSFT commented on #42020
Hello All,
Thanks for bringing this to our attention. I’m working with the product team and get back to you when I have more information.

[2019-11-04 17:21] gitmadness commented on #41837
Thanks

Tom

From: VikasPullagura-MSFT <notifications@github.com>
Sent: Monday, November 4, 2019 12:52 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Tom Wu <Tom.Wu@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Data type for pollingIntervalInS is a string and not an int. (#41837)

Closed #41837<https://nam06.safelinks.protection.o

[2019-11-04 17:24] FisherOps commented on #41431
@rayne-wiselman ,
Is there any API support to get the metrics out of Azure? I did not see any mention in the docs.

[2019-11-04 17:24] SaurabhSharma-MSFT commented on #42044
@psallis Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-11-04 17:24] jeangougou opened #42054 "typo"
azure cli on "List virtual machines with their network interface and public IP" should start with `az` instead of `azure`

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac94b233-b387-fd3e-1942-83044d29fc80
* Version Independent ID: f6554623-0d7b-f4cc-fc00-8616010f0714
* Content: [Advanced query samples - Azure Resource

[2019-11-04 17:25] claytonrothschild commented on #16407
Does origin blob service CORS rules really passthrough to Azure CDN, though? In my experience, just now, it does not.

I have CORS set up on my origin blob container to set headers to allow all origins. Even so, I received CORS errors on assets requested from CDN.

So I updated my Azure CDN endpoint to use rules engine to manually recreate the CORS rules for all global responses. Now my assets are

[2019-11-04 17:25] SaurabhSharma-MSFT commented on #41852
@GitTune The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2019-11-04 17:25] #41852 closed

[2019-11-04 17:26] stevestein commented on #41809
@mbinnix - Thanks for the feedback.

Advance notice of GA pricing has just been announced.  GA pricing is displayed in the Azure pricing page.  However, GA pricing will not go into effect until January 1, 2020.  Until then, preview pricing remains in effect as displayed in the Azure portal. Clarifying info is now on the pricing page:

![image](https://user-images.githubusercontent.com/9388190/6814

[2019-11-04 17:26] SaurabhSharma-MSFT commented on #41895
@mfaulkinbury Just checking in if you are able to look into my previous response.

[2019-11-04 17:26] stevestein commented on #41809
#please-close

[2019-11-04 17:26] #41809 closed

[2019-11-04 17:27] SaurabhSharma-MSFT commented on #41853
@GitTune We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-11-04 17:27] #41853 closed

[2019-11-04 17:30] chris15joseph opened #42055 "Clarification of Table Header"
Under the title "Depth Camera Supported Operating Modes", the third column of the table is titled FOI. This acronym is either a typo or is not defined under Terms at the beginning of this page.

Link to table:
https://docs.microsoft.com/en-us/azure/kinect-dk/hardware-specification#depth-camera-supported-operating-modes
Link to terms:
https://docs.microsoft.com/en-us/azure/kinect-dk/hardware-specif

[2019-11-04 17:31] OzBob opened #42056 "Azure Key Vault option"
I have a web app and wish to have the Azure Key Vault option explained too in the 'Encrypt columns (configure Always Encrypted)' section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e151541-1e67-fd26-1bd4-dd114d5ef17d
* Version Independent ID: 6b15dfe1-3a9c-20e9-7d9b-022521781ef1
* Content: [Always Encrypted: Azure

[2019-11-04 17:52] PatrickFarley commented on #36905
@YutongTie-MSFT , please reopen this issue. It appears it didn't work last time

[2019-11-04 17:54] anindya5 opened #42057 "Not all vnets created show up in the drop down in azure sql firewall page"
I have tried putting vnets into sql db's but any vnet created can't be added to azure sql backend, and really this documentation is not helping me to do it.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2eb5097c-fc6e-f0a5-07a6-a84e05aa0bb6
* Version Independent ID: 1004e6b8-344f-6fdc-391a-35c540f

[2019-11-04 17:58] ValmirCosta commented on #42045
@YutongTie-MSFT
Sorry, but I don't get your point.
My request is not clear ?

[2019-11-04 18:04] v-kydela commented on #41885
Thank you for help, @diberry

I'm still not understanding why any of this would generate different confidence scores. It sounds like you're saying the operative difference between the test index and a published index is that the test index sets a `top` value automatically. But why would the `top` value influence confidence scores? If a search query returns answers with scores of 75, 50, and 25, an

[2019-11-04 18:07] rolyon commented on #40720
Hi @sujitks
I talked with someone that is familiar with blueprints. You can't directly create a deny assignment using an Azure resource manager template. You can only create deny assignments by using Azure managed applications or Azure Blueprints. A deny assignment gets created when you select a blueprint lock type. Additional information about blueprint locks can be found here:
https://docs.micro

[2019-11-04 18:08] YutongTie-MSFT commented on #42045
@ValmirCosta I just want to check if you are referring any document for this issue, since this forum is for Documentation. ^^

 I thought you are referring the function az_load_timezone() in Azure MySQL Database Service. I will hand this to a right person for help.

[2019-11-04 18:11] ValmirCosta commented on #42045
My bad.
I was following the doc below, but this is not a documentation problem. I will raise a ticket within Azure portal.
Thanks

https://docs.microsoft.com/bs-latn-ba/azure/mysql/howto-configure-server-parameters-using-cli#working-with-the-time-zone-parameter

[2019-11-04 18:12] mamccrea commented on #41897
@vlado101 - The links have been updated and the changes will be live later today. Thanks again for bringing it to our attention.

#please-close

[2019-11-04 18:12] #41897 closed

[2019-11-04 18:13] rolyon commented on #41367
Hi @maryannlim
Let us know if you have any additional questions. You can reopen this issue.
thanks

[2019-11-04 18:13] rolyon commented on #41367
#please-close

[2019-11-04 18:13] #41367 closed

[2019-11-04 18:13] YutongTie-MSFT commented on #42045
@ValmirCosta Thanks. Great, could you please share the ticket number? I can track it also to see if further help needed. Are you good to close this?

[2019-11-04 18:19] Nickomang commented on #24034
@MedAnd, I believe the above response should satisfy the question.

#please-close

[2019-11-04 18:19] #24034 closed

[2019-11-04 18:21] FrankHu-MSFT commented on #42056
@OzBob Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-04 18:21] FrankHu-MSFT commented on #42057
@anindya5 Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-04 18:21] FrankHu-MSFT commented on #42054
@jeangougou Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-04 18:22] roygara commented on #41277
@jgwinner Thanks for clarifying, I've looped the product team into this and am waiting to hear back. It might not be until after Ignite, though. I'll let you know as soon as I hear anything.

[2019-11-04 18:22] mamccrea commented on #41617
Thanks @mindlessroman - The lines that need to be concatenated are not necessary for session configuration, but only for account configuration, so I have removed them. The doc will be updated later today.

#please-close

[2019-11-04 18:22] #41617 closed

[2019-11-04 18:24] FrankHu-MSFT commented on #42054
@jeangougou Thanks for letting us know about this! We're going to go in and make that change accordingly.

Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please file a new git issue with a reference to this one if you have anymore concerns. Thanks

[2019-11-04 18:31] markarnolditpro opened #42060 "How to upload PFX *without* password?"
The docs above state

I've tried two different tools to export the certs from my local system to PFX and both require a password be specified.  Is this really a requirement for Front Door?  I note the key vault itself allows a password to be entered in the Certification &gt; Import dialog.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-11-04 18:31] #36516 closed

[2019-11-04 18:32] Aitor1972 commented on #33998
I don’t know if visual studio subscription NV vms are throttled, but I find that NV6 is limited to about 200Mbit/s throughput which is terrible, and meant the only workaround for poor disk IOPS of no Premium SSD support (ISCSI or SMB to something faster) is not useful.

I hope NV v3 solves this, but I can’t deploy these in West Europe for some reason. It would also be good to see newer visualisati

[2019-11-04 18:33] MonikaReddy-MSFT commented on #41754
@gjdonkers , Thanks again for bringing this to our attention! The Doc has been updated with the working link and We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-11-04 18:33] #41754 closed

[2019-11-04 18:34] Mike-Ubezzi-MSFT commented on #41950
@jdmintz I believe that for the 2 minutes there is a node-level single point of failure. I am going to have the content owner review this and potentially add additional clarifying information as appropriate.

[2019-11-04 18:34] RyanHill-MSFT commented on #41777
@danroot if there are further questions regarding this matter, please tag us in your reply. We will gladly reopen the issue and continue the discussion.

[2019-11-04 18:34] #41777 closed

[2019-11-04 18:35] kwisatzheadache commented on #39607
Ah, ok. I'm already using `azure-storage-blob==2.1.0` and still having this problem.

[2019-11-04 18:39] msrini-MSFT commented on #42060
@markarnolditpro , you can follow the Stack overflow post to create pfx without password.
https://security.stackexchange.com/questions/195080/how-to-convert-my-cert-chain-to-pfx-without-a-password

[2019-11-04 18:40] johnz commented on #41743
@amanmcse  yes, this is a multi tenant app, we are trying to support different way to connect to the app. The scenario doesn’t work is:

App registered in tenant1,
Partner center admin from tenant2 try to access his customer - tenant3 data using the app

In this case Customer(tenant3) delegate administration privileges to partners(tenant2).
https://docs.microsoft.com/en-us/partner-center/customers

[2019-11-04 18:42] mmacy commented on #41794
@KevUdeM The console application sends its output to STDOUT by default. You should be able to redirect the output to a file as such:

`UserMigration.exe 3 {email address} > UserProfile.json`

I'll update the command in the article to include redirection of output to a file.

[2019-11-04 18:46] HJToland3 commented on #42000
@druvaraj, we have addressed the typo. Thank you for your attention!

[2019-11-04 18:50] kpm-at-hfi commented on #42020
I'm seeing this problem, too. Central US location in my case, in case that helps.

[2019-11-04 18:51] qianw211 commented on #41878
#please-close this is now resolved!

[2019-11-04 18:51] #41878 closed

[2019-11-04 18:51] urighi opened #42061 "Wrong configuration file"
Documentation mentions the config.xml file, but the current script in GitHub uses the config.json file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24a6c4e2-702f-2b17-3e2d-c86f33b13beb
* Version Independent ID: 1e7811d8-668a-db98-34ca-eaf4d7ee8c1f
* Content: [Automatically scale Windows Virtual Desktop session hosts

[2019-11-04 18:52] #41147 closed

[2019-11-04 18:54] KevUdeM commented on #41794
@mmacy @FrankHu-MSFT , thank you both for your help
That's what I was thinking but wanted to be sure I was not missing something
thanks again

[2019-11-04 18:54] mamccrea commented on #41915
I have made the updates. They will go live later today.

#please-close

[2019-11-04 18:54] #41915 closed

[2019-11-04 18:54] mamccrea commented on #41913
I have made the updates. They will go live later today.

#please-close

[2019-11-04 18:54] #41913 closed

[2019-11-04 18:57] bwren commented on #41820
We have an article about the new method going live probably later today, we're a little delayed with all the new content going out for Ignite.  We'll steadily get the other content updated and then start labeling those methods as classic.

[2019-11-04 18:57] KranthiPakala-MSFT commented on #41897
@mamccrea Thanks for the quick fix Mary! :)

[2019-11-04 18:58] bwren commented on #41820
#please-close

[2019-11-04 18:58] #41820 closed

[2019-11-04 18:58] KS76 opened #42062 "Entitlement management GA now?"
Is this a GA now ?. I see the Preview designtation has been removed on the Azure portal as well this article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06201faf-0037-3647-4e91-bb0af80d4812
* Version Independent ID: 1b397d76-ecfe-046e-a4c4-0fe5293bceb3
* Content: [What is Azure AD entitlement management? - Azure Act

[2019-11-04 19:02] szarkos commented on #42022
For the primary NIC the default is to use DHCP. Allowing one to set static IPs on VM requires additional configuration on the VNET, which is out of scope for this sort of doc.

We've seen support cases where customers try to set static IPs thinking it will just work and then run into networking issues.  So I think it's safest to keep this doc as-is to show what will work by default in Azure.

[2019-11-04 19:02] szarkos commented on #42022
#please-close

[2019-11-04 19:02] #42022 closed

[2019-11-04 19:05] SamaraSoucy-MSFT commented on #41900
I am going to assign this to the doc author to update accordingly.

[2019-11-04 19:06] ValmirCosta commented on #42045
@YutongTie-MSFT
You can close this, thanks

[2019-11-04 19:07] YutongTie-MSFT commented on #42045
@ValmirCosta
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-11-04 19:07] #42045 closed

[2019-11-04 19:08] anindya5 commented on #42057
@FrankHu-MSFT - can you expedite this? we have an azure support request opened as well, but not getting any response from that end too

[2019-11-04 19:09] #41794 closed

[2019-11-04 19:10] MashaMSFT commented on #28745
Hi @omnimose , it's been some time since we've heard from you, so we will assume that your question has been answered and proceed with closing out this Git Issue. Please feel free to comment should you need anything further.

Thanks!
Masha from the SQL Docs team
#please-close

[2019-11-04 19:10] #28745 closed

[2019-11-04 19:12] MashaMSFT commented on #34315
Hi @CeciAc and @Cedric-Bravo , please let us know if your questions have been answered? If so, we will proceed with closing out this Git issue. Otherwise, please let us know how we can help further?

Thanks!
Masha from the SQL Docs team

[2019-11-04 19:14] karpikpl opened #42063 "Could use a better description for creating a connection to log analytics workspace"
Could you clarify if a custom log was created for this case?
It seems that in order to get sharedKey, you need to find a data source in log analytics workspace and that requires defining a custom log?

It's little confusing since this article describes sending JSON payload, but in order to define custom log, you have to upload a log sample (CSV?)

---
#### Document Details

⚠ *Do not edit this sec

[2019-11-04 19:15] CeciAc opened #42064 "Unable to disable 2FA"
@bc-109 commented on [Mon Nov 04 2019](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/651)

2FA is disabled at organization level.
2FA is disabled individually for each user.
But when I log in, the system still continues to ask for 2FA. This breaks a third-party app, which does not recognize 2FA.
--
Is this article wrong, or is the 2FA mechanism wrong ?
--
The expected behavior would be

[2019-11-04 19:17] CeciAc commented on #42064
Hi team,
I moved this here because is refering to the original instructions
kind regards

[2019-11-04 19:18] markarnolditpro commented on #42060
Thanks Srini.  A few minutes ago I went ahead and imported the pfx to key vault **with** a password.  Front Door seemed to received it and propagate just fine?  Is it possible creating **without** a password is no longer required?

[2019-11-04 19:18] SamaraSoucy-MSFT commented on #41892
I'll assign this to the doc author to update the doc.

OpenCensus extension is still in preview, so it is possible that it will change, but you can edit the `INGESTION_ENDPOINT` variable either in the connection string or as an environment variable.

[From the repo](https://github.com/census-instrumentation/opencensus-python/blob/af284a92b80bcbaf5db53e7e0813f96691b4c696/contrib/opencensus-ext-azur

[2019-11-04 19:19] ojasp commented on #33587
@aelij  So, is it actually a supported scenario?

[2019-11-04 19:23] bwren commented on #41820
Here's the new article.  Looks like it's live although I mistakenly put it in the wrong place in the TOC.  Submitting a fix for that now.

https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-settings-subscription

[2019-11-04 19:23] SamaraSoucy-MSFT commented on #41902
It looks like the template requirements were discussed in [this thread](https://github.com/MicrosoftDocs/azure-docs/issues/27438).

Basically, you can enable it via an ARM template by setting the appropriate app settings.
[code]

[2019-11-04 19:24] BharathNimmala-MSFT commented on #40769
@deheems Apologies for the delayed response, team has been occupied with Microsoft Ignite feature updates and preparation.

Thanks for confirming that you are seeing the issue even with Admin privilege's, I have reached out to Product team for further troubleshooting on the issue,  however please expect that they might get to it post ignite week.

Regarding creating the parent space you can use th

[2019-11-04 19:24] mmacy commented on #41062
@amason304 As we have an open issue on the starter pack repo in which the XSD resides, I'm going to close this issue in favor of that one. Recommend that you follow the issue here to stay up to date:

https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/issues/23

I'll continue chasing down on this end, thanks for the notification on this!

#please-close

[2019-11-04 19:24] #41062 closed

[2019-11-04 19:26] eschrader opened #42065 "Super helpful"
This article, https://docs.microsoft.com/en-us/azure/active-directory/devices/faq#q-i-disabled-or-deleted-my-device-in-the-azure-portal-or-by-using-windows-powershell-but-the-local-state-on-the-device-says-its-still-registered-what-should-i-do

When I deleted all of my devices from my user account (which I used to setup everyones PC), I used this article to rejoin them to the domain.

Every user w

[2019-11-04 19:32] cahann commented on #41744
All applications are migrate to the same resource, you can chnage the application assignement under manage/azure resources/authroing

[2019-11-04 19:32] jpconnock commented on #41016
We have updated both the CLI extension and our docs today.  @andrehe001 -- can you please let us know if this resolves your concern?  Thanks again for providing your feedback -- we appreciate your help!

[2019-11-04 19:33] Mike-Ubezzi-MSFT commented on #42057
@anindya5 Can you provide the support request ID? It will help with the escalation.

[2019-11-04 19:37] sander1095 commented on #20701
Hi.

Does this mean that if I host a site, I will have to visit it using www.example.com instead of example.com?

As in, support for example.com is not here yet?

[2019-11-04 19:41] TravisCragg-MSFT commented on #41600
@batanun Thanks for the feedback. Your best place to leave that feedback about the pricing is at [Azure Networking's Feedback.Azure.com page](https://feedback.azure.com/forums/217313-networking).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-04 19:41] #41600 closed

[2019-11-04 19:44] tamram commented on #41662
@IEvangelist - Are you referring to using virtual directories with block blobs? We do have [this article](https://docs.microsoft.com/azure/storage/blobs/storage-blobs-list), which shows how to list blobs with a hierarchical listing (using virtual directories) in .NET. If you're looking for something else, can you be more specific?

Also, we encourage all customers to move to a newer version of the

[2019-11-04 19:46] genlin commented on #41402
@sandeepraichura Thanks for the suggestion. I will update this article for more special troubleshoot information in next release.

#please-close

[2019-11-04 19:46] #41402 closed

[2019-11-04 19:47] genlin commented on #41402
@sandeepraichura  Meanwhile, if you have a problem about VM allocation, please contact our support.

[2019-11-04 19:51] Gamecock opened #42066 "Route messages between IoT edge devices"
I'd like to use the IoT Edge runtime to manage deployment and module configuration for a large number of small devices.
I'd then like to route the messages through a single edge device for filtering, edge processing, and buffering before sending to the cloud.
Is this application possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-11-04 19:55] himanshusinha-msft commented on #42020
We can confirm that we have an ongoing issue at this time  and the team is working for an resolution on this . https://app.azure.com/h/KLGF-5D0/b8323f

[2019-11-04 19:58] genlin commented on #41327
@axelgMS   Do you mean the port from 80 to  3252 should be opened for WireServer ?

[2019-11-04 20:00] hpsin commented on #41347
Merged, will be live tomorrow.  #please-close

[2019-11-04 20:00] #41347 closed

[2019-11-04 20:01] anindya5 commented on #42057
@Mike-Ubezzi-MSFT 119102321001858

[2019-11-04 20:03] genlin commented on #41327
@axelgMS If you have any suggestion about how to improve the article, please contact me.

[2019-11-04 20:05] genlin commented on #41149
@glzbcrt  Thanks for sharing the information. I will update the article with tips.

[2019-11-04 20:07] genlin commented on #40956
@glteache You are right. We no longer need to delete the VM. I will update the steps.

[2019-11-04 20:16] vikaskumawat80 opened #42067 "Licensing requirements"
Do I need Microsoft 365 E3 license to access WVD from Windows 10 Home/Android/iOS/MAC devices or Windows 10 Enterprise E3 is enough for that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2eeca14-80ef-c0b4-2719-80ceb286ba3d
* Version Independent ID: b7d3df23-3158-2807-eecc-73e7230c2033
* Content: [What is Windows Vir

[2019-11-04 20:18] HeidiSteen commented on #41827
@ankitvijay I'm not the content author, but I can elaborate!  We recommend same region (data center) because its better performance and lower costs (no bandwidth charges if you are moving data within the same center).  Also, if its the same subscription, you'll get better discovery in the portal. Resources in the same subscription are more discoverable.  Also, I'm not 100% certain about this part,

[2019-11-04 20:47] diberry commented on #41885
@v-kydela If you create your QnA Maker resource in a new resource group, that resource group will also have an Azure Search service and an Azure web app. All KBs created on the service will also use those other two resources. All test kbs with be in the test index - so there are more rows in the test index than the publised kb's index.

There is a two-part filtration for the query, implemented wit

[2019-11-04 20:47] kwisatzheadache commented on #39607
I found the problem. My pip requirements doc only had what I assumed to be the relevant modules (`azure-storage-logging` and `azure-storage-blob`).
I installed the entire azure package and then did `pip freeze >> requirements.txt` and it ran fine after that.

It was strange though, because without the entire package, I was able to create the container from the REPL, just not from a django view. An

[2019-11-04 20:49] MonikaReddy-MSFT commented on #42049
@brucedkyle , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-11-04 20:50] tmurfet commented on #40811
PR: MicrosoftDocs/azure-docs-pr#91968
Link fails, goes to a 404 error page

[2019-11-04 20:57] JSeb225 commented on #42020
Hi all sorry for the inconvenience. The root cause had been found and we are working to deploy a fix a we speak.

[2019-11-04 21:11] himanshusinha-msft commented on #41690
@cacizi41 . There isn't a a way to override values , do you think you can share with us the pipeline runid so that we can look into this deeper ? Please do do send the runid to AzCommunity@Microsoft.com .

[2019-11-04 21:13] femsulu commented on #42063
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-11-04 21:14] Mike-Ubezzi-MSFT commented on #42057
@anindya5 Did you add the Microsoft.SQL service endpoint to your VNet? You will need to create the VNet before you deploy you Azure SQL Database instance or add it to you current instance.

**These are the steps:**

**Create the VNet first and make sure you add the Microsoft.SQL sub-service:**

![Screenshot (450)](https://user-images.githubusercontent.com/37126106/68158641-e1843200-ff04-11e9-9a99-

[2019-11-04 21:15] meixger opened #42068 "Azure App Service free Managed Certificate for SSL/TLS"
So free "Managed Certificate" is now available in Preview and it doesn't support naked/apex domains.

Now it's a SEO best practice to stick to either 'www' or no 'www' and do a 301 redirect.

How are we supposed to do a https://contoso.com to https://www.contoso.com redirect?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-11-04 21:21] femsulu commented on #42047
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-04 21:22] anindya5 commented on #42057
Tried adding and without, no change

[2019-11-04 21:22] ivratche opened #42069 "Home Realm Discovery For Federated User"
The federated auth diagram above has a step under C which says "Realm Discovery (user:federated, mex endpoint)". What UPN suffix is used for the HRD and where is it sourced from?  Which endpoint is actually fetched from AAD, the MEX or the usernamemixed? We see usernamemixed in Fiddler.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-11-04 21:26] ivratche opened #42070 "Authentication Details Via WS-Trust"
Can you shed some more light on the authentication schematics with WS-Trust? My company has adopted an identity posture not to proliferate legacy auth protocols and they feel WS-Trust does not fall under the modern auth protocol family. It looks like the username and password is included in the soap message sent to the IDP on-prem. Therefore, there is a bit of reluctance to enable WS-Trust.

---
#

[2019-11-04 21:35] MarileeTurscak-MSFT commented on #42065
@eschrader thanks for the feedback! Is there something you think should be added to the article?

[2019-11-04 21:39] vbijjam1 opened #42071 "com.mongodb.MongoSocketException: No such host is known (xxxxx.documents.azure.com)"
Im using Springboot application to connect to Azure Cosmos DB with Mongo db API but i'm getting the below error.I followed the Azure instructions
https://docs.microsoft.com/en-us/java/azure/spring-framework/configure-spring-data-mongodb-with-cosmos-db?view=azure-java-stable

com.mongodb.MongoSocketException: No such host is known (xxxx.documents.azure.com)
	at com.mongodb.ServerAddress.getSocketAd

[2019-11-04 21:40] MarileeTurscak-MSFT commented on #42062
@KS76 yes you are correct. This is GA and isn't in preview anymore.

Let me know if you have further questions!

[2019-11-04 21:40] #42062 closed

[2019-11-04 21:40] eschrader commented on #42065
I was just trying to get some of these keywords on the page so anyone with the issue can find the answer on Google. A lot of these SEO keywords of the problem arent on here, so I wanted to add them for the next person (or myself next time haha)

[2019-11-04 21:40] diberry commented on #41383
This looks like a product bug, not a doc bug, please log issue from QnA Portal using feedback of user voice.

#reassign:GiftA-MSFT

[2019-11-04 21:41] Alberto-Vega-MSFT commented on #42055
@chris15joseph Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-04 21:51] ckbargavi commented on #41454
@MicahMcKittrick-MSFT

az aks get-credentials --resource-group psp-test --name=psp-cluster

kubectl config get-contexts psp-cluster
CURRENT   NAME          CLUSTER       AUTHINFO                           NAMESPACE
*                 psp-cluster   psp-cluster   clusterUser_psp-test_psp-cluster

These are the commands I used. As you can see, the AuthInfo started with ClusterUser not ClusterAdmin. An

[2019-11-04 21:52] Mike-Ubezzi-MSFT commented on #42057
@anindya5 Also, make sure all services are in the same region. I had deployed to US West 2 but Premium plan for Function App is not available in US West 2 but all my other services (VNet and Azure SQL Database are in US West 2) and so I need to redo this in US West. You may need to add Microsoft.Web. I am trying to get Function App and Azure SQL Database on same subnet for the purposes of this tes

[2019-11-04 21:53] FrankHu-MSFT commented on #41948
@balivo Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please file a new git issue with a reference to this one if you have anymore concerns. Thanks

[2019-11-04 21:54] RyanHill-MSFT commented on #42050
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-04 22:00] Alberto-Vega-MSFT commented on #41774
Yes comparing Transparent vs Identity. on the Transparent Gateway the devices could connect directly to IoT Hub meanwhile Identity Translation solves the problem of protocol incompatibility allowing the leaf  devices to overcome this issue and connect with IoT Hub.

[2019-11-04 22:04] Alberto-Vega-MSFT commented on #41749
@choonyip Sorry you are facing this problem and thanks for confirming the issue is the same as the one I shared.
Please feel free to comment on that issue on the SDK repository. We will be closing the issue here since this  issue is SDK related and not a documentation one.

[2019-11-04 22:04] #41749 closed

[2019-11-04 22:04] MarileeTurscak-MSFT commented on #42065
Cool! I am @ing the content author @rwike77 to see if there's something that could be added to the article, or if a work item can be made to improve the SEO.

Feel free to make your own pull request to the article as well.

I'm closing this out but it will still show up in Google. Feel free to @ me in the comments if you need anything for this.

[2019-11-04 22:04] #42065 closed

[2019-11-04 22:09] Alberto-Vega-MSFT commented on #42066
Hi @Gamecock yes that is right.  The second sentence totally describes an IoT Edge Gateway you just would need to evaluate the best pattern for your use case and the leaf devices could also do their own edge processing to share the work load.
If you have further questions please feel free to create a question on the developer forums StackOverflow and MSDN where unlike here, there is a developer co

[2019-11-04 22:15] MedAnd commented on #24034
@Nickomang - will the above clarification be expanded & included in the official Service Fabric documentation & best practices?

[2019-11-04 22:15] MicahMcKittrick-MSFT commented on #42048
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-04 22:16] MicahMcKittrick-MSFT commented on #42061
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-04 22:16] MicahMcKittrick-MSFT commented on #42067
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-04 22:18] MicahMcKittrick-MSFT commented on #42037
@ofalk we don't always include RedHat as it is not a free image available to all. However I will assign to the content author to review further.

[2019-11-04 22:22] VladimirKhvostov commented on #37579
I completely agree with jachin84 - it is really unfortunate that there are no Powershell examples.

[2019-11-04 22:30] TomArcherMsft commented on #33387
@redliu312 You are correct. This parameter is listed as optional, but needs to be set. I'll update the article.

[2019-11-04 22:36] Gamecock commented on #42066
@Alberto-Vega-MSFT   [This](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-create-transparent-gateway) tutorial says

What pattern do I use for this use case?
Again, if I have a large number of devices running the IoTEdge runtime to manage the deployment of the application to the device, can I point those IoT Edge modules to a different IoT Edge device for filtering and buffering.  Is ther

[2019-11-04 22:39] liyiming-serif commented on #28881
@hwuu @liangcht
Allowing datastores registered with SAS tokens to be mounted with `ds.as_mount()` was feature work that has been recently rolled out to all production regions. This option should now work.

[2019-11-04 22:40] MarileeTurscak-MSFT commented on #41791
Hi @VikasShivhare ,

In [this article](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-saas-workday-inbound-tutorial#configuring-user-provisioning-to-azure-active-directory
) there is a section that describes how to look at the Azure AD audit logs + the Windows server event logs to troubleshoot the values that the sync service is trying to write to Active Directory. I reco

[2019-11-04 22:40] #41791 closed

[2019-11-04 22:49] walima0103 opened #42072 "Bad Gateway on debug mode"
Following exactly the same steps on this quickstart, on the step "Build and run code in Kubernetes from Visual Studio" the public URL returned by the command respond "Bad Gateway". Stopping the Debug the URL starts to respond.

azure-cli                         2.0.75
Azure Dev Spaces CLI
1.0.20191025.15
API v3.2
code --version
1.39.2
6ab598523be7a800d7f3eb4d92d7ab9a66069390
x64

---
#### Document

[2019-11-04 23:03] v-kydela commented on #41885
@diberry - Okay, let me see if I understand correctly. There are two rankers: the search service ranker and the QnA Maker NLP ranker. The search service ranker goes first, and that's where `top` is applied. The query that's passed to the search service ranker is the user's "question" that QnA Maker is supposed to answer. If `top` is 10 for example then the search service ranker will search the KB

[2019-11-04 23:03] MicahMcKittrick-MSFT commented on #42048
@BrandoDedman thanks for this! I don't think we are going to add this exact example to the document at this time however your comment will remain on the doc and if we find others are having issues applying this policy using the doc as written we can always reconsider in the future.

[2019-11-04 23:03] #42048 closed

[2019-11-04 23:06] MicahMcKittrick-MSFT commented on #42061
@urighi I will assign to the content author for further review since we mention config.xml multiple times in this doc and want to make sure if we update to .json we update everything as needed.

[2019-11-04 23:08] MicahMcKittrick-MSFT commented on #42067
The required licenses are called out in the doc and are up to date

OS | Required license
-- | --
Windows 10 Enterprise multi-session or Windows 10 Enterprise | Microsoft 365 E3, E5, A3, A5, F1, BusinessWindows E3, E5, A3, A5
Windows 7 Enterprise | Microsoft 365 E3, E5, A3, A5, F1, BusinessWindows E3, E5, A3, A5
Windows Server 2012 R2, 2016, 2019 | RDS Client Access License (CAL) with Software Ass

[2019-11-04 23:08] #42067 closed

[2019-11-04 23:09] #41975 closed

[2019-11-04 23:09] MicahMcKittrick-MSFT commented on #41811
I will close this but if you have further questions let me know and we can always reopen and continue the discussion.

[2019-11-04 23:09] #41811 closed

[2019-11-04 23:09] #41673 closed

[2019-11-04 23:16] v-gamaar opened #42074 "AI Extension working together with AI SDK"
Hi Team

The AI Team has received several cases where the customers are confused about the use of AI SDK together with AI extension, for .NET apps hosted in App Service they need to use AI Extension to get SQL Commands data, but also they need to use AI SDK to use advance telemetry like TrackRequest or other custom methods.

For that reason several times they enable both configurations at the same

[2019-11-04 23:17] markarnolditpro opened #42075 "Tinfoil status?"
Above reference is made to security scanning with TinFoil.   (https://docs.microsoft.com/en-gb/azure/security/fundamentals/overview#web-application-vulnerability-scanning).  I've tried to enable this per the instructions but the link to the Tinfoil dashboard in Diagnose &gt; Security Scan &gt; Tinfoil is not clickable in any browser I've tried across Win and Mac devices.  Docs are sparse on the su

[2019-11-04 23:19] MicahMcKittrick-MSFT commented on #41667
Windows Server with Containers yes. 1803 Windows 10 no.

[2019-11-04 23:21] MicahMcKittrick-MSFT commented on #41667
I will double check to confirm and update.

[2019-11-04 23:22] peledins opened #42076 "issuer thumbprint"
in the sample there is "certificateIssuerThumbprint": ""
does this mean that self-signed certs are allowed in the sample?

it should be called out that self signed certs are a big-no-no from security point of view.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d34f6d36-58e7-ab10-e659-bdd10a64deca
* Version Independent

[2019-11-04 23:22] balivo commented on #41948
Hi @FrankHu-MSFT...

Tks for the links... Clarified my mind!

[2019-11-04 23:22] #41948 closed

[2019-11-04 23:31] alexkarcher-msft commented on #30494
Hello. When you do a deployment all existing executions will be allowed to complete or time out, and then the new code will be loaded and begin processing requests.

If you'd like more control over this transition you can leverage deployment slots

[2019-11-04 23:31] ntyagi1678 commented on #37386
Same here. Not working with Classic Storage accounts.

[2019-11-04 23:32] Rcoder0907 opened #42077 "Deploy to Azure button not working"
It shows error on portal.azure.com that "There was an error loading the template from URI 'https://wingtipsaas1.blob.core.windows.net/templates-mt/wtpapp.json'. Ensure that the template is publicly accessible and does not have any comments."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15c96859-ad47-d8bb-7789-e323ca3

[2019-11-04 23:32] IanKnighton opened #42078 "Update is not in the az aks command group."
Trying to enable cluster scaling on my existing AKS instance. Following the commands presented here, I receive an error from the cli.

`az aks: 'update' is not in the 'az aks' command group. See 'az aks --help'`

Looking in help, it confirms that there is no `update` command. I'm unsure how to enable or disable auto-scaling if that command doesn't exist.

---
#### Document Details

⚠ *Do not edit

[2019-11-04 23:39] kgremban commented on #41891
@Sujina-Saddival, asergaz is correct in saying that there is currently no way to 'append' modules to an existing IoT Edge device without updating its current deployment manifest. What is preventing you from creating a combined deployment manifest with module1, module2, and module3 listed together? You mentioned in your original post that you have a different container registry for module1 and modu

[2019-11-04 23:42] MonikaReddy-MSFT commented on #41917
@TsuyoshiUshio ,  Thanks again for bringing this to our attention! The Document has been updated. We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-11-04 23:42] #41917 closed

[2019-11-04 23:46] TomArcherMsft commented on #33387
CC: @redliu312, @cuongdnv, @vpopescu,

Thanks for the feedback. I've updated the article.

#please-close

[2019-11-04 23:46] #33387 closed

[2019-11-04 23:48] shivp950 commented on #41498
Hi, yes I will update the screenshots accordingly, sorry for the confusion. Machine learning service workspace is the same thing as Machine Learning, it was re-named in the portal.

[2019-11-04 23:52] LachlanJB commented on #41921
Hi @souravmishra-msft , thanks very much for that detail. However we still have 2 questions from your response:
<b>from 1st March 2020, creating new Azure AD Policies would be stopped</b>
Does this mean that creating new Azure AD Policies with powershell will not work anymore? How do we create new policies with AccessTokenLifetime more than 1 hour after 1st March?

Secondly, you mentioned
<b>Only

[2019-11-04 23:52] dougsi opened #42079 "Publisher is wrong"
Should be "publisher": "Microsoft.Azure.KeyVault"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a52b0724-6b3b-0daf-7749-d18104d6a40b
* Version Independent ID: 56e5c7c4-f456-fc2e-99da-2771eb162947
* Content: [Azure Key Vault VM Extension for Windows](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/ke

[2019-11-04 23:54] chino0913 opened #42080 "Please add Login error code 1000002"
The Login error Code 1000002 is not documented

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa732de6-2cab-d780-aa21-dfec80e0a8fe
* Version Independent ID: 1a11b9b6-cf4f-3581-0864-0d5046943b6e
* Content: [Error codes in the Azure Active Directory portal](https://docs.microsoft.com/en-us/azure/active-directory/reports-

[2019-11-04 23:54] tamram commented on #37219
@julesman101 - This article was recently re-added to the table of contents.

#please-close

[2019-11-04 23:54] #37219 closed

[2019-11-04 23:54] dougsi opened #42081 "N/A"
Disregard - you can remove this comment

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a52b0724-6b3b-0daf-7749-d18104d6a40b
* Version Independent ID: 56e5c7c4-f456-fc2e-99da-2771eb162947
* Content: [Azure Key Vault VM Extension for Windows](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/key-vault-wi

[2019-11-04 23:55] chino0913 opened #42082 "Please add Login error code 1000000"
The Login error Code 1000000 is not documented

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa732de6-2cab-d780-aa21-dfec80e0a8fe
* Version Independent ID: 1a11b9b6-cf4f-3581-0864-0d5046943b6e
* Content: [Error codes in the Azure Active Directory portal](https://docs.microsoft.com/en-us/azure/active-directory/reports-

[2019-11-04 23:59] chino0913 commented on #38122
Still, 650052 is not documented

[2019-11-05 00:03] matrix-revolution opened #42083 "AppInsights : Add projected fields from query to description section"
Hi,

I am trying to populate alert description with fields from search query.
The idea is to pass the description to webhook and be able to directly reference some of fields from description.

[2019-11-05 00:16] MarileeTurscak-MSFT commented on #41574
@mrik23 I have reported this to the product team and will update this thread when I have a reply.

[2019-11-05 00:18] frvigano opened #42084 "Confusing"
Hi , the section on create manual templates it is quite confusing in this context. I would suggest to create two different pages (manual vs CI/CD)

At the same time, I would add a sentence to clarify that by default ADF creates a branch named adf_publish where templates are automatically stored.

Otherwise the following sentence seems quite unrelated with what we wrote in the previous steps

Selec

[2019-11-05 00:31] kobulloc-MSFT commented on #42074
@v-gamaar Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-11-05 00:32] kobulloc-MSFT commented on #42072
@walima0103 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-11-05 00:48] mike-urnun-msft commented on #42046
@bastienmenis Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-11-05 00:55] MarileeTurscak-MSFT commented on #41574
@mrik23 which version of the windows machine are you using and which version of AD Connect?

[2019-11-05 00:57] dcbrown16 opened #42085 "How do I turn off the editing mode"
Can this page include simple instructions for how to get out of the editing mode?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1c96ba5-164a-e66f-a782-d0cd60a500f3
* Version Independent ID: c0f01676-6a46-99a7-a56f-3b2d6eb5e965
* Content: [Overview of Azure API Management developer portal - Azure API Management](https

[2019-11-05 01:01] femsulu commented on #41712
Hello @johnsimons  - yes, these limits are exposed programmatically via PowerShell & Azure CLI for you to track your usage against the set limits. "How to" details can be found [here](https://docs.microsoft.com/en-us/azure/networking/check-usage-against-limits).

We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discuss

[2019-11-05 01:01] #41712 closed

[2019-11-05 01:04] MicahMcKittrick-MSFT commented on #42079
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-05 01:05] MicahMcKittrick-MSFT commented on #42076
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-05 01:05] MicahMcKittrick-MSFT commented on #42081
Thanks for the update.

[2019-11-05 01:05] #42081 closed

[2019-11-05 01:06] spencerghkim opened #42086 "DAv4 / DAv3 Discrepancy for AMD EPYC 7452 Processor"
According to https://azure.microsoft.com/en-us/updates/new-azure-dav4-series-and-eav4-seriesvirtual-machines-are-now-available/ the AMD EPYC 7452 VMs are now available (as of Nov 4th). However, there is nothing on this page about dav4's, and additionally the DAv3's appear to be the same machine. On Azure Portal DAv4s are listed as a Family but are not requestable as a SKU for Quota increases.

---

[2019-11-05 01:10] MicahMcKittrick-MSFT commented on #42086
@spencerghkim due to Microsoft Ignite, all doc updates and additional items such as portal changes have been suspended. Once Ignite is complete, we will be updating multiple docs with new information this being one of them. So please stay tuned :)

[2019-11-05 01:10] #42086 closed

[2019-11-05 01:12] ankitvijay commented on #41827
Thanks @HeidiSteen appreciate your explanation. I think the same region part makes sense. For the subscription it would be good to validate if the discovery is the only reason for the recommendation.

[2019-11-05 01:21] douglasism opened #42087 "Can't submit documentation feedback via Feedback link on the published pages"
When I try to submit documentation feedback via the link on the Azure Docs pages, I get an error: "Something went wrong. Please try again."

This had been working for me but stopped doing so a week ago.

For instance today it failed on this page:

https://docs.microsoft.com/en-us/learn/support/troubleshooting

[2019-11-05 01:31] neeleshray-msft commented on #42080
@chino0913  Thank you for the feedback. We will check and update soon.

[2019-11-05 01:31] neeleshray-msft commented on #42082
@chino0913  Thank you for the feedback. We will check and update soon.

[2019-11-05 01:31] #42054 closed

[2019-11-05 01:32] neeleshray-msft commented on #42064
@bc-109 Thank you for the query. We will check and update soon.

[2019-11-05 01:34] EricKyaw commented on #41738
@ram-msft and @xiaoharper, I added service principal (Azure App Registration) to "Contributor" role of the resource group. Is the permission enough for Createorupdate action? Note that no error was returned during the call.

[2019-11-05 01:49] EricKyaw opened #42088 "Dynamic feature columns for retrain model"
Hi,

I created new text classifier model using below BBC News Classifier flow. Everything is the same except i changed the input data file with my own data file. Training experiment, predictive experiment and "new" web service has been published. I tested it using web service test page. Everything is working file. I could pass new massage and "new" web service return the prediction.

https://galle

[2019-11-05 02:02] abhinavkulkarni opened #42090 "The quickstart example doesn't work!"
Hi,

I am unable to run this example. Please note that the only changes I made were to populate speech_key, service_region variables.

Please note that I am able to get batch transcriptions done using the same key and region.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4b55e56-55a1-d635-6bea-271dc361d676
* Version

[2019-11-05 02:05] abhinavkulkarni commented on #42090
Please note that I am using PyCharm editor. I also tried running the script in terminal, but the same result.

[2019-11-05 02:17] maoz123 opened #42091 "Geo-replication costs on the secondary database"
Could your guys tell us more about the details of geo-replication? We would like to know how much DTU the "geo-replication" will cost on the secondary database? When making decision on whether to use geo-replication to seperate reads and writes, we need to know whether the replication will cause a great burden on the secondary database? In our application, we have more writes is much more than  re

[2019-11-05 02:36] danwale opened #42092 "Enriched sample message not a good example"
In this sample an enriched property of DeviceLocation is configured to use the device twin tag called location ($twin.tags.location), in the sample of an enriched message it shows the enriched message with the value $twin.tags.location rather than the value that would be in that tag. For the purposes of providing a true example the tag should have a value in the device twin and the sample should t

[2019-11-05 02:48] ram-msft commented on #41744
@sachabruttin will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-05 02:48] #41744 closed

[2019-11-05 02:53] stevestein commented on #41469
@JJussi - Thanks for the feedback. Yes, those colors did look very similar. I updated the green arrows to be much lighter. Hopefully that eliminates this issue so add another comment if not. The updated article should go live sometime tomorrow.

Thanks!

#please-close

[2019-11-05 02:53] #41469 closed

[2019-11-05 02:58] KalyanChanumolu-MSFT commented on #42077
@Rcoder0907 Thank you for taking the time to report this issue.
We will work with the repo owner to get it fixed.

[2019-11-05 03:02] KalyanChanumolu-MSFT commented on #42071
@vbijjam1 Thank you for the feedback.
We are actively investigating and will get back to you soon.

[2019-11-05 03:08] stevestein commented on #39072
#reassign:dimitri-furman

[2019-11-05 03:09] stevestein commented on #39072
@dimitri-furman - can you assist here?  Thanks!

[2019-11-05 03:17] Mike-Ubezzi-MSFT commented on #27326
@marrim-myob This is a great question. Can you create a new issue for this as ask the question in that how does the PowerShell step through a failed previous attempt and is the retry automatic or does it run on the next scheduled set time (every hour, every day, etc.). The following section: [Monitor status of job executions](https://docs.microsoft.com/en-us/azure/sql-database/elastic-jobs-powersh

[2019-11-05 03:19] Mike-Ubezzi-MSFT commented on #40928
@dev9998 Please reach out to [CosmosDBquery](mailto:cosmosdbquery@microsoft.com) if you have specific questions about extending this sample solution.

[2019-11-05 03:20] Mike-Ubezzi-MSFT commented on #40928
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-11-05 03:20] #40928 closed

[2019-11-05 03:24] Mike-Ubezzi-MSFT commented on #41893
We will now proceed to close this thread. If there is a specific issue or recommendation with an article found in the Microsoft Docs repository, please click on the feedback link at the bottom of the page and your detailed feedback will be properly routed. Thank you, ~Mike

[2019-11-05 03:24] #41893 closed

[2019-11-05 03:36] stevestein commented on #28385
@gjmoyer , @AkoleStatoil - thanks for the feedback. I haven't been able to get any definitive answer on this. An internal work item (1642016) has been opened to track the work related to updating this article. For specific questions, you can try the [forums](https://social.msdn.microsoft.com/Forums/en-US/home) or [stack overflow](https://stackoverflow.com/questions/tagged/azure-sql-database?tab=Ne

[2019-11-05 03:37] #28385 closed

[2019-11-05 03:40] wahyuen opened #42093 "Support to manage Feature Flags via automation"
Is there currently a way to programatically set feature flags via ARM/PowerShell or Az CLI? We have a number of feature flags that we'd like to roll out in an automated fashion when constructing a customers installation but I wasn't able to find any documentation on how we might set this up other than having to access it via the portal.

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-11-05 03:46] stevestein commented on #38770
@dcbrown16 - thanks for the feedback. The article no longer matches the available options in the portal. An internal work item (1642020) has been opened to track the work related to updating this article.

Thanks!

#please-close

[2019-11-05 03:46] #38770 closed

[2019-11-05 03:48] dcbrown16 commented on #38770
Great, thank you!

[2019-11-05 03:49] souravmishra-msft commented on #41433
@arcotek-ltd, I wanted to check if there are any more queries around this. We would like to close this thread, but you can always re-open this if any further help is needed on the same.

[2019-11-05 03:49] #41433 closed

[2019-11-05 03:51] souravmishra-msft commented on #41626
@mahoekst, I wanted to follow up with you to check if you got a chance to check the previous reply. Do share the information so that we can help you better.

[2019-11-05 04:08] souravmishra-msft commented on #41921
@LachlanJB, Thank you for sharing the update.
from 1st March onwards, the Azure AD Policy creation would surely stop for all the policies that has the properties defined like **MaxAgeMultifactor, MaxInactiveTime etc.** , and henceforth you would only be able to create policies defining the **Access Token Lifetime** as had shared the example in my previous response.

**Summary:**

- From **1st Marc

[2019-11-05 04:14] himanshusinha-msft commented on #42020
The issue is resolved now , please do let us know if you are still seeing any failures .

[2019-11-05 04:21] neeleshray-msft commented on #41556
@akn9050  We will be closing this issue now. Kindly re-open if you need further help.

[2019-11-05 04:21] #41556 closed

[2019-11-05 04:23] neeleshray-msft commented on #41464
@msmimart  Could this be verified and added to the document ?

[2019-11-05 04:25] Karishma-Tiwari-MSFT commented on #42078
The az-aks-update command is part of the Azure CLI AKS Preview Extension.

You need to Install this extension using the below CLI command to make it work, as described in this section of the document.

az extension add --name aks-preview

Please refer to this for more details: https://github.com/Azure/azure-cli-extensions/tree/master/src/aks-preview

Let me know if you are still seeing any issues.

[2019-11-05 04:26] neeleshray-msft commented on #41117
@MicrosoftGuyJFlo Could the document be updated to include the same ?

[2019-11-05 04:33] danandasarma commented on #42020
@himanshusinha-msft , Looks like it is working fine now. I am able to test the output.
Thanks for resolving it quickly

[2019-11-05 04:40] PramodValavala-MSFT commented on #42085
@dcbrown16 The edit mode is enabled by default when logged in as an admin (which is automatic when clicking the link in the portal). AFAIK there is no way to disable it but you can still navigate the pages by Ctrl (CMD) clicking links.

If you were to open the same URL (<instance>.developer.azure-api.net) in the browser, you should be in read-only mode.

[2019-11-05 04:54] RohitMungi-MSFT commented on #42088
@EricKyaw Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-11-05 04:56] RohitMungi-MSFT commented on #42090
@abhinavkulkarni Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-11-05 05:04] souravmishra-msft commented on #41999
@azhar787, As per the HTTP error 403: i.e Forbidden or Unauthorized. The authentication token wasn't provided or is invalid, or the request is attempting to access an acquisition that doesn’t belong to the current publisher.

Can you confirm if the token is being issued for the following resource "**62d94f6c-d599-489b-a797-3e10e42fbe22**". Also make sure you are doing a **POST** to the following e

[2019-11-05 05:05] souravmishra-msft commented on #42069
@ivratche, Thank you for sharing the query. We are looking into this and would get back to you soon on this thread.

[2019-11-05 05:07] SadiqhAhmed-MSFT commented on #42075
@markarnolditpro Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-11-05 05:08] souravmishra-msft commented on #42070
@ivratche, Thank you for sharing the query. We are looking into this and would get back to you soon on this thread.

[2019-11-05 05:09] SumanthMarigowda-MSFT commented on #41849
@MatthewWalkerSky I was able to downloaded, can you try in CloudShell in portal.
![image](https://user-images.githubusercontent.com/44606021/68180120-7c8a1400-ffb8-11e9-81e8-22dc6f40e0b9.png)

I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the documentation. We'll follow up there. We will no

[2019-11-05 05:09] #41849 closed

[2019-11-05 05:12] dcbrown16 commented on #42085
Thanks @PramodValavala-MSFT. When I attempt to open the URL directly I get an "Error: Access token is missing".
The error is not very high priority, but including info here or on the tutorial below as to how to navigate would be appreciated.
https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-developer-portal-customize

[2019-11-05 05:14] PramodValavala-MSFT commented on #42031
@balivo I've tested a similar setup and was able to get the function to trigger by accessing `http://localhost:7071`.

I'm use the latest version of azure-functions-core-tools - `2.7.1746`. Could you try upgrading the latest version and try again?

[2019-11-05 05:19] SnehaAgrawal-MSFT commented on #42068
@meixger Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-05 05:20] PramodValavala-MSFT commented on #42085
@dcbrown16 Sure. Do note that developer portal is being rolled out to all instances and you might experience problems as the note in the doc mentions.

Also, you might have to [reset the content](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-developer-portal#-how-can-i-migrate-from-the-preview-version-of-the-portal) for getting all the widgets added for the GA version.

[2019-11-05 05:24] IronmanM commented on #41935
Image link : https://imgur.com/6FeYcsW
![Error Image](https://user-images.githubusercontent.com/57073040/68180679-9593c480-ffba-11e9-96d8-52564aec696d.JPG)

[2019-11-05 05:27] shivsidhu commented on #42020
Yes, the output is working for now. Thank you for your quick support on this.

[2019-11-05 05:28] CHEEKATLAPRADEEP-MSFT commented on #42020
Hello All,
Thanks for the confirmation.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-11-05 05:28] #42020 closed

[2019-11-05 05:28] SadiqhAhmed-MSFT commented on #42091
@maoz123 Thanks for the comment! Could you provide the Microsoft documentation link you're referring to or share the details of the service you're using so that we can help accordingly?

[2019-11-05 05:30] hecongy opened #42095 "Invalid link"
There is an invalid link in the doc [Azure Service Bus bindings for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus#packages---functions-2x).

In [Packages - Functions 2.x](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus#packages---functions-2x) section, the link of **azure-webjobs-sdk** is invalid.

---
#

[2019-11-05 05:34] ankurja opened #42096 "Minimum regions in a geography"
This page says - "An Azure geography is a defined area of the world that contains at least one Azure Region", while another page says "An Azure geography is a discrete market typically containing two or more regions that preserve data residency and compliance boundaries." (https://docs.microsoft.com/en-us/learn/modules/explore-azure-infrastructure/3-geographies)

Which one is correct ?

---
#### D

[2019-11-05 05:37] Karishma-Tiwari-MSFT commented on #41926
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-11-05 05:37] #41926 closed

[2019-11-05 05:37] vpopescu commented on #33387
I somewhat disagree with the resolution, I think you should pick a default (latest), not put the responsibility on the user to pick a version.

But i suppose it's easier to fix the documentation to mask the bug. :)

[2019-11-05 05:38] jakaruna-MSFT commented on #41748
Yes you are right

[2019-11-05 05:46] msrini-MSFT commented on #42014
@robedani , I will close this issue. Please tag me if you have any further questions.

[2019-11-05 05:46] #42014 closed

[2019-11-05 05:47] msrini-MSFT commented on #42023
@delphikit , Do you have any update for me?

[2019-11-05 05:47] msrini-MSFT commented on #42034
@tasador , Do you have any update for me?

[2019-11-05 05:48] msrini-MSFT commented on #42060
@markarnolditpro , I will validate and let you know whether the password is required or not.

[2019-11-05 05:50] PramodValavala-MSFT commented on #42095
@hecongy Thanks for catching that! We are working up a PR to address this which should reflect in a couple of hours.

[2019-11-05 05:56] AmanGarg-MSFT commented on #42083
@matrix-revolution Can you please help me with the link of document that you are following for the above scenario?

In case your query in not related to document content, please open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?category=windowsazureplatform&forum=ApplicationInsights) or [Stack Overflow](https://stackoverflow.com/questions/tagged/azure

[2019-11-05 05:59] KrishnaG-MSFT commented on #42016
@kwill-MSFT The behavior you are seeing is expected. You cannot delete a vault (via Azure PowerShell or Azure Portal) if the vault contains registered servers.

[2019-11-05 05:59] dimitri-furman commented on #39072
@4deeptech - thanks for reporting this. bacpac import/export to/from Hyperscale is now supported in DacFx framework (SqlPackage) v18.4, as well as in SSMS v18.4.

[2019-11-05 06:00] Karishma-Tiwari-MSFT commented on #41986
Thanks for bringing this to our attention. I created a PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/94779 with the update and changes will be live shortly. I will now close this issue.

[2019-11-05 06:00] #41986 closed

[2019-11-05 06:01] AjayKumar-MSFT opened #42097 "Test for GitHub feedback post"
<<Testing GitHub doc feedback -filing issue as per customer comments>>

# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback lin

[2019-11-05 06:02] amanmcse commented on #41752
@manu4rhyme,
The Redirect URL `https://login.microsoftonline.com/te/your-tenant-name.onmicrosoft.com/oauth2/authresp` is legacy URL. We are in process of migrating to **`b2clogin.com`** domain, which results in the Redirect URL to be `https://your-tenant-name.b2clogin.com/your-tenant-name.onmicrosoft.com/oauth2/authresp`. Currently both URLs are supported by B2C but going forward, `https://login.m

[2019-11-05 06:02] #41752 closed

[2019-11-05 06:04] #42095 closed

[2019-11-05 06:05] AjayKumar-MSFT commented on #42097
Tested: Opened a doc feedback based on a issue reported by the user.

[2019-11-05 06:05] #42097 closed

[2019-11-05 06:21] CHEEKATLAPRADEEP-MSFT commented on #42052
Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDatabricks)or [stack overflow](https://stackoverflow.com/questions/tagged/azure-databricks).
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such ty

[2019-11-05 06:29] anevjes opened #42098 "Connectivity to Azure range??"
You state "The self-hosted gateway requires outbound TCP/IP connectivity to Azure on port 443." This is a pretty broad range - do you have a more definitive range of Azure services that 443 needs to be opened up to?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20dccd8b-f67a-8728-3bb3-f46a0ffdfd40
* Version Independen

[2019-11-05 06:34] maoz123 commented on #42091
@SadiqhAhmed-MSFT This is the doc link. https://docs.microsoft.com/en-us/azure/sql-database/sql-database-active-geo-replication. I have to do some experiment on whether the data replication process will cause some burden on the secondary DB.

[2019-11-05 06:36] CHEEKATLAPRADEEP-MSFT commented on #41935
@IronmanM
Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azureautomation).
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.
Please create a Forum thread and post it's link here and

[2019-11-05 06:51] formulahendry commented on #40520
Hi @alaendle , thanks again for your valuable information and suggestion!

We may want to improve the sample code as below:

Change
[code]
To
[code]

And, add a function:
[code]

How is your suggestion about this?

[2019-11-05 06:54] SadiqhAhmed-MSFT commented on #42087
@douglasism, Thanks for reaching out to us! We did a test on this issue and were able to post feedback on Azure Docs and our customers are also able to post the comments using feedback option.

In your case, it could be an account verification issue. Might I ask you to re-verify your GitHub account and let us know if that fixes the issue?
Reference: https://github.com/MicrosoftDocs/azure-docs

[2019-11-05 07:12] ramaruth opened #42099 "We should update the link below "Visit the published portal""
I believe after publishing the portal we should check that under https://contoso-api.developer.azure-api.net and not https://contoso-api.portal.azure-api.net.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54c705a3-b106-e0dd-8f50-a74c3752ab40
* Version Independent ID: 748e587e-7617-8c9e-0a17-7d070a7b99ce
* Content: [Ac

[2019-11-05 07:23] SadiqhAhmed-MSFT commented on #41753
@jtuliani Budgets / other alerts are evaluated in our system every 12 hours. It takes about 8 hours for us to receive the cost data once the consumption has actually occurred which is why we have ~20 hour lag after consumption before an alert may fire.

Currently, this is how the system is designed. And I second on your concern about 20 hours lag is a very long time. All I could suggest is put acr

[2019-11-05 07:25] LachlanJB commented on #41921
Hello @souravmishra-msft

Thanks for the clarification and that is exactly the information we were after. Thank you for the follow up.

Best Regards
Lachlan

[2019-11-05 07:27] chenkennt commented on #41931
@paulce this is a typo, the correct format should be: `Azure:SignalR:ConnectionString:{Name}:{EndpointType}`. I'll submit a PR to fix it. Thanks for reporting this!

[2019-11-05 07:34] AshokPeddakotla-MSFT commented on #42092
@danwale Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-05 08:04] SubhashVasarapu-MSFT commented on #41838
@vhorne , could you please provide your insights on this?

[2019-11-05 08:13] RohitMungi-MSFT commented on #42027
@jbeltranluna To lookup the error details of your migration could you please submit the details from LUIS portal through "General inquiry through user voice"? This would send the details to our product team who would have access to lookup the logs and provide feedback on the error.
![image](https://user-images.githubusercontent.com/46958063/68189797-29bd5600-ffd2-11e9-8e91-d9d61966b799.png)

[2019-11-05 08:19] kiki-kekat opened #42101 "This document may confuse supported os version."
This document contains to create a cloud witness on Step 3.
Cloud witness is supported for WSFC on Windows Server 2016  and newer.

However, customer misunderstood to support cloud witness on Windows Server 2012 Cluster,
because this document discribed "Premium file share supports WSFC for SQL Server on Windows Server 2012 and newer".

Please sepalate and explane as following.
・Windows Server 2016

[2019-11-05 08:26] Ishwinder-kaur commented on #37420
I am not getting detailed output when using Get-AzMetric for azure analysis services.
![Get-AzMetricNoData](https://user-images.githubusercontent.com/22472088/68190618-be748380-ffd3-11e9-80df-fe587e7702f0.PNG)

Is there any API or powershell command which would give us detailed output of the metrics (memory utilization).

[2019-11-05 08:26] tasador commented on #42034
@msrini-MSFT - other values are like "3,988", "0,043", ...
Based on the explanation of timeTaken I expected values like 30004, 3988, 43, ...  We are using a third party graphing tool and I got weird results assuming the values would be ms, until I took a closer look at the numbers in Kusto to find decimal values expressed in seconds but including milliseconds.

[2019-11-05 08:26] axelgMS commented on #41327
thanks - just submitted my PR on File change for https://github.com/MicrosoftDocs/azure-docs/issues/41327 #42102

[2019-11-05 08:27] #41327 closed

[2019-11-05 08:29] ChiragMishra-MSFT commented on #42084
@frvigano Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-11-05 08:29] CraigCloudITPro commented on #42052
Hello @CHEEKATLAPRADEEP-MSFT please leave this ticket open as it's a MSFT issue with no support for "PrepareNetworkPoliciesRequestIsMissingNetworkIntentPolicies"

[2019-11-05 08:31] msrini-MSFT commented on #42034
@tasador , Alright. Do you have any specific questions for me ?

[2019-11-05 08:34] Karishma-Tiwari-MSFT commented on #38068
Please refer to this MSDN thread : https://social.msdn.microsoft.com/Forums/en-US/d4f1f651-1fbb-485b-ad11-6010234d2c05/timing-on-converting-unmanaged-disks-vm-to-managed-disks?forum=WAVirtualMachinesforWindows

[2019-11-05 08:35] jurjenoskam opened #42103 "ACL permissions must be granted to the hierarchy of folders for all types of principals"
Under "Levels of access", the Note currently mentions that: "If you are granting permissions by using only ACLs (no RBAC), then to grant a service principal read or write access to a file, you'll need to give the service principal Execute permissions to the container, and to each folder in the hierarchy of folders that lead to the file."

This applies to all principals, not just service principals

[2019-11-05 08:36] mjazwiecki opened #42104 "AADSTS50105 access denied and certificate fallback"
Hi,

I would like to know if this is expected behavior as per [documentation](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-creation-setup-aad#reason):

During my tests I log in to Service Fabric Cluster Explorer endpoint with AAD account not added to AAD application and received AADSTS50105 access denied error, which is expected. However then, there should be certif

[2019-11-05 08:36] Karishma-Tiwari-MSFT commented on #39430
Thanks for sharing the update.

[2019-11-05 08:37] azhar787 commented on #41999
@souravmishra-msft

I tried everything in the world,but i didn't tried putting resource as **"62d94f6c-d599-489b-a797-3e10e42fbe22".** and was putting **https://graph.microsoft.com**.

Can you tell me what resource that GUID belongs to?

I have activated the Subscription.

But now i have activated the subscription,but where can i find whether the customer has charged or not? Because i am not able

[2019-11-05 08:43] aelij commented on #33587
@ojasp From what I'm told - no. It does work though (but may be blocked by the SF resource provider in the future).

[2019-11-05 08:45] Karishma-Tiwari-MSFT commented on #39164
Thanks @jonbeck7
@iizotov We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-11-05 08:45] #39164 closed

[2019-11-05 08:50] Karishma-Tiwari-MSFT commented on #42011
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-05 09:02] rayne-wiselman commented on #42016
@kwill-MSFT Thanks for your feedback. I'm investigating why the option called out as force doesn't work.

[2019-11-05 09:09] jbeltranluna commented on #42027
Yes, I already have opened the issue from the feedback menu. I'll let you know if there is some general solution. Thanks

[2019-11-05 09:10] jumarko opened #42105 "Standard File Shares expected performance (IOPS)"
I couldn't find useful information about expected performance of "Standard file shares" on this page or anywhere else.
For the "Premium file shares" you state that the Baseline IOPS is 1/provisioned GB but for "standard" there's no such info.
What can I expect from the standard file shares? Is their performance going to be affected by how much space is provisioned ("Quota") and/or used?

---
####

[2019-11-05 09:12] simonvane opened #42106 "TTL deletes"
How would this work when a large number of TTL expiries occur? Would it use all RUs up to the maximum to do the background delete?
We'd really want to limit the RU usage for the TTL expiry I think.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5b2be67-25e0-a558-dae2-5fa149df2d96
* Version Independent ID: e95519f3-80f

[2019-11-05 09:30] jakaruna-MSFT commented on #41748
Refer to this faq on this doc https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-use-low-priority#does-autoscale-work-with-both-eviction-policies-deallocate-and-delete

Its better to go for delete eviction policy and setup autoscaling. If your scale set capacity is 3, Then if 3 deallocated vms are there, Then VMSS wont scale after that.

If the eviction po

[2019-11-05 09:30] jakaruna-MSFT commented on #41748
@assaf-grth  I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-11-05 09:30] #41748 closed

[2019-11-05 09:33] rayne-wiselman commented on #41300
I've updated the article for clarity. This should show up later today. Thanks for your feedback!

#please-close

[2019-11-05 09:33] #41300 closed

[2019-11-05 09:35] rayne-wiselman commented on #41178
This is now fixed. Thanks for your feedback
#please-close

[2019-11-05 09:35] #41178 closed

[2019-11-05 09:36] rayne-wiselman commented on #40630
@femsulu. I'm closing this. It needs to be routed as a product issue
#please-close

[2019-11-05 09:36] #40630 closed

[2019-11-05 09:37] KalyanChanumolu-MSFT commented on #42106
@simonvane Thank you for reaching out.

Deleting items based on TTL is free.
There is no additional cost (that is, no additional RUs are consumed) when item is deleted as a result of TTL expiration.

[2019-11-05 09:39] Tanharuki opened #42107 "Do Vulnerability Assessment logs will contain the resource or subscription id in future?"
Vulnerability Assessment logs do not contain the resource or subscription id, just server name and database name.
Should the resource and subscription Id will be included in the Vulnerability Assessment in the near future ?
Customer want the subscription ID and resource group name in Vulnerability Assessment log to make it easy to identify.

---
#### Document Details

⚠ *Do not edit this section.

[2019-11-05 09:49] MGamil-MSFT commented on #41081
I checked the article but it is still not updated, is it usually taking time to be updated?

[2019-11-05 09:49] MGamil-MSFT commented on #41081
I checked the article but it is still not updated, is it usually taking time to be updated?

[2019-11-05 09:49] MGamil-MSFT commented on #41081
I checked the article but it is still not updated, is it usually taking time to be updated?

[2019-11-05 09:49] MGamil-MSFT commented on #41081
I checked the article but it is still not updated, is it usually taking time to be updated?

[2019-11-05 09:50] PramodValavala-MSFT commented on #42099
@ramaruth Thanks for the feedback! We will review and update accordingly.

[2019-11-05 09:51] SumanthMarigowda-MSFT commented on #41850
@Wis10 PR merge request has been raised.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue..

[2019-11-05 09:51] #41850 closed

[2019-11-05 10:01] SadiqhAhmed-MSFT commented on #42007
@rayne-wiselman Can you help clarifying this query?

[2019-11-05 10:01] smerkx opened #42108 "runbook signing - plain ASCII only"
Missing in the documentation about singing runbooks: make sure you use plain ASCII only in your runbooks.
If you use diacritic characters, for example in comments in your code, they will be replaced by '?' when Azure Automation downloads your code and your runbook will fail with a "signature hash validation failure" exception.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-11-05 10:06] SadiqhAhmed-MSFT commented on #41930
@sujayt Just a reminder for assistance on this.

[2019-11-05 10:11] MichalTaratuta commented on #5989
This whole Azure API is shambles, I have had this feature "NSG Flow logs" working with secure Storage Account" but then it suddenly stopped after 28/10/2019, which begs the questing what is Microsoft doing with the back-end. We were using api-version=2019-04-01 but is looks like this had been now change to 2019-06-01 and the feature is not supported anymore.

[2019-11-05 10:12] peirens-bart opened #42109 "project template not including .net core"
I try to follow thos tutorial but the project template i Installed does not contain .net core
1. create new project page
2. Configure your project page, where the only framework I can choose is .net Framework xx.

i never come into step 5 of this tutorial, i reintalled to component but that did not make any defference.
I also removed the package from C:\ProgramData\Microsoft\VisualStudio\Packages

[2019-11-05 10:14] danandasarma commented on #42020
@CHEEKATLAPRADEEP-MSFT ,
It worked for me till half an hour ago. I am able to test the output successfully and also the dataset got created on Power BI workspace. But, it is failing now. Though the test for output is succeeding, it is asking for authorization again & again and also the dataset is not getting in Power BI. Can you please verify this once again?

[2019-11-05 10:14] SaurabhSharma-MSFT commented on #41895
@mfaulkinbury We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-11-05 10:14] #41895 closed

[2019-11-05 10:15] Herr-Sepp commented on #41476
I am aware that the containers then compete for resources.
I just wanted to ask if only the documentation is adapted to the current behavior or if any changes are made to ACI's behavior regarding resource sharing.

[2019-11-05 10:21] balivo commented on #42031
I don't have Azure Functions Core Tools installed from NPM...

And my version is:

Azure Functions Core Tools (2.7.1846 Commit hash: 458c671341fda1c52bd46e1aa8943cb26e467830)
Function Runtime Version: 2.0.12858.0

I think I'm running the latest version.

[2019-11-05 10:41] JakubW88 opened #42110 "Implementation to currently containers"
Can I deploy autopilot to already created environment ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5b2be67-25e0-a558-dae2-5fa149df2d96
* Version Independent ID: e95519f3-80f7-37bf-e3fc-9ebbf5081f17
* Content: [Create Azure Cosmos containers and databases in autopilot mode.](https://docs.microsoft.com/en-us/azure/c

[2019-11-05 10:42] RohitMungi-MSFT commented on #42088
@EricKyaw For issues related to service we would recommend to raise issues in our stackoverflow or MSDN forum as the product team and our community of developers could help. This forum is used for correcting issues related to documentation of azure docs repo.

I have also seen another issue with similar message in [MSDN](https://social.msdn.microsoft.com/Forums/en-US/54abdbe9-8069-428d-91e4-8ff91b

[2019-11-05 11:06] dandyfopper commented on #39533
any update on the testing?

[2019-11-05 11:09] Herr-Sepp opened #42111 "ACI-Networking: Ports are always exposed to other Container inside a Goup"
Corresponding section in the documentation:

And on [yaml reference](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-reference-yaml#Port):

But regardless of whether I expose a port or not, it is always accessible within the group(instance).
The expizite specification in YAML has no effect.

According to my understanding of the documentation, a port that is not speci

[2019-11-05 11:13] AshokPeddakotla-MSFT commented on #40806
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-11-05 11:13] #40806 closed

[2019-11-05 11:19] AshokPeddakotla-MSFT commented on #40105
As mentioned, we will work on this feedback and update the doc. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-05 11:19] #40105 closed

[2019-11-05 11:19] simonvane commented on #42106
As I understand it the deletes will use any unused RUs to do the deletes. What I'm not clear about is what "unused RUs" would mean in terms of autopilot where the throughput is set dynamically up to a maximum value.

Are you saying that deletes are carried out using unused RUs from what the database has been dynamically scaled to?

So for example, if we set the maximum RU/s to 10,000 and the throu

[2019-11-05 11:20] AshokPeddakotla-MSFT commented on #39958
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-11-05 11:20] #39958 closed

[2019-11-05 11:22] AshokPeddakotla-MSFT commented on #40151
As mentioned, we are working on the updates.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-05 11:22] #40151 closed

[2019-11-05 11:28] AshokPeddakotla-MSFT commented on #41499
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-05 11:28] #41499 closed

[2019-11-05 11:29] AshokPeddakotla-MSFT commented on #40869
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-11-05 11:29] #40869 closed

[2019-11-05 11:36] PramodValavala-MSFT commented on #42031
@balivo Yes. That's the latest version. Also, just to confirm, I am trying with all 3 settings

1. App Setting to disable homepage in `local.settings.json`
2. The `extensions.http.routePrefix` set to `""` in `host.json`
3. `Route = "/"` in the HttpTrigger attribute

[2019-11-05 11:39] Karishma-Tiwari-MSFT commented on #42101
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-05 11:41] shammyowens commented on #33674
I am getting this issue in East US today, probably tried about 15 times over the last couple of hours.

[2019-11-05 11:41] jakaruna-MSFT commented on #42111
@Herr-Sepp
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-05 11:46] balivo commented on #42031
Yes...

When I use those settings, the route of my Fuctions has double "/".

If I set Route = "", the route is mapped on functions list but just work if I call the entire name of Function on URL.

Example: POST http://localhost:7071/MyFunctionName

[2019-11-05 11:49] jakaruna-MSFT commented on #42111
@Herr-Sepp Ports specified in the yaml will be opened for the public ip which is assigned to that ACI.

If we are using localhost, There is no port restriction. Thats why all the third container is able to reach other containers.

In your case, You have opened 8080, So you can access that port only via the public ip assigned to that ACI.
you cant access 8090 via the public ip.

Let me know if you

[2019-11-05 11:52] AshokPeddakotla-MSFT commented on #40514
@nayrangnu Thanks for the PR.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-05 11:52] #40514 closed

[2019-11-05 11:53] KalyanChanumolu-MSFT commented on #42106
@simonvane Yes you are right.
The delete operation using TTL consumes left-over Request Units that haven't been consumed by user requests.

Detailed explanation is [here](https://docs.microsoft.com/en-us/azure/cosmos-db/time-to-live) if you want to read more about the process.

[2019-11-05 11:57] AshokPeddakotla-MSFT commented on #39844
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-05 11:57] #39844 closed

[2019-11-05 12:00] VikasPullagura-MSFT commented on #42109
@peirens-bart Can you check if you have dotnet core installed.
If not, install dotnet-core and check, once it is installed you should be able to select the dotnet core.
Download it from [here](https://dotnet.microsoft.com/download/dotnet-core).

[2019-11-05 12:01] RohitMungi-MSFT commented on #42090
@abhinavkulkarni I have tried to run the quick start on my windows machine from the terminal and it works fine. Please find the screen shot below:
![image](https://user-images.githubusercontent.com/46958063/68205791-28e7ec80-fff1-11e9-94dd-5d898e92a406.png)

Could you please check if the speech key is used for the change as the template mentions the key as subscription key which can be mistaken fo

[2019-11-05 12:03] scm9nwr opened #42112 "Add PowerShell, CLI, REST API, ARM Template options for configuring Activity Log Diagnostics Setting"
Existing guidance is for creating a Diagnostics Setting for a particular resource only not the Azure Activity Log

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 624551f7-b873-face-6b12-f3df50b4fc6d
* Version Independent ID: 41954f53-8423-762f-3368-00be2d3fb2b2
* Content: [Collect Azure Activity log with diagnostic sett

[2019-11-05 12:04] paulmarshall opened #42113 "Yeoman hangs on Windows 10"
[Ovdje unesite povratne informacije]

---
#### Detalji dokumenta

⚠ *Ne uređujte ovu sekciju. Ona je neophodna za povezivanje problema slijedom docs.microsoft.com ➟ GitHub.*

* ID: 67e2aaeb-9332-648d-6577-42c1bbe77583
* Version Independent ID: 0d27688c-bc6b-0f97-7e8e-0db48621a109
* Content: [Tutorial - Create a Terraform base template in Azure using Yeoman](https://docs.microsoft.com/bs-latn-ba/az

[2019-11-05 12:15] YutongTie-MSFT commented on #41856
@markti Hi Mark, do you have a support plan? Since this issue is not a document issue and it's hard to reproduce, if you have a support plan we would highly recommend you to open a support ticket for help. If not, please feel free to send us an email at Azcommunity@microsoft.com with your azure subscription Id and URL of this thread. Thanks.

We will now proceed to close this thread. If there are

[2019-11-05 12:15] #41856 closed

[2019-11-05 12:21] ofalk commented on #42037
Hey @MicahMcKittrick-MSFT !

Thanks for getting back to me.
I'm not too familiar with Azure and the images available there (the topic was brought up by one of my customers). Red Hat Enterprise Linux (RHEL) is available for free, with a free developer subscription and even without the subscription you can potentially run RHEL, without a subscription, but of course you're not entitled to receive sup

[2019-11-05 12:24] smithcl167 opened #42114 "migrate SCVMM replications"
in reference to this https://docs.microsoft.com/en-us/azure/site-recovery/scvmm-site-recovery-deprecation?source=docs
the deprecation of VMM as a management source for ASR, is there a method to convert current replicated VMs to Hyper-V based replications or do you need to delete what you have and resetup the VMs to replicate via a Hyper-V site?

Thanks

[2019-11-05 12:27] tasador commented on #42034
When sending the diagnostics logs of the application gateway to a storage account, it also results in decimals expressed in seconds, eg: "timeTaken":9.64 or "timeTaken":0.105

[2019-11-05 12:35] jakaruna-MSFT commented on #41939
@maheshsabnis Can you try to connect to the cluster with the below powershell commandlet?

[Connect-ServiceFabricCluster](https://docs.microsoft.com/en-us/powershell/module/servicefabric/connect-servicefabriccluster?view=azureservicefabricps)

If there are any errors , post here

For accessing in Browser, We need to download the cluster certificate and install it on the client machine,.

[2019-11-05 12:38] balivo commented on #42031
I made another test right now...

Set my function Route to "" and my routePrefix to "teste"..

Same behavior, my Function just called if I use http://localhost:7071/teste/MyFunctionName

[2019-11-05 12:42] vidarkongsli opened #42115 "CAA record"
Great feature! What CA needs to be included in the Certification Authority Authorization (CAA) DNS record for this to work?

Thanks,
Vidar

---
#### Dokumentinformasjon

⚠ *Ikke rediger denne delen. Den kreves for koblingen docs.microsoft.com ➟ GitHub-problem.*

* ID: cc2ee874-df45-1de2-1b30-1fd75c7fd709
* Version Independent ID: ee181722-8386-9842-407f-d0549012d2e9
* Content: [Add and manage SSL

[2019-11-05 12:43] jakaruna-MSFT commented on #41985
@peterpogorski please add your comments

[2019-11-05 12:50] reginbald commented on #41954
Doesn't seem to work. He notes that "This works only if you connect your Cosmos DB client to another machine on the network; it doesn't work if you connect your Cosmos DB client to the same machine."

[2019-11-05 12:52] alaendle commented on #40520
Hello @formulahendry - to be honest I'm no C++ expert, so I couldn't guarantee that there aren't more elegant solutions; but it looks fine from my side and I believe the intend of the code should be obvious to any reader. Many thanks for improving the documentation!

[2019-11-05 12:54] smithcl167 opened #42116 "migrate SCVMM replications"
in reference to this https://docs.microsoft.com/en-us/azure/site-recovery/scvmm-site-recovery-deprecation?source=docs
the deprecation of VMM as a management source for ASR, is there a method to convert current replicated VMs to Hyper-V based replications or do you need to delete what you have and resetup the VMs to replicate via a Hyper-V site?

Thanks

---
#### Document Details

⚠ *Do not edit th

[2019-11-05 12:54] #42114 closed

[2019-11-05 12:54] LuisGonzalezLT opened #42117 "The fate of existing backups if retention policy is shortened is not clear."
This isn't clear from the documentation.
Consider a database that is set for Weekly up to 10 years that has accumulated 2 years of backups. The policy is then changed to Weekly for only 1 year. What happens to those existing backups that exceed the new 1 year policy? Do they remain untouched or are they all automatically deleted after the policy is changed?

---
#### Document Details

⚠ *Do not ed

[2019-11-05 12:57] SHIfTHEAD opened #42118 "Misleading or wrong documentation"
This page implies that buying M365 Business will give you full Azure MFA licenses.
"Azure Active Directory Premium or Microsoft 365 Business - Full featured use of Azure Multi-Factor Authentication using Conditional Access policies to require multi-factor authentication."
When in fact M365 Business does not give you full MFA.  I have a case open where our customer cannot deploy Azure MFA with NPS

[2019-11-05 13:04] SadiqhAhmed-MSFT commented on #42096
@ankurja Thanks for the comment! This issue is being assigned to the content author to evaluate and update as appropriate.

@rayne-wiselman Does the first statement still holds true or the other page information is correct?

[2019-11-05 13:06] vbijjam1 commented on #42071
Hi Kalyan,
I guess its something to do with proxy setting. I did add the proxies to springboot but still i'm having the issue. Is there anything needs to be added for springboot app to access  the Azure Cosmos Mongo DB

[2019-11-05 13:07] SadiqhAhmed-MSFT commented on #42098
@anevjes Thanks for the comment! We will check on this requirement and get back to you soon.

[2019-11-05 13:07] bc-109 commented on #42064
The cause of the problem is Security Defaults :
https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-security-defaults
If activated in the AD azure console, this checkbox overrides all other MFA settings, but without saying it. MFA is forced for administrators, even if all other settings say it's disabled.
--
There's IMHO a problem in the "logic" of

[2019-11-05 13:07] Herr-Sepp commented on #42111
Ok so all ports are always accessible for all container inside the group and that can not be prevented? This should be included in the documentation.

What do you mean with:

Is there another way?

In my example this is not yet the case.
To reach a port from the outside I have to release it within the container declaration AND within the IpAddress configuration.

[code]

So releasing the port only

[2019-11-05 13:08] SadiqhAhmed-MSFT commented on #42105
@jumarko Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-11-05 13:10] bc-109 commented on #42064
As a summary, there are (at least) 4 places where MFA can be enabled or not :
- AD Security Defaults (overrides all other settings without saying it)
- AD plugin "Modern Authentication" (didn't really understand what it'sworth)
- Per-user MFA settings (the "right" place")
- Conditional Policies (for advanced use only / requires AD Premium)

[2019-11-05 13:11] PramodValavala-MSFT commented on #42031
Could you try with the settings that I've [mentioned earlier](https://github.com/MicrosoftDocs/azure-docs/issues/42031#issuecomment-549786196) and try making a request to `http://localhost:7071` ignoring the output?

[2019-11-05 13:11] fhe-fr opened #42119 "How to call an azure ml pipeline from logic apps?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-11-05 13:22] SubhashVasarapu-MSFT commented on #41758
@mdehaas ,Thanks for sharing the SR ticket details! We will now close this issue in GitHub, I shall follow-up on this internally and help you find a resolution soon. Since this channel is reserved for ‘Azure docs’ questions, specific to doc feedback and content improvements.

[2019-11-05 13:22] #41758 closed

[2019-11-05 13:29] SadiqhAhmed-MSFT commented on #42107
@Tanharuki Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-11-05 13:31] SadiqhAhmed-MSFT commented on #42108
@smerkx Thanks for the feedback. We are looking into this and will get back to you shortly.

[2019-11-05 13:32] souravmishra-msft commented on #41921
@LachlanJB, Thank you so much for sharing the confirmation. I am closing this thread for now. In case you need any more assistance with this please feel free to re-open this thread.

[2019-11-05 13:32] #41921 closed

[2019-11-05 13:34] SadiqhAhmed-MSFT commented on #42110
@JakubW88 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-11-05 13:36] SadiqhAhmed-MSFT commented on #42112
@scm9nwr Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-11-05 13:40] SadiqhAhmed-MSFT commented on #42104
@mjazwiecki Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-11-05 13:41] peirens-bart commented on #42109
Hi

I have installed dotnet-core and have running asp.net core apps on azure.
I want to explore the service factory in comparison with aks.

screenshots:

  1.  open vs 2019 as administrator
[cid:02c352cf-0eea-4718-a366-1f35fb321bd0]

2. click create a new project
[cid:6bf8b6b0-fc41-44f5-8484-b91b79bde21f]
3. click Service Fabric Application
[cid:25d3d76e-adb9-4a8a-a36d-d5dd9dc71ba2]

my Vs 2019 i

[2019-11-05 13:42] SadiqhAhmed-MSFT commented on #42103
@jurjenoskam Thanks for the feedback. We are looking into this and will get back to you shortly.

[2019-11-05 13:43] eliasblueshift commented on #42020
Working here as well. Thank you!!

[2019-11-05 13:45] SadiqhAhmed-MSFT commented on #42093
@wahyuen Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-11-05 13:56] amkondi opened #42120 "Azure Data Encryptions Documentation misguided us"
Hello Team,

On the Documentation of the ADE, it shows that we can use the ADE for CentOS distributions option All disks which not possible on the last versions that uses XFS as file system by default.

Best regards,
"""""""""""""""""""""""""""""""""""""
Amine KONDI,
Microsoft Azure Architect Technologies

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-11-05 13:56] CeciAc opened #42121 "Is there a 3.0 package? Microsoft.Azure.AppConfiguration.AspNetCore"
Hi team,
I'm moving this from here: https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/545

@wrkettlitz commented 4 hours ago — with docs.microsoft.com
or does this work for asp core 3.0? https://www.nuget.org/packages/Microsoft.Azure.AppConfiguration.AspNetCore/2.1.0-preview-010380003-1338

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2019-11-05 13:58] TomArcherMsft commented on #33387
@vpopescu The engineering team is discussing setting a default value - similar to how Ansible-AKS-Role (https://github.com/Azure/ansible-aks) deals with the situation. For now, I want to update the documentation so that customers can proceed without error. Thank for your feedback.

[2019-11-05 14:03] CeciAc opened #42122 "Needed URLs+Port Whitelisting"
@sawolfe91 commented on [Tue Nov 05 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/585)

Our Sever needed additionally the URL ne.configuration.dataproxy.clouddatahub.net:443 whitelisting for the  setup, this info is missing above :)

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich

[2019-11-05 14:09] CeciAc opened #42123 "Is this feature can compatible with spinnaker?"
@junojuno90 commented on [Mon Nov 04 2019](https://github.com/MicrosoftDocs/azure-docs.ko-kr/issues/1053)

Hi, i'm packaging our helm template and upload to blob storage now.
And spinnaker pointing that blob storage - template and bake with it.
If this feature supported on the spinnaker, i wanna do the POC and use it.

---
#### 문서 세부 정보

⚠ *이 섹션을 편집하지 마세요. docs.microsoft.com ➟ GitHub 문제 연결에 필요합니다.

[2019-11-05 14:10] IEvangelist commented on #41662
Yes, this is exactly what we were looking for! As a consumer we were thinking "folders" not "virtual directories", we tried searching and couldn't find it. This is what we were looking for though, so thank you.

[2019-11-05 14:13] #41662 closed

[2019-11-05 14:14] amkondi commented on #42120
Hello Team,

On the Documentation of the ADE, it shows that we can use the ADE for CentOS distributions option All disks which not possible on the last versions that uses XFS as file system by default.

Best regards,
"""""""""""""""""""""""""""""""""""""
Amine KONDI,
Microsoft Azure Architect Technologies

[2019-11-05 14:14] wald-tq opened #42124 "don't use elevated PowerShell prompt to generate certificates"
[code]

If I am using a Powershell as Administrator I will not see the certificates in the system certificate manager or the user certificate manager.

If I am using the normal Powershell I am finding the certificates in the user certificate manager.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63df9645-af2c-3cfc-8f6

[2019-11-05 14:25] KrishnaG-MSFT commented on #42114
@smithcl167 Hope you have self resolved the problem and hence closed the issue. Thanks for the update.

[2019-11-05 14:29] souravmishra-msft commented on #42040
@projexe, By default a refresh token has a lifetime of 14 days and it keeps on increasing if the user keeps using the application continuously the lifetime of the refresh token keeps on increasing and it goes upto 90 days. Having said that, the Access Token lifetime (the actual token that is consumed by the service/webapi) is always valid for 1 hour.

To get an access token initially, the user has

[2019-11-05 14:30] #42099 closed

[2019-11-05 14:38] mikebudzynski commented on #42085
@dcbrown16 Good point. You need to open the portal in an incognito / private mode of your browser in order to separate sessions. I will update the instructions shortly in the tutorial: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-developer-portal-customize#visit-the-published-portal

#please-close

[2019-11-05 14:39] #42085 closed

[2019-11-05 14:39] phil337 opened #42125 "Great idea - can't get it to work, and error messages are unhelpful."
Repeated attempts all fail with the helpful "Failed to create App Service Managed Certificate for hostname &lt;snip&gt; Error Details: The gateway did not receive a response from 'Microsoft.Web' within the specified time period."

Failure messages could certainly be more helpful ;-)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-11-05 14:40] shashishailaj commented on #42118
@SHIfTHEAD Thank you for your feedback . We will have this checked and update this thread.

[2019-11-05 14:40] shashishailaj commented on #42118
@MicrosoftGuyJFlo Could you please review this request ?

[2019-11-05 14:41] phil337 commented on #42125
To clarify: The free managed service cert creation fails.
(Other cert options work, obviously.)

[2019-11-05 14:43] AjayKumar-MSFT commented on #41839
@ankitvijay,
You have stated that it worked on paths that you had indexed; it is true because you can query indexed paths. You only have to index the data you want the indexer to be able to see, plus the _ts and _rid colums so they are accessible to the query as well. We need these values to provide a unique id for each record and make incremental progress while indexing the data. Kindly review th

[2019-11-05 14:43] #41839 closed

[2019-11-05 14:44] dikokob commented on #36581
I have the same issue using the Azure API for FHIR even though I was successful in getting an access token.

[2019-11-05 14:51] wolfganggallo commented on #33157
@SubhashVasarapu-MSFT

I have the same issue. I'm using Azure CLI 2.0.76. My application gateway and key vault are in different resource groups in the same subscription. The key vault has soft delete enabled, can be accesses from all networks and has an access policy for the application gateway's assigned user assigned identity with the get secrets permission.

`az network application-gateway ssl-

[2019-11-05 14:53] smithcl167 commented on #42114
hi, i added it into the releveant doc site
https://docs.microsoft.com/en-us/azure/site-recovery/scvmm-site-recovery-deprecation?source=docs#feedback

[2019-11-05 15:09] NavtejSaini-MSFT commented on #41954
@markjbrown @SnehaGunda Can you please check this further.

[2019-11-05 15:10] shadewlkr opened #42126 "Same Identifier URI for Azure AD SAML"
Based on this article: https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-fed-single-adfs-multitenant-federation

I understand that we can set different Issuers for outgoing assertions to Azure AD, but when Azure AD makes a SAML request to ADFS, it uses the Issuer urn:federation:MicrosoftOnline.  How do you modify this when trying to federate a single ADFS environment to

[2019-11-05 15:10] #41945 closed

[2019-11-05 15:12] batanun commented on #41645
Not having an exact ETA is understandable (even though the E in ETA stands for Estimated...). But maybe you can give us a ballpark estimation? Are we talking before the end of 2019? First quarter of 2020? Before end of 2025?

[2019-11-05 15:12] souravmishra-msft commented on #42069
@ivratche, In case of Federated User,  CloudAP plugin requests a SAML token from the federation provider with the user’s credentials. This happens over the usernamemixed endpoint.

Hope this helps. Do let me know if any more queries around this, so that we can help you further with those.

[2019-11-05 15:13] shadewlkr opened #42127 "What about the same Identifier URI for Azure AD?"
I understand that we can set different Issuers for outgoing assertions to Azure AD, but when Azure AD makes a SAML request to ADFS, it uses the Issuer urn:federation:MicrosoftOnline. How do you modify this when trying to federate a single ADFS environment to multiple Azure AD tenants? Is there a way to specify in Azure AD, what the Relying Party identifier in ADFS will be? This identifier URI need

[2019-11-05 15:13] wolfganggallo commented on #33157
If I edit the application gateway HTTP listener in Azure Portal and try to get the SSL certificate from the key vault there, I get this error:

![application-gateway-https-listener](https://user-images.githubusercontent.com/57404524/68219887-06e96c80-ffe7-11e9-9b53-3e25cca8d018.png)

[2019-11-05 15:17] SamaraSoucy-MSFT commented on #42121
Hi @CeciAc Thank you for your question. I will take a look at it and get back to you shortly.

[2019-11-05 15:17] nikbra commented on #40961
@DJKampouris , sounds great.
Can you publish an example on github or here so I can download and look at it ?
Would be appreciated :) Thanks Niklas

[2019-11-05 15:23] markti commented on #41856
I've already opened a ticket but no response yet.

[2019-11-05 15:24] kyanagimoto opened #42128 "When using Istio with Avaliability Zone AKS cluster, it was failed."
Even if I do the same as described, Istio Install was failed.
My kubernetes cluster was build with AvailabilityZone cluster.

Situation is istio-policy, Istio-security-post and istio-tracing are doing crashLoopBackOff.

How can I avoid this situation?

kubernetes version: 1.14.8
helm: 2.14.3
istio: 1.3.3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-11-05 15:27] NavtejSaini-MSFT commented on #42117
@LuisGonzalezLT We are checking this and will get back to you.

[2019-11-05 15:51] SamaraSoucy-MSFT commented on #42121
The existing package does work and the code for the App Config setup, but Core 3.0 does have some differences in how to setup the rest of the app. We [have a thread](https://github.com/MicrosoftDocs/azure-docs/issues/41024) to update this doc with the 3.0 changes. In the meantime, there is a 3.0 version of this tutorial in this repo: https://github.com/SamaraSoucy-MSFT/appconfigdyamic

[2019-11-05 15:51] #42121 closed

[2019-11-05 15:52] vhorne commented on #39120
fixed

#please-close

[2019-11-05 15:54] hansenms commented on #36581
What is the error message you are seeing? Do you get a 401 or a 403? What response headers do you see?

[2019-11-05 15:55] gmantri-ais commented on #12657
The links mentioned above talks about updating a storage account to use customer managed keys. Is it possible to **use customer managed keys while creating an account**?

[2019-11-05 15:58] #39120 closed

[2019-11-05 16:00] j-martens commented on #42088
#please-close thanks for your post.

[2019-11-05 16:00] #42088 closed

[2019-11-05 16:02] IanKnighton commented on #42078
That appears to have done it. Thanks!

FWIW, I noticed the it's never mentioned in the document that the `update` command is in preview. I don't know where I would have found this on my own using the documentation provided and the information given by the cli.

[2019-11-05 16:02] #42078 closed

[2019-11-05 16:09] CyclopsHelpdesk commented on #27791
Sounds obvious, but have you checked the tenant name and the host pool name are correct in the PowerShell command? I had the issue and it led me here, I then realised I had typed both incorrectly. It gave me the exact same error - no permissions - really it should have said the tenant name and host pool name did not exist.

[2019-11-05 16:09] cephalin commented on #41330
@joeythomaschaske @weirdaze I've clarified this in the new doc: https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate-in-code#make-the-certificate-accessible. You'll need to load your certificate file directly instead. Check the Node.js and Python documentations on how to load a certificate file in the code. #please-close

[2019-11-05 16:11] RyanHill-MSFT commented on #42115
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-05 16:14] #41330 closed

[2019-11-05 16:17] cephalin commented on #38624
#please-close

[2019-11-05 16:18] #38624 closed

[2019-11-05 16:18] rmarskell commented on #16002
This is what I used. The claims principal has values after the user has logged in as expected.

[code]

And then in `Startup.cs`:

[code]

And in `ConfigureServices()`:

[code]

[2019-11-05 16:21] SamaraSoucy-MSFT commented on #42093
Since feature flags are just a special case of Key-Value pairs, you can set them [with the CLI ](https://docs.microsoft.com/en-us/cli/azure/ext/appconfig/appconfig/kv?view=azure-cli-latest#ext-appconfig-az-appconfig-kv-set)using the `az appconfig kv set` command.

To do so, prefix your flag name with  ".appconfig.featureflag/" as that tells App Config that this is a feature flag. You also need to

[2019-11-05 16:21] #42093 closed

[2019-11-05 16:23] SnehaAgrawal-MSFT commented on #42125
@phil337 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-05 16:30] damendo commented on #5989
This issue can be tracked on the Azure Feedback portal here: https://feedback.azure.com/forums/217313/suggestions/33684529
We are expecting it launch by Jan 2020.

@MichalTaratuta Sorry to hear that. You can raise a support request through the portal or email me on <my github alias>@microsoft.com with your subscription id and NSG ID so we can investigate your issue.

[2019-11-05 16:40] jlongo62 opened #42131 "Can this help SFC deployed in a closed network"
I have SFC deployed in a closed network. When SFC deploys, it tries to hit download.microsoft.com (check event log) - not allowed, but keeps upgrade service in a loop and uninstalls the fabric. have you got a way to work around this ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d273a891-b7f9-81db-bfc5-044e6755541f
*

[2019-11-05 16:40] KrishnaG-MSFT commented on #42126
@shadewlkr Hope you have self resolved the problem and hence closed this issue. Thanks for the update.

[2019-11-05 16:44] KrishnaG-MSFT commented on #42036
@JurgenTurrekens Verified and updated document as required. Thanks.

[2019-11-05 16:44] #42036 closed

[2019-11-05 16:46] KrishnaG-MSFT commented on #42108
Assigning @bobbytreed for visibility, review and document enhancement considerations.

[2019-11-05 16:47] #42087 closed

[2019-11-05 16:55] abj-immeo opened #42134 "ClaimsIndentity name not mathcing user name in AAD"
When a user is logging in using a one time password, the resulting ClaimsIdentity has a name that is different from the user name seen in the AD. Instead of just being [user name] its mail#[user name]. We run SCIM synchronization, which adds the user with the correct username. This causes two users to be created with different names but the same email address.

---
#### Document Details

⚠ *Do not

[2019-11-05 17:06] SamaraSoucy-MSFT commented on #41973
@louiskody You can create [custom ITelemetryInitializers](https://github.com/Microsoft/ApplicationInsights-JS) to edit or remove data from the results sent to App Insights. This will let you look at the [exception properties](https://docs.microsoft.com/en-us/azure/azure-monitor/app/export-data-model#exceptions) coming through the data stream and see if it is coming from one of those extensions. Re

[2019-11-05 17:06] Adam-Smith-MSFT commented on #41969
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-11-05 17:07] YutongTie-MSFT commented on #41856
@markti Could you please share the ticket number so that I can track it?

[2019-11-05 17:19] DafDev opened #42135 "Exemples on Github are not relevant for ASP.Net Core"
Hello,
First of all I want to thank you for your work, it helped me greatly in understanding how I could make my own apps asynchronous with Azure. Unfortunately I find myself blocked in that the code I found on GitHub is not relevant to ASP.Net Core 3. I know about the APIController class the thing is it does not meet my needs since I have other controllers in my app and there seems to be compatib

[2019-11-05 17:22] diberry commented on #41901
#in-progress The node SDK doesn't reference how to query the object. This could either be an issue with the SDK or the reference documentation. I'm investigating.

[2019-11-05 17:31] dikokob commented on #36581
@hansenms just sorted it out.

Had to Register a resource application since I enabled Smart On FHIR proxy. Thanks

[2019-11-05 17:33] stevestein commented on #39072
#please-close

[2019-11-05 17:33] #39072 closed

[2019-11-05 17:40] YutongTie-MSFT commented on #42113
@paulmarshall Hi Paul, could you please share more details about your problem? Thanks.

[2019-11-05 17:41] SaurabhSharma-MSFT commented on #41953
@mattderosia I suggest you to please open a [Azure Support Ticket](https://aka.ms/azsupt) so that Identity Support engineer can check further on this issue. In case you limitations in your support plan to open support ticket please let me know.

[2019-11-05 17:42] SlavaRoikhman commented on #41956
Brad, the items are not duplicated. One if for InternAL LB and another for InternET LB. This might answer your question regarding Public LB.

[2019-11-05 17:44] tamram commented on #41662
I'll work on the SEO for that article - you raise a good point that some customers may think of these as folders. Thanks!

[2019-11-05 17:44] YutongTie-MSFT commented on #42119
@fhe-fr Hi, could you please share more details about your problem? Thanks!

[2019-11-05 17:46] sdgilley commented on #40857
You may have noticed that this feature hasn't shipped quite yet. Please stay tuned. Thank you so much for your inquiry.

#please-close.

[2019-11-05 17:46] #40857 closed

[2019-11-05 17:49] #41973 closed

[2019-11-05 17:51] mattderosia commented on #41953
Now I am confused, are you saying that the path hasn’t changed and the documentation is accurate?

Thanks,

Matt Derosia
Cellular Sales | IT Staff Administrator, Infrastructure
9040 Executive Park Drive
Knoxville, TN  37923

(865) 244-2859

From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Tuesday, November 5, 2019 12:45 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: M

[2019-11-05 17:51] MGoedtel commented on #40864
#CxP - please reopen this issue as there is a valid bug in the query referenced by @scottcun.  #in-progress

[2019-11-05 17:53] KrishnaG-MSFT commented on #42126
@shadewlkr Got you! Added the MS doc metadata to the issue and assigning the issue to concerned team. We will investigate on the issue and will get back to you shortly with an update.

[2019-11-05 17:55] SaurabhSharma-MSFT commented on #41976
@joeyeng There is no direct way to do the same, however you can write code to do the same in PowerShell as mentioned on this [blog](https://www.lieben.nu/liebensraum/2018/04/how-to-grant-oauth2-permissions-to-an-azure-ad-application-using-powershell-unattended-silently/).  You can also refer to another [blog](https://gcits.com/knowledge-base/automate-creation-azure-ad-applications-access-microsoft

[2019-11-05 17:55] YutongTie-MSFT commented on #42134
@abj-immeo Hi, thank you for reaching out to us. Could you please share the document you are referring to so that we can address it quickly. Thanks.

[2019-11-05 17:57] MGoedtel commented on #40864
I've fixed the query in the article and an updated version of the article will go live later today.  Thanks to @scottcun for submitting this issue.  @CxP - Disregard reopening the issue.  It is now properly addressed.

[2019-11-05 18:14] OffColour commented on #28045
The documentation never got updated

[2019-11-05 18:15] ideoclickVanessa commented on #16002
@cijothomas
What is the recommended way of attaching details about the currently logged on user to the telemetry then?

[2019-11-05 18:18] MicahMcKittrick-MSFT commented on #42037
@ofalk right it is offered free but I know redhat is an interesting image as it's not free in the same sense as Ubuntu us. Hence, I think the author can work with PG to determine the best route to take. I agree if users can hit the issue we should document it. We also have a large separated section of the docs dedicated to RedHat so we might end up putting the info there. We will take a look and f

[2019-11-05 18:19] souravmishra-msft commented on #42029
@arkiaconsulting, Can you share some more detail about this statement "**using a container SAS token**"?

[2019-11-05 18:26] MicahMcKittrick-MSFT commented on #42123
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-05 18:27] MicahMcKittrick-MSFT commented on #42128
Thanks for the question! We are investigating and will update you shortly.

[2019-11-05 18:27] MicahMcKittrick-MSFT commented on #42131
Thanks for the question! We are investigating and will update you shortly.

[2019-11-05 18:28] SaurabhSharma-MSFT commented on #41988
@veeraps Is this device owned by you or enterprise-owned ? Also, while registering are you trying to click on "Join this device to Azure Active Directory" or "Join this device to Active Directory domain" ?

[2019-11-05 18:28] balivo commented on #42031
I'll upload a project sample at my Github...

[2019-11-05 18:28] Mike-Ubezzi-MSFT commented on #41989
@abhishekkrm We will now proceed to close this thread. If there is a specific issue or recommendation with an article found in the Microsoft Docs repository, please click on the feedback link at the bottom of the page and your detailed feedback will be properly routed. Thank you, ~Mike

[2019-11-05 18:28] #41989 closed

[2019-11-05 18:29] MonikaReddy-MSFT commented on #42049
@brucedkyle , Can you please provide the screenshots of what you are seeing under Quotas page for both Web App and Mobile App?

Because when I try to repro the issue, I am seeing the same thing for both Mobile App and Web App, please see the screenshot below.

Mobile App -

![Mobileappquotas - Copy](https://user-images.githubusercontent.com/47833949/68234794-098c9780-ffd0-11e9-92c6-2938c8df578c.pn

[2019-11-05 18:29] Mike-Ubezzi-MSFT commented on #41990
@kiranbhaga We will now proceed to close this thread. If there is a specific issue or recommendation with an article found in the Microsoft Docs repository, please click on the feedback link at the bottom of the page and your detailed feedback will be properly routed. Thank you, ~Mike

[2019-11-05 18:30] Mike-Ubezzi-MSFT commented on #41993
Assigning to content owner for review.

[2019-11-05 18:38] peledins commented on #42076
It is explained in https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-create-cluster-using-cert-cn
probably a link would be great to avoid duplication of information.

[2019-11-05 18:40] bureus opened #42136 "Azure AD redirects to signin page"
Seems like the new developer portal is redirecting back to /signin page instead of /signin-aad which is causing authentication to fail. Is this a known issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 692852cd-11a6-1d6b-9540-caec9d0f14a4
* Version Independent ID: 4c376561-6015-6dab-e23e-feffe74ccc8b
* Content: [Au

[2019-11-05 18:51] MicahMcKittrick-MSFT commented on #42076
@peledins I added a note and link to the doc :)

Once the PR merges the changes will go live after a few hours.

[2019-11-05 18:51] #42076 closed

[2019-11-05 18:54] goosej5797 commented on #41944
Is there any update on this? TIA

[2019-11-05 18:54] kar400 opened #42137 "Name the 2 Windows services that Full mode installs on the VM"
Article states multiple times that Full mode installs two Windows services.  Please name the Windows services.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f2e47a4-1781-8c55-c269-1946adbb46db
* Version Independent ID: ed091689-e342-2661-8b3a-5be2ad164b3a
* Content: [Register a SQL Server virtual machine in Azure wit

[2019-11-05 18:58] Alberto-Vega-MSFT commented on #41774
@smoms We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

With that said we try to reserve these issues for documentation feedback like doc improvements and doc bugs. A great source for help are the dev forums like  StackOverflow and MSDN where unlike here

[2019-11-05 18:58] #41774 closed

[2019-11-05 18:58] himanshusinha-msft commented on #41690
@cacizi41 : Since we have not heard back on this , so going ahead and closing the issue for now . If you feel you can always reopen this again .

[2019-11-05 18:58] #41690 closed

[2019-11-05 18:58] FrankHu-MSFT commented on #42127
Hey @shadewlkr thanks for your feedback! we're currently investigating the issue and will get back to you as soon as possible in regards to this.

[2019-11-05 18:59] MicahMcKittrick-MSFT commented on #41454
@MicrosoftDocs/aks-pm can one of you confirm/ elaborate on this?

[2019-11-05 19:00] MicahMcKittrick-MSFT commented on #41667
@athinanthny can you confirm or deny on this?

[2019-11-05 19:02] MicahMcKittrick-MSFT commented on #42043
@nphmuller I am assigning to the author to review further.

CC @ChristianMontoya

[2019-11-05 19:09] srinadhayarram opened #42139 "What role is needed for setting rules"
I have Owner permission on resource and still unable to add policy.
receiving exception
{
  "code": "AuthorizationFailed",
  "message": "The client '@.com' with object id  does not have authorization to perform action 'Microsoft.Resources/subscriptions/resourceGroups/read' over scope '/subscriptions/XXXXXXXXX/resourceGroups/XXXXXXXX' or the scope is invalid. If access was recently granted, please

[2019-11-05 19:09] sauryadas commented on #41454
have you enabled AAD on your cluster? if not, there is no difference between an admin and a user

[2019-11-05 19:09] markti commented on #41856
119103124001409

[2019-11-05 19:18] HeidiSteen commented on #42043
I think you have the wrong author.  Can you reassign to Heidi Lohr?  Thanks

GitHub Login: @Heidilohr
Microsoft Alias: helohr

[2019-11-05 19:31] guntaled opened #42140 "Azure Data Lake Gen2 Lifecycle Management availability - is it available or not?"
Hi!
This: https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-introduction lists life cycle management on ADLS gen2 as one of key features.
I tried setting setting lifecycle management on ADLS gen2 using  Set-AzStorageAccountManagementPolicy but got error: "Lifecycle Management is not supported for the account".
Reading this: https://docs.microsoft.com/en-us/azure/storage/blobs/

[2019-11-05 19:32] MGoedtel commented on #42063
@femsulu - please reassign this to @bwren.

[2019-11-05 19:35] MicahMcKittrick-MSFT commented on #42043
@HeidiSteen sorry about that! Misclick :)

[2019-11-05 19:38] ManuSQLGeek opened #42142 "R and Python support for Azure SQL Database"
Under the section https://docs.microsoft.com/en-us/azure/sql-database/sql-database-service-tier-hyperscale-faq#does-hyperscale-have-support-for-r-and-python it is mentioned that R and Python is not supported in Azure SQL DB. But according to https://docs.microsoft.com/en-us/azure/sql-database/sql-database-features#sql-features R Services is available in SQL database in public preview. Is there a l

[2019-11-05 19:38] larryclaman opened #42143 "Dedicated hosts?"
Can this article be updated to include information on Azure Dedicated hosts? (in addition to the info already provided about isolated hosts)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c9d1ff4-9e32-39fc-2d8d-46d3c07bca4d
* Version Independent ID: 72b20547-e78b-f6d2-6e69-31c846965ad0
* Content: [Isolation in the Azu

[2019-11-05 19:40] larryms commented on #33643
Bump; the links are still broken as @felickz and @annathan noted.

[2019-11-05 19:41] NavtejSaini-MSFT commented on #42110
@JakubW88 The Auto Pilot feature has just been released in preview which means they are still working on removing issues and adding more features to it. At the moment it is not applicable for already deployed Databases and containers.
You can provide your feedback regarding the same to Product group team at [UserVoice](https://feedback.azure.com/forums/263030-azure-cosmos-db)

[2019-11-05 19:44] MicahMcKittrick-MSFT commented on #42128
@kyanagimoto can you share the error messages and the point in the doc you are getting stuck? Some screenshots might be useful as well to better help me understand your issue.

[2019-11-05 19:45] jcmontx commented on #31771
Hello,

Any updates on this issue?

I have a ASP.NET Core MVC app running on a Linux Web App and WebSockets are not working.

[2019-11-05 19:51] NavtejSaini-MSFT commented on #42107
@Tanharuki The product groups always try to make their product better with adding new features etc. Best way to get your feature request to product team is by giving your feedback on Azure User voice. You can either use SQL [UserVoice ](https://feedback.azure.com/forums/217321-sql-database)or ASC [Uservoice ](https://feedback.azure.com/forums/347535-azure-security-center)or both to provide your fe

[2019-11-05 19:51] MicahMcKittrick-MSFT commented on #42131
@jlongo62 it needs to reach out to that endpoint in order to update. So you need to open the port to allow that communication.

We have some documentation around different networking patterns you can review

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-best-practices-networking#cluster-networking

But all in all, you can't have a completely locked down cluster at least to s

[2019-11-05 19:55] MicahMcKittrick-MSFT commented on #42137
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-05 19:56] svangeti opened #42144 "Function App running from package URL with System Assigned Identity"
Is it possible to run Function app from package URL with System assigned identity instead of SAS?
I am getting unable to download package errors when I try to do that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbd2779f-df70-05e1-0589-8220f850a44f
* Version Independent ID: c1118090-18b5-f630-d4b0-c588328a4b5a
* Con

[2019-11-05 19:57] KevinGuana commented on #33674
hello , it seems a azure problem...I tried the next day when I received the error and it worked without problem , so try again tomorrow... good luck

[2019-11-05 19:57] NavtejSaini-MSFT commented on #42142
@ManuSQLGeek The Note is this [document ](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-machine-learning-services-overview)explains this better.
![image](https://user-images.githubusercontent.com/52257742/68241355-81f95580-ffdc-11e9-887b-a671566d1ff3.png)

Hope this helps.

[2019-11-05 20:01] msrini-MSFT commented on #33674
Issue is now mitigated. New creation should pass. Please try again

[2019-11-05 20:01] operationslazlo326 commented on #41213
We tried just copy/paste the value from the p8 file but azure throws back a validation error every time. According to the apple docs this needs to be in "Provider Authentication Token" format which just looks like a fancy JWT

[2019-11-05 20:08] rmarskell commented on #16002
Hmm. I don't really understand why it's so difficult to properly add the user ID to the telemetry. Until yesterday, I had assumed this was handled automatically.

[2019-11-05 20:19] kkreative commented on #42125
I was experiencing the same until I noticed the "naked domains are not supported".

[2019-11-05 20:25] craigwi commented on #41213
Ignore the Apple documentation.  You probably need to remove the -----BEGIN* and -----END* header and footer and paste the private key as a single line of base64 text.

[2019-11-05 20:26] DJKampouris commented on #40961
Hello, there isn't much more to add. If you clone the current project and apply the changes I mentioned above, you should be good to go. There isn't anything else I have changed.

[2019-11-05 20:39] mike-urnun-msft commented on #41966
@jhueppauff Just following up on my previous comment. Please let me know if the documentation referenced above is of any help.

[2019-11-05 20:45] femsulu commented on #42063
re-assigning to @bwren

[2019-11-05 20:47] cijothomas commented on #16002
Its easy to add user id to telemetry. The tricky part is retrieving userid from HttpContextAccessor.
ApplicationInsights is doing it after taking a lock (https://github.com/microsoft/ApplicationInsights-aspnetcore/blob/develop/NETCORE/src/Microsoft.ApplicationInsights.AspNetCore/TelemetryInitializers/TelemetryInitializerBase.cs#L41)
If you are doing this yourself (i.e reading from context and popu

[2019-11-05 20:51] phil337 commented on #42125
That's "something.com" though, isn't it? I'm using this.something.com... that should work.

(Or does it only support www. ?)

On 5 Nov 2019, at 20:19, Kevin <notifications@github.com> wrote:

﻿

I was experiencing the same until I noticed the "naked domains are not supported".

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/M

[2019-11-05 21:01] aahill commented on #42005
Thanks for the notification @a-yun and @Mike-Ubezzi-MSFT , I've updated the documentation to fix these links. They should be live later today.

Thanks! #please-close

[2019-11-05 21:01] #42005 closed

[2019-11-05 21:04] MartinJaffer-MSFT commented on #41796
@Kamyar5353  I have reproduced the issue, and have an explanation.

First let me lay out the structure of the pipeline.

1. After retrieving the authentication token web activity calls rest api
2. Set Variable activity extracts initial continuation token  from web activity response headers
3. Execution is passed to Until activity.  The condition is "continuation token is not null".
4. Inside the l

[2019-11-05 21:04] #41796 closed

[2019-11-05 21:09] petercmho opened #42147 "SqlException "Login failed for user 'NT AUTHORITY\ANONYMOUS LOGON'.""
I got SqlException running the ASP.NET Core App locally after Modify ASP.NET Core section.  The exception message is "Login failed for user 'NT AUTHORITY\ANONYMOUS LOGON'.".  The callstack is as follow.

&gt;	System.Data.SqlClient.dll!System.Data.SqlClient.SqlInternalConnection.OnError(System.Data.SqlClient.SqlException exception, bool breakConnection, System.Action&lt;System.Action&gt; wrapCloseI

[2019-11-05 21:11] nibaccam commented on #41027
The doc has been updated.
#please-close

[2019-11-05 21:11] #41027 closed

[2019-11-05 21:13] AskYous commented on #41901
Doing some digging around, I see that querying a knowledge base is definitely supported. I do `knowledgeBase.getDetails(kb.knowledgeBaseId)`

[2019-11-05 21:20] diberry commented on #41901
@AskYous The missing GenerateAnswer is what you need to get the prediction. It is under investigation. Qna Make separates out manage the model (including download and details) from the prediction runtime using the model. In the .Net package, this is the Runtime class. The same class is missing from the NPM package. This will take a few days to resolve.

[2019-11-05 21:24] jeffwmiles opened #42148 "Script errors encountered in Automation Account"
I'm attempting to use the script to enable custom automation account. This is running from inside the automation account itself. I receive the following error:

`Get-BearerToken: failed with [Exception: System.Management.Automation.PSArgumentException: Cannot find type [Microsoft.IdentityModel.Clients.ActiveDirectory.ClientAssertionCertificate]: verify that the assembly containing this type is loa

[2019-11-05 21:28] diberry commented on #38690
This appears to be resolved. #please-close

[2019-11-05 21:28] #38690 closed

[2019-11-05 21:33] diberry commented on #41885
@v-kydela - This all sounds plausible but may not be exactly, in the particulars, correct. Is this question to do with BF somehow?

[2019-11-05 21:33] gitjeph opened #42149 "template confusion"
Two different deploloyment templates are referred to in this article.
"In this session, you modify the template you created in Tutorial: Import SQL BACPAC files with Azure Resource Manager templates to call the BACPAC file with a SAS token."

Then in step two the instruction is to open this template. https://raw.githubusercontent.com/Azure/azure-docs-json-samples/master/tutorial-sql-extension/azur

[2019-11-05 21:35] mike-urnun-msft commented on #42135
@DafDev Thank you for your feedback! We will review and get back to you with my findings.

[2019-11-05 21:36] Adam-Smith-MSFT commented on #42139
@srinadhayarram Could you please post this question in the forums for Azure Storage? It would have a higher visibility on forums since this is not an issue with the documentation itself. Forum link is: https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=windowsazuredata

[2019-11-05 21:36] #42139 closed

[2019-11-05 21:36] mike-urnun-msft commented on #42136
@bureus Thank you for your feedback! We will review and get back to you with our findings.

[2019-11-05 21:37] mike-urnun-msft commented on #42144
@svangeti Thank you for your feedback! We will review and update as appropriate.

[2019-11-05 21:43] gitjeph opened #42150 "firewallrules"
it would be nice if there was some instruction to change the firewall rules from 0.0.0.0 to something more appropriate. With this firewall rule we can't access the verify the deployment at the end of the secure artifacts tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63cc6ad1-90e3-4b8c-ff29-025c9e7a115f
* Ver

[2019-11-05 21:48] tamram commented on #35174
@dcbrown16 - This is fixed now, thanks for your feedback.

#please-close

[2019-11-05 21:48] #35174 closed

[2019-11-05 21:53] bureus commented on #42136
@mike-urnun-msft: thanks a lot, i have tried this in two different instances of APIM in Standard tier and its consistent between both. Some more findings, seems like the redirect URL towards Azure Ad is set to /signin during the code credential flow. So it seems not to be related to that we have enabled the setting to force redirect anonymous users to the sign in page either, which i also tried to

[2019-11-05 22:04] jeffwmiles commented on #42148
FYI, I was able to get the runbook to work by replacing line 199:
`Get-Header ([ref]$Header) $AadAudience $AadAuthority $RunAsConnectionName`

with the following code:

`$connection = Get-AutomationConnection -Name AzureRunAsConnection
        $loginresults = Login-AzureRmAccount -ServicePrincipal -Tenant $connection.TenantID `
                -ApplicationId $connection.ApplicationID -CertificateT

[2019-11-05 22:12] kiranbhaga commented on #41990
@Mike-Ubezzi-MSFT This is the document I'm refering to https://docs.microsoft.com/en-us/azure/sql-database/active-directory-interactive-connect-azure-sql-db

[2019-11-05 22:23] femsulu commented on #42116
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-11-05 22:24] femsulu commented on #42148
Thanks @jeffwmiles.
@Rajani-Janaki-Ram - looks like we may need to update the script in the doc.

[2019-11-05 22:25] Smarker opened #42153 "Broken Link to Documentation"
The link for "best practices for tag management" is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45b4a791-aff1-3eba-d55e-111a05dd42ef
* Version Independent ID: a5ced6b9-67e5-899f-40b9-5d66e73999ea
* Content: [Manage tag governance - Azure Policy](https://docs.microsoft.com/en-us/azure/governance/policy/tutori

[2019-11-05 22:26] femsulu commented on #42149
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-05 22:27] DCtheGeek commented on #42153
#assign:DCtheGeek

[2019-11-05 22:27] femsulu commented on #42150
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-05 22:29] DCtheGeek commented on #42153
@Smarker Thanks for spotting this and letting me know. I'll get this fixed right now!

@MicrosoftDocs/azure-cxp-triage Please label 'doc-bug' and #in-progress

[2019-11-05 22:30] MarileeTurscak-MSFT commented on #41984
@Kazzan can you please post a screenshot of this?

[2019-11-05 22:41] #42153 closed

[2019-11-05 22:48] petercmho commented on #38342
I have the same 'NT AUTHORITY\ANONYMOUS LOGON' error both running locally and on App Service.

[2019-11-05 22:48] Mike-Ubezzi-MSFT commented on #41990
Hi @GithubMirek, I have an internal project attempting to follow this doc and the sample code does not seem to work. Are you able to assist @kiranbhaga or evaluate the sample in the doc to ensure it is up to date.

[2019-11-05 22:48] Mike-Ubezzi-MSFT commented on #41990
System.AggregateException: One or more errors occurred. ---> System.AggregateException: One or more errors occurred. ---> Microsoft.IdentityModel.Clients.ActiveDirectory.AdalServiceException: AADSTS7000218: The request body must contain the following parameter: 'client_assertion' or 'client_secret'.
Trace ID: 5b2fd12f-4386-4d3f-895e-dbf5204d0000
Correlation ID: 34a7923f-1f11-4cfb-858e-4375220f120a

[2019-11-05 22:51] TravisCragg-MSFT commented on #42124
@wald-tq I was not able to reproduce this on a Windows Server 2016 image. After creating the root cert and the child cert, they both appeared in "Certificates - Current User -> Personal -> Certificates"

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-05 22:51] #42124 closed

[2019-11-05 22:56] chrisjhahn opened #42154 "Is it possible to get SSO to O365 when using Azure AD Domain Services?"
We are using Azure AD DS to provide managed domain services to remote desktop servers deployed in Azure.  These RDS servers are running Office 365 apps.  Users can use same credentials to login to Office 365 apps but there is no single sign on.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a91a6cd-5871-d2a0-4da9-19b6

[2019-11-05 23:15] bureado commented on #40918
@HenkPoley, I do not understand the comments (either here or on the homestead thread) about kernel integration. How would any kernel work make the requirement to install and setup `chrony` any different?

[2019-11-05 23:15] xtellurian opened #42156 "How to set Container Default TTL on Extisting Container with dotnet v3 SDK ?"
The docs here describe how to set the default TTL when *creating* a container via the dotnet SDK (v3).

However I can't find any documentation on how to *change* the default TTL after the collection has been created. I cant find a `DefaultTimeToLive` property or a `ContainerProperties` property on the C# objects.

I expected to be able to do something like this:

[code]

---
#### Document Details

[2019-11-05 23:16] dcbrown16 opened #42157 "incidentType definitions"
What are the differences between "Action Required" and "Information" and between "Security" and "Service Issues"? They have (respectively) the same definitions for their subpoints.
Only Service Issues, Maintenance, and "Health Advisories" are listed as types of Service Health Notifications on the concepts page below. Should we consider Action Required, Information and Security to be types of "Heal

[2019-11-05 23:21] peterpogorski commented on #42011
#reassign @athinanthny

[2019-11-05 23:24] swanderz opened #42159 "no access to https://aka.ms/binb"
I don't have access to the link provided about Batch Inference. no access to https://aka.ms/binb

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61a394fa-db82-07f5-caae-8f837fcd950f
* Version Independent ID: 50d10215-439a-b050-642b-d729bf53647f
* Content: [What's new in the release? - Azure Machine Learning](https://doc

[2019-11-05 23:24] peterpogorski commented on #41985
#reassign @athinanthny

[2019-11-05 23:25] j-martens commented on #42159
@swanderz - thanks for the report. I'll look into this now.

https://aka.ms/binb

[2019-11-05 23:30] matrix-revolution commented on #42083
Thanks!.

[2019-11-05 23:30] #42083 closed

[2019-11-05 23:34] j-martens commented on #42159
@swanderz - while I track it down, it may have been designed to point to:

https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-run-batch-predictions

https://github.com/Azure/MachineLearningNotebooks/tree/master/contrib/batch_inferencing

[2019-11-05 23:37] KranthiPakala-MSFT commented on #42122
@sawolfe91 Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate

[2019-11-05 23:52] MarileeTurscak-MSFT commented on #41983
@Kazzan as per the FAQ, you should be able to see able to see both static and dynamic consent. If you are seeing issues or not seeing all of the options it may be because this is still in preview. + @msmimart

"If an application developer has configured their app to use static and dynamic consent to request access to their end user’s data, you'll see two admin consent requests. One request represe

[2019-11-05 23:54] asergaz commented on #41992
Hi @nssidhu , can you please clarify the step 7 on the doc that you are blocked? Is it step 7 of ["Send DevKit telemetry"](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-arduino-iot-devkit-az3166-get-started#send-devkit-telemetry) section?

This is one of the options to collect Device Connection String:

`az iot hub device-identity show-connection-string --hub-name YourIoTHubName --device-

[2019-11-05 23:58] himanshusinha-msft commented on #42017
@SatyaKomatineni  : Just to clarify here "you can parameterize the linked service by selecting the Code icon on the Connections tab"

Steps
1 . Open the ADF UI .
2. On the left bottom corner -> Select Connections
3. You will see the pages with Linked Service & Integration runtime , click on Linked Service .
4.Select any of the linked service and you will see the Code icon in "Name"column .

[2019-11-05 23:59] asergaz commented on #41942
Hi @nathgal. Yes you can use Azure IoT SDK .Net Core on a raspberry Pi 3 :).

See here a very good tutorial: https://techcommunity.microsoft.com/t5/Internet-of-Things/Build-Azure-IoT-Apps-with-NET-Core-IoT-targeting-Raspberry-Pi/ba-p/776767

Thanks!

[2019-11-06 00:00] asergaz commented on #41942
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-06 00:00] #41942 closed

[2019-11-06 00:13] petehe opened #42162 "where do I get values for ida:AadInstance and"
I am new to this, can you tell me how to set values for ida:AadInstance and api:ApiIdentifier in web.config?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 906907ec-cbe2-59b1-a84e-ce1b1343756f
* Version Independent ID: f498962c-f738-ccd8-a619-de854fac37da
* Content: [Tutorial - Enable authentication in a web applicatio

[2019-11-06 00:21] v-kydela commented on #41885
@dinaberry - Not necessarily, but I want to make sure I have a clear understanding of confidence score differences because customers often report this kind of problem.

[2019-11-06 00:31] MarileeTurscak-MSFT commented on #41982
If the app is registered as a 1st party app in the AAD Onboarding portal, it doesn't require any consent.

If it's registered as a 3rd party, there are 2 primary cases when admin consent will be required and in every case will require user consent (unless admin consent had been granted).

Admin Consent Case 1: The app has added a permission that requires admin consent. This is denoted in the Azure

[2019-11-06 00:32] MarileeTurscak-MSFT commented on #41982
Hope this helps! If you have further questions or I misunderstood something, feel free to tag me in the comments or email me at AzCommunity@microsoft.com and I will gladly continue the discussion.

@msmimart can we please add something to the documentation about this?

[2019-11-06 00:32] #41982 closed

[2019-11-06 00:40] kbuley opened #42164 "nameidentifier join restrictions?"
One of my applications has multiple environments, and the usernames for each environment have a value appended in order to differentiate them (kbuley.dev, kbuley.prod, etc)
When attempting to create a nameidentifier that joins the email address and the static value for the environment I'm setting up, I see that join() functions differently. The separator is hardcoded and the only values that may b

[2019-11-06 00:42] wahyuen opened #42165 "Ability to provision autopilot via automation"
Is there any way to provision autopilot via some sort of automation means? ARM/Az Cli/Powershell??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5b2be67-25e0-a558-dae2-5fa149df2d96
* Version Independent ID: e95519f3-80f7-37bf-e3fc-9ebbf5081f17
* Content: [Create Azure Cosmos containers and databases in autopilot mode

[2019-11-06 00:42] MarileeTurscak-MSFT commented on #42162
@petehe
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-06 00:46] KranthiPakala-MSFT commented on #41961
@bergmeister We have assigned the issue to the content author. They will evaluate and provide an update as appropriate.

@nabhishek Could you please have a look at the feedback from @bergmeister ? - Thanks.

[2019-11-06 00:46] MarileeTurscak-MSFT commented on #42162
ida:AADInstance: This is the base URL of the authorization server. This should be https://<Your tenant name>.b2clogin.com/{0}/{1}/v2.0/.well-known/openid-configuration

ApiIdentifier should be https://<Your tenant name>.onmicrosoft.com/api/

Source: https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-tutorials-web-api?tabs=app-reg-preview

[2019-11-06 00:47] MarileeTurscak-MSFT commented on #42162
We will now proceed to close this thread. If you have further questions feel free to tag me or @mmacy in the comments and we will gladly continue the discussion.

[2019-11-06 00:47] #42162 closed

[2019-11-06 00:51] femsulu commented on #42157
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-06 00:52] MartinJaffer-MSFT commented on #41960
@Viswa-Ranjan-Sahu  I have assigned this issue to the author to update as appropriate.

@djpmsft This one requires an image update due to breaking changes in Az.

[2019-11-06 00:53] angellmethod opened #42167 "Service bus link instead of EventHubs"
Should the ".NET Framework client APIs" link in the first sentence go to this : https://www.nuget.org/packages/Microsoft.Azure.EventHubs/  instead of https://www.nuget.org/packages/WindowsAzure.ServiceBus/?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30132d48-146c-1d32-ee20-acfb3b7f1e56
* Version Independent ID: aab

[2019-11-06 00:54] MartinJaffer-MSFT commented on #41960
@Viswa-Ranjan-Sahu , this is in reference to the [Update Active Triggers](https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#update-active-triggers) section, correct?

[2019-11-06 01:13] EricKyaw commented on #42088
Thank @RohitMungi-MSFT. I posted it in [MSDN ](https://social.msdn.microsoft.com/Forums/azure/en-US/54abdbe9-8069-428d-91e4-8ff91b2d126b/score-model-afx-library-table-the-data-set-being-scored-must-contain-all-features-used-during?forum=MachineLearning)as well. I saw your reply in there. Therefore, I will follow up from there.

[2019-11-06 01:18] watahani commented on #41990
It seems that the app work as public client but application does not configure as expected on Azure Portal.
I did not confirm but it might work well if "Treat application as public clinet" set Yes.

![image](https://user-images.githubusercontent.com/28978715/68259914-90984900-007e-11ea-81f4-45990501289b.png)

[2019-11-06 01:21] AdrianSanguineti commented on #36767
`{aad-tenant}` is the Tenant ID (also referred to as Directory ID) of the Azure Active Directory instance that the client application is registered against. You get this value from a view locations:

1. The Properties page of the AAD resource in the Azure Portal:
![image](https://user-images.githubusercontent.com/9954734/68259423-f213e400-008d-11ea-8043-7eaf06044846.png)
2. The details section on

[2019-11-06 01:25] anuragdalmia commented on #41665
Thank you for the feedback. I am following up.

[2019-11-06 01:28] kyanagimoto commented on #42128
Hi, @MicahMcKittrick-MSFT .
Thanks to reply.

Situation is when input [helm install command](https://docs.microsoft.com/en-us/azure/aks/servicemesh-istio-install?pivots=client-operating-system-macos#install-istio-components), pods are like this.

[code]

istio-policy, istio-pilot, istio-telemetry and istio-tracing is not stable, restart again and again, then

[code]

helm install command return ti

[2019-11-06 01:48] tellstoriesatbedtym opened #42170 "node js support?"
When can we expect node js support?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b70a5b47-dd6a-4e28-6cf4-90d8493f5bd2
* Version Independent ID: 472d5258-ed73-2cc8-1c0e-5e82a6211299
* Content: [Direct Line Speech - Speech Service - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/spe

[2019-11-06 01:49] AdrianSanguineti commented on #36767
Also as @orangetoken has stated, the full link for `https://login.microsoftonline.com/%7Baad-tenant%7D/.well-known/openid-configuration` can be found on the Endpoints tab of the App Registration:
![image](https://user-images.githubusercontent.com/9954734/68261323-db708b80-0093-11ea-80e6-d07609ec0cf9.png)

[2019-11-06 01:56] Tanharuki commented on #42107
year,I throw that in the UserVoice now..And i just want to know the answer,,yes or no...Do Vulnerability Assessment logs will contain the resource or subscription id in future?

[2019-11-06 02:05] KranthiPakala-MSFT commented on #42167
@angellmethod Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-11-06 02:11] mapoitras opened #42173 "Are IP addresses static or will they ever change?"
Wondering if these  IP addresses static or will they ever change?  If they do change, how is this communicated so we don't suddenly lose access?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a62365-4312-8aad-d2f1-bb5c4184adf1
* Version Independent ID: 2ba5b809-8025-d7ee-c756-d6d1bab033fb
* Content: [Azure SQL Databa

[2019-11-06 02:42] cmosqu opened #42174 "Issue Installing az.sql Module..."
When running:
Install-Module -Name Az.Sql -RequiredVersion 1.1.1-preview -AllowPrerelease -Force

I get an error:
Install-Module : Cannot process argument transformation on parameter 'RequiredVersion'. Cannot convert value "1.1.1-preview" to type
"System.Version". Error: "Input string was not in a correct format."

and it does not allow the -AllowPreRelease parameter either...

---
#### Document D

[2019-11-06 02:45] jlongo62 commented on #42131
Unacceptable. In any Gov or DoD environment as well as most financial institutions, Servers DO NOT ACCESS the internet. PERIOD-AND IT TRIES HTTP. This could be handled by:

  *   via a LMHOST update
  *   The cluster service hosting the updates
  *   DNS on the cluster redirecting the calls
  *   Azure cloud can bring downloads.microsoft.com inside onto the internal networks
  *   VM host could mo

[2019-11-06 02:49] formulahendry commented on #40520
Thank you @alaendle !

@kgremban Could you please help update the document as mentioned in https://github.com/MicrosoftDocs/azure-docs/issues/40520#issuecomment-549687295? Thanks a lot!
Let me know if you need any other info,

[2019-11-06 02:56] tomatsue commented on #41990
The article says the redirect uri isn't used. However, when using ActiveDirectoryInteractive in the sample code, the redirect uri is actually used. So you need to configure it for a public client.

    a. Locate the Suggested **Redirect URIs for public clients (mobile, desktop)** section.
    b. Select the appropriate Redirect URI(s) for your application using the checkboxes. You can also enter a

[2019-11-06 03:10] NavtejSaini-MSFT commented on #42173
@mapoitras The Gateway IP's can change. If you check the following link you will find the Gateways have changed recently and have been communicated here.
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-gateway-migration

It also mentions how this is communicated:
![image](https://user-images.githubusercontent.com/52257742/68265068-fe118e80-0018-11ea-829d-79838e5ab33f.png)

Hope th

[2019-11-06 03:12] NavtejSaini-MSFT commented on #42165
@wahyuen We are checking this and will get back to you.

[2019-11-06 03:14] NavtejSaini-MSFT commented on #42156
@xtellurian We are checking this and will get back to you.

[2019-11-06 03:26] KalyanChanumolu-MSFT commented on #42174
@cmosqu Thank you for reaching out.
The PowershellGet module on your machine seems to be outdated.

Please install the latest version first and then try again.

[code]

[2019-11-06 03:47] KalyanChanumolu-MSFT commented on #42071
@vbijjam1 Are you running this from your dev box?
Could you check with your IT administrator if your enterprise firewall needs to allow the connection to go through?

[2019-11-06 03:49] KalyanChanumolu-MSFT commented on #42106
@simonvane We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-11-06 03:50] neeleshray-msft commented on #42143
@larryms Thank you for the feedback. We will check and update on the same

[2019-11-06 03:52] neeleshray-msft commented on #42164
@kbuley Thank you for your query. We will check and update on the same.

[2019-11-06 03:53] neeleshray-msft commented on #42154
@chrisjhahn Thank you for your query. We will check and update on the same.

[2019-11-06 04:12] kumarallamraju opened #42175 "typo on this page"
[Enter feedback here]

you are strongly advised to
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f85b671d-f324-1bbb-9ae1-cfb4d14f642b
* Version Independent ID: 6357b6d4-9748-c80a-7331-d69e486fa3ad
* Content: [Create an Azure Private Link service using Azure CLI](https://docs.microsoft.com/en-us/azure/private-link/creat

[2019-11-06 04:29] CHEEKATLAPRADEEP-MSFT commented on #42052
@CraigCloudITPro I would request you to post the same question on Azure Databricks MSDN and Stackoverflow, which helps you to get visibility across the community.

[2019-11-06 04:30] #42052 closed

[2019-11-06 04:33] VikasPullagura-MSFT commented on #42140
@guntaled Thanks for the feedback! We are currently investigating and will get back on this.

[2019-11-06 04:51] Karishma-Tiwari-MSFT commented on #42175
I have created a PR with the update, changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/94950

[2019-11-06 04:54] RohitMungi-MSFT commented on #42170
@tellstoriesatbedtym Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-11-06 04:57] #42175 closed

[2019-11-06 04:58] VikasPullagura-MSFT commented on #42109
@peirens-bart I am not able to view the screenshots that you have shared.
Can you reply directly on GitHub and share the screenshots.
Also, can you confirm if you are able to resolve the dot net core issue for which you have opened this issue?

[2019-11-06 05:12] joshlang opened #42176 "Large partition key using ARM templates."
FYI:  when defining a container using an ARM template, adding "version":2 in the partitionKey definition will deploy the new version with large partition keys enabled.

I didn't see this here, or in the ARM template reference docs here: https://docs.microsoft.com/en-us/azure/templates/microsoft.documentdb/2015-04-08/databaseaccounts/apis/databases/containers#ContainerPartitionKey

I just guessed t

[2019-11-06 05:13] RohitMungi-MSFT commented on #42027
@jbeltranluna Thanks for sharing the feedback through user voice. Our product team should help you further to check your resource migration. We will now proceed to close this thread.

[2019-11-06 05:13] #42027 closed

[2019-11-06 05:14] SnehaAgrawal-MSFT commented on #42147
@petercmho Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-06 05:15] maheshsabnis commented on #41939
Hi

Thanks a lot and sorry for the delayed update. I resolved the issue. I am able to connect to SF Cluster using Certificate Authentication from my machine. I have successfully deployed my Microservice app on Azure SF Cluster and successfully tested it. Thanks for all the support from.

Regards
Mahesh Sabnis
MCT
Pune
India

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Window

[2019-11-06 05:29] jakaruna-MSFT commented on #41939
@maheshsabnis Thanks for the update.

good to know that it worked.

I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-11-06 05:29] #41939 closed

[2019-11-06 05:30] maheshsabnis commented on #41939
Definitely yes sir..

Thanks
Mahesh Sabnis

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: jakaruna-MSFT <notifications@github.com>
Sent: Wednesday, November 6, 2019 10:59:29 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mahesh Sabnis <sabnis_m@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re

[2019-11-06 05:36] neeleshray-msft commented on #41914
@CeciAc Kindly convey to the customer.

While configuring the Identity Protection, you would find the **_MFA Registration Policy_** under the **_Protect Section_**. There the **_Controls_** need to be selected as "**Require Azure MFA registration**" and the Enforce Policy is to be set to "**On**".
Other than this setting a separate Conditional Access Policy is not a must.
![User Risk](https://user

[2019-11-06 05:36] #41914 closed

[2019-11-06 05:36] NavtejSaini-MSFT commented on #42176
@joshlang Thanks for the feedback. We are checking this and will get back to you.

[2019-11-06 05:37] neeleshray-msft commented on #42032
@ajayanti1 Could the document be update to reflect the same ?

[2019-11-06 05:38] arvind-dhariwal opened #42178 "seperate doc for self hosted IR - on prem vs Azure VM"
[Enter feedback here]
Can you please separate two section on this page -

1. Self hosted integration run time on prem
2. Self hosted integration run time on Azure VM

Currrently info on this page - https://docs.microsoft.com/en-us/azure/data-factory/create-self-hosted-integration-runtime is quite confusing which functionaliy for which self hosted IR for e.g. https://docs.microsoft.com/en-us/azure/

[2019-11-06 05:40] neeleshray-msft commented on #42064
@bc-109 Thank you for the update. Were you able to get it working now ?

[2019-11-06 05:42] neeleshray-msft commented on #42080
@chino0913  Thanks for the feedback ! I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-11-06 05:43] neeleshray-msft commented on #42082
@chino0913  Thanks for the feedback ! I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-11-06 05:45] shashishailaj commented on #41743
@johnz As per what you have mentioned, I have some doubts about the technical feasibility of your request . And hence this may need deep troubleshooting to assess the same . Please send us an email on azcommunity[at]microsoft[dot]com and we will help you with alternate support options to see the feasibility of the same. We will close this issue for now and will continue to work with you offline on

[2019-11-06 05:45] #41743 closed

[2019-11-06 05:47] msrini-MSFT commented on #42060
@markarnolditpro , It is recommended not to upload certificate with password in AFD.

Please tag me if you have any further questions.

[2019-11-06 05:47] #42060 closed

[2019-11-06 05:47] JosephFY commented on #34664
@JFolberth thank you for the reply, the list you sent is describing all the schema for all services, nothing related to which service can send it's data to it's own table (resource specific) I also been checking on our resources in the portal, couldn't find any that has this configuration in the interface:
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/resource-logs-collect-workspac

[2019-11-06 05:48] msrini-MSFT commented on #42023
@delphikit , Please tag me if you have any further questions.

[2019-11-06 05:48] #42023 closed

[2019-11-06 05:49] msrini-MSFT commented on #42034
@tasador , Thank you. I will update the doc with unit as seconds.

[2019-11-06 05:57] CHEEKATLAPRADEEP-MSFT commented on #42140
@guntaled, This is a known issue with the Azure Data Lake Gen2.
The engineering team is currently working on the fix.
For more details, refer "[https://stackoverflow.com/questions/58557736/not-able-to-see-lifecycle-management-option-for-adls-gen2](https://stackoverflow.com/questions/58557736/not-able-to-see-lifecycle-management-option-for-adls-gen2)".

Hope this helps.

[2019-11-06 06:00] CHEEKATLAPRADEEP-MSFT commented on #41995
@fhtino  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

@normesta Could you please look into this issue?

[2019-11-06 06:01] ankurja opened #42179 "Azure Advisor - Operational Excellence recommendations"
Looks like Azure Advisor can now provide recommendations for Operational Excellence as well, apart from high availability, security, performance, and cost. This is also what I see in Azure Portal.
I can see at least 2 places where this information regarding Operational Excellence should be updated:
https://azure.microsoft.com/en-us/services/advisor/
https://docs.microsoft.com/en-us/learn/modules/p

[2019-11-06 06:26] CHEEKATLAPRADEEP-MSFT commented on #42178
@arvind-dhariwal  Thanks for the feedback! I Your feedback  has been shared with the content owner for further review.

[2019-11-06 06:34] ChiragMishra-MSFT commented on #42084
@djpmsft Can you please take a look at this ?

[2019-11-06 07:03] frehnejc opened #42181 "Error when registering on a Win2012R2 Core server running the DC role"
level=error msg="Error response from agent" error="Request error: Error storing certificate, Details: The requested operation cannot be completed. The computer must be trusted for delegation and the current user account must be configured to allow delegation."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a659a749-7b5

[2019-11-06 07:03] neeleshray-msft commented on #42143
@larryms  There is a separate documentation on [**Azure Dedicated Hosts**](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/dedicated-hosts). You could also refer to the **[blog](https://azure.microsoft.com/en-in/blog/introducing-azure-dedicated-host/)** on the same.

[2019-11-06 07:05] jorgecarleitao commented on #8423
Use application settings under the configuration tab in sectuon settings in app service. Every application setting is passed to the container as an env variable.

[2019-11-06 07:11] theheatDK opened #42182 "How to deploy a custom template + parameter file in the Portal"
Hi,
I have a template and a parameter file created via the Portal. I can figure out how load and the deploy the template via the Portal but I have to manually enter the parameters. Is there a way to load both the template and the parameter file in the Portal and create the resource from the two?
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-11-06 07:15] AjayKumar-MSFT commented on #31771
@btardif, Requesting your advise on this.

[2019-11-06 07:19] AjayKumar-MSFT commented on #34451
I have been discussing on this internally with the product team and the content author, this is being reviewed further and I’ll post back as soon as I have more update.
I understand the trouble, Steve. Apologies for the inconvenience caused! This is being reviewed.

[2019-11-06 07:21] souravmishra-msft commented on #41999
@azhar787, This guide "**62d94f6c-d599-489b-a797-3e10e42fbe22**" is the resource id for the resource "**Marketplace**".

You can choose to use the following PS-Cmdlet to view the consumption:
`Get-UsageAggregates -ReportedStartTime "6/10/2019" -ReportedEndTime "6/11/2019" -ShowDetails $true`

Also using the **Cost Management + Billing >> Cost Management >> Cost Analysis**  section in the azure por

[2019-11-06 07:25] abj-immeo commented on #42134
Hi
I'm referring to https://docs.microsoft.com/en-us/azure/active-directory/b2b/one-time-passcode

[2019-11-06 07:26] souravmishra-msft commented on #42154
@chrisjhahn, Users wont be able to experience the SSO in this case since Azure AD Domain Services like On-Prem AD, only uses the legacy auth protocols like Kerberos or NTLM, where as these Apps like O365 apps, uses web protocols for auth. These apps uses something called PRT (Primary Refresh token) to provide the SSO experience to the users.

Inorder to get a PRT issued to the device, the device c

[2019-11-06 07:32] HenkPoley commented on #40918
Other virtualization platforms expose (AFAIK) an ACPI timer interface that Linux will use as the single source of truth when booting, and possible later. `chrony` comes much later into play. How 'and possible later' interacts with `chrony` trying to pull the time to a sensible point I don't know. That's up to the people making the virtualization-system to know. Possibly there are some wild interac

[2019-11-06 07:34] azhar787 commented on #41999
@souravmishra-msft

Thanks!!

But i am not able to see anything in the Cost Management or Invoices section. As far as my understanding goes,the Invoice will get generated in next month billing cycle? So then will i be able to see it?

![image](https://user-images.githubusercontent.com/56245045/68277577-7ddd3e80-0095-11ea-9fb4-a0f396fea530.png)

![image](https://user-images.githubusercontent.com/56

[2019-11-06 07:41] vidarkongsli commented on #42115
@cephalin We use CAA for our domain to narrow the number of eligible CAs, it is not enforced by the TLD. However, you answered my question. Thank you.

[2019-11-06 07:50] silvanknecht opened #42183 "samples-workitems"
I think it should be stated clearly that "samples-workitems" is the container in the event hub.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b24ff8d-a59e-01e0-205d-ac777f06bb7a
* Version Independent ID: f2106a8a-28fe-ebdf-525e-1d93013778fa
* Content: [Azure Event Hubs bindings for Azure Functions](https://docs.micro

[2019-11-06 07:58] seunnuga93 opened #42184 "Azure Cosmos DB account showing containers instead of collections"
I got stuck at some points because I was seeing 'create containers' instead of collections as written in this docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 490a08fe-c26e-6cae-5495-0b4f4e71e35d
* Version Independent ID: 79432f02-5059-2627-11e3-eccaf1109665
* Content: [Create a function triggered by Azure Cosmos D

[2019-11-06 08:00] Expecho opened #42185 "Identify retried message"
Is there somehow a way to identify retried messages? And how many attempts have been made?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92671e7c-03e5-591d-7fe2-7c565220242a
* Version Independent ID: 99bdee93-1a4d-d10c-8d90-a58a84bb6187
* Content: [Azure Event Grid delivery and retry](https://docs.microsoft.com/en-us/

[2019-11-06 08:05] YutongTie-MSFT commented on #42134
@shashishailaj Hi, could you please help with this issue? Thanks.

[2019-11-06 08:07] YutongTie-MSFT commented on #41991
@maxluk Hi, could you please help to check if there anything change recently? Thanks a lot!

[2019-11-06 08:08] phifa opened #42186 "How to use Keyboard Shortcut on azure portal to search on german keyboard?"
#22673

Can this be opened? It is not resolved.

[2019-11-06 08:32] peirens-bart commented on #42109
@VikasPullagura-MSFT  i Updated the previous poste with the screens.
I have no problem with dotnet core in general, only with service fabric app  in combination with dotnet core. screen3 is not the expected screen and I can't choiose any other framework type other then .Net Framework.

[2019-11-06 08:38] alevincenzi opened #42187 "Deploy Zip file for Linux/Node LTS from azure pipeline"
Hello
I am scripting the deployment of a zip file for a Node/Express app on a Linux server o extend our CI/CD on Azure Devops.
In our case, we chose to use a powershell script that does, in order

1. `Connect-AzAccount`
2. `New-AzResourceGroupDeployment`
3. `Publish-AzWebapp`

As it is known, the command `Publish-AzWebapp` does not work for Linux servers therefore we found a workaround to replace

[2019-11-06 08:41] ravindar-mettu commented on #39533
@jeevansd, any update here? We are blocked on it. Looking for a quick update on this plugin.

[2019-11-06 08:46] alevincenzi commented on #42187
Mmm .. something seems wrong.

This is a feedback on this doc : https://docs.microsoft.com/en-us/azure/app-service/deploy-zip#with-powershell

[2019-11-06 08:50] alevincenzi opened #42188 "Deploy Zip file for Linux/Node LTS from azure pipeline"
Hello
I am scripting the deployment of a zip file for a Node/Express app on a Linux server to extend our CI/CD on Azure Devops.
In our case, we chose to use a powershell script that does, in order

1. `Connect-AzAccount`
2. `New-AzResourceGroupDeployment`
3. `Publish-AzWebapp`

As it is known, the command `Publish-AzWebapp` does not work for Linux servers therefore we found a workaround to replace

[2019-11-06 08:51] alevincenzi commented on #42187
Cloned into https://github.com/MicrosoftDocs/azure-docs/issues/42188

[2019-11-06 08:51] #42187 closed

[2019-11-06 08:52] souravmishra-msft commented on #41999
@azhar787, yes, you are correct. You can check once next month with both the options mentioned in my previous response.

We would be closing this thread for now. But feel free to reach out to us in case you have any more queries around this.

[2019-11-06 08:52] #41999 closed

[2019-11-06 08:53] temitopefunmi commented on #41579
Hi, so I now cannot delete the train model after i have deleted the test files and data files.
![Annotation 2019-11-06 095201](https://user-images.githubusercontent.com/53179810/68283081-321d9b80-007b-11ea-9c31-7fa6a1076299.png)

[2019-11-06 08:56] PeaceLion opened #42189 "Typo"
"Azure Active Directory Domain Services (Azure AD DS) managed domains are more securely locked down **that** traditional on-premises AD DS environments, so use a more secure resource-based KCD."

-- I presume it's suppose to be the following: "...more securely locked down than traditional on-premises... " ? :)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microso

[2019-11-06 09:00] KetanChawda-MSFT commented on #42184
@seunnuga93 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-11-06 09:03] KetanChawda-MSFT commented on #42185
@Expecho Thank you for your feedback! We will review and provide an update as appropriate.

[2019-11-06 09:04] KetanChawda-MSFT commented on #42183
@silvanknecht Thank you for your feedback! We will review and provide an update as appropriate.

[2019-11-06 09:04] GitTune commented on #41914
Hi, not really answer to my question though..... The question was. A mobile or desktop application that uses modern authentication, uses a refresh token to acquire a new access token. By default this check is once an hour. When this happens, will only Conditinal Access rules be evaluated, or the sign in policy from Identity protection also? In other words, when I initially configured Outlook Mobil

[2019-11-06 09:04] BartVanBerkel commented on #32741
Will the AppGw also be added to the Trusted Microsoft Services?

[2019-11-06 09:06] femsulu commented on #41699
@mjannapureddy07 , got an update from the feature team that the limit is currently ~32K but there are ongoing internal talks to increase this limit.
Will share any updates if a decision is made to increase the limit.

We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

Cheers.

[2019-11-06 09:06] #41699 closed

[2019-11-06 09:12] Kazzan commented on #41983
Hi @MarileeTurscak-MSFT, is not about application setup. It is about tenant setup.

I am talking about https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/pim-configure.

With this setup, I do not have any Global Admin account in tenant normally active. With this setup, I do not see option to select someone else (and I need to ask them to activate the GA role) in

[2019-11-06 09:16] Kazzan commented on #41984
It is this account who appear in this blade. But the tenant does not have such in User Blade. So I mean that it surface some hidden account for MIP/AIP.

![AdminConsent](https://user-images.githubusercontent.com/15342088/68284811-68a8e580-007e-11ea-8456-0ae3ebc2fa70.JPG)

[2019-11-06 09:17] timwoelfle commented on #41916
Any news on this? Were you able to reproduce? For me this seems to be a breaking bug and renders the API unusable through web applications in the browser. If it's me who's doing something wrong, I'd love to get working JavaScript example code as the code in the documentaries doesn't work anymore!

[2019-11-06 09:21] artsheiko opened #42190 "Need to get 10000+ rows from Hubspot.Companies table"
Copy Activity allows to get tens of thousands of rows for some tables (for example, Hubspot.Contacts, Hubspot.Contacts_Identity_Profiles etc.), but an execution for Hubspot.Companies returns no more than 10.000 rows. Even "SELECT COUNT(*) FROM Hubspot.Companies" returns 10.000, but the table definitely contains more records (seen from the frontend)
Is there any limitation by table ?

---
#### Docu

[2019-11-06 09:22] bc-109 commented on #42064
Yes, thank you. It's working now. The root cause was "AD security defaults", which overrides all other settings. See cases 119110424001681 and 17394789.

[2019-11-06 09:28] VikasPullagura-MSFT commented on #42109
@peirens-bart I just reproduced this in my Lab.
In your screen 3, after you select the dotnet frame work from the drops drown and click create, then you should be able to go to Step 5 as per document.
Please see below screenshots for reference:

![image](https://user-images.githubusercontent.com/48944027/68285647-acfbac00-00a5-11ea-86d0-7e969e567af1.png)

![image](https://user-images.githubusercon

[2019-11-06 09:35] SnehaAgrawal-MSFT commented on #42187
@alevincenzi Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-06 09:37] SnehaAgrawal-MSFT commented on #42188
@alevincenzi Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-06 09:46] Idanshenhav opened #42191 "Provisioning setup - Tenant URL missing"
Hi,

seems like the above tutorial is outdated when it comes to provisioning (Step 22).
I am required to enter a Tenant ID for Admin connection test.

Where can I find the Tenant ID?

Thanks,
Idan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fa5814d-91e2-2f75-77e7-62a8597f340c
* Version Independent ID: 458e93d7-a180

[2019-11-06 09:54] ChiragMishra-MSFT commented on #42190
@linda33wj can you please take a look at this?

[2019-11-06 09:55] simonvane commented on #42106
Thank you @KalyanChanumolu-MSFT. I have read that document in detail and even  commented on it to make it less ambiguous. The term "left-over" becomes ambiguous when talking about the new autopilot throughput provisioning. That document doesn't mention anything about autopilot.

It is not clear whether "left-over" is left over from the maximum RU/s set or from the minimum RU/s the (10% of tha maxi

[2019-11-06 10:01] tina-ho opened #42192 "Copy blobs from a container to another container using Azure CLI under Data Lake Storage Gen2 account"
Hello,

In Data Lake Storage Gen2 accounts, can we use Azure CLI to copy blobs from a container to another container?

I tried to use the command "az storage blob copy start" to copy blobs, and it showed this result:

"The command failed with an unexpected error. Here is the traceback:

Blob API is not yet supported for hierarchical namespace accounts. ErrorCode: BlobApiNotYetSupportedForHierarchi

[2019-11-06 10:03] jakaruna-MSFT commented on #40673
@TimLovellSmith redeploy preserver the natpool mappings.
I am unable to test for "perform maintenance" because my subscription didnt support .

[2019-11-06 10:05] guderkar commented on #40390
The error occurs even in ARM tempalte validation because the IP does not exist.
So I believe that your case is that you are deploying IP and then Kubernetes which depends on that IP.
But when you validating the IP, it does not exists yet and therefore the error occurs.
Our solution to the problem was deploying the IP manualy beforehand in another RG.

[2019-11-06 10:10] amanmcse commented on #42164
@kbuley,

NameID is the primary attribute in the token, based on which a user is mapped and provided access to the application. Now the reason why we restrict the NameID in join() operation to use only verified domain is to eliminate the possibility of mapping a user to another user's account in the application. I have included a scenario based example below for better understanding.

For Example,

[2019-11-06 10:11] neeleshray-msft commented on #42189
@PeaceLion  Thank you for your feedback. We will check and update on the same.

[2019-11-06 10:12] neeleshray-msft commented on #42191
@Idanshenhav  Thank you for your feedback. We will check and update on the same.

[2019-11-06 10:16] jakaruna-MSFT commented on #42111
Yes. all ports are open for containers inside the container group. That cannot be prevented.
Thats mentioned in the document under [networking](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-container-groups#networking) like this.
` Containers within a group can reach each other via localhost on the ports that they have exposed, even if those ports aren't exposed ex

[2019-11-06 10:20] VKAlwaysWin opened #42194 "Migration is done ?"
"The first round of traffic migration to newer Gateways is scheduled for October 14, 2019"
Could you please confirm ? or let me know if migration is done for "West Europe" and/or "North Europe" region ?

I have internal task to track any impact for those regions and everything is good so far. Could you please let me know if migration is done.

---
#### Document Details

⚠ *Do not edit this section

[2019-11-06 10:22] amkondi commented on #42120
@YutongTie-MSFT

Hi YutongTie,
please finde below the concerned documontation  :

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disk-encryption-overview

[2019-11-06 10:25] neeleshray-msft commented on #42191
@Idanshenhav
You can go to Portal.azure.com > Azure Active Directory > Properties. The directory ID it shows there is your tennant ID. Alternatively, you can use the Powershell cmdlet `Get-AzureADTenantDetail` to get the Tenant details.

Also, we will assign the thread to the author to update the documentation.

@jeevansd Could this be updated on the document along with the screenshot ?

[2019-11-06 10:25] KalyanChanumolu-MSFT commented on #42156
@xtellurian Please try the below snippet to enable TTL on an existing container.

[code]

[2019-11-06 10:25] jakaruna-MSFT commented on #41926
@dlepow I think we need to do a doc update for this issue. Please add your comment

[2019-11-06 10:29] neeleshray-msft commented on #42189
@PeaceLion  We have created a Pull Request and the same should be updated soon.
We will be closing this thread now. If you need further help, please re-open the thread.

[2019-11-06 10:29] #42189 closed

[2019-11-06 10:29] KalyanChanumolu-MSFT commented on #42106
@kirillg @SnehaGunda Could you please provide more insights here

[2019-11-06 10:33] KalyanChanumolu-MSFT commented on #42077
@Rcoder0907 I have created an issue on the repo.
It should be fixed at the earliest.
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-11-06 10:33] #42077 closed

[2019-11-06 10:36] bhupinder-p-s opened #42195 "Workspace shows up as 'not found'"
Hi
I tried to run the script as is and when I go back to portal to see everything is in place the log analytics is shown as 'Not found' (attaching screen grab)
![Capture](https://user-images.githubusercontent.com/16444389/68291022-dc4bf200-0080-11ea-949c-040e39b8dc7e.PNG)
I have to open the configruation in portal and select the same workspace manually (in portal) and click save then the 'not foun

[2019-11-06 10:47] MrDecisive opened #42196 "Wrong API Version"
Hi The example calls are showing the wrong API version and this version does not work.

GET https://management.azure.com/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}?api-version=2017-07-01

If I user the equivalent as shown in the API docs proper then I get the results as shown above

https://manageme

[2019-11-06 10:47] paulbeechey commented on #41893
Hi, did you find a solution to this as I am experiencing the same when restore a database with multiple filegroups to an alternate workload?
Cheers.

[2019-11-06 10:52] PramodValavala-MSFT commented on #42031
@balivo This repo is primarily for handling doc related feedback. I believe it would be best to share your query on [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureFunctions) or [StackOverflow](https://stackoverflow.com/questions/tagged/azure-functions).

We will now proceed to close this thread.

[2019-11-06 10:52] #42031 closed

[2019-11-06 10:52] brettshearer opened #42197 "Ghost record cleanup process?"
Does this feature improve ghost records management related to long running transactions and Always On?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a825ecf0-9d63-29be-8e8a-aab285a53c7a
* Version Independent ID: 4e25d0f7-56b5-3229-89d8-7509264647a5
* Content: [Accelerated database recovery - Azure SQL Database](https:

[2019-11-06 10:55] balivo commented on #42031
Ok.. When I share the sample and create the thread... I'll update this for tracking purposes...

[2019-11-06 10:57] Herr-Sepp commented on #42111
Thank you very much for your explanations.

`Containers within a group can reach each other via localhost on the ports that they have exposed, even if those ports aren't exposed externally on the group's IP address.`

Maybe the sentence can be adjusted to make what is meant clearer.
I had assumed that this sentence meant only the ports specified in the container declaration, also because the [YAML

[2019-11-06 11:01] raduart opened #42198 "Please review supported AKS versions"
This documentation states that we support "N-3" - (N (Latest release) - 3 (minor versions)) but I think this was recently changed from PG and currently we support "N-3" - (N (Latest release) - 2 (minor versions)).
Please review and check.
Many thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec484163-5d73-af3a-3d7

[2019-11-06 11:03] Idanshenhav commented on #42191
Hi,

thanks for the prompt response.
Actually I need the Tenant URL:

![image](https://user-images.githubusercontent.com/28886934/68293003-ba109f00-0095-11ea-844d-c0a897deb53e.png)

Where can I extract this info from?

[2019-11-06 11:05] GFoley83 opened #42199 "ETA for Australia?"
Where can I go to see info about when availability zones will be available in Australia?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cca70845-100f-2cfd-aba3-34b7fa4a5264
* Version Independent ID: 475b26e5-9e23-f769-3bd5-cbc4a678dbf0
* Content: [What are Azure Availability Zones?](https://docs.microsoft.com/en-us/azu

[2019-11-06 11:12] marlon-custodio opened #42200 "DLP.ALL logs are Available 'contentTypes' in "office365_subscription.ps1"?"
I receive error Internal Error 500 when trying to start DLP.ALL subscrition in Office 365 Management API inside Log Analytics of Azure using this article.

I see the 'Audit.Exchange,Audit.AzureActiveDirectory,Audit.SharePoint' listed in contentTypes for the script "office365_subscription.ps1" but I don't see DLP.ALL... This logs are not supported for this kind of connector??

---
#### Document Det

[2019-11-06 11:17] jakaruna-MSFT commented on #42111
Nice.  I didnt know about that error. Thanks.

@dlepow Please validate the request to enhance the doc

[2019-11-06 11:20] KetanChawda-MSFT commented on #42185
@spelluru any thought here?

[2019-11-06 11:22] msrini-MSFT commented on #42034
@tasador , I did a repro and the latest logs for AppGW V2 is returning in terms of Seconds.

{"instanceId":"appgw_0","clientIP":"198.108.67.80","clientPort":18970,"httpMethod":"","requestUri":"","requestQuery":"","userAgent":"","httpStatus":400,"httpVersion":"","receivedBytes":0,"sentBytes":377,"**timeTaken":0.029**,"sslEnabled":"","sslCipher":"","sslProtocol":"","serverRouted":"","serverStatus":"

[2019-11-06 11:27] SadiqhAhmed-MSFT commented on #42179
@ankurja Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

[2019-11-06 11:28] TheOpsMgr opened #42201 "Alignment with Azure CAF?"
How does the Governance model outlined on this page align with the Azure CAF model? https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/

There appears to be overlap but it does not appear consistent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c461cd7d-8245-6bb0-59cc-29001de079c0
* Version Independent I