[2019-06-28 13:35] msrini-MSFT commented on #34189
PR link: https://github.com/MicrosoftDocs/azure-docs-pr/pull/80907

Document will be updated shortly.

[2019-06-28 13:35] #34189 closed

[2019-06-28 13:35] sergaz-msft commented on #34179
Thanks @Ricciolo . Please leverage [iotedge github repo ](https://github.com/Azure/iotedge/issues) and let us know if you find a similar issue to yours. We will look at this internaly.

Thank you for your time in advance.

[2019-06-28 13:38] msrini-MSFT commented on #34191
@Rutikhal did you tried the link which I specified in the above comment?

[2019-06-28 13:46] PramodValavala-MSFT commented on #33741
@renebik I tried a couple of different scenarios but wasn't able to reproduce your error.

For a thorough investigation, if you have a support plan, please open a ticket. If not, feel free to send an email to `azcommunity[at]microsoft.com` with your subscription id and we can provide you a one-time free ticket.

This repo is primarily to work on doc issues and since there is no update/fix required

[2019-06-28 13:46] #33741 closed

[2019-06-28 13:47] PramodValavala-MSFT commented on #34072
@CastleArg Just following up here... Hope my previous comment clears things up.

[2019-06-28 13:48] derekschauland opened #34195 "Policy restricting locations"
When reviewing the policy documentation, the statement "Allowed Locations: Restricts the available locations for new resources. Its effect is used to enforce your geo-compliance requirements." exists - this implies that existing resources will not be affected if a deny policy is configured to restrict resources being created to specific regions.

Is that the case?

---
#### Document Details

⚠ *Do

[2019-06-28 13:49] maboivin commented on #29892
I read that answer but I may not get the point of adding a link to just download the framework but not adding any other logic to handle it. How is this useful, the script remains incomplete? I know this PR is from April but was there any concerns of running .NET framework 4.8 with cloud services at that time?

[2019-06-28 13:55] SubhashVasarapu-MSFT commented on #33810
@artfulhacker,  Please try with below commands in order to assign a custom rule to an existing application gateway,
[code]
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-06-28 13:55] #33810 closed

[2019-06-28 13:55] Aurora7Sys commented on #33985
@craigshoemaker thank you very much. This is what I am looking for!
I will be looking up the key based on the origin of the post.
This makes for a very flexible and useful function. Great work!!!

[2019-06-28 13:56] Rutikhal commented on #34191
strange, using https://preview.portal.azure.com  doesnt work, using http://aka.ms/BastionHost I see it.  Thanks

[2019-06-28 13:57] Workmagic opened #34196 "Verification Method Error"
We have set up an Azure Ubuntu server and are attempting to set up the AD user login following the steps provided in this article "**https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/virtual-machines/linux/login-using-aad.md**". Although we were able to set up the Azure AD login VM extension, we cannot get a user to log in after configuring role assignments for the VM, attempting to

[2019-06-28 13:58] FlorianGah commented on #34069
I get the same error when I use the Train API.

That is my response:

`Response status code: 200
Response body: {
	'modelId': '9f79f5b4-f985-....',
	'trainingDocuments': [{
			'documentName': '671.pdf',
			'pages': 1,
			'errors': ['Page 1: Word-level token extraction failed on document. string index out of range'],
			'status': 'failure'`

That is the response for all five documents in the blob s

[2019-06-28 13:59] gojanpaolo commented on #21675
Hello @BryanTrach-MSFT @conceptdev Is there a way to do this on a SQLite database on a desktop app?
We primary develop windows desktop apps using WPF that saves data in a SQLite database.
Thanks!

[2019-06-28 14:01] subhashvinjamuri commented on #31300
regarding B2c roles in azure ad, where can i mention which b2c tenant while assigning the role ? I have two b2c tenants, one for test and other for production. WHen i go to normal azure ad roles, and i select role assignments for b2c roles, i do not have option which b2c tenant this role is intended for. i do not want to give access on production b2c for poc purpose.
Also, with in the b2c tenant,

[2019-06-28 14:06] achakilam1022 commented on #33885
Hey, appreciate the help.
We are trying to use ODBC connector and not REST

[2019-06-28 14:12] loopfish opened #34197 "Manage SQL Server database backups with Powershell"
Is there no way to perform create, stop, and delete commands for SQL Server on VM backups with Powershell? I don't see it anywhere in the Get-AzureRmRecoveryServices commands...

https://docs.microsoft.com/en-gb/azure/backup/manage-monitor-sql-database-backup#stop-protection-for-a-sql-server-database

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-06-28 14:13] johnlnash commented on #33734
Yes I am interested in the Powershell if possible and good to hear on the virtual network support.

Appreciate the info!

[2019-06-28 14:14] craigshoemaker commented on #33985
Glad this helps, @Aurora7Sys!

For now I will ask to #please-close this issue. If you have any more questions, feel free to re-open the issue.

[2019-06-28 14:14] #33985 closed

[2019-06-28 14:22] PramodValavala-MSFT commented on #34123
@phatcher With the storage queue binding, you can't control the poison functionality per message but you can do so for all messages by setting the `maxDequeueCount` to `1` in [`host.json`](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue#hostjson-settings).

This is possible if you were using the service bus binding instead. With it, you need to

- Set the `a

[2019-06-28 14:22] rothja commented on #31879
@linruhui Sorry, again. I just spoke with @cephalin, and we are still trying to track down the right answer, but we appreciate the ping. We'll try to provide an update soon. Thank you for your patience.

[2019-06-28 14:27] lokijota opened #34198 "New-AzResourceGroupDeployment has no -siteName parameter"
New-AzResourceGroupDeployment : A parameter cannot be found that matches parameter name 'siteName'.
At C:\PROJECTOS\GarminConnect\script.ps1:19 char:5                                                                                          +     -siteName $sitename `                                                                                                                 +     ~~~~~~~~~

[2019-06-28 14:31] cfjedimaster opened #34200 "Invalid (or problem causing) default value"
I followed the directions here but while it successfully connected to GitHub, my function never showed up. Turns out the value, WEBSITE_RUN_FROM_PACKAGE, defaults to 1. If you set it to 0 and restart/sync/whatever (I clicked a few things) it then works. I think the doc should be updated to note this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-06-28 14:32] DCtheGeek commented on #33898
@droessmj Since you have an active support ticket for this, I'm going to close this and defer to that path as that is the right route. Outcomes from those tickets are fed back to me for doc updates, so if a doc update is required as a result, it'll make it to me and my backlog.

That said, it's not specifically an issue with Azure CLI.  The same can also happen with Azure PowerShell or even direct

[2019-06-28 14:32] #33898 closed

[2019-06-28 14:35] drewwilliams1982 commented on #34053
D'oh

[2019-06-28 14:35] #34053 closed

[2019-06-28 14:36] lokijota opened #34201 "The links to the AZ CLI and Powershell pages are the other way around"
The CLI page leads to the Powershell page, and the Powershell link leads to the CLI page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d651422-3de2-d399-d863-030abc4ce6ed
* Version Independent ID: a46bd7ed-cb90-7a85-63bc-d079ae78d9b6
* Content: [Reacting to Azure Blob storage events](https://docs.microsoft.com/en-us

[2019-06-28 14:41] #34187 closed

[2019-06-28 14:46] DCtheGeek commented on #34195
@derekschauland Thanks for the question!  For a resource being created or updated, the **Deny** effect would prevent the creation or update if it violated an assigned policy definition.  For existing resources, they would still be evaluated and shown as _Non-Compliant_.  For more information, read about [how the Deny effect](https://docs.microsoft.com/azure/governance/policy/concepts/effects#deny)

[2019-06-28 14:46] #34195 closed

[2019-06-28 14:47] DCtheGeek commented on #34195
#assign:DCtheGeek

[2019-06-28 14:47] phatcher commented on #34123
@PramodValavala-MSFT Looks like I need to register a request/enhancement :-)

The way we are doing this in some cases is to consume the message, but manually forward it to the poison queue, but this is really a framework issue.

Simplest I can think of is if there was a PoisonMessageException, we could throw that and the infrastructure could handle it for us.

[2019-06-28 14:50] sergaz-msft commented on #33934
Hi @OliverNET I am glad that you are now unblocked. What I can read in the doc is: "When you use the Set modules wizard to create deployments for IoT Edge devices, every module has an Environment Variables section that you can use to configure proxy server connections."

Therefore if you had modules configured before, you would need to change the environment variables accordingly? Let us know if y

[2019-06-28 14:55] cfjedimaster opened #34202 ""Full" example of JSON"
I've got an existing Azure Function that I want to add a Timer too. I don't quite now how to add the JSON example into an existing file with a HTTP binding already.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5527c3b-a5da-c73d-66c2-20d96003ff7c
* Version Independent ID: 42154c7b-b0e0-26db-79bc-3f1673c48e40
* Conten

[2019-06-28 14:58] tommeadon commented on #33480
I've had this issue recently too, if I deploy my ARM template then connect to the function app console and echo out the environment variable I get the key vault reference string.  If I then stop then start the function app (note, not restart) and echo the variable again it resolves the secret properly.

Any ideas...?

[2019-06-28 15:00] CeciAc opened #34203 "Broken link"
@biarocha commented on [Thu Jun 27 2019](https://github.com/MicrosoftDocs/azure-docs.pt-br/issues/421)

The link from " configuration guide for ArcSight SmartConnector for Azure Monitor Event Hub." is broken.

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: bdb257b2-dce3-fe06-c84d-4784fc701f5b
* Version Ind

[2019-06-28 15:01] CeciAc commented on #34203
Hi team,
the mentioned link leads to an error page:
![imagen](https://user-images.githubusercontent.com/26746247/60351574-72b62b80-999c-11e9-9b05-974017aab31d.png)

[2019-06-28 15:02] lokijota commented on #34198
So: it was my mistake somehow, it's fixed.

[2019-06-28 15:03] craigshoemaker commented on #34202
Hi @cfjedimaster - The issue here is that a function is only allowed one (and only one) trigger. Perhaps a better approach might be to have separate HTTP and Timer functions that call the same code?

[2019-06-28 15:06] cfjedimaster commented on #34202
Thank you - I just discovered that myself when I tried to paste it in. :) I'm guessing that's probably also documented well and I missed it. I got my file down to:

[code]

and it works perfectly.

[2019-06-28 15:08] lawrencegripper opened #34204 "Should virtual env file be ignored?"
When using a virtual env (either `.env` as in the doc of `.venv` as is more normal) shouldn't it be added to the `.funcignore` file?

When testing locally I have the following:

requirements.txt
[code]

However, the Virtual Environment has lots of other bits installed from when I was messing around (think spacy models 800mb+) and what I see when I publish is the following:

[code]

Adding the `.ve

[2019-06-28 15:08] SharvariN-Lab58 opened #34205 "I am trying to convert an audio file of about 28 minutes in .wav format into text using the Speech-to-text API. I am getting the following error:"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-06-28 15:08] SharvariN-Lab58 opened #34206 "I am trying to convert an audio file of about 28 minutes in .wav format into text using the Speech-to-text API. I am getting the following error:"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-06-28 15:18] craigshoemaker commented on #34202
I'll go ahead and ask to #please-close for now. Feel free to re-open if something else comes up.

[2019-06-28 15:18] #34202 closed

[2019-06-28 15:27] Mike-Ubezzi-MSFT commented on #33885
Understood! By adding this information here it helps others who stumble across the same issue and are looking for a solution. I also learn something new about 3rd Party integration with Azure. This then becomes a resource that details information not necessarily found in our documentation.
In this specific scenario, it might be worthwhile to reach out to Qlik directly to raise this issue. I see th

[2019-06-28 15:30] achakilam1022 commented on #33885
Hi Mike,
I tried with the sample dataset and had no issues in reading the data in Qlik. So, I guess the problem may be with our own data set (container) in cosmos db. We are looking into it.
I appreciate your help. Thanks!

[2019-06-28 15:32] lokijota opened #34207 "Can't create site: The scale operation is not allowed for this subscription in this region."
Not sure if this is a restriction with internal subs, but I'm getting this, no-matter which method I use to try to create the site/deploy the script:

STATUS Unauthorized
STATUS MESSAGE {
  "Code": "Unauthorized",
  "Message": "The scale operation is not allowed for this subscription in this region. Try selecting different region or scale option.",
  "Target": null,
  "Details": [
    {
      "Mes

[2019-06-28 15:33] trevorbye commented on #33182
@samflynn I am in the process of changing this article to use forecast() instead of predict(), this article was meant as a quick intro to forecasting code samples but there have been new features introduced since then. The short answer is that predict() will run predictions for your full horizon, and forecast() allows you to supply as a param a test set for your target variable to ensure alignment

[2019-06-28 15:39] ecfan commented on #34040
In Visual Studio, the empty LogicApp.json file is structured differently from what you see in the Azure portal because the .json file is actually an Azure Resource Manager template, which includes the corresponding information that you'd use for automated deployment. Also, if your logic app uses connectors, the .json file also requires the information about those connections, but parameterizes tho

[2019-06-28 15:47] saf-itpro opened #34208 "A possible typo."
The first "Note" on the article reads: "The guide requires Visual Studio 2015 Update 3 or Visual Studio 2019...….".
Question: Why the mention of Visual Studio 2017 is missing - is this a typo?
It seems a typo to me - if so, your team may want to make a correction here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9b

[2019-06-28 15:50] femsulu commented on #33847
@kgopi05 [Here](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request) are the instructions to raise a support ticket with Azure Support. If you do not have a support plan, please send mail to AzCommunity@microsoft.com, include your subscription ID and a link to this thread for context and we will assist you with your support request.

we will now close th

[2019-06-28 15:50] #33847 closed

[2019-06-28 15:51] mudithac opened #34209 "Creating an Azure Policy Failed"
Hi,

I am trying to save the following policy definition in Azure Policies.

{
  "type": "Microsoft.Authorization/policyDefinitions",
  "name": "restrict-storageAccount-firewall-rules-policyDef",
  "properties": {
    "displayName": "Enforce Encryption Data at Rest in Storage Accounts",
    "description": "This policy will enforce encryption for data at rest in storage accounts.",
    "metadata":

[2019-06-28 15:52] yobyot opened #34210 "Provisioning limitations text is unclear"
Hello,

I wonder if it might be possible to elaborate more on the known limitation regarding provisioning.

- For example, does it mean that there's a limit on the number of AWS roles that can be imported automatically into a single instance of the AWS app (and its associated service principal)?

- Or does it mean there's a limit on the number of service principals (instances of the app) added to

[2019-06-28 15:56] roygara commented on #19647
@HQJaTu Would you clarify your context/scenario here? Are you writing scripts and educating other users on how to use Azure? As in a classroom scenario? Or are your end users actually performing any kind of workloads or production work? Or are you writing this project code for your own use?

I ask because the former might make sense here but in the case of the latter, I should ask: Does using the

[2019-06-28 15:57] YutongTie-MSFT commented on #33766
@PatrickFarley Hi Patrick, any update?

[2019-06-28 15:58] clisc opened #34211 "Missing prerequisites"
It seems installing only the Az Service Bus module is not enough:

PS C:\Users\clisc&gt; New-AzResourceGroup -Name $rgName -Location $loc
New-AzResourceGroup : The term 'New-AzResourceGroup' is not recognized as the name of a cmdlet, function, script file,
or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and
try again.
At line:1 char:1

[2019-06-28 15:59] YutongTie-MSFT commented on #33766
@kevball2 This has been fixed. Thank you for your feedback. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-06-28 15:59] #33766 closed

[2019-06-28 16:03] clisc commented on #34211
I think this command is going to fix the issue:

    Install-Module -Name Az -AllowClobber

[2019-06-28 16:03] femsulu commented on #33724
@qianw211 can you suggest who the main author should be. I assumed you were one of the authors on the article since your name shows up as an author. Would appreciate any help to identify the appropriate author.

[2019-06-28 16:06] LindaLF opened #34212 "New TemplateParameterFile requirement for New-AzResourceGroupDeployment [?]"
It appears that the last PS code example on this page is not correct anymore.  Originally my code (modelled after this one) worked just fine, then it suddenly stopped working.  I have been recommended to add a new parameter [TemplateParameterFile] to the [New-AzResourceGroupDeployment] command.  This parameter is not included with this result.  Is it now required, when previously it was not?
If th

[2019-06-28 16:08] qianw211 commented on #33724
@femsulu It seems that @tomfitz is the author listed.

[2019-06-28 16:19] conceptdev commented on #25618
Since the original post, Mobile Apps documentation has been updated to describe how to set up the back-end using an App Service Web App - see this section [Create a new Mobile Apps back end](https://docs.microsoft.com/azure/app-service-mobile/app-service-mobile-xamarin-forms-get-started#create-a-new-mobile-apps-back-end). You would use the Web App publishing steps because the Mobile App is no long

[2019-06-28 16:19] #25618 closed

[2019-06-28 16:29] Karishma-Tiwari-MSFT commented on #34205
@SharvariN-Lab58 Since this issue is a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/34206 , I will close this issue. Our team will be helping you out on https://github.com/MicrosoftDocs/azure-docs/issues/34206 :)

[2019-06-28 16:29] #34205 closed

[2019-06-28 16:30] Karishma-Tiwari-MSFT commented on #34206
@SharvariN-Lab58 Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-06-28 16:37] Karishma-Tiwari-MSFT commented on #34190
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-28 16:40] julieMSFT commented on #33798
@Vinhaman Hello, thanks for bringing this to our attention! I have looked into this and the issue is that the example include an additional select statement that is not part of the example. the CTAS example should be:
CREATE TABLE #stats_ddl
WITH
(
    DISTRIBUTION = HASH([seq_nmbr])
,    HEAP
)
AS
(
SELECT
        sm.[name]                                                                AS [schema

[2019-06-28 16:40] julieMSFT commented on #33798
#80920

[2019-06-28 16:41] julieMSFT commented on #33798
#please-close

[2019-06-28 16:41] #33798 closed

[2019-06-28 16:44] JMegaughey commented on #32697
I solved my issue by including all of the following under AuthnContextClassRef
and my nameID works with Email Address and keeping all the default attributes. In Webex admin, username and email should be the same.

AuthnContextClassRef: urn:federation:authentication:windows;urn:oasis:names:tc:SAML:2.0:ac:classes:Password;urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport;urn:oasis:na

[2019-06-28 16:46] rlaportaSCG commented on #32697
I solved my issue by including all of the following under AuthnContextClassRef
and my nameID works with Email Address and keeping all the default attributes. In Webex admin, username and email should be the same.
AuthnContextClassRef: urn:federation:authentication:windows;urn:oasis:names:tc:SAML:2.0:ac:classes:Password;urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport;urn:oasis:nam

[2019-06-28 16:46] #32697 closed

[2019-06-28 16:57] iLikeAzureSQL opened #34214 "Can not create a message endpoint"
The GitHub source to Create a message endpoint is failing, can't create end point.

Link to document:
https://docs.microsoft.com/en-us/azure/event-grid/blob-event-quickstart-portal?toc=%2Fazure%2Fstorage%2Fblobs%2Ftoc.json#feedback

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b250ca39-0ba3-20dc-179b-c5a0d80fba9f
* Ve

[2019-06-28 16:59] KranthiPakala-MSFT commented on #34060
@pdeveau The PR for the fix has been merged and the sample links are available. Thanks again for pointing this out.

I am closing the issue based on this update, but please do let us know if there is something else that we can help you with.

[2019-06-28 16:59] #34060 closed

[2019-06-28 17:00] sergaz-msft commented on #34179
@Ricciolo thank you for opening an issue [here](https://github.com/Azure/iotedge/issues/1395). We will follow-up with you there. Thanks!

[2019-06-28 17:00] sergaz-msft commented on #34179
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-28 17:00] #34179 closed

[2019-06-28 17:03] SharvariN-Lab58 commented on #34206
@Karishma-Tiwari-MSFT after a couple of reattempts the same code could transcribe the full audio. Though the code worked, I am not understanding the reason as to why it did not work in the first go.

[2019-06-28 17:03] Karishma-Tiwari-MSFT commented on #33904
@genlin Did you get a chance to take a look at this question. Thanks :)

[2019-06-28 17:05] conceptdev commented on #21675
Refer to the [offline sync for Windows](https://docs.microsoft.com/azure/app-service-mobile/app-service-mobile-windows-store-dotnet-get-started-offline-data) documentation.

[2019-06-28 17:05] Karishma-Tiwari-MSFT commented on #34206
@SharvariN-Lab58 Can you please share the url of the speech-to-text azure document you have been referring to, it will help me direct this question to the right team.

[2019-06-28 17:07] msangapu-msft commented on #32708
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/80918

#please-close

[2019-06-28 17:07] #32708 closed

[2019-06-28 17:08] SnehaGunda commented on #33642
@ishasahni1 is the right alias, fixed above.

[2019-06-28 17:10] julieMSFT commented on #33571
@datachick Hi, thank you for bringing this to our attention. The sample database was removed and has now been re-added as you state. Please let me know if you need anything further. I will proceed with closing out this Git Issue. Thanks!

[2019-06-28 17:10] julieMSFT commented on #33571
#please-close

[2019-06-28 17:10] #33571 closed

[2019-06-28 17:11] gojanpaolo commented on #21675
@conceptdev Thanks for the response! I'm assuming that this approach will also work on non-UWP apps (e.g. WPF)? It would be nice to include that on the said page to be clear for users (like me 😄) Thanks!

[2019-06-28 17:17] FrankHu-MSFT commented on #34210
@yobyot Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-28 17:18] jcbrooks92 commented on #31166
Please see this comment above:

This feature is in preview but, it is supported for Windows app production workloads with the following limitations:

[2019-06-28 17:18] FrankHu-MSFT commented on #34208
@saf-itpro Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-28 17:19] FrankHu-MSFT commented on #34194
@Tiberriver256  Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-28 17:19] FrankHu-MSFT commented on #34193
@mol Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-28 17:20] jmprieur commented on #34208
Thanks @saf-itpro : it's indeed a typo!

[2019-06-28 17:22] fhe-fr opened #34215 "Error during the test step"
I finished all the steps and when I run the test:  iotedge logs cameraCapture
A module runtime error occurred
        caused by: Could not get logs for module cameraCapture
        caused by: Client error
sudo docker ps:
CONTAINER ID        IMAGE                                      COMMAND                   CREATED             STATUS              PORTS

[2019-06-28 17:23] joeruder opened #34216 "How often does a instance run?"
I have read and re-read this and it constantly refers to 'on its next run' or 'The next time autoscale checks' -- but I cannot find out how often it checks or if that is a setting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88ba1a56-69ec-94c0-8874-78a178a7440e
* Version Independent ID: 23ba7799-c21c-be1a-f352-06b02

[2019-06-28 17:25] nagajaya commented on #33967
@KetanChawda-MSFT  , can we add a note on this one : https://docs.microsoft.com/en-us/azure/azure-functions/functions-proxies ?

[2019-06-28 17:25] FrankHu-MSFT commented on #34203
@CeciAc Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-28 17:26] fhe-fr commented on #34215
In the configuration folder in my deployment json file I can see:
"image": "demoiotedge.azurecr.io/safetyclassifier:0.0.1-amd64"
How can I verify if that's the right name?

[2019-06-28 17:29] craigshoemaker commented on #15881
@laultman - Here's a [sample that demonstrates how to do binding at runtime](https://github.com/craigshoemaker/azure-functions-dynamic-sendgrid-api-key). I have it on my backlog to add a dedicated doc to discuss runtime binding specifically.

[2019-06-28 17:32] PramodValavala-MSFT commented on #32062
@fabich This has been fixed

[2019-06-28 17:34] KetanChawda-MSFT commented on #33967
@nagajaya I think you are looking for [this document](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook#trigger---limits).

[2019-06-28 17:37] PramodValavala-MSFT commented on #33945
@infoTrainingym There was indeed an issue on this earlier but has since been fixed.

I've confirmed that it working by testing an Azure Function listening on the service bus queue into which event grid sent messages.

Could you share details on how you are testing this for us to reproduce?

[2019-06-28 17:37] nagajaya commented on #33967
@KetanChawda-MSFT  you are right, i missed this when i looked for the info earlier. You can close this out. Thank you.

[2019-06-28 17:39] KetanChawda-MSFT commented on #33967
@nagajaya Thanks for the confirmation. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-28 17:39] #33967 closed

[2019-06-28 17:42] nishantsny commented on #33480
I realized that I was testing in PROD slot and had not ported my environment variables from STAGING slot. Please feel free to resolve once other comments are resolved.

[2019-06-28 18:00] vackup commented on #24813
You definitely rock!! this works for me

Just in case

Create new DSVM users
If multiple users share a DSVM, you can avoid blocking each other by creating and using a DSVM user for each notebook user:

On the Azure Portal, navigate to your virtual machine.
Under Support + troubleshooting in the left margin, select Reset password.
Enter a new username and password and select Update. (Existing usern

[2019-06-28 18:08] Adam-Smith-MSFT commented on #34201
@lokijota Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-28 18:10] Adam-Smith-MSFT commented on #34198
@lokijota thanks for the update;
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-28 18:10] #34198 closed

[2019-06-28 18:34] fhe-fr commented on #34215
in the URL for getting the image from container registery, there is /v2. Is it ok?
 Could not pull image demoiotedge.azurecr.io/cameracapture:0.0.1-amd64
Jun 28 18:11:02 CustomVisionEdgeVM iotedged[6956]: 2019-06-28T18:11:02Z [WARN] -         caused by: Get https://demoiotedge.azurecr.io**/v2/**cameracapture/manifests/0.0.1-amd6

[2019-06-28 18:35] Karishma-Tiwari-MSFT commented on #33988
@ChristianMontoya Can you please share your insights on the customer's question? Thankls :)

[2019-06-28 18:36] mike-urnun-msft commented on #34200
Hi @cfjedimaster Thank you for your feedback! We will review and update as appropriate.

[2019-06-28 18:37] anirudhcavale commented on #34216
@joeruder autoscale runs every minute for VMSS, App Service Plans, ADX, API Mgmt. Every minute, tries to find the active profile, evaluates all rules in the profile (including min/max counts) and decides if an action is required.
The only exception is Azure Cloud Services, autoscale runs every 5min.

[2019-06-28 18:37] YutongTie-MSFT commented on #33931
@yodobrin Hi Yoav, thank you for your feedback. I have add the statement for the total size, "content-type" is already stated as application/json in the sample. You should see the change after it has been approved.

[2019-06-28 18:41] dougkillmer commented on #13291
I am having this issue as well.

[2019-06-28 18:47] #33885 closed

[2019-06-28 18:52] mike-urnun-msft commented on #34204
Hi @lawrencegripper Thank you for your feedback! This documentation was recently updated to use `.venv` naming convention as part of MicrosoftDocs/azure-docs#34158 We are working to update `.funcignore` file as well as other documentation that may need the same treatment.

[2019-06-28 18:57] GermanEZI opened #34220 ""Unauthorized" message returned"
I have a function App which uses Graph API.

My problem is that when my Logic App is triggered I get an "Unauthorized" message.   My request body has the following format { "Id": Id }   ( "Id" is from the Dynamic List}.

I tried following the instructions listed here: https://stackoverflow.com/questions/53629900/unauthorized-error-when-trying-to-call-an-azurefunction-from-logicapp

It mentions tha

[2019-06-28 19:01] KranthiPakala-MSFT commented on #34029
@nssidhu We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-28 19:01] #34029 closed

[2019-06-28 19:02] v-vasuke commented on #32213
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-resource-governance#cluster-setup-for-enabling-resource-governance

direct link to section with outdated code

[2019-06-28 19:06] mike-urnun-msft commented on #34211
Hi @clisc Thank you for your feedback! We will review and update as appropriate.

[2019-06-28 19:06] Karishma-Tiwari-MSFT commented on #34075
@vermagit Can you please confirm if Nvidia driver grid 9.0 support is there for Azure windows 10 version 1903? Thanks :)

[2019-06-28 19:07] joeruder commented on #34216
Thank you very much.
Would anybody happen to have a link I can use to show my coworker?

[2019-06-28 19:09] mike-urnun-msft commented on #34207
Hi @lokijota Thank you for your feedback! We will review and update as appropriate.

[2019-06-28 19:11] Roblarson opened #34222 "Please provide a sample of the array of resource types to pass in the parameter"
This would be more useful if there was an actual example of the array to pass. The one linked in the PowerShell example does not have any values of resources type in an array. Please provide an example in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba25bd9e-cf20-53f1-bf99-a1b73069cb22
* Version In

[2019-06-28 19:17] taromielnaz commented on #34140
Thanks. I got my answer.

[2019-06-28 19:18] TravisCragg-MSFT commented on #34140
@taromielnaz We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-28 19:18] #34140 closed

[2019-06-28 19:18] DCtheGeek commented on #34222
@Roblarson Thanks for the feedback!  I have a backlog item to update these samples to all have such examples.  For now, there is an example that should meet what you are looking for: https://docs.microsoft.com/en-us/azure/governance/policy/samples/allowed-locations#azure-powershell.  Let me know if that answers the question you have.  I'll create a backlog item to update this sample, still.

@Micr

[2019-06-28 19:19] DCtheGeek commented on #34222
#assign:DCtheGeek

[2019-06-28 19:20] MattHanMS commented on #23511
I see this was closed, but it is still an issue and extremely annoying.  There's several inches of white space on both the left and right sides that is not being used.  As a result of that area not being used we have to use a horizontal scroll bar in order to read all of the content.

[2019-06-28 19:21] swanderz commented on #33308
@j-martens in addition to @maxluk 's help, @yanrez let me know the following:

Outside of `SKlearnStep` and `ModuleStep`, I'm still looking for answers to questions 3 and 4 above. Maybe @sanpil can help?

[2019-06-28 19:24] mike-urnun-msft commented on #34220
Hi @GermanEZI Thank you for your feedback! We will review and update as appropriate.

[2019-06-28 19:24] MattHanMS opened #34224 "Content has wasted space on both sides"
There's several inches of white space on both the left and right sides that is not being used. As a result of that area not being used we have to use a horizontal scroll bar in order to read all of the content.  I should be able to close or resize the side panels that would allow me to make the content I care about easier to read without having to scroll.

---
#### Document Details

⚠ *Do not edit

[2019-06-28 19:24] vinapp opened #34225 "Question : Storage analytics logging for Files and Streaming storage Diagnostic logs"
Had couple questions on Diagnostics/Analytics logging for Azure Storage :

1. Like other resource types (eg: cosmos db etc) is it possible to Stream Azure Diagnostic/analytics Logs (of storage) to an event hub or Log Analytics ?. If not, will this feature be supported ?.

2. Looks like currently Azure Storage analytics logging is not supported for Files. So based onthis it looks like there is no w

[2019-06-28 19:32] majikthys opened #34226 "These instructions are broken: connectCallback not a thing in referenced SimulatedDevice.js"
The function we're overriding in these instructions does not exist and is therefore not invoked in the SimulatedDevice.js from the indicated tutorial. Additionally, function printResultFor(), referenced within the connectCallback() func does not exist. Recommend adding a new SimulatedDeviceC2D.js to github repo rather than copy-pasta modification of code that's part of another tutorial.

---
####

[2019-06-28 19:34] Roblarson commented on #34222
Yeah the issue is what is the format of the resource that needs to be in the array? Is it the resource provider/resource type. Is it just the resource type?  An example will really help.

Robert Larson
Senior Domain Delivery Architect
Security and Infrastructure
Microsoft Services
Cell: 281.827.9083

From: David Coulter <notifications@github.com>
Sent: Friday, June 28, 2019 2:19 PM
To: MicrosoftDo

[2019-06-28 19:40] Mike-Ubezzi-MSFT commented on #34056
@awickman Are you using AzureRM or the newer Az.SQL PowerShell module, and what version of that module?

[2019-06-28 19:45] kgremban commented on #31815
Thanks for the recommendation, Sander. I'll make that update today to prevent any confusion moving forward.

[2019-06-28 19:48] JinFengMS commented on #9483
Where is the official doc?

[2019-06-28 19:49] dvescovi1 opened #34227 "I am curous about the comment "The Azure Machine Learning module doesn't support ARM processors""
Is this an attribute on just "machine learning modules"? I have build and deployed several ARM modules to my Linux target.
What is so different about a machine learning module?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce5efb43-af55-95ea-cc6f-9597ace9b1b8
* Version Independent ID: 94f8eff2-fc0d-af3c-5b41-944665674

[2019-06-28 19:55] sepacheco opened #34228 "Connect partner error in this page"
[Enter feedback here]
Level 3 and CenturyLink was merged under CenturyLink name.

The Level 3 Connection points as described as "comunicações de nível 3" but this locations are now CenturyLink connections points too !

Sandro Pacheco

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a00024b9-36f7-c9a8-4277-9360b0cd6163
*

[2019-06-28 20:00] Karishma-Tiwari-MSFT commented on #34224
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-28 20:01] zr-msft commented on #34078
Thank you for the feedback @rite2nikhil

I have created a PR to update the docs to make it more explicit that mixing the two SKUs isn't supported. The changes should be available soon.

#please-close

[2019-06-28 20:01] #34078 closed

[2019-06-28 20:12] jctbak opened #34229 "Query Details"
Why "Intervals" column in "Query details" in Query Performance Insight don't reflect Query Store "Statistics Collection Interval"  settings any more? I have it set to 15 min but "Intervals" shows CPU%, Data IO%, Log IO%, Duration and Executions for a query for entire hour only, not for 15 min.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-06-28 20:20] Karishma-Tiwari-MSFT commented on #34163
@AlexImray The reason behind this error "Unsupported OS version for virtual machine backup" could be if the OS version of the VM you are using is not supported by backup agent.
Please take a look at the [document for suppported linux-distros](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/endorsed-distros) and check if the OS version you are using is listed there.
Let me know if tha

[2019-06-28 20:29] DCtheGeek commented on #34222
@roblarson I understand now what you are looking for.  Since the policy definition is comparing _type_, then the easiest way to see what values are stored there is to use [Azure Resource Graph](https://docs.microsoft.com/azure/governance/resource-graph/):

[code]

This gives you all the distinct types that exist in your subscriptions and is a good way to see format and possible values of Azure Res

[2019-06-28 20:29] #34222 closed

[2019-06-28 20:40] Gamecock commented on #29173
I think switching back and forth between tutorials confused me.  I don't
think there is a bug anywhere.

On Thu, Jun 27, 2019 at 7:14 PM Kelly Gremban <notifications@github.com>
wrote:

[2019-06-28 20:46] derekschauland opened #34230 "KeyVault Naming Limits"
Please update this list to include limits on the number of characters allowed in the name of a key vault resource.  I think this is 24 characters as an attempt to create a resource with a 26 character name. This naming limitation would be useful for all Azure resources, but key vault is top of mind for me right now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-06-28 21:00] FrankHu-MSFT commented on #34108
I see, are you using this method call from adal python? https://github.com/AzureAD/azure-activedirectory-library-for-python/wiki/Acquiring-Tokens-with-username-and-password

Note that the v2 docs are not the same things as the v1 doc. Also, please note that the ROPC flow is not a flow that Microsoft recommends nor supports now. The ADAL python ROPC flow is a historic flow and there is no intention

[2019-06-28 21:03] femsulu commented on #34085
@arolshan Private dashboards are stored under the Dashboard tab in the Azure Management Portal - ref screenshot below. By definition, a dashboard is Private until you publish/share via [these step](https://docs.microsoft.com/en-us/azure/azure-portal/azure-portal-dashboard-share-access#publish-dashboard)s.
Not completely sure i completely understand what you mean by "_can i get a private dashboard

[2019-06-28 21:03] KranthiPakala-MSFT commented on #34157
@shrey-agarwal In order to better assist with your query, could you please share the document link you are referencing above?

[2019-06-28 21:20] MarileeTurscak-MSFT commented on #33853
Hi @oguennec ,

I made a pull request to get this added to the doc. https://github.com/MicrosoftDocs/azure-docs-pr/pull/80976

+ @rwike77 to approve/reject

[2019-06-28 21:20] #33853 closed

[2019-06-28 21:20] FrankHu-MSFT commented on #34194
@Tiberriver256 I'm sorry that you're having issues and currently are trying to resolve the issue that's throwing the error : AADSTS90093. Unfortunately due to how custom many customer scenarios can be, there is no general troubleshooting page outside of the explanation of the errors.

Typically the errors have a clear explanation on what the issue is, however sometimes due to customized environmen

[2019-06-28 21:20] #34194 closed

[2019-06-28 21:21] femsulu commented on #34230
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-06-28 21:23] femsulu commented on #34225
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-06-28 21:25] femsulu commented on #34216
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-06-28 21:26] shrey-agarwal commented on #34157
@KranthiPakala-MSFT  I used the following documentation ([here](https://docs.microsoft.com/en-us/azure/cosmos-db/spark-connector)).
The doc states a way to write on the cosmosDB, but no mention of "upsert" or insert into a non-empty cosmosDB (which apparently requires a different version of the command, surprisingly).

[2019-06-28 21:28] TravisCragg-MSFT commented on #34128
@Cyr-Az I am unfortunately not familiar with the best practices in this scenario. conditional forwarding is not yet supported in Azure Private DNS, but you should be able to point your DNS to resolve your Azure VM's Private DNS Zone query to Azure's DNS.

You would need to have your Azure DNS Zone use a different DNS name than your internal DNS.

[2019-06-28 21:30] ishepherd opened #34232 "Is this equivalent to..."
The US East client could just specify strong consistency on that read? Then the session token is irrelevant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5feaa520-6f8a-6b30-7cd1-3a85593f758f
* Version Independent ID: 2a121426-b973-fa0b-6a09-299193809723
* Content: [How to implement custom synchronization to optimize

[2019-06-28 21:31] femsulu commented on #34216
Do you mean link to documentation?
I dont believe we have this info documented publically. adding @anirudhcavale to confirm.
@anirudhcavale if doc doesnt exist, can we add this as a doc-enhancement request to our backlog?

[2019-06-28 21:45] femsulu commented on #34214
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-06-28 21:57] femsulu commented on #34209
@mudithac thanks for the comment. To get the best possible answer to your question,  Kindly post your question on the [Azure technical Forum](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=windowsazuremanagement). Our community engineers who moderate the forums will be in the best position to help you with this or redirect as appropriate. This channel is reserved for issues and fe

[2019-06-28 21:59] rachel-msft commented on #24346
I apologize for not being able to answer this request earlier.

First off all, I have corrected the article to reflect that the certificate can be stored in any file location you choose. That file location can be referenced in the SSL certificate parameter of whichever language/client you are using. In the docs I have shown an example of doing this with psql.

As you pointed out, Azure Key Vault's

[2019-06-28 22:00] #34209 closed

[2019-06-28 22:01] jonbeck7 commented on #33998
@steveesp  please take a look.

[2019-06-28 22:02] femsulu commented on #34197
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-06-28 22:04] jonbeck7 commented on #32921
We will have the portal updated.  @joelpelley can you reach out?

[2019-06-28 22:08] anirudhcavale commented on #34216
I don't believe there is documentation. I will add something to our backlog to update.
#please-close

[2019-06-28 22:08] #34216 closed

[2019-06-28 22:08] dinobu opened #34234 "Android device orientation will loose user name entered on Sign In"
If user attempts to sign into AAD using ADAL ((Microsoft.IdentityModel.Clients.ActiveDirectory)), he is presented with Sign In screen where he can enter user name.  If he does so, and clicks Next, he is then prompted to enter password.  If he now rotates device before entering password, on Android, he will land back to the view that prompts for user name which he provided just few seconds ago.

Us

[2019-06-28 22:10] Adam-Smith-MSFT commented on #34225
@vinapp Azure Storage analytics logging can be enabled in the azure storage account, but for three services: Blobs, Tables and Queues, (Files not supported yet). more info on this matter can be found [here](https://docs.microsoft.com/en-us/azure/storage/common/storage-analytics-logging)
3. Is correct, unfortunately premium storage accounts are not supported as of yet.
2. Azure File storage doesn't

[2019-06-28 22:11] Mike-Ubezzi-MSFT commented on #34157
@shrey-agarwal Thank you for the additional detail. I have added the doc footer to this issue. We are looking into this further.

[2019-06-28 22:12] femsulu commented on #33724
adding @tfitzmac for input

[2019-06-28 22:19] joelpelley commented on #32921
Not sure how that got out of sync, but it is fixable.  That said, Lsv2 is all about the IOPs on the local disk and not really about the IOPs over to XIO.  These numbers are more about XIO.  Do we match by showing the XIO numbers, or do we update to be more specific about the local disks?  My assumption is we match XIO.

[2019-06-28 22:19] Mike-Ubezzi-MSFT commented on #34157
@shrey-agarwal Ae you using Cassandra API by chance? The following doc shows you how to perform an UPSERT action using Spark: Upsert data into Azure Cosmos DB Cassandra API from Spark ([link](https://docs.microsoft.com/en-us/azure/cosmos-db/cassandra-spark-upsert-ops))

[2019-06-28 22:19] MicrosoftGuyJFlo commented on #32652
#please-close

[2019-06-28 22:19] #32652 closed

[2019-06-28 22:25] shrey-agarwal commented on #34157
@Mike-Ubezzi-MSFT No, my application does not require Cassandra API. For time being, it's a simple Cosmos DB (sql API) that I have created on the Azure portal resources.

[2019-06-28 22:27] MicrosoftGuyJFlo commented on #32701
Made change in private repo based on your feedback above.

[2019-06-28 22:34] jonbeck7 commented on #32921
Great question.   Perhaps work with Jerry and explain the difference in disk types on this and get his suggestion on what can be done.   It would be great if we could do something like Temp/XIO 8,000/NVME 400,000

[2019-06-28 22:35] FrankHu-MSFT commented on #33593
@sameersalunke For further support on this issue please engage support, as the doc github issues are meant for issues with the docs,

[2019-06-28 22:40] itbland opened #34235 "Manual install of HRW not possible with MMA 10.20.18001.0"
The AzureAutomation folder is no longer present in the MMA folders.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b29372c-7bd9-7da2-4cff-9afbb432bccf
* Version Independent ID: 66ce101d-d21b-3fdf-be70-7f9cadc1570e
* Content: [Azure Automation Windows Hybrid Runbook Worker](https://docs.microsoft.com/en-us/azure/automa

[2019-06-28 22:40] FrankHu-MSFT commented on #32757
@payalgaikwad42 If you're still having issues with this, please file a support ticket and someone will be able to help you in a closer capacity. Thanks!

[2019-06-28 22:42] gotgenes commented on #34181
I'm not @Ballzer0, but I came here to say the same thing. There is no more "Properties" to click on, because there is no more "Settings" to click on. The UI has completely changed. There's no way to set the App ID URI through the new interface, either, AFAICT.

The UI has been totally revamped, and I understand that the reason it has to do with AAD v2 support. So the note, "At this time, AAD V2 (i

[2019-06-28 22:48] SaurabhSharma-MSFT commented on #33935
@axthosarouris We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-28 22:48] #33935 closed

[2019-06-28 22:48] SaurabhSharma-MSFT commented on #33844
@chrisetler We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-28 22:48] #33844 closed

[2019-06-28 22:49] FrankHu-MSFT commented on #34234
@dinobu Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-28 22:50] FrankHu-MSFT commented on #34234
The reason that this is occurring is because the webview refreshes on rotation. You can stop this by preventing the webview from rotating per the post here : https://forums.xamarin.com/discussion/15085/webview-onrotation

This sort of issue needs to be addressed in each environment, but I do agree that we should have some sort of doc explaining why this is happening and how to resolve this sort of

[2019-06-28 22:53] FrankHu-MSFT commented on #34196
@Workmagic Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-28 22:59] joelpelley commented on #32921
Reviewed and confirmed.  Our published specs are correct here:  https://docs.microsoft.com/en-us/azure/virtual-machines/linux/sizes-storage

We just need to go make the update in Portal.  I will ask the team to do so and we can close this thread.

[2019-06-28 23:01] FrankHu-MSFT commented on #34196
Hey @Workmagic did you take a look at the troubleshooting section? https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/virtual-machines/linux/login-using-aad.md#continued-ssh-sign-in-prompts

In addition to that, have you taken a look at this SO Post? https://stackoverflow.com/questions/1556056/permission-denied-publickey-keyboard-interactive

Let us know if changing passwordauthentic

[2019-06-28 23:08] #32701 closed

[2019-06-28 23:09] SaurabhSharma-MSFT commented on #34052
@DSharpPro I suggest you to please open a [Azure Support Ticket](https://aka.ms/azsupt) so that Identity Support engineer can check further on this issue. In case you limitations in your support plan to open support ticket please let me know.
Also, Sentinel is currently in preview and not recommendation for production environments as certain features might not be supported or might have constraine

[2019-06-28 23:10] femsulu commented on #34130
@Szadegan AFAIK there's currently no PS support for Actions Rules but adding @ananthradhakrishnan to confirm.

[2019-06-28 23:11] #28849 closed

[2019-06-28 23:11] femsulu commented on #34018
any update please?

[2019-06-28 23:15] MarileeTurscak-MSFT commented on #34118
@AndreasStenhall based on my research this appears to be correct.

I made a pull request to add this to the FAQ but will leave it open for @MicrosoftGuyJFlo to approve/reject https://github.com/MicrosoftDocs/azure-docs-pr/pull/80998

[2019-06-28 23:15] #34118 closed

[2019-06-28 23:19] YutongTie-MSFT commented on #33892
@agarza152
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-06-28 23:19] #33892 closed

[2019-06-28 23:20] dinobu commented on #34234
Thanks but I already use ConfigChanges.Orientation but beside that, this is Xamarin.Forms, so the authentication code is called from NETStandard library, not from Android head project code.  From there, I cannot really set orientation and reset to sensor as the link you provided suggests

[2019-06-28 23:23] jurion opened #34236 "Performance Issue"
Now we are having a lot of performance issues. CPU usage indicates less than 5%. And nothing loads. On our test case, we went from 0.5 second load time (Old, premiumRS) to 20 seconds (New serverless) load time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46602618-c925-75b6-bf3e-1039f168f141
* Version Independent ID:

[2019-06-28 23:25] steveesp commented on #33998
@jonbeck7 @jakaruna-MSFT - We'll include bandwidth limits on GPU SKUs as AccelNet support is added for those VM families.

[2019-06-28 23:25] femsulu commented on #33841
adding @bandersmsft

[2019-06-28 23:31] MarileeTurscak-MSFT commented on #34030
Hi @Cynothoglys ,

Can you please post your feedback to https://feedback.azure.com/forums/169401-azure-active-directory so that someone from the product team can respond to your feedback directly?

Right now we don't have an ETA that I know of for this but a few users have requested it.

I have created a work item to bring this up as a feature request in my next meeting with the product team.

CC:

[2019-06-28 23:36] chetansriv commented on #33522
@yobyot this is fixed, could you please review.

[2019-06-28 23:37] femsulu commented on #34235
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-06-28 23:39] MarileeTurscak-MSFT commented on #34030
We will now proceed this thread since there is no ETA but I will update the comments when I get a response from the PG.

[2019-06-28 23:39] #34030 closed

[2019-06-28 23:49] nacharya1 commented on #31975
Automated ML uses the DNN algorithms to produce "simple" DNN models i.e. only feed forward using a fixed number of layers and nodes based on the data set features.

[2019-06-28 23:50] nacharya1 commented on #33362
Currently the widget is not supported in Databricks. To see feature importance for your experiment iterations please view the results in the Azure Portal Machine Learning Workspace.

[2019-06-29 00:08] yobyot commented on #33522
Thanks.

It looks like you made the single correction I suggested but missed the sense of the request. There are many, _many_ grammatical errors in this page. Surely you have someone who can proof this.

More than that, though, is the app itself is poorly described. For example, the description of multiple instances is woefully lacking in detail. Instances of _what_? What does "Make sure you use o

[2019-06-29 00:09] yanrez commented on #33308
Hi!
4-we recommend to user different folders for different steps. Main reasoning was previous approach was confusing many users, and we decided to simplify it. Now it's more straightforward in my opinion, but to fully benefit from reuse you need to put training scripts into standalone folders

[2019-06-29 00:12] yanrez commented on #33308
@wbaumann-microsoft Do you know answer for the #3 ?

[2019-06-29 00:16] swatig007 commented on #33899
do you see any error when you try to run the cell with RunDetails(hyperdrive_run).show()? also, can you try looking at the run in the Azure portal to see the status?

[2019-06-29 00:23] anavinahar commented on #29237
@rsamai FYI

[2019-06-29 01:33] temores opened #34237 "StorageAccount sink for Syslog does not create a blob"
Used the provided LAD 3.0 config sample and modified to dump syslog messages into an storage account, the agent creates the tables and the containers but no blob is written in the storage account, below are my configurations.

private.json
...
{
  "storageAccountName": "storageaccountname",
  "storageAccountSasToken": "SASTOKEN",
  "sinksConfig": {
    "sink": [
      {
        "name": "SyslogJson

[2019-06-29 01:57] aceycv8 opened #34238 "Filesync Stops for approx 12h"
we are noticing filesync stops for approximately 12hours every day. - looking at the event logs we are getting the following:

Querying for new jobs failed.
HttpErrorCode: 0x80C87014
InternalErrorCode: 0x80C87300

However no other diagnostic information available.

[2019-06-29 02:25] DarkNoir opened #34239 "What happened to information about Azure table storage? This page has been hijacked by cosmos db?"
Where are the details for Azure Table Storage and what client libraries support it for Standard or Core? Why is this page so confusing and missing the info I am looking for? For gods sake please fix this information. Or have you bailed on supporting Azure Table Storage?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83

[2019-06-29 02:50] itbland commented on #34235
Please disregard this issue, if directions are followed (adding the Automation solution) the folder is present and the manual installation can proceed as it was in the past. Sorry for the bother. (Didn't RTFM!)

[2019-06-29 02:50] #34235 closed

[2019-06-29 04:23] yokawasa opened #34240 "Enabling CD for custom Docker images with Azure CLI command does not create a webhook on relevant ACR"
As introduced in this page, I have executed the following command to enable continuous deployment for custom Docker images. However,  a webhook on relevant ACR wasn't created.
[code]
Executing the command above should created a webhook on relevant ACR for achieving continuous deployment just as enabling CD with ACR in Azure Portal (see the azure docs page: [Continuous deployment with Web App for C

[2019-06-29 05:57] SnehaAgrawal-MSFT commented on #33927
@danijam We will now proceed to close this thread but if you feel you need more information please just let us know.

[2019-06-29 07:08] fume commented on #34115
i explored a bit more the portal and it seems really easy to change the billing subscription. You must be in the current subscription, search for the Azure B2C Tenant resource and then in the "Move" submenu there is a voice that let you change the billing sub.
![image](https://user-images.githubusercontent.com/2969850/60380902-1f4fe600-9a4d-11e9-8819-e98fe795494e.png)

Please, document this steps

[2019-06-29 07:30] dinobu opened #34241 "what is url_scheme_of_your_app?"
how about clarifying this url_scheme_of_your_app://easyauth.callback.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27c69fbe-d26e-fbb3-4ee4-adb6ca068d07
* Version Independent ID: ed1a9882-3e88-f6d5-c471-eb8bb33667b7
* Content: [Get Started with authentication for Mobile Apps in Xamarin Forms app](https://docs.microsof

[2019-06-29 07:51] dinobu opened #34242 "Outdated"
this is outdated legacy stuff, please update

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f1c454d-73bc-5a73-5d3f-1b1ca7625044
* Version Independent ID: 552b3f09-6650-e7f7-01f2-a702005b83e9
* Content: [Configure Azure Active Directory authentication - Azure App Service](https://docs.microsoft.com/en-us/azure/app-serv

[2019-06-29 07:56] vinapp commented on #34225
@Adam-Smith-MSFT, Thanks for the clarification. However I have follow up questions.

4. On the Event hub its still not clear to me. My question was is it possible to Stream the storage diagnostics logs to an event hub (like [cosmos DB diagnostics logs](https://docs.microsoft.com/en-us/azure/cosmos-db/logging)).

5. Any idea when do we expect the logging support for files ?. near future ?.

6. Also

[2019-06-29 09:45] hbulens opened #34243 "Connection between IIS VM and SQL VM"
Great tutorial but I'm experiencing difficulties in establishing a connection between the two virtual machines. I want to pass a connection string in a web app to the SQL VM but so far I've gotten nowhere. Which additional configuration needs to be done so web apps on the IIS VM can use databases on the SQL VM? If I manually create an instance of the "SQL Server 2016 SP1 on Windows Server 2016", i

[2019-06-29 09:54] #34215 closed

[2019-06-29 10:35] ananthradhakrishnan commented on #34130
@Szadegan, thanks for reaching out. Currently, there is no powershell support for action rules, though there is a REST API. You can find the swagger for the REST API here: https://aka.ms/action-rules-api

[2019-06-29 11:20] roymeforever opened #34244 "Kiali console displays an error notification"
Error msg as below:
Error fetching Grafana Info., Error: [ Grafana URL is not set in Kiali configuration ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68b5d00d-529b-a8be-47bf-773c967f0e72
* Version Independent ID: 0cf044ef-b26f-a8fa-213f-1e3fffaf53d6
* Content: [Install Istio in Azure Kubernetes Service (AKS)](https

[2019-06-29 11:38] BadaBharathi opened #34245 "Found a special character which i think is not expected"
Under section 'JavaScript telemetry initializers', came across a special character between 'item' and 's' in the below script.
'// To check the telemetry item�s type - for example PageView:'

I think it is not expected. Please check and ignore if it is expected

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26b3e91f-c2

[2019-06-29 12:05] jurajgh opened #34246 "difference vs classic site to site vpn?"
how is this virtual wan different from just setting up a p2s vpn from each of the sites, please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d62470b-a511-4b32-5498-2ae5182ec585
* Version Independent ID: df2d4c2e-8afb-14ae-6667-9a504a5f8197
* Content: [Use Azure Virtual WAN to create a Site-to-Site connection to Azu

[2019-06-29 12:41] fhe-fr opened #34247 "How to access the classifier from Edge?"
Is it possible to make a call to the classifier to classify an image directly from Edge rather using the cameraCapture module?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d10bd923-e9e2-3958-a9b9-1baac169b308
* Version Independent ID: f78bdb47-e841-b612-6964-9a6f1fce293f
* Content: [Tutorial deploy Custom Vision clas

[2019-06-29 14:01] aquibqureshi26 commented on #34144
Hi Team,

Any update on this?

[2019-06-29 15:19] infoTrainingym commented on #33945
I have just test it again. This time Body property is set right.

I added Event grid  and service bus from the Azure portal. I added the subscription from the portal too.

My code is

[code]

So I don't know when it started working. Thanks for your time and aplogizes. You can close this issue.

Regards,

[2019-06-29 15:20] brianstringfellow opened #34249 "Error: Code=CrossTenantDeploymentNotPermitted"
Are there additional permissions that need to be setup to deploy resources across two subscriptions?

I am using the user account setup by the company I work for, which I use for deploying into our corporate development subscriptions. In my personal directory, I've setup my corporate user as User Type 'Guest' and the Source shows up as 'External Azure Active Directory'. The user has been assigned

[2019-06-29 16:17] axthosarouris commented on #33939
My comment refers to the code in the paragraph "Using an Azure AD identity to connect from a client application"
The code is the following:

`
string ConnectionString =
@"Data Source=n9lxnyuzhv.database.windows.net; Authentication=Active Directory Password; Initial Catalog=testdb;  UID=bob@contoso.onmicrosoft.com; PWD=MyPassWord!";
SqlConnection conn = new SqlConnection(ConnectionString);
conn.Ope

[2019-06-29 16:35] stdistef opened #34251 "Gemalto HSM name change"
In this doc you refer users to the "Gemalto Luna Network HSM Administration Guide".     When I go to the Gemalto portal URL you provide, I find that the name of the product seems to have changed and I cannot find a document by that name.
https://safenet.gemalto.com/data-encryption/hardware-security-modules-hsms/safenet-network-hsm/

---
#### Document Details

⚠ *Do not edit this section. It is req

[2019-06-29 17:21] Ofer-Gal opened #34252 "I do not see "Configure your Hybrid Connection endpoints" on the portal"
# Azure documentation issue guidance
Following https://docs.microsoft.com/en-us/azure/app-service/app-service-hybrid-connections#adding-a-hybrid-connection-to-your-app-programmatically

## Creating an issue

I do not see "Networking > Configure your Hybrid Connection endpoints. "
where will I find it or what Azure rights am I missing?

Edited: Added GitHub doc details

---
#### Document Details

⚠

[2019-06-29 17:46] AjayKumar-MSFT commented on #34226
@majikthys, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-06-29 17:49] AjayKumar-MSFT commented on #34212
@LindaLF, Thanks for bringing this to our attention. We are taking a look into this and will get back to you soon.

[2019-06-29 17:51] AjayKumar-MSFT commented on #34227
@dvescovi1, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-06-29 17:53] AjayKumar-MSFT commented on #34228
@sepacheco, Thanks for raising this question! We are taking a look into this and will get back to you soon.

[2019-06-29 17:55] AjayKumar-MSFT commented on #34229
@jctbak, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-06-29 17:58] AjayKumar-MSFT commented on #34232
@ishepherd, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-06-29 18:01] AjayKumar-MSFT commented on #34236
@jurion, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-06-29 18:05] AjayKumar-MSFT commented on #34237
@temores, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-06-29 18:14] AjayKumar-MSFT commented on #34238
@aceycv8, Thanks for the question! Could you also please share the Azure document for which this feedback is related to?

[2019-06-29 18:17] AjayKumar-MSFT commented on #34239
@DarkNoir, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-06-29 18:26] AjayKumar-MSFT commented on #34240
@yokawasa, Thanks for the question! Could you please share a screenshot of the issue after concealing any private details? In the interim, Just to clarify, kindly ensure that you're looking at the right page/blade, if you haven't tried this already, you may refresh the Azure Portal and then check to see if that helps.

[2019-06-29 18:44] eriawan commented on #34177
@YASWANTHM-MSFT

The article's link to KB4489739 has been fixed. Please close this issue.

[2019-06-29 18:52] AjayKumar-MSFT commented on #34241
@dinobu , Thanks for your feedback! You could obtain this from the Azure Portal> Navigate to your App > On the “Overview” blade, copy the URL section.

**Mobile App URL**: https:/yourappname.azurewebsites.net
**url_scheme_of_your_app**: yourappname
**redirectUriScheme**: yourappname://easyauth.callback

The document currently highlights  this- “The url_scheme_of_your_app in this string is the URL

[2019-06-29 18:52] FrankHu-MSFT commented on #34251
@stdistef  Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-29 18:54] FrankHu-MSFT commented on #34251
Hey @stdistef thanks for pointing this out, we're currently making the change. We appreciate the feedback!

Closing this issue out as we've made the link change

[2019-06-29 18:54] #34251 closed

[2019-06-29 19:06] BharathNimmala-MSFT commented on #34245
@BadaBharathi - Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-29 19:10] AjayKumar-MSFT commented on #34242
@dinobu, Thanks for sharing your valuable feedback! Just to clarify, are you specifically looking at the document section to include the "Supported account types" section on the new App Registration page or something more.

[2019-06-29 19:13] AjayKumar-MSFT commented on #34243
@hbulens, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-06-29 19:18] AjayKumar-MSFT commented on #34244
@roymeforever, Thanks for the question! Could you please share more details on the error and when exactly do you receive this error message? Kindly do provide a screenshot after concealing any private details.

[2019-06-29 19:25] AjayKumar-MSFT commented on #34246
@jurajgh, Thanks for the question! We are taking a look into this and will get back to you soon. In the interim, kindly take a look at the FAQ doc on Azure Virtual WAN which provides answers to some of the frequently asked questions: https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-faq

[2019-06-29 19:28] AjayKumar-MSFT commented on #34247
@fhe-fr, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-06-29 19:30] AjayKumar-MSFT commented on #34249
@brianstringfellow, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-06-29 19:44] AjayKumar-MSFT commented on #34252
@Ofer-Gal, Thanks for the question!
On the Azure Portal > Navigate to your App > and look for “Networking” feature under the ‘Settings’ blade (You could also search as shown in the screenshot).
![image](https://user-images.githubusercontent.com/44606227/60388822-53bab500-9ad4-11e9-95a3-0cddcea3e4b3.png)

Also, as mentioned in the same document you’re referring to “App Service Hybrid Connections ar

[2019-06-29 21:00] ignacioPastor commented on #34098
@ram-msft  here is my LUIS app id e082bb09-8093-4fb4-8978-b21a5830cf61

Please note that I'm dealing with the same issue on the other LUIS app that I've been working with, so from my experience it always fails. I haven't configured anything on the second LUIS app, so maybe thre is something wrong on the command I'm using or in the API

Thanks for your help

[2019-06-29 21:06] Ofer-Gal commented on #34252
Once going to the web app, I found it.
Thx

[2019-06-29 21:06] #34252 closed

[2019-06-29 21:39] MatthewSteeples opened #34253 "AutoDeleteOnIdle"
This page says that subscriptions are permanent, but it's possible to create subscriptions that delete themselves after a period of inactivity. Is this inaccuracy a mistake, or a limitation of the python library?

Reference: https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.subscriptiondescription?redirectedfrom=MSDN&view=azure-dotnet#Microsoft_ServiceBus_Messaging_Subscri

[2019-06-29 22:19] rswetnam opened #34254 "Confusion Instructions"
I am trying to follow along - at "3.  If you haven't already connected Visual Studio to your Azure account, select Add an account....", I couldn't tell from the context whether I was in Azure or Visual Studio and could not find where to "Add An Account"  - nor cold I find the "Create App Service Dialog" and the connection to "Create a function App"

---
#### Document Details

⚠ *Do not edit this s

[2019-06-30 00:00] TammyLeeSeattle commented on #31878
Haha, I've been troubleshooting this since this morning. Wish I'd have seen it earlier 😂

[2019-06-30 00:30] ahmedelnably commented on #34240
@btardif, I no longer work on that area

[2019-06-30 00:31] roymeforever commented on #34244
I followed the tutorial and logged into Kiali.
See attached.
![Kiali Issue](https://user-images.githubusercontent.com/28910888/60390798-1f6de580-9b22-11e9-9e9b-64a5d2ad6658.PNG)
![Istio Config Grafana](https://user-images.githubusercontent.com/28910888/60390799-20067c00-9b22-11e9-8320-9a1b3e5e63f2.PNG)

[2019-06-30 00:44] yokawasa commented on #34240
@AjayKumar-MSFT
Here is a screenshot of the issue where I tried 2 senarios - enabling CD in Azure Portal & with Azure CLI command. Please let me know if you need further info

<img width="1803" alt="Screen Shot 2019-06-30 at 9 32 24" src="https://user-images.githubusercontent.com/82332/60390853-4e348d80-9b1b-11e9-89b7-23e38458f629.png">

[2019-06-30 01:02] baqwas commented on #24737
My apologies for the delayed response. Had to focus on Azure Sphere SDK for some time now!

I had to work with a fresh install of VS Code under Ubuntu 19.04. I cannot do local Arduino development with MXChip AZ3166. (Can blink UNO and MKR1000 on-board LED with VS Code but not that for AZ3166). VS Code Arduino Board Manager identifies the attached AZ3166 and offers it as disabled in the selection l

[2019-06-30 01:30] Girishvtm commented on #5468
I am similar issue New-AzureADMSGroup : A parameter cannot be found that matches parameter name 'MembershipRule'.

Installed AzureADPreview using below command
Install-module AzureADPreview -AllowClobber

But issue still persists.

[2019-06-30 04:14] MohitVerma-MSFT commented on #34253
@MatthewSteeples Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-30 04:16] MohitVerma-MSFT commented on #34254
@rswetnam Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-30 04:20] AmanGarg-MSFT commented on #34015
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-06-30 04:20] #34015 closed

[2019-06-30 04:22] AmanGarg-MSFT commented on #34087
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-06-30 04:22] #34087 closed

[2019-06-30 05:55] KalyanChanumolu-MSFT commented on #33984
We will now proceed to close this thread.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion. 
 

[2019-06-30 05:55] #33984 closed

[2019-06-30 05:56] KalyanChanumolu-MSFT commented on #33928
@siwlv It's been a while we heard from you.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion. 
 

[2019-06-30 05:56] #33928 closed

[2019-06-30 06:01] KalyanChanumolu-MSFT commented on #34236
@jurion Thank you for the feedback!
The problem you're encountering is not a documentation issue.
Please file a support ticket and we'll have someone looking into this.

[2019-06-30 06:07] omerlh opened #34262 "Improve key rotation documentation"
Take a look at [AWS KMS](https://docs.aws.amazon.com/kms/latest/developerguide/rotate-keys.html) or [GCP KMS](https://cloud.google.com/kms/docs/key-rotation) guides. Both offer all the information you need regarding keys rotation (not secrets, which is covered by this page):
 - What will happen after rotation? Will decryption of old data succeed?
 - What do I need to do?
 - Why do I need that?

Th

[2019-06-30 07:26] Girishvtm opened #34263 "Error while creating dynamic group using powershell"
Guys, I  am trying to create Azure dynamic groups using powershell, but getting an error.

[code]

I tried installing and importing  AzureADPreview.

But issue still persists.

[2019-06-30 07:39] montebhoover opened #34264 "Add Linux Admin Username rules to naming restrictions section"
When deploying from AKS quickstart ARM template, parameter validation for Linux Admin Username (as well as the other parameters) redirects to here via https://aka.ms/aks-naming-rules, but there is no information to help fix the problem.  Can we add the following line to this doc:
"Linux Admin Username must only contain letters, numbers, hyphens, and underscores and may not start with a hyphen or n

[2019-06-30 08:11] Ahmad-Al-Ali opened #34265 "PHP / Laravel"
Not all PHP devs are using Laravel,  this article is heavily dependent on Laravel. Developers who uses other PHP frameworks will not benefit from it that much. I suggest rewriting the doc using basic PHP

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7d301ba-4ace-99a8-deba-4ed7f3413de0
* Version Independent ID: 62100f

[2019-06-30 08:20] msrini-MSFT commented on #34246
@jurajgh , You can have Point to Site, Express Route and VPN co-exist in the same VNET with Azure VWAN.

It lifts the limitation of having limited number of connections(Sites) from On-Premises and you can create upto 1000 connections for a Single Hub.

You can read this doc to know more about WAN: https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-about

Let me know if you have any fur

[2019-06-30 13:04] tsrob50 opened #34266 "Billing"
Hello,
Is this billed by time used or time implemented?  For example, if I implement this for a month and use it for a total of 10 hours, will I be billed for 10 or 720 hours?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03ec4426-bfc1-b046-500d-38b2ca89c71d
* Version Independent ID: cdacb6c7-1d83-c62b-9204-f04d995572

[2019-06-30 13:24] MohitVerma-MSFT commented on #34262
@omerlh Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-30 13:26] MohitVerma-MSFT commented on #34263
@Girishvtm Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2019-06-30 13:27] MohitVerma-MSFT commented on #34264
@montebhoover Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-30 13:28] MohitVerma-MSFT commented on #34265
@Ahmad-Al-Ali Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-30 13:29] MohitVerma-MSFT commented on #34266
@tsrob50 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-30 13:38] SaurabhSharma-MSFT commented on #34115
@fume thanks for sharing this.
@mmacy can you please help documenting this.

[2019-06-30 15:26] jurion commented on #34236
@KalyanChanumolu-MSFT

Tank you for the answer,

Just a small note : the problem was related to indexes and statistics. They took a while to be rebuilt after initial data import. Now everything works perfectly.

[2019-06-30 17:56] axisc commented on #31077
Apologies for the late response on this.

Transaction support is not dependent on partitions. So that is not the criteria/advantage of enabling partition support. I'd hold off on adding the advantages section for this.

Partitions spreads the workload across different backend nodes so that in the event one of the multi-tenant setups is overloaded (standard is multi-tenant), the other backend node

[2019-06-30 17:56] #31077 closed

[2019-06-30 18:27] BharathNimmala-MSFT commented on #34245
@BadaBharathi - Thank you for bringing this to our attention, raised a PR to update the doc accordingly.

[2019-06-30 23:33] jaysonvelasco opened #34267 "Non-dev testing instructions"
.NET backend
If you’re going to use .NET quickstart app, follow the instructions below.
Download the Azure Mobile Apps .NET server project from the azure-mobile-apps-quickstarts repository.
===============
The above threw me off. For a non-dev like me, it took some  problems to figure out what part of the repository in Git I needed, then besides thinking over for an infinity where in azure-mobile-

[2019-07-01 00:39] georgewen opened #34269 "need clarification"
in this page it mentioned: "Group managed service accounts (gMSA) support when the Windows Server nodes aren't joined to an Active Directory domain is not currently available in AKS." , however it is not clear whether gMSA is possible at all since it is not mentioned anywhere if it is possible to domain join aks windows node and how?

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-07-01 00:54] Buckits commented on #33040
Should have updated you, our applications starting working again 2 days after i reported this issue. There was no change from our end on any configurations.

[2019-07-01 01:55] femsulu commented on #34267
@jaysonvelasco Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-07-01 02:37] DixitArora-MSFT commented on #34269
Hi @georgewen Thank you for your feedback! We will review and update as appropriate.

[2019-07-01 02:51] orspod commented on #34175
@bybinbin, thanks for your feedback. It should be accessible for everyone. It is a public cloud. Are you having issues accessing (https://dataexplorer.azure.com/clusters/help/databases/Samples)?

[2019-07-01 03:13] KalyanChanumolu-MSFT commented on #34236
@jurion thank you for the update.
We will close this issue now.

[2019-07-01 03:13] #34236 closed

[2019-07-01 03:15] aquibqureshi26 opened #34272 "Need to validate the subscription move process week before migration"
Hi Team,

We're Microsoft partners and we do alot of Migration From Online subscription to CSP. or EA to CSP. Both the migration requires manual intervention of migrating resource group.

Recently I migrated resources from MOLP to CSP and that was really painful as I have to validate the move and find out the resources which cannot be migrated. and many was containing VM deployed from market place

[2019-07-01 03:22] Bybinbin commented on #34175
I will  do some queries under azure china environment,whether i can use this  portal(https://dataexplorer.azure.com/clusters/help/databases/Samples) or there is a new portal to do this operations for azure china environment ?

[2019-07-01 03:36] SnehaAgrawal-MSFT commented on #34184
@pfeio Thanks again for the feedback! Your feedback has been shared with the content owner for further review.

[2019-07-01 03:50] msrini-MSFT commented on #34059
@taromielnaz , please tag me for any further questions. I will go ahead and close this issue for now.

[2019-07-01 03:50] #34059 closed

[2019-07-01 04:10] msghaleb opened #34273 "deploying into an Azure virtual network? or just limiting the access?"
At the top of the article is says "By deploying your private Azure container registry into an Azure virtual network" however I can see the article talking about vNET private deployment. Its more on limiting access to specific vNETs/IPs and with the help of vNET service end point we can reduce the number of hops between the vNET and ACR.

Is it possible to deploy the ACR into a private vNET?

---
#

[2019-07-01 04:31] AjayKumar-MSFT commented on #33838
@xyfoo, I have just re-assigned the issue to the content author to review further and update the document as appropriate. Thanks again for your feedback, we will get back to you soon.

[2019-07-01 04:45] AjayKumar-MSFT commented on #34252
Ofer-Gal, Thanks for the update!

[2019-07-01 04:50] dcbrown16 opened #34274 "Add info on retention"
I've seen questions several times in support about a basic concept that should be covered here.
This page describes how the first backup is full and subsequent ones are incremental. Many people misinterpret this to mean that the data is tied to each recovery point, so when the first one expires due to retention settings, they worry if the data will be lost.
Obviously this is not how it works but t

[2019-07-01 04:55] angoyal-msft commented on #33999
@wernermp
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-01 04:55] #33999 closed

[2019-07-01 04:56] angoyal-msft commented on #33930
@siwlv
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-01 04:56] #33930 closed

[2019-07-01 04:56] angoyal-msft commented on #33942
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-01 04:56] #33942 closed

[2019-07-01 05:10] CastleArg commented on #34072
Hi, thanks for the info but not really.
I'm fine with setting up AppInsights and Log streaming via portal,
but I want a totally local solution to view logs during dev.  Often when it crashes It briefly displays call stack in VScode terminal and then clears and resets so I have no idea what happened.   I have local storage emulator set up but nothing is logged there that I can see.
I'd just like a

[2019-07-01 05:13] SadiqhAhmed-MSFT commented on #34272
@aquibqureshi26 Thanks for the feedback. We are looking into this and will get back to you shortly.

@tfitzmac Is there a PS script to validate resources for migration?

[2019-07-01 05:15] KetanChawda-MSFT commented on #34040
@LValla Checking in to see if the above post helped answering your question.

[2019-07-01 05:31] PramodValavala-MSFT commented on #33945
@infoTrainingym Sure. No Problem. This was a rather recent fix I believe.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-01 05:31] #33945 closed

[2019-07-01 05:39] YASWANTHM-MSFT commented on #34010
@@igomat, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion

[2019-07-01 05:39] #34010 closed

[2019-07-01 05:45] YASWANTHM-MSFT commented on #34177
@igomat,  we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion

[2019-07-01 05:45] #34177 closed

[2019-07-01 05:47] DixitArora-MSFT commented on #34273
Hi @msghaleb Thank you for your feedback! We will review and update as appropriate.

[2019-07-01 05:51] genlin commented on #33904
@rafamarrara You are right. Running manage-bde command does not require to encrypt the recover VM. For the old OS such as Windows Server 2008, we need to turn on Bitlocker feature before we can use the command. I will correct the text in the article. Thanks for the feedback!

[2019-07-01 05:55] ranjanc opened #34275 "Managed Instance"
Could you please explicitly state the HA option for MI in a single region?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15036ef6-9c0b-044e-d600-b9f90f039720
* Version Independent ID: 6fe5cd14-a1ad-e183-a048-d72686abb969
* Content: [High availability - Azure SQL Database service](https://docs.microsoft.com/en-us/azure

[2019-07-01 06:13] angoyal-msft commented on #34275
@ranjanc
Thanks for your feedback. We are investigating this issue actively and will get back to you soon.

[2019-07-01 06:13] udesh210479 commented on #34108
Hi Frank, I'm not convinced with your reply, My request is to seek info on why it supported in scenario 1 and it failed in scenario 2.
scenario 1 ,I used ADAL Python Libray and for your info. I used ADAL4j java library as well. It worked with redirection to onprem ADFS
I made my application in Azure portal to public client
Scenario 2 , I used java HTTPClient class and constructed URL as per  the b

[2019-07-01 06:18] angoyal-msft commented on #33970
@glloyd2010f
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-01 06:18] #33970 closed

[2019-07-01 06:22] angoyal-msft commented on #34178
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-01 06:22] #34178 closed

[2019-07-01 06:22] msrini-MSFT commented on #34266
@tsrob50 , Azure Bastion is billed per hours implemented. In your example, it is 720 hours.

[2019-07-01 06:22] #34266 closed

[2019-07-01 06:22] angoyal-msft commented on #34102
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-01 06:22] #34102 closed

[2019-07-01 06:24] SadiqhAhmed-MSFT commented on #34274
@dcbrown16 Thanks for the feedback. We are looking into this and will get back to you shortly.

[2019-07-01 06:24] KetanChawda-MSFT commented on #34220
@GermanEZI When you say your function uses Graph API , does that means your function is secured with App service authentication (Authentication / Authorization) as shown below ?

![image](https://user-images.githubusercontent.com/28587628/60412366-6fb27980-9bee-11e9-8da8-71c6e4097770.png)

If yes, follow the below steps:

1. Enable the  System Assigned Identity in your function App.

![image](http

[2019-07-01 06:28] IshamMohamed opened #34276 "Custom term is not detected"
I have created a custom term list and fed words such as "idiot", "coffee" and "covfefe" to it. But when I tried to screen text with the following sentence "I drink covfefe", the response came with null value for Terms. Why does this happen?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51f39e38-4811-d2e3-cf2f-bc7d11a7

[2019-07-01 06:32] IshamMohamed commented on #34276
Term list:
![image](https://user-images.githubusercontent.com/2231923/60415042-9e3f4d00-9c0c-11e9-87d0-f40880589847.png)

Scan response:
![image](https://user-images.githubusercontent.com/2231923/60415203-11e15a00-9c0d-11e9-8a01-3fb27572e3ec.png)

[2019-07-01 06:43] msrini-MSFT commented on #34273
@msghaleb , ACR cannot be deployed into a VNET. The line "By deploying your private Azure container registry into an Azure virtual network" is misleading and I will assign this issue to Author to get it rectified.

[2019-07-01 06:46] msrini-MSFT commented on #34246
@jurajgh , Do you have any further questions?

[2019-07-01 07:12] jakaruna-MSFT commented on #34264
@montebhoover  Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@sauryadas Please validate this request and alter the doc as needed.

[2019-07-01 07:15] AjayKumar-MSFT commented on #34242
@dinobu, Just following-up to seek more details on your feedback. Thanks, again!

[2019-07-01 07:16] jurajgh commented on #34246
thx for response. i think I understand now. feel free to close this one.

On Mon, 1 Jul 2019 at 08:46, KARTHIK SRINIVAS <notifications@github.com>
wrote:

--
J.

[2019-07-01 07:17] angoyal-msft commented on #34153
@chad-chronotek I have assigned this issue to content author to help you better on this issue.
@rimman Could you please help the user with his concern and update the document appropriately.

[2019-07-01 07:17] #34246 closed

[2019-07-01 07:20] kazshi opened #34277 "Azure Files supports Active Directory?"
Does Azure Files support access control with Active Directory (not Azure Active Directory)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 534b3ef3-5664-973e-b146-8c1f960bf536
* Version Independent ID: 57c3ce18-2857-8ed0-10a5-5061d391a079
* Content: [Frequently asked questions (FAQ) for Azure Files](https://docs.micros

[2019-07-01 07:21] AjayKumar-MSFT commented on #34241
dinobu, Just checking to see if the above suggestions helped or you need further assistance on this topic.

[2019-07-01 07:26] AjayKumar-MSFT commented on #34265
@Ahmad-Al-Ali, Your feedback has been shared with the content owner for further review. It's a good feedback, thanks for sharing your valuable suggestions.

[2019-07-01 07:32] sebader commented on #31975
thanks @nacharya1 for your reply. So the documentation is not quite correct and Automated ML can indeed produce DNN models (even if only simple ones)?!

[2019-07-01 07:40] dohughes-msft opened #34278 "Kill switch now available"
Hi team, time to update the note at the beginning of this documentation? The fencing agent now uses the new kill switch to quickly stop VMs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1f5847a-561c-2cf8-3955-6e5cfef0f73e
* Version Independent ID: 67841eb9-66ec-106f-f6f8-015a4dc6e0d3
* Content: [Setting up Pacemaker

[2019-07-01 07:50] Ballzer0 commented on #34181
everything in the "Configure with advanced settings" section is outdated, meant for (app registrations legacy) It would be nice with an updated guide meant for the new app registration process.

[2019-07-01 07:54] gbbiotwesouth commented on #14035
For those who want to connect IoT Edge to IoT Central I've created a IoT Central bridge module: [EdgeIOTCBridgeSolution](https://github.com/gbbiotwesouth/EdgeIOTCBridgeSolution). This module is based on the IoT Central Device Bridge for connecting other IoT clouds such as Sigfox, Particle, and The Things Network (TTN) to IoT Central. The IoT Edge will be managed on a different IoT Hub, but the tel

[2019-07-01 07:59] ananthradhakrishnan commented on #16842
Hi @jyothirmaisuri, script has been updated.

[2019-07-01 08:16] danijam commented on #33927
Hi @SnehaAgrawal-MSFT What I'm trying to achieve is A) have key vault deployed along with a App Service B) give that App Service the ability to sync with that key vault to pick up newer TLS keys. However I don't want to set a access policy that grants all App Services in any of our subscriptions the ability to get the TLS key secret from this key Vault. Simple Example is we have Dev Subscription a

[2019-07-01 08:20] Z4chst3r commented on #34072
If you are using Visual Studio 2019, the logs will be under %TEMP%/LogFiles\Application\Functions\Function\<your function name>
But you need to make sure you have your hosts.json set up for logging, something like:
{
  "version": "2.0",
  "logging": {
    "fileLoggingMode": "always",
    "logLevel": {
      "Function.<your function name>": "Information",
      "Function.<another function name>": "

[2019-07-01 08:24] dominicbetts commented on #33074
Hi @ac207 - I notice you have a [duplicate issue open](https://github.com/Azure/azure-iot-predictive-maintenance/issues/50) in the source repository.
I'm going to request that this issue is closed, but feel free to reopen it if there are follow-up questions related to the docs. Thanks!

[2019-07-01 08:24] dominicbetts commented on #33074
#please-close

[2019-07-01 08:24] #33074 closed

[2019-07-01 08:27] genlin commented on #33904
@rafamarrara I summited a pull request to update the article and process to close this issue. Feel free to let me know if there is any additional questions or comments about this matter.

[2019-07-01 08:27] genlin commented on #33904
#please-close

[2019-07-01 08:27] #33904 closed

[2019-07-01 08:33] AshokPeddakotla-MSFT commented on #34226
@majikthys I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-01 08:41] TEKAzure opened #34280 "A warning on MBR vs GPT partitioned disks would be helpful"
It might be useful to amend this document with a note on MBR disks, warning that extension past 2 TB would not be possible for MBR partitioned disks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccc58c74-7913-f1f6-8681-1823bbd8f050
* Version Independent ID: c11bab28-a82a-29a1-84bf-fb3dfb9a5cb2
* Content: [Expand the

[2019-07-01 08:41] SumanthMarigowda-MSFT commented on #34277
@kazshi Thanks for your question. We are checking on this and will respond to you soon.

[2019-07-01 08:42] vladichernov commented on #33924
Hallo,

unfortunately the issue still persists:

[cid:image002.png@01D52FF9.AA642670]

Best Regards

Vladimir Chernov

DATEV eG

Standort: Fürther Straße 111

Telefon: +49(911)319-51715

E-Mail: vladimir.chernov@datev.de

Postanschrift: DATEV eG, 90329 Nürnberg

-----Ursprüngliche Nachricht-----
Von: ChiragMishra-MSFT <notifications@github.com>
Gesendet: Freitag, 28. Juni 2019 06:19
An: MicrosoftD

[2019-07-01 08:50] OffColour opened #34281 "TCP Probe Four way handshake"
Can you clarify the behaviour of the four way handshake to terminate a TCP probe please?

I have a probe set to an interval of 60 seconds.
The service it is probing has a connection timeout of 10 seconds.

The probe connects and gets an ACK from the server.
The probe then sends an ACK back to the server, but not the FIN.

I've been told by support that the FIN isn't sent until the the next probe t

[2019-07-01 08:50] salviri opened #34282 "Merge files copy behavior in copy activity does not work (azure data factory). when copying data from SQL Server to Data Lake G2"
I am using data factory to copy some data from SQL to azure data lake G2 in parquet format.
I tried changing the copy behavior to "Merge Files" and then after I save and publish the pipeline it doesn't save the copy behavior.

[2019-07-01 08:53] ram-msft commented on #33996
@Pauline-Kowa As we are unable to reproduce the issue,please raise a support request from the Help + Support blade of Azure Portal to check.
If you do not have a support plan we can enable a one time support request if you can email us atazcommunity[at]microsoft[dot]com. Please provide us with your subscription id and URL of this thread in the email. Thank you.

[2019-07-01 08:55] KetanChawda-MSFT commented on #34200
@cfjedimaster I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-01 08:57] sergaz-msft commented on #33934
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-01 08:57] #33934 closed

[2019-07-01 09:07] RohitMungi-MSFT commented on #34276
@IshamMohamed Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-07-01 09:08] RohitMungi-MSFT commented on #34142
@ericjiang18 We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-01 09:09] #34142 closed

[2019-07-01 09:16] chi-ltd opened #34283 "Error"
Running the commands and leaving the default options im getting the following errors:

Azure:/
PS Azure:\&gt; Add-AzKeyVaultKey -VaultName $keyVaultName `
&gt;&gt;     -Name "myKey" `
&gt;&gt;     -Destination "Software"
Add-AzKeyVaultKey : Operation returned an invalid status code 'Forbidden'
At line:1 char:1
+ Add-AzKeyVaultKey -VaultName $keyVaultName `
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2019-07-01 09:21] angoyal-msft commented on #33939
@axthosarouris Could you please try using Authentication=ActiveDirectoryPassword without spaces if that works. In the meanwhile I am trying to repro this issue.

[2019-07-01 09:30] agresh07 opened #34284 "No $logs for Data Lake Storage Gen2"
The storage Analytics section mentions a $Logs container for logs. Data Lake Storage Gen2 does not seem to have any such containers, nor does it have a direct option on Azure portal to enable such logging. Not sure if I am missing anything here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 732eb4b2-7efe-02a0-b905-fe0

[2019-07-01 09:39] ram-msft commented on #34122
@theonlygusti You can use VI for speaker diarization. When you get the insights JSON, you can find speaker IDs both under Insights.transcript[0].speakerId as well as under Insights.Speakers. When dealing with audio files, where each speaker is recorded on a different channel, VI identifies that and applies the transcription and diarization accordingly. I hope this helps!

[2019-07-01 09:41] AmanGarg-MSFT commented on #34027
@tkumark Configure ApplicationInsightsProfiler as mentioned in the document and then add Application Insights to your Service Fabric application using the below documentation:

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-monitoring-aspnet
https://github.com/microsoft/ApplicationInsights-ServiceFabric

You don't need application insights configured in your sinkconf

[2019-07-01 09:41] #34027 closed

[2019-07-01 09:58] JulienAlbo opened #34285 "Pretty clear"
Doc is up to date and works perfectly. Thanks a lot &lt;3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb39c8bf-2709-c59d-94f8-6db76d21bcfb
* Version Independent ID: f7122c2c-ef68-95b6-2273-edbc4bb89464
* Content: [Tutorial: Azure Active Directory integration with Atlassian Cloud](https://docs.microsoft.com/en-us/azu

[2019-07-01 10:06] theonlygusti commented on #34122
@ram-msft what's VI?

And do you know of a method that works on single-channel files?

[2019-07-01 10:09] kaushik-hemant commented on #23526
@TravisCragg-MSFT Where I can raise issues related to az cli for front door?

[2019-07-01 10:10] agresh07 opened #34286 "No $logs for ADLS Gen2"
Hi.
Does "Configure logging" section apply to ADLS Gen2?
I have enabled logging but do not see any such "$logs" container.

It is mentioned that Azure Files does not support logging, but what about the blobs in ADLS gen2? Is there a way to track the "diagnostics logs for read, write, and delete requests for the blob" in ADLS Gen2?

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-07-01 10:13] DashleenBhandari-MSFT commented on #34181
@mattchenderson , Could you please take a look at the document and update accordingly.

[2019-07-01 10:14] msrini-MSFT commented on #34281
@OffColour , Thank you for posting here.

As of today, the probe behavior is as you stated. Probe will be sending Fin when the next probe was sent.

Here is a sample,

2335	9:07:39 AM 7/1/2019	37.2819736	System	168.63.129.16	ClientVm.contoso.com	TCP	TCP:Flags=CE....S., SrcPort=64912, DstPort=HTTP(80), PayloadLen=0, Seq=797880503, Ack=0, Win=8192 ( Negotiating scale factor 0x8 ) = 8192	{TCP:80, IPv

[2019-07-01 10:18] kaushik-hemant opened #34287 "Front door routing rule caching disabled option unavailable"
While creating routing rule through Az CLI, by default caching is enabled and there is no parameter to disable that. Can someone guide me through this?

[2019-07-01 10:22] lawrencegripper commented on #34204
Great, thanks look forward to it being fixed up :)

[2019-07-01 10:26] ram-msft commented on #34122
@theonlygusti  Please refer the following link for VI. https://docs.microsoft.com/en-us/azure/media-services/video-indexer/video-indexer-overview.
Can you elaborate more on your input samples?
Our Batch pipeline supports Diarization and is capable of recognizing two speakers on mono channel recordings.

[2019-07-01 10:29] OffColour commented on #34281
Thank you for forwarding on. This is completely insane behaviour and leads to my logs being filled with the servers terminating connections because the probe doesn't close them itself in a timely fashion.

[2019-07-01 10:32] SubhashVasarapu-MSFT commented on #34287
@kaushik-hemant, Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2019-07-01 10:33] kaushik-hemant commented on #34287
https://docs.microsoft.com/en-us/cli/azure/ext/front-door/network/front-door/routing-rule?view=azure-cli-latest#ext-front-door-az-network-front-door-routing-rule-create

[2019-07-01 10:36] RohitMungi-MSFT commented on #33944
@theonlygusti Do you mean that you are unable to get the SAS URI link for your blob container in azure storage account? A simple way to get the SAS URI for a container is to right click on the container from Azure Storage explorer and select "Get Shared Access Signature" and then copy the URL link.

[2019-07-01 10:44] jakaruna-MSFT commented on #34244
@roymeforever Thanks for reporting.
I am able to reproduce your issue.
Issue occurred because of the kiali configuration. As a workaround i disabled the auth on grafana and added the grafana url in kiali as shown in this [comment](https://github.com/istio/istio/issues/14335#issuecomment-506616644).

You can also add grafana username and password in the kiali configuration.
Try this out and let me

[2019-07-01 10:44] SubhashVasarapu-MSFT commented on #34228
@sepacheco, Thanks for your feedback. We have assigned this issue to the author for further investigation and to update the document appropriately. @cherylmc, Could you please provide your insights on this?

[2019-07-01 10:52] SubhashVasarapu-MSFT commented on #34171
@andyKalman, It looks like you are referring to VPN Docs. Instead please refer to Express route Docs where it was clearly mentioned to use gateway subnet with /27 or larger.
![image](https://user-images.githubusercontent.com/44890829/60430977-43155680-9c1c-11e9-92bc-52461a329ddd.png)
You refer to this [Doc](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-howto-add-gateway-portal-r

[2019-07-01 10:52] #34171 closed

[2019-07-01 10:59] jakaruna-MSFT commented on #34278
@dohughes-msft
Thanks for reporting it! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-01 11:01] PramodValavala-MSFT commented on #26312
@JonKragh Sorry for not getting back sooner. While APIM has [Managed Identity Support](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-use-managed-service-identity), it is currently limited to fetching certificates from Azure Key Vault.

Other scenarios will be supported in the future but no timeline exists as such.

[2019-07-01 11:02] RohitMungi-MSFT commented on #34276
@IshamMohamed Could you please try to [refresh the search index](https://docs.microsoft.com/en-us/azure/cognitive-services/content-moderator/try-terms-list-api#refresh-search-index) after the terms are added? I was able to replicate your issue and before I refreshed the search index, the scan did not have the new terms in the response but after the refresh the term was included.

**Before:**
![ima

[2019-07-01 11:14] GeethalakshmiG commented on #15134
Kindly raise the bug for us to resolve. This doesn't call out for documentation updates. Pl raise a support case if you can reproduce

[2019-07-01 11:35] SumanthMarigowda-MSFT commented on #33840
I'd recommend posting your question inhttps://social.msdn.microsoft.com/Forums/en-US/home?forum=windowsazuredata since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-01 11:35] #33840 closed

[2019-07-01 11:36] YASWANTHM-MSFT commented on #34286
@agresh07 , Thanks for the valuable feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-01 11:40] YASWANTHM-MSFT commented on #34286
@agresh07, Diagnostic logs aren't available for Data Lake Storage Gen2 accounts.

You can enable diagnostic logging for your Azure Data Lake Storage Gen1 accounts, blobs, files, queues and tables

[2019-07-01 11:40] jakaruna-MSFT commented on #34269
@TylerMSFT Please add your comments

[2019-07-01 11:45] DixitArora-MSFT commented on #34285
Hi @JulienAlbo Thank you for your feedback. If there are no further questions we will proceed to close this.

[2019-07-01 11:46] jakaruna-MSFT commented on #34280
@TEKAzure Thanks for the feedback.
Its actually mentioned in the [FAQ](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/faq-for-disks#new-disk-sizes-managed-and-unmanaged).

@kirpasingh Can we link the FAQ to this DOC. Please suggest

[2019-07-01 11:49] DixitArora-MSFT commented on #34283
Hi @chi-ltd Thank you for your feedback! We will review and update as appropriate.

[2019-07-01 11:51] DixitArora-MSFT commented on #34284
Hi @agresh07 Thank you for your feedback! We will review and update as appropriate.

[2019-07-01 11:53] DixitArora-MSFT commented on #34282
Hi @salviri Can you please share the documentation you are following.

[2019-07-01 12:03] jakaruna-MSFT commented on #34283
@chi-ltd The second script under thins [link](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/encrypt-disks#create-an-azure-key-vault-and-keys) is setting the value for `$keyVaultName`  .

I hope you are executing that script as well in the same shell.

You can verify the value of the `$keyVaultName`  by giving the variable name. It should have a value something like this(myKeyVaul

[2019-07-01 12:05] shyamag001 opened #34289 "First create the group, then assign members & owners after the group creation succeeds. To the customer, this would still look like one distinct operation."
I have received a complaint from the customer regarding the behavior of creating a group.
As shown in the screen shot below, on the screen to create a new group, assign Owners and members, click the Create button, global Administrator role If you work with someone other than no other users, the creation will fail.

If I create a group except the global Administrator role, I must create an empty gr

[2019-07-01 12:16] fhurta commented on #30235
Sorry for delay as I was under pressure to deliver the project..  Anyway, I created an issue in web jobs sdk (https://github.com/Azure/azure-webjobs-sdk/issues/2191) at time dealing with this issue. Meanwhile I got it work. WebJob runs with Managed Identity of the AppService, so your information on not supporting that by WebJobs is misleading a bit..

[2019-07-01 12:28] medavamshi opened #34290 "VM images at Management Group level"
It appears the vm images parameters has to be from one of the subscriptions.  I am trying to implement a policy at management group level ( that has multiple subscriptions) and would like to define the image with no dependency on subscription. Is this possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6b44c4f-dc

[2019-07-01 12:29] iqsarv opened #34291 "Could not install package 'Microsoft.Azure.Cosmos.Table 1.0.1'"
I am using CoreXT with .NETFramework,Version=v4.6 and use Nuget Package Manager to install Microsoft.Azure.Cosmos.Table 1.0.1 and I am getting the following error

**Severity	Code	Description	Project	File	Line	Suppression State
Error**		Could not install package 'Microsoft.Azure.Cosmos.Table 1.0.1'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.6', bu

[2019-07-01 12:45] #32414 closed

[2019-07-01 12:49] salviri commented on #34282
Hi,
actually I just noticed that it also doesn't really merge the data into one file. So I just updated the title. by documentation you mean the steps I do? it is very straight forward. All I do is written in the title

[2019-07-01 12:56] #33996 closed

[2019-07-01 12:57] JonKragh commented on #26312
@PramodValavala-MSFT thank you for the reply. What is the preferred method to lock down an App Service API (a container in my case) so that access must go through APIM?

[2019-07-01 13:04] PramodValavala-MSFT commented on #26312
@JonKragh You could just setup [IP restrictions](https://docs.microsoft.com/en-in/azure/app-service/app-service-ip-restrictions) on the app service with the [APIM instance's IP since its constant](https://docs.microsoft.com/en-us/azure/api-management/api-management-faq#is-the-api-management-gateway-ip-address-constant-can-i-use-it-in-firewall-rules).

[2019-07-01 13:20] chi-ltd commented on #34283
OK i managed to get this working

[2019-07-01 13:20] #34283 closed

[2019-07-01 13:22] chi-ltd opened #34294 "Error on second ps1 session"
Hi

Im struggling here with the second script.  Error:

New-AzVirtualNetwork : Cannot validate argument on parameter 'ResourceGroupName'. The argument is null or empty. Provide an argument that is not null or empty, and then try the command again.

+  $vnet = New-AzVirtualNetwork -ResourceGroupName $CHIRG05 -Location $ ...
+                                                  ~~~~~~~~
    + CategoryI

[2019-07-01 13:25] dwd2019 commented on #33748
Does the Security Center agent work on AKS nodes (considered as VMs) or do they work in a different way?

[2019-07-01 13:28] epierotto opened #34295 "Outdated az cli commands for cluster autoscaler"
Seems that now you need to use `az aks nodepool update`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077f1bb5-2ba9-490c-2c6e-0de292266539
* Version Independent ID: 0fd87b4f-88a4-c2eb-3ebc-f2b113ac203c
* Content: [Use the cluster autoscaler in Azure Kubernetes Service (AKS)](https://docs.microsoft.com/en-us/azure/aks/

[2019-07-01 13:30] salviri commented on #34282
this issue is somehow mentioned also here https://social.msdn.microsoft.com/Forums/en-US/845e551e-b72d-41a3-85f1-705bc2ec515b/mergefiles-copy-behavior-when-move-data-from-relation-database-to-blob-service?forum=AzureDataFactory

[2019-07-01 13:32] salviri commented on #34282
I also tried merging 2 parquet files in the azure data lake G2 but it didn't work

[2019-07-01 13:45] ishasahni1 commented on #33642
@keirokamioka0000 @snehagunda this Files has been localized and published live.

[2019-07-01 13:46] PramodValavala-MSFT commented on #34072
@CastleArg You could also log stream using [Azure CLI](https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring#azure-cli) or [PowerShell](https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring#azure-powershell) as documented.

Also, with logging enabled as @Z4chst3r mentioned, you can find logs under `LogFiles/Application/Functions/function/<function-name>/

[2019-07-01 13:47] salviri commented on #31166
Same here, we are very looking forward to this feature as well.

[2019-07-01 13:48] SumanthMarigowda-MSFT commented on #34284
@agresh07 Diagnostic logs aren't available for Data Lake Storage Gen2 accounts.

You can enable diagnostic logging for your Azure Data Lake Storage Gen1 accounts, blobs, files, queues
and tables
https://github.com/MicrosoftDocs/azure-docs/issues/34286

[2019-07-01 13:49] eXXL opened #34300 "Missing information about deploymentconfig.json"
I am trying to deploy a model using Azure CLI to a Azure Container Instance.

The documentation gives this sample:

`az ml model deploy -n myservice -m mymodel:1 --ic inferenceconfig.json
`
But this leads to an error:

`az ml model deploy: error: the following arguments are required: --deploy-config-file/--dc
`

What do I have to write into the deployment file to deploy my model to a ACI?
There is

[2019-07-01 13:49] PramodValavala-MSFT commented on #34123
@phatcher Yes. That does seem like a good way to handle this. You could open a feature request on the [repo](https://github.com/Azure/azure-webjobs-sdk) itself.

This repo is primarily to address doc issues and since there is no update required at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly

[2019-07-01 13:49] #34123 closed

[2019-07-01 13:49] DixitArora-MSFT commented on #34289
Hi @shyamag001 Thank you for your feedback! We will review and update as appropriate.

[2019-07-01 13:52] DixitArora-MSFT commented on #34291
Hi @iqsarv Could you please let us know the documentation you are following.

[2019-07-01 13:56] DixitArora-MSFT commented on #34290
HI @medavamshi Thank you for your feedback! We will review and update as appropriate.

[2019-07-01 14:00] YassineSOUABNI commented on #34065
@ManojReddy-MSFT, thank you for your feedback,

we have the same the question regarding
"**we highly recommend removing that state before enabling Hybrid Azure AD join**"
mentioned/found in  "**https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-azuread-join-plan#review-things-you-should-know**"

PCs were basicaly already "Azure AD registered" before being "Hybrid Azure AD Joine

[2019-07-01 14:12] MikeParker365 opened #34301 "FIPS-Mode Support Statement"
The following statement under "Review things you should know" states:

"Hybrid Azure AD is not supported for FIPS-compliant TPMs. If your devices have FIPS-compliant TPMs, you must disable them before proceeding with Hybrid Azure AD join. Microsoft does not provide any tools for disabling FIPS mode for TPMs as it is dependent on the TPM manufacturer. Please contact your hardware OEM for support."

[2019-07-01 14:20] drewf7 opened #34302 "Warning that iotedge strips underscores from hostnames"
Hello,

Recently we spent quite a bit of time debugging certificate authentication issues that ended up stemming from the fact that the iotedge framework seems to strip out underscores from device hostnames (at least in 1.7.1).

I'm wondering if this is something that might be a good fit to document here, perhaps under the "Production Implications" header with some of the other "gotchas".

---
###

[2019-07-01 14:26] PramodValavala-MSFT commented on #34253
@MatthewSteeples Thanks for catching that! The `autoDeleteOnIdle` property exists for python as well but if not specified, they are not deleted (or rather [set to the max value for C#](https://github.com/Azure/azure-sdk-for-net/blob/4bab05144ce647cc9e704d46d3763de5f9681ee0/sdk/servicebus/Microsoft.Azure.ServiceBus/src/Management/SubscriptionDescription.cs#L18)) which is how the tutorial creates th

[2019-07-01 14:29] larschristensen commented on #28969
@RohitMungi-MSFT I'm using the Python Speech SDK v1.6.0 for speech-to-text and it seems to work fine without word-level timestamps. However, I can't figure out how to get word-level timestamps working. I have been trying by setting

_speech_recognizer.properties.set_property(property_id=speechsdk.PropertyId.SpeechServiceResponse_RequestWordLevelTimestamps, value="True")_

but doing so I get the in

[2019-07-01 14:33] igomat commented on #34117
Any update on this issue?

[2019-07-01 14:33] jwargo commented on #33838
@xyfoo you're right, I've updated the docs.

#please-close

[2019-07-01 14:33] andybouts opened #34303 "Support RHEL"
Please support RHEL as quickly as possible.  OpenStack and AWS EC2 support automatical preconfiguration of RHEL.

Cloud-init will work for Centos at VM creation, but does not work for RHEL with the only change noted below:
(base) anbout@MLb523 ~/Downloads  =&gt;  diff centos.txt rhel.txt
3,4c3,4
&lt;   --name centosLatest \
&lt;   --image OpenLogic:CentOS-CI:7-CI:latest \
---
&gt;   --name rhelLat

[2019-07-01 14:33] #33838 closed

[2019-07-01 14:47] flozano-opsec opened #34304 "Screenshot corrections"
It looks like steps 6b and 6c screenshots show the wrong values for the destination folders

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db8d9a9f-b501-2cde-8131-7ac53e200531
* Version Independent ID: 8e081a14-460d-eb90-bc88-71d53874261f
* Content: [Using Azure Data Factory to incrementally copy new files only based o

[2019-07-01 14:49] jlpedrosa commented on #10953
+1

[2019-07-01 14:53] ram-msft commented on #34300
@eXXL Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-07-01 14:57] AmanGarg-MSFT commented on #34111
@chetan-makvana

1. For directly ingesting data into an Application Insights instance, you will still have to go with the document that you have mentioned. Azure Monitor for containers will not ingest your microservice application logs to application insight but it will ingest them into a logs store associated with your Log Analytics workspace. Then you can search the logs to analyse the data:

ht

[2019-07-01 14:57] #34111 closed

[2019-07-01 15:02] Fmstrat commented on #15932
@SaurabhSharma-MSFT I would like to request this being reopened. Without a just in time solution via the az CLI it is impossible to script securely from bash.

Could a sample be provided for direct API use similar to what is in https://gallery.technet.microsoft.com/Automating-Azure-Just-In-e7e1a13b ?
[code]

[2019-07-01 15:08] SumanthMarigowda-MSFT commented on #33909
@KeiroKamioka0000 Billing and Subscription team would be the best to provide more insight and guidance on this scenario: https://azure.microsoft.com/en-us/support/options/ it's free, and it's the best choice for you.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen

[2019-07-01 15:08] #33909 closed

[2019-07-01 15:13] theonlygusti commented on #33944
@RohitMungi-MSFT when I right-click I only get my browser's context menu.

[2019-07-01 15:21] jasonfare opened #34306 "Definition of Stamp"
Under Converting to ZRS replication, there are a few mentions of a stamp, but no definition.  This is also unclear in the AZ300.1 training about ZRS and Stamps.  Would like clarification as to what is meant by the term "stamp"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b2f8dc6-6b57-e404-c8e3-a3325a192a2d
* Version

[2019-07-01 15:25] Runamok81 commented on #33938
Just ran into the same issue.  Did the tutorial, only to learn I have to run as admin to include kubeconfig on the path.  Can we update the documentation?

[2019-07-01 15:27] larschristensen commented on #28969
In case someone has the same problem, I found the function _speech_config.request_word_level_timestamps()_, which enables the word-level timestamps, and that operation seems to work as expected.

[2019-07-01 15:35] Karishma-Tiwari-MSFT commented on #34295
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-01 15:42] stevebus commented on #34302
thanks @drewf7 for the heads up.  i wasn't aware it did that (but I never use underscores :-))..  just to confirm, the problem is if you use underscores where?  in the hostname property in config.yaml?  in the name passed into the cert creation script?  in the name of the edge machine itself?  just want to confirm I warn about the right one.

[2019-07-01 15:42] Karishma-Tiwari-MSFT commented on #34303
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-01 15:47] Archehandoro commented on #22223
Sorry to hear that! Yeah, by syncing if the user to be provisioned isn't on SF then the account gets created. If the account exists, and something has changed, it gets updated. I should have specified that better in my previous comment.

Within the "Users and groups" of the Salesforce app in Azure AD, did you add all the org?

[2019-07-01 15:49] cherylmc commented on #34228
#assign:charwen

[2019-07-01 15:49] RohitMungi-MSFT commented on #33944
@theonlygusti Azure [Storage explorer](https://azure.microsoft.com/en-in/features/storage-explorer/) is a desktop client which enables you to easily upload and view files from various storage accounts. Please take a look at the link and download it for free.

[2019-07-01 15:54] charwen commented on #34228
"CenturyLink Cloud Connect" is a new product offered by the now combined company of CenturyLink and Level 3. It's the product for the long term. New locations will be enabled for this product only in the future. HTH.

[2019-07-01 15:59] kd2eom opened #34308 "Raspbian Buster?"
Does Azure IoT Edge support Raspbian Buster and the Raspberry Pi 4?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf820bbb-9fc6-2037-6d72-c63192763ed6
* Version Independent ID: b0c7e11b-3741-15f6-58e7-8529d492af47
* Content: [Supported operating systems, container engines - Azure IoT Edge](https://docs.microsoft.com/e

[2019-07-01 16:03] YutongTie-MSFT commented on #33966
@nacharya1 Hi, from my end I don't think we can do this. Could you please help to check if there any plan from product end? Thank you very much.

[2019-07-01 16:05] YutongTie-MSFT commented on #33931
@yodobrin
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-07-01 16:05] #33931 closed

[2019-07-01 16:06] YutongTie-MSFT commented on #33944
@theonlygusti
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-07-01 16:06] #33944 closed

[2019-07-01 16:10] nacharya1 commented on #31975
Correct, simple DNNs. We are reviewing our documentation to make this clearer moving forward. Thanks for following up.

From: Sebastian <notifications@github.com>
Sent: Monday, July 1, 2019 12:33 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Nilesh Acharya <nilesha@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] No DNN models? (#31

[2019-07-01 16:16] nacharya1 commented on #33966
@Sabina Cartacio<mailto:Sabina.Cartacio@microsoft.com> can you look into this please?

From: YutongTie-MSFT <notifications@github.com>
Sent: Monday, July 1, 2019 9:04 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Nilesh Acharya <nilesha@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] How to unwrap azure model and convert it to its

[2019-07-01 16:16] jonwbstr opened #34310 "The "etc" in (IMAP, SMTP, POP3, etc.)"
According to the article below, Legacy authentication is IMAP,SMTP,POP3 and older office clients that do not use modern authentication. Is there more to that "etc" than one other item?

https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/howto-baseline-protect-legacy-auth

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-07-01 16:18] YutongTie-MSFT commented on #33362
@ckarras
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-07-01 16:18] #33362 closed

[2019-07-01 16:21] YutongTie-MSFT commented on #33182
@trevorbye Thank you.

@samflynn
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-07-01 16:21] #33182 closed

[2019-07-01 16:22] FrankHu-MSFT commented on #34301
@MikeParker365 Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-01 16:23] #34285 closed

[2019-07-01 16:24] Adam-Smith-MSFT commented on #34306
@jasonfare Thanks for posting. A stamp is a cluster of servers in a data center, think of it as groups of racks containing servers within an Azure Data Center. Let me know if this helps.

[2019-07-01 16:26] FrankHu-MSFT commented on #34289
@shyamag001 Hey Shyamag, it looks like there's no screenshot in your git issue, also it looks like the issue has been resolved? If so, please let us know and we will proceed to close out this issue.

In addition to that, if it doesn't take up too much of your time, please let us know what resolved your issue and that would be beneficial to us to see if there's anything we can add to make things cl

[2019-07-01 16:31] Adam-Smith-MSFT commented on #34239
@DarkNoir Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-01 16:35] FrankHu-MSFT commented on #34310
@jonwbstr Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-01 16:35] ashjain commented on #34097
@joeakim Do you see a prompt requesting access to clipboard API by the website?   Can you please flush that from your browser settings and try again?  Once you flush, please follow the steps here - https://docs.microsoft.com/en-us/azure/bastion/bastion-vm-copy-paste

[2019-07-01 16:36] jasonfare commented on #34306
Thanks... I've been doing Azure for a few years and hadn't seen the term stamp... I found an article on a NetApp site (https://cloud.netapp.com/blog/azure-storage-behind-the-scenes) explaining a stamp and it sounds just like how MSFT describes a Zone on the compute side of the house.  Is there a clear difference between a zone and a stamp that we should know about or are we good understanding that

[2019-07-01 16:36] stevemorris1106 opened #34312 "FHIR - Support groups RBAC to FHIR"
I ran into a couple issues while getting permissions for this up an running. One was the realizing in order to actually get data into or out of the FHIR server you have to provide the objectID of a user or service principal only, there is no support for groups here even though the documentation suggests otherwise. You can use groups to get into Azure but the hosted version of the FHIR server, only

[2019-07-01 16:36] jasonfare commented on #34306
@Adam-Smith-MSFT ...and thank you for the quick response!

[2019-07-01 16:37] FrankHu-MSFT commented on #34263
hey @Girishvtm it looks like you're referring to this doc : https://docs.microsoft.com/en-us/powershell/module/azuread/new-azureadmsgroup?view=azureadps-2.0

Per the code :
[code]

Per the doc here : https://docs.microsoft.com/en-us/powershell/azure/active-directory/install-adv2?view=azureadps-2.0

Please utilize the general availability one as the preview one is not meant to be in full working or

[2019-07-01 16:44] FrankHu-MSFT commented on #34310
@jonwbstr It sounds like you're asking for all the older office clients that do not use modern auth, is that right?

Only Outlook 2013 and on have modern auth.

If it's before 2013 then it does not have modern auth and thus is included in the "Etc" category.

Per the article :
https://docs.microsoft.com/en-us/exchange/clients-and-mobile-in-exchange-online/enable-or-disable-modern-authentication-in

[2019-07-01 16:45] FrankHu-MSFT commented on #34310
@jonwbstr Please let us know if there are anymore questions otherwise I will be closing out this github issue by end of day today,

[2019-07-01 16:46] stevemorris1106 opened #34313 "FHIR - Client Credential Grant Type"
Is the "Client Credentials" grant type for obtaining an access token supported in Microsoft Hosted FHIR? It looks like on the FHIR server, it is using either a "user" or "service principal" to authenticate to the resource, but in a Client Credentials work flow, this is not provided only the Client ID and Client Secret of the Application Registration in Azure AD.

I tried add the object ID of the a

[2019-07-01 16:55] Adam-Smith-MSFT commented on #34306
@jasonfare there is a difference between zones and stamps, so actual stamps are within data centers, multiple data centers would constitute a Zone(Availability Zone). There's a good doc explaining stamps architecture(storage specific, but is the same as the other Azure services) [Here](https://blogs.technet.microsoft.com/denisrougeau/2016/06/11/understanding-vm-availability-in-azure/)
When it come

[2019-07-01 16:58] FrankHu-MSFT commented on #34301
@MikeParker365 It looks like this may be a typo, but does the word join affect what the sentence is trying to convey?

Does saying the word "Hybrid Azure AD" instead of "Hybrid Azure AD Join" make it seem like it's referring to a different product?

For example : if there is a device joined to Hybrid Azure AD and the device has FIPS-Compliant TPMs, then the product Hybrid Azure AD Join in turn is

[2019-07-01 16:59] jasonfare commented on #34306
@Adam-Smith-MSFT That works for me and my team.  Looks like we need to update the HCF slides again to include this term.

Thanks again!
-Jason

[2019-07-01 16:59] #34306 closed

[2019-07-01 17:05] MicrosoftGuyJFlo commented on #34301
@MikeParker365 Its a typo. Needs to have join in there.

Feel free to propose an edit or I can try and get to it later today.

[2019-07-01 17:09] drewf7 commented on #34302
@stevebus I would say in general? It's getting stripped out of the config.yaml.

The exact problem we encountered was that we created an iotedge device with a hostname equivalent to "test_device_1" and added it as such in both the config.yaml and iot hub. We then generated a cert for "test_device_1" which failed with a generic TLS Authentication Error.

In testing we found out that at some point i

[2019-07-01 17:10] drewf7 commented on #34302
I think the issue has more to do with a mismatch in device vs iothub. Because I believe the generation script already appends _ca to the device hostname in order to avoid a different issue.

[2019-07-01 17:15] CeciAc opened #34315 "Storage Class for Allways on"
@Cedric-Bravo commented on [Mon Jul 01 2019](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/485)

Hi,
I'm surprised to see RA-GRS blob storage for the cross AZ scenario.
Did you want to mention ZRS ?

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: 15036ef6-9c0b-044e-d600-b9f90f039720
* Vers

[2019-07-01 17:16] CeciAc commented on #34315
Hi team,
I'm moving this here because the contributor's comment is refering the original documentation
kind regards

[2019-07-01 17:19] spelluru commented on #33806
#reassign:clemensv

[2019-07-01 17:20] Adam-Smith-MSFT commented on #34238
@aceycv8 I'd recommend posting in Forums either in [MSDN](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=windowsazuredata) or in [stackoverflow](https://stackoverflow.com/) since this issue is not specifically related to the document. We will follow up with you as soon as your request is posted on forums.
We will now proceed to close this thread. If there are further questions reg

[2019-07-01 17:20] #34238 closed

[2019-07-01 17:21] tfitzmac commented on #34272
@aquibqureshi26 - there is not currently a PowerShell command for validating the move. It is only available through REST.

The storage limitation for multiple regions has been fixed. Are you still experiencing a problem with that?

[2019-07-01 17:21] spelluru commented on #33395
#assign:banisadr

[2019-07-01 17:22] spelluru commented on #32661
#assign:banisadr

[2019-07-01 17:22] dlepow commented on #34273
@msghaleb - Thanks very much for the feedback. You are correct: the article is actually about limiting access to an ACR from specific networks/addresses, not deployment. I will update that intro paragraph along the lines you and @msrini-MSFT suggest.
#in-progress

[2019-07-01 17:26] aquibqureshi26 commented on #34272
not recently, but few months back I faced this and I added this in my checklist before migration. It's nice to hear that it is fixed.

I would have to rely on the rest api. Can we exclude few resources from resource group and then validate? I've 100+ resources and wanted to exclude few of those and then validate it. how can i achieve it.

[2019-07-01 17:26] radheyshah opened #34317 "Confusing comments in the first paragraph"
The first paragraph in the article is little confusing (copied below). Is PoA required for non-Azure hosted clusters, or not?

"the Patch Orchestration Application (POA) is a wrapper around Service Fabrics RepairManager Systems service that enables configuration based OS patch scheduling for non-Azure hosted clusters. POA is not required for non-Azure hosted clusters, but scheduling patch installa

[2019-07-01 17:30] aquibqureshi26 commented on #34144
Hi,

just following up to see any update.

[2019-07-01 17:35] #33197 closed

[2019-07-01 17:41] ranjanp opened #34318 "Clarification required on activities with multiple dependencies"
Activities will run only if all of their dependency conditions are met. So, if an activity C depends on two activities A,B failing, both activities will need to fail for the activity C to run. If you want either failure to trigger your activity, you'll need to either have separate failure activities or use an Execute Pipeline on your entire pipeline and have it's failure trigger your activity. Thi

[2019-07-01 17:50] clemensv commented on #33806
We distinguish between events and messages. Messages are not a superclass of events and commands in our nomenclature. We might not align with that book, but I also don’t think that the books enumeration is complete

[2019-07-01 17:54] gotgenes opened #34319 "Obtaining tokens for Azure App / Functions App with Managed Identity"
This article covers how an app can authenticate itself to obtain a token to another resource, but how can other apps or users obtain a token for the app, itself? For example, where can I find the Application ID URI for an app with a Managed Identity, so I can use it in the `scope` parameter when requesting a token?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-07-01 17:57] MicahMcKittrick-MSFT commented on #33730
@iainfoulds @seanmck any chance either of you have any thoughts on this one?

[2019-07-01 17:57] MicahMcKittrick-MSFT commented on #33981
@roygara any update on this?

[2019-07-01 17:59] mike-urnun-msft commented on #34294
Hello @chi-ltd Thank you for your feedback! Since this is a channel for driving improvements towards MS Docs, could you reference the URL of a specific documentation that you were following? That way, we're able to connect you with the right team that can assist you better :)

[2019-07-01 18:01] MicahMcKittrick-MSFT commented on #34243
@hbulens thanks for reaching out. The scope of this question is a bit outside of what we can do in a doc comment. We generally use this channel for fixing doc bugs or doc enhancements.

For assistance with the setup you are trying to achieve, I suggest you reach out to our Support Channels such as MSDN or Stack Overflow

https://social.msdn.microsoft.com/Forums/en-US/home?forum=ssdsgetstarted

htt

[2019-07-01 18:01] #34243 closed

[2019-07-01 18:04] MicahMcKittrick-MSFT commented on #34317
@radheyshah no POA is not a requirement when using non-Azure hosted clusters as the comment mentions. However, if you want to ensure you are able to patch your cluster without downtime you would need to make sure to update the nodes one upgrade domain at a time so at least a single cluster remains active while the others are updating.

Personally, I find using POA makes patching simpler and ensure

[2019-07-01 18:06] DanniJuhl opened #34320 "Add step 6 with Log Analytics examples"
One possible improvement, could be to add a step 6, and give a concrete example on how to retrieve data from the ContentData_records_s column, seeing as it's an array of json objects, it can be pretty messy for a newcomer to Log Analytics.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b70bc73-e0ce-a558-bf66-c02577859

[2019-07-01 18:08] Mike-Ubezzi-MSFT commented on #34315
Thank you for bringing this to our attention. Depending on the service tier your Azure SQL Database is deployed, Basic, Standard, and General Purpose service tier leverage LRS (Locally Redundant Storage) as there is no Geo-Replication occurring (See [Image](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-high-availability#basic-standard-and-general-purpose-service-tier-availabilit

[2019-07-01 18:10] mike-urnun-msft commented on #34313
Hello @stevemorris1106  Thank you for your feedback! Since this is a channel for driving improvements towards MS Docs, could you reference the URL of a specific documentation that you were following? That way, we're able to connect you with the right team that can assist you better :)

[2019-07-01 18:11] mike-urnun-msft commented on #34312
Hello @stevemorris1106 Thank you for your feedback! Since this is a channel for driving improvements towards MS Docs, could you reference the URL of a specific documentation that you were following? That way, we're able to connect you with the right team that can assist you better :)

[2019-07-01 18:12] Anmolgan81 opened #34324 "Can We add a Azure Managed Instance into AG group?"
We have a customer who wants a contingency plan if the migration to azure managed instance fails to handle 1000 users and there are performance issues with this, since Business Critcal SKUs are a No go here as the customer has over 6 TB of database, what will be the best contingency plan that can work in this scenario, if the customer wants to reuse the AG group again?

---
#### Document Details

[2019-07-01 18:15] Anmolgan81 commented on #34275
What if we need to add a managed instance into AG group of a VM and then should down the existing VMs and use managed instance altogether?

[2019-07-01 18:16] TylerMSFT commented on #34269
I no longer work on AKS. #reassign:mlearned

[2019-07-01 18:31] nadimabdo opened #34325 "Incomplete sentence flow --"
The first section above has a sentence not in context : "Returning tokens via browser redirects directly from the authorization endpoint. "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07eb21a8-9fd1-4cb6-3a08-c3fe6a6115ad
* Version Independent ID: 24f74ebb-3559-006d-dbde-b18a8b9e28fe
* Content: [Understanding the OAu

[2019-07-01 18:31] stevemorris1106 commented on #34313
https://docs.microsoft.com/bs-latn-ba/azure/healthcare-apis/access-fhir-postman-tutorial
This is the only section of the doc that kind of gets you going with making requests. The use case here is dev needs to connect to the fhir server non-interactively I would assume using a service principal (which I got working from command line using Azure CLI, but not able to from Postman). The Client Credent

[2019-07-01 18:33] stevemorris1106 commented on #34313
https://docs.microsoft.com/bs-latn-ba/azure/healthcare-apis/find-identity-object-ids

This article lists that you need to add id's from user or apps, but nowhere does it explicitly say you can't use groups. When I read RBAC and since this is enterprise I started turning the wheels trying to get group authentication working.

[2019-07-01 18:33] stevemorris1106 commented on #34312
https://docs.microsoft.com/bs-latn-ba/azure/healthcare-apis/find-identity-object-ids

This article lists that you need to add id's from user or apps, but nowhere does it explicitly say you can't use groups. When I read RBAC and since this is enterprise I started turning the wheels trying to get group authentication working.

[2019-07-01 18:34] stevebus commented on #34302
Thanks for the clarification above..  makes sense.  I'll check with engineering and see if it's purposeful, or a bug.  And clarify in the document if needed.  Appreciate the feedback and clarifying answers

[2019-07-01 18:34] Karishma-Tiwari-MSFT commented on #34163
@AlexImray Is there any update? Did the suggestion in the comment above help?

[2019-07-01 18:35] theonlygusti commented on #33944
@RohitMungi-MSFT but is it possible without using storage explorer? seems wasteful to download a whole app just to get this uri, which should be provided through some api somewhere anyway

[2019-07-01 18:37] dianelin98 opened #34326 "Undefined symbols for architecture arm64"
I'm at the very last part of the article where it is deploying the device. I'm on version 10.2.1 of Xcode and used the .NetCore 2.2.300 version. I am building on an iPhone X. My build fails and it tells me that there are 100 undefined symbols for the arm64 architecture. Is there a library that I can add to fix this issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-07-01 18:39] craigshoemaker commented on #33576
This isn't necessarily a DI issue, but @brettsam can you please add your perspective here, please?

[2019-07-01 18:40] Adam-Smith-MSFT commented on #34225
@vinapp no worries,
4. it doesn't seem to be supported, at least in the documentation for Event Hub , storage is not included as an example [here](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-logs-stream-event-hubs) , I'd recommend posting there for an exact answer from the service owners.

5. we don't have an ETA for when it will be supported , i would recommend postin

[2019-07-01 18:40] Karishma-Tiwari-MSFT commented on #34206
@SharvariN-Lab58 It looks like your issue is not related to the existing azure documentation.
The scope for these doc issues is to help identify gaps and issues with the documentation.

Since your issue is about troubleshooting the error you are seeing, I would recommend opening a post on  [MSDN](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=AzureCognitiveService) or [Stack Overf

[2019-07-01 18:41] CasperTDK commented on #32391
@TravisCragg-MSFT Perhaps I am getting the same issue. I have a single backend pool which sometimes fails, and then I recieve a custom error instead of the user being routed to the failing backend pool. The error is
"Request cannot be served." Http status code: 504
x-azure-ref: 04lIaXQAAAADjoGPnlFzWQq23srfgqdJ0U1RPRURHRTA4MTIAYWMyOGM4ZjAtYmMyOS00ZGE3LTllNzQtODc5ODE2MWQ1YTY4

[2019-07-01 18:44] SnehaGunda commented on #33642
@KeiroKamioka0000 the doc is localized, we will close the issue now.

#please-close

[2019-07-01 18:44] #33642 closed

[2019-07-01 18:46] KranthiPakala-MSFT commented on #34318
@ranjanp Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2019-07-01 18:48] craigshoemaker commented on #32962
@fabiocav - can you please comment on what's possible here?

[2019-07-01 18:49] Karishma-Tiwari-MSFT commented on #34075
@vikancha Need your help confirming on this. Thanks :)

[2019-07-01 18:56] craigshoemaker commented on #31033
@marctalary - What project type are you using? Any Azure Functions project already includes a reference to this package by default

cc: @fabiocav, @brettsam

[2019-07-01 19:04] tomkuijsten commented on #30656
I've run into the same issue. The sample provided by @abiabsurd  is better, but still prone to problems (eg the Fail state is not taken into account here). I would really like a sample where this pattern is implemented in a real world scenario.

[2019-07-01 19:33] DKiefer770 opened #34331 "Good information, but if the Organization doesn't give me access, I can't get rid of myself..."
I now see this organization in my list of Teams until they agree to remove me, assuming they even know how.  I am at their mercy!  Microsoft should provide a way for lowest-level role "guest" accounts to submit a a request to have themselves removed from remote organization's Azure AD so that we can effectively Op Out of teams we no longer want to be part of...

---
#### Document Details

⚠ *Do no

[2019-07-01 19:40] joselw-ms opened #34332 "No DocumentClient constructor takes consistencyPolicy"
This line: documentClient = new DocumentClient(new Uri(endpoint), authKey, connectionPolicy, consistencyPolicy);

Doesn't work. That DocumentClient constructor doesn't exist.
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.documents.client.documentclient.-ctor?view=azure-dotnet

It works only if you pass consistencyLevel.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-07-01 19:41] tristanbarcelon commented on #33881
Hi @kgremban Thank you for the follow up. I am running this on an on-premise Ubuntu Server 18.04.2 VM that also happens to be joined to our Active Directory.

Now that I think about it more, what are the expectations for the user running the commands for installing iotedge on linux? Should we be logged in and executing these commands as the user whose account will then be used to create the entrie

[2019-07-01 19:42] MarileeTurscak-MSFT commented on #34118
@andreassten

@MicrosoftGuyJFlo got an update from the PG and that this still is not working in 1803. So when a fix is released and the release notes are updated the FAQ will be updated in turn.

[2019-07-01 19:45] MicrosoftGuyJFlo commented on #34118
See public PR https://github.com/MicrosoftDocs/azure-docs/pull/34116 for note from PG

[2019-07-01 19:47] axthosarouris commented on #33939
@angoyal-msft I will do that. Would it be helpful if I published the .csproj file?

[2019-07-01 19:51] radheyshah commented on #34317
Thank you @MicahMcKittrick-MSFT for the clarification. The wording and punctuation in that paragraph is confusing - so it would be good to update the documentation to provide the clarity you just provided.

[2019-07-01 19:51] #34317 closed

[2019-07-01 19:53] snyder-riley-pfg opened #34334 "Updating Custom Role Process Is Wrong"
When updating a custom role, this page says to use `az role definition list` to grab the role, then makes changes, then `az role definition update` to update. The problem is that the `list` action returns the wrong json schema. For me it returns:
[code]

When for example, adding a scope here, and then using the update command I get `Invalid role definition. A valid dictionary JSON representation i

[2019-07-01 20:06] kumarallamraju opened #34335 "Following the syntax on the docs spits a warning.. We may need to correct the syntax"
[Enter feedback here]
kumar@Azure:~$ az eventgrid event-subscription create \

Argument 'resource_id' has been deprecated and will be removed in version '2.1.0'. Use '--source-resource-id' instead.
If the provided endpoint does not support subscription validation handshake, navigate to the validation URL that you receive in the subscription validation event, in order to complete the event subscrip

[2019-07-01 20:16] BharathNimmala-MSFT commented on #34245
@BadaBharathi - The doc should be fixed now, we are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation. Thanks

[2019-07-01 20:16] #34245 closed

[2019-07-01 20:22] HarrisburgUSysAdmin opened #34337 "Alternate Email Address and MFA"
We often have faculty members who travel abroad and do not have access cell phone coverage.  It looks like email is not an option for MFA only SSPR.  What do you suggest in this situation?  Can I ask why email is not available with MFA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8f14188-98ec-5c94-f408-162ee1baa076

[2019-07-01 20:24] Cedric-Bravo commented on #34315
Hi thanks a lot for the reply,
I still don't understand why you need "Read Access - Geo-Redundant Storage" for Allways on cluster since the cluster nodes need RW access to storage and the cluster operate into the same region (and RA-GRS is region replication).
Why did you configure Region replication ? There is no node to read the data since they are into the same region ? [image here](url)

[2019-07-01 20:30] Mike-Ubezzi-MSFT commented on #34324
@Anmolgan81 Thank you for bringing this to our attention. Does the customer have a performance and load testing plan to ensure that a contingency plan is not necessary? Additionally, Azure SQL Managed Instance is similar to the Premium and Business Critical service tier for Azure SQL Database, so the underlying layout of SSDs with RA-GRS is supported but, I am not completely clear of what is being

[2019-07-01 20:41] YutongTie-MSFT commented on #34034
@jhakulin Hi Jarno, could you please help us to check this issue? Thank you

[2019-07-01 20:43] Cedric-Bravo commented on #34315
Ok, i think got it... the RA-GRS is for backup file not database and log !
In prenium and Business critical service tiers, database file are stored in local SSD.
Correct ?
(The article is a bit confusing, maybe need to place the database file on the schema)

[2019-07-01 20:47] femsulu commented on #34334
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-07-01 20:48] femsulu commented on #34320
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-07-01 20:50] TravisCragg-MSFT commented on #23526
@kaushik-hemant If the issue is directly with the CLI, your best place to raise the issue is the [Azure CLI GitHub repo](https://github.com/Azure/azure-cli/issues). If the issue is with this doc, you can create a new issue at the bottom of this page.

if the issue lies more with Front Door itself, you can raise the issue on this page or on the [MSDN Networking Forums](https://social.msdn.microsoft

[2019-07-01 20:54] Karishma-Tiwari-MSFT commented on #33988
@ChristianMontoya Did you get a chance to take a look at this customer's question? Thanks :)

[2019-07-01 20:55] TravisCragg-MSFT commented on #32391
@CasperTDK your best bet in your case is to follow up with Azure Support. If you do not have a support plan, please let me know!

[2019-07-01 20:57] TravisCragg-MSFT commented on #34114
@whut @rdefreitas we are working to get this functionality back to the portal, and apologize for any inconveniences that have happened!

[2019-07-01 20:58] TravisCragg-MSFT commented on #34043
@JeffJerousek We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-01 20:58] #34043 closed

[2019-07-01 21:02] Anmolgan81 commented on #34324
Customer cannot perform a load testing as It involves 1000 customer and this is something tha needs to be looked at when we perform a cutover using DMS online migration, customer cannot go for business critical service tier as they have storage capacity of 6TB and business critical does not support that yet.

What the customer is asking is for a backup plan only if the azure managed instance fails

[2019-07-01 21:03] TravisCragg-MSFT commented on #34038
@pleska the full screen options will be added in the future.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-01 21:03] #34038 closed

[2019-07-01 21:03] TravisCragg-MSFT commented on #33962
@medavamshi We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-01 21:03] #33962 closed

[2019-07-01 21:15] Mike-Ubezzi-MSFT commented on #34324
@Anmolgan81 Highly suggest that you look into the following product. 1000 user test load test is a piece of cake for [this](https://www.microfocus.com/en-us/products/silk-test/overview) product.

[2019-07-01 21:17] jhakulin commented on #34034
Hi,

Currently Conversation Transcription service expects input audio format 16kHz, 16bit, 8 channel PCM for transcription. For voice enrollment, input audio format is 16kHz 16bit mono PCM.

For conversation transcription scenarios, you shall use some circular multi-microphone device (e.g. ROOBO devkit) to record conversations and then feed 8-channel audio input stream to Conversation Transcriptio

[2019-07-01 21:23] njbuch commented on #34308
Or even Buster on older devices?

I have tried and I am getting a libssl.so.1.0.2 cannot open shared object file...

[2019-07-01 21:27] Mike-Ubezzi-MSFT commented on #34324
In short, no option here. Have you looked at Azure SQL Hyperscale ([link](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-service-tier-hyperscale#who-should-consider-the-hyperscale-service-tier)), as it is a better solution for your customer.

[2019-07-01 21:33] CastleArg commented on #34072
@Z4chst3r cheers that's just what I was looking for!
@PramodValavala-MSFT cheers but you still don't quite get I'm running locally, so the streaming docs linked don't quite apply.
As for files in file share, they are there for my azure hosted functions but nothing shows up when I use "AzureWebJobsStorage": "UseDevelopmentStorage=true" locally.
The temp files should keep me going for now, cheers fo

[2019-07-01 21:36] Karishma-Tiwari-MSFT commented on #34190
@roymeforever Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-01 22:22] PatrickFarley commented on #24006
I've updated the references in the docs.
#please-close

[2019-07-01 22:22] #24006 closed

[2019-07-01 22:23] SeaDude opened #34342 "POST Closest Point No Longer Working?"
## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page creates an issue that contains all the article details so you can focus on the feedback part.

* **I don't see a "Give Feedback" area in the POST Closest Point docs page.**

You can also create a feedback issue here in the repo. If yo

[2019-07-01 22:32] KeiroKamioka0000 commented on #34070
@SadiqhAhmed-MSFT
Hello.
Our client is planning to create the custom role for Azure Backup Instant Restore.
Since this snapshot will may create new resource group, does user who create/restore from the Snapshot require the access to the resource group where the Snapshot is???

[2019-07-01 22:38] imtiazh opened #34343 "Can you please provide a link for the "Try-it" option for REST API."
Can you please provide a "Try-it" option for the "By using REST API" section of this article?
https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-move-resources#move-resources
E.g.
https://docs.microsoft.com/en-us/rest/api/resources/Resources/MoveResources#code-try-0
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-07-01 22:41] mike-urnun-msft commented on #34326
Hi @dianelin98 Thank you for your feedback! We will review and update as appropriate.

[2019-07-01 22:41] larryeby opened #34344 "Why not a scheduler function?"
Wouldn't a better use case for this pattern be a scheduler trigger? You already have access to them because you're using Azure Functions, so I'm surprised that isn't mentioned here. This would also be a bad pattern because you have to initially queue the durable task anyways, which defeats the purpose. If it needs to run eternally, it shouldn't need to be triggered when your app loads up. This is

[2019-07-01 22:43] mike-urnun-msft commented on #34304
Hi @flozano-opsec Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-07-01 22:45] mike-urnun-msft commented on #34308
Hi @kd2eom Thank you for your feedback! We will review and update as appropriate.

[2019-07-01 22:46] mike-urnun-msft commented on #34342
Hi @SeaDude Thank you for your feedback! Since this is a channel for driving improvements towards MS Docs, could you reference the URL of a specific documentation that you were following? That way, we're able to connect you with the right team that can assist you better :)

[2019-07-01 22:54] mike-urnun-msft commented on #34344
Hey @larryeby Thank you for your feedback! We will review and update as appropriate.

[2019-07-01 23:03] julieMSFT commented on #27804
@gunnarcms Thank you for the detailed explanation of this issue. I will work with the author to reduce the time to run this tutorial.

[2019-07-01 23:06] SeaDude commented on #34342
Hi there @mike-urnun-msft , its right there in the OP. Second bullet.

[2019-07-01 23:18] SeaDude commented on #34342
After troubleshooting a while, I believe I figured out the issue:
- The documentation should NOT have...

[code]
... on the front end of the POST body.

The final `}` should also be removed to produce valid JSON.

[2019-07-01 23:21] Grace-MacJones-MSFT commented on #34319
Hi @gotgenes, thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2019-07-01 23:24] SeaDude commented on #34342
I want a pony and a raise

[2019-07-01 23:25] #34342 closed

[2019-07-01 23:25] SeaDude commented on #34342
PS. Here is a geojson linter to help out in the future: http://geojsonlint.com/

[2019-07-01 23:25] Adam-Smith-MSFT commented on #34335
@kumarallamraju Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-01 23:27] SeaDude commented on #34342
PPS, I had Microsoft Flows running based on the Azure Maps Docs so either:
1. The API Schema changed and the docs didn't keep up OR
2. The docs changed
Since there is no edit date [on the docs](https://docs.microsoft.com/en-us/rest/api/maps/spatial/postclosestpoint), I can't tell which is which.

[2019-07-01 23:30] hansenms commented on #34313
Hi @stevemorris1106, we have been trying to reach out to you on email and phone using the contact information available in connection with the service ticket you filed. The email address does not work and nobody picks up the phone.

Using client credentials is definitely possible. If you want to see an example of a demo environment that does that look here: https://github.com/microsoft/fhir-server

[2019-07-01 23:35] hansenms commented on #34312
@stevemorris1106, we don't support groups at the moment. We are working on expanding our RBAC model but as of right now, it is not supported.

#please-close

[2019-07-01 23:35] #34312 closed

[2019-07-01 23:36] tesych commented on #34146
Hi @sagz, thank you for the feedback! I will add that information to the article. You can access all 7 channels independently if needed.

[2019-07-01 23:42] mcoy001 commented on #32988
I'm doing the same tutorial and have the same problem,
I also did some test, I removed all Azure related code and just spawn the sphere to the world and it still purple, it seems like primitive object created by "GameObject.CreatePrimitive"  command has corrupted material/shader in HoloLens build, but works fine in Unity or remote play to HoloLens.
I'm thinking a way to bypass the issue by placing

[2019-07-01 23:47] FrankHu-MSFT commented on #34196
Closing this out as there has been no response in a few days.

[2019-07-01 23:47] #34196 closed

[2019-07-01 23:54] PramodValavala-MSFT commented on #34072
@CastleArg My bad. I had fixated on "stream locally" I guess.

You could also use the `func` CLI to run your functions locally for which the logs are outputted to STDOUT itself with the `host.json` settings as earlier.

The Azure Storage Emulator doesn't support Azure Files, so the built-in file logging won't work locally.

@Z4chst3r Thanks for helping out!

We will now proceed to close this threa

[2019-07-01 23:54] #34072 closed

[2019-07-01 23:58] kasparks commented on #34144
Hi @aquibqureshi26  - thanks for the question! I am following up internally with the team that owns Public IPs and I will get back to you when I have more information.

[2019-07-02 00:13] femsulu commented on #34146
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-07-02 00:13] #34146 closed

[2019-07-02 00:23] Mike-Ubezzi-MSFT commented on #34315
Actually, the database files are mirrored between the local SSDs and the associated storage account (LRS or RA-GRS). The difference between the two is if the region your instance is deployed to was to go off-line, with LRS your entire solution will become unavailable. With RA-GRS, the mirror activity will allow you to access the data in one of the paired regions established during initial set-up.

[2019-07-02 00:24] MicrosoftGuyJFlo commented on #34301
PR Created in our private repo to add word "join"

[2019-07-02 00:29] FrankHu-MSFT commented on #34193
Closing out this issue as this seems to be a duplicate of the SO post here and we've received an answer from our product group :
https://stackoverflow.com/questions/56798300/how-to-add-ipv6-loopback-address-as-redirect-uri-in-azure-for-oauth2/56843915#56843915

Unfortunately as of 7-1, currently Azure Active Directory does not support IPV6 yet.

If you're interested in this feature please post it

[2019-07-02 00:29] #34193 closed

[2019-07-02 00:29] #34301 closed

[2019-07-02 00:32] MicrosoftGuyJFlo commented on #34337
Verification code in the Microsoft Authenticator app
https://docs.microsoft.com/azure/active-directory/authentication/concept-authentication-methods#verification-code-from-mobile-app

or OATH hardware tokens

Both can be used when there is no cell signal.

[2019-07-02 00:48] NateB2 commented on #32922
@BryanTrach-MSFT - We're getting this error when using ARM templates to set up App Services in two separate resource groups that use the same App Service Plan.

Steps:
1. Create an App Service Plan in a resource group.
2. Create an ARM template that deploys an App Service which attaches to a VNET subnet and is linked to the App Service plan created in Step 1.
3. Deploy the ARM template to a second

[2019-07-02 01:04] ileong opened #34350 "Windows Server 2019 support?"
When will MARS agent support Server 2019?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b566a3bb-80d9-151e-cc27-7bc94d48f363
* Version Independent ID: 0f8ca0eb-0153-13b6-5929-0e5996eb418e
* Content: [Support matrix for backup of machines running the Microsoft Azure Recovery Services (MARS) agent with Azure Backup](htt

[2019-07-02 01:11] KranthiPakala-MSFT commented on #34318
@ranjanp We appreciate your feedback. There is a workaround to achieve your requirement using an 'If condition' activity.

_Below is an example_:
Here is the condition used, '_@or(equals(activity('Web1').Status, 'Failed'), equals(activity('WebActivity1').Status, 'Failed'))_'

In this example if either of the web activities fails, then by using above condition in the 'If Condition' activity, we can

[2019-07-02 01:34] dcbrown16 opened #34353 "Premium Files and FCI"
https://azure.microsoft.com/en-us/blog/announcing-the-general-availability-of-azure-premium-files/
Does Azure Premium Files going GA mean that FCI over Files is now supported?

This doc says:
Note that using FCI on top of Azure File storage is not supported yet, because this solution does not utilize Premium Storage. We are working to support this soon.

---
#### Document Details

⚠ *Do not edit t

[2019-07-02 01:48] Mike-Ubezzi-MSFT commented on #34056
@srdan-bozovic-msft The PowerShell `$scriptUrlBase` URL needs to be updated anf the `!Important` notice needs to be pulled or updated as the script now accommodates both. Please let me know what updates you would like made and I can do the pull request.

[2019-07-02 01:55] ryancrawcour opened #34354 "Java function fails to run locally"
I followed all the instructions verbatim right up to the point of trying to run the function locally using curl and then the wheels come off.

Firstly the example curl script shown is wrong, cause it looks like it is trying to call a "hello" method on the api, which if you follow the example on this page you won't have. You'll have a HttpTrigger-Java.

FunctionName("HttpTrigger-Java")

But that as

[2019-07-02 02:00] ryancrawcour opened #34355 "Unable to deploy function"
Continuing on past trying to run the function locally i try deploying the function using -
mvn azure-functions:deploy

And get this output -
[INFO] Scanning for projects...
Downloading from central: https://repo.maven.apache.org/maven2/org/codehaus/mojo/maven-metadata.xml
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/maven/plugins/maven-metadata.xml
Downloaded from cent

[2019-07-02 02:12] IshamMohamed commented on #34276
Thanks - it works

[2019-07-02 02:12] #34276 closed

[2019-07-02 02:13] Mike-Ubezzi-MSFT commented on #34132
@markjbrown I added a Note section to the tutorial but there is an additional request to add partition key details as well. I can perform another/edit current PR to add this detail but want to run this by you first.

[2019-07-02 02:26] nirmaldeol opened #34356 "Please update"
Above code did not work for me

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdc8ea72-24e2-edb6-567d-2e692174273a
* Version Independent ID: 62cb755c-2f8d-bd9f-13e2-3e8dafcbe218
* Content: [Azure API management policy sample - Generate Shared Access Signature](https://docs.microsoft.com/en-us/azure/api-management/polic

[2019-07-02 02:39] DixitArora-MSFT commented on #34354
Hi @ryancrawcour Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-02 02:41] DixitArora-MSFT commented on #34355
Hi @ryancrawcour Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-02 02:44] DixitArora-MSFT commented on #34356
Hi @nirmaldeol Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-02 02:44] yiikou commented on #33899
@swatig007 , it turned out to be azureml version problem. After reintalling all azureml related package, the problem solved. Thank you.

[2019-07-02 02:45] #33899 closed

[2019-07-02 02:45] DixitArora-MSFT commented on #34325
Hi @nadimabdo Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-02 02:47] DixitArora-MSFT commented on #34331
Hi @DKiefer770 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-02 02:48] DixitArora-MSFT commented on #34337
Hi @HarrisburgUSysAdmin Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-02 02:50] DixitArora-MSFT commented on #34343
Hi @imtiazh Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-02 02:51] DixitArora-MSFT commented on #34350
Hi @ileong Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-02 02:53] DixitArora-MSFT commented on #34332
Hi @joselw-ms Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-02 02:59] DixitArora-MSFT commented on #34353
Hi @dcbrown16 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-02 03:25] Dmitresky opened #34357 "What is the purpose of using encryption in the cloud?"
What is the motivation for using encryption in the cloud? If I do not use encryption, in this case, what are the potential risks I have?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86b44bac-c760-a06d-e618-149f275e0d0e
* Version Independent ID: bcaaf53e-87c1-59aa-c51b-d3359ebb9046
* Content: [Encrypt disks on a Windo

[2019-07-02 04:07] Anmolgan81 commented on #34324
The hyperscale feature is not provided in azure managed instance, also the azure dal database hyperscale support max size to 4TB of database not more then that.

Regards
Anmol Ganju

________________________________
From: Mike Ubezzi <notifications@github.com>
Sent: Tuesday, July 2, 2019 2:57:35 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Can We

[2019-07-02 04:08] Anmolgan81 commented on #34324
There has to be some options or kind of plan, can I not apply bi directional replication to both server and managed instance and switch it over to sql server if managed instance fails? What are the perquisites of bi directional replication??

Regards
Anmol Ganju

________________________________
From: Mike Ubezzi <notifications@github.com>
Sent: Tuesday, July 2, 2019 2:57:35 AM
To: MicrosoftDocs/a

[2019-07-02 04:10] KetanChawda-MSFT commented on #33975
@IanMercer I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-02 04:11] KetanChawda-MSFT commented on #34040
@LValla Since there is no doc update required at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-02 04:11] #34040 closed

[2019-07-02 04:11] KetanChawda-MSFT commented on #34220
@GermanEZI Checking in to see if the above post helped answering your question.

[2019-07-02 04:21] DixitArora-MSFT commented on #34282
@salviri Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2019-07-02 04:23] DixitArora-MSFT commented on #34291
@iqsarv Just following up again in case missed the previous communication.Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2019-07-02 04:28] ram-msft commented on #34122
@theonlygusti We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-02 04:28] #34122 closed

[2019-07-02 04:33] jakaruna-MSFT commented on #34105
@DAD713 Is there any update

[2019-07-02 04:53] angoyal-msft commented on #34103
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-02 04:53] #34103 closed

[2019-07-02 04:55] angoyal-msft commented on #34275
@ranjanc I am assigning this issue to the content author to help you with this issue.
@jovanpop-msft Could you please help customer with this issue and update the document appropriately.

[2019-07-02 05:13] aquibqureshi26 commented on #34272
we've to just edit the body of the request and exclude any resources which you do not wanted to include in the resource move. that is solved!

One last question, I normally move hidden resources within the RGs while doing migration. How can i only get the list of all the Hidden resources using PowerShell?

[2019-07-02 05:14] iqsarv commented on #34291
https://docs.microsoft.com/en-us/azure/cosmos-db/table-sdk-dotnet-standard
https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-develop-table-dotnet#install-the-required-nuget-package

[2019-07-02 05:19] DixitArora-MSFT commented on #34254
@rswetnam When we publish, Create App Service dialog box appears. Sign in with you Azure account, if necessary, then the default  settings populate the fields.

[2019-07-02 05:19] vinapp commented on #34225
@Adam-Smith-MSFT, Thanks. Ok, will check on 4 & 5 in other channels.

On (7) it looks like the export template doesn't export the diagnostics settings. May be it is still treated as a classic ?.  Any idea on this ?. Meanwhile I will check in stackoverflow/MSDN.

[2019-07-02 05:31] kman2123 commented on #16683
I'm having the same issue as well. It's just ignoring the FALSE registry key. Tried restarting the NPS service along with the full server. This is a brand new setup so it should have the latest and greatest Azure NPS Extension.

[2019-07-02 05:34] kman2123 opened #34360 "REQUIRE_USER_MATCH in HKLM\SOFTWARE\Microsoft\AzureMfa"
Relating to issue #16683 it appears that the registry key no longer works in the most recent version. Tried rebooting the NPS service and the entire server itself.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf322e2b-b09c-2a09-2b0d-27de43075953
* Version Independent ID: c82153d8-7449-09e7-bd8f-328eb9fd8d74
* Content

[2019-07-02 05:50] ToruMakabe opened #34361 "Is the sample still valid?"
I tried the fluentd sample on this page. The container deployment completed successfully and can get the logs through Azure CLI, but can not see the logs on Azure Monitor logs. It seems only "RestAPI" events were sent to ContainerInstanceLog_CL table, not logs. Is the sample still valid?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-07-02 05:52] ToruMakabe commented on #34361
<img width="597" alt="sc" src="https://user-images.githubusercontent.com/993850/60485720-df9d2e80-9cd8-11e9-9f28-17d97790a395.png">
There are only this type events from the sample container.

[2019-07-02 05:59] angoyal-msft commented on #34175
@Bybinbin Were you able to access this(https://dataexplorer.azure.com/clusters/help/databases/Samples) portal.

[2019-07-02 06:20] msrini-MSFT commented on #34097
@joeakim , Do you have any update on this issue?

[2019-07-02 06:36] Girishvtm commented on #34263
Thanks Frank for the response.

I will uninstall AzureAD Preview. We cannot create dynamic groups in Azure using powershell, am I right?

[2019-07-02 06:36] digeler opened #34363 "kubectl autoscale deployment nginx --cpu-percent=50 --min=3 --max=10 --horizontal-pod-autoscaler-upscale-delay 240 getting unknown flag"
when using hpa with : kubectl autoscale deployment nginx --cpu-percent=50 --min=3 --max=10 --horizontal-pod-autoscaler-upscale-delay 240
getting :unknown flag: --horizontal-pod-autoscaler-upscale-delay

is this supported feature or not , if not remove it from the doc please
let me know.

---
#### Детаљи документа

⚠ *Не уређујте ову секцију. Она је неопходна за повезивање проблема слиједом docs.mi

[2019-07-02 06:39] vinapp commented on #26721
Is there sample arm template for enabling storage (V2) diagnostics settings ?.

[2019-07-02 06:48] Bybinbin commented on #34175
Yes,I can access this(https://dataexplorer.azure.com/clusters/help/databases/Samples) portal  successfully

[2019-07-02 06:56] angoyal-msft commented on #34175
@Bybinbin I hope your concern has been resolved.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-02 07:00] aasis21 commented on #33842
Sorry for late reply. The documentation states that "Click through Rate (CTR): ratio of users who click on a specific document to the number of total searches " and When to use the power BI desktop to see the CTR by scoring profile. So, It does some averaging and stuff, also the CTR goes above 100. Basically I didn't get the definition given in documentation and how the CTR is calculated in PowerB

[2019-07-02 07:00] #34175 closed

[2019-07-02 07:01] Bybinbin commented on #34175
My  question is   "In this article, the query commands is executed in azure data explorer portal (https://dataexplorer.azure.com/clusters/help/databases/Samples), and the portal has a Samples database , so i want to know whether has the similar database can be used in azure data explorer portal under azure china environment ." your answer i think  don't suitable for this question.

[2019-07-02 07:04] angoyal-msft commented on #34175
@Bybinbin Yes you can use same portal for azure china environment as well. Hope this is what you needed. Please let us know if you are looking for some other information.

[2019-07-02 07:06] Bybinbin commented on #34175
ok,thanks!

[2019-07-02 07:39] monhaber commented on #33748
Hi - I will forward this question to the project manager and get back to you.

[2019-07-02 07:52] cult-x opened #34364 "Doubtful section "DNS configuration""
Sections DNS configuration seems to mix up dns entries. By following this section you will endup in a entry like &lt;AppName&gt;.&lt;ASE name&gt;.scm.appserviceenvironment.net but should be &lt;AppName&gt;.scm.&lt;ASE name&gt;.appserviceenvironment.net like mentioned in section "Publish with an ILB ASE".
Therefore the actions to configure dns would be more like:
* create a zone for &lt;ASE name&gt

[2019-07-02 07:54] cult-x commented on #34364
Sorry, wrong copy/pase.

* create a zone for <ASE name>.appserviceenvironment.net
* create an A record in that zone that points * to the ILB IP address
* create a zone for scm.<ASE name>.appserviceenvironment.net
* create an A record in the scm zone that points * to the ILB IP address

[2019-07-02 07:54] SeanFeldman commented on #33806
This is a good description of what's happening. While I personally feel that there's something lacking and hence this issue, don't have too strong of an opposition. Especially if this stance is mentioned. Thanks.

[2019-07-02 08:04] femsulu commented on #34130
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-07-02 08:04] #34130 closed

[2019-07-02 08:05] benhatton-unsw-edu-au opened #34365 "Can this work with Managed Identities?"
Is it possible to configure AzureAD authentication using the Managed Identity of the web app (https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity) or is this an unsupported scenario at the moment?  Can we clarify on this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f1c454d-73bc-5a73-5d

[2019-07-02 08:08] dcurwin commented on #15134
@GeethalakshmiG wrote that "This needs no doc update but bug to be raised". @Adam-Smith-MSFT  - please close the issue.

[2019-07-02 08:10] dcurwin commented on #15610
@jason-j-MSFT  @micah Please assign this to me.

[2019-07-02 08:11] chi-ltd commented on #34294
Not to worry ive resolved it.  i was typing in wrong variables.

[2019-07-02 08:11] #34294 closed

[2019-07-02 08:18] SnehaAgrawal-MSFT commented on #34364
@cult-x  Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-02 08:20] SnehaAgrawal-MSFT commented on #34365
@benhatton-unsw-edu-au Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-02 08:40] angoyal-msft commented on #29121
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-02 08:40] #29121 closed

[2019-07-02 08:41] DixitArora-MSFT commented on #34363
Hi @digeler Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-02 08:42] angoyal-msft commented on #27831
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-02 08:42] #27831 closed

[2019-07-02 08:43] DixitArora-MSFT commented on #34361
Hi @ToruMakabe Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-02 08:48] SamuelMCQ opened #34366 "ValueError: ZIP does not support timestamps before 1980"
When I run the command
run = exp.submit(est)
I get the error
ValueError: ZIP does not support timestamps before 1980

My Azure Notebook occasionally displays the last modified date for some files/folders as 50 years ago.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5b90fbd-19a9-4fe7-032b-765457549f30
* Version Indep

[2019-07-02 08:49] matteopessina opened #34367 "UserJourney id mismatch"
In subsection "Policy Execution" there is a mismatch between &lt;DefaultUserJourney ReferenceId="SignUpOrSignIn"&gt;and the one defined below &lt;UserJourney Id="SignOrSignIn"&gt;. Should the one below be "SignUpOrSignIn" instead of "SignOrSignIn"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 578ef1cc-087a-8f03-ec33-

[2019-07-02 08:49] SadiqhAhmed-MSFT commented on #34343
@tfitzmac FYI.

[2019-07-02 08:53] angoyal-msft commented on #30621
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-02 08:53] #30621 closed

[2019-07-02 08:56] OliverNET commented on #33934
Hi @sergaz-msft would it be possible to use the configuration explained here?
https://docs.docker.com/network/proxy/#configure-the-docker-client

Looks like docker supports to set proxy-server for all containers on a host (or for that user) in central config file. However, i don't get it working with IoT Edge.

Defining the proxy in a host configuration file would be a great feature because the Io

[2019-07-02 09:04] femsulu commented on #34016
@Rajeswari-Mamilla any input pleasae?

[2019-07-02 09:09] sergaz-msft commented on #34308
Thanks for your questions @kd2eom @njbuch as of today Buster is not officially supported on any tiers. Please add your feature request on [iot edge feedback channel.](https://feedback.azure.com/forums/907045-azure-iot-edge)

[2019-07-02 09:09] sergaz-msft commented on #34308
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-02 09:09] #34308 closed

[2019-07-02 09:10] femsulu commented on #34018
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-07-02 09:10] #34018 closed

[2019-07-02 09:15] SadiqhAhmed-MSFT commented on #34350
@ileong Windows Server 2019 64 bit | Standard, Datacenter, Essentials | With the latest service packs/updates are supported. Reference - https://docs.microsoft.com/en-us/azure/backup/backup-azure-backup-faq#what-operating-systems-are-supported-for-backup

We will update this document - https://docs.microsoft.com/en-us/azure/backup/backup-support-matrix-mars-agent with the same. We will close this

[2019-07-02 09:15] #34350 closed

[2019-07-02 09:34] Rachana6 commented on #12706
There was no official documentation yet for managing users in azure b2c via microsoft graph api,
What is the progress of MS Graph now?
Particularly on Manage users in a B2C tenant (set local accounts, sign in names)?

[2019-07-02 09:42] shashishailaj commented on #33968
@HarrisburgUSysAdmin @andreaslarssonliu @a-micons I checked this and at this point the user exclusions has been removed and not available in the UI . As this is a preview feature , this is subject to change as per testing on Product group side and the final GA version of baseline policy may be different than what is provided in preview. Having said that , I agree that user exclusion in baseline po

[2019-07-02 09:43] KalyanChanumolu-MSFT commented on #34291
@iqsarv Please use [Microsoft.Azure.CosmosDB.Table ](https://www.nuget.org/packages/Microsoft.Azure.CosmosDB.Table) Nuget package for .NetFramework
The documentation is [here](https://docs.microsoft.com/en-us/azure/cosmos-db/table-sdk-dotnet)

The one that you are referring to targets .Net Standard

Do let us know if you have further questions.

[2019-07-02 09:47] PramodValavala-MSFT commented on #34110
@strakh-alex When I've tried upgrading a v1 function app to v2, the function keys were actually regenerated (which I assume is what you mean).

This is a side affect of the change in how keys are persisted between v1 & v2 as [documented here](https://github.com/Azure/azure-functions-host/wiki/Changes-to-Key-Management-in-Functions-V2).

So, to get your functions to use the old keys, you will have

[2019-07-02 09:51] femsulu commented on #34054
@LawrenceLLo AFAIK, azure CLI currently doesn't support the above scenario. If this is something you would like to see supported, kindly share the feedback directly with the feature owner using [this link](https://feedback.azure.com/forums/913690-azure-monitor).

[2019-07-02 09:51] #34054 closed

[2019-07-02 09:53] femsulu commented on #34085
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-07-02 09:53] #34085 closed

[2019-07-02 09:54] femsulu commented on #34141
@sujayt, any input please?

[2019-07-02 09:59] PramodValavala-MSFT commented on #34344
@larryeby There are a few differences in how simple timer triggered and eternal orchestrators work. One of them is when/how they are triggered which is mentioned in the doc

And the other one is the ability to stop an eternal orchestrator programmatically at the end of the doc.

Also, depending on your use case, the schedule can be dynamic based on a logic or a value stored on an external store fo

[2019-07-02 10:02] PramodValavala-MSFT commented on #34253
@MatthewSteeples The same property exists for [Topics](https://docs.microsoft.com/en-us/rest/api/servicebus/topics/createorupdate) and [Queues](https://docs.microsoft.com/en-us/rest/api/servicebus/queues/createorupdate) as well and by default persist forever.

I hope that clears things up.

We are assigning this issue to the content author for further review and to update the doc accordingly.

[2019-07-02 10:04] RohitMungi-MSFT commented on #34366
@SamuelMCQ Could you please let us know the Azure documentation link that you used before encountering this error? This will help us to address the issue with the right team.

[2019-07-02 10:12] shashishailaj commented on #33977
@anlucen We will now close this issue as there is no pending action on this. In case you are still facing this issue, please feel free to tag content author @msmimart or me to your reply and we will be happy to help you.

[2019-07-02 10:12] #33977 closed

[2019-07-02 10:28] SamuelMCQ commented on #34366
This is attempting to train a simple image recognition model using Tensorflow.
https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-train-tensorflow

[2019-07-02 10:36] iqsarv commented on #34291
Thanks! but the doc says this is being deprecated, how can I start using Microsoft.Azure.Cosmos.Table

[2019-07-02 10:36] homerwong2 opened #34368 "Github link points to Java not Dotnet"
You can examine the code in this &lt;GitHub sample folder&gt;.

link should be:

https://github.com/Azure/azure-service-bus/tree/master/samples/DotNet/Microsoft.Azure.ServiceBus/TopicFilters

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47fbe533-9b56-de1e-0bf0-b5acc091541b
* Version Independent ID: 146c649d-e037-b3f0-

[2019-07-02 10:39] magicheron commented on #29187
@lesley-w @Adam-Smith-MSFT @ysnikitin I've creaded a simple and unofficial sdk for this (I'm working on it)
https://github.com/magicheron/AzureDataLakeGen2-SDK

[2019-07-02 10:42] Rajeswari-Mamilla commented on #34016
@rafalfitt thank you for bringing this to our notice. Yes, strong cryptography should be enabled as per guidelines indicated in https://support.microsoft.com/en-us/help/4033999/how-to-resolve-azure-site-recovery-agent-issues-after-disabling-tls-1
I will update document accordingly.
#please-close

[2019-07-02 10:42] #34016 closed

[2019-07-02 10:48] shashishailaj commented on #34167
@ngie-eign While we understand your concern of layout and design of the page and agree that we can do better than the current UI , we do not think the security is any way compromised . The first thing to check the security and authenticity of a webpage is to check the https connection authenticity and see if the certificate is valid or not . And if the certificate is valid and appears to be assign

[2019-07-02 10:51] shashishailaj commented on #33993
@igorvt77 We are engaging the content team for the document enhancement request.

@MicrosoftGuyJFlo Could you please help get this document updated ?

[2019-07-02 10:52] sergaz-msft commented on #29173
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-02 10:52] #29173 closed

[2019-07-02 10:54] jlpedrosa commented on #10953
The documentation  page is somewhere buried there for ABFS. ABFS has been only released in 3.2 AFAIK. But nothing is linking there, so it's not visible. I found it by grepping in the distribution.
https://hadoop.apache.org/docs/r3.2.0/hadoop-azure/abfs.html
There's barely no content. :( maybe with the how to test in that branch we can pull something.

[2019-07-02 11:01] shashishailaj commented on #33040
@Buckits Thank you for confirmation and we are glad that it is working . We will close this issue as of now. should you face this issue again , feel free to open a new issue.

Thank you.

[2019-07-02 11:01] #33040 closed

[2019-07-02 11:29] mcurko opened #34373 "Windows example?"
Please provide an example for Windows based scale set too. I tried with the following:
[code]
but it results in an error:

New-AzResourceGroupDeployment : 13:23:07 - Resource Microsoft.Compute/virtualMachineScaleSets 'myss' failed with message '
[code]

It's not obvious what should be done to make it work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-07-02 11:43] DixitArora-MSFT commented on #34357
Hi @Dmitresky Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-02 11:45] DixitArora-MSFT commented on #34360
Hi @kman2123 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-02 11:45] DixitArora-MSFT commented on #34367
Hi @matteopessina Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-02 11:47] DixitArora-MSFT commented on #34368
Hi @homerwong2 Thank you for your feedback! We will review and provide an update as appropriate.

Also Thanks @Potapy4 for raising PR.

[2019-07-02 11:51] jnprakash opened #34374 "Azure AD Single Sign on - Missing"
On the enterprise app with in Azure AD, under manage, the "single sing on" option is no longer available. Has this been removed? What is the new way to configure SAML for service provider initiated scenario?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e46e65de-9443-80e9-954a-f82f87a8fa1e
* Version Independent ID: 5e

[2019-07-02 11:54] AmirGeorge commented on #34098
@ignacioPastor I took a look at your app and there seems to be nothing corrupt with its state. Can you share your gzip package in this thread? If you have concerns about sharing it here, we can discuss sharing it privately.

[2019-07-02 12:03] aelij opened #34375 "Accept terms via CLI"
The current instructions for accepting the VM base image usage terms did not work for us.
Using the CLI is simpler and just works, so please add it as a step instead of the portal workaround:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2289383-6ce2-a036-c710-7d1fad6e1700
* Version Independent ID: 3b902941-08

[2019-07-02 12:05] IhnoL opened #34376 "No samples in Body-Tracking-SDK"
The samples referenced in this article seem to be missing in the body-tracking-sdk installation (e.g. examples/src/simple_3d_viewer). Will the corresponding github repo be available for public soon?

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 4bc17e25-bf20-2146-dfd8-7abdb6a9d986
* Ve

[2019-07-02 12:06] jwisener commented on #33084
@itechedit Where is this specified in the documentation? coming from .net core with strongly typed setting classes, this has proven time consuming as we now have to have different type settings for our azure functions.

[2019-07-02 12:06] MedAnd opened #34377 "Please add EventId details for Code Packages --> Code --> Restart event"
Please add to the documentation EventId details for Code Packages --> Code --> Restart event as exposed by Service Fabric explorer.

![image](https://user-images.githubusercontent.com/13365135/60511624-ca92c080-9d15-11e9-9010-da57ad83c0b0.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 396b832d-c637-2501-9abb-491d1